[2018-08-07 01:54] #11760 closed

[2018-08-07 05:36] ksun91 commented on #11755
So, I managed to fix the issue. The actions I took were setting Spyder IDE to default factory settings, clearing out some of my remains in my laptop (sklearn and a few other Python modules were part of these remains), and restarting my computer. Yesterday, I was also trying to reinstall/update some of the modules that I were using (such as sklearn and keras). Not sure which one of these actions ac

[2018-08-07 05:36] #11755 closed

[2018-08-07 09:34] agamemnonc commented on #11743
Agreed, but that's why I made the connection between zero_one_loss and accuracy_score in my first post. I mean, if we were to follow the same logic, then we wouldn't need accuracy_score since we already have zero_one_loss?

Anyway, please feel free to close the issue if you think this is not needed. (Although it might be worth opening a new one for fixing hamming_loss)

[2018-08-07 10:33] manishprasadthapliyal opened #11768 "Combining Trained Classifiers to predict"
I have trained multiple SVM models on different batches of same data. I want to combine these Trained SVM models. Is there a way to combine these already trained model together to predict test data

[2018-08-07 11:19] drasros opened #11769 "saving a KernelDensity estimator"
Hi!

I noticed that after saving a `sklearn.neighbors.KernelDensity()` using `joblib.dump`, restauring it using `joblib.load` does not result in a usable estimator. I notice that before reload, the estimator's `.tree_` is a `sklearn.neighbors.kd_tree.KDTree` whereas after it is a `sklearn.neighbors.kd_tree.BinaryTree`... is this normal behaviour ? Or am I doing something wrong ?

Many thanks,

A

[2018-08-07 11:54] #4558 closed

[2018-08-07 11:56] qinhanmin2014 commented on #11768
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).
Related PR: #11047 #8960

[2018-08-07 11:56] #11768 closed

[2018-08-07 14:16] erotavlas commented on #11736
Hello,
I installed everything including pytest.  But where do I run this command?  I tried the following

D:\>pytest -v sklearn
============================= test session starts =============================
platform win32 -- Python 3.6.1, pytest-3.7.1, py-1.5.4, pluggy-0.7.1 -- d:\python36\python.exe
cachedir: .pytest_cache
rootdir: D:\, inifile:

======================== no tests ran in 0.04 sec

[2018-08-07 15:12] NicolasHug commented on #11769
Just FYI your code works on the current stable version (0.19.2), it looks like you're using the master branch (where those issues might be fixed soon)

[2018-08-07 15:17] kylelix7 commented on #10545
same problem here.
n_jobs=1 is ok. n_jobs=2+ results in crash

python 3.6.1
macOS 10.13.5
8 G Memory
4 cores

[2018-08-07 15:25] ggrrll opened #11770 "doc suggestion for GaussianProcessRegressor -- alpha --"
Hi,

given that you refer to _Algorithm 2.1 of Gaussian Processes for Machine Learning (GPML) by Rasmussen and Williams_ [in the doc](http://scikit-learn.org/stable/modules/generated/sklearn.gaussian_process.GaussianProcessRegressor.html#sklearn.gaussian_process.GaussianProcessRegressor.score),  I was wondering if it wouldn't be more clear to call `alpha` --> `sigma` instead  (if I understood corr

[2018-08-07 15:36] qinhanmin2014 commented on #11769
Thanks @drasros for reporting the regression before the release.

[2018-08-07 15:42] qinhanmin2014 opened #11771 "Some TODOs for joblib 0.12.2"
We introduce joblib 0.12.2 in https://github.com/scikit-learn/scikit-learn/pull/11741, but there're still some TODOs (open an issue for further discussion)
(1) Circle CI is failing
[code]
(2) We get many extra warnings in the examples
e.g., ``UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = None.``
(3) In the doc, we still have things like ``n_

[2018-08-07 15:45] drasros commented on #11769
thanks @NicolasHug , indeed I was using master...

[2018-08-07 15:47] xhlulu opened #11772 "Inconsistent documentation for C parameter in SVM estimators"
#### Description

The current description of the parameter C for `sklearn.svm.LinearSVR` is given as:

which is more verbose than the description given for `sklearn.svm.{SVR, SVC, LinearSVC}`:

Would it be time to update the other estimators so that they match this more verbose description?

#### Links
[Link to LinearSVR](http://scikit-learn.org/stable/modules/generated/sklearn.svm.LinearSVR.html#

[2018-08-07 15:48] NicolasHug commented on #11769
I'll try to investigate what's going on

[2018-08-07 15:49] ggrrll commented on #8630
@datafool  you might wanna update the (broken) links with these ones, I guess:

http://scikit-learn.org/stable/auto_examples/gaussian_process/plot_gpr_co2.html#sphx-glr-auto-examples-gaussian-process-plot-gpr-co2-py

and (maybe)

http://scikit-learn.org/stable/auto_examples/gaussian_process/plot_gpr_noisy.html#sphx-glr-auto-examples-gaussian-process-plot-gpr-noisy-py

[2018-08-07 16:11] abhishekreddyc opened #11773 "Python 3.7 - Issues Installing Scikit Learn"
Hi

I am currently encountering below issues when trying to install any version of Scikit Learn (0.19.0 or 0.19.1 or 0.19.2) for Python 3.7 or 2.7 on Linux - RHEL / Centos 7 OS.

Few months back I could successfully install scikit-learn under python 2.7 without issues. When I re-run the installation of scikit-learn package under python 2.7 its failing with the same below error.

I have installed a

[2018-08-07 18:59] sam-s commented on #5523
All my transformers return `DataFrame`s when given `DataFrame`s.
When I input a 300-column `DataFrame` into a `Pipeline` and receive a 500-column `ndarray`, I cannot effectively learn much from it, by, e.g., `feature_selection`, because I do not have the column names anymore. If, say, `mutual_info_classif` tells me that only columns 30 and 75 are important, I cannot figure out how to simplify my o

[2018-08-07 19:35] jeyendranbalakrishnan commented on #10533
Any update about this upcoming release? Thanks!

[2018-08-07 19:41] lbugnon opened #11776 "sklearn.neighbors.RadiusNeighborsClassifier needs predict_proba()"
How it is possible that sklearn.neighbors.KNeighborsClassifier has predict_proba() but sklearn.neighbors.RadiusNeighborsClassifier  doesn't? Please add it

[2018-08-07 20:32] gwerbin commented on #10767
Some change along these lines is actually necessary for using e.g. `BernoulliNB` inside a cross-validation loop with a multiclass problem that requires `predict_proba`. You can get unavoidable errors due to the fact that `y_true` and `y_pred` might have different number of classes between folds.

[2018-08-07 20:48] gwerbin opened #11777 "Unavoidable "y_true and y_pred contain different number of classes" error inside a CV loop"
#### Description
During cross-validation on a multi-class problem, it's technically possible to have classes present in the test data that don't appear in the training data.

#### Steps/Code to Reproduce

[code]

#### Expected Results

Either:
1. Predicted classes from `predict_proba` are aligned with classes in the full training data, not just the in-fold subset.
2. Classes not in the training da

[2018-08-07 20:51] espg commented on #11677
@adrinjalali can you please compare the reachability plot from R with the output from this implementation of OPTICS? I'm 95% sure that the issue is in the `auto_extract` function, but it would be good to be positive, and I'm not really familiar with R. If the bug is in `auto_extract`, the calculated and ordered reachability distances should be identical to within machine precision from the two imp

[2018-08-07 21:09] NicolasHug commented on #11777
What about `scoring=make_scorer(log_loss, needs_proba=True, labels=y)`?

[2018-08-07 21:32] jeremiedbb commented on #11736
This means pytest worked fine. All tests have been run. However, 1 test failed.

[2018-08-07 21:33] robbymeals opened #11778 "Consensus Index for Clustering Evaluation"
The sentence:
[code]
is in the description of every clustering metric that requires a ground truth label. Is there a write-up somewhere of an example workflow to build such a Consensus Index using these metrics? I searched through old issues and the original PRs creating this documentation and I can't see anything that looks like that. Though to be fair, I'm a big dummy, so I could just be missing

[2018-08-07 21:33] hiraksarkar commented on #7485
@amueller Since I did the same mistake, I think it would be great if we can change the documentation here where http://scikit-learn.org/stable/modules/model_evaluation.html the line to `roc_auc` directly corresponds to `roc_auc_score`.

[2018-08-07 21:36] robbymeals commented on #11778
I'm assuming this just refers to consensus clustering, as in https://en.wikipedia.org/wiki/Consensus_clustering?

[2018-08-07 21:40] gwerbin commented on #11777
@NicolasHug that only fixes the problem half-way.

[code]

[2018-08-07 21:56] NicolasHug commented on #11777
The warning I'm getting is:

`sklearn/model_selection/_split.py:605: Warning: The least populated class in y has only 3 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4`

which makes sense. You cannot have a stratified CV if the number of folds is greater than the number of instances from a given class: that would mean one or more of the folds wo

[2018-08-07 21:58] gwerbin commented on #11777
@NicolasHug did you run the 2nd example? It should throw an error.

[code]

[2018-08-07 22:29] NicolasHug commented on #11777
Sorry I didn't double check the 2nd one, I get the same error indeed. I'm not exactly sure how this could be elegantly fixed :/

[2018-08-07 22:35] jnothman commented on #11776
#9597 fixes this. It is waiting on a second review.

But in asking how is it possible, you disregard the complexity of handling the case where 0 neighbours are in radius, and other issues relating to different numbers of neighbours.

[2018-08-07 22:41] gwerbin commented on #11777
This is also an issue for binarized multi-class problems as well, so it's worth coming up with even *some* kind of solution.

One very general fix would allow `.fit` methods of classifiers generally to accept a `labels=` argument, like many loss functions (e.g. `log_loss`) already do. Then the estimator class can handle the index bookkeeping and correctly align the output.

As for what to do with

[2018-08-07 23:30] jnothman commented on #11771
I think we need to remove all uses of cachedir...

[2018-08-08 02:50] Priyansh2 opened #11779 "Not able to import sklearn"
Not able to import sklearn. The first time when I import sklearn it shows me following :-
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/sklearn/__init__.py", line 134, in <module>
    from .base import clone
  File "/usr/local/lib/python2.7/dist-packages/sklearn/base.py", line 13, in <module>
    from .utils.fixes import si

[2018-08-08 04:44] jnothman commented on #11779
This is a usage question not a development issue. It does not belong here.

I suspect you have a file named tokenize.py in your working directory. It is shadowing a standard library module

[2018-08-08 04:44] #11779 closed

[2018-08-08 07:05] jnothman commented on #11777
See #6231, #8100, #9585. It's a problem whose solution we are stalled on.... :(

[2018-08-08 09:37] John-Almardeny commented on #9144
What I ended up doing is providing the `labels` explicitly like this:
[code]
Then use it like this:
[code]

[2018-08-08 09:48] ggrrll opened #11781 "Discrepancy on Manua Loa CO2 concentration example"
Hi,

by running the 1st part [of this notebook](http://scikit-learn.org/stable/auto_examples/gaussian_process/plot_gpr_co2.html), I found a discrepancy with the GPML book.

They claim (see 1st screenshot) that  with those parameters they get a much better LML than the one reported (that I also get - see 2nd one))

Any idea of what's going on ? (it might be a typo in the book?)

<img width="799" al

[2018-08-08 10:14] eserie commented on #8043
Could we consider to introduce a new function "partial_cross_val_predict" that returns (test_indices, predictions) and skip the _check_is_permutation and the reordering with inv_test_indices?
We could then refactor cross_val_predict by calling this new function and do the check and reordering.
I tested that for backtesting with TimeSeriesSplit and it seems to me quite satisfactory.

[2018-08-08 10:18] ggrrll commented on #11781
btw, I think there is something wrong with the sklearn implementation of:

- θ10 = 1.6 months (as in the book) //  length_scale=0.134 (sklearn)
- θ5 = 1.3 --> I think it should be actually `periodicity` and not `length_scale=1.3`

[2018-08-08 12:10] suman444 commented on #9610
what is the meaning of this code
grid_svm = GridSearchCV(pipeline_svm,
                        param_grid = {'svc__C': [0.01, 0.1, 1]},
                        cv = kfolds,
                        scoring="roc_auc",
                        verbose=1,
                        n_jobs=-1)

[2018-08-08 15:56] adrinjalali commented on #11677
@espg unfortunately it doesn't seem to be the case. They're pretty different.

Here's the `R` code I used to create the data and get the reachability:

[code]

And here's the `python` code to apply `OPTICS` on the same data:

[code]

Putting the two generated files together, here's what you'd see.

row | R | python
-- | -- | --
1 | Inf | inf
2 | 0.083014827800775 | 4.00551817034885
3 | 0.073131402

[2018-08-08 16:11] abhishekreddyc commented on #11773
Hi

Can anyone here on this community help me on this issues ?

Thanks,
Abhishek

[2018-08-08 17:47] espg commented on #11677
This is interesting, especially given that the R version is finding multiple instances of `inf` reachability past the first point. I'm still unclear on the R code that you posted-- I see you set and eps threshold (0.17), but I don't see you define minPts anywhere. What is R using or defaulting to-- it looks like maybe two points per cluster? Also, there is not max_bound set on our implementation o

[2018-08-08 17:57] JoeTheShmoe commented on #5115
Would it be possible for n_jobs != 1 to throw an error (or a warning at least) in the environments it's going to hang in?  I just encountered this problem in jupyter notebooks, and if I was a more beginner user (like the rest of my class), I would have never figured out why gridsearchcv kept hanging, in fact, our teacher even advised us to use n_jobs = -1.  If the problem here is known, could the

[2018-08-08 18:29] spott commented on #5115
I don't think that anyone knows what environment this is going to hang in... I don't believe that anyone has managed to reproduce this bug in a reliable way.

[2018-08-08 21:47] gwerbin commented on #11777
Here's a proof-of-concept for label alignment in `BernoulliNB`: https://gist.github.com/gwerbin/8a8f777db6775c7d0c3e585c39c550f8 (including a variation of the 2nd example I posted above).

You can see that the logic for actually manipulating the output labels is almost totally agnostic of the nature of the classifier. You could probably have each `predict_*` method call some kind of generic `_alig

[2018-08-08 21:48] adrinjalali commented on #11677
Trying to come up with a smaller example, here's the `R` code (it also includes installing the required package, you can just run it if you're curious)

[code]

And the attributes of the object are now:

[code]

The resulting matrix would be:

  | order | reachdist | coredist | predecessor | cluster
-- | -- | -- | -- | -- | --
1 | 1 | Inf | 0.333208651272379 | NA | 1
2 | 13 | 0.292663608330619 | 0

[2018-08-08 23:47] jnothman commented on #11781
please ping after we release 0.20

[2018-08-08 23:57] jnothman commented on #11773
This is really not the right place to ask. Try our mailing list, or stack overflow

[2018-08-08 23:57] #11773 closed

[2018-08-09 00:00] jnothman commented on #5115
but we are working towards improving our multiprocessing infrastructure.
it's unclear to me whether that will solve all such issues.

[2018-08-09 00:00] espg commented on #11677
Huh, interesting. The core distances all agree. My initial impression is that the R version is wrong here. The starting point has coordinates (−0.0896914546625, 1.76889309154), and the algorithm should jump to the next closest neighbor... R version goes to point 15, with coordinates (0.178222896030858, 0.028963671017735), and a distance of 1.76044. Sklearn version goes to point 13, with coordinate

[2018-08-09 00:26] jnothman commented on #11677
Worth comparing to Weka/ELKI?​

I really should think about how we can better facilitate cross-language
comparisons for new implementations.

[2018-08-09 01:29] #11769 closed

[2018-08-09 05:44] #6564 closed

[2018-08-09 05:44] #10989 closed

[2018-08-09 08:26] jnothman commented on #11677
thanks! but that's not with the same 100 instances is it? it says 15

[2018-08-09 08:50] adrinjalali commented on #11677
The latest example I used for R and Python in the results I put here were also with the same 15 points. I guess it shows the difference. I was trying to make the example as small as I can.

[2018-08-09 09:54] ggrrll commented on #7563
Hi,

thanks for the discussion.

I have also a similar warning, and I am trying to understand the behaviour w.r.t the hyper-parametres
`'task': b'ABNORMAL_TERMINATION_IN_LNSRCH', 'funcalls': 42, 'nit': 1, 'warnflag': 2 `

In particular, it seems that I get such warning when I increase `n_restarts_optimizer`...actually,
do you have any tip about how to use it? (maybe @jmetzen ?)

Should be for inst

[2018-08-09 13:11] muellermarkus opened #11784 "Label Spreading: knn Kernel Variant differs from Reference Paper"
According to [label_propagation.py#L487](semi_supervised/label_propagation.py#L487), the reference paper for the Label Spreading implementation is [Zhou et al.: Learning with local and global consistency (2004)](http://citeseer.ist.psu.edu/viewdoc/summary?doi=10.1.1.115.3219).

But there are two things not in line with the paper when using the *knn* kernel variant for Label Spreading:

#### (A) Se

[2018-08-09 13:12] zodoctor commented on #7563
I chose 500 somewhat randomly. I just wanted the optimizer not to get stuck
in local minima.

On Thu, Aug 9, 2018, 4:56 AM Gianr Lazz <notifications@github.com> wrote:

[2018-08-09 14:19] jnothman commented on #11784
These sound reasonable... I think we need to work out whether they justify
a backwards-incompatible change, or whether we should use some parameter
setting or similar to phase it in.

Ping @musically-ut

[2018-08-09 14:36] musically-ut commented on #11784
This would be a step in the right direction, but some of the core problems with kNN kernel will still remain (See #8008).  Also, the reference papers _start_ with connectivity matrices and do not describe how to construct them per-se; using kNNs to make them spase them is something they I have not seen being actively recommended at many places, [with a notable exception](
http://ieeexplore.ieee.or

[2018-08-09 14:45] nocibambi opened #11785 "DeprecationWarning when importing IsolationForest"
#### Description
DeprecationWarning when importing IsolationForest.

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error.

#### Actual Results

#### Versions
Linux-4.15.0-29-generic-x86_64-with-debian-buster-sid
Python 3.6.6 |Anaconda custom (64-bit)| (default, Jun 28 2018, 17:14:51)
[GCC 7.2.0]
NumPy 1.15.0
SciPy 1.1.0
Scikit-Learn 0.19.2

[2018-08-09 14:56] muellermarkus commented on #11784
Just to add on that - [Bengio et al.: In Semi-Supervised Learning (2006)](
https://www.researchgate.net/publication/238675708_Label_Propagation_and_Quadratic_Criterio), one of the current reference papers, explicitly mentions a k-nearest neighbor matrix a couple of times. Though, in one of the next sentences in the introduction, they assume W_ij to be given by a symmetric positive function. If I u

[2018-08-09 15:03] zerongxi commented on #8583
@jnothman I am not sure what data arise this issue exactly. So it's impossible for me to test...

[2018-08-09 16:10] spott commented on #5115
@jnothman 👍

That is great to hear!

[2018-08-09 17:03] imatiach-msft opened #11786 "KMeans densifies the centroids even if the original input was a sparse matrix and the centroids have mostly zeros in the features"
#### Description

KMeans currently densifies the centroids even if the original input matrix was sparse.  It seems it should instead keep the format of the original input dataset.
Now, whether you should be running kmeans on high dimensional sparse data is another question - usually you should try to avoid it; due to curse of dimensionality the clusters may not be meaningful and it's usually bette

[2018-08-09 22:30] #11785 closed

[2018-08-09 22:30] jnothman commented on #11785
I'm pretty sure this is fixed in master

[2018-08-09 22:44] adrian-haenni opened #11790 "OneClassSVM decision_function returns array of wrong shape according to docs"
#### Description

A minor issue, when performing the decision function on an OneClassSVM the results is returned in a array of shape (n_samples, 1), but according to specs it should return a flatten array:

X : array-like, shape (n_samples,)
            Returns the decision function of the samples.

#### Steps/Code to Reproduce

[code]

#### Expected Results

[-0.00954955, -0.23478463, -0.02773582

[2018-08-09 23:16] jnothman commented on #11790
We would welcome a PR correcting the documentation

[2018-08-10 01:09] dfee opened #11792 "warnings.filterwarnings -- please don't do this. it's bad behavior."
[code]
via [__init__.py](https://github.com/scikit-learn/scikit-learn/blob/b21f9b4f98e6997bd0bc6ec5e89df74989b5ece2/sklearn/__init__.py#L28)

This is really quite bad behavior. If you feel like you really must do this, please use [`append=True`](https://docs.python.org/3/library/warnings.html#warnings.filterwarnings)

[2018-08-10 02:00] danielvrgas commented on #7346
Hi, i read al de comments, but I'm not sure if someone could solve the problem.

I'm actually ussing 0.19.2 sklearn version, this is part of my code:

`LIST_RANDOMFOREST=testX.Tienda.unique()

    with concurrent.futures.ThreadPoolExecutor(max_workers=2) as executor:
        futures = {executor.submit(randomfores_function,tienda,df,testX,train,maximo_v,minimo_v,maximo_oh,minimo_oh,precio_de_venta,

[2018-08-10 07:55] rth commented on #11792
Could you please elaborate in what way this is a problem for your application? From the comments, it sound  like it should  only affect `DeprecationWarnings` within scikit-learn.

[2018-08-10 07:56] kasuteru commented on #6454
@twistedcubic , any updates?

[2018-08-10 08:41] albertcthomas commented on #11790
I think it returns an array of shape (n_samples,) in master and I also think that this is tested in the outlier detection common tests.

[2018-08-10 09:02] arm2arm opened #11793 "Error on method_parameters with TSNE from sklearn with mahalanobis metric"
#### Description

With TSNE from sklearn v0.19.2 python 3.6  with mahalanobis metric I am getting following error
ValueError: Must provide either V or VI for Mahalanobis distance
How to provide an **method_parameters** for the Mahalanobis distance?

#### Steps/Code to Reproduce
from sklearn.manifold import TSNE
tsne = TSNE( verbose=1, perplexity=40, n_iter=250,learning_rate=50, random_state=0,metr

[2018-08-10 10:25] albertcthomas commented on #11790
I have just tried your snippet on master and I confirm that I got the expected result for the shape, i.e. `(4,)`. This has been fixed in PR #9015.

[2018-08-10 11:52] agramfort commented on #11727
can you propose a non-regression test?

[2018-08-10 12:40] vldbnc commented on #6787
@lvpasquier
since you have sparse.csr matrix and according to documentation

I had the same problem with one huge cluster when not applying dissimilarity index as you mentioned but having np.array.
`graph.data = 1. - graph.data`

... in your case my guessing would be in using sparse matrix when distance logic is reversed (based on doc above).

[2018-08-10 12:50] adrian-haenni commented on #11790
@albertcthomas, Thanks! I close the issue.

[2018-08-10 12:50] #11790 closed

[2018-08-10 17:38] dfee commented on #11792
Could you please elaborate on why `sklearn` overrides a customized warning configuration?

If you add `append=True`, then you wouldn't be overriding a warning configuration that's not been customized.

The problem is that my applications *global state* should not be affected by importing your package. I also wouldn't want you doing things like changing my logging configuration.

[2018-08-10 20:34] NicolasHug commented on #11772
I'm pretty sure this would be a welcome addition, just make sure that squared L2 is actually used, or correct accordingly.

The devs are busy releasing 0.20 though, so you should probably not expect reviews before then.

[2018-08-10 20:48] imatiach-msft commented on #11786
It seems in my case I was running it on a dataset with many all-zero columns (result of feature hashing).  I've found a workaround that doesn't involve using kmeans in my specific case.  It would be nice if kmeans handled this case internally - possibly by removing all-zero columns, but the user could do this as well.  Closing the issue.

[2018-08-10 20:48] #11786 closed

[2018-08-10 21:32] dsaxton opened #11795 "Support stratified sampling of multilabel data"
I'm sure this has been proposed before, but I haven't been able to find a duplicate issue.  Anyways, the idea is to enable `StratifiedKFold` in `model_selection` to handle multilabel (multiclass with non-mututally exclusive categories) data.  If the number of labels is small, then ordinary stratified sampling on all possible combinations should work, otherwise one consideration might be to use the

[2018-08-10 23:05] dsaxton commented on #4757
This seems like it could make a solid addition, in my opinion.  I admit I only skimmed the thread, but matching quantiles across samples by distributing each of $m$ equally-sized (in terms of number of data points) bins across the folds seems like a nice approach.

[2018-08-11 05:02] shreyasramachandran commented on #11339
The problem is there at two places , where we need to change force_all_finite to false and the other place is at _function-transformer.py line 103 . Just checked the commit you mentioned it also corrects the first part , but even if the first part is corrected the issue will not be resolved as after it line 179 in _target.py will produced an error which can be traced back to the other part I have

[2018-08-11 05:35] lesteve commented on #7346
This has been fixed in https://github.com/scikit-learn/scikit-learn/pull/9569. From a quick look at it, the fix is only in master (aka the development version).

Note: quickly looking at your code I don't think your ThreadPoolExecutor is going to give any performance improvement, since each RandomForest fit is already using all the core available (`n_jobs=-1`).

[2018-08-11 11:46] jnothman commented on #11793
easiest might be to use a precomputed distance matrix?

[2018-08-11 19:27] agamemnonc commented on #6848
I have now submitted a PR which I think solves the issue: #11796

Do we perhaps want to include additional tests checking the output of `predict_proba` for LDA and QDA both for binary and multi-class cases?

[2018-08-12 00:41] Anubhav2000 commented on #3846
taking perceptron and RidgeCV classes

[2018-08-12 00:46] Anubhav2000 commented on #3846
taking Perceptron

[2018-08-12 12:12] Anubhav2000 commented on #3846
@adrinjalali I have added the example in the Perceptron class but for some unknown reasnos it won't work.
Help needed!(ps-I have already created a pull request)
https://github.com/scikit-learn/scikit-learn/pull/11798

[2018-08-13 02:25] guillaume-chevalier opened #11799 "LatentDirichletAllocation (LDA) score grows negatively, while it seems that GridSearchCV would want to make it grow"
#### Description
The score of the LatentDirichletAllocation (LDA) seems inverted. The GridSearchCV seems to maximize score, but for the LDA it seems that the score is better if it is more negative.

#### Steps/Code to Reproduce

1. Build a Pipeline() from a CountVectorizer() and an LDA()
2. Pass the pipeline to a GridSearchCV()
3. The thing doesn't seem to work, and after manual inspection, the sc

[2018-08-13 05:13] vivekk-ezdi commented on #11793
But the main issue here is why is same distance being treated differently?

[code]

[2018-08-13 11:44] adrinjalali commented on #9763
Just brainstorming, in case you find it useful.

- One way to look for model hyperparameters is to start with a coarse grid, and then refine the grid in areas which may look promising. With this strategy, you'd always _reduce_ the parameter space at each step, but you won't want to forget about the previous ones. (I may have understood a different thing from _reduce_ than what you mean here).
- To

[2018-08-13 12:08] adrinjalali commented on #3846
taking `sklearn/random_projection`

[2018-08-13 14:14] tobiaspiechowiak commented on #8540
Actually, var.dropna()  on the pd data frame worked fine for me to solve the problem....

[2018-08-13 15:38] rth commented on #11771
I think the relevant joblib lines are,

https://github.com/joblib/joblib/blob/7a17c36c83326503762a9b23d02407652ece8e3f/joblib/parallel.py#L655-L663

so this would still use `n_jobs=1` by default but, I suppose, allow better interaction with a custom parallel backend (i.e. dask distributed). We should include some docs about it.

I think leaving it to `1` in docs might make sense: it is consistent

[2018-08-13 15:48] Luke-Hartman opened #11802 "Empirical Covariance dividing by n, not n-1"
#### Description
The most common use case is likely for the sample covariance, but this package is currently computing the population covariance.

#### Steps/Code to Reproduce
[code]

[2018-08-14 00:33] jaymefosa commented on #11044
Maybe the biggest problem with the word error here is that sometimes the number of iterations in "Error after N iterations" hasn't reached the argument number of iterations. Which.. looks like a real error

[2018-08-14 01:55] #8782 closed

[2018-08-14 02:06] jnothman commented on #11793
That seems to be due to a quirk in scipy.spatial.distance.cdist which seems to not require the required arguments of 'mahalanobis'. Perhaps this can be fixed upstream.

But it doesn't fix the fact that TSNE does not have a `metric_params` parameter; it probably should.

[2018-08-14 02:29] jnothman commented on #9763
Regarding the conversion from iterator to to list: as long as we store all
the candidates in the results, there's little benefit to not materialising
them.​

The new _run_search interface can potentially facilitate manual search
space tuning too...

[2018-08-14 02:39] jnothman commented on #11771
I don't think we should worry too much about the default thing, at least
for now. However, it might be worth documenting the n_jobs=None semantics
in the Glossary entry on n_jobs.​

[2018-08-14 02:46] dsaxton commented on #11802
I think this is okay, dividing by n is a reasonable way of estimating the covariance matrix (it's actually the maximum likelihood estimate).  The reason for dividing by n - 1 is only to achieve unbiasedness, which I would argue is a somewhat overrated property.

[2018-08-14 03:08] jnothman commented on #11498
I think the Wiki is a good place to start: https://github.com/scikit-learn/scikit-learn/wiki/Draft-Roadmap-2018

[2018-08-14 03:38] qinhanmin2014 commented on #11771
So the final decision for (3) and (4) is to update the glossary and keep the doc? I won't argue about the decision but honestly I don't like it. Users will see ``n_jobs=None`` at the top of the doc and ``n_jobs : int, optional (default=1)`` in parameters section, which might be confused.

[2018-08-14 03:44] jnothman commented on #11498
Please ping here if you make substantial changes to the wiki. I have.

[2018-08-14 03:45] jnothman commented on #11771
At this stage, I'm a bit ambivalent.

On 14 August 2018 at 13:38, Hanmin Qin <notifications@github.com> wrote:

[2018-08-14 07:09] ywc1026 opened #11807 "NearestNeighbors doesn't work with algorithm="auto" when using mahalanobis distance"
When I use NearestNeighbors with mahalanobis distance, I find setting algorithm='auto' (which defaults to 'ball_tree') doesn't seem to work. This throw an error: ValueError: Mahalanobis dist: size of V does not match

`import numpy as np`
`from sklearn.datasets import make_classification`
`from sklearn.neighbors import DistanceMetric`
`X, y = make_classification()`
`nn = NearestNeighbors(algorithm

[2018-08-14 07:28] jnothman commented on #11807
I suspect it wants covariance between the features, not the samples. I.e.
use rowvar=False​

[2018-08-14 08:04] rth commented on #11771
Well as far as I see the other alternatives would be,
 - set `n_jobs=None` also in the docs, and specify that it corresponds to 1 job in each docstring. We can do it, but it's a lot of changes, and I wonder if it's really worth the effort, particularly now that we are a bit resource limited for the release/RC.
 - set `n_jobs=1` in the code and the docs, but that would not work with custom joblib b

[2018-08-14 08:13] qinhanmin2014 commented on #11771
+1

We've updated the glossary, so we can refer to the glossary like what we've done for random_state.

I prefer to update the doc accordingly, but I agree that this should not block the release (we've updated the glossary).

[2018-08-14 16:16] mfenner1 opened #11809 "LOF Uses Multiple k-Distances instead of Single k-Distance"
https://github.com/scikit-learn/scikit-learn/blob/c564df963456a9928e7ae892b056331f7b791d2d/sklearn/neighbors/lof.py#L491

Based on pg. 5 of http://www.dbs.ifi.lmu.de/Publikationen/Papers/LOF.pdf and pg. 132 of Outlier Analysis (2nd) by Aggarwal, I believe that L491 in LOF.py (the dist_k assignment) should find a *single* distance to *the* k-th neighbor for each example.  The current L491 uses each

[2018-08-14 17:10] mfenner1 commented on #11809
Upon further consideration, I think there is an issue with the assignment but I think my "fix" is not the right fix.

[2018-08-14 17:10] #11809 closed

[2018-08-14 18:12] Anubhav2000 commented on #3846
**[[MRG] Perceptron examples in Perceptron.py to scikit-learn/scikit-learn/linear_model/perceptron.py #11798**

[2018-08-14 20:10] mustuner opened #11811 "Convolutional Neural Networks in scikit-learn"
Up to my recent investigation, scikit-learn only have Restricted Boltzmann machines for initializing deep neural networks.

Do scikit-learn team have any plan to add more models like Convolutional Neural Networks (CNNs)? I know keras is available but scikit-learn has more clear and simpler syntax

I'm not sure my question sounds weird but I'm much get used to scikit-learn. Thanks @norbert @ynd @eg

[2018-08-14 20:58] eggie5 commented on #11811
A CNN might be outside of the scope of the scikit project, but it indeed does have other NN implementations: see the `sklearn.neural_network` module which has an MLP that will go as deep as you want.

[2018-08-14 23:26] #11811 closed

[2018-08-14 23:27] jnothman commented on #11811
Scikit-learn focuses on feature matrices where the order of the features is
largely meaningless. CNNs rely on the structure of the input, which is why
they are out of scope unlike MLP. They also tend to involve a lot of
customisation that is similarly inappropriate in this context. We are happy
to support some interoperability with libraries that do CNNs etc.

[2018-08-15 00:03] jnothman commented on #11809
Please reopen or raise a clear issue explaining what you expected and what
you got, or a discrepancy with the literature or another implementation, so
that we can try to work out what the right fix is.

[2018-08-15 00:41] jnothman commented on #11498
I have added a "Statement of Purpose in 2018". I wonder if others agree with me, and what they would add/change!

[2018-08-15 01:39] jnothman commented on #11807
no, but perhaps I haven't understood the question

[2018-08-15 01:47] Guinsoon commented on #11807
I calculate the covariance between the samples and give the results to NearstNeighbors. Do I have to use algorithm="auto" to make it work?

[2018-08-15 06:43] Gerenuk opened #11813 "utils.stats._weighted_percentile may throw IndexError"
It happened to me that `sklearn.utils.stats._weighted_percentile` (called from the sklearn GBRT; sklearn 0.19.1) choked on calculating an array index which went beyond the array bound. Unfortunately I do not have access to the data and I cannot create a reproducible example, but I could imagine that it is a rare error coming from floating point calculations and someone could see a way that floatin

[2018-08-15 06:45] kejiashi commented on #8913
Got similar results on `StratifiedShuffleSplit`. It raises a warning,

[code]
NaN s are introduced by this operation.

Code
[code]

[2018-08-15 07:46] jnothman opened #11814 "fetch_openml should support return_X_y"
just like many other dataset loaders.

If #11466 has been merged, examples using `fetch_openml` should be updated.

[2018-08-15 07:49] jnothman opened #11815 "fetch_openml (high priority): more strongly encourage users to specify version"
When requesting an openml dataset by name, alternative version numbers can give completely different datasets. We need to encourage users to provide a version in such cases. We should:
* make the documentation more emphatic about this
* when `version='active'`, raise a warning if multiple versions exist, along the lines of "Multiple dataset versions match the name BLAH. Versions may be very differ

[2018-08-15 07:54] jnothman opened #11816 "Validate MD5 checksum of downloaded ARFF in fetch_openml"
`fetch_openml` downloads the `data_set_description` from openml.org which includes an `md5_checksum` field. This should correspond to the MD5 checksum of the downloaded ARFF data. We should (optionally?) use `hashlib` to verify that the MD5 matches.

[2018-08-15 07:55] ColinSuess commented on #1389
Attempted repro. The behavior has changed since reporting.
Tested under Win7amd64sp1, Python 3.7 amd64, scikit-learn 19.2, scipy 1.1.0, numpy 1.15.0

New behavior occurs only in the r2 scenario (sparse case using solver='sparse_cg') and is as follows:
1. At the line r2.fit(Xs, y), the following additional warning is displayed
Warning (from warnings module):
  File "C:\Program Files\Python37\lib\si

[2018-08-15 07:57] jnothman opened #11817 "fetch_openml: Add an option to one-hot encode nominal features"
Currently categorical features (i.e. nominal attributes in ARFF) are encoded as ordinal integers when returned from `fetch_openml`. We should have an option to encode them with `OneHotEncoder` instead.

[2018-08-15 08:02] jnothman opened #11818 "fetch_openml: Add an option to which returns a DataFrame"
fetch_openml currently rejects STRING-valued attributes and ordinal-encodes all NOMINAL attributes, in order to return an array or sparse matrix of floats by default.

We should have a parameter that instead returns a DataFrame of features as the 'data' entry in the returned Bunch. This would (by default) keep nominals as `pd.Categorical` and strings as objects. Columns would have names determined

[2018-08-15 08:03] jnothman opened #11819 "fetch_openml: Add an option to ignore some features, especially STRING type"
Users should be able to specify names of features to ignore in fetch_openml, or should be able to specify that it is safe to discard features with STRING type. This will avoid attempting to convert them to float64.

Or we can not do this, and instead just support returning DataFrames as in #11818.

[2018-08-15 08:06] ColinSuess commented on #1625
Repro'd. @chuan92 's test throws an assertion on 0.19.2 with Python 3.7.

[2018-08-15 08:27] jnothman opened #11821 "fetch_openml: perhaps cache decoded ARFF"
We currently store the results of each HTTP request performed by `fetch_openml`. It still can take a substantial amount of time to decode the fetched ARFF data into numpy arrays or sparse matrices. We could instead (or also) cache the decoded data on disk, so that the ARFF does not need to be parsed in repeated calls.

Alternatively, we can hope that OpenML provides a more compact data representat

[2018-08-15 08:30] jnothman opened #11822 "fetch_openml: Use compressed HTTP responses"
We are currently downloading data from openml.org and storing it in gzipped files. We do not request that the data come gzipped (AFAIK), but most HTTP servers would facilitate this. We could request gzip-compressed data, reducing download time and avoiding a round trip when cache=True. See https://stackoverflow.com/questions/3947120

[2018-08-15 08:40] rth commented on #11818
@jorisvandenbossche would know more, but as far as I understand `SparseDataFrames` are not really sparse sense of encoding only non null values, but are roughly equivalent to compressed dense dataframes (cf [docs](https://pandas.pydata.org/pandas-docs/stable/sparse.html)).

At least for text processing with a typical sparse document-term matrix, in my experience the performance is not even  remote

[2018-08-15 09:03] jorisvandenbossche commented on #11818
I am not sure there is necessarily a difference (I didn't write the docs :-)), it's just that pandas uses NaN as the default "fill value" instead of 0, but you can easily choose 0 when having mostly zero data.
And then it is very similar to sparse coo format, with the main difference it is limited to 1D (so when having a sparse DataFrame, each column stores a 1D sparse 'array').

Compared to CSR,

[2018-08-15 09:11] rth commented on #9136
Also run into this with `LogisticRegression(solver='saga', multi_class='multinomial')` on sparse input. Maybe acquiring GIL (as mentioned above) after each epoch could be enough...

[2018-08-15 09:52] adrinjalali commented on #3846
Taking 'sklearn/manifold`

[2018-08-15 10:25] jnothman commented on #11813
We've seen something similar elsewhere recently. Yes, I assume
percentile_idx needs to be clipped due to floating point errors in

(percentile / 100.) * weight_cdf[-1]. PR welcome.

[2018-08-15 10:26] jnothman commented on #11813
An alternative might be to slightly increase `weight_cdf[-1]` after calculating `(percentile / 100.) * weight_cdf[-1]`.

[2018-08-15 10:27] jnothman commented on #11813
I assume this would be very hard to write a test for.

[2018-08-15 12:04] mfenner1 commented on #11809
Will do, once I get a more concrete answer.

[2018-08-15 12:05] adrinjalali commented on #11815
May I give it a try?

[2018-08-15 12:09] rth commented on #11815
That would be great @adrinjalali ! Thanks!

[2018-08-15 13:21] DrOzturk opened #11826 "Index structure creation for knn-classifier..."
When I run
knMod.fit(X_train, y_train)
it is instantaneous.
When I run
knMod.score(X_test, y_test)
it runs for a long time, filling 45GB of memory before crashing.

I guess fit does nothing, and score loads all training examples in memory to compare to test examples.

We can create an index structure for k-nn similarity when the the fit function of KNN classifiers is run.  Ex: vldb.org/conf/2001/P

[2018-08-15 13:27] DrOzturk commented on #11826
or https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3255306/

[2018-08-15 13:35] rth commented on #11826
It depends on the  `algorithm` you use with `KNeighborsClassifier`: `ball_tree`, `kd_tree` will create a form of index. It doesn't change the fact that `score` will still need to classify all your samples which can take some time and memory depending on the algorithm. Also see related https://github.com/scikit-learn/scikit-learn/pull/8999

[2018-08-15 15:14] mfenner1 commented on #11809
I'm happy to say I was wrong.

I've been able to convince myself the that current implementation is correct.  It was a case of:  Step 1, Step 2, Step 3 being implemented as Step1+2, Step3 in the sklearn code and as separate steps in my own code (the combined steps were a bit opaque b/c of fancy indexing which is why I missed it on my first pass).

When I can make a few test cases, I'll open a PR.

[2018-08-15 17:46] cibic89 opened #11829 "LinearDiscriminantAnalysis does not parrallelise"
#### Description
Not all cores are utilised on a 1.3 million row x 3000 tfid-idf featured dataset. In fact only 1-2 cores are used and also this was reported before [here](https://stackoverflow.com/questions/47169043/sklearn-lda-windows-parallel).

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error but I was expecting all cores to be used

#### Actual Results
1-2 core usage

####

[2018-08-15 18:57] adrinjalali commented on #11815
I think the PR #11827 now counts as a proposal now. I'd be delighted to have some reviews there :)

[2018-08-15 21:58] jnothman commented on #11826
you haven't given enough context for your problem: How much data? what
metric?

[2018-08-15 21:59] zhenruiliao commented on #8215
An issue that could cause significant confusion is that if a new version is released after you install using this alias, `pip install --upgrade sklearn` fails silently (the only requirement is some version of scikit-learn, not necessarily the most recent version). I suppose it would be possible to continually release new versions of sklearn requiring the most recent version of scikit-learn, but th

[2018-08-16 00:01] jnothman commented on #11809
thank you! I really appreciate tests that help show correctness

[2018-08-16 00:14] jnothman commented on #4497
Sigh. No. I would like to be able to spend time on this for 0.21... but I'm
not sure where that time is going to come from, and I need to get some
commitment from other core devs that they will review it if I work on it.

[2018-08-16 00:28] divya-vakil commented on #10761
I am also facing issue with the following PCA example:

http://scikit-learn.org/stable/auto_examples/decomposition/plot_pca_iris.html

[2018-08-16 00:29] jnothman commented on #10761
Sorry we have been slow to release

[2018-08-16 00:46] chadykamar commented on #11816
I'll give this a go.

[2018-08-16 02:49] jnothman commented on #11816
thanks. you may need to hack the md5s currently in
sklearn/datasets/tests/data/openml to match the truncated ARFF data there

[2018-08-16 06:35] rth commented on #8215
Another possibility without breaking peoples code could be to detect whether the `sklearn` package is installed (e.g. by looking for `site-packages/sklearn-0.0.dist-info/` or with some more standard python way), and raise a warning at import time if that is the case. This may add some small overhead for the import though.

[2018-08-16 09:52] janmotl opened #11832 "Pipeline predict() does not pass the label to transformers"
There are transformers, like [leave-one-out](http://contrib.scikit-learn.org/categorical-encoding/leaveoneout.html), that need the label vector _y_ to be present for transformation of the training data - if the label is missing during the transformation of the training data, the downstream model may overfit terribly.

However, `pipeline.predict(X, y)` does not pass the label _y_ to the transformer

[2018-08-16 10:31] jnothman commented on #11832
No, y is by definition not observed by the prediction function. A pipeline won't do what you are looking for.

[2018-08-16 10:31] #11832 closed

[2018-08-16 10:57] adrinjalali opened #11833 "fetch_openml: monkey patching urlopen should follow the caching mechanism"
See https://github.com/scikit-learn/scikit-learn/pull/11827#issuecomment-413465556

The caching mechanism used in [`_open_openml_url`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/datasets/openml.py#L34) is a suitable solution to organize files for monkey patching them during the tests.

[2018-08-16 10:59] adrinjalali commented on #11833
Question: if a URL ends with a slash, the file would be `/path/to/file/.gz`. Should we make the files end with `_.gz` instead of `.gz` to avoid this? An alternative is to remove a trailing slash from the URL when saving the file, but I don't like it since at some point there may be a case where the trailing slash actually could make a difference.

@jnothman ideas?

[2018-08-16 10:59] robguinness opened #11834 "TfidfVectorizer with stop_words=None still filters out 'a' and 'I'"
#### Description
TfidfVectorizer with stop_words=None still filters out 'a' and 'I'. This is confusing because setting ¸stop_words=None` doesn't really cause there to be no stopwords. The issue is caused by the default token_pattern, which requires at least 2 alphanumeric characters for a word to qualify as a token.

I suspect this applies to CountVectorizer also, but I haven't tested it myself.

[2018-08-16 11:11] jnothman commented on #11833
That was accidental. I think we don't need to use monkeypatch, as long as we are testing with cache=True... Although that may assume things about the implementation... So maybe I'll take it back and suggest we just use flat filenames...

[2018-08-16 13:06] jnothman commented on #11834
Yes, it does. Please offer a change to documentation if you feel it can be
improved. We are very unlikely to change this default functionality.

[2018-08-16 13:07] #11815 closed

[2018-08-16 13:10] cibic89 commented on #11829
Hi, can't say that I am since this is not mentioned in the docs... I'm only finding 4 python processes so I'm assuming the process spawning is already protected. Increasing the batch_size has helped.
if I run into problems I'll get back after I tried using master. Thanks you for getting back!

[2018-08-16 13:27] gwerbin opened #11836 "LabelEncoder DeprecationWarning"
#### Description

`LabelEncoder.inverse_transform` raises warnings and incorrect exceptions because it uses deprecated Numpy behavior.

#### Steps/Code to Reproduce

Warning:

[code]

(Wrong) exception:

[code]

#### Expected Results

No warning presented in first case, correct exception raised in second.

#### Actual Results

[code]

#### Versions
[code]

[2018-08-16 13:30] qinhanmin2014 commented on #11836
It's resolved in master. Please wait for the release or install from master.
Sorry we're slow to release.

[2018-08-16 13:30] #11836 closed

[2018-08-16 14:16] qinhanmin2014 commented on #9632
We now have ``fetch_openml`` so we can obtain the data using ``fetch_openml(name="Fashion-MNIST")``

[2018-08-16 14:16] #9632 closed

[2018-08-16 14:39] qinhanmin2014 commented on #9076
We now have ``fetch_openml`` so we can obtain the data using ``fetch_openml(name="adult", version=...)``.

[2018-08-16 14:39] #9076 closed

[2018-08-16 15:00] adrinjalali commented on #11833
Not sure what you mean by that. But as a side note, if the implementation is reliable, we can have some test datasets on openml (like sklearn-iris-test, etc.) for our tests.
The issue with relying on public datasets is that we don't control them and some of our tests would already raise an HTTP 402 error if they were actually against the openml web services.

This also means we don't have to get t

[2018-08-16 15:59] Adglink commented on #4497
No worries, completely understandable.  Thanks for all your hard work on Sklearn library.  I love how simple and universal this package is.

One last question, do you have any suggestions for a quick and dirty way to implement sample weights to RFECV? I just want to mess around with how samples weights change the features I get.

[2018-08-16 16:34] joshuakennethjones opened #11839 "sklearn.ensemble.IsolationForest._average_path_length returns incorrect values for input < 3."
#### Description
When an input value to _average_path_length() is in {0,1}, the return value should be zero, not one, as in the existing implementation. Also, when the input value is 2, the return value should be 1, not 0.15... as in the current implementation. These results should be expected for two reasons: first, based on the 2012 iForest paper (the original paper indicated a zero value for te

[2018-08-16 21:30] amueller commented on #11677
what's the status of this?

[2018-08-16 21:46] espg commented on #11677
I took a look at the original code for automatic extraction from an OPTICS ordered list, and the same bug is present. You can decouple the build of the graph from the graph extraction-- so if you use a different OPTICS extraction function to build the graph on the points in this example and pass it to the unmodified auto_extract code from @amyxzhang, the same bug crops up. In other words, I've iso

[2018-08-17 09:53] MrinankSharma opened #11843 "Cannot distinguish missing and zero valued features ``load_svmlight_file``"
#### Description
The LibSVM format (also SVM-Light) is commonly used to store datasets. It was originally devised for SVMs which cannot handle non-numerical data or missing data. The data format is as follows

`` <target_value> 1:<feature_1_val> 2:<feature_2_val>  ... ``
The format can be used to handle sparse data-sets - if a feature is not included, when loaded into a sparse matrix, it will be a

[2018-08-17 11:11] whalebot-helmsman opened #11844 "sklearn.metrics.adjusted_mutual_info_score returns nan on some inputs"
#### Description
`sklearn.metrics.adjusted_mutual_info_score` returns nan on some inputs

#### Steps/Code to Reproduce
[code]

#### Expected Results
1.0 printed two times on screen

#### Actual Results
[code]

#### Versions
Linux-4.4.0-96-generic-x86_64-with-debian-jessie-sid
Python 3.6.3 (default, Jun  4 2018, 10:24:41)
[GCC 4.8.4]
NumPy 1.13.3
SciPy 1.0.0
Scikit-Learn 0.19.0

[2018-08-17 16:27] jorisvandenbossche commented on #11819
Just thinking aloud. Another option might be to have an option to specify that the output should be a numerical array? Which would mean combination of encoding nominal + dropping string features.

[2018-08-17 17:39] jorisvandenbossche commented on #10733
@jnotham is there agreement on the desired interface? `as_frame=True/False` ? (or `return_frame` to be consistent with `return_X_y`?)

On the PR it was suggested to have a `return_X_y='pandas'` instead.
For openml, I was thinking that a `return='array'` could also make sense to ensure a numerical array is returned (drop string features, https://github.com/scikit-learn/scikit-learn/issues/11819). A

[2018-08-17 18:01] adrinjalali commented on #11813
Trying to come up with tests ....

[2018-08-17 18:12] amueller commented on #11819
String types are likely categorical data, right?

[2018-08-17 19:31] espg commented on #11677
Following up from @jnothman request in #11838 , here is the reference paper implementation pseudo code.

Converting reachability plot to dendrogram:

![dendo](https://user-images.githubusercontent.com/3896161/44284988-da4e0700-a220-11e8-9613-c253a075c32a.png)

Main algorithm with tree trimming:

![main_algo](https://user-images.githubusercontent.com/3896161/44285004-e934b980-a220-11e8-8e69-7926d24

[2018-08-17 23:00] amyxzhang commented on #11677
Hey all, sorry I just got notice of this issue today! It's been a SUPER long time since I looked at this code but I hope this explanation helps.

Basically the way the algorithm works (as described in the above pseudocode) is that, given a reachability plot, it searches for local maximas to iteratively split the plot, starting from the highest local maxima. A local maxima is a point on the reachab

[2018-08-18 04:04] VMAtm opened #11851 "Confusing error message"
https://github.com/scikit-learn/scikit-learn/blob/f6fd03efccafe7bc5c7bbae80f5946f1d1ead042/sklearn/svm/bounds.py#L55

Hello

I think that this code is out of sync (as there is no option to use `l2` loss):

    if loss not in ('squared_hinge', 'log'):
        raise ValueError('loss type not in ("squared_hinge", "log", "l2")')

[2018-08-18 07:51] jorisvandenbossche commented on #11819
No, so openml distinguishes 'nominal' data and 'string' data. Nominal is categorical data, string data are just strings (can be all unique, varying, ..).
Currently (as merged in master), nominal strings are converted to integers (to have a numerical array as output), and if there are string data it raises an error (which basically means you cannot download such data right now).

[2018-08-18 09:48] jnothman commented on #11833
I'm not talking about relying on public datasets. I mean that if we just
set the data_home directory to a fake cache with truncated datasets, that
would work only if the implementation continued to rely on caching at the
HTTP request level, rather than, say, storing the decoded array.

[2018-08-18 09:51] jnothman commented on #11843
Surely you first need a convention for how missing data should be
represented. Is there such a convention established for this storage
format? Sparsity should not be used to mean that any value not stated is
missing. That is a highly inefficient storage approach.

[2018-08-18 09:52] jnothman commented on #11844
Fixed in master

[2018-08-18 09:52] #11844 closed

[2018-08-18 10:00] jnothman commented on #10733
I believe it should be possible to get a dataframe as the bunch's data
attribute, rather than this being an alternative value of return_X_y. And
that's why as_frame or frame is better than return_frame.

On 18 August 2018 at 03:39, Joris Van den Bossche <notifications@github.com>
wrote:

[2018-08-18 12:46] adrinjalali commented on #11677
Thanks @amyxzhang.

If I may, I have one worry regarding labelling those split points as outliers. In practice, with large enough amount of data, people are likely to not investigate why a data point is labelled -1, and simply count them as an outlier.

Here's an undesirable scenario: a data scientist working in a fraud detection department is looking for algorithms to find outliers to raise their

[2018-08-18 16:27] #11317 closed

[2018-08-18 18:05] zihao12 opened #11854 "Error when using sklearn.Decomposition.LatentDirichletAllocation"
#### Steps/Code to Reproduce
[code]

#### Expected Results

#### Actual Results

File "/home/wangzh/.local/lib/python3.6/site-packages/sklearn/decomposition/online_lda.py", line 582, in fit
    sub_sampling=False)
  File "/home/wangzh/.local/lib/python3.6/site-packages/sklearn/decomposition/online_lda.py", line 774, in _perplexity_precomp_distr
    bound = self._approx_bound(X, doc_topic_distr, su

[2018-08-18 18:09] amyxzhang commented on #11677
Yes @adrinjalali, I agree that something could be done about the issues, maybe the strategies I mentioned above, as a final pass over the clusters perhaps. I think there would need to be testing to consider edge cases though. It may be trickier than anticipated with noisier data (lots of potential splitpoints, some of which are discarded). Back when I was working on this, I was mainly interested i

[2018-08-18 19:12] datajanko commented on #6821
@adrinjalali any progress from your side so far?

[2018-08-18 19:36] woizaterminator commented on #9947
Hello guys,
thats exactly what im looking for but it fails for me to import.

I copied you're whole repository to ~\site-packages\sklearn\tree
and then tried to compile the setup.py with

python setup.py build_ext --inplace

there was an error that command 'build_ext' does not exist so I tried

 python setup.py build_clib

which actually worked but back in my jupyter notebook the command

from hel

[2018-08-18 20:05] adrinjalali commented on #6821
Since you said you're working on it again, I stopped working on it to avoid double work. I can work on it if you wish @datajanko

[2018-08-19 00:54] #11813 closed

[2018-08-19 00:57] jnothman commented on #11854
Please provide a complete reproducible snippet

[2018-08-19 01:04] jnothman commented on #11677
I've not yet had the time to understand the details here. But would it be
correct to say that the implementation is faithful to the reference paper,
but that there is an ambiguity in the algorithm that could be handled in a
way that would be friendlier to ?some users.

[2018-08-19 01:04] jnothman commented on #11677
?

[2018-08-19 02:07] amyxzhang commented on #11677
Right, the implementation follows the algorithm, which doesn't give guidance for splitpoints and outlier points at the very end of the reachability plot. I think some small tweaks, with sufficient testing, can resolve these issues to make these examples conform to expectations.

[2018-08-19 04:49] woizaterminator commented on #9947
Actually i'd like to use this for my thesis but it seems not realizable for me so it seems i have to wait for it and maybe use it in later projects.

[2018-08-19 10:32] datajanko commented on #6821
@adrinjalali This was just a misunderstanding ;) I said I'd think on it, which I did. I just didn't want to take what you already claimed. So if it's okay for you, I'll work on this issue (and I can become also a contributor here).

[2018-08-19 10:41] adrinjalali commented on #6821
No worries. Go for it :)

[2018-08-19 14:11] #11814 closed

[2018-08-19 14:26] adrinjalali commented on #11677
I'm reading the original paper, and I'll get into the details of the implementation (for my own curiosity). Then I'll probably be able to fix some of these issues. But if anybody has the time and is already familiar with the code/algorithm, please don't wait for me. Anyhow, I'll try my best.

[2018-08-19 18:12] espg commented on #11677
It may be possible to deal with the split points by lumping them into the left-hand objects if their core distance is small. Since OPTICS removes points from consideration once they've been processed, and always picks the next closest point, the last point in a cluster tends to have large reachability distances and often gets marked as noise. Since we know this, and read the graph from left to rig

[2018-08-19 19:15] adrinjalali commented on #11677
@espg that sounds reasonable. I've put a version of it in the PR #11857 (threshold hard coded as `1.5`).

Please excuse all the debugging prints for now, the patch is around line 675.

I'll try to test it in different scenarios and also fix the "last point being a NOISE" issue.

[2018-08-19 21:02] jnothman opened #11858 "Upload Mauna Loa CO2 data to OpenML.org"
examples/gaussian_process/plot_gpr_co2.py relies on a dataset that we used to fetch from mldata.org. Now we download it from its original source, but that server may not be reliable, etc. We also process only the monthly averages from a weekly reading.

We should have this data on openml. I don't know whether we should try to replicate the form it was in on mldata, or create something new.

[2018-08-20 15:16] le1nux commented on #10259
Figuring this out, took me quite some time.
What about adding a note to the n_jobs parameter in the official docs (http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.LatentDirichletAllocation.html) or a logger output stating that n_jobs was set to 1, but the underlying library might use mutiple CPUs, nevertheless?

[2018-08-20 15:34] shkupfer opened #11861 "Random Forest Feature Contributions for Individual Predictions"
#### Description

"Feature contributions" meaning, the effects of each feature's value on a given prediction. This concept is explained well in [this paper](http://eprints.whiterose.ac.uk/79160/1/feature_contribution_camera_ready.pdf). I've written code that uses the method described in section 3 of that paper, moving down the path of the tree to get these "feature contributions" in each tree as t

[2018-08-20 15:35] qinhanmin2014 commented on #10259
@le1nux
We've made some improvements in the latest doc (Circle CI is failing so you can't see the html version online).
(1) We have an FAQ for it.
(2) We now reference the glossary in the doc, see e.g.,
https://github.com/scikit-learn/scikit-learn/blob/50d9b0aa1f52c57e742adfb09226854d85b6c1c5/sklearn/decomposition/online_lda.py#L218
[code]
(3) We now explain in the glossary : ``n_jobs`` is an int,

[2018-08-20 18:44] artemmavrin opened #11863 "AdaBoost does not work with GridSearchCV because of sample_weight"
#### Description
When an `AdaBoostClassifier` (and presumably other meta-estimators relying on sample weighting) has a `GridSearchCV` classifier as its base estimator, it cannot be fitted because `GridSearchCV` fails the `has_fit_parameter` check for `sample_weight`, even though its own underlying estimator might support `sample_weight`.

#### Steps/Code to Reproduce
[code]

#### Expected Results

[2018-08-20 18:59] artemmavrin commented on #11863
A solution might be something like extending [`has_fit_parameter()`](https://github.com/scikit-learn/scikit-learn/blob/f0ab589f/sklearn/utils/validation.py#L638) to something similar to the following:

[code]

[2018-08-20 19:48] amueller opened #11864 "sphinx: random_tree_embedding label undefined"
I get
[code]
even though it's defined
in
[code]

[2018-08-20 20:09] amueller opened #11865 "LogisticRegression code is way to opaque"
After the release we should refactor the logistic regression code.
Right now, path computation, optimizers and OVR are all a tangled mess.

[2018-08-20 20:20] jeyendranbalakrishnan opened #11866 "Spacy sentence splitting fails on long sentences"
#### Description
Spacy sentence splitting incorrectly splits long/complex sentences.
In two examples I encountered, Spacy incorrectly split one long sentence after a comma, and another long sentence after a closing paranthesis ')'.
These examples and steps to reproduce are described below.
#### Steps/Code to Reproduce
import spacy
nlp = spacy.load('en_core_web_lg', disable = ['ner'])
texts = [

[2018-08-20 20:43] amueller commented on #11866
did you mean to post this on the spacy issue tracker?

[2018-08-20 21:00] amueller commented on #11865
Also, using the term 'ovr' in the binary case (which after #11859 will be everywhere)  is very confusing.

[2018-08-20 21:12] amueller opened #11867 "spurious warnings because of n_jobs=None"
There's now plenty of these everywhere liblinear is used:

UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = None.

[2018-08-20 21:16] rth commented on #11867
It was supposed to be fixed in https://github.com/scikit-learn/scikit-learn/pull/11803 but maybe I missed something

[2018-08-20 21:20] amueller commented on #11867
ah, I think I was just in a branch that didn't have that yet, sorry for the noise.

[2018-08-20 21:20] #11867 closed

[2018-08-20 21:20] jeyendranbalakrishnan commented on #11866
Yes, this seems like the appropriate forum for reporting bugs in Spacy...

[2018-08-20 21:22] jeyendranbalakrishnan commented on #11866
Oh, now I got it, this is the scikit-learn issue tracker, not spacy.
Must have hit the wrong link on Google :-)
My mistake.
I'll delete this and post into the Space tracker.
Thanks for catching this!

[2018-08-20 21:22] jeyendranbalakrishnan commented on #11866
Issue closed by OP, wrong forum :-(

[2018-08-20 21:22] #11866 closed

[2018-08-20 22:06] amueller commented on #11863
You're right, ``has_fit_parameter`` is not great in it's current form. But I think putting ``GridSearchCV`` into an ``AdaBoostClassifier`` is not a great idea. Why do you want to do that?

[2018-08-20 22:09] artemmavrin commented on #11863
It was just an example to demonstrate the problem. In hindsight the title isn't representative of the issue, which is that `has_fit_parameter` doesn't check the fit parameters of a meta-estimator's base estimator.

[2018-08-20 22:13] amueller commented on #11863
this should probably be solved with the fabled estimator tags #8022

[2018-08-20 22:15] amueller commented on #11863
though maybe we can actually discover that, then we don't need the estimator tags... and we can just use something like you did. But the problem is that it requires hard-coding the name of the base estimator, which I think can be ``estimator`` or ``base_estimator`` right now, but could potentially be anything.
So having a ``support_sample_weights`` tag might be better?

[2018-08-20 22:20] amueller commented on #11819
ah, that's fine, there's no string data on OpenML afaik because the backend doesn't support it last time I checked...

[2018-08-20 22:20] amueller commented on #11819
@janvanrijn and @joaquinvanshoren can tell me if I'm wrong ;)

[2018-08-20 22:27] jorisvandenbossche commented on #11819
There is .. It is the reason that currently we cannot load the Titanic dataset: https://github.com/scikit-learn/scikit-learn/pull/11419#pullrequestreview-145566949 (https://www.openml.org/d/40945)

[2018-08-20 22:48] artemmavrin commented on #11863
I like the estimator tags idea more than hard-coding the base estimator names.

However, a `support_sample_weights` tag might be too specialized to the particular example I came up with. I think it's possible that `has_fit_parameter` could be called in other cases to check if a meta-estimator has a fit parameter that its base estimator has. In these cases, the real question is whether the base est

[2018-08-20 22:54] jnothman commented on #11778
Hi @robbymeals, if it was obvious to me what this refers to I would have said so. If we were not focused on releasing the much-delayed version 0.20 I might have spent time investigating it. Hopefully I can delve into it after release

[2018-08-20 22:58] jnothman commented on #11861
The feature contributions are a function of the leaf node and the tree,
right? I don't think modifying the predict function is wise when predict
needs to be highly performant. I'm also not sure in what way this
functionality should be facilitated by scikit-learn. I'd start with an
example rather than an API feature.

[2018-08-20 23:06] jorisvandenbossche commented on #10733
@jnothman Yes, that is how I understood it, and also what I meant above with `return_frame` (to return a frame instead of an array; both in the bunch or as direct value depending on `return_X_y`is True or False)
(I meant `return_frame` only as a *name* suggestion compared to `as_frame`, not a different behaviour)

[2018-08-20 23:31] jnothman commented on #11864
The problem is that `.. _random_trees_embedding` doesn't have any text defined for it because it precedes a `.. topic` rather than a heading. So when you use :ref: to link to it, you need to give it text, like ```:ref:`Random trees embedding <random_trees_embedding>` ```. That's why the warning occurs.

But the right fix is to move the `.. _random_trees_embedding` link target down a few lines to p

[2018-08-21 00:10] jnothman commented on #11863
No, don't make this the responsibility of the checking function. You need
polymorphism for this, either through estimator tags or a has_fit_param
method.

[2018-08-21 00:10] jnothman commented on #11863
But as I said, we're better off just using trial and error here.

[2018-08-21 00:37] maxcopeland commented on #11851
I'd be happy to fix.

[2018-08-21 00:42] janvanrijn commented on #11819
OpenML backend supports string features without problems. Contrarily, https://github.com/openml/openml-python openml-python has problems with it (and throws an error in case a string feature is in the dataset).

We should probably add this to the fetch_openml fn too.

[2018-08-21 01:07] janvanrijn opened #11872 "Display warning when Openml dataset displays error / warning"
I added the following feature to the OpenML API: Whenever there is an error in the dataset (this can be anything: features are not legal, meta-features can not be calculated, arff can not be parsed) this value is shown in the xml.

New XSD schema definition:
https://www.openml.org/api/v1/xsd/openml.data.upload

This does not change the current functionality of the API, but it would probably be goo

[2018-08-21 01:07] jnothman commented on #11819
fetch_openml does currently throw an appropriate error in case of strings.

[2018-08-21 01:10] jnothman commented on #11872
shouldn't this correspond to a non-active status in openml? Are such
datasets usable/used?

[2018-08-21 01:14] janvanrijn commented on #11872
The occurrence of an warning/error is the result of an automated procedure (i.e., the evaluation engine crashed or detected some error). In general this should lead to the deactivation of the dataset, which is a human operated procedure (which is an action that should officially be taken by the uploader. This can take a while, or he/she can decide to ignore the error).

[2018-08-21 01:25] jnothman commented on #11872
But should there not therefore be some status='errors'?

[2018-08-21 01:29] janvanrijn commented on #11872
I like the point, we can even make this automatically override the xml field. I think this would ensure correct behavior in the fetch_openml fn (status != active, so a warning is displayed.) @jvanschoren ?

[2018-08-21 06:11] sofistgops commented on #8331
am getting Key_error: 'max_depth'

complexity_rfc = joblib.load("scripts/pickles/rfc.pkl")

[2018-08-21 07:54] joaquinvanschoren commented on #11872
We could add an 'error' status.
Checking for errors is an automated procedure, though. What if we make the checks more strict? Would then all active datasets automatically become 'error' datasets? That may lead to unexpected behavior?

[2018-08-21 11:02] KOLANICH opened #11876 "Make GridSearchCV and RandomizedSearchCV usable without X and Y as black box optimizers"

[2018-08-21 11:51] jnothman commented on #11876
I think you will need to give more details. CV is fundamentally about making a split of some observed data X

[2018-08-21 13:40] amueller commented on #11309
You probably want OneHotEncoder.

[2018-08-21 13:42] dadashkarimi opened #11877 "convergence criteria in semi-supervised learning"
#### Description

In semi-supervised learning technique implemented in label_propagation.py, they used l_previous to keep track of self.label_distributions_. I was wondering it should be changed to l_previous = deepcopy(self.label_distributions_) since while you change distribution l_previous also changes.

#### Steps/Code to Reproduce

l_previous = deepcopy(self.label_distributions_)

[2018-08-21 14:03] drorata commented on #11309
@amueller I'm afraid you're wrong. My use case is having a list of lists of keywords. For example,

[code]

Note that the lengths of the lists is not fixed. I want to turn this list into a matrix with one column per keywords which appears (at least once). I don't think `OneHotEncoder` can help me here.

I still don't understand the reasoning behind not supporting labels processing within a transfo

[2018-08-21 14:13] #11833 closed

[2018-08-21 14:25] amueller commented on #11309
CountVectorizer could help you there, though.

Are these labels or data?
The problem is that labels (that is y) can not be processed in pipelines for API reasons (transform only returns X) and ``MultiLabelBinarizer`` is meant to work on labels.
Transforming labels in a pipeline has been a long-standing todo but we don't have consensus on how to do it yet.

[2018-08-21 14:27] mloning commented on #10786
I'm assuming this is the same problem.

[code]
`predict_proba()` works fine, but `predict()` gives the follow error when running the above code:
[code]

[2018-08-21 14:38] drorata commented on #11309
I didn't check `CountVectorizer`. I guess I should check it.

In any case, the example above is `X` and not the target `y`. For me, each observation has a list of keywords and the target is something else (e.g. male or female). I am now trying to wrap a transformer class around `MultiLabelBinarizer`. It seems like this is what I need.

[2018-08-21 15:02] jnothman commented on #11877
Looking at the code I don't think you're right. The distributions array is not modified in-place, but the name is reassigned to a different array. Can you show that I am wrong, i.e. that after that assignment, label_distributions_ and l_previous are identical?

[2018-08-21 15:04] amueller commented on #11309
Well if it's the data than ``MultiLabelBinarizer`` is not the right tool anyway, as it's for labels.
[code]
works.

[2018-08-21 15:29] amueller opened #11878 "Build failures for master/0.20"
This is to track current build failures in case someone wants to help ;)

https://travis-ci.org/MacPython/scikit-learn-wheels

https://github.com/conda-forge/scikit-learn-feedstock/pull/70

Failures here:
https://travis-ci.org/MacPython/scikit-learn-wheels/jobs/404543529
https://travis-ci.org/MacPython/scikit-learn-wheels/jobs/404543530

related to OneClassSVM and Optics.
We should configure pytes

[2018-08-21 15:30] amueller commented on #11878
test_classification_report_dictionary_output fails on 2.7

[2018-08-21 15:37] amueller commented on #11878
Failure on 32bits:
[code]
Should we change the tolerance? This seems not that great.

[2018-08-21 15:39] amueller commented on #11878
[code]
also fails on 32 bit.

[2018-08-21 15:42] amueller commented on #11878
is optics supposed to have NaNs in the test:
https://travis-ci.org/MacPython/scikit-learn-wheels/jobs/404543533#L1352

[2018-08-21 15:45] amueller commented on #11878
classification report fails because recall has a change in the 16th decimal

[2018-08-21 15:49] amueller commented on #11878
@NicolasHug you can help here if you like ;)

[2018-08-21 15:53] amueller commented on #11878
We probably need to port ``AssertDeepAlmostEqual`` https://github.com/larsbutler/oq-engine/blob/master/tests/utils/helpers.py#L214

for the classification report test. Or we need to use the ``decimal`` argument even for the returned dictionary (right now it's ignored in that case).

[2018-08-21 17:17] amueller opened #11880 "test_sparse_oneclasssvm should be parametrized"
This test has several for-loops that should be done as a parametrized test using pytest so we get nicer errors if one fails.

[2018-08-21 17:18] amueller commented on #11878
The failure in the def test_sparse_oneclasssvm and check_svm_model_equal are probably triggered by the ``gamma='scale'`` change. We could use ``gamma='auto'`` in these tests or increase tolerance (though the mismatch is big) or skip them on 32 bits - or try to figure out why libsvm results mismatch on 32 bits lol.

[2018-08-21 17:38] amueller commented on #11878
Can someone with Optics knowledge comment on the failure there? https://travis-ci.org/MacPython/scikit-learn-wheels/jobs/404543529#L1208

[2018-08-21 17:51] KOLANICH commented on #11876
Yes, but I don't need sklearn cv, I need only optimizer. It would be nice to have them separated.

[2018-08-21 17:54] amueller commented on #11876
There is no optimizers here. GridSearchCV is brute force search, RandomizedSearchCV is random search. Check out scikit-optimize for black-box optimization.

[2018-08-21 18:47] amueller commented on #11393
Fixed in #11614.

[2018-08-21 18:47] #11393 closed

[2018-08-21 19:09] KOLANICH commented on #11876
@amueller
1 bruteforce search is also optimizer, since it searches for optimal value of a loss, even though the search strategy may be suboptimal itself (there is ain't such a thing as free lunch, for some functions using smart optimizers is suboptimal)
2 I already use it, and hyperopt too, and bunch of othe4 balack box optimizers, but they are extra dependencies.

[2018-08-21 19:12] amueller commented on #11876
Technically an optimizer, but really doesn't do anything but loop over all possibilities so I'm not sure what functionality / interface you want that's more than just a for-loop.

[2018-08-21 19:33] KOLANICH commented on #11876
OK

[2018-08-21 19:33] #11876 closed

[2018-08-21 19:33] amueller commented on #10748
Also see #10751

[2018-08-21 19:34] hemikak commented on #6871
This worked for me

[code]

[2018-08-21 19:36] #11851 closed

[2018-08-21 19:40] amueller commented on #3270
interestingly enough the BinaryTree.kernel_density function has the default rtol of 1E-8 but documents 0...

[2018-08-21 19:41] amueller commented on #3270
I think we actually might need @jakevdp on this

[2018-08-21 19:47] amueller opened #11883 "Common tests: Check that fit is idempotent, i.e. fitting an estimator twice gives the same result"
See #10977 and #10978.

Well we should probably test that fitting an estimator twice gives the same
result

[2018-08-21 19:57] #11728 closed

[2018-08-21 20:14] #8738 closed

[2018-08-21 20:44] amueller commented on #9969
This actually looks fixed in master.

[2018-08-21 20:44] #9969 closed

[2018-08-21 21:49] amueller commented on #11031
So ``check_classifiers_train`` actually checks
[code]

So we do enforce it.

[2018-08-21 21:51] amueller commented on #4769
from https://github.com/scikit-learn/scikit-learn/pull/4773#issuecomment-123845443

The joblib context manager API is implemented and available in #5016.

We did some profiling with @arthurmensch and apparently we should benefit a lot from skipping redundant inner input data validation checks by introducing a check_input=False flag for the functions called inside the fit loop (the default being ch

[2018-08-21 22:00] amueller opened #11885 "Common tests: no print to stdout?"
I just saw that #10365 added a verbose=1 default argument and I don't think we have tests against that. I think we should be quite by default, but not sure we want to enforce that in ``check_estimator``?

Generally we might want to be a bit more lenient with some things in ``check_estimator`` than we are internally, I think (say error messages), but not sure yet how to best do that.

[2018-08-21 22:02] amueller commented on #2077
This looks resolved.

[2018-08-21 22:02] #2077 closed

[2018-08-21 22:46] jakirkham commented on #4769
FWIW there has been a lot of work on this (particularly in the past few weeks) and IMHO things are getting better.

The main things that remain slow on the sparse coding side are [this copy]( https://github.com/scikit-learn/scikit-learn/blob/83030714d896780e145880e1895042a0918b27eb/sklearn/linear_model/base.py#L123 ) and [`_pre_fit`]( https://github.com/scikit-learn/scikit-learn/blob/83030714d8967

[2018-08-21 22:48] jnothman commented on #11885
I'd be up for enforcing that in check_estimator

[2018-08-21 22:50] jnothman commented on #11885
related: #6929

[2018-08-21 22:51] jakirkham commented on #4769
On the Joblib side, would expect PR ( https://github.com/tomMoral/loky/pull/135 ) ends up being very helpful here as the bigger issue is likely thread contention between the BLAS used and Joblib in sparse coding.

[2018-08-21 23:48] #6556 closed

[2018-08-21 23:50] jnothman opened #11886 "add_indicator switch in imputers"
For whatever imputers we have, but especially [SimpleImputer](http://scikit-learn.org/dev/modules/generated/sklearn.impute.SimpleImputer.html), we should have an `add_indicator` parameter, which simply stacks a [MissingIndicator](http://scikit-learn.org/dev/modules/generated/sklearn.impute.MissingIndicator.html) transform onto the output of the imputer's `transform`.

[2018-08-21 23:51] jnothman commented on #11886
This allows downstream models to adjust for the fact that a value was imputed, rather than observed.

[2018-08-22 00:59] #11559 closed

[2018-08-22 01:30] amueller commented on #11878
Possibly changing the tolerance is enough as a hotfix for OPTICS, it's a very minor mismatch.
If we have that and #11879 we're pretty much good to go. I have issues on appveyor that I don't understand though. Gonna open an issue for that

[2018-08-22 01:32] amueller commented on #11878
Appveyor fails because I'm not running the tests in the right environment / right folder or something:
https://ci.appveyor.com/project/sklearn-wheels/scikit-learn-wheels

ping @ogrisel @rth I'm not sure that the issue is :-/

[2018-08-22 01:32] #11153 closed

[2018-08-22 02:12] btrentini opened #11888 "ModuleNotFoundError: No module named 'sklearn.metrics.cluster.bicluster'"
This error happened out of the blue when I was replicating a Logistic Regression model from
https://dataskunkworks.com/2018/06/05/predicting-customer-churn-with-python-logistic-regression-decision-trees-and-random-forests/

My environment: Anaconda Navigator 1.8.7
Jupyter Notebook: 5.5.0
Windows-10-10.0.10586-SP0
Python 3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AM

[2018-08-22 02:59] espg commented on #11878
It's hard to tell from the output of https://travis-ci.org/MacPython/scikit-learn-wheels/jobs/404543529#L1208 ; the truncated print shows exact matches for the first and last entries. If it's just a slight mismatch due to rounding difference on 32-bit, bumping the decimal place should be fine to fix. If there's a difference in ordering, it may still fail even with the decimal increment. I mentione

[2018-08-22 03:15] amueller commented on #11888
you upgraded an anaconda installation of sklearn with pip. That doesn't work (it's a pip/conda issue they are working on). Never mix the two. Uninstall completely, make sure the folder is deleted, install with anaconda.

[2018-08-22 03:15] #11888 closed

[2018-08-22 03:17] amueller commented on #11878
@espg everybody has access to a virtual machine ;)

[2018-08-22 06:13] drorata commented on #11309
Actually, with one little correction:

[code]

Thanks!

[2018-08-22 06:46] jnothman commented on #11309
I'd suggest

CountVectorizer(analyzer=set).fit_transform(X)

rather than using a lambda. The class set can be pickled, lambdas cannot.

On 22 August 2018 at 16:13, Dror Atariah <notifications@github.com> wrote:

[2018-08-22 07:05] btrentini commented on #11888
Thanks @amueller - I am very new to Anaconda and feel a bit silly now, but that's part of the process. Cheers!

[2018-08-22 07:40] hashamMunir commented on #11785
I am also having same issue:
`DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d`

[2018-08-22 09:29] RankyLau commented on #11880
Hey newcomer here, can I try to handle this issue?

[2018-08-22 09:36] jnothman commented on #11880
sure!

[2018-08-22 11:55] MohammedPUD opened #11892 "homogeneity_score is returning nan"
Hello,
When a large dataset is clustered using KMeans, the homogeneity score metric is returning nan value. However, the problem is not related to the size of the data, as I have tested data with larger sizes with no problems of what so ever. The warning "RuntimeWarning: invalid value ncountered in log  log_outer = -np.log(outer) + log(pi.sum()) + log(pj.sum())" is also displayed before the nan va

[2018-08-22 12:33] mloning opened #11893 "TimeSeriesSplit and required minimum of n_splits"
#### Description
`TimeSeriesSplit.split()` throws error for `n_splits=1` even though in documentation it requires at least 1. Not sure if documentation needs to be updated or bug in `TimeSeriesSplit`?

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results
No error is thrown. In the documentation it requires `n_splits` at least 1 (and not at least 2).

#### Actual Results
[code]

####

[2018-08-22 14:55] MohammedPUD commented on #11892
After investigating the source code where the error is indicating, which is located in the mutual_info_score section of the supervised.py file, I found that the computations of the 'outer' values are overflowing according to the big numbers and limited size of the used data type.
I changed the code at line 604 from
`outer = pi.take(nzx) * pj.take(nzy)`
to
`outer = pi.take(nzx).astype(np.float64) *

[2018-08-22 15:09] stmorse commented on #10545
Identical problem for me.  python 3.5.2, macOS 10.13.6, 4 cores.  Doesn't happen with other classifiers.

[2018-08-22 16:00] amueller commented on #11785
@hashamMunir can you provide code to reproduce?

[2018-08-22 16:00] amueller commented on #11888
It's a common issue, don't feel silly ;)

[2018-08-22 17:27] amueller commented on #10545
Is this http://scikit-learn.org/dev/faq.html#why-do-i-sometime-get-a-crash-freeze-with-n-jobs-1-under-osx-or-linux ?

[2018-08-22 17:45] prathusha94 commented on #11886
Can I  take this up if no  one else is working on it yet @jnothman ?

[2018-08-22 17:50] ferrys commented on #11785
Also encountering this exact same error when importing RandomForestClassifier

Reproduced by `from sklearn.ensemble import RandomForestClassifier`

Versions:
scikit-learn      0.19.2
numpy             1.15.1

[2018-08-22 20:17] rth commented on #11878
Alternatively, see docker setup in https://github.com/MacPython/scikit-learn-wheels/pull/7#issuecomment-415161111

[2018-08-22 23:48] bclayman opened #11895 "Way to Minimize RandomForestClassifier For Prediction Only"
#### Description
RandomForestClassifier Takes Up Enormous Amount of Space; How Can I Minimize it Solely for Prediction Purposes?

#### Steps/Code to Reproduce
[code]
This file is roughly 4GB.  Some back of the envelope calculations:

Assuming each tree is full, there are (2^13) - 1 = 8,191 nodes per tree.  We have 1,000 estimators, so that's 8,191,000 nodes.  4GB = 4 * 10^9.  So bytes per node = 4

[2018-08-23 00:03] jnothman commented on #11893
This looks inconsistent at least

[2018-08-23 00:12] jnothman commented on #11892
I think this code is already changed in master. please check if your issue
is still present.

[2018-08-23 00:14] jnothman commented on #11886
Go for it

[2018-08-23 02:01] #11880 closed

[2018-08-23 03:09] ben-ix opened #11897 "Remove Hardcoded Thresholds in Repr"
#### Description
Repr cuts off outputs when they are going to be longer than 500 characters.

While the [python docs ](https://docs.python.org/3/library/functions.html#repr) dont say it is a requirement, they do state "For many types, this function makes an attempt to return a string that would yield an object with the same value when passed to eval"

It would be nice to be able to do something si

[2018-08-23 03:48] ben-ix commented on #11897
Sorry I forgot to include relevant code, this is with classifiers (haven't tried with regressors). Relevant repr: https://github.com/scikit-learn/scikit-learn/blob/f0ab589f/sklearn/base.py#L286

And the issue lies in the _pprint function: https://github.com/scikit-learn/scikit-learn/blob/f0ab589f/sklearn/base.py#L156

[2018-08-23 04:40] alexsieusahai commented on #11865
I'll take this.

[2018-08-23 05:32] rth commented on #10773
Fixed in https://github.com/scikit-learn/scikit-learn/pull/11870

[2018-08-23 05:32] #10773 closed

[2018-08-23 05:34] rth commented on #8399
FYI https://github.com/scikit-learn/scikit-learn/pull/11870 (about deprecating min_samples_leaf and min_weight_fraction_leaf) has been merged.

[2018-08-23 05:51] nakebull commented on #8588
for those local file not working, try to create a new notebook and do the samething

[2018-08-23 06:57] SirR4T commented on #10548
I'm claiming the `linear_model` module. will raise a PR soon.

[2018-08-23 07:45] jnothman commented on #8588
I'm not sure what @nakebull. At least we now have fetch_openml, although openml and mldata have different datasets and openml delivers dats in a text based format that is more flexible, but slower to load.

[2018-08-23 09:45] Preeti-Parihar commented on #11257
As stand input checks are only applied to y.

[2018-08-23 09:45] SirR4T commented on #10548
Checklist of modules where this needs to be done:

- [ ] developers
- [ ] covariance
- [ ] decomposition
- [ ] dummy.py
- [ ] ensemble
- [ ] feature_extraction
- [ ] feature_selection
- [ ] gaussian_process
- [ ] kernel_approximation.py
- [x] linear_model via #11900
- [ ] manifold
- [ ] metrics
- [ ] mixture
- [ ] model_selection
- [ ] multiclass.py
- [ ] multioutput.py
- [ ] neighbors
- [ ] neura

[2018-08-23 10:37] SirR4T commented on #10548
@jnothman thanks! will update the PRs for to mention the reproducibility when passing an int.

[2018-08-23 22:33] #8399 closed

[2018-08-23 22:34] amueller commented on #8399
I think this is ok to close. We might want to think about adding the actual pruning options.

[2018-08-23 22:58] maxcopeland commented on #11858
Hi @jnothman, is it cool if I help on this?

Since `load_mauna_loa_atmospheric_co2()` only outputs the date and co2 data (and mldata only has the two), are you thinking have just those two features on openml? Or upload the full dataset from its original source and parse as needed?

[2018-08-24 00:04] jnothman commented on #11858
We also only use monthly averages. I'd upload as much detail as I can, but
maybe make an aggregated version available

[2018-08-24 00:12] dsaxton opened #11904 "ENH: Ordinal logistic regression"
Ordinal logistic regression (the proportional odds model) is a nice set of models that allow for the classification of ordered categories using the same machinery as binary logistic regression.  As far as I know these models aren't implemented outside the specialized `mord` package, and I think they could make a nice addition to the `sklearn` arsenal.  The implementation is fairly straightforward,

[2018-08-24 01:09] jnothman commented on #11883
you're given an instance, not a class, and you want to fit the same
instance twice: fit should start from scratch by default. at least I took
that's what @amueller wants tested.

[2018-08-24 05:39] zjpoh opened #11906 "Better error message for invalid metric in NearestNeighbors"
#### Description

Error message for invalid metric in NearestNeighbors is unclear.

#### Steps/Code to Reproduce

[code]

#### Expected Results

Error message stating that metric should be 'cityblock', ... or callable rather than metric not valid for algorithm 'auto'. When I initially saw the error message, I did not realize I had a typo in the metric string. I thought it has something to do with

[2018-08-24 08:03] agramfort commented on #11904
I would start by putting this in a scikit-learn-contrib package.

[2018-08-24 11:29] rth opened #11908 "test_logistic::test_dtype_match failure on 32 bit Windows"
The `test_logistic::test_dtype_match` fails on 32 bit Windows as was reported in https://github.com/MacPython/scikit-learn-wheels/pull/7#issuecomment-415294456 The implication is that for LogisticRegression,  float32 and float64 input may result in somewhat different models depending on the processor architecture (and OS), which is troublesome.

This applies to Python 3.5, 3.6 but not 2.7, 3.4 and

[2018-08-24 22:26] mwharton3 opened #11909 "Request: element removal option for neighbors.KDTree"
It would be useful to be able to delete elements from a previously constructed KD-tree. This would be a method of the KDTree class, i.e. KDTree.delete(index). This could save time in constructing a new KD tree in the case of, for example, decimation.

This is outlined in the original <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.160.335&rep=rep1&type=pdf">KD-tree paper (Bentley

[2018-08-25 06:00] BStudent commented on #9949
Tell that to Coursera ...

In sklearn V 0.18.1, which students are forced to use in some NN classes there as I write, the PCA implementation does not make singular values available, although their squares are provided if one sets the flags right.

Calling this object "PCA" when it behaves more like general SVD (without the S until version 19), violates implicit assumptions made by practitioners in

[2018-08-25 06:48] Piyushohri1 opened #11911 "wrong statement in documentation"
For instance many elements used in the objective function of a learning algorithm (such as the RBF kernel of Support Vector Machines or the L1 and L2 regularizers of linear models) assume that all features are centered around 0 and have variance in the same order. If a feature has a variance that is orders of magnitude larger that others, it might dominate the objective function and make the estim

[2018-08-25 08:26] SirR4T commented on #10548
willing to take up all the other modules in another PR, once these have been reviewed?

[2018-08-25 11:25] rth commented on #11906
PR welcome to improve the error message. For instance, in this case providing some expression to list all the valid metrics would make sense, as it was done for scorers in https://github.com/scikit-learn/scikit-learn/pull/11738

We can't list all the metrics in the error message directly though, because it would be more tedious to maintain (cf link above).

[2018-08-25 23:30] gwerbin commented on #11777
I'm willing to put in the work to implement and test a generic wrapper for label alignment for the multiclass, multiclass-multioutput, and multilabel-indicator cases, but I'm not familiar enough with Scikit-learn to know when and where to inject them.

Is there interest in pursuing this further? Should I follow up on the mailing list instead of here?

[2018-08-26 00:35] dsaxton commented on #11904
@agramfort Thanks.  Can you point me to some documentation that gives the minimal requirements for such a package?

[2018-08-26 10:37] udaykeith commented on #11793
Hey jnothman, is the way forward with this issue to include a metric_params parameter? If yes, I'll go for it.

[2018-08-26 18:21] matiasbattocchia opened #11912 "ColumnTransformer fails with mixed input types"
#### Description

I found this issue while working with OneHotEncoder which output is a sparse matrix by default.

In order to reproduce the issue using mock data I am forcing `sparse_threshold=1.0`. The issue does not occur if the input of ColumnTransformer are all sparse matrix or all dense matrix, nor if the output is a dense matrix. It happens when the input is mixed (a sparse matrix and a den

[2018-08-26 18:29] matiasbattocchia commented on #11912
A workaround is defining ColumnTransformer without mixing input types in transformers.
[code]

[2018-08-26 19:02] TheShadow29 commented on #11785
Can confirm getting the same error using the import line by @ferrys

[2018-08-26 20:00] #9997 closed

[2018-08-26 21:57] jorisvandenbossche commented on #11912
@matiasbattocchia Thanks for the report!

The underlying reason is that when converting a DataFrame with numeric/boolean columns to an array, pandas gives it an object dtype to preserve the True/False values:

[code]

although if numpy concatenates the individual arrays (for each column), it will coerce the booleans to floats (which is why your workaround works as expected).

In some way you could

[2018-08-26 21:59] xhlulu commented on #11772
Any idea what are the timelines for the 0.20 release? I'll start a PR and close this issue after the new release so it doesn't put extra work on the devs, and so that it doesn't conflict with the new version.

[2018-08-26 21:59] jorisvandenbossche commented on #11912
BTW, note that also the non-sparse case does not fully what you would like, as it outputs an object array:

[code]

However, this might be less noticed, as any subsequent sklearn model that ensures the input is a numerical array will simply convert the above to the correct float array.

[2018-08-26 22:05] NicolasHug commented on #11772
It should be matter of weeks.

But in any case, you don't need to close this issue yourself. It will be closed automatically once your PR is merged, as long as you add something like "closes #11772"  in the body of your PR.

Also don't worry about any conflict with the new version. The devs will review your PR when they have time, that just means probably after the release.

[2018-08-27 02:34] xhlulu commented on #11772
Cool, sounds good! I'll get started with the PR then 👌

[2018-08-27 03:44] xhlulu commented on #11772
Just read the libsvm and liblinear documentations. Noticed some things that might be confusing:
1. The LinearSVC implementation in liblinear uses both L1/L2 penalty, as well as L1/L2 loss. This part could be confusing to beginners, which I think could be explained more clearly if we give the equations associated with each (taken from the liblinear paper):
![a1](https://user-images.githubuserconten

[2018-08-27 10:32] agramfort commented on #11904
please have a look at:

https://github.com/scikit-learn-contrib/scikit-learn-contrib/blob/master/README.md

[2018-08-27 11:14] hoyeunglee opened #11919 "How to count specified result in metric"
If test result have 0 and 1 but would like count 1 match 1 only , exclude 0 match 0
How to make score or other metric do thIs?

[2018-08-27 13:44] RDMelamed opened #11920 "Intercept problems for logistic regression, imbalanced classes, and features where all observations = 1"
#### Description
I am doing a logistic regression with imbalanced classes (85% of examples are positive).  When a feature is included that is all "1" (the first column of X below), so it has no predictive value of the label, it sometimes gets a strong positive coefficient. I assume this has to do with this feature replacing the intercept somehow (I have not changed the intercept settings).  Bizarr

[2018-08-27 21:32] oleksandr-pavlyk commented on #11517
@dillongardner You were right. The fact that default weights are one is crucial here. `l_bfgs_b` was minimizing `sum(log_loss(x_i), i) + penalty(x)`, while I was computing gradient of `(1/n)* sum(log_loss(x_i), i) + penalty(x)`, which was expectedly non-zero.

[2018-08-27 21:32] #11517 closed

[2018-08-27 22:40] jnothman opened #11924 "Multinomial LogisticRegressionCV with lbfgs non-deterministic on Travis Mac OS"
See https://github.com/MacPython/scikit-learn-wheels/pull/7#issuecomment-416202982

[2018-08-27 23:12] jnothman commented on #11924
These kinds of cross-platform inconsistencies often come from things like uninitialised memory... Not sure where to look.

[2018-08-27 23:43] hoyeunglee commented on #11919
i solved by using binary

[2018-08-27 23:43] #11919 closed

[2018-08-28 01:02] jnothman commented on #11919
I don't know what "I solved using binary" means. You want a metric like Precision or Recall or Jaccard.

[2018-08-28 01:49] hoyeunglee commented on #11919
If result = y_test = [0,0,0] , the score is 100% but it is meaningless or wrong
So I only care 1 result

[2018-08-28 01:54] hoyeunglee commented on #11919
I mean average=binary instead of macro

[2018-08-28 05:26] jnothman commented on #11924
At #11925 I was trying to identify whether the discrepancy came from the initial fits for each fold, or from the refit process in LogisticRegressionCV (as this would make sense for why it's broken only for the CV variant).

From https://travis-ci.org/scikit-learn/scikit-learn/jobs/421403473#L375 we see that while the binary logistic fits produce an identical model each time, the mean coefficients

[2018-08-28 07:41] jnothman commented on #11924
The fact that this occurs when `multi_class='multinomial'` and not with `ovr` or binary problems sent me to investigate the gradient function `_multinomial_loss_grad`, but I can't see an issue there.

I'm wondering if we should just skip the test on mac: I presume that this same bug was present, but not tested for, in 0.19, so it's not really release sensitive!!

[2018-08-28 08:33] albertcthomas opened #11926 "DOC: No method signature shown in API doc when method uses a decorator"
#### Description
For a few estimators (LOF, SGD), some methods are defined with a decorator (`fit_predict`, `predict` and `decision_function` for LOF, `predict_proba` for SGD). The signature of these methods do not appear in the documentation of the estimator and these methods are not listed in the Methods section. See [LocalOutlierFactor.fit_predict](http://scikit-learn.org/dev/modules/generated/

[2018-08-28 08:38] Guinsoon opened #11927 "IsolationForest with categorical attributes"
IsolationForest is implemented with a bagging of ExtraTreeRegressor and the author of extrmely randomized trees propose  a way to generate random (binary) splits by selecting a random subset of
their possible values.
Can IsolationForest handle with categorical attributes in sklearn？

Ref.
https://orbi.uliege.be/bitstream/2268/9357/1/geurts-mlj-advance.pdf

[2018-08-28 08:46] rth commented on #11924
Thanks for investigating this! +1 to skip that assert for now.

[2018-08-28 11:50] dennlinger opened #11928 "[documentation] Outdated information for multiclass classification"
[This page](http://scikit-learn.org/stable/modules/multiclass.html) shows a great overview over different multiclass classification strategies.

I noticed that both`sklearn.svm.NuSVC`, as well as `sklearn.svm.SVC` are still listed under OVO strategies, although the default is now a OVR strategy.

Maybe this can be indicated by either a "setting decision_function_shape='ovo', or moving them to anot

[2018-08-28 13:47] omarcr opened #11930 "LinearDiscriminantAnalysis dim reduction not working for a 2 class problem"
When the following code is executed:

`        Y = discriminant_analysis.LinearDiscriminantAnalysis(n_components=2).fit_transform(X, y)
`
for a 2-class problem the following is returned:
[code]
A 1-D vector is returned when a 2-D vector should be returned

Are there currently any workaround this issue?

[2018-08-28 13:54] agamemnonc opened #11931 "multioutput argument is not supported in RegressorMixin score method"
Currently it is not possible to use the `score()` method in any regressor and specify the `multioutput` variable, as we can otherwise do if we use the `r2_score()` function directly.

For example, this works fine:

[code]

However, the following is not currently possible:

[code]

All that needs to be done to fix this is to include the `multioutput` arugment in the `score()` method of the `Regress

[2018-08-28 14:04] agamemnonc opened #11932 "normalize argument is not supported in ClassifierMixin score method"
This is related to #11931.

Currently it is not possible to use the `score()` method in any classifier and specify the `normalize` argument, as we can otherwise do if we use the `accuracy_score()` function directly.

For example, this works fine:

[code]
However, the following is not currently possible :

[code]

All that needs to be done to fix this is to include the `normalize` arugment in the `

[2018-08-28 17:20] robianmcd commented on #8592
I have an example here where the class weight doesn't start to have an effect until it is around 1:10,000,000. Is this expected?

https://github.com/robianmcd/classifier-demo/blob/class-weights/telco-churn.ipynb

I'm using a customer data set from this blog post https://www.ibm.com/communities/analytics/watson-analytics-blog/predictive-insights-in-the-telco-customer-churn-data-set/ and trying to p

[2018-08-28 18:49] abhishekreddyc commented on #11773
Hi jnothman,

How do i find your mailing list or stack overflow to post my questions. Can you please direct me.

Thanks,
Abhishek

[2018-08-28 21:09] jnothman commented on #11931
Not really odd. sample_weight is a property of the data, not the metric.

[2018-08-28 21:11] jnothman commented on #11773
http://scikit-learn.org/stable/support.html

[2018-08-28 21:33] williamsmj opened #11934 "SelectFromModel's _get_support_mask method should be public and documented"
`SelectFromModel`'s `_get_support_mask` method is a useful way of figuring out which features were selected (or dropped). There other ways, but this one liner is the most direct.

But it's undocumented, so you have to read the source code to figure this out. And the method is named with a leading underscore (presumably to indicate that it is an unsupported private method and liable to change).

I

[2018-08-28 21:43] avidale commented on #3148
ping

[2018-08-28 22:44] agamemnonc commented on #11931
OK

[2018-08-28 22:44] #11931 closed

[2018-08-28 22:44] agamemnonc commented on #11932
See discussion in #11931

[2018-08-28 22:44] #11932 closed

[2018-08-28 23:04] jnothman commented on #11934
I think that would be acceptable.

I should note that calling transform on `np.arange(n_features).reshape(1,
-1)` should also do the trick.

[2018-08-29 01:18] jnothman commented on #8592
Have you seen otherwise in other svm implementations?

[2018-08-29 02:29] jnothman commented on #11927
Poor support for categorical variables is a long-known limitation of our tree implementation, with a potential fix (long awaiting review) at #4899.

I'm closing this as a duplicate of #5212 and others (#9968, #11258, ...).

[2018-08-29 02:29] #11927 closed

[2018-08-29 02:34] jnothman commented on #11772
That's one reason we refer to it as "hinge" and "squared hinge" rather than "l1" and "l2" loss

[2018-08-29 02:38] Guinsoon commented on #11927
Thank you :)

[2018-08-29 02:43] jnothman commented on #11926
For a generic solution, this may need to be something fixed/supported in numpydoc. Putting the signature in the first line of the docstring is, I think, an acceptable workaround.

[2018-08-29 02:54] jnothman commented on #11927
You can thank me when I review that pull request 🤯

[2018-08-29 06:15] nchos88 opened #11938 "indent problem in jupyter notebook"
When i import preprocessing package, i got error message like below.
It's work fine when i execute same code in other IDE or python shell.

environment : windows10
scikit-learn version : scikit-learn              0.19.1           py36h53aea1b_0

code  :
[code]

[2018-08-29 06:46] jnothman commented on #11938
if len(diff) does not exist in scikit-learn 0.19.1: https://github.com/scikit-learn/scikit-learn/blob/0.19.1/sklearn/preprocessing/label.py#L151. Someone has modified that line in your copy and broken it.

[2018-08-29 06:46] #11938 closed

[2018-08-29 07:51] #11893 closed

[2018-08-29 07:53] rth commented on #11878
All scikit-learn-wheels should have been fixed (or skipped), @jnothman is there anything remaining before creating the `0.20.X` branch, and incrementing versions there  ?

http://scikit-learn.org/stable/developers/maintainer.html#making-a-release

[2018-08-29 08:00] jnothman commented on #11878
I think we're good to branch now. And if my scikit-learn-wheels PR (
https://github.com/MacPython/scikit-learn-wheels/pull/7) turns green, I
assume @ogrisel or @amueller should merge.

Are you intending to do the branching?

On Wed, 29 Aug 2018 at 17:53, Roman Yurchak <notifications@github.com>
wrote:

[2018-08-29 08:07] rth commented on #11878
If you can, please do :)

MacPython/scikit-learn-wheels#7) turns green

Yes, but wouldn't it be better to update the version in the branch and the submodule in the wheels PR to point to `0.20.X` first ?

[2018-08-29 09:44] #11829 closed

[2018-08-29 12:52] deepankar27 opened #11940 "Different Probability scores in different systems"
Hello Team,

I am using LogisticRegression & TfidfVectorize. I have set random_state - 5 in LogisticRegression. Issue is when I train the model to test in my local & Dev server then it's giving confidence scores for few categories to 0.3 where as on same dataset & program when I am using it to different server to create the model & predict it's giving me 0.7 for the same category. And this is happ

[2018-08-29 14:15] rth commented on #11940
Thanks for the report! Could you please provide a self contained minimal example that reproduces it (that we could run)?  Also please provide system / dependencies versions as indicated in http://scikit-learn.org/stable/developers/contributing.html#filing-bugs?

It's most likely this is coming from LogisticRegression, there is a possibly (remotely) related report in https://github.com/scikit-learn

[2018-08-29 14:29] robianmcd commented on #8592
I actually tested this with a decision tree and a random forest. With SVM I have no issue with class weight. Even if I set the class weight to 2 for one of the classes it has a big effect. So I guess my issues is unrelated to the original issue.

[2018-08-29 15:57] deepankar27 commented on #11940
Let me know if the below information is sufficient for you?

[code]

OS version in DEV : CentOS 7.1
OS version in UAT : CentOS 6.9

[2018-08-29 17:48] csbrown opened #11942 "How to compile cython code when installing from source?"
I have looked through the docs, but cannot find instructions on the best way to generate cython c source when installing sklearn from source.

What to do:

Download sklearn source and untar it to `sklearn_dir`.
Edit some `.pyx` file or another

`$ cd sklearn_dir`
`$ pip3 install --user -U .`

Observe that the related `.c` files are unchanged, and that the scikit learn installation does not reflect

[2018-08-29 18:08] csbrown commented on #11942
I found this thing lurking in the codes somewheres:

[code]

I suppose the official method is to just delete the `PKG-INFO` file.  Possibly, still, this should be documented somewhere?  Any thoughts?

[2018-08-29 19:48] vijayvarma392 opened #11943 "Is alpha really the same as WhiteKernel with c=alpha?"
https://github.com/scikit-learn/scikit-learn/blob/27972d429db0cce5f6dfb6206b868aa353d5e516/sklearn/gaussian_process/gpr.py#L56

This line in the doc string says that WhiteKernel with c=alpha is the same as setting alpha.
But then it also says that "If an array is passed, it must have the same number of entries as the data used for fitting".  I'm not sure how both can be true.

In Eq.(2.21) of Rasm

[2018-08-29 21:13] xhlulu commented on #11772
Yeah that makes a lot of sense

[2018-08-29 22:01] handongfeng commented on #11488
any updates for this issue?

[2018-08-29 22:50] rth commented on #11942
You should install with the `--editable (-e)` flag, that's equivalent to `setup.py develop`: then you can change cython files and re-running,
[code]
will re-compile only the changed Cython files.

[2018-08-29 23:53] jnothman commented on #11488
I have no idea what you're talking about @handongfeng

[2018-08-30 00:00] jnothman commented on #8592
And I suspect it's something about the data...

[2018-08-30 00:03] jnothman commented on #11940
This is not the same as any known bug. I suspect it's something weird with
your data, but it would be hard to tell without looking and trying. We
can't assure cross-platform agreement in all cases due to their
computational architectures.

Does changing C fix the problem?

[2018-08-30 00:10] jnothman commented on #11943
@jhmetzen?

[2018-08-30 01:51] lobpcg commented on #6489
That may be a bug in LOBPCG code. I'll try to investigate.

[2018-08-30 06:51] ledell commented on #6747
@amueller @jnothman @rhiever I realize it's a bit too late to weigh in on this debate over the definition of _balanced accuracy_, but my understanding of the definition is consistent with Randy's (mean of per-class accuracy).  For what it's worth, it's also the definition that Chalearn uses in their AutoML competition: https://competitions.codalab.org/competitions/7461#learn_the_details-evaluation

[2018-08-30 07:30] jnothman commented on #6747
I don't think it's too late... Our implementation hasn't been released yet. But it could be next week.

We can roll back multiclass balanced accuracy support. I would be keen to release it but emphasise that other people mean something else by the term. (For good or bad, this is true of many metrics.) But I'm being a bit dogmatic on this front which is not entirely Scikit-learn style, as we prefer

[2018-08-30 07:36] jnothman commented on #6747
To summarise my arguments:
* macro-average recall reduces to binary balanced accuracy trivially
* macro-average recall is identical to accuracy with "balanced" sample weights
* macro-average recall has the nice property of ROC AUC that it obtains a constant value for random predictions

On the other hand, I think averaging accuracies will give a lot of prominence to small classes, because you will

[2018-08-30 08:28] jnothman commented on #11909
I'm not sure this is a common machine learning use case, so we are not likely to prioritise it being implemented

[2018-08-30 08:31] jnothman commented on #9949
Please offer improvements to the documentation as a pull request. I don't
think in this case that changing names will happen in the near future.

[2018-08-30 09:33] jnothman commented on #11911
There are, no doubt a plethora of wrong statements in the documentation. It's hard to tell here what statement you refer to. Please submit a pull request improving the documentation or at least be more specific here on what you would change

[2018-08-30 09:51] jnothman commented on #11777
I think you need to wait a few weeks. Core Devs are either vacationing or
exhausted from trying to release version 0.20. Then working towards a
tangible proof of concept would be interesting. But I promise a long road
before we achieve consistency and consensus. Very often multiclass cannot
just be handled with LabelBinarizer. And yes, you might get different
people responding if you advertise on

[2018-08-30 09:53] jnothman commented on #11793
I think so

[2018-08-30 16:17] JarnoRFB opened #11951 "Scoring for dummy classifier does not work without test samples"
When using the `Dummy classifier`, it is possible to fit the classifier without providing any examples, which makes sense as the classifier only operates on the targets. However, it is not possible to score the classifier without providing examples. Using `DummyClassifier` without examples is helpful if the examples, but not the targets, are to big to fit into memory. One can still get around this

[2018-08-30 16:33] BStudent commented on #9949
@jnothman: first, kudos for your diplomatic skills.  I appreciate that it's many kinds of bad to break code people are using.  I could certainly figure out how to rephrase the above into something less ranty (or at least get the concept across in a positive message) for doc purposes.  If it works in the grand scheme, maybe I can put a wrapper with a more appropriate name on the existing code (espe

[2018-08-30 16:50] somitmittal commented on #11673
Hi this is Somit. I am new to open source but I would like to contribute. Please help me with how I can start contributing. How to generate a pull request. I have programming experience :)

[2018-08-30 19:46] alexitkes opened #11952 "Can I use leaky-relu function for MLPs?"
The Leaky-ReLU activation function for MLPs (max(x, alpha *x) where alpha is a small number around 0.01) is rumoured to work better than ReLU in some cases. Unfortunately, I din't find any way to use if tor MPLClassifier or MLPRegressor. I can try to implement it myself, but I am still not familiar enough with SciKit-Learn source code to do it quickly. Maybe there is a proper way to use it?

[2018-08-30 22:32] jnothman commented on #11951
I suppose this would be consistent. PR welcome

[2018-08-30 22:34] gwerbin commented on #11777
Thanks @jnothman . What would be an example where multiclass can't be handled with LabelBinarizer, or LabelEncoder -> LabelBinarizer?

Another quick-fix solution would be to add an option like `LabelEncoder(..., fill_missing=-1)` and `LabelBinarizer(..., missing_indicator=-1)`, which would result in something like this:

[code]

[2018-08-31 00:42] jnothman commented on #11952
See #10665

[2018-08-31 00:42] #11952 closed

[2018-08-31 00:46] jnothman commented on #11777
Trees, for instance.

[2018-08-31 00:56] qinhanmin2014 commented on #11771
Closing given joblib 0.12.3.

[2018-08-31 00:56] #11771 closed

[2018-08-31 05:05] michaeloc opened #11954 "Optics"
#### Description
Unknown metric haversine. Valid metrics are ['euclidean', 'l2', 'l1', 'manhattan', 'cityblock', 'braycurtis', 'canberra', 'chebyshev', 'correlation', 'cosine', 'dice', 'hamming', 'jaccard', 'kulsinski', 'mahalanobis', 'matching', 'minkowski', 'rogerstanimoto', 'russellrao', 'seuclidean', 'sokalmichener', 'sokalsneath', 'sqeuclidean', 'yule', 'wminkowski'], or 'precomputed', or a c

[2018-08-31 07:11] gwerbin commented on #11777
@jnothman in which case you can still use LabelEncoder, right?

[2018-08-31 09:56] azrdev opened #11956 "add **kwargs to sklearn.multiclass.(OneVsOne,OneVsRest).fit(X,y)"
#### Description
I'm implementing a binary classifier. To support multi-class problems, I copied the [approach from Gaussian process classification](https://github.com/scikit-learn/scikit-learn/blob/e00817db387ea93c05514b2c23d36c1e1e260ae0/sklearn/gaussian_process/gpc.py#L624..L634): if n_classes > 2, wrap the binary classifier in a `OneVsOneClassifier` or `OneVsRestClassifier`.

However, this is

[2018-08-31 14:14] adrinjalali commented on #11956
This relates to #4497 and #9566. It is unfortunately not as straightforward as one would think, considering all the issues discussed in those threads.

[2018-08-31 14:29] kastnerkyle commented on #6175
Dropout may well open pandora's box - batch norm, layer norm, and many other regularizers become plausible and are equally valid from an "it's common usage" perspective, if anything dropout is (at this point) rare in recent publication compared to batch norm or other norm based regularization.

If included, it should probably also come with some discussion of where to draw the boundary - for me th

[2018-08-31 14:42] adrinjalali commented on #11954
AFAIK, at the moment `OPTICS` supports what's supported in `NearestNeighbors` and `pairwise_distances`, which is what you see in the reported list.

Is this a feature request?

Funny enough, the `metric`'s documentation doesn't even include all the options reported in your error message.

I've noticed the documentation of `metric` could be better. It's WIP (#11857)

[2018-08-31 15:38] adrinjalali commented on #6231
Is adding `classes` to all classifier inits still on the table? If yes, I could work on it.

[2018-08-31 16:33] lobpcg commented on #10278
It appears to be the same bug as in https://github.com/scikit-learn/scikit-learn/issues/6489

[2018-08-31 17:06] amueller commented on #11934
what's the issue with ``get_support()``?

[2018-08-31 19:16] amueller opened #11960 "MNIST MLP weights seem off"
http://scikit-learn.org/dev/auto_examples/neural_networks/plot_mnist_filters.html#sphx-glr-auto-examples-neural-networks-plot-mnist-filters-py
All but a few are completely white. That seems strange.

[2018-08-31 19:18] amueller commented on #11960
fc56da504d8e764816109727cec8d02fd775832a removes the division by 255

[2018-09-01 00:58] soup-campbell commented on #9927
When using n_jobs=-1 with a single processor, program hangs. Changing n_jobs=1 program works fine.
by Program Hangs I mean 24 hours without completing. By works fine, I mean program completes in less than 5 minutes. Program to generate these results was the same as the one at the top of this thread.

[2018-09-01 01:33] amueller opened #11962 "build RC on debian"
@yarikoptic can you please run the 0.20rc1 on your debian build system thing? Thanks!

[2018-09-01 07:56] #11960 closed

[2018-09-01 08:37] lesteve commented on #11942
Closing, it seems like the question has been answerered.

[2018-09-01 08:37] #11942 closed

[2018-09-01 09:00] lesteve commented on #11878
I am assuming that it can be closed since everything seems to be green now. Please reopen with a summary of the remaining problems if I missed something.

[2018-09-01 09:01] #11878 closed

[2018-09-01 09:03] lesteve commented on #11911
I am going to close this one. @Piyushohri1 please follow @jnothman's advice and do reopen when you description is more focussed on a specific problem.

[2018-09-01 09:03] #11911 closed

[2018-09-01 11:56] lesteve commented on #11926
I think this is true for `@property` decorators.

Some other decorators work fine for example: [Pipeline.predict](http://scikit-learn.org/dev/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.predict).

Not sure if that helps ...

[2018-09-01 12:46] massich commented on #10278
@lobpcg I'm not really sure that they are related. @jmargeta I'm trying to replicate it on my machine but it works fine for me. I opened #11965 to see if any CI complains. Maybe I'll have to run the test with several seeds to see if it breaks

[2018-09-01 12:58] massich commented on #6489
I can replicate the error, but I don't think that there's any problem with it but rather an ill-post example.

[2018-09-01 14:02] jnothman commented on #11956
In the specific case of OvR/OvO, I don't see what the problem would be with
forwarding all kwargs

But I've not considered it much

[2018-09-01 14:04] jnothman commented on #11954
And yet, you can use a callable arbitrary distance

[2018-09-01 14:06] chibby0ne commented on #11673
Hey @amueller I've started working on this during the EuroSciPy sprint guided by @lesteve

PR is: https://github.com/scikit-learn/scikit-learn/pull/11967 and its still WIP because I want to add some tests that properly check the parameters relationship.

[code]

[2018-09-01 14:06] jnothman commented on #6231
Defining predict_proba, decision_function and model attributes got very
hairy for unseen classes... And there remained questions of how/when to
pass things around... It's still unclear.

[2018-09-01 15:07] lobpcg commented on #6489
One can set in lobpcg the value verbosityLevel = 1 to see the screen output after every iteration. The most important output to check is residual norms. The lobpcg code stops when all residual norms are below the tolerance. In the example above the max residual norms drops below 1e-10 but then starts growing and soon crashes. The fact that the residual norms cannot get smaller than  1e-10 is, inde

[2018-09-01 15:29] michaeloc commented on #11954
I'm using callable functions, thanks!

On Sat, Sep 1, 2018, 11:05 AM Joel Nothman <notifications@github.com> wrote:

[2018-09-01 15:30] rth commented on #2354
For the record, just double checked -- this issue is still relevant currently.

For instance, using `M = 5000` has a peak memory requirement of 673 MB, while with the same arrays shape, if we cast it to dense, it only requires 84MB..

[2018-09-01 15:56] amueller commented on #2354
Thanks for checking. I didn't follow the discussion back then but now it seems like this is something we can have an easy work-around for.

[2018-09-01 15:58] robbymeals commented on #11778
Thanks, no worries. I just wanted to make it clear I was offering to do some work if you guys deemed it useful. Good luck on the release and thanks for all your work from the bottom of my heart.

[2018-09-01 16:13] amueller commented on #6231
There's actually a pretty good step towards this in #9585. There's also a PR that adds classes everywhere  #9532 but that's indeed hairy.

[2018-09-01 16:38] glemaitre commented on #10278
On the top of the head, @massich be sure that we have the package linked to the solver installed on appveyor.

[2018-09-01 17:00] lobpcg commented on #10278
It is easy to check if it is the same bug. One can set in lobpcg the value verbosityLevel = 1 to see the screen output after every iteration. The most important output to check is residual norms. The lobpcg code stops when all residual norms are below the tolerance. If the max residual norms drops below some value, which is larger than the tolerance, but then starts growing and soon crashes, may a

[2018-09-01 18:51] billtubbs commented on #11785
I get same warning as @ferrys above.

python: 3.6.6
numpy: 1.15.1
sklearn: 0.19.2

[2018-09-01 19:29] amueller commented on #11785
Mind checkin with scikit-learn 0.20rc1?

[2018-09-01 20:43] tdpetrou opened #11969 "ColumnTransformer not dropping string columns after encoding without Pipeline"
#### Description
ColumnTransformer works properly when the transformer is a Pipeline, but not if its a list of estimators.

#### Steps/Code to Reproduce

[code]

#### Expected Results
[code]
#### Actual Results
[code]

### Correct results produced with a Pipeline
[code]

#### Versions
Darwin-17.7.0-x86_64-i386-64bit
Python 3.6.4 |Anaconda custom (64-bit)| (default, Mar 12 2018, 20:05:31)
[GCC 4.2.

[2018-09-01 21:01] billtubbs commented on #11785
Sure. How to do that?  I got this far:

[code]

[2018-09-01 21:12] nikhilchh commented on #3450
Can somebody please explain the difference between:
- average='sample' and
- average='weighted'
for **MULTILABEL** case.

I understand 'weighted'. It multiplies weight for each label to the accuracy for that label before taking the average.
Where, weight for label 'x' = (num samples with 'x' label)/( all samples)

[2018-09-02 08:44] rth opened #11970 "Avoid copies in array.astype"
By default the following code, for an array `X`,
[code]
will trigger a memory copy, including when `X` is of dtype `float64`, which can have a significant impact on runtime performance (cf. e.g. https://github.com/scikit-learn/scikit-learn/pull/11966#issuecomment-417913111)

In https://github.com/scikit-learn/scikit-learn/pull/11966 @massich made a list of places where this may be relevant.

Overa

[2018-09-02 08:57] giodegas opened #11971 "PyPy in docker with Jupyter with 0.20.rc1"
Running

    pip install --pre scikit-learn

in a [docker container](http://hub.docker.com/r/giodegas/pypy-jupyter/) with

    docker pull giodegas/pypy-jupyter:scipy

The error:

    /usr/local/site-packages/sklearn/externals/joblib/externals/loky/backend/compat.py in <module>()
         10 if sys.version_info[:2] >= (3, 3):
         11     import queue
    ---> 12     from _pickle import Picklin

[2018-09-02 08:59] giodegas commented on #11971
As described [here](http://stackoverflow.com/questions/46336191/importerror-no-module-named-pickle), it should be:

    import pickle

[2018-09-02 09:01] giodegas commented on #11971
If you find missing parts/libraries in my container, please open issues at the original repo:

[giodegas/docker-pypy-jupyter](http://github.com/giodegas/docker-pypy-jupyter)

[2018-09-02 09:06] rth commented on #11971
Thanks for the report! Indeed there was an update of the vendored version of joblib which includes loky since the PyPy PR was merged. This went undetected as currently we are still not running PyPy CI (need to fix that).

To fix this issue, one would need to make a PR to https://github.com/tomMoral/loky to fix this. Once it is fixed there (or at least the tests pass), we can make another PR in sci

[2018-09-02 09:31] giodegas commented on #11971
Opened [issue 157](http://github.com/tomMoral/loky/issues/157)  in loky.
I will do the manual fix locally , see if it works , I will post the potest.log then I will try to include in the docker container.
I will post un update here ASAP.

[2018-09-02 09:31] jorisvandenbossche commented on #11969
@tdpetrou I think this is the expected behaviour?

The documentation of the ColumnTransformer says:

[code]

and this list of tuples (your `transformers = [imp, ohe]`) are the different transformation pipelines that are applied to subsets of the data in *parallel*.

In your second code snippet, you pass a list of a single tuple, so it is to be expected that this gives a different result? (and in t

[2018-09-02 09:44] giodegas commented on #11971
@rth tried with before the fix:

    pytest --pyargs --continue-on-collection-errors sklearn > pytest.log

got [pytest.log](https://github.com/scikit-learn/scikit-learn/files/2343158/pytest.log)

does not much more forward.

[2018-09-02 09:45] jorisvandenbossche commented on #11926
The "methods" that @albertcthomas mentions are not actually methods, they are attributes (to raise an error in certain cases, and return a method in others). So it is indeed not a problem in general with decorators, and I think sphinx / numpydoc is doing the expected thing here. So not sure there is really something to fix upstream.
(basically you would need to be able to tell numpydoc that a cert

[2018-09-02 10:13] giodegas commented on #11971
after the fix pytest takes a much longer time, good sign!
Waiting for it..

[code]

[2018-09-02 12:13] tdpetrou commented on #11969
Ah, yes, you are right. I was not thinking about the ColumnTransformer as doing its transformations in parallel. Thank you for clarifying. The docs do make sense now and I see that the word **separately** is used.

Perhaps you could add the words **in parallel** and use **concatenated** instead of combined.

[2018-09-02 12:57] albertcthomas commented on #11926
Indeed, thanks for the clarification.

They are properties to make the presence of the methods dependent on some parameter of the estimator (`novelty` for `LocalOutlierFactor`, `loss` for SGD). If an `AttribureError` is raised then `hasattr` returns False and this is convenient for the sake of testing for instance.

[2018-09-02 13:44] rth opened #11972 "fetch_openml: allow running the test suite offline"
When running the test suite offline, the following openml tests fails,
 - test_decode_anneal
 - test_decode_iris
 - test_decode_anneal
 - test_decode_cpu

It should be possible to run the test suite offline (all other dataset tests are skipped), and the corresponding tests should be also skipped when connection to the server can not be made.

[2018-09-02 14:00] jnothman commented on #9927
Please try version 0.20rc1

[2018-09-02 14:35] jnothman commented on #11785
Try conda install -C conda-forge scikit-learn=0.20.0rc1

[2018-09-02 14:36] jnothman commented on #3450
Your question does not belong on a development issue tracker. Please ask in
another forum, such as stack overflow.

[2018-09-02 14:42] giodegas commented on #11971
got this [pytest.log](https://github.com/scikit-learn/scikit-learn/files/2343453/pytest.log).

Appears ok, waiting for your comments.

[2018-09-02 14:45] jnothman commented on #11969
Joris, it seems Ted has understood that if multiple transformers apply to
the same set of columns, they will be applied in series, i.e. as a
pipeline. Yes, the documentation should be clearer on that, and a
clarifying Pull Request is very welcome.

[2018-09-02 16:29] billtubbs commented on #11785
Thanks @jnothman. I tried that and couldn't get it working:

[code]

[2018-09-02 17:56] nocibambi commented on #11785
It seems that the error depends also on the Numpy version:
(I got the same installation error messages wtih conda, so I did the installations with pip)

Numpy==1.14.3
There is no error message for the following scikit-learn versions:
- 0.19.1
- 0.19.2
- 0.20.0rc1

Numpy==1.15.0
There is error message for 0.19.1 and 0.19.2
There is no error message for 0.20rc1

But, under this numpy version I also

[2018-09-02 18:32] amueller commented on #9949
Can you please link to the wikipedia differentiation you mentioned? Doing the SVD and of X and the eigen-decomposition of the covariance matrix leads to the same components, right? PCA, as I understand it, is "identify principal components" and "project onto principal components".

[2018-09-02 18:34] giodegas commented on #11971
applied the fix to the Dockerfile, updated on docker hub, pulled a fresh container locally and got this
[pytest.log](https://github.com/scikit-learn/scikit-learn/files/2343662/pytest.log) .

[2018-09-02 18:36] rth commented on #11785
Try,
[code]

There is no error message for 0.20rc1

It's not an error, just a warning that was recently fixed. Use 0.20rc1 to avoid this warning message.

Again, warning. This warning was fixed it numpy 1.15.1 (see [release notes](https://docs.scipy.org/doc/numpy/release.html#numpy-1-15-1-release-notes)). It can be safely ignored, I think.

[2018-09-02 18:42] billtubbs commented on #11785
Thanks @rth.  That conda install command worked and there is no more warning with

python: 3.6.6
numpy: 1.15.1
sklearn: 0.20rc1

[2018-09-02 18:44] rth commented on #11971
Thanks for the logs! Essentially parallel processing with the updated joblib 0.12 that uses loky doesn't seem to work in PyPy (I will open an issue about it). The rest is fine. It means that in this version when PyPy users use any estimator with `n_jobs>1` it will fail.

A workaround could be to use the previous version of joblib,
[code]
that should fix the remaining issues.

[2018-09-02 18:54] TheShadow29 commented on #11785
Can confirm. Following the line by @rth installs scikit-learn version 0.20rc1 and the deprecation warning goes away. However, I note that the numpy was downgraded to 1.14.3 which is different from what is reported by @billtubbs . I am not very sure why this happened. Can anyone shed some light on this? Thanks.

![screenshot from 2018-09-02 11-51-05](https://user-images.githubusercontent.com/106029

[2018-09-02 18:57] rth commented on #11016
A workaround of using new-style classes was applied in #11010, I believe. Closing.

[2018-09-02 18:57] #11016 closed

[2018-09-02 21:04] jph00 opened #11976 "Consider reversing deprecation of min_samples_leaf"
Current RC proposes removing min_samples_leaf. In my experience across numerous projects and competitions, this param is very useful for generalization. Conceptually, I've often seen extreme outliers like this (top left point) result in picking a single point in a group leaf, which clearly isn't what you want. Larger leaves have less variance and therefore generalize better.
![image](https://user-

[2018-09-02 21:49] parrt commented on #11976
I concur that this parameter it is useful. I have found it helps with overfitting and also seems to speed up training, which I use during model dev. I *thought* it was due to fewer nodes but twitter thread makes me wonder if I know exactly how that parameter is used in this kit's RF implementation.

[2018-09-02 21:53] parrt commented on #11187
I do a drop column thing too in rfpimp. It gives slightly different results but takes longer due to all the retraining.

[2018-09-02 22:51] BStudent commented on #9949
@amueller Thanks for your interest.
_These are good quesions, and I'll run down a couple of relationships in that should be helpful - in a separate post.  First I will answer your questions and point to the article:_
Your definition is technically correct, and you can make the math work of course, but it's a convention that's followed for the same reasons we all drive on the same side of the road.

[2018-09-02 23:03] #11822 closed

[2018-09-02 23:16] jnothman commented on #11785
It looks like we don't place any version requirements on dependencies in
conda-forge (we probably should), so I'm not sure what's going on there.

[2018-09-03 02:51] jnothman commented on #11976
"Larger leaves have less variance" does seem to be a valuable notion for regression. Less so for classification, but maybe it can indeed help there too??

We should be thinking of this as `min_samples_branch` rather than `min_samples_leaf` and perhaps we should reframe it as that:

[code]

We could even rename it, but that might be unnecessarily disruptive to users.

[2018-09-03 03:01] jnothman commented on #2354
So who is following this up with a fix?

[2018-09-03 06:07] jmargeta commented on #10278
@massich, good point, I cannot replicate it anymore. I think that this can be closed.
The eigen_tol suggestion makes sense to me.

[2018-09-03 06:44] giodegas commented on #11971
ok I will try, thanks.

[2018-09-03 07:54] kodonnell opened #11978 "Proposal: faster distance calculations in 'bounded' scenarios"
Is this of interest to `scikit-learn` https://github.com/scipy/scipy/issues/9205 ? I'm not sure where the distinction between `scikit-learn` and `scipy` is for distance stuff, though it does appear that `scikit-learn` implements it's own distance calculations, so this possibly would be of benefit. I did see an obvious application of this for `scikit-learn` (linked near the bottom of the post), so

[2018-09-03 08:10] qinhanmin2014 opened #11979 "OPTICS: self.n_clusters_ not documented"
In OPTICS, we calculate ``self.n_clusters_`` in ``fit`` (``self.n_clusters_ = np.max(self.labels_)``). This attribute is not used later and it's not documented as a public attribute. Should we document it or remove it? (I prefer to remove it since it does not seems useful and might introduce confusion since we have outliers.)
Also, seems that it should be ``self.n_clusters_ = np.max(self.labels_)

[2018-09-03 08:17] qinhanmin2014 opened #11980 "OPTICS: self.core_distances_ inconsistent with documentation&R implementation"
In the doc, we state that ``Points which will never be core have a distance of inf.``, but it's not the case.
Result from scikit-learn:
[code]
[code]
Result from R:
[code]
[code]

[2018-09-03 08:26] jnothman commented on #11979
Yeah, get rid of it

[2018-09-03 08:28] jnothman commented on #11980
Does this have an impact on the clustering? I assume it doesn't. But yes, I
suppose we can mask those out as inf.

[2018-09-03 08:31] qinhanmin2014 commented on #11980
AFAIK, no. So maybe it's not an urgent one. (I'll try to debug other urgent issues these days). My point here is that we should ensure the correctness of public attributes (at least consistent with our doc).

[2018-09-03 08:56] albertcthomas commented on #11926
I have tried to put the signature in the first line of the docstring without success for now.

[2018-09-03 09:11] jorisvandenbossche commented on #11926
Ah, and so if the AttributeError is only raised inside the method, `hasattr` will always return True.
Note that this only works that way for an instance, for the class itself `hasattr(LocalOutlierFactor, 'predict')` will still return True.

It's a trade-off of course, but I would personally consider complicating the tests a bit, to have more correct documentation.

[2018-09-03 09:31] jnothman commented on #11980
I agree

[2018-09-03 10:54] EvgeniDubov commented on #9947
@woizaterminator I've a repo with Hellinger criteria implementation and I'm working now on adding it to imbalanced-learn [scikit-learn-contrib/imbalanced-learn#437](https://github.com/scikit-learn-contrib/imbalanced-learn/pull/437).
So in case you are in a rush and need it in your current project you can find it here [EvgeniDubov/hellinger-distance-criterion](https://github.com/EvgeniDubov/helling

[2018-09-03 11:14] glemaitre commented on #9947
Following the comment of @EvgeniDubov, I want it to be in the next release of imbalanced-learn which will follow the release of scikit-learn.
We just need to figure out the generalization of the Hellinger Distance criterion for multi-class problem. Any input would be appreciated ;)

[2018-09-03 12:23] jnothman opened #11982 "OPTICS should support sparse matrices and precomputed distances"
OPTICS relies on the nearest neighbor graph, and should be possible to perform with precomputed distances (maybe it does already, but I don't think it's tested), and with sparse feature spaces. It should perhaps also be possible to perform with sparse precomputed neighborhoods (e.g. as returned from `radius_neighbors_graph(radius=max_bound)`) but I've not double checked this.

[2018-09-03 13:33] datajanko commented on #11187
compared to what? I think doing the random permutations and re_fitting should have the same complexity. You should only see the performance gains when you are computing the feature importance out-of-bag. But this is what you meant, right?

[2018-09-03 16:52] parrt commented on #11187
Well, isn't it the case that training a model is vastly more expensive than using the model? It is always that way in my experience, except for kNN.   If you have 50 features you have to retrain the model 50 times, which could take overnight to train even once.  Permuting and running predictions should be many times faster.

[2018-09-03 17:52] datajanko commented on #11187
Of course it is, and I'd really like to see the feature directly in sklearn for random forests. However, this feature importance approach might be useful also for different classifiers. Using for example dask (and dask-ml) one might be able to scale this quite easily.

[2018-09-03 17:56] parrt commented on #11187
I was just referring to your comment on complexity. Training complexity is very different from the complexity for running samples through, but now you are agreeing the cost is higher?   Just because you turn on a few extra court is not change the complexity.  Whatever, drop column feature importance is still useful, which is why I implemented it as well.  Yep, drop column and permutation importanc

[2018-09-03 18:39] datajanko commented on #11187
I think there is a slight misunderstanding: Instead of dropping a column, you could also just permute it and train again with the permuted column. This has almost the same complexity as just dropping the column. I understood your package to also provide that option (but maybe I just overread a small detail in your really nice remarks concerning the feature importances).

However, one could of cour

[2018-09-03 18:41] parrt commented on #11187
Ok, I think we are in agreement! :)

[2018-09-03 18:48] tdpetrou commented on #10465
Hey all, feel free to completely ignore this suggestion as I am just a practical ML user. I really like the new changes coming to 0.20, but wanted to comment on `OneHotEncoder`.

When training, there is no option to ignore missing values. But if `handle_unknown` is set to 'ignore', then missing values in the test set will be set to a row of all 0's. Personally, I like to have the options to be abl

[2018-09-03 23:16] jnothman commented on #10465
Handling missing values is likely to happen soon.

Frequency thresholding? I suppose that could be useful, and we allow for it
in CountVectorizer. It can, of course be performed after encoding in a
separate feature selection transformer. if it is commonly beneficial I
would not be against providing it in OneHotEncoder

[2018-09-03 23:29] tdpetrou commented on #10465
@jnothman Thank you for the response. I wasn't aware missing value handling was going to happen. That was my main issue. If there is an option to just not encode missing values (not make a new column) then we are good there.

The frequency threshold is just a fun idea that I wanted to bring to light. It's probably too much to add to OneHotEncoder. It's also a bit dangerous giving that much power t

[2018-09-03 23:29] parrt commented on #11976
@jnothman That really cleared things up for me. thanks!  I *thought* that's what `min_samples_leaf` did; i.e., don't split if current node has less than `min_samples_leaf` or would create a leaf with fewer than the hyperparameter. What did `min_samples_leaf` imply in code before? The doc led me to believe it was doing what I tell students, a simple check before splitting:

I'd vote for keeping sam

[2018-09-03 23:30] jnothman opened #11989 "Remove Python < 3.5 from continuous integration"
After the 0.20 release, Python 2 and 3.4 are no longer needed in Travis, Circle or Appveyor.

[2018-09-03 23:33] jnothman opened #11990 "Remove documentation for Python 2"
We should find references to Python 2 in documentation and remove them as no longer relevant after the 0.20 release.

[2018-09-03 23:35] jnothman opened #11991 "Remove fixes/compat for Python 2"
This can be broken up into multiple pull requests.

Remove:
* [x] `from __future__` imports
* [x] `sklearn.externals.six`
* [x] `super(cls, self)` is now `super()`
* [ ] any code explicitly commented to be for Python 2 support
* [ ] anything else in sklearn.utils.fixes related to this

Admittedly I'm not sure it is wise to rush this change, given that we might still be backporting fixes to 0.20.X

[2018-09-03 23:43] parrt commented on #11976
Come to think of it, `min_samples_split` is almost what I'd want, you're right. It is doing the "don't split if less than this number" thing. OTOH, splitting by min size of current node might give less control because it doesn't consider purity of potential children, only size of current node. `min_samples_leaf` prevents a split of current node if a child created based upon purity would be too sma

[2018-09-03 23:47] jnothman commented on #11976
Yes, with very many classes that may be the case.

Many users, and core developers, had expected that if the best split could
not adhere to this constraint, that node would be left un-split (a stopping
criterion). Rather, it keeps searching for the best split that does fit the
constraint.

[2018-09-03 23:50] parrt commented on #11976
Interesting. I wonder how it would handle the 10-sample node case where all samples predicted the same value except for one. If `min_samples_leaf`=3 it doesn't seem like it would find such a best to split that fit the constraint.  I guess in that case it would in fact be a stopping condition and not split the current 10-sample node.

[2018-09-04 00:01] jph00 commented on #11976
common at the end of the tree (which is ~50% of the splits, of course!)
Avoiding a tiny leaf here is important, since tiny leaves don't
generalize (both for classification and regression).
Also, note that all proximity matrix / rf kernel methods rely on having
reasonable sized leaves. min_samples_leaf is exactly what you want to
create these - min_samples_split isn't quite the correct behavior her

[2018-09-04 00:01] jnothman opened #11992 "Complete deprecations finishing in 0.21"
[code]

[2018-09-04 00:04] jnothman commented on #11976
I think in doing the deprecation, we had under-considered the regression
and very-many-class cases.

@amueller, @glemaitre, your thoughts?

[2018-09-04 00:30] parrt opened #11993 "Feature request: Random Forest node splitting sample size"
During the development of a model, the faster one can iterate, the better. That means getting your training time down to a manageable level, albeit at the cost of some accuracy.  With large training sets, training time for random forests can be an impediment to rapid iteration. @jph00 showed me this awesome trick that convinces scikit-learn's RF implementation to use a subsample of the full traini

[2018-09-04 00:31] ledell commented on #6747
@jnothman I don't have any strong opinions on which metric (macro average recall vs macro average accuracy) is better to use.  My comments refer only to the fact that the term "balanced accuracy" is not well-defined in the machine learning community, so it's potentially problematic to name a metric method after this term.  In particular, using the term "accuracy" when referring to "recall" seems t

[2018-09-04 00:48] jnothman commented on #11993
I'm surprised there is no existing issue for this... I would consider supporting it as bootstrap=float to indicate the fraction of the sample size used to train each tree.

[2018-09-04 00:54] parrt commented on #11993
Heh, that sounds pretty good to me; it might be better than an absolute number that I have to fiddle with on different sized data sets.

Implementation note: hopefully this parameter would be per RF model object...  I think Jeremy's trick currently sets a global function, `sklearn.ensemble.forest._generate_sample_indices()`, but out of necessity not desire.

[2018-09-04 01:01] jnothman commented on #6747
Thanks for the reply. Personally, I find the knowledge that macro-recall is
accuracy with balanced sample weights persuasive regarding the name. The
reason to offer it by this name is that people are looking for a multiclass
metric with the desirable properties of the binary balanced accuracy. I
think this metric satisfies those requirements, as well as the name being
apt.

I am personally in favo

[2018-09-04 01:16] jnothman commented on #11993
Yes, it would be a parameter of the RF estimators, as `bootstrap` is
currently.

[2018-09-04 01:38] jnothman commented on #11993
One implementation detail that we need to consider is whether sample
weights should be considered when sampling.  I would argue no simply on the
basis that they are not considered in the current bootstrap.

On Tue, 4 Sep 2018 at 11:25, Jeremy Howard <notifications@github.com> wrote:

[2018-09-04 05:40] jnothman opened #11996 "Handle missing values in OneHotEncoder"
A minimum implementation might translate a NaN in input to a row of NaNs in output. I believe this would be the most consistent default behaviour with respect to other preprocessing tools, and with reasonable backwards-compatibility, but other core devs might disagree (see https://github.com/scikit-learn/scikit-learn/issues/10465#issuecomment-394439632).

NaN should also be excluded from the categ

[2018-09-04 05:40] jnothman opened #11997 "Handle missing values in OrdinalEncoder"
A minimal implementation would pass through NaNs from the input to the output of `transform` and make sure the presence of NaN does not affect the categories identified in `fit`.

A `missing_values` parameter might allow the user to configure what object is a placeholder for missingness (e.g. NaN, None, etc.).

See #10465 for background

[2018-09-04 05:40] jnothman commented on #10465
Replacing with #11996, #11997

[2018-09-04 05:41] #10465 closed

[2018-09-04 06:43] rth commented on #11991
I also can't wait for this to happen, but I think we might want to wait for the final 0.20.0 release or even 0.20.1 before removing Py2 code to make backports easier.

[2018-09-04 06:45] rth commented on #11992
Same comment as in https://github.com/scikit-learn/scikit-learn/issues/11991#issuecomment-418258093 ...

[2018-09-04 06:48] rth commented on #11971
PyPy support was added to loky in https://github.com/tomMoral/loky/pull/161, marking this as blocker for the final 0.20 release to indicate that we would need to sync with the latest loky/joblib version once they are released. Also we need to re-add CI to prevent something like this from happening again.

[2018-09-04 06:59] giodegas commented on #11971
Great! Let me know how I help.

[2018-09-04 07:40] tomMoral commented on #11971
The `loky` version in the vendored `joblib` should not be changed in `scikit-learn` as it will lead to conflicts.
@ogrisel  is currently preparing a release of `joblib` and a PR to synchronize it in `sklearn`.

[2018-09-04 07:44] rth commented on #11971
Can't we just test it in a PR? Just updating loky there wouldn't work? To avoid a situation that for another minor patch to loky, we need to make joblib & loky releases..

[2018-09-04 08:11] tomMoral commented on #11971
This is the issue with nested vendoring but I don't think it is such a good idea to start to rely on modified version of `joblib`. The advantage of including it in `joblib` is that we can ensure it is stable enough.

If we want to be able to modify `loky` without `joblib`, a solution would be to vendor `loky` separately, to be able to say that we are using version `X.X` of `joblib` and `Y.Y` of `l

[2018-09-04 12:02] glemaitre opened #12000 "Minimum requirements for dependecy for Windows wheels"
I got the CI from imbalanced-learn screaming at me after installing the RC.
The reason is that the wheel is built with numpy 1.14.5 and conda installed numpy 1.13.3. Since the requirements are 1.8.2, there is no upgrade when installing scikit-learn.

@jnothman @amueller What are you thoughts?

Step that should reproduce the error:

<details>

[code]

[code]

[2018-09-04 12:07] jnothman commented on #12000
I haven't understood what the problem has to do with py3.5. is it about
numpy version compatibility??

[2018-09-04 12:26] glemaitre commented on #12000
Sorry I misinterpreted the log. There is no issue with Python 3.5
I think this is more an issue with conda version on appveyor.
For `C:\Miniconda35-x64`, conda 4.3.3 is installed and it will installed numpy 1.13.3. It is below the 1.14.5 version used to build the wheel and raise the issue pointed in the "Details".

Updating conda will allow to use the last numpy release which will solve the issue.

[2018-09-04 12:48] rth commented on #12000
Yeah, I guess same as for conda-forge, one need to build against the oldest supported numpy version to make it work https://conda-forge.org/docs/meta.html#building-against-numpy  .

Maybe someone could try that? :) Possibly try with with the same version as on conda forge (i.e. numpy 1.11.3), earlier versions definitely fail on conda-forge on Windows, and I wonder whether this also applies to whee

[2018-09-04 12:56] glemaitre commented on #12000
If I remember well, we don't build Windows wheel in conda-forge but I don't know the reason.

[2018-09-04 13:05] rth commented on #12000
scipy is not build in conda-forge due to the lack of a free Fortran compiler and flang is not fully there yet (https://github.com/conda-forge/scipy-feedstock/issues/80)

[2018-09-04 13:08] glemaitre commented on #12000
Ah ok.

On Tue, 4 Sep 2018 at 15:05, Roman Yurchak <notifications@github.com> wrote:

--
Guillaume Lemaitre
INRIA Saclay - Parietal team
Center for Data Science Paris-Saclay
https://glemaitre.github.io/

[2018-09-04 14:41] woizaterminator commented on #9947
@EvgeniDubov thanks for the implementation! It failed to compile for me in a windows enviroment, because visual studio build tools didnt work for me...compiling it in a linux enviroment worked out for me.

[2018-09-04 15:43] Olamyy commented on #11996
Hi @jnothman , can I jump on this or would I need to wait for other core devs to share their opinions first?

[2018-09-04 17:45] maxcopeland commented on #11997
Hi @jnothman-- do you mind if I work on this?

[2018-09-04 18:03] yashjakhotiya commented on #11909
If this has not been assigned yet, I would like to work on it @jnothman

[2018-09-04 18:55] ccalderon911217 commented on #11365
@Karentree how did you fix this issue? I'm facing exactly the same. Thanks!

[2018-09-04 21:29] rth commented on #11909
@yashjakhotiya You can certainly evaluate how much effort / code changes this feature would require.

However there this no guarantee that this feature would be accepted, particularly if it involves adding (and maintaining) as significant amount of code. Scipy might be actually a better place for it (see https://github.com/scipy/scipy/issues/9029) unless there is an important use case in some popu

[2018-09-04 21:34] jnothman commented on #12000
Do we have a plan of action here?

[2018-09-04 21:37] jnothman commented on #11996
I think an initial implementation would be welcome.

[2018-09-04 21:39] jnothman commented on #11997
Go for it

[2018-09-04 21:40] jnothman commented on #11997
I suppose we might also consider a `handle_missing` param that would allow NaN to be encoded as the smallest/largest number...?

[2018-09-04 21:41] mwharton3 commented on #11909
I had done some tests using KD-trees a couple months ago with 3 dimensional data, I found the sklearn framework to be quite a bit faster than scipy. i.e. anyone with a large dataset that wanted this feature would find more benefit here.

[2018-09-04 22:47] jph00 commented on #11993
I don't think you can use weights both for sampling *and* use them as weights in the info gain function. I believe sklearn currently does the latter, right? So it would make sense to continue doing only that.

[2018-09-05 01:45] Olamyy commented on #11996
I'm trying to confirm I understand the task very well.
Help me run through this pseudocode and point out anywhere I might be wrong to me.

1. Add a `missing_values` parameter to the init method of the OneHotEncoder class. This parameter will allow users specify what should be taken as a missing value. Available options should be either:

        - NaN
        _ None

2. Add a  `handle_missing ` pa

[2018-09-05 02:32] jnothman commented on #11996
Perhaps:

[code]

`handle_missing='all-missing'`:
[code]

`handle_missing='all-zero'`:
[code]

`handle_missing='category'`:
[code]

A good idea might be to start by writing things other than the implementation:

* docstring
* tests
* doc/modules/preprocessing.rst where you could outline the pros and cons of each of these options

[2018-09-05 02:32] jnothman commented on #11996
You don't need a complete implementation to open a PR, either

[2018-09-05 07:45] Noctiphobia opened #12006 "Inconsistency between predict and predict_proba parameters in Pipeline"
Pull request [#9304](https://github.com/scikit-learn/scikit-learn/pull/9304) fixed issue [#9293](https://github.com/scikit-learn/scikit-learn/issues/9293) by adding `**predict_params` to `predict` method of Pipeline, but `predict_proba` was not changed and still only takes one parameter. I don't see why `predict_proba` shouldn't also be updated in the same fashion, but I may be missing something.

[2018-09-05 08:13] jnothman commented on #12006
In what context do you see this being used for predict_proba or fit_predict?

[2018-09-05 09:02] qinhanmin2014 commented on #6747
Our implementation seems reasonable from my side, so more documentation to note the different definitions seems to be enough from my side.

The controversial thing is the multi-class definition of a metric, so maybe we don't need to worry too much here.

[2018-09-05 09:28] ogrisel commented on #11971
@giodegas Can you please check that your use case work fine with joblib 0.12.4?

[code]

[2018-09-05 09:34] jnothman commented on #11971
It might make sense to add you Travis at least to the 0.20.X branch, and perhaps on Cron to master

[2018-09-05 09:47] Ichaab opened #12008 "Minimal cost complexity pruning"
Is there any implementation of a the minimal cost complexity pruning [algorithm](http://mlwiki.org/index.php/Cost-Complexity_Pruning#Cost-Complexity_Pruning) ? It is an important reference of a post pruning technique reducing the risk of overfitting and thus able to imrove the prediction of decision trees.

[2018-09-05 09:51] #11979 closed

[2018-09-05 09:59] #11954 closed

[2018-09-05 10:07] jnothman commented on #12008
See #6557

[2018-09-05 10:07] #12008 closed

[2018-09-05 10:57] adrinjalali opened #12009 "OPTICS metric param docstring and parameter handling needs improvements"
As also reported in #11954, the OPTICS docstring for `metric` includes values which are not supported, and also is missing values which are already supported.

The docstring needs to actually include the supported ones, and since the `metric` is used calling two different modules, OPTICS should probably check if the given value is in the intersection of their supported ones.

[2018-09-05 10:59] adrinjalali opened #12010 "OPTICS accept "precomputed" distances."
I need to check in more detail, but my first impression is that supporting a `precomputed` metric doesn't involve too much modification to the existing code.

Is there a reason we should not support it?

[2018-09-05 11:02] #11971 closed

[2018-09-05 11:04] qinhanmin2014 commented on #12010
duplicate of #11982

[2018-09-05 11:04] #12010 closed

[2018-09-05 11:11] adrinjalali commented on #11982
I tried and it doesn't support `precomputed` as it is. But it shouldn't be hard to fix.

[2018-09-05 12:07] ogrisel commented on #11971
You mean to run the scikit-learn tests with pypy on travis (or circle ci) in a cron job? I agree.

[2018-09-05 12:13] ogrisel commented on #11971
BTW, I am currently running the scikit-learn tests on master with pypy3 and so far (50%) they pass.

[2018-09-05 12:50] yarikoptic commented on #11962
working on it, will submit a few issues shortly

[2018-09-05 12:55] yarikoptic opened #12013 "0.20rc1: goes online for data during testing - mark the tests?"
[code]

would be nice to have them marked with some tag, like "requires_internet" or alike so I could skip them at once.  If you decide to test similarly, you can export fake http_proxy and https_proxy vars, eg. `http_proxy=http://127.0.0.1:9`

[2018-09-05 12:58] yarikoptic opened #12014 "0.20rc1: MeanShift test failure (swapped labels)"
While building for Debian sid amd64, not sure if relates (gets fixed by) #11901:
[code]
full buildlog: http://neuro.debian.net/_files/_buildlogs/scikit-learn/0.20~rc1/scikit-learn_0.20~rc1-1_amd64.build

[2018-09-05 13:01] rth commented on #12013
Thanks for the report, it's a know issue https://github.com/scikit-learn/scikit-learn/issues/11972

+1 for creating a common tag.

[2018-09-05 13:04] yarikoptic opened #12015 "0.20rc1: str vs unicode comparisons fail in doctests"
On Debian sid python 2.7
[code]

[code]
full buildlog: http://neuro.debian.net/_files/_buildlogs/scikit-learn/0.20~rc1/scikit-learn_0.20~rc1-1_amd64.build

[2018-09-05 13:09] yarikoptic opened #12016 "0.20rc1: test_old_pickle - KeyError"
[code]
full buildlog: http://neuro.debian.net/_files/_buildlogs/scikit-learn/0.20~rc1/scikit-learn_0.20~rc1-1_amd64.build
[code]

not sure if helps but here is the keys it has at that point:
[code]

[2018-09-05 13:58] jorisvandenbossche opened #12018 "BUG: OneHotEncoder(string values) handles NaN as category on transform step"
The `OneHotEncoder` (or at least the implementation of the encoder for string data) seems to handle missing values (NaN) as unseen categories in the transform step:

[code]

I think missing values should not be regarded as an unknown category on transform step, but should behave the same as on fit time (i.e. raise an error at the moment, default behaviour might change depending on https://github.c

[2018-09-05 14:26] jnothman commented on #12014
Yes, I expect this would be fixed by #11901

[2018-09-05 14:27] jnothman commented on #11972
Shouldn't the mocks mean we don't need to go online? Or is something not being fully mocked?

[2018-09-05 14:40] rth commented on #11972
The above functions do not use the mocked version of fetch_openml, but are making the actual call to the server..

[2018-09-05 14:42] Noctiphobia commented on #12006
I think exactly the same use case as in issue [9293](https://github.com/scikit-learn/scikit-learn/issues/9293) applies, since the methods are very similar in usage (except that when you call `predict_proba` you're interested in the probability, and not the decision). Having a custom estimator which does something differently based on `predict` parameters could very well extend into `predict_proba`

[2018-09-05 15:51] ogrisel commented on #12015
I think we should skip the doctests under Python2. I don't see anyway to make those test both informative for the reader and compatible with Python 2 at the same time.

[2018-09-05 20:47] jnothman commented on #12014
I'm closing this as presumed fixed by #11901

[2018-09-05 20:47] #12014 closed

[2018-09-05 20:48] jnothman commented on #12016
No idea how to even start here. Do joblib folk have any idea?

[2018-09-05 20:49] jnothman commented on #12018
Do you think this is a blocker for 0.20? I wouldn't expect so.

[2018-09-06 00:18] jnothman commented on #11972
Okay. Let's get rid of them, or cache/mock them. Running the examples
should be sufficient to test live fetching (at least if we occasionally
clear the cache)

[2018-09-06 00:38] jnothman commented on #11990
[code]

[2018-09-06 00:43] jnothman commented on #12009
Yes, this is where having two different pairwise metric implementations really becomes a mess! :(

[2018-09-06 07:13] vivekk-ezdi opened #12021 "GradientBoostingClassifier and GradientBoostingRegressor fit() method documentation"
#### Description

GradientBoostingClassifier and GradientBoostingRegressor `fit()` method documentation doesn't show that they can both work on sparse training samples (`X`) as well .

Current documentation string is:

It should be something like:

[2018-09-06 07:29] #11972 closed

[2018-09-06 08:15] glemaitre commented on #12000
I would propose to change the setup.py

[code]

[2018-09-06 08:15] glemaitre commented on #12000
In addition, we can add some relative information in the README and the install page?

[2018-09-06 08:35] rth commented on #12000
IMO that's a bit too much. Technically the code is compatible with much earlier versions, the fact that we haven't managed to build it with earlier versions on windows doesn't mean someone else won't be able to. This would prevent anyone from trying. For instance, I'm not sure what's the mimum numpy requirement for scikit-learn 0.19.1 on Windows packaged in the main conda channel, but I think it's

[2018-09-06 08:37] ogrisel commented on #12016
No this is really weird. I don't understand why this would be python version or platform specific. Furthermore the platform is very standard: Python 2.7 / Linux / amd64. This combination is already covered by our regular CI.

[2018-09-06 08:38] #12021 closed

[2018-09-06 08:38] ogrisel commented on #12016
@lesteve any suggestion?

[2018-09-06 08:39] ogrisel commented on #12016
@yarikoptic could you suggest a docker image that can help us reproduce the issue for interactive debugging?

[2018-09-06 09:31] ogrisel commented on #12016
Although the error message is not explicit at all, it might be caused by the fact that the joblib module is un-vendored from scikit-learn when distributed via debian.

Indeed I confirm, I can reproduce on scikit-learn 0.19.1 from neurodebian. I think we need to skip the test when joblib has actually been physically unvendored. I will open a PR for that.

[2018-09-06 10:13] Naba7 commented on #12018
can u please assign me this? @jorisvandenbossche

[2018-09-06 10:27] jorisvandenbossche commented on #12018
@Naba7 If you want to work on it, saying it here as you did is fine (no need to be officially assigned through the github interface).

Do you plan to submit a fix in the short term? (because I would like to have it fixed in the upcoming release)

No, it is certainly not a blocker (so maybe I should not have tagged it). But it is still a clear bug in a new implementation (different behaviour depend

[2018-09-06 10:33] Naba7 commented on #12018
@jorisvandenbossche sure thing i am trying it locally ..will update here soon

[2018-09-06 10:41] Noctiphobia commented on #12006
Okay, so a better example would be R's `predict.glm`, which is an implementation of logistic regression that can estimate standard errors while predicting (note that in R there's no separate `predict_proba` function, instead there's a parameter `type` which serves a similar role). I'm pretty sure that doing something equivalent in scikit-learn would be a valid use case (so there would probably be

[2018-09-06 11:09] jorisvandenbossche commented on #12018
BTW, when I looked yesterday quickly into it, I diagnosed the problem to this:

https://github.com/scikit-learn/scikit-learn/blob/b4bf033104436ca0789a2e1607d09e7d98ff0b3d/sklearn/preprocessing/_encoders.py#L90-L104

The valid_mask does not handle NaNs well, so therefore the NaNs will also get replaced.

[2018-09-06 11:11] Noctiphobia opened #12026 "Question: why separate predict, predict_proba, predict_log_proba methods?"
Considering that `predict`, `predict_proba` and `predict_log_proba` accomplish very similar thing, wouldn't it be more logical to have a single `predict` method which would take an optional parameter `type` (or maybe some other name, such as `output`)? This would also allow for a more easy addition of alternative outputs where it makes sense (e.g. raw score before logistic transformation, like `xg

[2018-09-06 11:13] jnothman commented on #12006
I wouldn't mind supporting this in predict_proba and decision_function. But
we have no application for it in this library.

[2018-09-06 11:18] jorisvandenbossche commented on #12018
So for a solution, I would maybe go the route of always checking the input X for NaNs (for numeric this is already done in `check_array`), instead of fixing the above `valid_mask` logic to be aware of NaNs.
From a quick check, it seems that checking for NaNs is much faster than the actual encoding (more than 10x faster), so always doing it would not be a huge time increase for the OneHotEncoder.

[2018-09-06 12:44] #12016 closed

[2018-09-06 12:45] ogrisel commented on #12016
Should be fixed by #12027 in master. I'll let @jnothman handle the backport to the 0.20.X branch.

[2018-09-06 13:04] jorisvandenbossche commented on #11969
I think it was a general confusion and not necessarily specifically for the case where "the same set of columns" was used? (@tdpetrou is that correct?)

One concern with adding "in parallel" is that people might think it refers to multiprocessing/threading context?
(which actually also might be the case, but this depends on the ´n_jobs´)

[2018-09-06 13:12] adrinjalali commented on #6747
__Inclusion__

The way I see it, scikit-learn wouldn't include this proposal if it were a regression or a classification method. The method would be encouraged to be in `contrib` and we'd advertise it in our docs appropriately.

However, since the industry has moved faster than academia in this case (hence the lack of nicely cited literature despite the widespread usage) and uses multiclass classi

[2018-09-06 15:57] xhlulu commented on #12026
Isn't it ultimately a design choice? In the sense that you want the `estimator.predict` method to behave the same for every estimator, either regressor or classifier. So if it starts behaving differently when it is used for regressors vs classifiers, you would need to start throwing errors for every single `regressor.predict` that is using `type='proba'`.

This is my thought, though I believe a me

[2018-09-06 16:02] jeremiedbb commented on #2354
RidgeCV with default parameters will set ``gcv_mode='eigen'``. This means that it will compute ``dot(X,X.T)``, which results in a 10GB matrix for the example matrix. BTW, calling ``RidgeCV(gcv_mode='eigen')`` will cause the same memory issue.

I think the issue is that _RidgeGCV (which is the class called undeneath) does not support the same solvers as Ridge does. The only available solvers for _R

[2018-09-06 17:05] Naba7 commented on #12026
It is better to use Pipeline package. Pipeline can be used to chain multiple estimators and transformers into one. For eg.
                  pipeline: ['vect', 'tfidf', 'clf']
parameters:
{'clf__alpha': (1.0000000000000001e-05, 9.9999999999999995e-07),
 'clf__n_iter': (10, 50, 80),
 'clf__penalty': ('l2', 'elasticnet'),
 'tfidf__use_idf': (True, False),
 'vect__max_n': (1, 2),
 'vect__max_df': (0.

[2018-09-06 18:41] akashkdubey opened #12030 "ValueError: Requesting 3-fold cross-validation but provided less than 3 examples for at least one class. Any way to get away with this ?"
#### Description
 I am trying to perform multiclass classification on a 10 class dataset with around 650 datapoints. But whenever trying to run the code, it gives the above mentioned error. Although, i understand what does it mean but is there anyway to get the work done with this ?

#### Steps/Code to Reproduce
alpha = [5, 11, 15, 21, 31, 41, 51, 99]
cv_log_error_array = []
for i in alpha:
    pr

[2018-09-06 19:40] amueller commented on #11992
I agree, let's wait for the final release, but then hurray!

[2018-09-06 19:40] amueller commented on #11992
(if I have time I'll do this just for the satisfaction of deleting so much code, as usual ;)

[2018-09-06 21:31] jnothman commented on #11969
"the features generated by each transformer will be concatenated to form
the output feature matrix"

[2018-09-06 22:01] jnothman commented on #12030
Sure, don't use StratifiedKFold, and perhaps design your own train test splits as a CV splitter.

[2018-09-06 22:01] #12030 closed

[2018-09-06 22:19] jnothman commented on #6747
Thanks for your input Adrin.

I would really love to know what someone has discovered from macro-average
accuracy in an imbalanced multiclass problem, or what justification there
is for it. I really don't understand what it's for.

[2018-09-06 22:37] jnothman commented on #12026
This is mostly an arbitrary design choice. The only place I can imagine
this having a big difference is that using `type` would mean a
meta-estimator like Pipeline or GridSearchCV would not need to implement
every variant.

But the differences from R rest more in paradigm and approaches to
polymorphism

[2018-09-06 23:47] jnothman commented on #11992
Yes, but to help it get merged in a reasonable time frame, maybe split up
the pr this time.

[2018-09-06 23:48] jnothman commented on #12013
Fixed in #12020

[2018-09-06 23:58] jnothman commented on #8737
Why is this in 0.20, @amueller ?

[2018-09-07 08:07] vivekk-ezdi opened #12031 "Usage of inf in 'nu' param of Matern kernel"
#### Description
What's the proper usage of `Matern` kernel with nu=inf?

The [documentation](http://scikit-learn.org/stable/modules/generated/sklearn.gaussian_process.kernels.Matern.html) mentions :

But in experiment, the results from both kernels are not equal. Am I missing something? How to use inf in `nu`? Is it possible in current implementation?

#### Steps/Code to Reproduce

Example:
[code

[2018-09-07 08:41] jeremiedbb commented on #12031
The documentation might be a bit misleading here. Mathematically, for nu=inf, the kernel becomes equivalent to the RBF kernel. But `np.inf` is not a valid value for the nu parameter.

[2018-09-07 15:14] amueller commented on #12013
reopen?

[2018-09-07 15:15] amueller commented on #12015
They are skipped in the makefile and the CI.
How did you build/test @yarikoptic?

[2018-09-07 15:17] amueller commented on #11962
@yarikoptic my hero!

[2018-09-07 15:18] amueller commented on #11976
I think we should undo the deprecation until we have hard evidence for all cases.

[2018-09-07 15:32] amueller commented on #12000
https://github.com/MacPython/scikit-learn-wheels/commit/ae7a1bd8e71013dece7cfcefffeea5008378dcb5#diff-9debca02516817da0bec21266d0574a2 @ogrisel explain yourself ;)

[2018-09-07 15:34] amueller commented on #12000
Per readme our requirements are:
Python (>= 2.7 or >= 3.4)
NumPy (>= 1.8.2)
SciPy (>= 0.13.3)

So we should build the wheels with that, or run into this issue, right?
We can build the 3.7 wheels with newer scipy if that's necessary.
But even before the commit by @ogrisel we were not using these versions....

[2018-09-07 15:38] amueller commented on #8723
There is no cleaner way to do this afaik, and I would consider this a bug in pandas :-/ - we're required to make an additional copy that's not necessary just to avoid a warning.

[2018-09-07 15:42] amueller commented on #11908
we don't care about this too much for the final release, right?

[2018-09-07 15:44] amueller commented on #11912
Arguably we might want to fix this for the release?

[2018-09-07 15:47] amueller commented on #11897
we're working on changing the repr but this change is somewhat orthogonal.
I've been hesitant to add this option in the past because this is a very fragile way to build an estimator and usually this is not the right way of doing things.

Can you say why you want this?

[2018-09-07 15:48] jorisvandenbossche commented on #12018
@Naba7 unless you already have a fix locally, I might take this (want to have it for the release in a couple of days)

[2018-09-07 15:49] amueller commented on #11031
in other words, this should be fixed on the keras end, not scikit-learn end, unless we want to change our requirements, which I don't see a good reason for.

[2018-09-07 15:50] rth commented on #12000
Someone should try, but it is very likely that it won't build on Windows with the minimal versions of numpy/scipy that we have. Yeah, supporting Py3.7 would force us to have separate requirements in Appveyor for Py3.7  and for the test.

Technically though our requirements are not valid in general in any case,
 - Python 3.7 requires at least numpy 1.14.5
 - Python 3.6 might require some lower vers

[2018-09-07 15:50] amueller commented on #12018
@jorisvandenbossche I agree it would be good to have this.

[2018-09-07 15:51] amueller commented on #12000
I'm not sure I understand what you mean.

[2018-09-07 15:59] rth commented on #12000
Despite our requirements [above](https://github.com/scikit-learn/scikit-learn/issues/12000#issuecomment-419478058) it's not possible to build scikit-learn on Python 3.7 with numpy 1.14.0 because it is unsupported by numpy. I would argue the same applies to all other Python versions (Py3.6, Py3.5) with the minimal versions of numpy/scipy to be determined (and that are unrelated to our minimum requi

[2018-09-07 17:54] jorisvandenbossche commented on #12018
Did a quick PR: https://github.com/scikit-learn/scikit-learn/pull/12033

[2018-09-07 18:29] amueller commented on #12000
Hm, I was wondering how that relates to the ones we have in setup.py, in case someone wants to build on one of these systems. But I guess it's not very common that someone wants to build master with a very old numpy on a very new python.

[2018-09-07 20:52] ledell commented on #6747
@jnothman If you care about the accuracy of each class equally (regardless of it's presence in the training set), then it's an appropriate metric to use.  It's been used in a variety of places (papers, Chalearn AutoML competition, software such as H2O); isn't that justification that it's useful to the community?

[2018-09-07 21:34] vqean3 opened #12034 "sample_weight is not attribute in SVR, should be removed from docs"
#### Description

In [SVR class](https://github.com/scikit-learn/scikit-learn/blob/121dd5ab3bb03203480941ccef2df72cf9cf791d/sklearn/svm/classes.py#L844) there is a sample_weight attribute in documentation, but it shouldn't be there. It's never stored as an attribute of the class, it's only a parameter to the fit functions in BaseLibSVM. It also isn't present in `__getstate__`, so it isn't stored w

[2018-09-07 21:55] bangdasun opened #12035 "Ambiguity in KernelDensity method document"
#### Description

In page http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KernelDensity.html#sklearn.neighbors.KernelDensity, the description of `KernelDensity.score_samples()` is `Evaluate the density model on the data`, where actually it returns the `log(density)` and we need to take `exp()` on it to get raw density back.

I think the doc should be `Evaluate the log density mo

[2018-09-07 22:12] adrinjalali opened #12036 "OPTICS extraction methods"
### Related
This is related to some issues we discussed and encountered in:
 - OPTICS detecting the wrong outlier (Issue #11677)
 - fixes OPTICS split_points detected as NOISE and last point not detected as outlier (PR #11857)

### Intro
To continue the discussion, it is important to distinguish between two main tasks included in the `OPTICS` module/class:
- calculate the reachability plot, which

[2018-09-08 09:06] albertcthomas commented on #12035
The description of the output says that the log of density is returned but I agree that this could also be mentionned in the one line description of the method.

[2018-09-08 09:45] jnothman commented on #12031
We would welcome a PR changing the docs to say "as my approaches Infinity the kernel approaches RBF".... If that's correct, @jeremiedbb

[2018-09-08 10:42] jnothman commented on #11912
With what proposed solution?

[2018-09-08 11:57] jashrathod0 commented on #11997
Hi.
I'm new so open source contributions. So can someone help me get started?

[2018-09-08 12:15] timbicker commented on #10856
Hi,
is anybody already working on this issue? If not, I would like to start working on it.
Right now it seems to me that both `CategoricalNB` and `GeneralNB` are relevant, as I am going to discuss in the following.

There are many questions regarding categorical features with tree-based-models ( [8480](https://github.com/scikit-learn/scikit-learn/issues/8480), [11258](https://github.com/scikit-lea

[2018-09-08 13:38] saddy001 opened #12037 "IndexError: index is out of bounds"
I've got an IndexError while applying clustering:
[code]
The classifier is the trailing end of a bigger pipeline of preprocessors that I fed with matrices from load_digits() with KFold(). Unfortunately, I don't have more information on this, because the pipeline was generated generically. If the issue cannot be fixed from the traceback alone, please close this issue.

[code]

[2018-09-08 14:14] rth commented on #11499
Another issue is that Google Custom Search used on the docs, currently sets a cookie for `cse.google.com` (in `doc/themes/scikit-learn/layout.html`)  which is also not good.

[2018-09-08 14:16] Naba7 commented on #12018
@jorisvandenbossche  sorry i am unable to fix it

[2018-09-08 14:43] #11976 closed

[2018-09-08 14:52] #11858 closed

[2018-09-08 15:01] maxcopeland commented on #11997
I'm currently working on this issue-- but I think the best way to start is to review the [contributing guidlines](http://scikit-learn.org/stable/developers/contributing.html). And when you see an issue no one is working on, ask the member who submitted the issue if you can get started. (I'm fairly new to this project myself).

[2018-09-08 15:07] rth commented on #12037
Thanks for the report!

The relevant code in `sklearn/cluster/hierarchical.py` is,
[code]
It hasn't changed between 0.19.2 and master. The only way this could produce an index error is X is not square. What kind of metric are you using for clustering?

[2018-09-08 15:26] anant9 opened #12040 "Isolation forest - decision_function & average_path_length method are memory inefficient"
#### Description
Isolation forest consumes too much memory due to memory ineffecient implementation of anomoly score calculation. Due to this the parallelization with n_jobs is also impacted as anomoly score cannot be calculated in parallel for each tree.

#### Steps/Code to Reproduce
Run a simple Isolation forest with n_estimators as 10 and as 50 respectively.
On memory profiling, it can be seen

[2018-09-08 15:29] rth commented on #12034
Thanks for the report!

I can confirm `SVR.sample_weight` is never set (although it is a parameter of `SVR.fit`).

PR would be welcome for this the docstring.

[2018-09-08 15:37] rth commented on #12040
Thank you for the report and the detailed analysis.

A pull request to improve the memory usage in `IsolationForest` would be very much appreciated!

Also if possible please use code formatting in Github comments -- it really helps readability (I edited your comment above) , and it possible to use some other format than .docx for sharing documents (as it's difficult to open it on Linux). Thanks!

[2018-09-08 16:04] anant9 commented on #12040
Thanks for a very prompt response.
I'm new to GitHub, not really sure of the process here. :)

Wants to first confirm that it's a valid issue & possible to resolve memory consumption as I have mentioned.
Current memory consumption is quite high(~5GB) for 1000 estimators.

The attached document has images too & so .docx. Any preference as what format to use for future sharing.

[2018-09-08 20:06] prathusha94 commented on #11886
Hey @datajanko ! Yes I am. I'll submit a pull request soon

[2018-09-08 21:02] saddy001 commented on #12037
It clould be any of the possible affinities ;-)
The paramater space is the following:
[code]
However, I put some except code around the fit. If it happens again, I can give some more information.

[2018-09-08 22:40] rth opened #12043 "Re-evaluate treating DeprecationWarnings as errors"
Currently any raised DeprecationWarning makes the test suite fail due to the `pytest` settings in [`setup.cfg`](https://github.com/scikit-learn/scikit-learn/blob/2242f4c1d00d11de8fa01e67647f8a5188269fcb/setup.cfg#L16).

Opening this issue to see whether we want to keep this setup in the future. In my opinion it is too strict, and prone to failures due to reasons we can't control.

For instance, co

[2018-09-08 22:45] jnothman commented on #12043
It only makes sense to fail on warnings with the latest dependencies, IMO.

[2018-09-08 23:13] jnothman opened #12044 "API for getting DBSCAN-like clusterings out of OPTICS with `fit_predict`"
Currently we have an interface for OPTICS with custom method `extract_dbscan`. This is good for usability and visibility of the functionality, but means that a generic parameter search tool (like `GridSearchCV`) can't use OPTICS to perform DBSCAN at various `eps`.

This would involve adding an `eps` parameter which, when None, would use the default OPTICS clustering; when not None would use `extra

[2018-09-09 06:43] huafu commented on #10927
_@mohamed-ali I am not using neither know what is your/this repo, just landed here while searching something to skip CI related to changed files._

Anyway, here is where I'm at, if it can help:

- TravisCI: all ok, except for force push as you said. So I replaced `MODIFIED_FILES=$(git diff --name-only $TRAVIS_COMMIT_RANGE)` with `MODIFIED_FILES=$(git diff --name-only $TRAVIS_COMMIT_RANGE || echo '

[2018-09-09 20:05] giodegas commented on #11971
I did a new run of the rebuilt container, got this [sklearn_test.log](https://github.com/scikit-learn/scikit-learn/files/2364600/sklearn_test.log) with the outcome:

      28 failed, 9903 passed, 28 skipped, 64 xfailed, 5 xpassed, 926 warnings in 11380.18 seconds

[2018-09-09 20:08] giodegas commented on #11971
It appears the same as previous runs. How can I get the latest of all, without applying patches?
Is this enough?

     pip install --pre scikit-learn

[2018-09-10 00:09] kno10 commented on #11677
Boundary points on spikes in OPTICS plots are a bit tricky to handle.
That is why ELKI uses the predecessor (and R copied that from ELKI).

[2018-09-10 04:27] Sriharsha-hatwar commented on #12044
Hey @jnothman I would like to take up this, is there any basic requirement that is already there in the code base that I need to be acquainted with ?

[2018-09-10 08:42] rth commented on #12043
Made a PR to change this in #12048

Another use case where the current setup is problematic is e.g. running tests on PyPy. Currently there are test failures in https://github.com/scikit-learn/scikit-learn/pull/12039 because of DeprecationWarnings coming from PyPy that we don't really care about due to "fail on DeprecationWarning" setting hardcoded in `setup.cfg`.

[2018-09-10 09:19] XinyuuLi commented on #8445
Any updates for his issue? I am looking for GPR which accept precomputed kernel also.
I tried
[code]
But it don't work. (pairwise kernel want X.shape[1] = y.shape[0], but this requirement cannot be met during grid search cross validation)

[2018-09-10 09:27] kno10 commented on #11677
@adrinjalali The `dbscan` package states: "The OPTICSXi R implementation was directly ported from the ELKI framework's Java implementation". But the same technique can (and should) be used with any other plot-based extraction technique.

[2018-09-10 10:15] rth commented on #11971
You would need to install from master,
[code]
but for now there will be a few failures, mostly in doctests. I'm trying to fix the remaining ones in https://github.com/scikit-learn/scikit-learn/pull/12039

[2018-09-10 11:27] adrinjalali commented on #11677
### Update
- The issue with the multiple `inf` reachability values, PR #12029 fixes the issue (needs a second review)
- The issue with the `metric` parameter, almost fixed, it still doesn't support sparse input, issue #12009, #11982, PR #12028 (needs a second review)
- Handling the split points borrowing the xi-steep concept from the original paper: PR #12049 (needs review)
- Compare floats in `qu

[2018-09-10 13:45] yarikoptic commented on #12015
sorry, missed the replies.
- if really interested in how built, [here](https://github.com/yarikoptic/scikit-learn/blob/debian-0.20/debian/rules#L88) is the debian/rules (pointing to running the tests) with all gory details
- @ogrisel may be `print(', '.join(...)'` as a workaround?
- I haven't spotted any explicit skip in Makefile

[2018-09-10 15:05] giodegas commented on #11971
ok I will wait for the #12039 befire testing again, thank you.

[2018-09-10 15:35] jakirkham commented on #10624
Regarding the `const memoryview` case, there is [a simple workaround]( https://github.com/cython/cython/issues/1772#issuecomment-415088124 ), which could be tried. Still a bit hacky when compared to having things just work as intended in Cython, but less so.

[2018-09-10 16:18] Marek-Sedlacek opened #12051 "Isolation Forest - Max Depth Documentation"
**Description**
When fitting an Isolation Forest, the `max_depth` is implicitly defined by the `max_samples` parameter. (Seen [here](https://github.com/scikit-learn/scikit-learn/blob/a86709fdc379f7d7db76a75f39572890e4ddcad1/sklearn/ensemble/iforest.py#L262)). The documentation could provide more transparency on this relationship.

[2018-09-10 16:59] ian-perry-ironnet opened #12052 "CalibratedClassifierCV doesn't support groups parameter in fit method"
#### Description
With classes like `sklearn.model_selection.GridSearchCV` and even `skopt.BayesSearchCV` they take a `cv` parameter that can be any object that produces train/test splits.  In the case of using `sklearn.model_selection.GroupKFold` as the `cv` object, it requires a `groups` variable to be passed to `fit`.  In both these classes, they allow `groups` to be passed to `fit` that's then

[2018-09-10 18:16] rth commented on #10624
@jakirkham  I saw that, is it a pretty impressive (but as you say, somewhat hacky) workaround. To put something like this in scikit-learn it would be better if https://github.com/cython/cython/issues/1772 was just fixed altogether and I would really like to for it to happen.

With @lesteve we spend half a day trying to investigate this in Cython, with limited success, I'll post status updates on t

[2018-09-10 20:50] amueller commented on #6747
Haven't followed this and I'm kinda busy, but this seems like a potential blocker, right?

[2018-09-10 20:57] amueller commented on #6747
@ledell I think @jnothman is concerned with what's a good metric because people use what's in sklearn. People use R^2 for regression because it's the default in sklearn. People use 10 trees in a random forest b/c it's default in sklearn (we are changing the latter, it's hard to change the former).
Basically sklearn is prescriptive just because of its wide use, for better or worse.

Honestly my con

[2018-09-10 20:59] amueller commented on #6747
Wasn't it the case that chalearn implemented something different in the code than what they said in the paper? at least one of the ml competitions used weighted macro-average recall.

[2018-09-11 02:56] devAmoghS commented on #11989
@jnothman I am new to contributing to open source. Is this issue still open ?

[2018-09-11 03:56] ben-ix commented on #11897
My use case for the repr is pretty niche, but I felt a sk.set_printoptions(threshold=np.inf) would be useful generally as I'm sure theres other places these thresholds are used (say printing an estimator).

I was working on something similar to TPOT, where sklearn pipelines are evolved. DEAP (the evolutionary package) uses eval to recreate objects, so the repr is invoked here by default to make a

[2018-09-11 04:33] jakirkham commented on #10624
Thanks for sharing the update.

That's fair. Though I think we will need a Cython expert to direct us and/or possibly help us do some of the work.

The advantage of the workaround is we are able to get something running today with a minimal amount of "hackiness" and effort. Plus we can mirror the behavior Cython will have for end users.

[2018-09-11 08:14] ledell commented on #6747
@amueller

Agreed... to clarify, I don't have a preference on what the default metric should be for multi-class problems -- my only concern is the use of a polysemous method name like `balanced accuracy_score()` to refer to only one of the two things (this is the current status of the code in the release candidate).  If you have an option that allows switching between the two definitions, that see

[2018-09-11 09:13] adrinjalali commented on #11568
How does one go for fixing this? Should it be that in every place in `test_optics.py` where `OPTICS` is used, `optics` should also be used and check if they give the same results? Or is one simple test enough to compare the result of the two? Or should `optics`'s functionality be tested independently from `OPTICS`, i.e. to test if the results of calling the function are correct (again, for which t

[2018-09-11 09:27] adrinjalali commented on #12052
This is I guess another example of what could potentially be solved by PR #9566. You can check issues #11429 and #4497 for more detailed discussion on the matter. Developers are mostly busy with `0.20` release at the moment. I'm pretty sure we'll get back to this soon after the release.

In the meantime, you can check the answer I gave to the question "[sklearn GridSearchCV not using sample_weight

[2018-09-11 09:34] #10278 closed

[2018-09-11 15:02] glemaitre commented on #6747
It does not look like it: https://github.com/ch-imad/AutoMl_Challenge/blob/master/Starting_kit/scoring_program/libscores.py#L203

I have a preference there: in addition to the points raised by @jnothman in https://github.com/scikit-learn/scikit-learn/issues/6747#issuecomment-417220195, the macro-average recall is falling back the the `accuracy_score` with a balanced dataset while this is not the c

[2018-09-11 15:10] glemaitre commented on #6747
FWIW, an alternative metric used in the imbalanced classification literature is the geometric mean of the per-class recall.

[2018-09-11 15:12] amueller commented on #6747
Why would you find this confusing? Indeed this would mean the implementation reflects the state of the signature and the understanding of the community. There's no fuzzyness if there's two definitions for the same name.

And there's lots of literature on multi-class metrics and we can go into that at some point, I think @ledell makes a good point in being clear about what we implement and allowing

[2018-09-11 17:03] saddy001 commented on #12037
Now it fell into the trap. The code
[code]
yields
[code]
The pipeline is attached.

[pipeline.pkl.zip](https://github.com/scikit-learn/scikit-learn/files/2371973/pipeline.pkl.zip)

[2018-09-11 17:28] glemaitre commented on #6747
"Confusion" might not be the right term but returning completely different statistics would surprise me and I am not sure that we can advise to choose either implementation. In short, I am scared that users switch methods because the score obtained is higher. I am also concerned for the string style for the metric. Having `balanced_accuracy_score` and different strings will be difficult to documen

[2018-09-11 21:34] amueller commented on #6747
That's what we do for the different averaging methods, right?

[2018-09-11 21:37] glemaitre commented on #6747
That's true

[2018-09-11 23:27] #12034 closed

[2018-09-12 02:57] jnothman commented on #8445
The problem there is that the [`_pairwise` attribute](http://scikit-learn.org/0.20/glossary.html#term-pairwise) is not set on `GaussianProcessRegressor`. It could be set by recursively checking for the pairwiseness of the kernel...

[2018-09-12 02:58] jnothman commented on #8445
A fix for that would be welcome.

[2018-09-12 04:09] jnothman commented on #12044
Well, I wouldn't think of this as a good first issue, @Sriharsha-hatwar. Please try contribute to something more straightforward until you are familiar with our contribution process.

@adrinjalali, yes it is... I'm yet to read that.

[2018-09-12 04:27] shivamriky commented on #12044
I have worked on a documentation issue earlier. Can I take this issue? If yes, I will go through the issue and code to make sure that I can handle it.

[2018-09-12 05:46] jnothman commented on #12044
Do you feel comfortable with what this issue is suggesting?

[2018-09-12 05:46] jnothman commented on #11989
There is a PR open, but we're delaying merge.

[2018-09-12 07:02] jnothman commented on #6747
@amueller is right here. You've referenced the binary case, @glemaitre. Chalearn AutoML indeed implements macro-average recall, adjusted so that random performance is 0: https://github.com/ch-imad/AutoMl_Challenge/blob/2353ec0/Starting_kit/scoring_program/libscores.py#L206-L208. This is equivalent to our `balanced_accuracy` with `adjusted=True`.

I think we can safely eliminate Chalearn as a count

[2018-09-12 07:03] jnothman commented on #6747
We already do say in our documentation that adjusted=True equates to the Chalearn implementation. We do not note that their description is in error. Should we??

[2018-09-12 07:22] clumsyfox-z9o9z opened #12055 "Mixture of Bernoulli distributions"
#### Description

Is there some intention to implement a mixture of Bernoulli distributions? Could be a great feature to perform anomaly detection with discrete quantities as well.

If you are not aversed to this idea I would like to implement it with EM.

What do you think?

[2018-09-12 08:02] jnothman commented on #12036
I'm confused about the relevance of your comment to the present issue,
@espg, which is not at all about the correctness of the current
implementation, but is proposing to also implement xi extraction from
reachability, and to access labels for all extraction methods through the
standard interfaces rather than a custom extract_* method.

 I don't know how valuable the xi extraction method is... Do

[2018-09-12 08:34] ejarkm opened #12056 "GaussianMixture: covariance is not positive-semidefinite."
#### Description
sklearn\mixture\base.py:393: RuntimeWarning: covariance is not positive-semidefinite.
  for (mean, covariance, sample) in zip(

Hello, when using sklearn.mixture.GaussianMixture the covariance matrix of the fitted model has negative values.

By trying to overfit some data by using a high number of components (100 or 500) the covariance matrix has negative values.

[The data consis