[2021-07-13 07:03] BbChip0103 opened #20520 "'Shuffle' in the GroupKFold function and RepeatedGroupKFold function"
Regarding #13619

### What is problem?
GroupKFold did not support shuffle for repetition.
That makes only deterministic combination like below.

---
[code]
=== Output ===
Train index: [0 2]  Test index: [1 3]
Train group: [0 2]  Test group: [1 3]

Train index: [1 3]  Test index: [0 2]
Train group: [1 3]  Test group: [0 2]

---
We can combine group '[0 1], [2 3]' or '[0 3], [2 4]' also.
As we know,

[2021-07-13 07:09] #20317 closed

[2021-07-13 07:22] #19414 closed

[2021-07-13 07:22] ogrisel commented on #19414
This is the end of this issue! Thank you everybody involved!

[2021-07-13 07:47] mlondschien opened #20522 "Allow `sample_weights` in `SplineTransformer.fit` method"
This is only relevant for `knots="quantile"`.

Sample weights are central in many applications (e.g. risk modelling in insurance). The missing support for sample weights prohibits the use of the `SplineTransformer` with `knots="quantile"` in these applications. Implementing this would be a minor change, making a slight adjustment to `SplineTransformer._get_base_knot_positions`. Thus IMO the benefi

[2021-07-13 08:48] lbittarello commented on #20522
To benefit fully from sample weights, it'd also be ideal for the column transformer passed fit parameters to the transformers, which isn't the case at present (unlike the pipeline), though that's a separate issue.

[2021-07-13 15:31] genvalen commented on #20308
Working in ``GraphicalLasso``

[2021-07-13 17:14] xiaohk opened #20525 "Unstable roc_auc_score when the prediction probabilities are long-floating points"
#### Describe the bug

I am a bit confused about the behavior of `roc_auc_score` computation when the prediction probabilities are small and long floating point numbers.

#### Steps/Code to Reproduce

[code]

#### Expected Results

I expect all ROC AUC scores to be close to 0.5.

#### Actual Results

The ROC AUC score is quite high when `y_score` is not rounded; it is closer to 0.5 when I round `y

[2021-07-13 17:17] reshamas commented on #20308
Ridge PR #20499 (merged)
RidgeCV PR #20503 (merged)

@alinealfa It looks like @ogrisel is updating this every few days.

[2021-07-14 19:23] lorentzenchr commented on #20471
I'm inclined to close this issue. If someone comes up with a good use case, we can reconsider.
As polynomial features (usually) produce more output features than input features, one would multiply the columns that have missing values. In my opinion, that is bad practice.

[2021-07-14 19:23] #20471 closed

[2021-07-15 03:31] reshamas commented on #20308
Working on `BernoulliRBM`

[2021-07-15 08:22] glemaitre commented on #20525
I don't think that there is anything wrong with the metric indeed. What is more problematic here are the predictions

All these scores close to zeros can still be used as thresholds when building the ROC curve (you can plot the ROC curve or check the `thresholds` returned by `roc_curve`). The AUC is derived from these curves and it does make sense. Rounding the prediction will decrease the number

[2021-07-15 13:35] #20484 closed

[2021-07-15 17:04] reshamas commented on #20308
To update:
- GraphicalLasso #20527 **(merged)**
- AffinityPropagation PR #20532 **(merged)**

[2021-07-15 20:39] ayouqi commented on #19677
Hi @thomasjpfan, I've installed the latest version of Scikit-Learn (0.24.2) but still face this issue. I had to downgrade to 0.22.... I was wondering if the solution hasn't been released yet?

[2021-07-15 22:27] rohilverma opened #20537 "Score decision tree using only samples that propagate to leaves trained with >N datapoints"
After training a particular model, there is typically a decent amount of threshold tuning in order to select the appropriate decision rule for the application. In general, the goal is to identify rules (either based on threshold, or other properties of the algorithm) that enable us to exclude the model from making _bad_ decisions while still being applicable to the majority of the dataset.

For de

[2021-07-15 23:33] geo7 opened #20538 "Y-hat is used unconventionally within documentation for model evaluation"
#### Describe the issue linked to the documentation

Meaning of $\hat{y}$ doesn't follow convention here : https://scikit-learn.org/stable/modules/model_evaluation.html#multiclass-and-multilabel-classification , making the documentation quite jarring to read.

#### Suggest a potential alternative/fix

Use $\hat{y}$ for predicted values, not true.

### Additional comment

Checked elsewhere in page:

[2021-07-16 02:02] thomasjpfan commented on #19677
The original code snippet now works on 0.24.2:

[code]

May you provide a reproducible code snippet demonstrating your issue?

[2021-07-16 08:39] glemaitre commented on #19881
`if_available` allows being flexible now.

[2021-07-16 08:39] #19881 closed

[2021-07-16 09:21] OnlyDeniko opened #20539 "BLAS memory allocation error in KMeans & kNN & DBSCAN"
#### Describe the bug
I have the following error:
```BLAS : Program is Terminated. Because you tried to allocate too many memory regions.```
When launch code:
```KMeans```
[code]
```KNN```:
[code]
```DBSCAN```:
[code]

#### Steps/Code to Reproduce
Environment:
[code]
Platform:
[code]
#### Expected Results
Nothing
#### Actual Results
[code]
#### Versions
[code]

[2021-07-16 10:03] jeremiedbb commented on #20539
Do you have a CPU with more than 64 (or 88 I'm not sure) cores ?

[2021-07-16 10:07] jeremiedbb commented on #20539
I looked and the c5.24xlarge model has 96 cores. As far as I know OpenBLAS can't handle 96 cores. I suggest you set the environment variable `OPENBLAS_NUM_THREADS=64`.

[2021-07-16 11:05] NicolasHug commented on #20538
I agree it's quite confusing. On top of the hat discrepency, `y` is used there to denote a couple (sample, label), where everywhere else in our docs and codebase, `y` only denotes the label part.

Would you like to propose a PR @geo7 ?

[2021-07-16 13:57] OnlyDeniko commented on #20539
[code]
It is doesn't help

[2021-07-16 13:59] OnlyDeniko commented on #20539
What changes when I download scikit-learn from the conda-forge channel, for example?

[2021-07-16 19:39] jackzyliu commented on #20506
Hi, I would like to help our with this issue.

Quick question: is the current plan to have local versions of `_estimator_has` as opposed to having a single, flexible version somewhere - maybe in `metaestimators.py`?

[2021-07-16 19:40] jackzyliu commented on #20506
I thought it could help keep track of progress to list here all the occurrences of `if_delegate_has_method` that need replacing. Please feel free to add to, delete from, or just take over this list.
- [ ] ./sklearn/pipeline.py
- [ ] ./sklearn/model_selection/_search.py
- [ ] ./sklearn/feature_selection/_from_model.py
- [ ] ./sklearn/feature_selection/_rfe.py
- [ ] ./sklearn/semi_supervised/_self_t

[2021-07-17 00:59] genvalen commented on #20308
Working on ``GraphicalLassoCV``

[2021-07-17 01:12] yashasvimisra2798 commented on #20435
Can I work on this issue?

[2021-07-17 02:45] genvalen commented on #20308
Working on `` EllipticEnvelope``

[2021-07-17 02:48] duongvanle opened #20547 "SVR with kernel = "poly" hang when using RandomizedSearchCV/GridSearchCV with coef0 parameter"
Please Anyone help me to debug this error.
This is my dataset.  [dataset.txt](https://github.com/scikit-learn/scikit-learn/files/6834036/dataset.txt)

I run RandomizedSearchCV/GridSearchCV with params is:

[code]

And when I run the RandomizedSearchCV/GridSearchCV with kernel ="poly", my program hang forever. If I remove the coef0 parameter, my program will run well, not hang)
Does anyone have an

[2021-07-17 08:07] NicolasHug commented on #20435
@yashasvimisra2798 sure, thanks!

[2021-07-17 17:32] xiaohk commented on #20525
@Gleekzone Ahh got you! It makes sense to me; thanks for the explanations!

I am using my own model. I will add rounding in my sigmoid function ٩( ᐛ )و

[2021-07-17 17:32] #20525 closed

[2021-07-17 23:03] chmendoza opened #20553 "`use_idf` parameter in TfidfTransformer is confusing"
#### Describe the issue linked to the documentation

It took me a while to understand what is the purpose of `use_idf` in TfidfTransformer. With `use_idf=False`, the TfidfTransformer behaves as the identity (i.e., do nothing). It would be good to improve the documentation of that parameter since for new users, like me, it can be confusing to have a parameter that can make the TfidfTransformer to a

[2021-07-18 02:33] jnothman commented on #20553
There are other parameters that would modify tf even with use_idf=False. We
could introduce a warning when the transformer would be a no-op, but this
can be useful in grid search. A pull request improving the documentation is
welcome.

[2021-07-18 02:48] jnothman commented on #20547
Have you tried using `verbose` to get more info on progress?

[2021-07-18 03:14] duongvanle commented on #20547
@jnothman
When I set verbose=True, It printed "Fitting 5 folds for each of 6734 candidates, totalling 33670 fits" and then hang. PC had still run 100% of all cores.  It seems to have a problem with dataset, causes the situation that calculate infinitely -> hang

[2021-07-18 03:57] duongvanle commented on #20547
@jnothman
After some days, I found the reason. That exactly is about dataset. There are some noisy data that have value is too large. It makes the program takes too much time to calculate. No problem with SVR sklearn. Thank you so much for concerting my issue.
So now, I will close this issue. If anyone encounter this situation that similar to me, please check your dataset, especially noisy data.

[2021-07-18 03:57] #20547 closed

[2021-07-18 12:28] deeksha200 commented on #20488
Yes, After finding the optimal hyperparameters using cross validation , final model uses these optimal hyperparameters and refits on the whole training dataset, and you rightly mentioned it is no where documented.

[2021-07-18 13:53] YasmeenAlsaedy commented on #11198
Hey, is this issue still open? I would like to help.

[2021-07-18 13:54] GF-Huang opened #20556 "What the fucking meaning? Numerical issues were encountered when scaling the data and might not be solved. The standard deviation of the data is probably very close to 0."
![image](https://user-images.githubusercontent.com/4510984/126069920-137e3ac8-430c-412d-9b7c-805389fa155a.png)

[2021-07-18 16:46] lokijota opened #20557 "RegressorChain support for Pipelines including ColumnTransformer"
#### Describe the bug

I can't seem to get the `RegressorChain` working with pipelines that include a `ColumnTransformer`. I posted an issue on StackOverflow with more: https://stackoverflow.com/questions/68430993/sklearn-using-regressorchain-with-columntransformer-in-pipelines .

Somewhere in `__init__.py / _get_column_indices(X, key)` this call fails: `all_columns = X.columns`  saying `'numpy.nd

[2021-07-18 17:52] lorentzenchr opened #20558 "Possible performance improvement of FastICA"
#### Describe your proposed solution
The function `_ica_par` has the following line of code:
https://github.com/scikit-learn/scikit-learn/blob/cd8201b7fbdf6876719b44ec0abac85a6da583d2/sklearn/decomposition/_fastica.py#L111

We could investigate, if performance is improved by replacing `np.diag(np.dot(W1, W.T))` by `np.einsum("ij,ij->i", W1, W)`.

#### Additional context
A short benchmark would be

[2021-07-18 19:02] siegfriedkaidisch opened #20559 "Gaussian Processes: RQ Kernel with ARD"
#### Describe the workflow you want to enable
I would like to have access to a Rational Quadratic Kernel with ARD for Gaussian Processes.
See e.g. RQArd at https://stor-i.github.io/GaussianProcesses.jl/latest/kernels/#GaussianProcesses.RQArd

#### Describe your proposed solution
I implemented a first possible version, see Implementation below.
It is based on https://scikit-learn.org/stable/modules

[2021-07-18 22:10] thomasjpfan commented on #10993
Opened https://github.com/scikit-learn/scikit-learn/pull/20560 to finish up this issue.

[2021-07-18 23:12] yoni2k commented on #13621
@hermidalc
I think my use case is similar but with slight differences:
1. What if I want to group by 1 feature in X, and stratify by another feature in X (and not by y)?
2. There seems to be an assumption in this code that what we are stratifying by are consecutive integers starting from 0, right?  What if the "label" itself is not an integer / not consecutive?

It looks like I made it work but it

[2021-07-19 02:35] thxSakura commented on #20089
Have you solved this problem? I also encountered a similar problem.

[2021-07-19 03:32] weiguang-zz opened #20563 "Non-naive version of Gaussian Bayes model"
I found that sklearn has many implementations of naive Bayes algorithm： GaussianNB、MultinomialNB、ComplementNB.
But there is no Bayesian algorithm for the non-naive version. But the reality is that in many cases, features are relevant.

I understand that the premise of simplicity is very important for discrete features, Because when the number of features is relatively large, the joint distribution

[2021-07-19 07:57] mlondschien commented on #20522
Thanks @lorentzenchr. In that case, could you have a look at https://github.com/scikit-learn/scikit-learn/pull/20526 and https://github.com/scikit-learn/scikit-learn/pull/20528?

[2021-07-19 09:09] pranaysingh25 opened #20564 "Results of Kernel PCA and LLE are different for different number of CPU cores provided for the run."
Hi,

I am doing dimensionality reduction using Scikit-Learns's [KPCA](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.KernelPCA.html) and sometimes [LLE](https://scikit-learn.org/stable/modules/generated/sklearn.manifold.LocallyLinearEmbedding.html) APIs.
I have dataset which has a shape of around (700X150) all numerical.
I am just trying to pass this data to one of the abo

[2021-07-19 10:05] NicolasHug commented on #20563
As mentioned in the discussion you opened https://github.com/scikit-learn/scikit-learn/discussions/20541 this is basically what LDA and QDA are

[2021-07-19 10:09] NicolasHug commented on #20556
Please avoid:

- screenshots
- not providing a minimal reproducing example, as asked in the issue template
- starting a question with "Fucking"

Closing, feel free to re-open an issue with some adjustements

[2021-07-19 10:09] #20556 closed

[2021-07-19 14:41] senisioi commented on #20475
This problem seems related to https://github.com/scikit-learn/scikit-learn/issues/12939 and overall the problem stems from the usage of warnings library which is not thread-safe. The solution would be to use the logging library and set the correct logging level when running the application.
I would gladly make a Pull request with changes that refactor warnings.warn to a logger.warning from the log

[2021-07-19 15:47] MaxwellLZH opened #20565 "Using `available_if` causes failed test cases due to different error message format"
#### Describe the bug

Using `available_if` to replace `if_delegate_has_method` in the pipeline module causes failed tests due to different error messages.

#### Steps/Code to Reproduce
[code]

Replace `if_delegate_has_method(delegate="_final_estimator")` with `available_if(_final_estimator_has("decision_function"))`, run `test_pipeline.py`, the following error occurs:

[code]

In `available_if` t

[2021-07-19 15:54] #14226 closed

[2021-07-19 16:47] jeremiedbb commented on #20539
Hum then I don't know what to do. Anyway it's not a scikit-learn issue but an OpenBLAS issue. You should file an issue there https://github.com/xianyi/OpenBLAS, they'll be more helpfull than us.

[2021-07-19 17:07] swpease opened #20566 "Linear and Quadratic Discriminant Analysis User Guide formula error"
#### Describe the issue linked to the documentation

The [Estimation Algorithms section](https://scikit-learn.org/stable/modules/lda_qda.html#estimation-algorithms) has the covariance matrix equal to VS^2V^T.

#### Suggest a potential alternative/fix
Divide S^2 by (n - 1)

[2021-07-19 18:23] glemaitre commented on #20308
@thomasjpfan I just realized that we are not considering functions or classes that are not estimators in this check. I was just working on the plotting API, and the check is not run there. It could be a nice addition to yield these extra functions and classes.

[2021-07-19 21:05] franslarsson commented on #20558
This sounds interesting! I would like to work on this issue if that's ok?

[2021-07-20 03:11] PranayAnchuri opened #20570 "Change classifier to regressor in docstring"
#### Describe the issue linked to the documentation

The docstring for `AdaBoostRegressor` uses the term classifier (instead of regressor) in the docstring when describing the `learning rate` parameter. See https://github.com/scikit-learn/scikit-learn/blob/f081f5829182529eb1ab666f79c9b917b0b07f09/sklearn/ensemble/_weight_boosting.py#L928

#### Suggest a potential alternative/fix

Replace each occu

[2021-07-20 04:34] genvalen commented on #20308
Working on ``ShrunkCovariance``
Working on ``LedoitWolf``
Working on ``OAS``

[2021-07-20 08:45] glemaitre commented on #20570
Thanks for catching this. Would you like to make a PR to solve this error.

[2021-07-20 08:47] glemaitre commented on #20565
Yep the previous error message was meaningful. We should solve this issue.

[2021-07-20 08:59] glemaitre commented on #20558
@franslarsson go ahead, it will be interesting to see some benchmarks. I don' t know if the `W` matrix is big enough to benefit from the `einsum` but only benchmark will answer this question ;)

[2021-07-20 09:52] RoyAlderton opened #20572 "References to proportions of correct classifications in RFECV example"
#### Describe the issue linked to the documentation

In the example for [Recursive Feature Elimination with Cross-Validation](https://scikit-learn.org/stable/auto_examples/feature_selection/plot_rfe_with_cross_validation.html), I found the references to the classification scores confusing. The example uses a classifier with accuracy scoring, i.e. proportions of correct classifications. There is a

[2021-07-20 12:47] weiguang-zz commented on #20563
perfect, thanks a lot

[2021-07-20 12:47] #20563 closed

[2021-07-20 13:59] PranayAnchuri commented on #20570
Sure. I can do that. There are few more places in the same class where this can be fixed. I will make a PR with all the changes.

[2021-07-20 14:06] glemaitre commented on #20570
Thanks. Looking forward to review your PR.

[2021-07-20 14:15] lesteve commented on #20475
Thanks for your input, I am planning to work on this issue as I mentioned above.

Don't worry though if you are looking to contribute to scikit-learn, there should be plenty of other issues to work on 😉. [This part of the doc](https://scikit-learn.org/stable/developers/contributing.html#ways-to-contribute) should help you getting started as well.

[2021-07-20 18:27] reshamas commented on #20308
@glemaitre , @thomasjpfan
To update checklist at top:
- AdditiveChi2Sampler #20536 **(merged)**
- GraphicalLassoCV #20546 **(merged)**
- EllipticEnvelope #20548 **(merged)**
- EmpiricalCovariance #20551  **(merged)**
- ShrunkCovariance #20571 **(merged)**

[2021-07-20 19:43] #20570 closed

[2021-07-20 20:22] thomasjpfan commented on #11198
@YasmeenAlsaedy Thank you for your interest! Currently, we already have https://github.com/scikit-learn/scikit-learn/pull/20161 working to finish this issue up.

[2021-07-20 22:34] gregglind opened #20576 "`tree.export_text`: add `class_names` argument to mirror `plot_tree`"
#### Describe the workflow you want to enable

Decision trees should have similar / identical options for all export formats.

#### Describe your proposed solution

Include the `class_names` argument.

#### Describe alternatives you've considered, if relevant

Overhauling the whole `tree` plotting and export system, to make very nice output easy to achieve.  Right now each format is dependent on f

[2021-07-21 01:27] lucyleeow opened #20577 "Improve error message in `_get_response`"
#### Describe the bug
The binary classifier error message in [`_get_response`](https://github.com/scikit-learn/scikit-learn/blob/ded59b5713bcbfcaa27d7d9d1de704c96817870c/sklearn/metrics/_plot/base.py#L52):
[code]
could be improved, e.g., it may be confusing to get "KMeans should be a binary classifier", maybe something like 'Expected a binary classifier, got {`estimator.__class__.__name__`}' ...?

[2021-07-21 01:39] souzatharsis commented on #19038
Hi @nandinisingh759, I was wondering whether there's been any update for this issue since last year.
Much appreciated!

[2021-07-21 02:10] thomasjpfan commented on #20577
I like the improved wording.

[2021-07-21 03:49] genvalen commented on #20308
Working on ``MinCovDet``

[2021-07-21 07:17] mbunse opened #20581 "Proposal for a `sklearn.pipeline.Pipeline.get_feature_names` method"
#### Describe the workflow you want to enable
Often we build complex pipelines of transformers to preprocess raw features and produce some kind of input feature set for the final model. It is currently quite challenging to find out which column of the final model input feature set belongs to which column of the raw feature set.

Some transformers already provide a `get_feature_names` method, but `

[2021-07-21 07:18] yahoyoungho commented on #14954
@glemaitre Hi, random suggestion but what the function has a parameter named `mapping` that takes in a dictionary with keys being strings or some type of data and values being integers (either in a float or int form)?

[2021-07-21 11:48] jjerphan opened #20582 "Adapt centroids' initialisation in `BallTree`"
As reported by @Witiko in https://github.com/scikit-learn/scikit-learn/discussions/20097#discussioncomment-743215, the centroids' initialization in `BallTree` is tight to the case of the euclidean distance regardless of the `DistanceMetric` set indirectly by the user provided `metric` argument.

https://github.com/scikit-learn/scikit-learn/blob/7b715111bff01e836fcd3413851381c6a1057ca4/sklearn/neig

[2021-07-21 14:25] glemaitre commented on #20522
I think that they are only missing features :)

[2021-07-21 14:36] #20522 closed

[2021-07-21 16:25] #20508 closed

[2021-07-21 16:32] pavelkomarov commented on #20349
I also want this. I'm faced with a situation where I'm trying to train an LSTM on several time series. I want to reset the model state between series, so the model is making fresh predictions on each, but because GroupKFold doesn't pass through which points belong to which series, I'm having to make my own data divisions from scratch.

[2021-07-21 16:39] pavelkomarov commented on #18338
I also want this. I've had several cases where I need to know which groups are coming through at each GroupKFold iteration. I think the most general way to do this is to also return...Wait a minute. If I've got `X`, `y`, `groups` as numpy arrays, and `.split` returns me indices, I can see which groups things belong to by indexing `groups[train_ndx]` and `groups[test_ndx]`.

[2021-07-21 18:55] glemaitre commented on #20581
We are currently working on this feature. We first need to solve the following:

https://github.com/scikit-learn/scikit-learn/pull/18444

Once done, we will implement a `get_feature_names_out` for all transformers and pipeline:

https://github.com/scikit-learn/scikit-learn/pull/18444

[2021-07-22 07:19] jnothman commented on #20581
There is a related implementation available to use in `eli5`'s [`transform_feature_names`](https://eli5.readthedocs.io/en/latest/autodocs/eli5.html#eli5.transform_feature_names):

https://github.com/eli5-org/eli5/blob/69637074ad07cdb0d0aa3a650302a721c9272e4b/eli5/sklearn/transform.py#L56-L62

[2021-07-22 08:07] julyrashchenko opened #20584 "Wrong default value of pre_dispatch argument in GridSearchCV in documentation"
In doc to `model_selection.GridSearchCV`, it's specified that the default value for `pre_dispatch` argument is `'n_jobs'`.
https://github.com/scikit-learn/scikit-learn/blob/2beed55847ee70d363bdbfe14ee4401438fba057/sklearn/model_selection/_search.py#L1090
But in the constructor, it's specified as `'2*n_jobs'`.
https://github.com/scikit-learn/scikit-learn/blob/2beed55847ee70d363bdbfe14ee4401438fba05

[2021-07-22 08:34] OnlyDeniko commented on #20539
Could you join the conversation? there are questions about scikit-learn, the answers to which I do not know
https://github.com/xianyi/OpenBLAS/issues/3321#issuecomment-884740047

[2021-07-22 08:37] #20362 closed

[2021-07-22 12:26] thomasjpfan commented on #20584
Yes this is an issue with the GridSearchCV docstring. Do you want to open a pull request to update the docstring?

[2021-07-22 13:40] julyrashchenko commented on #20584
Yea, sure, I will do that

[2021-07-22 14:04] adrinjalali opened #20585 "RFC Private attributes copied in `clone`"
#20350 is an implementation of [SLEP006](https://scikit-learn-enhancement-proposals.readthedocs.io/en/latest/slep006/proposal.html), and it introduces a few methods (e.g. `fit_requests`) which set routing data for the metadata which is then handled by meta-estimators such as `Pipeline` or `GridSearchCV`.

Those routing information are stored in a `_metadata_request` instance attribute which needs

[2021-07-22 14:31] francescamanni1989 commented on #17660
How did you adapt the learners of NGBoost?

[2021-07-22 15:00] kmedved commented on #17660
Via the `Base` parameter. [See documentation here. ](https://stanfordmlgroup.github.io/ngboost/1-useage.html#Base-Learners).

Note their implementation is quite slow.

[2021-07-22 16:16] thomasjpfan commented on #20585
I am okay with using estimator tags to change the behavior of `clone`. (It would be really nice to have this for freezing)

My bigger concern is how we communicate this. The tags are private and `clone` is a public function. Are we happy enough with the tags as they are now to make it public?

[2021-07-22 18:18] #18364 closed

[2021-07-22 19:32] mbunse commented on #20581
@glemaitre Thank you for pointing me to the PR. Seems already fairly advanced to me. I close this issue.

@jnothman Unfortunatly the `eli5` implementation lacks of support for e.g. `Pipeline`s within a `ColumnTransformer`. E.g. the following pipeline fails
[code]

[2021-07-22 19:32] #20581 closed

[2021-07-23 02:54] fwmeng88 commented on #16151
I got the same problem here.

[2021-07-23 08:35] guettel opened #20589 "PCA returns highly inaccurate results when number of features is large"
The below code computes and prints the first five scores associated with the first principal axis of an numpy array of size 1e5x20 in three different ways using i) sklearn's PCA decomposition, ii) scipy's sparse SVD, and iii) scipy's dense SVD. Results should be the same up to sign but PCA returns highly inaccurate values:
[code]

This problem does not appear when the array has fewer than `nfeat=1

[2021-07-23 08:59] jeremiedbb commented on #20589
I can confirm that the issue comes from the randomized svd since it matches scipy results when I set `svd_solver="full"` or `svd_solver="arpack"`. We expose a `iterated_power` param corresponding to the `n_iter` param of `randomized_svd`, but we don't expose the `n_oversamples` param which would help in this case.

As indicated in the doc of `randomized_svd`, one should consider increasing `n_over

[2021-07-23 09:30] guettel commented on #20589
Thanks Jeremie for looking into this! From your proposed solutions, I think the first (use the recommendation of randomized_svd by default) would be the most user friendly.

In all performance tests I've done so far, the automatic switch to randomized SVD significantly slows down the computation (sometimes by factors of 10-100) and so I'm using `svd_solver="arpack"` at all times. (Even though my m

[2021-07-23 09:40] adrinjalali commented on #20585
I think there's a distinction between public _end user_ API, and third party developer API. Third party developers already need to know about estimator tags if they want to pass the `check_estimator` tests. At least I have certainly included estimator tags in my talks([example](https://github.com/adrinjalali/talks/blob/master/sklearn-estimator-fosdem-2020/custom_estimators.ipynb)).

[2021-07-23 09:46] jeremiedbb commented on #20589
This is expected and documented, see the `n_components` entry here https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html.

[2021-07-23 13:45] adrinjalali commented on #18798
Last year when I was working on a training on "how to write your own estimator" on a language usecase, since the input wasn't a numerical ndarray, and rather a list of strings, I had to use tags to pass `check_estimator`. To me for all those usecases using tags is a must for third party developers, and I see no reason why we shouldn't make them use it.

[2021-07-23 14:01] adrinjalali opened #20590 "RFC Make estimator tags available at class level instead of instance level"
https://github.com/scikit-learn/scikit-learn/pull/20350 uses class attributes such as `_metadata_request__sample_weight` to change or set default values for requests related to certain metadata. Those attributes need to be available at the class level (as opposed to instance) since we generate certain methods for the classes and that part of the process has access to the class, and not the instanc

[2021-07-23 14:54] thomasjpfan commented on #20557
Currently the regression chain needs to slice the data which means it is converting the data into numpy arrays before passing it into the base estimator:

https://github.com/scikit-learn/scikit-learn/blob/a5a9d1776eeeaa4cc89b87b15307bbde82af7316/sklearn/multioutput.py#L521

At a glance, I think the implementation can be adjusted to preserve the dataframe, and ultimately passthrough a pandas datafr

[2021-07-23 15:09] reshamas commented on #20439
Hi @genvalen,
Looks like there is one more item you are working on with the list, right?

[2021-07-23 15:36] thomasjpfan commented on #20590
Fundamentally, I have been thinking that the estimator tags feel more natural attached to the class.

We use the instance when we define "pairwise":

https://github.com/scikit-learn/scikit-learn/blob/a5a9d1776eeeaa4cc89b87b15307bbde82af7316/sklearn/cluster/_affinity_propagation.py#L422-L423

That was a recent addition, where I assumed that tags will stay connected to the instance. (If we want to m

[2021-07-23 15:43] NicolasHug commented on #20590
Meta-estimators I assume, since  they must delegate most tags to the inner estimator which is only known after instantiation, and sometimes even after `fit()`

[2021-07-23 15:51] thomasjpfan commented on #20590
Hmm, I most visible one is `*SearchCV` when searching through estimators, `*SearchCV` should inherit the tags of the estimator that it found. (I do not think this is implemented)

[2021-07-23 16:00] NicolasHug commented on #20590
There are other meta-estimators like SFS and RFE, but not as many as I expected:

[code]

Indeed, tag delegation doesn't seem to be fully implemented. But it does seem that we rely on it at least partially, so making the tags a class-level property might be a bit tricky

[2021-07-23 16:09] reshamas commented on #20308
@glemaitre , @thomasjpfan
To update checklist at top:
(Can you add an emoji, once you've updated, as a confirmation?  Thank you.)

### OPEN
DOC Ensures that BernoulliRBM passes numpydoc validation #20533 BernoulliRBM
DOC Ensures that AgglomerativeClustering passes numpydoc validation #20544 AgglomerativeClustering

### MERGED
DOC Ensures that LedoitWolf passes numpydoc validation #20578 LedoitWolf

[2021-07-23 17:02] nathanwalker-sp commented on #7308
@fbidu thank you so much for this! for what it's worth I think it would be fairly simple to add this also to RFECV (which just calls RFE), but I understand if that's outside of the scope of what you're working on (since you're already building/trying to merge)

[2021-07-23 19:06] genvalen commented on #20439
Hi @reshamas, I completed BernoulliNB (#20429) prior to creating this issue, so all NB classes currently pass numpydoc checks. I'll update this the NB PR to reflect that

[2021-07-23 21:55] amartya18x opened #20591 "PCA inconsistency with adding/subtracting mean for transform and inverse_transform when n_components=0"
When using n_components=0 in the PCA module, and using transform followed by inverse_transform, it returns the mean of the data. I am not sure if this is intended behaviour but it looks like bug to me as this is happening because the transform is not subtracting the mean but the inverse_transform is adding the mean.

Example:
[code]

#### Expected Results
Ideally transform and inverse_transform sh

[2021-07-23 23:53] reshamas commented on #20439
So, does this mean that this issue (#20439) can be closed via PRs #20429 and #20440?

[2021-07-24 01:54] genvalen commented on #20439
Yes! I'll do so now. Thank you.

[2021-07-24 01:54] #20439 closed

[2021-07-24 02:01] genvalen commented on #20308
Working on ``MLPRegressor``

[2021-07-24 03:44] hsuehkuan-lu commented on #20488
As @deeksha200 stated, cross-validation is a technique to find an optimal hyperparameters in training set. Especially helpful when the amount of training set is limited, cross-validation gives better approximation to the whole dataset than fixing a validation set.

[2021-07-24 09:23] edikedik opened #20594 "sample_weight mutability in conjunction with GridSearchCV and MultiOutputRegressor"
#### Describe the bug

Hi,

I've encountered a peculiar behavior of the `GridSearchCV`. Namely, it mutates the `sample_weight` values provided as a keyword argument to the `GridSearchCV.fit` method. For me, this was an unexpected side effect, and I consider it a bug.

#### Steps/Code to Reproduce

[code]

`ws` has the following values:
[code]

Then I use `GridSearchCV` in the following manner (gri

[2021-07-24 12:26] jnothman commented on #20590
For good or bad, the parameters of an estimator fundamentally change its capabilities/API at times. I think the answer to this is "sorry, no, find another way".

[2021-07-24 12:32] jnothman commented on #20537
This would be an alternative pruning strategy? How does it compare to cost-complexity pruning (https://scikit-learn.org/stable/auto_examples/tree/plot_cost_complexity_pruning.html)? There are indeed several issues related to pruning in our tracker.

[2021-07-24 12:45] MandaloreUltimate opened #20595 "Parallelization in LocallyLinearEmbedding"
In [**Locally Linear Embedding**](https://github.com/scikit-learn/scikit-learn/blob/2beed55847ee70d363bdbfe14ee4401438fba057/sklearn/manifold/_spectral_embedding.py), the process of local reconstruction for each of _n_ points (presented in [**barycenter_weights**](https://github.com/scikit-learn/scikit-learn/blob/2beed55847ee70d363bdbfe14ee4401438fba057/sklearn/manifold/_locally_linear.py#L22) fun

[2021-07-24 13:01] thomasjpfan commented on #20594
This bug was recently fixed in https://github.com/scikit-learn/scikit-learn/pull/20534 and will be apart of the next release of scikit-learn.

[2021-07-24 13:01] #20594 closed

[2021-07-24 14:45] thomasjpfan commented on #20572
Your suggestions makes sense. Do you want to open a pull request to update the example?

[2021-07-24 14:51] fbidu commented on #7308
@nathanwalker-sp you're welcome! Well, I agree with you and sure enough should be a simple change, but I'm not familiar with the practices adopted by this project to track these.

@glemaitre as the reviewer for my PR, what do you think? May I just go ahead and implement this there or is it better if we first merge #20380 and then create a new issue/PR pair to track RFECV?

[2021-07-24 16:04] #20584 closed

[2021-07-24 17:57] MichaelShoemaker commented on #20027
I realize this is closed, but is there a work around for this issue? I was hoping to be able to help with some of the documentation issues, but I recieve the error:

After uninstalling sphinx I tried pip install sphinx==1.8.3, but receive the same error. Any guidance is greatly appreciated.

[2021-07-24 17:57] kadatatlukishore commented on #20572
Hey @thomasjpfan , Can I take up this ?

[2021-07-24 18:04] thomasjpfan commented on #20027
We recently added a dependency on `sphinxext-opengraph`. You can install it with `pip install sphinxext-opengraph`. (You should be able to use the latest version of sphinx)

REF: https://scikit-learn.org/dev/developers/contributing.html#building-the-documentation

[2021-07-24 18:06] thomasjpfan commented on #20572
I would wait a week to see if @RoyAlderton responses to https://github.com/scikit-learn/scikit-learn/issues/20572#issuecomment-886063119.

[2021-07-24 18:09] kadatatlukishore commented on #20572
Thanks for the response @thomasjpfan . Will be waiting.

[2021-07-24 18:39] thomasjpfan commented on #19038
This issue is being worked on https://github.com/scikit-learn/scikit-learn/pull/19056

@rth Is there a reason why ball trees and kd trees have different valid metrics?

[2021-07-24 18:45] glemaitre commented on #20591
I would probably expect an error since a 0-component does not make any sense, isn't it?
Then, regarding the behaviour of `inverse_transform` in this case is not completely stupid because this is the only thing that we can return indeed.

[2021-07-24 19:28] jules-stacy commented on #16701
I'm running into this problem as well. As @NicolasHug commented, the model only has .distances_ if distance_threshold is set. This does not solve the issue, however, because in order to specify n_clusters, one must set distance_threshold to None. I need to specify n_clusters. I must set distance_threshold to None. The example is still broken for this general use case.

[2021-07-25 13:07] zihuaihuai opened #20601 "normal .fit() occupy all the cpu cores in linux server"
When I use the model.fit() on a linux server without setting n_jobs and other kwargs, it automatically occupy all the cpu cores in the topm with 100% occupied rate. But the speed is not fast.

[2021-07-25 16:09] adrinjalali commented on #20590
Ok.

[2021-07-25 16:09] #20590 closed

[2021-07-25 20:44] glemaitre commented on #20601
This is not surprising since that some of the NumPy operations will use all available cores.
You probably want to look at `threadpoolctl` to a fine control on the number of threads: https://github.com/joblib/threadpoolctl

[2021-07-25 20:44] #20601 closed

[2021-07-25 23:43] fwmeng88 commented on #8445
If we can allow precomputed kernel for Gaussian process, that would be higly apprecriated and I believe it's going to be very useful for a lot of people.

[2021-07-26 07:14] brgopalakrishnan commented on #20187
it seems there is a need for improved documentation.

The default shuffle is True and the default stratify is None which contradicts the statement "If shuffle=False then stratify must be None".

[2021-07-26 09:23] NicolasHug commented on #20566
I think you're correct, thanks for the report. Would you like to submit a PR to fix this?

[2021-07-26 09:30] NicolasHug commented on #20591
I'm surprised it doesn't raise an error as well. Would you like to submit a PR @amartya18x ?

[2021-07-26 09:31] NicolasHug commented on #20577
Ideally, it'd be nice to mention which parameter this corresponds to (this might vary if we use _get_response in different places, I haven't checked)

[2021-07-26 09:42] #20187 closed

[2021-07-26 10:23] brgopalakrishnan commented on #20488
if this is not taken, I am happy to fix. Thank you

[2021-07-26 10:33] brgopalakrishnan commented on #20187
@NicolasHug May be I missing something here. What I see misleading is the default setting. When you have default shuffle is True and the default stratify should be something not NONE. since "If shuffle=False then stratify must be None ".

[2021-07-26 10:37] NicolasHug commented on #20187
No, `shuffle=True => stratify != None` is not a logical implication of `shuffle=False => stratify=None`

Again `A => B` does not imply `not(A) => not(B)`

[2021-07-26 10:41] brgopalakrishnan commented on #20187
so is it okay to say in concrete "stratify must be None"

[2021-07-26 10:56] brgopalakrishnan commented on #20187
Thank you @NicolasHug.  So is it good to say on the behavior, that stratification is applied only if it is specified, given shuffle=true. If shuffle=false, then no value in stratify will affect the split,

[2021-07-26 11:02] NicolasHug commented on #20187
Yes or more accurately, if shuffle=False you'll get an error if you set stratify!=None

Yes, if stratify != None then shuffle must be True (and you should probably get an error if you keep it to False)

[2021-07-26 11:05] brgopalakrishnan commented on #20187
Great Thanks @NicolasHug.

[2021-07-26 11:12] drfraser commented on #20430
Update - RE: If you can still reproduce a deadlock with joblib 1.0.1 and dask we would be very interested in a (ideally minimal) reproducer.

I've created issue #20507 - it deadlocks only under certain cluster configurations, but that is still a deadlock.

[2021-07-26 12:34] pspiagicw commented on #20577
If nobody else is already doing this , I would like to work on this .

[2021-07-26 14:13] afikbar opened #20607 "NotFittedError when '_' suffix is a property"
#### Describe the bug

The bug raised when used CatBoostClassifier (prefitted) with CalibratedClassifierCV.
Apparently, CatBoostClassifier doesn't include "post fit" attributes (in __dict__, and hence in vars(model)), but rather defines a property:

[code]

These properties are not accessible through vars built-in, and thus, 'sklearn.utils.validation.check_is_fitted' raises NotFittedError.

#### S

[2021-07-26 14:30] #20607 closed

[2021-07-26 14:31] afikbar commented on #20607
Closed in favor of an issue in catboost (:
https://github.com/catboost/catboost/issues/1783

[2021-07-26 15:38] nilslacroix opened #20609 "Nystroem approximation with own landmarks instead of random samples"
#### Describe the workflow you want to enable
At the moment it is possible to use nystroem only by specifying the component number. Datapoints
are then randomly chosen. I want to be able to pick my data points with other methods like K-Means++.
#### Describe your proposed solution
The solution would be to enable the parameter n_components to take n-dim arrays and pandas dataframes as input.
So n_c

[2021-07-26 16:21] TomDLT commented on #20488
You very welcome!

[2021-07-26 17:20] JulienB-78 opened #20610 "CalibratedClassifierCV does not handle well sample_weight when ensemble=False"
```CalibratedClassifierCV``` does not handle well ```sample_weight``` with ```ensemble=False```

In the ```fit``` method, ```sample_weight``` is not passed to ```cross_val_predict``` to generate the prediction scores (https://github.com/scikit-learn/scikit-learn/blob/2beed5584/sklearn/calibration.py#L325) whereas it is passed to ```fit``` when the classifier is refitted on the entire dataset (http

[2021-07-26 19:04] asaadeldin11 commented on #18177
The graspologic package has about 53k downloads, and we believe that ASE is one of our most widely used classes.

[2021-07-26 19:41] GaelVaroquaux commented on #20585
I do worry about third-party estimators, and by this I mean not library
who actively try to respect or conventions, but rather libraries who
implement what is commonly understood about our surface. To users, these
objects feel like scikit-learn compatible objects, but they are not, they
break in our meta-estimators and in utilities.

[2021-07-26 19:52] reshamas commented on #20371
@sofide
I was trying to reproduce the errors.  Can you do the following:
1.   Ensure your virtual environment has been activated.
2.  Ensure that your main branch is synced.
3.  Run `python setup.py develop` to keep your environment updated.
4.  Run `pytest sklearn`

I did the above and did not see the same exact errors.  This is my output:
[code]

These are the breakdowns of what passed, etc.:
[c

[2021-07-26 19:55] GaelVaroquaux commented on #20585
Actually, thinking more about this, the underlying model behind the scikit-learn Estimator object is that it is fully configured and ready to go (but not running) after the __init__. The goal is to simplify the conceptual model of these object: there is basically nothing to understand that it not visible. For this reason, any new need was added as an __init__ parameter, and the rule that the __ini

[2021-07-26 19:56] reshamas commented on #20371
Note: Also sent message to @sofide via email.

[2021-07-27 01:13] #20566 closed

[2021-07-27 01:29] TomDLT commented on #20591
I actually think this behavior is consistent.
Projecting X on 2 components X1 and X2, the reconstruction is `X = mean + PC1 * X1 + PC2 * X2`.
Projecting X on 1 component X1, the reconstruction is `X = mean + PC1 * X1`.
Projecting X on 0 component, the reconstruction is `X = mean`.

I don't think raising an error is necessary either, I could imagine a use case with 2 parallel pipelines where featur

[2021-07-27 04:48] harupy opened #20614 "Bug when using a function decorated by `if_delegate_has_method`"
#### Describe the bug

[code]

This code throws:

[code]

Update: Created [this google colab notebook](https://colab.research.google.com/drive/1M1R8QDElZKlwFPMrkkEXU5j4ivXD4Nro?usp=sharing) to reproduce the issue

#### Steps/Code to Reproduce

[code]

#### Expected Results

The score should be successfully calculated.

#### Actual Results

An exception is thrown.

#### Versions

[code]

[2021-07-27 04:50] harupy commented on #20614
https://github.com/scikit-learn/scikit-learn/blob/5d88f9aff9ca1b672e0d10e1a2a7afa1e286b31b/sklearn/utils/metaestimators.py#L102-L117

[2021-07-27 07:58] #16151 closed

[2021-07-27 08:02] glemaitre commented on #20614
We don't expect to support such code. Only `pipe.score(X, y)` is expected to work.

[2021-07-27 08:11] glemaitre commented on #20609
Duplicate of https://github.com/scikit-learn/scikit-learn/issues/20232

You can add a message on the original issue. There is an associated PR as well if you want to have a look and give the valuable inputs.

[2021-07-27 08:11] #20609 closed

[2021-07-27 08:27] harupy commented on #20614
@glemaitre Thanks for the comment!

Yes, in mlflow, we monkey-patch estimators' methods to automatically logging their params / metrics:

[code]

[2021-07-27 08:28] glemaitre commented on #20591
Thanks, @TomDLT to expose with simple example what I meant that was really fuzzy indeed ;)

For this use-case, isn't it more meaningful to put the step to `None` in the search.

[2021-07-27 08:58] adrinjalali commented on #20585
There are many reasons to violate the above statement, and we violate it in many estimators ourselves. Fixing those issues hasn't been straightforward: https://github.com/scikit-learn/scikit-learn/pull/16945

The estimators will still be stateless when it comes to their hyperparameters. I personally don't think having all these parameters as constructor arguments is really the best design. I know

[2021-07-27 09:00] ogrisel commented on #20614
Thanks for the report. Do you confirm that this monkeypatching worked with 0.24.2 and that this started to fail with the `available_if` decorator  recently introduced  in the `main` branch for some of the metaestimators?

[2021-07-27 09:22] harupy commented on #20614
@ogrisel Thanks for the comment, sure!

[2021-07-27 09:37] ddofer commented on #8889
Another advantage of MRMR is that it's just very fast and decent guarantees. I'd like using it as a "filter" before other methods, and it's much better than just naively dropping by co-correlation between features (regardless of target). In highly redundant datasets (features wise), this is a huge difference

[2021-07-27 10:12] harupy commented on #20614
@ogrisel I wrote this script to confirm `available_if` is causing the issue:

[code]

[2021-07-27 10:18] glemaitre commented on #20610
Yep, I assume that we should not support this case since that currently we cannot pass any `sample_weght` during the cross-validation.

[2021-07-27 10:31] glemaitre commented on #20614
So I think that we could consider it as a regression. A PR to fix the issue with a non-regression test should be manageable.
@adrinjalali @jnothman Do you see any point that we would have overlooked?

[2021-07-27 10:53] JulienB-78 commented on #20610
It seems to me that it is possible to pass ```sample_weight``` to the classifier fitting performed inside ```cross_val_predict``` by using the parameter ```fit_params={"sample_weight": sample_weight}```.

I replaced the content of the ```else``` starting at https://github.com/scikit-learn/scikit-learn/blob/2beed5584/sklearn/calibration.py#L319 with the following code:
[code]
and it does correct th

[2021-07-27 11:19] NicolasHug commented on #20591
I agree that it's consistent but allowing n_components=0 doesn't sound like a use-case we would want to support. As Guillaume noted there are cleaner and more generic ways to ignore entire branches in a ColumnTransformer or a FeatureUnion

[2021-07-27 11:31] glemaitre commented on #20610
Ah right, we pass using `fit_params`.

I don't see any. As you mentioned this is what we do in the `ensemble` branch.

[2021-07-27 11:38] adrinjalali commented on #20614
I think it's an odd use-case, but I'd say there's no reason not to support it. The decorated method should behave like the undecorated ones. I think I'm happy with the proposed patch, but @jnothman would be able to judge better than I can.

[2021-07-27 11:38] adrinjalali commented on #20614
Also cc'ing @thomasjpfan

[2021-07-27 11:46] #20081 closed

[2021-07-27 13:31] glemaitre commented on #19679
It could be nice to at least have the possible interface that we could think of. Then, we could propose a SLEP to propose the change.

[2021-07-27 16:27] rth commented on #19038
Not sure. I am wondering though if the `HaversineDistance` despite it's name is actually a [distance metric](https://en.wikipedia.org/wiki/Metric_(mathematics)#Definition) and verifies the triangle inequality. I would say not (if only because of possible wrapping around of coordinates).

If I remember correctly tree based distance implementations require a valid distance metric, and if so maybe it

[2021-07-27 17:06] jjerphan commented on #19038
Yes, `KDTree` and `BallTree` do need distance metric for vector spaces as input.

My intuitive bet is that, as the Haversine distance is used for points which are on a 2-manifolds which are generally homeomorphic to the 2-sphere (and thus which are not vector spaces), using tree-based technique for such use-case maybe makes less or no sense.

[2021-07-27 17:13] jjerphan commented on #19038
FYI, checks for valid metrics originated from https://github.com/jakevdp/BinaryTree/commit/aa25c53e9568e792dfa353eead5e129b411e16eb and there's no mention of `HaversineDistance`.

[2021-07-27 17:50] reshamas commented on #20371
#DataUmbrella LATAM sprint

[2021-07-27 19:21] genvalen commented on #20308
Working on ``ExtraTreesRegressor``

[2021-07-27 23:45] jnothman commented on #20614
This is a case that was handled correctly in the previous implementation but was missed in the new descriptor. Obviously we had no test case for same. So, yes, regression. Will you submit a patch, @harupy?

[2021-07-27 23:49] jnothman commented on #20585
I don't see any contradiction between having something available as a constructor parameter, but a more friendly interface to modify that parameter. (`set_params` is a degenerative example of this.) See #16301.

So yes, the current implementation aims to minimise the burden on developers that aren't developing meta-estimators, and the burden on us to change every estimator that accepts sample_weig

[2021-07-27 23:52] harupy commented on #20614
@jnothman Sure!

[2021-07-28 00:06] nilslacroix commented on #4982
This is a good solution thanks!
But should the if statement not be `if basis is None:` rather then `if basis is not None:` ? My understanding is, that when a basis is set, it should direclty be passed to` self.components_` . Would be nice if someone would merge this.

[2021-07-28 01:12] harupy commented on #20614
Filed a PR: https://github.com/scikit-learn/scikit-learn/pull/20623

[2021-07-28 02:39] sofide commented on #20371
Hi! I'm so sorry for the delay. I just updated `main`, and run pytest: all tests are working as expected now!

![Screen Shot 2021-07-27 at 23 30 41](https://user-images.githubusercontent.com/1953767/127254489-dca265b7-76d1-4a6b-87fe-42d5f5280148.png)

I think maybe I forgot to run `python setup.py develop` before 😳 .  Sorry for the false alarm 🙈 🙈

Thank you for your time!

[2021-07-28 07:40] rth commented on #19038
Closing as won't fix then. Unless someone can demonstrate that HaversineDistance is a valid distance metric.

[2021-07-28 07:40] #19038 closed

[2021-07-28 07:49] rth commented on #19038
Though it was added to Ball Tree by Jake at the time of the original implementation (https://github.com/scikit-learn/scikit-learn/commit/01fce7661632c7898feaf9a2e1dc3ce97a91473d, https://github.com/scikit-learn/scikit-learn/pull/1732) and none of the reviewers disagreed. So maybe we are missing something. I guess we could always try to find an counter-example to the triangle inequality with Havers

[2021-07-28 10:06] adrinjalali commented on #16301
It's been a year. I'd be very happy if we revive this. Tagging @scikit-learn/core-devs since it's also related to some of the efforts related to the sample props SLEP ([SLEP006](https://scikit-learn-enhancement-proposals.readthedocs.io/en/latest/slep006/proposal.html)).

Seems like there's a [at least weak] consensus on a way forward.

[2021-07-28 10:39] some-guy1 commented on #20042
Hi, so I think something deeper changed within scikit.  I am using bayesian gaussian mixture models and the results have quite a noticeable change between 0.23.2 and 0.24.2.  I did not expect the results to change at all, random_state is identical, all settings identical and the data is identical.  I did a github source compare between 0.23.2 mixture sources and 0.24.2 source, but I see absolutely

[2021-07-28 11:19] reshamas commented on #20371
Hi @sofide,
Thanks for running the tests again. The results are good news!

@thomasjpfan
1.  If you agree, should we consider this resolved and close the issue?
2. Let's figure out where we can add the step `python setup.py develop` per our discussion on "How to Keep Contributing to scikit-learn"

[2021-07-28 12:38] turian commented on #11777
I have this error too

[2021-07-28 12:50] fbidu commented on #7308
@nathanwalker-sp yeah, @glemaitre already merged it. Can you please create a new issue referring back to this in order to track RFECV?

[2021-07-28 13:53] thomasjpfan commented on #20371
Okay

[2021-07-28 13:53] #20371 closed

[2021-07-28 14:24] ogrisel commented on #20539
This will be fixed by https://github.com/MacPython/openblas-libs/pull/64. In the mean time the best workarounds on machines with more than 64 CPUS are:
- to install numpy and scipy from conda-forge instead of PyPI
- to use `n_jobs=64` instead of `n_jobs=-1` or and/set the `OMP_NUM_THREADS=64` environment variable depending on the estimator.

[2021-07-28 14:59] glemaitre commented on #20610
Do you wish to make a PR to implement the fix that you propose together with a test that check that the behaviour is fine.

[2021-07-28 15:05] MaxwellLZH opened #20626 "STY Black formats array into several hundred lines of code"
In sklearn/tree/tests/test_tree.py, the code to create a simple matrix used to be only 23 lines
[code]
But after formatting with black, in the current main branch it takes close to 400 lines.

#### Possible Solution
Similar issue is discussed under [this](https://stackoverflow.com/questions/58584413/black-formatter-ignore-specific-multi-line-code) stackoverflow thread, which suggested adding `# fm

[2021-07-28 16:12] JulienB-78 commented on #20610
Yes, I have started to look at the guidelines for contributing to do so.

[2021-07-28 16:17] lorentzenchr commented on #16301
I’d like the idea of an `add` method, but have the same concern as @NicolasHug https://github.com/scikit-learn/scikit-learn/issues/16301#issuecomment-663862413.
If we add something new, do we also want to get rid of something old?

[2021-07-28 16:17] #20614 closed

[2021-07-28 21:19] naarkhoo opened #20628 "implementation of the quantile regression"
I was trying to load quantile regression from the latest sklearn version '0.24.1'. but for some reason it does not exist any longer.

so I tried to fetch the code from `https://github.com/scikit-learn/scikit-learn/blob/df20e8156/sklearn/linear_model/_quantile.py` and make my own function

but does not get converged.

here is the code

[code]
basically the convergance keeps going and I have to kill

[2021-07-28 21:34] thomasjpfan opened #20629 "TSNE with init="pca" warns by default, is this okay?"
With https://github.com/scikit-learn/scikit-learn/pull/19491 `TSNE` will always warn when `init='pca'`:

https://github.com/scikit-learn/scikit-learn/blob/01a28e962ad203b552bd968e5a3564d4b7e2155c/sklearn/manifold/_t_sne.py#L976-L982

This warning is for a change in behavior for 1.2. Is this okay to do?

Note this warning is not released yet, so we can make changes if we need to.

[2021-07-28 23:06] TomDLT commented on #20628
`QuantileRegressor` was merged on May 25th, 2021 (#9978), and will only be available in the next release of scikit-learn (v1.0). In the meantime, you are welcome to use the `main` branch, following our [installation guide](https://scikit-learn.org/stable/developers/advanced_installation.html#install-bleeding-edge).

[2021-07-28 23:08] #20626 closed

[2021-07-28 23:27] naarkhoo commented on #20628
thanks for letting me know - still I would love to debug the function, I am
interested to implement the algorithm in Golang so need to make sure it
works outside the package first :-)

On Thu, Jul 29, 2021 at 1:06 AM Tom Dupré la Tour ***@***.***>
wrote:

[2021-07-29 02:43] WeichenXu123 opened #20630 "MLflow cannot patched estimator methods decorated with "property", we should decorate them with "if_available" instead"
#### Describe the workflow you want to enable

MLflow cannot patched estimator methods decorated with "property".
Including these methods:
[code]

#### Describe your proposed solution

decorate them with "if_available" instead, so they will be a normal method which mlflow can patch them.

#### Describe alternatives you've considered, if relevant

#### Additional context

[2021-07-29 03:05] jnothman commented on #16301
That's a good point... I think that if we add a "better" API, we should change the examples/tutorial to use it. Where a method is added to control a parameter, we should note in the parameter docstring that the method is preferred. This specific proposal might involve deprecating make_pipeline etc which are convenient, but add some obscurity.

[2021-07-29 06:25] WeichenXu123 commented on #20630
CC @jnothman

[2021-07-29 08:01] glemaitre commented on #20630
I assume that if we want to raise some `AttributeError` for each of these methods, then we could use the decorator instead of the property.

[2021-07-29 08:03] glemaitre commented on #20629
I realise about this a week ago and there is no way to silence this warning. Reading the message, I thought that it was normal because it is a change of behaviour and it could lead to surprising result?

[2021-07-29 08:05] glemaitre commented on #20628
You can as well install the nightly build without having to build scikit-learn from the `main` branch: https://scikit-learn.org/stable/developers/advanced_installation.html

Please reopen with a minimal example if there is any issue such that we can reproduce it.

[2021-07-29 08:05] #20628 closed

[2021-07-29 09:54] naarkhoo opened #20633 "quantile regression developmental version"
I have installed the latest development version through

`pip install --pre --extra-index https://pypi.anaconda.org/scipy-wheels-nightly/simple scikit-learn`

generate the data as followoing

[code]

and run the model

[code]

it does not converge and I have to kill the instance

[2021-07-29 12:58] glemaitre commented on #20633
As stated in the documentation:

[code]

Basically, the default solver is slow and on `10_000` samples it would be really slow.
Using `"highs"` solver is taking less than 5 seconds on my machine.

There is nothing that we can do regarding the solver since we are using `SciPy`.

[2021-07-29 12:58] #20633 closed

[2021-07-29 13:03] glemaitre opened #20634 "RFC make shape of arrays consistent"
Recently, we got some issues regarding the shape inconsistencies:

- of `coef_` in linear model: https://github.com/scikit-learn/scikit-learn/pull/20604
- of `y_pred` when providing a single target of shape `(n_samples, 1)`: https://github.com/scikit-learn/scikit-learn/pull/20603

While it is pretty easy to make those arrays consistent across estimators, one could argue that the current user code

[2021-07-29 13:04] glemaitre commented on #20634
ping @scikit-learn/core-devs

[2021-07-29 13:26] defoishugo opened #20635 "ENH: Add the classification models threshold as parameter of __init__ method"
## Describe the workflow you want to enable

Let's take a probability-based regression model like [`sklearn.linear_model.LogisticRegression`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html).
We have two methods to get the predictions:

- predict_proba() outputs a probability for each class
- predict() outputs a class (the one with the most important

[2021-07-29 13:28] glemaitre commented on #19614
Raising an error will not be an issue with `SerchCV` thanks to the `error_score` parameter.

I assume that we want to be consistent. But indeed getting `gamma=None` that will default to `gamma="scale'` if `kernel="rbf"` is semantically weird. I would expect the default to be `"auto"` meaning that it would default to a value (that is never `None`). However, for `gamma`, `"auto"` is even meaning som

[2021-07-29 14:32] glemaitre commented on #20635
duplicate to #8614 and should be available in #16525

[2021-07-29 14:32] #20635 closed

[2021-07-29 14:34] #19626 closed

[2021-07-29 15:01] #19538 closed

[2021-07-29 17:08] thomasjpfan commented on #19614
Looking at this again, if we were to change behavior, I am +1 on deprecation.

Maybe that is a good thing? Currently, one needs to read the docs to know if the parameter is even active.

I think the current implementation is less efficient, because one can have search spaces with parameters that are ignored.
For example, if we had a search space: kernel=['linear', 'poly', 'rbf', 'sigmoid'] x degre

[2021-07-29 22:09] sarim-zafar commented on #14959
Any update on this?

[2021-07-29 23:04] #10993 closed

[2021-07-30 02:21] harupy commented on #20630
I'm looking at how code for property methods look like:

[code]

[2021-07-30 04:41] harupy commented on #20630
https://github.com/scikit-learn/scikit-learn/blob/f2f8b52ee26f114fd3b7db1c743662795b0fd9f5/sklearn/utils/metaestimators.py#L105-L111

Do we need to make the attribute-error message template for `available_if` customizable?

[2021-07-30 06:33] harupy commented on #20630
Can we raise `AttributeError` in `self.check`?

[code]

[2021-07-30 07:37] WeichenXu123 commented on #20630
I already found a way in mlflow to patch @property methods, so we may don't need this now... CC @harupy

[2021-07-30 07:42] harupy commented on #20630
@WeichenXu123 Could you briefly describe your approach here?

[2021-07-30 08:49] glemaitre commented on #20630
We could add two optional parameters that would be the error type (AttributeError by default) and the error message (that is the current error message by default).

[2021-07-30 09:01] harupy commented on #20630
@glemaitre Thanks for the feedback! Yeah, that sounds good to me.

[2021-07-30 10:42] hosjiu1702 commented on #5651
so after all, which solution you guys will do for this problem? @amueller @giorgiop

[2021-07-30 10:50] WeichenXu123 commented on #20630
@harupy I updated my PR to support patching property methods: https://github.com/mlflow/mlflow/pull/4628

[2021-07-30 11:59] he7d3r opened #20636 "Text is not visible in some plots of the documentation"
#### Describe the issue linked to the documentation

At <https://scikit-learn.org/stable/auto_examples/feature_selection/plot_permutation_test_for_classification.html#original-data>, there is a plot for which is called `ax.text(...)`. However, the text ("Score on original"...) does not appear anywhere in the figure.

#### Suggest a potential alternative/fix

Regenerate the plot and/or reposition t

[2021-07-30 12:56] NicolasHug commented on #20634
Regarding `y_pred`, I'm in favour of always retuning `y_pred.shape == (n_samples,)` instead of `(n_samples, 1)`. Quoting my https://github.com/scikit-learn/scikit-learn/pull/20603#issuecomment-886527585:

I haven't looked at the details yet, but I would probably follow the same logic for `coef_`

[2021-07-30 12:58] glemaitre commented on #19880
From the monthly meeting, we decided that we should first make an audit of the scikit-learn metrics working with this format.

[2021-07-30 13:01] glemaitre commented on #20634
Just to be complete, with a deprecation warning or with a breaking change @NicolasHug

[2021-07-30 13:10] glemaitre commented on #19495
If some samples should be rejected from the subset, then there is no need to include them in the training data then?

[2021-07-30 13:18] alex90r7 commented on #19495
Hi ,
the samples in the dataset come from two different sensors. RANSAC will randomly select a subset with e.g. 3 samples. If these 3 randomly selected samples come from the same sensor, then the subset needs to be rejected.

[2021-07-30 13:28] #19497 closed

[2021-07-30 13:28] #16147 closed

[2021-07-30 13:29] NicolasHug commented on #20634
A deprecation should be possible and users can silence the warning by just passing a 1-D array.

[2021-07-30 15:46] #19489 closed

[2021-07-30 16:01] #11198 closed

[2021-07-30 20:34] brunofacca commented on #18350
I'm using the following workaround:

[code]

[2021-07-30 21:00] glemaitre commented on #20636
take

[2021-07-30 21:31] embandera commented on #20308
Working on ```DummyClassifier```

[2021-07-31 08:24] #20636 closed

[2021-07-31 08:36] glemaitre opened #20640 "CI issue with OpenMP"
We recently have a failure in 2 of the builds due to OpenMP.
The relevant messages are:

[code]

[2021-07-31 08:38] glemaitre commented on #20640
ping @jeremiedbb @ogrisel

[2021-07-31 12:50] gittar opened #20642 "Poor performance of sklearn.cluster.KMeans for numpy >= 1.19.0"
#### Describe the bug
While doing experiments with the KMeans class I observed hugely varying running times for the same problem when using different versions of numpy. A systematic check revealed the following:
* for numpy version 1.9.0+ KMeans was 100-500% slower than for numpy 1.8.5-

Statistics (figures are repeatable with little variance):
[code]

#### Steps/Code to Reproduce

Here is the pyt

[2021-07-31 12:59] jmloyola commented on #20308
Working on `NuSVR`

[2021-07-31 19:14] jmloyola commented on #20308
Working on `GradientBoostingClassifier`

[2021-07-31 19:57] jmloyola commented on #20308
Working on `GradientBoostingRegressor`

[2021-08-01 07:11] feiwuu638 opened #20647 "How to define a new criterion for DecisionTree?"
I want to build a causal tree instead of the traditional regression/classification tree in the study, and the causal tree require different criteria. I wonder whether and how I can pass a new criterion defined by myself to the 'criterion' parameter in DecisionTreeRegressor/DecisionTreeClassifier.

[2021-08-01 08:45] brgopalakrishnan commented on #20068
is this open still ? I am happy to help. please let me know.

[2021-08-01 13:03] glemaitre commented on #20642
Could you provide as well the version. It would be nice to have the OS info.

[2021-08-01 13:04] #20647 closed

[2021-08-01 13:38] gittar commented on #20642
Sure,
OS: Ubuntu 20.04.2 LTS
CPU: AMD FX(tm)-8300 Eight-Core Processor

[2021-08-01 14:27] glemaitre commented on #20640
I am not really sure but I think that there is something wrong with the path passed to `gcc`. It was the `C compiler` command before it fails:

[code]

After it fails:

[code]

It seems that the flag `--sysroot=/` is not present anymore. It might be possible that `dl` try to link with the library of the conda environment instead of the system one?

[2021-08-01 14:40] glemaitre commented on #20640
passing `--sysroot=/` locally resolve the problem. However, I have no idea what should be the way to do that properly or why the following changed suddenly.

[2021-08-01 14:46] glemaitre commented on #20640
Basically one can force the compiling flag for the test program from:

[code]

to

[code]

there: https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/_build_utils/openmp_helpers.py#L70

[2021-08-01 14:54] thomasjpfan commented on #20640
The last time the [build succeeded](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=30998&view=logs&j=13650d7c-49e8-54f3-0598-c3480d1c1e4f&t=c01fe196-3d5d-5e56-d21a-ae9d3706a60b) `-W1,--sysroot=/` was passed along. The numpy dependencies are at the same version. The only big difference I see is that the last successful build was on Python 3.9.5, and the failure was on 3.9.6.

[2021-08-01 17:32] brianpenghe commented on #19831
So, what is the correct solution? Downgrading to `0.23.2`?

[2021-08-01 17:46] jackgit53 opened #20649 "Error while using RandomForestRegressor in version 0.24.2"
#### Describe the bug
[code]

#### Steps/Code to Reproduce
[code]

[code]

#### Expected Results
[code]

#### Actual Results
[code]

#### Versions
[code]

[2021-08-01 19:31] glemaitre commented on #20640
#response_container_BBPPID{font-family: initial; font-size:initial; color: initial;} Yes an I reproduced the environment that is failing and passing the LDFLAGS solve the issue. However, I don't get why the compiler flags would disappear. My feeling might be an update of Honda and the "compiler_compat/ld" that does not provide this flag anymore. 

[2021-08-01 19:37] glemaitre commented on #20649
I cannot reproduce in `main`.

[2021-08-01 19:41] glemaitre commented on #20649
I cannot reproduce in the following environment either:

[code]

[2021-08-02 03:56] jackgit53 commented on #20649
I downloaded latest Mac version of Python: 3.7.6, reinstalled and problem went away. Go figure.

[2021-08-02 07:28] glemaitre commented on #20649
Yep it makes no sense as an error as well since the regressor does not expose any "class" parameter :)

[2021-08-02 07:28] #20649 closed

[2021-08-02 08:39] ogrisel commented on #20640
A numpy upgrade could have changed the `numpy.distutils` module we use to build scikit-learn compiled extensions maybe?

[2021-08-02 09:47] glemaitre commented on #20640
I propose the temporary hotfix to not have the red CIs: https://github.com/scikit-learn/scikit-learn/pull/20654

[2021-08-02 12:28] Ana16sak opened #20656 "Can we have 'mean_absolute_percentage_error' in sklearn.metrics.SCORERS"
I'm fairly new to sklearn, I was using cross_val_score from sklearn.model_selection and I saw that mean_absolute_percentage_error is not present in scoring parameter, is there another way to use that ?

[2021-08-02 12:36] glemaitre commented on #19614
So the deprecation could be a good option.

@thomasjpfan what are your thoughts regarding the `gamma` parameter:

[2021-08-02 12:46] Kur-Ich commented on #15953
Any update on this? Would be a great feature to have.

[2021-08-02 12:57] glemaitre commented on #15953
It was merged in https://github.com/scikit-learn/scikit-learn/pull/15959

[2021-08-02 13:49] brgopalakrishnan commented on #19868
Is this open ? I am happy to help

[2021-08-02 16:17] thomasjpfan commented on #20656
You can use `scoring="neg_mean_absolute_percentage_error"`.

[2021-08-02 16:32] dayyass opened #20658 "Unify GridSearchCV and RandomizedSearchCV interface"
#### Describe the workflow you want to enable
It would be convenient, if GridSearchCV **param_grid** arguments and RandomizedSearchCV **param_distributions** argument had the same name.
Despite the fact that they have different interfaces (RandomizedSearchCV can handle probability distributions), it would still be convenient to have the same names.

#### Describe your proposed solution
Unify param

[2021-08-02 17:57] nilslacroix opened #20659 "HalvingGridSearchCV Bug with memory tacing and psutil / memory_profiler"
Psutil produces an error with HalvingGridSearchCV:

[code]

#### Steps/Code to Reproduce

[code]

#### Versions
Windows-10-10.0.18363-SP0
Python 3.9.6 | packaged by conda-forge | (default, Jul 11 2021, 03:37:25) [MSC v.1916 64 bit (AMD64)]
NumPy 1.21.1
SciPy 1.7.0
Scikit-Learn 0.24.2

[2021-08-02 22:55] henryjhu opened #20660 "model_selection.cross_val_score returned all NaN!"
There are several posts about this similar question, but none has the answer I want. Therefore, I am making this new post to took for the answer.

#### Describe the bug

The data is fine. There is no NaN value in the data.
The setup is fine.
The individual models executed with no error.
The question is why are all the scores have NaN as values?
What could be causing this???

#### Here is my data f

[2021-08-03 00:54] embandera commented on #20308
Working on ```GridSearchCV```

[2021-08-03 05:41] Ana16sak commented on #20656
Tried that , did not work, nevertheless thanks!!

[2021-08-03 06:19] Ana16sak commented on #20656
Can I try adding this feature myself ?

[2021-08-03 06:27] #20660 closed

[2021-08-03 06:31] #20656 closed

[2021-08-03 06:39] glemaitre commented on #20658
The difference is made on purpose:

- `GridSearchCV` corresponds to a grid constructed from a list of values
- `RandomizedSearchCV` will take a random combination of hyperparameters. It does have the ability to take a distribution instead of a list value.

Changing the parameter names will defeat this purpose. However, be aware that you can pass these parameters by position as the second parameter

[2021-08-03 06:39] #20658 closed

[2021-08-03 06:50] #20659 closed

[2021-08-03 07:16] #14010 closed

[2021-08-03 11:59] RakshithGB opened #20665 "Unable to construct trees on 32 bit machine"
#### NODE_DTYPE seems to break the loading mechanism of trees on 32 bit.
I think there were attempts to fix this in previous merges but not sure if its fully fixed. I serialised a RandomForestClassifier into json on a 64 bit (x86) machine but when I deserialised it on 32 bit (armv6) I get :

This is how the dtype of my nodes look on my 64 bit machine:
[code]

#### Versions
scikit-learn= 0.24.1
num

[2021-08-03 12:32] DanBenHa commented on #11441
Sorry if I totally misinterpret the previous discussion (no expert on spectral clustering here). I understand that sklearn does *not* use the random walk normalised Laplacian as in Shi & Malik (2000), but the algorithm from Ng et al. (2002).
If that is correct, shouldn't the reference to Shi & Malik in the docstring be replaced with the Ng et al. paper?

[2021-08-03 13:17] glemaitre opened #20666 "Threads awaiting for GIL in Forest estimators"
### Discussed in https://github.com/scikit-learn/scikit-learn/discussions/20651

In forest algorithms, the preferred parallelization backend is `threading`. However, it looks that it is not anymore the most appropriate backend. As discussed [here](https://github.com/scikit-learn/scikit-learn/discussions/20651#discussioncomment-1124431), it might be that the GIL is not explicitly released in some p

[2021-08-03 14:12] ogrisel commented on #20665
Can you try to reproduce with the `main` branch of scikit-learn and please include the full traceback of the exception.

[2021-08-03 14:15] ogrisel commented on #20642
Can you please check that you get the same value for `km.n_iter_` in the end?

[2021-08-03 14:23] ogrisel commented on #20665
If you don't want to build from source, you can use the nightly build:

https://scikit-learn.org/dev/developers/advanced_installation.html#installing-nightly-builds

But there are no nightly build for armv6...

[2021-08-03 14:34] RakshithGB commented on #20665
@ogrisel any specific reason? it will take a while to compile this library on the raspberry pi zero.

[2021-08-03 14:57] rth commented on #20642
The output is,
[code]

so I imagine it's additionally using some other thread system that's not being detected.

[2021-08-03 15:33] dayyass opened #20668 "Add custom callbacks after fitting at each step in Pipeline"
#### Describe the workflow you want to enable
It would be convenient if after each step of the pipeline you could call a custom function (callback) if needed.
For example, in simple TF-IDF + LogReg pipeline, after the step of fitting TF-IDF, I would like to look at the dimension of the resulting dictionary (output it to stdout).

#### Describe your proposed solution
Add additional parameter `callb

[2021-08-03 16:24] glemaitre commented on #20668
duplicate https://github.com/scikit-learn/scikit-learn/issues/10973
feature discussion: https://github.com/scikit-learn/scikit-learn/pull/16925

[2021-08-03 16:24] #20668 closed

[2021-08-03 16:25] RakshithGB commented on #20665
I ran a small Cython test on both the trained machine (x86) and test machine (armv6). Sharing the outputs:

test_cython.pyx:
[code]

Output from x86 machine:
[code]

Output from armv6 machine:
[code]

So basically its expecting a complete different format. So I'm not sure if the commit [(#17644) e217b68](https://github.com/scikit-learn/scikit-learn/commit/e217b68fd00bb7c54b81a492ee6f9db6498517fa#d

[2021-08-03 17:00] jjerphan commented on #20666
From https://github.com/scikit-learn/scikit-learn/discussions/20651#discussioncomment-1126296, two small optimizations could improve the scalability when using threads:
 - avoiding the redundant `check_random_state` in `BaseDecisionTree.fit` as it's already initialized by the forest when bootstrap to data for the tree specifically.
 - avoiding the `assert_all_finite` in `_check_sample_weight` in `

[2021-08-03 17:05] glemaitre commented on #20642
I just reproduce the benchmark and see the same behaviour.

### NumPy 1.18

[code]

`openblas` version:

[code]

### NumPy 1.21

[code]

`openblas` version:

[code]

[2021-08-03 17:08] RakshithGB commented on #20665
More context on this issue:

When I deserialise on the 32 bit armv6 (raspberry pi zero) using this method:
[code]

It breaks at `tree.__setstate__(tree_dict)`

However this same definition works on 64 bit machine.

[2021-08-03 17:22] glemaitre commented on #20640
Putting a bit more information from some discussion in gitter with people from conda-forge. Some work has been done with compilers in `conda`:

[2021-08-03 17:32] zoj613 opened #20669 "Support an instance/subclass of `np.random.BitGenerator` in `check_random_state` for users with numpy version >= 1.17.0"
#### Describe the workflow you want to enable
Since numpy version 1.17.0, `np.random.RandomState` can accept a subclass of `np.random.BitGenerator` in the constructor. This can be a plus for those who use `np.random.Generator` in their code and want to use the same bitgenerator with sklearn's estimators. Currently this is not possible, see:

[code]

this leads to the error:
[code]

#### Describe y

[2021-08-03 18:08] zachmayer commented on #17123
@NicolasHug It looks like #18968 was closed so this issue won't be solved.

What should I do next to push this forward?

[2021-08-03 21:03] ogrisel commented on #20642
Interesting: scikit-learn's KMeans inner operations use a GEMM routine from scipy, therefore the OpenBLAS version 0.3.9 from SciPy that has not changed in both cases.

numpy should not be used in the inner loops of KMeans. So the difference in performance is really mysterious to me.

[2021-08-04 06:01] priamai opened #20672 "BallTree and KDTree query radius out of memory (optimisation or bug)"
#### Describe the bug

The BallTree and KDTree have a method query_radius that returns all the points near a certain radius.
I have noticed that when you query via iteration point by point there is no issue with memory allocation but when you perform on the entire array it saturates the memory. I am not sure whether this is a memory leak or requires some form of optimization.

#### Steps/Code to R

[2021-08-04 07:56] ogrisel commented on #20666
I think threading is still the most appropriate backend by default. In #20651 the individual trees are very fast to train (4ms) and many trees are fitted (1000) which is not representative of the typical use case.

If the tree fitting time lasted 1s or more, then the GIL-holding segments of the code would be negligible and the thread-based scalability would be fine.

[2021-08-04 08:05] jjerphan commented on #20672
Thank you for providing a reproducer.

I can also reproduce on recent versions, namely on:
[code]
[code]

[2021-08-04 08:12] glemaitre opened #20674 "CI build with numpy/scipy development versions is failing"
I can see that our CI build with the dev version of libraries is starting to fail:

https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=31126&view=logs&jobId=dfe99b15-50db-5d7b-b1e9-4105c42527cf&j=dfe99b15-50db-5d7b-b1e9-4105c42527cf&t=ef785ae2-496b-5b02-9f0e-07a6c3ab3081

It seems that it is mainly due to some casting rule:

[code]

[2021-08-04 08:32] robomotic commented on #20672
Question out of ignorance why my naive loop does not reach 28 GB? I am iterating through all the elements right ?

[2021-08-04 09:00] scsanjay opened #20675 "Implementation of Train, Cross-validate, Test split"
#### Describe the workflow you want to enable
It is very common to split the data into three parts. Train, Cross-validate, and Test. We already have train test split but it would good to have this three parts split too.

#### Describe your proposed solution
Implement this feature in model_selection module.

[2021-08-04 09:02] scsanjay commented on #20675
If someone experienced can confirm that it's a good idea then I would like to work on it.

[2021-08-04 09:39] priamai commented on #20672
Yes you are right, I forgot to put it back:

[code]

After a few it does saturate all the RAM available.
I like the idea to truncate and warning, then suggest the user to iterate without keeping all the elments.

[2021-08-04 09:44] NicolasHug commented on #20675
Thanks for the proposal @scsanjay , I think this is a duplicate of https://github.com/scikit-learn/scikit-learn/issues/13990, so I'll close this one

[2021-08-04 09:44] #20675 closed

[2021-08-04 09:47] NicolasHug commented on #20669
Thanks for the proposal @zoj613 ,

[code]

The `_bit_generator` is a private attribute. I'm not sure users should be using it directly, and even less sure that we should encourage users to do so. A cleaner solution would be t o fully support Generator objects https://github.com/scikit-learn/scikit-learn/issues/16988, but it will involve some work.

[2021-08-04 10:05] priamai commented on #20672
I believe also calculating all the neighbours in DBSCAN like [here](https://github.com/scikit-learn/scikit-learn/blob/81165cabad383db2ff7fd856e467041eea9b55dc/sklearn/cluster/_dbscan.py#L369) could be avoided in the implementation and can be done for each point at run time avoiding the problem. I will thinker with it and open a separate discussion.

[2021-08-04 10:07] zoj613 commented on #20669
@rkern What is your take on the fragility of the `_bit_generator` attribute? Is it going to change anytime in the near future? Are developers supposed to use it in 3rd party libraries to wrap Generator objects that can be passed to `sklearn` estimators? I wrote a wrapper so I can use it with the current version of sklearn here: https://github.com/zoj613/pyloras/blob/52661a530493754969ddb008388dc58

[2021-08-04 11:21] jjerphan commented on #20672
Yes, looking [`dbscan_inner`](https://github.com/scikit-learn/scikit-learn/blob/81165cabad383db2ff7fd856e467041eea9b55dc/sklearn/cluster/_dbscan_inner.pyx#L21-L51) as we do not need to return the neighbors. I don't know much about DBSCAN but could computations be streamed in pairwise distances reductions (cc @ogrisel)?

[2021-08-04 12:47] msimonin commented on #20319
Adding a reference here, which discusses the difference between two classical post-hocs analysis : mean rank based or signed-rank test (Wilcoxon)

- https://jmlr.org/papers/v17/benavoli16a.html

As far as I understand this, the former is implemened in Orange3 while the latter is implemented by @hfawaz

Regarding a future sklearn function, this would probably nice to choose which post-hoc analysis

[2021-08-04 12:57] brianbien commented on #20666
I agree, it's dataset dependent. Switch out `load_boston` for `fetch_california` in my example to get a larger training set, and I see the expected speedup cross-platform.

[2021-08-04 13:06] ogrisel commented on #20642
Based on interactive debugging session with @glemaitre it seems that:

- this problem only happens when `OMP_NUM_THREADS` is unset or set to a high value (e.g. 6 or more on a machine with 4 physical cores and 8 hyper-threads)
- this problem only happens with `algorithm="elkan"` which is the default for this problem. Setting `algorithm="full"` makes the problem disappear.

Profiler output with nati

[2021-08-04 13:24] gittar commented on #20642
Excellent findings.-- Sent from my Android phone with WEB.DE Mail. Please excuse my brevity.On 8/4/21, 15:06 Olivier Grisel ***@***.***> wrote:

  Based on interactive debugging session with @glemaitre it seems that:

   this problem only happens when OMP_NUM_THREADS is unset or set to a high value (e.g. 6 or more on a machine with 4 physical cores and 8 hyper-threads)
   this problem only happens

[2021-08-04 14:37] rkern commented on #20669
Note that the case in the code snippet would actually be `rng.bit_generator`; `rng` is a `Generator`, and `Generator` exposes `bit_generator` as a property alias. So for this case, turning a `Generator` into a `RandomState` for consumption by otherwise unmodified `sklearn` code that is expecting a `RandomState`, you can just access `bit_generator`. I would recommend that `sklearn`'s `check_random_

[2021-08-04 14:47] rkern commented on #20669
Ugh, [except for numpy 1.18](https://github.com/scipy/scipy/issues/14541#issuecomment-892720238).

[2021-08-04 14:52] zoj613 commented on #20669
Thank you @rkern for the detailed explanation. @NicolasHug, based on Robert's recommendation it sounds to me like supporting numpy's new random interface is much more straightforward that we anticipated. I am happy to help undertake this task.

[2021-08-04 14:59] NicolasHug commented on #20669
I might be missing something but I don't see how the `bit_generator` exposes any of the `RandomState` methods

[code]

[2021-08-04 15:03] zoj613 commented on #20669
The proposal is to not replace `RandomState`, but to allow it to take the `bit_generator` attribute as an argument in its constructor so that when users pass in a `Generator` object, `check_random_state` can use its `bit_generator` attribute to convert the `Generator` into a `RandomState` to be used by the Estimators.

[2021-08-04 15:32] lesteve opened #20678 "Halving*SearchCV selects estimator with nan score as best estimator"
#### Describe the bug

`Halving*SearchCV` selects nan scores as the best scores. With the default `error_score='warn'` that means that the best selected model fails when fitted on the training set. Doing a git bisect, this seems to have been introduced by #20203. I have not yet understood why exactly.

Result of the git bisect:
- Last good commit: 536f3ccd7
- First bad commit: 6484c4f0e

#### Step

[2021-08-04 15:49] NicolasHug commented on #20669
oh I see, thanks. That's an interesting development.

One good thing is that we shouldn't expect a breaking change (i.e. a different RNG) if one day we choose to natively support Generators:

[code]

Is this correct @rkern ?

Also, does that mean that a `RandomState(default_rng(0).bit_generator)` object has the same "nice  RNG properties" as a `Generator` object mentioned in https://github.com/sci

[2021-08-04 15:56] adrinjalali commented on #20585
The issue with that is that we'd need to run `get_params` before actually having set any parameters in clone, and that can break things (I tried). Example: GLM's [`_more_tags`](https://github.com/scikit-learn/scikit-learn/blob/20ee33a95acf93f85a0a3c867159a8f68516ca35/sklearn/linear_model/_glm/glm.py#L419-L429), which means we'd have to modify clone.

[2021-08-04 16:03] zoj613 commented on #20669
As far as I am aware, numpy uses the `PCG64` bitgenerator as its default one, and it has since 1.17.0. There were talks about replacing it with its stronger version `PCG64DXSM` in the future, but not sure which version will that take effect.

By nice properties, Im assuming you're referring to the new methods and parameters added in the `Generator` class (e.g. being able to select covariance facto

[2021-08-04 16:06] rkern commented on #20669
1. I'm not sure I understand what you're asking. Yes, wrapping a passed `BitGenerator` with `RandomState` now will help smooth things towards using `Generator` natively in `sklearn`, but there are differences (improvements) in some of the methods (say, `standard_normal()`). And per [NEP 19](https://numpy.org/neps/nep-0019-rng-policy.html), there will be other changes that come, including [the defa

[2021-08-04 16:09] zoj613 commented on #20669
Yes, that too. The other bitgenerators are faster and higher quality than `MT19937` which is `RandomState` default bitgenerator.

[2021-08-04 16:15] glemaitre commented on #20678
For the `nan` case, we should use `np.nanargmax` instead of `np.argmax`.

However, since `error_score` could be numeric, we should make the documentation also more explicit regarding the fact that we will get the highest numerical value and thus, one should not pass a large `error_score` value. Otherwise, it will be selected as the best model.

[2021-08-04 16:30] NicolasHug commented on #20669
Thanks for the replies, now I see that the underlying implementation is not always the same:

[code]

and the 2 methods don't even have the same API (one has extra parameters). So we should expect RNG changes if we ever choose to natively support Generators.

[2021-08-04 16:32] glemaitre commented on #20640
An additional piece of info:

https://github.com/conda-forge/python-feedstock/pull/477/files#diff-f3725a55bf339595bf865fec73bda8ac99f283b0810c205442021f29c06eea9aR211
https://github.com/conda-forge/binutils-feedstock/blob/master/recipe/patches/0001-fallback-sysroot.diff

Thus, I assume that the patch will land on the `binutils` of the feedstock of the default conda channel and we should monitor wh

[2021-08-04 16:34] glemaitre commented on #20678
I assume that we could trigger the problem of having a fold failing with rare categories and not handling them in an encoder.

[2021-08-04 16:38] rkern commented on #20669
Yes, [NEP 19](https://numpy.org/neps/nep-0019-rng-policy.html) lays out the policy and the reasons for it. It was well-deliberated.

[2021-08-04 16:38] zoj613 commented on #20669
Correct, the Generator` implementation of `standard_normal`, `exponential` and `gamma` uses the faster [ziggurat algorithm](https://en.wikipedia.org/wiki/Ziggurat_algorithm) instead of the Box-Muller used in RandomState, so the random stream is gonna be different.

[2021-08-04 17:07] TomDLT commented on #20674
Seems to come from https://github.com/numpy/numpy/pull/19571, as a part of the [NEP 40-43 series](https://numpy.org/neps/nep-0043-extensible-ufuncs.html).

[2021-08-04 17:43] adrinjalali commented on #20585
Here's a PR to see how it looks: https://github.com/scikit-learn/scikit-learn/pull/20681

[2021-08-05 07:14] ogrisel commented on #20642
It could be a case of https://github.com/xianyi/OpenBLAS/issues/3187 (thanks @jeremiedbb, I had completely forgotten about this).

[2021-08-05 07:20] #10598 closed

[2021-08-05 07:21] ogrisel commented on #20642
Hum, maybe OpenBLAS is setting an affinity mask on the main thread to tie it to a specific CPU and then subsequent calls to OpenMP spawn threads all tied to the same CPU causing oversubscription. We indeed need to update the C reproducer of xianyi/OpenBLAS#3187 to monitor `/proc/<pid>/status` both for the main thread and for each thread inside the openmp loop.

[2021-08-05 09:51] lesteve commented on #20678
A few notes:
- I *think* one way to avoid the issue would be to raise an error in `*SearchCV` objects if a model fails during fit on all the splits as mentioned in https://github.com/scikit-learn/scikit-learn/pull/20619#issuecomment-889369787
- use `rank_test_score` rather than using `mean_test_score` which seems more reliable (maybe it is computed before we replace the scores with `error_score`)

[2021-08-05 11:14] priamai commented on #20672
One of the challenge with the first line of code is that: https://ogrisel.github.io/scikit-learn.org/sklearn-tutorial/modules/generated/sklearn.neighbors.NearestNeighbors.html it does not implement the count only neighbour which is what required for the core point determination.
I am bypassing that class for now and using the distance class directly (KdTree/BallTree) for now.

[2021-08-05 13:26] kadatatlukishore commented on #20572
Hey @thomasjpfan, Can I start working on this now ?

[2021-08-05 15:48] ogrisel commented on #20674
@seberg I don't understand why we have a casting `TypeError` here. According to the error message above, the 2 numpy arrays `X` and `XP` have the same default dtype (`np.float64`).

[2021-08-05 15:56] seberg commented on #20674
Could it be that one of the arrays is not in native byte-order?  At which point it is technically `equiv` and not `no` casting.  But I am surprised that this changed in any case, so even if that is the case, may have to think about it.

[2021-08-05 16:04] seberg commented on #20674
@ogrisel thanks!  Sorry, the byte-order itself is not the issue, so no need to check.

It should not be possible for you to see this exact `TypeError`, I just set a magic value to the wrong thing, and did not realize that we don't have a single test with `casting="no"` in numpy :facepalm:.

[2021-08-05 16:32] #5651 closed

[2021-08-05 21:30] sohail759 commented on #16048
how to add a title in this confusion matrix?

[2021-08-06 00:53] proinsias commented on #18961
@rajivramanjani - are you able to provide the example that @glemaitre asked for?

[2021-08-06 01:39] reshamas opened #20687 "20 newsgroups text: add a "Data Considerations" section to the dataset documentation"
#### Describe the issue linked to the documentation

The "20 newsgroups text" dataset can be accessed within scikit-learn using defined functions.  The dataset contains some text which is considered culturally insensitive.

#### Suggest a potential alternative/fix
Add a section in the dataset documentation, possibly above the "Recommendation" section called "Data Considerations".
https://scikit-le

[2021-08-06 01:50] wchill commented on #15722
This is still an issue (not with Keras specifically). Related: #15371

For context, I am currently working in a codebase where we rely on the `get_params()` interface to get details about custom estimators. Many of these estimators take in parameter objects, and we make copies of the parameter objects because we would like to remove the unneeded parameters before returning the objects in `get_para

[2021-08-06 07:45] Arnab1181412 commented on #20687
Sir can I work on this issue.

[2021-08-06 07:46] Arnab1181412 commented on #20687
I am a new contributor to open - source

[2021-08-06 07:53] glemaitre opened #20689 "how to add a title in this confusion matrix?"
how to add a title in this confusion matrix?

_Originally posted by @sohail759 in https://github.com/scikit-learn/scikit-learn/issues/16048#issuecomment-893822353_

[2021-08-06 07:53] #20689 closed

[2021-08-06 07:54] ogrisel commented on #20674
Great! It shows that testing scikit-learn against numpy dev has more value than just fixing deprecation warnings early on :)

[2021-08-06 09:06] ogrisel commented on #20674
Let's monitor the merge of https://github.com/numpy/numpy/pull/19621 that should fix our nightly build failure and close this issue once this is the case.

[2021-08-06 09:14] rth commented on #20335
This test also failed in https://github.com/conda-forge/scikit-learn-feedstock/pull/156 for non-ARM CI, so I'm re-opening this issue.

[2021-08-06 09:46] h-vetinari commented on #20335
Since this test fails very consistently in the CI, I can offer to test potential patches against the conda-forge CI

[2021-08-06 10:01] ogrisel commented on #14959
Closing in favor of superseeding #20653.

[2021-08-06 10:02] ogrisel commented on #14959
I closed by mistake thinking it was an old PR but it's actually the root issue. Sorry for the noise.

[2021-08-06 10:35] ogrisel commented on #18961
Closing because we lack details to reproduce the problems. Please feel free to reopen with more details as requested by @glemaitre above along with the versions of Python, the libraries and operating system.

[2021-08-06 10:35] #18961 closed

[2021-08-06 10:40] ogrisel commented on #9141
Probably but someone needs to give it a shot. Feel free to open a draft PR to experiment and see if we get into a roadblock or not.

[2021-08-06 10:53] Vadim-Maklakov opened #20692 "Issue for converting b(slope) from Ridge regression with StandardScaler"
Hi all!
When I made the educational project “Predicting House Sale Prices” based on ames dataset I decided to experiment with different types of linear regression – simple OLS and Ridge regression and different encoders – Robust and Standard scalers. For each predicting result, I checked using plotting line of prediction (line 1) and plotting line using coefficients from models multiplied bi scale

[2021-08-06 11:35] #12044 closed

[2021-08-06 11:48] glemaitre commented on #20692
Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal.

[2021-08-06 13:05] #10077 closed

[2021-08-06 14:14] reshamas commented on #20687
I posted this issue, and I identify as a woman.

[2021-08-06 15:50] jmloyola commented on #20308
Working on `HistGradientBoostingClassifier`

[2021-08-06 16:19] ogrisel commented on #20665
I assume you use scikit-learn 0.24.2 on the 32 bit ARM machine. If this is the case, the exception matches this block:

[code]

https://github.com/scikit-learn/scikit-learn/blob/0.24.2/sklearn/tree/_tree.pyx#L656-L661

[2021-08-06 16:39] ogrisel commented on #20665
@RakshithGB just to move one potential source of problem out of the analysis could you please confirm that on your 32 bit arm machine the following output `"little"`?

[code]

[2021-08-06 16:48] ogrisel commented on #20665
Actually I re-read the error message and indeed the problem is just that `SIZE_t` is `<i4` on the 32 bit system while `<i8` on the 64 bit system (as expected).

So indeed we  cannot naively expect those dtypes to match when going across platforms. Now we need to think about whether it would make sense to use a platform agnostic `uint32` or `uint64` indexing for the nodes of the trees instead of re

[2021-08-06 16:48] ogrisel commented on #20665
In any case we need proper CI support for testing this cross-platform pickle based deployment scenarii.

[2021-08-06 18:10] Arnab1181412 commented on #20687
Sorry ma'am I should have acknowledged that.

[2021-08-06 18:11] Arnab1181412 commented on #20687
Ma'am so please guide me through the issue if possible as I am new to open-source.

[2021-08-06 19:58] thomasjpfan opened #20695 "Move `_safe_indexing` back to being public"
I think this utility is really useful for meta-estimators and we extensively test it.

[2021-08-06 20:04] thomasjpfan opened #20696 "Meta-estimators and delegating validation"
Should meta-estimators set `n_features_in_` if the sub-estimator does not define it? For example, if the first step of a Pipeline does not have `n_features_in_`, should `Pipeline` try to set it and handle the validation?

I think it's strange that meta-estimators do not follow [SLEP010](https://scikit-learn-enhancement-proposals.readthedocs.io/en/latest/slep010/proposal.html) if the sub-estimator

[2021-08-06 21:31] glemaitre commented on #20696
If the first step of a `Pipeline` is a `TfidfVectorizer` and that you want `Pipeline` to have a `n_feature_in_`, which value would you set then?

[2021-08-06 21:33] thomasjpfan commented on #20696
Follow SLEP010 and do not set it.

[2021-08-06 21:36] glemaitre commented on #20695
I am not sure if we should either make it public or available to developers.
I think that I would prefer to define a developer API with utilities that should be used by people developing scikit-learn estimators.

[2021-08-06 21:40] thomasjpfan commented on #20695
I guess this is close enough to https://github.com/scikit-learn/scikit-learn/issues/15801 . I'll continue the discussion there.

[2021-08-06 21:40] #20695 closed

[2021-08-06 21:44] glemaitre commented on #20696
But we already not setting it if I am not wrong. We delegate `n_features_in_` to the first step of the `Pipeline`:

[code]

[code]

[2021-08-06 21:45] glemaitre commented on #20695
Yes but we should probably make a plan on how to address it :)

[2021-08-06 22:07] thomasjpfan commented on #15801
With 1.0, let's see if we can revisit this topic. With the comment at https://github.com/scikit-learn/scikit-learn/issues/20695#issuecomment-894531268:

I think that I would prefer to define a developer API with utilities that should be used by people developing scikit-learn estimators.

My current definition of public API is "always deprecate with 2 cycles before changing behavior". We have mostl

[2021-08-06 22:09] thomasjpfan commented on #20696
I was thinking of the use case of a first step that does not set `n_features_in_`. Assuming `MyTransformer` does not set `n_features_in_`:

[code]

In this case, should `pipe` still try to set `n_features_in_`?

[2021-08-06 22:27] glemaitre commented on #20696
I am confused (it is probably too late here :)) but `Pipeline` will delegate to the `n_features_in_` from `MyTransformer` and if it does not exist, then we raise an `AttributeError`.

It seems to be inline with the SLEP:

But I probably miss a point (sorry in advance @thomasjpfan :))

[2021-08-06 22:40] genvalen commented on #20308
Working on ``KernelCenterer``

[2021-08-06 23:53] amueller opened #20699 "Support "passthrough" in FeatureUnion"
Right now setting an estimator to ``"passthrough"`` in ``FeatureUnion`` is not supported (the validation errors).
I think that is a bit inconsistent as we have it in `ColumnTransformer` and `Pipeline`. It's actually quite natural in ``FeatureUnion`` to keep the original features, so I think it's more a historical oversight that we don't allow this right now.

[2021-08-07 01:42] genvalen commented on #20308
Working on ``KernalRidge``

[2021-08-07 05:50] das-ankur commented on #20699
I read about FeatureUnion and find it it's a real problem. I think the passthrough feature can be done if we do little modification of FeatureSelection constructor. Here we can introduce a new parameter "passthrough" and by default  value  can be set to None  and whenever any value is passes as a parameter of "passthrough" we can slice the array and then we can apply the operations of  FeatureUnio

[2021-08-07 05:51] das-ankur commented on #20699
If you want me to work on it, I think I can do it.

[2021-08-07 07:03] Vadim-Maklakov commented on #20692
Code where extract slope and checked manually and plotting  from section 6.1 "Train Ridge regression model with optimal alpha and coef_ taken from model using StandardScaler see bellow" attached in zip file on first message notebook.
You can download the working notebook with the dataset to it from the link in the first message.
==========================================
# train models and extract

[2021-08-07 07:48] glemaitre commented on #20692
You can download the working notebook with the dataset to it from the link in the first message.

This is really difficult to spot wrongdoing in a 200 lines example. If you want us to look at the issue, you should follow the bug report template:

### Minimal example

[code]

### Code to show the bug

[code]

### Expected results

Here what you would have wait instead

###

Give the output

[code]

[2021-08-07 09:21] glemaitre commented on #20699
@das-ankur you will need to modify `_validate_transformers` to let `"passthrough"` to be accepted and then during the union, we need to concatenate the feature as-is.

It is difficult to follow :) A PR with the proposal will be easier to give a feedback. The only thing to keep in mind is that by default, `FeatureUnion` should behave as it does now.

Please go ahead. I would be happy to review your

[2021-08-07 09:28] #20577 closed

[2021-08-07 10:01] Iamtripathisatyam commented on #18852
I have the same issue in windows, is there any solution?

[2021-08-07 10:03] glemaitre commented on #18852
Could you provide the information regarding the OS, python, numpy and scipy.
Also, when installing with `pip` could you add the verbose flag and post the traceback:

[code]

[2021-08-07 13:31] jmloyola commented on #20308
Working on `HistGradientBoostingRegressor`

[2021-08-07 17:32] Vadim-Maklakov commented on #20692
Glemaitre, excuse me for bothering you.
I found my mistake, please close  this issue.

[2021-08-07 17:34] #20692 closed

[2021-08-08 04:26] harupy opened #20703 "Is this a typo?"
https://github.com/scikit-learn/scikit-learn/blob/cc8d84a0c136ef9d5e458f109167d0e019c795de/sklearn/utils/metaestimators.py#L165

Is `iff` in `_IffHasAttrDescriptor` a typo for `if` or intentional?

@jnothman @glemaitre

[2021-08-08 09:15] itamarf-wix opened #20706 "Add Binomial Regression to LogisticRegression API"
#### Describe the workflow you want to enable
Currently, LogisticRegression supports cases when the label is {0, 1}, while in R Binomial regression is supported (the label is a vector of 2, n_i and y_i: n_i is the number of trials in that row, and y_i is in {0, 1, ..., n_i}

#### Describe your proposed solution
1. LogisticRegression.fit y param should be either `array-like of shape (n_samples,)` o

[2021-08-08 09:41] glemaitre commented on #20703
It might be for "If and only if"

[2021-08-08 10:03] harupy commented on #20703
@glemaitre I didn't know `iff` is an abbreviation for `If and only if`. Thanks for the explanation.

[2021-08-08 10:03] #20703 closed

[2021-08-08 10:12] OGordon100 opened #20707 "Jaccard Score Documentation Suggests f_score, not f1_score"
#### Describe the bug

#### Steps/Code to Reproduce

[code]

#### Expected Results

#### Actual Results

#### Versions

[2021-08-08 11:12] harupy opened #20709 "Example code `sklearn.metrics.DetCurveDisplay.__init__` plots nothing"
#### Describe the issue linked to the documentation

As reported in https://github.com/scikit-learn/scikit-learn/pull/20705#issuecomment-894760971,  the example code for `sklearn.metrics.DetCurveDisplay.__init__` plots nothing:

https://scikit-learn.org/stable/modules/generated/sklearn.metrics.DetCurveDisplay.html#sklearn.metrics.DetCurveDisplay

![image](https://user-images.githubusercontent.com/

[2021-08-08 13:33] #20707 closed

[2021-08-08 20:21] thomasjpfan commented on #20572
@kadatatlukishore Yup. Feel free to open a PR that updates the example's wording.

[2021-08-08 21:27] thomasjpfan commented on #19614
Using `'auto'` to mean `1/n_feature` is kind of weird in itself. To move forward we can also rename `'auto'` to ` reciprocal_n_features` ?

[2021-08-09 07:18] dobos opened #20717 "Support reusing of joblib thread pools in parallel routines"
#### Describe the workflow you want to enable

I'm using `pairwise_distances` for fairly large matrices and, at the same time, long vectors. It's worth starting up the parallel threads for the matrices but not for the vectors. It would be great, however, if the thread pool could be reused to benefit for parallelism for the smaller computations as well.

#### Describe your proposed solution

`pairw

[2021-08-09 09:47] #20572 closed

[2021-08-09 10:00] glemaitre commented on #20308
FYI, I updated the checklist at the top of this post based on the estimators that we are currently testing.

[2021-08-09 10:00] #16191 closed

[2021-08-09 12:11] #19241 closed

[2021-08-09 12:33] TogrulKazimov opened #20719 "'GridSearchCV' object has no attribute 'cv_results_'"
I have created a predictive RandomForestTree model. Now trying some hyperparameters tuning. While using GridSearchCV, I get an AttributeError.
Code:

[code]
[code]

[code]

[2021-08-09 13:31] chrissobel opened #20720 "Wrong x-axis label in scaler comparison examples"
In the examples of scaler comparison the x-axis is wrongly labeled throughout. The 0th and 5th feature is used, but the 5th feature is wrongly identified with `number of households` instead of the correct feature `average house occupancy`.

In:
[code]
Out:
['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude']

Errors in the code:
- https://github.com/sc

[2021-08-09 14:13] adrinjalali commented on #15801
Another related discussion is here: https://github.com/scikit-learn/scikit-learn/pull/20657 : how do we signal something is _developer API_?

[2021-08-09 14:18] thomasjpfan commented on #20719
Data needs to be provided to `grid_rf` to fit on:

[code]

If fitting was successful, then `grid_rf.cv_results_` will be populated with the results.

[2021-08-09 14:19] reshamas commented on #20308
Working on `ClassifierChain`

[2021-08-09 14:49] szymonkucharczyk opened #20721 "OrdinalEncoder fit using method fails to encode big integers."
#### Describe the bug

In scikit-learn 0.24 there were some methods added affecting `OrdinalEncoder`, including method `_unique_python` added in sklearn/utils/_encode. This method utilize `_extract_missing` method which uses `np.isnan(X)` (by `is_scalar_nan(X)` ): https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/utils/__init__.py#L985 .
When the given array X consist of really big in

[2021-08-09 15:28] thomasjpfan commented on #16469
I think the implications for using tags can be seen in "MinimalRegressor":

https://github.com/scikit-learn/scikit-learn/blob/3c732b9f6a77e95dfa6beb154ca2e1e7848b74f9/sklearn/utils/_testing.py#L968-L976

The current use of `_estimator_type` is almost like an protocol, because it is used in combination with `is_classifier()` or `is_regressor()`. I do not know if there is code that actually looks at

[2021-08-09 16:04] RakshithGB commented on #20665
@ogrisel any quick fix suggestions?

[2021-08-09 16:16] glemaitre commented on #16469
So we start to impose our tags machinery but by not enforcing inheriting from `BaseEstimator`. Isn't it kind of weird?

[2021-08-09 16:29] thomasjpfan commented on #16469
Yea I think it is kind of weird. I am starting to rethink moving `_pairwise` into tags, because of how it enforces the tags machinery...

[2021-08-09 16:46] glemaitre commented on #16469
We just merged `multilabel` and removed the Mixin :)

[2021-08-09 17:57] glemaitre commented on #20721
In `main`, I am actually getting both error reported:

[code]
I am yet really sure why you get something interpreted as a string. I need to check more.

[2021-08-09 18:07] glemaitre commented on #20721
So the integers are too large to be represented by `np.int64` so it uses `object` dtype and Python `int`.
The dtype dispatcher implemented in our encoder assumes that `object` dtype is used to represents strings and throw an obscure error that `int` is not `str`.

I am not sure what we should do here. If we decide that numerical values that will lead to overflow should raise an error, we can proba

[2021-08-09 18:09] glemaitre commented on #20719
Closing the issue since @thomasjpfan answered.

[2021-08-09 18:09] #20719 closed

[2021-08-09 18:11] glemaitre commented on #20720
@chribsen Do you want to make a PR. I think that it could be nice to add the parameter `as_frame=True` when loading the dataset like this we will have directly the column names and we can use this information in the remaining of the examples to avoid any mistake.

[2021-08-09 18:37] tonygeorge1984 commented on #20687
Hello, i am working on sklearn/datasets/descr/twenty_newsgroups.rst. However i have one question here. Would you like to have just the new section "Data Considerations" above "Recommendation" or would you like me to add some text also under the new section "Data Considerations". If you can provide more clarity it would be great.

[2021-08-10 10:33] glemaitre opened #20724 "Use check_scalar for parameters validation"
I just discover that we have a helper function to validate scalar:
https://scikit-learn.org/stable/modules/generated/sklearn.utils.check_scalar.html

Since this helper could help to get consistent error types and messages, I was wondering if we could make a long-running issue to introduce this helper everywhere possible.

I think this could be a good issue for first contributors and short sprints.

[2021-08-10 10:34] glemaitre commented on #20724
@adrinjalali @thomasjpfan do you think it is worth it?

[2021-08-10 10:44] adrinjalali commented on #20724
I'm in favor of consistent input validation, there's also some discussion here: https://github.com/scikit-learn/scikit-learn/issues/14721

[2021-08-10 10:50] glemaitre commented on #20724
So `_check_in_range` proposed by @thomasjpfan is indeed exactly the job of `check_scalar` with a `TypeError` on the top :).

We might want to introduce the `check_scalar` everywhere, change the error message or add tests. Then we could see if we want to refactor using a decorator or not?

[2021-08-10 10:59] adrinjalali commented on #20724
I'm all in favor. It's certainly an improvement.

[2021-08-10 11:24] szymonkucharczyk commented on #20721
@glemaitre Thank you for the answer. Well, I can try to do it in my product, we will need some logical changes or a dirty workaround, but its possible.
 Although, it is a regression as it worked in sklearn 0.23.2 and it doesnt with 0.24. It also fails no matter of numpy version.

 Updating the message will be very helpful. Lets keep this open till I test our solution.

[2021-08-10 11:39] architjen commented on #20724
@glemaitre I'm interested in working on this issue, it would be my very first contribution.

[2021-08-10 11:41] glemaitre commented on #20721
Since this is a regression, we probably need our `_unique_python` to handle other types than `str` then.

Yes, we most probably refactor part of the code there.

[2021-08-10 12:20] ogrisel commented on #20721
Those big int number are indeed not supported by numpy because they would need more than 64 bits to be represented:

[code]

I assume those ints comment from a feature hashing function? This is indeed a valid case for machine learning values and would make sense to "pack" them with an ordinal encoder.

Going through a `str` intermediate representation is possible but maybe not very efficient. Bett

[2021-08-10 12:31] ogrisel commented on #20717
It sounds like a good idea.

Also related, @jjerphan is currently working on a new Cython level way to compute those pairwise distances in parallel using OpenMP (with an additional reduction step). This would likely be even more efficient than Python/joblib level parallelism. The case without the reduction is still TODO though.

[2021-08-10 12:46] szymonkucharczyk commented on #20721
@ogrisel Thats correct those values are from hashing and they are used for ml and so that they are encoded.

[2021-08-10 13:19] rhugonnet commented on #14485
Thanks, fixed the issue on an old system I work with (Debian 8.11, GLIBC 2.19), but only after I tweaked the `numpy` version to avoid segmentation faults.
This combination finally did the trick (not all 1.19.2 `numpy` versions worked, for some reason).
[code]
Rest of the environment solved with `mamba` through the `conda-forge` channel.

[2021-08-10 13:22] lorentzenchr commented on #20706
@itamarf-wix Thanks for suggesting this functionality.
This is already discussed in #17411, so I close this ticket.

[2021-08-10 13:22] #20706 closed

[2021-08-10 13:46] jjerphan commented on #20717
https://github.com/scikit-learn/scikit-learn/pull/20254 is the PR mentioned by @ogrisel.

[2021-08-10 13:49] lorentzenchr commented on #15850
I would say that this does not meet the [scikit-learn inclusion criteria](https://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms).

The discussion then shifted to whether or not to evaluate a model on the transformed scale (discretized in this example). While some interpretability tools can make (more) sense on the transformed scale, I second @jnothman‘s commen

[2021-08-10 13:49] #15850 closed

[2021-08-10 14:31] #20475 closed

[2021-08-10 14:47] chkoar commented on #15850
That is correct. Although, I think that we could include an example that leverages the aforementioned technique as we did with the [inductive clustering example](https://github.com/scikit-learn/scikit-learn/pull/10852).

[2021-08-10 16:25] lorentzenchr commented on #15850
@chkoar From a statistical point of view, I have major concerns to convert a regression task on a continuous target into a classification task. Therefore, I would rather not put it in an example.

[2021-08-10 16:57] chkoar commented on #15850
scikit-learn has all the components in order to implement the regression by discretization approach. If I am not mistaken even WEKA includes this meta estimator by default. Since we always evaluate using cross-validation, I would appreciate if you could list your major concerns regarding the approach. Thanks.

[2021-08-10 20:09] lorentzenchr commented on #15850
Fair enough. But let‘s not make a long discussion out of it. (Disclaimer: Maybe some points are misplaced as I have not studies the approach in detail.)
- First, I prefer strong positive arguments: Why should I follow this approach?
- One loses information by binning (that‘s why I favor the SplineTransformer over the KBinsDiscretizer). Why should you do that in the first place (except data compres

[2021-08-10 21:57] genvalen commented on #20308
Working on ``Nystroem``

[2021-08-10 22:53] c3-jack-lin commented on #7343
Is precision at k still not available?

[2021-08-11 07:51] szymonkucharczyk commented on #20721
@glemaitre  Thanks for addressing this issue, do you have any ETA when it will be released ?

[2021-08-11 07:56] ogrisel commented on #20721
If it's merged in time (which will very likely be the case), this should be part of the next release which should happen in September.

[2021-08-11 09:01] szymonkucharczyk commented on #20721
@ogrisel Ok, thank you!

[2021-08-11 09:53] glemaitre commented on #20724
@architjen you could take an estimator and make the changes. You can have a look at #20723

I would like to merge #20723 first such that we have the `strictly_*` parameters thought.

[2021-08-11 12:56] glemaitre commented on #15801
Thinking with what we encounter with imbalanced-learn, the issue is not to support the latest version of scikit-learn but instead, be compatible with the older versions. We made the choice to only support the latest version of scikit-learn because this is easy to make the change. The pain to support the older version is that we need to backport old non-backwards compatible functionalities. I don't

[2021-08-11 12:57] glemaitre commented on #15801
something documented publicly but starting with an underscore :)

[2021-08-11 13:09] WenjieZ commented on #15801
Let me weigh in here. The point of a Developer API is to tell the developers that **these functionalities are quite stable and will not undergo changes without notification and consulting the public's opinion**. The developers want to know what they can depend on to write their programs, just like foreign entrepreneurs want to know the local law and legislation before investing.

[2021-08-11 13:31] milana2 opened #20733 "Allowing sparse inputs in MeanShift.predict"
#### Describe the bug

MeanShift.predict should work with a sparse X according to the documentation, but the code throws an exception when a sparse matrix is passed. Apologies if this is a non-issue or the issue has been fixed.

This is the same issue as in AffinityPropagation.predict (issue [#20049](https://github.com/scikit-learn/scikit-learn/issues/20049)) that was fixed by PR [#20117](https://

[2021-08-11 13:34] lorentzenchr commented on #15850
Indeed. That‘s why I took the time to lay out my reasons. And as a contributor, the most frustrating experience is to not get a response at all. This one was stalled for 1.5 years.
If there is a compelling use case, an example would be great. I just don‘t have enough imagination for it and therefore think that time could be better spend on other issues.

[2021-08-11 14:15] temuller opened #20735 "Matrix decomposition with uncertainty propagation"
Hi, I was wondering if it is possible to do matrix decomposition (e.g., PCA, NMF) with uncertainties. Basically, I want the uncertainty in my data to be propagated with the eigen-values.

[2021-08-11 14:27] glemaitre commented on #15801
I think that we agree on this. What would be interesting is to know if we can shorten it to 1 cycle or be a bit more conservative and use 2 cycles as in the public API.

[2021-08-11 14:55] grisaitis commented on #16988
@rkern Thanks for that summary of the API changes.

Regarding the first group of methods...

Would a good first step (PR) be to refactor the calls to `rand`, etc, to the new `random` and `standard_normal`? This seems pretty doable. The arguments look only slightly different, and the new Generator methods are also available on RandomState. So code would be backward compatible with RandomState.

Reg

[2021-08-11 16:20] Hedaia-Ghannam-2020 commented on #17582
I have the same issue where I have scipy version 1.6.2
Pytest stage in my CI/CD pipeline in gitlab fails with the following error on my AWS linux machine:

$ pytest tests/
Fatal Python error: Segmentation fault
Current thread 0x00007f1b36afb740 (most recent call first):
  File "<frozen importlib._bootstrap>", line 219 in _call_with_frames_removed
  File "<frozen importlib._bootstrap_external>", li

[2021-08-12 07:19] jjerphan commented on #20724
As of now `check_scalar` returns nothing, but it would be nice to be able to return the checked values similarly to what's done for `check_array`, e.g.:

[code]

What do you think?

[2021-08-12 12:47] woctezuma opened #20740 "Wrong illustration for ARD"
#### Describe the issue linked to the documentation

The last plot on the documentation page for [`Automatic Relevance Determination Regression (ARD)`](https://scikit-learn.org/stable/auto_examples/linear_model/plot_ard.html) is wrong.

It makes it hard to understand the last sentence of the paragraph without running the code:

Documentation (left) vs. Expectation (right):

![Documentation vs. Exp

[2021-08-12 14:24] adrinjalali commented on #15801
What I'm trying to say, is that documentation is great, but something else would be nice as well. As in, it'd be nice for the user to inspect a class and notice certain things which are _private_, as opposed to other things which are a part of the developer API. That's why I'm very happy with the dundar notation in https://github.com/scikit-learn/scikit-learn/pull/20657

[2021-08-12 17:31] bsun94 commented on #20506
Hi guys, I'm fairly new to this repo, and I was wondering if you'd still need help on this issue?

[2021-08-12 21:20] pythonometrist commented on #20488
Many Dhanyavadams!

[2021-08-12 22:23] baozzhao commented on #16694
@hrbzkm98 have you made any progress on this? I have been searching for a solution to Ordinal Response Boosting as well.

[2021-08-12 23:24] architjen commented on #20740
Hi @woctezuma, I'm not sure if the illustration for the Automatic relevance Determination Regression (ARD) is wrong or not (I can't say, I'm not an expert)

But I do agree that it should somewhat resemble Bayesian Ridge Regression (BRR) as both of them are very much similar and from the documentation of [BDR](https://scikit-learn.org/stable/auto_examples/linear_model/plot_bayesian_ridge.html#sphx-

[2021-08-12 23:26] architjen commented on #20740
I'm very new to open-source, hence I don't really know what should be done to further close/solve the issue. Any suggestion from you @woctezuma would be highly appreciated ))

[2021-08-13 04:46] brgopalakrishnan commented on #20687
Arnab,

Here are the link that may help, if you need more guidance email at winwin.endeavor@gmail.com

https://scikit-learn.org/stable/developers/contributing.html
https://www.dataschool.io/how-to-contribute-on-github/

[2021-08-13 04:55] brgopalakrishnan commented on #20740
@architjen hope the following links guide you the next steps.
https://scikit-learn.org/stable/developers/contributing.html
https://www.dataschool.io/how-to-contribute-on-github/

[2021-08-13 07:00] woctezuma commented on #20740
Hello,

As shown on the illustration in my first post:
- I ran the code in a [Google Colab notebook](https://colab.research.google.com/) (a direct copy-paste [from the documentation page linked above](https://scikit-learn.org/stable/auto_examples/linear_model/plot_ard.html))
- the plot was different from the one shown in the documentation.

I don't think it is an issue with the degree of the polyn

[2021-08-13 07:07] woctezuma commented on #20740
Okay, I clicked on the link to run the notebook on Binder, and I see the "wrong" plot. So the issue is indeed there.

[2021-08-13 07:32] woctezuma commented on #20740
I can see 4 changes made to `sklearn/linear_model/_bayes.py` between 0.22.X and 0.23.X: #16849, #16665, #16112, #16926.

I think the first one is the biggest change, so the more likely to introduce this issue.

[2021-08-13 07:47] architjen commented on #20740
I tried the same experiments as you over different platforms and I have the same results:

- On colab: Works fine
- On binder:
    - for sklearn 0.22.X : works fine
    - for sklearn 0.23.X and 0.24.X : shows the wrong plot

I also tried downloading the file and running it over jupyter-notebook, same results as of in binder

[2021-08-13 10:38] woctezuma commented on #20740
Thanks for confirming. At least, it is reproducible!

So, there are 2 possible issues:
- regarding the documentation:
   - the text of the documentation is not consistent with the current version of sklearn
   - because the text assumes that we see the plot for Colab or sklearn 0.22.X
- regarding the code:
   - either the current behaviour is a regression which happened between v. 0.22.X and v. 0.

[2021-08-13 15:22] jmloyola commented on #20308
Working on `SVR`

[2021-08-13 15:30] jmloyola commented on #20308
Working on `LinearSVR`

[2021-08-14 15:12] thomasjpfan commented on #20733
I agree this should be updated. In 0.23.X, we did support sparse matrices:

https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f871d60370/sklearn/cluster/_mean_shift.py#L450-L465

where `pairwise_distances_argmin` checked for `accept_sparse='csr'`.

@milana2 Would you be interested with opening a PR with your suggested fix?

[2021-08-14 22:53] Abdelgha-4 opened #20745 "Mixed type Iterative Imputer"
I think it would be very useful to have the possibility to impute the whole data frame at once, using all the available information in a dataframe to impute the missing values, instead of splitting at first the categorical features and encode them, do imputation and then get back the original categories,

[2021-08-15 01:52] maziyank opened #20746 "Text vectorizer with unwanted float for max_idf or min_idf"
When working using CountVectorizer and accidentaly set max_df with float greater than 1.0 and give me wrong result. According to documentation we can set max_idf or min_idf with float [0,1] or int when using CountVectorizer.

#### Steps/Code to Reproduce

Taken from example:
[code]

Suppose, I accidentaly set ```max_df``` with float greater than 1.0. This give me different result:

[code]

Looking

[2021-08-15 04:40] Abdelgha-4 commented on #20745
Found that this was already discussed [here](https://github.com/scikit-learn/scikit-learn/issues/17087) !

[2021-08-15 04:40] #20745 closed

[2021-08-15 06:43] priamai commented on #20672
Hi @jjerphan I wrote a proof of concept to show that is possible but as mentioned it requires to work at the tree level because of the missing functionality.
This [class](https://gist.github.com/priamai/1b73d14d9f8f9f61b657b9d65bc6c62a) is somehow inspired by the current implementation but simplified to remove Cython for easy of replicability.

Happy to help.

[2021-08-15 14:55] AlekLefebvre commented on #20746
Thank you for your detailed bug report.

I was able to reproduce it and would like to contribute a PR. Is a warning sufficient or should it throw an error?

[2021-08-15 15:43] HimanshuKGP007 opened #20750 "No module named 'sklearn.pipeline'"
#### Describe the bug

Facing this issue only on my system -- ``` No module named 'sklearn.pipeline' ```

#### Steps/Code to Reproduce

[code]

#### Expected Results
0.92

#### Actual Results

[code]
#### Versions

[code]

[2021-08-15 19:43] AlekLefebvre commented on #20746
I opted for throwing an error to respect the range. Let me know if it should be done differently.

[2021-08-15 20:51] #6437 closed

[2021-08-16 05:46] zacps opened #20754 "SpectralClustering Fails on particular inputs: array must not contain infs or NaNs"
#### Describe the bug

`SpectralClustering` sometimes fails to predict labels and errors with 'array must not contain infs or NaNs'. The full set of conditions for this to occur is unknown, but it is reproducible with a matrix as small as 2x2, shown below.

This was originally noticed on the [swarm uci dataset](https://archive.ics.uci.edu/ml/datasets/Swarm+Behaviour) and the matrix below contains

[2021-08-16 07:27] zacps commented on #20754
This is due to the linear kernel not satisfying the conditions:

Which leaves two points:

* What is the correct linear-esque kernel to use?
* A error should be added for detectible violations of the above condition (negative values produced by the kernel)

[2021-08-16 09:00] glemaitre opened #20755 "Issue with ARDRegression example"
Sorry to bother if I am wrong. However, I have noticed that the plot in the documentation of ARD is different with sklearn 0.23.X compared to version 0.22.X, and I wonder if this commit introduced the issue (maybe it is the expected behavior).

cf. #20740 or directly the last plot shown in [this example in the documentation](https://scikit-learn.org/stable/auto_examples/linear_model/plot_ard.html)

[2021-08-16 09:04] maziyank commented on #20746
Yes @AlekLefebvre that error is sufficient i think.

[2021-08-16 12:08] glemaitre commented on #20755
dupllicate of https://github.com/scikit-learn/scikit-learn/issues/20740

[2021-08-16 12:08] #20755 closed

[2021-08-16 12:19] #20750 closed

[2021-08-16 13:50] piaulous opened #20757 "Agglomerative clustering with and without structure"
[Agglomerative clustering with and without structure](https://scikit-learn.org/stable/auto_examples/cluster/plot_agglomerative_clustering.html)

In the 2nd paragraph it is said, that "clustering with a connectivity matrix is much faster". From my understanding of the plot it's the other way around - which means that clustering with a connectivity matrix is slower. The notebook lead to the same res

[2021-08-16 17:36] lorentzenchr opened #20758 "Support sample_weight in KBinsDiscretizer(strategy="quantile")"
#### Describe the workflow you want to enable
[code]
This should use weighted quantiles.

#### Additional context
Similar to #20522.

[2021-08-16 19:43] lorentzenchr opened #20760 "FEA SplineTransformer difference penalty"
#### Describe the workflow you want to enable
When using `SplineTransformer` as part of a larger feature preprocessing pipeline that ends in a linear model, e.g. `Ridge`, I'd like the splines to get a penalty on the (first) differences of the coefficients instead of the usual L2 penalty:
[code]
instead of
[code]

The reason is that such a penalty penalizes the curvature (integral over square of se

[2021-08-16 21:12] #20721 closed

[2021-08-16 23:59] milana2 commented on #20733
Yes, I'll go ahead and open a PR. Thanks!

[2021-08-17 02:22] bsun94 commented on #20111
Hi everyone! Still a bit of a newbie with this repo, and I was wondering if I'd be able to help out with anything here?

[2021-08-17 02:55] amueller commented on #20111
@lorentzenchr can you clarify what help we're wanting? ;) Should we add something to the documentation that says that .3 and .9 are common values in the literature?

[2021-08-17 06:19] lorentzenchr commented on #20111
@amueller @bsun94 See https://github.com/scikit-learn/scikit-learn/issues/20111#issuecomment-869825022:
TLDR: Deprecate option `"auto"`, keep effective default values (`1` for regression, `sqrt` for classification) and improve documentation, in particular for `RandomForestRegressor` by saying that the default `1` is equivalent to bagged trees and more randomness can be achieved by setting smaller

[2021-08-17 06:30] lorentzenchr opened #20762 "FEA Allow negative integers in categorical_features for HGBT"
#### Describe the workflow you want to enable
I'd like to pass negative integers to indicate categorical feature columns from the end.
[code]

[2021-08-17 07:40] #16155 closed

[2021-08-17 08:47] Grisly00 commented on #5275
I am currently working with OPTICS, mainly because the reachability plot is a great tool to get a feel for clusters in the data, but the memory consumption is still quite a limiting factor.

First, with a dataset of 15x70,000 samples, which is not very large, memory consumption is already at around 100 GB. Here is a short comparison (leaf_size=30, algorithm='ball_tree') on a machine with 126 GB RA

[2021-08-17 09:32] glemaitre commented on #20762
If we accept negative integers then we will need to be consistent in `ColumnTransformer` as well to have consistent indexing everywhere.

Since we already support slice in `ColumnTransformer`, it would make sense to also support slice here.

[2021-08-17 10:54] NicolasHug commented on #20762
@lorentzenchr in this specific use-case, would it be feasible to build a mask instead, something like what is done in our example https://scikit-learn.org/stable/auto_examples/ensemble/plot_gradient_boosting_categorical.html#gradient-boosting-estimator-with-native-categorical-support ?

Supporting negative column indexing is OK as long as we properly check `n_features_fit` == `n_features_predict`;

[2021-08-17 14:32] candalfigomoro commented on #15127
@NicolasHug @TomDLT
The current validation set approach of scikit-learn tempts people to produce bad models. Suppose you perform a minority class oversampling or data augmentation or some other preprocessing step. Ideally, the validation set should reflect the distribution of the test set and live data. If you split the validation set from the training set, you could inherit a biased distribution

[2021-08-17 16:09] kaushikroychowdhury commented on #20724
Hey I want to work on this issue. This will be my first contribution.
Will you please help me @glemaitre @architjen

[2021-08-17 16:18] RAVANv2 commented on #20758
Hi @lorentzenchr, I would like to take a close look at #20758 issue.
Could you help me in understanding the issue properly.

[2021-08-17 17:34] lorentzenchr commented on #4813
As mentioned in https://github.com/scikit-learn/scikit-learn/pull/16525#issuecomment-671026974, I really would like to set the threshold based on `predict_proba` manually. This could be based on a business requirement or something else (but not tuned nor learned), i.e. a decision (rule).

[2021-08-17 17:43] shivangij19 commented on #20724
I would also like to contribute to this issue.
Can u help walk me through @glemaitre

[2021-08-17 18:53] SanjayMarreddi commented on #20724
Hey @glemaitre and @adrinjalali!
I have been using scikit-learn so frequently in my AI side projects. I also contributed to a few Python OpenSource projects. Now I would like to start contributing to `scikit-learn` too!

I would like to begin with this issue. I went through all the discussions available here & linked PRs too.
I am planning to start with parameters validation for the `K Means` clus

[2021-08-17 19:20] RAVANv2 commented on #20754
Hey @zacps!!
I would like to contribute to this issue. I think I can solve this issue.

[2021-08-17 19:49] lorentzenchr commented on #20758
@RAVANv2 Have a look at #20526.

[2021-08-17 21:45] zacps commented on #20754
What I'd change:
* Filter known-unusable affinities and raise an exception, `linear` and `rbf` both fit this
* Check that precomputed matrices are all positive and raise an exception otherwise

Possibly make the warning in the docs more obvious?

[2021-08-18 06:05] kaushikroychowdhury commented on #20758
Hello Everyone .. I wanna work on it. Please guide me through.

[2021-08-18 08:17] vishaljha2121 commented on #20724
Hello @glemaitre, I am interested in contributing to this issue. Can you please assign it to me?

[2021-08-18 11:56] graham-pendragon commented on #5870
Agree with folks above, this is a critical feature!

[2021-08-18 13:26] thomasjpfan commented on #20724
Thank you everyone that is interested in the issue! Before we start working on other estimators, we should wait for #20723 to get merged. That PR makes adjustments to the error message and adds more API to `check_scalar`  which will be useful in estimators.

[2021-08-18 14:41] mishrajisubhankar opened #20769 "bug"
The "20 newsgroups text" dataset can be accessed within scikit-learn using defined functions. The dataset contains some text which is considered culturally insensitive.

Suggest a potential alternative/fix
Add a section in the dataset documentation, possibly above the "Recommendation" section called "Data Considerations".
https://scikit-learn.org/dev/datasets/real_world.html#newsgroups-dataset

As

[2021-08-18 17:08] Bhavay192 commented on #20666
hey @ogrisel @brianbien , could you please help me resolving this issue? I would like to contribute to it

[2021-08-18 17:12] Bhavay192 commented on #20118
hey @why-not could you please elaborate on what issue are you currently facing. Also please tell can I work on this issue??

[2021-08-18 18:32] nshah1503 commented on #20724
Hello @glemaitre, I would like to work on this issue, this will be my first contribution to open-source and It would be amazing if you suggest how to proceed.

[2021-08-18 18:43] RAVANv2 commented on #20754
Hi @zacps, I refactor the code but when I try to make a pull request. 2 checks are failing
(i) - scikit-learn.scikit-learn
(ii) - scikit-learn.scikit-learn (Linting)
Can you give me some more information regarding these checks I am not able to get it properly.

[2021-08-18 20:18] glemaitre commented on #20769
Please do not open copy-paste of previous issue: https://github.com/scikit-learn/scikit-learn/issues/20687

[2021-08-18 20:18] #20769 closed

[2021-08-18 20:21] thomasjpfan commented on #8642
To update, I commented in https://github.com/dask/dask/issues/7860#issuecomment-873289755 on how to move forward. TLDR: We only need to expose the size of our C/Cython objects and dask can use this to estimate the size of an estimator with recursive calls.

[2021-08-18 20:26] glemaitre commented on #20754
It seems that the documentation state that we don't check the kernel property. I don't exactly know why though.
Currently, I am not sure that we should do anything.

[2021-08-18 21:45] zacps commented on #20754
I think this is enough of a footgun that it makes sense to check it.

At the very least we could blacklist a few of the similarity metrics which may produce negative values (`linear`, `rbf`, possibly more).

Alternatively it may be possible to remove the restriction altogether; I'm not very familiar with the internals but would it be enough to add the magnitude of the smallest negative to all valu

[2021-08-19 01:22] bsun94 commented on #20111
Will get on it, thanks guys!

[2021-08-19 04:28] BharadwajEdera opened #20773 "unsupervised scoring methods should be a value addition in score.py"
#### Describe the bug
While using scoring parameters in GridSearchCV to find the best parameters for clustering algorithms with the unsupervised data(With NO Labels), already existing supervised clustering scores throws an error that the existing supervised scoring methods are not a valid scoring value.

I tried with various supervised scores that are available
https://scikit-learn.org/stable/modu

[2021-08-19 07:50] NaYrA-IaR commented on #20724
Hello, I am a beginner and I would like to contribute to this project. It will be my first contribution to open source. Can you help me with this @glemaitre ?

[2021-08-19 07:54] TerMinator-spec commented on #18837
Hi, Is the problem solved or there is anything remaining? I want to contribute.

[2021-08-19 08:02] glemaitre commented on #20773
`"rand_score"` should be supported since it is in the list of the scorer.

I don't think that our `GridSearchCV` will be compliant with unsupervised metrics.
The scoring is expected part of the grid-search is expecting to take the true and predicted labels.
Since the signature of these unsupervised metrics is different, then we will not be able to plug them there.

[2021-08-19 08:14] adrinjalali commented on #20724
@NaYrA-IaR @nshah1503 please read the discussion on issues before asking if you can work on it. As you see in the comment here: https://github.com/scikit-learn/scikit-learn/issues/20724#issuecomment-901114433 you need to wait for another PR (pull request) to finish, before anyone can continue working on this issue.

[2021-08-19 10:48] t-jakubek opened #20774 "Integer overflow in _approximate_mode()"
#### Describe the bug
For 32-bit platforms _approximate_mode() may return semi-random data even if fed with reasonable inputs.

#### Steps/Code to Reproduce
Example:
[code]
#### Expected Results
[24750   250]

#### Actual Results
[-18199    251]

#### Versions
scikit-learn==0.24.2

#### My understanding
The line responsible for the behavior is:
[code]
As the function already 'floors' the result:
[

[2021-08-19 12:36] parthduggal commented on #20687
Hello @reshamas ma'am, I would love to work on this issue. Could you please guide me as to where I can do this work. I am a new contributor at open source.

[2021-08-19 13:00] stratomaster31 commented on #4520
Just to add more info:

It is not a bug, just we need to understand what under the hood:

This works:
[code]

This does not works
[code]
Why: when algorithm is set to auto, DBSCAN chooses it accordingly to the data. For the no working snippet, DBSCAN has choosen **BallTree** and the __init__ of the  **BallTree** class needs the  `metric_params`, which for `seuclidean` is `V`. The following snippet

[2021-08-19 13:43] Joel-H-dot opened #20775 "HalvingGridSearchCV number of classes"
#### Describe the bug

Errors:
You may have to run the code several times to see these errors. I think most of them is to do with the way the initial number of samples is selected; If the initial number of samples contains the same target then the fit function fails. I also seem to be running into problems with no samples being passed?

ValueError: The number of classes has to be greater than one;

[2021-08-19 15:34] Joel-H-dot commented on #20775
sorry, your message is incomplete, is there any chance of...?

[2021-08-19 17:20] RAVANv2 commented on #20754
Good idea @zacps. I refactored the code according to your suggestion. Before making PR I am running this command in my terminal for code formating.
[code]
But still, my PR failing the black linting job. Can you tell me what I am doing wrong? :)

[2021-08-20 00:16] jmloyola commented on #20308
Working on `ExtraTreeRegressor`

[2021-08-20 00:57] jmloyola commented on #20308
Working on `DecisionTreeRegressor`

[2021-08-20 05:20] kurchi1205 commented on #18837
Hi , Is any module left to be updated ?
I would like to make my first contribution .

[2021-08-20 05:39] kurchi1205 commented on #14444
Hi ,Is the issue solved ?
 I want to make my first contribution .

[2021-08-20 05:52] kurchi1205 commented on #20758
Hi , I want to make my first contribution to this issue . Is the issue resolved ?

[2021-08-20 05:54] Simardeep27 opened #20781 "Adding Bandwidth Estimation Methods"
#### Describe the workflow you want to enable

The current KDE method supports only **manual** bandwidth estimation. As we know that using different bandwidths can lead to entirely different ideas of the underlying data. Some basic bandwidth estimation features such as **Scott** and **Silverman** bandwidth selection method would be a good addition to scikit-learn.

#### Describe your proposed solu

[2021-08-20 07:38] lorentzenchr commented on #20758
@kaushikroychowdhury was first and already opened a PR, so I assigned him. BTW, it is possible to just post "take" and github will assign you.

[2021-08-20 07:53] kurchi1205 commented on #20758
Can you be a bit more how to get assigned ?Because I have never worked on any Open Source .  @kaushikroychowdhury  has a PR opened on this issue , so I have to post "take" to work on it.

[2021-08-20 08:00] kurchi1205 commented on #20758
"take"

[2021-08-20 08:04] glemaitre commented on #20775
It seems strange that no samples are selected since `min_resources_` is set to 4.
We should have something wrong.

[2021-08-20 08:06] kaushikroychowdhury commented on #20758
Will anyone of you please review my work and please tell me why some of the checks are unsuccessful.

I am new to this.

[2021-08-20 08:07] glemaitre commented on #20774
@t-jakubek was a public estimator impacted by this issue as well?

[2021-08-20 08:08] kaushikroychowdhury commented on #20758
@kurchi1205 try to check what is wrong in my code. It will very helpful

Thank you

[2021-08-20 08:13] kaushikroychowdhury commented on #20758
May be you can fork my branch.
After working on it you can issue an PR too.

I am not sure, I am new to this too.😊

[2021-08-20 08:17] lorentzenchr commented on #20758
@kurchi1205 This issue is taken by @kaushikroychowdhury. Sorry for the confusion.
You can either search for another open issue or ask @kaushikroychowdhury if you can help him.

On an issue that is still unassigned (and marked "help wanted") you can type "take" without the quotation marks in order to be assigned automatically.

[2021-08-20 08:29] t-jakubek commented on #20774
I don't think it counts directly as an estimator, but for sure [sklearn.model_selection.train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html#sklearn-model-selection-train-test-split) is affected.

[2021-08-20 08:40] kurchi1205 commented on #7372
I want to make my first contribution . Can I work on this?

[2021-08-20 08:46] ogrisel commented on #20539
Reopening this because increasing `NUM_THREADS=128` is not necessarily the best solution either (see the discussion in MacPython/openblas-libs#64).

We could workaround this problem in scikit-learn by limiting the number of threads used in the problematic estimators by parsing the `MAX_THREADS` value in the openblas build config when openblas is used:

[code]

This is a bit hackish and will probab

[2021-08-20 08:57] JakobRiber opened #20783 "PLSRegression doesn't work with Pipeline Transformer"
#### Describe the bug
PLSRegression can't be used as a preprocessing step in the Sklearn Pipeline, even though it has a "transform" function.
This has been reported before: https://github.com/scikit-learn/scikit-learn/issues/4122
And was marked as solved in the big and valuable revamp: https://github.com/scikit-learn/scikit-learn/pull/17095
But for me it still persists.

**Sample code to reproduce

[2021-08-20 09:12] Joel-H-dot commented on #20775
OK, I think one of the errors is due to:
``
X_test, y_test = _safe_split(estimator, X, y, test, train)
``
in line 586 of _validation.py. The list containing the indices of the test data is empty.

[2021-08-20 09:18] Antonio-Leitao commented on #20781
Scipy already has these estimates implemented [here](https://github.com/statsmodels/statsmodels/blob/main/statsmodels/nonparametric/bandwidths.py). I'm guessing that implementing them in sklearn should be trivial.

[2021-08-20 09:52] kurchi1205 commented on #12167
Hi , I want to make my first contribution , Can I work on the slice issue in the lgtm.com

[2021-08-20 10:23] kurchi1205 commented on #20775
Hi , I want to make my first contribution . Can I work on this issue?

[2021-08-20 10:25] kurchi1205 commented on #20733
I want to make my first contribution . Can I work on this issue ?

[2021-08-20 10:33] kurchi1205 commented on #11435
I want to make my first contribution , Is there any other metric which needs to be fixed ?

[2021-08-20 11:08] Simardeep27 commented on #20781
I think you might be correct regarding implementations present for estimation bandwidth but considering that scikit-learn has a tree-based method of density estimation instead of a FFT-based approach used in statsmodel KDE and having a better complexity than a naive approach, bandwidth estimation methods specific to scikit-learn might be a good addition.

[2021-08-20 11:30] glemaitre commented on #20783
Since `y` is passed to `PLSRegressor` then `y_score` is returned as well. I assume that the desired behaviour here is to only use `x_scores` and thus not pass `y` to the `PLSRegressor`. I don't see an easy way to solve this currently.

[2021-08-20 11:32] glemaitre commented on #20775
I assume that we should make `max(1, int(self.fraction * test_idx.shape[0]))`

[2021-08-20 11:34] glemaitre commented on #20775
Thanks @Joel-H-dot to debug this one. Feel free to open a PR with an associated non-regression test.

[2021-08-20 11:51] Joel-H-dot commented on #20775
OK, the above solves the problem of the number of samples being passed being zero. However, the original issue is still present:

ValueError: The number of classes has to be greater than one; got 1 class

[2021-08-20 12:01] jliebers commented on #16048
Please find a **workaround** until this is released here:

[code]

This will produce the following example results:

![grafik](https://user-images.githubusercontent.com/24356915/130230093-5a4325a3-c662-4dc5-a485-e4945ca9396e.png)

[2021-08-20 12:21] Joel-H-dot commented on #20775
This is a probably bit hacky, but the following is a quick fix for making sure that the number of classes is greater than 1:
[code]

[2021-08-20 12:28] BinchaoPeng opened #20785 "`scoring` in `cross_val_score`"
### Describe the workflow you want to enable

`scoring` in `cross_val_score`
In my view,when I use k-flod CV, usually I need to get mutil_mertric results, but the funtion`cross_val_score` just supports single  #mertric. it is absoultly unconvinient.

### Describe your proposed solution

changing `scoring` to support multi_mertric

### Describe alternatives you've considered, if relevant

_No respo

[2021-08-20 13:08] glemaitre commented on #20785
I assume that it was a historical choice to let `cross_val_score` output be as simple as possible and thus limit to a single score. One should use `cross_validate` for more complex usage.

I am -1 to complexity `cross_val_score` thus.

[2021-08-20 14:17] #20565 closed

[2021-08-20 17:24] kurchi1205 commented on #20785
I am new to OpenSource Contributions . I want to work on this feature .
Can I contribute to this issue ?

[2021-08-20 19:24] NeilGirdhar opened #20790 "Please consider using appdirs"
### Describe the workflow you want to enable

I would like to move the `scikit_learn_data` folder out of my home folder.

### Describe your proposed solution

[appdirs](https://pypi.org/project/appdirs/) takes care of OS dependent directories.

### Describe alternatives you've considered, if relevant

_No response_

### Additional context

_No response_

[2021-08-21 01:35] jmloyola commented on #20308
Working on `RidgeClassifier`

[2021-08-21 04:39] kurchi1205 commented on #20733
@milana2  Will you be opening a PR else I will work on it?

[2021-08-21 04:52] kurchi1205 commented on #20733
@milana2  Is this only for the predict function of MeanShift?

[2021-08-21 05:00] shuq007 commented on #14338
I use the following lines to ignore warnings that suppresses all the warnings:

[code]

[2021-08-21 07:58] nthomsencph commented on #11799
As far as I can tell, GridSearchCV and sklearn's LDA works well together?

            gs_ = GridSearchCV(
                                LatentDirichletAllocation(),
                                param_grid    = self.srch_params,
                                cv            = cv,
                                verbose       = verb,
                                #random_state = 42069,

[2021-08-21 08:16] Antonio-Leitao commented on #20781
I agree that the bandwidth estimation methods would be a good addition. However I fail to see how Scott and Silverman's heuristics depend on the KDE estimation method.

[2021-08-21 08:18] Abhishek-TyRnT commented on #20783
Is it required that the transformed y_scores serve as an target vector for linear regression?

[2021-08-21 08:37] Simardeep27 commented on #20781
I think Scott and Silverman rule of thumb helps in bandwidth estimation (which is important for KDE), if we consider scott's rule of thumb, the bandwidth is proportional to n**(-1/(d+4)), where n is the number of points and d is the number of spatial dimensions.

Context:
https://aakinshin.net/posts/kde-bw/

[2021-08-21 10:15] glemaitre commented on #20790
`scikit_learn_data` can be set in all fetchers to the desired location already

[2021-08-21 10:15] #20790 closed

[2021-08-21 10:25] glemaitre commented on #20790
Alternatively, you can as well set the `SCIKIT_LEARN_DATA`

[2021-08-21 12:29] jmloyola commented on #20308
Working on `RidgeClassifierCV`

[2021-08-21 14:03] krey opened #20801 "Support for 2d sample weights for MultiOutputEstimators"
### Describe the workflow you want to enable

I am looking at a multioutput estimation problem where there are missing values in the outputs.

Imagine that `y` is
[code]
Then the sample weights would be
[code]

### Describe your proposed solution

Change the end of `sklearn.multioutput._MultiOutputEstimator.fit` from
[code]
to something like
[code]

### Describe alternatives you've considered, if

[2021-08-21 14:13] NeilGirdhar commented on #20790
I'd rather not have to configure all of my Python libraries. I'd rather they just store their data in the right place.

[2021-08-21 18:00] JacekNiedzielski commented on #10503
Same problem here. Despite the multioutput characteristics... Does sb has any suggestions?

[2021-08-21 21:12] thomasjpfan opened #20804 "Revisting the tags interface"
With https://github.com/scikit-learn/scikit-learn/pull/20657 (`__sklearn_is_fitted__`) merged I am starting to rethink the tags implementation how we walk the MRO. I think tags would be much easier to use if it was a protocol like `__sklearn_tags__`. This way all mixins and subclasses must call `super().__sklearn_tags__()` and update it themselves. This makes it so that third party developers do n

[2021-08-22 02:07] jmloyola commented on #20308
Working on `KNeighborsTransformer`

[2021-08-22 04:18] genvalen commented on #20308
Working on `KernelDensity`

[2021-08-22 08:40] adrinjalali commented on #20804
I think estimator tags are different than estimator states, and `is_fitted` is more of a state than a tag to me.

I'm not sure if third party estimators need to use `BaseEstimator` to handle inheritance issue raised in #20681, i.e. extending an estimator tag which is a list. They could simply do

[code]

cc'ing @scikit-learn/core-devs

[2021-08-22 09:01] adrinjalali commented on #4391
This was added to 1.0 a long time ago. Removing the milestone tag. I'd be personally happy if we get both #17933 and #14748 in though.

[2021-08-22 09:06] adrinjalali commented on #10010
Moving to the 2.0 milestone. Pinging in case you want to get this in faster.

[2021-08-22 09:07] adrinjalali commented on #10603
Moving to 2.0

[2021-08-22 09:08] adrinjalali commented on #7973
@amueller do you still think we're gonna fix this? :D Removing from the milestone, please add to 2.0 if you think this should be prioritized.

[2021-08-22 09:12] adrinjalali commented on #7242
Now that we validate column names, this is partially fixed if the user uses a `ColumnTransformer`, right?

Removing the milestone.

[2021-08-22 09:14] adrinjalali commented on #5318
We're doing version 1.0 very soon, I'd be happy to have the breaking change here. But moving to 2.0 since we still don't have a decision here.

[2021-08-22 09:18] adrinjalali commented on #4143
Moving the milestone to 2.0

[2021-08-22 09:18] MrCull opened #20809 "Bad link (404) in readme.md https://travis-ci.com/scikit-learn/scikit-learn"
### Describe the issue linked to the documentation

Bad link (404) in readme.md https://travis-ci.com/scikit-learn/scikit-learn

Issue found using tool: https://github.com/MrCull/GitHub-Repo-ReadMe-Dead-Link-Finder

### Suggest a potential alternative/fix

not sure what the correct link should be

[2021-08-22 09:25] adrinjalali commented on #6231
Moving this to 2.0, this needs somebody to pay attention to it though.

[2021-08-22 09:26] adrinjalali commented on #15553
Moving to 2.0.

[2021-08-22 09:29] adrinjalali commented on #14042
We seem kind of stuck on this one. I'd be happy to see support for the new numpy generators, but removing the milestone for now.

[2021-08-22 09:31] adrinjalali commented on #15880
Seems like there's been good progress here. Removing the milestone, but pinging y'all in case you think something needs to get in before the release.

[2021-08-22 09:31] adrinjalali commented on #18248
Moving this to 2.0

[2021-08-22 09:33] adrinjalali commented on #9650
There hasn't been any activity here other than moving from one milestone to the next. But I think @glemaitre was working on some related issues if I'm not mistaken. Removing the milestone.

[2021-08-22 09:33] adrinjalali commented on #18101
Removing the milestone.

[2021-08-22 09:38] adrinjalali commented on #14953
Doesn't seem like we'd get this in time. Moving to 2.0

[2021-08-22 09:50] adrinjalali commented on #15244
Removing the milestone, #17036 will resolve this, in this release or a next one ;)

[2021-08-22 09:53] adrinjalali commented on #16988
Doesn't seem like this is gonna be resolved before the release. Removing the milestone. Please re-tag if necessary, for an appropriate next release since I think you're more aware of the progress on this topic than I am.

[2021-08-22 09:57] adrinjalali commented on #16241
Moving to 1.1, but happy to have this in if @glemaitre 's PR gets in fast.

[2021-08-22 10:01] adrinjalali commented on #13969
Similar to #16241, moving to 1.1

[2021-08-22 10:05] adrinjalali commented on #15992
Seems like we did forget about it @ogrisel :grin: . With some of the changes coming in the next release, and the one after, this would be really nice to have though.

Moving to 1.1 for now.

[2021-08-22 10:11] adrinjalali commented on #4769
Removing the milestone. Maybe @jeremiedbb would like to have a look?

[2021-08-22 10:33] adrinjalali commented on #18316
@glemaitre @alfaro96 what's the status on this? Will be releasing soon, and I'm not sure if this is really a blocker.

[2021-08-22 10:39] adrinjalali commented on #18187
Removing the milestone since it doesn't seem to be a blocker.

[2021-08-22 10:43] adrinjalali commented on #13056
Removing the milestone. Please re-tag if this needs to be reprioritized.

[2021-08-22 10:45] alfaro96 commented on #18316
Let me check if the `Linux pylatest_pip_openblas_pandas` job passes using the newest version of `lightgbm` (`3.2.1`).

[2021-08-22 10:45] adrinjalali commented on #19632
Removing the milestone, pinging @NicolasHug since you tagged this for 1.0

[2021-08-22 10:47] adrinjalali commented on #19877
Removing the milestone, related to your work on tests @glemaitre :grin:

[2021-08-22 10:48] JakobRiber commented on #20783
@glemaitre Thank you for chipping in and formatting, I will use that from now on.
You are right the desired behavior is to have the `PLSRegressor` return the `x-scores`, similar to what the `PCA` function would do. So kind of a supervised dimensionality reduction. Too bad it isn't easily solved, but I recon not many people use the `PLSRegressor` in this way.

 A wrapper solved it for me:
[code]

@

[2021-08-22 10:49] glemaitre commented on #15880
All the PRs regarding the plotting are either reviewed or written on my side (you can have a look at this column of my board https://github.com/scikit-learn/scikit-learn/projects/17#column-6455639)

Sent from my phone - sorry to be brief and potential misspell.

[2021-08-22 11:17] adrinjalali commented on #19357
Moving to 1.1, seems like we can fix this soon.

[2021-08-22 15:38] kurchi1205 commented on #18837
Will it be applicable for _ridge.py  and plot_lasso_dense_vs_sparse_data.py in sklearn.linear_model

[2021-08-22 17:57] SanjayMarreddi commented on #20724
@glemaitre
  **I am ( In fact many people )  are eagerly waiting for your PR ( #20723 ) to be merged!**
The reason being I also tried using `check_scalar`  for parameters validation for a different estimator, but to make my draft PR, I need to wait since your PR makes adjustments to the error message and adds more API to `check_scalar`.

I am sorry if my mentioning of you here caused some inconven

[2021-08-23 04:42] BhavikBolya commented on #20781
Hello,  I would like to help in this issue , can you explain what should be the difference between Scott, Silverman and the function you want.

[2021-08-23 06:51] lorentzenchr opened #20813 "RFC Consistency for meta infos in files (license, encoding, authors, ..)"
There are several pieces of information that some files contain, others do not, examples are:

- `# -*- coding: utf-8 -*-` at the beginning of a file
- License information, eg `# License: BSD 3 clause`
- List of (some main) authors for that file, `# Authors:`

For the following reasons, I'd like to remove the encoding info, and have a consistent policy for the other 2 points:
- As a (newish) contr

[2021-08-23 07:22] Antonio-Leitao commented on #20781
KDE estimation is the process of finding a function:
<img src="https://render.githubusercontent.com/render/math?math=\LARGE f_h(x)=\frac{1}{nh}\sum_i{K(\frac{x-x_i}{h})}">

Where:
- **x_i** is the data
- **n** is the number of samples
- **K** is a kernel function
- **h** is the bandwidth

Naturally you'd get different results for different bandwidth values, as such there are method for estimating

[2021-08-23 07:32] Simardeep27 commented on #20781
Hi @BhavikBolya, I think @Antonio-Leitao explained the "issue" in great detail.

I'll make a PR, for adding Scott and Silverman rule of thumb asap.

[2021-08-23 08:57] rth commented on #20813
I was also somewhat skeptical about the need for `# -*- coding: utf-8 -*-` until I learned that some editors rely on it to determine encoding (https://stackoverflow.com/a/14083123/1791279). I imagine because most of the text files are ascii only, it could very well happen that some editors would open it as latin1 or something else, particularly on Windows.

As to the license header, it looks like

[2021-08-23 09:24] ArulananthamAnujan commented on #20724
I'm interested in working on this issue, it would be my very first contribution.

[2021-08-23 09:32] agramfort commented on #14566
@scikit-learn/core-devs as nobody has the time to fix this I suggest to deprecate LassoLarsIC

any objection?

[2021-08-23 10:08] JARACH-209 opened #20815 "Can't use unsupervised UMAP in a Pipeline"
### Describe the workflow you want to enable

When using the pipeline, the fit_tranforms only seems to accommodate supervised techniques. But, certain readily used transformations such as UMAP can work in a supervised or unsupervised manner depending upon the fact whether the class labels (y) are passed in the fit function or not.
It would be really helpful if this can be accommodated in the pipel

[2021-08-23 10:09] JARACH-209 commented on #20815
Also, I would like to be assigned for this !

[2021-08-23 12:18] Antonio-Leitao commented on #20815
Could you provide a code example of your issue for clarification?
The [Pipeline](https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html) object allows both supervised and unsupervised techniques, below is a working code:
[code]

[2021-08-23 13:35] thomasjpfan commented on #20813
I like having a license header everywhere to be consistent. Since everything is licensed under https://github.com/scikit-learn/scikit-learn/blob/main/COPYING do we add the following everywhere?

[code]

[2021-08-23 16:13] JARACH-209 commented on #20815
@Antonio-Leitao well if you consider a pipeline like :
[code]
Now, in this case, the pipeline passes labels in UMAP making it supervised.

[2021-08-23 16:38] ayushi2019031 commented on #20537
Hi I want to work on this.

[2021-08-23 17:33] lorentzenchr commented on #14566
I'm not sure if it is all that bad, but I also don't know if `LassoLarsIC` is used often (or at all?) in practice.
sigma^2 might be the variance conditional on X, but as long as we assume y ~ N(.., sigma^2 identity), which seems natural when working with squared error based model estimation, we are fine. For a likelihood, we need to assume a distribution anyway.
So, maybe it is enough to be more p

[2021-08-23 18:47] adam2392 opened #20819 "Adding Oblique Trees to the Cythonized Tree Module"
### Describe the workflow you want to enable

We are proposing to add a cythonized module that allows for building oblique trees.

Oblique trees originally proposed by, Breiman 2001 [1], would enable a more flexible class of decision trees. Breiman called a version of these Forest-RC, as compared to what most people call random forest, which he called Forest-RI. He noted:

"Forest-RC does exceptio

[2021-08-23 19:09] genvalen commented on #20308
Working on `KernelPCA`

[2021-08-23 22:42] irogi commented on #20308
Working on `ColumnTransformer`

[2021-08-23 23:34] genvalen commented on #20308
Working on sklearn/decomposition/_dict_learning.py. This includes:
`SparceCoder`,
`DictionaryLearning`,
and ``MiniBatchDictionaryLearning`.

[2021-08-23 23:39] jmloyola commented on #20308
Working on `SelectPercentile`

[2021-08-24 01:57] thomasjpfan commented on #20809
Thank you for opening the issue! The broken link should be: https://app.travis-ci.com/scikit-learn/scikit-learn .

Although we are getting close to removing the link all together: https://github.com/scikit-learn/scikit-learn/pull/20711

[2021-08-24 06:17] lorentzenchr commented on #20813
+1 for placing the license everywhere.

A little argument in favor of `# Authors: The scikit-learn developers` would help my indecisiveness. Would we then remove all the other authors?

[2021-08-24 13:33] thomasjpfan commented on #20813
I was thinking to leave the current authors in place and add this new `# Authors: The scikit-learn developers` for files do not have a license.

Now that I am looking at other python code bases: CPython, numpy, scipy, etc, they do not have a license everywhere. I think I can go either way with this as long as we are consistent. Would it be okay to remove the license on top of files and have it all

[2021-08-24 14:00] mfeurer commented on #18289
Hi together, I briefly wanted to check on the status of this issue and the accompanying PR? We had to [fix this ourselves in Auto-sklearn](https://github.com/automl/auto-sklearn/pull/1217), but it would be great to instead have this feature in scikit-learn itself.

CC @eddiebergman

[2021-08-24 14:21] adam2392 commented on #20819
To clarify, we have a cythonized codebase that generated the said results. It is roughly factored into the scikit-learn fork right now, but **once the devs discuss and give me the green light, I can open a PR, where the diff will be more obvious.**

- that doesn't affect non-oblique RF in any way
- it builds cleanly upon the existing tree functions when possible

[2021-08-24 14:43] Prashant723 commented on #18837
is there anything left to do? I would like to contribute

[2021-08-24 14:44] Prashant723 commented on #14444
hi, I would like to contribute . is there something left?

[2021-08-24 16:48] tusharmishra288 commented on #20329
It is working in linux through WSL with same sklearn version

[2021-08-24 16:52] S-T-A-R-L-O-R-D commented on #20724
is this issue still open, if yes can I start working on it?

[2021-08-24 17:37] rmurphy2718 opened #20827 "Bug in NearestNeighbors with Mahalanobis"
### Describe the bug

The `NearestNeighbors` class from `sklearn.neighbors` does not handle the `V` matrix correctly when `algorithm=brute`.  The `V` matrix seems to be ignored.

### Steps/Code to Reproduce

[code]

Now we create some fake data and illustrate the issues.

[code]

### Expected Results

The results should change if `V` differs.  It does with `algorithm=auto` but not with `brute`

##

[2021-08-24 20:03] JesperDramsch commented on #7686
Hey folks, I started reworking the map to include some things and made it in Draw.io so it'd a bit easier to follow. I understand if you would like to keep the whimsical nature of the original map. Otherwise, do you think this is going in an acceptable direction?

Since @lucyleeow was last active on this, a friendly ping?

![Scikit-learn](https://user-images.githubusercontent.com/2620316/130682026

[2021-08-24 20:19] agramfort commented on #14566
I doubt it's very much used... if not used at all...

I trust your judgement.

I think it's worth considering....

[2021-08-24 22:22] rmurphy2718 commented on #20827
As would be expected, this also causes problems in `KNeighborsRegressor`:

[code]

An error should be raised when `algo==brute` and `rowvar=True`, but it doesn't.  Also, the predictions are the same for the two different covariance matrices

[code]

[2021-08-24 23:28] jmloyola commented on #20308
Working on `IncrementalPCA`

[2021-08-25 10:06] baam25simo commented on #20308
Working on `CalibratedClassifierCV`

[2021-08-25 10:56] eeghor opened #20833 "LocalOutlierFactor Doesn't Flag Obvious Outliers"
### Describe the bug

`LocalOutlierFactor` fails to flag outliers in an array filled with 1 and -1 where -1s are clearly outliers.

What happens is
- It gives every sample a 1 label (inlier)
- The corresponding LOF scores are as expected, i.e. 1s for the inliers and some very large values for the outliers

Note that everything works fine for many other sample sizes and contaminations.

### Steps/C

[2021-08-25 12:07] baam25simo commented on #20308
Working on `ClassifierChain`

[2021-08-25 14:27] baam25simo commented on #20308
Working on `ColumnTransformer`

[2021-08-27 09:57] cwfoo opened #20859 "Add PDF download of documentation"
### Describe the issue linked to the documentation

In the list of documentation downloads (https://scikit-learn.org/dev/versions.html), the documentation for the latest scikit-learn version (0.24.2) is not available as a PDF download. The documentation for prior versions of scikit-learn are available in PDF format. See #17051, #17564 and #19208.

![2021-08-27_17-57](https://user-images.githubuser

[2021-08-27 17:51] AnotherSamWilson opened #20867 "Random Forest won't use all cores after deserialization"
### Describe the bug

When a dict of random forests (or one sufficiently large random forest) is saved as a pickle, and then re-loaded, predictions from the resulting models will not use all cores. It appears to be related to memory. I can only replicate when the entire dict (or single model) of random forests takes up ~25% of my memory. If the object is smaller than that, it works fine.

OS: Wind

[2021-08-28 05:55] shivangij19 commented on #20308
Hi @genvalen u seem working on effective issues, I am new to this would u be able to work together and help me be familiar with it.

[2021-08-28 06:06] vhomello opened #20871 "Duplicate word in Log Loss function"
### Describe the issue linked to the documentation

There are two `and` in the description of `sklearn.metrics.log_loss` function, [lines](https://github.com/scikit-learn/scikit-learn/blob/2beed55847ee70d363bdbfe14ee4401438fba057/sklearn/metrics/_classification.py#L2169-L2170)
[code]

### Suggest a potential alternative/fix

[code]

[2021-08-28 06:30] genvalen commented on #20308
Hi @shivangij19, sure! I can help to the best of my abilities. Let me know what you would like help with.
As a guideline, I suggest opening PRs that have been merged and reading through the comments and the "files changed" sections to get an idea of how to fix the failing tests.

This is a helpful section of the official sklearn contributing guide for writing documentation:
https://scikit-learn.or

[2021-08-28 09:31] Shubhamhrx commented on #18852
how can i install in pycharm not using anaconda

[2021-08-28 11:37] Laveen-exe commented on #20871
I am working on this issue.

[2021-08-28 14:27] #20871 closed

[2021-08-28 14:31] thomasjpfan commented on #20859
Thank you for opening the issue @cwfoo !

That is correct, we no longer generate the PDF.

[2021-08-28 14:33] shivangij19 commented on #20308
That was very helpful!! I attempted  making a few pull request but a no. of failed checks followed

[2021-08-28 15:13] thomasjpfan commented on #20537
@ayushi2019031 To start we would need references to these alternative pruning strategies and see if it meets our [inclusion criteria](https://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms).

[2021-08-28 15:31] thomasjpfan opened #20874 "Do we want n_feature_in_ = None?"
I propose we make a minor adjustment to [SLEP010](https://scikit-learn-enhancement-proposals.readthedocs.io/en/latest/slep010/proposal.html#considerations) and have only two states:

1. `n_feature_in_` is an int.
2. `n_feature_in_` is not set.

`Dummy*` is the only estimator that sets `n_features_in_`  to `None`. I propose we not set the attribute or set it and not use it for validation.

For refe

[2021-08-28 16:54] cwfoo commented on #20859
@thomasjpfan Why was this issue closed? Does the closing of this issue indicate that the request to reinstate PDF documentation downloads would not be considered?

[2021-08-28 18:50] DAKSHA2001 commented on #20867
Give this issue to me. I will solve it

[2021-08-28 19:10] genvalen commented on #20308
@shivangij19 the maintainers can help you best when it comes to failing checks. When they get a chance to review your PR, they will leave comments letting you know what to do. Sometimes it is something they can fix for you. When you start working on a new estimator, I can offer suggestions for passing the numpydoc validation tests if you still need help/tag me in the WIP.

BTW, make sure you choos

[2021-08-28 19:12] thomasjpfan commented on #20859
Yes, we do not plan to generate PDFs at this time. The reasons why we made the decision is in https://github.com/scikit-learn/scikit-learn/issues/17051

[2021-08-28 20:01] Stark-developer01 commented on #20687
I am taking up the issue and would like to work on it, I read through the comment thread carefully and things got pretty much clear to me. However if I face any problem I would email at winwin.endeavour@gmail.com.

[2021-08-28 20:07] Bhavya1705 commented on #5516
I am working on this.

[2021-08-28 22:13] thomasjpfan commented on #20859
Thinking about it again, I'll reopen this issue for discussion. The main concern with generating PDFs was that it was a big maintenance burden.

@cwfoo What is your use case for the PDF version of the documentation?

[2021-08-29 06:06] ranit-chatterjee commented on #20687
Hello @reshamas ma'am, I'd also like to contribute to this issue with some guidance.
Thank you!

[2021-08-29 07:18] TerMinator-spec commented on #20746
I think the use of int should be fine. It should throw a warning or error when we use float outside of the range [0,1].

[2021-08-29 10:38] TerMinator-spec commented on #20211
I am working on this issue.

[2021-08-29 11:56] tvchamundeswaridevi commented on #20687
Data considerations

When evaluating text classifiers on the 20 Newsgroups data, you should strip newsgroup-related metadata. In scikit-learn, you can do this by setting remove=('headers', 'footers', 'quotes'). The F-score will be lower because it is more realistic.

[2021-08-29 13:45] ankitasankars commented on #13339
Hello, Can I use this issue as my first contribution? I'm new so please can someone guide me?

[2021-08-29 15:36] DAKSHA2001 commented on #14444
take

[2021-08-29 15:59] DAKSHA2001 commented on #20443
take

[2021-08-29 19:14] thomasjpfan commented on #19357
I think this issue is fixed because the original code snippet no longer errors on `main`.

[2021-08-29 19:24] snaraya7 commented on #19357
'final_estimator_' occurs when StackingClassifier.fit( ) method is not called.

[2021-08-29 19:35] thomasjpfan commented on #19357
@snaraya7 In this issue, the `StackingClassifier` is placed in a `ClassifierChain`, which does not require `StackingClassifier.fit` to be called. The internals of `ClassifierChain.fit` will [clone](https://scikit-learn.org/dev/glossary.html#term-cloned) `StackingClassifier` removing the fitted attributes anyways:

https://github.com/scikit-learn/scikit-learn/blob/986d8f2524ad06b87c73e0e1f80dd49a4c

[2021-08-30 06:11] datascientist-nishant commented on #8480
Hi @amueller  I want to work on this feature.

[2021-08-30 06:12] datascientist-nishant commented on #8480
Hi @amueller  I want to work on this feature request.

[2021-08-30 07:19] jjerphan commented on #20672
Hi @priamai,

Thanks for your inspection! Can you provide a benchmark to show how does it compares to scikit-learn's implementation?

[2021-08-30 07:36] robomotic commented on #20672
Sure when I come from holiday. The algorithm is basically identical except for not keeping all the ids, I can show how the memory consumption for increasing dataset size.

[2021-08-30 07:38] glemaitre commented on #20774
Thanks. So we should solve the issue and check that the 32 bits CIs picked up the issue.

[2021-08-30 07:38] glemaitre commented on #20774
@t-jakubek do you wish to make a PR?

[2021-08-30 08:00] glemaitre commented on #9650
Yes I worked on it. We have tests now. Before making a choice, we decided to make an audit of our metric functions first.
So this is a duplicate of https://github.com/scikit-learn/scikit-learn/issues/19880

[2021-08-30 08:04] #18963 closed

[2021-08-30 08:28] ogrisel commented on #20874
+1.

When we use a property, we should be able to`raise AttributeError` instead of returning `None`.

[2021-08-30 08:30] shadiakiki1986 opened #20888 "New preprocessor: image centering + flattening"
### Describe the workflow you want to enable

images that are not necessarily centered -> preprocessing that centers to the centroid -> flatten image to array -> classifier

For example, adding 3-pixel translation jitter to the digits dataset and running the classification from the [sklearn example](https://scikit-learn.org/stable/auto_examples/classification/plot_digits_classification.html#sphx-g

[2021-08-30 08:43] NicolasHug commented on #20874
Could you detail this a bit more: what is the current issue with having `n_features_in_` being None?

[2021-08-30 10:46] alfaro96 commented on #18316
Still failing. Let me investigate the issue.

[2021-08-30 10:55] alfaro96 commented on #18316
The involved test is `test_same_predictions_multiclass_classification` and, in particular, the following line is failing:

https://github.com/scikit-learn/scikit-learn/blob/61ad2657a86dba20e15e4d76f58322d9c36ecc9e/sklearn/ensemble/_hist_gradient_boosting/tests/test_compare_lightgbm.py#L239

So, it seems that the predicted probabilities are not close enough.

I will check the release notes of `ligh

[2021-08-30 11:26] glemaitre commented on #20329
I cannot reproduce with the exact same environment.

[2021-08-30 11:26] #20329 closed

[2021-08-30 11:41] #20709 closed

[2021-08-30 11:48] glemaitre commented on #20132
yes you can create a PR. The implementation for sparse input as I shown in the "details" section here: https://github.com/scikit-learn/scikit-learn/issues/20132#issuecomment-848633466

One would need to use this patch and implement additional tests to check the behaviour is the right one.

[2021-08-30 12:29] ogrisel commented on #20874
It's confusing because unexpected, no?

[2021-08-30 12:59] jnothman commented on #20874
I agree that I find `n_features_in_=None` confusing wrt interpretation, as well as being hard to justify.

[2021-08-30 13:08] NicolasHug commented on #20874
The distinction was made because for some estimators, `n_features_in_` makes no sense / doesn't exist (the vectorizers), while for others (DummyXYZ) it exists and makes sense but it isn't relevant, as we don't need any validation.

If we don't need this distinction then yeah, I agree we could simplify with Thomas' proposal

[2021-08-30 13:21] adrinjalali commented on #19357
Closing then :)

[2021-08-30 13:21] #19357 closed

[2021-08-30 17:22] pragyasrivastava0805 commented on #20888
@shadiakiki1986  i am very new to open source.Could you please tell me what exactly needs to be done and walk me through this

[2021-08-30 17:25] shadiakiki1986 commented on #20888
Unfortunately not. This is more of a decision from the sklearn team

[2021-08-30 18:42] cwfoo commented on #20859
@thomasjpfan

* For printing.
* For reading on an e-book reader.

When printed or when displayed on e-book readers, the issue is that HTML documents could have strange formatting (if the printing/reading program attempts to remove sidebars/headers) or the sidebars/headers waste lots of space (if the printing/reading program does not remove sidebars/headers). In any case, HTML files are generally n

[2021-08-30 22:15] freddyaboulton opened #20890 "Allow users to pass their own grid to partial dependence"
### Describe the workflow you want to enable

The partial dependence function does it's own grid calculation that assumes all the data is numeric via the `np.unique` method call. This is problematic for pipelines where the input data is transformed into numeric values along the way.

For example, this is an example trying to compute partial dependence on a categorical column with missing values. I

[2021-08-31 06:14] vikramkanishka opened #20892 "bug issue"
### Describe the bug

When evaluating text classifiers on the 20 Newsgroups data, you should strip newsgroup-related metadata. In scikit-learn, you can do this by setting remove=('headers', 'footers', 'quotes'). The F-score will be lower because it is more realistic.

### Steps/Code to Reproduce

from sklear.feature-extraction.text import CountVector

### Expected Results

When evaluating text cla

[2021-08-31 06:14] #20892 closed

[2021-08-31 06:19] vikramkanishka opened #20893 "bug issue"
### Describe the bug

When evaluating text classifiers on the 20 Newsgroups data, you should strip newsgroup-related metadata. In scikit-learn, you can do this by setting remove=('headers', 'footers', 'quotes'). The F-score will be lower because it is more realistic.

### Steps/Code to Reproduce

from sklearn.feature-import CountVectorizer

### Expected Results

simple output

### Actual Results

[2021-08-31 06:21] Bhavya1705 commented on #5516
Please see the above pull request is satisfactory to your needs - I have added separate functions for Miss rate, fall out, Specificity and sensitivity.

[2021-08-31 07:05] Vedika1106 commented on #20801
Can I work on this issue?

[2021-08-31 07:43] #8425 closed

[2021-08-31 07:51] adrinjalali commented on #9650
Closing as it's a duplicate. Fixing #19880 fixes this.

[2021-08-31 07:51] #9650 closed

[2021-08-31 07:53] glemaitre commented on #20893
Please reopen a proper bug fix report.

[2021-08-31 07:53] #20893 closed

[2021-08-31 08:06] glemaitre commented on #20888
IMO, it seems out-of-scope of scikit-learn. The `FunctionTransformer` is indeed available for such use-cases to give the possibility to make an arbitrary transform part of a `Pipeline`. The risk to integrate such a tool is that it will never be generic enough and a user will end up reimplementing it.

[2021-08-31 08:27] glemaitre commented on #20867
I cannot reproduce with the `main` branch. I will try to reproduce with the given version.

NB: @AnotherSamWilson I think that we recommend using `joblib` to dump and load pickles: https://scikit-learn.org/stable/modules/model_persistence.html#python-specific-serialization

[2021-08-31 08:32] glemaitre commented on #20867
I still cannot reproduce with exact same libraries version. However, I am running all these benchmarks on Linux.
@jeremiedbb Could you give a try on a Windows machine?

[2021-08-31 08:44] glemaitre commented on #20674
The nighlty build is working. closing.

[2021-08-31 08:44] #20674 closed

[2021-08-31 09:39] ogrisel commented on #20874
I would be in favor of the simplification.

[2021-08-31 10:14] shivangij19 commented on #20758
take

[2021-08-31 10:45] vedranf commented on #15808
Unfortunately this prevents using SpectralEmbedding within pipelines:

`TypeError: All intermediate steps should be transformers and implement fit and transform or be the string 'passthrough'  (type <class 'sklearn.manifold._spectral_embedding.SpectralEmbedding'>) doesn't`

which is sad because it supports fit_transform. Any workarounds (except for wrapping it in a custom transformer)?

[2021-08-31 10:59] szymonkucharczyk commented on #20721
@ogrisel Hi, as its closer to September now, I would like to ask if you have more specific date of the release with this fix ?
It causes some issues in our product and we would like to now know if we need to deliver a workaround before releasing or we can wait for the fix.

[2021-08-31 13:22] glemaitre commented on #20724
#20723 has been merged and can serve as an example to see which modifications are expected. This PR was modifying in the `AffinityPropagation` estimator.

[2021-08-31 15:59] glemaitre commented on #20721
We are going to release the RC this week or next week.

[2021-08-31 16:24] glemaitre opened #20897 "FeatureAgglomeration should accept a **kwargs in `fit` signature"
### Describe the bug

`FeatureAgglomeration.fit` accepts a `**params` keyword argument. It is delegated to the `AgglomerativeClustering.fit` that does not accept any other parameter than `X` and `y`.

While it would already not work because an error would be raised by the `AgglomerativeClustering` estimator, it would be best to remove this `**params` from the documentation and the code such that w

[2021-08-31 16:44] glemaitre opened #20898 "Allow `Pipeline` to whether pass or not `y` to some transformer"
### Describe the workflow you want to enable

Some transformers could be used in both a supervised and unsupervised setting. Currently, `y` is always passed at `fit` and it imposes that such transformers can only be used in a supervised way.

Such transformers could be:

- `PLSRegression`: https://github.com/scikit-learn/scikit-learn/issues/20783
- `UMAP`: https://github.com/scikit-learn/scikit-le

[2021-08-31 16:44] glemaitre commented on #20783
I am closing this issue after opening a meta-issue

[2021-08-31 16:44] #20783 closed

[2021-08-31 16:45] glemaitre commented on #20815
I am closing this issue after opening a meta-issue to discuss about the such enhancement implementation.

[2021-08-31 16:45] #20815 closed

[2021-08-31 16:46] adam2392 commented on #20897
I can take this!

[2021-08-31 17:56] adam2392 opened #20902 "Allowing train/test indices to persist in "cross_validate" function - allows computation of ROC curves"
### Describe the workflow you want to enable

I would like to cross validate a suite of estimators based on a bunch of metrics. Normally I would use the `cross_validate` function:

[code]

However, say I also want the ROC curve after this. I have access to the fitted estimators via `scores['estimator']`, but I can't actually compute the corresponding ROC curves from each fold because the train/tes

[2021-08-31 18:42] glemaitre commented on #20902
I don't think this is necessary. You can always get back to the split using the `cv` object. If it is not deterministic then you need to set the `random_state`. Storing the indices will be potentially memory expensive since you will store `n_samples x n_folds`.

Using `cv.split` with potentially a `random_state` will only generate the indices of the current fold since this is a generator.

[2021-08-31 18:45] #20902 closed

[2021-08-31 20:59] anipaul2 commented on #19306
I'm having the same problem please help. I'm currently using windows 11. Is that the problem?  Could not install packages due to an OSError: [Errno 2] No such file or directory: This is the error coming but I saw that the files are there and shouldn't come error.

[2021-08-31 23:04] krey commented on #10796
It should be noted that this implementation just computes a low rank approximation of the coefficient matrix.

It's not the algorithm given in Mukherjee and Zhu: http://dept.stat.lsa.umich.edu/~jizhu/pubs/Mukherjee-SADM11.pdf

[2021-09-01 07:51] NicolasHug commented on #20859
@cwfoo have you tried html -> pdf converters such as [pandoc](https://pandoc.org/)?

[2021-09-01 08:41] alfaro96 commented on #18316
I have opened microsoft/LightGBM#4583 to verify the breaking change.

[2021-09-01 09:51] adrinjalali commented on #20804
That looks pretty good to me

[2021-09-01 10:18] rth commented on #20804
I agree this would be a bit less magic, bit would likely require more code to maintain for each estimator. Even if we explicitly implement how tags are constructed from parent classes, in practice that would still means calling an equivalent of `_safe_tags` to handle MRO, wouldn't it? In your example above I don't see how an estimator with multiple mixins would be handled.

I would expect one API

[2021-09-01 11:31] deepthi1107 commented on #16593
Hello, I am starting with this issue.

[2021-09-01 11:53] #20720 closed

[2021-09-01 13:11] glemaitre commented on #20036
We could add a parameter `only_positive` that will be a boolean in `_check_sample_weight`.
By default, it would be False to be backward compatible and we can it to True and raise an error for negative weight in the estimator where it makes sense (I recall that we did something like this in `AdaBoost`).

[2021-09-01 14:12] glemaitre commented on #20827
In the case of `algorithm="brute"`, we rely on the distance in scipy that will expect a parameter `VI` and not `V`. You probably observe the following warning when executing your code:

[code]

So since you are passing `V` and not `VI`, the inverse of the covariance matrix is always computed before passing it to SciPy. This is the reason why you always get the same result.

From scikit-learn 1.0 (

[2021-09-01 14:12] #20827 closed

[2021-09-01 14:16] NotNANtoN opened #20907 "MAPE improvements and alternatives"
### Describe the bug

I wanted to use the MAPE metric, but noticed that it gives incorrect values (possibly due to a change in behavior of `np.maximum`).

In the current version, the main part of the MAPE calculation is this:
`epsilon = np.finfo(np.float64).eps
  mape = np.abs(y_pred - y_true) / np.maximum(np.abs(y_true), epsilon)`

Which is not correct, as `np.maximum(np.abs(y_true), epsilon)` wi

[2021-09-01 14:16] helper-uttam opened #20908 "Registering `neg_root_mean_squared_log_error` in `sklearn.metrics.SCORERS`"
### Describe the workflow you want to enable

As I had added `root_mean_squared_log_error` previously in #20326 . Now I want to register the same in `sklearn.metrics.scorers` . You can see #20326 (review)  for better understanding.

### Describe your proposed solution

The solution is to add a parameter named `squared` which will be **false**  by default and when it'll be set to true then the func

[2021-09-01 15:44] glemaitre commented on #20266
@Ryanglambert We discussed IRL with @ogrisel today and it seems that these metrics would be a good addition indeed.

[2021-09-01 23:55] rmurphy2718 commented on #20827
Oh...  It's too bad that previous versions of scikit learn with these bugs are still being recommended in the `environment.yml` files of GitHub repos that are fresh (i.e., not stale). I understand that there isn't time or resources to maintain all the versions, but can I humbly suggest a modification of the warning?

It's true that I got a warning, but it sounded innocuous to me at the time.  When

[2021-09-02 00:01] rmurphy2718 commented on #20827
@glemaitre , it just occurred to me that  perhaps the code is calculating the inverse covariance matrix directly from the input to `model.fit`, as opposed to using the input to the constructor.  Is that right?  In that case, then at least the answers are correct.  That would make me feel more comfortable.  Still, if the warning was more direct and said that `V` is basically ignored, it could be mo

[2021-09-02 04:26] anirudh-g commented on #19137
Hi All. Is there any update on this issue?

[2021-09-02 06:22] ashish-reddy-20-08 commented on #20897
I can work on this.

[2021-09-02 06:34] deepthi1107 commented on #16593
In order to convert the data to one hot encoder is difficult as we are dealing with numerical values, so I guess by importing np_utils from Keras, can convert numerical in the form of one-hot encoding, getting the names of the features is difficult as it does not have any column names. So it's better to assign column names and then use get_feature_names.

[2021-09-02 06:41] kaushikroychowdhury commented on #20809
I am working on it.

[2021-09-02 06:50] adrinjalali commented on #16593
@deepthi1107 I don't think this issue is a good one to work on right now. I'm also not sure what your proposed solution is, and we won't be depending on keras.

[2021-09-02 07:28] alfaro96 commented on #18316
Okey, the breaking change was introduced in https://github.com/microsoft/LightGBM/pull/3256 (thanks @jmoralez for letting us know this).

I will open a PR to solve the issue (if you agree).

[2021-09-02 07:49] glemaitre opened #20917 "Add an option to plot the iso-fbeta lines in PrecisionRecallDisplay"
### Describe the workflow you want to enable

We recently added the `PrecisionRecallDisplay`. This display will plot the precision-recall curve.
It can be improved by adding an argument in the `plot` method to enable plotting the fbeta isoline similarly done in the following examples:

https://scikit-learn.org/dev/auto_examples/model_selection/plot_precision_recall.html#plot-precision-recall-curve

[2021-09-02 08:01] glemaitre commented on #20827
Yes the inverse covariance matrix was computed from the `X` given at `fit` if not provided as a parameter.

Basically, the error will be a better safeguard.

The reason is that we did not release yet 1.0 (probably this week or the next). So we cannot blame the libraries that are depending on scikit-learn :)

[2021-09-02 08:07] kaushikroychowdhury commented on #20809
Fixed it. please review it @thomasjpfan .
thank you

[2021-09-02 09:17] glemaitre commented on #15531
https://github.com/scikit-learn/scikit-learn/issues/15531 will add the parameter `only_non_negative` to `_check_sample_weight`. For the moment we will update `LinearRegression`, `AdaBoostClassifier`, `AdaBoostRegressor`, and `KDEDensity` that are estimators that check for non-negative weights for the moment.

However, we should make a larger audit of our estimators with common tests. Some estimato

[2021-09-02 09:33] glemaitre commented on #18316
Pinging @ogrisel @NicolasHug on this one.

[2021-09-02 09:34] glemaitre commented on #18316
I assume that we need to change the `CategoricalCrossEntropy`.

[2021-09-02 09:40] #20897 closed

[2021-09-02 09:42] alfaro96 commented on #18316
I think that we should multiply these lines:

https://github.com/scikit-learn/scikit-learn/blob/f500326a9a7cab37fc2a30f2754bbc4c2e42d0e4/sklearn/ensemble/_hist_gradient_boosting/_loss.pyx#L183

https://github.com/scikit-learn/scikit-learn/blob/f500326a9a7cab37fc2a30f2754bbc4c2e42d0e4/sklearn/ensemble/_hist_gradient_boosting/_loss.pyx#L195

by `K / (K - 1)` according with [this comment](https://git

[2021-09-02 09:43] alfaro96 commented on #18316
If you do not mind, I will open a PR with these changes to solve the issue.

[2021-09-02 11:01] lorentzenchr commented on #18316
The gradient and hessians are certainly correct. Note that HGBT uses the "XGBoost" formulation of gradient boosting. I'll have a look.

[2021-09-02 11:22] glemaitre commented on #18316
@lorentzenchr speaking with @ogrisel, we thought to ping you on this one :)
With your PR to share the loss functions in the future, it means that the categorical cross-entropy would impact as well the `LogisticRegression` at least in the multinomial formulation. Did you ever encounter this normalization beforehand?

[2021-09-02 11:28] glemaitre commented on #20907
The definition of the map is as in our documentation (as well as [wikipedia](https://en.wikipedia.org/wiki/Mean_absolute_percentage_error)):

<img src="https://render.githubusercontent.com/render/math?math=MAPE = \frac{100}{n} \sum_{t=1}^{n} \| \frac{\hat{y}_t - y_t}{y_t} \|">

Your formulation instead is taking the maximum of the true target to normalize. So I think that we follow the right defin

[2021-09-02 11:30] glemaitre commented on #20908
I think that it makes sense. It should follow the other pattern and potentially add a test if there is not an already common test.

[2021-09-02 13:47] reshamas commented on #14270
Hi @frkornet,
Are you still working on this issue?

[2021-09-02 14:14] #20474 closed

[2021-09-02 15:03] swight-prc opened #20920 "get_params method in cross-validation splitters"
### Describe the workflow you want to enable

I would like to be able to recreate the cross-validataion splitters from parameters.

Presently, the cross-validation splitters do not have `get_params` or `set_params` options. I want to make different steps in my process stateless, and to do that I need to be able to retrieve the parameters used to create an object (and pass them out), then recreate

[2021-09-02 15:04] kehkashan22 commented on #16962
Was this feature ever implemented?

[2021-09-02 17:20] helper-uttam commented on #20908
I couldn't find the code where `neg_root_mean_squared_error` is defined.

[2021-09-02 17:56] swight-prc commented on #20920
Sure; I mean, a bit of python code could eliminate the need for `get_params` for all objects. But it makes life easier in a lot of cases, and it exists in _most_ of the API. I'm just looking for that to be extended.

Let's imagine you're building a ML system to reside on a cloud system. You build a front end that accepts parameters etc., then passes them to the backend. Maybe you have multiple ste

[2021-09-02 18:13] glemaitre commented on #20908
As you mentioned it is not defined. So you can create a PR to create the scorer.

So as I mentioned, you can use the same pattern than other scorer, something like:

[code]

For the test, I checked and you will need to add the `neg_root_mean_squared_error` in the `REGRESSION_SCORERS` such that it is tested.

[2021-09-02 18:25] swight-prc commented on #20920
(maybe O(n), where in is the number of objects. When I said O(1) I was thinking of each individual object)

[2021-09-02 18:34] glemaitre commented on #20920
It is a bit out of my knowledge. It seems that you are interested to have a way to build estimators in a declarative manner but whenever scikit-learn will have some nested objects (CV splitters or even estimator) you will get into trouble. Am I getting it right?

[2021-09-02 18:42] swight-prc commented on #20920
Close. Estimators are fine, because anything that inherits from `BaseEstimator` has the `get_params` method.