[2015-05-26 22:44] amueller commented on #3560
Ah, I see. I like @larsmans suggestion above.

[2015-05-26 22:54] rasbt commented on #3560
@amueller Oh yes, this more general solution by @larsmans looks super neat! That'd be definitely useful

[2015-05-26 22:59] carloshmir commented on #4766
@amueller My ./gcc --version

Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
Apple LLVM version 6.1.0 (clang-602.0.53) (based on LLVM 3.6.0svn)
Target: x86_64-apple-darwin14.0.0
Thread model: posix

[2015-05-27 05:28] pianomania commented on #4667
what you said is what I meant :)
Btw, if user don't specify `cv` and `scoring`, it will choose an `alpha` based on mean value of LOOE and won't used the scorer to calculate score. Hence, does it just provide the best mean value of LOOE as best_score_?

[2015-05-27 08:03] arthurmensch opened #4772 "lasso_cd with multiprocessing fails on large dataset"
From sklearn.decomposition.dict_learning, using sparse_encode triggers error when using a large input X with algorithm 'lasso_cd'. I was not able to reproduce this bug using simple examples, as it seems to come from a memory mapping error, owing to X being large.

Call line :

[code]

Output :

[code]

[code]

[2015-05-27 08:08] arthurmensch commented on #4769
Fix in pull request #4773

[2015-05-27 08:08] agramfort commented on #4772
do you have the pb with n_jobs=1?

[2015-05-27 08:09] arthurmensch commented on #4772
No, only with n_jobs > 1. A simple fix (though ugly), is to copy X in _sparse_encode (where X is a slice of the design matrix). You may pull request #4773

[2015-05-27 08:53] arthurmensch commented on #4772
Bug can be reproduced using this example :

https://gist.github.com/arthurmensch/f099ddf2eb6e1afaa68a

[2015-05-27 09:33] arthurmensch commented on #4772
I trie to design a test that would currently fail : using synthetic data of the same size as data in previous example, I am not able to reproduce the error.

[2015-05-27 11:11] ogrisel commented on #4772
This is a limitation of cython typed memory views that do not work with readonly numpy arrays such as `np.memmap` instance with `mode='r'`.

I fixed a similar issue in pandas with a workaround here: pydata/pandas#10070

[2015-05-27 11:19] agramfort commented on #4772
should we get rid of typed memory views then and use raw pointers in cython?

[2015-05-27 11:24] ogrisel commented on #4772
We have to investigate which array is in memory mode. From the traceback this is ambiguous. If this is `Q` and the data data arrays, we don't need to modify then and we can keep using the numpy memmap in readonly mode without copy. We could investigate whether there is a performance penalty to use `ndarray` type instead of typed memory view such as:

[code]

[2015-05-27 11:33] ogrisel commented on #4772
I had a quick chat IRL with @arthurmensch. He is going to do a benchmark and if successful will write a non regression test with non-writeable inputs + the fix itself in a PR.

[2015-05-27 12:45] tokoroten opened #4774 "RandomForest is allocating a lot of memory when using bootstrap option."
I tried to serialize a trained RandomForest model. But it taking a lot of memory and disk space.
So I  looked into what is happen.
https://gist.github.com/tokoroten/629bf0a70d1a53d585cc

If bootstrap option is True, large member-variable was allocated in each tree to calculate oob_score.
here is the problem line.
https://github.com/scikit-learn/scikit-learn/blob/64e553398b3873de3d9d1e67f0cccb20e01

[2015-05-27 12:49] arthurmensch commented on #4772
I adpated bench_lasso to benchmark cd_fast using double[:] and ndarray in cd_fast.pyx. Here are the results : it looks like we do not loose performance (surprisingly enough we even seem to gain for large number of samples).

![benchmark_ctype](https://cloud.githubusercontent.com/assets/4078691/7836208/de0b343c-047e-11e5-8711-8182b0bae02d.png)

Source code (as to be run on both version of cd_fast.p

[2015-05-27 12:58] ogrisel commented on #4772
Thanks @arthurmensch, this looks good. Please open a PR with the fix and non-regression test on non-writeable arrays.

[2015-05-27 13:44] TomDLT commented on #4760
Tested : In `linear.cpp`, the `rand()` function is deterministic, and depends of the random state given in `LogisticRegression`. This proves that the seed is correctly passed to liblinear C solver.

[2015-05-27 13:50] agramfort commented on #4760
so if you do eg 1 iteration you should see a numerical difference right?

[2015-05-27 14:05] TomDLT commented on #4760
I don't see any difference, even with only 1 iterations.
The fit is stopped before convergence (the result is different from the one with more iterations),
but the result is identical for every random state.

[2015-05-27 14:08] agramfort commented on #4760
How can this be? There is something to understand

[2015-05-27 14:30] TomDLT commented on #4760
Ok I got it:
In liblinear, the optimization uses TRON solver, which does not use any shuffling (nor any random).
Hiowever, the optimization for the **dual problem** uses shuffling.

The `random_state` is useful only if `dual=True`.
In this case, I get different results for different random states, and same results for same random state.

[2015-05-27 14:34] amueller opened #4776 "max_df of TfidfVectorizer and CountVectorizer not as useful as it could be"
CountVectorizer drops words that are strictly more frequent than ``max_df``. However I feel like dropping all words that are in all documents is a common use-case. That is not possible with this setup.

[2015-05-27 14:57] amueller commented on #4766
yeah so this is clang, not gcc. But I don't understand the actual issue. Any problem with trying anaconda?

[2015-05-27 15:03] amueller commented on #4760
``dual=True`` is the default, right? [I think this is a bit odd but whatever]

[2015-05-27 15:04] TomDLT commented on #4760
No, the default is `dual=False`

[2015-05-27 15:04] amueller commented on #4760
I was thinking about LinearSVC.

[2015-05-27 15:10] amueller commented on #4772
Did anyone try to submit a bugfix to cython btw?

[2015-05-27 15:15] amueller commented on #4772
I am very surprised by the benchmark. Where it the time spend?

[2015-05-27 15:18] amueller commented on #4772
Never mind, the typed memory views are unpacked anyhow.

[2015-05-27 15:23] amueller commented on #4774
How about adding a ``if forest.oob_score`` there?

[2015-05-27 16:27] carloshmir commented on #4766
Hi, The issue is that installation of scikit-learn fails and I need a way to install it. Do you know of any quick fix I could try? I've also tried to install from the source code but installation also fails (similar issue).

I started to try out scikit-learn and anaconda, no problem with that.

[2015-05-27 16:49] amueller commented on #4766
I meant that I don't know what causes the issue ;) If anaconda works for you I'd go with that. If you need to make it work with your system python, maybe try using gcc instead of clang.

[2015-05-27 16:50] amueller commented on #4756
Closed via #4761.

[2015-05-27 16:50] #4756 closed

[2015-05-27 16:57] carloshmir commented on #4766
Below is the terminal output when I try to install from source files. Are you familiar with this issue?

=======================================================
Partial import of sklearn during the build process.
blas_opt_info:
blas_mkl_info:
  libraries mkl,vml,guide not found in ['/Users/carloshmireles/anaconda/lib', '/usr/local/lib', '/usr/lib']
  NOT AVAILABLE

openblas_info:
  libraries openb

[2015-05-27 17:32] amueller commented on #4771
Can you give a minimal example to reproduce as well as the full traceback please?

[2015-05-27 17:38] amueller opened #4780 "Coordinate descent convergence warnings"
There are a bunch of convergence warnings in coordinate descent when running the test suite that I don't think were there before:

Not sure if they are related to #4686 maybe?

[2015-05-27 17:42] amueller commented on #4764
I'm not sure what your issue is. If your base classifier is already very strong, boosting is not expected to help, and overfitting can easily happen.

[2015-05-27 17:49] amueller commented on #4752
from what a brief glance at wikipedia told me, it is possible for ward.

[2015-05-27 17:56] lemonlaug opened #4781 "'svd' and 'eigen' shouldn't yield such different results for RidgeCV"
[code]

The problem here appears to be that `gcv_mode='svd'` produces `nan` for `alpha=0`.

The [ridge regression docs](http://scikit-learn.org/stable/modules/linear_model.html#ridge-regression) suggests 0 as a valid value of alpha--of course corresponding to the unregularized regression.

Seems like solution would be either:
- Change computation of cv_values_ under 'svd' to produce a value.
- War

[2015-05-27 18:04] amueller commented on #4667
It will always provide the best mean score of LOO, only sometimes the score is computed by the scoring, and sometimes by the estimator, right?

[2015-05-27 18:39] lemonlaug commented on #4781
Looks like this is where the `nan` is introduced.
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/ridge.py#L698

That contrasts with the `eigen` case when this is used instead:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/ridge.py#L671

[2015-05-27 18:42] amueller commented on #4758
@arjoly there is a typo in the website title ;)

[2015-05-27 19:05] amueller commented on #4781
We should probably warn if people set ``gcv_mode='svd'`` and use eigen instead. I'm not sure why the loss is different for the two algorithms, the computation otherwise looks the same (for a positive definite matrix symmetric matrix svd should give the same as eigh, right?)
@agramfort probably knows more about this.

[2015-05-28 00:43] StevenLOL commented on #4764
Thanks

[2015-05-28 00:43] #4764 closed

[2015-05-28 00:46] StevenLOL commented on #4764
By the way any plan to include [xgboost](https://github.com/dmlc/xgboost)? They already have interface to scikit-learn.

[2015-05-28 04:49] pianomania commented on #4667
Yeah, and the score is depended on what user specifies for `cv` and `scoring`.
The following is what I understand about how RidgeCV works.

| cv  |  scoring | condition|
|:-------:|:--------:|:----|
|x| x|  use RidgeGCV and provide the best mean score of LOO|
|x|o|  use RidgeGCV and provide the score based on scoring|
|o|x|  use GridSearchCV and provide the score based on estimator's default|
|o|o

[2015-05-28 05:02] tokoroten commented on #4774
It looks good.
I'm coding about this for pull request.

[2015-05-28 05:36] marcuscollins opened #4782 "Make RF & other models trained with n_jobs > 1 pickleable?"
I found that in order to train some large RF regressions using n_jobs = big is very helpful, BUT, the model appears to not be portable. I pickled it, reloaded it from the pickle, and was unable to use the predict() method, which gave me a key error from joblib. I think the threads are stored with the object in order to parallelize the prediction as well. Is it possible to initiate new threads if t

[2015-05-28 05:49] glouppe commented on #4782
I cannot explain why it fails, but we are not storing the threads with the object.

Would you have some reproducible example of this behavior?

[2015-05-28 05:52] tokoroten commented on #4774
I wrote a fix code `if forest.oob_score`. but test is failed in `check_warm_start_oob`.
At first, `clf_2.oob_score = False`, but after set_params, `clf_2.oob_score = True`.
So it made 2 type trees. having `indices_` and don't having.

I propose to save a random_seed to each trees. to generate `indices_` when it use.
And I coding about this.

[2015-05-28 07:08] ogrisel commented on #4766
I see `/Users/carloshmireles/anaconda/lib` in your error message.

If you use conda or anaconda to install Python / numpy and scipy you should really install scikit-learn with `conda` instead of `pip`.

[code]

Besides that I don't understand why pip does not fetch the pre-built wheel package from PyPI and even worst why you get a segfault from your compiler. This is really bad.

Which version of

[2015-05-28 07:53] #4760 closed

[2015-05-28 09:14] vicpara opened #4784 "DBSCAN: Buffer has wrong number of dimensions (expected 1, got 2)"
I'm running this code:
[code]

That produces this error when running with gamma = 0.0001. When gamma is 10, it runs without a problem. With gamma 10 it only requires about 40Gb of ram. When gamma is 0.0001 124GB ram seem insufficient.

[code]

[2015-05-28 09:16] ogrisel commented on #4772
That would be nice but it seems quite complicated:

https://mail.python.org/pipermail/cython-devel/2015-February/004316.html

[2015-05-28 16:15] marcuscollins commented on #4782
I tried to reproduce it this morning on a different machine (with only four cores, instead of 16), and could not. I will try again later today if I can on the same kind of machine I used before (an Amazon AWS EC2 c3.4xlarge running Ubuntu 14.04). If I can reproduce, I'll post, otherwise, this may have been just a passing anomaly, and I'll close the issue.

[2015-05-28 16:25] amueller commented on #4784
Which version of scikit-learn are you using? I think this was fixed in 0.16.2 (or maybe in master).

[2015-05-28 16:27] amueller commented on #4764
No. If they already have an sklearn interface, why would we want to include them? It is not a piece of code I wish to maintain, though it would be great if we would be as fast.

[2015-05-28 16:41] amueller commented on #4667
yes

[2015-05-28 17:08] benvandyke commented on #4470
I had the same issue on Debian Wheezy with Python 2.7.3 and scikit-learn 0.16. I pip uninstalled, removed the sklearn directory, and then ran pip install -U scikit-learn which fixed the problem. Thanks.

[2015-05-28 17:28] marcuscollins commented on #4782
I can't reproduce it. Don't know what was happening. Apologies, and closing.

[2015-05-28 17:28] #4782 closed

[2015-05-28 18:43] amueller commented on #4470
benvandyke: did you use canopy or anaconda to install your previous version of scikit-learn?

[2015-05-28 22:41] carloshmir commented on #4766
Thank you @ogrisel ! I tried out your suggestions and I successfully installed scikit-learn.

To solve the issue I had to upgrade pip, remove python 2.7 (from python.org) and leave in my system only the preinstalled OS X python.

Thanks again.

[2015-05-28 22:41] #4766 closed

[2015-05-29 07:39] agramfort commented on #4781
yes it should be the same.

@meickenberg knows more this code than me now.

[2015-05-29 09:07] vicpara commented on #4784
0.16.1. Has 0.16.2 been released ?

[2015-05-29 22:15] kousu opened #4791 "SVM can be tricked into running proba()"
It is possible to make `svm.SVC` run `svm_predict_probability()` without having been trained with `probability=True`. Example:

[code]

(interestingly the probabilities do seem to correspond to reasonable predictions, but every class has a fixed set of probability values; I saw this when writing my own code against libsvm too; I don't know what to make of it, probably an upstream bug)

libsvm prov

[2015-05-30 18:18] sergey-salnikov opened #4793 "Nearest neighbor query fails on array of dimension > 2"
Examples, on scikit-learn 0.16.1:

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/usr/lib/python2.7/site-packages/sklearn/neighbors/base.py", line 327, in kneighbors
        X = check_array(X, accept_sparse='csr')
      File "/usr/lib/python2.7/site-packages/sklearn/utils/validation.py", line 350, in check_array
        array.ndim)
    ValueError: Fou

[2015-05-30 19:03] amueller commented on #4793
Interesting. It should always fail with an informative message in any case. Supporting deeper arrays before seems like an accidental feature (@jakevdp might confirm?).

[2015-05-30 22:54] jakevdp commented on #4793
The "last dimension=2" is true within the BallTree/KDTree. I don't think it was ever meant to hold within the ``NearestNeighbors`` estimator, because it does not conform to the API of the rest of the package.

[2015-05-31 07:57] agramfort commented on #4791
PR welcome

thanks for the report

[2015-05-31 16:16] benvandyke commented on #4470
@amueller Neither. I used either pip to install the previous version.

[2015-05-31 17:22] amueller commented on #4784
Whoops, 0.16.1 I meant, there is no 0.16.2

[2015-06-01 01:01] hlin117 commented on #4468
I've forked scikit-learn and now my implementation of MDLP is here:
https://github.com/hlin117/scikit-learn/tree/discretization/sklearn/preprocessing
Check `discretization.py`.

[2015-06-01 07:56] ogrisel commented on #4766
Note that your error messages, did not point to the python 2.7 installed from python.org but the one installed from anaconda, for instance:

[code]

Glad you solved your issue.

[2015-06-01 09:37] agramfort commented on #4468
if you don't open a PR it will not be read / commented.

you'll need to make a convincing benchmark to get this merged.

[2015-06-01 13:31] amueller commented on #4793
Sorry for the regression, and we'll fix the weird error message. To be fair, the behavior that you used was not documented.

[2015-06-01 13:32] amueller commented on #4793
Not sure why the common tests don't catch this one, probably because of the "algorithm" selection.

[2015-06-01 13:36] amueller commented on #3560
we could add an optional inverse_transform, too..

[2015-06-01 14:24] huibinshen opened #4795 "Eigenvalue in Kernel PCA"
If follow strictly the formulation of KPCA as in Schoelkopf et al 1999, the eigenvalues of kernel matrix K should be scaled by the number of examples N first. Then we can normalize the eigenvectors by sqrt(lambda). I think by this way, you get the interpretation and relations to the non-linear feature space. Do you think this is a problem?

[2015-06-01 15:18] amueller commented on #4661
Closed in #4716.

[2015-06-01 15:21] amueller commented on #4719
fixed in #4743

[2015-06-01 15:21] #4719 closed

[2015-06-01 15:32] #4482 closed

[2015-06-01 15:36] amueller commented on #4660
@GaelVaroquaux is -1 on warning if people don't scale their data.

[2015-06-01 15:39] amueller commented on #4551
maybe? I don't know...

[2015-06-01 15:45] amueller commented on #4445
Closing this in favor of the meta-estimator in #4242.

[2015-06-01 15:45] #4445 closed

[2015-06-01 15:45] amueller commented on #4426
Fixed in #4439.

[2015-06-01 15:45] #4426 closed

[2015-06-01 15:46] amueller commented on #4425
Fixed in #4431.

[2015-06-01 15:46] #4425 closed

[2015-06-01 15:47] amueller commented on #4417
Fixed in #4423.

[2015-06-01 15:47] #4417 closed

[2015-06-01 15:55] amueller commented on #4470
That is very odd. maybe a very old version of pip?

[2015-06-01 17:16] amueller commented on #4793
Oh, the nonobvious error was on an older version. I think the current behavior is the correct / expected one. We should have done a deprecation and not break your code, but going back now doesn't make much sense.

[2015-06-01 17:16] #4793 closed

[2015-06-01 17:19] amueller commented on #4795
the important equations are (8) and (9). We want to make sure that in kernel-space the eigenvectors are normalized. And that is exactly what the kernel-centerer does, right?
So what is your concern?

[2015-06-01 17:25] amueller commented on #4463
closed in #4463.

[2015-06-01 17:25] #4463 closed

[2015-06-01 17:32] amueller commented on #4077
If you check out a repo with a submodule, you have to init the submodule and pull it separately, right? Or am I misremembering that?

[2015-06-01 17:35] amueller commented on #4784
Can you reproduce with synthetic data?

[2015-06-01 18:12] agramfort commented on #4077
yes exactly and clone with --recursive

[2015-06-01 18:42] dchudz commented on #4405
Is there any particular reason this was implemented only for gradient boosted models? Seems like partial dependence plots should be a very general idea.

[2015-06-01 18:47] icdishb commented on #4795
The lambda in (9) is the same lambda as in (7), but the eigenvalue of K is N*lambda. Therefore, I think without scale the lambda by N, we end up in a solution of alphas which implies the norm of the vectors in the kernel induced feature space is 1/N instead of 1.

[2015-06-01 18:55] rvraghav93 commented on #4077
Can I proceed?

[2015-06-01 19:08] amueller commented on #4077
I don't want people to have to check out with a different git command, so no submodule, copying.

[2015-06-01 19:08] amueller commented on #4077
but +1 for syncing.

[2015-06-01 19:13] amueller commented on #4795
Sorry, I don't follow. The last step is doing a kernel centerer, right? That should make them have unit lenght, independent from what you put in, right?

[2015-06-01 19:16] amueller commented on #4405
Not really I think. We should probably add a more general helper

[2015-06-01 19:53] icdishb commented on #4795
Like in line 247, it handle the normalization corresponding to eq(9), right? This makes the vectors corresponds to alphas in the kernel induced feature space (F in the paper) to have norm 1. But I think without scaling lambda by N, it will make the vectors in F to have norm 1/N. May be I missed some part of the code?

[2015-06-01 20:27] valeriyischenko commented on #4784
I can reproduce it on 0.16.1 but it works without error on master.
I use this code to test:
[code]

[2015-06-01 20:30] amueller commented on #4784
I didn't realize we fixed that since 0.16.1. Well, closing for now. Let us know if you still have issues in master.

[2015-06-01 20:30] #4784 closed

[2015-06-01 20:52] #4661 closed

[2015-06-01 20:59] amueller opened #4799 "Look at nose.parameterized / make common tests run all possible algorithms"
This would allow us to do more extensive testing with all parameter settings and might eliminate some for loops.

This might help us with giving the common tests more coverage. Currently they only use the default arguments, which is not great.

[2015-06-01 23:47] kousu opened #4800 "SVC() and SVC(probability=True) give inconsistent predictions"
This is near to #4791 , but it's a lot more fierce. For a reason that is beyond me, libsvm [does not share code paths](https://github.com/scikit-learn/scikit-learn/blob/4e2960df249ef9e27fc8dda787a9f4a6d82b1b42/sklearn/svm/src/libsvm/svm.cpp#L2888) between `svm_predict()` and `svm_predict_probability()`. Go figure that the first real dataset I tried the two on tripped an inexplicable numerical(?) b

[2015-06-02 00:05] amueller commented on #4468
yeah please open a PR.

[2015-06-02 00:33] amueller commented on #4800
There is no expectation that predict and predict_proba are consistent, as per the docs: http://scikit-learn.org/dev/modules/svm.html#scores-and-probabilities

[2015-06-02 00:35] amueller commented on #4800
If you data is badly scaled, very noisy or your regularization is off, it can be the case that always the same class is prouced.

[2015-06-02 00:48] amueller commented on #4800
You don't tune C and gamma. Try ``sklearn.svm.SVC(C=10.0, gamma= 0.01)`` and it will work.

[2015-06-02 00:48] #4800 closed

[2015-06-02 02:03] jnothman commented on #4077
although I assume it's not a priority during GSOC?

[2015-06-02 02:13] mblondel commented on #4795
I would rather not start accepting questions in our bug tracker T_T. We already have stack-overflow and the ML for that...

[2015-06-02 02:36] jnothman commented on #4468
I'm not sure that a performance benchmark is so important as long as it's substantially faster than downstream estimators. But the code atm is not idiomatic numpy, and could be much improved (almost certainly improving performance). Given the quantity of code, it will be challenging for reviewers to hold your hand, @hlin117, through making this idiomatic numpy, without rewriting large portions of

[2015-06-02 02:40] hlin117 commented on #4468
Thanks for the review, @jnothman. Specifically, what part of the code could be improved? Should we move this conversation to the pull request page?

[2015-06-02 04:39] kousu commented on #4800
You solved my problem in no time and even provided a fix! I am grateful.

I have been working from the libsvm README, which does not explain the difference as your docs do. I knew scaling was an issue but assumed the disagreement disproved that it mattered. I'll read yours more fully next time.

On June 1, 2015 8:49:15 PM EDT, Andreas Mueller <notifications@github.com> wrote:

--
Nick Guenther
4B

[2015-06-02 06:34] agramfort commented on #4468
Yes!

[2015-06-02 09:08] ogrisel commented on #4784
If we decide to release 0.16.2 in the end, we should backport the fix for this one.

[2015-06-02 14:01] amueller commented on #4784
Or we finish up the MLP and LDA and release 0.17 ;)

[2015-06-02 19:15] amueller opened #4803 "MultiTaskElasticNet and MultiTaskElasticNetCV not mentioned in narrative."

[2015-06-02 19:45] amueller opened #4804 "Brier loss has no real explanation in the narrative docs"
It is mentioned in the calibration docs, but not in the metrics docs, and it is not really explained.

[2015-06-02 19:50] amueller opened #4805 "contingency_matrix missing from references and user guide"
metrics.cluster.contingency_matrix is public and should therefore be in the references and the user guide. Or be made private.

[2015-06-02 21:46] lesn-v commented on #2439
I've come across a very interesting case:

    from sklearn.cross_validation import cross_val_score
    model = LinearRegression()
    scores = cross_val_score(model, X, target, cv=2, scoring='r2')
    scores

Results in

    array([-0.17026282, -2.21315179])

For the same dataset the following code

    model = LinearRegression()
    model.fit(X, target)
    prediction = model.predict(X)
    prin

[2015-06-02 22:12] ogrisel commented on #2439
r2 can be negative (for bad models). It cannot be larger than 1.

You are probably overfitting. try:

[code]

Try with different values for the `random_state` integer seed that controls the random split.

[2015-06-02 23:09] amueller opened #4806 "PolynomialFeatures not documented in the User Guide"

[2015-06-03 02:52] GaelVaroquaux commented on #2439
+1 for 'neg_mse' (I think that underscore makes things more readable).

[2015-06-03 09:46] alexey-x opened #4808 "KMeans: Value error"
Tried example from on-line tutorial and got ValueError

[code]

[2015-06-03 12:06] verne91 opened #4809 "cross_validation.cross_val_score : Type Error"
Hi,

When I use cross_validation.cross_val_score with parameter "n_jobs = 10", I came across TypeError below.

Process PoolWorker-1:
Traceback (most recent call last):
  File "/usr/lib64/python2.6/multiprocessing/process.py", line 232, in _bootstrap
    self.run()
  File "/usr/lib64/python2.6/multiprocessing/process.py", line 88, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/li

[2015-06-03 15:05] lbillingham commented on #4441
I've also come across the `log(0)` error `sklearn/decomposition/pca_assess_dimension_` in the wild. I've `n_samples = 1017`, `n_features = 119` and the `explained_variance` drops off a cliff:

![pca_mle_log0](https://cloud.githubusercontent.com/assets/10627907/7963006/8312fcce-0a08-11e5-8f95-4f984e9c47f4.png)

My hunch is that we could test in `_assess_dimension_` for
[code]
and break out of the `

[2015-06-03 15:05] TomDLT opened #4811 "Discussion about adding NMF methods"
NMF in scikit-learn overview :

**Current implementation ([code](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/nmf.py)):**
    - loss = squared (aka Frobenius norm)
    - method = projected gradient
    - regularization = trick to enforce sparseness or low error with beta / eta

**#1348 (or in [gist](https://gist.github.com/omangin/8801846)):**
    - loss = (genera

[2015-06-03 15:57] amueller commented on #4811
Thank you for this great summary. Your evaluation doesn't include greedy selection, right? @mblondel any reason you didn't implement that?

What are other state-of-the-art implementations?

Also, I'd like to see how the methods perform on different datasets. I think sparse data is more common with NMF, but it would be good to have some results on dense data, too. Maybe MNIST, maybe audio? I'm not

[2015-06-03 16:02] amueller commented on #4811
Btw, it seems like #1348 stalled because no-one did a "convincing" empirical comparison. I think #896 was not included yet because there was not time to do so. #2540 is missing an mini-batch version, I think (didn't look in detail, though).,

[2015-06-03 16:03] vene commented on #4811
Scattered thoughts:

We could try to pick up #2557 and replace the projected gradient solver with the one from [this notebook](http://nbviewer.ipython.org/urls/gist.githubusercontent.com/vene/7224672/raw/f9ab27a74addcca9e5e911c47478641d137ebc35/nls_solvers.ipynb) that solves the regularization/sparseness awkwardness, to give the PG-NMF method a fair trial, and see if CD consistently outperforms it

[2015-06-03 16:54] TomDLT commented on #4811
Ok, I am working on more benchmarking, including dense and large datasets.

I read it in [this paper](http://users.ics.aalto.fi/rozyang/preprints/icann2011.pdf), but it is not very detailed. [Projected gradient's original paper](http://www.csie.ntu.edu.tw/~cjlin/papers/pgradnmf.pdf) does not deal with KL divergence since it is not well defined in 0.
Actually, I did not get into the details, but as

[2015-06-03 18:37] amueller commented on #2439
Does that solve all problems? Are there other scores were greater is not better?

[2015-06-03 18:39] amueller commented on #4808
That is very strange. Thanks for reporting. Have you tried the current development version?

[2015-06-03 18:53] amueller commented on #4808
I couldn't reproduce with 0.16.1 or 0.17-dev. What is your numpy version?
What is the dtype of ``labels`` and what are the unique entries at the crash?

[2015-06-03 18:57] amueller commented on #4441
why would you test for this difference? you could have (theoretically) two large but identical eigenvalues, right?
Why not test if ``spectrum[i] < eps `` and then break?

[2015-06-03 18:59] amueller commented on #4441
also if v is 0 don't we just want to return -np.inf?

[2015-06-03 19:09] amueller commented on #4809
Can you please give the full code to reproduce, and the full traceback?
Which version of scikit-learn are you using?

[2015-06-03 19:23] amueller commented on #4795
well, he suspects a bug. I don't think it is, but I'm not 100%.

[2015-06-03 20:35] amueller opened #4812 "[RFC] Change default gamma in SVC to None"
I think we should change the default gamma in SVC to None, instead of 0.
0 will be replaced by a data-dependent default, which is 1. / n_features.

This seems very non-idiomatic. Usually we use ``None`` for "this parameter is not provided".
We can just change the default value and deprecate setting it 0, but I doubt that many people will even see the deprecation warning (it would mean they explici

[2015-06-03 20:35] vene commented on #4811
It seems actually that the Yang et al paper says that projected gradient has problems with I-divergence (generalized KL?) but not with normalized KL, and (quoting from page 7)

Is I-divergence really that slow to converge with gradient-based methods? Maybe we should try. @mblondel do you have any intuition?

[2015-06-03 20:36] GaelVaroquaux commented on #4812
+1

[2015-06-03 20:49] amueller commented on #4811
this might also be relevant: http://www.jmlr.org/proceedings/papers/v28/kumar13b.pdf they solve it exactly under certain conditions.

Also, using ADMM should work fairly well and is easy to implement. It should be much faster than projected gradient descent. via @bmcfee

[2015-06-03 20:51] GaelVaroquaux commented on #4811
In my lab, we have had very bad experiences with ADMM: its convergence is
sensitive to the rho parameter, and sometimes it does not converge (the
acceptable values of rho typically depend on the input data).

[2015-06-03 20:53] amueller commented on #4811
You need to dynamically scale the rho. Maybe you just need an ADMM expert ;)

[2015-06-03 20:53] amueller commented on #4811
I have no idea, I'm just echoing @bmcfee and adding snarkiness.

[2015-06-03 20:58] GaelVaroquaux commented on #4811
That didn't work for us. On two different problems (covariance estimation
and linear models with analysis sparsity). We have studied closely the
corresponding Boyd paper, and tried the various tricks. And I have heard
some pretty famous machine learning and optimization researchers say the
same thing as I do.

We almost got it to work: it worked 99% of the time. But the remaining 1%
of the time do

[2015-06-03 21:00] GaelVaroquaux commented on #4811
Well, tell @bmcfee that the experts hide their knowledge well enough to make sure that noone benefits from it :).

But rumors do say that setting rho in an ADMM can be a problem.

[2015-06-03 21:31] alexey-x commented on #4808
Thanks for prompt reply!

1)  Got the same error with 0.17dev0
[code]

2) Sorry, don't know how to answer the questions:
"What is the dtype of labels and what are the unique entries at the crash?"

Could you please provide the commands I should enter.

[2015-06-04 00:28] mblondel commented on #4811
Did you use my implementation for CD? Ideally it needs to be Cythonified to obtain the best performance. Currently, it uses Numba.

Did you use the same initialization for each method? I am surprised that CD seems to get stuck in a worse local optimum than other methods. Or maybe this is just the scale of your plot. Could you share your script?

Are the regularization parameters the same? Our proj

[2015-06-04 01:36] rahuldave opened #4813 "predict ought to have an optional threshold argument"
sklearn classifiers have a predict. Most classifiers have a `predict_proba` or `decision_function`. One ought to be able to set a threshold on these to make a prediction.

This is useful for example in implementing asymmetric costs. Currently i can use a recall score to penalize FN in the cross-validator. But having trained the model, i dont want the old predictions, I want a new one which uses an

[2015-06-04 01:38] GaelVaroquaux commented on #4813
I would rather support making a meta-estimator for such use case.

[2015-06-04 09:14] EdTao opened #4814 "RandomForestClassifier - How to interpret tree output?"
Hi,

Apologies if this is not the correct way to ask a question, but I have asked the below question in the below link and was hoping someone here could explain how to interpret a tree output from the RandomForestClassifier as it doesn't look as clear cut as a tree from the DecisionTreeClassifier?

http://stackoverflow.com/questions/30618778/scikit-learn-randomforestclassifier-how-to-interpret-tre

[2015-06-04 09:23] larsmans commented on #2439
There are:

* `log_loss`
* `mean_absolute_error`
* `median_absolute_error`

According to `doc/modules/model_evaluation.rst`, that should be all of them.

[2015-06-04 09:32] arjoly commented on #4814
I have answered to your question on stackoverflow.

[2015-06-04 09:32] #4814 closed

[2015-06-04 10:31] mblondel commented on #2439
And `hinge_loss` I guess?

[2015-06-04 10:39] lbillingham commented on #4441
What is the sensible tolerance for `v~=0.0`? The pure equality `v==0.0` test will almost never be `True` Using:

[code]
gives this

![pca__infer_dimension__test_v_loop_break](https://cloud.githubusercontent.com/assets/10627907/7981526/7708e87c-0aa7-11e5-926a-89d2be383d58.png)

which I think looks OK.

If we do not test for `v` but only brerak `if  spectrum[i] < eps` we end up with huge `pa` and he

[2015-06-04 11:03] mblondel commented on #2439
Adding the `neg_` prefix to all those losses feels awkward.

An idea would be to return the original scores (without sign flip) but instead of returning an ndarray, we return a class which extends ndarray with methods like `best()`, `arg_best()`, `best_sorted()`. This way the results are unsurprising and we have convenience methods for retrieving the best results.

[2015-06-04 11:04] EdTao commented on #4814
Thanks for the reply, but it doesn't quite answer my question. I've made a
comment on stackoverflow, but I'm looking for clarification on how the gini
were calculated. I know how to calculate gini in the normal decision tree,
but it appears it's not done the same way for the RandomForestClassifier.

And does the algorithm also randomly select a sample(s) to put through the
tree so that the totals

[2015-06-04 11:11] larsmans commented on #2439
There's no scorer for hinge loss (and I've never seen it being used for evaluation).

[2015-06-04 11:22] glouppe commented on #4814
Keep in mind that in Random Forests, trees are built on bootstrap samples. Hence the training data which is fed to each decision tree is not the same. This impacts the number of unique samples, their weights, and therefore the calculation of the impurity.

[2015-06-04 15:22] amueller commented on #4808
can you run everything in ipython and after the error do
[code]
and
[code]

[2015-06-04 15:25] amueller commented on #4808
also, does
```nosetests sklearn```
run without errors?
and is ``nosetests``  the python3 version?

How did you install scikit-learn?
I feel this is most likely a broken installation.

[2015-06-04 15:28] amueller commented on #4813
Yeah, I think a meta-estimator is probably better.
How do you pick the threshold? Optimizing a cost-matrix?
I also think that a meta-estimator picking the threshold to optimize f1 would be cool.

[2015-06-04 16:31] alexey-x commented on #4808
Thanks!
Certainly problem with installation.
Probably, the issue should be closed.
I reinstall numpy with proper libraries.

0) Here, I install everything with pip
[code]

1) So, in ipython  after error I do

[code]
What is wrong with me?

2) nosetests
 I run python3 under virtualenv.

[code]

[code]

outline

[code]

[2015-06-04 17:13] vene commented on #4813
+1, this would be cool. Arbitrary scorers (in particular `matthews_corrcoef`)?

[2015-06-04 17:33] amueller commented on #4813
yeah maybe that, too.

[2015-06-04 17:34] amueller commented on #4441
please open a PR for people to review your code.

[2015-06-04 17:35] amueller commented on #4441
what data did you run your tests on?

[2015-06-04 17:55] amueller commented on #4808
ok don't worry about the kmeans for now.
as long as the tests don't work your installation is broken.
How did you install numpy and scipy?
If you are not married to your current setup, I'd recommend using the anaconda python distribution, which sets everything up for you.

[2015-06-04 18:12] amueller commented on #2439
The scorer doesn't return a numpy array, it returns a float, right?
we could return a score object that has a custom ">", but that feels more contrived to me than the previous solution, which was tagging the scorer with a bool "lower_is_better" which was then used in GridSearchCV.

[2015-06-04 18:12] amueller commented on #2439
The scorer doesn't return a numpy array, it returns a float, right?
we could return a score object that has a custom ">" but looks like a float.
That feels more contrived to me than the previous solution, which was tagging the scorer with a bool "lower_is_better" which was then used in GridSearchCV.

[2015-06-04 18:22] alexey-x commented on #4808
I installed everything with "pip install" and was pretty happy not to compile lapack, cblas, atlas, etc as I did it 3 years ago for python2.7.

Thanks!
Sure, I will try anaconda. That what I see on pycon2015 tutorials.

[2015-06-04 18:23] #4808 closed

[2015-06-04 18:25] amueller commented on #4808
you are on linux, though, right? There are no numpy binaries when using pip on linux, so you did compile numpy / scipy and all the fortran things, only you did not compile the dependencies.

[2015-06-04 18:32] zer0n opened #4815 "RandomizedSearchCV: how to include the runtime in the final statistics?"
`RandomizedSearchCV` only stores the score statistics but not the runtime, although the runtime is printed out if I specify a high verbosity parameter. I need to extract the runtime so that I can display it next to the score and parameters in the same table.

[2015-06-04 18:46] amueller commented on #4815
Unfortunately that is currently not possible. Sorry. You would need to hack it in. I wrote an addition that made it possible but it never got merged. I feel we should add it, though.

[2015-06-04 18:46] #4815 closed

[2015-06-04 19:32] RNAer opened #4816 "implementing stacking and other ensemble techniques"
I don't find a open issue for this. Just wondering what's the plan to implement them in sklearn? Is there a roadmap?

Some of the techniques are listed in wiki: http://en.wikipedia.org/wiki/Ensemble_learning

[2015-06-04 19:48] amueller commented on #4816
Which methods apart from stacking? I think stacking would be nice, there was some discussion in #4161.

Stacking should be implemented as a meta-estimator transformer, where you give a classifier / regressor and it will provide predictions based on CV.
It should be relatively straight-forward, and a PR welcome.

[2015-06-04 19:56] eyaler opened #4817 "allow tied-spherical and tied-diagonal cv in gmm"
i would to suggest implementing https://github.com/scikit-learn/scikit-learn/issues/454#issuecomment-3022158 : either make 'tied' a separate flag or add modes 'tied-diagonal' and 'tied-spherical' in the gmm module.

[2015-06-04 23:55] mblondel commented on #2439
`cross_val_score` returns an array.

[2015-06-05 00:18] mblondel commented on #2439
Actually the scores returned by `cross_val_score` usually don't need to be sorted, just averaged.

Another idea is to add a `sorted` method to `_BaseScorer`.

[code]

[2015-06-05 00:32] RNAer commented on #4816
I guess it depends on how you define stacking - general stacking can
theoretically represent any ensemble techniques.

Taking classifier as the case, would the search over all combinations of
param grids of every classifier member be useful? that would require nested
CV? inner one for each classifier and outer one for the meta-classifier?

On Thu, Jun 4, 2015 at 12:48 PM, Andreas Mueller <notifica

[2015-06-05 05:13] hlin117 opened #4820 "Allow LinearSVC to predict probabilities"
I know in `sklearn.svm.SVC`, you could throw in the `probability=True` keyword argument into the constructor so the SVC could use the `predict_proba` function. In turn, you could use `predict_proba` to evaluate an SVC using AUC.

However, it doesn't seem you could use the `probability=True` parameter for `sklearn.svm.LinearSVC`, and it would be great if we could evaluate a LinearSVC using AUC.

[2015-06-05 06:01] hlin117 commented on #4437
Should this issue request be closed? I see the pull request was merged already.

[2015-06-05 06:12] hlin117 commented on #3912
It seems that there was a pull request for this issue already. Should this issue be closed?

[2015-06-05 06:57] lbillingham commented on #4441
I haven't been able to construct a synthetic pathological `X` and I am unable to provide the data from the wild.

Since  `_assess_dimension_` and `_infer_dimension_` are imported in `test_pca` I thought I could just provide a small pathological `spectrum` directly in the test function.

[2015-06-05 07:19] agramfort commented on #4820
for AUC you just need decision function. But if if you want proba with
LinearSVC use the calibration module

[2015-06-05 07:25] #4820 closed

[2015-06-05 08:06] #4437 closed

[2015-06-05 08:34] agramfort commented on #4811
my colleague recommends you have a look at:

http://arxiv.org/pdf/1401.5226v2.pdf

it contains benchmarks of NMF solvers on various problems.

[2015-06-05 08:37] TomDLT commented on #4811
**More benchmarking and more details**
- I used CD-NMF implementation of @mblondel. I Cythonized the critical part, but it does not speed up  compared to Numba (yet I am not an expert of Cython).
- I used MU-NMF implementation of @larsman in #2540
- I used the same initialization for each method, and used no regularization of any kind.
- I benchmarked on (entire) 20news (sparse) and Olivetti faces

[2015-06-05 09:55] rvraghav93 commented on #3912
@hlin117 Any issue for which a PR has been raised will automatically / manually be closed as soon as the PR gets merged into master. :)

[2015-06-05 09:56] mblondel commented on #4811
It's nice to see that Numba is on par with Cython. The Cython version will be useful in any case since we cannot depend on Numba yet.

[2015-06-05 11:12] martinosorb commented on #4769
I believe I'm seeing this problem here: https://github.com/scikit-learn/scikit-learn/pull/4779

[2015-06-05 14:09] verne91 commented on #4809
clf = SGDClassifier(loss='log', penalty='l2',n_jobs=-1)
scores = cross_validation.cross_val_score(clf, X_train, y_train, cv=10, n_job=10, scoring='f1_micro')
X_train and y_train are numpy array.
The version of sklearn is 0.16.0
The version of Python is 2.6.6

[2015-06-05 14:33] amueller commented on #4820
Or just use LogisticRegression and get a probability for free.

[2015-06-05 14:37] amueller commented on #4816
what do you mean by general stacking? I mean stacking as described in Elements of Statistical Learning.

You want to grid-search over the parameters for each estimator? For stacking or for other methods?
If you stack different kinds of estimators together, I guess that might be useful.
The VotingClassifier actually already supports something like this.

[2015-06-05 16:09] hlin117 commented on #4820
Thanks for the feedback. I was hoping to use the LinearSVC similar to how <a href="http://scikit-learn.org/stable/auto_examples/model_selection/plot_roc_crossval.html">this sklearn example</a> uses an SVC. Is that not possible, with the current `liblinear` interface?

[2015-06-05 16:10] hlin117 commented on #4820
I generally prefer to use LinearSVC versus SVC (`libsvm`'s implementation) because LinearSVC tends to finish faster than SVC on high dimensional datasets.

[2015-06-05 16:11] GaelVaroquaux commented on #4820
It's not.

[2015-06-05 17:07] amueller commented on #2439
``cross_val_score`` returns an array, but the scorers return a float. I feel it would be odd to have specific logic in ``cross_val_score`` because you'd like to have the same behavior in GridSearchCV and in all other CV objects.

You'd also need an argsort method, because in GridSearchCV you want the best score and the best index.

[2015-06-05 17:19] amueller commented on #4820
Using a CallibratedClassifierCV with sigmoid callibration will do exactly the same thing that SVC(probability=True) will do. But as I said above, you can just use LogisticRegression instead, which also uses the liblinear solver.

[2015-06-05 17:20] amueller commented on #3912
@rvraghav93 not really true ;) we often forget about that. But this one is not addressed yet.

[2015-06-05 17:23] amueller commented on #4809
it should have been ``n_jobs``.
If you type your code instead of copy and pasting it is likely that you'll hide an error.

[2015-06-05 17:24] amueller commented on #4809
You shouldn't nest n_jobs. Either set it on cross_val_score or in ``SGDClassifier``. Otherwise it won't work.

[2015-06-05 17:24] amueller commented on #4809
Actually I'm not sure if it should crash, though. @ogrisel @GaelVaroquaux ?

[2015-06-05 17:39] amueller commented on #4811
yeah, that looks pretty good.
That is all for MSE, right? Do we also want KL?

[2015-06-05 17:51] vene commented on #4811
Any idea why there's no more obvious difference in the loss attained by PG and CD?  Based on these results I would just keep the CD solver. I would really like this to be the case, it would make everything so much simpler.

Adding regularization might give us more insight. Another dimension not varied across these plots is `n_components`.

------

API questions about regularization:
  1. Should we

[2015-06-05 17:53] agramfort commented on #4811
With KL we can reach audio people

[2015-06-05 17:57] vene commented on #4811
I wouldn't mind KL (I-divergence?) for text either, since [it corresponds to pLSI](http://users.cis.fiu.edu/~taoli/pub/NMFpLSIequiv.pdf). But frobenius seems to lead to good topics too.

[2015-06-05 18:57] kingjr opened #4825 "Q: initialize coef before fit to speed up process?"
I am trying to run a long series of linear classifiers on a long series of highly correlated datasets.

Is there a way I could initialize the classifier's coef before fitting so as to optimize computing time: e.g.

[code]

Thanks!

[2015-06-05 18:58] GaelVaroquaux commented on #4825
Depends on the classifier. Some can. Have a look at the corresponding
documentation.

[2015-06-05 18:59] #4825 closed

[2015-06-05 19:04] amueller commented on #4825
the magic option is "warm_start".

[2015-06-05 19:07] kingjr commented on #4825
@GaelVaroquaux @amueller, Perfect, thanks!

[2015-06-05 22:35] bearnshaw commented on #4811
There is at least one state-of-the-art NMF algorithm that hasn't been discussed yet: Kim and Park's Block Principle Pivoting method.  https://3e4b2411-a-62cb3a1a-s-sites.googlegroups.com/site/jingukim/2011_paper_sisc_nmf.pdf

This is a block coordinate descent approach for solving the alternating nonnegative least squares (ANLS) subproblems under the Frobenius norm.  It basically speeds up the old

[2015-06-05 22:43] vene commented on #4811
Interesting. As scikit-learn doesn't deal with tensors, that sounds like further support of the CD solver :)

[2015-06-05 23:04] bearnshaw commented on #4811
Seems to me it argues for BPP since the two perform similarly on NMF, and when scikit-learn adds tensor support, the state-of-the-art ANLS solver for NTF will already be implemented.  However, to be fair, it looks to me like the comparison done in the paper is to an unaccelerated version of the proposed CD solver (see http://download.springer.com/static/pdf/974/art%253A10.1007%252Fs10898-013-0035-

[2015-06-05 23:07] vene commented on #4811
There is currently no plan for that to ever happen. That's what I meant, no reason to go for the fancier newer method if we'll never even need its benefits.

[2015-06-05 23:37] RNAer commented on #4816
By general, I mean use an whatever arbitrary model as meta-estimator and
take the predictions of a number of arbitrary estimators as input features.
From this point of view, VotingClassifier is just special case of stacking.

I think there are 2 ways to do CV here:

1). do param search for each individual estimator independently, and then
do a param search for the meta-estimator.

2). do param sea

[2015-06-06 00:18] mblondel commented on #4811
This is also my feeling. Having too many solvers makes things harder in case of refactoring. For instance, adding proper fit_intercept support in Ridge is harder because we have too many solvers to change. The CD code is also pretty simple and has a good stopping criterion.

We definitely do but let's do it one PR at a time. For now let's focus on the squared loss and the API :)
BTW, it's called *

[2015-06-06 00:40] vene commented on #4811
Thanks @mblondel!  Just to be sure: do you have some intuition about whether CD shouldn't work with I-divergence? The paper cited by @TomDLT earlier claims that PG wouldn't work (well), but the claim doesn't seem well backed.

[2015-06-06 02:11] mblondel commented on #4811
Could you quote the relevant sentence? One possible reason would be because the I-divergence doesn't have Lipschitz continuous first derivative (i.e. its second derivative is not bounded above). Most gradient-based solvers assume Lipschitz continuous gradient in their proof.

However, for CD, the authors were still above to prove convergence to a stationary point:
http://www.cs.utexas.edu/%7Ecjhsi

[2015-06-06 02:44] vene commented on #4811
such as Newton or quasi-Newton algorithms ill-posed and even fail to converge, as shown in Section 4

From [here](http://users.ics.aalto.fi/rozyang/preprints/icann2011.pdf). But the results in section 4 don't seem to me to really support the very strong language used above.

[2015-06-06 03:53] vene commented on #4811
So am I reading this right, and what the kdd'11 paper calls KL-divergence (equation 3) is actually Generalized KL-divergence or I-divergence, right?

side-note: both of those are horrible names. What does the I in I-divergence stand for?

[This](http://building-babylon.net/2015/02/17/maximum-likelihood-estimation-for-non-negative-matrix-factorisation-and-the-generalised-kullback-leibler-divergence

[2015-06-06 03:56] mblondel commented on #4811
Yes

[2015-06-06 09:40] jnothman commented on #2575
@rasbt, @glouppe: Is this feature request satisfied by `VotingClassifier`?

[2015-06-06 13:08] sonnyhu commented on #4803
@amueller what does "in narrative" mean? Thanks

[2015-06-06 17:13] amueller commented on #2575
I feel it is, as the issue is a bit unspecific. we still might want to do stacking or bayesian model averaging but for that there are different issues, I think.

[2015-06-06 17:18] amueller commented on #4803
It means in the user guide, that is [here](http://scikit-learn.org/dev/modules/linear_model.html)

[2015-06-06 17:18] amueller commented on #4803
The file to be edited is this: https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/linear_model.rst

[2015-06-06 17:20] amueller commented on #4812
Fixed in #4819

[2015-06-06 17:20] #4812 closed

[2015-06-06 17:55] amueller commented on #4816
Doing 1) is pretty hard in our current framework :-/ Unless you wrap each estimator in a separate GridSearchCV object.

[2015-06-06 20:35] rasbt commented on #2575
@amueller I saw this the new "issue" on stacking the other day and I think that would nice to have & easy to implement.

@mjanv You asked for a method to "combine differents classifiers on the same data training", and as mentioned by @jnothman one way would be the `VotingClassifier` that has been recently merged.

![unknown-2](https://cloud.githubusercontent.com/assets/5618407/8021353/09520f74-0c6

[2015-06-06 22:17] jnothman commented on #4816
What data does the final model tend to train on?

[2015-06-07 07:59] verne91 commented on #4809
Sorry, I type it uncorrectly.
The parameter is "n_jobs" when I get the error.

[2015-06-08 07:40] chanansh opened #4830 "cannot import name 'moduleTNC'"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name 'roc_curve'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Anaconda3\lib\site-packages\sklearn\metrics\__init__.py", line 7, in <module>
    from .ranking import auc
  File "C:\Anaconda3\lib\site-packages\sklearn\metrics\ranking.py", line 30, in <module>

[2015-06-08 08:07] lesteve commented on #4830
As you can see from your traceback, the import error happens in scipy so something went wrong when you installed scipy. Since you are using Anaconda the simplest thing you can try is to reinstall scipy and scikit-learn along these lines:

[code]

[2015-06-08 09:32] #4638 closed

[2015-06-08 09:34] albahnsen commented on #4813
I would suggest to allow the `threshold` parameter to be either a scalar or an array with size equals `X_test.shape[0]`
This would be highly useful when using the estimated probabilities as part of a model that uses example-dependent thresholds such as the Bayes minimum risk

[2015-06-08 14:37] amueller commented on #4720
@pprett was there any progress on this during the sprint? is there a PR?

[2015-06-08 15:19] amueller commented on #4634
Fixed via #4714. You can pass ``decision_function_shape='ovr'`` to make this work in master.

[2015-06-08 15:19] #4634 closed

[2015-06-08 15:55] amueller commented on #4813
That would be really easy as a meta-estimator, though, right?

[2015-06-08 15:56] amueller commented on #4813
having a keyword to predict seem to be much harder for the user.

[2015-06-08 17:00] amueller commented on #4809
if you use n_jobs just in one place, it works, right?

[2015-06-08 19:48] amueller opened #4834 "[RFC] API / objects for out of core fitting, partial_fit pipelines"
@GaelVaroquaux and me recently discussed better support for out-of-core processing.
This issue is to collect comments and summarize discussions.

To me, the two core issues are representing streamed datasets and out-of-core pipelines.

Out-of-core pipelines should not be that hard if we only support stateless transformers. This was discussed previously (though I don't remember where).
It would als

[2015-06-08 21:39] amueller commented on #2989
I think knn is a common method, and I think it is worth implementing it not using a general estimator. If we would use a general estimator, you have to train a separate model for each missing value, right? That seems very expensive with a RandomForestRegressor. Using KNN I could use a once-built data structure over and over again.

[2015-06-08 21:39] amueller commented on #2989
@tw991 was interested in working on this, and I didn't want to set him up for something that we won't include.

[2015-06-08 21:57] tdoughty1 opened #4837 "RandomForestClassfier Initialization Problem"
While attempting to run a Random Forest algorithm to compare with a Boosted Decision Tree approach, I attempted to match parameters as closely as possible.  When I tried to set n_estimators, it gives me an initialization error.  Specifically, I ran:

[code]

The error output was:
[code]

This was run on Python 2.7.6 and sklearn 0.16.1.

[2015-06-08 22:15] GaelVaroquaux commented on #2989
+1000. Quite clearly very useful and standard.

Sent from my phone. Please forgive brevity and mis spelling

On Jun 8, 2015, 14:39, at 14:39, Andreas Mueller <notifications@github.com> wrote:

[2015-06-08 22:34] amueller commented on #4837
The first argument of the ``RandomForestClassifier.__init__`` is n_estimators ([see the docs](http://scikit-learn.org/dev/modules/generated/sklearn.ensemble.RandomForestClassifier.html#sklearn.ensemble.RandomForestClassifier)), so you gave it twice, once positional as ``DecisionTreeClassifier(max_depth=5)`` and once as ``n_estimator=50``.
RandomForestsClassifier will always use DecisionTreeClassif

[2015-06-08 22:34] #4837 closed

[2015-06-08 23:17] amueller commented on #2989
I just see that the current imputer is ignorant of classes. Should it be? ``y`` should be optional and used if given, right? Not sure how important that is for knn, but for mean/median strategies that seems kinda important.

[2015-06-08 23:54] GaelVaroquaux commented on #2989
It does seem to me that it should not be. That said,  I can see situations where one might want that (rare classes,  regression settings).

How about an option to control that,  and maybe a deprecation cycle for the default value?

Sent from my phone. Please forgive brevity and mis spelling

On Jun 8, 2015, 16:17, at 16:17, Andreas Mueller <notifications@github.com> wrote:

[2015-06-09 03:08] jnothman commented on #2989
I don't understand how one uses classes in e.g. mean imputation. Sure one
can model a different mean for each class, but how does that apply at test
time?

On 9 June 2015 at 09:54, Gael Varoquaux <notifications@github.com> wrote:

[2015-06-09 03:12] GaelVaroquaux commented on #2989
Good point! That's another situation when it might be useful to break the
equivalence between fit_transform and fit + transform (we were discussing
with @amueller that for data resampling / downsampling / upsampling such
a choice might be useful).

[2015-06-09 03:22] jnothman commented on #2989
Is it appropriate to use a different imputation strategy at train and test
time?

On 9 June 2015 at 13:13, Gael Varoquaux <notifications@github.com> wrote:

[2015-06-09 04:35] GaelVaroquaux commented on #2989
I don't see why not. It does not break independence between train and test. If I were to try to solve a real world problem, I don't think that I would mind.

Sent from my phone. Please forgive brevity and mis spelling

On Jun 8, 2015, 20:22, at 20:22, jnothman <notifications@github.com> wrote:

[2015-06-09 05:11] shoyer commented on #4737
I believe this is likely due to https://github.com/sphinx-doc/sphinx/issues/1822. I encountered the same issue with my build for xray.

[2015-06-09 06:50] Shriyanshmit opened #4839 "Analytics on the rabbitMQ queue"
HI,
I want to make some analytics on the rabbitMQ queue. is it possible to make using .net code. I want to use sql queries for data analytics on RabbitMQ queue.

Suppose a number of deviecs sending data(like Country,State,Temperature..) on a shared RAbbitMQ queue. Now i want to filter the data like number of device which send data from INDIA State Delhi and temperature greater than 35. In this cas

[2015-06-09 08:55] #4755 closed

[2015-06-09 14:48] amueller commented on #4839
This is an issue tracker for bug reports, not a forum for asking questions. Please ask at stackoverflow.

[2015-06-09 14:48] #4839 closed

[2015-06-09 14:52] TomDLT commented on #4811
After talking with @agramfort and various audio colleagues, it appears that:
- More loss functions would be very useful !
- The beta-divergence generalizes the I-divergence (aka generalized Kullback-Leibler divergence), the Itakura-Saito divergence, and also the Frobenius distance (aka squared norm).
- These 3 divergences are used in practice, depending on the data. The MU method is the most used,

[2015-06-09 15:15] amueller commented on #4811
I vote for one NMF class, different solvers.
Deprecate the current PG solver and the parameters associated to it? It would make for a lot of parameter duplication for the next releases but it shouldn't be that big a deal, right?

[2015-06-09 15:19] amueller commented on #4806
Closed in #4833.

[2015-06-09 15:19] #4806 closed

[2015-06-09 15:25] vene commented on #4811
I think we are avoiding naming classes after solvers. One `NMF` class that delegates to different solver functions might work.

Sorry, I'm not exactly sure what you mean by this.  If we implement CD there's no reason to keep PG unless benchmarks back it up in certain settings.

Alternatively we could name the new class `NonnegativeFactorization` and deprecate `NMF`.

Does the maximization-minimiza

[2015-06-10 08:23] eyaler commented on #3273
@xrobin could you please share the jiang paper?

[2015-06-10 11:02] midnightradio commented on #4776
Document frequency of a word (term, token, or feature) is determined by how many documents contains the word over total number of documents. When there's a word found in all documents, the document frequency of the word becomes 1 ( N-docs / M-docs, where N equals to M). Hence, by setting the parameter max_df slight smaller than default value 1, it will drop all words that are in all documents.

[2015-06-10 13:11] #4791 closed

[2015-06-10 13:42] TomDLT commented on #4609
yes, it is #3639

[2015-06-10 14:40] TomDLT opened #4843 "DOC a code block does not render in Python colors"
In http://scikit-learn.org/stable/developers/index.html, in Deprecation section, first code block does not render in Python colors.

[2015-06-10 15:08] xrobin commented on #3273
@eyaler https://db.tt/vTb8caQt

[2015-06-10 15:48] rvraghav93 commented on #4843
Adding `.. code-block:: python` before that block should fix I feel... but interesting why other code blocks work while this alone does not!

[2015-06-10 16:55] TomDLT commented on #4843
`::` is supposed to be enough, and python is default language.
Yet it does not work, and your suggestion either.

[2015-06-10 17:12] rvraghav93 commented on #4843
hmm.. weird!

[2015-06-10 17:39] amueller commented on #4609
Fixed by #4796.

[2015-06-10 17:39] #4609 closed

[2015-06-10 17:41] amueller commented on #4776
yeah but you can not drop the words that are in all documents without also dropping the words that are in a large fraction of the documents. You have to pick an actual number <1.

[2015-06-10 18:52] rvraghav93 commented on #4843
Looks like the code was syntactically incorrect since the function `zero_one_loss` is not defined properly.

[code]
2 confirmed solutions -

1. Use `pass`
[code]

2. Enforcing that the following code is Python, as suggested earlier, using `.. code-block:: python`)

(Background right is the built html / foreground is the code)

![](http://i.imgur.com/35hoB0B.png)

But I think `pass` is much simpler

[2015-06-10 22:59] datnamer commented on #4834
Best option imho is [blaze](https://github.com/ContinuumIO/blaze) and [dask](https://github.com/ContinuumIO/dask)'s streaming and chunking support.

There is already a robust parallel out of core array and streaming solution along with integration to transform, query, and clean OOC data across different backends. Out of core dataframe coming up, it seems.  One related pr implements an out of core

[2015-06-10 23:07] amueller commented on #4834
ContinuumIO/dask#138 looks pretty cool indeed.
We probably don't want to add dask dependency, but rather provide an interface that can easily be used with dask. For a single estimator that seems to be already possible now.

That would somewhat solve the "reading data from disk" usecase, which is great. I'm not sure if dask can handle infinite datasets that are created on the fly, though. @mrocklin

[2015-06-10 23:10] amueller commented on #4834
Somewhat off-topic, I also thought about using ContinuumIO/dask for doing cross-validation on pipelines. I think there is some potential there :)

[2015-06-11 01:32] mblondel commented on #4834
Maybe a naive question but does dask support sparse data?

[2015-06-11 05:52] mrocklin commented on #4834
Dask expects to know all computations that need to be done ahead of time.  Full infinite streaming support isn't currently in scope, though I'll think about if there is a way to have it make sense.

Thanks for taking a look at https://github.com/ContinuumIO/dask/pull/138 . That was built on a lark; I have no idea if it is useful or not.  I'd be very happy to help build other things that were more

[2015-06-11 05:55] mrocklin commented on #4834
Regarding dataframes this is happening slowly.  A fair amount works now but peoples' expectations are high and pandas is complex.  If you all wanted a particular subset of functionality I'd be happy to focus on this.  This would help to direct my work.

Regarding sparse arrays, this has come up a few times.  Mostly it's blocked on lacking a standard way to represent parallel sparse algorithms.  Th

[2015-06-11 07:13] mr0re1 commented on #2416
This issue scipy/scipy#1833 seems to be fixed in SciPy 0.14.0.
Verified it with SciPy 0.15.1, worked fine:

[code]

_Not sure that my verification code hits the actual problem._

Could this issue be closed?

[2015-06-11 07:49] mblondel opened #4846 "RidgeClassifier triggers data copy"
RidgeClassifier always triggers a data copy even when not using sample weights.

Regression introduced in #4838.

See:
https://github.com/scikit-learn/scikit-learn/pull/4838#discussion_r32090535

[2015-06-11 07:58] TomDLT commented on #4843
ok well done, I don't know what I did wrong :)

[2015-06-11 10:16] mblondel commented on #4834
Streaming chunks to partial_fit is just one way of achieving out-of-core learning. I think this depends on whether we want to develop approximate algorithms or exact algorithms (in the sense that the behavior of the out-of-core learning algorithm is the same as the in-memory learning algorithm) [*]. This depends on where we want the library to go. Do we want to provide only simple out-of-core mech

[2015-06-11 10:18] mblondel commented on #4497
Did you guys have time to discuss this?

[2015-06-11 12:31] #4843 closed

[2015-06-11 13:09] jameshensman opened #4850 "."

[2015-06-11 13:09] #4850 closed

[2015-06-11 13:24] datnamer commented on #4834
It would be great to see a python implementation of these OOC algorithms. Aside from sidestepping the JVM issue, mllib doesn't seem to be very good in it's own right:

https://github.com/szilard/benchm-ml#boosting-gradient-boosted-treesgradient-boosting-machines
http://datascience.la/benchmarking-random-forest-implementations/

[2015-06-11 15:14] amueller commented on #4690
Closed by #4797.

[2015-06-11 15:14] #4690 closed

[2015-06-11 15:36] amueller commented on #4643
setting ``scale=False`` "fixes" the first plot. That was the buggy behavior prior to my "fix" (?). The second CCA plot looks the same though. Not sure if that means anything.

[2015-06-11 16:03] amueller commented on #4497
Some. The main use-case is subsampling and "labeled" cross-validation I believe. I still don't know how to deal with the fact that some attributes are given to the estimator and some to the cross-validation.

So the example I gave above is still unclear to me:
[code]

[2015-06-11 16:05] amueller commented on #4497
I guess there are two routes as outlined by @jnothman above:
route everything explicitly and give meaningful errors, or pass around ``sample_props`` to everything and silently ignore things that you don't use. Which will lead to silent behavior changes if we add sample_weights support to anything, for example.

[2015-06-11 16:14] amueller commented on #2416
Does scipy use the 64bit indices by default?

[2015-06-11 16:52] mr0re1 commented on #2416
I'm  not quite sure, but it seems that it uses 32-bit indices by default and only uses 64-bit indices when needed.

[2015-06-11 17:07] amueller commented on #2416
@larsmans can this be closed?

[2015-06-11 19:18] jnothman commented on #4690
ta

On 12 June 2015 at 01:14, Andreas Mueller <notifications@github.com> wrote:

[2015-06-12 09:41] arthurmensch opened #4856 "SparsePCA is online in the direction of features"
Presentlyu, SparsePCA used `dict_learning` or `dict_learning_online` on `X.T`, and sets its `components_` to be the outputted code of these functions (which is sparse).

Though it is a simple way to reuse code from `dict_learning.py`, it has for drawback that it does not allow the user to learn in the sample direction, which prevents the use of `partial_fit` and is not adapted in a setting where d

[2015-06-13 13:08] frank-tancf opened #4858 "Do I have to remake or reinstall when I merge the master"
Question is the title.Thx

[2015-06-13 13:21] rvraghav93 commented on #4858
You should remake... `sudo make` from the top level scikit-learn directory...

BTW it would be awesome if you could use [out gitter chat](https://gitter.im/scikit-learn/scikit-learn) for such development related questions as issues are for bugs in the codebase :)

[2015-06-13 14:06] frank-tancf commented on #4858
Thx.And sorry for my fault at the same time.

[2015-06-13 14:19] rvraghav93 commented on #4858
:) could you close this issue since this is resolved? :)
On 13 Jun 2015 19:37, "Tan Chufeng" <notifications@github.com> wrote:

[2015-06-13 16:39] vene commented on #4858
I don't think `sudo` is needed when running `make`. I generally avoid running things with higher privilege than they require, just in case.

[2015-06-13 16:40] #4858 closed

[2015-06-14 01:49] jnothman commented on #4830
reopen if the issue persists

[2015-06-14 01:49] #4830 closed

[2015-06-14 19:40] rvraghav93 commented on #4858
Indeed!! :) I am a bit lazy... :/

BTW this xkcd comic comes to my mind :P

![](http://photos1.blogger.com/blogger/5229/539/400/sudo.gif)

[2015-06-15 06:31] jnothman commented on #4813
I suspect we should close this -- and perhaps open an issue proposing a threshold-optimising metaestimator (although how similar is this to probability calibration?) -- before we lose it in the collection of ancient issues...

[2015-06-15 15:42] amueller commented on #4813
It is pretty similar to calibration. I'm not entirely sure which criteria we would want to optimize the threshold on. Things that I came across is optimizing for a given precision point (but then maybe we also want a recall point?), optimizing f1 or having a cost-matrix?

[2015-06-15 16:12] mverleg opened #4863 "RandomizedSearchCV add flexibility through callbacks"
I like the [random search](scikit-learn.org/stable/modules/generated/sklearn.grid_search.RandomizedSearchCV.html) functionality. But I think it could be made more flexible.

The main problem I'm trying to solve is that I waste a lot of time waiting for useless results, for example because a rare bug crashes it near the end or most calculations diverged or something, and I would like more immediate

[2015-06-15 17:43] Gerenuk opened #4864 "Document and adapt isclose() usage"
`sklearn.metrics` introduces `isclose()` in https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/ranking.py which can leave the unaware data practitioner with hours of debugging.

In very unbalanced classification, probabilities/scores can be very small and yet meaningful. This however will cause unexpected missing precision_recall points due to `isclose` treating values within

[2015-06-15 18:02] amueller commented on #4864
can you give an example where this is failing? Maybe we need to handle certain situations better?

[2015-06-15 18:05] amueller commented on #4863
The callback in finishing could be done inside a custom scorer.
A callback on error seems helpful for some cases, but I'm not sure it's worth including. Keep in mind that we really want the interface to be lightweight. I guess it is not very simple to achieve this kind of call-back by inheritance, so I don't have a good answer...

[2015-06-15 18:20] Gerenuk commented on #4864
Whenever you have very small probabilities. For example from a very unbalanced and slightly noisy classification. These small probabilities can still be predictive though (I had a real-life case). However in `precision_recall_curve` points are unrightfully aggregated due to `isclose`.

    from sklearn import metrics
    prec, recall, thresh = metrics.precision_recall_curve([0,1,0,1,0,1,0],[0.1,1.

[2015-06-15 18:26] tgarc opened #4865 "Implementing support for Panda's Categorical dtype"
It seems that there is no support in sklearn to use Panda's Categorical datatype directly in fitting models. The Categorical datatype is convenient since it encodes categorical data and contains the mapping scheme of the data. In addition categorical encoding is purely a data handling/processing problem so it seems more natural that it would be handled by Pandas. Is there anything in the pipeline

[2015-06-15 18:36] amueller commented on #4865
I think these are at least two separate questions:
1. can / will sklearn support pandas dataframes with categorical features as input
2. can / will sklearn support categorical variables via pandas categorical datatypes.

1. would be more or less converting all categorical variables into one-hot encoded features, aka dummy columns. That is really easy to do for the user. We could do that "under the

[2015-06-15 18:50] arjoly commented on #4864
One student ran into this issue recently when upgrading his scikit learn version.

[2015-06-15 19:05] amueller commented on #4620
closing as I feel this is unrelated.

[2015-06-15 19:05] #4620 closed

[2015-06-15 19:07] amueller commented on #4616
closing as there is little we can do here.

[2015-06-15 19:07] #4616 closed

[2015-06-15 19:08] amueller commented on #4607
closing as scipy issue.

[2015-06-15 19:08] #4607 closed

[2015-06-15 19:09] amueller commented on #4548
closing as old / solved.

[2015-06-15 19:09] #4548 closed

[2015-06-15 19:09] amueller commented on #4518
should be fixed by #4605. Closing.

[2015-06-15 19:09] #4518 closed

[2015-06-15 19:10] amueller commented on #4477
fixed by #4631.

[2015-06-15 19:10] #4477 closed

[2015-06-15 20:33] amueller commented on #4252
I now claim the opposite of past-me, see #4511 and the discussion on the ml.

[2015-06-16 07:57] betatim commented on #4813
In HEP we often tend to pick the threshold by optimising something like `N1/ sqrt(N1+N2)` (N1 = samples in class 1, N2 = samples in class2), or purity, or `N1/sqrt(N2)`, or ... -> :+1: on a meta estimator that you can pass a `scorer` to and it picks the threshold to maximise the score.

[2015-06-16 09:02] arthurmensch opened #4866 "Block coordinate descent for dictionary update has a non optimal step"
Regarding [1], in module `dict_learning`, function `_update_dict`, we update dictionay as such :

[code]

which corresponds to an update (following [1] notation) :

<img src="https://cloud.githubusercontent.com/assets/4078691/8179264/c9ec6664-1415-11e5-8a49-c3c5888174bc.png" width=250px />

which should be :

<img src="https://cloud.githubusercontent.com/assets/4078691/8179277/e403ae40-1415-11e5-8

[2015-06-16 13:44] amueller commented on #4866
It would be great if you could provide a benchmark.

[2015-06-16 15:22] amueller commented on #4813
Is there a good way to implement this efficiently? Recomputing the score ``n_samples`` times is probably not what you want usually, right? I guess one could do binary search, but there might be local optima. Maybe have some efficient methods built-in and do brute-force for general scorers?

[2015-06-16 19:58] jseabold opened #4867 "Inconsistent `estimators_` container type"
I haven't dug in here to see if this is by design, but `GradientBoosting*.estimators_` is an ndarray of 1d ndarrays containing `DecisionTreeRegressor`s. The other tree ensemble methods have lists of the trees AFAICT. Leads to inconsistent indexing for gradient boosting vs. others. Admittedly, it might be more trouble to fix, if not intended, than to work around.

[code]

[2015-06-16 20:00] amueller commented on #4867
I think this is because we have one estimator per class in GradientBoosting. @pprett ?

[2015-06-16 20:03] jseabold commented on #4867
Ah, that makes sense.

[2015-06-16 20:05] #4867 closed

[2015-06-17 01:16] verne91 commented on #4809
Yes, but I just test n_jobs in SGDClassifier.

[2015-06-17 13:52] TomAugspurger commented on #4865
Agreed with @amueller here. It'd be better for the user to do the transform. In pandas, we're maybe adding a couple methods like [from_dummies](https://github.com/pydata/pandas/issues/8745) which should make it easier to round-trip from DataFrame (with categoricals) to scikit-learn and back.

[2015-06-17 13:57] amueller commented on #4865
Cool :)

[2015-06-17 14:01] ogrisel commented on #2473
Re-reading this discussion I would like to make sure I understand this comment:

I think the default `score(X_test)` should return the sum of the log likelihood of each sample in `X_test` which are negative. If the number of samples in `X_test`  is small the `np.exp(gmm.score(X_test))` will be strictly positive but typically close very 0.0. As soon as `X_test` has many samples, the likelihood will

[2015-06-17 15:42] heitaoa opened #4869 "Why multi_class in LR cannot work?"
my code like this,
model = LogisticRegression(C = C, solver="lbfgs", multi_class='multinomial')
but
TypeError: __init__() got an unexpected keyword argument 'multi_class'

and run nosetests -v sklearn, the result looks normal,
...
sklearn.tests.test_preprocessing.test_fit_transform ... ok
QDA classification. ... ok

----------------------------------------------------------------------
Ran 770 tes

[2015-06-17 16:06] rvraghav93 commented on #4869
Please share your sklearn version. It is possible that you may be using an old version which did not support `multi_class` argument.

[code]

If you refer to the documentation of [LogisticRegression for sklearn v 0.15](http://scikit-learn.org/0.15/modules/generated/sklearn.linear_model.LogisticRegression.html#sklearn.linear_model.LogisticRegression) you will know that `LogisticRegression` did not

[2015-06-17 16:08] tgarc commented on #4865
My issue was really coming from the fact that I have to keep two copies of a dataframe (which may be very large) when exploring datasets with categorical data: an encoded copy for fitting models, and an unencoded copy for plotting and exploring the data. So the encoded copy is basically useless except for passing to estimators. However, I realize that by using the **pipeline** module I could bypas

[2015-06-17 16:08] #4865 closed

[2015-06-17 20:16] amueller commented on #4865
well, the pipeline would generate an intermediate version, so you wouldn't save any ram. To make sklearn work directly on the categorical representation on anything but tree-based models wouldn't really make sense.

[2015-06-18 04:02] jnothman opened #4871 "has_fit_parameter will not work with **kwargs"
Bagging and boosting use `sklearn.utils.validation.has_fit_parameter` to produce a clear error when `sample_weight is not None` and the base estimator does not support `sample_weight`. However, the method of checking the argspec will not work if `sample_weight` is supported as a `**kwargs` in `fit`, thus raising an exception when none applies. (A similar concern exists for the proposed alternative

[2015-06-19 09:37] lesteve commented on #4455
Can you not just check for strict equality of `randomized_svd(skinny_matrix, transpose='auto')` and randomized_svd(skinny_matrix.T, transpose=False)`? If they match exactly that must mean that the matrix was indeed transposed with transpose='auto'.

[2015-06-19 16:17] ivic-katharina opened #4876 "sklearn crossvalidation (LDA) different output in different versions of Sklearn or OS"
Hi,

I am using sklearn.cross_validation.StratifiedKFold and sklearn.lda. I recently noticed different results on different machines. Also the behavior changed based on where I put the skf.
I marked the different places for the skf in the code (either Line 171 or Line 175)

The machines I used for testing were:
machine 1:
Xubuntu: 14.04
python 2.7.6
numpy 1.8.2
scipy 0.13.3
sklearn 0.14.1

machine

[2015-06-19 19:50] amueller commented on #4455
@lesteve yeah, that is right. I think the main reason we haven't merged #4478 is that there were numeric changes in the results and no-one checked if they were bad.

[2015-06-19 20:27] JLConawayII opened #4877 "undesirable behavior from check_array function when passed a 1D numpy array in 0.16.1"
I'm going to be using Gaussian Mixture Models for my research and I thought I would input some examples to see how the package worked. When I tried running the 1D Gaussian Mixture Example located here http://www.astroml.org/book_figures/chapter4/fig_GMM_1D.html it kicked back this error in Pycharm:

Traceback (most recent call last):
  File "/home/jconaway/Research/Kepler_Analysis_2/gaussian_mixtu

[2015-06-19 21:05] amueller commented on #4877
Thanks for the report. Currently support for 1d input is in inconsistent, though it shouldn't raise that bad an error. In the future, giving 1d vectors will always raise an error, telling you to do ``x[:, np.newaxis]``. See also #4511.
Which version of scikit-learn are you using?

[2015-06-19 21:08] amueller commented on #4876
there were several fixes to lda between 0.14 and 15.1.
For the position if skf: you shuffle ``y`` at the end, so the splits will be different. Does that answer your questions?

[2015-06-19 21:11] JLConawayII commented on #4877
So my impromptu fix to the example was the correct way to go about it. Good to know. I'm using Anaconda with scikit-learn 0.16.1 and Python 3.4.3

[2015-06-19 21:12] amueller commented on #4876
The errors are pretty nasty, though :-/ I guess we should try to catch them. You dataset is pretty insane, though. Are you using any shrinkage?

[2015-06-19 21:29] amueller commented on #4877
@xuewei4d maybe make sure that this doesn't happen in the new implementation... I am surprised that we give such a bad error :-/

[2015-06-20 03:01] xuewei4d commented on #4877
Sure. I repeated this code. @JLConawayII, correct me if I am wrong.

 gmm ```fits``` on the data of shape (n, 1), then ```score_samples``` on data of shape (n, ), which is further transformed into (1, n) by ```check_array```. Then it raises an error.

If ```check_array``` in #4511 does raise an error, then we leave the problem to the user. When would you merge #4511, until 1.0 ? @amueller
But befo

[2015-06-20 12:06] jnothman commented on #4863
All of those can be implemented, if necessary, by wrapping the estimator.

Currently there's a warning issued, so you can certainly log using `logging.captureWarnings()`, or you can do something more drastic by overriding `warnings.showwarning`.

Given that these things already can be done, albeit with a little work, that adding support for them would clutter the interface somewhat, and that they'

[2015-06-20 12:56] ivic-katharina commented on #4876
Hi,

thanks for the quick reply.
No, that does not really answer my question. If I have skf outside the loop, it seems that the LDA or cross validation is doing something different depending on the sklearn version.
For machine 1 (sklearn 0.14) for example I got values around 0.25, which I would expect, since this is chance level. However on machine 2 and 3 (sklearn 0.15 and 0.16) I get consistentl

[2015-06-20 14:38] ryadzenine opened #4878 "TypeError: a float is Required in sklearn.feature_extraction.FeatureHasher (version 0.16.1)"
Hi,
   I have noticed a bug in FeatureHasher (or maybe i am using it wrong).

Here is a slmple example to reproduce the bug:
[code]

[2015-06-20 22:16] mbatchkarov opened #4879 "RandomForestClassifier changes label values"
Consider the following example:
[code]

The output is

`['A' 'B' 'C' 'D' 'E' 'F' 'G' 'H' 'I' 'J' 'B' 'B' 'B' 'B' 'B']`

whereas I expect it to be

`['A' 'B' 'C' 'D' 'E' 'F' 'G' 'H' 'I' 'J' 'K' 'L' 'M' 'N' 'O']`

I traced the cause of the error to [here](https://github.com/scikit-learn/scikit-learn/blob/733629d256abaf9a31d6e6305f859768432907ed/sklearn/ensemble/forest.py#L418). I'm happy to put in a

[2015-06-21 02:15] wlattner opened #4880 "LogisticRegressionCV: best model with l1 penalty and refit=True is not sparse"
When `LogisticRegressionCV` is run with an l1 penalty and `refit=True`, the final model does not seem to be doing any variable selection, the final coefficients are all non-zero. Models fit separately (using `LogisticRegression`) on the same values of C in the grid passed to `LogisticRegressionCV` result in mostly zero coefficients.

[code]

[2015-06-21 07:03] arjoly commented on #4879
Can you explain the issue? To me what you observe is the effect of bootstrapping.

[2015-06-21 07:44] mbatchkarov commented on #4879
I'll have a closer look later. Currently I've got the following evidence:

1) `y` changes at [this line](https://github.com/scikit-learn/scikit-learn/blob/733629d256abaf9a31d6e6305f859768432907ed/sklearn/ensemble/forest.py#L222). What goes into the `_validate_y_class_weight` is
[code]
and what comes out is
[code]

I always get suspicious when I see digits encoded as str, so I tried this instead
2)

[2015-06-21 08:43] arjoly commented on #4879
Can you check if it works when the bootstrap is disabled?

[2015-06-21 08:47] mbatchkarov commented on #4879
[code]

[2015-06-21 17:16] agramfort commented on #4880
I don't think it's a bug. The C param grid is very coarse. What if you use
a denser grid with let's say 100 possible C values?

[2015-06-21 17:40] wlattner commented on #4880
Similar result:
[code]

[2015-06-21 23:50] jnothman commented on #4878
Textual feature values are not supported here. Features must be real-valued. This is poorly documented. I'm opening a more specific issue.

[2015-06-21 23:50] #4878 closed

[2015-06-21 23:51] jnothman opened #4882 "Improve `FeatureHasher` documentation"
An example should be added to `FeatureHasher`'s docstring. There should also be some description of input that specifies dict values must be (finite) numeric.

[2015-06-21 23:53] jnothman opened #4883 "Improve FeatureHasher compatibility with DictVectorizer"
`FeatureHasher` does not currently support string values for its dict input format (see e.g. #4878). Ideally its input format should be compatible with `DictVectorizer`, one hot encoding any string-valued items.

[2015-06-22 01:57] neal1991 opened #4884 "cannot import array2d"
I don't know why the array2d cannot be imported in sklearn0.16. Is that sure that array2d has been removed from sklearn0.16. If so, how should I fix this?

[2015-06-22 02:53] jakevdp commented on #4884
Yes, it was removed. See discussion in #3443. You can use ``check_array`` instead to get similar behavior. Note that the functionality in ``utils`` is not guaranteed to be consistent from release to release (and changes are usually left out of release notes), so you should be careful when directly using them in external packages.

[2015-06-22 09:01] danqingdong opened #4885 "sorry, i am just trying to figure out the difference between "accuracy score" and "precision score" in this library."

[2015-06-22 09:02] arjoly commented on #4885
Here the definition of the [accuracy](http://scikit-learn.org/stable/modules/model_evaluation.html#accuracy-score) and here the definition of [precision](http://scikit-learn.org/stable/modules/model_evaluation.html#binary-classification).

[2015-06-22 09:02] #4885 closed

[2015-06-22 10:47] danqingdong commented on #4885
thanks, but those two equations to me are very same (they both about "how many selected items are correct" instead of recall -- which is like "how many relevant items are selected"  )

[2015-06-22 10:51] danqingdong opened #4886 "sorry, i read the LSH Forest paper, but still a bit confused about the example solution here"
the reference paper is here  --- http://infolab.stanford.edu/~bawa/Pub/similarity.pdf

Examples are the following

i do not know what is the "praticial" meaning in getting the answers for "distance" and "indices (i guess these parameters are to do with the trees in the "paper")". Say if the approximated neighbor is interested, how could i ask the library to perform such search?

thanks

LSHForest(

[2015-06-22 10:58] arjoly commented on #4885
precision cares only about positive labeled samples, while accuracy is about positive and negatives labeled samples.

[2015-06-22 11:55] maheshakya commented on #4886
The `distances` and 'indices` stand for the literal meaning of those. If you queried for the **k** nearest neighbors of a set of data points(with `kneighbors` method), it returns the indices of the approximated **k** nearest neighbors and their distances(given that `return_distance` parameters is true by default).
If you interested in a single nearest neighbor, just set `n_neighbors` to 1.  You ca

[2015-06-22 14:50] amueller commented on #4883
+1

[2015-06-22 14:53] amueller commented on #4877
#4511 currently does the wrong thing and needs a rewrite. If you create a new class, please make sure that it will raise an error in all functions if an 1d array is given. Maybe I should rewrite #4511 :-/

[2015-06-22 14:53] agramfort commented on #4880
indeed sorry I had not read in details. There is really a bug...

here is what could be used as a test

[code]

@MechCoder you're the last one to have touched this code. Can you have a
look?

[2015-06-22 14:53] JLConawayII commented on #4877
Yes that looks right. When it returns the array the dimensions are switched.

To me it seems like a strange choice to have the function work this way. Personally I wouldn't have a validation tool change the input array at all, but check_array seems to do several things at once. It seems especially unnecessary in this case, since immediately after the check_array function is called in score_samples

[2015-06-22 14:53] amueller commented on #4863
I agree, closing.

[2015-06-22 14:53] #4863 closed

[2015-06-22 14:55] amueller commented on #4877
This was an oversight on my part when I introduced the check_array function. It made many things much simpler, but it seems I overlooked this check (I had to edit all files). We are now switching to raising an error whenever a 1d array is passed, with a deprecation cycle.

[2015-06-22 15:20] #4886 closed

[2015-06-22 15:21] amueller commented on #4886
If you have more questions, I suggest you post them to stackoverflow with the scikit-learn tag. This is likely to give you more and quicker answers. We like to use the issue tracker for bug reports, not questions: http://stackoverflow.com/questions/tagged/scikit-learn

[2015-06-22 15:38] #4846 closed

[2015-06-22 15:39] amueller commented on #4879
This looks bad. It is not related to bootstrapping, I have no idea how that happens in ``_validate_y_class_weight``, the np.unique should do the right thing.

[2015-06-22 15:48] amueller commented on #4879
ah, the bug is caused by a the output-by-output conversion. The dtype of y should be changed, but it is not because of the slicing. At least I think that is what is happening. Maybe a regression test in the common tests?
And one more reason to dislike multi-output :-P
I guess the fix is pre-allocating a y of integer dtype to hold the results of the unique call?

[2015-06-22 16:10] xuewei4d commented on #4877
@amueller Okay.

[2015-06-22 17:26] amueller commented on #4876
I would totally recommend it for your dataset.
What do you mean by 700 datasets? what were those?

If you put the skf not inside the loop, the data inside each fold doesn't change.
There are only 4 data points that are not entirely zero, so if they all fall inside the same fold, the outcome be bad.
There was a change in the StratifiedKFold to keep the data more in the order it was before.
If you d

[2015-06-22 17:26] #4876 closed

[2015-06-22 17:47] amueller commented on #4884
feel free to reopen / comment if you have additional questions.

[2015-06-22 17:47] #4884 closed

[2015-06-22 19:32] amueller commented on #4619
Is this a duplicate of https://github.com/numpy/numpy/issues/5533 by any chance?

[2015-06-22 20:46] sturlamolden commented on #4619
@amueller Yes it is. Integer overflow in catlas_dset resulting in attempted read from an invalid address.

(By the way this is Accelerate, not ATLAS, despite the function name.)

[2015-06-22 21:15] amueller commented on #4879
@tw991 this would also be great for you to work on, unless @mbatchkarov has already started.

[2015-06-22 21:43] tw991 commented on #4879
@amueller If @mbatchkarov hasn't started, I would be happy to work on this. :)

[2015-06-22 21:45] mbatchkarov commented on #4879
I haven’t started, feel free :)

On 22 Jun 2015, at 22:44, Tian Wang <notifications@github.com> wrote:

[2015-06-23 05:29] danqingdong commented on #4886
received with thanks,  it takes a while to get around with the term "indices" -- which is the answer i was looking for. the indices is designed as [ [k closest indices for quiry 1] [k closest indices for quiry 2] [k closest indices for quiry 3] etc ]

[2015-06-23 06:48] arjoly commented on #4879
The bugs might also appears with k-nn.

[2015-06-23 07:37] jmschrei opened #4888 "Test failure in sklearn.tests.test_common.test_transformer_n_iter"
I cloned sklearn v0.17.dev0, built it on Windows for 64bit Python, and ran the nosetests. I get one error, in sklearn.tests.test_common.test_transformer_n_iter.  I am using numpy v1.9.2 and scipy v0.15.1.

Running `C:\Anaconda\Python -c "import nose; nose.main()" -v sklearn.tests.test_common:test_transformer_n_iter` yields the following logs:

[code]

I will begin looking deeper into this issue.

[2015-06-23 09:37] ogrisel commented on #4888
Indeed I observed this as a random failure on appveyor.

[2015-06-23 09:38] ogrisel commented on #4888
See: https://ci.appveyor.com/project/sklearn-ci/scikit-learn

[2015-06-23 09:50] MechCoder commented on #4880
Alright, I'll have a look.

[2015-06-23 09:58] ngoix opened #4889 "joblib.dump bug with too large object-type arrays"
The code:
[code]

More precisely:
[code]
Maybe I should put this issue on https://github.com/joblib/joblib/issues ?

[2015-06-23 11:46] lesteve commented on #4889
Please do. Bonus points if you can put it in a snippet form rather than just copying and pasting from an ipython session.

FWIW I can reproduce the problem on joblib master.

[2015-06-23 14:45] amueller commented on #4879
Yeah, I added
[code]

To ``check_classifiers_classes`` and it failed on knn. It also failed on some other estimators for other reasons.

[2015-06-23 15:42] amueller commented on #4889
closing this as tracked in joblib.

[2015-06-23 15:42] #4889 closed

[2015-06-23 15:47] amueller commented on #4888
@jmschrei Thanks for the report. You shouldn't be too concerned about it as long as you are not using CCA. There are unfortunately still some numerical issues in our CCA implementation.

[2015-06-24 00:33] ryadzenine commented on #4883
Hi, I would like to handle this issue, since i created the initial ticket. Hopefully, it will be my first contribution to scikit-learn. Do you have any advice to provide ? especially about the requirements of the implementation ?

[2015-06-24 00:54] jnothman commented on #4883
Great! Have a look at http://scikit-learn.org/stable/developers. Make sure
to add tests, and an example would be useful too.

On 24 June 2015 at 10:33, Ryad ZENINE <notifications@github.com> wrote:

[2015-06-24 01:07] danqingdong opened #4890 "(question) about a lshforest example is posted on stackoverflow"
LSHForest(min_hash_match=4, n_candidates=50, n_estimators=10,
              n_neighbors=5, radius=1.0, radius_cutoff_ratio=0.9,
              random_state=None)

        array([[ 0.069...,  0.149...],
               [ 0.229...,  0.481...],
               [ 0.004...,  0.014...]])

        array([[1, 2],
               [2, 0],
               [4, 0]])

Pointing to the right direction would be appreci

[2015-06-24 11:08] #4880 closed

[2015-06-24 11:10] alessiob opened #4892 "sklearn.preprocessing.MinMaxScaler not preserving symmetry / Add axis=None"
MinMaxScaler does not preserve symmetry.

scikit-learn (0.15.2) and scikit-learn (0.16.1)
Windows 7 SP 1 64 bit
Python 2.7.9 32 bit

An affected numpy matrix and the script to reproduce the problem are available at: https://www.dropbox.com/s/vkcuq71wa69jrw7/sklearn-bug.tar?dl=0

[2015-06-24 12:19] TomDLT commented on #4892
[code]

This is not a bug.
MinMaxScaler standardizes each feature (column) individually.
The docstring says:

that it is in the given range on the training set, i.e. between zero and one.

[2015-06-24 21:33] #4879 closed

[2015-06-24 23:33] ahurriyetoglu opened #4895 "pickle a TfidfVectorizer with a given set of features"
Dear all,

I would like to inform scikit-learn community about my experience in pickling a vectorizer and a classifier. Each time I read a pickled vectorizer and a pickled classifier, which are a TfidfVectorizer and a Multinomial Naive Bayes objects, I was getting a different result for a test document. After two days of analysis, I discovered that assigning a set() object to the vocabulary parame

[2015-06-25 06:33] jnothman commented on #4895
Right. The `vocabulary` parameter assumes it is being given an ordering. I guess if it's a set we should be sorting it.

[2015-06-25 06:36] jnothman commented on #4895
The problem lies in `_validate_vocabulary` which assumes vocabulary is a sequence if it is not a mapping. We should be sorting if not a Sequence.

[2015-06-25 06:43] jnothman commented on #4890
Those are the exact nearest neighbors in cosine distance. No problem.

[2015-06-25 06:50] #4890 closed

[2015-06-25 06:52] jnothman commented on #4892
Perhaps we should consider supporting `axis=None`? Ping @untom.

[2015-06-25 08:21] ogrisel opened #4896 "PERF Use joblib.Parallel backend='threading' for sparse_encode when called with algorithm='lasso_cd'"
Since we released the GIL in most of the Cython coordinate descent solver (#3102), we could now sparse encode in parallel efficiently with threads when using that solver.

Making this change in the code of `sparse_encode` should be straightforward and the tests should stay the same but accepting a PR for that will require running some benchmarks to check that switching to the threading backend imp

[2015-06-25 08:22] ogrisel commented on #4896
@arthurmensch you might be interested in this.

[2015-06-25 13:25] arthurmensch commented on #4896
See PR #4873 with following ipynb :

https://gist.github.com/anonymous/abf4fd132ef71c4d8221

80% of computation time is still spent in acquire....

[2015-06-25 15:34] dtsmith2001 opened #4898 "Profiling RandomForestClassifier for bottlenecks - _set_oob_score"
I observed a long delay between fitting trees after constructing a **RandomForestClassifier** with n_jobs=20. I fired up iPython and used

[code]

(where the forest object is the constructed classifier - see below). I found that the function **_set_oob_score** was taking up most of the time. This function is in the class **ForestClassifier**.

I am using scikit-learn version 0.16.1 with Anaconda 3

[2015-06-25 15:36] untom commented on #4892
Is there a common-enough use-case to add ``axis=None`` (I can't think of one)?

In a pinch, the same result can be had by using ``ravel()`` on the input and ``reshape()`` on the result of the scaler.

[2015-06-25 16:10] alessiob commented on #4892
Thanks for the answers and my apologies.
axis=None would be very useful in my case.

[2015-06-25 16:32] dtsmith2001 commented on #4898
I followed the instructions in the section Profiling Python code

http://scikit-learn.org/stable/developers/performance.html

and produced the following, using the smaller example in my original post.

[code]

The Parallel loop takes the most time, followed by

[code]

in order of timing. Apologies for the poor formatting above, but I believe I should give the exact output of lprun rather than try

[2015-06-25 17:17] ogrisel commented on #4896
If this is the case it means that the Cython code is actually not in the critical part. Upon further inspection of profiling results with `%lprun Lasso.path sparse_encode(some_data...)` it seems that redundant input validation checks are dominating the sparse in. We should move those call to `check_array` out of the inner loop by adding a `check_input=True` optional argument to the `Lasso.path` me

[2015-06-25 17:19] ogrisel commented on #4896
Removing the "Easy" tag, as it's not such an easy issue anymore...

[2015-06-25 18:01] jnothman commented on #4892
ravel and reshape is not a pretty operation to achieve in a pipeline!

On 26 June 2015 at 02:10, Alessio Bazzica <notifications@github.com> wrote:

[2015-06-26 08:12] arjoly commented on #4898
pull requests are welcome!

[2015-06-26 11:31] dtsmith2001 commented on #4898
Let me see what I can do on my end.

Dale Smith, Ph.D.
Data Scientist
​
[http://host.msgapp.com/Extranet/96621/Signature%20Images/sig%20logo.png]<http://nexidia.com/>

d. 404.495.7220 x 4008   f. 404.795.7221
Nexidia Corporate | 3565 Piedmont Road, Building Two, Suite 400 | Atlanta, GA 30305

[http://host.msgapp.com/Extranet/96621/Signature%20Images/sig%20Blog.jpeg]<http://blog.nexidia.com/> [http

[2015-06-26 17:46] adammenges opened #4902 "New error after recent upgrade"
I've been using the code below for probabilities for quite some time, but as of this morning it's broken:

[code]

Which now gives me the error:

[code]

The only thing I've done recently is rerun https://github.com/fonnesbeck/ScipySuperpack

Is this a known issue with a new version, or am I missing something else?

[2015-06-27 06:13] pianomania commented on #4882
I want to pick up this one for contribution.

[2015-06-27 10:32] jnothman commented on #4882
Go ahead!

[2015-06-27 15:53] agramfort commented on #4902
can you create a full gist to reproduce the problem?

[2015-06-28 23:06] rvraghav93 commented on #4809
It doesn't crash for me... (with `n_jobs` set to 10 in both `cross_val_score` as well as the `SGDClassifier` and with `n_jobs` set to 10 in either one of them)
@verne91 Could you share your scikit-learn version and a full code to reproduce the bug?

[2015-06-29 00:55] rvraghav93 commented on #4902
Can you also share your scikit-learn version with us... This seems to run fine on master / 0.16 (with `analyzer='word'` and data from the 20 newsgroups dataset.

[2015-06-29 07:27] rvraghav93 commented on #4895
You mean to say the result of `fit_transform` varies when vocabulary is given as set? How do I reproduce this?

[2015-06-29 09:00] jnothman commented on #4895
I must say I can't replicate on a single machine, but set iteration order is arbitrary, so setting `vocabulary` to a set on different machines will vary arbitrarily.

[2015-06-29 14:47] ibalmeida opened #4906 "SGDClassifier partial_fit does not check input dimensions"
I noticed the SGD Classifier throws an exception when trying to make predictions on input data with a different number of features compared to that used for the first fit.
However, the number of features are not checked when running partial_fit. I can do a partial_fit with 3 features and then another one with 4 features (and vice versa).

I am unsure this is a correct behaviour. The input's dimens

[2015-06-29 15:45] rvraghav93 commented on #4895
Oh you mean like pickling on one and unpickling on another? hmm... There is no way to test that right?

perhaps we could check that after `_validate_vocabulary` is called the vocab is a sorted list... Would that suffice?

[2015-06-29 15:53] jnothman commented on #4895
Not in the general case, as vocabulary is intended to specify an
alternative order.

On 30 June 2015 at 01:46, Raghav R V <notifications@github.com> wrote:

[2015-06-29 18:21] adammenges commented on #4902
@agramfort: https://gist.github.com/adammenges/f92ec779a9bf7edb64d5

Running results in:

[code]

@rvraghav93: On master. ScipySuperpack just runs a `pip install -U github.com/...`

[2015-06-29 20:45] wfbradley opened #4907 "RANSAC and residual_threshold==0 (feature request)"
If the "residual_threshold" argument in RANSACRegressor is set to zero, the regression will almost certainly fail.  However, figuring out what is going on based on the error messages is not obvious:
[code]
(I believe that when residual_threshold==0.0, one of the cross-validation classes is empty, and things break.)

Because (I think?) there is no legitimate reason to set residual_threshold==0.0, a

[2015-06-30 08:30] agramfort commented on #4902
problem reproduced in master.

@rvraghav93 <https://github.com/rvraghav93> can you have a look?

[2015-06-30 09:21] rvraghav93 commented on #4902
On it :)

[2015-06-30 11:47] rvraghav93 commented on #4902
@adammenges This is a confirmed bug! Thanks for raising an issue...

Until #4909 is merged, you could do `model.best_estimator_.predict_proba(...)`

[2015-06-30 13:25] sonil22 opened #4910 "sklearn.datasets.tests.test_lfw.test_load_fake_lfw_people"
`TypeError: __init__() got an unexpected keyword argument 'compress'`

[2015-06-30 15:39] adammenges commented on #4902
Sweet! Thanks guys.

[2015-06-30 19:40] amueller commented on #4910
which version is that on? was that running the tests or installing?

[2015-06-30 19:40] amueller opened #4911 "add documentation on class_weight and sample_weight"
I think these should be documented in the quick start guide: http://scikit-learn.org/dev/tutorial/basic/tutorial.html

[2015-06-30 20:11] amueller commented on #4902
we should always delegate to ``estimator``.

[2015-07-01 00:51] jnothman commented on #4902
The correct solution is to revert #4835, and place a check `probA_` in `_predict_proba`, not `_check_proba`. I think #4791 is very close to a non-issue and shouldn't have been "fixed" so quickly. I guess for similar reasons it appeared to be minor.

[2015-07-01 01:55] rvraghav93 commented on #4902
Isn't [your comment](https://github.com/jnothman) the better thing to do here? (delegate to `best_estimator_` after fitting?)

[2015-07-01 02:26] jnothman commented on #4902
You've liked "your comment" to my github profile. And I think you're confusing the word "delegating" because one can *only* delegate to `best_estimator_` after fitting. The question is on what basis we can determine whether an estimator supports a particular functionality; perhaps we could call that "`hasattr` delegation" as opposed to "method delegation". There are cases (can't remember which now

[2015-07-01 03:06] rvraghav93 commented on #4902
Oh! haha sorry :p

Yes I meant that :) I meant for GridSearchCV alone, we could selectively delegate the hasattr such that before the `best_estimator_` is set, it is delegated (not sure if I am using this correctly now :P) to `estimator` and at the end of the fit, the first time the `best_estimator_` is set, we change the hasattr delegation to `best_estimator_` but only once, and not upon subseque

[2015-07-01 03:18] jnothman commented on #4902
I think that adds complexity and doesn't really help. Can you give me a
sensible example where that will give clearer outcomes than the current?
(I'm not sure that I consider setting fit attributes between fitting and
predicting a sensible use-case either; I see that `BaseLibSVM.probability`
is a bit special in that the user might believe/wish that setting it after
fitting would nonetheless give t

[2015-07-01 03:25] rvraghav93 commented on #4902
setting probability to True after fitting is not an issue I had in mind...

I was more concerned about similar attribute checks (like `if self.anything_ == ...`) that when introduced in the future could break the grid_search.method... since that would not be available in the unfitted estimator... pl correct me if I am wrong!!

[2015-07-01 03:28] jnothman commented on #4902
Only if they are in the descriptor/hasattr for the method, not in the
method itself.

On 1 July 2015 at 13:26, Raghav R V <notifications@github.com> wrote:

[2015-07-01 04:05] rvraghav93 commented on #4902
Ah I think I misunderstood the issue at hand! Thanks :)

[2015-07-01 07:55] ogrisel commented on #4911
Actually I am not sure the quickstart guide should grow any bigger: the goal is to get a 5min intro to sklearn. But we should probably have a new chapter / section in the narrative doc or in one of the other tutorials to highlight this feature better.

[2015-07-01 07:57] ogrisel commented on #4910
Could you also please include the full traceback?

[2015-07-01 08:01] ogrisel opened #4914 "Random failure on sklearn.linear_model.tests.test_ridge:test_class_weight_vs_sample_weight under Windows"
The following seems to happen randomly on appveyor, at least under 32 bit Python 2.7:

[code]

I have never seen this happen on travis so it might be windows-specific. The difference is large so it it probably not a trivial rounding issue.

[2015-07-01 08:06] ogrisel commented on #4914
@jmschrei could you please try to run that test several times, e.g. with:

    nosetests -s -v sklearn/linear_model/tests/test_ridge.py:test_class_weight_vs_sample_weight

to check whether you can reproduce this issue?

[2015-07-01 08:17] GaelVaroquaux commented on #4911
+1

Maybe we should have an 'overview' section at the begining of the
userguide (after the quickstart) that points to such features.

[2015-07-01 11:17] jmschrei commented on #4914
Using v0.17.dev0, under a windows machine with 64 bit Anaconda installed, I did not get an error any of the 20 times I ran this unit test. I am trying a 32 bit version now.

[2015-07-01 12:22] jmschrei commented on #4914
I cannot reproduce this error on 32 bit Anaconda either.

[2015-07-01 14:51] ogrisel commented on #4914
:sadpanda: maybe it's only happening with a specific version of numpy / scipy or implementation of blas... On appveyor we use the numpy / scipy with MKL from Christoph Gohlke.

[2015-07-01 15:21] rvraghav93 commented on #4914
This was the exact same error I tried to debug, but in vain! ;(

[2015-07-01 15:57] ogrisel commented on #4914
@rvraghav93 have you found a way to reproduce it on your dev machine?

[2015-07-01 20:28] amueller commented on #4911
I'm happy to split of the "conventions" into a new section as long as it's easy to find.

[2015-07-01 20:32] amueller commented on #4902
well producing meaningless probabilities seemed a bit odd. The fix should be pretty easy, though.

[2015-07-01 20:38] amueller commented on #4906
which version of scikit-learn are you using? I thought we fixed that in 0.16 (or 0.15?)

[2015-07-01 20:46] amueller commented on #4898
#4783 might be relevant.
The profiling above reveals that 2% of the time is spent in ``_set_oob_score``, and 86% in ``_parallel_built_trees``, right?

[2015-07-01 20:56] amueller commented on #4892
Is this for a pairwise distance? Preprocessors apart from the KernelCenterer are not really supposed to be used on that.

[2015-07-01 21:11] amueller commented on #4907
thanks for the report.

[2015-07-01 21:25] amueller commented on #4895
you you try you can create sets that are not iterated over in order. I guess if you pickle and unpickle them they will be. So it should be not that hard to reproduce.

[2015-07-01 21:35] amueller commented on #4895
[code]

[2015-07-01 23:16] verne91 commented on #4809
The script runs well after I use "n_jobs" just in one place, so I rewrite the script and the old code was lost.
And I think I should close the issue.

[2015-07-01 23:16] #4809 closed

[2015-07-01 23:34] VivekSrinivasan opened #4916 "Why can't GaussianProcess have multiple input features with the same target value?"
Hi,

If I have a relatively large dataset with multiple Y values for a single X value, I am unable to use a GaussianProcess to perform a regression on the dataset.
The error is:
[code]

Is there any reason for this? Thanks in advance

[2015-07-02 00:03] jnothman commented on #4892
Is there a reason not to support axis=None, @amueller (except in sparse
where it requires real additional work)?

On 2 July 2015 at 06:57, Andreas Mueller <notifications@github.com> wrote:

[2015-07-02 00:12] jnothman commented on #4895
Ahh right. But in contrast with my attempts to replicate, vec.vocabulary_
isn't pickled as a set; it's not the problem. vec.vocabulary is, such that
calling fit_transform after repeated unpickling will vary.

On 2 July 2015 at 07:35, Andreas Mueller <notifications@github.com> wrote:

[2015-07-02 02:12] mblondel commented on #4869
Please ask questions on the mailing-list or on stackoverflow with the sklearn tag.

[2015-07-02 02:12] #4869 closed

[2015-07-02 06:17] jnothman commented on #4877
So is there a resolution for this issue? Should a more specific issue be created?

[2015-07-02 09:21] erikbern opened #4917 "LSHForest performance"
I've been running some benchmarks of approximate nearest neighbor packages and LSHForest seems to perform very bad. See https://github.com/erikbern/ann-benchmarks

Compared to raw bruteforce it's not much faster but precision is less than 10% (whereas bruteforce is of course 100%)

There might be something wrong with my benchmark code but there might also be something weird going on with LSHForest

[2015-07-02 14:55] dtsmith2001 commented on #4898
Let me respond when I’m feeling better. Am a bit under the weather today.

Dale Smith, Ph.D.
Data Scientist
​
[http://host.msgapp.com/Extranet/96621/Signature%20Images/sig%20logo.png]<http://nexidia.com/>

d. 404.495.7220 x 4008   f. 404.795.7221
Nexidia Corporate | 3565 Piedmont Road, Building Two, Suite 400 | Atlanta, GA 30305

[http://host.msgapp.com/Extranet/96621/Signature%20Images/sig%20Blog

[2015-07-02 21:00] zacstewart opened #4920 "OneHotEncoder should accept string values"
How hard would it be to hash incoming string values, or use the LabelEncoder internally?

I'd be willing to contribute some code for this if there are no outstanding design blockers.

/cc @jnothman

[2015-07-02 21:01] davidgbe opened #4921 "Class specified in class_weight is missing in classes error"
Hi all!

I've been using sklearn's SVM for a bit, and I've encountered a small edge case in the compute_class_weight function in sklearn/utils/class_weight.py. The issue occurs at line 60. Here's some context:

[code]

Basically, we are affirming that each key (class) in the class_weight dict actually exists in the classes. The issue occurs when a class in class_weight is greater than all the valu

[2015-07-02 21:13] amueller opened #4922 "DOC add anisotropic dataset to cluster comparison?"
Maybe it is getting too much, but I think it would be interesting to add a non-isotropic gaussian example to the cluster comparison, something like

[code]
![anisotropic_kmeans_fail](https://cloud.githubusercontent.com/assets/449558/8487972/adfd79a0-20dd-11e5-9034-58645ad6e32b.png)

[2015-07-03 08:38] ibalmeida commented on #4906
0.15.1 and yes, it was fixed in the meantime. I updated the package and an exception is now raised when the first and second inputs' number of features do not match.
So focused on reporting the issue I forgot to try the obvious, my bad. Thanks you.

[2015-07-03 08:38] #4906 closed

[2015-07-03 10:52] prinsherbert opened #4923 "TfidfVectorizer's dtype seems to fail: "Array of type 'float' required. Array of type 'char' given""
I'm not sure if this is related to

    valueerror: Buffer dtype mismatch, expected 'int' but got 'long'

as described in #3307, #3235 and #4591. Nevertheless, my use case is significantly different.

I noticed that specifying a dtype in the TfidfVectorizer constructor, the fit fails:

    from sklearn.feature_extraction.text import TfidfVectorizer
    import numpy
    model = TfidfVectorizer(dtyp

[2015-07-03 15:53] rvraghav93 commented on #4914
sadly, no :( I ran it for more than 50 times :/

But interestingly I get an output that we don't get in unix... `Seeding RNGs with 1305154982` and this no. seems to change every time the test is run. Perhaps higher number of tries should give a RNG seed that will fail at some point?

[2015-07-03 21:42] xuewei4d commented on #4877
Before #4511 is merged, in the PR #4802 I am working on, the class will raise a ```ValueError``` on 1D data. @jnothman

[2015-07-04 11:57] jnothman commented on #4877
So this will be fixed by either of #4511 or #4802 being merged?

[2015-07-05 17:21] atabakd commented on #4509
Hey,
Can I ask if there is some kind of a workaround?

[2015-07-05 21:21] pengparic01 commented on #4768
I was thinking similar to the GBRT library, where you can specify the alpha value to get a certain quantile of the prediction range as the final estimate.  @glouppe Is it possible to implement?

[2015-07-05 21:28] pengparic01 commented on #4704
Hi @arjoly @amueller , I have a follow-up question ---

I've been successfully using the random_state parameter to set seed for the model; however it seems if I change the number of records to predict in the test set (e.g. if I include more records, or delete some), the prediction for each record may now be different, even if the random_state value remained the same.

Is this behavior expected?  I

[2015-07-05 21:32] pengparic01 commented on #4704
Also another question --- I am using the alpha-quantile parameter to get different percentile estimation;  but it seems there are cases where the prediction is not increasing in the alpha value.  Seems there is still randomness even after I controlled the random_state.

Is this something that can be fixed too?

[2015-07-06 07:54] arjoly commented on #4704
Do you think you could come up with a gist to reproduce your issue?

[2015-07-07 00:31] chiatungkuo opened #4929 "NMF documentation mistake on 'init' attribute"
Regarding the 'init' parameter in sklearn.decomposition.NMF class initialization, the documentation says

"Method used to initialize the procedure. Default: ‘nndsvdar’ if n_components < n_features, otherwise random."

whereas the source code suggests the default is in fact 'nndsvd' when n_components < n_features.

[2015-07-07 00:46] chiatungkuo opened #4930 "Suggestion on NMF initialization of W, H"
Below is something I found troublesome but not exactly a bug.

When setting init='random', NMF draws initial W, H from standard normal distribution and then take absolute values while the default init='nndsvd' takes values from results of randomized SVD (with small manipulations). The magnitudes of the initial W and H from the former (i.e. random) are irrespective of the data (entry-wise, but line

[2015-07-07 03:44] jnothman opened #4931 "algorithm='auto' should always work for nearest neighbors"
I don't think the following is good for users:

[code]

Why should 'auto' not default to 'brute' when trees do not support the metric? Apart from making it easier for users, a user would get an automatic benefit from using 'auto' if a tree implementation eventually appeared.

[2015-07-07 03:51] jnothman commented on #4923
At a glance, this looks like a scipy limitation in its C code wrapping. (I don't immediately get why it claims to be a char array.)

[2015-07-07 03:55] jnothman commented on #4922
I agree that is a good illustration of KMeans' limitations, without the additional complications presented by circles or moons. Whether it's worth complexifying the illustration, I'm not so sure. fwiw, `make_classification` should already introduce such skew, but perhaps this is clearer.

[2015-07-07 04:06] jnothman commented on #4917
Yes, LSHForest is somewhat an under-performer and we probably merged it prematurely. More of it will need to be implemented in Cython, and even then I'm not sure where we'll find big improvements as long as we continue to use binary searches over arrays.

Also, I've got pretty good colour distinction ability, but you've got too many similar colours in there! Perhaps vary the markers or line styles

[2015-07-07 04:11] erikbern commented on #4917
Great. Good point about the colors, will update!

[2015-07-07 06:59] prinsherbert commented on #4923
Frankly, I'm not aware of the use of a 16 bit float in C++ any recent days, but somehow there is a numpy.float16. Anyhow, I would suggest that numpy/scipy complain when numpy.float16 is used but not supported, instead of 'surprising behavior' like this.

[2015-07-07 07:29] jnothman commented on #4923
I assume OP has used float16 to minimise space costs. But halving memory
consumption seems an unlikely way to increase efficiency.

On 7 July 2015 at 17:00, Herbert <notifications@github.com> wrote:

[2015-07-07 07:42] prinsherbert commented on #4923
I was processing 32M x 32M (however sparse) matrices indeed. Nevertheless, the use case should not matter, the raised exception is not accurate imho.

[2015-07-07 08:39] jnothman commented on #4923
You mean 32M with 32M nonzeros per row? I agree scipy could be fixed to
have a better error message.

On 7 July 2015 at 17:43, Herbert <notifications@github.com> wrote:

[2015-07-07 10:54] prinsherbert commented on #4923
I mean 32M rows and 32M cols ;)

[2015-07-07 11:28] #4902 closed

[2015-07-07 11:35] dtsmith2001 commented on #4898
Hello,

Here are some timings. I’ll put the code below.

Number of cases 300000 number of features 5000

Fit training set with 100 trees.

[Parallel(n_jobs=10)]: Done   1 out of 100 | elapsed:  6.2min remaining: 615.9min

[Parallel(n_jobs=10)]: Done 100 out of 100 | elapsed: 68.3min finished

Finished entire fit took 75.6686781167984 minutes

Fit training set with 125 trees.

[Parallel(n_jobs=10)]

[2015-07-07 11:59] jianpingjwang opened #4935 "The 'predict' method of RandomForestRegressor runs too slowly when data is "Big""
Please execuse my poor English.

My codes is like this:
clf = RandomForestRegressor(random_state=0, n_estimators=100,n_jobs=4)
traindataX=StandardScaler().fit_transform(traindataX)
clf=clf.fit(traindataX,traindatay)

traindataX has 16 features and 889054 samples, each feature's value of traindataX is 0~1 before StandardScaler().fit_transform.
My machine has 4GB RAM, intel core i3 2.53GHZ CPU. Win7

[2015-07-07 12:28] jnothman commented on #4923
At what density? I hope you realise you're still going to require a 32-bit
index for each nonzero element, so float16 isn't even halving your cost.

Shall I close this as something scikit-learn won't fix, then?

On 7 July 2015 at 20:54, Herbert <notifications@github.com> wrote:

[2015-07-07 13:30] prinsherbert commented on #4923
I'm not sure about the density at this moment, why is it important? However, the matrix took approx 8GB of memory.

Yes, i do, but even 15% can just be that extra punch.

[2015-07-07 13:56] amueller commented on #4902
thanks @jnothman

[2015-07-07 14:27] xuewei4d commented on #4877
Yes. I think so. Or we create another PR to fix it? @jnothman

[2015-07-07 15:13] chiragnagpal commented on #4935
I think what is happening here is that your exhausting your RAM. And hence, some of the memory is being swapped out. Hence, during prediction you need to do multiple read write cycles from the Physical Disk, making it too slow. Here are some options to explore:
1)Reduce number of estimators
2)Reduce max_depth
3)Increase Min Split value

The above solutions come at a cost of accuracy.

The other op

[2015-07-07 16:42] jianpingjwang commented on #4935
Thanks Chirag! @chiragnagpal  I will try your great suggestions, keep in touch!

[2015-07-08 00:21] cheekybastard commented on #4935
@jianpingjwang I'm having the same issue, it might be a bug associated with the parameter 'n_jobs=' in RandomForestRegressor. If you watch your CPU load levels with 'n_jobs=4' when training your model all CPU load levels 100%, yet with prediction all CPU load levels are < 15%. Very strange for all CPUs to be close to idling, and not max out with a prediction work load.

Try setting it as ''n_jobs=

[2015-07-08 07:17] clemenscorny opened #4938 "RANSAC unexpected ValueError"
If I'm running the RANSAC-example code, everything works fine
[code]
But as soon as I try `model_ransac.fit(X, y)` with my own `y` I'm getting an error
[code]
Error message
[code]
BR Clemens

[2015-07-08 07:23] clemenscorny commented on #4938
This is my scikit-learn version:
[code]

[2015-07-08 10:17] mwjackson commented on #1837
What is the status of this?

[2015-07-08 13:08] arjoly commented on #4577
Are we sure that this is correct way to interpolate the pr-curve?

I thought that the interpolation has to be done first in the roc-space then translated into as there is a one-to-one mapping between those curve. This is highlighted in this [paper](https://www.biostat.wisc.edu/~page/rocpr.pdf).

[2015-07-08 17:19] jianpingjwang commented on #4935
@cheekybastard  Thanks!
I also find the strange CPU performance. I ever used the setting ''n_jobs=1", but the amount of time didn't satisfy me, then I tried ''n_jobs=4", hoping it will reduce the time.

Have you ever tried the Random Forests library in OpenCV? Maybe it will predict fast. I will have a try.

[2015-07-08 19:30] amaurits opened #4940 "Bug in changed parameter values (from 'l2' to 'squared_hinge') for linearSVC"
The 'loss' parameter for linearSVC used to be 'l1' or 'l2'. This was recently changed to 'hinge' or 'squared_hinge', according to the documentation. However, supplying those as parameters gives a very unhelpful error (which I believe misidentifies the loss parameter as the penalty parameter, since I'm not even touching the latter):

ValueError: Unsupported set of arguments: penalty='l1' is only su

[2015-07-09 10:38] eyaler opened #4942 "oneclasssvm crash"
using 0.16.1, i took the example in: http://scikit-learn.org/stable/auto_examples/svm/plot_oneclass.html
and changed:
X = 0.3 * np.random.randn(100, 2)  ---->  X = 0.3 * np.random.randn(100000, 2)
this causes "Process finished with exit code -1073741819 (0xC0000005)" on the oneclasssvm fit() call

[2015-07-09 12:06] jmschrei opened #4943 "GradientBoostingClassifier fails on small inputs"
On small sample sizes, GradientBoostingClassifier fails randomly, predicting entirely 0's or 1's. I have a benchmark script here (https://gist.github.com/jmschrei/d12e5d319997e00b8c03#file-gbfc_stability-py) which generates Gaussian blob datasets, and I have set the seed to an example where the classifier fails.

The sample script currently uses a single estimator with a max depth of 1, and compar

[2015-07-09 13:20] chiragnagpal commented on #4577
We could have multiple values for the interpolate parameter, that way we can add newer interpolation techniques ?

[2015-07-09 15:02] JefferyRPrice opened #4944 "Thresholding in `_samme_proba` in AdaBoostClassifier"
In the subject line function, log probability is calculated as follows (lines 287-88):

    proba[proba <= 0] = 1e-5
    log_proba = np.log(proba)

Oftentimes one encounters probabilities significantly smaller than 1.0e-5 that are still nonzero. In the current implementation, for example, the log prob of 1.0e-6 will actually evaluate higher than log prob of 0.0. It seems to me that a better implem

[2015-07-09 15:14] dtsmith2001 opened #4945 "Add coef_ to RandomForestClassifier for use with RFECV"
`RFECV.fit` gives an error when used with the `RandomForestClassifier` estimator. Please add `coef_` to record feature importances so recursive feature selection can be used with `RandomForestClassifier`.

[2015-07-09 15:16] dtsmith2001 opened #4946 "RFECV and GridSearchCV fit method does not use sample_weight"
Neither `RFECV.fit` nor `GridSearchCV.fit` take the parameter `sample_weight`. Please add this as an optional parameter to both methods. This parameter is useful for unbalanced classification.

[2015-07-09 15:57] agramfort commented on #4942
one class SVM will not scale to huge n_samples like this. You have an
overflow.

[2015-07-09 15:59] dtsmith2001 commented on #4898
Here is another experience I’m having with slow OOB updates after fitting the model. In this case, I’m not using warm_start=True.

Number of cases 147689 number of features 3253
Create classifier
[Parallel(n_jobs=20)]: Done   1 out of 300 | elapsed:   14.9s remaining: 74.7min
[Parallel(n_jobs=20)]: Done 300 out of 300 | elapsed:  3.9min finished
Finished fitting model in 24.12037845055262 m

3.9 m

[2015-07-09 16:00] rvraghav93 commented on #4946
Duplicate of #4632 See #4497 for discussion... :)

[2015-07-09 16:01] rvraghav93 commented on #4497
@amueller @vene @GaelVaroquaux @jnothman this will be the next thing I'll work on... Which route do I take?

[2015-07-09 16:04] #4946 closed

[2015-07-09 16:17] glouppe commented on #4945
Would you have a small script to reproduce your error? `RFE` should already take `feature_importances_` into account. See https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_selection/rfe.py#L180

[2015-07-09 16:18] eyaler commented on #4942
i have also seen the same problem using 10000 samples with 10 dimensions

[2015-07-09 16:39] agramfort commented on #4942
please share a full script on gist.github.com so we can reproduce.

[2015-07-09 16:42] dtsmith2001 commented on #4945
Here is the code

[code]

Here is the error message

[2015-07-09 18:25] glouppe commented on #4935
What version of scikit-learn are you currently using?

[2015-07-09 18:55] glouppe commented on #4945
Strange, I just tested with 0.17-dev and it works. Was there any update related to this RFE since the release? cc @amueller

[2015-07-09 19:18] dtsmith2001 commented on #4945
I do not know. I didn't check the dev branch.

[2015-07-09 23:42] cheekybastard commented on #4935
I'm using version: '0.17.dev0'

[2015-07-10 06:50] glouppe commented on #4945
I checked the history and indeed this has been fixed in 0f0e58d35ed20edcacbf7e7566df4af004c5a29c

For the time being, please use the dev version if you need this to work.

[2015-07-10 06:50] #4945 closed

[2015-07-10 11:58] arjoly commented on #4577
ping @amueller, @glouppe @jnothman

[2015-07-10 12:59] nidleo opened #4948 "sklearn.preprocessing.normalize returns 'csc' sparse matrix if axis=0"
This happens even if input was 'csr'.
copy = False does not help as well. This may cause some bugs or performance degradation if the following computations assume the matrix is 'csr'

[2015-07-10 14:21] sauliusl opened #4949 "GridSearchCV should accept factory functions for estimators"
According to the current [documentation](http://scikit-learn.org/stable/modules/generated/sklearn.grid_search.GridSearchCV.html), `GridSearchCV` accepts  *object type that implements the “fit” and “predict” methods* as the `estimator` parameter.
While fine for most, certain use cases are made quite unintuitive by this API.

For instance, consider the [`AdaBoostClassifier`](http://scikit-learn.org/

[2015-07-10 18:05] Shraddha96 commented on #4803
I'm taking this one up for contribution

[2015-07-10 23:25] dashesy commented on #4784
is there any workaround in 0.16.1?

[2015-07-11 07:34] betatim commented on #4949
There is a (not so well known) feature of `GridSearchCV` that let's you specify parameters for sub-components (like algorithms inside a `Pipeline`). You can use that to change the `max_depth` of the `base_estimator`. You can set different `base_estimator`s in the parameter grid as well.

[code]

The only wart is that you have to explicitly set the `base_estimator` when instantiating your `AdaBoost

[2015-07-11 13:47] amueller commented on #4931
I think I reported this in some other place, the harvesine hat similar problems.

[2015-07-11 13:48] amueller commented on #4922
maybe just add this dataset to an existing k-means example?

[2015-07-11 13:49] amueller commented on #4920
I think this is a good idea (and I think a duplicate issue).

[2015-07-11 13:52] amueller commented on #4892
No, I think it would actually be cool.

[2015-07-11 13:53] amueller commented on #4882
@planomania any progress? Otherwise I'd add this to the sprint.

[2015-07-11 14:55] dotsdl commented on #4614
Happy to work on this. Seems like a nice jumping off point for getting acquainted with the details of the package structure.

[2015-07-11 15:01] amueller commented on #4920
This is a duplicate of #4883 right?

[2015-07-11 15:05] amueller commented on #4784
@dashesy increase the epsilon. you have no core samples.

[2015-07-11 15:06] amueller commented on #4882
PR in #4937.

[2015-07-11 15:09] amueller commented on #556
closing as done.

[2015-07-11 15:09] #556 closed

[2015-07-11 15:10] amueller commented on #857
closing as to broad

[2015-07-11 15:10] #857 closed

[2015-07-11 15:20] mrphilroth commented on #4940
I'll try and take this to start the sprint.

[2015-07-11 15:23] stephen-hoover commented on #4929
I'll take a look at this.

[2015-07-11 15:37] amueller commented on #4949
I think there was an issue on better documentation of the ``__`` but I can't find it now :-/ We should move the "conventions" section of the quick-start guide and make it more complete / rename it to "general principles" or something.

Does setting the ``base_estimator`` in the grid search work? It should, right?

[2015-07-11 15:43] copyconstructor commented on #4895
@amueller I'll take a stab at this.

[2015-07-11 15:43] vinc456 commented on #3594
Taking this for SciPy2015 sprints.

[2015-07-11 15:43] amueller commented on #4948
This should not cause bugs, as all algorithms that  accept sparse matrices will convert.
The sparse format output is not specified. If an algorithm needs a specific format, it should convert. Where did you see performance degradation? We might consider adding a conversion in the algorithm for efficiency.

[2015-07-11 15:49] amueller commented on #4944
Or even smaller? Any idea @ndawe @glouppe ?

[2015-07-11 15:52] zacstewart commented on #4920
Looks like it.

[2015-07-11 15:53] amueller commented on #4944
can you give a synthetic dataset / sniplet where this is a problem?

[2015-07-11 15:54] GaelVaroquaux commented on #4929
Fixed by #4952

[2015-07-11 15:54] #4929 closed

[2015-07-11 16:14] stephen-hoover commented on #4944
Suggestion: This line could be `proba[proba < np.finfo(proba.dtype).eps] = np.finfo(proba.dtype).eps`. I can make a PR for that if there's not a good reason for the 1e-5 minimum.

[2015-07-11 16:17] betatim commented on #4949
Looking a bit more closely now I think my previous comment from this morning is wrong.

[code]

Gives the following. With `max_depth` set to `None` instead of one which is the best setting according to `gs.grid_scores_`
[code]

Without reading the code it is hard to tell if it uses the `base_estimator__max_depth` during the actual grid searching but then somehow doesn't set it when retraining the

[2015-07-11 16:23] glouppe commented on #4943
Can you try setting `learning_rate` to a higher value, say `learning_rate=1.0`?

I would say this is due to the fact that a single tree with `learning_rate=0.1` is not enough to correct for the predictions of the `init` model, hence the the observed behaviour. CC: @pprett

[2015-07-11 16:32] amueller commented on #4577
Having multiple strategies is probably a good idea. I think VOC and vl_feat are pretty good references, but that is because I'm from the computer vision community. Other communities might have different conventions, and interpolating AUC in the precision/recall space does seem a bit odd.

[2015-07-11 16:33] amueller commented on #4577
[I haven't really put any thought into it though]

[2015-07-11 16:35] nealchau commented on #4907
should this be compared to 0.0 directly e.g. residual_threshold==0.0 or checked for some minimal tolerace e.g. abs(residual_threshold)<1e-9?

[2015-07-11 16:38] amueller commented on #4949
looks like a bug in ``AdaBoostClassifier.set_params``

[2015-07-11 16:39] nidleo commented on #4948
performance degradation would happen if I do various computations that rely on efficient row-wise access rather than column-wise access. e.g. some of statistics that are done per-row. I have a huge sparse matrix and it makes a difference.

A bug happened since I have my own algorithms that do lots of number crunching for sparse data and access the data\indices\indptr fields directly. These fields

[2015-07-11 16:42] amueller commented on #4907
There should be a better error message that includes the residual_threshold. I think having 0 could work in some situations and I don't see a reason to prohibit it.

[2015-07-11 16:58] amueller commented on #4940
This was an issue in the error message, I think. Can you check it works now?

[2015-07-11 16:58] #4940 closed

[2015-07-11 16:59] ubieting commented on #4804
Working on it for scipy 2015 sprint.

[2015-07-11 17:04] amueller commented on #4948
In general we try to convert to the efficient format for an algorithm. You can not guess what the next algorithm will expect, so trying to convert will actually add more unnecessary conversions.

Your bug happens because you made an assumption about the inner workings of normalize.

You can benchmark whether doing normalization in CSR is faster than converting to CSC and then normalizing. If that

[2015-07-11 17:05] stephen-hoover commented on #4892
I can work on this, but it appears that none of the Scalers accept an "axis" argument. All of them operate only on single features independent of the other features. Should I add an "axis" argument to all of them, accepting inputs of [0, ..., ndim-1] or None (defaulting to 0)?

[2015-07-11 17:09] amueller commented on #4943
yeah doesn't look like a bug to me. setting learning_rate=1 fixes it.

[2015-07-11 17:09] #4943 closed

[2015-07-11 17:15] amueller commented on #4892
ndim is always 2. I thought we had an axis in the scalers but it seems that is only for the function interface. Which I feel is slightly odd.
Maybe just add 0 or None, defaulting to 0 for now. That would make sense for both MinMaxScaler and StandardScaler.

[2015-07-11 17:16] untom commented on #4892
I once tried introducing an `axis` argument to all scalers back in #2514, but IIRC the problem was that having ``axis=1`` does not make sense for scalers and is likely overengineering (see here: https://github.com/scikit-learn/scikit-learn/pull/3639#issuecomment-64423177 ). Since then, I have started agreeing with the viewpoint: most of sklearn assumes a Samples by Features format, and normalizing

[2015-07-11 17:18] amueller commented on #4892
we could add the additional axis=None to the function interface? not sure though.

[2015-07-11 17:20] untom commented on #4892
Not sure how it affects the original issue in this thread (e.g. if the application scenario involves fitting a scaler on a training set and applying it on the test data or not)

[2015-07-11 17:20] stephen-hoover commented on #4892
I think that it's useful to allow the "axis=None" option, but that might not be the best option name. What if the Scalers took an option "grouped=False"?

[2015-07-11 17:24] amueller commented on #4935
you should probably use some regularization. You are building trees to full depth with 889054 samples. So the trees will likely be gigantic. I don't think it will come at a cost of predictive power, it will probably improve it.

[2015-07-11 17:24] amueller commented on #4935
can you maybe benchmark the prediction with n_jobs=1 and n_jobs=4?

[2015-07-11 17:45] mrphilroth commented on #4922
I can work on this. I can't find a suitable k-means example to add this to. I'll start by adding the dataset to the full cluster algorithm comparison example to see if that works.

[2015-07-11 17:49] nidleo commented on #4948
I agree it was a wrong assumption, but a natural one. Potentially changing representations is another detail to keep in mind which may cause bugs. I don't think conversion is more efficient.

In anyway, the copy=False flag did not have any effect when the input is a csr matrix. It was left unchanged the the output was a new csc one. (axis=0)

[2015-07-11 17:51] amueller commented on #4948
that is the expected behavior. copy=False means "use in-place when possible". As the matrix was not in the right sparse format, it needed to be copied..
Can you provide a benchmark that not converting will be as fast?

[2015-07-11 17:52] amueller commented on #4774
closed by #4783.

[2015-07-11 17:52] #4774 closed

[2015-07-11 20:13] dotsdl commented on #4724
Working on this one now.

[2015-07-11 20:46] amueller commented on #4724
thanks :)

[2015-07-11 20:53] amueller commented on #4946
you can use it in GridSearchCV.fit using ``fit_params``. So it is possible, only the interface is not great.

[2015-07-11 20:59] amueller commented on #4497
@rvraghav93 I think I would rather work on nesting grid-search and EstimatorCV. @vene what do you think? I have a PR that the sample props partially in #4696. The main issue was that we don't have that many use-cases and that we have ill-specified requirements. For the nesting grid-search and EstimatorCV, it is pretty clear what needs to happen, I think.

[2015-07-11 20:59] amueller commented on #4497
Sorry, I'm catching up still.

[2015-07-11 21:03] amueller commented on #4898
Why do you think this happens when computing the OOB scores?

[2015-07-11 21:11] amueller commented on #1837
@mwjackson It is part of @rvraghav93's google summer of code this year. nothing finished yet, though.

[2015-07-11 21:14] amueller commented on #4938
Thanks for the report. There are no inliers with your choice of threshold. Closing as duplicate of #4907, better error message in #4956.

Let me know if that doesn't solve your issue.

[2015-07-11 21:14] #4938 closed

[2015-07-11 21:15] amueller commented on #4877
Yes. Well the fixed version of #4511. The current version is bs.

[2015-07-11 21:24] JefferyRPrice commented on #4944
I'm in favor of what @stephen-hoover proposes. (If in C/C++, I'd use DBL_MIN.)

I can pose a simple, sort of degenerate, example. Suppose a two-tree AdaBoosted Decision Tree classifier for a two-class problem. Suppose that for some feature vector the terminal leaves have probabilities $p^{1} = [1.0 - 1e-6, 1.0e-6]$ and $p^{2} = [0.0, 1.0]$ for the first and second tree, respectively. With the curr

[2015-07-11 21:27] amueller commented on #4923
This is a bug in scipy that is fixed in 0.14.1. Update your scipy and it'll work.

[2015-07-11 21:27] #4923 closed

[2015-07-11 21:28] amueller commented on #4944
It would be cool to come up with an actual regression test. I understand the problem, I was just hoping for a data example.

[2015-07-11 21:32] amueller commented on #4942
possibly related: #4646.

[2015-07-11 21:32] mrphilroth opened #4959 "cluster_std argument of make_blobs does not behave as advertised"
The docs advertise that cluster_std can be a sequence of floats, but this does not work.

[code]

results in

[code]

I should have a PR for this soon.

[2015-07-11 21:40] amueller commented on #4922
As I said, I don't think this should be added to the cluster comparison because this example would become too large (it already is). Replacing one of the k-means examples with a more illustrative one might be better.

[2015-07-11 21:42] amueller commented on #4959
thanks :)

[2015-07-11 21:45] JefferyRPrice commented on #4944
Unfortunately I don't have anything immediately available. If I had a bit more time (about to leave on vacation), I'd create something based on the toy example I provided. I can do so when I return if it would help. I actually encountered the problem in a very complicated way. I'd ported my classifier to C++ by writing code to generate the C++ files from my Python classifier, even duplicating the

[2015-07-11 21:47] stephen-hoover commented on #4944
I will write up this PR, and I'll see if I can come up with a test case of some kind.

[2015-07-11 21:48] amueller commented on #4906
np, thanks for reporting.

[2015-07-11 21:55] amueller commented on #4704
yeah in particular the first shouldn't happen. please provide code to reproduce.

[2015-07-11 21:59] mrphilroth commented on #4922
I'm working on a k-means example based on your example and others I found here:
http://stats.stackexchange.com/questions/133656/how-to-understand-the-drawbacks-of-k-means

I'm close to having something together. Then we can debate adding, replacing, or ignoring it. :)

[2015-07-11 22:22] amueller commented on #4944
thanks :)

[2015-07-11 22:25] amueller commented on #4930
sounds good. can you provide a sniplet with synthetic data to reproduce the error? Ideally it would only use a small dataset.

[2015-07-11 22:36] stephen-hoover commented on #4944
Tangentially related question: Why does `_samme_proba` take "n_classes" as an input? The output of `predict_proba` has shape (n_examples, n_classes). Taking an extra n_classes input seems unnecessary. Is that something I could / should change with the same PR?

[2015-07-11 22:54] amueller commented on #4944
I prefer doing a single thing in a PR.

[2015-07-12 01:40] jianpingjwang commented on #4935
@glouppe I'm using scikit-learn 0.16.

[2015-07-12 01:43] jianpingjwang commented on #4935
Please excuse me, I typed wrong, there are about 400000 samples.

[2015-07-12 01:58] jianpingjwang commented on #4935
@amueller Thanks, I will try regularization. The prediction times of the two setting are almost the same.

[2015-07-12 02:02] jianpingjwang commented on #4935
The random forest library of OpenCV provides an interactive prediction with the same dataset and parameters, much faster than scikit-learn.

[2015-07-12 11:20] #4882 closed

[2015-07-12 12:07] larsmans commented on #4895
Or we should raise a `TypeError` in that case. We already have support for dictionaries.

[2015-07-12 12:18] #4907 closed

[2015-07-12 16:42] vinc456 commented on #4732
I'll take this for the SciPy 2015 sprint.

[2015-07-12 18:41] amueller commented on #4687
All attributes need documentation.

[2015-07-12 18:52] amueller commented on #4944
Not sure about the ``n_classes``, should not be needed.

[2015-07-12 19:05] sonnyhu opened #4969 "ref in bayes.py is broken"
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/bayes.py#L28

I did not see link for `<bayesian_regression>` on the document. Is it broken? Or did i miss something? Thanks.

[2015-07-12 19:14] amueller commented on #4732
the fixture for ``working_with_text_data.rst`` uses ``check_skip_network``, I think we should use mocked data like in mnist. it is just for a doctest.

[2015-07-12 19:17] amueller commented on #4969
The link seems to work: http://scikit-learn.org/dev/modules/generated/sklearn.linear_model.BayesianRidge.html#sklearn.linear_model.BayesianRidge or I'm missing something?

[2015-07-12 19:18] amueller commented on #4969
are you looking at the stable documentation maybe?

[2015-07-12 19:22] sonnyhu commented on #4969
Ha, sorry, I was looking at version 0.16.1. Thanks!

[2015-07-12 19:22] #4969 closed

[2015-07-12 19:31] amueller opened #4970 "LDA/ QDA user guide not that great"
I feel the user guide on LDA and QDA could use some attention.
It doesn't really explain the transformation (how many dims) and I feel the mathematical description could be more intuitive.

[2015-07-12 19:34] amueller commented on #4742
from #4951:

* I think the installation guide http://scikit-learn.org/dev/install.html is WAY TO MUCH.
* I think the install.html should only mention installing binaries / distributions, not compiling
* Anything that involves compilation should go to https://github.com/scikit-learn/scikit-learn/tree/master/doc/developers.

[2015-07-12 19:36] amueller commented on #4935
really? That is pretty surprising. Can you give the parameters and timing results?

What do you mean by "the two settings"?

[2015-07-12 19:40] amueller commented on #4917
how does the ball tree compare to the rest?

[2015-07-12 19:41] amueller commented on #4917
Also, should we maybe deprecate and remove it? @ogrisel are you planning to work on it in the near future?

[2015-07-12 20:33] amueller commented on #4509
simple workaround: don't use 1d arrays ;)

[2015-07-12 20:48] amueller commented on #4914
@rvraghav93 did you use the exact same version as appveyor?

[2015-07-12 21:12] #4724 closed

[2015-07-12 21:17] amueller commented on #4916
I remember this popping up before, but I don't remember what the conclusion was. With a nugget this should be possible, I think. maybe @jmetzen or @jakevdp know?

[2015-07-12 21:19] amueller commented on #4921
Thanks @davidgbe. Do you want to create a pull request with a  test?

[2015-07-12 21:30] davidgbe commented on #4921
Absolutely! I'll try to get to it later today.

[2015-07-12 21:35] amueller commented on #4921
sweet, thanks. No rush :)

[2015-07-12 21:52] amueller commented on #4577
The IR book also seems to interpolate the precision / recall curve. So I think that should be the right thing do to? http://nlp.stanford.edu/IR-book/html/htmledition/evaluation-of-ranked-retrieval-results-1.html

[2015-07-12 21:54] amueller commented on #4914
See for example https://ci.appveyor.com/project/sklearn-ci/scikit-learn/build/1.0.975/job/4x6ixf8bx0j9j3dr

[2015-07-12 21:55] amueller commented on #4914
x and y are the other way around in this one, though?!

[2015-07-12 21:55] dotsdl commented on #4639
Working on this one now.

[2015-07-12 21:58] amueller commented on #4914
locally I get entirely different numbers :-/

[2015-07-13 05:38] glouppe commented on #4742
+1 for such a change

[2015-07-13 05:59] GaelVaroquaux commented on #4742
Sounds good. With probably a link to the dev docs for people to find the
compilation instructions.

[2015-07-13 09:13] jnothman commented on #4917
Sorry, i had plans to work on its efficiency, but things have exploded on
my end.

On 13 July 2015 at 05:41, Andreas Mueller <notifications@github.com> wrote:

[2015-07-13 10:42] dtsmith2001 commented on #4898
I do not know at this point; I haven't had time to examine the code.

[2015-07-13 11:12] jianpingjwang commented on #4935
@amueller
The parameter of OpenCV is like this:
CvRTParams(
			5000,
			1,
			0,
			false,
			16,
			0,
			true,
			4,
			100,
			0.001f,
			CV_TERMCRIT_EPS
			));

The scikit-learn's parameter's clf = RandomForestRegressor(random_state=0, n_estimators=100)
Later I will give the timing results.

"the two settings" means the setting of "n_jobs=1" and "n_jobs=4".

[2015-07-13 11:22] glouppe commented on #4935
Hi,

The comparison is not fair because OpenCV default hyper-parameters are
different from ours. In particular, they use stopping criteria different
from ours. For a fair comparison, you should set parameters as follows.
This would mimick what we do in RandomForestClassifier:

CvRTParams(
1000000, // <- this
1,
0,
false,
16,
0,
true,
sqrt(n_features),  // <- this
100,
0.0f,  // <- this
CV_TERMCRIT

[2015-07-13 12:02] wcanka opened #4973 "Failed nose test, traceback"
Hello

I have tried to install and import the sklearn module into Python34, but failed.
I tried to make the installation test with the following command:
C:\Python34\python.exe -c "import nose; nose.main()" -v sklearn
And the traceback was:
========================================
FAIL: sklearn.tests.test_metaestimators.
----------------------------------------
Traceback (most recent call last):

[2015-07-13 17:07] jakevdp commented on #4916
I'm not sure.

[2015-07-13 17:40] avszg4 commented on #4474
python 2.7.10
scipy 0.15.1
numpy 1.9.2
scikit-learn 0.16.1

I am getting the same Traceback. Any more words of wisdom would be wonderful, as I am a newcomer.

Thanks
Alex

[2015-07-13 20:49] chiatungkuo commented on #4930
Thanks for your notice. The exact example where fit() function resulted in immediate termination was from a larger tfidf arrays I was using to do topic modeling.
Below is a very simple example that demonstrates such undesirable behavior but not the extreme immediate termination.

######################################################################
import numpy as np
from sklearn.decomposition im

[2015-07-13 20:54] lesteve commented on #4973
Given that you are using Windows, I would strongly advise you to use the Anaconda distribution.

[2015-07-14 06:28] jmetzen commented on #4916
I don't remember a discussion. But I don't see a reason why multiple identical inputs with different outputs should not be possible. Without a "nugget" or with a very small nugget the result might become numerically unstable and the GP might oscillate wildly (you assume a process with near-zero noise but have different observations for the same input) but with a sufficiently large nugget there sho

[2015-07-14 07:45] agramfort commented on #4577
fair enough

[2015-07-14 21:35] poldrack opened #4976 "metrics.mutual_info_score hangs when given real vectors"
I accidentally passed two real vectors to this function, and it ended up completely hanging my mac, requiring several hard reboots until I discovered the issue (version 0.16.1, mac os x 10.10).  Should probably validate the inputs to prevent this.

[2015-07-14 23:38] edsonduarte1990 commented on #4942
@eyaler it worked for me, no crash. Have you changed anything else?

[2015-07-15 09:25] donnemartin opened #4978 "Typo in CONTRIBUTING.md"
In line 43, it says this:

```Finally, go to the web page of the your fork of the scikit-learn repo```

It seems like it should be this instead:

```Finally, go to the web page of your fork of the scikit-learn repo```

[2015-07-15 09:30] #4978 closed

[2015-07-15 09:57] eyaler commented on #4942
nothing else

[2015-07-15 12:06] sauliusl commented on #4949
Regardless of the bug in `set_params`, I still think the alternative interface for grid search is worth considering. As per my initial post.

[2015-07-15 14:51] SPL361 commented on #4970
I will have a go at this, for my first contribution to scikit-learn.

[2015-07-15 19:15] betatim commented on #4949
Did a bit of digging, if you run the example I posted above `gs.fit(X,y)` eventually ends up on line 261 of `base.py` (`set_params` in `BaseEstimator`).

It retrieves the 'default' `base_estimator` from `valid_params` which contains the instance I passed to `AdaBoostCl...`'s constructor. Then it goes on to set the `base_estimator` property to one from the parameter grid (the one with `max_features

[2015-07-15 22:01] GaelVaroquaux commented on #4949
Accepting a factory is something that I believe we should not consider. Indeed, it would really break a lot of mechanisms, in particular that of clone.

[2015-07-16 05:58] evanfeinberg opened #4982 "Custom indices for Nystroem approximation and other kernel methods"
Hi,

It would be really helpful if one could use a priori chosen landmark points for the Nystroem approximation and other kernel methods. For example, in:

[kernel_approximation.py](https://github.com/scikit-learn/scikit-learn/blob/9d9e99a27e93ad4ebbc4de397a5b74b441cbec48/sklearn/kernel_approximation.py)

in lines 470-472, these are chosen by some random permutation technique:

inds = rnd.permutat

[2015-07-16 06:27] evanfeinberg commented on #4982
As a clarification, what I'm proposing would be to just add a variable called "basis"

[code]

[2015-07-16 11:49] ogrisel commented on #4914
For the record here are the expected coefficient values (when the test pass, e.g. under Linux or OSX in my case):

[code]

[2015-07-16 14:00] ogrisel commented on #4914
So the problem is only seen for `RidgeClassifierCV`. It looks is some numerical instability with the generalized CV procedure under windows. Maybe we could reduce the imbalance a bit, e.g. with weights between 1 and 10 instead of 1 and 100.

[2015-07-16 14:11] andrewww opened #4985 "Issue with sparse matrices in MiniBatchKMeans, possible issue with assign_rows_csr"
I apologize for not debugging this further, but I do not and cannot have a development environment on my machine. In trying to figure out [this StackOverflow question][http://stackoverflow.com/questions/31337217/scikit-learn-minibatch-kmeans-sparse-vs-dense-matrix-clustering/31456290#31456290]. I determined that (at least on my/our platforms) assign_rows_csr is zeroing the output matrix before cop

[2015-07-16 14:13] GaelVaroquaux opened #4986 "Build docs and run examples with CircleCI"
CircleCI allows much more power and storage space compared to travis.

We should use it to build docs and run example.

We just did it in nilearn (massive doc downloads and build times):
https://github.com/nilearn/nilearn/pull/679

[2015-07-16 15:35] rvraghav93 commented on #4986
+10

[2015-07-16 16:07] SPL361 commented on #4970
I have made a pull-request from my fork, where I have changed only one file, the documentation file lda_qda.rst. However the pull-request shows a large number of modified files; I seem to have done something wrong. Could someone more familiar with github explain what is going on? Thanks

[2015-07-16 16:37] psinger opened #4988 "preprocessing.normalize: ValueError: Buffer dtype mismatch, expected 'DOUBLE' but got 'float'"
Hi all,

I am currently running this line:

[code]

Where matrix is a pretty large scipy.sparse.csr_matrix with dimension of around 9,000,000 times 9,000,000. The issue I have with running this command is:

[code]

I think the reason for that is actually an overflow in the index list of the sparse matrix somehow. I had something similar a while ago in numpy:
https://github.com/numpy/numpy/issues/5

[2015-07-17 07:10] lesteve commented on #4970
You'd be better off asking for technical help in your PR, i.e. #4987.

[2015-07-17 07:18] fdrong opened #4989 "from sklearn.datasets import load_iris error"
Traceback (most recent call last):
  File "E:/project/pycharm/project/clean_data/test6.py", line 8, in <module>
    from sklearn.datasets import load_iris
  File "C:\Anaconda\lib\site-packages\sklearn\datasets\__init__.py", line 24, in <module>
    from .twenty_newsgroups import fetch_20newsgroups
  File "C:\Anaconda\lib\site-packages\sklearn\datasets\twenty_newsgroups.py", line 53, in <module>

[2015-07-17 07:42] anguyen8 commented on #4688
@dnlbunting : Hi, would you kindly share your implementation as open-source somewhere? I'd greatly appreciate that. :)

[2015-07-17 08:14] Shraddha96 commented on #4989
Are you using ipython? I've worked on the iris dataset successfully on IPython

[2015-07-17 09:24] ogrisel commented on #4986
That's a good idea. What is the build time limit? running optipng is really really long.

Also we would need to migrate the site to github pages first to avoid having to do an rsync with secret credentials that will be complicated to manage on the circle ci bot.

[2015-07-17 09:25] amueller opened #4990 "Huber loss regression in linear models?"
I just realized we have a huber loss for SGD but we don't have a nice "out of the box" solver for huber loss. Is there any reason for that? Should we add a HuberRegressor? Or add a loss to ridge / LinearRegression?

[2015-07-17 09:38] agramfort commented on #4990
I would make it a separate estimator.

On Fri, Jul 17, 2015 at 11:25 AM, Andreas Mueller <notifications@github.com>
wrote:

[2015-07-17 09:41] acquayefrank opened #4991 "Scikit-Learn Site is down"
Hi, This may not be the right channel to report this but the sci-kit learn site is down,  making it difficult to access the documentation.

[2015-07-17 09:44] GilJ commented on #4991
Couldn't this be hosted using gh-pages?

[2015-07-17 09:55] ogrisel opened #4993 "Move website to github pages"
As you have observed, sourceforge.net is not a very reliable host. Furthermore it would be simpler to update the documentation if we used the github.io / github pages system.

There are some limitations though:

- it's apparently not possible to setup HTTP 301 / 302 redirects for instance from `/` to `/stable` for the home page.
- I am not sure github.io will allow us enough space to host all the

[2015-07-17 09:58] glouppe commented on #4993
What about https://help.github.com/articles/redirects-on-github-pages/?

[2015-07-17 10:22] ogrisel commented on #4993
They use jekyll to generate the site (we use sphinx instead). This jekyll feature makes it possible to generate HTML meta refresh tags but it's not an HTTP 301 or 302 either.

[2015-07-17 10:52] ogrisel commented on #4993
@GaelVaroquaux @amueller I think might be interested in this discussion.

[2015-07-17 13:03] amueller commented on #4993
I'm fine with html redirects. FYI I'm just building the docs and plan to upload here so that I have something for my tutorial today: https://github.com/scikit-learn/scikit-learn.github.io

[2015-07-17 13:04] amueller commented on #4993
I think there is no harm in putting the site up there, we should download the old pages from sourceforge once it is up again, and upload them there, too. Once we tested it and it works, we can change the dns.

[2015-07-17 13:05] amueller commented on #4991
yes it could be. there are some restrictions to hosting on github but we will move there. See #4993.

[2015-07-17 13:05] #4991 closed

[2015-07-17 13:06] amueller commented on #4986
+1 on both accounts.

[2015-07-17 13:17] amueller commented on #4993
http://scikit-learn.github.io/dev/

[2015-07-17 13:22] ndawe commented on #4944
There is no good reason for 1e-5. @stephen-hoover has the better solution. Thanks!

[2015-07-17 13:50] seanlaw opened #4994 "Providing Starting Values to TSNE"
Please see initial thread on <a href="http://stackoverflow.com/questions/30066268/provide-starting-positions-to-t-distributed-stochastic-neighbor-embedding-tsne/30066781?noredirect=1#comment50913721_30066781">stackoverflow</a> between Andreas and I.

I've modified TSNE to accept initial starting positions via a numpy.ndarray (`init=array`) and added the ability to handle `early_exaggeration=None`,

[2015-07-17 14:46] ogrisel commented on #4993
Great, I think we can use a symlink to create `stable` folder that points to the folder of the latest static release folder (e.g 0.16.1 at the moment).

[2015-07-17 23:30] evanfeinberg commented on #4982
OK, so I tried it out and it worked, but instead of adding a basis option to fit() I added it to the initialization method for the Nystroem class. If anyone's interested in incorporating this, here is the code:

https://gist.github.com/evanfeinberg/43e2b7e7d358565d6364

Best,
Evan

[2015-07-18 07:29] yangj1e opened #4996 "The shape of threshold returned by precision_recall_curve"
In the `sklearn.metrics.precision_recall_curve` documentation,

But as the example below shows,

    ...

    array([ 0.35,  0.4 ,  0.8 ])

the shape of threshold is not `len(np.unique(probas_pred))`.

[2015-07-18 15:04] sonnyhu commented on #4752
I will take a shot on this.

[2015-07-18 16:02] eklam opened #4997 "Move documentation out of source forge"
I just initiating with sklearn it is a great library and the best, the documentation is awesome.

But, not for the first time, a cannot access any links in SourceForge:

Only a very limited set of project pages are available until the main website returns to service.

I urge you to move the documentation to elsewhere possibly to GitHub Wiki or GitHub pages.

[2015-07-18 16:08] GaelVaroquaux commented on #4997
Closing as duplicate of #4993

There are some technical difficulties that make moving not easy. In other terms: github doesn't do as much as sourceforge. We'd love to move. We do have to tackle these difficulties.

[2015-07-18 16:08] #4997 closed

[2015-07-18 21:18] asmeurer commented on #4993
You can do a redirect in html. See for instance https://github.com/sympy/sympy_doc/blob/gh-pages/index.html

[2015-07-18 22:29] hlin117 opened #4998 "dual_coef_ in help(sklearn.svm.SVC) is formatted wrong"
If you do

[code]

and take a look at the docs, under `Attributes`, you'll see this.

<img width="638" alt="screenshot 2015-07-18 15 23 05" src="https://cloud.githubusercontent.com/assets/1865885/8763744/607573a0-2d61-11e5-93ec-3e52960d2fd1.png">

My guess is that the newline characters might be windows newline characters, not unix

`sklearn.svm.SVR` does not have this problem. But `sklearn.svm.Li

[2015-07-19 01:38] rasbt opened #4999 "Link to the documentation mirror"
Sourceforge seems to have some issues so that the "official" scikit-learn documentation hasn't been reachable for the last couple of days. I am not sure if the mailing list is also affected, which is why I wanted to raise this question here.

I think it would be a good idea to add https://scikit-learn.github.io/dev/ as alternative to "Important Links" section in the README.md in the GitHub repo fo

[2015-07-19 06:07] hlin117 commented on #4999
Check out #4993

[2015-07-19 06:11] hlin117 opened #5000 "Add `continuous_features` option to MinMaxScaler"
It seems that the MinMaxScaler operates on each feature in the dataset, but this is undesirable if some of the features are categories. It might be better to add an option to transform only certain features in the dataset.

[2015-07-19 16:00] #4998 closed

[2015-07-19 16:59] hlin117 opened #5003 "Add fixed width binning for discretization"
I notice this project doesn't have any binning methods. It'd be helpful to add at least fixed width binning when preprocessing data.

[2015-07-19 17:26] #4744 closed

[2015-07-19 19:22] hlin117 commented on #4993
Unfortunately it seems that the google search bar on the top still links to the source forge pages. Can this be resolved?

[2015-07-19 19:31] GaelVaroquaux commented on #4993
Right now, the stable doc is missing to switch the DNS.

[2015-07-20 06:52] amueller commented on #4993
I was hoping we can pull all old stable docs from sourceforge. doesn't look like it. I'll built 0.16.2 now.

[2015-07-20 06:53] amueller commented on #4993
Who has the DNS? @ogrisel ? I vaguely remember @stefanv being involved.

[2015-07-20 07:03] stefanv commented on #4993
DNS was transferred to Olivier.

[2015-07-20 07:11] amueller commented on #4993
thanks

[2015-07-20 09:08] amueller opened #5004 "Add table / dictionary for good parameter values"
I feel we should add good grids to search over for all estimators, both in the docs and as a dict.
I think a good source would be https://github.com/automl/auto-sklearn
and possibly carret.

[2015-07-20 09:18] amueller commented on #4993
I have problems uploading the stable website. I get build errors despite there being a ``.nojekyll``.

[2015-07-20 09:27] amueller commented on #4993
should be good now. Please everybody check. @ogrisel can you do the DNS move?

[2015-07-20 09:30] GaelVaroquaux commented on #4993
Clicking on 'home' in the upper toolbar, switches from stable to dev
website. I think that this must be addressed.

[2015-07-20 09:33] GaelVaroquaux commented on #4993
Another thing that would be 'good to have', is removing the older docs
from the documentation page, as these will give broken links. I think
that it's fine to just remove them and not worry about them.

[2015-07-20 09:33] amueller commented on #4993
I'm currently building 0.15, I'll remove the rest for now maybe

[2015-07-20 09:34] amueller commented on #4993
oh yeah there was a bug in the menu bar. I'll fix that now.

[2015-07-20 09:58] amueller commented on #4993
added 0.15, doing the fixed for 0.16 now

[2015-07-20 11:02] joernhees commented on #4993
came here as the http://scikit-learn.org/ shows the sourceforge "we are down" page...

maybe if github.io is too complicated https://readthedocs.org is an alternative?

[2015-07-20 11:44] amueller commented on #4993
readthedocs is not an alternative because we would need to compile scipy each time an couldn't use a decent blas afaik. The github one is nearly done.

[2015-07-20 11:51] amueller commented on #4993
can we move the DNS now? there is really no point in pointing to a server that's down.

[2015-07-20 11:53] GaelVaroquaux commented on #4993
OK. We're doing that right now.

[2015-07-20 11:53] amueller commented on #4993
cool, thanks :)

[2015-07-20 11:53] amueller commented on #4993
I'm just removing the links on the dev website.

[2015-07-20 12:03] joernhees commented on #4993
good to know :+1:

[2015-07-20 12:17] ogrisel commented on #4993
Sorry, I did not see the notifications. Will do the DNS swtich. There is still a navigation problem: when you click on "development" link from the /stable page you still get to a '/stable' URL.

[2015-07-20 12:18] amueller commented on #4993
ok I'll fix that.

[2015-07-20 12:19] amueller commented on #4993
sorry, broke that in my previous "fix"

[2015-07-20 12:35] ogrisel commented on #4993
I added a `CNAME` file in the root of the repo and configured the following DNS record on sklearn account from mycloud.rackspace.com:

[code]

following instructions from:

https://help.github.com/articles/setting-up-a-custom-domain-with-github-pages/

The previous TTL was 30 min. So the new config should appear soon-ish. You might want to check it with:

[code]

I set the new TTL to 5 min if we n

[2015-07-20 12:38] amueller commented on #4993
ok it works. don't worry about my complaining on the commit, the dns is actually updated.
Thanks for the quick fix. Will you have time to do the changes to the doc built bot soonish? Not as urgent though ;)

[2015-07-20 12:40] ogrisel commented on #4993
Great, though I don't see the DNS change here yet. I will work on updating the docbuilder cron script.

[2015-07-20 12:42] ogrisel commented on #4993
The new DNS is live on my phone, thanks for fixing the site @amueller!

[2015-07-20 13:05] kastnerkyle commented on #4993
This looks great. Awesome job all - now I don't have to copy-paste
"sourceforge is down, go to <sklearn-gh-pages>" on Twitter any more!

On Mon, Jul 20, 2015 at 8:42 AM, Olivier Grisel <notifications@github.com>
wrote:

[2015-07-20 18:49] amueller commented on #4993
should we close this?

[2015-07-20 19:06] amueller commented on #4982
I think that would be a nice addition that also solves #3126

[2015-07-20 19:07] amueller commented on #4999
closing as we moved. I feel that the mailing list might also be affected.

[2015-07-20 19:07] amueller commented on #4993
Btw, does the mailing list work? I'll sent a ping now.

[2015-07-20 19:12] amueller opened #5009 "Move mailing list to google groups"
I just sent this to the mailing list, not sure if it went through, given the state of sourceforge:

Hi all.
I am wondering whether we should move the mailing list to google groups. I am not sure if the mailing list currently works,
so this is also just a ping.
This list attaches spam / adds and the archive is really bad to read. It is not really possible to follow a thread without subscribing.

Do

[2015-07-20 19:15] amueller commented on #5000
I don't think this is the way to go. Everything in scikit-learn assumes continuous features. If they are not, your very first preprocessing step should be to one-hot encode them.

[2015-07-20 19:20] amueller commented on #5003
probably. most devs don't have dataset where that helps. Do you have a good example?

[2015-07-20 19:20] hlin117 commented on #4942
@eyaler: I ran the code in this github gist: https://gist.github.com/hlin117/aadd90768fc09ba0e9d7

My code didn't crash, but it took 877 seconds to run.

[2015-07-20 19:24] amueller commented on #4989
Can you provide the full tracack? I don't see the line where the error occured. Also, can you post your code?
It doesn't look like the error is in ``load_iris``.

[2015-07-20 19:28] GaelVaroquaux commented on #5009
I really hate google groups because it makes the life of people using it
without gmail hard. I realize that most people are using gmail.

I do agree that it seems that sourceforge isn't a viable option. There
isn't much appart from sourceforge for mailing list. We could have one at
python.org (with the drawback that administration is done by email with
the python.org sysadmins). For joblib, we use

[2015-07-20 19:29] amueller commented on #5009
Why do you think it makes the lives of people without gmail hard? Is it not possible to subscribe without a gmail address? [that would be pretty bad]

[2015-07-20 19:31] GaelVaroquaux commented on #5009
I do believe that it is. But if you have a google account, you need to
log out of it. I remember endless pain with google groups messing between
my email address and my google account.

That said, I haven't had such problems lately. Maybe they have fixed the
problems.

[2015-07-20 19:32] amueller commented on #5009
https://support.google.com/groups/answer/46438?hl=en You can subscribe to a google group mailing list by sending a mail to "scikit-learn+subscribe@googlegroups.com".

[2015-07-20 19:34] amueller commented on #5009
numpy and scipy have their own server? Maybe we can ask them? though I prefer the google groups interface.

[2015-07-20 19:34] #4999 closed

[2015-07-20 19:35] amueller commented on #5009
btw did you get my mail via the list?

[2015-07-20 19:38] amueller commented on #5009
scikit-image and statsmodel are on google groups btw

[2015-07-20 19:39] hlin117 commented on #5003
The other day I was doing this <a href="https://www.kaggle.com/c/sf-crime">kaggle competition</a> for predicting a category of a crime in San Francisco, given the time and place of a crime.

Each time object is formatted as a datetime. What I wanted to do was bin these times by hour of the day, and make this a categorical variable.

[2015-07-20 19:46] GaelVaroquaux commented on #5009
No, I don't think so. :$

[2015-07-20 19:50] GaelVaroquaux commented on #5009
Yes, and I must say that google groups has probably improved. From a
pragmatic stand point, we should probably use it.

It just freaks me out that GAFA are gathering all the computing resources
in the world. But we have to face it, sourceforge is dead and there are
no alternatives.

Let us wait for the opinions of other core devs.

[2015-07-20 19:51] amueller commented on #5003
that is much easier done with pandas time functionality, right?

[2015-07-20 21:03] GaelVaroquaux commented on #5000
Agreed with @amueller

[2015-07-20 21:07] hlin117 commented on #5000
I'll close this issue then. Thanks for the feedback and code review, @GaelVaroquaux .

[2015-07-20 21:18] hlin117 commented on #5000
(Sorry, I accidentally pressed the reopen button.)

[2015-07-20 21:28] agramfort commented on #5009
I don't like much google groups and I think that mailman is pretty
efficient but I don't know where to find a good and free mailman server...

[2015-07-20 21:30] GaelVaroquaux commented on #5009
I think mail.python.org could cut it. They host cython-devel for
instance. Also the mailman mailing lists :).

[2015-07-20 21:34] hlin117 commented on #5000
Actually, I've found a use case for this PR. Please see #5002 again. Thanks!

[2015-07-20 21:36] agramfort commented on #5009
I like that !

[2015-07-21 03:33] jianpingjwang commented on #4935
thanks all, I think I have found the reason, my python is 64bits, while my VS2013 is 32bits.

[2015-07-21 06:19] mblondel commented on #5009
It seems like scipy uses it own server as well but perhaps the python.org server is more reliable.

Another option would be to use discourse:
http://www.discourse.org/

It supports both web-based and email based replies. Login is based on github, which is super convenient. The downside is that we need to find a server and install the software ourselves. The plus side is that we keep control over t

[2015-07-21 07:01] mblondel commented on #5009
Discourse has a REST API so it should be easy to add archives.
(If needed, I have all emails since January 2010 in my gmail account)

[2015-07-21 08:45] amueller commented on #5009
I would prefer something that already has an archive, which both the python.org and scipy.org already have set up.

@larsmans why don't you like google groups?

[2015-07-21 08:53] mblondel commented on #5009
Is there a way to download all the archives of the ML on sourceforge and transfer them to python.org or scipy.org? It would be a pity to loose 5 years worth of archives.

[2015-07-21 08:55] amueller commented on #5009
why lose? They are still googleable, right?

[2015-07-21 09:06] ogrisel commented on #5009
I would rather not have to manage our own mailing list infra. +1 for mail.python.org if they accept us.

[2015-07-21 09:08] mblondel commented on #5009
If you trust sourceforge, what's the point of moving the ML then?

[2015-07-21 10:23] dnlbunting commented on #4688
Sure, you can find the code I wrote in my fork of the repository https://github.com/dnlbunting/scikit-learn/blob/master/sklearn/mixture/gmm.py , it's fairly rough and untested that's why I haven't made a pull request yet

[2015-07-21 13:44] ogrisel commented on #4993
Let's close this.

[2015-07-21 13:44] #4993 closed

[2015-07-21 19:58] anguyen8 commented on #4688
@dnlbunting : Thanks. I'm using it. Btw, it must have worked for your problem, right?

[2015-07-21 22:26] angoodkind commented on #5009
I tried sending an email to scikit-learn+subscribe@googlegroups.com but it failed.

[2015-07-22 02:23] fdrong commented on #4989
Hi,
   I install the latertest version from github on linux .
  message:
    from sklearn.ensemble import RandomForestClassifier
  File "/root/anaconda/lib/python2.7/site-packages/sklearn/ensemble/__init__.py", line 7, in <module>
    from .forest import RandomForestClassifier
  File "/root/anaconda/lib/python2.7/site-packages/sklearn/ensemble/forest.py", line 53, in <module>
    from ..feature_se

[2015-07-22 04:58] GaelVaroquaux commented on #4989
Try doing a clean removal of the previous version (you probably have some
files leftover from the previous version mixed with the current one) and
doing a build followed by install.

[2015-07-22 07:21] ogrisel opened #5013 "Random segfault under windows in sklearn.decomposition.tests.test_sparse_pca.test_fit_transform"
This problem can be seen from time to time on appveyor builds.

[2015-07-22 07:23] ogrisel commented on #5013
In particular it has been observed with 32 bit Python 2.7, numpy 1.8.1 (with MKL) and scipy 0.14.0 from Christoph Gohlke.

[2015-07-22 07:24] ogrisel commented on #5013
@TomDLT @jmschrei if you get the opportunity to reproduce this on your windows box, it would be great to use GDB to get a backtrace. GDB can be installed under windows with the MSYS2 distribution and the `pacman -S gdb` command.

[2015-07-22 08:44] ogrisel commented on #5009
Less service interruptions.

I agree it would be good to make a backup of the ML archive, just in case.

[2015-07-22 08:48] #4959 closed

[2015-07-22 10:01] mblondel commented on #5009
Perhaps we should wait a little longer. The ML seems to be back up and I think the ML had less service interruptions than the website. Are maybe the interruptions were just less obvious?

[2015-07-22 11:00] iamfullofspam opened #5014 "Interface for accessing number of outputs in regression?"
Hi, for classifiers there is `self.classes_` to know the output of `predict_proba`. Is there some special interface to know dimensionality of regression output?

I believe not, but ask to be sure.

[2015-07-22 11:03] glouppe commented on #5014
In case of multi-output estimators, the `n_outputs_` is often defined. (If
not, I think it is mostly safe to assume that n_ouputs == 1, at least for
the ones implemented in scikit-learn.)

On 22 July 2015 at 13:00, Alex Rogozhnikov <notifications@github.com> wrote:

[2015-07-22 11:04] glouppe commented on #5014
Spoke too fast. It seems to be defined only for tree-based methods, and
maybe not even all of them...

On 22 July 2015 at 13:02, Gilles Louppe <g.louppe@gmail.com> wrote:

[2015-07-22 11:14] iamfullofspam commented on #5014
Yes, that what I mean. Ok, then I'll rely on output shape.

[2015-07-22 11:14] #5014 closed

[2015-07-22 12:43] TomDLT opened #5015 "our_rand_r is duplicated and should not be seeded with 0"
`our_rand_r` is a fast and simple random generator defined in `sklearn/tree/_tree.pyx`

Problems:
- The functions only return 0s if seeded with 0. We need to audit the use of this function and make sure it is never seeded with 0.
- The code is duplicated (`sklearn/linear_model/cd_fast.pyx`) and will be in #4738, in #4873, and possibly other PR . My first attempt to re-use only one code (by moving

[2015-07-22 17:43] dotsdl commented on #4639
Releasing this one for someone else. Not working on it now.

[2015-07-23 09:10] ogrisel commented on #4646
I never observed the hanging but we get random segfaults on those some tests under windows. Unfortunately nosetests does not display the name of the exact `yield` checks and it's hard to reproduce.

[2015-07-23 09:31] ogrisel commented on #4942
I think a long runtime is expected as the SMO solver of libsvm does not scale well with large number of samples. @eyaler can you reproduce the crash with a fewer examples (e.g. less than 1000)?

[2015-07-23 09:35] eyaler commented on #4942
the crash happens only with a large number of samples/dimensions. i guess this is a memory issue, however i would expect to get a memory exception instead of exit code -1073741819 (0xC0000005)

[2015-07-23 09:37] ogrisel commented on #4942
Can you please get a backtrace with a debugger such as GDB? Are you getting the crash under windows?

[2015-07-23 09:57] eyaler commented on #4942
windows - yes. not familiar with gdb. can i get it with pycharm?

[2015-07-23 11:03] amueller commented on #4646
we could do a PR which runs the check_estimator on OneClassSVM multiple times and put prints in the yield statements?

[2015-07-23 11:08] amueller commented on #5009
For the record: +1 on python.org

[2015-07-23 11:09] GaelVaroquaux commented on #5009
Thanks, it's great to hear the various points of view.

[2015-07-23 11:11] amueller commented on #5009
(My information is based on Stefan being not satisfied with google groups and Matthew saying nipy has experienced outages on scipy.org).

[2015-07-23 11:13] ogrisel commented on #4942
I don't know if pycharm's debugger support for compiled extensions. You might want to try Visual Studio Community Edition with the PTVS plugin:

https://www.visualstudio.com/en-us/products/free-developer-offers-vs.aspx
http://microsoft.github.io/PTVS/

Otherwise you can use gdb from the commandline. You can install it with MSYS2 for instance (with `pacman -S gdb` in the MSYS2 console).

[2015-07-23 11:24] amueller commented on #4942
@ogrisel what do you want to get from the debugging if this is a memory error? It is probably a malloc failing in libsvm, right?

[2015-07-23 11:26] ogrisel commented on #4942
I am not sure this is a memory error as we get a random segfault under windows on appveyor on a small dataset and I wondered it was caused by the same issue.

If this is just a memory error, then this is not a bug. It's just using too much memory for that box.

[2015-07-23 12:11] amueller commented on #4942
It just seemed to me that @eyaler was a different issue, but I'm not sure.

[2015-07-23 12:18] amueller commented on #4742
Yes definitely link to compilation documentation.

[2015-07-23 14:17] ogrisel opened #5022 "Deprecate n_iter in SGDClassifier and implement max_iter."
We should implement a stopping condition based on the scaled norm of the parameter update as done in the new SAG solver for LogisticRegression / Ridge. The convergence check should be done at the end of the each epoch to avoid introducing too much overhead.

Other classes sharing the same underlying implementation should be updated as well, e.g.:
- SGDRegressor
- PassiveAggressiveClassifier
- Perc

[2015-07-23 14:18] ogrisel commented on #5022
@TomDLT this one is for you if you like ;)

[2015-07-23 16:17] arjoly opened #5023 "More intuitive scoring argument for loss and error"
Using the grid search meta-estimator with the `"mean_square_error"`, the `"mean_absolute_error"`, the `"median_absolute_error"` or the `"log_loss"` as scoring parameters  leads to the negation of those metrics. This is confusing especially for new users.

I suggest that we prefix those strings by `"neg-"` or `"negative_"`. This would make clear from the start that the score is obtained from the ne

[2015-07-23 17:07] mellisTK commented on #4477
hi

[2015-07-23 17:27] kastnerkyle commented on #5023
1000x agreed

On Thu, Jul 23, 2015 at 12:17 PM, Arnaud Joly <notifications@github.com>
wrote:

[2015-07-23 18:35] rudimeier opened #5024 "_graph_is_connected consumes too much memory"
Hi,

```_graph_is_connected``` from ```sklearn.manifold.spectral_embedding_``` consumes about 5 times as much memory as the input matrix. Could this be improved?

```networkx.is_connected``` does not need any addional memory, maybe you may have a look at how they do it
https://networkx.github.io/documentation/latest/_modules/networkx/algorithms/components/connected.html#is_connected

(I haven't ye

[2015-07-23 20:15] stephen-hoover commented on #4944
This issue has been resolved by #4967 and can be closed.

[2015-07-24 03:27] jakevdp commented on #5024
Did you observe this for a sparse input, or a dense input? The two lead to completely different code paths.

[2015-07-24 05:12] glouppe commented on #4944
Thanks, closing

[2015-07-24 05:12] #4944 closed

[2015-07-24 07:15] rudimeier commented on #5024
I've observed this only for the dense case.

[2015-07-24 08:39] AlexanderFabisch opened #5027 "What is the standard way to check the type of an estimator?"
In sklearn.base there are the functions

* `is_classifier(estimator)`
* `is_regressor(estimator)`

They both check `getattr(estimator, "_estimator_type", None) == <type>`. The attribute `_estimator_type` is defined for ClassifierMixin, RegressorMixin, ClusterMixin but not for BiclusterMixin, TransformerMixin.

Another method that is used very often is `issubclass(Estimator, <Type>Mixin)` which is

[2015-07-24 08:43] glouppe commented on #5027
The second one is not preferred because it forces estimators to inherit from our mixins and therefore contradicts the duck typing policy we try to maintain.

[2015-07-24 08:48] AlexanderFabisch commented on #5027
Thanks, so why do we need the functions in sklearn.base at all? Isn't it very unlikely that `_estimator_type` is defined without inheriting from a Mixin? And why is `ClusterMixin._estimator_type` defined and the function `is_cluster` does not exist?

[2015-07-24 09:11] GaelVaroquaux commented on #5027
It's possible. Somebody with a codebase that has not been designed for
scikit-learn might want to make it scikit-learn-compatible, and it's much
less intrusive to add these attributes than to inherit from a Mixin.

Inside the scikit-learn codebase, I do agree that most often we will rely
on inheriting from the Mixins.

[2015-07-24 09:15] AlexanderFabisch commented on #5027
Is this documented somewhere? Should we do that and where? Shouldn't we add `is_clusterer`, `is_biclusterer`, `is_transformer`?

[2015-07-24 10:10] #4614 closed

[2015-07-24 12:57] mwalkup55 opened #5028 "Partial_fit for Preprocessing StandardScaler"
A cool feature for the standardscaler (And other preprocessors) would be a partial_fit option.  This would work well with existing out-of-core learning tools (i.e. SGDClassifer's partial_fit).  If I can't load the data into memory, I can't use the standardscaler, and I end up calculating the mean and std in batches.  That works fine, but it isn't very elegant.

[2015-07-24 13:22] joewreschnig opened #5029 "Pipeline inverse_transform works oddly for 1D arrays"
When a 1D array is passed to Pipeline's `inverse_transform` method it wraps it in another array before processing it ([pipeline.py, line 306](https://github.com/scikit-learn/scikit-learn/blob/0650d5502e01e6b4245ce99729fc8e7a71aacff3/sklearn/pipeline.py#L306)). This means, e.g., an inverse_transform on a pipeline containing just one element can produce a different result than an inverse_transform o

[2015-07-24 14:59] ogrisel commented on #4917
I have an intern that should join our team this summer and we might work profiling this to understand what's going wrong.

[2015-07-24 15:20] TomDLT commented on #5022
Ok :)
**About deprecation**, is it the correct way to do it ? :
- `SGDClassifier().fit(X,y)` may change its behavior, but `SGDClassifier(n_iter=10).fit(X,y)` should behave the same as before and raise a DeprecationWarning.
- idem for `SGDRegressor`, `fit_binary`, `plain_sgd` and `average_sgd`.

What about ? :
- add parameters `max_iter=5` and `tol=1e-4`. also change `n_iter=None`
- if `n_iter is n

[2015-07-24 15:38] dmcgarry opened #5030 "Saving Best Predictions in GridSearchCV"
I apologize if any issue already exists for this because I did not see it.

It would be great if you could set a parameter to GridSearchCV that adds an attribute (best_pred_) that contains the predictions from the fold in cross validation that had the best score. Having these predictions would be extremely useful for a number of things, the most notable being stacking models outside of a complicat

[2015-07-24 20:30] gabrielelanaro opened #5031 "DBSCAN confusion about min_samples option."
Hi, I've been running DBSCAN using a precomputed metric. I am using the option min_samples=6.
[code]
However if I group by label I obtain clusters as low as size 3 (actually as low as size 1, but I have to confirm that).

From what I understand a "core point" is defined when he has 6 points within ``eps``. Assuming we find a core-point it means that he can reach at least other 5 points, shouldn't

[2015-07-24 22:52] jakevdp commented on #5024
I believe [this](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/manifold/spectral_embedding_.py#L51) is the offending line:
[code]
It allocates ~4 temporary arrays which are on the same order as the size of the input.
It's one of the hazards of using NumPy, unfortunately: the fast & terse way to do vectorized computations often gains speed at the expense of memory use.

[2015-07-25 07:52] sreenivasraghavan71 commented on #3213
I am Interested in NCA implementation. Can you tell me till what stage has work been completed and what additional algorithms have to be implemented?

[2015-07-26 09:08] yuriShafet opened #5033 "BaggingClassifier support for sparse matrices problem"
estimator.fit(X[:, features], y, sample_weight=curr_sample_weight)

throwing error when using coo_matrices:

TypeError: 'coo_matrix' object has no attribute '__getitem__'

[2015-07-26 15:49] kumaran-5555 opened #5034 "MinMaxScaler support for sparse matrix"
I came across this when I was doing a text classification with n-gram features. I tried to scale my feature range to 0-1, but MinMaxScaler didn't support spare matrix. Is it a good idea to add sparse matrix support ?

[2015-07-27 02:54] mblondel commented on #5023
See also #2439.

There is also the solution of flipping the sign back but more people seem to favor the `neg-` prefix solution.

[2015-07-27 05:26] GaelVaroquaux commented on #5023
+1

[2015-07-27 07:29] Sanyorke-Han opened #5035 "no check_arrays name while import cross_validation"
hi,
     it should be a typo in file sklearn\metrics\cluster\bicluster\bicluster_metrics.py. here pasted the exception stack:
------------------------------
ImportError                               Traceback (most recent call last)
D:\Test\python3\BayesClassifier\sklearn_demo.py in <module>()
      6
      7 from sklearn.naive_bayes import MultinomialNB, GaussianNB
----> 8 from sklearn import cro

[2015-07-27 15:09] sds-dubois commented on #474
I'd be happy to implement a GP-based hyperparameter optimizer. I recently worked on a similar project so I should be fine.
I propose to fix a budget (a number of iterations) as for the [random-based search](http://scikit-learn.org/stable/modules/generated/sklearn.grid_search.RandomizedSearchCV.html) and for each step :
- model y = f(X) through a GP
- sample randomly candidates within the hyperpara

[2015-07-27 15:38] giorgiop commented on #5028
I plan on contributing this in the next few weeks, within my internship period at INRIA working on sklearn.

[2015-07-27 17:11] arthurmensch commented on #4896
I have a 2,5x improvement in `dict_learning_online` performance bypassing checks. Using a parallel pool becomes useful for reasonably large number of feature and batch size

[2015-07-27 19:15] vlsd commented on #5031
I believe what you're seeing is not a bug but an expected (yet unfortunate) behavior of the `DBSCAN` algorithm. From the [Wikipedia page on `DBSCAN`](https://en.wikipedia.org/wiki/DBSCAN):

and (`minPts` is the same as `min_samples`)

You might want to look into `DBSCAN*`, which seems to be a variation where border points are interpreted as noise points, for better or worse. You can find the paper

[2015-07-28 01:40] enfeizhan commented on #4701
@Renzhh @amueller
I got a similar crash. These are what I got:
/Users/feizhan/miniconda/envs/py2_env/bin/python.app: line 3:  2551 Segmentation fault: 11
/Users/feizhan/miniconda/envs/py2_env/python.app/Contents/MacOS/python "$@"

Would like to learn what progress from your end.

[2015-07-28 11:38] jmschrei opened #5039 "fit calls Gradient Boosters are not independent"
I have the following code:

[code]

The first returns 0.823333 accuracy, the second returns 0.8333333 accuracy. All benchmark does is fit the classifier to the training set and calculate the error on the test set, but also times these.

If I change my code to the following:

[code]

I get madelon: 0.823333 accuracy, and arcene: 0.62 accuracy.

However, if I reverse the order...

[code]

I get arce

[2015-07-28 11:40] mgabel-stratoscale opened #5040 "KernelPCA causes future (seemingly unrelated) matplotlib plot call to fail (!?)"
A simple `KernelPCA.fit_transform()` call when `n_components == None` causes a later matlotlib `plot()` to fail, raising `ValueError: cannot convert float NaN to integer`.
[code]
The problem disappears when setting `n_components` to say, 4: `KernelPCA(4, kernel='rbf')`.
I am using sklearn 0.16.1 and matplotlib 1.4.3 as bundled in WinPython-64bit-2.7.10.1 .

[2015-07-28 13:06] chrsrds commented on #1243
I would go for it

[2015-07-28 14:47] amueller commented on #5035
You installed with conda and upgraded with pip:
http://scikit-learn.org/dev/install.html#canopy-and-anaconda-for-all-supported-platforms

(as a google search might have told you).

[2015-07-28 14:47] #5035 closed

[2015-07-28 17:26] gabrielelanaro commented on #5031
Thanks so much for your explanation, it is clear to me now where the problem was.

[2015-07-28 17:26] #5031 closed

[2015-07-28 17:39] amueller commented on #5009
Any update on this? @GaelVaroquaux you said you'll look into this. Was there a reply?

[2015-07-28 17:41] GaelVaroquaux commented on #5009
No. I'll ping them again.

Sent from my phone. Please forgive brevity and mis spelling

On Jul 28, 2015, 19:39, at 19:39, Andreas Mueller <notifications@github.com> wrote:

[2015-07-28 18:03] amueller commented on #5027
we didn't need ``is_clusterer``, ``is_biclusterer`` or ``is_transformer`` yet, so we didn't add it.

``estimator_types`` is documented here:
http://scikit-learn.org/dev/developers/contributing.html#estimator-types

The problem of ``estimator_types`` currently is that it is a single tag, and something can inherit from both transformer and regressor for example.

[2015-07-28 18:40] amueller opened #5043 "Documentation of callable kernel in SVM bad"
The callable kernel in the SVM needs to work on arrays of shape ``(n_samples, n_features)``. This is not clear from the docs and should be made explicit here:
http://scikit-learn.org/dev/modules/generated/sklearn.svm.SVC.html#sklearn.svm.SVC

Also the example here uses lowercase letters for the parameters, suggesting vectors: http://scikit-learn.org/dev/auto_examples/svm/plot_custom_kernel.html#ex

[2015-07-28 20:04] amueller commented on #1243
@chrsrds sure, go ahead :)
The main thing would be to show how this can be useful in practice, though. We don't have great semi-supervised datasets in sklearn at the moment. Maybe working with digits (or MNIST?) and dropping some labels would be interesting?

[2015-07-28 20:08] amueller commented on #5040
As you don't use fixed random seeds, it is impossible to reproduce. Also, it is quite unlikely that they are related.
Can you reproduce using a ``np.random.RandomState`` object and provide the traceback?

[2015-07-28 20:24] amueller commented on #4701
See if you can reproduce the error in #4197. We can't really do anything about errors in ``np.dot``. Also check out https://github.com/numpy/numpy/issues/5533

[2015-07-28 20:27] amueller commented on #5028
Cool :)

[2015-07-28 20:28] amueller commented on #5028
Maybe look at #3639 and / or talk to @untom about how to best do this for all scalers if possible. Standard and MinMax and MaxAbs should all be trivial.

[2015-07-28 20:59] AlexanderFabisch commented on #5027
OK, thanks. I close the issue.

[2015-07-28 20:59] #5027 closed

[2015-07-28 21:30] arogozhnikov opened #5044 "API proposal for losses"
@glouppe @ogrisel

I was working on different modifications of gradient boosting with specific loss functions, and unfortunately I was not able to reuse scikit-learn's gradient boosting for my purposes.

My problems are not a reason to change anything in sklearn, but the following concept also resolves other issues (see below).
## Loss function is an estimator
1. Loss function **has parameters.**

[2015-07-28 22:16] amueller commented on #5044
What do you understand as a loss function?
What I think when I hear loss function is just a formula, which is stateless and not estimated from data.

I don't understand 1, 2 and 4.

[2015-07-28 22:22] amueller commented on #4942
This might be related: https://travis-ci.org/scikit-learn/scikit-learn/jobs/71844751#L1606

[2015-07-28 22:38] amueller opened #5045 "master fails with scipy 0.16.0"
See https://travis-ci.org/scikit-learn/scikit-learn/jobs/72439348 (passing with 0.15.1)
and https://travis-ci.org/scikit-learn/scikit-learn/jobs/72957365 (failing with 0.16)

I'm looking into it, but help would be nice ;)

[2015-07-28 22:42] arogozhnikov commented on #5044
Hi, Andreas.

By loss function I mean target of optimization, and in many cases this is indeed a formula (mse, logloss).

However, the idea of stepwise optimization of GB was many times generalized, probably ranking is good demonstration of this:
* in most cases loss involves some information from dataset (are samples from same query?)
* in many cases we cannot even give the expression for target,

[2015-07-28 22:52] amueller opened #5046 "I don't understand how to built with anaconda / MKL"
When using anaconda with MKL and trying to build sklearn, I get

``Intel MKL FATAL ERROR: Cannot load libmkl_avx2.so or libmkl_def.so.``

Can anyone explain what is happening / how to built?

[2015-07-29 00:39] mkneierV commented on #3956
Is there a good reason why one hot encoder can't just work with string values? In my experience, the task of one hot encoding a string valued feature is incredibly common, and it seems tedious to have to use to preprocessing transformers to accomplish it. I'd be happy to contribute code for it.

[2015-07-29 01:48] amueller commented on #5045
Fix for one of them in #5047.
I am confused by the remaining one in the GPs. Maybe @jakevdp or possibly @jmetzen know.
I think I might have broken it by using ``check_array`` where I shouldn't.
I am confused because it was previously used already.
Basically I think the constraints that get hit in cobyla changed.