[2017-08-04 07:28] irshad001 commented on #9113
+1 from from my side as well. Need this feature.

[2017-08-04 08:53] TomDLT commented on #9491
The residues were directly taken from [scipy.linalg.lstsq](https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.lstsq.html):

So you seem to be right.

That being said, `self.residues_` is deprecated since #5452 (merged in October 2015), and will be removed in v0.19 (about to be released).
As you shown in your snippet, you can easily compute them anyway.

[2017-08-04 09:04] TomDLT opened #9495 "Attributes docstring section not correctly rendered in sphinx"
The Attributes docstring section is not correctly rendered anymore in sphinx.

See the [stable doc](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html) vs the [dev doc](http://scikit-learn.org/dev/modules/generated/sklearn.linear_model.LogisticRegression.html) or vs a [recent CircleCI build](https://12627-843222-gh.circle-artifacts.com/0/home/ubuntu/sciki

[2017-08-04 09:10] TomDLT commented on #9490
Thanks for sharing the issue.
This was fixed in #9240, and will be included in the `v0.19` (about to be released).

[2017-08-04 09:10] #9490 closed

[2017-08-04 09:26] bellet commented on #6827
This works both in Python 2 & 3 and is fairly concise. Will create a PR with a doc change proposal

[2017-08-04 11:49] souravsingh commented on #9429
@amueller I ran a Topic Extraction example on both environments. Here are the timings-

On OpenBLAS
[code]

For Intel MKL
[code]

[2017-08-04 12:46] albertcthomas opened #9497 "unclear docstring for random_state in OCSVM"
#### Description

Following the discussion on the mailing list about the `random_state` of the One-Class SVM it might be good to clarify a few things.

- The `random_state` parameter in `OneClassSVM` is defined by its docstring as:
"The seed of the pseudo random number generator to use when shuffling the data. [...]"
If this refers to the shuffling used for probability estimation then I think it i

[2017-08-04 14:51] amueller commented on #9497
thanks for the report.

[2017-08-04 14:53] amueller commented on #9429
Nice. Lol. Maybe try with dense data and different number of features and samples. (not using the text data, maybe do subsets of MNIST or random data or whatever)

[2017-08-04 15:03] amueller commented on #9429
How did you set up the system @souravsingh ?

[2017-08-04 15:07] amueller commented on #9495
See discussion in #7355 and https://github.com/numpy/numpydoc/issues/104 and https://github.com/numpy/numpydoc/pull/105

[2017-08-04 15:09] souravsingh commented on #9429
@amueller I created two separate conda environments- One with Intel Python distribution and second one with OpenBLAS. Here is the packages in both the environments-

IntelPython Anaconda environment-
[code]

And OpenBLAS Anaconda environment-

[code]

[2017-08-04 15:10] amueller commented on #9494
can reproduce on master!? this looks like a regression?

[2017-08-04 15:11] TomDLT commented on #9429
I would suggest to use random data with very different sizes for (n_samples, n_features, n_components): with different ratios n_samples/n_features, and especially with very different values of n_components.
IIRC this can changes the bottleneck of NMF, from cython coordinate descent to numpy dot product, which should affect a lot the MKL speed up.

Also I hope the ~x10 speed up for NMF was not with

[2017-08-04 15:12] amueller commented on #9494
The fit returns no support vectors. That's strange...

[2017-08-04 15:14] amueller commented on #9494
Ah, I guess negative sample weights are not supported and we don't raise an error. Did you use negative sample weights on purpose?

[2017-08-04 15:17] amueller commented on #9429
great, the environments look good, and I think @TomDLT has the right idea ;)

You can try completely random positive data or low-rank data + noise.

[2017-08-04 16:14] #9491 closed

[2017-08-04 16:23] shivamgargsya commented on #9497
working on it.

[2017-08-04 18:46] amueller commented on #8100
Also see #8004 #1304 https://github.com/scikit-learn/scikit-learn/pull/7889#issuecomment-262378204

[2017-08-04 20:25] boazsh commented on #2889
Same here.
OSX 10.12.5

[2017-08-04 21:02] albertcthomas opened #9498 "type_of_target returns 'continuous' for array of inf or NaN"
#### Description
Currently `type_of_target(y)` returns `'continuous'` when `y = np.array([np.inf, np.inf])` or `y = np.array([np.nan, np.nan])`.

`LabelBinarizer().fit` is sometimes called before `check_X_y` in the `fit` method of an estimator (such as `RidgeClassifier`) and thus does not return the wanted error message when an array containing `inf` or `NaN` values is passed as an argument.

Shou

[2017-08-04 21:08] amueller commented on #9498
we could also call ``check_X_y`` first maybe?

[2017-08-04 21:22] albertcthomas commented on #9498
In this case this will be solved in PR #9340. Thanks!

[2017-08-04 22:04] amueller opened #9499 "Customizing BaseSearchCV is hard"
There are several projects working on smarter ways to search parameters.
Right now, BaseSearchCV makes it really hard to customize parts, mostly because the fit function is really long, and changing anything in the parameter loop means copying the whole ``fit`` method, see [here](https://github.com/automl/SMAC3/pull/291/files).

Maybe factoring this out into a method, or just splitting up ``fit``

[2017-08-05 04:55] whitezhang commented on #9494
This negative sample weights are generated during my training progress. So I can plus some value to all the weights technically.

[2017-08-05 10:11] jnothman commented on #9499
I think (without looking in detail) that the SMAC implementation could have reused BaseSearchCV/RandomizedSearchCV more, albeit with a little overhead in each run.

I would be +1 for something like:
[code]

[2017-08-05 12:54] sriharsha-sammeta commented on #9494
I would like to take this up. What would you finally suggest? Add some complementary weights to make them positive or raise error when weights are less than zero?

[2017-08-05 20:36] thechargedneutron commented on #9454
Can I work on this issue?
I lack deep understanding of the functions mentioned above, but I am enthusiastic about it.  Thanks

[2017-08-05 23:04] jnothman commented on #9494
I remember hearing something about negative weights being useful in some cases... (It was something from physics, of course...)

But where we really do not support it, raising an error may be worthwhile.

[2017-08-05 23:05] jnothman commented on #9494
no, adding weights to make positive is not appropriate, because we assume weights are meaningful in terms of relative magnitude.

[2017-08-05 23:35] #9474 closed

[2017-08-06 00:18] jnothman commented on #9454
The point is perhaps to take python 3's standard assertRaises and provide
it as sklearn.utils.assert_raises

On 6 August 2017 at 06:36, Kumar Ashutosh <notifications@github.com> wrote:

[2017-08-06 00:19] jnothman commented on #9454
sorry, sklearn.utils.testing.assert_raises

On 6 August 2017 at 10:18, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-08-06 02:24] #7568 closed

[2017-08-06 02:24] #8541 closed

[2017-08-06 02:24] #8544 closed

[2017-08-06 02:38] jnothman commented on #9495
this is on my pile. definitely not going to use numpydoc in 0.19 final

On 5 Aug 2017 1:07 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-08-06 03:02] jnothman commented on #6827
From an API perspective, this is more practical in the new cross_validate. But we still may have reasons not to offer it? One may be that often we want a summary of the model and not the whole model, and so a callback might be better (but then, what should get passed into the callback?):

Personally I would be happy to include an option to return them from cross_validate, since it would make this

[2017-08-06 03:38] jnothman commented on #2889
Please give a reproducible code snippet. We'd love to get to the bottom of this. It is hard to understand without code, including data, that shows us the issue.

[2017-08-06 10:53] shivamgargsya commented on #9497
@albertcthomas  in case of OneClassSVM It seems random_seed is not used for OneClassSVM implementation it can be checked at PREFIX(model) *PREFIX(train) function in svm/src/libsvm/svm.cpp file. @amuller random_seed variable can be dropped for OneClassSVM .

[2017-08-06 14:46] Basavaraj-Hampiholi17 commented on #1649
Hi All,
I am pre-processing images for feature extraction and feeding the extracted features to LDA for dimensionality reduction. I have a total of 5 classes and getting 4-dimensional data after reduction. However, I am getting an error "Variables are collinear". I have checked the discriminant_analysis.py code and came to know that rank< number of features. Rank of a matrix in my case is 1000 and

[2017-08-06 22:50] jnothman commented on #1649
you might be better asking this question in our mailing list, or on Cross
Validated. It does not appear to be an issue with our software

On 7 Aug 2017 12:46 am, "Basavaraj Hampiholi" <notifications@github.com>
wrote:

[2017-08-07 10:05] albertcthomas commented on #9497
Thanks @shivamgargsya. Just to clarify, from what I understand of what's being done in svm.cpp, the random seed is used at the beginning of `PREFIX(model) *PREFIX(train)` to initialize the random number generator whatever the chosen type of SVM:
[code]

The random generator seems, however, to be only used in `svm_binary_svc_probability` and `svm_svr_probability` (still in svm.cpp), i.e. only for p

[2017-08-07 13:10] lesteve commented on #9483
@stoddardg so I looked a little bit more at it and a work-around I found for your particular case is to build the `DataFrame` in one-go like this:

[code]

Don't ask me exactly why yet because I have not fully understood the problem ... I'll try to clarify a bit what I have found.

[2017-08-07 13:24] lesteve commented on #9483
A minimal snippet showing that the problem is related to pandas:

[code]

This seems like a variation of https://github.com/pandas-dev/pandas/issues/10043 that only partially fixed the problem. The indexing works but not when `indices` is read-only.

[2017-08-07 13:51] Basavaraj-Hampiholi17 opened #9506 "Is LDA overfitting in below case?"
Hi All,
I am pre-processing images for feature extraction and feeding the extracted features to LDA for dimensionality reduction. I have a total of 5 classes and getting 4-dimensional data after reduction. However, I am getting an error "Variables are collinear". I have checked the discriminant_analysis.py code and came to know that rank< number of features. Rank of a matrix in my case is 1000 and

[2017-08-07 13:52] Basavaraj-Hampiholi17 commented on #1649
I created a new issue for the same. thank you.

On Mon, Aug 7, 2017 at 12:51 AM, Joel Nothman <notifications@github.com>
wrote:

[2017-08-07 14:20] lesteve commented on #9483
I opened an issue on https://github.com/pandas-dev/pandas/issues/17192.

[2017-08-07 16:26] thechargedneutron commented on #9454
What is the motivation behind backporting `msg` while loosing the ability to pass `*args`  and `**kwargs` in the function `assertRaises`. Also, how will the backported function be different from `assert_raise_message`. Is there only one function `check_estimator` which needs `msg` or will it be helpful in long run?

[2017-08-07 20:59] pjcpjc commented on #7242
Thanks for the edifying conversation guys!

[2017-08-07 22:51] jnothman commented on #9506
This is not a software issue. You'd be better off asking on our mailing list or on Cross Validated

[2017-08-07 22:51] #9506 closed

[2017-08-07 23:56] jnothman commented on #9454
assert_raises_message allows you to check the string value of the error.
what we are seeking here is something altogether different: the ability to
specify a particular message when the assertion fails.

when used as a context manager, there is no need to pass (callable, *args,
**kwargs)

[2017-08-08 00:39] jnothman commented on #7242
I think a wrapper to ensure column order is maintained between fit and predict/transform would be a good idea.

[2017-08-08 00:51] pjcpjc commented on #7242
I would guess the way to do it would be respect column names if they were present both for fit and predict, and respect column ordering if they were missing in either (or both). There is also feature selection that would need to abide. I'm sure its not as easy as it might first appear.

[2017-08-08 01:01] jnothman commented on #7242
I don't think it would be a big deal to develop a wrapper, but I would
consider it the place of https://github.com/pandas-dev/sklearn-pandas to do
so (if it does not already). Raise an issue there?

On 8 August 2017 at 10:51, Pete Cacioppi <notifications@github.com> wrote:

[2017-08-08 01:13] pukkinming opened #9508 "What is warm restart in cross validation?"
I read the following and got a question about it.

http://scikit-learn.org/stable/developers/performance.html#a-sample-algorithmic-trick-warm-restarts-for-cross-validation

What kind of parameters will the algorithm "warm restart"? Will they parameters to be tuned be "warm restarted"? Or is it the starting solution of any iterative optimization algorithm (e.g. the "w" vector of gradient descent as

[2017-08-08 01:40] jnothman commented on #9508
Cross validation isn't really the point here. It's more a question of using warm starts in hyperparameter searches. I think this TODO intends a discussion of using specialised CV models, like LogisticRegressionCV to do parameter searches by exploiting warm-started coefficients. #8230 may provide a more generic solution for warm starting (where `warm_start` is available) through `GridSearch`.

A pu

[2017-08-08 01:44] pukkinming commented on #9508
Thank you, Joel, for your quick reply. Can I ask you a related question though?

What if for any optimization algorithm (e.g. gradient descent), I use the final solution (e.g. w in w^T x = b for linear regression) obtained from one fold as the initial starting solution of another fold in cross validation? Do you think it is reasonable to do so?

[2017-08-08 01:55] jnothman commented on #9508
Firstly, it's not something that our API helps with :)

Secondly, you'd need to be careful to ensure that it converges to a global optimum in all cases. Non-convergence means your solution is influenced by the previous, and thus that you've leaked data from the test set where it is part of the training set of another folds.

[2017-08-08 02:11] pukkinming commented on #9508
That's exactly my concern. I agree the current API cannot address this issue because it is a TODO item. Apart from the issue of global optimality, the worst thing data is leaked from the test set where it is part of the training set of a previous fold. It is equivalent to cheating.

My original idea would be to speed up the algorithm using warm start. If I got any other new ideas on sklearn API, I

[2017-08-08 02:11] #9508 closed

[2017-08-08 02:44] whitezhang commented on #9494
But why the error is raised when the samples' weights are negative. That's strange

[2017-08-08 03:48] jnothman commented on #9508
it's a todo item in the documentation, not in the api. I'd like this
documentation to be filled in if you're willing to help out.

On 8 Aug 2017 12:11 pm, "Frank Puk" <notifications@github.com> wrote:

That's exactly my concern. I agree the current API cannot address this
issue because it is a TODO item. Apart from the issue of global optimality,
the worst thing data is leaked from the test set wh

[2017-08-08 08:15] boazsh commented on #2889
Just run these lines in a python shell

[code]

Note that removing the PCA step from the pipeline solves the issue.

More info:

scikit-learn==0.18.2
scipy==0.19.1
numpy==1.12.1

[2017-08-08 08:21] #9483 closed

[2017-08-08 09:23] shivamgargsya commented on #9497
@albertcthomas thanks for looking into the svm implementation.Also simimilar behaviour is in for LinearSVC.

[2017-08-08 11:09] jnothman commented on #2889
seeing as you don't use a custom scorer, should we assume that is a
separate issue?

On 8 Aug 2017 6:15 pm, "boazsh" <notifications@github.com> wrote:

[2017-08-08 11:19] boazsh commented on #2889
When I first faced this issue I was using custom scorer, but while trying to simplify the example code as much as possible, I found that it is not necessarily have to contain custom scorer. At least on my machine. Importing the scorer also didn't help in my case. Anyway, the symptoms looks similar. The script hangs forever and the CPU utilization is low.

[2017-08-08 11:52] lesteve commented on #2889
@boazsh thanks a lot for the snippet, it is not deterministic though, can you edit it and use a `np.random.RandomState` to make sure the random numbers are always the same on each run.

Also there is a work-around if you are using Python 3 suggested for example in https://github.com/scikit-learn/scikit-learn/issues/5115#issuecomment-187683383.

I don't have a way to test this on OSX at the moment

[2017-08-08 11:57] lesteve commented on #2889
Some piece of information useful to have (just add what is missing to your earlier comment https://github.com/scikit-learn/scikit-learn/issues/2889#issuecomment-320885103):

[code]

Also how did you install scikit-learn, with pip, with conda, with one of the OSX package managers (brew, etc ...) ?

[2017-08-08 12:10] boazsh commented on #2889
Updated the snippet (used np.random.seed)

Darwin-16.6.0-x86_64-i386-64bit
('Python', '2.7.13 (default, Apr 4 2017, 08:47:57) \n[GCC 4.2.1 Compatible Apple LLVM 8.1.0 (clang-802.0.38)]')
('NumPy', '1.12.1')
('SciPy', '0.19.1')
('Scikit-Learn', '0.18.2')

[2017-08-08 12:36] #9475 closed

[2017-08-08 12:57] lesteve commented on #2889
Great thanks a lot!

Have you answered this one, I can't find your answer ...

[2017-08-08 12:59] boazsh commented on #2889
Sorry, missed it - pip.

[2017-08-08 13:21] jnothman commented on #2889
FWIW, I have no problem running that snippet with:

Darwin-16.7.0-x86_64-i386-64bit

Python 2.7.12 |Continuum Analytics, Inc.| (default, Jul  2 2016, 17:43:17)
[GCC 4.2.1 (Based on Apple Inc. build 5658) (LLVM build 2336.11.00)]

NumPy 1.13.1

SciPy 0.19.1

Scikit-Learn 0.18.2

Could you put verbose=10 in cross_val_predict, too, so that we can perhaps
see where it breaks for you?

On 8 August 2017

[2017-08-08 13:44] lesteve commented on #2889
@jnothman I am guessing that your conda environment uses MKL and not Accelerate. This freezing problem is specific to Accelerate and Python multiprocessing. http://scikit-learn.org/stable/faq.html#why-do-i-sometime-get-a-crash-freeze-with-n-jobs-1-under-osx-or-linux for more details.

pip on the other hand will use wheels that are shipped with Accelerate (at the time of writing).

A work-around (o

[2017-08-08 13:45] boazsh commented on #2889
Nothing is being printed...

![screen shot 2017-08-08 at 16 43 35](https://user-images.githubusercontent.com/8148263/29074692-e1a5f178-7c58-11e7-812f-6274bea026bc.png)

[2017-08-08 13:48] lesteve commented on #2889
IIRC you can create an environment with Accelerate on OSX with something like:
[code]

[2017-08-08 21:58] pukkinming commented on #9508
This is my first time contributing to open source software. So I don't know how I should begin. Below is my attempted writing (I hope this helps!):

Parameter tuning, either with grid search or randomized search available in scikit-learn, requires the running of your chosen learning model against a certain set of parameters and finds the best according to some evaluation criteria such as accuracy

[2017-08-08 22:26] jnothman commented on #9508
i don't think in this context you need to explain cv. you do need to
explain that this is what LogisticRegressionCV et al do: avoid
reinitialisation while following a path of potential regularisation
coefficients, this finding the best coefficient without repeating work.
please submit a PR. it's much easier to review something concrete. thanks!

On 9 Aug 2017 7:58 am, "Frank Puk" <notifications@gi

[2017-08-09 01:38] jnothman opened #9512 "No scorer for Brier"
We have the `brier_score_loss` metric, but a scorer should be added in `sklearn/metrics/scorer.py`

[2017-08-09 02:32] jrbourbeau commented on #9512
I'll work on this

[2017-08-09 02:35] jnothman commented on #9512
thanks

On 9 Aug 2017 12:32 pm, "James Bourbeau" <notifications@github.com> wrote:

[2017-08-09 07:40] souravsingh commented on #9429
@amueller I have done a small benchmark using a matrix of random values of varying  ``n_samples`` and ``n_features`` and a constant value of ``n_components``.

Here are the results on Intel MKL-
[code]

Results on OpenBLAS-
[code]

Here is the code I used-
[code]

[2017-08-09 12:23] thechargedneutron commented on #9454
So, I am now clear with the objective. I want to ask how to backport `assertRaises` ? Is it done by copying the available code in the python documentation into the scikit-learn directory or is there any better alternative?

[2017-08-09 12:28] jnothman commented on #9454
there's not really a better alternative as et want to support python 2
where it's not available. ideally you also bring over its unit tests. and
attribute both to their origin

On 9 Aug 2017 10:23 pm, "Kumar Ashutosh" <notifications@github.com> wrote:

[2017-08-09 14:24] lesteve commented on #2889
FWIW I can not reproduce the problem on my OS X VM. I tried to mimic as close as possible @boazsh's versions:

[code]

[2017-08-09 14:42] lesteve commented on #2889
Hmm actually I can reproduce but your snippet was not a complete reproducer. Here is an updated snippet:

[code]

In any case, this is a known problem with Accelerate and Python multiprocessing. Work-arounds exist and have been listed in earlier posts. The easiest one is probably to use conda and make sure that you use MKL and not Accelerate.

[2017-08-09 16:18] amueller commented on #9499
yeah, that would be good, I think. I don't think SMAC could have reused more. How?

[2017-08-09 16:19] amueller commented on #9430
Their benchmarks are here: https://github.com/dvnagorny/sklearn_benchs

[2017-08-09 16:19] amueller commented on #9429
I think their benchmarks are here: https://github.com/dvnagorny/sklearn_benchs (though I'm not entirely sure these are the relevant ones).

[2017-08-09 16:26] CyrilLeMat opened #9514 "min_impurity_split parameter of GradientBoostingRegressor is not used"
#### Description
min_impurity_split parameter of GradientBoostingRegressor is not used

#### Steps/Code to Reproduce
Example:
[code]
#### Expected Results
This example should raise an error
[code]
#### Actual Results
No errors

#### Versions
Darwin-16.5.0-x86_64-i386-64bit
Python 3.6.1 (v3.6.1:69c0db5050, Mar 21 2017, 01:21:04)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]
NumPy 1.13.1
SciPy 0.19.0

[2017-08-09 16:53] souravsingh commented on #9429
True, these benchmarks aren't relevant to the issue.

[2017-08-09 17:26] marcelobeckmann commented on #5884
I finished the integration of Gower to sklearn.pairwise (also observing the treatment of NaN values). I'm going to prepare some unit tests before to submit my forked code.

[2017-08-09 18:38] jrbourbeau commented on #9514
Hey @CyrilLeMat, you're totally right about how `GradientBoostingRegressor` should raise an error when `min_impurity_split` is < 0. But it looks like that error is raised when you actually call the `fit` method for `GradientBoostingRegressor` (see https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/tree.py#L287)

For example,
[code]

Doesn't raise an error, but
[code]

raises `Va

[2017-08-09 18:45] ashimb9 commented on #5884
@marcelobeckmann Great! Thank you so much, especially for including NaN support! :)

PS: If I may suggest, you might want to consider initiating a pull request so the reviewers can begin looking at your code while you work on the unit tests and so forth.

[2017-08-09 21:45] amueller commented on #4988
closing as no-reply

[2017-08-09 21:45] #4988 closed

[2017-08-09 21:46] amueller commented on #4180
this is not an issue any more as we deprecated feature selection via transform.

[2017-08-09 21:46] #4180 closed

[2017-08-09 21:48] amueller commented on #8288
given that #8446 is merged, this should be up for grabs, right?

[2017-08-09 22:01] #9514 closed

[2017-08-09 22:02] amueller commented on #9429
@souravsingh thanks for providing the benchmarks. Looks like about a 5x speedup with MKL. Do you know whether that's due to using multiple cores?

[2017-08-09 22:04] jnothman commented on #9499
Could it not have reused more by just calling GridSearchCV(....).fit()
within it?

On 10 August 2017 at 02:18, Andreas Mueller <notifications@github.com>
wrote:

[2017-08-10 01:07] manhdao opened #9515 "fowlkes_mallows_score returns RuntimeWarning when variables get too big"
#### Description

sklearn\metrics\cluster\supervised.py:859  return tk / np.sqrt(pk * qk) if tk != 0. else 0.
This line produces RuntimeWarning: overflow encountered in int_scalars when (pk * qk) is bigger than 2**32, thus bypassing the int32 limit.

#### Steps/Code to Reproduce
Any code when pk and qk gets too big.

#### Expected Results

Be able to calculate tk / np.sqrt(pk * qk) and return a fl

[2017-08-10 01:44] jnothman commented on #9515
That seems a good idea. How does it compare to converting pk or qk to
float, in terms of preserving precision? Compare to calculating in log
space?

On 10 August 2017 at 11:07, Manh Dao <notifications@github.com> wrote:

[2017-08-10 04:18] MaxPowerWasTaken commented on #9193
In case anyone else is using Python3 and got `AttributeError: 'generator' object has no attribute 'next'` from the code:

`train_inds, test_inds = GroupShuffleSplit().split(X, groups=groups).next()
`
...the following works in Python3:
`train_inds, test_inds = next(GroupShuffleSplit().split(X, groups=groups))
`

[2017-08-10 04:58] souravsingh commented on #9429
@amueller I don't think the speedup could be due to multiple cores since NMF doesn't have the n_jobs parameter. But I could be wrong.

[2017-08-10 05:14] jnothman commented on #9429
some parallel processing occurs due to numpy configuration.

On 10 Aug 2017 2:58 pm, "Sourav Singh" <notifications@github.com> wrote:

[2017-08-10 05:20] lesshaste commented on #9429
It would be worth simply observing "top" during the execution to be sure what is happening in practice. https://askubuntu.com/q/257248/183825 has a number of interesting tips on this topic too.

[2017-08-10 07:51] CyrilLeMat commented on #9514
Hi,
thanks for your answer,
However your exact code don't raise any error on my side.
it prints:

'''python
GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_split=-0.1,
             min_samples_leaf=1, min_samples_split=2,
             min_weight_fracti

[2017-08-10 08:05] jnothman commented on #9514
do you then call fit?

On 10 Aug 2017 5:51 pm, "CyrilLeMat" <notifications@github.com> wrote:

[2017-08-10 08:14] CyrilLeMat commented on #9514
Hi!

yes I did,

I found the problem on my package : When the DecisionTreeRegressor are created, there is no parameter 'min_samples_split=self.min_samples_split'
However it is present here :
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/gradient_boosting.py#L771

something new with the 0.18.2?

[2017-08-10 08:29] CyrilLeMat commented on #9514
we can see here that the min_impurity_split is not used.
https://github.com/scikit-learn/scikit-learn/blob/0.18.X/sklearn/ensemble/gradient_boosting.py#L766

however it seems to be back on the 0.19:
https://github.com/scikit-learn/scikit-learn/blob/0.19.X/sklearn/ensemble/gradient_boosting.py#765

[2017-08-10 08:40] ashimb9 opened #9518 "Log-likelihood score of dataset vs. per-sample average"
#### Description

I don't know if this generally applicable, but I often find myself requiring the log-likelihood of the entire dataset rather than a per-sample average. And the score() function of some estimators (like the Gaussian Mixture Model) return a per-sample average which of course means I need to multiply with n_samples every time I need the log-likelihood for the entire data. Even estim

[2017-08-10 09:02] ogrisel commented on #2889
On the longer term (probably scikit-learn 0.20) this problem will be universally solved by the new loky backend for joblib: https://github.com/scikit-learn/scikit-learn/issues/7650

[2017-08-10 12:48] souravsingh commented on #9429
I was able to confirm the usage of multiple cores for the program. The program run on MKL used upto 4 cores for computation, but program run on OpenBLAS used only upto 2 cores, with one core(cpu4) having 100% usage.

[2017-08-10 12:53] jrbourbeau commented on #9514
Good catch, I should have specified that I'm using `0.20.dev0` on my previous comment. It looks like `min_impurity_split` was added in PR #8007.

[2017-08-10 13:01] gordio opened #9519 "PIP Package: Missed dependency?"
#### Description
After installing sklearn with pip, I can't import it. After manually installing scipy (`pip install scipy`) import work without errors.

#### Steps/Code to Reproduce

[code]

#### Actual Results
[code]

#### Versions
Darwin-16.7.0-x86_64-i386-64bit
Python 3.6.2 (default, Jul 17 2017, 16:44:45)
[GCC 4.2.1 Compatible Apple LLVM 8.1.0 (clang-802.0.42)]
NumPy 1.13.1
SciPy 0.19.1 (It's

[2017-08-10 13:16] rth commented on #9519
This should be `pip install scikit-learn`,  see https://github.com/scikit-learn/scikit-learn/issues/8215

 Also you need a working install with numpy and scipy before installing scikit-learn with pip (cf [the docs](http://scikit-learn.org/stable/install.html)). These seem to be installed in your system Python environment but not in the virtual environement. You could probably use the `virtualenv`

[2017-08-10 14:12] manhdao commented on #9515
At the moment I'm comparing several clustering results with the fowlkes_mallows_score, so precision isn't my concern. Sorry i'm not in a position to rigorously test the 2 approaches.

[2017-08-10 14:53] joshring commented on #9339
**Discretisation is especially helpful in the case of:**

- High noise in the original continuous data distribution and  benefits by allowing trivial averaging inside of the new category. It is a prime example of the trade off of precision for accuracy.
- eg: linear trend with high noise is split into 5 monotonically increasing categories

It is especially helpful in the case of high noise since t

[2017-08-10 15:14] qinhanmin2014 commented on #9359
@chananshgong I think there is a mistake in your code snippet:
`scores = np.linspace(0,1, len(labels))`
should be
`scores = np.linspace(1,0, len(labels))`
After changing, the two curves are the same.
![index](https://user-images.githubusercontent.com/12003569/29177456-54d81a6c-7e21-11e7-87ca-bfb1122a00b9.png)
Note that scikit-learn provides an additional point(The last precision and recall values

[2017-08-10 23:18] jnothman commented on #9339
but we would like to show this with data and plots, ideally, as in our
example gallery.

On 11 Aug 2017 12:53 am, "Josh Ring" <notifications@github.com> wrote:

[2017-08-10 23:19] jnothman commented on #9515
could you submit a PR with the proposed change, please?

On 11 Aug 2017 12:12 am, "Manh Dao" <notifications@github.com> wrote:

[2017-08-11 00:51] qinhanmin2014 commented on #9512
@jrbourbeau Two days passed so I pushed my version :)

[2017-08-11 02:26] jrbourbeau commented on #9512
Thanks for pushing your fix @qinhanmin2014! I unexpectedly got bogged down with other things.

[2017-08-11 09:54] valentin-emiya opened #9523 "Documentation error in sklearn.metrics.pairwise.rbf_kernel"
In `sklearn.metrics.pairwise.rbf_kernel`, the default value for `gamma` is `1.0 / n_features` (i.e., `1.0 / X.shape[1]` in the code) but the documentation mentions `If None, defaults to 1.0 / n_samples_X`.

[2017-08-11 13:54] thechargedneutron commented on #9454
So, I copied the `unittest` module of both `2.7` and `3.6` from the python documentation and I edited the module of 2.7 . I am now able to get the `msg` argument that I am passing through a sample code in python 2.
 So, I am now attempting to copy the `unittest` module into the appropriate directory (with a slightly different name to avoid original `unittest` to be imported) and change the code in

[2017-08-11 13:56] AlloriMD commented on #6261
+1 to the concept of a very simple text-based representation of the tree. I am admittedly a newbie in the data-science/ML space (coming from a research background). Lately, I've been translating some R examples into Python. Here's how the output of a tree-based classifier appears in R (`ctree()` from library `partykit`) using the famous iris dataset:
[code]
The corresponding plot looks like this:

[2017-08-11 14:00] glemaitre opened #9524 "Non deterministic results even setting random_state in BaggingClassifier using estimators_samples_"
#### Description

*Preamble: Before to start, I am not actually sure that this worth a patch or not. Close the issue if you consider it insignificant.*

Checking the [following tests](https://github.com/scikit-learn/scikit-learn/blob/ab93d657eb4268ac20c4db01c48065b5a1bfe80d/sklearn/ensemble/tests/test_bagging.py#L680), the estimator trained in a BaggingClassifier and a classifier using the `estima

[2017-08-11 14:19] lucianoviola opened #9525 "export_graphviz support for regressor tree"
Is there any particular reason why [tree.export_graphviz](https://github.com/scikit-learn/scikit-learn/blob/ab93d65/sklearn/tree/export.py#L70) is not supported for a decision tree regressor?

From the docstring:

""" ....
Parameters
    ----------
    decision_tree : decision tree classifier
        The decision tree to be exported to **GraphViz**
... """

[2017-08-11 14:27] jrbourbeau commented on #9523
Hey @valentin-emiya, you're totally right about the inconsistency in the `sklearn.metrics.pairwise.rbf_kernel` documentation. It looks like the documentation was updated in PR #7904. I'm not sure what version of the documentation you're looking at, but the latest version (http://scikit-learn.org/dev/modules/generated/sklearn.metrics.pairwise.rbf_kernel.html) has `If None, defaults to 1.0 / n_featu

[2017-08-11 15:03] valentin-emiya commented on #9523
Ok, sorry, I had looked at the documentation of the stable version (http://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.rbf_kernel.html#sklearn.metrics.pairwise.rbf_kernel). Thanks.

[2017-08-11 15:03] #9523 closed

[2017-08-11 16:32] amueller commented on #9525
I think the docs are just wrong, have you tried? It should work.

[2017-08-11 16:35] amueller opened #9528 "Estimators run with complex data and give wrong results"
As discussed on the mailing list, estimators run on complex data without error but might produce wrong results.
We should either raise explicit error messages or ensure correctness in each case.

I think as a first step we should error everywhere, and then enable on an estimator basis.

Do we want to add yet another flag to ``check_array`` and ``check_X_y``? That seems the easiest way, though ther

[2017-08-11 16:37] amueller commented on #9528
I'm not entirely convinced supporting complex data anywhere is worth the maintenance burden, thinking about it.... but I don't feel very strongly right now?

[2017-08-11 17:28] fcharras opened #9529 "Nest GridSearchCV and Pipeline objects to better re-use models/transformations during search ?"
The last improvements to Pipeline enable using GridSearchCV on several sequential estimators without unnecessary computations. However it relies on pickling and caching to disk (or to /dev/shm) which still can have a significant cost.

Let's assume A,B are transformers and C is a classifier, with sets of possible parameters Sa, Sb and Sc. We want to find the best parameters in Sa, Sb and Sc such t

[2017-08-11 18:01] amueller commented on #9454
you should only copy the minimum amount of code necessary. Btw, have we checked if six provides this?

[2017-08-11 18:02] amueller commented on #6261
also see https://github.com/scikit-learn/scikit-learn/pull/9251

[2017-08-11 18:03] amueller commented on #6261
And https://github.com/scikit-learn/scikit-learn/pull/9424 for the text version.

I think it's good to have both, and I think that's the consensus. The text version is harder to read imho since it is very asymmetrical.

The first issue I posted is a pure matplotlib implementation, so no additional packages required and cross-platform (if you have matplotlib, which I think is a reasonable requireme

[2017-08-11 18:07] amueller commented on #9529
This does something different for sure, because you are nesting cross-validation.
Why would you think this requires less pickling and unpickling?

Check out daskseachcv: http://dask-searchcv.readthedocs.io/en/latest/

[2017-08-11 18:22] fcharras commented on #9529
Indeed.... this is really bad. Don't know what I was thinking, I'll test such things next time..

Thank you for the link though, that looks indeed what I was looking for. It looks awesome. I was only aware of an old (~2015) dask project for a better grid search.

[2017-08-11 18:23] lucianoviola commented on #9525
@amueller It does indeed! I created a PR https://github.com/scikit-learn/scikit-learn/pull/9530

[2017-08-11 18:29] thechargedneutron commented on #9454
As far as my work is concerned, we have little to remove from `unittest` module. Files like `__init__.py` , 'result.py` are going to be there anyhow. Yes, we may remove the functions apart from `assertRaises` and `assertRaisesRegex` inside each individual file.
I haven't checked with python 2.6. Will confirm once I check.

[2017-08-11 18:31] #9529 closed

[2017-08-11 18:52] pjcpjc commented on #7242
In my opinion this is an sklearn issue not a pandas issue. As I said, not complaining, not expecting it to be terribly easy.

[2017-08-11 19:14] GaelVaroquaux commented on #9528
I believe that we should decide to support complex data nowhere.

The reason is that the support for complex data will always be incomplete and risks being buggy. Indeed, complex data is very infrequent in machine learning (unlike with signal processing). Hence, it will receive little usage. In addition, many machine learning algorithms cannot easily be adapted to complex data. As @amueller puts i

[2017-08-11 19:55] amueller commented on #7242
I would like to solve this inside scikit-learn, but I don't think there is consensus to do that (yet).
I would argue that we should protect our users against silent wrong results, other voices might say that users shouldn't pass dataframes?

[2017-08-11 19:56] amueller commented on #9529
yeah I think this one is pretty awesome :)

[2017-08-11 20:06] #9525 closed

[2017-08-11 20:07] pjcpjc commented on #7242
You could print a warning that says "Beware when using Dataframes. sklearn uses column ordering not column labels. Downcast to numpy arrays to avoid this warning".

That would have saved my bacon here.

Pandas prints out a warning with the view vs. copy "gotcha", and that was enough to motivate me to study and pre-empt any problem. This issue seems similar. http://bit.ly/2qR1fDH , http://bit.ly/2p

[2017-08-11 20:09] vene commented on #6601
Not sure if worth re-opening the issue for this, but I recently ran into [AsciiMath](http://asciimath.org/) which seems to strike a nice balance:

  - graceful "degradation": equations are written in readable standardized text format
  - possibility to render to latex

I know we're avoiding JS libs in the docs, but we could also find a way to do the rendering offline when building the docs.

As a

[2017-08-11 20:12] amueller commented on #7242
@pjcpjc warning is an option, but this would be very very loud. Many people are passing dataframes.
I guess it depends a bit on whether we want them to pass dataframes or not. One problem is that if we warn, that basically tells users to use ``.values`` everywhere to convert to numpy arrays, so they don't get a warning. But then this error becomes silent again, so we won nothing. We just made the

[2017-08-11 20:22] pjcpjc commented on #7242
I'd prefer for sklearn to respect column names if they are present both for fit and predict, and respect column ordering if they were missing in either (or both). But I also think a warning would be better than how it works right now, where its easy to get a false sense of security and end up with buggy code, which was my experience with this issue.

You can see my bug fix [here](https://github.co

[2017-08-11 20:35] amueller commented on #8100
Should we have attributes reflect the additional classes in all cases? I think so, because otherwise it will be very confusing. @aarshayj points out that that requires changing ``coef_`` and ``intercept_`` in the linear models, if we want them to correspond to the entries in ``decision_function``.

[2017-08-11 20:45] aarshayj commented on #8100
yea i think we'll have to do this. for instance, if the user sets classes=[1,2,3] while y has only [1,2], then an SVM will return just 1 set of coefficients and 1d decision function because the library we use makes use of data only in y. but in our API, we need to supplement both coef and decision function to make them 3d.

the returned values are for the positive class (2). so we can fill in 0s f

[2017-08-11 20:53] GaelVaroquaux commented on #6601
We have other more important battles to fight. Let's move along.

[2017-08-11 22:12] amueller commented on #7242
I'm not sure you got the problem with the warning. If there's always a warning, people will change their code so they don't get a warning, which is by passing in ``df.values``, i.e. a numpy array without column names. Then later they change their code and columns mismatch again but they get no warning because they only passed a numpy array. So in the end, adding the warning didn't safe them at all

[2017-08-11 22:23] amueller commented on #9515
or code to reproduce?

[2017-08-11 22:28] amueller commented on #9519
we do not declare ``scipy`` and ``numpy`` dependencies in ``setup.py`` for what I consider historic reasons. I'm not sure if there's an issue open for that right now.
It might be a bit tricky to allow pip install without having numpy installed, but I think we should at least be able to install without scipy installed.

[2017-08-11 22:33] amueller commented on #9518
I think we generally prefer scores that don't depend on the sample size.
The assumption is that if you subsample your data you get a score that is comparable to the one of the model with more data.

Apart from that motivation, it's really hard to change anything because of backward compatibility reasons. We can't just change behavior. We would need to add a parameter for this functionality, warn a

[2017-08-11 22:44] amueller commented on #9514
@CyrilLeMat but if there is no parameter of that name, you get an error, right?

[2017-08-11 22:48] pjcpjc commented on #7242
I think I understand your point. My point is if the warning links to a "see here for details" documentation page, and that page takes great pains to point out that you need to manage the column positions outside of sklearn, then my guess it will save quite a few people.

I also suspect that the people who ignore the warning, and/or don't take it seriously and just do the simplest possible thing to

[2017-08-11 22:54] amueller commented on #2889
Having a fix to multiprocessing be dependent on the scikit-learn version is symptomatic of the problems of vendoring....

[2017-08-11 22:56] amueller commented on #7242
Ok, I see where you're coming from. It might be a good way to make people aware that this issue potentially exists at all. I still thinks it's a bit too loud and unspecific, though it might indeed save some people. I hope for a near-ish term better solution ;)

[2017-08-11 23:02] amueller commented on #9499
Maybe. You'd have to consolidate all the dictionaries you get at the end. I guess that would be simpler than copying all the code.

Hm it depends a bit what ``candidates`` is in your example. I don't think that's actually needed, since we already have ``_get_param_iterator``, and any optimization would create these on the fly?

[2017-08-11 23:04] amueller commented on #9193
yes, should have been a function call.

[2017-08-11 23:29] jrbourbeau commented on #9514
I just tried

[code]

with v0.18.2 and it doesn't throw an error. There is a `min_impurity_split` parameter for `GradientBoostingRegressor` in this version. However, during fitting, the `min_impurity_split` value from `GradientBoostingRegressor` is not passed to the `DecisionTreeRegressor` that is induced on the residuals (where the validation of `min_impurity_split` occurs). So the default value

[2017-08-11 23:42] ashimb9 commented on #9518
That makes sense and is probably reason enough not to consider this. Anyway, thanks for your response.

[2017-08-12 04:45] jrbourbeau opened #9533 "model_selection.cross_validate docstring examples not rendering properly"
#### Description

The docstring examples for `model_selection.cross_validate` don't appear to be rendering correctly on http://scikit-learn.org/dev/modules/generated/sklearn.model_selection.cross_validate.html (see image below)

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

![image](https://user-images.githubusercontent.com/11656932/29237882-6b0cb12c-7eed-11e7-93a3-3192

[2017-08-12 05:14] GaelVaroquaux commented on #2889
I recently read the following, which I found interesting:
https://lwn.net/Articles/730630/rss

[2017-08-12 10:34] qinhanmin2014 opened #9535 "test_kernel_ridge_singular_kernel sometimes fails on Travis"
#### Description
When developing recently, I find that test_kernel_ridge_singular_kernel(sklearn.tests.test_kernel_ridge.test_kernel_ridge_singular_kernel) sometimes fails on Travis. The test pass after an empty commit.

#### Steps/Code to Reproduce
pull request #9108
failed build https://travis-ci.org/scikit-learn/scikit-learn/jobs/259750223
empty commit https://github.com/scikit-learn/scikit-lea

[2017-08-12 12:02] #9533 closed

[2017-08-12 14:03] xuezhiyang commented on #8654
do you resolve this problem? i also meet with this problem and do not know how to resolve.

[2017-08-12 15:23] degravek opened #9538 "Implementing partial_fit with CalibratedClassifierCV?"
Hi guys, I've asked this same question on stack overflow and haven't gotten a response, but maybe what I'm about to ask is possible.

I need a classifier that is able to learn incrementally via scikit learns partial_fit method. I also want to calibrate the classifier before using it. One option is to use SGDClassifier. The problem is that scikit learns CalibratedClassifierCV does not return a "cor

[2017-08-12 15:54] yarikoptic commented on #9393
oh -- I have managed to miss your message @jnothman and 0.13.0 came out without the fix, my bad.  I will release debian packages as is (without i386 build for some) and later give you exact instruction on how to reproduce.

[2017-08-12 16:05] yarikoptic commented on #9393
FWIW -- issue in general reproducible:  https://buildd.debian.org/status/package.php?p=scikit-learn&suite=experimental  (check i386 build) and some other builds have other issues btw (that was in beta -- let's wait for current release to get built in unstable before summarizing coming up issues on some other architectures)

[2017-08-12 18:37] pravarmahajan commented on #9528
Can I have a look at this one?
I believe that checking dtype_orig.kind == "C" in the function check_array, should be sufficient, is that right?

[2017-08-12 20:17] jzf2101 commented on #6788
Any news on this issue?

[2017-08-12 20:18] jcrudy opened #9539 "QuantileLossFunction calculation incorrect"
I ran into this because I've been experimenting with a smoothed quantile loss function and was testing it against the scikit-learn implementation.  It looks like there is a bug in the sklearn version.  I believe the `+` sign [here](https://github.com/scikit-learn/scikit-learn/blob/4d9a12d175a38f2bcb720389ad2213f71a3d7697/sklearn/ensemble/gradient_boosting.py#L423) should be a `-`, as well as the o

[2017-08-13 05:57] betatim commented on #9499
From my point of view the tricky bit is passing feedback from `_fit_and_score` to the iterator from `_get_param_iterator`. So I would suggest splitting things somewhere around [here](https://github.com/scikit-learn/scikit-learn/blob/fbca098c62da3de7d2a5fedc649c7a137719609f/sklearn/model_selection/_search.py#L639) and replace the first part in scikit-optimize.

[2017-08-13 10:25] jnothman opened #9540 "Add lgtm.com integration?"
We found the alerts from lgtm.com useful. We recently had an alert added by a PR merged into master: https://lgtm.com/projects/g/scikit-learn/scikit-learn/rev/312b1dfc74aeb6666a869fdc59971bd348dd097b. This is, again, a true positive.

So we should consider adding lgtm.com to our CI, at least as a trial.

[2017-08-13 12:56] jnothman commented on #9524
I think this might be worth fixing, one way (change fitting behaviour) or
another (change model attribute). It's somewhat surprising, and users won't
realise the mismatch when it occurs. What are the reasons not to fix?

On 12 August 2017 at 00:00, Guillaume Lemaitre <notifications@github.com>
wrote:

[2017-08-13 13:07] jnothman commented on #8100
Yes, `classes_` should be identical to `classes` parameter when provided,
and coef et al should correspond.

On 12 August 2017 at 06:45, Aarshay Jain <notifications@github.com> wrote:

[2017-08-13 13:19] jnothman commented on #7242
I think warning for all pandas DataFrame input is overkill. Lots of people are loading DataFrames from static sources (as we recommend) and not reordering columns.

The options, as far as I'm concerned are:
* add some documentation on Scikit-learn with Pandas and pitfalls therein.
* add a common test which ensures column name equality, otherwise raising a warning (and perhaps in a later version an

[2017-08-13 13:26] jnothman commented on #7242
If we do this, I'd suggest we extend `check_array`, at least to do the checking, and perhaps even to help store the estimator attribute. In terms of syntax, this could be as magical as `check_X_y(X, y, ..., estimator=self)` in fit and `check_array(X, ..., estimator=self)` in predict/transform, but maybe we'd prefer `check_X_y(X, y, ..., store_column_hash=self)` and `check_array(X, ..., column_hash

[2017-08-13 13:28] jnothman commented on #9514
Is it passed correctly in v0.19? Looks like it is, to me.

On 12 August 2017 at 09:29, James Bourbeau <notifications@github.com> wrote:

[2017-08-13 13:29] jnothman commented on #9518
Thanks for bringing it up, @ashimb9

[2017-08-13 13:29] #9518 closed

[2017-08-13 13:48] jnothman commented on #9535
Yes, these look like we should be using a lower precision comparison, but
perhaps also fixing random_state in Ridge construction.

Thanks for the report.

On 12 August 2017 at 20:35, Hanmin Qin <notifications@github.com> wrote:

[2017-08-13 13:49] jnothman commented on #8654
Have you had a problem with it in version 0.19?

On 13 August 2017 at 00:03, xuezhiyang <notifications@github.com> wrote:

[2017-08-13 13:54] jnothman commented on #9538
You could use CalibratedClassifierCV with cv='prefit' to wrap a model after
it is fitted. Does that solve your needs?

On 13 August 2017 at 01:23, degravek <notifications@github.com> wrote:

[2017-08-13 14:01] jnothman commented on #9393
Right. I see in the logs there an alarming number of fails for a final release :(((

And none of them are about `test_preserve_trustworthiness_approximately`

[code]

[2017-08-13 14:05] jnothman commented on #9528
I'm all good for not supporting complex. @pravarmahajan that sounds
reasonable.

On 13 August 2017 at 04:37, pravarmahajan <notifications@github.com> wrote:

[2017-08-13 14:07] jnothman commented on #9539
This is fixed in 0.19 (by b6854944). It somehow missed the changelogs.

[2017-08-13 14:07] #9539 closed

[2017-08-13 14:08] jnothman commented on #9539
No, it's there in the changelogs. I just changed the wording to say `quantile='loss'` at some point.

[2017-08-13 14:22] jnothman commented on #9499
There's also a subtle trickiness in ensuring the CV splits are the same across calls and the fact that we could reuse the parallel backend.

So we basically want a coroutine. Either:
[code]
and the search does something like:
[code]

or inverted:

[code]
which may make more sense.

[2017-08-13 14:25] glemaitre commented on #9524
I'll make a PR.

[2017-08-13 14:25] qinhanmin2014 commented on #8364
@amueller I updated plot_iris.html in #9541. Could you please have a look at it. Thanks:)

[2017-08-13 14:31] jnothman commented on #9499
Perhaps the latter case more refined is:
[code]

In the latter case, your skopt code might be:

[code]

[2017-08-13 14:54] jrbourbeau commented on #9514
Yeah, it's passed correctly in v0.19

[2017-08-13 15:20] amueller opened #9543 "Add OpenML dataset fetcher"
The status of the OpenML API is now so that I think we can relatively easily implement a fetcher for OpenML datasets.

You can see some of the discussion here:
https://github.com/openml/OpenML/issues/218#issuecomment-317801033

The interface should probably either accepting a name or an id. Names are not unique in OpenML, integer IDs are - but less user friendly.

My suggestion would be to do a se

[2017-08-13 15:22] amueller commented on #9543
We might want to provide a read-only API key so that OpenML can figure out which calls come from us (but we don't want users uploading datasets in our name).

[2017-08-13 15:27] amueller commented on #7242
I would rather not store hashes, because this information is very valuable for model inspection.
I'm not sure I like passing ``self`` to ``check_array``, I guess the only alternative would be to return ``column_names`` and then store it, and pass ``column_names=self._column_names`` in predict / transform.
(if we do this, we probably want to really look into ``get_feature_names`` and the pipeline p

[2017-08-13 15:39] amueller commented on #9499
@betatim yeah that's about where I thought. Though I wouldn't split the fit method, I would just encapsulate the call that generates the candidates and gets the results.

I agree that  co-routine is probably the best pattern for this. Do you know how that would work with the Parallel interface, though?

I would still not have skopt overwrite fit, because most of the fit is parameter validation and

[2017-08-13 15:46] amueller commented on #9393
The last is the most confusing to me tbh.

[2017-08-13 16:19] degravek commented on #9538
jnothman, thanks for the response! If I use the 'prefit' option, I still have to fit the CalibratedClassifierCV on a set of data as:

clf = SGDClassifier(alpha=0.0001, loss='log', penalty='l1')
clf.fit(X_train, y_train)
clf = SGDClassifier(alpha=0.0001, loss='log', penalty='l1')
model = CalibratedClassifierCV(clf, method='sigmoid', cv='prefit')
model.fit(X_data, y_data)

It seems that I can't use

[2017-08-13 18:49] vrishank97 commented on #9430
Can I take this up as my first contribution here?

[2017-08-13 18:51] souravsingh commented on #9430
@amueller I have started the benchmark by making the modifications to the repository given. I will be posting my results soonish.

[2017-08-13 19:30] YSanchezAraujo commented on #9543
@amueller are users expected to know the dataset name then?

[2017-08-13 19:36] yarikoptic commented on #9393
yeah, that 32bit issue didn't reproduce in current build.  I guess it is not fully deterministic... will try to reproduce now "locally"

[2017-08-13 21:46] jnothman commented on #7242
I'm okay with storing names but it might be an expensive addition to
pickling. In the numpy case, we should use the same method to store number
of features. Do we need to be checking consistency between fit and predict
in any other way?

(The thing with get_feature_names is that I only think it's helpful to
automatically name features in case of:
* Feature selection
* Feature union
* Scaling (don'

[2017-08-13 21:49] jnothman commented on #9499
The parallel context manager should work fine here

On 14 Aug 2017 1:39 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-08-13 23:06] jnothman commented on #9538
no, you can't partial_fit the calibration, but you can partial_fit the
underlying classifier

On 14 Aug 2017 2:19 am, "degravek" <notifications@github.com> wrote:

[2017-08-13 23:09] jnothman commented on #9543
why would you do a search by name and not require the user to specify by
id? I'd assume names are ambiguous.

On 14 Aug 2017 5:30 am, "Yoel Sanchez Araujo" <notifications@github.com>
wrote:

[2017-08-13 23:10] jnothman commented on #9393
and do we need to fix the other test failures for scikit-learn 0.19 to ship
with Debian?

On 14 Aug 2017 5:36 am, "Yaroslav Halchenko" <notifications@github.com>
wrote:

[2017-08-13 23:31] YSanchezAraujo commented on #9543
I thought that was the intention of the suggestion:

My suggestion would be to do a search call like

https://openml.org/api/v1/json/data/list/data_name/anneal/limit/1

which searches for the anneal dataset. The result will contain the ID of the first dataset called anneal.

[2017-08-13 23:53] jnothman commented on #9543
ah okay.

[2017-08-14 00:23] jnothman commented on #9393
That last failure is not confusing after a little investigation. It's a result of `n_jobs=-1` being the same as `n_jobs=1` on a machine with 1 core.

[2017-08-14 00:26] jnothman commented on #7319
I think we should move to pytest as the default for CI before the next release, but we will need to have a small test suite for ensuring estimator_checks still all work with nose.

[2017-08-14 00:28] jnothman commented on #9393
@rth, do you mind looking into the `test_hasher_alternate_sign` failure above?

[2017-08-14 02:59] jnothman commented on #9499
Btw, @betatim, the problem with passing results back from `_fit_and_score` is that I don't want to make any promises about its interface. I would rather return a list of dicts even if it takes some overhead to transform it. I'm still not sure what the right format for returning things here is.

We can also achieve a similar effect to a coroutine with a class having an `evaluate` method (rather tha

[2017-08-14 03:17] jnothman commented on #2969
It would be good to have this in the form of an estimator check.

[2017-08-14 03:22] jnothman opened #9545 "BUG liblinear/libsvm-based learners segfault when passed large sparse matrices"
From https://github.com/scikit-learn/scikit-learn/issues/2969#issuecomment-309400363:
"Anything that uses liblinear (and possibly other bundled C as opposed to Cython code) will segfault when given CSR arrays with 64 bit indices (e.g. LogisticRegression(), LinearSVC() etc). This is fairly critical IMO, and even if sparse arrays with 64 bit indices won't be supported there in the near future (or at

[2017-08-14 04:16] FlxVctr opened #9546 "Error in documentation for tf-idf weighting"
http://scikit-learn.org/stable/modules/feature_extraction.html#tfidf-term-weighting

says

![](https://dl.dropboxusercontent.com/s/hc6qz7jm3b918nf/2017-08-14%20at%202.10%20pm.png)

which would actually be 1. That however would be inconsistent with the example output (= 0 ) of the transformation above. Following the explanations above I'd say there are brackets missing around

log(6/1) + 1

Same fo

[2017-08-14 04:26] #9535 closed

[2017-08-14 07:54] rth commented on #9546
@FlxVctr Double checked it, you are right: parentheses are missing around  log(6/1) + 1 in [`doc/modules/feature_extraction.rst`](https://github.com/scikit-learn/scikit-learn/blame/b46e6382daf2b9518a54066106e88197555ca18d/doc/modules/feature_extraction.rst#L493). Also a few lines below `\text{tf-idf}_raw` should be `\text{tf-idf}_{\text{raw}}`. A Pull Request is welcome )

[2017-08-14 08:33] rth commented on #9393
@yarikoptic On this link I see "No entry in i386 database, check Packages-arch-specific" (with "Suite: experimental"). Is there another way of getting this i386 build for debian? or did I miss something? Thanks.

[2017-08-14 08:48] jnothman commented on #9393
yeah, i clicked the logs column after failing to work it out

On 14 Aug 2017 6:33 pm, "Roman Yurchak" <notifications@github.com> wrote:

[2017-08-14 13:48] ZaferBuker opened #9548 "This channel is already in use,continuing anyway ERROR !"
Hi everyone,
I want to use rfid rc522 and dc motor codes together.
I want to read my modular card, then rotate the engine.

my code is ;

from pirc522 import RFID
import signal
import time
import RPi.GPIO as GPIO

GPIO.setmode(GPIO.BOARD)
rdr = RFID()
util = rdr.util()
util.debug = True

while True:
    rdr.wait_for_tag()
    (error, data) = rdr.request()
    if not error:
    	print("\nCard detec

[2017-08-14 14:16] kdhingra307 commented on #9545
@jnothman i would love to solve this bug, any suggestions?

[2017-08-14 14:24] amueller commented on #9548
this seems entirely unrelated to scikit-learn?

[2017-08-14 14:24] #9548 closed

[2017-08-14 14:27] yarikoptic commented on #9393
Thank you very much for looking into those!

FWIW -- locally I had only the test_multi_output_classification_partial_fit_parallelism to popup and indeed it was due to inability to do multiprocessing in my case (absent bound to /dev/shm I guess):
[code]
it passes just fine when I have /dev/shm mounted and joblib does not complaint.

Re

well -- for unstable Debian -- no.  But if we want to have it

[2017-08-14 14:57] degravek opened #9549 "'SGDClassifier' object has no attribute 'n_iter'"
I've been trying to implement SGDClassifier in an online app (need to use partial fitting) using loss='log', and tuning the various parameters as best I could to replicate the results I get using a LogisticRegression classifier. I'm trying to minimize neg_log_loss here. The only way I seem to be able to get good results is to set 'n_iter' to some large value (~1000). If I leave 'n_iter' out, the r

[2017-08-14 14:59] yarikoptic commented on #9393
re original `test_preserve_trustworthiness_approximately`
- specific to older versions of something (yet to figure out since numpy as nscipy are the same) since is not reproducible on current debian sid but reproducible on testing (from few days back) and other older releases.
- specific to init='pca' method='exact'

before I spend more time -- is there specific meaning for the threshold to be 0.9

[2017-08-14 15:02] yarikoptic commented on #9393
btw these are the values I see for t, init, method
[code]

[2017-08-14 17:22] #9546 closed

[2017-08-14 17:26] degravek commented on #9538
If I partial_fit the underlying classifier, I still need to re-calibrate (i.e., re-fit the CalibratedClassifierCV) on X_data, y_data each time don't I? Isn't there an easier way to do this so I don't have to load and store the data each time recalibration has to occur?

[2017-08-14 18:24] pravarmahajan commented on #9528
Thank you @jnothman

I have created a pull request.

The function check_array has grown big and is complicated, would it be worth splitting it into smaller parts?

[2017-08-14 19:07] amueller commented on #9543
I thought names would be more user-friendly (even if ambiguous). ``fetch_mldata`` uses names, though their names are unique.
Like if I want to load mnist, I don't want to remember the id of MNIST.

@YSanchezAraujo you don't need arff and you can't use pandas unfortunately, because it's not a requirement.

The interface should be pretty similar to that of ``fetch_mldata`` I think.

[2017-08-14 19:10] amueller opened #9552 "redundant code in check_array"
It looks to me like there is redundant code in ``check_array`` in the ``ensure_2d`` part. We just checked ``ndim``, so what do we do ``atleast_2d`` for? (this leaves alone higher n-dim, right)?

I think we should remove these two lines but we need to make sure behavior is really identical.

[2017-08-14 19:11] amueller commented on #9540
happy to give it a go as trial. Feel free to add it, I guess?

[2017-08-14 19:13] amueller commented on #9545
@kdhingra307 add a test to these classes to check for these matrices?

[2017-08-14 19:19] amueller commented on #9538
Yes. The problem is that the distribution of the ``decision_function`` will change as ``SGDClassifier`` learns, so if you'd try to incrementally learn the calibration, it will try to learn a shifting dataset. You could do a ``partial_fit`` that does that, and it might work in your application or might not. I'm not sure if there's any research done on this.
With logistic calibration (which I guess

[2017-08-14 19:20] amueller commented on #9538
It's probably easier to just use ``loss='log'`` ;)

[2017-08-14 19:34] mcgibbon opened #9553 "Use median instead of mean when constructing RandomForestRegressor"
#### Description

I am using a RandomForestRegressor for a task where it seems I would benefit from having the leaf node values defined by the median over its samples instead of the mean over its samples, due to the presence of outliers. This functionality currently isn't present in scikit-learn, and I would like to add it (either as a PR, or just locally on my machine).

If I'm going to do this,

[2017-08-14 19:34] YSanchezAraujo commented on #9543
@amueller Alright I'll change up the code a bit

[2017-08-14 19:37] vrishank97 commented on #9552
I'd like to take this up as my first contribution here. Any pointers on how to go about checking their behaviour?

[2017-08-14 19:40] mcgibbon commented on #9553
I hadn't thought about this, but I suppose I would also want to use the median when aggregating values from different trees.

[2017-08-14 19:51] #9489 closed

[2017-08-14 19:56] amueller commented on #9553
Would you use the median across all leaves in all the trees or the median per tree and then the median of the medians? Do you have any literature or experiments on this? It makes intuitive sense, but it's not obvious that it'll actually help in practice.

[2017-08-14 20:28] mcgibbon commented on #9553
When constructing the leaf I'd take the median among the samples given to that leaf, and when getting the value for the forest I'd take the median of the medians. The (non-peer reviewed?) paper I found using this is [here](http://web.sys.virginia.edu/files/tech_papers/2006/sie06_0004.pdf). For my particular problem zero is a special value that occurs often (I'm predicting statistical moments, and

[2017-08-14 20:33] amueller commented on #9553
Thanks for the reference :) I'm no expert in regression, I'll let the tree builders weigh in...

[2017-08-14 20:36] mcgibbon commented on #9553
Perhaps a better reference is [here](http://www.tandfonline.com/doi/abs/10.1080/10485252.2012.715161).

[2017-08-14 20:41] mcgibbon commented on #9553
On the question of how to do this, since no matter what I have to implement this for myself... right now I'm confused by why the tree builders in tree/_tree.py seem to have no code in them. If anyone knows the lines where means are taken (when building a tree and when aggregating in a forest) it would really help me out.

[2017-08-14 20:56] amueller commented on #9553
You probably also want to change the criterion, since using MSE for splitting seems a bit odd then? Not sure what the papers use. The criteria are [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/_criterion.pyx#L1308).  The ``node_value`` method here is where the values are computed.

[2017-08-14 21:21] mcgibbon commented on #9553
That's strange, reading this code it looks like the MAE criterion is actually what I am proposing. It uses medians for nodes, presuming that's what `self.node_medians[k] = (<WeightedMedianCalculator> right_child[k]).get_median()` would do.

In other words, it looks like if you set "mae" as the criterion (assuming that makes this MAE object get used), it will take the median for each node.

[2017-08-14 22:38] mcgibbon commented on #9553
Assuming I just need to use criterion='mae', I now have another issue which is that the MAE criterion does not scale the way MSE does. Is this a problem with the implementation, or an intrinsic limitation of using MAE and the median? Here I plot up to ~16k samples, but for my actual problem I have 2576460 samples and need to train more like a depth 16-20 tree than a depth 2 tree, so this is probab

[2017-08-14 22:45] mcgibbon commented on #9553
I should really plot out a little further to show the actual scaling for MSE:

[code]
![mse_vs_mae_scaling_2](https://user-images.githubusercontent.com/12307589/29295108-865af1fc-8107-11e7-85cc-e9b07526edad.png)

[2017-08-14 23:38] mcgibbon commented on #9553
It looks like this is rooted in the fact that for MSE, the impurity is defined by
[code]
and sum_total[k] is easy to update when changing the split. On the other hand, when using the median we use
[code]
When an update happens we can (and do) incrementally update the median, assuming that's what happens when you call
[code]
But even then, the impurity gets entirely re-computed by iterating over th

[2017-08-14 23:51] espg commented on #8996
...are there plans to replace LSH with something else? Right now, it seems to be the only thing that can query >500 features for large (>1M) sample datasets in reasonable time... unless there's a another option I'm missing perhaps?

[2017-08-14 23:53] jnothman commented on #9393
i think .9 is somewhat arbitrary but we'd like to be sure that the
variation isn't pointing to something more sinister

On 15 Aug 2017 1:03 am, "Yaroslav Halchenko" <notifications@github.com>
wrote:

[2017-08-14 23:55] jnothman commented on #9549
we should probably extend that warning to say max_iter should be used

On 15 Aug 2017 2:26 am, "degravek" <notifications@github.com> wrote:

Closed #9549 <https://github.com/scikit-learn/scikit-learn/issues/9549>.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/scikit-learn/scikit-learn/issues/9549#event-12050

[2017-08-15 00:02] jnothman commented on #9528
I think check_array remains quite focused in function. Is there a way to
break it up which actually improves readability?

On 15 Aug 2017 4:24 am, "pravarmahajan" <notifications@github.com> wrote:

[2017-08-15 00:29] jnothman commented on #9545
yes, start with a test. construct a CSR matrix with big index dtype. Use
assert_raises to pass it into SVC().fit and to check it raises an error
(check what type of errors other estimators such as SGDClassifier raise).
Then make the test pass by changing the SVC.fit code.

On 15 Aug 2017 5:13 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-08-15 00:35] jnothman commented on #9543
if the names are not unique, don't do it by name, or search by name but
error if multiple are returned. Or warn and take the search result with the
lowest numeric id or something similarly well-specified

[2017-08-15 00:36] jnothman commented on #9552
One way is to remove the lines and check tests still pass. Then read the
tests for check_array and see if they are sufficient to ensure behaviour
about dimensionality

On 15 Aug 2017 5:37 am, "Vrishank Bhardwaj" <notifications@github.com>
wrote:

[2017-08-15 00:42] jnothman commented on #9553
ping @raghavrv who might wish to help clarify.

On 15 Aug 2017 9:38 am, "Jeremy McGibbon" <notifications@github.com> wrote:

[2017-08-15 00:53] jnothman commented on #8996
We found that it was hard to find a case where this performed a lot better
than standard nearest neighbours, while alternative approximate nearest
neighbours (ANN) implementations exist that are more efficient and flexible
(we only supported cosine similarity, batch fitting, etc), including
Facebook's pysparnn and Spotify's annoy and ryanrhymes' panns and flann.
You could also perform exact neares

[2017-08-15 00:55] jnothman commented on #8996
Also, you're welcome to state why you disagree...

[2017-08-15 00:58] jnothman commented on #8996
I must say that most of the reasons above are not sufficient to remove something. I think we felt that having it available made people assume it was good quality, or efficient for their purposes. It wasn't.

[2017-08-15 03:15] jrbourbeau opened #9554 "Make roc_auc_score and average_precision_score docstrings slightly more explicit"
The `metrics.roc_auc_score` and `metrics.average_precision_score` docstrings currently have "True binary labels in binary label indicators" as the description for their `y_true` parameter. I think that it should say "or binary label indicators". Also, it might be beneficial to be slightly more explicit about the accepted true binary labels (e.g. the `y_true` parameter in `metrics.roc_curve` is des

[2017-08-15 04:17] jnothman commented on #9540
I've activated it. I'm curious how slow it will be.

[2017-08-15 04:17] #9540 closed

[2017-08-15 11:35] qinhanmin2014 commented on #9540
According to the two existing builds, it takes nearly 50 minutes for a single build.

[2017-08-15 12:21] jnothman commented on #9540
That seems acceptable, thanks. I wonder if it's longer for bigger diffs,
though

On 15 Aug 2017 9:35 pm, "Hanmin Qin" <notifications@github.com> wrote:

According to the two existing builds, it takes nearly 50 minutes for a
single build.

—
You are receiving this because you modified the open/close state.

Reply to this email directly, view it on GitHub
<https://github.com/scikit-learn/scikit-lear

[2017-08-15 15:13] amueller commented on #9553
That's very possible (see, I have no idea about the tree details lol). @raghavrv @jnothman @jmschrei @glouppe can probably confirm. Lol the ensembles user guide doesn't mention the word "criterion". I feel we could improve that.

[2017-08-15 15:19] adamklein commented on #7346
I'm using dask/distributed (latest), and I'm actually getting a different error but that looks related:

	File "lib/python3.5/site-packages/sklearn/ensemble/forest.py", line 314, in fit
		random_state=random_state)
	  File "lib/python3.5/site-packages/sklearn/ensemble/base.py", line 119, in _make_estimator
		estimator = clone(self.base_estimator_)
	  File "lib/python3.5/site-packages/sklearn/base.

[2017-08-15 15:31] wolfiex commented on #6665
**Replicated** I have removed pip installs of numpy and updated conda.

Darwin-16.7.0-x86_64-i386-64bit
('Python', '2.7.13 |Anaconda custom (x86_64)| (default, Dec 20 2016, 23:05:08) \n[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]')
('NumPy', '1.13.1')
('SciPy', '0.19.0')
('Scikit-Learn', '0.18.1')

[2017-08-15 16:48] amueller commented on #9543
I think the code I gave will give the smallest id, but we should confirm. And happy to warn if it's not unique. I'm not sure how many of the datasets are unique. I raised a point about having unique names, and we could probably have them add unique names if that would help.
We can also do just IDs for now, but I don't think it's a very friendly interface.

[2017-08-15 16:56] amueller commented on #6665
@wolfiex so you did
[code]
Somewhat related I recommend you update to scikit-learn 0.19 which has some fixes in t-SNE

[2017-08-15 17:02] amueller commented on #9554
PR welcome. thanks :)

[2017-08-15 17:03] amueller commented on #9528
I looked at it again and I think it's actually not that bad - but then again, I might have written fair chunks of it ;)

[2017-08-15 18:17] espg commented on #8996
Thanks for the info, I appreciate it. It looks like Spotify's annoy is a reasonably close drop in replacement that will work much better than LSH for my application.

I do think it would be good to have an approximate neighbors interface in sklearn; something that fit well with the API and could be specified by the 'algo' flag would let quite a few existing algorithms be spend up in cases where cl

[2017-08-15 19:01] mcgibbon commented on #9553
I've written up a PR (#9556) that should implement the change I suggested, but the problem is the scaling is still the same. The run time is virtually identical to before the change. I'm using a develop install, was certain to re-run build_ext --inplace, and double-checked sklearn.__version__ was correct (that it was using the develop install).

[2017-08-15 19:38] amueller commented on #8996
@espg PR welcome ;) I think someone in the paris team was actually looking into it, though I don't remember who. @agramfort might know?

[2017-08-15 20:20] amueller commented on #9549
We done goofed on that one. ``n_iter`` shouldn't have been removed like this. It's checked in the ``__init__``, not in ``fit`` and ``n_iter`` is never set. In particular this means if someone is grid-searching ``n_iter`` that has no effect at all! Sounds like 0.19.1 coming right up....

[2017-08-15 20:23] amueller commented on #9549
Why didn't the common tests fail on this? I guess we only check that ``__init__`` is not setting something it shouldn't, we're not checking whether it's setting everything it should.

[2017-08-15 20:52] amueller opened #9559 "common test: check that everything was set in init"
The deprecation of ``n_iter`` had an issue as pointed out in #9549.
We could easily find those by adding a test that ensures that everything that's passed to ``__init__`` is actually set as attribute. I'm not sure if we want to enforce that for third party estimators, but if and argument to ``__init__`` is not stored, that probably means ``set_params`` is broken.

I might look into this tomorrow

[2017-08-15 20:53] rth commented on #8996
In https://github.com/scikit-learn/scikit-learn/pull/8999 (will try to find time to finish it)..

[2017-08-15 21:07] amueller commented on #9559
relates to #9450.

[2017-08-15 21:23] adamklein commented on #7346
I take it back, I am running multiple fit tasks within the same process at once - didn't think I was... but I am. Presumably fit isn't thread-safe? A threading.Rlock seems to do the trick.

[2017-08-15 21:47] jnothman commented on #9543
well minimum id with a given name works as long as id allocated in
chronological order and there's no deletion

On 16 Aug 2017 2:48 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-08-15 21:57] taineleau commented on #9199
@tttthomasssss have you fixed this bug?

[2017-08-15 22:38] jnothman commented on #9549
oh :(

On 16 Aug 2017 6:23 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-08-15 23:03] jnothman commented on #7346
If you run multiple fits on the same estimator, that's not going to be
thread safe. But you've not shown enough code for us to interpret.

On 16 August 2017 at 07:23, Adam Klein <notifications@github.com> wrote:

[2017-08-15 23:08] jnothman commented on #9199
No pull request yet

[2017-08-16 00:09] jnothman opened #9560 "get_params handling of DeprecationWarnings is weird"
Related to #2755 and #7346 .

`BaseEstimator.get_params` has logic which:
* sets a warnings filter to always show DeprecationWarnings. Always. Even if they're not from scikit-learn, or triggered outside of `get_params`.
* refuses to return from `get_params` a parameter (as defined by `BaseEstimator._get_param_names` to be a constructor parameter) whose attribute access raises a `DeprecationWarning

[2017-08-16 00:11] jnothman commented on #2755
FWIW, even without this `pop`, as long as we use `catch_warnings`, things will not be thread-safe. I run the script below, and may get output such as that beneath it.
[code]
Output:
[code]

The first difference (in `filters`) is an effect of adding a filter within the `catch_warnings` context and exiting the `catch_warnings` contexts out of order. The second difference (in `showwarning`) is an eff

[2017-08-16 00:13] jnothman commented on #2755
What are the risks of locking (@gaelvaroquaux)?

[2017-08-16 02:50] jnothman opened #9563 "Avoid using isinstance(memory, Memory) to allow for alternative Memory implementations"
As raised in  #9561, we should not be using `isinstance(memory, Memory)` to validate Memory arguments, as it's not straightforward for users to realise they need to use `sklearn.externals.joblib.Memory` (rather than `joblib.Memory`).

I think we should be using ducktyping wherever we check for memory. If a `memory` parameter has a method `cache`, we should treat it as `Memory`. We should have test

[2017-08-16 04:50] jrbourbeau opened #9564 "LogisticRegressionCV uses SCORERS instead of get_scorer"
#### Description

As brought up in https://github.com/scikit-learn/scikit-learn/issues/8737#issuecomment-293851354, `linear_model.LogisticRegressionCV` currently uses the dictionary `metrics.SCORERS` instead of the function `metric.get_scorer` to get scoring metrics. Using `get_scorer` yields the same result, but with a more helpful error message.

For example, the following code will fail because

[2017-08-16 08:40] tttthomasssss commented on #9199
@taineleau @jnothman thanks for the reminder and apologies for the delay!

I have a fix for the problem _per se_, however haven't gotten round to write an appropriate test for it.

I will submit a PR within the next few days.

[2017-08-16 10:05] #9564 closed

[2017-08-16 12:22] zengxy opened #9568 "BUG for DecisionTreeRegressor with sample_weight"
I'm dealing with some alghrithms with DecisionTreeRegressor and I foung that DecisionTreeRegressor with sample_weitght will fail to get right result in some case.

See following code:
[code]
As you can see, when i change sample_weight, it got different results. While they should be same because sample_weight is none or same weight.

So could you tell me if I got something wrong or there are bugs?

[2017-08-16 14:04] adamklein commented on #7346
Hmm, I'm getting an error even after I've put a threading lock around the critical section of code - in which it creates the `RandomForestRegressor` and immediately fits it - ie, so that only one thread of execution within a process enters that section:

    "Invalid parameter max_depth for estimator DecisionTreeRegressor. Check the list of available parameters with `estimator.get_params().keys()`

[2017-08-16 15:23] adamklein commented on #7346
Ok, here is what is happening. While the estimator and fit are running within a locked / critical section of code, there are other threads running simultaneously. One of these other threads is executing pandas 0.20.3 code in my codebase that issues a warning:

	Skipping max_features because:
	- warning {message : DeprecationWarning('\n.ix is deprecated. Please use\n.loc for label based indexing or

[2017-08-16 16:24] adamklein commented on #7346
Here's a repro for good measure:

	import warnings
	from multiprocessing.pool import ThreadPool
	from threading import RLock

	from sklearn.ensemble import RandomForestRegressor

	_lock = RLock()

	def fitter():
		with _lock:
			lr = RandomForestRegressor()
			assert len(lr.get_params()) == 15, "Don't have all params"

	def do_something_nasty():
		warnings.warn("BOOM!", DeprecationWarning, stackle

[2017-08-16 17:47] jrbourbeau commented on #9568
Hmmm that does seem like a bug to me. I was able to reproduce what you have above on

Darwin-16.7.0-x86_64-i386-64bit
Python 3.6.1 |Continuum Analytics, Inc.| (default, May 11 2017, 13:04:09)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]
NumPy 1.13.1
SciPy 0.19.1
Scikit-Learn 0.20.dev0

I tried adding a quick consistency check (below) in the `fit` method of `BaseDecisionTree` to replace a

[2017-08-16 19:02] mcgibbon commented on #9553
I think I'm coming to realize that the reason for the O(N^2) run time is that the way the sorting to get median is implemented is O(N^2). The sorted lists are constructed by successively adding elements to a sorted list (WeightedPQueue), and each element is added by putting it on the end and then bubbling it to the correct spot on the list.

[2017-08-16 19:05] adamklein commented on #7346
FYI my current workaround is to start with

https://github.com/scikit-learn/scikit-learn/pull/2729/commits/952202910554fd34fd91ee9f985ecbd54f94198d

And change the code in `__enter__` to this:

    def __enter__(self):
        _lock.acquire()
        if self.record_category is not None:
            self._module.simplefilter('always', self.record_category)
        super(catch_warnings, self).__ente

[2017-08-16 19:36] amueller commented on #9568
Doesn't look like a bug to me. Both results are reasonable:
![image](https://user-images.githubusercontent.com/449558/29381689-20ca96d4-8298-11e7-8786-92aea2a40fe6.png)
I haven't computed the decrease in criterion by the two splits but I assume they are the same, and so the decision might be made in terms of some floating point rounding. You should fix the random state, too, btw.
Can you check if

[2017-08-16 19:39] amueller commented on #9568
The thresholds are at 5.5 and 15.5 respectively. I assume the "misclassify" the same number of points.

[2017-08-16 19:48] amueller commented on #7346
What does the snipet above reproduce?
That code is kinda nasty, and actually I don't understand it. In what case would attribute access on a parameter raise a deprecation warning? I would argue they are not really allowed to be properties, and I'm pretty sure in sklearn they are not properties anywhere.

[2017-08-16 19:58] liamge commented on #9552
I'd also like to take a look at this as a first contribution if I may. Would running `make` from the root directory be sufficient for checking to see if the tests still pass?

[2017-08-16 20:26] amueller commented on #9552
yes, that does it. ``make test`` is sufficient, though.

[2017-08-16 20:39] amueller commented on #7346
So in ``test_base.py`` we have
[code]
However, this is not how we usually deprecate parameters. We deprecate attributes using properties, we deprecate parameters by warning if they are set. The code in the test is also a bit strange because ``_b`` is not defined.

There are arguments to make for the deprecation the way it is tested here:
Our current deprecation practice does not give a warning to

[2017-08-16 20:42] amueller commented on #7346
FYI I ran the test suit and the only time the ``continue`` statement is reached is in the test in ``test_base.py``, i.e. we have no estimator in sklearn in which this happens.

[2017-08-16 21:00] amueller commented on #9563
I agree, but also, we should stop vendoring joblib ;)

[2017-08-16 21:00] InonS commented on #8376
@jnothman Thanks! :smiley:

[2017-08-16 21:03] amueller commented on #2755
See my comments [here](https://github.com/scikit-learn/scikit-learn/issues/7346#issuecomment-322879238). This code is not used in scikit-learn. I think we should get rid of it. If we want to keep it, we can find ways to detect deprecations that don't rely on warnings.

[2017-08-16 21:03] jrbourbeau commented on #9568
@amueller, that's a great point about fixing the random state. Here is the split for the `None` and `w2` weights

![image](https://user-images.githubusercontent.com/11656932/29385029-d7e34002-829b-11e7-8229-3a29a70a679c.png)

and here is the split for the `w1` weights

![image](https://user-images.githubusercontent.com/11656932/29385044-f2e74a88-829b-11e7-8b3a-50468ee6339c.png)

[2017-08-16 21:06] amueller commented on #7346
(also relates somewhat to the compatibility breakage we found yesterday https://github.com/scikit-learn/scikit-learn/issues/9549#issuecomment-322608795)

[2017-08-16 21:14] amueller commented on #9568
My intuition was correct ;) it's a tie.
![image](https://user-images.githubusercontent.com/449558/29385601-47da4518-82a6-11e7-92f5-9ec1d1241e4e.png)

[2017-08-16 21:23] amueller commented on #9543
Ids are allocated in chronological order, datasets can be deleted (and/or flagged as inactive). So you're concerned the result might change because a dataset gets deleted.
Maybe @janvanrijn  or @joaquinvanschoren  can comment. If datasets only get flagged as inactive and can still be searched, we could get future-proof behavior by searching including inactive datasets and erroring if it's inactive

[2017-08-16 21:26] amueller commented on #9560
I commented on the other two issues before seeing this. I think we can safely remove this piece of code as it is not used in scikit-learn at all.
We **never** use a property for a parameter, so this will never yield a warning.

[2017-08-16 21:28] amueller commented on #9560
Safely meaning safely for us. There's a risk that we break third-party code, but I think we are likely to break doctests at best.

[2017-08-16 21:30] amueller commented on #9560
What is left of #2755 if we remove the warning filter?

[2017-08-16 21:51] thechargedneutron commented on #9563
I want to work on this. Can one of you please provide some more background on this.

[2017-08-16 21:58] joaquinvanschoren commented on #9543
Thanks for doing this, and we're happy to help in any way possible.

When you search a dataset by name (using the API call above), you get the oldest version that was not deactivated for serious reasons. If you want to have the exact same version (e.g. for unit tests or documentation), then it is best to store the ID number after you download it. This supports both active research and archival use

[2017-08-16 22:03] joaquinvanschoren commented on #9543
Oh, sorry, I missed part of Andreas's answer. We can also add a status filter to the dataset search:
https://openml.org/api/v1/json/data/list/data_name/anneal/status/all

To return both active and non-active datasets. That would indeed help if a dataset is deactivated and not replaced by a new active version.

[2017-08-16 22:44] jnothman commented on #9553
not being familiar with this code, is there a way to make it nlogn or n?

On 17 Aug 2017 5:02 am, "Jeremy McGibbon" <notifications@github.com> wrote:

[2017-08-16 22:53] mcgibbon commented on #9553
The finding a median itself can be made average-case n using quickselect if the weights are all constant, though it may get more complicated for a weighted median. The median also should ideally be updated when adding new values in constant time, but I don't know if quickselect would do that. There may be some algorithm that does everything you'd need to make it n or nlogn, but I haven't been able

[2017-08-16 23:05] #9454 closed

[2017-08-16 23:08] liamge commented on #9552
It seems removing `array = np.atleast_2d(array)` has no effect on the relevant tests, and those tests seem to be sufficient to ensure the correct behavior w/r/t dimensionality. The only difference in testing is in floating point tests, which seem to be irrelevant. Let me know if I should run any additional tests or if that is enough to create a pull request.

[2017-08-16 23:16] taineleau commented on #9199
Hope you fix it soon! Thanks!!!!!

On Wed, Aug 16, 2017 at 4:40 AM, Thomas <notifications@github.com> wrote:

--
Danlu Chen
Homepage: https://taineleau.me

[2017-08-16 23:17] jnothman opened #9572 "All assertions in estimator_checks should have a helpful message"
Estimator developers should clearly been informed why their tests are failing. We weren't able to do this with assert_raises until we very recently backported from python 3 the ability to use it as a context manager and provide an assertion error message. These in particular should be improved.

@amueller please feel free to expand upon this.

[2017-08-16 23:22] jnothman commented on #2755
yes I think we've both made similar comments. We can just change it. But it
won't fix up thread safety issues.

On 17 Aug 2017 7:03 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-08-16 23:25] #9549 closed

[2017-08-16 23:29] jnothman commented on #9568
Closing, then

[2017-08-16 23:29] #9568 closed

[2017-08-16 23:31] jnothman commented on #9560
if we remove the warning filter altogether, #2755 is fixed. But anyone who
has used properties with warnings will get a slew of warnings triggered by
repr and grid search etc

On 17 Aug 2017 7:30 am, "Andreas Mueller" <notifications@github.com> wrote:

What is left of #2755
<https://github.com/scikit-learn/scikit-learn/issues/2755> if we remove the
warning filter?

—
You are receiving this because

[2017-08-16 23:37] jnothman commented on #9563
could you be more specific? At the moment we require people to pass on a
cache directory or a sklearn.externals.joblib.Memory instance. We want them
to be able to use something derived from joblib.Memory, not the version in
sklearn.externals. Or really anything implementing cache.

On 17 Aug 2017 7:51 am, "Kumar Ashutosh" <notifications@github.com> wrote:

[2017-08-16 23:39] jnothman commented on #9543
could you help explicitly describe what we might do to allow users to
specify a dataset by name but that it needs to be uniquely identified?

On 17 Aug 2017 8:03 am, "Joaquin Vanschoren" <notifications@github.com>
wrote:

[2017-08-16 23:41] jnothman commented on #9553
I'm impressed you had a go at it! let us know if/when it works.

On 17 Aug 2017 8:53 am, "Jeremy McGibbon" <notifications@github.com> wrote:

[2017-08-16 23:42] jnothman commented on #9552
sounds like a PR is welcome. thanks for going through the tests!

[2017-08-16 23:46] joaquinvanschoren commented on #9543
They would either specify a name and version, e.g. iris version 1
Or, specify a dataset id, e.g. 61 -> https://www.openml.org/d/61

In the first case, you would look up the ID with
https://openml.org/api/v1/json/data/list/data_name/iris

and then find version 1, or you ask us to implement
https://openml.org/api/v1/json/data/list/data_name/iris/version/1

If the user specifies an ID, you simply cal

[2017-08-16 23:55] jrbourbeau commented on #9568
Good to know, thanks for the explanation @amueller!

[2017-08-17 00:02] liamge commented on #9552
No problem!

[2017-08-17 00:10] agitter commented on #4577
I'm pleased to see that `average_precision_score` no longer linearly interpolates between operating points, but I found the updated documentation confusing.  The referenced Stanford IR book and VOC paper implement interpolated versions that differ from the sklearn implementation.  Adding the average precision formula as @brendano suggested or removing these references would make it easier to see w

[2017-08-17 02:10] zengxy commented on #9568
Thanks for your explanation!

[2017-08-17 02:43] jnothman commented on #4577
You're right that @brendano's comment about clear documentation still
stands.

I wasn't heavily involved in this change, but I think there was a decision
that the Pascal VOC metric had too many problems to be a default, even
though we may want to provide it (PR welcome).

A PR removing the VOC reference, fixing the Wikipedia link to a particular
revision, and describing the metric both in the docs

[2017-08-17 07:53] pasbi opened #9574 "Unclear doc for PCA.fit(x, y)"
#### Description
The [documentation](http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.IncrementalPCA.html#sklearn.decomposition.PCA.fit) of the `PCA.fit` method does not say what the parameter `y` does. When I read the docs, I was slightly confused since PCA is unsupervised and hence it does not need `y`.
After looking into the code, I realized that `y` is just ignored, howev

[2017-08-17 09:16] ngoix commented on #9574
+1 for consistency between PCA and IncrementalPCA docs:
1) IncrementalPCA does not override the TransformerMixin `fit_transform` method unlike PCA, so that y is documented as target values in this method.
2) PCA fit and fit_transform methods should contain `y: Passthrough for Pipeline compatibility` (as in IncrementalPCA.fit), this would be clearer.

PR welcome!

[2017-08-17 09:44] aerval opened #9575 "BUG: ValueError when using StandardScaler on large sparse matrix"
I am training a logistic regression model on a large (approx. 34e6 times 1000, about 7% non-zero content) sparse (csr) matrix. I am using StandardScaler for preprocessing. When preprocessing the whole matrix with StandardScaler.fit I am getting `ValueError: Buffer dtype mismatch, expected 'int' but got 'long'` with the following Traceback:
[code]

I assume that this is due to the number of matrix

[2017-08-17 09:59] rth commented on #9575
@aerval Yes, `StandardScaler` doesn't yet support large sparse CSR matrices with 64-bit indices (see https://github.com/scikit-learn/scikit-learn/issues/2969 for a more detailed discussion). Applying `sklearn.preprocessing.normalize` on smaller chunks of the array, could be a temporary (and inefficient) workaround...

[2017-08-17 10:42] jnothman commented on #9574
I agree that "Passthrough for Pipeline compatibility" is not helpful. All
should say y: ignored.

Pull request welcome.

On 17 August 2017 at 17:53, pasbi <notifications@github.com> wrote:

[2017-08-17 10:56] Borda commented on #6723
@Jan-Ko it is even solved, but still pending... ;]

[2017-08-17 11:04] pasbi commented on #9574
I'll fix that.

[2017-08-17 12:00] AyeshaShafique opened #9576 "Hi everyone, i am working on speech recognition project. i have extracted the features from voice to set an input for hmm. But now i am confused either go for scikit learn (Guassian HMM) or go for my own. And if i am building my own, which resource should i use to make my hmm work correctly. Note that it is my final year project. And help/suggestion would be more than welcome."
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2017-08-17 12:18] jnothman commented on #9576
Scikit-learn does not include an HMM

[2017-08-17 12:18] #9576 closed

[2017-08-17 12:27] aerval commented on #9575
Okay thanks, did not find that one

[2017-08-17 12:27] #9575 closed

[2017-08-17 12:37] AyeshaShafique commented on #9576
Oh sorry hmm learn,
here is the link:
https://github.com/hmmlearn/hmmlearn

[2017-08-17 13:00] agramfort commented on #8996
also @lesteve has started to play with this

[2017-08-17 13:40] marcelobeckmann commented on #5884
I made a pull request some days ago, b5884.

[2017-08-17 13:40] jnothman commented on #9576
FWIW, you're better off using an existing implementation almost always.

[2017-08-17 13:41] jnothman commented on #5884
Yes, it's in the queue to be reviewed.

On 17 August 2017 at 23:40, Marcelo Beckmann <notifications@github.com>
wrote:

[2017-08-17 15:05] amueller opened #9580 "Ensure check_estimators works with SVC(kernel='precomputed')"
Related to #9443.

We need to ensure that check_estimator works with estimators that have the ``_pairwise`` attribute set. The easiest way to do that would be to have it run on ``SVC(kernel='precomputed')``. That needs to work.
This should probably live in ``test_estimator_checks.py``.

[2017-08-17 15:21] AyeshaShafique commented on #9576
know that thing, but as i mentioned that it is my final year project of BSCS, so using a library is not so good for the learning, i mean how can i publish paper for my research, when i am using existing implementation.
Any suggestion/idea would be more then welcome to make my learning better off, and as well as to my project efficent.

[2017-08-17 15:22] amueller commented on #9553
I feel like we have a fast median computation in cython somewhere? Though maybe I was just thinking of the quicksort in ``_simultaneous_sort``.

[2017-08-17 15:25] amueller commented on #9572
Thanks for opening the issue. I think "just" adding a message to each ``assert_raises`` in ``check_estimator`` would be a pretty good improvement.

[2017-08-17 15:39] jnothman commented on #9576
How can you publish a paper for your research when no one can vouch for the
quality of your implementation? better off using something tried and tested.

On 18 August 2017 at 01:22, AyeshaShafique <notifications@github.com> wrote:

[2017-08-17 15:44] AyeshaShafique commented on #9576
it 's our part of project

[2017-08-17 17:11] glemaitre commented on #9576
Probably like the 6569 other scientists which cited the scikit-learn software:
https://scholar.google.fr/scholar?hl=en&q=scikit-learn&btnG=&as_sdt=1%2C5&as_sdtp=

[2017-08-17 18:14] AyeshaShafique commented on #9576
@glemaitre Could you give some comments/suggestion/ideas on my project. Basically it is voice controlled robotic car. How can i innovate my project ?
Any suggestion would be more than welcome.
Thanks in advance

[2017-08-17 19:23] glemaitre commented on #9563
I remember to have the discussion IRL with @lesteve when working on this PR https://github.com/scikit-learn/scikit-learn/commit/4c33ea2ee0587f47da3b7e2162ef29fff0ee7f93

I really had a hard time getting the error "memory needs to be a joblib.Memory" while passing a joblib.Memory. This said checking ".cache" was also in the discussion

@thechargedneutron let me know if you are on it or I can take t

[2017-08-17 19:44] glemaitre commented on #7319
Do you still want to support nose? Is there any feature which are not in pytest?

We start to move the test in imbalanced learn and we saw that the yield will not be supported in the future by pytest. I think that it could be good to give you some feedback once we migrated since:

* we can tell you, as a user of the estimator check what we would need
* we will find out how to parametrize the tests

[2017-08-17 20:02] thechargedneutron commented on #9563
@glemaitre  I am working on this. I hope I'll be able to solve this. If not, I'll ping you. Thanks

[2017-08-17 20:30] amueller commented on #9576
locking conversation as off-topic.

[2017-08-17 21:45] jnothman commented on #7319
well we need the estimator checks to be amphibious for a deprecation period
in my opinion. I don't mind how that's done, even if it means duplicating
the check_estimator function.

On 18 Aug 2017 5:44 am, "Guillaume Lemaitre" <notifications@github.com>
wrote:

[2017-08-17 22:16] jorisvandenbossche commented on #7319
I think it should be possible to keep the current `check_..` functions as is, but parameterize them with pytest internally instead of the yielding functions. This way (at least initially) they can be kept 'amphibious' to also still work with nose.

Small toy example:

[code]

This way external project can import the `check_...` functions but do their own parametrization (with their own estimator o

[2017-08-17 22:16] thechargedneutron commented on #9563
What is the test function supposed to do? I suppose it to create a `tmp` memory and then run the fit function. Is it a good idea to just use `assert_equal` on two fit functions, one which uses memory argument and one which doesn't. We can certainly check if ducktyping works or not here, but is it enough?
Also, do we intend to use ducktyping in `linear_model.randomized_l1.py`. This uses `isinstance

[2017-08-17 22:32] glemaitre commented on #9563
We will use ducktyping anywere there a Memory object which can be past so l1_randomized as well. Basically you should create an fake object whic as a method cache which should take a function and just wrapped it doing nothing extra. ‎It will allow to simulate a Memory object which cary a normal fitting. And the test should accept an instance of this object since it has a cache method. 

[2017-08-17 23:04] akisato- commented on #8675
I have also encountered exactly the same problem. Here is a test code.
[code]

The result is the following. "Components_" in the sparse coder looks like correct, but the sparse coder instance itself seems to fail the initialisation.

[code]

[2017-08-18 00:08] jnothman commented on #9563
randomized_l1 is deprecated so no need to fix it

On 18 Aug 2017 8:33 am, "Guillaume Lemaitre" <notifications@github.com>
wrote:

[2017-08-18 03:33] yarikoptic commented on #9393
@jnothman how could we discover? ;)

[2017-08-18 09:25] glemaitre opened #9582 "Consistency issue 1D/2D input in preprocessing scaling/normalizing methods"
I think that there is an issue with the consistency at least between the doc and the code regarding the preprocessing (scaler/normalizer)

As an example, I wanted to use `StandardScaler` for a 1D transform since it is stated that it should work:
http://scikit-learn.org/stable/modules/preprocessing.html#scaling-data-with-outliers (section "Scaling target variables in regression"). However, only `sc

[2017-08-18 10:35] thechargedneutron commented on #9563
As suggested by @glemaitre , I intend to make add the following function. Does this look good?
[code]

[2017-08-18 11:38] glemaitre commented on #9563
The potential test should around that:

[code]

and the solve in the codebase should change

[code]

to

[code]

[2017-08-18 11:39] glemaitre commented on #9563
This should work but it is on the top of the head.
Open a PR and the review will improve your solution.

[2017-08-18 16:46] amueller commented on #8288
My interpretation of @rhiever's results [here](https://arxiv.org/abs/1708.05070) is that the mixed penalty really helps - I don't know why else SGDClassifier would beat logistic regression so much. Though SGDClassifier is allowed to search over the loss as well, I guess?

[2017-08-19 05:12] GKjohns commented on #9580
@amueller I can work on this if it's not already being worked on in the PR associated with [#9443](https://github.com/scikit-learn/scikit-learn/issues/9443).

[2017-08-19 11:09] jnothman commented on #9393
By pinpointing where this and other machines diverge in their calculation... Not that that's easy to do without at least a VM of the target machine.

[2017-08-19 11:33] jnothman commented on #9582
I think we decided a few versions back that we were best off deprecating
support for 1d, due to the ambiguity involved, certainly for estimators.
Wrt to the estimator, that documentation is out of date. I don't mind
retaining the 1d functionality for the function versions, and extending it
to robust_scale, for consistency's sake. (Though I don't really like
encouraging users to preprocess their en

[2017-08-19 23:30] thechargedneutron commented on #9572
May I work on this?

[2017-08-20 09:59] jnothman commented on #9572
sure!

On 20 Aug 2017 9:30 am, "Kumar Ashutosh" <notifications@github.com> wrote:

[2017-08-20 11:48] sebp commented on #8995
Hi, I noticed that RandomizedLogisticRegression was deprecated in version 0.19, but couldn't find an explanation on what was the reasoning behind it. What is the preferred way to perform stability selection now?

[2017-08-20 19:30] reiinakano opened #9587 "Regression: Pipelines don't accept steps as a tuple in 0.19"
#### Description
`TypeError: 'tuple' object does not support item assignment` error thrown when calling `fit` on a `Pipeline` whose `steps` parameter was initialized with an n-tuple (as opposed to a list) of (name, transform) tuples.

Previous versions of sklearn Pipelines worked when an n-tuple was used for `steps`. I guess new functionality associated with Pipelines now requires that `steps` be

[2017-08-20 21:48] jnothman commented on #9587
There is a PR to fix this in #9221.

On 21 August 2017 at 05:30, Reiichiro Nakano <notifications@github.com>
wrote:

[2017-08-20 21:49] reiinakano commented on #9587
Got it!

[2017-08-20 21:50] jnothman commented on #9587
There's no other issues stating it, so best leave this open, TBH.

[2017-08-21 04:18] jnothman opened #9589 "Regression in cross_val_predict of decision_function in the binary case"
@AlJohri [writes](https://github.com/scikit-learn/scikit-learn/pull/7889#issuecomment-323639725):

[2017-08-21 04:22] jnothman commented on #9589
## Example to reproduce

[code]

## Output in v0.18
[code]

## Output in v0.19
[code]

[2017-08-21 04:57] AlJohri opened #9590 "more regressions for 0.19?"
@jnothman I'm throwing a note here on another potential regression:

As I was trying to get my code to work with 0.19, I had to make a couple changes to my code that generally looked like this:

<img width="799" alt="screen shot 2017-08-21 at 12 40 58 am" src="https://user-images.githubusercontent.com/2790092/29503938-ef44da32-8609-11e7-9104-c12cdf6d031b.png">

1) the `self.steps` in the Pipeline

[2017-08-21 05:11] ashimb9 opened #9591 "Random Forest Imputation"
#### Description

Would there be interest in implementing a random forest based imputer in the vein of [missForest](https://cran.r-project.org/web/packages/missForest/missForest.pdf)? Something (somewhat) related is in the works [here](https://github.com/scikit-learn/scikit-learn/pull/5974) but it appears the PR is only planning to support RF estimation with NaN and not imputation per se. IMO, thi

[2017-08-21 05:50] jnothman opened #9592 "Regression: cross_val_predict (with method=...) doesn't accept list"
[code]

In v0.18, this succeeds.

In v0.19.0:
[code]

H/T @AlJohri

[2017-08-21 05:50] jnothman commented on #9590
The pipeline issue is known: #9587.

I've made an issue for the latter, thanks: #9592

On 21 August 2017 at 14:57, Al Johri <notifications@github.com> wrote:

[2017-08-21 05:53] jnothman commented on #9590
I'm sorry about the `cross_val_predict` issues. I'm sure I could have been more vigilant in reviewing. It is hard to recall when reviewing that our functions (as opposed to most of our estimators) are not necessarily tested for varying input types. They should be.

A few people seem to have found the pipeline issue, though the API docs are pretty clear in asking for a list...

[2017-08-21 05:53] #9590 closed

[2017-08-21 06:08] jnothman commented on #9591
@ashimb9, it's not that I don't like imputation... :P

But I do think we need to be selective here. As a project, our maintenance
burden is growing. The availability of veteran contributors who know the
majority of the codebase and its tacit conventions is reducing. Each new
implementation we adopt opens a new can of worms in terms of maintaining
its assured quality, efficiency, flexibility and in

[2017-08-21 07:05] AlJohri commented on #9590
thanks for all the quick responses @jnothman!

[2017-08-21 07:27] ashimb9 commented on #9591
Thanks a lot for your thorough response, I really do appreciate it. First let me just say I totally agree with the concerns you have raised regarding long-term code maintenance issues and I obviously do not have enough knowledge to comment on that front. However, I will just try and respond to the questions you have raised at the very end regarding the conceptual and implementation aspects:

Did y

[2017-08-21 07:39] jnothman commented on #9591
begins with a common imputation strategy (like mean imputation) and
iteratively imputes each feature until a stopping criteria or max_iter is
reached, so we can definitely go ahead with the existing implementation.

Then it sounds like it comes from the MICE family of techniques: apply an
arbitrary Regressor iteratively until convergence.

On 21 August 2017 at 17:27, ashimb9 <notifications@github.

[2017-08-21 07:51] ashimb9 commented on #9591
The sequential aspect is similar between the two. One of the advantages over MICE in certain situations, as noted in one of the references, is when there are non-linearities/interactions that are not known a priori and would be better handled by the random forest. Also, the algorithm from the paper:
![image](https://user-images.githubusercontent.com/22569641/29508759-640e8d0c-861b-11e7-973c-11ec0f

[2017-08-21 08:52] lesteve commented on #7319
Can I ask why? Is it just that you want to keep the `estimator_checks.check_*` functions that may be used by downstream packages? Is there a reason we still want to run the estimator checks with nose?

[2017-08-21 09:00] lesteve commented on #9454
FWIW I am a bit puzzled by this issue, `pytest.raises` has a `message` parameter (which seems to work with Python 2.7 as well):
https://docs.pytest.org/en/latest/assert.html#assertions-about-expected-exceptions

[2017-08-21 09:15] jorisvandenbossche commented on #7319
Can't speak for @jnothman, but I think that is indeed the reason (downstream packages use those check functions to test compliance, and they can still be using nose).
But also, even if we don't want to keep the `estimator_checks.check_*` compatible with nose, we still need a way for downstream packages to run the checks.

[2017-08-21 12:52] FilatovArtm opened #9594 "Illegal hardware instruction in GaussianProcessRegressor.fit"
#### Description
Illegal hardware instruction when I call GaussianProcessRegressor.fit with any parameters.

#### Steps/Code to Reproduce

[code]

#### Expected Results
No error is thrown.

#### Actual Results
Illegal hardware instruction  python

#### Versions
Linux-3.13.0-35-generic-x86_64-with-debian-jessie-sid
('NumPy', '1.13.1')
('SciPy', '0.19.0')
('Scikit-Learn', '0.19.0')
Python 2.7.13

[2017-08-21 13:10] jnothman commented on #9454
Yes, but we don't want estimator_checks to have a required dependency on
pytest yet.

On 21 August 2017 at 19:00, Loïc Estève <notifications@github.com> wrote:

[2017-08-21 13:48] jnothman commented on #9393
@rth could the `assert_true(len(Xt.data) < len(X[0]))` failure be because of floating point error (i.e. a small number was in Xt.data instead of 0, and so was not removed)?

[2017-08-21 13:52] jnothman commented on #9393
@amueller, `test_from_model.test_feature_importances` already is marked with `skip_if_32bit` suggesting perhaps that this assertion is brittle. The test is failing where the importances in a model are being asserted identical to the importance in a similar model trained with sample_weight=3*orig_weights. Any ideas how to fix here?

[2017-08-21 14:35] lesteve commented on #9594
Can not reproduce but this is an interesting one.

Can you edit your post and add the Python version for completeness?

How did you install numpy, scipy and scikit-learn? Can you reproduce the problem by just using numpy for example try a snippet with `np.dot`?

Googling for "Illegal hardware instruction python" I found https://github.com/scipy/scipy/issues/1075 and https://bugs.archlinux.org/task

[2017-08-21 14:50] amueller commented on #9592
tag easy / need contributor or wanna do it yourself for quick fix?

[2017-08-21 15:07] amueller commented on #5379
@bkj I'm for more documentation, but I disagree with "this doesn't agree with the most straightforward definition of AP". If you look at the definition of AP on wikipedia, which is pretty straight-forward, that's what we do. Also the same in the IR book. If you say "area under the PR curve" that's way less straight-forward, very ambiguous, and also mostly wrong. The PR curve is a series of points,

[2017-08-21 15:08] amueller commented on #5379
I think we should close this. Adding interpolation as an option is still possible, but we should be very clear with the documentation.

[2017-08-21 16:40] glemaitre opened #9595 "Ensure that the output of FunctionTransformer is 2D when validate=True"
#### Description

Validate ensure that `X` is 2D as it is imposed in any other transformer. However, the output of the `FunctionTransformer` can be 1D if the provided function does not ensure it.

I think that we should ensure that the output is 2D since it could be useful when chaining transformer and estimator. `validate=False` will still allow for 1D in this case.

#### Example

[code]

[code]

[2017-08-21 18:03] glemaitre commented on #9595
Uhm it seems that I did a mistake.

[2017-08-21 18:44] glemaitre commented on #9595
This actually written in the doc: A FunctionTransformer will not do any checks on its function’s output.
However, I would think that `validate=True` should make this checking.

 I was checking #4798 and #5059 and could not find anything about that. I would assume that the 2D enforcement rule came after.

[2017-08-21 19:17] CoderINusE commented on #9592
`predictions_ = np.zeros((((X_test.shape[0]) if type(X_test) is np.ndarray else (len(X_test))) , n_classes))`
in `sklearn/model_selection/_validation.py` `_fit_and_predict` isn't enough?

[2017-08-21 19:36] betatim commented on #9499
Thinking out loud here: there are a lot of things already in `RandomSearch` that I'd prefer not to have to write myself: argument validation (first part of `fit`), the contents of `_fit_and_score` and the aggregation of results (second part of `fit`).

"All" I want to do is be given results so far and asked for a new set of parameters to try. How can we make it so that [these lines](https://github

[2017-08-21 21:29] rth commented on #9393
@jnothman So far I am not able to reproduce the `test_hasher_alternate_sign` failure above. Tried to build scikit-learn 0.19.2 it in a Debian sid/unstable i386 VM, were scipy and numpy 1.2.1 were installed with apt-get. I consistently get the failure about `test_multi_output_classification_partial_fit_parallelism` (that was resolved since as far as I understand) but not the one about hashing.

I d

[2017-08-21 22:27] #9512 closed

[2017-08-21 22:33] jnothman commented on #5379
well the implementation has changed since this issue was raised anyway.
closing

On 22 Aug 2017 1:08 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-08-21 22:34] #5379 closed

[2017-08-21 22:58] jnothman commented on #9595
Yes, validation came late to FunctionTransformer.

I don't think we can change this and maintain backwards compatibility. Is
it really worth changing at all?

We could have validate={"in", "out", "both"}...?

On 22 August 2017 at 04:44, Guillaume Lemaitre <notifications@github.com>
wrote:

[2017-08-21 22:59] jnothman commented on #9592
If the only issue is using X.shape[0], we should replace that with `sklearn.utils.validation._num_samples`

[2017-08-21 23:00] jnothman commented on #9592
And add a test. And you're done.

[2017-08-21 23:58] jnothman commented on #9393
Ha! I had no idea it worked differently on 64-bit and 32-bit... strange
choice of hash function :\

I'm okay with @skip_if_32bit here. Not quite satisfying as we don't
understand what's going on...

Is this testing a collision where the sign alternates and hence the value
lands up at 0? Or just testing that values are stored in the same spot due
to collision?

On 22 August 2017 at 07:29, Roman Yur

[2017-08-22 00:02] jnothman commented on #9499
I was a bit uncertain about your statement, so I just mocked up one possible solution at #9599.

[2017-08-22 00:26] CoderINusE commented on #9592
Ok, just a sec.

[2017-08-22 00:43] CoderINusE commented on #9592
@jnothman I've created PR. Do I need to write the description?

[2017-08-22 02:20] DiegoRomeres opened #9601 "Tutorial on how to create a new kernel?"
I am trying to implement my own kernel for Gaussian Processes regression.

In order to do so I tried to reproduce the structure of the common kernels in sklearn.gaussian_process.kernels but with no success at the moment. When I try to do regression and optimize the hyperparameters, something like:

    import sklearn
    import my_own_kernel

    k = my_own_kernel(Parameters)
    # GP optimization

[2017-08-22 02:22] kbrose opened #9602 "sklearn.multiclass.OneVsRestClassifier documentation"
Is this documentation for [`sklearn.multiclass.OneVsRestClassifier`](http://scikit-learn.org/stable/modules/generated/sklearn.multiclass.OneVsRestClassifier.html) correct?

There is similar documentation in the [user guide](http://scikit-learn.org/stable/modules/multiclass.html#ovr-classification):

The [prior section in the user guide](http://scikit-learn.org/stable/modules/multiclass.html#multil

[2017-08-22 03:01] ashimb9 commented on #9591
@jnothman Here is a quickly whipped up implementation for continuous variables, albeit inefficient and only very lightly tested. As you can see, it is fairly straightforward. (And yes this might be a sales pitch :))
[code]

[2017-08-22 03:21] JGH1000 commented on #5873
I think I might have encountered the same error, no idea what to do with it. The code

`a_selection = RandomizedLasso(alpha=0.025, normalize=False, n_jobs=1, random_state=42)
a_selection.fit(X=x_sub, y=y_sub)`

x_sub has 61 rows and  ~15,000 columns while y_sub has a length of 61. I normalize the data with StandardScaler hence normalize=FALSE. The code works for other >100 examples but keeps break

[2017-08-22 03:22] JGH1000 commented on #5873
`~/miniconda3/lib/python3.6/site-packages/sklearn/linear_model/randomized_l1.py in fit(self, X, y)
    110             n_jobs=self.n_jobs, verbose=self.verbose,
    111             pre_dispatch=self.pre_dispatch, random_state=self.random_state,
--> 112             sample_fraction=self.sample_fraction, **params)
    113
    114         if scores_.ndim == 1:

~/miniconda3/lib/python3.6/site-packages

[2017-08-22 03:25] JGH1000 commented on #5873
FYI removing the alpa parameter gets ride of the error - I would think this is definitely a bug in scikit rather than problem with the data.

[2017-08-22 03:26] jnothman commented on #9602
I agree there's some confusion here in the documentation and in the naming.

`OneVsRestClassifier` will perform OvR if passed a multiclass `y`, and will perform binary relevance if passed a multilabel `y`. It has been this way for a long time, and I agree it's not particularly helpful to confuse the two. `MultiOutputClassifier` will also perform binary relevance classification, FWIW.

The presence

[2017-08-22 03:30] kbrose commented on #9602
Can you clarify what you mean by "will perform OvR if passed a multiclass `y`, and will perform binary relevance if passed a multilabel `y`."?

Does it infer whether it is multi-label or multi-class from the contents of `y`, something like

[code]
?

[2017-08-22 03:32] jnothman commented on #9591
But that's not really specialised to Random Forests is it? It's something
you can do with any regressor. Which is great, but why restrict it?

It's not the same as MICE, which requires its regressor to provide stds
over its predictions (which of course RFR can do but does not atm), and I
can't remember the details of it.

On 22 August 2017 at 13:01, ashimb9 <notifications@github.com> wrote:

[2017-08-22 03:33] jnothman commented on #5873
Could you please inform us of your scikit-learn version? Provide
self-contained reproducible code snippet? Open a new issue?

On 22 August 2017 at 13:26, JGH1000 <notifications@github.com> wrote:

[2017-08-22 03:35] jnothman commented on #9602
multiclass here will be a 1d array, multilabel is a 2d array of boolean
values.

On 22 August 2017 at 13:30, Kevin Rose <notifications@github.com> wrote:

[2017-08-22 03:35] JGH1000 commented on #5873
Sure, it was similar to this one so I though I would add it here. Will open a new issue in a moment.

[2017-08-22 03:37] kbrose commented on #9602
I see. From the documentation for `.fit`

I'll try and work up a rewrite to some of this documentation in the next couple of weeks.

[2017-08-22 03:48] JGH1000 opened #9603 "least_angle.py in lars_path - shapes not aligned on properly formatted data with specific alpha"
Encountered a similar error to https://github.com/scikit-learn/scikit-learn/issues/5873
when running the following code:

`a_selection = RandomizedLasso(alpha=0.025, normalize=False, n_jobs=1, random_state=42)
 a_selection.fit(X=x_sub, y=y_sub)`

I can't share the data as it's from clinical trials, but what I have noticed is that the error disappears (for this particular fit) when I remove the alp

[2017-08-22 04:02] JGH1000 commented on #5956
Not sure where to report this, or if it's related, but I get the `ValueError: output array is read-only` when using n_jobs > 1 with RandomizedLasso and other functions.

[2017-08-22 04:06] JGH1000 commented on #5481
`ValueError: output array is read-only` when using n_jobs > 1 with RandomizedLasso.

[2017-08-22 04:16] jnothman commented on #5873
Ahh. I didn't check back to see that this was closed because we failed to
reproduce it. No big deal to have a new issue.

On 22 August 2017 at 13:35, JGH1000 <notifications@github.com> wrote:

[2017-08-22 04:17] jnothman commented on #9602
Thank you!

On 22 August 2017 at 13:37, Kevin Rose <notifications@github.com> wrote:

[2017-08-22 04:19] jnothman commented on #8995
I'd appreciate it if someone who advocated for this module to be deprecated (@amueller, @GaelVaroquaux? I know you're both not very available for the next while...) can put its justification on record here. (See also #9603.)

[2017-08-22 04:23] JGH1000 commented on #8995
Thanks @jnothman for linking to my question about it. I have been using Randomized version of both LASSO and LogisticRegression and wonder why are they both being removed? If it is easy to implement using other scikit libraries it would be great to have a code example. Thanks!

[2017-08-22 04:23] jnothman commented on #9603
Well we can't debug this easily unless you can provide some data for which
the error occurs. Could you try to generate some comparable data?

On 22 August 2017 at 13:48, JGH1000 <notifications@github.com> wrote:

[2017-08-22 04:24] jnothman commented on #9603
And I presume it's not only an issue with RandomizedLasso, but more
generally with LARS. It would be best to have a snippet which reproduces it
directly with Lars.

On 22 August 2017 at 14:23, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-08-22 04:28] JGH1000 commented on #9603
I wondered about that but can't figure out how to do it - I have >200 examples and the code broke (with this specific alpha param) after 140 successful runs. So I am not sure how common this is - the values represent patient measurements so I can't really shuffle it etc due to ethical concerns.

I will try to run all examples without specifying alpha and see if that completes. Apologies for not be

[2017-08-22 04:35] jnothman commented on #9603
Btw, your codebase does not appear to be what's in version 0.19. Line 451 (
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/least_angle.py#L451)
now corresponds to line 444. Please make sure this issue still exists at
master.

On 22 August 2017 at 14:28, JGH1000 <notifications@github.com> wrote:

[2017-08-22 04:43] JGH1000 commented on #9603
Updated to  0.19.0-np112py36_0 in Anaconda. Same error:

~/miniconda3/lib/python3.6/site-packages/sklearn/linear_model/randomized_l1.py in fit(self, X, y)
    121             n_jobs=self.n_jobs, verbose=self.verbose,
    122             pre_dispatch=self.pre_dispatch, random_state=self.random_state,
--> 123             sample_fraction=self.sample_fraction, **params)
    124
    125         if scor

[2017-08-22 04:44] jnothman commented on #9603
I take that all back. The bug is obvious when looking at the code, since `active` and `n_active` should be synchronised: https://github.com/scikit-learn/scikit-learn/blob/d9fdd8b/sklearn/linear_model/least_angle.py#L437 should say `n_active -= len(idx)`, not `n_active -=1`.

A PR to fix it is welcome. But ideally the fix should come with a non-regression test. I wonder if someone could help produc

[2017-08-22 04:45] jnothman commented on #9603
(Please also confirm that making that change to the library fixes your use of it.)

[2017-08-22 04:45] williamdjones commented on #5956
@JGH1000 NOT A SOLUTION, but I would try using a random forest for feature selection instead since it is stable and has working joblib functionality.

[2017-08-22 04:55] JGH1000 commented on #9603
Thanks a lot for catching this! I change n_active but get the following error: `ValueError: operands could not be broadcast together with shapes (15038,) (15039,)`

[2017-08-22 04:58] JGH1000 commented on #5956
Thanks @williamdjones, I used several different methods but found that RandomizedLasso works best for couple of particular datasets. In any case, it works but a bit slow. Not a deal breaker.

[2017-08-22 05:08] williamdjones commented on #5956
@JGH1000 No problem. If you don't mind, I'm curious about the dimensionality of the datasets for which RLasso was useful versus those for which it was not.

[2017-08-22 05:13] JGH1000 commented on #5956
@williamdjones it was a small sample size (40-50), high-dimension (40,000-50,000) dataset. I would not say that other methods were bad, but RLasso provided results/ranking that were much more consistent with several univariate tests + domain knowledge. I guess this might not be the 'right' features but I had more trust in this method. Shame to hear it will be removed from scikit.

[2017-08-22 05:19] JGH1000 commented on #9603
Forgot to copy:

~/miniconda3/lib/python3.6/site-packages/sklearn/linear_model/randomized_l1.py in fit(self, X, y)
    121             n_jobs=self.n_jobs, verbose=self.verbose,
    122             pre_dispatch=self.pre_dispatch, random_state=self.random_state,
--> 123             sample_fraction=self.sample_fraction, **params)
    124
    125         if scores_.ndim == 1:

~/miniconda3/lib/python3

[2017-08-22 05:24] kbrose commented on #9602
Reading a little more I'm unclear what the difference between `OneVsRestClassifier` in multi-label form and  `MultiOutputClassifier` are. Should one of these be deprecated in favor of the other?

[2017-08-22 05:34] jnothman commented on #9603
Well perhaps I was too optimistic :)

[2017-08-22 05:37] JGH1000 commented on #9603
Hope someone can figure it out. :) Happy to test on my error-inducing dataset - the least I can do.

[2017-08-22 05:37] ashimb9 commented on #9591
i suppose it does not have to be RF specific. you could technically use any algorithm (BoostedImputerMachine has a nice ring to it). on a more serious note, i take it that this is DoA then?

[2017-08-22 05:42] jnothman commented on #9603
So the stuff to handle multiple `idx` is from #2797. And @yifiem reported the `n_active` inconsistency that I picked up on here at https://github.com/scikit-learn/scikit-learn/pull/2797#commitcomment-17473159.

Does @fabianp have some insight into what might have been missed to cause `Cov` and `corr_eq_dir` to have different shapes after an update where `idx` had size 2?

[2017-08-22 05:43] #9592 closed

[2017-08-22 06:03] glemaitre commented on #9595
Yep we will break the backward compatibility for sure.

I thought about the issue while writing tests for the TransformTargetRegressor. Thus, I can try to ensure the consistency of the shape there.

However I thought it might be interesting to bring it upstream to the FunctionTransformer. I would assume the error message (i.e. "reshape your data with reshape(-1, 1)" to be a bit tricky to debug whe

[2017-08-22 06:39] jnothman commented on #9591
I think it would be good to have something like this somewhere. Whether or
not in scikit-learn. I would like to firstly see a version that is
inductive. I think we've had concerns about making it inductive before.

On 22 August 2017 at 15:37, ashimb9 <notifications@github.com> wrote:

[2017-08-22 07:54] jnothman commented on #9602
I'd be happy to deprecate OneVsRestClassifier for multilabel in the sense
that we stop recommending it, but given it is much older than MOC, I think
we don't gain much by ending our support of multilabel binary relevance in
OVRC. The appear to also be some quirky differences, such as
decision_function not being implemented for MOC and MOC producing a
different shape of data for predict_proba (a mo

[2017-08-22 08:17] rth commented on #9393
lands up at 0? Or just testing that values are stored in the same spot due
to collision?

The former I think. Despite that comment in murmurhash3, I'm not sure the hash value is actually platform dependent: after all this test passes on Appveyor 32bit and 64bit (and it works fine for me on i386) . But it does seem like a plausible suspect.

We could try to make this test more robust, by just takin

[2017-08-22 09:23] jnothman commented on #9393
we're going to release a bug-fix release in any case. i had wondered if
finding and data close to 0 would help here.

On 22 Aug 2017 6:17 pm, "Roman Yurchak" <notifications@github.com> wrote:

[2017-08-22 09:44] rth commented on #9393
On 22/08/17 12:23, Joel Nothman wrote:

Right, I don't think the value of zero matters. It could be a +1 - 1 = 0
or a +3 - 2 = 1 (instead of 3+2=5) as long the value in the hash bucket
is lower than the sum of the absolute value of hashed terms, it is
sufficient to determine whether `alternate_sign` is used or not during
the hash collisions, I think..

[2017-08-22 10:45] jnothman commented on #9393
Yes, I think you're right. We're not calling eliminate_zeros anywhere.

On 22 August 2017 at 19:44, Roman Yurchak <notifications@github.com> wrote:

[2017-08-22 10:45] FilatovArtm commented on #9594
numpy and scikit-learn was reinstalled multiple times, finally I compiled it from binary with flag:
--no-binary :all:

[2017-08-22 11:17] FilatovArtm commented on #9594
I recompiled scipy and problem was solved. Probably there is some problem with architecture of the system.

[2017-08-22 13:18] sergeyf commented on #9591
Just chiming in here. As mentioned elsewhere in this thread, MICE pretty much does what `BoostedImputerMachine` would do, and it's inductive in the current PR #8478. If the only difference is a requirement for the model to have `return_std`, it might be easier to add basic `return_std` functionality to the RF regressor OR a flag that doesn't do posterior sampling to MICE (although the latter would

[2017-08-22 13:27] jnothman commented on #9591
Yes, I'd thought standard deviation over individual predictions should suffice for RFR return_std, but perhaps one should account for the within-tree uncertainties too (and forest-confidence-interval incorporates a bias correction). I don't think we should consider that a priority, though it would be nice to say we have something comparable to missforest once MICE and RFR's predict_std are impleme

[2017-08-22 13:32] sergeyf commented on #9591
Makes sense.

One other simple option that's inspired by bootstrap Thompson Sampling [1] -> let's say you pass `MICE` an ensemble of `T` regressors. Instead of sampling from a Gaussian centered at the mean prediction and empirical predictive standard deviation, you just pick one of the `T` estimates uniformly at random. That's effectively sampling from the actual posterior.

[1] https://arxiv.org/

[2017-08-22 13:35] jnothman commented on #9591
Yes, but that involves special-casing ensembles that give equal weight to
their constituent estimators.

On 22 August 2017 at 23:32, Sergey Feldman <notifications@github.com> wrote:

[2017-08-22 13:44] sergeyf commented on #9591
Sorry, I didn't follow that entirely. Can't I just add the following to `MICE`:

(a) Ensure that if the estimator doesn't have `return_std`, it inherits from `BaseEnsemble`.
(b) Then, when it comes time to get a posterior sample:
[code]

[2017-08-22 14:33] lesteve commented on #9594
Thanks for following up, closing.

[2017-08-22 14:33] #9594 closed

[2017-08-22 15:38] agramfort commented on #9603
how can I replicate? yes it's theoretically possible to downdate by 2 but
hard to obtain numerically.

[2017-08-22 15:53] agramfort commented on #8675
it's a big bug in SparseCoder that does in this init:

[code]

I don't know how this passed common tests...

[2017-08-22 16:08] #9582 closed

[2017-08-22 18:29] jeh0753 commented on #9601
I made a start on this, but will need someone with more experience building custom kernels to take it from here.

[2017-08-22 19:20] agramfort commented on #8995
I am happy to see a user base of this code in the end :)

either we "undo" the deprecation or we make a separate package to put in
contrib.
the benefit of option 2 is that we can have a new maintainer for such a
smaller package.

[2017-08-22 19:24] ashimb9 commented on #9591
Sorry I do not quite understand where this discussion is leading. Are we talking about creating a base class from which any sequential imputation algo can inherit (include mice and missforest)? Also, I guess I also am not clear on why exactly we need std deviations if we are using bootstrap resamples and at the end returning a user chosen 'n_imputations' number of imputed datasets that the user ca

[2017-08-22 19:37] sergeyf commented on #9591
@ashimb9 I think we are discussing whether we can easily add support for a `RandomForestRegressor` or any other ensemble regressor/classifier to the current `MICE` pr.

As implemented, `MICE` currently doesn't let you specify the actual model to do the imputation with. It says `BayesianRidgeRegression` or bust:

https://github.com/sergeyf/scikit-learn/blob/2ac25005353f3a51636b974d416822b374683758/

[2017-08-22 20:10] ashimb9 commented on #9591
Ahh yes, sounds good to me. Although to nitpick a little, we should probably call it (i.e., the class) something other than "MICE" then? And "mice" or "missforest" or "random forest" or whatever could be a user-chosen attribute for the class, for instance? For what it's worth, in my opinion we probably would not be doing justice to authors of missForest and other sequential algorithms if we subsum

[2017-08-22 20:23] sergeyf commented on #9591
My feeling is that we should keep it named `MICE` - that's a very established name for these types of algorithms. It's been around for a long time and people know what it is. MICE doesn't require a linear regressor in any case - it has many options. For example, see the docs:

https://cran.r-project.org/web/packages/mice/mice.pdf

It even has `mice.impute.rf` (Random Forest) already, which does sa

[2017-08-22 20:31] DiegoRomeres commented on #9601
Thank you @jeh0753  for beginning it. Hopefully other experts will complete it.
For being a complete tutorial more explanation should be given for each method and examples should be provided.
I think that other methods are mandatory such as:
`__init__() , __call__()`
but also important is that for each method it is explained what are the possible inputs and outputs and the format (also with exampl

[2017-08-22 20:41] ashimb9 commented on #9591
Yes, I am aware that it currently supports RF-based imputation :)

[2017-08-22 20:42] sergeyf commented on #9591
Ah, ok, cool =)

[2017-08-22 21:04] jnothman commented on #8675
DONT_TEST = ['SparseCoder', 'EllipticEnvelope', 'DictVectorizer', ...

On 23 August 2017 at 01:53, Alexandre Gramfort <notifications@github.com>
wrote:

[2017-08-22 23:10] jnothman commented on #8995
Has it been a large maintenance burden? The main issue I have with it is
that it belongs in feature_selection :)

On 23 August 2017 at 05:20, Alexandre Gramfort <notifications@github.com>
wrote:

[2017-08-22 23:45] jnothman opened #9606 "feature_importances_ should be a method in the ideal design"
This issue is not meant to be very practical, just a place to share my thoughts.

I believe `feature_importances_` should have been designed as `get_feature_importances()` (which is, perhaps, funny because I think the `get_feature_names` design is pretty broken too), for the following reasons:
* calculating feature importances can be costly, and should not (and is not in some cases) be calculated

[2017-08-22 23:56] #9587 closed

[2017-08-23 01:40] jnothman opened #9608 "deprecate biclustering?"
Some analysis of our source code use suggests neither `SpectralBiclustering` nor `SpectralCoclustering` are known to be in public use. They have design issues that have not been addressed in many years: #2484. Do people use these, anecdotally?

[2017-08-23 02:06] jnothman commented on #9608
Ping @vene

[2017-08-23 10:52] vene commented on #9608
I'm curious, what kind of analysis reveals this? Just GitHub?

I've tried using them rarely but never had quite an adequate problem. I
suppose we can try deprecation & moving to an orphaned package, and see if
users complain.

On Aug 22, 2017 10:07 PM, "Joel Nothman" <notifications@github.com> wrote:

Ping @vene <https://github.com/vene>

—
You are receiving this because you were mentioned.

Reply

[2017-08-23 11:11] jnothman commented on #9608
@amueller has had someone collecting usage stats. See gitter

On 23 Aug 2017 8:52 pm, "Vlad Niculae" <notifications@github.com> wrote:

[2017-08-23 11:57] harpone opened #9609 "Erroneous implementation of average='micro' in metrics.f1_score?"
The `f1_score` with arg `average='micro'` just gives the accuracy:

[code]

[2017-08-23 12:25] #9609 closed

[2017-08-23 12:25] jnothman commented on #9609
that is true for multiclass classification with all classes included. It is
documented to be the case, and it's easy to prove.

On 23 Aug 2017 9:57 pm, "Heikki Arponen" <notifications@github.com> wrote:

The f1_score with arg average='micro' just gives the accuracy:

T = 1000
N = 10

preds = np.random.randint(0, N, size=T)
#preds = np.ones([T, ])
true = np.random.randint(0, N, size=T)

acc = (pred

[2017-08-23 13:01] Pichenug opened #9610 "ParametersGrid parameters combinations representation"
**Description**
Trying to define parameter grid for GridSeachCV i collide into a problem of handy  representation of all possible combinations.
List of dictionaries or simple dictionary look rather cumbersome and doesn't provide easy way to aggregate some parameters.
Even taking this [example](http://scikit-learn.org/stable/modules/grid_search.html#exhaustive-grid-search) from documentation:
[code

[2017-08-23 14:06] aldur opened #9611 "`sklearn.tree.DecisionTreeClassifier` is not deterministic on some inputs"
First of all, thanks for Scikit, it's an amazing project.

The version I am using is the following:
[code]

The issue is that multiple invocations of a DecisionTreeClassifier on the same pickled input produce, sometimes, different results.
As an example, the following snippet produces two different results on consecutive invocations:

[code]

[code]

To the best of my knowledge I am fixing all the

[2017-08-23 14:27] glemaitre commented on #9611
Looking strange. I will assume that you drop your DataFrame using pandas so I want to check couple of stuff:

- import pickle and load the pickled dataframe with the usual pickle and repeat the experiment,
- import pandas and load the pickled dataframe with read_pickle and repeat the experiment,
- dump the data in a csv file and use read_csv to load the data and repeat the experiment,
- dump the d

[2017-08-23 14:47] jsamoocha opened #9612 "AffinityPropagation creates 3d array of cluster centers on rare occasions"
#### Description
Just stumbled upon a rare combination of training data and `preference` value that causes the model to save its cluster centers as a 3d `ndarray` instead of expected 2d.

#### Steps/Code to Reproduce
[code]
yields
[code]
and
[code]
leads to
[code]

When using slightly different values for `preference` (e.g. 0 or -20), or slightly different training data (e.g. [[-1, 1], [1, -0.9]])

[2017-08-23 16:04] agramfort commented on #8675
:) :)

[2017-08-23 16:35] nsheth12 opened #9613 "Percentile-based SelectFromModel"
#### Description
I am trying to use SelectFromModel to select the most important X% of features based on feature importance. However, SelectFromModel only allows feature selection threshold to be determined by the mean of feature importances, median, some multiple of mean or median, or just by setting the threshold directly. I think it would be helpful for the API to allow the threshold to be set

[2017-08-23 21:39] jnothman commented on #9610
it's only a pre-release but my project searchgrid solves this problem, if I
understand what you're saying: http://searchgrid.readthedocs.io. please let
me know if that helps.

On 23 Aug 2017 11:01 pm, "Grigoriy" <notifications@github.com> wrote:

[2017-08-23 21:53] jnothman commented on #9611
Yes this looks very strange and it will be impossible for us to debug
without you sharing the data, which you could even do privately.

On 24 Aug 2017 12:27 am, "Guillaume Lemaitre" <notifications@github.com>
wrote:

[2017-08-23 21:56] jnothman commented on #9612
thanks for the report. please confirm it's still an issue in v0.19 just to
be sure

On 24 Aug 2017 12:47 am, "Jonatan Samoocha" <notifications@github.com>
wrote:

[2017-08-23 22:26] jnothman commented on #9613
See #6717

[2017-08-23 22:27] jnothman commented on #9613
Perhaps you would like to complete that work? It's pretty close to ready
for merge

On 24 Aug 2017 2:35 am, "Nihar Sheth" <notifications@github.com> wrote:

[2017-08-23 22:52] mcgibbon commented on #9553
I thought I'd let you know this has taken a lower priority for me now, because I'm thinking now that the median won't actually help my research results. If someone else is interested they can tackle this, but I may make some progress eventually.

The actual issues here are (different from the ones at the top of this issue):
- Currently when "mae" is selected as a criterion, the RF will switch to u

[2017-08-23 23:12] jnothman commented on #9553
thanks for your research! feel free to contribute a note or two in the docs
about the use of the median

On 24 Aug 2017 8:52 am, "Jeremy McGibbon" <notifications@github.com> wrote:

[2017-08-24 00:19] jnothman commented on #8675
Fixes are welcome. Start with tests.

[2017-08-24 04:46] nsheth12 commented on #9613
Sure, I can give it a shot. This is my first time contributing open source, so I will likely make a few mistakes. Should I switch over to that thread?

[2017-08-24 05:00] jsamoocha commented on #9612
Clean install of v0.19 in an empty conda env leads to the same result.

[2017-08-24 05:45] jnothman commented on #9613
I'd suggest you:
* make a copy of that branch (i.e. fetch it into your local git working copy)
* open a new pull request for that branch
* merge with master, resolving any conflicts
* identify what needs to still be done to make it ready for full review and merge
* add commits towards that goal

Thanks!

[2017-08-24 05:52] jnothman commented on #9612
Okay. This is happening when `cluster_centers_indices is None`, which happens in turn when `K = 0` exemplars are found. The possibility that `cluster_centers_indices` is None is not documented in `affinity_propagation`, and not handled in `AffinityPropagation`. Fix welcome.

[2017-08-24 07:03] nsheth12 commented on #9613
Opened new pull request, [#9616](https://github.com/scikit-learn/scikit-learn/pull/9616). Will move all discussion there.

[2017-08-24 07:18] jnothman commented on #9613
thanks! we look forward to your contribution!

On 24 Aug 2017 5:04 pm, "Nihar Sheth" <notifications@github.com> wrote:

[2017-08-24 07:36] jsamoocha commented on #9612
I'm a bit confused by the results of `affinity_propagation()` related to above example of `[[-1, 1], [1, -1]]` as training data: running it with `preference=0` results in `K = 2`, running it with `preference=-10` results in `K = 0`, but running it with `preference=-20` results in `K = 1` (taking the first point in the training data as exemplar).

Does this make sense? Shouldn't we expect lower pre

[2017-08-24 07:48] jnothman commented on #9612
I hope @agramfort can answer that

On 24 Aug 2017 5:36 pm, "Jonatan Samoocha" <notifications@github.com> wrote:

[2017-08-24 07:58] jnothman commented on #9612
The K=0 case has no unit test coverage btw :(

On 24 Aug 2017 5:48 pm, "Joel Nothman" <joel.nothman@gmail.com> wrote:

[2017-08-24 09:09] aldur commented on #9611
@glemaitre is right, the problem was caused by the preprocessing of the dataframe.
In my original code, that I edited before submitting the issue, I did something like this:

[code]

Since I am using `set` and Python 3 uses a different hash seed at each invocation, I ended up having the features of the dataset in a different ordering at each run.

Strangely enough this got me different results for

[2017-08-24 09:09] #9611 closed

[2017-08-24 09:17] glemaitre commented on #9611
The tree will shuffle the dimension so you will get a different order. In a KNN the distance between the neigbors will still be the same so there is not changes.

[2017-08-24 09:45] julj opened #9618 "Error in average_precision_score"
According to [Wikipedia](https://en.wikipedia.org/wiki/Information_retrieval#Average_precision), the average precision of the example below should be 0.5 instead of 0.25.

[code]

[2017-08-24 10:01] jnothman commented on #9618
what version of scikit-learn is this?

On 24 Aug 2017 7:45 pm, "julj" <notifications@github.com> wrote:

[2017-08-24 10:05] julj commented on #9618
It was 0.18.1, and it seems to be fixed in 0.19.0.

[2017-08-24 10:05] #9618 closed

[2017-08-24 10:11] Pichenug commented on #9610
By now it seems  for me that your approach only partially solve the problem, because  it allows to define parameters **specific** for each certain estimator, but doesn't allow  to define parameters that **common** for  all of them. For example in case where C is common parameter for both classifiers.
[code]
I believe that this "aggregation" ability of parameter grid specification that i talked abo

[2017-08-24 10:24] normanius opened #9619 "GridSearchCV of sklearn.model_selection is slower than its deprecated predecessor from sklearn.grid_search"
#### Description
The `GridSearchCV` from module sklearn.model_selection operates slower than the "old" one from sklearn.grid_selection, that has been marked as deprecated.

#### Steps/Code to Reproduce
The below example has been taken from [this](https://jakevdp.github.io/blog/2013/12/01/kernel-density-estimation/) thread.

Example:
[code]

#### Expected Results
Results are the same, runtime is th

[2017-08-24 10:29] xamat commented on #5115
I am pretty sure I am coming across this issue myself. After trying many combinations, everything I do with n_jobs>1 simply freezes after a few folds. I am on an Ubuntu Linux Laptop with sklearn=0.19.0, so this is a different configuration from others I have read around. Here is the "offending" code:

`import xgboost as xgb
from sklearn.model_selection import GridSearchCV
cv_params = {'max_depth':

[2017-08-24 10:52] kmike commented on #9606
I agree with these points. A thing to consider: random forests (and other ensemble methods) may need an access to OOB samples (and thus X and y) for some of the feature importance measures, so get_feature_names may need `get_feature_names(self, method, X=None, y=None, **kwargs)` signature, which complicates the design, as X and y must be the same as used during `fit`.

[2017-08-24 11:10] jnothman commented on #9610
No, there's no easier way to share the values for C across LR and SVC with searchgrid. But I think that's fair enough.

Re conda: you should be able to install version 0.19 there without a problem.

[2017-08-24 11:23] jnothman commented on #5115
could you provide data to help replicate the issue?

On 24 August 2017 at 20:29, Xavier Amatriain <notifications@github.com>
wrote:

[2017-08-24 11:28] jnothman opened #9621 "*SearchCV should warn if calculating train score is unduly expensive"
I suspect we made a mistake in letting `return_train_score` default to True (see #9619 for example) in `GridSearchCV`, as it can sometimes be expensive to score over a training set.

I think it would be useful to users if we issue a warning (in _fit_and_score? at the end of fitting?) if train scoring is greater than ?10% of fit and test score time and is more than a few seconds for the entire grid

[2017-08-24 12:30] agitter commented on #5379
#9017 modified the `average_precision_score` to match the Wikipedia definition and #9583 expands the documentation.

[2017-08-24 13:09] albertcthomas commented on #9497
After a discussion with @agramfort I confirm that the underlying SMO implementation of the OneClass SVM is not random. And as there is no probability estimation for OCSVM, the random_state parameter is useless.

[2017-08-24 14:07] sam-s commented on #2806
Alas, the issue resurfaces with
[code]
like this:
[code]

[2017-08-24 14:12] sam-s opened #9622 "Overflow in matthews_corrcoef on a 64-bit mac"
#### Description

I see
[code]
and
[code]
in `sklearn.metrics.matthews_corrcoef` for large input vectors.

#### Steps/Code to Reproduce

Use functions from https://github.com/scikit-learn/scikit-learn/issues/2806 and then:
[code]

#### Expected Results

nothing printed, like above for `mcc_test(1000)`.

#### Actual Results

see messages above.

#### Versions

[code]

[2017-08-24 14:25] jnothman commented on #9622
Ugh. I'd be fine to adopt the alternative implementation there...

[2017-08-24 14:47] normanius commented on #9619
Cool, thanks! This does not become clear from the [documentation](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html). Would be nice to find a note about this. `sklearn.grid_selection.GridSearchCV()` has almost the same signature, and it is not evident that more computations are performed when "upgrading" from `grid_selection`  to `model_selection`. `return_

[2017-08-24 15:32] jnothman commented on #9619
A PR tweaking the docs is welcome. I've also proposed at #9621 that we do something about this in code...

[2017-08-24 16:03] sam-s commented on #9622
what's stopping you?

[2017-08-24 16:41] julian-ramos opened #9624 "cohen's kappa can't handle single label cases"
cohen_kappa_score assumes that the data is going to have multiple labels, although most time's that is the case for training a classifier that may not always be the case for testing, like for example if you are just evaluating a classifier over many datasets and one of them only has one class data. Sure this evaluation is kind of useless but this will happen when running a classifier through unkno

[2017-08-24 17:20] agramfort commented on #9497
then just deprecate it and let's get rid of if

[2017-08-25 06:08] jiangfeng opened #9625 "can any body help me fix this issue , not only me have this problem"
https://www.kaggle.com/c/allstate-claims-severity/discussion/24293

I have try branch 0.19.X , but have no effect

[2017-08-25 09:23] agramfort commented on #9612
I am seeing this now. Did someone already investigate?

[2017-08-25 09:24] agramfort commented on #9625
please respect what we ask to report an issue:

Description

Steps/Code to Reproduce

Expected Results

Actual Results

Versions

closing. Reopen a new one with all the relevant info.

[2017-08-25 09:24] #9625 closed

[2017-08-25 11:30] jiangfeng opened #9626 "model extratreesregressor when criterion use "MAE" lead to an endless training"
#### Description

when I use 'mae' criterion for the model extratreesregressor, training for a long time,  it's seems lead to an endless training.
I find not only me hava this problem. I hava tried two version (0.18 and  0.19.X) , but noused .

https://www.kaggle.com/c/allstate-claims-severity/discussion/24293

#### Steps/Code to Reproduce

[code]
#### Expected Results

#### Actual Results

#### V

[2017-08-25 13:20] jsamoocha commented on #9612
I took a more detailed look at what's happening inside `affinity_propagation()`. For the "symmetric" case above (i.e. _n_ samples with equal mutual similarities and same preference), based on subtle differences of the `preference` argument and floating point rounding errors, the algorithm does or does not converge, leading in the latter case to K=0, a return of `None` as `cluster_centers_indices`

[2017-08-25 15:49] FedZee commented on #6699
Hello I have similar problem that is unresolved with the four commands provided here.

Context: Mac OS 10.9.5, running a virtualenv of python3.6 with scikit-learn-0.16.1.

Throws the following error:
[code]

And I have ran the 4 commands as mentioned, with my right path (including python version):
[code]

It does not change anything. Does anyone have a clue ?

[2017-08-25 16:07] xamat commented on #5115
Sure, you can download the exact files I am using from:
https://xamat.github.io/xboost_train.csv
https://xamat.github.io/label_train.csv

[2017-08-25 18:04] thechargedneutron commented on #9621
I am interested in this issue. Which of the above methods would you like to be implemented. IMO, 10% of fit and test score time will work. But my knowledge is too less to decide. WDYT?

[2017-08-25 18:52] #9554 closed

[2017-08-25 19:50] agramfort commented on #9612
go for it

[2017-08-25 20:51] amueller commented on #9608
Yeah I wanted to have my student look for ones missing.... There's a paper on a biclustering package that used it

[2017-08-26 01:53] GKjohns commented on #9543
Could we create a wrapper around the function that does this in [the openml module](https://openml.github.io/openml-python/stable/) (something like `oml.datasets.get_dataset(did)`)? It would add a dependency but would reduce a ton of redundant work.

[2017-08-26 04:30] webber26232 opened #9629 "No label or value to be assigned to outliers in Radius Neighbors Classifier and Regressor"
#### Description

In the Radius Neighbor models, some outlier samples may not have any neighbor within a given radius. Therefore the model cannot predict their label or value. Currently, RadiusNeighborsRegressor will return NaN for outliers after calling predict(X) method. RadiusNeighborsClassifier has a parameter: outlier_label which accept an integer or None. If None is given, when any outlier i

[2017-08-26 14:08] Jan-Ko opened #9630 "Feature Request: Pipelining Outlier Removal"
I wonder if we could make outlier removal available in pipelines.

I tried implementing it for example using the IsolationForest but so far I couldn't solve it and I know why.

The problem boils down to `fit_transform` only returning a transformed `X` this suffices in the vast majority of cases, since we typically only throw away columns (think of a PCA). However, using outlier removal in a pipeli

[2017-08-26 14:33] jnothman commented on #9630
This is the right place. Sorry I've not fished out issue numbers, but certainly things like this have been raised before, particularly as regards resampling in pipeline. A few points:
1. It's not hard to implement something like this as your own metaestimator (and maybe it makes sense to have one specialised for outlier removal)
2. We'd rather avoid allowing transform to resize the data, but intro

[2017-08-26 14:47] raamana opened #9631 "Feature addition: Pipeline comparison"
Hi There,

During our research, we keep having to compare different pipelines or feature sets, and comparing improvement in numerical accuracy is not the best way for few reasons. Testing for significance of improvement can be via non-parametric Friedman test and some postdoc analysis [[check our paper for real-world example of usage](http://www.biorxiv.org/content/early/2017/07/31/170381)].

I wi

[2017-08-26 14:53] Jan-Ko commented on #9630
Hey, I skimmed through some issues but didn't find a related topic. Sorry for that.

I fully understand that an API change is suboptimal. Resample is of course the right method name for imblearn, `reduce`might be good in this case, but it's an completey overloaded name ;) What about condense?
But would this really be the right place to be put directly into sklearn or would a "contrib" package be p

[2017-08-26 15:35] rhiever opened #9632 "Add fashion-MNIST to built-in datasets?"
MNIST digits is too easy, even for an example dataset. How about adding [fashion-MNIST](https://github.com/zalandoresearch/fashion-mnist) to the built-in sklearn datasets? It's designed as a drop-in replacement for the MNIST digits dataset, as described in their README.

[2017-08-26 15:51] Jan-Ko commented on #9630
I think I found one of the related [issues](https://github.com/scikit-learn/scikit-learn/issues/3855)

[2017-08-26 15:52] sschnug opened #9633 "Bad fp-comparison in check_priors (at least naive_bayes.py)"
#### Description

Reading [this StackOverflow question](https://stackoverflow.com/questions/45896410/gaussiannb-valueerror-the-sum-of-the-priors-should-be-1/45897071#45897071) lead me to check the code in [naive_bayes.py](https://github.com/scikit-learn/scikit-learn/blob/ef5cb84a/sklearn/naive_bayes.py#L363) where the priors are checked.

I did not check the whole method and what is internally ass

[2017-08-26 19:22] AishwaryaRK commented on #9545
If this issue is still unresolved then I would like to contribute. @jnothman @amueller can you please give me pointers to start with.

[2017-08-26 19:23] AishwaryaRK commented on #9580
If this issue is still unresolved then I would like to contribute. @amueller can you please give me pointers to start with.

[2017-08-26 19:31] AishwaryaRK commented on #8695
@jnothman this issue seems open, I would like to contribute, can you please give me some pointers
to start with

[2017-08-26 20:03] kdhingra307 commented on #9545
@AishwaryaRK am working on this, had moved to a new place last week. so couldnt finish it

[2017-08-26 20:54] kootenpv opened #9634 "Feature request: lookahead option in Trees"
I believe it would be a great and rather unique feature to include a lookahead (best implemented as n-lookahead). Essentially, rather than only greedily choosing a split for a node, it could decide the best split "now" doing a search on the current _and_ next level. Worst case would be `O(N^2)`, but perhaps heuristics would follow (e.g. only consider extra depth for top % features etc).

I've star

[2017-08-27 02:45] jnothman commented on #9622
Now that I look: support for multiclass is a pretty big reason not to adopt it.

[2017-08-27 03:10] jnothman commented on #9624
The appropriate result there should be 0 or nan, not 1.

On 25 Aug 2017 2:41 am, "Julian Ramos" <notifications@github.com> wrote:

[2017-08-27 03:11] jnothman commented on #9624
1 in Cohen's Kappa indicates perfect agreement with 0 chance of agreement at random. Here there is perfect agreement at random.

[2017-08-27 04:13] jnothman commented on #9626
Thanks. See also https://github.com/scikit-learn/scikit-learn/issues/9553#issuecomment-322329232 and below.

[2017-08-27 09:16] jnothman commented on #8898
eli5 has merged something in this vein. Not sure if we should leave the issue open.

[2017-08-27 10:46] jnothman commented on #9621
It needs to have an absolute time as well as a relative time. The question is when to raise the warning, and how to get the necessary information to that place.

[2017-08-27 10:47] jnothman commented on #5115
HTTP404

[2017-08-27 11:26] sudarshan1413 opened #9636 "Converting sklearn model to PMML causing tree threshold precision loss."
#### Description
I asked question on [SO](https://stackoverflow.com/questions/45885831/python-sklearn-isolation-forest-tree-split-threshold-precision), I want to store tree threshold in numpy float32 format for it to be compatible with JPMML elevator.
We raised issue on PMML : [issue 6](https://github.com/jpmml/jpmml-converter/issues/6), the author says that sklearn should use float32 instead of d

[2017-08-27 13:44] jnothman commented on #9612
Sounds good except insofar as we should consider whether there are ways to
detect or otherwise avoid the floating point rounding errors...

On 26 August 2017 at 05:50, Alexandre Gramfort <notifications@github.com>
wrote:

[2017-08-27 13:46] jnothman commented on #9608
"used" as in built upon it, or benchmarked against it?

On 26 August 2017 at 06:51, Andreas Mueller <notifications@github.com>
wrote:

[2017-08-27 14:03] jnothman commented on #9629
I might note that setting outlier_label to some int not known from the
dataset (e.g. -1 for true classes 0, 1, ...) allows a post-processor to
then modify that label to something randomised. So it's not like the
current implementation disallows that usage pattern; it merely does not
provide it.​

[2017-08-27 14:29] jnothman commented on #9631
Firstly, I don't think we mean pipelines here. Just arbitrary estimators.

Secondly, I think it would be good for us to have measures of significance
between systems available in the library and their use as a tool explained
in an example. Taking advantage of multiple metrics seems like a reasonable
idea except that assuming they're all equally competent judges for any
(binary classification) prob

[2017-08-27 14:39] jnothman commented on #9630
Yes, #3855, #4143, #4552 and https://github.com/scikit-learn/enhancement_proposals/pull/2 all relate.

I don't see why resample is entirely inappropriate here.

Meta-estimator (almost; untested):

[code]

[2017-08-27 14:41] jnothman commented on #9633
Thank you. PR welcome.

On 27 August 2017 at 01:52, sschnug <notifications@github.com> wrote:

[2017-08-27 14:52] jnothman commented on #9580
@GKjohns, #9443 is about testing the estimators. This is about testing our framework for testing estimators.

@AishwaryaRK it's still unresolved, but @GKjohns might want to fix it.

[2017-08-27 14:53] jnothman commented on #8695
Get your head around `sklearn/utils/estimator_checks.py` for a start. Thanks!

[2017-08-27 15:00] jnothman commented on #9636
I'm not sure, but I don't think you've correctly understood @vruusmann at https://github.com/jpmml/jpmml-converter/issues/6. He is not saying that scikit-learn should be storing or returning float32s, in my understanding.

[2017-08-27 15:00] #9636 closed

[2017-08-27 17:57] prcastro commented on #3148
While I don't agree that that aren't many packages for Quantile Regression on Python, I believe this is important to have pure Quantile Regression (not inside a Ensemble method) on sci-kit learn.

Quantile Regression has the advantage of targeting on a specific quantile of y. With this, it's possible to reduce the difference of the median of y_pred and y. It's similar to minimizing the absolute er

[2017-08-27 18:07] vruusmann commented on #9636
AFAIK, Python doesn't have print methods that correspond to Java's `Float#toString()` (aka `Float#toString(float)`). Python prints floating-point numeric values, whether they are `float32` or `float64`, using a format that is similar to Java's `Double#toString()` (aka `Double#toString(double)`).

There is no point for storing those extra characters (ie. decimal places 8 - 16) in PMML markup, becau

[2017-08-27 18:08] CoderINusE commented on #9632
It seems like registration to mldata.org doesn't work.

[2017-08-27 18:37] jsamoocha commented on #9612
I saw the floating point issues only when dealing with the edge case above, i.e. [[-1, 1], [1, -1]] as training samples. Depending on preference and damping params, the `A` and `R` diagonals would "converge" to e.g. [0.45, -0.45] and [-0.45, 0.45]. But then the code

[code]
would somehow lead to different values of `E` (and `K`) per (small sequence of) iteration(s). This would then lead to the inc

[2017-08-27 20:17] thechargedneutron commented on #9621
After spending some time on the code, I deduced that we should be adding the warning message near line 471 in `sklearn.model_selection._validation.py` , i.e.
[code]
Now, if we want to have ~10% of fit_time, the condition can be added here.
And we can add a `search_time` alongside `return_train_score` to get the search time, and add it also to warn.
I am not sure whether you referred the latter as

[2017-08-27 21:09] webber26232 commented on #9629
@jnothman Oh yes, you are right.
I just implemented predict_proba() for Radius Neighbors Classifier and I think I am able to implement this function as well.

[2017-08-27 22:20] xamat commented on #5115
Sorry, there was a mistake in the first link, it should now be fixed. The 2nd should also be ok, I just checked.

[2017-08-28 01:42] jnothman commented on #9621
I don't know what you mean by search time. To get a sense of cumulative
absolute time spent calculating training scores, we need to have an
estimate here of how many times this is going to be performed in the
search, which would need to be passed in. I'm not sure if that's overkill.

On 28 Aug 2017 6:17 am, "Kumar Ashutosh" <notifications@github.com> wrote:

[2017-08-28 01:42] jnothman commented on #9621
I suggest you try to implement it.

On 28 Aug 2017 11:42 am, "Joel Nothman" <joel.nothman@gmail.com> wrote:

[2017-08-28 03:38] jnothman commented on #9336
@qinhanmin2014 would you be interested in taking on these discretiser issues?

[2017-08-28 03:44] sudarshan1413 commented on #9636
My only concern was related to the way Python tree and PMML stores the tree Thresholds. By reading code (https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/_tree.pyx) I got to know that python (Model Pickle) stores Tree Thresholds in numpy.float64(e.g, 526225.988222) and PMML file stores ( e.g. 526226)  If condition in Python tree is : <= 526225.988222 and in PMML its <= 526226

[2017-08-28 03:53] qinhanmin2014 commented on #9336
@jnothman I'll try in these days :)

[2017-08-28 06:06] jnothman commented on #9636
So the PMML translation is rounding to the nearest integer??

I see jpmml-sklearn converting the threshold to a single-precision float [here](https://github.com/jpmml/jpmml-sklearn/blob/e3bc7cfee58e1444083bb791ad6672ba42715ab1/src/main/java/sklearn/tree/TreeModelUtil.java#L111) then when formatting it as a string for PMLL [here](https://github.com/jpmml/jpmml-sklearn/blob/e3bc7cfee58e1444083bb791a

[2017-08-28 10:22] Jan-Ko commented on #9630
For me, (re)sampling always contains a strong random component. This is not directly fulfilled when outliers shall get removed.

Thanks for the metaestimator hint. I thought in a similiar direction. Additionally, the classifier can be a pipeline, so my previous comment on removing outliers only in the last step is wrong in some sense.

[2017-08-28 10:55] ngetahun commented on #9633
Is anyone working on this?

[2017-08-28 11:55] jnothman commented on #9630
yes, this is more-or-less sufficient. The questions are whether it is
elegant; and whether we should have some such thing in the library.

On 28 Aug 2017 8:22 pm, "Jan Koch" <notifications@github.com> wrote:

For me, (re)sampling always contains a strong random component. This is not
directly fulfilled when outliers shall get removed.

Thanks for the metaestimator hint. I thought in a similiar dir

[2017-08-28 11:55] jnothman commented on #9633
Not as far as I can tell. You're welcome to have a go.

[2017-08-28 11:57] sschnug commented on #9633
And maybe look at [this approach in discriminant analysis](https://github.com/scikit-learn/scikit-learn/blob/5c6cc88967055c4845197c441bfe9751687359c4/sklearn/discriminant_analysis.py#L440)

        if self.priors_.sum() != 1:
            warnings.warn("The priors do not sum to 1. Renormalizing",
                          UserWarning)
            self.priors_ = self.priors_ / self.priors_.sum()

[2017-08-28 12:24] #6627 closed

[2017-08-28 12:27] lesteve commented on #5115
Known issue with xgboost, see https://github.com/scikit-learn/scikit-learn/issues/6627#issuecomment-206351138 for example.

FYI, the [loky](https://github.com/tomMoral/loky) backend in joblib will get rid of this kind of problems but this will be only available in scikit-learn 0.20.

[2017-08-28 12:35] lesteve commented on #9622
This seems a Python 2.7 only issue (at least on my Ubuntu box). @sam-s can you confirm you do not see the problem with Python 3 on OSX?

Posting a reproducible snippet for convenience:

[code]

[2017-08-28 13:37] sophiechauvin opened #9639 "cross_val_predict with method='predict_proba' throws a NotFittedError"
#### Description

I am trying to use the ```cross_val_predict``` function for cross-validation, with the ```'predict_proba'``` method to output probabilities instead of class tags. If my classifier is not fitted beforehand, I get a ```NotFittedError```. This error does not show up when calling ```cross_val_predict``` with the default ```'predict'``` method.

This issue is new to version 0.19.0 and

[2017-08-28 13:41] jnothman commented on #9639
Thanks for reporting the regression. Yes, in fixing something else in `cross_val_predict` it seems we forgot about the fact that you can't check if an estimator supports a method until after fitting. I think we can just remove this check.

Patch welcome.

[2017-08-28 15:49] lesteve commented on #2806
@sam-s thanks for opening a new issue. Although kind of similar your problem is not related since this one was about 32 bit.

[2017-08-28 17:13] AishwaryaRK commented on #8695
Thanks, I'm picking it up.

[2017-08-28 19:38] amueller commented on #8364
I think these are all done now.

[2017-08-28 19:38] #8364 closed

[2017-08-28 20:31] amueller commented on #9630
I think we should close this as duplicate, given all the other open issues and the enhancement proposal.

Resampling doesn't necessarily mean random. In signal processing at least, it is not ;)

the meta-estimator is a good solution imho. Interesting question: it looks like you don't want to remove outliers at test time. Why is that? That seems counter-intuitive to me. I would refuse to make a pre

[2017-08-28 20:38] amueller commented on #9621
Maybe just print a warning for each fit if it's more than 10% of training time and >5s or something?

[2017-08-28 20:39] amueller commented on #9621
That could potentially create a lot of warnings, though. Though we could warn if someone used the default and not warn if they explicitly passed True.

[2017-08-28 20:39] amueller commented on #9621
So make the default ``return_train_score="warn"``.

[2017-08-28 20:42] amueller commented on #9632
MNIST is not built into scikit-learn, and we will add an openml fetcher, right? So why should we add any other dataset fetchers? have you uploaded it to OpenML?

[2017-08-28 20:43] thechargedneutron commented on #9621
I'll try and send a PR if I get through. Thanks!!

[2017-08-28 20:43] amueller commented on #9632
see #9543.

Or are you suggesting to replace MNIST with fashion-MNIST in the examples?

[2017-08-28 20:47] amueller commented on #9543
No, I don't want to depend on openml, in particular because of the arff dependency it has (which is a github development version). And actually, there is not a lot of redundant work. This functionality can be implemented in ~10 lines.

[2017-08-28 20:48] amueller commented on #9543
(I wrote a bunch of the openml python module)

[2017-08-28 20:49] jrbourbeau commented on #9639
I'll submit a patch that removes the check in `cross_val_predict`

[2017-08-28 20:51] amueller commented on #8675
The question is how it passed #8022 ....

[2017-08-28 20:53] amueller commented on #9639
@jrbourbeau thanks :)

[2017-08-28 21:05] CoderINusE commented on #9632
@amueller who is working on fetcher?

[2017-08-28 21:07] amueller commented on #9543
@YSanchezAraujo are you still working on this? if so, can you submit a PR?

[2017-08-28 21:07] amueller commented on #9632
@CoderINusE see that issue. Possibly @YSanchezAraujo or maybe up for grabs.

[2017-08-28 21:09] janvanrijn commented on #9543
FYI current version of openml-python does not depend on development versions, liac-arff 2.1.1 is on [PIP](https://pypi.python.org/pypi/liac-arff)

[2017-08-28 21:10] amueller commented on #9543
@janvanrijn sweet! - still I think this is very easy to implement without pulling in all the complexity of openml-python.

[2017-08-28 21:27] janvanrijn commented on #9543
Cool, let me know if you need any help :)

2017-08-28 23:11 GMT+02:00 Andreas Mueller <notifications@github.com>:

[2017-08-28 21:50] amueller commented on #9608
benchmarked against (with benchmarks that are way worse than what I produced by re-running their code lol)

[2017-08-28 22:33] erg opened #9642 "sklearn/feature_extraction/_hashing.pyx size is int32 but should be larger"
``sklearn.feature_extraction.text.HashingVectorizer`` uses ``sklearn/feature_extraction/_hashing.pyx`` which has a signed 32bit variable as a counter which overflows on my dataset and causes the following error:

[code]

Applying this patch and running my code gives an error:

[code]

[code]

Proposed fix:

[code]

[2017-08-28 22:42] rth commented on #9642
@erg Thanks for reporting it. It is a duplicate of https://github.com/scikit-learn/scikit-learn/issues/8941 with a fix proposed in https://github.com/scikit-learn/scikit-learn/pull/9147. The issue is that this would make vectorizers return 64 bit indexed sparse arrays that estimators downstream don't support yet anyway (cf #2969)..

[2017-08-28 23:26] erg commented on #9642
I just saw that my model failed after an hour.

Glad you're working on this! I merged your ``rth/large-number-of-features`` locally and I'm trying my model again. Thanks!

[2017-08-28 23:27] #9642 closed

[2017-08-28 23:43] jnothman commented on #9630
refusing to classify is interesting. The estimator could have an option to
add an additional unlabelled class for outliers in prediction, but the key
idea is to reduce noise in training.

Also, resampling pipelines alone would not fix this, so unless we have
other issues about outlier removal I think we should keep this open. We
either need a wrapper for outlier detectors, or need to add a fit_res

[2017-08-28 23:52] rth commented on #9642
@erg FYI, that other PR still doesn't fix this issue on Windows though...

[2017-08-28 23:56] rth commented on #9642
@erg Also, if you use the `HashingVectorizer` on a sufficiently large dataset to overflow 32-bit sparse indexing, the easiest workaround is still to chunk the dataset, vectorize, then concatenate the results (can also parallelize while doing that), since the vectorizer is stateless...

[2017-08-29 00:03] jnothman commented on #9608
So that's not really an argument against deprecating this?

On 29 August 2017 at 07:50, Andreas Mueller <notifications@github.com>
wrote:

[2017-08-29 00:11] erg commented on #9642
I knew I could parallelize the transform after the initial model is fit, but didn't realize that since I'm calling ``fit_transform`` that it's causing a failure in the transform step. It seems like all I have to do is call ``fit`` instead and then ``transform`` on smaller datasets.

(Funnily enough, doing the training on an ec2 instance caused the machine to hang instead of fail with out-of-memory

[2017-08-29 00:16] erg commented on #9642
Actually nevermind, like you said, the vectorizer is stateless...``fit_transform`` on smaller datasets it is.

[2017-08-29 02:48] mattalhonte commented on #8381
Currently trying to incrementally train a multi-label dataset that's too big to fit in memory.  Would be awesome if this started working!  :)

[2017-08-29 03:18] jnothman commented on #8381
I'm confused by my own previous comments here. I think we need to get a better understanding of how people *think* they should be using `partial_fit` in the multilabel case, and how they should be in fact. Both of the examples above are inappropriate usage, though I think the more appropriate `classes=[[0, 1], [0, 1], [0, 1]]` also fails.

As per discussions at #9602, having `OneVsRestClassifier`

[2017-08-29 14:28] rhiever commented on #9632
It could be nice to have a version of fashion-MNIST very similar to the sklearn MNIST digits dataset. AFAICT the sklearn MNIST digits dataset is a small subset of the original dataset, which makes it useful for visual examples. I don't think we necessarily have to replace all examples that have MNIST digits in them, but it'd be good to have a similar small subset built into sklearn.

[2017-08-29 15:30] souravsingh commented on #9325
I am interested in working on ``sklearn.model_selection`` and ``sklearn.svm``

[2017-08-29 20:40] #9572 closed

[2017-08-29 20:58] amueller commented on #9325
@souravsingh go for it!

[2017-08-29 20:59] amueller commented on #9632
digits is unrelated to mnist iirc.

[2017-08-29 21:12] amueller commented on #8381
classes should be ``range(len(categories))`` imho. I'm confused that it has a different structure.

Basically the one you're using here is multi-output multi-target. Estimators that support that (like MultiOutputClassifier) take ``classes = =[[0, 1]] * len(categories)``.

I don't think either of these is documented, and that the API for multi-label depends on whether an estimator allows multi-outp

[2017-08-29 21:17] amueller commented on #3148
@prcastro do you mean for a linear model?

[2017-08-29 21:20] amueller commented on #8898
I think this is not standard enough, and having SFS would be enough.

[2017-08-29 21:28] amueller commented on #9634
You can find the inclusion criteria here: http://scikit-learn.org/dev/faq.html#what-are-the-inclusion-criteria-for-new-algorithms

If there is supporting literature and the critera are fulfilled, we might consider adding it. However, the trees are already quite complex, and we are careful in adding any more complexity.

[2017-08-29 21:30] mattalhonte commented on #8381
Sure!
I was basically trying to use it the same way I was using Fit.
[code]

[2017-08-29 21:31] amueller commented on #9497
indeed. I think LinearSVC has randomization in the optimization though.

[2017-08-29 21:35] amueller commented on #9610
basically you want to specify tree-shaped search-spaces. I think auto-sklearn allows you to do that, hyperopt quite certainly does, probably also hyperopt-sklearn.
We shied away from implementing a language for that in skearn so far. I think we have more urgent things do to right now, and if you have very complex search spaces, you probably don't want to use GridSearchCV anyhow, and so using one o

[2017-08-29 21:37] amueller commented on #9606
I agree with the points as well as with the conclusion of not changing anything now.

[2017-08-29 21:49] amueller commented on #9595
It's not that hard to change with a deprecation cycle, right?

[2017-08-29 21:54] amueller commented on #9589
I'm pretty sure I ran into this in my book and I have no idea why I didn't report....

[2017-08-29 22:19] glemaitre commented on #9595
#9598 raises error, but we could warn during 2 versions and raise error afterwards.
I am just awaiting for a consensus to modify it. Anything is fine with me: "in", "out", "both" or only "both".

[2017-08-30 00:08] jnothman commented on #9634
I agree this sounds like a research and engineering project. I would rather see something like this be established outside of the main project. I'll close the issue. But sometimes we find that interested parties comment on closed issues anyway...

[2017-08-30 00:08] #9634 closed

[2017-08-30 00:09] jnothman commented on #8898
I agree that it's underspecified and immature as a technique. I think we should close and focus on learning and ensuring we have APIs that allow other people to do this kind of thing.

[2017-08-30 00:09] #8898 closed

[2017-08-30 00:15] jnothman commented on #8381
I disagree. In the ideal case, for multilabel, classes should either be left implicit / automatically determined (because it's determined by the number of columns) or should be specified as would be the more general multiclass-multioutput.

But you're right that in *metrics* we support `labels=[some subset of column indices]` for selecting among a set of multiple outputs within multilabel.

I do t

[2017-08-30 00:22] jnothman commented on #9610
I don't think that's actually what's being sought in this case. Beyond the searchgrid functionality, @Pichenug only seems to want `C` to have the same values searched for LogisticRegression and SVC... but I think the fact that these parameters have the same name does not make them the same parameter, and so the user (or the automl system) should have to specify them individually in any case.

By t

[2017-08-30 00:29] prcastro commented on #3148
Exactly. Today, sklearn implements quantile regression on ensemble methods. However, it's usually used as a regular linear model.

[2017-08-30 00:38] CoderINusE commented on #9543
@amueller so what is the final decision? There should be `version` number passed to `fetch_mldata`? But then how users will be able to choose appropriate version number on every request?

[2017-08-30 01:04] jnothman commented on #9543
So names uniquely identify a dataset but not a version.
@joaquinvanschoren: does version get updated only if the *data* changes, or even if the meta-data changes? Can you provide us a test dataset where there are multiple versions, some active/inactive/deprecated/deleted? (is inactive the same as deleted?)

How about:

[code]
??

[2017-08-30 01:20] jnothman commented on #9543
No, I think this isn't quite right because the existence of iris version 3 doesn't mean that iris version 1 should not be used.

@joaquinvanschoren, something like /status/all might help. Otherwise, some kind of "substitute" or "replace-with" or "newer" field would be valuable so that we can inform the user that a dataset exists with improved quality or metadata:

[code]

I'm not sure then whether

[2017-08-30 01:25] #9639 closed

[2017-08-30 02:53] jiangfeng commented on #9626
hello @jnothman ,  when debug the code in fit function ,  ExtraTreesRegressor model use RandomSplitter (tree/_splitter.pyx) ,   self.criterion.update(current.pos)  cost 10 minutes every loop.
 I hava run 2 days but the loop keep running

my  training sets contains 806298 samples and 137 features

[2017-08-30 03:39] jnothman commented on #9626
You might be interested in using the random sub-sampling from https://github.com/scikit-learn/scikit-learn/pull/9645. For 800000 samples and 137 features, there's a lot of calculation to do at each split.

Perhaps MAE could perhaps be made faster (needs investigation), as per @mcgibbon's [comment](https://github.com/scikit-learn/scikit-learn/issues/9553#issuecomment-324484928):

[2017-08-30 04:36] mcgibbon commented on #9626
I think with 800k samples, you will really want to optimize the MAE so it scales better (as I said in that comment), unless you can get away with subsampling a few percent of your training data. to get some sense of how long it will take, run it with a bunch of different small sample sizes (like, 500, 1000, 2000, 4k, 8k, 16k, 32k... until the run takes over a minute) and then plot the run time ver

[2017-08-30 04:37] jnothman commented on #9626
I think subsampling is a more robust solution.

On 30 August 2017 at 14:36, Jeremy McGibbon <notifications@github.com>
wrote:

[2017-08-30 04:38] jnothman commented on #9626
But the point of #9645 is that the ensemble will sub-sample for you, differently for each tree.

[2017-08-30 05:21] #9563 closed

[2017-08-30 06:21] albertauyeung commented on #8381
It has been a while since I last used this and eventually I switched to another library for the task.  But as far as I can remember I tried to fit the model using batches of training data something like the following:

[code]

The above works after applying my own fix.

I agree that part of the problem is that it treats multilabel and multiclass problems as they were the same. Also I think the `ty

[2017-08-30 10:08] hoyeunglee opened #9646 "k means result change in every run"
[code]
when data do not change
k means label change from one row to next row, this change is also change in every run
can not believe in result

[2017-08-30 10:16] hoyeunglee commented on #9646
For example
First run result is
From 1 to 0
Second run become
From 1 to 1

[2017-08-30 10:18] glemaitre commented on #9646
set the random_state

[2017-08-30 10:23] jnothman commented on #9646
Yes, the initialisation is randomised.

[2017-08-30 10:23] #9646 closed

[2017-08-30 10:33] glemaitre commented on #9630
Just passing by this issue. Starting reading I thought that imblearn could implement a `FunctionSampler` in which an outlier detection transformer could be used to remove samples consider as outilers.

Then, I am sharing the feeling of @amueller regarding "not removing the outliers at test time". Using imblearn pipeline with such a FunctionSampler, you will get exactly this behaviour but I am real

[2017-08-30 10:50] Jan-Ko commented on #9630
@amueller, thanks for the remark on signal processing and "sampling".

I support the view of @jnothman  concerning the outlier removal only in training.  Particularly, I see the test set as "real" data that can of course be noisy. In that scenario, I typically want to have a prediction for any datapoint. (contrary to @mueller). However, during training I want to reduce overfitting a bit by removin

[2017-08-30 12:31] qinhanmin2014 commented on #9336
@jnothman I have finished a draft in #9647 but encountered strange test failure. Could you please have a look and give me some suggestions about my implementation? Thanks.

[2017-08-30 13:50] amueller commented on #9589
Oh wait, that was just for plain LogisticRegression, not for cross_val_predict...

[2017-08-30 14:29] rhiever commented on #9632
digits is from [here](http://archive.ics.uci.edu/ml/datasets/Optical+Recognition+of+Handwritten+Digits) (according to the `load_digits` docs), which comes from the same place as the MNIST hand-written digit dataset.

[2017-08-30 14:43] amueller commented on #9632
They are both collected by NIST, not sure if they actually come from the same data.

[2017-08-30 14:52] amueller commented on #9632
I still don't understand, is this issue about changing examples or adding datasets? I really would like not to add any more datasets / dataset downloaders, and rather load them from openml.

[2017-08-30 15:00] amueller opened #9650 "inconsistent classes_ and predict_proba shape for multilabel classifiers"
Right now, the content of ``classes_`` and the shape of the output of ``predict_proba`` and ``decision_function`` are inconsistent between estimators.
If an [estimator supports](http://scikit-learn.org/dev/modules/multiclass.html#multiclass-and-multilabel-algorithms) multioutput multiclass, ``classes_`` will be ``[[0, 1]] * n_outputs`` and ``predict_proba`` will return an object array of length ``

[2017-08-30 15:13] amueller commented on #8100
So I'm not entirely certain this is the right solution any more, because of issues we face in the implementation.

There are two or three main points:
- are we requiring ``classes`` in our API contract for third-party estimators?
- If we don't, then issues like in cross_val_predict will remain for third-party estimators, and we end up where we started.
- how much of the internal structure of the e

[2017-08-30 16:01] amueller commented on #9610
you're right, these are actually not conditional dependencies between parameters because they are different estimators. I guess the case of conditional parameters is actually covered by searchgrid, right?

[2017-08-30 16:18] amueller commented on #3148
I'd be open to adding it. @jnothman @GaelVaroquaux?

[2017-08-30 16:48] amueller commented on #8100
Hm for the third-party estimators, I guess we don't have to require ``classes``, and just raise an error if we want to combine multiple estimators that have different ``classes_`` like in ``cross_val_predict``. Basically someone only needs to implement ``classes`` if they want these edge cases to work. Still seems like a bit of a burden on the estimator author that we could avoid with a wrapper ap

[2017-08-30 17:44] milroy commented on #8995
Hello, I'm still confused about the future of RandomizedLogisticRegression.  Is it being removed entirely or just moved within sklearn?  If it's being removed, I support @sebp @jnothman and @JGH1000 in their request for an explanation.  I've been using it successfully in some recent work, but will need to look for other algorithms or implementations if RLR is going away.

[2017-08-30 18:05] amueller commented on #8995
My motivation for removing it was that in talking with @GaelVaroquaux and @agramfort, the original authors, they felt like there were some issues with the maintenance, and that it was not as helpful in practice as thought.
I don't really have an opinion on the matter. If many people find it useful, we can undo the deprecation. We could move it, too.

[2017-08-30 19:00] milroy commented on #8995
Thanks for the additional information, @amueller.  While my initial reaction is to support retaining or moving the module, I'm open to alternatives.

Without getting too far afield, @GaelVaroquaux and @agramfort, can you point to practical limitations with the algorithm from Meinshausen and Bühlmann, 2010?  If so, were the maintenance issues related to the algorithm's limitations?  Is there a more

[2017-08-30 19:11] kmike commented on #8898
FWIW, permutation feature importances are not that uncommon for random forests and related methods; they are implemented in various R packages. It is shown that unlike Gini importances permutation importances are not biased towards high-cardinality features, though there are still caveats - e.g. from [Bias in random forest variable importance measures: Illustrations, sources and a solution (C. Str

[2017-08-30 19:29] amueller opened #9652 "Establish "first timer only" issue tag?"
Inspired by some discussion with other maintainers and [this article](https://medium.com/@kentcdodds/first-timers-only-78281ea47455) I think it might be a good idea to establish a "first timer only" tag for issues.
I often try to create issues that are very easy to invite new contributors, instead of fixing something myself that's not urgent. A common phenomenon that I observed is that then a new

[2017-08-30 19:44] amueller opened #9653 "Write review guidelines"
I want more people to review code. I think the backlog in PRs is a more urgent problem then the backlog in issues.
One possibility might be a guide to reviewing code. [Python has one](http://khmer.readthedocs.io/en/v2.0/dev/coding-guidelines-and-review.html#code-review) [and](https://smartbear.com/learn/code-review/best-practices-for-peer-code-review/) [some](http://fperez.org/py4science/code_revi

[2017-08-30 19:44] amueller commented on #9653
I think I might just do a PR for at least a short version of this...

[2017-08-30 20:23] abjer opened #9654 "RadiusNeighborRegression error"
#### Description
RadiusNeighborRegression has inconsistent output depending whether using weights that are uniform or by distance.

- When using uniform weights then if no observations are available within the specified radius of an observation point then no it returns `np.nan`,

- When using distance weights it raises `ZeroDivisionError: Weights sum to zero, can't be normalized` is raised from `n

[2017-08-30 20:41] GaelVaroquaux commented on #9652
+1 on my side, but it seems fairly hard to implement.

[2017-08-30 21:02] agramfort commented on #9653
I like that

[2017-08-30 21:05] agramfort commented on #3148
It seems fairly established indeed

[2017-08-30 21:15] GaelVaroquaux commented on #3148
No opposition. We just need a good PR, and time to review it.

[2017-08-30 21:48] amueller commented on #9652
Why? Tagging it or documenting it or "enforcing" it?

[2017-08-30 21:50] GaelVaroquaux commented on #9652
enforcing it

[2017-08-30 21:53] amueller commented on #9652
It sounds like it has been working for other projects. I think possible contributors are not ill-intentioned and if the label is self-documenting, I hope there is no need for strong enforcement. Also, github now immediately shows whether someone already contributed next to their user name (where we have "Owner").

[2017-08-30 22:21] jnothman commented on #9632
I think it remains easier to use digits in examples, and while I'd like to
see more blog posts etc reporting fashion results with scikit-learn, we
don't currently have a fetcher for mnist and don't really need one here.

On 31 August 2017 at 00:52, Andreas Mueller <notifications@github.com>
wrote:

[2017-08-30 22:26] jnothman commented on #9650
See also https://gist.github.com/jnothman/4807b1b0266613c20ba4d1f88d0f8cf5 (though I'm yet to add a `classes_` check there).

Basically, the estimators that report a multilabel decision function with a single 2d array are `OneVsRestClassifier` and `MLPClassifier`.

I find the multiclass-multioutput better for its non-ambiguity... but it is not as easily usable. And given how recent `MLPClassifier`

[2017-08-30 23:01] jnothman commented on #9650
Wdyt of:
* Deprecating multilabel support in OneVsRest
* Using a temporary switch to facilitate multiclass multi-output style in
MLP, becoming the default in the future
* Implementing common tests for multilabel decision_function,
predict_proba, classes_ and partial_fit classes

On 31 Aug 2017 1:00 am, "Andreas Mueller" <notifications@github.com> wrote:

Right now, the content of classes_ and the

[2017-08-30 23:09] jnothman commented on #9610
In a limited way, yes, it is handled by searchgrid.

On 31 August 2017 at 02:01, Andreas Mueller <notifications@github.com>
wrote:

[2017-08-30 23:59] jnothman opened #9657 "Un-deprecate randomized_l1?"
The users are revolting at #8995 :)

Do we want to:
1. keep it deprecated?
2. remove the deprecation (until further notice)?
3. re-implement it with a different interface, which determines `feature_importances_` and can be wrapped in `SelectFromModel`?
4. review potential improvements to the method?

[2017-08-30 23:59] jnothman commented on #9657
I believe we need a strategy, at least, before releasing 0.19.1 so that we can modify the DeprecationWarning message.

[2017-08-31 00:07] jnothman commented on #9654
Thanks for the report and the patch!

On 31 August 2017 at 06:23, abjer <notifications@github.com> wrote:

[2017-08-31 00:17] jnothman commented on #9653
I'd like to see something like this, but I think it's missing a couple of high-level questions like "is it something we want and can maintain?", "is the design a good one that is consistent with the library and flexible to extensions?"

It's not a checklist, but FWIW, I've elsewhere (for work) written the following broad guidelines to code review:
[code]

[2017-08-31 00:22] jnothman commented on #9652
Sure, let's try it, although we now have lots of tags, and many are rarely
used. They might be easier to use if grouped by some prefixes...?

On 31 August 2017 at 07:53, Andreas Mueller <notifications@github.com>
wrote:

[2017-08-31 03:33] hoyeunglee opened #9658 "How get the state used in random state used in k means"
when random state do not set
It use random state, if see one of run result I like
And would to get parameters of this random state
How to get these parameters?
When set randomstate 0 to not use random state ,how to set the parameters to reproduce the result when randomstate set to 0?

[2017-08-31 03:52] jnothman opened #9659 "Store initial random state on models?"
I've sometimes wondered how to reproduce a model (or an error) if I did not provide a fixed random state.

Something we could consider is for every randomised estimator (or at least where `random_state` is not an int), to store something like `random_state_tuple_ = rng.get_state()`. This makes any saved model reproducible given the same data.

Given a saved estimator `est`, one can do:
[code]
to g

[2017-08-31 03:53] jnothman commented on #9658
I'm not sure I understand. If you are trying multiple random states, I would suggest you fit with multiple integer random states: 0, 1, 2, ....

Setting `random_state=0` should make the random state fixed. I.e. using `random_state=0` will give you the same model again.

[2017-08-31 03:53] #9658 closed

[2017-08-31 08:56] jnothman commented on #8100
In short, yes. Eventually. We need to maintain the `classes_` mismatch handling in `cross_val_predict` for now in any case.

We don't end up where we started in that we have a way for metaestimators to pass classes to supporting classifiers (and scorers), and that we remove the problem in `partial_fit` for us and for third parties who adopt the `classes` parameter. But yes, when the user has not s

[2017-08-31 10:01] GaelVaroquaux commented on #9652
+1!

+1 also. That's a good suggestion.

[2017-08-31 10:10] GaelVaroquaux commented on #8100
I think that the idea of trying to have "classes_" everywhere, and supporting edge cases only if this attribute is present. It seems very explicit and powerful.

Wrapper approaches make the code harder to understand. Scikit-learn is useful for many people, and fosters a great community, because it's codebase is (reasonnably) easy to understand. Wrapper approaches would get us closer to the code de

[2017-08-31 10:38] GaelVaroquaux commented on #8995
Finicky to hyper parameters.

I don't think that there are feature-selection methods that work in high
dimension outside of easy cases (very sparse case, with uncorrelated
design). I know that people will claim opposite, but it's my experience.
And a detail read of publications will reveal limitations.

[2017-08-31 11:43] albertcthomas commented on #9653
+1 for this ! (doing reviews is only mentioned once at the beginning of the contributing section). It could also be useful to have guidelines on what's the best way to review code (github, pulling the PR branch...). The last point of @jnothman guidelines (about commenting with "LGTM") is important and especially for non core devs: core devs can do a [MRG+1] at the end of their review but what's th