[2017-03-04 15:26] ltcguthrie commented on #3846
I am working on this.

[2017-03-04 15:27] EFerriss commented on #5493
@tashay and I are going to give this a shot as part of wimlds sprint day

[2017-03-04 15:29] amueller commented on #3846
@ltcguthrie which part? There are many models to work on for this.

[2017-03-04 15:39] ltcguthrie commented on #3846
I'll start with TfidfVectorizer.

[2017-03-04 15:48] ja9harper commented on #8307
I will work on this.

[2017-03-04 15:53] Ellen-Co2 commented on #8450
I will working on this on sprint

[2017-03-04 15:54] shubham0704 commented on #8508
Should the function be added to the scikit-plot side project?

[2017-03-04 15:58] neokt commented on #8361
I'm currently working on this.

[2017-03-04 16:03] souravsingh commented on #8509
I am interested in working on this.

[2017-03-04 16:07] amueller commented on #8508
I would rather have it in ``sklearn.plot`` (which exists in some PRs but not in master).

[2017-03-04 16:07] katelie commented on #8364
I'll take a look at some of the examples that are still unchecked

[2017-03-04 16:16] amueller commented on #8364
@katelie please post which ones you're working on once you decided on it :)

[2017-03-04 16:17] amueller commented on #8507
you can just run the test locally to see it. Or check out travis.

[2017-03-04 16:31] amueller commented on #8184
@shubham0704 hm there was already a pull request at #8205. sorry about that :-/

[2017-03-04 16:35] amueller commented on #8194
@nuffe no need to apologize, you did the hardest part in finding them all.
The rest is mostly leg-work and ideal for new contributors.

[2017-03-04 16:38] rishikksh20 commented on #8364
@katelie All examples are arranged in modules in example's directory please take one module at a time  and  first checked the examples in the above list and then start working on them because I am also working this issue.

[2017-03-04 16:46] amueller commented on #8364
can someone please do http://scikit-learn.org/dev/auto_examples/classification/plot_classifier_comparison.html because it hurts my eyes on the frontpages ;) I'm not sure adding the marker edges is the right thing to do, it mostly looks odd because the reds seem to be different. But use your own judgment ;)

[2017-03-04 16:49] katelie commented on #8364
@amueller working on the decomposition (plot_pca_iris.py) and tree modules (plot_tree_regression.py and plot_tree_regression_multioutput.py) now

[2017-03-04 16:54] rishikksh20 commented on #8364
@amueller let me take this.

[2017-03-04 17:00] zxcvbnius commented on #8503
We are working on this.

[2017-03-04 17:02] shubham0704 commented on #8184
No problem sir l learnt a lot. Thanks. : )

[2017-03-04 17:25] jmschrei commented on #8511
The issue seems to be that RandomizedLasso has an attributes `scores` and `all_scores` instead of `coef` or `feature_importances_` which represents the same thing, but isn't the exact same thing as either of them. It is probably closer to `feature_importances_` though since it's not the coefficients.

[2017-03-04 18:17] loldja commented on #3270
🤔 I'm working on this

[2017-03-04 18:54] CestDiego commented on #5737
I'm taking this :D

[2017-03-04 18:59] nikitasingh981 commented on #6551
Currently working on this

[2017-03-04 19:09] amueller commented on #5737
Cool :)

[2017-03-04 19:36] zxcvbnius commented on #8506
I am working on this.

[2017-03-04 20:05] nikitasingh981 commented on #6551
Currently working on this

[2017-03-04 20:27] AlaaMoussawi commented on #8368
The issue can be handled by setting remove_zero_eig = True, but this does not preserve the original dimensionality. The issue has been corrected by suppressing code from taking square root of zero.

[2017-03-04 20:35] amueller opened #8530 "pull request instructions not up to date in dev docs."
I think the dev docs should describe the "quick way" to do a pull request by going on the main repo and clicking the automatically appearing button, maybe adding a screenshot.

We could also add screenshots for the forking maybe?

[2017-03-04 20:39] #7948 closed

[2017-03-04 20:49] jnothman commented on #8481
@amueller #8448

On 4 Mar 2017 8:38 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-03-04 20:57] jnothman commented on #8174
I think we've ruled out an interface that transforms y with the same method
name.

On 4 March 2017 at 09:03, Andreas Mueller <notifications@github.com> wrote:

[2017-03-04 20:58] aashil commented on #8506
Go ahead

On Mar 4, 2017 14:37, "zxcvbnius" <notifications@github.com> wrote:

[2017-03-04 21:05] jnothman commented on #7929
Waiting for you or someone to review #8094

[2017-03-04 21:07] #8229 closed

[2017-03-04 21:09] jnothman commented on #8225
I've just started playing with dash for my own use. If someone wants to
have a go and list any issues, it would be welcome.

On 4 March 2017 at 11:46, Andreas Mueller <notifications@github.com> wrote:

[2017-03-04 21:10] jnothman commented on #8223
#8317 presents one generic option for getting information out of fits in
*SearchCV

On 4 March 2017 at 11:50, Andreas Mueller <notifications@github.com> wrote:

[2017-03-04 21:14] #8401 closed

[2017-03-04 21:35] #8450 closed

[2017-03-04 21:37] #8503 closed

[2017-03-04 23:58] jnothman commented on #8511
This isn't a predictive model, not linear. Those attributes are not appropriate

[2017-03-04 23:58] #8511 closed

[2017-03-05 01:23] #8423 closed

[2017-03-05 04:48] tfolkman commented on #8530
Hey - I am looking to contribute more back and this looks like a good place to start. So I can take this.

I assume you are referring to the "CONTRIBUTING.md?" Also, GitHub has good docs on how to make a pull request from a fork (https://help.github.com/articles/creating-a-pull-request-from-a-fork/) and forking a repo (https://help.github.com/articles/fork-a-repo/). Would it makes sense to just re

[2017-03-05 08:41] jnothman commented on #8530
imo linking to appropriate GitHub resources is fine. Much of contributing.md
is replicated in doc/developers

On 5 Mar 2017 3:48 pm, "Tyler Folkman" <notifications@github.com> wrote:

[2017-03-05 11:59] Trion129 commented on #8388
I would like to work on this issue

[2017-03-05 11:59] GaelVaroquaux commented on #8388
That would be great, thank you!

It's probably mostly CSS / HTML work.

[2017-03-05 17:52] nikitasingh981 commented on #8507
This is also an issue for test_averaging_multiclass, test_averaging_multilabel, test_averaging_multilabel_all_zeroes, and test_averaging_multilabel_all_ones.

[2017-03-05 19:27] GaelVaroquaux commented on #6551
Fixed by #8537

[2017-03-05 19:27] #6551 closed

[2017-03-05 20:21] geifmany commented on #7705
Hi, if it is still interesting i found another data set which fail to run kmeans. i attach my code, it runs on a normalized mnist dataset.

[code]

[2017-03-05 21:16] amueller opened #8539 "Can't provide feature indices for OneHotEncoder in pipeline"
Let's say I want to apply a transformation only to some features in a pipeline, such as imputation or one-hot-encoding (or scaling, which currently doesn't support this).
I could provide the indices of the columns I want to transform. But if there are any previous steps in the pipeline, they might re-arrange the features in some arbitrary way (like OneHotEncoder does).

Example
[code]

       [ 1.

[2017-03-05 21:26] amueller commented on #8468
Hm... that seems like a pretty straight-forward semi-supervised learning case to me. How do we do evaluation on those right now? We have algorithms in sklearn for which we have the exact same problem, right?

I think the hacky solution that we might be using somehow is to attach the label -1 to the unlabeled samples and then discard those in scoring - not saying that's a good solution.

[2017-03-05 21:50] jnothman commented on #8539
Yes, sorry I've not got back to that SLEP. But it doesn't really help for
this case where a step needs information about the previous steps of a
pipeline. The best solution here is just to some names with data; but
specifying categorical_features but callback would at least make this
possible, though convoluted.

On 6 Mar 2017 8:16 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-03-05 23:04] amueller commented on #8539
don't apologize, I haven't even read it yet :-/

If pipeline uses clone, you can not specify the callback at construction time, right?

[2017-03-05 23:05] amueller commented on #8539
Sorry, can't parse

[2017-03-05 23:40] jnothman commented on #8539
some -> pass

Yes, you're right. But it's not about Pipeline using clone, since the problem is already present in the context of cross-validation where the whole pipeline is cloning, so any object references are invalidated. The best we could do without passing around feature descriptions, then, might be for pipeline to inform its transformers of their context. `my_transformer.inform_context(conta

[2017-03-06 00:35] noahmotion commented on #8500
After looking at the source code for the LDA model, I think some of what I wrote above is wrong (or at least incomplete). I think there are still at least some inconsistencies between the documentation and the behavior of the model, but I should have been more careful in sorting out what is going on before posting.

[2017-03-06 00:35] #8500 closed

[2017-03-06 07:59] #8184 closed

[2017-03-06 08:32] lesteve commented on #7626
Great debugging @ivannz! It's probably worth opening an issue in scipy and see what they say. It'd be great if you can cc me on the scipy issue because I am interested to follow the discussion.

For further reference, how did you install numpy, scipy and scikit-learn?

[2017-03-06 08:34] lesteve commented on #8183
Closing this one as a duplicate of #8236.

[2017-03-06 08:34] #8183 closed

[2017-03-06 10:28] lesteve commented on #7705
@geifmany have you tried running on scikit-learn master?

[2017-03-06 11:06] ogrisel commented on #8288
We need to add a good stopping criterion for SGDClassifier. Right now it is a fixed `n_iter` instead of the usual `tol` + `max_iter` combo. Reusing the stopping criterion of the `MLPClassifer` would render the `SGDClassifier` much easier to use.

[2017-03-06 11:16] ivannz commented on #7626
I installed python 3.6 in a virtualenv and then installed numpy and scipy from pip into it. Python 2.7 is the default one shipped with Mac OS. For both pythons I installed Scikit from the master branch of this github repo.

As far as I know, numpy automaticaly links with the Apple's Accelerate/vecLib linear algebra libraries [reference](https://docs.scipy.org/doc/numpy-1.10.1/user/install.html#pre

[2017-03-06 12:34] e-dorigatti opened #8540 "OneHotEncoder should ignore NaNs outside categorical_features"
#### Description
Suppose you have a dataset with both categorical and numerical features, where the numerical features have NaNs, and want to one-hot-encode the categorical features (which do not contain NaNs). This is not possible, as the OneHotEncoder raises a ValueError,

#### Steps/Code to Reproduce
[code]

#### Expected Results
[code]

#### Actual Results
[code]
#### Versions

[code]

[2017-03-06 14:15] polmorenoc opened #8541 "PPCA algorithm returns inconsistent noise variance depending on truncated vs full solution"
In the full solution the returned value is (pca._fit_full):
self.noise_variance_ = explained_variance_[n_components:].mean()

whereas in the truncated case (pca._fit_truncated) you do:
self.noise_variance_ = (total_var.sum() - self.explained_variance_.sum())

So in the second case the total unexplained variance is returned, not the average. This is problematic not only because of the inconsistency

[2017-03-06 14:28] ivannz commented on #7626
Based on the discussion in [issue 7131](https://github.com/scipy/scipy/issues/7131) in scipy repo this fault seems to be specific to Apple's Accelerate framework.

[2017-03-06 14:52] yupbank opened #8543 "deadlock in multioutput"
#### Description

Example: `MultioutputClassifier.fit` never ends with base classifier supports `n_jobs`
#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results

mulfi_clf fitted with expected

#### Actual Results

it blocks
#### Versions
Darwin-16.4.0-x86_64-i386-64bit
('Python', '2.7.13 (default, Dec 18 2016, 07:03:39) \n[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.42.1)]')
('

[2017-03-06 15:01] lesteve commented on #7626
Thanks a lot for debugging this! Are you planning to submit a bug to Apple? If you do can you please let us know how it pans out?

[2017-03-06 16:41] amueller commented on #8504
I don't think there's actually any numpy warnings in the tests apart from what I opened as separate issues.

[2017-03-06 16:41] #8504 closed

[2017-03-06 16:43] ivannz commented on #7626
I have submitted a bug report to Apple, and I'll let you know as soon as they respond to it.

[2017-03-06 17:04] quatrioplus commented on #8194
Hi, I am working on this.

[2017-03-06 17:07] rth commented on #8543
@yupbank Doesn't sound like a deadlock. You are training LogisticRegression 1000 times on a (100000, 200) input dataset. To do that on a (1000, 200) dataset takes already ~1 min on a 4 core cpu. Not sure what's the exact scaling of LogistcRegression with `n_samples` when using `lbfgs`, but this would probably take hours to compute.

How long have you waited?

[2017-03-06 17:08] jmschrei commented on #8468
Either using -1 or np.nan seem like reasonable solutions to me.

[2017-03-06 17:19] amueller commented on #8481
Oh also: the keys are auto-completed but nothing that comes after is.
So I can auto-complete ``'logisticregression'`` in the example above, but not ``coef_``.

[2017-03-06 17:41] yupbank commented on #8543
~40 minutes.

[2017-03-06 17:56] rth commented on #8543
Using how many CPU? This could take ≳ 1.3 CPU-hours in my estimation...

[2017-03-06 18:08] amueller opened #8544 "division by zero in PCA.score_samples"
[code]
yields

and then a

[2017-03-06 18:10] rth commented on #8543
Also using `n_jobs > 1` actually slow things down here,

Using a `100` output vector (instead of `1000` as in your example) on a 4 core CPU,
  - `MultiOutputClassifier(base_old, n_jobs=1)`:
[code]
   - `MultiOutputClassifier(base_old, n_jobs=4)`:
[code]
so using `n_jobs=4` slows the computations almost exactly 4 times here. Probably for the same reason as #8216 due joblib.Parallel pickling / memma

[2017-03-06 18:13] amueller commented on #8544
I feel this is related to the estimation of the noise covariance, but I don't have time to look into Bishop right now. It fails for small and large n_components, though....

[2017-03-06 18:14] yupbank commented on #8543
interesting.. well.. i have made this finish within ~3mins with 1000 output vector with updated loss_function and gradient

[2017-03-06 19:04] amueller opened #8545 "remove "matplotlib v<1" compatibility code"
[code]
I think we can remove these.
Also, the comment oddly placed. I think the part after the ``try`` is the new one, the ``except`` clause is the one for compatibility.

[2017-03-06 19:08] aby0 commented on #8544
Can I try working on this issue? Thanks

[2017-03-06 19:24] amueller commented on #8544
Go ahead :) I'm not sure where exactly the problem is, though...

[2017-03-06 19:24] amueller commented on #8544
this might also be related to #8541.

[2017-03-06 19:25] amueller commented on #8541
I might just have run into this in #8541. PR welcome.

[2017-03-06 19:28] amueller opened #8546 "T-SNE docs don't explain perplexity well"
I think it should say that lower perplexity means considering a smaller number of neighbors. That seems implicit right now.
Maybe the user guide should also link to this page, which I think is pretty good:
http://distill.pub/2016/misread-tsne/

[2017-03-06 19:54] ilayn commented on #7626
We actually have a showstopper because of the LAPACK version in Accelerate (https://github.com/scipy/scipy/pull/6051). It would be great if you can have a chance communicate with them such that they bump the LAPACK version to something that is less than 10 years old, preferably 3.7.0 directly.

[2017-03-06 21:06] jnothman commented on #8468
representation is hardly the issue. Infrastructure is

On 7 Mar 2017 4:08 am, "Jacob Schreiber" <notifications@github.com> wrote:

Either using -1 or np.nan seem like reasonable solutions to me.

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/scikit-learn/scikit-learn/issues/8468#issuecomment-284462923>,
or mute the thread
<http

[2017-03-06 21:07] jnothman commented on #8481
fair enough. +1 for a bunch-like behaviour

On 7 Mar 2017 4:19 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-03-06 21:50] NelleV commented on #8509
The function to document is sklearn/feature_selection/univariate_selection.py

[2017-03-06 22:14] agramfort commented on #7626
@ogrisel tried but it's unlikely to happen. OpenBlas is your best option...

[2017-03-06 22:34] rishikksh20 commented on #8545
Let me do that .

[2017-03-06 22:47] lesteve commented on #8545
It would be great if in the same PR you would put back the minimum matplotlib version to run the examples. I believe it was lost during the README.rst refactor at some point.

[2017-03-06 22:57] amueller commented on #8540
That would probably be good.
I think we should really think about how we want to approach a pipeline with imputation and one-hot encoding. It's a very common setting but we don't really have a good solution for it, also see #6967 and #8539.

We probably want imputation to be different on continuous and categorical data.
I think imputation first and one-hot-encoding later is the way to go, which wo

[2017-03-06 22:59] amueller commented on #8539
@janvanrijn pointed out that it also means that pipelines have data-dependent parameters, which is a bit ugly. but I guess we can't get around that unless we detect whether input is categorical using dataframes...

[2017-03-06 23:01] amueller commented on #8539
I guess once we can handle strings you could cast input columns that should be one-hot-encoded to strings and we could add an option not to encode integers?

[2017-03-06 23:35] e-dorigatti commented on #8540
The reason why I did one-hot encoding first is exactly because of #6967,  and the fact that I had NaNs in both categorical and numeric features. It did not occur to me, that I can first remove NaNs in the categorical features, then apply the imputer, and finally the one-hot encoder. It's a bit convoluted, but it works.

I might try to submit a pull-request myself in the next few days, if you think

[2017-03-07 02:30] liuxinuestc opened #8549 "The depth formula in iforest is incorrect"
#### Description

In the paper of iforest the formula of average path length of unsuccessful search in BST as

[code]

but in code sklearn.ensemble.iforest._average_path_length the formula is

[code]

#### Steps/Code to Reproduce

#### Actual Results

[code]

-->

#### Expected Results

[code]

#### Versions

[2017-03-07 02:45] kahnchana commented on #8507
Yes. It comes for a lot of them. I will try to see what's wrong with them all.

[2017-03-07 02:51] shubham0704 commented on #4357
@zermelozf  Can I work on it.

Also here is a summary of why this should work (as studied from authors work):
(https://www.youtube.com/watch?v=cigXAxV3XcY)
This was the authors talk regarding this algorithm -
Summary:
## Whats wrong with kmeans++  -
+ Need k-passes on data, application with large data, k can be something like a 100 or even 1000.
## Intuition for a solution -

After it chooses the

[2017-03-07 06:10] #7578 closed

[2017-03-07 06:13] lesteve commented on #8549
Readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages code snippets. Bonus points if you use [syntax highlighting](https://help.github.com/articles/creating-and-highlighting-code-blocks/#syntax-highlighting) with `py` for python snippets and `pytb` for tracebacks.

[2017-03-07 10:32] #8530 closed

[2017-03-07 14:12] zermelozf commented on #4357
@shubham0704

Sure. My first attempt at implementing this technique was not successful but feel free to take over. FYI, the technique I tried to implement was based on parallelism. Hoever the cores may already be busy from running different initialisations in parallel if I remember correctly.

[2017-03-07 14:21] #7717 closed

[2017-03-07 14:46] shubham0704 commented on #4357
Thanks a lot @zermelozf

[2017-03-07 15:54] e-dorigatti opened #8550 "OneHotEncoder does not take both n_values and categorical_features"
#### Description
Trying to use the OneHotEncoder on a particular subset of the features, with a given number of categories for each of them.

#### Steps/Code to Reproduce
[code]

#### Expected Results
It should work smoothly, because the condition that triggers the exception (i.e. `n_values.ndim < 1 or n_values.shape[0] != X.shape[1]`) is `False` when invoking `fit_transform`.

#### Actual Results

[2017-03-07 16:19] ranka47 commented on #5903
Ubuntu 16.04
Python 2.7.12
Scikit-Learn 0.18.1

But facing the problem of "Segmentation Fault" while running on ndarray of shape (100, 50).

[2017-03-07 18:40] Sentient07 commented on #8233
No news for a while, can I take this if there is no on going work?

[2017-03-07 18:52] NelleV commented on #8233
You can take this ticket if you'd like.

[2017-03-07 19:09] ChamanAgrawal commented on #8505
Hey can you explain about which file you are talking about ?

[2017-03-07 20:12] rishikksh20 commented on #8545
@amueller do we need to remove compatible code or just correct the comment location in these examples.

[2017-03-07 21:23] lmcinnes commented on #8416
I traced through and it looks like it should all work with sparse input. I'm added the accept sparse and some tests for sparse input. Will submit a pull request presuming the tests pass.

[2017-03-07 21:53] Fafadada opened #8553 "Docstring for Gaussian Process Kernels: some mistakes"
The docstring explanation about some kernels contradicts the implementation:

1. Rational quadratic kernel: in the introduction page http://scikit-learn.org/stable/modules/gaussian_process.html#gp-kernels, the power is "alpha", but in the implementation, it is -1*alpha. (see line 1470).

2. "ExpSineSquare" kernel:  in the docstring (http://scikit-learn.org/stable/modules/gaussian_process.html#gp-k

[2017-03-07 21:59] lesteve commented on #8545
You need to remove the code that is specific to matplotlib versions < 1 since. AFAIR the minimum matplotlib version we are supporting is 1.1.1 (basically the matplotlib version in Ubuntu 12.04).

Looks like all the git grep matches are try/except clause so you can replace this kind of code:

[code]

by this:
[code]

[2017-03-07 22:18] MechCoder commented on #8553
Nice catch. You are right, thanks!

[2017-03-07 22:31] jnothman commented on #8416
great!

On 8 Mar 2017 8:23 am, "Leland McInnes" <notifications@github.com> wrote:

[2017-03-07 22:39] yinleon commented on #5419
@amueller @pieteradejong I'm happy to pick this up during Docathon :^)

[2017-03-07 22:44] yinleon commented on #5447
this looks done in PR <a href='https://github.com/scikit-learn/scikit-learn/pull/5357'>5357</a>.

[2017-03-07 23:12] lmcinnes commented on #8416
Turns out LLE does not support sparse matrices -- or some of the other options it claimed. There are some tricks (fancy indexing) that don't go through. It could probably be altered to allow sparse matrices, but that's a bigger change than I feel like taking on right now. Instead I fixed the docs to reflect what actually works.

[2017-03-08 00:01] MechCoder commented on #8466
Maybe @jmetzen can comment on this?

[2017-03-08 01:21] kingchenchina opened #8555 "hope can support manually download datasets, e.g.:20newsgroup"
for example, to use 20newsgroup datasets, it will download it from internet(/datasets/twenty_newsgroups.py), then open it, but in some kind of situation, it can't connect to internet, already get the dataset file.
i think should support read the local dataset.
my recommend code added:
    if os.path.exists(twenty_home):
        train_path = os.path.join(twenty_home, TRAIN_FOLDER)
        test_path

[2017-03-08 05:56] johnny5550822 commented on #8511
@jnothman @jmschrei so if I want to called selectfrommodel (for feature selection) using randomizedlasso, how can I do it? Because I want to add the randomizedlasso into Pipeline.

[2017-03-08 06:12] rishikksh20 commented on #8553
Let me do that .

[2017-03-08 06:14] rishikksh20 commented on #8553
@Fafadada if you are interested to resolve this issue, go ahead. Otherwise I can raise a PR.

[2017-03-08 06:25] jmetzen commented on #8466
Could you comment on the use-cases of the Gabor kernel? We should only include it if it is of broader applicability and not too special purpose.

The first part of the kernel looks like a standard RBF kernel. So only implementing the second part ``2*pi*||x - x'|| / p)`` would be sufficient.

[2017-03-08 06:26] jmetzen commented on #8553
Thanks for this issue!

[2017-03-08 06:55] dalmia commented on #8100
@amueller No Sir, please retain the 'Need Contributor' label.

[2017-03-08 07:37] jnothman commented on #8555
doesn't fetch_20_newsgroups do this?

On 8 Mar 2017 12:21 pm, "kingchenchina" <notifications@github.com> wrote:

[2017-03-08 07:39] jnothman commented on #8511
randomised lasso can be used directly in a pipeline. it is a feature
selector

On 8 Mar 2017 4:56 pm, "Johnny" <notifications@github.com> wrote:

[2017-03-08 08:03] ngoix commented on #8549
You're right a `-1` is missing inside the log: `np.log(n_samples_leaf)` has to be replaced by `np.log(n_samples_leaf - 1.)`
@liuxinuestc do you want to open a PR?

[2017-03-08 08:11] lesteve commented on #8555
It does. I am going to close this one. @kingchenchina feel free to reopen with clear instructions how to reproduce your problem in case this does not answer your question.

[2017-03-08 08:11] #8555 closed

[2017-03-08 08:17] kingchenchina commented on #8555
hi @lesteve,seems it doesn't. it only checked the directly downloaded cached file, it cached file exists then load the cached file. if not, then try to download from internet, and add it to the cached file.
and when i write the code:
fetch_20newsgroups(subset='train',categories=categories, shuffle=True, random_state=42)
have to modify the file /datasets/twenty_newsgroups.py, add the code mentioned

[2017-03-08 08:21] kingchenchina commented on #8555
`    if os.path.exists(cache_path):
        try:
            with open(cache_path, 'rb') as f:
                compressed_content = f.read()
            uncompressed_content = codecs.decode(
                compressed_content, 'zlib_codec')
            cache = pickle.loads(uncompressed_content)
        except Exception as e:
            print(80 * '_')
            print('Cache loading failed')

[2017-03-08 08:42] lesteve commented on #8555
Readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages code snippets. Bonus points if you use [syntax highlighting](https://help.github.com/articles/creating-and-highlighting-code-blocks/#syntax-highlighting) with `py` for python snippets and `pytb` for tracebacks.

[2017-03-08 10:12] jnothman commented on #8225
I had a go at `doc2dash` and while it makes the full docs available, only the API reference is listed in the index. The User Guide should also be listed as a Guides Section, otherwise it is not possible to get it as a search result.

[2017-03-08 11:08] polmorenoc commented on #8541
Yeah there's a high chance this issue is causing the score method not to work, which also happened to me recently. I believe the fix is really easy though as all that needs to be done in the truncated case is:

self.noise_variance = (total_var.sum() - self.explained_variance_.sum())/(D - n_components)

where D is the full dimensionality and n_components the reduced dimensionality.

[2017-03-08 11:23] jnothman commented on #8225
See also https://github.com/hynek/doc2dash/issues/57

[2017-03-08 12:27] #8546 closed

[2017-03-08 12:29] lesteve commented on #8541
@polmorenoc you are more than welcome to open a PR with your proposed changes.

[2017-03-08 14:02] recoveringMathmo commented on #8550
In the docs for this function it says

    n_values ...
    - array
        : n_values[i] is the number of categorical values in
        X[:, i]. Each feature value should be in range(n_values[i])

But this won't be the case for your features as you have randomly sampled in a range, which means in this example you are not generating `np.max(X[:, nominal]) + 1` unique categorical features. The easi

[2017-03-08 19:19] #6701 closed

[2017-03-08 19:29] QtRoS commented on #6627
I can confirm this!
Thanks for workaround.

[2017-03-08 20:04] lordlabakdas commented on #8323
Exactly what you had mentioned. Was importing a global joblib package whn I should have imported sklearn.externals.joblib and got a similar error.

[2017-03-08 20:05] snassimr commented on #4033
I am still getting :

If predict_proba is working appropriately ?

[2017-03-08 21:43] JohnNapier opened #8559 "BUG: BaggingClassifier.fit(X,y,sample_weight) raises Exception when Pipeline's steps do not expect sample_weight"
Consider the following pipeline. One step involves a scaler, another a SVC.

[code]

We can fit this pipeline while passing sample_weight to the SVC.

[code]

So far so good. Now, we would like to do the same on an ensemble.

[code]

The problem is, sample_weight is passed to all steps of pipe_svc, and 'scl' is not expecting it. The documentation says that BaggingClassifier can handle pipelines. G

[2017-03-08 23:25] changlan commented on #8466
It is in the spectral mixture form and is useful for pattern discovery (See [1] for more information). The spectral mixture kernel in [1] is a weighted sum of Gabor kernels.

[1] Gaussian Process Kernels for Pattern Discovery and Extrapolation, ICML 2013

[2017-03-09 02:17] rishikksh20 commented on #8545
@lesteve for entry in README.rst, do I put ` Matplotlib (>= 1.1.1)` in `scikit-learn requires:` along-with Scipy, Numpy and Python or somewhere else.

[2017-03-09 02:30] hilrayhr commented on #8323
I removed the joblib package, reinstalled sklearn package, and solved this problem.

[2017-03-09 03:52] jnothman commented on #4033
Please give a fully reproducible code snippet. Thanks.

[2017-03-09 06:36] johnny5550822 commented on #8511
@jnothman  Do you mean something like that?
[code]

[2017-03-09 06:54] lesteve commented on #8545
Look at a README.rst from one year ago and do something similar.

[2017-03-09 07:01] lesteve commented on #8545
My personal preference once a PR is opened: I'd rather discuss changes in the PR than in the issue. Otherwise you have two conversations going on in parallel and it makes it difficult to follow.

[2017-03-09 08:13] liuxinuestc commented on #8549
I'm just a new user in github, and I'm a learner.  I don't know much about PR. But recently I have designed an unsupervised DT algorithm, I want to implement this algorithm on GitHub, and for everyone to use. @ngoix

[2017-03-09 08:25] lesteve commented on #8323
Thanks for following up, closing. Next time if you can close the issue yourself it helps maintaining sanity in our issue tracker.

[2017-03-09 08:25] #8323 closed

[2017-03-09 08:28] liuxinuestc commented on #8549
thanks for your suggestions~~!! @lesteve

[2017-03-09 09:17] jnothman commented on #8511
yes

On 9 Mar 2017 5:36 pm, "Johnny" <notifications@github.com> wrote:

[2017-03-09 09:24] snassimr commented on #4033
It was my mistake . I contrived to cut the probability vector during passin it to log_loss.
Sorry and very thank for your work.

[2017-03-09 09:37] lesteve commented on #8549
Read about it then, maybe [this](https://opensource.guide/how-to-contribute/#opening-a-pull-request) is a good start. If you are new to Github I would encourage you to browse https://opensource.guide and https://guides.github.com/. For scikit-learn specific guidance, have a look at http://scikit-learn.org/stable/developers/contributing.html#contributing.

[2017-03-09 13:38] lesteve commented on #8507
Actually thinking about this, I am not sure I understand what this issue is about ... it seems like this convoluted naming is normal for tests that use `yield`.

Can you give an example of an ugly name and a non-ugly name (both for test functions that use `yield`)?

[2017-03-09 15:46] e-dorigatti commented on #8550
I see, I misunderstood the documentation.

[2017-03-09 15:46] #8550 closed

[2017-03-09 16:01] leereeves commented on #8379
This seems like an easy issue to tackle for my first contribution on github, so I'd like to work on this.

But while reviewing it I noticed another issue with the documentation for permutation_test_score.

If I may, I'll open a new issue and continue working on both.

[2017-03-09 16:36] leereeves opened #8564 "permutation_test_score documentation: pvalue when scoring is a loss function"
While reviewing issue #8379 I noticed this statement in the docstring explaining the return value from permutation_test_score:

If I understand correctly that's not quite true. permutation_test_score returns:

`    pvalue = (np.sum(permutation_scores >= score) + 1.0) / (n_permutations + 1)
`

But one minus this value is:

`    pvalue = np.sum(permutation_scores < score) / (n_permutations + 1)
`

w

[2017-03-09 20:46] jnothman commented on #8564
I think that note applies to a long-since deprecated API. Since scoring has
been available, the convention is always​ "great is better" in which case
you should please submit a PR to remove that note. Thanks!

On 10 Mar 2017 3:36 am, "leereeves" <notifications@github.com> wrote:

[2017-03-10 00:08] JohnNapier opened #8566 "BaggingClassifier.predict() fails when one case is sufficiently rare"
Suppose we wish to form a prediction by bagging a number of SVCs.

[code]

Because the third case has a relatively low probability (10%), some of the bootstrap draws do not contain it. As a result, some SVCs are fitted to 3 classes, and some SVCs are fitted to 2. This is a problem because  bc.predict does a simple sum of probabilities across the 100 SVCs, where the number of classes is not always

[2017-03-10 01:23] jnothman commented on #8566
Fails with `random_state=0`. Duplicate of #8409

We find our design is highly susceptible to such bugs and have to solve them very frequently. #8100 suggests we work towards a general solution to avoid such bugs.

[2017-03-10 01:23] #8566 closed

[2017-03-10 07:25] #8545 closed

[2017-03-10 09:40] karandesai-96 commented on #5298
@amueller @jnothman I have a PR open. Though it is WIP, I ensure you that it would be done within some time. Safe to remove **Sprint** and **Need Contributor** labels here :smile:

[2017-03-10 09:51] leereeves commented on #8564
Done.

I also verified that `mean_squared_error` does return the same p-value as `accuracy_score`, not 1-pvalue as the comment claimed, to be sure it was out of date.

[2017-03-10 11:01] LouisAmon opened #8570 "Memory leak in SGDClassifier"
#### Description

There seems to be a memory leak during the `fit_binary` (OvA) phase of the `SGDClassifier`

I've traced it as far as the `fit_binary` function but I'm not sure if it comes from the [low-level Cython code](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/sgd_fast.pyx#L529)

What I've noticed so far is that using a dense matrix makes the memory grow eve

[2017-03-10 12:27] lesteve commented on #8543
It's hard to tell whether there is an actual problem here, or whether it is just that your snippet take a long time to run. I am going to close this one, @yupbank feel free to reopen if you have some new information to add to this issue.

[2017-03-10 12:27] #8543 closed

[2017-03-10 12:30] lesteve commented on #8509
Closing since #8548 has been merged.

[2017-03-10 12:30] #8509 closed

[2017-03-10 13:03] lesteve commented on #8570
I can reproduce on master.

[2017-03-10 13:08] lesteve commented on #8570
Thanks a lot for the stand-alone snippet! I am not a cython expert unfortunately, maybe @raghavrv will have suggestions where this memory leak comes from.

[2017-03-10 14:33] HolgerPeters commented on #7135
Don't know if I whould have opend another ticket for this, but it somehow seemed to me that adding a comment to this ticket was the better way to go.

I think that `BaseEstimator` shouldn't overwrite `__getstate__` and scikit-learn should probably just not try to do those version checks. I understand the intention of avoiding versioning issues and bugs related to pickling and unpickling from diffe

[2017-03-10 14:35] satyan-g commented on #8409
The root cause is `estimator.classes_` is being initialized in  `BaseSVC._validate_target(self,y)`, which is sample_weight unaware. As a result, it is using full set of `y` to come up with unique classes in the fit.

[2017-03-10 15:41] wqp89324 commented on #2989
@essicolo Hello, I think there may be a tiny issue in your code, for instance, for the array below:

x11, x12, na, na
x21, x22, x23, na
x31, x32, x33, x34

When you consider filling the na at first row third column, the second row should not be removed, since we will only use the first two columns as feature, and third column as target, and the na at second row, fourth column will not matter.

[2017-03-10 16:16] themantalope commented on #4757
Hi All,

Is anyone working on this? Is there some other issue number that has picked up this issue? I may be able to look into it.

-themantalope

[2017-03-10 17:06] DSLituiev commented on #4757
@themantalope there was a doubt as to the necessity of this functionality, see last pull request.

[2017-03-10 17:10] themantalope commented on #4757
@DSLituiev thanks for heads up. hopefully it will get merged, I would like see the functionality included!

[2017-03-10 18:49] essicolo commented on #2989
@jnothman , @wqp89324

Good comments. I added an iteration loop. In the fist loop, the imputation is done with the initial information. In the second `iter` loop, only the row and column of the NaN is discarded: this step is performed in a random order.

However, in the example I wrote that the number of iterations doesn't affect the outcome. I can't figure out why.

[2017-03-10 21:40] Prysm30 opened #8572 "Documentation Recommendation for DBSCAN using precomputed distance matrix"
#### Description
As a first time user of DBSCAN (and similarly dbscan), I wanted to use a precomputed distance matrix.  The documentation specifies that "X is assumed to be a distance matrix and must be square". However, X also needs to be triangular. I'm requesting that this detail be added to the documentation to help future users.

#### Steps/Code to Reproduce
For example, the following example

[2017-03-11 04:19] JohnNapier opened #8573 "BUG: Inconsistent behavior when passing a Pipeline to BaggingClassifier"
Let's run BaggingClassifier on a base estimator that accepts sample_weight.

[code]

prob0 and prob1 are very different, even though both BaggingClassifier are intrinsically the same. The reason is, the SVC accepts sample_weight, and the Pipeline does not accept sample_weight.

Finally, this breaks for no good reason.

[code]

numpy version 1.11.3
sklearn version 0.18.1

[2017-03-11 05:47] karandesai-96 commented on #8291
@amueller I'm taking this up. :+1:

[2017-03-11 20:18] nuffe commented on #8194
@amueller and @kkatrio Regarding avoiding future commits with these issues

It of course makes sense to mention in [CONTRIBUTING.md](https://github.com/scikit-learn/scikit-learn/blob/master/CONTRIBUTING.md) that test cases should set `random_state`, but good intentions are usually not enough without some enforcing mechanism in place.

I tried to write a Flake8 plugin [here](https://github.com/nuff

[2017-03-12 00:27] jnothman commented on #4757
@themantalope, do you have references for method and effectiveness?

On 11 Mar 2017 4:10 am, "themantalope" <notifications@github.com> wrote:

@DSLituiev <https://github.com/DSLituiev> thanks for heads up. hopefully it
will get merged, I would like see the functionality included!

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<h

[2017-03-12 01:08] jnothman commented on #8572
this looks strange. can you provide the full traceback please?

On 11 Mar 2017 8:40 am, "Prysm30" <notifications@github.com> wrote:

[2017-03-12 01:15] jnothman commented on #8573
Sorry I've been short of time to help look into these. How does it relate
to#8559?

On 11 Mar 2017 3:19 pm, "JohnNapier" <notifications@github.com> wrote:

[2017-03-12 01:24] JohnNapier commented on #8573
Thank you, @jnothman. They are related in the sense that the Pipeline class triggers an exception because it is not expecting the sample_weight argument.

But this bug is also different, in the sense that

[code]

should produce the same output.

[2017-03-12 01:32] vene commented on #6601
To me this seems like a trade-off between readability in HTML and readability in the source or in IPython with `obj?`. I think I use both somewhat equally depending on where I am in my workflow, with a slight preference to reading it in the source.

[2017-03-12 03:11] jnothman commented on #6601
i suspect we should use a raw string (r""") to improve readability in the
source. I acknowledge that mathrm makes the pydoc less readable

On 12 Mar 2017 12:32 pm, "Vlad Niculae" <notifications@github.com> wrote:

To me this seems like a trade-off between readability in HTML and
readability in the source or in IPython with obj?. I think I use both
somewhat equally depending on where I am in my wor

[2017-03-12 05:39] kahnchana commented on #8507
I was assuming it referred to the " <generator object test_averaging_multilabel at 0x000000000B0B5438>" that was output when running tests, because the test doesn't run through the iterations but just calls the function.

[2017-03-12 11:17] jnothman commented on #8570
I don't get a leak with the following test of `plain_sgd`.
[code]

[2017-03-12 11:32] jnothman commented on #8570
And yet replacing the call to `plain_sgd` in `fit_binary` with `return coef, intercept` also does not show a leak. So it would seem to be something in their intersection...? I'm at a loss.

[2017-03-12 14:01] raghavrv commented on #8510
@innalubman777 Kindly comment on the issue before raising a PR (from the next time) to avoid parallel efforts :)

[2017-03-12 14:09] PTRWang commented on #8549
I'm working on this issue.

[2017-03-12 15:13] #8307 closed

[2017-03-12 15:28] romikharisnawan commented on #8429
Hello, I am new to scikit-learn contribution. Can I work on it?

[2017-03-12 15:47] bora-pajo commented on #8429
Yes you can. I am new too but I am learning so much from this thread. Even if you feel you are not understanding what is going on at first, things will start clearing up in no time.

[2017-03-12 19:27] romikharisnawan commented on #8429
Thanks @bora-pajo!

@amueller do you mean you want to replace the "normalize" option with sigmoid, so it would be like picture below?
![figure_2](https://cloud.githubusercontent.com/assets/1643328/23835136/3bf82d2e-0762-11e7-911e-64fe32e8adcf.png)

[2017-03-12 19:47] Morikko commented on #5481
I am interested to work on it. However I need some clarifications:
The goal is to:
 1. Add a parameter copy if it wasn't already
 2. Put True by default to the copy parameter if False before

A 3rd point was done in PR #5507:
 3. Force to true (even if set to False) the copy parameter if the array is read-only
It was done by adding before each check_array call:
[code]
Is it necessary ?

Finally, i

[2017-03-12 20:04] #8388 closed

[2017-03-12 21:12] kkatrio commented on #8194
@nuffe I found your plugin very useful. I located a few more cases with it and added the fix to them. I think there are still some off suggestions, like when the random_state has already a default value in a class or by indicating that the random_state is missing from some "assert_raises(..)" . I will try to improve it. (Also by installing it I think something was tweaked in my system and some not

[2017-03-13 01:57] #8553 closed

[2017-03-13 05:41] anhvt2 commented on #4487
Most of the Boosting algorithms is vulnerable to noise. The test performance reduces significantly with increase of noisy level, particularly AdaBoost. BrownBoost and RobustBoost are the successor of AdaBoost, and seem to be robust to noise. I just wonder if somebody has been working on this.

[2017-03-13 08:09] amanp10 commented on #4487
I am not working on it presently. In case you were wondering.

[2017-03-13 09:33] lesteve commented on #8507
Hmmm I don't see anything that looks like this when running the tests. What's the command you are running to get this output? Do you see them in the Travis or AppVeyor log?

[2017-03-13 09:56] nuffe commented on #8194
@kkatrio thank you, I added you as a contributor on the plugin repo if you want to improve it directly.

a. I thought there where only classes/functions where `random_state` has a default value of`None`? (a design decision by the scikit-learn developers). And shouldn't `random_state` also be called in an `assert_raises(..)` since this will still cause mutating state in the rng?

b.  Hmm, yes syste

[2017-03-13 10:28] lesteve commented on #5481
I removed the easy tag. @Morikko my personal advice: maybe try to tackle simpler PRs first before coming back to this one.

[2017-03-13 16:10] berndkr opened #8581 "TODO/FIXME comments in the code"
#### Description
For a university course I did an analysis of *TODO*/*FIXME* comments currently present in the Scikit-learn repository. I looked at the files in which the comments were and at the age of the comments. This gives 76 *TODO* comments in 48 files and 20 *FIXME* comments in 16 files:

|	Type	|	File	|	Date	|	Time passed (days)	|
|	---	|	---	|	---	|	---	|
|	TODO	|	/benchmarks/bench_plot_r

[2017-03-13 16:32] jmschrei commented on #8470
Categories are not currently efficiently supported on tree-based learners. The most recent PR is #4899 but that hasn't been merged yet. I think what @glemaitre meant to say is that both discrete and continuous values are supported. The difference between discrete and categorical is that you can individually identify a category (such as A = 3) whereas with a discrete value you just split in the sam

[2017-03-13 16:33] jmschrei commented on #8337
Link doesn't work for me either.

[2017-03-13 17:09] kirk86 opened #8582 "t-SNE results in errors when reducing dim to default 2"
Hi everyone, I was wondering whether anyone knows why t-SNE results into memory errors when reducing the dimension of the data to the default number, which is 2.
I have the mnist dataset and I apply some transformation on it. Resulting in a reduced mnist dataset.
Original: 60000x784
After transformation: 60000x200

When I apply t-SNE on transformed mnist 60000x200, I always get a memory error. Als

[2017-03-13 18:16] TomDLT commented on #8570
**tl;dr:** This is not a memory leak. This is Linux's lazy allocation of memory used by `np.zeros`.

The multinomial task you want to solve returns a coefficients array of size `(n_classes, n_features)`.
In your case, it is  `34000 * 100000 * 8 = 27 GB` of RAM. note that you have `n_classes = n_samples` since you use `y = np.arange(n_samples)`.

The memory does not blow up in `self._allocate_param

[2017-03-13 21:32] jnothman commented on #8570
wow. I had no idea. thanks @TomDLT!

On 14 Mar 2017 5:16 am, "Tom Dupré la Tour" <notifications@github.com>
wrote:

[2017-03-13 21:44] samgd opened #8583 "IndexError thrown during kmeans init"
#### Description

IndexError thrown during [kmeans init](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/cluster/k_means_.py#L45).

NumPy's searchsorted function is being called [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/cluster/k_means_.py#L110), and then the result is used to index into an array [here](https://github.com/scikit-learn/scikit-learn/blo

[2017-03-13 21:50] LouisAmon commented on #8570
Interesting. Thanks for the explanation @TomDLT 👍

Indeed the n_features*n_classes matrix memory footprint seems hard to overcome... isn't there a way to sparsify it ?

[2017-03-13 22:55] jnothman commented on #8570
you could indeed build it up sparsely, but not sure how helpful that would
be with l2

On 14 Mar 2017 8:50 am, "Louis Amon" <notifications@github.com> wrote:

[2017-03-13 23:11] NarineK commented on #8583
May I investigate, work on this, @jnothman  ?

[2017-03-13 23:16] jnothman commented on #8583
Sure, go ahead

On 14 March 2017 at 10:12, NarineK <notifications@github.com> wrote:

[2017-03-13 23:51] innalubman777 commented on #8510
Working on #8523 [WIP] DOC Fix python version descriptions in dev docs (Fix #8510)

[2017-03-13 23:52] alanwang93 opened #8584 "cross_val_score: 'NoneType' object has no attribute 'iteritems'"
#### Description
I hope to use `cross_val_score` for my customized classifier, but I got `'NoneType' object has no attribute 'iteritems'`

#### Steps/Code to Reproduce
[code]

#### Actual Results
[code]

I also tried this

[code]

and the result is:

[code]

#### Versions

[code]

Seems that `cv_iter` is a good.
I don't know how `Parallel` works, but I wonder how I can fix it.
Thanks for your help

[2017-03-14 07:02] jnothman commented on #8584
nn_clf incorrectly implements get_params. It does not return a dict.

I suppose better validation of the output of getparams is possible to
produce a better error message (and a patch is welcome) but this is not
really a scikit-learn bug, so I'm closing

On 14 Mar 2017 10:52 am, "Yifan WANG" <notifications@github.com> wrote:

[2017-03-14 07:02] #8584 closed

[2017-03-14 08:07] akansal1 commented on #7811
I am facing issue mentioned above also in default 'MSE', is the fix mentioned above, will close this as well?

[2017-03-14 09:05] lesteve commented on #8582
Please post a stand-alone snippet reproducing the problem and the full stack-trace you get.

[2017-03-14 09:09] alanwang93 commented on #8584
Thanks, it works.

[2017-03-14 09:45] lesteve commented on #8581
Kudos for taking the time to open such a detailed issue! This shows a lot of motivation from your part.
I think your time and energy will be better used for the project if you try to tackle existing issues, e.g. the ones with a "bug" label.

Basically this seems like a lot of tedious work for very little benefit. I am going to close this one. Feel free to reopen/shout if you strongly disagree.

[2017-03-14 09:45] #8581 closed

[2017-03-14 10:05] akansal1 commented on #7811
So, following are my observations:

Following options  are used ti fit dataset:

[code]
When I iterate over options, I get increase in my memory memory load:

So, I am able to train my data once without issue , but second iteration of training over data, increases memory load.  For example, If first iteration ends at **5 GB** of memory consumption, second iteration over same takes memory consumpti

[2017-03-14 10:29] lesteve commented on #8583
@samgd have you tried running on master? It seems like this issue is very similar to https://github.com/scikit-learn/scikit-learn/issues/7865 and https://github.com/scikit-learn/scikit-learn/issues/7705 which are fixed in master.

If you still have the problem, it would be great to use `np.random.RandomState` and set `random_state` in `MiniBatchKMeans` so that your example is deterministic.

[2017-03-14 15:50] #8549 closed

[2017-03-14 16:27] GaelVaroquaux commented on #8288
As mentioned by @jnothman, I have some hope that #8446 will enable us to tackle this.

[2017-03-14 17:39] berndkr commented on #2242
What exactly does this issue entail? From  quickly looking at the codecov report it seems that feature selection already has high test coverage https://codecov.io/gh/scikit-learn/scikit-learn/tree/master/sklearn/feature_selection. Are you looking for an addition of specific type of tests?

[2017-03-14 18:38] kirk86 commented on #8582
@lesteve thanks for the reply
here's the output of a simple example

[code]

[2017-03-14 19:01] PTRWang commented on #7555
@amueller I will be working on this.

[2017-03-14 20:33] berndkr commented on #8277
I would like to work on this. But then I guess the first decision is how to solve this issue, should I implement the tie-breaking of decision_function in predict as well?

[2017-03-14 21:08] kirk86 commented on #8582
@lesteve
Notice that also Isomap produces memory error even when running with default parameters.

[code]

[2017-03-14 22:10] jnothman commented on #8581
I don't think it would hurt for someone to take a look at these, but I'm
not sure each deserves an issue at this point. Some are likely to be stale
and can be removed easily, others are likely to need fixing. Some may
already have issues. But I'd expect that if the code deserved that kind of
remark, few of these would be "easy" issues, and we're lacking in expert
time to handle more complex issues

[2017-03-14 22:16] jnothman commented on #7811
is your estimator deleted between calls to fit? Is there a reason you don't
want to adjust parameters to reduce model size?

On 14 Mar 2017 9:05 pm, "akansal1" <notifications@github.com> wrote:

[2017-03-14 22:20] aikinogard opened #8587 "change the default token_pattern in sklearn.feature_extraction.text"
#### Description

The default token_pattern in sklearn.feature_extraction.text is u'(?u)\b\w\w+\b'. This pattern will ignore token with only one character. But for the general usage of sequential data vectorization, token with one character may also matter. I spend whole day to debug my code until I find all my single character tokens are ignored by default in sklearn.

This should be an easy fix,

[2017-03-14 22:26] jnothman commented on #2242
We're not concerned at the lack of line coverage, but perhaps that validation is correctly performed. This issue may have predated SelectorMixin so might not be so relevant

[2017-03-14 22:27] jnothman commented on #2242
Take a look at what tests there are common to feature selectors. Listing what at currently have would be helpful.

[2017-03-14 22:29] jnothman commented on #7555
Will this be a great benefit over the current ensembles plus proposed
stacking (#7427)?

On 15 Mar 2017 6:01 am, "Peter Wang" <notifications@github.com> wrote:

@amueller <https://github.com/amueller> I will be working on this.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/scikit-learn/scikit-learn/issues/75

[2017-03-14 22:31] jnothman commented on #8587
I don't think changing the default is appropriate. If you feel the
documentation is poor, a patch is welcome.

On 15 Mar 2017 9:20 am, "Li Li" <notifications@github.com> wrote:

[2017-03-14 22:31] #8587 closed

[2017-03-14 22:35] PTRWang commented on #7555
@jnothman correct me if my understanding is wrong, but it seems to me @banilo is asking for a new feature regarding a ensemble regression method; whereas #7427 is referring to a stacking classifier (classification vs regression). Do you think this is redundant?

[2017-03-14 22:59] jnothman commented on #7555
#7427 will, I hope, be rewritten as a generic stacking transformer,
outputting the predictions of an ensemble.

If committee-based averaging is a standard technique that improves upon
what we've got, then go ahead.

On 15 March 2017 at 09:35, Peter Wang <notifications@github.com> wrote:

[2017-03-14 23:08] jnothman commented on #8582
It would be best if you could provide or generate some data that causes the
failure.

On 15 March 2017 at 08:08, kirk86 <notifications@github.com> wrote:

[2017-03-14 23:27] kirk86 commented on #8582
@jnothman the data is simply the mnist dataset.
if you have keras installed is as simple as

[code]

otherwise you'd have to download and load the dataset manually

[2017-03-15 00:14] jnothman commented on #8582
So you don't need to transform it to get the memory error?

On 15 March 2017 at 10:27, kirk86 <notifications@github.com> wrote:

[2017-03-15 00:23] kirk86 commented on #8582
@jnothman  the only thing that I've done is

[code]

Then feed that to isomap or tsne

[2017-03-15 00:59] jnothman commented on #8582
So when @lesteve suggested you post a standalone snippet, he hoped you would write:
[code]
Yes, this blows up in memory consumption.

[2017-03-15 01:14] jnothman commented on #8582
The line where the traceback reports the `MemoryError` should require (n_samples**2 * 2) floats, so roughly 55GB of memory. I find it strange that the docs suggest that barnes_hut can "scale to millions of examples" when there's this kind of quadratic memory consumption (@cemoody?).

Can the implementation be made to have a lower memory consumption?

[2017-03-15 01:22] jnothman commented on #8582
I am a bit surprised to see that `barnes_hut` computes all-pairs distances, when it could be using `kneighbors_graph` to sparsely calculate distances where a binary tree is appropriate.

[2017-03-15 01:54] kirk86 commented on #8582
@jnothman I'm not really aware of the internals of sklearn but would you say that roughly the same amount of memory is also required if I use `Isomap` or `LocallyLinearEmbedding` since all of them blow up in terms of memory consumption.

[2017-03-15 03:49] jnothman commented on #8582
Isomap definitely has an n**2 floats consumption too. I can't see in LLE whether this is necessarily the case. I'm no expert on manifold learning.

I think in all cases it would be a good idea to transform only a sample of the dataset.

[2017-03-15 04:24] kirk86 commented on #8582
@jnothman thanks a lot.

[2017-03-15 05:48] samgd commented on #8583
@lesteve Master has it fixed - thanks!

[2017-03-15 09:55] Sentient07 commented on #6725
Hi, I tried to reproduce this and I could see this warning,` ("Variables are collinear.")`. From what @planetmarshall has reported, I think we must raise error in such cases. If not raising an error, how should I proceed in fixing this, @amueller ?

[2017-03-15 10:02] Sentient07 commented on #5015
Hi, I would like to work on this.
@TomDLT

@amueller

Means, I should replace all the instances where `our_rand_r` are being seeded with 0 -> 1   ?

[2017-03-15 11:01] #8564 closed

[2017-03-15 11:13] fradav opened #8588 "mldata.org is down (for good?)"
#### Description

Unable to retrieve dataset from mdata.org
The site is down.
#### Steps/Code to Reproduce

[code]

#### Expected Results

[mnist data loaded]
#### Actual Results

---------------------------------------------------------------------------
TimeoutError                              Traceback (most recent call last)
C:\Users\frada\Dev\Python\Miniconda3\lib\urllib\request.py in do_ope

[2017-03-15 12:29] jnothman opened #8589 "Metric invariance tests for multiclass and multilabel"
We should have a test that checks if labels are reordered or classes renumbered, the result is identical for multilabel and multiclass metrics respectively.

[2017-03-15 14:04] chrishmorris opened #8590 "Feature request: forcing a Gram matrix to be positive definite"
#### Description
Kernel methods like SVR use a similarity measure rather than a vector of features. The prior knowledge is encoded by making a domain-appropriate similarity measure. However, there is a technical requirement that is sometimes hard to meet: a valid kernel must be symmetric, and positive semidefinite.

#### Suggested solution
In some circumstances, it works well to coerce the Gram ma

[2017-03-15 14:17] tendiarifin commented on #1513
any one here have library for RVM on php? i dont understand with RVm can explain for me?

[2017-03-15 16:49] jdelange opened #8592 "SVC class_weight has no effect"
#### Description
class_weight in SVC does not work. I can enter any value on either class, it has no effect on the results. The underrepresented class (approx 25%) is totally ignored, even with` {1 : 100}`  or so.

#### Steps/Code to Reproduce
`model = SVC(C=5.0, gamma=5e-4, verbose=True, class_weight={1 : 4.18})`

#### Versions
Windows-7-6.1.7601-SP1
('Python', '2.7.12 |Anaconda custom (64-bit)|

[2017-03-15 19:21] jliu118 commented on #7898
The ticket is closed but the issue still there:
when you add x into version list if x is NOT digits, this will cause type error.
Example: npversion is "1.12.1rc1"
I fixed it using regular expression. Hope somebody will merge my fix into next release.
...
import re
...
def _parse_version(version_string):
    version = []
    for x in version_string.split('.'):
        try:
            version.appen

[2017-03-15 20:05] glemaitre commented on #8592
You should give a full code snippet with data loading, etc.

Since the following [example](http://scikit-learn.org/stable/auto_examples/svm/plot_separating_hyperplane_unbalanced.html#sphx-glr-auto-examples-svm-plot-separating-hyperplane-unbalanced-py) when the scikit-learn was built, it will be really useful that you are giving information about your dataset.

[2017-03-15 22:34] lesteve commented on #7898
Look at https://github.com/scikit-learn/scikit-learn/issues/7980 which is a more generic issue about version comparison across our codebase. There is already a PR associated to this issue by the way.

[2017-03-15 22:51] lesteve commented on #7898
And actually I believe your particular issue is already fixed in master, i.e. the development version.

[2017-03-16 01:49] jnothman opened #8594 "Documentation that default parameters of trees make big trees"
One of the most frequent concerns from users is the size (in memory or on disk) of random forests and decision trees. Often this is because users have used the default parameters, which is inclined towards giving each distinct sample a distinct leaf (where that is necessary to obtain purity of target value at the leaf).

I think there should be a prominent Note in the docstring of DecisionTreeClas

[2017-03-16 05:45] etotientz commented on #8594
Do you mean here? https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/tree.py ?

[2017-03-16 07:40] jnothman commented on #8594
yes

On 16 Mar 2017 4:45 pm, "Satrap Rathore" <notifications@github.com> wrote:

[2017-03-16 08:47] rafaelobraun opened #8596 "Error in import of sklearn"
#### Description

Error in call of Scikit-Learn
#### Steps/Code to Reproduce

Simple call of "import sklearn"
#### Expected Results

Normal run
#### Actual Results

Traceback (most recent call last):
  File "D:/code/python/hybrid3/borrar.py", line 5, in <module>
    import sklearn; print("Scikit-Learn", sklearn.__version__)
  File "C:\Users\braun00r\AppData\Local\Programs\Python\Python36\lib\site-

[2017-03-16 09:22] #8224 closed

[2017-03-16 09:56] guiniol opened #8597 "`as_float_array`: wrong float size"
#### Description

`as_float_array` converts `int16` and smaller to `float64`
in `sklearn/utils/validation.py`, line 97, we can see:
[code]
This means that anything not `int32` will be converted to `float64`. This is a problem for types smaller than `int32`, especially if they were chosen because an `int64` would not fit in memory.

#### Steps/Code to Reproduce

Example:
[code]

#### Expected Resul

[2017-03-16 10:06] GaelVaroquaux commented on #8597
I partly agree with the analysis: I would not expect int32 to convert ot
float32 and yet int16 to convert to float64. Yet, I think that using
float16 is going to run into trouble because numerical libraries are not
built to handle such format and will not at all control their numerical
errors. I would advise to convert to float32.

[2017-03-16 10:08] lesteve commented on #8596
I believe this has been fixed in master. Closing, please do reopen if you still get the error on master.

[2017-03-16 10:08] #8596 closed

[2017-03-16 10:10] lesteve commented on #8596
This is a duplicate of https://github.com/scikit-learn/scikit-learn/issues/7898 BTW. Remember to search in the issues before opening a new issue.

While I am at it: readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages code snippets. Bonus points if you use [syntax highligh

[2017-03-16 10:13] guiniol commented on #8597
Ok. In that case, yes, it should be `float32`.

[2017-03-16 10:24] lesteve commented on #8597
PR more than welcome! It would be great to tacke `uint` types in the same PR.

[2017-03-16 10:35] guiniol commented on #8597
I'll see what I can do.
To sum up, anything smaller than an `int32` should be a `float32` and anything bigger a `float64`. Agreed?

[2017-03-16 10:45] kkatrio commented on #8194
@nuffe There are a few cases where the random_state is set by default, for example in `datasets/tests/test-base.py` the `load_files` function and in `utils/tests/test_testing.py` the `set_random_state` function, so I pushed some changes to avoid raising the warning if the random_state is already set in the definition. I will try to fix cases where the arguments -including the random_state- are pas

[2017-03-16 10:49] lesteve commented on #8597
This seems sensible.

By the way just a FYI, which I was not aware of: numpy does `float16` computations in `float32` and then casts the result back to `float16`. Reference: https://github.com/numpy/numpy/issues/7571.

[2017-03-16 10:49] romikharisnawan commented on #8594
@etotientz do you want to work this issue?
I can try to work on it if you haven't worked on it.

[2017-03-16 10:51] guiniol commented on #8597
Does that mean that scikit does the same? If it does, I'll use a `float16` for anything below that size.

[2017-03-16 10:55] glemaitre commented on #8194
If you install this plugin in the travis build then flake8_diff.sh automatically makes sure that Travis raises a build error for the pull request.
I am not an expert on static analysis, but got this plugin running on my machine. If you guys would want github access to that repo please let me know, or you could of course just fork it :)

@lesteve  Do you think that it could be a good feature to add

[2017-03-16 10:55] lesteve commented on #8597
Sticking to `float32` is probably safer.

[2017-03-16 10:56] guiniol commented on #8597
I don't see a way to get the size of a simple `int` so that will be converted to `float64`. Or can the numerical libraries handle `float`?

[2017-03-16 11:01] lesteve commented on #8597
Please open a PR so that we can discuss implementation details on the PR.

[2017-03-16 11:11] guiniol commented on #8597
Running the tests as we speak. I'll open it once they're done.

[2017-03-16 13:16] scooler opened #8599 "Error in Documentation on SGD"
#### Description
I would say there is an error in [Stochastic Gradient Descent - Mathematical formulation](http://scikit-learn.org/stable/modules/sgd.html#mathematical-formulation).

It says that features `x` goes from 1 to n and than that each feature `x` is n-element vector. Plus than it would be multiplied by `w` which is m-element vector - so yea "does not compute" :)

![image](https://cloud.g

[2017-03-16 13:32] lesteve commented on #8599
Thanks a lot for the detailed issue.

`x_i` should be in `R^m` indeed. Go ahead and open a PR.

FYI for documentation issues, you can check the documentation built from master at http://scikit-learn.org/dev (basically just replace stable by dev in the URL)

[2017-03-16 14:18] berndkr commented on #8589
If possible I think I'd like to work on this. If I understand it correctly the approach for the test would be:

1. Create a multiclass or multilabel classifier
2. Fit it on some data
3. Make prediction
4. Permutate labels
5. Repeat 2 & 3
6. Compare to see if results are the same.

I'll start on creating a pull request with this approach, please correct me if it's wrong. One question that I had is:

[2017-03-16 14:21] #8599 closed

[2017-03-16 17:05] raghavrv commented on #8592
Please reopen if you have a specific fully contained code snippet that does not work...

[2017-03-16 17:05] #8592 closed

[2017-03-16 17:11] jdelange commented on #8592
Hi, thanks for your quick feedback. The dataset is about 100 MB. How to deal with that? It's the feature vector of a convolutional network (GoogleNet / InceptionV3). For info, if instead of class_weight I increase the underrepresented class with 4x augmentations I can circumvent the need for class_weight, but class_weight should work too.

[2017-03-16 17:50] Moni313 commented on #8422
Hi I am also using the confusion matrix example and I am wondering about the normalisation:
What is the meaning of "[:, np.newaxis]"? and as far as I know,
TP(normalised) = TP/ALL
TN(normalised) = TN/ALL
FP(normalised) = FP/ALL
FN(normalised) = FN/ALL

ALL= TP+TN+FP+FN

Is this true or I completely misunderstood what normalisation is? In this case, can you explain it?
TYIA :)

![screen shot 2017-0

[2017-03-16 17:58] glemaitre commented on #8422
As stated in the documentation -> class support size therefore the summing the row.

cf:

[2017-03-16 18:15] Moni313 commented on #8422
damn i removed the previous post before to read your answer.. sorry.. btw, if I understood well, the values are specificity,  sensitivity, fall-out and false negative rate?

[2017-03-17 06:12] jnothman commented on #8599
You're right there's an error, and a fix is welcome, but x_i should be the
same shape as w, i.e. from R^m.

On 17 March 2017 at 00:16, Paweł Lorek <notifications@github.com> wrote:

[2017-03-17 06:15] jnothman commented on #8589
We're talking about metrics here: no need to make a classifier and
predictions, just to run metric(y_true, y_pred). See
sklearn/metrics/tests/test_common.py. Just use arbitrary y_true and y_pred
(ideally correlated but not identical).

On 17 March 2017 at 01:18, Bernd Kreynen <notifications@github.com> wrote:

[2017-03-17 06:18] jnothman commented on #8592
If you believe class_weight doesn't work, surely a smaller dataset will
highlight your concern.

On 17 March 2017 at 04:11, jdelange <notifications@github.com> wrote:

[2017-03-17 06:21] jnothman commented on #8422
That's pulling in terminology used by different fields, as far as I understand, which is not especially helpful. But normalisation is by the prevalence of the positive or negative class in the ground truth as applicable to each element. If you're concerned, just do the normalisation yourself!

[2017-03-17 06:46] lesteve commented on #8599
PR #8600 which was merged did that.

[2017-03-17 07:00] berndkr commented on #8589
Yes I realized that when I started actually writing the tests! (as you can check in the PR I made for this issue)

[2017-03-17 10:05] #8233 closed

[2017-03-17 14:00] akansal1 commented on #7811
Sorry, but I did not understand:

I did reduce model size later, but the behavior mentioned above happened during prototyping, and it was strange.

[2017-03-17 15:18] jdelange commented on #8592
True.

[2017-03-17 15:32] Jwely commented on #4414
Just for reference in the event anyone else finds this, the syntax I've used to manipulate the output of inverse_transform() into something that can be fed straight into a pandas dataframe is as follows:

[code]

[2017-03-17 18:30] amueller opened #8605 "logisticregression coef_ size changed in 0.18?"
Didn't have time to confirm yet, but I think the shape of coef_ of logistic regression changed in the two class setting from ``(n_features,)`` to ``(1, n_features)``. If that's the case, we should probably document it.
We don't have consistency tests for coef_ shapes, do we? Maybe we should?

[2017-03-17 19:01] amueller commented on #8605
It's actually ``(1, n_features)`` now. Not sure when that changed.

[2017-03-17 20:58] amueller opened #8607 "bootstrapping based on sample weights in random forests"
I think this was discussed before but I don't remember where and what the outcome was :-/
Maybe @arjoly or @glouppe remember.

Currently sample weights or class weights are not taken into account when doing bootstrap sampling, they are applied after the sampling. I think it would be good to have an option to apply them before the sampling. That is particularly useful for datasets with strong class

[2017-03-17 21:23] glemaitre commented on #8607
So actually, you are referring to the balance random forest and the weighted random forest:
http://statistics.berkeley.edu/sites/default/files/tech-reports/666.pdf

[2017-03-17 21:38] glemaitre commented on #8607
If somebody is going to have a shot at it, we have some useful tools in `imbalanced-learn`:

- I am currently making a [fetcher](https://github.com/scikit-learn-contrib/imbalanced-learn/issues/247) for some [imbalanced dataset](https://zenodo.org/record/61452#.WMxH-kfau00) which have been used in the literature.
- We implemented the [additional metrics](http://contrib.scikit-learn.org/imbalanced-l

[2017-03-18 02:57] rjurney commented on #4619
I have a machine with 1TB of RAM and am seeing this error. I do not think it is the RAM running out. I have tried installing `nomkl` with no effect :(

[2017-03-18 03:14] reiinakano opened #8608 "`save` and `load` estimator methods"
Currently, model persistence is done through an external library for pickling, most likely with `joblib`.

Has it ever been considered to add new `save` and `load` methods to the estimator classes themselves? I frequently find myself having to add these in manually, for example, when writing scikit-learn wrappers for estimators from other libraries such as Keras to play nicely with the sklearn API

[2017-03-18 08:32] GaelVaroquaux commented on #8608
The problem is that writing save and load for all estimators is a lot of
work, that might not be robust in general (eg when people give their own
Python functions as part of the estimator) and would lead to
reimplementing something very similar to pickle if we wanted to target
all usecases.

[2017-03-18 08:32] #8608 closed

[2017-03-18 08:58] agramfort commented on #8605
indeed I confirm the (1, n_features) now ! it am sure it was not the case before... no idea when this changed :-/

@TomDLT any idea?

[2017-03-18 15:12] konrad1234 commented on #5953
Looks like http://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.tgz is down now as well. When I run:

[code]

I get this error:

`URLError: <urlopen error [Errno 51] Network is unreachable>`

[2017-03-18 21:44] kkatrio commented on #8349
I am curious about this issue so I tried to identify the problem. I experimented with an oversimplified [example](https://gist.github.com/kkatrio/29928df3acf22adfd03b3ff6162e4d13) . The MLPRegressor without any tweaking produces this:
![no_n_features](https://cloud.githubusercontent.com/assets/18125046/24076165/dd331594-0c32-11e7-98b1-aa527c6233f1.png)

If I go and divide with (n_samples * n_featu

[2017-03-18 22:54] jmschrei commented on #8607
Are you refering to #5181?

[2017-03-19 10:29] jnothman commented on #7811
I mean that if you write:

est.fit(X, y)
est.fit(X, y)

it's possible that while it is building the second model, it still has the
first one stored, hence doubling the memory.

On 18 March 2017 at 01:00, akansal1 <notifications@github.com> wrote:

[2017-03-19 10:32] jnothman commented on #4619
See also #8582

[2017-03-19 13:09] glemaitre commented on #8607
@jmschrei checking the PR, it died slowly but the discussion seems promising.
It should be interesting to resurrect the PR. The discussion was around:

* which parameter to use to enable the behaviour (i.e. `bootstrap`, `class_weight`). It seems that `class_weight` was probably more proper;
* find a way to make the method `multi-output` compatible.

[2017-03-19 15:38] jachymb opened #8611 "Passing K-NN metric to SpectralClustering"
I wanted to do SpectralClustering with affinity given by nearest-neighbors but use manhattan metric for the nearest-neighbor task. (i.e. the argument `metric` in KNeighborsClassifier). But it's not clear from the documentation how to do this. It is possible to pass `n_neighbors` to SpectralClustering but not the metric. Then there is also the `kernel_params` argument but the documentation says "Pa

[2017-03-19 16:17] lesteve commented on #5953
This link works for me.

Very likely a network configuration issue rather than a problem specific to scikit-learn.

[2017-03-19 20:37] rjurney commented on #8582
So this makes the sklearn TSNE broken? Other implementations work without this in issue.

[2017-03-19 20:52] jnothman commented on #8611
Seems like a worthwhile enhancement. Not sure the proposed API is what will
be accepted, but a PR is welcome.

On 20 March 2017 at 02:38, Jáchym Barvínek <notifications@github.com> wrote:

[2017-03-19 21:18] glemaitre commented on #8582
@rjurney The algorithms are working. However, if your input is huge and your memory is small in comparison, it will lead to a `MemoryError`.

[2017-03-19 22:47] amueller opened #8614 "Add wrapper class that changes threshold value for predict"
This was discussed before, but not sure if there's an issue.
We should have a wrapper class that changes the decision threshold based on a cross-validation (or hold-out, pre-fit) estimate.
This is very very common so I think we should have a built-in solution.
Simple rules for selecting a new threshold are:
- picking the point on the roc curve that's closest to the ideal corner
- picking the point

[2017-03-19 23:13] jnothman commented on #8614
Belongs in sklearn.calibration?

On 20 March 2017 at 09:47, Andreas Mueller <notifications@github.com> wrote:

[2017-03-19 23:36] amueller commented on #8614
I wouldn't object to that.

[2017-03-19 23:38] amueller commented on #8614
There was also a recent paper by some colleagues from nyu how to properly control for different kinds of errors but I need to search for that...

[2017-03-20 01:48] dredwilliams commented on #8588
I'm having the same problem -- the scikit-learn function as well as trying to go directly to mldata.org ...

Any thoughts?

[2017-03-20 02:22] jnothman commented on #8588
I suppose we should be deprecating mldata fetchers :(

On 20 March 2017 at 12:48, Ed Williams <notifications@github.com> wrote:

[2017-03-20 03:42] jmschrei commented on #5953
The link also works for me.

[2017-03-20 07:09] glouppe commented on #8614
Related to #6663 from @betatim ?

[2017-03-20 08:36] lesteve commented on #8588
Is there any indication that mldata.org is not going to be back up any time soon ? I did not find anything from a quick googling. Also wild guessing a bit here, but I was mixing mldata.org with mlcomp.org at first, which is supposed to be taken down in March 2017 maybe it is the same for you @jnothman.

[2017-03-20 10:30] jnothman commented on #8588
Yes, I did confuse them. But 5 days is also a surprising downtime for
something of this nature!

On 20 March 2017 at 19:36, Loïc Estève <notifications@github.com> wrote:

[2017-03-20 11:19] TomDLT commented on #8605
It has always been the case, and it has been documented since the [very beginning of the LogisiticRegression doc](https://github.com/scikit-learn/scikit-learn/commit/7c2434ccf3ad470df1dd8ec356c6906d9c9c15c2).

In master, we have:
[code]

[2017-03-20 12:35] lesteve commented on #8588
Agreed. I'll try to contact one of the website maintainer I found through Google and see what happens.

[2017-03-20 12:40] jnothman commented on #8588
fwiw nothing on the archive.org copy from March foreshadowed the outage

On 20 Mar 2017 11:36 pm, "Loïc Estève" <notifications@github.com> wrote:

[2017-03-20 14:12] amueller opened #8617 "Allow n_samples to be a tuple in make_blobs"
I'd like make_blobs to accept lists or tuples for n_samples to generate imbalanced classes. Could be used here for example:

http://scikit-learn.org/dev/auto_examples/svm/plot_separating_hyperplane_unbalanced.html#sphx-glr-auto-examples-svm-plot-separating-hyperplane-unbalanced-py

[2017-03-20 14:13] amueller commented on #8501
This example could use some love:
http://scikit-learn.org/dev/auto_examples/svm/plot_separating_hyperplane_unbalanced.html#sphx-glr-auto-examples-svm-plot-separating-hyperplane-unbalanced-py
It also has commented out code and the comment on generating the dataset seems pretty wrong.

[2017-03-20 16:16] jschueller opened #8618 "test_n_iter_without_progress fails on osx"
The test sklearn.manifold.tests.test_t_sne.test_n_iter_without_progress fails on osx
when building for conda-forge (https://travis-ci.org/conda-forge/scikit-learn-feedstock/jobs/212970171)
It happens with version 0.18.1, regardless of the python version (2.7, 3.5 and 3.6).
On linux the same test succeeds.

[code]

[2017-03-20 17:51] jakirkham commented on #8618
FWIW we are building on macOS 10.10 using XCode 6.4 when seeing this.

[2017-03-20 18:00] kkatrio commented on #8617
@amueller You mean something like `make_blobs(n_samples=[50,30,20])` for example? I can work on this.

[2017-03-20 21:53] aikinogard commented on #8587
@jnothman Is it okay for me to mention this in the doc and make a PR?

[2017-03-20 22:30] jnothman commented on #8587
The docs already mention this, but it can be re-emphasized elsewhere. PR
welcome

On 21 Mar 2017 8:53 am, "Li Li" <notifications@github.com> wrote:

[2017-03-20 23:07] konrad1234 commented on #5953
Looks like it's back up, lesteve. You are right, probably just a temporary network issue.

[2017-03-21 05:51] akansal1 commented on #7811
Yes, I was trying something similar, but, it was not an expected behavior

[2017-03-21 05:56] wangluyi1982 opened #8619 "DBSCAN slow down from 0.17.1 to 0.18.0"
#### Description
Performance issue, DBScan running time is largely increased.

#### Steps/Code to Reproduce

import numpy as np
from timeit import default_timer as timer
from sklearn.cluster import DBSCAN
X=np.random.random((7000, 2))
X[:,0] =X[:,0]/100+23.59
X[:,1] =X[:,1]/100+58.43
start =timer()
dbscan = DBSCAN(eps=0.01, min_samples=2000, algorithm='kd_tree', metric='manhattan')
dbscan.fit(X)
e

[2017-03-21 06:51] agramfort commented on #8605
hum... I wrote this 7 years ago... I get we can close :-/

thx @TomDLT for having a look...

[2017-03-21 06:51] #8605 closed

[2017-03-21 06:57] jnothman commented on #7811
I'm not sure whether that's "yes i did not delete between fits and that
seems to solve the problem" or otherwise.

It might not be so good to keep the previous model while fitting a new one,
and we are probably inconsistent about it across estimators.

On 21 Mar 2017 4:52 pm, "akansal1" <notifications@github.com> wrote:

Yes, I was trying something similar, but, it was not an expected behavior

—

[2017-03-21 07:29] abhigenie92 commented on #8582
Would increasing the swap fix it?

[2017-03-21 07:47] akansal1 commented on #7811
I mean following changes reduce the problem:

[code]
But the memory freed up by doing above is not same of what is gained in first run, and it is not an expected behavior

This, is causing extreme memory overhead in **CV** , which I do not experience in **GBRT** over same dataset.

Hence, I feel, there is some memory leak somewhere, however, I am not using **RandomForestRegressor** currently, in m

[2017-03-21 08:20] amanp10 commented on #3628
Regarding the first task, Multiclass Parallelization , has it been done or is someone working on it?
I am planning to take up both the tasks as my GSoC 2017 project.

[2017-03-21 08:43] martin-hahn opened #8620 "sklearn.isotonic.check_increasing(x,y) crashes if len(x) < 4"
The following code (scikit-learn==0.17.1):

`import numpy as np`
`from sklearn.isotonic import check_increasing`
`n = 2`
`check_increasing(np.arange(n), np.ones(n))`

crashes with the following error message:

`  File "bug.py", line 4, in <module>`
`    check_increasing(np.arange(n), np.ones(n))`
`  File "/home/vagrant/venvs/venv/local/lib/python2.7/site-packages/sklearn/isotonic.py", line 61, in

[2017-03-21 09:13] jnothman commented on #8582
I doubt it. Sampling your dataset is a much more appropriate solution,
presuming you're trying to visualise something.

On 21 March 2017 at 18:29, Abhishek Bhatia <notifications@github.com> wrote:

[2017-03-21 09:51] lesteve commented on #8619
Thanks for the stand-alone snippet. I am able to reproduce the slowdown on Linux. Help in profiling this to understand what is taking time is more than welcome! I could just start with pasting the output of `%prun -s cumulative dbscan.fit(X)` for both versions.

[2017-03-21 10:07] lesteve commented on #8618
I can reproduce on OSX in a conda environment using conda-forge. Note that I don't have the problem in a conda environment not using conda-forge, neither with mkl nor with nomkl (the latter uses Accelerate). From a quick investigation, it seems the cython code in TSNE is not used in this test and only numpy may be to blame. Disclaimer: I haven't tested different numpy versions.

[2017-03-21 10:11] kirk86 commented on #8582
my two cents is that if you don't split the data in a appropriate manner so that it keeps the classes balanced you might end up with very unexpected results.

[2017-03-21 10:15] lesteve commented on #8620
Indeed it is still in master. PR more than welcome. I am not sure what the right fix is to be honest.

[2017-03-21 10:26] jschueller commented on #8618
FYI the bug happens at least with numpy 1.12.1 (from conda-forge), I did not test other numpy versions.

[2017-03-21 11:07] lesteve commented on #8618
I tried numpy 1.10 and 1.11 and was able to reproduce the test error with both, so it does not seem related to a particular numpy version.

To sum up the problem only happens on OSX when numpy uses OpenBLAS.

I think this is one of this painful ones where the only thing to do is to track where the first difference happens to eventually manage to put together a stand-alone snippet reproducing the p

[2017-03-21 11:16] martin-hahn commented on #8620
I have done a bug fix and i am happy to push it and create a pull request

[2017-03-21 15:03] weber-s commented on #1650
Sorry to exhume this topic, but there is a inconsistency in the doc for some Linear Regression.

It says `normalize : boolean, optional, default False`, but in fact, the default is `True`. It's a bit confusing...

The regressor I spotted:

- the [LARS](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Lars)
- the [OMP](http://scikit-learn.org/stable/modules/generated/sklearn.li

[2017-03-21 15:13] #8597 closed

[2017-03-21 15:22] lesteve commented on #8619
While I am at it it would be great if you could edit your description with this in mind:
Readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages code snippets. Bonus points if you use [syntax highlighting](https://help.github.com/articles/creating-and-highlighting-code-blocks

[2017-03-21 16:44] Gscorreia89 commented on #6845
I am currently working on tailored objects for Chemometric Data analysis following some field conventions, but using pre-existing scikit-learn PLS and PCA objects (once I am finished I have no problem releasing these publicly).
I have made a very simple implementation of OPLS by converting a fitted PLS with sklearn, following this article:
http://onlinelibrary.wiley.com/doi/10.1002/cem.2608/pdf

Y

[2017-03-21 16:55] lukaskawerau opened #8622 "Add Lightweight Random Indexing"
In a recent paper (Moreo Fernández, A., Esuli, A., & Sebastiani, F. (2016). [Lightweight Random Indexing for Polylingual Text Classification](http://www.jair.org/media/5194/live-5194-9567-jair.pdf). Journal of Artificial Intelligence Research, 57, 151-185.) the authors introduce a new method of random indexing that is useful for polylingual text classification.
A public implementation is available

[2017-03-21 17:08] ppallesen opened #8623 "Memory leak in decision trees"
I enconter memory leakage in decition trees both on my own computer (ubuntu 16.0 on anaconda python 2.7) using a fresh scikit-learn from pip and on a kaggle kernel python 3.5 (https://www.kaggle.com/ppallesen/titanic/notebook388ea683bf/). I seems to be related to the number of jobs, since the memory leakege is strongly reduced by reducing the number of jobs to 1. So I think there might be a memory

[2017-03-21 17:45] TomDLT commented on #8622
[From the FAQ](http://scikit-learn.org/dev/faq.html#what-are-the-inclusion-criteria-for-new-algorithms):

It seems this paper is too recent to be implemented in scikit-learn.

[2017-03-21 19:19] drolando opened #8625 "Add pypy support"
Since version 5.6.0, pypy is now able to run most of the numpy and scipy suites: https://morepypy.blogspot.com/2016/11/pypy27-v56-released-stdlib-2712-support.html

It'd be nice if scikit-learn could support pypy too. At the moment scikit-learn==0.18.1 fails to import with:
[code]

[2017-03-21 20:14] GaelVaroquaux commented on #8625
Is that a bug in scikit learn,  or in pypy?

⁣Sent from my phone, please excuse typos and briefness​

On Mar 21, 2017, 20:19, at 20:19, Daniele <notifications@github.com> wrote:

[2017-03-21 20:18] drolando commented on #8625
@GaelVaroquaux I'm not sure. I'm also interested if other people are getting the same error or if there's something wrong / missing in my environment

[2017-03-21 20:41] glemaitre commented on #8623
Please run the following snippet and paste the output below.
[code]

[2017-03-21 21:09] jnothman commented on #8620
Please if you have not already, and apologies if review is slow

On 21 Mar 2017 10:16 pm, "martin-hahn" <notifications@github.com> wrote:

[2017-03-21 21:11] ppallesen commented on #8623
On the kaggle kernel:
:
Linux-4.4.0-64-generic-x86_64-with-debian-8.5
Python 3.6.0 |Continuum Analytics, Inc.| (default, Dec 23 2016, 12:22:00)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
NumPy 1.11.3
SciPy 0.18.1
Scikit-Learn 0.19.dev0

-------------------------
On my own computer

Linux-4.4.0-66-generic-x86_64-with-debian-stretch-sid
('Python', '2.7.12 |Anaconda custom (64-bit)| (default, Jul  2 2016

[2017-03-21 21:22] jmschrei commented on #3628
Parallelized decision tree building is still an unsolved issue, in part due to the complexity of the underlying code.

[2017-03-21 22:13] jnothman commented on #1650
thank you. a pull request fixing the docs is welcome

On 22 Mar 2017 2:03 am, "Samuël Weber" <notifications@github.com> wrote:

[2017-03-21 22:19] #8622 closed

[2017-03-21 22:21] jnothman commented on #8622
These kinds of advances have a lot of variants and rather than support them all, we should choose those that are stable after some time

[2017-03-21 22:49] lesteve commented on #8625
Where did you get that pypy supports scipy? The link you give only mentions numpy and I did not find anything about Scipy support from a quick googling.

[2017-03-21 23:47] lesteve commented on #8392
@Gscorreia89 since you seem to know quite a bit on PLS, it would be great if you could open a PR with a fix.

[2017-03-22 06:30] lesteve commented on #8623
I can reproduce on master. Maybe @raghavrv has some suggestions about where the memory leak may happen?

[2017-03-22 06:33] lesteve commented on #7811
@akansal1 it would help tremendously if you posted a fully stand-alone snippet that we can just copy and paste in a IPython session to check whether we can reproduce.

[2017-03-22 06:38] jnothman commented on #8623
I'm failing to reproduce on master with
[code]

Can try later on Linux. For those that can reproduce, do you get the same with `RandomForestClassifier`?

[2017-03-22 06:47] lesteve commented on #8623
No, the memory is stable with RandomForestClassifier.

[2017-03-22 07:11] lesteve commented on #8623
FYI I can not reproduce the memory leak with `ExtraClassifier` on OSX either.

[2017-03-22 07:39] jnothman commented on #8623
given how ExtraTreesClassifier is implemented, it's extremely surprising
that RandomForest behaves differently, and it should be easy to eliminate
parameters that do not cause the leak

On 22 Mar 2017 5:47 pm, "Loïc Estève" <notifications@github.com> wrote:

[2017-03-22 07:39] ppallesen commented on #8623
I have just run it again with both with the randomforest and the extratrees on the kaggle notebook and now it does not produce the memory leak. So I'm a little confused

[2017-03-22 07:44] ppallesen commented on #8623
Maybe closing the issue for the moment and if this is encountered again. It can be looked closer at. I still don't understand how I got the memory leak both on my own computer and on the notebook in the first place.

[2017-03-22 08:04] ppallesen commented on #8623
Sorry the change in mind. I still get the error on my own computer. So I thnk I will wait a little on closing the issue to see if a expaination comes up

[2017-03-22 08:25] gucasbrg opened #8626 "TfidfVectorizer error"
user below code,this seems ok,
[code]
but test replace '''1 2,3 4'''
[code]
```error :ValueError: empty vocabulary; perhaps the documents only contain stop words```

Is there other parameters that I can't get?

[2017-03-22 08:40] zhanglining123 commented on #8470
@jmschrei Got it, I will use one-hot encode for categorical.

[2017-03-22 08:43] lesteve commented on #8470
I think this can be closed. @zhanglining123 feel free to reopen if you feel otherwise.

[2017-03-22 08:43] #8470 closed

[2017-03-22 09:43] jnothman commented on #8626
See the documentation of `token_pattern`. Also #8587.

[2017-03-22 09:43] #8626 closed

[2017-03-22 11:32] SrivathshanKS opened #8627 "Improve error message for MeanShift.estimate_bandwidth when X is sparse"
I use mean shift clustering and the estimate bandwidth method causes issues.

![image](https://cloud.githubusercontent.com/assets/20676909/24195775/017c18f2-0ef3-11e7-8ad9-5fbfaf938a9a.png)

I think the above method must handle sparse matrix. Can you please check on this? or let me know if any issues from my side

[2017-03-22 11:39] datafool commented on #8588
Before mldata.org goes up, whats the work around if data has not already been downloaded?

[2017-03-22 11:46] jnothman commented on #8627
Nothing in the mean shift docs suggests it should support sparse input...

On 22 March 2017 at 22:32, SrivathshanKS <notifications@github.com> wrote:

[2017-03-22 12:37] lesteve commented on #8588
Have you tried googling the name of the dataset you may find a copy somewhere? In principle you just need to find the `.mat` and put it in `~/scikit_learn_data/mldata`.

Alternatively, find someone (or maybe you on another computer) that uses scikit-learn and has it downloaded it to share the content of its `~/scikit_learn_data/mldata` folder.

[2017-03-22 13:23] lesteve commented on #8194
Sorry I forgot about this, personally I am not fully convinced that checking that random_state is set explicitly is always a great idea. Examples where it is not: checking error messages, checking invariants of the algorithm.

More generally I get the point that having deterministic tests is something to long for. At the same time, the test could only pass because I was lucky with my choice of `ra

[2017-03-22 13:34] shenxiangzhuang commented on #5046
Adding
import numpy as np
at the begin of the script solved the problem :-)

[2017-03-22 13:39] jnothman opened #8628 "UnaryEncoder"
I'm sure we've discussed this before, but I'm not sure where, and there certainly does not appear to be an active PR. For ordinal (and discretized; see #7668) features, a "unary" encoding (is there a better name for this) is more informative than a one-hot encoding. For k values 0, ..., k - 1 of the ordinal feature x, this creates `k - 1` binary features such that the `i`th is active if `x > i (fo

[2017-03-22 15:49] Gan-Jiang commented on #8623
I got this error on my computer, too. It works fine if the criterion = 'mse'. However, the randomforestregressor will not free memory if the criterion is 'mae'.

Windows-10-10.0.14393-SP0
Python 3.5.2 |Anaconda 4.3.0 (64-bit)| (default, Jul  5 2016, 11:41:13) [MSC v.1900 64 bit (AMD64)]
NumPy 1.12.0
SciPy 0.18.1
Scikit-Learn 0.18.1

[2017-03-22 15:52] jeff3456 commented on #8425
Hi I am new to contributing to scikit-learn but I would like to work on this! Is anyone else working on this?

[2017-03-22 15:55] lesteve commented on #8627
At the same time there could be a better error message via a `check_array` in `estimate_bandwidth` presumably. PR with test more than welcome.

[2017-03-22 17:27] datafool commented on #8588
I tried googling but did could not find the .mat file. However, the data I was looking i got it's link from the book from which data was taken. However, with this data I am not able to reproduce the result which is demonstrated on sklearn user guide page.

Due to this I wanted the data in the exact format so that I am sure that result is bad due to data and not due to modelling.

[2017-03-22 17:34] artcg commented on #8582
@jnothman barnes-hut t-SNE should run in O(NlogN) time and O(N) memory -- (see Section 1. of paper https://arxiv.org/abs/1301.3342)

[2017-03-22 17:43] artcg commented on #8582
BTW @kirk86 I am curious why you specified 'when reducing dim to default of 2' -- have you experienced other behavior when not using n_components=2 ?
I think the sklearn implementations still is broken for n_components != 2 (see https://github.com/scikit-learn/scikit-learn/pull/7885)

[2017-03-22 17:55] aikinogard commented on #8627
I am willing to contribute.

[2017-03-22 18:11] iampawansingh opened #8630 "Gaussian Process Regressor future forecast"
I am trying to replicate this example [http://scikit-learn.org/stable/auto_examples/gaussian_process/plot_gpr_co2.html](url) to understand GPR for time series analysis. However, after training the data when i forecast for future, i do not get the result as shown in the example, my future forecast is straight line, with no seasonality what so ever. Please see below chart
![gpr forecast](https://clo

[2017-03-22 19:05] amueller opened #8631 "BayesianGaussianMixture: don't mention that concentration prior is called gamma"
There is no mentioning of "gamma" in the docstring, but this example uses gamma_0:
http://scikit-learn.org/dev/auto_examples/mixture/plot_concentration_prior.html

I think we should mention that name since it is common in the literature.

[2017-03-22 19:05] kirk86 commented on #8582
@artcg indeed `bhtsne` is a better alternative but most of the implementation I've seen so far they don't utilize multiprocessing. I've tried a couple of those and they use only 1 out of n cores.

In regards to your 2nd question I would say that what @jnothman and others have said about data size is true. Therefore, regardless of `n_components` if your data is too large it will probably through a

[2017-03-22 19:07] artcg commented on #8582
@kirk86
(Not related to this issue but to solve your personal problem I reckon you could implement t-SNE in tensorflow pretty easily which would allow you to use multiple cores.... Might be a fun project)

[2017-03-22 19:12] onebitbrain commented on #5851
[Tensorly](https://tensorly.github.io/stable/index.html) has an rpca implementation and a nice [example](https://jeankossaifi.github.io/tensorly/rpca.html).

[2017-03-22 19:41] akansal1 commented on #7811
Type of machine I run my analysis, it takes lot of time, but I did manage to run some code for **extratreeregressor**,over the number of estimates I was trying. Taken from **issue 8623**
[code]
 Following is the screenshot for the run:
![image](https://cloud.githubusercontent.com/assets/8511760/24217156/e669acb0-0f64-11e7-98d8-21a1fc6ac3cc.png)

[2017-03-22 19:46] amueller opened #8632 "Surprising result in BayesianGaussianMixture"
I'm surprised by the results of BayesianGaussianMixture
[code]
![image](https://cloud.githubusercontent.com/assets/449558/24217565/b050eca4-0f16-11e7-9806-ec85f9154ff3.png)

I'm changing gamma pretty drastically but the distribution of weights doesn't seem to change. Is that expected?

[2017-03-22 19:49] amueller commented on #8632
ping @tguillemot

[2017-03-22 19:55] jnothman commented on #8623
The MAE issue should be fixed in master.

On 23 March 2017 at 02:49, Yang Liu <notifications@github.com> wrote:

[2017-03-22 20:20] akansal1 commented on #7811
@lesteve  I was able to generate it for **RandomForestRegressor** as well:
[code]

![image](https://cloud.githubusercontent.com/assets/8511760/24218930/176a2938-0f6b-11e7-9af0-17e571bd1859.png)

[2017-03-22 20:33] jnothman commented on #8425
I don't think a PR has been opened, though @rishikksh20 has clearly expressed some interest

[2017-03-22 20:34] jaradc opened #8633 "Why must X be a 2D array? Computational reasons or convention?"
High-level, low-priority question.

Is there a computational reason that "X" data needs to be a 2D array, shape (n_samples, n_features)? Is sklearn designed this way for convention and standardization-purposes, or is there a code and mathematical reason pertaining to vector operations (ex: matrix multiplication)?

**Reason I'm curious**: if a user passes in a pandas Series or numpy array (n, ), wh

[2017-03-22 20:40] jnothman commented on #8627
go ahead, thanks

On 23 Mar 2017 4:55 am, "Li Li" <notifications@github.com> wrote:

[2017-03-22 20:41] jnothman commented on #8630
I don't think the original data is linear

On 23 Mar 2017 5:11 am, "datafool" <notifications@github.com> wrote:

[2017-03-22 20:45] jnothman commented on #8582
although I'm not very familiar with this code, i think it's quite clear
that our implementation still has O(N^2) memory requirements, though it may
not be hard to reduce that to O(N log N). Without not looking at the paper,
I don't understand how one can perform exact nearest neighbours
calculations without that memory cost.

On 23 Mar 2017 6:07 am, "Arthur Goldberg" <notifications@github.com> wro

[2017-03-22 20:46] tguillemot commented on #8632
@amueller The result seems strange but to be honest I can't say if it's a bug or not.

I will investigate this weekend but maybe I did something wrong with the stick-breaking process equations ??

[2017-03-22 20:46] jnothman commented on #8632
would be clearer if you sort those weights, no?

On 23 Mar 2017 6:49 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-03-22 20:51] jnothman commented on #8633
convention. some estimators used to accept 1d input, but whether it was
treated as row or a column vector (or which was sensible semantics) varied
a little. So: better explicit.

On 23 Mar 2017 7:34 am, "jaradc" <notifications@github.com> wrote:

[2017-03-22 20:51] #8633 closed

[2017-03-22 20:54] tguillemot commented on #8632
@jnothman Indeed :)

[code]

![figure_1](https://cloud.githubusercontent.com/assets/17002898/24220242/def2fb78-0f49-11e7-8515-45ad4fd45e53.png)

[2017-03-22 20:56] artcg commented on #8582
Instead of finding exact nearest neighbours, the Barnes-Hut uses a sparse approximate, it basically says for a point p, we find the similarities to the N nearest neighbours, and for all neighbours further away we call the similarity 0.

So with a sparse representation for n points, we need to compute N * n similarities  (N is constant so overall O(n) ).

On 22 Mar 2017, at 20:46, Joel Nothman <not

[2017-03-22 20:57] tguillemot commented on #8632
There is a little influence of `weight_concentration_prior` but I'm not sure of the result.

[2017-03-22 21:14] jmschrei commented on #8632
I find this particularly surprising as well. I would have thought that there would be more clusters the higher the value.

[2017-03-22 21:27] jmschrei commented on #8628
So the major difference is that instead of a single bit being active, all bits up to i are active? I've certainly used this before, I did not know it was called a unary encoder!

[2017-03-22 21:45] amueller commented on #8632
@jmschrei yes, I think so, also that's the behavior in this example:
http://scikit-learn.org/dev/auto_examples/mixture/plot_concentration_prior.html#sphx-glr-auto-examples-mixture-plot-concentration-prior-py
The values there are also pretty extreme. I would have thought that smaller changes also have an effect.
Can someone maybe test against a Gibbs implementation? (I'm sooo out of time for anythi

[2017-03-22 22:12] jnothman commented on #8582
sorry, you're right. we could have a theoretical O(N) even if we have to
look up each in an O(logN) data structure to find nearest neighbours. The
implementation is definitely not kind in memory. PR using kneighbors_graph
is welcome. I also suggest that we offer support for passing such a sparse
graph when in precomputed mode as we do for dbscan

On 23 Mar 2017 7:56 am, "Arthur Goldberg" <notifica

[2017-03-22 22:15] jnothman commented on #8582
apart from pairwise distances, it would be worth scouring the code for
other suboptimal complexity issues, and using a benchmark script to plot
memory wrt samples. (In fact it would be great to have this for all
estimators alongside expected space and time complexity)

On 23 Mar 2017 9:12 am, "Joel Nothman" <joel.nothman@gmail.com> wrote:

[2017-03-22 22:18] jnothman commented on #8628
I'd be happy with a more common name if you have one. I recall it being
called unary in some scikit-learn forum. Either way, I think it would be
useful to have around alongside OneHotEncoder, because it is a more
powerful representation of ordinal data and requires a little
sophistication to implement elegantly

On 23 Mar 2017 8:27 am, "Jacob Schreiber" <notifications@github.com> wrote:

So the ma

[2017-03-22 22:56] jmschrei commented on #8628
Yes, I agree that it would be nice to have included. I just colloquially referred to it as a cumulative bit encoder, but that seems long.

[2017-03-22 23:55] jnothman commented on #8628
CumulativeEncoder gives some sense of it, except that it's not actually
cumulative :)

On 23 March 2017 at 09:56, Jacob Schreiber <notifications@github.com> wrote:

[2017-03-23 00:05] rjurney commented on #8582
I found the barnes-hut implementation on Github and I've been able to run
it on my data using Python 2.7 (but not Python 3, there's a bug). It was
complex to get my docker image to have both Anaconda 2 and 3, but it
finally worked. So, it would be good if sklearn had the barnes hut
implementation. The existing one is so limiting it is almost a trick that
it is in the library at all. I wish it hadn

[2017-03-23 02:01] jnothman commented on #8582
Fixing this will also require changing or duplicating `_binary_search_perplexity` to allow a sparse distances input and sparse output. I'd be happy (time permitting) to guide someone through the changes if they started working on one or another part of it.

@rjurney, I agree that our current implementation is falsely advertised, and apologise that our reviews were not sufficient to ensure the impl

[2017-03-23 02:26] rishikksh20 commented on #8425
Actually I like to work on this but till now sklearn `plot` module haven't committed I guess.

[2017-03-23 02:37] jnothman commented on #8425
I think you can safely copy the generic parts of #8082 into a new PR.

On 23 March 2017 at 13:26, Rishikesh <notifications@github.com> wrote:

[2017-03-23 02:48] datafool commented on #8630
Yes original data is not linear, but more of seasonal time series with upward trend. Everything before the linear curve is original data and liner curve is the forecast, which in this case is a wrong forecast

[2017-03-23 03:34] Morikko opened #8635 "Pull out the _changed.html logic for Circle to see the impacted files locally"
For my last PR #8556, I used the circle functionality for showing my changes. However, this was done after the commit was pushed so if I have detected something I had to add another commit.

Thus, @jnothman proposed that a script launched locally could be used to reproduce the _changed.html file locally and so anticipate the verification.

Let me know if it is worth doing it and how. In a next PR,

[2017-03-23 03:53] jnothman commented on #8635
Perhaps in doc a Makefile target changed-from-master that compiles
_changed.html in the local html build output?

On 23 March 2017 at 14:34, Morikko <notifications@github.com> wrote:

[2017-03-23 05:17] arjunjauhari commented on #8628
How about StepEncoder as it sounds very much like unit step function. Also, if someone is not already working on it, i would like to implement it.

[2017-03-23 05:28] jmschrei commented on #8628
Go ahead. We can figure out a name later.

[2017-03-23 07:14] jnothman commented on #8628
Fwiw, I don't see the relevance of the unit step function, and don't think
StepEncoder is an intuitive name

On 23 Mar 2017 4:28 pm, "Jacob Schreiber" <notifications@github.com> wrote:

Go ahead. We can figure out a name later.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/scikit-learn/scikit-learn/issues/8628#issueco

[2017-03-23 07:16] jnothman commented on #8628
OrdinalEncoder might be okay

On 23 Mar 2017 6:14 pm, "Joel Nothman" <joel.nothman@gmail.com> wrote:

[2017-03-23 09:55] hrjn opened #8637 "IsolationForest benchmark doesn't accept legacy multi-label data representation"
#### Description

While running `benchmarks/bench_isolation_forest.py` the following error occurs:

[code]

This seems to be a **Python 3 specific issue** (not reproducible on Python 2.7)

#### Versions
Darwin-15.6.0-x86_64-i386-64bit
Python 3.5.2 |Anaconda 4.2.0 (x86_64)| (default, Jul  2 2016, 17:52:12)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]
NumPy 1.12.0
SciPy 0.18.1
Scikit-Learn

[2017-03-23 10:10] hrjn commented on #8637
Fix proposal in #8638

[2017-03-23 10:21] SylvainTakerkart opened #8639 "problem with custom-defined cv and cross_val_score"
Hello,

I need to define a custom cross-validation object. I searched on how to do it and understood that it's just a matter of defining an iterable object with the proper list of indices... I implemented this as with the code below. Maybe it's not the proper way to do it, but in any case, I then encountered some very weird behavior: I run cross_val_score once with this custom cv and it works fine

[2017-03-23 11:16] lesteve commented on #8588
I googled and found https://github.com/amplab/datascience-sp14/blob/master/lab7/mldata/mnist-original.mat in a matter of seconds. I was able to reproduce the output of this example:
http://scikit-learn.org/stable/auto_examples/neural_networks/plot_mnist_filters.html

Hope this helps although it is hard to know because you are not very explicit about what you are trying to do ...

[2017-03-23 11:37] weber-s commented on #1650
Done.

But as I state in the PR, there is still one case where I didn't change. Indeed it's not an inconsistency in the doc, but maybe in the code.
In the Randomized Logistic Regression, the `_preprocess_data` function has `normalize=False` as option whereas the class uses `normalize=True` . I don't know if it should be change as well.

[2017-03-23 11:55] jnothman commented on #8639
In python 2, zip returns a list. In 3 it returns an iterator which will be exhausted after one pass through it.

However I think what you want is just custom_cv=[(train_ind, test_ind)].

[2017-03-23 11:55] #8639 closed

[2017-03-23 12:11] #6507 closed

[2017-03-23 13:02] pranaydeep-af commented on #8611
I would like to work on this if no one else is? @jnothman

[2017-03-23 13:40] arjunjauhari commented on #8628
Going ahead with OrdinalEncoder for now.

[2017-03-23 15:41] lesshaste commented on #8625
pypy doesn't support scipy currently and also, the version that supports almost all of numpy is very slow.  It's too early to think about pypy in my view.

[2017-03-23 16:14] jm-contreras commented on #6465
One suggestion would be to expose the feature importances computed by each tree in the forest, in addition to the average feature importance across trees. Computing dispersion metrics across tree-specific importances would be one way of capturing variation in the average feature importances that are now part of each fitted forest.

[2017-03-23 17:18] datafool commented on #8588
@lesteve sorry for being bit vague! I am trying to replicate Guassian Process Regressor Example - [http://scikit-learn.org/stable/auto_examples/gaussian_process/plot_gpr_co2.html](url)
I am not able to fetch .mat file, due to which I am not able to replicate this example. As mentioned before, I did get the data after some searching, but even with this data, I am not able to replicate results

[2017-03-23 17:32] silentsnooc commented on #6683
I'm getting the same error in my IPython 3 Notebook for

[code]

You can get the data here: [crashing-data.csv.zip](https://github.com/biolab/orange3/files/865582/crashing-data.csv.zip)

### Full Error

[code]

----

[code]

[2017-03-24 03:56] genliu777 opened #8641 "RuntimeWarning about overflow in gpc.py: 291"
on my laptop,  sklearn version is  0.18.1, and ide is pycharm
when i run the [example](http://scikit-learn.org/stable/auto_examples/gaussian_process/plot_gpc_xor.html#sphx-glr-auto-examples-gaussian-process-plot-gpc-xor-py) ,it comes up with  run-time warning of overflow:

  pi = 1 / (1 + np.exp(-f))

[2017-03-24 04:55] AlJohri commented on #5090
regarding @trianta2 comment about running multiple methods like `predict`, `predict_proba`, `decision_function` etc. I wasn't sure how to go about that so this was my simple hack around it in case that helps anyone that ends up here from Google like I did:

[code]

@jnothman would you accept a PR modifying `cross_val_predict` to allow a list for the `method` parameter?

[2017-03-24 18:56] mikiobraun commented on #8588
Hello there, I'll try to get in touch with mldata's admin. I'll let you know about the updates.

It should in theory be provided indefinitely...

[2017-03-24 19:27] jcrist opened #8642 "Implement `nbytes` or `__sizeof__` (or equivalent) for estimators"
In `dask.distributed` we use a [dispatch on type](https://github.com/dask/distributed/blob/master/distributed/sizeof.py#L14) to determine memory overhead for intermediate results. Having a rough sense of the size of intermediate results is useful for the scheduler as it often correlates to the cost of serializing that intermediate between workers.

The default is to fallback to `sys.getsizeof` whi

[2017-03-25 00:23] raghavrv commented on #7811
I don't see any increasing memory usage when I run the code snippet...

[code]

The residual memory (as per psutils) after each run + `del, gc` is rougly the same after each iteration...
This residual memory is not a memory leak... It has something to do with OS's mem caching... Refer this SO link - http://stackoverflow.com/a/35121766

@lesteve I tried it with `ExtraTreesRegressor` too, I can't se

[2017-03-25 09:51] jnothman commented on #5090
In what context do you need multiple, and it is not sufficient to just
transform predict_probably output? I'm also concerned about the misuse of
this for evaluation: @gaelvaroquaux has made particular objections to
cross_val_predict output being passed into metrics.

On 24 Mar 2017 3:55 pm, "Al Johri" <notifications@github.com> wrote:

regarding @trianta2 <https://github.com/trianta2> comment abou

[2017-03-25 10:21] dsquareindia commented on #8607
@glemaitre can I work on this? Even I'm of the opinion that if this could somehow be incorporated into the `class_weight` parameter it would be better. What would be the next steps to go about this?

[2017-03-25 12:10] arjoly commented on #7698
+1 handling the zero case. If not treated, it could give you surprising results whenever it happens

the definition in Tsoumakas is relying on the notion of rank, which might be ambiguous with respect to ties and the lowest and highest rank. The `-1` comes from the definition of the rank.

[2017-03-25 13:49] glemaitre commented on #8607
@dsquareindia You have to resurrect #5181 by proposing a solution for the 2 points that I mentioned before with unit tests. Then, we need a benchmark to assess the benefit or not of the approach.

[2017-03-25 16:14] AlJohri commented on #5090
@jnothman my current use case is visibility into the intermediate steps of creating an ensemble model. I'm passing the decision score from the first model to a second model, but I want to be able to see the cross validated scores / classes from the first.

isn't that was `cross_val_score` does?

[2017-03-25 19:57] amueller opened #8644 "mutual_info_score docs don't describe P(i, j)"
The docstring for mutual_info_score give a formula but doesn't explain all the terms:
http://scikit-learn.org/dev/modules/generated/sklearn.metrics.mutual_info_score.html

[2017-03-25 20:03] amueller commented on #8644
Also I slightly prefer the set cardinality formula over the probability formula, or at least I think the user guide at least should also provide the set cardinality formulation as it is in the IR book:
https://nlp.stanford.edu/IR-book/html/htmledition/img1402.png

[2017-03-25 20:05] amueller commented on #8644
also R and C should be replace as in the user guide, I think.

[2017-03-25 20:20] amueller opened #8645 "NMI and AMI are not explained well in the user guide"
http://scikit-learn.org/dev/modules/clustering.html#mutual-information-based-scores

All are between zero and one, but there is no concise explanation of the difference between the three, except that NMI is used in the literature and AMI is used more recently.

There is a nice explanation in the IR book:
[code]
Basically (if I understand correctly): MI is perfect if one is a sub-partition of the o

[2017-03-25 20:24] amueller commented on #8645
This was not what I was expecting:
![image](https://cloud.githubusercontent.com/assets/449558/24325807/85682f58-1177-11e7-9645-ca52ab658ce7.png)

[2017-03-25 20:50] amueller commented on #8645
http://scikit-learn.org/stable/auto_examples/cluster/plot_adjusted_for_chance_measures.html maybe this would be a good example to enhance?

[2017-03-25 20:55] amueller opened #8646 "Cluster evaluation user guide should be split in supervised and unsupervised, possibly with a table summarizing them."
The beginning of the cluster evaluation metric section should list all the metrics and list whether they are supervised or unsupervised, similarly to how listings are done for the other metrics.
Maybe this would be a chance to actually move this section to the metrics page in the user guide where this belongs? [Had we decided against doing that, don't remember any more]

[2017-03-25 20:57] amueller opened #8647 "calinski_harabaz_score not used in any example, unclear when to use"
The docs on calinski_harabaz_score are really thin and it's not used in any example.
It's very unclear how it relates to and compares against silhouette score, which is the only other unsupervised cluster metric.

[Also, guess what I'm working on today]

[2017-03-25 21:01] amueller commented on #8647
It looks like there are no upper or lower limits to this score. Is that right? Does this scale with the number of data points?

[2017-03-26 01:20] jnothman commented on #5090
no. cross_val_score takes the average of a set of conditionally independent
metric evaluations. Running a metric over the output of cross_val_predict
may be identical for some metrics, but unlikely for ranking-based metric
like ROC

What estimator are you using? Does the categorical prediction not
correspond to an argmax?

On 26 Mar 2017 3:14 am, "Al Johri" <notifications@github.com> wrote:

[2017-03-26 01:27] aryamccarthy commented on #7646
Bump. Is there an agreement on how to approach this?

[2017-03-26 04:57] jnothman commented on #8646
I think it should be pulled into its own page.

On 26 Mar 2017 7:55 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-03-26 04:58] jnothman commented on #8647
There are a more than a couple of open prs to enhance model selection
support for clustering...

On 26 Mar 2017 8:01 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-03-26 05:01] jnothman commented on #7646
Is there an easy fix (special casing 'groups') for this? I feel like a
proper one is a while off yet.

On 26 Mar 2017 12:27 pm, "Arya McCarthy" <notifications@github.com> wrote:

[2017-03-26 17:30] amueller commented on #8647
@jnothman i know, but that's somewhat disjoint from documenting what's already there, right?

[2017-03-26 17:32] amueller commented on #8607
I think ``class_weight`` is the right parameter, and in the meantime we got rid of "auto" which is nice.
What does this have to do with multi-output / how is it different from usual class-weight with multi-output?

[2017-03-26 17:35] amueller commented on #8614
Yes, definitely related to #6663. Though I think I would implement it as a meta-estimator and not a transformer and I would add cross-validation to adjust the threshold using mentioned strategies.

[2017-03-26 20:26] vb8190 opened #8650 "learning_curve API does not work with StratifiedKfold"
Hi,

I am using scikit learn version 0.18.1

The learning_curve api's cv attribute is not taking StratifiedKfold object. Following code I am trying to execute.

estimator = XGBClassifier(objective='multi:softprob',learning_rate= 0.3,seed=27)
skfold = StratifiedKFold(n_splits=10, shuffle=True, random_state=7)
train_sizes, train_scores, test_scores = learning_curve(
    estimator, X, train_y, cv=skf

[2017-03-26 20:38] jnothman commented on #8647
well I suppose anything that can be illustrated with a cluster model
selection library can be illustrated with an example. But the point would
be to compare to silhouette in terms of runtime and discrimination.

On 27 Mar 2017 4:30 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-03-26 20:45] glemaitre commented on #8607
When considering multi-output, you will have to decide how each target in `y` will affect the bootstrapping.
From what I understand from the last post in #5181, the class statistics could be computed from the union of the different targets given  in `y` to deice how to sample.

@amueller I am not sure if I am in line with your thoughts?

[2017-03-26 21:13] amueller opened #8651 "Add plotting function for silhouette plot"
There's a nice example for silhouette plots:
http://scikit-learn.org/stable/auto_examples/cluster/plot_kmeans_silhouette_analysis.html#sphx-glr-auto-examples-cluster-plot-kmeans-silhouette-analysis-py

I think this would be a good candidate for getting it's own plotting function.

[2017-03-26 21:16] amueller commented on #8651
(or at least it should be a copy-pastable function, but I think having a plotting function in the ``plot`` module would be even better)

[2017-03-26 22:16] jnothman commented on #8650
Please use learning_curve from sklearn.model_selection. The version you are
using is deprecated

On 27 Mar 2017 8:57 am, "vb8190" <notifications@github.com> wrote:

[2017-03-26 22:17] #8650 closed

[2017-03-27 00:50] amueller commented on #1091
This is an actual implementation of what @jnothman proposed above.
I hard-coded ARI but there is no reason for that. Most clustering algorithms don't have ``predict`` so I don't rely on that.

[code]

[2017-03-27 07:42] marverlous811 opened #8654 "fetch_mldata error"
`from sklearn.datasets import fetch_mldata`
`mnist = fetch_mldata('MNIST original', data_home='./data')`

when I use this, it not working and in cmd show

`Traceback (most recent call last):
  File "mnistTest.py", line 7, in <module>
    mnist = fetch_mldata('MNIST original', data_home='./data')
  File "C:\Python27\lib\site-packages\sklearn\datasets\mldata.py", line 142, in
fetch_mldata
    mldata

[2017-03-27 08:46] andreatramacere opened #8655 "The haversine metric in DBSCAN is too slow"
#### Description

The  haversine metric in the DBSCAN is too slow, it could be much faster using
the 'cosine' distance for cartesian coordinates of the unit sphere.
[code]
where pos and pos_ref are the (x,y,z) cartesian coordinates on the uni sphere for the reference
point  the array of points. With this implementation you get rid of all the trigonometric functions used
in the  haversine formula (

[2017-03-27 09:23] glemaitre commented on #8654
Duplicate #8588

[2017-03-27 13:54] lesteve commented on #8654
Thanks @glemaitre closing

[2017-03-27 13:54] #8654 closed

[2017-03-27 13:55] lesteve commented on #8654
@marverlous811 if you can remember to close the issue next time. This helps maintain some sanity in our bug tracker, thanks!

[2017-03-27 14:17] lesteve commented on #8641
I am guessing this does not cause a problem in the computation. `pi` is just set to 0 in this case. Maybe we could ignore overflow warning in this case to reduce noise? PR more than welcome.

[2017-03-27 14:38] marverlous811 commented on #8654
ok, I'll remeber that. Thank a lot

[2017-03-27 15:37] rth commented on #8655
I believe this is similar to the angular distance proposed in PR https://github.com/scikit-learn/scikit-learn/pull/7829, isn't it?

[2017-03-27 16:09] andreatramacere commented on #8655
I think so. I have also checked that the max difference between 'haversine' and cosine distance is ~10^-15, I guess you should add this method.
Regarding the +1.0 in the argument of arccos, it has to be there, just check how is defined 'cosine' distance in cdist:
https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.cdist.html,
and how to go from 'cosine' distance to a  metri

[2017-03-27 17:04] rth commented on #8655
I agree regarding the relationship between angular and cosine distances and this metric would be added when the above PR by @lmcinnes  is merged  .

You mean, you disagree with this comment https://github.com/scikit-learn/scikit-learn/pull/7829#discussion_r86870853 ? Feel free to comment on that PR, I still don't believe the `+1` should be there.

Isn't the haversine (or great-circle) distance is

[2017-03-27 17:21] andreatramacere commented on #8655
Great-circle and angular distance  on a sphere are the same:

http://www.nosco.ch/mathematics/en/great-circle.php

You want to measure the angle between two vectors starting from the center of the sphere and pointing toward two different points of given longitude and latitude. Hence, using the angular distance on the unite sphere is the same of the haversine formula. You need the +1 if you use the

[2017-03-27 17:42] rth commented on #8655
Yes, but the former takes in latitude longitude (e.g. ~ spherical coordinates) while the later requires Cartesian coordinates . So if one just takes lat / lon and put that into the angular distance it's not going to work, right?

OK, I see what you mean. The above linked PR doesn't not compute the cosine distance; it computes the cosine similarity and just applies the arccos.

[2017-03-27 18:16] mjziebarth commented on #8655
@rth Using conversion to euclidean vectors is numerically imprecise once distances get small.

See e.g. this script:
`
import numpy as np
from scipy.spatial.distance import  cdist

def spherical_to_cartesian(lon,lat, ind=None,unpacked=False):

    ang_coord=np.column_stack((lon,lat))
    x=np.cos(ang_coord[:,1])*np.cos(ang_coord[:,0])
    y=np.cos(ang_coord[:,1])*np.sin(ang_coord[:,0])
    z=np.si

[2017-03-27 19:03] rth commented on #8655
@mjziebarth Thanks a lot for your response! ( Could you please just edit your commend and add [the quotes for the syntax highlighting](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code-and-syntax-highlighting) so it's more readable? thanks. )

@andreatramacere I think I understand what you mean, sorry about the confusion. You would like that when the user calls `DBSCAN` with th

[2017-03-27 20:55] andreatramacere commented on #8655
@mjziebarth I have to check the issues on small distances, but the time to convert fro spherical to cartesian it is not relevant, you do it once to the full data set, and let DBSCAN work with the d_sp function

[2017-03-27 20:57] MerwaneHAMADI opened #8657 "Wrong name for calinski_harabaz_score"
It should be calinski_harabasz_score and not calinski_harabaz_score. This can cause problems to find it. I suggest a modification.

[2017-03-27 21:00] andreatramacere commented on #8655
@rth I would like to work passing the x,y,z and passing as metric the function d_sp, but  it seems to be a bit problematic. I will think about a bit more. I tried passing the callable function, but computational time is unacceptable. I think that flexibility on metric is something that clustering algorithm should have in general. I will probably rewrap on my own your dbscan implementation allowing

[2017-03-27 21:48] jnothman commented on #8657
Right! Well we'll need to support the old name during deprecating, but yes,
it should be changed. Please submit a PR of you wish

On 28 Mar 2017 7:57 am, "MerwaneHAMADI" <notifications@github.com> wrote:

[2017-03-27 21:48] andreatramacere commented on #8655
@mjziebarth I checked your example, you have a relative error of 0.15 on a distance of 10^-6 deg, the error get worst for dist<10^-6 deg, but given the small value of the angle, it might still be ok for most of the applications. Anyhow you made a good point, in my application I was always dealing with values of  about 10^-3 deg. I will see if this can be improvded
![image](https://cloud.githubuser

[2017-03-27 22:31] andreatramacere commented on #8655
@mjziebarth the discrepancy between the two methods holds only for latitude=0. i.e. your input value,  if you change latitude
[code]
the trend is the same for both 'haversine' and 'cosine'
![image](https://cloud.githubusercontent.com/assets/12498415/24380798/75f6d0c4-134d-11e7-828c-a10b206867b0.png)

[2017-03-28 02:35] mvcflip commented on #8641
I don't think the problem is benign. I'm also running into this issue with one set of simple training data, and the Specificity is 0. The data works fine with other classifiers (LinearRegression, RandomForrest, NaiveBayes).

`/python2.7/site-packages/sklearn/gaussian_process/gpc.py:409: RuntimeWarning: overflow encountered in exp
  - np.log(np.diag(L)).sum()
/python2.7/site-packages/sklearn/gaussi

[2017-03-28 07:41] mjziebarth commented on #8655
Okay, I see. I'm not at all involved with scikit-learn, so I just supposed you would have transfered the (lon,lat) pairs.

@andreatramacere Concerning the second example, did you also set the comparison points accordingly?
[code]
For me haversine then returned the correct distance (off only by close to machine precision). If that wasn't the case, you would of course end up with minimum distance 1e

[2017-03-28 08:06] andreatramacere commented on #8655
@mjziebarth you are right! If possible the solution to have  the arccos based distance would be great, passing directly (X,Y,Z), or letting the interface to handle it, anyhow the conversion from spherical to cartesian should happen before the iteration through the points begins, and never during.
Thanks!

[2017-03-28 08:16] rth commented on #8655
Aww, if you do the spherical to Cartesian conversion beforehand, passing a custom function is not an issue (see e.g. https://github.com/scikit-learn/scikit-learn/issues/6256) Writing your custom distance function in cython might help.

[2017-03-28 09:28] lesteve commented on #8642
IIUC you are saying that your naive `__sizeof__` implementation would work for most estimators but the ones containing trees, e.g. DecisionTreeClassifier?

[2017-03-28 09:35] MerwaneHAMADI commented on #8657
Ok, I am going to modify every file that contains the string "harabaz" and replace the string by "harabasz".
Can you confirm that by searching "calinski repo:scikit-learn/scikit-learn", I will find all the files concerned?
![image](https://cloud.githubusercontent.com/assets/9652976/24398671/9b73fe64-13aa-11e7-9ec3-bdb29b20ebe9.png)

[2017-03-28 09:39] lesteve commented on #8641
@mvcflip can you post a stand-alone snippet reproducing the problem?

[2017-03-28 09:43] lesteve commented on #8625
I am going to close this one then. We may reopen when pypy support scipy.

[2017-03-28 10:30] denkorzh opened #8659 "Index out of bounds in KMeans fitting"
This is my code:
[code]
After that I get an error:
[code]

[2017-03-28 11:21] raghavrv commented on #8657
Hi,

You've submitted a PR to your fork... You should be submitting one at https://github.com/scikit-learn/scikit-learn/compare

Let me know if you run into troubles...

[2017-03-28 11:31] lesteve commented on #8659
Please remember to search issues (including closed ones) before opening a new one. This should be fixed in master, see https://github.com/scikit-learn/scikit-learn/issues/8583.

[2017-03-28 11:32] #8659 closed

[2017-03-28 13:50] cjermain commented on #8588
FYI, mldata.org is still down.

[2017-03-28 14:16] datafool commented on #8588
While breaking my head to get the data, I found this github repository which contains most of the data - https://github.com/vincentarelbundock/Rdatasets However, this will involve downloading .Rda or csv file and converting it in the required format which can be consumed by sklearn.

[2017-03-28 14:55] mikiobraun commented on #8588
mldata.org (and also mloss.org unfortunately) servers were very sick... we're on it.

[2017-03-28 15:51] amueller opened #8660 "Add example on t-sne perplexity"
I think we should add an example on t-sne perplexity. Tuning it can be really important.
See http://distill.pub/2016/misread-tsne/

We should see if there is a good example using any of our standard datasets. Maybe lfw?
I played around with the "water treatment plant" from UCI which was quite interesting, though I'm not sure we can get that from mldata.

We can also use a higher-dim synthetic exam

[2017-03-28 17:54] raghavrv commented on #8588
@jnothman @amueller @mfeurer Time to add openml.org fetcher? ;)

[2017-03-28 18:51] NarineK commented on #8660
May I work on this @amueller ?

[2017-03-28 21:26] gfleetwood commented on #5967
I'm getting this error as well using cross_val_score with Python 2.7 Anaconda on Windows 10.

[2017-03-28 21:52] NarineK commented on #8660
It seems that mldata.org is still down. I can try for synthetic data.

[2017-03-28 22:09] jnothman commented on #8588
The way these things are going, I wish we had some way to not rely on the
availability of a single unassured host. Ugh. Torrents anyone?

On 29 Mar 2017 4:54 am, "(Venkat) Raghav (Rajagopalan)" <
notifications@github.com> wrote:

[2017-03-29 02:32] tboex commented on #8645
@amueller May I work on this for GSoC?

[2017-03-29 02:38] gfleetwood commented on #5967
X_train is a numpy array (I also tried X as a Dataframe) and y_train is a categorical series which are products of train_test_split. The versions of numpy, scipy, and pandas are 1.11.3, 0.18.1, and 0.19.2 respectively. Weirdly, I get the same error when y is the values instead of the series itself.

[2017-03-29 03:42] jnothman commented on #8645
This doesn't seem to be the sort of substantial but focussed project we're
looking for GSoC...?

On 29 March 2017 at 13:32, Tim Boex <notifications@github.com> wrote:

[2017-03-29 03:44] jnothman commented on #5967
Does that error also involve take_nd?

On 29 March 2017 at 13:38, Gordon Fleetwood <notifications@github.com>
wrote:

[2017-03-29 03:44] jnothman commented on #5967
If you can post a standalone snippet that would be helpful. Mark's above
relies on Final_DF which is not provided.

On 29 March 2017 at 14:43, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-03-29 04:23] jmschrei commented on #8645
This likely isn't a large enough project for GSoC, but it would be a good contribution. @tboex if you could open a PR with the changes it would be much appreciated!

[2017-03-29 04:25] gfleetwood commented on #5967
Yes, it's the same error. Here's the latter part of my code:

`from sklearn.model_selection import train_test_split
X = data_encoded.drop(['target'], axis = 1)
y = data_encoded.targert
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = .75, stratify = y)

import sklearn.feature_selection as sk_fs
selector = sk_fs.SelectKBest(sk_fs.f_regression, k = 10)
X_train_best10 = selector

[2017-03-29 05:05] jnothman commented on #5967
And what does your code and the error look like "when y is the values
instead of the series itself"?

On 29 March 2017 at 15:25, Gordon Fleetwood <notifications@github.com>
wrote:

[2017-03-29 05:10] jnothman commented on #5967
Could you please make your snippet standalone, i.e. not dependent on
variables like data_encoded?

On 29 March 2017 at 16:05, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-03-29 05:10] jnothman commented on #5967
Series alone does not seem to be the problem. I can do:
[code]

On 29 March 2017 at 16:10, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-03-29 06:31] ryanrozich opened #8662 "users should be able to specify number of decimal places to round when displaying proportions in decision trees using tree.export_graphviz()"
I'm working on training a classification tree to predict rare events (website conversions) - using `proportion=True` option in `tree.export_graphviz()` is nice because it shows me conversion rates for the various nodes in the tree.

Because these are rare events and because I'm building the tree from hundreds of thousands of samples, there is a significant difference between proportions 0.01 and 0

[2017-03-29 07:34] ageron commented on #8588
Or mirrors?

[2017-03-29 08:07] lesteve commented on #8588
Or figshare ... there is an issue https://github.com/scikit-learn/scikit-learn/issues/7425 and a PR https://github.com/scikit-learn/scikit-learn/pull/7429.

[2017-03-29 09:27] VathsalaAchar opened #8664 "Wrong image used in the user guide for Gaussian mixture models"
#### Description
Simple documentation fix for image at [http://scikit-learn.org/stable/modules/mixture.html#estimation-algorithm-variational-inference](url)

#### Fix
I'm working on a PR to sort this out, but I thought I'd raise an issue in case this was known already and being worked on. This affects the 0.18.X branch and not the master.

[2017-03-29 12:19] rth opened #8666 "csr_matrix.toarray() fails for arrays with more than 2**31 elements"
As stated in the title, with  scipy <= 0.18.1  `csr_matrix.toarray() `fails for arrays with more than 2**31 elements  (cf. parent issue https://github.com/scipy/scipy/issues/7230).

This is a fairly uncommon issue because the input arrays would take >40 GB RAM in this case, however it was observed in,
   - http://stackoverflow.com/questions/42543125/could-not-convert-integer-scalar-error-when-usin

[2017-03-29 13:58] ogrisel commented on #8588
availability of a single unassured host. Ugh. Torrents anyone?

I like the torrents solution as it's decentralized but unfortunately there are many corporate and institutional environment where the bittorrent protocol is banned...

That being said http://academictorrents.com is a great tracker, especially if you are interested in fetching large datasets like MSCOCO, ImageNet and OpenImages.

--
Ol

[2017-03-29 14:30] tbsexton commented on #8468
@amueller This is exactly what the pipline I've linked does. The `FunctionTransformer(pre.get_labeled_data)` call in the pipleline is accepting the original sample set and discarding the ones with a `-1` label. This is where the problem arises, since the `GridSearchCV()` fails when the input sizes are not all the same.

Even if I did force it to run by making a custom estimator instead of an extra

[2017-03-29 14:55] gfleetwood commented on #5967
I found the problem. I had cast some columns to the categorical type. When I removed that line of code everything worked as it should.

[2017-03-29 15:11] GaelVaroquaux commented on #8588
+1 for figshare

[2017-03-29 16:30] simonm3 opened #8668 "Attribute error with import scipy.sparse as sp"
c:\users\s\anaconda3\lib\site-packages\sklearn\utils\validation.py
line 15 import scipy.sparse as sp
AttributeError: module 'scipy' has no attribute 'sparse'

I don't know why this happens. import scipy.sparse works but not import scipy.sparse as sp

[2017-03-29 18:59] gfilla commented on #8588
Anyone looking specifically for code on getting the MNIST data set can use this from Tensorflow:

[code]

[2017-03-29 19:24] simonm3 commented on #8668
After uninstalling and reinstalling it seems to have gone away. Could be to do with incompatible versions or something.

[2017-03-29 19:24] #8668 closed

[2017-03-29 19:51] mvcflip commented on #8641
@lesteve here's the data and script that repro's the issue: [gpc_test_8641.zip](https://github.com/scikit-learn/scikit-learn/files/880215/gpc_test_8641.zip)

In the latest Anaconda distribution, it fails to train, complaining about infs or NaNs. The training features are all well behaved.

[code]

[2017-03-29 20:58] avannaldas commented on #8628
May be "LeftHotEncoder" and "RightHotEncoder", if the latter scenario makes sense? Is this taken up by the way?

[2017-03-29 21:01] avannaldas commented on #8628
Apologies, I guess it's taken up and WIP.. didn't notice the PR reference.. am on a mobile device.

[2017-03-29 21:03] jnothman commented on #8468
One option is to code up a cv splitter which simply always puts the
unlabelled in the test set

On 30 Mar 2017 1:30 am, "Thurston Sexton" <notifications@github.com> wrote:

[2017-03-29 21:04] jnothman commented on #5967
i suppose categorical columns are something we should support

On 30 Mar 2017 1:55 am, "Gordon Fleetwood" <notifications@github.com> wrote:

[2017-03-29 21:06] GaelVaroquaux commented on #5967
It used not to be possible because the categorical dtype was not a numpy
dtype. Maybe this has changed lately? I haven't followed.

[2017-03-30 07:22] lesteve commented on #8664
Closing this one. The reason is given in https://github.com/scikit-learn/scikit-learn/pull/8665#issuecomment-290069914.

[2017-03-30 07:22] #8664 closed

[2017-03-30 08:15] lesteve commented on #8623
Given @raghavrv's https://github.com/scikit-learn/scikit-learn/issues/7811#issuecomment-289172964, and the fact that I can reproduce an oscillation rather than a steady increase, I don't think this is a memory leak. I am going to close this one.

[2017-03-30 08:15] #8623 closed

[2017-03-30 09:19] #4480 closed

[2017-03-30 09:55] andreas-hjortgaard opened #8670 "Stratified train_test_split with binarized labels mixes up train and test data!"
Hi scikit-learners,

I have a problem using the `train_test_split` with binarized labels in a multilabel setting. Specifically, I tried to use the `stratify` parameter to even out the data between the splits. I know (now) that stratified sampling in the multilabel setting is a tricky issue.

In my code I had encoded the labels with the `MultiLabelBinarizer` before calling the `train_test_split`and

[2017-03-30 12:14] #8620 closed

[2017-03-30 12:21] #8481 closed

[2017-03-30 14:10] fdas3213 opened #8671 "Index error when using fit_transform"
I am doing text classification on sentiment analysis, where I have a large training set and test set

[code]

The first column of train_data_df is label, which has value 1 if email is a personal attack and 0 if not. The second column of train_data_df is comment, which is the email content. However, when I try to use fit_transform to transform corpus into feature vectors, I got
[code]

Below is the

[2017-03-30 14:26] lesteve commented on #8671
Can you edit your message so that your snippet is correctly formatted please? At the moment it has some syntax errors.

Also could you paste the full stacktrace that you get?

Bonus points if you use [syntax highlighting](https://help.github.com/articles/creating-and-highlighting-code-blocks/#syntax-highlighting) with `py` for python snippets and `pytb` for tracebacks.

[2017-03-30 14:31] fdas3213 commented on #8671
@lesteve Sorry about this. I just updated the message and made some fix

[2017-03-30 16:25] rth commented on #8671
@fdas3213 See http://stackoverflow.com/a/41526359/1791279

[2017-03-30 17:32] lesteve commented on #8671
Closing, thanks @rth.

[2017-03-30 17:32] #8671 closed

[2017-03-30 18:20] fdas3213 commented on #8671
@rth thank you!

[2017-03-30 19:29] ieee8023 commented on #6204
Maybe I am experiencing the same bug/issue?

![screen shot 2017-03-30 at 13 14 26](https://cloud.githubusercontent.com/assets/446367/24522432/8c1870d0-155d-11e7-8963-7ff0a50b6f23.png)

[2017-03-30 21:24] chyikwei commented on #8020
Hi,
Just notice this issue.

`random_init` is only enabled in training. In`transform`, It is [disabled](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/online_lda.py#L580-L581) to make sure the results are consistent.

And I am not sure if there is a standard for this. In `gensim` it uses random initialization([code](https://github.com/RaRe-Technologies/gensim/blob/d

[2017-03-30 21:25] jnothman commented on #8670
Right so some data validation in stratification, where now it might be
incorrectly flattening the data? I've by confirmed the behaviour, but if
that's the issue, a pull request is welcome

On 30 Mar 2017 8:55 pm, "andreas-hjortgaard" <notifications@github.com>
wrote:

[2017-03-30 21:41] chyikwei commented on #8020
And for refactoring, I think it will be good to separate `batch` and `online` models. (Or only use `batch` method in `fit`, and `online` method in `partial_fit`)

Online learning is faster but it require user to set a lot of parameters (`total_samples`, `learning_decay`, `learning_offset`, `batch_size`).

Also `n_jobs > 1` is only useful in `batch` learning. (unless the `batch_size` is set to a la

[2017-03-30 22:55] iosonofabio commented on #6204
Quite possible. Can you post the plot of the sklearn TSNE with an explicit `learning_rate=200` or even `100`?

[2017-03-31 02:13] VitamintK opened #8673 "Remove deprecated attribute residues_ from LinearRegression docs"
#### Description
I may be wrong, but I believe residues_ was deprecated in 0.19.  But it is still in the docstring.  Is it (along with coef_) still existent, or do they only remain in documentation by accident?

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/base.py#L436

[2017-03-31 05:10] saksim opened #8674 "HOW TO DEAL WITH THE NEW INPUT DATA WITH LabelEncoder"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2017-03-31 05:11] saksim commented on #8674
Hi, gays
Actually, I am a beginner in python and I have an issue which extremely needed to be solved refers to LabelEnconder.

Background:
As we know we can use numpy.unique or sklearn.XXXX.LabelEnconder transform non-numerical data into numerical data.

ISSUE:
I wanna know how to deal with new input data! The reason why such issue confuses me is related to how we can ensure the input new non-nume

[2017-03-31 07:11] NarineK commented on #8660
I tried to apply t-sne on standard S-curve. We can observe similar phenomena described in the blog. The higher the perplexity the clearer the shape.
![s-curve](https://cloud.githubusercontent.com/assets/12010601/24540062/5d11d3aa-15a6-11e7-87b8-a3c02de11846.png)

[2017-03-31 07:39] glemaitre commented on #8674
This GitHub --- "Issue" --- is much more linked to a bug tracker.
Next time use the mailing list and the gitter or stack-overflow for such question -> https://github.com/scikit-learn/scikit-learn#communication

I think that you are confusing categorical data present in `X` and label/target present in `y`.
[`LabelEncoder`](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.Label

[2017-03-31 07:47] ageron commented on #8588
@mikiobraun Any news? It seems that mldata.org is returning "Page unavailable" for every request. AFAICT, mldata.org was managed by the European project PASCAL2, which was [closed about 3 years ago](http://cordis.europa.eu/project/rcn/85729_en.html).  Who is in charge (and paying) for the servers now?

[2017-03-31 07:55] saksim commented on #8674
@glemaitre Thanks for your feedback! I will try your tips ASAP.
By the way,next time I will pull this kind issue in Stack-Overflow or use the mailing list

Best Wishes,
WeiWei

[2017-03-31 07:55] #8674 closed

[2017-03-31 09:18] saksim commented on #8674
Dear Sir @glemaitre :
I tried your recommendation, while OneHotEncoder is not available for string. I pull this issue again in the stack overflow at:
https://stackoverflow.com/questions/43136598/how-to-convert-the-new-input-non-numerical-data-into-numerical-data
If it possible, you can answer my new questions again.

Best Wishes,
WeiWei

[2017-03-31 09:18] saksim commented on #8674
Dear Sir @glemaitre :
I tried your recommendation, while OneHotEncoder is not available for string. I pull this issue again in the stack overflow at:
https://stackoverflow.com/questions/43136598/how-to-convert-the-new-input-non-numerical-data-into-numerical-data
If it is possible, you can answer my new questions again.

Best Wishes,
WeiWei

[2017-03-31 09:43] glemaitre commented on #8674
You might want to give a look at:

- http://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html
- https://github.com/amueller/introduction_to_ml_with_python/blob/master/04-representing-data-feature-engineering.ipynb -> the section refering to the one hot encoding.

[2017-03-31 09:57] saksim commented on #8674
Git it~Thanks a lot!

[2017-03-31 11:54] VasLem opened #8675 "Problem with SparseCoder Object, dictionary not assigned"
## Code

[code]

## Output
[code]

'dictionary' parameter is not assigned, only 'components_'. This causes GridSearchCV function to drop an error when called using a pipeline, with this object inside. :
[code]

[2017-03-31 14:58] amueller opened #8676 "OneClassSVM returns float in predict"
It should return int to be consistent with the rest.

[2017-03-31 14:59] amueller opened #8677 "Outlier detection common tests?"
I think we should add some common tests for outlier detection, see #8676.

[2017-03-31 15:03] amueller opened #8678 "TargetTransformer meta-estimator?"
A relatively common pattern is to change y according to some function for prediction, for example by using a logarithm in regression.
Usually you want to measure the performance in the original space, so you need to transform y back before scoring.
That's really easily done using a meta-estimator.
I think I reimplemented the logy meta-estimator about 10 times, so I think we should just add it. And

[2017-03-31 15:04] amueller commented on #8607
Honestly I'd be fine with raising an error if anyone tries to do that with multi-output. Unless there is a reference on what to do in this case.
We can always add that later. For multi-class, it's obvious whats to do and I think that's by far the most common usecase.

[2017-03-31 15:05] GaelVaroquaux commented on #8678
Or should we wait till the sprint, and try to sort out the transforming y
API issue?

I have the feeling that implementing this as a meta estimator is the door
open to hacks over hacks and clumsy API. It's much harder to probe a
chain of meta estimators than a pipeline.

[2017-03-31 15:05] VathsalaAchar commented on #8676
I'm a new contributor to this repo, could I work on this?

[2017-03-31 15:06] amueller commented on #8607
Though I'm not sure I actually understand the problem. Whatever the target is, if ``class_weight`` is implemented, you can break it down to ``sample_weight`` and then use those, right? What does ``class_weight="auto"`` currently do in the multi-output setting?

[2017-03-31 15:09] amueller commented on #8676
Hey @VathsalaAchar. Sure, go for it.
Make sure you include a regression test that ensures the correct behavior.

[2017-03-31 15:09] amueller opened #8679 "Add short explanation of regression test do contributing docs."
Any bug-fix in sklearn needs a regression test. We should mention that in the dev docs (I couldn't find it), and give a very short example.

[2017-03-31 15:11] amueller commented on #8678
I think this is a different use-case that will only be possible to implement as a meta-estimator.
A pipeline can't do a transform and then back-transform it with the corresponding inverse.

[2017-03-31 17:11] amueller opened #8680 "add reference to where "digits" comes from"
It comes from here (I think).
https://archive.ics.uci.edu/ml/datasets/Optical+Recognition+of+Handwritten+Digits

It's not derived from MNIST, though also based on NIST data.

[2017-03-31 19:02] amueller commented on #8678
@GaelVaroquaux do you agree? I think we don't want to design a pipeline where we have additional steps after the call to ``predict``, but that's the only way to implement this in a pipeline.

[2017-03-31 19:08] amueller commented on #2034
So one particular usecase I keep running into is categorical vs continuous features. You usually don't want to scale or box-cox transform one-hot encoded features, and that's currently really painful to do.

Given that this is something that happens basically every time you want to use scikit-learn (not having categorical variables is a relatively rare special case) I think we should try for this

[2017-03-31 21:20] GaelVaroquaux commented on #8678
I don't understand. Isn't this the inverse_transform method of a
pipeline. You're probably talking about something different, but I don't
understand.

[2017-03-31 21:32] dourouc05 commented on #5516
Trying to exploit a confusion matrix, I find this "old" issue. The problem with the confusion matrix is that finding your way through the indices is a nightmare, hence problems with the definitions of rates mentioned earlier.

I am dreaming of a useable interface for this matrix, something like:

`confusion_matrix(actual, predicted).get(actual_class=2, predicted_class=3)`

Then, it could be extend

[2017-03-31 23:20] #8506 closed

[2017-04-01 03:58] fangxingli opened #8682 "confusion_matrix comments problem ?"
https://github.com/scikit-learn/scikit-learn/blob/14031f6/sklearn/metrics/classification.py#L189
 says: the count of true negatives is C_{0,0} ，is that correct? Is C_{0,0} means "false negatives" ?

[2017-04-01 05:21] #8682 closed

[2017-04-01 06:00] MechCoder opened #8683 "check_estimator fails for (non hard-coded) estimators that support 2-D y"
#### Description
If an external estimator supports 2-D y, then a DataConversionWarning will not be raised.

However, this will fail `check_supervised_y_2d` because it either expects such a warning to be raised or that the corresponding estimator is hardcoded in the global variable `MULTI_OUTPUT`

[2017-04-01 06:22] rasbt commented on #6545
Wow, November ... I had this on my "someday" to-do list, but I procrastinated quite a bit here ... sry! Was an almost boring Fri night and I felt like coding, just submitted an early PR for this where we may continue the discussion regarding the SFS. (I know that you are all very busy with 0.18.2 and there's GSoC... so no need to get to this soon since this is prob. low priority for now)

[2017-04-01 09:38] jnothman commented on #8675
No time to check this out right now, but it seems quite alarming to me, given that it implies basic functionality is broken. Thanks for the report

[2017-04-01 18:33] jakobworldpeace commented on #5975
@btabibian @raghavrv What is the status of this? I need a Poisson regression implementation for a project and would be willing to contribute.

[2017-04-01 18:49] raghavrv commented on #5975
Please go ahead :) I haven't had time for this sorry...

[2017-04-01 18:52] thenomemac commented on #5975
Same i haven't had time. Also I've been struggling with the API and how to
integrate offsets.  I could show the math or a code example in statsmodels.
But TLDR you need offsets if you want to use poisson regression with
unequal exposures (area or time) then you need offsets. The model doesn't
give the correct weighting if you just divide your counts by exposures.

On Apr 1, 2017 2:49 PM, "(Venkat)

[2017-04-01 18:57] jakobworldpeace commented on #5975
I will start looking into it then. @thenomemac thanks for the tip! I will check out the statsmodels implementation to see how they handle exposure.

[2017-04-01 21:30] b-carter opened #8686 "[DOC] Improve spec for model_selection.train_test_split"
#### Description

Looking at the doc for `model_selection.train_test_split`, it seems that there is no default specified for the `random_state` parameter (and also doesn't suggest that None is a valid value). Looking at the code, it appears that the default value is None, and in this case it returns the same RandomState singleton used by np.random (based on the spec of `utils.validation.check_rand

[2017-04-01 23:08] jnothman commented on #2034
I'd really like to see a user-friendly solution here too, and agree that
iloc would mostly be sufficient, but referencing columns by name makes much
more readable code.

I think we need to think about complex union/pipeline constructions from
the perspective of syntax, sort of how we have with make_pipeline, without
having to necessarily modify the estimators themselves

On 1 Apr 2017 6:09 am, "An

[2017-04-01 23:30] jnothman commented on #2034
Is it too magical to allow:
[code]

where elements which are -- instead of estimators -- lists, arrays or slices are handled as getters on the 2nd axis? I'm still not sure how to mediate between `iloc` and `loc` semantics.

[2017-04-02 02:16] jnothman commented on #8678
regardless of whether now or soon (and i don't think it would hurt to have
it coded up and documented before the sprint), I suspect this is the right
way to handle this use-case.

potential problems include:
* parameter name prefixing nuisance
* cases where the transformation of non trivial and it makes more sense to
score in the transformed space rather than the original

On 1 Apr 2017 8:20 am, "

[2017-04-02 02:19] jnothman commented on #8678
Gael, here we don't care to inverse transform X, and IMO this conceptually
does not fit a pipeline, but a wrapper around a predictor.

On 2 Apr 2017 12:16 pm, "Joel Nothman" <joel.nothman@gmail.com> wrote:

[2017-04-02 02:49] jnothman commented on #5516
for the binary case, we recently changed to documentation to make the tp,
fp, fn, tn counts more explicit in an example. Does that help?

On 1 Apr 2017 8:32 am, "Thibaut Cuvelier" <notifications@github.com> wrote:

[2017-04-02 03:43] jnothman commented on #8686
It should at least  say ", optional" and probably borrow a description from
somewhere else where the semantics of these values are described.

On 2 April 2017 at 07:30, Brandon Carter <notifications@github.com> wrote:

[2017-04-02 11:05] jnothman commented on #2034
One advantage of a more specialised implementation may be the ability to `inverse_transform` an appropriately constructed `FeatureUnion`..? Or is that too messy in any case?

[2017-04-02 11:38] dourouc05 commented on #5516
Indeed, that does help a bit, but not much more than this. (As a side note, it seems that there is a small syntax error in the documentation file, as that part of [the documentation](http://scikit-learn.org/dev/modules/generated/sklearn.metrics.confusion_matrix.html#r204) shows everything as a single line; a missing empty line before [line 240](https://github.com/scikit-learn/scikit-learn/blob/c5c

[2017-04-02 13:04] jnothman commented on #5516
Thanks for pointing out the blank line issue. Fixed.

I don't think you should expect an interface like your `get` one, even if I
agree the code is more legible. Ultimately, we ascribe a particular
convention for which axis is which and there's little more that we can
offer while dealing with standard classes of object.

Thanks for that paper from JIPM. I find some of the invariants they talk
abou

[2017-04-02 17:30] glemaitre commented on #5516
To be honest, I did not see the issue before. Since it has been tagged and if this is still of interest to have an implementation of those metrics, we have implemented a [`sensitivity_specificity_support`](https://github.com/glemaitre/imbalanced-learn/blob/master/imblearn/metrics/classification.py#L41) function in imblearn as well as the score functions.

I completely agree with @josephdviviano .

[2017-04-02 20:43] amueller opened #8687 "Add "ve" to stopwords"
I think we should add "ve" to the ENGLISH_STOP_WORDS constant.
The default tokenization splits ``I've"`` into ``['i', 've']``. ``have`` is in the stopwords, but not ``ve``.

Why do I care? I extracted common 4-grams on some IMDB review dataset and ``ve`` was the most common word among them:
![image](https://cloud.githubusercontent.com/assets/449558/24590893/807d7ad2-17c3-11e7-8aa5-df2d2096debf.png

[2017-04-02 20:46] amueller commented on #8687
Here are the 4-grams if anyone is interested: https://pastebin.com/EXaSeVrZ

Arguably we should then also add "don" (from don't) and "didn" (from didn't)

[2017-04-02 20:53] amueller opened #8688 "no error on CountVectorizer(ngram_range=(2, 1))"
I think if ngram_range[0] is greater than ngram_range[1] we should throw an error. Not sure what the current behavior is.

[2017-04-02 21:57] jnothman commented on #8687
If adding "ve", add "ll" and "don" and ("won"?) too. You're right that
these will surprise users and are dealt with differently in standard
English tokenizers for NLP. Really, it's a pretty non-standard default
tokenizer.

How to do this without backwards compatibility issues?

On 3 April 2017 at 06:46, Andreas Mueller <notifications@github.com> wrote:

[2017-04-03 01:39] mrbeann commented on #8688
Now there is no error occurred, this also happened in `HashingVectorizer` and`TfidfVectorizer`
I think we can add an error message in `VectorizerMixin`？

[2017-04-03 01:44] mrbeann commented on #8680
You mean we should add [here](http://scikit-learn.org/stable/datasets/index.html#id13)? But I already see some references.

[2017-04-03 03:35] summertop commented on #5953
I get this error: BadZipfile: File is not a zip file

(Following along with tutorial:

from sklearn.datasets import fetch_california_housing

housing = fetch_california_housing()

)

[2017-04-03 12:57] avannaldas commented on #8687
I believe it will be more appropriate to deal with the Contractions all together. We need to first source a decent corpus of these word forms and then provide a way to expand such words. Like "I'll" becomes "I will", "can't" becomes "cannot", and so on. And then the usual stopwords will hold good at these expanded words. But I see that will be an altogether different operation (sub operation at le

[2017-04-03 13:44] #8570 closed

[2017-04-03 14:18] giampierosalvi opened #8690 "Confusing description in documentation of predict_proba method in GMM"
#### Description
The description of the predict_proba method in sklearn.mixture.GMM is in my opinion misleading. This is currently the short description in the Methods section (version 0.18.1):
"Predict posterior probability of data per each component."
And in the description of the returned value it says:
"Returns the probability of the sample for each Gaussian (state) in the model."

This in my

[2017-04-03 14:33] bottydim commented on #8670
The problem is that there is no support for categorical output. I am having similar problems with StratifiedKFold and ys with dimensionality (n,>1):

X(5000, 44)
Y(5000, 2)
[code]
[code]

[2017-04-03 15:28] bottydim commented on #8670
I have made a stab at Solving the categorical issues through a CategoricalStratifiedKFold. Now we have to make sure that the definition in StratifiedShuffleSplit actually holds:

At the moment it is not reusing any code from the StratifiedKFold class

[2017-04-03 15:59] albertcthomas commented on #8677
I agree. I'm already familiar with `OneClassSVM`, `IsolationForest` and `LocalOutlierFactor`. I can suggest common tests for outlier detection algorithms implemented in scikit-learn.

[2017-04-03 16:32] #8244 closed

[2017-04-03 16:36] albertcthomas opened #8693 "Lack of consistency for decision_function methods in outlier detection"
#### Description

I think we could improve the consistency of the `decision_function` of the outlier detection algorithms implemented in scikit-learn.

- `decision_function` for OCSVM is such that if the value is positive then the sample is an inlier and if negative then it is an outlier. It takes into account the parameter `nu` which can be seen as a contamination parameter. The `decision_functio

[2017-04-03 16:40] jmschrei commented on #8690
Good catch. Can you open a PR and make the appropriate changes? If you tag me I'll go ahead and merge it.

[2017-04-03 17:41] amueller opened #8694 "CountVectorizer analyzer="char_wb" not well explained"
It looks like "char_wb" adds a space before and after each document. That makes sense, and is visible in the docs, but is not explained anywhere as far as I can see.
It's a bit counter-intuitive that it can generate larger vocabularies on toy examples:
[code]

[code]

I think we should at least mention this in the user guide, but probably also in the docstring of "analyzer".

[2017-04-03 21:57] jnothman commented on #8670
I guess it can be done approximately in the multi output case with a
lexsort over y, but you can't really guarantee that each class will be well
represented.

On 4 Apr 2017 1:28 am, "Botty Dimanov" <notifications@github.com> wrote:

[2017-04-03 21:58] jnothman commented on #8677
pull request welcome

On 4 Apr 2017 1:59 am, "Albert Thomas" <notifications@github.com> wrote:

[2017-04-03 22:41] jnothman commented on #8693
if there is substantial inconsistency in decision_function, should we be
providing a different method?

On 4 Apr 2017 2:36 am, "Albert Thomas" <notifications@github.com> wrote:

[2017-04-03 22:58] #8673 closed

[2017-04-03 23:45] jnothman opened #8695 "Tests for sample order invariance in estimator_checks"
While sample and feature order can have subtle effects on the model `fit` by an estimator, I think we should have common tests to ensure that reordering or subsampling `X` in `predict` or `transform` or `score_samples` or `predict_proba` or `decision_function` does not change the sample-wise output. That is:
[code]

Apologies if we already have such tests, but I can't see them (which is also an is

[2017-04-04 06:41] lesshaste commented on #8687
On this general topic,  https://nlp.stanford.edu/IR-book/html/htmledition/dropping-common-terms-stop-words-1.html argues against using stop lists for IR at least.

http://stackoverflow.com/a/33861832 suggests a different way to handle contractions.

[2017-04-04 07:39] jnothman commented on #8687
No, the IR book argues that web search engines use statistics rather than
stop words. Which just comes back to how much you can rely on statistics,
i.e. how much data you have.

There are lots of ways to handle the tokenisation+normalisation problem,
including removing punctuation before tokenizing. The default tokenizer +
stop word list here are not especially well tuned to work together. That's

[2017-04-04 11:55] chuber1986 opened #8696 "Wrong dimension in shape check of IncrementalPCA"
Hi,
in decomposition/IncrementalPCA.partial_fit() the checks the shape of the components matrix,
thereby it uses the wrong dimension.
It uses dimension 0 which should be n_samples (according to the documentation), but it should use 1 for n_features.
Change:
`
if (self.components_ is not None) and (self.components_.shape[0] != self.n_components_):
            raise ValueError("Number of input featu

[2017-04-04 12:47] MLopez-Ibanez opened #8697 "Inconsistency regarding 1d arrays vs column-vector between sklearn.preprocessing and sklearn.neural_network"
#### Description
There is no consistent way to avoid a warning without reshaping the data in the middle of the analysis.

#### Steps/Code to Reproduce
The following code (code 1):

[code]

results in the following warnings:

C:\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshap

[2017-04-04 13:18] glemaitre commented on #8697
You should not rescale `y`. Standardization, normalization are applied to the data `X` and not on the target.

[2017-04-04 13:25] glemaitre commented on #8697
And you should use a `Pipeline` for such processing. It will be much easier to cross validate and you use gridsearch tools from scikit-learn:

[code]

[2017-04-04 13:34] MLopez-Ibanez commented on #8697
Thanks. Yes you are right. I just copied the example from the book (https://www.packtpub.com/mapt/book/big-data-and-business-intelligence/9781783281930/2/ch02lvl1sec17/Predicting+house+prices+with+regression) without thinking too much about it. But I can imagine examples where one needs to apply scaling to the target.

Pipeline is nice when one is experienced, but for new users, it is often useful

[2017-04-04 14:11] albertcthomas commented on #8693
This is what I suggest but feedbacks are welcomed:

- We can provide a `score_samples` method that implements the score given in the original papers of LOF, Isolation Forest and Elliptic Envelope (with the convention bigger is better).

- `OneClassSVM` should definitely have a `decision_function` method because that's the term used for SVM in general (and in the original paper of the One-Class SVM

[2017-04-04 14:33] glemaitre commented on #8697
In fact `Pipeline` should be often used since that they allow to not make mistake when making cross validation. But this is true that one has to get familiar with the basics before to make the jump.

@MLopez-Ibanez Could you close this issue, if you don't any other concerns.

[2017-04-04 15:03] kmike commented on #8687
Since changing the default tokenizer is certainly backwards incompatible it leaves us with stop words list changes. For backwards compatibility it can be an additional constant, i.e. 'english' could be kept the same.

To make it more future proof it could make sense to preserve stop words list on pickling and don't resolve 'english' shortcuts each time. The downside is that `__repr__` could become

[2017-04-04 17:23] jakevdp commented on #8327
Sorry for the belated response. I don't think it's ad-hoc to normalize a kernel *density* estimate so that the result is actually a *density*. But perhaps the docs could be clarified that the KDE is returning an actual probability density.

[2017-04-04 17:29] AngeloK commented on #8688
Since `CountVectorizer`, `HashingVectorizer` and `andTfidfVectorizer` are inherited from `VectorizerMixin`, we can add a validation check in `VectorizerMixin`. I think using Python [property](https://docs.python.org/2/library/functions.html#property) is a good way.
For example:
[code]
I would like to work on it. I'm a new contributor, so any suggestions are welcome :)

References:
[1] https://docs

[2017-04-04 18:12] jakevdp commented on #8213
Keep in mind that the performance of KD trees will also depend heavily on the intrinsic dimensionality of the data. So, for example, it might be slower than brute for dense data, but faster than brute for sparse data. Unfortunately, that's difficult to determine cheaply from the dataset itself.

[2017-04-04 19:32] jifwin opened #8699 "Misleading gamma description"
In http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.KernelPCA.html gamma parameter descritpion says that it's used only by poly and rbf. This is not true. It's also used by sigmoid kernel.

[2017-04-04 20:56] rth commented on #8213
@jakevdp Thanks for your response! True, but  KDTree and BallTree in sckit-learn don't support sparse input I think, only LSHForest does (or something like PySparNN), so this issue would mostly affect dense arrays (for sparse ones brute forces would still be the default algorithm)...

[2017-04-04 21:06] jakevdp commented on #8213
Sorry – by sparse I didn't mean sparse matrices, but sparsity of structure within the volume of the dataset. That can hugely affect the performance of tree-based searches, and it means that it's difficult to come up with an easy-to-compute heuristic to estimate performance a priori.

[2017-04-04 21:49] rth commented on #8213
Aww, right, thanks for mentioning this! Then this is fairly problem specific, I'm not sure how easily one could improve over the current `algorithm="auto"`: I'm going to close this issue.

On the other hand, it might be worth updating a bit the [Nearest Negibors docs](http://scikit-learn.org/stable/modules/neighbors.html) where
  - sections 1.6.4.1 - 1.6.4.3 make it sound as though  brute force <w

[2017-04-04 22:38] jnothman commented on #8696
PR welcome

On 4 Apr 2017 9:55 pm, "chuber1986" <notifications@github.com> wrote:

Hi,
in decomposition/IncrementalPCA.partial_fit() the checks the shape of the
components matrix,
thereby it uses the wrong dimension.
It uses dimension 0 which should be n_samples (according to the
documentation), but it should use 1 for n_features.
Change:
if (self.components_ is not None) and (self.components_.sha

[2017-04-04 22:50] #8697 closed

[2017-04-04 22:51] jnothman commented on #8687
yes, I'm okay with an expanded stop list, and making it default in a couple
of versions' time.

On 5 Apr 2017 1:04 am, "Mikhail Korobov" <notifications@github.com> wrote:

[2017-04-04 23:07] jnothman commented on #8688
Hmm... We conventionally perform validation in `fit`, for good or bad.

On 5 April 2017 at 03:29, neyanbhbin <notifications@github.com> wrote:

[2017-04-04 23:08] jnothman commented on #8699
Thanks. PR welcome

On 5 April 2017 at 05:32, jifwin <notifications@github.com> wrote:

[2017-04-05 01:21] jmcol commented on #8695
Hi! I would like to work on this, but I'm new to this project. I took a look at estimator_checks.py and there's a lot there. Would this be a completely new test or would this be added to test_check_estimator?

[2017-04-05 01:41] jnothman commented on #8695
You could add part of this to check_classifiers_train, but then would need
the same for regressors, transformers and outlier detectors. The best way
to do it is often more apparent after trying one way.

On 5 April 2017 at 11:21, Jeff Colfer <notifications@github.com> wrote:

[2017-04-05 01:53] amueller opened #8701 "DataConversionWarning in Normalizer"
I think we got rid of all the DataConversionWarnings in the scalers recently but the normalizer still seems to have it.

[2017-04-05 01:55] amueller opened #8702 "TruncatedSVD explain_variance_ratio going up?"
Using Normalizer and TruncatedSVD I get this:
[code]
That seems odd to me. This is running CountVectorizer on the aclIMDB data. Shouldn't they be sorted by eigenvalues?

[2017-04-05 02:33] amueller opened #8703 "NMF objective not monotonously decreasing?"
Another silly question: shouldn't the NMF objective be monotonously decreasing? I have observed it increasing.

[2017-04-05 05:54] chuber1986 commented on #8696
I created a pull request for this issue: #8704

[2017-04-05 05:54] #8696 closed

[2017-04-05 07:14] jnothman commented on #8696
Usually we would close the issue only after the PR is merged.

On 5 April 2017 at 15:54, chuber1986 <notifications@github.com> wrote:

[2017-04-05 07:18] jnothman commented on #8696
This error message isn't entirely incorrect, assuming n_components
parameter is None. But it's a weird and limited way to ensure that there's
a consistent number of features before and after partial fit.

On 5 April 2017 at 17:14, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-04-05 07:23] chuber1986 commented on #8696
You're right! I realized that I got confused by n_components, n_components_, components and components_.
Sorry for premature closing the issue! *feeling_very_guilty*

[2017-04-05 07:29] jnothman commented on #8696
Oh, sorry, I don't mean to make you feel guilty! There's plenty of time to
make mistakes and learn.

On 5 April 2017 at 17:23, chuber1986 <notifications@github.com> wrote:

[2017-04-05 08:21] chuber1986 commented on #8696
:D No problem! I don't get offended that easy.

[2017-04-05 10:11] kmike commented on #8687
@jnothman default is None; are you talking about changing stop words list for 'english' constant instead of adding a new constant?

[2017-04-05 10:44] GillesJ commented on #7842
Do you think I should open an issue in the joblib repo?

[2017-04-05 11:16] amueller opened #8705 "LatentDirichletAllocation verbosity not very helpful by default"
LDA's verbosity for the online solver currently only makes sense if "evaluate_every > 0", which is not the default.
If ``evaluate_every == 0`` we should at least print how far along we are in iterations and what max_iter is, given that we always run max_iter many iterations in that setting.

[2017-04-05 11:19] amueller commented on #8705
For the batch setting it looks like there is no verbosity at all?

[2017-04-05 13:31] jnothman commented on #8687
yes, after a couple of versions. or is that impractical?

On 5 April 2017 at 20:11, Mikhail Korobov <notifications@github.com> wrote:

[2017-04-05 14:06] wqp89324 opened #8706 "custom scorer and optimization objective function?"
If I make a custom scorer with make_scorer, is this scorer only used in GridSearchCV and cross_val_score for scoring, or is it also used as the objective function for optimizing my estimator during training?

I come from stackoverflow and found conflicting answers here:[http://stackoverflow.com/questions/40720878/customize-loss-function-sklearn](url)

Thanks

[2017-04-05 14:18] njubatyrov commented on #8705
Hello. I would like to work on this.

[2017-04-05 14:21] glemaitre commented on #8705
@njubatyrov Go ahead ;)

[2017-04-05 14:40] kevinlmh commented on #8701
Hi. I am new to scikit-learn but I would like to work on this issue and start contributing.

[2017-04-05 15:16] glemaitre opened #8708 "Common test for score function when pickling estimator"
I was wondering why the `score` method is not part of the checking when pickling [`c.f.`](https://github.com/scikit-learn/scikit-learn/blob/02c705e115cdcf03f76789774baf8fed84092924/sklearn/utils/estimator_checks.py#L932)?

[2017-04-05 17:26] alanpurple opened #8709 "deprecation warning in example "document_classification_20newsgroups.html""
Function transform deprecation warning in example
http://scikit-learn.org/stable/auto_examples/text/document_classification_20newsgroups.html

because of
``
Pipeline([
  ('feature_selection', LinearSVC(penalty="l1", dual=False, tol=1e-3)),
  ('classification', LinearSVC())
``

since Pipeline use  transform function of the estimator 'LinearSVC()'

[2017-04-06 00:20] jnothman commented on #8701
you'd be welcome to

On 6 Apr 2017 12:40 am, "Minghui Liu" <notifications@github.com> wrote:

[2017-04-06 00:20] jnothman commented on #8706
it will not be the objective of, say, gradient descent, no, only the grid
search objective

On 6 Apr 2017 12:06 am, "wqp89324" <notifications@github.com> wrote:

[2017-04-06 00:23] jnothman commented on #8708
as long as pickling or unpickling doesn't break and some functionality is
consistent it's unlikely that anything is broken; can't test every
combination. Did you have a particular case in mind?

On 6 Apr 2017 1:16 am, "Guillaume Lemaitre" <notifications@github.com>
wrote:

[2017-04-06 00:31] jnothman commented on #8709
Fixed in master. See
http://scikit-learn.org/dev/auto_examples/text/document_classification_20newsgroups.html

On 6 April 2017 at 03:26, alanpurple <notifications@github.com> wrote:

[2017-04-06 00:31] #8709 closed

[2017-04-06 00:31] #8706 closed

[2017-04-06 00:32] glemaitre commented on #8708
In fact, I was just wondering why a test like this [one](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/tests/test_forest.py#L453) did not go in the common test.

[2017-04-06 00:33] jnothman commented on #8706
This is not an issue. Please feel free to ask your own question at StackOverflow or on the mailing list.

[2017-04-06 00:42] jnothman commented on #8708
score is a much weaker test of consistency than predict/decision_function.

On 6 April 2017 at 10:32, Guillaume Lemaitre <notifications@github.com>
wrote:

[2017-04-06 00:43] #8686 closed

[2017-04-06 00:49] glemaitre commented on #8708
That's true. So for the forest, this test is almost unnecessary since predict/decision_function will be tested in the common anyway, is not it? Or, as a good practise, this is good to cover this case as well?

I just wonder in case that I meet such coding case in future. Meanwhile, I am closing since it was just a question.

[2017-04-06 00:49] #8708 closed

[2017-04-06 00:50] jnothman commented on #8708
Yes, I'd say it is unnecessary.

On 6 April 2017 at 10:50, Guillaume Lemaitre <notifications@github.com>
wrote:

[2017-04-06 01:52] stoddardg opened #8710 "CalibratedClassifierCV doesn't interact properly with Pipeline estimators"
Hi,

I'm trying to use CalibratedClassifierCV to calibrate the probabilities from a Gradient Boosted Tree model. The GBM is wrapped in a Pipeline estimator, where the initial stages of the Pipeline convert categoricals (using DictVectorizer) prior to the GBM being fit. The issue is that when I try to similarly use CalibratedClassifierCV, with a prefit estimator, it fails when I pass in the data. H

[2017-04-06 02:09] amueller commented on #8710
Hm I get
[code]
but I'm on master. Either way, I agree that we don't need to do input validation here, it should be in in the base estimator.

[2017-04-06 02:12] stoddardg commented on #8710
I should have noted that in my actual use case, I get a different error
[code]
which is caused by a column of strings in the DataFrame that I pass.

[2017-04-06 02:14] amueller commented on #8687
I'd like to hear @ogrisel's take. And maybe @larsmans's? *light's incense for summoning spell*

[2017-04-06 02:18] amueller commented on #8687
@jnothman so you want to do a future warning if someone uses "english"? That doesn't provide users with a way to use the new feature, or with an easy way to avoid the warning. But it does safe us an additional deprecation cycle.

[2017-04-06 02:49] jnothman commented on #8710
I agree, we should not be validating X beyond the needs of safe_indexing or
similar. PR fixing it welcome.

On 6 April 2017 at 12:12, Greg Stoddard <notifications@github.com> wrote:

[2017-04-06 02:50] jnothman commented on #8687
No, I would mean that we could add 'english-expanded' ... it's messy either
way.

On 6 April 2017 at 12:18, Andreas Mueller <notifications@github.com> wrote:

[2017-04-06 02:51] amueller commented on #8687
That would probably be my preferred route, too. And then remove the old "english" and make it behave as "english-expanded" or just leave both?

[2017-04-06 02:52] amueller commented on #8710
FYI theoretically I would prefer ``make_pipeline(DictVectorizer(), CallibratedClassifierCV(RandomForestClassifier))`` because you don't need to cross-validate the DictVectorizer part (though you're prefitting anyhow I guess....
But that also doesn't work because #6451 (at least if the pipeline clones). I just recently realized that that will become a problem with pipeline in the future....

[2017-04-06 03:02] stoddardg commented on #8710
So this wasn't in my example above, but the pipeline gets put into GridSearchCV and then I want to calibrate the model chosen from GridSearchCV. How does GridSearchCV interact with CalibratedClassifierCV?

From my limited understanding, CalibratedClassifierCV produces K models, where each model is constructed with a K-1 folds, and then averages predictions from each of the K models to make a predi

[2017-04-06 03:33] amueller commented on #8710
Without prefit it's fine, with prefit it won't work right now :-/

You could just nest the GridSearchCV with the cross-validation of the CalibratedClassifierCV, thought that would be a bit computationally expensive.

[2017-04-06 04:30] mppaskov commented on #8676
I am new contributor and I am trying to learn my way around the code.

I think I might have found the problem, in [svm.cpp](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/src/libsvm/svm.cpp). Although the labels are 'int'
`model->label = Malloc(int,nr_class);`
in the function predict the value is cast into a double:
`double PREFIX(predict_values)(..){
...
return model->label[

[2017-04-06 04:56] rem2016 commented on #8676
@mppaskov I don't think so. I think that we can just overide the predict function and change the type to int.
Because that is how BaseSVC do the job.  You can find these lines in predict function:
[code]
BaseSVC's predict function use the predict from BaseLibSVM, and BaseLibSVM is the only super class of OneClassSVM.

[2017-04-06 05:22] jnothman commented on #8687
or just have english-v2 and keep them both

On 6 Apr 2017 12:51 pm, "Andreas Mueller" <notifications@github.com> wrote:

That would probably be my preferred route, too. And then remove the old
"english" and make it behave as "english-expanded" or just leave both?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/scikit-learn/

[2017-04-06 05:41] AngeloK commented on #8688
I think this case is same as the validation of [min_df, max_df](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_extraction/text.py#L676) and [max_features](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_extraction/text.py#L678)

[2017-04-06 06:25] jnothman commented on #8688
That's there for historical reasons. If we wrote that code today, it would
happen in fit.

On 6 April 2017 at 15:41, neyanbhbin <notifications@github.com> wrote:

[2017-04-06 06:26] jnothman commented on #8688
In particular, any validation should not *only* happen in __init__ because
things can change between __init__ and fit.

On 6 April 2017 at 16:25, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-04-06 10:45] lutz-hamel commented on #6261
I work on OS X and the graphviz stuff seems to be no longer properly supported there.  So I wrote a simple ASCII based decision tree visualizer for the sklearn DecisionTreeClassifier: tree _print (see attached).  One of the major benefits of decision tree models is that they are easy to understand by looking at them so having a *simple* way of visualizing them is important.  Perhaps this simple vi

[2017-04-06 11:08] jnothman commented on #6261
Yes, I quite like the idea of a text-based tree output. A pull request is
welcome, IMO. I would also consider making a limited-depth version the
default __str__ for Tree objects.

On 6 April 2017 at 20:45, lutz-hamel <notifications@github.com> wrote:

[2017-04-06 11:31] TomDLT commented on #8703
Yes it should be decreasing.
- Can you give an example?
- Which solver were you using?

[2017-04-06 13:49] wqp89324 commented on #8706
@jnothman thanks for the reply and hint, I have signed up for the mailing list.

[2017-04-06 13:50] kevinlmh commented on #8701
The Scalers still have the warn_on_dtype turned on. Should I remove them as well?

[2017-04-06 13:53] mppaskov commented on #8676
@rem2016 Thank you for clarifying, I think went too deep into the rabbit hole. I was a bit skeptical of changing the underlying API calls in libsvm.
But essentially just applying the same fix from BaseSVC to OneClassSVM. I also believe that this is exactly what @VathsalaAchar implemented in her PR.

[2017-04-06 14:01] TomDLT commented on #8701
Why should we get rid of these warnings?

[2017-04-06 14:28] rbaxter1 opened #8713 "With MLPClassifer, when warm_start is True or coeffs_ are provided, fit doesn’t respect max_iters"
#### Description
With MLPClassifer, when warm_start is True or coeffs_ are provided, fit doesn’t respect max_iters. The reason for this is, when fitting, max iteration check is equality (==) against self.n_iter_. When warm_start is true or coeffs_ are provided, initialize is not called; this method resets n_iter_ to 0. Based on this implementation, there is doubt as to the meaning of max_iter. Con

[2017-04-06 14:31] mikiobraun commented on #8588
Hi @ageron. Service is hosted by TU Berlin who agreed to keep the service running indefinitely (it is essentially a single instance VM with some NAS attached disk storage). Admin at TU Berlin is on it... . Thanks for your patience... .

[2017-04-06 15:50] ageron commented on #8588
Thanks for your feedback @mikiobraun.

[2017-04-06 16:22] lutz-hamel commented on #6261
OK, that sounds good.  I'm a github newbie when it comes to large shared
projects.  Could you point me to where/how I should execute the pull
request for Jupyter and also for the tree object?

Thanks!
Lutz

On Thu, Apr 6, 2017 at 7:09 AM, Joel Nothman <notifications@github.com>
wrote:

[2017-04-06 16:33] jengelman opened #8714 "Online Inference for BayesianGaussianMixture"
It would be great if someone implemented partial_fit for BayesianGaussianMixture using mean field [stochastic variational inference.](http://jmlr.org/papers/volume14/hoffman13a/hoffman13a.pdf)  Fitting with EM is way too slow to use for online clustering on large datasets, and right now the only online clustering method in sklearn is MiniBatchKMeans, which doesn't handle noisy data very well.  Alt

[2017-04-06 17:36] AngeloK commented on #8688
Oh, I see. I might oversimplify the problem here. Sorry.
So is it similar with [raw_documents](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_extraction/text.py#L828) in `fit`(or `fit_transform`)? Or we need a more common function to deal with the invalid parameters, including `max_features`, `min_df`, `max_df` and `ngram_range`?

happen in fit.

[2017-04-06 18:12] gciccarelli3 opened #8715 "next() fails with LeaveOneGroupOut and LeavePGroupOut"
#### Description
Call next() on the LeaveOneGroupOut generator fails to iterate to the next split, instead returning the first split.

#### Steps/Code to Reproduce

import sklearn
import sklearn.model_selection
import numpy as np

X = np.random.rand(5,2)
y = np.random.rand(5) > 0.5
group_kfold = sklearn.model_selection.LeaveOneGroupOut()
for i in range(5):
    train_index, test_index = next(group_

[2017-04-06 18:13] kolju commented on #6646
Hi! I'm a new contributor. Can I work on this?

[2017-04-06 18:22] gciccarelli3 commented on #8715
Sorry, I see there is a slight difference in meaning in the types.
With the for loop that creates expected behavior, the "in LOSO" creates a generator, and that generator is used.
With the for loop that creates unexpected behavior, the generator is actually being recreated from scratch and then being called with each loop iteration.

This yields the expected behavior.

group_kfold_gen = group_kfol

[2017-04-06 18:22] #8715 closed

[2017-04-06 21:22] agramfort commented on #8714
do you have/know a good implementation with BSD-like license?

[2017-04-06 21:57] jnothman commented on #6261
I'd start by implementing export_text alongside the graphviz equivalent,
write tests alongside its tests, add the changes and commit them to a
branch. Push the branch to your fork of scikit-learn on GitHub, then create
a pull request. HTH

On 7 Apr 2017 2:22 am, "lutz-hamel" <notifications@github.com> wrote:

OK, that sounds good. I'm a github newbie when it comes to large shared
projects. Could y

[2017-04-06 21:58] jnothman commented on #8688
factoring out validation into a separate function would be welcome imo

On 7 Apr 2017 3:36 am, "neyanbhbin" <notifications@github.com> wrote:

[2017-04-07 03:49] mppaskov commented on #8699
I can try to work on this, should be a quick fix.

[2017-04-07 04:27] jmschrei commented on #6646
Go ahead!

[2017-04-07 06:36] jengelman commented on #8714
I think these two would be the best bets for SVI:

1. [pyhsmm](https://github.com/mattjj/pyhsmm) - used for hidden markov models, but easily adaptable - MIT license

2. [bnpy](https://github.com/bnpy/bnpy) - has a very similar class DPMixtureModel - BSD license

[2017-04-07 08:21] VathsalaAchar commented on #8676
@amueller I made the changes and the PR has been merged, just letting you know in case you want to close this issue.

[2017-04-07 08:25] VathsalaAchar commented on #8694
I'll be working on this.

[2017-04-07 08:27] root-sudip opened #8717 "Segmentation fault error with dictionary learning on images"
I am trying to learn a Dictionary by using Sci-kit Learn. It is working fine for 100 Images but If I use 200 Images to train Dictionary Then I am getting Segmentation fault error.

I have used GDB to debug my code. and got this error :0x00007ffff3059f50 in ATL_dJIK0x0x48NN0x0x0_aX_bX () from /usr/lib/libblas.so.3

How to fix this problem??

[2017-04-07 08:57] VathsalaAchar commented on #8694
@amueller Does this [http://scikit-learn.org/stable/modules/feature_extraction.html#limitations-of-the-bag-of-words-representation](url) not explain well enough that `char_wb` does not cross word boundaries and pads the word with space on each side?

[2017-04-07 09:16] csizsek commented on #8351
Hi, is anyone working on this?
I'm a new contributor and would like to start working on this.

[2017-04-07 09:17] lesteve commented on #8717
Can you provide a stand-alone script to reproduce the problem ? Please read https://stackoverflow.com/help/mcve.

Also for future reference, can you paste the output of:
[code]

[2017-04-07 09:24] glemaitre commented on #8351
@amueller I am not sure that easy tag is correct since this is linked to the API and similar to #8350 in which we did not find any agreement yet

[2017-04-07 09:44] csizsek commented on #8351
That's ok, I don't insist on this particular one, I just want to help.

It seemed to me that all the other easy issues are taken. Can you recommend me something to get started with?

[2017-04-07 09:53] root-sudip commented on #8717
As soon as Possible, when I will get the server access I will give u reply. Thanks,

[2017-04-07 10:20] njiles opened #8720 "For probabilistic scorers, LogisticRegressionCV(multi_class='multinomial') uses OvR to calculate scores"
Description:

For scorers such as `neg_log_loss` that use `.predict_proba()` to get probability estimates out of a classifier, the predictions used to generate the scores for `LogisticRegression(multi_class='multinomial')` do not seem to be the same predictions as those generated by the `.predict_proba()` method of `LogisticRegressionCV(multi_class='multinomial')`. The former uses a single logisti

[2017-04-07 11:06] glemaitre commented on #8351
@csizsek Check #8594, 22 days without activities seems to be a lot. I would assume that nobody took it at the end. You can check with the person that wanted to take it.

[2017-04-07 12:38] csizsek commented on #8594
I'll take this.

[2017-04-07 14:40] csizsek commented on #8594
I created a PR for this.

https://github.com/scikit-learn/scikit-learn/pull/8721

@glemaitre take a look when you have time.

[2017-04-07 14:59] lesteve commented on #7842
@GillesJ can you try using scikit-learn master? I can reproduce on scikit-learn 0.18.1 but not on scikit-learn master.

[2017-04-07 15:21] ruqianq commented on #5967
I ran into the same issue when fitting the model with GridSearch with logistic regression for a multi-classification. I created the dummy variables for X_train and categorical for y_train (5 levels, cat. "Excellent", "Good", etc...), I think somehow the model can not support the scenario like this?? (Don't quote me)
So I create a cat.code for y, then the issue is gone.

[2017-04-07 16:20] jmschrei commented on #8676
Thanks @VathsalaAchar !

[2017-04-07 16:20] #8676 closed

[2017-04-07 18:09] Celelibi opened #8722 "manifold.MDS effect of n_jobs is unclear"
#### Description
When I run manifold.MDS on a 1024*1024 dissimilarity matrix with `n_jobs=1`, it seems to use all 8 cores, but most of the time is spent in the kernel. Which is quite surprising.

#### Steps/Code to Reproduce

    mat = np.random.rand(1024, 1024)
    mat = mat + mat.T

    mds = skmanifold.MDS(dissimilarity='precomputed', n_jobs=1)
    mds.fit(mat)

#### Expected Results
Multidimen

[2017-04-07 18:53] jmschrei commented on #8722
Howdy

That does seem to be unexpected behavior, but it actually looks like it is explained in the docs.
[code]

Basically, it is doing 8 times the work because it is doing multiple initializations of the algorithm to get a better estimate, but only using one process per job. This does seem like potentially undesirable behavior, @jakevdp do you know why this is done this way?

[2017-04-07 18:59] jakevdp commented on #8722
I'm not sure what's happening here.

[2017-04-07 19:48] ageron commented on #8588
In case someone needs this, here's a function that downloads MNIST from another source and returns a structure exactly like the one returned by `fetch_mldata()`.

[code]
Here's an example:

[code]

[2017-04-08 00:39] MaxPowerWasTaken opened #8723 "train_test_split on Pandas Dataframe can lead to SetttingWithCopyWarning"
Not sure if this concerns the sklearn folks, but using model_selection.train_test_split on Pandas DataFrames will cause that "SettingWithCopyWarning" if a new column is added to the resulting dataframes. It doesn't appear to produce unexpected results, aside from throwing that warning (which is admittedly thrown liberally in general). Here's a minimal code example:

[code]

Log output:

[2017-04-08 09:46] lesteve commented on #8588
As I commented above (https://github.com/scikit-learn/scikit-learn/issues/8588#issuecomment-288687983) you can also download the `mnist-original.mat` from https://github.com/amplab/datascience-sp14/raw/master/lab7/mldata/mnist-original.mat and put it in `~/scikit_learn_data/mldata` and `fetch_mldata('MNIST original')` will work fine.

[2017-04-08 09:46] jnothman commented on #8720
Yes, that sounds like a bug. Thanks for the report. A fix and a test is welcome.

[2017-04-08 09:55] jnothman commented on #8723
Then maybe you shouldn't be doing that. I consider this a pandas usage issue. What otherwise might you propose we do from scikit-learn's side?

[2017-04-08 10:40] ageron commented on #8588
@lesteve Works great, thanks.  I'll update the code to simply download the file in the right location.

[2017-04-08 20:04] Celelibi commented on #8722
@jmschrei You're right, #7453 made the documentation clearer. But this is not in a stable release yet, I should have checked the git version before. However, even though setting `n_init=1` make the computation terminate 8 times faster, it still uses 8 threads.

Numpy appear to perform its own parallelization and might use all the available cores. This seems to be configurable with some environment

[2017-04-09 15:16] #8594 closed

[2017-04-10 09:45] pmdatascientist commented on #8266
I am going to merge it.

[2017-04-10 12:04] root-sudip commented on #8717
@lesteve yes I got the output.

Linux-3.19.0-78-generic-x86_64-with-Ubuntu-14.04-trusty
Python 3.4.3 (default, Nov 17 2016, 01:08:31)
[GCC 4.8.4]
NumPy 1.11.3
SciPy 0.19.0
Scikit-Learn 0.18.1

so, can u help me ??

[2017-04-10 12:45] glemaitre commented on #8717
@root-sudip I think that @lesteve was expecting a minimal code snippet to reproduce your error and not only the output that you provided. Otherwise, it is impossible to help you.

Also, readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages and code snippets.

[2017-04-10 12:59] root-sudip commented on #8717
yes, sure.

[code]

Here is my full code.

[2017-04-10 17:03] GillesJ commented on #7842
Can confirm this is no longer a problem on scikit-learn master for the MWE code posted above. (Will also try with my actual use-case.)

[2017-04-10 19:06] MechCoder commented on #7288
Closed by https://github.com/scikit-learn/scikit-learn/pull/7674

[2017-04-10 19:08] #7288 closed

[2017-04-10 23:47] jmcol commented on #8695
Would the test for transformers only be in check_transformer_general, or would it need to be present in all the check_transformer* functions? I'm also unsure how I would produce an estimator that would fail one of these tests. Also, I've been unable to find a straightforward way to build from source on windows. Do you (or anyone) have any recommendations?

Thanks so much!

[2017-04-11 02:56] ieee8023 commented on #8588
Here is some code I use to grab MNIST from yann.lecun.com

https://github.com/ieee8023/NeuralNetwork-Examples/blob/master/theano/cnn/lasagne-mnist-small-example.ipynb

[2017-04-11 03:19] amueller commented on #8588
I think we already have everything uploaded to figshare, we just need to change the link. medium-term solution i also openml. I talked them into providing a bare-bones csv interface so we can very easily read from there.