[2020-04-08 13:24] Dylan-Cunningham commented on #16873
Yes, I def "misspoke" there. The undertone I was getting at is the model would decide where to split on the feature you, as a user, would supply. Splitting will reduce your data no matter if you do it inside or outside the algo.

[2020-04-08 15:37] adrinjalali commented on #15426
I think we've covered most of the relevant ones. I personally wouldn't worry about anything older than 0.18

[2020-04-08 18:21] Fifthist commented on #16862
Bias increases linearly (mostly), so, if generating a histogram on an n-bit machine, you should probably focus your efforts on testing ranges larger than 2<sup>n-1</sup>.

This post is definitely a good reference.
https://www.pcg-random.org/posts/bounded-rands.html

[2020-04-08 18:48] Justin-Huber commented on #16862
Thanks for the reference! :)

[2020-04-08 19:15] Naklecha opened #16875 "Saving models using h5 files for safety"
Is there a way I can save Sklearn models into h5 files as they are safer than pickle files or joblib files. The issue with pickle files is that a malicious program can easily be introduced while loading pickle files whereas h5 files only contain data and will be very easy to load models even from untrusted sources.

[2020-04-08 21:30] thomasjpfan commented on #16859
Reviewing our scripts for circleci, I do not see an issue with this.

Maybe circleci greped the repo for "curl" and pushed that email. The places where we use curl is in `travis_fastfail.sh` and in github actions. This should not influence how we use circleci.

[2020-04-09 00:16] shenkev opened #16877 "datasets.load_svmlight_file returns fewer lines than "length""
#### Describe the bug
I'm trying to load N=1000 rows from a svm-format file using load_svmlight_file. It seems like the "length" argument is the right way to specify the number of rows to get. My assumption was "length" would be the number of rows, but after trying load_svmlight_file, it doesn't seem to be returning 1000 rows. Only 5 rows are returned.

My libsvm file has 12176632 rows and 355 fea

[2020-04-09 04:41] little-eyes opened #16878 "plot_partial_dependence() API does not work with LightGBM regression model"
#### Describe the bug
I use LightGBM 2.3.2 to train a regression model, then call the `plot_partial_dependence()` to create a partial dependence graph. Then I encountered into the following error.

[code]
Then I trace down the code, I found `LGBMRegressor`'s implementation uses `@property` to the attributes. Example below:

[code]
Reference here: https://github.com/Microsoft/LightGBM/blob/master/p

[2020-04-09 07:32] Wazaki-Ou opened #16880 "Confusion Matrix colors do not reflect the classification performance"
I am not sure whether this really is an issue, but I tried to find a way to resolve this but I had no success so far. I apologize in advance if there is an already implemented easy way to solve this, but I tried searching and nothing came up. I am attaching pictures with the code I used to explain my issue.

so I am using the following code in order to evaluate prediction/label from two lists:

[c

[2020-04-09 08:35] smarie commented on #16862
Thanks @Fifthist ! @Justin-Huber as you may have noticed, this reference (see "conclusions" paragraph) is actually the source of what was implemented in `newrand.h`.

However warning: the results presented in that reference are speed comparison, not bias comparison - so, this is *not* the kind of test that you would have to implement. It just gives context. What is required in this issue is rather

[2020-04-09 09:15] adrinjalali commented on #16859
Yeah probably, closing then. Thanks for checking.

[2020-04-09 09:15] #16859 closed

[2020-04-09 10:24] rth commented on #16878
Thanks for the report. It's an interesting problem, for now I'm not sure about the best way to fix it.
 - we could call some of those properties if they end with `_`, related to what you proposed in the PR. But this can be slow and not reliable (e.g. SVC uses properties for `predict_proba` that will always return a function when `probability=True`), as far as I remember.
 - a more reliable way cou

[2020-04-09 10:27] rth commented on #16878
As a side note, I'm pretty sure some scikit-learn's common test must be failing as a result of their current approach. If not we should add one.

[2020-04-09 10:38] Hades30 commented on #16880
the code in the confusion matrix sets the heatmap to the content it is showing so i guess it would be not possible to display one attribute and show heat map differently.

[2020-04-09 11:02] Hades30 commented on #5473
exactly,there is no fixed time for these functions as it depends on the data you are using .

[2020-04-09 12:38] NicolasHug commented on #16241
Maybe I don't understand what you mean @ogrisel, but what if a private attribute is set depending on a parameter in `__init__`? Then this would not be properly updated when using `set_params`, e.g.:

[code]

One would have to override `set_params` for that logic to be preserved.

[2020-04-09 13:00] adrinjalali commented on #16241
I guess we're just assuming that's a rare case and hopefully developers don't have the pattern you mention in their code. As @jnothman said in https://github.com/scikit-learn/scikit-learn/issues/16241#issuecomment-578991507, the real check is too expensive for us to run.

[2020-04-09 15:21] Luttik commented on #10410
I would still really like an option to mute these warnings.

Ignoring unknown classes is expected behavior especially when you manually provide the classes. Therefore no warning would be better than any in the first place.

Additionally, it makes no sense to spend code and compute to clean the data before calling the MultiLabelBinarizer.

And warnings that we cannot mute are exceptionally annoying

[2020-04-09 17:29] ericbassett commented on #16822
I think that `y_test` should come first in `print(classification_report(KNN_prediction, y_test))`.

So:  `print(classification_report(y_test, KNN_prediction))`.

The function `sklearn.metrics.classification_report(y_true, y_pred, labels=None, target_names=None, sample_weight=None, digits=2, output_dict=False, zero_division='warn')` has `y_true` as the first argument. This would flip precision and

[2020-04-09 20:10] jcpeterson opened #16884 "add option for GridSearchCV to average over multiple CV runs to reduce variance"
#### Describe the workflow you want to enable
With many datasets, variation in fold scores is high, and so GridSearchCV does not always yield the same best hyperparameters.

#### Describe your proposed solution
Add a `n_runs=1` keyword argument to GridSearchCV. For any given hyperparameter combination, CV will be performed `n_runs` times and average results will be returned. When `n_runs=1`, behav

[2020-04-09 21:33] TomDLT commented on #16884
You might be interested in [`RepeatedKFold`](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.RepeatedKFold.html) and [`RepeatedStratifiedKFold`](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.RepeatedStratifiedKFold.html).

[2020-04-09 23:06] NicolasHug opened #16885 "Support sparse matrices in HistGradientBoosting estimators"
This is a placeholder issue for sparse matrices support in the Histogram-based GBDT estimators.

I guess #15550 should be tackled first.

----

Below are my thoughts and potential plan on the matter, feel free to ignore.

Binning:

We need a utility to compute quantiles on sparse data, and we need to map a float sparse matrix to a binned sparse matrix given those quantiles.  To avoid having to den

[2020-04-10 03:50] eldon97 opened #16886 "log(n_samples) should be ln(n)? Johnson-Lindenstrauss Lemma say it using natural logarithm, not log base 10?"
https://github.com/scikit-learn/scikit-learn/blob/f45c0c05197c147e2af8a449ec061583fedbf22b/sklearn/random_projection.py#L69

[2020-04-10 04:35] Wazaki-Ou commented on #16880
@Hades30  Thanks for the reply !! So the only solution would be to balance the data ?

[2020-04-10 07:31] madansinghal opened #16887 "Segmentation Fault in _parallel_backends.py method while calling Kmeans clustering"
Seeing error intermediately  in method "/opt/miniconda3/lib/python3.7/site-packages/joblib/_parallel_backends.py", line 562, in wrap_future_result while calling KMeans clustering

Error:
Worker process managed by the executor was unexpectedly terminated. This could be caused by a segmentation fault while calling the function or by an excessive memory u       sage causing the Operating System to ki

[2020-04-10 11:59] lirankatzir commented on #14569
Hi,
I posted the code (with no tests/no wrappers just the algorithm itself) in stackoverflow.
[are-these-any-existing-implementation-of-l1-isotonic-regression-in-python](https://stats.stackexchange.com/questions/459601/are-these-any-existing-implementation-of-l1-isotonic-regression-in-python/459602#459602)

[2020-04-10 12:08] NicolasHug commented on #16886
np.log is the natural log

[2020-04-10 12:08] #16886 closed

[2020-04-10 12:43] kkumawat25 opened #16888 "Need additional argument to pass sample weights in _fit_and_score"
Hi,
 In _fit_and_score method in sklearn/model_selection/_validation, I want to use sample weights to score train data ._fit_and_score calls  _score method of this file and that does not take sample weights as an additional argument.  I am not proficient in programming, wanted to know will there be any unintended consequences if I pass sample weights argument or is it safe to pass sample weights i

[2020-04-10 17:28] skeller88 commented on #14081
This is great. I see some overlap with the [issue I raised here](https://github.com/scikit-learn/scikit-learn/issues/16860#issuecomment-610494075). But this issue is more specific to scikit-learn, which makes sense.

Here are some pitfalls I have in mind to contribute. Thoughts? If these pitfalls sound like a good fit for documentation, I'll start working on them.

- Using a different preprocessin

[2020-04-10 23:58] Justin-Huber commented on #16862
Is there a way to build only the svm module? I've tried running just the setup within sklearn/svm but it doesn't work (also is there a better place to ask general questions like this?

[2020-04-11 04:51] little-eyes commented on #16878
Thanks @rth for the reply. Yeah, this is an interesting problem. I agree that the fix I have is not ideal. You No.2 idea might be the best approach that each estimator can register their "properties to check", then `check_is_fitted` can validate them.

Another idea in my mind is to keep a bit `is_fitted` in the base estimator that sets to true after the `fit()` function is being called. Whenever e

[2020-04-11 11:29] #16822 closed

[2020-04-11 11:31] jnothman commented on #10410
All warnings can be muted with the python warnings module

[2020-04-11 11:58] Luttik commented on #10410
Id argue that muting warnings is very bad practice you don't want true warning to overlap with warnings for expected behavior.

[2020-04-11 15:44] jnothman commented on #10410
You can mute warnings filtered on message text

[2020-04-11 18:31] Luttik commented on #10410
I am fully aware of that. But it is besides the point. If you want to use the multilabelbinarizer in e.g. a library your still in the position that you have to either filter the data before throwing it in the binarizer just to prevent those warnings or introduce unexpected side effects. Where the sideeffect is either a needless warning or muting warnings which the libraries user might not be aware

[2020-04-11 23:55] ylevental opened #16901 "Include an "Estimated Time to Arrival" (ETA) feature"
I was running sklearn.svm.SVC, and it took five hours on the data I was using.  The results were good, but I think users should get an estimated time for the length of the program's run.  For instance, I know that keras has an ETA feature.

[2020-04-12 01:01] waelbenamara opened #16902 "Fourier transform implementation for time dependent data."
- In case data is time dependent, it takes a lot of time for the programmer to take it to a more stale domain which is the frequency domain. Sklearn users will be able to transform their data, and fit it directly

- The solution consists of providing a script with a set of functions that will allow the user to easily transfer his data from time domain into frequency domain. This kind of transforma

[2020-04-12 02:11] NicolasHug commented on #16901
Maybe we can close this in favor of https://github.com/scikit-learn/scikit-learn/issues/7574

[2020-04-12 07:39] Vikrant-Deshmukh commented on #12720
Traceback (most recent call last):
  File "/Users/vikrant/Downloads/Car/catthatcodes/app/app.py", line 7, in <module>
    from pipeline import pipeline
  File "/Users/vikrant/Downloads/Car/catthatcodes/app/pipeline/pipeline.py", line 8, in <module>
    graph = tf.get_default_graph()
AttributeError: module 'tensorflow' has no attribute 'get_default_graph'

Here is the Code
import json
# import urll

[2020-04-12 14:08] jnothman commented on #16901
Duplicate of #7574

[2020-04-12 14:08] #16901 closed

[2020-04-12 23:06] steinfurt commented on #3846
Apart from the above DictionaryLearning/MiniBatchDictionaryLearning PR, I also had a look at the neighbors.* classes: They all already have at least one example. The ones for neighbors.KDTree and neighbors.BallTree are generated from the CLASS_DOC format string which can be found in the _binary_tree.pxi include file..

[2020-04-13 03:25] jstephenj14 commented on #16902
Can you elaborate a little more to what kind of functions you're talking about? Would it be all possible types of Fourier transforms? Any kind of reference would help. I'm kind of a noob here

[2020-04-13 09:09] nastaran75 opened #16911 "fit_interncept in nonlinear svm"
Hi,

In svm.LinearSVC there is a parameter "fit_intercept" which controls the bias and can be turned on or off. Why isn't there such an option for non-linear svm? Could you please add it or guide me towards adding it?

[2020-04-13 15:58] waelbenamara commented on #16902
Fourier transform is commonly used when it comes to processing signals. One of the most common examples is speech recognition. Suppose we want to train a model to recognize a certain word(for example Hello). The voice recorded, is actually the **amplitude of the signal with terms of time**. However the pronunciation of that word might be different from a person to the other. Some may take longer t

[2020-04-13 16:35] haochunchang commented on #3846
It is my first time contributing this project. I would like to look into neighbors.* classes including:
neighbors.DistanceMetric
neighbors.KDTree
neighbors.LocalOutlierFactor

[2020-04-13 17:12] #16884 closed

[2020-04-13 18:01] TomDLT commented on #16902
Such feature extraction techniques are domain specific and are out of scope of scikit-learn. Excellent implementations are available for instance in scipy, see [scipy.fftpack.fft](https://docs.scipy.org/doc/scipy/reference/generated/scipy.fftpack.fft.html) or [scipy.signal.spectrogram](https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.spectrogram.html).

[2020-04-13 18:37] M12Shehab opened #16913 "OneClassSVM predictions"
Hi all

Many thanks for this amazing library. I have a question about **sklearn.svm.OneClassSVM** model, the predict function return -1 or +1 and it is not clear what that means.

For example, I trained the model with a normal dataset that takes label 0, while the outliers labeled as 1.
I just fit a normal data to train the model. Now, in the prediction step, it is not clear if +1 related to class

[2020-04-13 18:52] waelbenamara commented on #16902
Okey, Thank you very much!

[2020-04-13 18:52] #16902 closed

[2020-04-13 20:16] mitchelldehaven opened #16914 "Agglomerative clustering plots not readable."
The plot for comparing hierarchical clustering with and without structure https://scikit-learn.org/stable/auto_examples/cluster/plot_agglomerative_clustering.html seems to be a bit jumbled. The titles for the plots are partially covered and it is very difficult to read what the parameters of the clustering models are that are being plotted.

[2020-04-13 21:14] MichaelShoemaker commented on #12640
@jnothman These changes were merged. I believe this issue can be closed.

[2020-04-13 21:27] thomasjpfan commented on #12640
Closing since this was fixed in https://github.com/scikit-learn/scikit-learn/pull/16861

[2020-04-13 21:27] #12640 closed

[2020-04-14 00:25] TomDLT commented on #16913
For [the documentation](https://scikit-learn.org/stable/modules/outlier_detection.html#outlier-detection):

`estimator.fit(X_train)`
new observations can then be sorted as inliers or outliers with a `predict` method:
`estimator.predict(X_test)`
Inliers are labeled 1, while outliers are labeled -1. The predict method makes use of a threshold on the raw scoring function computed by the estimator. Th

[2020-04-14 00:30] TomDLT commented on #16914
Thanks for the feedback ! This has been solved recently in 77659049cc05856167829c240694a0e7378ef280.

See the development version of the documentation (replacing `/stable/` with `/dev/`):
https://scikit-learn.org/stable/auto_examples/cluster/plot_agglomerative_clustering.html
https://scikit-learn.org/dev/auto_examples/cluster/plot_agglomerative_clustering.html

[2020-04-14 00:30] #16914 closed

[2020-04-14 06:36] Solly7 opened #16915 "Time Series Data Downsampling"
Hi all, i am still new to machine learning , I have time series data as per below and i need tips/help on how to downsample it using scikit-learn. see my dummy data below ,Payment status is my label(0=missed, 1=paid), i need to downsample using time series strategy and keeping temporal order

Policy_no     Deduction_date      Payment_status
1                  01-Jan-2019            1
2

[2020-04-14 06:48] Solly7 opened #16916 "Downsampling Time series data"
Hi all, i am still new to machine learning , I have time series data as per below and i need tips/help on how to downsample it using scikit-learn. see my dummy data below ,Payment status is my label(0=missed, 1=paid), i need to downsample using time series strategy and keeping temporal order

[code]

[2020-04-14 06:54] TarunNanduri commented on #16916
You can re-sample the model using resample method of pandas DataFrame.
Here's the link to the docs:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.resample.html

[2020-04-14 06:55] Solly7 commented on #16916
thanks bro..!

[2020-04-14 06:57] TarunNanduri commented on #16916
Hope that helped and You can close this issue if it is solved.

[2020-04-14 07:09] Solly7 commented on #16916
i closed the issue

[2020-04-14 07:09] #16916 closed

[2020-04-14 07:58] TarunNanduri commented on #16915
Did you reopen or the previous one didn't help?

[2020-04-14 08:01] smarie opened #16917 "Harmonize the "full" (`PCA`) vs "dense" (`KernelPCA`) names for `eigen_solver` parameter"
Suggestion made by @ogrisel in PR #12069.

These two names mean the same thing, we should probably deprecate one.
Note that equivalent parameters are probably hidden in other models, this is an opportunity to look for them.

[2020-04-14 08:07] Solly7 commented on #16915
Hey Tarun, i did help...i opened this before the one i closed because this one was not properly formated.happy to close it

[2020-04-14 08:07] #16915 closed

[2020-04-14 08:28] cmarmo commented on #16887
Hi @madansinghal , thank you for reaching out.
Could you please add to the description of the issue a minimal bunch of code to help in reproducing it?
Could you also add the description of your development environment? At [this page](https://scikit-learn.org/stable/developers/contributing.html#how-to-make-a-good-bug-report) you will find the command line to output all the information. Many thanks!

[2020-04-14 09:11] adrinjalali commented on #16862
Once you build the whole package, the next ones don't try to re-compile the ones you haven't touched.

[2020-04-14 13:55] bicici commented on #16770
Might have been also related to using gcc-9 and libc6 2.30-4. gcc-8 and libc 2.28-10 compiles. cython related issues still appeared later with scipy installation as they use setuptools and other packages during installation.

[2020-04-14 13:55] #16770 closed

[2020-04-14 14:09] bicici opened #16919 "matmul operator freeze within safe_sparse_dot and bug fix"
#### Describe the bug

sklearn/neural_network/_multilayer_perceptron.py is using safe_sparse_dot, which calls the matmul operator @ for ret = a @ b. In this context, ret = a.dot(b) appears to fix the freeze without error according to the specifications since a @ b = a.dot(b) when the dimensions are less than or equal to 2.

openblas overcome this. MKL inteloneapi 2021.1-beta05 is still freezing.

[2020-04-14 14:50] ManishAradwad commented on #10232
There already seems to be 2 questions in FAQ([First](https://scikit-learn.org/stable/faq.html#why-does-my-job-use-more-cores-than-specified-with-n-jobs) and [Second](https://scikit-learn.org/stable/faq.html#why-do-i-sometime-get-a-crash-freeze-with-n-jobs-1-under-osx-or-linux)) which address `n_jobs` parameter's use cases.

Am I supposed to add explanation on how to use `n_jobs` parameter? Also [t

[2020-04-14 15:12] aliasneo1 opened #16920 "Random state seed parameter for agglomerative clustering"
#### Describe the workflow you want to enable
It will be helpful to have to have random state seed in  agglomerative clustering like in Kmeans

class sklearn.cluster.KMeans(n_clusters=8, init='k-means++', n_init=10, max_iter=300, tol=0.0001, precompute_distances='auto', verbose=0, **random_state=None**, copy_x=True, n_jobs=None, algorithm='auto')

#### Describe your proposed solution
Current
class

[2020-04-14 15:43] AntiDoctor commented on #16822
Thanks for your reply and highlighting the mistake I made with the switch between KNN_prediction, y_test - you're quite right! The wikipedia reference had me a bit confused withthe flipped confusion matrix - thanks a lot for your help!

[2020-04-14 16:30] AntiDoctor commented on #16822
Thank you so much for clarrifying that - the wikipedia reference had me confused!

[2020-04-14 16:45] chrispe92 commented on #16765
I would also be interested to work on this. Has it been picked up by somebody else already? Thanks.

[2020-04-14 17:05] chrispe92 commented on #16017
I'd be interested to pick this up as well.

@nsorros: Are you already working on this? Thanks!

[2020-04-14 17:55] adriangb commented on #16638
Quick question: are there any plans to support categorical features with IterativeImputer? I think it would require using multiple estimators instead of a single regression estimator and other complications, but it would be a nice feature to have. I believe the original MICE implementation ([paper](https://www.jstatsoft.org/article/view/v045i03/v45i03.pdf)) supports this.

[2020-04-14 17:58] ericbassett commented on #16822
No problem, probably should get Wikipedia to switch their example to the sklearn orientation.

[2020-04-14 20:13] simberaj opened #16924 "Matthews correlation coefficient metric throws misleading division by zero RuntimeWarning"
#### Description
With tested values all equal, `sklearn.metrics.matthews_corrcoef` throws a `RuntimeWarning` reporting a division by zero. This behavior was already reported in #1937 and reported fixed, but reappears in recent versions.

#### Steps/Code to Reproduce
The snippet below reproduces the warning.
[code]

#### Expected Results
No warning is thrown.

#### Actual Results
The following warn

[2020-04-14 22:28] rth commented on #7574
An experimental API for callbacks that would allow implementing progress bars was proposed in https://github.com/scikit-learn/scikit-learn/pull/16925. Feedback welcome.

[2020-04-14 22:44] kelleyjbrady commented on #16241
Hi I think I am experiencing this issue. I have a custom estimator inheriting from BaseEstimator, but when I try to use GridSearchCV with the estimator i get the error below. I wrote a [post on StackOverflow](https://stackoverflow.com/questions/61218326/custom-regressor-gridsearchcv-says-get-params-not-implement-when-inheriting-f) about it because I was not sure if I was making a mistake.

[code]

[2020-04-14 22:48] NicolasHug commented on #16241
That's an unrelated issue @kelleyjbrady . I answered on SO.

[2020-04-14 23:08] rth commented on #11336
The issue is that for instance applying flake8 on the diff, after a certain point does not make code more PEP8 compatible -- it does not converge.

[code]
On,
 - master - 227 errors
 - v0.22.1 - 282 errors
 - v0.21.0 - 209 errors
 - v0.20.0 - 268 errors
 - v0.19.0 - 482 errors

So honestly I think we should just fix these 200 LoC (or which many are removed/added newlines), be done with it and remo

[2020-04-14 23:09] rth commented on #11336
Or maybe we should just discuss using black in the next dev meeting..

[2020-04-15 01:46] AvantiShri commented on #5818
@satra thanks for the links and your implementation! I'd like to clarify one thing, since I'm still building an understanding of diffusion maps: you mentioned in your last comment that "the scikit-learn spectral_embedding is a special case of DiffusionMap Embedding with alpha = 0" - is it also true that spectral_embedding implementation assumes a diffusion_time of 0 (in addition to alpha being 0)?

[2020-04-15 01:51] satra commented on #5818
mathematically yes. although the notion of diffusion time doesn't arise in spectral embedding. so the resulting eigenvectors are not scaled by eigenvalue.

[2020-04-15 08:44] bicici commented on #16919
Related:
https://github.com/numpy/numpy/issues/15973

[2020-04-15 11:14] madanvnera commented on #16887
@cmarmo
Development Environment details:
ubuntu virtual machine || 16 core CPU || 64 GB memory Code:

Code Lines:

from sklearn.cluster import KMeans
model_clus = KMeans(n_clusters=2, max_iter=300, n_jobs=16, random_state=0)
model_clus.fit(data)

[2020-04-15 12:19] madansinghal commented on #16887
@cmarmo
Development Environment details:
ubuntu virtual machine || 16 core CPU || 64 GB memory Code:

Code Lines:

from sklearn.cluster import KMeans
import pandas as pd
model_clus = KMeans(n_clusters=2, max_iter=300, n_jobs=16, random_state=0)
data = pd.read_csv("df_data_18000_18000_data1.csv)
model_clus.fit(data)

[df_data_18000_18000_data1.csv.zip](https://github.com/scikit-learn/scikit-learn/f

[2020-04-15 12:46] adrinjalali commented on #11908
@thomasjpfan did you get anywhere with this? Removing "blocker" since it doesn't seem to be blocking releases ;)

[2020-04-15 12:55] marenwestermann commented on #3846
I had a look at `gaussian_process.kernels.Kernel`. According to the documentation it is the "Base class for all kernels". Therefore, all its attributes are read-only property attributes (methods with `@property` decorators). From my understanding it therefore doesn't make sense to add examples to this class because it can only be used in combination with another class.
However, if you scroll to th

[2020-04-15 12:57] adrinjalali commented on #3846
Yeah it'd make it too complicated to write an example for it. I'm happy for it to be removed from the list.

[2020-04-15 13:06] adrinjalali commented on #4225
Removing from the milestone for now, please add it back if you think it should be in one.

[2020-04-15 13:08] adrinjalali commented on #3020
Removing from the milestone for now. This needs a fair amount of love to be solved.

[2020-04-15 13:10] adrinjalali commented on #4682
removing from the milestone due to inactivity

[2020-04-15 14:15] adrinjalali commented on #6725
untagging from the release.

[2020-04-15 14:25] adrinjalali commented on #7139
removing from milestone

[2020-04-15 14:30] adrinjalali commented on #7173
not sure what the status of this is now. Is it a documentation issue according to https://github.com/scikit-learn/scikit-learn/issues/7173#issuecomment-589908664? (removed from the milestone)

[2020-04-15 14:34] adrinjalali commented on #7492
removing from the milestone

[2020-04-15 16:07] thomasjpfan commented on #11908
I think I couldn't pin point the issue when I was looking into it. At some point I would want to get back to this when I want to venture into VM windows land.

There was "temporary fixed" in https://github.com/scikit-learn/scikit-learn/pull/11899 by changing the tolerance based on the bit. This is not a blocker.

[2020-04-15 16:14] ThatGeoGuy commented on #4682
I'm pretty sure I fixed this in https://github.com/scikit-learn/scikit-learn/pull/8328, which was in 2017.

Probably good to close, not just remove from the milestone :)

[2020-04-15 16:20] thomasjpfan commented on #16920
Is there a part of the `AgglomerativeClustering` algorithm that requires random state?

[2020-04-15 16:44] arjun-majumdar opened #16930 "Custom clustering algorithm hyperparameter search"
I am trying to implement hyperparameter search for Spatio-Temportal DBSCAN clustering algorithm. For this, I am using sklearn's pipeline, where I first use ST-DBSCAN object as a 'TransformerMixin' and then pass the result to a Decision Tree classifier. This pipeline is then passed on to 'GridSearchCV' to find the hyperparameters.

The source code is [ST-DBSCAN custom code](https://github.com/arjun

[2020-04-15 16:48] mnky9800n opened #16931 "make_regression should include categorical variables with weights"
Currently `make_regression` does not do anything with categorical variables. You can only simulate continuous variables that can then be converted to categorical variables (e.g., `1 if x>0 else 0`). However in many cases it is necessary to have categorical variables (e.g., a city ID).

In many cases these categorical variables are not equally distributed. There may be many rows in a data set for s

[2020-04-15 17:09] adrinjalali commented on #4682
Thanks @ThatGeoGuy

[2020-04-15 17:09] #4682 closed

[2020-04-15 17:10] nsorros commented on #16017
Go for it, also got sidetracked

[2020-04-15 17:38] #15841 closed

[2020-04-15 17:41] NicolasHug commented on #15841
@flamby we have implemented support for this and this should be out in the next version. Please keep in mind however that this is part of a private API so no backward compatibility is guaranteed:

- we might not support this anymore at some point
- the current loss API is subject to change, which means that you might have to adjust your own the custom losses in the future

[2020-04-16 03:01] yousenwang opened #16936 "how to set Normalizer() obj to normalize(axis=0)?"
Dear all,

the default value is 1 but I want to normalize each feature.

Is there a way to overwrite it?

I want to use fit(axis=1), fit_transform(axis=1), and transform(axis=1)

Thank you!
Best,
Ethan

[2020-04-16 05:15] aliasneo1 commented on #16920
@thomasjpfan  I'm not sure. But currently for every new Ipython kernel session , AgglomerativeClustering is giving different cluster output results.

[2020-04-16 05:18] #16936 closed

[2020-04-16 05:22] aliasneo1 commented on #16920
@thomasjpfan And I found that Hierarchical Agglomerative Clustering is deterministic except for tied distances when not using single-linkage.

[2020-04-16 08:15] plgreenLIRU commented on #16805
@mini1988 are you still having a problem? I'm happy to take a look

[2020-04-16 09:24] DatenBiene commented on #10548
Hi @jnothman and @jeremiedbb, looks like all the files where modified. I would be happy to help if you find any remaining issues.

[2020-04-16 11:01] cmarmo commented on #10548
Thanks a lot @DatenBiene and all the contributors that worked to close this issue!
I think we can close this huge one!
Feel free to open new specific issues if something is still missing about `random_state` description.

[2020-04-16 11:01] #10548 closed

[2020-04-16 14:55] Reksbril commented on #16752
@krassowski are you going to implement this?

[2020-04-16 14:58] krassowski commented on #16752
@Reksbril, not immediately (not earlier than mid-May) - feel free to have a go at it if you want!

[2020-04-16 15:00] Reksbril commented on #16752
I will then, thanks for response :)

[2020-04-16 15:27] amueller opened #16938 "KDTree docstring has no link to userguide, no link to source code"
https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KDTree.html#sklearn.neighbors.KDTree

The "see user guide" link is missing, and the "show source" link is also missing.
The first one should just be an addition to the docstring, the second one probably has to do with the template used by sphinx.

I figure that the same might be true for BallTree

[2020-04-16 17:02] adrinjalali commented on #12652
take

[2020-04-16 17:47] LukeBeg opened #16939 "score() and score_samples()"
#### Describe the issue linked to the documentation

 Hi all,

target:I am trying to predict the bandwidth of the KernelDensity() on sklearn by using randomized search and bayesian optimization (fmin() from hyperopt).

Issue: score_samples() and score() are not really clear to me. In the source code, the probability density is mentioned, then the total log density and likelihood. The are already c

[2020-04-16 19:10] Leengit opened #16940 "Negative eigenvalue in inertia_tensor_eigvals due to floating point precision"
skimage.measure.inertia_tensor_eigvals can return a very slightly negative eigenvalue even though it is given a value of mu that should yield a positive semidefinite matrix with only non-negative eigenvalues.  Subsequently taking the square root of a negative eigenvalue, which would  occur when computing the length of an ellipse axis, produces an error.

[code]

#### Expected Results
All elements

[2020-04-16 19:34] pfetsch opened #16941 "Different "auto" rule for max_features in decision trees"
The ``auto`` rule for ``max_features`` in decision trees is equal to ``sqrt``, i.e., ``max_features=sqrt(n_features)``. I argue that this is not a good choice for a small number of features, since this throws away too much information in cases in which the amount of data is limited.

#### Suggsted Change
I suggest to make sure that all features are used if the number of features is small. This cou

[2020-04-16 19:35] Leengit commented on #16940
Wrong github project.  Apologies!

[2020-04-16 19:35] #16940 closed

[2020-04-16 19:42] thomasjpfan commented on #16920
Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal.

[2020-04-16 19:45] bvsravikiran commented on #16938
I am working on this.

[2020-04-16 22:26] bicici commented on #16919
The default python in linux is also freezing on the following code:
https://github.com/dask/dask/issues/3759
python is using fork instead of spawn in multiprocessing by default in context and this appears to be a related issue. For some reason this information is not popping up with google / bing search and reveals itself only after digging until numpy.matmul.

The stable version 3.7 of python is

[2020-04-16 22:26] #16919 closed

[2020-04-16 22:42] jnothman commented on #16939
Log probability will always be less than or equal to zero, not only if it
is a small probability. Model likelihood is a standard way to compare
goodness of fit between two probabilistic models on the same dataset. That
doesn't mean that the numbers are very interpretable, but increases should
indicate a tighter fit to the data.

Please help identify specific places in our user guide or example gal

[2020-04-16 22:55] jlewis-ds opened #16943 "tree.plot_tree() does not visualize properly if also using seaborn.set_style()"
#### Describe the bug
If using scikit-learn and seaborn together, when using sns.set_style() the plot output from tree.plot_tree() only produces the labels of each split. It does not produce the nodes or arrows to actually visualize the tree.

#### Steps/Code to Reproduce
import seaborn as sns
sns.set_style('whitegrid') #Note: this can be any option for set_style
from sklearn.datasets import load_

[2020-04-17 09:01] mdabbah opened #16944 "incorrect initialization for self.precisions_cholesky_ in case of diag GaussianMixture"
the current version initializes self.precisions_cholesky_ field with the given precision matrix self.precisions_init in case of 'diag'
the self.precisions_cholesky_ = self.precisions_init (line 659: mixture/_gaussian_mixture.py)

while Cholesky decomposition for diagonal precision matrix ('diag') should be the square root of that:
self.precisions_cholesky_ = np.sqrt(self.precisions_init)

(for a d

[2020-04-17 11:44] satriaphd opened #16946 "NearestNeighbor uses huge amount of RAM when using lower (<500) count of features"
#### Describe the bug
I tried using NN ('brute') to calculate (1000000, 6000) features matrix (of np.uint8) against a set of centroids (500, 6000), and the process takes up > 100GiB of memory

![image](https://user-images.githubusercontent.com/7368871/79565279-4ba22500-80a8-11ea-8b73-5ac9431cd495.png)

This seems odd, because when I tried running it against much larger set of centroids (20000, 600

[2020-04-17 11:54] kounelisagis opened #16947 "NDCG - Numerical Error"
#### Description
The NDCG score is: 0.9999999999999999, given two equal arrays.

#### Steps/Code to Reproduce
[code]

#### Expected Results
1.0

#### Actual Results
0.9999999999999999

#### Versions
[code]

[2020-04-17 11:55] rth commented on #16946
Thanks @satriaphd ! You should not use `n_jobs=-1` with `algorithm='brute'` computations are memory bound and will only only make it worse (with potentially some extra memory cost) https://github.com/scikit-learn/scikit-learn/issues/8216. Also on a large server, you can also try setting `OMP_NUM_TRHEADS` to a smaller value to see if there is any over-subscription that affects run time.

I can run

[2020-04-17 12:05] rth commented on #16947
The error in the above script is 1e-16, which is within the expected numerical precision for float64,
[code]

It's more of a `__repr__` issue when you print the score. So I'm not sure there is anything to fix here.

[2020-04-17 12:11] rth commented on #16947
Closing, unless you have a very straightforward fix.

Overall it's kind of similar to,
[code]
expecting exact float representation is sometimes too optimistic.

[2020-04-17 12:11] #16947 closed

[2020-04-17 12:24] noatamir commented on #16155
@lucyleeow looks like you already did a lot of work here. I'd be happy to help, anything I can get on started or take over? If not I'll look for another issue..

[2020-04-17 12:48] satriaphd commented on #16946
putting n_jobs=1 indeed makes it much faster and consumes much less memory (±17GiB peak)...  thanks for the suggestion! I'll mark this as resolved

[2020-04-17 12:48] #16946 closed

[2020-04-17 12:48] GaelVaroquaux commented on #13308
@cmarmo : can you push a PR with the new code. So that we can review and iterate on this.

Thanks!!

[2020-04-17 12:58] cmarmo commented on #13308
I'm on it: just trying to get rid of the `NMFOriginal.py` file. Patricio kept it in order to guarantee the comparison with the original implementation, I'm trying to reproduce the original behavior in the same code. I can open a WIP PR if you think it's worth it, but I would rather if you wait before reviewing the code.  Thanks!

[2020-04-17 13:02] GaelVaroquaux commented on #13308
I think that it's worth it.

It's likely that I won't have time in the short term. I see this PR more
as a communication tool across the team.

[2020-04-17 15:17] haochunchang commented on #16938
I have opened a PR #16923 to add class signature to the documentation.
Specifically: https://github.com/scikit-learn/scikit-learn/pull/16923/commits/771aecc1d4f03c6937e0b77612a7bfaae8c33f4f. However, I did not add those links.

The docstrings need to be modified in the template: ```sklearn/neighbors/_binary_tree.pxi```.
Hope it helps.

[2020-04-17 15:32] #14117 closed

[2020-04-17 16:40] lucyleeow commented on #16155
Hi @noatamir, there are plenty of tests that still use Boston (sorry I didn't keep track of the ones left as it was just me working on it). Feel free to tackle them! Maybe comment here or open a PR before you starting working on something so we don't end up working on the same thing.

Of note, the diabetes dataset (the other regression dataset) is quite noisy and seems to overfit with default para

[2020-04-17 16:59] amueller opened #16951 "Inconsistent navigation on user guide"
Not sure when this happened but i love the new left-hand side navigation https://scikit-learn.org/dev/user_guide.html

(@adrinjalali did this maybe?)
![image](https://user-images.githubusercontent.com/449558/79594368-e3a10e00-80aa-11ea-8007-c5628ea84ac9.png)

However, when clicking the different entries, the result is inconsistent. For some, it shows a TOC that expands the existing toc with more d

[2020-04-17 17:04] adrinjalali commented on #16951
lol, I know I mess things up every now and then, but it's not always me lol

Anyway, I don't think it was me, @thomasjpfan @NicolasHug or @cmarmo may have an idea.

[2020-04-17 17:12] NicolasHug commented on #16951
I think it's a sphinx thing and basically depends on whether or not the rst file contains a toctree or not. Those that contain a toctree will expand, those that don't will replace the sidebar.

[2020-04-17 17:19] adrinjalali commented on #16951
On this topic, I really like the new [pandas navigation system](https://pandas.pydata.org/docs/user_guide/computation.html) which @jorisvandenbossche has worked on extensively in https://github.com/pandas-dev/pydata-sphinx-theme

[2020-04-17 17:23] amueller commented on #16951
I said it was awesome, not messed up ;) @adrinjalali

And yes, I know it's dependent on the structure of the toctree @NicolasHug. I just thought making this consistent might help.

It took me a second to see the navigation on the right hand side for pandas but it looks pretty sweet. The problem with the "consistent" solution I proposed is that for the API and the examples the menu would be very lo

[2020-04-17 17:26] amueller commented on #16951
semi-related: it was pointed out to me that it's discouraging/weird that our examples page starts with "misc examples" which is not very helpful.

[2020-04-17 17:35] thomasjpfan commented on #16951
For the pandas case, it uses the navbar to change the TOC on the sidebar. For our case, we can argue that the TOC on the user guide should not contain the higher level TOC elements. For example the `Glossary of Common Terms and API Elements` should not be in the TOC for the user guide page.

[2020-04-17 19:21] jorisvandenbossche commented on #16951
I need to update that readme! Because it is no longer an ugly monkey patching hack ;) Chris Holdgraf turned it into a nice sphinx event callback (sphinx's official support for ~~monkey patching~~ extending behaviour)

[2020-04-17 19:28] jorisvandenbossche commented on #16951
Quite obviously, I would love to see scikit-learn make use of the pydata-sphinx-theme, but going to stay out of such discussion, since I am "rather" biased ;)
(and scikit-learn already updated the doc theme recently ..)

That said, I am happy to answer any questions regarding how it works with toctrees (and the theme also certainly would welcome changes to make it more extendable to support custom

[2020-04-17 19:30] thomasjpfan commented on #16951
We can place the miscellaneous into a folder to make them less miscellaneous. Or a quick fix is to have an `Miscellaneous` folder just so they are not place at the top.

[2020-04-17 19:42] techytushar commented on #16887
You can try out with `MiniBatchKMeans` once. I'm not sure if it will help or not, but the results are very similar to the normal kmeans

[2020-04-17 19:57] LukeBeg commented on #16939
Hi Joel,

thank you for the reply.

log prob = log of the probability, right? so if the prob = 0.5 then      log(0.5)= -0.70 and I understand that log(0.00001) = -11.5
that is clear to me.

but here we are talking about probability density, which are not probabilities, as far as I understand. they can be interpreted as the relative likelihood that a certain value is generated from a distribution.

[2020-04-17 20:05] adriangb commented on #15781
A feature like this would be useful inside `IterativeImputer` itself. I was playing around with implementing mixed-data types in `IterativeImputer` and found that it would be very useful to be able to apply `ColumnTransformer.transform` dynamically with a parameter like `columns=[0, 1, 3]` to ex skip column 2. In this case, each column would have it's own estimator, so in theory this could be reso

[2020-04-18 00:33] bvsravikiran commented on #16938
I was able to add the "see user guide" link [here](https://github.com/bvsravikiran/scikit-learn/commit/30ff8747694a27b62efe704dc1f74fb465b15db2).

However, I could not able to figure out how to add the "show source" link.
I was looking at the `docs/sphinxext/github_link.py` and tried changing [this line](https://github.com/bvsravikiran/scikit-learn/blob/master/doc/sphinxext/github_link.py#L37) to

[2020-04-18 05:52] miketrimmel commented on #14214
@SSaishruthi how is your progress with this one?

[2020-04-18 09:53] h-vetinari opened #16955 "BUG: Test failure on ppc64le"
#### Describe the bug

While working on https://github.com/conda-forge/scikit-learn-feedstock/pull/123, I found that `manifold/tests/test_t_sne.py::test_uniform_grid[barnes_hut]` fails on ppc64le; @rth [asked](https://github.com/conda-forge/scikit-learn-feedstock/pull/123#issuecomment-614625410) me to open a bug here.

[code]

Here are the logs, the failure is the same across cpython 3.6-3.8:
* [p

[2020-04-18 09:58] h-vetinari opened #16956 "BUG: segfaults in testsuite with PyPy on ppc64le"
#### Describe the bug

While working on https://github.com/conda-forge/scikit-learn-feedstock/pull/123, I found that some tests segfault specifically on ppc64le with PyPy (but not with other runtimes on ppc64le, or with PyPy on other platforms). I gather that there's no CI for PyPy here, but in any case, @rth [asked](https://github.com/conda-forge/scikit-learn-feedstock/pull/123#issuecomment-61462

[2020-04-18 10:14] rth commented on #16956
Thanks @h-vetinari! PyPy + ppc64le is somewhat exotic, but segfaults would still be worth investigating.

[2020-04-18 10:39] chrispe92 commented on #16017
Ok thanks, I'll pick it up then

[2020-04-18 14:01] NicolasHug commented on #16951
See also https://github.com/scikit-learn/scikit-learn/issues/16601 regarding a better example gallery

[2020-04-18 19:10] NicolasHug opened #16958 "xfail_checks tag only works with parametrize_with_checks"
Working towards https://github.com/scikit-learn/scikit-learn/pull/16890, I'm discovering that the `xfail_checks` tag only work when one uses `@parametrize_with_checks`.

I feel like developers would expect it to work when simply calling `check_estimator()` as well. Any reason this isn't supported?

CC @thomasjpfan @rth

[2020-04-18 20:06] Paul-Aime opened #16960 "`mean_square_error` `multioutput` signification"
### Describe the bug

In the case of multiple target outputs, [`sklearn.metrics.mean_squared_error`](https://github.com/scikit-learn/scikit-learn/blob/5abd22f58f152a0a899f33bb22609cc085fbfdec/sklearn/metrics/_regression.py#L191) documentation stated that it returns "an array of floating point values, **one for each individual target**" but doesn't behave like so. Instead, it is considering multipl

[2020-04-18 20:20] chrispe92 commented on #16017
I had a look at this and I'm not sure If this is an issue or not. Can you validate it @tgsmith61591?

When you set the vocabulary argument then that is considered fixed and so any new words or ngrams will be ignored and not be processed by the `CountVectorizer`.

This is the line where that is defined: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_extraction/text.py#L111

[2020-04-18 23:35] andrewasche commented on #16938
has this been finished or is there something to be done.

[2020-04-18 23:37] andrewasche commented on #14364
Has this been fixed or can I have a go at it?

[2020-04-19 00:18] thomasjpfan commented on #16958
Marking a test as `xfail` is very specific to pytest.

To make it work in `check_estimator`, I guess we would need to still assert the test, but catch it when it fails (since it is expected to) and convert it into a warning?

[2020-04-19 00:23] andrewasche commented on #15761
Is there anything else to be done here?

[2020-04-19 09:27] Yukimura66 opened #16962 "add stratified split for "shuffle=False" in train_test_split"
#### Describe the workflow you want to enable

When splitting time series data, data is often split without shuffling. But now `train_test_split` only supports stratified split with `shuffle=True`.
It would be helpful to add stratify option for `shuffle=False` also.

#### Describe your proposed solution

Add option `shuffle` in `StratifiedShuffleSplit`, and only permutate indices when `shuffle` op

[2020-04-19 12:15] jnothman commented on #11336
I can't say I like black's style all the time... but I agree that it's an easy way out. Happy to discuss.

[2020-04-19 12:26] NicolasHug commented on #16958
Shouldn't we make the tag more general such that:

- the check is marked with pytest.xfail when using `@parametrize_with_checks`
- the check is skipped when using `check_estimator()`, possibly with a warning?

[2020-04-19 14:30] jnothman commented on #14959
Should we resort to identifying the issue and raising a warning (or even an error)?

[2020-04-19 14:34] jnothman commented on #13621
@hermidalc I'm quite confused of what we've resolved when looking back at this from time to time. (Unfortunately my time is not what it used to be!) Can you give me an idea of what you'd recommend be included in scikit-learn?

[2020-04-19 14:43] hermidalc commented on #13621
I've wanted to do a better implementation than what I did in #15239.  The implementation in that PR works but stratifies on the groups to make the logic straightfoward, though this isn't ideal.

So what I did above (thanks to @mrunibe and kaggle from jakubwasikowski) is a better implementation of `StratifiedGroupKFold` that stratifies on the samples.  I want to port the same logic to do a better `

[2020-04-19 15:18] rth commented on #11336
For code style as far as can tell we have 3 possibilities,
 1). Keep the current situation: i.e. apply flake8 on the diff, and a few selected flake8 rules on the full code base (e.g. avoid unused imports). The limitation of it is that we have to maintain a significant amount of code to check this and new PR may introduce PEP8 incompatible changes, particularly at the edges of the diff.
 2) Fix fla

[2020-04-19 15:20] jnothman commented on #16688
mean_absolute_percentage_error with non-percentage scale is sufficient.

[2020-04-19 15:20] #16688 closed

[2020-04-19 18:47] rth commented on #16958
It should works, in the sense that xfail marked tests should be skipped (as far as I remember the PRs where it was introduced). If they aren't that's it indeed a bug.

[2020-04-19 18:51] NicolasHug commented on #16958
On master, with `check_estimator()`, `NuSVC` fails on `check_class_weight_classifiers` which is marked with the `xfail_checks` tag.

[code]

[2020-04-19 18:55] rth commented on #16958
You are right. I probably though it would be good it if worked that way, but haven't actually implemented it lol.

[2020-04-20 09:55] adrinjalali commented on #8737
clearing the milestone, and it seems this is at least half resolved.

[2020-04-20 10:01] adrinjalali commented on #8642
clearing the milestone.

[2020-04-20 10:03] adrinjalali commented on #14338
moving to 0.24. We probably should start thinking of this as "high priority", as tagged lol.

[2020-04-20 10:11] adrinjalali commented on #12263
It seems this issue is fixed? Closing, please feel free to reopen if it's still an issue.

[2020-04-20 10:11] #12263 closed

[2020-04-20 10:12] adrinjalali commented on #9650
moving to 0.24

[2020-04-20 11:02] cmarmo commented on #16943
Hi @jlewis-ds this is probably related to #13971 because of the `whitegrid` seaborn definition.

[code]

@amueller is the most suitable to give you an answer.

[2020-04-20 11:16] irodionzaytsev commented on #10671
This is why I hate sklearn

[2020-04-20 11:58] cmarmo commented on #16938
Hi @bvsravikiran thanks for taking a look at this! Could you please open a PR to solve the issue? If you think the code is not ready for merge you can add [WIP] (Work In Progress) in the title (see [scikit-learn documentation](https://scikit-learn.org/stable/developers/contributing.html#pull-request-checklist)).
Having a PR will give you more chances to be answered... ;)
...and it will help @andre

[2020-04-20 11:59] rth commented on #10671
Thanks for the feedback @mitar . Could you comment why the above solution using `ColumnTransformer` transformer doesn't work for you? In the long term this should also be solved by propagating feature names (likely in 0.24).

@irodionzaytsev This is not an acceptable way of communicating on the issue tracker. Please be constructive.

[2020-04-20 13:00] adrinjalali commented on #14959
moving to 0.24.

[2020-04-20 13:22] adrinjalali commented on #10144
Seems like the PR needs a bit of work, moving to 0.24 (unless we manage to finish it in time).

[2020-04-20 14:37] webber26232 opened #16970 "BallTree haversine metric is not paralleled"
When I use the algorithm `BallTree` in `KNeighborsRegressor`, I found most of the `metric` can benefit from parallel computing by setting the `n_jos` argument during the inference, except for metric `haversine`.

The table below shows the inference time for different `n_jobs` with different `metric`. `haversine` is the only one whose inference time increases when utilizing parallel computing.

| n

[2020-04-20 15:16] bvsravikiran commented on #16938
Thank you, @cmarmo. I have created this [PR](https://github.com/scikit-learn/scikit-learn/pull/16971).

[2020-04-20 16:08] amueller opened #16972 "Allow 2d array input in CountVectorizer?"
I wonder if we should allow ``(n_samples, 1)`` input to CountVectorizer. I think we had this discussion before, right now we basically have a special case in ``ColumnTransformer`` with scalar columns to produce 1d arrays.
Does anyone remember where this discussion was?

A lot of my students are struggling with putting a CountVectorizer into a ColumnTransformer and it might be nice to be more gener

[2020-04-20 16:09] adrinjalali commented on #13052
clearing from the milestone.

[2020-04-20 17:44] thomasjpfan commented on #2746
Resolved in https://github.com/scikit-learn/scikit-learn/pull/15179

[2020-04-20 17:44] #2746 closed

[2020-04-20 18:51] fcole commented on #2746
Thanks for fixing this!

On Mon, Apr 20, 2020 at 1:45 PM Thomas J Fan <notifications@github.com>
wrote:

[2020-04-21 03:04] mitar commented on #10671
It does not work for us, because our problem is not with one-hot encoding, but with simply knowing which data comes from where. In our case we have metadata attached to every column. So if put X categorical columns into a `ColumnTransformer` and apply `Imputer` currently it is not necessary that X columns are returned, so we do not know how to map metadata to output columns. So `ColumnTransformer`

[2020-04-21 03:40] mayujsw opened #16976 "kmeans elkan vs. lloyd performance"
I tried kmeans fit_predict performance on 0.23-dev0 with mnist_all.csv dataset (http://ratml.org/datasets/mnist_all.csv). It seems elkan cost more time than lloyd (no matter dense or sparse format input),  not sure whether this is due to dgemm vectorization. so wondering whether this is as expected, if yes, will we change algorithm parameter 'auto' logic to redirect the algorithem to lloyd ?

And

[2020-04-21 04:37] mabdelhack opened #16977 "IterativeImputer automatically removes variables with all missing values"
IterativeImputer seems to have a strange behavior where a variable with all missing values is just removed from the data decreasing the number of columns in the matrix without setting off any warnings. This appears to happen at the initial imputation step.
I know I should not give it a variable without any useful values but in the course of a large code it makes no sense that if there is such an e

[2020-04-21 07:44] pplonski opened #16980 "StratifiedKFold doesnt work with bytes classes"
#### Describe the bug

I'm using this dataset https://www.openml.org/d/1515 where classes (20 in total) are represented as bytes. When trying to run cross-validation I got the error message:

[code]

I think this message is not proper, because there is single label for each sample.

#### Code to Reproduce

[code]
I got the error:
[code]

When I change the `y` to `str` it works as expected:

[code]

[2020-04-21 11:15] rth commented on #10671
Yes, I agree that even if feature names are implemented it's still a behavior that can lead to issues in the code, and there should be an easy way to opt-out.

Let's continue the discussion in https://github.com/scikit-learn/scikit-learn/issues/16426 that's about the same issue, there is also an associated PR that looks to be in a good shape.

[2020-04-21 11:19] rth commented on #16426
+1 to add a parameter to optionally preserve missing features and possible fill them with some constant. This is an issue that keeps being reported e.g. https://github.com/scikit-learn/scikit-learn/issues/10671 , https://github.com/scikit-learn/scikit-learn/issues/16977 and even propagating feature names will only partially address it.

[2020-04-21 11:23] rth commented on #16977
Thanks for the feedback @mabdelhack ! See the discussion in https://github.com/scikit-learn/scikit-learn/issues/16426. Once the corresponding PR is merged, we can make one for IterativeImputer.

[2020-04-21 11:27] rth commented on #16977
No actually the corresponding PR  https://github.com/scikit-learn/scikit-learn/pull/16695 already include a fix for IterativeImputer

[2020-04-21 11:57] jeremiedbb commented on #16976
Both lloyd and elkan were improved recently. Lloyd got a bigger boost than elkan (due to the use of gemm indeed) so elkan is not always faster than lloyd as it kind of was before. However, I observed that which is faster depends on the dataset. When the clusters are well separated elkan tends to still be faster than lloyd because the number of distances to compute quickly drops. So I'm not sure th

[2020-04-21 12:09] rth commented on #15005
Once this is done, and included in the RC, we should heavily advertise the RC to make sure people discover potential issues before the final release. If there are many complaints, we might need to relax some of the most common positional arguments.

[2020-04-21 14:43] adrinjalali commented on #13211
moved to 0.24

[2020-04-21 14:44] adrinjalali commented on #12652
removed the milestone, PR is now WIP.

[2020-04-21 14:45] adrinjalali commented on #12644
removing from the milestone.

[2020-04-21 15:31] volsend opened #16984 "Dict target_names parameter support in classification_report"
#### Describing the workflow I want to enable

There are a few cases when there is a need to pass to the `classification_report` `target_names` parameter, which has a larger size than the number of unique classes in `y_true` or `y_pred` parameters.

For example, due to memory limits I am iterating through a great dataset and making a classification report for each part separately (outputting a dic

[2020-04-21 16:36] SamirArcadia commented on #6276
Using Python 3.6.5, gzipping files appear to compress the model to about 20-25% in size.

1. Example of writing gzip from already pickled file (filename):
[code]
2. Example of writing gzip from data (D)
[code]
3. Example of loading from gzip
[code]

[2020-04-21 16:42] SamirArcadia commented on #6276
Using Python 3.6.5, gzipping files appear to compress the model to about 20-25% in size.

1. Example of writing gzip from already pickled file (filename):
[code]
2. Example of writing gzip from data (D)
[code]
3. Example of loading from gzip
[code]

[2020-04-21 16:56] rth commented on #6276
Also see the documentation of the `compress` argument in [`joblib.dump`](https://joblib.readthedocs.io/en/latest/generated/joblib.dump.html). xz should be allow higher compression ratios than gzip.

[2020-04-21 16:57] adriangb commented on #4497
I have not read all of the referenced PRs, issues and comments (it's a lot) but I went over this thread briefly.

One comment I have: would it be possible to introduce this new parameter while keeping the existing `sample_weight`, `groups`, etc. parameters? Then as things get updated to support the new parameter, there can be a check that raises an error or warning if the user specifies both `samp

[2020-04-21 17:20] adrinjalali commented on #16241
moved to 0.24 (we could also try to make it into 0.23.1)

[2020-04-21 19:07] 2manoj1 opened #16987 "With Float list when using DecisionTreeClassifier -> Got error ValueError: Unknown label type: 'continuous'"
#### Describe the bug

DecisionTreeClassifier not working with float list value. See the below example.

# Got error ValueError: Unknown label type: 'continuous'
<img width="1261" alt="Screen Shot 2020-04-22 at 12 32 58 AM" src="https://user-images.githubusercontent.com/15128569/79903529-dda38800-8430-11ea-998e-076faff5fd2a.png">

## But with iris dataset its working.
<img width="1527" alt="Screen

[2020-04-21 19:36] mitar commented on #10671
Thanks!

[2020-04-21 21:31] grisaitis opened #16988 "Support numpy.random.Generator and/or BitGenerator for random number generation"
#### Describe the workflow you want to enable

I'd like to use a `Generator` or `BitGenerator` with scikit-learn where I'd otherwise use `RandomState` or a `seed` int.

For example:
[code]
and then use this for `random_state=` in scikit-learn:
[code]

This fails because these methods expect a `RandomState` object or `int` seed value. The specific trigger is `check_random_state(random_state)`.

###

[2020-04-21 22:06] xkortex opened #16990 "Getter/Setter for fit parameters"
#### Describe the workflow you want to enable
Robust cross-version persistence and serialization of sklearn models.
Motivation: I like reproducibility and portability :)

#### Describe your proposed solution

`BaseEstimator.get_params()` and `set_params()` is great for getting the initialization state of models and a step towards full deserialization. I've already cracked serializing arbitrary nes

[2020-04-21 22:15] pbellec opened #16991 "memory leak in `k_means` for 0.23.dev0"
Running `k_means` permanently uses memory.

#### Steps/Code to Reproduce
Save the following snipet in a script `issue_memory.py` and run it with `python3 -i issue_memory.py`.

[code]

#### Expected Results
the script will transiently use memory (a few GB), and after completion (before exiting the session) memory usage will be back precisely where it was prior to running the script. Exiting the ses

[2020-04-21 22:20] jnothman commented on #16991
I'm confused. Your issue title says 0.23.dev0 but your issue report says
0.22.2. KMeans has been largely rewritten for 0.23.

On Wed, 22 Apr 2020, 8:15 am Pierre Bellec, <notifications@github.com>
wrote:

[2020-04-21 22:22] pbellec commented on #16991
sorry, my mistake. I ran the snippet both with 0.22.2 and 0.23.dev0, and executed the version script after my 0.22 run. Will update version information soon. I believe the bug has been introduced during this major update (which is awesome, btw, and the reason why I am using the dev version at the moment).

[2020-04-21 22:23] jnothman commented on #16990
Why do you need to serialise estimators in full across versions (as opposed
to just the predictive model that could be captured in an ONNX export, for
insurance)?

[2020-04-21 22:32] pbellec commented on #16991
I have updated the version information above to reproduce the issue.

[2020-04-21 22:38] jnothman commented on #16991
Ping @jeremiedbb

[2020-04-21 23:28] jnothman commented on #16241
If we had a way to generate reasonable values for each parameter, then this might be testable. So if mypy annotations (or hyperparameter distributions) allowed us to do fuzz-like testing, we could make this more rigorous...?

[2020-04-21 23:38] jnothman commented on #4497
I've not yet looked at all of your contribution yet, @adriangb, but you might want to check out the latest proposal at #16079

[2020-04-22 00:38] mitar commented on #16426
I am glad this got reopened, as I was commenting on #10671 about this as well.

I think I see value in columns being removed, because this assures the property that after calling imputer you do not have any missing values. This is an important precondition for many models so it is useful to know that you can call something (an imputer) and be assured it (the property that there are no missing valu

[2020-04-22 01:29] jnothman commented on #13211
None, except that probability='calibrated' looks ugly to a user unfamiliar with the history.

[2020-04-22 01:52] jnothman commented on #16980
I agree that the error message is not as helpful as it could be, but I
don't think bytes is the right format for that target and I couldn't
promise that it was supported for y anywhere else in the library either.

How did you load the data? with fetch_openml?

[2020-04-22 02:11] jnothman commented on #16972
We have discussed this not long ago (at least #15588). Its interactions with custom `analyzer` (and maybe `tokenizer`) are tricky. We'd also want to limit support to column vectors to avoid parameter semantics issues raised in #16148.

If we implemented it, in the first instance, such that the default analyzer would unwrap an array of size 1, and any custom analyzers would have to implement that l

[2020-04-22 02:44] mabdelhack commented on #16977
Thanks a lot for the response. I'll wait for the new version, and meanwhile I'll preprocess my matrix to make sure it passes unscathed.

[2020-04-22 03:50] vitorsrg commented on #16426
Particularly, I don't think that "sometimes changing the schema, based on the input" is a role of an imputer. Sure, those missing values might cause problems downstream, but changing the schema may break the pipeline itself.

Nonetheless, the PR preserves the default behaviour and I'll add a `is_missing_` field (like `statistics_ `).

[2020-04-22 06:13] napsternxg opened #16998 "*** AttributeError: 'int' object has no attribute 'item' for classification_report when output_dict=True"
`i.item()` will fail if  `output_dict=True`

https://github.com/scikit-learn/scikit-learn/blob/f82a2cb33871a67b36150647ece1c7e56d3132bb/sklearn/metrics/_classification.py#L1948-L1952

The reason for the failure is that `i.item()` only works for `float`, but here the returned value will be `0` which is an `int`.  This will result in `*** AttributeError: 'int' object has no attribute 'item' for clas

[2020-04-22 06:19] napsternxg commented on #16998
The fix should be as follows:

[code]

[2020-04-22 06:28] mitar commented on #16426
I think this is just two types of assertions we have here. One assertion (A) is "output schema is the same as input schema" and the other one (B) is "if input has missing values, output does not have them anymore". Now, the question is how those interact. If there were no missing values, then it is easy to say A should hold. If there were some missing values, A can still hold. The question is what

[2020-04-22 07:04] vitorsrg commented on #16426
Yes, I advocate for this one, because:
1. Different imputation strategies may have distinct undefined behaviours
2. Feature housekeeping and policies are indeed important, but are more specific to each problem: e.g. some algorithms may fail with nans, other may use it directly

Regarding the `is_missing_` field, the user may use it to construct the mapping, but it is intrinsically a mask:
[code]

[2020-04-22 10:37] jeremiedbb commented on #16991
I'm on it. For now I noticed that the lloyd algorithm (`algorithm='full'`) seems to not have this memory issue. I'm trying to find what's going wrong with elkan algorithm.

[2020-04-22 10:57] jeremiedbb commented on #16991
I forgot to free the temporary allocated arrays for elkan algorithm. Fixed in #17000

[2020-04-22 11:02] jeremiedbb commented on #16991
Thanks for the report @pbellec. It's really cool to have people testing the master branch so that we can fix bugs before they are released :) !

[2020-04-22 12:19] Rosevear commented on #8710
I'm getting the same validation error as the original post when I try to use a pipeline (which contains the categorical encoding step) as the base estimator. This is on version 0.22.1

Traceback (most recent call last):
  File "exp.py", line 514, in <module>
    cur_pipe_calibrator.fit(X_calibration_train, y_calibration_train)
  File "C:\Users\cr89536\.conda\envs\VEE\lib\site-packages\sklearn\cali

[2020-04-22 12:50] #16991 closed

[2020-04-22 13:53] thomasjpfan commented on #15005
Should we leave `utils` alone?

[2020-04-22 14:04] NicolasHug commented on #15005
I'll try to open a PR but I would agree there's no strong need to get it in for the release

[2020-04-22 14:21] xkortex commented on #16990
I did not know about ONNX export, that might just work! Looks like they [cover](http://onnx.ai/sklearn-onnx/supported.html#l-converter-list) all the ones I currently need for this project. I'll need to check if this works with gRPC but this might be sufficient to get away from pickle.

[2020-04-22 14:25] ChemEngDataSci commented on #16987
Hello, your y output is continuous 0.1 and 1.8. You should be using DecisionTreeRegressor.
The reason why the iris dataset works with DecisionTreeClassifier is because the y output is discrete.
![Capture](https://user-images.githubusercontent.com/49723147/79994140-94c8ef00-8483-11ea-9ddd-947dedc58c0f.PNG)

[2020-04-22 14:26] thomasjpfan commented on #15005
Okay, let's see what it looks like. In general, it would be "nice to have" since it would make the library more consistent and promote the usage of `*` in future util functions.

[2020-04-22 14:43] mitar commented on #16426
Let's maybe name it `is_empty`.

[2020-04-22 15:16] jeremiedbb commented on #13308
@cmarmo in the benchmarks you made above, you display the convergence time. What is the convergence criterion and do both versions converge to a solution of similar quality ?

[2020-04-22 16:23] jeremiedbb commented on #16887
The new implementation of KMeans in the master branch does not use joblib anymore. I assume you're using scikit-learn <= 0.22.

You can try the dev version of scikit-learn. Here are the [instructions](https://scikit-learn.org/stable/developers/advanced_installation.html) to install it

[2020-04-22 18:38] pbellec commented on #16991
Very impressed by the speed at which this issue was solved. Huge thanks for this @jeremiedbb @jnothman and all the work that has gone in this new `k_means` version, it is going to be a big help in my research.

[2020-04-22 21:49] doaa-altarawy commented on #15722
I'm getting the same error when using `RandomizedSearchCV` and passing it any random variable, such as `scipy.stats.uniform`, but passing lists no problem.

[2020-04-22 23:13] MilesCranmer opened #17009 "Distance metric involving uncertainties"
#### Describe the workflow you want to enable

I would like to have Wasserstein-2 distance metric added to sklearn, to enable distance calculations in a dataset that has uncertainties. E.g., KDTree, DBSCAN calculations in a real-world dataset that has non-negligible noise. Learning with uncertainty is becoming increasingly used in a lot of real-world applications, so I think it would be great to h

[2020-04-23 01:30] JokerZaia commented on #16951
I'm a freshman in machine learning and don't know how to learn it because my math is not good......
so, anyone who is good at machine learning can give me some advice? Thank you...

[2020-04-23 01:51] jim0421 commented on #16976
When it comes to improving the ```kmeans elkan```, I compared the code of kmeans between 0.22 and 0.23-dev0 and I found that the ```double-layer for loop with scipy dot function when updating sample-cluster distance``` was replaced by ```scipy dgemm function``` in ```kmeans lloyd```. However, ```kmeans elkan``` can not directly use this way for acceleration since the it eliminates many meaningless

[2020-04-23 08:41] adrinjalali opened #17010 "Release 0.23"
Creating the branch to start the necessary cleanups before the release, while the remaining issues in https://github.com/scikit-learn/scikit-learn/milestones/0.23 are managed.

   * [x] update news and what's new date in master and release branch
   * [x] create tag
   * [x] update dependencies and release tag at https://github.com/MacPython/scikit-learn-wheels
   * [x] twine the wheels to PyPI wh

[2020-04-23 10:08] madansinghal commented on #16887
@techytushar @jeremiedbb Thanks for response. Really appreciate. I will try dev version.

[2020-04-23 10:48] aniskx opened #17012 "RandomForestClassifier ValueError Boolean array expected for the condition, not float"
Im trying to train an RFC on a matrix of floats with abt 17 mln rows and 9 columns
features on 6 columns all of type float 64 when trying to train I get error of :
**ValueError Boolean array expected for the condition, not float**

[2020-04-23 11:05] madansinghal opened #17013 "IPCA did not converge, numpy.linalg.LinAlgError: SVD did not converge"
#### Description of Bug

I am using Incremental PCA method on data of [18000, 18000] to reduce the size of dataset. Method gives 2 parameters (batch size and number of parameters). PCA does not converges sometimes. It should be able to converge with lower variance . There are multiple options of SVD. Does it uses full SVD Solver internally{‘auto’, ‘full’, ‘arpack’, ‘randomized’}?

#### Sample code

[2020-04-23 11:45] adrinjalali opened #17014 "Release highlights for 0.23"
Towards #17010.

Like the one we did for 0.22, to highlight the main changes/improvements.

@NicolasHug would you be maybe interested in/available for this one?

[2020-04-23 11:49] NicolasHug commented on #17014
I was planning to discuss it on Monday.

As mentioned in https://github.com/scikit-learn/scikit-learn/issues/15814, I think it should be either in the foundation website, or in the gallery, but not both. I seems like unnecessarily duplicating efforts to me.

[2020-04-23 11:52] adrinjalali commented on #17014
My experience with the last one was that I ended up sending people links to different sections of it in different projects. So I found it even more useful than I originally thought. And for that, I have a slight preference for it being in the main website.

[2020-04-23 12:09] jeremiedbb commented on #16976
When working on it I haven't found a way to do that. Seems unlikely though since for elkan all the distances we need to compute can't be expressed as a pairwise distances between 2 sets of points.

If I had, I would have implemented them when reworking kmeans :) so unfortunately no :/

[2020-04-23 12:18] jnothman commented on #16426
I don't see how this leading to a user friendly API, and I don't see why we
can't have an option to uphold both properties A and B by imputing empty
columns with a constant value.

[2020-04-23 12:20] NicolasHug commented on #17012
Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal.

[2020-04-23 12:27] rth commented on #16426
can't have an option to uphold both properties A and B by imputing empty
columns with a constant value.

+1 And if one doesn't desire B then one could always pass `fill_missing_features=np.nan` (or any other paceholder for missing values) in https://github.com/scikit-learn/scikit-learn/pull/16695 to keep a columns with missing values and do something with it later.

[2020-04-23 14:19] #15186 closed

[2020-04-23 14:34] adrinjalali commented on #15420
Does #16849 also fix this one @NicolasHug ?

[2020-04-23 14:42] NicolasHug commented on #15420
Yeah the test works just fine on seed=range(100) now

Thanks for the notice @adrinjalali

[2020-04-23 14:42] #15420 closed

[2020-04-23 16:34] elliothershberg commented on #16856
Hi, is anybody currently working on this? I'm looking to start contributing, and want to start with adding some documentation to learn how the process works. I'd be happy to help.

[2020-04-23 16:37] thomasjpfan commented on #16987
Thank you for the response @ChemEngDataSci

[2020-04-23 16:37] #16987 closed

[2020-04-23 17:29] thomasjpfan opened #17019 "Use CI to make sure # doctest: +ELLIPSIS is not in docs"
Following from https://github.com/scikit-learn/scikit-learn/pull/16992

[2020-04-23 22:01] MuradBozik opened #17022 "AttributeError: 'GridSearchCV' object has no attribute 'cv_results_'"
Hello, I got an attribute error. After, fitting GridSearchCV. There is no cv_results_ and best_estimator_ attributes. But it has best_params_, best_score_ ...

#### Describe the bug

#### Steps/Code to Reproduce

[code]

[code]
#### Expected Results

#### Actual Results

---------------------------------------------------------------------------
AttributeError                            Traceback

[2020-04-23 22:28] Hdvndgr commented on #17022
I uninstalled sklearn 0.22.2.post1 and installed 0.21.3. Now it is working. It seems the problem occurs specifically in 0.22.2.post1 version.

[2020-04-24 02:48] gbolmier commented on #8213
@rth I have started working on this with the help of @amueller.

I have created a benchmark [repository](https://github.com/gbolmier/sklearn-neighbors-benchmark). Here are some plots from the following [notebook](https://nbviewer.jupyter.org/github/gbolmier/sklearn-neighbors-benchmark/blob/master/sklearn_heuristic.ipynb):

![kd_tree_vs_brute_speedup_ratio](https://user-images.githubusercontent.com

[2020-04-24 07:47] mitar commented on #16426
If one anyway wants to drop the column with all all missing values (but just wants to know what is being dropped) I do not think it is reasonable to first fill it with a constant just to be dropped.

But I do not mind details here. What I really would like to see is an attribute like `is_empty_` which tells which columns have been a special case (dropped, filled as a constant, left as is, whatever

[2020-04-24 08:12] GaelVaroquaux commented on #17019
cc @lucyleeow if you have spare cycles

[2020-04-24 10:50] H-Yin opened #17024 "a wrong description in KPCA"
#### a wrong description in KPCA

[line 239~240](https://github.com/scikit-learn/scikit-learn/blob/95d4f0841/sklearn/decomposition/_kernel_pca.py#L239)

[code]
I now prove it simply.
[code]

#### suggest as follows

[code]

--> should be

[code]

[2020-04-24 10:51] H-Yin commented on #17024
@thomasjpfan

[2020-04-24 11:48] lucyleeow commented on #17019
AFAICT there is no option to do this with flake8. You could do it with a flake8 plugin (e.g., https://github.com/i02sopop/flake8-banned-words) but we'd need to rely on an external plugin.

I could also use a grep function (e.g., `grep --include=\*.py -rnw sklearn/ -e '# doctest: +ELLIPSIS'`), capture the exit code and raise an error if pattern found.

[2020-04-24 14:13] jeremiedbb commented on #16723
I made the changes I wanted. Changes in asv broke a functionality I thought there was no work around but just found one so it's fine. I opened #17026. Still missing the documentation

[2020-04-24 15:17] lorentzenchr opened #17027 "Add Spline Transformer"
#### Describe the workflow you want to enable
I propose to add a `SplineTransformer` to `preprocessing`. This is similiar to `PolynomialFeatures`, but gives more flexibility (and numerical stability) for linear models to deal with continuous numerical features.
[code]

#### Describe your proposed solution
Add `SplineTransformer` and internally use scipy for splines. Start with
    - [1-dimensional

[2020-04-24 16:02] NicolasHug opened #17030 "Remove support for classes in check_estimator and parametrize_with_checks"
We currently partially support classes on `check_estimator()` or `parametrize_with_checks()`. However, they don't work in general when the class requires some parameter with no default (except the hard-coded special cases of 'estimator' and 'base_estimator').

As far as I understand, the only thing that class support adds is the additional `check_parameters_default_constructible` check.

Class sup

[2020-04-24 16:16] rth commented on #17030
+1. We can still introduce the deprecation warning in this release.

Deprecating class shouldn't be an issue for things like https://github.com/scikit-learn/scikit-learn/pull/11324 right? cc @jnothman

In any case this would go in the direction that instead of default  `__init__` parameters, testing different combinations of init parameter is probably recommended (at least for solvers etc).

[2020-04-24 16:38] thomasjpfan commented on #17030
From my understanding, `check_estimator` started with only classes and then instance support was added in https://github.com/scikit-learn/scikit-learn/pull/9019 .

I would be in favor of removing support for classes.

[2020-04-24 17:46] cmarmo commented on #13308
@jeremiedbb I'm working to add those information to the plot. Thanks for your comment.

[2020-04-24 18:03] NicolasHug commented on #17024
@smarie I think this was your comment?

[2020-04-24 19:06] miketrumpis opened #17034 "numerical gradient calculated wrong in Matern kernel"
Hi, there's a subtle bug in the numerical gradient calculation for Matern covariance kernels. The num. gradient is used when there is no simple closed form gradient.

So the issue is that the function that is fed into ``_approx_fprime`` essentially uses ``kernel.theta + dx`` as the test point. But ``kernel.theta`` is the log of the hyperparameters. So consider varying one parameter p: instead of d

[2020-04-24 19:18] justmarkham commented on #17014
I loved the release highlights page for 0.22! I think it's excellent marketing for scikit-learn, and far more digestible than the full release notes.

I'm just a scikit-learn user, but to me, having it on the main website makes it feel more "official". As well, it's likely more discoverable on the main website, which enhances its overall value.

[2020-04-24 19:31] amueller commented on #8213
I think it's also worth pointing out that when (re)running the benchmarks by @jakevdp, the results are actually quite different from the asymptotics:
https://nbviewer.jupyter.org/github/gbolmier/sklearn-neighbors-benchmark/blob/master/jakevdp_benchmark/jakevdp_modified_benchmark.ipynb

Notice that for spectra and digits, the runtime for brute actually beats the trees, in contrast to what the blog

[2020-04-24 19:37] amueller commented on #8213
The take-away from the additional benchmarks above is that for most datasets, the threshold where brute wins is between 15 and 20 dimensions, and the only dataset for which this is not true is a synthetic dataset with low intrinsic dimensionality (intrinsic dimensionality is 5). Even for that, there is a cross-over point, I think it was somewhere around 70 or 100 dimensions (depending on how much

[2020-04-24 19:52] gbolmier commented on #8213
Indeed, @jakevdp used to plot an estimate of the brute force at the time, I replaced it by really calculating it, here is the difference for the digits dataset:

![brute_force_estimated](https://user-images.githubusercontent.com/25319692/80250652-431a9300-8642-11ea-87d1-d7b6c1386261.png)
![brute_force_computed](https://user-images.githubusercontent.com/25319692/80250663-4746b080-8642-11ea-8a62-625

[2020-04-24 20:02] GaelVaroquaux commented on #8213
Well, that's incredibly interesting and useful. I agree with the conclusion that "A simple heuristic would be to use brute whenever n_features > 15".

Thank you for this work!

[2020-04-25 06:30] JacksonKearl opened #17035 "predict values sometimes different from top predict_proba entries?"
#### Describe the bug
I'm not actually sure if this is a bug or my own misunderstanding. But I would expect the max value in a row of `predict_proba` to have an index exactly equal to the value in the corresponding row of `predict`. However this is not what I'm seeing. Instead, the values are equal up until ~25, at which point they start to diverge by 1, then by 2 at ~50 ,and 3 at around ~115.

##

[2020-04-25 07:14] JacksonKearl commented on #17035
I don't know enough python to submit a fix in the library proper, but I believe the main idea is that

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/_stochastic_gradient.py#L1025-L1055

should be mapping the indexes it returns through `self.classes_` to convert form the internal representation of indexes to the external view of labels. If this mapping does not happe

[2020-04-25 12:14] NicolasHug commented on #17035
You're right that predict and predict_proba should be consistent, we have estimator checks for that.

I wouldn't be surprised that the differences that you get come from ties in `predict_proba`, and `predict` breaks ties differently from your custom `np.argmax`

[2020-04-25 13:04] netomenoci commented on #11996
Any updates on this?

I can't fit a dataset that contains 'nan' values.

[2020-04-25 13:42] ChemEngDataSci commented on #17035
I agree I think it's because of ties in predict_proba.  In the custom max function, it will always grab the max value with the lowest index. So based on your comparison, the ones that don't match, the predict_proba has the lower value.

[2020-04-25 13:43] smarie commented on #17024
Indeed stupid typo, thanks @H-Yin for spotting this !
Should we ask for a PR for such a one-line edit ?

[2020-04-25 13:46] NicolasHug commented on #17024
can't hurt to fix it, yes. @H-Yin do you want to submit a quick PR? We have instructions at https://scikit-learn.org/stable/developers/contributing.html#pull-request-checklist (this is just a comment fix so most of the instructions would not apply to you)

Please pping me in the PR if you do

Otherwise @smarie or I will do it

[2020-04-25 13:53] NicolasHug commented on #17035
For completeness, `predict` returns `self._classes[scores.argmax(axis=1)]` where `scores` is the output of  `decision_function`

`predict_proba` is a monotonic transformation of the decision function, though the transformation *might* induce ties due to numerical instability. But it's unlikely that this happens when the scores are already significantly different.

Anyway @JacksonKearl I'd suggest

[2020-04-25 13:59] JacksonKearl commented on #17035
@NicolasHug  @ChemEngDataSci please see my updates, this is nothing to do with ties and everything to do with the indexes returned in predict_proba not corresponding to indices into `target_names`. `predict_proba` is returning the estimator's internal representation of indices, which skips over labels that have no training data. The values it returns need to be passed through its `super.classes_`

[2020-04-25 14:12] NicolasHug commented on #17035
That is the case, see my message above.

In general, if a label isn't present in the training data, then the estimator is not going to be able to predict this label.

For further investigation, please provide a **minimal** reproducible example with code and data.

[2020-04-25 14:14] JacksonKearl commented on #17035
What do you mean "that is the case"? Is it the case that the need to be passed through `super.classes_` (I agree), or is it the case that they already are passed through `super.classes_`? I disagree, see the implementation at https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/_stochastic_gradient.py#L1025-L1055 and notice how when I manually pass them through `#.classes_

[2020-04-25 14:22] NicolasHug commented on #17035
I was referring to `predict`, but I see now you were referring to `predict_proba`. Indeed predict_proba is index-based and the indices corresponds to internal representation (though they can manually be mapped with `clf.classes_`). I'm not sure how things could be done differently, considering that classes can be pretty much anything, including strings e.g. "cat" and "dog".

I read, but you keep e

[2020-04-25 14:25] JacksonKearl commented on #17035
[code]

[code]

[2020-04-25 14:35] NicolasHug commented on #17035
You're assuming the convention that the classes in `y` are integers in [1, n_classes]. That's a very strong assumption, and one that sklearn does not make for usability reasons.

Scikit-learn will look at `Y`, see that only 2 classes are present, and treat this as a binary classification problem. For sklearn, Y = [1, 1, 3, 3] is equivalent to Y = [0, 0, 1, 1,], or Y ['cat' 'cat' 'dog' 'dog']. All

[2020-04-25 14:36] #17035 closed

[2020-04-25 14:48] JacksonKearl commented on #17035
I see now that it's documented that `classes are ordered as they are in 'self.classes_'`. Though this was surprising to me, and seemingly to you both as from the get go I said that the problem went away after passing through `classes_` and you said that that wasn't the expected behaviour, but rather that there might be issues due to ties or numerical instability.

Have a nice day.

[2020-04-25 14:57] NicolasHug commented on #17035
My bad, I probably read too fast. The kind of issue in the title `predict values sometimes different from top predict_proba` is one that comes up regularly, and 99% of the time it's because of ties, and I got influenced by that.

[2020-04-25 16:18] madanvnera commented on #16887
@techytushar I noticed that there is no parameter for n_job in minibatch algorithm. Is there any reason?  Is there any control over parallel running in minibatchKemans?

[2020-04-25 18:08] #17024 closed

[2020-04-26 02:20] xiegx94 opened #17039 "Kmeans lloyd tolerance function"
I notice there is a tolerance function in ```kmeans lloyd```.
in sklearn/cluster/_kmeans.py
[code]

My quesion is why the ```_tolerance``` function is related to the variance of input samples. And can we just use an arbitrary input value to replace the ```_tolerance``` calculation process?

[2020-04-26 03:02] skeller88 commented on #16802
Considering how this request gets repeated pretty frequently, could someone chime in with some clearer justification that could be added to the documentation? Or this feature could find a home in scikit-learn contrib and then could be linked to? I'm unclear on the reasoning for not including p-values.

Reasoning in [#6773](https://github.com/scikit-learn/scikit-learn/issues/6773):

First, scikit-l

[2020-04-26 05:10] jeremyatia opened #17041 "[DOC] Typo in ColumnTransformer class"
[The documentation of ColumnTransformer](https://scikit-learn.org/stable/modules/generated/sklearn.compose.ColumnTransformer.html) contains a typo.
https://github.com/scikit-learn/scikit-learn/blob/95d4f0841d57e8b5f6b2a570312e9d832e69debc/sklearn/compose/_column_transformer.py#L75
It should be replaced by sklearn.compose.make_column_selector.

[2020-04-26 05:16] paras009 commented on #12891
For me, the same error came but it was solved when I removed
`n_jobs=-1`
from the code, then it worked perfectly.
Maybe there is some issue with the multithreading compatibility for parallel computing

[2020-04-26 05:25] paras009 commented on #13228
For me, the same error came but it was solved when I removed
`n_jobs=-1`
from the code, then it worked perfectly.
Maybe there is some issue with the multithreading compatibility for parallel computing.
Can you help me understand what could be the real reason?

[2020-04-26 10:14] Reksbril commented on #12492
@amueller is this still needed? If so, I could work on this.

[2020-04-26 10:24] Reksbril commented on #17027
Can I work on this, or does it needs some further discussion?

[2020-04-26 10:29] lorentzenchr commented on #17027
@Reksbril Thanks for volunteering. It needs discussion first.

[2020-04-26 10:33] hugovk commented on #16824
Pillow 7.1.2 was released yesterday with a fix for https://github.com/python-pillow/Pillow/issues/4518.

[2020-04-26 11:34] hugovk commented on #16824
Please see PR https://github.com/scikit-learn/scikit-learn/pull/17043 to remove the pin.

[2020-04-26 11:48] #16824 closed

[2020-04-26 13:48] thomasjpfan commented on #17041
Thank you for the issue report.

This is [fixed on master](https://scikit-learn.org/dev/modules/generated/sklearn.compose.ColumnTransformer.html) and will appear on the website when we release.

https://github.com/scikit-learn/scikit-learn/blob/4755ae76d2df10bbf41bc93fb7083b0142ef1044/sklearn/compose/_column_transformer.py#L76

[2020-04-26 13:48] #17041 closed

[2020-04-26 17:32] tianchuliang commented on #16696
Has this issue been resolved? Looking at the latest doc, the alpha explanation looks pretty intuitive now. @arosen93 @NicolasHug If you think there is room for improvement, I'd love to do more digging and add more to the docs.

[2020-04-26 17:52] tianchuliang commented on #16789
@oXwvdrbbj8S4wo9k8lSN @thomasjpfan @rth This was merged in master Oct 2019 https://github.com/scikit-learn/scikit-learn/commit/084a35158a51f662606ea701302419275e03104a

So it seems this is the expected behavior, given the flip_y parameter is default to 0.01, i.e the probability of some classes randomly assigned. The higher this number is, the more likely you see unbalanced/unexpected label distrib

[2020-04-26 18:07] arosen93 commented on #16696
@tianchuliang I think the updated doc is much clearer! Thank you!

[2020-04-26 18:09] NicolasHug commented on #16696
Thanks both, yes I think the new version is good enough. Closing the issue!

[2020-04-26 18:09] #16696 closed

[2020-04-26 18:34] CAridorc opened #17050 "Obsolete example at https://scikit-learn.org/0.16/auto_examples/ensemble/plot_gradient_boosting_regression.html#example-ensemble-plot-gradient-boosting-regression-py"
`staged_decision_function` is obsolete so the example at https://scikit-learn.org/0.16/auto_examples/ensemble/plot_gradient_boosting_regression.html#example-ensemble-plot-gradient-boosting-regression-py does not run with the newest version.

[2020-04-26 18:41] tianchuliang commented on #17009
just so I understand, this metric is to calculate the distance between two data matrices right?
For example, given two data matrices X1 and X2 of the same m by n (i.e m rows, n features), we want to first compute their mean vectors U1 and U2 (dimension: 1 by n), and then their standard deviation vector D1 and D2 (dimension: 1 by n).
Then, in pseudocode
`d = EuclideanDist(U1,U2) + sum(D1[i] + D2[i]

[2020-04-26 19:15] rth commented on #17050
The link points to the v0.16 documentation from a long time ago. The up to date documentation is https://scikit-learn.org/stable/

[2020-04-26 19:15] #17050 closed

[2020-04-26 19:37] NicolasHug opened #17051 "Stop generating pdf docs?"
Is anyone strongly against stopping the generation of pdf docs?

CI is currently broken because of a LaTeX error. It happens [every now and then](https://github.com/scikit-learn/scikit-learn/issues?q=is%3Aissue+sort%3Aupdated-desc+is%3Aclosed+latex), and it blocks other PRs. LaTeX error messages being what they are, these issues can take time and effot to fix.

Should we just stop generating the p

[2020-04-26 19:48] rth commented on #17051
+1 to stop generating it at each commit on master but I think it's still useful to make them once per release. We had issues in the past about people using it, and it's nice to have something off-line.

[2020-04-26 19:54] NicolasHug commented on #17051
how about providing a zip of the html docs for off-line browsing? I feel like this would be more usable than a big pdf

[2020-04-26 19:54] rth commented on #17051
Let's discuss it in the meeting tomorrow?

[2020-04-26 22:54] MilesCranmer commented on #17009
Yes, you understand correctly! And usually, you won't even be given X1 and X2 - you will just get U1, D1, etc., directly. So the API won't need to work with the X1 and X2 datasets, but just U1, D1, etc.

E.g., if I infer the position of an object from a photograph, I will have uncertain positions for every point rather than exact. Then it would be great to have a distance metric that can work with

[2020-04-27 00:15] nilichen commented on #11996
@netomenoci I recently worked on this and here is my comment on this issue: https://github.com/scikit-learn/scikit-learn/pull/16749#issuecomment-616225281

[2020-04-27 02:44] isuruf commented on #16955
Duplicate of https://github.com/scikit-learn/scikit-learn/issues/15821

[2020-04-27 03:53] edoven opened #17055 "Fix important typo in definition of balanced_accuracy_score"
#### Describe the issue linked to the documentation

In the documentation of the [balanced_accuracy_score](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.balanced_accuracy_score.html#sklearn.metrics.balanced_accuracy_score), the metric is defined as:

#### Suggest a potential alternative/fix

It should be:

[2020-04-27 06:47] edoven commented on #17055
My bad, the current definition is correct

[2020-04-27 06:47] #17055 closed

[2020-04-27 07:16] Reksbril commented on #16668
Can I work on the other cases, or someone is already doing do?

[2020-04-27 07:46] jnothman commented on #17051
I'd be happy for us to provide a zip of HTML docs.

[2020-04-27 10:35] jeremiedbb commented on #16887
No there's no `n_jobs` parameter in MiniBatchKMeans. It will use as many cores as possible. Note that the `n_jobs` parameter in KMeans will be depecrated soon and the behavior will be the same as KMeans.

For now, with the master branch, and after the upcoming release, the parallelism would be controlled through the `OMP_NUM_THREADS` environment variable.

[2020-04-27 10:41] jeremiedbb commented on #17039
The goal of it is to have a tolerance parameter more or less independent of the dataset. It's allows us to have a default value which will be acceptable for a large set of datasets.

If you really need to set a specific value for tol you can divide it by the mean variances of X:
`KMeans(tol=mytol / np.mean(np.var(X, axis=0)))`

[2020-04-27 10:49] chrispe92 commented on #16765
Since nobody responded, I took it on and submitted a pull request as you see above.

[2020-04-27 10:54] adrinjalali opened #17057 "Fix 0.23 whats_new entries"
Towards #17010.

Cleaning ups to whats_new.

Some cases which need fixes:

Not sure:

  - BUG Ignores tags when estimator is a class in parametrize_with_checks (#16709) @thomasjpfan
  - FIX Expose SelectorMixin through sklearn/feature_selection/ (#16132) @jnothman @rth
  - FIX Explicit conversion of ndarray to object dtype. (#15832) @jnothman
  - BUG Returns only public estimators in all_estimator

[2020-04-27 10:54] TimZaragori opened #17058 "GridsearchCV.score with multimetric scoring and callable refit"
#### Describe the bug
When using GridsearchCV with multimetric scoring and a callable as refit, the `GridsearchCV.score` function doesn't works since `score = self.scorer_[self.refit] if self.multimetric_ else self.scorer_` seems to wait only for a string in case of multimetric scoring
#### Steps/Code to Reproduce
[code]

#### Actual Results
File "C:\Users\Tim\Anaconda3\lib\site-packages\sklearn\m

[2020-04-27 12:02] jnothman commented on #17058
You're right, I can confirm this is a bug. But it seems there's no way for `score` to work if refit is a callable. I suppose that was under-thought on my part.

[2020-04-27 12:25] jnothman commented on #15122
I think we should avoid neglecting this for more releases. This bad-citizen code was inserted accidentally.

[2020-04-27 12:46] TimZaragori commented on #17058
For my personal use (sklearn wrapper for nested cross validation) I tried to implement it this way : https://github.com/TimZaragori/Sklearn_NestedCV/blob/master/Statistical_analysis/nested_cv.py#L283 with the scoring function (score of model after refit on all data as GridsearchCV but after whole nested cross validation) : https://github.com/TimZaragori/Sklearn_NestedCV/blob/master/Statistical_ana

[2020-04-27 14:01] vivekvjnk opened #17060 "Need some help on how fuzzy variables are internally implemented in Scikit-fuzzy"
#### Describe the issue linked to the documentation

I am working on a self organizing fuzzy controller project. The goal is to build a light weight self organizing controller which was first theorized by Procyk in 1977. To implement self organizing algorithm based on fuzzy performance index approach, I need to add the output fuzzy variable of the controller with the performance index fuzzy variab

[2020-04-27 14:22] jnothman commented on #17060
This is not [scikit-fuzzy](https://github.com/scikit-fuzzy/scikit-fuzzy).

[2020-04-27 14:22] #17060 closed

[2020-04-27 18:25] adrinjalali commented on #17010
@scikit-learn/core-devs the 0.23.X branch is not up, please tag this issue once a PR is merged and you'd like it included in the RC before we create the tag.

[2020-04-27 18:41] adrinjalali commented on #17051
I think this needs to be solved for the release. @rth would you be able to put together a PR for this one maybe?

[2020-04-27 18:44] adrinjalali commented on #15005
I think this one is now complete. There may be missing ones, which we can deal with later with delayed deprecations.

[2020-04-27 18:44] #15005 closed

[2020-04-27 18:47] NicolasHug commented on #17051
The actual blocker is the LaTeX issue right? It would be fine to still ship a pdf for this version

[2020-04-27 18:48] adrinjalali commented on #17051
Yes.

[2020-04-27 19:08] thomasjpfan opened #17063 "Replace "######" separators by "# %%" in gallery"
Just noticed this was a feature in sphinx-gallery, I think I prefer the `# %%` over the `######`:

[code]

vs

[code]

[2020-04-27 19:11] thomasjpfan commented on #17051
I'll look into it today. (Currently, I am not able to reproduce)

[2020-04-27 19:35] cpoptic opened #17064 "TypeError: __init__() got an unexpected keyword argument 'steps'"
#### Describe the bug

#### Steps/Code to Reproduce
[code]

#### Expected Results
sklearn Pipeline object should be initialized without error

#### Actual Results

('scaler', StandardScaler())],  verbose=1)

#### Versions

System:
    python: 3.7.6 | packaged by conda-forge | (default, Mar 23 2020, 22:22:21) [MSC v.1916 64 bit (AMD64)]
executable: C:\ProgramData\Anaconda3\envs\fastai2\python.exe

[2020-04-27 20:04] cpoptic commented on #17064
Bug appears to disappear when running `from sklearn.pipeline import Pipeline` from the same cell as the line of code `numeric_transformer = Pipeline(steps=[('imputer', SimpleImputer(strategy='median')), ('scaler', StandardScaler())])
)`

Strange.

[2020-04-27 20:06] #17064 closed

[2020-04-27 20:23] tqdo opened #17065 "Cannot import scikit-learn (image not found)"
I'm having trouble installing scikit learn on python 3.6 (OSX). I tried to install it via ananconda but could not load scikit-learn in python. I have my numpy, scipy and pandas installed and I can load them.

[code]

I could install scikit-learn using `pip install -U scikit-learn` but still could not load it

[code]

[2020-04-27 21:18] jnothman commented on #17065
It looks like your scipy installation is broken anyway and importing scipy.spatial will error. As such this is not a scikit-learn issue

[2020-04-27 21:18] #17065 closed

[2020-04-27 21:47] TomDLT commented on #16752
fixed in #16981

[2020-04-27 21:47] #16752 closed

[2020-04-27 22:15] #17030 closed

[2020-04-27 23:47] thomasjpfan commented on #17051
It fixed itself on master.

[2020-04-27 23:54] NicolasHug commented on #17051
love it.

Apparently the error comes from a hyperref being split across 2 pages (details [here](https://tex.stackexchange.com/questions/1522/pdfendlink-ended-up-in-different-nesting-level-than-pdfstartlink), and as far as I understand there's pretty much no fix). It might happen again if we get unlucky with the docs layout.

[2020-04-27 23:56] thomasjpfan commented on #17057
Now that we are going to deprecated class support. I do not think we need this in whats new.

[2020-04-28 01:09] tianchuliang commented on #17009
Makes sense; since this is a new feature request, I am assuming it needs some kind of discussion from the core members before development. Btw, i'd love to work on this once it gets a go from core team. @NicolasHug I am relatively new here, what should I do before implementing this new feature?

[2020-04-28 01:22] jnothman commented on #17057
Not going to do #15832.

[2020-04-28 01:26] tianchuliang commented on #17009
Ok, here is what I propose to do. We add a function under the sklearn.metrics.pairwise submodule, call it wasserstein_2. The function compares pairwise wasserstein_2 distances of two groups of data points X and Y. The function looks like:
`
def wasserstein_w(X_u, Y_u, X_d, Y_d):
    ...
    ...
`
where
    '''
    X_u: mean positions of data points in X
    Y_u: mean positions of data points in Y

[2020-04-28 01:54] crypdick commented on #8245
What's the status on this?

[2020-04-28 02:51] HanYaodong opened #17067 "DOC Neural Net Module Uses bool for verbose toggle"
#### Describe the issue linked to the documentation

Most scikit-learn functions and classes uses an int (0 or 1) as verbose value, with 0 being default. However, MLPClassifier and regressor uses a bool (True or False), which is not very consistant with the convention, as shown below.

https://github.com/scikit-learn/scikit-learn/blob/fb76de72e7560aaa739872e94bee761777e54c0a/sklearn/neural_network

[2020-04-28 05:47] #17057 closed

[2020-04-28 07:21] jnothman commented on #17009
How would you represent each distribution comparably to a feature array? It
sounds like here each "data point" is a distribution, and hence you'd
define each data point by a feature array of m means and m*(m+1)/2
covariances. Is that right?

[2020-04-28 07:34] jnothman commented on #15005
Thanks for all your effort to everyone involved. This is a great thing for making the parameters more findable in a year's time.

[2020-04-28 08:22] annikagable commented on #13853
This is still an issue for me.
[code]

[2020-04-28 09:01] rth commented on #17063
Yes, I think it would make reading examples in text format much nicer! Made a PR in https://github.com/scikit-learn/scikit-learn/pull/17068

[2020-04-28 09:18] jnothman commented on #13853
@annikagable please provide a code snippet that reproduces the issue, or does the code above do so?

[2020-04-28 09:33] annikagable commented on #13853
I'm sorry, it seems to be a slightly different issue because it only occurs when the array is wrapped in a pandas dataframe. Pandas version is 1.0.3

[code]

[code]

[2020-04-28 09:56] theoryno3 commented on #13853
A pandas DataFrame is not the data type expected by
"sklearn.metrics.pairwise_distances".

Why not apply the calculation on the nearest, then perform transformation
required for downstream analyses?

Best,
Paul

On Tue, Apr 28, 2020, 2:34 AM annikagable <notifications@github.com> wrote:

[2020-04-28 10:11] douglas125 opened #17069 "Enable stop/resume in GridSearchCV and RandomizedSearchCV"
#### Describe the workflow you want to enable
I would like it to be possible to stop and resume GridSearchCV and RandomizedSearchCV. This is relevant in situations where training a model can take a long time.

Right now, as far as I know, if the execution stops for whatever reason the results are lost.

#### Describe your proposed solution
I propose an extra parameter in GridSearchCV and Randomize

[2020-04-28 10:51] Reksbril commented on #16637
Can I work on this?

[2020-04-28 10:55] jnothman commented on #17069
Invalid combinations should trigger the error_score behaviour. Memory leaks
are a bit harder to solve.

You can use scorer to pass any callable of appropriate signature, so it can
store results in a database...

[2020-04-28 10:56] adrinjalali commented on #17057
#17010

[2020-04-28 10:57] #14249 closed

[2020-04-28 10:59] jnothman commented on #13853
Can you please open a new issue for this since it is a distinct issue?

[2020-04-28 11:10] douglas125 commented on #17069
Does the scorer have access to what CV split is being used?

If the model itself has this information (access to CV split number or equivalent) maybe it would be also possible to have the model save its own results.

Thanks for the feedback

[2020-04-28 11:16] jnothman commented on #17010
Sorry, I might have messed up your system. I naughtily committed 54354083eb direct to master...

[2020-04-28 11:19] jnothman commented on #17069
If you're using a Pandas DataFrame then the row indices could be used to identify the fold. Not a wonderful solution. :|

[2020-04-28 12:02] adrinjalali commented on #17010
lol. thanks for checking the log, I'll make sure to pull it in the branch :)

[2020-04-28 14:43] douglas125 commented on #17069
Well.... at the very least it would help to be able to pass some callback function that gets called after a fold is complete.
Anyways, feel free to Close if you think this is not worth implementing.

[2020-04-28 15:52] 183amir commented on #5523
I've read up on this issue and looks like there are two major blockers here:
1. https://github.com/pandas-dev/pandas/issues/27211
2. That pandas does not handle N-D arrays.

Have you considered adding support for xarrays instead? They don't have those limitations of pandas.
[code]
There is a package called `sklearn-xarray`: https://phausamann.github.io/sklearn-xarray/content/wrappers.html that wra

[2020-04-28 15:57] thomasjpfan commented on #5523
xarray is actively being considered. It is being prototyped and worked on here: https://github.com/scikit-learn/scikit-learn/pull/16772 There is a usage notebook on what the API would look like in the PR.

(I will get back to it after we finish with the 0.23 release)

[2020-04-28 16:35] morgan101 opened #17070 "RandomForestClassifier class_weight parameter is inverted"
#### Describe the bug
The class_weight parameter for RandomForestClassifier seems to be inverted. For an unbalanced outcome (say 0 = 90%, 1=10%) I expect to add a higher class weight on 1 to get more 1 predictions. However, I'm finding that adding a higher class weight on 0 returns more 1 predictions. Logistic regression class_weight performs as expected - adding a higher class weight on 1 returns

[2020-04-28 17:00] #16498 closed

[2020-04-28 17:07] bsamanvitha opened #17072 "BIC formula or calculation not mentioned"
#### Describe the issue linked to the documentation

In this link:
https://scikit-learn.org/stable/auto_examples/mixture/plot_gmm_selection.html

there is no mention of how the BIC metric is calculated. Some textbooks show a negative sign and some show a positive sign before the equation.

#### Suggest a potential alternative/fix

It would be nice to show a latex formula of BIC used in the impleme

[2020-04-28 19:33] AutoViML opened #17074 "Please include Auto_ViML in list of related projects"
Hi: A new python library for Auto-ML has been developed and is based on Scikit-Learn libraries. It would be great if you can add the Github link for this project in your Auto-ML tab in your "Related Projects" section here:
https://scikit-learn.org/stable/related_projects.html

This is the Github of the Auto_ViML (pronounced as "auto-vimal") project:
https://github.com/AutoViML/Auto_ViML

It has se

[2020-04-28 19:53] franzoni315 opened #17075 "cross_validate could have an option to return any object based on target and predictions"
#### Describe the workflow you want to enable
The `cross_validate` method is able to return multiple scoring metrics, which makes it very flexible. However, this option does not allow for returning arrays (or even a custom object), which is interesting if you wanted to draw a cross-validated ROC curve, or a cross-validated calibration curve. Currently, you would have create your custom `cross_vali

[2020-04-28 20:47] adriangb commented on #4497
I haven't contributed to scikit-learn @jnothman, but would love to start! Thanks for referring me to the current discussion, I will comment there.

[2020-04-28 21:54] miketrumpis commented on #17034
Expanding on this, the closed-form gradients are also missing a 1 / length_scale factor. E.g.

https://github.com/scikit-learn/scikit-learn/blob/1bd740436ddeadd00567cd2ab7ec15e20c2f5a57/sklearn/gaussian_process/kernels.py#L1626-L1628

It looks like for all closed-form cases, a final ``K_gradient /= self.length_scale`` will work for both iso- and anisotropic kernels. If iterable, the length scale s

[2020-04-28 22:23] jnothman commented on #4497
This is a very intricate place to start!! It has challenged those of us who
know scikit-learn API deeply for years.

[2020-04-28 22:38] adriangb commented on #4497
Well, I don't expect to be able to do too much, but it cant' hurt to try! I was also interested in working on IterativeImputer (https://github.com/scikit-learn/scikit-learn/issues/16638#issuecomment-613588952). That's probably not any easier.

[2020-04-29 10:39] Reksbril commented on #7139
@adrinjalali is it still needed? If so, I could start working on this.

[2020-04-29 10:59] jnothman commented on #4497
IterativeImputer doesn't have as many API quandaries and intricacies
involved. More algorithmic questions.

[2020-04-29 11:05] jnothman commented on #17069
score gets called after a fold is complete, but it does not have the index
:(

I think it's worth considering for implementation. I'm just not sure how to
go about it without big changes.

[2020-04-29 11:58] DrCMY commented on #12546
Hi, the same problem still continues today. Also, the problem is not specific to GridSearchCV. MultiOutputClassifier has the same problem. I use both GridSearchCV and MultiOutputClassifier and I tried all combinations of GridSearchCV and MultiOutputClassifier (e.g., both are n_jobs=-1, or only one of them is n_jobs=-1). For instance, if I make only MultiOutputClassifier n_jobs=-1, I receive that e

[2020-04-29 12:31] adrinjalali commented on #7139
Thanks, but there's already an open PR for this @Reksbril

[2020-04-29 13:25] tianchuliang commented on #17009
@jnothman I think yes, in this case, each row/"data point" in X_u and X_d represents a distribution, or @MilesCranmer would call it, a measurement (consisting of mean value, and its standard deviation).
For the basic version of this function, as I understand it (@MilesCranmer correct me if im wrong), we will assume no co-variance, so the feature vector is m means, and m standard deviations. data p

[2020-04-29 15:14] #16833 closed

[2020-04-29 18:12] Luma12 opened #17082 "MLPClassifier:: run multiple times but always different results"
Hi to all!
I'm trying to fit this MLPClassifier for a binary classification problem:

[code]

by fitting it to a fixed training sample.

However, any time I run it, I find different results in terms of roc_auc_score. I search on the web to look for a way to make my code reproducible but I cannot find any clear answers to that.
Do you have any suggestion?

Thanks :)

[2020-04-29 18:14] TimZaragori opened #17083 "Increase of time of execution at each repetition of GridsearchCV when trying to save its prediction into temporary files"
#### Describe the bug
I wanted to test the method described in #16353 since I have a small number of samples in each fold.
I succeeded to get predictions for each parameter tested in GridsearchCV using temporary files and a custom scorer. Every time the scorer is called (so twice for each parameter, for training and for testing), I write a file with my predictions in it and I retrieve all this aft

[2020-04-29 19:25] goerch opened #17085 "LabelPropagation raises TypeError: A sparse matrix was passed"
#### Describe the bug

LabelPropagation (and LabelSpreading) error out for sparse matrices.

#### Steps/Code to Reproduce

[code]

#### Expected Results

Sparse case should work as does the dense one.

#### Actual Results

[code]

#### Fix

Changing

[code]

in _label_propagation.py line 224 to

[code]

seems to fix the problem for me (BTW: a similar check accepting sparse matrices is done in Base

[2020-04-29 19:59] goerch commented on #17085
Just checked: the fix seems to work for kernel='rbf', too.

[2020-04-29 21:52] thomasjpfan opened #17086 "Is including `__init__` useful in the API docs?"
Is this useful information?

<img width="666" alt="Screen Shot 2020-04-29 at 5 50 31 PM" src="https://user-images.githubusercontent.com/5402633/80650460-07b50580-8a42-11ea-8b6d-52cfdad63204.png">

[2020-04-29 22:31] #14061 closed

[2020-04-29 22:54] adriangb opened #17087 "Mixed-type imputation for IterativeImputer"
I am opening this issue to more clearly document scattered comments I have made about this idea in several issues.

**Workflow**
For even the simplest dataset (say the Titanic dataset), dealing with missing values and encoding data are essential pre-processing steps. Scikit-Learn has a lot of great tools to deal with this, but I am going to focus on `IterativeImputer` for missing data and `ColumnT

[2020-04-30 03:19] sandrotosi commented on #15821
this also fails on arm64

[2020-04-30 11:20] jnothman commented on #17087
Can you give an example of what kind of dataset you had envisaged this for?
And why it can't work with estimator=Pipeline(...)? I had imagined we'd one
day consider extending IterativeImputer to support different estimators for
each column (i.e. not applying ColumnTransformer, but a similar syntax).

[2020-04-30 11:47] adriangb commented on #17087
Any dataset that has missing values and mixed data types. The most basic example is the Titanic dataset, but there are many more that fit that description.

Firstly, IterativeImputer does not support clarification at all. Even if you did add different estmators for each column, you'd still need to prepare the data for that estimator by onehotencoding, etc. I guess you could then also accept a list

[2020-04-30 11:59] adriangb commented on #17087
@jnothman pinging you to read online, I just realized that I had excited my first post to add the example dataset and usage, and that you likely didn't get that via email.

[2020-04-30 12:48] cmarmo commented on #16998
Hi @napsternxg thanks for reaching out. Could you please add a small snippet of code as we can reproduce the error message? Thanks a lot!

[2020-04-30 13:56] cmarmo commented on #17022
Hi @MuradBozik could you try to reduce your sample code to only use scikit-learn functions and see if the error is still there? Thanks for your help!

[2020-04-30 16:09] cmarmo commented on #13308
Hi @jeremiedbb and thanks for your patience, my plot behaved fuzzy probably because someone else was heavyly computing on the machine at the same time... waiting for the new version let me just say that, if I understand correctly, the convergence is computed here https://github.com/scikit-learn/scikit-learn/blob/5af23c93e325c35df8ff3f7d3733fe70a9101268/sklearn/decomposition/_nmf.py#L860 using the

[2020-04-30 20:20] Justin-Huber commented on #16862
I have a few questions about the tests and implementation of newrand. I'm using scipy's Kolmogorov–Smirnov test (scipy.stats.kstest) for uniformity testing. Any reason to go with any pvalue other than 0.05 as the threshold? Also, why is the orig_range argument for bounded_rand_int an int? Seems like passing in a negative number wouldn't give intuitive results.

[2020-04-30 22:18] MuradBozik commented on #17022
I reduced the training samples. I used sklearn neural network MLPClassifier. In that case, there is no error. If i use keras to build neural network and use wrappers for GridSearch, error occurs but only in 0.22.2.post1 version.

[2020-05-01 10:23] sahinbatmaz opened #17097 "CalibratedClassifierCV does not support joblib parallel computing."
CalibratedClassifierCV does not support joblib parallel computing.

Each CV in CalibratedClassifierCV is trained sequentially with a for loop.
https://github.com/scikit-learn/scikit-learn/blob/95d4f0841/sklearn/calibration.py#L182

The joblib parallel implementation in GridSearchCV can be added easily.
https://github.com/scikit-learn/scikit-learn/blob/95d4f0841/sklearn/model_selection/_search.py#L

[2020-05-01 10:59] rth commented on #16988
Thanks @grisaitis I agree this would be useful and it's part of the larger discusion on the random_state API https://github.com/scikit-learn/scikit-learn/issues/14042

[2020-05-01 12:16] NicolasHug commented on #16988
These are the attributes/methods that aren't supported in Generator:

[code]

and this is where we use (some of) them in the API:

[code]

If we want to support generators, I'm afraid that means we have to start wrapping `RandomState` and `Generator` into something that can backfall when `randint` and the likes aren't available?

[2020-05-01 12:32] #16394 closed

[2020-05-01 14:14] NicolasHug commented on #15814
Closing: the decision during the meeting was that if the foundation website is to have an article similar to a "release highlights", then it should make clear that the official highlights are in the gallery, and link to it

[2020-05-01 14:14] #15814 closed

[2020-05-01 14:26] big-o commented on #13614
If it helps, I've got another use case for this.

I have a training set of catagorical data that I've split into a (train, valid) set. I then want to run a simple logistic regression on it with the following pipeline:

[code]

The problem with this is that the Onehotencoder is only fit on the data it receives, so if you try to run `predict` on a different dataset you'll get an error:

[code]

This

[2020-05-01 15:51] tianchuliang commented on #17009
@cmarmo any decision on this feature? I'd like to contribute if possible.

[2020-05-01 16:32] cmarmo commented on #17009
Hi @tianchuliang, core-devs are quite busy with the 0.23 release, I don't think you will have a quick answer on that until 0.23 is out. [New features](https://github.com/scikit-learn/scikit-learn/issues?q=is%3Aissue+is%3Aopen+label%3A%22New+Feature%22) always need some detailed discussion before opening a PR. Thanks for your patience.

[2020-05-01 16:49] tgy commented on #6425
i think `OrdinalEncoder` can be added to this list

[2020-05-01 21:14] amueller commented on #8213
@GaelVaroquaux do you think the potential loss of performance for datasets with a low intrinsic dimensionality is an issue?

@gbolmier do you want to do a PR with just that simple heuristic? It's likely to be better than what we had, and it probably shouldn't go into the release, so we'll have another 6 month of testing it.

[2020-05-01 21:17] smarie commented on #16862
I am not familiar enough with that test to tell if that would be relevant.

I think that my idea was that we could (would that impact performance significantly ?) raise an error here if the provided int is negative, while if this casting is done on the caller's side (many calls in svm.cpp and liblinear.cpp) the protection would need to be copied multiple times. But if we do not add a protection, t

[2020-05-01 21:24] gbolmier commented on #8213
Agree, let's go this way!

[2020-05-01 23:04] rth commented on #8213
Thanks for working on this @gbolmier ! Yes, performance wise the general conclusion seems reasonable.

One concern with switching to brute-force, could be size of serialized models. For instance, for estimators, that in fit, calls,
[code]
such as Isomap or LabelPropagation means that serializing the model would also require serializing the input dataset stored as an attribute internally. Could you

[2020-05-01 23:09] rth commented on #8213
Although it could be argued that n_jobs=1 by default while OMP_NUM_THREADS isn't. But it would still be good to check its impact to be sure we are not switching to brute in some regime just because its multi-threaded by default while tree methods aren't.

[2020-05-02 01:01] thomasjpfan commented on #11996
I am going to work on this with the goal of getting it into 0.24.

[2020-05-02 10:46] rth opened #17102 "Evaluate Cython 3.0"
The Cython 3.0a3 is out. It would be good if someone tried to make a draft PR that uses this version in CI and make sure it works as expected. In particular, following issues would be resolved for us,
 - fused types read-only memoryviews (meaning we can finally use memoryviews everywhere)
 - Conditional acquisition of GIL in a `no gil` block https://github.com/scikit-learn/scikit-learn/pull/17038

[2020-05-02 10:51] rth commented on #17102
I get the following build error when trying to build scikit-learn master with Cython 3.0a3 currently,
[code]

which was fixed in https://github.com/cython/cython/issues/3558 and should be included in the next alpha. We should be monitoring this closely to avoid discovering there are issues for us after the release.

[2020-05-02 10:55] rth commented on #17102
BTW, we are already using cython pre-releases in the `conda-pip-scipy-dev` build. The goal of this issue is to double check that all CI works not just one linux build.

[2020-05-02 13:40] tomasborrella commented on #12226
This worked for me:
`pip install scikit-learn=0.20.2`

[2020-05-02 16:11] tianchuliang commented on #17009
@cmarmo Sounds good; I will keep an eye on this thread. Thanks

[2020-05-02 20:33] amueller commented on #8614
Not sure if this was linked before but this is sort-of a duplicate of #4813.

[2020-05-02 20:35] amueller opened #17104 "Add mean_average_precision"
Mean average precision (mAP) is a standard multi-class extension of average precision using OVR: https://en.wikipedia.org/wiki/Evaluation_measures_(information_retrieval)#Mean_average_precision

Recently I prefer AP over AUC so I think it would be cool to add this.
Maybe @gbolmier is interested? @thomasjpfan probably knows how to do this ;)

[2020-05-02 20:36] amueller opened #17105 "add dtreevis to related packages"
This is a pretty cool library to display scikit-learn decision trees:
https://github.com/parrt/dtreeviz

[2020-05-02 20:37] amueller opened #17106 "add tslearn to related projects"
https://github.com/tslearn-team/tslearn

It seems quite actively developed and should be quite interesting to folks.

[2020-05-02 20:50] jjerphan commented on #17097
I've changed it on #17107, if you want to have a look @sahinbatmaz.

[2020-05-02 20:58] jjerphan commented on #17082
Hi @Luma12,

You might want to have a look at [this blog article](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) if you want to make your snippet a minimal reproducible example. :)

[2020-05-02 21:31] sahinbatmaz commented on #17097
It looks correct to me. I am looking forward for the merge.

[2020-05-02 21:59] Abo7atm commented on #17106
Hi, I'm a first time contributor. Can I take care of this?

[2020-05-02 22:00] rth commented on #17106
Yes, thank you @Abo7atm!

[2020-05-03 02:03] jnothman commented on #17105
+1

[2020-05-03 09:09] eldon97 opened #17111 "johnson_lindenstrauss_min_dim gives result -2147483648 with n_samples = 100 and eps = 0.0001"
https://github.com/scikit-learn/scikit-learn/blob/04d2e3290f47ee7ee86767ae534629cd4112ffbf/sklearn/random_projection.py#L131

with n_samples = 100 and eps = 0.0001. the result is 3684381774.2420897 in float64 but because the .astype(np.int) in that code, the final result is -2147483648. maybe it's exceeded the integer max value?

[2020-05-03 09:13] Reksbril commented on #17104
I could work on this, but would need some more information or example of something similar added.

[2020-05-03 16:37] mustuner commented on #1513
Hi @PedroFerreiradaCosta
I have tested this scikit-learn api and it seems it is still so slow (seems not responding yet). Do you think the reason could be it is implemented on Windows? Below is what I used:
EMRVC(kernel='rbf', gamma='scale', n_iter_posterior=10,  max_iter=500, compute_score=True , verbose=True ) Thanks for your answer @themrzmaster @PedroFerreiradaCosta

[2020-05-03 18:56] ZaxR commented on #16701
Any update on this? I see a PR from 21 days ago that looks like it passes, but just hasn't been reviewed yet.

[2020-05-03 19:08] vipulrai91 commented on #17111
@eldon97  Could you please specify the version which you are using , I am getting the expected output. Am I missing something here ?

Could you please elaborate.

Also, find below the results when I ran the same.

![jldn](https://user-images.githubusercontent.com/6196315/80923159-6c07fa00-8d9f-11ea-96b3-c38b9ac26e16.png)

[2020-05-03 19:13] vipulrai91 commented on #17104
@amueller I would like to work on this as my first PR , but as @Reksbril mentioned would need more information.

[2020-05-03 19:30] gbolmier commented on #17104
Sorry for the slow reply, would need one or two weeks before working on it

[2020-05-03 23:22] cmarmo commented on #13308
@jeremiedbb this new plot and my previous comment, are they answering your question?
![bench_topics](https://user-images.githubusercontent.com/1662261/80928545-92309880-8da5-11ea-810e-7e3e2cfd9dbe.png)

[2020-05-04 02:28] MQMQ2018 opened #17117 "How to calculate P-value for sklearn.inspection.permutation_importance??"
Dear Representative,

I am trying to use sklearn.inspection.permutation_importance (https://scikit-learn.org/stable/modules/generated/sklearn.inspection.permutation_importance.html#rd9e56ef97513-bre) to do the feature's importance of my regression model. And I used the importance_mean values from this function as the feature importance of the fitted predictor in my model. But my question is How to

[2020-05-04 06:21] ramapati166 opened #17118 "Model.fit value error"
**Any idea what could be causing this error? I've been trying to solve this for a week. Thanks in advance**
main program is:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
music = pd.read_csv('sun1.csv')
X = music.drop(columns=['genre'])
y= music['genre']

model = DecisionTreeClassifier()
model.fit(X, y)
predictions=model.predict([ [21,1], [22, 0] ])
predictions

ValueError

[2020-05-04 06:44] ZeyuSun opened #17119 "The empirical covariance is not unbiased"
#### Describe the issue linked to the documentation

There are two places in the following doc saying the empirical covariance is unbiased:
* https://github.com/scikit-learn/scikit-learn/blame/master/doc/modules/covariance.rst#L30
* https://github.com/scikit-learn/scikit-learn/blame/master/doc/modules/covariance.rst#L58

However, this is not true. The empirical covariance is the maximum likelihood

[2020-05-04 09:16] adrinjalali commented on #17014
#17062 closed this one.

[2020-05-04 09:16] #17014 closed

[2020-05-04 11:47] jnothman commented on #17010
Since 0.23.X has branched, master should now be labelled as version 0.24.dev0. Maybe that's missing from the checklist?

[2020-05-04 13:35] jeremiedbb commented on #13308
So in all your benchmarks, online NMF converges faster to a better solution. Pretty convincing !

[2020-05-04 14:33] zachmayer commented on #11996
FYI, all of the encoders in sklearn-contrib/category_encoders already have the option to `handle_unknown` — it might be pretty straightforward to just port their missing handling logic from `category_encoders.one_hot.OneHotEncoder`

https://github.com/scikit-learn-contrib/category_encoders/tree/master/category_encoders

[2020-05-04 14:41] zachmayer opened #17123 "Add handle_missing and handle_unknown options to OrdinalEncoder"
[category_encoders.ordinal.OrdinalEncoder](http://contrib.scikit-learn.org/category_encoders/ordinal.html) in [scikit-learn-contrib/category_encoders](http://contrib.scikit-learn.org/category_encoders/) has 2 really useful options:

1. `handle_unknown`, options are ‘error’, ‘return_nan’ and ‘value’, defaults to ‘value’, which will impute the category -1.
2. `handle_missing`, options are ‘error’, ‘

[2020-05-04 16:18] kinzasaeed opened #17124 "i want to to produce classification report but facing an error"
train_datagen = ImageDataGenerator(rescale = 1./255,
                                   shear_range = 0.2,
                                   zoom_range = 0.2,
                                   horizontal_flip = True)

test_datagen = ImageDataGenerator(rescale = 1./255)  #Image normalization.

training_set = train_datagen.flow_from_directory('./Input/Project/Dataset/train',

[2020-05-04 16:18] kinzasaeed commented on #17124
from sklearn.metrics import classification_report
print(classification_report(test_set, test_datagen))
gives a type error plzzzzzzzzzzz help me to resolve

[2020-05-04 16:41] cmarmo commented on #9881
@lesteve, last fall the [advanced installation](https://scikit-learn.org/stable/developers/advanced_installation.html#linux) page had been updated. Are you happy with the results? Should we close this one? Thanks!

[2020-05-04 16:57] jiwidi commented on #17124
Hi! I'm trying to reproduce your code but it seems you missed to add some dependencies.

What is your error? You say it fails but not what is this failing output, we need to know what happens on your side to be able to reproduce it.

Are you using keras (?) I see you have some ImageDataGenerators there. Are you able to make an example that reproduces your error without having to use the images ins

[2020-05-04 17:03] kinzasaeed commented on #17124
if you give me your mail i will mail you.

[2020-05-04 17:08] jiwidi commented on #17124
We can do it here, this way if someone else finds the same error it will be public to find. Also think about the posibility of posting coding questions in stackoverflow, this issues section should be for bugs/errors inside sklearn

[2020-05-04 17:13] kinzasaeed commented on #17124
[issue.docx](https://github.com/scikit-learn/scikit-learn/files/4576108/issue.docx)

[2020-05-04 17:14] kinzasaeed commented on #17124
plzzzzzzzzz look it. it has my code and pic of error too

[2020-05-04 17:14] jiwidi commented on #17124
Please read how to write code in markdown format (the one used in github) here https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code

[2020-05-04 17:19] kinzasaeed commented on #17124
[http://localhost:8888/notebooks/Desktop/ML/prodir/CNN.ipynb#](url)

[2020-05-04 18:03] zburcham commented on #8127
Has the addition of groups been resolved for use in nested CV yet?

[2020-05-04 19:20] NicolasHug commented on #4469
This will likely be fixed by https://github.com/scikit-learn/scikit-learn/pull/17095

Also note that CCA is typically unstable when n_features > n_samples or n_targets > n_samples, which seems to be the case here?

[2020-05-04 20:09] #17105 closed

[2020-05-04 20:23] AndriiNeverov opened #17125 "LogisticRegression memory consumption goes crazy on 0.22+"
#### Describe the bug

LogisticRegression started to consume crazy amounts of RAM on 0.22+.

#### Steps/Code to Reproduce

[code]

#### Expected Results

0.22+ memory consumption should stay reasonably the same.

#### Actual Results

0.22+ behavior (tried 0.22.0, 0.22.1, 0.22.2.post1):

If run inside a container with limited memory (1-2 GB), the code crashes (by OOM Killer).

Locally, ```top -o me

[2020-05-04 20:32] rth commented on #17125
Thanks for the report. How many unique classes does the training set have? I have seen this also for large number of classes, I think due to the `multi_class` being mapped to `multinomial` by default now and internally it allocates O(n_classes) of memory.

 Could you try `multi_class="ovr"` to see if resolves the issue?

[2020-05-04 20:53] jorjasso opened #17126 "NotFittedError/AttributeError/IndexError when a nested-cv procedure has a list of preprocessing scalers as hyperparameter"
#### Describe the bug
--
I am trying to to use the best preprocessing scaler within a nested cv procedure .  If you run the code sometimes it works fine, but some times it launch a NotFittedError/AttributeError/IndexError message : (If you run the below code several times you will get those error messages). It seem that those errors are associated with having `n_jobs=-1` within both `RandomizedSea

[2020-05-04 21:44] thomasjpfan commented on #15122
Resolved by https://github.com/scikit-learn/scikit-learn/pull/16451

[2020-05-04 21:44] #15122 closed

[2020-05-04 21:47] Stepan40k opened #17127 "duplicated intra/inter_clust_dists & LabelEncoder"
Hello.

1. The function `silhouette_samples` of `sklearn.metrics.cluster`  there are such cod rows:

[code]

I've checked the work of clustering algorithms with np.concatenation and without ones. and nothing happened. So what is the role of that concatenations?

2. In the beginning of function `silhouette_samples` you create an object of LabelEncoder.
   What is the reason to encode the labels aft

[2020-05-04 22:14] gbolmier commented on #8213
Thanks a lot for the feedback @rth!

Sure, will do soon!

Depends of the number of samples used at construction time, which vary in `{10,000; 50,000; 100,000}`. Number of samples used at querying time is fixed to 10,000 for all experiments.

Sorry, I'm not sure to get it, could you elaborate please?

Done, see [here](https://nbviewer.jupyter.org/github/gbolmier/sklearn-neighbors-benchmark/blob/mas

[2020-05-04 22:15] #17106 closed

[2020-05-04 22:25] jorjasso commented on #17126
Some times I got also an AttributeError

[code]

[2020-05-04 22:36] AndriiNeverov commented on #17125
@rth We have 20 classes. Yes, that helped. Thank you!!! Locally the peak mem consumption did grew to ~1.5GB instead of the old 1GB, but it did complete within a reasonable time. Also the 1GB container didn't crash either.

It would be great if some sort of warning could be introduced to detect this upfront.

[2020-05-04 23:32] keunhong commented on #15647
I was just currently looking for this, so there is interest :)

[2020-05-04 23:59] Sandy4321 commented on #14735
great idea,
they really need to do this
meantime you can use
https://imbalanced-learn.org/stable/auto_examples/applications/plot_impact_imbalanced_classes.html

[2020-05-05 01:39] NicolasHug commented on #14735
sample weights support will be available in 0.23 which should be out soon.
So you can have class weights through that.

Let's avoid that kind of phrasing please.

[2020-05-05 01:47] NicolasHug commented on #17126
you might want to upgrade to 0.22

I can't reproduce on master nor on 0.22

[2020-05-05 02:38] ZaixuCui opened #17128 "Meaning of the output in PLSCanonical"
#### Describe the issue linked to the documentation

I am trying using this tool https://scikit-learn.org/stable/modules/generated/sklearn.cross_decomposition.PLSCanonical.html to do PLS correlation analysis. The tool output multiple variables, including scores, weights, loadings and rotations.

It seems the x_scores and y_scores are transformed data by using x_weights_ and y_weights_. However, wh

[2020-05-05 07:05] Ottervanger commented on #17128
P.T means the transpose of P. The T in P.T does not refer to the T matrix of the PLS model. With understanding of the [PLS model](https://en.wikipedia.org/wiki/Partial_least_squares_regression), the documentation is quite clear, I would say.

[2020-05-05 07:28] lesteve commented on #9881
Yep, closing this one, thanks!

[2020-05-05 07:28] #9881 closed

[2020-05-05 07:38] cmarmo commented on #8266
Following @rth recent [comment](https://github.com/scikit-learn/scikit-learn/pull/17112#discussion_r419086589) this issue and the related PR (#8297) should probably be closed. @rth would you take care of that once the wiki page deleted? Thanks!

[2020-05-05 07:43] rth commented on #8266
Thanks for the follow up @cmarmo ! I think it might still be good continue and merge #8297. Then we could delete the wiki page.

[2020-05-05 07:54] cmarmo commented on #8266
Ok, @rth, would you review it if I continue it? :)

[2020-05-05 07:59] rth commented on #8266
Yes, absolutely, thank @cmarmo :)

[2020-05-05 08:44] chrispe92 commented on #17075
Hi, @franzoni315 , I think the feature you describe is already available. Check this example: https://scikit-learn.org/stable/auto_examples/model_selection/plot_multi_metric_evaluation.html#sphx-glr-auto-examples-model-selection-plot-multi-metric-evaluation-py

Is it different to what you're looking to use?

[2020-05-05 09:19] Reksbril commented on #15647
@dupuisIRT are you going to open a PR, or I can work on this?

[2020-05-05 09:54] #8266 closed

[2020-05-05 09:58] rth commented on #8266
The "Third-party projects and code snippets" wiki page now only contains a link to http://scikit-learn.org/stable/related_projects.html.

[2020-05-05 10:29] dupuisIRT commented on #15647
@Reksbril @keunhong I just opened a PR with my last developments. The work is still in progress but the current implementation seems to show encouraging results.
You can check the PR for extra details.

[2020-05-05 11:49] NicolasHug commented on #17128
you might be interested in https://github.com/scikit-learn/scikit-learn/pull/17095

rendered doc are here https://102041-843222-gh.circle-artifacts.com/0/doc/modules/cross_decomposition.html

[2020-05-05 12:22] rth commented on #17125
I would consider this a regression following the change of the default `multi_class` parameter in https://github.com/scikit-learn/scikit-learn/pull/13807 : running LogisticRegression on sparse data with a medium number of classes (using LBFGS solver) now uses much more memory than before e.g.

[code]
In this example using ovr is also twice faster (though there are some convergence issues).

I thin

[2020-05-05 12:28] iobtl commented on #17118
[code]
What kind of values do you have for this variable?

[2020-05-05 13:47] ramapati166 commented on #17118
numerical value not string...x represent a table consists of two columns and 20 rows. contained numerical values.

[2020-05-05 15:21] Sandy4321 commented on #14735
great news thanks
by the way will this coming solution to have the same problem what lightgbm and xgboost have?
https://github.com/microsoft/LightGBM/issues/2107
scale_pos_weight is used to adjust the imbalance  will spoil probability?

[2020-05-05 16:03] Sandy4321 commented on #14735
as it is written : result in poor estimates of the individual class probabilities
https://lightgbm.readthedocs.io/en/latest/Parameters.html

is_unbalance 🔗︎, default = false, type = bool, aliases: unbalance, unbalanced_sets

used only in binary and multiclassova applications

set this to true if training data are unbalanced

Note: while enabling this should increase the overall performance metric

[2020-05-05 16:08] Sandy4321 commented on #14735
or
consider performing probability calibration (https://scikit-learn.org/stable/modules/calibration.html)

https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.LGBMClassifier.html
class_weight (dict, 'balanced' or None, optional (default=None)) – Weights associated with classes in the form {class_label: weight}. Use this parameter only for multi-class classification task; for binary classi

[2020-05-05 18:03] franzoni315 commented on #17075
Hi, @chrispe92 , I actually would like to do something like a cross-validated ROC Curve:

![image](https://user-images.githubusercontent.com/3220616/81099407-43881900-8ee1-11ea-84f4-c7b2a61199d5.png)

Then, the cross-validation should not only return a point metric (like accuracy, or AUC) for each fold, but maybe return the entire roc curve (instead of only the AUC).

[2020-05-05 19:02] amueller commented on #17125
What's the reason for the larger memory foot print? The higher-dimensional gradient? But the size of the gradient should only be as big as the size of the model, right? Is lBFGS allocating some large structure?

[2020-05-05 20:06] gbolmier commented on #8213
Here is the [comparison](https://nbviewer.jupyter.org/github/gbolmier/sklearn-neighbors-benchmark/blob/master/sklearn_nn_pickled_size.ipynb) between the size of pickled `NearestNeighbors` models (in MB):

 |    |   n_samples |   n_features |   brute |   kd_tree |   ball_tree |
|---:|------------:|-------------:|--------:|----------:|------------:|
|  0 |        1000 |           10 |    0.08 |

[2020-05-05 20:45] amueller commented on #8213
That's what I would have expected. @rth why did you expect the trees to be smaller? You'll have to store each sample in a leaf and the tree in addition to that, right?

[2020-05-05 21:15] partizanos opened #17135 "One Class SVM default nu value 0 (pure dataset)"
I wonder why mathematically a pure dataset can not be explicitely fed to one-class svm.
We can put nu to very low value (nu=0.01). But still some of the "correct"/normal data will be tagged as outliers.
Even if the method of Schokolpd itself does not provide I believe such an explanation would greatly benefit and and enhance already existing parts of the documentation
(parts that I find relevant
h

[2020-05-05 21:39] avigupta2612 commented on #17118
Make Sure to clean the dataset first. Remove or replace all the missing values. Make sure that all the values in the column is of same data type.

[2020-05-05 22:44] rth commented on #8213
Looks like I had a misconception about it, thanks for checking!

Well you likely have 4 physical CPU, so 8 is a bit of a special case since there are then 2 threads per core. For me, e.g. for
[code]
I get the following result on a machine with 12 physical CPU,
[code]
where n_threads means `OMP_NUM_THREADS` for brute and `n_jobs` for ball_tree,
<details>

[code]
</details>

So there is some improve

[2020-05-05 23:19] jnothman commented on #13614
Why not pass `categories` to `OneHotEncoder`?

[2020-05-06 02:51] mayujsw opened #17138 "no k-modes or k-prototypes algorithms in scikit-learn"
I noticed that k-means is specially useful for numerical sample, while for categorical data sets, it may use algorithms like k-modes or k-prototypes. May i know why scikit does not include these kinds of algorithms for categorical data as these data is very common in reality, so wondering any background or any plan to support it

Thanks

[2020-05-06 03:33] kmedved commented on #17069
I would just like to second interest in this feature. Early stopping is a key part of many GBDT approaches as well, and RandomSearchCV is one of the fewer hyperparemter optimizers to be multiprocessed.

[2020-05-06 08:21] JiaRu2016 opened #17139 "linear_model .fit() run in multiprocessing pool is slower than in single process for loop"
#### Describe the bug
I'v found that LinearRegression.fit() runs slower with python multiprocessing than simple for-loop. I profile exactly the `model.fit()` line so that excluding time consumption of creating/destroying process, inter process communication, copying resources etc.

here is my code:

[code]

output
[code]

Changing model  `Lasso`, `Ridge` got similar result. While changing to other

[2020-05-06 08:35] FlorinAndrei opened #17140 "impute.KNNImputer always uses just the mean value"
#### Describe the bug
Trying to use KNNImputer with a Pandas dataframe to impute missing values. It always just uses the mean value of the column instead of actually trying to impute smoother values.

#### Steps/Code to Reproduce
[code]

This is pydf.csv:
[code]

#### Actual Results
This is exguess:
[code]

2060.13636364 is the mean value of that column. I expected something much closer to its nei

[2020-05-06 09:09] rth commented on #17139
The issue is likely that LinearRegression uses multithreaded BLAS for linear algebra operations that by default uses all CPU threads. So when you run it with multiprocessing, you will end up with N^2 threads leading to CPU oversubscription.

You should use joblib instead of multiprocessing which has a fix for this issue.

[2020-05-06 09:09] #17139 closed

[2020-05-06 10:14] JiaRu2016 commented on #17139
@rth  I'v tried joblib, but this issue still exists:

[code]

output:
[code]

[2020-05-06 10:25] rth commented on #17139
Could you try with `prefer="processes"` and without `require='sharedmem'`? I assume you have 10+ physical CPU cores? The LogisticRegression likely doesn't release the GIL, so using using the threading backend won't help much probably.

With multi-processing using joblib some overhead due to data serialization between processes is expected.

[2020-05-06 10:42] JiaRu2016 commented on #17139
@rth  you are right, i'm using a server with 96 cpus. And changing to
[code]
got result as fast as single-process version.

Thanks~

[2020-05-06 11:24] jnothman commented on #17140
You are only passing that single column to fit_transform, so the imputer
has no other information by which to judge neighborhood.

We should probably raise a warning when only one column is passed to
KNNImputer (and IterativeImputer), since there is no basis for doing
anything but SimpleImputer approaches in that case.

[2020-05-06 11:25] jnothman commented on #17138
We considered including K-medoids for a long time, but we struggled to find a compelling example where it was much more helpful than, e.g. hierarchical clustering methods. it has been released as part of the [scikit-learn-extra](https://scikit-learn-extra.readthedocs.io/en/latest/) package. We may yet consider including it here if there are compelling examples.

[2020-05-06 12:18] jnothman commented on #17075
Why is return_estimator insufficient?

[2020-05-06 13:15] #17124 closed

[2020-05-06 13:17] kinzasaeed opened #17143 "Attribute error: History has no attribute Predict"
<!--
`Y_pred = cnn_model.predict(validation_generator, num_of_test_samples // batch_size+1) y_pred = np.argmax(Y_pred, axis=1) print('Confusion Matrix') print(confusion_matrix(validation_generator.classes, y_pred)) print('Classification Report') target_names = ['MOIRE', 'CLEAR'] print(classification_report(validation_generator.classes, y_pred, target_names=target_names)`

[2020-05-06 16:55] ababino opened #17145 "Bug in LASSO AIC BIC formula"
Hi,
I think that the calculation of sigma in this line is wrong:

https://github.com/scikit-learn/scikit-learn/blob/95d4f0841d57e8b5f6b2a570312e9d832e69debc/sklearn/linear_model/_least_angle.py#L1785

According to Zou et al, 2007 Eq. 2.12 the value of sigma is the sigma_ols. It should be calculated as:
[code]

I hope this is useful.

[2020-05-06 18:29] #17126 closed

[2020-05-06 18:30] jorjasso commented on #17126
@NicolasHug Closing the issue. updating to 0.22 solves the issue

[2020-05-06 19:29] FlorinAndrei commented on #17140
You don't need the whole table to do things like weighted average of nearest neighbors. On the exact same data, imputeTS does the right thing in R (moving average over 4 neighbors with exponential decay) even when you feed it only that column:

[code]

In fact, the rest of the table has data that is coincidental to that column (same timestamp) but is causally unrelated. Taking that into account wo

[2020-05-06 20:10] wgillett commented on #988
@pierretallotte said in Dec 2018 that this issue should be closed - is it live or dead? I'm looking for something to work on.

[2020-05-06 20:45] ishdutt commented on #17072
I couldn't find any discrepancy in BIC formula over the internet. It's just that in some places the negative term is written first. You can check out this paper [Here](https://faculty.washington.edu/skalski/classes/QERM597/papers_xtra/Burnham%20and%20Anderson.pdf)
Hope that it helped.

[2020-05-06 21:34] jnothman commented on #17140
Ahh. Neighbourhood here means neighbourhood in a metric space, not in a
time series (or index order). If you want that effect with KNNImputer
(which is not designed specifically for time series), you will need to pass
another feature representing time such that each point's nearest neighbours
in that feature are the points nearest in time..

[2020-05-06 21:58] FlorinAndrei commented on #17140
You mean like this?

[code]

It's picky. The Date column is type datetime64[ns] and I get this error:

[code]

Why can't it use the index? It's ordered already, and it's passed along if I use the double brakets [[]].

[2020-05-06 22:55] nachidave commented on #16710
Hi,
I am a beginner I also want to to contribute to open source so can you guys give me a suggestion please from where to start

[2020-05-06 23:46] FlorinAndrei commented on #17140
Or how about this: I want to tell the library - assume things are in the right order already, and the intervals are regular. Just start with the simplest scenario.

[2020-05-07 00:58] gbolmier commented on #8213
Thanks for all the detailed explanations @rth, that's good things to be aware of!

Indeed, it might be worth to check, will let you know if I give a try :+1:

[2020-05-07 02:25] bsamanvitha commented on #17072
Yes, I never said there is a "discrepancy". It's about the negative sign. It would be nice to show if the implementation is using negative or positive sign.

[2020-05-07 08:00] jnothman commented on #17140
imputer.fit_transform(dfnew['Incoming Examinations'].reset_index())

?

[2020-05-07 09:36] cmarmo commented on #13308
As I'm starting to play with the source, for the sake of reproducibility [this plot](https://user-images.githubusercontent.com/1662261/78696445-b95b8d80-78ff-11ea-8953-a8ef66a262ac.png) and [this one](https://user-images.githubusercontent.com/1662261/80928545-92309880-8da5-11ea-810e-7e3e2cfd9dbe.png) have been produced with [this version](https://github.com/scikit-learn/scikit-learn/pull/16948/com

[2020-05-07 10:34] jnothman commented on #17069
This is not really about early stopping... This is about resuming aborted
partial computations.

[2020-05-07 11:56] mloning opened #17149 "Duplicate method calls in estimator checks"
Is there a reason why we generate results twice on the estimator? Once in L1480 and once in L1491.

https://github.com/scikit-learn/scikit-learn/blob/95d4f0841d57e8b5f6b2a570312e9d832e69debc/sklearn/utils/estimator_checks.py#L1480-L1498

Happy to create a PR to remove the lines which generate the results again after pickling if that's a duplication.

[2020-05-07 12:16] adrinjalali commented on #17149
Seems like you're right. We could remove 1480-1483 I suppose.

[2020-05-07 13:19] mloning commented on #17149
Okay, I'll create a PR later.

Could you also explain what the line: `assert b"version" in pickled_estimator` does? What version does this refer to? How do I get the version into the pickled estimator when I build my own estimator? Thanks!

[2020-05-07 14:55] adrinjalali commented on #17149
@pierreglaser or @ogrisel may be able to answer than better I guess.

[2020-05-07 15:05] #17149 closed

[2020-05-07 16:24] alfaro96 opened #17156 "Add docker image to get full isolation"
Hello!

I think that it would be interesting to include a docker image to get full isolation when [building scikit-learn from source](https://scikit-learn.org/stable/developers/advanced_installation.html#building-from-source).

In fact, there are several IDEs (e.g., [VSCode](https://code.visualstudio.com/docs/remote/containers), [PyCharm](https://www.jetbrains.com/help/pycharm/using-docker-as-a-re

[2020-05-07 18:45] franzoni315 commented on #17075
Because you would need to recover training and test indices so as to build X_train, X_test, y_train and y_test. Is it possible to obtain these indices from the cross_validate method? The workaround  I see is to use the trained models on the same CV method (using the same random_state).

[2020-05-07 18:58] NicolasHug opened #17158 "set_params() changing the result of transform / predict without fitting"
I came across this thing

[code]

where the output of transform was changed by just setting an `__init__` parameter.

Is this a bug or a feature? If it's a bug, it's easy to fix. If it's not, then I  have a few concerns:

- This typically isn't possible for any parameter than needs to be validated in `fit`, so we can't support this pattern  consistently
- We don't do that in e.g. PCA where it woul

[2020-05-07 21:40] kmedved commented on #16016
Are there plans for this to be implemented? I'm on 0.24.dev0 and don't see a n_jobs parameter exposed. I'm a bit confused what the current handling of this issue.

For the problem I'm working on (~100 features, 500K rows), there are limited gains beyond 8 physical cores, and active slowdown beyond about 16, so I'd like to devote additional cores to hyperparemeter searching, but don't know how to l

[2020-05-07 21:43] NicolasHug commented on #16016
The current way of limiting the number of threads that are used is to set the `OMP_NUM_THREADS` environment variable

[2020-05-07 22:04] kmedved commented on #16016
Thanks @NicolasHug - has the default number of threads been changed to 16 as well (as was under discussion above)? Or is it still all cores?

From early testing on 0.24.dev0, I'm getting great results (both accuracy and speed), but want to understand the behavior so I can build around it.

[2020-05-07 22:06] NicolasHug commented on #16016
It hasn't changed yet

[2020-05-07 22:22] rth commented on #16016
You can also set it at runtime with https://github.com/joblib/threadpoolctl#setting-the-maximum-size-of-thread-pools

[2020-05-07 22:49] Justin-Huber commented on #16862
I submitted a pull request (https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=16354&view=results) but the installation on all platforms failed. I'm not sure how to make sense of the logs. They all fail compiling the cython generated .c files for the _newrand.pyx I added. Any ideas?

[2020-05-08 01:31] kmedved commented on #16016
Thanks both @NicolasHug and @rth. I am having a bit of trouble getting those parameters to work nicely with the rest of my workflow (CPU usage is still spiking to 100%), but I will keep experimenting.

For what it's worth, it would be **extremely** helpful to expose the n_jobs parameter directly for users given the importance of hyperparameter searching for GBDTs. There are large gains to be had f

[2020-05-08 01:42] tianchuliang commented on #17009
I'm working on this feature; probably not gonna PR before 0.23. But will slowly work on this on my own branch.

[2020-05-08 02:22] NicolasHug commented on #16016
not sure I got what you meant, but OMP_NUM_THREADS should not have any impact on `RandomizedSearchCV`. If you have a big parameter space, I'd recommend just setting n_jobs to -1 in RandomizedSearchCV (i.e. use all cores) and OMP_NUM_THREADS to 1 to avoid oversubscription

[2020-05-08 08:17] rth commented on #16016
The oversubscription issues should be automatically handled by joblib, so when you set `n_jobs>1` in `RandomizedSearchCV` it should set the number of threads available for each `HistGradientBoostingRegressor` to `cpu_count() // n_jobs`. You don't need to do this manually.

https://joblib.readthedocs.io/en/latest/parallel.html#avoiding-over-subscription-of-cpu-ressources

[2020-05-08 09:07] GrowHair opened #17162 "FastICA() doesn't work properly when whiten = True"
When FastICA() is called with whiten = True, what happens is
that d is calculated too large, resulting in matrix K being too small.

To fix the bug, three lines need to be corrected.
They are all in function _fit().

(1) n_samples and n_features are the other way round.

Since matrix X is transposed in line 432 and 433,

        X = check_array(X, copy=self.whiten, dtype=FLOAT_DTYPES,

[2020-05-08 12:03] Huii opened #17164 "Memory leak in HistGradientBoostingRegressor"
First of all: Thanks a lot for your help and for building this awesome piece of software!  :)

I'm trying to use the "HistGradientBoostingRegressor" function for a regression task. My data consists of 151,292 time series (containing 1,561 elements each), stemming from 24 subjects. I'm running my code on a system with Windows 10 and 32 GB RAM. I use the regressor function in a for-loop and the algo

[2020-05-08 12:37] coreyteng commented on #13616
[code]

if  training data random from -1 to 1, the model is not good ,how to fix it ? thank you.

![1](https://user-images.githubusercontent.com/8551705/81406050-72b1bb00-916b-11ea-924f-8a4e125efd5e.png)

[2020-05-08 14:13] oulenz opened #17165 "~~EmpiricalCovariance and EllipticEnvelope use unsquared Mahalanobis distance, documentation says squared Mahalanobis distance~~"
EDIT: sorry, I must have been blind, I completely missed that the return value of the `mahalanobis` method is now squared.

I guess the only actionable remaining issue is that the documentation should consistently talk about squared Mahanalobis distance everywhere.

<details>
  <summary>ORIGINAL QUESTION</summary>

In 2015, [it was observed](https://github.com/scikit-learn/scikit-learn/issues/4168

[2020-05-08 14:16] Huii commented on #17164
I managed to solve this issue by forcing a garbage collection outside the HistGradientBoostingRegressor function to get rid of any large arrays, which might interfere with the RAM consumption.
However, I'm still wondering whether having two objects with nearly the same size in grower.py is really necessary. Any thoughts on that?

[2020-05-08 15:44] kmedved commented on #16016
Thanks again both. I misunderstood how RandomizedSearchCV parallelized search worked. This approach still does not really work for me however, and there seems to be complicated interactions between the `OMP_NUM_THREADS`/`threadpool` parameters and how `RandomizedSearchCV`/`Cross_Val_Score` handle these things.

I've put together some testing on this to demonstrate what I'm seeing (using `Cross_Val

[2020-05-08 15:52] NicolasHug commented on #16016
Could be wrong, but IIRC `os.environ` doesn't work as expected and it has no effect on packages that have already been imported, or something like that. Maybe try wit the `%env` magic of the notebook, or switch to a script and run `OMP_NUM_THREADS=1 python the_hist_gbdt_code.py` and you should not see more than 1 CPU being used

[2020-05-08 16:50] kmedved commented on #16016
Got it. Rewriting the code to set `OMP_NUM_THREADS` before any other import seems to work here, even with the n_jobs parameter in `cross_val_score` set to something higher than 1.

That solution seems like less than ideal long-term however as it's a global variable, so it's affecting things other than a given instance of `HistGradientBoostingClassifier`. So if for one problem, a user wants to use

[2020-05-08 18:18] jlehrer1 commented on #15722
Other threads [(here)](https://github.com/ageron/handson-ml2/issues/103) have claimed it works okay on scikit-learn 0.21.*, so this is probably an issue with the new version.

[2020-05-08 20:27] thomasjpfan commented on #17158
I have seen this pattern used once in a while. I think it is okay to keep and have no promises on support. Users would really need to know what they are doing to change a parameter after `fit`.

Another use case is to change `n_jobs` in `RandomForest*` for prediction. (In this case the output is the same, but computation time may be different).

[2020-05-08 22:18] m-liddell commented on #17087
Is the functionality you are after similar to https://pypi.org/project/autoimpute/?

[2020-05-08 22:30] adriangb commented on #17087
Yes that looks precisely like what I am thinking. I didn't know of that package so thank you for the link!

[2020-05-08 23:33] GuWenyuan opened #17167 "Bug in classification_report multilabel mode"
When `y_true` and `y_pred` are in the type `multilabel-indicator` and `y_true` is all zeros, output_dict is set to `True`, there is an `AttributeError` on line 2018 in `sklearn/metrics/_classification.py`:

[2020-05-09 02:35] GrowHair commented on #17162
Now, I've given up the idea of using Singular Value Decomposition
to whiten the data, and replaced it with rather naive
Principal Component Analysis.

Replace the whole lines 472-486 with the following:

        if self.whiten:
            # Centering the columns (ie the variables)
            X_mean = X.mean(axis=-1)
            X -= X_mean[:, np.newaxis]

            # Getting matrix K by Princi

[2020-05-09 09:57] jnothman commented on #17162
See #13056. Does it fix your issue?

[2020-05-09 13:11] chkoar opened #17168 "[RFC] Registry for scorers"
`sklearn.metrics.SCORERS` acts like registry for getting predefined scorers in `cross_val_score`, `cross_validate`, `*SearchCV` estimators, etc. If someone wants to use his/her custom scoring functions in the aforementioned functions/classes should define the scoring function, make it scorer using the `make_scorer` function and pass it around. Another option could be to patch the `sklearn.metrics.

[2020-05-09 13:52] NicolasHug commented on #17168
Just so I understand properly, the goal is to enable passing strings for custom scorers, instead of passing callables? If so, what is the issue with passing callables?

[2020-05-09 14:22] GrowHair commented on #17162
#13056 seems to be addressing the same problem.
But I believe there still is an issue.
I believe FastICA() still has a bug and I've almost found the best way to fix it.
I'll later report it here.

[2020-05-09 15:25] claramatos commented on #15573
can I start to work on this issue?

[2020-05-09 15:38] claramatos opened #17170 "Extend plot_precision_recall_curve and plot_roc_curve to multiclass"
Similarly to the example provided here: https://scikit-learn.org/stable/auto_examples/model_selection/plot_precision_recall.html, extend plot_precision_recall_curve and plot_roc_curve to be able to deal with multiclass scenarios.

[2020-05-09 15:58] s0rel opened #17171 "How to get eigenvectors of kernel pca"
Hello,

I'm using kernel pca to reduce dimensionality and I need eigenvalues and eigenvectors. In PCA, I know pca.explained_variance_ is eigenvalues and pca.components_ is eigenvectors. I read the sklearn document and found the below words in kpca.
[code]
Compare with pca's document, I'm confused about why the eigenvectors's shape is not equal. In pca, the shape is (n_components, n_features) while

[2020-05-09 16:16] GrowHair commented on #17162
My conclusion.
Here's what I believe is the best and essential way to fix the bug.

(1) n_samples and n_features are the other way round.

Same as was discussed in (1) above.

Change the line 456 from

        n_samples, n_features = X.shape  # wrong

to

        n_features, n_samples = X.shape

(2) Scale the singular values

In the original program, whitening is done
by Singular Value Decompositi

[2020-05-09 21:29] s96lam commented on #7646
I encountered what seems to be another form of the same error running the [example code](https://scikit-learn.org/stable/auto_examples/model_selection/plot_nested_cross_validation_iris.html) for nested CV with GroupKFold as cv technique:
`ValueError: The 'groups' parameter should not be None.`

This is no problem, as there are other ways to implement nested CV without using `cross_val_score`, but

[2020-05-09 22:39] s96lam commented on #13621
Thank you @hermidalc and @mrunibe for providing the implementation. I have also been looking for a `StratifiedGroupKFold ` method for dealing with medical data that has strong class imbalance and a varying number of scans (samples) per subject. `GroupKFold` by itself creates folds containing only one class.

[2020-05-10 07:18] rizvian opened #17174 "sklearn.preprocessing import error"
I am getting an error when trying to import sklearn.preprocessing into my notebook. I have tornado 5.1.1 installed on my system (this was given as a workaround for other similar issues). Please help. Thanks

Details of installed environment
[code]

[code]

[2020-05-10 08:07] jainifmarediya commented on #5115
genius works for me to

[2020-05-10 10:41] lorentzenchr commented on #6189
Another way for this feature is if https://github.com/numpy/numpy/pull/9211 gets merged.
@MechCoder @mrecachinas Are there use cases within scikit-learn?

[2020-05-10 10:54] idankash commented on #16519
Hey @amueller,
I just wanted to know if you came up with a consensus?
and if so I'd like to work on it if possible. :)
Thanks.

[2020-05-10 10:58] lorentzenchr commented on #15123
The more is think about the design of such a loss function module, the more I think one should distinguish between loss functions used for fitting/estimation and loss functions used for validation/comparison (modul `sklearn.metrics`). The reason is that fitting requires the most efficient code while model validation/scoring requires most interpretable code.

Example: The Poisson deviance has minim

[2020-05-10 11:04] rth commented on #15123
Except that we do print the lost occasionally e.g. to monitor convergence, and if it doesn't match the the documented loss it can lead to confusion.

[2020-05-10 11:22] lorentzenchr commented on #15244
The "D^2" score is actually a kind of meta-scoring function that works for any non-negative loss function as `D2 = 1 - loss(y_true, y_pred) / loss(y_true, z)` with `z=mean(y_true)`. (For losses that are consistent for other functionals than the mean, e.g. quantile losses, one could generalize `z` accordingly, e.g. `z=quantile(y_true)`). The meaning is always "percentage of loss x explained".

Exam

[2020-05-10 11:31] lorentzenchr commented on #15123
@rth Do you have a suggestion how to tackle this? Would it be enough to document the discrepancy?
Another example is the squared error: hgbt uses half squared error which gives nicer expressions for gradient and hessian, see https://github.com/scikit-learn/scikit-learn/blob/c36c1047fe8046d74554e71102425332941baa09/sklearn/ensemble/_hist_gradient_boosting/loss.py#L154.

[2020-05-10 11:34] lorentzenchr commented on #15123
The main challenge, I think, is do define a common API. Some estimators expect single number output, others arrays. Some would like to use parallelized versions others the parallelism of their own, ...

[2020-05-10 11:40] lorentzenchr commented on #15123
Among my main motivations are:

- easier generalization/adaption of losses for other estimators
- implementation of efficient solvers for GLMs without code bloat

[2020-05-10 11:56] Reksbril commented on #15932
@bshabashFD @venkyyuvy are you going to work on this, or can I take over?

[2020-05-10 12:02] lorentzenchr commented on #15881
What about adding an argument `bias_correction` to `TransformedTargetRegressor` with the options:

- `None`: No bias correction (as is).
- `rescale`: Acts like a post-fit-step. After fitting, calculates `c = sum(y)/sum(predict(X))` and then multiplies every prediction by `c`.
- `recenter`: Acts like a post-fit-step. After fitting, calculates `c = mean(y - predict(X))` and then adds `c` to every pr

[2020-05-10 12:21] rth commented on #15123
Yes I think as long as used loss is documented it should be fine. It's a challenging project indeed :)

[2020-05-10 14:01] PedroFerreiradaCosta commented on #1513
Hi @mustuner ! Thank you for trying out our API! The RVM does have a higher computational complexity than for example the SVM (O(M^3)), which might make it slower for cases where you have a large number of basis functions. Either way, there are a number of things that you can do to speed up the process. You can pre-compute the kernel matrix and feed it to our algorithm instead of X, (set kernel='p

[2020-05-10 14:51] jnothman commented on #13621
We could certainly consider merging `StratifiedGroupKFold` before `StratifiedGroupShuffleSplit` is ready.

Let us know if you want support completing it!

[2020-05-10 14:51] jnothman commented on #13621
And good luck with your PhD work

[2020-05-10 18:50] lorentzenchr commented on #15123
So let's play a little IT architect. Current use of loss functions (for single targets).

#### 1. HistGradientBoosting
- `def __call__(self, y_true, raw_predictions, sample_weight) -> float:`
    Computes the loss.
- `def pointwise_loss(self, y_true, raw_predictions) -> ndarray:`
    Computes the per sample losses.
- `def update_gradients_and_hessians(self, gradients, hessians, y_true,

[2020-05-10 18:57] lorentzenchr commented on #15123
My plan would be to have one working design for HistGradientBoosting and GLM.
This might already also work for MLP. Then, changing a sign might be enough to include GradientBoosting. Adding single sample gradients in cython makes SGD doable. I see a red flag for Trees, as the splitting criterion can often be optimized by some algebra. As mentioned earlier, I would not aim for losses in the `metric

[2020-05-10 20:10] Alejhandr0 commented on #14280
Hi @jnothman is there any reason why any of this two options keep generating the same error for me (I also updated my library just in case using this `pip install -U scikit-learn`)

**This works perfectly fine**: `result_rf = BayeSearch_rf.fit(X, y, callback=on_step)`

When I try to include sample weights I start getting this error:
`TypeError: fit() got an unexpected keyword argument 'sample_weig

[2020-05-10 22:06] PabloRMira commented on #9341
Hi all,

I would like to help on this. I think, a good strategy would be to set the NaN-category to -1 in the ordinal encoding which then propagates naturally to the onehot-encoding.

What do you think about this?

[2020-05-10 23:13] adriangb commented on #17087
After a bit more of exploration of the internal workings of `ColumnTransformer`, I think this is going to really be the blocker. We need one of two things:

1. Ability to transform `X->Xs` and then slice out the target column/columns from `Xs`. Since `ColumnTransformer` may internally apply `OneHotEncoder` to multiple columns at a time and `OneHotEncoder` does not have any API to query mapping fro

[2020-05-10 23:29] jnothman commented on #17087
I still think the right thing to be doing here is to allow different
columns to be generated from the other columns. That predictor may also
involve a Pipeline and a ColumnTransformer. The latter's job is to handle
feature heterogeneity in the input to the predictive model underlying
IterativeImputer, while allowing student predictive models to generate
different columns handles the heterogeneity

[2020-05-10 23:33] adriangb commented on #17087
I am not sure I am completely following. I think what you are saying is have one Pipeline (whatever that may contain) per column being imputed? So in my example above you would have `age_pipeline`, `sex_pipeline` and `cabin_pipeline`. Is that correct or am I misunderstanding?

[2020-05-11 02:11] FlorinAndrei commented on #17140
That worked! Thank you.

Now, the result is an array of arrays, and only the second element in each small array contains the imputed series, the first element seems to be an index. So I still have to do this:

[code]

I know it may sound like nitpicking (especially since it works), but it still feels like the library tries to outsmart me. I only care about one column, I clearly gave it only one co

[2020-05-11 04:24] jnothman commented on #17140
It's not trying to outsmart you, so much as to follow its own API
principles. Scikit-learn is designed mostly for multivariate data, and for
datasets where the order of the inputs should be disregarded, under the
assumption that each sample is more-or-less IID. Your expectations
explicitly go against that assumption.

But if the documentation can be clarified to emphasise that neighborhood is
*not

[2020-05-11 06:20] cphang99 opened #17180 "ExtraTreeRegressor doctest fails on precision check on aarch64 platforms"
#### Describe the bug

The `ExtraTreeRegressor` doctest fails on a precision check on aarch64 platforms. When running the same tests on x86 CI, the tests pass successfully.

#### Steps/Code to Reproduce

Please see https://gitlab.com/libreml/libreml/pipelines/144575194

On x86 CI (https://gitlab.com/libreml/libreml/-/jobs/545952560/artifacts/file/cache/buildstream/logs/libreml/scikit-learn/dedc3c5

[2020-05-11 07:08] FlorinAndrei commented on #17140
Yeah, literally what you said in the last comment is very illuminating.

If you expect this to work...

[code]

...then you're in for a hard time. The library expects multivariate input, and **the order is not implied by the row structure** of the input.

What you need to do instead is take that single column and give it an artificial index, and then extract the single column that you're looking f

[2020-05-11 07:26] idankash commented on #17170
Hey,
I'd like to work on this issue if it's ok? :)

[2020-05-11 07:42] jnothman commented on #17140
You should be able to do the indexation on the second line with [:,1]
applied to the returned array.

[2020-05-11 08:32] cmarmo commented on #15426
The issue has been addressed until version 0.18. I'm closing it. Feel free to open a new one for specific sklearn features.

[2020-05-11 08:32] #15426 closed

[2020-05-11 08:41] FlorinAndrei commented on #17140
Right.

The stumbling block for me was the data order thing. With that out of the way, the rest is doable.

[2020-05-11 08:41] claramatos commented on #17170
hi, I was suggesting this to see if it was ok for me to start working on this.
________________________________
From: Idan Kashtan <notifications@github.com>
Sent: Monday, May 11, 2020 7:26 AM
To: scikit-learn/scikit-learn <scikit-learn@noreply.github.com>
Cc: Clara Matos <anaclaramatos@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [scikit-learn/scikit-learn] Extend plot_precision_

[2020-05-11 10:56] sachin-smart opened #17181 "Lasso.path() same as ElasticNet.path()?"
The [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Lasso.html#sklearn.linear_model.Lasso.path) for the `path()` method of `Lasso()` suggests that it is the same as `ElasticNet.path()` (see [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.ElasticNet.html#sklearn.linear_model.ElasticNet.path)) with `l1_ratio=0.5`. This is,

[2020-05-11 13:19] cmarmo opened #17182 "New definition of `poor_score` Estimator tag"
Following #16155 Boston dataset is gradually being replaced with other public or synthetic datasets.
Boston dataset is also used to define the estimator tag describing a failure to provide a “reasonable” test-set score (see [documentation](https://scikit-learn.org/stable/developers/develop.html?highlight=poor_score#estimator-tags)).
This issue is a follow-up of @adrinjalali [comment](https://githu

[2020-05-11 14:25] jnothman commented on #17087
It's not entirely fleshed out, but I'd say you specify one pipeline per
class of prediction model; at its most basic distinguishing between
continuous and categorical features. As it does now with a single
regressor, IterativeImputer would clone the given regressor/classifier for
each column, but would select the correct tool for the job depending on the
column selectors given with each.

[2020-05-11 14:46] amueller commented on #17182
Good point. I'm not sure if the tag overall is that well-defined. Maybe using a synthetic dataset would be better? If it's synthetic and all estimators are expected to work 'well' on it, it needs to be linear, though, I guess? Which would make it very simple.

[2020-05-11 14:51] amueller commented on #17164
cc @NicolasHug

[2020-05-11 14:53] amueller commented on #17174
Looks like there's an issue in your scipy installation.
Try ``from scipy.sparse import issparse``. If that doesn't work, there's something wrong with scipy.
How did you install all the libraries?

[2020-05-11 14:54] amueller commented on #17143
Feel free to reopen with more details.

[2020-05-11 14:54] #17143 closed

[2020-05-11 14:56] FloWPs opened #17183 "AssertionError on test_all_precomputed() from test_least_angle.py"
#### Describe the bug

Hello, while developing a new package based on the LassoLars implementation, we have encountered a bug when running the test_all_precomputed() function from [test_least_angle.py](https://github.com/scikit-learn/scikit-learn/blob/95d4f0841d57e8b5f6b2a570312e9d832e69debc/sklearn/linear_model/tests/test_least_angle.py) on a highly colinear dataset for regression.

#### Steps/Co

[2020-05-11 14:59] amueller commented on #17145
I think the current version looks correct
![image](https://user-images.githubusercontent.com/449558/81576537-5df54300-9376-11ea-8ba9-411d33343679.png)

You're in the numerical simulation part, right?

[2020-05-11 15:01] d-kleine opened #17184 "sklearn.tree.plot_tree - Adding path labels to decision tree plots"
Hi,

Would it be possible to add "True"/"False" labels (or any other adequate naming) to the paths from the root node to first-level leaves when splitting? For instance, when instantiating a model with DecisionTreeClassifer(max_depth=1) and visualizing it via plot_tree, there is no option to add path labels to the plot.

This would be really helpful for those reasons:
- To make visually clear, whi

[2020-05-11 15:02] NicolasHug commented on #17164
would you have a very simplified version of your code @Huii ?

What are the dimensions of the data you feed to each estimator?
It could be that the histograms take too much space but it's impossible to say without knowing the number of iterations that you're using, or the number of nodes that are being built. Is your loop over the subjects parallel?

If it's a histogram issue, maybe we need to imp

[2020-05-11 15:15] Huii commented on #17164
As I've mentioned above "my data consists of 151,292 time series (containing 1,56 elements each), stemming from 24 subjects." The amount of time series inputs I feed to the regressor for each test data-set isn't equal. Sometimes the split between testing and training data is 80 % to 20 %. Sometimes less, sometimes more. But all inputs together always sum up to 151,292.

This is a simplified versio

[2020-05-11 15:27] adriangb commented on #17087
Got it. Would you apply the `transform` step of each pipeline separately? We would need to always apply the transforms from every pipeline, but only ever the `fit` from the pipeline corresponding to the current `target` feature.

[2020-05-11 15:48] adriangb commented on #17087
A couple of other follow-up questions as I mull over this:

How would we know what columns are two-level categorical, multilevel or continuous?
I feel like allowing only 2 choices (continuous or categorical) might be a little bit restrictive. It would be nice to at least modify this approach to allow specifying a pipeline for each column (or assigning pipelines to specific columns, like ColumnTran

[2020-05-11 15:52] NicolasHug commented on #17164
[code]

These 2 lines correspond to the allocation / computation of the histograms of the children. We cannot go around this, but I'm surprised by reported the average  size: 781 KB.

This should be higher and closer to 8MB for each histogram, since the size of a histogram is `n_features * n_bins * (8 + 8 + 4) = 1500 * 255 * 20 = 7650000`.

In any case, IIUC, fitting one estimator works fine, but

[2020-05-11 16:03] Huii commented on #17164
Yes, fitting (up to) 17 out of 24 estimators works fine.

I'm not sure but I'm not doing any profiling or some other fancy stuff.

[2020-05-11 16:06] adrinjalali commented on #17182
In one of the PRs (which one was it @lucyleeow  ?) we agreed on `make_classification` I think.

[2020-05-11 16:10] AaronX121 commented on #16062
Is anyone working on the sampling part of HistGradientBoostingClassifier/Regressor? Apart from acceleration, sampling strategy also provides regularization on the entire GBDT system and improves its performance.

Here are some commonly-used sampling strategies on a tree-basis in other GBDT libraries:
* **Stochastic Gradient Boosting** (XGBoost/LightGBM/CatBoost)(https://astro.temple.edu/~msobel/co

[2020-05-11 16:15] NicolasHug commented on #16062
@gbolmier is currently working on feature and sample subsampling.

However the GOSS strategy from LightGBM is out of scope (at least for now) as it departs quite significantly from traditional GBDTs.

[2020-05-11 16:27] rizvian commented on #17174
'from scipy.sparse import issparse' didn't work. I almost got the same error I got previously when I tried importing sklearn.preprocessing - so this does look like a scipy issue.

I have installed it using pip. The notebook is running from a virtual environment.

Here are the installed packages within that: - [pip_list.txt](https://github.com/scikit-learn/scikit-learn/files/4610809/pip_list.txt)

[2020-05-11 16:28] cmarmo commented on #17182
Yes, @lucyleeow proposed #16897. There is no explicit decision about `poor_score` there. The `poor_score` is already defined on a syntethic dataset for classification problems. The issue is for regressors: they use Boston as a reference. #16897 can't be solved without a consensus on the `poor_score` definition for regressors, because it will probably change the current tagging for some regressors.

[2020-05-11 18:37] ababino commented on #17145
Hi @amueller!

Yes, I was in the numerical simulation section.

I see what you mean. But I am not convinced yet. Since mu is a vector, to calculate sigma2, you have to subtract it form y. Since the OLS fit gives the best estimation of the vector mu, the paper uses that value.

Equivalently, you can use the value of sigma2 for the lasso model with alpha=0.  So, my suggestion was wrong. I believe th

[2020-05-11 19:01] amueller commented on #16943
In a sense it's the opposite problem. In #13971 the user tried to change the color, which you can do via the RC. Here, @jlewis-ds changed the rc colors but didn't want it to affect the output.

We can either hard-code the colors and people can't change the colors, or we can use the colors that user specified.
Here, it's ``axes.edgecolor`` I think that is set by nearly all styles in seaborn. So it

[2020-05-11 20:35] amueller commented on #16943
I would say this is the pragmatic solution: #17187
it keeps some of the styling while also making sure the arrows are drawn.

[2020-05-11 21:16] jlewis-ds commented on #16943
#17187 looks like a good work around. I was hesitant to report this as a bug since technically everything is doing what it's supposed to, but it seemed like an unintentional result which could easily be overlooked.

Thanks, I'm happy to call this closed.

[2020-05-11 21:16] #16943 closed

[2020-05-11 21:34] Cy-dev-tex commented on #17165
I'd like this, please.

[2020-05-11 21:35] Cy-dev-tex commented on #17135
I'd like this, please.

[2020-05-11 21:36] Cy-dev-tex commented on #17119
I'd like this, please.

[2020-05-12 00:12] obifarin commented on #5516
Other metrics:
from sklearn.metrics import confusion_matrix
tn, fp, fn, tp = confusion_matrix(y[test], y_pred).ravel()
specificity = tn / (tn+fp)
e.t.c

[2020-05-12 01:48] #14376 closed

[2020-05-12 02:23] TomDLT commented on #17171
`PCA` is based on the eigen-decomposition of the covariance matrix `C = X.T @ X`, which is of shape `(n_features, n_features)`. Therefore, the eigenvectors are vectors of length `(n_features)`.

`KernelPCA(kernel="linear")` is based on the eigen-decomposition of the Gram matrix `G = X @ X.T`, which is of shape `(n_samples, n_samples)`. Therefore, the eigenvectors are vectors of length `(n_samples)

[2020-05-12 08:24] pedro-abundio-wang opened #17188 "KNeighborsClassifier is very slow on CIFAR10"
KNeighborsClassifier is very slow on CIFAR10, How to improve?

[code]
(50000, 3072)
(50000, 1)
(10000, 3072)
(10000, 1)
[code]

[2020-05-12 08:44] cmarmo commented on #17184
Hi @d-kleine , thanks for reaching out. I think this can be considered as a duplicate of #16153.
There is a PR (#16630) aiming to address it. Will this solve your issue?

[2020-05-12 09:51] #17165 closed

[2020-05-12 09:58] cmarmo commented on #17019
@thomasjpfan @jnothman I'm quite sure a PR has just been merged removing a forgotten "# doctest: +NORMALIZE_WHITESPACE", but I can't find it right now. Anyway, finding this one (#13991) helped me to better understand what is the goal of this issue.
Shouldn't be more suitable to check for custom doctest directive in the CI, not only `ELLIPSIS`?

[2020-05-12 10:44] jnothman commented on #17087
I mean to have the same interface for column selection as ColumnTransformer.

[2020-05-12 11:51] leockl opened #17189 "Adding sample_weight to scikit-learn estimators"
Dear Scikit-learn Team,

I have recently developed a scikit-learn estimator and I am now wanting to include `sample_weight` into my estimator (for downstream purposes such as allowing for boosting, ie. AdaBoost etc.).

I am having issues finding the documentation in relation to how `sample_weight` should look like. I have looked through other estimators (such as Linear Regression, SVM etc.) and th

[2020-05-12 12:00] #16490 closed

[2020-05-12 12:01] NicolasHug commented on #17189
we have a glossary entry about SWs: https://scikit-learn.org/dev/glossary.html#term-sample-weight

We don't have strict guidelines on the actual implementation of SWs and as you noticed, this is estimator-specific.

In terms of API this should be a kwonly argument in `fit`: `def fit(self, X, y, sample_weight=None)`

[2020-05-12 12:55] leockl commented on #17189
Thanks @NicolasHug. I am happy with the answer and you could close this issue.

[2020-05-12 12:56] #17189 closed

[2020-05-12 14:20] d-kleine commented on #17184
Yes, you are right - apologies!

Just took a look into PR thread and just would like to add that...
- it would be good if this could also handle multiclass classification (currently I just see a binary classification in there)
- you could choose where threshold comparison labels are located (currently thresholds displayed in the arrow, not above it) and how you want to have thresholds being displa

[2020-05-12 14:53] cmarmo commented on #17184
Thanks for your answer @d-kleine. Let's keep this issue open for discussion then, as a follow-up of #16153

[2020-05-12 15:54] cmarmo commented on #17022
Hi @MuradBozik can you please specify which version of keras are you using?
I'm using keras 2.3.1 and your code thrown a different error (still an error though :( , see also #15722)
[code]
Thanks!

[2020-05-12 16:36] cmarmo commented on #17022
For me this [keras fix](https://github.com/keras-team/keras/pull/13598) fixes this issue too. Let's wait if it could be merged... :)

[2020-05-12 19:29] dujiaxin opened #17195 "get idf value of words from TfidfVectorizer like a dictionary"
#### Describe the workflow you want to enable
Currently, if we want to get idf value from TfidfVectorizer, we can use
`    from sklearn.feature_extraction.text import TfidfVectorizer

    my_data = ["hello how are you", "hello who are you", "i am not you"]

    tf = TfidfVectorizer(use_idf=True)
    tf.fit_transform(my_data)

    idf = tf.idf_ `

but it cannot show the idf value for 'hello', like

[2020-05-12 21:03] NicolasHug opened #17197 "Update NMF/LDA example to plot topics"
[This example](https://scikit-learn.org/dev/auto_examples/applications/plot_topics_extraction_with_nmf_lda.html#sphx-glr-auto-examples-applications-plot-topics-extraction-with-nmf-lda-py) currently prints the words in each topic.

It'd be better to have plots so that it looks [like this](https://amueller.github.io/COMS4995-s19/slides/aml-18-topic-models/#30)

It's basically a matter of using `plt.

[2020-05-12 23:16] gar1t opened #17198 "sklearn.utils.fixes.MaskedArray removed in 0.23.0"
In scikit-learn 0.23.0:

[code]

There was no deprecation warning in earlier version - now any library that relied on this (e.g. scikit optimize) is broken.

[2020-05-13 00:01] NicolasHug commented on #17198
Thansk for the report @gar1t

We really need to stop making things public by default.

Fixed in https://github.com/scikit-learn/scikit-learn/pull/17199

@gar1t your best bet is still to rely on numpy now. We have bumped our numpy requirements so if you depend on scikit-learn, you should be able to use the proper numpy class.

[2020-05-13 01:01] adriangb commented on #17087
Got it, that makes more sense.

So it would look something like this, right?

[code]

If so, I think we would have to borrow or re-implement a lot of the inner workings of `ColumnTransformer`.

[2020-05-13 01:16] jnothman commented on #17195
`dict(zip(tf.get_feature_names(), tf.idf_))` can be used. Not obvious, admittedly. In scipy, we tend to rely on array-based data structures more than dicts popular elsewhere in Python/

It is described as "A mapping of terms to feature indices." What do you think would make this clearer?

[2020-05-13 01:24] jnothman commented on #17087
Yes, like that, although I'd consider [`make_column_selector`](https://scikit-learn.org/stable/modules/generated/sklearn.compose.make_column_selector.html) or another callable in place of `[0]`, `[1]`, etc. (At #15873 there was a proposal to add selection by categorical cardinality, but it needs design decisions and a pull request still.)

Yes, though it's not *that* much. We are also doing so in 

[2020-05-13 01:34] dujiaxin commented on #17195
Thanks for this. I was worried about the vocabulary order, but your answer makes me trust it.

Sorry, it is a misunderstanding of mine. I thought the `TfidfVectorizer.vocabulary_.get('hello')` would return frequency of 'hello'. But it actually returns the index in the vocabulary.

What I want to complain about here:

When I want to access the frequency of a word, I need to access or calculate alon

[2020-05-13 01:42] pedro-abundio-wang commented on #17188
And After i read the official document use "ball_tree", it seems better(about 20-30 minutes to fit and predict)? But i wanna know is there other method to improved speed?

[2020-05-13 02:32] MuradBozik commented on #17022
I changed my computer with new one two days ago. That's why, unfortunately, I cannot specify the version of Keras I used before. But, I guess it was 2.3.1 too, I had installed using pip and the latest version is 2.3.1.

[2020-05-13 02:44] jieliang opened #17200 "Tweedie regression on insurance claims example"
https://scikit-learn.org/dev/auto_examples/linear_model/plot_tweedie_regression_insurance_claims.html

 I have a question about hyperparameter tuning: how were the values for alpha and other tunable parameters chosen for the passion, gamma (frequency*severity) and tweedie models? Did you do something like grid search and cross validation?

I also thought that it would be nice to have a method to c

[2020-05-13 03:11] jnothman commented on #17195
Yeah, our tools target performing machine learning, not analysis of word
distributions.

[2020-05-13 03:13] jnothman commented on #17188
Nearest neighbours is among the slowest models with a large training set,
since the size of the model is equal to the size of the training set.
Approximate nearest neighbours methods may speed it up, as would
parallelism during prediction.

[2020-05-13 05:08] venkyyuvy commented on #17197
This is the visual generated using the updated example:

<img width="1241" alt="image" src="https://user-images.githubusercontent.com/20812407/81773363-be66ba80-9505-11ea-91e7-6830d1d5410c.png">

[2020-05-13 06:52] #17198 closed

[2020-05-13 07:08] mseehafer opened #17203 "Kmeans fit sideeffect: sample_weight is parameter is modified"
#### Describe the bug
The array passed in to fit() or fit_predict for the argument sample weight is modified (rescaled) in the method with side effects outside the call.

#### Steps/Code to Reproduce

Example:
[code]

[2020-05-13 09:02] pedro-abundio-wang commented on #17188
Thanks. I'm happy to learn Approximate nearest neighbours methods

[2020-05-13 09:02] #17188 closed

[2020-05-13 09:34] jeremiedbb commented on #17203
Thanks for the report. Not the expected behavior indeed. #17204 fixes it.

[2020-05-13 12:03] NicolasHug opened #17206 "Changed_only=True fails with kwargs parameters"
I'm opening the issue just to have a reference

[code]

will fail because `metric` is not part of the signature of init, it's part of a kwargs parameter.

Arguably, that's LightGBM not being super complient, but there's nothing in our docs explicitly preventing this.

Fixed by https://github.com/scikit-learn/scikit-learn/pull/17205

[2020-05-13 13:33] #17203 closed

[2020-05-13 14:12] alexandersmedley opened #17207 "LocalOutlierFactor error when n_samples = 1 and n_neighbors = 1"
Calling fit_predict() on LocalOutlierFactor with n_samples = n_neighbors = 1 results in the following ValueError :
Expected n_neighbors <= n_samples, but n_samples = 1, n_neighbors = 2

This error message is a bit confusing as n_neighbors was set to 1. It seems it is set to 2 by LocalOutlierFactor without warning the user.

The following code can be used to reproduce this error message :
[code]

[2020-05-13 14:31] PrimozGodec opened #17208 "KMeans singnificantly slower on 0.23"
#### Describe the bug
With the latest changes, KMeans is significantly slower on small datasets. The time needed to compute clusters is around ten times longer.

#### Steps/Code to Reproduce
Times with the following code are:
scikit-lern 0.22: ~0.015
scikit-learn 0.23: ~0.15

[code]
I also tried on a bigger dataset with shape (300, 25) where clustering with the new version needed 3-4s while before

[2020-05-13 15:00] benediktbrandt opened #17209 "'KMeans' object has no attribute '_n_threads' when calling predict without fit."
#### Describe the bug
After restoring a previously fitted KMeans model by setting `cluster_centers_` calling `predict` without `fit` raises the following exception:

[code]

This is because the initialization of '_n_threads' happens in the fit method instead of the constructor.

Restoring a previously fitted KMeans model is useful in a production setting where the same clustering might need to be

[2020-05-13 15:32] jeremiedbb commented on #17209
The scikit-learn api is thought to be mandatory to call predict after fit. That's why for instance we have a `check_is_fitted` function call at the beginning of the predict functions. Until now you worked around that by setting `cluster_centers_` but it's expected to be used :)

For your use case, isn't it possible for you to save the fitted estimator ? Have you considered using ONNX ?

Here are t

[2020-05-13 15:48] jeremiedbb commented on #17208
Thanks for the report. Can you tell how many cores you have ?
Can you try setting `OMP_NUM_THREADS=1` as an env var before launching python ? (I'm not proposing to do it permanently it's just to check if I'm on the right path)

[2020-05-13 17:00] PrimozGodec commented on #17208
Thank you for fast reaction. I have 4 cores.
I also tried to set `OMP_NUM_THREADS=1` and nothing changed regarding the speed - it was same slow than before.

[2020-05-13 17:02] #17206 closed

[2020-05-13 17:09] zachmayer opened #17212 ""Paired" distance function for haversine distance"
Currently [paired_distances](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/pairwise.py#L912-L918) supports the following options:

[code]

There's code out there on stackoverlow for a fast and paired implementation of haversine distance: https://stackoverflow.com/questions/29545704/fast-haversine-approximation-python-pandas/29546836#29546836

it seems like this would be

[2020-05-13 17:15] neomatrix369 opened #17213 "[Regression/Backward compatibility] ImportError: cannot import name 'MaskedArray' when building with scikit-learn release 0.23.0"
#### Describe the bug

Running existing packages/programs with the latest release of 0.23.0 gives an import error on `MaskedArray`.

Bounding the requirements to `< 0.23.0` resolves this issue, but then it reverts to the older version although would be good to be on the latest release.

#### Steps/Code to Reproduce

*Setup*
[code]

*Code*
[code]
#### Expected Results
No exception or a warning with

[2020-05-13 17:17] adriangb commented on #17087
Awesome, thank you for linking those PRs. I'll take a look and circle back here.

[2020-05-13 17:32] #17010 closed

[2020-05-13 18:41] cmarmo commented on #17213
Hi @neomatrix369, thanks for reaching out. Closing as duplicate of #17198. Fixed by @NicolasHug in #17199

[2020-05-13 18:41] #17213 closed

[2020-05-13 19:47] rth commented on #17213
See temporary workaround in https://github.com/scikit-optimize/scikit-optimize/issues/902#issuecomment-628207776

[2020-05-13 19:49] rth commented on #17198
@gar1t  Also see temporary workaround for scikit-optimize in https://github.com/scikit-optimize/scikit-optimize/issues/902#issuecomment-628207776

[2020-05-14 02:33] jnothman commented on #17209
You can also use:

km.fit(saved_centers)

instead of

km.cluster_centers_ = saved_centers.

[2020-05-14 02:33] #17209 closed

[2020-05-14 02:34] jnothman commented on #17212
PR welcome IMO. Just take care with code licenses.

[2020-05-14 02:34] jvesely opened #17214 "Broken install dependencies (numpy) on PyPy"
#### Describe the bug
scikit-learn installation on pypy fails because of conflicting numpy dependencies
project.toml:
[code]
vs.
setup.py:
[code]

this leads to inevitable:
[code]

#### Steps/Code to Reproduce

[code]

#### Expected Results
package installed successfully

#### Actual Results
[code]

#### Versions
`scikit-learn-0.23.0`