[2019-04-30 21:24] jnothman commented on #13752
We are currently working on a release, so developer attention to new issues
is limited. Please ping in a couple of weeks.

[2019-04-30 22:00] fdas3213 commented on #13698
Below is a copy of my comments in the PR #13726

Assertion error happens at the last line `assert param_value == init_param.default, init_param.name` in `check_parameters_default_constructible` in sklearn/utils/estimator_checks.py because  `param_value = n_clusters`  if n_components is None, but `init_param.default = None`, and because `n_clusters != None`, this error occurs.

I tried to fix this

[2019-04-30 22:02] kyle-pena-nlp commented on #13752
will do.  Are you open to a pull request at that future point in time?

[2019-04-30 23:23] jnothman commented on #13752
We're open to a pull request any time, just expect the response to be
delayed.

[2019-05-01 00:43] gccmbr opened #13753 "PCA incorrect eigenvalues when input using StandardScaler(with_std=True)"
#### Description
sklearn.PCA when used with StandardScaler(with_std=True) produces incorrect eigenvalues (explained_variance_). The explained_variance_ratio is correct.  However, the sklearn.PCA with_std=False produces **correct** results.  Along with checking against numpy's eig, eigh, and 3rd party PCA, the determinant of the iris dataset, as an example, and any of the PCA resulting explained_va

[2019-05-01 03:21] jnothman commented on #11991
There are a few further references to Py2:
[code]

[2019-05-01 03:23] #7917 closed

[2019-05-01 03:55] css459 commented on #13745
Would it make sense to adapt this to use [numpy.linalg.eig](https://docs.scipy.org/doc/numpy/reference/generated/numpy.linalg.eig.html) on a covariance matrix?

[2019-05-01 06:44] arc12 opened #13756 "[idea] extend attributes of RFECV to indicate order of feature elimination"
Currently sklearn.feature_selection.RFECV provides the scores for the sequence of reduced feature subsets, but it does not expose which feature was eliminated at each step.

this could be useful for semi-automatic procedures and QA/verification.

[2019-05-01 06:50] joseortiz3 commented on #13689
"The fit time complexity is more than quadratic with the number of samples which makes it hard to scale to dataset with more than a couple of 10000 samples."

"The fit time scales quadratically with the number of samples, practically limiting the number of samples to the low tens of thousands".

[2019-05-01 07:47] nicholasg97 commented on #13228
I concur, I'm having the same issue with spyder. Restarting the kernel doesn't work...

[2019-05-01 08:01] agramfort commented on #13740
@AraiKensuke why do you repost an issue? it's now a duplicate. Please send us a pull-request to fix the issue. that will be very much appreciated.

closing

[2019-05-01 08:01] #13740 closed

[2019-05-01 10:19] shahabsh92 commented on #13228
@albertcthomas yes exactly. I get both on spyder and Jupiter Errors. Both BrokenProcessPool like @rfernandezv.

That's the Error on IPython console of Spyder:

`exception calling callback for <Future at 0x2139edbbe10 state=finished raised BrokenProcessPool>
sklearn.externals.joblib.externals.loky.process_executor._RemoteTraceback:
'''
Traceback (most recent call last):
  File "D:\Softwares\Anacoda

[2019-05-01 13:26] #13753 closed

[2019-05-01 15:32] jnothman commented on #13756
This sounds like a reasonable suggestion. We are providing similar
information in the proposed self-training (#11628). Pull request welcome

[2019-05-01 15:58] albertcthomas commented on #13228
@rfernandezv and @shahabsh92 do you still have the error if you run your script using
`python script.py` in a terminal or the anaconda prompt?

[2019-05-01 16:32] AraiKensuke commented on #13740
Sorry Alexandre, I didn't know what a PR was.  I'm reading the docs on pull
requests, setting up a new conda environment to install pulled scikit-learn
tree, and will send a pull request once I fully understand what's going on
- in the next few days.

Kensuke

On Wed, May 1, 2019 at 4:02 AM Alexandre Gramfort <notifications@github.com>
wrote:

--
Kensuke Arai
Postdoc @ Uri Eden Group, Boston Unive

[2019-05-01 16:40] XavierSATTLER commented on #13734
I believe this is a comma placement error, and that it was meant to be

It would actually be clearer this way :

(I droped any mentions of subsets).

Regardless of wether you sample you dataset or not (see below), the hamming loss **will be** normalized. For zero-one loss, you can choose the behaviour with the `normalize` parameter. Comparing both losses makes sense only if they are normalized.

T

[2019-05-01 17:37] xnox opened #13757 "test_SGDClassifier_fit_for_all_backends started to fail in Ubuntu"
[code]

Started to fail in Ubuntu development series with both python2 and python3. We did update joblib recently, But I don't think that's at fault here. Maybe it's new gblic

Or maybe our testing machines are simply too small? but note that previously this was passing fine.

This is with 0.20.2, will retry with 0.20.3 but I don't think anything changed around there.

[2019-05-01 18:19] mitar commented on #13734
Thank you so much for this great explanation. This all makes much more sense now!

Yes, I agree that the second propose language would make things completely clear. I would just add, I really appreciate if every metric also mentions if higher or lower is better. Maybe we can say something like:

Or:

[2019-05-01 18:29] shahabsh92 commented on #13228
@albertcthomas I tried it in the terminal and I got again an error.

I will post the pictures of the Error. Something which I find interesting, is that there are 3 errors and the first error is complaining about the build_classifier and says that it cannot find it (as an AttributeError)

![TerminalError1](https://user-images.githubusercontent.com/42244527/57034430-bff17780-6c4f-11e9-962e-7ed6ea7d4

[2019-05-01 18:31] XavierSATTLER commented on #13734
Lower is better is implied by the fact that this is a loss, but we can write it and see if the reviewers thinks it is appropriate.

So, merging your proposal with mine :

Do you want to do the PR or shall I ? :)

[2019-05-01 18:36] mitar commented on #13734
Given that you contributed the most, I will let you have the honor. ;-)

[2019-05-01 18:53] akshayparopkari opened #13759 "FileNotFoundError while importing sklearn"
#### Description

```from sklearn.svm import SVC``` throwing FileNotFoundError. I started seeing this error when I updated urllib3 to version 1.24.2 from 1.12, using conda.

Temp fix - I have reverted back to urlib3 version 1.12, and running ```from sklearn.svm import SVC``` does not throw any errors.

#### Steps/Code to Reproduce

1. ```conda update urlib3```
2. in Jupyter notebook, run ```from s

[2019-05-01 18:57] tomMoral commented on #13228
The errors labeled `BrokenProcessPool` are caused directly by the error:

[code]

This is an error with the serialization process for both @shahabsh92 traceback you showed. (The previous one is because `keras` try to `write` on `sys.stderr` which is `None`).

The serialisation process for `loky` should be conducted with [`cloudpickle`](https://github.com/cloudpipe/cloudpickle) and should not fail

[2019-05-01 19:36] sabman commented on #8242
Install numpy making sure it's compatible with the required scikit-learn. Then try reinstalling scikit-learn specifying the version you want - for example with 0.17.0

[code]

[2019-05-01 20:03] rth commented on #13759
That error is likely indicative of a broken conda install and not related to scikit-learn which doesn't use urllib3.

[2019-05-01 20:07] rth commented on #13757
Could you run only this test with `pytest sklearn -k test_SGDClassifier_fit_for_all_backends` and see if it still fails.

Looks like the server tests are running on doesn't have enough RAM (here to allocate a 1MB sparse array). Could there be another process taking all the RAM?

[2019-05-01 21:08] jnothman commented on #13757
The version to try, please, is 0.21rc2, available on PyPI

[2019-05-01 21:13] jnothman commented on #13740
Thanks for your help, Kensuke!

[2019-05-01 22:01] akshayparopkari commented on #13759
@rth thanks for the quick reply! I was able to resolve the issue by uninstalling urllib3, which isn't required by scikit-learn. Also, I am closing this issue with this comment.

[2019-05-01 22:01] #13759 closed

[2019-05-01 22:35] xnox opened #13762 "doctest SpectralCoclustering fails on Ubuntu arm64"
[code]

This is 0.20.3 and fails on Ubuntu arm64.

[2019-05-01 23:54] Dathiou commented on #13692
Hey @aditya1702, any luck on this?

[2019-05-02 00:24] jnothman opened #13763 "_hist_gradient_boosting tests not finishing in pypy CI"
I don't think we have an issue for this elsewhere... Our pypy builds are failing after no output for 10 minutes when running the new gradient boosting tests.

https://circleci.com/gh/scikit-learn/scikit-learn/56726

[2019-05-02 01:12] jnothman commented on #13692
Yes, it would be very good to complete this

[2019-05-02 01:13] jnothman commented on #13762
Please check with 0.21rc1 as well.

[2019-05-02 02:06] rfernandezv commented on #13228
@albertcthomas , I still have the problem, but when I ran it in Visual Studio Code using Jupyter Server everything worked fine. I think the problem is with Anaconda.

@shahabsh92  you can run it in VS code

[2019-05-02 04:04] joybhallaa commented on #13692
Hey @aditya1702 , if you're not working on this, then I'll be happy to work on it.

[2019-05-02 11:46] albertcthomas commented on #13228
@rfernandezv and @shahabsh92 I cannot reproduce your error when running the code that I posted in the [comment above](https://github.com/scikit-learn/scikit-learn/issues/13228#issuecomment-471226884) both in cmder and the anaconda prompt in a conda env with the same configuration as @shahabsh92
[code]

[2019-05-02 12:03] H4dr1en commented on #10232
Has this been done now? Do we still have to specify `n_jobs=1` for the inner parallelism (estimator) ?

[2019-05-02 12:14] jnothman commented on #10232
I don't think we have a solution to this yet

[2019-05-02 15:18] aditya1702 commented on #13692
@jnothman Yes I was working on this. Got a little busy with work so couldnt submit a pull request. @Bharat123rox I was working on this. Is your pull request complete?

[2019-05-02 15:31] Bharat123rox commented on #13692
@aditya1702 Sorry I didn't see the comments :sweat:
Yes my PR has finished, but anyway tests have failed on my PR, so I'm closing it and you can take it

[2019-05-02 19:29] dduemig commented on #9967
Are there any updates ?

 I am currently using the following implementation:
https://github.com/rtavenar/SparseGroupLasso/blob/master/README.md

which follows:
https://web.stanford.edu/~hastie/Papers/SGLpaper.pdf

However, it is way to slow for what I am doing :(

Thank you

[2019-05-02 19:43] amueller opened #13770 "repr of column transformer unhelpful"
Here's a screenshot from a tutorial I did the other day:
![image](https://user-images.githubusercontent.com/449558/57102039-8755aa80-6cf0-11e9-8607-af3d8848650a.png)

The repr currently includes part of the dataframe, which I find of questionable value to begin with. Additionally, there's ellipsis inside the dataframe, which is hard to see but means that there is actually two different dataframes

[2019-05-02 20:16] NicolasHug commented on #13770
I'll take a look

[2019-05-02 20:27] glemaitre opened #13771 "Handle 'drop' together with None to drop estimator in VotingClassifier/VotingRegressor"
As mentioned in the following https://github.com/scikit-learn/scikit-learn/pull/11047#discussion_r264114338, the `VotingClassifier` and `VotingRegressor` should accept `'drop'` to drop an estimator from the ensemble is the same way that `None` is doing now.

[2019-05-02 23:21] jnothman commented on #13770
I'd never thought to use a mask like that, let alone with a series. I
would  use a list of column names where a callable is not possible...

[2019-05-03 02:22] Pacman1984 opened #13773 "IterativeImputer behaviour on missing nan's in fit data"
Why is this behaviour forced:

_Features with missing values during transform which did not have any missing values during fit will be imputed with the initial imputation method only._

[https://scikit-learn.org/dev/modules/generated/sklearn.impute.IterativeImputer.html#sklearn.impute.IterativeImputer](https://scikit-learn.org/dev/modules/generated/sklearn.impute.IterativeImputer.html#sklearn.impu

[2019-05-03 02:53] jnothman commented on #13773
That sounds reasonable to me, at least as an option and probably default
behaviour. But I don't think it's worth blocking release for that feature,
so if you want it in 0.21, offer a pull request soon? Ping @sergeyf

[2019-05-03 02:54] Pacman1984 commented on #13773
OK, I do pull request. Sorry iam a newby on github participation.

[2019-05-03 03:05] jnothman commented on #13773
We keep the issue open until the issue is solved :)

Let us know if you need help.

[2019-05-03 03:56] Bharat123rox commented on #13689
I felt @joseortiz3 's suggestion was the most general, and I have opened a PR to incorporate the same.
@jnothman Thoughts?

[2019-05-03 03:56] sergeyf commented on #13773
Just making sure I understand this...

Would it work like this?

(1) Apply initial imputation to every single feature including _i_.
(2) Run the entire sequence of stored regressors while keeping feature _i_ fixed (`transform` only, no `fit`s).
(3) NEW: run a single fit/transform imputation for feature _i_.

Is that correct? If not, at what point would we fit/transform a single imputation of featu

[2019-05-03 05:38] aditya1702 opened #13775 "Cannot build sklearn from source"
#### Description
I am not able to build sklearn from source on my Macbook pro with MacOS Mojave. I have set SKLEARN_NO_OPENMP to False and I get the following error when I run **pip install --editable .**
[code]

Could someone help me please?

[2019-05-03 05:41] jnothman commented on #13775
It looks like you don't have cython installed in your conda Env. You're
using an installation from /Users/ilan/minonda/

[2019-05-03 05:45] aditya1702 commented on #13775
@jnothman Cython is installed in the conda env

[code]

[2019-05-03 09:03] glemaitre opened #13777 "Voting estimator will fail at fit if weights are passed and an estimator is None"
Because we don't check for an estimator to be `None` in `sample_weight` support, `fit` is failing`.

[code]

[code]

[2019-05-03 12:28] azrdev commented on #13438
I suspect related to these are y-only transformers (see [SLEP001: Transformers that modify their target](https://scikit-learn-enhancement-proposals.readthedocs.io/en/latest/slep001/proposal.html))?

[2019-05-03 13:33] thomasjpfan commented on #13763
@NicolasHug pypy fun

[2019-05-03 14:34] NicolasHug commented on #13775
No idea but try `make clean` and then `make in`?

[2019-05-03 14:42] NicolasHug commented on #13763
Can anyone reproduce the timeout?

I just setup a virtualenv with pypy and numpy 1.15 on my machine, and the tests pass correctly :/

[2019-05-03 14:47] jeromedockes commented on #13460
#13350 solves a similar issue for `RidgeCV`, not for `Ridge`

[2019-05-03 15:02] thomasjpfan commented on #13775
Did you install Cython using conda AND pip?

[2019-05-03 15:10] gwerbin opened #13781 "ColumnTransformer doesn't accept some valid Pandas column names"
#### Description

Pandas columns can be tuples, or in the case of a MultiIndex, can be accessed using a tuple. `ColumnTransformer` does not support this. It seems to be an oversight in the data validation.

#### Steps/Code to Reproduce

[code]

#### Expected Results

`ColumnTransformer` accesses columns `('a', 1)` and `('a', 2)`, and sends them to the `StandardScaler` instance.

#### Actual Result

[2019-05-03 15:20] Pacman1984 commented on #13773
Feature i is a feature with no missing values in the fitting data.

The easiest way would be to just don't make a special case for feature i, when feature i has no nan's. So the process would be:

(1)  Apply initial imputation to every single feature including i. Which end up in doing no imputation for feature i, because feature i has no missing values.
(2) Fit the regressor for every feature. [Be

[2019-05-03 15:23] sergeyf commented on #13773
Ah, I see what you're saying. Just keep fitting & storing the models but not doing any prediction. I don't see any obvious downsides here. Good idea, thanks.

[2019-05-03 15:54] Pacman1984 commented on #13773
Yes exactly, keep fitting but dont do predictions for features with no missing values.
Should i close and do a pull request or whats the process?

[2019-05-03 15:54] aditya1702 commented on #13775
I did
[code]

and I was able to run it. Thanks!

[2019-05-03 15:54] #13775 closed

[2019-05-03 16:16] sergeyf commented on #13773
Leave this open, start a PR. Once a PR is merged, this ticket can be closed.

Thanks.

[2019-05-03 20:15] #8277 closed

[2019-05-03 21:17] amueller opened #13783 "knn predict unreasonably slow b/c of use of scipy.stats.mode"
[code]

spends all it's time in unique within stats.mode, not within the distance calculation. ``mode`` runs ``unique`` for every row.
I'm pretty sure we can replace the call to mode by some call to making a csr matrix and then argmax.

How much is it worth optimizing this? I feel KNN should be fast in low dimensions and people might actually use this. Having the bottleneck in the wrong place just

[2019-05-03 21:30] amueller commented on #13770
Really? Why?
this is
[code]
or something similar.
This seems a pretty obvious and intuitive pattern to me? (yes I could have used remainder, then the repr will be quite different I think?)

[2019-05-03 21:31] amueller commented on #13770
Oh I guess the person was using stable, so maybe in 0.21 this is less bad
I'm getting
[code]

for the code above. Really friendly is different, though...

[2019-05-03 21:47] NicolasHug commented on #13770
There's 2 ways of "fixing" it that should not be too hard to implement:

### Option 1: cut dataframes and numpy arrays after the first \n

[code]

Option 1 with change_only=True:

[code]

### Option 2: don't cut, but indent correctly

[code]

LMK which one you prefer

[2019-05-03 22:12] xicocaio commented on #4757
Thank you for the implementation, I just have a question.

The blog says: "Then we step through each consecutive k samples in this order and **randomly** allocate exactly one of them to one of the partitions. We continue this floor(N/k) times, and the remaining mod(N,k) samples are randomly allocated to one of the k partitions."

I do not see the randomly allocate part of the blog instructions on

[2019-05-04 01:20] aditya1702 commented on #13783
@amueller Do you mean something like this

[code]

[2019-05-04 08:13] ivanychev commented on #5115
@jmq19950824 @morienor yeah but there's no point in using `threading` backend due to GIL.

[2019-05-04 08:22] jnothman commented on #13783
That isn't going to apply to every row, and involves n_classes passes over
each. Basically because we know the set of class labels, we shouldn't need
to be doing unique.

Yes, we could construct a CSR sparse matrix and sum_duplicates and get the
argmax. Or we could just run bincount and argmax for each row. The question
is if it speeds things up enough to be worth the code.

It might also be possi

[2019-05-04 09:23] jnothman commented on #13773
Or maybe we should consider making IterativeImputer experimental for this
release??

[2019-05-04 09:24] #13689 closed

[2019-05-04 09:43] jnothman commented on #13770
If we had an easy tool for make_feature_selector(dtype=object) then that
would be the right idiom.

[2019-05-04 10:10] DanChaltiel opened #13784 "ZeroDivisionError when using GridSearchCV on a BaggingClassifier of BernoulliNB"
Hi everyone !

I've stumbled to some unexpecter `ZeroDivisionError` and I've been advised to post here in my [stackoverflow question](https://stackoverflow.com/q/55981273/3888000).

Thanks for help.

#### Description
When you try to cross-validate a `BaggingClassifier` with `BernoulliNB`, you get a very unexpected `ZeroDivisionError` coming from `parallel.py` (even if `n_jobs=None`).

I've tried t

[2019-05-04 12:03] XavierSATTLER commented on #13784
Hi Dan

I had a look at your issue. The error come from your verbose value. If you set it to 0 everything works fine. In general, verbose should be >=0.

I digged into the source code and saw that the verbose parameter was passed as provided in joblib.Parallel function.

I would agree that nor sklearn documentation, nor [joblib documentation](https://joblib.readthedocs.io/en/latest/generated/jobli

[2019-05-04 17:05] sergeyf commented on #13773
I don't really see this as a hugely important or common use case. It's good
to get right but it currently is reasonable if not perfect. What other
concerns do you have?

On Sat, May 4, 2019, 2:24 AM Joel Nothman <notifications@github.com> wrote:

[2019-05-04 18:33] DanChaltiel commented on #13784
Wow this wors indeed! I would never had thought about this!

I've been reading a lot that "model will output information if verbose is positive" so I thought putting a negative value would make it quiet, but now that you say so the doc never said such a thing.

You can consider the problem solved on my end, thank you very much.

Note that I'm using `verbose=-1` on every other model without any tro

[2019-05-04 18:33] #13784 closed

[2019-05-04 18:56] glemaitre commented on #13773
One possible reason might be linked with the default estimator, which I find slow to use it. Maybe, one cycle in experimental would allow to quickly change those if they are shown to be problematic in practice.

[2019-05-04 19:01] vicramr commented on #13745
[This stackexchange question](https://stats.stackexchange.com/questions/134282/relationship-between-svd-and-pca-how-to-use-svd-to-perform-pca) has a discussion on the relationship between SVD and PCA. TL;DR if the features of your X matrix are mean-centered, you can find the principal components by finding either the eigenvectors of the covariance matrix, or the SVD of X. To my knowledge, the PCA

[2019-05-04 19:45] XavierSATTLER commented on #13784
Yes, the problem arise only when joblib.Parallel is used in the function (which is something you can't know from outside)

[2019-05-04 20:08] kno10 commented on #8073
You need to increase `max_iter`. The default value of 100 is just too low, AP is slow at converging, with 1000 this seems to work. You can set `verbose=True` to see when it doesn't converge.
Maybe the default should then be increased, and failure to converge should be displayed even when verbose is not true.

The documentation also seems to be off:

Cannot confirm this. According to `verbose=True`

[2019-05-04 20:22] vicramr opened #13788 "r2_score documentation"
Like many others ([1](https://github.com/scikit-learn/scikit-learn/issues/5570), [2](https://github.com/scikit-learn/scikit-learn/issues/5125), [3](https://github.com/scikit-learn/scikit-learn/issues/10543)), I've experienced a lot of confusion due to the definition of `r2_score` in sklearn. I think that some better documentation could help clarify what's going on.

The [r2_score user guide](https

[2019-05-04 23:11] jnothman commented on #13781
If that validation is removed does it just work?

[2019-05-04 23:14] #11642 closed

[2019-05-04 23:17] jnothman commented on #4757
Looks at a glance like that first "randomly" is in error

[2019-05-05 03:05] RNAer commented on #4757
I haven't checked thoroughly, but I think the randomness is implemented in scikit-learn's private functions called by my code?

[2019-05-05 05:12] jnothman commented on #13773
Let's do it. We have the mechanism, we're sure we've made design and implementation choices here that are not universal, so I'll open an issue

[2019-05-05 05:13] jnothman opened #13789 "Make IterativeImputer an experimental import, like HistGradientBoostingClassifier"
See also #13773.

The point is that we've made some design and algorithmic choices that may deserve refinement over the next release or two without requiring backwards compatibility.

[2019-05-05 05:16] jnothman commented on #13784
This might be a bug in joblib. Report it to the joblib issue tracker,
please.

[2019-05-05 05:22] jnothman commented on #8073
+1 for convergence warning even if not verbose. That would be consistent
with other estimators. Increasing max_iter may also be reasonable. What
determines a good default here?

[2019-05-05 07:21] aditya1702 commented on #13789
I would love to help with this task

[2019-05-05 07:22] agramfort commented on #13745
If you don't benefit from all the estimator API of sklearn (X as n_samples, n_features with pipelines etc.) I am not sure it's worth doing. PCA with numpy/scipy is 5 lines of code. Now what could be done is expose PCA as a function (not just an object) where maybe it could be easier to do. Now again I am not sure it's worth the effort.

my 2c

[2019-05-05 07:31] XavierSATTLER commented on #13784
done :)

[2019-05-05 07:58] jnothman commented on #13789
You're welcome to submit a pull request. Try copy documentation and code
pattern for HistGradientBoostingClassifier. But one complication is that
currently impute is a single file. It will need to become a subpackage
(separate directory so you can have sklearn/impute/_iterative.py).

[2019-05-05 14:52] agramfort commented on #13788
feel free to add a note to the doc but I don't see why our definition that
applies to any regression model (instance of RegressorMixin) is
non-standard. What would have done?

[2019-05-05 15:12] #13721 closed

[2019-05-05 18:17] rth commented on #13763
@NicolasHug You could try running in in the same docker container as CircleCI does.

[2019-05-05 18:38] rth commented on #13733
Any other opinions on this @jnothman @ogrisel ? Otherwise I'm afraid we might have to close this as a "wontfix".

[2019-05-05 18:48] thomasjpfan commented on #12535
The amount of "please use double backticks" in code review adds a bunch of noise. When viewing the docstring from jupyter, the extra two characters from using double backticks adds visual noise.

There are two extremes to "fix" this issue:

1. Make single backticks not reference anything and always go to code. Add `:term:` and `:py:` everywhere.

2. Keep the current behavior, change all single bac

[2019-05-05 18:57] NicolasHug commented on #12535
Whatever we do, we should document clearly in the contributing guidelines. I agree this back and forth between single and double backticks is getting annoying.

[2019-05-05 18:58] mitar commented on #13733
What would that be true? Both `str` and `Tuple` are in Python immutable, so manipulation is very similar.

+1 on fixing this.

[2019-05-05 20:09] rth commented on #13733
What I meant is that the vocabulary of "this sentence" being `['this', 'sentence']`, is conceptually simpler than `[('this',), ('sentence',)]` because there is one less container object.

More importantly though is the question of backward compatibility. Changing the type of vocabulary would break (or require changing) a lot existing code. If that is to happen IMO a compelling case should be made

[2019-05-05 23:22] aakash-sahu opened #13791 "OneHotEncoder - categories parameter not working as deprecated n_values parameter"
When using the 'n_values' parameter, the code works as expected and I get the deprecation warning. However, when the code is changed to what's suggested in deprecation warning, getting a ValueError.
This works:

`from sklearn.preprocessing import OneHotEncoder`
`ohe = OneHotEncoder(n_values= 8,sparse = False)`
`o = ohe.fit_transform(np.array([[3, 5, 1]]))`
`o = o.reshape(1,3,8)`
`print(o)`

  ``[[

[2019-05-05 23:51] thomasjpfan commented on #13478
The idea in https://github.com/scikit-learn/scikit-learn/issues/13478#issuecomment-475205957 is okay. Are the `train_predictions` or `test_predictions` useful without `cv_indices`? Are we going to want to extend this to results from `predict_proba` in the future?

[2019-05-05 23:57] jnothman commented on #12535
When we introduced a default_role, I thought it was on the basis of option
3. Is there any reason to revise that yet?

[2019-05-06 01:16] jnothman commented on #13733
I don't get why this is necessary for ONNX support. What's the goal? If
ONNX is trying to replicate CountVectorizer.transform it obviously doesn't
need to make this distinction if we don't.

You're right that there's some ambiguity and that "t is the" can pass the
min_df threshold by mixing different forms. But I think the idea of taking

What's the intention there?

But I'm okay for space_join to

[2019-05-06 01:18] jnothman commented on #13791
You're right, it should be suggesting [range(8), range(8), range(8)]... but
I'm not sure that's really what you want. Do you mean to have three
categorical features there as input?

[2019-05-06 02:15] thomasjpfan commented on #12535
If we want to fully embrace option 3, we should remove the warnings we have now for unresolved `any` references. (This is easily done by commenting out one line of code in our custom processing of `any`)

[2019-05-06 02:23] hjcen opened #13792 "best_centers update problem"
https://github.com/scikit-learn/scikit-learn/blob/13981bdce97ab2dd49b6b8707f3f27b5c148b9c0/sklearn/cluster/k_means_.py#L559

This line should be `best_centers = centers_old.copy() ` ?
Because the inertia  in code L541  is  calculated for old centers.

[2019-05-06 02:52] jnothman commented on #13792
Your opinion, @jeremiedbb?

[2019-05-06 06:54] Bharat123rox commented on #13662
@rth I have opened a PR to clarify this in the docs.

[2019-05-06 08:36] aishwariya96 commented on #7242
Hello,
I went through the same issue and tried this

df2 = df2[df1.columns]
df2 is the data frame where the columns need to be ordered like in the df1.

[2019-05-06 09:00] jeremiedbb commented on #13792
I think the existing code is correct. In the E step, we compute the labels and inertia based on the previous centers and in the M step we compute the new centers based on the labels.

Also, after the iterations loop, we rerun the E step once more so that the labels match the final centers. So in the end the labels and inertia are computed on the last new centers.

[2019-05-06 09:05] tkoller78 opened #13794 "train_test_split with stratify causing integer overflow (32bit version)"
Description:
Train_test_split with stratify is returning faulty results due to integer overflow (32bit version only).

Steps to reproduce:
[code]

Actual result:
`(93105, 2) (38, 2)`

Expected result:
`(80000, 2) (20000, 2)`

Versions:
Python 3.7.0 (32bit)
Sklearn 0.20.3
Pandas 0.23.4

[2019-05-06 09:15] yngvem commented on #9967
I have implemented an efficient group lasso optimizer, but not sparse group lasso (yet) as that optimisation problem is significantly more complicated (by the introduction of two non-smooth regularisers). The group lasso implementation uses stochastic FISTA to solve the problem and is able to handle datasets with 5 000 000 rows and hundreds of columns on a moderately priced laptop.

There are two

[2019-05-06 09:58] glemaitre opened #13797 "Remove deprecated functions and classes 0.22"
I open this PR to keep track of the functions and classes which needs to be removed due to the end of the deprecation cycle.

- [x] remove graph lasso #13795
- [x] remove imputer from preprocessing #13796
- [x] remove mldata tools #13798
- [x] change the default value from `'auto_deprecated'` to `'scale'` in all SVMs #13801
- [x] remove random_state from OneClassSVM #13802
- [x] change the default

[2019-05-06 10:06] ogrisel commented on #13763
This might be caused by an oversubscription issue on circle ci hosts. I remember we had to manually set  `LOKY_MAX_CPU_COUNT=2` to avoid a similar issue on joblib related tests on that host because pypy does not report the correct numpy of available CPUs on circle CI for some reason I do not recall exactly.

Maybe setting `export OMP_NUM_THREADS=2` in the pypy test script can help mitigate this is

[2019-05-06 10:10] #13777 closed

[2019-05-06 11:19] leiyu943 opened #13799 "Tricky problem about extra_trees modal"
I use extra trees modal for my essay, but here's a problem.
When i call extra trees modal like:

------------------------
{
    'ExtraTrees  ': ExtraTreesClassifier(n_estimators=180, max_depth=30,min_samples_split=20,
                                         min_samples_leaf =1,min_weight_fraction_leaf=0,
                                         max_features =None,max_leaf_nodes=None,n_jobs=3 ,

[2019-05-06 11:26] jnothman commented on #13799
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-05-06 11:26] #13799 closed

[2019-05-06 11:48] leiyu943 commented on #13799
I feel terribly sorry, this is not a usage question. I'm talking about two method which should have same results but not, and this may caused by some problem of source code of the kit. I have know idea of that.

[2019-05-06 12:08] jnothman commented on #13799
Then you need to submit a piece of complete, runnable code to demonstrate the issue. The code above is not complete and the issue cannot be reproduced with it.

I think you will find that this is not an error in the scikit-learn library, but I suppose that it's possible that there are fundamental bugs in our tree implementation many years after their release.

[2019-05-06 15:09] jnothman commented on #13789
Do other core developers think this is worthwhile and hence a blocker for release?

[2019-05-06 15:31] glemaitre commented on #13789
I would be +1 on this

[2019-05-06 16:17] xicocaio commented on #4757
@jnothman I don't see that error part of the code. Can you point it out to me?

@RNAer I checked the parent code your functions call, and it doesn't seem to user any type of random method. It maybe would if you passed 'shuffle=True'. However, passing this shuffle flag as True is not desirable for our purposes.

I think the code should probably execute the random step 'manually' and that the parent

[2019-05-06 16:22] aditya1702 commented on #13789
@jnothman Got it. Will get started on this

[2019-05-06 17:38] Dathiou commented on #13692
Thank you @aditya1702 !

[2019-05-06 18:40] kno10 commented on #8073
Increasing the dampening parameter to 0.9 also helps, but since ELKI also uses 0.5 I believe this may be suggested somewhere in the original paper. ELKI defaults to 1000 iterations.

I'm not sure the cluster assignment in the sklearn version is correct. As I understood the paper, responsibility + availability should determine the cluster assignment, but the sklearn version uses the original simila

[2019-05-06 21:31] jnothman commented on #4757
I'm saying that the distribution should be by deterministic round robin and
not randomised except in case of ties, until the remainder.

[2019-05-07 00:03] jnothman commented on #13789
Open a PR soon, as we would like to release. But still I'd like to see affirmation that this a reasonable direction from other core devs.

The point is that we've made some design and algorithmic choices that may deserve refinement over the next release or two without requiring backwards compatibility.

[2019-05-07 00:06] #13771 closed

[2019-05-07 04:46] qihongl commented on #13662
Thanks! btw, are on sure we understand what the issue is? @amennen and I are saying `predict_proba()` and `predict()` seem to be the **exact opposite**, rather than just being inconsistent. And as the code I attached on colab shows, this doesn't happen for 3-way classification.

[2019-05-07 04:54] #12991 closed

[2019-05-07 09:23] dduemig commented on #9967
Thanks for your feedback

I found another implementation here:
https://github.com/AnchorBlues/GroupLasso

However, it does not give the same results as the previous mentioned implementations
https://web.stanford.edu/~hastie/Papers/SGLpaper.pdf
 https://github.com/rtavenar/SparseGroupLasso
https://github.com/fabianp/group_lasso/blob/master/group_lasso.py

[2019-05-07 09:54] WenjieZ commented on #13794
Cannot reproduce on 64bit version. Can be a problem of either `_validate_shuffle_split` or `StratifiedShuffleSplit`.

What does it give without the stratify argument?

[2019-05-07 09:57] scouvreur commented on #13748
Hi there - if no one is working on this could I take this issue ?

[2019-05-07 10:03] scouvreur commented on #13797
Hi @glemaitre - could I help out on any of these ?

[2019-05-07 10:36] zhaofeng-shu33 opened #13812 "sklearn.cluster.AffinityPropagation doesn't support sparse affinity matrix"
#### Description
sklearn.cluster.AffinityPropagation doesn't support sparse affinity matrix.

A similar question is at #4051. It focuses on default affinity.
#### Steps/Code to Reproduce
[code]

#### Expected Results
no error raised since it works for dense matrix.

#### Actual Results

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "D:\Miniconda\lib\site-packages\

[2019-05-07 10:46] tkoller78 commented on #13794
As mentioned, the issue is on the 32bit version only.

Without stratify the method is returning sensible results. I.e. (80000, 2) (20000, 2)

[2019-05-07 11:21] glemaitre commented on #13797
Yes, all the item without a PR number are free. Feel free to take any. If you can just report here such that I update the list, it could be great.

[2019-05-07 11:22] NicolasHug commented on #13745
@vicramr is correct: since we center the features of the input matrix `X`, computing the SVD gives you the eigenvectors of the **covariance** matrix.

It's just faster to compute the SVD than to compute the covariance matrix and then its eigenvectors directly.

I think we can close this issue.

[2019-05-07 13:12] kgoyal40 commented on #13711
I am facing the same issue with mutual_info_regression(). Did you manage to figure it out?

[2019-05-07 13:40] amueller commented on #12991
Btw, why do we require a parameter to ``check_is_fitted`` instead of just checking for the existence of any underscore attribute?

[2019-05-07 14:00] glemaitre commented on #12991
I asked myself the same question. Then, we need to be sure that the API is consistent.

[2019-05-07 15:52] giacomomarchioro commented on #13745
Yes, I did some testing and it seems it's like that. Thanks for the clarifications.

[2019-05-07 15:52] #13745 closed

[2019-05-07 17:55] LakshKD commented on #13797
I am also picking up some :-)

[2019-05-07 22:23] jseps opened #13823 "ValueError: '_check_build.pyx' doesn't match any files"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2019-05-08 00:27] jnothman commented on #13748
I don't think there is anyone working on it. Give it a shot!

[2019-05-08 00:30] jnothman commented on #13812
Yes, it should be providing a better error message. A pull request doing so
is welcome.

I don't know affinity propagation well enough to comment on whether we
should support a sparse graph as we do with dbscan.. This is applicable
only when a sample's nearest neighbours are all that is required to cluster
the sample.

[2019-05-08 00:37] jnothman commented on #12991
There are instances where there are no attributes ending _, such as
NearestNeighbors iirc. And I like that it's explicit but don't mind if we
have a way to do something more automatic.

[2019-05-08 03:24] #13734 closed

[2019-05-08 03:34] #2354 closed

[2019-05-08 03:34] #4781 closed

[2019-05-08 03:34] #5364 closed

[2019-05-08 03:34] #13321 closed

[2019-05-08 03:34] #13325 closed

[2019-05-08 03:41] jnothman commented on #13823
Please provide code that can reproduce this error, and a full traceback

[2019-05-08 04:41] jnothman commented on #13789
Hi @aditya1702, having not heard from you, I might try to throw this together myself... I hope that's okay.

[2019-05-08 05:08] jnothman opened #13825 "add_indicator parameter should be mentioned in User Guide"
An add_indicator parameter was added to SimpleImputer and IterativeImputer as an easy way to stack a MissingIndicator. This should be mentioned in doc/modules/impute.rst, in the section about MissingIndicator.

[2019-05-08 06:17] aditya1702 commented on #13789
@jnothman Sorry for not replying. I have lot of college work going on so would not have been able to do it. Sorry for not replying.

[2019-05-08 07:14] jnothman commented on #13789
No worries. Thanks for all the help you have offered.

[2019-05-08 07:24] zhaofeng-shu33 commented on #13812
For DBSCAN algorithm, sparse distance matrix is supported.
I will make a pull request to fix the support of sparse affinity matrix of Affinity Propagation.

[2019-05-08 08:10] zhaofeng-shu33 commented on #13812
It seems numpy does not support calculate the median value of a sparse matrix:
[code]
How to fix this ?

[2019-05-08 08:25] jnothman commented on #13812
DBSCAN supports sparse distance matrix because it depends on nearest
neighborhoods, not on all distances.

I'm not convinced this can be done.

[2019-05-08 08:40] zhaofeng-shu33 commented on #13812
Affinity Propagation extensively use dense matrix operation in its implementation.
I think of two ways to handle such situation.
1. sparse matrix be converted to dense in implementation
2. or disallowed as input when affinity = 'precomputed'

[2019-05-08 08:52] zhaofeng-shu33 opened #13826 "DocTestFailure on windows: array([1])!=array([1],dtype=int64)"
#### Description
There are many similar failures on array comparison with different dtype. One is shown below:

D:\tech\scikit-learn\sklearn\neighbors\base.py:370: DocTestFailure
__________ [doctest] sklearn.neighbors.unsupervised.NearestNeighbors __________
089       >>> neigh = NearestNeighbors(2, 0.4)
090       >>> neigh.fit(samples)  #doctest: +ELLIPSIS
091       NearestNeighbors(...)
092
093

[2019-05-08 09:17] jnothman commented on #13826
We don't run or guarantee character accuracy of doctest on all supported platforms

[2019-05-08 09:18] #13826 closed

[2019-05-08 09:22] jnothman commented on #13812
The latter. A sparse distance matrix is a representation of a sparsely
connected graph. I don't think affinity propagation can be performed on it

[2019-05-08 10:02] zhaofeng-shu33 commented on #13812
raise an error when user provides a sparse matrix as input (when affinity = 'precomputed')?

[2019-05-08 10:09] jnothman commented on #13812
Yes please

[2019-05-08 10:35] Freakwill commented on #13681
Your comprehension is right.

[2019-05-08 11:02] Akumenyi commented on #2688
Hi @jona-sassenhagen, sorry this might seem trivial but in case I want to have a look at the explained variance on each PC as the R example shows clearly, would I have to compute it manually or there is a call function for that...like in scikit-learn PCA? Thanks

[2019-05-08 11:27] NicolasHug commented on #13681
let's keep this issue closed?

[2019-05-08 14:42] jseps commented on #13823
`python setup.py install` in mac terminal
resulting in
`ValueError: '_check_build.pyx' doesn't match any files`

`import sklearn` in python, resulting in

___________________________________________________________________________
Contents of /Users/jonathanepstein/venv/lib/python3.6/site-packages/sklearn/__check_build:
.DS_Store                 __init__.py               __init__.pyc
__pycache__

[2019-05-08 17:51] aakash-sahu commented on #13791
This was a test code. What I am trying to do is replicate the 'n_values' parameter setting with 'categorical' parameter. E.g. if I am trying to one hot encode the 'n' number of distinct data points, I would need 'n' categories beforehand even if I have only 3 categories to onehotencode now.

[2019-05-08 23:01] thomasjpfan commented on #12644
Mmmm I

[2019-05-08 23:28] #13789 closed

[2019-05-09 00:20] jnothman commented on #13823
It's what's in the source dir, not what's in site-packages, that matters.

[2019-05-09 00:43] jnothman commented on #13791
Fine. If you have P features each with K categories, you need
categories=[np.arange(K)]*P

[2019-05-09 04:14] nezar-a commented on #13825
I will take this one as my first contribution to this project

[2019-05-09 04:20] jnothman commented on #13825
Thank you!

[2019-05-09 05:27] LakshKD commented on #13797
Will be looking at this one now "remove the positive parameter from Lars".

[2019-05-09 06:53] smsaladi opened #13836 "Odd (incorrect) behavior with normalized_mutual_info_score"
If the length of a mostly zero input with a single non-zero value is too long, it looks like `metrics.normalized_mutual_info_score ` gives a non-sensical output. For the input below, oddly, reducing the length by 1, reverts back to the expected output.

I see closed issue #12940, but I don't think it's related.

#### Description

Erroronous output of `3.9921875` from `metrics.normalized_mutual_inf

[2019-05-09 10:19] glemaitre commented on #13836
This is due to some numerical error. With the geometric mean, to avoid a division by zero, we will set the normalizer to `np.info('float64').eps`. In this case, the mutual information is only 4 times bigger than eps.

Should we have a mechanism to detect this corner case and set the MNI to a specific score.
In 0.21, we change the default to arithmetic mean which will be less prone to such normaliz

[2019-05-09 11:08] glemaitre commented on #13797
let me know if you have an issue with lars; it might be a bit tricky

[2019-05-09 12:34] #13812 closed

[2019-05-09 12:45] juliensiebert commented on #13106
@smarie awesome, I have not currently too much time (getting married soon), I'll have a look asap :)

[2019-05-09 13:39] thomasjpfan commented on #12644
@qinhanmin2014 Ideally we want the nightly builds to catch these errors. https://github.com/MacPython/scikit-learn-wheels/pull/26#issuecomment-487845151 made a few changes to the dependencies, which the nightly builds were not testing against.

For `test_k_means_fit_predict` I recall @ogrisel suggesting that this could be a OSX version issue.

I will look into this.

[2019-05-09 14:03] qinhanmin2014 commented on #12644
Thanks @thomasjpfan , for more details about my questions, please refer to gitter (I copy some comments below)

Can someone summarize the difference between CIs in scikit-learn, nightly build CIs in MacPython and release CIs in MacPython?
e.g., I'd expect the nightiy builds to detect all the test failures in advance, but seems that I'm wrong (See https://github.com/MacPython/scikit-learn-wheels/pu

[2019-05-09 14:05] qinhanmin2014 commented on #12644
You might post your finding on gitter so that more people will see it, or you can open a PR to update the doc. Thanks.

[2019-05-09 15:02] matlotpib commented on #8174
@jnothman
@GaelVaroquaux

"I can't think of any case y is used in transform atm"

"So, I agree that transform cannot accept y."

I have a use case for a transform accepting 'y'.

During the training phase:

Fit(X,y):
- for a given feature X['feature'], fit model that predicts that feature based on 'y' (and maybe other features)

Transform(X,y):
- if an instance of the given feature is determined t

[2019-05-09 15:18] glemaitre commented on #13748
FYI, when developing it would be preferable to execute a portion of the tests related to the feature or bug fix written. Once this is done, a portion of the common tests can also be executed (using the `-k` flag of pytest). And at last, you might want to tests everything but I would let the online CIs do this part since it will be double usage (and there is several OS and dependencies version ther

[2019-05-09 15:24] rth commented on #13748
Yes, I also think that it's pytest job to handle progress bars/reports while running tests. Our only task is making sure we provide all the necessary information to pytest (e.g. by allowing to run individual tests that are part of `check_estimator`). and that is discussed in https://github.com/scikit-learn/scikit-learn/issues/11622.

I would be +1 to close this issue in favor of https://github.com

[2019-05-09 15:30] qinhanmin2014 commented on #13499
So the decision was made here, right?
IMO We need to document our final decision before closing this issue, e.g., how to create an experimental feature. I guess we don't want to introduce more inconsistency in the future.

[2019-05-09 15:31] jorisvandenbossche commented on #13781
@gwerbin We had many discussions in the original ColumnTransformer PR, but I *think* we limited the allowed types on purpose, and not by oversight (or at least for scalar types (eg also no floats, timestamps, etc work), MultiIndex tuples I am less sure about).

Which doesn't mean we can't relax the restriction now with good arguments for certain cases of course!

So currently it is strictly limite

[2019-05-09 15:39] NicolasHug commented on #13499
We implemented https://github.com/scikit-learn/scikit-learn/issues/13499#issuecomment-481407872.

I'm not sure this needs to be documented (basically the instruction is "copy/paste one of the `enable_blahblah.py` files in `sklearn/experimental`" but I can write one if you want)

[2019-05-09 16:06] thomasjpfan opened #13846 "Add Hypothesis Testing"
It may be beneficial to add hypothesis testing to some of our tests. Hypothesis testing allows for us to verify mathematical properties such as commutativity:

[code]

This allows the CI to look for edge cases for us. This would be useful testing metrics. https://hypothesis.readthedocs.io/en/latest/

[2019-05-09 16:13] weipeng opened #13847 "NMI returns negative value"
#### Description
Hi there. I was using sklearn's normalized_mutual_info_score() to compute the NMI but obtained negative value. Theoretically a negative value should not be there. Understand that NMI might be implemented by some numerical methods. But it may be embarrassing  when there is a need to show the results to someone else.

The data for testing is also attached.

Thanks.

#### Steps/Code

[2019-05-09 16:31] ogrisel commented on #1349
We got it again in #13769. At least we should pass `random_state=rng` everywhere (to `PCA` and `fastica`).

[2019-05-09 16:54] GuiMarthe commented on #11652
Hey, just throwing a few ideas into the mix.
Somewhere in the code for the `VotingClassifier` there is a check to see if the estimators have the fit parameter `sample_weight`.

Also, the expected input for the estimators is already a list of tuples with a name.

It seems to be possible to have a `name__sample_weight` parameter accepted and check if the named model accepts the fit parameter and sub

[2019-05-09 17:01] rth commented on #13846
I think hypothesis is quite interesting, however, in my experience, it makes tests run significantly longer (when compared to  pytest.parametrize with a couple of options), and our tests suite is already quite slow.

Also, I really see the usefulness of hypothesis for testing edge cases of functions taking in int, str, etc (as the example above). For scientific computing when the input is arrays i

[2019-05-09 21:33] jseps commented on #13823
@jnothman /Users/jonathanepstein/venv/lib/python3.6/site-packages/sklearn is the source dir, correct?

I ran `python setup.py install` again in that directory, returning

Appending sklearn.__check_build configuration to sklearn
Ignoring attempt to set 'name' (from 'sklearn' to 'sklearn.__check_build')
Appending sklearn._build_utils configuration to sklearn
Ignoring attempt to set 'name' (from 'skl

[2019-05-09 22:59] jnothman commented on #13823
No that is not the source dir.

[2019-05-09 23:00] jnothman commented on #13823
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-05-09 23:56] smsaladi commented on #13847
Looks like the same issue as reported hours ago in #13836

[2019-05-10 00:08] smsaladi commented on #13403
Here's another use-case that may be worth considering:

`pairwise_distances` is convenient since it handles the parallelization itself under the hood. However, if the metric is symmetric, 2x the necessary work ends up being done.

So, it might be nice to be able to specify to `pairwise_distances` whether a callable is symmetric or not, and, if so, even if the computation is parallelized, only calc

[2019-05-10 00:46] #13823 closed

[2019-05-10 00:47] weipeng commented on #13847
I would say, the two issues may probably come from the same underlying problem.

While reading the reply in thread #13836, I still feel a bit concerned as 'arithmetic' also does not give me the perfect result rather than 'geometric', i.e. there are still negative results not close to 0. If more data is required, I can try to gather more. Or, if the issues are totally the same, this issue can be cl

[2019-05-10 03:09] nezar-a commented on #13825
No problem!

[2019-05-10 03:27] lutzroeder opened #13850 "Bulid from source fails in virtualenv"
#### Steps/Code to Reproduce

[code]

#### Actual Results

[code]

#### Versions

Happens for both Ubuntu and macOS.

Linux-4.18.0-1014-azure-x86_64-with-Ubuntu-18.04-bionic
Python 3.6.7 (default, Oct 22 2018, 11:32:17)
[GCC 8.2.0]
ModuleNotFoundError: No module named 'numpy'

[2019-05-10 03:40] yc2311 opened #13851 "Lack of installation instructions for Mac OSX running gcc or llvm-clang"
Dear readers,

The advanced installation section in the docs lack installation instructions/support for gcc or llvm-clang compilers.

I'm wondering why this is the case. I get that they don't directly support OpenMP, but there's ways around that.

Thanks so much for your time. Keep up the great work!

[2019-05-10 04:36] c56pony opened #13852 "BayesianRidge scores_ formula seems a bit inaccurate"
#### Description

In ``_log_marginal_likelihood`` of BayesianRidge, some of the constant terms seem to be omitted.
https://github.com/scikit-learn/scikit-learn/blob/17a253b0c748cd2ea0f64f8aa2911daf129ddff8/sklearn/linear_model/bayes.py#L351-L358
This code only calculates ![texclip20190510122056](https://user-images.githubusercontent.com/40843206/57500366-1c265c80-731e-11e9-86bb-1fc5989495d7.png) o

[2019-05-10 05:01] jlmelville opened #13853 "AttributeError thrown when calling metrics.pairwise_distances with binary metrics and Y is None"
#### Description

`AttributeError` thrown when calling `metrics.pairwise_distances` with binary metrics if `Y` is `None`.

#### Steps/Code to Reproduce

[code]

#### Expected Results
No error. Should return a `numpy.ndarray` of shape `(2, 2)` containing the pairwise distances.

#### Actual Results

[code]

#### Versions

[code]

This worked correctly in sklearn version 0.20.3. I think the problem

[2019-05-10 07:17] ogrisel commented on #12644
The macOS version on travis (used to build the wheels) is older (10.6) and therefore ensures that the generated wheels will be binary compatible with any macOS releases from our users.

However using travis for our regular CI is problematic because the macOS workers are too slow on travis: the macOS job will be queued and our PR CI will be stalled on a regular basis. The azure pipelines CI has a l

[2019-05-10 07:26] ogrisel commented on #12644
I agree however that nightly build on travis should be able to detect all the failures we would observe on the release CI.

[2019-05-10 07:50] glemaitre commented on #13847
Would you share the way that you are normalizing the MI.

[2019-05-10 07:57] glemaitre commented on #13846
This would be interesting to detect the corner case as in #13853.

@jorisvandenbossche I think that you used it in pandas, maybe you could share how it integrated within the test suite. If I recall, you had experienced what @rth is reporting, isn't it?

[2019-05-10 08:40] rth commented on #13846
Indeed, things like https://github.com/pandas-dev/pandas/pull/23127/files and then who knows how long it will take on PyPy or some slow ARM CPU, and whether it would timeout..

[2019-05-10 08:53] albertcthomas commented on #13852
I strictly followed the paper when I fixed the formula of the `scores_` atttribute and I kept the `n_samples/2*ln(2*pi)` term that was in the previous formula. I agree that it is strange to have the `n_samples/2*ln(2*pi)` term if the other constant terms are not in the formula.
Why adding the others and not just remove the `n_samples/2*ln(2*pi)` term then?

Besides, `_log_marginal_likelihood` is a

[2019-05-10 10:04] jorisvandenbossche commented on #13846
I don't have much to say, as I was not involved in setting it up in pandas (https://github.com/pandas-dev/pandas/pull/22280), and not a user of hypothesis otherwise (apart from reporting the problem @rth linked to above).
Searching the pandas issue tracker, there were quite some issues with flaky hypothesis tests, or at least in the beginning (but those seem to be solved now). But I also don't thi

[2019-05-10 10:07] lsabi commented on #5884
Has the PR been approved? @marcelobeckmann

[2019-05-10 10:30] aman39 opened #13856 "Error in cross_val_score for n_jobs=-1"
I am getting the following error whenever I am trying to make " n_jobs=-1 " in this line of code

**classifier=KerasClassifier(build_fn=build_classifier,batch_size=10,epochs=100)
accuracies = cross_val_score(estimator=classifier, X=x_train, y=y_train, cv=10, n_jobs=-1)**

when I am not using any value for n_jobs then it is training the model, but throwing error only for the case of n_jobs=-1

This

[2019-05-10 10:47] spikerheado1234 commented on #13853
Hi, if possible I would like to contribute to this issue!

[2019-05-10 10:48] rth commented on #13856
This issue is that `KerasClassifier` doesn't seem to be picklable, see related discussion https://github.com/keras-team/keras/issues/4274 Objects need to be picklable when passed between processes in the case of `n_jobs>1`.

Closing, as it's not a scikit-learn issue but with keras.

[2019-05-10 10:48] #13856 closed

[2019-05-10 11:00] c56pony commented on #13852
If you only want to maximize, the constant terms are not needed.
But in my opinion, they are needed when comparing various models with different numbers of features and hyper-parameters.

We might want to change...the description of the ``scores_`` attribute

In this case, the product of the marginal likelihood (integrated out w) and the prior is apparently the same as the marginal likelihood inte

[2019-05-10 11:22] weipeng commented on #13847
It is nothing magical though and it even looks ad-hoc...

Haven't quite checked why this works. Just tried a few things for getting the correct results for my demonstration.

[code]

[2019-05-10 11:48] glemaitre commented on #13847
So it should give the same than the `'arithmetic'` option then.

[2019-05-10 13:00] thomasjpfan commented on #13488
If we add a “rare” category to `OrdinalEncoder` it seems like it goes against the “Ordinal” part of the encoder. It assumes the rare or unknown category has the highest (or lowest) value. If we do introduce this, it would be good to document this behavior.

Ideally, if OrdinalEncoder can handle most of the logic that has to deal with unknown and infrequent categories, OneHotEncoder would need to d

[2019-05-10 13:04] thomasjpfan commented on #13846
I was thinking of using one instance just to only run Hypothesis tests and no other tests.

[2019-05-10 14:49] weipeng commented on #13847
Yes, I just run the comparison for my whole dataset and they are the same. There must be somewhere wrong in my system when checking the last result for the whole dataset. Sorry for the that.

[2019-05-10 16:32] WenjieZ opened #13858 "Some CI builds misinterpret numpy boolean indexing"
When I was debugging https://github.com/scikit-learn/scikit-learn/pull/13761#issuecomment-491311056, I discovered that **Linux py35_conda_openblas** and **Linux py35_np_atlas** in the continuous integration misinterpret `numpy` boolean indexing.

## Example
Let `a` be a numpy array.
#### Code
[code]
#### Wrong interpretaton (Linux py35_conda_openblas and Linux py35_np_atlas)
[code]
#### Right inte

[2019-05-10 18:03] jeromedockes commented on #13612
it seems that #9978 will add quantile regression to scikit-learn

[2019-05-10 18:16] anntzer opened #13859 "0.21.0 sdist appears to be invalid"
#### Description
Trying to install scikit-learn 0.21 from source in a clean venv fails.

#### Steps/Code to Reproduce
[code]

#### Expected Results
scikit-learn is installed

#### Actual Results
[code]

#### Versions

[code]

[2019-05-10 18:36] rth commented on #13859
Thnaks! Hmm, yes the sdist doesn't seem to contain the `sklearn/ensemble/_hist_gradient_boosting/tests` folder and same for binary wheels for that matter. Maybe something is wrong in the `Manifest.in` file but I don't really see what (or why this folder in particular).

[2019-05-10 20:37] ruoyu90 opened #13860 "pip install scikit-learn fails on python 2"
#### Description

pip install scikit-learn fails on python 2
#### Steps/Code to Reproduce

`pip install scikit-learn` in a python 2 environment
#### Expected Results

install succeeds
#### Actual Results

`RuntimeError: Scikit-learn requires Python 3.5 or later. The current Python version is 2.7.16rc1 installed in...`
#### Versions

I expect a lower version to be installed since 0.21 is marked as

[2019-05-10 21:13] ogrisel commented on #13859
I believe we just need to add an `__init__.py` file to make it a package to be included in the sdist.

[2019-05-10 21:20] ogrisel commented on #13859
I confirm this fixes the original problem. But once this is fixed there is also a problem with missing `.pyx.tp` files. The `MANIFEST.in` has to be updated. I will do a PR.

[2019-05-10 21:35] rth commented on #13860
Thanks for the report @ruoyu90 . Working on a fix in #13861.

Though even once it is fixed, making a new release will not resolve it for python2 users, we might need to remove the `0.20.0` release from PyPi and upload e.g. a `0.20.post0`

[2019-05-10 21:38] rth commented on #13859
Also another PyPi packaging issue in https://github.com/scikit-learn/scikit-learn/issues/13860

[2019-05-10 22:53] ogrisel commented on #13850
It's true that scipy is now a build time dependency. Please install it first and try again.

[2019-05-11 00:27] ruoyu90 commented on #13860
Thanks! Just verified it works now 👍

[2019-05-11 00:27] #13860 closed

[2019-05-11 01:00] qinhanmin2014 commented on #13499
At least I'll vote +1 for such a PR.

[2019-05-11 01:45] #13850 closed

[2019-05-11 09:57] marcelobeckmann commented on #5884
Not yet, work is in progress after some recent code review.

[2019-05-11 10:12] #13859 closed

[2019-05-11 11:30] XavierSATTLER commented on #13797
Hi @LakshKD
I worked on the lars issue without seeing that you said you'd take care of it. Sorry about that. My PR has been referenced above but I closed it (and wish I could actually delete it..)

[2019-05-11 12:19] lsabi commented on #5884
Too bad I need it.

Is just the function available somewhere? So I can use it on my own (for research purpose)

Thanks

[2019-05-11 13:29] rick2047 commented on #13853
Hi, I have coded up some fix for it. I did not get it assigned to me, sorry @spikerheado1234, I already had a fix for it in my own code.

[2019-05-11 16:05] LakshKD commented on #13797
@XavierSATTLER Actually I got busy with something else, so if you have already started over this then please go ahead :-)

[2019-05-12 17:49] weipeng commented on #13847
Since this is almost surely the same issue as #13836, close this issue now.

[2019-05-12 17:49] #13847 closed

[2019-05-12 22:00] minggli commented on #13788
Indeed, it appears the documentation is missing the gist, and quite confusing. I am happy to work on it with a concise and to the point documentation of R^2.

[2019-05-13 01:14] jnothman opened #13868 "Ridge's test_dtype_match[sparse_cg] can fail on macOS"
From https://github.com/conda-forge/scikit-learn-feedstock/pull/93#issuecomment-491641899

[code]

Ping @massich, @jeromedockes

[2019-05-13 06:11] agramfort commented on #13859
maybe we could add https://pypi.org/project/check-manifest/ to the one of the CI test

[2019-05-13 08:43] jeromedockes commented on #13868
indeed we noticed with @ogrisel that there could be rather large numerical
errors with some of the Ridge solvers -- and especially the `sparse_cg`
(https://github.com/scikit-learn/scikit-learn/pull/13350#issuecomment-490081562),
in some cases much larger than the one you noticed. I will make more extensive
comparisons on synthetic and real datasets and report the results here.

also, in the test a

[2019-05-13 09:03] Ejdrup commented on #8632
Have you managed to resolve the issue? Struggling with the same thing, but I might suspect that my distribution is simply too uniform.

[2019-05-13 09:17] systemlogic opened #13869 "scikit_learn==0.21.0 is not available causing build issue in Google bazel based project"
#### Steps/Code to Reproduce
scikit-learn is not available for installation.
pip3 install scikit_learn==0.21.0

#### Description
We are using Google bazel to compile and build artifacts. We have not used this specific library in any of the location. Our system started failing with said dependency and error is `could not find a version  that satisfies the requirement scikit_learn==0.21.0`

#### Exp

[2019-05-13 09:20] jeremiedbb commented on #13851
There are specific instructions to build with default apple clang, which does not easily support OpenMP. You can find that [here](https://scikit-learn.org/stable/developers/advanced_installation.html#building-from-source).

gcc and llvm-clang should directly support OpenMP. Building with one of these compilers should work with the standard command. If it's not the case, can you provide the output

[2019-05-13 09:58] jnothman commented on #13869
We have had some problems with the release. We will issue 0.21.1 later this
week

[2019-05-13 10:03] glemaitre commented on #13869
and you should not use `scikit_learn` but `scikit-learn` instead.

[2019-05-13 10:30] glemaitre commented on #13858
I cannot reproduce the error;

[code]

This the version installed on `py35_conda_openblas`

[2019-05-13 11:16] marcelobeckmann commented on #5884
You can take the latest commit of this function in this PR:
https://github.com/scikit-learn/scikit-learn/pull/9555

[2019-05-13 12:26] kasuteru commented on #9626
I noticed this is currently still an issue - my training with "mae" as criterion does not finish (Grid Search with GradientBoosting Regression Trees. I spent a lot of time trying to debug what was wrong before stumbling on this thread. This is why I would propose adding a warning in the documentation (e.g. "_training with 'mae' as criterion means recalculating the loss function after each iteratio

[2019-05-13 12:29] systemlogic commented on #13869
0.21.0 is missing.
[code]
can 0.21rc2 be released as 0.21.0 as patch and when fix is availble it will not effact any external dependency.

[2019-05-13 12:38] jnothman commented on #13869
How about you just not try to install 0.21? It's not yet available for your
platform

[2019-05-13 13:04] lsabi commented on #5884
I managed to make it work locally. Thanks!

[2019-05-13 13:48] #13853 closed

[2019-05-13 13:53] jambo6 commented on #13621
This would definitely be useful. For instance, working with highly imbalanced time-series medical data, keeping patients separate but (approximately) balance the imbalanced class in each fold.

I have also found that StratifiedKFold takes groups as a parameter but doesn't group according to them, should probably be flagged up.

[2019-05-13 13:57] arc12 commented on #13756
re @jnothman comment - I think the ref should be #11682 (last 2 digits were transposed)

[2019-05-13 14:54] abhinavsagar opened #13871 "Getting ImportError: cannot import name '_validate_lengths'"
I am trying to make a flappy bird ai game that uses scikit image. But on running I am getting-
`Traceback (most recent call last):
  File "qlearn.py", line 5, in <module>
    import skimage as skimage
  File "C:\Users\Win 10\AppData\Local\Programs\Python\Python36\lib\site-packages\skimage\__init__.py", line 167, in <module>
    from .util.dtype import (img_as_float32,
  File "C:\Users\Win 10\AppDa

[2019-05-13 15:03] qinhanmin2014 commented on #13871
this is the issue tracker of scikit-learn, please report the issue to https://github.com/scikit-image/scikit-image

[2019-05-13 15:03] #13871 closed

[2019-05-13 15:31] WenjieZ commented on #13858
Remove the `np.array`, and you will be able to reproduce it.

[2019-05-13 17:49] twiecki commented on #3702
+1 that this would be useful feature.

[2019-05-13 19:51] rick2047 commented on #13791
Can I do some work on this?

[2019-05-13 21:43] jnothman commented on #13791
A pull request improving the documentation would be very welcome, @rick2047

[2019-05-13 22:08] jnothman commented on #13868
What's a short-term fix so we can release? Is it acceptable to just skip this test on Mac?

[2019-05-13 23:20] nattiechan opened #13872 "GridSearch CV best estimator model perform worse than baseline models, despite including baseline parameters in GridSearch"
#### Description
Trying to use GridSearch to optimize my model but it is giving me results worse than the baseline model despite having the baseline parameters in the search. I thought the randomness in Random Forest and XGBoost may be contributing to the issue but I am consistently getting worse results from GridSearch CV.

#### Steps/Code to Reproduce
[code]

#### Expected Results
Since the base

[2019-05-14 00:44] jolespin commented on #2439
@shreyassks this isn't the correct place for your question but I would check this out: https://keras.io/scikit-learn-api . Wrap your network in a `scikit-learn` estimator then use w/ `model_selection.cross_val_score`

[2019-05-14 01:03] qinhanmin2014 commented on #13868
Skip the test and add this one to Known Major Bugs? So we have another different mac for conda-forge? that's really confusing.

[2019-05-14 02:12] systemlogic commented on #13869
Actually, we are using bazel with pipfile, somehow it is calculating 0.21.0 as dependencies based on dependencies graph which is not in our control.
We do not install anything manually, our system calculates dependencies based on other dependencies,

[2019-05-14 03:05] jnothman commented on #13872
You are testing on your training data

[2019-05-14 03:05] #13872 closed

[2019-05-14 03:28] nattiechan commented on #13872
Yea, I am testing on my training data on both, and I should expect similar
results. I do not have enough data points to run a train/test split.

On Mon, May 13, 2019 at 8:08 PM Joel Nothman <notifications@github.com>
wrote:

[2019-05-14 03:32] jnothman commented on #13872
But the optimal parameters in grid search are chosen by splitting the data 3 ways so it is not unreasonable to differ.

You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-lea

[2019-05-14 04:49] nattiechan commented on #13872
Fair. Thanks for the feedback!

[2019-05-14 07:22] ogrisel commented on #13868
It's more likely that the version of OpenBLAS is what matters here. Because this estimator is not numerically stable, just a small change in rounding from one platform to the next can cause the.

Anaconda default channel uses MKL by default but it's possible to install an openblas version instead (for instance with the nomkl meta-package) and this openblas version is not necessarily the one used i

[2019-05-14 07:36] rth commented on #13869
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7.
Collecting scikit-learn==0.21.0

Looks like your `pip` points to python2 not python3.

[2019-05-14 07:54] #13692 closed

[2019-05-14 08:25] albertcthomas commented on #13852
I'm +1 to update the score with the constant terms. And I also think that it might be good to update the `scores_` description and the name of the method that implements it.

[2019-05-14 08:27] albertcthomas commented on #13852
You will need to update the corresponding test `test_bayesian_ridge_score_values`

[2019-05-14 11:59] LennartH opened #13874 "pairwise_distances returns zeros for metric cosine when executed in parallel"
#### Description
`pairwise_distances` returns a list of zeros when calculating `cosine` with `n_jobs` equal to -1 or greater than 2. Using `n_jobs=1` calculates the expected results.

Using the metric `euclidean` returns non-zero results, but the values seem to be integers instead of floats.

#### Steps/Code to Reproduce
[code]

#### Expected Results
[code]

#### Actual Results
[code]

#### Detail

[2019-05-14 18:09] #13874 closed

[2019-05-14 18:29] dmyersturnbull commented on #13846
Property tests can identify bugs that are otherwise hard to catch. Libraries like ScalaCheck QuickCheck have been pretty successful for this. If performance is an issue, couldn't they only be run with a flag?

[2019-05-14 18:39] willdarnell opened #13878 "Inclusivity Issue: Small change to readme"
#### Description

*this is for an assignment for a CS class*
There is a potential issue for new open source contributors looking to contribute to this project. In the readme for the project, information about making a contribution is linked under the header titled: "Setting up a development environment." My suggestion for a fix that would help a new user to the project would be to either re-title

[2019-05-14 18:52] rth commented on #13846
If they are not part of our release tests, at least initially, I agree it could be an interesting point to investigate. Though this would add more complexity for new contributors.

[2019-05-14 18:59] rth commented on #13878
or maybe just "Contributing". Pull request to improve it would be welcome.

[2019-05-14 19:03] willdarnell commented on #13878
Sure, I can do that.

[2019-05-14 19:10] rth commented on #11336
On a related topic Django recently accepted an Enhancement Proposal to re-format the whole code base with black (https://github.com/django/deps/blob/master/accepted/0008-black.rst) if I understood that right. They "only" have 230 open PRs but still.

[2019-05-14 22:04] thomasjpfan commented on #11336
The way `dask-ml` tries to enforce style is through its [documentation](https://dask-ml.readthedocs.io/en/latest/contributing.html#style) and using [pre-commit](https://pre-commit.com) to manage pre-commit hooks.

Even without pre-commit hooks, if we can get contributors to run `black` on their PRs, all the merge conflicts should be resolved by themselves. Ideally, there would be no need to manual

[2019-05-14 22:06] bshabashFD commented on #13872
Still, there's a huge discrepancy between the recall between the RF and the best_estimator_. I've experienced similar issues. Is this to be expected of a small dataset?

[2019-05-14 22:32] rlms opened #13880 "Docs: nearest neighbour choice of algorithm section is unclear"
[The documentation](https://scikit-learn.org/stable/modules/neighbors.html#nearest-neighbor-algorithms) for choice of nearest neighbours algorithm is unclear about what happens when algorithm="auto".

Presumably 'ball_tree' is selected only if the effective metric is not first found in the VALID_METRICS list for 'kd_tree', but that isn't specified. And in general it doesn't seem super clear (e.g.

[2019-05-14 22:46] jnothman commented on #13872
Look at the confusion matrices from which those numbers are calculated. You
can see precisely how brittle the measures are. There's not much point
using a ratio when the denominators are small.

[2019-05-14 23:29] CNewse opened #13881 "f_beta_score documentation"
Hi,

I think the f_beta_score documentation can be improved by replacing precision in the following line with "recall". This would be more accurate to the calculation. The rest of the description is fine as is.

"The beta parameter determines the weight of **precision** in the combined score."

documentation reference:
https://scikit-learn.org/0.20/modules/generated/sklearn.metrics.fbeta_score.htm

[2019-05-14 23:43] jnothman commented on #13881
Sure, pull request welcome.

[2019-05-14 23:44] jnothman commented on #11336
But black would be a process we apply to the whole codebase beforehand, not
just to contributions.

I have no real objection to this.

[2019-05-14 23:46] jnothman commented on #11336
Although black's approach to indentation is very different to ours.

[2019-05-15 02:25] #13878 closed

[2019-05-15 02:42] thomasjpfan commented on #11336
That is the blocker for using black. `scikit-learn` prefers:

[code]

while `black` prefers:

[code]

When not working in `scikit-learn`, I tend to prefer the `black` indentation, because it allows space for type annotations.

[2019-05-15 05:11] jnothman opened #13882 "i686 failure in _hist_gradient_boosting/tests/test_loss.py:test_numerical_gradients"
I've not seen this error before, but it appeared in a run of https://travis-ci.org/MacPython/scikit-learn-wheels/jobs/532625822

[code]

[2019-05-15 05:22] jnothman commented on #13882
Actually, this seems to be a consistent issue on i686 now when it didn't exist last week ...

[2019-05-15 05:38] abhinavsagar commented on #13880
@rlms Feel free to open a PR if you want.

[2019-05-15 05:45] jnothman commented on #13882
Increasing rtol from 1e-5 to to 1e-4 is a sufficient fix for tests to pass on scikit-learn-wheels. I propose to put it in as a hotfix in the release, re-tag and ship. We can then review whether adding atol or a smaller increase to rtol is appropriate.

[2019-05-15 08:44] abhinavsagar opened #13884 "Getting cannot import name 'cross_validation'"
#### Description

On running a traffic prediction code I am getting-
`Traceback (most recent call last):
  File "traffic_prediction.py", line 4, in <module>
    from sklearn import cross_validation, preprocessing
ImportError: cannot import name 'cross_validation'`

#### Versions
   pip: 18.1
   setuptools: 39.0.1
   sklearn: 0.20.2
   numpy: 1.15.0
   scipy: 1.1.0
   Cython: 0.29.2
   pandas: 0.23

[2019-05-15 08:58] jeremiedbb commented on #13884
`cross_validation` is not a module since v0.18. If you want to use cross-validation tools such as `cross_val_score` or `cross_validate`, you should import them from the `model_selection` module.

[2019-05-15 09:06] abhinavsagar commented on #13884
Thanks

[2019-05-15 09:47] ogrisel commented on #13882
I made some tests with a wide range of random seeds and indeed I also get failures even on 64 bit linux on some random dataset so the rtol level is probably arbitrarily strict.

I will do a PR.

[2019-05-15 09:56] #13884 closed

[2019-05-15 10:54] SallyAfua opened #13886 "I am using DBSCAN to cluster word vectors. I need to rank the words in the cluster based on PMI score. My first challenge is how do I extract the words from each cluster."
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2019-05-15 11:04] ogrisel commented on #13869
0.21.1 is released. Can you please check that it now works for you (with python 3)?

(BTW 0.20.3 is still there is you need to stick to python2, but there won't be any new feature as python 2 is no longer supported in scikit-learn 0.21 and later).

[2019-05-15 14:21] jnothman commented on #13886
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-05-15 14:29] SallyAfua commented on #13886
thank you

[2019-05-15 14:29] #13886 closed

[2019-05-15 14:35] thomasjpfan commented on #6279
This test has been failing on `scipy-dev`: https://travis-ci.org/scikit-learn/scikit-learn/builds/532795568

[2019-05-15 14:56] ogrisel commented on #13869
Also we removed the 0.21.0 tarball from pypi because it lacked a metadata that made it explicit that it was not compatible with python 2. 0.21.1 has the missing metadata to make it explicit that it's for python >= 3.5. So python2 systems should no longer try to download 0.21.0 from now on.

[2019-05-15 15:34] NicolasHug commented on #11336
I'd be OK with using black, the benefit seem to outweigh the downsides.

Merge conflicts with existing PRs would be trivial to solve, contributors would just have to run black.

[2019-05-15 15:41] #13499 closed

[2019-05-15 16:03] Sycor4x opened #13887 "Documentation section 3.3.1.1 has incorrect description of brier_score_loss"
In the documentation, section 3.3.1.1. "Common cases: predefined values" includes the remark

As far as I can tell, this is true for all of the listed metrics, **except** the `brier_score_loss`. In the case of `brier_score_loss`, a _lower loss value is better._ This is because `brier_score_loss` measures the mean-square difference between a predicted probability and a categorical outcome; the Brie

[2019-05-15 18:55] rth commented on #11336
black would help some, but there are still cases where conflicts would need to be resolved (e.g. if the same line was changed in 2 different ways).

[2019-05-15 19:07] rth commented on #13880
The actual logic is [here](https://github.com/scikit-learn/scikit-learn/blob/b7b4d3e2f1a65bcb6d40431d3b61ed1d563c9dab/sklearn/neighbors/base.py#L237). Another point that this description misses is that for sparse data, "brute" algorithm will always be used. PR to improve it welcome indeed.

[2019-05-15 19:53] rick2047 commented on #13791
hi @jnothman, I thought about it and its a bit weird to put it in the way you are suggesting. In the legacy mode all you need to specify is how many categories you want, but in the new way you need to specify both how many features you have and how many categories you have. Example,

[code]

Is that intentional? If yes then I have a pull request ready (currently in my commit, [here](https://github

[2019-05-16 01:06] thomasjpfan opened #13889 "Coverage on pandas not being reported to codecov"
On master [coverage](https://codecov.io/gh/scikit-learn/scikit-learn/src/e76984b0a14ad1c139573df4c90761765ae2dd9f/sklearn/compose/tests/test_column_transformer.py) after `pd = pytest.importorskip('pandas')` is not seen

This means that some of the line coverage in `ColumnTransformer` is not being [reported](https://codecov.io/gh/scikit-learn/scikit-learn/src/e76984b0a14ad1c139573df4c90761765ae2dd9

[2019-05-16 07:04] Shwetago opened #13890 "Error in plot_tree function"
Error while importing plot_tree:

[code]

#### Expected Results
It should plot a tree as per mentioned in the official site.
Link: https://scikit-learn.org/stable/modules/tree.html#regression

#### Actual Results
ImportError
----> 1 from sklearn.tree import plot_tree
      2
      3 plot_tree(clf)

ImportError: cannot import name 'plot_tree'

#### Versions
System:
python: 3.6.7
machine: Linux-4.14

[2019-05-16 07:26] ogrisel commented on #13887
Indeed this is probably the right course of action. Please feel free to open a PR if your wish.

[2019-05-16 07:46] jnothman commented on #13890
plot_tree was released in version 0.21.​

[2019-05-16 07:46] #13890 closed

[2019-05-16 08:34] #13825 closed

[2019-05-16 10:53] qdeffense commented on #13887
@Sycor4x  I'll gladly work on it if you're not already doing it

[2019-05-16 11:07] llc8888 commented on #12413
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'
Hope these work for you

[2019-05-16 13:21] jamesmyatt opened #13892 "What about "from sklearn.future import defaults_v0_22"?"
I think it would be interesting/useful to have a mechanism to say that you want to use the future defaults and avoid the DeprecationWarnings. This could be modelled after the sklearn.experimental module. What do you think?

[2019-05-16 13:57] JoshuaC3 opened #13893 "Feature Request: Pass a custom BaseEncoder to KBinsDiscretizer encode kwarg"
The idea here is that, for certain estimators, you may want to discretise your data, but then encode it in a more efficient way. For example, binary encoding can be very efficient for tree based models in comparison to OHE.

[2019-05-16 13:57] JoshuaC3 commented on #13893
It could look something like the following:

At [line 138](https://github.com/scikit-learn/scikit-learn/blob/b7b4d3e2f1a65bcb6d40431d3b61ed1d563c9dab/sklearn/preprocessing/_discretization.py#L138) in the `.fit` method

[code]

At [line 199](https://github.com/scikit-learn/scikit-learn/blob/b7b4d3e2f1a65bcb6d40431d3b61ed1d563c9dab/sklearn/preprocessing/_discretization.py#L199) in the `.fit` method

[2019-05-16 14:45] jnothman commented on #13893
Is ordinal encoding and a pipeline not sufficient?

[2019-05-16 15:53] JoshuaC3 commented on #13893
For example,

[code]

Yer - good point - I can't see any massive gain.

[2019-05-16 15:53] #13893 closed

[2019-05-16 22:59] #13889 closed

[2019-05-17 06:25] shilinng opened #13898 "PCA implementation of score_samples calculates the wrong precision matrix when whiten is True"
Hi,

I was reading the source codes on master branch and  believe the calculation of precision matrix used by score_samples is wrong when whiten is set to True, the the components_ are multiplied by the square root of the corresponding variance. For example, look at what the code does when whiten == True and n_components == n_features. Under these conditions, we only need to look at the get_covari

[2019-05-17 11:14] shilinng commented on #13898
I also have a better implementation of score_samples, in terms of calculating score_samples when n_features is too big (>20000 features). Current uses matrix inversion lemma to invert the model covariance matrix (and obtain the precision matrix). For large n_features this is very memory expensive operation. Via property of matrix determinant and multiplication, we can avoid saving the precision ma

[2019-05-17 11:28] anestisdotpy commented on #13383
Hello. Could I work on this? I have never contributed to open source before so I am a newbie.
Thanks in advance!

[2019-05-17 12:42] thomasjpfan commented on #13383
@anestisdotpy You are welcome to contribute! :)

[2019-05-17 13:15] NicolasHug commented on #13898
@shilinng please feel free to submit a PR so we can directly see the changes you propose

[2019-05-17 16:22] Sycor4x commented on #13887
@qdeffense Thank you. I had planned to start these revisions if this suggestion were well-received; however, I've just come down with a cold and won't be able to write coherent code at the moment. If you want to take a stab at this, I support your diligence.

[2019-05-17 21:58] anestisdotpy commented on #13383
Thank you very much!

[2019-05-18 05:56] bingbong-sempai commented on #6777
I tried gridsearch on the number of topics for LDA recently and log likelihood scores for both training and validation sets monotonically decreases with increasing number of topics.

[2019-05-18 13:33] #13788 closed

[2019-05-18 14:52] lenz3000 opened #13905 "Untreated overflow (?) for float32 in euclidean_distances new in sklearn 21.1"
#### Description
I am using euclidean distances in a project and after updating, the result is wrong for just one of several datasets. When comparing it to scipy.spatial.distance.cdist one can see that in version 21.1 it behaves substantially different to 20.3.

The matrix is an ndarray with size (100,10000) with float32.

#### Steps/Code to Reproduce

[code]
The data are in this zip
[wont.zip](ht

[2019-05-18 17:28] lenz3000 commented on #13905
So it is because of the dtype, so it is probably some overflow.
It does not give any warning or error though, and this did not happen before.
[float32.pdf](https://github.com/scikit-learn/scikit-learn/files/3194307/float32.pdf)

[code]

[2019-05-18 19:52] rth commented on #13905
Thanks for reporting this @lenz3000. I can reproduce with the above example. It is likely due to https://github.com/scikit-learn/scikit-learn/pull/13554 which improves the numerical precision of `euclidean_distances` in some edge cases, but it looks like it has some side effects. It would be worth invesigating what is happening in this example (were the data is reasonably normalized).

cc @jeremie

[2019-05-18 20:10] rth commented on #11170
I have been experimenting with mypy a bit, and in my experience results are mixed. It works quite well for pure python types and code relying on the stdlib where [mypy stubs are built-in](https://github.com/python/typeshed), though there are a few quirks and the general experience is still some way off from that of using a modern strongly typed language with type inference. For scientific computin

[2019-05-19 15:23] ThyrixYang opened #13907 "Multiclass classification using bagging and cross validation"
Hi,

Bagging classifier only accepts y : array-like, shape = [n_samples], but the roc_auc score function only accepts multiclass-indicator. So how to use roc_auc metric in cross validation with bagging?

For example

If I use label_binarize then there is an input error for bagging, but if I remove label_binarize, then there is an input error for roc_auc.

Maybe the input format of bagging should s

[2019-05-20 02:30] #13791 closed

[2019-05-20 02:30] #13881 closed

[2019-05-20 03:08] AbhilashMathews opened #13909 "Computing gradient and its error with Gaussian process regression"
Are there any recommended methods for computing the derivative and its associated error when applying Gaussian process regression? For instance, following the example [here](https://scikit-learn.org/stable/auto_examples/gaussian_process/plot_gpr_noisy.html), one can simply find the mean and variance of regression on the original data, `y`, through `y_mean, y_cov = gp.predict(X_[:, np.newaxis], ret

[2019-05-20 06:47] CNewse commented on #13881
Thanks @rick2047

[2019-05-20 07:28] rick2047 commented on #13881
@CNewse you're welcome, no biggie.

[2019-05-20 07:38] #13880 closed

[2019-05-20 07:53] c56pony commented on #13852
So far I changed only about private methods.

[2019-05-20 08:48] jeremiedbb commented on #13905
It was not a question of overflow, but of bad handling of generators. I opened #13910

[2019-05-20 10:11] ogrisel commented on #13892
This kind of warnings can easily be silenced by being explicit and passing the value of the parameter. I am not so sure that would justify the complexity of such an import hack.

It's also possible to use the warning filtering configuration of the `warnings` module to silence them all at once.

[2019-05-20 14:40] #13905 closed

[2019-05-20 14:44] jeremiedbb commented on #13905
I confirm that the above example now works as expected on master

[2019-05-20 22:38] jnothman commented on #13846
We could consider this for slower, asynchronous testing, by Cron....

Relatedly, I proposed having a random_seed fixture that was globally set to
different values on different testing runs. One benefit would be that we
could easily distinguish those tests that are invariant under changing
random seed from those that are brittle.

[2019-05-21 00:06] jnothman commented on #13836
Since we say that the score should be between 0 and 1, it seems
unreasonable to return 4. I'd say we want to clip the result when mi >
normalizer.

[2019-05-21 00:08] jnothman commented on #13836
Mm... with the option of a negative value too, as in #13847, maybe instead of letting `normalizer = max(normalizer, eps)` we should just be returning some fixed value in the case that `normalizer < eps`.

[2019-05-21 00:12] jnothman commented on #8174
@matlotpib isn't this what fit_transform allows for? Or am I missing something?

[2019-05-21 00:13] #13748 closed

[2019-05-21 07:40] rth commented on #9659
The motivation is appealing, but I wonder if given the cost of changing all the estimators, just spending time to re-run the estimator with different fixed random states until it fails wouldn't be enough. Also in tests, we are supposed to fix all random states.

[2019-05-21 07:51] rth opened #13913 "Use modifiable global random state in tests"
As mentioned by @jnothman in https://github.com/scikit-learn/scikit-learn/issues/13846#issuecomment-494175027

I think it would be a good idea. For instance, we could,
 - [ ] create a global ~~auto-use~~ pytest fixture in `scikit-learn/conftest.py`,
[code]
  - [ ] modify tests to use it, e.g.
[code]
One issue is that global auto-use fixtures are a bit magical, but I'm hoping that naming it as `pyt

[2019-05-21 08:00] rth commented on #13846
Opened #13913 on this topic.

[2019-05-21 08:25] jnothman opened #13916 "Run check_manifest in one of the CI setups"
As per https://github.com/scikit-learn/scikit-learn/issues/13859#issuecomment-491688835, we are at risk of missing files from our MANIFEST.in and only noticing it upon release. We could use the `check-manifest` Python package as an additional check alongside, say linting (which is configured in `.circleci/config.yml`)

[2019-05-21 08:26] jnothman commented on #13851
Closing after no reply.

[2019-05-21 08:26] #13851 closed

[2019-05-21 08:27] jnothman commented on #9626
Pull requests improving our documentation are always welcome! Please open
one.

[2019-05-21 08:44] rth commented on #13916
The cron job or even wheels repo might be a better place for it, as it's a release test that doesn't need to run frequently, `check-manifest` takes more than a minute on my laptop and linting is meant to be fast..

The current output of `check-manifest` is,
[code]

some of these should probably be fixed before the 0.21.2 release https://github.com/scikit-learn/scikit-learn/pull/13915

Actually thi

[2019-05-21 08:44] glemaitre commented on #13869
@systemlogic is the issue resolve considering the above discussion? If yes, feel free to close the issue.

[2019-05-21 08:46] glemaitre commented on #13858
In this case, I think that you should use internally the utility `sklearn.utils.safe_mask`.

[2019-05-21 08:56] jnothman commented on #13916
I only see the copyright and readme files as issues. Any idea why it takes
so long?

[2019-05-21 08:57] jnothman commented on #13913
I'd rather it require explicit use as an argument to the test

[2019-05-21 08:58] glemaitre commented on #13913
We should avoid this mechanism in `check_estimator` I assume.

[2019-05-21 08:58] WenjieZ commented on #13858
Could you elaborate on the usage and the advantage of `sklearn.utils.safe_mask`?

[code]

[2019-05-21 08:59] glemaitre commented on #13858
It will convert it to an array and it would handle a sparse matrix as well.

[2019-05-21 09:04] r0f1 opened #13917 "Feature Request: DummyRegressor Per Category"
The current [DummyRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.dummy.DummyRegressor.html) supports mean, median etc. for the whole dataset. What would be a very convenient addition is, if there was an argument that the DummyRegressor uses for grouping. Then it could predict the mean, median etc. not for the whole dataset, but per grouping variable. I often encounter the sit

[2019-05-21 09:06] rth commented on #13916
We might also want to include `conftest.py`, `site.cfg` and,
[code]

Not sure, building a sdist seems to take a while for some reason,
[code]

[2019-05-21 09:08] rth commented on #13913
Yes, I imagine better to be explicit and use a normal fixture.

Well there we could just add an optional `random_state` parameter  I think?

[2019-05-21 10:16] qinhanmin2014 commented on #13913
But we have many PRs which add random_state to some tests to avoid test failures?
Will this introduce lots of random test failures?

[2019-05-21 11:18] jnothman commented on #13887
No, we should be using `neg_brier_loss` or something. We made a similar change for other losses in https://github.com/scikit-learn/scikit-learn/compare/7e079c0fd2%5E...2ba347841.

[2019-05-21 11:19] jnothman commented on #13913
The idea would be to specifically identify tests that are robust to changes
of random state.\

[2019-05-21 11:53] albertcthomas commented on #13917
+1. I implemented a similar estimator for work. More generally a meta estimator learning one model per group could be useful. Using this meta estimator with DummyRegressor will give you what you want and you could also apply this meta estimator with other baseline estimators. This requires that all the groups are present in the training set.

[2019-05-21 12:37] qinhanmin2014 commented on #13913
I understand. I'm wondering whether it's worthwhile, and more importantly, whether it's possible.

[2019-05-21 12:45] qinhanmin2014 commented on #13887
Apologies the mistake was introduced by me.
I agree that we should introduce neg_brier_score_loss and deprecate brier_score_loss.

[2019-05-21 14:03] jnothman commented on #13913
I don't think it's easy to change for much of the existing test suite. I
intended it more as a principle for new tests, and some select existing
tests.

[2019-05-21 15:50] Jeanselme opened #13920 "Nested Cross Validation for precomputed KNN"
#### Description
A nested cross validation prediction using a knn with precomputed metric raised an error

#### Code to Reproduce
[code]

#### Expected Results
Should return the predictions made by the model as the following code produces:

[code]

#### Actual Results
[code]

#### Versions
sklearn 0.20.2

[2019-05-21 16:44] systemlogic commented on #13869
It is premature end oy python 2 and we have to convert our binary to python 3

[2019-05-21 16:44] #13869 closed

[2019-05-21 16:50] r0f1 commented on #13917
I like the idea too. Actually more than the idea of giving the DummyRegressor extra arguments.

I have written such a meta estimator once for a regression task. The constructur expects a model, feature columns and a grouping column (not sure if every component would be needed in a standard component). Say there are k different values in the grouping column. `fit()` fits the k models, and `predict(

[2019-05-21 16:57] amueller commented on #13783
Pretty sure doing a CSR construction would speed it up by several orders of magnitude.

[2019-05-21 22:26] jnothman commented on #13869
python 3

Thanks for letting us know, though our end of python 2 support is fairly in
line with the rest of scientific python

[2019-05-21 22:56] albertcthomas commented on #13917
I used such a meta estimator in the context of multi-task learning. This was serving as a baseline, learning one model for each task, to be compared with more complex multi-task models.

[2019-05-21 23:20] #13909 closed

[2019-05-21 23:21] AbhilashMathews opened #13921 "Error when computing the gradient of a derivative with Gaussian process regression in scikit"
Gaussian process regression in scikit-learn provides a conditional mean and variance, $(y_*,\sigma_*^2)$, based upon the observed data, $(y,\sigma^2)$. But given $(y_*,\sigma_*^2)$, how can you compute the variance of $\frac{dy_*}{dx_*}$ in scikit-learn? The formula for doing this is given by [equation (9.1)](http://www.gaussianprocess.org/gpml/chapters/RW9.pdf), although when applying this method

[2019-05-21 23:45] jnothman commented on #11170
I think type annotations for class parameters would be helpful.

[2019-05-21 23:49] #13907 closed

[2019-05-21 23:49] jnothman commented on #13907
We have an implementation of ROC AUC in #12789, awaiting review. But I'd
use it only with caution. This metric will remain much easier to interpret
for binary problems. Perhaps you should choose a more appropriate metric.

[2019-05-22 00:10] MustafaWaheed91 commented on #9193
A genralized `StratifiedGroupShuffleSplit` would be incredibly helpful to have though

[2019-05-22 01:21] jnothman commented on #13917
Again it reminds me of trees with models at the leaves, e.g. #13106
<https://github.com/scikit-learn/scikit-learn/issues/13106>.

[2019-05-22 01:24] jnothman commented on #13920
This seems to be because BaseSearchCV doesn't define the _pairwise property. It should, as should other meta-estimators.​

[2019-05-22 01:25] jnothman commented on #13920
Thanks for the report. A patch is welcome.

[2019-05-22 01:36] #13616 closed

[2019-05-22 02:43] jnothman commented on #13921
This might be better off asked on a user forum, rather than a development
issue tracker.

[2019-05-22 02:44] isrobson commented on #13920
@Jeanselme are you working on a fix for this? I've been looking for a good first issue and happen to have done a couple projects with meta-estimators recently

[2019-05-22 03:09] Jeanselme commented on #13920
No, I didn’t dig into the code, feel free to fix it. Thank you !

[2019-05-22 03:38] thomasjpfan commented on #11170
Keeping stubs in sync would be hard to maintain. Placing them in `__init__` using a new indentation style should work. We would need to come up with common union types to be use throughout the codebase, such as `RandomStateType`.

[2019-05-22 03:51] isrobson commented on #13920
Gotcha. I think I'll give it a shot then

[2019-05-22 03:59] jnothman commented on #13920
Thanks!

[2019-05-22 04:24] isrobson commented on #13920
No problem! I think I might have found a small wrinkle in the plan, though.

Fixing the BaseSearchCV to have the _pairwise property is pretty straightforward and I think I've managed to set it up by just adding the _pairwise property kinda like #11453, or more explicitly just throwing this into BaseSearchCV:

[code]

....but I'm worried that doing so won't support someone wanting to compare 'preco

[2019-05-22 04:26] isrobson commented on #13920
We could certainly just take the easy way of adding the _pairwise property to BaseSearchCV and barring simultaneous searches of 'precomputed' with other distance metrics. Of course, someone else might see and easier way to support simultaneous support.

Any thoughts/preferences?

[2019-05-22 06:27] jnothman commented on #13920
I think this is closer to the mark:
[code]

I don't think that's reasonable in the sense that the precomputed input has completely different semantics (columns are samples) to non-precomputed (columns are features).

[2019-05-22 07:12] isrobson commented on #13920
That is a good point. I'll adjust the code I've written based on your advice and submit when I can

[2019-05-22 07:53] smarie commented on #13478
Yes if the only thing you're interested in is the distribution of the prediction errors. You can even be only interested in the `test_predictions`.

@adrinjalali  the `cv_indices` would be a list of length `n_split` too, but I guess each entry would be a tuple of two arrays containing the indices, no? Just like what I proposed in the first part of answer https://github.com/scikit-learn/scikit-lear

[2019-05-22 08:19] jnothman commented on #13478
I think wanting to get predictions as well as scores is a common use-case, albeit open to misuse. To some extent I'd rather have `return_predictions` which would return test set predictions as well as indices (under a separate key) rather than `return_includes`. One reason is that there's no harm including CV indices if returning predictions, and it might help guide the users towards reasonable us

[2019-05-22 08:19] jnothman commented on #13478
I think wanting to get predictions as well as scores is a common use-case, albeit open to misuse. To some extent I'd rather have `return_predictions` which would return test set predictions as well as indices (under a separate key) rather than `return_includes`. One reason is that there's no harm including CV indices if returning predictions, and it might help guide the users towards reasonable us

[2019-05-22 09:51] SoManyUsernamesTaken opened #13923 "Linear regression unnecessarily slow"
#### Description
Standard linear regression implementation seems unnecessarily slow, at least in many cases. May extend to other linear estimators e.g. Ridge.

#### Steps/Code to Reproduce
[code]

#### Results
On my laptop, I see the following results:
[code]

I see a similar speedup on my work machine, which is also a conda install but on Ubuntu 18.04

#### Versions

[2019-05-22 10:08] jnothman commented on #13923
And with assume_all_finite?

[2019-05-22 10:15] SoManyUsernamesTaken commented on #13923
Sorry, not quite sure how would I do that?

[2019-05-22 10:34] javierfs opened #13924 "modifying cross_validate function in remote virtual environment"
I am modifying the function of cross_validate from Scikit-learn so it resamples the training data in each fold before fitting the model. I use a virtual environment in a remote machine where I have Scikit-learn installed.

I would like to use following libraries from imblearn:

[code]

When I add a new parameter in the function cross_validate in _validation.py:

from

[code]

to

[code]

It looks

[2019-05-22 10:42] jnothman commented on #13923
Sorry, assume_finite. https://scikit-learn.org/stable/modules/generated/sklearn.config_context.html

[2019-05-22 10:52] jnothman commented on #13924
use an imblearn Pipeline as your estimator.

You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-05-22 10:52] #13924 closed

[2019-05-22 11:58] SoManyUsernamesTaken commented on #13923
In that case, it runs in about 0.52 seconds, i.e. slightly faster than before, but not close to the other code (but could be due to random fluctiation too).

[2019-05-22 11:58] AbhilashMathews commented on #13921
It appears that scikit-learn's GPR module has almost all the tools to compute gradients with uncertainties, but assistance here would be helpful. This kind of feature has been developed for other GPR packages (e.g. specifying an integer `n` in this [package](https://gptools.readthedocs.io/en/latest/gptools.html#module-gptools.gaussian_process) allows one to specify the order of the derivative they

[2019-05-22 13:38] julietKiloRomeo commented on #13383
I can look at `plot_pca_vs_fa_model_selection.py` if no one else is working on that yet?

Should we try for `t<60s` or is the goal more like `t<6s` ?

[2019-05-22 16:47] rick2047 commented on #13923
I ran cProfile on the given code, for lin.fit(X,Y) the profile looks like this

[code]

Most of the time is taken up by the least square function from scipy
`        1    0.606    0.606    0.639    0.639 basic.py:1047(lstsq)
`
I confirmed similar numbers in the debugger too. There its around 0.65.

From what I can read np.linalg.solve only solves the system of equation while scipy.linalg.lstsq cal

[2019-05-22 17:11] SoManyUsernamesTaken commented on #13923
The scipy/sklearn version will in face be much more numerically stable and accurate in cases when you have near-singular (or even singular) X covariance matrices, as it uses SVD. In fact, if you try to do an SVD in python via coefs = np.dot(np.linalg.pinv(X), Y),  it runs a little slower than sklearn/scipy implementation.

Perhaps the default behaviour could be to calculate the X covariance matrix

[2019-05-22 17:33] rick2047 commented on #13405
If nobody is working on this, I would like to take this up. @AbhishekBabuji have you made any progress?

[2019-05-22 18:19] NicolasHug opened #13926 "GBDTs should bin train and validation data separately?"
In the new GBDTs we bin the data before calling `train_test_split()` (for early-stopping).

That means that the validation set is also used to find the bin thresholds (it is of course not used to find the split points!).

I feel like the "data leak" is very minimal, but it seems more correct to bin X_train and X_val separately.

@ogrisel WDYT?

[2019-05-22 20:20] avi-eko commented on #9193
I have a simple but likely inefficient way to create a train/test split that separates groups and stratifies labels that works for me in my particular case. With larger datasets or more extreme class imbalances it likely doesn't work as well. Basically, I just loop through the splits created by `GroupShuffleSplit(n_splits=10, test_size=0.3, random_state=seed)` and choose the split that has a class

[2019-05-22 22:44] jnothman commented on #13926
Well it means that the internal scores are but not as accurate estimates as
they could be, but you expect it would rarely affect prediction, yeah?

[2019-05-23 00:45] jnothman opened #13928 "Ubuntu install issues on the Linux py35_np_atlas build"
Failures are occurring like at https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=3415&view=logs
[code]

the amd64 files do not appear to be there at http://ppa.launchpad.net/ubuntu-toolchain-r/test/ubuntu/pool/main/g/gcc-8/ for those libraries.

[2019-05-23 02:18] qinhanmin2014 commented on #13892
I think we'll try to provide detailed deprecation message and you can easily silence the warning.

[2019-05-23 02:18] #13892 closed

[2019-05-23 09:10] jamesmyatt commented on #13892
Makes sense. I was just wondering. Thanks 👍

[2019-05-23 12:04] H4dr1en commented on #4441
Is the bug now fixed?

I'm having the same kind of "L" shape, making me think the PCA did not went well (without error though), without specifying any n_component.

![image](https://user-images.githubusercontent.com/16240134/58251280-89e17800-7d63-11e9-8054-37b9b2ae6636.png)

[2019-05-23 12:16] #13882 closed

[2019-05-23 12:54] scouvreur commented on #13836
Hi @jnothman @glemaitre - could I help with PR on this issue ?

[2019-05-23 12:55] #13737 closed

[2019-05-23 12:56] jnothman commented on #13836
Sure, thanks, @scouvreur

[2019-05-23 12:56] TheRevanchist opened #13929 "Wrong results from pairwise_distances"
Hey guys,

I recently updated scikit-learn to version 0.21 and suddenly the results of a project of mine became very bad. After more than a day of investigation, I found that the error is happening in pairwise_distances, where the distance matrix becomes 0 after some number n, in my case 2028.

Essentially, in this line of code:

`distances = sklearn.metrics.pairwise.pairwise_distances(X)`

where

[2019-05-23 12:57] ogrisel commented on #13926
This can impact early stopping and therefore prediction but probably minimally.

But I agree better avoid any kind of data leak. +1 for fixing this.

[2019-05-23 12:58] jnothman commented on #4441
There is a PR to fix it at #10359, which appears stalled. Help us welcome to finish it up

[2019-05-23 13:02] jeremiedbb commented on #13929
It's not question of overflow but a mistake in the computation float32 specific introduced in 0.21.
It has been fixed (see #13910). There will be a release which contains this fix very soon.

[2019-05-23 13:47] NicolasHug opened #13931 "In histogram GBDTs, the parent node negative loss should be computed only once"
In `_find_best_bin_to_split_helper()`, it'd be more efficient to only compute the (negative) loss of the parent once, instead of at each bin.

In other terms, we should compute
`negative_loss(sum_gradients, sum_hessians, l2_regularization)`

**before** the `for` loop.

[link to relevant code](https://github.com/scikit-learn/scikit-learn/blob/dc5e4d8896cb61e802da9dc845fbc873ddf5de3e/sklearn/ensembl

[2019-05-23 16:12] thomasjpfan commented on #13928
@mickeygousset Do you think this could be fixed on Azure's end?

[2019-05-23 17:58] trevorboydsmith commented on #11510
related issue... https://github.com/scikit-learn-contrib/hdbscan/issues/153

[2019-05-23 19:56] mosew commented on #8288
I know this is closed, but elasticnet is still not available in LogisticRegressionCV.

[2019-05-23 20:28] amueller commented on #8288
@mosew in which version? It should be?

[2019-05-23 23:58] yhtang opened #13936 "GaussianProcessRegressor unnecessarily forcing training samples to be array_like"
The current interface precludes the application of the GPR module to cases where the training samples are sequences, trees, graphs etc. In fact, GPR should not care about whether its input are fixed-length feature vectors or not --- that should be handled by the kernel.

Expected usage scenario:
[code]
Error information (`sklearn/utils/validation.py", line 448, in check_array`):
[code]
Expect outc

[2019-05-24 00:40] jnothman commented on #13936
If you'd like to submit a pull request implementing that support (perhaps
with an example demonstrating a custom kernel) I think it would be well
received

[2019-05-24 06:53] keng000 opened #13937 "Failed to install version 0.21.2 into MacBook."
#### Description

The installation failed when I tried to install `scikit-learn==0.21.2` into my macbook. However, version `0.21.1` installation get successed in the same environment.

#### Steps/Code to Reproduce

[code]

My environment is bellow.
[code]

#### Expected Results

install succession.

#### Actual Results
[code]

#### Versions

[code]

[2019-05-24 07:27] ogrisel commented on #13937
I am uploading the release now.

[2019-05-24 07:30] ogrisel commented on #13937
Done.

[2019-05-24 07:30] #13937 closed

[2019-05-24 10:10] #13928 closed

[2019-05-24 14:29] #13929 closed

[2019-05-24 16:11] AndersH92 commented on #12891
Thank you, this saved me a lot of trouble!

[2019-05-24 18:13] cesarsalgado opened #13940 "Import Error when importing from different threads"
#### Description

ImportError happens when importing sklearn modules from different threads.

#### Steps/Code to Reproduce

Run the code below
[code]

#### Expected Results
No error is thrown.

#### Actual Results

[code]

#### Versions
[code]

[2019-05-24 21:40] ben-dilday-enigma commented on #12055
I also had a need for a Bernoulli mixture model and ended up implementing one for my own use. I am contributing that code as PR.

[2019-05-24 21:40] yhtang commented on #13936
OK. I'm working on it.

[2019-05-25 02:49] sevenguin commented on #8587
Why not change the default value? Can you explain it more detail? because there are many single character should be split as a word.

[2019-05-25 02:50] sevenguin commented on #8587
@jnothman Why not change the default value? Can you explain it more detail? because there are many single character should be split as a word.

[2019-05-25 04:21] trevorstephens opened #13943 "Scikit-learn 0.21.1 strange failure using nosetests with import train_test_split"
#### Description

Hey there, I run a simple test suite using nose over my package gplearn and the CRON scheduled tests came up with a failure today. I narrowed the test scopes and removed the test that used that function in a dummy PR on my package and it appears simply importing test_train_split in the test code causes a failure. This only occurs with nosetests, pytest shows no failures locally,

[2019-05-25 09:49] agramfort opened #13944 "plot_tree always writes entropy even if gini is used"
[code]

plots entropy in nodes. It's because `entropy` is hard coded here apparently:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/export.py#L553

[2019-05-25 09:50] agramfort commented on #13944
![figure_1](https://user-images.githubusercontent.com/161052/58367781-5a597980-7ee3-11e9-965b-1d4f17a03970.png)

[2019-05-25 09:51] jnothman commented on #13943
When you say "only" which versions are you excluding? Is there anyway to do
a git bisect or do you think it's a packaging issue

[2019-05-25 13:14] jnothman commented on #8587
Well there's nothing wrong with users applying a different pattern, while
changing the default would mean that it would be much less explicit when
looking at code what it did if it used the default.

[2019-05-25 14:58] fhoang7 commented on #13944
Would like to take a stab at this. First attempt at contributing to an open source library so would love input on my proposed solutions.

[2019-05-25 16:31] ab-anssi opened #13945 "[AgglomerativeClustering] confusing parameter 'affinity'"
The name of the parameter 'affinity' is misleading, since it does not correspond to similarity/affinity functions, but to distance functions.

Besides, the documentation for the parameter 'affinity' seems wrong.

If `affinity="precomputed"` a distance matrix, **instead of a feature matrix (not a similarity matrix)**, is needed as input for the fit method ?

[2019-05-25 22:27] jnothman commented on #13945
Yes, I think we've been aware of this for a long time. I suspect you're
right that we should "bite the bullet" and rename it to `metric`, with
deprecation of course.

[2019-05-26 00:11] trevorstephens commented on #13943
Never heard of bisect @jnothman ... Fast way to find a bug, thanks!

https://github.com/scikit-learn/scikit-learn/commit/41aa3edd7866942baad071331f0c1f083b6df3ca is the offending commit from https://github.com/scikit-learn/scikit-learn/pull/12974 on my local machine (linux python 3.6)

[2019-05-26 01:01] trevorstephens commented on #13943
Unfortunately the discussion is quite brief so I don't know what the context of its removal was

[2019-05-26 01:22] trevorstephens commented on #13943
Looks like it was removed in #9840, then re-introduced with #10223... :scream:

[2019-05-26 02:20] mitar commented on #12800
So if one would pass into scikit-learn method which accepts "sparse array" as input a DataFrame with SparseSeries, would that work or explode at the moment?

[2019-05-26 03:19] jnothman commented on #12800
Check? I assume it would work but inefficiently by making dense, unless
pandas raises an error when converting to array

[2019-05-26 07:07] zenithworks opened #13949 "Automatically publish to Releases section of repo"
Hi,
I observed that we currently add information to the repo's release section manually. Since it already uses azure pipelines as CI, we can leverage one of the [in-built](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/github-release?view=azure-devops) task to do this automatically.
The GitHub release task can be configured to publish a release every time the CI is built for

[2019-05-26 11:54] miguelbarao opened #13950 "build fails with python3.7 on FreeBSD 12.0"
#### Description

Installing scikit-learn 0.21.2
[code]
fails on FreeBSD 12.0 + python 3.7 with a message related with not finding an OpenMP header file:
[code]

#### Fix

Defining the following environment variables fixes it:
[code]

#### Versions

[code]

[2019-05-26 12:16] jnothman commented on #13943
Whoops. Thanks for pointing it out. I made a PR.

[2019-05-26 12:20] jnothman commented on #13950
Please help us improve the advanced installation instructions, which currently single out Mac OS for needing OpenMP specification, at https://github.com/scikit-learn/scikit-learn/blob/master/doc/developers/advanced_installation.rst

[2019-05-26 12:47] jorisvandenbossche commented on #12800
A `check_array` on a (sparse) DataFrame will convert it to a numpy array (`__array__`), which for a sparse DataFrame means it gets densified, and memory usage will increase.
You can convert your sparse DataFrame to a scipy sparse matrix, which is probably the best approach for now if you want to keep it sparse.

[2019-05-26 12:54] emilmirzayev opened #13952 "Cross val predict TypeError when having method = "predict_proba""
#### Description
`cross_val_predict` throws a `TypeError` when having `method = "predict_proba"`
#### Steps/Code to Reproduce

[code]

#### Expected Results
Expect an array of probabilities

#### Actual Results
[code]
#### Workaround
I found a workaround which gives me the correct output. If I overwrite the default `LogistiRegression` with a custom wrapper it works when not providing `method` argu

[2019-05-26 12:55] trevorstephens commented on #13943
NP. I just migrated my package to pytest today as a result of this. Nose, I guess, was just picking up on the word *test* in the function name, maybe? So for me, the issue is gone, but I assume lots of packages rely on test_train_split in tests and may still use nose. Could be a bunch of failures popping up around the ecosystem. I guess there needs to be a point where old frameworks need to retire

[2019-05-26 13:04] jnothman commented on #13952
Your code is not sufficient to reproduce the error. Please provide a fully
runnable code snippet, including data if it can't be generated.

But your version of scikit-learn is also outdated. Does the same issue
persist on scikit-learn 0.21?

[2019-05-26 13:25] emilmirzayev commented on #13952
Hi!
I have now `0.21.2` installed via pip.
Error is still there
Code to reproduce this:

[code]

[2019-05-26 13:28] jnothman commented on #13952
Please report sklearn.show_versions(). I can't reproduce on my machine. (I get "ValueError: cross_val_predict only works for partitions" instead)

[2019-05-26 13:35] emilmirzayev commented on #13952
This is the output
[code]
Just in case, pasting the entire code again:
[code]

[2019-05-26 16:26] mitar commented on #12800
So for me the beauty of using `DataFrame` is that I can have both string columns and numerical columns and throw it at random forest and it just works.

Now, with some columns sparse, we cannot just convert it to scipy sparse matrix, because the latter does not support object dtype.

What would be the ideal implementation here to support this properly in scikit-learn?

[2019-05-26 19:25] #13943 closed

[2019-05-26 19:58] rth commented on #13950
That's due to MacOS shipping a clang compiler without OpenMP and so when a second clang compiler is installed e.g. via brew, include paths etc need to explicitly provided. It should not be necessary to do this or manually hack `LDFLAGS` in other cases, at least on Unix. These should be correctly set by [`get_openmp_flag`](https://github.com/scikit-learn/scikit-learn/blob/f3a6a1a6c87a47a1da56101320

[2019-05-26 22:04] jnothman commented on #12800
Well at the moment I wouldn't have thought that throwing categorical dtypes
at our random forest "just works" either.

[2019-05-27 01:27] fhoang7 commented on #13931
Taking a look at this...was having trouble finding a test suite around the cython file though.

[2019-05-27 04:28] jnothman commented on #13698
Fixed by #13726

[2019-05-27 04:28] #13698 closed

[2019-05-27 06:24] ariezra commented on #12546
I have this error on scikit-learn 0.21.1 and joblib 0.13.2 Window 64
I did not find solution to fix it.
Can you help?

[2019-05-27 07:25] liufsd opened #13956 "Please support custom distance fun function for k-means"
like : https://github.com/annoviko/pyclustering/blob/master/pyclustering/utils/metric.py

[code]
from https://github.com/annoviko/pyclustering/blob/master/pyclustering/cluster/kmeans.py

[2019-05-27 07:26] liufsd commented on #1188
need +1 ☹

https://github.com/scikit-learn/scikit-learn/issues/13956

[2019-05-27 07:43] #13944 closed

[2019-05-27 07:44] jnothman commented on #12546
Downgrading joblib to 0.11 might be the simplest fix

[2019-05-27 07:47] rth commented on #12546
This issue is tracked upstream in https://github.com/joblib/joblib/issues/806 please add any additional comment there instead.

[2019-05-27 07:49] jnothman commented on #13956
Mean of coordinates is only really appropriate for Euclidean distance. You want kmedoids or a specialised algorithm from this class. We have considered including kmedoids here but found it hard to identify a clear motivating example that set it as a better choice than agglomerative clustering, which supports custom metric (as do dbscan and optics).

[2019-05-27 07:49] #13956 closed

[2019-05-27 08:04] liufsd commented on #13956
Maybe like this https://github.com/scikit-learn/scikit-learn/pull/12192  ?

[2019-05-27 08:18] jnothman commented on #13956
That case limits itself to cosine, which may be more applicable than other
distances.

[2019-05-27 08:28] liufsd commented on #13956
Yes.  i just need 'Mahalanobis Distance' , but i found it's no way~

[2019-05-27 08:42] liufsd commented on #13956
`kmedoids ` :
https://github.com/scikit-learn/scikit-learn/pull/5085/files

[2019-05-27 08:47] rth commented on #13956
That work was moved to https://github.com/scikit-learn-contrib/scikit-learn-extra/pull/12. It's should be merged relatively soon.

[2019-05-27 08:56] liufsd commented on #13956
@rth  wow~  thank you ~ ~ ~
but as i known 'waited a lot of time for this k-medoids algorithm'
so, i mean when it will be done ?

[2019-05-27 09:09] rth commented on #13956
As soon as my few minor comments on that PR are addressed (if we don't  wait for a second review that is).

[2019-05-27 09:14] liufsd commented on #13956
ok ok ~  please tell me when it's finish~  thanks~

[2019-05-27 09:50] jnothman commented on #13956
Please just subscribe to that issue and be quieter here. Thanks

[2019-05-27 11:00] #13950 closed

[2019-05-27 13:54] aditya1702 commented on #13783
@amueller @jnothman Is this something I can try?

[2019-05-27 14:46] jnothman commented on #13783
You're welcome to submit a pull request!

[2019-05-27 15:16] scottgigante opened #13957 "IncrementalPCA should accept sparse input"
#### Description
`IncrementalPCA` is by design suited to application to sparse data in a way that most PCA classes are not. However, it is not written to accept this by default.

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error should be thrown.

#### Actual Results
[code]

#### Suggested fix
[code]

I'd be happy to submit this as a PR if it's desirable.

#### Versions

<details

[2019-05-27 16:28] abhinavsagar commented on #13957
Yeah feel free to open a PR.

[2019-05-27 21:49] ariezra commented on #12546
Thank you very much.
It works with joblib 0.11

Le lun. 27 mai 2019 à 09:49, Roman Yurchak <notifications@github.com> a
écrit :

[2019-05-28 01:53] liufsd commented on #13956
@jnhansen @rth
by the way, why not support `Mahalanobis distance`
[code]

`Mahalanobis distance`  for the data such as the user's weight and height.  You known the `euclidean_distances` not support it.

[2019-05-28 03:29] mitar opened #13962 "Use of target_names in example datasets is inconsistent"
#### Description

It seems `target_names` sometimes correspond to values of categorical target and sometimes correspond to target colum name itself.

#### Steps/Code to Reproduce

[code]

#### Expected Results

I would expect consistency. Or that `target_names` target column names (even in the case of one column), or that it returns categorical target values (and then it should not exist for regre

[2019-05-28 03:30] mitar commented on #5318
I mention this issue (that sometimes things are list and sometimes an array) also here: #13962

[2019-05-28 03:39] mitar commented on #12392
I would also vote for improving consistency of basic `load_X`` functions. They are pretty neat for simple testing and making it consistent means you can use it in automatic way.

For example, it seems they are few inconsistencies:
* `target_names` is sometimes list sometimes array: #5318
* `target_names` is sometimes target column names and sometimes categorical values of a target column: #13962

[2019-05-28 07:52] jnothman commented on #13962
I'd be in favour of renaming the iris one to 'classes' on the basis that
this is what we use elsewhere to map between class index and name.

[2019-05-28 09:23] massich opened #13964 "Experimental error message"
[code]
gives

[code]

It would be good if the import error points out how to enable the import.

Can we introspect it somehow to improve the error message? has this been discussed somewhere?

[2019-05-28 09:47] jnothman commented on #13964
It would be quite hard to make this foolproof. You'd need an import hook
and something to handle attribute access. I don't think it's warranted.

[2019-05-28 10:03] smcinerney commented on #8697
Then this is a docbug, since most sklearn code out there doesn't use Pipeline. Please leave this open a as a docbug to mention Pipeline more in the doc and show examples, or crossreference it.

[2019-05-28 10:08] liufsd opened #13965 "Why not support Mahalanobis distance for k-means ?"
Even merge this code : https://github.com/scikit-learn-contrib/scikit-learn-extra/pull/12/files
the`KMedoids` just support `PAIRED_DISTANCES` :
[code]
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/pairwise.py

My first issue here:
https://github.com/scikit-learn/scikit-learn/issues/13956

[2019-05-28 10:19] massich commented on #13964
Do you think it is worth the effort? otherwise, feel free to close.

[2019-05-28 11:04] jnothman commented on #13965
Please stop littering this issue tracker with repeat requests. We have already explained some of our choices and there is nothing stopping you using existing implementations rather than hassling us to reconsider. We maintain a lot of code here, and that all takes effort. We need to be judicious. While our decisions are not final, we have made them. Please desist from raising it again without furth

[2019-05-28 11:04] #13965 closed

[2019-05-28 11:07] jnothman commented on #8697
You're right @smcinerney, we should have an issue to make use of Pipeline
in as many examples as are applicable. But it should be a separate issue.
Would you like to open it?

[2019-05-28 12:10] #13931 closed

[2019-05-28 13:04] aditya1702 commented on #13783
Cool! Will try it out

[2019-05-28 13:34] liufsd commented on #13965
So sorry about this.

[2019-05-28 13:44] mfeurer opened #13967 "Feature request: warm starting for histogram-based GBM"
#### Description
This is a feature request to add the warm start parameter, which exists for [gradient boosting](https://scikit-learn.org/dev/modules/generated/sklearn.ensemble.GradientBoostingClassifier.html#sklearn.ensemble.GradientBoostingClassifier), to the new [histogram-based gradient boosting](https://scikit-learn.org/dev/modules/generated/sklearn.ensemble.GradientBoostingClassifier.html#sk

[2019-05-28 14:20] rth commented on #13923
The proposed approach seems very similar to Ridge with no regularization and [`cholesky` solver](https://github.com/scikit-learn/scikit-learn/blob/57726672b52421aca17123cc313136a340344d0d/sklearn/linear_model/ridge.py#L146), i.e.,
[code]
With the above example, it's also much faster than `LinearRegression`, though around 2x slower than the implementation above (due to the overhead of different che

[2019-05-28 14:46] #13926 closed

[2019-05-28 15:38] thomasjpfan opened #13968 "Design of add_indicator in SimpleImputer may fail when running cross validation"
#### Description

The design of `add_indicator` depends on missing values exist in the training data. This will break cross validation.

#### Steps/Code to Reproduce

[code]

#### Expected Results

No error is thrown.

#### Actual Results

[code]

#### Thoughts

The original design was adopted because, if the training data has no missing value, there will be a column with all zeros. This type of e

[2019-05-28 15:54] #13691 closed

[2019-05-28 16:12] jnothman commented on #13968
Is that MissingIndicator failing? Shouldn't it be silent if a feature has
nan in test but is not one of the features or provides indicators for?

[2019-05-28 16:52] thomasjpfan commented on #13968
If we set `MissingIndicator`'s `error_on_new=False`, then it will be silent. Currently, there is not a way to directly set this from `SimpleImputer`'s API.

[2019-05-28 18:06] SoManyUsernamesTaken commented on #13923
The reason you are seeing the 1e-6 error is because you were also fitting an intercept, which I was not doing above. If you pass `fit_intercept = False` it will be on the same level of error.

I agree with you that Ridge with Cholesky is faster, but still an order of magnitude slower than compared to the solution I showed, at least on my desktop (6700k with mkl). However, it does behave better at

[2019-05-28 18:20] SoManyUsernamesTaken commented on #13923
I hope the below is helpful, I deleted rows with all 0 entries.
[code]

[2019-05-28 18:25] amueller commented on #13923
Is there a robust way to check which solver is appropriate? How long would it take to compute the condition number? I think our highest priority is to make sure solutions are accurate, but there are probably many cases where a faster solver would work. The main question is if there is a reliable way to detect those cases (and if it's worth special-casing and adding code complexity).

[2019-05-28 18:47] amueller commented on #4649
this has been "solved" by the ``_skip`` estimator tag, I think.

[2019-05-28 18:47] #4649 closed

[2019-05-28 18:48] amueller opened #13969 "Add non-strict mode to check_estimator"
Right now the common tests have two different use-cases: checking internal sklearn estimators, and checking 3rd party estimators via ``check_estimator``.

The common tests are very strict to a degree that's not really reasonable for 3rd party estimators, in particular in checking for particular error messages.
Furthermore, the required error-messages are not documented anywhere (see also #10082).

[2019-05-28 19:28] SoManyUsernamesTaken commented on #13923
Hi, while this may be possible, and would probably help, it would seem that in the case of Ridge with cholesky solver (which is essentially equivalent to the solution method I suggest), the solution time is dominated by various overheads anyway. This is what I was referring to in my post just above.

As for the condition number, I can't personally think of when it wouldn't be appropriate, and is v

[2019-05-28 19:42] NicolasHug commented on #13964
Yeah that's one of the main downsides of this solution.

As Joel said, it's very hard to have a custom error message. Unless we bump our requirements to 3.7... ([PEP 562](https://www.python.org/dev/peps/pep-0562/))

[2019-05-28 19:43] rth commented on #13940
Thanks for the report. I can reproduce on master. On one occasion I also got the following error, possibly more explicit,
[code]

Looks like some of the imports are not thread safe? But then I don't understand why this issue doesn't happen with Joblib parallel.

[2019-05-28 19:45] NicolasHug commented on #13967
This is on my TODO list, but I don't know yet when I'll start working on this.

If anyone wants to give it a try I'll be happy to provide review and/or guidance.

[2019-05-28 22:53] jnothman commented on #13968
We should have error_on_new=False by default for add_indicator.

[2019-05-28 23:07] rth commented on #13923
That should not be happening, refactoring your benchmarks a bit below

<details>

[code]
</details>

I get roughly comparable performance for `Ridge(1e-9, solver="cholesky")` and `np.linalg.solve(CXX, CXY).T`, particularly once `check_X_y` is added (run on a laptop),
[code]

As to the condition number, assuming that the covariance matrix CXX also needs to be calculated in this example it takes 30%

[2019-05-28 23:30] jnothman commented on #13964
Hmm... I suppose solving this in python>=3.7 would be good and wouldn't
break other versions.

[2019-05-28 23:37] jnothman commented on #13940
We rarely do local imports so don't run into this. How does one ensure
imports are thread safe?

[2019-05-29 00:45] StevenLi-DS opened #13971 "add a background color for the arrows in plots by plot_tree"
#### Description
There're no arrows drew between nodes and the rotation does not work either.

#### Steps/Code to Reproduce
[code]

#### Actual Results
![download](https://user-images.githubusercontent.com/33796896/58521045-e8a25980-8188-11e9-8fca-53ec6d2bcffc.png)

#### Versions
[code]

[2019-05-29 00:47] omarcr opened #13972 "how can cv folds can be more than number of groups in cross_validate?"
In the following code:
[code]

Shouldn't it be returned that:
groups should be equal to CV for the folds?

[2019-05-29 01:10] jnothman commented on #13972
I don't think groups is being used in that case at all unless you specify a
cv object that can utilise groups

[2019-05-29 01:13] jnothman opened #13973 "Add matplotlib to show_versions()"

[2019-05-29 01:17] omarcr commented on #13972
you mean something like cv=GroupKFold(n_splits=3) or what type of object?

[2019-05-29 02:17] jnothman commented on #13972
Yes. I think it would be good if the documentation of cross_validate was
more explicit about this. A Pull Request clarifying the documentation would
be welcome.

[2019-05-29 02:19] jnothman commented on #13773
Pull request welcome to change the behaviour for features which are fully observed at training.

[2019-05-29 03:36] aditya1702 commented on #13973
@jnothman Could you give details about this issue please?

[2019-05-29 03:55] jnothman commented on #13973
I hope it's clear if you take a look at sklearn/utils/_show_versions.py.
show_versions is referenced in ISSUE_TEMPLATE.md.

[2019-05-29 06:41] SoManyUsernamesTaken commented on #13923
OK, I will run a couple of benchmarks on my different machines to collect some datapoints with your above code. My work computer below.

It is worth mentioning that the X covariance matrix is calculated already as part of the cholesky solution in ridge ([here](https://github.com/scikit-learn/scikit-learn/blob/7ea7284f2218268890714cf272ca6e3a31e192ca/sklearn/linear_model/ridge.py#L139)), so you don

[2019-05-29 09:48] bjfar commented on #13605
FYI, the GaussianProcessRegressor documentation is equally unhelpful on this point: https://scikit-learn.org/stable/modules/generated/sklearn.gaussian_process.GaussianProcessRegressor.html

"alpha : float or array-like, optional (default: 1e-10)

Value added to the diagonal of the kernel matrix during fitting. Larger values correspond to increased noise level in the observations. This can also pre

[2019-05-29 10:16] bjfar commented on #13605
Exhibit A:

[code]

I guess it is not simply a matter of variance VS standard deviation, because here I set `var=1`, so a square root difference somewhere would not matter. Yet the results are clearly different.

![Figure_1](https://user-images.githubusercontent.com/2520133/58549133-c0efd780-8202-11e9-829e-38bdd3f5fd79.png)

[2019-05-29 10:36] bjfar commented on #13605
I found this StackOverflow question asking the same thing: https://stackoverflow.com/questions/54987985/using-scikit-learns-whitekernel-for-gaussian-process-regression

I think the answer given there is correct: the noise is *not* added to the prediction variance when you set "alpha", but it *is* added to the prediction variance when you use WhiteKernel. So the two are absolutely not equivalent, a

[2019-05-29 13:21] StevenLi-DS opened #13976 "IndexError: list index out of range in export_text when the tree only has one feature"
#### Description
`export_text` returns `IndexError` when there is single feature.

#### Steps/Code to Reproduce
[code]

#### Actual Results
[code]

#### Versions
[code]

[2019-05-29 13:39] jnothman commented on #13976
Thanks for the report. A patch is welcome.

[2019-05-29 14:04] SamujjwalSam commented on #13973
Hi, I'm interested to work on it if that's okay.
I have some coding experience but this will be my first open source contribution if everything works out okay.

Let me know your thoughts.

[2019-05-29 14:40] rth commented on #13973
Sure. Thanks.

[2019-05-29 14:54] oleksandr-pavlyk opened #13977 "Default atol value in assert_allclose_dense_sparse is too low"
#### Description

daal4py's estimator `RandomForestRegressor`, powered by Intel(R) DAAL fails `check_fit_idempotent`, see https://github.com/IntelPython/daal4py/issues/102

The failure is small:

[code]

This issue questions the choice of `atol` default parameter value of `1e-7` in `assert_allclose_dense_sparse`, see [sklearn/utils/testing.py#L404](https://github.com/scikit-learn/scikit-learn/blob

[2019-05-29 15:14] kangkang59812 commented on #8245
so how did you solve it ?

[2019-05-29 15:24] jeremiedbb commented on #13977
It seems more than reasonable. Actually I think it would make more sense to have 2 tolerances in general. One for float32 and one for float64 through the whole test suite (this is what I did for the _cython_blas tests).

[2019-05-29 15:56] omarcr commented on #13972
I think it should be fixed in the library too. An exception should be shown if a group is declared but there is no object in the cv argument.

[2019-05-29 16:48] amueller opened #13979 "part of the landing page is in layout.html"
layout.html contains a lot of code that is specific to index, and so I think it should be in index.rst.

I'm not entirely sure how we can insert things into the block from a rst file but I'm pretty sure it should be possible (with ``.. only:: html and then using jinja there?)

Anyway, it's weird to have part of the landing page hard-coded in the layout.

[2019-05-29 18:34] amueller commented on #13967
@mfeurer thanks for the input!
@NicolasHug I think this would be great to prioritize. Shouldn't be too hard, right?

[2019-05-29 18:45] NicolasHug commented on #13967
Honestly I'm happy to work on it but I've been flooding with a lot of PRs recently (still awaiting for reviews) and I feel it'd be more helpful to the project if I go back in reviewing mode for a little while.

It shouldn't be too hard for someone to pick it up.

If I'm not the one writing it, we only need one more reviewer instead of 2.

[2019-05-29 18:47] amueller commented on #13972
@omarcr I'm not sure that's easy to do in a very consistent way, and I'm also not sure it's desirable. We could raise an error any time ``groups`` is passed to a cv object that doesn't use it but that would be a pretty big change in behavior and potentially break many people's code.
If you change your CV object from a grouped one to a not-grouped one I feel like you shouldn't need to pass differen

[2019-05-29 18:48] amueller commented on #13967
@NicolasHug I agree re PRs but I feel this one would be relatively small compared to the rest? I might even be able to review it ;)
Also: this ties in with successive halving nicely!

[2019-05-29 18:51] NicolasHug commented on #13967
If not one picks it up within a week I'll get started then :)

[2019-05-29 19:01] thomasjpfan opened #13984 "Ignore `setup.py` files in codecov"
From https://github.com/scikit-learn/scikit-learn/pull/13980, we probably should ignore `setup.py` in codecov?

[2019-05-29 19:10] amueller commented on #13923
@SoManyUsernamesTaken the time in ``check_X_y`` can be avoided by setting ``assume_finite=True``. If not, this is something we should look into.
What do you mean by "sklearn is not designed for this stuff"? We do a lot of validation by default, but ideally the user is able to turn this off.

[2019-05-29 19:14] amueller opened #13985 "should doctests use print_changed_only=True?"
Regularly we have to change a lot of the doctests, in particular pretty unrelated parts, because we change default parameters.
I would argue that it would be better to use ``print_changed_only`` for all the doctests. That would have the positive effect of removing this extra overhead for devs.

It would also have the benefit of making examples more concise and easier to understand. If we demonstra

[2019-05-29 19:15] SoManyUsernamesTaken commented on #13923
Hi amueller, I've never really experimented with disabling checks; is there anything else I can do assume_finite?

[2019-05-29 19:19] #13973 closed

[2019-05-29 19:21] rth commented on #13984
They should be I think https://github.com/scikit-learn/scikit-learn/blob/3ed200292fe17ff78e388c307a721ed0e707ca76/.coveragerc#L8 ? or do you mean from pytest text collection?

BTW, I think it's good practice to exclude test files from coverage to get more realistic numbers.

[2019-05-29 19:28] amueller commented on #13923
There's an additional memory copy. If you set ``copy_X=False`` in ``Ridge`` it'll match times. (shouldn't this be called ``copy`` for consistency?)

So
[code]
is as fast as ``np.linalg.solve(CXX,CXY)``

Generally we're pretty generous with data copies. I'm not sure if the copy is necessary here if we don't center.
Indeed, scikit-learn right now is not optimized for not copying the data. It would b

[2019-05-29 19:32] thomasjpfan commented on #13984
Yes, I meant the coveragerc.

Good point. It is also weird to have `setup.py` part of test collection.

Yes, excluding the test files would be really nice.

[2019-05-29 19:40] omarcr commented on #13972
@amueller The way I understand the method is the following:

if for example I have 3 groups of labels then there should be 3 folds. After cross validation, the 3 models built will have an independent group for testing.

If for example I don't declare the groups then the CV function will just arrange the data by index to construct the folds.

therefore if I pass cv=KFold(n_splits=5) **I need** to d

[2019-05-29 19:54] SoManyUsernamesTaken commented on #13923
Can confirm that with the above code, sklearn becomes just as fast as my proposed solution, which is great! Perhaps there could be some easier way of doing the above? I don't know if this is a popular suggestion, but what about a `fast` kwarg that does the above (i.e. makes it less safe but faster)?

[2019-05-29 20:46] rth opened #13986 "Avoid copy=True by default"
A fair amount of estimators currently have `copy=True` (or `copy_X=True`) by default. In practice, this means that the code looks something like,
[code]
and then some other calculations that may change or not X inplace. In the case when the following operations are not done inplace, we have just made a wasteful copy with no good reason.

As discussed in https://github.com/scikit-learn/scikit-learn

[2019-05-29 20:48] rth commented on #13923
Opened https://github.com/scikit-learn/scikit-learn/issues/13986 regarding unnecessary data copies.

[2019-05-29 21:01] amueller commented on #13986
Actually we have test with read-only X which probably will enforce that we don't change X by default.

[2019-05-29 21:15] amueller commented on #13972
Groups are only used if you explicitly pass a cross-validation strategy that uses groups, so GroupKFold or LeaveOneGroupOut.
Whatever you pass to ``cv`` completely determines the behavior, and some values of ``cv`` require ``groups`` to be specified, all the others ignore it.
If you pass ``cv=5`` for classification it will use stratified 5-fold cross-validation (so not actually sort by index, thou

[2019-05-29 21:17] fdas3213 commented on #13976
@jnothman Obviously, `feature_names` should have the same length as the number of features in the dataset, which in this reported issue, `feature_names` should be of length 4.

Do you hope to fix this bug by adding a condition in the `if feature_names` statement, such as `if feature_names and len(feature_names)==decision_tree.n_features_`, or do you have other ideas? I can take this issue after I

[2019-05-29 22:00] jnothman commented on #13972
I agree that the logic of the code is not obvious from the API. I'd be
happy to have cv=int fail if groups is passed for now. I would also
consider warning if a non-groups splitter is used and groups is passed "Did
you mean to use a group-based splitter?"

[2019-05-29 22:02] jnothman commented on #13976
Here only one feature of Iris is used. I've not investigated the bug in detail yet.

[2019-05-29 22:15] StevenLi-DS commented on #13976
@fdas3213 indeed only one feature used as I only selected the first columns in X: `X[:, 0].reshape(-1, 1)`. I also tried to use two features: `X[:, 0:2].reshape(-1, 1)` and then passed a two-item list to `feature_names`. No exception raised. This issue only happens when you have a single feature.

[2019-05-30 00:06] jnothman commented on #13977
Would you propose just checking the dtypes of the input and determining the
tol from that, @jeremiedbb? Use the tol corresponding to the less precise
dtype of input?

[2019-05-30 00:33] jnothman commented on #13985
+1

[2019-05-30 01:21] joseortiz3 commented on #13605
@bjfar Great work. Please edit the documentation and submit a pull request. Nobody else should have to go through this pain again.

[2019-05-30 07:56] rth commented on #13969
It's true that having a way to differentiate common tests used internally for scikit-learn and those intented to run on 3rd-party packages would be very useful. Related to #6715 . Maybe using something like,
[code]
in common tests would be better? For the examples you provide they should never apply outside of scikit-learn and this would avoid passing this parameter everywhere..

[2019-05-30 09:06] rth commented on #13986
Very good point. I made #13987 this issue in preprocessing (e.g. `StandardScaler`).

For future reference, to find estimators that potentially have this issue, one can use a common test that checks that an exception is raised when one tries to use an estimator with `copy=False` on read-only array. If it is not raised, it is likely that with `copy=True` a copy is not actually necessary (though ther

[2019-05-30 09:52] rth commented on #13923
The unnecessary copy in linear models when `fit_intercept=False` should be addressed by https://github.com/scikit-learn/scikit-learn/pull/13988

[2019-05-30 09:59] bread9 opened #13989 "GaussianProcessRegressor multi-output docs?"
GaussianProcessRegressor allows multi-dimensional outputs.

However, the docs is lacking in explaining how these multi-outputs are predicted.

Does the model assume correlation between these multi-outputs, as in 'co-kriging' or multi-task or multi-output Gaussian Processes techniques?

[2019-05-30 14:07] NicolasHug commented on #13985
Looks like adding this to `sklearn/conftest.py` is what we want:

[code]

That would require changing all the existing doctests so it would be a big PR.

I think we also want to add `set_config(print_changed_only=True)` in `doc/conf.py` for sphinx.

[2019-05-30 14:57] matsmaiwald commented on #13967
I'll work on this one, though will probably need some guidance along the way @NicolasHug.

[2019-05-30 15:03] NicolasHug commented on #13967
Cool. A good starting point is to look at how this is implemented in `ensemble/gradient_boosting.py`, and start translating it to the new implementation.

[2019-05-30 15:03] amueller opened #13990 "add three-fold split method train/val/test"
Asking how to do a threefold split is the top sklearn question on stackoverflow:
https://stackoverflow.com/questions/tagged/scikit-learn?sort=frequent&pageSize=50

We have discussed this before but I think this is a good reason to add it - the other option would be to document more explictly doing

[code]
if that's the idiomatic way to do that.
The "issue" with that way is that it's harder to figu

[2019-05-30 15:16] omarcr commented on #13972
Yes I agree. `GroupKFold(n_splits=n)` already has a routine checking for splits not to be greater than the number of folds: `ValueError: Cannot have number of splits n_splits=4 greater than the number of groups: 3.` maybe that can be reused here.

[2019-05-30 15:20] NicolasHug commented on #13990
I'm happy with the third solution.

If users want to split more than X and y, they can pass `X=np.arange(...)` and get an array of indices. Maybe we could support int for X to support this case without having to allocate the `np.arange()` array.

How would you stratify by default though? Do you infer whether `y` is a classification or regression target?

As for the name, `train_test_val_split` sou

[2019-05-30 16:30] fdas3213 commented on #13976
@StevenLi-DS Thanks for the feedback. I'll try this on few more datasets and features.

[2019-05-30 16:32] thomasjpfan commented on #13985
I am +1 on this.

[2019-05-30 16:50] oleksandr-pavlyk opened #13992 "sklearn/preprocessing/tests/test_encoders.py::test_encoder_dtypes_pandas fails on Windows"
#### Description

[code]

#### Steps/Code to Reproduce

Create vanilla conda environment and pip install into it scikit-learn 0.21.2 and pandas
[code]

#### Triaging

The failure is due to `dtype=int` being interpreted as `np.int32`, and that pandas and numpy differer in dtype inference opinions:

[code]

[2019-05-30 16:53] amueller commented on #13990
if they want to split more than X and y, they can also use ``fit_params``.
We have ``check_cv`` which determines whether the task is regression or classification and stratifies accordingly. ``train_test_split`` is actually a bit of an oddity as it's the only place in sklearn that doesn't stratify by default.

[2019-05-30 16:58] amueller commented on #13986
awesome. though that will "only" detect spurious copies if there's a ``copy`` parameter (and that copy parameter is what causes the spurious copy).
I'm sure there's many other spurious copies that don't fulfill these requirements.

[2019-05-30 17:05] amueller commented on #13969
I would rather give the user the control rather than being magic about it. It would add the parameter in a lot of places.
On the other hand, we would have to add your snippet in a lot of places as well (though not in the signatures).
Maybe someone wants to have error messages consistent with sklearn?
I'm not entirely decided but right now tending towards a parameter.

[2019-05-30 17:07] amueller commented on #13992
ping @jorisvandenbossche ;)

[2019-05-30 17:20] PhysB commented on #5884
Just a quick +1 on this ticket! Thanks for all the work on this.

[2019-05-30 19:50] k--chow opened #13994 "Kernel Linear Discriminant Analysis"
Hi all,

My group is interested in implementing Kernel Linear Discriminant Analysis (LDA) with the paper described here http://www.kernel-machines.org/papers/upload_21840_GDA.pdf and I'd like to know if this is a worthwhile pursuit, whether it's already been done before, and if not what pointers you have.

It fulfills the algorithms requirements - (year 2000, 1965 citations). - at least 3 years si

[2019-05-31 00:16] TomDLT commented on #13985
+1

[2019-05-31 06:57] rth commented on #13992
Is it a 32 bit Windows or a 32 bit Python? It's strange that `np.array([1,2]).dtype` would be different on Linux and Windows.

[2019-05-31 07:43] jnothman commented on #13969
I'm happy with strict=False param...

[2019-05-31 07:53] jnothman commented on #13994
The one called LDA no longer exists in recent releases. Its name caused
confusion because we also have an implementation of Patent Dirichlet
Allocation

[2019-05-31 07:58] jnothman commented on #13994
*Latent

[2019-05-31 12:57] vurdeljica commented on #12413
I get the same error with Python 3.7.3, and Sklearn 0.20.2 under Windows 10. None of the above worked for me. Can this issue be solved somehow?

[2019-05-31 12:58] abhinavsagar commented on #13979
Could I work on this ?

[2019-05-31 13:02] oleksandr-pavlyk commented on #13992
@rth It's a 64-bit Python:

[code]

It's almost like the default type is `long`, which is different between GCC and VS.

[2019-05-31 13:11] rth commented on #13992
Thanks for the additional details. Then I don't understand why our Windows CI doesn't fail on this test.

Would replacing,
[code]
be enough to fix it on your system? Having `OneHotEncoder.categories_` of `int64` dtype irrespective of the environement seems reasonable enough.

[2019-05-31 13:16] oleksandr-pavlyk commented on #13992
I would rather write ``X_type = [X['A'].dtype, X['B'].dtype, X['C'].dtype]``

[code]

[2019-05-31 13:17] rth commented on #13992
Sure, a PR would be very welcome.

[2019-05-31 14:08] FlorianWilhelm commented on #12957
@jarednielsen Are you working on this? As @jnothman already said, you could also start to work on  a `GeneralNB` even if the `CategoricalNB` is not merged right now. Let @timbicker and me know if you need any pointers or want to discuss something. We would like to support this endeavour.

[2019-05-31 14:26] jeromedockes opened #13998 "`RidgeCV` `cv_values_` are for preprocessed data: centered and scaled by sample weights."
when `store_cv_values=True`, `RidgeCV` stores the leave-one-out squared errors,
when `scoring=None`, or the leave-one-out predictions, when `scoring` is
provided by the user, in its `cv_values_` attribute.

However, when `scoring` is not `None`, it stores the predictions for the
preprocessed data, i.e. rescaled by the square roots of the sample weights and
with the mean of `y` removed:

[code]

I

[2019-05-31 14:40] thomasjpfan commented on #13969
I think not having the exact error message is good. Now...are we okay with not even checking the types when `strict=False`?

[2019-05-31 15:47] rahulkalluri commented on #8288
I am not able to have it working in version 0.21.1. My code is below:

logreg = LogisticRegressionCV(
    random_state=0,
    solver="saga",
    n_jobs=-1,
    refit=True,
    cv=5,
    max_iter=10000,
    class_weight="balanced",
    penalty="elasticnet"
)

[2019-05-31 17:26] sergiormpereira opened #14000 "Isolation Forest executes single-threaded during prediction"
#### Description
Isolation Forest is executed in parallel during fitting. But, during prediction it is running single-threaded. This translates into being quite slow at prediction time.

Together with this issue I am submitting a PR that parallelises prediction.

#### Steps/Code to Reproduce
NA

#### Expected Results
NA
#### Actual Results
NA

#### Versions
python: 3.6.8
sklearn: 0.22.dev0
numpy:

[2019-05-31 18:10] amueller commented on #13969
Or strict could be ``'message', 'type' or False``?

[2019-05-31 18:11] amueller commented on #13979
Sure, go for it!

[2019-05-31 18:12] thomasjpfan opened #14002 "SparseSeries deprecated: scipy-dev failing on travis"
`test_type_of_target` is failing on `scipy-dev` because it uses `pd.SparseSeries`:

[code]

https://travis-ci.org/scikit-learn/scikit-learn/jobs/539694604

[2019-05-31 18:13] amueller commented on #14002
wanna fix it or add help wanted?

[2019-05-31 18:34] jiaowoshabi commented on #14002
Can I take this one?

[2019-05-31 19:31] rth commented on #7851
Closing as outdated.

[2019-05-31 19:31] #7851 closed

[2019-05-31 19:32] rth commented on #5709
Closing as outdated.

[2019-05-31 19:32] #5709 closed

[2019-05-31 20:58] rth commented on #9440
Closing as outdated (test error on master in 2017).

[2019-05-31 20:58] #9440 closed

[2019-05-31 21:08] rth commented on #8920
Closing as it doesn't look like action is needed for this issue.

Using the threading joblib algorithm (as indicated above) is one solution, also the chunked distance calculation in latest scikit-learn releases should also help.

[2019-05-31 21:08] #8920 closed

[2019-05-31 21:32] rth commented on #6205
Closing as `logsumexpr` is now available from scipy and was removed from `sklearn.utils.extmath` in https://github.com/scikit-learn/scikit-learn/issues/11992

[2019-05-31 21:32] #6205 closed

[2019-06-01 04:08] SharathGa commented on #13990
@amueller  @NicolasHug  , I think the `train_test_val_split` seems intuitive enough .

For the `train_test_val_split(X=None, y=None, fit_parms=None, train_size=None, val_size=None, test_size=None)` . It is better to fix at least two values,  ideally from which `test_size `and `val_size ` seem apt to me. We can have 'train_size' just be the complement of those arguments.

I think `check_cv` should

[2019-06-01 06:02] yugaljain1999 commented on #13968
THIS CODE IS THROWING ANOTHER ERROR
'No module named impute'
![Screenshot (312)](https://user-images.githubusercontent.com/32617984/58744470-f3970b80-8460-11e9-919c-9392b5f159f7.png)

[2019-06-01 06:04] yugaljain1999 commented on #13968
how to overcome this error?.. It allows to import Imputer only rather than SimpleImputer.. Is this happening due to new version sckit?

[2019-06-01 06:16] yugaljain1999 opened #14006 "'No module named sklearn.impute'"
**import numpy as np
import sklearn
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import PredefinedSplit
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline

X = np.array([[1, 2, 3, np.nan]]).T
y = np.array([0, 0, 1, 1])
test_fold = np.array([0, 1, 0, 1])

ps = PredefinedSplit(tes

[2019-06-01 06:37] #14006 closed

[2019-06-01 06:42] yugaljain1999 opened #14007 "'cannot import name '_object_dtype_isnan'"
import numpy as np
import sklearn
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import PredefinedSplit
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline

X = np.array([[1, 2, 3, np.nan]])
y = np.array([0, 0, 1, 1])
test_fold = np.array([0, 1, 0, 1])

ps = PredefinedSplit(test_fo

[2019-06-01 07:01] yugaljain1999 commented on #13990
I think @SharathGa  is right.. we should fix only values of train_size and val_size or other two combinations and remaining one will be complement of those arguments.

[2019-06-01 08:53] #13564 closed

[2019-06-01 08:53] #13985 closed

[2019-06-01 09:09] rth opened #14008 "RFC Set print_changed_only=True by default for meta-estimators"
Since 0.21 there is config option to only print the changed parameters in estimators. https://github.com/scikit-learn/scikit-learn/pull/13991 enabled it by default for docstrings which helps readability significantly.

Do we want to also make it default in general, at least for meta-estimators? Once one starts using `Pipeline` e.g. with `ColumnTransformer` etc the full repr is fairly difficult to

[2019-06-01 14:07] NicolasHug commented on #13508
Closing since it was addressed in #13529

[2019-06-01 14:07] #13508 closed

[2019-06-01 15:18] matsmaiwald commented on #13967
@NicolasHug I just realised that this issues is still beyond my current skill level. Looking forward to seeing and learning from the PR though.

[2019-06-01 23:03] jnothman commented on #13968
sklearn.preprocessing.Imputer was deprecated in version 0.20 in favour of
sklearn.impute.SimpleImpute. Please upgrade your version of Scikit-learn, @
yugaljain1999

On Sat, 1 Jun 2019 at 16:04, yugaljain1999 <notifications@github.com> wrote:

[2019-06-01 23:05] jnothman commented on #8288
Rahul, if so, please open a new issue with a fully-reproducible example,
what you expected and what happened

On Sat, 1 Jun 2019 at 01:47, Rahul Kalluri <notifications@github.com> wrote:

[2019-06-01 23:48] jnothman commented on #13967
Thanks for letting us know, Matts

[2019-06-02 03:37] jnothman commented on #14007
Did you copy impute.py into your copy of scikit-learn after your previous
problem, rather than upgrade your installation?

[2019-06-02 05:44] yugaljain1999 commented on #13968
@jnothman  I upgraded my version of scikit learn but after upgrading  other error is coming up.

![Screenshot (319)](https://user-images.githubusercontent.com/32617984/58757286-7aaeb700-8527-11e9-8c16-5ac04d8e5a2d.png)

[2019-06-02 05:48] yugaljain1999 commented on #14007
@jnothman I upgrade my installation but I didn't copy impute.py into copy of scikit-learn.

[2019-06-02 08:19] jnothman commented on #14007
Try uninstalling and reinstalling. Did you possibly mix conda and pip
installations?

[2019-06-02 08:28] yugaljain1999 commented on #14007
No I have used only pip installations and I have already tried uninstalling and reinstalling.. but it shows an error during reinstalling.

![Screenshot (316)](https://user-images.githubusercontent.com/32617984/58758806-8194f400-853e-11e9-862f-51a36e5b3cd3.png)

[2019-06-02 12:31] bayerthomas opened #14010 "Strange output from sklearn.manifold.Isomap"
I have a strange output when i use the scikit-learn (0.20.3) Isomap algorithm on the benchmark data-set Banana. At one random state (2) the dist_matrix contains few rows (index: 8, 11, 39, 57, 61, ..) with geodesic distance 0 to most others points of the training data.
Is this maybe a bug in the Isomap module? When i use other random states, all distances between different points are greater than

[2019-06-02 21:11] vanbenschoten opened #14011 "Add Matrix Profile algorithm to scikit-learn"
Matrix Profile is an algorithm developed by the Keogh research group at UC-Riverside (https://www.cs.ucr.edu/~eamonn/MatrixProfile.html) that serves as an extremely powerful tool for finding patterns, anomalies and evolving behaviors in massive timeseries datasets. We released a Python version of Matrix Profile last year (matrixprofile-ts) and it seems like a good idea to align further development

[2019-06-02 23:04] jnothman commented on #14011
I don't think this meets our inclusion criteria. It's hard to tell if it is
well enough cited to be regarded as sufficiently mature/popular/seminal
(see our FAQ). More fundamentally, this seems to focus on time series,
while this library focuses on approaches that are more-or-less invariant to
sample order.

[2019-06-02 23:24] vanbenschoten commented on #14011
At present, Matrix Profile has 221 academic citations over the past three years with multiple industry users (Oracle, Target, TD Ameritrade), though admittedly research has been conducted only by UCR and UNM. The "invariant to sample order question" is fair as this method is used for time series analysis, so I'll defer to the scikit-learn team on relevance :)

[2019-06-03 04:55] raiyanalam commented on #13949
@jnothman

[2019-06-03 06:09] jnothman commented on #13949
Thanks @raiyanalam. A few comments:
* we currently have several manual processes during release. See the checklist at https://scikit-learn.org/stable/developers/maintainer.html#making-a-release
* we build release binaries at https://github.com/MacPython/scikit-learn-wheels, not at this repo, and although there's a PR to convert to Azure, we're currently not building on Azure (and [we wanted to kee

[2019-06-03 06:17] jnothman commented on #14011
Our barrier of 200 is basically the very minimum we'd consider. Are those
221 citations across all the papers, including self-citations?

But, yeah, I think the scope/relevance is really the clincher here.

[2019-06-03 07:12] jnothman commented on #14008
So are you proposing that for Pipeline and all its steps, for instance, we
show changed only by default? Or only for the steps? I'd be interested in
trying this: add an option print_changed_only='embedded' or something and
make it default. But maybe it will be too mysterious to users.

[2019-06-03 07:54] #13992 closed

[2019-06-03 08:24] jnothman commented on #13990
While we're at it, can we avoid making a function beginning "train" where
it is not being used as a verb???? Why not "split_dataset" or
"split_samples"?

We could allow:

(X_train, y_train), (X_test, y_test) = split_samples(X, y, test_size=.2)
(X_train, y_train), (X_val, y_val), (X_test, y_test) = split_samples(X, y,
val_size=.2, test_size=.2)

or even:

(X_train, y_train), (X_val, y_val), (X_test

[2019-06-03 08:41] TomGauss commented on #2439
Yes. I totally agree! This also happened to Brier_score_loss, it works perfectly fine using Brier_score_loss, but it gets confusing when it comes from the GridSearchCV, the negative Brier_score_loss returns. At least, it would be better output something like, because Brier_score_loss is a loss (the lower the better), the scoring function here flip the sign to make it negative.

[2019-06-03 09:43] adrinjalali commented on #12730
@MiladShahidi you still working on this? Or should we put it up for grab?

[2019-06-03 10:25] MiladShahidi commented on #12730
I'm afraid I could not find the time to work on this. Would be great to have someone else look into it.

[2019-06-03 11:36] 66Antigravity commented on #13668
Hi, @jnothman what do you think about the integration of the heterogeneous kernel?

Again, here is some basic comparison of runtime, on categorical matrices. This kernel can work with heterogeneous datasets (both numerical and categorical features).

![runtime-comp-card-2k-4k.pdf](https://github.com/scikit-learn/scikit-learn/files/3247307/runtime-comp-card-2k-4k.pdf)

It can be very beneficial if

[2019-06-03 12:54] adrinjalali commented on #14011
An easier way to reach a broader audience is to include it either as a sklearn-contrib project, or to include it in the sklearn-extra project. I think this would easily meet our inclusion criteria for either of those cases.

[2019-06-03 13:04] adrinjalali commented on #13986
I think I'd worry about not copying even if the user explicitly says so. Imagine you have a live system which is updating some matrix on the go, and every now and then does some training using a snapshot of the data. In that case, the user would probably want to have the model to use a copy of the data instead of the data which is changing in another thread as the model trains.

That said, I'd say

[2019-06-03 13:08] johannfaouzi commented on #13967
I can try to work on this if you did not change your mind @NicolasHug .

[2019-06-03 13:16] NicolasHug commented on #13967
Cool go ahead!

[2019-06-03 17:15] stevennic opened #14014 "Division by Zero running GridSearchCV with HistGradientBoostingClassifier"
#### Description
I just tried running `GridSearchCV` on `HistGradientBoostingClassifier` but it crashed with a division by zero error. I was running with verbose logging. The last report from GridSearchCV indicated the following status:
[code]
#### Steps/Code to Reproduce
[code]
#### Expected Results
Not to crash.

#### Actual Results
[code]

#### Versions
[code]

[2019-06-03 17:49] bayerthomas commented on #14010
Here is the output:
`
print(dist_matrix[8])
[0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.12156752
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.

[2019-06-03 18:51] acmilannesta opened #14015 "pass sample weight into py_func"
Hi,

I'm running on scikit-learn 0.20.2 on python 3.6 and win10.
I tried to use the "roc_auc_score" metric and passed to keras validation metrics by using the tensorflow command "py_func". Here is my code:

[code]

However, I got the following error:

InvalidArgumentError Traceback (most recent call last)
in ()
19 y_val = np.random.randint(2, size=(100, 1))
20 w_val = np.random.rand(100, 1)
---> 2

[2019-06-03 19:14] rajeshjnv commented on #7801
If we put as imput training_data_X, training_scores_Y to fit method it cause error. To avoid it we will convert and encode labels

from sklearn import preprocessing
from sklearn import utils
lab_enc = preprocessing.LabelEncoder()
y_train = lab_enc.fit_transform(y_train)
print(y_train)
print(utils.multiclass.type_of_target(y_train))
print(utils.multiclass.type_of_target(y_train.astype('int')))
prin

[2019-06-03 22:47] NicolasHug commented on #14014
That doesn't sound good, we have constraints to enforce minimal values for the hessians.

What are `X` and `y`?

[2019-06-03 23:54] jnothman commented on #13668
Hmmm.... Is there a straightforward way to define this for polynomial, rbf,
etc. kernels? I think we may just want a `categorical_features` parameter
to `linear_kernel`. WDYT?

[2019-06-04 01:34] amueller opened #14018 "Zero division error in HistGradientBoosting"
[code]
NaN

This dataset is a bit weird in that it has 100 classes with 16 samples each. The default parameter don't work very well but we should fail more gacefully.

cc @NicolasHug

[2019-06-04 05:07] r0f1 commented on #13917
I just learned that there is a [GroupKFold](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GroupKFold.html#sklearn.model_selection.GroupKFold) class in the sklearn.model_selection package. It works like a regular KFold cross-validator, but additionally accepts a `group` argument. So why not make a GroupDummyRegressor?

[2019-06-04 06:38] jnothman commented on #13917
Because ensuring your evaluation methodology is appropriate is a
fundamental concern of doing machine learning correctly, while there are
myriad choices in designing baseline predictors. Note also that the group
is not necessarily a feature of each sample used in prediction.

[2019-06-04 08:32] jeremiedbb commented on #13977
I would go with the first solution. A fixture should make it not too painful to implement I guess.

[2019-06-04 08:50] 66Antigravity commented on #13668
Yes, there is a straightforward way. In my implementation, I used closure to "simulate" the callable kernel. It is depending on the number of parameters you put into the ```build_hetero_kernel``` function.

Look at this snippet, where I used closure for various (three) kernels:

[code]

I am not sure, how you want the kernel function to be "callable" in the constructor of e.g. [SVC](https://scikit

[2019-06-04 08:53] glemaitre commented on #14018
I am just adding the traceback

[code]

[2019-06-04 11:16] jnothman commented on #14014
Duplicate of #14018

[2019-06-04 11:47] rth commented on #13977
Also related to https://github.com/scikit-learn/scikit-learn/issues/10562

[2019-06-04 12:00] thomasjpfan commented on #14018
At a glance, the softmax is bringing probabilities close enough to zero, which causes hessians to be zero for the cross entropy loss.

[2019-06-04 12:39] NicolasHug commented on #14014
More like the other way around, but we should keep both anyway. This one's binary classification, the other is multiclass

[2019-06-04 13:30] NicolasHug commented on #14018
I think the right fix is just to add a small epsilon to the denominator to avoid the zero division.

As Thomas noted these cases happen when the trees are overly confident in their predictions and will always predict a probability of 1 or 0, leading to stationary gradients and zero hessians.

We hit this part of the code in `initialize_root()`:
[code]

and since hessians are zero `finalize_leaf()`

[2019-06-04 14:15] glemaitre opened #14023 "CRON job failure with new dev version of numpy in IterativeImputer"
This issue is opened regarding the failure of the `IterativeImputer` tests on the CRON job.

The failures are due to a bug in NumPy: https://github.com/numpy/numpy/issues/13713

NB: I opened this ticket such that no one else investigates the issue ;)

[2019-06-04 19:15] thomasjpfan opened #14025 "Disable LGTM for javascript and C++"
Recently there is an error with LGTM (for C++), that requires this fix in `lgtm.yml`:

[code]

LGTM has not have any alerts for C++ and Javascript: https://lgtm.com/projects/g/scikit-learn/scikit-learn/alerts/?mode=list

Should we disable LGTM for C++ and Javascript? The closest instruction I found regarding disabling it is [here](https://help.semmle.com/lgtm-enterprise/admin/help/disabling-analys

[2019-06-04 20:24] fdas3213 commented on #13976
It's so strange that when I call `export_text` without adding `feature_names` argument, such as `tree_text = export_tree(tree)`, it works properly, and `export_text` will print feature names as `feature_0` as indicated in the export.py.  However, when I access `tree.tree_.feature`, it gives an array with values `0` and `-2`, like `array([0, 0, -2, 0, -2, ...])`; shouldn't this array contain only o

[2019-06-04 20:34] rth commented on #13611
Closing, as there isn't much we can do about this unfortunately.

[2019-06-04 20:34] #13611 closed

[2019-06-04 21:11] aramhamidi commented on #6154
Hi Jamie, I am having the same issue with using IsolationForest in unsupervised learning.  Do you mind sharing your ideas with me?

[2019-06-04 22:18] jnothman commented on #13976
-2 indicates a leaf node, which does not split on a feature

[2019-06-05 00:01] amueller commented on #14008
I would be on-board with making it the global default. @GaelVaroquaux might think differently?

[2019-06-05 00:35] jnothman commented on #14008
Iirc, I and Gaël were both concerned that it should be easy to see what
parameters are available for an estimator, which the user hadn't
considered. IMO making that the case only when the estimator isn't embedded
in another is a very reasonable compromise.

[2019-06-05 00:45] jnothman commented on #14025
Okay by me

[2019-06-05 02:47] thomasjpfan commented on #14025
While we are at it, we can migrate to the lgtm github app: https://github.com/apps/lgtm-com It places the alerts in the `checks` tab, not polluting the comment section in the PR.

[2019-06-05 06:11] GaelVaroquaux commented on #14008
Indeed. The question is: do the benefit (less crowding) overcome the
drawback mentioned.

Do you mean the opposite: turning "print_changed_only" on only when the
estimator is embedded? That would seem like an excellent behavior to me.

Overall, I can be easy convinced either way, I must say.

[2019-06-05 13:31] ryankarel commented on #5975
Agreed. Coming from the R world, I was surprised that sklearn didn't already have GLM functionality. I hope it will soon.

[2019-06-05 13:59] scouvreur commented on #13990
Hi there - could I work on this issue ?

[2019-06-05 14:43] henningsway commented on #8710
I'm currently running into the same issue.

Is this clearly an input-validation-issue, so that the encoding of categorical data won't be attempted before an error is thrown? Is there a way to disable this input-validation locally?

(I am also not familiar with `_CalibratedClassifier` and how to use it)

[2019-06-05 15:10] adrinjalali opened #14029 "Warn if default numpy.int is 32 bit, or document it."
Related to https://github.com/scikit-learn/scikit-learn/pull/13961#issuecomment-499119230

The doctests would fail if the default `numpy.int` is 32 bits long. We should either document this or have a step somewhere for pytest to warn, maybe something along the lines of:
[code]

[2019-06-05 15:19] amueller commented on #14029
+1 for documenting it and raising a warning.

[2019-06-05 15:23] amueller commented on #8710
Hm I'm a bit surprised by the outcome of #13077 but I guess using dicts wasn't anticipated. I only skimmed the discussion there but I feel like we should skip the input validation even more.

[2019-06-05 20:09] fdas3213 commented on #13976
Since `feature_names` is a single item list, accessing this list using `0` and `-2` caused the error. Maybe should consider removing `-2` from `tree_.feature` so that `tree_.feature` contains only `0`?

[2019-06-05 21:29] jnothman commented on #13976
export_tree should never be accessing the feature name for a leaf

[2019-06-05 23:43] jnothman commented on #13990
I don't think we've agreed on a design. Feel free to propose a name and
docstring to make it tangible.

[2019-06-05 23:44] jnothman commented on #14029
The documentation won't be seen.. happy to have the warning

[2019-06-06 10:11] henningsway commented on #8710
Yes, by glimpsing over the code it seemed, as if some ndimensional input (tensors?) would be allowed now.

Do you have a suggestion, how to circumvent this issue as a user for now?
I could probably split the pipeline in two, so that the calibrated classifier is passed the type of input it expects.

(Making this class play nice with `Pipeline` and `GridSeachCV` would seem really valuable to me, bec

[2019-06-06 13:08] glemaitre commented on #14023
The PR was merged

[2019-06-06 13:08] #14023 closed

[2019-06-06 14:06] ab-anssi opened #14031 "[BUG] Non executed test - fail when executed"
This part of the test `check_sparse_input` in `sklearn/ensemble/tests/test_gradient_boosting.py` is never executed.

https://github.com/scikit-learn/scikit-learn/blob/ec35ed226ca104e841238f2fac24269c2f9f2730/sklearn/ensemble/tests/test_gradient_boosting.py#L1220-L1238

The problem is that `isinstance(EstimatorClass, GradientBoostingClassifier)` is never `True`. It should be replaced by `issubclass

[2019-06-06 15:06] amueller commented on #14029
I agree the docs are unlikely to be found, but I generally prefer all behavior to be documented ;)

[2019-06-06 15:08] scouvreur commented on #13990
Sure ! Here is a first idea :

[code]

Not yet sure what the `shuffle = False` behaviour would be though.

[2019-06-06 15:18] jeremiedbb opened #14033 "NCA fails in GridSearch due to too strict parameter checks"
NCA checks its parameters to have a specific type, which can easily fail in a GridSearch due to how param grid is made.

Here is an example:
[code]

The issue is that for `tol`: 1 is not a float, and for  `n_components`: np.int64 is not int

Before proposing a fix for this specific situation, I'd like to have your general opinion about parameter checking.
I like this idea of common parameter check

[2019-06-06 16:09] NicolasHug opened #14034 "data leak in GBDT due to warm start"
(This is about the non-histogram-based version of GBDTs)

X is split into train and validation data with `train_test_split(random_state=self.random_state)`.

As @johannfaouzi noted, in a warm starting context, this will produce a leak if If `self.random_state` is a `RandomState` instance: some samples that were used for training in a previous `fit` might be used for validation now.

~~I think the

[2019-06-06 17:24] KOLANICH commented on #9986
There are plenty things that cannot be pickled. If one of them get its way into an object being pickled by stuff like multiprocessing, for example damned `TextIOWrapper`, everything just stops with an exception. Damn.

[2019-06-06 17:50] happyhuman commented on #12903
Was this issue resolved? I am having the same issue. scikit-learn version: 0.20.2

[2019-06-06 17:59] thomasjpfan commented on #14033
I have developed a framework, experimenting with parameter verification: https://github.com/thomasjpfan/skconfig (Don't expect the API to be stable)

Your idea of using a simple dict for union types is really nice!

[2019-06-06 18:07] thomasjpfan commented on #12903
Python's pickle does not support this. Scikit-learn internally uses joblib, which uses [cloudpickle](https://github.com/cloudpipe/cloudpickle):

[code]

[2019-06-06 18:56] fdas3213 commented on #13976
Exactly, but in line 893, `feature_names = [feature_names[i] for i in tree_.feature]`, where
`tree_.feature = array([ 0,  0, -2,  0, -2,  0, -2,  0, -2,  0, -2,  0, -2, -2,  0,  0,  0,
       -2,  0, -2, -2,  0, -2,  0, -2,  0, -2, -2,  0,  0,  0, -2,  0,  0,
        0, -2, -2, -2,  0, -2,  0,  0, -2, -2, -2, -2, -2], dtype=int64)`. So it's obviously accessing -2(leaf node), and that's why this bu

[2019-06-06 21:25] quasiben opened #14036 "[QST] Updating indices creation for split"
I am interested in using GridSearchCV machinery from sklearn with non-numpy libraries like [cuDF](https://github.com/rapidsai/cudf) or [dask.array](http://docs.dask.org/en/latest/array.html).  In exploring this work, I think functions like `_iter_test_indices` and `_iter_test_masks` could be amended slightly to return slices instead of numpy arrays.

For example in `_iter_test_indices`:
https://gi

[2019-06-06 22:49] jnothman commented on #13976
Which means that the problem is not in the index, but in the control flow
that allows that statement to be executed.

[2019-06-06 23:48] jnothman commented on #14036
I have wondered about this in the past. One complication is simply that we
have no idea how much code out there was relying on the sample being a copy
and not a view...

[2019-06-07 00:03] mrocklin commented on #14036
I think that even a conservative change like the following would be welcome:

[code]

In Dask at least the copy is free for us.

[2019-06-07 00:29] jnothman commented on #14036
Why is that beneficial then?

[2019-06-07 00:33] jnothman commented on #14036
I guess I can see why it's beneficial to sparse matrices, so I get it.

I suspect that this is not a trivial change in code, particularly because
of the separation of duties between the splitter and the indexation.

[2019-06-07 01:08] jnothman commented on #12903
I don't think joblib.dump uses cloudpickle, does it?

[2019-06-07 02:49] thomasjpfan commented on #12903
Ah joblib.dump doesn’t use cloudpickle... https://github.com/joblib/joblib/issues/835

[2019-06-07 07:38] adrinjalali opened #14037 "`prange` in trees"
related to #13213 and triggered by https://github.com/scikit-learn/scikit-learn/pull/12887#discussion_r291233707

we train trees in parallel in tree ensembles (IIRC), so I'm not sure how much we'd benefit from using `prange` in the tree code base. Still, some benchmarks would be nice before we decide how to proceed.

The benchmark would compare the master, with a version of trees where some of the

[2019-06-07 07:48] adrinjalali opened #14038 "TREE: public function/method to return a new estimator with a new ccp_alpha"
related: https://github.com/scikit-learn/scikit-learn/pull/12887#issuecomment-499559966

After #12887, we should decide if we want a public function/method which would return a tree estimator, pruned according to a new `ccp_alpha`.

To me it makes sense to have a method which doesn't change `self`, and can be used like:

    pruned_tree = orig_tree.prune(ccp_alpha=new_alpha)

[2019-06-07 07:59] adrinjalali opened #14039 "TREE: warm_start with ccp_alpha"
Related to https://github.com/scikit-learn/scikit-learn/pull/12887#issuecomment-499559966

#12887 mutates the `self.tree_` of the tree estimator, and hence if we want a `warm_start` on `ccp_alpha`, it should be noted that it has a direction (`ccp_alpha` can only be increased), and for the grid search to know that(?). Otherwise, the estimator should ignore the warm_start and fit a new one.

It may

[2019-06-07 08:43] jeremiedbb commented on #14037
Hard to tell without benchmarks but I doubt that this approach would be faster. Parallelizing the outermost loop is usually the fastest (unless there are only a few steps in that loop => won't use all cores). Moreover if there's inherent sequential part in the trees, it would hurt the performances.

[2019-06-07 08:46] rth commented on #3020
Another solution could be to deprecate `normalize` in linear models altogether and suggest using a `StandardScaler` or some other appropriate scaler in a Pipeline. The advantage is that,
 - it makes switching models more natural (no need to think about normalization by re-using a common pre-processing step)
 - makes users think about the right scaler for their data
 - lowers the cognitive load whe

[2019-06-07 09:44] jeremiedbb commented on #14033
If I understood correctly your package is designed for a sklearn user, who has to implement its validator for each estimator, or did I get it wrong ?
I think we want to keep the param validation inside the estimators.

maybe you can pitch me and if you want I can give a hand :)

[2019-06-07 10:20] Midhilesh4890 commented on #12891
It worked because of epochs=1 but in the real code epochs=100

[2019-06-07 10:30] xubury commented on #12891
are you sure?I remember tried 10 epochs and it worked well.I don't think epochs has anything to do with this problem. I think it caused by multithreading compatibility of Ipython, if you ran the code in jupyter notebook or windows shell, you won't have this problem.

[2019-06-07 10:37] Midhilesh4890 commented on #12891
Hi,
Thanks for replying.
I realised about the epochs so deleted the comment
But actually what I meant is as when epochs=100 it keeps on running 100
times for the 10 batches and taking a lot of time.
But it didn't give error.

Anyway thanks for replying

Thanks
Midhilesh

On Fri, 7 Jun, 2019, 4:02 PM xubury, <notifications@github.com> wrote:

[2019-06-07 11:06] xubury commented on #12891
Just recreate the code in a different computer.Turns out even if you ran the script outside spyder, it will still possibly throw an error.
So the best solution is:
1.import build_classifier from a different py file and wipe out the 'self' arugment.
2.Run the script outside spyder
The situation varies from computer and OS, some people can skip the first step and have 0 error.

[2019-06-07 12:56] #14031 closed

[2019-06-07 14:06] thomasjpfan commented on #14033
I would have loved to using the typing system to get this to work:

[code]

but that would have to wait for [PEP 593](https://www.python.org/dev/peps/pep-0593/). In the end, I would want the validator to be a part of sklearn estimators. Using typing (as above) is a natural choice, since it keeps the parameter and its constraint physically close to each other.

If we can't use typing, these constra

[2019-06-07 15:46] NicolasHug commented on #14037
The most obvious parallelization would be to parallelize the split finding procedure over each feature since they're independent.

But as Jeremie noted that could lead to over subscription, typically for forests.

I feel like the only benefit would be to grow single trees.

[2019-06-07 15:47] jeremiedbb commented on #14033
I agree, and to go further it would be really nice to use them for the coverage to check that every possible type of a parameter is covered by tests

This is already the case for a subset of the estimators (`_check_params` or `_validate_input`). But it's often incomplete.

Your framework does way more than what I proposed. Maybe we can do this in 2 steps:
First, a simple single param check which o

[2019-06-07 15:48] amueller commented on #14037
I was meeting with people at JHU this week who are working on this:
https://github.com/neurodata/RerF
and they build several trees in parallel on the same core, I think, and said it was super fast. I haven't looked into it, though.

[2019-06-07 16:00] NicolasHug commented on #14034
After discussing with @amueller 	, maybe the best option would be to:

- store a seed attribute e.g. `_train_val_split_seed` that would be generated **once**, the first time `fit` is called
- pass this seed as the `random_state`  parameter to `train_test_split()`.
- add a small test making sure this parameter stays constant between different calls to `fit`

[2019-06-07 16:05] amueller commented on #14034
This should only be done when warm_start is true, though. So different calls to ``fit`` without warm start should probably use different splits if random state was None or a random state object.

[2019-06-07 16:13] amueller opened #14042 "RFC design of random_state"
This is inspired by #14034 but we had several similar issues of the years.
The current design of ``random_state`` is often hard to understand and confusing for users.
I think we should rethink how ``random_state`` works. Maybe that's a 1.0 issue, I'm not sure.

What I find most confusing is the behavior of passing a RandomState object to ``random_state``, because that makes the object be statefull

[2019-06-07 16:15] NicolasHug commented on #14034
Right.

The problem is that we allow warm_start to be False the first time we fit, and later set it to true with `set_params` :(

[2019-06-07 16:27] amueller commented on #11622
Some possibly useful pointers:

I think this might be a good entry point:
https://docs.pytest.org/en/latest/usage.html#calling-pytest-from-python-code

Here's how to use hooks:
https://docs.pytest.org/en/latest/example/simple.html#incremental-testing-test-steps

I think you want to work with the collection hooks?
https://docs.pytest.org/en/latest/reference.html#collection-hooks

[2019-06-07 16:29] amueller commented on #14034
Sorry, we should always store the seed, but only re-use it if ``warm_start=True``.

[2019-06-07 16:31] happyhuman commented on #12903
What would be a decent workaround for this?

[2019-06-07 18:49] urigoren commented on #12903
https://github.com/urigoren/decorators4DS/blob/master/decorators4DS/sklearn_dec.py#L30

[2019-06-07 19:35] NicolasHug commented on #14037
I would tag this as hard. it requires a pretty solid knowledge of the trees, and some cython code.

(BTW, "intermediate" and "moderate" are synonyms to me, assuming a "easy / something_in_between / hard" scale.)

[2019-06-07 19:40] NicolasHug commented on #14015
You'll need to convert your tensors into numpy arrays before you pass them to scikit-learn utils

[2019-06-07 22:30] glemaitre opened #14044 "Estimator tag overwriting and update in _get_tags"
I am updating some code in `imbalanced-learn` to use the estimator tag. In some way, I was able to add a new entry in the `_DEFAULT_TAGS` and use the implementation of `_safe_tags`.

I have the following use case:

[code]

For some reason, all estimators inheriting from the `BaseClass` would have a `sample_indices` tag to `True`. All but not for one class where I would like to overwrite the tag. H

[2019-06-08 01:20] bfelbo opened #14045 "RFE unable to find informative features on trivial dummy dataset"
#### Description
`RFE` is unable to find the 3 informative features using a simple linear SVM classifier despite the SVM classifier getting ~99% accuracy. Am I missing something or is there a bug with the feature selection or with `make_classification()`?

According to the docs, the 3 informative features from `make_classification()` should be in the first three columns.

#### Steps/Code to Reprod

[2019-06-08 01:24] bfelbo commented on #14045
Nevermind, it was not obvious to me that there was a default `shuffle=True`, which modifies the column order. I've always shuffled row-wise, not column-wise.

[2019-06-08 01:24] #14045 closed

[2019-06-08 17:02] NicolasHug commented on #14044
I don't think that would work. `_get_tags()` only allows the default tags (declared in base.py) to be overridden once in the class hierarchy.

I don't remember why this was decided in the first place but @amueller might have more insight.

May I ask what you plan to use the 'sample_indices' tag for? Using tags for anything else than estimator checks is prone to many issues (https://github.com/scik

[2019-06-08 17:15] glemaitre commented on #14044
I was maybe not precise enough. When I meant each class, I meant each specialized class. This would work (cf. https://github.com/scikit-learn-contrib/imbalanced-learn/pull/577/files)

This is actually the case. We want to use it for enabling a common test in our estimator checks for the sampler which complement the one of scikit-learn.

[2019-06-09 08:34] stevennic commented on #14014
In case it helps, this is a variable snapshot at the exception point.
[code]

[2019-06-09 10:34] adrinjalali commented on #14025
Does using the app also require this fix? At a glance it seems it may be easier with the app?

[2019-06-09 10:51] abhinavsagar commented on #14029
I can work on this. Where should I document the above ?

[2019-06-09 13:57] thomasjpfan commented on #14025
I tried to install the app on a personal project and was unable to disable a language. In the LGTM forums, a staff member mentioned that this feature will be available soon: https://discuss.lgtm.com/t/how-to-turn-off-language-python-support-for-the-c-project/1388/4

[2019-06-09 13:59] thomasjpfan commented on #13984
@rth `.coveragerc` likely needs `**/*/setup.py`

[2019-06-09 14:13] thomasjpfan commented on #14042
I am +1 on deprecating `RandomState` object as input and keeping `random_state=None` for now. I do not think passing `RandomState` is common, thus deprecating it should not be too painful.

[2019-06-09 22:57] NicolasHug opened #14054 "var_smoothing parameter of GaussianNB isn't documented nor tested"
`var_smoothing` was introduced in https://github.com/scikit-learn/scikit-learn/pull/9681

It's quite unclear from the doc why one would want to use this parameter, and what it does. A short section in the user guide would be helpful.

Same for the `epsilon_` attribute that is attached to it.

It would also need some tests, and some input validation (I assume it should be in [0, 1], or at least > 0

[2019-06-10 03:41] UnixJunkie commented on #1513
There is a C++ implementation of RVM in there (supplementary material of a paper):
https://pubs.acs.org/doi/abs/10.1021/ci200128w
Precisely here:
https://pubs.acs.org/doi/suppl/10.1021/ci200128w/suppl_file/ci200128w_si_001.zip

[2019-06-10 07:06] agramfort commented on #14011
+1 to migrate the repo matrixprofile-ts to scikit-learn-contrib or putting it in sklearn-extra

[2019-06-10 09:55] agramfort commented on #3020
one solution would be rename normalize to standardize and we should ensure that

make_pipeline(
   StandardScaler(),
   LinearModel(standardize=False)
)

and

LinearModel(standardize=True)

are equivalent models, also if fit_intercept=True and no matter if X
is sparse or dense.
What is not clear is if it's even possible as StandardScaler will not
center the data
when X is sparse while our linear m

[2019-06-10 10:25] timstaley opened #14055 "ARD Regressor accuracy degrades when upgrading Scipy 1.2.1 -> 1.3.0"
Hi,
bit of a tricky one, I'm hoping someone will have some time and/or suggestions for further investigation!

There seems to be an often-occurring worsening of performance (i.e. accuracy, although run-time increases too!) from the ARD regressor when upgrading from Scipy 1.2.1 -> 1.3.0.

## Description
On a very simple dataset (see code snippets below) where a near-perfect fit should be achievable

[2019-06-10 10:39] rth commented on #14055
Thanks for the report. After a quick check `ARDRegression` uses `pinvh` from scipy. The cutoff factor for small singular values  was recently changed in https://github.com/scipy/scipy/pull/10067 it might be worth setting the previous value in scikit-learn code and see if that allows you to reproduce previous results.

[2019-06-10 12:25] timstaley commented on #14055
Thanks for the suggestion, I'll see if I can pin that down.

[2019-06-10 12:34] NicolasHug commented on #14055
that's not the first time this change is causing issues in our code https://github.com/scikit-learn/scikit-learn/pull/13903

[2019-06-10 12:40] evanmiller29 opened #14056 "Inconsistent column references with columntransformer for text/numeric cols"
#### Description
A small two column dataset with a text column and a numeric column requires inconsistent list notation usage.

I found it raised [here](https://stackoverflow.com/questions/54694923/columntransformer-with-tfidfvectorizer-produces-empty-vocabulary-error) but I found the errors quite confusing even once I solved the issue.

#### Steps/Code to Reproduce
[code]

#### Actual Results
[co

[2019-06-10 12:53] jnothman commented on #14056
FMost Scikit-learn estimators expect each sample to be represented as a
numeric vector, i.e. a set of columns from a DataFrame. Vectorizers are the
exception, where a sample is represented by a string of text (or a
filename).

[2019-06-10 13:16] timstaley commented on #14055
Yep, a quick-and-dirty patch confirms this is due to the aforementioed pinvh cond changes
(https://github.com/scipy/scipy/pull/10067)

I'm happy to try and clean that up into something more readable and maintainable, alternatively can leave this open for people to have a think about a more rigorous approach to computing a sensible pinvh cutoff value (not something I'm up to speed on personally).

[2019-06-10 13:57] NicolasHug commented on #14044
Ok thanks.

IIRC it was decided not to rely on `super()` for `_get_tags()` because it would make the MRO (and thus the tags of an instance) dependent on the order of the base classes, e.g. `MyClass(BaseClasse1, BaseClasse2)`  versus  `MyClass(BaseClass2, BaseClass1)`.

So I don't think we want to introduce `super()` again.

----

But I agree the current design is quite rigid.

As far as I understa

[2019-06-10 14:06] vnmabus opened #14057 "All tests in `check_estimator` are disabled if `X_types` does not include `"2darray"`"
#### Description
All tests in in `check_estimator` are disabled if `X_types` does not include `"2darray"`. Some tests such as `check_get_params_invariance` or `check_set_params` do not require a `fit` step, and should be run no matter what.

I am currently building a library that uses its own data types, but tries to be Scikit-learn compatible. Thus, I try to make estimators with the same API as S

[2019-06-10 16:02] edu-gp opened #14058 "OneHotEncoder not remembering it's been fitted when used inside ColumnTransformer"
#### Description

OneHotEncoder not remembering it's been fitted when used inside ColumnTransformer. See code to reproduce:

#### Steps/Code to Reproduce

First, we can check that OneHotEncoder works:

[code]

Output:
[code]

Next, we can see that when we wrap OneHotEncoder inside a ColumnTransformer, it doesn't remember it's been fitted:

[code]

output:
[code]

#### Versions

- python 3.6.8
- sk

[2019-06-10 17:16] NicolasHug commented on #14058
The attribute you need to use is `transformers_`, not `transformer`.