[2019-08-07 08:15] jgrizou commented on #13211
Hi @amueller , thanks for looking into it!

Totally agree, see https://github.com/scikit-learn/scikit-learn/issues/13211#issuecomment-511423096

---

You mean that when calling `clf.predict_proba()` from a `SVC` with `probability=True`, we call `libsvm` and that by default (without me asking) it is performing a cross-validation procedure (with a number of fold I did not specify and cannot know), a

[2019-08-07 08:35] albertcthomas commented on #10642
It's not that feature importances are not feasible but rather that as far as I know there is not a clear way to interpret them.

[2019-08-07 08:51] evanmiller29 commented on #2801
Hey @amueller/@jnothman - does this still need some work? I'm happy to open a PR and work on it.

[2019-08-07 09:14] adrinjalali commented on #14582
Looks good to me. At least it's a massive improvement.

[2019-08-07 09:16] glemaitre commented on #14582
Good to me as well.

[2019-08-07 09:38] #10778 closed

[2019-08-07 10:31] h-2-0 commented on #12897
@jnothman,

Thanks for your kind response!

I think your reply to the person's [question](https://stackoverflow.com/questions/57340142/user-warning-your-stop-words-may-be-inconsistent-with-your-preprocessing) at StackOverflow makes the user warning very clear.

So perhaps it could be used as a starting point to improve that user warning. I have been encountering these user warnings for some time n

[2019-08-07 10:39] rth commented on #14583
Support for complex dtype is out of scope for scikit-learn. Doing so would  require to have more tests and it increases the likelihood of some edge cases not being properly handled. Closing, sorry.

In this particular case, you can convert your complex array to a multi-channel array of floats (that would then be 3D), which is supported by `extract_patches_2d`. That is commonly done in image proces

[2019-08-07 10:39] #14583 closed

[2019-08-07 10:45] rth commented on #12897
@h-2-0 you are very welcome to propose a PR with a better wording.

[2019-08-07 11:28] jnothman commented on #12897
Unless you can get the message a whole lot clearer, it might be better to
leave it as it is so that people can find relevant answers here and on
stack overflow.

I don't think the message says anything about generating a stop word list,
but yes the message might be a little too succinct. And a UserWarning, to
me, means the user did something problematic. I don't know how you infer
from that that e

[2019-08-07 11:57] rth commented on #14547
It's good to know that it also fails with CPython besides PyPy. Re-opening.

[2019-08-07 11:58] getgaurav2 commented on #14580
@jnothman - can I work on this issue ?

[2019-08-07 12:20] jnothman commented on #13478
return_predictions is okay by me. I think we can consider allowing it to be
a string to avoid an extra predict_method param???

[2019-08-07 12:25] zwep commented on #14583
Okay, thanks for that piece of information. I can understand that extending towards complex can bring more test cases with it. Especially given the easy work around. However I do want to continue this argument a little bit. Curious what your response is.

Extracting patches does not depend on the `dtype` at all. The function of `check_array` is, according to its description, also not bothered by d

[2019-08-07 12:41] rth commented on #14583
Yes, complex values are explicitly [not supported in `check_array`](https://github.com/scikit-learn/scikit-learn/blob/7e7b5092991cf7a7cf6bd95d56b08deef5eb9847/sklearn/utils/validation.py#L507) even with `dtype=None` (see https://github.com/scikit-learn/scikit-learn/issues/9528 for the initial motivation). It sounds like the original concern was that some estimators might silently provide incorrect

[2019-08-07 13:03] cvesteghem opened #14587 "random_state in LogisticRegressionCV does not seem to work"
Hi all,

While trying to do logistic regression with cross validation (LogisticRegressionCV), I noticed that changing the random_state does not seem to have any impact on the results. On the other hand, shuffling the data set using pandas sample function does lead to small differences as expected.

#### Code example
[code]

#### Expected Results
Some variations as in the `sample(frac=1)` case.

##

[2019-08-07 13:42] zwep commented on #14583
Ah cool, thanks for the link to the initial motivation. If I find the time to figure out how to update documentation properly, then I will do that.
Thanks for your time :)

[2019-08-07 15:47] sergeyf commented on #14338
It does look like the convergence criterion we currently have is much harder to reach than the one based on L2 norm that I sketched above. Even having that one satisfied requires raising `tol=0.01` in the California housing example.

Also, the resulting values (with `verbose=True`) suggest that the MissForest approach (stop as soon as difference goes up once) will stop almost instantly:

[code]
No

[2019-08-07 15:55] adrinjalali commented on #14404
https://github.com/scikit-learn/scikit-learn/pull/12356 closes this one :)

[2019-08-07 15:55] #14404 closed

[2019-08-07 16:00] thomasjpfan commented on #14404
Time to start updating our docstrings...? 😅

[2019-08-07 16:01] adrinjalali commented on #14404
yaaaaaaaaaaaaay lol

[2019-08-07 16:20] #14501 closed

[2019-08-07 16:29] h-2-0 commented on #12897
Thanks, @rth.  For the moment I think is better to leave it as it is now, as @jnothman  says.

Now I am thinking: how do I account for normalising my stop words when I use a pipeline and GridSearchCV with the tokeniser (None, MyTokenizer) and/or preprocessor (None, MyPreprocesor) parameters (i.e. I don't know how the tokens will look like)? Shouldn't my custom stop words be proprocessed/tokenised

[2019-08-07 16:38] amueller commented on #10715
also see https://github.com/scikit-learn/scikit-learn/pull/10720#issuecomment-518878136

[2019-08-07 17:08] amueller commented on #14582
I think this is a good first step, but I would like to move one level up and clean up https://scikit-learn.org/dev/developers/index.html

But maybe separating these two is a good first step in cleaning that up.

[2019-08-07 17:24] amennen commented on #13662
I'm confused how this is a cross-validation issue, because when I was testing this, I trained the classifier on many samples with probability = True. I tested with few samples, but the classifier was already trained, so that shouldn't matter, right? I tested this thoroughly with different class labels (both letters and numbers) and I found it always gave the output probabilities in the reverse sor

[2019-08-07 17:26] amueller commented on #13662
@amennen can you provide an example for me to reproduce? All the examples given above can be explained by there being very few samples.

[2019-08-07 17:32] TomDLT commented on #9629
Fixed in #9597

[2019-08-07 17:32] #9629 closed

[2019-08-07 17:41] amennen commented on #13662
Yes I will work on getting that to you! Is there an email or a way I could transfer data?

[2019-08-07 18:09] thomasjpfan commented on #14573
Resolved by https://github.com/scikit-learn/scikit-learn/pull/14586

[2019-08-07 18:09] #14573 closed

[2019-08-07 18:25] amueller commented on #11014
It looks like "auto" was deprecated partially. I don't understand what happened exactly but it looks like we messed up the removal of "auto":
https://github.com/scikit-learn/scikit-learn/pull/5528

It's removed from ElasticNet and Lasso but not from their path functions, and not from LassoCV and ElasticNetCV where it is overwritten (as complained about in this issue).
So the only places where "aut

[2019-08-07 18:26] LarsDu commented on #12129
@amueller Sorry, but it has been nearly a year since I touched this issue. I will try to create an example when I have the time.

[2019-08-07 18:30] amueller commented on #11014
looks like the mess originates here:
https://github.com/amueller/scikit-learn/commit/140a5acda8e44384f8e072e2d50a1d28a798cded

maybe @lesteve or @agramfort can comment on that, but it seems the "auto" code is not reachable unless calling the path functions directly, and it seem that that's just by accident?

[2019-08-07 18:40] amueller commented on #11014
Sorry I misunderstood the code. "auto" is actually used in the CV models for the path, but it's not available for fitting the final model.
So I would argue we should either use the same heuristic here, or replace "auto" by False.

[2019-08-07 18:57] thomasjpfan commented on #14584
Feel free to submit a PR to add the newline. :)

roc_curve still assumes a binary classification task.

[2019-08-07 19:00] amueller commented on #10895
@mattyellen can you provide a minimum reproducible example? Is that an issue you actually ran into?

[2019-08-07 19:16] amueller commented on #10895
Example from the tests that shows how using ``tiny`` makes stuff overflow:
[code]
fails

on master, ``decision_function(X_test)`` is
[code]
after replacing with ``tiny`` it is
[code]

If you have a use-case that requires that high a precision it would be great if you could share it, otherwise I'd prefer using the more stable version.

[2019-08-07 19:42] #14575 closed

[2019-08-07 20:33] #12895 closed

[2019-08-07 21:07] amueller commented on #14217
Hey @ankitkhadria1. It would be great if you could provide an example to reproduce, otherwise we don't know what the issue is.

[2019-08-07 21:25] jnothman commented on #2801
Well this is certainly and old issue, but it would be great if someone who knows efficient ways to store

[2019-08-07 21:25] jnothman commented on #2801
Well this is certainly and old issue, but it would be great if someone who knows both common and efficient ways to store data to review what our user guides and tutorials currently say on the topic

[2019-08-07 21:39] jnothman commented on #14547
The differences seen tolerable and we might just need to increase the tolerance

[2019-08-07 21:40] jnothman commented on #14580
Sure, @getgaurav2

[2019-08-07 21:40] jnothman commented on #14580
Consider doing the work in stages and submitting a pull request with the first warning for review

[2019-08-07 21:52] amueller commented on #13580
pretty sure the current code is correct. I'd close....

[2019-08-07 21:54] #13580 closed

[2019-08-07 22:11] amueller commented on #10360
this should reuse the tools from #11364

[2019-08-07 23:54] jnothman commented on #14587
The default CV is StratifiedKFold (5) which is not shuffled

[2019-08-07 23:54] #14587 closed

[2019-08-08 00:34] qinhanmin2014 opened #14596 "Add Display object for plot_partial_dependence"
Seems that Andy and I agree that we don't need a display object for plot_tree, opinions from other core devs are welcomed.
We'll need to return a Display object in plot_partial_dependence, I don't think this breaks current API (because currently we return nothing).
ping @thomasjpfan do you want to finish this?

[2019-08-08 00:44] thomasjpfan commented on #14596
Yup. I’ll finish this. 😆

[2019-08-08 01:13] jnothman commented on #14338
Would the approach from missforest work if we required that the criterion
is held for multiple iterations as per n_iter_no_change?

[2019-08-08 01:36] sergeyf commented on #14338
Here's the first dataset:
`150, 168, 160, 166, 166, 186, 162, 197, 173, 170`
For `n_iter_no_change==1` -> stops when we see 168 and backtrack to the 150 iter.
For `n_iter_no_change==2` -> stops when we see 160 and backtrack to the 150 iter?!

`174, 173, 149, 150, 136, 182, 196, 156, 164, 141`
For `n_iter_no_change==1` -> stops when we see 150 and backtrack to the 149 iter.
For `n_iter_no_change==2

[2019-08-08 03:50] qinhanmin2014 opened #14599 "Circle CI fails on master"
I'm unable to figure out the reason, ping @thomasjpfan can you?
[code]

[2019-08-08 05:04] #14599 closed

[2019-08-08 05:10] sameshl commented on #14580
@jnothman I opened a pull request for this. Let me know if any changes are required.

[2019-08-08 07:03] getgaurav2 commented on #14580
@jnothman  - Can you please check if I am on the right track ?

[2019-08-08 07:41] agramfort commented on #14472
@JenniferHemmerich this affinity propagation code is not often updated. If you have time to improve it's documentation and fix corner cases like the one you report please send us PR. I'll try to find the time to review the changes. thanks

[2019-08-08 08:02] cvesteghem commented on #14587
Hi Joel,

Ok, thanks for the clarification.

IMHO, it would be nice to state something in the documentation for the `random_state` parameter, something like:

[2019-08-08 08:17] jnothman commented on #12897
Arguably we could make our vectoriser clean up the stop list... But it's
been this way a long time, and we don't want to break user code by changing
this behaviour.

Also, because the analyser can be an arbitrary function, it may have
handling specific to full texts that would misbehave if applied to a single
word.

[2019-08-08 08:26] getgaurav2 commented on #14580
(py36) bash-3.2$  pytest  sklearn/feature_extraction/tests
================================================================================ test session starts ================================================================================
platform darwin -- Python 3.6.8, pytest-5.0.1, py-1.8.0, pluggy-0.12.0
rootdir: /Users/XXXXX/Documents/GauravColumbiaUniv/sklearn-firstIssue, inifile: setup.cf

[2019-08-08 08:34] jnothman commented on #14584
If ovr, roc_auc_score underlyingly constructs roc curves for each class of
I'm not mistaken. If ovo it constructs curves for each pair of classes. But
they are not exposed as api.

[2019-08-08 08:50] GuillemGSubies commented on #14584
Would it make sense to add it to the api in roc_curve?

[2019-08-08 08:54] evanmiller29 commented on #2801
Ha yeah the new bug issues are a little too competitive so I thought I'd start working on some of the older issues..

Is there scope to make a model persistence code tutorial? What do you think @jnothman?

Here's the overview of what I'd do:

- Fit model on data (probably using house price dataset)
- Dump model using joblib to .pkl
- Programatically output requirements.txt
- Save train, test to CS

[2019-08-08 09:13] glemaitre commented on #14570
I think that it makes a lot of sense. Closing the superseded would also be good in these cases. Merging the PR by pushing the work forward is something that we tried for the recent sprint. Of course this important to let some time to the contributor but after a bit of inactivity, I think this is better to fix, push, and merge their PRs.

[2019-08-08 09:14] ankitkhadria1 commented on #14217
Hi, I'm sorry I'm not able to reproduce it

[2019-08-08 09:23] chkoar opened #14603 "MLPClassifier is behaving abnormally in both training and inference in Kubernetes deployment"
#### Description
I have trained an `MLPClassifier` in my local machine, I have serialized it using `joblib` and I have packed it inside a docker image that is based on `alpine:3.10` in order to deploy it in production. The classifier works as expected in my machine. Also, if I run the docker container in my machine it works as expected. When the docker image is deployed in production using Kuberne

[2019-08-08 09:36] glemaitre commented on #14217
So let's close it.

[2019-08-08 09:36] #14217 closed

[2019-08-08 09:43] UgoM opened #14604 "GridSearchCV only partially handle cv"
#### Description
When using GridSearchCV with `refit=True` and `cv` not covering up the full dataset, GridSearchCV fits the best estimator on the full dataset regardless of what was given in `cv` param.
If `cv` splits don't cover the full index range, GridSearchCV should only fit the best_estimator on indexes seen in `cv` param.

Here is an example on dummy data. I fit a GridSearchCV on 3 folds wh

[2019-08-08 10:35] h-2-0 commented on #12897
Thanks, @jnothman! I'll adapt my code to the scikit-learn one.

[2019-08-08 14:03] tolandwehr commented on #14564
So for clarification: The workaround code is displayed below: It's custom scorer that gives Nan.values a dummy score. It's that easy:

[code]

[2019-08-08 14:43] amueller commented on #14564
@tolandwehr just to clarify, that solved the issue for you, right? looks like the right solution.

[2019-08-08 14:51] amueller commented on #13621
also see #14524 I think?

[2019-08-08 15:58] amueller commented on #14604
I disagree. The current behavior is the expected and documented behavior.

[2019-08-08 16:01] amueller commented on #14603
no idea.
If you call ``np.random.RandomState(0).uniform(size=(10, 10))`` are the results consistent?

[2019-08-08 16:02] amueller commented on #2801
There's this: https://scikit-learn.org/dev/modules/model_persistence.html

[2019-08-08 16:13] amueller commented on #14587
I'm confused by @jnothman's comment. That ``random_state`` controls the ``random_state`` of the solver, not of ``CV``. I think the docs could clarify that, though?

[2019-08-08 16:20] nicaogr commented on #13566
Hi, I would like to help and contribute to this issue.
Do you think that selecting the most relevant part of the full example file is enough ?
It have been mentioned  that it could be interesting to [give more context](https://github.com/scikit-learn/scikit-learn/pull/13713#issuecomment-486632419) but I don't really see what to add. The sentence seems clear enough.

[2019-08-08 16:28] nicaogr opened #14606 "[Feature request] Multiple Instance Learning"
Do you think that it could be possible to add (multiple instance classifiers)[https://en.wikipedia.org/wiki/Multiple_instance_learning] to scikit learn ?
(Gary Doran)[https://github.com/garydoranjr] provides really good (code)[https://github.com/garydoranjr/misvm]

It should be necessary to define a standard way to define the input data.

[2019-08-08 16:32] thomasjpfan opened #14607 "Add target for plot_roc_curve"
Similar to how in plot partial dependence we have:

[code]

[2019-08-08 16:38] amueller commented on #12129
@LarsDu Sorry, we're a bit slow sometimes :-/

[2019-08-08 16:41] amueller commented on #13662
@amennen it would be ideal if you could reproduce with synthetic data that has a couple more samples than the ones above.
I prefer keeping discussions here so it's easier for interested folks to follow. But I'll shoot you an email in case you need to provide sensitive data.

[2019-08-08 17:24] chkoar commented on #14603
@amueller yes. I tried that. I am getting the same result. I am probably doing something completely wrong but everything it seems trivial to me.

[2019-08-08 17:49] david-cortes opened #14608 "Multinomial Hessian-vector product returns input times alpha (binary one is not affected)"
In `sklearn.linear_model.logistic`, function `_multinomial_grad_hess` returns (along with the gradient) a function `hessp` which gives the product of the Hessian times a vector, which is a parameter for `hessp`.

The outputs however always seem to be the same vector that was input, multiplied by the regularization parameter. Example:
[code]

I believe the calculation for `r_yhat` in the `hessp` de

[2019-08-08 20:36] thomasjpfan commented on #14603
As an experiment, can you try using a debian docker image instead alpine and see if you get the same error?

[2019-08-08 21:23] Barracuda72 commented on #13632
It would be great if this problem was fixed. Python 2 with scikit-learn is still (still!) used by some folks here and there, not to mention _massive_ amount of scripts written before that nobody sane enough would even consider migrating onto Python3 + scikit-learn 0.21+. As 0.20 is the last release supporting Python 2, it would be great to at least leave it in the working state for such reasons. I

[2019-08-08 22:01] jnothman commented on #14584
Have you found them useful and interpretable?

[2019-08-08 22:25] arpanchowdhry commented on #14582
@jnothman I can help with this one. Do we just want to separate the content in to two different files or let me know if there are other improvements that you want to make as part of this change also?

[2019-08-08 22:44] #14604 closed

[2019-08-08 22:45] NicolasHug commented on #14582
@arpanchowdhry a first PR separating the content into 2 different files would be a great start ;)

[2019-08-09 00:10] jnothman commented on #14587
Yes, I meant it has no impact on cv, and impact on the fit depends on
solver and data. No impact whatsoever with solver=lbfgs iirc

[2019-08-09 02:23] jnothman commented on #14606
I think this is out of scope. Happy to see external projects with
compatible interfaces.

[2019-08-09 04:47] sameshl commented on #14582
@jnothman looks like the link you posted is broken? Here is the correct one https://github.com/scikit-learn/scikit-learn/blob/master/doc/developers/contributing.rst

I would like to work on this. So as I understand you want the docs to be separated by how you mentioned above?

[2019-08-09 04:59] arpanchowdhry commented on #14582
@NicolasHug Thanks. I am on it.

[2019-08-09 05:00] arpanchowdhry commented on #14582
@sameshl I am already working on this. Maybe you can working on the further improvements after I am done.

[2019-08-09 06:18] GuillemGSubies commented on #14584
If someone wants to know that AUC, makes sense for me that they might want to see the curve plotted also. However I might be missing something

[2019-08-09 06:20] arpanchowdhry commented on #14582
@jnothman I used the initial summary as a guideline to separate the sections. This is just an initial version to get feedback. The new file with developing estimators is pretty bare bones and might need more verbiage.

[2019-08-09 07:55] adrinjalali commented on #13566
Thanks for showing interest @nicaogr

The full example is in a different file ([here](https://scikit-learn.org/dev/auto_examples/cluster/plot_coin_ward_segmentation.html#sphx-glr-auto-examples-cluster-plot-coin-ward-segmentation-py)), and gives a better explanation of what happens there. The text in question may be okay, but the part of the code shown is not the best part, and showing the relevant

[2019-08-09 08:21] cvesteghem commented on #14587
@amueller, thanks for your reply.

I agree, it's kind of confusing, at least I was confused about it, so few sentences clarifying it in the docs would be great.

[2019-08-09 08:45] Pierre-Bartet commented on #14604
I disagree, IMHO refitting on the 'whole' dataset means reffiting on everything that was given (i.e. all the given indices).
It is especially useful when performing multiple cross validation.

[2019-08-09 09:14] sameshl commented on #14468
@qinhanmin2014 I would love to work on this feature. Could you just guide me on how I could go about implementing it?

[2019-08-09 09:35] qinhanmin2014 commented on #14468
I don't think there's enough consensus yet, but you can still try to submit a PR (this is a major feature so be careful).

[2019-08-09 09:38] nicaogr commented on #14606
Thanks for your answer :)

[2019-08-09 09:38] #14606 closed

[2019-08-09 12:55] secsilm commented on #10756
I have the same problem. Is there any progress on this? @jnothman @qinhanmin2014

[2019-08-09 13:02] rspadim opened #14612 "include correlation matrix function at covariance estimators"
hi folks, i'm using Ledoit Wolf algorithm, and i need correlation matrix instead of covariance

could be possible include this function at sklearn covariance algorithms?

[code]

thanks!

[2019-08-09 13:17] kjanko opened #14613 "EllipticEnvelope does not work with a sparse matrix"
The documentation for EllipticEnvelope fit method says:

However, when trying to fit with a sparse CSR matrix, an exception is thrown:

[2019-08-09 13:55] thomasjpfan opened #14614 "Allow precomputed mask as input for MissingIndicator"
Related to https://github.com/scikit-learn/scikit-learn/pull/13514

For reference here is the https://github.com/scikit-learn/scikit-learn/pull/13514#issuecomment-519921044 left by @jeremiedbb

[2019-08-09 14:01] agamemnonc opened #14615 "AttributeError with cross_val_predict(method='predict_proba') when using MultiOuputClassifier"
#### Description
I believe there is a bug when using `cross_val_predict(method='predict_proba')` with a `MultiOutputClassifer`.

I think the problem is in the use of `estimator.classes_` here:
https://github.com/scikit-learn/scikit-learn/blob/3be7110d2650bbe78eda673001a7adeba62575b0/sklearn/model_selection/_validation.py#L857-L866

To obtain the `classes_` attribute of a `MultiOutputClassifier`, y

[2019-08-09 14:01] #14056 closed

[2019-08-09 14:04] amueller commented on #13211
You very explicitly asked for it by setting "probability=True". That is exactly what this option does. That is documented at the very top of the SVC user guide and at several other places:
https://scikit-learn.org/dev/modules/svm.html#support-vector-machines

We should probably add it to the "probability" parameter as well, where it's not so far.

----

yes there is 5-fold cross-validation wheneve

[2019-08-09 14:07] amueller commented on #13211
You're using ``cv='prefit'``, which is not equivalent and arguably wrong. If you ask for different behavior you'll get different behavior. If you had used ``cv=KFold(5)``  you would have seen the same behavior, depending on the ordering of the data (liblinear shuffles by default, sklearn does not, but you can set ``shuffle=True`` in ``KFold``.

[2019-08-09 15:08] jeremiedbb commented on #14265
It does not work because you can have nested `joblib.Parallel` calls.

Besides I don't think it's such a bad behavior. Currently `n_jobs` does not match the number of cores you're actually using because it does not affect BLAS. Users are often surprised because you ask for 4 jobs and your htop is full on your 40 cores machine.

[2019-08-09 15:09] jeremiedbb commented on #14265
The discussion has derived to oversubscription questions in sklearn which is not exactly the initial purpose and which I think can be treated separately, assuming that we have the right tools to deal with oversubscription independently of the default. Thus I propose to refocus the discussion on the initial question.

Let me try to summarize the discussion.
We are currently divided, almost evenly b

[2019-08-09 16:49] logan-lieou commented on #14582
a majority of the :ref:`selective <selectiveness>` links are dead, for some reason is that intentional or something that also needs to be fixed?

I'm new so I don't really know what's going on and just trying to get involved so if there's anything I can do I want to know.

[2019-08-09 16:55] jgrizou commented on #13211
Thanks @amuller for taking the time to answer and explain again.

You are right cross-validation is mentioned multiple times in the documentation and that probably explains the discrepancies/reversed mapping I observed.

---

I probably exhausted my quota but I will risk looking like a fool again :), just to try and wrap my head around this.

What I find weird is that I often got fully reversed ma

[2019-08-09 17:35] #14584 closed

[2019-08-09 18:24] amueller commented on #13211
@jgrizou I wouldn't say you exhausted your quota yet and I appreciate your last remark. I agree that the behavior you observed wrt the difference between CalibratedClassifierCV using KFold and SVC(probabilty=True) is not sufficiently explained by what I said.

I'll try to look into it. We're looking for ways to make the ``probability=True`` less confusing (it is quite confusing right now, and no a

[2019-08-09 18:28] tolandwehr commented on #14564
Yepp, it did. Thanks again for the hint @amueller !

[2019-08-09 18:42] sameshl commented on #14216
Can I work on this @NicolasHug or should I wait for the sprint ? I can do all of them if you want.

[2019-08-09 18:47] NicolasHug commented on #14216
@sameshl 	sorry, we ended up deciding not to included this as sprint issues since it can be less error-prone doing this automatically

@adrinjalali 	I can't remember whether you opened a PR for this?

[2019-08-09 19:00] amueller commented on #14216
Do we allow "cleaning" the estimator checks? We have a soft dependency on pytest.

[2019-08-09 19:11] amueller commented on #14582
@logan-lieou sounds like it needs to be fixed. That was supposed to link to the FAQ

[2019-08-09 21:54] amueller commented on #14606
I agree that it's out of scope (even though I like t he concepts) ;)

[2019-08-10 02:07] sameshl commented on #14216
@NicolasHug I will try doing it with nose2py or some automated tool then?

[2019-08-10 03:17] bsipocz commented on #13797
I wonder whether you have a release roadmap defined somewhere? Some of these removals made me wonder when v0.22 will be released, but my googling wasn't good enough to find the answer.

[2019-08-10 12:25] HabchiSarra commented on #14340
@corona10 Hi, are you still working on this issue? Otherwise, I can take it on.

[2019-08-10 12:40] corona10 commented on #14340
Go ahead please

[2019-08-10 13:08] rth commented on #13797
Likely around the end of the year, we are trying to go to a shorter release cycle of 6-8 months...

[2019-08-10 13:59] sameshl commented on #14567
@jnothman I would love to work on this. Can you guide me on how I could go about this?
I was thinking to introduce a new attribute `percentage_features_to_select` ? Then I will have to tackle the issue of whether or not to allow a user to give both  `percentage_features_to_select` and `n_features_to_select`? I haven't thought it through fully, but can you tell me if I am on the right path.

[2019-08-10 19:55] HabchiSarra commented on #14340
Hi,
I proposed a fix by including the ignored features in the data reshaping.
Could you please check it and give me feedback about the PR?

[2019-08-10 22:07] sundaycat opened #14624 "Scikit-learn can not be built with OpenMP support"
#### Description

I got this error while compiling the source code of scikit-learn on my Mac. I have been follow the introduction step by step given by [Advanced installation instructions](https://scikit-learn.org/dev/developers/advanced_installation.html). But still have the following error:

Any help will be appreciated
#### Steps/Code to Reproduce

[code]
#### Expected Results

Complie and inst

[2019-08-10 22:33] jnothman commented on #14567
I'm happy for n_features_to_select to have fraction semantics when less
than 1.

[2019-08-11 00:40] qihongl commented on #13662
@amueller

I see. Indeed, the following example is fine:

[code]

[2019-08-11 01:38] chhabrakadabra commented on #14483
This seems like a fun project to work on. Mind if I claim it and dig into it?

[2019-08-11 01:56] amueller opened #14625 "Should DummyClassifier default be "prior""
I think we might want to change the default strategy of DummyClassifier to ``'prior'``. I have never used it with anything but ``most_frequent``, but ``prior`` behaves like ``most_frequent`` for ``predict`` and makes somewhat more sense for ``predict_proba``.
This beautiful tweet illustrates probably the most common use-case of DummyClassifier:
https://twitter.com/PhDemetri/status/1160046274374246

[2019-08-11 03:28] jnothman commented on #14625
Agreed that's a better default.

[2019-08-11 03:36] #6788 closed

[2019-08-11 05:09] kaustubh-ai opened #14626 "UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak. "timeout or by a memory leak.""
#### Description
Fitting a GridSearchCV model with `n_jobs = -1` gives the UserWarning mentioned below, while for `n_jobs = 1` it runs without any warnings

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown

#### Actual Results
```/usr/local/lib/python3.6/dist-packages/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were give

[2019-08-11 05:46] ManishAradwad commented on #14081
I have installed all the required dependencies and used `make` to generate all the .html files.
Now, I'm little bit confused about how to add the another section. Is it ok to create another pitfalls.html file and modify documentation.html??  or there is another easier way to do this?

[2019-08-11 10:17] jnothman commented on #13632
It looks like there are appropriate patches there. If you submit a pull
request here to the 0.20.X branch then at least we can consider it.

[2019-08-11 15:52] thomasjpfan commented on #14624
Do you have clang installed?

[code]

[2019-08-11 15:55] thomasjpfan commented on #14625
Agreed. Time for another deprecation cycle! 🎉

[2019-08-11 16:43] sameshl commented on #14625
I could make this change once it it finalized.

[2019-08-11 16:48] sameshl commented on #14131
I would love to work on this @adrinjalali.
I thought of adding a note in the `KDTree` docstring but it looks like `KDTree` inherits its whole docstring from `BinaryTree` [here](https://github.com/scikit-learn/scikit-learn/blob/cd20f1a5ba5cdaa971507f66c35230dc222bb093/sklearn/neighbors/kd_tree.pyx#L20-L23).
Can you explain me how I could make that change (adding docstring to an inherited docstring)

[2019-08-11 17:44] sundaycat commented on #14624
Yes, I have clang installed and set up its path by the introduction given by the official document of scikit learn

[2019-08-11 23:47] jnothman commented on #14587
Please submit a pull request making the documentation for random_state more
explicitly describe what it affects.

[2019-08-11 23:49] jnothman commented on #14604
@Pierre-Bartet it's not clear what position you disagree with.

If the sought functionality is useful, however, it is categorically not a bug in the current behaviour, but a feature request.

[2019-08-11 23:51] jnothman commented on #10756
Not sure what progress you're looking for, @secsilm . If you think the documentation is inadequate, please submit improvements as pull requests.

[2019-08-11 23:54] jnothman commented on #14612
Would it be sufficient if we demonstrated this in an example? (Do we
already?)

[2019-08-12 00:17] thomasjpfan commented on #14624
Try running without the `sudo`:

[code]

The environmental variables needed may not be defined when running with sudo (even if you defined them before hand).

[2019-08-12 06:07] Pierre-Bartet commented on #14604
@jnothman I would not say it is a bug but the documentation seems misleading to me.

[2019-08-12 07:13] jnothman commented on #14604
To me "the whole dataset" means all of X and all of y.

[2019-08-12 08:14] jnothman commented on #14615
Please provide the full traceback to make it easier for us to see where the
error is raised. I will admit I'm surprised this still has issues, but it
is a surprisingly complicated bit of code.

[2019-08-12 08:25] jnothman commented on #14615
I think this bug is in MultiOutputClassifier. All classifiers should store `classes_` when fitted.

[2019-08-12 08:26] jnothman commented on #14615
Help wanted to add `classes_` to `MultiOutputClassifier` like it is in `ClassifierChain`

[2019-08-12 08:28] agamemnonc commented on #14615
Yes, that's the problem.

Happy to do it.

[code]

[2019-08-12 08:33] agamemnonc commented on #14615
The question is what happens when outputs do not share the same classes. Shall we just use the union of all `MultiOutputClassifier().estimators_[i].classes_` ? I wonder whether there will be any issues if an output has smaller number of classes than the `MultiOutputClassifier` instance?

[2019-08-12 08:46] adrinjalali commented on #14216
@sameshl IIRC the ones left are not covered by `nose2py`. I've already applied that tool, the rest need to be done manually, I think.

[2019-08-12 08:50] adrinjalali commented on #14483
@chhabrakadabra feel free to dig into it. But mind that we still don't have a good conclusion on what and how it needs to be tested.

[2019-08-12 08:56] adrinjalali commented on #14131
Then you need to put something in the `BinaryTree`'s docstring.

[2019-08-12 08:57] adrinjalali commented on #14131
But I haven't checked where exactly and what the change should be. Please submit a PR as a suggestion and will take a look there, thanks @sameshl

[2019-08-12 09:04] sameshl commented on #14216
@adrinjalali I am ready to take it up and do it manually.

[2019-08-12 09:06] adrinjalali commented on #14216
go ahead then :)

[2019-08-12 11:41] glemaitre opened #14630 "Remove version pinning of Python in CI"
cf to https://github.com/scikit-learn/scikit-learn/pull/14619#issuecomment-520178833

[2019-08-12 12:19] jnothman commented on #14081
You should only be modifying .rst files, not .html files. If you add a new
file, you need to add it to a toc (table of contents) in another file.

[2019-08-12 12:22] jnothman commented on #14625
I think there is enough consensus here to see a pull request. Thanks

[2019-08-12 12:23] #12178 closed

[2019-08-12 12:55] dbHub20092758 opened #14631 "ModuleNotFoundError: No module named 'hdbscan'"
system: ubuntu16.04 python3.5
install : conda install -c conda-forge hdbscan
problem:
Traceback (most recent call last):
  File "/home/duan/PycharmProjects/test/cluster.py", line 20, in <module>
    import hdbscan
ModuleNotFoundError: No module named 'hdbscan'

#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2019-08-12 13:02] chkoar commented on #14603
It is not that easy but I will give it a go because what is happening doesn't make any sense!

[2019-08-12 13:18] glemaitre commented on #14630
@thomasjpfan Do you think that the CRON failure is also linked to this issue:
https://travis-ci.org/scikit-learn/scikit-learn

[2019-08-12 13:22] jnothman commented on #14615
Outputs will have different classes, and similar should currently be
handled in other estimators like ClassifierChain, RandomForest, etc.

[2019-08-12 13:24] jnothman commented on #14483
I'm pretty sure we have places where we effectively densify one sample at a
time...

[2019-08-12 13:28] jnothman commented on #14631
Not relevant to the scikit-learn issue tracker.

[2019-08-12 13:28] #14631 closed

[2019-08-12 13:43] amueller commented on #14603
and results on either machine are consistent? (i.e. there's no random state that's not set - it looks like you set them all but we might be both overlooking one).

[2019-08-12 13:44] amueller commented on #14630
Did we raise this with the conda folks? Or what's happening?

[2019-08-12 13:47] amueller commented on #14483
@jnothman really? Where? That seems pretty catastrophic when combined with the hashing stuff...

[2019-08-12 14:02] Barracuda72 commented on #13632
Here it is.

[2019-08-12 14:25] thomasjpfan commented on #14630
Yes it is related. Looks like a bad python 3.7.4 build in conda in ubuntu.

Related to:

- https://github.com/conda/conda/issues/9084
- https://github.com/ContinuumIO/anaconda-issues/issues/11195

[2019-08-12 14:28] jnothman commented on #14483
True. Now that I think about it I'm not altogether sure... Might have made
it up?? But certainly there are places where we have O(n_features) memory
requirements in the sparse case (e.g. linear coef_) in any case, so that
approach would not be much differnet.

[2019-08-12 14:41] amueller commented on #14483
fair.

[2019-08-12 15:47] amueller commented on #14044
Ok I think I'll try to fix this by actually getting rid of mixins. I think our current class hierarchy is kinda silly.
@GaelVaroquaux maybe you have time at some point to explain to me why we have mixins instead of using inheritance, and why we put the mixins to the right.

[2019-08-12 16:02] #1149 closed

[2019-08-12 16:46] glemaitre commented on #14044
You should blame @agramfort apparently :)

https://github.com/scikit-learn/scikit-learn/commit/495fb3acad0306c66830d19c762678ad36e4a753

[2019-08-12 17:04] amueller commented on #14044
@agramfort, explain yourself! ;)
For now, I have a fix that doesn't entirely kill the mixin idea but introduces a class above everything in the hierarchy: #14635

[2019-08-12 21:16] GaelVaroquaux commented on #14044
Mixins are much more flexible than inheritance. Once a large codebase starts heavily relying on inheritance for type checking / behavior routing, it becomes very hard to refactor because local changes impact everything and reworking the inheritance diagram breaks inheritance checks. Every large inheritance-based library that I've worked with suffers these problems and goes regularly through massiv

[2019-08-12 22:49] jayfurmanek commented on #13036
FYI
The conda-forge build did complete on ppc64le, but the recipe skips the estimate_bandwidth_1sample test:

https://github.com/conda-forge/scikit-learn-feedstock/blob/master/recipe/meta.yaml#L51

[2019-08-13 02:04] TomDLT commented on #14626
Thanks for the report, yet it is not an error but a warning.
It should not prevent your code from running, nor should it lead to different results.

[2019-08-13 02:04] #14626 closed

[2019-08-13 03:29] jnothman commented on #14483
We could test with a matrix that is large in both n_samples and n_features... But we should expect memory used up to O(n_samples + n_features)

[2019-08-13 05:24] afettouhi opened #14638 "mean_validation_score gives an AttributeError"
I am currently doing some exercises with Kernel Density Estimation and I am trying to run this piece of code:

[code]

but as the title says I get an

[code]

regarding mean_validation_score and I don't understand why. The code is directly out of a book with a few changes due to running an up to date scikit learn package. Here is the original code snippet:

[code]

Forgot to add how KDEClassifier

[2019-08-13 05:41] venkyyuvy commented on #14563
@NicolasHug
Can I pick this one?

[2019-08-13 06:35] arrayslayer commented on #10905
Hey @amueller , can I take this one?

[2019-08-13 09:17] GISConsortium commented on #14552
@jnothman : Please open this issue, as it is not resolved.

[2019-08-13 10:21] NicolasHug commented on #14563
@venkyyuvy we haven't decided on a solution yet

[2019-08-13 11:02] venkyyuvy commented on #14607
@thomasjpfan
Can I take this up?

[2019-08-13 11:18] bartolsthoorn opened #14641 "kernel_approximation.Nystroem does not support precomputed kernel"
The documentation says that precomputed kernels are supported in Nystroem, but in reality it does not seem to be the case: https://scikit-learn.org/stable/modules/kernel_approximation.html

Example code:
[code]
Leads to `KeyError: 'precomputed'`

[2019-08-13 11:32] venkyyuvy commented on #14563
My proposal based on your comments is:

let us make the categories as `dictionary` instead as a list. Hence, user can specify ordering of unique value for the columns which has string values.

1. Raise  error / depreciation error

when `Xi` values are string and when key `i` is not present in `categories`.

[2019-08-13 11:53] jnothman commented on #14563
Why a dict and not a list?

I'm still not sure about this. There should be a way to use an ordinal
encoding without the categories being naturally ordered.

[2019-08-13 12:13] adrinjalali commented on #13643
I think this was due to some very slow examples, wasn't it?

[2019-08-13 12:41] thomasjpfan commented on #13643
I recall it was not deterministic. So it could have been slow for one instance but not another.

[2019-08-13 12:41] #13643 closed

[2019-08-13 13:13] thomasjpfan commented on #14607
@venkyyuvy thank you for the attention on this issue.

After thinking about it, specifying one class in a ovr fashion may not be useful as a roc curve plot. Closing this issue for now.

[2019-08-13 13:44] NicolasHug commented on #14563
Sorry I wasn't clear @venkyyuvy, what I meant is we're still not sure whether we actully want this or not ;)

[2019-08-13 14:01] venkyyuvy commented on #14607
Why not extend `plot_roc_curve` to plot all/selected classes in multi-class problem. Something similar to [this](https://scikit-plot.readthedocs.io/en/stable/metrics.html#scikitplot.metrics.plot_roc).d

In this scenario, having a `target` parameter would be useful, which can help to choose some classes for plotting the roc_curve.

[2019-08-13 14:15] venkyyuvy commented on #14563
Since we are forcing the user to specify the order for the string value columns.

There could be only few columns, which contains string values.

For example:
[code]
Here the ordering of first column is not right. The user might want to specify the order for that column alone. Currently (based on my understanding) `categories` has to have the length equal to number of features.

# Proposal

[code]

[2019-08-13 14:58] thomasjpfan commented on #14607
Plotting a single target seems like it will hide how the estimator behaves with the other classes.

On the other hand, plotting all the classes and maybe an average may be useful. It is something we do in our [examples](https://scikit-learn.org/stable/auto_examples/model_selection/plot_roc.html#sphx-glr-auto-examples-model-selection-plot-roc-py).

[2019-08-13 17:27] SanthoshBala18 commented on #14615
Hi, I would like to take this up, if no one is working on it.?

[2019-08-13 17:31] agamemnonc commented on #14615
I am afraid I have already submitted a PR addressing this issue (#14629, see above)

[2019-08-13 17:34] SanthoshBala18 commented on #14615
Oh I did not notice that sorry..

[2019-08-13 17:35] amueller commented on #14044
I don't understand your argument @GaelVaroquaux. Mixins are a form of multiple inheritance.

[2019-08-13 17:38] sameshl commented on #14216
I am starting with `cluster/tests`

[2019-08-13 17:54] amueller commented on #14563
encoding without the categories being naturally ordered.

I think we should decide which of the two this is supposed to implement. The name kind of suggests to me there is a natural ordering, or at least that the encoding somehow represents an ordering.

The treatment of all the edge-cases kind of depends on whether we assume there is an ordering or not. I think the cases where there is an orderin

[2019-08-13 18:40] amueller commented on #14044
@GaelVaroquaux more concretely, the difference to me is that Mixins are feature add-ons that are not instances of the base class.
There is our tag mechanism rewritten, once by fixing our (currently wrong) Mixin architecture: #14644 and once using a base class: #14635

Both use inheritance, but I would argue the one that uses a base-class (which imho should just be BaseEstimator) is much clearer.
I

[2019-08-13 19:58] lobpcg commented on #10736
The issue appears to be fixed already, so may be the PR and the issue can be closed? Running the provided code gives the correct answer for any n_components<4 (unclear why one would want to use larger n_components?):
[code]

[2019-08-13 21:05] jnothman commented on #14638
I don't think we have ever defined "mean_validation_score", only "mean_test_score" but here you are iterating over the keys of a dict which is not what I think you want when you name your variable val.

[2019-08-13 21:05] jnothman commented on #14638
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-08-13 21:05] #14638 closed

[2019-08-13 21:38] amueller commented on #10715
quite convinced that #14647 is the correct fix, also contains a regression test.

[2019-08-13 23:51] #14340 closed

[2019-08-14 03:08] cgcodeboy opened #14648 "sklearn multilabel"
#### Description
There is so many classifiers that  can not use multilabel, but why voting classifier and bagging classifier can not use multilabel? the base classifier in the voting and bagging classifer already support multilabel.

[2019-08-14 03:38] jnothman commented on #14552
I've reopened the issue, but could you please change its title to better reflect the problem, like the fact that KDE can produce -inf scores

[2019-08-14 05:13] jnothman commented on #14648
There may be no good reason except that they haven't been implemented yet.

[2019-08-14 05:15] sameshl commented on #14216
@thomasjpfan This issue shouldn't close. I will complete the rest too.

[2019-08-14 05:49] jnothman commented on #14081
Maybe this should be a more general "practical usage advice" section. For example, I'm not really sure that it would be right to frame "choosing an evaluation metric and cross validation procedure is of utmost importance" as a pitfall.

Another topic that might fall under this rubric is "don't blindly use Euclidean distance in clustering" aka "unsupervised models need bias".

[2019-08-14 06:29] adrinjalali commented on #14216
@sameshl It automatically got closed because you said "fixes xxxx" in your PR. You should instead say "related to xxx", or "towards xxx"

[2019-08-14 06:34] adrinjalali commented on #13288
I remember we decided against a `FrozenEstimator` meta-estimator , which could use either joblib or onnx as the backend in sklearn, but I don't remember why. I guess it makes sense to have it, and let the user choose the onnx backend which would have soft dependencies to onnx libs and otherwise do joblib.

[2019-08-14 07:12] rth commented on #13632
Thanks for the additional details @Barracuda72 !

[2019-08-14 07:50] rth commented on #13036
Thanks for the summary @jayfurmanek ! That build was for 0.21.2 and the estimate_bandwidth_1sample should have been fixed https://github.com/scikit-learn/scikit-learn/commit/24b69346632e8656d048f72bc8e0337c12e1d903 I would rather close this issue and re-open https://github.com/scikit-learn/scikit-learn/issues/10561 if needed.

[2019-08-14 07:50] #13036 closed

[2019-08-14 07:52] sameshl commented on #14216
@adrinjalali Yeah, It was my bad. Thanks for pointing it out!

[2019-08-14 09:02] drejanko opened #14650 "KDTree / BallTree seg fault"
Both tree structures seg fault on init if the supplied data array has points with different dimensions.

[code]

Pip freeze:

[2019-08-14 09:11] jnothman commented on #14650
I think that might rather be an array with an object dtype. Thanks for the
report

[2019-08-14 09:32] #14615 closed

[2019-08-14 10:16] rth commented on #14650
A PR with some validation of the passed `X` array would be welcome to fix this.

I can confirm.

[2019-08-14 10:17] rth commented on #14650
Would you be interested in proposing a PR to fix it @drejanko ? Arrays with non numeric dtype should raise an exception; possibly using `check_array` but that may have a negative performance impact.

[2019-08-14 11:57] NicolasHug commented on #14081
"Recommended Practices"?

[2019-08-14 12:13] adrinjalali commented on #13288
Playing around and borrowing a bunch from @xadupre 's codes, I put a draft here: https://gist.github.com/adrinjalali/de9ac56c61f3931b38b24e577f54d083

[2019-08-14 13:00] adrinjalali commented on #14563
hmm, I'd agree that if we want to force the user to specify the order, then we should have another encoder which just does `{0-n-1}` integer encoding regardless of the order. To me that's a much more common usecase than actually having a total order on the categories.

[2019-08-14 13:08] adrinjalali commented on #13180
When we're comparing the matrices, we don't really know if they have zeros, so we'd need to always setthe `atol`. That alone seems like a good reason for me to go against it? Although I'm pretty sure numpy has a reason for having that default.

[2019-08-14 13:16] adrinjalali commented on #11450
yeah, 67 cases are not too many, I also saw a few when working on #14640. I would be happy to see them fixed.

[2019-08-14 14:56] mrocklin commented on #14036
We could also maybe send in a `cupy.random.RandomState` object rather than a `numpy.random.RandomState` object so that we generate the random values on the GPU instead of on the CPU.  This doesn't solve the `np.arange` problem, but maybe that points us in another possible direction.  We would still need to remove explicit `np.asarray` calls on inputs, and allow array-like arguments through in some

[2019-08-14 15:22] amueller commented on #13393
I get a similar error using ``lobpcg`` directly:
[code]

[2019-08-14 15:28] lobpcg commented on #13393
The latest version scipy/scipy#10621 fixes stability issues like this one. Could you please give it a try?

[2019-08-14 15:31] amueller commented on #13393
It's not merged so I would need to build scipy, right? might try that later ;)

[2019-08-14 15:36] lobpcg commented on #13393
No built - the lobpcg code is pure Python, so you can just copy/paste it in place of the old version

[2019-08-14 16:42] glemaitre commented on #13393
and we have the code in external which can be imported from fixes

[2019-08-14 16:42] glemaitre commented on #13393
or at least we should update it if there is something new

[2019-08-14 17:13] jakirkham commented on #14036
Yeah with `np.arange`, I was hoping we could write something like this...

[code]

[2019-08-14 17:15] lobpcg commented on #13393
https://github.com/scipy/scipy/pull/10621 is tagged for upcoming 1.4.0

Yes, lobpcg is in external, and is already updated in https://github.com/scikit-learn/scikit-learn/pull/12319#issuecomment-505914762 to be in sync with scipy 1.3.0

[2019-08-14 17:18] jakirkham commented on #14036
There's also [a call to `np.full`]( https://github.com/scikit-learn/scikit-learn/blob/ec35ed226ca104e841238f2fac24269c2f9f2730/sklearn/model_selection/_split.py#L430 ). Currently that looks like this...

[code]

We might want to generalize it to something like this...

[code]

[2019-08-14 17:18] mrocklin commented on #14036
Right, so that opens up a question for Scikit-Learn maintainers of if they're willing to accept code like this that is less intuitive in a few places for the case where the inputs are Numpy-like arrays.

My guess is that accepting a user-defined RandomState object is fine (it looks like there is good precedent for this already) while replacing `np.arange` calls with `ones_like`/`cumsum` is maybe l

[2019-08-14 17:21] jakirkham commented on #14036
There's of course the point that this syntax only works with NumPy 1.17, which may be it's own kind of deal breaker. Anyways figured I'd float these snippets to start the conversation.

[2019-08-14 17:23] jakirkham commented on #14036
Also there's a separate discussion about having a way to cast between different arrays in a subthread of issue ( https://github.com/numpy/numpy/issues/13831 ), which is ostensibly about handling `asarray` without forcing array-like things to become NumPy arrays.

cc @pentschev (whose involved in that discussion and also thinking about these things)

[2019-08-14 17:46] amueller commented on #14036
Yeah it'll be a while till we can use numpy 1.17.

[2019-08-14 17:58] jakirkham commented on #14036
Yeah it would be great if `RandomState` created the array and shuffled it for us, but wasn't finding the API we would need to do that. `.shuffle` does not seem to work if one does `rs.shuffle(5)` for example.

[2019-08-14 21:02] amueller commented on #10890
I would argue that the actual problem is that we don't have an API that allows a user to pass a matrix-matrix distance function.
If we allowed the 1d case with the reshape as suggested by @lucgiffon that would make things much slower if passing the function instead of passing the string.
If we did the fix of @HanGuo97 that would mean some callables are treated different from other callables, which

[2019-08-14 21:20] amueller commented on #5879
fixed in #12216.

[2019-08-14 21:20] #5879 closed

[2019-08-14 21:26] dth5 opened #14661 "RandomizedSearchCV does not work in a Pipeline when evaluating alternative classifiers"
my example below is in python 3.6.7 and sklearn 0.21.2
you can see that the pipeline and parameters seem to work well with gridsearchcv but fail with randomizedsearchcv.  A potential issue, I believe, is that randomizedsearchcv doesn't like being passed this list of dictionary lists.  So it's fine with { list of dictionaries} but not [{list of dictionaries}, {list of dictionaries}].

[code]

[2019-08-14 21:47] amueller commented on #10905
@arrayslayer sure!

[2019-08-14 21:51] amueller commented on #929
closing as binning is en vogue these days

[2019-08-14 21:51] #929 closed

[2019-08-14 21:53] amueller commented on #4406
closing as no-one seems to care

[2019-08-14 21:54] #5729 closed

[2019-08-14 21:56] amueller commented on #8276
fixed in #12557

[2019-08-14 21:56] #8276 closed

[2019-08-14 21:59] amueller commented on #7533
fixed in #7677.

[2019-08-14 21:59] #7533 closed

[2019-08-14 21:59] amueller commented on #9104
this is still inconsistent lol

[2019-08-14 22:00] amueller commented on #6972
closing as accepted inconsistency now

[2019-08-14 22:02] amueller commented on #6197
we have distance thresholding now

[2019-08-14 22:02] #6197 closed

[2019-08-14 22:05] amueller commented on #11146
this is fixed

[2019-08-14 22:05] #11146 closed

[2019-08-14 22:05] amueller commented on #11039
moved to scikit-learn-extra

[2019-08-14 22:05] #11039 closed

[2019-08-14 22:13] thomasjpfan commented on #9104
+1 on using `estimator`

[2019-08-14 23:11] thomasjpfan commented on #14661
This was addressed in https://github.com/scikit-learn/scikit-learn/pull/14549

This feature is not released yet, but you can try it out by installing the nightly build of scikit-learn:

[code]

[2019-08-14 23:58] jnothman commented on #14563
OrdinalEncoder vs OrderedEncoder? When we gave up on the
CategoricalEncoder we had decided that we should group functionality by
output format rather than input semantics, but that obviously had its
limitations.

Maybe we need to just have a way for the user to explicitly say that the
ordering is arbitrary?

[2019-08-15 01:31] jnothman commented on #14563
At the moment is the conflation of these functions confusing for users? Is the problem that users forget or fail to specify categories for string data, or that pd.Categorical is ignored?

Otherwise I see practical difference in how we should handle dropped (e.g. infrequent) categories, and perhaps missing data...

I'd say we should:
* Deprecate automatically assuming lexicographic ordering (for st

[2019-08-15 03:20] zhengcx-zcx opened #14662 "svmlight"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2019-08-15 03:23] #14662 closed

[2019-08-15 07:46] adrinjalali commented on #14563
That sounds like a good plan to me.

[2019-08-15 09:08] drejanko commented on #14650
Will do.

[2019-08-15 10:02] #6191 closed

[2019-08-15 14:36] thomasjpfan opened #14664 "Add more dtype details to docstring standard doc"
Continuing https://github.com/scikit-learn/scikit-learn/pull/12356
Related to https://github.com/scikit-learn/scikit-learn/pull/14640

1. When `None` is the default, we can just set it as default:

[code]

2. When the type of the ndarray is known:

[code]

CC @adrinjalali

[2019-08-15 15:02] NicolasHug commented on #14664
submit a PR?

[2019-08-15 15:13] adrinjalali commented on #14664
Makes sense +1

[2019-08-15 15:39] thomasjpfan opened #14665 "Document when to use single backticks"
Related to https://github.com/scikit-learn/scikit-learn/pull/13542, https://github.com/scikit-learn/scikit-learn/pull/13542

Currently our single backticks will resolve as follows: `python->glossary->code`. We should document when we recommend to use single backticks.

@NicolasHug mentioned in https://github.com/scikit-learn/scikit-learn/pull/14381#pullrequestreview-275449342

[2019-08-15 15:44] NicolasHug commented on #14665
Thanks for opening the issue.

I'll copy my https://github.com/scikit-learn/scikit-learn/pull/14381#issuecomment-521676762

(About using single backticks by default): As previously said, this is risky. That will link to things that should not be linked, you and I experienced it in the visualizer PR and plot.

I'd rather risk having no link than having a bad link. A link shows intent. It means "loo

[2019-08-15 16:30] amueller commented on #14665
I'm tending towards @NicolasHug
![image](https://user-images.githubusercontent.com/449558/63109997-6ab84800-bf58-11e9-8748-2f8cb483757d.png)

[2019-08-15 16:35] thomasjpfan commented on #14306
For reference here are the times (in seconds) I saw for scaling on a 12 physical core cpu:

[code]

<table border="0" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>mean</th>
      <th>std</th>
    </tr>
    <tr>
      <th>model</th>
      <th>threads</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th r

[2019-08-15 16:44] amueller commented on #14306
![image](https://user-images.githubusercontent.com/449558/63110875-6c830b00-bf5a-11e9-8f87-76e0df84e667.png)

I hate tidy data

[2019-08-15 16:47] amueller commented on #14306
![image](https://user-images.githubusercontent.com/449558/63111001-ae13b600-bf5a-11e9-8831-36d346b38a1a.png)

y is 200/mean, so it's a speedup over sklearn with a single core (approximately)

[2019-08-15 16:48] SmirnovEgorRu commented on #14306
@thomasjpfan current master of XGBoost contains additional optimizations 2-3x and more vs. 0.9 version depending on # of cores and algorithm parameters, [PR with optimizations](https://github.com/dmlc/xgboost/pull/4529).
Could you, please, check your measurements with the latest version?

[2019-08-15 16:54] NicolasHug commented on #14306
@SmirnovEgorRu 	I guess the main concern in this issue is the scalability of our implementation w.r.t the number of threads, not how fast it is compared to XGBoost.

[2019-08-15 17:01] amueller commented on #14563
I think having ``pd.Categorical`` ignored probably created bugs no-one is aware of. I don't think the conflation is confusing for now since we basically punted on implementing anything that would actually distinguish the cases well.

I like your plan.

[2019-08-15 17:02] SmirnovEgorRu commented on #14306
@NicolasHug I mean that it is possible to look at optimizations which have been done in XGBoost recently and move some of them into scikit.

[2019-08-15 17:15] NicolasHug commented on #14306
oh ok thanks for the heads up. Is there a reasonably detailed summary  of the optimizations that you implemented? Or is reading the code our only hope here ^^ ?

[2019-08-15 17:15] #14661 closed

[2019-08-15 17:22] NicolasHug commented on #14665
That would have been solved by defaulting single backticks to what double backticks do: highlight code syntax.

But we introduced the magic linking.

The problem we had was that single backticks did nothing, and we solved it by introducing a new problem which is single backticks do much more that what we think they do.

[2019-08-15 17:31] SmirnovEgorRu commented on #14306
@NicolasHug some information is available in PRs ( https://github.com/dmlc/xgboost/pull/4529, https://github.com/dmlc/xgboost/pull/4433, https://github.com/dmlc/xgboost/pull/4278, https://github.com/dmlc/xgboost/pull/4310, https://github.com/dmlc/xgboost/pull/3957) and here https://github.com/SmirnovEgorRu/xgboost-fast-hist-perf-lab
Also, I'm planning to publish a blog about this, but later.

[2019-08-15 17:48] NicolasHug commented on #14306
Thanks, definitely ping us when the blog post is ready please :)

[2019-08-15 18:30] TomDLT commented on #14641
Indeed, `Nystroem` uses the kernel parmeter in two ways:
- in `sklearn.metrics.pariwise.pairwise_kernels`, which does accept `metric='precomputed'`
- in `sklearn.metrics.pariwise.KERNEL_PARAMS`, which does not contain a "precomputed" key.

This is a bug.

[2019-08-15 19:14] thomasjpfan commented on #14306
@SmirnovEgorRu On https://github.com/dmlc/xgboost/commit/53d4272c2a9be75288882af7d21b8ac2e87e959e here is the same benchmark:

<table border="0" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>mean</th>
      <th>std</th>
    </tr>
    <tr>
      <th>model</th>
      <th>threads</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <

[2019-08-15 20:24] thomasjpfan commented on #14563
For an unordered category, are we going to recommend `OrdinalEncoder` as well?

[2019-08-15 21:56] jjakenichol commented on #12741
@amueller  I lack a better place to ask; how should gamma be computed for X_train with several features with differing variances?

[2019-08-15 22:02] #10890 closed

[2019-08-15 22:05] jnothman commented on #10890
Or just say that matrix-matrix callables need to be an instance of a
specific ABC?

[2019-08-16 01:21] jnothman commented on #14563
That's what I'm proposing, yes: That we keep them combined into one class
(rather than creating more ambiguously named estimators), but make it
harder to do the wrong thing.

[2019-08-16 08:57] FreeFly19 opened #14667 "Create a Stub Scaler"
I have a propose to create "StubScaler", which implements all methods as other scalers, but "transform" method returns copy of the input data. It will be useful for cases when you want to iterate through the list of scalers and choose the best one, so "StubScaler" will means that you should not scale your features. What do you think, will it be useful for somebody else?

[2019-08-16 14:20] NicolasHug commented on #14667
Is your ultimate goal that you want to grid search over different scalers / pre-preocessors?

[2019-08-16 14:57] j-schneider commented on #9603
More errors were being thrown. See
With fresh install of sklearn, running shape_mismatch I get:

Python 3.6.8 (tags/v3.6.8:3c6b436a57, Dec 24 2018, 00:16:47) [MSC v.1916 64 bit (AMD64)]
NumPy 1.17.0
SciPy 1.3.1
Scikit-Learn 0.21.3
C:\Users\jschne\Documents\lars_test\lib\site-packages\sklearn\linear_model\least_angle.py:578: ConvergenceWarning: Regressors in active set degenerate. Dropping a regres

[2019-08-16 15:19] amueller commented on #14667
How about using ``FunctionTransformer()``?

[2019-08-16 15:20] amueller commented on #14667
Also see #12335

[2019-08-16 15:23] #9784 closed

[2019-08-16 15:26] amueller commented on #12741
@jjakenichol you should just scale X with StandardScaler ;)

[2019-08-16 15:30] amueller commented on #14306
@thomasjpfan why do you hate me? (also I find plots easier to read than comparing lists that are far apart and have 6 decimals)

[2019-08-16 15:55] jjakenichol commented on #12741
@amueller Ah, thank you. I was actually looking into that concept soon. Makes perfect sense.

[2019-08-16 17:03] maxwell-aladago opened #14669 "sklearn._built_utils missing resulting in build from source errors ."
#### Description
Building `sklearn` from source using `python setup.py develop` results in errors.

The reason is the module `_built_util.py`  which is called in ['sklearn.setup`](https://github.com/scikit-learn/scikit-learn/blob/e8f2708e05a9982e86320d994abcbcf02a1536d9/sklearn/setup.py#L3) is missing.

#### Steps/Code to Reproduce
`>>> python setup.py develop`

#### Error
[code]
I have openmp ena

[2019-08-16 17:11] FreeFly19 commented on #14667
@amueller , `FunctionTransformer()` that is what I was looking for.
Thanks!

[2019-08-16 17:11] #14667 closed

[2019-08-16 17:33] amueller commented on #14669
Can you provide the full traceback please? Your current traceback doesn't support your reason, right?

[2019-08-16 18:16] maxwell-aladago commented on #14669
Yes, I upgraded my OpenMP, rerun the installation and it work.  Thank you

[2019-08-16 18:16] #14669 closed

[2019-08-16 18:27] maxwell-aladago opened #14671 "BUG: sklearn/utils/multiclass.type_of_target inconsistent for similar inputs"
#### Description
`sklearn/utils/multiclass.type_of_target(y)` returns different results for practically identical 'y' values when `y` a `list` and  when `y` is an `numpy array`.

#### Steps/Code to Reproduce
[code]

#### Expected Results
'multilabel-indicator, multilabel-indicator'
No assertion error

#### Actual Results

'multiclass-multioutput, multilabel-indicator'
Throws assertion error
[code]

[2019-08-16 19:11] amueller commented on #9453
@Gscorreia89 I agree, but it's unclear on how to fit that into the current sklearn API.

[2019-08-16 19:30] amueller commented on #14671
I think it should be ``multilabel-indicator`` which is the more specific type.
I'm confused by the docstring
[code]
Why would we allow that? Seems like a left-over from the list-of-lists format? maybe @jnothman remembers?

[2019-08-16 19:56] maxwell-aladago commented on #14671
Also, what should be the appropriate behaviour of?
[code]

From the name of the function, I suspect this should be `True`, no? @amueller

[2019-08-16 20:04] amueller commented on #14671
maybe the function should be private. The type of this is ``multiclass-multioutput`` so I would argue the right respond should be ``False``.

[2019-08-16 20:11] maxwell-aladago commented on #14671
ok. thank you. I guess a change of name to something like `ismultilable_indicator` and a clearer documentation will help to or? Should I work on it? as well as the original issue about the type inconsistencies?

[2019-08-16 20:16] amueller commented on #4667
@thomasjpfan only when scoring is also ``None``, right?
Also looks like a bug: if this is classification, ``predict`` will actually be the decision values and so the scorer gets the wrong input, right?

yeah, t'is a bug:
[code]

[2019-08-16 20:18] amueller opened #14672 "RidgeClassifierCV bug when using scoring"
[code]

errors because the fake estimator that's constructed in RidgeGCV is a regressor and the ``predict`` method returns the scores, not the predictions.

Also see #4667

[2019-08-16 20:19] amueller commented on #4667
@thomasjpfan shouldn't it be negative for consistency with ``scoring='mse'``?

[2019-08-16 20:21] amueller commented on #14338
Running this on several datasets my intuition was that sometimes missforest just doesn't really do much and it is done after one iteration, which seems fine. And in other cases it actually converges.

[2019-08-16 20:22] amueller commented on #14338
Maybe we should try the datasets from the missforest paper?

[2019-08-16 20:24] amueller commented on #14671
clearer documentation should help. I wouldn't rename it without also making it private, I think. The public interface should be ``type_of_target`` imho.

[2019-08-16 21:12] maxwell-aladago commented on #14671
Also,

[code]
returns  `binary`. Is this the desired behaviour?

[2019-08-16 21:20] maxwell-aladago commented on #14671
Also, the [comments here](https://github.com/scikit-learn/scikit-learn/blob/247ea83065bbbb2817a13b70d6178705f5c0ad0a/sklearn/utils/multiclass.py#L290) do not clarify exactly what's considered binary. Is `binary` the case where the targets is a 1-d  array and has only 1 or 2 unique elements? Can you comment on this @amueller

[2019-08-16 21:57] amueller opened #14673 "StratifiedKFold makes fold-sizes very unequal"
I found this when trying to write tests for #14560.
Right now, ``StratifiedKFold`` might have the fold sizes unequal by ``n_classes``:

[code]

We could achieve something like

but our rounding doesn't let us :-/

[2019-08-17 08:43] jnothman commented on #14671
Duplicate of #7931. Yes, it would be good to fix this.

PR in #9158 is long stalled, but close to the mark.

[2019-08-17 08:53] lautjy commented on #14485
The issue @ezyang linked has bunch of information on this TLS (thread local store) issue.
Here's some info I dug up before: https://github.com/pytorch/pytorch/issues/2575#issuecomment-369892859

;TLDR: Something in the chain of imports was not C/C++ compiled with `-gPIC` flag. Importing that library causes a problem that turns all imports to "static TLS". There is a maximum amount of such "static

[2019-08-17 11:02] jnothman commented on #14673
I think there have been several issues about this.

I think we should go back to a sort-then-round-robin approach.

[2019-08-17 12:22] jnothman commented on #14667
Pipeline with a step that is None will also do this... So you would just be
alternating the step parameter

[2019-08-17 13:33] maxwell-aladago commented on #14671
Can you check this for me? @jnothman

[2019-08-17 13:46] qinhanmin2014 commented on #14673
this behaviour is actually well-documented, see https://scikit-learn.org/dev/modules/generated/sklearn.model_selection.StratifiedKFold.html:
Train and test sizes may be different in each fold, with a difference of at most n_classes.
related issues: #10274 #2372
I agree that we might want a better StratifiedKFold

[2019-08-17 13:48] qinhanmin2014 commented on #4348
I think this can be closed.

[2019-08-17 13:48] #4348 closed

[2019-08-17 14:21] jnothman commented on #14671
In the sense that we always report the strictest matching type, yes it is
correct.

[2019-08-17 16:36] khangpng commented on #14059
I still get this error.

from sklearn.linear_model import LogisticRegressionCV
lr_cv_model = LogisticRegressionCV(n_jobs=-1, random_state=42, Cs=3, cv=10, refit=False, class_weight='Balanced')
lr_cv_model.fit(X_train, y_train.ravel())

IndexError                                Traceback (most recent call last)
<ipython-input-43-427798dd646a> in <module>
      2 from sklearn.linear_model import Log

[2019-08-17 23:26] #13578 closed

[2019-08-18 00:54] jnothman commented on #14059
I think it was fixed in 0.21.3. please upgrade

[2019-08-18 01:48] allenakinkunle commented on #14347
I'll fix this for some of the other datasets if that is fine.

[2019-08-18 01:48] allenakinkunle commented on #14347
I'll fix this for some of the other datasets if that is fine.

[2019-08-18 11:03] agramfort commented on #14566
@flyjuice thanks for looking into this. Would you have the time to share a fixed version of the file as a pull request or directly by email if it's easier for you? Do you know of any correct implementation that could be used for testing?

[2019-08-18 20:53] #14413 closed

[2019-08-18 20:59] thomasjpfan commented on #14665
People are using single backticks because github uses markdown.

I think making them code blocks and removing the magic would be the solution I prefer. (This means add `:py:` or `:term:` for linking.)

[2019-08-18 21:16] jnothman commented on #14665
Not just because of being used to markdown. After all, rst introduced this
default_role idea, and it may only be a side effect of customisability that
the default role can do fancy things like automatically link.

It's not too late to change the default_role to code formatting and no
linking

[2019-08-18 21:18] shafaypro commented on #14568
Are you using AWS EC2 Linux machines?

[2019-08-19 00:15] khangpng commented on #14059
Yes. Just upgrade and it works. Thank you. :)

[2019-08-19 08:44] venkyyuvy commented on #14672
can I work on this?

[2019-08-19 15:23] TomAugspurger opened #14687 "Classifiers may not work with arrays defining __array_function__"
#### Description

With [NEP-18](https://www.numpy.org/neps/nep-0018-array-function-protocol.html), numpy functions that previously converted an array-like to an ndarray may no longer do the (implicit) conversion. `dask.array` recently implemented `__array_function__` so `np.unique(dask.array.Array)` now returns a `dask.array.Array`.

Some more details in https://github.com/dask/dask-ml/issues/541

[2019-08-19 15:28] glemaitre commented on #14664
OK, I found the discussion then :)

I am a bit in trouble with (2). It is even more confusing with something like `str list. `list of str` is much better. Then, we get into trouble with array where we have shape: `ndarray of int of shape (n_samples,)`. I don't have a good proposal :S

[code]

[2019-08-19 17:45] thomasjpfan commented on #14664
Going with `shape=` may work slightly nicer:

[code]

[2019-08-19 19:51] NicolasHug commented on #14664
I think we already went for `of shape ()`.

maybe `ndarry of shape (n_samples,), dtype=int`?

That being said, I feel like specifying dtypes is mostly useful on private APIs, where we can be slightly more flexible on the style. IMO most user-facing docs shouldn't worry too much about dtypes. For example, I don't think `drop_idx_` for `OneHotEncoder` benefits from specifying a dtype.

[2019-08-19 20:34] thomasjpfan commented on #14664
What if we have a list that can have multiple types, like a list of tuples:

[code]

or

[code]

[2019-08-19 20:48] glemaitre commented on #14664
I would say second one

[2019-08-19 21:06] thomasjpfan commented on #14664
I would be open to changing it, to handle the situation where we have the dtype, and the shape of an array.

The dtype is pretty far from the ndarray now.

@glemaitre If we use the second one then:

[code]

That feels like there is one two many "of"s. We kind of need two delimiters, one for type and another for shape. We can have:

[code]

[2019-08-19 21:35] NicolasHug commented on #14664
We can go case by case? How many instances of these do we have? How many of them are public docs?

[2019-08-19 21:47] jnothman commented on #14664
I'm not sure which part this sets out to discuss. When None is the default,
sometimes it means something quite different to "none" and that deserves
clarifying.

[2019-08-19 23:58] aileisun opened #14688 "Example in documentation sklearn.metrics.pairwise.haversine_distances should have radians conversion."
For scikit-learn == 0.21.3. Correct example in the documentation should have radians conversion.

Current:
[code]

Correct:
[code]

[2019-08-20 03:24] jnothman commented on #14688
I think this has been fixed in master. Compare https://scikit-learn.org/0.21/modules/generated/sklearn.metrics.pairwise.haversine_distances.html to https://scikit-learn.org/dev/modules/generated/sklearn.metrics.pairwise.haversine_distances.html

[2019-08-20 03:24] #14688 closed

[2019-08-20 04:21] chwonghk01 commented on #8265
Totally agree with @flaviozamponi , sort by term frequency would make digits, stop words, etc dominating the, says, top 100 features which are not informative. They should be the top 100 features sorted by TF-IDF score. Suggest reopening this issue for discussion.

[2019-08-20 05:33] venkyyuvy commented on #14641
I would like to work on this. can I take this up?

[2019-08-20 07:07] bartolsthoorn commented on #14641
Yes, go ahead, I did not have time so far to look at it.

I am unsure, since I have not studied the theory, but maybe there is a bigger issue with the Nystroem implementation:

Giving `n` features to Nystroem, it still produces `n` features with `.fit_transform`, only now the features are of a different dimensionality (`n_components`). I was hoping Nystroem would actually only store/compute a kern

[2019-08-20 07:28] truythu169 opened #14690 "Pandas error when using ColumnTransformer"
ColumnTransformer using .loc in its function to get columns from a pandas DataFrame.
But in the future, .loc will return KeyError if there are at least one missing key in the list of keys.
If the data input to ColumnTransformer with no missing key, this will not be a problem, but in the case there are some missing keys, ColumnTransformer will not raise any error while pandas will raise error.

`C:

[2019-08-20 08:06] jnothman commented on #14690
Please explain your use case for applying ColumnTransformer where the column may be absent. Without compelling justification otherwise, I think that KeyError is the right thing to do. If you want to avoid it, let your column selector be a callable that filters the provided column names to match those available.

[2019-08-20 08:16] flyjuice commented on #14566
@agramfort I am off to leisure at the moment but I can fix it in a few weeks if that's ok with you. In order to compare to a reference implementation full likelihood needs to be computed.

[2019-08-20 08:16] jnothman commented on #8265
That doesn't mean anything. TF-IDF provides a value per document, not a value per dataset. At the dataset level, all you have is IDF (or some currently unspecified aggregate of TF.IDF values across the dataset), which either selects the most frequent or the most infrequent terms to be kept.

I would welcome a PR deprecating `max_features` for removal as it is ambiguous. Diverse functionality can b

[2019-08-20 09:10] jnothman commented on #14687
Can we demonstrate the failure with changes to common tests?

[2019-08-20 09:33] qinhanmin2014 commented on #14673
@jnothman could you provide more details about your solution?
You said in #10274:
The critique in #2372 was that the sampling did not maintain order of samples within each class, but I contend that could have been achieved with a stable sort rather than default sort.
But seems that the critique in #2372 is to preserve the dataset dependency, so stable sort won't solve the problem.

[2019-08-20 10:23] jnothman commented on #14673
Ohhhh... Maybe I misunderstood all along. Hmm. Yuck. But determining the
number of test samples in each class by the equivalent of round robin
should solve the problem, shouldn't it??

[2019-08-20 12:14] allenakinkunle commented on #14094
@jnothman I'd like to work on this if that is okay.

[2019-08-20 12:45] jnothman commented on #14673
hmm... here's how I'd construct the test indices for each sample:

first set up some test data
[code]

Determine `M`, the number of samples from each class in each fold
[code]
(or an unreadable alternative that avoids the sort etc:
[code]
But apparently there are edge cases where this fails.)

[code]

Just to be sure, empirically, the max `np.ptp(np.bincount(test_fold_idx)) == 1`... the smallest a

[2019-08-20 12:47] adrinjalali opened #14692 "should utils.resample accept sample_weight?"
Working on implementing `sample_weight` for HGBT, I noticed we subsample, but `utils.resample` doesn't accept `sample_weight`.

I think whenever `sample_weight` is provided by the user and we do some sort of sampling, it should be taken into account. WDYT?

ping @ogrisel, @NicolasHug

[2019-08-20 12:48] chkoar commented on #14603
I found a little time and make a test.
If I set the hidden layers from 1 to 7 to `hidden_layer_sizes=(x,)` am getting the same results in production container and in my desktop. For instance for `hidden_layer_sizes=(7,)` I am getting in both machines the following results.
[code]
If I set `hidden_layer_sizes=(8,)` on my machine I am getting:
[code]

and in deployed container I am getting:
[code]

[2019-08-20 12:53] adrinjalali commented on #14692
Also, the LightGBM paper says they take into account the gradients and the sample weights of the samples into account when subsampling, we don't seem to be doing that, or is that something they say in the paper but they don't do?

[2019-08-20 13:02] #6557 closed

[2019-08-20 13:07] agamemnonc opened #14693 "GridSearchCV with Pipeline without Predictor"
#### Description
The Pipeline [documentation ](https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/compose.rst)states that:

However, trying to use `GridSearchCV` with a `Pipeline` that only includes transformers will fail (in the hypothetical scenario that you are trying to select hyper-parameters for a transformer only; this can be useful if the transformer in question is a post

[2019-08-20 13:09] NicolasHug commented on #14692
Gradients?? When subsampling for what?

How would you subsample according to sample_weights? higher weights have a higher chance to get picked? I guess we could add a `p` param like in `choice` but things might get ugly when we stratify

[2019-08-20 13:15] amueller commented on #14693
The issue is not the transformer, but using ``r2`` scoring, which requires calling predict. If you leave out the ``scoring`` and the last step implements a ``score`` method, it will work.

[2019-08-20 13:20] amueller commented on #14693
(renamed issue as "estimator" includes transformers)

[2019-08-20 13:22] NicolasHug commented on #14692
Oh OK that's the GOSS thing. It's an entirely different algorithm (see the boosting param which can be gbdt (default), rf, dart or goss)

[2019-08-20 13:29] agamemnonc commented on #14693
Oh, I see. Thanks @amueller .

Well, I guess this would make sense if the transformer is a prediction post-processing step (e.g. smoothing for time-series regression as per my example above). But I understand this cannot be supported (or there are no plans of doing so) given that you can't have a predictor step, unless it is the last one, right?

[2019-08-20 13:33] #14693 closed

[2019-08-20 13:34] jnothman commented on #14693
Perhaps you also want TransformedTargetRegressor

[2019-08-20 13:34] amueller commented on #14693
Target post-processing is a bit tricky unfortunately. I think you can use ``TransformedTargetRegressor`` with an identity transform and the post-processing as the ``inverse_transform``

[2019-08-20 13:40] amueller commented on #14603
what solver are you using? with sgd or adam you could start checking at which step they converge and why... I mean this is going down a rabbit hole but not sure what else to do.

[2019-08-20 13:45] amueller commented on #14687
why isn't ``check_array`` dealing with this? hrm... I guess it's mostly an issue on  ``y``.

[2019-08-20 13:45] rth commented on #14603
What EC2 instance are you running this on? Could be a different path in BLAS due to support of e.g. AVX512 there but not on your machine (or the opposite), we had such issues before. Though it looks like you are using system python I imagine with pip, not conda with MKL, right?

[2019-08-20 13:47] adrinjalali commented on #14692
ah ok, cool. Then not.

The `_get_small_trainset` specifically is what made me think of this. We subsample to 10000 samples.

How would you subsample according to sample_weights? higher weights have a higher chance to get picked? I guess we could add a `p` param like in `choice` but things might get ugly when we stratify

We can use the weights in each group independent of other groups when we str

[2019-08-20 13:53] NicolasHug commented on #14665
linking

I'd be happy with that. We'd have a bunch a previous PRs relying on the linking with single backticks, but not too many.

[2019-08-20 13:54] adrinjalali commented on #14687
`check_array` shouldn't deal with it if we want to keep a dask array a dask array as long as we can. So it shouldn't convert it (https://github.com/scikit-learn/scikit-learn/issues/11447)

I guess if we want to go down the road of supporting objects implementing `__array_function__`, we kinda should delay converting to a numpy arrya as long as we can, which would also help us better supporting pan

[2019-08-20 14:00] chkoar commented on #14603
@amueller I thought of it. I am using `adam` but even with `lbfgs` is does the same.

We are running on `t3.medium`. instances.

Great. Not great, but this helps to not get crazy!

Correct. As I said before if i deploy the image locally using docker for desktop it works as expected.

My next step is probably to deploy a debian based image as @thomasjpfan suggested or/and to deploy using conda and

[2019-08-20 14:07] amueller commented on #14687
I would argue we shouldn't delay conversion for now because itn will get us into hell. Definitely not until we can test for this.
To test for this, we need to have something that implements ``__array_function__`` for all possible functions and then test that things are handled correctly.
Maybe I'd create a class that raises an error if any ``__array_function__`` is called at all? That should allow

[2019-08-20 14:10] rth commented on #14603
From OpenBLAS release notes,
[code]

so it looks like matrix multiplication was partially broken there before https://github.com/xianyi/OpenBLAS/issues/2029. Very fun ..

There is probably some environment variable you could set to change the kernel used in OpenBLAS.

[2019-08-20 14:14] amueller commented on #14687
For this concrete example: what does ``len`` return? and what should it return? what operations trigger the computation for dask?

[2019-08-20 14:25] amueller commented on #14665
Don't have a strong opinion. so ``:py:`` does the linking to code and modules? does it to the same search as what the default role does?

[2019-08-20 14:30] NicolasHug commented on #14665
Why not still use the usual `:ref:`, `:class:`, `:term:`... ? At least we know what we're linking to

[2019-08-20 14:33] TomAugspurger commented on #14687
`len(dask.array.Array)` will hit the same issue. We're returning `nan`, which python will convert to a TypeError, since len is supposed to return an int.

Just to be clear, I'm not sure this is a case that scikit-learn *should* support. At least not for arbitrary estimators. For specific estimators like ColumnTransformer handling a Dask Array without unnecessarily converting to a NumPy array makes

[2019-08-20 14:39] amueller commented on #14687
If ``StandardScaler`` can be lazy or on GPU I wouldn't mind, but I think making sure that nothing breaks should be the first priority.
And I feel like ``len`` returning ``NaN`` seems to imply that dask doesn't actually implement the protocol fully, right?

There's two options basically: convert early or convert late, and as I think I mentioned in other issues, it could become very opaque to the us

[2019-08-20 14:46] rth commented on #14603
FWIW, t3 instances should support AVX512.

Reported upstream https://github.com/numpy/numpy/issues/14305 even if the issue is elsewhere, those release notes are worrisome by themselves.

[2019-08-20 15:14] thomasjpfan opened #14695 "Run doctest on VarianceThreshold"
https://github.com/scikit-learn/scikit-learn/blob/951c5019ac104cd271eed28cac147dbc1b261685/sklearn/feature_selection/variance_threshold.py#L35-L42

(Saving this for https://github.com/WiMLDS/nyc-2019-scikit-sprint)

[2019-08-20 15:31] TomAugspurger commented on #14687
Do you mean the `__array_function__` protocol, or Python's data model? Most of the time Dask arrays have a known shape, so `len` will return an int. But when you do an operation where the size of the output depends on the values of the data (like `np.unique`) the length is unknown.

[2019-08-20 15:38] amueller commented on #14687
I guess my thought was the ``__array_function__`` protocol but I guess you're not even implementing Python's data model ;)

Is there a specification of what a duck array should support? @shoyer might have thoughts?

I guess ``len`` is not an ``__array_function__``. ``np.shape`` is, though. What does ``np.shape`` return?

[2019-08-20 15:46] amueller commented on #14687
ok looks like ``np.shape`` also returns ``np.nan``. Does that satisfy what implementing the ``__array_function__`` protocol requires?

[2019-08-20 16:12] shoyer commented on #14687
NumPy itself doesn't really impose any restrictions on what you can do with `__array_function__`. I think it would be perfectly reasonable to error when length is NaN.

I would definitely coerce everything to NumPy arrays in `check_array`. As a first pass that's definitely the right thing to do. I'm a little surprised that wasn't happening already. Duck array support is something you want to add i

[2019-08-20 17:04] rth commented on #14603
Updating to numpy 1.16.4+ [might be enough to fix it](https://docs.scipy.org/doc/numpy/release.html#numpy-1-16-4-release-notes).

[2019-08-20 17:34] amueller commented on #14687
@shoyer well they were coerced, but apparently sometimes using numpy fuctions. So this will only be an issue on the next numpy release.

[2019-08-20 17:40] shoyer commented on #14687
The next NumPy release (1.17) is already here! `__array_function__` is now enabled by default.

Unfortunately, this is indeed a breaking a change, because `__array_function__` means that dask can now implements overrides of existing NumPy functions like `np.unique` which previously always did coercion.

[2019-08-20 19:10] mitchelldehaven opened #14700 ""English" stop-word list."
In the documentation https://scikit-learn.org/stable/modules/feature_extraction.html#stop-words it states that the current stop-word list provided has known issues. Is the current solution to use different stop-word list? Will the stop-word list be revised to avoid some of the problems references in the reference listed?

[2019-08-20 19:28] thomasjpfan commented on #14665
I mistyped. We still need `:class:`, `:term:`, `:mod:`, etc. (The default domain is `:py:`.)

[2019-08-20 20:13] amueller commented on #14687
oh but it's not available on conda? Or I'm doing something weird?

[2019-08-20 20:23] shoyer commented on #14687
You can find it in the conda-forge channel.

[2019-08-20 21:44] jnothman commented on #14700
See https://aclweb.org/anthology/papers/W/W18/W18-2502/. We found it hard
to justify a one-size-fits-all solution, but would recommend a more curated
list, like from the snowball family.

[2019-08-21 00:09] mitchelldehaven commented on #14700
When you say "one-size-fits-all" and "curated list" do you mean instead having multiple stopword lists, or am I misunderstanding?

[2019-08-21 00:46] truythu169 commented on #14690
@jnothman I'm so sorry, that was my mistake to apply ColumnTransformer with absent of columns.
As you said, we have to make sure no column is missing.
This is the details explain of my case:

- I have a DataFrame df1 with 3 columns 'A', 'B', 'C'
`df1 = pd.DataFrame('A': ..., 'B': ..., 'C': ...)`
- Make a transformer with df1
`preprocessor = ColumnTransformer( transformers=[('num', MinMaxScaler(),

[2019-08-21 02:59] qinhanmin2014 commented on #14673
I think this is the right way to go (if we want to solve this issue).

[2019-08-21 03:16] thomasjpfan opened #14703 "Reorganize examples into different subsections"
Sphinx gallery allows us to have subsections in examples. This means we can have a narrative between code, paragraphs, and images.

For example, the [plot_permutation_importance example](https://scikit-learn.org/dev/auto_examples/inspection/plot_permutation_importance.html#sphx-glr-auto-examples-inspection-plot-permutation-importance-py) is separated into different subsections.

On the other hand,

[2019-08-21 07:40] adrinjalali commented on #14664
I think here it's only about the dtype, I guess. And for that I personally prefer the `dtype ndarray of shape(...)`

[2019-08-21 10:40] jnothman commented on #14700
By curated, I mean something built by manual engineering. By
one-size-fits-all, I mean that for some problems you want larger lists, for
some you want smaller, for some you want none. Certainly varies across
domain of topic.

[2019-08-21 11:04] thomasjpfan commented on #14664
sometimes it means something quite different to "none" and that deserves
clarifying.

@jnothman This discussion is around the dtype. In the case of None, we could do one of the following:

1. `array-like of shape (n_samples,) or None, default=None`

2. `array-like of shape (n_samples,) or None`

3. `array-like of shape (n_samples,), default=None`

[2019-08-21 11:18] rth commented on #14608
I have not checked the math, but the hessian in `_multinomial_grad_hess` is tested in https://github.com/scikit-learn/scikit-learn/blob/4b6273b87442a4437d8b3873ea3022ae163f4fdf/sklearn/linear_model/tests/test_logistic.py#L978-L979

Shouldn't that test fail if the calculation was not correct?

[2019-08-21 11:44] Sorkanius commented on #2807
Any news on this?

[2019-08-21 13:07] sameshl commented on #14216
@adrinjalali Can you please update the checklist for this issue.
The following have been completed:
* `sklearn/compose/tests/` (https://github.com/scikit-learn/scikit-learn/pull/14670)
* `sklearn/covariance/tests/` (https://github.com/scikit-learn/scikit-learn/pull/14674)
* `sklearn/datasets/tests/` (https://github.com/scikit-learn/scikit-learn/pull/14676)
* `sklearn/decomposition/tests/` (https:/

[2019-08-21 13:32] adrinjalali commented on #14216
Thanks for the list, done @sameshl

[2019-08-21 15:25] jovo commented on #4406
we care!

[2019-08-21 15:40] amueller commented on #14700
Should the docs explicitly say that we decide not to try to provide a general solution?

[2019-08-21 16:21] glemaitre opened #14709 "HistGradientBoostingClassifier does not work with string target when early stopping turned on"
#### Description

The scorer used under the hood during early stopping is provided with `y_true` being integer while `y_pred` are original classes (i.e. string). We need to encode `y_true` each time that we want to compute the score.

#### Steps/Code to Reproduce

[code]

#### Expected Results
No error is thrown

#### Actual Results

[code]

#### Potential resolution

Maybe one solution would be t

[2019-08-21 16:21] glemaitre commented on #14709
ping @NicolasHug @ogrisel

[2019-08-21 17:26] jakirkham commented on #14036
Another concern that Ben helped identify earlier is that if we want to allow a user-defined `RandomState` object, we'd want to make sure this passes `check_random_state`. Currently that means the user-defined `RandomState` object would need to subclass [NumPy's `RandomState` object]( https://github.com/numpy/numpy/blob/e7383b5d5dff636ed92667a28751ce18f7086097/numpy/random/mtrand.pyx#L37 ) (please

[2019-08-21 17:43] adrinjalali opened #14711 "`sklearn/tree/*` refactoring"
This is the summary of what we have already discussed about the `sklearn/tree/splitter.*` cleaup.

The code uses separate classes for the dense and sparse data, and that mainly is to handle the `pre_sort=True` parameter, which used by the `GradientBoosting*` (not the new `HistGradientBoosting*`).

According to a quick benchmark done by @glemaitre , the `pre_sort=True` parameter gives a 2x speedup,

[2019-08-21 17:45] NicolasHug commented on #14711
Thanks for opening!

ping @mrae  who would be interested in this

[2019-08-21 17:47] david-cortes commented on #14608
Hmmm, now I realize it will only output the same `input * alpha` when the input has all the entries corresponding to the same number (e.g. `np.ones(n) * c`). I'm not sure if that's actually wrong (non-multinomial one doesn't do that), so I'm closing this.

[2019-08-21 17:47] #14608 closed

[2019-08-21 18:15] amueller commented on #8642
Not sure if this is a good first issue? Seems a bit hard?

[2019-08-21 18:24] raamana opened #14712 "More generic estimator checks"
#### Description

While trying to roll my own [estimator](https://github.com/raamana/kernelmethods/blob/master/kernelmethods/algorithms.py#L156) as part of [kernelmethods](github.com/raamana), I ran into a failed estimator check [`check_non_transformer_estimators_n_iter`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/estimator_checks.py#L2283).

This function is not suppos

[2019-08-21 18:45] raamana commented on #14712
Another peripheral suggestion:
As I ran into multiple fails in check_estimator, I noticed there is too much reliance on `ValueError` to check if the estimator raises an error when it is supposed to. I also noticed some checks look for a specific string (e.g. `Inf` or `NaN`) in the exception message. While this is okay, I think it would be more valuable to raise `SKLearnException` with a specific t

[2019-08-21 18:55] amueller opened #14713 "Simplify spectral clustering solver logic"
We need to simplify the logic for selecting a solver in ``spectral_clustering``.
See discussion here:
https://github.com/scikit-learn/scikit-learn/issues/10715#issuecomment-369236982
https://github.com/scikit-learn/scikit-learn/pull/14647#issuecomment-521294241
https://github.com/scikit-learn/scikit-learn/pull/10720#issuecomment-518878136

[2019-08-21 19:01] amueller commented on #14712
Thanks for your input. Also see #13969, #6715.
This specific test is kinda weird and maybe we don't want to run it for external models, so it might be excluded in a non-strict mode.

Clearly the hardcoded list here makes this impossible to apply to third party estimators.

You might also be interested in #14381 which should make running the tests much nicer.

[2019-08-21 19:04] amueller commented on #14036
@jakirkham I don't see why not.

[2019-08-21 19:06] amueller commented on #14687
#14702 should do it

[2019-08-21 19:22] thomasjpfan commented on #14036
Which interface do you have in mind? The interface for [cupy.random.RandomState](https://github.com/cupy/cupy/blob/68eabf326482e29e266fa071a1cdf6a6cff7cbcc/cupy/random/generator.py#L22) and [np.random.RandomState](https://github.com/numpy/numpy/blob/e7383b5d5dff636ed92667a28751ce18f7086097/numpy/random/mtrand.pyx#L37) are pretty extensive.

[2019-08-21 19:23] amueller commented on #14036
we kinda only need to distinguish it from an integer or None, right? We could check for a single common method existing. If we then try to use some obscure method and it's not implemented, well that's a reasonable error.

[2019-08-21 19:28] raamana commented on #14712
Thanks - didn't realize this was being actively discussed and improved on (my search for `check_estimator` through issues didn't bring any of that strangely).

Another suggestion to help the devs is to add a concrete **check-list** to the [Rolling Your Own Estimator guide](https://scikit-learn.org/stable/developers/contributing.html#rolling-your-own-estimator), detailing more concrete expectations

[2019-08-21 20:22] amueller commented on #14712
I agree ;) #10082
Help welcome!

[2019-08-21 23:11] amueller opened #14714 "Improve example on StratifiedKFold in user guide"
The user guide currently has the following example:
[code]
I think it would be much more instructive to show the class distributions for training and test set instead, and maybe create a slightly larger dataset to show the effect more clearly? Or compare against what KFold would do (which would be pretty disastrous in this case)

[2019-08-21 23:33] amueller commented on #14714
see #14560 for an example from the regression case.

[2019-08-22 05:34] oneraghavan commented on #14648
I would like to pick this up. Need some pointers .

[2019-08-22 07:14] venkyyuvy commented on #14641
@TomDLT
Please let me know, whether the PR makes sense to you.
Thanks

[2019-08-22 07:52] jnothman commented on #14648
Have a look at other estimators where multioutput classification is
supported. Understand the shape of the input and output and look at the
tests for multioutput support on those classifiers. Add a test
corresponding to similar functionality in test_voting.py (that checks
multioutput data can be fitted and can be predicted with the correct
shape). That test should fail. You can then open a WIP pul

[2019-08-22 08:21] rth commented on #14044
I agree that using `class Estimator(ClassifierMixin, BaseEstimator)` or `class Estimator(BaseClassifier)` where `BaseClassifier(ClassifierMixin, BaseEstimator)` should be pretty much equivalent.

The complication comes with multiple inheritence. Without mixins how would you write `class Birch(TransformerMixin, ClusterMixin, BaseEstimator)`?
 - `class Birch(TransformerMixin, BaseCluster)` is still

[2019-08-22 08:51] #11014 closed

[2019-08-22 10:34] jnothman commented on #14700
general solution?

fine by me

[2019-08-22 10:35] jnothman commented on #8642
Easy if you know cython?

[2019-08-22 10:37] #13609 closed

[2019-08-22 11:17] ogrisel commented on #14563
To my understanding, the main use case for `OrdinalEncoder` is to map strings category labels to arbitrary integers as a preprocessing for models like gradient boosting, RF, xgboost / lightgbm. Those models are assumed to be expressive enough such that the ordering has little impact on the predictive accuracy. (off-course impact/target coding would even be better by promoting fewer splits and smal

[2019-08-22 12:57] adrinjalali commented on #14630
Kinda related to this one, I was checking the package versions available on conda main channel vs conda-forge, and it seems conda forge is much more consistent with keeping all releases available, whereas conda main channel removes them for one reason or another (we've had a few issues recently with that). Should we move to taking packages from conda-forge in our CI?

[2019-08-22 13:00] adrinjalali commented on #8642
I wouldn't call anything which requires any understanding of cython easy. You're too advanced to notice it's hard @jnothman, it doesn't come as that easy to us mortals :P

[2019-08-22 13:07] glemaitre commented on #14630
By using conda-forge,  we will not be able to detect weird stuff that an
Anaconda user will get. I agree that this is bad for our CI stability but
this is good to identify any potential weird behaviour reported by user.

On Thu, 22 Aug 2019 at 14:58, Adrin Jalali <notifications@github.com> wrote:

--
Guillaume Lemaitre
INRIA Saclay - Parietal team
Center for Data Science Paris-Saclay
https://glema

[2019-08-22 13:15] desilinguist opened #14718 "Change behavior for Sparse DictVectorizer regarding Explicit Zeros in Scipy 1.3.X"
#### Description
DictVectorizer behaves differently when passed an input with explicit zeros with Scipy 1.3.X than it did with SciPy 1.2.1.

#### Steps/Code to Reproduce
1. Create two conda environments with scikit-learn 0.21.3 but one with SciPy 1.3.1 and the other with SciPy 1.2.1  as follows:

[code]

2. Run the following snippet of code in both environments:

[code]

3. The results are as foll

[2019-08-22 13:22] #14709 closed

[2019-08-22 14:04] rth opened #14720 "Private instances exposed as public attributes"
Something that came up as part of the GLM PR in https://github.com/scikit-learn/scikit-learn/pull/14300#discussion_r316683319

@rth

@NicolasHug

opening this issue for further discussion.

[2019-08-22 14:05] adrinjalali opened #14721 "Use decorators for simple input validations"
We have a lot of input validations on simple scalar inputs which can be handled with a decorator. It'd be less error prune and would simplify the code. Do we think that's a good idea?

Something like

[code]

[2019-08-22 14:11] NicolasHug commented on #14720
@rth 	I edited `_tree` and `_root` to `tree_` and `root_`

[2019-08-22 14:13] NicolasHug commented on #14720
To sum up my view: I think that `tree_` and `root_` should be private. I'm still OK with documenting these, but we should make clear that we don't guarantee backward compatibility.

[2019-08-22 14:18] thomasjpfan commented on #14721
I like this for functions.

We also do a bunch of similar validation in `fit` which we would not be able to use this decorator... unless we do something clever.

[2019-08-22 14:20] amueller commented on #14216
are we splitting this up for ease of reviewing? This can be done with a regex, right? @sameshl are you using a regex or doing this manually?

[2019-08-22 14:20] amueller commented on #14216
oh or with nose2pytest?

[2019-08-22 14:21] adrinjalali commented on #14721
Yeah I was hoping we could do that for methods too, haven't looked into how it'd work though.

[2019-08-22 14:24] adrinjalali commented on #14216
IIRC I did apply nose2pytest to the whole codebase and it's already in. So the leftovers need to be done in a different way.

[2019-08-22 14:25] rth commented on #14216
Yeah nose2pytest doesn't support assert_raises, from the readme,

and

But it still should be possible to do it with a regex I think?

[2019-08-22 14:26] amueller commented on #14216
Their docs say:
[code]

And
[code]

but I'm pretty sure these can be done with a regex.

[2019-08-22 14:26] amueller commented on #14216
lol @rth

[2019-08-22 14:48] rth commented on #14720
Overall I agree. Though I now that those are public, I wonder if it's really worth to changing them.

BTW, `GradientBoostingClassifier.loss_`,  a `LossFunction` (will be private once the deprecation cycle finished in 0.23) is also affected.

A releated question is then more on how to support custom objects are input arguments and whether this should be mentioned in some way in the docstring.

For

[2019-08-22 14:59] Sandy4321 commented on #14306
what is it GBDT
and what is it Histogram-based GBDT??
thanks

[2019-08-22 15:02] weber8thomas opened #14724 "Can't reload old model with joblib"
Hello everyone,

I have a problem with the update that consists to call directly joblib instead of calling it from sklearn.externals.

Here's my issue :

I stored a model with scikit version 0.20.3 by using scikit.externals joblib dump function. I updated my packages and it's now not possible to retrieve my model.

[code]

I think the problem comes from a mispelling link to the last line above. In

[2019-08-22 15:06] Sandy4321 commented on #14306
ok I see GBDT is GBM
now all clear

[2019-08-22 15:40] NicolasHug opened #14725 "Stratify subsampling when binning for histogram GBT"
In the GBDT code, we subsample the data for finding the bin thresholds efficiently.

I think this subsampling should be stratified for classification.

(It should also depend on the sample weights once we support it).

WDYT @adrinjalali 	@ogrisel 	?

[2019-08-22 15:48] amueller opened #14726 "Links to ONNX and PMML not correctly rendered"
https://scikit-learn.org/dev/modules/model_persistence.html

![Screenshot from 2019-08-22 11-47-28](https://user-images.githubusercontent.com/449558/63529478-b5930c00-c4d2-11e9-95b3-58896da0ef1a.png)

[2019-08-22 15:51] amueller commented on #14724
We don't support loading across versions:
https://scikit-learn.org/dev/modules/model_persistence.html

The module was moved here #12513

[2019-08-22 16:07] venkyyuvy commented on #14714
@amueller
I made an attempt to create a good example. Please give your comments.

[code]
[code]

[2019-08-22 16:14] NicolasHug commented on #14311
According to https://github.com/scikit-learn/scikit-learn/pull/14324 by @camilaagw, the only estimator that fails with constant features is `GraphicalLasso` with the error message `The system is too ill-conditionned for this solver`.

This is, IMO, a reasonable error message. And it's more general than something like "there are constant features in X", so I'm not sure it would make sense to enforc

[2019-08-22 16:26] amueller commented on #14714
I would probably use ``np.bincount`` instead of ``Counter``.
Do you think there's a clear visible difference between the two approaches here?

[2019-08-22 17:50] sameshl commented on #14216
Yes. I thought it might be easier this way.

I am not exactly sure about how I might do that with regex. So I am doing it with a couple of vim macros I made myself.

[2019-08-22 18:36] agamemnonc opened #14728 "median_absolute_error multioutput"
Multioutput is not currently supported in `median_absolute_error`. Is this a design choice or has it just not been implemented yet? In case of the latter, I am happy to submit a PR.

[2019-08-22 18:49] amueller commented on #14728
pretty sure it's just not implemented

[2019-08-22 18:53] agamemnonc commented on #14728
Thanks @amueller -- I will have a stab at it soon.

[2019-08-22 18:58] ArtyomKaltovich opened #14729 "WARNING: '' not a valid package name; please use only .-separated package names in setup.py running develop error: error in 'egg_base' option: '' does not exist or is not a directory during [48/49] Cythonizing sklearn/utils/sparsefuncs_fast.pyx"
#### Description
I follow the instraction here https://scikit-learn.org/dev/developers/contributing.html#contributing-code
But when I run

I got the following error:

    running develop
    error: error in 'egg_base' option: '' does not exist or is not a directory
    ----------------------------------------
  Rolling back uninstall of scikit-learn
  Moving to /usr/lib/python3.7/site-packages/sci

[2019-08-22 18:59] amueller commented on #14729
that's odd. can you provide the full traceback?

[2019-08-22 19:06] ArtyomKaltovich commented on #14729
Hello.

Thank you for fast answer.

Actually message has changed, maybe due to increment compyling?

Now it is following:

Obtaining file:///home/my/projects/scikit-learn
Requirement already satisfied: numpy>=1.11.0 in /usr/lib/python3.7/site-packages (from scikit-learn==0.22.dev0) (1.17.0)
Requirement already satisfied: scipy>=0.17.0 in /usr/lib/python3.7/site-packages (from scikit-learn==0.22.de

[2019-08-22 19:13] ArtyomKaltovich commented on #14729
This is link to pip log.
https://gist.github.com/ArtyomKaltovich/6df19496c1c9638321de09597e22c661

[2019-08-22 19:15] kool7d opened #14730 "Permutation importance only returning zeros"
#### Description

I am trying to get permutation importances for my 200x928 dataset, with 4 different classes for each sample.
#### Steps/Code to Reproduce

import sklearn
import pandas as pd
import sklearn.ensemble as ens
import numpy as np

X = pd.read_csv("Data/normalizeddata.csv, header=None)
Y = pd.read_csv("Data/classifications.csv, header=None)
X2 = np.array(X)
Y2 = np.array(Y).flatten()

X

[2019-08-22 19:32] ArtyomKaltovich commented on #14729
Ok. When I deleted all and started again sklearn builds succesfully.
I have no idea what was wrong for the first time. :)

[2019-08-22 19:37] ArtyomKaltovich commented on #14729
BTW. Where can I find info how to write tests?)

[2019-08-22 20:44] stefan-matcovici commented on #14726
There are no links in the docs code from what I can see. The links should be to wiki pages or to official pages for [ONNX ](https://onnx.ai/) and [PMML](http://dmg.org/pmml/v4-4/GeneralStructure.html) ?

[2019-08-22 21:01] jnothman commented on #14726
Official pages, please.

[2019-08-22 21:03] jnothman commented on #14730
What is your cross validation performance?

[2019-08-22 21:08] #14724 closed

[2019-08-22 23:12] plpxsk opened #14735 "Implement class_weight in HistGradientBoostingClassifier"
Just a reminder/note to implement `class_weight` [="balanced"] for this new algorithm.

Looking forward to when this will be implemented.

If anyone has any interim suggestions for dealing with imbalanced data with this algorithm, include them below.

Cheers.

[2019-08-22 23:38] jnothman commented on #14718
Thanks for the report. Can you please describe how/why you were relying on
the absence of explicit zeros? Because you were generating dicts with zero
values, and hoping for a sparse result?

[2019-08-22 23:45] desilinguist commented on #14718
That’s exactly right. One of the utility classes in SKLL was writing out
dicts with zeros (computed from an array using `todense()`) and we assumed
- based on past behavior - that DictVectorizer would do the “right” thing
there and give us a sparse array.

On Thu, Aug 22, 2019 at 7:39 PM Joel Nothman <notifications@github.com>
wrote:

--
Linguist, Desi Linguist
http://www.desilinguist.org

[2019-08-22 23:51] jnothman commented on #14718
It sounds to me like making our behaviour correspond to the old behaviour
is a good idea.

However, as far as I can tell this we don't use __setitem__ to store the
content, so I'm not sure whether you've pinpointed the correct change in
scipy behaviour.

[2019-08-22 23:52] desilinguist commented on #14718
I stepped through the DictVectorizer code and the line I linked to in the original issue description above was what got rid of the explicit zeros.

[2019-08-23 03:33] venkyyuvy commented on #14714
@amueller
Sure. Thanks for your comments. Please find my updated example:
[code]

[code]

[2019-08-23 05:26] #14630 closed

[2019-08-23 06:56] stephantul opened #14738 "fetch_20_newsgroups_vectorized normalizes data, but does not mention this in docstring"
#### Description

The docstring of `fetch_20_newsgroups_vectorized` is incomplete. It states that the data is vectorized using the default `CountVectorizer`. But the current implementation actually normalizes the counts afterwards, which is not mentioned anywhere.

#### Steps/Code to Reproduce

[code]

The culprit is the normalization performed in this line:
https://github.com/scikit-learn/scikit-

[2019-08-23 07:36] rth commented on #14738
Hmm, indeed that should definitely be documented and strange to not leave user a choice about it.

I think we can,
 - add a `normalize` option with default to `True`. That will help documenting this behavior as well. The sentence stating that default CountVectorizer options are used needs updating.

I am not sure if it's worth changing the default from True to False. If it is we could do it in a d

[2019-08-23 07:46] stephantul commented on #14738
@rth I think adding normalization as an option is a good idea. I'll make a PR.

Since I'm about to make changes to this piece of code: the default random state for `fetch_20newsgroups` is 42, but in `fetch_20newsgroups_vectorized` this random state is hardcoded as 12.

https://github.com/scikit-learn/scikit-learn/blob/8e8e60eaa33ceeb6e2e846c747813bcf57899148/sklearn/datasets/twenty_newsgroups.py#L

[2019-08-23 09:07] rth commented on #14738
It could be good to change that, but then we will end up in a situation where half of the users use cached version with one random state and others re-create it with another one. We could add some cache invalidation mechanism, but I'm not sure if it's worth it. Also technically it's not backward compatible. Probably better to do it in a separate PR.

[2019-08-23 10:12] glemaitre commented on #14711
We should just check that we don't slow down the forest but if it simplifies the code drastically, I think that this would be worth for maintainability.

[2019-08-23 10:18] simetenn opened #14739 "pairwise_distance with metric="euclidean" returns wrong result"
#### Description

`pairwise_distance` with `metric="euclidean"` returns the wrong result for the distance between two large, but close points.

I suspect the difference is due differences in the sklearn implementation and the scipy implementation. However, this might be because sklearn uses a faster, but less precise method, and therefore this result is as expected?

#### Steps/Code to Reproduce

[2019-08-23 11:39] #14726 closed

[2019-08-23 12:19] glemaitre commented on #14216
Just a note here. We can also replace `assert_raise_message`. This is the same deal.

[2019-08-23 12:51] wxnudt commented on #10493
I think I also meet the same problem. have you fixed it? @maykulkarni

[2019-08-23 13:47] glemaitre opened #14741 "Documentation not properly rendered in pariwise_kernel"
The documentation is not properly rendered in the `pairwise_kernel` API:
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.pairwise_kernels.html

The docstring should be changed.

[2019-08-23 15:26] glemaitre commented on #14739
We are using `a**2 + b**2 - 2*a*b` which is not precise in these conditions.

ping @rth @jeremiedbb if you want to add something about it (link other issues, etc.)

[2019-08-23 16:12] agam1948 opened #14742 "Recreate brain"
Hi, I would like to know, if I train the AI on a big data set, and ask to predict it takes time to run bc it needs to train itself and then answer.
How can I train it once and then use 'it trained brain' to ask it a question and get fast response?

[2019-08-23 17:04] NicolasHug commented on #14742
@agam1948 , you can definitely train  your model only once and re-use it for as many predictions as you need.

When `fit()` is called, the estimator will save the necessary info it needs to output new predictions, without needing to re-train.

[2019-08-23 17:09] glemaitre commented on #14742
You can look also look at how machine-learning models are deployed in production.
Since this is more a StackOverflow or Google questions, I am going to close this issue.

[2019-08-23 17:09] #14742 closed

[2019-08-23 17:30] NicolasHug opened #14743 "Let's bring the release highlights back"
We used to have those but stopped. Dask has [release highlights](https://blog.dask.org/2019/08/02/dask-2.2) with small code snippets to illustrate the new cool features. This is great, let's do that too!

Since we're also considering updating the docs style / layout, we might also consider having a "release highlights" section (or even a "blog" section??).

But meanwhile, I guess a first decent at

[2019-08-23 18:17] NicolasHug commented on #14695
What exactly needs to be done @thomasjpfan 	?

[2019-08-23 18:52] thomasjpfan commented on #14695
This is a codeblock, so the doc test is not running.

[2019-08-23 19:01] thomasjpfan commented on #14695
Okay this is running.

[2019-08-23 19:01] #14695 closed

[2019-08-23 19:05] thomasjpfan commented on #14695
In this doctest, it will imports `VarianceThreshold` automatically without the import statement. 😅

[2019-08-23 22:30] raamana commented on #14712
Thanks, would have loved to help. Given there may be multiple facets to this (disassembling the whole check_estimator part of codebase, different versions of check lists for different estimator types etc, and refining them by targeting the tests directly), it is a non-trivial job and I am unfortunately quite busy with my own software, trying to get [kernelmethods](github.com/raamana/kernelmethods)

[2019-08-24 05:30] agam1948 opened #14746 "@agam1948 , you can definitely train your model only once and re-use it for as many predictions as you need."
@agam1948 , you can definitely train  your model only once and re-use it for as many predictions as you need.

When `fit()` is called, the estimator will save the necessary info it needs to output new predictions, without needing to re-train.

_Originally posted by @NicolasHug in https://github.com/scikit-learn/scikit-learn/issues/14742#issuecomment-524390558_

OK,
but how do I  use it in another

[2019-08-24 09:27] sdpython opened #14747 "Tree: node_value could be float instead of double"
#### Description

Predict function in [_tree.pyx](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/_tree.pyx#L796) is comparing a float feature to a double threshold (node_value). The double threshold could be replaced by a float threshold using the following function:

[code]

More explanations: [Tricky detail when converting a random forest from scikit-learn into ONNX](http:

[2019-08-24 10:29] NicolasHug commented on #14746
Please see our docs about model persistence.

As mentioned before these questions would be better for stack overflow or other related platform. This is a bug tracker. A quick Google search would help you here.
Closing the issue.

[2019-08-24 10:29] #14746 closed

[2019-08-24 11:28] Pezhvuk commented on #9146
Any updates on integrating Cupy into scikit-learn? Maybe at least for more computationally expensive operations like t-SNE first and then gradually building up?

[2019-08-24 12:48] #14673 closed

[2019-08-24 13:38] shashanksingh28 commented on #11816
Pick this to work on while in NYC WiMLDS Sprint Aug 24, 2019

[2019-08-24 13:41] NicolasHug commented on #14725
Also following https://github.com/scikit-learn/scikit-learn/pull/14560 we could also stratify for regression

[2019-08-24 14:02] jnothman commented on #14743
Is there a reason to separate this from what's new?

[2019-08-24 14:09] NicolasHug commented on #14743
the what's new right now is an exhaustive list of all the changes, not a curated one. Even finding the entries tagged as MajorFeature is hard IMO. The what's new isn't didactic either.

[2019-08-24 14:14] jnothman commented on #14743
I agree that this extends beyond most of our what's new content... For 0.20
I tried to write highlights, partially because it was so huge, and
partially because I felt I could afford that effort. I'd be happy to see
those notes as an additional section in what's new. Curious about your idea
of presenting it as an example, though?

[2019-08-24 14:18] NicolasHug commented on #14743
The problem with integrating this in the whats new is that the whatsnew is already a pretty long page. Also the entries for 0.21.3 hide the notes for 0.21 (which is were we would put the release notes).

I was just thinking of linking to an example e.g. `release_notes_0_22.py` from the whatsnew. But of course I'm open to anything this is just a preliminary draft

[2019-08-24 14:19] topisan commented on #14347
Working on it, NYC WiMLDS Sprint

[2019-08-24 14:20] alankritaghosh commented on #10733
I will take a look into it, NYC WiMLDS Sprint

[2019-08-24 14:22] xcjason commented on #6110
Working on this issue.

[2019-08-24 14:23] YuliaZamriy commented on #10944
I'm working on it.

[2019-08-24 14:29] KseniaShkaruta commented on #14347
Partnered with @topisan to work on this

[2019-08-24 14:31] anuja-kelkar commented on #14703
I'm working on this.

[2019-08-24 14:33] achievermina commented on #13048
Can I work on this?

[2019-08-24 14:36] jay-z007 commented on #10903
I can take this up. NYC WiMLDS

[2019-08-24 14:36] jfrank94 commented on #10903
I'm going to take a stab at this and will edit this comment for updates.

[2019-08-24 14:37] hirenmayani commented on #13969
I'm working on this. NYC WiMLDS

[2019-08-24 14:37] shrev commented on #14714
I am working on this

[2019-08-24 14:38] aditi9783 commented on #10905
I'm working on this.

[2019-08-24 14:40] shrev commented on #11696
working on this

[2019-08-24 14:41] hannahbrucemacdonald commented on #14312
We are working on the functions in `dict_learning.py` @spbail

[2019-08-24 14:43] m-clare commented on #14312
Working on LinearDiscriminantAnalysis with @olgadk7

[2019-08-24 14:44] ingrid88 commented on #14312
Working on RidgeClassifierCV @npatta01

[2019-08-24 14:46] meiguan commented on #14312
Working on DecisionTreeClassifier with @ingrid88 + @npatta01

[2019-08-24 14:47] NicolasHug commented on #14703
Thanks @anuja-kelkar 	, can you please mention the example you're working on so others don't pick it up?

[2019-08-24 14:49] anuja-kelkar commented on #14703
@NicolasHug  I will work on plot_kernel_approximation example.

[2019-08-24 14:51] amueller commented on #14714
@venkyyuvy can you send a pull request?

[2019-08-24 14:54] amueller commented on #13969
@hirenmayani I would recommend you start with something smaller if you haven't worked on sklearn before, you can also pick up something more tricky later.

[2019-08-24 14:54] kellycarmody commented on #14703
Hi @NicolasHug, are the ones in the example gallery ones that you're trying to fix, or examples to model after?

[2019-08-24 14:54] amueller commented on #10903
@jay-z007 @jfrank94 please make sure you coordinate.

[2019-08-24 14:54] kellycarmody commented on #14703
Is the plot_kernel_approximation example the only one to organize or are there other ones to organize?

[2019-08-24 14:55] m-clare commented on #14312
False positive for the attribute script above. This has been documented.

[2019-08-24 14:56] NicolasHug commented on #14703
@kellycarmody 	Most of our examples need to be re-organize, not just plot_kernel_approximation

[2019-08-24 14:56] amueller commented on #14703
There's many more

[2019-08-24 14:58] neginkrahbar commented on #11772
Picking up on this issue with @nahsin

[2019-08-24 14:58] xcjason commented on #6110
Working on `sklearn/tree/_criterion.pyx`

[2019-08-24 14:59] joygraciacia commented on #14703
trying to work on this!

[2019-08-24 15:00] NicolasHug commented on #14703
@joygraciacia please make sure you mention the specific example you work on

[2019-08-24 15:03] amueller commented on #10733
@alankritaghosh which dataset loader do you want to work on?

[2019-08-24 15:04] anuja-kelkar commented on #14703
@NicolasHug For the plot_kernel_approximation example, I am trying to find how the images are embeded in the .py file. I cannot find the sphinx _image_ directive in the file. How are the images referenced here?

[2019-08-24 15:06] YuliaZamriy commented on #14703
We are working on "The Johnson-Lindenstrauss bound for embedding with random projections"

[2019-08-24 15:06] m-clare commented on #14312
Working on AdditiveChi2Sampler with @olgadk7

[2019-08-24 15:09] hirenmayani commented on #13969
I think I can fix it. Will ask you if I need any help.

[2019-08-24 15:12] hannahbrucemacdonald commented on #10360
@spbail and I are working on this for the SciKit sprint

[2019-08-24 15:12] andreanr commented on #2890
This Issue can be closed by the MRG #6305 that adds  GMM using the sklearn.datasets.make_blobs

[2019-08-24 15:13] amueller commented on #13969
@hirenmayani ok go for it then.

[2019-08-24 15:13] kellycarmody commented on #14703
Ah ok, thanks

[2019-08-24 15:13] FranciDona commented on #14312
Working on LabelEncoder with @eugeniaft

[2019-08-24 15:15] RuchitaGarde commented on #14703
We are working on "Classification of text documents using sparse features".

[2019-08-24 15:16] xcjason commented on #6110
Working on `sklearn/tree/_splitter.pyx`

[2019-08-24 15:18] joygraciacia commented on #14312
will try to work on randomtreeclassifier!

[2019-08-24 15:18] kellycarmody commented on #14703
Working on "Comparing Anomaly Detection Algorithms for Outlier Detection on Toy Datasets"

[2019-08-24 15:20] shashanksingh28 commented on #11816
I think this check should be optional. What do other core developers think? Forcing the verification ensures security against man in middle mocking but but adds some processing overhead. Should users pay this overhead by default?

[2019-08-24 15:20] alankritaghosh commented on #10733
I am checking sklearn/datasets/base.py and I see most dataset already has that feather (return_X_y=False) and the only dataset left is from function load_sample_images(). If I am tracing this issue correctly, I think that is the dataset I am going to look at.

[2019-08-24 15:23] amueller commented on #10733
@alankritaghosh hm I'm not sure if that actually makes sense for the images, let me check.

[2019-08-24 15:24] amueller commented on #10733
I don't think it actually makes sense for images, if you can confirm that all the other loaders have it, we can close the issue.

[2019-08-24 15:26] alankritaghosh commented on #10733
I saw 10 functions in total, and 8 of them already has feature return_X_y, the two remaining part is load_sample_images() and load_sample_image(). So I think we can close the issue.

[2019-08-24 15:26] amueller commented on #10733
It doesn't make sense for the images, but this is about adding an ``as_frame=True``

[2019-08-24 15:28] hannahbrucemacdonald commented on #10360
I think that two things should be addressed:

- [ ] verbose should be an `int` rather than `bool`
based on the comments in #10974

- [ ] add a `_log_message function to the class `VotingClassifier`
based on functions implemented in #11364

[2019-08-24 15:31] amueller commented on #10360
yes

[2019-08-24 15:32] sherry-jiayun commented on #14580
I will take a look into it, NYC WiMLDS Sprint, and let me know if somebody else already solved this

[2019-08-24 15:34] amueller commented on #2890
This issue is about adding another dataset, not a method. I actually quite like the dataset here: https://hdbscan.readthedocs.io/en/latest/advanced_hdbscan.html#getting-more-information-about-a-clustering
but something like the one in the original issue is also good

[2019-08-24 15:37] getgaurav2 commented on #14580
@sherry-jiayun  - I am working on this   . It is almost done .

[2019-08-24 15:37] alankritaghosh commented on #10733
And I agree with you. It doesn't make sense for the image. I can add that paras so all load function will have similar structure, and show a warning message if anyone set return_X_y = True for load_sample_images() function, how does that sound?

[2019-08-24 15:38] sherry-jiayun commented on #14580
Gotcha, sorry if I interrupt your work.

[2019-08-24 15:42] getgaurav2 commented on #14580
Not at all ..thanks.

[2019-08-24 15:48] sherry-jiayun commented on #14347
Looking on this, NYC WiMLDS Sprint will take a look at load_wine dataset

[2019-08-24 15:53] jay-z007 commented on #7141
I can take this up. NYC WiMLDS sprint

[2019-08-24 15:55] KseniaShkaruta commented on #14347
It looks like breast_cancer already fixed by someone before and returns X, y = lead_breast_cancer(return_X_y = True)

[2019-08-24 15:58] amueller commented on #11816
I think having it true by default seems good but I'm fine with being able to disable it with an option.

[2019-08-24 16:05] sherry-jiayun commented on #14347
load_wine seems already been fixed as well, looking at load_iris now

[2019-08-24 16:13] amueller commented on #2890
oh actually fixed, sorry @andreanr

[2019-08-24 16:13] #2890 closed

[2019-08-24 16:13] Pakigya opened #14756 "Adding Documentation about creating Virtual Environment for Contribution using Anaconda"
#### Description
Creating a more detailed documentation for Contribution using virtual environments. Currently, the documentation only consists of contributing using the contributor's own development environment. It would be great to add more specific documentation for creating virtual environments and working on development work there rather than working in their primary environment which might b

[2019-08-24 16:23] CatChenal opened #14760 "datasets :: make_classification() weights parameter should be a sequence (not just a list)."
### `weights` should be passed as list or array (not just list) in `sklearn\datasets\samples_generator.py :: make_classification`:
 If there is a pertinent reason that `weights` must be a list, while *all other iterable parameters are arrays*, then it should be mentioned in the docstring. Otherwise, the docstring should be amended as in `make_blobs`, e.g.  "weights : list of floats or None (defaul

[2019-08-24 16:30] amueller commented on #14756
I think it would be good to add this to the https://scikit-learn.org/stable/developers/contributing.html#how-to-contribute section. Not sure it requires an entire subsection, though, and I'd only document it in one place, probably only the developer docs and not the advanced installation docs.

[2019-08-24 16:32] amueller commented on #14760
sounds good, please open a PR

[2019-08-24 16:34] Pakigya commented on #14756
Sure! I was thinking to add it only to `how to contribute` as well. Thanks for the reply!

[2019-08-24 16:49] joanaz commented on #14312
working on

Perceptron
RandomForestClassifier
RandomForestRegressor

[2019-08-24 16:51] andreanr commented on #12649
I will be working on this

[2019-08-24 16:52] xcjason commented on #6110
Working on `sklearn/tree/_tree.pyx`

[2019-08-24 16:59] npatta01 commented on #14312
working on BernoulliRBM

[2019-08-24 17:01] she-dares commented on #14312
Working on ExtraTreeClassifer

[2019-08-24 17:03] FranciDona commented on #14312
LabelEncoder looks like it has no mismatch, we're working on OneClassSVM

[2019-08-24 17:03] amueller commented on #14312
I think the tree regressors should deprecate their classes instead.

[2019-08-24 17:04] amueller opened #14766 "Deprecate classes_ and n_classes_ in tree regressors"
There's a special treatment in ``BaseDecisionTree`` to add ``classes_`` and ``n_classes_`` to ``DecisionTreeRegressor``. I think they should be deprecated, see https://scikit-learn.org/dev/developers/contributing.html#deprecation

[2019-08-24 17:11] NicolasHug commented on #14766
Might be worth a few more details? (for the sprint)

[2019-08-24 17:12] amueller commented on #14766
@NicolasHug please feel free to elaborate ;)

[2019-08-24 17:12] olgadk7 commented on #14703
Working on Neighborhood Components Analysis Illustration with @m-clare

[2019-08-24 17:14] xcjason commented on #14766
I'm working on this issue.

[2019-08-24 17:14] ingrid88 commented on #14312
working on SVR

[2019-08-24 17:17] amueller commented on #14766
@meiguan do you want to work on this? Or coordinate with @xcjason

[2019-08-24 17:17] meiguan commented on #14766
I am working on it now. just reading the documentation you linked in.

[2019-08-24 17:21] xcjason commented on #14766
ok I'll leave it to @meiguan then

[2019-08-24 17:23] marielme commented on #14703
Hi, I will work on "Imputing missing values before building an estimator"

[2019-08-24 17:42] amueller commented on #10733
I think that's fine as it is now. But we can still add the ``as_frame=True`` to other loaders.

[2019-08-24 17:45] eugeniaft opened #14774 "OneClassSVM n_support_ returns incorrect value"
#### Description
 Example: OneClassSVM n_support returns incorrect values> 0

#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results
array with one integer

#### Actual Results
array([-206807307, 1070878112])

#### Versions
System:
python: 3.7.3 (default, Mar 27 2019, 17:13:21) [MSC v.1915 64 bit (AMD64)]
executable: C:\Users\franc\Anaconda3\python.exe
machine: Windows-10-10.0.17763-

[2019-08-24 17:52] topisan commented on #9113
working on it, WiMLDS, NYC Sprint

[2019-08-24 17:52] amueller commented on #14774
you forgot one line in your reproduction script, I think?

[2019-08-24 17:55] amueller commented on #14774
doesn't look like ``random_state`` exists any more also ;)
https://scikit-learn.org/dev/modules/generated/sklearn.svm.OneClassSVM.html#sklearn.svm.OneClassSV

[2019-08-24 17:55] YuliaZamriy commented on #14312
Working on:
- OneVsOneClassifier, [n_classes_]
- OneVsRestClassifier, [coef_, intercept_, n_classes_]

[2019-08-24 18:00] arzoobh commented on #14312
working on LinearRegression, [rank_, singular_]

[2019-08-24 18:00] eugeniaft commented on #14774
oops, edited

[2019-08-24 18:04] amueller commented on #14774
@eugeniaft i'm just being picky ;)

[2019-08-24 18:05] amueller commented on #14743
when did we have these?

[2019-08-24 18:05] amueller commented on #14743
we use to have blog posts, but they were actually not linked to the main page (which is bad)

[2019-08-24 18:08] NicolasHug commented on #14743
I was talking about e.g. http://gael-varoquaux.info/programming/scikit-learn-015-release-highlights.html

[2019-08-24 18:14] amueller commented on #14672
@venkyyuvy I think we should just change the handling in https://github.com/scikit-learn/scikit-learn/blob/1495f6924/sklearn/linear_model/ridge.py#L1459 and make sure we treat both regressors and classifier correctly

[2019-08-24 18:14] xcjason commented on #14774
I'm working on this issue. WiMLDS sprint.

[2019-08-24 18:20] topisan commented on #9113
Working on it, NYC WiMLDS Sprint

[2019-08-24 18:23] aditi9783 commented on #10733
@vmanisha and I'd like to work on this: adding `as_frame=True` to relevant functions.

[2019-08-24 18:25] amueller commented on #10733
@aditi9783 great, maybe pick one dataset loader to start with

[2019-08-24 18:26] amueller commented on #9113
@topisan maybe check if @topisan is still working on it but it looks like they might not? Definitely look at #11723 though.

[2019-08-24 18:34] ingrid88 opened #14781 "SVR inherited attributes: probB / probA"
probA_ and probB_ are attributes inherited from the base class [`libsvm` ](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/libsvm.pyx#L150)in the SVR class. However SVR does not allow for a `probability = True` as an input like the libsvm class does, therefore these attributes always return an empty array. I'm not sure they should be included here.

Link to code: https://githu

[2019-08-24 18:36] nityamd commented on #13887
I'll work on this.

[2019-08-24 18:44] amueller commented on #14781
They should indeed be removed / deprecated. I think someone might be working on that already (or did I talk to you about that earlier?)
See https://scikit-learn.org/dev/developers/contributing.html#deprecation

[2019-08-24 18:46] amueller commented on #14781
do you want to work on this?
You can talk to @meiguan who does something similar for #14766.

[2019-08-24 18:48] amueller commented on #13887
@nityamd I think @stefan-matcovici is working on that already in #14123.

[2019-08-24 18:54] amueller opened #14784 "building from source fails on OS X and windows by default?"
I haven't followed the openmp building in detail but it looks like on OS X and windows building are now failing by default?
That's pretty annoying for sprinting with a bigger group and also can raise the frustration level of new contributors who are likely to be on these OSs

[2019-08-24 18:58] NicolasHug commented on #14351
While I like the idea, I think we should still be careful when removing these, espcially in the tests: sometimes a test is easier to understand when we explicitly mention some parameters, even though these are the defaults.

[2019-08-24 19:00] topisan commented on #9113
@dorcoh are you still working in this?

[2019-08-24 19:05] YuliaZamriy commented on #14312
working on LatentDirichletAllocation, [bound_, doc_topic_prior_, exp_dirichlet_component_, random_state_, topic_word_prior_]

[2019-08-24 19:08] NicolasHug commented on #14700
Closing, was addressed by #14755

[2019-08-24 19:08] #14700 closed

[2019-08-24 19:11] amueller commented on #14774
same issue for ``SVR``

[2019-08-24 19:12] ingrid88 commented on #14781
Ok sounds good

[2019-08-24 19:23] dorcoh commented on #9113
Hi not currently, I will be able to continue in the following weeks. Worth looking at our PR last comments as @amueller mentioned

[2019-08-24 19:24] ingrid88 opened #14788 "Deprecate n_support_ and class_weight_ from SVR class"
the SVR class has attributes n_support_  and class_weight_ which should be deprecated

per https://github.com/scikit-learn/scikit-learn/pull/14773#discussion_r317371146 There is no n_class, therefore there should not be n_support_ or class_weight_ attributes

[2019-08-24 19:40] joanaz commented on #14312
working on
BaggingClassifier, [n_features_, oob_decision_function_, oob_score_]
  BaggingRegressor, [base_estimator_, n_features_, oob_prediction_, oob_score_]

[2019-08-24 19:48] joanaz commented on #14312
latest Docstring Errors for
BaggingClassifier, [estimators_samples_, oob_decision_function_, oob_score_]
 BaggingRegressor, [estimators_samples_, oob_prediction_, oob_score_]
oob_ attributes are address in PR #14779, estimators_samples_ properties are false positives.

[2019-08-24 20:30] amueller commented on #14774
so in ``copy_nSV`` we just ``return`` in these cases (``labels`` is ```NULL``) and we're returning uninitialized memory, when we should return ``model->l`` instead.

[2019-08-24 20:31] nitya commented on #14312
working on
AdaBoostClassifier, [base_estimator_]

[2019-08-24 20:33] amueller commented on #14774
lol it says
[code]
(and the whole room looked at me for laughing out loud at a 9 year old todo)

[2019-08-24 20:58] FranciDona commented on #14781
We are working on the same issue but for OneClassSVM @eugeniaft

[2019-08-24 21:08] NahsiN commented on #11696
I just built my latex doc using `make latexpdf` and I did not receive any "LaTeX Warning". The output is [here](https://www.dropbox.com/s/gl140pdsfbmuiyo/build_pdf.log?dl=0)
Is this still a problem for some people?

Details
----------
Linux-5.0.0-25-generic-x86_64-with-debian-buster-sid
Python 3.7.3 (default, Mar 27 2019, 22:11:17)
[GCC 7.3.0]
NumPy 1.16.4
SciPy 1.3.0
Scikit-Learn 0.22.dev0

[2019-08-24 21:37] NicolasHug commented on #14720
Another instance that I found is the `loss_function_` attribute of BaseSGD and all child classes. I'm not sure it make sense to expose these, even though they're not explicitly private, they are defined in `sgd_fast.pyx`. They're all undocumented classes.

from https://github.com/scikit-learn/scikit-learn/pull/14789#event-2581612854

[2019-08-24 21:39] NicolasHug commented on #14720
Another instance that I found is the `loss_function_` attribute of BaseSGD and all child classes. I'm not sure it make sense to expose these, even though they're not explicitly private, they are defined in `sgd_fast.pyx`. They're all undocumented classes.

from https://github.com/scikit-learn/scikit-learn/pull/14789#event-2581612854

[2019-08-24 21:54] #14347 closed

[2019-08-24 23:00] jnothman commented on #13048
It doesn't look like anyone else is doing it, Mina.

[2019-08-24 23:50] jnothman commented on #14784
Do you think it would be better if it silently built without openmp?

[2019-08-24 23:50] jnothman commented on #14784
(I mean not silently... we could have a warning at the beginning of the
build and at the end)

[2019-08-25 00:22] thomasjpfan commented on #14784
The top build issues were:

1. On windows - not having a C++ compiler (visual studio)
2. On OSX - setting up openmp using homebrew

If we can create an conda environment file and use a compiler on conda we can have a quick:

[code]

[2019-08-25 00:31] #6639 closed

[2019-08-25 03:45] malikyousef commented on #10368
Can what we have at the end ? is it the standard svm-rfe?

[2019-08-25 10:59] jnothman commented on #13773
It'd be nice to make progress on this

[2019-08-25 13:53] hermidalc commented on #10368
Not sure exactly what you mean but the original SVM-RFE algorithm paper which I referenced in the thread describes doing exactly what I’m working on in the pull request.  So short answer is yes it will be standard SVM-RFE

[2019-08-25 16:37] sergeyf commented on #13773
Maybe I can take a crack at this.

To review: the change would be to (optionally and by default) to `fit` regressors on even those features that have no missing values at train time.

At `transform`, we can then impute them these features if they are missing for any sample.

We will need a new test, and to update the doc string, Maybe the test can come directly from https://github.com/scikit-learn

[2019-08-25 18:37] jcorrado76 commented on #12494
Hi, I just ran into the exact same issue. I spent hours pouring over why this would be happening until I found this thread. I believe I might have been working on the same example. The Chapter 2 example from Hands on Machine Learning with Scikit Learn and Tensorflow by Aurelion Geron. I just wanted to note that you can also just determine what the unique values for the column you pass to the categ

[2019-08-25 20:18] Patil2099 commented on #14714
@amueller Can I make a pr?

[2019-08-25 20:25] rth commented on #14743
Both of the examples you mention are blog posts about highlights of the release. We can do that, but maybe on some separate website/blog as done in these examples? Our "what's new" section corresponds to release notes, and I think it would be very confusing to have both a "what's new" section and "release notes" in the documentation.

[2019-08-25 20:27] rth commented on #14743
Though we could have some examples illustrating best practices with new features (e.g. using ColumnTransformer in 0.20 and probably model interpretation in the next release)?

[2019-08-25 20:33] NicolasHug commented on #14743
Yes, that's what I mean by "release notes", maybe that's not the right name.

I'd rather have them in the scikit-learn website though. It'd be easier to link to the relevant user guide sections / estimators.

[2019-08-25 20:39] NicolasHug commented on #14743
I update the title and the description to "release highlights" to avoid confusion

[2019-08-25 21:04] ArijitN5 opened #14807 "Custom Activation Function added in Sklearn _base.py but getting error"
[code]

[2019-08-25 22:04] jnothman commented on #14807
Please provide a fully reproducible code snippet.

[2019-08-26 00:11] Sandy4321 commented on #9967
may you help understand what to do if I do not know how many groups  there in  data?

[2019-08-26 00:17] fabianp commented on #9967
then it seems that you are looking for a different method, not group lasso

On Sun, Aug 25, 2019 at 8:13 PM Sandy4321 <notifications@github.com> wrote:

[2019-08-26 00:27] Sandy4321 commented on #9967
but it is stated here : latent group lasso
https://en.wikipedia.org/wiki/Proximal_gradient_methods_for_learning#Group_lasso
and here
https://github.com/yngvem/group-lasso
Yuan L, Liu J, Ye J. (2011), Efficient methods for overlapping group lasso. Advances in Neural Information Processing Systems (pp. 352-360).

so your code
https://github.com/fabianp/group_lasso/blob/master/group_lasso.py
is not f

[2019-08-26 00:36] Sandy4321 commented on #9967
@fabianp did you compared your code with https://github.com/FrankD/fuser
Fused lasso for high-dimensional regression over groups

[2019-08-26 00:39] Sandy4321 commented on #9967
@fabianp or https://github.com/kitsune-udon/fused_lasso_1d/blob/master/main.py

[2019-08-26 00:41] Sandy4321 commented on #9967
@fabianp  or  http://statweb.stanford.edu/~bjk/regreg/fusedtutorial.html

[2019-08-26 03:47] yngvem commented on #9967
Fabian is correct. Group lasso is used when you do know the groups. Fused Group Lasso is a completely different regularisation technique where you use the 1D TV norm for your covariates.

As for latent group lasso, that is simply group lasso with overlapping groups. You still need to know your groups beforehand.

Also, please edit your post next time instead of posting multiple responses after one

[2019-08-26 04:12] stefan-matcovici commented on #13349
That's true but what @armgilles asked in the first example was the sample_weight, a parameter that it's passed in the fit call. From my knowledge, specifying model__sample_weight just sets internal attributes of the model step in the pipeline but doesn't modify any parameters passed to the fit method

Should we implement both parameters meaning the parameter of the model (like we do in GridSearchC

[2019-08-26 05:44] jnothman commented on #13349
No, the comment *is* about fit parameters. TransformedTargetRegressor
currently accepts sample_weight, but to support pipelines it needs to
support **fit_params

[2019-08-26 06:55] meck93 commented on #13048
@achievermina sorry, I never got around to doing this. Go ahead!

[2019-08-26 08:47] wdevazelhes opened #14810 "consistent naming for centering in scalers"
See https://github.com/scikit-learn/scikit-learn/pull/13246#discussion_r316736732

The way to specify centering is not consistent for all scalers: `Scaler` and `StandardScaler` have an argument named `with_mean=True/False` whereas `RobustScaler` has an argument named `with_centering=True/False`

[2019-08-26 08:55] jnothman commented on #14810
I think when we introduced several scalers we decided not to change the
StandardScaler API. A lot of time has passed, but do we have good reason to
change now?

[2019-08-26 09:01] GuillemGSubies opened #14811 "Redundant `\w` in regex in vectorizers' token_pattern"
The default `token_pattern` for tokenizer for the vectorizers in [`sklearn.feature_extraction.text`](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.feature_extraction.text) is `’(?u)\b\w\w+\b’`. I don't understand why there is this extra `\w` if we already have `\w+`.

If it is actually redundant I could make a PR

[2019-08-26 09:49] jnothman commented on #14811
Equivalent to `\w{2,}`, it ensures tokens have at least two characters

[2019-08-26 09:49] #14811 closed

[2019-08-26 10:45] GuillemGSubies commented on #14811
Then what happens with single character tokens?

[2019-08-26 11:15] jnothman commented on #14811
They aren't regarded as tokens by that definition!

[2019-08-26 12:59] zwyyy215 opened #14812 "ValueError: No point was within bandwidth=0.654847 of any seed. Try a different seeding strategy or increase the bandwidth."
My code is below.
[code]
I don't know how to solve the problem.Title is the error.
Best wishes！

[2019-08-26 13:08] stefan-matcovici commented on #13349
Cool, I'll give it a try then

[2019-08-26 15:18] Gunkkk commented on #8327
Then, is there any func for probability calculation please?

[2019-08-26 15:23] thomasjpfan opened #14813 "Deprecated None as estimators in VotingClassifier and VotingRegressor"
Should we deprecate `None` as `estimators` in `VotingClassifier` and `VotingRegressor`?

[2019-08-26 15:32] agam1948 opened #14814 "Hi, How do i save a trained model to use it again after the file is closed?"
Hi, How do i save a trained model to use it again after the file is closed?

[2019-08-26 15:40] rth commented on #14814
For the third time ( https://github.com/scikit-learn/scikit-learn/issues/14742 , https://github.com/scikit-learn/scikit-learn/issues/14746 ) please use Stack Overflow or the mailing list. If you disagree, you can always comment on an issue though, rather than opening a new one.

[2019-08-26 15:55] chkoar commented on #14603
@rth that might be the solution. Thank you very much. I will close the issue and I will update the ticket when I will make the upgrade.

[2019-08-26 15:55] #14603 closed

[2019-08-26 17:44] ArijitN5 commented on #14807
I have tried to add Leaky Relu function in _base.py file . I am attaching it.

"""Utilities for the neural network modules
"""

# Author: Issam H. Laradji <issam.laradji@gmail.com>
# License: BSD 3 clause

import numpy as np

from scipy.special import expit as logistic_sigmoid

def identity(X):
    """Simply return the input array.

    Parameters
    ----------
    X : {array-like, sparse matrix}

[2019-08-26 19:07] NicolasHug opened #14816 "Deprecate coef_ and intercept_ from OneVsRestClassifier"
Reviewing https://github.com/scikit-learn/scikit-learn/pull/14783 made me realize we have this property in the `OneVsRestClassifier`.

[code]

I really think we shouldn't create such wrappers that are so specific to the underlying estimators. I understand why this can be useful but we can't afford to support all the special cases.

[2019-08-26 19:18] rth commented on #14807
@ArijitN5 It preferable to use code formatting on github with https://help.github.com/en/articles/creating-and-highlighting-code-blocks

Currently setting a custom activation function wouldn't work, but a fix is proposed https://github.com/scikit-learn/scikit-learn/pull/14815 (that should work without having to edit scikit-learn files)

[2019-08-26 20:58] thomasjpfan opened #14818 "Private function _transform_selected is unused"
Is it still useful?

https://github.com/scikit-learn/scikit-learn/blob/ec5a9fcf4f4e3cc4748f7145a58292be1e662edb/sklearn/preprocessing/base.py#L11-L16

[2019-08-26 21:39] jnothman commented on #14813
If so, why not Pipeline etc?

[2019-08-26 23:43] jnothman commented on #14813
That's also a good question. The only use case I know of that is holding
that back is warm starting.

[2019-08-27 02:29] raamana opened #14819 "Bug: premature checks in safe_split"
#### Description

While trying to use an external estimator (part of [kernelmethods](github.com/raamana)) with `cross_val_score`, I ran into this error:

[code]

This is essentially a check for the shape of `X` to be square when kernel is precomputed. My estimator takes in a regular X (n x p) and then computes a kernel matrix inside `.fit()` (which is where I am supposed according to Estimator tes

[2019-08-27 04:43] sameshl commented on #14818
It doesn't look like it is used. I can remove it if there is consensus to remove it.

[2019-08-27 06:57] ScifiDeath opened #14821 "ColumnTransformer fit causes calls with None init parameters in transformers"
I created a custom transformer that has some parameters it receives in the constructor. However, putting it as a stage in a ColumnTransformer causes it to be called with every parameter set to None.

An example in this notebook:
https://github.com/ScifiDeath/super-duper-giggle/blob/master/ColumnTransformer%20None.ipynb

(This bug happens even when i pass "param" a value in the creation of t in the

[2019-08-27 08:02] jnothman commented on #14821
Your transformer is not compatible with our API. Consider running check_estimator to validate this. Parameters should be stored as attributes by the same name. See our docs about get_params and clone

[2019-08-27 08:02] #14821 closed

[2019-08-27 08:18] jnothman commented on #14816
This might be to facilitate RFE and SelectFromModel. It should support
feature_importances_ instead.

[2019-08-27 08:18] jnothman commented on #14816
Or rather, it could, but it might not be so important when we have
model-independent feature importance?

[2019-08-27 08:29] jnothman commented on #14819
It would be useful if you had a complete, reproducible code snippet. As it is, I don't understand why you're passing a feature matrix but calling the kernel precomputed. Isn't that in contradiction?

[2019-08-27 08:31] jnothman commented on #14818
It belonged in the days before ColumnTransformer. I think it should be safe
to remove.

[2019-08-27 08:43] jnothman commented on #9662
We always store classes_ sorted. This is not mentioned in the glossary and
probably should be.

[2019-08-27 10:03] rth commented on #14818
Thanks @sameshl

[2019-08-27 10:21] simetenn commented on #14739
Thanks, that is the confirmation I looked for! No other things need to be done.

[2019-08-27 10:21] #14739 closed

[2019-08-27 10:25] rth commented on #14739
@simetenn See the discussion in https://github.com/scikit-learn/scikit-learn/issues/9354 (and linked PRs). We indeed use a faster but less precise implementation.

[2019-08-27 12:15] maowerner commented on #11778
Hi, is there an update regarding consensus clustering? I would be very interested in a way to combine multiple cluster algorithms and could take on some work.

[2019-08-27 13:08] ArijitN5 commented on #14807
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-6-530a8c6bb846> in <module>
     12 mlp = MLPClassifier(activation='identity2')
     13
---> 14 mlp.fit([[0, 1], [1, 1]], [0, 1])

~/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/multilayer_perceptron.py in fit(self, X

[2019-08-27 13:10] ArijitN5 commented on #14807
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-9-58f6cbc117fc> in <module>
      1 mlp=MLPClassifier(activation='leakyrelu')
----> 2 mlp.fit(X_train,y_train)

~/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/multilayer_perceptron.py in fit(self, X, y)
    980

[2019-08-27 13:11] ArijitN5 commented on #14807
#Custom Activation Function
from sklearn.neural_network.multilayer_perceptron import(ACTIVATIONS, DERIVATIVES, MLPClassifier)

def leakyrelu(X):
    """Compute the leaky rectified linear unit function inplace.
    leakyrely(x) = x if x > 0
    leakyrelu(x) = 0.01*x if x <= 0
    """
    # np.clip(X, 0.01, np.finfo(X.dtype).max, out=X)
    return np.max(0.01*X, X)

def inplace_leakyrelu_derivative(

[2019-08-27 16:17] Hellisotherpeople opened #14826 "partial_fit not updating classifier within a pipeline"
#### Description
Trained classifiers within a pipeline seem to have trouble with updating themselves when a saved model is loaded and new examples are introduced with partial_fit

#### Steps/Code to Reproduce

increment = True
keras = False

[code]

#### Expected Results
After a single example is fitted with partial fit, the new weights should be saved within the model used within my pipeline, mea

[2019-08-27 20:54] leoncehavugimana opened #14827 "LocalOutlierFactor.fit_predict() output error"
I want to use LocalOutlierFactor.fit_predict to collect an array of labels (-1 for anomalous and +1 for normal instances). I want to use labels array in silhouette_score () to evaluate the model performance. However, scikit-learn is complaining like this:

"ValueError: Number of labels is 1. Valid values are 2 to n_samples - 1 (inclusive)"

This shows that it can not produce array of labels instea

[2019-08-28 03:21] jnothman commented on #14819
You may consider it unnecessary, but it facilitates a sane and consistent
behaviour for get,set_params.

Again, I don't have a clear idea of your use case: you've not demonstrated
it. I'm not sure why "optimising the kernel function on a given input
sample" necessitates passing a non-square precomputed kernel matrix to fit.

[2019-08-28 03:24] jnothman commented on #14827
Sounds like LOF has not generated any outliers, no?

[2019-08-28 05:02] jnothman commented on #14819
That docstring specifies that "For kernel="precomputed", the expected shape
of X is (n_samples, n_samples)." You want our cross validation tools to
violate this constraint?

[2019-08-28 06:07] #11622 closed

[2019-08-28 07:29] rth opened #14829 "OpenML: avoid warning when all versions are inactive"
Currently when loading an OpenML dataset marked as "in preparation" we raise the following warning,
[code]

We should avoid raising this warning when all versions of a dataset are "in preparation", given that it's the case the vast majority of OpenML datasets are in that status. It doesn't mean that anything is wrong with it, only that it's hasn't been manually approved by a OpenML core dev (cf ht

[2019-08-28 08:19] rth opened #14830 "sample_weight support in HistGradientBoostingClassifier"
`HistGradientBoostingClassifier` / `Regressor` currently doesn't support `sample_weight` (unlike lightgbm). It would be nice to add it.

cc @NicolasHug

[2019-08-28 08:25] jnothman commented on #14829
It sounds like "in preparation" needs a different warning, and should be,
in other respects, treated as active.

[2019-08-28 08:54] leoncehavugimana commented on #14827
yeah, that's true. LOF is failing to produce array of labels (+1 and -1 ).
Any suggestion ?

[2019-08-28 08:56] jnothman commented on #14827
Change the parameters of lof? Closing as a usage question, not a package
development issue

[2019-08-28 08:56] #14827 closed

[2019-08-28 09:15] shubhambmehta opened #14831 "Incomplete Information in the Documentation for Returns Section of sklearn.model_selection.cross_validate"
In the Returns section of sklearn.model_selection.cross_validate (https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_validate.html) , the names _test_score_, and _train_score_ for keys in return dict, changes to _test_r2_, _train_r2_ or _test_auc_ , _train_auc_, if there are multiple  scoring metrics in the _scoring_ parameter for the _cross_validate_ method.

[2019-08-28 13:25] ogrisel commented on #14830
Is there a PR or another issue to cross-link?

[2019-08-28 14:12] fryasdf commented on #8540
I do not understand, why has this been closed? I am using this in late summer of 2019 and this error still seems to be there. Also please be careful: you should NOT simply dropna, that does not solve the problem but it makes you blind w.r.t. the symptoms. From a Data Science perspective it may be really harmful to remove NAs (because the absence of information might be an important information for

[2019-08-28 16:55] adrinjalali commented on #14830
https://github.com/scikit-learn/scikit-learn/pull/14696

[2019-08-28 17:21] MonkeyDNoppu commented on #13503
That's not help for me ...

~/anaconda3/lib/python3.7/site-packages/sklearn/isotonic.py in _build_y(self, X, y, sample_weight, trim_duplicates)
    271         # X, y, sample_weight = [array[order] for array in [X, y, sample_weight]]
    272         X_dtype = X.dtype
--> 273         X, y, sample_weight = [
    274             array[order].astype(X_dtype, copy=False) for array in [X, y, sample_weig

[2019-08-28 18:33] MarkPopovich opened #14834 "New feature: export_graphviz option to include test data for node-by-node variance comparison"
#### Description
Currently, export_graphviz in sklearn.tree exports training data only. In order to gain a better understanding of train/test variance and overfitting, I want to visualize a decision tree with the following options:
1) Train data only (already supported)
2) Train and test data for comparison
3) Test data only

#### Steps/Code to Reproduce
[code]

[2019-08-28 21:43] #14641 closed

[2019-08-28 23:36] jnothman commented on #14819
I'm not sure how deep you want me to interrogate your code. So far I
see nowhere where the user specifies that kernel == 'precomputed'.

I think I've now understood what this is about. You have implemented a
class that inherits from SVR or SVC. You didn't link to those classes.

In them, you compute a kernel matrix, then pass it to the SVM to fit.

Firstly, inheritance may have been the wrong choi

[2019-08-28 23:37] #14819 closed

[2019-08-28 23:37] jnothman commented on #14819
If you feel there are areas where our developer documentation can be improved, feel free to contribute a PR.

[2019-08-28 23:39] jnothman commented on #8540
This is closed because ColumnTransformer can be used to fully disregard columns not being transformed by the OneHotEncoder.

[2019-08-28 23:42] Jemy-Tan opened #14835 "Importing sklearn makes numpy calculate eigenvalues differently"
#### Description

When calculating eigenvalues and eigenvectors using numpy.linalg.eig of the numpy library.
Importing LinearDiscriminantAnalysis or not importing will result in different results

#### Steps/Code to Reproduce

[code]

#### Expected Results

If I comment out the first line of the import code
eig is : [ 2.89217404e-01  4.98342369e-03 -2.91973176e-03 -4.35630374e-17]

#### Actual Res

[2019-08-29 04:44] sanjaradylov opened #14836 "Target postprocessing option in algorithm chains"
Suppose that we have a multi-output classification or regression problem, and we try to solve it
using algorithm chains. Suppose the chosen base algorithm is sensitive to feature
scaling/transformations. Then prior to fitting models in a chain, it is reasonable to
preprocess the data in an appropriate way. Considering the current versions of `ClassifierChain`
and `RegressorChain`, all the models,

[2019-08-29 05:00] raamana commented on #14819
Thanks lot Joel - appreciate your insights and comments, very helpful. By looking at code, I didn't mean to request to interrogate it, just that you take a quick glance on the webpage. I was planning to write and provide a minimal example for this, couldn't get to it with some other deadlines.

The "most scikit-learn estimators have not been designed with inheritance in mind" is a very interesting

[2019-08-29 07:53] obarak commented on #11904
@dsaxton @hacktuarial - did you eventually get to implementing this in sklearn-contrib or elsewhere?

[2019-08-29 08:13] 12ycli opened #14837 "Can DecisionTreeClassifier be more faster by not calculating unnessesary features?"
The normal proccess of using DecisionTreeClassifier is to calculate **all** the features for all samples and then put all the data to DecisionTreeClassifier . However, we know that sometimes we don't necessary need all the features for specific sample. For example, one sample is classified in the following path in which only two features are necessarily used. However, we may calculate other thousa

[2019-08-29 08:22] phmochi opened #14838 "Can't fit tree based regressors to small y values"
#### Description
When fitting tree based regressors to data with y of magnitude say e-4, the model is unable to fit and just returns the mean. Can currently work around this by scaling the value of y before fitting and then re-scaling it after predicting, but not sure why this is the case.

#### Steps/Code to Reproduce
Example:
[code]

[2019-08-29 08:23] adrinjalali commented on #14725
Thinking about this, I'm a bit puzzled. On one hand, the histograms are supposed to be a representation of the data, in an unsupervised way. On the other hand, having the target labels in mind doesn't sound like a bad idea when creating the histograms.

Do you have any references in mind on this topic we could ideally check?

[2019-08-29 08:23] dr-geeno opened #14839 "linear_model.Lasso with partial positive coefficients"
Feature request.
By using positive=True it's possible to force the coefficients to be positive. It would be possible to choose only a subset to be positive? Like passing a boolean array with the same dimension choosing which ones are forced to be positive?

[2019-08-29 08:27] adrinjalali commented on #14711
@glemaitre could you please paste your benchmark here? If you have it, otherwise I'll just get something myself.

[2019-08-29 08:28] IvoMerchiers commented on #9453
@Gscorreia89 Keeping the transform on y makes it impossible to use PLS in a pipeline, which is problematic when you want to use these methods as dimensionality reduction techniques.

But I do agree that transforming y is also essential in other cases.

Would it be acceptable to update the `transform` method to not transform y, so to stay in line with the API, but additionally add a new method that

[2019-08-29 09:04] jnothman commented on #14836
I think you might need to ground your question in an example.

[2019-08-29 09:09] #10715 closed

[2019-08-29 09:40] jnothman commented on #14837
I don't think we're going to support this in fitting,.

You're welcome to find a way to support lazy feature computation in deployment, which need not be dependent on the scikit-learn library, but could be done, for instance by exporting to ONNX and implementing lazy feature computation in an ONNX prediction tool.

[2019-08-29 09:47] rth commented on #14835
I can reproduce on scikit-learn master with different numpy versions. It is indeed intriguing. Adding `import sklearn` is enough to reproduce this in my case.

[2019-08-29 10:17] adrinjalali commented on #14838
That's because the default value for `min_impurity_split` is `1e-7`, which is deprecated anyway. Setting that value to `0` would fix your issue, and it will be fixed once we remove the parameter. I don't think this is a bug, since it's already planned for removal. WDYT @ogrisel, @glemaitre ?

[2019-08-29 10:20] adrinjalali commented on #14837
I also don't think this in scope for us now. And I also agree such optimizations can be done in the ONNX runtime.

[2019-08-29 10:20] #14837 closed

[2019-08-29 10:38] rth commented on #14784
OK but we can't do much about that, can we? It's documented in the installation instructions https://scikit-learn.org/stable/developers/advanced_installation.html#windows

[2019-08-29 10:49] Gscorreia89 commented on #9453
@IvoMerchiers I understand, and I think its perfectly acceptable. Synthax-wise I am neutral, and a specific decompose (maybe even an inverse_decompose(scores) -> estimate ?) for this class of methods looks perfectly reasonable.

[2019-08-29 11:34] NicolasHug commented on #14725
I don't have any reference unfortunately.

The idea is that we want the bin thresholds computed on the subset to be the same (or very close) as if we weren't subsampling. To achieve that, we want the subset to have the same properties as the original data.

The weights and the class distribution are properties that we want to be preserved, IMO.

Note that I'm only talking about the **subsampling.*

[2019-08-29 11:37] NicolasHug commented on #14725
@ogrisel any input?

[2019-08-29 11:52] #14807 closed

[2019-08-29 12:16] #13393 closed

[2019-08-29 12:21] ogrisel commented on #13393
I merged the AMG fix in master and as expected it fixed the original issue but not https://github.com/scikit-learn/scikit-learn/issues/13393#issuecomment-521293183 which will be tackled by scipy/scipy#10621 and maybe a backport in scikit-learn.

[2019-08-29 12:34] ogrisel commented on #14306
@Sandy4321 GBDT stands for Gradient Boosted Decision Trees which are basically GBM (Gradient Boosting Machines) with a Decision Tree as the weak learner).

[2019-08-29 12:39] ogrisel commented on #14306
@NicolasHug @thomasjpfan can you do a lscpu to check whether this is a single socket processor with 12 cores or 2 sockets with 6 cores (and therefore 2 NUMA nodes)?

Based on your scalability curves I would vote for single socket CPU but I would like to have the confirmation.

[2019-08-29 14:00] mfcabrera commented on #13349
I am having the same problem here using the `Pipeline` along with `CatBoostRegressor`. The only hacky way I found so far to accomplish this is to do something like:
[code]
And then call
[code]

Where `reg` is the step containing the `TransformedTargetRegressor`. is there a cleaner way?

[2019-08-29 14:09] hacktuarial commented on #11904
I didn't get around to it, but you might be interested in [spacecutter](https://github.com/EthanRosenthal/spacecutter)

[2019-08-29 14:17] dsaxton commented on #11904
@obarak We did not, but the package @hacktuarial mentions looks interesting

[2019-08-29 14:17] #11904 closed

[2019-08-29 14:18] adrinjalali commented on #14784
can it not be installed in the conda env?

If we default on conda for new contributors, we can forward them to the conda instructions which are usually well maintained on the compilers. The advanced section is usually not visible to new contributors. I usually forget it exists myself.

[2019-08-29 14:31] adrinjalali commented on #14810
I think if we deprecate in a way that `StandardScaler().fit(...)` wouldn't raise any warnings, it wouldn't bother too many users.

[2019-08-29 14:43] qinhanmin2014 commented on #14810
We can't use with_mean in RobustScaler because we center according to the median.
I don't think it's worthwhile to change with_mean in StandardScaler to with_centering (and change with_std in StandardScaler to with_scale).
And I guess different names tell users that we center and scale the dataset in different ways.

[2019-08-29 14:45] Sandy4321 commented on #14306
[code]
I see thanks
and may you share link to read about algorithm of  Histogram-based GBDT
my guess it is  Histogram-based split?

[2019-08-29 14:59] thomasjpfan commented on #14306
@ogrisel Single socket

[2019-08-29 16:39] rth commented on #14784
I don't think that source installation for contributors should differ from source installation for users. We can outline different approaches in the docs, than suggest the preferred one during the sprint, having only one documented is not ideal.

The "advanced installation->build from sources" section is our official (and only) instruction for installing from sources, I think. It's linked in step

[2019-08-29 16:41] rth commented on #14784
we can but so far I haven't found a good reference for it. https://docs.conda.io/projects/conda-build/en/latest/resources/compiler-tools.html has a lot of irrelevant things for scikit-learn contributors and few mentions on how to actually install the windows compilers or make it work. Same for conda-forge docs.

[2019-08-29 17:18] TomDLT commented on #14835
I narrowed the issue down to numpy matrix inversion.
The problem does not exist with numpy array inversion.
[code]

[2019-08-29 17:45] StevenMMortimer opened #14843 "Add transformer that behaves more like pandas.cut()"
In v0.21.3 per the [Discretization](https://scikit-learn.org/stable/modules/preprocessing.html#discretization) section of the preprocessing module there are only two transformers that will discretize data:

1. `Binarizer()`
2. `KBinsDiscretizer()`.

Unfortunately, `KBinsDiscretizer()` implies that you are passing "k" number of bins and there is some strategy to determine k such as `‘uniform’, ‘qua

[2019-08-29 17:53] shubhambmehta commented on #14831
Hi, Can I work on this?

[2019-08-29 20:19] lschneidpro opened #14845 "Difference between RFECV and SFS ?"
Hi there,

I used scikit.REFCV and mlxtend.SFS (backward) on the same data, same classifier, same cv, same scorer,... I also did a third version with sample weights passed to SFS's estimator

![RFE](https://user-images.githubusercontent.com/40396043/63971921-f0cfa500-caa7-11e9-8ba0-0075d81c19dd.png)

And i'm conflicted to see that many discrepencies. Should the largest subsets  have at least the m

[2019-08-29 21:39] realead opened #14847 "Consider a consistent policy towards including pxd-files into the installation"
Right now some pxd-files are included into the installation, e.g.  [sklearn.tree._utils.pxd](https://github.com/scikit-learn/scikit-learn/blob/c6455fa77f519481f516ded02da66ecaf4b044c9/sklearn/tree/setup.py#L37), but some not, e.g. from [sklearn.neighbor](https://github.com/scikit-learn/scikit-learn/blob/c6455fa77f519481f516ded02da66ecaf4b044c9/sklearn/neighbors/setup.py).

It would be better to ha

[2019-08-29 23:33] realead commented on #14835
simplifying @TomDLT's example even further: `scipy.linalg` seems to be the problem:

[code]

numpy has hooks, so such functions as `inv` can be overwritten: https://docs.scipy.org/doc/numpy/reference/routines.dual.html and this is what [scipy.linalg](https://github.com/scipy/scipy/blob/cd571af826ab075e4577e07f84abb12e27b82bb5/scipy/linalg/__init__.py#L217) is doing:

[code]

It looks as if numpy u

[2019-08-29 23:42] realead commented on #14835
Actually, the strange  thing is, that `np.linalg.inv` still uses the numpy version and not scipy's version.

[2019-08-29 23:50] realead commented on #14835
Ok, for the hook to work, it should be called via `np.dual.inv` and this is what `matrix.I` is [doing](https://github.com/numpy/numpy/blob/9ae4f9bae9344ee0f1ca4d5767e49c196d534efc/numpy/matrixlib/defmatrix.py#L834):

[code]

[2019-08-30 00:14] jnothman commented on #14843
If you're going to cut on predefined boundaries, the transformation is
stateless and FunctionTransformer can be used. If this is sufficient for
your needs please help us improve the documentation, and otherwise close
the issue.

[2019-08-30 00:24] jnothman commented on #14847
If we aren't including all pxds, then we should, imo, and should be testing
the packaging to make sure that we have done so.

[2019-08-30 00:28] jnothman commented on #14831
Sure, thanks!!

[2019-08-30 00:30] jnothman commented on #14845
Please provide a complete reproducible code snippet, though I'm not
convinced that this is the right place to raise this: it doesn't yet appear
to be a bug or similar.

[2019-08-30 00:49] StevenMMortimer commented on #14843
@jnothman Thanks for the quick reply. In theory, `FunctionTransformer` should work. Two things:

1. The documentation isn't great, As you alluded we could use this issue as an opportunity to improve the documentation.
2. The `Binarizer()`, `OrdinalEncoder()`, and `MinMaxScaler()` transformers are all stateless, so why did you create them?  The behavior of all of them could be wrapped in `FunctionT

[2019-08-30 02:36] jnothman commented on #14843
MinMaxScaler collects statistics from the training data so it's stateful.

Binarizer predates FunctionTransformer and I have no reason to believe it
is very widely used.

OrdinalEncoder is not stateless if it infers categories, and it will be
more stateful and specialised to a predictive modelling context with
proposed enhancements to handle infrequent categories.

I get your point that frequently

[2019-08-30 02:37] jnothman commented on #14843
I might also note that every estimator added is a substantial maintenance
burden for a largely-volunteer team.

[2019-08-30 02:42] phmochi commented on #14838
Thanks that was indeed the issue. If that's the case, should I go ahead and close this?

[2019-08-30 02:49] jnothman commented on #13349
That's not about a fit parameter like sample_weight at all. For that you
should be able to set_params directly from the TransformedTargetRegressor
instance. Call its get_params to find the right key.

[2019-08-30 02:52] #14843 closed

[2019-08-30 03:23] chwonghk01 commented on #8265
@jnothman Thanks for correcting me. I agree that using `CountVectorizer`, `TfidfTransformer`, `GenericUnivariateSelect` is a better choice.

[2019-08-30 08:31] thanasissdr commented on #8480
Maybe there's a misunderstanding of mine, here, but from what I've read so far, I agree with @caiohamamura . Please correct me if I'm wrong. `f_classif` seems to apply the f_oneway ANOVA test and as far as I know the independent variable should be categorical and the response variable continuous.

[2019-08-30 09:22] hr0109 opened #14851 "IncrementalPCA error"
#### Description
The error occurred in the latest version when using IncrementalPCA.partial_fit after a few iters. But in the version of 0.19.2, everything goes fine.

#### Steps/Code to Reproduce
[code]

#### Expected Results

#### Actual Results
[code]

#### Versions
[code]

[2019-08-30 09:31] vruusmann commented on #12006
Sample application that would benefit from `Pipeline.predict_proba(X, **predict_params)`:

The `predict_proba` methods of GBDT estimators such as `xgboost.XGBClassifier` and `lightgbm.LGBMClassifier` take the `ntree_limit` parameter to limit the number od member decision trees (the default is to use all trees, but some applications may wish to probe different subsets).

[2019-08-30 10:20] adrinjalali commented on #14838
Since the fix is already planned, I'd say we can close this one :)

[2019-08-30 10:20] #14838 closed

[2019-08-30 10:24] adrinjalali commented on #14784
I think I mostly like this page: https://github.com/conda/conda-build/wiki/Windows-Compilers

[2019-08-30 10:35] mfcabrera commented on #13349
@jnothman thanks for your response . Please let me know if I am doing something wrong. From what I understand there are 3 issues here:

1.  `TransformedTargetRegressor` fit only passes sample_weight to the underlying regressor. Which you can argue that's what is has to do. Other estimators, (not sklearn based but compatible). might  support receiving other  prams in the `fit` method.

2. `Transfor

[2019-08-30 11:42] IdoWolf42 commented on #14818
A newcomer here, is this issue fixed? because if not I would love to help

[2019-08-30 13:53] rth commented on #14784
That one was nice a couple of years ago, but it looks like it hasn't been updated since 2016 so I'm not sure it's up to date (or that it will be updated if something new comes up).

[2019-08-30 19:59] mohyneenm commented on #6654
According to the following paper S_Dbw performs best across 5 different aspects of clustering when compared against Silhouette, DB, Dunn, Calinski, etc.

http://datamining.rutgers.edu/publication/internalmeasures.pdf

[2019-08-30 20:48] rth commented on #14834
It doesn't export training data, it exports a tree trained on some data. You can train it on some other data but then you'll get a different model with a different exported figure.

That doesn't work for you? What are you expected to see?

[2019-08-31 09:11] venkyyuvy opened #14856 "RidgeClassifierCV is not working when scoring params is fed"
#### Description

`RidgeClassifierCV` is not working when `scoring`  param is fed and `cv!=None`.
It is similar to the issue mentioned [here](https://github.com/scikit-learn/scikit-learn/issues/14672), where `cv==None` meaning **loo** approach for cv.

In the notes, it is mentioned as,

_For multi-class classification, n_class classifiers are trained in a one-versus-all approach. Concretely, this

[2019-08-31 09:24] venkyyuvy opened #14857 "Bug in implementation of scoring in loo _RidgeGCV"
#### Description

The scoring step [here](https://github.com/scikit-learn/scikit-learn/blob/1495f6924/sklearn/linear_model/ridge.py#L1459) has swapped the `X` and `y` (estimator applied is a identity_estimator)

The signature of scorer is
`scorer(estimator, X, y)`

But the current state is the following:
[code]
where `y` is the true values and `cv_values[:, i ]` is the `X`.

The probable reason fo

[2019-08-31 14:25] kaisheng1 commented on #9952
@iamasad Have you solved it yet?

[2019-08-31 14:40] jnothman commented on #14857
I agree that your analysis seems right :/

[2019-08-31 15:01] harsh020 commented on #14614
@thomasjpfan Hi, I don't see any open PR for this issue so, can I take it up?
If yes, can you please elaborate a little. What I understood till now is, MissingIndicator if passed an already imputed masked array will mask it again. Right? So, now what?

Thanks.

[2019-08-31 15:23] itsyourOOP commented on #13566
Hi, is this issue still open?

[2019-08-31 15:29] venkyyuvy commented on #14857
Can I raise a PR for this?

[2019-08-31 16:02] adrinjalali commented on #13566
There's an open PR @itsyourOOP , so for now it's being worked on :)

[2019-08-31 19:07] adrinjalali opened #14858 "HGBC with categorical_crossentropy fails silently on binary classification"
[code]

gives:

[code]

And `binary_crossentropy` works fine. `categorical_crossentropy` should either generalize or raise an error on binary classification.

Ping @NicolasHug @ogrisel

[2019-08-31 19:34] NicolasHug commented on #14858
Thanks for the report, I think changing

[code]
to
[code]

would make categorical-crossentropy behave like the log loss.

But I think we want to error in this case: categorical-crossentropy will be twice as slow. This is a bug right now

Submit a PR Adrin?

[2019-08-31 21:39] ArtistBanda commented on #9113
Hello, I am Chirag. I would **love to contribute to add the feature** for class_weight in MLPClassifier. This is my **first time** contributing to an open-source project. I am working on getting familiar with the library, would love some guidance.

[2019-09-01 00:53] leonardbinet opened #14860 "`sklearn.utils.multiclass.type_of_target` with sparse csr matrix raises ValueError"
#### Description
Calling `sklearn.utils.multiclass.type_of_target` with sparse csr matrix raises ValueError

#### Steps/Code to Reproduce

[code]

#### Expected Results
Expected result:
[code]

#### Actual Results
[code]
#### Versions
[code]

[2019-09-01 04:23] tatabox2000 opened #14861 "How is the importance of features calculated in random forest regression on Scikit-learn?"
I am using tree type algorithms with regression on scikit-learn.
But I do not understand how it calculates the importance of the features.
Classification is calculated by the Gini coefficient, which can be understood.
But regression uses RMSE or MAE.
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/tree.py

Please tell me the process of calculation for importance on regression

[2019-09-01 07:57] jnothman commented on #14860
Ha! I doubt we test with CSR with object dtype. A patch is welcome

[2019-09-01 09:57] rth opened #14863 "Stop cythonizing sdist PyPi releases"
I think we should stop cythonizing our sdist releases uploaded to PyPi. Cython is not forward compatible, meaning that a sdist generated for Py3.7 will very likely fail to install on Py3.8 (this also applied to Py3.6 -> Py3.7 before). At the same time Python is mostly backward compatible, so code written for py3.6 is going to work with Py3.7 (with maybe a few warnings).

So by cythonizing sdist re

[2019-09-01 10:33] adrinjalali commented on #14858
I'm happy to submit a PR, but do we want to have two trees for binary classification and categorical crossentropy and one tree for binary crossentropy? And then raise a warning if categorical crossentropy is used for binary classification?

[2019-09-01 12:21] jnothman commented on #14857
@venkyyuvy, Please do, ideally with a test

[2019-09-01 13:02] jnothman commented on #6654
If that result is well supported, I think it would be appropriate to have
an implementation of S_dbw here and help support literacy about the
technique.

One benefit of silhouette is that it is agnostic to metric.

[2019-09-01 14:10] magicmathmandarin commented on #6251
I got an error:
AttributeError: 'LassoLarsCV' object has no attribute 'cv_mse_path_'

[2019-09-01 17:04] NicolasHug commented on #14858
I'd say no, we should just error. But no strong opinion. I don't see the point of allowing categorical crossentropy in binary classification when the log loss is equivalent and twice as fast. Especially considering the loss='auto' which is the default.

[2019-09-01 19:07] agramfort commented on #14839
It feels too custom. I'd recommend to write your custom solver.

[2019-09-01 20:33] kellycarmody commented on #14703
Hi, @thomasjpfan, I was told in #14853 that for "Comparing Anomaly Detection Algorithms for Outlier Detection on Toy Datasets" rather than following the example of the plot_permutation_importance example, with separate images interspersed among paragraphs, I should be following the example of classifier comparison,which seems to me like the original format of large block of text followed by large

[2019-09-01 21:03] albertcthomas commented on #14861
A description of the calculation can be found in the [feature importance](https://scikit-learn.org/stable/modules/ensemble.html#feature-importance-evaluation) section of the doc.

[2019-09-01 21:06] #14861 closed

[2019-09-02 03:07] 12ycli commented on #14837
OK

[2019-09-02 08:21] #14818 closed

[2019-09-02 08:31] albertcthomas commented on #14703
I am sorry about this @kellycarmody... I just want to make sure that this is also what we want for examples such as [plot_classifier_comparison](https://scikit-learn.org/stable/auto_examples/classification/plot_classifier_comparison.html), [plot_cluster_comparison](https://scikit-learn.org/0.18/auto_examples/cluster/plot_cluster_comparison.html) and [plot_anomaly_comparison](https://scikit-learn.o

[2019-09-02 09:46] tlienart opened #14868 "Attributes for ARDRegression should include intercept_"
#### Description

The current list of attributes for ARDRegression in [the docs](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.ARDRegression.html#sklearn.linear_model.ARDRegression) mentions `coef_`, `alpha_`, `lambda_`, `sigma_` and `scores_` but not `intercept_` which it should.

Adding

[code]

as elsewhere should do the trick

[2019-09-02 13:04] jnothman commented on #14703
yes, if it involves unrolling loops, it's probably not the right thing to do.

[2019-09-02 14:11] thomasjpfan commented on #14614
Imputers that use `MissingImputer` internally usually already computed the mask. If `MissingImputer` had a `precomputed=True` parameter, the mask could be passed to `MissingImputer.fit_transform` so `MissingImputer` does not need to compute the mask itself.

Please look at the #13514 to see why that implementation did not work out.

[2019-09-02 21:22] kellycarmody commented on #14703
I did think that it was starting to get complicated for a documentation issue, but I wasn't sure if that was normal or not, sorry, I'm not used to open source contribution, I'll pick a more straightforward one for the next one

[2019-09-02 21:22] kellycarmody commented on #14703
Thankyou!

[2019-09-02 22:08] albertcthomas commented on #14703
Again, sorry about that @kellycarmody. If you find another one you can let us know in this issue, we will confirm that you can indeed work on it :).

[2019-09-03 03:57] qinhanmin2014 opened #14871 "force_all_finite in check_array is broken when dtype="int""
See https://github.com/scikit-learn/scikit-learn/pull/12569#issuecomment-527193478
[code]
[code]

[2019-09-03 05:35] rth commented on #14871
Note that it should fail even with `force_all_finite=False` I think because there is no way to safely cast the input array to int.

[2019-09-03 14:44] msarahan commented on #14784
The windows compiler situation hasn't really changed much.  You can still use VS 2015.  You can use VS 2017.  Conda-build expects 2017 by default, but it's easy to configure.  We don't have much experience using 2019 yet, but in theory it is much the same.  VS2008 remains the most painful, followed closely by the MacOS SDK's which are annoying to get from nice, reputable sources.

If using conda/c

[2019-09-03 15:30] adrinjalali commented on #14784
We also have this guide as an alternative:

https://wiki.python.org/moin/WindowsCompilers

[2019-09-03 15:40] harsh020 commented on #14614
@thomasjpfan Ok, so tell me if I got it right, we want a feature so that when using MissingIndicator internally with some other Imputer we can pass it the 'masked' data from the previous Imputer.

Just one question, why can't we just pass it to the X that we already have?

I came up with few possible to do so, but one thing thats bothering me is that to do so we need two extra parameter to be pass

[2019-09-03 16:55] NicolasHug commented on #14312
I think we should not recommend this issue for the next sprints, or use a much more curated version.

Based on my experience on the previous sprint, there are still a lot of false positives, and we end up asking contributors to actually deprecate public attributes to make them private, which is arguably much harder (and can be frustrating since contributors feel they worked for nothing).

Ping @am

[2019-09-03 19:11] kellycarmody commented on #14703
Thanks, @albertcthomas, I appreciate it, that's alright, I understand, that's how it goes sometimes :)

[2019-09-03 19:12] kellycarmody commented on #14703
I would like to work on "Out-of-core classification of text documents", if that one is alright

[2019-09-03 20:22] amueller opened #14874 "Review hackery in KBinsDiscretizer"
I was just looking into the weird workings of ``np.digitize`` and realized that we do some weird work-arounds in ``KBinDiscretizer`` that I think come from a misunderstanding of the behavior:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/preprocessing/_discretization.py#L265

The right-most edge is excluded by default, and as @qinhanmin2014 [points out](https://github.com/scikit

[2019-09-03 20:22] albertcthomas commented on #14703
I think this one is alright. It is more or less already partitioned in sections but the large block of text should be reorganized into the sections.

[2019-09-03 22:29] marctorsoc opened #14876 "Precision Recall and F-score: behavior when all negative"
I've seen these already closed issues (and probably there are more):

https://github.com/scikit-learn/scikit-learn/issues/13453https://github.com/scikit-learn/scikit-learn/issues/13453
https://github.com/scikit-learn/scikit-learn/pull/13143

about the behavior of prec/rec/f1 when both predictions and ground truth are all negatives. See for some discussion about the topic

https://stats.stackexchan

[2019-09-03 22:29] amueller opened #14877 "DataFrames not properly validated in SimpleImputer"
[code]
is not validated correctly:

[code]

[2019-09-03 22:43] stefan-matcovici commented on #13349
I think the discussion started from the opposite way around: using a `Pipeline `as the `regressor `parameter of the `TransformedTargetRegressor`. The problem is the same: you cannot pass fit parameters to the underlying regressor apart from the `sample_weight`.

[2019-09-03 22:44] stefan-matcovici commented on #13349
Another question is if there are cases where you would want to pass fit parameters to the transformer too because the current fit logic calls fit for the transformer too.

[2019-09-03 23:09] #2989 closed

[2019-09-03 23:11] jnothman commented on #14874
Could you give some idea of the problems with using this workaround? Or
some idea of the solution?

[2019-09-03 23:20] jnothman commented on #13349
underlying regressor apart from the sample_weight.

Yes, let's fix this and assume all fit params should be passed to the
regressor.

parameters to the transformer too because the current fit logic calls fit
for the transformer too.

We'll deal with this in the world where
https://github.com/scikit-learn/enhancement_proposals/pull/16 eventually
gets completed, approved, merged and implemented!!

[2019-09-03 23:20] jnothman commented on #13349
Pull request welcome.

[2019-09-04 02:35] stefan-matcovici commented on #13349
i will start working

[2019-09-04 02:37] kevin1kevin1k opened #14879 "Documentation of Birch contains incorrect description"
#### Description
In the [description of Birch](https://scikit-learn.org/stable/modules/clustering.html#birch), CF should be Clustering Feature instead of Characteristic Feature, as can be seen in [the original paper](https://www.cs.sfu.ca/CourseCentral/459/han/papers/zhang96.pdf).

[2019-09-04 03:53] thomasjpfan opened #14881 "Use new issue templates?"
Just saw this nice feature that, depending on what a user chooses, will auto tag the issue:

<img width="735" alt="Screen Shot 2019-09-04 at 7 12 30 AM" src="https://user-images.githubusercontent.com/5402633/64250150-6346e780-cee3-11e9-83b2-f04f3a7b4e83.png">

The templates are committed into the repo, for example [this is how scipy sets it up.](https://github.com/scipy/scipy/tree/master/.github/I

[2019-09-04 04:42] tirthajyoti opened #14882 "SGDRegressor is slower than 'Ridge'"
I have been experimenting with `SGDRegressor` estimator to show if it is faster for large training set as compared to `Ridge` and **always finding that it is slower**.

This is quite opposite to [what is recommended in the documentation for `SGDRegressor`](https://scikit-learn.org/stable/modules/sgd.html#sgd).

I have generated the same dataset using `make_regression`, forced `Ridge` to use `chole

[2019-09-04 06:35] #14879 closed

[2019-09-04 07:24] jnothman commented on #14876
(Having some expertise in NER evaluation, the thought of using Scikit-learn's PRF implementation for NER seems a bit awkward. I'm also not entirely convinced that an average of scores per document is going to be very informative if some documents have no entities... Rather you might want the average recall over only those documents with entities, and average of precision over only those documents

[2019-09-04 07:42] adrinjalali commented on #14721
@thomasjpfan the [`wrapt`](https://github.com/GrahamDumpleton/wrapt)  package has a nice solution for that, which would make you write decorators as:

[code]

So we could either vendor a part of that package, or have separate decorators for methods vs functions. Which one would you prefer?

[2019-09-04 08:19] jnothman commented on #14721
We have often steered away from decorators etc because they look like magic
to people who learnt to code in their science degree. Just putting that out
there.

[2019-09-04 08:33] qinhanmin2014 commented on #14876
Copy-paste my comment from #12312
(1) How to define precision when TP + FP = 0? In ``precision_score``, we raise a warning and return 0. In ``average_precision_score``, we return 0 (in my PR #9980). But in [a SO question](https://stats.stackexchange.com/questions/1773/what-are-correct-values-for-precision-and-recall-in-edge-cases) provided by the contributor of #8280, it's defined as 1.
(2) How to

[2019-09-04 08:35] qinhanmin2014 commented on #14876
I agree that 1 might be a more reasonable choice, but we use 0 everywhere and I'm not sure whether it's worthwhile to add a parameter.

[2019-09-04 08:36] qinhanmin2014 commented on #14810
I saw adrin's thumb up so I'm going to close this one.
Reopen if someone disagree.

[2019-09-04 08:36] #14810 closed

[2019-09-04 08:49] jnothman commented on #14876
1 is sometimes a reasonable choice. We avoided it in part because it's
generally safer to report a lower bound on a metric than an upper bound :)
Reporting 0 with a warning raises awareness.

[2019-09-04 10:12] marctorrellas commented on #14876
About the NER choice, thanks for your comment. I know it's not standard usage but my intuition goes like this. I want to reward the system when it returns all negatives and there aren't, but I don't want to use accuracy because in the documents with entities I don't want to boost the score for that document based on detecting a lot of TNs. Does it make more sense written like this? Plus, in my sce

[2019-09-04 10:25] jnothman commented on #14876
Can you please frame in terms of precision and recall, in the case of `
return_one_if_no_positives=True`? F1 is obvious given P & R.

Maybe the parameter should just be called `zero_division` and we can set it
to 0 or 1.

[2019-09-04 11:46] qinhanmin2014 commented on #14881
+1

[2019-09-04 11:51] rth commented on #14881
Numpy started using this and it's great.

[2019-09-04 12:30] marctorrellas commented on #14876
Sure

Precision = TP / (TP + FP):
* if y_true and y_pred are all negative: return 1.0 + warning (if zero_division=1) otherwise 0 + warning
* if y_true all negative, y_pred some positive, return 0 as usual as TP=0 and FP>0, no warning
* if y_pred all negative, y_true some positive, return 0.0 + warning (no matter zero_division value). **This is my choice but I'm open to change it. This makes f1 no

[2019-09-04 14:27] mapmeld commented on #2237
Hi SciKit team! I am interested in solving this long-lost issue so these models can be inspected. This is my first time looking at SciKit internals, so I want to check that I'm reading this right:

- The initial PR here ( https://github.com/scikit-learn/scikit-learn/pull/2250 ), which uses ```feature_log_prob```,  was doing the right math. They vary the response a little bit depending on which cla

[2019-09-04 15:15] jnothman commented on #14876
"the model is doing wrong here"... but not on that metric, only on the
complementary metric..? I'd go for 1 in the "open to change" cases :)

[2019-09-04 15:28] jnothman commented on #2237
I think we should just deprecate coef_ here as it means something different to is use elsewhere.

[2019-09-04 15:32] marctorrellas commented on #14876
yeah that's ok. So I think the scope is defined, unless there's something else. This would change only `precision_score` , `recall_score`, and `f1_score`, maybe `fbeta_score` as well? I guess average_precision_score call `precision_score` so will be using the updated ones right?

shall I start to work on this and open a PR when I have it?

[2019-09-04 17:04] thomasjpfan commented on #14721
to people who learnt to code in their science degree. Just putting that out
there.

`if_delegate_has_method` together with `_IffHasAttrDescriptor` is quite magical.

I agree there is a line we need to walk. I think `decorators` are well known to most python developers. The core benefit of having a decorator like this, is that is standardizes the `ValueError`s and reduces lines of code to maintain