[2018-11-09 06:33] rth commented on #12480
Wait, it does work with [`ball_tree` for `NearestNeihbors`](https://github.com/scikit-learn/scikit-learn/pull/4458#issuecomment-99217770), while it's doesn't for `auto`. Re-opening as I think there is a related bug in `NearestNeihbors` that might need fixing https://github.com/scikit-learn/scikit-learn/issues/12552

[2018-11-09 06:59] rth commented on #12552
I mean https://github.com/scikit-learn/scikit-learn/issues/4453 proposes to implement it in `pairwise_distances` as a solution, but by changing the logic for `algorithm='auto'` to pick `ball_tree` (which is the default algorithm in most cases already) we could make it work with minimal effort.

[2018-11-09 07:07] rth commented on #12552
Though for the sake of consistency (and code logic simplicity), maybe it's still better to add it `pairwise_distances` using `DistanceMetric.get_metric('haversine').pairwise`.

We need to check if this happens for other metrics as well.

[2018-11-09 07:10] rth commented on #4453
Having a test would certainly help, and by default maybe we should ideed fall back to `DistanceMetric.get_metric(metric_name).pairwise` in this case.

https://github.com/scikit-learn/scikit-learn/pull/4458 needs benchmarking

There is also some related discussion in https://github.com/scikit-learn/scikit-learn/issues/12552

[2018-11-09 10:22] jeremiedbb commented on #12551
The warning is a future warning from numpy before 1.13.
A simple way to make it disappear is to upgrade your numpy version.

If you can't upgrade your numpy version and really want to get rid of the warning, you can do as follows:
[code]

[2018-11-09 11:18] rth commented on #12551
Could someone confirm though that using `!=` (instead of `is`) was correct there, please?

[2018-11-09 11:43] ruiann opened #12553 "report error when try to run setup.py build_ext --inplace in sklearn/tree/"
#### Description

try to build but fail
#### Steps/Code to Reproduce

python setup.py build_ext --inplace
#### Expected Results

#### Actual Results

Warning: Assuming default configuration (tests/{setup_tests,setup}.py was not found)Appending tree.tests configuration to tree
Ignoring attempt to set 'name' (from 'tree' to 'tree.tests')
running build_ext
running build_src
build_src
building extensi

[2018-11-09 11:43] EthanZhangYi commented on #12551
@jeremiedbb  Thanks for your reply. I upgrade numpy to 1.15.4 and it works.

[2018-11-09 12:00] jeremiedbb commented on #12551
I can confirm it. The full code is

[code]
The goal is to have a function which behave like `np.isnan` for arrays with object dtypes.
For that we use the fact that `nan` is never equal to `nan`. However, for numpy versions < 0.13, np.equal tests element-wise identity and not element-wise equality but `np.nan is np.nan`...
So we check if `_nan_object_array != _nan_object_array` is True or False to

[2018-11-09 12:03] jeremiedbb commented on #12551
maybe we can filter the warning inside sklearn like this:
[code]
I make a PR ?

[2018-11-09 12:32] ogrisel commented on #12447
I would also be in favor of un-vendoring joblib for a future version of scikit-learn for all the reasons @rth mentioned.

To mitigate the downside of adding such new dependencies to scikit-learn (joblib, loky and cloudpickle) we should make sure that the scikit-learn tests can work with reasonably old versions of those (that is joblib 0.11 and later for instance) as we do for numpy and scipy.

[2018-11-09 12:33] GaelVaroquaux commented on #12447
OK, let's do it.

[2018-11-09 13:11] eamanu commented on #12553
That error is because setup.py on sklearn/tree is not created for build_ext commad

[2018-11-09 14:06] eamanu commented on #12552
@rth  yes IMO is most easy go for change the logic to pick ball_tree when algo is 'auto'. But, is so simple than write

[code]

?

[2018-11-09 15:52] christinebuckler commented on #12505
I would be nice to have the option to run several iterations with partial_fit. Running just once almost certainly does not give the desired performance.

I also observed that if I run partial_fit in a loop and compare metrics with a fit model run the same n_iter that the loss and metric scores are slightly different. Given that I am using the same random state, why aren't they the same? There must

[2018-11-09 17:14] ogrisel opened #12554 "KNeighborsClassifier test failures with PyPy with loky backend"
Here is a minimal case to reproduce the cause of the failure (to reproduce with pypy3):

[code]

which results in:

[code]

This is probably a bug in cloudpickle but I don't have time to investigate further tonight. We could skip the failing tests under PyPy in the mean time if they are to noisy.

[2018-11-09 17:31] EshwarSR commented on #12552
Hi I've been using sklearn, and now I would like to start contributing. I would like to work on this if no one has started yet. If so, can one of you help me get started?

[2018-11-09 19:45] eamanu commented on #12552
@rth I am reading the code and I have a couple of "solution", but would be better merge https://github.com/scikit-learn/scikit-learn/pull/4458. This will fix this issue.

If you consider necessary I can make a PR to fix this issue  changing the logic for algorithm=`auto`to pick `ball_tree`. But I don't know if this is a correct solution.

[2018-11-10 01:02] monajalal opened #12556 "ImportError: cannot import name 'fetch_openml'"
[code]

How should I fix this?
$ python -V
Python 3.6.4 :: Anaconda custom (64-bit)

[2018-11-10 01:17] qinhanmin2014 commented on #12556
Make sure that you're using scikit-learn 0.20.0.

[2018-11-10 01:17] #12556 closed

[2018-11-10 01:20] qinhanmin2014 commented on #12551
+1 from my side, maybe also check the message to make sure that other FutureWarning are raised.

[2018-11-10 01:58] qinhanmin2014 commented on #12044
Maybe we need someone to break the tie here. The question here is that whether the extraction methods of OPTICS should be methods or functions.

methods:
[code]

functions:
[code]

Reasons for methods (from @qinhanmin2014 ):
(1) Easy to use, i.e., don't need to extract RD/CD/order/predecessor from the estimator manually (I guess it will be strange to pass the estimator into the function).
(2) it's

[2018-11-10 15:39] mrecachinas commented on #12538
Looks like there is at least one compatible implementation:
- https://github.com/thuijskens/scikit-hyperband

and one other almost-compatible implementation:
- https://github.com/zygmuntz/hyperband

[2018-11-10 17:39] kirk86 opened #12558 "Problem while adding custom kernel on gaussian processes"
There's an issue with the ability of allowing ppl to easily add custom kernels for gaussian processes.
I have custom method but keep getting error when adding it directly to the GP constructor it complains about the `get_params` method.

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results

[code]

#### Versions
System
------
    python: 3.6.7 |Anaconda, Inc.| (default, Oct 23 2018,

[2018-11-10 18:52] asberk commented on #12552
This issue is a result of how `algorithm = 'auto'` is handled. It seems that [NeighborsBase](https://github.com/scikit-learn/scikit-learn/blob/bac89c253b35a8f1a3827389fbee0f5bebcbc985/sklearn/neighbors/base.py#L234) opts for a `'brute'` approach when `n_neighbors` is large relative to the number of samples, and `'brute'` does not presently admit `'haversine'` as a valid metric.
[code]
Because of t

[2018-11-10 20:11] hermidalc commented on #12482
@ogrisel your above test dataset also works properly in my environment.  I've updated the OP to include a test dataset that has the bad behavior.

[2018-11-10 21:16] amueller commented on #12516
Documentation issue, possibly because of the inheritance structure (I haven't checked).

[2018-11-10 21:20] jnothman commented on #12548
With the docstring checks we can probably just make sure that only objects
in scikit-learn are checked...

[2018-11-10 21:40] samwaterbury commented on #12516
@amueller Yep, that's what causes it. In `GroupKFold` the `split` method is inherited from `_BaseKFold`. Likewise for `LeaveOneGroupOut`, it's inherited from `BaseCrossValidator`.

[2018-11-10 21:57] hermidalc commented on #12468
@amueller @jnothman where do I put this above workaround in GridSearchCV?  Also, how do I get it to work with joblib memory since I usually wrap feature selection scoring functions like mutual_info_classif in a cache, e.g.,
[code]

[2018-11-10 22:10] jnothman commented on #3956
For single-output multiclass, all scikit-learn classifiers support string
labels directly. And LabelEncoder should be deterministic.

But you're right that we have not found great solutions in general for
dealing with absent classes in samples of the data

[2018-11-11 01:12] hermidalc commented on #12468
@aishgrt1 @amueller @jnothman I implemented it locally, so modifying https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_selection/univariate_selection.py you need to change _BaseFilter base class and SelectKBest class to show in this example (though all the Select* classes should change the same).  I added new **score_args** and **score_kwargs** parameters and init code to th

[2018-11-11 01:37] hermidalc commented on #12468
I actually ran into a problem while trying to use the modified code within GridSearchCV and testing it with on mutual_info_classif and trying to search n_neighbors:
[code]
 I get the error:
[code]
So it cannot set a dict param.  Any advice would be welcomed!

[2018-11-11 13:03] Bruno-Hanzen commented on #12504
I have just experienced the same issue (2018/11/11), although:

- it worked fine yesterday
-scikit-learn version is 0.20.0
-I have not updated any module since "quite a time" (certainly not last week).

Are there changes ongoing @ Openml?

[2018-11-11 13:04] eamanu commented on #12558
GaussianProcessRegressor is waiting a kernel object and that object need have a `get_params` method.

[2018-11-11 13:53] #12256 closed

[2018-11-11 14:32] hermidalc commented on #12468
@jnothman sorry I just saw this, I agree this is better parameter name as it's more consistent with other similar parameters in the codebase.

Though I'm not sure how gr

[2018-11-11 14:33] ryanpeach commented on #3956
That's good to know! I had no idea!

Still might be useful for more complex label processing.

My problems have been resolved, just hoping this sparks discussion in future versions.

[2018-11-11 14:35] thomasjpfan commented on #12504
When calling `mnist = fetch_openml('mnist_784', cache=False)` it will request https://openml.org/api/v1/json/data/554 for information. This call returns an HTML object and not a JSON object. This will lead to a JSONDecodeError as well.

[2018-11-11 15:40] hermidalc commented on #12468
I looked base.py set_params() and it looks like I'm probably missing some code to do additional handling of this so that it would work.  I see in other parts of the codebase, namely in KNeighborsClassifier there is a metric_params, and in some of the kernel approximation classes there are kernel_params, so how do we get score_params to work with set_params()?

https://github.com/scikit-learn/sciki

[2018-11-11 22:56] jnothman commented on #12263
@oleksandr-pavlyk could you clarify whether this is resolved in master after c81e255?

[2018-11-11 23:57] shermstats commented on #6738
Any updates on this?  This is a big blocker for my willingness to recommend scikit-learn to people.  It's also [not at all obvious](https://www.reddit.com/r/datascience/comments/8kne2r/different_coefficients_scikitlearn_vs_statsmodels/) to people coming from other libraries that scikit-learn does regularization by default and that there's no way to disable it.

[2018-11-12 01:53] jnothman commented on #12551
We could also just do a version number check there rather than testing the
behaviour explicitly.

[2018-11-12 01:58] jnothman commented on #12044
Rather than making a big deal about this decision, let's make the core interface, and then consider whether we want to extend it.

That is, we *need* a way to select with some `method` parameter. We do not *need* any public API to perform each extraction method beyond that.

It is *good code design* to have a separation of concerns across different functions, but they *can be private* at least ini

[2018-11-12 02:03] hermidalc commented on #12468
@aishgrt1 @amueller @jnothman guys I rewrote univariate_selection.py and mutual_info_.py to turn all scoring functions into proper \*FeatureScorer classes inheriting from BaseEstimator.  When fit() is called this is where it runs the scoring code and stores results in scores_ and pvalues_ attributes.  Also updated all Select* and GenericUnivariateSelect filter classes to support the new \*FeatureS

[2018-11-12 02:09] jnothman commented on #12558
A function is not a Kernel.

[2018-11-12 02:09] #12558 closed

[2018-11-12 02:17] jnothman commented on #12552
Let's do it. I would be interested in doing it for all metrics not directly implemented in metrics.pairwise, but I'd be worried about what happens when there are metrics of the same name across scipy.spatial and neighbors.DistanceMetric

[2018-11-12 02:18] jnothman commented on #12516
So let's override the docstring in the subclasses...?

[2018-11-12 02:42] samwaterbury commented on #12516
I can open a PR to do that.

[2018-11-12 03:00] qinhanmin2014 commented on #12044
So @jnothman your comment above means that we can start with private functions (i.e., cluster._extract_XXX)? I'll vote +1 for it (and I think it can be an initial solution for the next release).

[2018-11-12 08:54] jeremiedbb commented on #12551
When I wrote that code, a reviewer preferred to test the behavior explicitly but I can't remember the reason. Maybe it was to be robust to any further change in behavior...

All other fixes rely on the version, so why not this one too. Let's go that way.

[2018-11-12 08:58] jnothman commented on #12044
Yes, I have been trying to say similar for a while, but haven't had the
time to be explicit.

[2018-11-12 09:06] qinhanmin2014 commented on #12044
Hmm, actually I've edited my previous comment (from +1 to +0).
But we now have +2 from both of you and no -1, so it's an acceptable solution.

[2018-11-12 09:07] qinhanmin2014 commented on #12551
Will you submit a PR? @jeremiedbb I'm fine with either solution.

[2018-11-12 09:09] jeremiedbb commented on #12551
I am in a few sec :)

[2018-11-12 09:11] ogrisel commented on #12554
Simpler reproduction case:

[code]

yields:

[code]

[2018-11-12 09:19] jnothman commented on #12551
That's what I think, @jeremiedbb. Testing the version explicit makes the
end of the fix also clearer.

[2018-11-12 13:29] ogrisel commented on #12263
I am starting a rackspace VM under windows to give it a try.

[2018-11-12 14:19] kirk86 commented on #12558
@eamanu Is there any documentation anywhere to be found on how to create a custom Kernel? Does scikit docs include this information? It's easy to close an issue and say that's not a Kernel. Sure. Give me an example please! If I google about how to construct custom kernel in scikit, [this](https://scikit-learn.org/stable/auto_examples/svm/plot_custom_kernel.html) is the first result that comes. And

[2018-11-12 14:31] jnothman commented on #12504
Oh god. PHP rendering HTML-wrapped error messages to stdout! :( @janvanrijn

[2018-11-12 14:37] cottrell opened #12570 "LinearSVC check fails on sparse succeeds on dense"
Minor issue

[code]
Yields

ValueError: Found input variables with inconsistent numbers of samples: [10, 1]

I looked at the code and there are a number of switches like "accept_large_sparse" and other sparse checks so it's not clear what was meant there or where the right place is to make the change in the shared utils/.

Basically looks like while in dense case it just throws the usual warning a

[2018-11-12 14:46] rth commented on #12504
Reported upstream https://github.com/openml/OpenML/issues/861

[2018-11-12 14:47] rth commented on #12504
Thanks for investigating this @thomasjfox !

[2018-11-12 14:59] ogrisel commented on #12263
I have tried on a big Dual Intel Xeon E5-2660 v3 running Windows 2012 and scikit-learn 0.20.0 installed from pip in a dedicated conda env exactly as reported by @oleksandr-pavlyk and I could not reproduce the hangs. I repeated the pytest commands more than 20 times and each completed successfully in less than 2s. And I could see in the task manager than many cores where used. I also launched the f

[2018-11-12 15:05] rth commented on #12504
Though I think there may be two separate issues here,
 - multiple reports that earlier this was happening only on 0.20 not on master
 - it seems to be happening on master as well now (the same or very similar error message). I just tested on master it now happens also for other datasets e.g. iris, so it seems to be a general OpenML outage.

[2018-11-12 15:20] oleksandr-pavlyk commented on #12263
@ogrisel @jnothman Please allow me a moment to build it and run the test. I would report in about one hour (expected build + test run time on our server)

[2018-11-12 16:08] amueller commented on #3956
@ryanpeach we have been discussing transforming y for years but haven't come up with enough usage examples that would require it to draft a good API imho.

[2018-11-12 16:11] joaquinvanschoren commented on #12504
Sorry, this was caused by a bad configuration setting on the server. Fixed now.

[2018-11-12 16:21] rth commented on #12504
Thanks for the quick response, can confirm it works on scikit-learn master now.

[2018-11-12 16:32] amueller commented on #12448
Any update on this?

[2018-11-12 16:33] JanJackSol commented on #9193
I forgot: of course, in point 2, cross validation on the training set obtained in point 1

[2018-11-12 16:35] MaxPowerWasTaken commented on #9193
JanJackSol - have you tried using GroupKFold?
https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GroupKFold.html

[2018-11-12 16:46] amueller commented on #12448
There's a weird issue on debian with the ``fetch_openml`` tests:
https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=ppc64&ver=0.20.0%2Bdfsg-2&stamp=1541700243&raw=0 is that tracked somewhere?

[2018-11-12 16:48] amueller commented on #9193
clarifying the issue: add something like my snippet to the docs.

[2018-11-12 16:49] rth commented on #12448
No, also you can't reproduce it in Docker, need a ppc64le VM, personally, I won't be able to work on it this week.

https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=ppc64&ver=0.20.0%2Bdfsg-2&stamp=1541700243&raw=0

Is that the right link? Can't see anything matching `fetch_openml` there..

[2018-11-12 16:58] thomasjpfan commented on #12504
@rth PR #12526 should be able to address other issue.

[2018-11-12 17:00] amueller commented on #12570
So you'd want a better error message here? I don't think it makes a lot of sense to support this. If you use ``MultiOutputClassifier``, having the ``y`` be dense won't change anything, right? The models will not be able to exploit ``y`` being sparse anyway (there is not really any semantics in that).

[2018-11-12 17:01] amueller commented on #12558
https://scikit-learn.org/dev/modules/gaussian_process.html#kernels-for-gaussian-processes

[2018-11-12 17:03] amueller commented on #12558
And https://scikit-learn.org/dev/modules/generated/sklearn.gaussian_process.kernels.PairwiseKernel.html#sklearn.gaussian_process.kernels.PairwiseKernel

Maybe adding an example to the user guide would be nice?

[2018-11-12 17:04] amueller commented on #12448
sorry https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=alpha&ver=0.20.0%2Bdfsg-2&stamp=1541901781&raw=0

[2018-11-12 17:09] amueller commented on #10856
I think it sounds good to start with CategoricalNB. The mixed one is just multiplying the outputs by the individual models, right? So that might be relatively easy to achieve?
For CategoricalNB the main thing is to define the input types and give nice errors maybe?

[2018-11-12 18:03] oleksandr-pavlyk commented on #12263
I can still see the hang with a local build from current master (4e8194909ce0f8879ebe8073ae5d37e3fdc8a00f).

Upon execution of

[code]

There are 130 idle Python processes shown in task manager and the execution never terminates.

Pressing Ctrl+C terminates all 130 processes, which is an improvement over an earlier version of joblib.

Is there a way for me to access prebuilt wheels, or other binar

[2018-11-12 18:05] amueller commented on #6738
@shermstats suggestions how to improve the documentation on that? I agree that it might not be very obvious.
Does l-bfgs allow ``C=np.inf``?

[2018-11-12 18:14] JanJackSol commented on #9193
Thank you @MaxPowerWasTaken. Actually, with both GroupKFold and GridSearchCV, the problem is how to preserve the information about groups after the initial splitting.

Thanks @amueller: I try to better explain.
To start, I want to create a training set and a test set with grouping. Since initially I know exactly which group each vector of the dataset X pertains to, I can use the code you suggest:

[2018-11-12 18:18] prudvinit opened #12572 "No Learning Rate for Linear Regression"
#### Description

In sklearn.linear_model module, LinearRegressor is the class used for performing ordinary Least Squares Linear Regression. I wonder why the learning rate (alpha) is not a configurable parameter for this. I think it should be configurable as well , as choosing the good learning rate has direct impact on the performance of the model. I'd like to work on this.
#### Steps/Code to Rep

[2018-11-12 18:38] amueller commented on #9729
I don't think there's a consensus on what to do, though.

[2018-11-12 18:39] amueller commented on #9193
the groups are in ``groups[train_inds]``, right?

[2018-11-12 18:50] amueller commented on #12468
@hermidalc what does introducing these buy us?

[2018-11-12 18:52] amueller commented on #12468
if you want the double underscore notation you need estimators, but if you just want to pass on kwargs you don't need to.
So ``SelectKBest`` could have a ``score_func_args`` parameter that's a dictionary that's passed to ``score_func``. You can implement that without a refactoring.

[2018-11-12 18:53] amueller commented on #12468
The way to make it work is
[code]

[2018-11-12 19:05] amueller commented on #6738
You can specify ``C=np.inf``, though it'll give you the same result as ``C=large value``. On the example I tried, it gave a better fit than statsmodel and statsmodel failed to converge with most other random seeds:

[code]

[code]

[code]
[code]

So I would argue we should just document that you can get an unpenalized model by setting C large or to np.inf.

[2018-11-12 19:11] hermidalc commented on #12468
@amueller do you think it's a good idea though to make a pull request with what I've done?  To me its actually cleaner to have Scorer classes

[2018-11-12 19:13] amueller commented on #12572
There is no learning rate as this is not learned with (stochastic) gradient descent. And no, using the right optimizer for the task is what impacts learning speed (if that's what you mean by performance).

[2018-11-12 19:13] #12572 closed

[2018-11-12 19:15] amueller commented on #6738
I'd suggest adding to the docstring and the narrative
"The LogisticRegregression model is penalized by default. You can obtain an unpenalized model by setting C=np.inf and solver='lbfgs'."

[2018-11-12 19:37] hermidalc commented on #12468
I'm going to send you the pull request, you'll see its better than the current code and structure, also I've shortened the class names.

[2018-11-12 20:01] #12504 closed

[2018-11-12 20:01] amueller commented on #6738
@Kodiologist I'm not opposed to adding ``penalty="none"`` but I'm not sure what the benefit is to adding a redundant option.
And I think we'd welcome comparisons to glm. I'm not very familiar with glm so I'm probably not a good person to perform the comparison. However, we are optimizing the log-loss so there should really be no difference. Maybe they implement different solvers so having a benchm

[2018-11-12 20:05] amueller commented on #12468
The grid-search might be a bit more natural to write down for the scorer classes, but I'm not sure that's a good incentive for such a big change. The current implementation supports what you're trying to achieve, and imho it's pretty straight-forward, if not super elegant. Adding ``func_kwargs`` would make things a bit easier without a big rewrite.
Keep in mind that we need to keep all the old beh

[2018-11-12 20:06] hermidalc commented on #12468
It's actually not such a big rewrite you will see.

[2018-11-12 20:07] amueller commented on #12468
Adding 5 new classes is pretty big.

[2018-11-12 20:10] #12466 closed

[2018-11-12 20:17] amueller commented on #12482
I get high CPU usage for your example as well. wrt never finish:
I expect each tree takes a short time to build, but with RFE in there, you're building 3190 * 1000 trees. So it's not surprising that it takes a while, in particular without specifying max_depth.

[2018-11-12 20:20] hermidalc commented on #12468
Well I'll make the pull request, please have a look and you can decide.  In the long run you will always make changes that aren't backwards compatible, and this it actually a better way to design it.

[2018-11-12 20:21] amueller commented on #12468
We basically never make changes that are not backwards compatible.

[2018-11-12 20:29] hermidalc commented on #12468
Would that be impossible?

[2018-11-12 20:30] amueller opened #12573 "Add "needs decision" tag?"
I just saw a "needs decision" tag on the VSCode issue tracker. That seems like a good idea to have. WDYT? It's a pretty common status in our tracker I think ;)

[2018-11-12 20:50] #12553 closed

[2018-11-12 20:50] amueller commented on #12553
Indeed that's not really supported.

[2018-11-12 21:02] amueller commented on #12545
Right now this doesn't work:
[code]

We had initially decided against supporting recarrays. If we can easily do it and the maintenance burden is not too high, I don't see why we wouldn't add it.

[2018-11-12 21:06] Kodiologist commented on #6738
1. It becomes clearer how to get an unpenalized model.
2. It becomes clearer to the reader what code using an unpenalized model is trying to do.
3. It allows sklearn to change its implementation of unregularized models in the future without breaking people's code.

[2018-11-12 21:07] amueller commented on #12468
no, it just means there's two interfaces.

[2018-11-12 21:09] amueller commented on #12548
@yarikoptic What about all the other failures in https://buildd.debian.org/status/package.php?p=scikit-learn ?

[2018-11-12 21:11] amueller commented on #6738
If you feel it adds to discoverability then we can add it, and 3 is a valid point (though we can actually not really change that without deprecations probably, see current change of the solver).
Do you want to send a PR?

[2018-11-12 21:15] Kodiologist commented on #6738
I don't have the round tuits for it; sorry.

[2018-11-12 21:18] hermidalc commented on #12468
Ok will do, working on it now

[2018-11-12 21:33] ogrisel commented on #10561
@snehlatamohite @cdluminate can you please confirm that #12574 fixes this issue?

[2018-11-12 21:42] JanJackSol commented on #9193
Sorry @amueller.... I don't understand what you mean.
'groups' is an array containing integers from 0 to 33 (because I have 34 testers), Since I have 50 feature vectors for each tester, it contains 50 '0's, 50 '1's, etc. I know the structure of X and so I can correctly associate the right group with each feature vector...
Thank you

[2018-11-12 22:13] hermidalc commented on #12468
@amueller sorry need to ask some advice.  The new *Scorer classes basically wrap the functions so zero duplication of code, but for the Select* classes in python how do you define it properly so that it can accept either a *Scorer object or legacy function?  Can python have multiple constructors/signatures?  Or do I need to keep score_func parameter and check if they pass a *Scorer object or legac

[2018-11-12 22:15] adrinjalali commented on #12573
haha, I'd love to see one here :P but it does sound funny.

[2018-11-12 22:17] hermidalc commented on #12468
@amueller or sorry would I have two named parameters legacy score_func and scorer, though if they pass it in positionally which is likely the case I will still need to check what it is

[2018-11-12 22:49] #12395 closed

[2018-11-12 23:35] hermidalc commented on #12468
Since as you said for backwards compatibility we need to keep the score_func named parameter and it's 1st position, I updated univariate_selection.py _BaseFilter code to check if we are getting a callable or Scorer object.  Also updated all docs

[2018-11-13 00:11] emschorsch opened #12575 "R-like summary of LogisticRegression"
It would be very nice to have R-like `summary()` function. This is a [popular question](https://stackoverflow.com/questions/26319259/sci-kit-and-regression-summary). I understand it doesn't make sense to output R^2 by default along with everything else. But I think some summary is nice.

My proposal:
When instantiating a model, allow the user to specify a header column. This will be used as the he

[2018-11-13 00:38] jnothman commented on #10856
GeneralNB requires the user to specify the distribution corresponding to
each feature, then prediction needs to multiply the probabilities from each
model, but avoid duplicating the class priors.

[2018-11-13 02:06] jnothman commented on #12573
I'm alright with this... How does it relate to a potential governance model?

[2018-11-13 02:11] hermidalc commented on #12482
The behavior I'm seeing is exactly what #6023 mentioned with my example.  If you look at the CPU usage it start sat 100% for all cores like it should, but then steadily decreases to low numbers while system CPU usage (in Linux shown in top) increases to 10-15% CPU per core which is not normal.  All cores should pretty much stay at 100% the entire time, even if it takes longer than with n_jobs=1, n

[2018-11-13 02:39] jnothman commented on #9193
Isn't groups[train_inds] what you need so you can pass fit(X_train,
y_train, groups=groups_train)?

[2018-11-13 05:12] emschorsch commented on #12575
Thank you for the feedback! [This](https://www.rdocumentation.org/packages/base/versions/3.5.1/topics/summary) is the summary package in R. It's class dependent ([here](https://i.stack.imgur.com/Ai42v.png) is an example of the output for a fitted model.

Currently LogisticRegression has model.fit(X, y) which trains the model. But then to see the results you have to do model.coef_. This prints out

[2018-11-13 07:19] jnothman commented on #12468
Please, @hermidalc, open a pull request rather than posting code and test logs here. GitHub will facilitate tangible discussion much better on a pull request where you add commits.

But I really doubt that introducing a Scorer class will result in code that gets merged. Please try the score_params parameter to Select* instead

[2018-11-13 08:07] hermidalc commented on #12468
@jnothman @amueller all feature selection tests pass and three common tests above still fail but.  As you can see they are issues I believe with the legacy scoring function code that was never tested since they weren't part of an estimator before.

[2018-11-13 08:29] JanJackSol commented on #9193
@jnothman, you mean that groups[train_inds] is an array containing groups only for the training set, and that, in this array, groups are in the right order after the shuffling made by 'next(GroupShuffleSplit().split(X, groups=groups))' ?

Thanks

[2018-11-13 13:56] cdluminate commented on #10561
@ogrisel I can test it on a power machine on this weekend.

[2018-11-13 13:57] ogrisel commented on #12263
If you built the master branch then the problem is still there. This is weird because I could not reproduce the issue, neither on 0.20.0 nor on master.

Our CI uploads the wheels built on the master branch for 64 bit Python 3.7 and 32 bit Python 2.7 on the following rackspace blob storage:
http://bc1c050a9b3a9f5bf3f5-965058070168eb2f1b8f5a23def30e14.r96.cf2.rackcdn.com/

But they should yield the

[2018-11-13 14:15] snehlatamohite commented on #10561
I will test it tomorrow on power and will update you.

[2018-11-13 15:14] qinhanmin2014 opened #12580 "Replace assert_true and assert_false with assert"
We're now using pytest, so it would be better to replace ``assert_true`` and ``assert_false`` with ``assert`` so that we can get more informative message when tests fails.
Related PR: #12547

[2018-11-13 15:19] qinhanmin2014 commented on #12573
I'm also alright, but maybe it's not so useful since if we introduce the tag, we'll need to search for the tag in the repo frequently. I guess we've decided to vote in the mailing list?

[2018-11-13 15:36] JanJackSol commented on #9193
I tried to print groups[train_inds], but I got the error "TypeError: only integer scalar arrays can be converted to a scalar index"

[2018-11-13 15:53] MaxPowerWasTaken commented on #9193
Hi JanJackSol, I think at this point you might be best served to post a reproduceable example of your issue, using a public dataset, to stackoverflow. (Sorry to the scikit-learn guys if this suggestion is misplaced)

[2018-11-13 15:54] amueller commented on #10561
Do I understand it correctly that the grayed out architectures are less important?
But there's still armel that has a segfault in LOF and some other weird failures that are hidden by the segfault.
https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=armhf&ver=0.20.0%2Bdfsg-2&stamp=1541702052&raw=0

[2018-11-13 16:07] amueller commented on #12573
Well there are things that need decisions that are not TC level, right? Like how to best implement stacking, or if we want to add random neural nets etc...

[2018-11-13 16:09] amueller commented on #9193
No this indeed seems a question for stackoverflow. This is a usage-question as it's pretty clear what to do (groups is a list, not an array, which is why you're getting this error).

[2018-11-13 17:14] JanJackSol commented on #9193
Sorry, probably this is not the right place for my questions...
groups is a list, and groups[train_inds] identifies one single element of this list, doesn't it?

[2018-11-13 17:24] amueller commented on #9193
Indeed, no the right place, please ask on stackoverflow (every time you ask a question all the scikit-learn maintainers get an email).

[2018-11-13 17:30] jaskola8 commented on #12580
I'm interested in working with this issue. If i understand correctly, all assert_true/false in modules contained in sklearn need to be replaced (haven't found any occurrences outside sklearn).

[2018-11-13 17:31] amueller commented on #12575
@emschorsch one of the issues why this is not straight-forward is that you assume the input is dataframes. Traditionally the input is numpy arrays and right now we don't even store the column names. In fact, scikit-learn doesn't depend on pandas and makes no use of pandas internally or returns pandas data structures (apart from trivial cases). That would be a big change, which we've certainly have

[2018-11-13 17:47] amueller commented on #12482
@hermidalc no because the bottleneck is communication between the cores.

[2018-11-13 17:49] amueller commented on #6738
@Kodiologist at least you taught me an idiom I didn't know about ;)

[2018-11-13 17:52] amueller commented on #6738
So open for contributors: add ``penalty='none'`` as an option. Also possibly check what solvers support this / are efficient with this (liblinear is probably not) and restrict to those solvers.

[2018-11-13 18:01] amueller commented on #9606
Sorry, I didn't understand your argument against using a function in ``SelectFromModel``. I find it more natural to have generic calculators available as a function than a method, and the non-generic ones seem to be heuristics that are terrible a lot of the time. So I would focus more on having a nice interface for generic ones, and discourage using hacky ones.
Right now we're encouraging using ha

[2018-11-13 18:04] amueller commented on #12546
There are issues in 0.20.0 with joblib. Downgrading is a work-around but hopefully this will also be solved in 0.20.1 (to be release later this week) or the current development version

[2018-11-13 18:13] amueller commented on #12521
I think it's actually a bug in ``clone``: our test for whether something is an estimator is too loose. If we check that it's an instance in the same "if", does that solve the problem?

[2018-11-13 18:20] shermstats commented on #6738
This sounds reasonable to me.  I'd also suggest bolding the first sentence because it's legitimately that surprising for people coming from other machine learning or data analysis environments.

[2018-11-13 18:31] amueller commented on #6738
@shermstats So @Kodiologist suggested adding ``penalty="none"`` to make it more explicit, which would just be an alias for ``C=np.inf``. It makes sense for me to make this more explicit in this way. Do you have thoughts on that?
Then that would be what's in the documentation. And I agree that bold might be a good idea.
I think for someone with a ML background this is (maybe?) expected, for someone

[2018-11-13 18:36] hermidalc commented on #12250
Is it a good idea to expose a backend parameter to GridSearchCV so that users can chose the joblib backend?

[2018-11-13 18:40] amueller commented on #12250
@hermidalc you already can configure it afaik.

[2018-11-13 18:46] hermidalc commented on #12250
Sorry if if my eyes are missing something, I don't see it in the API https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html

[2018-11-13 18:50] hermidalc commented on #12250
@amueller from https://github.com/scikit-learn/scikit-learn/blob/d0e99db0a2fd6217a3d09caf51905d3e44b92a0a/sklearn/model_selection/_search.py#L643

it looks like it always just uses whatever the default backend is for the current embedded joblib version

[2018-11-13 18:54] amueller commented on #12250
Which can be configured:
https://joblib.readthedocs.io/en/latest/parallel.html#thread-based-parallelism-vs-process-based-parallelism

[2018-11-13 18:55] hermidalc commented on #12250
Sorry if I'm missing something, when using sklearn how does one specify the backend GridSearchCV will use?

[2018-11-13 19:03] hermidalc commented on #12250
I see in joblib you can establish a joblib.parallel_backend context with statements like:
[code]
but this alternative is more annoying then just providing a GridSearchCV backend param that can be set.

[2018-11-13 19:04] shermstats commented on #6738
Exactly!  I have a stats background and have worked with many statistics people coming from R or even point and click interfaces, and this behavior is very surprising to us.  I think for now that `penalty=None` (not sure about `"none"` vs. `None`) is a good solution.  In the future, we should have a separate solver that's called automatically for unpenalized logistic regression to prevent the issu

[2018-11-13 19:09] ivannz commented on #12250
@amueller Thank you! IMO, this context manager solution is really clean and elegant!

[2018-11-13 19:37] samwaterbury commented on #12505
I'm going to open a PR to address the documentation issues and the bug with `shuffle`, and then we can figure out whether to make the additional changes from there.

[2018-11-13 19:55] amueller commented on #12250
I don't see what's wrong with the context manager @hermidalc. We would need to add this option to all sklearn functions and models that use joblib otherwise.

[2018-11-13 20:00] amueller commented on #6738
Sorry, which issue do you mean? We're switching to l-bfgs by default, and we can also  internally switch the solver to l-bfgs automatically if someone specifies ``penalty='none'`` (often None is a special token we use for deprecated parameters, but we have stopped doing that. Still 'none' would be more consistent with the rest of the library).
We need ``solver="auto"`` anyway so changing the solve

[2018-11-13 21:02] jnothman commented on #12468
You may personally think it's a win-win, but the cost is not merely in the
design but in the maintenance. But in design too, there are several
possible options for how to get a feature scorer to return its result. I
don't think yours is the only obvious design.

[2018-11-14 01:37] qinhanmin2014 commented on #12580
Yes, but note that we've not decided whether we should deprecate these two functions, so keep the definition of these two functions at least for now.

[2018-11-14 02:02] qinhanmin2014 commented on #12573
Ahh, I see. +1 here.

[2018-11-14 03:15] amueller commented on #9354
I'm really not caught up on this, but I'm surprised there's no existing solution. This seems to be a very common computation and it looks like we're reinventing the wheel. Has anyone tried reaching out to the wider scientific computing community?

[2018-11-14 05:01] rth commented on #9354
Not yet, but I agree we should. The only thing I found about this in scipy was https://github.com/scipy/scipy/pull/2815 and linked issues.

[2018-11-14 06:40] #12517 closed

[2018-11-14 07:00] jnothman commented on #12575
I know this is a common issue, and I think the inability to pass around feature names with X is a severe limitation. Other than moving to pandas in/out I don't really know how to solve this.

[2018-11-14 07:01] emschorsch commented on #12575
explain_weights looks useful, thank you for pointing it out!

@amueller Thank you for the additional insight! I think there are two issues:
1) What is the equivalent in sklearn for summary? explain_weights seems like it has some good functionality but I'll play around with it more. I don't have any insight into what a more complete replacement for `summary` would be. However, as a start, given how

[2018-11-14 07:18] jnothman commented on #9606
a feature importance function in SelectFromModel would take the data as input in many cases, so it would effectively be an estimator, no?

[2018-11-14 08:31] mikkelam commented on #12545
For now, I'm stuck with pandas. Anyway, thanks for your time and this awesome project 👍

[2018-11-14 09:19] jnothman commented on #12505
I think documenting the partial_fit behaviour (i.e. exactly 1 iteration
performed), and documenting but deprecating the warm_start behaviour should
be immediate goals.

[2018-11-14 09:38] #7598 closed

[2018-11-14 09:50] jnothman commented on #12573
I suspect those things should have executive decisions from a TC we can
move on... Coming to conclusions on sticky issues would be a good thing for
the TC to be obligated to do.

[2018-11-14 09:56] jorisvandenbossche commented on #12545
Yes, I think this was the main reason we decided not to support a dict or arrays, as such a data structure is not compatible with the rest of scikit learn (splitting in cross-validation, passing such data directly to transformers, ..)

I don't fully recall any more the reason for not supporting structured arrays.
But one problem is that structured arrays are a bit a different "data model". For exa

[2018-11-14 10:31] jnothman commented on #12505
For warm_start, we might have warm_start=True adopt the legacy behaviour but raise a FutureWarning that this will change in version 0.23, while warm_start='full' would adopt the new behaviour.

[2018-11-14 10:36] jnothman commented on #12575
The difficulty isn't storing them, it's passing them in, and
transferring/generating them through a sequence of transformers.

[2018-11-14 10:36] jnothman commented on #12575
(And avoiding ambiguity with other handling of additional parameters to
fit, e.g. in GridSearchCV)

[2018-11-14 12:08] jnothman commented on #12548
The second issue should now be fixed. Regarding the first, looking at the context in which that code was introduced (#9004) it is probably trying to avoid a divide by zero error. So rather than catching and asserting that 0 are raised, we can just use `with np.errstate(divide='raise', invalid='raise')` instead...?

[2018-11-14 12:10] jnothman commented on #12548
no, maybe I'm confused and it should be checking for no ConvergenceWarning?

[2018-11-14 13:06] jnothman opened #12584 "Doctest failure for PowerTransformer on mac?"
Subsequent to #12522 it seems I get the following test failure when running on my own machine. @NicolasHug is this level of imprecision surprising?

[code]

show_versions
-------------

[code]

[2018-11-14 13:41] mikkelam commented on #12545
If that is the argument, then the same argument can be applied for pd.DataFrame right? I mean ColumnTransformer is the only one that allows DataFrames (AFAIK)

[2018-11-14 14:18] phausamann opened #12586 "Incomplete documentation of Windows build dependencies"
The [build dependencies documentation for Windows x64](https://scikit-learn.org/dev/developers/advanced_installation.html#id1l) states that the build requires the Windows SDK 7.1 for 64bit Python 3 and the following build environment configuration:

    SET DISTUTILS_USE_SDK=1
    SET MSSdk=1
    "C:\Program Files\Microsoft SDKs\Windows\v7.1\Setup\WindowsSdkVer.exe" -q -version:v7.1
    "C:\Progra

[2018-11-14 14:54] albertcthomas commented on #12586
For python 3.6 I remember that it did not work out the box for me. I had to do the following (even though I don't exactly know why it worked in the end):

1. Install Visual studio 2017 build tools

2. Then in console
[code]

[2018-11-14 14:59] albertcthomas commented on #12546
Using Parallel with `max_nbytes=None` is also a possible work-around as this disables memmapping of large array. However I am not sure this is doable with GridSearchCV.

[2018-11-14 15:18] qinhanmin2014 commented on #12584
I can reproduce on Windows 10, so seems that it's not trivial.
[code]

[2018-11-14 15:19] qinhanmin2014 commented on #12584
Maybe we should also run doctests on Appveyor.

[2018-11-14 15:37] ryanpeach commented on #3956
I feel like a side project might be suitable. I've long wanted a way to represent an sklearn model with full IO transformation in something as general as a complex DAG lol.

As long as labelencoding is built into classifiers, you are right that the use case is limited.

[2018-11-14 15:38] amueller commented on #12545
@mikkelam there is actually special code in cross-validation to handle pandas dataframes. I added it because I felt it was a very common use-case that's important to support.
1D is fine for cross-validation, so I think this would "only" require a change in ColumnTransformer. I think my reason was to keep it simple for the first iteration because I was eager to get something in that covers the most

[2018-11-14 15:40] qinhanmin2014 commented on #12586
Not familiar with these things. Anaconda does everything for me on windows.

But I think PRs to improve/correct the doc are always welcomed.

[2018-11-14 15:40] amueller commented on #3956
https://mcasl.github.io/PipeGraph/
https://github.com/Microsoft/NimbusML

See #4143 for the general issue on transforming y in pipelines.

[2018-11-14 15:42] amueller opened #12587 "Add "Transforming y" to FAQ"
#4143 is a long-standing issue about not being able to transform y in a pipeline.
It is a very common question, and it might be worth adding it to the FAQ and pointing to TargetTransformer, that issue, and imbalanced-learn, and maybe pipegraph.

[2018-11-14 16:28] amueller commented on #12575
There is no equivalent to summary, really. For people with an ML perspective the summary doesn't make a lot of sense.
Most models in sklearn don't have coefficients. Even if they do, people often have hundreds or thousands of features, so printing them all makes no sense.
There is no p-values associated with any model parameters for most models. So none of these output would make a lot of sense.
W

[2018-11-14 16:28] amueller commented on #12575
Also, can you link to the code of summary?

[2018-11-14 16:30] #12417 closed

[2018-11-14 16:34] amueller commented on #9606
Take data and estimator, yes. I find it more natural to have a function than an estimator if there's no ``predict`` or ``transform``, though.
The only interesting thing of that "estimator" would be ``feature_importances_``, and the only reason to have this concept as an attribute would be in these "estimators".

So these would have no interface in common with the rest of the estimators basically (

[2018-11-14 16:47] oleksandr-pavlyk commented on #12263
Thanks @ogrisel . I downloaded and installed `scikit_learn-0.21.dev0+20181114100605-cp37-cp37m-win_amd64.whl` and can still reproduce the hang.

[2018-11-14 20:19] shermstats commented on #6738
[This issue](https://github.com/scikit-learn/scikit-learn/issues/6738#issuecomment-216245049), which refers to the iterative algorithm becoming very slow for large C.  I'm not a numerical analysis expert, but if l-bfgs prevents it from slowing down then that sounds like the right solution.  `penalty='none'` also sounds like the right way to handle this.

[2018-11-14 20:59] #12521 closed

[2018-11-14 21:01] jnothman commented on #12545
DataFrames are array-like, so they are handled, even before the special
handling that Andy refers to.

[2018-11-14 21:03] amueller commented on #6738
@shermstats yes, with l-bfgs this doesn't seem to be an issue. I haven't run extensive benchmarks, though, and won't have time to. If anyone wants to run benchmarks, that would be a great help.

[2018-11-14 21:03] jnothman commented on #12545
change in ColumnTransformer.

But it would pass a struct array to each transformer? In what world do we
support that??

[2018-11-14 21:23] JianchaoTan opened #12590 "Is the average operation in meanshift function a bug?"
https://github.com/scikit-learn/scikit-learn/blob/bac89c253b35a8f1a3827389fbee0f5bebcbc985/sklearn/cluster/mean_shift_.py#L102

According to meanshift equation, it should be a weighted average operation, whose weight is kernel values, here it is a direct mean of its neighbors?

[2018-11-14 22:36] yarikoptic commented on #12548
"one step at a time" ;)    and it is disappointing that i386 fails there too -- it built fine for me locally so I thought it was ok.  That `ImportError: No module named _check_build` keeps haunting us around the corners.
s390 one (I am surprised that only one) is interesting:
[code]

[2018-11-15 00:48] cdluminate commented on #12548
s390x one is a duplicate to ppc64el's
https://github.com/scikit-learn/scikit-learn/issues/10561

[2018-11-15 02:53] ruiann opened #12591 "It seems that the"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-11-15 03:00] ruiann opened #12592 "It seems that the constant_features attribute of class Splitter in sklearn/tree/_splitter.pyx is useless"
#### Description

The constant_features attribute is created and malloced, save the constant features' index, but no code uses it, it just save. The tree use n_constant_features to get constant features' index from features attribute of Splitter. Consider it better to delete this attribute?

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-11-15 03:11] #12591 closed

[2018-11-15 03:56] samwaterbury commented on #12505
@christinebuckler `warm_start='full'` will make it train for `max_iter` rounds instead of just 1. Presumably we will use `warm_start=True` in the future to do this but first it has to be deprecated so that it doesn't break existing code.

`partial_fit` will continue to only fit for a single round, so there's no functionality being lost here

[2018-11-15 04:08] christinebuckler commented on #12505
@samwaterbury thank you. Yes that option would be great. To confirm, "full" would apply to only partial_fit usage or also fit?

[2018-11-15 05:15] nnb95baddi opened #12594 "Setting subsample size in RandomForestClassifier and RandomForestRegressor?"
Since RandomForestClassifier and RandomForestRegressor do not have a max_samples attribute unlike BaggingClassifier and BaggingRegressor, there is no way to set the sub sample size in case of former. This is undesirable in case of large datasets where the individual estimators of the random forest may need to be built on smaller sub-samples of the datasets in order to save computational time.

[2018-11-15 06:33] #12590 closed

[2018-11-15 06:53] jnothman commented on #12592
Does closing the pr mean you want to revoke the issue?

[2018-11-15 06:57] jnothman commented on #12505
warm_start='full' would apply only to fit. For consistency with
SGDClassifier (unless I am much mistaken), partial_fit should always run
only one iteration

[2018-11-15 06:57] ruiann commented on #12592
I've forgot to remove this attribute in pxd file, and also I wanna wait for this issue's conclusion

[2018-11-15 06:59] jnothman commented on #12594
Duplicate of #5963

[2018-11-15 06:59] #12594 closed

[2018-11-15 07:02] jnothman commented on #12592
You should not open multiple pull requests, simply keep pushing new commits
onto your existing one.

[2018-11-15 08:48] phausamann commented on #12586
I tested this on a "clean" Windows system and it seems that Build Tools for Visual C++ is the only prerequisite, no further configuration needed (at least from within anaconda).

I'd go ahead and make a PR to update the documentation accordingly, unless someone has an example where this doesn't work (a non-anaconda environment maybe?).

[2018-11-15 08:58] ogrisel commented on #12584
I believe we cannot easily run the doctests on windows because of difference in the way the numpy array dtypes are displayed on windows and reworking the doctests.

I think we should consider that the goal of the doctests is only to test that the examples in the documentation are up to date with the code.

Checking that the code runs correctly on all platform should be the responsibility of the re

[2018-11-15 09:08] ogrisel commented on #12584
Back to the original issue, a small change on one of the values of the second feature can impact lambda significantly. On my Linux machine where the doctest pass, I observe the following:

[code]

So I believe this doctest should use an ellipsis.

[2018-11-15 09:14] qinhanmin2014 commented on #12584
You're right, though I need some time to figure out the differences across different platforms.
I ran all the doctests on my Windows and there's only one result mismatch (i.e., this PR).

[2018-11-15 09:16] ogrisel commented on #12584
I edited my previous comment because I did had not completed my sentence...

[2018-11-15 09:16] ogrisel commented on #12584
I pushed a fix in #12595.

[2018-11-15 10:03] ivannz commented on #12250
This is slightly non trivial, but in order to use the context manager for setting parallel backends I had to import from **scikit's utils** module, instead of **joblib**. It seems that using the latter does not affect the actually used backend in scikit.

The reason for explicit backend management arose from the errors during **pickling of forward-inverse** functions for `FunctionTransformer` defi

[2018-11-15 10:23] nnb95baddi opened #12596 "What does splitter argument in the constructor of DecisionTreeClassifier do?"
The splitter attribute in the constructor of _DecisionTreeClassifier_(or _DecisionTreeRegressor_) can take two values '_best_' or '_random_'. The docs say
<quote>

</quote>

What does setting '_random_' do? Does it make the tree finds the best split at each node with randomly selected thresholds among the randomly sampled _max_features_ features? Or does it select a feature at random among the _ma

[2018-11-15 10:31] #12584 closed

[2018-11-15 13:30] joaquinvanschoren commented on #8588
I'll try to get all mldata.org datasets into OpenML (the mldata folks agreed to this). At the moments, I sadly can't reach the mldata server. Did anyone ever download all of them? That would be a huge help. Thanks!

[2018-11-15 13:54] lesteve commented on #8588
@joaquinvanschoren I just emailed you the email of someone I have contacted in the past about mldata.org problems and has been very helpful each time. Let me know if you don't receive my email.

[2018-11-15 14:35] amueller commented on #12596
I believe so. That's for Extra Trees.

[2018-11-15 14:39] amueller commented on #12250
try either updating to the development version of scikit-learn or defining the function in a separate file. Either should fix the error. There's an active discussion on how to best handle the issue of importing from utils vs joblib in the near future in #12345

[2018-11-15 14:44] amueller commented on #12575
That's much longer than "summary" though, and contains partial dependence plots and various measures of feature importances. I've never seen "minimum depth" used as an analysis tool. Seems a bit strange.

We'll soon add more general variable importance and partial dependence plots but that's not what I'd expect from "summary"

[2018-11-15 14:45] amueller commented on #12575
@emschorsch maybe you can say what you'd expect the summary of nearest neighbors or random forests to be? And for what kinds of models does ``summary`` work in R?

[2018-11-15 15:38] ogrisel commented on #12548
@jnothman I opened #12597 to get a better idea.

[2018-11-15 15:55] amueller commented on #12548
@yarikoptic that failure will be fixed in #12574.
Can you point to an import failure that's not spurious? It look to me like they were actually failures inside python3.7 and I assumed these platforms didn't support python3.7

[2018-11-15 15:55] amueller commented on #12548
Oh and "one at a time" might not be best if we're trying to push a bugfix release this week.

[2018-11-15 15:56] amueller commented on #12548
oh the i386 error is weird, in particular since the tests are passing....

[2018-11-15 16:02] amueller commented on #9354
I feel @jeremiedbb might have an idea?

[2018-11-15 16:06] lesshaste commented on #12575
@amueller  The motivation for using minimal depth is partly explained in Section 4.2 of https://arxiv.org/pdf/1501.07196.pdf .

[2018-11-15 16:47] amueller commented on #12545
Good point. We could require that each slice is homogeneous in type / upcast to a common type? Might be a bit brittle but that's in essence what happens with a dataframe, right?

[2018-11-15 17:51] marctorsoc opened #12598 "Improve GridSearchCV and splitter classes"
Edit: I have added for each bullet point the conclusions so far

#### Description

This is my first feature request so I apologise in advance if don't follow the correct protocol. I have a modified version (not ready to be a PR, but happy to contribute if agreed) of various classes for the `model_selection` package addressing a number of features I wanted in `GridSearchCV`, who derives from `BaseS

[2018-11-15 18:40] amueller commented on #12598
Welcome.
Generally it would be good to have separate issues / PRs for separate things.
Most of your 6 changes are unrelated, and putting them in the same issue makes discussion easier.
The next release will require python3.5 at minimum, so f-strings are not an option for now.

The first should be solved in 0.20.1, or with current master.
The idea of loky (used by joblib) is that it's more robust t

[2018-11-15 19:41] jeremiedbb commented on #9354
Unfortunately not a satisfying one yet :(

We'd like to rely on a highly optimized library for this kind of computation, as we do for linear algebra with BLAS libraries such as OpenBLAS or MKL. But euclidean distance is not part of it. The dot trick is an attempt at doing that relying on BLAS level 3 matrix-matrix multiplication subroutine. But this is not precise and there is no way to make it mo

[2018-11-15 20:03] amueller commented on #9354
Is that something the libraries would consider? If OpenBLAS does it we would be in a pretty good situation already...

Also, what's the exact differences between us doing it and the BLAS doing it? Detecting the CPU capabilities and deciding which implementation to use, or something like that? Or just having compiled versions for more diverse architectures?
Or just more time/energy spend writing ef

[2018-11-15 20:06] amueller commented on #9354
This is interesting: an alternative implementation of the fast unstable method but claiming to be much faster than sklearn:
https://github.com/droyed/eucl_dist
(doesn't solve this issue at all though lol)

[2018-11-15 20:08] amueller commented on #9354
This discussion seems related https://github.com/scipy/scipy/issues/5657

[2018-11-15 20:14] amueller commented on #9354
Here's what julia does: https://github.com/JuliaStats/Distances.jl/blob/master/README.md#precision-for-euclidean-and-sqeuclidean
It allows setting a precision threshold to force recalculation.

[2018-11-15 20:50] amueller commented on #9354
Answering my own question: OpenBLAS has what looks like hand-written assembly for each processor (not architecture!) and heutistics to choose kernels for different problem sizes. So I don't think it's an issue of getting it into openblas as much as finding someone to write/optimize all those kernels...

[2018-11-15 21:05] rth commented on #9354
Thanks for the additional thoughts!

In a partial response,

Yeah, I also was hoping we could do more of this in BLAS. Last time I looked nothing in standard BLAS API looks close enough (but then I'm not an expert on those). [BLIS](https://github.com/flame/blis) might offer more flexibility but since we are not using it by default it's of somewhat limited use (though numpy might someday https://gi

[2018-11-15 21:21] amueller commented on #9354
Should we open a separate issue for the faster approximate computation linked above? Seems interesting

[2018-11-15 21:44] jeremiedbb commented on #9354
hum not sure about that. They are benchmarking `%timeit pairwise_distances(a,b, 'sqeuclidean')`, which uses scipy's one. They should do `%timeit pairwise_distances(a,b, 'euclidean', metric_params={'squared': True})` and their speedup wouldn't be as good :)
As shown far earlier in the discussion, sklearn can be 35x faster than scipy

[2018-11-15 21:46] rth commented on #9354
Yes, they benchmarks are only ~30% better better with `metric="euclidean"` (instead of `squeclidean`),

[code]

[2018-11-15 21:50] rth opened #12600 "sqeuclidean metric is much slower than euclidean in pairwise_distances"
Currently, passing `metric='sqeuclidean'` to `pairwise_distances` falls back to scipy pairwise distance calculations instead of using the fast (and less accurate) implementation in scikit-learn. As a result, it can be up to 10x slower in some cases,

[code]

this is particularly confusing because people who would use `sqeuclidean` will mostly do it for performance reasons,  I think,  to save one s

[2018-11-15 21:50] jeremiedbb commented on #9354
Doesn't sound straightforward. BLAS is a set of specs for linear algebra routines and there are several implementations of it. I don't know how open they are to adding new features not in the original specs. For that maybe blis would be more open but as said before, it's not the default for now.

[2018-11-15 21:51] rth commented on #9354
Opened https://github.com/scikit-learn/scikit-learn/issues/12600 on the `sqeuclidean` vs `euclidean` handling in `pairwise_distances`.

[2018-11-15 21:56] jeremiedbb commented on #12600
This is just a matter of documentation because you can use sklearn's implementation with
[code]

[2018-11-15 21:57] amueller commented on #12600
The question is also what's the expected behavior for ``sqeuclidean``.

[2018-11-15 23:51] marctorrellas commented on #12598
Hi @amueller

Ok, I'll try to open an issue / PRs for separate things in the future

Where can I see what features are expected for each release? e.g. you say for 0.20.1 the first issue should be solved

`StratifiedShuffleSplit` applies when you have labels but I'm not taking them into consideration at all. I think that a possible way to do that (not sure what would be better compared to what I'm

[2018-11-16 08:38] #12554 closed

[2018-11-16 09:45] ogrisel commented on #12586
Do you build with gcc or with microsoft visual c++ compiler? If the latter, I don't think anaconda can install it for you. You have to install "Visual studio 2017 build tools"  (either standalone or as part of the full "visual studio" developer environment with the graphical IDE).

[2018-11-16 09:48] ogrisel commented on #12586
I believe the environment is well configured to use  Build Tools for Visual C++ when you use a powershell terminal.

If you use the "git bash" terminal or the "anaconda prompt" terminal I am not sure they are configured by default and the instructions from @albertcthomas's comment (https://github.com/scikit-learn/scikit-learn/issues/12586#issuecomment-438689605) might be necessary.

It would be gr

[2018-11-16 09:49] ogrisel commented on #12586
I believe that the old-style manual installation of the windows SDK is no longer required for Python 3.5 if you install the Build Tools for Visual Studio 2017. The build tools include the SDK (I think).

[2018-11-16 10:04] ruiann commented on #12592
some tests report error but it doesn't seems to be caused by my commit, should I do the commit regardless of them?

[2018-11-16 10:08] ogrisel commented on #12598
Also note that the new loky backend in jolib is primarily a backport for Python 3.7  implementation of `concurrent.futures.ProcessPoolExecutor` using the spawn start method and cloudpickle + improvements to make it possible to reuse and dynamically resize an existing process pool instance to hide the process creation time overhead.

[2018-11-16 10:11] ogrisel commented on #12598
Also for scikit-learn 0.21 we will still support Python 3.5 so no f-string in the short term unfortunately.

[2018-11-16 10:12] eamanu commented on #12592
@ruiann Could you reference to the PR?

[2018-11-16 10:13] eamanu commented on #12592
I think yes. This way someone could help you

[2018-11-16 10:32] ogrisel commented on #12598
You can use `ShuffleSplit(train_size=0.2, test_size=0.w)` to simulate arbitrarily small training and test sets, without any class label stratification. If you have more complex, exotic use case than this, then implementing you own CV strategy is actually the best thing to do.

[2018-11-16 10:59] marctorrellas commented on #12598
Thanks for your answer @ogrisel . Do you have here in sklearn a similar place like

https://github.com/joblib/joblib/blob/master/CHANGES.rst

?

[2018-11-16 11:18] marctorrellas commented on #12598
I have added for each bullet point in the first comment the conclusions so far. Do you guys think would be worth it to:
* print the train scores in _fit_and_score
* Make the Repeated Splits class public so you build it passing a splitter (this python, you actually can but could be good to have it publicly available and documented)

The rest of points I think have already been addressed

[2018-11-16 12:41] phausamann commented on #12586
The build I described above was done from an anaconda prompt and worked without further configuration.

[2018-11-16 15:51] albertcthomas commented on #12586
I am using the [cmder](http://cmder.net/) terminal. I tried to build without the following instructions
[code]
and it failed with `error: Unable to find vcvarsall.bat`. Same error when I tried with the "anaconda prompt", so there must be something different between our configurations @phausamann

[2018-11-16 17:03] Joao-M-Almeida opened #12604 "PLSRegression incompatibility with MultiOutputRegressor"
#### Description

It seems that PLSRegression doesn't work with MultiOutputRegressor. This is not usually needed, but if you want to analyze what is the influence of doing multi output fitting with PLS it is needed.

#### Steps/Code to Reproduce
I got the error on my own code, but was able to reproduce it based on the Scikit-learn example availble on: https://scikit-learn.org/stable/auto_examples/

[2018-11-16 17:19] amueller commented on #12604
thanks for the report. I'm not 100% sure supporting this makes sense, but I'm not very familiar with PLS...

[2018-11-16 17:53] amueller commented on #12598
https://scikit-learn.org/dev/whats_new.html

is the current changes.

I have no opinion on printing training scores tbh. Is this for GridSearchCV or cross_val_score or both?

I don't have an issue with making RepeatedSplits public.

[2018-11-16 22:32] amueller commented on #12580
we should do the same for assert_equal, right?

[2018-11-17 16:58] albertcthomas commented on #12586
Actually only doing
[code]
works.

[2018-11-17 17:40] amueller commented on #12580
I got a pretty back traceback from assert_equal for some reason yesterday that got better with plain assert ;)

[2018-11-17 22:56] jnothman commented on #12596
This is not a development issue, although you're welcome to contribute documentation changes if our user guide is not clear enough

[2018-11-17 22:56] #12596 closed

[2018-11-17 23:05] #12516 closed

[2018-11-18 00:08] marcelocolonno opened #12607 "scikit learn installation failure: ERROR: sklearn.tests.test_site_joblib.test_old_pickle"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-11-18 00:10] marcelocolonno commented on #12607
I cannot run scitit lern on my Mac due to installation error as mentioned... ERROR: sklearn.tests.test_site_joblib.test_old_pickle - would someone know what should I do?

[2018-11-18 00:17] marcelocolonno commented on #12607
ERROR: sklearn.tests.test_site_joblib.test_old_pickle
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/anaconda3/lib/python3.6/site-packages/nose/case.py", line 197, in runTest
    self.test(*self.arg)
TypeError: test_old_pickle() missing 1 required positional argument: 'tmpdir'

[2018-11-18 04:18] nocibambi opened #12608 "LocalOutlierFactor throws scipy FutureWarning: non-tuple sequence"
#### Description
FutureWarning thrown when calling fit on LocalOutlierFactor

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results
Only the LocalOutlierFactor:

#### Actual Results

#### Versions
Linux-4.15.0-39-generic-x86_64-with-debian-buster-sid
Python 3.6.6 |Anaconda custom (64-bit)| (default, Jun 28 2018, 17:14:51)
[GCC 7.2.0]
NumPy 1.15.1
SciPy 1.1.0
Scikit-Learn 0.19.2

[2018-11-18 05:19] jnothman commented on #12600
I suppose this is similar to the fact that we use different implementations
for euclidean and minkowski,p=2... should we be trying to resolve aliases?

[2018-11-18 10:19] jnothman commented on #12607
You're not running tests with pytest, but something else (nose?).

[2018-11-18 10:19] #12607 closed

[2018-11-18 13:51] orausch opened #12610 "LabelPropagation string support"
#### Description
LabelPropagation does not support string arrays, since it checks for unlabeled samples using `y == -1`.

A possible solution is to change the API for string arrays such that unlabeled samples are marked with the string `"-1"`. See PR #11682 for more discussion.
#### Steps/Code to Reproduce
See https://gist.github.com/orausch/399045652a37553d00bd187e9dd119fd. Note that the test als

[2018-11-18 13:57] orausch commented on #12610
Closing due to a misunderstanding

[2018-11-18 13:57] #12610 closed

[2018-11-18 14:47] marcelocolonno commented on #12607
I have copied testing result by mistake... installing execution had another error - but I already solve it... thanks!

[2018-11-18 16:50] LucaMoschella opened #12611 "Davies Bouldin measure: division by zero"
I'm facing a problem with the davies bouldin measure.

This is the warning that I get:

    .local/lib/python3.7/site-packages/sklearn/metrics/cluster/unsupervised.py:342: RuntimeWarning: divide by zero encountered in true_divide
        score = (intra_dists[:, None] + intra_dists) / centroid_distances

This is the implementation in sklearn:
[code]
I found [another implementation](https://stackove

[2018-11-18 18:32] amueller commented on #12580
sorry typo.

[2018-11-18 19:58] CaiqueCoelho commented on #10761
You can do this:
cmap = cm.get_cmap("Spectral")
colors = cmap(a / b)

[2018-11-18 19:59] #12470 closed

[2018-11-18 21:09] jnothman commented on #12611
It would help if you provide some data (whether or not it gives that warning) for which the implementations give different results

[2018-11-18 21:11] jnothman commented on #12611
(the stack overflow implementation won't work if your labels are not (0, 1, ..., n clusters - 1)

[2018-11-18 23:38] LucaMoschella commented on #12611
Mmmh the labels are generated from MiniBatchKMeans so I _think_ they should be correct.

I managed to produce a [minimum working example](https://drive.google.com/open?id=1KtkkfTecNf5gvj8Jvxi-h2vifZLxO3mX).
The feature matrix is still 500MB, sorry about that.

The output of the example is the following:

[code]

[2018-11-19 05:47] LucaMoschella commented on #12611
It was in terms of code needed.
I'll try to reduce the size in the next days

[2018-11-19 06:13] jnothman commented on #12611
The same issue can be reproduced for `measure_quality(samples[::200], labels[::200])` and I'm sure the dataset can be reduced much further.

[2018-11-19 08:00] winterwindwang commented on #12226
it works in my situation

[2018-11-19 10:42] mojones opened #12614 "Should cross validation shuffle by default?"
Apologies if issues is the wrong place for this, but it didn't seem like a usage question...

Recently I was teaching a bunch of clinical scientists how to use scikit-learn by having them build classifiers for their datasets. Several of them ran into problems with cross validation giving terrible results with some classifiers (decision trees/random forests seem particularly bad), because their dat

[2018-11-19 10:57] jnothman commented on #12614
Iirc, This has indeed been discussed several times before, on the mailing
list and in this issue tracker.

The issue is not performance. I think the default is open for debate, and
perhaps you're right that shuffling would be better especially since most
users just to cv=10 or similar. Sometimes shuffling inappropriately
inflates scores if sample order is meaningful (e.g. temporal)...

I think thi

[2018-11-19 11:15] mojones commented on #12614
Thanks for such a quick and thoughtful reply to a question you've obviously heard before!

From my point of view, shuffle-by-default would definitely be better, as it would be one less thing for novices to worry about. But of course, I know that my use case is just one of many.

I'd be happy to take a stab at putting something in the docs. Maybe it would be appropriate to have it in a red warning

[2018-11-19 11:56] eliasmistler commented on #4143
Came across this issue recently as well, when trying to balance a dataset at training time. Let's say I'd like a pipeline like this (very much simplified from an actual use case):

[code]

The reason I'd like this pipeline is:
* I am required to wrap all transformations into a pipeline for production. Ideally the pipeline is self-documenting, i.e. includes all the steps that were applied to the da

[2018-11-19 12:42] jnothman commented on #4143
1. class_weight='balanced' should be more-or-less equivalent (or better) relative to downsampling.
2. #3855, specifically https://github.com/scikit-learn/scikit-learn/issues/3855#issuecomment-357949997, is the proposed solution. Help welcome.
3. A meta-estimator can be constructed to do what you want, even without #3855

[2018-11-19 12:45] jnothman commented on #12614
I think the place to warn about it is in documenting the cv parameter. I'm
not sure if it needs to be in red, but you can, say, italicise *not* in
"not shuffled" to make it stand out.

I'm not sure what the right API is.

[2018-11-19 14:09] qinhanmin2014 commented on #12608
Resolved in master, please update to 0.20.0.
See #11697, #11714.

[2018-11-19 14:09] #12608 closed

[2018-11-19 14:18] stsouko commented on #10743
Code is ready to merge.
@amueller, can you review pr #12513?

[2018-11-19 15:44] amueller commented on #12614
I think one of the reasons to not shuffle was that our reasoning is that it's better to show wrongly deflated results than wrongly inflated results. The intuition is that if there's correlation in your data, you should be made aware of it.

If you're using cv=5, we're using stratification for classification, which kind of solves the problem of ordered classes. If we changed to a form of stratifica

[2018-11-19 16:04] GinoWoz1 commented on #10054
Thanks. Newbie question here, how would one import a module with a custom scorer? I have the custom scorer below How would I import that in a module? Hope this helps others too as well.

def rmse_cv(y_true, y_pred) :
    assert len(y_true) == len(y_pred)
    y_pred = np.exp(y_pred)
    y_true = np.exp(y_true)
    return np.sqrt(mean_squared_error(y_true,y_pred))
"""
rmse_cv = make_scorer(rmse_cv,g

[2018-11-19 17:50] amueller commented on #4143
I would argue ``class_weight='balanced'`` is equivalent to upsampling ;)
You could also use imbalanced-learn btw, which does implement this as a pipeline:
https://github.com/scikit-learn-contrib/imbalanced-learn

[2018-11-19 18:26] amueller opened #12616 "[RFC] Stateless transformers requiring fit?"
Right now there's some estimators that don't require calling "fit", two that I'm aware of: ``Normalizer`` and ``FunctionTransformer``. They do input validation if ``fit`` is called.
There's one estimator that is stateless but requires calling ``fit`` for no real reason I can see, ``AdditiveChi2Sampler``.

My questions are:

* Should we remove the requirement to calling ``fit`` if it can be avoided

[2018-11-19 20:39] amueller opened #12617 "Update LogisticRegression table summary to mention l-bfgs default"
We should update the summary of the table [here](https://github.com/scikit-learn/scikit-learn/pull/11646/files#r234003423) to mention l-bfgs and it's benefits/downsides as this is our future default.
Probably after we merged #11646.

[2018-11-19 22:13] LucaMoschella commented on #12611
Thank you for your analysis!

Yes, you are right. In the paper (freely available [here](https://www.researchgate.net/publication/224377470_A_Cluster_Separation_Measure)) it computes the average of the scores:

![image](https://user-images.githubusercontent.com/11019190/48737903-94ee0b00-ec4f-11e8-8008-7bebb487ed84.png)

So, I'm not sure about what's happening, does the warning about division by 0

[2018-11-19 22:16] jnothman commented on #12614
You're right about random_state. Maybe cv=int is just bad design... :(

 What do you think about a way to warn if cv results have high variance,
@amueller? What criterion might we use? Does it depend on metric?

On Tue, 20 Nov 2018, 2:44 am Andreas Mueller <notifications@github.com
wrote:

[2018-11-19 22:38] GinoWoz1 commented on #10054
Thanks . Also with the custom function ? I did that and put make_scorer in my script (that I imported into)  and it said “_predictor” has no value ‘name’

[2018-11-19 22:58] jnothman commented on #12616
Also consider HashingVectorizer, and CountVectorizer with given vocabulary,
and OneHotEncoder and OrdinalEncoder with given categories...

[2018-11-19 23:01] jnothman commented on #12611
The warning is unrelated to the discrepancy. It is happening in the division

[2018-11-19 23:02] jnothman commented on #12611
Feel free to down-vote the stack overflow answer or up vote my comment there

[2018-11-20 00:43] amueller commented on #12548
I'm tempted to remove the 0.20.1 tags from all the debian issues. It seems they are hard to reproduce and I'm not sure if we want to wait for them. I'm totally fine to do a 0.20.2 with just these issues if we figure them out.

[2018-11-20 00:51] jnothman commented on #12548
Sounds good.

[2018-11-20 00:55] amueller commented on #12614
Variance over the fold? That's an orthogonal question, right? Do you mean for grid-search or plain cross-validation? I feel for plain cross-validation we can expect users to look at it, for grid-search I feel it would create too many warnings to be useful.

[2018-11-20 01:03] jnothman commented on #12614
Seeing as we get all the results back in the main class, there's no need to
raise more than one warning. It is an orthogonal problem, but the idea is
essentially to hint to the user that their results are not stable and they
should consider changing metric or cv. It would aim to improve visibility.

[2018-11-20 01:04] amueller commented on #12614
It seems likely to me that some parameter settings are "bad" and the result will be unstable. But I base this on nothing at all.

[2018-11-20 01:13] amueller commented on #12263
retagging see https://github.com/scikit-learn/scikit-learn/issues/12548#issuecomment-440094569

[2018-11-20 01:13] amueller commented on #12448
retagging see https://github.com/scikit-learn/scikit-learn/issues/12548#issuecomment-440094569

[2018-11-20 01:13] amueller commented on #12548
retagging

[2018-11-20 01:14] amueller commented on #10561
retagging see https://github.com/scikit-learn/scikit-learn/issues/12548#issuecomment-440094569

[2018-11-20 01:16] jnothman commented on #10561
Is this to be solved by #12612?

[2018-11-20 01:37] amueller commented on #10561
@jnothman good question. It might be, but it's not entirely clear I think?

[2018-11-20 01:42] qinhanmin2014 commented on #12616
+1. This can avoid awkward things like #12514 and maybe more user-friendly.

[2018-11-20 04:31] #12586 closed

[2018-11-20 08:42] ruiann commented on #12592
I've got the point of this attribute. For DEEP FIRST splitter, the elements of features in [: known_constant_features] must keep same for sibling node, but don't for child nodes, or when splitter reaches a leaf node and turn back, the elements of features in [: known_constant_features] for the sibling node of the leaf node's ancestor are not constant as they are re-ordered.

[2018-11-20 08:42] #12592 closed

[2018-11-20 08:43] dvaosta opened #12620 "Test set standardization in nested cross-validation"
Hi,
suppose that you are using the classical nested cross-validation approach, where the inner loop is for example a grid search that optimize the parameters of a pipeline, and that pipeline also contains a standardization step.

Now, I know that with this approach the validation set (the test set of the inner cv) is correctly standardized by using the scaler fitted with the training set in the sa

[2018-11-20 08:53] jorisvandenbossche commented on #12339
For historical clarity: based on discussion in the PR https://github.com/scikit-learn/scikit-learn/pull/12396, we decided in the end to do it the other way around as decided on above (so `transformer, columns`).
The reason is mainly due to technical and user-facing complexity to properly deprecate the current order in master for `ColumnTransfomer`, while it will be much easier to limit the change

[2018-11-20 08:56] jnothman commented on #12620
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2018-11-20 08:57] #12620 closed

[2018-11-20 09:14] tomMoral commented on #12263
Could you please run the following on your machine :

[code]

I will try investigating that in the coming days.

[2018-11-20 09:59] readyready15728 opened #12621 "Better error message when passing un-sortable data to the Encoders"
#### Description
scikit-learn's handling of errors where an unexpected / unusable value appears in input leaves something to be desired. Errors are cryptic and confusing.

#### Steps/Code to Reproduce
Example:

[code]

Something similar also happened when I absentmindedly concatenated two CSV files without ensuring only one header appeared at the top of the file and attempted to use `LabelEncoder`

[2018-11-20 13:11] jeremiedbb commented on #9354
Here are some benchmarks for speed comparison between scipy and sklearn. The benchmarks compare `sklearn.metrics.pairwise.euclidean_distances(X,X)` with `scipy.spatial.distance.cdist(X,X)` for Xs of all sizes. Number of samples goes from 2⁴ (16) to 2¹³ (8192), and number of features goes from 2⁰ (1) to 2¹³ (8192).

The value in each cell is the speedup of sklearn vs scipy, i.e. below 1 sklearn is

[2018-11-20 13:44] fx86 commented on #10054
@GinoWoz1 I'm using it like this. How are you using it ?

[code]

[2018-11-20 14:08] Andi144 opened #12622 "TypeError: "iteration over a 0-d array" when trying to preprocessing.scale a pandas.Series"
#### Description

When trying to call `preprocessing.scale` on a `pandas.Series` instance, an error is thrown with scikit-learn version 0.20.0. Version 0.19.1. works just fine. The [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.scale.html) states that the input to `preprocessing.scale` can be "array-like", and [`pandas.Series`](https://pandas.pydata.org/pan

[2018-11-20 14:09] oleksandr-pavlyk commented on #12263
@tomMoral , here it is:

[code]

[2018-11-20 14:56] tomMoral commented on #12263
Ok so the problem is caused by `loky` implementation of wait, which relies on [`winapi.WaitForMultipleObjects`](https://docs.microsoft.com/en-us/windows/desktop/api/synchapi/nf-synchapi-waitformultipleobjects) which cannot wait for more than `MAXIMUM_WAIT_OBJECTS=64` objects.

I opened an issue in the `loky` tracker (tomMoral/loky#192).

But it is still strange that you report `32` cores in your m

[2018-11-20 15:00] oleksandr-pavlyk commented on #12263
Multiprocessign also reports 128:

[code]

[2018-11-20 15:29] ogrisel commented on #12263
So there might be a bug in the way python is introspecting the system to detect the number of processors on this machine.

Actually on python 3, what matters is `os.cpu_count()` for loky / joblib. I don't know if it relies on the same underlying implementation as multiprocessing.

[2018-11-20 15:31] qinhanmin2014 commented on #12622
Minimal script to reproduce:
[code]
Related PR #10949

[2018-11-20 15:33] oleksandr-pavlyk commented on #12263
Yes, ``os.cpu_count()`` also returns 128.

[code]

[2018-11-20 15:35] ogrisel commented on #12263
This might be this bug:

https://bugs.python.org/issue30581

It should be fixed in Python 3.7.1.

[2018-11-20 15:35] oleksandr-pavlyk commented on #12263
Perhaps @anton-malakhov might have an idea for why ``os.cpu_count()`` is returning this value.

My wish, though, is that this does not cause a hang.

[2018-11-20 15:37] ogrisel commented on #12263
Here is the fix for bpo-30581:

https://github.com/python/cpython/pull/2934/files

The hang itself is caused by https://github.com/tomMoral/loky/issues/192 but it would not be caused if python did not report a wrong number of CPUs.

[2018-11-20 15:42] oleksandr-pavlyk commented on #12263
@ogrisel By the way, ``os.cpu_count()`` returns 128 in Python 3.7.1

[code]

[2018-11-20 15:43] amueller commented on #9354
@jeremiedbb great, thank you for the analysis. The conclusion sounds like a great way forward to me.

[2018-11-20 15:44] amueller commented on #9354
Oh, I assume this was all for float64, right? What do we do with float32? upcast always? upcast for >32 features?

[2018-11-20 15:48] amueller commented on #12263
@ogrisel but more cores would still trigger the bug, even with python fixed, right? EC2 has c5.18xlarge with 72 cores for $0.70/h.

[2018-11-20 15:49] amueller commented on #12622
Thanks for reporting. Yeah would be good to get this into 0.20.1, hrm...

[2018-11-20 15:50] qinhanmin2014 commented on #9354
I've not read through the comments carefully (will soon), just FYI that float64 has it limitations, see #12128

[2018-11-20 15:52] qinhanmin2014 commented on #12622
Heading to bed, seems that an easy solution will be:
change
[code]
to something like
[code]

[2018-11-20 15:55] tomMoral commented on #12263
Note that this problem only exists on windows, so big instances are more around 5/10$ per hour.

But this should still be fixed in `loky`.

[2018-11-20 15:57] amueller commented on #12263
@tomMoral fair point ;)

[2018-11-20 16:01] oleksandr-pavlyk commented on #12263
I volunteer to test fixes for free :)

[2018-11-20 16:14] kno10 commented on #9354
@qinhanmin2014 yes, float64 precision has limitations, but it is precise enough for producing reliable fp32 results for all I can tell. The question is at which parameters an upcast to fp64 is actually cheaper than using cdist from scipy.
As seen in above benchmarks, even multi-core BLAS is *not* generally faster. This seems to mostly hold for high dimensional data (over 64 dimensions; before that

[2018-11-20 16:20] amueller commented on #12621
Thanks for the report. Can confirm the same issue in master. It's actually unrelated to missing values. We try hard to give good error messages so your feedback is much appreciated.
If you can reproduce the other issue, please let us know.
Btw, the chance that you need to use a ``LabelEncoder`` is pretty slim (which is not an excuse for bad error messages). If it's actually a label, you don't need

[2018-11-20 16:30] jeremiedbb commented on #9354
Actually it's for both float32 and float64 (I mean very similar). I suggest to always use cdist when n_features < 32.

Upcasting will slowdown by a factor of ~2 so I guess around n_features=64.

But not everyone, so we still need to find a solution for high dimensional data.

[2018-11-20 17:42] GinoWoz1 commented on #10054
Thanks.

Put this in a separate file and import it.

`def` rmse_cv(y_true, y_pred) :
    assert len(y_true) == len(y_pred)
    y_pred = np.exp(y_pred)
    y_true = np.exp(y_true)
    return np.sqrt(mean_squared_error(y_true,y_pred))`

Then run the below...

`from sklearn.model_selection import cross_val_score,RepeatedKFold
from sklearn.linear_model import ElasticNet
from sklearn.preprocessing impo

[2018-11-20 18:05] ogrisel commented on #12263
On a version of Python with the fix for `cpu_count`, this bug in loky can only be triggered with 128 cores or more. It's hard to find a machine like this in 2018.

By that time loky will be fixed hopefully :)

[2018-11-20 18:05] ogrisel commented on #12263
Actually no, you are right, 64 cores is enough. I misread the above conversation.

[2018-11-20 18:52] readyready15728 commented on #12621
Someone on Stack Overflow said that `LabelEncoder` can outperform `OneHotEncoder` when used with XGBoost. I don't know whether or not that is true, but I achieved extreme, nearly 100% accuracy out of sample after using `LabelEncoder` so I think it's safe to assume it didn't get in the way.

[2018-11-20 19:40] jorisvandenbossche commented on #12621
I don't think we "tried" to fix it, but in any case the same error happens both in 0.19 or in 0.20, it's indeed now coming from `uniques = sorted(set(values))`, while before it was coming from sorting in `np.unique`.

So basically, we currently require that the categories are sortable.
Only when you pass the categories manually (in the OneHotEncoder), I think you can overcome that constraint. I am

[2018-11-20 19:41] readyready15728 commented on #12621
A somewhat ugly solution would be better than none at all.

[2018-11-20 19:55] amueller commented on #12621
@readyready15728 LabelEncoder is not an alternative to OneHotEncoder. If you want to encode the features as ordinal, you should use OrdinalEncoder. LabelEncoder is meant for outputs. (OrdinalEncoder is likely to raise the same error right now, though).

@jorisvandenbossche I'm fine with catching it there.

[2018-11-20 21:01] rth commented on #9354
Very nice analysis @jeremiedbb !

For low dimensional data it would definitely make sense to use cdist then.

Also, FYI scipy's cdist upcasts float32 to float64 https://github.com/scipy/scipy/issues/8771#issuecomment-384015674, I'm not sure if this is due to accuracy issues or something else.

Overall, I think it could make sense to add the "algorithm" parameter to `euclidean_distance` as suggeste

[2018-11-20 22:17] readyready15728 commented on #12621
I added what you said about `OrdinalEncoder` to a comment thread on Stack Overflow and hopefully some people will see it. It really is surprising how often it's recommended to use `LabelEncoder`; the material on DataCamp does the very same thing.

[2018-11-20 22:19] amueller commented on #12621
That's because we took too long to fix it, it's only really working in 0.20 iirc.

[2018-11-20 22:23] #12622 closed

[2018-11-20 23:56] jnothman opened #12628 "pairwise_distances(X) should always have 0 diagonal"
In the case of euclidean distances, we explicitly set the diagonal of unary pairwise distances to 0: https://github.com/scikit-learn/scikit-learn/blob/e170d479acff31aadd9d2ab404952b23f7994aab/sklearn/metrics/pairwise.py#L257 as well as in pairwise_distances_chunked: https://github.com/scikit-learn/scikit-learn/blob/e170d479acff31aadd9d2ab404952b23f7994aab/sklearn/metrics/pairwise.py#L1279. We also

[2018-11-21 00:35] jnothman opened #12630 "CircleCI Python3 failing on master"
We're getting the following during sphinx-build:
[code]
I'm guessing this will go away if we clear Circle's cache, but I can't see a UI widget for that and haven't worked out how to do it otherwise yet.

[2018-11-21 02:39] amueller commented on #12622
Wow I think this must have been our quickest turn-around for a user-reported bug so far ;)

[2018-11-21 03:07] #12339 closed

[2018-11-21 07:41] cottrell commented on #12570
If it is not obvious where the bug is to you, it is definitely not worth spending time on. I just thought there was a switch missing to do the to_dense conversion without erroring. It is slightly inconsistent to have this error, and someone who hits this needs to figure out to convert to dense, in this one case. sparse y would be very skewed data I guess.

[2018-11-21 08:03] nnb95baddi opened #12631 "SGDClassifier and SGDRegressor documentation."
Found two issues while going through the docs of SGDClassifier/SGDRegressor:
1. The last line in the following:

seems incomplete.

2. According to the docs, the attribute **_tol_** is used in two scenarios, one for early stopping when the loss on the validation data set aside, does not decrease by at least **_tol_** for 5 (default) iterations. And the other, when the loss on the training set does

[2018-11-21 08:18] PhilipMay opened #12632 "Feature Discussion: FeatureUnion with axis choosing"
Hi,
I am using `FeatureUnion` for a transformation Pipeline.
`FeatureUnion` is always using `np.hstack` to concatenate the results. See here:
https://github.com/scikit-learn/scikit-learn/blob/bac89c2/sklearn/pipeline.py#L829

I would like to discuss the following idear:
What about using `numpy.concatenate` and let the user choose the axis with a maybe optional parameter?
What do you think about th

[2018-11-21 08:31] jnothman commented on #12632
I doubt this will fly. Scikit-learn focuses on rectangular data. Stacking
on axis 0 makes no sense in this context. In what context do you need to
stack on another axis?

[2018-11-21 08:36] jnothman commented on #12631
I don't think that line is incomplete.

There might be some confusion in the documentation about direction of
change in loss. Can you point more precisely to the place in the docs?

[2018-11-21 08:51] PhilipMay commented on #12632
Hi @jnothman - thanks for the quick answer.

I have time series data of the following shape for the encoder: (2000, 12, 10)
- axis 0: datasets for different "things"
- axis 1: months (12 months here)
- axis 2: data

Now I want to create and add a one hot encoding for the month of the year and want to add this to axis 2.
This way the shape would look like:  (2000, 12, 10+12) =  (2000, 12, 22)

I wa

[2018-11-21 08:55] PhilipMay commented on #12632
This feature might not be added to `FeatureUnion`. We also could create a new class for this. `FeatureUnionOnAxis` or something like that.

[2018-11-21 09:04] lesteve commented on #12630
IIRC the only way in Circle v2 is to change the cache keys. I'll try to find the doc for this.

[2018-11-21 09:09] qinhanmin2014 commented on #12630
@lesteve FYI Maybe you can first solve the failure in #12383 (the error message is different from master) since it's blocking the release.

[2018-11-21 09:09] lesteve commented on #12630
OK I'll take a look at #12383.

FYI about Circle v2 cache clearing: https://circleci.com/docs/2.0/caching/#clearing-cache

[2018-11-21 09:12] qinhanmin2014 commented on #12630
FYI for the master failure, seems that it always happens at the same place.
For the failure in #12383, I restarted the jobs and got the same error (different from master).

[2018-11-21 09:21] nnb95baddi commented on #12631
Oops! Now I get what the docs were trying to say for (1). In (2), I have mistyped increase instead of decrease. I mean to say, is **_tol_** used for early stopping with respect to both validation set (when **_early_stopping_=True**) and training set.

[2018-11-21 09:43] #12631 closed

[2018-11-21 09:43] jnothman commented on #12631
Yes.

[2018-11-21 10:02] PhilipMay commented on #12632
Something like this (see below).
This does not yet consider sparse arrays. Bit that could be added.

[code]

[2018-11-21 10:35] jnothman commented on #12632
I'm fairly confident that this will remain out of scope for the main Scikit-learn project. Which does not stop you making it available for people with similar data to use. If you know the size of the second dimension you can always represent that data as 2d in any case; the problem is that the rest of our library simply won't work with non-2d data.

[2018-11-21 11:13] PhilipMay commented on #12632
Well ok. Thanks @jnothman .
Just out of curiosity: Are there other maybe more extensive python tools with this pipeline functionality you know of? Just to build preprocessing pipelines...
Thanks
Philip

[2018-11-21 12:21] eamanu commented on #12628
And should be delete the  `distances.flat[::distances.shape[0] + 1] = 0.0 ` for euclidean_distances right?

I want to work on this

[2018-11-21 12:39] jeremiedbb commented on #12628
I don't think so because you can use `euclidean_distances` instead of `pairwise_distances` and you still want 0s on the diagonal in that case.

Btw, `np.fill_diagonal(array, 0)` does the job and is more readable :)

[2018-11-21 12:42] eamanu commented on #12628
So, the change must be added on the `pairwise_distances()` and whole metrics distances.

[2018-11-21 12:45] jeremiedbb commented on #12628
Yes. However we rely on scipy's one for many of them, which are already consistent, so there shouldn't be too many to update

[2018-11-21 13:57] lesteve commented on #12630
Note I have tried to change the cache keys and rebuild and that did not solve the problems. Unless I am wrong the only thing we are using the CircleCI cache is for the datasets so I don't think this could really explain the segfaults.

I opened #12636 which is trying to work around the problem by using conda-forge.

[2018-11-21 14:01] amueller commented on #12630
I feel at this point we should open issues on numpy and anaconda just to check if it looks familiar to anyone.

[2018-11-21 14:44] jeremiedbb commented on #12628
@jnothman Actually there are tests in sklearn to test that metrics with `metric(x,x) != 0` are allowed (which are not metrics then btw). For example `test_pairwise_callable_nonstrict_metric()`.

I wonder why these kind of "metrics" are allowed. But if we want to keep that, we have to either add a parameter `allow_non_metric` to `pairwise_distances`, or make a new function `pairwise_whatever_not_a_

[2018-11-21 15:32] ogrisel commented on #12630
Interesting, so it's maybe the correlated downward trend in the stock exchange that is causing a conditioning issue in the covariance matrix estimation problem. The stockexchange crash is causing a BLAS crash.

[2018-11-21 15:43] amueller commented on #12630
the graphical lasso is catching all kinds of numeric warnings and throwing around nans everywhere, in this specific case it doesn't bail early enough to avoid some computation of nans. I made a hotfix that makes it bail earlier (it's gonna bail anyway).

[2018-11-21 16:08] SylvainLan opened #12638 "Warning when optimized value for GP's kernel hits bound"
Hi,
in `sklearn.gaussian_process`, the parameters `alpha` and `length_scale` of the given kernel are optimized given a specific range of values.

It can happen that the best parameter is outside this range.

The fact that the returned parameter matches the upper or lower bound of the range can be an indicator of such an issue, and therefore I was wondering if it could be of interest to raise a War

[2018-11-21 16:48] amueller commented on #12632
pipegraph and nimbusml both are more flexible.

But there's no reason why you can't use scikit-learn's pipeline for this with your own transformer. Looks like you implemented it already. The pipeline is completely agnostic in terms of dimensionality of the data. The issue is more with cross-validation.
If you think it's more widely useful you can publish your implementation yourself, like many oth

[2018-11-21 17:48] xoelop commented on #9553
Just for the record, I was curious wether taking the median of the results of each individual tree in a Random Forest would get us a better prediction than taking the mean. It kinda made sense that it woud be better, but it wasn't.

Here are some results. A scatterplot comparing the predictions taken as the mean of each tree output, taken as the median and the actual value, VS the actual value. No

[2018-11-21 19:52] mcgibbon commented on #9553
This is expected because when using the mean, the L2 norm is optimized
(mean squared error) whereas when using the median, the L1 norm (mean
absolute error) is optimized. When you take the log, R2 will depend on the
absolute error.

On Wed, Nov 21, 2018, 12:49 PM Xoel Lopez Barata <notifications@github.com
wrote:

[2018-11-21 20:04] readyready15728 opened #12640 "Better error message needed when accidentally supplying scalar value to parameter tuning classes"
#### Description
As with issue #12621, the hyperparameter optimizers are not very helpful when one (for example) supplies a string as an element in the supplied `param_grid`.

#### Steps/Code to Reproduce
Here's what did it for me

[code]

#### Expected Results
Something along the lines of: "Scalar value supplied in `param_grid` needs to be wrapped in a list or array of one element."

It doesn't s

[2018-11-21 20:29] readyready15728 commented on #12640
I don't know what other term to use tbh

[2018-11-21 20:33] PhilipMay commented on #12632
@amueller pipegraph is exactly what I was looking for. Thanks.

[2018-11-21 21:05] amueller commented on #12640
I mean I used "single value", not sure if that would be clear to you?

[2018-11-21 21:13] readyready15728 commented on #12640
Oh OK yes. That works I guess. (FWIW I am a native English speaker so language is not an impediment.)

What I was thinking about in the shower though is doing an if-else block where typical suspects are used to try to choose a term and on the last else clause the default is "single value" or "single object".

[code]

That might be a little ungainly though.

[2018-11-21 21:15] readyready15728 commented on #12640
Again I also suggested automatic wrapping of scalars and I think that's even better but it's your call.

[2018-11-21 21:18] amueller commented on #12640
We could make a separate message for string and otherwise use "single item of type {}".format(type).
Automatic wrapping? you mean making them a list?
I thought about that and I wonder if there's weird edge-cases when that's not good. I guess if someone changes a single value to something that's supposed to be a singleton but the type is
[code]
and value used to be scalar but then becomes a list, t

[2018-11-21 22:50] jnothman commented on #12628
I'm proposing that we stop supporting them, but it would be worth tracing
the history of that test to work out if it was well motivated

[2018-11-21 22:54] jnothman commented on #12638
I like this idea. What risk is there of false positives?

[2018-11-22 01:21] amueller commented on #12640
Basically I would like to support passing scalars but I'm worried that there are cases when that will make the behavior harder to understand and result in hard-to-debug behavior. But we should fix the message anyway.

[2018-11-22 03:03] ruiann opened #12642 "What should I do with a temp np ndarray created in the cython PyObject in __dealloc__"
#### Description

I'm trying to change some code and have to create a np.ndarray in a cython class
[code]

I havn't seen an similar example in source code of sklearn, and found nothing in numpy or cython doc. I know if I use malloc to create a DTYPE_t* pointer, it's easy to work,  I  just wanna know that whether should I free the self.X_fake, or how can I dealloc the temp ndarray, will cython deal

[2018-11-22 03:11] amueller opened #12643 "joblib deprecation warnigns in 0.20.1 on python2.7"
#12172 results in deprecated API being used on python2.7 here:
https://github.com/scikit-learn/scikit-learn/pull/12172/files#diff-3d65710180ff5cb7d9ffb176e1ad721aR433
cc @jnothman @tomMoral

The warning is
[code]

[2018-11-22 03:11] jnothman opened #12644 "test_k_means_fit_predict failing on some MacPython runs"
KMeans `fit_predict(X) != fit(X).predict(X)` in several cases in

https://travis-ci.org/MacPython/scikit-learn-wheels/jobs/458223437
https://travis-ci.org/MacPython/scikit-learn-wheels/jobs/458223439

[code]

[2018-11-22 03:14] jnothman commented on #12643
Is hiding the warning an option?

[2018-11-22 03:18] amueller commented on #12643
or just changing the if not to pass the option on new joblib, which will probably be less code?

[2018-11-22 03:18] qinhanmin2014 commented on #12644
Use v_measure_score?

[2018-11-22 03:50] amueller commented on #12642
not a scikit-learn issue. You could ask on stackoverflow.

[2018-11-22 03:50] #12642 closed

[2018-11-22 03:54] jnothman commented on #12644
Does this basically mean that there are some ties during fitting that are being broken non-deterministically??

[2018-11-22 04:30] jnothman commented on #12644
I'm okay using a score, if that's not breaking the intention of the test.

[2018-11-22 07:39] SylvainLan commented on #12638
You mean if the global optimal value is indeed the upper/lower bound ? I'd say the risk is low but in any case redoing a fit would tell if this was indeed the best parameter or not.

The problem I see is in degenerated cases where for some reason the optimal value is 0 or +inf, I don't know if such a case could happen with ill-conditioned matrices.

[2018-11-22 08:05] jeremiedbb commented on #12644
It appears that the labels are correct in both fit.predict and fit_predict, but somehow permuted, even with a fixed random_state.

I think the issue comes from `n_init`. K_means is run 10 times on 10 different seeds. However the problem is relatively simple and among these 10 k_means, it may be that two or more gave the same best inertia, with permuted labels.

Because they are run in parallel usi

[2018-11-22 08:18] ogrisel commented on #12644
I don't think this is the case: there is an explicit `n_jobs=1`.

But it's worth trying to set `n_init=1` to see if the problem is related to inits that yields exactly the same solution up to a permutation.

[2018-11-22 08:33] qinhanmin2014 commented on #12644
+1 to skip (maybe on specific platform?), though maybe I'd prefer things like v_measure_score (or n_init=1 if it works). I'll be surprised if the test still fails after using v_measure_score.

[2018-11-22 08:35] ogrisel commented on #12644
+1 to skip just on macOS.

[2018-11-22 08:35] ogrisel commented on #12644
It seems v_measure_score would also work but my point is not to delay the release for the correct resolution of this test.

[2018-11-22 08:36] #12643 closed

[2018-11-22 10:15] jeremiedbb commented on #12644
I missed that... Another confirmation it's not this is that the test only fail with `algorithm="full"` if I saw correctly.

The difference between "full" and "elkan" which can cause this issue is that "full" uses the fast method to compute euclidean distances, the one with the precision issue. The inertia returned by the current implementation of k-means can strongly differ from the exact inertia.

[2018-11-22 13:15] adrinjalali opened #12649 "`plot_johnson_lindenstrauss_bound.py` projects a 64 dim data into 300, 1000, and 10000"
Trying to fix warnings in our examples, not sure what to do with this one:

`examples/plot_johnson_lindenstrauss_bound.py` projects the data which has 64 features into a 300, 1000, and 10000 dimensional space, which results in the following warning:

[code]

Which one should we do?
1. Ignore the warning (`warnings.filterwarnings`)
2. Use a sample data with higher dimensions
3. Project into lower d

[2018-11-22 14:16] lesteve commented on #12630
This can be closed thanks to #12637.

[2018-11-22 14:16] #12630 closed

[2018-11-22 14:53] adrinjalali opened #12650 "`SparseCoder` doesn't expose `max_iter` for `Lasso`"
`SparseCoder` uses `Lasso` if the algorithm is set to `lasso_cd`. It sets some of the `Lasso`'s parameters, but not `max_iter`, and that by default is 1000. This results in a warning in `examples/decomposition/plot_sparse_coding.py` complaining that the estimator has not converged.

I guess there should be a way for the user to specify other parameters of the estimator used in `SparseCoder` other

[2018-11-22 15:29] TomDLT commented on #12617
Cool, go ahead !

[2018-11-22 15:48] amueller opened #12652 "Warnings in common tests about set_params"
There's a bunch of "ValueError occurred during set_params.", introduced in #7760. This doesn't look good imho because it probably means we're violating AP somewhere. We should investigate.

[2018-11-22 15:53] eamanu commented on #7936
@amueller I was just to open the same issue. I think that is necessary have a requirements.txt on the project root. Several projects have this file. I think that this help to developers  to make a quickly environment setup and installation.

[2018-11-22 16:45] amueller commented on #7936
@eamanu please elaborate. You can do ``pip install -e .`` to do setup and installation.

[2018-11-22 17:40] eamanu commented on #7936
@amueller Sorry, I don't understood you. Do you say me that create the requirements.txt  file?

[2018-11-22 17:40] amueller commented on #7936
no it installs all the requirements. Why do you want a requirements file.

[2018-11-22 17:47] eamanu commented on #7936
Oh! Sorry! I was confused. I didn't know the `-e` parameters. Thanks!

[2018-11-22 17:50] amueller commented on #7936
that actually stands for editable and has nothing to do with requirements.

[2018-11-22 19:38] eliasmistler commented on #4143
Very good point - works like a charm. Also gave me the idea to write a
wrapper class for classifiers which takes a classifier and a downsampling
function to be applied to the dataset before delegating `fit`

On Mon, 19 Nov 2018, 17:51 Andreas Mueller <notifications@github.com wrote:

[2018-11-23 03:08] yahya-sabahi opened #12657 "extract non-overlapping patches from an image"
I am trying to extract non-overlapping patches

[code]

but the problem `image.extract_patches_2d` is for overlapping patches. Is there another code I can use to extract non-overlapping patches?

Thanks in advance

[2018-11-23 04:10] qinhanmin2014 opened #12658 "Run tests on MacOS"
When releasing 0.20.0 and 0.20.1, we encountered unexpected failures on MacOS, so maybe we should run tests on MacOS here.
Comments from @ogrisel :
To avoid this in the future we should run macOS tests on master. It used to be the case that travis macOS workers would tend to be saturated for a significant fraction of the time with a large backlog of pending jobs. However this does not seem to have

[2018-11-23 06:19] 1313e opened #12660 "Installing/building scikit-learn requires NumPy since v0.20.1"
My problem is really simple: Executing `pip install scikit-learn` will fail if NumPy is currently not installed.
This is causing all my builds on Travis CI to fail.

The error I get starts off with
[code]
after which it starts pointing out lots of errors in the CBLAS configuration and ultimately cut off the entire package installation process.

This morning, I was not getting this problem, probabl

[2018-11-23 07:03] rth commented on #12657
See https://stackoverflow.com/a/16858283/1791279

It is unlikely that we'll add such functionality to scikit-learn because it is fairly specific to image processing which is out of scope for scikit-learn.

[2018-11-23 07:03] #12657 closed

[2018-11-23 08:02] rth commented on #12660
Binary wheels are now uploaded for 0.20.1, please comment if you still experience issues.

[2018-11-23 08:02] #12660 closed

[2018-11-23 08:42] fx86 commented on #10054
@GinoWoz1 This  seems to be working okay for me. I'm on the following versions -

`Python 3.6.0 :: Continuum Analytics, Inc.

scikit-image==0.13.1

scikit-learn==0.20.0`

[2018-11-23 09:11] ogrisel commented on #12649
We could decide the twenty news groups dataset by default. It requires a data fetch this is why it's not enabled by default. However there are many other examples that already use this dataset so +1 for using 20 newsgroups by default in this example. We change the handling of the command line flags to use the digits dataset only if the users pass the `---use-digits-dataset` flag. The docstring wil

[2018-11-23 09:20] GaelVaroquaux commented on #9729
I am willing to reconsider my opinion if what we are doing is
significantly different from what other packages are doing.

[2018-11-23 09:46] lxx74n74n opened #12662 "LDA covariance shrinkage 'auto' bug"
#### Description

The current implementation of shrinkage 'auto' is to calculate ledoit-wolf shrinkage factor separately for each matrix.

The within-class covariance matrices are calculated with different shrinkage factors, then summed together to be S_w. Because shrinkage factor depends largely on sample size, the shrinkage factor of every within-class covariance matrix will be much larger than

[2018-11-23 11:06] giuseppec commented on #8898
Just one addition: Recently, a model-agnostic variant of Breiman's permutation importance was described here https://arxiv.org/abs/1801.01489 . There, it is called model reliance (or algorithm reliance if you embed the procedure within cross-validation, but this would requrire refitting). It measure the global feature importance (drop in performance) on a global level (i.e., it gives you a single

[2018-11-23 11:43] adrinjalali commented on #12377
@qinhanmin2014 I've change the `sphinx-gallery`'s configuration to ignore those warnings in #12654.

[2018-11-23 13:47] KNizaev commented on #8614
So what? is there any solution to use GridSearch to tune the best threshold?
In the current implementation, I use cv in score function to find best th_ for all folds, after that calc average score for fold with that th_. It`s extremely uncomfortable and breaks the structural logic of sklearn.

[2018-11-23 20:53] PhilipMay commented on #12632
Well, now I had a closer look on pipegraph and it seems to work with pandas. But I need something that is doing this "fork" and "concatenate" thing even with 3d numpy arrays. Is there sometjing like this? I like the "wiring" idear of pipegraph.

[2018-11-24 22:45] iamasad commented on #9952
[code]
TypeError                                 Traceback (most recent call last)
<ipython-input-67-43391f960e85> in <module>
      1 dot_data = StringIO()
      2 export_graphviz(dtree, out_file=dot_data,feature_names=features,filled=True,rounded=True)
----> 3 graph = pydot.graph_from_dot_data(dot_data.getvalue())[0]
      4 Image(graph.create_png())

TypeError: 'Dot' object does not support ind

[2018-11-25 20:12] agramfort commented on #12662
can you point to the line that is suspicious?

[2018-11-25 21:48] jnothman commented on #12638
Submit a pull request and we will see what others think

[2018-11-25 21:59] jnothman commented on #12650
Are you thinking a lasso_kwargs parameter?

[2018-11-26 07:35] Khalees2 commented on #7251
Hello Everyone,

I am trying to get the counter vector for a Chinese text and came across this site. I am completely new to this python programming and Github as well. I have two queries. Please let me know if anyone could help me.
1. What is "text" in the line:
vectorizer = CountVectorizer(tokenizer=lambda text: segmenter.segment(text).split())

2. I am trying to get the counter vector for a few

[2018-11-26 07:50] jnothman commented on #8614
KNizaev by current implementation do you mean this pull request? Have you
tried finding an implementation which does this outside core scikit-learn?

[2018-11-26 10:08] jnothman opened #12670 "test_shuffle_kfold_stratifiedkfold_reproducibility can fail randomly"
The test failure in https://travis-ci.org/scikit-learn/scikit-learn/jobs/459659290 is because the `test_shuffle_kfold_stratifiedkfold_reproducibility` test seems to assume that two shuffles of some data must be very distinct.

While the point is to test the behaviour where random_state=None, we should probably make it harder for this test to fail, for instance by checking that at least some test s

[2018-11-26 10:10] jnothman commented on #12670
Setting the global numpy random state at the start of the test may also be an option

[2018-11-26 10:11] anntzer opened #12671 "Building from 0.20.1 source distribution on Py3.7 fails because it includes C files generated with old Cython"
#### Description
Building from 0.20.1 source distribution on Py3.7 fails because it includes C files generated with old Cython.

#### Steps/Code to Reproduce
In a clean Py3.7 venv, install numpy, scipy, and cython (e.g. 1.15.4, 1.1.0, and 0.29.1, i.e. latest as of now), then
[code]

Essentially, this is due to the sdist on PyPI (scikit-learn-0.20.1.tar.gz) containing C-files generated by Cython 0.

[2018-11-26 11:46] mcorella-geoblink opened #12672 "KNeighborsRegressor gives different results for different n_jobs values"
#### Description

When using 'seuclidean' distance metric, the algorithm produces different predictions for different values of the n_jobs parameter if no V is passed as additional metric_params. This implies that if configured with n_jobs=-1 two different machines show different results depending on the number of cores. The same happens for 'mahalanobis' distance metric if no V and VI are passed

[2018-11-26 13:35] KNizaev commented on #8614
No, I mean my temporary implementation) Actually, I don`t know how to do it right.
In cv I do :
* bind predict_proba for all folds => y_prob vector
* get the list of possible thresholds from sklearn.metrics.roc_curve on y_prob
* brute force to get the one "th_" that maximize score of y_prob after threshold applied
* then use that "th_" to calculate the score of every fold

The problem, that every

[2018-11-26 13:56] anntzer commented on #12671
Again, my (strictly personal) suggestion is to not include cython-generated files in the sdist, and avoid the whole problem.

[2018-11-26 15:42] amueller opened #12675 "Use working_memory in mlp.predict_proba etc"
Running predict with lots of data can blow up the ram, even on tiny models.
See https://github.com/amueller/introduction_to_ml_with_python/issues/67

It might be nice to use ``working_memory`` to restrict the size of batches used during prediction.

[2018-11-26 15:55] Khalees2 commented on #7251
I used the same code but I am getting an error in X = vectorizer.fit_transform(corpus)

TypeError: argument of type 'NoneType' is not iterable

[2018-11-26 19:13] h6197627 opened #12676 "test_omp_cv fails with MKL and AVX-512"
In newly released scikit-learn 0.20.1 (and actually in 0.20.0) **test_omp_cv** case fails during running test suite. Any help appreciated!

[code]

#### Versions
System:
    python: 3.6.7 (default, Oct 22 2018, 11:32:17)  [GCC 8.2.0]
executable: /usr/bin/python3
   machine: Linux-4.15.0-39-generic-x86_64-with-Ubuntu-18.04-bionic

BLAS:
    macros: SCIPY_MKL_H=None, HAVE_CBLAS=None
  lib_dirs: /opt

[2018-11-26 19:19] amueller commented on #12671
@anntzer I think that would probably open a new can of worms. Cython makes backward-incompatible changes frequently, so if you're using newer cython it'll break on old versions.

[2018-11-26 19:48] rth commented on #12671
I also run into a similar issue recently with scipy when trying to build an older scipy on Py37 which came with C files generated by an older Cython. Had to use it from a git tag on Github instead.

In general though not Cythonizing  .tar.gz on PyPi means that Cython needs to be an explicit dependency, that moreover cannot be handled with the usual setuptools mechanism. I also think it would creat

[2018-11-26 20:19] sam-s opened #12678 "RFE: mode flexible scoring strategy for cross_validate"
[Using multiple metric evaluation](https://scikit-learn.org/stable/modules/model_evaluation.html#multimetric-scoring) has the following example:
[code]
This means that [`confusion_matrix`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html) will be called ***4*** times for each [`cross_validate`](https://scikit-learn.org/stable/modules/generated/sklearn.model_s

[2018-11-26 20:40] anntzer commented on #12671
It's really not that hard to make setuptools cooperate, see e.g. https://www.ocf.berkeley.edu/~antonyl/code-recipes.html#setup-time-dependencies-in-setup-py (and then you can even pin a version of Cython as setup_requires if you want).

[2018-11-26 20:43] amueller commented on #12671
@anntzer it might be that the tooling improved since we tried last time. We're using numpy distutils though, I'm not sure how nicely this place with that.

I'd be happy to revisit that if the setup.py is not too complex. We traditionally were also somewhat averse to dependencies, but I don't think there's very good reasons for that tbh.

[2018-11-26 20:51] h6197627 commented on #12676
Yes, I ran it ~5 times with the same failure

[2018-11-26 21:30] jnothman commented on #12650
Then just fixing it to pass to LassoLars seems sensible

[2018-11-26 21:49] jnothman commented on #12676
Do you get the same in 0.19?

[2018-11-26 22:02] h6197627 commented on #12676
Well, I tried, but I guess testing infrastructure was changed between 0.19 and 0.20 as I was unsuccessful to run tests for 0.19.

[2018-11-26 22:02] jnothman opened #12680 "False alarm NotFittedError in transform for legacy OneHotEncoder"
Reported by @arnau126 at https://github.com/scikit-learn/scikit-learn/pull/12443#issuecomment-441591437:

I'm surprised we don't already have tests for this case. @arnau126, please submit a minimal verifiable example, or just a test case by which we can confirm the error and your fix. Or submit a pull request with your fix and a test.

[2018-11-26 22:03] jnothman commented on #12640
Would you like to submit a pull request improving the error message?

[2018-11-26 22:21] jnothman commented on #12672
Indeed... if parameters are data-derived (unlike, say, p), then we should
make them required, or have a way to precompute them. (Do metrics need a
fit method??)

[2018-11-26 22:21] jnothman commented on #12672
(And: nice investigative work, @jeremiedbb!)

[2018-11-26 22:37] jnothman commented on #7251
Please don't discuss usage questions here. Use a resource like stack
overflow. This issue tracker is for development of scikit-learn

[2018-11-26 22:39] jnothman commented on #12678
This is near enough to a duplicate of #10802 . Similar solutions are suggested there. Let's continue the discussion there

[2018-11-26 22:39] #12678 closed

[2018-11-26 22:57] sam-s commented on #12678
Yeah, I thought that they were similar, but I wanted to emphasize my unique need ;-)

[2018-11-27 07:03] yurivict opened #12681 "[regression] --record {plist} records a directory"
The ```--record {plist}``` command shouldn't record directories, but it did:
[code]

As a result, the FreeBSD port fails now:
[code]

[2018-11-27 11:47] h6197627 commented on #12676
OK, after downgrading PyTest to 3.10.1 I was able to run 0.19.2 test suite. I ran it twice
test_omp_cv is not failing
But there are 2 other failures:
[code]

[2018-11-27 11:54] KNizaev commented on #8614
What do you mean? th_ range for #6663 solution or what?  Could you write more concretely what steps do you propose?
GridSearch should tune threshold and others hyperparams(hp) simultaneously, in general roc_curve depends on estimator`s hp, so I need roc_curves for each fold for all combinations of hp.

[2018-11-27 12:56] arnau126 commented on #12680
Months ago I fitted a OneHotEncoder in scikit-learn==0.19.1 and I stored the object in a pickle.
Last week I updated scikit-learn to 0.20.0, and I wanted to keep using the pickled object.
I cannot refit it because I don't have the original data.

So I manually adapted the object by doing:
[code]
(I didn't set `categories_` attribute because I saw that `_legacy_transform` didn't use it)

This patch

[2018-11-27 13:13] jnothman commented on #12680
So you're saying this applies to an encoder unpickled from 0.19? We don't claim to support that, unfortunately...

[2018-11-27 13:54] arnau126 commented on #12680
Okay. Thanks anyway.

[2018-11-27 14:10] anntzer commented on #12671
I would guess the solution I linked to above also works with numpy.distutils, but I haven't tried.

[2018-11-27 17:05] KOLANICH opened #12684 "Save target column name into the Bunch for fetch_openml"
Currently there are 2 options:
* get all the columns, but without knowledge which one is the target one
* get 2 columns splitted, again without knowledge of target column name.

[2018-11-27 17:33] amueller commented on #11819
Btw this means we can't load titanic :-/

[2018-11-27 17:34] amueller commented on #12684
Duplicate of #12392 maybe?
Adding it only to ``fetch_openml`` is more well-defined imho and so I would be ok with doing that.
We will hopefully also soon be able to return dataframes from fetch_openml, see #11818.

[2018-11-27 17:38] amueller commented on #12433
I agree, we should be able to fetch titanic. I was a bit disappointed when I realized we're still doing a pandas read_csv to my github repo in an example.

[2018-11-27 17:39] amueller commented on #11819
I think adding a boolean option to ignore strings as a quick fix would be good.

[2018-11-27 17:48] amueller opened #12685 "test_pdist_bool_metrics[jaccard] fails on scipy-dev cron job"
https://travis-ci.org/scikit-learn/scikit-learn/builds/460200925?utm_source=github_status&utm_

Maybe this is related:
https://github.com/scipy/scipy/commit/1e563eaca5f7091082eb2ceb9ecc72db0f162658#diff-8ccd60f57f18763fe1d5c56097b49dec

[2018-11-27 18:39] amueller commented on #12680
So close? I'm pretty sure ``legacy_mode`` is tested so I don't see how this could happen (not saying it couldn't).

[2018-11-27 18:42] amueller commented on #12681
Can you please give some more context? what's the command?

[2018-11-27 18:44] amueller commented on #12681
I guess the context is here:
https://github.com/sfepy/sfepy/issues/455#issuecomment-392122985

Given that the only google hit is you asking a simliar question on a different package and the people there not knowing the context means that maybe you could report with a bit more context ;)

[2018-11-27 18:44] KOLANICH commented on #12684
Not quite a duplicate, but a subissue.

[2018-11-27 18:45] amueller commented on #12684
I agree. This one is easy to fix and I think we should.

[2018-11-27 18:46] amueller commented on #12681
Can't reproduce on ubuntu.

[2018-11-27 18:52] yurivict commented on #12681
The element ending with ```sklearn/datasets/tests/data/openml``` appears in the plist, but isn't supposed to.

[2018-11-27 18:53] amueller commented on #12640
@jnothman we could try wrap everything that we can't identify as a list but I agree it's fragile and we shouldn't try it ;)

[2018-11-27 18:54] yurivict commented on #12681
FreeBSD seems to be the only system using this standard python feature, so many people don't know about it.

[2018-11-27 18:54] amueller commented on #12681
yeah, looks like it. But the record generated on linux also doesn't contain that file.

[2018-11-27 18:56] KOLANICH commented on #11818
Some datasets have binary and numerical features incorrectly marked as categorical, so we need not to rely on the metadata, but heuristically convert the stuff, I just call `set` and if the `len(...)` is 2, than it should be `bool`, then `pds.loc[fn] = (pds.loc[fn] == cat[1])`.

[2018-11-27 19:34] arnau126 commented on #12680
This happens when in 0.20.1 you unpickle a OneHotEncoder from 0.19.1.

The unpickled encoder is fitted, but a NotFittedError is raised because of the `check_is_fitted(self, 'categories_')`. If I remove this check, the encoder works correctly as `legacy_mode` doesn't use `categories_`.

Hope my explanation is understood. However I understand that you don't claim to support that.

[2018-11-27 19:48] amueller commented on #12680
Yeah, sorry, I don't think we want to try to support that as it opens a giant can of worms.

[2018-11-27 19:48] #12680 closed

[2018-11-27 19:49] amueller commented on #11818
We shouldn't be using heuristics here. What if the two values are ``"2.7" and "3.4"`` as strings. Your heuristic would make them boolean, but they might be floats. It's impossible to know without metadata. Scikit-learn tries not to be too magic (which means it sometimes requires the user to be very explicit).

[2018-11-27 20:07] KOLANICH commented on #11818
It is better to process them as binaries in this case, rather than floats, isn't it?

[2018-11-27 20:17] amueller commented on #11818
Why? How would you know that? That depends entirely on the semantics of the data and your model, right? What if the test set has 3.5? is that a different category or just a bit larger than 3.4?

[2018-11-27 20:17] #12670 closed

[2018-11-27 20:35] KOLANICH commented on #11818
We don't get test sets separately, we get whole datasets and split them ourselves. We decide basing on all the data.

And there is no difference between `0` and `1` and `2.7+0*0.7` and `3.4+1*0.7`, any sensible model would have captured this.

[2018-11-27 20:48] amueller commented on #11818
This is not a good assumption for machine learning and not the concepts scikit-learn is based on.

[2018-11-27 20:50] KOLANICH commented on #11818
We are currently speaking not about ML in general, but about fetching datasets from openml.

[2018-11-27 20:50] amueller commented on #11818
Fair.

But what if the dataset has three values? Then you don't do it? That's pretty unexpected behavior.

[2018-11-27 20:53] amueller commented on #11818
Btw, #12502 is somewhat related.

[2018-11-27 20:55] amueller commented on #8614
@KNizaev this is not a forum for usage questions or how to implement something. Try stackoverflow.

[2018-11-27 21:00] KOLANICH commented on #11818
Yes. But why should I be surprised? The whole point of having machine-readable datasets is to apply models to them without any human intervention, so I shouldn't even know that something have changed, my framework will do the preprocessing for me.

[2018-11-27 21:06] amueller commented on #11818
You're suggesting to actually discard the machine-readable information, i.e. the meta-data.

[2018-11-27 21:35] KOLANICH commented on #11818
misinformation

[2018-11-28 01:21] #12580 closed

[2018-11-28 01:25] qinhanmin2014 opened #12686 "Deprecate assert_true and assert_false"
We've replaced all assert_true and assert_false with assert to get better error message from pytest. Maybe we can deprecate these two functions (to keep contributors from using these two functions).

[2018-11-28 03:13] sunjiaxin111 opened #12687 "about the GradientBoostingClassifier"
when i use GradientBoostingClassifier,i want to know every sample fall in which leaf node in every tree,how can i do, i can't find the related api

[2018-11-28 07:38] rth commented on #12686
I think it would be a good idea.

Generally, for something like this, it would have been good to have a custom linter (that checks that `assert_{true,false}` is not present in the code diff) but I haven't found a simple way to do that yet..

[2018-11-28 07:59] jwkvam commented on #12687
It'll be a bit of work but I think you can do this.

1. Get decision trees with the [`estimators_`](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingClassifier.html) attribute.
2. You can get the nodes the samples visit in your tree with [`decision_path`](https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html#sklearn.tree.Decisio

[2018-11-28 08:30] qinhanmin2014 commented on #12686
I think we now raise errors for DeprecationWarning, so if we deprecate these two functions, we actually keep contributors from using them.

[2018-11-28 08:36] rth commented on #12686
Yes, makes sense.

[2018-11-28 10:13] mexicarne commented on #12671
So how to manually regenerate c/cpp files? For a temporarty solution I'm tweaking a FreeBSD port of scikit-learn, removed all the c/cpp (keeping pyx files alone) from the distribution and added cython as a build dependency, but now it fails with:
[code]
Definitely something should be done to make cython to regenereate this files.

[2018-11-28 10:21] mexicarne commented on #12671
Nevermind, I found the `build_src` target

[2018-11-28 10:34] gocen opened #12689 "20 newsgroups strip_newsgroup_quoting function"
I ran twenty_newsgroups.py with remove parameters. But in file 20news-bydate/20news-bydate-test/comp.windows.x/68302 quotes remain.

Before:
In article <1465@minya.UUCP> jc@minya.UUCP (John Chambers) writes:
<It seems silly, but while I've located things like tgif that can  edit
<gif  files, and various tools to convert to/from gif format, I haven't
<been able to locate a program that just opens a

[2018-11-28 11:40] daliu commented on #9606
feature_importances_ also stopped returning 0-weights for features, which broke my plotting of feature importances. I've had to build-out a workaround just to plot the named features importances.

If we could have something similar to the XGboost.plot_importance(model), that would be phenomenally useful for insight.

I don't agree that we should "require the user to explicitly specify a way to cal

[2018-11-28 12:05] mexicarne commented on #12671
Sadly that didn't helped, nor running `build_src` before `build` and `install` in setup.py.

[2018-11-28 12:31] rth commented on #12671
Interestingly I can't reproduce this using the v0.20.1 git tag, compiled with `Cython==0.23.5` and Python 3.5, then trying to install scikit-learn in a new Py3.7 environment (from the same source) with latest Cython 0.29.1. When I do that, the cythonization is re-triggered automatically with the following messages,
[code]

Same thing happens with Cython 0.28.

Now if one creates a sdist in the old

[2018-11-28 12:51] jnothman commented on #11818
I was also surprised to find that OpenML did not have more standards about
the representation of Booleans. There seems to be a convention around the
use of TRUE / FALSE and I think we should be encoding these by default. If
truly numeric values are being represented as categorical I think this is a
limitation of ARFF in not distinguishing between ordinals and unordered
categoricals. OpenML should

[2018-11-28 12:59] jnothman commented on #12687
If you just want the leaf node, use `apply`.

But...

You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2018-11-28 12:59] #12687 closed

[2018-11-28 13:01] mexicarne commented on #12671
Thanks, I was finally able to build package with this link (all my tests were with py37, cython 0.29 for the case)! Actually sdist at pypi **does** contain the .pyx files. But it also contains pregenerated c/cpp files, and for some reason it doesn't regenerate them in presence of cython.

[2018-11-28 13:03] jnothman commented on #12686
Apart from speed, what's wrong with

[code]
?

[2018-11-28 13:03] jnothman commented on #12686
But yes, I support deprecating them

[2018-11-28 13:06] jnothman commented on #12689
As per the docs

In this case, the use of `<` is very non-standard.

We're not going to fix this.

[2018-11-28 13:06] #12689 closed

[2018-11-28 16:42] amueller commented on #12686
or lgtm filters?
I'm fine with deprecating them

[2018-11-28 16:44] amueller commented on #12671
We are caching them and only regenerating them if the files changed, right?

[2018-11-28 17:02] amueller commented on #9606
Can you elaborate on this?

Which ones? And me asking this question means that clearly there are multiple options. The ``feature_importances_`` that are currently provided by the tree-based models are often misleading according to several analyses.

And I'm not talking about taking away any solutions but changing the interface to the solution and adding more and better solutions.

Having a plottin

[2018-11-28 17:48] KOLANICH opened #12693 "Add support of DataHub"
You may want to finish https://github.com/datahq/datahub-py for it.

https://github.com/datahq/specstore/

https://github.com/datahq/data.js/blob/6fc46acea959ca4c868ea410df573b588e4e6d74/lib/index.js#L317
https://github.com/datahq/data.js/blob/6fc46acea959ca4c868ea410df573b588e4e6d74/lib/index.js#L321
https://github.com/datahq/data.js/blob/6fc46acea959ca4c868ea410df573b588e4e6d74/test/index.test.j

[2018-11-28 17:52] amueller commented on #12693
The api seems unfinished and unsupported. And what would adding support mean beyond what datahub-py provides?

[2018-11-28 18:04] KOLANICH commented on #12693
It is unfinished. In fact everything throws NotImplementedException.

https://github.com/datahq/data.js/blob/6fc46acea959ca4c868ea410df573b588e4e6d74/lib/index.js#L317
https://github.com/datahq/data.js/blob/6fc46acea959ca4c868ea410df573b588e4e6d74/lib/index.js#L321
https://github.com/datahq/data.js/blob/6fc46acea959ca4c868ea410df573b588e4e6d74/lib/index.js#L321
https://github.com/datahq/data.js/bl

[2018-11-28 20:21] amueller commented on #12693
The question remains: what would "Adding support" mean? fetching datasets?

[2018-11-28 20:36] drewmjohnston commented on #6053
I'm interested in working on this feature! I ran into some problems using a OneHotEncoder in a pipeline that used a Keras Neural Network as the classifier. I was attempting to transform a few columns of categorical features into a dummy variable representation and feed the resulting columns (plus some numerical variables that were passed through) into the NN for classification. However, the one ho

[2018-11-28 20:48] amueller commented on #6053
I think we'd accept a PR. I'm a bit surprised there's none yet. We also changed the OneHotEncoder quite a bit recently. You probably don't want to modify the "legacy" mode. A question is whether/how we allow users to specify which category to drop. In regularized models this actually makes a difference IIRC.
We could have a parameter ``drop`` that's ``'none'`` by default, and could be ``'first'``

[2018-11-28 20:53] drewmjohnston commented on #6053
Reading through the comments on the old PR, I was thinking that those
options seem to be the natural choice. I'm in the midst of graduate school
applications right now so my time is somewhat limited, but this seems to be
something that is going to keep appearing in my work, so I'm going to have
to address this (or keep using workarounds) at some point.

On Wed, Nov 28, 2018 at 3:49 PM Andreas Muel

[2018-11-28 21:14] romankarski commented on #12621
Hi,
I am new in committing and this Issue looks interesting. Would You mind if i will try help You ? I also need this to pass my python classes :) If you would like to help me a little, will be great. I've started looking on scikit-learn/sklearn/preprocessing/label.py
is that good for start ?

[2018-11-28 21:44] amueller commented on #12621
@romankarski as you can see above there is already a pull request referencing this issue at #12640

[2018-11-28 21:44] amueller commented on #12621
@jorisvandenbossche you added the help wanted after the PR went up, is there some issue with the PR?

[2018-11-28 21:48] romankarski commented on #12621
@amueller Oh, i missed it

[2018-11-28 22:19] michael-ziedalski commented on #8744
I think the standard method is simply through `C`, which is alluded to in the docs for SVM's here, https://scikit-learn.org/stable/modules/svm.html

[2018-11-28 23:38] jorisvandenbossche commented on #12621
@amueller the linked one is another issue, not a PR. So I think this issue is still open to take.

is that good for start ?

@romankarski yes, see the last paragraph in https://github.com/scikit-learn/scikit-learn/issues/12621#issuecomment-440404533

[2018-11-28 23:53] romankarski commented on #12621
@jorisvandenbossche

We could catch the error when sorting, inspect the error if it is actually about sorting, and re-raise with a more informative error message. Although that is maybe a bit hacky?

So that is the work for me ? i have deadline to 21-01, so i will do my best
Mainly i should work in label.py ?

[2018-11-29 01:09] bsipocz commented on #9485
I would love to use nightly builds in astroML CI testing. It seems that you almost got the wheels build except one version. My experience with testing master branches was that downstream packages don't test all combinations but pick one.

Would you be interested in providing a subset of the wheels rather than waiting for a generic solution for an unrelated issue?

[2018-11-29 01:45] thomasjpfan commented on #12652
It looks like `BaseSGD` does validation when `set_params` is called:

https://github.com/scikit-learn/scikit-learn/blob/dbd28e70be8366c4f789500c988032e2bf1024ec/sklearn/linear_model/stochastic_gradient.py#L103-L106

For example, using `set_params` to set `alpha=-np.inf` in `SGDClassifier` will trigger a warning in `test_check_estimator_clones`.

[2018-11-29 06:18] jnothman commented on #12693
Are the data formats standardized enough? Enough metadata to describe
feature dtype? As far as I've seen this is just things like CSVs1

[2018-11-29 07:50] KOLANICH commented on #12693
Yes. If you look at https://datahub.io/core/co2-ppm , you see there description.

Here are API server sources:

https://github.com/datahq/specstore/blob/master/flowmanager/datasets.py

[2018-11-29 08:03] KOLANICH commented on #12693
https://github.com/frictionlessdata/datapackage-py

[2018-11-29 08:11] rth commented on #9485
I agree that nightly wheels e.g. for Python 3.7 on all platforms could be a start.

[2018-11-29 10:52] gocen commented on #12689
I fixed like this,

`good_lines = [line for line in text.split('\n')
                  if not (_QUOTE_RE.search(line) or line.startswith("<"))]
    return '\n'.join(good_lines)`

[2018-11-29 15:29] NicolasHug opened #12696 "Incorrect gradient computation in Gradient Boosting for multiclass classification"
#### Description

I need feedback on this before submitting a bugfix, but I think there's a subtle bug in the way the gradients are computed in `GradientBoostingClassifier` with the `MultinomialDeviance` loss.

CC @amueller @ogrisel

The problem is jointly in [_fit_stage](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/gradient_boosting.py#L1166) and in [MultinomialDevian

[2018-11-29 15:37] amueller commented on #12696
Won't have time to look into this before NIPS, sorry.

[2018-11-29 16:53] amueller commented on #9485
I agree, even a single version seems useful (even on a single platform as a start). The target platform is gonna be linux for most CIs anyway.

[2018-11-29 23:47] pkomiske opened #12697 "BallTree assumes vectors can be added"
I am using BallTree with a custom metric and am running into the following issue: BallTree seems to assume in lines 71-92 of [this file](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neighbors/ball_tree.pyx) (possibly elsewhere also) that the sample vectors can be added component-wise.

For my custom metric, this does not necessary produce a valid sample, i.e. the points cannot

[2018-11-30 01:00] #12685 closed

[2018-11-30 03:38] daliu commented on #9606
Uhhh the first issue might have been a problem on my side, I didn't realize there was l1-regularization being done in the project, so that might be affecting my resulting feature array input/output.

On the 2nd point,

Hmm when I say, "exist practical methods", I'm trying to say if it isn't broken, don't fix it, but you do claim the feature importances from tree-based models are "often misleading

[2018-11-30 12:12] greghoop opened #12699 "utils.validation.check_array throws bad TypeError pandas series is passed in"
#### Description
validation.check_array throws bad TypeError pandas series is passed in. It cropped up when using the RandomizedSearchCV class.  Caused when line 480 is executed

#### Steps/Code to Reproduce

validation.check_array(y, ensure_2d=False, dtype=None) where y is a pandas series

#### Expected Results
No error (I'm not familiar with this code so not sure on the details)

#### Actual Res

[2018-11-30 12:45] rth commented on #12699
This should have been fixed in https://github.com/scikit-learn/scikit-learn/pull/12625, and I can confirm that the corresponding commit is part of the 0.20.1 tag.

Could you please double-check that you are using 0.20.1. Also please post the full traceback, which will help us investigate.

[2018-11-30 12:56] rth commented on #9485
For Linux, I would be very tempted to do this in Circle CI cron job in the main scikit-learn repo. Using the manylinux docker image as the base there, the setup should take ~10 lines in the `.circleci/config.yaml` and IMO simpler than what we could do in MacPython/scikit-learn-wheels.

Another question is where to upload it. Circle CI stores artifacts in S3, but last time I checked there was no ea

[2018-11-30 14:01] MLopez-Ibanez opened #12700 "plot_confusion_matrix example breaks down if not all classes are present in the test data"
#### Description

The example at https://scikit-learn.org/stable/auto_examples/model_selection/plot_confusion_matrix.html#sphx-glr-auto-examples-model-selection-plot-confusion-matrix-py

easily breaks down without warning or error if the data does not contain all labels. This can easily happen with imbalanced datasets or with many classes and real datasets.

#### Steps/Code to Reproduce
[code]

##

[2018-11-30 14:02] MLopez-Ibanez commented on #12700
I can contribute a fixed version but it calculates the confusion_matrix within the plot (the interfaces for confusion_matrix and classification_report do not work well for this very typical situation).

[2018-11-30 14:10] gmeisl commented on #12273
This would be very easy to correct, just change "Smaller" to "Larger" in the above description.

[2018-11-30 14:19] jeremiedbb commented on #12672
Here is a reproducible example, only involving pairwise distances, which fails on master:
[code]

The test only passes with `pairwise_distances` when `n_jobs==1`. It fails with `pairwise_distances_chunked`, because data is processed by chunks, even with `n_jobs=1`.

Looking at the code of `pairwise_distances`, I found something which does not seem optimal. When `Y==X`, if `n_jobs==1` pdist is used

[2018-11-30 15:18] qinhanmin2014 commented on #12699
I think @greghoop  is using 0.20.1, seems that it's not appropriate to use ``len(array.dtypes)``

@greghoop Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal.

And please provide the output of ``sklearn.show_vers

[2018-11-30 16:17] greghoop commented on #12699
@qinhanmin2014

I've already downgraded to 0.20.0 so that won't help.

If I get a second I'll create an example, but I can't upload the current code

[2018-11-30 20:23] bsipocz commented on #9485
I suppose you can push it even to PyPI as a dev version? pip wouldn't pick it up by default, but then it's super easy to pick it up with `pip install --pre` (assuming you have incremental version numbering)

[2018-11-30 21:38] amueller opened #12703 "regression in ColumnTransformer in in 0.20.1 with columns=pd.Index"
[code]
[code]

This came up in one of my teaching notebooks actually (and might be in my book as well).
This is very natural because columns are of type pd.Index, and so if you take some subset of columns from ``DataFrame.columns`` you'll now run into this error.
So... 0.20.2?

[2018-11-30 21:41] amueller commented on #12703
[code]
i.e. the new attribute order, works, though.
But that means we botched the deprecation - in a case that I care about because it's now out there on paper ;)

[2018-11-30 22:05] adrinjalali commented on #12703
Want me to check it, or is @jorisvandenbossche or somebody else on it?

[2018-12-01 01:32] qinhanmin2014 commented on #12699
@greghoop

Downgrading to 0.20.0 won't help (downgrading to 0.19.X will)

Thanks, I think you only need to provide the data type of y (you passed into check_array).

[2018-12-01 03:52] qinhanmin2014 commented on #12700
We already have parameter ``classes``. Simply replace ``classes=class_names`` to things like ``classes=class_names[[0, 2]]`` will solve your problem. I don't think we need to modify the example.

[2018-12-01 04:11] qinhanmin2014 opened #12705 "Install pandas on Appveyor?"
Some of our tests (maybe more and more in the future) require pandas, maybe we should install pandas on Appveyor to avoid unexpected failures when releasing.

[2018-12-01 06:35] rth commented on #12705
Do you think there is anything Windows specific in our pandas tests?

[2018-12-01 07:31] qinhanmin2014 commented on #12705
Currently, no.

[2018-12-01 07:49] jorisvandenbossche commented on #12699
Apart from fixing it here in sklearn, we should consider on the pandas side if we want to fix this (https://github.com/pandas-dev/pandas/issues/24033).
But that said, relying on the length of the dtype was maybe not a good idea. Because eg structured dtypes actually do have a length > 0. Although, at the moment you cannot store a structured array in a Series, so we should not be able to encounter

[2018-12-01 07:55] qinhanmin2014 commented on #12699
I agree that we should avoid using ``len``
@jorisvandenbossche Do you know when we'll get ``object of type 'DTYPE NAME OF THE SERIES' has no len()``? I can't find relevant information in pandas.

[2018-12-01 08:01] jorisvandenbossche commented on #12703
The bug actually also exists "in the future" for numpy arrays:

[code]

So for numpy arrays, the check of `t in ('drop', 'passthrough')` still gives a warning, but in the future it will also raise. Pandas Series / Index already has the future behaviour (always had I think).

Just as a side note, as the fix is already there I see :)

[2018-12-01 08:04] jorisvandenbossche commented on #12699
@qinhanmin2014 Yes, see my example above: https://github.com/scikit-learn/scikit-learn/issues/12699#issuecomment-443329803 (at least, I assume that is what happened, @greghoop needs to confirm that, as you will never actually get `DTYPE NAME OF THE SERIES` in practice)

[2018-12-01 08:11] greghoop commented on #12699
Yes, it was specifically for a categorical dtype series. Apologies for the confusion.

FYI, this isn’t a problem in 0.20.0 (I don’t need to downgrade to 0.19.x to get this working.

I don’t not know if it affects other dtypes

[2018-12-01 08:14] qinhanmin2014 commented on #12699
@jorisvandenbossche Thanks, I've seems your example above. I'm wondering what's type 'DTYPE NAME OF THE SERIES' since we need to reproduce the reporter's error. Any insights?

[2018-12-01 08:15] jorisvandenbossche commented on #12699
That's just something that @greghoop put there, he apologized for the confusion :-)

[2018-12-01 08:15] qinhanmin2014 commented on #12699
Ahh, I see the comment from the contributor, let's replace ``len`` with other options.

[2018-12-01 08:16] jorisvandenbossche commented on #12699
@greghoop And thanks for the report!

[2018-12-01 08:19] jorisvandenbossche commented on #12699
@qinhanmin2014 I would maybe replace the `and len(array.dtypes)` with for example `and hasattr(array.dtypes; 'iloc')` (the duck type check we use in several places for pandas objects).
Ideally, I think we should start doing actual instance checks instead of those duck types, but that's for another issue.

Shall I do a PR, or are you already on it?

[2018-12-01 09:54] edwinjose900 opened #12707 "scikit learn not able to install on jetson tx2 using pip"
error: Command "aarch64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -Wstrict-prototypes -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -I/home/nvidia/.local/lib/python3.5/site-packages/numpy/core/include -I/home/nvidia/.local/lib/python3.5/site-packages/numpy/core/include -I/usr/include/python3.5m -c sklearn/neighbors/quad_tree.c -o buil

[2018-12-01 11:44] qinhanmin2014 commented on #12700
Maybe @adrinjalali or @MLopez-Ibanez can submit a PR if you are interested in it.
But I don't think we need to modify the function, and I won't vote +1 for things like ``classes = class_names[list(set(y_trye) | set(y_pred))]`` when data contains all the labels.

[2018-12-01 14:55] amueller commented on #12707
Can you please give the full traceback? That's an ARM and you're running linux?

[2018-12-01 14:59] h6197627 commented on #12676
If it is helpful - I tried to test Windows build (with MKL) from https://www.lfd.uci.edu/~gohlke/pythonlibs on the same PC. OMP failure occurs as in Linux test

[2018-12-01 18:09] Rbain2 commented on #8963
Hi ,
I have the same problem. I need to restart the kernel or I get the fault below.  I  am unclear on the solution. Is there a solution for this? Is it related to a specific version of SKlearn?

 kmeans = KMeans(n_clusters=4, random_state=1).fit(Table_for_K)

line 223, in euclidean_distances
    X, Y = check_pairwise_arrays(X, Y)

TypeError: 'NoneType' object is not callable

[2018-12-01 18:45] amueller commented on #8963
@Rbain2 there's likely an issue in your code.  Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal.

[2018-12-01 19:55] jubafourali commented on #8242
Try without specifying version of scikit-learn as :
`pip install scikit-learn`

[2018-12-02 10:03] nocibambi opened #12711 "Feature Request: Tangent distance as an option in sklearn.neighbors.DistanceMetric"
It would be nice to have 'tangent distance' as a possible metric in nearest neighbors models.

It is not a [new concept][1] but is [widely cited][2]. It is also relatively standard, the [Elements of Statistical Learning][4] covers it.

Its main use is in patter/image recognition where it tries to identify invariances of classes (e.g. the shape of '3' regardless of rotation, thickness, etc).

![tan

[2018-12-02 15:45] morienor commented on #5115
I have just encountered the same on AWS with jupyter...

Using parallel_backend seems to work...
[code]

[2018-12-02 22:34] jnothman opened #12712 "Documentation paths are ambiguous on case insensitive file systems"
Master's documentation build produces files  including:
[code]

These paths will not work well on file systems that are case insensitive. Does anyone know of a way to make the sphinx autogen functionality generate alternative names in this case? Ideally we would do so in a way that keeps `sklearn.cluster.DBSCAN.html` which has existed in previous releases, while `sklearn.cluster.dbscan.html` did n

[2018-12-02 22:36] jnothman commented on #12652
IIRC we have several places where we still validate in `__init__` (as well
as `fit`), which is consistent with validating in `set_params` (or
`__setattr__`).

[2018-12-02 22:46] jnothman commented on #12693
Does look neat. I don't mind the idea of supporting the frictionless data
standard in general. I don't know what its uptake is in the community yet,
though. But this is not where our core value lies as a library and people
should be comfortable going to other libraries for it. We support openml in
a large part because it supports our examples, not because we generally
need to be supporting various

[2018-12-03 02:42] tinglixing commented on #4704
Hi I don't know why the model is not the same for multiple runs without changing the code even after I set random_state.

[2018-12-03 02:48] yarikoptic commented on #10561
If I am looking at the correct commit for @12612  26e08c885b7e14c455e32187f8a44dfa3dcdf42b
[code]
which is a part of the 0.20.1, probably it didn't fix it (fully at least), since I see such failure on s390x:
https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=s390x&ver=0.20.1%2Bdfsg-1&stamp=1543527783&raw=0
[code]
and that is the only one on that arch (at least for python2 ;-))

[2018-12-03 02:50] yarikoptic commented on #10561
yes -- those are "non-official ports", so problems on them should not e.g. defer package from migrating into testing/stable.

[2018-12-03 07:37] jnothman commented on #12696
we've certainly had this kind of bug before, so it seems legit, but I've
not looked into the algorithm. If you can provide a copy from a reference,
that might help being certain.

[2018-12-03 07:44] jnothman commented on #9606
I think the main characterisation of "better" that we are getting at is
"model-agnostic" (and perhaps empirically validated)

[2018-12-03 07:54] jnothman commented on #12697
Please offer a documentation improvement and then we can consider the more
substantial proposal

[2018-12-03 08:19] jnothman commented on #4704
Please provide code that reproduces your issue with models changing despite
fixed random state

[2018-12-03 09:39] ogrisel commented on #5115
@morienor if you can reproduce this issue with scikit-learn 0.20.1, please open a new issue with all the necessary details for someone else to be able to reproduced the problem (the full script with import statements on a fake random dataset) along with all the version numbers for python, scikit-learn, numpy, scipy and the operating system.

[2018-12-03 10:17] appleyuchi commented on #6557
why can Not extract the decision model and then prune it with Cost Complexity Pruning Algorithm?

[2018-12-03 10:22] #12703 closed

[2018-12-03 10:44] appleyuchi commented on #6557
@zanderbraam it's not CCP

[2018-12-03 10:56] Rbain2 commented on #8963
Thank you  Here's some minimal  code below

-----------------------------------------------------------------------------------------------------------
import numpy as np
from sklearn.cluster import KMeans

test=[3,4,5,6,7,8,9,10,23,45,67,78,89,23,35,57,78,34,56,68,78,99]
testarray=np.array(test)
testarray=testarray.reshape(-1,1)
kmeans = KMeans(n_clusters=4, random_state=1,n_jobs = 1).fit(testarr

[2018-12-03 11:00] Rbain2 commented on #8963
Here below are the versions I am using of the packages - forgot to include these above
Windows-10-10.0.17134
('Python', '2.7.15 |Anaconda, Inc.| (default, May  1 2018, 18:37:09) [MSC v.1500 64 bit (AMD64)]')
('NumPy', '1.13.3')
('SciPy', '0.19.1')
('Scikit-Learn', '0.19.1')

[2018-12-03 12:44] mihirpatel7 opened #12714 "K-means Minibatch giving random results"
#### Description

Document clustering on 20 newsgroup sports(1993)-politics(2625 documents) categories.
Extracting features from the dataset using a sparse vectorizer
Done in 1.919368s
n_samples: 4618, n_features: 29610

km = MiniBatchKMeans(n_clusters=true_k, n_init=100,init='k-means++',
                          batch_size=100, verbose=True,max_iter=100)

Clustering Mini batch - sparse data with

[2018-12-03 14:09] nocibambi commented on #12711
Instead of a new feature of course, passing the a metric funciton as a custom metric for KNN can also work.

I contacted with the creator of [this project][1] implementing tangent distance on KMeans. He was kind to rewrite his code to simply allow the calculation of the distance between two numpy arrays.

Now, however, when I try to run it with K-Neighbors,

1. it is very very slow (~10m for a sin

[2018-12-03 14:49] NicolasHug commented on #12696
In the LightGBM code, the [TrainOneIter](https://github.com/Microsoft/LightGBM/blob/master/src/boosting/gbdt.cpp#L333) method (which is roughly equivalent to `fit_stage`) first updates the gradients and hessians, and then proceeds to build the K trees:

[code]

That's also how we do it in [pygbm](https://github.com/ogrisel/pygbm/pull/49/files#diff-e269c1b8c33eb366db161d4073e15384R121) but it's not

[2018-12-03 17:06] tinglixing commented on #4704
Let me write it as a new issue so that people can search later on.

[2018-12-03 17:14] tinglixing commented on #4704
Below is part of the code. random_state is set as 5, however for each run, the models generated  are different. Could you please tell me what I did wrong? Thanks ahead

def estimatePredModels(self, X_model, y_model, X_columns):
        try:
            logging.info("start estimatePredModels ..." )
            random_state = 5
            alpha = 0.9

            # forecast_price_psf_UB_model

[2018-12-03 17:15] tinglixing commented on #4704
Please ignore the indent issue!

[2018-12-03 17:20] thomasjpfan commented on #12696
1. The current implementation goes from `i-1` to `i`, by taking `k` steps toward `i`. For each of the `k` steps, a new gradient is calculated since `y_pred` was partially updated.

2. The proposal takes one gradient at `i-1` and updates `y_pred` accordingly. This essentially takes one step from `i-1` to `i`.

Both implementations seems mathematically sound. I suspect the proposal  is used more oft

[2018-12-03 17:59] NicolasHug commented on #12696
@thomasjpfan

The current implementation and the one I propose are almost the same, only in the proposal `y_pred` is copied so that the gradients are always evaluated at `i - 1` (which is the only mathematically valid way AFAIK). In the current implementation the gradients are evaluated partially at `i - 1` and partially at `i`.

Just like the current implem, the proposal also computes the gradien

[2018-12-03 19:12] thomasjpfan commented on #12696
@NicolasHug Thinking it over, I agree this is a bug, and your proposal would fit it.

The current implemented is a little strange, and for it to actual work, the predict method would need to be aware that the saved trees corresponses to partially updated y_preds.

As for efficiency, the sklearn implementation encodes y on the fly when calculating gradients, which does not take advantage of matrix

[2018-12-03 20:58] souravsingh commented on #12686
I can take a stab at the issue.

[2018-12-03 21:36] abhigenie92 opened #12716 "Explained variance calculation"
My questions are specific to https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html#sklearn.decomposition.PCA.

 1. I don't understand why you square eigenvalues
    https://github.com/scikit-learn/scikit-learn/blob/55bf5d9/sklearn/decomposition/pca.py#L444
    here?
 2. Also, explained_variance is not computed for new transformed data other than original data used to com

[2018-12-04 01:45] avi-eko commented on #9193
This doesn't appear to provide a way to set the train set to about 70% of the data. The sizes of the resulting training and test sets depends on the number of groups.

I think the use case of wanting to separate groups between train and test while also stratifying by classification target is a common one and the solution is not simple. For example, with patient data you would want to put all rows

[2018-12-04 03:11] appleyuchi commented on #6557
I see the following link:
https://stackoverflow.com/questions/49428469/pruning-decision-trees/49496027
But it is impossible to perform CCP in python,because CCP need many parameters.
when use the skills in the above link,
the following parameters will not be modified synchronously after the model is pruned.

   model.tree_.impurity,
   model.tree_.value,
   model.tree_.children_left,
   model.tree

[2018-12-04 09:04] ycpei commented on #6355
@GaelVaroquaux Just curious, what do you mean by "textbook implementation"? Is there a book where I can read about textbook implementations of stats learning algorithms?

sensible regularization) is not the textbook implementation of the LDA.
Scikit-learn tends to stick to textbook implementations, to minimize
surprise.

[2018-12-04 09:12] GaelVaroquaux commented on #6355
We like the "Element of statistical learning", available in PDF on Internet.

[2018-12-04 09:12] ogrisel commented on #12716
https://github.com/scikit-learn/scikit-learn/blob/55bf5d9/sklearn/decomposition/pca.py#L444
here?

I don't remember the math exactly, but there is check that the method based on the singular values finds the same results as the empirical variance computed directly on the transformed dataset:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/tests/test_pca.py#L217-L236

[2018-12-04 09:15] ogrisel commented on #12716
Actually squared singular values of rectangular data X equal to the eigen values of the square empirical covariance matrix:  X.T X [by definition](https://en.wikipedia.org/wiki/Singular_value).

[2018-12-04 09:18] ogrisel commented on #12716
@abhigenie92 if you are happy with my answers, please consider closing this issue.

[2018-12-04 09:45] ogrisel commented on #12707
At some point we might want to find a way to setup some CI to test sklearn on ARM.

We could use amd64 infra to run the build and or tests in an emulated ARM debian chroot:

https://www.tomaz.me/2013/12/02/running-travis-ci-tests-on-arm.html

But I am afraid that even it we manage to get cross-compiling working, running the sklearn tests would be too slow when emulated.

[2018-12-04 09:48] ogrisel commented on #12707
I also found this: https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide/Virtual_ARM_Linux_environment

[2018-12-04 10:29] ycpei commented on #6355
@GaelVaroquaux Thank you. I like it too. It is a nice textbook about theory, but not implementation. In the context of this particular issue, it is hard to tell from ESL what should constitutes as the "textbook implementation".

For example, on page 117 of that book it mentions using the projection subspace for prediction as well:

[2018-12-04 10:49] edwinjose900 commented on #12707
its on jetson tx2

[2018-12-04 13:14] albertcthomas commented on #2807
@wendingp see PR #7910 which just needs some convincing arguments to explain the advantage of SVDD over One-Class SVM, see [comment](https://github.com/scikit-learn/scikit-learn/pull/7910#issuecomment-337609509)

[2018-12-04 14:34] adewandaru commented on #10889
can I join on this effort , given that the issue reopened? found it cumbersome working with loaders but without the actual words ready.

[2018-12-04 14:40] harold-jeffreys commented on #9174
I wonder if anyone can comment if this is related to an issue I'm having. The decision_function in SVC is returning different values depending on the number of observations it is provided with. I've attempted to give a short example below. For me the results of the first line in the array is different in each case.

`import numpy as np
from sklearn.svm import SVC

X_train = np.vstack((np.random.ra

[2018-12-04 15:51] rytrose commented on #12707
I'm having the same issue. Jetson TX2, aarch64, Ubuntu 16.04. Traceback:

[code]

[2018-12-04 19:42] hal-314 opened #12720 "LabelEncoder throws an error when it's used in a Pipeline or in a ColumnTransform"
#### Description
fit and fit_transform methods in LabelEncoder don't follow the standard scikit-lean convention for these methods: fit(X[, y]) and fit_transform(X[, y]). The fit and fit_transform method in the LabelEncoder only accepts one argument: fit(y) and fit_transform(y).

Therefore, LabelEncoder couldn't be used inside a Pipeline or a ColumnTransform. I suspect that there are a bunch of oth

[2018-12-04 20:57] akshatpv commented on #12281
Is there anything else to be done for this issue? Can I help?

[2018-12-04 20:59] TomDLT commented on #12720
Yes indeed, from the [user guide](https://scikit-learn.org/stable/modules/preprocessing_targets.html#preprocessing-targets):

To encode features, you need to use `OneHotEncoder` or `OrdinalEncoder`.

[2018-12-04 23:21] abhigenie92 commented on #12716
Shouldn't the `transform` method have a functionality for computation of  `explained-variance` of the projected data? As this data may not be same as the one we pass in `fit` method.

[2018-12-05 01:43] qinhanmin2014 commented on #12720
duplicate of #3956
Please use the latest ``OneHotEncoder`` (in scikit-learn >= 0.20)

[2018-12-05 01:43] #12720 closed

[2018-12-05 08:09] Siohey commented on #10147
we can use imread() like imageio.imread().
First you should install imageio package.
`import imageio`
`picture = imageio.imread( 'XXX.png')`

[2018-12-05 15:14] SimonCW opened #12722 "SafetyError, invalid ELF Header in libquadmath. libgcc-g appears to be corrupted installing scikit-learn"
#### Description

After updating my Kernel and updating some Linux packages, I get errors related to libgcc-ng, lib/libquadmath.so.0.0.0 and lib/libgomp.so.1.0.0.

After running `import sklearn` I get:
[code]

After trying to create a new conda environment with `conda create -n testenv python=3.6 scikit-learn` I get:
[code]

I already did `conda update conda`.
#### Versions

I tried creating envir

[2018-12-05 15:30] qinhanmin2014 commented on #12184
From #12718
We should also consider the version of matplotlib and scikit-image
It's 1.5.1 for matplotlib (https://packages.ubuntu.com/xenial/python3-matplotlib) and 0.10.1 for scikit-image (https://packages.ubuntu.com/xenial/python3-skimage).

[2018-12-05 15:46] drorata opened #12723 "train_test_split excepting negative integers and floats"
The following minimal example doesn't fail:

[code]

Is it a bug or indented feature? According to the docs neither of the above should make sense. See for reference [this line](https://github.com/scikit-learn/scikit-learn/blob/7f6cb8330a2da1f9810a4f89d4b47ca61a6918b6/sklearn/model_selection/_split.py#L1796) for example.

[2018-12-05 15:56] tnlin commented on #3466
@nycuni  how's going, need any help?

[2018-12-05 16:51] mateuspontesm commented on #9400
I got the same problem on LDA, its sum of explained_variance_ratio_ was greater than 1.
It seems related to the solver = 'eigen', as it runs ok with 'svd'. I will problably post my notebook on github later on, if it is of help I can post the link here afterwards, but for now I will leave this here:
[code]

When I look at pctVarExp it has values like: [1.000000001356325, 1.000000001356325, 1.000000

[2018-12-05 18:38] tinglixing opened #12724 "Same input gets two slightly different model when using LinearRegression()"
I fit exactly same data to LinearRegression() function but get two slightly different model coeficients.

1st try:
3260 12/05/2018 12:41:59 PM self.ref_price_psf_model.coef_1 = 0.8927025598257011
3260 12/05/2018 12:41:59 PM self.ref_price_psf_model.coef_2 = -1.697037974902777e-05
3260 12/05/2018 12:41:59 PM self.ref_price_psf_model.coef_3 = -0.031210337831353692
3260 12/05/2018 12:41:59 PM self.re

[2018-12-05 18:59] rth commented on #12724
Looks like you haven't set `random_state` with `solver="liblinear"`?

[2018-12-05 20:00] Erotemic opened #12725 "Ignore/Weight specific classes in multilabel roc_auc_score"
Looking at the docs I see that `roc_auc_score` supports input where `y_true` is a binary multilabel indicator vector (of size [nsamples, nclasses]), and `y_score` is a [nsamples, nclasses] matrix of probabilities for each class.

This is a nice feature, but I'm currently held back from using it because `sample_weight` can only specify per-item importance and not per-class importance. To see why th

[2018-12-05 21:03] datajanko commented on #11996
Is there any update on this issue -  asking for min free in One Hot Encoder? Am I assuming correctly, that we also need to change the `_fit`-function of `_BaseEncoder`? This function call `_check_X` and is called in all the `fit`-functions. `_check_X` calls `check_array` but here `nan` values are not allowed.

Can this issue really be considered as easy? For me, this looks rather complex right now

[2018-12-06 02:34] jnothman commented on #12711
Interesting. Why would you expect high accuracy on digits?

[2018-12-06 08:25] Kim-Yongdam opened #12727 "TFIDFVectorizer Norm mode is different with documentation."
#### Description

https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html

In scikit-learn Version 0.20.1 documentation,

TfidfVectorizer can use "norm" attribute as "l1", "l2", or None, optional

But, I try to use None setting, it occurs errror.

And I checked implementation code in github, find code in

"~/preprocessing/data.py"

in Normalize functi

[2018-12-06 09:17] rth commented on #12727
Note that `None` isn't quoted in the documentation. It's the Python `None` object, not the `"None"` string.

[2018-12-06 09:17] #12727 closed

[2018-12-06 09:23] Kim-Yongdam commented on #12727
I really appreciate your reply!

Sorry for bothering you!

Thanks. Have a nice day :)

[2018-12-06 09:29] homarb opened #12728 "Use dict or list of dictionaries in RandomizedSearchCV"
#### Description

Error is returned when a list of dictionaries is passed to RandomizedSearchCV:
[code]
Possibly related to Setting search parameters on estimators https://github.com/scikit-learn/scikit-learn/issues/5082
#### Steps/Code to Reproduce
[code]

#### Proposed solution
Slightly modifiy the class ParameterSampler in `/model_selection/_search.py` as follows:

[code]

Note that a sequence

[2018-12-06 10:56] appleyuchi opened #12729 "same data produces different cart model"
[code]

when I run several times,I found two slightly different models in unprung.png

![unpruned2](https://user-images.githubusercontent.com/27613483/49579929-a130d280-f988-11e8-8c93-d88c27493719.png)
\----------------------------------------------------------------------------------------------------
![unpruned1](https://user-images.githubusercontent.com/27613483/49579940-a4c45980-f988-11e8-9f93

[2018-12-06 12:58] nocibambi commented on #12711
Well, the papers I looked into report similar or higher accuracy as for other metrics. For example [this][1], under 'Table 1'.

Now I also checked for the other metrics because I suspected that the results might be the doing of the toy data set. But the difference remains. Below is the code and the results (Takes a lot of time to run!)

[code]

  | mean_train_score | mean_score_time
-- | -- | --
e

[2018-12-06 13:30] albertcthomas commented on #12729
From the docstring of `DecisionTreeClassifier`: "The features are always randomly permuted at each split. Therefore, the best found split may vary, even with the same training data and max_features=n_features, if the improvement of the criterion is identical for several splits enumerated during the search of the best split. To obtain a deterministic behaviour during fitting, random_state has to be

[2018-12-06 14:47] amueller opened #12730 "Add paired test for cross-validation"
It would be nice to add error bars for grid-search results. Right now I think we're showing std over folds, which is not the right thing (there's a nice talk & package by Max Kuhn about it, also mentioned in todays NIPS invited talk).
We should implement a paired test to have a better measure of uncertainty between parameter settings.

[2018-12-06 15:01] appleyuchi commented on #12729
Thanks ,I'll look for document about random_state

[2018-12-06 15:05] qinhanmin2014 commented on #12729
Please set random_state to an integer and reopen if you still get different results.
See https://scikit-learn.org/stable/glossary.html#term-random-state

[2018-12-06 15:05] #12729 closed

[2018-12-06 15:09] ogrisel commented on #12716
This is not the role of the `transform` method. Calling `np.var(pca.transfrom(X_new, ddof=1), axis=0)` is easy enough for people who want that.

[2018-12-06 15:09] #12716 closed

[2018-12-06 15:10] #12714 closed

[2018-12-06 15:13] qinhanmin2014 commented on #12724
I don't think we have ``random_state`` in ``LinearRegression``
@tinglixing Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal.
The differences seems small so perhaps it's reasonable.

[2018-12-06 15:18] qinhanmin2014 commented on #12723
Maybe we should have more input validation.

[2018-12-06 15:24] ycpei opened #12731 "Doubts in the implementation of LinearDiscriminantAnalysis._solve_svd"
#### Description

Not sure if this belongs here because it is some doubt on the implementation. I mentioned it in [another issue](https://github.com/scikit-learn/scikit-learn/issues/9400#issuecomment-444117332) but I am not sure if it is related to that issue.

Recall in LDA there are two transformations:
1. transformation to make the sample covariance matrix identity.
2. projection to the space s

[2018-12-06 19:12] bryan-woods commented on #10727
I'd like to tackle this issue. Can someone give my guidance on whether everything here is  up to date?
Is there any work in progress?

[2018-12-06 22:45] NicolasHug commented on #11028
I encountered the same thing in an estimator that does early-stopping. I'm using `train_test_split` to hold out some validation data.

When I run `check_estimator` on my estimator, it fails on `check_fit2d_1sample`: this tests passes only one sample, and the training set becomes empty.

I was surprised as well that `train_test_split` doesn't complain. Basically that means that any estimator that i

[2018-12-06 22:59] NicolasHug commented on #11028
To continue on this (sorry, this is not directly related to the actual issue):

The only way to make the check pass is to raise a `ValueError` with one of `["1 sample", "n_samples = 1", "n_samples=1", "one sample", "1 class", "one class"]` in the message.

This is very restrictive, because there are many ways to get empty arrays from `train_test_split`, passing only one sample is just one of them.

[2018-12-07 03:36] NicolasHug opened #12734 "check_fit2d_1sample and check_fit2d_1feature expect very specific error message"
[check_fit2d_1sample](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/estimator_checks.py#L824) and [check_fit2d_1feature](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/estimator_checks.py#L852) are part of the `check_estimator` test suite.

To pass those checks, the estimator either has to run gracefully, or raise `ValueError` with an error message

[2018-12-07 05:11] MiladShahidi commented on #12730
Is this what you're referring to?
http://jmlr.org/papers/v18/16-305.html

And can I take this on?

[2018-12-07 10:00] albertcthomas commented on #12734
Is it meaningful to pass only 1 sample to train_test_split?

[2018-12-07 11:52] NicolasHug commented on #12734
No.

But my point is that in the context of my estimator it is just as (not) meaningful to pass one sample as to pass, e.g., test_size=99.9999999%, or any other input combination that would result in an empty train set.

In my situation it makes more sense to have one unique error message that handles all those cases than one error message per case.

[2018-12-07 13:10] albertcthomas commented on #12734
Just saw issue #11028 about passing one sample to `train_test_split`

[2018-12-07 13:10] ycpei commented on #12731
I was wrong, because the correct transformation is not unique, and both transformations yield an orthogonal matrix (i.e. with identity sample variance, up to a constant).

To see this, let Xc be again the centred-per-class data and D be the diagonal matrix corresponding to `std`. The SVD is:

Xc D^{-1} = U S V^{T}

And the `scaling` is defined as:

D^{-1} V S^{-1}

Then it is not hard to verify th

[2018-12-07 13:10] #12731 closed

[2018-12-07 13:14] albertcthomas commented on #12734
I see... FWIW if you are using `check_array` you can set `ensure_min_samples` to 2.

[2018-12-07 13:47] adrinjalali commented on #12730
@amueller , by package, do you mean `caret`? And the paired t-test mentioned [here](http://topepo.github.io/caret/model-training-and-tuning.html#customizing-the-tuning-process)?

@MiladShahidi , if I understand correctly, does the article you cite argue against this approach?

[2018-12-07 14:30] MiladShahidi commented on #12730
I found this [talk](https://www.youtube.com/watch?v=MJdsnJCWIuA) in which he mentions [Tidyposterior](https://cran.r-project.org/web/packages/tidyposterior/tidyposterior.pdf). And Tidyposterior cites that [paper](http://jmlr.org/papers/volume18/16-305/16-305.pdf).

You're right @adrinjalali . The paper beats the hell out of frequentist t-tests and then proposes a Bayesian approach. Maybe we could

[2018-12-07 15:19] #9906 closed

[2018-12-07 15:31] #8956 closed

[2018-12-07 15:31] #10048 closed

[2018-12-07 16:43] Josephasafg commented on #12723
hey can i take this issue?

[2018-12-07 16:46] jeremiedbb commented on #12723
Thanks but as you can see above a PR has already been submitted to solve this issue: #12733.

[2018-12-07 17:13] oleksandr-pavlyk opened #12738 "Plea to not use datasets with duplicate samples in SVC tests"
#### Description
Support vector classification solves a quadratic programming problem, see [sklearn's user guide secion on SVC](https://scikit-learn.org/stable/modules/svm.html#svc).

The quadratic form Q[i, j] is constructed from kernel function values at pairs (i, j) of input samples.

Duplicate samples thus cause quadratic form to have zero eigenvalues. In such a case the solution of the quadra

[2018-12-07 18:42] MLopez-Ibanez commented on #12700
To do that, one needs to know what the problem is (the problem is that the plotting function assumes the data contains all labels) and then do something like `classes = class_names[list(set(y_trye) | set(y_pred))]` to make sure the problem does not re-appear with different data, which is what I'd like to avoid.

My proposed function has the following benefits:

* Make sure we don't use class label

[2018-12-07 22:34] KOLANICH opened #12740 "Implement a fetcher of datasets from data.gov"

[2018-12-08 06:46] GinoWoz1 commented on #10054
Thanks, it was a package conflict error. It is working now.

[2018-12-08 11:35] appleyuchi commented on #6557
Hi,all ,
I have implemented CCP(Cost Complexity Pruning) Algorithm on
sklearn-CART-classification-model in Python,
here's the link:
https://github.com/appleyuchi/Decision_Tree_Prune
its performance may be slower than cython ,but it works well.
@amueller @nelson-liu @maniteja123 @lesshaste @nlgranger @jmschrei @nlgranger @raghavrv @jnothman @cjmay @bifeng @DrEhrfurchtgebietend @zanderbraam @wsy1991

[2018-12-08 14:03] qinhanmin2014 commented on #12700
@MLopez-Ibanez Thanks, these seem acceptable at a glance, please submit a PR for us to review.

[2018-12-08 14:52] amueller commented on #6557
@appleyuchi thanks!
I find it a bit hard to follow the structure of the code, in particular given that file names and comments are in Chinese. There also seems to be a lot of duplicate code.

[2018-12-08 14:55] amueller commented on #12740
I think this is out of scope. We don't want to be a collection of download APIs. You can upload interesting datasets to openml.

[2018-12-08 15:00] appleyuchi commented on #6557
you can ignore all the steps in this link,
https://github.com/appleyuchi/Decision_Tree_Prune
and just run:
python sklearn_CCP_top.py
in the folder "sklearn_cart-classification_CCP-finish/sklearnCART2json_CCP"
if you want to see its effect only.

Because of different pruning algorithm,duplicate code really exist.
And also,I'm not proficient with "Generator and yield"of Python ,which may improved th

[2018-12-08 15:02] amueller commented on #12738
How about we do both? We test predict / decision_function on iris and check support vectors on something without duplicate data points? That way we test both things?

[2018-12-08 15:08] appleyuchi commented on #6557
@amueller
The idea about how to transform sklearn CART model to json-style model is from the following link:
https://planspace.org/20151129-see_sklearn_trees_with_d3/

[2018-12-08 15:10] amueller commented on #12722
This looks like an anaconda issue, please open an issue there.

[2018-12-08 15:10] #12722 closed

[2018-12-08 15:13] amueller commented on #12740
See discussion on #12702.

[2018-12-08 15:13] #12740 closed

[2018-12-08 15:15] amueller commented on #12730
@MiladShahidi yes that's what I meant. I would definitely include the frequentist test. The Bayesian paper doesn't really meet our inclusion criteria.

[2018-12-08 15:20] amueller commented on #12707
Seems like a cython issue possibly? Can you try to update cython?

[2018-12-08 15:52] MiladShahidi commented on #12730
Thanks @amueller for clarifying. Shall I start working on this then?

[2018-12-08 16:00] adrinjalali commented on #12730
Sure, go ahead @MiladShahidi!

[2018-12-08 16:01] adrinjalali commented on #12700
I guess we can have this open then, can't we @qinhanmin2014 ?

[2018-12-08 16:06] qinhanmin2014 commented on #12700
@adrinjalali You're also core dev now:)

[2018-12-08 16:46] amueller commented on #8963
It's unclear to me what you do to create this issue.
Running the code above arbitrary many times runs fine for me.

Can you give exact instructions how to reproduce please?

[2018-12-08 16:57] TomDLT commented on #12724
Duplicate of #10283.

[2018-12-08 17:30] mgelbart opened #12741 "gamma='scale' in SVC"
I believe that setting `gamma='scale'` in `SVC` is not meeting its intended purpose of being invariant to the scale of `X`. Currently, `gamma` is set to `1 / (n_features * X.std())`. However, I believe it should be `1 / (n_features * X.var())`.

Rationale: if you scale `X` by 10 you need to scale `gamma` by 1/100, not 1/10, to achieve the same results. See the definition of the RBF kernel [here](h

[2018-12-09 00:56] sursu opened #12742 "K-NN in one shot"
I am looking at the K-NN implementation.
Currently, to find the optimal K, the model needs to be fit multiple times (for every K).

A more efficient implementation would be to compute the output of K-NN for all K of interest in one shot. Isn't that possible?

[2018-12-09 03:44] #12724 closed

[2018-12-09 04:45] jnothman commented on #3466
@tnlin it doesn't appear as if @nycuni has submitted any work here. Feel free?

[2018-12-09 10:04] jnothman commented on #12742
#10482 will improve one of the ways to do this kind of thing, but there are ways to avoid the major computations involved in nearest neighbors, notably passing a balltree or kdtree to the constructor of the nearest neighbors estimator. Note that on NearestNeighbors you can call `kneighbors` multiple times passing a different `n_neighbors` value.

[2018-12-09 10:04] #12742 closed

[2018-12-09 10:06] jnothman commented on #12725
I think this is a bit too non-standard for us to support, although you are
of course welcome to publish an implementation. However, we could consider
supporting the user specifying a weight for each class in a macro-average.

[2018-12-09 10:15] jnothman commented on #11996
#12025 is an open pull request, but it seems to be stalled and lacks tests (@Olamyy?). I wouldn't say the change is trivial, but it's not a big change either, if we only worry about `NaN` and not other representations of missing values.

[2018-12-09 10:44] jnothman commented on #12711
Well that kind of low accuracy makes me doubt that the implementation of tangent distance is correct or correctly used here. Can you share its code?

[2018-12-09 10:44] jnothman commented on #12711
Please also consider using your implementation as an algorithm='brute' metric, rather than a pyfunc.

[2018-12-09 10:46] Rbain2 commented on #8963
I was running in Spyder anaconda IDE  - I don't know if that is an issue or not.. In the meantime however this issue now appears to be resolved
I have updated my versions of numpy ,scipy and scikitlearn as per below
Windows-10-10.0.17134
('Python', '2.7.15 |Anaconda, Inc.| (default, May  1 2018, 18:37:09) [MSC v.1500 64 bit (AMD64)]')
('NumPy', '1.15.1')
('SciPy', '1.1.0')
('Scikit-Learn', '0.19.2

[2018-12-09 11:02] nocibambi commented on #12711
Well, I also had this suspicion. But currently, I am also reading myself through the guidelines in [this paper][1] about how to implement the algorithm (section 2.3). Recommended steps include smoothing, elasticity spring to avoid singularity, hierarchical execution, etc. So perhaps these are necessary for the implementation.

I use [this module][2] from the above mentioned Kmeans project (relying

[2018-12-09 11:15] appleyuchi opened #12744 "How to prune cart-regression tree with ECP algorithm?"
How to prune cart-regression tree with ECP(Error complexity pruning) algorithm?
This algorithm is invented by the author of Cart,and it's described in his book《classification and regression tree》.

I'm trying to implement this ,if any one has done it ,tell me please.
Thanks in advance~!

[2018-12-09 11:18] appleyuchi commented on #4630
Hi,all I have implemented PEP(Pessimistic Error Pruning)On C4.5,here's the link:
https://github.com/appleyuchi/Decision_Tree_Prune
@arraja1992 @bifeng @arjoly @yejiming

[2018-12-09 11:35] adrinjalali commented on #8963
Thanks for the update @Rbain2 , please also note that the latest sklearn release is 0.20.1. But we'll stop supporting python 2.7 from 0.21, and so do some other packages. I recommend you switch to python 3.5+, to avoid future complications on your side.

[2018-12-09 11:35] #8963 closed

[2018-12-09 13:04] appleyuchi commented on #6557
@amueller
I have gotten the json-model of the  DecisionTreeRegressor with the same method,regression tree also need pruning.

here's the code:
https://github.com/appleyuchi/Decision_Tree_Prune/tree/master/sklearn_cart-regression_ECP-unfinish
you can get the json model with:
python bostom_regress.py

[2018-12-09 13:36] jnothman commented on #11028
So are you proposing a warning from train_test_split, Nicolas?

[2018-12-09 14:33] NicolasHug commented on #11028
My feeling is that `train_test_split` should raise an error when one of the output is empty. It makes sense in numpy not to raise an error because `np.split` is very general, but in the context of scikit learn we're dealing with train/test data and I can't think of a scenario where it's OK to have one of these that's empty (except if you don't want to test, but then you just don't call `train_test

[2018-12-09 15:32] rth commented on #12724
Definitely, misread it as a LogisticRegression..

[2018-12-09 17:47] pierretallotte commented on #1149
I read the code of this example and I have few remarks. With `SelectPercentile`, we select only 3 features with `percentile=10`. I suggest to use `SelectKBest` with `k=4` to select the four best features. Indeed, in the doc, it is written: _"In the total set of features, only the 4 first ones are significant. We can see that they have the highest score with univariate feature selection."_ It makes

[2018-12-09 19:54] jnothman commented on #12734
I think the argument is that the check forces the code to validate in a
particular order of precedence, which is a bit silly. Not sure it's a big
deal given ensure_min_samples...

[2018-12-09 22:42] jnothman commented on #12730
I've not looked at the references. Are we talking about a Wilcoxon rank sum test between pairs of candidates? Are we providing a method to do this between a specified pair? Calculating by default for all pairs for all scorers? Calculating for all adjacent pairs in order of descending score?

[2018-12-10 02:13] jnothman commented on #12700
A pull request would be helpful to assess this properly

[2018-12-10 02:30] jnothman commented on #12741
@amueller proposed std, perhaps in error. Do we need to add another option and make scale disappear?

[2018-12-10 09:52] jnothman commented on #12744
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2018-12-10 09:52] #12744 closed

[2018-12-10 10:02] jnothman commented on #11028
I'm happy with an error if train or test is empty.

[2018-12-10 10:02] appleyuchi commented on #12744
@jnothman then  why not close https://github.com/scikit-learn/scikit-learn/issues/6557
it's also about pruning on sklearn.

[2018-12-10 10:13] jnothman commented on #1149
Not necessary in examples... Is there a strong case?

To make the coefficients meaningful? Do you mean standardize?

Held-out results aren't the point here, but we could? I'd leave it out for now.

[2018-12-10 10:14] adrinjalali commented on #12730
I guess a single method would assume there's only one test, and do no multiple test correction. We can of course blame the user if they do multiple tests and not correct for it, but I guess doing multiple tests ourselves and correct for it as well, would be nicer?

Another option on top of the ones you mention is to have it for the best vs all others, which somehow makes sense to me.

One thing I'

[2018-12-10 10:17] jnothman commented on #1149
The total mass from the SVM coefficients looks understated in that plot

[2018-12-10 10:38] jnothman commented on #12744
#6557 isn't asking how to do it. It's suggesting that we support that as a feature in the library.

[2018-12-10 10:45] jnothman commented on #12730
Your question is valid here, IMO. For more than 10 splits, the test
statistic is said to approximate a normal distribution. For smaller sample
sizes, I recall looking up the level of significance from a table.
http://vassarstats.net/textbook/ch12a.html presents the test statistic for
which critical p-values are reached for 5 <= N < 10... but that's not a
p-value itself, nor corrected for multiple

[2018-12-10 11:42] pierretallotte commented on #1149
No, it was just a suggestion to avoid any surprises.

I guess only normalization (i.e. scale all values between [0;1] range) is enough in this case. Indeed, the range of value is different for each feature ([4;8] for sepal length, [2;5] for sepal width, [0;0.1] for the noisy features, ...). Those differences of scale have a direct impact on the value of the coefficients and, if you want to compare

[2018-12-10 12:00] qinhanmin2014 opened #12749 "DOC Figure out a way to display _ (in math formula) in our doc"
We need to figure out a way to display ``_`` (in math formula) in our doc, simply using ``_`` will introduce LaTexX error.
Related commits:
https://github.com/scikit-learn/scikit-learn/commit/7fe3413475bf50683f821d296c2ca6cb525a7714
https://github.com/scikit-learn/scikit-learn/commit/54dc0d730fe12298f72093f74f47027f731dc182
To reviewers: we don't generate PDF in PRs so relevant issues won't be det

[2018-12-10 13:00] NicolasHug commented on #11028
Ok I'll submit a PR.

Should we do the checks upstream in the CV-iterators? `train_test_split` uses `ShuffleSplit`, and some other iterators like `LeaveOneOut` may also return empty train sets.

[2018-12-10 13:43] appleyuchi commented on #12744
@jnothman then this issue is also a feature,
if sklearn have ,let alone "how to do",
regression tree also need pruning.

[2018-12-10 13:49] appleyuchi commented on #12744
@jnothman ok,I changed the title.

[2018-12-10 14:18] ogrisel commented on #12738
I am working on a PR.

[2018-12-10 14:22] ogrisel commented on #12738
Even without duplicates, the ordering of the support vector (in the `support_vectors_` attribute) is still arbitrary though.

[2018-12-10 14:30] jeremiedbb opened #12750 "Missing indicator sparse + missing_values=0 should not be supported anymore"
Since we decided to not support the case where missing values are the zeros of sparse data in the imputers, I think we should also stop supporting it in the `MissingIndicator`.

[2018-12-10 14:36] oleksandr-pavlyk commented on #12738
@ogrisel My understanding was that for 2-class problems they are listed in the order negative labels first, followed by positive labels, and within the same label indexes are increasing.

For multi-class ovr layout of dual coefficients fixes the order uniquely.

[2018-12-10 14:56] Erotemic commented on #12725
I can accept that its a bit non-standard, but I thought it was a least an interesting enough case to bring up.

I probably won't have time to implement this, so you can feel free to close this issue if you'd like. If this does become high enough priority for me and I do implement a solution, I'll just reopen the issue / make a PR.

[2018-12-10 15:15] ogrisel commented on #12738
Thanks for your thorough analysis @oleksandr-pavlyk . I am not sure it's a good idea to write test assertions that depends on such implementation details though but fair enough.

[2018-12-10 20:16] goraj opened #12751 "Loky-backend incorrectly reduces n_jobs when using Dask processes. sklearn/externals/joblib/_parallel_backends.py#L496"
It seems that distributed might be the issue here. All jobs are submitted to one process.

#### Description
effective_n_jobs in _parallel_backends.py reduces n_jobs to 1 when using dask processes.
This is meant to mitigate nested Parallel calls but the check will lead to a reduction in threads when using dask processes as well.

sklearn/ensemble/base.py:154: UserWarning: Loky-backed parallel loops

[2018-12-10 22:33] amueller commented on #12741
Yes, my bad (I think).

[2018-12-10 23:38] thomasjpfan commented on #12712
Glad to see I am not the only person using Dash! 👍

There does not seem to be a simple way to do this. There are issues open that relate to this issue: https://github.com/sphinx-doc/sphinx/issues/4874, https://github.com/sphinx-doc/sphinx/issues/2024

Matplotlib has a solution to this: https://github.com/matplotlib/matplotlib/pull/11079 but I do not think we can use their solution for our use case

[2018-12-11 01:02] jnothman commented on #12749
We are talking about in a math directive only, yeah?

[2018-12-11 01:04] jnothman commented on #11028
I'm okay to do this in the cv splitters as long as we don't force this
constraint on custom splitters

[2018-12-11 01:06] qinhanmin2014 commented on #12749
Yes, I've updated the title and the description.

[2018-12-11 04:39] jnothman commented on #12725
I figure it's not hard for users to calculate Roc auc for each class. So yes, let's close for now. Thanks for the idea

[2018-12-11 04:39] #12725 closed

[2018-12-11 08:07] yuanqingye opened #12752 "Is there a way in this package to implement semi supervised regression?"
#### Description

I just checked and there is only "label propagation" under "supervised learning"
Is there any existing method regarding semi-supervised regression or at least a plan to release one in the future version?

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-12-11 10:01] jnothman commented on #12752
Not at present. There is a PR for self-training for classification #11682, and I suppose we could do similar for regression for the few estimators where predictive intervals are available (`return_std`)...

[2018-12-11 10:07] jnothman commented on #12751
Please raise this at joblib or loky, whichever you believe the fault lies in. It is obviously not an issue directly in scikit-learn.

[2018-12-11 10:07] #12751 closed

[2018-12-11 10:20] jnothman commented on #12749
What is the problem with `\_`?