[2015-01-20 21:53] amueller opened #4132 "Signature of MDS fit"
The signature of ``MDS`` is
```fit_transform(self, X, init=None, y=None)```
which messes a bit with pipelines and automatic testing.

Pipelines assume that the second parameter to fit is ``y``. As ``MDS`` doesn't have a``transform``, I guess it is useless with pipelines anyhow.
Still that seems to be a slightly tricky issue, which might come up again in the future.

[2015-01-20 21:54] amueller opened #4133 "TSNE has no ``fit``"
The ``TSNE`` class has no ``fit`` method. This issue is basically asking whether this is ok.
I thought having a ``fit`` was an API requirement.
Other manifold methods store the result of ``fit_transform`` in a member and simply return ``self`` in ``fit``.

[2015-01-20 22:11] amueller commented on #4072
+.5 for always returning a dtype object array.
As you say, this will happen "always" and having a special case doesn't make much sense.

[2015-01-20 22:14] GaelVaroquaux commented on #4133
IMHO no: we are breaking the API contract here.

[2015-01-20 22:28] amueller opened #4134 "Test coverage and instability in GraphLasso"
It looks to me as if ``GraphLasso`` doesn't have a very good test coverage, for example ``mode != 'cd'`` is not tested.
Also, this warning:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/covariance/graph_lasso_.py#L238

can cause an error if ``max_iter==0`` which happens on random data (run any of the common tests).

[2015-01-20 22:28] mathDR opened #4135 "sklearn.naive_bayes error in variance"
Line 219, in function _update_mean_variance():

return total_sum / n_total, total_ssd / n_total

should be
return total_sum / n_total, total_ssd / (n_total-1)

as you want the unbiased variance and not the biased version (if n_total == 1, variance = 0)

[2015-01-21 05:37] mblondel commented on #4122
Another issue: transform(X, Y) is not supported by pipelines (fit_transform(X, Y) is).

[2015-01-21 10:58] MSusik opened #4138 "Lacking support for Joblib's negative values."
Hi!

Recently I found out that the function
`_partition_estimators` from
https://github.com/scikit-learn/scikit-learn/blob/1491c1cd065f2f620ce770b3540697b87fc192ea/sklearn/ensemble/base.py
[code]
does not support negative values for `n_jobs` argument other than `-1`.
On the other hand, there are some places inside your library where it is supported:
https://github.com/scikit-learn/scikit-learn/blo

[2015-01-21 11:17] jnothman commented on #4138
Yes, sklearn.utils._get_n_jobs should be used more widely. I don't think
n_jobs < -1 needs to be mentioned everywhere n_jobs is described, but it
would be good if it were covered somewhere in the documentation. I'm not
sure it's the right place, but the computational_performance docs could
have a section on parallel computing.

And yes, a PR is welcome to at least fix _partition_estimators.

On 21

[2015-01-21 11:51] MSusik commented on #4138
https://github.com/scikit-learn/scikit-learn/pull/4139

[2015-01-21 12:15] #4138 closed

[2015-01-21 16:49] GaelVaroquaux commented on #4138
It would be great to add it to joblib, as in "joblib.get_n_jobs", to make
it more visible and thus more used. We'd gladly accept a PR to joblib on
that.

[2015-01-21 17:53] amueller opened #4140 "Random Travis Failure in statistical inference tutorial"
On Python 3.4

[code]
See for example https://travis-ci.org/scikit-learn/scikit-learn/jobs/47771718

[2015-01-22 06:45] cancan101 opened #4143 "Allow for Transformers on y"
Following up on #3113 and #3112, what about arbitrary transforms to the `y` values? Those issues dealt primarily with "label transforms"  but I would like to use transformers to mean or range center the `y` values as well.

Ideally I would have some transform that can be applied to the y values before fitting and then applied in the inverse to the predicted `y` values coming out of `predict`.

Ide

[2015-01-22 09:41] mblondel commented on #4122
Revamping the cross_decomposition module could be a nice internship project.

[2015-01-22 10:38] SylvainTakerkart opened #4144 "problem with sample_weight in SVC..."
Hello, following Andy's advice(http://sourceforge.net/p/scikit-learn/mailman/message/33251002/), I'm opening this issue... Here is the description of the problem:

I'm trying to use the instance weighting capability of the SVC class, and I
encountered some weird behavior: when the C parameter is chosen very small
and the weights are not very large, weighted SVM yields constant
prediction...

Below

[2015-01-22 15:07] cancan101 opened #4145 "sklearn.utils.shuffle does not work with arrays of dim > 2"
Running this:
[code]
results in:
[code]

However the [docs](http://scikit-learn.org/stable/modules/generated/sklearn.utils.shuffle.html) make no mention of this restriction. Further, I see no reason that shuffle should not work with 3 dimensions. For example if I have an array of image data, I want some way of shuffling the data.

[2015-01-22 15:57] amueller commented on #4122
The problem is that we don't have a mentor, right?

[2015-01-22 16:04] amueller commented on #4143
This is definitely on the todo. I can't find an issue for that, but it is planned, and one of the 1.0 goals. I am surprised there is no open issue for it.

[2015-01-22 16:08] GaelVaroquaux commented on #4143
This is someting everybody has been wanting, and initially an API design mistake from my side.

However, the problem is that currently we cannot do that without changing the API and thus breaking everything.

A possible way forward is discussed in #3855

[2015-01-22 16:08] amueller commented on #4144
Thanks for the report :)

[2015-01-22 16:11] amueller commented on #4143
I don't think we need to break everything for this to be implemented, but I haven't had time to look into it yet.

[2015-01-22 16:13] GaelVaroquaux commented on #4143
If you can figure a path forward it would be great. It might require as a
temporary solution somewhat wacky code, but we can have it temporarily
in. What matters to me is that the API and the code in 1.0 are clean.

[2015-01-22 16:13] amueller commented on #4145
Which dimension do you want shuffled? Always the first one?
I guess this is an easy fix. I was not entirely certain this was public API, we really need to split the ``utils`` module...

[2015-01-22 16:20] amueller commented on #4145
Actually, this should work in master. Which version of scikit-learn do you have?

[2015-01-22 16:23] cancan101 commented on #4145
`0.15.1`

[2015-01-22 16:26] amueller commented on #4145
The fix is unfortunately not included in any release yet.

[2015-01-22 16:26] #4145 closed

[2015-01-22 16:34] GaelVaroquaux commented on #4143
I think that we should do a sprint on the road to 1.0. July?

[2015-01-22 16:35] amueller commented on #4143
I'm up for it :)

[2015-01-22 16:58] amueller commented on #4135
The docs say we are using MLE, which I think is the standard way to do it.
Do you have a reference of NB using the unbiased estimate? I think we should rather use the standard algorithm.

[2015-01-22 17:36] mathDR commented on #4135
Hey Andreas, after reviewing them I saw that too.  I was reusing a variance
function that I wrote and couldn't match the outputs.  I notice also that
numpy uses MLE in np.var() as well.

If this is the standard, I have no qualms.

Thanks.

Dan

On Thu, Jan 22, 2015 at 8:59 AM, Andreas Mueller <notifications@github.com>
wrote:

[2015-01-22 17:49] amueller commented on #4135
Ok, closing then. Feel free to reopen if there is evidence of this being better / more standard.

[2015-01-22 17:49] #4135 closed

[2015-01-22 18:36] mathDR commented on #4135
Will do.  Thanks.

On Thu, Jan 22, 2015 at 9:49 AM, Andreas Mueller <notifications@github.com>
wrote:

[2015-01-22 18:38] amueller commented on #4102
Actually it is fixed in scipy 13.1 while @vineetp13 has 0.13.0b1, right? So yes, do update scipy.

[2015-01-22 21:32] #4068 closed

[2015-01-22 21:38] amueller commented on #4016
Windows, which seems to be the issue.... @ogrisel we do run continuous integration on appveyor, right? Btw, where is the output of that?

[2015-01-22 21:47] amueller commented on #4007
This is caused by the svmlight tests:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/datasets/tests/test_svmlight_format.py#L111
Not sure why ``NamedTemporaryFile`` doesn't delete.

[2015-01-22 21:47] amueller commented on #4100
duplicate of  #4007

[2015-01-22 21:47] #4100 closed

[2015-01-22 22:24] amueller commented on #3849
I don't think we want to backport ``searchsorted`` for this special case. There is a very explicit error and it is super easy to work around it (don't use unicode labels). Does anyone mind if I close?

[2015-01-22 22:35] #3831 closed

[2015-01-22 22:37] amueller commented on #3813
Also see #4062

[2015-01-22 22:42] amueller commented on #3743
Closing as no reply. @nsaberi feel free to reopen with additional details.

[2015-01-22 22:42] #3743 closed

[2015-01-22 22:51] amueller commented on #3741
Sorry, I'm not sure I understand the issue.
What do you mean by ``all elements fixed along the first axis even if the staged predictions are different``?
Can you give a minimal example?

I tried this
[code]
[code]

[2015-01-22 23:01] amueller commented on #3689
Fixed in  #4049.

[2015-01-22 23:01] #3689 closed

[2015-01-22 23:01] pprett commented on #3741
I understand that not making a defensive copy can be annoying. I like the copy=False default for all ``staged_*`` methods and we can deprecate it in the near future and set it to True as default.

[2015-01-22 23:01] shoyer commented on #3741
@amueller Try this:
[code]
[code]

(your example used GradientBoostingClassifier, not GradientBoostingRegressor)

[2015-01-22 23:03] amueller commented on #3648
This is a bug in scipy that was recently fixed by @ogrisel IIRC. Unfortunately there is not much more we can do now.

[2015-01-22 23:03] #3648 closed

[2015-01-22 23:09] amueller commented on #3741
Argh, typo, thanks @shoyer.
I think the ``staged`` methods are for debugging only, so always copying should be fine.
I don't think we need to add an argument. No-one in their right mind should rely on these being the same objects!

[2015-01-22 23:14] amueller commented on #3650
Ideally we would use a gradient base optimizer, too.... this definitely needs work....

[2015-01-22 23:16] amueller commented on #3605
Closing for lack of feedback. @mkneierV feel free to reopen :)

[2015-01-22 23:16] #3605 closed

[2015-01-22 23:18] amueller commented on #3550
We'll close the issue once the PR is merged. Sorry for the very slow reply.

[2015-01-22 23:23] amueller commented on #3440
@arjoly can you comment on the 64bit sparse matrices? What is the issue there again? Otherwise I'd close this as I think the current state is pretty decent.

[2015-01-22 23:24] amueller commented on #4140
Duplicate of #3389.

[2015-01-22 23:24] #4140 closed

[2015-01-22 23:26] amueller commented on #3367
Sorry for the long silence. If you are still interested a fix would be very welcome.

[2015-01-22 23:30] amueller commented on #3186
Yes, this sounds like a bug. Sorry for the lack in reply. A fix would be welcome.

[2015-01-23 00:20] jnothman commented on #4143
#3855 could potentially enable transforming y when training, but doesn't consider the inverse transformation upon prediction. When we consider such inverse transformations, are we concerned about regression only? If we're concerned about classification problem transformations, I think there's the additional concern that while the transformation for `fit` and `predict` might be straightforward, it

[2015-01-23 00:28] jnothman commented on #3440
Sparse matrices rows with intp-like types (csr/c/bsr indices, indptr; coo col, row) were constrained to a 32 bit int until very recently. If the user has a supporting scipy version, and we only perform scipy public API things, 64-bit index support should be seamless. If we perform our own cython ops, or if we use explicit dtyping, things will break with unhelpful error messages. So it's best if we

[2015-01-23 03:03] amueller commented on #3440
Right. That should actually not be too hard.

[2015-01-23 03:04] amueller commented on #3440
I think I will make that a new issue, though, as that is more about tighter testing.

[2015-01-23 03:05] amueller opened #4149 "Test that sparse matrix with 64bit index are supported"
Or give a sensible error message....
Basically adding a new common test to the sparse matrix test that checks for the other index type and see what happens.

[2015-01-23 03:05] amueller commented on #3440
#4149

[2015-01-23 03:09] jnothman commented on #4149
For some background:

Sparse matrices rows with intp-like types (csr/c/bsr indices, indptr; coo col, row) were constrained to a 32 bit int until very recently. If the user has a supporting scipy version, and we only perform scipy public API things, 64-bit index support should be seamless. If we perform our own cython ops, or if we use explicit dtyping, things will break with unhelpful error messag

[2015-01-23 03:30] amueller commented on #4149
Once #4136 is merged, they cover quite a bit ;) - obviously not everything though.

[2015-01-23 03:35] amueller commented on #3020
Maybe just document the current behavior?

[2015-01-23 03:41] amueller commented on #2913
moved here: https://github.com/joblib/joblib/issues/181

[2015-01-23 03:41] #2913 closed

[2015-01-23 03:42] amueller commented on #2915
@johnrc sorry for the late reply, not critical at all, but quite odd.

[2015-01-23 03:45] amueller commented on #2889
Closing because of lack of feeback and it is probably a known issue that is fixed in newer joblib.

[2015-01-23 03:45] #2889 closed

[2015-01-23 03:52] amueller commented on #2786
the second one is not an issue, the third one can not be avoided as we don't know the support of the distribution.

[2015-01-23 03:52] #2786 closed

[2015-01-23 03:54] amueller commented on #2821
Sorry for the slow reply. Maybe we should add a warning. Or try to fix the issues ;)

[2015-01-23 04:03] amueller commented on #2601
Oh man, one year for me to reply? I'm sorry. I have no idea how to solve the issue. I would rather change it but that would break everyones models :-/

[2015-01-23 04:06] amueller commented on #2548
closing as this is correctly documented.

[2015-01-23 04:06] #2548 closed

[2015-01-23 04:07] amueller commented on #2520
Sorry for the super slow response cycle. We definitely have to look into this. I'm not sure there is currently great support for multiple hyperparameters and this needs a definite refactoring.

[2015-01-23 04:09] amueller commented on #2477
Closing this as now stable is 0.15.2 and has the fix ;)

[2015-01-23 04:09] #2477 closed

[2015-01-23 04:12] amueller commented on #2403
If anyone has time, it would be good to go through the issues again and see which were fixed in #3824

[2015-01-23 04:24] amueller commented on #2070
Fixed in #4029.

[2015-01-23 04:24] #2070 closed

[2015-01-23 04:52] jnothman commented on #4072
As @amueller pointed out on another thread, this inconsistency is reported in #1400.

Except when the number of queries is < 2, for which I think it's reasonable for the user to assume that they'll get back an array; and single-point queries are something we might expect.

[2015-01-23 05:33] jnothman commented on #4072
As @amueller pointed out on another thread, this inconsistency is reported in #1400.

Except when the number of queries is < 2, for which I think it's reasonable for the user to assume that they'll get back an array; and single-point queries are something we might expect.

Ping @MechCoder as this discussion seems to be happening in 2+ places.

[2015-01-23 06:59] GaelVaroquaux commented on #4072
+1

[2015-01-23 07:45] arjoly commented on #3440
Is there reason to keep [as_float_array](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/validation.py#L64)

[2015-01-23 09:40] sergiopasra commented on #3648
Seems fixed in scipy 0.14.1, thank you

[2015-01-23 10:39] hsalamin opened #4152 "RuntimeWarning: overflow encountered in exp"
Hello,

I noticed a overflow warning when training  a GradientBoostingClassifier, when using sklearn 0.15.2. This warning is also present in the dev version. I have created a patch (simply use utils.fixes.expit) and will do a pull request shorly.

The patched version suppress the warning. To test the patch, I ran the two version of the code against my data and obtain the same results.

Hugues Sala

[2015-01-23 10:58] larsmans commented on #2477
W00t!

[2015-01-23 11:03] asifhj commented on #1495
Resolved by install

pip install scipy

I avoided using specific version, earlier I was using latest version of scipy that might be the reason I was getting error.

[2015-01-23 11:10] NelleV commented on #2477
Thanks!

[2015-01-23 12:09] agramfort commented on #3020
one option would be to rename normalize to standardize or scale and
deprecate normalize and then unify all estimators.

[2015-01-23 12:20] bthirion opened #4154 "TSNE spits an error when n_components=1"
Sorry, I haven't taken time to investigate it in detail

import numpy as np
from sklearn.manifold import TSNE
x = np.random.randn(100, 10)
TSNE(n_components=2).fit_transform(x)
TSNE(n_components=1).fit_transform(x)

[2015-01-23 14:57] ogrisel commented on #1495
+1 for at least improving the error message triggered by `sklearn/__init__.py`.

[2015-01-23 15:36] amueller commented on #3440
Actually, probably not.

[2015-01-23 16:33] larsmans commented on #4152
Fixed by #4153.

[2015-01-23 16:33] #4152 closed

[2015-01-23 19:22] amueller commented on #3020
standardize actually sounds good :)

[2015-01-23 19:29] amueller commented on #4072
Ah, I didn't find this thread when I was looking at the old issues, thanks @jnothman.

[2015-01-23 19:39] amueller commented on #3440
There is a lot of logic in that one, and I'm not sure I want to include this all in the ``check_array`` function....

[2015-01-23 19:43] amueller commented on #3440
Maybe that is a good candidate to fix after #4136 has been merged. A problem is that it is a lot used in function interfaces, which are not tested in the common tests :-/

[2015-01-23 21:14] amueller commented on #4154
alpha is a ``self.n_components - 1.0`` with results in a distribution with zero degrees of freedom and a lot of devisions by zero.

[2015-01-23 21:20] amueller commented on #4154
I don't see this part anywhere in the reference implementation :-/

[2015-01-23 21:23] amueller commented on #4154
Maybe @cemoody or @ AlexanderFabisch can help.

[2015-01-23 21:28] amueller commented on #3728
The error you currently get was fixed in newer versions of scipy.

[2015-01-23 21:31] agramfort commented on #3020
looks like it's going to be a fun deprecation cycle...

[2015-01-23 21:35] amueller commented on #3602
This doesn't seem to be an issue with ``n_values='auto'``. Actually it works for all other dtypes except ``np.float16``.
I believe it was fixed in scipy master here: https://github.com/scipy/scipy/issues/2481

If you still have the issue with scipy master, feel free to reopen.

[2015-01-23 21:35] #3602 closed

[2015-01-23 21:37] amueller commented on #3721
It looks like it can be.

[2015-01-23 21:37] #3721 closed

[2015-01-24 14:22] #4007 closed

[2015-01-24 15:21] mblondel commented on #1190
Fixed by #4116.

[2015-01-24 15:21] #1190 closed

[2015-01-24 17:37] amueller commented on #4099
Fixed in $4148

[2015-01-24 17:37] #4099 closed

[2015-01-24 22:37] AlexanderFabisch commented on #4154
That's a bug. I never really tested with `n_components=1`. I will make a pull request in a minute.

[2015-01-24 22:39] AlexanderFabisch commented on #4154
The idea is from this paper: http://lvdmaaten.github.io/publications/papers/AISTATS_2009.pdf

It should give better results for `n_components > 2`.

[2015-01-25 15:33] ragv commented on #4144
@amueller I tried to investigate and the `sample_weight` seem to be handled by the svm.c directly... Could you guide me on how I should proceed on debugging this issue?

[2015-01-25 21:04] amueller commented on #4144
Have you checked for any possible conversions or multiplications or normalizations in our code?
Other than that, we can check against the executable libsvm.

[2015-01-26 05:43] #4098 closed

[2015-01-26 14:21] ragv commented on #406
@amueller

Could we test that by fit ( with x1 ) --> fit ( with x2 ) --> fit ( with x1 ) and making sure 1 and 3 are equal and 1, 2 are not?

[2015-01-26 15:35] amueller commented on #406
Yeah, that would be possible test, not super strong, though.
The other would be ``.fit(X1, y1).fit(X2, y2) == lfit(X3, y3).fit(X2, y2)``

[2015-01-26 15:46] #3186 closed

[2015-01-26 16:12] ragv commented on #406
thanks for the response!

yeah that seems better... will open a PR...

[2015-01-26 22:09] bukzor opened #4164 "can't setup.py install without numpy"
At minimum, this could use a better error message. Is it not possible to have a project that depends on sklearn and installs all its dependencies to a virtualenv in a single pass? Must I do one pass to install numpy and everything else, and a second pass just to install sklearn?

[code]

[2015-01-26 22:12] amueller commented on #4164
What is your current install setup? Scikit-learn requires numpy and if you install everything together, it should work fine.

[2015-01-26 22:15] GaelVaroquaux commented on #4164
Agreed.

How are you installing things? If you are compiling from source, you do
need numpy installed.

I would be surprised that scipy behaves different.

[2015-01-26 22:16] amueller commented on #1495
Wouldn't the "right" way be to add scipy to the ``requirements.txt``. I guess we don't do that because we don't want to make people pip install numpy? Also see #4164

[2015-01-26 22:17] amueller commented on #4164
Scipy does behave differently:
https://github.com/scipy/scipy/blob/master/setup.py#L190

[2015-01-26 22:18] amueller commented on #1495
@larsmans we could use build-requires as scipy does, right:
https://github.com/scipy/scipy/blob/master/setup.py#L190

[2015-01-26 22:18] GaelVaroquaux commented on #1495
It would probably lead to some horrible message crashing because of the
lack of a fortran compiler. I'd much rather have people that do not have
scipy installed go and read the install instructions (ours, or scipy's)
to see that it is strongly advised not to install scipy from source.
Relying on the automatic dependency crawling actually only works for
advanced users who has a sane build environme

[2015-01-26 22:21] GaelVaroquaux commented on #4164
Hum, interesting.

There are pros and cons for doing it this way for numpy. The pro is that
it probably solves the OPs problem. The con is that more people are going
to be hand compiling numpy instead of installing good packages, and thus
be left with horrible linear algebra package.

My hunch would be to leave it the way it is, but I see the point of the
clever trick used in scipy's setup.py.

[2015-01-26 22:22] bukzor commented on #4164
Demo:

[code]

output:

[code]

[2015-01-26 22:30] GaelVaroquaux commented on #4164
Maybe we could make this demo work, but chances are that you would have a
really lousy install of numpy and scikit-learn. The problem is that numpy
wouldn't be linked to good linear algebra packages, unless you know what
you are doing, and you have installed the headers of these before. But
that last operation is much harder than getting the pip/python part right.

Really, you should be building f

[2015-01-26 22:53] amueller commented on #4164
You are right, installing this way really is a bad idea in most cases...

[2015-01-26 22:56] amueller commented on #1495
How about in setup.py we do a
[code]

[2015-01-26 22:59] GaelVaroquaux commented on #1495
That sounds good (with a good error message, probably pointing to online
docs with a summary of the discussion that we just had).

[2015-01-26 23:00] amueller commented on #1495
Exactly.

[2015-01-26 23:57] jnothman commented on #1495
Possibly even without the error traceback would be better, i.e. print to
stderr and exit -1.

On 27 January 2015 at 10:00, Andreas Mueller <notifications@github.com>
wrote:

[2015-01-26 23:59] GaelVaroquaux commented on #1495
No: errors are mean exactly for this: to be captured elsewhere. An
expection is a machine understandable error message, unlike something
printed to stderr.

[2015-01-27 00:02] jnothman commented on #1495
Mhmmm. I guess it is actually an ImportError and I wasn't thinking of the
case where the first use is through some other software, which is, of
course, common. I stand corrected.

On 27 January 2015 at 10:59, Gael Varoquaux <notifications@github.com>
wrote:

[2015-01-27 00:14] amueller commented on #3728
@larsmans should we close this or try to reproduce ourselves?

[2015-01-27 02:22] tkuboi opened #4166 "2 failures in the nose test"
[code]

[2015-01-27 04:13] 8evers commented on #4133
I was wondering about this too there is no way to put new data through the existing model ie transform / predict.  So although I can create very nice clusters with T-SNE, I cannot use the model to embed new data and use those values for prediction.

Looking in more depth at the algorithm and code it may not be possible to embed new values with an existing model.  Could someone confirm??

[2015-01-27 08:34] neuvirth commented on #4143
I would like to suggest below the following modification to the Pipeline implementation (which I called here PieplineXY), which supports transformers that return both X and y in fit_transform.

"""
The :mod:`sklearn.PipelineXY` module implements utilities to build a composite
estimator, as a chain of transforms and estimators.
"""
# Author: Edouard Duchesnay
#         Gael Varoquaux
#         Virg

[2015-01-27 10:22] jnothman opened #4167 "partial_fit (incremental/online learning) support for multiclass classifiers"
The multiclass meta-estimators in sklearn.multiclass do not currently support `partial_fit`, but I think they could easily, where the base estimator does.

[2015-01-27 10:26] jnothman commented on #4143
It's very difficult to see what you mean when you post the code this way. But it's probably not the way to go... I don't think having `transform` sometimes return a tuple is going to be a pleasant way to deal with this API problem.

[2015-01-27 10:28] GaelVaroquaux commented on #4143
Indeed. A signature of a method (input type and return type) should be
independent of the context in which it is called, or the object.

[2015-01-27 10:30] jnothman commented on #4143
To that end, we're explicitly going in the opposite direction to force
clusterers to allow the user to pass an ignored `y` parameter when training
(see #4064)

On 27 January 2015 at 21:28, Gael Varoquaux <notifications@github.com>
wrote:

[2015-01-27 10:32] GaelVaroquaux commented on #4143
And that is a Good thing :).

With insight, I believe that it was a mistake to have fit signatures
accept either "X" or "X, y".

[2015-01-27 10:33] neuvirth commented on #4143
The only reason it's doesn't always return both X and Y is to support the current implementation. As can be clearly seen from the various questions here, very often both of them need to be processed together.

[2015-01-27 10:35] GaelVaroquaux commented on #4143
Agreed. But we need a smooth way forward to avoid breaking everybodys
code. It has been discussed to add another method, (in the issue linked
before) named different, and deprecate this one.

[2015-01-27 10:40] jnothman commented on #4143
Except that sometimes the transformer will change not X nor y but
sample_weight, and then what?

On 27 January 2015 at 21:35, Gael Varoquaux <notifications@github.com>
wrote:

[2015-01-27 10:42] GaelVaroquaux commented on #4143
Indeed, we are back to the fact that we need to be able to take dict of
arrays as y.

That somewhat summarize why I think that these problems are hard, and
that we need a week-long sprint to addresse them in July.

Joel, any chance you make it to Europe this summer?

[2015-01-27 10:48] jnothman commented on #4133
It's not intended to be inductive, i.e. generalise to new samples. But
other estimators in scikit-learn that are similarly transductive still
support fit.

On 27 January 2015 at 15:13, 8evers <notifications@github.com> wrote:

[2015-01-27 10:49] GaelVaroquaux commented on #4133
I thought that the new Barn-Hut solver could to that.

[2015-01-27 10:54] neuvirth commented on #4143
good point, although in my opinion less urgent than the not-processing-Y issue. Not sure I follow: you suggest to pass the weights as part of Y? why not pass a third argument with this dict? I believe Y has it's unique role in ML..

[2015-01-27 11:19] jnothman commented on #4143
All I mean is that a tuple is not sufficient.

On 27 January 2015 at 21:54, neuvirth <notifications@github.com> wrote:

[2015-01-27 12:27] larsmans commented on #4166
Which versions of scikit-learn, scipy?

[2015-01-27 12:31] larsmans commented on #4149
I haven't seen applications that require 64-bit indices for sparse matrices yet, so I'd say go for the good error message first. Supporting 64-bit indices requires a lot of code to be built twice.

[2015-01-27 16:09] ragv commented on #4167
You mean for all the three OvO, OvR and ECOC classifiers right?

[2015-01-27 16:14] ragv commented on #4166
Probably related to #1968 ( and #4102 )

[2015-01-27 18:14] otakar-smrz opened #4168 "Mahalanobis distance in covariance.EmpiricalCovariance is wrong"
The Mahalanobis distance is correctly defined in https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neighbors/dist_metrics.pyx#L623. However, the mahalanobis method of covariance.EmpiricalCovariance https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/covariance/empirical_covariance_.py#L258 is wrong for two reasons:

1. The current implementation returns the *square of t

[2015-01-27 18:30] otakar-smrz opened #4170 "Contamination and threshold should be part of covariance.OutlierDetectionMixin.predict"
The settings of contamination and threshold are currently possible only at the **init** of the covariance.EllipticEnvelope and covariance.OutlierDetectionMixin:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/covariance/outlier_detection.py#L37
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/covariance/outlier_detection.py#L168

These may be the precomputed defau

[2015-01-27 18:45] glouppe commented on #4170
In general, you can change the value of a parameter through the `set_params` method. E.g., `outlier_detector.set_params(contamination=new_value)`.

[2015-01-27 19:03] otakar-smrz commented on #4170
Thanks, but well, that will not change the threshold, which is non-trivially coupled with contamination, and will not save the user from a new call to the EllipticEnvelope.fit method and the implied MinCovDet.fit computation:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/covariance/outlier_detection.py#L181

[2015-01-27 19:12] amueller commented on #4168
Thanks for the report. Ping @VirgileFritsch.

[2015-01-27 19:33] amueller commented on #4170
I guess we could make ``threshold`` a property... we could also make it a function ``get_threshold()`` but that would change public API.

[2015-01-27 20:28] amueller commented on #2409
Closing for lack of feedback.

[2015-01-27 20:28] #2409 closed

[2015-01-27 20:36] jnothman commented on #4167
I dunno bout ECOC

[2015-01-27 20:38] amueller commented on #4167
Yeah that one is not really all that useful.

[2015-01-27 20:41] agramfort commented on #4168
looks like fair critic. Could you open a PR?

[2015-01-27 21:11] amueller commented on #3266
@cbmeyer what where your gamma and C? (sorry for the very slow reply)

[2015-01-27 21:28] larsmans commented on #4166
Closing as duplicate of #4102 (thanks @ragv!)

[2015-01-27 21:28] #4166 closed

[2015-01-27 21:36] larsmans commented on #4154
Fixed by merging #4156.

[2015-01-27 21:36] #4154 closed

[2015-01-27 21:49] bthirion commented on #4154
You're too quick for me to follow... Many thanks, guys.

[2015-01-27 22:48] amueller commented on #3266
Also reproducing with a smaller dataset would be helpful, this one is huge (which is why I didn't do a grid-search ;)

[2015-01-27 23:05] amueller commented on #3389
Wait, are we grid-searching the ``gamma`` parameter of a linear SVM here? That doesn't explain the error in accuracy really but ... it seems somewhat odd...

[2015-01-27 23:13] tkuboi commented on #4102
I am still having the same issue with
scipy version = '0.15.1'
numpy version='1.9.1'

[2015-01-28 01:46] amueller commented on #4102
@tkuboi are you sure that is the scipy version imported in the test? Which version of scikit-learn are you using?

[2015-01-28 01:48] tkuboi commented on #4102
Can you tell me how I can check the version of scikit-learn?

Date: Tue, 27 Jan 2015 17:46:49 -0800
From: notifications@github.com
To: scikit-learn@noreply.github.com
CC: toshikuboi@gmail.com
Subject: Re: [scikit-learn] nosetest failure:assertionerror (#4102)

@tkuboi are you sure that is the scipy version imported in the test? Which version of scikit-learn are you using?

—
Reply to this email di

[2015-01-28 01:50] amueller commented on #4102
``python -c "import sklearn; print(sklearn.__version__)"``

[2015-01-28 07:04] shoyer opened #4172 "KDTree documentation seems to be missing"
The [nearest neighbors documentation](http://scikit-learn.org/stable/modules/neighbors.html#kdtree-and-balltree-classes) instructs to me "Refer to the [KDTree](http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KDTree.html#sklearn.neighbors.KDTree) and [BallTree](http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.BallTree.html#sklearn.neighbors.BallTree) class docum

[2015-01-28 08:15] agramfort commented on #1649
closing as LDA code was recently improved and refactored. Reopen if needed.

[2015-01-28 08:15] #1649 closed

[2015-01-28 10:17] jnothman commented on #4172
This was recently fixed. See
http://scikit-learn.org/dev/modules/generated/sklearn.neighbors.KDTree.html#sklearn.neighbors.KDTree

On 28 January 2015 at 18:04, Stephan Hoyer <notifications@github.com> wrote:

[2015-01-28 10:17] #4172 closed

[2015-01-28 11:35] #3389 closed

[2015-01-28 12:05] otakar-smrz commented on #4168
I have no idea how to open a pull request in this setup :) I have not implemented the proposed changes, and have no code to merge. Sorry ...

[2015-01-28 13:51] xbhsu commented on #4050
I can take this on if this is still an open issue.

[2015-01-28 14:13] cbmeyer commented on #3266
The C value is 94.1605007514 and gamma value is 0.00456579534043.  I'll see if I can put together a smaller dataset that will reproduce the issue.

[2015-01-28 16:19] amueller commented on #4050
Yes, please go for it!

[2015-01-28 17:52] amueller commented on #4132
The current API actually violates what is written in the dev docs ``However, to make it possible to use the estimator as part of a pipeline that can mix both supervised and unsupervised transformers, even unsupervised estimators are kindly asked to accept a y=None keyword argument in the second position that is just ignored by the estimator.``

[2015-01-28 18:07] amueller opened #4173 "Underscore missing from threshold in outlier detection"
The ``treshold`` parameter in the covariance module should have a trailing underscore as it is estimated during ``fit``...

[2015-01-28 18:13] amueller commented on #4168
1.  might only be a documentation, but I'm not sure. The [example](https://github.com/scikit-learn/scikit-learn/blob/master/examples/covariance/plot_mahalanobis_distances.py#L108) actually takes the square root.
The question is whether the [outlier detection](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/covariance/outlier_detection.py#L65) expects squared or non-squared values.

[2015-01-28 18:24] otakar-smrz commented on #4168
@

[2015-01-28 18:44] otakar-smrz commented on #4168
@amueller If something is called "Mahalanobis distance", then I would expect it to follow the generally accepted definition, such as http://en.wikipedia.org/wiki/Mahalanobis_distance. Then, the examples need not take the np.sqrt anymore. The outlier detection method does not depend on this being changed.

However, I checked the docs of R, and their **mahalanobis** function returns "the squared Mah

[2015-01-28 18:54] amueller commented on #1764
I agree. Maybe @alextp can confirm. Otherwise ``sz[self.n_components]`` is not included in the sum.
Maybe we should write
[code]
but that is also not super readable.

[2015-01-28 18:55] shoyer commented on #4172
Thanks!

[2015-01-28 19:01] amueller commented on #2454
This looks pretty bad :-/

[2015-01-28 19:05] amueller commented on #4168
I just would like to double check that the algorithms that use the function actually want squared mahalanobis distances. Maybe @VirgileFritsch (or anyone else) to confirm.

[2015-01-28 19:07] amueller commented on #2069
Sorry, what is ``l``? and which version of scipy are you using?

[2015-01-28 19:12] amueller commented on #2069
Also, I disagree. The spectral embedding works with the normalized graph laplacian, see this tutorial: http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.165.9323&rep=rep1&type=pdf (cited in the docs). Which definition of spectral embedding are you using?

[2015-01-28 19:18] rasbt commented on #4122
Also just noticed that the `predict` of the `PLSRegression` returns an `[n,1]` array when used with an 1-dimensional predictor variable instead of an `[n,]` array like the other estimators for regression and classification (not a big thing, but it requires an e.g., .ravel() when used with plotting packages like seaborn). Maybe this should be adjusted by returning `y.ravel()` in `predict`?

[2015-01-28 19:26] amueller commented on #4122
But then the output is not really consistent over different ``n_features``. And I'm not sure the method is useful for ``n_features==1``.

[2015-01-28 19:41] rasbt commented on #4122
sorry, my bad, I didn't mean predictor but target variable. E.g.,

    X = np.array([
       [ 8.        ,  6.1180972 ,  5.39362755],
       [ 4.        ,  4.4543473 ,  4.17438727],
       [ 4.        ,  4.79579055,  4.70048037],
       [ 4.        ,  4.49980967,  4.26267988],
       [ 4.        ,  4.57471098,  4.47733681]])
    y = np.array([1.,1.,2.,2.,3.])

    from sklearn.pls import PLSRegres

[2015-01-28 19:45] amueller commented on #4122
Sorry I meant ``n_targets`` not ``n_features``. Just got my first coffee. The question is do we want to be consistent with other estimators or do we want to be consistent with other ``n_targets``. Actually I think multi-target estimators do return ``(n_samples, n_targets)`` even if ``n_targets==1``.

[2015-01-28 19:47] rasbt commented on #4122
Okay, I see, in this case it would maybe make sense to leave it as is.

[2015-01-28 19:49] amueller commented on #2356
@davesque your bandwidth is ``0.0``. Still the error is not great.

[2015-01-28 21:17] amueller commented on #2356
I agree with @jbohg  in that we should use ``round``, see below for illustration:
![mean_shift_bin_seeding](https://cloud.githubusercontent.com/assets/449558/5946612/20ce4d4a-a705-11e4-988d-5756595dbc5f.png)

That does not fully solve the problem, though. The reason this breaks in high dimensions is the curse of dimensionality (and our ``estimate_bandwidth`` heuristic). We estimate the bandwidth b

[2015-01-28 23:03] amueller commented on #2454
My explanation for this is: the model assumes a N(0, 1) prior on the means, which is not reasonable for your data. To make this work, the data should be scaled to have zero mean and unit variance. Then the result would be much more sensible.

I have to little experience in these kind of models to say what a good solution would be.
Possible candidates:
- prescale the data (and adjust precision and

[2015-01-28 23:48] amueller commented on #2454
Thinking about it, I'm not sure if 1000 samples shouldn't be enough to overcome the prior... hum...

[2015-01-29 00:46] mblondel commented on #4122
IMO, if y has shape (n_samples, 1) when you do fit(X, y), predict should
return the same shape. This way you can increase the number of targets
later without changing your program. Or you can apply the same program to
datasets with different number of targets (including only one).

[2015-01-29 00:54] amueller commented on #2454
The derivation of the mean http://scikit-learn.org/dev/modules/dp-derivation.html#the-updates is quite different from the one listed in Bishop's or Murphy's book. In particular, in the books the variational mean parameters don't depend on the variational precision parameters, which they do in the derivation in the docs (which is odd).
I'm a bit tempted to replace the implementation by a close corr

[2015-01-29 01:24] rasbt commented on #4122
If you are willing to break the established multi-target estimator conventions, I would be +1 for a shape_in == shape_out for user convenience.

I think the most common use case would be something like

    X_train, X_test, y_train, y_test = train_test_split(df[cols], df['target'], test_size=0.3)

which would yield a `[n_samples,]`-shaped arrays for the `y`s.
Then it would maybe be slightly more c

[2015-01-29 02:29] tkuboi commented on #4102
python -c "import sklearn; print(sklearn.__version__)"
0.15.2

python -c "import scipy; print(scipy.__version__)"

0.14.0

[2015-01-29 03:30] amueller commented on #4102
That looks good and should be working.

can you also provide ``which python`` and ``head `which nosetests``` please?

[2015-01-29 04:32] tkuboi commented on #4102
head `which nosetests`
#!/usr/bin/python

# -*- coding: utf-8 -*-
import re
import sys

from nose import run_exit

if __name__ == '__main__':
    sys.argv[0] = re.sub(r'(-script\.pyw|\.exe)?$', '', sys.argv[0])

MacBook-Air:$ which python
/Library/Frameworks/Python.framework/Versions/2.7/bin/python

MacBook-Air:$ python --version
Python 2.7.6

[2015-01-29 04:45] amueller commented on #4102
hum... so nose is using ``/usr/bin/python`` and python is using ``/Library/Frameworks/Python.framework/Versions/2.7/bin/python``. Do they point to the same?
And more importantly, what is
``/usr/bin/python -c "import sklearn; print(sklearn.__version__)"``

[2015-01-29 07:25] tkuboi commented on #4102
MacBook-Air:~$ /usr/bin/python -c "import sklearn; print(sklearn.__version__)"
0.15.2

[2015-01-29 09:08] MechCoder commented on #4015
Fixed by #4046

[2015-01-29 09:08] #4015 closed

[2015-01-29 10:23] jnothman commented on #4015
Thanks for finding and fixing this @MechCoder!

On 29 January 2015 at 20:08, Manoj Kumar <notifications@github.com> wrote:

[2015-01-29 10:34] GaelVaroquaux commented on #2454
I am not very attached to our implementation. It has given us a lot of
problems in the past.

[2015-01-29 10:40] MechCoder commented on #4015
Thanks for reviews. Now back to the Pull Request which I was working on (which I unfortunately can't recall what it was all about) :P

[2015-01-29 11:11] #4173 closed

[2015-01-29 14:10] amueller commented on #1400
Fixed in #4046 by always returning an object array.

[2015-01-29 14:13] amueller commented on #4102
Sorry, typo, I meant

 /usr/bin/python -c "import scipy; print(scipy.__version__)"

[2015-01-29 14:15] amueller commented on #4015
@MechCoder which one was that?

[2015-01-29 15:28] hbredin opened #4178 "Convergence check in `GMM.fit`"
It seems to me that `GMM.fit` convergence check could benefit from some kind of normalization with regards to the number of samples in `X`.

Here is the current status:

[code]

Yet, `abs(log_likelihood[-1] - log_likelihood[-2])` strongly depends on the number of samples in `X`.

[code]

Both mixtures have reached an identical state.
However, in the current implementation, the mixture trained with

[2015-01-29 15:37] amueller commented on #4178
Maybe mean is more appropriate.
So does the current implementation run significantly more iterations on the dataset that is twice the size?

[2015-01-29 15:52] hbredin commented on #4178
It is definitely faster with the smaller dataset (but it could be because the very fact that the dataset is smaller and demands less computation):
[code]

As far as the number of iterations is concerned, it takes 3 iterations to converge with the small dataset, and 7 iterations for the large one:

[code]

[2015-01-29 15:54] amueller commented on #2507
Unfortunately the data is not available any more.
I tried reproducing with something like this:

[code]
I'm not sure if this was the idea.
This actually just runs and never finishes as far as I can tell.

[2015-01-29 15:56] amueller commented on #4178
Interesting, the speed is nearly the same even though the number of iterations is twice as high. Maybe because it is so fast anyhow. I think using the mean would be good, but I'm not sure about how to adjust the default ``thresh``.

[2015-01-29 16:00] hbredin commented on #4178
I do not know how to adjust this default `thresh` either...

How was the default `thresh` selected in the first place?
Did one rely one some kind of unsupervised clustering benchmark?

[2015-01-29 16:03] amueller commented on #2507
The out of bounds issue seems to have been tackled here: #3147.

[2015-01-29 16:03] hbredin commented on #4178
@clbarras any idea?

[2015-01-29 16:29] mjbommar commented on #2507
Just today had issues with a client on 0.16-git where fit, transform gives
very different results than fit_transform.  I think some regressions or
issues may have been introduced in the recent weighting.

Confirmed regression testing between 0.15.2 and HEAD, but won't have time
to prepare clean test case without client data until later this week.
Maybe someone can look?

Thanks,
Michael J. Bommari

[2015-01-29 16:37] amueller commented on #2507
I am just looking at the code. I don't see how this could happen.
I have
[code]

[2015-01-29 16:41] amueller commented on #2507
Just masking out zero-weight points doesn't work with the current implementation of ``fit_transform``. I think we need to handle them separately in the cython.

[2015-01-29 16:47] amueller commented on #4178
You can try on some of the classification datasets and see if the result is close to k-means in ARI if you like. Otherwise I see two options:
1. Change the default value of ``thresh`` (with a warning).
2. Deprecate ``thresh``, introduce a new parameter ``tol`` (which I think is the standard name of the stopping criterion) with the new meaning.

Both need a new value, though. I'd probably think som

[2015-01-29 17:19] amueller opened #4180 "L1 feature selection docs confusing"
Here: http://scikit-learn.org/dev/modules/feature_selection.html#selecting-non-zero-coefficients
Mentions "selecting non-zero coefficients via transform" in "LinearSVC", "LogisticRegression" and "Lasso". Lasso doesn't have a transform, the other two use the median coefficient for feature selection, not being nonzero.

[2015-01-29 19:20] amueller commented on #3266
I used these parameters and could reproduce a lot of duplicate probability estimates.
Then I subsampled by a factor of 100 and observed the same duplicate values. Then I ran libsvm and it gave me similarly many duplicate values.
So I conclude it is the platt scaling, and there is no difference between libsvm and sklearn.
Can you provide a single train/test set split that gives very different resul

[2015-01-29 20:23] amueller commented on #1637
I agree with @HapeMask, I think this looks ok. I fixed it in #4182.

[2015-01-29 21:34] jnothman commented on #1400
I don't think this was fixed in #4046 explicitly, was it? I think we
decided to handle it separately.

On 30 January 2015 at 01:10, Andreas Mueller <notifications@github.com>
wrote:

[2015-01-29 21:35] jnothman commented on #1400
Certainly, that PR didn't touch binary_tree.pxi

On 30 January 2015 at 08:34, Joel Nothman <joel.nothman@gmail.com> wrote:

[2015-01-29 21:54] amueller commented on #1400
Hm, so I guess only the downstream effect changed, but not the direct tree interface.

[2015-01-29 22:53] mjbommar commented on #2507
Not sure how many of these are related, but here's an example with clean data that shows that fit and fit_transform return different results for data with ties in X.  This was generated with HEAD as about two hours ago.
http://nbviewer.ipython.org/urls/gist.githubusercontent.com/mjbommar/74fcefdcd0f2b1a5f708/raw/4742691db799101091598922cd0808f1eb5f07f2/isotonic_test_case_20150129.json

  I have an

[2015-01-29 23:19] mjbommar commented on #2507
BTW, I responded to this originally by email,  not realizing how old the issue was...should we create a new issue for this regression, @amueller ?

[2015-01-29 23:49] amueller commented on #2507
Yes please create a new issues as I think it is unrelated.

[2015-01-29 23:50] amueller commented on #2507
Damn a9ea55fb404ba3a2411afa7a329f69eda67ca86c was my idea... lets see what it broke...

[2015-01-30 00:00] mjbommar opened #4184 "IsotonicRegression results differ between fit/transform and fit_transform with ties in X"
Per conversation in issue #2507, IsotonicRegression appears to have regressed due to commit a9ea55f.

  [This IPython notebook](http://nbviewer.ipython.org/urls/gist.githubusercontent.com/mjbommar/74fcefdcd0f2b1a5f708/raw/4742691db799101091598922cd0808f1eb5f07f2/isotonic_test_case_20150129.json) demonstrates the failure on HEAD.

  I tested the following two commits with the notebook:
* d255866: n

[2015-01-30 00:00] mjbommar commented on #4184
Including @ragv and @amueller.

[2015-01-30 01:51] tkuboi commented on #4102
I have got the following result.
$ /usr/bin/python -c "import scipy; print(scipy.version)"
<module 'scipy.version' from '/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/scipy/version.pyc'>

[2015-01-30 12:50] ragv commented on #4184
Ah extremely sorry that I broke that :/
Will see ASAP what can be done to keep `slinear` intact and still avoid this issue...

[2015-01-30 12:50] ragv commented on #4184
thanks for the report!

[2015-01-30 13:12] mjbommar commented on #4184
No worries, @ragv!  I have a simple pull request for a basic x-ties unit test in PR #4185 which shows the failure in Travis.

[2015-01-30 13:42] mjbommar commented on #4184
As a workaround, I tested using ``scipy.interpolate.UnivariateSpline`` as follows and got acceptable stuff:

[code]

vs.

[code]

[2015-01-30 14:44] cbmeyer commented on #3266
Interesting, the plot I posted above on June 25 uses the -b flag in libsvm, and shows drastically different results.  I'm not sure how you got the same result output, but mine is definitely much different (see above post).  Just to reiterate from the first post, the reason I discovered this behavior was that the decision_function() method is not supported for sparse vectors, so I was forced to use

[2015-01-30 14:59] ogrisel commented on #3266
Indeed. If you feel motivated a PR to add support for this would be very well received I think (with tests and all).

Coming back to the original issue, let us know if you can find a tuple of (dataset, C, gamma) that yields very distinct behaviors between sklearn and libsvm. Otherwise I think we should close this issue.

[2015-01-30 15:02] cbmeyer commented on #3266
The dataset, C, and gamma I've provided produced drastically different results for me between sklearn and libsvm, as outlined in my earlier posts.

[2015-01-30 15:13] ogrisel commented on #3266
@amueller @cbmeyer which version of scikit-learn are you both using?

@cbmeyer can you please give the exact command line for libsvm and python script you used for sklearn?

[2015-01-30 15:44] jakevdp commented on #1400
Note that this refers to old code, when ``kd_tree`` was a wrapper of scipy's code. Now the ball tree and kd tree options both return object arrays. It looks like brute special-cases the situation when the number of neighbors in each point happen to be the same, and returns an object array otherwise.

[2015-01-30 16:06] amueller commented on #3266
@cbmeyer I am working on implementing the decision_function, but I can't promise anything. Sklearn only uses one file, which is then split. How did you split the data for libsvm? Also, your sklearn script uses scaling. How did you scale the data for libsvm? Your sklearn code uses scaling.

[2015-01-30 16:08] amueller commented on #3266
I used libsvm-3.12-1 as bundled with Ubuntu (I think, I won't get to the laptop for a week now).

[2015-01-30 18:22] amueller commented on #4102
You didn't post the output ;)

[2015-01-30 18:39] MechCoder commented on #4015
Hey, sorry for the late reply. It is the last semester in undergrad school, so I'm not coding that much these days ;) . It was one related to passing of connectivity as an int in Agglomerative Clustering and friends.

[2015-01-30 18:43] amueller commented on #4184
At d255866c667b74801b68e828b6fb5a769c531662
I get
[code]

[2015-01-30 18:49] cbmeyer commented on #3266
I'm using libsvm 3.18.  For doing the scaling and cross fold splits, I do something like this in a bash script:

    # scale the data
    libsvm-3.18/svm-scale -l 0 -s sampled_round2.scalefactors sampled_round2.data > sampled_round2.scaled

    # split out positive and negative instances for sampling
    cat sampled_round2.scaled | awk '{if ($1==-1) print}' > negatives
    cat sampled_round2.scale

[2015-01-30 18:49] cbmeyer commented on #3266
Here's a more complete version of my sklearn Python code:

    C_val = 94.1605007514
    gamma_val = 0.00456579534043

    #load SVM format file
    X, y = load_svmlight_file(inputfile)

    #scale training data
    std_scaler = preprocessing.StandardScaler(with_mean=False)
    X_scaled = std_scaler.fit_transform(X)

    skf = StratifiedKFold(y, n_folds=numfolds)

    fold = 1

    for train_index

[2015-01-30 18:51] amueller commented on #4184
I get the same failure in 0.15.2

[2015-01-30 18:52] amueller commented on #4184
(that is using your regression tests, should have posted in the PR I guess)

[2015-01-30 18:56] amueller commented on #3266
Thanks.
The scaling you use is different. You use min/max scaling for libsvm and mean/std scaling for scikit-learn. Can you try using the ``MinMaxScaler`` instead of the ``StandardScaler``? That should give you identical results.

[2015-01-30 18:58] amueller commented on #3266
hm not sure ``MinMaxScaler`` currently supports sparse data :-/ you can either do it "by hand" or load the data you scaled with ``svm-scale``. But either way,  I'm petty sure that is the source of the discrepancy.

[2015-01-30 19:07] cbmeyer commented on #3266
Thanks for the input, I'll try loading in the libsvm scaled data directly and see how that fares.

[2015-01-30 19:34] mjbommar commented on #4184
Hm,  I had only tested 0.15.2 with the simple duplicate zero minimum value case.  It goes deeper!

[2015-01-30 20:19] MechCoder commented on #4015
Related. https://github.com/scikit-learn/scikit-learn/issues/3851

[2015-01-30 21:29] cbmeyer commented on #3266
After feeding the libsvm scaled data in directly, looks like I get the prediction values I expect, so the StandardScaler looks like the culprit.  Thanks for the input, this was very helpful!

[2015-01-30 21:30] #3266 closed

[2015-01-30 22:46] xbhsu commented on #4132
I agree that the current fit methods are violating the sklearn API format. It seems to me that init= would be more appropriately included as an estimator parameter as opposed to a function argument.

I can take care of this if it hasn't been addressed yet (I didn't see where it was mentioned in the #4064..)

[2015-01-31 16:25] mjbommar commented on #4184
Just updated PR #4185 to include comparison to R's ``isotone`` with ``gpava(ties="primary")``.  Discussion there on ``ties=`` methods is probably one of the first questions to answer...

[2015-01-31 23:12] tkuboi commented on #4102
Looks like I have two versions of scipy...
$ python -c "import scipy; print(scipy.__version__)"
0.14.0
$ /usr/bin/python -c "import scipy; print(scipy.__version__)"
0.13.0b1

With
python -c "import nose; nose.main()" -v sklearn
all the test passed.

[2015-02-01 18:56] amueller commented on #4132
I think it is ok to be a fit parameter, as it is data dependant. It actually directly depends on the data and needs to be of shape ``n_samples``. I'm not super sure how to fix it, maybe just change the order of the arguments. Not sure we can do that in a somewhat backward compatible way. Maybe check if people used non-keyword args? That is pretty awkward, though.

The reference to #4064 is that th

[2015-02-01 19:03] amueller commented on #4102
That is what I assumed. You should try to "clean" your system and make sure that you always know which version you are using.

[2015-02-01 19:04] amueller commented on #4102
Closing the issue as all occurrences could be tracked to old scipy versions.

[2015-02-01 22:33] chebee7i opened #4194 "kneighbors_graph param check ineffective"
In `sklearn.neighbors.graph`, the `_check_params` function is called by both of the graph methods in the module. The idea seems to be to ensure that when the neighbors are precomputed that the parameters passed into say, `kneighbors_graph` match what was used in the computation of the `BallTree`. However, if the `BallTree` itself was from a prior fit, the check misses that fact. Demonstration:

[c

[2015-02-01 22:55] #4032 closed

[2015-02-01 22:55] jnothman commented on #4032
Addressed in #4042

[2015-02-02 06:19] Garrett-R opened #4195 "OneClassSVM fails for small values of nu"
If you have a small number of training points, say 3 points, then OneClassSVM fails.  I've set `nu` to be 0.02, so I expect that I'll probably have none of my training points missclassified, but doing this:

    import numpy as np
    from sklearn.svm import OneClassSVM
    data = np.array([[1, 2, 3.0],
                     [1, 2, 3.1],
                     [1, 2, 3.2]])

    est = OneClassSVM(nu=

[2015-02-02 06:27] GaelVaroquaux commented on #4195
With 3 points, honestly, this doesn't surprise me much. I don't think
that this is a legit usage of the OneClassSVM.

In addition, keep in mind that mu is a hard control on the number of
misclassification on the train set. Just a soft constraint.

[2015-02-02 06:36] Garrett-R commented on #4195
@GaelVaroquaux, true, that's not a lot of data.  But I'm just realizing the problem exists for a dataset of any size as long as `nu` is small enough.  Here's with 2000 datapoints,

    import numpy as np
    from sklearn.svm import OneClassSVM
    data = np.random.random((2000, 4))
    est = OneClassSVM(nu=0.000001, kernel='rbf')
    est.fit(data)
    print((est.predict(data)==1).mean())

It miscl

[2015-02-02 06:39] GaelVaroquaux commented on #4195
You're probably over regularizing: SVMs are sparse in the dual, and with
nu small enough, they probably becomes 100% sparse.

Nobody ever said that machine learning didn't require any learning from
the user.

[2015-02-02 06:40] GaelVaroquaux commented on #4195
I am closing this issue, as I think that this is a legit behavior of the OneClassSVM. I believe that this is how the objective function of SVMs behaves.

[2015-02-02 06:40] #4195 closed

[2015-02-02 06:43] Garrett-R commented on #4195
I see that by setting `tol` low enough, the problem goes away.  In both cases above, setting `tol=0.0001` fixes it.

[2015-02-02 17:12] chanansh opened #4196 "Feature request: pass meta-data per column/sample through the Pipeline"
Dear scikit-learn community,

DISCLAIMER: I am new to sklearn and open-source projects in general, so sorry if I don't comply with the standards of this projects.
Problem:
So, say you have a learner which gets as input also the column type and processes accordingly (e.g. it converts categorical to numbers but leave floats as is). How would you put such a learner in a Pipeline? You could have do th

[2015-02-02 17:22] GaelVaroquaux commented on #4196
I vote against trying to solve this problem.

This problem is of general scope, wider than scikit-learn. More than 5
years ago, there were discussions on how to solve it in the numpy
community. People couldn't agree on the usecases, although there were
some pretty cool suggestions (https://github.com/fperez/datarray). The
pandas people went forward and coded something that is much more than
passin

[2015-02-03 12:05] dschallis opened #4197 "Segmentation fault when calculating euclidean_distances for large numbers of rows"
With scikit-learn 0.15.2, numpy 1.9.1, python 2.7.8 (on OS X), the following code segfaults:

    import numpy
    import sklearn.cluster

    numpy.random.seed(1)
    X = numpy.random.random((50000, 100))
    model = sklearn.cluster.KMeans(n_clusters=3, random_state=1)
    model.fit_predict(X)
    print sklearn.metrics.silhouette_score(X, model.labels_, metric='euclidean')

Results in:

    Segme

[2015-02-03 12:39] jnothman commented on #4197
You can cut that example down to:
[code]
I'm hence changing the issue title.

[2015-02-03 12:41] dschallis commented on #4197
Thanks, makes sense to me, the above also segfaults for me also.

[2015-02-03 12:46] jnothman commented on #4197
The crash occurs in `numpy.dot` for numpy 1.8.1. And indeed, `np.dot(X, X.T)` segfaults. Check whether the segfault occurs at numpy master, and otherwise report it there.

[2015-02-03 12:59] jnothman commented on #4197
I'm closing this as belonging to numpy (until further notice?).

[2015-02-03 12:59] #4197 closed

[2015-02-03 13:01] gozzilli opened #4199 "Interpreting output of pred_proba"
I have a dataset of 35 samples and 28 classes. In a `DecisionTreeClassifier`, `predict_proba` returns a **list** of 28 `numpy.ndarray`, all with size `(35,2)` or `(35,1)`. I don't understand:
1. What are the two values in the `ndarray`? Shouldn't there just be one, the probability of that class being predicted? In which case the array would just be `(28,35)`?
2. Why sometimes there are only `(35,1

[2015-02-03 15:23] xbhsu commented on #4132
Thanks for pointing out that test. Not sure if this is what you had in mind, but I think rearranging the signature to be ```fit(self, X, y = None, **kwargs)``` will pass the test checking that ```y``` is the second argument and is still backwards compatible. There'll have to be a somewhat ugly check for ```if 'init' in kwargs``` though...

[2015-02-03 15:25] GaelVaroquaux commented on #4132
Forgive me for asking a stupid question, but why would the following
signature not work: fit(X, y=None, init=None)?

[2015-02-03 15:31] ragv commented on #4199
`DecisionTreeClassifier` accepts inputs for `y` ( targets, in your case `x_true` ) of shape `(n_samples,)` where each value is a class label, for a single output case.

For instance if `X` is of shape `(n_samples, n_features) = (5, 10)`, `y` could be `[1, 2, 2, 3, 3]`

For the multi output case, `y` is expected to be of shape `(n_samples, n_outputs)` for example `[[1, 2, 2], [2, 3, 3]]`

**Your `x

[2015-02-03 15:32] ragv commented on #4199
I feel this can be closed...

[2015-02-03 15:38] larsmans commented on #4199
Yes, closing. OP should feed label vector instead of label indicator matrix. Indicators trigger multi-output behavior (a feature that we probably shouldn't have put in because it's so confusing, but it is [documented](http://scikit-learn.org/stable/modules/tree.html#multi-output-problems)).

[2015-02-03 15:57] gozzilli commented on #4199
@ragv Thanks for the detailed explanation. Why isn't `n_classes'` always 2 then, instead of sometimes 1 and sometimes 2? This causes confusion (in my opinion) because the output can at times be converted into a 3D `numpy.array` of size `(n_outputs, n_samples, n_classes')` (when all `n_classes' == 2`) and other times it can't (when there is a mix of `n_classes` 1 and 2).
If `n_classes'` were always

[2015-02-03 17:13] gozzilli commented on #4199
@amueller

So you are saying that I could just do:
[code]
Is that correct? If I do that, I get a value very close to 0.5, which doesn't seem possible since I get an f1 score of ~0.85

[code]

[2015-02-03 17:25] amueller commented on #4199
Yes, that should work and give you the macro average over classes, that is just the unweighted mean ``roc_auc``. You can also pass ``average=None`` and get all the scores back.

[2015-02-03 17:40] amueller commented on #4196
The problem can be partially solved by #3886 which allows an easy way to build feature extractors that do different things on different columns of a pandas dataframe.

[2015-02-03 17:46] mickey3003 opened #4200 "Testing scikit-learn not successful"
Hi! I'm a newbie

After installing scikit, i ran the following command : C:\Python34\python.exe -c "import nose; nose.main()" -v sklearn and got the following error.
![error](https://cloud.githubusercontent.com/assets/8629532/6025684/7ca9a94e-abfa-11e4-98ff-b2684e8f0b24.png)

what is the problem?

[2015-02-03 17:46] mjbommar commented on #4196
You might also see this external library, which may or may not still work:
https://github.com/paulgb/sklearn-pandas

Thanks,
Michael J. Bommarito II, CEO
Bommarito Consulting, LLC
*Web:* http://www.bommaritollc.com
*Mobile:* +1 (646) 450-3387

On Tue, Feb 3, 2015 at 12:40 PM, Andreas Mueller <notifications@github.com>
wrote:

[2015-02-03 17:52] amueller commented on #4200
Well, it looks like there is no python 3.4 at the given path, and python 2.7 has no nose installed.
Neither issue is related to scikit-learn.

How did you set up your python environment? A really painless way is to use anaconda: http://continuum.io/downloads

[2015-02-03 17:57] mickey3003 commented on #4200
I installed python 2.7.9 from the official website : https://www.python.org/. Do i need to re-install it?

[2015-02-03 18:02] amueller commented on #4200
How did you install numpy and scipy (requirements for scikit-learn)? Did you have a look at the installation page? http://scikit-learn.org/dev/install.html
The easiest way is probably to remove your python installation and install the one from anaconda.

[2015-02-03 18:10] mickey3003 commented on #4200
Thank you!

Yes, i followed the instructions on the installation page, downloading Numpy and Scipy separately.

[2015-02-03 18:16] amueller commented on #4200
ok. Well, for the testing you would also need to install nose.

[2015-02-03 18:19] mickey3003 commented on #4200
Ok, Thank you very much!

[2015-02-03 18:19] #4200 closed

[2015-02-03 18:50] gozzilli commented on #4199
I'm sure it's my mistake, but it doesn't work.
[code]
Returns
```auc: 0.903817008428```

which I think it's the right answer (it matches the precision score and f1 score of ~0.85).

While
[code]
Returns
```auc: 0.50160808357```
Which is not.

In fact
[code]

![colormesh](https://cloud.githubusercontent.com/assets/1502267/6026613/1d662f78-abd4-11e4-8e99-9b1e80d0561c.png)
(Sorry this is still the sa

[2015-02-03 18:52] #4036 closed

[2015-02-03 18:54] amueller commented on #4199
This confuses me. I think I'm missing something. Can you upload ``y2b``, ``y2`` ``proba_bin`` and ``proba`` or post the first 10 elements of each?

[2015-02-03 19:09] gozzilli commented on #4199
Sure thing, [here](https://www.dropbox.com/s/517zpndkzjbores/sampledata2.pickle?dl=0) it is.
[code]
Then with the code above you should have everything.

[2015-02-03 19:59] ragv commented on #543
This issue is addressed by #3480. I feel this can be closed
@ogrisel could pending discussions on #3840 continue without affecting closure of this issue?

[2015-02-03 20:04] amueller commented on #543
The second issue you quote was a typo, right? And which discussion do you mean? I think this one should be closed....

[2015-02-03 20:09] #543 closed

[2015-02-03 20:10] agramfort commented on #543
yes we have now ASGD

[2015-02-03 20:37] jnothman commented on #4196
I might also note that it's possible to pass an array of feature names to
some_feature_selector.transform(...) to get the selected features out.
Though I think this is undocumented and untested...

On 4 February 2015 at 04:46, Michael Bommarito <notifications@github.com>
wrote:

[2015-02-04 00:06] Borda opened #4202 "GMM and score_samples(X) back to probabilities"
I am not sure if I do understand the result of
g = mixture.GMM(n_components=1).fit(X)
logProb, _ = g.score_samples(X)
where the first one (logProb) should be Log probabilities of each data point in X so applying exponent I should get back probabilities as prob = numpy.exp( logProb ), right?
In this case while I have only single component I would expect that the probabilities  will be in range (0,1

[2015-02-04 00:54] ragv commented on #543
@amueller Yea sorry it was a typo :/ ( Wondering if there is a way to de-reference issues once referenced by mistake! )

I meant there was some discussion on #3480 after the PR had been merged. ( mostly explanatory, non controversial discussion )

[2015-02-04 10:03] agramfort commented on #4202
can you post a gist to reproduce the pb?

[2015-02-04 15:07] Borda commented on #4202
import numpy as np
from sklearn import mixture

data = []
for _ in range(100) :
    data.append( [np.random.rand(), np.random.rand(), np.random.rand()] )
g = mixture.GMM(n_components=1).fit(data)
logProb, _ = g.score_samples(data)
prob = np.exp( logProb )

print (data)
print (prob)

[2015-02-05 00:50] hewen1990 commented on #4083
I meet the same bug(python 2.7.6, ubuntu 14.04, sklearn:0.14.1). And I only use the lib(from sklearn.ensemble import RandomForestRegressor ) and I got: (./batch7.sh: line 9:  4215 Segmentation fault      (core dumped) python noneRandomF.py -train ${trainFileName} -test
${testFileName} -dim ${dim} >> $outDir"hewen."$dataName ). As the amueller said: maybe the data set is to large for my machine, bu

[2015-02-05 01:06] mjbommar commented on #4083
What compilers are installed on your system?  Are you using the Intel
Compiler (`icc`) or have any of your system libraries been built with `icc`?

Thanks,
Michael J. Bommarito II, CEO
Bommarito Consulting, LLC
*Web:* http://www.bommaritollc.com
*Mobile:* +1 (646) 450-3387

On Wed, Feb 4, 2015 at 7:50 PM, hewen <notifications@github.com> wrote:

[2015-02-05 02:19] hewen1990 commented on #4083
@mjbommar  Sorry for my late response. Compilers? Do you mean to gcc or g++? I have no idea for icc. Any hints?
And my gcc or g++ information is as follows:

#g++ -v
Using built-in specs.
COLLECT_GCC=g++
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/4.8/lto-wrapper
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Ubuntu 4.8.2-19ubuntu1' --with-bugurl=file:///usr

[2015-02-05 04:58] mjbommar commented on #4083
You might have the Intel compiler installed and set as a default in
environments like academic clusters.  Is this a machine you're responsible
for managing or something like a cluster you can submit jobs to?  If it's a
cluster, you might try typing `which icc` or `which pgcc` to see if they're
available of `env | grep CC` to see what's set as default.

  If this is a machine you manage, which "dis

[2015-02-05 05:14] hewen1990 commented on #4083
@mjbommar Thanks! I run program of python in the machine of my teacher. I am not clear that whether it's a cluster in the machine. I just ssh to it and run my python directly and I have root privileges.

And the cmd is as follows (response nothing):
hewen@plan:~$ which icc
hewen@plan:~$ which pgcc
hewen@plan:~$ env | grep CC
hewen@plan:~$
hewen@plan:~$

[2015-02-05 05:26] hewen1990 commented on #4083
@mjbommar For your "If this is a machine you manage, which "distribution" of python did you
install?  Perhaps one of the Continuum or Enthought options?", I seem to not install what you said. I just install python-sklearn and I can run successfully in some dataset. Should I install python-enthoughtbase and the problem will be fixed?

[2015-02-05 09:52] ogrisel commented on #4133
I confirm that this is fixed in #4025 that is still under review (I plan on finishing my pass on the code that today).

The semantics  of `fit_transform(X)` are not equivalent to `fit(X)` then `transform(X)` for that class but this is a mathematical limitation of the model. As long that it's properly documented in the docstrings it's fine with me.

[2015-02-05 15:04] eyaler commented on #3796
actually there are more options for the stopping/threshold criteria:
https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.cluster.hierarchy.fcluster.html#scipy.cluster.hierarchy.fcluster
http://www.mathworks.com/help/stats/cluster.html

the inconsistency coefficient seems interesting and is the default in matlab and scipy...

[2015-02-05 15:29] ogrisel commented on #4059
I agree. Any suggestion for the class of exception we should raise for such as case? I don't think there is any [standard library exception](https://docs.python.org/3/library/exceptions.html) nor standard numpy exception that matches that case well. `ValueError` would qualify as the least offending. It also has the advantage of not breaking backward compat with users that already catch it in their

[2015-02-05 15:38] ogrisel commented on #4059
I am working on a fix.

[2015-02-05 16:25] ogrisel commented on #4059
Please have a look at #4206 and let me know what you think of this solution.

[2015-02-05 19:00] queqichao opened #4207 "Question: Why in GMM, in order to compute the density function, it first computes the log of probability?"
Is this because any numerical issues? And why not using the one scipy provides, is that one a much slower implementation?

[2015-02-05 20:31] mjbommar commented on #3796
You might also review some of the literate on graph modularity as a more robust measure of cluster quality.  The igraph package (with python bindings) has a large number of these functions available for reference.

Some discussion here also re: clustering and "communitiy detection", agglomerative/divisive/spectrall approaches, etc.:
http://arxiv.org/abs/0906.0612
http://bommaritollc.com/2012/06/su

[2015-02-05 20:39] mjbommar commented on #4083
We probably need input from your professor then or the IT support team
that manages it.  The issue is almost certainly related to your professor
or IT using slightly non-standard Intel-optimized compilers or libraries
somewhere on the system, and you won't be able to fix this without their
help.

  Let's try this one last command to help debug.  From the build path, try
running this:
$ nm build/te

[2015-02-05 22:31] amueller commented on #4207
Usually log-domain computations are more stable. Which density computation are you referring to? And which scipy implementation are you talking about? There is no GMM in scipy, right?

[2015-02-05 22:39] queqichao commented on #4207
Sorry. I didn't say it very clearly. I am talking about multivariate normal distribution. scipy.stats has an implementation for multivariate normal distribution, including its pdf. I just found both their implementation and the one in scikit-learn doing something like exp(log(prob)), which is very strange to me.

[2015-02-05 23:14] amueller commented on #4207
I would think it would do something like
``exp(weighted sum log(prob))`` so the actual computation is carried out in log space.

[2015-02-06 03:48] hewen1990 commented on #4083
Actually i am sorry to fail to find the build path. Can you tell me more details? Thanks!

[2015-02-06 03:49] hewen1990 commented on #4083
@mjbommar

I try to find and the return is as follows:

plan@plan:~$ sudo find / -name build
[sudo] password for plan:
/lib/modules/3.13.0-32-generic/build
/home/dapeng/code/utilFunctions_C/build
/usr/share/dh-python/dhpython/build
/usr/share/apache2/build
/usr/share/doc/texlive-doc/latex/latex-brochure/build
/usr/share/doc/texlive-doc/latex/latex-veryshortguide/build
/usr/share/gedit/plugins/exte

[2015-02-06 03:57] vmirly opened #4208 "Using string distances in DBSCAN"
So, previously I raised an issue for applying DBSCAN on string data https://github.com/scikit-learn/scikit-learn/issues/3737

Using those suggestion, I am able to use DBSCAN clustering with Levenshtein distance.

Now the problem is that calculating Levenshetein distance is O(l^2) with llength of strings. So, if I have a large dataset, then applying DBSCAN requires N^2 pairwise distance computation

[2015-02-06 04:40] jnothman commented on #4208
I think there are two questions here: how to efficiently find the neighbors-within-specified-radius for a large database of strings; and how to integrate that with DBSCAN.

The answer to the first issue is, to my knowledge, not with kdtrees or ball trees which both depend on points represented as vectors. There is other literature on this, including [datastructures for exact edit distance](http://

[2015-02-06 06:19] hewen1990 commented on #4083
@mjbommar  I find that I reduce my dataset to 200 dimension, it will not Segmentation fault again!!!May be the dimension is matter? (my dataset is 400 dimension orginal).

[2015-02-06 09:12] amueller opened #4209 "Mention how trees / forests compute probability estimates"
Namely by using the fraction of samples in the leaves. Given the mathematical detail elsewhere I think we can add this to the narrative and to the ``predict_proba`` docstring.

[2015-02-06 09:15] glouppe commented on #4209
Yes, the correct term is "soft voting" (in contrast with "hard voting" == majority vote)

[2015-02-06 09:30] AlexanderKUA opened #4210 "GBM Prediction Interval"
I need to get prediction interval for GBM model (loss='ls'). I'm using this example as a basis

[code]

My model parameters are chosen by GridSearch, than I'm training with the same params 2 models for lower and higher bounds.
But my Prediction curve sometimes is outside of Prediction interval. It looks odd. How can I solve such issue?

[2015-02-06 10:15] amueller commented on #4210
ping @pprett

[2015-02-06 10:24] amueller commented on #4083
Everything matters, number of samples, number of classes, number of estimators in the ensemble, number of features and max_depth. I would suggest you try to lower max_depth (maybe even to 1) and see if it seg-faults and then go up from there.

[2015-02-06 12:15] amueller opened #4211 "RBM.partial_fit should use batches"
As pointed out in #4205 by @treora, rbm.partial_fit should use batches (and then fit can be implemented in terms of `partial_fit`).

[2015-02-06 12:33] ogrisel commented on #4050
Fixed by #4186.

[2015-02-06 12:33] #4050 closed

[2015-02-06 13:16] ogrisel opened #4212 "Heisen test failure in test_transformer_n_iter with CCA"
The following was caught by a 64 bit Windows build with Python 3.4:

[code]

It's very rare so this might not be related to the platform nor the Python version.

[2015-02-06 15:52] larsmans commented on #4199
@amueller I'm fine with the multilabel format. It's multioutput that I'm concerned about. The trees behave quite differently from everything else now.

[2015-02-06 16:08] mjbommar commented on #4083
Yes, some some branches of the compiled objects must invoke the Intel-optimized libraries.

@hewen1990 , you will still potentially run into issues until your professor or IT staff can help you understand what special libraries might be installed.  You should ask them about the Intel compiler or MKL libraries.

@amueller, I noticed in our ``site.cfg`` that we have some references to MKL on Windows

[2015-02-06 17:25] mvdoc opened #4213 "Q: why is the correlation metric commented in dist_metrics.pyx?"
Hi,

in `dist_metrics.pyx` the correlation metric is commented, and the comment states that it is not a 'true' metric. While this is true as it doesn't satisfy the coincidence axiom, it is still helpful to have such a metric implemented in cython to speed up computations.

Also, note that the actual formula implemented in the commented code is incorrect. The returned value at the moment is

[code]

[2015-02-06 18:22] #4063 closed

[2015-02-06 20:47] #1860 closed

[2015-02-07 03:30] Garlandal opened #4216 "Q: I got an error when 'from sklearn.preprocessing import Imputer'"
I got an error when  'from sklearn.preprocessing import  Imputer', and error show 'cannot import name Imputer', then i found thar sklearn.preprocessing have no method named 'Imputer', this is my screenshot.
![error](https://cloud.githubusercontent.com/assets/5059197/6090672/a6dadd5e-aebc-11e4-8acc-344af4bb78bd.png)

[2015-02-07 07:03] ragv commented on #4216
`Imputer` is [not available in version 0.10](http://scikit-learn.org/0.10/modules/classes.html#module-sklearn.preprocessing) ! Please upgrade your scikit learn to a newer version! ( Current is 0.15 )

[2015-02-07 07:04] #4216 closed

[2015-02-07 08:06] amueller commented on #4199
@larsmans ah, ok, then I misunderstood. I agree then.

[2015-02-07 08:14] amueller commented on #4083
It would be nice to support mkl, but it is dangerous to support something we have no CI for... If we had enough dev resources, I guess we could probably get sponsored CI. But our CI expert @ogrisel is busy enough as is, I think ;)
I don't know how tricky this is, but usually CI is pretty painful to get right.

If you care deeply and want to commit time, I'd say ask intel for a license for CI or aw

[2015-02-07 08:25] amueller commented on #4132
The same issue applies to OneClassSVM

[2015-02-07 08:31] amueller commented on #4132
I "fixed" it in #4136 (which predictably broke after merging #4064) by making ``y`` the second positional argument. That will **silently** break ``MDS().fit(X, init)`` which now needs to be ``MDS().fit(X, init=init)`` but will fix ``make_pipeline(SelectFdr(), MDS()).fit(X, y)``, similarly for OneClassSVM. I am not sure how I can make the change not silent.

[2015-02-07 09:59] amueller commented on #1940
Fixed (seems that comment got lost)

[2015-02-07 10:54] #4059 closed

[2015-02-07 12:26] #2356 closed

[2015-02-07 16:09] mjbommar commented on #4083
I'll reach out to a few people and see if I can find the right person at Intel.

As an intermediate step, how about a per-stable-release check?  For example, when we hit release freeze, could at least try to build against the Intel toolchain and see if nose passes.

[2015-02-07 16:13] amueller commented on #4083
Well, checking that it compiled on one system is better than nothing, but for a real "per-stable-release check" you'd need a controlled setup, not sure how hard that is to achieve.

[2015-02-07 20:26] adi911 opened #4219 "svm classifier"
![bug](https://cloud.githubusercontent.com/assets/8105949/6093809/28400744-aed5-11e4-818b-4aeda0b98381.png)
 is that a bug ? please answer

[2015-02-07 20:45] agramfort commented on #4219
what makes you think it's a bug?

[2015-02-07 21:10] jakevdp commented on #4219
Hard to say without more information, but it looks like you're trying to find a linear classifier of the blue and orange points based on two-dimensional data. In this case, it's clear by-eye that the data cannot discriminate between the two types. I doubt it's a bug, but like I said, it's hard to tell without more information about what you're intending to do.

[2015-02-07 21:32] larsmans commented on #4219
Impossible to tell what the problem is.

[2015-02-07 21:32] #4219 closed

[2015-02-07 21:36] larsmans commented on #4127
Closing as dupe (but that test is using poor assumptions).

[2015-02-07 21:36] #4127 closed

[2015-02-07 22:03] larsmans commented on #4213
SciPy has a vectorized version of it, `cdist(X, Y, 'correlation')`. Do you really need a KD-tree or ball tree with this metric? That's what `dist_metrics.pyx` is for.

[2015-02-08 00:31] jakevdp commented on #4213
``dist_metrics.pyx`` contains metrics used by the KDTree/BallTree. I initially implemented the correlation metric, but it failed the BallTree unit tests. That's actually how I learned that it's not a true metric! I'd suggest using the scipy version that @larsmans mentioned.

[2015-02-08 00:39] adi911 commented on #4219
thank you very much guys, sorry for calling it a bug

[2015-02-08 00:41] adi911 commented on #4219
![bug2](https://cloud.githubusercontent.com/assets/8105949/6094651/e5085ffc-aef8-11e4-8dcc-d851cad9b19a.png)

[2015-02-08 02:42] sdicker8 commented on #1940
Hi - technically, i think my original suggestion is incorrect too.

We probably actually want +/- the standard error (of the mean) * 1.96

from scipy.stats import sem
1.96 * sem(scores)

or

1.96 * np.std(scores, ddof=1) / np.sqrt(len(scores))

scott

On Saturday, February 7, 2015 4:59 AM, Andreas Mueller <notifications@github.com> wrote:

Fixed (seems that comment got lost)
—
Reply to this email

[2015-02-08 10:21] agramfort commented on #4180
indeed it's a bit of a mess... yet the LinearSVC and LogisticRegression don't use median with penalty='l1' but a threshold set to 1e-5 so the doc is not that wrong.

what I propose is:

- add transform in Lasso*, ElasticNet* classes that uses true 0. threshold.
- make this 1e-5 threshold relative to max coefficient to make this threshold scale invariant
- clarify the doc to explain that LinearSVC

[2015-02-08 10:23] agramfort commented on #4202
I can reproduce the pb.

This issue should be assigned to the GSOC student willing to work on GMM in 2015

[2015-02-08 10:28] agramfort commented on #4202
I've created the wiki page :

https://github.com/scikit-learn/scikit-learn/wiki/Google-summer-of-code-(GSOC)-2015

and pointed the GMM project to this issue

cc @amueller @ogrisel @GaelVaroquaux

[2015-02-08 14:44] jakevdp commented on #4202
These are not probabilities, but probability *densities*. Because of that, they won't sum to 1, but they will integrate to 1:
[code]
If you integrate over the entire 3D space of your example, I believe you'll also find it's correct.

[2015-02-08 14:45] #4202 closed

[2015-02-08 16:54] amueller commented on #1940
That might be the more sound statistic to use, but I don't think it would be what people expect. Error bars usually mean "two standard deviations", right?
In the end, assuming the scores are Gaussian is somewhat insane anyhow (they are between 0 and 1, often with much mass close to the limits).

[2015-02-08 17:13] mvdoc commented on #4213
Thanks for the replies.

I run into this issue because I wanted to run KNN classification using correlation distance as a metric, and passing any user defined function was very slow. I ended up defining my own cython function (but I wasn't aware of `cdist`). However, I believe this slows the whole process because even if `algorithm='brute'` is used, the function has to be wrapped into the PyFuncDi

[2015-02-08 18:17] jakevdp commented on #4213
I see. This use-case and others like it could be accommodated by adding a ``metric='precomputed'`` option, which is used in some other places in the package.

[2015-02-08 18:21] jakevdp commented on #4213
Actually, it looks like the correlation distance is implemented natively for the brute-force method:
[code]

[2015-02-08 18:24] jakevdp commented on #4213
If brute-force isn't fast enough for your use-case, there do exist fast algorithms for finding neighbors with a correlation distance, but it will require a data structure that's not implemented in scikit-learn. Look up "Kernelized Locality Sensitive Hashing" for one example of an approach that might be useful.

[2015-02-08 18:32] ragv commented on #3912
Have summarized your comment into sections for the proposed new contributions page and added it to wiki for live preview!

Please take a look and feel free to modify anything!

[2015-02-08 18:55] mvdoc commented on #4213
@jakevdp thanks for taking time to look into this and for the info on that method!

[2015-02-08 18:55] #4213 closed

[2015-02-08 20:13] trevorstephens opened #4223 "precision_recall_curve - assumed limits can be misleading"
Referencing [`"The last precision and recall values are 1. and 0. respectively and do not have a corresponding threshold. This ensures that the graph starts on the x axis."`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/ranking.py#L346-L348)

Say you have a tie in your highest predicted probability output from the classifier with some false positives and some true posit

[2015-02-08 20:33] MechCoder commented on #4180
I can have a look at this, tomorrow or the day after.

[2015-02-08 20:58] agramfort commented on #4180
great

[2015-02-08 20:58] amueller commented on #4180
Oh, I just saw that the default depends on the penalty. That should be documented. I think that is the most important fix, as currently the default behavior for penalty='l1` is plainly wrong.

The default in Lasso and ElasticNet is currently the median strategy, as they have no ``penalty`` parameter, right?

[2015-02-08 21:15] agramfort commented on #4180
why wrong? it takes the features with non-zero coefs as expected

there is no transform for Lasso and ElasticNet

[2015-02-08 22:02] ogrisel commented on #4178
Fixed in 79144e4444dc4dbfc6dc2bf5274fafc348228501 bdecd1f447502e7ace8600a89ffa03bc66c1cc2c

[2015-02-08 22:02] #4178 closed

[2015-02-09 06:13] jamestwebber opened #4224 "local variable referenced before assignment in LassoCV and ElasticNetCV"
Per @GaelVaroquaux's [comment](https://github.com/scikit-learn/scikit-learn/issues/1059#issuecomment-73461028) in #1059, I'm opening a new ticket for this.

If I try to use LassoCV or ElasticNetCV to fit a target of uniform values, it will fail to properly initialize and this leads to an unassigned variable in the fit() method. This seems to be happening because it tries to pick the alpha values b

[2015-02-09 09:35] jnothman opened #4225 "Ensure sparse `y` is supported in grid search etc."
As reported at https://github.com/scikit-learn/scikit-learn/issues/1233#issuecomment-73467547, `GridSearchCV` currently breaks if it is fit with sparse `y` (at least for some supported `scipy` versions). This is due to a `len` call, when we should probably be using `check_consistent_length`. In any case, a test is needed, since we are meant to be preferring sparse matrices for multilabel data now.

[2015-02-09 10:00] AjayRamanathan commented on #4202
@jakevdp  Can individual values of logprob exceed 1 ?

[2015-02-09 10:30] jnothman commented on #4223
Can you find literature that formally discusses the case of threshold higher than top score (which need not be bounded by 1, as it's not necessarily a probability in this function)?

As I understand it, PR curves traditionally descend from P=1, R=0, although perhaps in http://nlp.stanford.edu/IR-book/html/htmledition/evaluation-of-ranked-retrieval-results-1.html the PR-curve does not actually meet

[2015-02-09 10:46] Treora opened #4227 "Random state in RBM"
I have not scrutinised this properly, but the way random state is used in the `BernoulliRBM` looks dubious. If `random_state` is set with an integer, `check_random_state` will return a new random genenator with that state. If I'm not mistaken this could lead to state loops when trying to do many iterations of gibbs sampling, as the new state has become a deterministic function of the old state (se

[2015-02-09 10:55] Borda commented on #4202
@jakevdp sure, you are right, your case work but only for single dimension. If you agreed the np.max(np.exp(logprob)) should be always less then 1.0 where "logprob" can be any number from "data", right? Now if I just change the data to 3D Y got max about 2.5 which (I suppose) is correct...

    data = 10 * np.random.rand(100)
    model = mixture.GMM(n_components=1).fit(data[:, None])
    logprob,

[2015-02-09 11:34] FlxLaurens commented on #4184
Possibly related, also in sklearn 0.15.2

Given dataset X
[code]

Provides:
[code]

Although not huge differences, the two approaches to fit>transform are no longer equivalent

[2015-02-09 13:56] MechCoder commented on #4180
Is the current approach of using the same threshold in the object initialization (if present) to eliminate features right? The threshold might not be the threshold that we are thinking about.

Also none of the classes inheriting from `_LearntSelectorMixin` have the threshold param. I suggest we just remove it.

[2015-02-09 14:09] MechCoder commented on #4180
I meant, this line

    if hasattr(self, "penalty") and self.penalty == "l1":
        # the natural default threshold is 0 when l1 penalty was used
        threshold = getattr(self, "threshold", 1e-5)
    else:
        threshold = getattr(self, "threshold", "mean")

should be just.

    if hasattr(self, "penalty") and self.penalty == "l1":
        # the natural default threshold is 0 when l1 penal

[2015-02-09 14:26] MechCoder commented on #4180
Could you please explain, why it should be the median for ElasticNet? Should it not be a combination of the median and mode strategies?

[2015-02-09 14:54] jakevdp commented on #4202
The probability density can be greater than 1. The only normalization criterion is that it integrates to 1.

Take a simple 1D example of where the probability is zero except in the range (0, 0.1).  Then the probability density *must* have an average value of 10 for the normalization criterion to be met!

[2015-02-09 15:01] jakevdp commented on #4202
Also, my case works for three dimensions as well, but it's more complicated as it requires constructing a full 3-dimensional grid
[code]
The probability integrates to 1 as expected.

[2015-02-09 15:15] jakevdp commented on #4202
Or, to demonstrate with your example:
[code]

[2015-02-09 20:07] sdicker8 commented on #1940
Standard deviation would just describe the scatter in cross-validation scores.  Std error of the mean would describe how this scatter affects the estimate of the true population mean, and it is also dependant on the sample size.  The mean score is more accurate (less error) for 10-vold cross validation compared to 3-fold cross validation (if the scatter of scores is equal).

We could describe cros

[2015-02-09 21:59] queqichao opened #4230 "Issue about calculating roc_auc_score"
When computing ``roc_auc_score``, I found the following code
[code]
I wonder does ``y_true`` have to contain 2 labels? In some case, test examples could come from only one class. In that case it should be ``len(np.unique(y_true)) <= 2``. Of course, it might cause division of zero when compute the ROC curve. Any thoughts about this?

[2015-02-09 22:00] GaelVaroquaux commented on #4230
The ROC score cannot be defined in such situation. It cannot be measured.

[2015-02-09 22:00] #4230 closed

[2015-02-10 03:38] trevorstephens commented on #4223
Shall do a bit of a search over the coming days.

And yes, forgot about predict_log_proba etc. Perhaps if this goes anywhere a function arg like `threshold= {None, 'proba', 'log_proba'...}` would be helpful to some people though to automagically add some limiting threshold at the end for ease of plotting?

I'll check it out, looks like some averaging going on at a quick glance.

This is more invol

[2015-02-10 04:10] jnothman commented on #4223
decision_function is more the issue than predict_log_proba; it allows this
metric to be used with uncalibrated SVC, for instance.

There is averaging in the red plot in the IR book, but what's happening in
the left of the blue plot is less clear.

Thanks for looking into it.

On 10 February 2015 at 14:38, Trevor Stephens <notifications@github.com>
wrote:

[2015-02-10 07:15] Snowvane opened #4231 "Turn off all warnings"
Hi,

I am using a the Lasso_path function and it keeps printing the same warning every time it's called. Is there a way to disable them all?

Thanks!

[2015-02-10 07:16] GaelVaroquaux commented on #4231
https://docs.python.org/2/library/warnings.html#temporarily-suppressing-warnings

[2015-02-10 07:16] #4231 closed

[2015-02-10 09:48] ragv commented on #4210
Could you post a minimal code ? If its too long use [gists](https://gist.github.com)

[2015-02-10 10:09] jnothman commented on #4231
You could also use warnings.filterwarnings('ignore', module=r'sklearn\..*')
or similar.

On 10 February 2015 at 18:16, Gael Varoquaux <notifications@github.com>
wrote:

[2015-02-10 15:03] lesteve commented on #4102
@tkuboi or @amueller would you mind closing the issue? It looks like it was left open although it was meant to be closed.

[2015-02-10 15:57] amueller commented on #4180
On 02/08/2015 04:15 PM, Alexandre Gramfort wrote:

Sorry, I meant the documentation is plainly wrong. It works as expected
but not as documented.
The documentation of LinearSVC.transform does not mention that it
depends on the penalty parameter!

Oh, never mind then. I thought they inherited from |_LearntSelectorMixin.|

So the biggest issue for me is that ``transform`` of
_LearntSelectorMixin in

[2015-02-10 15:58] amueller commented on #4180
I agree with the plan now ;)

[2015-02-10 16:04] amueller commented on #4227
You are right, there is an issue with the ``gibbs`` function. It should set ``self.random_state_``. We can't do this in ``fit`` as that would mean two subsequent calls to ``fit`` would not yield the same result.

[2015-02-10 16:12] amueller commented on #4224
In the example above, I get
[code]

[2015-02-10 16:13] amueller commented on #4224
Oh, I see @ragv has already attacked this in #4226

[2015-02-10 16:19] #4102 closed

[2015-02-10 16:32] AlexanderKUA commented on #4210
No. Unfortunately it's part of complex system. I'll try to find equivalent example.

[2015-02-10 16:44] amueller commented on #4184
@FixLaurens not really related to the issue here. I am think this outcome is fine, as the result is quite close. You can't entirely guarantee exactly similar results from numeric optimization. We could try to get closer in NMF but I'm not sure this is worth the extra computation.
Did this cause any issues in your application?

[2015-02-10 18:06] MechCoder commented on #4180
@amueller You haven't responded to my comment yet ;)

[2015-02-10 18:55] amueller commented on #4180
Sorry, I thought there was already a transform method, and if you just inherit from ``_LearntSelectorMixin`` it would default to ``"median"``.
I think it should rather be a threshold, as ElasticNet will create exact zeros.

[2015-02-10 19:00] amueller commented on #4180
That is a good point. I think we definitely want an object level threshold, that is an ``init`` parameter. Maybe we should have called it ``feature_selection_threshold``?
Or we just "need to make sure" that the ``threshold`` is the right one (and ``None`` by default?).
But that seems brittle if we add the mixin to another estimator.

[2015-02-10 20:27] amueller opened #4235 "Check all usages of kneighbors_graph"
After @MechCoder fixed kneighbors_graph in #4046, we should check all uses in the code for whether we want ``include_self==True`` or not. I came across this in ``SpectralEmbedding`` where the current default makes no sense, I think.
You can simply ``git grep`` and should find a lot of occurrences.
If our test output wasn't so flooded with warnings, we would have probably detected that earlier :-/

[2015-02-10 20:53] amueller opened #4236 "Make spectral_embedding deterministic"
There is a possible sign flip in the eigensolver that makes ``spectral_embedding`` and therefore ``SpectralEmbedding`` not deterministic.
I think we should fix that using a similar method to ``sklearn.utils.extmath.svd_flip``

[2015-02-10 23:08] pprett commented on #4210
@AlexanderKUA you are saying that your loss='ls' model is outside the prediction interval? There might be multiple reasons: a) model is a poor approximation for the quanitles/mean or b) your data is heavily skewed, then the mean might be indeed outside the prediction interval. Can you show a histogram of your target variable?

[2015-02-10 23:18] Thunder1989 opened #4238 "different results on differen versions of sklearn"
I reinstalled my sklearn to the latest 0.15 and re-ran the same code with the same input on same setting (k-fold splitting, random seed) using SVC, but the classification results are quite different (like ~75% vs 93%). Previously I was using 0.14. Any thoughts on why?

[2015-02-10 23:37] mjbommar opened #4239 "http://scikit-learn.org/ down"
http://scikit-learn.org/ down for me from multiple locations:

[code]

[2015-02-10 23:42] jnothman commented on #4238
It's possible the cross validation implementation has changed. Can you
provide your code?

On 11 February 2015 at 10:18, Thunder1989 <notifications@github.com> wrote:

[2015-02-10 23:45] amueller commented on #4239
Same here. I think we should really move to github for hosting.
I can't work on it before Strata, though.

[2015-02-10 23:46] amueller commented on #4238
Can you reproduce your 0.14 results if you install that again? And can you try to git-bisect it?
If you can share the code + data we can help.

[2015-02-10 23:54] Thunder1989 commented on #4238
I can reproduce the results in 0.14.
I was using StratifiedKFold to only get the train and test indices and the rest of learning and testing was implemented by myself.

I quickly checked the train/test indices generated by StratifiedKFold, the ones from 0.14 is different from 0.15. It looks like this function might have been changed?

I can't release the data now, but I can share the code later if

[2015-02-10 23:57] amueller commented on #4238
Yeah I think that function changed. If you shuffle the data for 0.14 before doing the cross-validation
[code]
does the result on 0.14 change?

[2015-02-10 23:59] amueller commented on #4238
Or maybe more interestingly, if you run on 0.15, do you get better results again? If so, you data is ordered in some way, and you should ask yourself if you want to keep this ordering in your cross-validation or not.

[2015-02-11 00:03] Thunder1989 commented on #4238
I didn't try the shuffling, but I can imagine if I shuffle the data the results can be quite different.

But I was doing stratified k fold splitting and that's why I used StratifiedKFold nor KFold. And to me I don't think the split should be different on different versions?

Actually the new results on 0.15 are worse (w/o shuffling) and I did order the file by class but I don't think that will aff

[2015-02-11 00:06] Thunder1989 commented on #4238
Aha, wait, I misread your previous answer.
Let me try shuffling the data before SKFing it.

[2015-02-11 00:09] amueller commented on #4238
The reason we change the splitting was that it was done in a pretty unnatural way before. You'd expect the first from a given label to be in the first fold, which was not the case before. So what was done before could hide correlation issues inside the data, because it was basically shuffling it.

If your results vary widely when using different cross-validation folds, you should think hard about

[2015-02-11 00:18] Thunder1989 commented on #4238
That makes sense.
And shuffling the data before SKFing it solves the problem. Now 0.15 produces similar results.
Thanks!

[2015-02-11 00:21] amueller commented on #4238
Ok so then everything is as expected ;) The point is that if the ordering in your data is something like when the data arrived, and your test data will arrive at an even newer point in time, then the more pessimistic 0.15 result is more realistic for new test data.

[2015-02-11 00:21] #4238 closed

[2015-02-11 03:00] mjbommar commented on #4239
Up now.

[2015-02-11 03:00] #4239 closed

[2015-02-11 06:12] trevorstephens commented on #4223
@jnothman , I've found a couple of references that are somewhat relevant, interested in your thoughts so far:

[The Relationship between Recall and Precision](http://lsitcc.googlecode.com/svn/trunk/artigos%20recal-precision/the%20relationship%20between%20recall%20and%20precision-%20buckland%20and%20grey.pdf) @ 297 cites does not specifically address the question, but has several examples of P-R pl

[2015-02-11 06:44] ragv commented on #4236
NOTE - after the fix for this is introduced ( assuming #3907 gets merged first ), the `'embedding_'` attribute must be removed from the `skip_attribute` list!

[2015-02-11 10:22] AlexanderKUA commented on #4210
I made histograms(and examples of appropriate prediction intervals) of my target variable (please take into account that it is in range [0, 100]).

![case_2_interval_truncated](https://cloud.githubusercontent.com/assets/4736996/6145236/577243fe-b1e8-11e4-98c8-f78a5bb6b127.png)
![case2](https://cloud.githubusercontent.com/assets/4736996/6145235/57700cd8-b1e8-11e4-82af-38237c243bb7.png)
![case_3_int

[2015-02-11 12:14] ragv commented on #3888
I've enabled landscape for my fork...

If any one is still interested and wants to have a live preview of the same please [check this](https://landscape.io/github/ragv/scikit-learn) out.

@amueller It also has a bot like coveralls and can warn about missing docstrings, flake8 warnings etc... ( Related to #4108 )

[2015-02-11 14:29] Hasil-Sharma commented on #4236
Can I take up this issue ? If yes, please tell how should I proceed.

[2015-02-11 15:07] amueller commented on #4236
Hi @Hasil-Sharma. Sure you can. First you might want to add a test that SpectralEmbedding yields the same results on two subsequent calls. That test should fail on master.
Then add a function ``eigen_sign_flip`` or similar to ``sklearn.utils.extmath`` that finds the sign of the largest absolute value in each eigenvector, and flips the sign so that this entry is positive, similar to ``sklearn.utils

[2015-02-11 18:18] Hasil-Sharma commented on #4236
@amueller  thanks, I am getting started with it right away.

[2015-02-11 18:18] amueller commented on #4236
Cool :)

[2015-02-12 12:02] flangewad opened #4243 "misleading documentation re. shuffling in cross-validation"
Section 3.1.3. A note on shuffling in modules/cross_validation.html seems misleading.

It suggests that if the samples are ordered by time, then shuffling the data will lead to overfitting. Surely if we know there is a bias in the data order, the data should be shuffled to remove that bias, so that each fold aims to have a random IID split. Otherwise each iteration of the cross validation will be

[2015-02-12 12:11] jnothman commented on #4243
I think the text is correct, although you are welcome to suggest a rewording as a Pull Request.

We are assuming here that we want to use CV to build a model that generalises well to new data, likely of a later or different temporal period to the training corpus.

If there are temporal dependencies between the samples, then shuffled cross validation will give a poor estimate on the model's ability

[2015-02-12 12:11] #4243 closed

[2015-02-12 13:19] flangewad commented on #4243
In temporal analysis like that, you shouldn't be using these cross-validation techniques, but something like n-ahead validation.

I'll send a reworded pull request, as you suggest.

[2015-02-12 16:44] #4224 closed

[2015-02-13 18:15] ogrisel commented on #4236
Here is a way to reproduce the non-deterministic behavior:

[code]

[2015-02-13 22:34] amueller commented on #4056
I think we are actually in quite a nice shape after #4136. Maybe we should check if we can move more tests in the ``non_meta_estimator`` test.

[2015-02-13 22:34] amueller commented on #4133
Fixed by #4136, will get a even more of a fix in #4025

[2015-02-13 22:34] #4133 closed

[2015-02-14 22:56] #1523 closed

[2015-02-15 04:08] 2shou opened #4246 "what's the function of liblinear.pyd"
I have known that `liblinear.pyx` is the code to generate `liblinear.c` by cython.
But, how about `liblinear.pyd`, is it redundant?

[2015-02-15 08:33] ragv commented on #4246
I think you meant `liblinear.pxd`. Its more like a header file for C++/C source... Refer [this](http://stackoverflow.com/a/18032741/4016687).

Also kindly use our chat room at http://gitter.im/scikit-learn/scikit-learn for such questions...

[2015-02-15 08:33] ragv commented on #4246
can be closed

[2015-02-15 08:48] ragv commented on #3888
Also refer https://github.com/hugovk/word-tools/pull/7#issuecomment-67533284 for a sample comment by the Landscape Bot...

[2015-02-15 11:02] GaelVaroquaux commented on #3888
I think that it like it. It does seem to provide value. The danger is that it clutters even more the discussions, that are currently fairly tiring to follow.

I am :+1: for this. I'd like to hear from other core devs.

[2015-02-15 11:30] jnothman commented on #3888
I find the coveralls summary posts almost entirely unusable, so would be happy to see something more explicit in its description. I also think we're doing too much manual flake8ing and otherwise miss style errors arbitrarily, and welcome this becoming automated.

[2015-02-15 11:32] jnothman commented on #3888
But we may need to switch off some of its style errors like too many arguments and perhaps ones related to function length ...

[2015-02-15 11:40] ragv commented on #3888
I've submitted an issue to them asking them to consider deleting all but the latest comment. ( We could do that ourselves, but thats unproductive work ).

Also +1 for switching off coverals bot

[2015-02-15 11:41] Hasil-Sharma commented on #4236
@ogrisel : Thanks for the way to produle the non-detemisitc behavior

@amueller : I have done the following:
1. Creating a test ``` test_spectral_embedding_deterministic ``` in ```test_spectral_embedding.py``` that  checks for determistic behavior.
2. Adding a method ```eigen_sign_flip``` in ```spectral_embedding_.py``` that checks for absolute largest value in each of eigen vector after eigen val

[2015-02-15 11:43] ragv commented on #4236
@Hasil-Sharma Could you please send a PR with your existing work so we can assist you further?

[2015-02-15 15:12] #4246 closed

[2015-02-15 17:06] Hasil-Sharma commented on #4236
#4249

[2015-02-15 20:33] cangermueller commented on #4209
If nobody else already changed the docstring, I would like to do it as my first contribution to sklearn ;-).

I would change the docstring of `predict_proba` at `tree/tree.py:546` from

[code]

to

[code]

What do you think?
@amueller: what do you mean with "narrative"?

[2015-02-16 06:01] GaelVaroquaux commented on #4209
The "narrative" documentation is what generates the website, and is found in the "docs" directory. Specificaly docs/module/ensemble, I believe, for the forests.

[2015-02-16 14:14] ogrisel opened #4252 "Ensure that fitting on 1D input data is consistent across estimators"
As noted by @amueller in issue #3440  "Input validation refactoring", fitting on 1D input is currently not consistent across estimators.

Depending on the model the following case can either be treated as x is array of 100 samples and 1 feature (like `MinMaxScaler` does for instance) or as 1 sample with 100 features as most models currently do even if almost always counter-intuitive to do so.

[co

[2015-02-16 20:46] mrocklin opened #4255 "Support NumPy arrays with record dtypes?"
Consider the following NumPy array of data with a record dtype

[code]

By default this does not interact well with `sklearn` algorithms

[code]

This might be resolved with the following check in the appropriate place (perhaps `utils/validation.py:check_array()`?)

[code]

Of course, if there is some way to actually use the field names that I'm not seeing I'd also love to know about that.

[2015-02-16 20:59] agramfort commented on #4255
can you try passing a 2d array for X? Your X is of shape (3,)

[2015-02-16 21:04] mrocklin commented on #4255
The point of this issue is exactly to automate your suggestion.

In the case of a record array we generally treat a 2d grid of numbers as a one dimensional array of records.  These cases are easily identifiable and should possibly be automatically coerced in to the form that you suggest, an explicit 2d array of numbers without field names.

[2015-02-16 22:37] GaelVaroquaux commented on #4255
I would rather we do not do this and force the user to be explicit about the conversion. At some point the user should understand something about the data structure we expect.

Sent from my phone. Please forgive brevity and mis spelling

On Feb 16, 2015, 22:04, at 22:04, Matthew Rocklin <notifications@github.com> wrote:

[2015-02-17 00:40] chebee7i commented on #4194
So `_check_params` is probably helpful for the typical case. Where it struggles is with "advanced" usage. Here is what I have in mind:

[code]

The "weird" thing is that `kneighbors_graph` and `NearestNeighbors` must agree on what the parameters `metric`, `p`, and `metric_params` are, but in both cases, they are not matching the metric that was actually used. This is confusing and probably a barri

[2015-02-17 04:35] jnothman commented on #4255
I don't think that in general we should handle arrays with multiple dtypes
or with inequal field offsets. The struct array facility is too flexible
for our purposes. If the user knows it is representable as a flat array of
a primitive dtype, it's not hard to create a view. It's much harder to
handle all possible configurations of struct arrays or document which is
supported and which not.

On 17 F

[2015-02-17 11:38] chanansh opened #4259 "roc_curve should returns fix size for the same size input."
input length (true, score) is 9177
output fp,tp,th size is 5816 but when I re-sample the data it is 5756 (I guess due to sampling with replacement creates duplicate data which is about 1/e)
in matlab, perfcurve returns fp,tp,th the same size as the input size or at specified fp/tp/th values.

[2015-02-17 12:02] ogrisel opened #4260 "Broken plot_svm_scale_c.py example"
Here is the exception:

[code]

I found this pbm by building the documentation.

This might have reveal a change that broke backward compatibility. Need investigation.

[2015-02-17 12:08] jnothman commented on #4259
I don't understand what it means to report recall/fpr for a point that has the same threshold as another. It makes sense to report recall/fpr at a particular threshold. `roc_curve` returns as many values of recall/fpr as there are distinct thresholds (plus 1). It's easy enough to transform back into the form you want, using `np.repeat` with the repeats parameter as `np.unique(scores, return_invers

[2015-02-17 12:17] chanansh commented on #4259
Dear @jnothman,
The [perfcurve](http://uk.mathworks.com/help/stats/perfcurve.html) function in Matlab has this functionality. The idea is to have a constant length of output so you can perform statistics. See xCrit and xVal in the documentation link above. I believe the community will enjoy a version with optional fixed output length.

I wrote an interpolation wrapper which looks something like:
[

[2015-02-17 12:22] jnothman commented on #4259
I can't affort atm to look into this, but what sort of statistics do you mean?

[2015-02-17 18:39] mrocklin commented on #4255
Alrighty.  Thanks for the explanation.  Closing.

[2015-02-17 18:39] #4255 closed

[2015-02-17 23:15] amueller opened #4262 "SVM decision function consistency"
Several people on SO and the mailing list have complained they can't reproduce the decision function of the kernel SVM, and I was not able to do so myself. Either something in the docs or in the math is wrong, and I'm afraid I messed up some sign at some point :-/

See:
http://stackoverflow.com/questions/28503932/calculating-decision-function-of-svm-manually

[2015-02-17 23:52] amueller opened #4263 "Better univariate feature selection docs"
The selectors should have "see also" sections to the other selectors and to the scoring functions.
The narrative should give more details.

[2015-02-18 23:47] markvdw opened #4267 "Density doesn't normalise in VBGMM and DPGMM"
I'm having trouble using the VBGMM and DPGMM for density estimation. As far as I understand, both should have the same interface as the "normal" GMM. However, while the "normal" GMM produces a good fit, the VBGMM and DPGMM produce bad fits and *non-normalised densities*. This leads me to wonder whether there is something deeper wrong than me incorrectly using the code.

The problem presents itself

[2015-02-19 10:10] Barmaley-exe commented on #4262
I reproduced SVM (with RBF kernel) up to a sign. That is, I got the same numbers, but different sign.

Of course, I was following [SVM documentation](http://scikit-learn.org/stable/modules/svm.html#svc) in my calculations (with special emphasis on the fact `svm.intercept_` = ­­­­`-\rho`)

It looks like `dual_coef_` are actually `-y_i a_i`. I listed dual coefficients corresponding to the class 1 an

[2015-02-19 10:45] ogrisel commented on #4262
Thanks @Barmaley-exe. For reference: the full FAQ reads:

[code]

We should probably resync our source code with the latest version of libsvm. Last sync was 310. @Barmaley-exe if you are interested in working on this you should read the header of our svm.cpp and do a `git log sklearn/svm/src/libsvm` to see the list of sklearn specific customization that should reapplied on top of the code sync.

[2015-02-19 15:04] hannawallach opened #4268 "Bug in BernoulliBN"
Hi,

I found a small bug in the _update_feature_log_prob() method of the BernoulliNB class (https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/naive_bayes.py). Line 706 currently reads

    smoothed_cc = self.class_count_ + self.alpha * n_classes

but should instead read

    smoothed_cc = self.class_count_ + self.alpha * 2

To see why this is the case, check out line 8 in the TrainB

[2015-02-19 16:20] Barmaley-exe commented on #4262
@ogrisel customization seems to be quite significant. At this point, I presume, it'd be easier to add libsvm's patches on top of sklearn's implementation.

But having looked at the actual implementation, I doubt syncing with libsvm is worth it. Almost all changes introduced into libsvm are support vector indices (we already have this feature), a maximal number iterations limit  and the aforementio

[2015-02-19 16:45] amueller commented on #4262
Yeah I agree it would make more sense to do this on top of our label sorting fix.

[2015-02-19 22:36] Doron-Wiser opened #4271 "Bug in IsotonicRegression.score - finite float numbers being mistaken for nan/inf"
Hi,
scikit-learn IsotonicRegression class seems to be malfunctioning in its score method.

I am feeding it perfectly fine floating number arrays, the fit method works without raising any exceptions, and then the score method raises the following errors:

[code]

Here is some minimal example code to recreate this bug:
[code]

[2015-02-20 02:03] dvreed77 opened #4272 "SGDClassifier: ImportError: cannot import name array2d"
Hello,

I am getting the error:

    ImportError: cannot import name array2d

When trying to import the SGDClassifier.

Here is my stack trace

    ---------------------------------------------------------------------------
    ImportError                               Traceback (most recent call last)
    <ipython-input-29-e2b142623ed5> in <module>()
    ----> 1 from sklearn.linear_model import S

[2015-02-20 06:24] amueller commented on #4272
You likely have a broken installation of scikit-learn. Try to purge and reinstall.

[2015-02-20 06:24] amueller commented on #4272
Also, conda ships 0.16dev? That seems unlikely, are you sure you didn't install from github?

[2015-02-20 10:01] kianho opened #4273 "ENH: OOB trace for sklearn.ensemble classifiers"
To the best of my knowledge, the tree-based ensemble classifiers don't maintain a record of the OOB scores during the training phase (correct me if I'm wrong).

I would find this a useful feature since it would allow me to easily examine the number of trees (n_estimators) at which the OOB score stabilises e.g. ~~the _error_rate vs. n_estimators_ chart --
http://scikit-learn.org/stable/auto_example

[2015-02-20 13:37] agramfort commented on #4271
works fine with current master:

In [2]: %paste
from sklearn.isotonic import IsotonicRegression

x_1d = [ 3.97948718,4.,2.,2.97948718,4.48974359,4.46923077,
  2.,3.46923077,4.46923077,4.46923077,3.97948718,3.97948718,
  5.46923077,3.,2.48974359]
y_1d = [ 19.,9.,27.,27.,12.,17.,34.,30.,23.,25.,18.,21.,11.,24.,33.]

model = IsotonicRegression(y_min=0, increasing=False, out_of_bounds='clip')

model.f

[2015-02-20 18:28] ziky90 opened #4275 "Incorrectly computing true positives in the metrics._binary_clf_curve"
Hi,

I am calling the `metrics.precision_recall_curve(y_true, probas_pred)`
with
`y_true = [0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]`

`proba

[2015-02-20 18:28] amueller commented on #4267
As I said there, I think there are issues with VBGMM. The variational updates are non-standard. There is another issue here: #2454

[2015-02-20 18:36] amueller commented on #4267
Does the above code run for you? Which version of scikit-learn are you using?

I think it should be

``python

import numpy as np
import numpy.random as rndn
import sklearn.mixture as skmix
import matplotlib.pyplot as plt
rnd  =  np.random.RandomState()

X = rnd.randn(0.7 * 300, 1) - 5
X = np.vstack((X, rnd.randn(0.3 * 300, 1) * 0.3 + 3))

# gmm = skmix.GMM(2)
gmm = skmix.DPGMM(2)
gmm.fit(X)

x =

[2015-02-20 19:05] markvdw commented on #4267
Both the code above and the code you wrote run (though there's a typo in the import numpy.random statement). I'm using 0.15.2. Both produce the same result. Bad fits and non-normalised predictions.

[2015-02-20 19:40] Doron-Wiser commented on #4271
OK - this is not a bug in the 0.16.dev version, but it is a bug in the stable version 0.15.2 (installed with conda as scikit-learn: 0.15.2-np19py27_0)

Seems like the revisions to check_array in this commit fixed it:
https://github.com/scikit-learn/scikit-learn/commit/6e2a83b4e184f0e51aead75d5c82fc0284fa6233

Thanks!

[2015-02-20 19:40] #4275 closed

[2015-02-20 20:00] #4271 closed

[2015-02-20 20:54] warmspringwinds opened #4276 "Parameters grid search with different text sets for dictionary creation and cross validation"
I am not sure whether it's an issue or not, but I am stuck in trying to solve this problem:

http://stackoverflow.com/questions/28625456/parameters-grid-search-with-different-text-sets-for-dictionary-creation-and-cros?noredirect=1#comment45551865_28625456

Is there any way to solve it using `gridsearchCV()`?

[2015-02-21 17:50] Barmaley-exe commented on #4262
Turned out many things depend on the label ordering. For example, the order of support vectors (and their indices).

For details, please refer to the PR above.

[2015-02-22 16:30] Barmaley-exe commented on #4168
Strangely enough, in many places Mahalanobis distance is raised to the power of `0.33`, that is, a cubic root is taken.

It looks like this allows us to approximate Mahalanobis distance with normal distribution. The square of Mahalanobis distance [has](http://en.wikipedia.org/wiki/Mahalanobis_distance#Normal_distributions) Chi-square distribution, which is [approximately](http://en.wikipedia.org/w

[2015-02-22 23:44] amueller commented on #3888
I agree that we shouldn't be too strict and I am for turning off coveralls.

[2015-02-22 23:51] amueller commented on #4252
I would think it is consistent now, but indeed there is no test.
I agree that the current behavior is somewhat counter-intiuitive, in particular since the first shape of ``X`` is always ``n_samples``.
We should add a test to see how inconsistent it is currently.

[2015-02-23 00:05] amueller commented on #4194
Sorry for the lack of reply, we are currently pretty busy working on a release. Maybe @jakevdp can comment?

[2015-02-23 00:22] amueller commented on #4259
I guess cross-validated roc curves like in this example:
http://scikit-learn.org/dev/auto_examples/model_selection/plot_roc_crossval.html

[2015-02-23 00:29] amueller commented on #4259
I'm not sure how common such an evaluation is. We do show ho to do it in an example, and it seems to be just a single call to ``interp``.
If we had a function for ``roc_curve" we should also add one for "precision_recall_curve". Adding two functions that do a single line seems odd.
What do you use the interpolated threshold for?

[2015-02-23 00:48] lightcatcher opened #4279 "PolynomialFeatures uses more memory than necessary"
If we have a data matrix with shape ``(n_examples, n_original_features)`` and we wish to perform add polynomial features and have a new data matrix of shape ``(n_examples, n_polynomial_features)``, the ``PolynomialFeatures`` class uses ``n_examples * n_polynomial_features * n_original_features`` memory rather than just ``n_examples * n_polynomial_features``.

This comes from https://github.com/sci

[2015-02-23 01:45] amueller commented on #4268
I agree. @larsmans any input?
@hannawallach do you want to create a patch + non-regression test? I'm not sure what a good test would be. Maybe that ``alpha=1`` is the same as adding one example that is all zero and one that is all ones to each class (that is true, right?)?

[2015-02-23 02:07] amueller commented on #4279
I agree it would be nice to have a version with a smaller memory requirement.
I haven't thought about it much but it should be pretty easy to cythonize this. You need to take care that slicing is efficient, though.
Have you thought about using kernel methods btw?

[2015-02-23 02:27] jnothman commented on #4279
I've not looked at this thread properly, but there are two alternative patches awaiting review at #3514 and #3512.

[2015-02-23 02:50] amueller commented on #4276
answered there. You can use a pre-specified dictionary but that won't change anything.

[2015-02-23 02:50] #4276 closed

[2015-02-23 02:56] amueller commented on #4267
I only pretty recently looked into the module and I agree that there is something fishy.
I think we need to rewrite it, as the derivation of the variation updates seems non-standard. Any help is very welcome.

[2015-02-23 03:33] ragv commented on #3888
So would anyone be able to find time to setup landscape.io and importantly the landscape bot and landscape github status hook ( after it is released... refer https://github.com/landscapeio/landscape-issues/issues/71#issuecomment-66186497), since there are no oppositions to the same?

[2015-02-23 05:24] ragv commented on #4272
@dvreed77 Could you kindly confirm if this issue has gotten resolved after a purge and reinstall?

[2015-02-23 06:53] dgaeta opened #4280 "FAIL: sklearn.feature_extraction.tests.test_image.test_connect_regions"
======================================================================
FAIL: sklearn.feature_extraction.tests.test_image.test_connect_regions
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/Library/Python/2.7/site-packages/nose/case.py", line 197, in runTest
    self.test(*self.arg)
  File "/Library/Python/2.7/site-packages/sklearn

[2015-02-23 06:56] chanansh commented on #4259
I use it to study the stability of the performance in two ways: fp fixed: confidence interval of tpr and thr. thr fixed: confidence interval of tpr and fpr.

[2015-02-23 06:57] glouppe opened #4281 "BUG: _tree.pyx does not longer compile with Cython 0.22"
[code]

[2015-02-23 07:33] #4281 closed

[2015-02-23 10:11] lightcatcher commented on #4279
@amueller : I started looking into quadratic features because I had great performance with SVM with quadratic poly kernel and I wanted to try out quadratic features for logistic regression as well as trees.

From reading over #3514 and #3512 as well as my own solution (which is similar to #3512 but loops over ``n_features`` rather than ``n_samples`` and requires ``n_samples * n_features_out`` extr

[2015-02-23 13:30] denniskl opened #4283 "sklearn.cluster.DBSCAN: Allow for 'nan' values for user-defined metric"
[code]

does not work if _matrix_ contains numpy.nan values. However, the user-defined metric might be able to handle nan values.

Would be great if you could allow nan values if a user-defined metric is defined.

[2015-02-23 14:31] dvreed77 commented on #4272
I'm sorry, I haven't had time to confirm, but will try tonight.  This is
working on a different machine of mine, so it is most likely solvable by
reinstalling

On Mon, Feb 23, 2015 at 12:24 AM, ragv <notifications@github.com> wrote:

[2015-02-23 16:04] amueller commented on #4280
There was an issue with older scipy versions. Upgrade your scipy and try again.

[2015-02-23 16:04] #4280 closed

[2015-02-23 16:06] amueller commented on #4283
Yeah we should do less strict input validation with user defined metrics. PR welcome.

[2015-02-23 16:07] amueller commented on #4279
Cython should be pretty close to C (or identical, depending on how far down the rabbit hole you go).

[2015-02-23 16:08] amueller commented on #4279
I'll close this one in favor of #3514 for now.

[2015-02-23 16:08] #4279 closed

[2015-02-23 17:55] markvdw commented on #4267
I'm currently busy with a job, but I'll have some free time in April. Should be an interesting project - I'll get in touch nearer that time.

[2015-02-23 22:15] hannawallach commented on #4268
Hi all,

Just issued a pull request. Re. a test, I think the following seems reasonable:

    from numpy import all, log, tile, unique
    from numpy.random import randint
    from sklearn.naive_bayes import BernoulliNB

    n_features = 3
    n_classes = 3

    X = randint(2, size=(5, n_features)) # create 5 binary-featured instances
    Y = randint(n_classes, size=5) # create class labels

    #

[2015-02-23 22:38] dvreed77 commented on #4272
Confirmed the reinstall worked.

    conda remove scikit-learn
    conda install scikit-learn

Thank you!

[2015-02-23 22:38] #4272 closed

[2015-02-24 04:15] jnothman commented on #4276
I've attempted to respond to this on SO. Neither of the solutions is especially pleasing.

[2015-02-24 08:10] Hasil-Sharma commented on #4167
Can I take up this issue or someone is already working on this one ?

[2015-02-24 09:07] ragv commented on #4167
I had wanted to... but never got started... please feel free to work on it and let me know if I could help... :)

[2015-02-24 11:35] Hasil-Sharma commented on #4167
@ragv : A few pointers would be really appreciated :)

[2015-02-24 17:28] ogrisel commented on #4268
Instead of using randin, you might as well specify toy X and Y inline as (3 features, 3 classes and 5 samples).

[2015-02-24 21:28] #3741 closed

[2015-02-24 21:33] #4006 closed

[2015-02-24 21:39] amueller commented on #3142
Closed by #4057.

[2015-02-24 21:39] #3142 closed

[2015-02-24 21:39] amueller commented on #4055
Closed by #4057.

[2015-02-24 21:39] #4055 closed

[2015-02-24 21:50] amueller commented on #4268
That would be a test against IR book, which I guess is good. Btw the multinomial is fine like that, right?

[2015-02-24 21:51] amueller commented on #4267
We might pose it as a GSOC project, but if no-one takes it you are very welcome. I think it is actually fun, but I'm not sure I'll have the time.

[2015-02-24 22:15] #2771 closed

[2015-02-24 22:41] amueller commented on #2640
Fixed in #3945. Thanks @AlexisMignon :)

[2015-02-24 22:41] #2640 closed

[2015-02-25 00:30] amueller commented on #4275
Hey. So was there an issue or did you find the problem?

[2015-02-25 00:37] amueller commented on #4273
The RandomForestClassifier has a parameter ``oob_score`` http://scikit-learn.org/dev/modules/generated/sklearn.ensemble.RandomForestClassifier.html#sklearn.ensemble.RandomForestClassifier If that is set to ``True`` the estimator will have ``oob_score_`` and ``oob_decision_function_`` attributes.

The GradientBoostingClassifier always has an ``oob_improvement_`` attribute: http://scikit-learn.org/d

[2015-02-25 00:41] amueller commented on #4273
The reason that there is no direct oob score for gradient boosting is that the method that is in the gbm package will not give an unbiased estimate. You can probably find the discussion in the issue tracker.

[2015-02-25 00:42] amueller opened #4290 "Document oob estimates of RandomForest* and Bagging*"
In the narrative. It is not currently mentioned :-/

[2015-02-25 00:43] amueller commented on #4273
I'll close this as it is actually implemented, but opened #4290 as it is not super easy to find.

[2015-02-25 00:59] amueller opened #4291 "Meta-Estimators should have uniform parameter delegation behavior"
To grid-search parameters of sub-estimators, ``Pipeline`` and ``FeatureUnion`` currently use a ``__`` syntax and named sub-estimators.
~~``BaggingClassifier`` and~~ ``RFE`` however use an ``estimator_params`` parameter, that makes grid-searches relatively awkward. I suggest we change them to the pipeline behavior by overloading ``get_params`` (or refactoring get_params by defining a unified way to

[2015-02-25 01:18] jnothman commented on #4291
It should not be necessary to overload `get_params`, merely to deprecate `estimator_params`:

[code]

[2015-02-25 01:20] jnothman commented on #4291
Ensembles' `estimator_params` is different: it is a forwarding list for parameters on the ensemble that need to be passed onto its members.

[2015-02-25 01:21] jnothman commented on #4291
It would be a bit awkward to set forest parameters as `forest__estimator__*`

[2015-02-25 01:59] kianho commented on #4273
Thanks for the response Andreas, to further clarify: I was already familiar the `.oob_score_` attribute, but I wanted to know if there was already a way to get a list of OOB scores computed over each growth iteration, i.e. the OOB score for n_estimators=1, 2, 3, ..., n whilst the random forest is training.

[2015-02-25 02:42] amueller commented on #4291
How is this different? And I'm not talking about the forest, that replicates the tree parameters, I'm talking about, say, a ``BaggingClassifier(SVC())``.

[2015-02-25 02:48] jnothman commented on #4291
estimator_params is a parameter of BaseEnsemble. It shouldn't be used by
BaggingClassifier users, IMO, while set_params can be used there.

On 25 February 2015 at 13:42, Andreas Mueller <notifications@github.com>
wrote:

[2015-02-25 02:49] amueller commented on #4291
Ah, the magic is in this line:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/base.py#L220
Somehow I overlooked that.... it seems my year at amazon made me forget about all that logic there. Sorry about the confusion.

So we baked in the logic here for parameters that are estimators (so it does actually work for BaggingClassifier). But we didn't bake in the logic for parameters t

[2015-02-25 02:50] jnothman commented on #4291
estimator_params isn't a constructor parameter for any non-abstract
ensemble estimators.

On 25 February 2015 at 13:48, Joel Nothman <joel.nothman@sydney.edu.au>
wrote:

[2015-02-25 02:50] amueller commented on #4291
you are right.

[2015-02-25 02:52] jnothman commented on #4291
Precisely. And should probably not bake in such logic.

On 25 February 2015 at 13:49, Andreas Mueller <notifications@github.com>
wrote:

[2015-02-25 02:55] amueller opened #4292 "Deprecate estimator_params in RFE and RFECV"
For grid-searches they can be set using the ``__`` delegation mechanism, for construction they can just be passed via the estimator.
See my bone-headedness in #4291.

[2015-02-25 02:55] amueller commented on #4291
Fair enough. Closing and opening #4292 to fix RFE and RFECV.

[2015-02-25 02:55] #4291 closed

[2015-02-25 02:55] amueller commented on #4291
Thanks for your patience ;)

[2015-02-25 03:01] amueller commented on #4273
The random forest growing is embarrassingly parallel, that means they are completely independent of each other. Do you want to have an estimate of how it would look like after training all of them, or actually during training. You can compute the curve as above in hindsight easily (though there is indeed no function for that currently). But it is in no way unique. The trees don't really have an or

[2015-02-25 03:03] amueller commented on #4273
Is there an explanation of what the R package does somewhere?

[2015-02-25 03:21] amueller commented on #4273
You could do something like:
[code]
But this introduces an ordering into the trees that I feel is a bit unnatural... you could do all (n_estimator choose i) combinations of i trees and compute mean and standard deviation over that... but that seems slightly overkill...

Not sure how other people (@gilles?) feel about this.

[2015-02-25 03:56] kianho commented on #4273
I was after OOB scores on-the-go. The randomForest R package is a serial implementation and records/displays the oob score at the end of each growth iteration, therefore new trees have an ordering. I agree that a similar ordering for parallel RFs would seem somewhat arbitrary (no guarantees on which tree in a batch of n would be "completed" first?).

source: https://github.com/rforge/randomforest/

[2015-02-25 04:13] amueller commented on #4273
hm.... well you can monitor on the go with the R implementation but you can't create the plot without copy and pasting the stdout...

The gradient boosting has a callback afaik which would allow you to do things like these on the fly. Still, not sure how to make that work nicely with a parallel implementation.

Having an easy way to validate how a certain number of trees fares would be nice, but i

[2015-02-25 04:15] #3975 closed

[2015-02-25 10:37] ziky90 commented on #4275
I was just confused by the completely wrong classifier and I have wrongly computed tps by hand so the mistake was on my side.
I have at least closed the issue. (I didn't find a way how to completely delete it)

[2015-02-25 13:35] ogrisel commented on #3872
All those examples are fixed. If we find more broken examples besides #4260 let us open dedicated issues.

[2015-02-25 13:35] #3872 closed

[2015-02-25 15:18] ragv commented on #4167
* Make a helper `_partial_fit_binary` ( refer `_fit_binary` )
* Add `parial_fit` methods for `OneVsOneClassifier` and `OneVsRestClassifier` ( also `OuputCodeClassifier` if it is straightforward, else leave that one alone... ) ( refer the `fit` method for the respective classes )
* Add tests to make sure the added `partial_fit` methods work as intended...

[2015-02-25 15:23] #4260 closed

[2015-02-25 18:34] amueller commented on #4275
it's fine, just double checking ;)

[2015-02-25 18:55] amueller commented on #3872
tres bien! (I need to learn to type accents on us keyboards)

[2015-02-25 18:56] amueller commented on #4132
Fixed in #4136.

[2015-02-25 18:56] #4132 closed

[2015-02-25 18:56] amueller commented on #4124
Fixed in #4136.

[2015-02-25 18:56] #4124 closed

[2015-02-25 18:57] amueller commented on #4056
Closing as #4136 did most of the obvious stuff. Will revisit but the issue doesn't actually add value.

[2015-02-25 18:57] #4056 closed

[2015-02-25 18:58] amueller commented on #3990
@jnothman what was the reason for tagging this as 0.16? Should we postpone?

[2015-02-25 19:01] amueller commented on #2069
No feedback, old issue, I disagree => closing. Reopen with any additional input / comments.

[2015-02-25 19:01] #2069 closed

[2015-02-25 19:02] amueller commented on #291
untagging the milestone. Will be solved with the new GP implementation.

[2015-02-25 19:02] #291 closed

[2015-02-25 19:22] amueller commented on #3888
The code errors it reports actually seems pretty legit to me.

[2015-02-25 19:27] amueller commented on #3888
This is only free for 14 days, right? Or what am I doing wrong? Also, it doesn't show me scikit-learn/scikit-learn repo, only scikit-learn/alltheotherones.

[2015-02-25 19:28] amueller commented on #3888
Ah, it didn't show scikit-learn/scikit-learn because there was a python filter and scikit-learn is C ^^

[2015-02-25 19:29] amueller commented on #3888
https://landscape.io/github/scikit-learn/scikit-learn

[2015-02-25 19:31] ragv commented on #3888
I think its free for all open source projects! from the question and answer section at https://landscape.io/plans -

What about my open-source repositories?

[2015-02-25 22:19] xuewei4d commented on #3506
Hi all,

May I take over this issue? It seems that the referenced two PRs have stalled.

I have done coding, documentation, and testing. I found the balanced accuracy score is equal to the average of positive label recall and negative label recall. I did not take the balance weight into account. Since in the wikipedia, it is fixed as 0.5. So my code is quite simple. May I open a [WIP]PR?

I am new

[2015-02-25 22:29] adam-m-mcelhinney commented on #3506
I haven't touched it. I believe someone else had finished it however.

On Wed, Feb 25, 2015 at 4:20 PM, Wei Xue <notifications@github.com> wrote:

[2015-02-25 23:09] xuewei4d commented on #3506
hi, @adam-m-mcelhinney,

Searching keywords ```balanced accuracy``` shows only two relevant PR #3929 and #3511. They have no progress since last year.  If some else had finished it, he/she would have cross reference this issue #3506.

[2015-02-25 23:39] hannawallach commented on #4268
@ogrisel Yeah, okay I'll come up w/ a toy X and Y example instead.

@amueller Yes, this is basically a test against the feature log probability in the IR book. At first glance it seemed quicker to write than what you suggested (though I'm happy to be convinced otherwise ;-) ). I think MultinomialNB is fine, but I haven't checked it in detail.

Should I include the test (modified to use a single, f

[2015-02-25 23:44] amueller opened #4296 "Friendly error on KNeighbors(n_neighbors=0)"
Using zero neighbors should give a sensible error on fit and / or predict.

[2015-02-25 23:53] amueller commented on #4268
Yes please add it to ``tests/test_naive_bayes.py`` Thanks :)

[2015-02-26 15:03] ogrisel opened #4297 "Infinite loop when running isotonic regression with some zero-valued weights"
I extract the following bug from the discussion in https://github.com/scikit-learn/scikit-learn/issues/2507#issuecomment-72048443 :

[code]

This bug alone should probably be considered a release critical bug for 0.16.

[2015-02-26 16:56] adam-m-mcelhinney commented on #3506
Looks like its all yours then. Let me know if you want to collaborate on
anything.

On Wed, Feb 25, 2015 at 5:09 PM, Wei Xue <notifications@github.com> wrote:

[2015-02-26 17:26] skdatascientist commented on #2989
When will the 'knn' imputation be incorporated?

[2015-02-26 19:12] amueller opened #4298 "Make clear that RBFSampler implements a variant of Random Kitchen Sinks"
The name might not be super telling and we should make it more discoverable

[2015-02-26 19:27] hannawallach commented on #4268
Done! :-) Let me know if there's anything else you'd like me to change!

[2015-02-26 22:23] diego898 commented on #1362
Hello! @arjoly I dont see that in the cross-validation API. Have there been API changes made to address the points in this and referenced issues? Thanks!

[2015-02-27 09:49] glouppe commented on #4273
Using the new `warm_start` parameter, you could add trees 1 by 1 (or N by N) and monitor `oob_score_` between each call to `fit`.

[code]

But then, you dont leverage parallel support.

[2015-02-27 10:35] #4268 closed

[2015-02-27 11:38] chitcode commented on #2989
This is extract from the book "Applied Predictive  Modeling" by Max Kuhn and Kjell Johnson

One popular technique for imputation is a K-nearest neighbor model.
A new sample is imputed by finding the samples in the training set “closest”
to it and averages these nearby points to fill in the value. Troyanskaya et al.
(2001) examine this approach for high-dimensional data with small sample
sizes. One

[2015-02-27 13:02] skdatascientist commented on #2989
Hello Chitcode,

Thanks for your reply. I'm aware of the Max Kuhn book and the reference...I'm not sure how it is relevant to the implementation of 'knn' strategy in  sklearn.preprocessing.Imputer.

I just wanted to know if and when this will be incorporated...I'm a newbie to python and sklearn and been bit frustrated with not finding alternatives beyond mean/median imputing..

I found this link f

[2015-02-27 13:08] arjoly commented on #1362
This is not yet in scikit-learn, but there is a pr for this feature https://github.com/scikit-learn/scikit-learn/pull/1574.

[2015-02-27 13:15] ogrisel commented on #2989
Well it sounds like a good reference for someone interested in implementing this.

As far as I know nobody is working an implementation at the moment.

You could train alternative models such as Random Forests instead of to predict the missing values instead of KNN.

[2015-02-27 13:18] GaelVaroquaux commented on #2989
Which wouldn't work well in high-dimensional settings... I think that the
right API would be to be able to pass in an estimator for the prediction,
and have a set of predefined choices that would be specified by a string,
such as 'knn', 'random_forest', 'ridge'...

[2015-02-27 14:11] skdatascientist commented on #2989
thanks for the replies. I'm not yet good in python programming to write the 'knn/ RF' method  myself..
I tried to call R packages from python with rpy2 to get imputations done with R packages but couldnt manage to get it work yet..
I use many of the packages listed here when I do ML in R..
Link : http://www.stefvanbuuren.nl/mi/Software.html
I hope there will be similar techniques for imputing in p

[2015-02-27 14:17] ogrisel commented on #2989
@skdatascientist please do not hijack this github issue to ask for assistance or recommendations. This is not a discussion group but an issue tracker for a software project. Now to end this side discussion: I am no datascientist myself so I cannot recommend anything. If I had to do deal with missing data in my own projects I would probably try to implement both KNN and RF based imputation and comp

[2015-02-27 14:59] skdatascientist commented on #2989
My apologies, my intention wasn't to 'hijack'. Thanks for your replies.

[2015-02-27 15:25] amueller commented on #4273
Right, I forgot about that. I guess that solves it.

[2015-02-27 17:57] xuewei4d commented on #4296
Hi, I don't know if it is enough to raise ValueError in ```KNeighborsMixin.kneighbors```, if ```n_neighbors < 1``` ?

[2015-02-27 18:12] amueller commented on #4296
Yeah, I think that should be fine. This should happen in "fit", and you need to add a regression test.

[2015-02-27 18:27] ogrisel commented on #3402
Closing this. Many tests have been sped up. We can always improve this but the original report is no longer up to date.

[2015-02-27 18:27] #3402 closed

[2015-02-27 19:33] ogrisel opened #4303 "The datastructure returned by LSHForest.radius_neighbors should be consistent with the output of exact methods"
LSHForest has not been released yet. We should therefore fix this API consistency bug before the 0.16 release to avoid introducing a backward incompatible fix in the future.

[2015-02-27 22:10] #4168 closed

[2015-02-27 22:46] amueller opened #4304 "SpectralClustering should be explicit about include_self"
Currently it raises a deprecation warning because it doesn't pass "include_self" to ``kneighbors_graph``

[2015-02-27 22:50] amueller opened #4305 "svm.bounds should change loss name to squared_hinge"
as we deprecated "l2" in SVM, we should also deprecate it here: sklearn/svm/bounds.py

[2015-02-27 23:08] mjbommar commented on #4297
@ogrisel , have fix in my personal repo but want to wait until the work @amueller and I did in #4302 is done to minimize mess.

[2015-02-27 23:24] memeplex opened #4306 "sgd with warm_start learning rate"
I think the sgd estimators should not:

[code]

when the `warm_start` parameter is `True`. This way the learning will not be reset every time `fit` is "warm called".

The same applies when `fit` is called with initial intercept or coefs.

What do you think?

[2015-02-27 23:27] amueller commented on #4297
I don't understand the fix. How does that work? ``sample_weight`` needs to have the same shape as X and y, right? I think after #4302, it is just a matter of dropping the points with zero weight in ``fit``.

[2015-02-27 23:33] amueller commented on #4297
Never mind, I misread your fix, it is good. It only works after removing ``fit_transform`` in #4302, though.

[2015-02-27 23:47] mjbommar commented on #4297
@amueller , yup, which is why I wanted to wait to pull against master after #4302 is merged :)

[2015-02-28 01:11] memeplex commented on #4306
On a second thought maybe the best option is to let the user combine `learning_rate='constant'` with warm fits. This way the user has complete control over the learning rate in each warm fit and can implement different "coarse" learning strategies without hacking into the sgd internals. In this case keeping the value of `t_` between warm fits is irrelevant.

Still, what do you think?

[2015-02-28 01:27] xuewei4d commented on #4296
Thanks, @amueller.

If it raise ```ValueError``` in ```KNeighborsMixin.kneighbors```, it happens in predict, not in fit.

I found all neighbor classifier and regressor's ```fit``` is using ```NeighborsBase._fit```.  When ```_fit``` building trees or using brute force, ```NeighborsBase``` don't need ```n_neighbors```. However, ```n_neighbors``` is needed in ```KNeighborsMixin.kneighbors```; and in

[2015-02-28 01:55] amueller commented on #4296
I think it is better to check in ``fit``, even if it is not used there. For the test, it might be best to use ``assert_raise_message``

[2015-02-28 11:56] jnothman commented on #4303
I'm not sure what you mean here. An issue of whether `dtype=object` should be returned always or only when necessary is discussed in #4072 (and elsewhere). It pertains there to a discrepancy between brute force and binary tree, as reported in #1400 (and apparently discussed on the mailing list, but the link there appears broken), not only LSHForest.

[2015-02-28 12:37] ogrisel commented on #4303
No it's the ordering of the results that is not consistent.

[2015-02-28 13:24] jnothman commented on #4303
Do you mean that it should be sorted by index rather than distance? That's the only inconsistency (apart from dtype issues) I can see. I still fail to see this mentioned in #4121.

[2015-02-28 14:23] agramfort commented on #4306
what would be the difference between warm_start and partial_fit?

[2015-02-28 14:35] memeplex commented on #4306
One important difference is that I didn't know partial_fit was for (incremental learning), so shame on me and thank you for putting me on the right track. In my
defense: the documentation for the method just duplicates the one for fit.

[2015-02-28 14:37] agramfort commented on #4306
you can send us a patch with docstring improvement that would have helped
you.

[2015-02-28 15:53] xuewei4d commented on #4296
I found another problem. If ```n_neighbors=None```, it won't raise any exception until ```predict```.
[code]
Does that make more sense to check ```n_neighbors``` not None and not smaller than 1 in ```NeighborsBase._init_params``` ?

[2015-02-28 17:49] ogrisel commented on #4303
I am speaking of the necessity to use sort on the output of `LSHForest.radius_neighbors` to get the same outcome as `Neighbors.radius_neighbors`:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neighbors/tests/test_approximate.py#L201

[2015-02-28 19:59] ragv commented on #2274
Partially fixed in #4307

[2015-03-01 09:51] vortex-ape commented on #4305
Can you guide me on this one? Should I change l2 to squared_hinge?

[2015-03-01 15:49] Barmaley-exe commented on #4262
Okay, the ordering inversion breaks too much stuff. New idea: fix documentation, and add a test to reproduce decision function with rbf kernel.

[2015-03-01 17:35] ogrisel commented on #4303
Actually upon further inspection the ordering of the results in a `radius_neighbors` query is not guaranteed to follow any ordering. We should probably make that more explicit in the docstrings of the various methods (exact and approximate).

[2015-03-01 18:32] amueller commented on #4296
I think you should check that it is an integer (or castable to an integer?)

[2015-03-01 18:38] #4305 closed

[2015-03-01 18:55] amueller opened #4311 "Non-deterministic OMP failures on travis."
they make me unhappy

https://travis-ci.org/scikit-learn/scikit-learn/builds/52648279

[2015-03-01 19:05] amueller commented on #4305
Already fixed by @larsmans, sorry ;)

[2015-03-01 21:53] vortex-ape commented on #4305
I'll look into another issue. :smile:

[2015-03-01 23:52] vortex-ape commented on #4304
So, it should pass True to the kneighbors_graph as the mode is "connectivity"?

[2015-03-02 00:02] amueller commented on #4304
I think so but I'm not entirely sure. I think before it used "False" (implicitly) so we should check if behavior changed and at least warn.

[2015-03-02 00:14] vortex-ape commented on #4304
Can you guide me on how to check for changed behavior?

[2015-03-02 00:43] vortex-ape commented on #4298
It's mentioned in doc/modules/kernel_approximation.rst? I guess we could also add it to sklearn/kernel_approximation.py

[2015-03-02 02:40] amueller commented on #4298
Both in doc/modules/kernel_approximation.rst and in the docstring in sklearn/kernel_approximation.py. I vaguely remember that the random kitchen sink paper was slightly different form the paper that is cited in the estimator (I think using sin/cos vs only using cos and sampling an intercept). Can you check that and also mention it?

[2015-03-02 05:49] vortex-ape commented on #4298
@amueller - Please correct me if I'm wrong and suggest improvements. :sweat_smile:

[2015-03-02 06:08] vortex-ape commented on #4311
After going through the build logs, I can see that the error occurs at test_non_meta_estimators in sklearn/tests/test_common.py where it says that SpectralEmbedding is  non-deterministic, see issue #4236 Maybe it is the reason for failure.
Can you guide me further on this?

[2015-03-02 09:32] ogrisel commented on #4304
Try on a toy dataset of your own with the last stable release of scikit-learn, namely 0.15.2.

[2015-03-02 14:21] amueller commented on #4311
No, the error is in ``check_estimators_dtypes`` with ``OrthogonalMatchingPursuitCV``.
Maybe try to reproduce first. We should catch the error and try to handle it more gracefully.

[2015-03-02 14:33] amueller commented on #4304
Actually setting it to ``True`` will just keep the old behavior, I just realized ;)

[2015-03-02 14:40] ogrisel commented on #4303
@jnothman I have clarified the docstrings in #4317.

[2015-03-02 14:50] ogrisel commented on #4311
I have an open PR for that here: #3473 although we could probably further centralize the fix.

[2015-03-02 14:51] ogrisel commented on #3540
Closing as duplicate of #4311.

[2015-03-02 14:51] #3540 closed

[2015-03-02 16:41] amueller opened #4319 "unexpected keyword average in accuracy_score"
In this example:
[code]

@jnothman @arjoly can you confirm when this was removed / deprecated?

[2015-03-02 17:44] amueller commented on #4235
See #4313 and #4304 for SpectralClustering.

[2015-03-02 17:50] amueller commented on #4319
Oh, that was just a typo in 081a5546988e4514afecf00250901f66e29b7543. Never mind, fixing it in #4320

[2015-03-02 18:08] amueller opened #4321 "Sphinx throws errors on classes/functions with no examples"
Since #3327, any class / function that is not included in any example throws
[code]
when building the docs.
I think we should just make sure to generate empty rst files, as I suggested in #3327.

[2015-03-02 18:08] amueller commented on #4321
ping @jnothman

[2015-03-02 18:23] vortex-ape commented on #4235
@amueller - I found these, I'll check in them.
`grep -rnw sklearn -e "kneighbors_graph"`

<pre>
sklearn/semi_supervised/label_propagation.py:128:                return self.nn_fit.kneighbors_graph(self.nn_fit._fit_X,
sklearn/manifold/locally_linear.py:93:    sklearn.neighbors.kneighbors_graph
sklearn/manifold/spectral_embedding_.py:22:from ..neighbors import kneighbors_graph
sklearn/manifold/spect

[2015-03-02 18:34] amueller commented on #4235
thanks :)
Though be careful to distinguish the method on the neighbors objects from the function. For the method, you can get ``include_self=False`` by passing X=None, I think.

[2015-03-02 19:01] ragv commented on #4167
@Hasil-Sharma Please feel free to ask if you might need any further help :)

[2015-03-02 19:20] #4298 closed

[2015-03-02 19:35] ogrisel commented on #4311
I merged your fix @amueller. Let's close this issue and reopen if we observer new failures in the future.

[2015-03-02 19:35] #4311 closed

[2015-03-02 19:49] #4319 closed

[2015-03-02 19:52] amueller commented on #4235
I went ahead and fixed some in #4322 as I'd like to get rid of this for the release. Let me know if you find any more issues.

[2015-03-02 20:09] vortex-ape commented on #4235
@amueller - Do we have to change `/examples/cluster/plot_agglomerative_clustering.py`?

[2015-03-02 20:11] amueller commented on #4235
This was just merged:
https://github.com/scikit-learn/scikit-learn/pull/4320/files#diff-9bb1dd03265b70eb827bf8793b6e46d1L50

[2015-03-02 20:11] vortex-ape commented on #4235
Oh, cool.

[2015-03-02 20:21] vortex-ape commented on #4235
What about `sklearn/cluster/tests/test_hierarchical.py`?

[2015-03-02 20:24] amueller commented on #4235
Did I miss anythign here? https://github.com/scikit-learn/scikit-learn/pull/4322/files#diff-ccbfb94bf8d0cd9b4c0230e73930c328

[2015-03-02 20:25] amueller commented on #4235
fyi there is a nice way to check out other peoples' prs: https://gist.github.com/piscisaureus/3342247

[2015-03-02 20:27] ogrisel commented on #4321
+1 for generating empty rest files to keep the code simple.

[2015-03-02 20:28] vortex-ape commented on #4235
Did you just commit that file? :smile: I didn't see it before, my bad. :neutral_face: Thanks for this gist!

[2015-03-02 20:39] vortex-ape commented on #4235
Do we need to explicitly specify `include_self` if `mode` is explicitly mentioned?

[2015-03-02 20:44] vortex-ape commented on #4235
These instances are in `sklearn/neighbors/tests/test_neighbors.py`. Do we need to change the docstrings in `sklearn/neighbors/graph.py`?

[2015-03-02 20:45] vortex-ape commented on #4235
I think everything else is covered. Though, it would be good if someone could verify it.

[2015-03-02 20:57] amueller commented on #4235
If  ``mode="distance"`` we don't need to give ``include_self``, it seems.

[2015-03-02 20:59] amueller commented on #4235
The tests in ``sklearn/neighbors/tests/test_neighbors.py`` are all wrapped to ignore warnings, so we shouldn't worry about them. Thanks for checking :)

[2015-03-02 21:00] vortex-ape commented on #4235
:+1:

[2015-03-02 21:08] amueller commented on #4321
not entirely certain how easy that actually is ^^ but sphinx doesn't seem to be powerful enough to do it any other way.

[2015-03-02 21:29] jnothman commented on #2094
API issues fixed by #2679.

[2015-03-02 21:29] #2094 closed

[2015-03-02 21:56] amueller commented on #4262
hm, there is an explicit inversion of some signs for the two-class case... we should definitely add a test, no matter what ;)

[2015-03-02 21:56] amueller commented on #4262
Would you like to add a PR with a test for binary and multi-class decision functions?

[2015-03-02 21:58] jnothman commented on #4321
If easy, I'm certainly happy with that solution!

On 3 March 2015 at 08:08, Andreas Mueller <notifications@github.com> wrote:

[2015-03-02 22:02] amueller commented on #4321
Do you have any idea where to hook that in? the ``gen_rst.py`` iterates over examples, so that doesn't really seem to be the right place.
To me it looks like we should do this via autodoc, as that is what actually know about the classes..

[2015-03-02 22:07] Barmaley-exe commented on #4262
There's already [a test](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/tests/test_svm.py#L306) for a linear binary/multi-class SVM, but it relies on sign of `coef_` being flipped.

BTW, there is yet another possible way to go: invert sign of `dual_coef_`. This would be sort of consistent with everything else we're doing in binary case.

[2015-03-02 22:18] amueller commented on #4321
#4323 seems to work.

[2015-03-02 22:27] amueller commented on #4262
Sorry, I'm not sure I follow entirely (I'm task switching too much probably).
For the linear SVM the test is ok, right? The signs of coef_ and intercept_ are consistent with what ``decision_function`` gives, are they not?
[code]
There doesn't seem to be a flipping there.
But for the kernelized case, there is no test....

[2015-03-02 22:33] #4321 closed

[2015-03-02 22:40] Barmaley-exe commented on #4262
Yes, for [`coef_`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/base.py#L584) and [`intercept_`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/base.py#L185) the sign is explicitly flipped in the `BaseLibSVM`, so even though libsvm returns incorrect values (which is not quite libsvm's fault) for them, sklearn's python wrapper "fixes" them. And then the

[2015-03-02 22:42] amueller commented on #4262
ah, yes. I we are on the same page then ;)
I think I would do an explicit sign flip hack for ``dual_coef_`` then on the python side, which is I think what you suggested above.  That sounds reasonable to me. I spent too much time trying to do what you did in the other PR and eventually gave up ;)

[2015-03-02 23:31] hannawallach opened #4324 "Possible bug in compute_class_weight()"
Hi,

I think there might be a bug in the compute_class_weight() method in https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/class_weight.py. Lines 50 and 51 are as follows:

        recip_freq = 1. / bincount(y_ind)
        weight = recip_freq[le.transform(classes)] / np.mean(recip_freq)

For a two class problem, where there are N0 data points belonging to class 0 and N1 data

[2015-03-02 23:41] Barmaley-exe commented on #4262
Also, probably, we should alter the documentation a bit. SVM's module [description](http://scikit-learn.org/stable/modules/svm.html#svc) says that `intercept_` is `-\rho`, which doesn't seem to be true.

[2015-03-02 23:49] amueller commented on #4324
I'm not familiar with the paper.
Does it also talk about the multi-class case?

I am not certain what our computation is based on. Maybe @mblondel or @larsmans can say something about that? I think we want ``np.sum(class_weights) == n_classes`` and that the weight is inversely proportional to the number of samples.

I would imagine we have inspiration from Bottou's code and libsvm.

[2015-03-03 00:02] hannawallach commented on #4324
It doesn't but I think that the M class vesion would simply be: wm = (N0 + N1 + ... + NM) / (M * Nm).

I am not seeing why you want <code>np.sum(class_weights) == n_classes</code> -- what is your intuition there? I do agree that you want the weight for class m to be inversely proportional to the number of data points belonging to class m, which is what my version yields. That is not what the versi

[2015-03-03 00:10] hannawallach commented on #4324
Er, sorry typo: w0 = 3 * N1 * N2 / (N0 + N1 + N2).

[2015-03-03 00:12] amueller commented on #4324
I meant to explain what I think the reasoning behind the code is. I'm not entirely sure what the intuition for ``np.sum(class_weights) == n_classes`` is.
I would argue we have inverse proportional weights, though, as it is computed as ``1/N_i`` times a normalization constant.

I can't really argue for the exact form, and it would be good to have input from the person that actually wrote it.

[2015-03-03 00:15] amueller commented on #4324
The paper is pretty good evidence that we might want to do something else, though. It would also be interesting to see what vw does.

[2015-03-03 01:05] hannawallach commented on #4324
Yeah -- agreed -- I'd definitely like to know the original rationale.

(Also I caught another typo in my definition of what the implemented version yields for the 3 class case. I believe it should be w0 = (1 / N0) / (1/3 * (1 / N0 + 1 / N1 + 1 / N2)) = (3 * N1 * N2) / (N1 * N2 + N0 * N2 + N0 * N1). Sorry.)

I'll see if I can find out what VW does, either by digging into the code or asking JL.

[2015-03-03 01:25] hannawallach commented on #4324
Looks like @ogrisel wrote it originally? http://sourceforge.net/p/scikit-learn/mailman/message/26597379/

[2015-03-03 01:46] trevorstephens commented on #4324
Not sure if it's relevant to the motivation behind the implementation, but a two-class `y` array with two classes present in the `classes` param proceeds with the sum of the weights being equal to the number of classes:

    compute_class_weight('auto', [0, 1], iris.target[0:100])
    array([ 1.,  1.])

While a three-class `y` array with only two of the classes present in the `classes` param does

[2015-03-03 01:53] amueller commented on #4324
It seems like VW doesn't have a heuristic built-in. If you come across John (or Hal who seem to have written OvR), by all means ask him ;)

I haven't been super happy with your class-weight heuristic in the past, but I'm not sure it is due to what you are pointing out. I'm not disagreeing with your intuition, btw.

How did you find this btw? Reading the code or surprising behavior?

[2015-03-03 01:58] amueller commented on #4324
@trevorstephens that is indeed a bit odd. I'm not sure what the reason for adding the ``classes`` parameter was. Maybe open a separate issue with that? It seems pretty counter-intuitive what is happening.

[2015-03-03 02:14] amueller commented on #4324
@trevorstephens why do you think they are equivalent?

[2015-03-03 02:26] amueller commented on #4324
Just to confirm, I got the same for three classes with our implementation @hannawallach  ``w0 = (1 / N0) / (1/3 * (1 / N0 + 1 / N1 + 1 / N2)) = (3 * N1 * N2) / (N1 * N2 + N0 * N2 + N0 * N1)``

The one you propose certainly seems simpler.

libsvm doesn't have an "auto" mode it seems.

[2015-03-03 02:36] trevorstephens commented on #4324
Sure. I'll make a PR for that this evening and see what people think.

Asides from numerical instability, I seem to get the same results for both versions. Sloppy example:

    wt1 = []
    wt1.append((1/5.) / ((1/3.) * ((1/5.)+(1/10.)+(1/20.))))
    wt1.append((1/10.) / ((1/3.) * ((1/5.)+(1/10.)+(1/20.))))
    wt1.append((1/20.) / ((1/3.) * ((1/5.)+(1/10.)+(1/20.))))
    wt2 = compute_class_weigh

[2015-03-03 02:37] amueller commented on #4324
@hannawallach it seems john commented on the original thread: http://metaoptimize.com/qa/questions/2581/modifying-class-balance-in-online-learning

[2015-03-03 02:38] amueller commented on #4324
@trevorstephens you implemented the sklearn version and then compared it with the sklearn version, not with Hanna's proposal ;)

[2015-03-03 03:10] trevorstephens commented on #4324
It's been a long week... Wait, is it Monday? I'm in big trouble :-) This is, I think, what I was meaning:

    wt1 = []
    wt1.append((5. + 10. + 20.) / (3 * 5.))
    wt1.append((5. + 10. + 20.) / (3 * 10.))
    wt1.append((5. + 10. + 20.) / (3 * 20.))
    wt2 = compute_class_weight('auto', [0,1,2], [0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2])

    print wt1
    [2.333

[2015-03-03 03:12] hannawallach commented on #4324
@amueller I figured it out because I couldn't understand the description of what 'auto' was doing from the documentation. So I dug into the code and got confused ;-)

@trevorstephens So, you are right that my version and the version in the code base are proportional to one another. Specifically, my version is const. * the version in the code, where, e.g., in the case of 3 classes, const. = (1 / 9)

[2015-03-03 03:15] amueller commented on #4324
That is how I understood it. And it makes sense to me. We  should check with @ogrisel, though, and see if there is any practical impact.
We should be careful when changing behavior in scikit-learn, as people's code might break.

[2015-03-03 03:19] hannawallach commented on #4324
Yes, indeed.

[2015-03-03 03:20] amueller commented on #4324
On the other hand, even though the constant is problem dependent, if you grid search C (or alpha) you should end up with the same result.

[2015-03-03 03:41] trevorstephens opened #4327 "compute_class_weight() class param behaviour"
Not sure if it's relevant to the motivation behind the implementation as discussed in #4324 , but a two-class `y` array with two classes present in the `classes` param proceeds with the sum of the weights being equal to the number of classes:

    compute_class_weight('auto', [0, 1], iris.target[0:100])
    array([ 1.,  1.])

While a three-class y array with only two of the classes present in the

[2015-03-03 03:49] trevorstephens commented on #4327
Oh yeah. The idea being that the `classes` param could be removed from `compute_class_weight`

[2015-03-03 09:47] AlexanderKUA opened #4329 "GridSearchCV ensemble parameter fitting"
Hi,
How is it possible to set parameters for internal estimator of ensemble in the parameter grid? Looks like it's only possible to specify search grid for top level estimator(ensemble in my case).

    The former have parameters of the form <component>__<parameter> so that it’s possible to update each component of a nested object.

Such approach is also won't work with ensemble(sklearn.ensemble.A

[2015-03-03 10:02] jnothman commented on #4329
`regr` doesn't have any reference to an `SVR` instance: you overwrote its value with an `AdaBoostRegressor`. What you intended is:

[code]

I appreciate that you thought this was a flaw with the software, but in the future if you have basic usage questions, they are best asked on StackOverflow, or perhaps the scikit-learn-general mailing list, so that this forum can be reserved for tracking develo

[2015-03-03 10:03] #4329 closed

[2015-03-03 14:49] voidbrained opened #4330 "Simultaneous evaluation of several scorers when building validation and learning curves"
Fitting a model several times when building a validation or a learning curve can be costly while the evaluation of the scorer can be very fast.

It would be interesting if it would be possible to evaluate a list of scorers given to:

`sklearn.learning_curve.learning_curve`
`sklearn.learning_curve.validation_curve`

as the argument `scoring = [scorer1, scorer2, scorer3, ... ] `

As a workaround, I'

[2015-03-03 15:36] douardda commented on #4164
This is a serious issue, since virtualenv and pip are really becoming the standard to set up a test or development environment.

How can I run tox-based contiuous integration tests for projects that depend on sklearn then?

I agree that using prebuilt packages provided by a decent Linux distribution is the way for production/real life applications, but CI and automatic tests are requierd tools too

[2015-03-03 16:38] amueller commented on #4164
Hum, continuous integration is a good point.
However, the value of the integration is not that high if your production setup is quite different from your CI setup....

[2015-03-03 16:40] amueller commented on #4164
@douardda can you try if the scipy hack works for you?
That is

[code]

[2015-03-03 16:52] amueller commented on #4330
Yes, we definitely want that, and for all cross-validation, gridsearch, etc... methods.
There is some work here: #2759, but it stalled somewhat. We are currently working on a release, but afterwards that is one of my top priorities.

[2015-03-03 18:50] amueller commented on #3960
fixed in @3965

[2015-03-03 18:50] #3960 closed

[2015-03-03 18:56] amueller commented on #4164
Hum, our setup.py seems pretty identical to the scipy one, I'm not sure what makes theirs work.

[2015-03-03 20:02] jnothman commented on #4072
Fixed by #4121.

[2015-03-03 20:02] #4072 closed

[2015-03-03 20:36] jnothman commented on #1400
I think in master all methods consistently return dtype='object', although at 0.15 algorithm='brute' returned a 2d array in some cases. We should check this is properly tested, then close this issue. (Although perhaps we should really have introduced a warning where the number of query points is 1 for brute before changing behaviour.)

[2015-03-03 20:47] jnothman commented on #1400
This testing is now in dd5c2e7.

[2015-03-03 20:47] #1400 closed

[2015-03-03 21:08] #4262 closed

[2015-03-03 22:12] #4227 closed

[2015-03-03 22:17] amueller commented on #1400
We can still introduce the warning. The problem is more that I don't like unconditional warnings. I want warnings that go away once the user knows whats going on.

[2015-03-03 22:51] jnothman commented on #1400
Yes, warnings aren't great. But I guess users just need to learn how to use
the Python warnings module.

On 4 March 2015 at 09:17, Andreas Mueller <notifications@github.com> wrote:

[2015-03-04 00:25] ragv commented on #4330
Also related #1850

[2015-03-04 00:49] jnothman commented on #4330
I think this should be closed as a duplicate of #1850; thank you #voidbrained for voicing your support. I also a couple of years ago toyed with something that could be interpreted as a float (using the `__float__` magic method) but also had other information, but it is too hacky: the system needs to just provide a way to do this.

[2015-03-04 00:49] #4330 closed

[2015-03-04 03:52] martin0258 commented on #4263
@amueller, I don't understand what `the other selectors and the scoring functions` are. And I don't understand why you think univariate selectors should sections to them. Can you please explain? Thanks.

BTW, I suggest adding `selection` or `selector` for a better issue title, e.g., `Better univariate feature selection docs`.

[2015-03-04 04:24] amueller commented on #4263
By selectors,  I meant  ``SelectKBest``, ``SelectFDR`` and the other classes that start with "Select". They should reference each other in the "See also" section of the docstring. Have a look at, say, the Ensemble module to see what a good "see also" section looks like.

By scoring functions I meant ``f_classif`` and ``f_regression`` and ``chi2``
They are all related, so the documenation should re

[2015-03-04 06:04] martin0258 commented on #4263
Thanks for the prompt response! Now I understand what you mean.

But I think scoring functions are not all related?
[The latest doc](http://scikit-learn.org/stable/modules/feature_selection.html#univariate-feature-selection) said their relationships are:

- For regression: `f_regression`
- For classification: `chi2` or `f_classif`

And it has a warning says:

Thus, I think there is no "See also" f

[2015-03-04 06:10] martin0258 commented on #4263
@amueller Thanks for the prompt response! Now I understand what you mean.

But scoring functions are not all related?
[The latest doc](http://scikit-learn.org/stable/modules/feature_selection.html#univariate-feature-selection) said their relationships are:

- For regression: `f_regression`
- For classification: `chi2` or `f_classif`

And it has a warning:

Thus, there should be no "See also" for `

[2015-03-04 08:36] douardda commented on #4164
Humm, on my jessie laptop, in a fresh virtualenv, "pip install scipy" also fails with a "ImportError: No module named numpy.distutils.core".

[2015-03-04 09:32] martin0258 commented on #2555
@sbos I'd like to work on this, but not sure how to do it. Can you guide me?

I'm thinking to investigate the differences between the expected math equations and code. However, what are the expected math equations for calculating lower bound of DPGMM? I couldn't find any reference.

[2015-03-04 10:25] martin0258 opened #4333 "How to find issues that no one is working on?"
As title, how do I find issues that no one is working on?
I'd like to contribute to issues that no one is working on.
I spent much time browsing open issues to find them.

My best approach is: Find [open issues with least comments](https://github.com/scikit-learn/scikit-learn/issues?q=is%3Aissue+is%3Aopen+sort%3Acomments-asc). However, it also failed in some cases like `#1854` (at this point, it i

[2015-03-04 10:55] sbos commented on #2555
@martin0258 I'm not sure as I have no knowledge of scikit-learn internals. I think that I saw somewhere the page with all derivations related to the implementation, but I just couldn't find it. If you are experienced with all these variational stuff, then you could re-derive the lower bound and then check the implementation. Since the bound is increasing by iterations, my guess is that some consta

[2015-03-04 11:01] martin0258 commented on #2555
@sbos I think I found [the derivation of DPGMM in sklearn doc](http://scikit-learn.org/stable/modules/dp-derivation.html), but I'm don't know which referes to the lower bound on model evidence.

[2015-03-04 11:10] jnothman commented on #4333
It's not a stupid question, but questions aren't issues, so this will be closed.

It is also a question that we attempt to answer [here](http://scikit-learn.org/dev/faq.html#how-can-i-contribute-to-scikit-learn) and hence [here](http://scikit-learn.org/dev/developers/index.html#easy-issues) (although I think @ragv is [trying to have this written more clearly](https://github.com/scikit-learn/scikit

[2015-03-04 11:10] #4333 closed

[2015-03-04 11:25] sbos commented on #2555
I think it is there http://scikit-learn.org/stable/modules/dp-derivation.html#the-bound

[2015-03-04 11:33] saketkc commented on #4164
@douardda Would you want to test out the patch in #4332?

[2015-03-04 13:09] halflings opened #4336 "Perceptron mishandling labels"
Hi!
It seems there's some issue with how the Perceptron considers the labels at training time. When I run this code:

    import numpy as np
    from sklearn import linear_model
    import matplotlib.pyplot as plt

    X = np.arange(0, 5, 0.5)
    X = X.reshape((len(X), 1))
    y = np.sin(X).ravel()

    clf = linear_model.Perceptron()
    clf.fit(X, y)

I get an error that basically means the who

[2015-03-04 13:49] agramfort commented on #4336
perceptron is for classification. You have a regression problem

[2015-03-04 13:49] #4336 closed

[2015-03-04 15:07] amueller commented on #4263
They should all reference each other, even if they are for different problems.

[2015-03-04 15:13] amueller commented on #4164
Interesting, for me scipy works but scikit-learn fails.

[2015-03-04 16:35] martin0258 commented on #4263
@amueller

Why? If so, users are easier to make mistakes by applying wrong scoring functions.

Also I'd like to know why not  reference `GenericUnivariateSelect`?

[2015-03-04 16:38] amueller commented on #4263
No. They are more likely to use the correct one if you explain it, as mentioned in the other comment.
[code]
etc.
So people know which is appropriate for which task. Why would that make it easier to apply the wrong scoring function?

And I didn't mean to exclude ``GenericUnivariateSelect``

[2015-03-04 16:51] amueller commented on #2555
I think it would make more sense to check against the formulas in Bishop's or Murphy's book.

[2015-03-04 20:28] ragv opened #4340 "ENH: Allow `max_labels` param in `make_multilabel_classification`"
`make_multilabel_classification` could accept `max_labels` to restrict the maximum number of labels per sample. This could be useful to further control the generated dataset.

@amueller  and @jnothman WDYT?

Before -
[code]

After -
[code]

Another option would be to control the distribution from which `y_size` is chosen ( currently fixed poisson ).

[2015-03-04 20:37] amueller commented on #4340
Do you have any particular example in mind?

[2015-03-04 20:44] ragv commented on #4340
Unless I set `n_labels` to a very low value (0.001) I am unable to use `make_multilabel_classification` to generate a y which will have exactly one label ( I understand that I am not supposed to be using `make_multilabel_classification` to generate data for a multiclass case. ) But `make_multilabel_classification` has nice sparsifying tendency (I assume) and hence will be useful to test #4225

[2015-03-04 20:53] ragv commented on #4340
Or more relevant to `make_multilabel_classification` assume only 3 objects exist in any image whose extracted features are represented by `X` and the objects by `y`... To reproduce such a dataset, this could be useful?

[2015-03-04 20:59] amueller commented on #4340
Sorry, I don't understand your first example.
So you are trying to create a dataset to test #4225? Why does it need to be multi-class, not multi-label?

[2015-03-04 21:19] ragv commented on #4340
I had meant this for testing the non-multilabel case with single sparse column in y but realized from discussion that sparse y with single column is being treated as a multilabel problem. (Is that an issue by itself?). Should we close this or does the second usecase seem strong enough to fix this?

[2015-03-04 21:42] jnothman commented on #4340
There's no problem making a single column. A single label per sample can be
better achieved other ways, but I don't see the point in terms of #4225.

I think the model underlying make_multilabel_classification isn't that
great, but I still think changes to the model should be well-motivated.

On 5 March 2015 at 08:19, ragv <notifications@github.com> wrote:

[2015-03-04 21:58] ragv commented on #4340
Ok! Im closing this for now :)

[2015-03-04 21:58] #4340 closed

[2015-03-05 00:07] martin0258 commented on #4263
I agree and will change it.

`GenericUnivariateSelect` does not start with "Select", so that's why I thought you mean to exclude it. Anyway, I will include it in "See also" since it's related.

[2015-03-05 02:51] martin0258 commented on #2555
References:
- [Bishop's book](http://research.microsoft.com/en-us/um/people/cmbishop/prml/): Pattern Recognition and Machine Learning
- [Murphy's book](http://www.cs.ubc.ca/~murphyk/MLbook/): Machine Learning: a Probabilistic Perspective

But I do not have the books in hand. Is there a shared version for sklearn community?

And what reference is the current implementation based on?

[2015-03-05 11:17] chanansh opened #4343 "How to transform categories BEFORE treating missing values"
Hi,
I would like to compare missing values techniques.
For this I need to deal with missing values AFTER I transform categorical features by transformers.
Any idea how this can be done?
The current transformers don't like missing values (causes an error).

Thanks.

[2015-03-05 11:33] sotte opened #4344 "Fixing incoherent style of references"
TLDR: The references in the docstrings have weird/wrong/very different formats. "There should be one-- and preferably only one --obvious way to do it."

I was looking at the reference links of some classifiers when I realized they were not formated correctly. When I was about to submit a pull request I realized that many references have a different format and according to the Zen of Python

    Th

[2015-03-05 13:29] ragv commented on #4344
Minor suggestion : We could have a script (not a test) that could scrape the reference links and verify them all... The script could be run before every release maybe?

[2015-03-05 14:16] vortex-ape commented on #2274
Guys, I'm getting an error in the doc part of `nosetests -s sklearn doc`.

<pre>
======================================================================
ERROR: Failure: ImportError (No module named 'github_link')
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/lib/python3.4/site-packages/nose/failure.py", line 39, in runTest

[2015-03-05 14:22] ogrisel commented on #2274
@vortex-ape to run the tests in the doc folder use the following (taken from the `make test-doc` target of the Makefile):

[code]

[2015-03-05 14:35] vortex-ape commented on #2274
@ogrisel - Thanks!

[2015-03-05 16:50] amueller commented on #4344
The problem with having sphinx referencable references is that sphinx will complain if there are duplicates. On the other hand, we definitely want to list references in multiple docstrings.
Any ideas?

+1 on the general theme though.

[2015-03-05 17:01] amueller commented on #4343
You could give it a proxy value and than later replace it with NaN again. This is not super elegant, but I don't see how to do it better.

[2015-03-05 17:03] sotte commented on #4344
@ragv I aggree, one could write a script like that.

@amueller I didn't know that sphinx complains about duplicates.

One could use what should be used for referencing: bibtex. There is [sphinxcontrib-bibtex](http://sphinxcontrib-bibtex.readthedocs.org/en/latest/quickstart.html) which integrates bibtex into sphinx. However, having a sep. bibtex file also makes the docstring a bit harder to read. A

[2015-03-05 17:03] amueller commented on #2555
There is no version of the book that I could share. But if you are interested in machine learning, they are both worth their price.
The current implementation is based on the derivation in the docs, which is based on the paper listed there,
Variational Inference for Dirichlet Process Mixtures David Blei, Michael Jordan. Bayesian Analysis, 2006

[2015-03-05 17:12] amueller commented on #4344
Yeah -1 on bibtex. Why is the benefit of having a referenceable reference in the docstring? I think a list would be just fine.

[2015-03-05 17:12] sotte commented on #3912
I think the contributing docs should not be spread between `CONTRIBUTING.md` and `doc/developers/index.rst`.  `CONTRIBUTING.md` is a thinned out copy of `doc/developers/index.rst` anyway and DRY.

Maybe just reference the webpage and `doc/developers/index.rst` from `CONTRIBUTING.md`.

[2015-03-05 17:22] sotte commented on #4344
Referenceable reference are nice because you can say things like: "...we did X according to [ref1] and Y according to [ref2]..." ( [exmaple](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.BaggingRegressor.html))

Alternatively, when only using lists for the references one could just put the name of the first author + year (or something similar) into the brakets.

[2015-03-05 17:22] amueller commented on #3912
The ``CONTRIBUTING.md`` is shown by github when opening a new issue, though.

[2015-03-05 17:23] amueller commented on #4344
That would be kind of nice, if the docstrings where that detailed ;)
Can you maybe double check if / how sphinx complains with your original suggestion?

[2015-03-05 17:29] sotte commented on #3912
That's why I'd put the link to the webpage and `doc/developers/index.rst` into `CONTRIBUTING.md`.

For my semi-personal projects I often include `README.rst` from sphinx into the documentation. This would work for `CONTRIBUTING.md`/`CONTRIBUTING.rst` as well.

[2015-03-05 17:32] #4207 closed

[2015-03-05 17:32] amueller commented on #4207
Reopen if you have more questions or ask on Stack Overflow or the mailing list.

[2015-03-05 17:59] sotte commented on #4344
`ensemble/bagging.py` uses referencable references (great word btw) and they reference the same papers. Seems to work without problems.

So we could use that & a script that checks the if the links to the pdf are alive.

[2015-03-05 18:03] ogrisel commented on #4324
I think the original implementation was just a heuristic without theoretical backing. It would be interesting to do some experiments on artificially imbalanced datasets for various datasets and models that support `class_weight="auto"` to have an idea of the kind of impact we can expect in practice.

Respecting good practices from the public literature is definitely a good idea.

[2015-03-05 18:30] amueller commented on #1243
Just do add to the (old) discussion above: Often the lines in the ``fit`` would have a for-loop around then, as far as I know.

[2015-03-05 20:38] ogrisel commented on #4297
Appart from the rng comment, LGTM (once #4302 is merged ;)

[2015-03-05 20:43] mjbommar commented on #4297
Thanks, good catch.  Sorry for missing.  Done now:
https://github.com/mjbommar/scikit-learn/commit/6e9d254b3860d9d477054e8c9698a28540f1812f

[2015-03-05 22:14] amueller commented on #4327
The reason we need ``classes`` is that if the user actually specifies ``class_weights`` as a dict, the keys will be whatever they used as classes. And I guess we want to give an error if the user specified a class that does not appear.
But it could be that it only does not appear in the current ``y``.
I'm not sure this actually happens, but I think it is the motivation.

[2015-03-05 22:45] amueller commented on #4324
Posted a fix in #4347. If there was no strong reason to use the current heuristic, I propose we switch to the other one. It has the invariance properties that I (and @hannawallach ) would expect.

[2015-03-05 23:15] alexsavio opened #4348 "cross_validation.StratifieldKFold random_state argument is not working"
Using the example:

[code]

This prints always the same partition of the dataset.
I've tested different options for random_state: None, an integer, or a RandomState. All of them gave the same response.

[2015-03-05 23:41] vortex-ape commented on #2274
@ogrisel - Although Deprecation Warnings are necessary to tell the user of future API changes, but to get an all progress dots output, do we need to remove them? (By mentioning all deprecations in docs I guess) or somehow not print them to stdout/stderr.

[2015-03-05 23:51] amueller commented on #4348
You need to set ``shuffle=True`` for the data to be shuffled. If you like you can create a PR to add a warning if ``random_state`` is not ``None`` but ``shuffle=False``.

[2015-03-05 23:53] amueller commented on #2274
Deprecated items should usually not be used in the tests. If they are explicitly tested, the warning should be caught. Often a deprecation warning is a sign that we didn't update according to an API change, see the fixes for ``kneighbors_graph`` in #4322

[2015-03-05 23:56] dengemann commented on #4348
Would be sweet, this would help people to understand the API more effortlessly. I remember it took me a moment to get behind that when I implemented a repeated k-folds CV for the first time.

[2015-03-06 00:18] alexsavio commented on #4348
For the name of sweetness: #4349 :)

[2015-03-06 01:19] dengemann commented on #4348
:)

[2015-03-06 03:01] vortex-ape commented on #2274
@ogrisel @amueller - There are these "ResourceWarning: unclosed file" warnings which I think are occuring because of `images = [imread(filename) for filename in filenames]` in `sklearn/datasets`. Is there a way to wrap this as mentioned [here](https://github.com/scikit-learn/scikit-learn/issues/3410)?

[2015-03-06 03:02] vortex-ape commented on #2274
I tried using imread's implementation in which it opens the image object but was getting many errors.

[2015-03-06 03:27] martin0258 commented on #2555
Thanks, I'll consider buying them.

[2015-03-06 10:31] ragv commented on #3912
Document format for references as described in #4344

[2015-03-06 13:30] ragv commented on #4311
Is [this test failure](https://travis-ci.org/ragv/scikit-learn/jobs/53329324) related to this issue? I had rebased upon the master after updating the same...

[2015-03-06 14:05] #4303 closed

[2015-03-06 14:07] ogrisel commented on #4304
#4313 was merged with the fix for this one issue. Let's close it. The remaining issues are tracked by #4235.

[2015-03-06 14:07] #4304 closed

[2015-03-06 15:32] amueller commented on #4348
Thanks :)

[2015-03-06 15:33] amueller commented on #2555
FYI I listed this as one of the possible GSOC projects.

[2015-03-06 15:59] harrymvr opened #4351 "Documentation error in MinMaxScaler"
The math in https://github.com/scikit-learn/scikit-learn/blob/38104ff4e8f1c9c39a6f272eff7818b75a27da46/sklearn/preprocessing/data.py#L156 does not render correctly in the documentation. Unfortunately I am not familiar with rst files, so I leave this open.

[2015-03-06 16:14] ogrisel commented on #2274
@vortex-ape either tests should be update to avoid using the deprecated API and use the new recommended API instead (this is what should be done in 95% of the case) or they should explicitly check for the warning to occur (using `assert_warns` / `assert_warns_message`) which also remove the warning from the test runner output as a side effect.

[2015-03-06 16:16] ogrisel commented on #2274
If I remember correctly this issue has to be fixed in upstream scipy. There is nothing we can do in scikit-learn. Please ignore it for now.

[2015-03-06 16:29] #4184 closed

[2015-03-06 16:53] grogdrinker opened #4353 "KernelDensity: score returns float instead of array"
Hello,
I am using the KDE  in order to estimate the distribution of my data and I would like to estimate the probability that a data point has been generated by a learnt distribution.

I post here my code:

As you can see the function returns a float, while, looking at the documentation, it should return an array (shape= number of samples --> 4 in this case). Have you got any hint?
I can't use the

[2015-03-06 17:31] amueller commented on #4353
Score should return a float, and ``score_samples`` should return one score pre samples.
Which version of the docs do you look at?

[2015-03-06 17:32] amueller commented on #4353
Sorry, didn't mean to close.
Ah, this seems to have been a documentation issue in the stable docs, fixed in the development docs: http://scikit-learn.org/dev/modules/generated/sklearn.neighbors.KernelDensity.html#sklearn.neighbors.KernelDensity.score

[2015-03-06 17:38] amueller commented on #4351
Thanks for the report. It takes a while for the dev docs to rebuilt but should be good now.

[2015-03-06 17:38] #4351 closed

[2015-03-06 19:12] amueller commented on #2274
Which tests are the ResourceWarnings from? I don't remember seeing these.

[2015-03-06 19:37] amueller commented on #4311
Yes that is the issue. Should not happen on master. So you say it happend after the fix in #4318? Can you give the branch?

[2015-03-06 19:38] amueller commented on #4311
The error is in ``check_estimators_dtype`` which does call ``set_fast_parameters`` so it should raise the skip. Can you double check?

[2015-03-06 19:56] ragv commented on #4311
Ah extremely sorry! :/
This seems to have been before the fix - https://github.com/ragv/scikit-learn/blob/29af585f24d06fa65e4f69d58f462cde69f77ca1/sklearn/utils/estimator_checks.py#L61

[2015-03-06 21:23] mjbommar commented on #4297
We are good on this thanks to @amueller's work today .  I believe it can be closed.

[2015-03-06 21:31] mjbommar commented on #4083
I had reproduced this when some sklearn or python stuff (like numpy/scipy) is built iwith CC=icc.  @amueller , I think this can be closed as not-a-bug since we don't claim to support icc.  I have access to a system where we could setup CI with icc/MKL licenses, but haven't had time to get the full chain working from scratch.

[2015-03-06 21:36] mjbommar commented on #3841
@ogrisel, @amueller, would it be worth "owning" the source for tutorials and test data?  I have also noticed some slow downloads that can delay testing.

  I would be happy to donate an S3 bucket to store all requisite data.

[2015-03-06 21:36] vortex-ape commented on #2274
These warnings are not from scikit-learn tests but from `/usr/lib/python3.4/site-packages/PIL/Image.py` and other and other python files.

[2015-03-06 21:46] GaelVaroquaux commented on #4297
Thanks!

[2015-03-06 21:46] #4297 closed

[2015-03-06 22:20] amueller commented on #4083
well, it might be nice to give a better error message then. not sure how feasible that is, however.

[2015-03-06 22:23] amueller commented on #3841
Interesting idea. On the one hand, it would be nice to have control, on the other hand it kind of means additional maintenance burden.... I'm a bit torn. Don't you have to pay for S3 per download? I think we skip them in travis, but if the skipping failed, that could give a serious hit ;)

[2015-03-06 23:27] xuewei4d commented on #4292
```estimator_params``` in ```RFE``` and ```RFECV``` seems redundant. Is that right?

So what need to be done for deprecating ```estimator_params```? To give deprecate warning or something else? Thanks!

[2015-03-06 23:31] amueller commented on #4292
Yes, just raise a deprecation warning if it is not None and make it None by default.

[2015-03-06 23:38] vortex-ape commented on #2274
@amueller - I'm getting a lot of errors on master with nosetests.

[2015-03-06 23:49] amueller commented on #2274
errors? That seems odd. What kind of errors?

[2015-03-06 23:50] vortex-ape commented on #2274
All of them are `cannot import name '_make_unique'` errors and failures.

[2015-03-06 23:52] vortex-ape commented on #2274
After [4302](https://github.com/scikit-learn/scikit-learn/pull/4302), do I need to update something else?

[2015-03-06 23:56] amueller commented on #2274
did you do ``make`` ?

[2015-03-07 00:02] vortex-ape commented on #2274
Sorry :neutral_face:

[2015-03-07 02:06] amueller opened #4355 "DictVectorizer.restrict docstring unclear"
To me the DictVectorizer.restrict docsting is unclear and I didn't understand it when reading it.
It is missing a return statement. Also, the function modifies the estimator in-place, which is a rather rare thing in scikit-learn (only other example I can think of is ``sparsify``), so that should be made more explicit.
Maybe also give an example?

[2015-03-07 06:00] vortex-ape commented on #4355
@amueller - Created #4356

[2015-03-07 08:40] jagankr opened #4357 "Scalable Kmeans++"
I can see Kmeans++ implementation here but do you have scalable kmeans implementation which is supposed to be better than kmeans++

[2015-03-07 08:42] GaelVaroquaux commented on #4357
What do you mean? Could you give us a reference?

[2015-03-07 09:02] jagankr commented on #4357
https://www.youtube.com/watch?v=cigXAxV3XcY

[2015-03-07 09:06] GaelVaroquaux commented on #4357
Please a reference of a scientific paper.

[2015-03-07 09:08] jagankr commented on #4357
http://theory.stanford.edu/~sergei/papers/vldb12-kmpar.pdf

[2015-03-07 09:32] GaelVaroquaux commented on #4357
This looks interesting: it is true that kmeans++ doesn't scale well to large datasets. We have found (in my group) that in the MiniBatchKMeans, work on the initialization was critical to get good results. Maybe this paper can improve things.

[2015-03-07 12:55] ogrisel opened #4358 "Broken test_score_objects under windows"
[code]

[2015-03-07 13:05] ogrisel commented on #4358
I reopen this issue as this need to be backported to the 0.16.X branch.

[2015-03-07 13:49] mjbommar commented on #3841
Would be happy to give it a try :)  Easy enough to do the math on cost per download once we know how many files there are.

Got any suggestion on identifying all the external resources?

[2015-03-07 14:13] mjbommar commented on #3841
Seems like there's only ~35MB in ~/scikit_learn_data.  If we had 5000 requests/month, it'd still only be ~$10/mo.  Happy to handle that.

I've put them up here for now and made all objects in the bucket public:
[code]

[2015-03-07 16:02] ogrisel commented on #4358
Hum, the "fix" in c23d4f3  is actually not a fix. I misread the error message and tried to fix the wrong assertion.

[2015-03-07 16:11] ogrisel commented on #4358
The test is not deterministic, I pushed a new commit 9e1377a447272c4d1ebb30493ecb978974c09cf9 to make it deterministic to try to get the same results across platforms.

[2015-03-07 17:31] ogrisel commented on #4358
Ok apparently, fixing the `random_state` in that test fixed the issue on windows:

https://ci.appveyor.com/project/sklearn-ci/scikit-learn/build/1.0.544

The remaining failure is an unrelated Heisen-failure. So we just need to backport that fix to the 0.16.X branch before closing this issue.

[2015-03-07 17:34] amueller commented on #4358
thanks for the fix. I'm not sure how I managed to push a commit that is in no branch. If you give me an hour I can fix it. Or if you know of a way to check out 09dc09a1e9d9088c2cb783c818980f5509d77a11 that would also be good.

[2015-03-07 17:36] amueller commented on #4358
never mind, fixed it.

[2015-03-08 01:55] harrymvr commented on #4351
Apparently, it's still not showing up correctly :disappointed:

[2015-03-08 02:26] ragv commented on #4351
@harrymvr Kindly check this link - http://scikit-learn.org/dev/modules/generated/sklearn.preprocessing.MinMaxScaler.html?highlight=X_scaled%20

[2015-03-08 05:37] harrymvr commented on #4351
Oh, great! Sorry for bothering you again then.

[2015-03-08 08:16] freddycct opened #4360 "Unable to Serialize and Deserialize Model with customized distance function"
file: test.py
[code]
$> python test.py

[code]