[2019-07-13 10:03] adrinjalali commented on #14314
So should we do `float32` if it's `int32`, and `float64` when it's `int64`?

[2019-07-13 10:30] rth commented on #14314
I think it should be the default dtype (i.e. float64 or float) if `X` is not float. There is no difference in precision between in int32 and int64..

[2019-07-13 10:36] jeremiedbb commented on #13500
Note that it's not completely a requirement. You can build scikit-learn without OpenMP by setting the `SKLEARN_NO_OPENMP` environment variable. In that case some estimators won't run in parallel (e.g. the new histogram based GBRT)

[2019-07-13 12:09] camilaagw commented on #13609
@jnothman there is something I can't undestand about the example you give in the issue:  Even when we are uncommenting the line yy[3,:] = [1,0,0,0,0],  the third column of yy is constant, but in that case pls2.fit(xx, yy) works. Do we need two columns to be constant?

[2019-07-13 12:34] thomasjpfan commented on #14312
## Missing attribute docstrings for each estimator

- [ ] ARDRegression, [X_offset_, X_scale_, intercept_]
- [ ] AdaBoostClassifier, [base_estimator_]
- [ ] AdaBoostRegressor, [base_estimator_]
- [ ] AdditiveChi2Sampler, [sample_interval_]
- [ ] AgglomerativeClustering, [n_components_]
- [ ] BaggingClassifier, [n_features_]
- [ ] BaggingRegressor, [base_estimator_, n_features_]
- [ ] BayesianGauss

[2019-07-13 12:51] harsh020 commented on #14278
@qinhanmin2014 Hi, if there are no open PR for this issue I would like to make one.
If yes, just a few questions as this is my very first open source contribution and I did read the contributions page but still don't understand -
1. How can I test my changes?
2. Nope, nothing else.

Thanks!

[2019-07-13 13:10] qinhanmin2014 commented on #14278
You don't need to add new tests, just make sure that existing tests pass.
(It will be better if you can try to provide some benchmarks, i.e., run time before and after the change)

[2019-07-13 13:21] abhishek-jana commented on #13383
Thanks.

[2019-07-13 14:01] qinhanmin2014 opened #14325 "Use scipy.stats.mstats.mode in SimpleImputer when strategy="most_frequent""
https://github.com/scikit-learn/scikit-learn/blob/979c76129c912727c701c8706236a6db5590997c/sklearn/impute/_base.py#L341-L344
the fix is included in scipy 0.13.0 (see https://github.com/scipy/scipy/commit/66f71a4e67c810b25f3f91a61ac5f9a28b157dc7), we now require  scipy >= 0.17.0

[2019-07-13 14:04] adamjstewart commented on #13500
I actually tried that and the build still crashed because it couldn't find omp.h. I can open an issue if you want.

[2019-07-13 14:06] abhishek-jana commented on #13383
I'll be looking into plot_compare_reduction.py thanks.

[2019-07-13 14:08] NicolasHug commented on #13500
yes, please open an issue describing your installation process, that might be a bug

[2019-07-13 14:16] NicolasHug commented on #11299
Closing this since it has been fixed on the sphinx-gallery side (might currently be broken again because of numpydoc, see https://github.com/sphinx-gallery/sphinx-gallery/issues/506)

[2019-07-13 14:16] #11299 closed

[2019-07-13 14:36] harsh020 commented on #14278
okay, I tried to not to fully create the function again using fit and transform but there were issues as when the transform function would be called on the validation/test set we again need the missing info. So, I had to create the entire function again. The time change in my system wasn't significant but, anyways  -
Before
![Screen Shot 2019-07-13 at 8 00 49 PM](https://user-images.githubusercont

[2019-07-13 14:57] jcusick13 commented on #14117
I'll work on `examples/linear_model/plot_lasso_and_elasticnet.py`.

[2019-07-13 15:01] jnothman commented on #13500
Make sure to have that environment variable set when running cython, not
only when compiling

[2019-07-13 15:25] rcwoolston commented on #14117
I will work on examples/manifold/plot_mds.py

[2019-07-13 15:28] deniederhut commented on #14117
I'll take `examples/compose/plot_column_transformer.py`

[2019-07-13 16:23] amueller commented on #14240
the ``_pairwise`` attribute basically means "require_square_input`` but predates the estimator tags. I don't think we need to add a tag for that right now.

You need to use ``pairwise_estimator_convert_X`` on ``X`` to make it square for these tests. It's an issue with the tests if it wasn't used before.

[2019-07-13 16:24] amueller commented on #14240
Can you please open a PR, which will make this easier to review, and we'll also be able to see the error messages.

[2019-07-13 16:27] deniederhut opened #14328 "Stale scikit-learn datasets can throw pickling errors"
#### Description

Loading a dataset that has been downloaded to ~/scikit_learn_data some time in the past can throw unpickling errors after updating scikit-learn. Possible solutions might be:

- clearing the dataset cache after updating
- including the scikit-learn version used to serialize the dataset objects
- serializing with something besides `pickle`

Deleting the data folder resolves this is

[2019-07-13 16:28] deniederhut commented on #14117
Next up for me - `examples/impute/plot_iterative_imputer_variants_comparison.py`

[2019-07-13 16:30] adamjstewart commented on #13500
Will do. I've also been trying to get LLVM OpenMP installed but have been running into issues. At first I was using https://github.com/khuck/LLVM-openmp, which builds, but causes problems when installing sklearn. Then I tried https://github.com/OpenMPToolsInterface/LLVM-openmp, which I can't get to build on macOS. Are these the right OpenMP libraries, or should I be using a different repository?

[2019-07-13 16:30] jcusick13 commented on #14325
If no one's already started, I'd be glad to work on this.

[2019-07-13 16:35] mepa commented on #14312
I can take up the `tree` submodule attribute documentation mismatches.

[2019-07-13 16:39] wendyhhu commented on #14312
I'm working on LinearRegression, [rank_, singular_].

[2019-07-13 16:43] deniederhut commented on #14117
Next up for me - `examples/neighbors/plot_nca_dim_reduction.py`

[2019-07-13 16:55] rcwoolston commented on #14117
Next up for me: examples/plot_johnson_lindenstrauss_bound.py

[2019-07-13 16:58] amueller opened #14331 "add HDBSCAN"
I think we should add HDBSCAN. the original paper is from 2013, @lmcinnes's accelerated version is from 2017, the original paper has 300 citations, the 2017 JOSS paper about the implementation has 100.
I think that should fulfill our requirements, and it's commonly asked for.

@lmcinnes said he might not have time to move it so maybe someone else can pick it up.

For reference:
https://github.com/

[2019-07-13 17:06] adamjstewart opened #14332 "SKLEARN_NO_OPENMP not working"
#### Description

I'm trying to install scikit-learn from source on macOS. Sklearn recently added an OpenMP dependency, which I am still in the process of getting working. In the meantime, I tried setting `SKLEARN_NO_OPENMP` to `TRUE`, but found that compilation still fails.

#### Steps/Code to Reproduce

[code]

#### Expected Results

Successful compilation without OpenMP support.

#### Actual Re

[2019-07-13 17:06] adamjstewart commented on #13500
Issue opened: #14332

[2019-07-13 17:09] amueller commented on #7058
It might be good to implement largevis now. It doesn't have enough citations but @lmcinnes said it could easily be added to our t-SNE implementation and I think it would be a useful addition as a faster variant of t-SNE.

[2019-07-13 17:12] amueller commented on #7058
UMAP has enough citations now, but the arxiv paper is from 2018, so I say we wait another year. Having both, largevis and UMAP, would be quite good, I think.

[2019-07-13 17:15] jeremiedbb commented on #14332
Just a question: If you try to build without setting the environment variable, do you get the following error message ?
[code]

[2019-07-13 17:21] adamjstewart commented on #14332
Yes, I do get that exact error message if no flags are set.

[2019-07-13 17:32] rcwoolston commented on #14302
I will work on this one.

[2019-07-13 17:32] deniederhut commented on #14117
👀  woah, is that all of them?

[2019-07-13 19:05] amueller commented on #14117
If you're looking for a new checklist there's one here: #14312 ;)
But it's also important to get these actually merged, I'll start reviewing

[2019-07-13 19:15] amueller opened #14338 "IterativeImputer not converging (at all)"
Observed in #14330: the IterativeImputer doesn't converge, as a matter of fact, the convergence criterion doesn't seem to go down with iterations.
To me that indicates that either there's an issue with the implementation, an issue with the metric, or that our stopping criterion is not suitable.

Were there examples on which it converged? It would be nice to plot the convergence but we don't allow

[2019-07-13 19:22] amueller commented on #14338
It seems to converge for BayesianRidge but not for anything else?

[2019-07-13 20:01] azrdev opened #14340 "fetch_openml('zoo') raises IndexError in sklearn.datasets.openml._convert_arff_data"
OpenML ['zoo' dataset](https://www.openml.org/d/62) fails to load.

[code]

First reported as https://github.com/openml/OpenML/issues/989

#### Versions

[code]

[2019-07-13 20:26] alexitkes opened #14343 "RFECV inherits MetaEstimatorMixin twice."
In file rfe.py, the `RFE` class inherits `MetaEstimatorMixin`

[code]

Then `RFECV` inherits `RFE` and also inherits `MetaEstimatorMixin` again.

[code]

I tried to remove `MetaEstimatorMixin` from `RFECV` parents and everything seems to work fine. May it be a good idea to remove the duplicated inheritance?

[2019-07-13 20:35] wendyhhu commented on #14312
I'm working on LinearSVC, [n_iter_] and LinearSVR, [n_iter_]

[2019-07-13 21:16] Timsaur commented on #13383
working on plot_digits_pipe.py

[2019-07-13 22:12] lmcinnes opened #14345 "Add support for pLSA"
Currently scikit-learn has implementations of NMF and LatentDirichletAllocation. In practice pLSA sits between the two, with a simple and easy to explain computational approach that can run very quickly (faster than NMF with KL loss, slightly slower than NMF with Frobenius loss), but the interpretable probabilistic model similar to LDA. The pLSA paper is from 2001, and has over 2500 citations, so

[2019-07-13 22:31] amueller commented on #14345
I think this would be a good addition, given that we have NMF and LDA. Also, our LDA implementation only works well for very large datasets and having another established but faster alternative seems good.

[2019-07-13 22:55] lmcinnes commented on #14331
I will be happy to provide assistance with moving it over -- there are some changes that will be required, mostly related to the difference between accessing internals of scikit-learn kd-trees via Cython. I will also be happy to help with reviewing.

[2019-07-13 23:15] matsmaiwald commented on #14312
I'll take up `Gradient boosting` i.e.
+ GradientBoostingClassifier [base_estimator_, max_features_, n_classes_, n_features_]
 + GradientBoostingRegressor [base_estimator_, classes_, max_features_, n_estimators_, n_features_]

[2019-07-14 01:07] jcusick13 commented on #14325
@qinhanmin2014, should I be looking to replace the `_most_frequent()` function with `scipy.stats.mstats.mode()` or should I instead try to just clean up the code block within `strategy == 'most_frequent'`?

It looks like the fixed `mode()` function doesn't entirely replace the behavior of `_most_frequent()`, so I'm not sure how much of a change you were originally thinking.

[2019-07-14 01:31] #13335 closed

[2019-07-14 01:45] qinhanmin2014 commented on #14325
Just try to simply the code and remove that comment.

[2019-07-14 01:59] qinhanmin2014 opened #14347 "Use return_X_y=True when applicable in examples"
In our examples, we still have things like
[code]
(See https://scikit-learn.org/dev/auto_examples/compose/plot_digits_pipe.html#sphx-glr-auto-examples-compose-plot-digits-pipe-py)
We can replace this with
[code]
An easy way is to search for ``.data`` and ``.target`` in the examples and use return_X_y=True when applicable.

[2019-07-14 02:20] jnothman commented on #14343
Yes please. Pull request welcome.

[2019-07-14 02:21] jnothman commented on #14331
Should the release of optics play into that decision?

[2019-07-14 02:21] jnothman commented on #14338
While developing iterative imputer we realised that RidgeCV had sharp
changes across iterations due to selecting a different alpha. So you might
need something equivalent to decreasing learning rate to stop big
fluctuations.

[2019-07-14 02:45] jnothman commented on #14332
Make sure you do this on a clean working directory. If you had previously
cythonised the 0.21 pyx code this won't work.

[2019-07-14 03:40] qinhanmin2014 opened #14349 "Add an example about how to visualize the results of GridSearchCV"
I think it'll be useful to add an example about how to visualize the results of GridSearchCV, when there're two hyperparameters. SVC will be a good choice here.
Example from Andreas's book:
https://nbviewer.jupyter.org/github/amueller/introduction_to_ml_with_python/blob/master/05-model-evaluation-and-improvement.ipynb
![2019-07-14_113820](https://user-images.githubusercontent.com/12003569/61178993

[2019-07-14 03:51] jnothman commented on #13916
Well if we maintain a blacklist of what to exclude from the package, then
the manifest checker would force us to update the blacklist or the setup.py
whitelist.

[2019-07-14 03:59] thomasjpfan commented on #14349
I am working on this together with our plotting API. Here is what the API looks like for grid search: https://nbviewer.jupyter.org/github/thomasjpfan/tf_plot/blob/master/grid_search.ipynb

[2019-07-14 04:45] qinhanmin2014 commented on #14349
What's the relationship between this repo and scikit-learn? @thomasjpfan
I'd like to see some plotting functions in scikit-learn ASAP. I open this issue because I think an example is much easier to review and merge.

[2019-07-14 04:51] qinhanmin2014 opened #14351 "Remove redundant parameter assignment in examples/tests"
I don't think we're good at removing redundant parameter assignment in examples/tests.
e.g., in the examples folder
[code]
(we no longer need cv=5 because we've finished the deprecation).
I can't come up with an automatic solution for this issue (an awkward solution is to manually go through all the API changes and search the repo).

[2019-07-14 06:04] harsh020 commented on #14278
@qinhanmin2014 Sorry for commenting again and again, but I reran the test and the run time changed, I guess its just because of my system (the run time ranges from as low as about 8 sec to as high as 21 sec (extremely rare)).

The latest results are -

Before -
============================= test session starts ==============================
sklearn/impute/_base.py ..

[2019-07-14 07:26] #14343 closed

[2019-07-14 07:34] qinhanmin2014 commented on #14278
If you want to provide some benchmarks, try to create some (large) datasets manually.

[2019-07-14 08:32] tq0 commented on #14351
I'll have a look at this one.

[2019-07-14 08:36] tq0 commented on #14347
I'll have a look at this one.

[2019-07-14 08:39] matsmaiwald commented on #14312
nevermind, misread where attributes are missing and where not

[2019-07-14 09:37] aalva14 commented on #14351
I will look into this.

[2019-07-14 09:54] alexitkes commented on #14312
It's looking like there is also `classes_` attribute undocumented for classifiers of `naive_bayes` submodule. I have started to fix it.

[2019-07-14 09:54] harsh020 commented on #14278
@qinhanmin2014 I don't mean to annoy you, but by 'create datasets manually' you mean to download a big dataset and write a program to implement MissingIndicator' fit_transform function to it?
I'm sorry please bear me and help me out.

Thanks.

[2019-07-14 10:02] qinhanmin2014 commented on #14278
You don't need to download datasets, just manually create some large datasets using numpy/scipy.

[2019-07-14 10:18] mandalbiswadip commented on #14312
I will work on  TfidfVectorizer, [fixed_vocabulary_]

[2019-07-14 11:36] harsh020 commented on #14278
@qinhanmin2014 Thanks for the info. I did create my dataset with 10 features and 100000 data i.e, (100000, 10) and 40% of them were NaNs (i.e 4000).
The benchmark results were as -

Before-
![before](https://user-images.githubusercontent.com/39561084/61183044-9f836780-a659-11e9-8eae-62569106ac8d.png)

After-
![after](https://user-images.githubusercontent.com/39561084/61183047-a4e0b200-a659-11e9-8c

[2019-07-14 11:57] qinhanmin2014 commented on #14278
that's great, please open a PR.

It's right, though sometimes you do not need to rerun ``pip install -e`` when you modify your code (e.g., when you're modifying .py files)

[2019-07-14 12:38] thomasjpfan commented on #14349
@qinhanmin2014 I used that repo to experiment and share my prototypes of what a plotting api would look like in scikit-learn. I just opened https://github.com/scikit-learn/scikit-learn/pull/14357 to discuss the implementation and API.

That makes sense. I am open to an narrative example that visualizes `GridSearchCV`.

[2019-07-14 12:51] qinhanmin2014 commented on #14349
it's not urgent :)

[2019-07-14 14:08] harsh020 commented on #14278
@qinhanmin2014 Hey, I did open a PR but it fails codecov/patch check, I've been searching all over but can't get an idea how to resolve it. Can you help me resolve it?

One more thing, I changed my approach as my first approach caused a lot of test fails, as in first approach I added a new data member to the class and store the returns of _get_missing_features_info function in it, but this resulte

[2019-07-14 14:20] thomasjpfan commented on #14347
This would reduce the visibility of returning `Bunch`.

[2019-07-14 14:34] qinhanmin2014 commented on #13383
I'm going to close this, according to the latest log https://circleci.com/gh/scikit-learn/scikit-learn/64630, no example takes more than 60s, only two examples take more than 30s (plot_face_recognition.py and plot_sgd_early_stopping.py), which seems acceptable.
Thanks everyone here.

[2019-07-14 14:34] #13383 closed

[2019-07-14 14:36] amueller opened #14361 "Why are we raising a warning on collinear features in Linear Discriminant Analysis (and QDA)?"
The SVD solver warns on collinear data:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/discriminant_analysis.py#L387

That was introduced by @agramfort about 10 years ago:
https://github.com/amueller/scikit-learn/commit/69d1b0859ee486d5384978ebb92c75218e4ef176#diff-597d8a8c1a3ebf4f7259b297fc2e1596R99

I don't think it's actually helpful. We don't raise this warning anywhere else,

[2019-07-14 14:36] qinhanmin2014 commented on #14347
Could you please provide more details @thomasjpfan? thanks.

[2019-07-14 14:38] rcwoolston commented on #14312
I will work on RandomForestClassifier, [base_estimator_]

[2019-07-14 14:40] thomasjpfan commented on #14347
The less we use the `Bunch` dictionary object in our examples, the less visible it will become and less people will use it. (I am have a slight preference with using the `Bunch` object when working with the `dataset` module.)

[2019-07-14 14:48] qinhanmin2014 commented on #14347
Ahh I see, return_X_y makes many example simpler, everything comes with a cost.
I guess it's acceptable to use return_X_y, especially when we only want to access the data and the target.
But if you vote -1 and there's another -1, I'm happy to close.

[2019-07-14 14:57] wendyhhu commented on #14312
I'm working on:
- SGDClassifier, [average_coef_, average_intercept_, standard_coef_, standard_intercept_]
- SGDRegressor, [standard_coef_, standard_intercept_]

[2019-07-14 15:08] amueller commented on #14347
I think I would rather not expose the bunch object too much and I'd use the ``return_X_y`` more. Many people have been a bit confused by our bunch objects in the past.

One issue with ``return_X_y`` is that it's harder for people to see the dataset description but they can also just go to the documentation page.

[2019-07-14 15:45] amueller commented on #14278
@ogrisel you solution makes ``fit`` slower, right?

[2019-07-14 15:47] SwordKnight6216 commented on #14312
I am working on:
KernelCenterer, [K_fit_all_, K_fit_rows_]
MinMaxScaler, [n_samples_seen_]

[2019-07-14 15:48] amueller commented on #14349
you mean like this? https://scikit-learn.org/dev/auto_examples/svm/plot_rbf_parameters.html#sphx-glr-auto-examples-svm-plot-rbf-parameters-py

[2019-07-14 15:52] rcwoolston commented on #14312
I will work on:
- RandomTreesEmbedding, [base_estimator_, classes_, feature_importances_, n_classes_, n_features_, n_outputs_, one_hot_encoder_]

[2019-07-14 15:57] amueller commented on #13916
fair, seems like a reasonable solution.

[2019-07-14 16:00] amueller commented on #14338
Similar things seem true for RandomForestRegressor and DecisionTreeRegressor.
Does missForest do a learning rate?

[2019-07-14 16:43] wendyhhu opened #14364 "Make attributes private for SGDClassifier and SGDRegressor"
I think it would make sense to make the following attributes private as opposed to public:
- average_coef_
- average_intercept_
- standard_coef_
- standard_intercept_

The reason for making these attributes private is because:
- average_coef_ and standard_coef_ are there to help determine the value of coef_
- average_intercept_ and standard_intercept_ are there to help determine the value of inter

[2019-07-14 16:44] wendyhhu commented on #14364
Ping @amueller @thomasjpfan @NicolasHug

[2019-07-14 17:25] alexitkes commented on #14312
I also have discovered the `KNeighborsClassifier`, `KNeighborsRegressor` and possibly other classes of `neighbors` module have no attribute documentation at all. Currently working on `KNeighborsRegressor` that has 2 attributes:

* `effective_metric_`
* `effective_metric_params_`

The `KNeighborsClassifier` class has four attributes:

* `classes_`
* `effective_metric_`
* `effective_metric_params_`

[2019-07-14 18:44] NicolasHug commented on #14364
+1 for making these private

[2019-07-14 18:51] harsh020 commented on #14278
@qinhanmin2014 The PR passed all checks, thanks to @amueller, he informed me that the check failed  because I was copying code so, what I did was-
--Declare a private instance variable (double leading underscore variable/mangling) in fit function, to store the return values of _get_missing_features_info.
-- Called fit from fit_transform.
--Used the private instance variable, when implementing tran

[2019-07-14 18:52] amueller commented on #14312
@alexitkes good catch. Thanks!

[2019-07-14 19:37] adamjstewart commented on #14332
@jnothman I tried again and made sure I was building in a clean working directory and the problem still occurred, same error message.

[2019-07-14 20:04] wendyhhu commented on #14364
I'm working on a PR to deprecate these four attributes:
- average_coef_
- average_intercept_
- standard_coef_
- standard_intercept_

[2019-07-14 20:27] #14272 closed

[2019-07-14 20:35] amueller commented on #14331
I'm really not that familiar with OPTICS.
Looks like it might make the OPTICS implementation obsolete?
https://datascience.stackexchange.com/a/11630

[2019-07-14 20:36] amueller commented on #14331
Btw I like the demo dataset for hdbscan, maybe it could replace some of the other ones we have in the comparison? https://hdbscan.readthedocs.io/en/latest/comparing_clustering_algorithms.html

[2019-07-14 20:40] amueller commented on #14338
for the continuous and categorical parts. The stopping criterion is defined such that the imputation
process is stopped as soon as both differences have become larger once. In case of only one type
of variable the computation stops as soon as the corresponding difference goes up for the first time.
However, the imputation last performed where both differences went up is generally less accurate
tha

[2019-07-14 20:43] amueller commented on #14338
This is the paper:
https://academic.oup.com/bioinformatics/article/28/1/112/219101

They are also using a normalized error, I don't think we're doing that.

[2019-07-14 21:04] amueller commented on #14340
Thanks for the report, looks like a bug indeed.

[2019-07-14 21:22] amueller commented on #14340
we should be ignoring the ignored features (in this case 'animal') and change the indices accordingly. see https://github.com/openml/openml-python/blob/347c4a6c2a7b072de574d2bd2f5e0952f6375a84/openml/datasets/dataset.py#L537 for a reference implementation.
@janvanrijn any chance you wanna tag a stab at it?

[2019-07-14 21:26] amueller commented on #10158
Why is it too hard? I want to remove them all.

[2019-07-14 21:27] amueller commented on #10158
Also I would argue we should maybe do the same for flake8, because we keep introducing unused imports. though lgtm might help us with that.

[2019-07-14 21:40] thomasjpfan commented on #12535
Since this is removing two characters, there should not be any issues with doing a double backtick to single backtick change.

[2019-07-14 21:43] thomasjpfan commented on #13188
I am waiting for Github Actions to be released.

[2019-07-14 21:43] amueller commented on #5248
@rth it's inconvenient but I'm ok to close it. You can't do partial fitting in a pipeline, though ;)

[2019-07-14 22:13] raybellwaves opened #14368 "DOC: Grammer in LogisticRegression"
#### Description

Looking through the docs and am slightly confused by `solver: - 'liblinear' does not handle no penalty`

https://github.com/scikit-learn/scikit-learn/blob/7813f7efb5b2012412888b69e73d76f2df2b50b6/sklearn/linear_model/logistic.py#L1303

#### Steps/Code to Reproduce

NA

#### Expected Results

Is 'does not handle no penalty' grammatically correct?

#### Actual Results

#### Version

[2019-07-14 22:27] amueller commented on #12535
apart from breaking all PRs ;)

[2019-07-14 22:30] amueller commented on #14368
I'm not a native speaker. Maybe more clear would be ``'liblinear' does not allow setting penalty=None``

[2019-07-14 22:32] amueller commented on #14368
Is that clearer, and if so, would you like to send a pull request to change it?

[2019-07-14 22:36] amueller commented on #2807
Ok so the paper has 55 citations, is that correct?

[2019-07-14 22:43] amueller commented on #5585
I would consider closing given the lack of interest.

[2019-07-14 23:32] #14302 closed

[2019-07-14 23:32] raybellwaves commented on #14368
I agree it does. Will do

[2019-07-15 02:40] qinhanmin2014 commented on #14349
Thanks, we can only see the first plot of each example in the index, this is why I'm unable to find this example.

[2019-07-15 02:40] #14349 closed

[2019-07-15 02:41] #14368 closed

[2019-07-15 04:47] abhishek-jana opened #14371 "Writing docstrings for certain functions"
Can we add docstrings to some functions? For example,
In benchmarks/bench_glmnet.py

Currently:

def rmse(a, b):
    return np.sqrt(np.mean((a - b) ** 2))

Suggested:

def rmse(a, b):
    """ Function to calculate root mean square error"""
    return np.sqrt(np.mean((a - b) ** 2))

Currently:

def bench(factory, X, Y, X_test, Y_test, ref_coef):
    gc.collect()

    # start time
    tstart = time(

[2019-07-15 05:32] arpanchowdhry commented on #14228
@NicolasHug I agree that this is not easy as it involves a lot of inner working knowledge. I have been making progress by reading a lot of code. But if you or someone else gets it first that is fine, it has still been good learning for me.

[2019-07-15 06:56] rth commented on #14371
You can add them, but these are functions used in the benchmarks suite that is not exposed as part of the scikit-learn API. They are intentionally not documented in the official documentation, and few people will likely look at that code.

[2019-07-15 07:25] abhishek-jana commented on #14371
Thanks... Skipping it then.

[2019-07-15 07:32] #14371 closed

[2019-07-15 08:35] abhishek-jana commented on #14312
Working on QuadraticDiscriminantAnalysis, [classes_, covariance_]

[2019-07-15 08:57] abhishek-jana commented on #14312
Working on KNeighborsClassifier, [classes_, effective_metric_, effective_metric_params_, outputs_2d_]

[2019-07-15 10:48] RNAer commented on #4757
For randomness, you have to pass `shuffle=True`. This is also true for the `sklearn.model_selection.StratifiedKFold`. Thus, it works in the same manners with the builtin function.

[2019-07-15 12:10] ogrisel commented on #14306
The array can be initialized to zero (using memset to avoid using GIL) in parallel in the prange threads using a `with nogil, parallel():` context manager: https://cython.readthedocs.io/en/latest/src/userguide/parallelism.html

[2019-07-15 13:01] jgrizou commented on #13211
I just ran into that issue today, it is especially problematic because we cannot trust the ordering in the internal `classes_` variable which lead to a pretty deep and hard to locate bug in my case.

Here is a minimal example that shows the problem for me: https://gist.github.com/jgrizou/6a8ab93c24a6deac9682ca4c1c778766

In the example, you see that a classifier trained on the exact same data (X)

[2019-07-15 14:22] jgrizou commented on #13211
It turns out that my `get_ordered_classes(clf, X, y)` function is very naive and does not scale. This is because `predict()` and 'predict_proba()' disagree sometime and as said before `predict` might differ from `argmax(predict_proba)`.

Thus it seems impossible to know with absolute certainty which column refer to which label in the probability matrice returned from `predict_proba()`. Am I missin

[2019-07-15 14:36] adrinjalali commented on #10158
I'm totally +1 on both warnings and flake8!

[2019-07-15 17:31] saninstein opened #14376 "Implement WalkForward cross-validator for time series data."
#### Description

Implement the walk forward cv for time series data  with gap between the train set and the test set.

#### Expected Results

![image](https://i.ibb.co/KWkfQ7q/newplot.png)

Expanding
![image](https://i.ibb.co/ZmRNL52/newplot-1.png)

[2019-07-15 18:48] clstaudt commented on #14376
Recently implemented a similar mechanism  - not walk-forward but randomized split of the time series:

https://github.com/point8/forecast-lab

@saninstein Care to have a look and comment?

[2019-07-15 19:04] larryzhang95 opened #14379 "Logistic Regression Lambda (alpha) optimization"
Is it possible to alter the Logistic Regression model code to enable the 'learning' of the lambda parameter? (named alpha in sklearn implementations).

In the ElasticNet implementation, the attribute alpha_ returns such paramter.

In the R implementation of GLMnet, the logistic regression model also learns a specified alpha. https://web.stanford.edu/~hastie/glmnet/glmnet_alpha.html#log

Currently

[2019-07-15 19:06] clstaudt commented on #14376
@saninstein Why the gap?

[2019-07-15 19:17] rth commented on #14379
You are probably looking for [LogisticRegressionCV](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegressionCV.html).

[2019-07-15 19:35] SmirnovEgorRu commented on #14306
@ogrisel @NicolasHug  I have prepared replacing of np.zeroes in this PR https://github.com/scikit-learn/scikit-learn/pull/14380

[2019-07-15 19:43] larryzhang95 commented on #14379
You're right! However, right now using LogisticRegressionCV, I believe the documentation may be out of date. I am trying to use penalty='elasticnet' , with solver='saga'. However specifying l1_ratios does not work. I am getting the following error trace:

`
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent c

[2019-07-15 19:47] larryzhang95 commented on #14379
Also want to follow up that the version I'm using is 0.20.2, probably the base installation for conda;

I'm noticing in the current source code l1_ratios_ does exist within the LogisticRegressionCV class.

[2019-07-15 19:49] rth commented on #14379
Indeed, `l1_ratio` parameter was added in 0.21, so you would need to update.

Closing this as a usage question. We mostly use Github for tracking issues and features requests. The mailing list or Stack Overflow would be better suited for usage questions.

[2019-07-15 19:49] #14379 closed

[2019-07-16 13:35] NicolasHug commented on #14306
Yes of course. Though unless with have tons of features, since max_bins is caped to 255 I don't think we need to do that in parallel. I think LightGBM has a heuristic rule for that.

----

On top of initialization, we can start looking at memory allocation. LightGBM uses a LRU cache for the histograms and we could too. A simple one would be to re-use the histograms of any parent whose children hav

[2019-07-16 13:48] agramfort commented on #13211
the proba order should match the order in classes_

it's not the case?

[2019-07-16 13:53] #2974 closed

[2019-07-16 13:53] #14084 closed

[2019-07-16 14:18] jeremiedbb commented on #14332
@adamjstewart can you execute this:
[code]

[2019-07-16 14:58] adamjstewart commented on #14332
@jeremiedbb you want me to execute that in the build directory before cythonizing, or after the build fails?

[2019-07-16 15:11] jeremiedbb commented on #14332
Sorry this won't work if sklearn isn't correctly installed.
The thing to do is go to `sklearn/_build_utils/` and then execute:
[code]
you can do it before or after trying to build, it does not matter.

[2019-07-16 15:23] jgrizou commented on #13211
No it is not the case, you can see a minimal example here: https://gist.github.com/jgrizou/6a8ab93c24a6deac9682ca4c1c778766. I think it is actually impossible to know for sure when classes_ is correct or not.

From my quick investigation, it might be because predict_proba() rely on another library (libsvm) but no reference to the ordering of classes if passed between the two programs, see https://

[2019-07-16 17:19] edrogers commented on #14328
I'm having trouble reproducing this issue. Running the Iterative Imputer example with sklearn 0.21.0 (the earliest release to include it), then updating to 0.22.dev0 an re-running the example throws no errors for me. Could you clarify how you originally got stale data? Was there a python version change, or some change among your sub-dependencies?

<details>
<summary>
Failed attempt to reproduce
</

[2019-07-16 17:51] DavidTorpey opened #14382 "Add feature encoding algorithms (Fisher vector, VLAD, and BoW)"
I was wondering if it would be possible to include the three main popular feature encoding / pooling / quantisation algorithms into scikit-learn, namely, Fisher vectors, VLAD, and BoW. They are very popular, time-tested algorithms with many applications.

They will also fit nicely within the fit / transform / predict API contract of scikit-learn.

I am happy to submit this feature request as well.

[2019-07-16 18:22] amueller commented on #14382
Are they used outside of old-school computer vision? I had my own transformer for BoW, which is simple to do. But the input for BoW is not a flat matrix, it's a dataset of sets. So that doesn't really work well for the scikit-learn API, which requires a flat matrix.

[2019-07-16 18:35] DavidTorpey commented on #14382
They are used outside of old-school computer vision, I would say. VLAD is still used for image retrieval, and Fisher vectors have found use in areas such as action recognition, with recent papers achieving state-of-the-art results using them.

With regards to the API, for BoW you can feed in a flat matrix to learn the codebook (this would be the fit function). The flat matrix would be the matrix o

[2019-07-16 19:14] amueller commented on #14382
That doesn't really allow using piplines, though. You'd have to call ``predict`` or ``transform`` for each image. There's a very clear hierarchical structure to the data that doesn't really fit with the sklearn API.
How would you learn an image classifier with the API you suggest?

My question was more "is this used outside of computer vision" I guess. We don't usually add vision specific features

[2019-07-16 19:43] DavidTorpey commented on #14382
Maybe I am misunderstanding, but I don't see how it would be any different (in principle) from, for example, `sklearn.cluster.KMeans`. The only difference is that `predict` would produce a bag-of-words histogram instead of cluster labels as in `KMeans`'s `predict` function. I don't really see the hierarchical structure you speak of (maybe I'm not following), since `fit` would receive an n x m matr

[2019-07-16 20:44] amueller commented on #14382
I think 3) is something we'd rather get rid of ;)
But I think my main concern, and the reason why I didn't PR (my implementation from 6 years ago)[https://github.com/amueller/segmentation/blob/master/bow.py#L184] is that we only do rectangular data in sklearn.

What you'd want to be able to do is ``make_pipeline(BoW(), LogisticRegression())`` or something like that. And for that to work, the input

[2019-07-16 21:11] aopisco commented on #13756
hi @arc12, hi @jnothman, any updates on this?

[2019-07-16 22:53] jnothman commented on #13756
None. Pull request welcome

[2019-07-16 23:29] JackMiranda opened #14383 "IterativeImputer does not behave as expected when using fit() and transform() on a train/test split versus using fit_transform() on an entire dataset"
### Description

IterativeImputer seems to give pretty rubbish values when using the two-step ``fit()`` and ``transform()`` on a train/test data split versus simply using ``fit_transform()`` on the entire dataset. Issue #14338 may be related.

#### Steps/Code to Reproduce
Here's a fairly minimal example:

[code]

#### Expected Results
[code]
#### Actual Results
[code]

#### Versions
[code]

[2019-07-17 00:52] hermidalc commented on #12939
@yihengli @tomMoral @jnothman

In Python you can easily set warning filters that work for any spawned worker by setting the `PYTHONWARNINGS` env var dynamically in your code. `loky` workers will pick this up:
[code]
Though since this applies globally until you unset it in your code then you want to be more specific:
[code]
You can specify multiple warning filters this way (https://docs.python.org/

[2019-07-17 01:00] deniederhut commented on #14328
Hm... I can get close. If you clear out your data cache

[code]

then install an older version of sklearn

[code]

download california housing

[code]

then install a more recent version of sklearn

[code]

and access california housing again, you see:

[code]

If you do this in the reverse direction, it fails with

[code]

Presumably, I had originally downloaded the california data some release b

[2019-07-17 01:50] edrogers commented on #14328
Okay, great. I can reproduce your DeprecationWarning.

Digging through the github history here, it appears this situation wasn't altogether unexpected. @rth took on the task of [unvendoring joblib](https://github.com/scikit-learn/scikit-learn/pull/13531) and right at the top of the PR mentions:

Hence, the inclusion of the DeprecationWarning. The behavior is unattractive, but I'm not sure what act

[2019-07-17 04:11] jack-rl-ovell commented on #14351
Hi @aalva14 & @qinhanmin2014 I'd really love to help on this if I can, could I collaborate with either or both of you?

[2019-07-17 05:53] DavidTorpey commented on #14382
Agreed, and if the pipeline pattern is what we are basing the decision on, then we should probably not include these algorithms.

If we just want to provide additional useful APIs not to be used with the pipeline framework, then we could include them.

So I take it we'll pass on these types of algos then?

Thanks again!

[2019-07-17 06:02] MartinThoma opened #14386 "Version 1.0 of scikit-learn"
I just realized (by looking at [0ver.org](https://0ver.org/#notable-zerover-projects) ) that scikit-learn is also in Version 0.x. I could not find any discussion about version 1.0 in the issues.

I would like to understand the reasoning / see if there is any other channel where this topic is discussed.

## Why it matters

[Semantic Versioning](https://semver.org/) is wide spread. People who are ne

[2019-07-17 06:49] aalva14 commented on #14351
@jack-rl-ovell would have loved to collaborate, but my pull request has already been merged to the master. May be there is some other you can look up :)

[2019-07-17 06:57] krishnakatyal opened #14387 "Difficulty in accessing documentation"
#### Description

The Documentation for scikit-learn website[ here](https://scikit-learn.org/stable/index.html) is difficult to find in GitHub. It will be easy for developers if the GitHub link is provided in the readme file ,for some one who is contributing on documentation it will make things much easy

[2019-07-17 08:23] qinhanmin2014 commented on #14387
See https://github.com/scikit-learn/scikit-learn#documentation

[2019-07-17 08:23] #14387 closed

[2019-07-17 09:22] krishnakatyal commented on #14387
but if want to contribute to documentation where it is on github?
can find on doc folder

[2019-07-17 09:47] Harsh2098 commented on #14351
Close this issue then

[2019-07-17 09:51] rth commented on #14387
So the documentation is assembled with sphinx,
 - from the rst files on the `doc/` directory
 - from the estimator docstrings, scattered though the code base

so it wouldn't be possible to give a single link to the source of any page you see in the documentation.

If you are looking for a particular source documentation, the easiest is to search for a sentence / expressions used there within this

[2019-07-17 10:01] rth commented on #14351
The merged PR https://github.com/scikit-learn/scikit-learn/pull/14360 was about fixing this for `cv=5`, but there are a lot of other parameters where this issue could apply. The strategy for detecting those could be,
 - to read though the example, check each time if the parameter used is the default. Once you found one like it, search (using `git grep`) though all the code base to find other insta

[2019-07-17 10:53] krishnakatyal commented on #14387
@rth can we make a directory where we arrange all the documentation?
i am willing to contribute

[2019-07-17 11:02] rth commented on #14387
@krishnakatyal Take for instance, `OneHotEncoder`. If you go to the corresponding [documentation page](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html), there is a "source" button which will lead you to `sklearn/preprocessing/_encoders.py` which is where that estimator (and it's docstring) is defined. There is no really a point in changing that location.

[2019-07-17 11:24] Harsh2098 commented on #14351
Alright, I would like to take up this

[2019-07-17 11:54] GuillemGSubies opened #14390 "plot_partial_dependence ignores `target` parameter"
#### Description

[Here](https://github.com/scikit-learn/scikit-learn/blob/7813f7efb/sklearn/inspection/partial_dependence.py#L577) `target_idx` gets overwritten no matter what. So if we are in a multiclass problem, the field `target` is ignored.

#### Steps/Code to Reproduce

[code]

[code]
[code]
[code]
#### Expected Results

I expect it to plot different things for different targets.

#### Actu

[2019-07-17 12:00] GuillemGSubies commented on #14390
Oh... Seems that there already exists #14301, ok so im closing.

[2019-07-17 12:00] #14390 closed

[2019-07-17 12:01] GuillemGSubies commented on #14301
Today I had this problem also, I'm not going to the sprint but I could make a PR for this.

[2019-07-17 12:06] NicolasHug commented on #14301
no one picked it during the sprint so feel free to submit a PR @GuillemGSubies!

[2019-07-17 14:09] thomasjpfan opened #14394 "pytest 5 compatibility"
pytest 5.0 raises two warnings that fails our [warning check in the CI](https://dev.azure.com/thomasjpfan/scikit-learn/_build/results?buildId=1061&view=logs). Scipy addressed the issue by ignoring the warnings: https://github.com/scipy/scipy/issues/10376

The other `ExitCode` issue was fixed with `pytest-xdist=1.29.0`.

[2019-07-17 14:53] #14219 closed

[2019-07-17 15:56] Pengfei0606 opened #14395 "Incorrect error bar predicted by scikit-learn"
#### Description

I recently tried using scikit-learn to fit a correlation between two astronomical quantities. The best-fit curve is nice, but the unc('Scikit-Learn', '0.18.1')ertainty is not as expected.
#### Steps/Code to Reproduce

[code]
#### Expected Results

We got the y_mstar right. But the output sigma_mstar is almost constant with xGPRm, but we expect larger uncertainties at small xGPRm

[2019-07-17 16:02] rth commented on #12676
Thanks for the reproducible setup @dimrozakis !

[2019-07-17 16:03] amueller commented on #14386
There's a milestone:
https://github.com/scikit-learn/scikit-learn/issues?q=is%3

Personally, I think #7242 and #10603 need to be fixed.
Right now it's not possible to train a pipeline with preprocessing and logistic regression on the titanic dataset and figure out what the coefficients mean. This is work in progress. We already made strides. Once we have support for feature names, I think we're at

[2019-07-17 16:07] amueller commented on #14382
That was my thinking when I was working on these topics, and I think it's still a valid reason. It would be the only estimator in scikit-learn that has this kind of behavior, and we don't really want to extend the scope.
Maybe we could have it in [scikit-learn-extra](https://github.com/scikit-learn-contrib/scikit-learn-extra). The fact that I wanted it 6 years ago and you still want it is probably

[2019-07-17 16:20] cgohlke commented on #12676
I re-ran the tests on a Xeon W-2155 CPU with AVX-512 and could reproduce the issue.

[2019-07-17 16:29] jack-rl-ovell commented on #14351
I would like to take this up as well!

On Wed, Jul 17, 2019 at 5:26 AM Harsh Mahajan <notifications@github.com>
wrote:

[2019-07-17 17:10] amueller commented on #14368
Thanks!

[2019-07-17 17:16] #11187 closed

[2019-07-17 17:16] DavidTorpey commented on #14382
Okay great, that makes sense.

I'll submit a issue there for this feature request then.

Thanks.

[2019-07-17 17:21] amueller commented on #10063
@jnothman because the order of CV folds is deterministic and the categories don't depend on whether ridge or lr is used, right?

[2019-07-17 17:44] amueller commented on #14126
@zd-project feel free to go for it :) Sorry for the slow reply.

[2019-07-17 17:45] amueller commented on #14126
I renamed the issue for more visibility. @zd-project if you have other suggestions for additions, please let us know.

[2019-07-17 18:02] MartinThoma commented on #14386
Cool, I missed [the 1.0 milestone](https://github.com/scikit-learn/scikit-learn/milestone/9) - let's see if I can contribute :-)

It's awesome to see that this is already in progress. scikit-learn is a project that helped me a lot during my studies / career; I will try to find some time to give something back.

Personally, I would consider this as the "cherry on the top": Very nice to have, a very

[2019-07-17 18:23] amueller commented on #14386
One of the issue with adding additional papers is that it gets less clear for users what to cite and it splits our citation count.
On the other hand it allows new contributors to share in the citations (me and @jnothman are not in the published journal version of the previous paper).
These are somewhat tangential issues though.

I think having an issue to discuss 1.0 is not a bad idea so I think i

[2019-07-17 19:36] MartinThoma commented on #10603
I don't understand the problem being discussed here. Could somebody please help me to understand it?

I've adjusted the code from above a little bit and it works:

[code]

[2019-07-17 20:35] jh-zhu opened #14398 "GaussianMixture model each attributes scaling issue"
#### Description
Hi,

I am trying to use the sklearn.mixture.GaussianMixture for clustering purpose. I read from the clustering comparison page: https://scikit-learn.org/stable/modules/clustering.html that Gaussian Mixture does not require scaling for each variable to have unit variance before fitting the model. That makes sense to me because it is using Mahalanobis Distance to center.

However, I

[2019-07-17 20:45] #3298 closed

[2019-07-17 21:33] amueller commented on #3298
@trendsearcher can you provide an example please? It's now merged but I'd like to see the issue you experienced.

[2019-07-17 21:34] amueller commented on #12310
ping @thomasjpfan who recently looked at this

[2019-07-17 21:34] amueller commented on #12308
@thomasjpfan you implemented this, right?

[2019-07-17 21:44] amueller commented on #14398
Where does it say that scaling is not required?

[2019-07-17 21:51] amueller commented on #10603
@MartinThoma That this works now is the consequence of this issue (among others).

I still have two complaints wrt what's possible right now:
to me, this is the basic data science use case. It requires like 10 lines. And it is somewhat suboptimal in that it does imputation for categories, where I would rather replace them with a separate category, which actually doesn't work well in master (see #1

[2019-07-17 22:25] jh-zhu commented on #14398
Thanks for quick reply.

I read the last column of the table under section 2.3.1 (Geometric metric used).
https://scikit-learn.org/stable/modules/clustering.html
It is Mahalanobis distance for Gaussian Mixture. Mahalanobis is scale invariant and so I thought the implementation already takes care of this issue.

sorry I put it in a wrong way. I read the table and I think scaling is not required if

[2019-07-18 01:53] deniederhut commented on #14328
So, one option would be to tag the downloads with the version of scikit-learn that pickled them, and check that tag before loading the data. If the version doesn't match, download a new thing.

[2019-07-18 04:05] adamjstewart commented on #14332
Sorry for the delay, here you go:
[code]

[2019-07-18 06:24] venkyyuvy commented on #4450
I have attempted to change the default sorting in LabelEncoder [here](https://stackoverflow.com/a/57068594/6347629). Please let me know, whether I can continue on this work?

[2019-07-18 08:37] trendsearcher commented on #3298
Glad to help. How can I give an example (it has lots of code and may be not
intuitive)? Maybe I can write it in plain text?

чт, 18 июл. 2019 г. в 00:35, Andreas Mueller <notifications@github.com>:

[2019-07-18 09:06] agramfort commented on #14398
I suspect that some init of the algo is not scale invariant. Note that GMM
fitting is a non-convex problem
that is therefore affected by the choice of initialization.

[2019-07-18 09:21] jeremiedbb commented on #14332
How did you get the sources of sklearn ? cloning the repo ?
Do you have a file named "PKG-INFO" in scikit-learn folder ? If not, the only possibility I can see is a cython bug where the `compile_time_env` is somehow ignored. It's hard to debug because I can't reproduce it :/

[2019-07-18 09:26] timkofu opened #14402 "ImportError: cannot import name 'CategoricalEncoder' from 'sklearn.preprocessing'"
Hello,

This class was to be available as from 0.20. I'm on 0.21.2.

[2019-07-18 09:32] adrinjalali commented on #14328
I don't think we'd want to support the case where people would _downgrade_ the package. And also for the warning, it should automatically fix the issue with https://github.com/scikit-learn/scikit-learn/pull/14197

I'd say this is a "won't fix" issue. Closing, happy to have it opened if the other core devs disagree.

[2019-07-18 09:35] qinhanmin2014 commented on #14402
We don't have ``CategoricalEncoder`` (it's not included in the final release), please use ``OrdinalEncoder`` and ``OneHotEncoder`` instead.

[2019-07-18 09:35] #14402 closed

[2019-07-18 09:38] rth commented on #14328
Doesn't that PR actually solve this issue by refreshing local cache for legacy pickles? Not just the warning?

[2019-07-18 09:40] qinhanmin2014 opened #14403 "List all the experimental features?"
Maybe we should list all the experimental features, at least in maintainer.rst?
e.g., previously I though that ColumnTransformer was the only experimental feature which was not included in sklearn.experimental (now it's not an experimental feature), but recently I realized that ``fetch_openml`` is also experimental (maybe I'm still missing something?).

[2019-07-18 09:44] adrinjalali commented on #14328
That PR only refreshes the cache if the warning is raised, The issue here is that going back from a future version of sklearn raises an error, and I think it should.

[2019-07-18 09:52] rth commented on #14328
I think that was only done to reproduce the original issue. The original issue, unless I misunderstood something, is that pickles done with older scikit-learn version fail to load with newer scikit-learn versions. Maybe I shouldn't have removed `sklearn.externals._joblib` during joblib unvendoring.

In any case, since the only complaint about it we got from datasets loading, it should be fairly st

[2019-07-18 09:53] GuillemGSubies commented on #10003
Any progress here? An intuitive explanation of the lift curve can be found here:

http://www2.cs.uregina.ca/~dbd/cs831/notes/lift_chart/lift_chart.html

It is like "how much better than the random model I am doing at each percentile"

[2019-07-18 10:06] rth commented on #14328
OK that statement was too optimistic. `_refresh_cache` is oblivious to the download URL, so another mechanism would be needed something like,
[code]

which would require modifying all the fetchers.  Not sure if we really want to do that, or if adding a message in `_refresh_cache` to manually remove the cache folder (or even remove the problematic pickle and ask the user to re-run the example again

[2019-07-18 10:55] #14096 closed

[2019-07-18 14:10] thomasjpfan opened #14404 "Standardize Docstrings for Parameters and Attributes"
With https://github.com/scikit-learn/scikit-learn/pull/14375, we should finally standardize how we document the type of parameters and attributes. Once we decide on a style and make changes, we can include a test to enforce the policy.

1. Do not use optional. Use `default=`. `str {'a', 'b'} or float, default=1.0`
2. Python basic types. (`bool` instead of `boolean`)
3. When defining 1-D shape, use

[2019-07-18 14:26] rth commented on #12676
I can also reproduce on master on a machine with MKL and AVX-512.

As far as I can tell, the difference comes from `_cholesky_omp` function in `sklearn/linear_model/omp.py` that uses `nrm2`, `swap` BLAS functions as well `potrs` from LAPACK. It converges after a slightly different number of iterations.

I'm not sure how to fix this. Or in general if this test failure is an indication that anything

[2019-07-18 15:38] rth commented on #14404
Also related: type annotations https://github.com/scikit-learn/scikit-learn/issues/11170

[2019-07-18 16:41] amueller commented on #14398
Hm maybe saying that it's the mahalanobis distance is a bit imprecise. It's only the mahalanobis distance if ``covariance_type='tied'``.
But you also need to fix the random state. The algorithm is randomized and so even running it twice with exactly the same data will not yield the same results.

[2019-07-18 16:43] amueller commented on #14398
cc @GaelVaroquaux who can explain what he meant when he said mahalanobis and maybe can clarify ;)

[2019-07-18 17:11] jh-zhu commented on #14398
Thanks for the discussions!

In K-means, if different attributes are in different scale (Lets say people's income, height and weight), then the euclidean distance it used will not be appropriate, and scaling is needed.

Gaussian Mixture is using Mahanalobis distance, which is already adjusted by its covariance matrix, and therefore scale-invariant. So my understanding is that no additional scaling

[2019-07-18 17:25] adamjstewart commented on #14332
The error message I reported above and the build logs I shared came from building the latest release tarball downloaded from PyPI. The `check_openmp_support` results I showed above are from both the latest release tarball and from the latest commit on the master branch of the repo. The tarball contains a `PKG-INFO` file, but the master branch does not. If you want, I can try building the master br

[2019-07-18 18:06] jeremiedbb commented on #14332
In the tarball we ship the sources already cythonized. And they were cythonized with OpenMP support.
So from there there's no way to build without OpenMP support.
That's an issue. But we don't want to ship cythonized sources without OpenMP support. It would for sequential mode to users who actually have OpenMP.

Maybe it's possible to ship 2 different cythonized version, with and without OpenMP su

[2019-07-18 18:10] adamjstewart commented on #14332
Ah, that makes sense. Is there any way to re-cythonize the sources from the tarballs? Then you can ship cythonized versions with OpenMP support, and anyone who doesn't have OpenMP installed can re-cythonize them.

[2019-07-18 18:13] adamjstewart commented on #14332
Update: the master branch does indeed install fine with `SKLEARN_NO_OPENMP`, so the issue was that I was trying to install an already cythonized release tarball.

[2019-07-18 18:45] jeremiedbb commented on #14332
as a temporary workaround, you can delete the PKG-INFO file and remove all problematic .c files, then build. Don't delete all .c files because some don't come from the cythonization.

We ship already cythonized sources to avoid the cython dependency on user installing from Pypi.

[2019-07-18 18:51] #14332 closed

[2019-07-19 02:42] #10247 closed

[2019-07-19 07:58] #14002 closed

[2019-07-19 07:59] #14301 closed

[2019-07-19 12:43] albertcthomas commented on #14404
for 4. maybe `(n_samples,)` for a 1D array but `(n_samples, n_features)` for a 2D array

[2019-07-19 13:00] #13224 closed

[2019-07-19 13:07] alexitkes opened #14409 "Document default value for fit_intercept parameter for Ridge and RidgeCV"
The default value for the `fit_intercept` parameter is True for all linear models, but this default value is documented for Lasso/LassoCV estomators, but not for Ridge/RidgeCV. Maybe replace the string `fit_intercept : boolean` with `fit_intercept : boolean, default True` in Ridge/RidgeCV documentation, too? Or maybe better with `bool, default True` as noted in issue #14404 ?

Ready to do it, alre

[2019-07-19 13:20] NicolasHug commented on #14303
I opened https://github.com/microsoft/LightGBM/issues/2270

It is not enabled by default because they require the validation set to be passed to `fit`.

[2019-07-19 14:00] NicolasHug commented on #14303
They want to give the user as much liberty as possible since the train/val split can be application specific.

We don't have this "problem": we always use `train_test_split`.

[2019-07-19 14:15] gerdinard commented on #2606
Hello. Here is a link to my python MLkNN implementation.
https://github.com/gerdinard/MLkNN.git

[2019-07-19 14:18] rth commented on #14265
Well now that we unvendored joblib, I'm not sure where to communicate about joblib parallelism changes in scikit-learn release notes.

Change proposed in https://github.com/joblib/joblib/pull/913

Also I think we should still merge https://github.com/scikit-learn/scikit-learn/pull/14196: it's a private function to be able to use `n_jobs or n_threads=-1` safely and is a bit orthogonal to the presen

[2019-07-19 14:46] GaelVaroquaux commented on #14303
Hence, I think that we should turn on early stopping :)

[2019-07-19 15:11] thomasjpfan opened #14413 "`test_sag_regressor_computed_correctly` fails sometimes on py35_ubuntu_atlas_32bit"
In a doc change PR https://github.com/scikit-learn/scikit-learn/pull/14396, `test_sag_regressor_computed_correctly` [failed in ci](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=5173&view=logs) with:

[code]

[2019-07-19 15:14] thomasjpfan opened #14414 "`test_fastica_simple[0-False]` failed in Linux py35_ubuntu_atlas"
In a PR https://github.com/scikit-learn/scikit-learn/pull/14263 `test_fastica_simple[0-False]` [failed in ci](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=5265&view=logs) with:

[code]

[2019-07-19 16:13] thomasjpfan commented on #10624
In @scoder [blog post about Cython 0.29](http://blog.behnel.de/posts/whats-new-in-cython-029.html):

[2019-07-19 17:52] ruidazeng opened #14416 "K-means clustering on multiple csv files"
I tried to run a k-means clustering on 144 `.csv` data files that contains 30,000 simple (x, y) coordinates each. I jammed all of `.csv` together into a numPy array named `X` and tried to feed it into However, this seemed to fail with this error message.

[code]

Here is my source code:
[code]

[2019-07-19 18:55] amueller commented on #14416
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-07-19 18:55] #14416 closed

[2019-07-19 19:25] thomasjpfan commented on #12308
Nope. Every test that uses `METRIC_UNDEFINED_BINARY_MULTICLASS` is mentioned in this issue. Looking into this.

[2019-07-19 19:29] thomasjpfan commented on #12308
This kind of makes me want to refactor `sklearn/metrics/tests/test_common.py`.

[2019-07-19 19:42] amueller opened #14418 "test_imports_strategies fails unless sklearn is installed"
So I ran make in a fresh environment and ``test_imports_strategies`` fails because it doesn't find sklearn.

I'm not entirely sure if this should be considered a bug, but previously all tests worked without installing sklearn.

[2019-07-19 20:19] mattbrown11 opened #14419 "Formulate for _compute_lower_bound in gaussian_mixture"
Hello,

I am having trouble following the computation for [**_compute_lower_bound**](https://github.com/scikit-learn/scikit-learn/blob/7813f7efb5b2012412888b69e73d76f2df2b50b6/sklearn/mixture/gaussian_mixture.py#L686) in gaussian_mixture.py. My understanding is that this should be the expected likelihood of the current estimated parameters. I'm using the Wikipedia article on [Expectation Maximizat

[2019-07-19 20:30] ruidazeng commented on #14416
I did try Stack Overflow. However, I thought that perhaps _scikit-learn_ lack a machine learning algorithm that directly works on the `.csv` data and could properly cluster multiple files in order to finding similarities between the files, and I am currently looking for more in-depth analysis of the problem.

[2019-07-19 20:32] ruidazeng commented on #14416
I did try Stack Overflow. However, I thought that perhaps _scikit-learn_ lack a machine learning algorithm that directly works on the `.csv` data and could properly cluster multiple files in order to finding similarities between the files, and I am currently looking for more in-depth analysis of this operation, which in my humble opinion, might end up to be more than a simple usage problem.

[2019-07-19 20:49] amueller commented on #14416
This depends on how you want to frame the problem, which is a question about how to apply machine learning to your use-case. It's not an issue with scikit-learn's implementation of k-means.

[2019-07-20 00:28] nbokulich opened #14422 "RFECV generates inconsistent `grid_scores_` results on mac vs. linux environments"
#### Description
RFECV generates inconsistent results on mac vs. linux environments. The results are consistent on each platform.

#### Steps/Code to Reproduce
[code]

#### Results
No error is thrown. Do not know which is "correct", but there are different results for each platform. This does not appear to be a rounding error (unless if it is the result of multiple compounding rounding errors).

M

[2019-07-20 02:30] #14258 closed

[2019-07-20 02:31] qinhanmin2014 commented on #14409
please submit a PR.

[2019-07-20 08:56] #14409 closed

[2019-07-20 12:27] kevinwinatamichael commented on #14312
Working on:
LinearSVC, [classes_]
NuSVC, [class_weight_, classes_, fit_status_, shape_fit_]
SVC, [class_weight_, classes_, shape_fit_]

[2019-07-20 15:02] maxKenngott commented on #14351
If there's still space to work on this, I'd love to help out.

[2019-07-20 15:58] maxKenngott commented on #14083
In that case I'd like to work on this.

[2019-07-20 17:51] thomasjpfan opened #14426 "Document `print_changed_only` in `sklearn.config_context`"
Document `print_changed_only` in `sklearn.config_context`

https://github.com/scikit-learn/scikit-learn/blob/3dc43a5c5faad88120925074c9e925a77c4d5a8b/sklearn/_config.py#L75-L91

[2019-07-20 21:32] #14426 closed

[2019-07-20 22:51] onacrame opened #14429 "cross_val_predict failing (IndexError: index 1 is out of bounds for axis 1 with size 1)"
#### Description
I'm currently getting the above message when running cross_val_predict.  This was working correctly as at 20.2 but I've recently needed to reinstall an now have the latest version of sklearn.

I'm running a LightGBM model and attempting to get cross validated predictions.

The traceback first indicates a fail when _enforce_prediction_order is called.  When I comment out this code

[2019-07-21 05:28] yngvem commented on #9967
Sorry for the late reply, for some reason i didn't see the notification e-mail. Anyways, I looked at the implementation you linked and the code quality is not stellar. I can probably implement the same algorithm in my spare time if that is needed to get group lasso and SGL into sklearn.

Also, if it is for personal reasons you need GridsearchCV, then my FISTA based implementation is now quite matu

[2019-07-21 11:48] deniederhut commented on #14328
Correct.

As for fixes, printing a warning about stale cache data sounds reasonable to me.

[2019-07-21 13:27] qinhanmin2014 opened #14432 "test_fit_csr_matrix sometimes fails (Linux py35_ubuntu_atlas)"
https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=5363

[code]
rtol=0.11? that's surprising.

[2019-07-21 13:28] qinhanmin2014 commented on #14432
hmm, there's a closed issue.

[2019-07-21 13:28] #14432 closed

[2019-07-21 13:29] qinhanmin2014 commented on #14168
ping @rth @thomasjpfan
https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=5363
[code]
rtol=0.11? that's surprising.

[2019-07-21 18:34] nok commented on #11320
I made the experience that all versions lower than `0.20` (`0.16`, `0.17`, `0.18`, `0.19`) will break.

My tests: https://travis-ci.org/nok/sklearn-porter/builds/561765760

Are there any plans to cover these versions?

[2019-07-21 19:01] rth commented on #11320
I don't think so. Users with Python 3.7 would need to upgrade to scikit-learn 0.20.X at least.

[2019-07-22 01:48] Pengfei0606 commented on #14395
Can anyone help me about this? Otherwise, I have to give up GPR method in my research.

[2019-07-22 06:37] chenyangalice opened #14434 "error using ipyparallel backend with sklearn.cluster.kmeans"
[code]

After doing the aforementioned steps, I tested the following code
[code]

however, when i run the code, i get following error.

**AttributeError: 'IPythonParallelBackend' object has no attribute '_effective_batch_size'**

[2019-07-22 07:30] niuwan1 commented on #9947
@EvgeniDubov , I have followed your instruction in https://github.com/EvgeniDubov/hellinger-distance-criterion and successfully installed hellinger distance criterion. However, when I try to run the example in my pycharm or python IDLE, it shows "no module named hellinger_distance_criterion", then I tried the code in "Example" in the python of my terminal console, it works. I don't know if I have

[2019-07-22 09:55] rth commented on #14434
Please open this issue at https://github.com/joblib/joblib. It is about how to create a custom joblib backend with IPython parallel and is unrelated to scikit-learn.

[2019-07-22 09:55] #14434 closed

[2019-07-22 11:23] adrinjalali commented on #14083
@maxKenngott thanks :)

[2019-07-22 11:53] hugorichard opened #14436 "Linear and Quadratic discriminant analysis could be more modular to allow for user specific estimation of covariance"
By default sample estimate is used to estimate the covariance in Fisher discriminant such as LDA and QDA. However it could be useful to make the API a bit more general so that any estimator of covariance can be plugged in (I know that Ledoit-Wolf is already implemented).

What I propose is to have two additional parameters in the API:
covariance_estimator and standardize
- covariance estimator wou

[2019-07-22 11:54] hippke opened #14437 "Faster GPs using HODLR solver"
The scikit-learn implementation of Gaussian Processes (GPs) scales as *O(n^3)* where *n* is the number of data points. Other packages such as [celerite](https://github.com/dfm/celerite) or [george](https://github.com/dfm/george) offer the [HODLR solver](https://arxiv.org/abs/1403.6015) which scales as *O(n log^2 n)*. This allows to use GPs for datasets with e.g. 10k points in seconds, instead of m

[2019-07-22 12:20] agramfort commented on #14437
I would suggest to rewrite this in python

[2019-07-22 12:44] hippke commented on #14437
Would pure Python be fast enough? I guess there is a reason that it was written in C++ with a Python wrapper. What's the scikit-learn policy on using numba or Cython?

[2019-07-22 12:55] rth commented on #14437
Maybe they just prefer/have to use C++, for their own reasons. Maybe the same could be acchieved with pure Python and BLAS calls (I haven't looked at the code in detail).

Otherwise, Cython would work. For now we can't add numba as a dependency. Though starting from a pure python implementation (and possibly a few numba decorated functions), before porting it to Cython might be faster in terms of

[2019-07-22 13:36] #14223 closed

[2019-07-22 13:40] rth commented on #14429
It likely means that `LightGBM` is not fully compatible with the scikit-learn API. It should pass [`check_estimator`](https://scikit-learn.org/stable/modules/generated/sklearn.utils.estimator_checks.check_estimator.html). Please open this issue with `LightGBM`.

[2019-07-22 13:45] rth commented on #14395
Could you please provide the data so that the example is reproducible?

[2019-07-22 14:36] ksanderer commented on #14376
@clstaudt gap is useful feature for models evaluation in stock trading. In price prediction it's very common case when model performs very well on the data right after training set and degrades over time. So, in some cases it can be useful to skip a little amount of "good" data that occurred after training set.

[2019-07-22 14:44] thomasjpfan opened #14438 "Move pytest decorators into a `_test_decorators` file"
It is a bit strange how importing `FunctionTransformer` will import `assert_allclose_dense_sparse` which imports `pytest`.

It would be slightly cleaner to move the `pytest` decorators to a `_test_decorators` file like: https://github.com/pandas-dev/pandas/blob/master/pandas/util/_test_decorators.py

(This may be a little harder since our `pytest` decorators are public)

[2019-07-22 14:47] adrinjalali commented on #14376
I think our usual position on time-series related features is that it's out of scope for sklearn (at least for now). And to me, it would make sense to revisit the matter once we have sample properties such as timestamp attached to the data.

I'd like to have at least one other opinion from @scikit-learn/core-devs on this, but my vote is a "won't fix" resolution for now.

[2019-07-22 15:16] adrinjalali commented on #14436
@hugorichard if you have a ready PR, I'd say submit and we can see how we feel about it then.

[2019-07-22 15:17] saninstein commented on #14376
@adrinjalali sklearn already has the many good models for timeseries, but only one cv for it (TimeSeriesSplit)

[2019-07-22 15:19] amueller commented on #14438
What does ``assert_allclose_dense_sparse`` have to do with decorators?

[2019-07-22 15:22] GaelVaroquaux commented on #14376
Which ones?

[2019-07-22 15:25] ksanderer commented on #14376
@adrinjalali there is TimeSeriesSplit which already implemented in sklearn :)

TimeSeriesSplit is specific case of proposed WalkForwardCV (can be achieved with `gap=0, expanding=True` args), actually TimeSeriesSplit can be easily replaced with WalkForwardCV (just set default args as I mentioned before).

I'm part of the stock trading ML team and we successfully using various sklearn features and s

[2019-07-22 15:29] adrinjalali commented on #14376
Fair, but then I'd probably try to patch `TimeSeriesSplit` in a backward compatible way to add the feature you need. That also has a higher chance of being accepted by the community.

[2019-07-22 15:29] amueller commented on #14437
This makes me thing of [hodl gang](https://www.youtube.com/watch?v=JZYZoQQ6LJQ)

I'm pretty sure the implementation is not 174 lines, these are actually just the bindings. I talked with dfm about this a couple of years back. Back then he was relying on the hodlr C++ library. It looks now the solver is implemented in Eigen. So in order to use it, we'd need to rely on Eigen. I don't think this is im

[2019-07-22 15:32] amueller commented on #14437
Actually, looks like it's not as bad as I thought:
https://github.com/dfm/george/blob/7f4d301ceb38f977518038a9464f4f3d099e09a8/george/include/george/hodlr.h

This looks to be the actual implementation.

[2019-07-22 15:34] rth commented on #14438
Pytest decorators are defined in `sklearn.utils.testing`, which is also where `assert_allclose_dense_sparse` is defined.

Nope that will only import pytest if pytest is installed, but I guess we could move pytest decorators to a separate file. Maybe just to `conftest.py`?

[2019-07-22 15:35] ksanderer commented on #14376
Timeseries prediction not the only case for WalkForwardCV. It useful when dataset observation is ordered in time and validation need to be done in the same way.

For example one of our task is loosing trades filtering classification problem when we trying to improve existing trading strategy with ml model wich will "give permission" to trade.

----

I believe it would be the best solution.

[2019-07-22 15:46] clstaudt commented on #14376
I am a data scientist working on time series forecasting models. I assumed time series-specific things are out of scope for scikit-learn, so I started to implement my own validation code, slightly different from the method described in this thread.

Later I learned of the existence of [TimeSeriesSplit](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html)

[2019-07-22 16:00] GaelVaroquaux commented on #14376
There are many patterns that are needed for prediction on time series. I
would think for instance that transformer creating wavelet features would
be very useful.

However, these are outside the scope of scikit-learn. It would be useful
to create a package that implements all these in a consistent way. It
would probably pick up momentum.

[2019-07-22 16:26] thomasjpfan commented on #14438
This is most likely a non issue. If someone is running in production, hopefully they do not have `pytest` installed.

[2019-07-22 16:26] #14438 closed

[2019-07-22 16:42] amueller commented on #14438
how does it not import pytest if pytest is not installed?
It seems to me that the import dependencies are a bit strange but to me the issue was more that ``assert_allclose_dense_sparse`` should probably be in validation if we're using it for validation.

[2019-07-22 16:44] amueller commented on #14438
Oh it's actually a ``try: except ImportError``.
That's... also a strange thing to have within code that's actually used in the implementations. "hopefully they do not have ``pytest``" installed also seems odd ;)

[2019-07-22 16:45] clstaudt commented on #14376
Yes. Sign me up.

[2019-07-22 16:46] amueller commented on #14438
``assert_all_finite`` is also in ``sklearn.utils.validation`` btw

[2019-07-22 16:50] thomasjpfan commented on #14438
I would just move `assert_allclose_dense_sparse` into `sklearn.utils.validation`.

[2019-07-22 16:53] adrinjalali commented on #14376
We'd be happy to have such a package in https://github.com/scikit-learn-contrib/

Closing this one then :)

[2019-07-22 16:55] amueller commented on #14331
@jnothman I know you're catching up with a lot but maybe this is worth looking into, given that there's still issues with Optics and this is actually a pretty well-tested implementation?

[2019-07-22 17:52] MotoRZR commented on #14429
They've confirmed it passes check_estimator.  I tried this on a different data set and it appears the issue is that because my target column was a pandas dataframe, its dimensions were (samples,1).  If I reshape to (samples,) I don't get an error.  Note that this only happens when using predict_proba (which produces a two column output) and not predict (which produces a one column output).

[2019-07-22 17:55] amueller commented on #14429
Looks like this is not covered by common tests - which kind of makes sense.
I feel like we shouldn't prevent downstream estimators from producing series with ``predict`` or ``predict_proba``, which means we would need special code in ``cross_val_predict`` to do the stacking of the results.

[2019-07-22 17:59] adrinjalali commented on #14404
Also related: https://github.com/scikit-learn/scikit-learn/pull/12356

[2019-07-22 17:59] rth commented on #14331
OPTICS was announced as a "major feature" in v0.21 so I guess it's now there to stay in any case? The 1999 paper also has 3.5k citations.  Unless there are significant issues with it? I haven't found that many on issue tracker, but I haven't followed the development either.

I think it would be good to include HDBSCAN, just saying that purely following the inclusion criteria (independently of any

[2019-07-22 18:19] mattbrown11 commented on #14419
Yes, it looks that what is being computed is not the expectation of the log likelihood (lower bound on log likelihood) but rather the log likelihood itself (normalize by the number of data points). This [paper](http://melodi.ee.washington.edu/people/bilmes/mypapers/em.pdf) on the middle of page 3 shows that this expression is log likelihood (modulo the normalization by N).

[2019-07-22 19:07] amueller commented on #14331
@rth not sure I follow your logic. Are you talking about the class or the implementation or both?
I am not very familiar with either algorithm, but it looks to me as if an implementation of HDBSCAN would also implement OPTICS, and having a redundant implementation of OPTICS seems unnecessary?

[2019-07-22 19:17] juanluislm opened #14440 "Add Supervised Latent Dirichlet Allocation (sLDA) to the API"
Hello,

This is more a feature request than an issue/ticket, but I believe it would be great if scikit learn implemented supervised Latent Dirichlet Allocation (sLDA) and/or other topic modelling approaches. I saw some of the classes in this [repo](https://github.com/Savvysherpa/slda), and I think the community would benefit from having something like those classes in skleaen.

Thanks,
Juan

[2019-07-22 19:56] rth commented on #14331
I meant the OPTICS algorithm, not so much the implementation. I was not aware that OPTICS results could be obtained with HDBSCAN exactly. As long as we don't break backward compatibility of OPTICS I don't really have an opinion, and will let people who have worked on this decide..

[2019-07-22 19:59] mattbrown11 commented on #14419
Here is another update that might provide some useful documentation, as I was initially confused for many hours. When I switched over to computing the expected log likelihood (lower-bound on likelihood that is being optimized as a proxy for the likelihood) in `_compute_lower_bound`, this value would not monotonically increase as is guaranteed by the EM process. The problem was related to the order

[2019-07-23 01:24] corona10 commented on #14340
@amueller Hi if this issue is not hard to solve, can I take a look at it?

[2019-07-23 01:42] amueller commented on #14340
@corona10 Not entirely sure how hard it is, feel free to have a look.

[2019-07-23 01:55] amueller commented on #14376
I think adding a better time-series cross-validation is in scope.

[2019-07-23 01:57] amueller commented on #14376
also see #13666 #13204 #6322 #13761

[2019-07-23 03:21] Pengfei0606 commented on #14395
Sure. I just wrote down the data shown in the plot. The first column is W^i_P50/2 and the second column is m_star. So you can take log10 for both of them and then make the plot. Ignore the condition [want], I have removed those unwanted points in the txt file. Thanks for help. I truly appreciate it.

[mstar-WP50.txt](https://github.com/scikit-learn/scikit-learn/files/3420037/mstar-WP50.txt)

[2019-07-23 03:48] qinhanmin2014 opened #14444 "Provide an option to consider class prior in ComplementNB"
Currently, in ComplementNB, we estimate class prior but do not use it. I think we can provide an option to consider class prior in ComplementNB (like other naive bayes algorithms in scikit-learn). Reasons:
(1) In the original paper, when proposing ComplementNB, the authors actually take class prior into consideration (see Section 3.1). When proposing the detailed implementation, the authors "use a

[2019-07-23 07:05] jnothman commented on #14440
How well established are these techniques in practice? I appreciate that
the paper at https://papers.nips.cc/paper/3328-supervised-topic-models.pdf has
sufficient traction for us to consider it, but I don't know if it is much
used.

[2019-07-23 07:57] hippke commented on #14437
Ah yes, that's correct. So it's 222 SLOC in C++ and a dependency to Eigen.
Regarding Eigen, I see the code use these functions:

- [Matrix class](https://eigen.tuxfamily.org/dox/group__TutorialMatrixClass.html)
- LDLT: [Robust Cholesky decomposition of a matrix with pivoting](https://eigen.tuxfamily.org/dox/classEigen_1_1LDLT.html)
- FullPivLU: [LU decomposition of a matrix with complete pivoting,

[2019-07-23 08:17] jnothman commented on #14376
Re scope, I agree with @amueller that we should be open to extending this to common use-cases. Basically, we generally assume in scikit-learn estimators (i.e. sklearn package) that the model should be more-or-less invariant to sample order and feature order. This excludes time series estimators. However, we do not have this constraint in cross validation splitters where we have long considered sam

[2019-07-23 08:50] jnothman commented on #14419
Please submit a pull request with improvements to the code or its comments.
Thanks

[2019-07-23 11:47] adrinjalali commented on #14376
Sure, but I'm wary of cases where the actual timestamp of the data should matter in the split (which IMO it should), and not the mere count of the rows. I don't think we're going to handle the timestamps anytime soon, are we?

[2019-07-23 12:16] oskar-j commented on #8583
Unfortunately, the error still occurs in Scikit-Learn `0.21.2`

[2019-07-23 12:34] jeremiedbb commented on #8583
The fix has been merged in master a few days ago. It's not part of any release yet. It should be in both 0.20.4 and 0.21.3 incoming releases

[2019-07-23 12:58] alexitkes opened #14447 "Can GridSearchCV.best_estimator_ be a dictionary?"
According to GridSearchCV docstring,

[code]

But actually it seems to be always a single estimator if present. In case of multiple scorers, only the score specified by `refit` parameter is used to fit the best estimator. I think the `best_estimator_` type should be changed to estimator only or explained better if I am wrong.

[2019-07-23 13:03] adrinjalali commented on #14331
I haven't read the HDBSCAN's paper in detail, but as I understand, it's not strictly a superset of OPTICS, but it seems the community has accepted that it's a better one compare to OPTICS.

I don't think it'd be too hard to refactor the code so that both algorithms can use the core part.

[2019-07-23 13:10] lmcinnes commented on #14331
HDBSCAN and OPTICS share the same computational core (though HDBSCAN is a little more general); the post-processing can be a little different. I do think you want to look to re-use/integrate the core code if possible to improve stability, debugging, and maintenance.

[2019-07-23 13:42] jnothman commented on #14447
I think you're right. This is a relic of a version of multi-metric scoring
that was rejected.

[2019-07-23 14:16] nbokulich commented on #14422
**UPDATE**: replacing the estimator with `RandomForestRegressor` leads to consistent results on both Mac and Linux systems. Perhaps the issue is inconsistency with `LinearSVR`, not with `RFECV`? No warnings are being raised during execution. Is this inconsistent behavior expected with `LinearSVR`?

[2019-07-23 15:16] #14447 closed

[2019-07-23 15:22] amueller commented on #14422
Can you compare a single run of LinearSVR and compare the coefficients?
It's not expected that the results are different but it's also not very surprising.
Both are 64 bit machines. If one was 32bit we'd expect different results.
Numpy and scipy versions don't match, which could make a difference.

[2019-07-23 15:35] lobpcg commented on #11441
@benbo can this issue thus be closed?

[2019-07-23 15:39] amueller opened #14449 "NEP on CPython version dependency"
See https://github.com/numpy/numpy/pull/14086#issue-300308773

Thomas Caswell has proposed a time-based cycle for supported CPython versions in the scipy ecosystem.

This is in contrast to our current (somewhat) Ubuntu-based policy.
I think it's a good idea and it would be nice to adopt this across the ecosystem.

[2019-07-23 15:46] NicolasHug commented on #14306
@SmirnovEgorRu may I ask how you came to this conclusion? What tools did you use?

Did you also make sure to initialize the arrays to zero when `compute_histogram_brute` is called? Else the fast training time might just be due to histogram values being super random and split-points being essentially wrong.

[2019-07-23 15:50] benbo commented on #11441
Well, the implementation does not correspond to the papers that are cited, I'm not sure if there is a reference for the embedding that `spectral_embedding` returns and why it makes sense.
However, while the results obtained by using the actual solution to the relaxed Ncut problem (H=D^-1/2 T) are different from what the sklearn implementation returns (H=DT), the sklearn implementation of Spectral

[2019-07-23 16:01] adrinjalali commented on #14449
Awesome!

[2019-07-23 16:09] amueller commented on #11441
I'm confused. von Luxburg describes the algorithm by Shi and Malik as follows:
![image](https://user-images.githubusercontent.com/449558/61728183-b6554880-ad42-11e9-9ef0-de6f979f1689.png)

That's what we're doing, right?

[2019-07-23 16:14] lobpcg commented on #11441
funny how a small comment can rejuvenate a seemingly dead issue :-)

[2019-07-23 16:17] amueller commented on #11441
oh wait, it's about using the normalized vs unnormalized laplacian. Doesn't our ``spectral_embedding`` support both?
I think there were many discussions about this, also see #5818.

[2019-07-23 16:36] nbokulich commented on #14422
Thanks for the suggestion @amueller .

See the report below. The coefficients differ.

I am now creating an identical conda environment on both systems and am confirming that scipy and numpy versions match
[code]

and the test results:
[code]

And the results on linux (everything is identical except for the coefficients):
[code]

Small differences, but different nevertheless. Why do you say this i

[2019-07-23 17:11] benbo commented on #11441
It's been a while so I'm trying to remember what confused me. The `spectral_clustering ` function calls `spectral_embedding` with `norm_laplacian=True` by default . That means that the Laplacian obtained inside `spectral_embedding`  when calling `laplacian, dd = csgraph_laplacian adjacency, normed=norm_laplacian,return_diag=True) ` is normalized (here I'm not even sure if this obtains the symmetri

[2019-07-23 18:10] lobpcg commented on #11441
There are several scenaria  in principle possible:

I) Simple: do NOT use normalized Laplacian at all, i.e. solve Lx = lambda x and use the eigenvectors x of L

II) use the normalized Laplacian at all, i.e. solve Lu = lambda Du and use the eigenvectors u, there are options:

1. input both matrices L and D into an eigensolver (e.g., lobpcg) - may be not a good idea since in LOBPCG/AMG current imple

[2019-07-23 18:16] amueller commented on #14422
It's not surprising for two reasons: numeric libraries can have different implementations across systems and random numbers can behave differently across systems.
Does the result change if you change the random seed?
This random state is passed to the C level as a seed.

Decreasing the tolerance could make the results more similar. Generally I wouldn't worry too much about it.

[2019-07-23 18:24] nbokulich commented on #14422
If you are not worried, neither am I. Closing out this issue.

Yes

Decreasing `tol` appears to make the results even more dissimilar between systems, but again if you are unconcerned then so am I.

Thanks @amueller !

[2019-07-23 18:24] #14422 closed

[2019-07-23 18:32] chnorn commented on #3702
This would be super useful!

[2019-07-23 18:45] benbo commented on #11441
Thanks @lobpcg. So does `csgraph_laplacian` with normed=True return the symmetric normalized laplacian L_sym = D^-1/2 L D^-1/2 ?  And in `spectral_embedding ` we then solve L_sym u = lambda Du ? Or L_sym u = lambda u ?

[2019-07-23 18:52] camilaagw commented on #13609
After taking a deeper look at the problem, the problem is not constant features. The problem is that the first column of the target (yy) contains only zeros. For instance, this case will work (constant features and some zero columns in the target that are not the first column):
[code]

But this case won't (the first  column in the target contains only zeros):
[code]

This is because the first step

[2019-07-23 19:34] jyu-theartofml opened #14451 "Error running pip install --editable ."
I got this error running pip install --editable . , is it the version of Scikit-learn I'm using that's causing the problem?
[code]

[2019-07-23 19:39] jeremiedbb commented on #14451
if you are on mac OS, please follow the instructions here to enable OpenMP support:
https://scikit-learn.org/dev/developers/advanced_installation.html

if you want to build without OpenMP support:
SKLEARN_NO_OPENMP=TRUE pip install -e .

[2019-07-23 20:14] alexitkes opened #14452 "Parameter documentation for linear models"
The documentation for the `alphas` parameter for `RidgeCV` lacks the default value that is defined in constructor of parent class and may be hard to guess. Also it is said to be a Numpy array, while list/ tuple also can be passed (the default value is a tuple).

Some more linear models also lack default value documentation, e.g. alpha and fit_intercept fo RidgeClassifier, so I can also fix them to

[2019-07-23 20:14] thomasjpfan commented on #14404
Looking over https://github.com/scikit-learn/scikit-learn/pull/12356#issuecomment-430851891 where @jnothman stated:

"default=None" helpful when the semantics of "None" are unclear. I would
rather a descriptive "by default, ...."

I agree `default=None` is not useful, just like how `optional` is not useful. But I think we should include `default=None` for consistency. In the parameter description,

[2019-07-23 21:06] amueller commented on #14452
Feel free to send a PR!

[2019-07-23 21:11] amueller commented on #1626
@Borda you can also just set ``n_iter`` to 1 and do a for-loop around it. That's equivalent to early stopping. The only issue is that it's going to be serial, which is the issue with early stopping. really you want an asynchronous architecture that stops as soon as one of the jobs is good enough. If the jobs take reasonably similar amounts of time you can just do ``n_iter=n_cpus`` though and run a

[2019-07-23 21:29] arpanchowdhry commented on #14452
@alexitkes Hi Alex, I would like to help. Let me know if you would like to divide and conquer this task or you are going to improve the documentation for all the models that you listed?

[2019-07-23 21:37] Borda commented on #1626
it depends if I set `n_iter=n_cpus` in how many jobs? I meant that if one search is good enough you just do not start any other and finish the actually running, then you take the most from the result... So not necessary something very complicated with async. Yes, I can write own top-level for loop for train-test cross-validation and evaluate quality... I just wanted to open such a question if also

[2019-07-24 01:12] PedroGFonseca commented on #10063
Not sure if this helps, but I've been dealing with what seems to be the same, and have isolated the problem to the `clone` method, used [here](https://github.com/scikit-learn/scikit-learn/blob/7813f7efb/sklearn/model_selection/_validation.py#L779) inside of `cross_val_predict` and [here](https://github.com/scikit-learn/scikit-learn/blob/7813f7efb/sklearn/model_selection/_validation.py#L227) inside

[2019-07-24 01:46] #14283 closed

[2019-07-24 02:24] jnothman commented on #10063
I'm not sure it's relevant to the current issue, but you could certainly
open a new issue with a complete, reproducible example.

[2019-07-24 02:58] alexitkes commented on #14452
Already done much for Ridge, RidgeCV and RidgeClassifier.
@arpanchowdhry Well, documentation for Lasso, ElasticNet and ElasticNetCV also seems to lack default parameter values.

[2019-07-24 05:22] arpanchowdhry commented on #14452
@alexitkes Thanks. Let me take a look at these three models. Also since this is my first issue, I will take a look at your changes for guidance.

[2019-07-24 07:10] #9943 closed

[2019-07-24 07:13] Shanmugapriya001 commented on #8869
from sklearn.feature_extraction.text import TfidfVectorizer
X_train='Hello world'
vec = TfidfVectorizer(analyzer='word', stop_words = "english", lowercase = True)
vec .fit_transform(X_train)
print(vec.vocabulary_)

[2019-07-24 07:24] rth commented on #8869
@Shanmugapriya001 `X` needs to be a iterable (e.g. list) of strings, not a string. If you pass a string, it will treat each character as a document, which then will result in an empty vocabulary because words  shorter that 2 char are ignored.

[2019-07-24 08:44] rth commented on #14117
Just wanted to mention that IMO warnings should not be removed from examples at all cost. Sometimes it's OK to have warnings in examples.

For instance, if a given warnings yields a `ConvergenceWarning` and it's difficult to address it either by increasing the number or iterations or the tolerance (assuming that could happen), I would rather it was left there as an illustration that the model hasn

[2019-07-24 09:25] PedroGFonseca commented on #10063
You are right, I tried it on the AmesHousing example and did not reproduce. Will open a separate one.

[2019-07-24 10:56] adrinjalali commented on #14117
That's why I want the very specific warnings to be caught and not all of them. The user would then realize that the model is not converging if the warning is caught and there's a comment in the code. I don't think the purpose of any of the examples we have is to show that some models don't converge. The fact that they don't, is a side effect, not the purpose of the example. Also, ideally we'd actu

[2019-07-24 11:02] #14394 closed

[2019-07-24 11:26] jnothman commented on #12308
I'm confused by your notion of ranking. I'm pretty sure ranking as far as our metrics are concerned is about having the estimator assign a score to each candidate label, and for the ranking to then be implied, not for the rank to be provided necessarily as an integer.

Not sure exactly what you're looking for here. But yes, it can be hard to know if a particular metric is being fully covered by th

[2019-07-24 11:52] rth commented on #14117
No, but some models don't converge in real applications. Why hide from users what it would look like?

In what way is that better than just leaving the warning in the example? It adds the complexity to the example due to warning filters and hides things from the user by creating an artificially smooth experience.

If it was library or user code in production I agree that all warnings need to be ad

[2019-07-24 11:54] rth commented on #14117
Also one need to maintain comments in the code that get out of date. While that's not the case with runtime warnings.

[2019-07-24 13:04] glemaitre opened #14457 "Need for conversion with SAG"
Running the following code snippet will lead to an error:

[code]

[code]

I am wondering if we are not to strict here, and we should include a `check_array` since that `ArrayData` will expect a C-contiguous numpy array.

[2019-07-24 13:16] glemaitre commented on #14457
We have 2 solutions:

* make `ArrayDataset**` more permissive to accept C and F arrays and internally call `check_array` in `__cninit__`
* make a `check_array` in the `make_dataset` function

What's best?

[2019-07-24 13:20] rth commented on #14457
I guess the problem here is not that it's F ordered, but that it's non contiguous.

+1 to add `check_array` in the make_dataset function

[2019-07-24 13:23] jeremiedbb commented on #14457
Actually, `X[:, [1,3,4]]` is F contiguous
But `X[:, ::2]` isn't so I'm also +1 for check_array

[2019-07-24 13:28] rth commented on #14457
Also it looks like `Ridge(solver="sag")` is not run in common tests, as otherwise it would fail with another reason,
<details>

[code]

<details>

Wow, yes, I wasn't aware of that.

[2019-07-24 14:35] benjamin-ny commented on #14061
I've also worked on this in the past, though it is a little hacky:

https://nbviewer.jupyter.org/github/ottogroup/dstoolbox/blob/master/notebooks/Examples_visualization.ipynb

I believe it's helpful to show the name of the step, e.g. to better spot which hyper-parameters to tune.

[2019-07-24 14:51] mitar commented on #14061
I have made pipeline visualizer for one other project here: https://gitlab.com/datadrivendiscovery/d3m/merge_requests/283 it might be repurposed for skleran as well.

[2019-07-24 15:12] amueller commented on #8683
Fixed by #8022

[2019-07-24 15:13] #8683 closed

[2019-07-24 15:14] amueller commented on #9050
This is not currently possible since the default parameters make assumptions on the number of features, in particular in ``SelectKBest`` and ``GaussianRandomProjection``. I'm not entirely sure if this is something we should fix or not.

[2019-07-24 15:51] amueller commented on #14061
@mitar that looks pretty nice :)

[2019-07-24 15:52] amueller commented on #14061
@benjamin-ny we would prefer not to use graphviz as it's quite tricky to install and/or compile.

[2019-07-24 15:55] rth commented on #12676
If anyone who encountered this test failure  could corroborate that https://github.com/scikit-learn/scikit-learn/pull/14460 fixes it that would be very helpful. Thanks!

[2019-07-24 17:23] #11743 closed

[2019-07-24 17:43] juanluislm commented on #14440
Hi @jnothman, sorry for the late response! I am not sure how many people in the industry use it. I started using it because of interpretability

[2019-07-24 18:38] amueller commented on #4450
@venkyyuvy what is your goal?

[2019-07-24 19:01] mitar commented on #14061
If there is interest, I could try to extract the layout engine out into a stand-alone package. It is pure Python.

[2019-07-24 19:44] PedroGFonseca opened #14461 "Cloning custom transform replaces values in __init__ dictionary"
#### Description

Let us say we have a custom transform `A` that has some arguments. When the `A` is instantiated, these arguments are set in the init.

When we clone `A` (as happens in `cross_val_score`, for example), the arguments get copied successfully.

However, if the arguments are sent to a structure such as a dictionary, the clone replaces them with None.

In cases where None does not caus

[2019-07-24 20:17] venkyyuvy commented on #4450
By default the `classes_` are sorted in `LabelEncoder`, if there is a option to use the order in which they appear in the data, it might useful for some scenarios.

[code]

[2019-07-24 20:31] amueller commented on #4450
My question was: in which scenario would that be useful? And why in the LabelEncoder?
I could see this maybe being interesting in the OrdinalEncoder, but I'd also like to see a specific usage example.

[2019-07-24 21:52] jnothman commented on #14461
`__init__` should only set the attributes, not modify or validate the
inputs. See our documentation. MyTransformA would not pass check_estimator.

[2019-07-24 22:11] lobpcg commented on #11441
Please see my answers below:

It's my case  (II.2.b), so  L_sym u = lambda u

No, X does not contain D. For generalized solve with `lobpcg' you need `lobpcg(laplacian, X, D, ...`
see https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.lobpcg.html

Yes. In fact one can choose D independently of L, and D does not even have to be diagonal - that will still produce some good clust

[2019-07-24 22:43] benbo commented on #11441
Thanks so much for taking the time @lobpcg. `X[:, 0] = dd.ravel()` is what I had referred as X containing D to but looking at the lobpcg documentation it makes sense now. I also had not previously realized that dd is the square roots of vertex degrees when normed=True.

[2019-07-24 22:45] PedroGFonseca commented on #14461
If you mean that a Pipeline would not fit_transform with this issue, you are wrong. I ran into this problem with an end-to-end pipeline that kept returning random probas because of this issue.

This can (and does) cause silent errors that make Pipelines produce incorrect results in cross validation, while producing good results when fit directly.

I can produce an end-to-end example instead of a m

[2019-07-24 22:51] GaelVaroquaux commented on #11441
Could one of you issue a pull request adding a comment that makes this
clear to following people reading the code, please.

This code is clearly hard to follow (I might be to blame).

[2019-07-24 22:59] benbo commented on #11441
Yes I will do that.

[2019-07-24 23:15] GaelVaroquaux commented on #11441
Thank you!

[2019-07-24 23:57] jnothman commented on #14461
This is clearly in violation of how we require the constructor to be
defined. It will not pass check_estimator.

I admit that we could be more verbose when something goes wrong here. As
far as I can tell, the issue is in get_params defaulting a parameter value
to None (
https://github.com/scikit-learn/scikit-learn/blob/7813f7efb5b2012412888b69e73d76f2df2b50b6/sklearn/base.py#L193).
I'll open a fix

[2019-07-25 03:54] #14418 closed

[2019-07-25 05:19] mdomarsaleem commented on #14312
Working on:

- [ ] BaggingClassifier, [n_features_, oob_decision_function_, oob_score_]
- [ ] BaggingRegressor, [base_estimator_, n_features_, oob_prediction_, oob_score_]
- [ ] AdaBoostClassifier, [base_estimator_]
- [ ] AdaBoostRegressor, [base_estimator_]

[2019-07-25 05:30] pvsagar commented on #14312
Working on:

 CountVectorizer, [stop_words_, vocabulary_]
 DictVectorizer, [feature_names_, vocabulary_]

[2019-07-25 05:53] changyunke opened #14467 "whether the tool of iforest with relatively mass can be included?"
whether the tool of iforest with relatively mass can be included?

[2019-07-25 05:54] #12676 closed

[2019-07-25 06:16] agramfort commented on #13211
I am now not so sure there is no bug... +1 to take a closer look.

I am pretty sure there is some logic somewhere to get the classes_ from the
C++ libsvm structure.

[2019-07-25 06:17] agramfort commented on #14317
can you suggest an improvement / a fix of the documentation with a pull
request? thanks

[2019-07-25 08:18] qinhanmin2014 opened #14468 "Support Mini-Batch gradient descent"
Currently, we support batch gradient descent (e.g., LogisticRegression), and stochastic gradient descent (e.g., ``SGDClassifier/SGDRegressor``), but we do not support Mini-Batch gradient descent (``SGDClassifier/SGDRegressor.partial_fit`` is not Mini-Batch gradient descent).
Mini-Batch gradient descent can support partial_fit (compared with batch gradient descent) and can sometime converge to bett

[2019-07-25 10:45] Cartman0 commented on #14317
also maybe need to improve / fix source code's comments.

i plan to fix term "EM" -> "Iterative method based-on SVD".

can i pull request about the [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.FactorAnalysis.html) and source code?

[2019-07-25 10:51] venkyyuvy commented on #4450
Let us consider a binary classification problem with two classes being `42313,` `10291` (may be these are some codes coming out of a system) as the Target variable. The problem might be to identify the positive class `10291`. Hence the convention / preferable way could be to have `10291` as `1`.

This can becomes convenient when computing metrics (**auc_roc**, **confusion matrix,** etc.).

Another

[2019-07-25 11:08] jnothman commented on #4450
auc_roc is identical when the labels are inverted. confusion_matrix accepts
string labels.

[2019-07-25 11:37] vinidixit commented on #14351
@qinhanmin2014 Hey! I would really like to work on this issue. Please let me know if you've room for me?

[2019-07-25 11:50] jnothman commented on #14383
I think this is a duplicate of #13773 actually.

[2019-07-25 11:51] jnothman commented on #13773
I think it would be sensible to enable by default, but have the ability to disable it.

[2019-07-25 11:58] Olli2401 opened #14469 "Does SGDClassifier's partial_fit suffer from catastrophic forgetting?"
Hello,

I am trying to generate a logistic regression model using SGDClassifier, which should be pre-trained on a large dataset, and then learn new data incrementally/online.
I am using SGDClassifier's fit() and partial_fit() methods for the required logic.

My question is, as I cannot find anything related to this topic in the documentation:
**Does SGDClassifier (Logistic regression in this case)

[2019-07-25 12:22] qinhanmin2014 commented on #14351
you can manually go through all the API changes and search the repo.

[2019-07-25 13:24] JenniferHemmerich opened #14472 "Return values of non converged affinity propagation clustering"
The affinity propagation Documentation states:
"When the algorithm does not converge, it returns an empty array as cluster_center_indices and -1 as label for each training sample."

Example:
[code]
I would expect that the clustering here (which does not converge) prints first an empty List and then [-1,-1,-1], however, I get [2] as cluster center and [0,0,0] as cluster labels.
The only way I curre

[2019-07-25 13:49] #14199 closed

[2019-07-25 14:09] venkyyuvy commented on #4450
Sorry, I am gave a wrong example of auc_roc (Thanks for pointing it out). I should have mentioned something like `precision_score`, `f1-score`, etc. My intention was to get the sensible ordering of the target variable.

I was not aware of the `labels` param in all the metrics. Now, I understand it is a design choice that ordering would be done in metrics separately. instead before feeding into a e

[2019-07-25 14:17] qinhanmin2014 opened #14473 "Inconsistency intercept_ shape between regressors"
Sometimes we return float, sometimes we return numpy array. Seems unfriendly, since numpy array is different from float in many ways.
[code]
[code]
or maybe it's trivial and we can ignore it?

[2019-07-25 14:36] JackMiranda commented on #14383
Good golly, you're right!

[2019-07-25 14:36] #14383 closed

[2019-07-25 14:37] adrinjalali commented on #14467
Please elaborate, and provide references.

[2019-07-25 14:37] JackMiranda commented on #13773
As someone who was confused enough by the current behavior to file a bug report, I too am in favor of making the new behavior a toggleable default!

[2019-07-25 15:05] amueller commented on #4450
I think when using ``cross_validation`` with ``scoring`` actually having control over what the positive label is is useful. However, my current preferred solution to that is to pass ``y == pos_label`` instead of y.

I think there is an argument to be made to order the targets in some way for making it easier to read a confusion matrix or something like that, but I feel we should leave that to the

[2019-07-25 15:21] thomasjpfan commented on #14468
For those who want to work on this, here is a nice reference on SGD methods: https://sebastianraschka.com/faq/docs/sgd-methods.html

[2019-07-25 15:40] amueller commented on #14468
We don't have batch gradient descent in LogisticRegression afaik because it's a terrible solver.
I'm not sure if there's a reason to do mini-batches for SGDClassifier. My intuition would be that it's going to be strictly worse.

[2019-07-25 15:46] thomasjpfan commented on #14404
Everytime we use strings we should list the options, we most likely do not need to denote it as string:

[code]

[2019-07-25 16:15] vinidixit commented on #14452
@alexitkes Hi Alex! Are you still looking for help? I'm interested for contributing in this issue.

[2019-07-25 16:17] vinidixit commented on #14325
@qinhanmin2014 Hi! Are you still looking for help? I'm interested in contributing to this issue. Please let me know in case you've room.

[2019-07-25 16:18] vinidixit commented on #14311
@amueller Hi! Are you still looking for help? I'm interested in contributing to this issue.

[2019-07-25 16:20] vinidixit commented on #14228
@NicolasHug Hi! Are you still looking for help? I'm interested in contributing to this issue. Please let me know in case you've room.

[2019-07-25 17:09] NicolasHug commented on #14228
Yes feel free to submit a PR for some estimators

[2019-07-25 17:21] arpanchowdhry commented on #14228
@vinidixit Please go ahead.

[2019-07-25 18:10] PedroGFonseca commented on #14461
Thanks @jnhansen , it may be a small fix but it could save some devs a lot of weird debugging hours :)

[2019-07-25 18:13] amueller commented on #14461
@PedroGFonseca the main fix is to encourage users to run ``check_estimator`` on their estimators. Right now that's still a bit cumbersome but we're working on makint it better.

[2019-07-25 18:41] alexitkes commented on #14452
@vinidixit Sure, there is still some work to do. For example, default values for some parameters of `PassiveAggressiveClassifier` and `PassiveAggressiveRegressor` are not documented and default value for `PassiveAggressiveClassifier.fit_intercept` is documented to be False while actually set to True.

[2019-07-25 19:57] h6197627 commented on #12676
@rth, I can confirm that the test is not failing anymore.
Thanks for fixing it!

[2019-07-25 21:40] #14403 closed

[2019-07-26 00:35] jcusick13 commented on #14325
@vinidixit I've got a PR open now that I need to finish up some benchmarking for. I'm hoping to have it finalized this weekend. I'll reach out to you if I can't make time for it though.

[2019-07-26 01:12] heckeop commented on #14444
I'll do a pull request over the weekend

[2019-07-26 01:50] jnothman commented on #13773
Would you like to submit a fix as a pull request, @JackMiranda?

[2019-07-26 01:52] jnothman commented on #13773
Or is @Pacman1984 still working on it?

[2019-07-26 02:42] zhenyu-zhou commented on #6557
@appleyuchi  Thanks for sharing! My concern is that, even as a Chinese, it's still pretty hard for me to follow the code. I guess it is better to have the code more modularized so that others can apply your implementation on any data sets.

[2019-07-26 03:29] appleyuchi commented on #6557
@zhenyu-zhou
Because almost all of you don't ever read the book《classification and regression trees》carefully.

The author of this book has already passed away so you can not contact him for questions.

The defect of this book is discussed in
http://www.dcc.fc.up.pt/~ltorgo/PhD/th4.pdf
or
http://www.doc88.com/p-6445227043649.html

which point out that CCP algorithm-cross validation  will fail for

[2019-07-26 03:30] qinhanmin2014 commented on #14468
default solver lbfgs can be regarded as batch gradient descent?

Could you please provide more details/ references? thanks.

[2019-07-26 03:31] qinhanmin2014 commented on #14444
PRs are always welcomed, but I'm wondering whether there's enough consensus.

[2019-07-26 03:58] zhenyu-zhou commented on #6557
@appleyuchi

You are ABSOLUTELY WRONG. To make it short, I just have one question for you: do you provide a clean API, like sklearn did?

You shouldn't expect everyone to read every detail of your code before using it, and blame others for that, if you treat your code as a library as sklearn. That's one of the reasons they reject the code. Consider it when you are using other libraries, take sklea

[2019-07-26 05:03] appleyuchi commented on #6557
@zhenyu-zhou

you misunderstand it ,what I said is material not code

[2019-07-26 05:32] jnothman commented on #14444
I'm happy with this.

[2019-07-26 07:46] azrdev commented on #4450
If I'm not mistaken the scenario from #13631 applies here, i.e. an estimator which treats the classes differently, thus the user wants to specify explicitly which class should be the positive one.

[2019-07-26 07:48] alexitkes opened #14476 "Feature request: Let GridSearchCV optimize median or 25% quantile of test score over splits instead of mean"
Possibly a naive idea, but I think it may be interesting.

GridSearchCV normally finds the parameter combination giving maximum mean score over the train/validation splits, but the mean value is notalways the most relevant aggregated value. If some values are considerably greater/less than most values, median value may be more valueable than mean. On may prefer a model with higher probability of a

[2019-07-26 10:12] qinhanmin2014 commented on #14444
Actually the implementation here is simple, the issue is whether we should consider class prior by default. If we consider class prior by default, we'll change the behavior of current model when n_classes > 1 (according to the paper, the performance of CNB is likely to decrease, like MNB). If we do not, we'll change the behavior of current model when n_classes = 1 and we'll need to deprecate the d

[2019-07-26 13:26] qinhanmin2014 commented on #12870
Somehow it works now.

[2019-07-26 13:26] #12870 closed

[2019-07-26 14:57] #14457 closed

[2019-07-26 15:27] jeremiedbb opened #14481 "Read-only X + copy=False Fails for most estimators"
calling fit or transform fails for most estimators having a copy or copy_x or copy_X parameter (see #14480).

We could
- raise an error with a more informative message.
- emit a warning and copy the data
- copy data silently and say in the docstring that even if copy=False a copy will still be made if X is read-only (we already do that for other reasons)

WDYT ?

[2019-07-26 15:40] rth commented on #14481
OK, but that's kind of an expected behavior though? `copy=False` means inplace operations (maybe we should document that better)
[code]
fails, and so I would expect any estimator that attempts to do inplace operation on read-only data. I think the error raised by numpy,
[code]
is enough.

Rather if an estimator doesn't fail, it probably means that's it's doing unnecessary copies https://github.com

[2019-07-26 15:49] jeremiedbb commented on #14481
I did expect a failure indeed, but I expected an error message containing `X is read-only` and `copy=False`.

In some cases we force a copy even if copy=False (e.g. not suitable memory layout). Why not do it in that case too ?

or it actually does not perform any operation inplace and the parameter is useless :)

[2019-07-26 16:12] heckeop commented on #14444
Don't all of the other NB classifiers respect class priors by default?

[2019-07-26 16:36] amueller commented on #14404
I agree with @thomasjpfan's proposal. I think the best way would be to get a consensus at #12356 because that's an actually tangible change.

[2019-07-26 16:49] amueller opened #14483 "Add common test for huge sparse matrix"
I think we should add a common test that checks that results with a giant sparse matrix are reasonable, to ensure we don't make them dense anywhere.
It should be pretty easy to make sure the nominal shape of the sparse matrix in the sparse matrix test is really big, so that any densifying operation would make the tests time out.

[2019-07-26 18:08] amueller commented on #14481
I think we should really define the semantics of what ``copy`` means first.
I think the intended meaning is "it's ok to destroy the input array" (and so it should be called inplace arguably lol).

I don't think forcing inplace makes sense in a lot of settings, does it?
So you're saying right now in some places the meaning is "error if we can't do in-place operations". I think that meaning is usele

[2019-07-26 18:26] ezyang opened #14485 "ImportError: dlopen: cannot load any more object with static TLS with torch built with gcc 5.5"
I am not sure if this is a PyTorch bug, a scikit-learn bug or a numba, but this used to work in scikit-learn 0.20.3 and stopped working in the 0.21.0 series, so for now I am going to venture a guess that it is a regression in scikit learn.

When I do the following series of imports (minimized from the original import, which was `import librosa`), loading the following program fails:

[code]

with

[2019-07-26 18:28] amueller commented on #14485
Thanks for the report. How did you build/install sklearn?

[2019-07-26 18:28] ezyang commented on #14485
`pip install scikit-learn`

[2019-07-26 18:29] amueller commented on #14485
Do you have the log for that? Did it build from source or did you install a wheel?

[2019-07-26 18:30] ezyang commented on #14485
[code]

[2019-07-26 19:12] streetr0ck commented on #13228
So still no solution to this problem?
I think that the majority of people who are on this forum and have this problem use the same program in the same tutorial, and I am one of them today.

 I bought a new laptop with an I5 8300H processor, and a GTX 1050 TI MAX-Q, because I thought the problem came from them, but obviously it's not the case.

 If someone has found a solution to this problem I wou

[2019-07-26 19:13] streetr0ck commented on #13228
So still no solution to this problem?
I think that the majority of people who are on this forum and have this problem use the same program in the same tutorial, and I am one of them today.

I bought a new laptop with an I5 8300H processor, and a GTX 1050 TI MAX-Q, because I thought the problem came from them, but obviously it's not the case.

If someone has found a solution to this problem I would

[2019-07-26 20:27] rth commented on #13228
@streetr0ck Which versions of Python, scikit-learn and joblib are you using? https://scikit-learn.org/stable/developers/contributing.html#how-to-make-a-good-bug-report

[2019-07-26 20:40] streetr0ck commented on #13228
@rth i'm using :
Python 3.6.8 |Anaconda, Inc.|
The scikit-learn version is 0.20.3.
The joblib version is 0.13.0.

[2019-07-27 00:21] jyu-theartofml opened #14487 "Unable to import the sklearn packages from local branch repo"
I followed the instruction at this page (https://scikit-learn.org/stable/developers/contributing.html) to download scikit-learn repo to my local computer to create a new function called `NestedCV_GridSearch`. However, when I test run the function, it's not importing it from my local repo directory, I think it's importing from the default Python package `sklearn`. What do I need to do to set the pa

[2019-07-27 00:41] qinhanmin2014 commented on #14444
yes

[2019-07-27 02:53] TomDLT commented on #14469
From the glossary ([partial_fit](https://scikit-learn.org/stable/glossary.html#term-partial-fit)):

It must be noted that ([partial_fit's docstring](https://github.com/scikit-learn/scikit-learn/blob/df1e3fbe86a24dd01d0455ef434f7ea22d0ddba0/sklearn/linear_model/stochastic_gradient.py#L627-L628)):

Indeed, stochastic gradient descent is known to be highly dependent on the learning rate, and a differ

[2019-07-27 02:57] TomDLT commented on #14473
It's not trivial, and it should preferably always be the same.
We could have a common test about it.
But changing it would require a deprecation cycle, and I am not sure it is worth the trouble (for both the developers and the users).

[2019-07-27 02:58] jsadloske commented on #8710
I think they are asking how to do this scenario.

[code]

How do I modify `param_grid` so `max_depth` gets passed to `RandomForestClassifier`?

This is similar to how `VotingClassifier` works, but there the `estimators` parameter takes a tuple so you can give `RandomForestClassifier` a name and reference it in  `param_grid`.

[code]

[2019-07-27 03:00] TomDLT commented on #14487
You need to uninstall scikit-learn on your anaconda environment.
You can make sure it is gone with `conda list | grep scikit-learn` and `pip list | grep scikit-learn` returning nothing.

Then you need to install scikit-learn from your local repo.
From your local directory, run `pip install -e .`.

[2019-07-27 04:19] rfernandezv commented on #13228
@streetr0ck
I was using Spyder and had the problem, but now I run it in Visual Code and the same code worked correctly.

[2019-07-27 08:32] qinhanmin2014 commented on #14473
Which one will you prefer? float seems more natural, but numpy array is consistent with our classifiers.

[2019-07-27 09:11] jnothman commented on #14476
use the refit=callable approach supported since version 0.21.

[2019-07-27 13:33] #14107 closed

[2019-07-27 13:38] qinhanmin2014 commented on #14487
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-07-27 13:38] #14487 closed

[2019-07-27 15:37] jyu-theartofml commented on #14487
Thanks @TomDLT , I will give it a try.

[2019-07-27 17:17] thomasjpfan opened #14491 "MissingIndicator _get_missing_features_info docstring is confusing"
For `_get_missing_features_info`'s docstring:

https://github.com/scikit-learn/scikit-learn/blob/01044877a677910de3b883393b6ccd339e53402f/sklearn/impute/_base.py#L513-L527

1. The `imputer_mask` will always have the shape of `X`.
2. `features_with_missing` will have the shape of either be `n_features` or `n_features_with_missing`.

[2019-07-27 17:23] #14055 closed

[2019-07-27 18:52] alexitkes commented on #14476
Oh, thank you. Sorry, I written this to hastely before explored GridSearchCV really carefully. That's possibly because I also wanted to be able to give such option to RidgeCV where I still didn't find any opportunity.

[2019-07-27 19:06] alexitkes opened #14492 "In case of a callable refit, GridSearchCV returns best_estimator_ and best_parameters_, but not best_score - why?"
In case of a callable object given as `refit_` parameter to `GridSearchCV` constructor, the following things happen.

[code]

So the `best_estimator_` and `best_parameters_` attributes are set properly while there is no `best_score_`. That seems a bit unexpected for me. May it be better to return also the best score for callable refit, or document this behavior more clear?

[2019-07-27 19:59] streetr0ck commented on #13228
@rfernandezv
I had some problems with visual studio code, but after launching the python script, I was able to exploit all the cores. It worked fine.
It's a pity there's no solution on spyder.
Thank you for the help.

[2019-07-27 20:34] pabloinsente commented on #13568
I get the same error (identical pipeline different dataset)

It would awesome if FeatureHasher gets to work within ColumnTransformer
So far the only option that works nicely for categorical features is OneHotEncoder which for any use case above a few dozens or hundreds of categories becomes unpractical

**System:**
Python 2.7.16 :: Anaconda, Inc.

**Machine:**
macOS Mojave, version 10.14.5

**Pyth

[2019-07-27 23:18] jnothman commented on #14492
Apart from anything else, not providing best_score_ allows for us to
possibly support best_score_ being something other than mean in a future
version...

[2019-07-27 23:19] jnothman commented on #14492
And pull requests clarifying the documentation are always welcome.

[2019-07-27 23:20] #14278 closed

[2019-07-28 06:52] jnothman commented on #14476
Can we close this?

[2019-07-28 07:09] alexitkes commented on #14476
Well, I think yes.

[2019-07-28 07:12] #14476 closed

[2019-07-28 08:12] harsh020 commented on #14491
@thomasjpfan Since, I was working on it, I think what is happening is,
1. ` _get_missing_features_info` returns the full boolean array of same size as that of `X` (i.e (n_samples, n_features)) along with the array of the features that were missing (i.e `features_`),
2. and in `transform` and `fit_transform` we checked if the `features` has value - missing-only then we return  mask with missing fea

[2019-07-28 13:28] qdeffense commented on #14452
@alexitkes  It seems like there is also some work to do on Least Angle Regression, I'll would like to work on that if you're not already working on it

[2019-07-28 13:37] #14461 closed

[2019-07-28 13:45] jnothman commented on #14311
@vinidixit there is a pull request at #14324

[2019-07-28 15:15] thomasjpfan commented on #14491
@harsh020 You are correct. Feel free to submit a PR to address this issue!

[2019-07-28 17:22] harsh020 commented on #14491
@thomasjpfan Should I change the return docstring for `transform` and `fit_transform` and add `or (n_samples, n_features_with_missing)` to shape for them too??

[2019-07-28 18:16] mostafahadian commented on #13478
There's also some workaround I used, in order to get the predictions of cross_validate:
I set (return_estimator = True) in cross_validate, and also gave my own KFold instance (cv=my_kfold) as input.
Then I use my own method to predict and aggregate the predictions from different folds:
[code]
So by feeding a kfold instance to the cross_validate method, we will be able to get all the predictions wi

[2019-07-28 18:46] minhsphuc12 opened #14497 "wrong input into entropy function"
https://github.com/scikit-learn/scikit-learn/blob/74ae6a0aa06e14f15039786d18ac56be92c14594/sklearn/metrics/cluster/supervised.py#L751

entropy must be inputed with frequency table of `labels_true` / `labels_pred`, not those array directly.
Example solution
[code]

[2019-07-28 20:24] vasujogani commented on #14497
working on it

[2019-07-28 20:56] Sandy4321 opened #14498 "LogisticRegression : how different dual vs primal"
there is no explanations  in user manual
https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

how different dual vs primal
[code]
it would be great explain what performance/ algorithm difference

my guess you did something great, but people can not use is ...

[2019-07-28 21:30] streetr0ck commented on #13228
@rfernandezv
I'm just curious to know if you had a broken display in the terminal, as shown in the picture attached to this message.

![Capture d’écran (24)](https://user-images.githubusercontent.com/47302636/62013082-f1fa7300-b185-11e9-82e9-10b6b0a33375.png)

[2019-07-28 22:27] jnothman commented on #14497
Are you sure? Our entropy implementation normalises the distribution.

[2019-07-28 23:29] vasujogani commented on #14497
I think you might be right. I just saw entropy using np.unique which I believe would take care of the issue

[2019-07-29 02:39] ksivaman commented on #14498
https://en.wikipedia.org/wiki/Duality_(optimization)

This would give you a good place to start.

[2019-07-29 03:24] #14451 closed

[2019-07-29 06:29] minhsphuc12 commented on #14497
Please consider example
vec_a = np.asarray([0, 1, 2, 0, 3, 4, 5, 1])
stats.entropy(vec_a) #1.6304325826288886

from collections import Counter
freq_table = [x[1] for x in dict(Counter(vec_a)).items()]
stats.entropy(freq_table) #1.7328679513998633

As you can see, vec_a is cluster vector, does not has same length as freq_table.

The issue here is not normalizing the input (same length), but rather

[2019-07-29 08:29] jnothman commented on #14497
We don't use stats.entropy. our entropy does the right thing for this input.

[2019-07-29 08:30] jnothman commented on #14498
Improvements to the documentation are welcome.

[2019-07-29 08:46] minhsphuc12 commented on #14497
Thanks. Last question can you point to the source of used entropy function
here. I can not find it.

On Mon, Jul 29, 2019 at 15:31 Joel Nothman <notifications@github.com> wrote:

--
Sincerely

NGUYEN Minh Phuc (Mr)

Tel: (84) 1 696 111 003

Skype: nasdap1112
Facebook: http://www.facebook.com/minhsphuc12

[2019-07-29 09:05] jnothman commented on #14497
It's defined in the same file

[2019-07-29 09:06] #5419 closed

[2019-07-29 09:10] jeremiedbb commented on #14481
That's also how I interpret it. My understanding was also that `copy=False` means doing a best effort to avoid copies, but copies can still happen if it's unavoidable.

I don't think it's the intended meaning. It looks more like a bug to me. Currently, it fails at the first inplace operation. But for other reasons (than read only array) we force a copy, e.g. unsuitable memory layout.

Yes and and

[2019-07-29 09:20] adrinjalali commented on #14483
I was thinking about the same issue, but I'm not sure if it's easier to check for the time out, or MemoryError.

[2019-07-29 09:25] adrinjalali commented on #13986
@jeremiedbb we probably should fix this one first, and then we would know what to show the user in case of failure in #14481

[2019-07-29 09:33] rth commented on #14014
Closing as likely fixed #14024, please comment if you still encounter this issue.

[2019-07-29 09:33] #14014 closed

[2019-07-29 10:05] GuillemGSubies opened #14501 "Copy param ignored in TfidfVectorizer"
I was playing with vectorizers and I found this:

https://github.com/scikit-learn/scikit-learn/blob/ae16319626e2ca6ca0e54d4a5b83f73f817232aa/sklearn/feature_extraction/text.py#L1669

However that parameter is not used later in the method.

Here `copy=False` is used:

https://github.com/scikit-learn/scikit-learn/blob/ae16319626e2ca6ca0e54d4a5b83f73f817232aa/sklearn/feature_extraction/text.py#L1692

[2019-07-29 10:11] minhsphuc12 commented on #14497
Thanks problem solved. Root cause is I do not aware that averaging method used in my sklearn version is ‘max’, instead of ‘arithmetic’ of 0.22.

[2019-07-29 11:37] rth commented on #14483
It would be an interesting test but it assumes that sparse operation have no dependency on `n_features` only on the number of non null elements (`nnz`) which is not the case in real applications. For instance, something as simple as `scipy.sparse.rand` regrettably scales as `O(n_features)` and would fail such test (https://github.com/scipy/scipy/issues/9699). So a failure could mean a poor impleme

[2019-07-29 11:44] rth commented on #14501
Indeed, as far as I can tell, the `copy` parameter can be deprecated and marked for removal in 2 versions in `TfidfVectorizer`. We never modify the string input inplace.

The only place it's useful in vectoirizers is `TfidfTransformer`.

Would you like to make a PR @GuillemGSubies ?

[2019-07-29 11:49] rth commented on #14483
To reformulate, if a contributor wants to look into it, a first step could be to add such common tests and report results in this issue. As to whether we want such common tests permanently in the code base will depend on the obtained results.

[2019-07-29 11:55] GuillemGSubies commented on #14501
I can give it a try

[2019-07-29 12:19] basnijholt commented on #13396
In the [Adaptive documentation](https://adaptive.readthedocs.io) we use [Juypter-sphinx](https://github.com/jupyter-widgets/jupyter-sphinx) to execute code.

Whenever there is a warning, Jupyter-sphinx will raise an error. This result in [failed builds](https://readthedocs.org/projects/adaptive/builds/9438355/).

Unfortunately, because of this issue here, filtering out the warnings (like done [her

[2019-07-29 12:23] basnijholt commented on #9857
In the [Adaptive documentation](https://adaptive.readthedocs.io) we use [Juypter-sphinx](https://github.com/jupyter-widgets/jupyter-sphinx) to execute code.

Whenever there is a warning, Jupyter-sphinx will raise an error. This result in [failed builds](https://readthedocs.org/projects/adaptive/builds/9438355/).

Unfortunately, because of this issue here, filtering out the warnings (like done [her

[2019-07-29 12:53] minhsphuc12 commented on #14497
Although we would need to update the documentation example.
![image](https://user-images.githubusercontent.com/7339570/62049952-858d7b80-b23a-11e9-9f7b-f7439d67daea.png)

[2019-07-29 13:38] #13173 closed

[2019-07-29 13:48] NicolasHug opened #14503 "Turn on early stopping by default in HistGradientBoosting estimators"
Following #14303, let's turn on early-stopping by default in `HistGradientBoostingRegressor` and `HistGradientBoostingClassifier`.

TODO:

- [ ]  change default
- [ ] add small test
- [ ] update tests that might fail due to default change
- [ ] add short sentence in docstring indicating that early stopping is enabled by default.

Maybe @johannfaouzi would like to give it a try?

[2019-07-29 13:49] NicolasHug commented on #14303
closing in favor of https://github.com/scikit-learn/scikit-learn/issues/14503 :)

[2019-07-29 13:49] #14303 closed

[2019-07-29 14:11] mbillingr opened #14504 "Cluster centers in the K-Means vs MiniBatchKMeans example are sorted wrongly"
#### Description
The code to align cluster centers in [Comparison of the K-Means and MiniBatchKMeans clustering algorithms](https://scikit-learn.org/stable/auto_examples/cluster/plot_mini_batch_kmeans.html#sphx-glr-auto-examples-cluster-plot-mini-batch-kmeans-py) uses `np.sort` to sort the centers, which mixes up x and y coordinates.

This came up on [StackOverflow](https://stackoverflow.com/q/572

[2019-07-29 14:16] maverick100 commented on #14452
@alexitkes I have done the documentation and made a PR.please check and reply.Thank you.

[2019-07-29 14:26] jeremiedbb commented on #14504
You're right, np.sort is not suitable for what is expected here.

Would you like to submit a PR to fix this ?

[2019-07-29 14:29] thomasjpfan commented on #14491
@harsh020 That sounds good.

[2019-07-29 14:35] johannfaouzi commented on #14503
Yes, for sure.

[2019-07-29 14:43] mbillingr commented on #14504
@jeremiedbb Sure. Just give me a while to get up to speed... GitHub tells me it's been a few years since my last contribution here :)

[2019-07-29 15:07] adrinjalali commented on #14449
Do we want to have a similar discussion about versions of numpy and scipy we support?

[2019-07-29 15:14] amueller commented on #14449
Yes, I suggested that. I'm not sure if it's part of that NEP. But the suggestion we discussed is to use a time-based window for that as well.

[2019-07-29 15:16] amueller commented on #14504
looks like maybe just removing the sort should do it, right?

[2019-07-29 16:04] mbillingr commented on #14504
@amueller yep, that plus rearranging the statements a bit so that the cluster assignments are performed on the re-ordered clusters. This would let us replace all occurrences of `order[k]` with `k` and simplify the code a bit.

[2019-07-29 16:56] maverick100 commented on #13117
@adrinjalali

  | X : {array-like}, shape (n_samples, n_features) Training data. Pass directly as Fortran-contiguous data to avoid unnecessary memory duplication. If y is mono-output, X can be sparse
-- | --

His y_train  might not be mono output.Or is this issue solved ?

[2019-07-29 18:55] adrinjalali commented on #13117
@maverick100 not really, please refer to https://github.com/scikit-learn/scikit-learn/pull/13131 for a potential solution.

[2019-07-29 19:13] Sandy4321 commented on #14498
so you do not have example for the same problem solved by both methods to see difference?

[2019-07-29 19:58] amueller commented on #14498
I'm not sure I understand your question @Sandy4321. The logistic regression model is an example for the same problem being solved by different methods.

There's a table explaining the capabilities of the different solvers in the user guide:
https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression

Maybe you can clarify your question, but it seems more like a usage question tha

[2019-07-29 19:58] #14498 closed

[2019-07-29 20:09] amueller commented on #14501
go for it!

[2019-07-29 20:11] amueller commented on #14483
@rth some parts of sklearn, like ``HashingVectorizer`` assume that we're not scaling with ``O(n_features)``.
But I agree with your concerns.

[2019-07-29 20:25] amueller commented on #13986
I hadn't seen this discussion before, my 2c are in https://github.com/scikit-learn/scikit-learn/issues/14481#issuecomment-515548671

I don't think there's three options that we care about. I think the two options that we care about on estimator level is "allow in-place operations" and "don't allow in-place operations".

I think maybe part of the confusion is that the ``copy`` keyword of ``check_ar

[2019-07-29 20:47] #14361 closed

[2019-07-29 21:04] amueller commented on #9857
@basnijholt suggestions for solutions are welcome.
The behavior we want is that our warnings are shown by default. However, people that have explicitly filtered our warnings previously should probably also not receive our warnings.
If we replace ``DeprecationWarning`` with a custom class, people that ignored our warnings with any warning filter using ``DeprecationWarning`` will get the warning aga

[2019-07-29 21:08] jnothman opened #14513 "test_discriminant_analysis.py:test_lda_predict failing on pypy"
See https://circleci.com/gh/scikit-learn/scikit-learn/66632 for instance.

Last successful build: https://circleci.com/workflow-run/07bcfa5d-5b45-44f5-9ccd-41a20749057c

[2019-07-29 21:09] amueller commented on #9857
We should probably also figure out why "append" doesn't work:
https://github.com/scikit-learn/scikit-learn/issues/11792#issuecomment-412268953

[2019-07-29 21:12] amueller commented on #13396
@rth I agree they shouldn't lead to errors post-release.

[2019-07-29 21:14] amueller commented on #8710
``model__estimato__max_depth`` is the answer.

[2019-07-29 21:51] Sandy4321 commented on #14498
in you link
only one mentioning dual/primal
The following two references explain the iterations used in the coordinate descent solver of scikit-learn, as well as the duality gap computation used for convergence control.

so it is secret how your code preforming for dual/primal

at least may you kindly clear explain  what parameters to set to get Interior-Point Method for L1 regularization

[2019-07-29 22:51] jnothman opened #14514 "PDF docs not building for 0.20.4 release in Py3"
Any idea how to fix or work around this one? Py2 docs managed to build (https://circleci.com/gh/scikit-learn/scikit-learn/67093) but py3 failed (https://circleci.com/gh/scikit-learn/scikit-learn/67091).

[code]

[2019-07-29 23:59] jnothman commented on #14498
The dual logistic regression is available for the liblinear solver. The
liblinear solver is not our code.

[2019-07-30 07:28] Elijas commented on #12897
@shafaypro This workaround has worked for me
[code]

[2019-07-30 07:43] lesteve commented on #14514
I have restarted the build with SSH enabled. I'll report back here if I can find the reason of the failure ...

[2019-07-30 08:42] rth commented on #14513
The failure is,
[code]

[2019-07-30 08:43] jorisvandenbossche commented on #14449
Numpy versions are part of the PEP (although it is not very clear from the PR title / top comment). Currently it would mean only supporting numpy 1.14+

[2019-07-30 09:02] lesteve commented on #14514
This seems to be related to plenty of warnings due to `tol` in `SGDClassifier` (one warning per iteration it seems) in `examples/linear_model/plot_sgd_comparison.py`:
[code]

The .tex has a `sphinxVerbatim` LaTeX section with 200 lines of these warnings and I am guessing this is why we get the "Dimension too large" error.

With the following patch, I get `make latexpdf` to finish without errors:

[2019-07-30 09:31] jnothman commented on #14514
Feel free to just commit to 0.20.X as far as I'm concerned! But we probably
have a commit in master somewhere that can be cherry-picked

[2019-07-30 09:53] lesteve commented on #14514
I have a hunch that 90a05845a2f06671d4ccf2dda0f6a07fd8e63716 is actually the right commit to cherry-pick. I'll verify this shortly.

[2019-07-30 10:00] lesteve commented on #14514
No wrong hunch sorry.

[2019-07-30 11:47] rth commented on #14449
In practice it would mean dropping Python versions a couple of years earlier than with our current policy https://github.com/numpy/numpy/pull/14086#issuecomment-516350871 .

It would be good to have a common policy on this in the scipy ecosystem, though it might be also useful to get more user feedback. In particular, with the currently proposed time frame, it will make a bit more difficult to `pi

[2019-07-30 12:17] adrinjalali commented on #14449
I kinda prefer the users to either install the packages (`numpy`, `scipy`, `scikit-learn`, etc) from their distro's repo, or if they want to do `pip install xxx`, to have a custom and functional copy of the ecosystem which they're in control of, and to update all packages together.

That's why I never understood why we support a `numpy` provided in an old Ubuntu. If the user can install a custom `

[2019-07-30 13:02] rth commented on #14449
I agree with your above comment in general.

I'm not opposed to the proposal, my point is that if we are to going to break the current workflow of a fraction of users, we better have some numbers on how many users that represents and what's the backup plan for them (as we did when dropping py2.7).

For instance, currently we have [15% of Python 3 downloads on pip on Python3.5](https://pypistats.or

[2019-07-30 13:09] rth commented on #14449
Yeah, but if a fraction of users keep using outdated scikit-learn versions and keep reporting issues for these versions requiring us to make bugfix releases for older versions, that would actually increase our maintenance burden. Again it may be or not significant, but I think we need to consider all aspects in such proposals.

[2019-07-30 13:34] glemaitre commented on #14404
Let's get a consensus in #12356 then.

[2019-07-30 14:21] lesteve commented on #14514
I pushed a commit in the `0.20.X` branch: be7633d.

The associated CircleCI build for python3 is [here](https://circleci.com/gh/scikit-learn/scikit-learn/67201).

[2019-07-30 14:50] #14504 closed

[2019-07-30 14:54] lesteve commented on #14514
The build has succeeded and the pdf doc has been uploaded. https://github.com/scikit-learn/scikit-learn.github.io/commit/93da73b9bfcded5eb0ffdcc4aa81bb88a9c4a75c is the relevant commit for the doc update on the scikit-learn.github.io repo.

[2019-07-30 14:54] #14514 closed

[2019-07-30 15:00] rth commented on #14514
Thanks for fixing it  @lesteve !

[2019-07-30 15:02] #14491 closed

[2019-07-30 15:46] amueller commented on #11182
@rth I'm happy to close this, what do you think?

[2019-07-30 15:48] rth commented on #11182
Sounds good.

[2019-07-30 15:48] #11182 closed

[2019-07-30 15:50] amueller commented on #6616
update below.

<details>
sklearn.utils.class_weight.compute_class_weight
sklearn.utils.class_weight.compute_sample_weight
sklearn.utils.deprecation.deprecated
sklearn.utils.estimator_checks.NotAnArray
sklearn.utils.estimator_checks.check_class_weight_balanced_classifiers
sklearn.utils.estimator_checks.check_class_weight_balanced_linear_classifier
sklearn.utils.estimator_checks.check_class_weight_c

[2019-07-30 17:52] #14240 closed

[2019-07-30 18:41] thomasjpfan commented on #9857
The default warning filters are:

[code]

which will filter out DeprecationWarnings not in `__main__`. If we use append, the sklearn filter warning is on the bottom (appended). This means, the `ignore::DeprecationWarning` will filter out the warning before it gets to our `always::sklearn.` filter.

[2019-07-30 19:02] nathanielmhld commented on #13488
Hi! I wanted to add that it seems to me that the feature of allowing the encoder to be fit on data that contains some categories, and then applied to data that contains maybe an additional category or two, seems like a common use case for all kinds of categorical data. Even if one category isn't very uncommon, if you're doing a random split for training and validation it's only a matter of time be

[2019-07-30 19:11] amueller commented on #14251
Should we try and implement this now that the release is out? @adrinjalali do you want to take this? @NicolasHug ?
I can also give it a shot.

I think clarifying this will be useful on the way to feature names

[2019-07-30 19:20] amueller commented on #1389
fixed by #13995 as far as I can tell. @ColinSuess do you agree?

[2019-07-30 19:20] #1389 closed

[2019-07-30 19:27] amueller commented on #11254
agreed

[2019-07-30 19:27] #11254 closed

[2019-07-30 21:38] amueller commented on #10733
Is this solved by #13902 being merged? Do we want this for all dataset loaders?

[2019-07-30 21:53] amueller opened #14528 "Rewrite user-guide to clarify feature_importances_ are impurity based"
We recently added permutation importance, which is a nice alternative to the impurity based ``feature_importances_`` provided by trees.
Whenever we're talking about feature importances in the user guide, we should make sure that we explain that the ``feature_importances_`` attribute refers to impurity based importance.
Where applicable, we should consider replacing its usage by ``permutation_impor

[2019-07-30 21:57] #5248 closed

[2019-07-30 23:55] jsadloske commented on #8710
For anyone else reading this, I got it to work with `model__base_estimator__max_depth` as I guess the parameter is called base_estimator here.

It doesn't seem to work with `fit_params` though.
[code]

`TypeError: fit() got an unexpected keyword argument 'base_estimator__sample_weight`

I guess it would go in this section  [https://scikit-learn.org/stable/modules/compose.html#nested-parameters](ht

[2019-07-31 00:09] MatthewBosek commented on #14528
@amueller Hey! I am new to scikit, open source development, and development in general. Would this be a good issue for me to work on?

[2019-07-31 01:00] jdthorpe commented on #3702
Correcty me if I'm wrong (and I very well may be wrong), but my understanding is that for values `X`,`y`,and `sample_weight` this can already be achieved with

[code]

Wish I had time to write up a PR incorporating this into `sklearn.linear_model.Lars` and friends, but for someone who does, this is a hint at how to do it...

[2019-07-31 03:16] maverick100 commented on #14528
@amueller Do we need to to provide a small and precise explanation for `permutation_importance` with the same ?

[2019-07-31 04:50] ironWolf1990 opened #14531 "get model params while training"
#### Description
I am using SGDRegressor for training a model. Is there any way i can store the Bias and the Norm values for each iteration in the training loop ?

Using verbose i can see the output , I just want to store the parameters in a list. I was trying to run the regressor in a for loop as it returns an instance of itself, but that did'nt work

[code]

Can someone help me out ?
thanks....

[2019-07-31 06:37] jnothman commented on #10733
I'm happy to see as_frame=True for other dataset loaders...

[2019-07-31 09:13] glemaitre commented on #14531
This could be linked to a callback mechanism which was already a feature request which we don't have implemented for the moment. A potential discussion can be found in #10973

[2019-07-31 11:20] jnothman commented on #13488
Nathaniel, should the virtual category be the first or the last category?
Here we presume order matters...

[2019-07-31 12:18] talipini commented on #5028
Hi - I am trying to find a way to do partial_fit on RobustScaler. Reading through this discussion and the merged code, it looks like RobustScaler doesn't have partial_fit. I need to use RobustScaler due to outliers but running into memory issues. Do you have any suggestions to do partial_fit on RobustScaler? Appreciate any help

[2019-07-31 13:42] nathanielmhld commented on #13488
I didn't pick that up from the docs.. my understanding was that the encoder assigned essentially arbitrary integer values to each category, but you're saying it assigns them maybe based on frequency or something else which means that order matters? If that's the case, I'd like to suggest an update to the docs because I didn't quite understand that from the docs. If it's not, then couldn't we just

[2019-07-31 14:19] jnothman commented on #13488
No, I just mean that if you want an ordinal encoding, rather than one-hot,
it will often be because order matters. You're certainly welcome to help us
improve the documentation by submitting specific changes as a pull request.

[2019-07-31 14:41] marctorrellas commented on #10802
I was going to propose this change, but fortunately other people have already come this way.
My (probably naive) idea is that

[code]

could be replaced by something like

[code]

This should not modify the API and be more efficient. Am I missing something?

[2019-07-31 15:34] ironWolf1990 commented on #14531
Thank you for the reply @glemaitre . I figured out a way of doing it . The result is off by a few decimal places though ...

[code]

[2019-07-31 16:02] amueller commented on #10802
@marctorrellas that won't work because not all scorers take the output predict. And some scorers could be much more complicated than that. Check out #14484 for my preferred solution.

[2019-07-31 16:05] pstroe commented on #10944
i agree with @amueller here. this is really confusing (but it's also when you read papers which do it differently). gensim does it "the right way" in my opinion: https://radimrehurek.com/gensim/models/nmf.html

[2019-07-31 16:21] vincentbillaut commented on #13127
Found out it didn't do SPCA at all, also.
I think the very least would be to rename the class into something less ambiguous.

In the meantime I'm using the R package from the paper.

[2019-07-31 16:22] amueller commented on #10944
@pstroe honestly there is no doubt in my mind that this is wrong here and someone was confused by our X being transposed to the nature paper.

There's a PR in #10953, I'm not sure what the status there is. Feel free to comment or take over.

[2019-07-31 16:22] amueller commented on #14531
you should be using ``partial_fit``

[2019-07-31 16:25] glemaitre commented on #14531
I was not fast enough to mention that. Basically, `max_iter=1` in this case and you don't need to pass the `coef_init` and `intercept_init`.

[2019-07-31 16:30] adrinjalali commented on #14251
I can take this @amueller

[2019-07-31 17:26] marctorrellas commented on #10802
thanks @amueller . In our pipeline, the predict is quite slow so I was frustrated seeing that the predictions was performed multiple times. Happy you're already working on it

[2019-07-31 17:33] amueller commented on #10802
@marctorrellas there's some more hacky work-arounds like #14261 or #10979 that you could adopt short-term. But we're indeed working on a long-term solution.

[2019-07-31 18:05] ironWolf1990 commented on #14531
@amueller , @glemaitre thank you . got it

[2019-07-31 19:50] NicolasHug commented on #7058
@lmcinnes 	would you maybe have any thoughts on [flt-tSNE](https://github.com/KlugerLab/FIt-SNE)?  ([paper](https://www.nature.com/articles/s41592-018-0308-4?))

[2019-07-31 20:31] TRT-MattB commented on #13783
@amueller I don't think I understand how a csr + argmax would help identify the most common classes from neighbors for each prediction? I can see that a csr matrix would compress a class label matrix if there are a lot of '0' label classes but that's about it.

If you are happy to clarify then I would love to help out with this.

[2019-07-31 20:38] lmcinnes commented on #7058
It is definitely a clear improvement performance-wise over Barnes-Hut. I'm not really sure how complicated the implementation is as I haven't looked at it in detail, but it is certainly somewhat non-trivial.

[2019-08-01 02:31] #14531 closed

[2019-08-01 08:31] lesteve commented on #14485
@ezyang you may want to share the `Dockerfile` if that's possible.

If anyone is interested in reproducing this error the right docker incantation to use is something like this:
[code]

Note that you need to specify the tag i.e. `1` explicitly otherwise you get a cryptic error message (the 'latest' tag does not exist):
[code]

I have no idea why this would happen, but I have seem numerous bug repo

[2019-08-01 09:01] lesteve commented on #14485
Note I tried to reproduce inside a conda environment (inside your docker image for good measure) and could not (scikit-learn==0.21.2), so I guess this could be linked to some changes in pytorch dev version.

[code]

[code]

[2019-08-01 11:36] #14492 closed

[2019-08-01 12:23] greatsharma opened #14540 "how to refit on the basis of multiple metric in grid search ?"
I asked this at [https://stackoverflow.com/q/57272000/9172922](url) some days ago, but didn't received any answers yet.

Here's the situation:

I did a grid search and I want the model with best accuracy. As there can be many models with the same best accuracy score hence then among all models with best accuracy I want the model with the best recall score. eg:
[code]
As model_1 although have the h

[2019-08-01 12:35] ezyang commented on #14485
I guess it would be useful and helpful to get a bisect on scikit-learn, if the problem reproduces on a dev build.

[2019-08-01 13:25] lesteve commented on #14485
Generally speaking, my feeling is that the expertise on this kind of problems is on the PyTorch side. Personally, I never heard about static TLS before and I would guess this is the case of many other core scikit-learn devs although I could be wrong about the last statement.

IIUC you originally saw the problem with scikit-learn 0.21.2 and a pytorch dev version. I can not reproduce the problem on

[2019-08-01 14:09] Sandy4321 commented on #14498
I see, but you should know how to set parameters to use it?

[2019-08-01 14:23] #12833 closed

[2019-08-01 14:49] NicolasHug commented on #14540
The solution is to pass a callable as the `refit` parametr (check the docstring for details)

[2019-08-01 15:16] S6Regen opened #14541 "Fixed filter bank neural networks"
Adjust the nonlinear functions not the filters (ie. not the weighted sums.)
https://github.com/S6Regen/Fixed-Filter-Bank-Neural-Networks
https://discourse.numenta.org/t/fixed-filter-bank-neural-networks/6392

[2019-08-01 15:51] amueller commented on #14541
I'm not sure if this is a feature request, but if so, it's out of scope.

[2019-08-01 15:51] #14541 closed

[2019-08-01 16:03] emsi commented on #6614
Adding dummy sorting estimator to pipeline is even simpler workaround :)

[code]

[2019-08-01 16:08] amueller commented on #10733
ok cool. these are actually nicely sprintable. should we tag "good first issue"?

[2019-08-01 16:11] amueller commented on #9857
We could check if the user wanted to error and then leave it at that to fix a small part of the issue.
I don't see how we could fix the real issue without breaking backward compatibility but maybe we should do it as a bug fix?

[2019-08-01 16:13] amueller commented on #14498
@Sandy4321 yes but I don't understand what your question is. There is no interior-point method for l1 regularization from what it looks like.

I'm not sure what you're saying is secret, the code is all public.

[2019-08-01 16:26] rth commented on #13783
Proposed a WIP solution in https://github.com/scikit-learn/scikit-learn/pull/14543

[2019-08-01 19:05] amueller opened #14546 "really weird __repr__"
[code]
![image](https://user-images.githubusercontent.com/449558/62320267-c15c5700-b46d-11e9-818e-e4d74bb86e79.png)

this looks really weird, in particular the max_depth list that goes vertically even though other parts are much wider.

[2019-08-01 19:11] amueller commented on #8710
The ``CallibratedClassifierCV`` doesn't have ``fit_params`` but has ``sample_weight`` and passes it through correctly, so
[code]
works.
Yes, that's inconsistent, and we're looking for a fix.
It's a bit tricky to figure out where in the process you want to apply sample weights and where not, see #4497.
Basically, you could use the sample weights for fitting both the forest and the calibration, for

[2019-08-01 19:13] h6197627 opened #14547 "Scikit-learn 0.21.3 test_lda_predict test failure with Numpy 1.17.0"
#### Description
Newly released Scikit-learn 0.21.3 (actually 0.21.2 also was tested and had this problem) is failing test_lda_predict test when run with recently released Numpy 1.17.0 (compiled manually with MKL BLAS). If Numpy is replaced with 1.16.4 (also compiled manually with MKL BLAS) all test successfully pass.

#### Test output
[code]

[2019-08-01 19:15] amueller commented on #8710
Hm actually I think it should go into the GridSearchCV documentation. You pointed towards the ``pipeline`` documentation, but it's actually somewhat unrelated to pipeline.
One could also argue it's unrelated to ``GridSearchCV`` and just concerns ``set_params`` but I think ``GridSearchCV`` is where it's most likely to matter.

[2019-08-01 19:16] amueller commented on #8710
I'm pretty sure this issue now contains (at least) three completely separate issues and we should probably separate them.

[2019-08-01 19:28] h6197627 commented on #14547
Sorry, haven't noticed #14513

[2019-08-01 19:41] amueller commented on #8710
@jsadloske I tried to add an example here based on your use-case: #14548

The inconsistencies between ``fit_params`` and ``set_params`` will probably take a bit longer to fix.

[2019-08-01 22:33] iamgauravg commented on #14452
I would like to help if any aspect is still open. Please let me know. This is my first attempt.

[2019-08-02 01:38] #14540 closed

[2019-08-02 02:36] jnothman commented on #14546
Should we move to using black for repr??

[2019-08-02 02:46] thomasjpfan commented on #14546
With black it would look like this:

<img width="858" alt="Screen Shot 2019-08-01 at 10 46 11 PM" src="https://user-images.githubusercontent.com/5402633/62340624-3059a000-b4ae-11e9-95d7-f4d08ddc44a6.png">

[2019-08-02 04:47] jnothman commented on #13783
At https://github.com/scikit-learn/scikit-learn/pull/9597#issuecomment-424379575, @TomDLT pointed out that argmax of `predict_proba` is faster than the current `predict` implementation. Any proposal here should compare to using that approach (not yet implemented there) and avoiding mode altogether.

[2019-08-02 08:00] vinidixit commented on #14452
@alexitkes Hello Alex! I've updated documentation of fit_intercept to True and have submitted the changes. Please let me know if this is the way it's done? Please guide me, as it's my first commit.
Thanks!

[2019-08-02 10:19] adrinjalali commented on #13969
Since this seems to be the place, do we want to have a deprecation cycle for certain API changes in `check_estomator`? Seems reasonable to me. Certain checks can then move from non-strict to strict with a deprecation cycle (related: https://github.com/scikit-learn/scikit-learn/pull/14241#issuecomment-517383733)

[2019-08-02 10:59] alexitkes opened #14551 "Possibly wrong-documented type for RandomizedSearchCV.best_estimator_"
According to `RandomizedSearchCV` docstring, its `best_estimator_` attribute is 'estimator or dict', but it's looking like best_estimator can not be a dict object just as for `GridSearchCV` (see #14447). I think this docstring should be corrected just like it was done for GridSearchCV in #14448 .

[2019-08-02 11:12] rth commented on #14546
+1 but how do we do that without the black dependency? We could get something close enough, but I guess there will always remain edge cases..

[2019-08-02 12:33] GISConsortium opened #14552 "Kernel Density Estimate on point data in degrees (scikit-learn)"
I am estimating point density, where I am having point coordinates in degrees, I need a raster(over the extent of these points) which provides a density estimation on each cell.

I have tried on R but I have not got any success as the extent of my point data is very large. I am trying scikit-learn package in python, but stucked with the implementation.

    import numpy as np
    import matplotlib

[2019-08-02 13:35] alexitkes commented on #14452
@vinidixit Well, after committing the changes you should open a pull request by pressing the `pull request` button at top of the screen. When writing the description of the changes you propose, refer to this issue by writing somewhat like "as mentioned in #14452" in the changes description to make the link to your request appear among comments to this issue.

[2019-08-02 13:53] rth commented on #14452
Let's put a hold on this, and wait a bit new PRs until the right way of formatting docstrings is decided in https://github.com/scikit-learn/scikit-learn/pull/12356

[2019-08-02 14:46] #13858 closed

[2019-08-02 15:33] NicolasHug commented on #14251
`ColumnTransformer` allows for negative indexing.
With  #14237 merged, we still allow `transform` to have more features than `fit`.

So this creates a silent wrong behaviour:

[code]

I'd go simple and error if `transform` doesn't get the same number of feature as `fit`.

[2019-08-02 15:41] rth commented on #6616
+1 for functions that are not documented (related https://github.com/scikit-learn/scikit-learn/issues/12927)

[2019-08-02 15:56] #14551 closed

[2019-08-02 16:03] Harsh2098 commented on #14351
@qinhanmin2014 @rth Can you review this please?

[2019-08-02 18:54] Harsh2098 commented on #14351
@rth I removed unused tolerance parameter from `Perceptron`. Waiting for test results. Please review after test results pass.

[2019-08-02 19:17] amueller commented on #14552
Can you please provide a minimum self-contained example, either including the data or with synthetic data that allows us to reproduce your issue?

[2019-08-02 19:36] amueller opened #14559 "CountVectorizer sets self.vocabulary_ in transform"
Right now CountVectorizer sometimes sets ``self.vocabulary_`` outside of ``fit``. We usually prohibit this, but the common tests haven't reached the vectorizers yet.

[2019-08-02 20:27] amueller commented on #14546
ping @NicolasHug

[2019-08-02 20:52] amueller commented on #13488
I think the ``OrdinalEncoder`` is weird because it is indeed the intention that the order matters - that's why it's called ``OrdinalEncoder``. But the order is always lexical, which rarely makes sense. I have a hard time coming up with usage scenarios for ``OrdinalEncoder`` because of that.
I guess the user could always rename the their categories so that lexical ordering is useful. But then what'

[2019-08-02 20:57] nathanielmhld commented on #13488
I totally agree @amueller. I was using it for preprocessing data before LightGBM, which requires integer data, but you can flag certain columns as categorical and so the order does NOT matter. I am confused about what "order matters" means because by its very nature, there is no correct order of the classes. I'm not sure that an "order matters" OrdinalEncoder makes sense to me, when no order is sp

[2019-08-03 13:15] Olli2401 commented on #14469
@TomDLT thank you very much for your comment.

Could you give me an example how I am supposed to manage the learning rate and performance? E.g. a piece of code? What do I choose the learning rate to be dependent on?

[2019-08-03 15:51] sameshl commented on #10778
@zyong812 Is there still a problem? I would like to work on it there is.

[2019-08-03 19:50] NicolasHug commented on #14546
I'm pretty sure this is legit pprint behavior.

[2019-08-03 21:40] jnothman commented on #14546
Legit in the sense that someone else does it the same, or in the sense of
desirable? Desirable in this context?

[2019-08-03 22:11] jnothman commented on #14559
Hmmm... Not ideal. Should it just validate use `vocabulary` if fit was
never called??? It should probably then have tag requires_fit=False if
vocabulary is provided...

[2019-08-03 22:29] jnothman commented on #13488
I think we never intended the behaviour to always require lexicographic
ordering... we just haven't got around to fixing that (taking order
specified by user, or from a pandas categorical dtype ordering). Should
that be a priority?

[2019-08-03 22:34] jnothman commented on #13488
Wait... you aren't constrained to lexicographic ordering in OrdinalEncoder:
OrdinalEncoder([['S', 'M', 'L', 'XL']]) works.

[2019-08-03 22:53] wolfiex commented on #12536
Still unreleased?

[2019-08-03 23:00] jnothman commented on #12536
Released in 0.21.

[2019-08-03 23:25] NicolasHug commented on #14546
Legit in the sense that this is Python's builtin pretty printer behavior:

[code]

output:

<details>

[code]
</details>

The max_depth list exceeds the line limit, so it goes vertical, regardless of other parts.

I don't know how hard it would be extend the line width depending on what it previously used.

----

I'm very open to use black (though I'm not sure if we could maintain our ellipsis)

p

[2019-08-03 23:48] wolfiex commented on #12536
Ah the error lies in the wrong version being installed by pip. A fresh (cached cleared, new env) install `pip install sklearn` from the pypy repository (it should be scikit-learn 0.21.3) installs 0.20.4 instead.

 It might be worth noting that for those of us still who prefer python 2 (for various reasons) the version containing this cannot be installed. Instead, the solution lies in coping `optic

[2019-08-04 02:55] #14275 closed

[2019-08-04 08:03] jnothman commented on #10778
Yes, sklearn/metrics/cluster/supervised.py makes no mention that it is using the natural logarithm.

PR welcome, @zyong812.

[2019-08-04 09:09] rth commented on #12536
Python 3 is explicitly not supported for 0.21+ so this behavior is expected.

[2019-08-04 10:25] jnothman commented on #12536
That was a typo, @rth. Python 2 is not supported in versions from 0.21. I expect that 0.20.4 was our last python 2 release ever.

[2019-08-04 10:39] rth commented on #12536
Yes, thanks for catching it.

[2019-08-04 12:39] NicolasHug opened #14563 "OrdinalEncoder with string categories should force user to specify the order"
We use lexicographic ordering when `categories='auto'` which is the default.

I think we should deprecate this behavior and force the user to specify the order of the categories when they are strings. Since the OrdinalEncoder is used in a context where order matters, lexicographic order doesn't make sense in general.

(This isn't an issue with e.g. OneHotEncoder where there is no order).

[2019-08-04 12:40] NicolasHug commented on #13488
I think we should force the user to pass the order of the categories when they are strings. I opened https://github.com/scikit-learn/scikit-learn/issues/14563

[2019-08-04 12:50] ManishAradwad commented on #14501
Is this issue still open??

[2019-08-04 13:10] b1naryher0 commented on #14528
@amueller Hey! I would also like to work on this issue but I am having trouble starting. I have a basic understanding of scikit-learn. What topics should I read to learn about feature_importances_ ?

[2019-08-04 13:11] ManishAradwad commented on #14501
Is this issue still open?? Plz let me know, I'd like to contribute..

[2019-08-04 13:15] ManishAradwad commented on #14503
Hey!! Is this issue still open?? I would like to help

[2019-08-04 13:27] NicolasHug commented on #14503
Hi @ManishAradwad, we already have a PR opened for this (see above). Thanks!

[2019-08-04 14:42] ManishAradwad commented on #14503
Thanks, I'll look for another one..

[2019-08-04 15:10] ManishAradwad commented on #8358
Is this issue still open??

[2019-08-04 18:36] thomasjpfan commented on #14501
@ManishAradwad This issue is open and being worked on at https://github.com/scikit-learn/scikit-learn/pull/14520. You can check if someone is working on an open issue by looking for "referenced a pull request that will close this issue":

<img width="681" alt="Screen Shot 2019-08-04 at 2 35 50 PM" src="https://user-images.githubusercontent.com/5402633/62427723-2f4e8b80-b6c5-11e9-8718-396467499be7.

[2019-08-04 19:31] GISConsortium commented on #14552
Thank you for the reply, the value for the node variable containing points can be assigned as:

lst_train=[[-81.64455, 28.80024]
,[-81.690095, 28.822781]
,[-81.666355, 28.807585]
,[-81.721211, 28.824514]
,[-81.625789, 28.836384]
,[-81.660639, 28.823703]
,[-81.643167, 28.800266]
,[-81.624616, 28.828313]
,[-81.688018, 28.797825]
,[-81.64454, 28.799499]
,[-81.640818, 28.823269]
,[-81.68266, 28.799543

[2019-08-04 20:36] jnothman commented on #14563
You may be right... For some estimators, ordinal encoding and OHE do not
provide much difference in terms of the learnt model, so we've previously
considered ordinal encoding a reasonable encoding choice even for unordered
categories. But yes, its power is that it *can* represent order, so maybe
we should enforce this.

[2019-08-04 22:51] jnothman commented on #14552
The data should be specified in radians, not degrees.

[2019-08-04 22:52] jnothman commented on #14552
X_rad = X_deg * np.pi / 180

[2019-08-05 01:29] tolandwehr opened #14564 "Dimension error when using gridsearchCV with Keras RNN-LSTM"
Aim is to optimize hyperparameters for a Keras LSTM via gridsearchCV. A dimension error is produced after the first training. RNN-LSTM needs 3D input. Does a dimension conflict exist with gridsearchCV? Here the code:

[code]

The following error is produced:

[code]

Package versions

[code]

keras, numpy and tensorflow version are chosen on purpose to implement `K.clear_session()`, which produces

[2019-08-05 03:49] ManishAradwad commented on #14501
Thanks for the help!!

[2019-08-05 04:42] ManishAradwad commented on #14351
Is this issue till open?? I'd like to help!!

[2019-08-05 04:44] ManishAradwad commented on #14347
Hey!! Is this issue still open? I want to contribute..

[2019-08-05 04:47] ManishAradwad commented on #14312
Hii!! I'd like to help out with this one.. Can anyone plz tell me where should I start??

[2019-08-05 04:49] ManishAradwad commented on #14257
Is anyone working on this one?? I'd like to help..

[2019-08-05 04:53] ManishAradwad commented on #14131
Is this one already assigned? I want to work on this issue...

[2019-08-05 05:14] ManishAradwad commented on #14081
Is this issue assigned to someone? I'd like to work on this one..

[2019-08-05 06:11] GISConsortium commented on #14552
@jnothman : Thank you for the reply but you can see in code I have akready converted all degrees input to radian

[2019-08-05 06:13] GISConsortium commented on #14552
That is already in code.

[2019-08-05 06:15] GISConsortium opened #14565 "Kernel Density Estimate on point data in degrees (scikit-learn)"
I am estimating point density, where I am having point coordinates in degrees, I need a raster(over the extent of these points) which provides a density estimation on each cell.  I have tried on R but I have not got any success as the extent of my point data is very large. I am trying scikit-learn package in python, but stucked with the implementation. I have already converted the input data in de

[2019-08-05 06:25] flyjuice opened #14566 "LassoLarsIC information criteria incorrectly calculated"
There is a mistake in the calculation of information criteria in LassoLarsIC. It seems after a long discussion here, it was modified to incorrect behavior.

https://github.com/scikit-learn/scikit-learn/pull/9022

The issue is due to poor notation in (Zou et al, 2007) that is taken as a reference. In Stein, Akaike, Mallow's or similar approaches the noise variance is unfortunately assumed to be kno

[2019-08-05 07:48] mabdelaal86 opened #14567 "RFI: Setting the number of features to select 'n_features_to_select' to be percentage"
While I was working on my thesis, I have used RFE and I needed to set it to select 25% of the available features. So, I calculated the target number of features before call init RFE.

I was wondering if sklearn support initiating RFE with this ability. for ex. if `n_features_to_select` is float between 0.0 and 1.0 it will be multiplied by the number of features in the training set, or using anothe

[2019-08-05 07:53] sleighsoft commented on #13393
When will this make it into an official release?

[2019-08-05 08:03] jnothman commented on #14347
It looks like this has only been fixed for load_digits. Feel free to open a pull request with more

[2019-08-05 08:54] albertcthomas commented on #14565
@GISConsortium you can reopen your first issue that contains all the discussion.

[2019-08-05 09:00] jnothman commented on #13393
Hopefully the next release, but the patch awaits another review.

[2019-08-05 09:05] jnothman commented on #14552
Sorry I misunderstood. But please try to make your example minimal. It need not include conversion if you provide converted data for instance

[2019-08-05 09:08] albertcthomas commented on #14552
your training data is very concentrated and the kernel that you are using has finite support which means that the density can be zero on the grid xy.
As `score_samples` return the log of the density this could explain the -inf value.

I have not tried to reproduce your code so I am saying this without knowing the values of the grid xy.

[2019-08-05 09:08] #14565 closed

[2019-08-05 09:51] GISConsortium commented on #14552
@jnothman : Thank you, I will try to do that.  I am providing the data in degrees and then converting it to radians in code.

[2019-08-05 09:56] alokranjan1234 commented on #12895
Is this still open? I would like to work on it.

[2019-08-05 09:59] GISConsortium commented on #14552
@albertcthomas : Thank you for the reply, so how can I get the actual density values, because when I tried to covert it using :  val1= np.exp(kde.score_samples(xy)) I got more typical values ranging from 0 to 16700402.558563054.   Also, I tried with same input in a GIS  tool on same kernel (epanechnikov) but there I am getting the expected density, which is ranging between 0.0002-78

[2019-08-05 10:05] GISConsortium commented on #14565
@jnothman : Please reopen the  issue #14552  as it has not yet resolved

[2019-08-05 10:06] GISConsortium commented on #14565
I can't, as I have not closed I don't think I can do that.

[2019-08-05 10:40] jnothman commented on #14081
Because it's easy for users to ignorantly apply it to their whole dataset, and then do model selection/evaluation.

I don't have a problem with fit_transform being called, only with it being called in user code without caution

[2019-08-05 10:41] jnothman commented on #14081
@ManishAradwad there are no pull requests referencing this issue; I don't think it's been attempted.

[2019-08-05 10:46] jnothman commented on #14567
I'd consider such a PR, thanks.

[2019-08-05 12:16] adrinjalali commented on #14131
Seems like there hasn't been any activity here, you can submit a PR @ManishAradwad

[2019-08-05 12:40] ManishAradwad commented on #14081
Thanks!! I'll start working on this one then...
Can you plz help how should I approach??

[2019-08-05 12:44] NicolasHug commented on #14081
@ManishAradwad 	there are a few suggestions in this thread already. They require some minimal experience with scikit-learn and ML in general.

[2019-08-05 13:51] seralouk opened #14568 "n_jobs=-1, "timeout or by a memory leak.", UserWarning"
Dear community,

I have been using sklearn to do some heavy clustering using KMeans. I am running my code on a linux machine with 90 cores and 500GB of RAM.

I have specified `n_jobs=-1` and it seems to be working smoothly however, at some point I got the following warning:

[code]

My versions: `python 3.7.3`, `sklearn: 0.20.3`.

Can I safely ignore this UserWarning?

[2019-08-05 14:18] lirankatzir opened #14569 "Adding L1 Isotonic Regression, want to contribute"
Hi,
Currently sklearn.isotonic.IsotonicRegression only supports L2 loss.
L1 support is missing.
I have implemented and tested algorithm from this paper: http://drops.dagstuhl.de/opus/volltexte/2018/10027/pdf/OASIcs-SOSA-2019-1.pdf
Question:
Would the community be interested in the adding this code to sklearn's codebase?
if what is the best way to proceed.
* I am a full time Google employee and con

[2019-08-05 14:34] amueller commented on #14569
Thank you for your interest.
You can find our inclusion criteria here:
https://scikit-learn.org/dev/faq.html#what-are-the-inclusion-criteria-for-new-algorithms

This would be less a new algorithm but a variant of an algorithm we already have.
Could you summarize the use-cases?

Isotonic regression is a bit of an edge-case for sklearn as it only supports 1d input. It's mostly included in sklearn fo

[2019-08-05 14:34] qinhanmin2014 commented on #12895
you can start your work based on the stalled PR.

[2019-08-05 14:35] amueller commented on #12895
I think we should indeed add this.

[2019-08-05 14:39] urvang96 commented on #12895
@amueller @qinhanmin2014  Could you please review the PR, which I created. PR 13467

[2019-08-05 14:52] ManishAradwad commented on #14081
As much as I have understood, we're supposed to create a section 'Pitfalls'(as suggested by @glemaitre) which includes practices which SHOULD NOT be followed by users, right?

If its ok, then we need such examples for following topics,
**Pitfalls**:

- SelectKBest
- cross_val_predict
- pipeline
- RF

Plz add more topics if I missed anything..
If everything's fine then I'll start with SelectKBest..

[2019-08-05 15:01] NicolasHug commented on #14081
you got it right.

I'd start with a very simple data link example, e.g. scaling the whole data and then doing cross validation instead of using a pipeline.

[2019-08-05 15:32] amueller commented on #14567
should it be renamed ``features_to_select``? No strong opinion though.

[2019-08-05 15:40] amueller commented on #14546
That's.... terrible...

[2019-08-05 15:45] amueller commented on #14469
I'm not sure if this is a matter of learning rate. This generally seems to be an open question to me. Closing as usage question. Feel free to discuss on stackoverflow / crossvalidated.

Generally SGD assumes data being sampled IID. Catastrophic forgetting should only be an issue if you have concept drift or your data is not sampled iid afaik.

The easiest way to avoid issues here is to store the f

[2019-08-05 15:45] #14469 closed

[2019-08-05 15:46] amueller commented on #14559
yes, both of these sound reasonable to me.

[2019-08-05 16:37] amueller opened #14570 "status Labels on github"
Given that we now have a bit more resources, maybe we can use the labels a bit more effectively to organize the issue tracker.
I would start with the PRs. We have discussed this a couple of times before, but I think doing it manually is now realistic given how many people we have.

I think old PRs are either:
- stalled
- need review
- need decision
- move to extras
- superseded

and anything that'

[2019-08-05 17:20] dstanner commented on #10642
I understand why feature importances aren't feasible with iForests, but when I look at one of the estimators that's returned with an iForest object, there is a `feature_importances_` attribute instantiated as an array. Looking through the source code, it looks like these values are populated by through inheritance from ExtraTreeRegressor > DecisionTreeRegressor > BaseDecisionTree > Tree.

So, what

[2019-08-05 17:26] amueller commented on #7285
fixed in #11228

[2019-08-05 17:26] #7285 closed

[2019-08-05 17:38] amueller commented on #8274
fixed in #11192 actually

[2019-08-05 17:38] #8274 closed

[2019-08-05 17:55] lirankatzir commented on #14569
Use-case: Supervised learning generate a prediction vector y^ for the response vector y.
In most scenarios y and y^ have the same "units", and no further action is needed.
However, in some scenarios y^ and y do not have the same "unit"(Typical example is domain adaptation).  In which case, y^ need recalibration. Isotonic regression finds an order preserving calibration function f.  Namely, if y^_1

[2019-08-05 18:00] rnditdev opened #14571 "MAE Loss for MLPRegressor"
I'm in need of using Mean Absolute Error when training an MLPRegressor, is such a feature planned, or how could I mend the current MSE error code to avoid the final quadratic factor?

[2019-08-05 18:09] amueller commented on #14570
I added the superseded label.
Given how many PRs there are, maybe we should change our policy and just close those?

So far after spending a bit of time labeling I have 24 superseded, 37 need decision, 111 need review and 100 stalled.

Maybe we can make decisions on some of the "need decision" ones?

[2019-08-05 18:12] amueller commented on #10748
fixed in #12174.

[2019-08-05 18:12] #10748 closed

[2019-08-05 18:31] amueller commented on #5078
fixed in master

[2019-08-05 18:31] #5078 closed

[2019-08-05 18:32] adrinjalali opened #14573 "LaTeX failure on HGBT's docs"
@NicolasHug seems like latex is not happy, master fails with:

[code]

[2019-08-05 18:48] amueller commented on #11159
seems fixed by #13554. Please reopen if you still run into this issue.

[2019-08-05 18:48] #11159 closed

[2019-08-05 18:56] NicolasHug commented on #14573
I'm trying to reproduce locally... Gonna take ages.

Why wasn't this caught in the PR?

The latex is correct though. I suspect sphinx to be doing something wrong.

Maybe changing the `*` into a `\times` would fix it (maybe not).

[2019-08-05 19:14] sameshl commented on #10778
@jnothman Where do you suggest I add that info then?

[2019-08-05 19:36] amueller commented on #8358
@ManishAradwad I think the PR at #11274 is stalled if you want to pick it up.

[2019-08-05 20:06] rth commented on #14570
I added it experimentally last week, by adapting it from numpy/scipy. The main motivation is that there are some not too complicated PRs where a review was given, I would like to label them in some way to let other reviewers (and myself in the future) know that it's not necessary to look at it again unless there is activity there. I wouldn't label a PR "stalled" before a few weeks, as stalled for

[2019-08-05 20:10] thomasjpfan commented on #14570
+1000 bot, I will be all over this once [Github Actions](https://github.com/features/actions) comes out.

[2019-08-05 20:15] rth commented on #14570
Yeah, you could probably set "needs work" automatically as well. Looking forward to the release of Github Actions.

[2019-08-05 22:42] jnothman commented on #14568
Why are you using scikit-learn 0.20.3? Some bugs in job parallelism are
fixed in newer releases. Please close if an upgrade resolves your issue.

[2019-08-05 22:56] jnothman commented on #14567
It's still about the number of features, just a different unit of
measurement

[2019-08-06 00:01] thomasjpfan commented on #14570
@rth I can not see a difference between "no tag" and "needs work". Anything that is not merged "needs work". From your comment, are you thinking of using "needs work" as "does not need another review until there is activity"?

[2019-08-06 05:09] enzoliao opened #14575 "Error in haversine_distances docs"
In the docs [haversine_distances](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.haversine_distances.html#sklearn.metrics.pairwise.haversine_distances), it said the parameters should be give in radians. However, the function was called with parameters in longitude or latitude. The example code should be changed in the following way.

[code]

The most interesting thing a

[2019-08-06 07:42] rth commented on #14570
"Needs works" means that a review was done, and comments need addressing (basically waiting for authors action). At least that's how scipy / numpy are using it I think. I agree the wording may not be ideal, but I'm not sure what other 2 word combination we could use.

[2019-08-06 08:16] sameshl commented on #14575
I would like to work on this. Will make the required change.

[2019-08-06 08:17] jnothman commented on #14575
Thanks to you both!

[2019-08-06 08:21] qinhanmin2014 commented on #14570
Perhaps it's time to clean up the need review tag and add it to some important PRs (e.g., KNNImputer, stacking, etc). Currently, there're so many need review tags (139 PRs).

[2019-08-06 08:32] jnothman commented on #14570
"author blocking" or "reviewer blocking" are not very kind two word tags.
"Wait for author" and "wait for reviewer" might be nicer

[2019-08-06 08:40] jnothman commented on #14571
I don't think there's a plan to add this, but I suppose a PR is welcome.
The loss function would be added in sklearn/neural_network/_base.py and
added to LOSS_FUNCTIONS. You would then make loss a parameter of
MLPRegressor.

[2019-08-06 08:48] jnothman commented on #14573
I doubt that the * is the problem.

TeX docs are only compiled when deploying docs, i.e. not in the PR.

[2019-08-06 08:50] jnothman commented on #10778
Unless we allow the user to configure which log base they use, it should just be documented in relevant functions' docstrings in `sklearn/metrics/cluster/supervised.py`

[2019-08-06 08:57] rth commented on #14570
Yeah, the problem is that "need review" is kind of our default tag )

[2019-08-06 09:32] #8457 closed

[2019-08-06 12:07] guillermo-carrasco commented on #13621
Another good use of this feature would be financial data, which is usually very imbalanced. In my case, I have a highly imbalanced dataset with several records for the same entity (just different points in time). We want to do a `GroupKFold` to avoid leakage, but also stratify since due to the high imbalance, we could end up with groups with very few or none positives.

[2019-08-06 12:17] h-2-0 commented on #12897
@jnothman

I also encounter the same warning when using my own stop words, my own tokenizer and my own  preprocessing functions. Neither my tokenizer nor my preprocessor use the stop words to do their job. What I find strange is how come the user warning is telling me about stop words that definitely do not exist in my stop word list nor in my corpus? Sometimes the user warning comes up with a lis

[2019-08-06 12:17] thetric opened #14577 "docs(auto-examples/model-selection/confusion-matrix): top and bottom row not readable"
### Description
I cannot reproduce the [example for the confusion matrix](https://scikit-learn.org/stable/auto_examples/model_selection/plot_confusion_matrix.html). The top and bottom row are cut of.

#### Steps/Code to Reproduce
Copy and paste the code from [the example](https://scikit-learn.org/stable/auto_examples/model_selection/plot_confusion_matrix.html) and run it.

#### Expected Results
Se

[2019-08-06 12:40] rth commented on #13783
Yes, I'm happy  with #9597 and using the argmax as well. Will try to make some benchmarks.

[2019-08-06 13:04] tolandwehr commented on #14564
@jnothman @amueller @rth Uhm, is this an issue for you? Called you directly, as you were posting quite regularly. I don't mean any offense: You're extremely busy, I suppose. Just wanted to know whether this is an issue and whether it might be solved (as I burned oh so many hours on it, still struggling)

[2019-08-06 14:22] adrinjalali commented on #14570
can we sign up for the beta?

[2019-08-06 14:24] adrinjalali commented on #14570
yeah but we don't have a way to say "there are at least two people on it already, no immediate need for a review"

[2019-08-06 14:24] adrinjalali commented on #14570
We don't want to use the priorities?

[2019-08-06 14:33] amueller commented on #14570
As I said "needs work" seems more explicit than "stalled" but I don't think that short-term tags are that useful as they get outdated so quickly. I don't think we'll be able to automate that with a bot. How will you decide whether a comment from a reviewer means "needs work" or not?

[2019-08-06 14:44] amueller commented on #14570
I actually added a majority of the "needs review" tags that are in the issue tracker yesterday, FYI. I don't think having that many tagged is a problem with the tag, it just means we lost track of a whole bunch of things over the years. I think tagging stuff will help us get an idea.

I though "stalled" and "needs work" both mean "need author activity".
I'm happy to rename to "waiting for author"

[2019-08-06 14:45] amueller commented on #14570
@adrinjalali I think using priorities would be good. I spend 4h going through PRs yesterday and maybe got 1/3 way through and I only did very shallow stuff. I think a shallow analysis is helpful, but doing in-depth prioritizing for 600 issues will take weeks probably

[2019-08-06 14:47] amueller commented on #14570
also: I am kinda tending towards closing the "superseded" PRs. Any thoughts on that? That would be a policy change but might help

[2019-08-06 14:53] amueller commented on #14564
I think it's conflicting with the scoring. You probably need to use the keras built-in scoring or provide a custom callable.

Also, we prefer using Stackoverflow for usage questions. That's also more likely to get you a reply quickly ;)

[2019-08-06 14:53] #14564 closed

[2019-08-06 14:54] amueller commented on #14577
How do you run it?

[2019-08-06 15:04] adrinjalali commented on #14570
I definitely wouldn't mind that

[2019-08-06 15:05] adrinjalali commented on #14570
Also, another idea I was reminded of today, was that we can take turns triaging issues and PRs. Go around and each person takes a week, and does tagging and mostly pinging the right people who need to take care of that issue/PR. I personally like the idea.

[2019-08-06 15:09] amueller commented on #14570
@adrinjalali sure, we can do that. I'll probably spend another two days or so tagging PRs, then I'll have tagged everything. Maybe we can make some decisions on the "need decisions" ones and fix some of the easy ones then.
There's a trade-off between keeping easy ones around for first contributors, but if there's a trail of 3 PRs to fix a docstring that were attempted at 3 previous sprints, maybe

[2019-08-06 15:21] amueller commented on #14570
Hm "waiting for author" doesn't apply if the author said they're not coming back, though. Then "needs work" is more appropriate so they are not the same.
I would rather not have three different ones "needs work", "waiting for author" and "stalled".

[2019-08-06 15:23] adrinjalali commented on #14570
I've used "needs help" to indicate it's "up for grab" on PRs.

[2019-08-06 15:27] amueller commented on #12684
Fixed in #13902, please let us know if that doesn't solve your use-case.

[2019-08-06 15:27] #12684 closed

[2019-08-06 15:28] amueller commented on #11619
I would say this is mostly resolved by #11419. I'm sure openml would love your contributions.

[2019-08-06 15:28] #11619 closed

[2019-08-06 15:28] #10436 closed

[2019-08-06 15:36] amueller commented on #14570
yeah totally. but then in conjunction with "needs work"?

[2019-08-06 15:55] adrinjalali commented on #14570
I think they're exclusive. "needs work" can imply the author is working on it, and "help wanted" implies it does need work anyway, so no need to have it there.

[2019-08-06 16:19] amueller commented on #14570
hm... we need to have consensus and document it ;)

[2019-08-06 16:19] thetric commented on #14577
I executed it within PyCharm (using the integrated viewer) and in an terminal to save the graphic with `plt.savefig('test.png')`.

I'm using matplotlib 3.3.1.

[2019-08-06 16:23] amueller commented on #12147
related to #12086

[2019-08-06 16:40] amueller commented on #13415
also see #11031

[2019-08-06 16:40] #13415 closed

[2019-08-06 16:44] amueller commented on #12129
@LarsDu can you please provide an example to reproduce? You should certainly be able to use joblib to load and store the estimators. Right now, you can not construct a ``VotingClassifier`` from an already fitted model.
It's not entirely clear to me how these two issues should related, can you clarify?

[2019-08-06 16:54] amueller commented on #13605
keeping this open for the issue @bjfar describes

[2019-08-06 17:04] rodrigob opened #14578 "No inverse function for grid_to_graph(..., mask=M) ?"
`grid_to_graph(..., mask=M)` returns a graph. After doing operations over the graph it seems reasonable one would like to return back into the grid domain (i.e. images coordinates).

There seem to be no `graph_to_grid` function. For the `mask=None` case `numpy.unravel_index` suffices; however when the `mask` is set, the corresponding `graph_to_grid` function is not trivial.
After doing code inspec

[2019-08-06 17:13] amueller commented on #13662
Sorry I am a bit confused. I'm quite certain that the results are consistent as we are testing them. Can you give an example on a non-trivial dataset where the results are the opposite?
As described in the documentation, probability=True uses platt scaling, which uses 5-fold cross-validation. Running it on two data points makes no sense.
I'm honestly somewhat confused that libsvm even does anythin

[2019-08-06 17:18] rodrigob commented on #14578
After some head scratching it seems something along the lines of

[code]
might be correct; where `centers` are in "node indices" and `center_points` are yx coordinates.

[2019-08-06 17:22] amueller commented on #13211
@jgrizou why did you use "prefit"? You shouldn't use that if you want to replicate the behavior of ``probabilities=True``. If you use ``prefit`` and use the same dataset for training and calibration you're basically defeating the whole point.

[2019-08-06 17:22] amueller commented on #13211
I'll try to check out this issue, I messed with the ordering of the classes_ here way too much years ago :-/

[2019-08-06 18:13] amueller commented on #13211
The problem with the example is that there's not even enough samples to run ``CalibratedClassifierCV`` properly. I'll have to check the code to see what libsvm actually does in this case.

@jgrizou I think your "temporary fix" is not correct. You're just computing the mapping that would give you the best results. There is no evidence that that is actually what the model is using.

I also get somew

[2019-08-06 18:21] sergeyf commented on #14338
It makes sense for it not to converge if we're sampling from the posterior. I haven't thought about the non-sampling case, and all of our close studies were with `BayesianRidge`, where conversion seemed fine (as already pointed out).

We added convergence to have more feature-parity with missForest, but our stopping criterion is different (as you pointed out). Have any of your examples suggested a

[2019-08-06 18:53] amueller commented on #13211
Ok, looked a bit closer through the code and ``libsvm`` just doesn't do stratification, so you can easily reproduce the behavior with this
[code]
turns out that, unsuprisingly, the result basically only depends on the random state. If you have 6 samples and do 5-fold cross-validation, if the problem is not trivial, the priors will just tell you to predict the opposite of the class, which is exactl

[2019-08-06 18:56] amueller commented on #13662
See my explanation in https://github.com/scikit-learn/scikit-learn/issues/13211#issuecomment-518797874. The current behavior is the correct behavior. You're observing an artifact of leave-one-out cross-validation because you have too few samples.

This is separate from #13211: if you'd force scikit-learn to do something similarly bad with
[code]
you get similarly bad results.

[2019-08-06 19:07] amueller commented on #14338
I haven't done experiments. It's a bit strange to do something that's not in the literature. But if we'd implement the literature we'd have different convergence criteria based on the ``BaseEstimator`` which is also strange, and we wouldn't know what to do in general.

My main problem right now is that the behavior for forests is non-sensical. We will always tell the user we didn't converge, indep

[2019-08-06 19:13] amueller commented on #13478
I don't really like returning the indices and models. You're still requiring the user to reimplement quite a bit, why wouldn't they just completely reimplement it as @mostafahadian did?

I would favor adding a ``return_predictions`` (and possibly ``predict_method``) to cross-validate, which would provide per-fold predictions. I think the user can be trusted to hstack them.

[2019-08-06 19:26] sergeyf commented on #14338
I can mess around with a few different criteria with RandomForests and RidgeCV as the estimators. Do you have a quick code snippet showing that it doesn't converge on some standard dataset that I can start with?

[2019-08-06 20:31] amueller commented on #14338
#14330, our example that's currently in master.

[2019-08-06 20:40] #12535 closed

[2019-08-06 20:47] sergeyf commented on #14338
Thanks, I'll take a look when work dies down later this week.

On Tue, Aug 6, 2019 at 1:33 PM Andreas Mueller <notifications@github.com>
wrote:

[2019-08-06 21:26] amueller commented on #14570
I think I tagged most of the things that didn't have activity within the last two weeks (those I considered pretty active anyway).
Now there's 192 waiting for reviewer, 82 needs decision, 42 superseded, 60 needs work and 149 stalled.

A bunch of the "needs decision" are deciding whether something is in scope or worth it, and I feel like these should be relatively easy to decide if people want to g

[2019-08-06 21:41] amueller commented on #14578
I agree that it would make sense to have an inverse, but I don't think we really want to add to this module. I feel like this should live in skimage instead

[2019-08-06 21:51] jnothman commented on #12897
The point here is that your stop word list needs to be normalised
(lemmatised, etc) too if you want the entries in that list to be stopped
from your normalised tokens. As far as I can tell the warning is triggered
correctly. But maybe the warning isn't clear enough about how to fix the
problem. Improvement to the message are welcome, but answers on the stack
overflow questions will also help.

[2019-08-06 21:55] jnothman commented on #12897
@h-2-0 I replied on the stack overflow question, but you linked to only one question not two

[2019-08-06 22:09] jnothman opened #14580 "text vectorizers should raise warnings when user params will be unused"
[code]

Similarly warn when:
* `preprocessor != None and callable(analyzer)`
* `ngram_range != None and callable(analyzer)`
...

The warning would be unnecessary if the callable analyzer happens to have been constructed with access to the vectorizer's attributes... but I think we're better off protecting the users from themselves, as it is unclear which parameters are unused given other parameters

[2019-08-06 22:50] jnothman opened #14582 "Separate Contributing documentation from API how-to"
https://github.com/scikit-learn/scikit-learn/blob/doc/developers/contributing.rst currently mixes a lot of discussion of *how to contribute* and *how to develop scikit-learn compatible stuff*. I think we should separate out "Contributing" from "Developing estimators" (this should become a new file in `doc/developers`). I'm not sure which comes first, and there is some content that would be hard to

[2019-08-06 22:54] tolandwehr commented on #14564
@amueller Thanks for the hint! But how would you do this? Aim would be a cross-validation (and even a cross_val_prediction). StackOverflow is, unfortunately, not that swift (and precise) on a specific topic like this, either (already started a post)

[2019-08-07 06:41] anuraglal1 commented on #14351
Is this issue still open? I would like to contribute!

[2019-08-07 07:06] thetric commented on #14577
This weird behavior affects matplotlib 3.1.1 and is gonna be fixed in 3.1.2: https://github.com/matplotlib/matplotlib/issues/14751#issuecomment-511017375

[2019-08-07 07:06] #14577 closed

[2019-08-07 08:06] zwep opened #14583 "Complex values while extracing 2d patches"
#### Description
Extracting 2d patches from image throws an error when feeding a complex valued array.

#### Steps/Code to Reproduce

[code]

#### Expected Results
I would expect, since we are merely *extracting* values from an array, that this operation should run fine.
I am convinced that the `sklearn.utils.validation.check_array` function is too strict in this case. Having run the code without

[2019-08-07 08:13] GuillemGSubies opened #14584 "sklearn.metrics.roc_auc_score docs inconsistency"
#### Description

In the [dev docs](https://scikit-learn.org/dev/modules/generated/sklearn.metrics.roc_auc_score.html#sklearn.metrics.roc_auc_score) I found a pair of inconsistencies.

First there's a note saying that it only works for binary multilabel, but recently multiclass support has been added.

Then, in the multiclass param there's a visual bug:

![imagen](https://user-images.githubusercon