[2020-06-30 14:46] thomasjpfan commented on #17771
I think it is still thread safe. It is still using the file system as the store of state. The monkeypatch to `os.path.join` changes the file it outputs by appending `-lowercase` to the end of the file only during the file generation process.

The error we are getting is that the `-lowercase` version is not begin explicit referenced in the docs, and `autosummary` itself is noticing that some of the

[2020-06-30 14:47] jnothman commented on #17782
what if the first two features are identical, but for random noise. They are also the most important feature. Because the two are redundant, my splits might rank:
[code]

Sum these...
[code]
Not really useful.

RFE is very explicitly an alternative to univariate selection, that will take this conditional dependency into account.

And grid search, which is what's happening, usually works by learnin

[2020-06-30 15:39] FloWPs commented on #17658
Thank you for your answer !

And what do you think of my suggestion to normalize the ```coef_path_``` attribute as well ? I don't really see the point keeping the coefficients from ```coef_path_``` at a different scale than that at which it has been defined for the ```coef__``` attribute.

[2020-06-30 18:19] adam2392 opened #17791 "Possible Feature Request(?): AUC metric and optimism via bootstrapping"
#### Describe the workflow you want to enable
In the computation of AUC, with Confidence intervals, one may either use cross-validation hold-out data (e.g. any of the `<X>-Fold` functions in sklearn).

However, this procedure can be a bit problematic especially in low-sample data settings. In these low-sample data settings, it is sometimes suggested to instead use bootstrapping to estimate the "op

[2020-06-30 19:43] steut001 opened #17793 "add check_is_fitted to sklearn.preprocessing._function_transformer.py"
I would like to propose adding in the feature to have the FunctionTransformer perform sklearn.utils.validation.check_is_fitted during the transform step. Perhaps an attribute like self.fit_=True can be set during the fit step in order to generate an attribute that ends with an underscore. This way, a NotFittedError is raised at the appropriate time when this Function is used.

[2020-06-30 19:55] rpstanley90 opened #17794 "_handle_zeros_in_scale causing improper scaling when using StandardScaler()"
#### Describe the bug

There is no floating point tolerance in function _handle_zeros_in_scale for checking if scale == 0.0. As a result, floating point precision can cause this check to incorrectly fail and not set scale to 1.0. The end result is to potentially have an incorrectly scaled values when using StandardScaler() since the value of scale_ will be near 0 instead of 1, introducing numerica

[2020-06-30 19:55] joshuacwnewton commented on #9661
This enhancement was recently brought up in a meeting between a few of sklearn's core maintainers and students in the MLH Fellowship. @parthivc and I have expressed interest, and @thomasjpfan recommended some starting points for proposing API changes.

### Parameter changes

From what I can tell, replacing Variational Bayes (VB) with a collapsed Gibbs sampler (CGS) shouldn't require any additional

[2020-06-30 20:03] apptimise commented on #17782
- @jnothman I'm still not clear why it's not useful. The final rank translates to `[2, 2, 1, 3]` which shows how features behaved across different folds. Although, all of these are hypothetical examples. So, I'm trying to see if I can generate some data to prove my point.

- BTW, do you have a reference on why/how `RFE` would help with situations such as multicollinearity?

[2020-06-30 20:32] apptimise commented on #17782
Ok, here is an example where the features selected by a voting-based approach can lead to better `r2` score, compared with features selected by current `RFECV` approach. I still use `RFECV` to decide about the number of features to choose, but then instead of fitting it on the whole set, I reduce the `X` using the voting vector, and then compute the score:

[code]
RFECV score 0.6748
RFECV score 0.

[2020-06-30 21:43] jnothman commented on #16798
Thanks, a pull request would me welcome.

[2020-06-30 21:49] amueller commented on #17125
To me reverting to OVR seems pretty drastic, and maybe we should see if we can fix the issue? We could also try using another off-the-shelf scipy solver? I assume the fortran code requires the bounds array even though there are no bounds?

[2020-06-30 22:07] jnothman commented on #17791
sklearn.inspection is about how a model relates to its features. This is
more tied to model_selection. Indeed, this procedure is very close to what
you can do with cross_validate given an appropriate value for cv. It might
be better shown as a usage example rather than new API.

Here are you scoring on training or on test data??

[2020-06-30 22:09] SB6988 commented on #17624
Thanks to @Kiona0405  for the answer.

The explanation sounds correct, however I don't think it's a good choice to have this silent behaviour with this algorithm. Basically, what we are saying here is, the model should learn the parameters on its own, however if the prior is too off it might not converge. This is ok, but then why the score plot shows convergence after a few iteration and still the

[2020-06-30 22:49] jnothman commented on #17794
I agree that this should have some tolerance to correspond to floating
point imprecision in computing the variance. Pull request welcome

[2020-06-30 22:57] jnothman opened #17795 "Labeller action: "PR welcome""
Would it be useful to have an automatic labeller for issues that sees the words "PR welcome" or "pull request welcome" in a comment by a Triage or Core Dev team member? It would then relabel a "Bug: triage" issue as "Bug" and add "help wanted".

[2020-06-30 23:00] jnothman commented on #17782
It doesn't matter how features behave across different folds. It matters
that the final model has the most informative features and minimum model
size.

[2020-06-30 23:26] cbertolasio commented on #7366
@notmatthancock , I am having the same issue.  What would you do if you saw differences in the t values as described above?

In my scenario I have trained on vm1, dumped the model onto the filesystem of vm1, then loaded the model back into a notebook on vm1.  At this point I get the exact same predictions.  However when I take the model from vm1 and put it into a docker container that runs on vm1,

[2020-07-01 00:38] murata-yu opened #17796 "[0.23.1] test_float_precision[True-KMeans] failes on arm(rhel) processors"
#### Describe the bug
On arm processors (AWS:gravition2, rhel), I get the following failure in version 0.23.1
[code]

#### Steps/Code to Reproduce
`pytest -v sklearn/cluster/tests/test_k_means.py::test_float_precision[True-KMeans]`

#### Expected Results
PASSED is thrown.

#### Actual Results
FAILED is thrown.
[code]

#### Versions
[code]

[2020-07-01 00:47] murata-yu opened #17797 "[0.23.1] doctest GradientBoostingClassifier failes on arm(rhel)"
#### Describe the bug
On arm processors (AWS:gravition2, rhel), I get the following failure in version 0.23.1
[code]

#### Steps/Code to Reproduce
`pytest -v sklearn/ensemble/_gb.py::sklearn.ensemble._gb.GradientBoostingClassifier`

#### Expected Results
PASSED is thrown.

#### Actual Results
FAILED is thrown.
[code]

#### Versions
[code]

[2020-07-01 00:55] murata-yu opened #17798 "[0.23.1] AdaBoostRegressor failes on arm(rhel) processors"
#### Describe the bug
On arm processors (AWS:gravition2, rhel), I get the following failure in version 0.23.1
[code]

#### Steps/Code to Reproduce
`pytest -v sklearn/ensemble/_weight_boosting.py::sklearn.ensemble._weight_boosting.AdaBoostRegressor`

#### Expected Results
PASSED is thrown.

#### Actual Results
FAILED is thrown.
[code]

#### Versions
[code]

[2020-07-01 05:56] odidev opened #17800 "Wheel support for aarch64"
**Summary**
Installing scikit-learn on aarch64 via pip using command "pip3 install scikit-learn" tries to build wheel from source code

**Problem description**
scikit-learn don't have wheel for aarch64 on PyPI repository. So, while installing scikit-learn via pip on aarch64, pip builds wheel for same resulting in it takes more time to install scikit-learn. Making wheel available for aarch64 will b

[2020-07-01 06:04] gkevinyen5418 commented on #17339
The default solver of ``liblinear`` is dual-based. According to its [documentation](https://www.csie.ntu.edu.tw/~cjlin/papers/liblinear.pdf) (Section N.4 Selection of Solvers), the dual solver is more suitable for

1. Large and sparse datasets (e.g., documents) under suitable scaling and ``C`` is not too large
2. Data with ``n_samples << n_features``

They recommend to try the dual solver first as

[2020-07-01 07:20] ogrisel commented on #17800
In the mean time you should be able to use the conda-forge distribution using the miniforge installer:

https://github.com/conda-forge/miniforge/#download

The scikit-learn conda-forge package has been built on the aarch64 platform:

https://anaconda.org/conda-forge/scikit-learn/

Although I have never tried it personally.

For wheels, it should be possible to adapt our [wheel building configurati

[2020-07-01 08:05] Armannas opened #17801 "cross_val_predict predictions per fold in GroupKfold"
#### Describe the workflow you want to enable
Currently, cross_val_predict returns an ndarray with all cross-validated predictions. It cannot be traced back which predictions originated from which fold and group.
#### Describe your proposed solution
Is it possible to return the cross-validated predictions per fold with information on which group it originated from? From this, the scores per fold c

[2020-07-01 08:30] jeremiedbb commented on #17796
Thanks for the report. The requested precision for this test is too high. #17802 should fix it.

[2020-07-01 08:36] ogrisel commented on #17800
Closing as a duplicate of #13073.

[2020-07-01 08:36] #17800 closed

[2020-07-01 08:36] jnothman commented on #17801
[code]

[2020-07-01 10:29] odidev commented on #13073
Hi,

Since manylinux2014 has given Linux AArch64 support, I am interested in building/uploading Linux AArch64 wheel to PyPI repository. Please let me know if you are interested.

Thanks

[2020-07-01 10:30] rth commented on #17795
Personally I have been trying to word "PR welcome" more as "would you like to make a PR?" lately. Also if we say PR welcome, sometimes the author would be interested in making a PR and then "help wanted" is not needed.

[2020-07-01 11:13] NicolasHug commented on #17795
Some related discussion: https://twitter.com/stefanvdwalt/status/1276573218317484033

I agree with @rth that automatically tagging with `help wanted` might prevent the issue author from actually submitting a PR if someone else takes it before

[2020-07-01 11:18] #17771 closed

[2020-07-01 12:21] jnothman commented on #17795
Yes, I am happy with a nicer way to phrase it. But the matter here is more
one of setting the triage labels from my email :)

[2020-07-01 12:28] NicolasHug commented on #17779
I think you got it right @yashika51

[2020-07-01 13:18] rth commented on #17795
A bot that switches `"Bug: triage" -> "Bug" if a maintainer comment contains one of
 - 'can confirm'
 - 'PR welcome'
 - "pull request welcome"
 - "can reproduce"
 - "make a PR" | "submit a PR"

sounds reasonable.

[2020-07-01 13:19] Kiona0405 commented on #17624
I understand your feelings. But technically and theoritically, your suggestion is difficult.

Real dataset contains outliers.
In this case, warning is not necessary, I think.

The convergence just means loss function is saturated.
It doesn't say any more than that.
So we have to check model by relative metrics.

Prior assumption is basic concept for Bayesian models.
And every machine learning mode

[2020-07-01 13:47] yashika51 commented on #17779
Thanks for confirming that @NicolasHug :). I am working on this.

[2020-07-01 13:51] timokau commented on #17756
That would be a workaround for the test, but why would that be better? It is less readable (implicit `SGD` default specified with `None`). The question is why specifying `SGD` is prohibited in the first place.

[2020-07-01 14:28] zachmayer commented on #17660
@jnothman so far Xgboost supports boosting linear models and tree based models.  I've requested arbitrary base learner support from [Xgboost](https://github.com/dmlc/xgboost/issues/5802), as well as from [LightGBM](https://github.com/microsoft/LightGBM/issues/3180).

Within Sklearn, adaboost supports arbitrary base learners, which makes me wish GradientBoosting did too.

Here's my use case: I love

[2020-07-01 14:30] zachmayer commented on #17660
Now that I think about it, perhaps there's a different way to frame my problem.  If sklearm's adaboost supported selecting a loss function (e.g. "deviance" vs "exponential" as you can do with GradientBoostingClassifier) then I think I could use adaboost with my custom base learner and deviance loss to get exactly what I want.

Better yet, if adaboost supported arbitrary loss functions than I could

[2020-07-01 14:33] zachmayer commented on #17586
Oops, this is probably a bug, not a feature

[2020-07-01 14:44] NicolasHug commented on #17660
Although developed separately, AdaBoost is basically an instance of GB: it's gradient boosting with exponential loss.

"Adaboost" + a different loss *is* GB.

So yes, if our Adaboost estimator supported different losses it would solve your  use-case, but we couldn't call it `AdaBoost` anymore ;)

[2020-07-01 14:57] rth commented on #17756
A agree that that validation list seems a bit arbitrary. Currently it would pass with int, but fail with np.int32, pass with np.float64 but fail with np.float32.

Maybe we could check for `np.core.numerictypes.genericTypeRank` (excluding object and complex) and also for objects that verify `isinstance(obj, type)` ? We already accept functions so why not class constructors as long as they are not c

[2020-07-01 15:06] zachmayer commented on #17660
@NicolasHug @jnothman what if we made a meta estimator called "Boosting" (to go along with Bagging)?

[2020-07-01 15:12] lucyleeow commented on #14104
Reviving this at it doesn't make sense to encode continuous targets . `type_of_target` is not perfect but we do consistently use it elsewhere to ensure classification targets are provided to classification estimators.

Would you be open to including `type_of_target` in `LabelEncoder` and giving a warning if targets are 'continuous'?

ping @ogrisel

[2020-07-01 15:17] timokau commented on #17756
I have already made some changes locally to produce better error messages and make the test failures a bit more actionable & explanatory. Should I add those relaxations to it and make a PR?

[2020-07-01 16:34] ogrisel commented on #15383
This should finally be fixed by joblib 0.16.0. I tried the reproducer notebook and it works for me.

[2020-07-01 16:34] #15383 closed

[2020-07-01 21:03] rth commented on #17800
Wheels for aarch64 would be great, assuming it doesn't require much maintenance effort on our part. However if there are to be put on PyPi it would make sense to start from dependencies (numpy, scipy). As long as those have to be built from source when running `pip install scikit-learn` having wheels for scikit-learn won't help compilation time much.

[2020-07-01 21:10] rth commented on #17756
Let's wait for one more opinion to confirm (@NicolasHug ?) (maybe I'm forgetting some use case) and then a PR would be very welcome.

[2020-07-01 21:20] rth commented on #17125
Thanks for investigating @jjerphan!

In ["Trust Region Newton Method for Large-Scale LogisticRegression (2008)"](https://www.csie.ntu.edu.tw/~cjlin/papers/logistic.pdf) they demonstrate much faster convergence than LBFGS on RCV1 with sparse data.  We are already use the generic `scipy.optimize.minimize` wrapper so the change of solver should be easy, though unlike for L-BFGS the hessian would also

[2020-07-01 21:37] rth commented on #13073
https://github.com/MacPython/scikit-learn-wheels/issues/61 could be one way to do it long term. But we would still need a CI on the main repo. drone.io  seems promising (it is in particular use by conda-forge). If we can manage to build scikit-learn and run tests there it would already be a step forward. CI is likely a pre-requisite for building wheels. A PR to invetigate would be very welcome you

[2020-07-01 21:57] rubywerman commented on #17125
@rth I'll look into this!

[2020-07-01 22:32] SB6988 commented on #17624
@Kiona0405 thank you for your answer. Yes, of course I know that prior assumption is the very basic idea behind Bayesian frameworks for course. What I meant is the implicit assumption on the hyperparameters. I appreciate that you want to make the Gammas look "almost" like  improper uninformative priors by setting the hyperparameters "almost" equal to 0, however almost in numerics can be dangerous,

[2020-07-01 23:59] rithvikrao opened #17809 "CircleCI Build Broken"
#### Describe the bug

[build_doc.sh](https://github.com/scikit-learn/scikit-learn/blob/master/build_tools/circle/build_doc.sh) is throwing an error for CircleCI checks, like in #17560. Output for this workflow can be found [here](https://app.circleci.com/pipelines/github/scikit-learn/scikit-learn/5025/workflows/8130dc23-2049-427f-bd3b-3c042107ed1d/jobs/110802/steps), and this contains the full tr

[2020-07-02 00:22] Kiona0405 commented on #17624
I understand implicit default value is not user-friendly.
But it could be personal preference.
So I can't determine which one is better. If you want to get rid of it, please make pull request.

My idea is just use parameter-tuning(ex, random search.) outside of this function.

[2020-07-02 01:03] #17809 closed

[2020-07-02 02:34] yangfeiran opened #17810 "Why not random matrix draw from the 1.0 / n_feature scale?"
As can be seen from here: https://github.com/scikit-learn/scikit-learn/blob/fd237278e895b42abe8d8d09105cbb82dc2cbba7/sklearn/random_projection.py#L163

It says:
The components of the random matrix are drawn from
        N(0, 1.0 / n_components).

I wonder why the scale is not according to the Dimensionality of the original source space. But it is related to the Dimensionality of the target project

[2020-07-02 07:44] mitar commented on #17566
Thank you for opening this issue. I can share a bit of our experience in the D3M program where we are working on AutoML tools, including use of sklearn for AutoML. I think distinguishing model and config parameters is useful, but as already noted in other comments, it is hard to draw a line and some parameters are both. To address all that, we allow parameters to belong to more than one category.

[2020-07-02 07:55] jnothman commented on #17810
That's in accordance with the theory of random projections, to approximate the Euclidean distance of the higher dimensional space in the lower dimensional space

[2020-07-02 07:56] #17810 closed

[2020-07-02 08:22] jnothman commented on #17566
Really helpful input. I would still like them to be grouped in numpydoc sections if possible... Or maybe we just need to be able to display them with bootstrap-style labels as we have done with our change log. Maybe it's easy to just add such tags to each parameter docstring and then be able to extract such annotations... Or make it machine readable first.

[2020-07-02 08:26] mitar commented on #17566
Hm, grouping is hard if parameter belongs to multiple categories. :-) And yes, let's make it machine readable first.

[2020-07-02 09:19] jeremiedbb commented on #12401
I'm thinking that we should deprecate 'legacy' right away. Then the plan is

- 0.24: `square_distance={True, 'legacy', 'warn'}`. 'legacy' deprecated
- 0.26: `square_distance={True, 'warn'}`. square_distance deprecated
- 0.28: remove square_distance

What do you think ?

[2020-07-02 10:16] odidev commented on #13073
@rth, I will work on it and update you.

[2020-07-02 10:37] jnothman commented on #17566
If you had sphinx-friendly shorthand in docstrings, like `|control|`, `|tuning|`, `|resources|`, it would not be hard to make it machine readable, while keeping the annotations together with the parameter listing.

[2020-07-02 12:09] d3b0unce commented on #17626
I tried to see if `argpartition` can be used inside `_dcg_sample_scores` in place of the `argsort`.
I've made the following change:
[code]
From the test cases I've run, the above change seems to produce identical ndcg scores as compared to the `argsort` based method.

Benchmark
---------
Dataset used for benchmark:
[code]

Benchmark code:
[code]

Benchmark result:

| method         | k = 100

[2020-07-02 13:43] NicolasHug commented on #17586
Thanks for the report @zachmayer

The discrepancy comes from `_is_empty_column_selection` which knows how to deal with masks full of `False` when they're numpy arrays, but not when they're lists.

If you use

[code]

you should get the same results as when you pass an empty list

I'm not quite sure why we decided to allow for empty lists and all-False masks instead of errorring, but I guess we do

[2020-07-02 13:46] Rish001 commented on #11581
Hi can I work on this?

[2020-07-02 13:48] PGuti opened #17813 "Improving Mahalanobis distance KNN speed"
#### Describe the workflow you want to enable:

KNN usage with Mahalanobis can become rather slow (several seconds per test datapoint) when the feature space is large (1500 features). Even if the training set is small (100s of images)

#### Describe your proposed solution:

Mahalanobis distance computes d = (x-y)T VI (x-y) for each x in the training set.

If we develop we get d = xT.VI.x + yT.VI.y

[2020-07-02 14:25] gimseng opened #17814 "l1_ratio in sklearn.linear_model's ElasticNet greater than 1?"
I accidentally ran ElasticNet (from sklearn.linear_model) for l1_ratio >1, and no error or warning was raised. From the docsstring, it says that ``0 < l1_ratio < 1``. Should we raise a ValueError or something? Found this with @mathurinm.

If this turns out to be something to be done, I could help out if someone could point me towards the right direction. Thanks !

p/s: Not sure if this should be u

[2020-07-02 14:33] adam2392 commented on #17791
Well the advantage is that this is actually a different estimation procedure then cross_validate. Since the point is to score and train on  the entire dataset, but use bootstrapping  to correct for the "overly-optimistic" AUC. This is mainly for low-sample sizes (since then cross_validate hurts a lot), else for intermediate sample sizes and large sample sizes, one can use  `cross_validate`.

I'm o

[2020-07-02 14:36] zachmayer commented on #17586
This fixes the problem for me, thank you!
[code]

However, the inconsistency still bothers me.  I'd be happy to submit a PR to make them consistent!

[2020-07-02 14:48] rth commented on #17814
Yes, as far as I can tell there is no input validation of the `l1_ratio` range. A PR would be very welcome. Just please check if it's also an issue for other public functions/estimators that take `l1_ratio` as input (which also might need fixing).

[2020-07-02 14:49] PavloFesenko opened #17815 "Wrong equation for standard error of the mean"
#### Describe the issue linked to the documentation

In the User Guide for [permutation importance](https://github.com/scikit-learn/scikit-learn/blob/fd237278e895b42abe8d8d09105cbb82dc2cbba7/doc/modules/permutation_importance.rst), the second code block uses `2 * r.importances_std[i]` to estimate 95% confidence interval. As far as I understand, instead of 2 * standard deviation it should be 2 * st

[2020-07-02 15:16] DomHudson opened #17816 "Feature selector instances are too heavy-weight"
## Definitions
By "selectors", I'm referring to the set of classes that implement [`sklearn.feature_selection._base.SelectorMixin`](https://github.com/scikit-learn/scikit-learn/blob/fd237278e895b42abe8d8d09105cbb82dc2cbba7/sklearn/feature_selection/_base.py#L17).

Examples are:
- `SelectKBest`
- `VarianceThreshold`.

## Summary

I'd like to suggest either:
1. modifying these "selectors" **to save

[2020-07-02 15:57] zachmayer commented on #17586
I think the fix needs to be applied here: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/compose/_column_transformer.py#L357

I just gotta figure out what to do about it.

[2020-07-02 16:00] NicolasHug commented on #17586
I would be surprised if `get_feature_names()` were the place for a fix @zachmayer .
As mentioned above I think this should rather be dealt with in `_is_empty_column_selection()`

[2020-07-02 16:19] candalfigomoro opened #17817 "Add silhouette width using generalized mean"
#### Describe the workflow you want to enable
According to https://scikit-learn.org/stable/modules/clustering.html#silhouette-coefficient

This seems to be true for all scores (available in sklearn) that are usable when ground truth labels are not known, and it could be an issue when you try to evaluate clusters obtained through algorithms such as DBSCAN and OPTICS.

#### Describe your proposed so

[2020-07-02 16:25] joshuacwnewton commented on #12401
Just to demonstrate, then, from 0.24-0.26 the warning would look something like:
[code]
And from 0.26-0.28 the warning would look something like:
[code]
Does that seem reasonable?

[2020-07-02 16:30] mitar commented on #17566
@jnothman For that, I like https://github.com/scikit-learn/scikit-learn/pull/17799 which does the opposite. Moves metadata out and then update docstrings from the metadata instead.

[2020-07-02 16:56] zachmayer commented on #17586
yup I agree.  I got a little confused looking at the PR for empty list handling.

[2020-07-02 17:04] zachmayer commented on #17586
Yeah I see the issue: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/compose/_column_transformer.py#L660

So the logic checks for:
1. boolean numpy array that is all False
2. empty list

My case is a new one: list of all False.  Do we want to support "list of boolean" for column selection?  If so, I can make a PR to update this method.

[2020-07-02 17:25] pesuchin commented on #17394
Hello, can I work on this ?

[2020-07-02 17:26] NicolasHug commented on #17586
Yes, though instead of having an additional extra case, maybe we can merge it with the one above about arrays. I'm not quite sure why `_is_empty_column_selection` was written the way it is, but tests will tell us what should be done. Feel free to submit a PR with a first version @zachmayer and we can iterate from there

[2020-07-02 17:50] NicolasHug commented on #17816
I'm not sure about the name of the parameter, but I think we could consider a flag for having lighter selectors. We should also document that the corresponding attributes aren't available when the flag is True.

If we start storing the selected indices instead of an array of shape n_features, we'll also need to re-consider how `get_support()` and `_get_support_mask` interact with each-other

[2020-07-02 18:48] zachmayer commented on #17586
@nicholashug I made a PR here: https://github.com/scikit-learn/scikit-learn/pull/17818

Please let me know what you think!

[2020-07-02 18:53] amueller commented on #17816
Thanks for opening the issue?
Why is using indices a decrease in model interpretability? This is just storing a dense vs a sparse vector, right?

In principle, using a selector here is not really needed, and you'll get less memory footprint if you just don't do selection.

Still, it would be nice to support a sparse mask / indices. The linear models have a "sparsify" method:
https://github.com/sci

[2020-07-02 19:01] NicolasHug commented on #17816
@amueller you'd be fine with `est.sparsify` basically delete the `variances_` attribute? I think I'd still prefer having an `__init__` parameter for this, because it would also allow us to avoid computing e.g. `pvalues_` (which isn't needed to know the selected indices). With a call to `sparsify()`, the attribute will still be computed even though it will never be used

[2020-07-02 19:50] amueller commented on #17816
How would you not compute the ``pvalues_``? They are returned from ``score_func``.

[2020-07-02 20:22] NicolasHug commented on #17816
Ah indeed.

I still find that deleting an attribute would be a surprising consequence of calling a method called `sparsify` though. `sparsify()` for the linear models only converts `coef_` to a sparse matrix but does not delete anything

[2020-07-02 21:04] rithvikrao commented on #17125
@rth @amueller Thanks for the direction! @rubywerman and I are working on this and were thinking that we could simply change the default `solver` to a new `trust-ncg` option if `multi_class="multinomial"` and `X` is sparse. As you say this can be done by changing the solver in the `scipy.optimize.minimize` wrapper.

Two questions:

1. Does this sound like a good solution, or would this require som

[2020-07-02 21:07] amueller commented on #17816
yes, I think I wouldn't delete the attributes but replace the values which correspond with dropped features with zeros and make the arrays sparse.

[2020-07-02 22:18] jnothman commented on #17816
Are we sure this is not just a case where the user really just wants a safe
way to export a compact predictive model, i.e. onnx might be a better pick?

[2020-07-02 23:45] jnothman commented on #17626
Why are you testing on so few samples?

And do we really want to test for as many as 60000 classes?

[2020-07-02 23:49] jnothman commented on #17791
cross_validate does not forbid having identical train and test data.

[2020-07-03 00:01] jnothman commented on #12401
I'm okay with this plan. We might just end the deprecation early with a
version 1.0 though :)

[2020-07-03 00:02] jnothman commented on #17566
well I'm okay with including the categorisation of parameters as
annotations on the params, but that makes the annotations very heavy...

[2020-07-03 01:19] jnothman commented on #17394
what version are you using?

[2020-07-03 01:50] d3b0unce commented on #17626
@jnothman, if I understand it correctly, the argsort (also argpartition) is happening along `axis=1` - the dimension of classes. So, for each sample, we are selecting the top `k` scores to calculate ndcg score. I wanted to verify if `argparition` would provide any performance benefits in selecting the top `k` scores when you have a large number of scores/classes.

[2020-07-03 01:54] pesuchin commented on #17394
I was able to reproduce this in the following environment.

[code]

[2020-07-03 03:24] joshuacwnewton commented on #12401
Good to hear. I've made the changes to remove`'legacy'` by 0.26 in 923c90daf2a6f351e9f0d9dbdb7b3416e4e6c014. :)

[2020-07-03 07:01] marenwestermann commented on #17302
@saurabhsjain Do you plan to continue working on this?

[2020-07-03 07:04] saurabhsjain commented on #17302
no.

[2020-07-03 07:06] saurabhsjain commented on #17302
@marenwestermann no.

[2020-07-03 09:14] marenwestermann commented on #17302
Ok, thanks. I'm working on the remaining modules now.

[2020-07-03 12:52] cmarmo commented on #16685
Merging #17670 removed this error, but the build is still affected by an ImportWarning:
[code]
I suppose I should move to ignoring `ImportWarning` from scipy...

[2020-07-03 13:00] a-wozniakowski opened #17821 "Stacking does not adhere to scikit-learn conventions"
If I test either ```MLPClassifier``` or ```MLPRegressor``` with ```check_estimator```, then there is no issue. However, these neural networks cause ```StackingClassifier``` and ```StackingRegressor``` to fail the estimator check.

Here is the simplest code with which I encounter the issue:
[code]

Note that the neural networks will cause an issue as either argument, so I used them as both the firs

[2020-07-03 14:37] nilslacroix opened #17824 "Saving estimators with ALL parameters"
#### Describe the workflow you want to enable
I want to save estimators (for example the best estimator of GridSearchCV) with ALL paramters.

When I save estimators at the moment like this:

gscv = GridSearchCV(estimator = pipeline, ...)
est = gscv.best_estimator_

The variable "est" will only inherit those values from .best_estimator_ which are different to the default value.
If I use a kernel 'r

[2020-07-03 14:57] gimseng commented on #17814
@rth Thanks for the comment. It turns out that in ``sklearn/linearmodel/_logistic.py``, there is a ``ValueError`` raised:
[code]

Furthermore, there is a function in ``sklearn/linearmodel/test/test_logistic.py`` called
``test_l1_ratio_param`` which tests that. I'm going to copy both of these (the error raising and testing) to the Elasticnet implementation in ``sklearn/linearmodel/_coordinate_desce

[2020-07-03 15:34] crypdick opened #17826 "Jaccard UndefinedMetricWarning gives bad advice"
#### Describe the bug
If you run jaccard with no true positives or predicted true labels, it gives the following warning:

[code]

I tried to heed the warning's advice. I tried adding `zero_division=1` but then get this error:

[code]

Given the first warning, I expect jaccard to have a zero_division kwarg.

#### Versions
[code]

[2020-07-03 15:39] crypdick commented on #17826
<details>
  <summary>Suggested patch:</summary>
<p>

[code]
</p>
</details>

[2020-07-03 15:43] cmarmo commented on #16651
A new warning has showed up after the merge of #17599. (transformed in error in the [build](https://dev.azure.com/marmochiaskl/scikit-learn/_build/results?buildId=476&view=logs&j=13650d7c-49e8-54f3-0598-c3480d1c1e4f&t=97f2162d-a0c4-54dc-9fce-2fceef7172e3) of my test PR)
[code]
@glemaitre, is that expected? Thanks!

[2020-07-03 16:25] lucyleeow opened #17827 "BUG CalibratedClassiferCV when train has less classes than test"
#### Describe the bug
This may be very uncommon and not a big problem.

For `CalibratedClassiferCV`, if the training subset has less classes than the test subset in a cv, e.g.,:
[code]
this classifier (from the ensemble) will only be fit for 2 classes. At prediction time, the output of this classifier will have shape (n_samples, 2) as it can only predict 2 classes. The 3rd class proba's will be fi

[2020-07-03 16:32] NicolasHug commented on #17827
I'm not sure we want to care about this because users should use `StratifiedKFolds`, and in general I wouldn't expect calibration to be useful with so few examples which is when such discrepancies might happen

[2020-07-03 16:35] lucyleeow commented on #17827
No problem, happy to close! It is indeed a very edge case.

[2020-07-03 16:35] #17827 closed

[2020-07-03 17:08] glemaitre commented on #16651
Nop. this is coming from line 97: https://github.com/scikit-learn/scikit-learn/blame/master/sklearn/datasets/tests/test_common.py#L97

Apparently `pytest.mark.basic` does not exist. I blindly believed that it was defined following the doc: https://docs.pytest.org/en/stable/example/parametrize.html#set-marks-or-test-id-for-individual-parametrized-test

But most probably it was a custom marker. Basi

[2020-07-03 17:25] glemaitre commented on #16651
I have hope that https://github.com/scikit-learn/scikit-learn/pull/17828 will solve the issue

[2020-07-03 17:38] zachmayer commented on #16424
FYI- for those coming in through search, the stack overflow answer is here: https://stackoverflow.com/a/52246180/345660

[2020-07-03 17:40] glemaitre commented on #17821
Basically this more complex than that. Stacking estimators are meta-estimator and they support `sample_weight` until the underlying estimator is supporting `sample_weight`. The common test check if the estimator accepts the `sample_weight` keyword which is the case for the Stacking. However, it will raise an error with MLP estimators because they don't support `sample_weight`. So everything is fin

[2020-07-03 17:40] #17821 closed

[2020-07-03 17:42] glemaitre commented on #17793
The `FunctionTransformer` is a stateless transformer meaning it does not require to be fitted indeed.
This is written in the documentation.

[2020-07-03 17:42] #17793 closed

[2020-07-03 17:43] cmarmo commented on #16651
@glemaitre, feel free to open a PR to my [test-fails-on-warnings](https://github.com/cmarmo/scikit-learn/tree/test-fails-on-warnings) branch to check if the warning is gone.

[2020-07-03 17:44] glemaitre commented on #17788
I cannot reproduce on linux.

[2020-07-03 17:48] glemaitre commented on #17824
Up to now, we don't support officially pickling-unpickling across scikit-learn version. Then, I am not sure that we will have solution here. However, if you are using only the `predict` part (you don't want to refit your model), I think that using ONNX will be helpful.

[2020-07-03 18:40] chkoar opened #17829 "Both braches of an if-else statement yield the same thing"
#### Describe the bug
In  the `_iter` method `Pipeleine` we yield the same thing in the two braches of the if-esle statement.

#### Steps/Code to Reproduce
https://github.com/scikit-learn/scikit-learn/blob/ffbb1b4a0bbb58fdca34a30856c6f7faace87c67/sklearn/pipeline.py#L182-L186

#### Expected Results

#### Actual Results

#### Versions

[2020-07-03 19:06] Neetu162 opened #17830 "TypeError: can't pickle _thread.RLock objects while using cross_validate"
HI,

I am getting this error while using the cross_validate function @ https://github.com/Neetu162/DeepLearningResearch/blob/677d1ddeb6f345716a457b977c26cbe14efa7bb0/Demo/classify_demo.py#L83

[code]

[2020-07-03 19:17] thomasjpfan commented on #9661
We can use `learning_method='gibbs'` to trigger the new method.

I think we can keep `n_components` as out default of 10. As for `max_iter` it would need to be set to `'auto'`, as gibbs sample would need a lot more iterations for it to get enough samples to produce something meaningful. For Gibbs sampling, there is traditionally some burn in period and I think this should be a parameter.

I was th

[2020-07-03 19:34] glemaitre commented on #17830
Is your model pickable?

[2020-07-03 19:43] Neetu162 commented on #17830
This is how the model is getting created .... Pardon my python as I am still much of a novice and trying to make thing work.

[code]

[2020-07-03 20:16] MysteriousAcadia commented on #16938
This issue is resolved. Please close it.

[2020-07-03 20:33] mitar commented on #11336
Just 2 cents here: I was heavy user of flake, pycodestyle, and other tools on my Python projects with many students working on them. I wanted that students learn good code style and that code is consistent as everyone was participating on just parts of it. The downside was that students spend so much time trying to fix those style issues because even if those tools detect issues, authors do not ne

[2020-07-03 20:35] #16938 closed

[2020-07-03 22:21] Neetu162 commented on #17830
I was able to get past the error and is not stuck with another issue with the cross validate itself.

[code]

[2020-07-03 22:28] Neetu162 opened #17831 "cross_validate and ValueError: The first argument to `Layer.call` must always be passed."
Hi,

I am trying to use cross_validate. I had initial hiccup due to pickable and was to get past that. Still I am not able to get the cross_validate to work.

Git Link: https://github.com/Neetu162/DeepLearningResearch/blob/76675a79a4922b8bd0d722ab2e4cad448a8d8c76/Demo/classify_demo.py#L106

Error:

[code]

[2020-07-03 22:29] Neetu162 commented on #17830
@glemaitre

Opened another issue for that #17831

Please provide your valuable input on the issue #17831

[2020-07-03 22:29] #17830 closed

[2020-07-03 22:37] joshuacwnewton commented on #9661
Thanks much for the response, @thomasjpfan!

To clarify, for sklearn, does `'auto'` mean the value is selected depending on another choice, i.e. `learning_method`? I'm looking at the usage of 'auto' in [this estimator (`multi_class`)](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html) to try to understand.

[2020-07-04 06:52] sincak commented on #4272
It was deprecated in 0.22. Duh...

[2020-07-04 08:55] #17700 closed

[2020-07-04 09:24] #17796 closed

[2020-07-04 10:01] lorentzenchr commented on #17027
Any comment from a core developer is very welcome. Especially regarding the question whether it is worth to start a PR.

[2020-07-04 10:13] lorentzenchr commented on #16715
The current state seems to be that contributions in form of user guide sections and examples are welcome as @rth pointed out:

[2020-07-04 10:26] lorentzenchr commented on #16641
Ideally, #15123 would solve this issue.

[2020-07-04 10:29] abhimanyunegi opened #17832 "os error, winerror196 'sklearn' not working properly"
Hello, everyone, I am a beginner in python and I was just learning and doing some machine learning project but, it prompts this:-
    from sklearn import linear_model
  File "C:\Users\abhim\AppData\Local\Programs\Python\Python38-32\lib\site-packages\sklearn\__init__.py", line 80, in <module>
    from .base import clone
  File "C:\Users\abhim\AppData\Local\Programs\Python\Python38-32\lib\site-packa

[2020-07-04 11:24] #10708 closed

[2020-07-04 12:06] jnothman commented on #17826
Thanks.. Must have been an omission in introducing zero_division elsewhere.
A pull request with your patch and a test is welcome

[2020-07-04 12:08] d3b0unce commented on #8730
@jnothman, is it okay if we make the following change inside `column_or_1d` in `validation.py -
[code]
This takes care of the `np.ravel(y)` later on for that particular column. Here we're only converting a single column to dense as opposed to converting the whole array at input time.

[2020-07-04 12:15] rth commented on #17027
I'm not very familiar with the topic, so I can't comment on practical considerations. I have used splines for interpolation in the past but not so much in the ML context. Overall it seems to be a fairly standard and well established approach that would pass the inclusion criteria.

I'm a bit surprised spline regression isn't more mainstream in the python ML  ecosystem. In particular, I can't find

[2020-07-04 12:40] lorentzenchr commented on #15651
Is the current behaviour for regression metrics to divide by `sum(sample_weight)` ok for everyone? For me, it seem so. If yes, we could close this issue, maybe add a few comments to the user guide.

[2020-07-04 12:44] lorentzenchr commented on #15881
Is this something scikit-learn would consider implementing and is a PR worth the effort? A short comment from a core developer would be very welcome.

[2020-07-04 17:10] thomasjpfan commented on #9661
Yes it would be dependent on the `learning_method`.

[2020-07-04 17:45] m-vd commented on #15761
Hi, may I try to take the remaining on `sklearn.tree`? This would be my first time contributing as well.

[2020-07-04 18:05] mobigelow commented on #15761
Thanks for checking in, great to have your help! Please proceed; I think all of our sprint updates have been closed out.

[2020-07-04 19:51] jnothman commented on #17824
I wonder if this is a misunderstanding of print_changed_only=True. All
parameters are saved. Check best_estimator_.get_params()

[2020-07-04 20:35] #17592 closed

[2020-07-04 22:49] franslarsson commented on #15761
Hi, I would like to make my first contribution. Can I take sklearn.multioutput?

[2020-07-04 23:06] thomasjpfan commented on #17027
Me and @amueller have been interested in splines in the context of GAMs which would start with 1-D splines for each feature. I have been planning on pushing this forward for scikit-learn.

- [R's mgcv](https://www.rdocumentation.org/packages/mgcv/versions/1.8-31/topics/gam)
- [How Interpretable and Trustworthy are GAMs?](https://arxiv.org/pdf/2006.06466.pdf)

[2020-07-04 23:10] jnothman commented on #11336
Thanks. I think the general consensus at the last dev meeting was that,
while several of us would grieve our loss of aesthetic freedom, this would
be a valuable way to lower the bar to entry, and none of us would be
strongly against. I think what needs clarification is the path to
transition.

[2020-07-04 23:48] jnothman commented on #17831
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

This question appears to be about keras, not scikit-learn

[2020-07-05 08:48] adrinjalali commented on #17832
Please use stack overflow for usage questions. This issue tracker is to report issues with the library. You can also check our website for guidelines on how to install the library.

[2020-07-05 08:48] #17832 closed

[2020-07-05 08:49] #17831 closed

[2020-07-05 09:51] alfaro96 opened #17836 "Wrong estimator tags for LogisticRegression"
#### Describe the bug

The estimator tags for `sklearn.linear_model.LogisticRegression` are wrong because the `_get_tags` method uses the following resolution order for this estimator:

[code]

Thus, `sklearn.base.BaseEstimator` is replacing the estimator tags defined in `sklearn.base.ClassifierMixin` (e.g., `requires_y`).

#### Steps/Code to Reproduce

[code]

#### Expected Results

[code]

####

[2020-07-05 10:18] lorentzenchr commented on #17027
@rth

[B-splines](https://en.wikipedia.org/wiki/B-spline) are just a numerical convenient 1-D basis for splines and available in [scipy](https://docs.scipy.org/doc/scipy-1.5.0/reference/generated/scipy.interpolate.BSpline.html). You can represent a [smoothing spline](https://en.wikipedia.org/wiki/Smoothing_spline) = natural cubic spline in form of a B-spline.
While smoothing splines have indeed ni

[2020-07-05 10:19] rth commented on #17836
Yes, `BaseEstimator` should be last when inheriting. It looks like it was left out from https://github.com/scikit-learn/scikit-learn/pull/14884. A PR would be very welcome to fix it. Thanks for identifying this.

[2020-07-05 10:29] rth commented on #17836
Actually there are also a few other estimators where this also needs to be done,
[code]
probably better to do that in a separate PR.

[2020-07-05 10:34] alfaro96 commented on #17836
Yep, it would be better to change the MRO for this estimators in a separate PR.

Working on this!

[2020-07-05 10:35] rth commented on #17836
@alfaro96 Including them in the PR that you just opened is also fine.

[2020-07-05 10:44] jnothman commented on #8730
Usually we would not silently make a sparse array dense. Is it reasonable
to make the same transformation just within multioutput.py?

[2020-07-05 10:46] jnothman commented on #15651
I'd be happy to see a note in the metrics docs about the invariances that
should hold under sample_weight, and how that therefore applies to
regression metrics.

[2020-07-05 10:50] jnothman commented on #15881
I don't feel very confident to speak to this without more research or
experimentation. When would you say this is likely to be useful / not?

[2020-07-05 10:52] alfaro96 commented on #17836
A few more located with:

[code]

After removing the false positives (e.g., imports).

[2020-07-05 11:03] #2237 closed

[2020-07-05 11:13] adrinjalali commented on #17829
Yes, but one `yield`s all steps and the other only the ones which are not `passthrough`. I don't see an issue, could you elaborate what the issue is that you see?

[2020-07-05 11:25] adrinjalali commented on #17824
"saving" is not well-defined in this issue. As @jnothman mentions you should set `print_changed_only` config to False if you want to print all parameters, or get the parameters with `get_params`. And if by saving you mean pickling, we don't support that between scikit-learn versions. If you need to save the models for serving purposes, looking into ONNX may be more useful to you.

[2020-07-05 11:25] #17824 closed

[2020-07-05 11:48] adrinjalali commented on #17817
silhouette_score already accepts a `metric` param which you can use to pass any of the metrics we have in sklearn, or even a callable (function), and the extra metric parameters through the `**kwargs`. So it seems to me that we already have what you need?

[2020-07-05 11:52] #17836 closed

[2020-07-05 12:30] adrinjalali commented on #17815
Ping @thomasjpfan

[2020-07-05 12:33] adrinjalali commented on #17813
Depending on the code complexity and the performance improvement of the solution, we could consider including it.

[2020-07-05 15:16] lorentzenchr commented on #17027
@thomasjpfan I like splines not so much for their interpretability, but for their flexibility in modelling continuous features in a smooth and controllable way (good mix between manual and automatic). As a counterexample, the fashionable and trendy decision tree based methods have discontinuities all over the place. Depending on the application, this may be a concern.

[2020-07-05 15:32] lorentzenchr commented on #15881
If your goal is to predict the expectation E[Y|X] and for some reason transforming Y before fitting is favorable, then I'd say it is **always** useful and even **strongly** advised from a statistical point of view.

In the example above&mdash;which I should  maybe replace with the diamonds dataset&mdash; the bias corrected versions don't show any disadvantage that I'm aware of.

[2020-07-05 15:34] Neetu162 commented on #17831
I did post on stackoverflow. If you can be kind enough, please do help me.

@jnothman @adrinjalali @glemaitre

https://stackoverflow.com/questions/62724083/cross-validate-and-valueerror-the-first-argument-to-layer-call-must-always-be?noredirect=1#comment110934038_62724083

[2020-07-05 16:27] thomasjpfan commented on #17815
The User Guide update was added in https://github.com/scikit-learn/scikit-learn/pull/16402/

In the case of the user guide, it does not explicitly state that it is estimating a confidence interval. It is using the  2 * standard deviation as a heuristic to filter out features. One standard deviation is shown when printing out the `mean +/- std`.

It may be worth it to switch to using standard error

[2020-07-05 16:33] thomasjpfan commented on #15881
Is there a reference comparing the different options for bias correction?

[2020-07-05 17:27] lorentzenchr commented on #15881
Unfortunately, I'm not a domain expert here nor do I know a reference. Maybe, if we ask kindly enough, @robjhyndman or @mayer79 could have a look and help out?

My understanding is, that the bias corrected inverse Box-Cox transformation has at least a theoretical advantage over the simple global correction factor approach: It is a true second order correction, potentially different for every sampl

[2020-07-05 17:31] thomasjpfan commented on #17784
By looking at the [source](https://scikit-lego.readthedocs.io/en/latest/_modules/sklego/dummy.html#RandomRegressor) the `RandomRegressor` is using statistics and then sampling from a normal or a uniform using those statistics.

What is the benefit of using this sampling approach over the current strategies?

[2020-07-05 17:50] thomasjpfan commented on #17658
This makes sense, but it will break backward compatibility. Maybe @rth or @agramfort can comment on this?

[2020-07-05 18:20] thomasjpfan commented on #17458
In this case "expected" means that if `y` is not centered, then the predictions from the model is most likely poor:

[code]

[code]

[2020-07-05 18:29] thomasjpfan commented on #14104
I think the only issue I would have with `type_of_target` is that is does calls `np.any(y != y.astype(int))` and `np.unique`, which adds some overhead.

https://github.com/scikit-learn/scikit-learn/blob/fd237278e895b42abe8d8d09105cbb82dc2cbba7/sklearn/utils/multiclass.py#L285-L290

[2020-07-05 19:20] zahs123 commented on #13086
hi has this been resolved? i am alos having same issue

[2020-07-05 19:29] #2688 closed

[2020-07-05 19:54] thomasjpfan commented on #17756
This part of the check feels very restrictive. I believe the point is to make sure that the estimator can be constructed by completely based on the `__init__` parameters. In the case of `optimizer=SGD`, the check only needs to know if `SGD()` is works.

This feel like this can get more complicated if the parameters start to depend on each other. For example in the original post:

[code]

What if `

[2020-07-05 20:10] koaning commented on #17784
I suppose that what I am proposing here is *a* sampling strategy but I am certainly open to discussion which is the most preferable. It could also be stratisfied sampling just like in the `DummyClassifier`. The main idea is that if your model is doing no better than a random process that you could argue it is not at all a good model.

[2020-07-05 20:19] bfeeny commented on #13621
Is it possible to try this out? I tried to cut and paste with some of the various dependencies but it was never ending.  I would love to give this class a try in my project.  Just trying to see if there is a way available now to do that.

[2020-07-05 20:28] yashika51 commented on #17458
Thanks for clarifying that @thomasjpfan. Do we want to add a very small explanation in the documentation for this?

[2020-07-05 20:55] thomasjpfan commented on #17458
If we can make point more clearly, it would be helpful.

[2020-07-05 21:00] yashika51 commented on #17458
Great, I'll update the PR with the required changes.

[2020-07-05 22:46] robjhyndman commented on #15881
It can also be done numerically. This is how bias correction is handled in fabletools (for R) so that any transformation can be used: https://github.com/tidyverts/fabletools/blob/master/R/transform.R#L102

[2020-07-05 23:15] thomasjpfan commented on #17784
To clarify my question: Lets say we go with the `RandomRegressor` as is, when would I recommend `RandomRegressor` over `DummyRegressor`? They seem to solve the same problem: "if its not better than ______, then it is not a good model."

[2020-07-06 01:37] jnothman commented on #17027
I think a lot of the feature-based machine learning community could learn
more about spline bases in predictive modelling, and it would be valuable
to have these available and discussed.

[2020-07-06 01:38] jnothman commented on #17831
If it was our area of expertise, we might, but the error is not even
happening in this package.

[2020-07-06 01:55] thomasjpfan commented on #16685
We normally do not set `-Werror` and use `-Werror::DeprecationWarning -Werror::FutureWarning`.

The import warning is strange given that it came from import `issparse`.

[2020-07-06 02:06] tomaszps opened #17845 "TimeSeriesSplit extension"
#### Describe the workflow you want to enable
At present, the timeseries splitter is intended to be used with data which occur at a specific point in time. I would like to propose (and implement) an extended version of the splitter which handles temporal splits for extended duration events- specifically with support for preventing any overlap of train and test set events.

The scenario I have is t

[2020-07-06 06:42] PavloFesenko commented on #17815
I agree that's 95% confidence interval isn't explicitly mentioned but in my opinion the heuristic of 2 * standard deviations is quite illogical here. Mean +/- 2 * standard deviations show the interval where 95% of the values from the sampling distribution are situated. Mean +/- 2 * standard error of the mean show the interval where 95% of the **mean values** from the sampling distribution are situ

[2020-07-06 07:18] candalfigomoro commented on #17817
@adrinjalali
You can still use the `metric` param to pass any of the metrics we have in sklearn. What changes is how averages are computed.

[2020-07-06 08:58] adrinjalali commented on #17817
I'd be open to considering its inclusion if there's a PR and the change is simple and maintainable enough, and benchmarks to show its effectiveness. But I'd wait for at least a second opinion first, considering the article has only 1 citation I could find.

Maybe @amueller or @ogrisel could have a look?

[2020-07-06 11:42] DomHudson commented on #17816
Thank you very much for all the engagement in this ticket!

@jnothman  Thanks for your response! Agreed that exporting to a compact format like ONNX would probably satisfy the need. I suppose it comes down a design decision on how much of a focus there is on model size and memory use. I do think these pipeline components in particular are surprisingly heavy.

[2020-07-06 12:15] #17751 closed

[2020-07-06 12:30] jnothman commented on #17845
Every feature we include has a maintenance cost. Our maintainers are mostly
volunteers. For a new feature to be included, we need evidence that it is
often useful and, ideally, well-established in the literature or in
practice. That doesn't stop you implementing it for yourself and publishing
it in a separate repository, including in related projects such as scikit-learn-contrib or scikit-learn-ex

[2020-07-06 12:33] #15012 closed

[2020-07-06 12:33] #17333 closed

[2020-07-06 13:39] #17845 closed

[2020-07-06 14:37] #15573 closed

[2020-07-06 17:28] corynezin opened #17852 "Add Timeout to RandomizedSearchCV"
#### Describe the workflow you want to enable

When running large search, I would like some way to ensure it is complete in a timely manner, say 1 day.  In some of my recent search jobs, some hyperparamter combinations unpredictably result in very large training times (3+ hours) while others complete in minutes, making the overall time very hard to predict.

#### Describe your proposed solution

I

[2020-07-06 17:50] raybellwaves opened #17853 "Feature request: add absolute=True/False to regression metric mean_absolute_error"
Apologies if this has been brought up before. I did have a quick check of https://github.com/scikit-learn/scikit-learn/issues?q=is%3Aissue+sort%3Aupdated-desc+mean+error+is%3Aclosed+label%3Amodule%3Ametrics

#### Describe the workflow you want to enable

I am interested in the sign of the error and if possible I would rather do it in scikit-learn than numpy.

`mean_absolute_error(y_true, y_pred, a

[2020-07-06 18:39] #1940 closed

[2020-07-06 19:42] thomasjpfan commented on #17853
I would be -1 on this.

1. Adding an `absolute=False` to `mean_absolute_error` would be counter to the function's name.
2. I think this would be a poor metric because errors can cancel out:

[code]

[2020-07-06 19:43] parthivc commented on #17852
Take

[2020-07-06 19:45] NicolasHug commented on #17852
@parthivc there is no consensus yet on whether or not this is a feature we can / want to support

[2020-07-06 20:24] raybellwaves commented on #17853
True. I guess it's not really an error metric but more so its further analysis on the average distribution of the  errors (bias is probably a better term for `np.average(y_true - y_pred)`?).

[2020-07-06 20:26] jnothman commented on #17852
Is the assumption here that some parameter choices may resolve in very slow
optimisations??

[2020-07-06 20:28] #17853 closed

[2020-07-06 20:42] raybellwaves opened #17854 "Feature Request: bias regression metric"
Following on from https://github.com/scikit-learn/scikit-learn/issues/17853

I'm interested in the mean distribution of the error which i'm calling bias (over or under predicting).
I can do this as a one liner in numpy (`np.average(y_pred - y_true)`) but I would prefer to stay in scikit-learn.

#### Describe the workflow you want to enable

`bias(y_true, y_pred)`

#### Describe your proposed solut

[2020-07-06 21:10] NicolasHug commented on #17854
Sorry @raybellwaves I don't really understand how this proposal differs from #17853?

Why? You're using numpy already if you're using scikit-learn

[2020-07-06 21:13] #16798 closed

[2020-07-06 23:15] raybellwaves commented on #17854
It doesn't. I agree with the comment that it wouldn't make sense using an existing function and adding another keyword that doesn't align with the function. I probably should have changed the title of that issue rather than open a new one.

I guess I would prefer a function that has been unit tested (in scikit-learn) rather than a custom function. However, I understand you have to draw a line some

[2020-07-06 23:49] boldloop opened #17855 "ClassifierChain -- `predict` and `predict_proba` throw error when `order` is a tuple"
When you pass a tuple to ClassifierChain's order parameter, `predict` and `predict_proba` throw an `IndexError`:

[code]
gives

[code]
The problem is in [these](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/multioutput.py#L529-L530) lines in `sklearn/multioutput.py`:
[code]

In the index on line 530, the tuple gets interpreted as 10d coordinates in the new array, instead of as 1

[2020-07-07 04:07] amy12xx commented on #11435
Ok, that makes sense. I did not pay attention to the LOO part. I think I'll leave it alone for now, since I don't really understand the criteria to fix.

[2020-07-07 07:41] alfaro96 commented on #17855
Is there any particular preference of `tuple` over `list`?

Otherwise, the following code snippet works without any issue:

[code]

[2020-07-07 09:40] agramfort commented on #17658
agreed this is inconsistent. I would consider this a bug fix and apply the scaling as suggested. If you not super worried about backward compatibility as coef_path_ is not used in any example

[2020-07-07 12:50] NicolasHug commented on #17855
Technically `tuple` does fit into our definition of `array-like` (https://scikit-learn.org/stable/glossary.html#term-array-like), which is how the type of `order` is specified.

So we should either consider this a bug, or explicitly exclude tuples from the array-like bag.

[2020-07-07 14:07] alfaro96 commented on #17855
IMHO, I would consider a bug. Even the `fit` and `predict` methods of the estimators accept `tuple` as an `array-like`.

@NicolasHug Pull request welcome?

[2020-07-07 17:34] timokau commented on #17756
Its also to make sure all parameters are immutable, which is why it makes sense to forbid arbitrary objects such an initialized `SGD`.

Why does that matter? As long as `lr` is provided in the defaults, its still default constructible.

[2020-07-07 21:45] boldloop commented on #17855
@alfaro96 No preference for tuples, but I was using `itertools.permutations` to get every possible order for the chain, something like:
[code]
It was a trivial fix once I figured out what the issue was, but it took quite a while to figure out—I didn't expect the `IndexError` from `predict` for what was really a type issue in the declaration.

[2020-07-08 08:54] franslarsson commented on #15761
I'll continue with sklearn.utils

[2020-07-08 09:04] alfaro96 commented on #17855
Thanks @boldloop for finding this issue!

Let us wait for a core developer to confirm this bug, but I think that a PR solving this issue would be welcome.

[2020-07-08 09:20] #16594 closed

[2020-07-08 10:58] Den0702 opened #17862 "Cannot open the page with Python Scientific Lecture Notes"
#### Describe the bug

This page https://www.scipy-lectures.org/ doesn't work
![ice_screenshot_20200708-125136](https://user-images.githubusercontent.com/30319035/86910736-738aad00-c11a-11ea-9707-83c17f0826ee.png)

#### Steps/Code to Reproduce

[code]

#### Expected Results

#### Actual Results

#### Versions

[2020-07-08 11:25] rth commented on #17862
Please report it at https://github.com/scipy-lectures/scipy-lecture-notes, it's a different project than scikit-learn.

[2020-07-08 11:25] #17862 closed

[2020-07-08 11:39] bmurauer opened #17863 "FeatureUnion silently ignores unknown transformer weights"
#### Describe the bug

Entries in the `transformer_weights` parameter of `FeatureUnion` which do not correspond to a transformer in the union object are silently ignored. I argue that it would be beneficial if a warning would be shown instead, as this can be a very tedious problem to debug if a typo is in the transformer name.

I don't see any valid reasons why one would deliberately provide exces

[2020-07-08 12:10] jeremiedbb commented on #14312
I'm working on MiniBatchKMeans

[2020-07-08 13:12] #17814 closed

[2020-07-08 19:23] josephwillard commented on #17826
Is there any objection if I work on this?

[2020-07-08 19:31] crypdick commented on #17826
@josephwillard  please do! I am too busy at work to write unit tests anytime soon. I just created a PR with a partial fix.

[2020-07-08 21:13] dafriedman97 opened #17869 "Literature on decision tree sample weighting"
I am looking into ways to weight samples in decision trees (for the purpose of AdaBoost-ing) and it seems scikit-learn uses the following.

<img width="541" alt="Screen Shot 2020-07-08 at 5 13 02 PM" src="https://user-images.githubusercontent.com/41458150/86970951-4a7c1380-c13e-11ea-9cae-2ac951731671.png">

I'm curious if there is any relevant literature suggesting this method for observation weig

[2020-07-08 22:13] rubywerman commented on #17125
@rth @amueller Hi! Have you had a chance to take a look at this? ^^

[2020-07-08 22:23] amueller opened #17870 "HistGradientBoostingClassifier n_iter_no_change incompatible change"
``HistGradientBoostingClassifier`` allowed ``n_iter_no_change`` to be ``None`` in 0.22 (it was the default) but that's forbidden in 0.23.
That means that if someone, say me and my student, recorded the parameters in 0.22 and then tried to use them in 0.23, it breaks:
https://github.com/dabl/dabl/issues/238

It's a minor nitpick but usually we deprecate parameter values that become illegal :-/
cc @

[2020-07-08 22:29] rth commented on #17125
I think the first step would be to add it as a new `solver="trust-ncg"` option (`trust-krylov` might be another possibility). That would require benchmarks showing that it's outperforming lbfgs (in particular in this case) and updating existing tests to test it as well.

Then once that change is merged, we could switch to it when `solver="auto"` and for sparse data. If `solver="lbfgs"` explicitly

[2020-07-08 22:37] NicolasHug commented on #17870
`dabl` is living a dangerous life using experimental estimators ;)

[2020-07-08 22:38] zachmayer commented on #17123
@cmarmo @jnothman what would you guys think of a PR to add these options to OrdinalEncoder ?

I like the options used by [category_encoders.ordinal.OrdinalEncoder](http://contrib.scikit-learn.org/category_encoders/ordinal.html), which default to "error" but has the option to use -1 for unknown categories and -2 for missing categories.

[2020-07-08 22:41] zachmayer commented on #17586
I closed my PR in favor of https://github.com/scikit-learn/scikit-learn/pull/17616

[2020-07-08 22:58] jnothman commented on #17855
I'm okay with supporting a tuple for order.

[2020-07-08 23:00] jnothman commented on #17863
Thanks for the report. A fix would be welcome

[2020-07-09 00:28] joshuacwnewton commented on #9661
Is there anything else that needs to be cleared up before proceeding, @thomasjpfan?

[2020-07-09 03:56] jnothman commented on #17123
I'd be interested in such features... But I'm sure there are other issues discussing them, if not open pull requests. So just make sure you're not conflicting with other work. Thanks

[2020-07-09 07:29] jnothman commented on #17869
In general we start with the assumption that non-negative integer weights should correspond to replicating samples, as it does here.

[2020-07-09 08:56] adrinjalali commented on #17870
Usually our estimators are not experimental 😁 it does say use at you own risk 🤪

[2020-07-09 09:31] #17353 closed

[2020-07-09 09:58] adrinjalali commented on #17869
This seems to be a question which is best asked on a related stack exchange forum, or on gitter.

[2020-07-09 09:58] #17869 closed

[2020-07-09 10:07] adrinjalali commented on #17854
On one side, I think _bias_ is a well established enough term for it to be included as a metric. On the other side, _optimizing_ on bias is not something which we usually do when we search in the hyper parameter space.

Our GS can now handle multiple metrics easily and choose the _best_ estimator based on a combination of them, so I guess it wouldn't be too bad to have `bias` as a metric?

[2020-07-09 10:24] MaxVanDeursen opened #17871 "Gaussian Process Regressor Kernel Default inaccurate"
#### Describe the issue linked to the documentation

In the documentation of the [GPR](https://github.com/scikit-learn/scikit-learn/blob/93f0216c24c483ccd726bfd16b3951451bec29ae/sklearn/gaussian_process/_gpr.py#L46) it states that the kernel `"1.0 * RBF(1.0)" is used as default when `None` is passed and that the hyperparameters of the kernel is fitted during the `fit` method. However, the default

[2020-07-09 11:21] adrinjalali commented on #17852
This can be achieved via a meta-estimator which puts a deadline on the underlying fit. It may be a good fit for `scikit-learn-extra`. Nevertheless, I think this doesn't fit in the scikit-learn itself. Please feel free to re-open if you disagree.

[2020-07-09 11:21] #17852 closed

[2020-07-09 11:23] adrinjalali commented on #17829
Closing as my impression is that the code is correct and no further feedback given. Please feel free to clarify and reopen if you think it's still an issue.

[2020-07-09 11:23] #17829 closed

[2020-07-09 11:28] adrinjalali commented on #17801
Closing as the previous comment seems to solve the issue. Please feel free to reopen if it doesn't.

[2020-07-09 11:28] #17801 closed

[2020-07-09 11:42] dispink commented on #13621
@hermidalc Hope your PhD work has been succeeded!
I'm looking forwards to see this implement done as well since my PhD work in Geosciences needs this stratification feature with group control. But I can totally understand how PhD work can torture a person's time. LOL So no pressure. For now, I use GroupShuffleSplit as an alternative.

Cheers

[2020-07-09 11:58] chkoar commented on #17829
@adrinjalali hey, I cannot reopen an issue but no worries. You can keep it closed if you want.

True, but it is being yielded the same thing using unrelated conditions.

The `elif` it seems redundant to me since as you said the intention is to yield only if one of the two conditions are true. So, it could be rewritten like:
[code]
I hope I am not missing something here. Anyways, thank you for your

[2020-07-09 12:20] hermidalc commented on #13621
@bfeeny @dispink it's very easy to use the two classes I wrote above.  Create a file e.g. `split.py` with the following.  Then in your user code if the script is in the same directory as `split.py` you simply import `from split import StratifiedGroupKFold, RepeatedStratifiedGroupKFold`

[code]

[2020-07-09 13:05] dispink commented on #13621
@hermidalc Thank you for the positive reply!
I quickly adopt it as you described. However, I can only get the splits that only have data in the training or test set. As far as I understanding the code description, there is no parameter to specify the proportion between training and test sets, right?
![image](https://user-images.githubusercontent.com/25603757/87043626-9c33a500-c1f5-11ea-9faf-08ada2

[2020-07-09 13:19] yashika51 commented on #15319
Hi, I am interested in working on this issue.
Which estimators should be able to pass `NaN`?

[2020-07-09 13:44] hermidalc commented on #13621
To test I made the `split.py` and the ran this example in ipython and it works.  I've been using these custom CV iterators in my work for a long time and they have no issues on my side.  BTW I'm using scikit-learn **0.22.2** not 0.23.x, so not sure if that is the cause of issue.  Could you please try to run this example below and see if you can reproduce it?  If you can, then it might be something

[2020-07-09 13:55] jnothman commented on #15319
Basic idea is to look at ensemble, multioutput, etc and make sure that they
do not validate their input beyond what is required for their algorithm to
work

[2020-07-09 14:04] jnothman commented on #13621
There does seem to be regular interest in this feature, @hermidalc, and we
could likely find someone to finish it off if you didn't mind.

[2020-07-09 14:15] dispink commented on #13621
@hermidalc 'You have to make sure that every sample in the same group has the same class label.' Obviously that's the problem. My samples in the same group don't share the same class. Mmm...it seems to be another branch of development.
Thank you very much anyway.

[2020-07-09 14:23] hermidalc commented on #13621
Yes this has been discussed in various threads here.  It's another more complex use case that is useful, but many like myself don't need that use case currently but needed something with keeps groups together yet stratifies on the samples.  The requirement of the code above is that all the samples in each group belong to the same class.

[2020-07-09 16:19] Neetu162 opened #17874 "cross_validate | TypeError: __call__() missing 1 required positional argument: 'inputs'"
After raising issue #17830 and #17831, I went to tensorflow team to help me in resolving the issue. I raised issue https://github.com/tensorflow/tensorflow/issues/41067

The tensorflow team helped and created a jupyter notebook in order to help with resolution of the issue. They fixed the imports and other issues and now the issue that I am now getting is ```TypeError: __call__() missing 1 require

[2020-07-09 16:23] adrinjalali commented on #17829
I see what you mean. If I were to write it, I'd probably write

[code]

But I'm not sure which one is more readable. They're equivalent code, aren't they? I'd just leave it as is.

[2020-07-09 16:27] adrinjalali commented on #17789
I guess this is also related to https://github.com/scikit-learn/scikit-learn/issues/13986?

[2020-07-09 16:32] lucyleeow commented on #17827
@NicolasHug thinking about this more, we specifically amended this function to allow cases where train and test subsets have different number of classes: #7799, but I don't think we deal with it well when it occurs...

I feel like we shouldn't have allowed this, if we aren't going to 'care' about it....?

[2020-07-09 17:48] Ultramann commented on #17863
@jnothman I was just looking at FeatureUnion. I'll put together a quick fix and open a PR later today.

[2020-07-09 17:56] amueller commented on #17870
argh right, I forgot it was experimental, never mind.

[2020-07-09 17:56] #17870 closed

[2020-07-09 18:48] hermidalc commented on #13621
Actually @dispink I was wrong, this algorithm does not require that all members of a group belong to the same class.   For example:

[code]

So I'm not quite sure what is going on with your data, since even with your screenshots you cannot truly see what your data layout is and what might be happening.  I would suggest you first reproduce the examples I showed in here to make sure it's not a sciki

[2020-07-09 21:29] yashika51 commented on #15319
So just to confirm, the estimators should be able to pass `NaNs` and not raise any error at `check_X_y`. And the base estimators should be able to hand these missing values(and they already do that).
Any changes will be made to estimators to pass these values.

[2020-07-10 01:32] jnothman commented on #17874
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2020-07-10 01:32] #17874 closed

[2020-07-10 04:41] mystery2828 commented on #16593
Try typecasting the column name to str(string) and you'll get the feature names

[2020-07-10 07:32] dispink commented on #13621
@hermidalc Thank you for the reply!
I actually can reproduce the result above, so I'm troubleshooting with a smaller data now.

[2020-07-10 09:12] adrinjalali commented on #17791
Considering `cross_validate` doesn't require the splits to be disjoint sets, and that it returns the test scores as well as the train scores, a very short example in the example gallery would be welcome.

[2020-07-10 09:17] adrinjalali commented on #17784
I think I'd agree with Andy that this is a nice `strategy` to add. I'm not sure where I'd use it, but I can imagine it is a baseline which many people would choose over `median` for instance.

[2020-07-10 09:21] adrinjalali commented on #17786
This means your hyperparameters are not properly set based on your data. Otherwise this is a usage question which is best asked on a stack exchange forum or the gitter channel. This doesn't seem to be an issue with the library, hence closing.

[2020-07-10 09:21] #17786 closed

[2020-07-10 09:25] adrinjalali commented on #17760
Please let us know if upgrading your `joblib` doesn't fix the issue and will re-open.

[2020-07-10 09:25] #17760 closed

[2020-07-10 09:42] adrinjalali commented on #17729
I think the better way to go would be for `SelectFromModel` to use `permutation_importance` instead?

[2020-07-10 09:45] adrinjalali commented on #17729
In any case, I don't think we'd be adding more `feature_importances_` to the existing models, all the above comments considered.

[2020-07-10 09:45] #17729 closed

[2020-07-10 10:25] apptimise commented on #17782
Ok, this keeps coming back to me. Now, imagine we would like to use grid search across folds for model selection (hyperparameter tuning) or checking overfitting.
I guess we can agree that there difference across folds need to be taken into account. I just wanna know how you would address the problem when performing a grid search.

I guess using `RFE` in a `Pipeline` and then performing grid search

[2020-07-10 10:32] #17727 closed

[2020-07-10 10:39] #17619 closed

[2020-07-10 10:56] adrinjalali commented on #17630
seems reasonable, would you be kind enough to submit a PR?

[2020-07-10 10:59] koaning commented on #17784
@thomasjpfan they indeed solve the same problem, to me though, the statement that a model hasn't been able to beat **randomness** should make more people worried about using it than any other heuristic.

I do wonder if `uniform` is the best strategy to show randomness though. I might argue that `stratisfied` might be good to add for the regressor. I also realise that this is already implemented fo

[2020-07-10 11:01] adrinjalali commented on #17621
Trying with `np.eye(30)` gives expected results, I think:

[code]

So I think 3 is not large enough for the model to converge properly?

[2020-07-10 11:02] adrinjalali commented on #17621
Please let us know if you disagree and we can reopen the issue.

[2020-07-10 11:02] #17621 closed

[2020-07-10 11:06] adrinjalali commented on #17574
I _think_ you can pass arrays as parameter values in GS, so that's not an issue, but the hyperparameter space explodes exponentially if you search in your suggested space, doesn't it? I'd also be interested in seeing what @glemaitre and @GaelVaroquaux think about this.

[2020-07-10 11:08] #17583 closed

[2020-07-10 11:24] mjboos commented on #17574
Thanks for the input @adrinjalali !
The problem is that Gridsearch evaluates the score for the whole model, not output-wise score (e.g. it doesn't use multi_output='raw_values' in the scorer), hence you can't evaluate different hyper-parameters per output via gridsearch as far as I can tell.
W.r.t. the exponental explosion: regularization for one output doesn't affect regularization for another on

[2020-07-10 11:40] adrinjalali commented on #17631
As @amueller mentioned, having the scorer call `fit_predict` is probably not what you want to do, since it'd be ignoring your training set. So an algorithm such as OPTICS may not be a good example for this usecase.

Consider this code:
[code]
It'll raise:
[code]
which is very sensible, since `predict` is not really defined for `OPTICS`. Now if you replace it with `KMeans`:

[code]
it works fine. S

[2020-07-10 11:42] adrinjalali commented on #17574
I see. Yeah I'd say that kind of grid search would probably be out of scope. But if you say in neuroimaging it's a common usecase, I wonder if folks at Inria already have it in one of the libraries they maintain.

[2020-07-10 11:48] adrinjalali commented on #17561
I think this needs a bit more context. Could you please paste a complete small reproducible example for what you want to do, and why it's useful?

[2020-07-10 12:01] adrinjalali commented on #17542
I'd say it's more of a `pandas_profiling` issue than ours? And they seem open to removing those legacy bits of code.

[2020-07-10 12:42] marenwestermann commented on #14312
I'm working on Lasso.

[2020-07-10 13:26] marenwestermann commented on #14312
I'm now working on adding the attribute `sparse_coef_` to MultiTaskElasticNet and MultiTaskLasso.

[2020-07-10 14:40] amsinha9 commented on #17621
Could you provide some additional clarification on why a 3x3 identity matrix doesn't work for Graphical Lasso? Also, do you know what the threshold dimensions are? My issue stems from the fact that the Graphical Lasso implementation using a 379x379 matrix in scikit-learn doesn't match the output from Graphical Lasso in the R package, huge.

[2020-07-10 14:51] adrinjalali commented on #17621
Other than the implementation details, the hyperparameters can have an impact and it may be that those parameters are not patched between scikit-learn and the R package you use. Many algorithms don't behave as expected on extremely small sample sizes, so that doesn't really surprise me. If you could provide a more realistic sized example which clearly gives wrong output, it would be easier to tack

[2020-07-10 15:04] marenwestermann commented on #14312
I'm working on LarsCV.

[2020-07-10 16:45] thomasjpfan commented on #15880
The current way to use `y_true` and `y_pred` is shown here: https://scikit-learn.org/stable/auto_examples/miscellaneous/plot_display_object_visualization.html#create-confusionmatrixdisplay

I know I am stretching here but what about this:

[code]

where the second position accepts `y_true` as predictions if `estimator='precomputed`.

[2020-07-10 19:51] ngojason9 commented on #14395
hi there, I looked at the `GaussianProcessRegressor` code and it seems like the following line might be incorrect (?)

https://github.com/scikit-learn/scikit-learn/blob/2d1bc8b8e68582cbe8d71b4e20dc8a29306eb0e1/sklearn/gaussian_process/_gpr.py#L346

According the Algorithm 2.1 from Gaussian Processes for Machine Learning, should `y_cov` be `self.kernel_(X) - v.T.dot(v)` instead? That said, after ch

[2020-07-10 20:58] boldloop commented on #17855
Ok, I just submitted a pull request (#17890) that fixes this—let me know if I need to do anything else.

[2020-07-11 02:24] joshuacwnewton commented on #12401
@NicolasHug had some thoughts about the 0.26-0.28 deprecation plan which were shared in [this PR review comment](https://github.com/scikit-learn/scikit-learn/pull/17662#discussion_r453055095). Referencing here so that the comment doesn't get buried inadvertently in the rest of the review.

[2020-07-11 11:07] imanirajian commented on #17631
@adrinjalali @amueller
Same issue holds true for *DBSCAN*.
I think `GridSearchCV()` should support clustering estimators as well.

So far, I've written codes below:

[code]

Thanks.

[2020-07-11 11:57] jnothman commented on #17561
I don't think we have enough justification for this level of engineering. I think if users want to split on the `=`, they can subclass `DictVectorizer` and override `inverse_trnasform`...

[2020-07-11 14:10] bfiranski opened #17892 "using sklearn.metrics.normalized_mutual_info_score for continuous data does not return a warning"
I have been informed that using sklearn.metrics.normalized_mutual_info_score to estimate a normalized mutual information score on continuous data should have returned at least a warning that this module is for use only on discrete data; and error on floats.

an example of test data:
[code]
output:
1.0

[2020-07-11 14:12] NicolasHug commented on #17402
looks like all were addressed, closing the issue!

[2020-07-11 14:30] #17402 closed

[2020-07-11 14:46] amueller commented on #12167
Lol our current "_more_tags" solution is tagged as an issue by lgtm

[2020-07-11 14:52] amueller commented on #17892
I think the ``check_clustering`` function should call ``type_of_target``. We're doing that in the classification metrics. I think this has come up before, I think there's something in the issue tracker about that already.

[2020-07-11 14:56] amueller commented on #17631
You could do what you're doing in your code with GridSearchCV by using a custom splitter. But tbh I think that's a very strange thing to do. What is the motivation of using cross-validation in this setting?

[2020-07-11 15:02] amueller commented on #17631
We can raise a better error message there.

I think that's an appropriate error message.

Btw, there is a lot of discussion here:
#4301

And @jnothman has thought about this pretty in-depth, I think.

[2020-07-11 15:28] dachosen1 commented on #17892
I can take this.

[2020-07-11 16:04] TahiriNadia commented on #15761
I am working on `sklearn/decomposition/_dict_learning.py`

[2020-07-11 16:08] mikeaalv commented on #15761
I'm working on sklearn.kernel_ridge in the sprint

[2020-07-11 16:32] tijanajovanovic commented on #15761
Hi, I just checked this one sklearn.feature_extraction.image.img_to_graph and default values are all set as they should be. If you could change the checkbox to done

[2020-07-11 17:21] Probinette4 commented on #15761
I am working on `sklearn.feature_extraction.text.CountVectorizer`

[2020-07-11 18:00] mikeaalv opened #17899 "default value for y in sklearn.kernel_ridge.KernelRidge.fit()"
#### Describe the issue linked to the documentation

Kernel ridge is a regression method but the documents for sklearn.kernel_ridge.KernelRidge.fit() states default value of y=None ([here](https://scikit-learn.org/stable/modules/generated/sklearn.kernel_ridge.KernelRidge.html#sklearn.kernel_ridge.KernelRidge.fit)).
I tested the function when y value is not given:

[code]

There is the following er

[2020-07-11 18:03] TahiriNadia commented on #15761
I am working on `sklearn.sklearn.kernel_ridge`

[2020-07-11 18:04] Hoda1394 commented on #15761
"I am working on this"

[2020-07-11 18:05] TahiriNadia commented on #15761
on this? @Hoda1394

[2020-07-11 18:32] raedjamw commented on #13349
Hello how do you now implement this change?with parameters to fit parameters in TransformedTargetRegressor?

[2020-07-11 18:40] kmedved commented on #17660
FWIW, [Ngboost ](https://github.com/stanfordmlgroup/ngboost) by Andrew Ng's team, supports this via the `Base` [parameter](https://stanfordmlgroup.github.io/ngboost/1-useage.html#Base-Learners).

I use Ngboost extensively and have never had a need to do this, but it's nice to know it's possible.

[2020-07-11 18:49] Hoda1394 commented on #15761
@TahiriNadia corrected.

[2020-07-11 18:50] amueller commented on #17660
Ngboost is not the same as gradient boosting though. Does anyone know what 'gblinear' in xgboost actually implements? https://xgboost.readthedocs.io/en/latest/parameter.html#parameters-for-linear-booster-booster-gblinear

If you apply gradient boosting to a linear model and use the same loss function, you should just get the same model out. So if you apply gradient boosting to logistic regression

[2020-07-11 18:54] amueller commented on #17660
update:  xgboost's gblinear doesn't do gradient boosting from what I understand: https://github.com/dmlc/xgboost/issues/332#issuecomment-105031646

[2020-07-11 19:15] NicolasHug commented on #17660
Just realized we might not be able to support all losses. For example with LAD, while the trees are trained to predict gradients (either -1 or +1), we do need to update to leaf values to the median of the samples in each leaf (see `loss.update_terminal_regions()`). I'm not sure yet what this would look like for other base estimators.

[2020-07-11 23:39] dachosen1 commented on #17892
I've implemented the change for `check_clustering`  to raise an error for a float. In the example that @bfiranski  can you confirm whether the function should produce an error or a near zero value.

[2020-07-12 03:00] Sandy4321 commented on #16028
Great news, thanks a lot
When it will be added to main package?

[2020-07-12 04:11] imanirajian commented on #17631
@amueller

**Motivation:** Search in the parameter space to find the best parameters choice for optics (or dbscan) model.

**Goal:** Finding the best parameters (w.r.t. the parameters grid `grid_search_params`) for a clustering estimator, with or without labels (in my case I have labels).

[code]

my `custom_grid_search_cv` logic >
~ For each possible choice of parameters say `p` from the paramete

[2020-07-12 07:20] Den0702 commented on #17862
Хорошо

8 июля 2020 г. 13:26 пользователь "Roman Yurchak" <notifications@github.com>
написал:

[2020-07-12 11:13] #12401 closed

[2020-07-12 14:42] mikeaalv commented on #17899
Seems this issue is fixed and thank you @thomasjpfan

[2020-07-12 18:37] lavendercmt opened #17910 "Is this plot(same dataset to perform with PCA and LDA) reasonable or something may be wrong?"
Hi!

I am really confused about this result..
the same dataset for 2 classes
and the result from PCA and LDA..
is it reasonable or something may be wrong?

Thanks for any answering!

![提问](https://user-images.githubusercontent.com/52583754/87253978-74577200-c47f-11ea-9f53-9aec9eb51f60.png)

[2020-07-12 19:10] thomasjpfan commented on #17458
The model consist of `coef_` and `intercept_`. If `y` is not centered and `fit_intercept=False`, then `intercept_=0` which is likely to be a poor model.

Please see https://github.com/scikit-learn/scikit-learn/pull/17787/files#r450469071 for details.

[2020-07-12 19:10] #17458 closed

[2020-07-12 19:29] thomasjpfan commented on #17756
In this context of optimizers, there are optimizers that are not default constructible. For example, [CyclicLR](https://pytorch.org/docs/stable/optim.html#torch.optim.lr_scheduler.CyclicLR), which requires `base_lr`, and `max_lr`.

[code]

MyEstimator can construct `CyclicLR` because it was given `optimizer__*`.

[2020-07-12 22:02] thomasjpfan commented on #9661
I think everything is in order API wise. I recommending getting an initial implementation working so we can benchmark against the current `learning_method` options.

[2020-07-12 22:40] dachosen1 commented on #17892
I keep getting an error `Bash exited with code '1'.` did I implement this issue correctly?

[2020-07-13 00:12] jnothman commented on #17910
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2020-07-13 00:12] #17910 closed

[2020-07-13 08:16] chkoar commented on #17829
Me too. The intention was to show that there are two conditions that we are interested in for the same result.

If you mean the last two snippets then yes they are.

[2020-07-13 11:43] chschroeder opened #17915 "K-means++ initialization: return indices"
Hello,

i propose to make the [k-means++ initialization](https://github.com/scikit-learn/scikit-learn/blob/4746e2117a5a05bac0c6d4e67486b0db93f11417/sklearn/cluster/_kmeans.py#L48) return indices for use cases where you operate on indices, instead of actual subsets. Having indices, you can always easily get the actual objects, while the reverse is not always possible.

#### Describe the workflow yo

[2020-07-13 12:02] jeremiedbb commented on #17915
Thanks for opening this issue. There's definitely value in making it public. One might want to use k-means++ outside of KMeans. See #11101 for instance.

Returning indices is a good thing too. #11101 also needs it.

I would give it a better name when we make it public however, like `kmeans_plusplus` or something.
I would not add the `return_indices` parameter and always return the indices.
Also, w

[2020-07-13 12:22] chschroeder commented on #17915
Thanks a lot for your quick response! You are completely right about giving it a better name. The current name could be easily made more expressive. The separation into a public and private function sounds good to me as well.

[2020-07-13 12:44] #17899 closed

[2020-07-13 15:12] timokau commented on #17756
But that means `MyEstimator` is default constructible, which is all the test is supposed to check right? Specifying `optimizer__*` in the defaults has other issues (need a way to invalidate them when `optimizer` is set), but that's a different problem.

[2020-07-13 16:42] parthivc commented on #9661
take

[2020-07-13 16:43] joshuacwnewton commented on #9661
Perfect. Thank you, @thomasjpfan! Will do.

[2020-07-13 16:43] joshuacwnewton commented on #9661
Take

[2020-07-13 18:19] TomDLT commented on #17684
- [ ] sklearn/datasets/_samples_generator.py
- [x] sklearn/decomposition/_fastica.py  #17737
- [x] sklearn/decomposition/_nmf.py  #17737
- [ ] sklearn/discriminant_analysis.py
- [ ] sklearn/gaussian_process/_gpc.py
- [x] sklearn/linear_model/_bayes.py  #17737
- [ ] sklearn/linear_model/_logistic.py
- [ ] sklearn/linear_model/_ridge.py

[2020-07-13 20:56] zachmayer opened #17916 "TruncatedSVD option to reduce k instead of raising "n_components must be < n_features;""
#### Describe the workflow you want to enable
If I'm using TruncatedSVD in a pipeline, it'd be nice to have an option to automatically set n_components < n_features, if n_components >= n_features.

For example, in the docs for [sklearn.manifold.TSNE](https://scikit-learn.org/stable/modules/generated/sklearn.manifold.TSNE.html) suggest using TruncatedSVD to limit the dimensionality of the input to

[2020-07-13 21:05] zachmayer opened #17917 "TruncatedSVD `fit` calls fit_transform and therefore has some excess computation"
#### Describe the workflow you want to enable
Right now, `fit` simple calls `fit_transform`: https://github.com/scikit-learn/scikit-learn/blob/4746e2117a5a05bac0c6d4e67486b0db93f11417/sklearn/decomposition/_truncated_svd.py#L145

However, this includes the calculation to return `X_transformed`: `X_transformed = U * Sigma`

Since the fit step returns `self` (and not `X_transformed`), this step is u

[2020-07-14 08:59] adrinjalali opened #17920 "RELEASE 0.23.2"
cc: @scikit-learn/core-devs

Here's the issue to figure what's left and push the 0.23.2 release out.

Any volunteers to work on the release? Otherwise I'm happy to create the PR.

* [x] update news and what's new date in master and release branch
* [x] create tag
* [x] update dependencies and release tag at
  https://github.com/MacPython/scikit-learn-wheels (see https://github.com/MacPython/scikit

[2020-07-14 12:46] g-walsh commented on #17915
@jeremiedbb

I could add this into the PR for #11101. It would be a bit neater if `gmm` called a public `kmeans_plusplus` rather than the current usage of `_k_init`

[2020-07-14 16:13] thomasjpfan commented on #17917
`X_transformed` is necessary to calculate `self.explained_variance_`:

https://github.com/scikit-learn/scikit-learn/blob/4746e2117a5a05bac0c6d4e67486b0db93f11417/sklearn/decomposition/_truncated_svd.py#L189-L190

[2020-07-14 19:09] zachmayer commented on #17917
ahh that makes sense

[2020-07-14 19:09] #17917 closed

[2020-07-15 03:50] mdp1125 commented on #14214
@SSaishruthi would really appreciate this addition too!

[2020-07-15 04:43] crawftv opened #17923 "requires_y Tag Missing from DummyClassifier"
#### Describe the bug
The `requires_y` tag is missing from the `DummyClassifier` when I run `DummyClassifier()._get_tags() `.
I don't think this is a big deal but it seems weird.
The other tags from the other SuperClasses in the DummyClassifier show up.
1. multioutput : True
2. poor_score : True
3. no_validation : True
#### Steps/Code to Reproduce
[code]
#### Expected Results
[code]
#### Actual Re

[2020-07-15 05:36] joshuacwnewton commented on #9661
@thomasjpfan

As a quick update, @parthivc was able to get the [`python-lda (w/Gibbs)` implementation](https://github.com/hannawallach/python-lda) from @hannawallach working, which was written using Python + vectorized Numpy operations.

I spent most of today writing a Cython implementation based off of it, and comparing it to the Python/Numpy LDA+Gibbs implementations using a subset (2000 documen

[2020-07-15 07:39] sherbold opened #17925 "Check for NANs and INFs in estimators at the end of fit"
#### Describe the bug

The RidgeClassifier cannot handle data that is close to MAXDOUBLE and crashes due to reported infinities, likely due to numeric overflows.

#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results

Either no error is thrown and the data is handled correctly or a ValueError that specifies the range of allowed values is thrown, similar to other classifiers. For exa

[2020-07-15 08:18] sherbold opened #17926 "MultinomialNB cannot handle single class without fitting prior"
#### Describe the bug

MultinomialNB crashes when predict is called after training with a single class without fitting the prior.

#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results

Either no error is thrown and the data is handled correctly or a ValueError that specifies that either fit_prior must be True or that the data must contain multiple classes.

#### Actual Results

[co

[2020-07-15 08:29] alfaro96 commented on #17923
I cannot reproduce the error on `master`. IIRC, this issue was fixed in #14884.

[2020-07-15 10:21] jeremiedbb commented on #17915
@g-walsh, I agree it would be better to call a public kmeans++ function in #11101 but It would be better to have a separate PR to make this function public.

[2020-07-15 11:42] g-walsh commented on #17915
@jeremiedbb Okay, I'd be keen to work on a PR for this unless @chschroeder is already working on it?

[2020-07-15 11:47] rth commented on #17925
Thanks for the report @sherbold ! As with most numeric algorithm badly scaled input will produce overflows.  That is the expected behavior. Decisions trees are a simple special case.  In general, the solution is to scale the input, for instance, with  `StandardScaler`.

That's a hard problem, for instance given a matrix `X` of shape `(n_samples, n_samples)` at what point should this ValueError be

[2020-07-15 12:07] sherbold commented on #17925
I would still argue that there should at least be a better error message. As far as I can see, this is currently the only sklearn classifier, that cannot handle this data and does not yield a meaningful error message. Possibly the current error for the same data of the SGDClassifier would be a better choice than a restriction of the values:

[code]

[2020-07-15 14:40] thomasjpfan commented on #9661
Using the same dataset how does the training time and test score compare between VI and Gibbs. We can use `sklearn.model_selection.cross_validate` to compare over different folds.

Is this using collapsed gibbs sampling or regular gibbs sampling?

[2020-07-15 15:03] crawftv commented on #17923
Thanks, updating the package fixed this.

[2020-07-15 15:03] #17923 closed

[2020-07-15 15:06] joshuacwnewton commented on #9661
Thanks! Sounds good.

It uses collapsed Gibbs sampling. :)

[2020-07-15 16:11] chschroeder commented on #17915
@g-walsh i have not started anything yet. If this goes well with your PR, it would be really nice if you can include this change.

[2020-07-15 16:45] thomasjpfan commented on #17916
Would this benefit from allowing for a float `n_components` similar to [PCA](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html?highlight=pca#sklearn.decomposition.PCA)?

[2020-07-15 17:04] thomasjpfan commented on #17756
How would a check know that `CyclicLR` is default constructible? Currently the check does not do any special passing of `optimizer__base_lr` into `CyclicLR`.

[2020-07-15 17:47] timokau commented on #17756
That is a valid point, but I would argue that this goes beyond default constructibility. The *Estimator* is default constructible. It may break at `fit` time when it actually initializes its internal optimizer, but there are many other factors which may cause it to break at runtime. I think that is out of scope for the check.

[2020-07-15 18:49] thomasjpfan commented on #17756
Okay lets move forward with the suggestion by @rth https://github.com/scikit-learn/scikit-learn/issues/17756#issuecomment-652469631 to be more accepting of defaults.

[2020-07-15 19:53] zachmayer commented on #17916
@thomasjpfan yes, that would be useful, but I think it's a different issue: https://github.com/scikit-learn/scikit-learn/issues/10988

In my case, I want exactly 50 components if the data has > 50 columns, otherwise I want to set `n_components` = `ncols-1`.

I'd be happy to make a PR showing what I'm thinking.

[2020-07-15 20:32] rth commented on #17925
Here is a quick script to test this,

**test_overflow.py**

<details>

[code]
</details>

run with `pytest test_overflow.py`. And the corresponding [log](https://github.com/scikit-learn/scikit-learn/files/4927731/test_overflow.txt). Out of 77 estimators 48 will fail on your example, most with ` ValueError: array must not contain infs or NaNs`.

It's a reasonable error and there isn't much we can d

[2020-07-15 20:44] #17789 closed

[2020-07-16 01:50] thomasjpfan commented on #17916
I am +0 on having this feature. Let's see what everyone else thinks.

[2020-07-16 08:11] ForrestCKoch commented on #17813
My apologies if I'm missing something here, but I'm not sure if see how this changes the complexity.  But after calculating `x-y` there are only two dot products calculated to begin with?

[2020-07-16 08:23] sherbold commented on #17925
Thanks for reopening.  all_estimators is a neat function, I must remember that one.

Yes, that was my point: the other classifiers tell the user what is wrong, only Ridge yields an internal numeric error. From a user's perspective, catching this error and raising an exception like SGD, that indicates what may be the problem would be better.

I did not check regression algs so far, thanks for addin

[2020-07-16 09:17] DomHudson commented on #13555
Another side effect of this API design is that it means any subclasses are heavily tied to a sklearn version. If an argument is added or removed in a sklearn version your subclass will have to implement custom logic to work out whether to pass it into the parent class if you intend to support both versions and you are forced to specify defaults which you have to manually keep in sync with the unde

[2020-07-16 09:24] justachetan opened #17933 "Customisable formulations of TF-IDF"
#### Describe the workflow you want to enable

Hi,

I have been using TF-IDF a lot in my research workflow. Depending on the nature of the dataset that I have, some times, it makes sense to use a different formulation of TF-IDF, rather than the sklearn default.

For instance, once might want to use the Lucene formulation of IDF rewriting, given by:

[code]

Or they might want to change the exact w

[2020-07-16 09:28] Qylwok commented on #16549
Hi everyone, I have the same issue here with the following estimators :

`
models = [
            ("u_dt", DecisionTreeRegressor()),
            ("t_lsvr", SVR(kernel="linear",
                    C= 0.008,
                    epsilon=0.25,
                    shrinking=False,
                    tol= 5,
                    )),
            ("u_ridge", Ridge()),
            ("u_elastic", ElasticNet

[2020-07-16 10:46] jnothman commented on #17916
Rather than an option, I'd prefer to just fit with a warning...

[2020-07-16 10:55] jnothman commented on #17933
TFIDFTransformer has too many parameters already, and is really easy to
copy and modify. I'm not in favour of adding more options.

[2020-07-16 10:59] justachetan commented on #17933
Hi @jnothman! I think the main motivation for this request for more to assist with experiment tracking rather than the difficulty in modifications. If something for tracking experiment variations already exists, I agree, this would not be a very valuable addition. Please let me know what you think!

[2020-07-16 11:01] justachetan commented on #17933
Just to explain it a little bit more, if the callable being used to reweight the TFs is a part of the class definition, one could simply pickle the whole object and use the `transform` method which uses this callable to generate fresh vectors later.

[2020-07-16 13:21] zachmayer commented on #17916
@jnothman I also prefer just to fit with a warning.  That's also much simpler to implement.  Should I make a PR?

[2020-07-16 15:32] fkromer commented on #17800
When building a dockerized Python app with `docker buildx` for a Raspberry Pi builing scikit-learn feels like taking forever on a machine with `Intel® Core™ i7-8550U CPU @ 1.80GHz × 8`, `15,4 GiB` and a quite fast SSD.

[code]

[2020-07-16 15:42] joshuacwnewton commented on #9661
Ah... after a good chat on the sklearn Gitter, I've realized this might not be as clear-cut as it seems. I think there might be further optimizations for the Python/Numpy version, so this might not have been a fair comparison. I'm going to try to see what I can do here. :)

[2020-07-16 15:55] #15021 closed

[2020-07-16 17:04] TomDLT commented on #17916
You are very welcome to make a PR.

[2020-07-16 17:07] NicolasHug commented on #17916
if we decide to warn instead of raise, we should probably preserve consistency across estimators. As far as I know most estimator that to dimensionality reduction raise an error.

Also instead of generating pipelines on the fly @zachmayer could you instead use a ColumnTransformer that would dispatch either to PCA or to a passthrough depending on the number of columns?

[2020-07-16 17:30] timokau commented on #17756
The PR is now ready for review: https://github.com/scikit-learn/scikit-learn/pull/17936

[2020-07-16 17:46] zachmayer commented on #17916
@NicolasHug `could you instead use a ColumnTransformer that would dispatch either to PCA or to a passthrough depending on the number of columns?` Could you show me a simple example of how to do that?  I think that would solve my immediate problem!

[2020-07-16 17:49] GaelVaroquaux commented on #17542
`pandas_profiling` has fixed the issue on their side. Closing here.

[2020-07-16 17:49] #17542 closed

[2020-07-16 18:48] NicolasHug commented on #17916
I think this does what you want:

[code]

[2020-07-16 18:58] NicolasHug commented on #17916
Note that this does not apply PCA when n_features < 50. If you always want to apply PCA, since you seem to only use `fit_transform`, another solution would be  use `set_params()` on the pipeline:

[code]

[2020-07-16 19:44] joshuacwnewton commented on #9661
On second look, I don't think vectorized Numpy operations can be used for collapsed Gibbs sampling, considering `nwt`/`nt`/`ntd` are dependent on random updates every loop iteration.

[code]

Cython might be the most suitable way to get performance increases, then?

[2020-07-16 19:49] zachmayer commented on #17916
@NicolasHug `set_params` doesn't work as well for me, since in practice I actually have some preprocessing steps before the `TruncatedSVD` step that can add (or remove) a lot of columns, in sometimes hard-to-predict ways

[2020-07-16 21:21] Ashutosh619-sudo commented on #17892
we can use issubclass() to check if the type of input array is a subclass of int as only int arrays are allowed.

[2020-07-16 23:26] assaftibm opened #17939 "Diff in CountVectorizer between versions 0.22 and 0.23"
In the transition between scikit-learn 0.22.2.post1 and 0.23.0 I noticed that I get different results from CountVectorizer for the same input text when I limit the feature set. I couldn't find a documentation of this change and I don't know if this change is expected or not.

I'm running on Windows 10 64bit with Python 3.6.

The following code will reproduce the problem:
[code]

If you run it once

[2020-07-17 00:49] thomasjpfan opened #17940 "Return Bunchs everywhere"
Recently, scipy has added an Bunch object that is compatible with tuples: https://github.com/scipy/scipy/pull/12323

We can use this Bunch object for the remaining functions that return tuples, such as `learning_curve`, etc.

[2020-07-17 02:02] joshuacwnewton commented on #9661
Embarrassingly, I didn't do a thorough enough search, as someone took the time to implement a Cython version of LDA with collapsed Gibbs sampling already: https://eric-bunch.github.io/blog/cython-examples-sampling-and-lda

Oh well. Still a fun learning exercise, and two separate attempts might be helpful for coming up with a more optimized overall solution. :)

[2020-07-17 02:23] thomasjpfan commented on #17939
@jnothman This behavior was changed starting from https://github.com/scikit-learn/scikit-learn/pull/15834

(git bisecting is fun)

[2020-07-17 09:57] Foreist opened #17941 "predict proba problem"
Hi sometimes when using predict_proba function , the value comes out like

[code]

In this case, what does 5 row([[1.]]) mean by [[0., 1.,]]?

[2020-07-17 10:26] DomHudson commented on #13555
Another side effect of this API design is that it means any subclasses are heavily tied to a sklearn version. If an argument is added or removed in a sklearn version your subclass will have to implement custom logic to work out whether to pass it into the parent class if you intend to support both versions and you are forced to specify defaults which you have to manually keep in sync with the unde

[2020-07-17 10:53] glemaitre opened #17942 "Should get_scorer return a deep copy of the scorer object"
I stumble in something that I am wondering if this is an issue:

[code]

[2020-07-17 10:54] glemaitre commented on #17941
Could you post a minimal example to see how do you generate these probabilities.

[2020-07-17 11:09] adrinjalali commented on #17942
Working on sample props I also encountered this issue.

[2020-07-17 11:11] adrinjalali commented on #17940
Would we then remove our `Bunch`?

[2020-07-17 11:14] adrinjalali opened #17943 "Documentation CI failing"
CI on master seems to be [failing](https://app.circleci.com/pipelines/github/scikit-learn/scikit-learn/5691/workflows/21711b7f-046a-493c-b0e5-3b099b2ad787/jobs/112998):

[code]

@marenwestermann would you like to have a look?

[2020-07-17 11:48] marenwestermann commented on #17943
Sure, thanks! I'll have a look now.

[2020-07-17 12:53] LionelMassoulard opened #17944 "KMeans algorithm random_state doesn't fix behavior"
Even when the random_state is setted KMeans algorithm results are changing.

Code to reproduce :

[code]

The first label should always be the same but it is not the case.

#### Versions
System:
    python: 3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]
executable: C:\**\**\Anaconda3\pythonw.exe
   machine: Windows-10-10.0.***-SP0

Python dependencies:
          pip: 19.2.3

[2020-07-17 13:07] LionelMassoulard opened #17945 "TruncatedSVD fails on DataFrame with mixture of Sparse columns int and float"
#### Describe the bug
TruncatedSVD doesn't work on a DataFrame that has both Sparse[float64] and Sparse[int32] columns
Whereas it is working if the DataFrame has only Sparse[float64] and also if it has only Sparse[int32]

#### Steps/Code to Reproduce

[code]
Update : further investigation seems to show that the problem actually come from 'check_array'

[code]

#### Versions
System:
    python: 3.7

[2020-07-17 14:14] thomasjpfan commented on #17942
I have been thinking of `get_scorer` as returning a singleton and should not be modified. In general, I think returning a copy would be better because the following is undesirable:

[code]

[2020-07-17 14:27] thomasjpfan commented on #17940
I think we keep `Bunch` and use this just for backward compatibility, and hopefully transition away from it to returning dictionaries (our `Bunch`). Scipy is going along the same lines [here](https://github.com/scipy/scipy/blob/6bd8975294ec0d66d159195d3ffb50d336eb6410/scipy/_lib/_bunch.py#L49-L52).

Looking over their code more closely, their named tuple is a bit different. They wanted to expand a

[2020-07-17 14:27] #17940 closed

[2020-07-17 14:40] thomasjpfan commented on #17943
Could be related to https://github.com/scikit-learn/scikit-learn/pull/12673

[2020-07-17 17:08] zachmayer commented on #17916
Draft PR here, I am open to feedback as I may not be doing this the best way: https://github.com/scikit-learn/scikit-learn/pull/17949

[2020-07-17 17:13] parthivc commented on #17813
@ForrestCKoch I don't think it changes the complexity, but rather it moves most of the computation to init time. That way when the distance is actually computed, it takes less time because most of the calculations have already been done and stored.

[2020-07-17 17:14] NicolasHug commented on #17916
There's always the option to create a custom class?

[code]

[2020-07-17 17:15] parthivc commented on #17813
Take

[2020-07-17 17:21] PGuti commented on #17813
Yes the point is to move a lot of the calculation to the init part which is the "train" for KNNs, and allow faster inference time.

[2020-07-17 17:24] zachmayer commented on #17916
Yeah the custom class is what I'm doing now.

[2020-07-17 17:35] assaftibm commented on #17939
Thank you.

[2020-07-17 18:18] alexshacked commented on #17945
Hi @LionelMassoulard. I would like to try and resolve this bug. Is it ok or are you already working on it?

[2020-07-17 18:57] LionelMassoulard commented on #17945
Hi, no it's okay, I took a look and I think I isolated the issue to "check_array" but I didn't work on it any further.

[2020-07-17 18:58] NicolasHug commented on #17916
@jnothman @thomasjpfan @TomDLT , if a simple custom class definition is enough to support the original use-case, do we really want to change from errors to warnings?
We've been pretty conservative about that kind of usage and I personally think that it makes more sense to keep the error, since the workaround is reasonably simple.

[2020-07-17 19:12] thomasjpfan commented on #17945
The issues stems from `df.sparse.to_coo()` with mixed pandas sparse extension array results in a coo sparse matrix with object dtypes:

[code]

[2020-07-17 19:25] gauravkdesai commented on #5545
@ogrisel @jeremiedbb @FollowKenny does this issue needs any help? I would like this to be my first contribution if possible.

[2020-07-17 19:26] zachmayer commented on #17916
@NicolasHug I wanted to add an option, and preserve the default behaivor of raising an error. However, @jnothman said he'd prefer converting the error to a warning.

[2020-07-17 19:44] TomDLT commented on #17916
I think I prefer changing from error to warning compared to adding a new parameter.
But I am also fine with keeping the error, and adding an example of how to implement the workaround with custom classes.

[2020-07-17 22:26] rth commented on #17943
Sorry about this )

[2020-07-18 02:07] joshuacwnewton commented on #9661
I'm realizing quite quickly that I don't think I will be able to confidently compare VB to CGS.

Ideally, I would want to measure how long it takes to train both VB and CGS and reach a given perplexity value (for a number of different hyperparameter configurations and datasets). This is similar to the experiments conducted in On Smoothing and Inference For Topic Models [(Asuncion et al., 2009)](ht

[2020-07-18 09:27] #17943 closed

[2020-07-18 09:28] adrinjalali commented on #17943
Nothing to be sorry about @rth, we clearly have a gap between ideal set of tests and our test suite, and interestingly enough our docs cover some of them lol

[2020-07-18 10:55] ForrestCKoch commented on #17813
So I know someone else has already taken this, but I thought it was really interesting so I wrote up a quick benchmark.  Thought I'd share in case it's helpful ...

[code]

And my timings were:

[code]

I thought it was interesting that both approaches outperformed cdist, so I've opened an issue over there too.

[2020-07-19 02:40] DonutCodeDonutCare commented on #17276
I am also getting the same issue but doing the above did not help, can anyone post the exact code that worked for them to solve the above issue?

[2020-07-19 06:45] sandymule commented on #17944
@LionelMassoulard Hi - I'm unable to reproduce your bug. I ran the code above and it passed the assert statement, so the random state did work for me

[2020-07-19 07:26] LionelMassoulard commented on #17944
Hi, maybe the bug is only for some configuration. Also try running the code a few time : it usually fails but this there is a non deterministic behavior sometime the assert pass.
Let me know if I can give you more informations.

[2020-07-19 09:55] jlandercy opened #17950 "Missing members after `fit` call when using `TransformedTargetRegressor` object."
#### Describe the bug

Using `TransformedTargetRegressor` object does not allow to access `fit` created members such as `coef_` from `LinearRegression`.

#### Steps/Code to Reproduce
[code]

It seems fit method does not create expected members, because it returns `AttributeError`:

[code]

Or:

[code]

#### Expected Results

I would have expected:

 - `coef_` and `intercept_` members to be created

[2020-07-19 12:58] jnothman commented on #17950
See .regressor_

[2020-07-19 16:33] jlandercy commented on #17950
@jnothman Thank you for pointing out, I have missed it. I close the issue then.
Would you mind elaborate a bit on the difference between `.property` and `.property_` in the `sklearn` API.

Best regards,

Jean

[2020-07-19 16:33] #17950 closed

[2020-07-19 23:21] Ashutosh619-sudo commented on #17892
#17938
can you please update me on this.

[2020-07-20 06:09] dachosen1 commented on #17892
I fixed this issue. From my understanding the fix is suppose to return a warning not a error.

[2020-07-20 07:06] AartiKare opened #17951 "For categorical labels, unlabeled y(i.e.-1) not recognized"
#### Describe the bug

#### Steps/Code to Reproduce

#### Actual Results

#### Versions

[2020-07-20 11:50] rth commented on #17933
Why? That should be the recommended method for customization. You can put them in a `Pipeline` and will be able to track all parameter via `get_params` method.

In your case the easiest is to write a custom transformer for weighting. There is another example of classical weighting [here](https://github.com/FreeDiscovery/FreeDiscovery/blob/master/freediscovery/feature_weighting.py#L68).

Sorry clos

[2020-07-20 11:50] rth commented on #17941
Closing as no response. Don't hesitate to comment with the requested information to reopen.

[2020-07-20 11:50] #17941 closed

[2020-07-20 11:52] NicolasHug commented on #9661
I only understand LDA on a superficial level and I'm even less familiar with samplers/VI etc, so take everything with  a huge grain of salt: from what I understand, there's a different way to compute the perplexity for CGS which authors chose not to use in order to have comparable results. The "regular" way is still valid for CGS. I believe that the "regular" way is basically what we have implemen

[2020-07-20 12:01] jeremiedbb commented on #17944
Hi, I can't reproduce it either in a similar config. However I'm not that surprised that it can happen. There's randomness in the order of threads that we can't control, causing different rounding errors for a same operation. When `n_init>1`, it means that if 2 inits give the same clustering, sometimes one will be chosen and sometimes the other one will be chosen, leading to different labels.

Cou

[2020-07-20 12:02] cmarmo commented on #12638
fixed in #12673.

[2020-07-20 12:02] #12638 closed

[2020-07-20 12:18] LionelMassoulard commented on #17944
Hi,
indeed specifying n_jobs=1 or n_init=1 both work.
Thanks for the infos.

[2020-07-20 12:29] jeremiedbb commented on #17276
The recommended way is to leave n_jobs to it's default value. This way it will use all cores.
If you want to use less cores you can set the OMP_NUM_THREADS environment variable to the desired number of threads. You have to set it before running python.

[2020-07-20 13:55] jeremiedbb commented on #5545
Thanks @gauravkdesai. You can take over #11524 which is stalled but almost ready. You'd probably have to fix some merge conflicts. There are also a few comments left to address.

[2020-07-20 14:02] ciberger opened #17954 "Allow **fit_params on RFECV"
Hi,

minor change in `fit` method enabling extra fit parameters (i.e. `**fit_params`).

Link to source code:
https://github.com/scikit-learn/scikit-learn/blob/fd237278e/sklearn/feature_selection/_rfe.py#L486

Thanks!

[2020-07-20 14:12] gauravkdesai commented on #5545
@jeremiedbb thanks.

[2020-07-20 14:17] ludovicgauvin opened #17955 "HistGradientBoostingRegressor and quantile loss function"
Hi,

I was wondering if you plan to add quantile loss function in `HistGradientBoostingRegressor` ? (it is available in `GradientBoostingRegressor`)

It would be very useful to estimate confidence interval.

Best,
L.

[2020-07-20 15:09] jeremiedbb commented on #17944
Well then as I said there's not much we can do about that, sorry :/
I'm closing the issue as a won't fix.

[2020-07-20 15:09] #17944 closed

[2020-07-20 16:40] alexshacked commented on #17945
@thomasjpfan  you are right. I looked into this issue and  pandas SparseFrameAccessor.to_coo() will create a coo_matrix  with dtype np.object, If the DataFrame containd sparse columns of different types.  And a coo_matrix with np.objects cannot be used to generate a csr_matrix. When calling coo_matrix.to_csr, we get the exception described in the issue.

I propose a fix in scikit -learn,file valid

[2020-07-20 16:46] ckastner commented on #17428
When building the 0.23.1 packages for Debian, I too encountered these test failures (both 'full' and 'elkan' failed).

Reading the exchange above, the issue seems to already have been identified. I thought it couldn't hurt to add another data point.

We've locally disabled these tests for now.

[2020-07-20 16:58] cmarmo commented on #15351
Closing for missing feedback... trying to reduce (ideally to zero) the number of questions in the issue tracker.

[2020-07-20 16:58] #15351 closed

[2020-07-20 17:26] cmarmo commented on #16875
Hi @Naklecha, thanks for your interest in scikit-learn. HDF5 format is not used in scikit-learn and its specific support is unlikely to be added to the library.
I will close this issue as the mailing list or stack overflow channels are more appropriate for questions than the issue tracker.
Feel free to reach the user community there. Thanks.

[2020-07-20 17:26] #16875 closed

[2020-07-20 17:30] DonutCodeDonutCare commented on #17276
Alright, thank you!

[2020-07-20 17:31] cmarmo commented on #17117
Dear @MQMQ2018 thanks for using scikit-learn.
Usage questions are more appropriate for the scikit-learn mailing list or stack-overflow than for the github issue tracker.
Feel free to join the scikit-learn user community there. Thanks.

[2020-07-20 17:31] #17117 closed

[2020-07-20 17:41] cmarmo commented on #17397
@dmeoli, @NicholasHug, it seems that the question have received a lovely answer... :) ... I'm closing this one: for any other questions feel free to use the scikit-learn mailing list or stackoverflow. Thanks.

[2020-07-20 17:41] #17397 closed

[2020-07-20 20:40] THaar50 opened #17960 "Single linkage option in Agglomerative causes MemoryError for very large numbers"
#### Describe the bug
Using the single linkage option in Agglomerative clustering results in a MemoryError when the input data contains very large values, likely due to numeric overflows.

#### Steps/Code to Reproduce
Example:
Running the code below with half of the sample data does not produce a MemoryError (although the same numpy RuntimeWarning is being thrown). However, if the data contains as

[2020-07-20 21:11] TomDLT commented on #17574
See #6624

[2020-07-20 23:30] jnothman commented on #17939
Let's leave this open until we are sure whether or not it's a bug

[2020-07-21 00:08] rth commented on #17939
Thanks for bisecting @thomasjpfan !

Checking briefly I think it's about tie breaking. The threshold of tokens that are being included at `max_features=10000` have a term frequency of 43,
[code]
with,
[code]

the number of words that are different is also bound by the number of terms with that term frequency,
[code]

So it's a behavior change, but I'm not sure if we should handle it as a regressio

[2020-07-21 01:06] jnothman commented on #17939
It looks like we have a 0.23.2 lined up in any case.

Yes, I was also going to demonstrate tie breaking issues, which breaks sample order invariance:
[code]

So the previous version was more correct in that sense :|

[2020-07-21 01:06] jnothman commented on #17939
Is there a way to neatly sort after some filtering but before `max_features`?

[2020-07-21 01:08] jnothman commented on #17939
@smaola would you be interested in trying to build a more sophisticated version of your #15834 that maintains the previous tie breaking behaviour?

[2020-07-21 05:12] jnothman commented on #17950
I guess `property_` with trailing underscore means property has been fitted, then what `property` stands for?

See file:///Users/joel/repos/scikit-learn/doc/_build/html/stable/glossary.html#term-attribute which discusses exactly this.

[2020-07-21 05:24] jnothman commented on #17951
Could you provide an example which reproduces this issue? If you use object dtype to store a mix of string and integer values, it might work?? In any case, I agree that usability here is poor.

[2020-07-21 08:07] glemaitre commented on #17942
And in one of my fix I am starting to make such internal changes. This is actually a surprising behaviour when it fails :)

[2020-07-21 08:19] binxixi opened #17961 "Class_weight and sample_weight in LogisticRegression"
hello, why class_weight and sample_weight dosen't work well? hope for you guidance,thks.

I train some unbalanced data , which the ratio of bad to good is 1:10 .
So I  use class_weight = 'balanced', but the ks/ F1 score /auc dosen't prove or change little .
So I  use sample_weight = data['is_bad'],  but the ks/auc decline ,and F1 score turn to zero .

[2020-07-21 08:35] alexshacked commented on #17945
Hey @thomasjpfan, @jnothman.
The issue stems from a pandas liimitation to create a sparse matrix when the DataFrame has sparse columns of different numeric types - like int and float. In this case it crease a "problematic" coo_matrix. The coo_matrix has np.object elemets, so calling tocsr() on it will fail. This is the exception we are getting.
I proppose a fix where in validation.py we detect whe

[2020-07-21 08:36] binxixi commented on #17961
I tried to set class_weight ={0:0.9,0:0.1}   and  class_weight ={0:0.1,0:0.9}  , the result of ks/ F1 score /auc  almost unchanged

[2020-07-21 10:06] maayanorner commented on #16517
Isn't it the case that with "extension level" of 0 you basically get something equivalent to the "classic" version? As they state in the paper, with "extension level" set to 0 the random slices will be parallel to the axes (which basically describes the standard algorithm). If it's really identical, I think that, in my humble opinion, there is a strong argument for extending the existing version,

[2020-07-21 10:45] alexshacked commented on #17945
sparse matrix incompatibilty with np.object is encapsulated in the upcast function:

[code]

[2020-07-21 12:57] jnothman commented on #17950
Updated that link, sorry.

[2020-07-21 13:17] dhruvshah0803 opened #17963 "Give us the output of"
Give us the output of

[code]
the output is

[code]

_Originally posted by @glemaitre in https://github.com/scikit-learn/scikit-learn/issues/8754#issuecomment-294817324_

[2020-07-21 13:17] glemaitre commented on #17961
`class_weight` works as explained in the documentation by applying a weight which is the inverse of the class frequency.
`sample_weight` applies some specific weight at the sample level and not a group of samples.

Basically class imbalanced is a complicated problem and the `class_weigth` might not be enough.
You might want to have a look at the following tutorial which try to see other techniques

[2020-07-21 13:17] #17961 closed

[2020-07-21 13:21] glemaitre commented on #17963
It seems that you have something broken with your install. Could you reinstall `scikit-learn`.

[2020-07-21 14:31] dhruvshah0803 commented on #17963
C:\Users\dhruv>pip install scikit-learn
Collecting scikit-learn
  Using cached scikit_learn-0.23.1-cp38-cp38-win_amd64.whl (6.8 MB)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dhruv\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in

[2020-07-21 14:32] jnothman commented on #17960
Thanks for the report. This needs investigation.

[2020-07-21 14:32] dhruvshah0803 commented on #17963
![Screenshot (217)](https://user-images.githubusercontent.com/63180661/88067852-1ddbe900-cb8d-11ea-97b5-341b42ba84c0.png)
![Screenshot (217)](https://user-images.githubusercontent.com/63180661/88067885-259b8d80-cb8d-11ea-99a5-7012a0c7617d.png)

[2020-07-21 14:33] dhruvshah0803 commented on #17963
please help me out if possible ive been struggling
from days

[2020-07-21 14:37] jnothman commented on #16875
Onnx or pmml are more relevant technologies than h5, as noted at
https://scikit-learn.org/stable/modules/model_persistence.html

@cmarmo, users are often unfamiliar with these model export tools. I
suspect we should have better documentation guiding the workflow from
experimentation to production.

[2020-07-21 17:22] ogrisel commented on #17428
Since we now use OpenMP (thread-based) parallelism by default, I would not be surprised that we observe some non-deterministic rounding errors.

[2020-07-21 17:44] bnaul opened #17965 "Support multiple targets in LinearModelCV"
I was reading the discussions in #13117 and #13131 and thought this point warranted its own issue:

I personally find the current behavior (namely rejecting inputs w/ multiple targets and referring the user to `MultiTask*CV` instead) to be a bit counterintuitive and undesirable: while there are certainly many cases where the MultiTask version is more appropriate, there are also cases where you exp

[2020-07-21 17:49] bnaul commented on #17965
cc also @mathurinm as I just noticed #17099

[2020-07-21 19:53] THaar50 opened #17966 "Counterintuitive AttributeError in Birch for very large numbers"
#### Describe the bug
Input data containing very large numbers causes overflows in the Birch algorithm, that manifest in different errors depending on the branching factor parameter. If the number of data points is smaller than or equal to the branching factor a ValueError is thrown in AgglomerativeClustering, but if this number exceeds the branching factor an AttributeError is thrown instead. Sin

[2020-07-21 20:31] amueller opened #17967 "neighbors/_quad_tree.pyx contains test"
There's a test_summarize static method, which I feel should not be in the main cython code.
We don't have any other tests in Cython so this might need a new cython test file? I'm not sure.

[2020-07-21 20:35] thomasjpfan commented on #17966
`X` has values that are just barely under `np.finfo(np.float64).max` so it passes through `check_array` and the calculating in birch is doing calculations with these values that is going over the max.

One way to try to catch this is to catch the runtime warning and throw a more informative message. I am -0.5 on this because if we go down this route it would make sense to do it to catch it everywh

[2020-07-21 20:58] rth commented on #17966
The underlying issue to that error might be similar to https://github.com/scikit-learn/scikit-learn/issues/6172

Related discussion on behavior with very large floats in https://github.com/scikit-learn/scikit-learn/issues/17925

[2020-07-21 22:33] cmarmo commented on #16875
@jnothman, I will have a look to the current documentation and propose something.

[2020-07-21 22:35] sstalley opened #17969 "Verbose debugging for spectral clustering"
#### Describe the workflow you want to enable
I want to be able to enable verbose debugging messages for spectral clustering to make it easier to find problems and debug.

#### Describe your proposed solution
Add a 'verbose' optional argument to the spectral_clustering() function that gets passed into the underlying k_means() call.

#### Describe alternatives you've considered, if relevant
There m

[2020-07-21 23:07] thomasjpfan commented on #17945
I would not recommend densifying the sparse matrix, especially when the original dataframe had a sparse presentation. I would consider raising an error when there the sparse extension arrays are not of the same type.

On a related note, the semantics of a [pandas sparse](https://pandas.pydata.org/docs/reference/api/pandas.arrays.SparseArray.html#pandas.arrays.SparseArray) is not consistent across

[2020-07-21 23:20] thomasjpfan commented on #17969
We are in the process of rethinking the we do logging: https://github.com/scikit-learn/scikit-learn/issues/17439

That being said, passing in `verbose` through to `kmeans` does make sense. Although we most likely need one logging messaging in `spectral_clustering` stating that it is assigning labels with kmeans.

[2020-07-21 23:50] thomasjpfan commented on #17954
This would first require `RFE` to support `**fit_params`.

There is related work for getting `RFE` to support sample weights: https://github.com/scikit-learn/scikit-learn/pull/7333

[2020-07-22 06:21] alexshacked commented on #17945
OK, @thomasjpfan. I agree. I'll implement a solution that checks for different numeric types in the DataFrame and issues an error. This will be done in function check_arrray in validation.py. Will submit a PR with this solution soon

[2020-07-22 07:29] albertotb commented on #17965
This would be great IMHO. I think the documentation por more than one output is a little bit confusing and I think I rather have dummy classes just for the correct docstring.

[2020-07-22 08:23] theRealSuperMario opened #17970 "Agglomerative clustering with and without structure : Isn't it faster withOUT connectivity matrix?"
While I was looking at the documentation of Agglomerative clustering, I noticed that the might be as mistake in the text.

https://scikit-learn.org/stable/auto_examples/cluster/plot_agglomerative_clustering.html#sphx-glr-auto-examples-cluster-plot-agglomerative-clustering-py

But when I look at the outputs generated, the time taken for the option **connectivity=True** is much more.

I am either ve

[2020-07-22 09:49] glemaitre commented on #17963
Could you try

[code]

to have more information. It is weird because the missing file should be inside the wheel.

[2020-07-22 09:56] #17967 closed

[2020-07-22 10:47] jnothman commented on #17970
I think it may depend on the structure of your problem space.

[2020-07-22 12:45] Jarmos-san commented on #17963
### Observations:

Issues like these can be difficult to debug but I made some observations that could possibly raise the problem you're facing.

1. You're trying to install the library into a directory that might/might not have write privileges.

2. The name of the directory, `d:\3.PROGRAMS` might be messing up with the imports.

3. Highly unlikely but just a hunch & my two cents, I'm guessing th

[2020-07-22 13:14] ogrisel commented on #12430
Closed by #13603.

[2020-07-22 13:14] #12430 closed

[2020-07-22 13:15] ogrisel commented on #16535
@jeremiedbb it seems that we can close this now that #17848 has been merged. Do you agree?

[2020-07-22 13:20] jeremiedbb commented on #16535
Right, thanks

[2020-07-22 13:20] #16535 closed

[2020-07-22 14:44] ngojason9 commented on #8480
right now, `f_regression` calculates the Pearson correlation coefficient. If our input/output is ordinal/continuous, would it make sense to implement `f_regression_ordinal` that uses Spearman's rank correlation coefficient instead? If so, @yashika51 and I can implement it as the first step to tackling this issue. ping @jnothman @amueller and @thomasjpfan

[2020-07-22 15:02] theRealSuperMario commented on #17970
hmmm.

But then, I think you cannot hold the general claim as written in the doc, can you? so maybe rephrase it a little? It's a little bit confusing in my opinion.

I'm gonna try it on a bunch of datasets and see if how much it depends on the dataset.

[2020-07-22 15:19] shinnar commented on #13031
TLDR: We believe that JSON Schema is a good choice for a machine readable representation for hyper-parameter specifications.  We have explored this in our open source project Lale [[1]](#myfootnote1).

JSON Schema is a widely used specification language for JSON [[2]](#myfootnote2). As part of the open source Lale (https://github.com/ibm/lale) project we use JSON Schema for our specifications, and

[2020-07-22 17:48] ebonat opened #17972 "fit_transform() method of LabelEncoder() return a new line after 37 len(string) value"
Hi,
The fit_transform() method of LabelEncoder() return a new line after 37 len(string) value. Below is the code:

[code]

Results:

[code]

Is anyone knows why? any work around to fix this issue?

thank you for your help,

-ernest

[2020-07-22 19:09] rth opened #17974 "display="diagram" and storing notebooks"
The new diagram display option works nicely in jupyter notebooks, however when I load a stored notebook in a new kernel it doesn't seem to render properly.

**Training the estimator**

![Screenshot_2020-07-22 06 - Jupyter Notebook](https://user-images.githubusercontent.com/630936/88217537-f9e8d800-cc5e-11ea-952a-1e36ed395f1c.png)

**Same notebook opened later in a different kernel**
![Screenshot_2

[2020-07-22 22:59] jnothman commented on #17939
so then we sort twice in that case?

[2020-07-22 22:59] jnothman commented on #17939
but yes, that would be a good intermediate solution I think.

[2020-07-22 23:47] jeremiedbb commented on #17972
It's just that numpy prints using a maximum line width. You can change it with ``numpy.set_printoptions``.

[2020-07-22 23:47] #17972 closed

[2020-07-23 00:09] ebonat commented on #17972
hi jeremiedbb,

thank you! this fixed this issue. you may close it at any time.

[2020-07-23 00:56] drorcohengithub commented on #17965
I am not sure if this fits here or should be a separate issue, but RidgeCV also does not support separate optimization for each target.  A work around with a MultiOutputRegressor maybe possible, but probably slower than a dedicated one.

[2020-07-23 05:52] siddhartha-shrivastava opened #17976 "Method to identify Cost Based Optimal Cutoff for Classification on Models"
The beta parameter determines the weight of recall in the combined score. beta < 1 lends
more weight to precision, while beta > 1 favors recall ( beta -> 0 considers only precision,
beta -> +inf only recall). This can be used to identify the best thresholds for the users to
get the best F-Score, considering we have a correct beta.

Though we consider the weights of recall and precision we often fo

[2020-07-23 05:53] siddhartha-shrivastava commented on #17976
I would also like to create a pull request for it. :)

[2020-07-23 07:33] jnothman commented on #17974
I'm not managing to reproduce this. Could you give more details about the
new kernel. Is it in the same environment??

[2020-07-23 07:34] jnothman commented on #17970
Thanks. Please feel free to open a pull request improving the documentation.

[2020-07-23 10:41] #16558 closed

[2020-07-23 12:39] alexshacked commented on #17945
Further analysis :
In order to produce a coo_matrix, function SparseFrameAccessor.to_coo() looks at the SparseDtype of the Dataframe columns. All columns need to have the same SparseDtype so that the coo_matrix will not have dtype - object.

When comparing two SparseDtypes the code looks at their np.dtype. The point is that two different np.types can produce the same dtype. For example:
[code]
Thi

[2020-07-23 16:29] pasztorlacos opened #17977 "Unpickling PCA in 0.21.3 that was pickled in 0.22.2.post1"
PCA pickled in Colab with version 0.22.2.post1 cannot be loaded in version 0.21.3 that QuantConnect uses. ModuleNotFoundError : No module named 'sklearn.decomposition._pca'. Is there any workaround?

[2020-07-23 16:37] richardtomsett opened #17978 "predict_proba() for linear models with log loss can return NaNs with large model coefficients"
#### Describe the bug
The predict_proba() function can return NaNs for linear models with log loss if
the training has resulted in a model with large coefficients. The linear equation
can result in decision_function() returning large negative values for every class
for a single input. This means that the normalization in predict_proba_lr()
(line 327 in https://github.com/scikit-learn/scikit-learn/

[2020-07-23 17:47] #17445 closed

[2020-07-23 18:05] thomasjpfan commented on #17977
[Regarding Model persistence and pickling across versions](https://scikit-learn.org/stable/modules/model_persistence.html?highlight=pickle#security-maintainability-limitations):

If QuantConnect is restricted to using 0.21.3 then a workaround is to downgrade to 0.21.3 on Colab before training your model.

[2020-07-23 19:20] siddhartha-shrivastava commented on #17976
Hi, the patch contains, Fcost_score.
It's not an optimal cutoff where we can update the threshold, but rather a simple cost function in which the user can enter their own cost functions for FP, FN, and TP and get a single value.

Future work and issues could be:
 Making an optimal threshold and to make sure it converges.

[2020-07-23 20:44] agramfort commented on #17965
what makes you predict it will be slower to use MultiOutputRegressor?
what operator do you anticipate to factorize?

[2020-07-23 21:21] avigupta2612 commented on #16519
The PR for this issue is already merged so I think it should be closed now.

[2020-07-24 02:04] drorcohengithub commented on #17965
@agramfort looping through each target is much slower than using the multioutput formulation of ridge.
I continued the discussion at #17975 so maybe we should migrate there?

[2020-07-24 05:21] ManuelZ commented on #14376
Curious about why was this issue closed because of #13204 being finished. I thought that #13204 was a pre-requisite for this one.

[2020-07-24 08:16] agramfort commented on #17965
my point is that it depends on the solver you use. Solvers based on
SVD will factorize SVD or
maybe gram matrix computation but it is not as systematic. For
conjugate gradient or SAG
or coordinate descent approaches (in primal) it's not clear that it
will bring you anything.
Should we do this we need to carefully update the code structure to
avoid more complexity
in this code.

[2020-07-24 09:55] lewisbails opened #17979 "StackingClassifier to support multilabel classification"
It would be great if StackingClassifier supported multi-label classification. For example, currently, if the final estimator is a logistic regression model with a one-vs-rest multi-class setup, fitting the StackingClassifier returns a ValueError because we cannot fit the LabelEncoder with targets like [[1,1,0], [0,0,1], ...].

[code]

I propose not having a LabelEncoder for targets that are multil

[2020-07-24 11:41] rth commented on #17974
Thanks for checking! I also can't reproduce on a different machine (and example). I'll try to investigate more, maybe it has something to do with the installed jupyter plugins.

Yes, it was literally: save notebooks (renders fine) -> click to restart kernel in UI -> reload page (renders incorrectly). All in the same environment.

[2020-07-24 12:55] ogrisel commented on #13073
Azure Pipelines now supposedly supports the Linux/ARM64 platform as announced here:

https://azure.microsoft.com/en-in/updates/azure-devops-pipelines-introduces-support-for-linuxarm64/

However I could not find any reference for this platform in the documentation. Maybe it's just a matter of trying to use it.

[2020-07-24 13:26] glemaitre commented on #17829
The code seems a bit weird indeed. I would open a PR to make an `or` instead of an `elif` if we yield the same tuple.

[2020-07-24 13:35] Praveenk8051 commented on #12621
@amueller Is it still available ? Seems like its not solved, I'm first timer and would like to pitch in !!

[2020-07-24 13:39] Praveenk8051 commented on #15761
@cgsavard Hey, Can I work on this? I'm a first-timer

[2020-07-24 13:50] Praveenk8051 commented on #14444
@qinhanmin2014 Can i contribute to this ? First timer

[2020-07-24 14:21] ogrisel opened #17980 "sklearn/gaussian_process/tests/test_gpr.py:test_sample_statistics segfaults with libopenblas 0.3.10"
Steps to reproduce:

[code]

Then:

[code]

<details>

[code]

</details>

[2020-07-24 14:42] thomasjpfan commented on #14376
#13204 added `gap` to `TimeSeriesSplit` that was the feature requested by this issue.

[2020-07-24 14:46] ogrisel commented on #17980
This can be fixed by switching the env to use MKL instead of OpenBLAS:

[code]

[2020-07-24 14:54] ogrisel commented on #17980
I can reproduce the segfault with the main channel openblas 0.3.10:

[code]

<details>

[code]

</details>

[2020-07-24 14:59] ogrisel commented on #17980
Pinning openblas to 0.3.9 fixes the issue. I tested with conda-forge using this env:

[code]

[2020-07-24 16:00] thomasjpfan commented on #17980
The segfault is happening in `multivariable_normal`:

[code]

[2020-07-24 16:04] ogrisel commented on #17980
Thanks @thomasjpfan, I was trying to slowly narrow it down. Not sure how this is related to openblas. Will use a debugger to run step by step.

[2020-07-24 16:09] thomasjpfan commented on #17980
In sklearn, the call to `multivariable_normal` is made here:

https://github.com/scikit-learn/scikit-learn/blob/12781810421fd02d087c23eca5a70595ca46ed3d/sklearn/gaussian_process/_gpr.py#L410

[2020-07-24 16:11] ogrisel commented on #17980
I used you [code snippet](https://github.com/scikit-learn/scikit-learn/issues/17980#issuecomment-663609997) to get a backtrace:

[code]

[2020-07-24 16:12] ogrisel commented on #17980
So it's a double precision matrix matrix multiplication that's crashing...

[2020-07-24 16:14] ogrisel commented on #17980
If you disable openblas blas threads, the crash goes away (both for your script and the original test):

[code]

[2020-07-24 16:24] thomasjpfan commented on #17980
Looks like this only segfaults when `size` is large enough:

[code]

I think we have enough context to raise an issue on the numpy issue tracker.

[2020-07-24 16:34] ogrisel commented on #17980
I simplified it down to:

[code]

[2020-07-24 16:34] ogrisel commented on #17980
I will try to write a minimal C program to report it to the OpenBLAS developers.

[2020-07-24 16:35] thomasjpfan commented on #13073
Looking more into it, I think azure added an arm64 agent so one can run an [self-hosted arm agent](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-devops). I do not think microsoft is hosting any arm agents themselves. [Here is a list of microsoft hosted agents](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml).

[2020-07-24 19:46] rth commented on #13073
It's not explicitly mentioned here, but Travis CI also has [some ARM CI](https://blog.travis-ci.com/2019-10-07-multi-cpu-architecture-support) I think.

[2020-07-24 19:47] adamyli commented on #10368
Was this ever implemented for the main sklearn RFE package? Been needing the same thing where I would like the same percentage of features to be eliminated at each iteration. I've tried editing the code locally but it won't pip install on my environment so I was wondering if this PR worked out.

[2020-07-24 20:47] adamyli commented on #10368
Regarding the paper you linked above by Guyon et al, I echo your sentiments completely as I'm currently working with large methylation data sets that need feature selecting. How did Guyon et al. do it without sklearn? Is there a way to perform if if the PR does not go through?
Thanks!

[2020-07-24 22:35] cmarmo commented on #16519
Right! Thanks @avigupta2612! Closing.

[2020-07-24 22:35] #16519 closed

[2020-07-25 02:12] JinLi711 commented on #15761
I'll work on the files in `sklearn.datasets`.

[2020-07-25 05:10] JK186 commented on #17394
I tried to run this code and its working fine for me.

[2020-07-25 05:17] mattlevine22 commented on #17394
@JK186 what environment are you using?

[2020-07-25 07:46] GuptaTanay opened #17983 "ImportError: DLL load failed: The specified procedure could not be found."
My OS is windows 10 and using jupyter notebook in my venv.  sklearn is installed successfully using the command:
`pip install scikit-learn`

After importing the package using the below command:
`from sklearn.model_selection import train_test_split`
I am getting below error:

[code]

[2020-07-25 08:43] venkyyuvy commented on #15319
Looks like bagging regressor is already lenient towards missing values.

[Reference](https://github.com/scikit-learn/scikit-learn/pull/9707)

I tried the following test and it is passing:

[code]

Probably I should start with other meta estimators?

[2020-07-25 09:10] jnothman commented on #17979
Yes, an extension to support multiple outputs in Stacking would be welcome.

[2020-07-25 09:12] jnothman commented on #12621
I have cleared the assignee after 6 weeks of silence. It's open for taking as far as I'm concerned

[2020-07-25 09:18] Zac-HD commented on #13846
I've since written [a paper on testing scientific code (pdf)](http://conference.scipy.org/proceedings/scipy2020/pdfs/zac_hatfield-dodds.pdf) which is probably relevant to scikit-learn :slightly_smiling_face:

The [METTLE paper](https://arxiv.org/abs/1807.10453) shows off some fancier properties you can test specifically for unsupervised ML systems.  Personally I'd start with "does not crash on any

[2020-07-25 09:29] rth commented on #17563
Thanks for opening this issue @txntxn ! Could you explain a bit more the use case? I agree that the the reconstructions is not lossless but that would be the case even we take the median instead of the mean in general.

That median could indeed work better in some use-cases, but the bin edges are taken as quantiles by default, so I would imagine with enough `n_bins` both the mean and the median wo

[2020-07-25 09:30] ogrisel commented on #17563
I am not sure how the median inverse transform operation would work. Can you give more details?

[2020-07-25 09:33] rth commented on #13846
Thanks for the link @Zac-HD !

Absolutely, that's what we are trying to do in https://github.com/scikit-learn/scikit-learn/pull/17176 as a first step. Though we have been adding more invariance tests lately to the common tests as well e.g. https://github.com/scikit-learn/scikit-learn/pull/17319 https://github.com/scikit-learn/scikit-learn/pull/17176

[2020-07-25 09:34] rth commented on #17563
@ogrisel If I understood correctly replacing the mean by the median [here](https://github.com/scikit-learn/scikit-learn/blob/fd237278e895b42abe8d8d09105cbb82dc2cbba7/sklearn/preprocessing/_discretization.py#L321).

[2020-07-25 09:37] rth commented on #17419
This is related to the discussion in https://github.com/scikit-learn/scikit-learn/issues/15651 I think.

[2020-07-25 10:32] rth commented on #12675
Someone would need check if it's still a relevant issue after https://github.com/scikit-learn/scikit-learn/pull/17661

[2020-07-25 10:41] rth commented on #16301
Maybe we should mention this at the next dev meeting. I don't think many people saw this issue.

[2020-07-25 13:02] ogrisel commented on #17980
This was fixed upstream in https://github.com/xianyi/OpenBLAS/pull/2729 and the conda-forge package has already been updated with the fix. Closing.

[2020-07-25 13:02] #17980 closed

[2020-07-25 14:36] NicolasHug commented on #16301
I find this interesting but I am concerned about supporting too many ways of achieving the same thing. I feel like this is what makes some libraries hard to use and learn.

Happy to consider a SLEP though.

[2020-07-25 17:00] bmaisonn commented on #12621
I've just tried to reproduce this one but it now returns an appropriate error message

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['int', 'str']

[2020-07-25 19:25] thomasjpfan commented on #12621
@bmaisonn Thank you for looking into this issue!

With that error message, it looks like this issue has already been resolved.

[2020-07-25 19:25] #12621 closed

[2020-07-25 20:16] shanaya5855 commented on #17963
I tr#ied every Solution posted on Stackoverflow and githut, but none of them worked! At last I used the following command:
  **pip install import-ipynb**
And Guess what, it did the job :")

[2020-07-26 00:11] jnothman commented on #15319
If there is no existing test for it, please add it.

[2020-07-26 00:20] jnothman commented on #16301
I think it is a pity we did not consider this method-based syntax before we introduced `make_pipeline` etc.

The appeal of the method based approach is that it is much more explicit and self-checking: each `add` method has its own arguments and docstrings. The make_pipeline logic, OTOH, is completely implicit and the idea that an estimator is assigned a name automatically makes the whole thing a b

[2020-07-26 00:22] jnothman commented on #16301
I also think it's what people expect given the object-oriented construction
of estimators in deep learning land.

[2020-07-26 00:34] #17693 closed

[2020-07-26 03:16] thomasjpfan commented on #16301
I would be fairly happy with using a method for creating `ColumnTransformers`. For me, I like `append` because it treats `ColumnTransformer` like a list.

Side note: For 95% of the time, I use `Pipeline` and `ColumnTransformer` directly because I want to explicitly give names.

I suspect @amueller will have a few thoughts regarding constructing DAGs and/or pipelines.

[2020-07-26 04:10] jnothman commented on #16301
because I want to explicitly give names.

This is precisely why the syntax should be similar regardless whether
you want to specify or not specify names, which is what this idea offers.

[2020-07-26 08:02] franktoffel commented on #5870
Is there any update on this open issue?

[2020-07-26 12:15] adimalhotra11 commented on #17983
You just need to pip install scikit-learn in your venv as well.
Hope it helps!

[2020-07-26 13:22] #10832 closed

[2020-07-26 13:33] #17097 closed

[2020-07-26 19:39] rth commented on #17797
Thanks for the report @murata-yu , I can reproduce in https://github.com/scikit-learn/scikit-learn/pull/17996

Not yet sure if it's an indication of an actual issue of it we should just increase the tolerance.

[2020-07-26 22:16] aimefournier opened #18003 ""probabilistic PCA" a misnomer"
#### It is misleading to say the PCA method "implements the probabilistic PCA model".

The docs say

but in fact the code <tt>_pca.py</tt> implements what those authors call "conventional PCA" (sec. 3.3, p. 6) inasmuch as the transforms use only the eigenvector matrix **U**, not the equations using the matrices **M** and **W**.
#### A potential alternative/fix

State that "probabilistic PCA" is us

[2020-07-27 04:56] GuptaTanay commented on #17983
As mentioned above, I have already done that.

[2020-07-27 07:06] alexshacked commented on #17945
Hey, @thomasjpfan. I recently submitted a pull request to fix this issue.

[2020-07-27 08:09] chkoar opened #18005 "check_estimator and binary_only tag"
Shouldn't the `check_estimator` check if you pass a non binary problem for a binary classifier? I mean, if you have an untagged binary estimator that raises an exception the `check_estimator` will fail. On the other hand,  if you have a tagged estimator as `binary_only` the `check_estimator` will pass if you pass a non-binary problem. I would expect to fail in this case.

[2020-07-27 09:26] ogrisel commented on #17797
From a user point of view, 4% of change in accuracy in the 0.8 range looks like more than a small numerical stability issue. It's worth investigating.

[2020-07-27 09:44] zahs123 opened #18006 "calibratedclassifercv is not giving correct calibration curve plot"
hi all,

i am using xgboost and since the model outputs scores i need to calibrate model. i have read the sklearn documentation and have ensured i've adhered to the requirements in using calaibratedclassifer. my mode is as below:

[code]
[code]

then doing above for platts also i get:
![Screenshot 2020-07-24 at 11 02 39 AM](https://user-images.githubusercontent.com/23192374/88528010-f3a78280-cff5-

[2020-07-27 09:57] zahs123 commented on #18006
@lucyleeow only mentioning you since i can see you have done some work on this library

[2020-07-27 10:29] mzmey37 opened #18007 "spectral_clustering largest/smallest eigenvalues mistake?"
#### Describe the bug
I was studying spectral clustering and found a place in code, that confused me. As I understood, in spectral clustering we pick first k eigenvectors corresponding to first k smallest eignvalues. I saw it [here](https://www.cs.cmu.edu/~aarti/Class/10701/readings/Luxburg06_TR.pdf) on page 3 _By “the first k eigenvectors” we refer to the eigenvectors corresponding to the k small

[2020-07-27 11:25] juliusvering commented on #17960
take

[2020-07-27 11:56] will-thompson-k opened #18008 "DummyClassifier Gallery Example"
## Describe the workflow you want to enable / motivation

The purpose of the DummyClassifier estimator according to the documentation is to make predictions using simple rules (http://scikit-learn.org/stable/modules/generated/sklearn.dummy.DummyClassifier.html). In most cases shown in the documentation it provides a benchmark/sanity-check to compare against a (hopefully better) trained estimator.

[2020-07-27 11:57] will-thompson-k commented on #18008
I'm also interested in implementing if its agreed that there is _some_ value to this idea.

[2020-07-27 12:05] jnothman commented on #18008
DummyClassifier does not take X into account. This is a different beast.

The proposal is a bit like OneR in Weka.

For binary classification it can be implemented with a decision tree stub.
For multiclass the same can be done with OvR. But this is far from obvious,
I'll admit.

[2020-07-27 12:09] will-thompson-k commented on #18008
Ah, I had thought by looking at the example here https://scikit-learn.org/stable/modules/generated/sklearn.dummy.DummyClassifier.html that it did something with X. I guess it makes sense it probably ignores. In this mode, maybe it could?

With a decision tree, wouldn't it only work for 1 feature? But yes, definitely see what you mean.

If there was value, do you see this type of logic existing in

[2020-07-27 12:10] will-thompson-k commented on #18008
Otherwise, I can totally find a work around such as what you proposed. I probably will be use this often so was trying to find a "cleaner" way to implement.

[2020-07-27 12:29] venkyyuvy opened #18009 "`plot_topics` visualization for decomposition in text data"
#### Describe your proposed solution
Just like `plot_tree` for decision tree,
can we have a feature for `plot_topics` for LDA, PCA, NMF, etc.

Plot would something like this one, which we have in [this](https://scikit-learn.org/dev/auto_examples/applications/plot_topics_extraction_with_nmf_lda.html#sphx-glr-auto-examples-applications-plot-topics-extraction-with-nmf-lda-py) example.

[2020-07-27 13:06] GuptaTanay commented on #17983
Closed the issue by mistake.
But I have already installed Scikit-learn in my venv. Also I have re-installed it, but not able to fix this issue.

[2020-07-27 13:25] GaelVaroquaux commented on #16301
I think that the general idea must be explored, because we really have a need.

I would avoid the term "append"

[2020-07-27 13:27] amueller commented on #18009
I think this would be nice to have, though other core devs are concerned about score-creep.
One of the issues is that there is a lot of choices to make, and this is modality specific.

[2020-07-27 13:28] #18009 closed

[2020-07-27 13:28] thomasjpfan commented on #16301
What would be a good alternative?

[2020-07-27 13:29] GaelVaroquaux commented on #18009
Thanks Venkat for asking and discussing this. We are closing this as out of scope because of the need to address modality-specific aspects.

Hopefully, downstream libraries will implement such a feature.

[2020-07-27 13:30] amueller commented on #18009
@GaelVaroquaux who do you think would implement this?

[2020-07-27 13:38] GaelVaroquaux commented on #16301
The reasons why I would avoid "append" are:
- It's a term used in the standard objects (list) (that's not a very strong reason, but it's still confusing to have an unexpected behavior)
- It has the notion of ordering (at least to me), and not every usage that we are considering has this notion (column transformer)

Suggestions:
- attach
- assemble
- add
- put
- push

[2020-07-27 13:44] GaelVaroquaux commented on #18009
eli5? https://eli5.readthedocs.io/en/latest/

[2020-07-27 13:44] ogrisel commented on #16301
Maybe also:

- set

I think I like `attach` better.

I like the general idea and it's true that it's probably lead to more easy to read code, more inline with the conventions of the Deep Learning community for complex architectures and would also better interact with automated formatting tools such as black shall we use them in the future.

[2020-07-27 13:51] GaelVaroquaux commented on #16301
I think that we should use the same verb. I think that I like 'attach' too. It seems to work in many situations (Pipeline, ColumnTransformer, FeatureUnion, BaggingClassifier), and it's short.

[2020-07-27 13:55] ogrisel commented on #16301
Another suggestion `bind` (for column transformer at least).

I am not convinced we should use the same verb for ColumnTransformer and the Pipeline: only ColumnTransformer takes the column selector as (primary) argument for this builder method.

[2020-07-27 14:37] thomasjpfan commented on #17983
This seems like an DDL issue when loading scipy and not an issue specific to sklearn. Does the following work?

[code]

It would be good to try to reinstall scipy.

[2020-07-27 14:44] NicolasHug commented on #16301
`pipe`?

[2020-07-27 14:46] GaelVaroquaux commented on #16301
Having a different name for the method each time defeates the purpose of
object-oriented programming. I agree that the semantics vary slightly,
but we can still make the signatures very close.

[2020-07-27 14:54] NicolasHug commented on #18003
The whole sentence is

i.e. you can retrieve the log-likelihood using these methods.

[2020-07-27 15:51] ogrisel commented on #18009
BTW, I like the new matplotlib rendering of the topic modeling example.

[2020-07-27 16:11] zachmayer commented on #17660
Just a follow up on this:
- [ngboost](https://github.com/stanfordmlgroup/ngboost) supports arbitrary base learners, which solves the problem for me for now.
- There's an interesting new package called [Grownet](https://github.com/sbadirli/GrowNet) which has some evidence that boosting different weak learners (specifically neural networks) is useful. (There's a [paper](https://arxiv.org/pdf/2002.07

[2020-07-27 16:52] will-thompson-k commented on #18007
I believe the critical aspect of this lies in the comments above the line you pointed out [here](https://github.com/scikit-learn/scikit-learn/blob/fd237278e895b42abe8d8d09105cbb82dc2cbba7/sklearn/manifold/_spectral_embedding.py#L251):  argpacks "shift-invert mode". When this is done, there is a transform `v = 1(lambda-sigma)`. Notice the passing of a sigma value into that function.

check out : ht

[2020-07-27 16:57] #18007 closed

[2020-07-27 18:21] antonpuz opened #18013 "Incremental KernelPCA"
Hi everyone.

#### Describe the workflow you want to enable
When I run kernel-pca on my relatively large dataset I see the following behavior:
For 30 input features and radial kernel I get the following execution times:

- 10K rows: 5 minutes
- 20K rows: 6 minutes
- 30K rows: 52 minutes
- 50K rows: SIGKILL

Obviously I run out of memory during the execution, as the distance between every pair of r

[2020-07-27 18:51] thomasjpfan commented on #18005
`check_estimator` does not take data as input. It will internally generate data based on the estimator tags.

[2020-07-27 19:11] chkoar commented on #18005
Yes. I know that. I would expect that it will test a tagged binary classifier that will raise an exception on a non-binary test case.

[2020-07-27 19:19] thomasjpfan commented on #18005
Currently, if a classifier is tagged binary, it will only be passed binary problems.

[2020-07-27 19:20] thomasjpfan commented on #18005
For clarification, can you provide a code snippet on the desired behavior?

[2020-07-27 19:52] thomasjpfan commented on #17976
I am +0 on this change. Lets see what everyone else thinks.

On a technical note, I think only two parameters would be enough to define the space, i.e. the ratios: `cost_value_FP/cost_value_TP` and `cost_value_FN/cost_value_TP`.

[2020-07-27 20:25] justmarkham commented on #16301
I wanted to get a feel for how some of my teaching code would look under this proposal, so I created some examples. I started with `Pipeline`, since it's a bit easier to digest:

## Pipeline

[code]

**Option 1:** This is what I use 95% of the time. It's easy to read and write, I know exactly what's in it (because of my own naming conventions), and I know exactly what the assigned step names will

[2020-07-27 20:31] thomasjpfan commented on #16301
As a reference, users coming from `keras` would be familiar with the following:

[code]

or

[code]

[2020-07-27 20:37] GaelVaroquaux commented on #16301
As I mentioned in the call, we can now use dicts (and hence kwargs) which are ordered. The following synthax would be possible:
[code]

[code]
doesn't fully remove the clunckiness :)

[2020-07-27 20:55] jnothman commented on #16301
And entry remains unsupported by IDEs.

[2020-07-27 20:58] jnothman commented on #16301
Thanks for your feedback @justmarkham.

I'm not sure that your comparison is entirely fair, since if
[code]
is sufficient, then so is:
[code]
In some ways this is poorer to read, but it is simpler in the sense that:
* you always import Pipeline, and don't need to decide if `make_pipeline` is a better choice. (We could have facilitated that by making `make_pipeline` instead a classmethod `Pipeline.

[2020-07-27 21:38] thomasjpfan commented on #9661
If you are keeping track of the total log likelihood then the perpexity is: `exp(log_likelihood / n_words)` where `n_words` is the number of words in the corpus?

[2020-07-28 03:06] jnothman opened #18017 "Implement scorers that evaluate return_std"
While we don't tend to focus on uncertainty estimation on predictions, we support it through `return_std`, yet we do not have any scorers that take this into account for model selection and evaluation. Ideally where users want to make use of `return_std`, it should be considered as a factor in model quality.

Methods for measuring model performance while accounting for its prediction of uncertaint

[2020-07-28 03:07] jnothman commented on #18017
What do others think?

[2020-07-28 08:16] dkobak opened #18018 "t-SNE default parameters and clarifying documentation"
Following a conversation with @amueller on Twitter (https://twitter.com/amuellerml/status/1285939094397366272):

1) Scikit implementation of t-SNE has a factor of 4 in the gradient that most other implementations (the original Barnes Hut implementation, FIt-SNE, openTSNE) do not have. This factor is there in the formula, but the original implementation absorbed it into the learning rate and other

[2020-07-28 11:49] #17939 closed

[2020-07-28 12:04] rth commented on #18005
As far as I understand, the issue is if one tags `binary_only` by mistake (e.g. because of some class inheritance issue / MRO order problem), the tests corresponding to multi-class classification will be silently skipped and we won't know about it. So it would be good to have some sanity checks for estimator tags as well. Do I understand correctly @chkoar ?

[2020-07-28 12:50] NicolasHug commented on #18005
I feel like this is overkill. I interpret the tag as meaning "we should expect failures on non-binary data". But it doesn't mean "it will only work with binary data"

[2020-07-28 12:51] ogrisel commented on #17797
I can reproduce the problem locally by building scikit-learn in [arm64 miniforge](https://github.com/conda-forge/miniforge#miniforge3) environment in docker / qemu container.

[2020-07-28 13:03] #17428 closed

[2020-07-28 16:28] will-thompson-k commented on #18008
@jnothman I just wanted to gauge your thoughts on : value in adding and/or best implementation in your view.

[2020-07-28 18:23] ngojason9 opened #18023 "Add keyword parameter to scoring functions to support different types of data"
#### Describe the workflow you want to enable
Currently, there is no way to use `SelectKBest` with ordinal data.

#### Describe your proposed solution
I would want to add a keyword parameter to the current `f_regression` (or `f_classif`) that takes in the type of input data. For example, if our `X` is ordinal and `y` is continuous, we can run `f_regression(X, y, input_type="ordinal")`. The functio

[2020-07-28 19:44] will-thompson-k commented on #18017
So you are proposing an additional method within `sklearn.metrics` (~ `sklearn.metrics.msdr` ) which would measure SSE (y - y_hat)^2 relative to its y_hat_std^2  as a measure of errors relative to prediction uncertainty, is that right? (sanity-checking understanding). I personally think this is a useful measure, especially when concerned about if the predictions are well-behaved.

[2020-07-28 20:03] will-thompson-k commented on #18017
(I'm also willing to implement if you need help with implementation).

[2020-07-28 21:31] jnothman commented on #18017
Yes, that, and a corresponding scorer accessible with `get_scorer`, which would call `.predict(..., return_std=True)`; this would also be something new.

[2020-07-28 21:36] #16998 closed

[2020-07-28 21:48] will-thompson-k commented on #18017
Got it. I can implement it if you want to assign to me and/or I can create a PR.

[2020-07-28 23:06] jnothman commented on #18017
Reply saying "take" to assign it to yourself. But I'm not entirely sure
this is what we want. I'm not very familiar with the properties of the
metrics. mean_standard_deviation_ratio looks like it would reward reducing
the predicted uncertainty in all cases. The other measure would reward
increasing the interval in all cases. So I'm also interested to know what
other measures might be out there. Th

[2020-07-28 23:09] jnothman commented on #18023
If the input is homogeneous, why not just use a different function
altogether. If the input variables have heterogeneous types, then this
solution is insufficient.

[2020-07-28 23:45] will-thompson-k commented on #18017
Makes sense, I'm curious as well.

On Tue, Jul 28, 2020 at 6:07 PM Joel Nothman <notifications@github.com>
wrote:

[2020-07-29 03:51] BrenBarn commented on #12971
What exactly was the resolution here?  The existing documentation for `token_pattern` says:

That seems to clearly indicate that the match of the entire regex will be a single token, and anyone who was relying on capturing groups as part of the tokenization was already relying on undefined behavior, because the only defined behavior is for the match of the entire regex.

The right thing is to trea

[2020-07-29 04:12] jnothman commented on #12971
Hmmm.... we certainly need to work on resolving this issue.

You have a point @BrenBarn, but
* we may have backwards compatibility to maintain
* I don't think that "denoting what constitutes a token" "clearly indicates that the match of the entire regex will be a single token". I think it is ambiguous.

I'd rather continue supporting a single group since that's what people may have expected to wor

[2020-07-29 04:14] jnothman commented on #12971
I can't think of any reasonable case where you would *need* capturing groups if the entire expression was matched, either. Matching a single capturing group means that we can allow things approximating variable-length lookbehind matches...

[2020-07-29 04:17] jnothman commented on #18008
I could see a little value of implementing a tree stump dummy (or an OvR
tree stump dummy) in an example that compares dummy classifiers. I'm
surprised that we currently don't have an example demonstrating
DummyClassifier strategies.

[2020-07-29 04:20] BrenBarn commented on #12971
For me the problem is the reverse: it is very cumbersome to write a token pattern that uses groups, because you have to make them all non-capturing groups.  The point is that the documentation definitely does *not* say "you can't use capturing groups", so you should be able to use them, just like you can use any other regexp construct.

In your earlier comment you said an error should be raised if

[2020-07-29 05:14] jnothman commented on #12971
That sounds like even more surprising behaviour.
I would rather just deprecate support for capturing groups, and later take
group(0) in all cases. But as I said, it's possible that there are valid
use cases for a single group, though unlikely in practice.

I know non-capturing groups are ugly to read, but they are not actually
that cumbersome!!

[2020-07-29 07:28] ra312 commented on #9292
I am just wonderinf if this issue has been fixed ? Any updates? Thanks!

[2020-07-29 08:55] chkoar commented on #18005
@NicolasHug

Probably.

Basically, I thought exactly the opposite. Since the estimator was tagged with `binary_only` made me to believe that `check_estimator` will expect a failure on non-binary data. Probably I am too sane.

All started while I was reviewing [this](https://github.com/scikit-learn-contrib/scikit-learn-contrib/issues/44) package where the estimator is binary only.

cc @thomasjpfan

[2020-07-29 11:45] will-thompson-k commented on #18008
Right. I’ve searched, didn’t see anything in sklearn. Perhaps someone else might know where?

If it was agreed upon, where would it live? As it’s own separate class or within class dummy.DummyClassifier? I reviewed docs on Weka::OneR and thought it was a useful idea. The only difference from my original proposal was that I wanted the ability to manually set, but that could be “rigged” so to speak

[2020-07-29 12:34] jnothman commented on #18008
I don't think we need to have a classifier in the library that implements a
"rigged" or rule-based prediction. I think demonstrating tree stumps as
baseline classifiers can be added to our example gallery, rather than
modifying the library itself.

[2020-07-29 13:28] #16723 closed

[2020-07-29 13:48] #15772 closed

[2020-07-29 13:48] zachmayer commented on #17916
I want to push back a little on the "custom classes" approach.

It's a really common workflow to do tf-idf vectorization and then truncated SVD.  I've written a lot of pipelines that do tf-idf and then truncated SVD.  It's a really useful tool to have in your toolkit.

However, this pipeline has a fatal flaw:  If your training data happens to have <50 words (say because you're trying the pipeline

[2020-07-29 14:22] NicolasHug commented on #17916
This is indeed semi-advanced usage. Hopefully these kind of solutions end up easily findable on stack overflow and similar platforms.

I would prefer switching to warnings only as a very last resort, because here this teaches users that warnings can basically just be ignored (they shouldn't).

[2020-07-29 15:07] glickmac opened #18027 "Overflow error following standard scalar in LinearSVC: value to large to convert to npy_int32"
I have a large matrix (150000 by 32000) I am trying to run a linear SVC using scikit-learn to perform a lasso regression

``` lsvc = LinearSVC(C=0.01, penalty="l1", dual=False).fit(df, y) ```

I am receiving the following error text:

[code]

My current script loads the table into a pandas dataframe object then does the following:

1. Sets target variable and removes column from matrix
2. Sets ind

[2020-07-29 15:25] lucyleeow commented on #18006
Sorry for the delay. From the documentation:

Could this be the case here? With `strategy='quantile'`, the bins will be created such that each have the same number of samples. You can try this strategy if you wish to always have `n_bins` bins.

[2020-07-29 17:59] BrenBarn commented on #12971
Well, we have surprising behavior right now, which is the documentation says nothing about groups and yet if you blithely use them just to get grouping (not capturing), you get mysterious errors.

Once `.group(0)` is used in all cases, there is no reason to prohibit capturing groups, because they will have no effect on the result.  So if the goal is to get to a point where `.group(0)` is used, the

[2020-07-30 02:16] a-wozniakowski opened #18028 "Support fit_params in stacking"
Currently, there is no support for ```**fit_params``` in the ```fit``` method of ```_BaseStacking```:
https://github.com/scikit-learn/scikit-learn/blob/fd237278e895b42abe8d8d09105cbb82dc2cbba7/sklearn/ensemble/_stacking.py#L110

As introduced in issue [#15953](https://github.com/scikit-learn/scikit-learn/issues/15953) for ```_MultiOutputEstimator```, it seems natural to extend the utility to stack

[2020-07-30 03:20] JiaHong-Lee commented on #17960
Hi,

I face the same issue using Agglomerative methods. I can reproduce the behaviour using:
[code]
My error message: `MemoryError: Unable to allocate 21.0 GiB for an array with shape (2812462500,) and data type float64
`.

Details:
1. scikit-learn v0.23.1
2. Python v3.7.5
3. Ubuntu 18.04.3 LTS
4. 16 GB RAM

[2020-07-30 03:48] will-thompson-k commented on #18017
Can you post the paper ref?

If I understand your observation, It seems the subset of models we care about here would be those that have a posterior distribution. One thought might be something like a Bayesian R2: (Gelman 2018) http://www.stat.columbia.edu/~gelman/research/unpublished/bayes_R2.pdf

[2020-07-30 03:53] jnothman commented on #12971
As I've stated above, I think the documentation leaves some ambiguity.

Would you like to submit a PR deprecating the support for groups?

[2020-07-30 04:13] GuptaTanay commented on #17983
The above import did not work.
I have tried re-intallation again, but no luck!

[2020-07-30 05:51] jnothman commented on #18027
Please provide a fully reproducible code snippet. Thanks

[2020-07-30 07:41] jnothman commented on #18028
The difference with MultiOutputEstimator is that there the sample_weight
would need to be passed only to a single class of estimator, where here it
is heterogeneous. Should it handle fit_params like in a Pipeline and deal
with name-based prefixing? Should it handle fit_params like a FeatureUnion
and pass the same fit params to all estimators involved?

Possibly best to wait on
https://github.com/s

[2020-07-30 07:42] ucaswxk opened #18029 "LabelSpreading predict_proba return nan？"

[2020-07-30 07:43] ucaswxk commented on #18029
why use this api got some nans？but use predict can get the predict labels

[2020-07-30 07:45] zahs123 commented on #18006
yes i have tried quantile but it just squeezes everything to the left

[2020-07-30 07:48] lucyleeow commented on #18006
It's possible that the calibrated values do not contain high probabilities. I can't tell from just the code you provide as I don't know the data.

[2020-07-30 07:48] lucyleeow commented on #18006
How many bins are there?

[2020-07-30 07:51] zahs123 commented on #18006
there are 10 bins

[2020-07-30 07:53] zahs123 commented on #18006
yes i tihnk it is just the case that the calibrated values do not contain high probabilities,after reading documentation i don't think anything is wrong in method above

[2020-07-30 08:07] glemaitre commented on #17920
@ogrisel and I will go forward to make the release in the upcoming days

[2020-07-30 08:20] lucyleeow commented on #18006
Can probably close this issue then.

[2020-07-30 08:21] jnothman commented on #18029
please provide a fully reproducible code snippet

[2020-07-30 08:22] zahs123 commented on #18006
yes thanks

[2020-07-30 08:22] #18006 closed

[2020-07-30 08:23] jnothman commented on #18017
I referenced a book chapter above: https://onlinelibrary.wiley.com/doi/abs/10.1002/9780470517277.ch8

[2020-07-30 11:17] JoElfner commented on #12939
Any news on this? This reduces the usability of `RandomizedSearchCV`, since it hides useful information... Setting `PYTHONWARNINGS` works, but seems like a quite clumsy workaround...

[2020-07-30 14:02] ckastner opened #18031 "Test test_assess_dimesion_rank_one fails on multiple architectures"
When building 0.23.1 packages for Debian, we are observing failures of `test_assess_dimesion_rank_one` on PowerPC (ppc64le), RISC-V (riscv64), and s390x architectures:

[code]

Not the most frequently used architectures, but nevertheless fairly independent ones, so harder to discount as some architecture-specific quirk.

#### Versions
[code]

[2020-07-30 14:29] rth commented on #18031
Thanks @ckastner ! Yes, it's an issue introduced in https://github.com/scikit-learn/scikit-learn/pull/16841. We should not compare floats without a tolerance. cc @NicolasHug

@ckastner Would you like to propose a fix using `pytest.approx` or `assert_allclose`?

[2020-07-30 14:35] LuisVilarBarbosa opened #18032 "Add the predict_proba method to LinearSVC"
#### Describe the workflow you want to enable
**LinearSVC** allows using the *predict* method and this is enough to obtain a prediction, but I wanted to obtain probabilities in order to obtain a ranking.
After a lot of research, I decided to use **SVC** instead of **LinearSVC** to use the *predict_proba* method, but the downside was the huge amount of time needed to process the information. It was

[2020-07-30 14:49] NicolasHug commented on #18032
Why? CalibratedClassifierCV is the correct way of calibrated an SVC instance.

The code in the provided snippet(s) is fundamentally incorrect and doesn't perform platt scaling. It's just applying a sigmoid function to the decision function, and then normalizes. For a given sample, results will be different depending on what other samples are present in `X` (which is inherently wrong). Platt scalin

[2020-07-30 17:25] thomasjpfan commented on #17983
Another think you can try is to create a new env and use conda to install packages and not `pip`:

[code]

[2020-07-30 18:44] sophsoph321 commented on #12167
remove comparison of identical variables #18036

[2020-07-30 19:02] TomDLT commented on #18018
Thanks for this ! To summarize:
1. Documentation update.
2. Change of behavior. Could also be a new option like `init='scaled_pca'`.
3. Change of default.
4. New feature / potential change of default.

To that I would add:
5. Change of behavior: `init='pca'` uses `PCA(n_components=self.n_components)` (i.e. 2 by default), which should probably be changed to a larger value, like 50.

The changes of

[2020-07-30 20:49] leloss commented on #9113
I appreciate your hard work on this important feature.
I'm seeing that this parameter was worked on many months ago but I still can't seem to be able to use it either locally (0.23.1) or in Colab (0.22.2.post1).
Would someone point me to a version that implements class_weight in MLPClassifier?
Thanks!

[2020-07-30 20:52] dkobak commented on #18018
Hi @TomDLT. Not sure I understood your (5): if one constructs 2-dimensional t-SNE embedding then it's enough to compute 2 PCA components for the initialization. So I think `PCA(n_components=self.n_components)` is fine.

I agree.

What exactly does a "full deprecation cycle" mean?

[2020-07-30 21:19] #17892 closed

[2020-07-30 21:30] nithinreddyy commented on #17590
But how to do it for multiple columns and how to get back categorical variables after testing?

[2020-07-30 21:39] ckastner commented on #18031
I can, but there are still two odd things that I need to look into:

- I wouldn't really expect a tolerance to be needed for that particular code, but even then...
- I tried manually reproducing this on ppc64el and s390x porter hosts, but could not. It happens consistently on our build hosts, however.

I'll see if I can get closer to the cause first. It could be something else in our environment.

[2020-07-30 21:57] TomDLT commented on #18018
See [Maintaining backward compatibility](https://scikit-learn.org/dev/developers/contributing.html#maintaining-backwards-compatibility).

Sorry, I mixed up PCA initialization (makes sense to use self.n_components) and PCA preprocessing (does not make sense to use self.n_components since too much information is lost). You can ignore (5).

[2020-07-31 00:42] thomasjpfan commented on #9113
It is being worked on here: https://github.com/scikit-learn/scikit-learn/pull/11723

It still needs attention to figure out why it does not pass `check_class_weight_classifiers`.

[2020-07-31 01:00] ucaswxk commented on #18029
clf=LabelSpreading(max_iter=100,kernel='knn',n_neighbors=8)
clf.fit(data, data_df['label'])
labels = clf.predict_proba(data)
there are some nans in labels. But we use the API predict, it will get the predict labels.

[2020-07-31 01:22] thomasjpfan commented on #18029
We would need the data to be able to reproduce the issue.

[2020-07-31 02:34] ucaswxk commented on #18029
we split the features  to 37 column. then put them in to the above model.
columns = ['feature0','feature1','feature2','feature3','feature4','feature5'...,'feature36']
data = data_df[columns]

[train.zip](https://github.com/scikit-learn/scikit-learn/files/5004696/train.zip)

[2020-07-31 02:47] ghost opened #18039 "MultinomialNB _joint_log_likelihood give wrong values"
I have CSV file and code like this
Note: i change np.log to np.log10 in _update_feature_log_prob  and  class _BaseDiscreteNB(_BaseNB) on variabele class_log_prior its for my project only so all log changed to logbase 10
[code]
that contain 3 Data training 1 class each class(-1),(0),(1)
and 1 data test
[code]
so now we know that we have word c and f in our data test
i fit the data to MultinomialNB

[2020-07-31 04:47] ucaswxk commented on #18029
use this get the nans`data_df = pd.read_csv(file_name, header = 0, index_col = 0)
for i in range(37):
            feature_name =  'feature' + str(i)
            data_df[feature_name] = data_df.apply(lambda x: x['features'].split(',')[i], axis=1)
columns = ['feature0','feature1','feature2','feature3','feature4','feature5'...,'feature36']
data = data_df[columns]
clf=LabelSpreading(max_iter=100,kerne

[2020-07-31 06:43] ahmedeqbal opened #18041 "K-fold Cross Validation error in Tensorflow sklearn"
I am using following code for semantic segmentation (image, and mask), this code was working fine with simple training and testing, but when i tried to implement k-fold cross validation. this code has shown error, please check my code and let me know what is wrong, and how i can fix this!

[code]

**Error**

[code]

[2020-07-31 07:03] ckastner commented on #18031
OK, I can now reproduce it. This issue is conditional on ATLAS being installed:

In a clean environment, installing only NumPy (Debian: `python3-numpy`):
[code]

In a clean environment, installing NumPy + ATLAS (Debian: `python3-numpy` + `libatlas3-base`):
[code]

I haven't tried this with alternative BLAS implementations and I can't say whether this is a issue in ATLAS that should be adressed (I

[2020-07-31 07:27] martarheza opened #18043 "How exactly MultinomialNB _joint_log_likelihood and predict_proba work?"
I have a problem to undestand how
1. MultinomialNB _joint_log_likelihood
2. predict_proba
3. predict_log_proba
work on Multinomial NB?
mirroring from my question https://github.com/scikit-learn/scikit-learn/issues/18039#issue-669355352
that no one read. i hope i can find the answer in this. with the example of previous question
thank you

[2020-07-31 07:42] #10905 closed

[2020-07-31 08:11] #13073 closed

[2020-07-31 08:43] #9193 closed

[2020-07-31 11:07] rth commented on #18031
Thanks for the investigation @ckastner ! Looking forward to you PR.

[2020-07-31 13:29] LuisVilarBarbosa commented on #18032
According to the documentation of **CalibratedClassifierCV**, the default method is sigmoid and the documentation indicates that sigmoid "corresponds to Platt's method (i.e. a logistic regression model)".
So, although I understand that **CalibratedClassifierCV** can "provide more accurate predict_proba outputs" (according to the documentation), I am applying a valid normalization.
I've analyzed th

[2020-07-31 14:10] #18032 closed

[2020-08-01 08:00] #18031 closed

[2020-08-01 12:10] #6045 closed

[2020-08-01 19:23] justmarkham opened #18057 "Unexpected behavior when passing multiple parameter sets to RandomizedSearchCV"
#### Describe the bug

Here is part of the documentation for the `param_distributions` parameter of [RandomizedSearchCV](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.RandomizedSearchCV.html):

My interpretation is that if I pass a list of two dictionaries, then at each iteration:

- First, one of the two dictionaries will be chosen at random
- Then, a set of parameters

[2020-08-01 21:38] thomasjpfan opened #18059 "Setting sample_weight in Poisson regression example"
#### Describe the issue linked to the documentation

In the [Poisson regression and non-normal loss](https://scikit-learn.org/stable/auto_examples/linear_model/plot_poisson_regression_non_normal_loss.html#sphx-glr-auto-examples-linear-model-plot-poisson-regression-non-normal-loss-py) example, we set the sample weight to the exposure, when we divided the count data by the exposure. We had this disc

[2020-08-01 22:53] jnothman commented on #18043
The issue tracker is mainly for bugs and new features. For questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) etc, or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2020-08-01 22:53] #18043 closed

[2020-08-01 23:52] jnothman commented on #18057
I can confirm that the effect seems consistent across random_state. Strange.

[2020-08-02 00:20] thomasjpfan commented on #18057
When the grid is made of all lists it goes down a different path, which flattens the grid:

https://github.com/scikit-learn/scikit-learn/blob/6a29e2ca19016217a71bfaecdd403e5cecd4b868/sklearn/model_selection/_search.py#L269-L274

When replacing one of the ranges with a scipy distribution it works as expected:

[code]

and outputs:

[code]

Fixing this means we are changing behavior. Should we consi

[2020-08-02 12:51] sadakmed commented on #15761
Can i work on sklearn.linear_model._least_angle.py

[2020-08-02 13:19] sadakmed commented on #15761
@glemaitre I'm working on sklearn.linear_model._least_angle.py  and i found an inconsistency of the use of `method ='lar' ` sometimes it indicates `lars` sometimes `lar`, this inconsistency is also in code (not only in documentation)

[2020-08-02 15:40] sadakmed commented on #15761
working on `'sklearn/ensemble/_hist_gradient_boosting/binning.py'`

[2020-08-02 16:56] sadakmed commented on #15761
files need change:

sklearn/_config.py
sklearn/dummy.py
sklearn/multioutput.py
sklearn/linear_model/_huber.py
sklearn/linear_model/_theil_sen.py
sklearn/linear_model/_ridge.py
sklearn/linear_model/_omp.py
sklearn/linear_model/_sag.py
sklearn/externals/_lobpcg.py
sklearn/externals/_lobpcg.py
sklearn/utils/extmath.py
sklearn/utils/__init__.py
sklearn/utils/graph.py
sklearn/utils/_mocking.py
sklearn/

[2020-08-02 18:08] lorentzenchr commented on #18059
Yes, it is required because modelling counts with exposure as offset is equivalent to modelling frequency = counts/exposure with exposure as sample weight and scikit-learn does not (yet?) provide the possibility to include offsets.

#### More background
Hard to argue without some notation, so...
##### Assumptions
A GLM assumes an expectation E[Y_i] = mu_i = h(x_i beta) and a variance Var[Y_i] = ph

[2020-08-02 21:19] mariosasko commented on #18041
First of all, `kfold.split(train_dataset, valid_dataset)` is not a valid use of the `KFold.split` method (the first argument is an input dataset, other (additional) arguments are either `y` (the corresponding labels) or `groups`), so please check the docs once more.

And now the main issue. At the moment, `KFold.split` does not support `tf.data.Dataset` as the input dataset (the method first wraps

[2020-08-02 22:55] kilojoules opened #18065 "GaussianProcessRegressor doesn't work with multidemensional output when normalize_y=True"
The GaussianProcessRegressor doesn't work with multidemensional output when normalize_y=True. In this example, the code runs fine when `normalize_y` is False, but breaks when it is true:

    import numpy as np
    from sklearn.gaussian_process import GaussianProcessRegressor
    from sklearn.gaussian_process.kernels import RBF

    def f(x): return(np.array([np.sin(7 * x), x ** 4]))

    kernel =

[2020-08-03 00:05] eeegnu commented on #11575
Even after `pip install sklearn --upgrade --force-reinstall`, I can see in naive_bayes.py that `__all__ = ['BernoulliNB', 'GaussianNB', 'MultinomialNB', 'ComplementNB']`, whereas CategoricalNB is in the github repo:
 https://github.com/scikit-learn/scikit-learn/blob/3561802bdc9e3a32492c3ce9d8943e9a85519a7f/sklearn/naive_bayes.py#L38
https://github.com/scikit-learn/scikit-learn/blob/3561802bdc9e3a3

[2020-08-03 03:07] a-wozniakowski commented on #18028
@jnothman thanks for your reply. From an earlier issue, sample weights appear to be the underlying motivation for the design principle in ```FeatureUnion```:

"I think `fit_params` is more or less just a more general way to implement `sample_weights`, with a slightly different API. I tried to implement `sample_props` once and it was mostly renaming `fit_params` (and sometimes moving it from `__ini

[2020-08-03 03:31] a-wozniakowski opened #18066 "Moving a variation of _validate_estimators from fit into the stacking constructor"
In stacking, the ```estimators``` parameter is a list of ```(str, estimator)```, although this behavior is not enforced until the ```fit``` method:

[code]

With this example, one may want to run ```reg.get_params()```, which will result in ```TypeError: cannot convert dictionary update sequence element #0 to a sequence```. This seems complicated for a user to debug, so I propose moving a variatio

[2020-08-03 04:39] clmbst commented on #15761
@sadakmed, for all the "decomposition files", there is an ongoing pull request #17739.

[2020-08-03 06:35] brightcoder01 opened #18067 "Support distributed computing for big data with sklearn.preprocessing."
#### Describe the workflow you want to enable
sklearn.preprocessing provides many useful functions to preprocess the data for the following model training/prediction. But it's suitable for the data which can fit into one single process. It will be very useful that sklearn.preprocess can process the big data in a distributed cluster

#### Describe your proposed solution

#### Describe alternatives

[2020-08-03 08:35] jnothman commented on #11575
Are you in Python 3?

[2020-08-03 09:13] rth commented on #18067
Distributed preprocessing with a scikit-learn like API is implemented in https://ml.dask.org/preprocessing.html , don't hesitate opening a feature request in https://github.com/dask/dask-ml if you find that something is missing.

For scikit-learn this is out of scope.

[2020-08-03 09:13] #18067 closed

[2020-08-03 12:44] mariosasko commented on #18039
I checked the source code of `MultinomialNB` and everything seems fine (and the class has a decent test coverage). Not sure if you fully understand how Naive Bayes is used in the Text Classification setting. Please refer to the following [article](https://nlp.stanford.edu/IR-book/html/htmledition/naive-bayes-text-classification-1.html) (the implementation is based on that article). It should give

[2020-08-03 13:03] rauwuckl commented on #11581
This is actually correct, although in my opinion very poorly documented.

actually the entry [m, n, i] in the gradient matrix is the derivative with regard to the **log-transformed** parameters

$$ \frac{\partial K(x^m, x^n)}{\partial ln(\theta_i)} = \frac{\partial K(x^m, x^n)}{\partial \theta_i} \frac{\partial \theta_i}{\partial ln(\theta_i)} = \frac{\partial K(x^m, x^n)}{\partial \theta_i} \cdot

[2020-08-03 14:29] rth commented on #16956
FWIW there are segfaults with PyPy even on x86_64 https://github.com/scikit-learn/scikit-learn/pull/17994

[2020-08-03 14:31] rth commented on #17977
Closing as "won't fix/expected behavior" .

[2020-08-03 14:31] #17977 closed

[2020-08-03 14:33] rth commented on #17963
Closing as resolved (as far as I can tell).  If not stack overflow would be a better place to ask for usage questions.

[2020-08-03 14:33] #17963 closed

[2020-08-03 14:37] thomasjpfan commented on #18066
`Pipeline` validating in `__init__` is not consistent with what is [recommended in our developer guide](https://scikit-learn.org/stable/developers/develop.html#instantiation).

`StackingRegressor` was developed following this guideline.

As for this issue with stacking and `get_params`, maybe we can raise a better error message.

[2020-08-03 14:50] ngojason9 commented on #18023
Yeah I wasn't sure which method would work better for homogeneous input. My concern with writing the function method is that there will be a lot of functions (as opposed to a small number of them with different keyword parameters). In any case, @yashika51 and I would love to work on this; let us know which method you prefer and we can make a draft PR for it!

For heterogeneous input, do you have a

[2020-08-03 15:18] NicolasHug commented on #18057
I think so. The easiest fix is probably something like

[code]

But I'm also wondering why we have this weird sampling mechanism:

    sampling without replacement is performed. If at least one parameter
    is given as a distribution, sampling with replacement is used.

(Note that this was written long before we introduced support for lists of dicts.)

This behaviour doesn't seem natural and I fi

[2020-08-03 15:26] o1iv3r commented on #14429
In my opinion the issue is not related to lightgbm. I think the issue is that one runs into __enforce_prediction_order()_ because predict_proba produces two classes in a fold (prob of 0 and prob of 1) even though y is one-dimensional (single class setting). Thus

`if n_classes < len(classes)`

By looking into the documentation of __enforce_prediction_order()_, I think this function should only cov

[2020-08-03 15:27] glemaitre commented on #17920
* [ ] update news and what's new date in master and release branch
* [ ] create tag
* [ ] update dependencies and release tag at
  https://github.com/MacPython/scikit-learn-wheels
* [ ] twine the wheels to PyPI when that's green
* [ ] https://github.com/scikit-learn/scikit-learn/releases draft
* [ ] confirm bot detected at
  https://github.com/conda-forge/scikit-learn-feedstock and wait for merge

[2020-08-03 15:35] GuptaTanay commented on #17983
It works now, I created a whole new VENV using conda and installed all the required libraries again.
Thanks @thomasjpfan :)

[2020-08-03 15:35] #17983 closed

[2020-08-03 15:46] melgazar9 opened #18072 "drop must be None for OneHotEncoder to utilize handle_unknown = 'ignore'"
OneHotEncoder does not allow the parameter handle_unknown = 'ignore' and drop = 'if_binary' or drop = 'first' (or drop = anything other than None). It seems reasonable to want to drop the first category in a column since it is redundant, while also ignoring NaNs when transforming new data. Any thoughts here?

[2020-08-03 16:36] thomasjpfan commented on #18072
There are two feature requests here, it would be good to open an issues for each one. This way the discussions can be more focused and not jump between two issues.

Since this is titled after the second feature request, may you open another issue for the first feature request and edit this one?

[2020-08-03 16:52] eeegnu commented on #11575
Yes, version 3.6.8

[2020-08-03 17:34] melgazar9 opened #18073 "I think OneHotEncoder should be able to handle mixed data types"
I think it's very practical to OneHotEncode columns that have mixed datatypes. Pandas (or some other dataframe reader) will unlikely read in the true datatype of every column correctly. Pandas reading in a column as an integer does not necessarily mean the column should be treated as an integer in sklearn.

Example: pandas will read in a column that contains codes of certain products (e.g. instrum