[2016-12-18 09:57] raghavrv commented on #6556
Could you raise it as a PR... It will be easier to review that way... Thanks for working again on this...

[2016-12-18 10:11] maniteja123 commented on #6556
Yeah sure, but it was a very basic implementation and I wasn't sure if I could complete it. So I thought of not raising a PR in case someone wanted to take it up. Sorry for the delay though..

[2016-12-18 12:23] lesteve commented on #7980
The idea is to take the code we need from https://github.com/pypa/packaging/blob/master/packaging/version.py (and possibly simplify it we can probably get rid of legacy versions and classes that implement `__lt__`) in order to have `parse_version` in sklearn.utils. Then we would use it across the whole scikit-learn code base replacing `sklearn.utils.fixes._parse_version` and `LooseVersion` usages.

[2016-12-18 18:01] amueller opened #8076 "[RFC] A way to compute nearest neighbor training set accuracy"
I like to use nearest neighbors as a first example for explaining machine learning.
However with our API the training set score for n_neighbors=1 is always 1, which is a bit idiosyncratic. (Also, for all n_neighbors>1 we still have a weird bias by including the point itself).

Detecting that predict and score get the training set is a bit magic, and so we might not want to do that (we might want t

[2016-12-18 18:39] GaelVaroquaux commented on #8076
Actually, I think that this is what people would expect, and I use it to
explain what overfit is (and increasing the number of neighbors is what I
use to explain regularization).

I think that it is good as it is, as it simple to understand and
textbook material.

[2016-12-18 21:13] lesteve commented on #8058
CircleCI runs on the PR branch on the fork not on the result of the merge of the PR into master (the latter is what we are used to from Travis).

I noticed the other day that conda-forge had some code to do this:
https://github.com/conda-forge/staged-recipes/blob/master/scripts/checkout_merge_commit.sh

[2016-12-19 03:47] aryamccarthy opened #8077 "predict_proba documentation is inconsistent."
Some classes list `predict_proba` in the Methods section, while others do not.

 [VotingClassifer](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.VotingClassifier.html) and [SVC](http://scikit-learn.org/dev/modules/generated/sklearn.svm.SVC.html) do not list it in Methods, but include it on the page in the individual method documentation. [MLPClassifier](http://scikit-learn.org/

[2016-12-19 03:59] jnothman commented on #8049
I'm not sure what you mean.

[2016-12-19 07:58] se4u opened #8078 "Incorrect return type in docstring of CountVectorizer class"
The documentation for the CountVectorizer class [states](https://github.com/scikit-learn/scikit-learn/blob/b7e3702/sklearn/feature_extraction/text.py#L515) that it produces a `scipy.sparse.coo_matrix` but actually it produces a `scipy.sparse.csr_matrix` as seen [here](https://github.com/scikit-learn/scikit-learn/blob/b7e3702/sklearn/feature_extraction/text.py#L788)

Please update the documentation

[2016-12-19 10:19] dalmia commented on #8049
As @amueller mentioned that we are getting the shape as `(n_samples,1)` instead of the standard `(n_samples,)` that we have as standard for multi-label classifiers, I wanted to add that because of the above line, even if `len(self.estimators_)==1` the shape will always be `(n_samples,1)` for the binary case. So, the only workaround that seems plausible here is to add a separate check.

[2016-12-19 13:00] dalmia opened #8080 "Error thrown when running an example"
#### Description
Value Error thrown when running [this](http://scikit-learn.org/stable/auto_examples/applications/plot_out_of_core_classification.html#sphx-glr-auto-examples-applications-plot-out-of-core-classification-py) example using master.

#### Steps/Code to Reproduce
Simply running the example.

#### Expected Results
No error is thrown.

#### Actual Results
[code]

#### Versions
Linux-3.19.

[2016-12-19 13:17] #8080 closed

[2016-12-19 13:18] dalmia commented on #8080
For some reason, removing the downloaded dataset and downloading it again worked.

[2016-12-19 13:29] jdejoode opened #8081 "Broken link in home page carrousel"
Just a quick fix is needed for the second image the carousel on the homepage:

    http://scikit-learn.org/stable/auto_examples/covariance/plot_outlier_detection.html.html

should be

    http://scikit-learn.org/stable/auto_examples/covariance/plot_outlier_detection.html

[2016-12-19 13:45] #8081 closed

[2016-12-19 13:47] lesteve commented on #8081
Indeed, thanks for spotting this. I pushed a fix in master.

The fix should be visible in [http://scikit-learn.org/dev](http://scikit-learn.org/dev) once CircleCI have finished building the doc (1 hour or so).

[2016-12-19 14:05] wj1066 commented on #8070
I would like to work on this issue.

[2016-12-19 14:53] dalmia commented on #8057
Here, by Y do we mean the output of `predict`?

[2016-12-19 15:03] lesteve commented on #6943
Which version of scikit-learn are you using?

Things have moved around a bit in joblib with the recent parallel backends feature. With scikit-learn 0.18 the work-around is a bit modified and you need to do this instead:
[code]

@martinosorb can you try this and let me know if that fixes your issue ?

[2016-12-19 15:26] amueller commented on #8081
You could also push that to 0.18.X if you want to update the stable
website. Since it now builds automatically, that's much easier.

Sent from phone. Please excuse spelling and brevity.

On Dec 19, 2016 8:47 AM, "Loïc Estève" <notifications@github.com> wrote:

[2016-12-19 15:29] amueller commented on #8049
Well yeah fixing it is obvious, and I did that in my PR (for now, will
probably revert unless we can figure something out). The problem is fixing
it in a backwards compatible way.

Sent from phone. Please excuse spelling and brevity.

On Dec 19, 2016 5:19 AM, "Aman Dalmia" <notifications@github.com> wrote:

[2016-12-19 16:37] martinosorb commented on #6943
I was using 0.17, now 0.18 with the change you suggest and I see no difference.
By the way, I repeated the test I had done and I actually see it's working at n=1M, even if only after ten seconds of single-core work. At 10M, single core for a long time.

[2016-12-19 17:09] alexpearce commented on #4632
Has anybody picked this up? There are a few half-baked PRs, but I'd like to push to get this in.

If no one is working on it and people think the feature isn't a bad idea in general, I'm happy to give it a go.

[2016-12-19 17:18] lesteve commented on #6943
OK thanks for the feed-back, will keep looking then.

[2016-12-19 17:52] amueller commented on #7021
I'm still not super happy with the four line explanation of which version the docs are for.
How about
![image](https://cloud.githubusercontent.com/assets/449558/21323059/e9c660f2-c5e9-11e6-8020-61063d89029a.png)
or even
![image](https://cloud.githubusercontent.com/assets/449558/21323102/06693c48-c5ea-11e6-89be-32d5d3bb37d4.png)

[2016-12-19 17:57] amueller commented on #8077
it should be listed. I guess ``if_delegate_has_method`` is to blame. A fix is welcome.

[2016-12-19 18:00] aashil commented on #7021
I got three lines on local because I was using version v0.18 which is shorter than version v0.19.dev0. Oversight of mine. But, I like the second option better. Will fix it.

[2016-12-19 18:02] amueller commented on #8076
I usually hear "but this is not what nearest neighbors should do" if I explain the behavior.
Do you have a textbook reference for our behavior?

I have used this to explain overfitting and regularization, though it seems a very peculiar example to me.

Also, I'm not proposing to change ``predict(X_train)`` because that would break a lot ;)

[2016-12-19 18:10] aashil commented on #8078
I will take this one.

[2016-12-19 19:15] amueller commented on #4632
@alexpearce I think the issue is that we haven't come up with a good API for it.
I think we'd be happy to consider a proposal. It should be explicit and backward-compatible, so there should be some way for the user to specify whether the score should be weighted or not.

[2016-12-19 19:35] xiaoj12 commented on #8067
Hi, I couldn't reproduce this problem after I upgraded sklearn to Scikit-Learn 0.18.1. I suspect the problem came from the Scikit-Learn 0.17.1.

[2016-12-19 19:38] #8067 closed

[2016-12-19 19:49] amueller commented on #8012
@dalmia no. It would be great to have a fix in upstream, but I'm not very optimistic, given that the last commit is a year old. We might want to fix this locally.

[2016-12-19 19:50] amueller commented on #8012
Actually, it looks like the owner is still reviewing PRs. So maybe a PR to libsvm would be good.

[2016-12-19 20:35] neggert commented on #8063
I don't have time to port it to scikit-learn myself (and my Cython is rusty), but someone is welcome to borrow the solution I came up with over at  https://github.com/apache/spark/pull/15018.

[2016-12-19 22:35] #8062 closed

[2016-12-19 22:53] ahyoussef opened #8087 "Sign error in QuantileLossFunction"
#### Description
The QuantileLossFunction in sklearn/ensemble/gradient_boosting.py has a sign error, making it take negative values for certain inputs.

@pprett @amueller

#### Steps/Code to Reproduce
- You can consult formula (2) in [http://avesbiodiv.mncn.csic.es/estadistica/curso2011/qr4.pdf](url) for the correct implementation.

- The peculiar thing about the quantile loss function is that it

[2016-12-19 23:29] kingjr opened #8088 "ENH: roc_auc automatically does labelbinarizer"
Currently doing
[code]
raises an error, because y is not 0s and 1s.

IMO it would be ok to internally & automatically binarize `y_true` before computing the AUC to avoid unnecessary extra steps from the user.

[2016-12-20 02:34] jnothman commented on #8064
See #7825 for a similar contribution.

[2016-12-20 02:35] jnothman commented on #5606
Fixed by #7825?

[2016-12-20 02:35] #5606 closed

[2016-12-20 02:43] jnothman commented on #6556
Unless I've forgotten something, I think the `MissingIndicator`'s operation should be independent of `axis`. I also don't see the need for a `copy` parameter.

We'll probably integrate this into `Imputer` via an option, but initially, yes, let's build it as a separate class. Please add tests, and submit a PR.

[2016-12-20 02:50] jnothman commented on #6556
Rather, please submit a PR and add tests.

[2016-12-20 03:14] jnothman commented on #8058
It's a bit annoying that they don't provide SHA for the base (do they even
have a branch name?) of the PR such that it's a race condition...

On 19 December 2016 at 08:13, Loïc Estève <notifications@github.com> wrote:

[2016-12-20 03:17] jnothman opened #8089 "Perform MD5 checks for fetched datasets where possible"
I think we should record expected MD5 sums for fetched files in datasets. This way we can give appropriate error messages when a fetch was incomplete, avoiding issues like #8080.

[2016-12-20 03:19] jnothman commented on #8070
Please do.

[2016-12-20 03:20] jnothman commented on #8057
Input targets of fit and output of predict.

On 20 December 2016 at 01:53, Aman Dalmia <notifications@github.com> wrote:

[2016-12-20 04:11] jnothman commented on #8058
@jakirkham would you mind re-contributing https://github.com/conda-forge/staged-recipes/pull/1486 here?

[2016-12-20 04:20] #7954 closed

[2016-12-20 05:10] Don86 commented on #8077
Hi, I'd like to take this please.

[2016-12-20 05:47] jnothman commented on #8076
I agree with Gaël. Otherwise, cross_val_predict(KNeighborsClassifier(), X,
y, cv=LeaveOneOut())

On 20 December 2016 at 05:02, Andreas Mueller <notifications@github.com>
wrote:

[2016-12-20 07:39] souravsingh commented on #8089
I am interested in working on the issue. How do I start?

[2016-12-20 07:43] nelson-liu commented on #8089
Oops, just realized I never got around to pushing my work at #7429 (might be a few days until I can do so, only have my phone with me for the next few days). That PR also needs an additional look, I think

[2016-12-20 08:18] lesteve commented on #8081
Done.

[2016-12-20 09:11] #8078 closed

[2016-12-20 10:28] jnothman commented on #8088
I think this is equivalent problem to the one solved by #6874

[2016-12-20 10:30] jnothman commented on #8077
I suspect this is a bug in numpydoc etc, and we need to do our merge with
them first.

On 20 December 2016 at 16:10, Don86 <notifications@github.com> wrote:

[2016-12-20 10:45] #7880 closed

[2016-12-20 10:48] dalmia commented on #8012
If that's the case, then it indeed does seem better. I'll make a quick PR then.

[2016-12-20 11:03] jnothman commented on #8089
I assume @nelson-liu already has a fix, @souravsingh, so I'll take away Need Contributor.

[2016-12-20 11:04] jnothman commented on #8089
Thanks for the offer, @souravsingh

[2016-12-20 11:06] #8070 closed

[2016-12-20 12:34] dalmia commented on #8057
Tested. Sparse multilabel `y` supported in `fit`.
For `predict`, shouldn't there be a parameter, i.e. if sparse output is required or not?

[2016-12-20 12:46] jnothman commented on #8057
Yes, fit does nothing with y but store it. For predict, you can copy
whether the y used in fit was sparse.

On 20 December 2016 at 23:34, Aman Dalmia <notifications@github.com> wrote:

[2016-12-20 14:00] aryamccarthy commented on #8077
You're welcome to, @Don86

[2016-12-20 14:18] evdoks opened #8092 "UnicodeEncodeError exception is thrown when calling fit on CountVectorizer with scikit-learn 0.18.0 or 0.18.1."
#### Description

UnicodeEncodeError exception is thrown when calling fit on CountVectorizer with scikit-learn 0.18.0 or 0.18.1.
No error on scikit-learn 0.17.0 or lower.
#### Steps/Code to Reproduce

[code]
#### Expected Results

No error is thrown when fitting the vectorizer
#### Actual Results

`UnicodeEncodeError: 'ascii' codec can't encode characters in position 0-3: ordinal not in range(128)

[2016-12-20 14:35] maka89 commented on #7821
There is already a PR #7985 for this issue

[2016-12-20 14:37] lesteve commented on #8092
I am afraid I can not reproduce this one, can you post the full traceback?

I would try uninstalling and reinstalling scikit-learn just to see whether the problem does not go away.

It is rather hard to believe your commented line (`# raw_texts = ['foo']  results in the same error`). That would mean that `CountVectorizer` is utterly broken and we would probably have realised this by now ...

[2016-12-20 16:43] #8076 closed

[2016-12-20 16:43] amueller commented on #8076
alright then.

[2016-12-20 21:14] nelson-liu commented on #8089
on a related note, how does using sha-1 instead of md5 sound? I know we aren't using it for any cryptographic purposes, but it would be good to also have this in place to guarantee that we're downloading a trusted file.

[2016-12-20 21:30] jnothman commented on #8089
I don't mind

On 21 December 2016 at 08:14, Nelson Liu <notifications@github.com> wrote:

[2016-12-20 22:20] toastedcornflakes commented on #8089
FWIW, in #6112, instead of using checksums, I downloaded the archive to a temporary directory, then moved it to the right place. This allows for

* automatic clean-up, handled by the OS
* more flexibility: the actual file can change server-side (which can be good or bad depending on what you value)

[2016-12-20 23:04] nelson-liu commented on #8089
I think I'd prefer for the to not change server side-- that seems like a security vulnerability.
By first downloading it to a temp file, if the download is interrupted is the temp file automatically deleted (sorry if this has an obvious answer)

[2016-12-20 23:15] toastedcornflakes commented on #8089
Yes, after some time (usually a reboot) if you use something like [TemporaryFile](https://docs.python.org/3/library/tempfile.html#tempfile.TemporaryFile).

[2016-12-21 00:02] vosilov commented on #2889
I was experiencing the same issue on Windows 10 working in Jupyter notebook trying to use a custom scorer within a nested cross-validation and n_jobs=-1. I was getting the `AttributeError: Can't get attribute 'custom_scorer' on <module '__main__' (built-in)>;` message.
As @amueller suggested, importing the custom scorer instead of defining it in the notebook works.

[2016-12-21 02:53] pjbull opened #8093 "MultiOutputClassifier.predict_proba fails if targets have different number of values"
#### Description
If two target columns are categorical and have a different number unique values, MultiOutputClassifier.predict_proba raises a value error when trying to `dstack` the probability matrices.

#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results
No error is thrown. It looks like the `RandomForestClassifier` handles data of this shape and returns a list of numpy arrays.

[2016-12-21 03:23] aashil commented on #7021
Can someone please close this ?

[2016-12-21 04:10] #7021 closed

[2016-12-21 05:11] nelson-liu commented on #8089
Hmm but are you using TemporaryFile in #6112? Seems like an interesting solution to explore to increase download robustness, though.

[2016-12-21 08:56] evdoks commented on #8092
Ok, I believe I found what was causing this issue. I was using scikit-learn package installed via Miniconda with a different Python (not the one supplied by Miniconda). When switching to Miniconda's Python everything work correctly. Interestingly, this behaviour does not occur with version 0.17.1 or lower.
I think it can be closed. Thank you!

[2016-12-21 09:33] dalmia commented on #8057
For the input to `fit`, I convert the sparse multilabel to a dense one and then store it. In `predict`, with the current implementation, I convert the `y_pred` to a CSC matrix (although `check_array` in `fit` seemed to allow `csr`). Tested it by first predicting on a dataset with multilabel y and then matching with the prediction on sparse CSR multilabel y and works as expected. Should I push it?

[2016-12-21 09:36] lesteve commented on #8092
OK glad you have got it fixed. For next time please remember to post the full traceback, there is a lot of useful information in there.

[2016-12-21 09:36] #8092 closed

[2016-12-21 09:43] jnothman commented on #8057
Always avoid converting sparse to dense. Accepting sparse CSR for X has nothing to do with Y. You should choose the most efficient output for the task. I have no idea whether it's right until you offer a PR.

[2016-12-21 09:46] agramfort commented on #8087
it was not merged because the PRs did not contain any test.
please finish the work and we'll be happy to merge.

[2016-12-21 09:56] dalmia commented on #8057
Oh, okay. I'll make the PR.

[2016-12-21 10:05] jnothman commented on #8093
thanks for reporting, and for the patch

[2016-12-21 10:46] dalmia commented on #8049
@amueller Yes, I get it now. I would like to work on the issue, but am not really sure as to where should I start. Could you please give me a head start?

[2016-12-21 12:11] jnothman commented on #8023
I think this should be true fundamentally, but a lot of objects don't have equality defined, or defined reasonably as is the case of numpy arrays. Obviously a clone `A'` of a fitted estimator `A` is not equal, by some definition, to `A`... but equality has not been defined.

[2016-12-21 13:46] artsobolev commented on #6353
As I understand it, you can't simply normalize `components_`, it just doesn't make any sense as it seems to be parameters of the Dirichlet distribution over the topics. In order to introspect and interpret the topics some more sophisticated tools should be provided, like sampling words from topics, or calculating the probability that some of the components are almost always zero(ish).

[2016-12-21 15:21] toastedcornflakes commented on #8089
I did not use it because it seemed like a hassle to pass a file descriptor to `urllib.urlretrieve` ☹️

But if we are writing a download function used by all datasets that checks the hash, we might as well use a correct scheme and download to a temporary file.

[2016-12-21 16:34] lesteve commented on #8023
It seems that if a class does not define `__eq__`, equality (`==`) is the same as being identical (`is`).
[code]

In your case `A` is `sklearn.externals.joblib.Memory`.

[2016-12-21 19:07] yupbank commented on #8093
how about use a sparse matrix of 3d array?  some "extra" probability are imported though...

[2016-12-21 20:51] jnothman commented on #8093
What's wrong with a list of arrays?

On 22 December 2016 at 06:07, Peng Yu <notifications@github.com> wrote:

[2016-12-21 20:55] yupbank commented on #8093
then it can not be indexed in a matrix fashion and a bunch of `np.arg*` can not being used..

[2016-12-21 21:05] pjbull commented on #8093
To me, it makes more sense to leave the decision to stack as a sparse matrix (which introduces NaNs) or concatenate into a larger 2d matrix (which makes it harder to separate out individual estimators) up to the consumer. Both are one line calls in numpy, but make it more challenging to reason about which predictions belong to which estimator/classes.

The list of arrays lets you easily construct

[2016-12-21 21:13] yupbank commented on #8093
sparse matrix does not necessary introduce NaN but also 0s by default..
something like
(output, max_classes, probability) ?

[2016-12-21 21:19] pjbull commented on #8093
Don't like it because user has to track # of classes per estimator that are valid.

[2016-12-21 21:23] jnothman commented on #8093
list of arrays is already what we've been doing for multioutput
probabilities for a long time, AFAIK. I don't know why it got implemented
here differently.

On 22 December 2016 at 08:13, Peng Yu <notifications@github.com> wrote:

[2016-12-21 21:48] Erotemic opened #8098 "Bug in metrics.classification._check_targets?"
#### Description
I came across this issue while checking a test in `test_matthews_corrcoef`. In this test two label vectors are defined. The groundtruth vector is filled with `a`'s and `b`'s. The prediction vector is filled with `-1`'s and `0`'s. The `_check_targets` in `sklearn.metrics.classification` reports these vectors are binary when it seems to me it should be multiclass instead.

If this i

[2016-12-22 01:08] jnothman commented on #8098
I've not reviewed the code, but I agree that this is an issue due to
type_of_target being called on each, and then upcast only being performed
if the types differ, not if the combination implies a different type.
Tricky case!

On 22 December 2016 at 08:48, Jon Crall <notifications@github.com> wrote:

[2016-12-22 01:09] jnothman commented on #8098
I think it would be more believable example if y_true=[0,1], y_pred=[0, -1]

[2016-12-22 01:10] jnothman commented on #8098
The same issue applies to multilabel-indicator with multioutput-multiclass.
The only difference is that we allow sparse binary arrays for multilabel
but not (yet) for multioutput in gener.

On 22 December 2016 at 12:08, Joel Nothman <joel.nothman@gmail.com> wrote:

[2016-12-22 01:11] jnothman commented on #8098
If the shapes are not vertically stackable, that should fail the check
anyway. Otherwise concatenate the first couple of samples of y_true and
y_pred to do this...?

On 22 December 2016 at 12:10, Joel Nothman <joel.nothman@gmail.com> wrote:

[2016-12-22 01:33] jnothman opened #8100 "Helpers for managing different set of classes"
It seems like half the bugs we've solved in the past couple of months surround problems of having different sets of classes, in the context of:
* cross-validation splitting that yields different subsets of classes in different training or testing subsets (and hence issues in alignment of class-wise outputs from `predict_proba`, `decision_function` or metrics, or in normalising macro-averaged score

[2016-12-22 01:52] felix-last opened #8101 "fowlkes_mallows_score returns nan in binary classification"
#### Description

fowlkes_mallows_score doesn't work properly for large binary classification vectors. It returns values that are not between 0 and 1 or returns `nan`. In general, the equation shown in the documentation doesn't yield the same results as the function.

#### Steps/Code to Reproduce

Edited by @jnothman: this reference implementation is incorrect. See comment below.

[code]

#### Exp

[2016-12-22 03:37] jnothman opened #8102 "Invariance tests for clustering metrics"
We should have common tests for clustering metrics including that labels can be permuted (e.g. 0 and 1 swapped) to achieve the same score. General properties such as scores reduce when clustering is not perfect can also be tested.

[2016-12-22 03:39] jnothman commented on #8101
The implementation looks quite strange and I'm not persuaded (despite reviewing cosmetic things in the original PR, where there were two other reviews) that the testing suite is sufficient. It's clear from the score > 1 that something's broken.

However, your claim of the correct values is ignoring the fact that these are true positives defined as *pairs* of points that co-clustered in both y_true

[2016-12-22 03:40] jnothman commented on #8102
See for instance https://github.com/scikit-learn/scikit-learn/issues/8101#issuecomment-268710844

[2016-12-22 03:56] felix-last commented on #8101
Thanks for your response. You're right, the code example above does not account for label permutations, I was only using this algorithm for classification performance evaluation.

[2016-12-22 04:03] jnothman commented on #8101
FMI isn't for classification, precisely because it handles label non-identification.

[2016-12-22 04:05] jnothman commented on #8101
Though I think, ignoring the pairwise factor, the formula is more generally the geometric mean of precision and recall which is, I think, used on occasion (rarely; harmonic, i.e. f-score, and arithmetic means are more common) for classification.

[2016-12-22 04:23] jnothman commented on #8101
I suppose that calinsky-hararabaz should also be reviewed for correctness.

On 22 December 2016 at 14:56, Felix Last <notifications@github.com> wrote:

[2016-12-22 04:26] jnothman opened #8103 "Allow clustering metrics to reuse a once-calculated contingency matrix"
Supervised clustering metrics (at least where there is a fixed set of samples, unlike in coreference resolution with system mentions) can usually be calculated from the contingency matrix alone. I think passing `y_true=contingency, y_pred=None` should trigger this behaviour, saving computational time when calculating multiple measures.

[2016-12-22 05:00] iamvoid13 commented on #8103
Hello @jnothman, I want to work on this issue. Some pointers will be really helpful.

[2016-12-22 06:04] nelson-liu commented on #8089
@toastedcornflakes i ended up keeping the temp files around (so not using `TemporaryFile`, since those are deleted when the file handler is closed) and implementing resume-able downloads from the temp files. If the temp file is fully downloaded, it's moved to the proper path. Else if the file was not fully downloaded, the temp file will remain and you can pick up right where progress was left off.

[2016-12-22 06:38] iamvoid13 commented on #8103
Hey @jnothman  , I've made an arbitrary function. Are you talking about modifications like this?
[code]
Please correct me If I'm wrong. Thanks

[2016-12-22 06:40] felix-last commented on #8101
You're right, what I want in order to rate the classification is the geometric mean of precision and recall, so FMI isn't quite right. Anyways, found this bug along the way.

[2016-12-22 09:45] jnothman commented on #8101
Thank you. I think it would be a good idea to have something like `pairwise_confusion_matrix` as a separate function to calculate pairwise TP, FP, FN, TN.

[2016-12-22 09:47] jnothman commented on #8103
Yes, I was going to say that actually this can apply to binary/multiclass classification metrics with respect to the confusion matrix too.

I'm not entirely certain this is perfect API-wise, but I think it would be neat to have... Interested to hear what other core devs think.

[2016-12-22 10:09] iamvoid13 commented on #8103
So @jnothman, which methods should I currently modify to work on this issue. Also can you assign this issue to me, I think it's perfect for my 1st PR.

[2016-12-22 14:11] maniteja123 commented on #8093
Thanks for the report and fix. Sorry I wasn't aware of the fact that list of probabilities is common for ``predict_proba`` of multi-output and also didn't think about the issue of different number of classes for different output.

[2016-12-22 17:54] #8093 closed

[2016-12-23 01:34] kingjr commented on #8088
yes. close in favor of #6874

[2016-12-23 01:34] #8088 closed

[2016-12-23 04:30] jnothman commented on #8103
Everything in `sklearn.metrics.cluster.supervised`

[2016-12-23 04:30] jnothman commented on #8103
And no, github doesn't allow issues to be "assigned" to non-team members.

[2016-12-23 07:37] iamvoid13 commented on #8103
Thanks for your reply. I've started working on this issue and I just submitted an initial PR, with some functions having the functionality. It'll be very helpful if you can provide some feedback so that I can improve the implementation.

[2016-12-23 13:23] ixig opened #8108 "sklearn.tree pydoc help is broken"
#### Description

#### Steps/Code to Reproduce
from sklearn import tree
help(tree)

#### Expected Results

#### Actual Results

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/_sitebuiltins.py", line 103, in __call__
    return pydoc.help(*args, **kwds)
  File "/Library/Frameworks/Python.framework/Vers

[2016-12-23 14:09] iamvoid13 commented on #8108
I want to work on this issue. I've reproduced this issue on my machine.

[2016-12-23 14:48] iamvoid13 commented on #8108
Hey @ixig , I've worked out the issue and have submitted a PR.

[2016-12-23 15:47] aswinmohanme commented on #7998
Since this Issue is still Open for Contributors , I would like to take this Up

[2016-12-24 00:52] nelson-liu opened #8110 "sklearn.datasets.fetch_species_distributions docstrings should have more detail"
#### Description
The docs of sklearn.datasets.fetch_species_distributions have some incorrect statistics / should note the values of the variables in the dataset. For example, the cited shapes for `train` and `test` don't seem to be correct. Additionally, it should note the expected values for `Nx, Ny, x_left_lower_corner, y_left_lower_corner, grid_size`

#### Steps/Code to Reproduce
[code]

####

[2016-12-24 04:29] Don86 commented on #8110
Hi, I'd like to take this on, thanks!

[2016-12-24 08:07] amanp10 commented on #5803
I need some help here. The `predict` function(before the fix) seems to work fine with the iris dataset and with a custom multiclass dataset as well. I am unable to find the error or fails that occurred before the fix.

[2016-12-24 08:11] nelson-liu commented on #5803
@amanp10 the `predict` function works properly right now, as it was fixed in https://github.com/scikit-learn/scikit-learn/pull/5802. However, it needs a regression test --- a unit test (that would probably go in `sklearn/ensemble/tests/test_voting_classifier.py`) that shows that it works as intended. the purpose of this is to prevent "regression" in the sense that we don't accidentally break it ag

[2016-12-24 08:12] nelson-liu commented on #5803
what @amueller was referring to with "You should check that what failed in master before the fix now works." suggests that a good unit test would be to check that the case that was fixed in #5802 is indeed fixed.

[2016-12-24 11:26] jnothman opened #8113 "Warning of utils.deprecated for properties is ugly"
The contributor's guide recommends using the `deprecated` decorator for attributes as follows:
[code]

However the warning produced begins "Function labels_ is deprecated; Attribute labels_ was deprecated ...". This is ugly. It should just say "Attribute labels_ is deprecated; ...".

We should either:
* remove the boilerplate "Function x is deprecated" as I think we're not counting on it being the

[2016-12-24 19:38] Dorozhko-Anton commented on #8113
Can I get this one for a start?

[2016-12-25 02:22] biotechie commented on #7898
Thanks, willduan. The fix worked for me.

[2016-12-25 10:14] jnothman commented on #8113
I'm not sure there is consensus about the solution, but if you understand the problem well, you should be able to come up with a persuasive solution.

[2016-12-25 15:25] Dorozhko-Anton commented on #8113
I tried to handle `property` explicitly. It is ugly but works. What do you think?
[code]

and I have checked on small example

[code]
output:
[code]

[2016-12-25 17:20] apiszcz opened #8115 "np_version check problem."
sklearn 0.18.1
numpy 1.12.0rc1,
scipy 0.18.1
sklearn 0.18.1
python 3.5.2

    from sklearn.metrics import confusion_matrix
  File "lib\sklearn\__init__.py", line 57, in <module>
    from .base import clone
  File "lib\sklearn\base.py", line 12, in <module>
    from .utils.fixes import signature
  File "lib\sklearn\utils\__init__.py", line 11, in <module>
    from .validation import (as_float_array

[2016-12-25 17:21] apiszcz commented on #8115
FYI:
(Pdb) np_version
(1, 12, '0rc1')

[2016-12-25 20:25] jnothman commented on #8113
If you change the uses from

@property
@deprecated
def x

to

@deprecated
@property
def x

you should be able to test using isinstance more easily.

Also, refer to it as "Attribute" rather than "Property".

On 26 December 2016 at 02:25, Dorozhko Anton <notifications@github.com>
wrote:

[2016-12-25 20:27] jnothman commented on #8115
Duplicate of #7898, fixed in master

[2016-12-25 20:27] #8115 closed

[2016-12-26 08:34] Dorozhko-Anton commented on #8113
I was thinking about that but it will brake `property`

[code]
May be there is a workaround by returning property from deprecated wrapper

[2016-12-26 13:42] anki08 commented on #8102
Looks like a feasible first contribution, I'd like to look into this. @jnothman   Could you please help me on how to start and the files associated  . Thanks

[2016-12-26 13:56] jnothman commented on #8102
Thanks. Perhaps take a look at the common tests for classification and regression metrics at sklearn/metrics/test_common.py.

[2016-12-26 13:58] anki08 commented on #8102
@jnothman   okay . Thanks

[2016-12-26 22:49] jnothman commented on #7998
This is open to contributors.

[2016-12-27 00:56] mrbeann commented on #7998
I will work on it ASAP

[2016-12-27 01:41] #5529 closed

[2016-12-27 02:11] mrbeann commented on #7998
Hi, @jnothman  I've just submitted a PR for this.

[2016-12-27 10:40] kushagraagrawal commented on #8077
Hi, I think this issue is closed. Could someone tell me how did you go about fixing the issue? I still can't figure out how to contribute scikit-learn

[2016-12-27 11:23] #5732 closed

[2016-12-27 11:31] jnothman commented on #8077
I don't think this issue is closed. It's not as simple as it looks, I think.

[2016-12-27 14:09] jnothman commented on #8073
I know little about affinity propagation. @agramfort is this surprising to you?

[2016-12-27 17:43] devanshdalal commented on #8087
this should be closed if works is done now.

[2016-12-27 17:44] ahyoussef commented on #8087
All looks fine indeed.

[2016-12-27 17:45] #8087 closed

[2016-12-27 21:40] bthirion commented on #7921
I've taken a deeper look, I don't see any case where removing this line would harm. My view is that what it actually does is currently performed by the line above.

[2016-12-28 04:58] jpeacock29 commented on #7758
A few particular cases (a subset of those referenced in #7901) where documentation is missing:

- `LogisticRegression.classes_`
- `MultinomialNB.classes_`

[2016-12-28 05:07] jnothman commented on #7758
Automating some of this a bit better is something I'm slowly working on :\

On 28 December 2016 at 15:58, Jacob Peacock <notifications@github.com>
wrote:

[2016-12-28 06:59] devanshdalal commented on #8101
Hi, I want to work on this one if its still there.

[2016-12-28 08:46] jnothman commented on #8101
It appears to be open. I await your PR.

[2016-12-28 10:23] rogercallster commented on #8064
Please excuse me if this is inappropriate place to ask such question as I am new to this community.

I was trying to setup my environment on pycharm on MAC, while running tests (such as : UnitTests in Scikit-Learn  or even individual cases such as scikit-learn/sklearn/cluster/tests/test_hierarchical.py)  I am getting following error:

  File "__init__.pxd", line 155, in init sklearn.utils.murmurha

[2016-12-28 12:31] ndomar opened #8126 "Optimizing recall calculation for micro-averaging"
#### Description

Calculating recall using micro-averaging needs to be optimized for large scale dense arrays.

#### Steps/Code to Reproduce

[code]

#### Versions

Darwin-15.5.0-x86_64-i386-64bit
Python 3.5.2 |Anaconda custom (x86_64)| (default, Jul  2 2016, 17:52:12)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]
NumPy 1.11.1
SciPy 0.18.1

[2016-12-28 12:50] HashCode55 commented on #8126
`precision_score` will suffer from the same lag as in the implementation both are calling `precision_recall_fscore_support` which evaluates all the metrics.
Can I work on it and make a PR?

[2016-12-28 13:01] HashCode55 commented on #8126
`precision_score` will suffer from the same lag as they both are calling `precision_recall_fscore_support` which in turn will evaluate all four.
Probably we can make more use of `warn_for` argument?
Can I work on it and make a PR?

[2016-12-28 13:15] oesteban opened #8127 "Nested CV of LeaveOneGroupOut fails in permutation_test_score"
#### Description
Nested CV of LeaveOneGroupOut fails in permutation_test_score

#### Steps/Code to Reproduce
[code]

#### Expected Results
_N_ being the total number of groups, the inner cross validation trains on all possible combinations of _N_-2 groups and validates in one group. Then the outer permutation test loop trains the best classifier of the inner group in _N_-1 groups and runs the vali

[2016-12-28 13:44] jnothman commented on #8126
The jump from .7s to 10s seems very surprising. The calculation of F1
should be much less burden than of p and r, which also share much of their
work.

how many samples? how many classes? Or how many labels? Or just provide the
dataset.

When you say you calculate recall by itself, with what code?

On 29 Dec 2016 12:01 am, "Mehul Ahuja" <notifications@github.com> wrote:

precision_score will suffe

[2016-12-28 16:29] GenTang opened #8129 "A math mistake in spectral_embedding"
[spectral_embedding_bug.pdf](https://github.com/scikit-learn/scikit-learn/files/676834/spectral_embedding_bug.pdf)
#### Description

Spectral embedding is an algorithm proposed by the following paper:

[“Laplacian Eigenmaps for Dimensionality Reduction and Data Representation”](http://web.cse.ohio-state.edu/~mbelkin/papers/LEM_NC_03.pdf) M. Belkin, P. Niyogi, Neural Computation, June 2003; 15 (6):

[2016-12-28 16:44] ndomar commented on #8126
@jnothman

should be much less burden than of p and r, which also share much of their
work.

I was honestly shocked as well when I found that out

dataset.

I have a 5551 x 16890 numpy matrix of 0s and 1s. I am working on a dataset from citeulike to build a recommender that recommends research papers. The dataset is not publically available and I do not own it so I am sorry I can't provide it. So

[2016-12-28 18:24] gan3sh500 commented on #8101
tk, pk and qk follow the same equation as the [reference](http://wildfire.stat.ucla.edu/pdflibrary/fowlkes.pdf) given in the documentation. The above code gave me an error on
`tk / np.sqrt(pk * qk) if tk != 0. else 0.`
which I could fix with
`tk / np.sqrt(pk) /  np.sqrt(qk) if tk != 0. else 0.`

[2016-12-28 18:53] devanshdalal commented on #8101
Hi, thanks for your response. But please let me do handle this bug.

[2016-12-28 20:19] devanshdalal commented on #8101
@jnothman ,In [reference](http://wildfire.stat.ucla.edu/pdflibrary/fowlkes.pdf), tk is actually ``(contingency * contingency).sum() - n = (contingency * (contingency - 1)).sum()``. ``2`` is the common factor.

[2016-12-28 22:51] jnothman commented on #8064
Yes, this is the inappropriate place. I'm sure stackoverflow has numerous
discussions of similar installation issues. If you don't describe how you
installed it, we have very little to go off.

On 28 December 2016 at 21:23, rogercallster <notifications@github.com>
wrote:

[2016-12-29 01:01] #7976 closed

[2016-12-29 01:25] jnothman commented on #8127
We're aware that we don't really have nested handling of groups yet. A grid
search within cross_val_score won't work either, I think. A more general
approach to attaching properties to samples (#4497) will be needed.

On 29 December 2016 at 00:15, Oscar Esteban <notifications@github.com>
wrote:

[2016-12-29 02:36] jnothman commented on #8126
Clearly, our code is not optimised for micro-averaging with a sparse large-scale multilabel problem using dense arrays. But the problem is certainly not in the calculation of P and F1. See benchmarks below, where your approach is faster in all cases (though there is some overhead in scikit-learn to handle various types of input), but is little faster than calculating all of P, R and F, and not sub

[2016-12-29 02:42] jnothman commented on #8101
I can't really analyse these small remarks. Things get much more concrete with a pull request and test cases.

[2016-12-29 03:18] GenTang commented on #8129
OK. I have a question about spectral embedding for a graph which is not fully connected:

When graph is not fully connected and [```norm_laplacian=False```](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/manifold/spectral_embedding_.py#L135), [```dd```](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/manifold/spectral_embedding_.py#L232-L233) could contains 0 (ma

[2016-12-29 03:51] jnothman commented on #8129
I'm not the best person to help you there, and I hope @GaelVaroquaux has a moment to chime in

[2016-12-29 06:45] devanshdalal commented on #8101
@jnothman , working on it. will create a pull request soon.

[2016-12-29 08:19] dalmia commented on #8012
@amueller Since I am not getting any response on my PR upstream, do you suggest I make the change locally?

[2016-12-29 12:19] ndomar commented on #8126
@jnothman I updated the title and the description, will provide a patch later. I have to read the wiki on contributing first. Thank you!

[2016-12-29 16:53] gan3sh500 commented on #8102
I think I understand what needs to be done. Is there any functions other than checking invariance of the metrics in cluster and seeing if values reduce with less perfect clustering?

[2016-12-29 18:41] anki08 commented on #8102
@jnothman   I have written the code .Could you please check if I am going in the right directions and are there any more tests that need to be added? How do I run the test file on my laptop. When I run it on spyder it gives no output.

[2016-12-29 22:07] devanshdalal commented on #8101
@felix-last , I am not being able to generate values that are not between 0 and 1 or  ``nan`` with the existing fowlkes_mallows_score() function.

[code]

@jnothman, The [reference](http://wildfire.stat.ucla.edu/pdflibrary/fowlkes.pdf) is calculating the same thing but in a different way(just go to starting of page 554 from proof).

Please correct me if you find something inconsistent about these

[2016-12-29 23:57] jnothman commented on #8102
`nosetests sklearn/test_file.py`. However, I'd like it, ASAP, moved to `sklearn/metrics/cluster/tests/test_common.py`, pushed to a branch, and a pull request made. That way our continuous integration framework can test it and it can be reviewed.

[2016-12-29 23:57] jnothman commented on #8102
and thank you, @anki08. At a very basic glance, this looks like it's heading in the right direction.

[2016-12-30 00:01] jnothman commented on #8101
i'm happy if the implementation is correct, and find that believable. It still needs more tests, IMO. It only seems to have one non-trivial test.

[2016-12-30 01:39] kaiwang0112006 opened #8136 "LabelEncoder should add flexibility to future new label"
#### Description

I used LabelEncoder  to transform categorical feature to numerical feature. But my test set data has new labels that are not fit in the training set. So LabelEncoder  raise a ValueError. I think LabelEncoder  should be able to deal with the unknown label, maybe just assign the len(self.classes_)+1 to it and update the current LabelEncoder 's self.classes_?

#### Steps/Code to Rep

[2016-12-30 02:02] jnothman commented on #8136
Do you know at training time that there will be more labels in the test? If
so, just fit the LabelEncoder with the full set of labels...?

On 30 December 2016 at 12:39, kaiwang <notifications@github.com> wrote:

[2016-12-30 02:14] kaiwang0112006 commented on #8136
The process will be used to unknown data in the future.

[2016-12-30 03:26] jnothman commented on #8136
okay. see #3599

On 30 December 2016 at 13:14, kaiwang <notifications@github.com> wrote:

[2016-12-30 06:08] gan3sh500 commented on #8063
Can I try to find a fix?

[2016-12-30 06:57] devanshdalal commented on #8136
Hi, I want to work on this. @jnothman, what would be the desirable change for this?

[2016-12-30 07:04] devanshdalal commented on #8101
I have just started here. Please direct me on where and which kind of tests u want to add, I will add those test cases.

Perhaps @flex-last is giving arrays containing nan value(s) as input, I don't know exactly.

[2016-12-30 07:28] jnothman commented on #8136
Continue working on #3599, assuming @hamsal isn't working on it. I note
that there was some dispute about this and its interface in previous
incarnations.

On 30 December 2016 at 17:57, Devansh D. <notifications@github.com> wrote:

[2016-12-30 09:07] felix-last commented on #8101
@devanshdalal, have you tried with two large input vectors like
`np.random.choice([0,1], 1362)`? There's no nan values in there, yet I receive the reported results, i.e. values > 1 or nan's.

[2016-12-30 13:12] devanshdalal commented on #8101
I tried using your program only. I was unable to generate the any error you reported. Everything seemed perfect. We are using different configurations. Can it be the issue?

I am getting this.
[code]

[2016-12-30 20:33] naoyak commented on #8077
I guess numpydoc parses `predict_proba` and `predict_log_proba` as properties for these classes because of [how they're implemented] (https://github.com/scikit-learn/scikit-learn/blob/e2adbb7e037de74044db002eff5898f5e11a5507/sklearn/svm/base.py#L563-L600).

[code]

[2016-12-31 03:01] devanshdalal commented on #8101
@jnothman , I have just started here. Please direct me on where and which kind of tests u want to add, I will add those test cases.

[2016-12-31 13:09] agramfort commented on #8073
I can reproduce the behavior but have no intuition of why this happens.

can you confirm the same behavior with alternative implementations in R, matlab/octave?

[2016-12-31 13:09] jnothman commented on #8077
oh, you're presumably using the latest numpydoc. well then a patch to
numpydoc would be well-motivated.

On 1 January 2017 at 00:08, Joel Nothman <joel.nothman@gmail.com> wrote:

[2016-12-31 13:11] jnothman commented on #8101
I wonder if there are overflow errors happening in Windows leading to the NaN...?

[2016-12-31 13:14] jnothman commented on #8101
@devanshdalal: I'd just hoped there was more than one unit test using a hand-crafted example and checking the result was correct. Indeed, a test for symmetry would also be appropriate.

[2016-12-31 13:16] devanshdalal commented on #8101
Can it be a bug in Numpy functions we are using for windows? Well, I will try in my windows and see if the errors persist? I will add the tests in the next pull request for the issue ?

[2017-01-01 13:32] HashCode55 commented on #8126
Hi @jnothman,
When we supply `recall_score` with a dense matrix we are actually casting it to sparse matrix in `_check_targets` which might be the culprit here. I tried to check how much time it is actually taking -

This is from routine `_check_targets`
[code]

Results :
[code]

And for the same reason, if we give it a sparse matrix already it doesn't take any time to cast and hence the benchmark

[2017-01-01 18:18] devanshdalal commented on #8136
@jnothman , I dug up the issue, pull request and the views people involved. You slightly seemed in less support for the feature hamsal added. I personally think [mjbommar's comment](https://github.com/scikit-learn/scikit-learn/pull/3599#issuecomment-54713490) can be a use case. What are your view and what kind of further changes do you think we will to resolve this ?

[2017-01-01 19:07] ishbir opened #8141 "Building docs fails while embedding documentation hyperlinks in examples"
#### Description
Building docs fails while embedding documentation hyperlinks in examples.

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error.

#### Actual Results
Docs build fine as I can open and read them but nevertheless, an error is thrown:
[code]

Stack trace and error details from the log file:
[code]

The file that Sphinx looks for exists but is named `sklearn.model_selec

[2017-01-01 19:10] GaelVaroquaux commented on #8141
0.18 doesn't build with sphinx 1.5. You'll either need an earlier version
of sphinx, or the master branch of scikit-learn.

[2017-01-01 19:10] #8141 closed

[2017-01-01 21:00] jnothman commented on #8126
Yes, perhaps that was a poor decision on our part. However, your use of `nonzero` and fancy indexing shows promise against our current implementation.

[2017-01-02 01:22] naoyak commented on #2254
I checked this out and the collapsible toc seems to work on jQuery 1.12.4 (latest 1.x) and 3.1.1 (latest).

[2017-01-02 02:04] jnothman commented on #2254
A pull request is welcome.

[2017-01-02 02:13] jnothman commented on #8136
*Shrug.* Again I'd like to see a compelling example for the use of an expandable label set, and @mjbommar's comment isn't clear enough on what learning paradigm one is trying to apply over an expanding set of classes. The `feature_extraction` comparison is poor, as all but feature hashing discard features unseen at fit time. Scikit-learn does not currently handle expanding feature spaces except by

[2017-01-02 11:31] GenTang commented on #8129
@devanshdalal, It is great that you want to help.
But how do you want to solve the problems with non normalized laplacian matrix?

[2017-01-02 12:09] devanshdalal commented on #8129
@GenTang, The  [“Laplacian Eigenmaps for Dimensionality Reduction and Data Representation](http://web.cse.ohio-state.edu/~mbelkin/papers/LEM_NC_03.pdf). If you go to page 6 of the paper, you can see that the same algorithm is applicable to non-connected graphs as well(step 3 has to be applied for each component). I guess we might not need to change anything, or maybe very minute changes. I will ha

[2017-01-02 12:38] agramfort commented on #8129
@jakevdp may have an opinion also. He wrote a lot of the manifold learning code.

[2017-01-02 12:39] #4520 closed

[2017-01-02 17:16] Akshy0724 commented on #8103
Looks like a feasible solution by **iamvoid13**, I'd like to work on this issue, if no one else is working.

[2017-01-02 18:08] devanshdalal commented on #7768
@Chaitya62, Let me inform if you are not working on this anymore. I want to work on this.

[2017-01-02 20:02] GaelVaroquaux commented on #8129
I don't think that @jakevdp wrote this part. It was adapted afterhand from the spectral clustering code that I wrote.

I had a look at the equations and the code, and I believe that the bug report is correct (and hence the code is wrong).

[2017-01-02 20:22] devanshdalal commented on #8129
@GaelVaroquaux,I can fix the issue. Let me fix the issue. if its not too much.

[2017-01-02 20:25] GaelVaroquaux commented on #8129
The fix itself is trivial and is pointed out in the issue (it's a
question of dividing by dd istead of multiplying by dd in the last
assignement.

Slightly harder is to implement a good set of tests. They are also
suggested in the issue.

[2017-01-02 20:30] devanshdalal commented on #8129
@GaelVaroquaux, will do both and submit a pull request soon.

[2017-01-02 21:01] jnothman commented on #8103
I think you should let @iamvoid13 focus on it for now.

[2017-01-02 23:25] nelson-liu opened #8147 ""other versions" link in sidebar doesn't work properly on dev docs"
#### Description
When you click the "other versions" link in the sidebar while viewing dev docs, it takes you to the "other versions" page for the stable docs.

#### Steps/Code to Reproduce
- navigate to http://scikit-learn.org/dev/tutorial/basic/tutorial.html
- click the "Other versions" link under "scikit-learn v0.19.dev"
- note that it takes you to http://scikit-learn.org/stable/support.html#do

[2017-01-02 23:58] jnothman commented on #8147
i think that taking you to the stable "other versions" page is appropriate.
Consider the behaviour when clicking "other versions" on the 0.17 docs

On 3 Jan 2017 10:25 am, "Nelson Liu" <notifications@github.com> wrote:

[2017-01-03 00:03] nelson-liu commented on #8147
makes sense, thanks!

[2017-01-03 00:03] #8147 closed

[2017-01-03 02:23] GenTang commented on #8129
@devanshdalal, I see this part of paper. But consider the following example which will cause divide by zero Error.
[code]

@GaelVaroquaux, I sorry to bother you, but I don't understand what is this algorithm about to compute when ```norm_laplacian=False```. The code corresponding is [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/manifold/tests/test_spectral_embedding.py#L2

[2017-01-03 04:12] chrisfosterelli commented on #7955
Thanks for the discussion everyone.

@amueller The example from your book is very clear. I don't mind adjusting the paragraphs slightly to be more clear about the behaviour of `C`, however I'm not sure how to incorporate your image into the example without drastically changing the example.

[2017-01-03 05:37] devanshdalal commented on #8129
@GenTang , I got your point. Let me look into the probelm. I will discuss the possible solution with before start implementing.

[2017-01-03 07:08] GaelVaroquaux commented on #8129
OK. What happens if you replace the values where dd is zero by ones? What
is the value of "lambdas" there.

spectral diffusion is not defined for such a graph.

[2017-01-03 08:02] #8101 closed

[2017-01-03 08:25] GenTang commented on #8129
@GaelVaroquaux
Thanks a lot for your reply.
And for your question, the lambdas is ```array([ 2.])```. Of course, we can replace zero by one in dd, but it doesn't change anything.

My question is not about dd has zeros, It is about why spectral_embedding introduce parameter ```norm_laplacian```.

When we compute spectral embedding, we try to solve the following equation: (D - W) * f = \lambda * D *

[2017-01-03 17:05] smar10 opened #8149 "Online learning with previous model trained offline"
Hi,
I first trained and validated a network offline and saved the parameters of the network to a file. This works quite well.

My goal is now to train my network online with only few samples, to improve the initial model, starting from the trained network . I think the partial_fit method would work well in this situation. I set the learning rate very very low (1e-10), and this should allow me to g

[2017-01-03 20:30] jnothman commented on #8149
This sounds like a question for the mailing list or stack overflow, not the
issue tracker. Please close this issue and ask in a more appropriate venue.

On 4 January 2017 at 04:05, smar10 <notifications@github.com> wrote:

[2017-01-03 20:45] #8149 closed

[2017-01-03 23:08] AdamMiltonBarker opened #8151 "joblib.dump / load"
#### Description
I am new to scikit but I am pretty sure this is a bug as it is abnormal to anything else I have used and have not been able to find any solution to this online, sorry if I am posting in the wrong place.

When following the link below I have created the SVM and saved the model using joblib.dump.

https://code.oursky.com/tensorflow-svm-image-classifications-engine/

#### Steps/Code

[2017-01-04 02:55] mjbommar commented on #8136
I think we can boil this down to one example and a two-part question.

*Example:* Let's say you have users coding samples, and up to T, you've only seen two categories: `["red", "blue"]`.  On T+1, all of a sudden, a user observes a new encoding value: `["green"]`.

*Question(s)*: Who is responsible for dealing with this - the implementer or sklearn?  Is there any "graceful" option in sklearn to re

[2017-01-04 03:09] kaiwang0112006 commented on #8136
@jnothman , I met this issue when I do [kaggle competition](https://www.kaggle.com/c/allstate-claims-severity/data). The categorical feature in the test set have unseen labels. Of cause I can use fit for a combined data set. But I felt it's neither elegant nor  fit the reality when the model is used for product. When the future test set have unseen label, I would expect the model to give me a pred

[2017-01-04 03:12] kaiwang0112006 commented on #8136
My temporary solution:

    class label_encoder(object):
        def fit_pd(self,df,cols=[]):
            '''
            fit all columns in the df or specific list.
            generate a dict:
            {feature1:{label1:1,label2:2}, feature2:{label1:1,label2:2}...}
            '''
            if len(cols) == 0:
                cols = df.columns
            self.class_index = {}
            fo

[2017-01-04 04:13] Akshy0724 commented on #8103
OK, thanks for your reply.

[2017-01-04 05:36] devanshdalal commented on #8136
@jnothman, what are youR views on this?

[2017-01-04 06:54] devanshdalal commented on #8129
@GenTang , I believe you are correct regarding ``norm_laplacian``. For theoretically correct implementation, its should not be an argument of ``spectral_embedding()`` and should be like this in the code.
[code]

Correct me if I am wrong. Removing ``norm_laplacian`` can be solution or we have to provide an implementation where case of ``norm_laplacian=False`` is handled properly. (I have almost nil

[2017-01-04 06:59] HashCode55 commented on #8126
@jnothman So how should we proceed from here?

[2017-01-04 08:07] jnothman commented on #8126
I think ndomar said they would provide a patch, no?

On 4 January 2017 at 17:59, Mehul Ahuja <notifications@github.com> wrote:

[2017-01-04 08:26] #5797 closed

[2017-01-04 08:34] jnothman commented on #8136
There's no question of how to achieve it. There's a question of how it integrates with the rest of the scikit-learn ecosystem. We currently presume that anything supporting `partial_fit` has the set of classes pre-specified in the first call to `partial_fit`. No provided estimators, to my knowledge, will cope if you run them in a warm start mode and present an extra class: the `coef_` will remain

[2017-01-04 08:42] #1975 closed

[2017-01-04 08:51] HashCode55 commented on #8126
@jnothman Oh okay! If he's working on it then its fine. I'll find some other issue.

[2017-01-04 09:05] HashCode55 commented on #8063
I'll take this up.

[2017-01-04 09:18] AdamMiltonBarker commented on #8151
This does not seem to happen after I rewrote it.

[2017-01-04 09:18] #8151 closed

[2017-01-04 13:24] lesteve commented on #7921
@bthirion as we discussed over lunch the error happens in the `n_samples > n_features` regime (in the snippet above we have 200 samples for 10 features). In this case, I believe having a constant column in `Q` is not the same as having a 0 eigenvalue (in the snippet you have 0 constant columns in `Q` and 190 eigenvalues in `v` that are close to 0).

All in all, I think removing the `w[v == 0] == 0

[2017-01-04 20:55] Chaitya62 commented on #7768
@devanshdalal I am working  on it have a minor  issue which I hope I ll soon solve

[2017-01-05 03:30] #7908 closed

[2017-01-05 09:23] hiiwave commented on #5046
I found that I had the same problem under `numpy: 1.11.2`, which could be reproduced by
`$ python -c 'import sklearn.linear_model.tests.test_randomized_l1'`
Intel MKL FATAL ERROR: Cannot load libmkl_avx.so or libmkl_def.so.

After downgrading numpy to 1.11.1 this error disappeared.
`conda install numpy=1.11.1`

[2017-01-05 10:11] samsontmr commented on #5875
Hi! I'm new to skl and would like to contribute. Perhaps I could take this?

[2017-01-05 14:07] Akshay0724 commented on #8113
Hello **@jnothman**, In my opinion both part(i.e deprecated(property(funct.)) & property(deprecated(funct.)) ) have to be handled separately.
Order of execution of both is reversed:

1.   **@property
         @deprecated
          Method()**
In this case first decorated class object is created,than it becomes property.Object which is passed to __ call __(in class deprecated in decorating.py) looks

[2017-01-05 15:02] raghavrv commented on #5870
@GaelVaroquaux comparing different methods of nan check in cython

I actually think doing the nan check directly at the c level compared to moving the `missing_mask` around should be faster and cleaner like @glouppe

Here are some benchmarks -

[code]

[code]

(Thanks to https://gist.github.com/robertwb/806c3c942fd4825a1272c61bfdc3b470)

[2017-01-05 15:11] #8053 closed

[2017-01-05 15:15] xavierfontaine opened #8156 "grid_search: allowing scorers to use sample weights"
#### Description

For now, `GridSearchCV` and `RandomizedSearchCV` do not allow for scorer sample weights (although they allow training weights).

Are you considering adding this feature?

If not, would you like me to give it a try?

[2017-01-05 15:23] GaelVaroquaux opened #8157 "RFC: Cloning estimators in pipeline"
This is an RFC on the lack of cloning of estimators in the pipeline.

# Current situation

The `Pipeline` modifies in the fit method the estimators that are given in it's `steps` argument, in violation of the scikit-learn convention (bad bad coder).

# Specific issue raised

To implement caching of the fit of transformers reliably, cloning of them is crucial (https://github.com/scikit-learn/scikit

[2017-01-05 15:24] GaelVaroquaux commented on #8157
Cc @glemaitre @ogrisel. I'd also really like to get feedback from @jnothman and @amueller

[2017-01-05 15:27] GaelVaroquaux commented on #8156
I believe that this can be tackled only once sample props have been
tackled:
https://github.com/scikit-learn/scikit-learn/issues/4497

[2017-01-05 16:00] xavierfontaine commented on #8156
@GaelVaroquaux : thanks for your feedback.

As an alternative, we could consider adding a `scorer_params`  argument to `GridSearchCV` and `RandomizedSearchCV`, in the spirit of `fit_params`.

This would solve two current limitations: in grid_search:
* The previously-mentioned impossibility to feed sample weights to scorer functions.
* The more general impossibility to feed *any* additional argumen

[2017-01-05 16:21] Akshay0724 commented on #8113
I have implemented a basic solution to this problem in notebook-
[https://github.com/Akshay0724/soft/blob/master/Depricate.ipynb](url)
 Please correct me if I'm wrong.

[2017-01-05 16:39] jenishah commented on #7947
If no one is working, I would like to work on this. I am interested in contributing for scikit for long term. This could be a good place to start.

[2017-01-05 16:48] raghavrv commented on #7947
@jenishah Go ahead!

[2017-01-05 17:53] jenishah commented on #7947
To be clear, I should edit n_component, which is a parameter and not n_components_ which is listed under attributes, right?

[2017-01-05 18:45] xavierfontaine commented on #8156
Changing the focus, I am closing this thread, and opening a new issue along the more general line "allowing to feed parameters to scorer functions in cross-validation."

[2017-01-05 18:45] #8156 closed

[2017-01-05 19:06] xavierfontaine opened #8158 "grid_search: feeding parameters to scorer functions"
#### Description
`GridSearchCV` and `RandomizedSearchCV` do not allow for passing parameters to the `scorer` function. This could be made possible by adding an extra `scorer_params`, similar to the `fit_params` argument.

For consistency with `fit_params`, special care would have to be paid to sample weights. Weights fed through `fit_params` are currently well-distributed across training folds. Si

[2017-01-05 19:08] mikebenfield opened #8159 "make_classification fails for 31 informative features"
#### Description

I get an exception from `make_classification` when I try to use 31 or more features, all of which are informative. It's possible I'm using the function wrong, but if so, please clarify in the documentation or provide a more informative error message.

#### Steps/Code to Reproduce
[code]

#### Versions
Darwin-15.4.0-x86_64-i386-64bit
Python 3.5.2 (default, Oct 11 2016, 15:01:29)
[

[2017-01-05 19:17] amueller commented on #6261
I agree with @ogrisel, and think we should actually aim higher, though not possibly in scikit-learn. I'm not sure.
We can only visualize trees in environments that use conda or have some way to install graphviz. Even with conda, it's confusing (you need to conda install graphviz AND pip install graphviz). Giving installation instructions without conda is basically impossible.

There are two possib

[2017-01-05 19:21] amueller commented on #8158
Also see #4632.

What other use-cases are there apart from ``sample_weights``?

[2017-01-05 20:24] ogrisel commented on #8157
I think it would be possible to implement caching without renaming the `steps` attribute (as @glemaitre did) but I think it would be cleaner to respect our own API. I think we can untie the two issues but it would probably be more natural to only store the fitted estimator in the `named_steps_` attribute as you suggest.

[2017-01-05 20:27] ogrisel commented on #8157
To make things more explicit, I am :+1:  with proposal 1. My point is that we could decide to implement before or after we merge caching support (#7990).

[2017-01-05 20:37] jnothman commented on #8113
Work is underway at #8112, @Akshay0724. How do your comments compare?

[2017-01-05 20:39] jnothman commented on #7947
The Attribute n_components_ needs the clarification

On 6 January 2017 at 04:53, jeni Shah <notifications@github.com> wrote:

[2017-01-05 20:40] jnothman commented on #8156
I don't think this *requires* sample props, but it might be sane not to fix
it before then. Not sure.

On 6 January 2017 at 05:45, xavierfontaine <notifications@github.com> wrote:

[2017-01-05 21:58] glemaitre commented on #8157
+1 for 1.

[2017-01-05 22:02] themrmax commented on #6261
@amueller if i recall correctly, I actually installed graphviz with homebrew, and looks like you can download Windows binary from their website ... (not saying this is ideal, but it doesn't involve conda)

that said, totally agree with you that it'd be worthwhile redoing this in a more integrated & modern way

[2017-01-05 23:58] glemaitre commented on #8159
[`_generate_hypercube`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/datasets/samples_generator.py#L28) is called such that the polytope do not exceed
30 dimensions.

Therefore, in the case of `n_feature=31` and `n_informative=31`,
`2 ** n_informative < n_classes * n_clusters_per_class` is actually not
True since that we will have `n_informative=1` for the first polytope
and `n

[2017-01-06 00:13] ASAAR opened #8161 "n_jobs > 1 restarting script w/ RFECV (Windows only)"
Thank you all for this great set of tools. I may have found a bug. It isn't getting in my way, but you probably want to know anyways. Just tell me if I should provide more information.

NOTE: I have Bash on Ubuntu on Windows on my machine, and this problem does not occur when run through Bash. This problem is exclusive to running through Windows.

#### Description
When using RFECV with param "n_jo

[2017-01-06 00:36] jnothman commented on #8157
I think this change will add some confusion for new and existing users, but I agree it is consistent with our API principles. Having tried to implement a memoizing pipeline too, I appreciate its value. Overall, I am +1.

In terms of deprecation, I would only warn when `steps` or `named_steps` is accessed after `fit`. Note that it is also accessed by `get_/set_params`, and indeed, `get_params()[ste

[2017-01-06 01:30] johnny5550822 opened #8162 "bugs for GridSearchCV with scoring='roc_auc'?"
Since 0.17, I kno GridSearchCV support probability scoring calculation. Here is what I do

[code]

For whatever reason, the best_score is pretty low, i.e., 0.45470483

And when I do `clf.cv_results_`, one of the test_score array actually has higher mean score (see below; I am doing 5-fold CV). Did I do something wrong or it is a bug?

[ 0.48435374  0.4952381   0.48979592  0.48571429]

Please help!

[2017-01-06 05:10] jnothman commented on #8162
Are you able to give us a full snippet and dataset by which we can attempt
to reproduce this issue? If you can replicate it on a standard or
artificial dataset, that would be easiest.

On 6 January 2017 at 12:30, Johnny <notifications@github.com> wrote:

[2017-01-06 05:48] johnny5550822 commented on #8162
@jnothman Hmm...:( the dataset I am using is protected (cannot be shared)... Let me see if I can find a way (or try other dataset)

One question, so I set scoring  = roc_auc, is that mean the best_score_ return the score and that score is AUC?

[2017-01-06 08:16] Akshay0724 commented on #8113
Sorry for the comment, as I'm a beginner that's why I did not know when and where to comment. I thought that this issue still needs a contributor so I proposed a solution.

[2017-01-06 09:23] xavierfontaine commented on #8158
Good question. A list of use-cases would be:
* Some scorer functions from `sklearn.metrics` take additional arguments. For instance, the `multioutput` in several regression metrics (e.g. [`explained_variance_score`](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.explained_variance_score.html#sklearn.metrics.explained_variance_score)), the `average`argument in several classificati

[2017-01-06 10:12] arthurmensch opened #8163 "Include cython sources in coverage"
Using recent cython, it is now possible to make coverage.py handle cython file. Would it be useful for scikit-learn ? It involves relatively little work, and would not increase the codebase as cython file are generated (c files are longer, and the trace option should be set at compile time).

Source: http://blog.behnel.de/posts/coverage-analysis-for-cython-modules.html

[2017-01-06 11:19] Akshay0724 commented on #8049
Hello **@amueller**, Is it feasible to add a parameter (say standard_binary_output) to decision_function() which can be either True or False and will be False by default.So, now if task is binary we can use a warning that output of shape (n_classes,2 or 1) is not standard and will be of shape (n_classes,) in future version.When passed parameter is True than we can return desired standard output th

[2017-01-06 13:18] tzano commented on #8136
The scenario that has been mentioned by @mjbommar explains the issue clearly. It's not always practical to ignore new labels, specially if you want to capture these new categories.

I think that using "hashing" can give us more flexibility. Adding "expand_classes" method, as you mentioned, can be useful to add a further encoding. I have worked around this idea and submitted a [PR](https://github.c

[2017-01-06 14:09] jenishah commented on #7947
The changes have to be made in sklearn/decomposition/pca.py or some other file where documentation related to [http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html#sklearn.decomposition.PCA](url) is written?

[2017-01-06 19:21] sdsawtelle commented on #6142
For latent-factor collaborative filtering model, like described in this[ Netflix Prize paper](https://datajobs.com/data-science-repo/Recommender-Systems-%5BNetflix%5D.pdf), it seems like it follows `fit`-`predict` reasonably well. I just rolled an estimator inheriting from `BaseEstimator` and am happily grid searching on my recommender system :)

I envision the user ID and the item ID just as two

[2017-01-06 19:28] skolouri opened #8165 "Linear Discriminant Analysis - Orthogonality of the coefficients"
Hey,

I am using  sklearn.discriminant_analysis.LinearDiscriminantAnalysis  (LDA) to learn a discriminant subspace for the data I am analyzing.  The projected data points onto the LDA subspace looked fine (i.e. after applying lda.transform(data)). However, when I checked lda.coefficients_ , I found out that the projection coefficients (LDA components) are not orthogonal! Am I missing something? Be

[2017-01-06 21:32] amueller opened #8166 "Adjusted rand index bounds"
The user guide says the adjusted rand index is bounded below by -1.
Is that obvious? Or even true?
I don't have a good enough intuition for the rand index.

[2017-01-06 22:05] amueller commented on #8162
``best_score_`` should be the mean cross-validation score of the best parameter setting.
Can you provide ``clf._cv_results_``?

[2017-01-06 23:49] michaelaye opened #8168 "DOC: Variational Bayesian Gaussian mixture: wrong hyperlinks"
URL: http://scikit-learn.org/stable/modules/mixture.html#bgmm

Symptoms:

The first plot in section 2.1.2.1 links to http://scikit-learn.org/stable/auto_examples/mixture/plot_gmm.html while it should just link to http://scikit-learn.org/stable/auto_examples/mixture/plot_concentration_prior.html as the 2nd plot correctly does (both 1st and 2nd plot are from the example at http://scikit-learn.org/st

[2017-01-07 00:17] Akshay0724 commented on #8063
Hello **@amueller**, Can I get this issue for start.Thanks

[2017-01-07 03:57] johnny5550822 commented on #8162
@amueller @jnothman  Yes, I set the random state:
[code]

The best score is 0.454704 (but if I look at, for example, 'split4_test_score, the avg score is higher than this)

The cv_results_ is:

{'rank_test_score': array([2, 4, 1, 3], dtype=int32), 'param_gamma': masked_array(data = [0.01 0.1 0.01 0.1],
             mask = [False False False False],
       fill_value = ?)
, 'std_score_time': array(

[2017-01-07 05:12] Akshay0724 commented on #8063
I have studied both the algorithm i.e #7444 and [apache/spark#15018](https://github.com/apache/spark/pull/15018).

The only difference I found that I think is possible for such a behavior is that in our implementation when a present active block is merged with next block, then we backtrack to the beginning if possible(i.e try to merge new block with all previous mergeable block iteratively).

Whil

[2017-01-07 08:28] devanshdalal commented on #8159
@glemaitre, I am working on it.

[2017-01-07 10:07] jnothman commented on #8113
Sorry this issue had retained its "Needs Contributor" label despite @Dorozhko-Anton proposing a PR. I also wrote the incorrect PR above, should have been #8113 (as github cross-references above too). I have not had the time to look at your approach, but would welcome comment at that pull-request.

[2017-01-07 10:08] jnothman commented on #8158
Parameters which, unlike sample_weight, are independent of the data
sub-sample, can be provided using make_scorer.

On 6 January 2017 at 20:23, xavierfontaine <notifications@github.com> wrote:

[2017-01-07 10:10] jnothman commented on #8049
We need to handle the case where decision_function is being called by
library code, not user code, and hence requires a standard API for
decision_function.

On 6 January 2017 at 22:19, akshay0724 <notifications@github.com> wrote:

[2017-01-07 10:35] jnothman commented on #7947
Yes, in pca.py

On 7 January 2017 at 01:09, jeni Shah <notifications@github.com> wrote:

[2017-01-07 10:47] #7921 closed

[2017-01-07 10:55] jnothman commented on #8166
Rand index is just accuracy: in clustering, it considers pairs of instances.

However, adjustment for chance generally produces a coefficient ranging -1
to 1. 0 means as good as random; 1 means perfect; -1 means perfectly bad.
The following is as bad as I could come up with in a moment, though.

adjusted_rand_score([1, 1, 0, 0], [1, 0, 1, 0]) == -0.5

On 7 January 2017 at 08:32, Andreas Mueller <n

[2017-01-07 10:56] jnothman commented on #8166
Perhaps you would appreciate a doctest showing a negative value?

[2017-01-07 11:18] kevin-coder opened #8170 "Run nosetests will fail"
#### Description
Run nosetests -v sklearn will fail

#### Steps/Code to Reproduce
nosetests -v sklearn

#### Expected Results
No error is thrown

#### Actual Results
FAIL: sklearn.tests.test_common.test_root_import_all_completeness
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/zhenqing/.local/lib/python2.7/site-packages/nose

[2017-01-07 12:04] jnothman commented on #8162
Those are scores for a particular train-test split, for four different parameter settings. Averaging over all folds the best score is 0.454, as in 'mean_test_score'.

[2017-01-07 12:04] #8162 closed

[2017-01-07 12:21] jnothman commented on #8170
Do you happen to have sklearn/lda.pyc hanging around? Remove it and try
again.

On 7 January 2017 at 22:18, Zhenqing, Hu <notifications@github.com> wrote:

[2017-01-07 15:15] mrbeann commented on #8168
I just make a PR for this one. Hope this can help.

[2017-01-07 16:02] agramfort commented on #8157
no objection from my side. I prefer 1 as it avoids a new class.

thx guys for taking a stab at this

[2017-01-07 19:49] ndomar commented on #8126
Yes I am already working on it, apologies if I am late or something but I just got back from my vacation.

[2017-01-07 21:53] #8168 closed

[2017-01-07 21:54] jnothman commented on #8168
Thanks @mrbeann. Writing "Fixes #8168" in your PR would have made it just a little better :)

[2017-01-07 22:24] #7863 closed

[2017-01-08 06:52] kevin-coder commented on #8170
@jnothman , thank you for quick response! I removed the lda.pyc file in the installation path and tried again, even re-built and re-installed again, still have this issue.

[2017-01-08 07:18] jnothman commented on #8170
Have you tried `make clean test`?

[2017-01-08 07:56] kevin-coder commented on #8170
Yes, with this way, pass now, thanks for your help!

[2017-01-08 07:56] #8170 closed

[2017-01-08 09:23] samsontmr commented on #6551
Hi! I would like to try this.
@MechCoder @amueller are the outputs to be changed y_pred and y_score? So they should be a continuous range instead of an integer range?

[2017-01-08 10:23] jnothman commented on #8159
I think `_generate_hypercube(samples, dimensions - 30, rng)` can just be replaced with `rng.randint(2, size=(samples, dimensions - 30))`. The samples are ensured to be distinct in those first 30 dimensions anyway (under the assumption that `2 ** 30 >> samples`).

[2017-01-08 11:22] cmardiros opened #8173 "n_neighbors param in mutual_info_regression doesn't do anything"
#### Description
Setting `n_neighbors` to different values does not change the MI score returned by mutual_info_regression.

#### Steps/Code to Reproduce

https://github.com/scikit-learn/scikit-learn/blob/14031f6/sklearn/feature_selection/mutual_info_.py#L196

`n_neighbors` seems to be passed to `_estimate_mi` but not actually used in the function.

[2017-01-08 11:50] jnothman commented on #8173
Indeed. :( I don't know why _compute_mi should have a default value for
n_neighbors. A patch is welcome, ideally with a test.

On 8 January 2017 at 22:22, cmardiros <notifications@github.com> wrote:

[2017-01-08 12:26] jnothman opened #8174 "transform should not accept y"
I suspect that whenever `y=None` is included in the `transform` method signature (after mandatory `X`), this is done in error. The `y` parameter should be deprecated and eventually removed. It only confuses the user about the isolation of `y` from transformation.

[2017-01-08 12:30] jnothman commented on #8174
[code]

[2017-01-08 13:59] Akshay0724 commented on #8174
Hello **@jnothman**, I'd like to work on this issue.

In every desired place we should make following changes--

  def transform(self,X,y=None):
     if y is not None:
        warning.warn("Parameter y is Deprecated as it is not required and will be removed in future version")

[2017-01-08 14:39] kmader opened #8175 "No support for reconstructing from 3D (or 4D) patches"
The ```sklearn.feature.image.extract_patches``` supports 3 or more dimensional images but the corresponding reconstruction function (```reconstruct_from_patches```) only exists for the 2D case

[2017-01-08 21:39] jnothman commented on #8174
* Please check at the same time that it is not actually used, and note when
it is so we can review.
* Make y='deprecated' by default so that you can warn when it is explicitly
set to None.
* Will be removed in version 0.21 to be specific.

On 9 January 2017 at 00:59, akshay0724 <notifications@github.com> wrote:

[2017-01-08 21:42] jnothman commented on #8174
It looks like someone has beaten you to it in #8177

On 9 January 2017 at 08:39, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-01-08 21:42] GaelVaroquaux commented on #8174
Are we sure that we will never have transformers that use y in their
transforms? I can quite clearly see usecases for that.

Given that, I think that I am -1 on this.

[2017-01-08 21:50] jnothman commented on #8174
@GaelVaroquaux please clarify examples. IMO:
* I can't think of any case `y` is used in transform atm
* It is certainly not forwarded by `Pipeline` or `FeatureUnion`
* We have inconsistency as to whether `y=None` is included in `transform`'s signature
* But I think including it in `transform`'s signature when it is generally unused confuses users and people writing their own transformers.
* The do

[2017-01-08 22:20] jnothman commented on #8174
PLS is the current exception, but there Y means something quite different
to y elsewhere.

On 9 January 2017 at 08:42, Gael Varoquaux <notifications@github.com> wrote:

[2017-01-08 23:18] kuo000 commented on #6353
I just want to point out that in sklearn's sample script (http://scikit-learn.org/stable/auto_examples/applications/topics_extraction_with_nmf_lda.html#sphx-glr-auto-examples-applications-topics-extraction-with-nmf-lda-py), they actually use `components_` as something like probabilities.

Here I'm copying the `print_top_words` function from the sample script:
[code]

While it does not really treat

[2017-01-09 06:09] Akshay0724 commented on #8174
Hello **@jnothman**, I think it is authentic before starting working on a PR is to ask weather some one else is working on or not. I had started working on this issue and was going to make a PR, in the mean time **@tzano** directly make a PR.

[2017-01-09 06:57] jnothman commented on #8174
Yes, I don't think it's great that someone else came in in the meantime,
but given the short timeframe it's hard to avoid if you don't make an
initial "WIP" pull request. Sorry about that.

On 9 Jan 2017 5:09 pm, "akshay0724" <notifications@github.com> wrote:

[2017-01-09 08:24] xavierfontaine commented on #8158
Fair point, I guess only the use of data-dependent arguments in cross-validation would require an evolution of sklearn's code.

Then I guess we are back to the first issue I opened (#8156): what would be the best way to allow for validation sample weights in `grid_search`?

I do not feel qualified to express an opinion on whether we should wait for implementing sample props (#4497) before tackling

[2017-01-09 11:14] jnothman commented on #8158
Distributing the samples is not a real issue. The API issue, even if
limited to sample_weight, is about making it possible to switch on
sample_weight being passed to scorers or not. But ideally, this should be
consistent with how we handle other things like sample_weight. It may also
be ideal to support passing sample_weight to scoring, but not to the
estimator to be fit (though I admit this can b

[2017-01-09 11:56] andrewguy commented on #8166
I don't believe the adjusted Rand index is bounded by -1.

The original paper (1) that introduces the adjusted Rand index states that, while it is bounded on the upper end at 1, normalisation such that it has a lower bound would serve no practical use:

The confusion arises because they discuss another metric in their abstract that **is** bounded by [-1,1]. It doesn't help that some recent papers

[2017-01-09 12:17] lesteve commented on #8161
Try to put your code creating subprocesses inside a `if __name__ == '__main__'` block. This is a known caveat of multiprocessing on Windows, look at [this](http://stackoverflow.com/a/14175401) for example.

I am closing this one, feel free to shout if that does not fix your problem.

[2017-01-09 12:17] #8161 closed

[2017-01-09 13:04] jnothman commented on #8166
Okay. Though I'm not sure how to invent a clustering that has ARI < -1

On 9 January 2017 at 22:56, Andrew G <notifications@github.com> wrote:

[2017-01-09 13:26] jnothman commented on #6488
I've elsewhere discussed similar for `LabelBinarizer` in the multiclass case, proposing the parameter name `drop_first` to ignore the encoding of the smallest value.

[2017-01-09 13:43] GaelVaroquaux commented on #8157
OK, so consensus is to go for approach 1.

I suggest to first implement caching support in a single object, finishing #7990 (cc @glemaitre ) and then do a PR for deprecating the access to `steps`.

[2017-01-09 14:00] glemaitre commented on #8157
PR #7990 is ready for review with a single object.

[2017-01-09 15:44] andrewguy commented on #8166
Sorry, ignore my previous statement about it not being bounded in the negative direction. Not so sure anymore. Someone check my reasoning here.

The Rand Index is bound between [0,1].  The adjusted Rand index (ARI) is just a linear transformation of the Rand Index such that E[ARI] = 0 and max(ARI) = 1. In practice the lower bound is set according to the expected value of the Rand index for that pa

[2017-01-09 16:03] amueller commented on #8166
I'm not even clear how to interpret -.5.
I asked a question here: http://stats.stackexchange.com/questions/254950/lower-bound-for-adjusted-rand-index

I suspect a investing a lucid afternoon one of us would be able to proof -.5 which is also what I suspect the bound is. Let's see if anyone wants to make this investment.

[2017-01-09 18:11] #2254 closed

[2017-01-09 19:56] amanp10 commented on #5803
Please tell me if there is some error in this so I could correct it asap @amueller @nelson-liu .

[2017-01-09 21:34] acohan commented on #6614
Getting the same error.

[2017-01-10 04:09] GenTang commented on #8129
For me, the second solution should be better
@devanshdalal

[2017-01-10 07:08] rspadim opened #8179 "Save/Load models/classificators/etc"
Show be nice if all regressors / classicators / etc, could be saved to string and loaded from string, this help a lot in kaggle competitions where i could train model in my local computer save() and export to kaggle with a load() function

[2017-01-10 09:29] tzano commented on #8179
In case you want to persist the model for future use without having to retrain. You can save and load your trained models using Python's [Pickle](https://docs.python.org/2/library/pickle.html) or [joblib](https://pypi.python.org/pypi/joblib).

While Pickle is commonly used to serialize objects in Python, Joblib provides an efficient handling for large numpy arrays.

Here is a quick example on how

[2017-01-10 09:38] jnothman commented on #8179
[`pickle.dumps`](https://docs.python.org/2/library/pickle.html#pickle.dumps)

[2017-01-10 09:38] #8179 closed

[2017-01-10 12:04] devanshdalal commented on #8129
ok, Let me provide a quick patch soon.

[2017-01-10 16:26] desilinguist opened #8180 "`make_classification()` generates different results across versions with identical parameters"
#### Description
`make_classification` generates different results across versions with identical parameters

#### Steps/Code to Reproduce
[code]

#### Expected Results
Given that there are no code changes in `make_classification` between v0.17.1 and v0.18.1, I'd expect the code to generate exactly the same results given the same random state and the same parameters.

#### Actual Results
The X and

[2017-01-10 17:46] glemaitre commented on #8180
`sample_without_replacement` has been improved as mentioned in the
[release history](http://scikit-learn.org/stable/whats_new.html#enhancements)

Therefore the samples generated may differ.

[2017-01-10 19:03] desilinguist commented on #8180
@glemaitre thanks for pointing that out! Can't believe I missed that.

[2017-01-10 19:03] #8180 closed

[2017-01-10 23:14] glemaitre commented on #8023
I am just curious regarding this case. Is it not an obligation for objects which are equal (with `__eq__`) should also have the same hash?

[2017-01-10 23:17] glemaitre commented on #8165
The matrix W is in fact `lda.scalings_` which is a 3 by 2 matrix. You can check the [`transform`](https://github.com/scikit-learn/scikit-learn/blob/14031f6/sklearn/discriminant_analysis.py#L501) from `LinearDiscriminantAnalysis` to have some insights.

[2017-01-10 23:52] skolouri commented on #8165
Thank you Guillaume! The naming is super confusing then, as $W$ contains the projection coefficients.

[2017-01-10 23:52] #8165 closed

[2017-01-11 06:26] anntzer opened #8182 "sklearn should avoid calling warnings.simplefilter("always")"
[hmmlearn](https://github.com/hmmlearn/hmmlearn) currently uses the deprecated `log_multivariate_normal_density`, and thus using hmmlearn results in a deprecation warning being emitted -- so far it's all fair.

However, the warning actually gets repeated a very large number of times, annoyingly flooding the terminal, as can be seen e.g. by running the example https://github.com/hmmlearn/hmmlearn/b

[2017-01-11 09:15] lsamper opened #8183 "malloc error with SVD"
#### Description

I have a malloc error with TruncatedSVD.
My issue seems closed to https://github.com/scikit-learn/scikit-learn/issues/7626

#### Steps/Code to Reproduce
Code to reproduce my error:

[code]

python crashes with a segfault:

[code]

I reproduce the bug all the time.
I have 8GB RAM on my computer and I have some enough RAM left when running the code.
With algorithm='arpack' it works

[2017-01-11 09:18] lesteve commented on #8182
Probably from `sklearn/__init__.py`:
[code]

Is there no equivalent function you can use to get rid of the warnings? cc @tguillemot.

[2017-01-11 09:47] tguillemot commented on #8182
We have the context manager and decorator `ignore_warnings` in sklearn.utils.testing designed for that.
You can use it with like :
[code]
or
[code]

I wonder if we could also add a message property as it's done in assert_warning for example to be sure we remove the Warning we want. What do you think @lesteve.

[2017-01-11 09:48] GaelVaroquaux commented on #8023
I am not sure that I understand your sentence, but here is an important
example for equality. "1" (integer) and "1." (float) are equal, but they
are not the same objects and hash differently. In Python, the notion of
equality is an object-specific notion. You cannot assume much about it. I
can be cheeky and create an object that is equal to everything.

[2017-01-11 10:04] anntzer commented on #8182
Why not simply initially add a "default" filter (once per location... should be more than enough) for Deprecations rather than an "always" one?

[2017-01-11 10:15] tguillemot commented on #8182
I think the explanation is here #3478.

[2017-01-11 10:34] anntzer commented on #8182
I can understand using "always" for ConvergenceWarnings, but not for DeprecationWarnings.

[2017-01-11 11:06] glemaitre commented on #8023
[code]

[2017-01-11 11:08] tguillemot commented on #8182
Indeed @anntzer I have read too fastly #3748.
In my point of view it's good to have `always` when we have to clean the deprecation function from the tests in sklearn. But as I don't really see the implication of changing `always` by `default` I prefer ask the point of view of someone else @agramfort @amueller @jnothman @lesteve ?

[2017-01-11 11:27] lesteve commented on #8182
You can silence warnings using the `warnings.catch_warnings` context manager, see https://docs.python.org/3.5/library/warnings.html#temporarily-suppressing-warnings for example. I have to say I am not that familiar with the scikit-learn utilities for this purpose. You could adopt a similar approach and wrap the deprecated function in hmmlearn if you find the warnings very irritating.

As a maintai

[2017-01-11 11:40] jnothman commented on #8183
I'm not managing to replicate, at 0.18.1 or at master:
[code]

[2017-01-11 12:28] GaelVaroquaux commented on #8023
Wow. I am confused.

[2017-01-11 12:32] lesteve commented on #8023
I did not expect that either ! Interesting, in some definition of interesting ;-)

[2017-01-11 12:53] michael-k opened #8184 "PyPI links to sourceforge instead of github"
See https://pypi.python.org/pypi/scikit-learn/0.18

![scikit-learn-pypi](https://cloud.githubusercontent.com/assets/152008/21849152/a677d790-d804-11e6-8fcb-99c85da9c05b.png)

Downloads of 0.18.x are not available via sourceforge, only via PyPI itself or via https://github.com/scikit-learn/scikit-learn/releases.

I thing it would be better to have the [important links](https://github.com/scikit-lea

[2017-01-11 13:09] glemaitre commented on #8023
The python [doc](https://docs.python.org/3/reference/datamodel.html#object.__hash__) mentioned this:

The other interesting thing is:

So in some way, it seems that you can implement your own `__eq__()` but you cannot use it in collections. So the first requirement is not imposed if you don't want to support the use of the object in as a key.

Anyway, if an estimator and its clone need to be equal

[2017-01-11 13:15] GaelVaroquaux commented on #8023
I'd rather not implement an __eq__. It makes following the scikit-learn
API even harder. I prefer it if BaseEstimator is something quite light.

[2017-01-11 13:20] lesteve commented on #8023
Trying to stear it back the original issue, I think @amueller was not asking whether two estimators (one default constructed and the other cloned from the first one) should be equal but whether *the parameters of the two estimators* should be equal.

To be perfectly honest, I am failing to see why this really matters (besides discovering some interesting Python quirks).

[2017-01-11 13:22] GaelVaroquaux commented on #8023
+1

[2017-01-11 14:07] lsamper commented on #8183
Even increasing n_components ? For me it works with n_components=20 but not for n_components=25

[2017-01-11 15:11] lesteve commented on #8184
Yep, agreed, PR welcome! While we are at it, we may as well get rid of all the outdated sourceforge links.

[2017-01-11 15:34] michael-k commented on #8184
I'll try to provide a PR within the next 7 days. :)

[2017-01-11 15:40] lesteve commented on #8184
Let us know if you get stuck. To fix the outdated link you found on PyPI you just have to change the `DOWNLOAD_URL` variable in `setup.py`. A quick and dirty quick grep to try to find all of the oudated sourceforge links (there may be false positives):

[code]

[2017-01-11 15:42] glemaitre commented on #8184
@lesteve in the [`doc/maintainer.rst`](http://scikit-learn.org/stable/developers/maintainer.html), there a something mentioning to upload the tarball manually to sourceforge.

Is this policy not required anymore?

[2017-01-11 15:51] lazywatch opened #8185 "Locally build development sklearn then get both scikit-learn (0.18.1) and sklearn (0.0)"
I also run into the bug reported in #7705 and tried to install the development version following [Retrieving the latest code](http://scikit-learn.org/stable/developers/contributing.html#git-repo). When I build it locally I got following:
scikit-learn (0.18.1)
sklearn (0.0)

So there are two sklearn packages installed how could I make sure to use the development version (sklearn (0.0))? right now I

[2017-01-11 15:55] nelson-liu commented on #8185
sklearn 0.0 is not the development version, that's from what you get when you do `pip install sklearn` (as opposed to `pip install scikit-learn`, which is the correct command). I would remove your current installation of `sklearn` and `scikit-learn` and try again.

[2017-01-11 15:57] nelson-liu commented on #8185
to tell if you have the development version:
[code]
this should output `0.19.dev0`

[2017-01-11 16:27] lesteve commented on #8184
IIRC 0.18 files were not uploaded to sourceforge so I would guess this piece of information is outdated.

[2017-01-11 20:05] teopir opened #8186 "ExtraTreesRegressor predict of 1 sample is slower in 0.18.1"
#### Description
After upgrading to 0.18.1 predict of ExtraTreesRegressor is about 10 times slower.

Version 0.17
[code]

Version 0.18.1
[code]
#### Steps/Code to Reproduce
[code]

I installed/uninstalled through pip
[code]

Cython version 0.23.4

[2017-01-11 21:55] jnothman commented on #8183
Even increasing `n_components`.

[2017-01-12 01:18] jnothman commented on #8186
I can't reproduce this issue, at least with Cython 0.25.1.

I assume you've tested this with something more robust than a single measurement?

[2017-01-12 01:44] lsamper commented on #8183
Ok, too bad. On my laptop, I stopped all applications and I still reproduce the bug all the time.

[2017-01-12 02:35] wudapeng268 opened #8187 "PCA Question"
Hi, I  use PCA from sklearn.decomposition, I want to reduce the components to 400, but unfortunately, I got 100 components. The following is the code and console when running.
code:
[code]
console print:
[code]
It would be really helpful if anyone can solve this question.Thanks.

[2017-01-12 03:20] jnothman commented on #7947
@jenishah, are we still waiting for you on this?

[2017-01-12 03:20] jnothman commented on #8187
Thanks. This is an error in the documentation. See #7947

[2017-01-12 03:20] #8187 closed

[2017-01-12 04:03] wudapeng268 commented on #7947
@jnothman Can I ask why must `n_components <= n_samples`?

[2017-01-12 04:24] jenishah commented on #7947
@jnothman :sorry for the delay. Will send a PR at most by tomorrow.

[2017-01-12 04:44] jnothman commented on #7987
After some effort at #7997, @amanp10 and I are not persuaded that any practical benefit can be derived from this parallelism. Although there may be room for further investigation, I am closing this issue as "won't fix".

[2017-01-12 04:44] #7987 closed

[2017-01-12 06:44] lesteve commented on #8183
How did you install scikit-learn, via `pip install`?

[2017-01-12 08:15] lsamper commented on #8183
I think so but I am not sure. How can I check?

[2017-01-12 09:31] teopir commented on #8186
Yes I have tested the code over 1000 single sample predictions. Following your reply I updated the packages through pip

pip install -U cython joblib numpy scipy

and I tested the dev version of scikit-learn

pip install git+https://github.com/scikit-learn/scikit-learn.git

The issue is still there

### v. 0.19.dev0
[code]

### v.0.17
[code]

Here the updated code
[code]

[2017-01-12 11:31] jnothman commented on #8186
Hmm. I get this problem with Numpy 0.11.3 and MKL 2017.0.1-0, but not with Numpy 0.11.2 and MKL 11.3.3-0.

Could you please confirm that this problem does not occur with Numpy 1.11.2?

[2017-01-12 11:37] jnothman commented on #8186
Scratch that. I need to try this again.

[2017-01-12 13:28] jnothman commented on #8186
[code]

The problem applies equally to `ExtraTreesRegressor` and `RandomForestRegressor`, but not to `DecisionTreeRegressor`, but only in Python 2 and scikit-learn >= 0.18.

[2017-01-12 13:29] jnothman commented on #8186
I should say, the slowness exists to a lesser extent in Python 3.

[2017-01-12 13:51] dalmia commented on #8012
ping @amueller

[2017-01-12 13:56] dalmia commented on #8100
I'll take this up.

[2017-01-12 14:05] jnothman commented on #8100
I think it will be a challenge, @dalmia, but go ahead.

[2017-01-12 15:09] dalmia commented on #8100
Thanks for the heads up @jnothman. :)

[2017-01-12 17:33] NelleV opened #8191 "Non-negative least square estimator"
Hello,

I've implemented a non-negative least square estimator with sklearn's API. Is there interest in adding such an estimator to sklearn? Is someone already working on this?

ping @GaelVaroquaux

[2017-01-12 17:37] GaelVaroquaux commented on #8191
Ping @eickenberg

[2017-01-12 18:12] eickenberg commented on #8191
Seems like a cool idea to complete the linear models. I have used it recurrently and always resorted to `scipy.optimize.nnls`, but this is inconvenient if all the other methods you want to try have an sklearn-API except this one ;)

So I'm +1 for nnls in sklearn!

[2017-01-12 18:14] eickenberg commented on #8191
are you wrapping `scipy.optimize.nnls` or did you implement it differently? I guess there can be a coordinate descent version analogous to `sklearn.linear_model.Lasso` with not too much modification of the cython code? (didn't check)

[2017-01-12 18:33] nelson-liu opened #8192 "Asterisks in docs not escaping properly?"
#### Description
Not sure why this is happening, but if you look at [`the pipeline docs`](http://scikit-learn.org/dev/modules/generated/sklearn.pipeline.Pipeline.html) or any other module that uses `*` in their methods, the asterisks show up as `\*`. Perhaps something to have to do with escaping characters?
<img width="795" alt="screen shot 2017-01-12 at 10 31 02 am" src="https://cloud.githubuserc

[2017-01-12 18:34] nelson-liu commented on #8192
hmm looks like it's related to [this snippet in `metaestimators.py`](https://github.com/scikit-learn/scikit-learn/blob/14031f6/sklearn/utils/metaestimators.py#L54)

[2017-01-12 18:40] katehuseva opened #8193 "test FAILED (SKIP=28, failures=1)"
Hello!

Kindly ask you to help me with the problem. I made nosetests -v sklearn
The result is below:

[code]

[2017-01-12 18:49] nelson-liu commented on #8193
please give some more information. What are the versions you're running things on (run the snippet at the bottom of the issue template), try to give exact steps for reproducing this, etc.

[2017-01-12 18:52] NelleV commented on #8191
I'm just wrapping scipy.optimize :)

[2017-01-12 20:14] nuffe opened #8194 "Should all test cases set the random_state?"
In [this](https://github.com/scikit-learn/scikit-learn/pull/7591) PR some newly added test cases made some unrelated tests fail. The culprit was mutating state due to missing `random_state`(s) in the unrelated tests' function/class invocations. @amueller also mention that:

I made a simple python script [here](https://gist.github.com/nuffe/3afcc7d6682b05d71e59a99afcf0cbfe) that goes through each o

[2017-01-12 20:24] egorlitvinenko commented on #4940
@amueller  I have this problem with sklearn.__version__ = '0.18.1'

[2017-01-12 20:40] katehuseva commented on #8193
python's version 2.7
Accodirng to the version sciki-learn - I don't now.
I've just put next commands:

$ sudo pip install -U scikit-learn
$ nosetests -v sklearn

Then test returned me FAILED (SKIP=28, failures=1)

[2017-01-12 21:58] oxymor0n commented on #8183
Having the same issue on another Macbook Pro. System details are:
macOS Sierra
16GB of RAM
Python 3.5.2
scikit-learn 0.18.1 (installed via pip)

The `TruncatedSVD` class is trying to allocate an enormous amount of RAM with

    mach_vm_map(size=18446744065650954240)

which results in malloc error.

[2017-01-12 22:05] oxymor0n commented on #8183
Running with the option `algorithm='arpack'` suggested by @DandikUnited in https://github.com/scikit-learn/scikit-learn/issues/7626#issuecomment-258032868 avoids the error, btw

[2017-01-12 22:16] jnothman commented on #8192
We probably need fixes to numpydoc to make this work. First we need to
update our numpydoc.

On 13 January 2017 at 05:34, Nelson Liu <notifications@github.com> wrote:

[2017-01-13 06:01] andrewguy opened #8195 "Significance test for Adjusted Rand Score"
Is there appetite for addition of a small function that performs a significance test for the adjusted Rand score given two label partitions (ie `labels_true` and `labels_pred`)?

[1] outlines  a Monte Carlo approximation approach for the significance testing of the adjusted Rand index. Essentially, this involves randomly sampling possible clustering assignments, given the same number of clusters a

[2017-01-13 06:48] jnothman commented on #8195
This is interesting, although it is a bit recent and has not gained
substantial traction in the field, for us to be confident about it being
appropriate for inclusion.

From a theoretical standpoint, I need some reassurance about two things:
that such permutation tests do not depend on the assignments of labels
being conditionally independent on the model (which is what I had imagined,
but probabl

[2017-01-13 08:42] eickenberg commented on #8191
Cool!
Ping me in your PR if you need review!

On Thursday, January 12, 2017, Nelle Varoquaux <notifications@github.com>
wrote:

[2017-01-13 09:13] andrewguy commented on #8195
Thanks very much for the input. I'm not sure I can answer your question regards conditional independence on the model (a little unsure what you mean, but that's my lack of appropriate theoretical background speaking). Perhaps someone else can provide insight?

I can tell you that it makes no difference at all if you only permute one of the labels, vs permuting both labels. Given that the Rand scor

[2017-01-13 10:06] agramfort commented on #8191
you can already do a NNLS with sklearn with Lasso(alpha=0., positive=True)

[2017-01-13 10:11] eickenberg commented on #8191
that would use a minor change in the coordinate descent, I would assume.

I didn't know this and I have to admit it will be hard to find for anybody
looking for it ...

So how about adding an explicit NonNegativeLeastSquares estimator that
calls Lasso with those params?

And if there are benefits to the scipy.optimize version, then have a switch
in the object to decide between the two?

On Fri, Ja

[2017-01-13 10:23] glemaitre commented on #8193
Please run the following snippet and paste the output below.
[code]

and use markdown code block tags when pasting some code

[2017-01-13 18:48] Akshay0724 commented on #8103
Hello **@jnothman**, I'm taking this up as **@iamvoid13** is not working on it.

[2017-01-13 19:55] NelleV commented on #8191
I can benchmark the two and see if there is a benefit in wrapping scipy's NNLS.

[2017-01-13 23:04] anntzer commented on #8182
See e.g. the travis build log of hmmlearn: https://travis-ci.org/hmmlearn/hmmlearn/jobs/189174342.  There are (literally) 10,000 lines of the same deprecation warning, causing travis to indicate

[2017-01-13 23:57] levy5674 opened #8198 "datasets.make_moons returns incorrect label when n_samples is odd"
#### Description
There is an indexing error in  `make_moons` so that when `n_samples` is odd, `x[n_samples // 2]` is on the inner circle but `y[n_samples // 2] == 0` labeling it as part of the outer circle.

#### Steps/Code to Reproduce
[code]

#### Expected Results
[code]

#### Actual Results
[code]

#### Versions
Darwin-15.6.0-x86_64-i386-64bit
Python 3.5.2 |Continuum Analytics, Inc.| (default,

[2017-01-14 04:37] lewisj53 opened #8200 "Error in documentation, section 1.10.1. of User Guide"
<This is written:

As with other classifiers, DecisionTreeClassifier takes as input two arrays: an array X, sparse or dense, of size [n_samples, n_features] holding the training samples, and an array Y of integer values, size [**n_samples**], holding the class labels for the training samples:

I believe that the latter part, referring to the size of the array Y, should read:

array Y of integer va

[2017-01-14 07:59] mrbeann commented on #8200
I think `n_samples` is right here, `Y` need be the size of data points

[2017-01-14 12:25] OmarKanan opened #8201 "Adaboost wrongly outputing a perfect fit after few iterations"
#### Description
Hello, I'm having an issue with AdaboostClassifier applied to ExtraTreesClassifier. I have a dataset of approximately 100,000 samples x 128 features. I'm doing a 10-kfold cross-validation, and on some of the folds I have weird results : the algorithm stops after few iterations, outputing a perfect fit, but the accuracy is still around 96%. On the other folds there is no problem th

[2017-01-14 13:30] GaelVaroquaux commented on #8194
IMHO, they shoud, and this is desirable.

[2017-01-14 21:06] jnothman commented on #8201
I'm guessing your use of KFold with shuffle=False is inappropriate for your
data.

On 14 January 2017 at 23:25, Omar Kanan <notifications@github.com> wrote:

[2017-01-14 22:31] OmarKanan commented on #8201
Could have been the case, but I already shuffled the data before, that's why I called it "shuffled_data" :)

[2017-01-15 01:38] jnothman commented on #8195
Which doesn't allay my fears that the paper is a little bit sub-critical, since it seems to be randomly permuting both.

And yet, the more I think about it, I can't see what's wrong with shuffling the manual labels in clustering any more than in classification. So all you're proposing an unsupervised (and hence cross-validation is irrelevant) version of `permutation_test_score`, which doesn't appe

[2017-01-15 02:54] BasilBeirouti opened #8202 "20 newsgroups example throws TypeError"
#### Description
document_classification_20newsgroups.py is throwing TypeError  when creating a pipeline.

#### Steps/Code to Reproduce

cd into the scikit-learn\examples\text directory and run the document_classification_20newsgroups.py example
`>>> python documentclassification_20newsgroups.py`

#### Expected Results
Example runs and produces plot comparing  multiple classification algorithms (b

[2017-01-15 04:49] jnothman commented on #8202
It's quite problematic that we're not aware of these errors from CI.

The __main__ issue we should address immediately (
https://github.com/scikit-learn/scikit-learn/pull/7924#issuecomment-272673608
).

The Pipeline should be wrapping LinearSVC(penalty='l1') in a
SelectFromModel. The current code relies on deprecated functionality.

The pipeline follows that feature selection with LinearSVC to rew

[2017-01-15 04:50] jnothman commented on #8202
(CI doesn't catch this because it's not a plot :-\)

On 15 January 2017 at 15:49, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-01-15 05:00] AmazaspShumik commented on #6259
@amueller Sorry for my late reply.

1)  Moving Project
@amueller @jnothman  I would like to move the whole project now if it is an option. Currently, I have little time to work on it, so maybe other people will contribute! I will have more time in February to improve package and work on appropriate tests.

2) Comparison with "legacy" implementation.

 - ARD: In cases, when n_samples <= n_features,

[2017-01-15 07:03] matiji66 commented on #4830
卸载了自己安装的python，用Anaconda 进行安装，就不存在这些问题了。
Thanks.

[2017-01-15 08:32] BasilBeirouti commented on #8202
Wow I didn't catch the stray space...I just submitted a very simple pull request. It says I'm trying to merge in 2 commits, the first is the commit updating my branch and the second is the actual bug fix.  Is that ok? I didn't want to change too much since this is my first bug fix.

Also, do you agree that the loss in this section of code:

`for penalty in ["l2", "l1"]:
    print('=' * 80)
    pri

[2017-01-15 09:02] BasilBeirouti commented on #8202
#8204

the fix to "__main__ " was merged in. The fix to the pipeline and the incorrect keyword need to be reviewed.

[2017-01-15 13:07] jnothman commented on #6259
Apart from check_estimator, have you taken a look at the workflow at
https://github.com/scikit-learn-contrib/scikit-learn-contrib/blob/master/workflow.md?
A request for inclusion there would provide a dedicated space for
discussion of any issues, but I expect there'll be few.

On 15 January 2017 at 16:00, Amazasp <notifications@github.com> wrote:

[2017-01-15 13:10] jnothman commented on #8202
Thanks, all done!

[2017-01-15 13:10] #8202 closed

[2017-01-15 16:24] hardik124 commented on #8183
Bug not reproduced in Ubuntu 64bit , Core i5.

[2017-01-15 17:32] NickGoumas commented on #8184
This still had the "Need Contributor" tag so I submitted a PR for the initial sourceforge link update. As @lesteve suggested, I'm going to grep through the project and look for other links soon. I'm still a git and GitHub novice so let me know if I'm doing anything wrong.

[2017-01-15 20:08] Masoompirzada commented on #6964
Just replace  'from sklearn.cross_validation import train_test_split, LabelKFold' with 'from sklearn.from sklearn.model_selection import train_test_split, LabelKFold'

[2017-01-15 20:40] AmazaspShumik commented on #6259
@jnothman
Thanks for quick answer!

I just had a look, is it ok to make a request for inclusion if there are still some problems, and then work & discuss them?

I still have some issues with Travis CI (it fails every time I include c extensions for GibbsLDA and Hidden Markov Models, I am still trying to figure out why)
Three algorithms in the package are not Python 3 compatible (this should be eas

[2017-01-15 22:40] jnothman commented on #6259
Best to sort out basic things like Py2/3 in before submitting, but
otherwise, issues can be discussed.

On 16 January 2017 at 07:40, Amazasp <notifications@github.com> wrote:

[2017-01-15 23:08] carrdelling commented on #8200
Definitely.

In standard classification problems, the samples can only belong to a single class. Hence, if the size of `X` is `[n_samples, n_features]`, then the size of  `Y` must be `n_samples`.

The documentation is right.

[2017-01-16 04:11] naoyak commented on #8192
Possibly sphinx-doc/sphinx#3285?

[2017-01-16 06:44] guoqinlong opened #8207 "Two Problems about the TfidfTransformer"
#### Description

In this [page](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfTransformer.html#sklearn.feature_extraction.text.TfidfTransformer), there is a sentence:

I think there are two problems here:
1.  According to the description mentioned above, there should be a pair of brackets in "1 + df(d, t)", i.e. the formula of idf(d, t) should be idf(d, t)

[2017-01-16 07:15] jnothman commented on #8192
Looks right. But it would also be good if we can avoid showing *args,
**kwargs when that's just because we have to wrap the method.

On 16 January 2017 at 15:11, Naoya Kanai <notifications@github.com> wrote:

[2017-01-16 09:01] rth commented on #8207
@guoqinlong About the results you are getting (point 2), note also that `TfidfTransfomer` also applies an L2 normalization by default (after the tfidf weighting). So it would probably be simpler to figure things out with the `norm=None` argument.

The [code used to calculate the idf smoothing](https://github.com/scikit-learn/scikit-learn/blob/b7be3bfdb21280e953ef49d2abca5356bb20a820/sklearn/featur

[2017-01-16 09:46] guoqinlong commented on #8207
Hi @rth

Thanks for your reply.  It is my fault that I missed the 'L2' norm.

When I set `norm=None`, the result is same with the one calculated by hand mentioned in before. And after applying L2 norm, the result is same with the default one.

##### norm=None Results
[[ 1.          1.40546511]
 [ 1.          0.        ]]

##### Euclidean norm Results
[[ 0.57973867 0.81480247]
[ 1. 0. ]]

`0.579738

[2017-01-16 10:00] lesteve commented on #8182
Any reason you can not use `numpy.random.multivariate_normal` as mentioned in the deprecation message?

[2017-01-16 10:16] lesteve commented on #8184
@NickGoumas don't trust labels blindly, it is impossible to keep them manually up-to-date. Reading the discussion it would have been appropriate to ping @michael-k  to check whether he was still planning to submit a PR about this issue.

[2017-01-16 10:29] michael-k commented on #8184
I am, but it's ok.  Haven't found the time yet.

[2017-01-16 10:32] anntzer commented on #8182
It is not up to me but up to the maintainer of hmmlearn.
Yes, in that case, it would be a relatively trivial PR to make, but hmmlearn hasn't had a release for quite a while as well, so I don't know when the next one would be either.

[2017-01-16 10:45] lesteve commented on #8184
@michael-k I assumed it would be fine with you. Still this is strongly recommended to read the full discussion and double-check with anyone who said that they are interested to work on the issue. This does not cost much and help to keep a nice collaborating atmosphere.

[2017-01-16 11:22] #8200 closed

[2017-01-16 12:11] jnothman commented on #8207
Fixed the first problem in eabaef3, thanks.

[2017-01-16 12:11] #8207 closed

[2017-01-16 12:57] lesteve commented on #8182
I assumed you were since you were pointing to the Travis log, sorry about the confusion.

I would say open a PR in hmmlearn and see what happens.

[2017-01-16 13:23] lesteve commented on #8183
@jnothman can you reproduce with scikit-learn installed through pip?

[2017-01-16 14:41] NickGoumas commented on #8184
@michael-k @lesteve Sorry about that guys, won't happen again!

[2017-01-16 15:27] lesteve commented on #8184
No worries, it's all part of the learning process.

[2017-01-16 16:09] hardik124 commented on #8186
@teopir
You can mention max_depth = None if you want to speed it up . In 0.18.1 its default value is 5 , and that seems to create the time lag.

forest = ExtraTreesRegressor(n_estimators=100,max_depth=None)
.

/bin/sh: 1: cython: not found
Linux-4.4.0-59-generic-x86_64-with-debian-stretch-sid
('Python', '2.7.11 | 64-bit | (default, Jun 11 2016, 10:32:30) \n[GCC 4.1.2 20080704 (Red Hat 4.1.2-55)]')

[2017-01-16 17:10] glemaitre opened #8209 "[CI] CircleCI broken due to docutils updated from 0.12 to 0.13.1"
#### Description
CircleCI report the following errors:

[code]

I saw the problem occurring while working on #7990
The issue should come from `docutils` which has been updated from 0.12 to 0.13.1

The following [build](https://circleci.com/gh/scikit-learn/scikit-learn/8275) was fine with 0.12
The latter [one](https://circleci.com/gh/scikit-learn/scikit-learn/8299) failed with 0.13.1 and nothing re

[2017-01-16 20:49] jnothman commented on #8209
I think @lesteve is onto it.

On 17 January 2017 at 04:10, Guillaume Lemaitre <notifications@github.com>
wrote:

[2017-01-16 21:22] AmazaspShumik commented on #6259
@jnothman

I fixed issues with Python 2/3 and extension modules,  build passes in Python 2.7 and Python 3.4 / 3.5 (using Travis CI).

However, as I mentioned before I have little tests for unsupervised learning algorithms. I am busy currently, so I will need a little time writing them. Is it ok if I will come back to you at the end of this week?

Thanks)

[2017-01-16 22:15] lesteve commented on #8209
Yeah it was noted in https://github.com/scikit-learn/scikit-learn/pull/7986 and I think the simplest is to merge https://github.com/scikit-learn/scikit-learn/pull/7986 (sphinx-gallery update to be able to use sphinx 1.5 that works fine with docutils 0.13).

[2017-01-16 22:38] glemaitre commented on #8209
OK so I close this one since it is a duplicate.

[2017-01-16 22:38] #8209 closed

[2017-01-17 02:37] #8198 closed

[2017-01-17 02:58] jnothman commented on #8183
Yes, I can reproduce on pip-installed numpy, scipy, scikit-learn. It probably has something to do with numpy config (i.e. no MKL -> fail) though I have little expertise in this space.

This config segfaults:
[code]

This does not:
[code]

[2017-01-17 03:43] jnothman commented on #8183
It seems to also fail at 0.18.0, and reverting 71c687218a594396cafb93407202ee815fa374d3 does not help. `git log 0.17.1..0.18 sklearn/decomposition/truncated_svd.py` doesn't suggest any other changes within that file, so this will need some deeper digging.

[2017-01-17 06:06] lesteve commented on #8183
From #7626, I think the `randomized` solver of the SVD was likely the culprit AFAIR.

[2017-01-17 06:21] jnothman commented on #7626
As per #8183 this may only occur without MKL.

[2017-01-17 06:23] lesteve commented on #7626
Yeah I can actually reproduce the problem in a nomkl conda environment on a Mac VM. The snippet works fine in a conda environment using MKL.

[2017-01-17 12:52] ogrisel commented on #8157
Actually I am `steps` is a constructor parameter so we should not remove it in the future but instead keep storing the unchanged estimators rather than a reference to the fitted estimators.

[2017-01-17 13:12] GaelVaroquaux commented on #8157
+1

[2017-01-17 18:39] GaelVaroquaux commented on #8201
This sounds like a perfect example of overfit, in other words a textbook
machien learning problem.

What makes you think that there is a problem with scikit-learn?

[2017-01-17 19:25] rhiever opened #8210 "What does cross_val_score do for nested parallelization?"
I have been developing a new sklearn-compatible estimator that uses `joblib` to parallelize the algorithm. However, I run into issues when I set `n_jobs` to >1 for my estimator as well as the `cross_val_score` function, e.g.,

[code]

With my estimator, I get a warning that `joblib` doesn't allow nested parallelization calls, and sets `n_jobs` to 1 for `MyCustomEstimator`.

However, when I try the

[2017-01-17 19:39] OmarKanan commented on #8201
Okay sorry, i thought i was printing the score on the training set.

[2017-01-17 19:39] #8201 closed

[2017-01-17 21:10] marcelobeckmann commented on #5884
Hi,

In order to contribute somehow, I implemented the Gower function, according the original paper, and the respective adptations necessary in the pdist module, because internally the pdist makes several numerical transformations that will fail if you use a matrix with mixed data.

The results I obtained with this so far are the same from R´s daisy function.

The source code is available at this

[2017-01-17 22:06] jnothman commented on #8210
It's not documented, but this nested parallelism issue is, i think, a
limitation of joblib's multiprocessing support. Random forests uses
multithreading, not multiprocessing, which does not have this limitation
(although you still risk creating more processes/threads than you can use
gainfully).

I wouldn't mind if the default job backend were indicated wherever n_jobs
is documented, to help advan

[2017-01-17 23:11] jnothman commented on #6425
I keep finding that I need something like this. I'm working with heterogeneous data like electronic medical records, with patient attributes, clinical notes, medical terminology entries... I need to be able to inspect a model consisting of nested pipelines and feature unions. I am sure that for other users, lacking feature name information leads to breaches of best practice: either giving up on mo

[2017-01-17 23:27] jnothman commented on #6259
There's no rush!

I should note that one of my main concerns about sklearn-bayes is the lack
of unit tests. (This is my concern more as someone who would like to be
able to promote sklearn-bayes to my colleagues doing applied bayesian
modelling.) I appreciate that much of the functionality is tested in ipynb,
and that perhaps basic reasonable behaviour is tested by scikit-learn's
check_estimator.

[2017-01-17 23:31] jnothman commented on #8058
I suppose without @jakirkham's permission we can copy that code and attach a conda-forge copyright :\

[2017-01-17 23:40] jnothman commented on #6425
(And if we really want to hedge our bets, we can make this contingent on the user importing `sklearn.experimental.feature_names`.)

[2017-01-18 00:00] jnothman commented on #8157
One of my concerns with making `Pipeline` conform to the API in this way is that formerly it was possible to take steps from a fitted pipeline and create a new pipeline consisting of a range of those steps.
[code]

It is now also possible to do
[code]
to similar effect. With caching
[code]
would work, but
[code]
would put the pipeline into an unusual state, I suppose.

Either way, constructing pip

[2017-01-18 00:17] jnothman commented on #6425
I'd also be most interested in @kmike's opinion on what better feature name support for pipelines should look like, whether aiming for perfection or aiming for agility.

[2017-01-18 00:32] jakirkham commented on #8058
Sorry, this must have gotten buried. I'm more than happy to contribute this. TBH I can probably put it and some sample code in a repo and throw CC0 text in there for good measure if this is of interest to other projects.

[2017-01-18 00:35] jnothman commented on #8058
Thanks! A gist would be great.

On 18 January 2017 at 11:32, jakirkham <notifications@github.com> wrote:

[2017-01-18 00:49] jakirkham commented on #8058
Have added PR ( https://github.com/scikit-learn/scikit-learn/pull/8211 ) to `scikit-learn`, which includes this functionality.

[2017-01-18 01:36] #5875 closed

[2017-01-18 01:36] jnothman commented on #8058
Yay!

On 18 January 2017 at 11:49, jakirkham <notifications@github.com> wrote:

[2017-01-18 01:45] #8058 closed

[2017-01-18 02:47] jnothman commented on #6425
@kmike's comment at https://github.com/scikit-learn/scikit-learn/pull/6431/files#r88185069 might suggest that in practice an interface like `get_output_feature_names(indices, input_feature_names=None)` saves computation and memory costs:

[code]

Then a `FeatureUnion` can (with enough information stored) only query the necessary constituent transformers.

But I'm sure this involves more scaffoldin

[2017-01-18 05:13] zym1010 commented on #6725
@amueller BTW, can you give some detail on the differences between the eigen solver and svd one, numerically? Seems that for `transform`, they always give similar yet different results.

[2017-01-18 07:59] kmike commented on #6425
Hey,

Here are the bits of structured information we missed recently. Maybe they are a bit too specific, but anyways:

1. For CountVectorizer, HashingVectorizer and TfIdfVectorizer we needed (start, end) spans which match feature names back to the input text. It required quite a lot of copy-paste to implement: https://github.com/TeamHG-Memex/eli5/blob/master/eli5/sklearn/_span_analyzers.py, and th

[2017-01-18 08:07] lesteve commented on #8193
Seems very similar to https://github.com/scikit-learn/scikit-learn/issues/7921 that was fixed in #8154. This has been very likely fixed in master. I am closing this one.

@katehuseva can you try to run the tests on master and see whether you still have an error? If that's the case, please reopen this issue.

[2017-01-18 08:07] #8193 closed

[2017-01-18 08:58] lesteve commented on #7894
Duplicate of #8192, closing.

[2017-01-18 08:58] #7894 closed

[2017-01-18 11:37] jnothman commented on #6425
Somehow this turned into an eli5 wishlist to scikit-learn?

Hmm. Can we leave that out of the picture for now? Or do you just mean that this is part of a structured representation you would appreciate in eli5?

I'm not sure what exactly you mean by this. I proposed an age ago having an attribute on a `FeatureUnion` to describe which output features come from which constituent transformer. It's eas

[2017-01-18 11:43] jnothman commented on #5298
#5231 is stalled.

[2017-01-18 12:17] kmike commented on #6425
Heh, right. I don't have a good API feedback, so I just enumerated related problems we had.

Sure, this is just an example of structured feature name representation. Actually it is no longer 'feature names' - that's some structured object which describes where the feature came from, like a link to the transformer in case of FeatureUnion. It could be a naming issue; structured representation could

[2017-01-18 13:13] zym1010 opened #8212 "different coefficients and intercepts obtained with different solvers of LinearDiscriminantAnalysis"
#### Description
different coefficients and intercepts obtained with different solvers of `LinearDiscriminantAnalysis`

#### Steps/Code to Reproduce

[code]

#### Expected Results
last few numbers should be all close to zero.

#### Actual Results
[code]

#### Versions

[code]

[2017-01-18 15:11] rhiever commented on #8210
I see; that makes sense. So if I understand correctly, I should document for my users that it's currently not possible to set `n_jobs` to >1 for both my estimator and cross_val_score at the same time.

[2017-01-18 16:59] rth opened #8213 "Heuristics for algorithm='auto' in NearestNeighbors"
#### Description

When running `NearestNeighbor` on a dense array with `n_samples ~ 5000`, `n_features ~ 100` and `n_neighbors=1`, the  `algorithm='auto'` option selects `kd_tree` algorithm, which is in this case the slowest algorithm of those available.

#### Steps/Code to Reproduce
The bechmark script **nn_benchmark.py** can be found below,
[code]
which can be run (on Linux) with,
[code]
where `

[2017-01-18 20:56] jnothman commented on #8210
Yes

On 19 January 2017 at 02:11, Randy Olson <notifications@github.com> wrote:

[2017-01-18 20:58] jnothman commented on #8210
Or they could impose a different backend:
https://pythonhosted.org/joblib/parallel.html#custom-backend-api-experimental

On 19 January 2017 at 07:56, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-01-18 23:30] jnothman commented on #8213
Ping @jakevdp. I think the issue here is the relatively large number of features. The trees excel at small dimensionality.

I assume your reported times are predict times.

I'd welcome a benchmarking script being added to `benchmarks/`, with the ability to plot fit and predict time (and perhaps memory) as a function of:
* algorithm
* training size
* number of features
* metric
* number of neighbor

[2017-01-18 23:58] #7811 closed

[2017-01-19 05:42] LiaoPengyu opened #8214 "The implement of get_support_mask of SelectKBest is wrong"
#### Description
The implement of get_support_mask of SelectKBest is wrong.
The code is not actually picking the top K scored features.

Code url: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_selection/univariate_selection.py#L499

#### Steps/Code to Reproduce
The source code is:

mask[np.argsort(scores, kind="mergesort")[-self.k:]] = 1

This should be wrong, the top k

[2017-01-19 05:53] jnothman commented on #8214
Really?

[code]

[2017-01-19 06:26] #8214 closed

[2017-01-19 08:14] rth commented on #8213
Thanks for your response, @jnothman !

For the KD tree, yes, but I though that ball tree was supposed to overcome that limitation, as discussed in the [docs](http://scikit-learn.org/stable/modules/neighbors.html#ball-tree)? Besides in @jakevdp [benchmarks](https://jakevdp.github.io/blog/2013/04/29/benchmarking-nearest-neighbor-searches-in-python/#Scaling-with-the-Dimension) both trees appear to ou

[2017-01-19 08:17] GaelVaroquaux commented on #8213
It just pushes back further the point at which brute force is more efficient.

[2017-01-19 09:05] jnothman commented on #8213
Either way, I didn't see a heuristic that exploited the Number of Features
concern. It's currently dependent only on n_neighbors and n_samples.

On 19 January 2017 at 19:17, Gael Varoquaux <notifications@github.com>
wrote:

[2017-01-19 09:33] ogrisel commented on #8157
In that case we can decide to keep the fitted estimators as a `steps_` attribute to get:

[code]

or alternatively we could use an ordereddict for `named_steps_` and get the following to work although it's more verbose:

[code]

I don't understand the cases with `last_step`. Where does this parameter comes from?

[2017-01-19 09:34] jnothman commented on #8157
That doesn't work, because the Pipeline construct will set steps, not steps_

On 19 January 2017 at 20:33, Olivier Grisel <notifications@github.com>
wrote:

[2017-01-19 09:35] jnothman commented on #8157
I meant, assuming the last step has name 'last_step'

On 19 January 2017 at 20:34, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-01-19 09:35] jnothman commented on #8157
(And we now support setting step estimators by their name)

On 19 January 2017 at 20:35, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-01-19 10:00] lesteve commented on #8185
Wow I had no idea sklearn was a package on PyPI. We should probably try to get it removed ... I'll open an issue about this.

[2017-01-19 10:07] ogrisel commented on #8157
Indeed...

Those are very good remarks. Maybe we could introduce a `warm_start=True` param for the pipeline itself. But the semantics of that guy might become complex. That requires more thinking.

[2017-01-19 10:09] ogrisel commented on #8157
More simply we could make the `Pipeline.transform` method use the `step` attribute if the `named_steps_` attribute has not been set yet.

[2017-01-19 10:22] lesteve opened #8215 "pip install sklearn behaviour"
I was surprised that `pip install sklearn` would do something without giving an error, which I learned from
https://github.com/scikit-learn/scikit-learn/issues/8185#issuecomment-271906489. All in all it is not so bad because scikit-learn is in install_requires of sklearn setup.py so you do end-up with scikit-learn installed. Still it is a bit confusing that `pip list` shows both scikit-learn 0.18.

[2017-01-19 10:34] manu-chroma commented on #6484
@lesteve https://github.com/scikit-learn/scikit-learn/issues/7648 seems to be stale.
I'd be happy to create a PR and add changes mentioned in this comment https://github.com/scikit-learn/scikit-learn/pull/7648#issuecomment-253404165

[2017-01-19 11:04] glemaitre commented on #8215
Maybe you could make `sklearn` an alias of `scikit-learn`.
I went across the following [package](https://github.com/ionelmc/pypi-alias).
I didn't check the mechanism thought.

[2017-01-19 11:18] lesteve commented on #8215
Quickly looking at the pypi-alias code it may well be that pypi-alias was used to generate the sklearn PyPI package indeed.

[2017-01-19 11:21] #6484 closed

[2017-01-19 11:22] lesteve commented on #6484
@manu-chroma thanks for pinging on this issue. I merged the PR because I think that is a clear improvement. If you feel like tackling https://github.com/scikit-learn/scikit-learn/pull/7648#issuecomment-253404165, feel free to open another PR.

[2017-01-19 11:25] manu-chroma commented on #6484
sure thanks! I'll do that

[2017-01-19 11:48] rth opened #8216 "Euclidean pairwise_distances slower for n_jobs > 1"
In a followup of issue #8213 , it looks like using `n_jobs > 1` in  Eucledian `pairwise_distances` makes computations slower instead of speeding them up.

#### Steps to reproduce

[code]
which on a 2 core CPU returns,
[code]
While for small datasets, it would make sens that the parallel processing would not improve performance due to the multiprocessing etc overhead, this is by no mean a small dat

[2017-01-19 12:38] glemaitre commented on #8215
Indeed you are right.

At the end, `pip install sklearn` or `pip install scikit-learn` --- apart from the annoying `sklearn (0.0)` showed in the `pip list` --- will install the latest available build from PyPI. I would have thought that this is the expected behaviour.

However, I could find a case which I find annoying. As a user, I would expect `pip install sklearn==0.17` to do something as `pip

[2017-01-19 12:40] glemaitre commented on #8215
And I forgot that `pip uninstall sklearn` will not do what you are expecting as well.

[2017-01-19 15:01] glemaitre commented on #8186
@jnothman I did a quick profiling to see what is going on and I got some "interesting" pictures.
The bug as you mentioned is not related to the trees but to some `PyParser_ASTFromString`.
Personally, for the moment I have no idea what this thing is but I thought it could be a nice piece of info.

I attached the call trees below

#### Profiling for 0.17.1

![profiling_0_17_1](https://cloud.githubus

[2017-01-19 16:37] #8173 closed

[2017-01-19 18:12] AmazaspShumik commented on #6259
@jnothman Thank you very much for the advice I appreciate it.

I think I can add more robust testing for all supervised learning algorithms (they constitute about half of the package) in the span of two weeks. As for the rest of the package, it may be more difficult, because there is a substantial amount of code refactoring to do so that I might need help with that.

The problem is that some algor

[2017-01-19 18:46] amueller opened #8218 "in FAQ, link deep learning question to GPU question"

[2017-01-19 19:08] wazeerzulfikar commented on #7845
Hi, I would like to work on this issue. Can I go ahead with it?

[2017-01-19 19:12] #8210 closed

[2017-01-19 20:42] vincentpham1991 commented on #8218
Can I work on this?

[2017-01-19 22:50] kingjr opened #8219 "Q:FunctionTransformer only 2 dimension"
Is there a reason why `FunctionTransformer` only accepts 2 dimensional X? Many sklearn functions accept n dimensional arrays, as long as the first one corresponds to the samples and the other correspond to features.

i.e.
[code]

This may relate to #7666

[2017-01-20 00:10] jolespin commented on #7845
This might not be the most elegant way but it works:
[code]

[2017-01-20 00:20] jnothman commented on #8216
Parallelism is always fraught with this kind of issue. There are multiple
factors in whether it will succeed, and very often it won't. Again, you've
not varied n_features, which might be an important factor. n_jobs may be
more useful when the calculation is slow, i.e. non-euclidean, or over
sparse matrices or whatnot.

I can't remember if we experimented with multithreading for this; it might
help

[2017-01-20 00:28] raghavrv commented on #8218
@vincentpham1991 Please go ahead...

[2017-01-20 00:33] #7763 closed

[2017-01-20 04:40] wazeerzulfikar commented on #7845
@jolespin Would it not be a better way to formulate a dict-of-arrays classification report while creating the classification report itself, in sklearn/metrics. Instead of having to convert an existing classification report.

[2017-01-20 10:01] mahnunchik commented on #4619
Hi, how it could be solved without conda ?

[2017-01-20 11:12] rth commented on #8216
Yes, I know, I tried to do a quick parallellization of `pariwise_distances(..., n_jobs=1)`,
[code]
and this yields comparable performance, so it must be as you say that `n_jobs` would better improve non-eucledian distances etc that take longer to compute.

I have tried `n_features` in  [10, 200, 1000] in my original post above (sorry called it `n_dim`), in all cases `n_jobs > 1` makes things slowe

[2017-01-20 13:41] TheodoreGalanos commented on #474
Damn this was hard to find! I feel it can be a bit more exposed for more people to expirement with?

[2017-01-20 14:08] #8218 closed

[2017-01-20 14:40] kreikenbaum commented on #3273
@karane: is there anything you could share so far?

[2017-01-20 14:57] mahnunchik commented on #4619
Following code crashes process
[code]
python 2 and 3
brew and conda installations

[2017-01-20 15:57] tguillemot commented on #4660
According to the doc of [np.seterr](https://docs.scipy.org/doc/numpy/reference/generated/numpy.seterr.html), the possible values are `{‘ignore’, ‘warn’, ‘raise’, ‘call’, ‘print’, ‘log’}`.

Seems OK to deals with `‘ignore’, ‘warn’, ‘raise’` but do we want the last one in sklearn ?
If yes, we can deal with the logging library but I'm not sure it's the best solution.

Any opinion @amueller ?

[2017-01-20 16:50] jolespin commented on #7845
Yes, that makes a lot more sense.  The code above was just a quick fix if somebody needed something temporary to convert the output into something indexable.  I don't have time to work on this but if you could take it over that would be awesome 👍

[2017-01-20 16:57] rth commented on #8216
It looks like the cost of memory copies is the issue here. For instance, if we rewrite the parallel calculations to save the results to a shared array (adapted from this [joblib example](https://pythonhosted.org/joblib/parallel.html#writing-parallel-computation-results-in-shared-memory)) in [this gist](https://gist.github.com/rth/2f904eaa165631cd0dba53640f47f652), we get the results below,

[code]

[2017-01-20 18:06] wazeerzulfikar commented on #7845
@jnothman Shall I create a PR to add a dict-of-arrays output option to classification report?

[2017-01-20 18:45] Faur commented on #4619
I don't see what this has to do with `t-SNE`. Perhaps this is another issue?

did you try `conda install nomkl`?

Try posting the error message

[2017-01-20 21:44] vincentpham1991 commented on #8186
I can try to help with this. Do have a general idea of where I should look first in the code?

[2017-01-21 02:55] mahnunchik commented on #4619
Yes, I've tried to install `nomkl`, no differences.

Karnel dies without any errors:

[code]

[code]

I've tried on 8Gb Mac Book Pro and 16Gb Ubuntu desktop

[2017-01-21 10:57] jnothman commented on #474
Perhaps our colleagues at @scikit-optimize are ready to put a link in
Scikit-learn's Related Projects page? Not sure how else to expose it at
this point, given that it's currently external to scikit-learn.

On 21 January 2017 at 00:41, TheodoreGalanos <notifications@github.com>
wrote:

[2017-01-21 11:05] jnothman commented on #8216
I don't think you're gaining anything there by dumping X and Y: unless some
optimisation is involved, there are still refs held by the calling code.
However, I agree that creating memmapped storage for the result seems wise.
However, you're deleting the memmapped file before returning it, which will
work (since it's an open file) on *NIX, but I'm not sure if it'll work on
Windows.

On 21 January 2

[2017-01-21 11:06] jnothman commented on #7845
Dict of dicts is okay too. Sure, let's see what others think of it once
it's in code.

On 21 January 2017 at 05:06, wazeerzulfikar <notifications@github.com>
wrote:

[2017-01-21 19:37] dalmia commented on #8186
At a first glance, this delay doesn't seem obvious. Tried reverting a few changes made in `forest.py` and `base.py` (0.18.1) but with no success. Any ideas? @jnothman

[2017-01-22 05:28] jnothman commented on #8186
Interesting @glemaitre. (That would explain why DTR is not affected.) Perhaps joblib needs some kind of regression testing to make sure `n_jobs=1` stays fast. The fact that this mostly affects Python 2 makes it a little trickier.

[2017-01-22 08:48] naoyak commented on #8192
Confirmed that the asterisk escaping and superfluous *args/**kwargs are fixed with Sphinx 1.5.2. Do we have to wait til the latest shows up on conda-forge?

![screen shot 2017-01-22 at 12 46 23 am](https://cloud.githubusercontent.com/assets/3279641/22181225/38710100-e03c-11e6-94b1-69475869f48d.png)

[2017-01-22 10:45] jnothman commented on #8192
Happy to close. Surely conda-forge will get sphinx 1.5.2 before next scikit-learn release.

[2017-01-22 10:45] #8192 closed

[2017-01-22 10:45] jnothman commented on #8192
Thanks for tracking this, @naoyak

[2017-01-22 22:53] Faur commented on #4619
Does it work for smaller examples? I don't know if this will ever work when you can't hold everything in RAM.

[2017-01-22 23:02] bsipocz commented on #7758
This may be relevant to you, too: pydocstyle now can check for numpy docstyle conventions: https://github.com/PyCQA/pydocstyle/pull/226

[2017-01-23 00:00] jnothman commented on #7758
Thanks @bsipocz, this is interesting, and a little useful. I will comment on that PR.

[2017-01-23 00:18] jnothman commented on #4660
Advantage of the logging library is that it is effectively a callback which can have multiple handlers, centralised configuration, etc. Thus it encompasses all others.

[2017-01-23 00:20] jnothman commented on #6259
Yes, I think that's a reasonable conclusion.

[2017-01-23 08:25] rth commented on #8216
You are right, looks like joblib with the multiprocesssing backend would do [the automatic memapping of input array](https://pythonhosted.org/joblib/parallel.html#working-with-numerical-data-in-shared-memory-memmaping) anyway if they are larger than 1MB.

True, I should have copied  data to memory and closed the mmap file before deleting it...

[2017-01-23 12:22] manuSrep opened #8223 "Perform CV and get results from scoring and prediction"
Hi all together,

I am wondering how you are doing this. If I have a large dataset an want to do CV I have to fit a model twice if I want to get the prediction and the score results. Is it also possible to get both at a time? If not, I would vote to make this possible as it saves lot's of time. I would also like to contribute if there is work to be done on this.

Best Regards
Manuel

[2017-01-23 14:26] glemaitre commented on #8223
I am not sure to understand what you mean. You should put a code snippet.

If you wish to perform a CV, let say a k-fold, you can do the following to obtain
what you wish with a single fit and prediction by fold:

[code]

You never have to fit or predict again.

[2017-01-23 14:36] manuSrep commented on #8223
Seems that I did not made myself clear enough. I was thinking of the very hand methods
sklearn.model_selection.cross_val_score
sklearn.model_selection.cross_val_predict

I just thought it might be good to have one method which can give you scores and predictions without call ing both on after another, i.e. fit again.

[2017-01-23 14:49] glemaitre commented on #8223
you can use the `accuracy_score` on the output of `cross_val_predict` to get the score over all CV.

[2017-01-23 14:50] glemaitre commented on #8223
As in the example of the [documentation](http://scikit-learn.org/stable/modules/cross_validation.html#obtaining-predictions-by-cross-validation)

[2017-01-23 14:55] manuSrep commented on #8223
Yes, but what happens if I'd like to have the accuracy and let's say average precision score. Fo one I need the prediction value, for the other a prediction score.

[2017-01-23 15:11] glemaitre commented on #8223
The parameter `y_score` required by the `average_precision_score` function corresponds to the output of `prediction_proba` method of the positive class and not the output of the `score` method.

So the function which is missing would be `cross_val_predict_proba`. However, I am not sure that all estimators can give a probability estimate. It could be the reason that such function is not available b

[2017-01-23 15:17] manuSrep commented on #8223
Just to clarify from the documentation it is said:
`def average_precision_score(y_true, y_score, average="macro",
                            sample_weight=None):
    """Compute average precision (AP) from prediction scores
    This score corresponds to the area under the precision-recall curve.
    Note: this implementation is restricted to the binary classification task
    or multilabel classif

[2017-01-23 15:45] lesteve commented on #8186
Just curious, is it common to do plenty of one sample prediction like this ? If there is an additional overhead in joblib 0.10 for n_jobs=1, I assume that predicting many samples at once would wash out the overhead.

[2017-01-23 15:52] glemaitre commented on #8223
Just correction my previous answer. You can use the `method` parameter of `cross_valid_predict` to call any method that you want such as `predict_proba`.

[2017-01-23 16:31] glemaitre commented on #8186
I would say no.

Yep ...

[code]

#### joblib 0.10

[code]

#### joblib 0.9.6

[code]

[2017-01-23 17:12] teopir commented on #8186
In general I think that it is not common to do a single point prediction. However, it is common with dynamical systems where your input depends on the evolution of the system.

Consider a control problem where the regressor (here ExtraTrees) represents the controller. The controller receives a state x and predict the action u to execute. If you do not know the dynamical system you can only evaluat

[2017-01-23 18:42] gedeck opened #8224 "Bayesian ridge regression - alpha and lambda values don't correspond to calculated coef"
The coefficients `coef_` are not calculated based on the `alpha_` and `lambda_` value returned in in the Bayesian Ridge regression model as these two properties are modified after the `coef_` calculation. This can be seen in this reduced excerpt from the code in `sklearn/linear_model/bayes.py`.

[code]
A possible solution would be keeping a copy of `alpha_` and `lambda_` at the point of calculatio

[2017-01-23 20:42] jnothman commented on #8186
repeated single predictions are common in production systems, which
scikit-learn estimators are not generally optimised for. Still this is an
unexpected regression, and library code with n_jobs=1 should have minimal
overhead in joblib regardless of application

On 24 Jan 2017 2:45 am, "Loïc Estève" <notifications@github.com> wrote:

[2017-01-23 21:09] pseth opened #8225 "Zeal/Dash documentation"
Has anyone considered/tried generating documentation for Zeal/Dash? It would be great to have offline docs. I would be happy to give it a go, just want to make sure I am not duplicating efforts or trying something known to not work (though it looks like it should work using doc2dash).

[2017-01-23 21:10] GaelVaroquaux commented on #8225
What does the question have to do with scikit-learn?

[2017-01-23 23:01] floondi commented on #7501
Hey, is it okay if I take this one?

[2017-01-23 23:18] jnothman commented on #7501
Looks like it!

[2017-01-24 05:07] jnothman opened #8227 "Improvements to examples/model_selection/plot_roc_crossval.py"
Our [`examples/model_selection/plot_roc_crossval.py`](http://scikit-learn.org/stable/auto_examples/model_selection/plot_roc_crossval.html) example inspired http://stats.stackexchange.com/a/187003/106323 but is not as pretty (and does not show std explicitly). We should match the cosmetics of that SO answer.

[2017-01-24 09:02] lesteve commented on #8186
Agreed I was asking out of curiosity. I think I have spotted where the regression comes from (timeout support if you are wondering). I'll open a issue in joblib.

[2017-01-24 09:14] jnothman commented on #8186
Good work!

On 24 January 2017 at 20:02, Loïc Estève <notifications@github.com> wrote:

[2017-01-24 10:43] insideloop opened #8229 "Document classification example: One should use 'latin-1' encoding"
There seems to be a bug in the documentation of the classification of text documents: http://scikit-learn.org/stable/auto_examples/text/mlcomp_sparse_document_classification.html#sphx-glr-auto-examples-text-mlcomp-sparse-document-classification-py

The files are opened as utf-8 which leads to a bug. I have solved the issue changing "open(f)" into "open(f, encoding='latin1')".

[2017-01-24 10:50] jnothman commented on #8229
Pull request welcome

On 24 January 2017 at 21:43, insideloop <notifications@github.com> wrote:

[2017-01-24 11:33] rth commented on #8229
Yes, but `open` does not accept an `encoding` parameter in Python 2; maybe initializing `TfidfVectorizer` with the `input="filename"` and letting it handle the encoding would be better?

Also what's the difference between the MLComp 20 newsgoups in [this example](http://scikit-learn.org/stable/auto_examples/text/mlcomp_sparse_document_classification.html#sphx-glr-auto-examples-text-mlcomp-sparse-d

[2017-01-24 11:56] jnothman commented on #8229
Yes, using input='filename' seems reasonable.

On 24 January 2017 at 22:33, Roman Yurchak <notifications@github.com> wrote:

[2017-01-24 12:04] lesteve commented on #8229
I was wondering exactly the same thing and I don't know the answer.

[2017-01-24 12:28] #7751 closed

[2017-01-24 15:08] ogrisel commented on #8157
@jnothman what do you think about my last comment?

[2017-01-24 15:28] pseth commented on #8225
Sorry, I should have clarified. I was asking about converting the scikit-learn documentation into Dash docset.

[2017-01-24 16:55] essicolo commented on #2989
How about this?

[code]

[2017-01-24 16:57] glemaitre opened #8231 "[RFC] Gradient Boosting improvement"
## Current situation

The speed performance of the scikit-learn gradient-boosting is relatively slow compared to the other implementations: [xgboost](https://github.com/dmlc/xgboost) and [lightgbm](https://github.com/Microsoft/LightGBM).

## Which bottlenecks have been identified

During some benchmarking, we could identified a major difference between scikit-learn and xgboost.

For xgboost, all s

[2017-01-24 18:29] raghavrv commented on #8231
@glouppe was very interested in the approximate splitter. I also think it would be a nice addition helping speed things up a lot... I'm also pinging @jnothman and @nelson-liu who might be interested in reviewing this...

[2017-01-24 18:41] glouppe commented on #8231
On the contrary in scikit-learn, only the samples for a node will be selected (cf. here or here). Therefore, it involves repetitive scans which are not necessary.

Can you elaborate on this?

In our case, `sample_mask` is only used with presorting, which we can get rid off if benchmarks show it is indeed slower than the standard implementation.

How does our standard implementation (without presor

[2017-01-24 18:42] glouppe commented on #8231
+1 for binning

[2017-01-24 18:48] jmschrei commented on #8231
I'm also a bit confused what you mean by repetitive scans. We have two different sorting mechanisms, presorting and not. Presorting works better on smaller datasets with a smaller number of features, whereas not presorting works better on larger amounts of data. XGBoost uses presorting (when I last looked at the code) and we do not, but we provide the option for allowing the user to do such.

[2017-01-24 19:00] naoyak commented on #8192
Ah, I guess the CI uses packages from the Continuum official channel, not conda-forge. Either way it should be fine by the time the next stable release rolls around.

[2017-01-24 19:08] glouppe commented on #8231
Ok, I think I understand. We could could rid of the `sample_mask` logic by looking for splits across all nodes in parallel -- this is what I think they do in xgboost by maintaining several Criterion-like objects.
Is that more or less what you have in mind?

[2017-01-24 19:16] glemaitre commented on #8231
@glouppe in xgboost, `sample_mask` would store the ID of the current node and as you said, will allow to maintain several criterions.
It allows to make one scan of `sample_mask`. In scikit-learn, a scan is performed for each node to be split.

[2017-01-24 22:34] bkj commented on #5379
I agree it'd be a good idea to put a disclaimer on the docs page that this doesn't agree with the most straightforward definition of AP.  Took a little bit of time to figure out what was going on.

[2017-01-24 22:48] jnothman commented on #2989
I think the point of KNN imputation is that it can be done relatively efficiently, even incorporating samples that have NaNs in them. Your solution is more generic, though one could also consider strategies that incorporate all training data (not just those missing no values) by using a default imputation strategy over it, or indeed iteratively updating the estimate as in the strategies implemente

[2017-01-24 22:55] jnothman commented on #8157
I don't hate it, but it's a bit magic, and again sets Pipeline apart from other estimator conventions.

[2017-01-24 23:37] glemaitre commented on #8157
What about using `make_pipeline` to create a "proper" (deep-copy?) `Pipeline` instance given the steps to keep.

`full_pipeline.set_params(last_step=None)` seems convenient but the in-place modifications of the meta-estimator bother me :)

[2017-01-25 00:16] jnothman commented on #8157
No, I think set_params should not modify the fitted steps. I am not
entirely comfortable with ogrisel's proposal, though it could be used
during a deprecation period. Rather, we should have a get_steps() method
which extracts a pipeline with the selected fitted steps.

On 25 January 2017 at 10:37, Guillaume Lemaitre <notifications@github.com>
wrote:

[2017-01-25 00:37] jnothman commented on #6425
For my work, I've created a module that monkey-patches scikit-learn transformers with a `transform_feature_names` method that can generate feature names for a pipeline/featureunion construction: https://gist.github.com/jnothman/bb1608e6ffea3109ff2ce7c926b0e0cb

[2017-01-25 02:10] NelleV opened #8233 "Unclear warning message for ElasticNet(l1_ratio=0)"
I am currently attempting to fit a Non Negative Least Square with an l2 penalization without having to reimplement it.
The solution I have adopted is to use `ElasticNet(positive=True, l1_ratio=0)`, but this yields confusing warning messages.

#### Description

I am using ElasticNet with the parameter `l1_ratio=0` and `positive=True`. It yields a confusing warning message, as the warning message re

[2017-01-25 02:11] NelleV commented on #8233
@agramfort git blames you, at least for the unclear documentation par :D

[2017-01-25 02:17] NelleV commented on #8191
So, using the lasso with alpha=0 yields warning messages, so I am opting for wrapping scipy's NNLS.

[2017-01-25 07:13] nelson-liu commented on #8192
thanks for taking a look into this @naoyak !

[2017-01-25 07:19] nelson-liu commented on #8185
@lazywatch did this solve your problem? if so, close the PR?

when you install the dev version (following the instructions [here](http://scikit-learn.org/stable/developers/contributing.html#git-repo)), you should not have `sklearn`. try `pip uninstall` on the dummy `sklearn` package and the previous `scikit-learn`.

[2017-01-25 08:58] #7817 closed

[2017-01-25 08:58] #7816 closed

[2017-01-25 10:04] glouppe commented on #8231
It allows to make one scan of sample_mask. In scikit-learn, a scan is performed for each node to be split.

Yup, looks like something promising.

+1 for both changes.

(However, to avoid never-ending PRs, please propose the changes separately, possibly with the least amount of changes to the other parts of the codebase.)

[2017-01-25 10:18] glemaitre commented on #8231
@glouppe Yep, I am gonna make separated PRs.

[2017-01-25 11:57] jnothman commented on #7816
Thanks for your contributions, @jstriebel

[2017-01-25 13:16] #8227 closed

[2017-01-25 22:34] eduedix opened #8235 "build error: library not found for -lcblas"
I try to do:
`pip install scikit-learn`

but build fails with `ld: library not found for -lcblas`

python version: 3.6.0
trying to install scikit-learn: 0.18.1
OS: macOS 10.12.3

`    error: Command "clang -bundle -undefined dynamic_lookup build/temp.macosx-10.12-x86_64-3.6/sklearn/cluster/_k_means.o -Lbuild/temp.macosx-10.12-x86_64-3.6 -lcblas -lm -o build/lib.macosx-10.12-x86_64-3.6/sklearn/clus

[2017-01-26 09:18] jnothman commented on #8186
Fixed in joblib. Will be rectified in next scikit-learn release assuming we upgrade joblib.

[2017-01-26 09:18] #8186 closed

[2017-01-26 09:19] jnothman commented on #8186
Thanks again for reporting @teopir and @lesteve for investigating and fixing

[2017-01-26 09:19] jnothman commented on #8186
Thanks again for reporting @teopir and @lesteve for investigating and fixing

[2017-01-26 09:19] jnothman commented on #8186
Thanks again for reporting @teopir and @lesteve for investigating and fixing

[2017-01-26 09:19] jnothman commented on #8186
Thanks again for reporting @teopir and @lesteve for investigating and fixing

[2017-01-26 09:31] glemaitre commented on #8235
install openblas

[2017-01-26 09:34] lesteve commented on #8235
Related: looking at https://pypi.python.org/pypi/scikit-learn/0.18.1, the wheels do not seem to be available for Python 3.6 and macOS. ping @ogrisel who may know why this is the case or whether they are likely to be available soonish.

[2017-01-26 09:39] lesteve commented on #8186
For the record, we are planning to do a joblib 0.11 release soonish. We will probably get it into scikit-learn master not too long afterwards.

[2017-01-26 09:51] glemaitre commented on #8235
Sorry, I read to quickly. I thought you were building from the source.

[2017-01-26 11:04] stefdoerr opened #8236 "PCA segfaults (on some machines)"
#### Description
PCA crashes with segmentation fault at even small sized datasets. Depends on array size.

#### Steps/Code to Reproduce
Download [tmp.npy.gz](https://github.com/scikit-learn/scikit-learn/files/732107/tmp.npy.gz)
`gunzip tmp.npy.gz`

[code]

#### Expected Results
No segfault

#### Actual Results
Segfault

#### Versions
[code]

[2017-01-26 11:07] stefdoerr commented on #8236
Hm seems to work fine on my other computer...

[2017-01-26 12:27] lesteve commented on #8235
@eduedix how did you install numpy and scipy? I can build fine on a macOS VM with Python 3.6 using:

[code]

The scikit-learn install is downloading the .tar.gz and compiling from source, since the wheels are not available for Python 3.6 but the compilation succeeds for me.

[2017-01-26 12:45] lesteve commented on #8236
Thanks a lot for the stand-alone example, I can not reproduce the problem (I tried both nomkl and mkl):

[code]

[2017-01-26 12:50] stefdoerr commented on #8236
Yes I tried a third machine and it works fine there as well :/ I guess I will have to scratch it off as a hardware issue on the original machine. You can close the issue if you want.

[2017-01-26 12:55] eduedix commented on #8235
@lesteve : You can find the build error here:
http://pasted.co/a7b416e5

[2017-01-26 12:58] stefdoerr commented on #8236
If you are interested on the issue, it seems to come from mkl. I am using the same conda though on all machines as I mentioned before. So maybe an issue of mkl with the hardware or kernel of that machine?

[code]

[2017-01-26 16:37] eduedix commented on #8235
#5489

[2017-01-26 18:34] eduedix commented on #8235
@lesteve can you also paste your build output?

[2017-01-26 19:38] amanp10 commented on #4487
It seems little challenging but I could work on it. Should I go ahead?

[2017-01-26 21:39] jnothman commented on #8236
Is this likely the same thing as #8183?

[2017-01-26 21:47] jnothman commented on #4487
Feel free to give yourself a challenge, but there's no promise of merge unless you present a compelling case for the work. As per [the comment above](https://github.com/scikit-learn/scikit-learn/issues/4487#issuecomment-88885155)

[2017-01-26 22:18] wqp89324 commented on #6137
@ClimbsRocks did you find a good example eventually? I have been trying to use MLP for regression lately, and I’m using a grid search on parameters for a MLP with two hidden layers, I attach some of my codes below, what do you think?

param_range = list(itertools.product(range(1,20), repeat = 2))
param_range1 = [0.0001, 0.001, 0.01, 0.1, 1.0, 10.0, 100.0, 1000.0]
param_grid = {"annReg__hidden_laye

[2017-01-26 23:49] eduedix commented on #8235
I have no idea what I have changed in the meantime, but i ran it again and it built successfully. I cannot guarantee it but if you have a similar problem try: `brew uninstall numpy`

[2017-01-26 23:49] #8235 closed

[2017-01-27 03:16] jeweinberg opened #8238 "retain original indexes"
#### Description

I am extremely surprised to find that sklearn models reset the original indexes of dataframes that are input for fitting/transforming. I think in the future all models should have the ability to retain the original indexes as they are handed to the models. This would help a lot while deploying these models in real world settings. It is very clumsy to have to save out the index an

[2017-01-27 05:55] GaelVaroquaux commented on #8238
I have no idea what you are talking about. Maybe it's me being dumb.
Could you give us a small example?

[2017-01-27 11:28] jeweinberg commented on #8238
from sklearn.decomposition import PCA
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(0, 10, (10,4)), index=list('abcdefghij'), columns=list('ABCD'))

df

p = PCA(2)
new = pd.DataFrame(p.fit_transform(df))

new

[2017-01-27 11:37] GaelVaroquaux commented on #8238
Now I understand. Thanks!

The problem is that the internal representation of scikit-learn is the
numpy array. This is intrinsic: numerical operations are on numpy arrays,
in particular a PCA. Hence, by construction this information is lost.

[2017-01-27 11:41] jeweinberg commented on #8238
Right, but deploying data in real world settings requires the use of
dataframes to hold administrative information like primary keys etc. I have
to have a secure way to get back to my primary keys after modeling. Sklearn
should maybe have as an option to return a dataframe instead of an array.
Otherwise I'm just guessing when I hook my index back to the array.

On Jan 27, 2017 5:37 AM, "Gael Varoq

[2017-01-27 18:08] vincentpham1991 commented on #2890
Can I take this up?

[2017-01-27 22:51] naught101 commented on #2890
Sure, go for it. Can't remember why I dropped the ball on this... Let me know if I can be of use.

On 28 January 2017 5:09:12 AM AEDT, Vincent Pham <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-01-27 23:24] MFranking opened #8239 "Memory Explosion with GradientBoostingClassifier, 'mae' criterion, and GridSearchCV"
#### Description
Memory leak causing system to freeze when using GridSearchCV.fit() with GradientBoostingClassifier with n_jobs > 1, cv=ShuffleSplit, and criterion = 'mae' in the param grid. Change the loss criterion from 'mae' to default and the problem goes away.  I am using a tiny dataset (<1000 data points, 11 numeric predictors, binary target).

#### Steps/Code to Reproduce

from sklearn.ense

[2017-01-27 23:30] raghavrv commented on #8239
This should be fixed in the next release... (Ref #7811 #8002)

[2017-01-27 23:30] #8239 closed

[2017-01-27 23:31] MFranking commented on #8239
Great - thanks

[2017-01-28 00:15] svanschalkwyk commented on #5046
[SOLVED] http://debugjournal.tumblr.com/post/98401758462/intel-mkl-dynamic-link-library-error

[2017-01-28 09:17] rth commented on #8238
@jeweinberg See discussion in issue https://github.com/scikit-learn/scikit-learn/issues/5523 and [sklearn-pandas](https://github.com/paulgb/sklearn-pandas)...

[2017-01-28 10:03] agramfort commented on #8233
warning comes from

[code]

in cd_fast.pyx where alpha is the L1 regularization so `self.alpha * self.l1_ratio` which is zero in your code.

the warning should say something like

[code]

or

[code]

however thinking about it will depend on the conditioning of the problem....

the original motivation for this warning was the p >> n setup with no reg which will converge very slowly.

[2017-01-28 10:58] vene commented on #8233
But is there actually any convergence problem if `alpha == 0` but `beta > 0`? I would imagine some L2 regularization should make things OK (i.e. in line with @agramfort's second proposal)

[2017-01-28 18:31] rspadim commented on #8179
should use dill or pickle?

[2017-01-29 07:53] amanp10 commented on #4487
I did some research on the internet myself and found the following points:-
1) In most cases, **Real AdaBoost** converges faster than **Gentle AdaBoost** in training, but **Gentle** **AdaBoost** is more stable than **Real AdaBoost** with respect to the generalization error.

2) Usually, **Gentle AdaBoost** produces a more reliable and stable ensemble than **RealAdaBoost** and **ModestAdaBoost**.

[2017-01-29 10:27] jnothman commented on #4487
I don't know much about this. If there are apparent limitations to AdaBoost
that are solved by well-established techniques, and which can be integrated
within our library with minimal additional maintenance burden, then go
ahead: submit a PR. But expect to be required to show that it has the
touted benefits on some example dataset.

On 29 January 2017 at 18:53, Aman Pratik <notifications@github.co

[2017-01-29 15:15] agramfort commented on #8233
let's go for proposal 2 then.

any volunteer for the PR?

[2017-01-29 18:15] illume opened #8242 "pip install scikit-learn fails"
#### Description
`pip install scikit-learn` fails

#### Steps/Code to Reproduce

python3.6 -m venv anenv
. ./anenv/bin/activate
pip install scikit-learn

#### Expected Results
scikit-learn installs

#### Actual Results
[code]

#### Versions

[2017-01-29 18:21] GaelVaroquaux commented on #8242
Indeed, and the error message tells you why.

[2017-01-29 18:23] illume commented on #8242
Shouldn't numpy be listed in the requirements since it is required?

[2017-01-29 18:34] GaelVaroquaux commented on #8242
See #7867 and discussion within.

[2017-01-29 18:34] #8242 closed

[2017-01-29 19:15] illume commented on #7867
I tried adding `setup_requires=['numpy', 'scipy'], and install_requires=['numpy', 'scipy']` to the setup.py and it didn't work. :(

PEP 518 is still in development (and I guess it will take quite some time).  https://github.com/pypa/pip/issues/3691

Note these two packages also require numpy to build and install ok with pip.

* scipy setup.py https://github.com/scipy/scipy/blob/master/setup.py
* p

[2017-01-29 20:43] ScientiaEtVeritas opened #8243 "Using Several Parameters with GridSearchCV"
When using (for *example*) the following transformators

 -  ``CountVectorizer``
 - ``TruncatedSVD``
 - ``SelectKBest``

with ``GridSearchCV`` it happens that it chooses a number for ``n_features`` for ``CountVectorizer`` that is less than ``n_components`` for ``TruncatedSVD``  or ``k`` for ``SelectKBest``.

This leads to an **error**: ``ValueError: n_components must be < n_features``

For ``Selec

[2017-01-29 22:50] constantinpape opened #8244 "Random Forest: Memory increases linearly with n_estimators"
I have benchmarked different random forest implementation and found that its RAM consumption increases linearly with n_estimators:
https://github.com/constantinpape/rf_benchmarks#sklearn-ram-issues
This leads to memory errors for relatively small feature matrices, when using several estimators.
See https://github.com/constantinpape/rf_benchmarks/blob/master/scripts/profile_sklearn_mem.py
for the s

[2017-01-30 01:19] jnothman commented on #8243
Yes, this is a limitation of our API currently. One option is to use a parameter grid that only allows valid combinations, by using a list of parameter dicts wherein each setting is valid. A more robust forward-thinking solution might consider `n_components` and `k` optionally being functions of `X` and `y`.

[2017-01-30 05:52] varunagrawal opened #8245 "average_precision_score does not return correct AP when all negative ground truth labels"
#### Description

`average_precision_score` does not return correct AP when `y_true` is all negative labels.
#### Steps/Code to Reproduce

One can run this piece of dummy code:

    sklearn.metrics.ranking.average_precision_score(np.array([0, 0, 0, 0, 0]), np.array([0.1, 0.1, 0.1, 0.1, 0.1]))

It returns `nan` instead the correct value with the error:
[code]

#### Expected Results

As per this [St

[2017-01-30 06:01] varunagrawal commented on #8245
If someone can help me understand how to correctly do the False Positive calculation, I can submit a Pull Request.

For this bug, recall will be 1 since there are 0 True Positives and False Negatives. However, to calculate precision, I need to understand the correct way to find False Positives. The above sample results in `_binary_clf_curve` returning the same number of False Positives as the numb

[2017-01-30 07:44] lesteve commented on #8235
Thanks for following up and closing the issue.

[2017-01-30 08:04] lesteve commented on #8236
Hard to tell, but I would say no. It seems #8183 is with OpenBLAS and this one is with MKL.Out of interest, can you reproduce this one ?

[2017-01-30 08:30] stefdoerr commented on #8236
Me? Yes definitely

On Mon, Jan 30, 2017 at 9:05 AM, Loïc Estève <notifications@github.com>
wrote:

[2017-01-30 08:37] TrigonaMinima commented on #6308
@amueller I don't see this in the FAQs (```scikit-learn/doc/faq.rst```). Can I submit a PR for the same? If yes, what should the answer be? That currently pydata ecosystem doesn't properly support the categorical dtypes?

[2017-01-30 08:46] lesteve commented on #8236
sorry I was asking @jnothman.

[2017-01-30 09:00] lesteve commented on #8244
It would be great if you could put together a stand-alone snippet which reproduces the behaviour. AFAICT your script depends on some non-standard package (vigra) and the data you run it on is not easily available.

[2017-01-30 09:33] glouppe commented on #8244
Memory is expected to grow linearly with the number of trees.

(sent from my phone)

On 30 Jan 2017 10:00, "Loïc Estève" <notifications@github.com> wrote:

[2017-01-30 12:33] agramfort commented on #8244
indeed. It's expected.

[2017-01-30 13:05] constantinpape commented on #8244
Sorry, maybe my choice of the issue title was bad, I can see that it is expected that the memory consumption grows linearly with the number of trees, but right now it grows with a factor of two.
This really is a showstopper if you want to use a Random Forest with several trees for large feature matrices. It appears like the feature matrix is copied for each tree.
I have seen other Random Forest im

[2017-01-30 13:55] da7th commented on #7321
Thanks @amueller, had the same problem and that fixed it

[2017-01-30 14:44] lesteve commented on #8244
Please do. The memory consumption you observe is strange: as you say your memory usage looks like your input data gets copied `n_estimators` times which I don't think is expected or at the very least deserves further investigation. The easier you make the problem easy to reproduce the better feedback you will get. Bonus points if you can reproduce the problem on a randomly generated dataset.

[2017-01-30 14:49] glouppe commented on #8244
Are the labels provided as int? with a proper shape of `(n_samples,)`?

(misformatting the `y` arrays might results in doing multi-output random forests, which eats a lot more of ram)

[2017-01-30 15:35] constantinpape commented on #8244
Thanks for your feedback, I will update the script and try to reproduce the issue with a more generic dataset later.
@glouppe: the labels are provided as '''uint8''' and their shape is '''(11501,)'''.

[2017-01-30 15:37] ryanpeach opened #8247 "sklearn.feature_extraction.DictVectorizer compatibility with pandas.DataFrame.to_dict"
#### Abstract
Currently pandas to_dict function and scikit-learn's sklearn.feature_extraction.DictVectorizer don't get along. I provide a simple script to make these compatible.

#### Description
Panda's current to_dict function returns a dictionary of the format "dict[column_name, dict[index, val]]."
Scikit-learn's DictVectorizer requires a list of dicts of the format "list[index] <- dict[column_

[2017-01-30 15:43] glouppe commented on #8244
How many classes do you have? Can you check that `model.classes_` is as you expect? (the size of node is linear with `len(model.classes_)`, and the number of nodes might grow up to `n_samples`)

[2017-01-30 15:50] constantinpape commented on #8244
There are 4 different classes in the labels and the value of ```rf.classes_``` is ```[0,1,2,3]``` (this is also who they are presented in the labels).

[2017-01-30 15:56] ryanpeach commented on #8247
The pandas repo has resolved this issue, pointing out there are such options under to_dict(orient="records"). My bad for not looking close enough at the docs.

[2017-01-30 16:36] glouppe commented on #8244
Could you check if you see the same issue with sklearn 0.17? Just to quickly rule out whether we would have introduced a regression somewhere.

[2017-01-30 17:00] shubham0704 commented on #8184
If anyone doesn't have time can I work on this.

[2017-01-30 17:15] shubham0704 commented on #7578
Hello sir can I work on this one!

[2017-01-30 19:30] constantinpape commented on #8244
I have tried to reproduce the behaviour with a standard dataset and used the digits dataset.
Interestingly, there the issue does not occur (the max RAM usage is approximately constant with the trees). I have already tried some obvious things like converting my data to the same types as the digits data, but that hasn't helped:

| Max-Ram usage for dtype(features, labels) | | | | |
| ---------------

[2017-01-30 19:55] amueller commented on #8245
Can you check if #7356 fixes this?

[2017-01-30 20:01] amueller opened #8248 "rewrite diabetes example with GridSearchCV?"
I think this example:
http://scikit-learn.org/dev/auto_examples/exercises/plot_cv_diabetes.html#sphx-glr-auto-examples-exercises-plot-cv-diabetes-py

would be a good place to show off ``cv_results_``
We could set ``refit=False`` - or not.

(also I feel like we might want to create a helper for the fill-between stuff in the plot module - maybe that's the 1d special case of visualizing grid-search)

[2017-01-30 21:14] constantinpape commented on #8244
The upload is finished. Let me know if I can offer you any more help.
Also, I should mention that I have run into similar RAM problems with the Random Forest Implementation in the past, but I have never bothered to actually profile it before.
Anyway, if you are interested in a different dataset that reproduces these errors I could probably find some (though it won't be generic either).

[2017-01-30 22:23] jnothman commented on #6308
If you understand some of the issues and feel you can express them, write
something up and wait for feedback. Thanks

On 30 Jan 2017 7:37 pm, "Shivam Rana" <notifications@github.com> wrote:

[2017-01-30 22:34] jnothman commented on #7578
you're welcome to have a go

On 31 Jan 2017 4:15 am, "Shubham Bhardwaj" <notifications@github.com> wrote:

[2017-01-30 22:42] jnothman commented on #8244
aren't default parameters liable to overfit the data, meaning that the
learnt trees effectively copy the data into rules (although there should be
some logarithmic compression of the data)?

Have you tried using parameters which reduce the tree size to see if this
remains an issue?

On 31 Jan 2017 8:14 am, "Constantin Pape" <notifications@github.com> wrote:

The upload is finished. Let me know if

[2017-01-30 23:04] ScientiaEtVeritas commented on #8243
@jnothman Thank you, can you please elaborate a little bit more on the function-based approach? I am also considering to use the RandomizedSearchCV, but will probably face the same problem there, right?

[2017-01-30 23:14] jnothman commented on #8243
With randomized search you can't encode constraints between multiple
parameters, but you can use error_score=0.

The function-based approach would require someone changing the n_components
interface to allow it to be a function. It's not something we've generally
done, so it's probably on the scale of requiring an Enhancement Proposal to
suggest that this approach be used across the board.

You co

[2017-01-30 23:27] constantinpape commented on #8244
@jnothman That's an interesting point, however I don't really see how it should affect the RAM usage during **prediction** as observed. After all the trees should simply be walked to the corresponding leaves for all test instances.
Anyway I will give training forests with reduced complexity a try tomorrow.
I will also profile the two RF implementations I am benchmarking against, maybe they are sho

[2017-01-30 23:58] rspadim opened #8249 "TimeSeriesSplit with anchour option"
hi guys, i don't know yet how generators work with sklearn / python, i'm new here... could be possible a version of TimeSeriesSplit with rolling window?

https://www.mathworks.com/help/econ/rolling-window-estimation-of-state-space-models.html

for example instead of :
[0, 1, 2] [3]
[0, 1, 2, 3] [4]
[0, 1, 2, 3, 4] [5]
produce something like (window-size=2)
[0, 1] [2]
[1, 2] [3]
[2, 3] [4]
[4, 5] [

[2017-01-31 02:35] jnothman commented on #8244
Oh, sorry, I didn't afford the time to read that this was a prediction-time
issue. That's no good!

On 31 January 2017 at 10:27, Constantin Pape <notifications@github.com>
wrote:

[2017-01-31 02:39] jnothman commented on #8249
I would consider a `max_train_size` option to `TimeSeriesSplit`.

[2017-01-31 04:24] jnothman commented on #6425
Never mind that; I should have used `singledispatch` there instead of monkey-patching and have updated it accordingly.

More importantly, I've submitted a patch to @eli5 which should handle explaining feature importances in pipelines (https://github.com/TeamHG-Memex/eli5/pull/158). I hope @eli5, particularly with its prolific use of singledispatch, is able to adopt this with greater agility than s

[2017-01-31 05:23] etotientz commented on #8248
U mean to print cv_results_?

[2017-01-31 05:49] jnothman commented on #8248
To use cv_results_ to construct the plot

On 31 January 2017 at 16:23, Satrap Rathore <notifications@github.com>
wrote:

[2017-01-31 08:15] lesteve commented on #8244
I can reproduce the behaviour. AFAICT this is due to:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/forest.py#L569

We create a list of `n_estimators` prediction, hence the memory usage.

Excerpt of the output with memory_profiler with `n_estimators=10`:

[code]

The memory increment matches the back of the envelope calculation for the size of `all_proba`:
[code]

[2017-01-31 08:23] remidomingues opened #8250 "Local Outlier Factor (LOF) segmentation fault"
#### Description

Local Outlier Factor (LOF) raises a segmentation fault when applied to large datasets (e.g. 100 000 samples).
Running the following code requires at least 10GB RAM and will run for at least 30 minutes.

#### Steps/Code to Reproduce

[code]

#### Expected Results

No segfault.

#### Actual Results

[code]

#### Versions

[code]

[2017-01-31 09:00] lesteve commented on #8250
Looks like the root issue is that this is using all your RAM. ping @ngoix, not sure how LOF is supposed to behave in terms of memory usage.

[2017-01-31 09:00] lesteve commented on #8250
While I am at it, readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages and code snippets.

[2017-01-31 09:16] remidomingues commented on #8250
Hi @lesteve, I've been running this code on a UNIX server with 256GB RAM. I've been checking the memory consumption while running it, this is not the cause of the segfault.

[2017-01-31 10:18] constantinpape commented on #8244
@lesteve: I see, so if I understand this correctly, the proble is that for each tree the probability array is pre-allocated. Probably this is done, because the parallelisation is done over the trees.
Note that I think this issue could be fixed by parallelising over the instances instead.
Indeed, I have rerun the profiling also for the vigra random forest (which parallelises prediction over the ins

[2017-01-31 10:55] lesteve commented on #8250
I can not reproduce. Your snippet runs fine for me on an Ubuntu server using ~ 30 GiB of RAM.

[2017-01-31 11:35] jnothman commented on #8244
Yes, we could change to parallelising over instances in the predict_proba
case, as long as we don't increase overhead for predicting a small number
of instances.

On 31 January 2017 at 21:18, Constantin Pape <notifications@github.com>
wrote:

[2017-01-31 12:06] remidomingues commented on #8250
Sorry to hear it. The code snippet keeps crashing on my side. Did you use Python 3.5? Could it be linked to a specific version of the Python packages I'm using?

[2017-01-31 12:18] lesteve commented on #8250
Hard to tell.

For the record this is is my version information:

[code]

I never come across Intel Python is to be perfectly honest. Looking at https://software.intel.com/en-us/intel-distribution-for-python, it is still not very clear to me, although it seems like a superset of Anaconda in terms of packages. A few things I would try:
* try the same snippet in a fresh conda environment
* try with

[2017-01-31 12:55] remidomingues commented on #8250
It could indeed by linked to the Intel Python, I'll try an alternative environment later on.
I hope I'll be the only one with this issue.

scikit-learn was installed with ```pip install git+https://github.com/scikit-learn/scikit-learn.git```.

Thanks for your help!

[2017-01-31 12:55] #8250 closed

[2017-01-31 13:08] ngoix commented on #8250
LOF needs to save the distances in a matrix of size `n_neighbors * n_samples` which is `1e9` in your case, times `8 Bytes` the float size, so you need indeed a memory of `~8GB` at least.

LOF inherits from `NeighborsBase`, have you the same segfault with:

[code]

Can you reproduce the segfault with less memory usage (eg with a smaller `n_neighbors`)?

[2017-01-31 13:23] remidomingues commented on #8250
The issue persists when using ```NearestNeighbors``` instead of ```LocalOutlierFactor```. The run succeeds however when using 1% of neighbors instead of 10%, which would confirm that the issue is linked to a memory limit for the matrix.

I'll investigate the configuration options available for my Python distribution and a few Python libraries to see if this is the cause.

[2017-01-31 13:50] remidomingues commented on #8250
Issue fixed with numpy 0.12. It seems the version 0.11.1 had some limitations on that side. I was however able to create a 100000 x 20000 matrix without segfault even with version 0.11.1.

[2017-01-31 14:43] aivision2020 opened #8251 "potentially running too many iterations in Ransac"
in skimage/measure/fit.py
managing the number of iterations is done with max_trials. This is compared to _dynamic_max_trials which is computed using the largest inlier group found so far. However, this comparison is done only in cases when sample_inlier_num is larger than the biggest group. In cases when a large group is found early (but not large enough to end) the best_inlier_num is updated but

[2017-01-31 16:42] chrishmorris opened #8252 "DotProduct Kernel not non-negative definite after rounding errors"
#### Description
GPR will fail in the Cholesky decomposition if it finds negative eigenvectors. Cholesky decomposition itself is numerically stable. Unfortunately rounding errors in the kernel can cause this error, and this occurs with the DotProduct kernel.

#### Steps/Code to Reproduce
model = gaussian_process.GaussianProcessRegressor(
 kernel=kernels.DotProduct(),
 optimizer='fmin_l_bfgs_b',
 r

[2017-01-31 16:51] rth commented on #8229
@lesteve It looks like it is almost the same dataset, the [MLComp 20 newsgroup example](http://scikit-learn.org/stable/auto_examples/text/mlcomp_sparse_document_classification.html#sphx-glr-auto-examples-text-mlcomp-sparse-document-classification-py) indicates that it uses the `20news-18828.tar.gz`  dataset from http://qwone.com/~jason/20Newsgroups/. This corresponds to

while the original Newsgro

[2017-01-31 16:53] Blair-Young commented on #1513
Has anyone had trouble implementing @AmazaspShumik predict_proba method?

[2017-01-31 18:47] rspadim commented on #8249
nice there's some info here:
http://topepo.github.io/caret/data-splitting.html#data-splitting-for-time-series
but this image cover 99% of timeseries cases (maybe one more variable about "rolling window step size" instead of rolling fixed +1, considering that each "line" of dataframe is one "timestamp") : http://topepo.github.io/caret/splitting/Split_time-1.png

[2017-01-31 20:17] jnothman commented on #8252
Thanks for reporting the issue and providing a dataset. A full code example that breaks works really help someone trying to fix it.

[2017-01-31 20:20] jnothman commented on #8229
yes, it might have been due to slow download. but also, we only run things
titled plot_*

On 1 Feb 2017 3:52 am, "Roman Yurchak" <notifications@github.com> wrote:

[2017-01-31 21:24] stephen-hoover commented on #2879
@amueller , I'm running into a similar issue. It's possible to set a `sample_weights` array as an instance attribute via the `GridSearchCV.fit_params` dictionary, and then everything works fine. But this fails in nested cross-validation with `model_selection.cross_val_predict`, because the `GridSearchCV.fit` (and `RandomizedSearchCV.fit`) method doesn't accept fit parameters.

Is there a reason wh

[2017-01-31 21:52] grfiv opened #8254 "ExtraTreesRegressor criterion='mae' runs substantially longer than mse"
from sklearn.ensemble import ExtraTreesRegressor

# either
extra = ExtraTreesRegressor(n_estimators=100, n_jobs=-1)
extra.fit(X, y)

# or
extra = ExtraTreesRegressor(n_estimators=100, n_jobs=-1, criterion='mse')
extra.fit(X, y)

# runs in substantially less time (half, or better) than
extra = ExtraTreesRegressor(n_estimators=100, n_jobs=-1, criterion='mae')
extra.fit(X, y)

[2017-01-31 22:45] nelson-liu commented on #8254
this is expected, MAE requires finding the median of a set of data to optimize the impurity (relatively expensive) while MSE can do it in (arguably) constant time.

[2017-01-31 23:28] jnothman commented on #8254
Feel free to contribute a note to the docs. Closing.

[2017-01-31 23:28] #8254 closed

[2017-01-31 23:34] grfiv commented on #8254
MAE is said to stand for Mean Absolute Error. Where's the median get into
that?

|(true - pred)| vs (true - pred)**2

On Tue, Jan 31, 2017 at 5:46 PM, Nelson Liu <notifications@github.com>
wrote:

[2017-01-31 23:41] nelson-liu commented on #8254
you are correct. The median is used in order to optimize the MAE for the split impurity when growing the tree.
see: https://github.com/scikit-learn/scikit-learn/pull/6039#issuecomment-165035082

[2017-02-01 00:16] jnothman commented on #8254
https://github.com/scikit-learn/scikit-learn/pull/6667#issuecomment-269137371
is also confused about this. Maybe more documentation necessary,
@nelson-liu.

On 1 February 2017 at 10:41, Nelson Liu <notifications@github.com> wrote:

[2017-02-01 00:41] amueller opened #8256 "Ridge path example shouldn't refer to Ridge as clf"
http://scikit-learn.org/dev/auto_examples/linear_model/plot_ridge_path.html#sphx-glr-auto-examples-linear-model-plot-ridge-path-py

Should be ``reg``, ``regressor``, ``ridge`` or something like that.
Maybe also reinstantiate ridge in every iteration instead of using ``set_params``?

[2017-02-01 02:32] jnothman opened #8259 "Use SelectorMixin in BaseRandomizedLinearModel"
Is there any reason not to?

Fixing this would also fix a bug where `Randomized*.transform` erroneously fails on a sparse matrix.

[2017-02-01 05:25] jnothman commented on #6425
A flaw with this design: I would like to build a transformer which selects (or excludes) features by name. It can be designed as a meta-transformer which gets the transformed feature names from the base transformer. However, doing this properly requires that the input feature names are known at fit time:

[code]

For this application, it is necessary to pass the feature names alongside `X`.

[2017-02-01 06:24] rishikksh20 commented on #8256
Something like that :
[code]

[2017-02-01 07:05] lesteve commented on #8229
I would remove the MLComp 20 newsgroup example. Quickly looking at the source code both examples are very similar. I would be in favour of deprecating load_mlcomp which is not used anywhere else and is very cumbersome to use (need to manually download the data and set an environment variable) and does not have any added value compared to `fetch_20newsgroups`.

Another thing worth investigating wou

[2017-02-01 07:36] shubham0704 commented on #7578
I am getting an error while trying to test run the file check_estimators:
 File "numpy.pxd", line 86, in init mtrand (numpy/random/mtrand/mtrand.c:42488)
AttributeError: 'module' object has no attribute 'dtype'.

[2017-02-01 07:55] lesteve commented on #8251
I am confused, why are you mentioning skimage?

[2017-02-01 08:00] lesteve commented on #8251
It seems like the code you mention has some similarity with the scikit-learn code though, so maybe your issue is still relevant.

[2017-02-01 09:36] lesteve commented on #8256
@rishikksh20 this looks fine, please open a PR to discuss your changes further.

[2017-02-01 11:28] aivision2020 commented on #8251
I'm looking at the file:
https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/fit.py

[2017-02-01 12:13] #8256 closed

[2017-02-01 12:25] karandesai-96 commented on #7319
Hi again, everyone! I undertook the nose to pytest migration in **joblib** ( https://github.com/joblib/joblib/issues/411 ) and completed it within nearly a month, having @lesteve as my main reviewer. I saw that he is in the reviewers panel in scikit-learn as well. It has been approximately a month now, I had a little vacation from Python, visited the C++ land.. I wish to get back to contributing h

[2017-02-01 12:27] dalmia commented on #8259
I'll take up the issue.

[2017-02-01 12:43] dalmia commented on #7768
@Chaitya62 Are you still working on this?

[2017-02-01 12:53] jnothman commented on #7319
I don't think there's any question that this is the way we're going. But
it's no small task, I presume.

What are you proposing?

On 1 February 2017 at 23:25, Karan Desai <notifications@github.com> wrote:

[2017-02-01 13:29] lesteve commented on #8251
https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/fit.py

If you are using the scikit-image RANSAC code, you should open an issue in scikit-image. This is the scikit-learn tracker. They are two separate projects.

[2017-02-01 13:31] lesteve commented on #8251
As I tried to say though, the RANSAC code in scikit-learn and scikit-image seems to have some similarity so it could well be that some of your comment applies to the scikit-learn code as well.

[2017-02-01 14:10] lesteve commented on #7319
Shameless plug: first step is https://github.com/scikit-learn/scikit-learn/pull/8246.

I have some further thoughts on this that I need to organize a bit. I'll post here when I get around to it.

[2017-02-01 14:11] Chaitya62 commented on #7768
@dalmia go ahead work on it I am not able to test my cool properly

[2017-02-01 14:26] aivision2020 commented on #8251
Ah I see. Sorry.
So looking at
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/ransac.py
line 418

            # break if sufficient number of inliers or score is reached
            if (n_inliers_best >= self.stop_n_inliers
                    or score_best >= self.stop_score
                    or self.n_trials_

                                              min_sam

[2017-02-01 14:30] lesteve commented on #8212
Doing some git archaeology, it seems like this was known at one point:
https://github.com/scikit-learn/scikit-learn/pull/3523/files#r21166738

This is certainly not expected ...

[2017-02-01 14:32] lesteve commented on #8251
I am sorry but I have to ask, are you using the scikit-learn RANSAC or scikit-image RANSAC?

[2017-02-01 14:35] dalmia commented on #7768
@Chaitya62 Thanks!

[2017-02-01 14:41] lesteve commented on #8212
ping  @cbrnr just in case even if it has been more than two years the PR was merged.

[2017-02-01 15:03] cbrnr commented on #8212
Yes, I agree that this is not expected. I really can't recall the details, but I thought the difference was only between `svd` vs. (`lsqr` or `eigen`) (at least this is what I infer from my comment). I'll try to find time to look into this, but I can't promise anything. Help is also very much appreciated. @mbillingr, do you have an idea what is going on?

[2017-02-01 15:11] lesteve commented on #8245
No it doesn't. I think we just need to have to do something like this to handle this edge case:
[code]

@varunagrawal if you do a PR please add a non-regression test with only zeros in `y_true`.

[2017-02-01 15:17] dalmia commented on #8077
@jnothman Is there a reason that `predict_proba` is annotated as a property in [SVC](https://github.com/scikit-learn/scikit-learn/blob/e2adbb7e037de74044db002eff5898f5e11a5507/sklearn/svm/base.py#L563-L600) and not so in [MLPClassifier](https://github.com/scikit-learn/scikit-learn/blob/14031f6/sklearn/neural_network/multilayer_perceptron.py#L983)?

[2017-02-01 15:34] novelmartis opened #8262 "ImportError: cannot import name check_array in reponse to installing sklearn with pip while using conda"
[code]

All files seem to be in place. It was foolish mistake to use pip. The question is how do I undo the damage? I cannot get tSNE running because of this error.

Thank you.

[2017-02-01 15:42] lesteve commented on #8212
It looks like in this snippet `svd` and `lsqr` are close but not `eigen`.

[2017-02-01 15:44] aivision2020 commented on #8251
I was using scikit-image. But I looked at scikit-learn code and it has the same issue (I didn't make a unit test for it though)

[2017-02-01 15:50] lesteve commented on #8262
Try uninstalling with both pip and conda and then reinstalling with conda.

Next time would you be kind enough to ask on Stack Overflow? This kind of questions are not really scikit-learn specific but more "I messed up my conda environment how do I get it back to a sane state" ...

[2017-02-01 15:51] #8262 closed

[2017-02-01 16:09] novelmartis commented on #8262
I tried doing what you suggested. It does not work, which is why I asked the question.

[2017-02-01 16:27] aivision2020 commented on #8251
a unit test:

from sklearn import linear_model
from sklearn.linear_model.ransac import _dynamic_max_trials
import numpy as np

X =np.linspace(0,100,100)[:,None]
print X.shape
Y = 2*X
Y[80:] = np.random.rand(20,1)
Y[:80] += np.random.rand(80,1)

for i in range(10):
    clt_ransac = linear_model.RANSACRegressor(linear_model.LinearRegression(),max_trials=100)
    clt_ransac.fit(X, Y)
    yhat_ransac

[2017-02-01 16:39] zym1010 commented on #8212
Also I think the dimensionality reduction results are different for `svd` and `eigen` as well.

some points worth looking at, IMO:

1. seems that `svd` version has normalization on features, but not the case for other 2.
2. based on PRML book, there might be two ways to formulate LDA dimensionality reduction when there are two classes. One is using the Eq. (4.25), the other is using Eq. (4.50). No

[2017-02-01 17:30] varunagrawal commented on #8245
@lesteve can you please also specify what needs to be done for precision? Or should that be as is?

[2017-02-01 19:09] lesteve commented on #8245
I believe the code works as it is. You can add a test with only positives to make sure that precision is 1 in this case.

[2017-02-01 21:18] jnothman commented on #8077
SVC only estimates probabilities if configured to do so. The property
ensures that `hasattr(svc, 'predict_proba')` returns false when not
configured for probabilities. MLP always uses softmax to normalise scores
into something that could be interpreted probabilistically.

On 2 Feb 2017 2:17 am, "Aman Dalmia" <notifications@github.com> wrote:

[2017-02-01 22:35] rishikksh20 commented on #8248
Something like this:
[code]

[2017-02-01 22:42] rth commented on #8229
OK, I can make a PR for it.

It is indeed redundant with `fetch_20newsgroups` for 20 newgroups dataset, however, presumably, this function can be used to load any dataset from http://mlcomp.org/datasets (well, according to the docstring). So maybe just raise a deprecation warning if the `name_or_id` corresponds to the 20newsgroup dataset?

[2017-02-01 23:22] sergeyf opened #8265 "TfidfVectorizer sorts by term frequency instead of the tfidf score when using `max_features`"
#### Description
When using the `TfidfVectorizer` with `max_features=N` (where `N` is not `None`), I would expect the algorithm to sort by the tfidf score and then take the top `N` features. Instead, it sorts by document frequency. I think this is not the expected behavior, even though it's properly documented.

[2017-02-01 23:28] jnothman commented on #7319
Karan, what do you think of potentially applying for this as a GSoC
project? If you feel that it is smaller in scope than a full GSoC project,
we can certainly add work related to check_estimators.

On 2 February 2017 at 01:10, Loïc Estève <notifications@github.com> wrote:

[2017-02-01 23:32] jnothman commented on #8251
I'm sorry that I do not know this algorithm well from a theoretical standpoint.

The description of this feature in the `stop_probability` docstring says "requires to generate *at least* N samples". Your unit test would have us generate *exactly* N samples, would you not? Your `_dynamic_max_trials` calculations are made *after* the best inliers are found. The previous iterations might have yielded

[2017-02-01 23:35] jnothman commented on #8248
Much easier to assess as a pull request.

On 2 February 2017 at 09:35, Rishikesh <notifications@github.com> wrote:

[2017-02-01 23:37] jnothman commented on #8265
Well, selecting a subset of features cannot depend on tf... but are you arguing whether it should be selecting those with the minimum vs maximum DF?