[2017-06-27 13:56] dirmeier commented on #5975
Hello, are there any updates? Would it also be possible to add a negative binomial likelihood? This shouldn't make much of a difference to Poisson.

[2017-06-27 14:02] jakobworldpeace commented on #5975
Hi @dirmeier, unfortunately not. I've switched to a hierarchical Bayesian model and never got around to implementing the Poisson regression.

[2017-06-27 14:32] lesteve commented on #9232
I tried to simplify your snippet so we can try to be on the same page:

[code]

Output:
[code]

Can you explain on this simplified snippet, what does not fit your expectation ? The first fit `coef_` are the same for `warm_start=False` and `warm_start=False`. Although quite close, the second fit `coef_` are not the same for `warm_start=False` and `warm_start=True`.

[2017-06-27 14:35] lesteve commented on #9204
I don't think I have the necessary rights. ping @ogrisel @amueller.

[2017-06-27 15:48] andrewww opened #9234 "Make return_std 20x faster in Gaussian Processes (includes solution)"
Two requests:

(1) Please replace this line:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/gaussian_process/gpr.py#L329

from this
[code]
to this
[code]
For an input data set of size 800x1, the time difference is 12.7 seconds to 0.2 seconds. I have validated that the result is the same up to 1e-12 or smaller.

(2) Please cache the result of the K_inv computation.  It depends onl

[2017-06-27 15:53] andrewww commented on #9234
Complete solution, starting here https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/gaussian_process/gpr.py#L322

    if not hasattr(self,'ein_sum_'):
        L_inv = solve_triangular(self.L_.T, np.eye(self.L_.shape[0]))
        K_inv = L_inv.dot(L_inv.T)
        # self.ein_sum_ = np.einsum("ki,kj,ij->k", K_trans, K_trans, K_inv)
        sum1 = np.dot(K_trans,K_inv).T
        self.ei

[2017-06-27 16:15] TomDLT commented on #9234
Thanks for the suggestion. Can you open a pull-request with this change?

[2017-06-27 16:26] andrewww commented on #9234
I'm sorry, I can't. I'm posting this from an environment where I can access the website, but none of the other GitHub tools.

[2017-06-27 16:54] KatrinaLOren commented on #9214
@glemaitre, Plz Any help?

[2017-06-27 17:24] glemaitre commented on #9214
Symmetric matrix and fully connected are different. If you check the code leading to the warning, you will see that it means one of the nodes is not connected to anything. That s why I wonder if you have some rows or columns to zero. If you want to have a fully connected graph you need to ensure no zero rows / columns. But I am not working with graph, this is just by reading the code

[2017-06-27 20:37] SebastinSanty commented on #9191
Sorry, I want to take this issue up, due to inactivity. @jnothman, I had a minor question: You haven't mentioned about removing unused imports from examples and docs and hence I have not changed them. Should I be doing that?

[2017-06-27 21:44] jrbourbeau commented on #9185
An error is raised for the above code, but not until `grid_search.fit()` is called. I just wanted to check if this is the desired behavior, or if it would be better for an error to be raised when an instance of `GridSearchCV` is created?

[2017-06-27 22:28] jnothman commented on #9234
This looks like it might consume some negligible extra memory but otherwise
should only benefit...

On 28 Jun 2017 2:27 am, "andrewww" <notifications@github.com> wrote:

[2017-06-27 22:35] jnothman commented on #9191
yes, I'd be happy to see them cleaned up too but a separate pr is fine

On 28 Jun 2017 6:37 am, "Sebastin Santy" <notifications@github.com> wrote:

[2017-06-27 22:36] jnothman commented on #9185
for complicated reasons, we do validation in fit and not in init

On 28 Jun 2017 7:44 am, "James Bourbeau" <notifications@github.com> wrote:

[2017-06-27 23:04] #9183 closed

[2017-06-27 23:09] kevinlmh commented on #9234
I would like to help and make the changes if that's ok.

[2017-06-27 23:16] jmschrei commented on #9234
Go ahead

On Tue, Jun 27, 2017 at 4:09 PM, Minghui Liu <notifications@github.com>
wrote:

[2017-06-28 02:54] jrbourbeau commented on #9110
It looks like `SelectFromModel` will support any estimator that has a `feature_importances_` or `coef_` attribute. I can open a pull request that makes this explicitly stated in the documentation.

[2017-06-28 03:24] amueller commented on #5991
@jnothman I'm very happy if we can simplify this, though I didn't look at your implementation in detail. You say it's equivalent but doesn't give identical results because of different randomization?
Did it pass the tests? They are actually pretty strict.

[2017-06-28 03:29] jnothman commented on #9110
please do

On 28 Jun 2017 12:54 pm, "James Bourbeau" <notifications@github.com> wrote:

[2017-06-28 03:36] jnothman commented on #5991
Iirc it passed all tests that did not stipulate particular values. But it
is really not a priority for 0.19

On 28 Jun 2017 1:24 pm, "Andreas Mueller" <notifications@github.com> wrote:

[2017-06-28 04:44] jnothman commented on #7478
Ping @ClimbsRocks

[2017-06-28 04:46] jnothman commented on #2121
We now have an option in SelectFromModel but not in RFE

[2017-06-28 04:46] jnothman commented on #9110
So, I think this is much improved from a documentation perspective, but we do not currently provide an API for generalised importances. Perhaps something in utils makes sense, and can be reused in RFE and SelectFromModel, towards finishing #2121.

[2017-06-28 10:01] lesteve commented on #9165
This is a bug in flake8 3.3.0 and this is why we use 2.5.1 in Travis.

[2017-06-28 10:01] #9165 closed

[2017-06-28 13:11] ogrisel commented on #8992
@tomMoral and I diagnosed that with was caused by the master implementation of the QuadTree datastructure. Contiguous cells (or tiles) did not always have exactly matching boundaries due to floating point rounding issues. For deep and dense enough trees, you get a non-zero chance to insert a point in between consecutive tiles in the QuadTree...

The reimplementation of the QuadTree datastructure i

[2017-06-28 13:23] #7893 closed

[2017-06-28 13:50] dbarrundiag commented on #4920
Any update on when this new feature will be coming out?

[2017-06-28 13:51] jnothman commented on #4920
It's likely to miss the boat for 0.19. But it's close.

On 28 June 2017 at 23:50, Daniel Barrundia <notifications@github.com> wrote:

[2017-06-28 15:20] amueller commented on #9165
@lesteve except we are not? or we are in master an that wasn't backported to 0.18.X?

[2017-06-28 15:23] amueller commented on #9165
ok cherry-picked into the 0.18.2 branch to confuse me less.

[2017-06-28 15:24] oasis789 opened #9241 "Support for generators"
I have written a custom predictor which can take in generators for the data to avoid issues with memory. When I try to optimise hyperparameters using a RandomizedSearchCV, sklearn throws up a validation error when trying to ensure that the input variables have a consistent number of samples so they are indexable. Sklearn looks at the generator and thinks it is a singleton array and subsequently th

[2017-06-28 15:26] jnothman commented on #9241
You're not going to be able to use CV on a generator. Instead you can
perhaps leave your feature information on disk and pass a record number to
the estimator. The estimator can be a pipeline whose first step is a
transformer which retrieves the feature representations (as a generator,
for instance).

On 29 June 2017 at 01:24, Uwais Iqbal <notifications@github.com> wrote:

[2017-06-28 15:27] #9241 closed

[2017-06-28 16:16] amueller commented on #8364
Maybe this one still?
http://scikit-learn.org/dev/auto_examples/tree/plot_iris.html#sphx-glr-auto-examples-tree-plot-iris-py

[2017-06-28 17:09] amueller commented on #6231
@jmschrei how so? the first pass to partial_fit is required to specify all the classes.

[2017-06-28 17:19] amueller commented on #6231
@jnothman so we add an extra constructor argument to all classifiers?
We said "no" to that a while ago, but I guess we can change that. I actually agree with your assessment.
So we add an optional constructor parameter to all classifiers?
I'm happy to do that (or rather, have @aarshayj do it ;). But I would like buy-in from @ogrisel @agramfort @GaelVaroquaux if possible before embarking on this.

[2017-06-28 17:37] amueller commented on #8100
Ok so in #6231 we talked about adding classes as a construction parameter, which I think might be the best solution.

If we do that, what's the shape of ``coef_`` in linear models? I guess it needs to reflect all classes to solve the warm-start issue.

[2017-06-28 20:33] sigma23 commented on #5851
Just wondering if anyone is still thinking of including this in scikit-learn?  I was about to implement something on my own based on : [Robust Principal Component Analysis Using Statistical Estimators ](https://arxiv.org/pdf/1207.0403.pdf) but it looks like I can start with some other python packages first.  I have data that has lots of outliers and I'd like to use this approach instead of the sta

[2017-06-28 20:45] apapanico commented on #5851
I recall seeing someone else had a WIP PR with RPCA.  I started working on
an ADMM version of an L1 minimization solver (ie. this:
https://web.stanford.edu/~boyd/papers/admm/least_abs_deviations/lad.html)for
doing the proper projection given L.  I think that PR used the orthogonal
projection from L instead of a robust projection.

On Jun 28, 2017 1:33 PM, "Jaya Zenchenko" <notifications@github.com

[2017-06-28 22:15] jnothman commented on #6231
iirc the constructor param is something Gaël had promoted

On 29 Jun 2017 3:19 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-06-28 22:24] GaelVaroquaux commented on #6231
It looks to me like the sound solution, albeit a bit tedious on the API.

[2017-06-28 22:54] jnothman commented on #6231
Tedious, but less so than finding and fixing these bugs one by one. We
still need to design the integration with scoring.

On 29 Jun 2017 8:24 am, "Gael Varoquaux" <notifications@github.com> wrote:

[2017-06-29 01:23] GaelVaroquaux commented on #9225
I am also not in favor: more flexibility means that it is harder to catch
errors early. We have a clear contract in scikit-learn: inputs are 2D.

[2017-06-29 01:23] #9225 closed

[2017-06-29 01:32] jnothman commented on #9225
You could consider implementing this with a mixin. Scikit-learn is unlikely
to.

On 29 June 2017 at 11:23, Gael Varoquaux <notifications@github.com> wrote:

[2017-06-29 08:09] ogrisel commented on #6231
Explicit is better than implicit. I guess this applies in this case. +1 for a PR that adds `classes` as an optional hyperparam to all classifiers and a common test that looks like this:

[code]

[2017-06-29 09:19] TomDLT commented on #9214
This is not a bug and belongs to stackoverflow.
If you need materials on spectral clustering, see [the documentation](http://scikit-learn.org/stable/modules/clustering.html#spectral-clustering), the [two](http://scikit-learn.org/stable/auto_examples/cluster/plot_face_segmentation.html#sphx-glr-auto-examples-cluster-plot-face-segmentation-py) [examples](http://scikit-learn.org/stable/auto_examples/

[2017-06-29 09:19] #9214 closed

[2017-06-29 10:28] jnothman opened #9245 "Extend ClassifierChain to multi-output problems"
ClassifierChain currently supports multilabel classification. It should be straightforward to extend it to multi-output (as long as it only chains on `predict`) except for implementing `ClassifierChain.{predict_proba,decision_function}` which will take some care.

[2017-06-29 10:30] jnothman opened #9246 "Implement RegressorChain for multi-output regression"
This should be a simple variation on ClassifierChain. Challenges will be working out which code (not) to share, and testing.

[2017-06-29 10:33] sharanry commented on #9246
Hey I am new to open source. Can i work on this?

[2017-06-29 10:34] jnothman opened #9247 "Chain on decision_function or predict_proba in ClassifierChain"
ClassifierChain uses the prediction from the classifier for each label as a feature for the next label's classifier. Instead of chaining on the categorical prediction it should be able to select a `method` to chain on, one of { predict, predict_proba, decision_function }.

[2017-06-29 10:35] jnothman commented on #9246
Have a go. If you struggle to know what to do, ask for help, or tell us
someone else should take it. Thanks

On 29 Jun 2017 8:33 pm, "Sharan Yalburgi" <notifications@github.com> wrote:

[2017-06-29 11:31] #9215 closed

[2017-06-29 11:32] sharanry commented on #9246
Hey I removed the local variable classes_, the function predict_proba function. Is there anything else i have to add or remove?

[2017-06-29 11:55] jnothman commented on #9246
decision function? adjust the tests and most of it should become clear

On 29 Jun 2017 9:32 pm, "Sharan Yalburgi" <notifications@github.com> wrote:

[2017-06-29 13:30] sharanry commented on #9246
I am having problems building scikit learn from source(unable to compile C++ files). It might take a while to figure out whats wrong. Please pass it on to someone else.

[2017-06-29 13:41] jnothman commented on #9246
No great hurry. What platform are you on?

On 29 June 2017 at 23:30, Sharan Yalburgi <notifications@github.com> wrote:

[2017-06-29 13:57] sharanry commented on #9246
Ubuntu 17.04 64-bit
I get this error when i do
`pip install .`
![screenshot from 2017-06-29 19-24-49](https://user-images.githubusercontent.com/19674071/27691081-a3f6083a-5d00-11e7-91fb-315d2726c290.png)

i have also tried
` python setup.py build_ext --inplace`
i get the same error

[2017-06-29 14:08] amueller opened #9250 "Make all non-canonical modules private?"
This is maybe for 1.0. Recently we started marking files like ``model_selection._split`` private, so that everything has a single canonical import:
[code]
For many (older?) models that's not the case, we have
[code]
etc.
I think it would be nice to make all the files that are not the canonical import (according to the API documentation) private (with deprecation obviously).
That might be a bit ann

[2017-06-29 18:43] herilalaina commented on #9247
Hi, I would like to work on it

[2017-06-29 19:12] jmschrei commented on #9247
Go ahead

On Thu, Jun 29, 2017 at 11:43 AM, RAKOTOARISON Herilalaina <
notifications@github.com> wrote:

[2017-06-29 20:13] jmschrei commented on #9250
I would support this as it seems like it could clear up a lot of confusion. Do you believe there are any people directly trying to use the functions that would be made private?

[2017-06-29 21:33] jnothman commented on #9250
I am certain that there is code importing from the submodules, but
deprecation is fine. we might need to pay attention to whether or not base
class implementations get imported into the public modules

On 30 Jun 2017 6:13 am, "Jacob Schreiber" <notifications@github.com> wrote:

[2017-06-30 02:15] qinhanmin2014 commented on #9183
@jnothman Sorry to disturb but some scores in classes.html are still missed in the table in model_evaluation.html. E.g. there are 12 Clustering metrics in classes.html but only 8 in model_evaluation.html. Are they excluded intentionally? Thanks.

[2017-06-30 03:38] qinhanmin2014 commented on #9183
@jnothman
Some seemingly important metrics missings in the table:
metrics.explained_variance_score
metrics.calinski_harabaz_score
metrics.silhouette_score
...

[2017-06-30 05:00] jnothman commented on #9183
This issue refers to a list of scorers, not metrics. Yes, some of those
might deserve to have scorers. I suspect we're currently not supporting
silhouette and calinski_harabaz because our scorers currently all test
against some ground truth.

On 30 June 2017 at 13:38, Hanmin Qin <notifications@github.com> wrote:

[2017-06-30 05:13] jnothman opened #9254 "Change dataset for test_classifier_chain_vs_independent_models"
The `test_classifier_chain_vs_independent_models` test in `sklearn/tests/test_multioutput.py` currently uses `fetch_mldata('yeast')`. Perhaps we should rely on synthetic data rather than requiring our testing to involve an unreliable web download.

[2017-06-30 05:16] thechargedneutron commented on #9246
I am relatively new to both open source and Machine Learning, are the test conditions going to remain the same? Do we test condition for sparsity in regression also?
Apart from that, I have removed the last two functions, i.e predict_proba and decision_function as well as the class local variable as it won't be in regression. Is there anything else to be removed?

[2017-06-30 07:39] qinhanmin2014 commented on #9183
@jnothman
Please ignore the message if current table is right. I just feel strange and want a double check. Thanks :).
(1)It seems that we do support calinski_harabaz_score and silhouette_score now, although they do not rely on ground truth. IMO, they are also scorers.
(2)What about metrics.explained_variance_score in regression? It is discussed with other regression scorers below but not included

[2017-06-30 11:13] matthew-brett commented on #9204
@ogrisel @amueller - I can now see the Python 3.6 64-bit wheel, but not the Python 3.5 32-bit wheel.  Would you mind uploading that also?

[2017-06-30 13:07] prakritidev opened #9256 "Error in Normalizing code available on website"
This code gives an error on scikit-learn version 0.18.2:

[code]

Output:

`C:\Users\Prakritidev Verma\Anaconda3\python.exe: can't find '__main__' module in ''`

Pleae let me know if something is wrong in my code

[2017-06-30 13:19] TomDLT commented on #9256
This is not a scikit-learn bug, you seem to have issue running a python script.
How did you run the script?

[2017-06-30 13:36] ogrisel commented on #8236
@stefdoerr can you please explicitly set the `svd_solver` of `PCA` and tell us which solver triggers the segfault on your machine (I cannot reproduce either)? Possible solvers are: `full`, `randomized` and `arpack`. I assume that `full` is selected based on the size of your data but it would be great to confirm.

If this is the case, please try to reproduce the pbm with numpy or scipy only:

[code

[2017-06-30 14:08] #9256 closed

[2017-06-30 15:30] ogrisel commented on #8236
Note that I also have AVX2 and cannot reproduce the issue with anaconda's MKL.

[2017-06-30 15:34] ogrisel commented on #8236
I tried with the exact same version numbers and cannot reproduce either.

[2017-06-30 16:16] #5229 closed

[2017-06-30 16:20] #8995 closed

[2017-06-30 16:23] ogrisel commented on #7626
I did not try to report that specific bug. Anyway this issue can only be solved at the numpy and scipy level (by packaging openblas by default in the OSX wheels) or by convincing Apple to fix Accelerate. Let's close this issue here.

[2017-06-30 16:23] #7626 closed

[2017-06-30 17:19] prakritidev commented on #9256
I use SublimeText 3 for running python script

[2017-06-30 17:34] TomDLT commented on #9256
If you want to keep running from Sublime: [see related issue](https://stackoverflow.com/questions/14330411/sublime-text2-python-error-message-usr-bin-python-cant-find-main-module).
Otherwise, you can also run your script from the command line, from [Ipython](https://ipython.org/), or from a [Jupyter notebook](http://jupyter.org/).

[2017-06-30 19:13] #8660 closed

[2017-06-30 22:05] ogrisel commented on #1156
This case is now document as an example in #7286.

[2017-07-01 08:04] jnothman commented on #9246
no shouldn't need to handle sparse input. but wasn't someone else working
on this?

On 30 Jun 2017 3:16 pm, "Kumar Ashutosh" <notifications@github.com> wrote:

[2017-07-01 08:05] jnothman commented on #9183
is it in the list returned in the error by get_scorer('foobar')?

On 30 Jun 2017 5:39 pm, "Hanmin Qin" <notifications@github.com> wrote:

[2017-07-01 09:52] qinhanmin2014 commented on #9183
@jnothman Thanks. They are not and I seem to be wrong. Sorry for distrubing.

[2017-07-01 10:31] jnothman commented on #9183
The absence of explained_variance_score may be an issue, too

On 1 July 2017 at 19:52, Hanmin Qin <notifications@github.com> wrote:

[2017-07-01 10:50] jnothman commented on #8660
And sorry it took so long to merge...

On 1 July 2017 at 05:13, Olivier Grisel <notifications@github.com> wrote:

[2017-07-01 12:57] #9191 closed

[2017-07-01 13:34] renewang commented on #8429
Hi, I have a question about this discussion thread. Is replacing "normalize" with "sigmoid" almost identical to using CalibratedClassifierCV with sigmoid as algorithm but with simplified way to do so?
If the answer is true, is there any reason not deprecating normalize and enforce the input probability to follow the probability law? Would it be better let the user choose which method to map their

[2017-07-01 14:03] Dachuandc commented on #1346
I encountered the same problem. Just wait a few minutes and see. It will work fine.

[2017-07-01 14:49] qinhanmin2014 commented on #9183
@jnothman Thanks. Added in #9259.

[2017-07-01 15:21] MarenMa commented on #9232
Okay, I get your results the other way round but your point is still correct and the warm_start parameter seems to work exactly as I expected indeed.
Running the same code with a neural network (MLPRegressor) however, leaves me with another question:
Here, for ```warm_start = True/False``` the weights are different even after the first fit.  I already found out, that this can be prevented by using

[2017-07-02 00:12] jnothman commented on #9232
AFAIK, ElasticNet is only randomised if selection='random'. This could be
better documented, perhaps.

On 2 July 2017 at 01:21, MarenMa <notifications@github.com> wrote:

[2017-07-02 04:57] JamiesHQ opened #9261 "HTML issue in "Pipeline and FeatureUnion: combining estimators" Page makes examples unreadable"
#### Description
HTML issue on Pipelines documentation page makes examples unreadable
There seems to be an issue with the Pipeline and FeatureUnion: combining estimators page at http://scikit-learn.org/stable/modules/pipeline.html. All other pages (so far) are rendering correctly. Apologies if this is the wrong place to post the issue-

#### Steps/Code to Reproduce
Accessing http://scikit-learn.or

[2017-07-02 05:53] jnothman commented on #9261
is it an issue still at http://scikit-learn.org/dev/modules/pipeline.html

On 2 Jul 2017 2:57 pm, "JamieW" <notifications@github.com> wrote:

[2017-07-02 10:16] StrangeTcy opened #9262 "ValueError when doing validation with random forests"
#### Description
ValueError when doing validation with random forests

I'm trying to build a model that would predict the caco-2 coefficient of a molecule given its smiles string representation (so, it's a continuous value regression problem).
My solution is based on [this][1] example.
Since I need to predict a real value, I use a `RandomForestRegressor`.
With some molecules added to the code manu

[2017-07-02 10:25] jnothman commented on #9262
The first thing I'd want to know is: is it the *quantity* of lines, or some
particular, broken line that's the issue? I'd suspect the latter and would
check if the 250 lines starting at #250 works.

On 2 July 2017 at 20:16, Maxim Smirnov <notifications@github.com> wrote:

[2017-07-02 10:38] StrangeTcy commented on #9262
Thanks; I've tried to make a `medium4_db.csv` from line 250 to 500, and it broke. Investigating.

[2017-07-02 11:01] GaelVaroquaux commented on #9232
I feel that your assumptions on "warm_start" are wrong: warm_start only
says that the optimization will start from the previous coefficients, but
it does not say that it will end in a position controlled by these
previous coefficients. Indeed, the model is fully fit on the data given,
and is not influenced by the previous data.

If you want the model to be influenced by the previous data, you are

[2017-07-02 11:16] StrangeTcy commented on #9262
Ok, my suspicions are that I'm using `.values` after I've read my data from the `.csv` , which blows up the precision of my coefficients, which then in turn crashes the arithmetics of the validation calculation.

[2017-07-02 12:16] jnothman commented on #9262
If you no longer consider this a scikit-learn issue, please close the issue. Thanks.

[2017-07-02 12:17] jnothman commented on #9232
@MarenMa: if you feel that there is documentation that can be clarified, please offer a pull request. Otherwise, I feel this issue is not specific/well-defined enough to be addressable, and am closing it.

[2017-07-02 12:17] #9232 closed

[2017-07-02 12:23] StrangeTcy commented on #9262
Ok; until proven otherwise, this is not a `scikit-learn` issue per se, so I'm closing it.
Thanks to @jnothman I'm now looking into a different matter.

[2017-07-02 12:23] #9262 closed

[2017-07-02 14:39] siebenHeaven commented on #9245
@jnothman I am new to contributing this project. Would like to start here. The way i understand this is that currently, ClassifierChain predicts that a given instance belongs to a class, and goes on (by passing this prediction to next estimator in the chain) to check for other classes.So would extending it to support multi-output include implementing a new parameter which, if set, tells it to not

[2017-07-02 19:20] zafartahirov opened #9263 "fetch_lfw_people time out"
#### Description
Example under the [Face Recognition](http://scikit-learn.org/stable/auto_examples/applications/face_recognition.html) fails, because `datasets/fetch_lfw_people` timesout. In fact the [resource home](http://vis-www.cs.umass.edu/lfw/) is down. I think scimitar examples should not rely on data being stored somewhere else, and should be self-sustained. Otherwise, if some other website

[2017-07-02 21:39] jnothman commented on #9245
no it's basically the same structure. at the moment it is multilabel, which
is equivalent to multi-output for binary problems. The chain consists of a
collection of binary classifiers. Extending to multi-output multiclass
(which I should have stated more explicitly above) just means each
classifier may be multiclass.

On 3 Jul 2017 12:39 am, "siebenHeaven" <notifications@github.com> wrote:

[2017-07-02 21:45] jnothman commented on #9263
we agree. we hope to rely on figshare soon, but perhaps we should have more
than one mirror?

On 3 Jul 2017 5:21 am, "Zafar Takhirov" <notifications@github.com> wrote:

[2017-07-02 22:03] Kautumn06 commented on #5967
@ruqianq  I've been having the same issue when fitting the model using GridSearchCV with LogisticRegression for a multi-class target variable. I used LabelEncoder to create a categorical for y (4 levels, cat. 'Empty', 'Low', 'Mid-Level', 'High').

I had thought my issue was coming from the need to use TimeSeriesSplit to create X_train, X_test, y_train, and y_test (I'm working with time series data

[2017-07-02 23:17] jnothman commented on #5967
This surprises me.

On 3 July 2017 at 08:03, Kristen McIntyre <notifications@github.com> wrote:

[2017-07-03 01:25] ZeerakW opened #9264 "n_jobs in GridSearchCV issue (again in 0.18.1)"
Hey, thanks for an awesome library!

There's a bit of an issue (seemingly the same as #6147) with GridSearchCV, which seems to be in 0.18.1 as well as having been present in previous versions. I get the issue when using GridSearchCV with the ElasticNet classifier:

[code]

#### Actual Results
[code]

Sub-process traceback:
---------------------------------------------------------------------------

[2017-07-03 01:26] ZeerakW commented on #6147
@amueller I couldn't find any issue opened by eetuko, so I opened a new one: #9264

[2017-07-03 04:53] GaelVaroquaux commented on #9264
Does the problem go away when using n_jobs=1?

Looking at the errors it seems that the error is due to an invalid y.

[2017-07-03 08:59] jnothman commented on #9264
accuracy is a classification score. elastic net is a regressor. they
shouldn't work together.

On 3 Jul 2017 2:53 pm, "Gael Varoquaux" <notifications@github.com> wrote:

[2017-07-03 09:01] jnothman opened #9266 "Classification scorers aid"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2017-07-03 09:01] #9266 closed

[2017-07-03 09:07] jnothman opened #9267 "Classification scorers requiring categorical predictions should not be applied to regressors"
An error should be raised if a user runs cross validation with a scorer that is inapplicable to the base estimator. For instance, if the base estimator is a regressor, scoring='accuracy' should be disallowed when get_scorer is called, not when the score should be evaluated (which is the issue in #9264). However, we may want to allow roc auc to be calculated on a regressor, so there is don't nuance

[2017-07-03 09:48] ashimb9 opened #9268 "Missing Data Imputation with a Gaussian Mixture Model using EM"
#### Description
I was wondering if there was interest in adding a new imputation strategy (or a new Imputer class) based on a Gaussian Mixture Model (GMM) using the EM or CEM algorithm. The implementation could be along the lines of:

1) [Ming Ouyang, William J. Welsh, Panos Georgopoulos; Gaussian mixture clustering and imputation of microarray data. Bioinformatics 2004; 20 (6): 917-923. doi: 10.

[2017-07-03 10:15] irvcaza commented on #4487
I have a working prototype of BrownBoost and I'm interested in adding it to the existent algorithms.
I have not made correctness checks since an intermediate step include solve a differential equation (this is a little bit complicate to evaluate).
Also BrownBoost uses a parameter as sort of "Countdown timer", I don't know how to aggregate it to the existing object without being too disruptive.

[2017-07-03 10:48] jnothman commented on #9268
sounds like an approach suitable to a generic regressor. what makes this
particular to Gaussians / MMs?

On 3 Jul 2017 7:48 pm, "ashimb9" <notifications@github.com> wrote:

Description

I was wondering if there was interest in adding a new imputation strategy
(or a new Imputer class) based on a Gaussian Mixture Model (GMM) using the
EM or CEM algorithm. The implementation could be along the lines

[2017-07-03 14:05] NickHoernle commented on #5975
@dirmeier, @jakobworldpeace is there some work in progress that you can point us to? I can also jump on taking a look at this?

[2017-07-03 14:17] dirmeier commented on #5975
Hi @NickHoernle,
I am currently using R for NB-regression, because I dont have the time. I'd be glad if you want to implement this :)

[2017-07-03 14:29] jakobworldpeace commented on #5975
@NickHoernle There is no WIP but the statsmodels Poisson regression implementation should get you started.

[2017-07-03 15:53] Helsioufy commented on #9263
It is back online now

[2017-07-03 16:09] NickHoernle commented on #5975
Excellent. I'll start taking a look at this and see where we get.

[2017-07-03 17:49] alex-rozenshteyn opened #9271 "svd_flip fails with dimension mismatch when passed matrices"
#### Description
`sklearn.utils.extmath.svd_flip` fails due to dimension mismatch when passed matrices.

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown; result is the same as if the inputs had been converted to `ndarray`s.

#### Actual Results
`ValueError` due to shape mismatch is thrown.

#### Versions
[code]

[2017-07-03 17:50] jrbourbeau commented on #9267
It looks like that kind of logic can be built into `check_scoring ` in `metrics/scorer.py`. `BaseSearchCV` calls `check_scoring` in its `_fit` method, so this might help with issue #9264.

[2017-07-03 17:53] jrbourbeau commented on #9267
If that sounds like an acceptable solution, I can work on implementing this fix for scorers that are compatible with classifiers only and with regressors only.

[2017-07-03 18:18] ashimb9 commented on #9268
Nothing. The choice of "gaussian" (or another distribution) can absolutely be left as a user-supplied parameter. The choice of MM on the other hand was obviously due to the flexibility it accords to model arbitrary distributions, which can of course be also controlled by the user by selecting the number of components. Finally, not sure I understand what you mean by "generic regressor" approach --

[2017-07-03 19:43] rth commented on #9271
Well, the docstring doesn't say that `svd_flip` supports `np.matrix` input, only `np.ndarray`. So the error does seem reasonable due to the difference in handling of the `*` operator between the two type of objects.

Numpy matrices (except for the sparse ones) are generally discouraged (see e.g. https://github.com/scikit-learn/scikit-learn/pull/3169#issuecomment-43741935 , https://github.com/sciki

[2017-07-03 20:21] anupmishra123 commented on #9246
I am new to open source is it possible for me to work on it as well? seeing that people are already working on it do I have a chance?

[2017-07-03 20:51] alex-rozenshteyn commented on #9271
echoing https://github.com/scikit-learn/scikit-learn/issues/392#issuecomment-2380483, it would be great to see this in the documentation if it's an official stance.

Also, since matrices are a subclass of ndarrays, I'd expect any public function accepting an ndarray to also accept a matrix (Liskov's Substitution Principle); I also inferred from the [documentation](https://docs.scipy.org/doc/numpy-

[2017-07-03 21:30] GaelVaroquaux commented on #9271
This is an internal function, in a utils package. Your expectations are
wrong.

I am closing this issue: it's not a bug.

[2017-07-03 21:30] #9271 closed

[2017-07-03 21:38] alex-rozenshteyn commented on #9271
For anyone stumbling across here in the future, I managed to miss the big disclaimer at the top of the utils [documentation](http://scikit-learn.org/stable/developers/utilities.html):

[2017-07-03 21:49] amueller opened #9272 "build with cython 0.26 beta?"
Cython is about to release a new version 0.26. I think it would be good to build with their current beta release to see if there's any regressions so we can report back.

[2017-07-03 22:06] zafartahirov commented on #9263
Just because it is back, doesn't mean it cannot happen again 😄 @jnothman I think we should rename this issue to something more global so it would be in a TODO list to move all the example data to `figshare`. Unless there is an issue for it already.

[2017-07-03 22:20] #3550 closed

[2017-07-03 22:31] jnothman commented on #9267
it may be a weird choice but i suppose regression metrics will always
return a value for classification with integer categories.

yes, that sounds like the right place to make the change

On 4 Jul 2017 3:53 am, "James Bourbeau" <notifications@github.com> wrote:

[2017-07-03 22:33] jnothman commented on #9268
oh I missed that EM is being used to impute initially. So that is somewhat
particular to GMM

On 4 Jul 2017 4:18 am, "ashimb9" <notifications@github.com> wrote:

[2017-07-03 22:34] daniel-perry opened #9273 "Training MLP using l-bfgs limited to default l-bfgs maxiter value"
#### Description

Training an MLP regressor (or classifier) using l-bfgs currently cannot run for more than (approx) 15000 iterations.
This artificial limit is caused by the call site to l-bfgs passing the MLP argument value "max_iters" to the argument for "maxfun" (maximum number of function calls), but not for "maxiter" (maximum number of iterations), so that no matter how large a number you pas

[2017-07-03 23:06] jnothman commented on #9246
while you're welcome to try making the change as a programming exercise,
I'm sure you can appreciate that it would be a waste of core developers'
volunteer time to review your work as well as another implementation. If
you believe there is a better solution than what is currently offered as a
pull request, you can always help by reviewing that work.

On 4 Jul 2017 6:21 am, "anupmishra123" <notific

[2017-07-03 23:09] jnothman commented on #9272
do you mean functionality regressions, or speed regressions?

On 4 Jul 2017 7:49 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-07-03 23:12] jnothman commented on #9263
See #7425, and the latest fix in #9240. I find it hard to look up issues on
my phone, or I would have quoted these before.

On 4 July 2017 at 08:06, Zafar Takhirov <notifications@github.com> wrote:

[2017-07-03 23:22] zafartahirov commented on #9263
Closing as a duplicate

[2017-07-03 23:22] #9263 closed

[2017-07-04 00:38] ZeerakW commented on #9264
@GaelVaroquaux Yup, it only occurs with n_jobs > 1. Fixing the errors with the invalid y does not change it. However, the scoring fixed it. Had missed that I hadn't updated the scoring.

@jnothman Thanks for that, this was the issue! Not entirely sure why this brought out the issue though.

[2017-07-04 00:38] #9264 closed

[2017-07-04 01:31] jnothman commented on #9264
I'll try to improve the error message from "Can't handle mix of binary and
continuous" to "Classification metrics can't handle mix of binary and
continuous targets".

On 4 July 2017 at 10:38, Zeerak Waseem <notifications@github.com> wrote:

[2017-07-04 08:18] facaiy commented on #8737
If I understand correctly, there are two cases:

+ `mutli_class` is missing or `ovr`:
    It is `ovr` by default.
[code]
    Hence, it sounds reasonable to compute scores using one-vs-rest when `multi_class` is missing.

+ `multi_class` is specified as `multinomial`:
    It seems that scores are computed overall, which is the result we expected.

In all, the behavior seems reasonable.

[2017-07-04 08:24] jnothman commented on #8737
What is the structure of scores_ when multinomial?

[2017-07-04 12:41] #9254 closed

[2017-07-04 21:02] sshleifer opened #9276 "RFE doesn't raise NotFittedError"
#### Description
RFE doesnt raise NotFittedError, suspect other meta feature selectors have same issue.

#### Steps/Code to Reproduce
[code]

#### Expected Results

`NotFittedError`

#### Actual Results

`AttributeError: 'RFE' object has no attribute 'support_'`
#### Versions

Darwin-16.5.0-x86_64-i386-64bit
Python 2.7.10 (default, Feb  6 2017, 23:53:20)
[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (cla

[2017-07-04 22:25] jnothman commented on #9276
thanks. a pull request is welcome

On 5 Jul 2017 7:02 am, "Sam Shleifer" <notifications@github.com> wrote:

[2017-07-04 23:05] sshleifer commented on #9276
will do

[2017-07-05 05:07] jnothman opened #9279 "makedirs(..., exists_ok) not available in Python 2"
[covtype.py](https://lgtm.com/projects/g/scikit-learn/scikit-learn/snapshot/1a981e87ba6f8d66ecfd6940184836446ded3f4c/files/sklearn/datasets/covtype.py#L92) and [rcv1.py](https://lgtm.com/projects/g/scikit-learn/scikit-learn/snapshot/1a981e87ba6f8d66ecfd6940184836446ded3f4c/files/sklearn/datasets/rcv1.py#L117) depend on Python3 standard library parameters when `download_if_missing` is used. We prom

[2017-07-05 05:13] jnothman opened #9280 "Too few arguments in formatting call"
* https://lgtm.com/projects/g/scikit-learn/scikit-learn/snapshot/1a981e87ba6f8d66ecfd6940184836446ded3f4c/files/sklearn/ensemble/bagging.py#L778
* https://lgtm.com/projects/g/scikit-learn/scikit-learn/snapshot/1a981e87ba6f8d66ecfd6940184836446ded3f4c/files/sklearn/multiclass.py#L726

These error cases are clearly not well tested atm.

H/T: lgtm.com

[2017-07-05 08:25] jnothman commented on #5774
Fixed in #9239

[2017-07-05 08:25] #5774 closed

[2017-07-05 08:34] albertauyeung commented on #8381
Hello, is there any one following this issue? I think the problem is in Line 259 of multiclass.py:

`self.classes` is the array of all possible classes passed in through the OneVsRestClassifier's `partial_fit` call. Directly feeding this to the label binarizer will make the binarizer think that it is a multi-class problem.

I think a solution is, when we detect that `y` is in indicator format and

[2017-07-05 08:50] ogrisel commented on #8236
@stefdoerr I am closing this issue as nobody else can reproduce but please feel free to reopen if you find new elements to better qualify the reproducibility of the problem.

[2017-07-05 09:42] lesteve commented on #9272
Trying to compile with 0.26b0 I get an error which seems related to https://github.com/scikit-learn/scikit-learn/pull/9133.

[code]

[2017-07-05 09:42] wawrzeniec commented on #6002
I had the same issue, which seems to be fixed in the current code though not yet released in the latest version I was able to fetch (0.18.2). I have a couple of suggestions to make:

**1.** The current code for computing the regression weights, on lines 368-369 reads:
[code]
I believe that this fix to the second line above should correctly resolve the scaling issue with the predict() method, in th

[2017-07-05 09:56] mingkim commented on #9280
Hi, I'd like to work on this

[2017-07-05 10:06] jnothman commented on #9280
Go ahead

On 5 Jul 2017 7:56 pm, "Ming Kim" <notifications@github.com> wrote:

[2017-07-05 11:46] SebastinSanty commented on #9279
I would like to work on this. Thanks!

[2017-07-05 11:49] lesteve commented on #9261
Can not reproduce with neither Firefox nor Chrome on a Ubuntu box:
![snapshot](https://user-images.githubusercontent.com/1680079/27863042-99933afc-6188-11e7-93ac-249530c23d41.png)

[2017-07-05 11:53] jnothman commented on #9279
go ahead

On 5 July 2017 at 21:46, Sebastin Santy <notifications@github.com> wrote:

[2017-07-05 12:04] #8913 closed

[2017-07-05 12:13] #2915 closed

[2017-07-05 19:03] goldsmitha opened #9285 "Inverse Transform for Label Encoder with mixed strings and numbers returns only strings"
#### Description

With a LabelEncoder fitted with both string and numeric values, the inverse transform of that LabelEncoder will include only strings.

#### Steps/Code to Reproduce

[code]

#### Expected Results

[code]
I understand that numpy is not ideal for dealing with non-numeric data, so I don't know what dtype the output SHOULD be, but I know that if the dtype is simply "object", then it w

[2017-07-05 21:16] jrbourbeau commented on #9267
I was thinking something like

[code]

where the `classifier_only_scorers` and `regressor_only_scorers` lists can be built along the lines of  http://scikit-learn.org/stable/modules/classes.html#sklearn-metrics-metrics

I'll submit a PR with this actually implemented

[2017-07-05 22:15] JamiesHQ commented on #9261
@jnothman : yes- still seeing same overlapping behavior - only on that one page
<img width="911" alt="screen shot 2017-07-05 at 3 13 58 pm" src="https://user-images.githubusercontent.com/476301/27887274-c2dee15c-6194-11e7-8dc2-389f05c92951.png">

[2017-07-05 22:29] jmschrei commented on #9268
I think that in general there would be interest for new imputation strategies. If you feel comfortable trying to implement it, ping me when you have something and I'll review it.

[2017-07-05 23:03] jnothman commented on #9285
this is a pretty quirky case. I suppose that if LabelEncoder.fit receives a
list we could assume dtype=object, but that would slow the int case

On 6 Jul 2017 5:03 am, "goldsmitha" <notifications@github.com> wrote:

[2017-07-05 23:09] jnothman commented on #9267
yes but I'm not sure that regressor only scorers should be a hard
constraint... and a clustering metric can be used for Classification, but
not really the other way... a more general way to think about this is that
scorers have tags, and that get_scorer could require the presence/absence
of some tags. Not sure if this is too generalised.

On 6 Jul 2017 7:16 am, "James Bourbeau" <notifications@gith

[2017-07-05 23:12] jnothman commented on #9261
and presumably you've tried something like a hard refresh?

On 6 Jul 2017 8:15 am, "JamieW" <notifications@github.com> wrote:

[2017-07-05 23:13] jnothman commented on #9261
seeing as we're finding this hard to reproduce, are you able to try debug
it some more?

On 6 Jul 2017 9:12 am, "Joel Nothman" <joel.nothman@gmail.com> wrote:

[2017-07-05 23:14] jnothman commented on #9268
I agree

On 6 Jul 2017 8:29 am, "Jacob Schreiber" <notifications@github.com> wrote:

[2017-07-05 23:32] goldsmitha commented on #9285
It's also worth noting that `LabelEncoder().fit(np.array([1, 2, 'a', 'b'], dtype=object))` will also throw `TypeError: unorderable types: str() > int()` from np.unique, so this is not an issue limited to regular lists. Would it be an acceptable solution to add a parameter for dtype?

[2017-07-05 23:36] jnothman commented on #9285
I suspect the best option here is one that raises an error for mixed types.
Otherwise we get into a mess for testing predict functions etc

On 6 Jul 2017 9:32 am, "goldsmitha" <notifications@github.com> wrote:

[2017-07-06 00:00] jnothman opened #9286 "Some example plots render poorly in dev"
Probably still due to matplotlib v2.0 change. Some examples:

http://scikit-learn.org/dev/auto_examples/semi_supervised/plot_label_propagation_digits_active_learning.html#sphx-glr-auto-examples-semi-supervised-plot-label-propagation-digits-active-learning-py

https://github.com/scikit-learn/scikit-learn.github.io/blob/master/0.18/_images/sphx_glr_plot_bias_variance_001.png - legend takes up whole

[2017-07-06 00:15] goldsmitha commented on #9285
I see the issue here, and it is entirely with how np.unique can't handle mixed type arrays. Interestingly, in 2.7 numpy did not have this issue. Anyway, it seems that this issue can't be easily solved unless np.unique is updated. LabelEncoder already doesn't handle mixed types (implicitly converts to string via numpy), so yeah it would probably be a good idea to raise an error or a warning.

[2017-07-06 00:31] jnothman commented on #9285
Yes, I don't see the benefit in us supporting mixed types, frankly. But
outlawing it would be a good help.

On 6 July 2017 at 10:15, goldsmitha <notifications@github.com> wrote:

[2017-07-06 01:23] goldsmitha commented on #9285
Since mixed types already convert to strings by default, and I believe checking for mixed types would be a relatively slow operation, wouldn't it make more sense to just make a note of it in the documentation rather than update the code?

[2017-07-06 01:49] jnothman commented on #9285
Yes, maybe. And user code may already depend on this quirk. PR with
clarification is welcome

On 6 July 2017 at 11:23, goldsmitha <notifications@github.com> wrote:

[2017-07-06 04:09] dbeach24 commented on #6204
I'm getting poor results from SciKit-Learn's t-SNE implementation when compared with other reference implemtations using samples of MNIST data.

![tsne comparison](https://user-images.githubusercontent.com/11604259/27895134-c5e4da76-61cd-11e7-81e9-da27517e1f53.png)

The above figure compare SKL's barnes-hut and exact t-SNE implementations with the results of a C++ implementation from the algorithm

[2017-07-06 04:18] deto commented on #6204
@dbeach24, This may be due to an issue that we fixed recently, #8766, which was causing poor convergence.  Can you try installing the Dev branch here and re running your test?

[2017-07-06 04:19] jnothman commented on #6204
#9032 fixes a few issues and should be included in the upcoming release.

On 6 July 2017 at 14:18, David DeTomaso <notifications@github.com> wrote:

[2017-07-06 04:20] jnothman commented on #6204
Please try on the #9032 pull request branch, as that's what we expect to be
in master in the next couple of days.

On 6 July 2017 at 14:19, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-07-06 04:25] dbeach24 commented on #6204
@deto @jnothman  Thanks, will try.

[2017-07-06 04:31] jnothman commented on #6204
Btw, you should probably not bother testing MNIST yourself, as that's shown
here:
https://github.com/scikit-learn/scikit-learn/pull/9032#issuecomment-309770639
.

On 6 July 2017 at 14:25, David Beach <notifications@github.com> wrote:

[2017-07-06 05:22] SebastinSanty commented on #9286
I would like to take this up. Thanks!

[2017-07-06 06:04] jnothman commented on #9286
Go ahead

On 6 July 2017 at 15:22, Sebastin Santy <notifications@github.com> wrote:

[2017-07-06 07:16] ashimb9 commented on #9268
I will start working on the implementation then. Thanks guys!

[2017-07-06 07:30] ashimb9 commented on #9268
By the way, would it make sense to implement it as a separate class? My personal opinion is that it does. A new "strategy" within the existing Imputer is probably not a good idea, especially given that other imputation techniques might get added later? Anyway, please let me know what you think about implementing it as a new class. Perhaps as a sub-class of Imputer?

[2017-07-06 08:11] TomDLT commented on #4811
Closing this since #4852 and #5295 are merged.

[2017-07-06 08:11] #4811 closed

[2017-07-06 08:48] jnothman commented on #9268
absolutely a different class, thanks.

On 6 Jul 2017 5:30 pm, "ashimb9" <notifications@github.com> wrote:

[2017-07-06 10:55] bryanyang0528 opened #9287 "Inconsistence results of Kmeans between n_job = 1 and n_jobs > 1"
#### Description

the result of kmeans.labels_ when n_jobs=1 is different from n_jobs > 1

#### Steps/Code to Reproduce

from sklearn.cluster import KMeans
import numpy as np
X = np.array([[1, 2], [1, 4], [1, 0],
               [4, 2], [4, 4], [4, 0]])
kmeans = KMeans(n_clusters=2, random_state=0, n_jobs=1).fit(X)
kmeans.labels_

kmeans = KMeans(n_clusters=2, random_state=0, n_jobs=2).fit(X)
kmean

[2017-07-06 12:01] jnothman commented on #9287
yes, i would've thought it due to random state. if there's a simple way to
fix this, I'd consider it

On 6 Jul 2017 8:55 pm, "Bryan Yang" <notifications@github.com> wrote:

[2017-07-06 12:59] gwerbin commented on #2989
You might also want to consider how the R package [Caret](topepo.github.io/caret) does things: https://github.com/topepo/caret/blob/master/pkg/caret/R/preProcess.R#L738-L754

Caret internally use the function [`RANN::nn2`](https://rdrr.io/cran/RANN/man/nn2.html). Not sure if there's a comparable kNN implementation in Python.

[2017-07-06 14:30] #9279 closed

[2017-07-06 15:16] albertcthomas commented on #9174
Is someone working on this? I dont really know what the expected result is in this case. It is 'normal' that the results are not the same given that we use the max and the min of `sum_of_confidences` which are different for `X[i]` and `X`.

[2017-07-06 22:05] jnothman commented on #9174
yes, but perhaps that kind of statistic needs to come from training not
testing.

On 7 Jul 2017 1:17 am, "Albert Thomas" <notifications@github.com> wrote:

[2017-07-06 23:24] wallygauze commented on #6452
The dominating opinion was that raising an error would be enough, but because of the 'Enhancement' and 'Moderate' labels that were added at the end, I have to ask whether enabling `n_samples > n_components > batch_size` is still what is wanted for this 0.19 release.
Ok for just an error?

[2017-07-07 08:31] ashimb9 commented on #2989
I'll definitely take a look. Thanks!

[2017-07-07 15:12] #1837 closed

[2017-07-07 15:31] amueller opened #9291 "size_threshold in manhatten_distances?"
There's a parameter ``size_threshold`` in ``manhatten_distances`` that's unused and documented as unused. I'm wondering why it's not deprecated to be removed? Haven't checked the history.

[2017-07-07 17:21] pravarmahajan commented on #9291
Hi, I am new here. Can I have a look at this?

[2017-07-07 17:28] pravarmahajan commented on #9291
I checked the commit history. The parameter was introduced in [here](https://github.com/scikit-learn/scikit-learn/commit/161d19b3) as a threshold for matrix sizes to avoid memory issues. The usage of parameter was then removed [here](https://github.com/scikit-learn/scikit-learn/commit/3cbbe7df) since manhattan distance computation was moved to using scipy's implementation which does not allocate l

[2017-07-07 18:03] joshhamanngaia commented on #6122
Late to the party, but you can access elements within the pipeline, regardless how complicated, by walking through the pipeline structure, finding the appropriate step (even within featureunion) and then using the appropriate attribute.  Here is an example I just ran:

``
pipeline = Pipeline([
    ('union', FeatureUnion([
        ('categoric', Pipeline([
            ('f_cat', feature_type_split(ty

[2017-07-07 18:24] alpapado opened #9292 "[BUG] Label propagation sometimes produces label_distributions that contain Nan."
#### Description

Invalid value encountered in true_divide through when calling fit on LabelSpreading.

After convergence, the label distribution for some samples is all zero and so the variable ```normalizer``` in label_propagation.py:291 contains some zero values causing the division ```self.label_disributions_ /= normalizer``` to produce NaN.

Maybe there is a connection to #8008? In other data

[2017-07-07 19:00] liangtianumich opened #9293 "Bug: the predict method of Pipeline object does not use the exact predict method of final step estimator"
I am trying to use Pipeline with a customized final step estimator. This final estimator predict method can output std when using return_std=True.
But the predict method of Pipeline does not allow return_std option, gives error on scikit-learn/sklearn/utils/metaestimators.py Line 54.

In the user guide:user guide http://scikit-learn.org/stable/modules/pipeline.html
says the following, but the pred

[2017-07-07 19:41] amueller commented on #9291
yes, indeed, it should be removed in 0.21 (or maybe 0.22 if we don't get the deprecation into 0.19)

[2017-07-07 19:55] amueller commented on #8100
Should we sort the ``classes`` that the user provides? That might be surprising to the user, but not doing it might lead to subtle bugs as we rely on that in some places, I think?

It seems a bit strange to me that ``get_params`` and ``set_params`` return / set ``classes`` as searching over it is nonsensical, but I guess it's not the worst....

[2017-07-07 20:16] gwerbin opened #9294 "Document the "warm restarts trick""
As noted in [this SO question](https://stackoverflow.com/q/39130309/2954547), the documentation mentions a "warm restarts trick" for linear regression, but the documentation consists solely of a "TODO".

What is this trick? Maybe I could take a shot at writing it up.

[2017-07-07 21:05] amueller commented on #9272
@jnothman I expected test failures, though compilation failure is also great :-/

[2017-07-07 21:19] pravarmahajan commented on #9291
Thank you! Created a pull request

[2017-07-07 21:30] amueller commented on #9272
There is a segfault in elkans kmeans line 400

[2017-07-07 21:48] amueller commented on #9272
Opened https://github.com/cython/cython/issues/1764 to let them know

[2017-07-07 22:42] DSLituiev opened #9297 "[feature request] GroupShuffleSplit version to balance group sizes"
#### Description
`GroupShuffleSplit` splits vectors into groups based on the group fractions unlike similar generators that balance the number of samples.

Suggestion: provide a generator that makes some effort to balance the number of samples.

#### Steps/Code to Reproduce

#### Possible solution prototype
[code]

Standard deviation of the test size with the prototype reduces from about 11 to 6 i

[2017-07-08 04:30] pancha0 opened #9299 "RidgeCV gives a different result from running Ridge with manually implemented CV"
#### Description
I run Ridge regression with two methods:

1. Using RidgeCV
2. Using KFold to prepare folds for CV and then use Ridge for each fold

The optional alpha selected from the two methods are very different.

#### Steps/Code to Reproduce

https://gist.github.com/pancha0/a1e76afd12b2d93af7ddabe53a55680a

#### Expected Results

The best alphas from the two methods should be close.

#### Ac

[2017-07-08 09:06] jnothman commented on #1850
Fixed in #7388

[2017-07-08 09:06] #1850 closed

[2017-07-08 10:51] jnothman commented on #9292
Is this on the current master? we've changed LabelSpreading a lot.

Ping @musically-ut.

On 8 July 2017 at 04:24, Alexandros Papadopoulos <notifications@github.com>
wrote:

[2017-07-08 10:52] jnothman commented on #9293
Yes, I suppose this is a valid complaint. Additional args should probably be forwarded on prediction methods in Pipeline.

[2017-07-08 10:54] jnothman commented on #8100
As a first go, let's require that they are sorted, rather than sorting them.

There are other things that make no sense to sort over. There are some
parameters that make no sense to warm_start over. Shrug.

On 8 July 2017 at 05:55, Andreas Mueller <notifications@github.com> wrote:

[2017-07-08 10:55] musically-ut commented on #9292
The `knn` kernel is a bit circumspect because of the undirected edges and a fix is in the works.

Can this be reproduced with the `rbf` kernel as well?

[2017-07-08 10:57] jnothman commented on #9294
There are a few places where warm_start is documented elsewhere in the
docs. Filling this in by summarising or linking to that material might be
appropriate.

On 8 July 2017 at 06:16, Greg Werbin <notifications@github.com> wrote:

[2017-07-08 11:17] gnsiva opened #9300 "brier_score_loss returns incorrect value when all y_true values are True/1"
[code]
In all of these cases the output should be 0, as the `y_pred` correctly predicts `y_true`.

The function calls are `brier_score_loss` -> `_check_binary_probabilistic_predictions` -> `label_binarize`, with the issue starting in `label_binarize`.

`brier_score_loss` has a `pos_label` parameter, but setting this to 1, does not fix the issue. It then overwrites `y_true` with True and False base

[2017-07-08 11:42] gnsiva commented on #9300
I have made a tentative pull request [here](https://github.com/scikit-learn/scikit-learn/pull/9301).

[2017-07-08 11:46] palexang commented on #9292
Yes I believe it is on the current master. That is, it contains the latest pull request regarding the label_propagation module.

In the above code, changing the kernel to ```rbf``` produces a different, although similar, error.
[code]

[2017-07-08 11:51] agramfort commented on #9299
#9302 should fix it. thanks for providing a gist to replicate

[2017-07-08 11:56] musically-ut commented on #9292
Changing `gamma` should be able to circumvent the underflow in case of `rbf` kernel. We do need more tests for numerical stability in both cases.

[2017-07-08 17:44] pancha0 commented on #9299
Thank you for the quick fix. I can verify that the problem is fixed for my example.

[2017-07-08 21:43] jnothman commented on #6122
Please try [`eli5`'s `transform_feature_names`](http://eli5.readthedocs.io/en/latest/autodocs/eli5.html#eli5.transform_feature_names) which can work in cases where scikit-learn's `get_feature_names` doesn't.

[2017-07-08 21:58] jnothman commented on #9297
I'm trying to read your code to understand what it does, but it's not so
easy to do. while I'm sure I'll get it eventually, could you please try to
make your algorithm a bit more intelligible, with comments or a description?

On 8 Jul 2017 8:42 am, "Dmytro Lituiev" <notifications@github.com> wrote:

[2017-07-08 23:00] jnothman commented on #9292
How might we avoid that underflow while calculating the kernel?

[2017-07-09 08:19] pierthodo opened #9305 "Access "sample_weight" in adaboost"
Hello,

For a research paper I need to access the weights calculated by the Adaboostclassifier. Would it be possible to add the variable "sample_weight" as an attribute so I could publish code working with scikit-learn out of the box ?

Thank you,

Pierre

[2017-07-09 09:24] ashimb9 commented on #9268
@jmschrei @jnothman  Hey guys, so I have a working template ready for the new MixtureImputer class. Please be warned that this is at a *very* preliminary stage and is more a "proof of concept" than anything else right now. My hope at this point is to get a sense of what you guys think about the implementation and to ensure that I am on the right track. Before you dive into the code, here is the "b

[2017-07-09 10:25] jnothman commented on #9268
It's generally a good idea to start a WIP PR, as it makes things more
concrete.

However I don't think fitting on complete instances is identical to
performing EM in the first step (or just E), which should naturally
complete the missing data.

But I am more concerned that you are re-fitting the model with every
transform... How does that make sense? In supervised prediction, we need to
be able to

[2017-07-09 11:21] #9299 closed

[2017-07-09 18:42] brenolf commented on #8798
@lesteve I was taking a look at this issue and it seems to me that not passing `random_state` cannot possibly yield the same result in different calls, given that it'll be based in a random uniformly distributed initial state. Is it really an issue?

[2017-07-09 19:46] ashimb9 commented on #9268
With regards your first point, my understanding is that under the Missing at Random (MAR) assumption, it is a valid approach to begin by fitting the mixture using the EM algorithm with complete cases only (and for what it's worth, is also done in the references I provided above).
But I definitely agree with your second point -- it was not a good idea to place the refitting in transform() and I wil

[2017-07-09 20:01] budhiraja opened #9306 "Custom distance function in nearest neighbor giving wrong answer"
I am trying to use custom model function from Sklearn but its giving wrong distances. I have two vectors and I simply compute their cosine similarity and then, do `1 - cosine_similarity` to be used as a distance measure.

This is the code:

    from sklearn.metrics.pairwise import cosine_similarity
    def dist_fun(x, y):
        return 1 - cosine_similarity(x.reshape(-1, 1), y.reshape(-1, 1))

[2017-07-09 22:20] jmschrei commented on #9305
I'm not entirely sure how this would fit in with our current API. If you have a suggestion, the best idea is probably for you to submit a pull request and we'd be happy to review it.

[2017-07-09 23:02] jnothman commented on #9306
I think there is a problem with the shape of your input to the kneighbors
function. it should be 2d and yet you are extracting a single entry from x.

we should perhaps be raising an error in the case of mismatched shape.
However we are lenient for user metrics to allow for non-rectangular data

On 10 Jul 2017 6:01 am, "budhiraja" <notifications@github.com> wrote:

[2017-07-09 23:10] jnothman opened #9307 "n_components parameter unused in linkage_tree"
`sklearn/cluser/hierarchical.py:linkage_tree` accepts an undocumented `n_components` parameter, which it does not use. It should be removed, perhaps with deprecation.

H/T lgtm.com via https://github.com/lgtmhq/lgtm-queries/issues/14

[2017-07-09 23:13] jnothman opened #9308 "Should `affinity` be passed to `_fix_connectivity` in `linkage_tree`?"
`_fix_connectivity` in `sklearn/cluster/hierarchical.py` accepts `affinity`, but is not passed it by `linkage_tree`. Should it be? Ping @GaelVaroquaux

H/T lgtm.com via https://github.com/lgtmhq/lgtm-queries/issues/14

[2017-07-09 23:17] GaelVaroquaux commented on #9308
I do believe that it should. It's an oversight from the person who wrote
this code (me, probably).

[2017-07-09 23:24] jnothman commented on #9308
I've marked it as a bug. The fix should ideally include a regression test.

[2017-07-09 23:26] GaelVaroquaux commented on #9308
Finding a good one might be the hardest part of fixing (thought probably
not impossible)

[2017-07-09 23:32] jnothman commented on #9308
Well, mocking would work :)

Otherwise, a strange custom affinity?

On 10 July 2017 at 09:26, Gael Varoquaux <notifications@github.com> wrote:

[2017-07-10 00:06] jmschrei commented on #9268
It makes sense to have both a `fit` and a `fit_transform` method. The `fit` method would fit to data using the EM algorithm and the `transform` method would fill in incomplete data. The `fit_transform` method would then fit to incomplete data and impute the missing values. Presumably one would mostly use `fit_transform`, but the model fitting and imputation steps can be separate.

[2017-07-10 00:10] jmschrei commented on #9268
I think that you should theoretically be able to split the imputation into two steps, the model fitting and the imputation steps. The model fitting can be done on the incomplete matrix or on totally other data because all you're doing is learning properties of the features, not the samples. Typically one would likely want to do `fit` and `transform` on the same dataset like a traditional imputatio

[2017-07-10 00:14] DSLituiev commented on #9297
Sure. Please see inline comments:

[code]

A binary mask of the test set can be obtained with following lines:
[code]

[2017-07-10 00:35] jnothman commented on #9297
Yes, I like the sound of that algorithm! We need to check it cannot
generate an empty train or test set, though, and raise an error not just
when it happens to.

Whether we should replace the current is a trickier question. For backwards
compatibility we could offer a strategy option and deprecate the default so
that the default strategy changes in a couple of releases' time.

On 10 Jul 2017 10:14

[2017-07-10 01:19] sharanry commented on #9307
Hey! Can I work on this?

[2017-07-10 02:48] jmschrei commented on #9268
Also, I think you need not support all of those features to get a first PR merged. Specifically, b and f can be good additions later on.

[2017-07-10 04:17] jnothman commented on #9307
sure

On 10 July 2017 at 11:19, Sharan Yalburgi <notifications@github.com> wrote:

[2017-07-10 04:25] budhiraja commented on #9306
My bad. The function return sorted distances and indices of 'nearest neighbors'.

[2017-07-10 04:25] #9306 closed

[2017-07-10 06:08] glemaitre commented on #9272
With cython master, the segfault is solved and #9311 is solving the issue of the redundant GIL acquisition.

[2017-07-10 06:38] jengelman commented on #8714
@agramfort Looking back on this, I think warm_fit might be what I'm looking for.  Wasn't completely sure from the documentation (just says "uses previous solution as initialization"), but looks like setting warm_fit=True sets the mean and covariance priors to the previous fit.  I've done a bit of testing with successive fits, but can you confirm that's what this parameter does?

[2017-07-10 09:27] musically-ut commented on #9292
I think detecting underflows in the kernel is a separate issue. Is there an example of any method in `scikit-learn` which detects under/over flows?

In this particular case, I think underflows can be safely set to zero; it would just mean that certain nodes are not connected to each other.  We can use [`numpy.seterr`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.seterr.html) to `"ign

[2017-07-10 10:08] tguillemot commented on #8714
@jengelman I'm not an expert of BayesianGaussianMixture. I've just implemented the Bishop's formula by comparing with another implementation https://github.com/PRML/PRMLT (done in matlab).

For now, BayesianGaussianMixture are not designed to work with `partial_fit` and your previous example seems agreed with the expected behavior: every time you do a fit, you compute the prior from the given data

[2017-07-10 10:09] jonvegards opened #9312 "Residual sum vs. regression sum"
Hi,

A short question regarding the documentation for the GradientBoostingRegressor. In the documenation for the score method to this regressor we can read that it gives the R^2 value, which is defined as 1 - u/v. Further on we read that u = ((y_true - y_pred) ** 2).sum() and is called the regression sum and that v = ((y_true - y_true.mean()) ** 2).sum() and is called the residual sum. I found thi

[2017-07-10 11:44] jnothman commented on #9312
Thanks. A pull request is welcome if it's not already fixed in masteri

[2017-07-10 11:47] jnothman commented on #9292
There appear to be at least a couple of cases where we explicitly ignore underflow

[2017-07-10 11:48] jnothman commented on #9292
Yes, your solution to underflow seems reasonable. Not the same as this issue, though

[2017-07-10 11:53] musically-ut opened #9313 "[BUG] Underflows in LabelPropagation and LabelSpreading should be ignored."
#### Description

`LabelPropagation` with the `rbf` kernel should ignore underflow errors.

#### Steps/Code to Reproduce

Example taken from #9292.

[code]

#### Expected Results

No error should be thrown.

#### Actual Results

[code]

[2017-07-10 11:59] musically-ut commented on #9292
Hmm, I've been thinking about edge cases here.

If we end up with a connected component which does not have any labeled nodes within it, then the normalization will produce `NaN`s since the row of `label_distribution_` will contain zeros irrespective of how many iterations we run the algorithm for (there are no nodes which can transduce any labels).

I think it is reasonable to give the output `1/

[2017-07-10 12:15] alpapado commented on #9292
I believe this is exactly the issue I am facing. It agrees with the observation that increasing the ```n_neighbors``` parameter to large enough values, prevents the error from occuring, which makes sense since increasing ```n_neighbors``` decreases the chances of ending up with a node that is not connected to any labeled nodes.

[2017-07-10 12:31] SebastinSanty commented on #9286
Not sure, what exactly I would have to implement here? @jnothman if you could hint me.

[2017-07-10 17:38] jengelman commented on #8714
@tguillemot Alright, I'll get working on it!

[2017-07-10 19:54] amueller opened #9319 "Vectorizer tests use deprecated non_negative=False"
They should probably catch the errors and/or use the new option.

[2017-07-10 20:05] liangtianumich commented on #9293
`
#a randomly generated example X and y
X=np.array([[-1.15,500],[-1.0,525],[-0.9,530],[-0.8,540]])
y=np.array([[0.1],[0.2],[0.3],[0.4]])
# the estimator to use the predict method of Pipeline object
estimator = Pipeline([('pca',PCA(n_components=1, whiten=True)),('poly', PolynomialFeatures()),('linear', LinearRegressionStd())])
max_order = min([6,X.shape[0]-1])
params=dict(poly__degree=[j+1 for j in

[2017-07-10 21:55] jnothman commented on #9286
identify the files in examples/ where these come from, from the filenames.
then try to make them look more like they do at the /stable/ docs from the
last release (on matplotlib 1)

On 10 Jul 2017 10:31 pm, "Sebastin Santy" <notifications@github.com> wrote:

[2017-07-10 21:56] jnothman commented on #9294
but there are others. The point of this section is to get the general idea
together

On 10 Jul 2017 10:47 pm, "Sebastin Santy" <notifications@github.com> wrote:

[2017-07-10 22:24] #9312 closed

[2017-07-11 00:25] sharanry commented on #9172
Can i work on this?

[2017-07-11 01:07] kevinlmh commented on #9319
Hi. I would like to contribute. I found usages of non_negative option in tests for `FeatureHasher` and `HashingVectorizer`. Can you explain what needs to be done besides removing these options in a bit more detail? Thank you.

[2017-07-11 02:10] jnothman commented on #9319
easiest way is to use sklearn.utils. testing.ignore_warnings

On 11 Jul 2017 11:07 am, "Minghui Liu" <notifications@github.com> wrote:

[2017-07-11 02:49] cclauss opened #9321 "Flake8: F821 undefined name 'j' in pyparsing.py"
[code]

#### Description
Six cases of undefined variables listed above.

#### Steps/Code to Reproduce
`$ flake8 . --count --select=E901,E999,F821,F822,F823 --statistics`

#### Expected Results
None

#### Actual Results
See output in description above

#### Versions
Current Master at https://github.com/scikit-learn

[2017-07-11 03:30] ashimb9 commented on #9268
I think you are referring to an approach similar to the one taken in [this paper](http://papers.nips.cc/paper/767-supervised-learning-from-incomplete-data-via-an-em-approach.pdf)? If my understanding is correct, it appears that this approach would require modification of mixture.GaussianMixture itself, since the current implementation does not handle NaNs. Is that what you had in mind?

[2017-07-11 05:00] jnothman commented on #9268
yes that would be one principled solution. I don't know how our gmms are
currently optimised

On 11 Jul 2017 1:30 pm, "ashimb9" <notifications@github.com> wrote:

[2017-07-11 05:02] SebastinSanty commented on #9286
Regarding `plot_bias_variance`, the legend in dev plot is translucent and hence I feel that dev plot is more visible than that of stable plot.

[2017-07-11 05:03] jnothman commented on #9286
The problem is how big the legend I relative to the plot

On 11 Jul 2017 3:02 pm, "Sebastin Santy" <notifications@github.com> wrote:

[2017-07-11 05:08] SebastinSanty commented on #9286
I'll correct them.

[2017-07-11 05:13] jnothman commented on #9321
We don't need to change pyparsing, which is not our code and works for our purposes, and the undefined variables in the tutorial are intentional (their creation is an exercise for the student).

[2017-07-11 05:13] #9321 closed

[2017-07-11 05:13] jnothman commented on #9321
Thanks for taking the time to submit an issue.

[2017-07-11 05:23] facaiy commented on #9293
Thanks, @liangtianumich .

Unfortunately, the python code is parsed as markdown by Github. Could you upload a py file or use code mark \` to swap your python code? like:

\```python
paste your code here
\```

[2017-07-11 14:37] csbrown opened #9323 "KFold random_state not working as expected"
The new KFold in model_selection doesn't seem to respect the random_state.  See this stackoverflow question and answers:  https://stackoverflow.com/questions/41859613/how-to-obtain-reproducible-but-distinct-instances-of-kfold-and-groupkfold-sci-ki/45037271#45037271

[2017-07-11 14:41] ScientiaEtVeritas opened #9324 "Mahalanobis Distance: Pseudo Inverse Instead of Inverse"
Is there any quick workaround to make the Mahalanobis Distance using ``pinv`` instead of ``inv``, for using it on ill-conditioned matrices?

[2017-07-11 15:13] liangtianumich commented on #9293
Dear Facai,
@facaiy Thanks for the message. Now the file is attached. @jnothman , Thanks for your editing.
Best Regards
[example.txt](https://github.com/scikit-learn/scikit-learn/files/1139351/example.txt)

Liang

[2017-07-11 15:17] liangtianumich commented on #9293
I think that the comment on github issue seems not support .py file. I
uploaded a .txt file previously. Now i attached a .py file.
Thanks.

Regards
Liang

On Tue, Jul 11, 2017 at 1:23 AM, Yan Facai (颜发才) <notifications@github.com>
wrote:

[2017-07-11 15:36] raghavrv opened #9325 "Make parameter docstrings match function/constuctor signatures"
Continue #9206 and finish up the rest of the docstrings.

Uncomment the untested modules in `sklearn/tests/test_docstring_parameters.py`, fix doc inconsistencies and make all tests pass.

todo (modules)

- [x] 'sklearn.cross_decomposition', (@clemkoa)
- [x] 'sklearn.discriminant_analysis', (@clemkoa)
- [ ] 'sklearn.ensemble', (@clemkoa)
- [ ] 'sklearn.feature_selection', (@clemkoa)
- [ ] 'sklearn.

[2017-07-11 16:42] #7758 closed

[2017-07-11 17:30] clemkoa commented on #9325
Hi,

I can try to do this if that's okay with you.

[2017-07-11 18:07] raghavrv commented on #9325
Sure and thanks. Pick just one (or maybe 2) module(s) and do it to keep the PR small. I've edited the description with the todo list of modules.

[2017-07-11 18:34] herilalaina commented on #9079
`check_class_weight_balanced_linear_classifier` is run at tests/test_common.
[code]

I can implement a test for `check_class_weight_balanced_classifiers` if that is what we want.

[2017-07-11 19:32] DSLituiev commented on #9297
I am not sure what you mean by saying:

"We need to check it cannot generate an empty train or test set, though, and raise an error not just when it happens to."

To raise an exception when what exactly happens?

[2017-07-11 20:35] gabelev commented on #9308
Would love to help and take this on. Any hints on a regression test to follow?

[2017-07-11 20:45] clemkoa commented on #9325
I'll start with 'sklearn.cross_decomposition' and 'sklearn.discriminant_analysis', cheers!

[2017-07-11 21:40] jnothman commented on #9323
The main answer's claim that the model_selection version does not use
random_state is simply not true. It just does in one line what the previous
implementation did in two.

Could you provide some code to show what you are doing and what
expectations are not being met please?

On 12 Jul 2017 12:37 am, "Scott Brown" <notifications@github.com> wrote:

[2017-07-11 23:43] jnothman commented on #9297
when split is called rather than when the ith split is generated. or
perhaps we can just rejection sample.

Basically I would like you to comment on the boundary case where we could
generate an empty train or test.

On 12 Jul 2017 5:32 am, "Dmytro Lituiev" <notifications@github.com> wrote:

[2017-07-12 01:30] satwikbh opened #9330 "Possible bug with Incremental PCA"
#### Description

This maybe a possible bug or my assumption is wrong regarding the Incremental PCA's fit / partial_fit methods. For valid parameters, the error thrown is *ValueError: Number of input features has changed from 10 to 100 between calls to partial_fit! Try setting n_components to a fixed value.*

#### Steps/Code to Reproduce
Example:
I want to perform the pca on the below matrix with

[2017-07-12 01:36] pancha0 opened #9331 "Ridge Behaves Differently in Python 3.5 and 3.6"
#### Description

I wrote a script to fit Ridge with different values of alpha, then plot the shrinkage path of the coefficients. The plot looks as expected when the code is run in Python 3.6. However, when I run the same code in Python 3.5, the plot looks very bizarre.

#### Steps/Code to Reproduce

https://gist.github.com/pancha0/593308bab1e1202f7213f3c0b1e3976d

#### Expected Results

The two p

[2017-07-12 01:48] jnothman commented on #9331
Please provide plots.

On 12 July 2017 at 11:36, Pan Chao <notifications@github.com> wrote:

[2017-07-12 01:56] pancha0 commented on #9331
Do you see the plots in the gist? Anyway, attached below

Python 3.5

![plot_python35](https://user-images.githubusercontent.com/5241979/28098343-c2496930-6683-11e7-82a2-ee16e97d0ca6.png)

Python 3.6

![plot_python36](https://user-images.githubusercontent.com/5241979/28098350-cc8c296e-6683-11e7-8d73-da3ab37b1415.png)

[2017-07-12 02:23] jnothman commented on #9331
Sorry, just triaging. Didn't look at gist yet.

On 12 July 2017 at 11:56, Pan Chao <notifications@github.com> wrote:

[2017-07-12 03:12] pancha0 commented on #9331
It seems that this is caused by how the elements in `enumerate(models_dict.values())` is ordered in Python 3.5. The value elements seems to be in a different order from what I expected (i.e. in the same order as `alphas`).

I changed the way how the fitted models (for different alphas) are stores. Instead of saving them in a dictionary, I saved them in a list (so the order is maintained when the l

[2017-07-12 03:20] jnothman opened #9333 "AffinityPropagation damping factor not explained"
It's clear from AffinityPropagation documentation that damping is a key parameter, but there is no description of it in either the API or User Guide docs.

[2017-07-12 03:28] jnothman commented on #9331
Yes, dicts are [stored in insertion order](https://mail.python.org/pipermail/python-dev/2016-September/146327.html) in Python 3.6.

So this is a problem in your plotting of the model? Can we close this issue?

[2017-07-12 03:33] jnothman commented on #9331
Btw, dict iteration order should generally not be relied upon in Python.
I'm not sure to what extent Py3.6 is now giving assurances that this will
be preserved.

On 12 July 2017 at 13:12, Pan Chao <notifications@github.com> wrote:

[2017-07-12 03:34] pancha0 commented on #9331
Sure. Thanks

--
Pan

[2017-07-12 07:48] #9331 closed

[2017-07-12 09:46] rth commented on #9319
Also related https://github.com/scikit-learn/scikit-learn/issues/9152 (now fixed).

[2017-07-12 10:28] jnothman opened #9336 "discrete branch: add encoding option to discretizer"
We recently merged a discretizing transformer into the [`discrete` branch](https://github.com/scikit-learn/scikit-learn/tree/discrete) (see [diff between that branch and master](https://github.com/scikit-learn/scikit-learn/compare/discrete)). Before merging it into master, we'd like it to be able to one-hot encode the output by default.

I propose that we have a parameter `encode='onehot'` by defa

[2017-07-12 10:37] jnothman opened #9337 "discrete branch: automatic determination of number of bins"
We recently merged a discretizing transformer into the [`discrete` branch](https://github.com/scikit-learn/scikit-learn/tree/discrete) (see [diff between that branch and master](https://github.com/scikit-learn/scikit-learn/compare/discrete)).

One small extension to it is to allow the number of bins to be guessed by the estimator, using one of the strategies supported by [`np.histogram`](https://d

[2017-07-12 10:43] jnothman opened #9338 "discrete branch: quantile and kmeans strategies"
We recently merged a discretizing transformer into the [`discrete` branch](https://github.com/scikit-learn/scikit-learn/tree/discrete) (see [diff between that branch and master](https://github.com/scikit-learn/scikit-learn/compare/discrete)).

The current discretizer there makes fixed width bins based on each feature's input range. While we could do quantile bins by preceding this in a pipeline wi

[2017-07-12 10:45] jnothman opened #9339 "discrete branch: add a compelling example of discretization's benefits"
We recently merged a discretizing transformer into the [`discrete` branch](https://github.com/scikit-learn/scikit-learn/tree/discrete) (see [diff between that branch and master](https://github.com/scikit-learn/scikit-learn/compare/discrete)). Before merging it into master, we'd like a compelling example for our example gallery showing an application of machine learning where discretized features a

[2017-07-12 10:57] jnothman commented on #9323
I think the concerns at SO were misplaced.

[2017-07-12 11:11] SebastinSanty commented on #9336
If I correctly interpret, should the output of [this](https://github.com/scikit-learn/scikit-learn/compare/discrete#diff-122fad4f90405b4ac9d6bec08dfc0e61R192) be encoded according to the value ('onehot' or 'ordinal') passed to encode arg?

[2017-07-12 11:32] jnothman commented on #1062
I think this is more-or-less fixed by QuantileTransformer...

[2017-07-12 11:32] #1062 closed

[2017-07-12 11:32] jnothman commented on #5778
A discretizer has been merged to a branch. Should be merged to master once some remaining features and an example are added.

[2017-07-12 12:13] jnothman commented on #9336
Yes. KBinsDiscretizer.transform

On 12 July 2017 at 21:11, Sebastin Santy <notifications@github.com> wrote:

[2017-07-12 12:26] jnothman opened #9341 "discrete branch: allow nans?"
We recently merged a discretizing transformer into the [`discrete` branch](https://github.com/scikit-learn/scikit-learn/tree/discrete) (see [diff between that branch and master](https://github.com/scikit-learn/scikit-learn/compare/discrete)).

Missing values, represented as NaN, could be treated as a separate category in discretization. This seems much more sensible to me than imputing the missing

[2017-07-12 12:51] #9323 closed

[2017-07-12 12:58] jzf2101 commented on #4453
Haversine pairwise distances seems only to be directly accessible through `sklearn.neighbors.DistanceMetric.get_metric('haversine').pairwise`.  This method doesn't use joblib, unlike pairiwise?

[2017-07-12 22:34] andela-rbabalola commented on #6683
Hello. I'm also encountering this issue when I use `tsne.fit_transform` how can I fix this?

[2017-07-13 00:17] jnothman commented on #6683
Use the version just merged into master, and soon to be released, please.

[2017-07-13 00:17] jnothman commented on #8582
Should be fixed in #9032

[2017-07-13 00:17] #8582 closed

[2017-07-13 00:19] jnothman commented on #7089
Fixed in #9032

[2017-07-13 00:19] #7089 closed

[2017-07-13 00:20] jnothman commented on #7215
@ogrisel, does this pertain to the current implementation post-#9032?

[2017-07-13 00:20] jnothman commented on #6204
Should be fixed in #9032

[2017-07-13 00:20] #6204 closed

[2017-07-13 00:21] jnothman commented on #8992
Should be fixed in #9032

[2017-07-13 00:21] #8992 closed

[2017-07-13 01:27] jnothman opened #9344 "covariance.graph_lasso does not pass eps to linear_model.lars_path"
I think `eps` in `graph_lasso` should be being passed to `lars_path`. Otherwise `eps` is used in the `mode='cd'` case but not in the `mode='lars'` case.

H/T lgtm.com via [lgtmhq/lgtm-queries#14](https://github.com/lgtmhq/lgtm-queries/issues/14)

[2017-07-13 01:39] jnothman opened #9345 "Should copy be passed from linear_model/base.py:_pre_fit to _preprocess_data in the sparse case?"
`_pre_fit` has a parameter `copy` but it is only passed to `_preprocess_data` in the dense case. Should it also be passed [in the sparse case](https://lgtm.com/projects/g/scikit-learn/scikit-learn/snapshot/87f64296b90bce67093688430ae668510ccec3f4/files/sklearn/linear_model/base.py#L524)?

H/T lgtm.com via [lgtmhq/lgtm-queries#14](https://github.com/lgtmhq/lgtm-queries/issues/14)

[2017-07-13 01:48] jolespin commented on #7215
Is the new implementation you're referring to able to be parallelized since it's restricted to 2 embeddings ? Like in this implementation:
https://github.com/DmitryUlyanov/Multicore-TSNE
Sent from my iPhone

[2017-07-13 01:49] jnothman commented on #7215
The new version is not multi-core.

[2017-07-13 02:17] jolespin commented on #7215
Do you know if there are any PRs for implementing a parallel version of bhtsne?

[2017-07-13 02:33] jnothman commented on #7215
no PRs. Currently there is no parallelism in the scikit-learn project that
is not of the "embarrassingly parallel" kind. There has been mention of
supporting Open MP parallelism but no active work to my knowledge; and
there will be some opposition I expect.

On 13 Jul 2017 12:17 pm, "Josh L. Espinoza" <notifications@github.com>
wrote:

[2017-07-13 02:51] hlin117 commented on #9336
Because of the [`ignored_features` attribute](https://github.com/scikit-learn/scikit-learn/blob/discrete/sklearn/preprocessing/discretization.py#L97) it seems this is only a viable option if we know the output matrix only contains integers. (We can choose to ignore a continuous feature when discretizing, in which case it makes no sense for the output to be sparse.)

Should the `encode='onehot'` pa

[2017-07-13 02:54] jnothman commented on #9336
Well, we would only one-hot encode those features that have been
discretized. I see the problem with the sparse output in that case, but I'm
not otherwise sure what the concern is.

Does ignored_features create more issues than it's worth. Is it worth
getting rid of, I wonder, given that we're trying to make this easier with
#9012?

On 13 July 2017 at 12:51, Henry Lin <notifications@github.com> wr

[2017-07-13 03:04] hlin117 commented on #9336
discretized. I see the problem with the sparse output in that case, but I'm
not otherwise sure what the concern is.

Isn't having categorical features or features we purposely want to keep continuous a big enough concern?

getting rid of, I wonder, given that we're trying to make this easier with
#9012?

I'm only learning of #9012 now. It seems to be a way to ignore categorical features anyway, co

[2017-07-13 04:44] jnothman commented on #7126
Let's close it, then?

[2017-07-13 04:44] #7126 closed

[2017-07-13 05:33] jolespin commented on #7215
Thanks for the explanation.  My knowledge of different types of parallelism is very limited.  I know that tSNE has been parallelized with OpenMP but I'm not sure how it is implemented.  Definitely something I need to investigate.  I tried making a few parts of the tSNE algorithm faster but to no avail.

Is the type of parallelism implemented by OpenMP specific to an architecture that can't be impl

[2017-07-13 06:23] bmanohar16 commented on #9344
Hi @jnothman, I would like to take this up.

In graph_lasso_.py, line 221, we need to add eps parameter to lars_path like below?
_, _, coefs = lars_path(
   sub_covariance, row, Xy=row, Gram=sub_covariance,
   alpha_min=alpha / (n_features - 1), copy_Gram=True,
   method='lars', return_path=False, eps=eps)

[2017-07-13 06:31] SebastinSanty commented on #9344
@bmanohar16 Sorry, I didn't note your comment. If you want, you can take up this issue.

[2017-07-13 06:43] bmanohar16 commented on #9344
No problem @SebastinSanty I see you are done with it before I even started looking into it.

[2017-07-13 06:48] fingoldo commented on #1626
Hi guys can you please comment on the current status of this feature?
When I started reading Scikit learn books (btw thank you Andreas for your nice book) and watching online courses, one of my first question after coming from Matlab world (where i used to train ANN models) was "where the hell is early stopping here?"
One literally can't find any book on the subject mentioning it and it seems like

[2017-07-13 07:19] jnothman commented on #9344
I'd meant to ping @GaelVaroquaux

[2017-07-13 07:20] jnothman commented on #9344
The challenge here might be trying to construct a test

[2017-07-13 08:03] SebastinSanty commented on #9344
Yes, I sensed that coming. I'll try with that too.

[2017-07-13 11:39] SebastinSanty commented on #9308
@jnothman `_fix_connectivity` is not tested AFAIK. What should I be doing?

[2017-07-13 13:27] Jan-Ko commented on #6723
This also happens in the two label case, i couldn't reproduce it in the three label case

[code]

note that in the  case that's non working, im choosing a label not existing.

[2017-07-13 13:34] Jan-Ko commented on #6723
soory, it seems like this issue is already known and treated in [#7773](https://github.com/scikit-learn/scikit-learn/pull/7773)

[2017-07-13 15:28] amueller commented on #6231
See #9290 for a draft of the API.

[2017-07-13 15:37] #9333 closed

[2017-07-13 15:38] amueller opened #9350 "Bug in common tests: should use utils.testing._get_args"
Right now we are using ``inspect`` in some common tests (``utils.estimator_checks``) to get method arguments. But that doesn't work if the method is decorated, for example with a deprecation.

In that case we need to use ``utils.testing._get_args``. So we need to make sure to use that whenever we inspect arguments.
A good test would be to create a model that has all methods deprecated and see if t

[2017-07-13 15:43] #9344 closed

[2017-07-13 15:50] amueller commented on #8678
See #9041

[2017-07-13 16:07] amueller commented on #9079
yeah that's what we want

[2017-07-13 16:14] amueller commented on #8451
Can you give code to reproduce this? It looks like there's some bug in your code. This can not happen with any scikit-learn estimator.

[2017-07-13 16:17] amueller commented on #8379
what's the status on this one?

[2017-07-13 16:19] amueller commented on #8337
Well, doesn't work for me either lol

[2017-07-13 16:22] ogrisel opened #9351 "Unstable LogisticRegression with saga solver l1 penalty under macOS"
[code]

numpy and scipy are imported from the following wheels from PyPI:

- numpy-1.11.3-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (at buil time)

- numpy-1.13.1-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (at test time)

- scipy-0.19.1-cp36-cp36m-macosx_10_6_intel.m

[2017-07-13 16:24] ogrisel commented on #9351
It could also be the case that our Cython code for saga is not numerically stable when compiled with clang.

[2017-07-13 16:45] ogrisel opened #9352 "Add travis configuration to run the tests on 32 bit linux"
This issue should be "easy" if you are already familiar with:

- travis configuration
- bash scripting
- docker

We need to add the following line in our `.travis.yml`:

[code]

more details in [Using Docker in Builds](https://docs.travis-ci.com/user/docker/).

Here is a minimalistic script that could put in `build_tools/travis/docker_test.sh`:

[code]

This script can used to launch the test with

[2017-07-13 16:47] vishaltak commented on #8451
Something along the lines of:
X-train = Input features(Training Set)
Y_train = Expected output(Training Set)
X_test = Input features(Test Set)

Data - 'data.csv'
[code]
Code - 'voting.py'
[code]

[2017-07-13 16:50] ogrisel opened #9353 "Add travis configuration to launch the tests on macOS"
It would be great to get a new travis entry to run the tests on macOS. In order to spare resource I think it's fine to just test with the latest stable version of Python 3, numpy, scipy and cython.

It not trivial to build and test Python projects under OSX. The [matthew-brett/multibuild](https://github.com/matthew-brett/multibuild) scripts can help a lot to get this working although as we don't n

[2017-07-13 17:37] ogrisel commented on #9352
A side note: when running the tests on a 32 bit platform, the string representation of numpy arrays can change, leading to failing doctests such as follows:

[code]

This means that we will need to find a way to configure pytest to **not** run the doctests in module docstrings. Currently we enable this by default in the `pytest` section of our `setup.cfg`.

One way to avoid having this option bein

[2017-07-13 19:10] amueller commented on #8451
This is not self-contained. What is ``estimators``?

[2017-07-13 19:12] amueller commented on #8451
The bincount is applied to the result of a classifier that is trained on non-negative integer labels. For some reason it produces a negative result, despite all the the input labels being positive. So the question is what classifier does that?

[2017-07-13 19:13] #9291 closed

[2017-07-13 19:23] mikeroberts3000 opened #9354 "Numerical precision of euclidean_distances with float32"
#### Description
I noticed that sklearn.metrics.pairwise.pairwise_distances function agrees with np.linalg.norm when using np.float64 arrays, but disagrees when using np.float32 arrays. See the code snippet below.

#### Steps/Code to Reproduce

[code]

#### Expected Results
I expect that the results from sklearn.metrics.pairwise.pairwise_distances would agree with np.linalg.norm for both 64-bit an

[2017-07-13 19:49] bmwilly commented on #3455
Is there any plan on merging this? I can't find any discussion more recent than this issue.

[2017-07-13 20:34] raghavrv commented on #9276
Fixed in #9283

[2017-07-13 20:34] #9276 closed

[2017-07-13 20:36] raghavrv commented on #9113
The tests should go to `/sklearn/neural_network/tests/test_mlp.py`

[2017-07-13 20:59] jmschrei opened #9355 "Add explanation of MSE vs MAE criterion in tree building"
This should add a brief summary of the difference between MSE and MAE when building decision trees to the relevant tree building pages. Specifically, discussing how MSE minimizes the L2 error using the mean value while MAE minimizes L1 error using the median value.

[2017-07-13 21:21] raghavrv commented on #8628
This has an active PR at #8652

[2017-07-13 21:48] #9280 closed

[2017-07-13 22:00] williamdjones commented on #5956
this should not be closed as it is nearly a year later and no progress has been made in providing a good solution to the problem.

[2017-07-13 22:02] williamdjones commented on #5956
currently I am still dealing with this issue and it is nearly a year since. this is still an open issue.

[2017-07-14 00:10] jnothman commented on #8379
Fixed in #8569

[2017-07-14 00:11] #8379 closed

[2017-07-14 00:16] jnothman commented on #9353
perhaps we should only test branches, not PRs, if failures are expected to
be very uncommon?

On 14 Jul 2017 2:51 am, "Olivier Grisel" <notifications@github.com> wrote:

[2017-07-14 00:29] jnothman commented on #8451
we've seen complaint of similar problems when a regressor was used in a
VotingClassifier. So what estimators is is the essence of the problem, or
at least needs to be eliminated

On 14 Jul 2017 5:12 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-07-14 00:41] jnothman commented on #9355
I'm sure something like this was added since 0.18.1. @raghavrv?

[2017-07-14 00:45] jnothman commented on #5956
If you have a solution, please contribute it, @williamdjones

[2017-07-14 03:54] stephenweiwang commented on #9285
@jnothman @raghavrv Hi all, can I try to work on this one? And what's your plan, raise a warning or an error for mixed types?

[2017-07-14 06:08] jnothman commented on #9285
Yes, I think so. I suppose, however, it's possible that someone has been
passing mixed types in and building their code on that basis, so we may
need to use a deprecation cycle, raising a warning that "In the future
mixed numeric and string types will not be supported for classification
labels."

On 14 July 2017 at 13:54, Stephen Wang <notifications@github.com> wrote:

[2017-07-14 06:18] jnothman commented on #9308
I expect that it is tested indirectly... which is the only way you could test this anyway.

[2017-07-14 09:21] rth commented on #7574
A few more thoughts on this. For all estimators that either,
  * [support incremental learning](http://scikit-learn.org/stable/modules/scaling_strategies.html#incremental-learning)  (i.e. have a `partial_fit` method) , including `MiniBatchKmeans`
  * support iterators and process one row of data at a time (e.g. `CountVectorizer().fit_transform`)

using [tqdm](https://github.com/tqdm/tqdm) progress

[2017-07-14 09:27] rth commented on #8792
In the case of `n_jobs=1`, running `pairwise_distances` on chunks of the data with tqdm should just work., while the parallel case was addressed by @jnothman above.

@jolespin Feel free to close this issues if it is resolved.

[2017-07-14 15:33] #8792 closed

[2017-07-14 16:07] ogrisel commented on #9353
We could do that indeed. In particular I noticed on other projects where we test on macOS that the osx travis worker tend to be less available than linux workers and I would not like to have all PRs to have a slow CI as a result.

[2017-07-14 16:47] ogrisel commented on #9351
I have built scikit-learn with clang under linux and I cannot reproduce. Here is the clang version I have:

[code]

so the failure is probably not related to the compiler.

[2017-07-14 17:29] ogrisel commented on #9351
I built OpenBLAS 0.2.19 from source on my oldish mac and built scikit-learn against it and I got the `test_logistic.py` to pass. So this is a confirmation that the saga solver tests in `test_logistic.py` trigger a numerical instability in Accelerate...

Building scikit-learn macOS wheels that embed openblas is possible but not trivial. @matthew-brett  I wonder what are the plan for numpy and scipy

[2017-07-14 18:02] wallygauze commented on #6452
Can someone consider my pull-request in #9303? @amueller I would change it from WIP to MRG, but I would need the confirmation that an error is enough for the 0.19 release.

[2017-07-14 18:07] wallygauze commented on #6452
Nevermind, I'll just change it to MRG for now so it is clear I have finished it.

[2017-07-14 18:23] agramfort commented on #5956
https://github.com/scikit-learn/scikit-learn/pull/4807 is probably the more advanced effort to address this.

[2017-07-14 18:27] ogrisel commented on #9351
Actually I relaunched the tests and the failure is random both with OpenBLAS and Accelerate...

[2017-07-14 18:33] chananshgong opened #9359 "precision_recall_curve is not as I would expect"
#### Description
precision_recall_curves return values which are not correct.

#### Steps/Code to Reproduce
Example:
compare the answer here https://stats.stackexchange.com/questions/183504/are-precision-and-recall-supposed-to-be-monotonic-to-classification-threshold to what sklearn returns

[code]
![default](https://user-images.githubusercontent.com/24369534/28225723-4c54c872-68dc-11e7-9835-38238

[2017-07-14 19:04] waltermblair opened #9360 "use of Parallel class by OneVsRestClassifier versus BaggingClassifier"
#### Description
I'm just getting started looking at performance for SVM, and I found the following code that bags SVM to greatly improve speed. I tried adding in the n_jobs=-1 param for OneVsRestClassifier and for BaggingClassifier, but on my PC as well as a VM I'm using, multiple CPUs are only used in BaggingClassifier while OneVsRestClassifier only uses one. I have a feeling this represents my

[2017-07-14 19:37] amueller commented on #9359
can you check on master please?

[2017-07-14 19:37] amueller commented on #9359
possibly related to #6265

[2017-07-14 19:41] amueller commented on #9360
did you switch expected and actual results?

sklearn/ensemble/bagging.py:337:
Multiprocessing-backed parallel loops cannot be nested, setting n_jobs=1

That is expected and a limitation of the current parallelization mechanism which will be fixed soonish. But that's unrelated.

Both snippets should use 3 cores. But the computation in both cases are trivial, so it might be hard to see that. I'm not

[2017-07-14 19:42] amueller commented on #9360
Also, I would use kernel approximation instead of bagging.

[2017-07-14 19:52] amueller commented on #3698
``train_test_split(X, y, stratify=y)`` solves this (or without X)

[2017-07-14 19:52] #3698 closed

[2017-07-14 19:53] #3699 closed

[2017-07-15 02:29] hack-r commented on #4830
Trying to install gensim did this to me, even though it claimed to rollback its uninstall of scipy

[2017-07-15 11:47] jnothman commented on #8451
Nor is isolation forest. Should we have a voting outlier detector?

On 14 Jul 2017 5:48 pm, "Vishal Tak" <notifications@github.com> wrote:

[2017-07-15 11:47] jnothman commented on #8451
right. so one class svm is not a classifier, as such, and is where your
problem lies.

On 14 Jul 2017 5:48 pm, "Vishal Tak" <notifications@github.com> wrote:

[2017-07-15 11:48] jnothman commented on #7827
@timsc could you please comment here on your case so that we might be able to reproduce and eventually fix the problem? Thanks

[2017-07-15 12:15] jnothman commented on #9359
Could you please reverse your expected results so it's easier to compare numerically? Thanks

[2017-07-15 14:32] #9319 closed

[2017-07-15 15:15] amueller commented on #8451
I guess we could? Not sure if it's worth it. It seems to be very easy to code up yourself, and the current outlier detection API doesn't play that well with pipelines - well you can have it as the last step... but there's also no evaluation metrics...

[2017-07-15 15:16] amueller commented on #4830
closing to avoid "me too"

[2017-07-15 15:21] amueller commented on #5956
@williamdjones I was not suggesting that it's solved, but that it's an issue that is reported at a different place, and having multiple issues related to the same problem makes keeping track of it harder.

[2017-07-15 15:26] y3l2n commented on #6766
I'll take a look at this today. Plan is to start by making the TfIDFVectorizer docstring provide more detail and potentially wordsmith docstrings for TfIDfVectorizer and TfIdftransformer.

[2017-07-15 15:40] amueller commented on #6766
thanks @y3l2n :)

[2017-07-15 16:12] amueller opened #9365 "Catch FutureWarning in SGDClassifier tests"
Some tests of SGDClassifier (and maybe SGDRegressor) are currently showing
[code]
If these are expected, we should catch them.

[2017-07-15 16:14] amueller commented on #9365
Same goes for PassiveAggressiveClassifier, PassiveAggressiveRegressor and Perceptron, I think.

[2017-07-15 16:15] amueller opened #9366 "Should pytest be more verbose?"
I'm trying to figure out if the new docstring tests are ever run in #9363 and it's tricky because we don't show test names. was that on purpose?

[2017-07-15 16:26] warut-vijit commented on #9355
Currently working on a PR, will also add explanation of Friedman MSE due to confusion on Reddit

[2017-07-15 17:32] lodurality commented on #3846
Working on RandomForestClassifier and RandomForestRegressor

[2017-07-15 19:12] NickleDave commented on #9365
Working on this

[2017-07-15 19:22] warut-vijit commented on #9359
working on this right now

[2017-07-15 20:04] lodurality commented on #3846
Wotking on PassiveAggressiveClassifier, PassiveAggressiveRegressor

[2017-07-15 20:07] warut-vijit commented on #9354
working on this right now

[2017-07-15 20:39] melgoetz commented on #8879
I just had this happen to me as well.

Darwin-16.6.0-x86_64-i386-64bit
Python 3.6.1 |Continuum Analytics, Inc.| (default, May 11 2017, 13:04:09)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]
NumPy 1.13.1
SciPy 0.19.1
Scikit-Learn 0.20.dev0

======================================================================
FAIL: sklearn.linear_model.tests.test_logistic.test_logreg_l1_sparse_data
-----

[2017-07-15 20:48] amueller commented on #6766
btw @y3l2n there was an earlier attempt at #6839 but I'm not sure what happened to it.

[2017-07-15 20:56] krishnakalyan3 commented on #6766
@amueller @y3l2n I was not exactly sure how to go about it, thats why I closed this PR. I am not working on this issue anymore. Please feel free to work on it.

[2017-07-15 21:42] y3l2n commented on #9341
I'll start working on this.

[2017-07-15 22:12] felixvelariusbos commented on #7346
So I ran into this same issue using the fit and predict methods for the RandomForestClassifier. What's interesting is I don't get it every time: 9/10 when I run it, it works exactly as expected, but that 1 time it'll throw the error.

I'm also on Ubuntu 16.04.1 and using Dask to parallelize.

Talking a little to the Dask folks, they said it might also be that parts of sklearn aren't thread-safe (w

[2017-07-15 22:23] jnothman commented on #8451
so can this be closed, and a (low priority) issue seeking voted outlier
detection opened?

On 16 Jul 2017 1:15 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-07-15 22:27] amueller commented on #7346
Well this part of the code is clearly not thread-safe....

[2017-07-15 22:32] amueller commented on #8451
yeah. Not sure if we want a better error message here?

[2017-07-15 22:45] warut-vijit commented on #9330
I ran test cases, and found that this bug occurs whenever Incremental PCA is run with n_components greater than batch_size.

[2017-07-15 22:45] amueller commented on #9330
duplicate of #6452 right?

[2017-07-15 22:46] amueller commented on #9330
fix is in #9303 methinks.

[2017-07-15 22:50] warut-vijit commented on #9330
Yes, raising an error should work here

[2017-07-15 22:51] lodurality commented on #3846
Working on LinearSVC, LinearSVR

[2017-07-15 23:03] warut-vijit commented on #9330
Vote to close this issue?

[2017-07-15 23:04] amueller commented on #9330
yeah

[2017-07-15 23:04] #9330 closed

[2017-07-15 23:13] warut-vijit commented on #9313
claiming for now unless this has already been solved @musically-ut

[2017-07-16 00:24] jnothman commented on #9341
thank you!

On 16 Jul 2017 7:42 am, "yulan lin" <notifications@github.com> wrote:

[2017-07-16 00:40] musically-ut commented on #9313
You have a 'Go ahead' from my side. 👍

[2017-07-16 01:33] jnothman commented on #7346
but we should consider fixing this a pretty high priority.

On 16 Jul 2017 8:27 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-07-16 01:34] jnothman commented on #8451
I suppose that would be welcome

On 16 Jul 2017 8:32 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-07-16 02:13] drewszurko commented on #9113
While class_weight is implemented, is there an alternative way I can pass a weight in when training the MLPClassifier?
Thanks

[2017-07-16 07:06] ashimb9 commented on #5884
I was just wondering if there was any update on this? Plus, is the issue noted by @marcelobeckmann still relevant?

[2017-07-16 10:21] TimSC commented on #7827
@jnothman
[code]

Running with the above code, I see 3.7% memory usage on the top tool.

When I disable the sleep and uncomment gmm.predict_proba, I see a fluxuating memory usage that peaks up to 20%. Ideally, it should only use up to about 7-8% of memory, since it has to store the output matrix.

[2017-07-16 12:11] jnothman commented on #9351
I'm generating this error on some runs on my up-to-date Sierra instance with Anaconda (py=3.5.2, np=1.11.3).

[2017-07-16 12:12] jnothman commented on #9351
The randomness of the error and the range of values it can fail with makes me wonder if it's an uninitialised array rather than an overflow; the fit doesn't appear to be running to convergence.

[2017-07-16 12:20] #9345 closed

[2017-07-16 12:24] agramfort commented on #5884
@ashimb9 it seems we need someone to integrate the code from @marcelobeckmann

[2017-07-16 12:34] agramfort commented on #9351
I can also replicate on my mac.

[2017-07-16 12:37] jnothman commented on #9351
At least one of the failing assertions, line 961 in `test_logreg_l1_sparse_data` does not have a fixed random state for SAGA. But it still randomly fails with a fixed random state. However, when it fails, so far, the failing coef is identical every time.

[2017-07-16 12:38] jnothman commented on #9351
I'm trying to debug that test with random_state=1 (not that this is my expertise, but I might as well give it a go).

[2017-07-16 12:51] jnothman commented on #9351
Curiously, when I run a truncated `test_logreg_l1_sparse_data` in a loop (each run of 1000 trials in a separate Python process) I get either:
* 1000 of 1000 successes
* roughly 666 of 1000 successes

So some runs fail 1/3 of the time. In these runs, a ConvergenceWarning is raised (but that's no surprise).

[2017-07-16 13:39] jnothman commented on #9351
It seems https://github.com/scikit-learn/scikit-learn/blob/92e38f2/sklearn/linear_model/sag_fast.pyx#L618 is the issue: accessing the -1th element of a C array.

[2017-07-16 13:40] jnothman commented on #9351
So I suppose I was correct in my first assumption that this was random memory access rather than overflow.

[2017-07-16 13:50] jnothman commented on #9351
I hope #9376 is the right (and only) fix.

[2017-07-16 13:53] jnothman commented on #9351
Should Cython have found this for me if I set boundscheck=True? It didn't, but maybe that's just because it was failing to raise the exception with the gil off. Should we be regularly running all our Cython tests with boundscheck enabled and gil fixed to on?

[2017-07-16 14:03] arita37 opened #9377 "New Feature : Hierachy Decision Tree"
We have classification problem with input state of dimension 1,000,000 (very large).
Current Decision Tree using greedy algorithm, it's impossible to get the optimal tree.

But, due to the nature of the data, the input features can "structured" in hiearchy
and not all the 1,000,000 input feature needs to be evaluated at each level node.

Desire feature :
As input of Decision Tree, specify the sub-

[2017-07-16 14:07] stephenweiwang commented on #9285
@jnothman I tried LabelEncoder on my own dev, and the result is a bit different.

For Python 2.7.13 and 3.6.1
le = LabelEncoder().fit([1, 2, 'a', 'b'])
le.inverse_transform([0, 1, 2, 3])
Result: array(['1', '2', 'a', 'b'], dtype='<U21')

le = LabelEncoder().fit(np.array([1, 2, 'a', 'b'], dtype=object))
le.inverse_transform([0, 1, 2, 3])
Result for Python 2.7.13: array([1, 2, 'a', 'b'], dtype=objec

[2017-07-16 15:00] amueller opened #9378 "all the neighbors algorithms to parameter validation in __init__"
there's the ``_init_params`` method in ``NeighborsBase`` and it looks like this is called in ``__init__``.
It looks like this is not called in ``fit`` again, so these checks are not done after ``set_params``.
There's also private attributes set in ``__init__`` which makes me think that this could lead to subtle bugs with ``clone``.

(it doesn't set any public attributes, though, and the private at

[2017-07-16 15:45] lodurality commented on #3846
Working on StandardScaler, MinMaxScaler

[2017-07-16 15:49] jmschrei commented on #9377
If you can link to some current literature on hierarchical decision trees that would be beneficial. It seems weird to me to specify the features that could be used at each layer, since you don't know the number of splits that you'd want to do on the first "level" to get all of the interactions out.

[2017-07-16 16:38] lodurality commented on #3846
Working on ElasticNet, ElasticNetCV

[2017-07-16 16:38] lodurality commented on #3846
Also, created google doc for list of done/undone objects

https://docs.google.com/spreadsheets/d/19D-RQocsLk4BM7-Xax8hVvIu3XDgwYSUnvja4cMrJww/edit#gid=0

[2017-07-16 16:41] amueller opened #9381 "Wrong error message in StratifiedKFold"
``All the n_groups for individual classes are less than n_splits=%d.`` That seem confusing / wrong

[2017-07-16 16:41] amueller commented on #9381
I'm not blaming @raghavrv

[2017-07-16 16:54] lmcinnes opened #9382 "NN-Descent/KGraph for approximate knn"
Efficient approximate kNN-graph construction, and efficient approximate kNN search using such a graph would be of significant potential benefit for scikit-learn. Such methods are independent of data dimension, and support generic similarity measures. The relevant papers, including benchmarks are:

Dong, Wei, Charikar Moses, and Kai Li. "Efficient k-nearest neighbor graph construction for generic s

[2017-07-16 17:06] agramfort commented on #9382
for @lesteve

[2017-07-16 19:04] amueller commented on #3846
@lodurality you can also create a list here with checkboxes

- [ ] like
- [ ] this

[2017-07-16 21:25] jnothman commented on #9351
I woke up this morning realising why boundscheck wouldn't work. It's a pointer, not an array.

[2017-07-16 21:47] ashimb9 commented on #5884
@agramfort Hmm, in that case I am going to have a go when I have some free time. By the way, do you happen to know anything about the current state of the issue noted above: "in the pdist module, because internally the pdist makes several numerical transformations that will fail if you use a matrix with mixed data"

[2017-07-16 22:58] jnothman commented on #9382
my priority here is to make sure we provide for the integration of any
approximate NN implementation into the various models that use it, as in
#3923. Ideally then users would be able to play with external ANN
implementations right away... But it is hard to demonstrate without an
implementation.

On 17 Jul 2017 3:06 am, "Alexandre Gramfort" <notifications@github.com>
wrote:

[2017-07-17 00:02] bmanohar16 commented on #9381
Hi @amueller, here are few alternate error messages. Let me know an appropriate message to be used.

1. The number of folds (n_splits=%d) cannot be greater than the number of members in each class.
2. The number of folds (n_splits=%d) cannot be greater than any of the y class counts.
3. The n_splits=%d has to be greater than all of the y class counts.

[2017-07-17 01:23] jnothman opened #9385 "Relationship between different Group-based (and perhaps general) CV splitters should be better explained"
Neither the narrative docs (in `doc/modules/cross_validation.html`) nor the API reference docstrings are very clear on the difference between the different group-based CV strategies (which are parallel to those which are not group based; perhaps those too deserve documentation improvements). In the docstrings there should be clear See Also entries cross-referencing the different strategies.

Some

[2017-07-17 01:33] jnothman commented on #9381
Thanks for enumerating the options. My mutant: "n_splits=%d cannot be
greater than the number of samples in any class."

On 17 July 2017 at 10:02, Balakumaran Manoharan <notifications@github.com>
wrote:

[2017-07-17 01:41] bmanohar16 commented on #9381
Hi, @jnothman. Wouldn't  "in any class" refer to as n_splits > no. of samples in at least one class.
My doubt is that np.all() has to evaluate all the class counts.

[2017-07-17 01:47] jnothman commented on #9381
Looking at the code, isn't this condition redundant with respect to the
next? First it raises an error if (n_splits > arr) then if (n_splits >
min(arr)). Surely the latter is sufficient. But the error message should
avoid saying "groups".

On 17 July 2017 at 11:41, Balakumaran Manoharan <notifications@github.com>
wrote:

[2017-07-17 03:49] bmanohar16 commented on #9381
I think when `n_splits > y_counts`  we can't create `n_splits` unique training samples for all the classes. It's the worst case.
For range `min(y_counts) < n_splits <= max(y_counts)`, we are issuing a warning that samples are no more stratified for at least one output class.
And I feel "groups" to be avoided too.

[2017-07-17 05:10] jnothman commented on #9381
Ah, sorry, I missed that it was a warning. Go on, then, issue a PR and we
can review it more concretely.

On 17 July 2017 at 13:49, Balakumaran Manoharan <notifications@github.com>
wrote:

[2017-07-17 05:58] SebastinSanty commented on #9385
Hi @jnothman, I would like to take this up. This: http://scikit-learn.org/stable/modules/cross_validation.html#a-note-on-shuffling gives a peak on random_state but is not clear about shuffle. Also, should I consider modifying this (note-on-shuffling) part or individual CV strategies? (to provide clarifications).

[2017-07-17 06:05] jnothman commented on #9385
Look at the documentation surrounding CV splitters (narrative and API ref)
holistically and offer what you feel is lacking.

On 17 July 2017 at 15:58, Sebastin Santy <notifications@github.com> wrote:

[2017-07-17 06:05] jnothman commented on #9385
Remember that sometimes users will come in through the guide and sometimes
through the class documentation

On 17 July 2017 at 16:05, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-07-17 06:28] bmanohar16 commented on #9381
Okay. @amueller if you feel ok with the comment, I can open a PR.

[2017-07-17 08:49] #9351 closed

[2017-07-17 09:02] TomDLT commented on #8879
This seems to be linked to #9351, solved in #9376

[2017-07-17 09:05] #8879 closed

[2017-07-17 09:17] invokerk commented on #9193
Hey, I would like to work on this. May I ?

[2017-07-17 09:32] marcelobeckmann commented on #5884
Hi, there are some private functions (e.g., _convert_to_double, _copy_array_if_base_present) in pdist that assume the underlying data is completely numeric, which is not true when you have a Dataframe with categorical data.

I volunteer to integrate this code and make it available in a fork, you can assign this ticket to me.

[2017-07-17 10:16] jnothman commented on #9193
I don't think we particularly want this feature. are you offering to
implement it because you want to use it?

On 17 Jul 2017 7:18 pm, "JustAnotherHomer" <notifications@github.com> wrote:

[2017-07-17 10:18] jnothman commented on #5884
The github assign feature only works for team members

On 17 Jul 2017 7:32 pm, "marcelobeckmann" <notifications@github.com> wrote:

[2017-07-17 10:21] marcelobeckmann commented on #5884
No worries, I'll fork it and you can get the get code later.  For me the important is to contribute. I'll let you know when done.

[2017-07-17 12:33] clemkoa commented on #9325
Hello,

I've been trying to use those tests but I can't seem to make them work. I'm using python 3.6 (because python 2 is not working with them, right?) and run this command `python3 -m "nose" --with-coverage sklearn/tests/test_docstring_parameters.py`

I always have some error
[code]

I did the build by doing `python setup.py build`, is there anything wrong with this?

BTW I had to modify the lin

[2017-07-17 12:47] jnothman commented on #9325
Try:
[code]

[2017-07-17 12:48] arita37 commented on #9377
1)
We need to suppose we are the case of  X_input :  1,000,000 columns (or
100,000).
Input feature are example 1 hot encoding of large category columns ( 1
column of 200 categories label ---> 200 columns in X_input).

Given the nature of the data (ie physical problem),
we can do hiearchy of the input features in advance by clustering
feature into sub-classes (by clustering, expert knowledge).

Hen

[2017-07-17 13:18] clemkoa commented on #9325
It worked, thanks!

[2017-07-17 13:28] jnothman opened #9388 "Test docstrings for parameters are equal"
We recently merged a test that checks consistency between parameters in function signatures and their docstrings using `sklearn.utils.testing.check_docstring_parameters`. I would like to have a function in `sklearn.utils.testing` which similarly makes use of [`numpydoc`](https://github.com/numpy/numpydoc/) to check that parts of docstrings are identical among a set of objects. I would expect this

[2017-07-17 13:34] waltermblair commented on #9360
@amueller You're right about switching the actual/expected results, I updated comment. I understand that your answer makes sense for this small job, but I'm actually seeing the same behavior for a longer running job where "Single SVC" takes 2244s and "Bagging SVC" takes 555s.

While running Bagging SVC with n_jobs=-1 as a param for BaggingClassifier, I see all my cores running. On the other hand,

[2017-07-17 13:46] passionato opened #9389 "LDA: get documents per topic"
How can I know which documents are related to the topics? Can we get the document row number or some identifier of the document that belongs to a topic?
My reference example is [here](http://scikit-learn.org/stable/auto_examples/applications/topics_extraction_with_nmf_lda.html#sphx-glr-auto-examples-applications-topics-extraction-with-nmf-lda-py).

[2017-07-17 14:28] sofeikov opened #9390 "extract_patches_2d max_patches param behaviours"
Hi, initially this started as SO question. However, now I really think is might be considered as an issue.

I'm using sklearn version 0.18.2

In particular, I'm using this function for extracting image regions: http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.image.extract_patches_2d.html

This function has one funny argument, namely max_patches which says how many patch

[2017-07-17 14:57] #9389 closed

[2017-07-17 15:00] sunghwan-choi opened #9391 "turning off thread parallelization for RidgeCV"
thread parallelization is always turned on in RidgeCV estimator. Since a computing node is not wholly occupied by my job, I want to make RidgeCV occupy only designated number of cpu.

I modified the fit function of _BaseRidgeCV class as follow. self.cv value is an integer value in my case. Nonetheless, between "1!!!!!!!!" and "2!!!!!!", multiple threads were spawned.

linear_model/ridge.py:1123

[2017-07-17 15:03] ncullen93 commented on #2034
What about having a `ParallelFeatureUnion` class where the user supplies a list of inputs and a list of transforms, both of equal length in a one-to-one mapping.

E.g.

[code]

This could work with any arbitrary iterable.

[code]
or
[code]

[2017-07-17 15:34] invokerk commented on #9193
@jnothman Yeah, I thought that it would be simpler to use it. But if you feel it's unnecessary, then ok.

[2017-07-17 17:02] #9355 closed

[2017-07-17 17:11] jmschrei commented on #9377
This sounds very similar to research I did in defining a constraint graph to merge domain knowledge with data to learn large Bayesian networks (unsurprising since Bayesian networks and trees share a great deal of math). I think the correct solution when you're one-hot encoding a massive categorical variable is to implement categorical based splitting in the tree code itself, instead of blowing up

[2017-07-17 18:34] PetterS commented on #5870
This seems to be one of the best methods. But couldn’t that be done by simply taking a column with missing values, duplicate it, and replace nan with +∞ in one, and with -∞ in the other? It seems that all possible splits will then be available when building the tree. In that case, the required functionality could easily be implemented in sklearn.preprocessing.

Of course, it wouldn't be _completel

[2017-07-17 18:39] yarikoptic opened #9393 "Debian test failures (was test_preserve_trustworthiness_approximately fails on 32bit: AssertionError: 0.89166666666666661 not greater than 0.9)"
building 0.19b2 on debian/ubuntus ... still ongoing but I see consistent failure on Debian stretch (nd90, current stable) and testing (nd100), 32bit only (ok on amd64 build):
[code]
in both cases python-numpy is `1:1.12.1-3` (i.e. 1.12.1 numpy) and passed ok with numpy 1.8.2 in Debian jessie.

[2017-07-17 19:58] raghavrv commented on #5870
That is true only if you are sending the samples completely to right or left the same way in all the nodes. We would like it sent to right or left, which would be learnt on a per-node basis.

[2017-07-17 20:06] ncullen93 commented on #2034
Also, I feel like it would be nice to have actual support for heterogenous data - which can only come in a form of an iterable (which seems to break a lot of things).

For example, imagine I have 3 images and 2 continuous features as input (e.g. three brain images and 2 demographic variables) and want to predict 2 continous features. This is tends to break a lot of things (anything related to cros

[2017-07-17 20:20] andrewww opened #9394 "SparsePCA incorrectly scales results in .transform()"
#### Description
When using `SparsePCA`, the `transform()` method incorrectly scales the results based on the *number of rows* in the data matrix passed.

#### Proposed Fix
I am regrettably unable to do a pull request from where I sit. The issue is with this chunk of code, as of writing this at [line number 179 in sparse_pca.py](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/deco

[2017-07-17 21:07] ashimb9 commented on #5884
Thanks @marcelobeckmann for taking this up. While you are at it (and if it is feasible for you), I was wondering if you would consider adding support for gower calculation on data with NaN values also, as implemented in the daisy package in R (which you have also referenced above)?

[2017-07-17 21:32] luofanghao opened #9395 "any Semi-naive Bayes method in sklearn?"
Hi all,

I was wondering if there is any Semi-naive Bayes method provided in sklearn? Such as Tree Augmented naive Bayes. I searched for the current module and did not find.

[2017-07-17 21:41] PetterS commented on #5870
Both of the new features could very well be available when building a tree. Then that tree could send nans to the left in one node and to the right in another.

[2017-07-17 21:47] #9365 closed

[2017-07-17 21:51] jnothman commented on #9390
I'm not an image processing person, but perhaps a warning is better than an
exception?

On 18 July 2017 at 01:03, Konstantin Sofeikov <notifications@github.com>
wrote:

[2017-07-17 21:52] jnothman commented on #9391
This is likely due to your numpy setup performing vectorized operations with parallelism. It's out of scikit-learn's control.

[2017-07-17 21:52] #9391 closed

[2017-07-17 21:54] jnothman commented on #9193
I'd review a PR if you made one.

On 18 July 2017 at 02:08, JustAnotherHomer <notifications@github.com> wrote:

[2017-07-17 22:00] jmschrei commented on #9395
It is not currently supported, no. I don't think there is currently a PR for it either.

[2017-07-18 00:33] arita37 commented on #9377
Thanks.

Subset should be done in a smart way(to align with initial input nature).

Let's  take a concrete example to fix ideas and process:

Let's take many sensors input (from airplane :  sensor time series, airplane engine type,...., metal type,....)

10000 features:
   5000 numerical:
      Many time series at time t, t-1, t-100
   5000 categorical with 50
   category values.

    5000 categor

[2017-07-18 00:51] luofanghao commented on #9395
Okay, thank you

[2017-07-18 00:51] #9395 closed

[2017-07-18 01:53] MichaelChirico commented on #5298
@karandesai-96 any update?

[2017-07-18 02:37] bmanohar16 commented on #9381
Few more suggestions,
n_splits=%d cannot be greater than the number of members in each class.
n_splits=%d cannot be greater than the number of instances in each and every class.

[2017-07-18 02:46] arita37 commented on #9377
Additional remark:

Given a huge Input dimension
(Xdim_col= 1,000,000)

A fixed Tree depth

1) How much close the solution by Greedy algorithm would be to the optimal solutiom in a huge search space ?

2) What is the  time asymptotic complexity to reach close to optimal solution region ?

In other words, what are the methods to deal with huge Input columns for Decision Tree/RF ?

On 18 Jul 2017, a

[2017-07-18 04:38] raghavrv commented on #5870
Adding more features would lead to a complicated API. Right now we are in the stage of proving it useful. If you have additional confirmation that learning the best direction to send nan to, is a useful strategy please do share with us.

[here](https://github.com/scikit-learn/scikit-learn/pull/5974#issuecomment-298587465), one of the users have made a rebase. You could try your data on that.

[2017-07-18 10:18] #9307 closed

[2017-07-18 10:24] #9308 closed

[2017-07-18 14:05] nvauquie commented on #9354
Same results with python 3.5 :

[code]

It happens only with euclidean distance and can be reproduced using directly `sklearn.metrics.pairwise.euclidean_distances` :

[code]

I couldn't track down further the error.
I hope this can help.

[2017-07-18 15:02] ncullen93 commented on #2034
It's a need for iterables of data sources each with different dimensions, essentially. If my inputs are 3 images with 100, 110, 120 features (pixels) respectively, and 2 clinical variables, it all works with a `FeatureUnion` pipeline when I use the standard `fit` and `score` functions. However, it breaks with `cross_val_score` and `GridSearchCV` -- unnecessarily, in my opinion, since the pipeline

[2017-07-18 15:10] PetterS commented on #5870
Well, it's a way of implementing #3 that I quoted, so I believe it is
studied in their paper.

On Tue, 18 Jul 2017, 16:25 Jon Crall, <notifications@github.com> wrote:

[2017-07-18 15:16] amueller commented on #9272
Closing this, seems to work now :)

[2017-07-18 15:16] #9272 closed

[2017-07-18 15:28] amueller commented on #5298
I guess stalled again?

[2017-07-18 15:29] amueller commented on #9377
This sounds too specific for sklearn tbh.

[2017-07-18 15:33] amueller commented on #2034
``_num_samples`` should work on lists. Can you give a minimum reproducing example? The length of the list should be the number of samples, which I guess it is not for you. ``cross_val_score`` needs to know which axis to slice along, and for lists there's only one possibility without introspection. You can make your code work if you make the list into an array and transpose.

[2017-07-18 15:39] amueller commented on #9193
I think it is unnecessary to add another helper. We could add to the train_test_split docs that this can be done for any splitter using my snippet.

[2017-07-18 15:52] ncullen93 commented on #2034
Right, I get what you're saying - but it's more natural to have a list of the different data sources together instead of split by samples - e.g. [(n_samples, n_features1), (n_samples, n_features2), ...] and not possible to put it into an array (I think?) when the # of features of each modalities are different as below:

[code]

[2017-07-18 16:04] amueller commented on #9393
ping @ogrisel?

[2017-07-18 16:05] bellet commented on #6827
The piece code suggested by @amueller can only compute (external) functions of the trained models (like a scorer). To be more generic and being able to post-process the trained models in an arbitrary manner (without re-fitting them), generating a list of the models trained on each split seems more convenient (as asked in the original issue).

This simple piece of code works in Python 3 (where Pick

[2017-07-18 16:50] yaohualiu opened #9400 "PCA, LDA, unexpected explained_variance_ratio"
'''python
from sklearn import datasets
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

iris = datasets.load_iris()

X = iris.data
y = iris.target
target_names = iris.target_names

#### dimensionality reduction using PCA
pca = PCA(n_components=2)
X_r = pca.fit(X).transform(X)

#### Percentage of variance explained for each components
print

[2017-07-18 17:27] amueller opened #9401 "Formatting error in faq.rst"
[The section on how to contribute](
http://scikit-learn.org/dev/faq.html#how-can-i-contribute-to-scikit-learn) has a malformed link.

[2017-07-18 17:34] #4077 closed

[2017-07-18 17:43] jmschrei commented on #9377
I agree with @amueller. It sounds technically possibly, but requiring far more user input than we typically would like for an estimator. If you're finding that it is taking a long time to train your model, a potential solution is to do feature selection beforehand to identify features that are irrelevant, or reduce the dimensionality using something like Gaussian random projections or PCA before f

[2017-07-18 17:50] amueller commented on #9189
sphinx will break sphinx-gallery again in the next sphinx release, see https://github.com/sphinx-gallery/sphinx-gallery/issues/270, which means at the next release of sphinx, 0.19 docs will not build any more if we decide to vendor again.

[2017-07-18 18:25] bmanohar16 commented on #9401
Is this the correct link?
https://github.com/scikit-learn/scikit-learn/issues?q=is%3Aissue+is%3Aopen+label%3AEasy

 Name of the link: "easy issues" ?

[2017-07-18 19:26] clemkoa commented on #9325
https://github.com/scikit-learn/scikit-learn/pull/9392 is about to be merged. Do you want me to continue doing some of the packages? Maybe 2-3 at a time in a new PR?

[2017-07-18 19:53] SebastinSanty opened #9404 "Formatting error in cross_validation.rst"
#### Description
http://scikit-learn.org/stable/modules/cross_validation.html#group-k-fold shows some malformed `class:GroupKFold`

#### Actual Results
class:GroupKFold does not link to the API reference, as it is malformed.

#### Versions
On latest doc (0.18.2)

[2017-07-18 20:00] Erotemic commented on #5870
@PetterS Ah, I misunderstood your first post. I thought you were replacing all nans in a column with either + or - inf. You're actually creating duplicating the feature dimension (and potentially doubling the dimensionality of the feature vector) and, as you said, simultaneously replacing nan with +inf in one (call it dimension A) dimension and -inf in the other (call it dimension B).

If you coul

[2017-07-18 20:02] agramfort commented on #9390
I think an exception makes sense as you then guarantee the size of the
output. If you just get a warning it means the output of the function is
unpredictable, or at least not-explicit. Also you could set in your scripts
the max value of patches given size of the image.

[2017-07-18 20:12] amueller commented on #9401
No it should link to the part of the contributing documentation, as it tries to. There's just an issue with the rst.

[2017-07-18 20:20] sofeikov commented on #9390
I can't do this right away, cause the number of patches is always lower
than amount of pixels as you have to pad your image to get the number of
patches equal the number of pixels. That what makes my workaround I've
described on StackOverflow so ugly - you have to use private functions.

Moreover, if you request the amount of patches exactly equal amount of
maximum patches that otherwise would be

[2017-07-18 22:16] amueller opened #9406 "broken links in model_selection.rst"
[code]

[2017-07-18 22:21] nelson-liu opened #9407 "LabelEncoder for FrozenSets"
#### Description
LabelEncoder doesn't seem to work properly with FrozenSets. The docs say that LabelEncoder works with things that are comparable and hashable, which FrozenSets are (correct me if I'm wrong here). Maybe it has something to do with the elements of the frozenset not being hashable? (This could entirely be an issue with my understanding of python, and not with the scikit-learn code)

[2017-07-18 23:22] jnothman commented on #9354
numpy might use a higher precision accumulator. yes, it looks like this
deserves fixing.

On 19 Jul 2017 12:05 am, "nvauquie" <notifications@github.com> wrote:

[2017-07-18 23:25] #9381 closed

[2017-07-18 23:33] jnothman commented on #2034
i don't get what you're saying is more natural (bit sometimes you have to
conform of you want to use an API) and have not yet tried to understand
your coffee snippet.

On 19 Jul 2017 1:52 am, "NC Cullen" <notifications@github.com> wrote:

[2017-07-19 00:41] bmanohar16 commented on #9401
Should I link it to _new_contributors in contributing.rst (Line 349)?
with :ref:`known issues <new_contributors>`.

[2017-07-19 01:45] arita37 commented on #9377
Thanks for comments.
PCA, Gaussian linearize the input (which can be highly no-linear) and so works not well.

Summarize Greedy and randomization of feature selection in high dimensionnal space :
(quote from below paper):
**"However, with randomizing mechanism in both bagging samples and feature selection, RFs could give poor accuracy when applied to high dimensional data. The main cause is that,

[2017-07-19 01:59] bmanohar16 commented on #9401
HTML generated from local.

![image](https://user-images.githubusercontent.com/29824803/28347290-d602d68c-6bfb-11e7-8551-9bfdc450d41a.png)

[2017-07-19 02:32] bmanohar16 commented on #9404
I noticed these too without links under 3.1.3 NOTE section
<time_series_cv> <group_cv>

[2017-07-19 02:46] bmanohar16 commented on #9404
:ref: tags are missing as prefix and the correct tag is timeseries_cv (Line 658).

group_cv tag seems right (Line 509)

[2017-07-19 02:53] jnothman commented on #9325
yes, please continue. 2-3 at a time sounds fair.

On 19 Jul 2017 5:26 am, "Clement Joudet" <notifications@github.com> wrote:

[2017-07-19 02:56] bmanohar16 commented on #9406
.py missing at both places right?

[2017-07-19 04:27] jnothman commented on #9407
frozensets aren't orderable. Unfortunately, because > and < are overloaded to perform subset comparisons, you get no errors raised. Those operators provide an ordering, but not one which is total. All of the following are True:

* {1} < {1,2};
* {2} < {1,2};
* not {1} < {2};
* not {2} < {1};
* {1} != {2})

Try `sorted(short_str_labels)`.

[2017-07-19 04:27] #9407 closed

[2017-07-19 04:28] jnothman commented on #9407
And if you really think we should raise an error in this case, open a PR!

[2017-07-19 04:40] nelson-liu commented on #9407
thanks for the explanation @jnothman

[2017-07-19 05:51] bmanohar16 opened #9409 "citation not found: RW2006 in gaussian_process.rst"
Got these warning while building docs. RW2006 is not linked to the ref book URL.

\doc\modules\gaussian_process.rst:68: WARNING: citation not found: RW2006
\doc\modules\gaussian_process.rst:167: WARNING: citation not found: RW2006
\doc\modules\gaussian_process.rst:190: WARNING: citation not found: RW2006
\doc\modules\gaussian_process.rst:246: WARNING: citation not found: RW2006
\doc\modules\gaussi

[2017-07-19 07:50] ogrisel commented on #9393
Interesting, it's a only on a combo of numpy 1.12.1 and 32 bit python...

Those tests pass with 32 bit python and numpy 1.13.1 on our wheel building travis:

https://travis-ci.org/MacPython/scikit-learn-wheels

@tomMoral if you want to play with docker, this is a good opportunity ;)

[2017-07-19 07:57] #9406 closed

[2017-07-19 08:19] tomMoral commented on #9393
@ogrisel I will give it a try :)

[2017-07-19 09:29] tomMoral commented on #9393
@yarikoptic I am unable to reproduce the failure on 32bit debian `strech` on docker.
I tried installing python and scikit dependency using `apt install` and the test passed for both `python2.7.13` and `python3.5.3`.
Do you have a specific configuration that could explain the difference?

[2017-07-19 09:35] bellet commented on #8782
I will create a PR with an attempt at a documentation change.

[2017-07-19 09:56] gamebusterz commented on #9409
How can I contribute to this ? Which ref book URL needs to be linked ?

[2017-07-19 10:43] brauliobarahona commented on #4441
Hi all, I get this error in `_assess_dimension_(spectrum, rank, n_samples, n_features)`

[code]

The settings of PCA are `n_components='mle'` and `svd_solver='full'`, is this the same error as reported here?

[2017-07-19 10:44] jnothman commented on #9409
It should be referring to "Gaussian Processes for Machine Learning"

On 19 July 2017 at 19:56, Sailesh Choyal <notifications@github.com> wrote:

[2017-07-19 10:56] gamebusterz commented on #9409
@jnothman Should I link it to that particular section of the PDF, or just to the PDF (front page) ?

[2017-07-19 11:00] jnothman commented on #9409
Just to the PDF is fine.

On 19 July 2017 at 20:56, Sailesh Choyal <notifications@github.com> wrote:

[2017-07-19 11:17] lucianoviola commented on #8782
@bellet I was already working on one but had forgot to make the request. https://github.com/scikit-learn/scikit-learn/pull/9411

[2017-07-19 11:35] raheshrithik commented on #5046
`conda install numpy`
solved the problem for me.

[2017-07-19 14:03] rltbennett commented on #9214
Only an isolated node would produce a row+column of all 0's. You can still have a disconnected graph without any isolated nodes (and hence no zero rows/columns); its adjacency matrix would be transformable into a block-diagonal matrix with more than one block through repeated (simultaneous) swaps of row i with row j and column i with column j.

Although, if I had to guess, sklearn is probably dete

[2017-07-19 15:55] agramfort commented on #9390
this is then a bug.

Imagine you preallocate your array for insert your patches from many images.
If the length of the output can vary from what you ask for you'll get a bug.
I think it's better to have a nice exception than a numpy crash.

[2017-07-19 16:03] sofeikov commented on #9390
This is a bit controversial situation: if exception is to be kept, then we
put responsibility for keeping an eye on amount of patches that it is
possible to extract on user. That is fine, but this is already done inside
your module anyway.

Do you think that would make any sense to expose this function then: def
_compute_n_patches(i_h, i_w, p_h, p_w, max_patches=None)?

That would allow to keep re

[2017-07-19 16:34] amueller opened #9414 "Unclear treatment of multiclass multioutput in accuracy score"
It looks to me like the decision trees use ``accuracy_score`` for there ``score`` but ``accuracy_score`` doesn't document that it's supporting ``multiclass-multioutput`` which the trees do.

I guess the ``y_true == y_pred`` works in this case, but it should be documented.
There's no list of scores supporting multiclass-multioutput in the docs, and that should be fixed, too.

[2017-07-19 16:37] amueller commented on #9414
It looks like there is no test for multiclass-multioutput in the ``metrics/tests/test_common.py``, and it looks like accuracy is not tested with multiclass-multioutput at all.
I'm not a big fan of the multiclass-multioutput functionality but if we support it we should at least document and test it (or deprecate it, so we don't have another type of label to support)

[2017-07-19 16:39] amueller commented on #9414
[my preferred solution to this would be to deprecate the multioutput multiclass behavior but I'm not sure people like that]

[2017-07-19 17:04] #9409 closed

[2017-07-19 17:58] jmschrei commented on #9377
I suppose that the problem is the more general one of how to learn an informative model given a large number of features that may be noisy. To address the beginning issue again, it's unlikely that a hierarchical decision tree, while perhaps appropriate for this problem, will be implemented in scikit-learn. The scope of scikit-learn is mostly classical machine learning algorithms and data processin

[2017-07-19 18:58] agramfort commented on #9390
a first thing to do is to improve the docstring in:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_extraction/image.py#L316

so None behavior is documented.

then extract_patches returns you view on the patches. So you can just call
this function
and take the first patches you want?

[2017-07-19 19:33] #9404 closed

[2017-07-19 19:37] amueller commented on #9414
Oh and [this page](http://scikit-learn.org/dev/modules/multiclass.html) even says
[code]

[2017-07-19 20:48] amueller commented on #9401
@bmanohar16 can you post a pull request?

[2017-07-19 20:51] amueller opened #9417 "Fix remaining sphinx errors"
Since we're now using upstream numpydoc, it should be fairly easy to fix the remaining errors in building the docs:

[code]

[2017-07-19 20:53] amueller commented on #9417
[code]

[2017-07-19 21:31] bmanohar16 commented on #9401
@amueller created PR

[2017-07-19 21:32] avidale commented on #6557
If nobody is working on this feature, I would like to do this on myself or with @dalmia. OK?

[2017-07-19 21:39] aarshayj commented on #9414
The score function for a decision tree classifier which supports multi-class multi-output cases doesn't work. although the code might be right, but score will call "_check_targets" first which flags an error "ValueError: multiclass-multioutput is not supported"

[2017-07-19 21:41] aarshayj commented on #9414
The warning is right. I guess the API allows you to make predictions using supported classifiers but user will have to define their own functions to find accuracy or other measures.

[2017-07-19 22:01] jmschrei commented on #6557
It seems that this is stalled, so go ahead.

On Wed, Jul 19, 2017 at 2:32 PM, avidale <notifications@github.com> wrote:

[2017-07-19 22:03] bmanohar16 commented on #9417
Working on the first set of warnings

[2017-07-20 00:03] jnothman commented on #6557
I don't think @dalmia has availability these days.

On 20 July 2017 at 08:01, Jacob Schreiber <notifications@github.com> wrote:

[2017-07-20 02:48] janewang522 commented on #6545
I just want to say that recursive feature elimination is not the same as backwater elimination. RFE drops terms which have small coefficients. Backwater elimination tests significance of the terms and drops terms that are not significant. A predictor that has small slope but has a strong linear relationship against the variable to be predicted will be significant in the regression and can well pre

[2017-07-20 03:26] #9401 closed

[2017-07-20 04:15] arita37 commented on #9377
Hello,

That's probably the problem of general Machine Learning ( how to learn an informative model given a large number of features that may be noisy. )

Here, this is more related to Decision Tree in the case of :
       Very High Input Dimension.
       with
          Greedy Algo and
          Monte Carlo feature selection

As the articles below shows:
      It leads to sub-optimal feature sele

[2017-07-20 04:24] bmanohar16 commented on #9417
@amueller  Comments for the 1st set,

time_series_cv and group_cv
Fixed with PR #9415

Rouseeuw1984
Fixing with this issue

randomized_l1 and sphx_glr_auto_examples_linear_model_plot_sparse_recovery.py
	Tag removed with PR #9031. (Deprecated) What should I do?

vbgmm
	Tag modified with PR #6651 in mixture.rst. Fixing it.

multivalued_scorer_wrapping
	Refers to new tag added with PR #7388. Fixing i

[2017-07-20 04:31] siebenHeaven commented on #9245
Ok! So right now, the base estimator that is passed to the `ClassifierChain` is a binary classifier. So inorder to make multi-class classifiers work, what changes will be needed? Would it need a separate class or changes would be needed in the current `ClassifierChain` class?
Also, what dataset can this multi-outptut multiclass be tested on?
(sorry for late reply,had some work at university :) )

[2017-07-20 08:16] jnothman commented on #9245
No, use the same class. Basically, you just need to ensure that the `predict_proba` and `decision_function` output conform to what you get from a multi-output `DecisionTreeClassifier`. It doesn't look like we have any standard datasets here. You could take a look at `sklearn/tree/tests/test_tree.py:test_multioutput`.

[2017-07-20 08:46] jnothman opened #9421 "Examples use int / int without __future__.division"
Division which will behave differently in Python 2 and Python 3:
* https://lgtm.com/projects/g/scikit-learn/scikit-learn/snapshot/879d1c19deb7180045788f2ad54c9871b9ecd8fc/files/examples/linear_model/plot_sparse_logistic_regression_mnist.py#L55
* https://lgtm.com/projects/g/scikit-learn/scikit-learn/snapshot/879d1c19deb7180045788f2ad54c9871b9ecd8fc/files/examples/applications/plot_tomography_l1_rec

[2017-07-20 10:26] Arianhf opened #9422 "Wrong error is printed"
#### Description

when trying to download this dataset, one of the files was not completely downloaded.
when I tried to run my code, it said download and install the jpeglib ( although I had already satisfied this)
#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2017-07-20 10:44] jnothman commented on #9422
Please provide your code

[2017-07-20 10:45] jnothman commented on #9422
Are you sure you are not talking about scikit-learn? This is scikit-learn

[2017-07-20 11:24] lesteve commented on #9422
I am going to close this one, this does not seem related to scikit-learn.

[2017-07-20 11:37] Arianhf commented on #9422
from sklearn.datasets import fetch_lfw_people
lfw_people = fetch_lfw_people(min_faces_per_person=70, resize=0.4)

when I tried running this part of my code, it did download the file, but the file was somewhat corrupted(bad internet), after unzipping some of the jpg files where corrupted and I got the error that was added with this pull request https://github.com/scikit-learn/scikit-learn/pull/5071

[2017-07-20 11:52] glemaitre commented on #9422
@Arianhf #9240 should solve a big part of those.

[2017-07-20 11:54] lesteve commented on #9422
@Arianhf try removing `~/scikit_learn_data/lfw_home` and rerunning your snippet. Hopefully that should fix it.

Next time you open a PR, please provide a snippet reproducing the problem. This is the best way to get good feedback.

[2017-07-20 11:55] Arianhf commented on #9422
@lesteve thanks, I deleted the downloaded files and downloaded them again and that solved my problem.
I am new to github and this was one of my first issues here.
thanks for the help.

[2017-07-20 11:57] lesteve commented on #9422
thanks for the help.

No worries, closing then.

[2017-07-20 11:57] #9422 closed

[2017-07-20 12:06] tpet commented on #4223
The referenced issues and PR's seem to diverge to computation of average precision and related interpolation methods etc. Although it is of course related, always returning precision=1, no matter what data is, is simply incorrect, as @blucena pointed out. I would suggest to keep this issue open until it is fixed. The precision_recall_curve function should not return precision=1 unless there is a d

[2017-07-20 18:01] SebastinSanty commented on #9336
Hi @jnothman, I have been solving some easy issues till now. I would like to graduate and try something on moderate issues. I feel that series of issues on the discrete branch starting from this, will help me with it.
@hlin117 If you don't mind, Can I look into this issue?
@jnothman I'm trying to close other PRs as soon as possible.
Thanks!

[2017-07-20 18:22] hlin117 commented on #9336
Be my guest :)

On Jul 20, 2017 11:02 AM, "Sebastin Santy" <notifications@github.com> wrote:

[2017-07-20 20:50] mmoran0032 commented on #9421
I can take this on. I'll check through the other examples as well.

[2017-07-20 22:27] jnothman commented on #9421
#9426 has a fix already, and lgtm.com should have got most or all of these

On 21 Jul 2017 6:50 am, "Mike Moran" <notifications@github.com> wrote:

[2017-07-21 01:30] kmike commented on #8898
@jnothman hm, are you and @rhiever talking about the same method? You said

but @rhiever's example code does fit a model for each feature subset.

I've started to implement a version which does not repeatedly fit a model here: https://github.com/TeamHG-Memex/eli5/pull/227.

[2017-07-21 03:12] jnothman commented on #8898
maybe I misunderstood and was reading lazily. Fitting a model for each
subset is quite a different thing. Tells you something about the dataset
and learning algorithm, not the model. And it's basically SFS

On 21 Jul 2017 11:30 am, "Mikhail Korobov" <notifications@github.com> wrote:

[2017-07-21 06:38] ndingwall commented on #4223
Good point @tpet; `average_precision_score` was fixed because it's no longer affected by the introduction of the (0, 1) operating point in `precision_recall_curve`, but that point is still there.

[2017-07-21 15:30] amueller commented on #9414
Wow, that's pretty bad. We allow to train but the ``score`` method is broken? That seems like one more reason to kick this out.

[2017-07-21 15:47] amueller commented on #9417
Thanks :)

If the example / tag is gone, remove the reference.

Wow there's really no docs for pairwise? Yeah maybe link to metrics.

[2017-07-21 15:48] amueller opened #9428 "Add documentation on pairwise_distances module to user guide"
It looks like the user guide doesn't mention ``metrics.pairwise`` at all :-/

[2017-07-21 15:54] amueller opened #9429 "Benchmark NMF and SGDClassifier on MKL vs OpenBlas"
At scipy the intel python distribution people cited a speedup of ~10x for NMF and SGDClassifier on MKL vs OpenBlas. It would be great if someone could try to reproduce, and find the bottlenecks.

[2017-07-21 15:57] amueller opened #9430 "Benchmark KMeans against pydaal KMeans"
Pydaal cited speedups of about 40x for a single cpu between their lloyd k-means and ours.
It would be great to reproduce and identify bottlenecks. Also, we should compare against our elkan and see what the differences are.
I think this was done for several low-dim spaces, n_clusters=100 and varying n_samples.

[2017-07-21 16:03] aarshayj commented on #9414
yea looks like it.. but it would have been merged at some point with some reasoning.. also, some people might be using it already.. so not sure.

[2017-07-21 16:03] tswc opened #9431 "Ctrl-C crashes Python"
I was using the standard code, that I found in the internet.
This code is about using sklearn to select the parameter by using Keras.

[code]

Then I got some errors.
[code]

I have no idea what happens.

[2017-07-21 16:58] dallascard opened #9432 "Incorrect predictions from isotonic regression in the presence of repeated X values"
#### Description
Isotonic regression returns an incorrect solution in the presence of repeated X values.

The problem seems to be that fit() begins by taking the weighted average of points with the same x value. However, rather than associating the resulting average point with the sum of the weights, it is using the average of the weights (in _make_unique(), in  _isotonic.pyx, lines 103 and 116).

[2017-07-21 17:36] amueller commented on #9431
What's the complete traceback? It's more likely to be a keras issue, I think.

[2017-07-21 17:53] SebastinSanty commented on #9428
I would like to try this. How will it be different than http://scikit-learn.org/stable/modules/metrics.html where `metrics.pairwise` is discussed?

[2017-07-21 18:09] amueller commented on #6747
http://lib.dr.iastate.edu/cgi/viewcontent.cgi?article=4544&context=etd introduces "class-balanced accuracy" which divides by the max of the row and column norm for each class, so it's always smaller than macro-average precision and macro-average recall.

[2017-07-21 18:11] amueller commented on #9428
Sorry, my bad. I was confused because that doesn't mention ``pairwise_distances``. Please just add ``pairwise_distances`` to this page.

[2017-07-21 18:20] SebastinSanty commented on #9428
Would a link from `metrics.pairwise` doc to http://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.pairwise_distances.html page work, or should the doc have an excerpt explicitly?

[2017-07-21 18:20] amueller commented on #8898
yeah this is SFS where instead of removing the feature you shuffle it?

[2017-07-21 18:21] SebastinSanty commented on #9428
NVM, I got what is wanted here.

[2017-07-21 18:30] #9170 closed

[2017-07-21 18:42] amueller commented on #4577
[The nips paper linked above](http://papers.nips.cc/paper/5867-precision-recall-gain-curves-pr-analysis-done-right.pdf) is quite nice and argues again that the VOC measure makes no sense ^^

[2017-07-21 19:49] #7230 closed

[2017-07-21 23:48] InonS opened #9435 "Parallel jobs in feature_selection (New Feature Request)"
`sklearn.feature_selection` supports parallel jobs only in the `RFE` module. For wide learning cases (i.e. large number of features) this is a significant problem, especially since most of the feature selection algorithms are "embarrassingly parallel" over features (i.e. are calculated independently for each feature). `sklearn.model_selection`, in comparison, is much more parallel throughout.

Ide

[2017-07-22 00:10] bmanohar16 commented on #9417
ok, Done. PR updated with new commits.

[2017-07-22 03:24] bmanohar16 commented on #9417
Comments for 2nd set of warnings

/doc/modules/classes.rst:2: WARNING: Literal block expected; none found.
	Should I add a new tag like api_ref at Line 1?

Citation [RH2007] is not referenced.
         Should I remove ref and replace with asterick (*)?

/sklearn/model_selection/_search.py
         Unsure if this can be fixed. Documentation seems to be good.

Duplicate explicit target name

[2017-07-22 16:13] #8791 closed

[2017-07-22 20:03] souravsingh commented on #9430
@amueller Which dataset should we use for the purposes of the benchmark?

[2017-07-23 02:00] amueller opened #9438 "Add coveralls github integration plugin to developer tips"
here:
http://scikit-learn.org/dev/developers/tips.html#productivity-and-sanity-preserving-tips

[2017-07-23 02:11] #9421 closed

[2017-07-23 13:54] clemkoa commented on #9325
I'll take
'sklearn.ensemble',
'sklearn.feature_selection',
'sklearn.kernel_approximation'

for the next one!

[2017-07-23 23:48] phjacobs commented on #8981
I'm still able to reproduce this error, using Python 3.6 and scikit-learn 0.18.2. I've removed and reinstalled Python, set up virtual environments, tried it in Jupyter notebooks, etc. Still having this problem.

[2017-07-24 00:38] phjacobs commented on #8981
The problem is still occurring because the error was never fixed in [the species distributions code](https://github.com/scikit-learn/scikit-learn/blob/ab93d65/sklearn/datasets/species_distributions.py#L57):

Line 57 still reads:

`DIRECTORY_URL = "http://www.cs.princeton.edu/~schapire/maxent/datasets/"`

But should read:

`DIRECTORY_URL = "http://biodiversityinformatics.amnh.org/open_source/maxent

[2017-07-24 00:44] jnothman commented on #8981
It's still occurring because you're using version 0.18 rather than the 0.19
beta.

On 24 July 2017 at 10:38, Peter Jacobs <notifications@github.com> wrote:

[2017-07-24 00:51] phjacobs commented on #8981
Gotcha. Thanks, I wasn't clear on that from the previous comments, but I grabbed the beta and it's working.

[2017-07-24 03:43] charris opened #9440 "Test error in test_feature_importances with current master on fedora 26."
[code]
I am seeing the following error in scikit master compiled agains current NumPy master on Fedora 26 with gcc 7.1

[code]

[2017-07-24 07:23] lesteve commented on #9435
PR more than welcome, together with benchmarks showing the improvement !

[2017-07-24 07:38] lesteve commented on #6827
I guess for Python 2 you can use a work-around like this (not tested):

[code]

[2017-07-24 09:27] ogrisel commented on #9393
@yarikoptic @tomMoral how can you install numpy 1.12.1 on debian stretch? Which repo did you use to produce this failure?

[2017-07-24 10:19] ogrisel commented on #9440
Is the error deterministic?

[2017-07-24 11:42] ogrisel commented on #9440
Same results (tests pass) with 2.7.13 on my fedora 26 docker container.

[2017-07-24 11:51] ogrisel commented on #9440
I have also tried with numpy master and cannot reproduce either.

[2017-07-24 11:52] lesteve commented on #9440
FWIW an error that seems similar: https://github.com/scikit-learn/scikit-learn/issues/6649 although the numbers are not exactly the same.

[2017-07-24 12:01] ogrisel commented on #9440
The fact that this tests is marked with `@skip_if_32bit` makes me think that their is something fishy in that assertion although it would be great to understand what triggers the numerical failure.

[2017-07-24 14:23] charris commented on #9440
I'm using cython version 0.26, atlas 3.10.2 with threading.

[2017-07-24 14:28] ogrisel commented on #9440
I think this code does not use any BLAS call though. It's weird that I cannot reproduce with the same cython and compiler versions.

[2017-07-24 14:35] charris commented on #9440
Hardware/compiler?   Intel(R) Core(TM) i5-4670K CPU @ 3.40GHz.
[code]

[2017-07-24 15:16] amueller opened #9443 "Add instance-level calls to estimator_checks for meta-estimators"
We recently added the ability to run ``estimator_checks`` on instances.
We should add tests for the meta-estimators running ``estimator_checks`` on common settings, including
* [ ] pipeline
* [ ] feature union
* [ ] GridSearchCV(Estimator())
* [ ] GridSearchCV(Pipeline(...))
* [ ] RandomizedSearchCV(...)

And then possibly additional tests for anything that is currently not tested by the common te

[2017-07-24 15:20] amueller commented on #9440
@charris are you using gcc to compile? which version?

[2017-07-24 15:57] amueller opened #9445 "Make pytest run the doctests in doc rst files"
It looks like the pytest run on travis doesn't run the doctests:
https://travis-ci.org/scikit-learn/scikit-learn/builds/256859150?utm_source=github_status&utm_medium=notification

We should fix that.

[2017-07-24 17:06] charris commented on #9440
@amueller gcc 7.1.1

[2017-07-24 17:49] amueller commented on #9417
Sounds good.
I would leave the rest alone for now.

[2017-07-24 18:04] bmanohar16 commented on #9417
Okay

[2017-07-24 18:22] hakaa1 commented on #9435
I would like to give it a try. I would start with parallel jobs for VarianceThreshold, provide [WIP] PR and go from there.

[2017-07-24 23:10] jnothman commented on #9445
Setup.cfg does specify --doctest-modules, and test_script.sh appears to
install it... Not sure what's going on here.

On 25 Jul 2017 1:57 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-07-25 00:42] jnothman opened #9448 "doc/modules/classes.rst modules out of alphabetical order"
This module listing is almost, but not quite, in alphabetical order.

[2017-07-25 02:57] jnothman commented on #9435
I'm not convinced this issue is well founded. the score for each feature is
calculated using score functions that are vectorised and may make use of
numpy-level parallelism via mkl etc. To the extent that they may benefit
from more explicit concurrency, it is at the score function level, not the
estimator, as far as I can tell

On 25 Jul 2017 4:23 am, "hakaa1" <notifications@github.com> wrote:

I

[2017-07-25 06:55] bmanohar16 commented on #9448
Working on it.

[2017-07-25 08:19] tomMoral commented on #9393
@ogrisel I installed the `python-numpy` package, which uses version 1.12.1 and used branch `0.19.b2` for `scikit`.

[2017-07-25 11:39] ogrisel commented on #9393
Indeed I was using an older image (jessie). I confirm I cannot reproduce the issue on stretch with the following 32 bit image: `jhsu802701/32bit-debian-stretch-min`.

[2017-07-25 11:48] #9172 closed

[2017-07-25 18:45] #7679 closed

[2017-07-25 19:23] amueller commented on #2034
It took me too long to understand you meant "code snippet" lol.
@ncullen93 for cross_val_score to work you need to adhere to the API. And what you want to do is possible within the API if you know the number of features in each group.

Trying to slice nested data structured like the one you want to use would probably soon lead to issues.

[2017-07-26 00:35] jnothman commented on #2034
wow. My message was so garbled.

On 26 July 2017 at 05:23, Andreas Mueller <notifications@github.com> wrote:

[2017-07-26 01:49] ajanaliz opened #9451 "model_selection module bug integration with keras"
I ran this code:

[code]
in the final line, i hit this exception:
[code]
any ideas?

Windows-10-10.0.15063-SP0
Python 3.5.2 |Anaconda custom (64-bit)| (default, Jul  5 2016, 11:41:13) [MSC v.1900 64 bit (AMD64)]
NumPy 1.13.1
SciPy 0.19.0
Scikit-Learn 0.18.1

[2017-07-26 02:20] jnothman commented on #9451
Could you please provide a complete, runnable code snippet? You're missing imports and data (not that the latter should matter much) here. Without this it's hard to see if the bug is reproducible and whether or not it's on scikit-learn's side of the fence. I must say it looks like it's not on scikit-learn's side of the fence, and that you have an object somewhere which disables its `__dict__` but

[2017-07-26 02:21] jnothman commented on #9451
To be more specific, if you cannot run `copy.deepcopy(model)`, the problem isn't ours.

[2017-07-26 07:16] lesteve commented on #9445
This was noted in one of the pytest issue/PR and it something that is on my radar once we released 0.19 and move fully to pytest.

[2017-07-26 07:18] lesteve commented on #9445
e.g. in https://github.com/scikit-learn/scikit-learn/pull/8246#issuecomment-279734949 and https://github.com/scikit-learn/scikit-learn/issues/7319#issuecomment-276946378.

[2017-07-26 07:23] lesteve commented on #9445
I think this is about the doctests in the doc .rst not the doctests in the python modules.

[2017-07-26 07:40] tswc commented on #9431
@amueller
There are not much more information in the traceback.
[code]

Do you have any idea about that?

[2017-07-26 08:55] lesteve commented on #9431
I am going to close this one because it is not very likely to be related to scikit-learn.

The only way you can convince us that this is a scikit-learn issue is by providing a stand-alone snippet using only scikit-learn to reproduce the problem. Please read https://stackoverflow.com/help/mcve for more details.

[2017-07-26 08:55] #9431 closed

[2017-07-26 08:57] lesteve commented on #9451
I am going to close this one. @ajanaliz if you have more evidence that this is a problem with scikit-learn, do feel free to reopen.

[2017-07-26 08:57] #9451 closed

[2017-07-26 10:40] FrugoFruit90 commented on #8136
Hello, everyone!

I am currently working on an NLP project, in which I create a custom dictionary of 15000 most common lemmatized words. Then I want to transform the dataset by converting the texts into lists of encoded labels.

Obviously, I have missing categories (by design!) and I run into ValueError("y contains new labels: %s" % str(diff)). Is there any way that I can make LabelEncoder simply

[2017-07-26 11:28] jnothman commented on #8136
I think you want a CountVectorizer, not a LabelEncoder.

On 26 July 2017 at 20:40, Jan Zyśko <notifications@github.com> wrote:

[2017-07-26 11:38] FrugoFruit90 commented on #8136
I already have the counts. My dataframe contains, as one of the columns, a list of words for each document. I want to convert them into lists of labels to later feed into a keras model for embedding.
[code]

This generates the aforementioned error.

BTW. I am currently trying to define my own LabelEncoder2(LabelEncoder) and overriding the transform() method, but unfortunately simply removing the p

[2017-07-26 11:50] raghavrv opened #9453 "PLS* should not transform on y"
Transforming on y doesn't conform with our API. Also it returns X, y which again doesn't conform with our API right?

Copying @bthirion's comment here -

@agramfort, I think that Y could be avoided in the transform for PLSRegression, not for PLS Canonical -- that is more like CCA. However, this probably implies a thorough refactoring of the code.

(Making an issue from a stalled PR #9160)

[2017-07-26 12:27] jnothman commented on #8136
Again, I think you want a CountVectorizer.

On 26 July 2017 at 21:38, Jan Zyśko <notifications@github.com> wrote:

[2017-07-26 14:57] amueller commented on #9445
@lesteve good radar :)
I think it's good to open issues for such problems, though, so
a) Other people can work on them
b) people that have no time to keep up (like myself) can find out about them ;)

[2017-07-26 15:01] amueller opened #9454 "backport msg in assert_raises and assert_raises_regex"
As discussed on the mailing list, I think we should have a backport of the context manager and ``msg`` argument in ``assert_raises`` and ``assert_raises_regex`` as they were introduced in Python3.3:
https://docs.python.org/3/library/unittest.html#unittest.TestCase.assertRaises

Then we can make that the asserts in ``check_estimator`` have reasonable messages.

[2017-07-26 15:01] amueller commented on #9454
@jnothman suggested to use pytest methods instead, if I understood him correctly.

[2017-07-26 15:32] amueller commented on #8136
The original issue will be solved by #9151.

[2017-07-26 22:51] jnothman commented on #9454
pytest or nosetest doesn't really matter. what matters is that we use an
assert_raises variant as a context manager, not as a function of the
function being tested.

On 27 Jul 2017 1:02 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-07-26 22:52] jnothman commented on #9454
pytest and recent unittest both have context manager implementations we
could backport.

On 27 Jul 2017 8:51 am, "Joel Nothman" <joel.nothman@gmail.com> wrote:

[2017-07-27 06:26] hemanthsavasere commented on #9438
Hi @amueller
Can I start working on this, I would like to contribute.

[2017-07-27 11:16] #9448 closed

[2017-07-27 12:39] #5353 closed

[2017-07-27 13:09] nnadeau opened #9456 "`MLPRegressor` quits fitting too soon due to `self._no_improvement_count`"
#### Description
- `MLPRegressor` quits fitting too soon due to `self._no_improvement_count`.
  - `self._no_improvement_count` has a magic number limit of 2.
- `_update_no_improvement_count()` uses `self.best_loss_` to check if no improvement has occured.
  - However, if a local minima occurred or the loss curve fluctuates, the fitting can quit early.
- Yes, `batch_size` tuning can improve loss cu

[2017-07-27 16:06] amueller commented on #9456
I have observed this, too. Can we maybe have a reference on what a good default would be from the literature, or is it too batch-size dependent? What does Keras do?

[2017-07-27 16:11] amueller commented on #9438
please go ahead!

[2017-07-27 16:52] amueller commented on #9454
Sorry, I don't follow. The goal is nice messages when ``assert_raises`` fails, right? I was suggesting to provide a message that is displayed together with the assert.
I'm not sure what you are suggesting. Can you provide a link?

[2017-07-27 17:09] amueller commented on #9454
Never mind, got it.

[2017-07-27 17:13] amueller commented on #9454
I still don't understand why, though. because kwargs are provided as ``**kwargs`` and so it would overwrite a ``msg`` kwarg? If that's the reason this seems like a really weird solution.

[2017-07-27 17:42] mchari opened #9458 "sklearn\metrics\scorer.pyc in _passthrough_scorer gives error when I use cross_val_score"
286         score = scorer(estimator, X_test)
    287     else:
    288         score = scorer(estimator, X_test, y_test)

C:\Users\chari\AppData\Local\Continuum\Anaconda2\lib\site-packages\sklearn\metrics\scorer.pyc in _passthrough_scorer(estimator, *args, **kwargs)
    217 def _passthrough_scorer(estimator, *args, **kwargs):
    218     """Function that wraps estimator.score"""
--> 219     retur

[2017-07-27 19:55] bmanohar16 opened #9459 "numpydoc appends a randomized number at the end of references link tags"
#### Description
numpydoc appends a randomized number at the end of references link tags.
Related to issue #9417 and pull request #9420.

The issue is, a random number is generated even after making all duplicate tags unique.

Check out this [link](https://12484-843222-gh.circle-artifacts.com/0/home/ubuntu/scikit-learn/doc/_build/html/stable/modules/generated/sklearn.covariance.MinCovDet.html) for

[2017-07-27 23:13] jnothman commented on #9454
huh? Without looking I assume that the existing implementations assume it
is a context manager if the second argument isn't callable

On 28 Jul 2017 3:13 am, "Andreas Mueller" <notifications@github.com> wrote:

I still don't understand why, though. because kwargs are provided as
**kwargs and so it would overwrite a msg kwarg? If that's the reason this
seems like a really weird solution.

—
You are

[2017-07-27 23:18] jnothman commented on #9458
please provide a full runnable snippet

On 28 Jul 2017 3:42 am, "mchari" <notifications@github.com> wrote:

[2017-07-28 01:51] amueller commented on #9458
It looks like you are using a supervised metric, but are not providing ``y``.

[2017-07-28 01:58] amueller commented on #9458
Which version of sklearn are you running?

This is weird since it looks like you didn't provide ``y``, but estimator.score requires ``y``, but estimator.fit apparently didn't?

[2017-07-28 04:21] mchari commented on #9458
I am using 0.18.1.

Did I misunderstand the documentation ?
model_selection.cross_val_score doesn't seem to require y.
From the stack trace, it seems like scorer was written to handle y =None.

"""Compute the score of an estimator on a given test set."""    285
 if y_test is None:--> 286         score = scorer(estimator, X_test)
 287     else:    288         score = scorer(estimator, X_test,
y_tes

[2017-07-28 05:00] jnothman commented on #9458
Ordinarily you should pass in y. It would not require y if you were doing
clustering with an unsupervised evaluation metric.

On 28 July 2017 at 14:21, mchari <notifications@github.com> wrote:

[2017-07-28 07:23] mortonjt opened #9460 "Overfitting in PLSRegression"
#### Description

It looks like PLSRegression is fitting noise really well

I've put together a null dataset simulating of the noise that I'd typically expect out of my dataset.
(See here for [notebook](https://github.com/mortonjt/benchmarkThis/blob/master/ipynb/part10_null_pls.ipynb))

Specifically, I generated the following dataset

![image](https://user-images.githubusercontent.com/4184797/2870

[2017-07-28 13:25] DigNeurosurgeon commented on #5967
Same issue here when converting regression problem to classification problem using pandas cut() method to create 5 categories... I get the error on cross_val_score(); conda update (July 28, 2017) did not make a difference.

[2017-07-28 13:46] ruqianq commented on #5967
Hi @Kautumn06, I am so sorry for late reply!!! My github account links to one of my gmail which I won't check often.

What I did just creating a numeric code for the categorical y, basically the way is Excellent = 5, Good = 4 ... (Very dumb I know...). Since I am coming from the background of R, so I am kinda surprised that I have to do the encoding in Python (In R I will factorize the variable wi

[2017-07-28 15:27] amueller commented on #9454
Yeah, indeed. I just think it's weird that you need to use a context manager to specify ``msg``.

[2017-07-28 15:29] amueller commented on #9458
@mchari can you please provide a reproducible example? What's the estimator?
And ``cross_val_score`` can indeed handle not having ``y``, but as I said, the score method of your estimator requires it.
So it would be really good if you could provide the full code.

[2017-07-28 15:37] amueller commented on #5967
@ruqianq building on pandas categorical variables in Python is a bit more tricky than in R because pandas has no stable C api that we could code against.

There seem to be a lot of unrelated issues in this. It would be great if *someone* could produce a self-contained minimum example (which is seems none of the 8 different reports have).

It looks like we're not treating categorical variables righ

[2017-07-28 15:43] amueller commented on #5967
FYI, the ``values`` attribute of a categorical series is not a numpy array. That's a quirk of the pandas api as far as I can tell (@jorisvandenbossche mentioned something like that, I think? Can you give details?).
Which shouldn't be a problem, since we should never use that anyhow, and use ``np.array`` or ``np.asarray`` instead.

[2017-07-28 15:54] amueller commented on #5967
I can create this error with ``cut``:

[code]

Which is maybe slightly inconvenient but not super surprising. We'll be able to handle this better once we have #9151 and #9012 I think (though I'm not sure ``CategoricalEncoder`` currently works with this).

[2017-07-28 15:55] jorisvandenbossche commented on #5967
I didn't look into detail, but I expect someone passed a pandas `Categorical` object as X or y (which can be the result of the `pd.cut` function, as someone mentioned this was used), and scikit-learn's `safe_indexing` fails on this:

[code]

This is because the signature of `Categorical.take` does not fully conform to numpy's `ndarray.take` (this could actually be regarded as kind of a bug in pand

[2017-07-28 16:01] amueller commented on #5967
@jorisvandenbossche but ``safe_indexing`` has an ``hasattr(X, 'iloc')``. So this should work at least since scikit-learn 0.17.

[2017-07-28 16:09] amueller commented on #5967
Actually that was already in 0.16, so @IrvicRodriguez's error is strange.

[2017-07-28 16:13] amueller commented on #5967
@DigNeurosurgeon you did a dummy encoding on ``y``? That should not have been necessary (and changed the problem to a multi-label problem, where you might get surprising results).
Can you share your version of scikit-learn, pandas, and your original error, ideally with a minimal script to reproduce?

I'm very tempted to close again and block the issue, so that people can report their issues separa

[2017-07-28 17:18] zfrenchee commented on #9453
+1 on refactoring PLS*. Other issues with requests include mine (#8934) and #9460.

Who maintains PLS* ?

[2017-07-28 18:25] edlee123 opened #9461 "oob_prediction_ (out-of-bag prediction)"
How come RandomForestRegressor has an oob_prediction_ attribute, whereas RandomForestClassifier does not?  Is it to be implemented?

 I'm after predictions like  R's randomForest 'predicted' argument.
"the predicted values of the input data based on out-of-bag samples."

Thank you

[2017-07-28 18:30] jrbourbeau commented on #9461
It looks like `RandomForestClassifier` has a `oob_decision_function_` attribute instead. This has the score for each class, for each sample.

[2017-07-28 19:09] Sentient07 commented on #9443
Hi, I would like to work on this.

Could you please elaborate this?

From what I understand, currently, there is a parameter `skip_methods` (of the class `DelegatorData`). When this class is initialised(inside the list `DELEGATING_METAESTIMATORS`)  the `skip_methods` parameter contains some methods of those class that are omitted from testing. If I understand correctly, we have to eliminate that p

[2017-07-28 20:46] agramfort commented on #9453
@bthirion helped but he did not write the original code AFAIK.
A maintainer with more free time would be great.

[2017-07-28 20:55] edlee123 commented on #9461
That's it! thank you

[2017-07-28 20:58] bthirion commented on #9453
I'll be happy to help indeed, but cannot invest much time in the refactoring.
Best.

[2017-07-28 21:34] amueller commented on #9443
You seem to be talking about the ``test_metaestimator_delegation`` which tests that meta-estimators delegate methods appropriately. That's not very related to what I'm proposing.

What we need to do is add a new test and call ``check_estimator`` on some instances of these estimators, like ``check_estimator(make_pipeline(StandardScaler(), SVC()))``

[2017-07-28 21:38] #9461 closed

[2017-07-28 21:44] Sentient07 commented on #9443
Ah! Okay makes sense now.

Here, do you mean the warnings raised in line 269 of `sklearns/utils/estimator_checks.py`? And in this PR, once we add tests using `check_estimator` for the above said instances, do you want to remove that warning as well?

[2017-07-28 21:56] amueller commented on #9443
Hm no, the check I meant isn't in master yet, it's only in #8022 it seems.

[2017-07-29 11:43] jnothman commented on #8008
Could you please summarise here what possible (not hacky) options we have for undirected KNN kernels? Thanks a lot.

[2017-07-29 11:53] jnothman commented on #9454
The old-style form of `assert_raises` which we use takes a callable, and passes all *args and **kwargs to that callable. Unless `assert_raises` were redesigned under a different name to have the passed kwargs as a separate arg (i.e. `kwargs={'arg1': 'val1', ...}`), it no longer can use kwargs for configuring `assert_raises` behaviour. The only option, then for modifying `assert_raises` behaviour,

[2017-07-29 12:23] #8796 closed

[2017-07-30 04:24] jnothman opened #9463 "Deprecate Imputer with axis=1?"
After having tried to deal with a few issues related to extending `Imputer` behaviour, I believe we should be removing the `axis` parameter from `Imputer`.

* It seems a strange feature to support in a machine learning context, except perhaps where the features represent something like a time series.
* It is not stateful and can be performed with a FunctionTransformer. (We could even provide a `ro

[2017-07-30 05:05] jnothman commented on #9393
@yarikoptic, we would like to release. We need a way to reproduce the error, or we will need to skip the tests / lower the condition on certain architectures.

[2017-07-30 05:22] #9417 closed

[2017-07-30 21:37] piyush0609 commented on #9429
@amueller I am interested. Do you have the citation link for this?

[2017-07-31 08:42] souravsingh commented on #9429
@amueller I have tested the matrix decomposition on Olivetti Faces dataset on both MKL and Openblas. Here are the results-

Under MKL and Intel Python distribution-
[code]

and under normal python and OpenBLAS-
[code]

Only `MiniBatchSparsePCA` shows better performance with OpenBLAS.

Would you like me to do more benchmarks?

[2017-07-31 08:58] piyush0609 commented on #9429
@souravsingh can you try it with a more powerful instance?

[2017-07-31 09:47] souravsingh commented on #9429
Here are the benchmarks done on Google Cloud HighCPU-8 instance(Cant get HighCPU-16 instance)-

For MKL-

[code]

And for OpenBLAS-
[code]

[2017-07-31 11:28] DigNeurosurgeon commented on #5967
@amueller Thanks for response, for -to me surprising- reasons I am not able to get the issue back now... in case I will encounter it again, will try to create minimal sample and post separately.

Keep up the good work! :-)

[2017-07-31 14:30] lesteve commented on #9454
FWIW in joblib we completely removed `assert_raises_regex` and `assert_raises` and use `pytest.raises` instead:

[code]

Not sure whether we want to do the same in scikit-learn.

[2017-07-31 15:31] rth commented on #9429
@souravsingh Could you please provide more information about your setup in both environments? In particular, did you use the official version of scikit-learn & numpy linked against MKL or builds from the intel conda distribution, where [they mention significant speedups](https://software.intel.com/en-us/distribution-for-python/features)?

In my understanding, in addition to linking to MKL, in the

[2017-07-31 15:33] rth commented on #9429
@souravsingh Also could you please provide the script you used for benchmarking?

[2017-07-31 15:52] amueller commented on #9454
@jnothman That was my question, and you're confirming my interpretation of the situation.

[2017-07-31 15:53] amueller commented on #9429
I would run something that takes significantly more time. If your benchmark only runs a fraction of a second, this will most likely be dominated by overhead, not the actual computation. Try running a benchmark that takes closer to a minute.

[2017-07-31 16:00] amueller commented on #5967
@DigNeurosurgeon Ok cool. please do :) Closing this, as it seems resolved in 0.16.

[2017-07-31 16:00] #5967 closed

[2017-07-31 16:22] amueller commented on #9463
It could be stateful for KNN, right? That might not be totally useless. But not sure if that's something that people are doing.
But yeah, it's a strange feature, and I wouldn't be opposed to removing it.

[2017-07-31 20:38] amueller commented on #9445
I'm not sure I understand your comment. It seems to work fine for me locally, using ``pytest --doctest-glob='*.rst'
``

[2017-07-31 20:46] amueller commented on #9445
Interestingly it works if I run it in the modules subfolder, but running it in the ``doc`` folder doesn't work?

[2017-07-31 21:10] amueller commented on #9445
Interestingly
[code]
results in multiple ImportMismatchErrors for me locally...

[2017-08-01 01:30] swordspoet commented on #7845
@jolespin thank you!

[2017-08-01 03:29] jnothman commented on #9463
I'm not sure what it means in a knn imputation context.

On 1 Aug 2017 2:22 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-08-01 04:54] lesteve commented on #9445
Off the top of my head one thing I remember last time I looked is that there is no straight equivalent of `--doctest-fixtures` for nosetests.

I did not look at it in more details since.

[2017-08-01 05:42] souravsingh commented on #9429
For those curious, Here is the setup in both environments-

Intel environment-
[code]

And OpenBLAS environment-

[code]

[2017-08-01 05:46] souravsingh commented on #9429
For the script, I used the Olivetti Faces Deomposition example from scikit-learn docs.

[2017-08-01 06:05] renewang commented on #7206
Hi, I'm interested in working on this problem. But starting from CalibratedClassifierCV(BaseEstimator, ClassifierMixin), I just wonder, what should be put into cv_results_ for CalibratedClassifierCV because all it does is fitting base_estimator with training set and fitting _CalibratedClassifier with testing set. There's no scoring passed in. I'm not sure if this class is fully conform to the Base

[2017-08-01 08:02] jnothman commented on #7206
CalibratedClassifierCV is a bit different, yes. Don't worry about it.

On 1 August 2017 at 16:05, Shiou-Ling Rene Wang <notifications@github.com>
wrote:

[2017-08-01 08:52] sangeet259 commented on #9430
I am a newcomer to Open Source contribution . I know python can you tell me how to get started with this bug ?

[2017-08-01 09:36] VathsalaAchar commented on #8501
Hello, I have submitted a PR for this and am waiting for a review/merge. Could someone help me with this?

[2017-08-01 10:45] evotjh opened #9467 "_pickle.PicklingError: Can't pickle <function <lambda> at 0x7f253aa720d0>: attribute lookup <lambda> on __main__ failed"
#### Description
`_pickle.PicklingError: Can't pickle <function <lambda> at 0x7f253aa720d0>: attribute lookup <lambda> on __main__ failed`
when executing on more than 1 cores:
[code]

#### Steps/Code to Reproduce

[code]

#### Expected Results
Should work as it does with njobs=1.

#### Actual Results
[code]

#### Versions

Linux-3.19.0-80-generic-x86_64-with-Ubuntu-14.04-trusty
Python 3.4.3 (defau

[2017-08-01 11:02] rth commented on #9467
@evotjh You define your pre-processor and tokenizers for CountVectorizer as a lambda  functions. The builtin Python pickle (on which joblib depends) can't pickle those.

The solution is to,
 - either define those two as regular functions before the pipeline (recommended)
 - try to see if importing `dill` in your script fixes this issue [as suggested here](https://stackoverflow.com/a/25353243/17912

[2017-08-01 11:04] jnothman commented on #9467
@rth, would you mind submitting an addition to our FAQ? Thanks.

On 1 August 2017 at 21:02, Roman Yurchak <notifications@github.com> wrote:

[2017-08-01 11:05] #9467 closed

[2017-08-01 14:37] dohmatob opened #9468 "ENH: Add possibility to retrieve activations of all layers in MLP classes ?"
#### Description
The `predict` method of  `MLPRegressor` (for example) only returns the activation of the last layer (consistently with the rest of sklearn). It'd be nice to be able to get the activation of all the other (non-input) layers too, via a new method named something like `_predict_all_activations` since these are computed anyways in the `_predict` method invoked by `predict`

#### Propo

[2017-08-01 14:49] afrendeiro commented on #5818
Would really like an implementation in sklearn. Any update on this?

It has attracted a lot of attention also in Biology:
[Diffusion maps for high-dimensional single-cell analysis of differentiation data ](https://academic.oup.com/bioinformatics/article-lookup/doi/10.1093/bioinformatics/btv325)
[Diffusion pseudotime robustly reconstructs lineage branching ](https://www.nature.com/nmeth/journal/v13

[2017-08-01 14:57] satra commented on #5818
@afrendeiro - there is a scikit-learn compatible implementation here: https://github.com/satra/mapalign

[2017-08-01 14:59] satra commented on #5818
@GaelVaroquaux - this notebook also shows some differences with standard spectral embedding in toy problems. https://github.com/satra/mapalign/blob/master/docs/dmap_intro.ipynb @afrendeiro - the notebook also illustrates how to use the scikit-learn compatible embeder.

the complex problems are harder, because ground truth is often missing.

[2017-08-01 15:03] dohmatob commented on #9468
This is now PR #9469, closing.

[2017-08-01 15:03] #9468 closed

[2017-08-01 15:06] afrendeiro commented on #5818
@satra Thank you so much, will try it out! Nice notebook comparing the two methods by the way

[2017-08-01 16:39] amueller commented on #9325
This might become more work after #9363 because previously a) tests were not run b) sub-modules were ignored.

[2017-08-01 17:40] amelio-vazquez-reina opened #9470 "Bad nested CV example? It looks like each CV loop does the same exact split on the data"
I think [this example](http://scikit-learn.org/stable/auto_examples/model_selection/plot_nested_cross_validation_iris.html) of nested cross validation (from the main site) isn't implementing nested cross validation properly. The example uses the same exact data and does the same exact splits for each level of nested CV. This is inconsistent with my understanding of how nested CV should be implemen

[2017-08-01 18:16] amueller commented on #9470
Line A is not used in Line B. Line A is to show of simple cross-validation, Line B is to show off nested cross-validation. The code does what you think it should do.

[2017-08-01 18:18] amueller commented on #9470
The link to your cross-validated question is dead btw.

[2017-08-01 18:22] amelio-vazquez-reina commented on #9470
Thanks @amueller I fixed the URL on my post.

[2017-08-01 18:25] tgsmith61591 commented on #9305
From [this block](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/weight_boosting.py#L139):

[code]

Wouldn't it be as simple as maintaining another list (similar to `estimator_weights_`)? For example (larger block for context):

[code]

[2017-08-01 18:25] amueller commented on #9470
My understanding is the same as in the top answer, and that is actually what this example tries to illustrate. If it's not clear to you (it is indeed a bit complicated), I would welcome you to make it more clear.
The point the example is trying to make is that if you use the best grid-search score as generalization performance, you're being too optimistic.

[2017-08-01 18:27] amelio-vazquez-reina commented on #9470
Doesn't this line:
[code]
evaluate `clf` (which has already been trained with `GridSearchCV` on  `innerCV`) on yet another (single-level) K-fold using `outer_cv`?

And don't `innerCV` and `outerCV` define the same splits on the same data? (same random state and # of splits?)

[2017-08-01 18:30] amueller commented on #9470
As I said above, Line A is not used in Line B. The fit in line A is completely ignored. ``cross_val_score`` fits the model again, for each split of the data. And fitting the model, in the case of ``clf`` means performing cross-validated grid-search.

``innerCV`` and ``outerCV`` work on different data. It does exactly the thing your illustration shows (which is great, and if it's not copyrighted sh

[2017-08-01 18:33] amueller commented on #9470
A bit of an issue here might be how concise the scikit-learn code is.
This single line contains both the inner and outer loop and does the complete nested cross-validation, because the inner loop is entirely encapsulated in ``clf``:
[code]

[2017-08-01 18:40] amelio-vazquez-reina commented on #9470
Phenomenal, this clarifies it:

I didn't know `cross_val_score` would re-fit as opposed to just evaluate on the CV provided (sorry I always use `GridSearchCV` here so wasn't sure about it). 👍

[2017-08-01 18:43] amueller commented on #9470
Good :) Still, feel free to submit a PR to explain the example better. The examples is quite dense for my taste and could use a couple more comments.

[2017-08-01 18:45] amelio-vazquez-reina commented on #9470
@amueller 👍 I'll try to find time this weekend for the PR. Thanks!

[2017-08-01 18:45] #9470 closed

[2017-08-01 18:46] amueller commented on #9470
(trying to keep the issue count down)

[2017-08-01 20:35] amueller commented on #8501
fixed in #8875.

[2017-08-01 20:41] amueller commented on #9430
try using random data with varying dimensionality and number of samples. Use data that is large enough so that the overhead won't outweight the computation, so maybe use something that takes an order of a minute.
I think you need to use their python distribution to use pydaal.

[2017-08-01 20:42] #7998 closed

[2017-08-01 21:42] amueller commented on #9445
you have to call ``getfixture`` for making a fixture work with doctests.

[2017-08-01 21:46] amueller commented on #9463
Well you could learn which feature is most common to which feature is most common to which other feature, and then impute using a distance weighted average of these features.
You could learn something like "this feature is always the average of these other two features" or "these features are perfectly correlated".

[2017-08-01 22:50] jnothman commented on #9470
I think we should just construct the grid search again in the cross_val_score call.

[2017-08-01 23:40] jnothman commented on #9463
sounds like messy code to maintain, because behaviour with axis=1 is subtly
different: the axis=0 version of KNN gets the query from the test data and
the values to average from the training data; the axis=1 version gets the
query from the training data, i.e. nearest neighbors can be precomputed and
the values from the test data. I would rather see a KNNRowImputer if it's
well motivated.

On 2 Aug

[2017-08-02 00:22] jnothman opened #9474 "VotingClassifier should pass sample_weight to estimators as kwargs"
Currently it is passed as a positional arg, which is a bad idea.

[2017-08-02 02:39] jnothman opened #9475 "estimator_checks use isinstance(estimator, ClassifierMixin)"
Some estimator checks use `isinstance(estimator, ClassifierMixin)`. They should use `base.is_classifier` instead. Or we should implement `__instancecheck__` on `ClassifierMixin` so that they are equivalent.

[2017-08-02 08:29] martinxtm commented on #2889
I have the exact same problem on OSX 10.10.5

[2017-08-02 15:49] amueller commented on #9475
I think we should go with the first.

[2017-08-02 15:49] amueller commented on #9463
yeah I agree.

[2017-08-02 17:05] zfrenchee opened #9481 "Documentation Enhancement Request: Example of Spectral Clustering for a graph"
Spectral Clustering is one of the primary ways of clustering graphs. It would very helpful to document a recipe for using this code to cluster graphs.

[2017-08-02 22:00] jnothman commented on #9481
could you point to a dataset, please?

On 3 Aug 2017 3:05 am, "Alexander Lenail" <notifications@github.com> wrote:

[2017-08-02 22:24] stoddardg opened #9483 "GridsearchCV.fit throws ValueError when passed a large dataframe that contains an Object column"
#### Description

I get the error of `ValueError: buffer source array is read-only` in the example below whenever I pass a dataframe with around 200K rows and at least one column of dtype Object into `GridSearchCV` with `n_jobs > 1` . The error seems to be caused by passing in a Dataframe that has Object columns into `GridsearchCV.fit`. My custom class, `DataFrame_Encoder`, properly encodes the Ob

[2017-08-02 23:53] jnothman commented on #9483
this appears to be a bug in @joblib or pandas or their integration. Joblib
is assuming that it is safe to make a read-only memory map of any numpy
array, and that it should do so when the array exceeds a specified size.
Pandas is making use @Cython's typed memoryviews, which do not (yet)
support read-only memory, including memmaps. In scikit-learn we are sadly
forced to avoid memoryviews in many c

[2017-08-03 11:14] #9185 closed

[2017-08-03 13:20] amueller opened #9485 "Provide nightly wheels?"
Using scikit-optimize I realized that it would be great if we could provide nightly wheels. The numpy and scipy wheels mean that we can run CI against their master, which is great for us and them.
It would be good if we could provide the same courtesy to our downsteam users.
(also I just asked cython to do the same for us, so we should set a good example ;)

I have not looked into how scipy and nu

[2017-08-03 13:38] zfrenchee commented on #9481
The "Iris Dataset" in the graph theory world is called the [Karate Club Dataset](https://networkdata.ics.uci.edu/data.php?id=105). It's quite small, and the goal should be to predict two clusters. Libraries like networkx [include this graph as a method](https://networkx.github.io/documentation/networkx-1.10/reference/generated/networkx.generators.social.karate_club_graph.html).

[2017-08-03 14:18] stoddardg commented on #9483
Thanks for the reply. The weird thing about the issue is that it doesn't happen when there are only numeric columns in the dataframe. Other people experienced this bug in prior versions with numeric-only dataframes but those issues seemed to have been fixed [1][2] (or at least as far as I can by the issue status). That's what caused me to think that the issue might be specifically with Object colu

[2017-08-03 14:35] lesteve commented on #9483
I have edited your snippet to add the missing imports (and also added part of the traceback in a "details" section) and I can reproduce the problem.

I think @jnothman's assesment of the problem is pretty accurate. This needs more investigation to figure out whether there is a work-around or a fix.

[2017-08-03 16:23] amueller opened #9487 "Use cython dev in CI"
I think we should use cython-dev on the numpy-dev CI build.
We might be able to get away with using ``no-cython-compile``, if that's too slow, they'll make a nightly build available soon.

[2017-08-03 16:50] #7425 closed

[2017-08-03 16:50] #8089 closed

[2017-08-03 17:09] amueller commented on #7425
hurray, it was a while, but now @nelson-liu's work is finally gonna be used :)

[2017-08-03 17:35] nelson-liu commented on #7425
Good to see, thanks all for finishing this up.

[2017-08-03 20:52] kaqqy opened #9489 "IncrementalPCA.partial_fit doesn't use float division in python 2"
#### Description

The partial_fit method in IncrementalPCA does integer division instead of float division here:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/incremental_pca.py#L249
This causes IncrementalPCA to give the wrong output when using python 2.
[code]
should be changed to
[code]

#### Steps/Code to Reproduce

Running the following code in python 2 and 3

[2017-08-03 23:55] hyzhak opened #9490 "HTTP Error 404: Not Found when calling fetch_rcv1()"
#### Description
HTTP Error 404: Not Found when calling fetch_rcv1()

#### Steps/Code to Reproduce
[code]

#### Reason
there is no file http://jmlr.csail.mit.edu/papers/volume5/lewis04a/a13-vector-files/lyrl2004_vectors_test_pt0.dat.gz

#### Versions
[code]

[2017-08-04 02:44] atorch opened #9491 "sklearn.linear_model.LinearRegression residues_ attribute described as "Sum of residuals" in documentation"
#### Description

The documentation at http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html says residues_ is the "Sum of residuals."  Shouldn't it say "Sum of squared residuals"?  See https://stackoverflow.com/questions/45491548/sum-of-squared-residuals-for-sklearn-linear-model-linearregression.

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Re

[2017-08-04 03:59] jrbourbeau commented on #9489
I was able to reproduce the same problem you're running into and can submit a PR to fix the issue

[2017-08-04 07:20] whitezhang opened #9494 "Bug: Fail to train SVM when got "warning: class label 0 specified in weight is not found""
I found this problem just by accident(when I use K-fold to train huge data)
The problem that I have is similar with issue https://github.com/scikit-learn/scikit-learn/issues/5150. However, when I get this warning "class label 0 specified in weight is not found", I can not even get the model(The kernel is linear).
[code]

I have checked the weight of this parameters, none of them is zero.

Here is