[2018-01-08 15:04] lesteve commented on #10417
I see, thanks for the details. I am fine with using sklearn-ci rather than your account in any case.

[2018-01-08 16:04] bicubic opened #10425 "SVR with rbf kernel accuracy issues"
#### Description
SVR model with rbf kernel achieves significantly worse accuracy than with linear kernel. The dataset is linear.

#### Steps/Code to Reproduce
https://nbviewer.jupyter.org/gist/bicubic/be5d7d2601f6ba897603cdb75c85dda8

#### Expected Results
I think SVR with rbf kernel should achieve the same accuracy as with linear kernel, since the linear kernel is a degenerate instance of rbf: ht

[2018-01-08 17:10] mandeldm commented on #3702
Hi. Are there current plans to incorporate sample_weight into Lasso, ElasticNet etc. the way it is done in Ridge? Thanks.

[2018-01-08 22:12] jnothman commented on #10417
The problem is they seem to require that the person who activates PR integration is also the one who posts comments. and the person who activates PR integration needs to be an admin. And I don't want to make sklearn-ci an admin without 2FA. And 2FA doesn't make sense for an account that multiple people administrate.

[2018-01-08 22:13] jnothman commented on #10417
Ping @jhelie

[2018-01-08 23:37] EmreAtes opened #10430 "AdaBoost has misleading defaults"
#### Description
The default AdaBoostClassifier algorithm has a DecisionTreeClassifier as the default base classifier. This results in the AdaBoost only training one decision tree, since the default decision tree has no limit on the number of leaves, and always fits the training set perfectly.

In the examples with AdaBoost, a custom decision tree is used, except for [this one](scikit-learn.org/st

[2018-01-08 23:44] Johayon opened #10431 "SparsePCA inconsistent on sub-sample"
#### Description
`SparsePCA` and `MiniBatchSparsePCA` will output different results on the method `transform` if it is applied on all the data or a subset. This issue follows from the PR #10428
#### Steps/Code to Reproduce
[code]

#### Expected Results
res_one = res_all

#### Actual Results
[code]
#### Versions
[code]

[2018-01-08 23:47] jnothman commented on #10431
This seems to be due to some global normalisation step... We might need to
get the global scale from training rather than test data. See also #9174.

On 9 January 2018 at 10:44, Jonathan Ohayon <notifications@github.com>
wrote:

[2018-01-09 01:31] pinakinathc commented on #10404
@ericchang00 I was working on this issue and submitted a [pull request](https://github.com/scikit-learn/scikit-learn/pull/10432)

if you were working on this then I can delete my pull request. Also, please let me know how we can divide the work.

Also, please note that i might have got the concept wrong and the pull request that i created might not solve this issue.

[2018-01-09 01:34] ericchang00 commented on #10404
@pinakinathc No worries - I haven't begun working on this issue yet, so feel free to take it.

[2018-01-09 01:36] jnothman commented on #10430
yes, I think we should raise a FutureWarning ("From version 0.22 the
default base_estimator will have max_depth=5 to facilitate boosting"). Is 5
a good pick?

On 9 Jan 2018 10:37 am, "EmreAtes" <notifications@github.com> wrote:

[2018-01-09 01:42] jnothman commented on #10424
You're right. :( How well the current StratifiedShuffleSplit applies in this case may require some thought.

[2018-01-09 02:03] jnothman commented on #10424
Actually, I think this may be correct behaviour. We have no way to stratify across multiple labels in the way you wish. Just use a non-stratified ShuffleSplit and you'll get as close to stratification as you can.

[2018-01-09 02:18] Johayon commented on #9174
I would like to propose a PR for this issue. I think the scale should be done sample by sample as this would be the only way to ensure that the score always stays in (-.5, +.5) for every sample.

[2018-01-09 02:29] jnothman commented on #9174
No, the point of the current implementation is that the rank across columns of the decision function should be meaningful as well as the rank across rows.

[2018-01-09 07:45] Johayon commented on #9174
ok, I did not understand that. Then maybe we scale by the highest possible value for the sum confidence which should be (if i understood correctly libsvm) the number of classes -1, which is the case if a class always win versus the others.

[2018-01-09 08:35] crazyseabiscuit opened #10433 "can't download 20 newsgroups data via python code"
Hello Guys
I am trying to run the classification demo base on 20news group, I download the py file here (http://scikit-learn.org/stable/auto_examples/text/document_classification_20newsgroups.html#sphx-glr-auto-examples-text-document-classification-20newsgroups-py) and run the python code as usual but got below error which says there is a network connection timeout error, I am a little confused si

[2018-01-09 08:51] jnothman commented on #10433
do you need to configure a proxy?

On 9 Jan 2018 7:35 pm, "crazyseabiscuit" <notifications@github.com> wrote:

[2018-01-09 09:04] crazyseabiscuit commented on #10433
no need

[2018-01-09 09:16] siryeh opened #10434 "ImportError: no module named sklearn"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-01-09 09:38] lesteve commented on #7867
OK I have looked a bit at this (including the two PRs from @barrywhart)
 and I have to say that I am a bit stuck, here is where I am at:
- following @njsmith recommendation, and using `install_requires` makes our
  setup.py pip-friendly, which is great for end users: they will do `pip
  install scikit-learn` and get the numpy and scipy wheels (if they are not
  already installed)
- when using `pyt

[2018-01-09 09:47] njsmith commented on #7867
Unfortunately, `python setup.py install` is unfixably broken -- it doesn't properly record what it installed, so after you use it then future uninstalls/upgrades are broken. You might consider checking whether pip is running and erroring out (maybe only if the user asked for `install`). You can tell whether you were invoked by pip because pip makes sure to inject `setuptools` before your `setup.py

[2018-01-09 10:08] lesteve commented on #7867
I see, thanks a lot for the details!

Maybe a dumb question, but is there an easy way to figure out inside setup.py whether we are compiling from source or not?

[2018-01-09 10:40] lesteve commented on #10434
Closing this issue, it is very likely that this is not related to scikit-learn but a general installation problem. I would recommend you find somewhere near you that knows Python a little bit and can help you. Otherwise googling + StackOverflow may help.

[2018-01-09 10:40] #10434 closed

[2018-01-09 10:50] lesteve commented on #10433
Do you get a similar error when executing this snippet:

[code]

If you do then it's not scikit-learn fault, so can you please close the issue?

By looking at the source code, you may be able to hack it to use your manually downloaded file. A possibly easier solution is find someone that can download the data (it may be yourself on a different network) and copy your `scikit_learn_data` folder (don

[2018-01-09 12:00] jhelie commented on #10417
Hi, thanks for pinging me. Yes the current situation on both fronts is something we'd like to change. @sjvs can tell you more about what you can expect and when!

[2018-01-09 12:08] KOLANICH opened #10436 "Clarify the license of the artwork"
I'm not a lawer, but I doubt that BSD license also applies to the artwork, since it is neither source code nor binaries in a narrow sense "built program".

[2018-01-09 12:25] jnothman commented on #10436
Which artwork, FWIW?

[2018-01-09 13:05] Johayon commented on #9174
maybe we can apply a sigmoid to map (-inf,+inf) to (-.5,+.5) with respect to the order.
`(exp(x) - 1)/2(exp(x) + 1)`

[2018-01-09 13:24] emanjavacas commented on #5082
I just realized that RandomizedSearchCV only accepts a dictionary as input to param_dists making it impossible to have conditions in the grid (e.g. if `kernel` is `rbf` explore also parameter `gamma` with a given distribution). The similar setup is possible in GridSearch by passing a list of dictionaries to the `parameters` argument. I was wondering if there is an actual technical reason for the s

[2018-01-09 13:29] KOLANICH commented on #10436
https://github.com/scikit-learn/scikit-learn/blob/master/doc/logos/

[2018-01-09 13:31] glemaitre commented on #10430
Isn't the AdaBoostClassifier using a stump classifier as a default classifier:
https://github.com/scikit-learn/scikit-learn/blob/a24c8b46/sklearn/ensemble/weight_boosting.py#L417

In the below example, the fitted estimators are decision tree with a `max_depth=1`

@EmreAtes
Do I miss or misunderstand something in your issue?

<details>

[code]

[2018-01-09 14:40] qinhanmin2014 commented on #10430
Maybe we should try to document the default base estimator we use? E.g., `AdaBoostRegressor` is using `DecisionTreeRegressor(max_depth=3)` as default, which at least confuse me some time in the past.

[2018-01-09 15:21] glemaitre commented on #10430
@qinhanmin2014 I am +1 to add to the documentation that AdaBoostClassifier used a decision stump (tree with max_depth=1) and the regressor as a max_depth at 3.

I am not sure that it is worth changing the behavior of the regressor (using a decision stump as well). We will have to emit a FutureWarning which will introduce some noise. I am not super familiar with regression problem using AdaBoost bu

[2018-01-09 15:32] qinhanmin2014 commented on #10430
I don't mean to change it. Just a bit curious about how the value is chosen.

LGTM. This is also what I want to express in my comment.

[2018-01-09 17:09] glemaitre opened #10438 "Imputer should raise an error with infinite if not considered as missing value"
#### Description

Imputer is not tested for inf and NaN in common tests. However, the behaviour when there is infinite values is not raising an error and give corrupted results.

#### Steps/Code to Reproduce

[code]

#### Expected Results

Probably an error raised.

#### Actual Results

[code]

`ma.mean` will masked the column where there is the infinite number.
Therefore, the second column is dis

[2018-01-09 17:24] EmreAtes commented on #10430
@glemaitre you're right, my problem occurred because I wanted to use `class_weight='balanced'`, and I used a default decision tree with only `class_weight` set, which caused AdaBoost to exit after fitting the single decision tree. I agree that documentation would help.

[2018-01-09 17:28] glemaitre commented on #10430
Oh yes in this case a default DecisionTreeClassifier has max_depth to None.

[2018-01-09 17:43] gxyd commented on #8337
@amueller What do you mean by "somewhat uncertain outcome"?
Is this problem still in scope for scikit-learn?

[2018-01-09 17:58] pgad commented on #10430
Hi, can I take this issue?

[2018-01-09 18:05] glemaitre commented on #10430
‎Go for it.  

[2018-01-09 18:24] janvanrijn opened #10439 "set_params fn for pipeline to maintain order of parameters"
#### Description

When I want to use the set param method to set a bunch of parameters, I can not control the order in which these are set. As a result, sometimes the program crashes, as setting hyperparameters requires a specific order.

e.g., SGD classifier requires the eta0 hyperparameter to be set to a value higher than 0 (which is the default) if a learning rate schedule other than optimal is

[2018-01-09 20:00] amanp10 commented on #9098
I would agree with @facaiy ,
In **GradientBoosting**, X is converted to float32 and y preserved in line,
`X, y = check_X_y(X, y, accept_sparse=['csr', 'csc', 'coo'], dtype=DTYPE)`

In **DecisionTreeRegressor**, X is converted to float32 in line,
`X = check_array(X, dtype=DTYPE, accept_sparse="csc")`
and y is preserved in line,
`y = check_array(y, ensure_2d=False, dtype=None)`

[2018-01-09 20:31] jnothman commented on #5082
You would then need a way to specify the probability of taking each of
multiple paths.

On 10 January 2018 at 00:24, Enrique Manjavacas <notifications@github.com>
wrote:

[2018-01-09 21:54] jnothman commented on #9174
a sigmoid makes sense, I think, although it might break backwards
compatibility more. A PR is welcome. I don't know if the current logic is
reasonably well tested anywhere; certainly not in utils/tests. This should
change, and I'd appreciate if you start with testing the properties of the
old implementation (or verifying that such tests exist) before replacing it.

On 10 Jan 2018 12:05 am, "Jonath

[2018-01-09 22:02] jnothman commented on #10436
I think the issue is less one of copyright than of trademark. ping
@gaelvaroquaux

On 10 Jan 2018 12:29 am, "KOLANICH" <notifications@github.com> wrote:

https://github.com/scikit-learn/scikit-learn/blob/master/doc/logos/

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/scikit-learn/scikit-learn/issues/10436#issuecomment-35628394

[2018-01-09 22:07] GaelVaroquaux commented on #10436
With regards to BSD and artwork, you're probably right, but it is really useful to go in this direction?

With regards to trademark we (Inria and Telecom, I believe) do own the trademark for scikit-learn. I just checked, and we did not register the logo. Probably because it was more expansive. Do people think that this would be useful?

[2018-01-09 22:16] jnothman commented on #10438
@ashimb9 you have already implemented a portion of the changes to check_array. Interested in fixing this too?

[2018-01-09 22:22] jnothman commented on #8337
somewhat uncertain outcome means you're not guaranteed it will be merged,
and the review process will take a long time, especially if the contributor
does not start with strong experience and high code/design quality

[2018-01-09 22:22] Johayon commented on #9174
the `test_ovr_decision_function` seems to test the current logic well enough.
https://github.com/scikit-learn/scikit-learn/blob/6fdcb3b1a9f03b1054e6dbf1d039e921ff71f55a/sklearn/svm/tests/test_svm.py#L938-L977

[2018-01-09 22:23] jnothman commented on #10436
I suppose that others can use the logo without the name if they'd like!

[2018-01-09 22:32] jnothman commented on #10430
sorry that I took the issue on face value! good to see we only need doc
improvements!

[2018-01-09 22:34] jnothman commented on #10439
Please give the actual error traceback. Please specify which version.

Some changes were recently made to set_params. Please try in master.

[2018-01-09 22:41] jnothman commented on #9174
yes, I suppose it checks the main properties on a small sample. It assumes
you can't control the ovo output, while testing the helper directly would
allow us to do so and hence be more rigorous.

[2018-01-09 22:43] KOLANICH commented on #10436
The question was not about trademark, it was purely about copyright. What is the license of that logos? What everyone is allowed to do with them? They are in an repo under free license. But that license's wording is unclear, and, you know, there exist people who use laws to take other's peoples' money with the help of other people called lawers. I doubt that the images in a free software repo are

[2018-01-09 23:51] rth commented on #10436
I don't see why one can't consider those logos by default under BSD license as everything else. Though, if you keep the work "scikit learn" in the logo, I imagine the trademark would apply in addition.

Excepting for the "scikit learn" term, these logos are as much "work of art" as any plot in the documentation, BSD extends to materials included with the software. Besides, the original logo file i

[2018-01-10 01:27] crazyseabiscuit commented on #10433
it is still weird wince I can download the data manually...you can close this issue,can you give me a link or reference to introduce how to hack the data? thanks!

[2018-01-10 01:56] njsmith commented on #7867
The simplest approach would be to make `setup.py` always error out if `numpy` isn't installed. Pretty much the only things you can do with `setup.py` are either to build from source, or some more obscure developer-only actions, and I assume developers will have `numpy` installed anyway.

[2018-01-10 02:02] jnothman commented on #7867
Which is pretty much the status quo?

On 10 January 2018 at 12:56, Nathaniel J. Smith <notifications@github.com>
wrote:

[2018-01-10 02:16] jnothman commented on #10433
Then it's got something to do with your Python or terminal's HTTP configuration...

Easiest way to handle it might be to simply monkeypatch urlretrieve as used in `sklearn/datasets/base.py`:

[code]

[2018-01-10 02:16] #10433 closed

[2018-01-10 03:49] maykulkarni commented on #10438
If @glemaitre is busy I am willing to take it up :)

[2018-01-10 04:30] qinhanmin2014 commented on #10430
Btw @pgad
It will be better if you can try to figure out why  `AdaBoostRegressor` is using `DecisionTreeRegressor(max_depth=3)` as default (e.g., go through the reference and relevant PR). Thanks.

[2018-01-10 05:15] vivekk-ezdi opened #10445 "BaseNB predict() method doesn't do input validation"
#### Description
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/naive_bayes.py#L53

The predict() method defined here doesn't do the input validation by calling
`X = check_array(X)`

Which then results in a different difficult to understand error.

#### Steps/Code to Reproduce

[code]

#### Expected Results
Error should have been thrown as input in X_test is non numerical.

####

[2018-01-10 05:51] GaelVaroquaux commented on #10436
Legally, they are under BSD, as everything in the repo.

I am not one of them, and neither are the other developers.

It's not that easy: we cannot change the license of a file without asking
confirmation for all the people who touched that file, and file that it
inherited from. Chassing people is a significant amount of work. I am
still not convinced that it's worth spending our time on this work

[2018-01-10 07:19] jnothman commented on #10445
Thanks. This is actually a duplicate of #10229

[2018-01-10 07:19] #10445 closed

[2018-01-10 07:24] vivekk-ezdi commented on #10445
@jnothman  Oh ok. I actually saw that issue and thought that mine is related to `check_X()` not actually being present in BaseNB and by extension in GaussianNB(). Nevermind though and sorry for duplicate issue.

[2018-01-10 10:25] glemaitre commented on #10438
You can go for it @maykulkarni

[2018-01-10 10:44] ashimb9 commented on #10438
@jnothman Sure, but looks like I am a little too late? Having said that, I will be glad to help any way I can.

[2018-01-10 10:51] glemaitre commented on #10430
@qinhanmin2014

Check https://github.com/ndawe/scikit-learn/pull/21 for the reason to have regression with a max_depth at 3.FYI, Originally both classifier and regressor has a max_depth=3

[2018-01-10 10:53] glemaitre commented on #10438
Ups my bad, I did not read the thread properly. @ashimb9 and @maykulkarni you can manage together :)

[2018-01-10 11:10] gerdinard commented on #2606
Hello guys. Is this still on?

I have finished an implementation of ML-kNN based on sklearn's kNN and the original paper "ML-KNN: A lazy learning approach to multi-label learning".

[2018-01-10 11:27] jnothman opened #10446 "Bot for adding "has pr" label to issues"
We are terrible at removing "help wanted" labels from issues that have solutions in the works. Having another label added automatically when a PR exists that claims to fix an issue would help. Or perhaps just automatically removing "help wanted" would do.

Unfortunately GitHub provides little in the way of API to identify when an issue is referred to, let alone by a pr with "fixes", "closes", etc.

[2018-01-10 11:29] jnothman commented on #10438
The point is that @ashimb9 already had considered something like this in the knn imputation PR

[2018-01-10 11:33] jnothman commented on #2606
A PR is welcome but expect a slow process to merge; so is a summary of the algorithm.

[2018-01-10 12:23] qinhanmin2014 commented on #10430
Thanks @glemaitre for the investigation, here is the complete history:
2011.12 https://github.com/scikit-learn/scikit-learn/commit/b454d56bd366034872e7c76f45798f8ead2e77e5
AdaBoostClassifier:DecisionTreeClassifier()
AdaBoostRegressor:DecisionTreeRegressor()

2012.12 https://github.com/scikit-learn/scikit-learn/commit/0f620c1062761dcef648a35a2b8509b76125dd4d
AdaBoostClassifier:DecisionTreeClassifie

[2018-01-10 12:29] emanjavacas commented on #5082
It would make sense for it to be uniformly sampled, the same as what happens when you input a list as value of a parameter key the RandomizedSearchCV parameters argument.

[2018-01-10 14:17] maykulkarni commented on #10438
Then I believe we'll let @ashimb9 complete the work :)

[2018-01-10 15:19] saksham-s opened #10448 "Loading Dictionary weights in skelarn.decomposition.DictionaryLearing"
#### Description

There seems no way to load the already computed dictionary to get the transform for new data.

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-01-10 15:20] saksham15082 commented on #10448
This is the link to the api :
http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.DictionaryLearning.html

[2018-01-10 15:34] matth opened #10449 "Numpy deprecation warning: sklearn/preprocessing/label.py:151"
Hi, I get this deprecation waring with latest numpy (1.14.0) and scikit-learn (0.19.1)

[code]

My environment ...

[code]

[2018-01-10 15:49] gxyd commented on #10446
Hi @maykulkarni , you sent me a private mail regarding your interest and me helping you in fixing this. Actually I'd (until Joel opened this issue) no prior knowledge that this is indeed required. So for the last part of mail, actually I don't have any further instructions to follow here. [See discussion](https://gitter.im/scikit-learn/scikit-learn?at=5a546320290a1f4561675f77).

Though I'm interes

[2018-01-10 16:38] glemaitre commented on #10404
@jnothman I was speaking with @ogrisel IRL and he has some concerns that we are only supporting NaN as missing values. An argument like in the `Imputer` to define the missing value should maybe be considered.

[2018-01-10 17:18] lesteve commented on #7867
Agreed, basically this is what we are already doing. Unless there is a way in our setup.py to figure out that we are installing a wheel (or using `pip wheel` as in the OP), I am not sure what we can do to improve the situation :disappointed:.

[2018-01-10 18:40] js3711 commented on #10408
I have been able to cobble together some code to compute feature importance for each class.  Unfortunately I am not able to share the code, but I can quickly describe the thought process.

- For each tree and each node compute each classes contribution to the impurity ( P_i (1-P_i) for gini ).  I used tree.value to get the number of datapoints from each class at each node to compute P_i
- Compute

[2018-01-10 19:28] njsmith commented on #7867
My compete suggestion is:

* Always put numpy and scipy in `install_requires`
* Never use `setup_requires`
* If `setup.py` is run without numpy installed, print a nice error and exit

Is that what's being called the status quo?

[2018-01-10 20:11] glemaitre commented on #10448
Can you provide a stand-alone script to reproduce the problem ? Please read https://stackoverflow.com/help/mcve.
Also for future reference, can you paste the output of:

[code]

[2018-01-10 20:55] jnothman commented on #5082
shrug. I think uniform is often inappropriate. we'd get a lot more power in
allowing a function sample() => candidate. PR welcome. Create an issue is
you want further discussion. This is off topic here

[2018-01-10 21:37] jnothman commented on #10449
Thanks. What do you do to trigger this warning?

[2018-01-10 21:38] jnothman commented on #10449
Also, could this have been fixed #9816, i.e. do you get the warning in master rather than the latest release?

[2018-01-10 21:44] jnothman commented on #10404
On the one hand I recognise nan doesn't work for integer arrays, but I also
feel the support of other missing_values has added complexity to both code
and interface. Still, supporting it is okay.

[2018-01-11 00:17] #10307 closed

[2018-01-11 00:20] #10310 closed

[2018-01-11 00:23] jnothman opened #10451 "Have Travis ensure that what's new is updated"
Sometimes when PRs are merged I waste time going back to double check that what's new has been updated.

We should make a travis run for PRs only that fails if tests are modified and what's new isn't modified. Perhaps we should even check that the diff to what's new mentions the current PR# (although there are sometimes exceptions to this).

Does this seem a reasonable policy?

[2018-01-11 00:25] #10420 closed

[2018-01-11 00:29] glemaitre commented on #10451
Since that I am the first one to forget about it, it would be awesome (until the point that I want to kill Travis to throw those errors in addition of the flake8 one :P). Indeed, I am not sure 100% which case we are supposed to do a what's new entry or not.

The flake8 build could serve for such checking I think.

[2018-01-11 00:34] jnothman commented on #10451
I think since it would be very fast, a separate build is worthwhile so we can see a separate tick or x for it... but I'm okay with it being in flake8 build too....

[2018-01-11 00:36] jnothman commented on #10451
I'm suggesting the relationship changed tests -> what's new under the
assumption that we must report changed behaviours in what's new, and
changed behaviours must be reflected in change tests (which we're much
better at requiring than what's new).

On 11 January 2018 at 11:29, Guillaume Lemaitre <notifications@github.com>
wrote:

[2018-01-11 00:42] glemaitre commented on #10451
+1

[2018-01-11 01:00] #10375 closed

[2018-01-11 01:01] jomicobasi commented on #10375
Sorry Guys, i made a big mistake. LDA feature reduction is based on the number of classes, **y**, and not on the number of features, X.shape[1]

[2018-01-11 01:24] qinhanmin2014 commented on #10449
I believe it's fixed in #9816. Closing.

[2018-01-11 01:24] #10449 closed

[2018-01-11 02:54] niyamatalmass commented on #8376
Does "Polynomial Features for sparse data" implemented?

[2018-01-11 04:29] jnothman commented on #8376
I've had enough of people asking for this and it not getting closed, despite almost all the work having been done. I'll open a PR soon.

[2018-01-11 06:53] jnothman commented on #7242
Currently, estimators have ad-hoc checks that `n_features` match from fit to predict.

Maybe we should implement in BaseEstimator (for use after check_array):
[code]

[2018-01-11 07:34] jnothman opened #10453 "Pandas Interoperability section in User Guide"
I think the User Guide should have an additional chapter on Interoperability. Its first section should be on Pandas. It should cover:

1. That basically all estimators support DataFrames as long as the data is all numeric, by takings its `.values`. but this will result in a copy, so providing a numpy array is more efficient
2. Some meta-estimators (notably model selection and pipeline tools) will

[2018-01-11 07:42] SumeetSandhu opened #10454 "dysfunctional n_jobs=-1 in sklearn.model_selection.GridSearchCV"
I posted this to the mailing list as well - its behavior got weirder since.
If we need to be cognizant of python's parallel programming requirements, it would be great to see those in the User Guide for this function.

#### Description
sklearn.model_selection.GridSearchCV only works with n_jobs=1 on my Mac.
With n_jobs=-1 or n_jobs>1, it is very flaky, and dies for large training sets and/or certa

[2018-01-11 07:51] jnothman commented on #10454
Is this true for random trainVectors? Are trainVectors stored as numpy
arrays or something else? What is the shape of trainVectors? How many
processors?

Do you get this issue with classifiers other than LinearRegression? Do
particular solvers have this effect?

Do you have MKL in operation?

On 11 January 2018 at 18:42, Sumeet Sandhu <notifications@github.com> wrote:

[2018-01-11 08:26] SumeetSandhu commented on #10454
trainVectors and trainLabels are numpy arrays - 1654 data points.

(1654, 1200)

(1654,)

Yes, gridsearchCV breaks with other classifiers too like GradientBoost.
It has never worked with larger trainVectors of shape (11000, 1200) for any
classifier.

I have a 16GB RAM MacPro, 8 processors.
I don't have Math Kernel Library - just whatever comes as default with Mac.

I just ran a single training run

[2018-01-11 10:29] jnothman commented on #10425
With infinite data, I think you might be right.

[2018-01-11 10:55] #8376 closed

[2018-01-11 12:06] matth commented on #10449
Thanks, I did a quick search of issues but missed this. Sorry for dup!

[2018-01-11 12:21] glemaitre opened #10455 "[RFC] Dissociate NaN and Inf when considering force_all_finite in check_array"
Due to changes proposed in #10404, it seems that `check_array` as currently a main limitation. `force_all_finite` will force both `NaN` and `inf`to be rejected. If preprocessing methods (whenever this is possible) should let pass `NaN`, this argument is not enough permissive.

Before to implement anything, I think it could be good to have some feedback on the way to go. I see the following solutio

[2018-01-11 12:29] jnothman commented on #10455
Unsurprisingly, @raghavrv's PR was forgotten in recent discussion of this. I think we want `force_all_finite='allow-nan'` or =`-nan` or similar

[2018-01-11 12:31] jnothman commented on #10455
Note: solving #10438 depends on this decision.

[2018-01-11 13:09] lesteve commented on #10446
As much as I'd like maybe one day (in my wildest dreams) to have bots helping us manage the volume of issues we have, I am not really convinced keeping the "help wanted" label up-to-date is really worth it. Personally I am comfortable enough with "help wanted" being a hint that some help may be needed. Then you need to look around to get a feel of the activity around the issue to figure out whethe

[2018-01-11 13:20] qinhanmin2014 commented on #10446
+1. Instead of a rebot, I might prefer to update the contributing guide to let contributors check the status of the issue before contributing (I suppose most contributors are doing so?).

[2018-01-11 13:39] qinhanmin2014 commented on #10281
Closing. See the previous comment. Feel free to reopen if you disagree (with [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue.). For usage questions, you might first try some other places (e.g., stackoverflow).

[2018-01-11 13:39] #10281 closed

[2018-01-11 13:47] lesteve commented on #10454
Can you provide a stand-alone snippet to reproduce the problem ? Please read https://stackoverflow.com/help/mcve. This will maximise the chance that we can help.

[2018-01-11 19:35] spinicist commented on #10336
In my opinion, yes.

I wanted to compare K-Means, GMM and HDBSCAN and was very disappointed that GMM does not have a `fit_predict` method. The HDBSCAN examples use `fit_predict`, so I was expecting GMM to have the same interface.

[2018-01-11 21:12] agramfort commented on #10436
rather than on fixing bugs or adding features.

+1

[2018-01-11 21:17] agramfort commented on #3702
it should not be hard to do. You can give it a try. See many first if this
is no open PR doing this.

[2018-01-11 21:21] jnothman commented on #10446
I feel like some of those things would save time for maintainers, which is
great, but my concern in raising this pr is that we have so many issues
with open PRs that new contributors find it hard to see things to work on,
when there is plenty. This results in contributors fixing the most recent,
rather than the most important, issues.

I feel that marking an issue that has an active PR would be an

[2018-01-11 21:23] jnothman commented on #10446
but yes some of those suggestions seem very helpful

[2018-01-12 06:44] Dobatymo opened #10458 "LabelEncoder transform fails for empty lists (for certain inputs)"
Python 3.6.3, scikit_learn 0.19.1

Depending on which datatypes were used to fit the LabelEncoder, transforming empty lists works or not. Expected behavior would be that empty arrays are returned in both cases.

[code]

[2018-01-12 09:29] ashimb9 commented on #10455
Oops! Had not noticed that @glemaitre had started this issue, so was tinkering around with the "allow_nan" and "allow_inf" arguments for check_array() based on a discussion with @jnothman a few months ago. In any case, [here](https://github.com/scikit-learn/scikit-learn/compare/master...ashimb9:checkarray?expand=1) is what I have so far, which might or might not be useful when the discussion here

[2018-01-12 09:39] ashimb9 commented on #10438
@jnothman @glemaitre So I am assuming that it will be best to wait for the outcome of the referenced RFC, right?

[2018-01-12 09:41] glemaitre commented on #10455
Oh sorry about that. I just have ping you on the issue as well.
I will submit what I did yesterday and you can review with what you have in head.

[2018-01-12 09:44] glemaitre commented on #10438
yep let's do like that.

[2018-01-12 09:48] ashimb9 commented on #10455
@glemaitre Oh no worries. I am actually surprised that the system did not automatically send out an email since this is cross-referenced at the other issue.

[2018-01-12 10:02] nanoix9 opened #10460 "Preprocessor for cutting continuous features to discrete one"
I need convert continuous features (e.g. a feature in real number between 0. and 1.0) to discrete one, and didn't find a preprocessor in sklearn. I searched and got some way to do this by numpy.histogram or pandas.cut/qcut. They fit the requirement by not very convenient to use since they are not a sklearn component (i.e. support method `fit`, `transform` and `fit_transform`). I want to confirm th

[2018-01-12 10:27] lesteve commented on #10446
My main concerns:
* it is a big chunk of work to set it up. Most of the bots I come across are not in Python and some recommend Heroku deployment. I feel this is not necessarily the kind of skills we have plenty of amongst contributors and core developers.
* even when it works, making it actually useful is another non-trivial step.
* maintaining it may prove challenging as well.

Looking a bit clo

[2018-01-12 11:30] KOLANICH opened #10461 "RandomizedSearchCV acts as a fork bomb"
#### Description

I have encountered a bug. When I run my code which uses sklearn for randomized params search it causes creating enormous amohnt of python processes. There may be a recursion or an infinity loop skmewhere. I couldn't reproduce that on test suite.

The OS is Windows 7, the distribution is Anaconda, scikit-learn is installed from conda.

#### Steps/Code to Reproduce
1 clone https://

[2018-01-12 13:37] TomDLT opened #10463 "Toward a consistent API for NearestNeighbors & co"
### Estimators relying on `NearestNeighbors` (NN), and their related params:
`params = (algorithm, leaf_size, metric, p, metric_params, n_jobs)`

**sklearn.neighbors:**
- `NearestNeighbors(n_neighbors, radius, *params)`
- `KNeighborsClassifier(n_neighbors, *params)`
- `KNeighborsRegressor(n_neighbors, *params)`
- `RadiusNeighborsClassifier(radius, *params)`
- `RadiusNeighborsRegressor(radius, *par

[2018-01-12 14:25] ogrisel commented on #10463
Solution A could be combined with a new transformer estimator to precompute:

[code]

[2018-01-12 15:19] lesteve commented on #7867
IIUC your complete suggestion is "Keep your setup.py as it is and just add numpy and scipy in `install_requires`".

I think this is what https://github.com/scikit-learn/scikit-learn/pull/10402 is doing we should probably discuss there for the finer details.

[2018-01-12 15:34] glemaitre commented on #10461
Are swapping RAM/HDD?

It would be easier to have a minimal example.

[2018-01-12 16:11] sjvs commented on #10417
Hi @jnothman and @lesteve. These are all good points, and as @jhelie said: we're working on using a bot account to do the posting. That functionality should land in the next two months or so.

If you're very keen to get this working now, you could try setting up the integration using the sclearn-ci account by temporarily making it admin. After that setting it up, you can revoke the admin permissio

[2018-01-12 16:14] glemaitre commented on #10458
`le.transform([])` will trigger an numpy array of `dtype=np.float64` and you fit something which was some string.

[code]

[2018-01-12 16:56] gxyd commented on #10446
@jnothman mentions:

How do I look for issues that are 'most important'? Is there some tag
that is currently used for that?

[2018-01-12 20:09] jorisvandenbossche commented on #10215
Any more comments, or somebody who takes a decision?
This is a blocker for the ColumnTransformer (https://github.com/scikit-learn/scikit-learn/pull/9012), unless we decide to for now put it in one of the existing modules and move it later if we decide on this one.

[2018-01-12 20:55] jorisvandenbossche opened #10465 "Handling of missing values in the CategoricalEncoder"
Currently the CategoricalEncoder doesn't handle missing values (you get an error about unorderable types or about nan being an unknown category for numerical types).
This came up in an issue about imputing missing values for categoricals (https://github.com/scikit-learn/scikit-learn/issues/2888), but independently of whether we add such abilities to Imputer, we should also discuss how CategoricalE

[2018-01-12 20:57] jorisvandenbossche commented on #2888
FYI, I opened a separate issue for the missing values handling in the CategoricalEncoder: https://github.com/scikit-learn/scikit-learn/issues/10465

[2018-01-13 01:04] Hillshum opened #10466 "Pylint Considers `datasets.load_iris()` to always return a tuple"
#### Description

When I run `iris = datasets.load_iris()`, I get a `Bundle` representing the dataset. Pylint thinks `load_iris` always returns a tuple, and thus shows errors trying to do things like `iris.data` gets flagged as an error.

#### Steps/Code to Reproduce

[code]

#### Expected Results

No pylint errors

#### Actual Results

[code]

#### Versions

[code]

[2018-01-13 11:50] jnothman commented on #10460
#9342 is likely to be merged before the next release. I'm curious though as
to why you need it.

[2018-01-13 11:50] #10460 closed

[2018-01-13 12:28] jnothman commented on #10463
I've not looked at this in detail yet. But a related idea is the ability of algorithms that can apply NN to precomputed distance matrices can do so to a precomputed sparse graph style of matrix (e.g. kneighbors_graph(X, mode='distance'). DBSCAN currently supports this. #10206 proposes to support it in tSNE and in NearestNeighbors in general.

[2018-01-13 12:29] jnothman commented on #10463
I think you're talking about such sparse precomputed matrices above. Yes, a transformer would be an interesting way to make that easier. Are precomputed (approximate) nearest neighborhoods sufficient for most/all of these algorithms that use NN?

[2018-01-13 12:33] jnothman commented on #10417
Seeing as we're already not at all careful about requiring 2FA for admins, you're probably right...

[2018-01-13 12:42] jnothman commented on #10446
No, there isn't. It's very hard to rank definitively.

On 13 January 2018 at 04:10, Gaurav Dhingra <notifications@github.com>
wrote:

[2018-01-13 13:13] jnothman commented on #10465
I think leave as NaN in ordinal encoding.

Unless there is an option to switch on this behaviour, I think it is problematic to leave a row of zeros or add a new category in one-hot. An additional column would likely be most useful in this case (it's the same as a row of zeros with more information.

[2018-01-13 13:14] jnothman commented on #10465
@jorisvandenbossche were you hoping to implement the changes, or should we mark it help wanted?

[2018-01-13 13:17] #10374 closed

[2018-01-13 13:28] maykulkarni commented on #10458
I would like to take it up.

[2018-01-13 13:37] gxyd commented on #10458
Hey @maykulkarni go ahead with PR. Sorry, please mind my referenced commit, I don't intend to send in a PR.

I would be happy to have a look over your PR once you send in (not that my review would matter much) :)

[2018-01-13 14:00] glemaitre commented on #10461
Are you using `n_jobs>1`?

[2018-01-13 14:28] KOLANICH commented on #10461
I have tried different values of njobs: 1, 0 . The result is the same.

[2018-01-13 17:38] Hillshum commented on #10466
Looks like it's a case of https://github.com/PyCQA/pylint/issues/811#issuecomment-237164655
where pylint looks at the return in the first conditional. I'll have to investigate a little bit further for potential workarounds.

[2018-01-13 18:07] glemaitre commented on #10465
Preserving NaN seems that it could be consistent with what is going in #10404 with the preprocessing methods. `missing_values` could be used across the preprocessing methods and the imputation methods.

[2018-01-13 19:32] ogrisel commented on #10463
Yes exactly, I started work to adapt TSNE to use `kneighbors_graph(X, mode='distance'))` internally: https://github.com/TomDLT/scikit-learn/commit/aeb956ba83656986b8fd793ea01c30c43f5a5db5

This is part of an experimental branch by @TomDLT to explore what kinds of changes are required:

https://github.com/scikit-learn/scikit-learn/compare/master...TomDLT:nn_api

[2018-01-13 19:41] glemaitre commented on #10415
IMO, I like ```See :term:`random_state`.```. I think that it allows to highlight where the `random_state` or `n_jobs` is used inside the algorithm itself (as you mentioned).

On the side, I can recall some discussion with @lesteve IRL which point me out that developers are using the docstring directly from terminal, and for which hyper-links could make it difficult to find the detailed documentati

[2018-01-13 19:57] ogrisel commented on #10463
Note: `DBSCAN` already supports `metric='precomputed'` and `SpectralClustering` already supports `affinity='precomputed'`.

I am not sure whether or not we should introduce an additional `neighbors` constructor param. This additional parameter could be used to do thinks like:

`DBSCAN(neighbors='ball_tree').fit(features_data)` or
`DBSCAN(neighbors=CustomApproximateNeighbors()).fit(features_data)`

[2018-01-13 20:28] icfly2 opened #10467 "Bandwidth estimation for kernel density estimates"
There is currently no procedure for an estimate of the kernel density, but an open TODO, probably still from the original author Jake Vanderplas  @jakevdp .

The question is what way should such an estimate included in the class.

Currently the class gets initialized, then a fit is made with the data, and only then are samples created in the third interaction.
[code]
After the setup this is the bu

[2018-01-13 21:29] icfly2 commented on #10467
#10468 is a PR adding Scott and Silvermann methods but not CV. Before adding CV, I think we should establish how the method is stored and what cv method is used.

[2018-01-13 21:50] #10466 closed

[2018-01-13 21:52] jnothman commented on #10466
we use lgtm.com which I think makes more powerful inferences

On 14 Jan 2018 4:38 am, "Hilton Shumway" <notifications@github.com> wrote:

[2018-01-13 22:33] jnothman commented on #10461
well if you won't provide a minimal example: what makes you suspect
RandomizedSearchCV? It seems very unlikely the cause if n_jobs=1, as it has
little logic of its own and is mature.

On 14 Jan 2018 1:28 am, "KOLANICH" <notifications@github.com> wrote:

[2018-01-13 22:35] jnothman commented on #10461
https://github.com/KOLANICH/HDDModelDecoder in the description is a broken link, btw.

I don't think you should expect us to spend energy on this without a mwe

[2018-01-14 07:25] gxyd commented on #4582
Can someone give me a little explanation of what needs to be done for this issue? Since it seems like the issue description (of title was later updated), perhaps the issue description was not updated.

In particular, there is term ['C contiguous'](https://www.ibm.com/support/knowledgecenter/SSAT4T_14.1.0/com.ibm.xlf141.linux.doc/language_ref/contiguous.html) (probably right link) what does that re

[2018-01-14 09:23] nanoix9 commented on #10460
Thanks @jnothman . I usually use this feature in such scenario: suppose I got a feature of person's age, which is integer. I want to cut it into several ranges such as children(<18), youth(20-39), mid-aged(40-60), elder(>60), and then convert to dummy variables by `OneHotEncoder`, so that each categories will get an individual parameter. The model might be improved in this approach if the relation

[2018-01-14 09:24] dreizehnutters opened #10470 "FeatureHasher cant return order of found feature_names"
It would be nice if the _FeatureHasher_ would be able to return order of found _feature_names_ in the given dicts, so you know which column belongs to which feature, just like the _DictVectorizer_ does.

`from sklearn.feature_extraction import FeatureHasher`
`h = FeatureHasher(n_features=4)`
`D = [{'dog': 1, 'cat':2, 'elephant':4},{'dog': 2, 'run': 5}]`
`f = h.fit_transform(D)`
`f.toarray()`
`> ar

[2018-01-14 09:55] #7867 closed

[2018-01-14 10:09] jnothman commented on #4582
Summary: KMeans, when using check_array, should declare order='C'.

See https://docs.scipy.org/doc/numpy-1.12.0/glossary.html#term-row-major

[2018-01-14 10:25] jnothman commented on #10460
yes, so KBinsDiscretizer doesn't really handle this case. But because it is
a stateless transformation (i.e. it has no parameters that need to be
estimated from the training data), it can be performed with
FunctionTransformer.

On 14 January 2018 at 20:23, nanoix9 <notifications@github.com> wrote:

[2018-01-14 10:31] jnothman commented on #10470
I suppose this could be useful, although users must be aware that seeing some feature active in transform does not mean that it is because of the presence of a word activating that feature in training... It also needs to be an optional feature, as FeatureHasher is especially useful for large scale learning.

[2018-01-14 13:10] 7ayushgupta commented on #10470
I am new to the codebase, but can I try to contribute? I'll need guidance as a newbie.

[2018-01-14 16:04] maykulkarni commented on #10470
Alright, tell me if I am getting this right. Executing `h.get_feature_names()` is expected to return following result right?:
`['dog', 'cat', 'elephant', 'run']`

[2018-01-14 16:16] dreizehnutters commented on #10470
['dog', 'cat', 'elephant', 'run']

not quite, i need the feature order returned.
If you look at the example, the first column  `array([ 0, .-5])` of the returned matrix  `f` corresponds to the feature `run`.
so the correct order should be `['run','dog','elephant','cat']` .

[2018-01-14 16:42] maykulkarni commented on #10470
Alright, got it thanks!

[2018-01-14 18:12] 7ayushgupta commented on #10430
Can I add the statement to the documentation?

[2018-01-14 18:16] glemaitre commented on #10430
@pgad Are you working on it?

[2018-01-14 18:26] Johayon commented on #8288
If no one is currently working on that, I would like to try to do it.

[2018-01-14 18:28] gxyd commented on #7471
@omtcvxyz polite ping, you mentioned:

any updates on this? Have you worked on an implementation of YinYang K means?

I don't think this is there in the scikit-learn, neither can I find it in scikit-learn-contrib. Is this in consideration to be added to the scikit-learn library?

[2018-01-14 18:38] dreizehnutters opened #10472 "Dimensions of confusion_matrix are lost in an edge case"
#### Description
The dimensions _(TP, FP, FN, TN)_ of the `confusion_matrix` are lost, in case of a perfect/worst unbalanced classification result (anomaly detection).

#### Actual Results
[code]

#### Expected Results

[code]

#### Versions
Scikit-Learn 0.19.1

[2018-01-14 20:41] #9772 closed

[2018-01-14 21:02] jnothman commented on #10472
Thanks for the report

[2018-01-14 21:03] jnothman commented on #10472
Does passing in labels help? Otherwise how is the function to determine which is the positive and which the negative class

[2018-01-14 21:27] dreizehnutters commented on #10472
yeah, just notice there is an option to pass a list of labels into the function. this resolves my issue!

[code]
thanks

[2018-01-14 21:27] #10472 closed

[2018-01-14 21:49] jnothman commented on #8174
Fixed

[2018-01-14 21:49] #8174 closed

[2018-01-14 22:32] jnothman commented on #10472
please submit a PR to update the documenting if you feel it could be
improved

On 15 Jan 2018 8:27 am, "Fabian" <notifications@github.com> wrote:

[2018-01-14 22:35] jnothman commented on #10470
you also need a way of representing that some feature was never active in
training, or was activated by multiple ngrams

[2018-01-14 22:37] omtcvxyz commented on #7471
Unfortunately, no updates. I had an incomplete prototype implementation, but I don’t have it around anymore and I’m afraid I don’t have enough time to reimplement it. I am not affiliated with scikit-learn, so I’m not aware whether it is still interesting to the devs.

[2018-01-14 22:49] jnothman commented on #4497
If we had a "deep" approach, where the user needs to explicitly specify the path they want a sample prop to take when passing in the sample prop, would it be acceptable to have non-identifier keyword argument names? For example:
[code]
Python accepts this. And if we want such a deep (path-based) solution unlike my #9566, we need to express paths with more than just double-underscores which should

[2018-01-14 23:56] jnothman commented on #10417
Created @sklearn-lgtm with admin privileges for now.

[2018-01-14 23:56] #10417 closed

[2018-01-15 00:41] AruniRC commented on #7822
@LuCeHe  The trick about using precisions_cholesky_ is really useful. It enabled me to continue using sklearn, and avoid changing a large codebase to change to another package. IMHO, one should be able to predict posteriors (my use-case) without fitting, if all the parameters are provided at creation by the user.

[2018-01-15 06:25] 2cats opened #10475 "The distance equation of Birch clustering"
It seems that the distance equation used in birch.py is D2

![image](https://user-images.githubusercontent.com/4339318/34929358-6b1fef80-f9fe-11e7-9870-c25c0553fca3.png)

The `dot_product`  in  func `radius` is ok, but it doesn't make sense in  func `merge_subcluster` , what's wrong ?

[code]

[code]

[2018-01-15 07:11] jnothman commented on #10475
Please be more specific. How do you know it is wrong?

[2018-01-15 08:16] linrio commented on #7717
I have met a similar problem:
[code]

[2018-01-15 08:31] glemaitre commented on #7717
Please open a new ticket with a MWE.

[2018-01-15 08:52] 2cats commented on #10475
the `sq_radius` calculated  in `merge_subcluster` is :
![image](https://user-images.githubusercontent.com/4339318/34933949-b21209f4-fa13-11e7-9957-5b30c0ef5776.png)

what i think is this :
![image](https://user-images.githubusercontent.com/4339318/34933958-b6bf6550-fa13-11e7-8487-61c6c539765f.png)

[2018-01-15 09:51] lesteve commented on #10415
Fine with me, I guess people will need to learn that `:term:` means going to the glossary and where the glossary lives.

[2018-01-15 10:08] lesteve commented on #10461
If I had to guess, I would say this is related to https://docs.python.org/2/library/multiprocessing.html#windows.

Instead one should protect the “entry point” of the program by using if __name__ == '__main__':

It could be a weird interaction between XGBoost and joblib as well.

A minimal example would help a lot indeed to investigate the problem further.

[2018-01-15 10:14] jnothman commented on #10415
We could use "see the glossary"

[2018-01-15 10:39] jnothman commented on #10475
It's been a while since I've looked at this, and I'm not able to dig in and remind myself what notation means what. Can you help by proposing what the code would look like correct?

[2018-01-15 11:08] jorisvandenbossche commented on #10465
Would you do this as the default behaviour? (or as an option with erroring as the default behaviour)
Looking at #10404 on NaNs in preprocessing that Guillaume linked, I suppose you mean it as the default?
Reading that issue, that seems to make sense. In most cases the final estimator will still error on encountering NaNs, so the combined behaviour does not really change.

For me it is fine to *als

[2018-01-15 11:16] jorisvandenbossche commented on #2888
When having the option in the CategoricalEncoder to passthrough missing values (option or as the default), this makes it possible to do after the encoding step more advanced imputation strategies.
However, for the case of 'most-frequent' in combination of one-hot encoding, this would still require 3 steps (ordinal encoding, imputing, onehot encoding), which doesn't seem that user-friendly to me. B

[2018-01-15 11:18] 2cats commented on #10475
Sorry for my missing explaintation of the notation .

========
- x_i -> a sample vector in a cluster
- N -> total samples count in a cluster  (corresponding to the variable `new_n`)
- c -> centroid vector of a cluster (by averaging all samples, corresponding to the variable `new_centroid` )

- ![image](https://user-images.githubusercontent.com/4339318/34939044-73536ac0-fa25-11e7-933e-fcd799c7f7ab.

[2018-01-15 11:47] jnothman commented on #10475
But isn't ```
dot_product = -2 * np.dot(new_ls , new_centroid )
= -2* dot(new_centroid*new_n, new_centroid)
= (-2 * new_n) * new_norm
[code]

[2018-01-15 12:01] #10475 closed

[2018-01-15 12:49] lesteve commented on #10451
With heavy bias from https://github.com/scikit-learn/scikit-learn/issues/10446, [danger](http://danger.systems/js/) seems to be able to do that.

[2018-01-15 12:54] lesteve commented on #10451
The slightly annoying thing with having a build failure if you don't add a whats_new entry is that they tend to be added once the PR is ready to merge, because it is easier to write a good summary then. Having a build failure from the beginning would probably lead to write a not so great whats_new entry until the PR is ready to merge. At this point, it is easy to forget to check the whats_new entr

[2018-01-15 19:57] jnothman commented on #10465
you can make it default behaviour where the transform will then output
nans, since it should be picked up downstream. it's problematic to make it
default behaviour in the one hot case for the same reason.

On 15 Jan 2018 10:08 pm, "Joris Van den Bossche" <notifications@github.com>
wrote:

[2018-01-15 20:41] jnothman commented on #2888
I think the user pipelining three components for this is fine. an
acceptable alternative is to allow the CategoricalEncoder to accept an
Imputer as its nan-handling strategy. I'm still against supporting strings
in Imputer unless we at the same time support strings in decision trees!

[2018-01-15 20:57] jona-sassenhagen commented on #2688
@agramfort instead of AMICA I'd probably rather look at this, more important to more people ...

[2018-01-15 21:10] datajanko commented on #6821
It looks like "only" a new criterion (as subclass from ClassificationCriterion) needs to be implemented. Or am I missing something here?

[2018-01-15 21:54] jorisvandenbossche commented on #10465
I don't understand what you mean with the "same reason".
But is it that if you have a row of NaNs, there is not good Imputation strategy possible? (you could do a feature-wise mean or median, but not one that considers the different one-hot features together like most-frequent)

[2018-01-15 21:59] jorisvandenbossche commented on #10465
@jnothman the default is one thing, but can you also give your opinion about the different options outlined above?
The "preserve NaNs" and "treat as separate category" seem useful, "error" and "ignore" would be easy to implement, but not sure myself how useful it would be.

[2018-01-15 22:07] rpmcruz opened #10477 "MLPClassifier: regularization is divided by sample size"
In the [MLPClassifier backpropagation code](https://github.com/scikit-learn/scikit-learn/blob/a24c8b46/sklearn/neural_network/multilayer_perceptron.py#L231), alpha (the L2 regularization term) is divided by the sample size.

It makes sense for the cross-entropy part of the loss function to be divided by the sample size, since it depends on it. This is common. But I have never seen regularization b

[2018-01-15 22:11] rpmcruz commented on #10477
Sorry, someone please make this a dup of #1395.

I hadn't noticed this had been reported yet.

[2018-01-15 22:11] #10477 closed

[2018-01-15 22:15] rpmcruz commented on #6780
It's very weird that the L2 (alpha) regularization [is divided by sample size](https://github.com/scikit-learn/scikit-learn/blob/a24c8b46/sklearn/neural_network/multilayer_perceptron.py#L231).

It's true that is an indirect relationship where a bigger sample size requires regularization, but it cannot be computed linearly like this. It's highly domain-specific. This is very atypical behavior. As a

[2018-01-15 22:28] rasbt commented on #6780
I think that's because the loss & gradients are scaled by the sample size (e.g., mean squared error instead sum squared error). but yeah, it should be documented

[2018-01-15 22:37] rpmcruz commented on #6780
But it's weird that other models from sciki-learn like LASSO or Ridge regression do not divide regularization by sample size, only the MLP. In fact, I believe SGDClassifier (which also does SGD like MLP) also does not divide L2 by sample size, but please check this for me. I have never heard of an MLP implementation dividing regularization by sample size.

[2018-01-15 22:58] rasbt commented on #6780
Hm, I think it depends on how it's implemented, but it should actually be scaled if the loss/cost is scaled by the number of samples.

E.g.,  if we have the MSE as follows: J(theta) = 1/(2 n_samples) sum^{n_samples}_{i} (x_i - y_i)^2

Then adding the L2 norm for regularization would modify it as follows:

J(theta) = 1/(2 n_samples) [ sum^{n_samples}_{i} (x_i - y_i)^2  + lambda sum^(n_weights)_{j}

[2018-01-15 23:06] thelastpolaris commented on #10470
Is somebody working on this issue? If no then I can try to handle it.

[2018-01-15 23:24] glemaitre commented on #6821
It looks like it. Furthermore, you should derived it from `ClassificationCriterion`.

[2018-01-16 02:46] maykulkarni commented on #10470
Yes I am :)

[2018-01-16 06:42] jnothman commented on #9726
I've opened this to contributors. Please
* copy `sklearn/preprocessing/imputation.py` to `sklearn/impute.py`, as well as the corresponding tests,
* deprecate `Imputer` in  `sklearn/preprocessing/imputation.py` to be removed in v0.22
* create a `sklearn.impute` section in `doc/modules/classes.rst`
* update the deprecated section at the bottom of `doc/modules/classes.rst`
* update `sklearn/__init__.

[2018-01-16 06:50] sergeyf commented on #9726
Re: naming, I like `ConstantImputer` because it fills in all missing values in a feature with a constant, but it might not be clear from the name that is what it's doing. Maybe `BasicImputer` or `NaiveImputer`.

[2018-01-16 06:56] jnothman commented on #9726
it's comparable to DummyRegressor, but calling it DummyImputer seems
unreasonably disparaging :p

[2018-01-16 06:58] sergeyf commented on #9726
I agree because DummyRegressor is not actually useful for doing work, but the Imputer is quite useful.

[2018-01-16 07:29] jnothman commented on #10215
Well i get the impression people like sklearn.compose, conditioned on the assumption that we're doing this.
 @GaelVaroquaux remains rightly concerned that users won't know where to find what they need, but I think that's already true for something like FeatureUnion, and search engines / stack overflow help a lot.

How do we define sklearn.compose? Home to metaestimators for composing transformers

[2018-01-16 07:30] jnothman commented on #10215
I'd like to see this go ahead, if only to break an impasse.

[2018-01-16 07:54] jnothman commented on #10370
You've not specified that it performs over, only to shape of the
decision_function reported. We transform the over predictions into ovo

[2018-01-16 07:55] jnothman commented on #10370
sorry, ovo into ovr

[2018-01-16 07:58] jnothman commented on #10370
but sorry, I would need to investigate the coef question

[2018-01-16 08:34] lesteve commented on #10451
As far as I understand, you can write rules about what danger is supposed to check and then the danger bot comments on the issue with some summary (looks like there is only one bot comment at any single time, not sure I have not thoroughly checked).

Here is an example summary from their doc:
![](http://danger.systems/images/dangerjs-screenshot-2e2a9281.png)

[2018-01-16 09:23] KOLANICH commented on #10461
Sorry, it was my fault, I have used a variable for number of folds for number of processes in some place :(

[2018-01-16 09:23] #10461 closed

[2018-01-16 09:29] jnothman commented on #10451
shrug. I'd rather just try one or other solution and wait to see what we
think

[2018-01-16 09:36] lesteve commented on #10461
Glad to hear, thanks for letting us know and closing the issue!

[2018-01-16 09:44] jnothman commented on #10267
A warning in the docs will go unnoticed, while an inexplicable error like this is not really acceptable if we can find a way to catch it and at least improve the error message.

@lesteve, I think we should be fixing this in DecisionTreeRegressor, likely not in GradientBoostingRegressor.

[2018-01-16 09:45] jnothman commented on #10267
Or maybe you're right and it's not actually an issue from the perspective of DecisionTreeRegressor and we only need to handle this case in GBR.

[2018-01-16 10:07] jnothman commented on #10465
'error' might be useful for users of `pd.read_csv`! I'm not sure what ignore means.

For encoding=onehot, I don't know if you can just output a row of NaNs. Is it helpful to do a featurewise mean or median as you suggest? Treating as a separate category seems useful, but so might be outputting a row of zeros, since the sample is not in any of the categories.

Is being able to provide an imputer a

[2018-01-16 11:16] rpmcruz commented on #6780
Sebastian, I feel this discussion would be more productive if we cited sources.

In their book Ian Goodfellow and Yoshua Bengio and Aaron Courville, define Mean Square Error as the average squared difference between y and yhat [1]. They then define regularization as something you add to the loss and is independent of the number of observations you have [2].

This is also how every other toolkit fo

[2018-01-16 12:24] jnothman commented on #3649
I don't think this applies anymore. https://buildd.debian.org/status/package.php?p=scikit-learn&suite=unstable

[2018-01-16 12:24] #3649 closed

[2018-01-16 12:27] jnothman commented on #7572
Actually, it looks like this is the same issue as #3649 (though it doesn't seem that we're excluding any other tests from the armel build): division by zero is not detected on the armel.

[2018-01-16 12:28] jnothman commented on #7572
Hm. It seems we've handled it in that case.

[2018-01-16 12:32] 7ayushgupta commented on #10430
Maybe I can proceed on it now?

[2018-01-16 12:34] jnothman commented on #10430
go ahead

[2018-01-16 13:09] 7ayushgupta commented on #10430
Where should I add the line? I think this would be okay?
![screenshot-2018-1-16 sklearn ensemble adaboostclassifier scikit-learn 0 19 1 documentation 1](https://user-images.githubusercontent.com/33892472/34990573-9617fe00-faec-11e7-8671-f3edeccfa105.png)

[2018-01-16 13:12] jnothman commented on #10430
It's easier to see the diff in a pull request...

[2018-01-16 14:05] krishnakalyan3 commented on #9726
@jnothman I can work on this. Thanks for the detailed steps.

[2018-01-16 14:14] qinhanmin2014 commented on #10430
@7ayushgupta I think you should also change `default=DecisionTreeClassifier` to `default=None` like Bagging. Then considering something like `If None, then the base estimator is DecisionTreeClassifier(max_depth=1).`
(I might also prefer to make things clear instead of using something like decision stump)

[2018-01-16 14:31] 7ayushgupta commented on #10430
I'll need some time. It's my first time with such a huge code base and it's confusing me :sweat_smile:

[2018-01-16 14:41] qinhanmin2014 commented on #10430
Don't worry and feel free to ask. The [contributing guide](http://scikit-learn.org/stable/developers/contributing.html) might be a good reference :)

[2018-01-16 15:00] rpmcruz commented on #6780
I had a look at the code again. Currently, we are dividing by batch size not sample size (because what _backprop calls sample is actually a mini-batch). Therefore, if I increase the size of the mini-batches from 8 to 256, I will inadvertently increase regularization by a factor of 32!

[2018-01-16 15:27] oasis789 commented on #10252
Has this been implemented? I wanted to use this for something I'm currently working on.

[2018-01-16 15:29] gxyd commented on #10252
See https://github.com/scikit-learn/scikit-learn/pull/10273 . I need to address a few comments before it becomes available.

[2018-01-16 17:05] glemaitre commented on #10404
Some thoughts regarding missing values:

* if we want to handle integer, I have the impression that only `CategoricalEncoder` is actually benefiting from it since that other preprocessing methods will return a floating X, implying that the missing values will be internally replaced by NaN back and forth.
* If we want to give the option to the user to raise an error if there is some missing values,

[2018-01-16 17:18] rasbt commented on #6780
Ultimately, I would say it doesn't really matter whether the regularization term is scaled or not as it is just a scaling factor. And the way it's e.g., described by Goodfellow et al in the Deep Learning Book looks correct to me for an arbitrary loss function. However if you scale that loss by the number of training samples, you would arrive at the equation I mentioned above (if the loss is the SE

[2018-01-16 17:22] glemaitre commented on #10404
When speaking about `Sanatizer`, I think about a transformer which only check if there is some missing values and which can be placed at any position of a `Pipeline`.

[2018-01-16 19:15] rpmcruz commented on #6780
I understand what you are saying. The entire loss function currently is being averaged out, not only the mean square error component or the cross entropy component. I think we can agree on that, right? This is how things are implemented right now.

What I am saying is that it is not how people generally formulate the loss function or what they expect. Nobody expects regularization to be dependent

[2018-01-16 19:23] rasbt commented on #6780
Yeah,  if the loss (e.g., the SSE term; using it as a placeholder here for loss functions in general) is averaged over the number of samples (total samples or minibatch size), then the regularization term should also be averaged as it's part of the (regularized) loss function. If your loss is MSE though, you have a double-average.

Yeah, I agree, and if it's not documented, that's confusing.

 I t

[2018-01-16 19:42] thechargedneutron commented on #9726
@krishnakalyan3 Hey! If you have not done significant progress to this PR, I would like to address this issue. I have been working on this as well and will be opening PR in a while.

[2018-01-16 20:27] jnothman commented on #9726
You'd be welcome to find a way to split up the work. You do have a few things still on your plate elsewhere, @thechargedneutron

[2018-01-16 20:58] GaelVaroquaux commented on #10215
I hope that I didn't give the impression that I was opposed to "compose". It's my favorite name.

I am a bit unhappy that I have the impression that we are changing things for cosmetic reasons. That's terrible for long-term users (right now, for a review, I am rewamping code that I wrote 5yrs). It's the error that Python made in the transition from 2 to 3.

But if there is a general idea that pipe

[2018-01-16 21:30] krishnakalyan3 commented on #9726
@thechargedneutron ah you beat me to it. Thank for taking up the task!.

[2018-01-16 21:31] jorisvandenbossche commented on #10215
I think it only makes sense if there is agreement that the current `Pipeline` API should change (cloning its steps) ànd if we think that changing it inplace in `pipeline.Pipeline` is a too disruptive change.

I don't think we need to wait with putting Pipeline and FeatureUnion in `compose` ? If we add this module now, we can add an adapted version of Pipeline/FeatureUnion there directly as well?

[2018-01-16 21:33] thechargedneutron commented on #9726
@krishnakalyan3 Sorry mate!! See you around 😄

[2018-01-16 21:35] GaelVaroquaux commented on #10215
I feel like that.

That's probably true

Yes: optimistic merge!

[2018-01-16 21:57] jnothman commented on #10404
as long as our preprocessor put NaNs in their out output when processing
missing values, I don't think they need an option to error.

I would like to think we don't need to support integer missing values
indicators in general. Your analysis there sounds good.

Most of our estimators already act as Sanitizers and I can't imagine the
average user seeing the need for one (until they are bitten by une

[2018-01-16 22:36] jnothman commented on #10215
I'm fine with reviewing @glemaitre's cloning pipeline for the new module.
But issues remain about how to construct a Pipeline from pre-fitted
components, or as a subsequence of a previous Pipeline. This needs to be
done before we can expect or encourage wide adoption.

@GaelVaroquaux, would it be better to put all the new stuff in
sklearn.pipeline? You're right, the reasons not to are mostly cosme

[2018-01-17 02:17] rtlee9 commented on #10229
@jnothman I'd be happy to give this a go with some limited guidance if no one else is working on it already. Looks like the behavior you noted comes from [this line](https://github.com/scikit-learn/scikit-learn/blob/202b5321f1798c4980abf69ac8c0a0969f01a2ec/sklearn/utils/validation.py#L480), where we're checking the array against the numpy object type when we'd like to check it against string and u

[2018-01-17 02:19] rtlee9 commented on #10229
I'd also be curious to hear what you had in mind in terms of longer term solution, i.e., what would replace `check_array` if deprecated?

[2018-01-17 02:20] jnothman commented on #10229
Something like that. Basically if dtype_numeric and array.dtype is not an
object dtype or a numeric dtype, we should raise.

On 17 January 2018 at 13:17, Ryan <notifications@github.com> wrote:

[2018-01-17 02:21] jnothman commented on #10229
We wouldn't deprecate `check_array` entirely, but we would warn for two releases that "In the future, this data with dtype('Uxx') would be rejected because it is not of a numeric dtype."

[2018-01-17 13:42] yankelevich-dima opened #10487 "AttributeError thrown in not fitted RandomForestClasssifier"
#### Description

AttributeError thrown when calling `__len__` function in not fited RandomForestClasssifier

This might be due [this](https://github.com/scikit-learn/scikit-learn/commit/e542efafe2a70c8a13ef12971be78dfa40b6ec86#diff-f0056cec58ea1d19cb4d33f63eb29cebL91) commit. Please make sure that removing `estimators_` attribute will not affect on actions over unfitted classifiers.

#### Steps/C

[2018-01-17 13:44] jnothman commented on #10487
what did you expect calling len on an unfitted forest to do?

On 18 Jan 2018 12:42 am, "Dmitry Yankelevich" <notifications@github.com>
wrote:

[2018-01-17 14:25] ogrisel commented on #10404
I think we can first implement support for missing values encoded as nans for float data now and maybe later (in a separate PR) introduce support for arbitrary missing value markers, in particular for integer / categorical data.

[2018-01-17 14:29] yankelevich-dima commented on #10487
I expect returning 0, like in 0.18.X
It is not difficult for me to rewrite my code based on new behaviour, but I thought that your code should be backward compatible if possible.

[2018-01-17 14:40] jnothman commented on #10487
In what context do you want it to return 0?

On 18 January 2018 at 01:29, Dmitry Yankelevich <notifications@github.com>
wrote:

[2018-01-17 14:40] jnothman commented on #10487
I'm actually curious to understand how you are using this.

On 18 January 2018 at 01:40, Joel Nothman <joel.nothman@gmail.com> wrote:

[2018-01-17 14:48] yankelevich-dima commented on #10487
I used it to check if classifier is fitted

You are right, maybe I was wrong to use this this statement to check it
You can close this issue, if it is needed
I'm sorry I wasted your time.

[2018-01-17 15:16] KOLANICH opened #10489 "Add progress callback for *SearchCV"
It'd be nice to have a callback to plug tqdm there.

[2018-01-17 15:42] ascoril opened #10490 "SKLearn StandardScalar normalize train and test data with same mean and standard dev"
Hi,

I have a huge training set, where I normalize each feature using the StandardScalar. I want to use the same mean and std deviation which was calculated during this normalization of training data to normalize the test data. Also, i don't have the test data beforehand and it comes at run-time.

In nutshell, i am trying to follow what has been mentioned in https://stats.stackexchange.com/questio

[2018-01-17 16:26] lesteve commented on #10487
An easy work-around seems to be using `hasattr`, not sure whether there is a better way to do it. I am going to close this one.

A bit more context: scikit-learn naming convention is that attributes ending with `_` are estimated from the data. That means they are not supposed to exist before the estimator is fitted.

[2018-01-17 16:26] #10487 closed

[2018-01-17 16:29] lesteve commented on #10490
Closing this one as a usage question, see [FAQ](http://scikit-learn.org/dev/faq.html#what-s-the-best-way-to-get-help-on-scikit-learn-usage).

[2018-01-17 16:29] #10490 closed

[2018-01-17 16:34] lesteve commented on #10489
Probably this is an issue for joblib, closing. I believe you may find some code that combines tqdm and joblib by googling, this is probably a hack and it may not work out of the box.

[2018-01-17 16:34] #10489 closed

[2018-01-17 16:49] darkaeon10 commented on #7705
Hello is this still not included in any released version?

I'm on sklearn 0.18.2 and this error still exists. My datatype was already float64. Any other workarounds for this?

Thanks!

[2018-01-17 16:58] lesteve commented on #7705
Can you try on the latest released version which is 0.19.1?

[2018-01-17 17:19] KOLANICH commented on #10489
It is about sklearn.model_selection._search.BaseSearchCV, line 620-621

[2018-01-17 18:28] pgromano opened #10491 "Error in svd_solver for "mle" method in PCA"
When using the `sklearn.decomposition.PCA` class with `n_components='mle'` when svd_solver='auto' the following line will attempt to evaluate `n_components` as a numeric type. An additional safety check is necessary.

# Error

[code]

# Solution

[code]

https://github.com/scikit-learn/scikit-learn/blob/a24c8b464d094d2c468a16ea9f8bf8d42d949f84/sklearn/decomposition/pca.py#L384

[2018-01-17 20:28] jnothman commented on #10487
No, hasattr will be a problem for prior versions, which initialised
estimators_ in __init__.

Trying to predict some data and seeing if a NotFittedError is raised is an
acceptable approach. It's not wonderful, is it?

On 18 January 2018 at 03:26, Loïc Estève <notifications@github.com> wrote:

[2018-01-17 21:33] ncherel opened #10493 "Memory Error : Locally Linear Embedding"
Locally Linear Embedding (LLE) encounters a memory error when using a large matrix (10000x10000) and a large number of neighbors (>500).

The memory error occurs with the `standard` option after the nearest neighbors have been computed in `barycenter_kneighbors_graph()`
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/manifold/locally_linear.py#L99
[code]
`X[ind]` creates a matrix

[2018-01-17 22:08] DonBeo opened #10494 "Possible bug in LabelSpreading"
#### Description
Error when running example from the documentation.

#### Steps/Code to Reproduce

[code]

[code]

[code]

Running on macos

[2018-01-17 22:57] jnothman commented on #10494
should be easy to fix by importing csgraph, but it's strange that it's not
coming up in tests; perhaps the test module imports csgraph directly which
would hide the error. PR welcome

[2018-01-17 23:03] jnothman commented on #10493
thanks for the report. are you saying B is larger than it needs to be, or
that the processing could be done in small batches? I've not got time to
look right now

On 18 Jan 2018 8:33 am, "Nicolas Cherel" <notifications@github.com> wrote:

Locally Linear Embedding (LLE) encounters a memory error when using a large
matrix (10000x10000) and a large number of neighbors (>500).

The memory error occurs

[2018-01-17 23:36] glemaitre commented on #10494
@jnothman Could you replicate the bug?
I cannot replace the bug and the following thing is working:

[code]

[2018-01-18 01:12] #10154 closed

[2018-01-18 01:17] qinhanmin2014 commented on #10491
Thanks for the report.
Duplicate with #9884, resolved in #9886. Please check current master next time.

[2018-01-18 01:17] #10491 closed

[2018-01-18 01:52] qmick commented on #10494
I can reproduce this error using @DonBeo's code with scipy version 1.0.0 but can't with 0.19.1. Seems like something changed in scipy.

[2018-01-18 02:35] qmick commented on #10494
After searching, I found some discussion in https://github.com/scipy/scipy/issues/8243 and it was fixed in #10145.

[2018-01-18 03:26] alronlam commented on #7705
Just upgraded to 0.19.1, and it seems to work now. Thank you!

[2018-01-18 03:52] alronlam commented on #7705
I'm running into a new error though, which seems to also happen by chance:

[code]

Note that I made sure to cast my matrix to float64 (matrix.astype('float64')) before passing to KMeans.fit_predict().

[2018-01-18 06:25] lesteve commented on #7705
Please open a new issue. One of the best way to get good feed-back is to provide a fully standalone snipppet reproducing the problem.

[2018-01-18 10:06] glemaitre commented on #10494
@qmick Thanks, I was in my dev to try it.

Closing since fixed in #10145. For a workaround in 0.19 refer to https://github.com/scikit-learn/scikit-learn/pull/10145#issuecomment-344829434

[2018-01-18 10:06] #10494 closed

[2018-01-18 12:14] StevenLOL opened #10497 "KNeighborsRegressor n_jobs doesn't work in jupter notebook docker"
KNeighborsRegressor n_jobs doesn't work in jupter notebook docker.

In the following code, set n_jobs=8 will cause cpu usage/process reach 100% not the 800% as expteced.  Xgboost works well here and could yield 800% cpu usage
[code]
jupyter 4.4.0
python 3.5.2
numpy  1.14.0
scipy 1.0.0
nvidia-docker Docker version 17.12.0-ce, build c97c6d6

[code]

[2018-01-18 12:18] sujanme25 commented on #4457
Changed to check_array but still getting error...

NameError                                 Traceback (most recent call last)
<ipython-input-78-7927ab4d9d64> in <module>()
      1 rhl = RBFRandomLayer(n_hidden=15, rbf_width=0.8)
      2 elmr = GenELMRegressor(hidden_layer=rhl)
----> 3 elmr.fit(X_train, Y_train)

~\Python-ELM\elm1.py in fit(self, X, y)
    178         """
    179         # fit ran

[2018-01-18 12:56] #10455 closed

[2018-01-18 12:57] ogrisel opened #10498 "Add sklearn.dataset.fetch_bbc and sklearn.dataset.fetch_bbcsport"
Here is the source information for those datasets:

 http://mlg.ucd.ie/datasets/bbc.html

It would be great to have the loaders return both the matrix market format (preprocessed token frequencies) and the raw texts as attributes of the `Bunch` object.

The docstring of those function mention the usage contraints and citation requirements as stated on the above website.

If you are new to scikit-l

[2018-01-18 13:13] qmick commented on #10498
Can I take this?

[2018-01-18 13:16] lesteve commented on #10498
IIRC I think @amueller was of the opinion of not adding any more loaders and work on fetch_openml aka https://github.com/scikit-learn/scikit-learn/pull/9908 instead.

[2018-01-18 13:27] ogrisel commented on #10498
Good point but I am not sure we would have the rights to host a copy of those datasets on openml though.

[2018-01-18 13:28] #10147 closed

[2018-01-18 13:34] lesteve opened #10499 "Remove occurences of imread/imresize"
Follow-up of https://github.com/scikit-learn/scikit-learn/pull/10427#issuecomment-358252733

There are some remaining occurences of imread/imresize in doc and examples:
[code]

The pyplot.imread is fine. It's probably fine removing the mentions in index.rst and pointing to an alternative (maybe matplotlib.pyplot.imread?). For the examples, the simplest thing to do is to use `sklearn.external._pilu

[2018-01-18 13:39] qmick commented on #10497
Since `n_jobs` parameter of `KNeighborsRegressor` doesn’t affect `fit` method, do you mean even during prediction, `KNeighborsRegressor` still can't reach 800% CPU usage?

[2018-01-18 14:27] ogrisel commented on #10498
Let's wait for the `fetch_openml` to be merged then ask the author of the dataset if they would consider pushing a copy to the openml dataset repository.

[2018-01-18 16:07] eyadsibai commented on #10498
@halflings

[2018-01-18 17:29] 7ayushgupta commented on #10430
Okay, sorry but I am quite confused. I made some changes in the weightboosting.py, but when I `make` the docs, they don't reflect in the generated html files.

[2018-01-18 18:08] thelastpolaris commented on #10499
Hello. I can work on this issue if @jotasi doesn't mind.

[2018-01-18 18:20] jotasi commented on #10499
Hi, thanks for the ping @lesteve.
I was planning on taking care of this tomorrow morning, although I don't want to steal any work from you @thelastpolaris.

[2018-01-18 19:17] thelastpolaris commented on #10498
@ogrisel I can work on this feature. We can add these functions and if the authors will allow to push it to openml then we can get rid of these functions.

[2018-01-19 00:59] jnothman commented on #10499
matplotlib.pyplot.imread is different. it will only require Pillow when not
loading PNG. leave it alone

On 19 Jan 2018 5:20 am, "jotasi" <notifications@github.com> wrote:

[2018-01-19 08:13] zhangnew opened #10503 "scikit-learn/sklearn/utils/class_weight.py not support list of dicts"
#### Description

I use `sklearn.tree.DecisionTreeClassifier`
when I write this Parameter:
[code]
I got this error : class_weight must be dict, 'balanced', or None

In source code , I find the `class_weight` seem not support **list of dicts**

scikit-learn/sklearn/utils/class_weight.py  line 44 to 62
[code]

there is no code deal with  `list of dicts`

but the doc in line 78 is support `list of di

[2018-01-19 11:08] qmick commented on #10503
`list of dicts` is handled in `utils.compute_sample_weight()` not `utils.compute_class_weight()`.
To use `list of dicts` as input, your data should be multioutput(including multilabel).
See `class_weight` part of http://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html for more information.

[2018-01-19 12:42] ncherel commented on #10493
B is larger than it needs to be.

[2018-01-19 13:01] whatbeg opened #10504 "ForestEstimator predict_proba: default dtype is fixed and memory consuming"
#### Description

In ForestClassifier or ForestRegressor (forest.py) s' `predict_proba` method, the `dtype` of the return proba is fixed to `np.float64`, instead of being the same as the input, at some times, we need not that numerical precision, we would like to give an input with `dtype=np.float32` to save memory.

For example, if we trained a random forest with 500 trees, we then want to predic

[2018-01-19 13:13] lesteve commented on #10497
Does it work outside of the jupyter docker environment?

[2018-01-19 13:15] lesteve commented on #10497
Also it would be great if you could provide a fully standalone python snippet as well as how you created your docker image and how you run your script with docker. Without it it's hard to say anything without wild guessing.

[2018-01-19 13:20] #10499 closed

[2018-01-19 13:21] maykulkarni commented on #10504
Same as #10443 should I fix this?

[2018-01-19 13:49] glemaitre commented on #10504
@maykulkarni not trivial. `y` is always converted to float64. it could probably make sense to keep the dtype of `y` but since that it will impact all the tree-based algorithm, we need to have a consensus on such change. @jnothman @ogrisel  @GaelVaroquaux @lesteve @amueller @glouppe

[2018-01-19 14:56] #10430 closed

[2018-01-19 16:49] rth opened #10507 "FutureWarning in CategoricalEncoder due to np.issubdtype"
Similarly to https://github.com/scikit-learn/scikit-learn/issues/9673, as of numpy 1.14,

the following snippet,
[code]
will raise a,
[code]

This affects [CategoricalEncoder](https://github.com/scikit-learn/scikit-learn/blob/b94876a3a20e1d629698ea1c7b358169b97bfcce/sklearn/preprocessing/data.py#L2999) (used twice in the implementation and twice in the corresponding tests).

See numpy 1.14 release

[2018-01-19 16:52] rth commented on #10507
Replacing,
[code]
by
[code]
could be a way to fix it.

[2018-01-19 17:20] qmick commented on #10507
Can I take this?

[2018-01-19 18:27] rth commented on #10507
@qmick  Sure. Thanks.

[2018-01-19 19:51] kearney-sp commented on #7705
The issue appears to persist in 0.19.1

Running on a float32 hdf5 data table (opened with pytables) of (175782224, 5), got the following error after several successful initializations:

Init 1/10 with method: k-means++
Inertia for init 1/10: 11.480348
Init 2/10 with method: k-means++
Inertia for init 2/10: 11.541335
Init 3/10 with method: k-means++
Inertia for init 3/10: 11.595790
Init 4/10 with m

[2018-01-20 05:12] bzigon commented on #8729
@jnothman  Joel, I don't understand your response to Nick's question. How do you get GridSearchCV to distribute across multiple GPU's?

[2018-01-20 07:55] ChinaYi opened #10509 "How can I get the learned parameters in sklearn.linear_model.LogisticRegression?"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-01-20 07:56] ChinaYi commented on #10509
Any body can help? I reviewed the docs with no gain

[2018-01-20 08:09] qinhanmin2014 commented on #10509
What do you want to get? I think it's not difficult to get all the parameters and attributes, E.g.,
[code]

[2018-01-20 08:24] ChinaYi commented on #10509
You really do me a big favor! Thanks! @qinhanmin2014

[2018-01-20 08:25] #10509 closed

[2018-01-21 09:20] maykulkarni commented on #10465
If no one's working on this, I can take it up.

[2018-01-21 10:23] abhishekbasu commented on #10503
Try this for a multi-class problem: class_weight= {0:1,1:5,2:1,3:1}

Works for me, but cannot confirm validity of result.

[2018-01-21 13:45] ngoix commented on #10503
As pointed out by @qmick, list of dicts are supported for multioutput. This issue can be closed.

[2018-01-21 13:50] qinhanmin2014 commented on #10503
Closing, see above comments. Thanks @qmick @abhishekbasu @ngoix for the diagnosing.

[2018-01-21 13:50] #10503 closed

[2018-01-21 21:36] Johayon commented on #10267
Could I try to correct this issue ?

[2018-01-22 00:03] GKjohns commented on #10309
@oasis789 any word on this? I can take it over if you're swamped with other stuff

[2018-01-22 00:29] AEDWIP commented on #10201
UGH!

I found the problem. python 3.6 on mac requires a post install step

`$ less /Applications/Python\ 3.6/ReadMe.rtf`

" Unlike previous releases, the deprecated Apple-supplied OpenSSL libraries are no longer used.  This also means that the trust certificates in system and user keychains managed by the Keychain Access application and the security command line utility are no longer used as defau

[2018-01-22 00:48] dianacrem opened #10517 "RidgeClassifier with 'balanced' classweight"
#### Description

Running RidgeClassifier on some sparse data coming from the CountVectorizer on small documents, but many  fails when run with class_weight='balanced', but converges without any class_weight.

#### Steps/Code to Reproduce

vect = CountVectorizer(...)
vect.fit(X_tr)
X_tr = vect.transform(X_tr)
X_valid = vect.transform(X_valid)

clf=RidgeClassifier(solver='sag',  max_iter=1500, clas

[2018-01-22 08:15] lesteve commented on #10267
Sure!

[2018-01-22 09:56] lesteve commented on #7705
Can you provide a stand-alone snippet to reproduce the problem ? Please read https://stackoverflow.com/help/mcve for more details.

[2018-01-22 10:10] rth opened #10518 "Feature weighting with CategoricalEncoder(encoding='onehot')"
Currently with the default parameters, `CategoricalEncoder` produces one hot encoded features, where each column of the original data has a norm equal to 1. That is fine when the latter processing is not sensitive to the feature scaling, however in the opposite case (e.g. with KNN, or when doing dimensionality reduction) it might be useful to have some mechanism to weight / normalize different inp

[2018-01-22 12:17] jnothman commented on #10498
what would openml do about making both raw text and token frequencies
available?

[2018-01-22 12:29] jnothman commented on #10493
A patch is welcome, IMO.

[2018-01-22 14:31] maykulkarni commented on #10518
So basically all we need to do is add a `weights` parameter will would be an array of size number of features which would scale every entry of the input after one hot encoding?

[2018-01-22 14:52] jorisvandenbossche commented on #10518
With regard to how to specify those weights, the tricky thing is that you have to know the categories in advance, and that for all categorical columns.
So in that sense, a possible keyword should probably take a similar argument as the `categories` one (nested list/array).

To do it afterwards, it would basically be a FunctionTransformer that multiplies each column / dummy feature with a value? (s

[2018-01-22 15:25] maykulkarni commented on #10518
Additionally I think the user should also be able to supply a `dict`. Imagine you have 100s of features and  want to scale only 1 of them. WDYT?

[2018-01-22 15:51] rth commented on #10518
Right, but that's also true if you scale features after the encoder,
[code]
say we scale features with a `FunctionTransformer`,
[code]
we would still need to fit the encoder to compute the categories before initalizing the scaler,
[code]
so that doesn't really work in a pipeline, unless one computes the number of categories separately and assumes that their order is not going to change,
[code]

No

[2018-01-22 19:56] oasis789 commented on #10309
I should be able to do it this weekend. Planned to work on it over Christmas but fell it.

[2018-01-22 20:53] jnothman commented on #10465
@maykulkarni, unless @jorisvandenbossche is working on it, I think it's open for the taking

[2018-01-22 22:18] jnothman commented on #10517
this looks like it is a usage problem, not an issue we can fix in the
library. but you have told us far too little information. at a minimum: how
many samples from each class? have you tried scaling as suggested?
but please go to stack overflow or other user forums to deal with similar
problems

[2018-01-22 22:18] #10517 closed

[2018-01-22 22:45] dianacrem commented on #10517
Sorry, but yes I did try the scaling option. I mentioned that above. It doesn’t work!

And yes the classes are massively unbalanced which is why I want the model to get class_weight=‘balanced’

[2018-01-22 22:47] dianacrem commented on #10517
And i am running it on multiple versions of data, with different numbers of samples every time and it fails every time with the same error.

[2018-01-22 23:11] jnothman commented on #10518
@rth, do you simply want to weight different input features differently?
I.e. something that could be done with a FeatureUnion (or
ColumnTransformer) with transformer_weights and each feature handled by a
separate encoder?

On 23 January 2018 at 02:51, Roman Yurchak <notifications@github.com> wrote:

[2018-01-22 23:26] jnothman commented on #10517
Then consider reopening the issue with a fully reproducible minimal working
example: https://stackoverflow.com/help/mcve.

[2018-01-23 02:53] #10458 closed

[2018-01-23 03:10] jnothman commented on #10504
Firstly, the 500 predictions should not be stored at the same time, as the prediction is reduced in parallel. So it should be n_jobs predictions concurrently in memory.

But why can't you predict in smaller batches, and convert each to a smaller representation?

[2018-01-23 03:18] whatbeg commented on #10504
Thanks @maykulkarni , @glemaitre .
@jnothman hi, jnothman, yes I managed to predict in small batches, but I think it is less efficient than in full batch, and I just doubt why sklearn converts it to `float64` defaultly, and can we do better in memory efficiency.
:)

[2018-01-23 03:45] maykulkarni commented on #10465
@jorisvandenbossche let me know if you're busy/working on something else so I could take it up

[2018-01-23 04:28] jnothman commented on #10504
It's only less efficient if your batches are tiny.

I'm inclined to close this. I don't see the benefit of fixing this only for
forests, and don't think it's of enormous benefit anywhere, as that scale
of prediction can always be batched.

[2018-01-23 04:28] #10504 closed

[2018-01-23 06:39] #10507 closed

[2018-01-23 08:16] gxyd commented on #4545
@thechargedneutron are you planning to work on this? Otherwise, I can try to fix this.

@amueller says:

Would this entail explicitly creating a class `DummyEstimator`, though I've only seen usage of `DummyEstimator` only in tests till now.

Would going through a debugger over `LassoCV` (it doesn't raise error), and see how it works for cases of constant classifiers help (the code seems a little c

[2018-01-23 08:54] rahulptel commented on #10498
I would like to work in this issue.

[2018-01-23 09:14] jorisvandenbossche opened #10521 "Rethinking the CategoricalEncoder API ?"
Based on some discussions we are having here and issues that are opened, we are having some doubts that `CategoricalEncoder` (https://github.com/scikit-learn/scikit-learn/pull/9151) was the good choice of name (and since it is not released yet we have some room for change).

So summary of how it is now:

- The class name `CategoricalEncoder` says what type of data it accepts (categorical data)
- T

[2018-01-23 09:28] jorisvandenbossche commented on #10465
@maykulkarni Go ahead! I am not yet working on it, and can work on other things.

I am not fully sure yet, however, if we fully decided on what the API should look like. I think the direction (also for the other preprocessors, see https://github.com/scikit-learn/scikit-learn/issues/10404) is to 'preserve' NaNs. For the ordinal that is clear, but for the onehot case we still have discussion whether

[2018-01-23 09:46] ogrisel commented on #10521
Thanks for the summary @jorisvandenbossche. I think I am in favor of option 2: reuse `OneHotEncoder` class, deprecate the weird attributes and add a constructor parameter to select the behavior with a future warning that says that the default behavior will change but makes it easy to silence that warning just by passing a value for that option.

[2018-01-23 09:55] pinakinathc commented on #10493
hi can i take this up?

[2018-01-23 10:09] jnothman commented on #10493
perhaps work through #10457 first. Have you looked at how to fix this?

On 23 January 2018 at 20:55, Pinaki Nath Chowdhury <notifications@github.com

[2018-01-23 11:08] thechargedneutron commented on #4545
@gxyd  Feel free to take over this issue. I am currently working on a few other issues.

[2018-01-23 11:27] jnothman commented on #10521
The idea of reverting CategoricalEncoder makes me quite sad, but I think
you're right that future users would be less mystified by option 2. My main
concern is that we have tried implementing this as a change to OHE for a
long time and it never flew. Perhaps it would be good to attempt the
modifications to the OneHotEncoder docstring according to that proposed
change, so we can see if it looks san

[2018-01-23 11:32] GaelVaroquaux commented on #10521
+1 to what Joel said

⁣Sent from my phone. Please forgive typos and briefness.​

On Jan 23, 2018, 12:28, at 12:28, Joel Nothman <notifications@github.com> wrote:

[2018-01-23 11:47] qinhanmin2014 commented on #4103
resolved in #9372

[2018-01-23 11:47] #4103 closed

[2018-01-23 12:34] jorisvandenbossche commented on #10521
To be clear, it would not be a revert, it would be a refactor / rename that keeps all functionality!
But I also like the "CategoricalEncoder" name, that would indeed be sad.

That said, I will quickly try to do the changes to have an idea how possible it is to integrate this in OnehotEncoder.

[2018-01-23 12:34] fingoldo commented on #1626
Guys, is my understanding correct?
Let's take GridSearchCV or RandomizedSearchCV.
Either proceed to next training set.
That set contains signal+noise.
Ether call fit metod of a required estimator.
Fit method does not have explicit objective function as a parameter so I’m suggesting it’s always using Metric1 which is easily differentiable and has easily producible gradients (MSE, for example), is t

[2018-01-23 13:09] rth commented on #10463
To follow up to https://github.com/scikit-learn/scikit-learn/pull/10482#issuecomment-359737712 (as it's not really a comment about the PR), just a few general questions,
 * I understand the advantage of using standardized parameters and caching with  `NearestNeighborsTransformer`. But other than that I was wondering about the rationale to generalize sparse precomputed distances everywhere. Is it m

[2018-01-23 13:28] jnothman commented on #10463
Anywhere where all computations are based only on the sparse neighborhoods of each training point in relation to the training data is applicable, KNeighborsClassifier included. @TomDLT lists which apply in the PR.

Beyond caching, other specialised handling of particular data could be applied to produce sparse precomputed neighborhoods: batching, parallel/distributed computation of nearest neighbo

[2018-01-23 14:46] ritam006 opened #10522 "ProtocolError: ("Connection broken: error(104, 'Connection reset by peer')", error(104, 'Connection reset by peer'))"
While i try to update the following packages through pip i get this kind of error.
 pip install -U numpy scipy scikit-learn

Traceback (most recent call last):
  File "/home/ritam/Downloads/yes/lib/python2.7/site-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/home/ritam/Downloads/yes/lib/python2.7/site-packages/pip/commands/install.py", line 335, in r

[2018-01-23 15:17] jorisvandenbossche commented on #10521
OK, I opened a PR with a proof of concept: https://github.com/scikit-learn/scikit-learn/pull/10523.
It's not yet complete (no deprecation warnings and new attributes are not yet calculated in old behaviour).

The main API question is about the format of the input data.
So as a recap, there are **two different ways we currently process the categorical data**:

1) As actual, not yet encoded (integer

[2018-01-23 16:18] maykulkarni commented on #10522
Usage related questions are not answered here. You should try asking on stackoverflow or somewhere else.

[2018-01-23 17:10] #10522 closed

[2018-01-23 19:10] jotasi commented on #9494
Hi @whitezhang and @jondo, are you still working on this? Otherwise, I would try to pick this up.

[2018-01-23 20:40] krzakala commented on #8242
Same here

[2018-01-23 21:05] jondo commented on #9494
@jotasi, feel free to do so. I never got to going through all estimators to see which of them require nonnegative weights, as @amueller [suggested](https://github.com/scikit-learn/scikit-learn/pull/9674#issuecomment-328877928).

[2018-01-23 22:21] pavelkomarov opened #10524 "BaseEstimator.set_params(**params) is not truly recursive"
I am trying to set the hyperparameters of the `base_estimator` of an `AdaBoostRegressor` inside a `MultioutputRegressor`. I've defined a parameters dictionary as:

    params = {'estimator__base_estimator': DecisionTreeRegressor(),
        'estimator__loss': 'square',
        'estimator__learning_rate': 0.05,
        'estimator__n_estimators': 50,
        'estimator__base_estimator__max_features':

[2018-01-23 22:57] jnothman commented on #10524
Are you sure this is not fixed in master, in #9945 or #9999?

[2018-01-23 22:58] jnothman commented on #10439
Closing given the lack of response at that related issues were fixed in #9945 and #9999

[2018-01-24 01:56] jnothman commented on #10521
I'm still not sure what you're suggesting is the practical difference due to inferring categories from the max value.

[2018-01-24 02:04] #6308 closed

[2018-01-24 02:45] john-gillam commented on #9630
Hi,

I have been working on a similar pipeline that bypasses specific data. In my case I don't want it to resample the data but rather refuse to classify (i.e. either set nans as the classification outcome or use a masked array as output) those subjects that conform to a specific condition. I'm not sure if this is helpful, or similar to the FunctionSampler in imblearn, or might be  appropriate for

[2018-01-24 03:11] maykulkarni commented on #10524
What version of sklearn are you using?

[2018-01-24 03:13] pavelkomarov commented on #10524
0.19.1

[2018-01-24 04:01] jnothman commented on #9630
Link to your branch here? But I don't really think this should be a branch modifying Pipeline so much as a separate estimator: it sounds like hierarchical (i.e. coarse then fine) classification which I think is hard to develop a generic tool for.

[2018-01-24 04:07] jnothman commented on #10524
#9945 was in 0.19.1, but #9999 was not. If you are sure it has not been fixed, you need to provide a MCVE that reproduces the issue, just as we requested when you submitted your issue.

[2018-01-24 04:13] john-gillam commented on #9630
Sorry, I'm a bit new to this. The branch is at:
https://github.com/john-gillam/scikit-learn/tree/BypassPipeline

[2018-01-24 04:27] jnothman commented on #10524
`get_params` doesn't pass down `deep=True` under the assumption that `deep=True` by default (and that historically at least, a custom `get_params` implementation may not have a `deep` param).

[2018-01-24 07:23] maykulkarni opened #10525 "Improve RidgeCV exception message when called with `store_cv_values=False`"
#### Description

When RidgeCV is called with default params and I try to access cv_values_ it fails with:

`AttributeError: 'RidgeCV' object has no attribute 'cv_values_'`

I think it should instead raise an error for letting the user know to call RidgeCV with `store_cv_values=True`. This can be achieved using `check_is_fitted` and then raising AttributeError with an appropriate message.

#### St

[2018-01-24 09:40] jorisvandenbossche commented on #10521
@jnothman I suppose you acknowledge there *can* be a difference in practice? (the output you get depending on the data you have)

But whether this difference is important in practice, I don't know. That's where I would like to see feedback. Whether anybody actually *wants* this "max value"-based method, or whether we are fine with (in the future, after deprecation) only having the "unique values"-

[2018-01-24 10:10] jnothman commented on #10521
Remind me what the actual difference in output is, when n_values='auto',
please? I had thought the active_features_ thing made them basically
identical, but I'm probably forgetting something.

[2018-01-24 10:34] jorisvandenbossche commented on #10521
Aha, that clarifies our misunderstanding :-)
I misunderstood how the current OneHotEncoder is actually working. Suppose you have one feature with values [2, 3, 5, 2]. I thought the current OneHotEncoder would have categories [0, 1, 2, 3, 4, 5] (while current CategoricalEncoder would have categories [2, 3, 5]). But you are right that the `active_features_` is also only [2, 3, 5], essentially making

[2018-01-24 11:10] mohdsanadzakirizvi commented on #10498
if no one is working, I'd like to take up this issue?

[2018-01-24 11:14] mohdsanadzakirizvi commented on #10360
@jnothman , if no one is working, I'd like to take up this issue?

[2018-01-24 11:17] mohdsanadzakirizvi commented on #10410
if no one is working, I'd like to take up this issue?

[2018-01-24 11:21] TomDLT commented on #10525
PR welcome :)

[2018-01-24 11:22] jnothman commented on #10521
no, that is the sort of thing we have tried before and it's just too
finicky. unless there is good reason to maintain current behaviour, we
should just have a legacy_mode to slowly bring us to the future.

[2018-01-24 11:24] jorisvandenbossche commented on #10521
Can you clarify to which aspect this "no" refers?
To the fact that I think a `legacy_mode` is not needed?

[2018-01-24 11:26] samupra commented on #10410
@mohdsanadzakirizvi looks like the OP said they will deliver

[2018-01-24 11:35] pntemi commented on #10410
@mohdsanadzakirizvi Hey, sorry for not having much update recently. I've started working on it though, so I guess I will continue.

[2018-01-24 11:37] maykulkarni commented on #10525
@TomDLT can you please add "Easy", "good first issue" tags? :)

[2018-01-24 11:42] maykulkarni commented on #10525
@TomDLT can you add "Easy", "good first issue" tags, please? :)

[2018-01-24 12:58] lesteve commented on #10498
It is not yet exactly clear what we want to do in this case. I would encourage anyone willing to contribute to scikit-learn, especially for a first contribution, to look at other issues either labelled "good first issue" or "Easy". Look at https://github.com/scikit-learn/scikit-learn/blob/master/CONTRIBUTING.md#new-contributor-tips for more details.

[2018-01-24 16:38] Shabhonam commented on #6736
Hey guys
I have this issue: AttributeError: module 'sklearn.tree' has no attribute 'all_clades'

I have updated sklearn , scipy and numpy. I am using
from sklearn import *
Any advice is appreciated.

Thanks in advance

[2018-01-24 16:40] Shabhonam opened #10526 "sklearn attribute issue"
#### Description
<Hey guys
I have this issue:
 AttributeError: module 'sklearn.tree' has no attribute 'all_clades'

I have updated sklearn , scipy and numpy. I am using
from sklearn import *
Any advice is appreciated.

Thanks in advance>

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-01-24 17:51] maykulkarni commented on #10526
Usage related questions are not answered here. Please post it on stackoverflow or somewhere else.

[2018-01-24 18:13] icfly2 opened #10529 "inf or -inf values in CV ruin the mean and std"
#### Description
Sometimes one CV split can result in inf or -inf. This is probably a sub-sampling issue with the dataset, or may have some other causes. In either case, a warning that stats this was the problem and ignores the results from that fold would be nice, instead of the current setup, where the mean becomes inf.

As an example look at `split6_test_score` in the print out

#### Steps/Code

[2018-01-24 18:41] icfly2 commented on #10454
Here is a gist of cv with `n_jobs = -1` working (here)[https://gist.github.com/icfly2/c76f1224a9123a8f5ee90ff78b86c182]

And it also shows what the problem is. When you use `n_jobs = -1` the script where you call the function is reimported as many times as a process is triggered. This is of course very different and unexpected to other `n_jobs = -1` uses in this package, say the (regressors)[http:

[2018-01-24 18:50] dkirkby opened #10530 "Misleading kernel PCA examples"
The only text accompanying this [kernel PCA example](http://scikit-learn.org/stable/auto_examples/decomposition/plot_kernel_pca.html) is:

However, this example is very fine tuned and probably gives most readers a misleading impression.  To demonstrate this, the following function reproduces the example's projection to a 2D latent space (lower left plot):
[code]
With the defaults args, the example

[2018-01-24 19:20] SumeetSandhu commented on #10454
In the process of generating a reproducible example, I found more flakiness
- will upload a link to test code sometime.
The case of multiple labels worked on my MAC with n_jobs=-1, but the case
of binary labels didn't.

On Wed, Jan 24, 2018 at 10:42 AM, Ruben <notifications@github.com> wrote:

[2018-01-24 20:06] jnothman commented on #10521
yes, to the idea that you can just make something that is both backwards
compatible and what we want going forward

[2018-01-24 20:40] jnothman commented on #10360
Feel free to take it up and just use Parallel's verbose option, but I also
have a PR open (#10425) which creates verbose infrastructure without
Parallel, so I'm not sure if this wants to wait, or you want to submit a PR
to my branch...

[2018-01-24 20:41] jnothman commented on #10525
Can you point to somewhere else that we do this in the library

[2018-01-24 21:04] jnothman commented on #6736
all_clades??! are we talking about the same sklearn.tree?

[2018-01-24 21:07] jnothman commented on #10526
all_clades has nothing to do with our tree.

[2018-01-24 21:07] #10526 closed

[2018-01-24 21:12] jnothman commented on #10529
I don't think just leaving a fold out of the mean is a bit weird. Does the
grid search currently pick the best finite maximum, or does that break?

I suppose we could consider checking for finite score and applying the
error_score logic (i.e. treating it as we would an error in the fit).

[2018-01-24 21:37] jnothman commented on #10530
In the first instance, a PR with that comment, and perhaps an illustration
of brittleness to parameters, would be welcome

[2018-01-24 22:10] dhanush987 commented on #3605
I am still facing the same issue. I believe this bug was never fixed. Anything other than njobs=-1 hangs for mac OS. I am using python2.7.

[2018-01-24 22:13] dhanush987 opened #10533 "Grid Search CV hangs with n_jobs anything other than 1"
The below is the source code:

import sqlite3
import re
import time
import csv
import numpy as np
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.learning_curve im

[2018-01-24 22:32] jorisvandenbossche commented on #10521
That was not what I tried to suggest. I wanted to make clear that think it is possible to not have a `legacy_mode` keyword, not by having it magically both backwards compat and what we want in the future, but by deprecating the behaviour of the existing keywords.

So to be concrete: a non-default value of `n_values` can be deprecated and has to be replaced by `categories` specification. `handle_un

[2018-01-25 00:42] jnothman commented on #10521
so if I do .fit([[5]]).transform([[4]]), for which values of n_values,
categories and handle_umknown will that raise an error?

On 25 Jan 2018 9:32 am, "Joris Van den Bossche" <notifications@github.com>
wrote:

[2018-01-25 00:53] jnothman commented on #10521
can we just make it so that during deprecation, categories must be set
explicitly, and legacy mode with warnings is otherwise in effect? Is that
what you are suggesting?

[2018-01-25 06:56] lucgiffon opened #10534 "Nystroem transformation in sklearn doesn't look like the paper's formulas"
Hello,
The Nystroem transformation formulas in the scikit-learn implementation is not the same than the original ones. I wonder why? For a formal view of the actual formulas, check [here](https://stackoverflow.com/questions/48425835/nystroem-transformation-in-sklearn-doesnt-look-like-the-papers-formulas) where I already posted this question but didn't get any answer.

I am not sure it is a good pl

[2018-01-25 07:17] icfly2 commented on #10529
No the mean that is returned is `-inf`:

` 'mean_test_score': array([-inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf]), 'std_test_score': array([ nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]), 'rank_test_score': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1]),`

I'll look into the `error_score` bit and see if it can be applied.

[2018-01-25 07:57] jnothman commented on #10529
I think a warning, or an error, when a score is not finite, would be good.

But your problem is that as long as the bandwidth is small, and your KDE
not smoothed to avoid any space with zero probability, some sample will
come out with zero probability, resulting in the entire test set having
zero probability. Your bandwidths are just too low.

We do currently also have a problem that if any mean s

[2018-01-25 09:30] shitian-ni opened #10535 "D"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-01-25 12:27] #10535 closed

[2018-01-25 21:03] Nirvan101 commented on #10529
I'm using linux and I'm not having this problem. I ran the code and the mean returned consists of finite numbers.

    'mean_train_score': array([-13.61827776, -27.0441165 , -36.27037369, -40.27469649,
       -43.66752869, -46.97015916, -50.71671215, -54.63101528,
       -57.50331863, -59.81453274]), 'std_train_score': array([2.0535638 , 2.20127565, 2.25898773,
    2.07400415, 2.02062033,
       1

[2018-01-25 21:48] jnothman commented on #10529
Interesting. I could certainly reproduce on MacOX.

On 26 January 2018 at 08:03, Nirvan Anjirbag <notifications@github.com>
wrote:

[2018-01-25 21:49] jnothman commented on #10529
Sorry, you're looking at mean_train_score. Yes, the training data should
always have finite log likelihood. The test data is where you should be
looking.

On 26 January 2018 at 08:48, Joel Nothman <joel.nothman@gmail.com> wrote:

[2018-01-25 22:49] rth commented on #10451
Danger looks pretty nice. It general (also with respect to https://github.com/scikit-learn/scikit-learn/issues/10446) it might be useful to have some mechanism of performing automated actions based on some events.

 Another similar application I can think of how to handle stale PR. One could imagine that if a PR was reviewed, and there wasn't any response from the author, it would ping him/her in

[2018-01-25 23:32] pgad commented on #10430
Hi, I'm sorry, I got super busy, an couldn't get to it. I'm happy someone else did.

[2018-01-26 07:30] dhanush987 commented on #10533
I edited the typo in the code above. Well the problem is not because of the code at all.

[2018-01-26 08:07] chenhe95 commented on #10533
Try running this code and add `n_jobs` to whatever you want, does it run?

http://scikit-learn.org/stable/auto_examples/plot_kernel_ridge_regression.html#sphx-glr-auto-examples-plot-kernel-ridge-regression-py

I was able to get it working using the same version of scikit-learn and Python and it didn't matter what `n_jobs` was

[2018-01-26 09:45] Nirvan101 commented on #10529
Oh sorry about that. Can I work on this?

[2018-01-26 09:51] icfly2 commented on #10529
So we can confirm this is reproduced on `Windows, Linux and Mac`?
I haven't found any other ways of triggering this behaviour yet though, other than the one given earlier.

[2018-01-26 12:29] Nirvan101 commented on #10529
@jnothman So should I just display a warning/error when a fold is creating an infinite test_score and let the mean_test_score become infinite? Or should I make it omit folds with infinite test_scores in addition to the warning/error message?

[2018-01-26 17:08] jorisvandenbossche opened #10537 "Make ColumnTransformer work on dask arrays?"
The new `ColumnTransformer` (not merged yet, https://github.com/scikit-learn/scikit-learn/pull/9012) would also be useful in `dask_ml` context when using estimators that can handle dask objects, and it also *almost* works for them.
Main bottleneck is the concatenation of the results of the different transformers.

With a relatively small patch to the stacking code of `ColumnTransformer.transform`

[2018-01-26 19:48] bclayman opened #10538 "GridSearchCV Hangs On Second Run"
Hi there,

I'm using `GridSearchCV` to evaluate my `xgboost` model with different hyperparameter settings on the Kaggle Titanic dataset.  I call `.fit(X, y)` on my `GridSearchCV` object and all is well.

I make a few changes to the hyperparameters I want to explore, re-run my code, and it hangs.  I re-tried, using the same hyperparameters on the second run as on the first and it *still* hangs.

He

[2018-01-26 19:59] dkirkby opened #10539 "Inconsistent density estimator sampling APIs"
The [KernelDensity sample() method](http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KernelDensity.html#sklearn.neighbors.KernelDensity.sample) provides an optional `random_state` arg, to allow samples to be generated reproducibly.

However, the similar [MixtureBase sample() method](http://scikit-learn.org/stable/modules/generated/sklearn.mixture.GaussianMixture.html#sklearn.mixt

[2018-01-26 20:05] dkirkby commented on #10530
I can submit a PR to update the existing example with document of its inherent sensitivity to small changes in the data and hyperparams.  A more robust example would be even better, though, if anyone has ideas.

[2018-01-26 20:14] XunOuyang commented on #10529
@Nirvan101 I assume that a warning should be displayed, the mean_test_score should not take the inf values as input for further calculation. well, let`s see what the experts say. I am only a passby.

[2018-01-27 10:29] jnothman commented on #10537
this is also useful for FeatureUnion, stacking ensembles perhaps, etc. and
I think it's been briefly discussed before.

I think it would be a good idea to have a util to handle this sort of
thing, but if you would have type-based dispatch, you would need to have a
way to determine which type takes priority (or else allow each registered
handler to optionally handle it, which is basically equivalen

[2018-01-27 12:19] rth commented on #10533
It's a known issue with the multiprocessing module.

See [FAQ](http://scikit-learn.org/stable/faq.html#why-do-i-sometime-get-a-crash-freeze-with-n-jobs-1-under-osx-or-linux) and https://github.com/dmlc/xgboost/issues/2163 as well as https://github.com/scikit-learn/scikit-learn/issues/5115 and https://github.com/scikit-learn/scikit-learn/issues/6627.

[2018-01-27 12:20] rth commented on #10538
See [FAQ](http://scikit-learn.org/stable/faq.html#why-do-i-sometime-get-a-crash-freeze-with-n-jobs-1-under-osx-or-linux) and https://github.com/dmlc/xgboost/issues/2163 as well as https://github.com/scikit-learn/scikit-learn/issues/5115 and https://github.com/scikit-learn/scikit-learn/issues/6627.

[2018-01-27 17:11] lorentzenchr opened #10540 "ElasticNet overwrites X even with copy_X=True"
The `fit` function of an `ElasticNet`, called with `check_input=False`, overwrites X, even when `copy_X=True`:
[code]

[2018-01-27 18:23] gxyd commented on #10540
I think this will be easy to fix. The culprit is this line https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/coordinate_descent.py#L715 which passes `copy=False`, instead of `copy=self.copy_X`. That'll probably fix the issue.

Thanks for reporting it.

[2018-01-27 21:42] jnothman commented on #10539
generally for our prediction methods, we avoid having parameters to the
methods that are not aligned to the data (e.g. weights). so the alternative
approach might be more in line with our API conventions. But sampling is
different to prediction. I don't mind having random_state passed into the
method, but it would be good if you could review sampling interfaces
elsewhere in scikit-learn

[2018-01-27 21:47] jnothman commented on #10529
I think it would be deceptive to just exclude erroneous splits from the
mean. I think the simplest solution is to warn when a scorer returns a
non-finite value. maybe in the future we will change this warning to an
error, and apply error_score logic.

Then we should allow the mean score to be non-finite, but should force NaN
to be ranked last, not first, by grid search.

[2018-01-27 21:52] #10533 closed

[2018-01-27 21:53] #10538 closed

[2018-01-27 21:56] jnothman commented on #10540
Thanks for the diagnosis, @gxyd!

[2018-01-28 01:10] vnavkal opened #10542 "Documentation for decorated functions has incorrect source code links"
In the documentation pages, source code links to some decorated functions are incorrect.  For example:
* The link for [`Pipeline.predict_log_proba`](http://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.predict_log_proba) points to `metaestimators.py` instead of `pipeline.py`.
* The link for [`linear_model.lasso_stability_path`](http://scikit-lea

[2018-01-28 02:42] ymazari commented on #10540
@jnothman, @gxyd: May I work on this?

[2018-01-28 03:45] lkettle opened #10543 "r2_score returns r correlation coefficient not R2 coefficient of determination"
**r2_score** returns r correlation coefficient not r2 coefficient of determination.

Your documentation indicates in
[http://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html](url)

that r2_score can return negative results with examples.  This means you are actually producing the r , or correlation coefficient, indicating negative and positive correlation.

an R2 is between

[2018-01-28 07:40] jnothman commented on #10540
go ahead

[2018-01-28 09:20] JohnStott commented on #9626
It's a shame this takes such a long time, but understandable with having to takes medians etc.  What I have found frustrating is that the time taken to train is not linear.  For example, I have a sample of data that takes 50 minutes to train 10 trees, however, if I run the same test for 20 trees, it takes 160 minutes (not the expected 100 minutes).  This is on a system with 40 cores using "jobs=36

[2018-01-28 09:27] ymazari commented on #10540
Thanks. On it!!

[2018-01-28 09:59] jnothman commented on #9626
Interesting question (but perhaps not to be stuck on the end of a
tangentially related issue). Have you actually plotted the growth in
runtime as a function of number of trees? It would be interesting to have a
basic script to try replicating this issue.

[2018-01-28 10:50] jnothman commented on #10543
You're incorrect that it is the correlation coefficient. In the doctest example, `r2_score([1,2,3], [3,2,1])` is calculated as -3. The correlation coefficient would be -1.

Notes in the API docs you cite explicitly contradicts your assertions:

See [Wikipedia](https://en.wikipedia.org/wiki/Coefficient_of_determination)

 Related: #5570

[2018-01-28 10:50] #10543 closed

[2018-01-28 11:00] jnothman commented on #5570
I think this can be closed in part just because it's not going to change (although I suppose docs could be improved). But I also think the OP neglects the fact that in a machine learning context, we are usually estimating generalisation error, not goodness of fit alone, where negative scores seem appropriate.

[2018-01-28 11:00] #5570 closed

[2018-01-28 12:33] jnothman commented on #10542
Thanks. Yes, I think this is worth fixing. I also think it's worth trying to standardise the code used for this across projects; it seems as if many projects have copied numpy's version at some point, and yet different projects have benefits to their variations:

* scikit-learn gets the git revision assuming the docs are being built in a checkout (and never links to branches/tags by name)
* numpy

[2018-01-28 18:41] mcgibbon commented on #9626
@SmokinCaterpillar I attempted to implement this, but my resulting solution failed unit tests (it was doing one calculation or another incorrectly). I was unable to configure any kind of Cython debugging to work with Anaconda, and I figured for other reasons that this probably won't impact my research, so in the end I gave up.

The real issue isn't in computing running medians, but in computing th

[2018-01-28 20:26] vnavkal commented on #10542
I agree -- it looks like it would be useful to consolidate the shared logic.  I'll bring this up in the numpydoc repository, thanks!

[2018-01-28 23:00] jorisvandenbossche commented on #10521
Yes, it might be still missing case, but I *think* this is possible (will check by actual coding it next week).

The different 'legacy' cases:

- n_values='auto' (the default)
    - handle_unknown='ignore'  -> fine, no change in behaviour
    - handle_unknown='error' -> Problem, values in range are still ignored, values above range error
      - Possible solution:
         - in fit, if the range i

[2018-01-28 23:30] jnothman commented on #10521
we don't usually raise warnings until fit in any case so don't worry about
that.

that strategy sounds mostly good.

I'm not actually sure if we should be sniffing for strings in the data,
though. You basically want it to be: legacy mode is active if categories is
not set *and* if the data is all integers?

 One question: if categories and n_values parameters are their default, do
we publish categ

[2018-01-28 23:44] jnothman opened #10544 "Neither the user guide nor the docstring says that Perceptron is a classifier"

[2018-01-29 01:28] kaigedong commented on #8215
pip install -U scikit-learn==0.18

[2018-01-29 04:15] Nirvan101 commented on #10529
@jnothman I'm putting the warning in the fit method. If the `test_score` for any fold is non-finite, the warning will be displayed. Is this fine? Should I check the same for `train_score` ?

[2018-01-29 04:21] jnothman commented on #10529
If train_score is being calculated, it doesn't hurt to have it there too.

[2018-01-29 06:18] jean28 opened #10545 "GridSearchCV on MLPClassifier causes Python to quit unexpectedly"
#### Description

I am trying to train a MLPClassifier with the MNIST dataset and then run a GridSearchCV, Validation Curve and Learning Curve on it. Every time any cross-validation starts (either with GridSearchCV, learning_curve, or validation_curve), Python crashes unexpectedly.

#### Steps/Code to Reproduce

neural_net = MLPClassifier(solver='lbfgs', activation='logistic',

[2018-01-29 06:49] jnothman commented on #10545
this may not be enough for us to debug. please provide a runnable snippet
(including data) that reproduces the error. also confirm which values of
n_jobs do/do not trigger the error

[2018-01-29 07:51] JohnStott commented on #9626
Thanks @mcgibbon for the ideas, I don't suppose you still have your source code, or am I able to view it in github somewhere?  I have some time this week so could try and look into this.

I have created a simple script and it doesn't appear exponential like I first mentioned.  However, there does appear to be quite a bit of "slippage" in sharing the work amongst the cores, much more than I would h

[2018-01-29 08:01] mcgibbon commented on #9626
@JohnStott You can check out what I had in [this fork branch](https://github.com/mcgibbon/scikit-learn/tree/fast_mae). Remember it has bugs and isn't doing the calculation correctly, so you may want to start your own code from scratch (it's really not that much code).

[2018-01-29 08:09] JohnStott commented on #9626
Many thanks, will give me a clearer picture of your solution and I'm sure it'll save me much time figuring out where everything lies too i.e., what files to look at etc. Thanks.

[2018-01-29 11:40] twolodzko opened #10547 "Make LabelBinarizer pipeline friendly"
I saw the below code used in several places so that `LabelBinarizer()` can be used within pipeline. Can it be added as a part of sklearn default?

[code]
The problem is that LabelBinarizer()'s functions take one parameter, while they should take the `X, y = None` params. I undestand that this would lead to changing interface (=major change), but it seems to be reasonable and consistent with the ge

[2018-01-29 12:00] jnothman commented on #10547
Showing it can be done doesn't explain what for... What for?

Do you mean to have something like the OneHotEncoder for strings? The master branch currently includes a CategoricalEncoder, although that may be rolled into the OneHotEncoder before release. You could already have used a CountVectorizer for this purpose also...

LabelBinarizer, like LabelEncoder, is for targets. Not for features. It pr

[2018-01-29 12:00] #10547 closed

[2018-01-29 12:24] jnothman commented on #10215
Is it worth organising some kind of live meeting to resolve the issues here?

[2018-01-29 12:33] jnothman commented on #5516
I think it's worth defining functions for each of these, or at least scorers. That would be the simplest API-consistent way to do it, I think, and users do benefit from being able to find these names, certainly now that we support multiple scorers.

[2018-01-29 12:39] jnothman commented on #6983
Consensus seems to be to close as out of scope.

[2018-01-29 12:39] #6983 closed

[2018-01-29 12:40] jnothman commented on #10261
Are we still expecting this to appear, @ericchang00?

[2018-01-29 12:46] jnothman opened #10548 "Make random_state descriptions more informative and refer to Glossary"
We recently added a [Glossary](http://scikit-learn.org/dev/glossary.html) to our documentation, which describes common parameters among other things. We should now replace descriptions of `random_state` parameters to make them more concise and informative (see #10415). For example, instead of

[code]

in both KMeans and MiniBatchKMeans, we might have:
[code]

**Therefore, the description should fo

[2018-01-29 13:24] aby0 commented on #10548
Hi @jnothman, Can I take this issue? Thanks

[2018-01-29 13:27] JohnStott commented on #9626
Sorry for digressing this thread, but if anyone is interested here are my benchmarks and sample script, note that I ended up performing these tests using MSE as this enabled to produce a similar performance wrt large sample data set, but without having to wait too long to complete (as with MAE):

[code]

![image](https://user-images.githubusercontent.com/5311729/35512037-33684422-04f6-11e8-9e88-6d

[2018-01-29 13:32] JohnStott commented on #9626
...maybe I should have used `n_jobs=n_model` in the above...hmmm, maybe I'll try that tomorrow?

[2018-01-29 13:36] jnothman commented on #10548
Claim a module/subpackage and have a go...

On 30 January 2018 at 00:24, Somya Anand <notifications@github.com> wrote:

[2018-01-29 14:45] lesteve commented on #10534
Maybe [this stats.stackexchange answer](https://stats.stackexchange.com/a/261277) can help. Expand and read the comments as well.

[2018-01-29 14:49] aby0 commented on #10548
@jnothman I am sorry for being naive but can you elaborate about the module/submodule? I mean are you referring to a sub-package like Kmeans for instance?

[2018-01-29 15:59] jean28 commented on #10545
Here is a snippet that causes the crash:

import matplotlib.pyplot as plt
from sklearn.datasets import fetch_mldata
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV

mnist = fetch_mldata("MNIST original")
X, y = mnist.data / 255., mnist.target
X_train, X_test = X[:60000], X[60000:]
y_train, y_test = y[:60000], y[60000:]

alpha_vals = [1e-2, 1e-3, 1e

[2018-01-29 16:09] lucgiffon commented on #10534
Thank you very much, it perfectly answered my question.

Just out of curiosity, what and where did you search in order to find this answer?

[2018-01-29 16:09] #10534 closed

[2018-01-29 16:33] rmitsch commented on #10044
@thechargedneutron @siftikha Did you make any progress?

[2018-01-29 16:38] lesteve commented on #10530
Quickly playing with the example and tweaking the parameters, it looks like a smaller factor (0.25 for examle) makes the example more robust.

[2018-01-29 16:45] lesteve commented on #10534
Glad it helped. The stats SE answer is amongst the 5 top results when I google "scikit-learn nystroem".

[2018-01-29 16:48] lucgiffon commented on #10534
Thank you, I'll use simpler keywords next time.

[2018-01-29 17:17] lesteve commented on #10548
I think what @jnothman means is just start with one file, for example sklearn/cluster/k_means_.py, update the `random_state` docstring as in the top post and open a PR.

[2018-01-29 17:28] lesteve commented on #10545
Readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages code snippets. Bonus points if you use [syntax highlighting](https://help.github.com/articles/creating-and-highlighting-code-blocks/#syntax-highlighting) with `py` for python snippets and `pytb` for tracebacks.

[2018-01-29 17:34] ericchang00 commented on #10261
Definitely - I was actually just reading the paper again yesterday. It's a substantial piece of work, so it may take around a month before we can submit a PR. Is that fine?

[2018-01-29 17:48] mcgibbon commented on #9626
@JohnStott I think you've answered the question of scaling with number of trees, which is good (the volatility doesn't matter for scaling), and moving forward we should focus on the original issue in this thread.

[2018-01-29 18:10] jean28 commented on #10545
Sorry about that, just added the Python formatting for the code snippet.

[2018-01-29 18:18] JohnStott commented on #9626
Yes, time better spent.  Talking of time, I am having a real battle just getting this scikit-learn to compile in my windows environment.  I have followed the instructions but having undecipherable cython errors etc! So at the moment, it seems I am failing at point 1 which is a shame as I suspect this prevents many people contributing to this project.  Maybe I will have more success if I try on Ubu

[2018-01-29 19:05] ritocesura opened #10549 "RandomForestRegressor behavior when increasing number of samples with restricted depth"
#### Description

`RandomForestRegressor` drops in accuracy as well as number of leaves after a certain `n_samples` threshold, when restricting the depth with `max_depth`.

`n_samples` is sampled with fixed seed from a pool of 16 million samples. Additional information on nature of data can be provided if needed.

#### Steps/Code to Reproduce

If needed, I can provide a training and test set to re

[2018-01-29 20:28] jnothman commented on #10261
That's fine. I was mostly just curious.

[2018-01-29 20:29] jnothman commented on #10261
And thanks!

[2018-01-29 21:52] paulochf opened #10550 "Iris dataset inconsistency compared to other sources"
Just found that [scikit-learn iris dataset](https://github.com/scikit-learn/scikit-learn/blob/a24c8b464d094d2c468a16ea9f8bf8d42d949f84/sklearn/datasets/data/iris.csv) is different from R's MASS datasets package.

I've found it [in this Stats Exchange answer](https://stats.stackexchange.com/a/229093/42282), which refers to [here](https://archive.ics.uci.edu/ml/datasets/Iris) which, in turn, says

N

[2018-01-29 21:55] jnothman commented on #10548
a subpackage is something like sklearn.cluster

[2018-01-29 22:02] jnothman commented on #10545
does it crash for n_jobs=1? for n_jobs=2? how many processors do you have?
how much memory?

[2018-01-29 22:04] jnothman commented on #9626
would you consider compiling and testing in a docker?

[2018-01-29 22:13] jnothman commented on #10549
Do you find this effect on generated data? Is your MAE on training data or held-out? If training, this sounds like appropriate behaviour. Please always provide a runnable snippet, even without data, so we can see exactly what you are doing.

[2018-01-29 22:18] jnothman commented on #10550
Sounds like a bug.  :\

I'm not sure if others are aware of this, or where our Iris came from.

Not sure if we should aspire to backwards compatibility when fixing this either...

[2018-01-29 22:34] jean28 commented on #10545
It actually doesn't crash for n_jobs=1, but it does crash for n_jobs=2 or -1. These are the specs for my laptop (I believe I have 4 cores):

<img width="590" alt="screen shot 2018-01-29 at 5 32 03 pm" src="https://user-images.githubusercontent.com/5356336/35538065-96091c2c-051a-11e8-81af-98072b4ccab7.png">

[2018-01-29 22:40] paulochf commented on #10550
Yeah, I though about that either. That's why I opened the issue instead of just PR'ng the correct values :laughing: .

[2018-01-29 23:19] JohnStott commented on #9626
Yes, for sure. I would consider anything if I could compile and run as quickly as possible... don't even need a "studio"/debugger type environment if I can output to screen/file. Mcgibbon's code looking great, so hopefully I could add the finishing touches.

[2018-01-29 23:22] jnothman commented on #9626
I thought @rth had a docker setup for testing, but I can't find it now. It
should be fairly straightforward to establish a Dockerfile on top of the
anaconda dockerhub image.

[2018-01-30 01:46] vadasri opened #10552 "Inverse Transform for Label Encoder fails when more than one new values are present."
**Description**

Inverse transform does not show an appropriate error message when more than one new values are present in the data.

**Steps/Code to Reproduce**

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder().fit(['a', 'b'])
le.inverse_transform([0, 1, 2, 3])

**Expected Results**

ValueError: y contains new labels: [2, 3]

**Actual Results:**

ValueError: The truth value of an

[2018-01-30 02:03] jnothman commented on #10552
Fair enough.

[2018-01-30 02:25] hachibaka commented on #10552
Can I take this ?

[2018-01-30 02:50] vadasri commented on #10552
Actually, I am puzzled as the issue was reported before and fixed. See: #9816. But, for some reason, the fix did not make it to v0.19.1.

[2018-01-30 05:49] Kitwradr commented on #10466
same issue

[2018-01-30 05:51] jnothman commented on #10466
I take it people are starting to integrate pylint into their IDEs and are upset when their working code gets flagged. I'm sorry, this is not an issue we can fix here. Go try to fix it at PyCQA/pylint#811...

[2018-01-30 08:17] ritocesura commented on #10549
Yes, this effect is found on generated data. The MAE is on a held-out test set. I will try to provide a compact version of my code, but it might take some time since it is quite lengthy.

@jnothman Is there a particular reason why you asked if the effect occurs on generated data? I am using synthetically generated depth images with no noise.

[2018-01-30 08:33] jnothman commented on #10549
I was trying to get a sense of wether there was something particular about
your data that made it interesting, or whether this would be true of any
dataset. but it also implies that you could provide the dataset generation
function instead of the data

[2018-01-30 10:53] aby0 commented on #10548
Thanks. Will do that and open a PR.

[2018-01-30 12:12] ritocesura commented on #10549
I'm pretty sure that it is not much help, when I just post my functions that generate X and Y from the depth images, but here they are.
[code]

For an easier reading I am using the standard scoring function.

I ran finer grained test run to see if there is a rapid decline in accuracy or a more steady decline in accuracy. These are the results:
[code]

[2018-01-30 13:25] KhaledSharif opened #10553 "Export Graphviz function produces incorrect DOT file"
#### Description
Export Graphviz ([sklearn.tree.export_graphviz](http://scikit-learn.org/stable/modules/generated/sklearn.tree.export_graphviz.html)) function produces incorrect DOT file, but only when trying to add `class_names`.

#### Steps/Code to Reproduce

[code]

#### Expected Results
DOT file that can be properly read by a website such as [Viz.js](http://viz-js.com/), or can be transformed

[2018-01-30 14:50] qinhanmin2014 commented on #10552
@vadasri also ping @jnothman
It's resoved in master(#9816). It's supposed to be in 0.19.1(See https://github.com/scikit-learn/scikit-learn/pull/9816#issuecomment-331747737 by @jnothman ) but somehow missing. Seems that we have to wait for 0.20.
The problem is that we have a what's new entry in 0.19.1 but the code is not there, @jnothman should we move the entry to 0.20?

[2018-01-30 15:04] ritocesura commented on #10549
After further inspection of my dataset, I found a couple of very large outliers which comprised about 2% of my data. After deleting those outliers, the above described behavior did not reoccur.
I am sorry for the inconvenience!

[2018-01-30 15:04] ritocesura commented on #10549
After further inspection of my dataset, I found a couple of very large outliers which comprised about 2% of my data. After deleting those outliers, the above described behavior did not reoccur.
I am sorry for the inconvenience!

[2018-01-30 15:04] #10549 closed

[2018-01-30 15:09] qinhanmin2014 commented on #10550
I think iris dataset in scikit-learn is obtained from UCI Machine Learning Repository.
http://archive.ics.uci.edu/ml/datasets/Iris
Relevant commit:https://github.com/scikit-learn/scikit-learn/commit/def073bedb0cd71fbdc1e06d5fed1acf07960388
I'm really curious why such a common dataset has multiple versions.

[2018-01-30 15:14] qinhanmin2014 commented on #10544
Seems that we have a note in the doc?
Perceptron and SGDClassifier share the same underlying implementation. In fact, Perceptron() is equivalent to SGDClassifier(loss=”perceptron”, eta0=1, learning_rate=”constant”, penalty=None).

[2018-01-30 15:47] paulochf commented on #10550
As I said, their data doesn't agree with the original paper, so I guessed that was the cause of this "bug".

[2018-01-30 16:24] massich commented on #10553
I tried to replicate with the code provided, and I couldn't.

I tried a similar thing (see the following code) and it worked:
[code]
Could you please provide a self contained code? So tha we can reproduce the error?

[2018-01-30 18:09] shivamriky commented on #10548
Hi @aby0 ! May I check if you have started with this? I am also planning to help and I also dont have a lot of experience with it.

[2018-01-30 18:54] amueller opened #10554 "nitpick: SGD penalty demo should use spines"
I feel like
http://scikit-learn.org/dev/auto_examples/linear_model/plot_sgd_penalties.html#sphx-glr-auto-examples-linear-model-plot-sgd-penalties-py

should use

https://matplotlib.org/examples/pylab_examples/spine_placement_demo.html

instead of drawing the cross.

The rest of the code is also not that great, I wonder whether using plt.contour would make this easier to read.

[2018-01-30 19:08] shivamriky commented on #10548
Hi! @jnothman

Would you also like to replace the following comments as seen in grid_search.py? They have an extra line as compared to the one shared by you.
[code]

[2018-01-30 19:26] shivamriky commented on #10548
I can take grid_search.py and k_means.py(KMeans).

[2018-01-30 19:32] amueller commented on #10554
seems shorter:
[code]

[2018-01-30 20:42] thundo commented on #10157
Don't know if it's related but I found inconsistencies between log_loss and Keras' binary_crossentropy in a multilabel problem. https://github.com/keras-team/keras/issues/9219

[2018-01-30 20:43] rth commented on #9626
It was in https://github.com/scikit-learn/scikit-learn/issues/9393#issuecomment-328272865, I updated and packaged it in [`rth/scikit-learn-dev-docker`](https://github.com/rth/scikit-learn-dev-docker).

But that wouldn't help with the install on Windows, unfortunately; those are Linux images.

@JohnStott  You did go through this [docs section](http://scikit-learn.org/dev/developers/advanced_install

[2018-01-30 21:07] jnothman commented on #10466
@pcmanticore has given some hints as to how this could be fixed in pylint: https://github.com/PyCQA/pylint/issues/811#issuecomment-361595174

[2018-01-30 21:08] jnothman commented on #10552
:/ yes, I suppose we should move that entry.

[2018-01-30 21:11] jnothman commented on #10549
cool! I was trying to imagine what kind of features in a dataset might lead
to this behaviour. outliers would do it, given that a forest's ensembling
is naive, and that a small max_depth might make the tree be dominated by
outliers

[2018-01-30 21:11] jnothman commented on #10544
it's not in the user guide and it's not up front there.

[2018-01-30 21:12] lmcinnes commented on #10044
I can confirm some issues. I benchmarked all the python t-SNE implementations I could find on the MNIST dataset. Most implementations are based off the original code by Laurens van der Maaten, but there were some interesting differences anyway. You can see the [results here](https://gist.github.com/lmcinnes/023443d7e249689cb968f36570447950).

Summary:
* [MulticoreTSNE](https://github.com/DmitryUly

[2018-01-30 21:15] jnothman commented on #10548
leave grid_search.py alone. it is deprecated. The idea is to minimise the
content that is repeated, and available in the glossary, so that we can
give the users to most informative description about random_state's role in
the particular estimator.

[2018-01-30 21:18] jnothman commented on #9626
I thought docker would run in a Linux vm on windows

[2018-01-30 21:35] rth commented on #9626
It would, but I was under impression that **JohnStott** was trying to compile it on Windows without a VM.

If there is a Linux VM, I think installing directly might still be easiest. (No need to figure out how to edit files inside a Docker container, or mount volumes)...

[2018-01-30 21:49] jnothman commented on #10044
thanks for the analysis!

The version of bhtsne in scikit-learn before 0.19 had a number of
substantial bugs, so if that's the version you remember being faster, it's
a pity if we now run slower, but better to be correct.

Don't worry too much about NN. We will, at a minimum, try to have a way for
users to provide their own NN in #10482.

[2018-01-30 21:53] jnothman commented on #10044
Does @tomMoral have any ideas?

[2018-01-30 21:56] lmcinnes commented on #10044
No the pre-0.19 version (with the issues) was quite slow -- there was a noticeable performance boost moving on from that. If performance has degraded it is between 0.19.0 and 0.19.1, but I'm not sure anything has changed.

[2018-01-30 22:06] jnothman commented on #10044
You've verified the performance degradation between those releases? I can
only see that as being possible if Cython changed...

[2018-01-30 22:13] lmcinnes commented on #10044
I haven't actually verified that -- I'm just remembering older runs, but many thing have changed since then (including OS upgrades to deal with meltdown) which could have impacted performance. I'm not actually sure there is any difference.

[2018-01-30 22:19] JohnStott commented on #9626
Yes... I have a preference for a windows environment as I can use familiar packages for debugging etc..., I don't have a free machine to install linux and was thinking about the VM route (i.e., to try in linux equivalent), then remembered Amazon have an ec2 service, so thought I would use that to set up a linux (ubuntu) environment assuming that the `make` was a simple alternative.  Unfortunately

[2018-01-30 22:33] rth commented on #9626
Thanks for the feedback on the windows installation instructions.

the latter, for a package you want to compile from source. Though, just using python (not contributing) should be more straightforward now with conda packages and pre-built wheels for pip.

[2018-01-30 22:41] JohnStott commented on #9626
Thank you, yes using scikit-learn with say anaconda (not compiling haha) is a dream for a windows python user :+1:

[2018-01-30 22:42] JohnStott commented on #9626
* is a dream to work with (no problems whatsoever)

[2018-01-30 22:56] amueller opened #10555 "fetch_california_housing missing from the user guide"
The fetch_california_housing function is missing from the dataset user guide:
http://scikit-learn.org/dev/datasets/index.html

[2018-01-30 22:59] amueller commented on #10555
details are here: http://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

[2018-01-30 23:34] lmcinnes commented on #10044
For NN I have verified that the simple expedient of adding the options ``dualtree=True`` and ``breadth_first=True`` to the kd-tree query command reduces the NN search time from 4460s to 3480s on the MNIST dataset. In general it may be beneficial to review the ``auto`` options in ``NearestNeighbors`` and ensure, for example, that it uses dual-tree and breadth-first for tree based queries on large q

[2018-01-30 23:48] bsaunders23 commented on #6276
Hi all! Know I'm a bit past the date of this post, but I think I found a solve that preserves predictive ability of the RFC while reducing size (for me went from about 2GB --> 1KB).

If, after fitting a model, you set the .__dict__ attribute to an empty dictionary, the size of the file is significantly reduced.

Example, fitting model to set of features X and classes Y:

`from sklearn.ensemble imp

[2018-01-30 23:57] jnothman commented on #10044
that sounds like a good idea. I've found it surprising how much we expect
from the user in tuning the NN search trees. I am not familiar enough with
the data structures to know what other factors may affect good choices here.

[2018-01-31 00:05] jnothman commented on #6276
Absolutely, removing the model will reduce model size. But your prediction step does not work:
[code]

[2018-01-31 00:06] bsaunders23 commented on #6276
wow quick response, prediction step still works for me though

[2018-01-31 00:15] bsaunders23 commented on #6276
Yeah nevermind I'm being stupid

[2018-01-31 02:08] #10552 closed

[2018-01-31 02:17] StevenLOL commented on #10497
I tested with two nvidia-docker, one forked from others with build in conda+sklearn, one was build by myself.  Both couldn't set n_jobs , but since I could not spend time on this issue, maybe I should close it ?

[2018-01-31 02:17] #10497 closed

[2018-01-31 09:57] kkang2097 commented on #10555
Hey how would i update the documentation?

[2018-01-31 09:58] jnothman commented on #10555
doc/datasets/index.rst

On 31 January 2018 at 20:57, Elliot Kang <notifications@github.com> wrote:

[2018-01-31 11:12] snehlatamohite opened #10561 "Test - sklearn/cluster/tests/test_mean_shift.py::test_estimate_bandwidth_1sample fails on ppc64le platform"
#### Description
Test - sklearn/cluster/tests/test_mean_shift.py::test_estimate_bandwidth_1sample fails on ppc64le platform

#### Steps/Code to Reproduce

We have build scikit-learn from source using below steps
[code]

Any help to resolve the issue will be appreciated.

[2018-01-31 11:53] jnothman commented on #10561
I'm guessing the calculation of euclidean distance in sklearn/neighbors's binary tree is somehow not quite precise enough on that platform for the distance between x and itself to be exactly 0. Does this pass:

[code]

?

[2018-01-31 14:10] rth opened #10562 "Absolute tolerance in approximate equality tests"
In a number of places in tests, `numpy.testing.assert_allclose` is used with default absolute tolerance parameter which is `atol=0`.

This means in particular that `np.testing.assert_allclose(0, 1e-16)` will fail. More context for the reasons behind this choice can be found in https://github.com/numpy/numpy/issues/3183#issuecomment-350892896  and [PEP485](https://www.python.org/dev/peps/pep-0485/#

[2018-01-31 14:32] divayjindal95 commented on #10544
Can I work on this issue ?

[2018-01-31 14:32] bartdp1 opened #10564 "Averaging scores for classes for the average_precision_score"
Consider the case of binary classification. The average precision metrics as implemented in `metrics.average_precision_score` is not symmetric for classes, so it's value depends on which class if the positive one. According to the docs, setting parameter `average=None` should result in the function returning the value for both classes. However, only a single value is returned. setting `average='ma

[2018-01-31 14:57] divayjindal95 commented on #10555
@kkang2097 hey is it done ?

[2018-01-31 15:30] nicaogr opened #10566 "Feature request : liblinear implementation version of OneClassSVM"
#### Feature Request

It could be interesting to get a liblinear implementation of the linear kernel version of [OneClassSVM](http://scikit-learn.org/stable/modules/generated/sklearn.svm.OneClassSVM.html) in the same way that [LinearSVC](http://scikit-learn.org/stable/modules/generated/sklearn.svm.LinearSVC.html#sklearn.svm.LinearSVC) is a liblinear version of the linear kernel version of [SVC](ht

[2018-01-31 16:01] shivamriky commented on #10548
Thanks @jnothman. WIll I need to understand these algorithms before I can replace this random_state information?

[2018-01-31 16:52] XunOuyang commented on #10554
Tried to compared the performance of the two and I thought the official example was better than the code you posted above. The official executes faster and consume less memory.

[2018-01-31 19:12] kkang2097 commented on #10555
I think so

[2018-01-31 19:15] agramfort commented on #10540
problem comes from this old PR:

https://github.com/scikit-learn/scikit-learn/pull/5133

basically we should now remove the "check_input=True" fit param from the objects now that we have the context manager to avoid slow checks.

see http://scikit-learn.org/stable/modules/generated/sklearn.config_context.html

[2018-01-31 19:16] agramfort commented on #10540
I don't think the diagnosis is correct. The problem is that if you pass check_input=True, you bypass the check_input call that is meant to make the copy of X

[2018-01-31 20:09] jnothman commented on #10562
It's sneaky that there's a difference between assert_allclose and assert
np.allclose too :\

This sounds reasonable, but as usual a PR would help make it clear!

[2018-01-31 21:48] jnothman commented on #10564
The documentation should be clearer that by "each class" in this case it means that each column will be scored in a multilabel problem. A PR to improve the documentation here and in `roc_auc_score` is welcome. Otherwise, I think this will be fixed in #9980 with the addition of a pos_label parameter.

[2018-01-31 21:55] jnothman commented on #10566
I don't think we're the right place to propose additions to liblinear! It's
not as simple as you seem to imply to modify liblinear to support it.
Liblinear uses specialised optimisation strategies for each of its solvers.
So you're really asking for a completely new optimisation implementation.
Unless there is a proof of concept, at a minimum, I'm inclined to close
this issue.

[2018-01-31 21:58] jnothman commented on #10548
You will need to understand the algorithms broadly, but not every detail of
their implementation. You will need to be able to find where random_state
is used, if the randomisation in the algorithm is not completely obvious.
In some cases, it may be appropriate to not even give much more detail than
just linking to the glossary; we'll have to see how it goes.

[2018-01-31 22:07] jnothman commented on #10555
@kkang2097 you didn't mention in your PR that it fixes this issue, so other users can't see that you've opened a PR. Also, your PR still needs work.

[2018-02-01 01:12] jnothman commented on #10446
Ah, this is what we need: https://github.com/clarkbw/probot-in-progress

[2018-02-01 01:19] kkang2097 commented on #10555
Hmm, okay. Is there any guides you can point me to for how to contribute to open source projects?

[2018-02-01 01:27] jnothman commented on #10446
Although it doesn't appear to have a hosted version, nor does it yet check explicitly for the "fixes" etc words :\

[2018-02-01 01:34] jnothman commented on #10555
http://scikit-learn.org/dev/developers/contributing.html

[2018-02-01 07:08] qinhanmin2014 opened #10570 "Circle CI deploy job fail on master"
It has been happening for two days (everything seems fine in PRs), see the failed builds for the 4 latest commits in master:
https://circleci.com/gh/scikit-learn/scikit-learn/17721
https://circleci.com/gh/scikit-learn/scikit-learn/17765
https://circleci.com/gh/scikit-learn/scikit-learn/17776
https://circleci.com/gh/scikit-learn/scikit-learn/17789
The error messages are the same:
[code]
We need to

[2018-02-01 07:13] qinhanmin2014 commented on #10550
Oops, I think @paulochf is right. According to the doc and previous commit, scikit-learn obtained the data from UCI Machine Learning Repository. UCI itself has claimed that their data is not right (See http://archive.ics.uci.edu/ml/datasets/Iris Data Set Information section). So it seems reasonable to correct the data in scikit-learn. WDYT? @jnothman

[2018-02-01 07:16] flaviozamponi commented on #8265
I'm sorry to intervene on a closed subject, but I have the same doubts of sergeyf and this discussion couldn't help me.
I try to explain it: If I use the `TfidfVectorizer` I'm interested in the results coming out of it. So I would expect that the `max_features=N` (with `N` not `None`) should give me the terms with the highest tfidf value and not "ordered by term frequency across the corpus" (citin

[2018-02-01 07:17] kienerj commented on #7242
I just wanted to add that this feature is extremely important out in the real-world where the model building process and the prediction process (exposed to users) often are completely separate.

The prediction process should not need to know about feature selection, feature order and so forth. It should just take all the features for the specific problem and the estimator knows which ones it needs

[2018-02-01 08:59] nicaogr commented on #10566
I didn't know that.
Thanks.

[2018-02-01 09:17] jnothman commented on #10550
If noting the error is sufficient for UCI, perhaps it is for us?

[2018-02-01 09:28] maykulkarni commented on #10493
I would like to take it up. I have an idea to fix this.

[2018-02-01 10:08] jnothman commented on #10570
Ah... and your restarts, even if successful, are not actually pushing to github: https://github.com/scikit-learn/scikit-learn.github.io/commits/master. (Maybe that's something we should look into. I was certainly deceived by the "build fixed" messages.)

[2018-02-01 10:30] jnothman commented on #10570
I think the breakage coincided roughly with me receiving two emails saying @yarikoptic added a public key to scikit-learn for CircleCI. Was this trying to set up some kind of regular wheel? I don't understand why it changed. The key we used to push docs is still there, but it seems to be shadowed by the new keys when SSHing into GitHub.

I'm a bit lost as to how we now select the correct key when

[2018-02-01 10:53] jnothman commented on #7242
I don't think your suggestion is going to happen.

Well, here are the options (not all mutually exclusive):

1. Deprecate implicit conversion of DataFrames to NumPy arrays; in the future, the user would have to call `.values` explicitly in the future
2. Document it: #10453 is up for grabs and your writing on the subject is fluent, @kienerj!
3. Call `df.sort_index(axis=1)` in the future (with a war

[2018-02-01 10:54] jnothman commented on #7242
I suppose, similarly, we could just add an option to Pipeline called "pandas_check" and avoid having the extra estimator...

[2018-02-01 11:43] martin-hahn opened #10571 "Shape of `coef_` wrong for linear_model.Lasso when using `fit_intercept=False`"
#### Description
Shape of `coef_` wrong for linear_model.Lasso when using `fit_intercept=False`

#### Steps/Code to Reproduce
Example:

[code]

[code]

#### Expected Results
the second snippet should not raise, but it does. The first snippet is ok. I pasted it as a reference

#### Actual Results
[code]

#### Versions
Linux-3.2.0-4-amd64-x86_64-with-debian-7.11
('Python', '2.7.3 (default, Mar 13 20

[2018-02-01 13:26] jnothman commented on #2089
But I suppose the suggestion is that we should have a test for all our estimators that they don't explode with all-zero columns...

[2018-02-01 14:21] nicaogr commented on #10566
Do you know where it is possible to suggest feature for scikit learn ?

[2018-02-01 14:32] qinhanmin2014 commented on #10570
Another detail which might be useful when diagnosing the problem (kindly forgive if not make sense since I can't completely understand the difference between the following two ways):
When trying to rerun the build, if we use 'rebuild', then the deploy build will still fail
See https://circleci.com/gh/scikit-learn/scikit-learn/17766
We have to use 'rebuild with SSH' to pass the deploy build
See htt

[2018-02-01 14:41] jnothman commented on #10570
If by "to pass" you mean "to skip". See the bottom of build 17767

On 2 February 2018 at 01:32, Hanmin Qin <notifications@github.com> wrote:

[2018-02-01 14:42] jnothman commented on #10566
Here...?

[2018-02-01 14:51] XunOuyang commented on #10571
Hi, Jnothman, I am new to this community, may I try this one? @jnothman

[2018-02-01 15:08] qinhanmin2014 commented on #10570
Oops, sorry for my foolishness (surprising that rebuild with SSH actually skip the build?). I've updated the title accordingly.

[2018-02-01 15:26] qinhanmin2014 commented on #10550
@jnothman A note is accpetable from my side but I might prefer to correct the data. Some (or maybe many?) materials are using the word 'error' to describe the difference. See e.g.
http://archive.ics.uci.edu/ml/datasets/Iris
http://pdfs.semanticscholar.org/1c27/e59992d483892274fd27ba1d8e19bbfb5d46.pdf
Since iris is widely used, correcting the data might influence some examples and many people's cod

[2018-02-01 16:00] nicaogr commented on #10566
Ok thanks 😅😆 I misunderstood your last message. I believed that it wasn't the right place to do feature request in addition to the fact that the one I asked was too complicated.

[2018-02-01 16:00] #10566 closed

[2018-02-01 16:26] jorisvandenbossche commented on #10521
Yes indeed (in practice it will more or less be the same)

I personally would already as much as possible provide the attributes of the new interface, even in legacy mode. So in both case I would calculate `categories_` (even if it would be a bit more work)

---

So I tried to put the above logic in code (will push some updates to the PR), and I have one more question for the case of integer data

[2018-02-01 16:39] jorisvandenbossche commented on #10521
Hmm, one case I forgot is when you have integer inferred categories that are *not* consecutive (let's say [1,3,5]), but you want the new behaviour and not legacy behaviour (so in that case you cannot just ignore the warning, as that would handle unseen values differently in the transform step, i.e. values in between the range (eg 2) will not raise an error).
In case we don't provide the `legacy_mo

[2018-02-01 19:52] paulochf commented on #10550
Adding to @qinhanmin2014 : sometimes people write a code using iris using different languages and compare the results. Maybe fixing would give some consistency and reproducibility.

[2018-02-01 20:02] rsivapr commented on #10555
For the record: there is a WIP PR for this issue here: https://github.com/scikit-learn/scikit-learn/pull/10560

[2018-02-01 20:49] jnothman commented on #10571
Sure, if you understand the problem: add a test, fix it, and open a pull
request.

[2018-02-01 20:54] jnothman commented on #10566
This is the right place to do a feature request... but I don't think that this is the kind of feature request that someone will readily take up, or that the maintainers are especially keen to see. I might be wrong, though.

[2018-02-01 21:01] jnothman commented on #10521
We're only talking about the case where n_values is unset, right?

I'm fine with 1., and it would not be any more expensive, since auto
already needs to examine the set of labels. I could also accept, for
simplicity, a variant of 3. that was just "OneHotEncoder running in legacy
mode. Set categories='auto' for slightly different behaviour without a
warning."

[2018-02-01 21:36] GaelVaroquaux commented on #10550
Well, the cost is that many tutorials / stackoverflow Q/A answer will change. So, that's a drawback.

On the other hand, it seems that the change is quite small, so I would guess that if a tutorial or example depends on this, it's a bad anyhow :).

I am +0 on this.

[2018-02-01 21:38] jnothman commented on #10521
Yes, but only if we want to warn every time someone uses it without passing
categories. It's the cheap implementation approach, but it might be
unnecessarily verbose for the users, which is why I would prefer 1 if it
can be done simply.

[2018-02-01 21:39] jnothman commented on #10550
+0 is about how I feel too. So far no one is agitating to keep it, so we
could just change and move on!

[2018-02-01 21:54] kkang2097 commented on #10555
Update: I already made the new description .rst file for the dataset, I just need to request a change to the index.rst file adding a reference to my proposed california_housing.rst file. Sorry, pretty hung up with classes / interviews right now. Will finish by the end of this week.

[2018-02-01 22:14] amarthey commented on #9113
+1! Would be great to have this feature.
Any update on it ?

[2018-02-02 05:49] jnothman commented on #10571
lasso and elasticnet share an underlying implementation. no need to create
a second issue, but the pr should fix both

On 2 Feb 2018 2:47 pm, "XunOuyang" <notifications@github.com> wrote:

[2018-02-02 06:14] kkang2097 commented on #10555
Update 2: So in my pull request I updated the index.rst to include the California Housing dataset. But in the last line of the .rst file I wrote :add: /sklearn/datasets/descr/california_housing.rst, which is the location I want to add my proposed new description. Do I need to put in a second pull request? I mean, how do I propose modifying/adding 2 files in a single pull request?

[2018-02-02 08:00] oxinabox opened #10573 "In macro-averaged multiclass precision, and recall, the default set of labels should come only from the target outputs (y_true) not from the predicted outputs (y_pred)"
#### Description
In macro-averaged multiclass precision, and recall, the default set of labels should come only from the target outputs (y_true) not from the predicted outputs (y_pred).

The target outputs come from the test set.
I believe it is a solid assumption is that the classes we are interested in (at all) are the classes present in the the test set.
We don't want to average over classes th

[2018-02-02 14:11] lesteve commented on #10570
Not sure what is happening to be entirely honest. The thing I am confused about is that the ssh key should be for scikit-learn/scikit-learn.github.io and not for scikit-learn/scikit-learn so I am not sure whether the duplicated CircleCI key added by @yarikoptic is the issue here ...

I would think that the problem is with sklearn-ci, which is the user that pushes the doc. Maybe something has chang

[2018-02-02 15:43] rsivapr commented on #10555
Hi @kkang2097, Not sure I completely understand your questions.

No. You should keep all your changes in one PR.

If you haven't used git before, you can learn the basics here : https://try.github.io/
Or use Github Desktop if you don't want to use the command line https://desktop.github.com/

[2018-02-02 16:26] rotuna commented on #10309
Could I please try to work on this, if it's open to be worked on?

[2018-02-02 17:09] prernaa commented on #9603
Has anyone figured out a way to fix this?

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-18-37dd9f9aef1b> in <module>()
      1 # call main
      2 if __name__ == '__main__':
----> 3     main()

<ipython-input-17-b16299118f56> in main()
     66             selParamsDict = {"alph

[2018-02-02 17:51] lesteve commented on #10570
So I looked at this a bit more, here is where I am at:
* only one ssh-key is picked up by CircleCI. For some reason the key that is picked up does not correspond to any of the keys in github or CircleCI (I can not check sklearn-ci ssh key but I am guessing that it has not changed recently). Look at [this log](https://circleci.com/gh/scikit-learn/scikit-learn/17876) and the `ssh-add -l` results in

[2018-02-02 18:14] NarineK commented on #10175
@jnothman , @amueller have you had time to take a look into my pull request?

[2018-02-02 21:55] carlomazzaferro opened #10579 "ImportError: cannot import name 'CategoricalEncoder'"
As simple as that. See below for system info. Tried uninstalling and re-installing package. CategoricalEncoder is nowhere to be found in the pip-distributed package
#### Steps/Code to Reproduce
Example:
[code]
#### Versions
[code]

The `__init__.py` in `sklearn.preprocessing` looks like this, which shows CategoricalEncoder is not included/implemented

[code]

[2018-02-02 22:04] carlomazzaferro commented on #10579
`pip install git+git://github.com/scikit-learn/scikit-learn.git` solves this but would love to know if there is an explanation for this!

[2018-02-02 23:51] ericpromislow commented on #8236
Here's a repro:

[2018-02-03 01:48] maskani-moh commented on #10579
@carlomazzaferro
The `CategoricalEncoder` class has been introduced recently and will only be released in version `0.20`.
So if you install scikit-learn directly from the git repository you'll have it, otherwise, you'll have to wait for the next release! 😄

You can have a look at the features that will be added in next release: [here](https://github.com/scikit-learn/scikit-learn/blob/master/doc/wh

[2018-02-03 02:06] carlomazzaferro commented on #10579
Thanks for clarifying!

[2018-02-03 02:06] #10579 closed

[2018-02-03 03:18] shivamriky commented on #10548
Okay, thank you. I will start going through the algorithms slowly.

Regards,
Shivam Rastogi

[2018-02-03 06:23] interactivetech commented on #8730
+1

[2018-02-03 11:20] jnothman opened #10580 "hamming_loss should not have a labels parameter"
hamming_loss only uses `labels` in the case where the input is multilabel. Then, it only uses the number of labels, which is identical to `y_true.shape[1]`. So it's completely unnecessary.

I think we should either:
* deprecate and remove it. (My preference)
* allow it to specify a subset of labels to evaluate over, and note that it is only used in the multilabel case

[2018-02-03 11:27] jnothman commented on #10573
Firstly, I agree with the general underlying principle that we need to be assisting the user towards best practices. (Although some have argued that F1 for classification tasks is never best practice, and I tend to agree, let's leave that alone for now; the issue applies to recall alone, which everyone agrees is a good thing to measure.)

I also agree with you that in an ideal world, we would not

[2018-02-03 11:31] jnothman commented on #10570
The key under "[SSH Permissions](https://circleci.com/gh/scikit-learn/scikit-learn/edit#ssh)" is the one for sklearn-ci. The one under [checkout](https://circleci.com/gh/scikit-learn/scikit-learn/edit#checkout) is @yarikoptic's key for the repo. (..?)

[2018-02-03 11:33] jnothman commented on #10579
It's also very possible that CategoricalEncoder will disappear again before
the next release (see #10521)

On 3 February 2018 at 13:06, Carlo Mazzaferro <notifications@github.com>
wrote:

[2018-02-03 12:06] jnothman commented on #10309
@oasis789, if you have not started work sufficiently, perhaps you should say so and let someone else take it...?

[2018-02-03 12:36] jnothman commented on #10175
Sorry, I'm not sure how this flew under my radar. Will try take a look soon.

[2018-02-03 12:45] jnothman commented on #8236
Thanks @ericpromislow. Could you please give us your platform details and `np.show_config()`?

[2018-02-03 14:19] yarikoptic commented on #10570
Did I? Jeez, sorry. I only remember an afternoon where I went to circle to add one of the conda forge repos to my view, and circle ci listing everything I had access to (which are a few) but I didn't do any explicit selection of scikit learn. I am afraid now that more repositories are affected. Is there anything I have to do, or you guys could just prune my key there to fix the situation. Sorry ag

[2018-02-03 14:51] qmick commented on #10580
Can I take this?

[2018-02-03 16:21] ymazari commented on #10540
Thanks for the additional clarifications @agramfort . Could you please  help reviewing [the PR](https://github.com/scikit-learn/scikit-learn/pull/10581)?

[2018-02-03 20:09] jnothman commented on #10570
I suspected it was not intentional, and we probably should have checked up
on it regardless of breakage. yes, check other projects just in case..  you
have an unusually powerful GitHub account!

We'll work it out somehow...

[2018-02-03 20:40] jnothman commented on #10580
I think so

[2018-02-03 22:37] jnothman commented on #10570
Removing the deploy key worked for now. We might want to investigate if we need a deploy key for something and can use both that and the user key for sklearn-ci

[2018-02-03 22:37] #10570 closed

[2018-02-03 23:07] oasis789 commented on #10309
Currently working on this. Should have a PR open soon.

[2018-02-04 03:11] yarikoptic commented on #10570
Thanks @jnothman for the fix, and sorry for the trouble!

[2018-02-04 04:40] garciaev commented on #5956
The problem still seems to exist on 24 core Ubuntu processor for RLasso with n_jobs = -1 and sklearn 0.19.1

[2018-02-04 06:57] qmick commented on #10580
Should we remove `classes` parameter at the same time? Since it is deprecated since 0.18 and will be removed in 0.20.

[2018-02-04 08:52] jnothman commented on #10580
I think there is already a PR to do so... Don't worry about it here.

[2018-02-04 09:14] jnothman commented on #5481
I think we need to call this one a blocker and make a point of fixing it... I'm not sure I'm as optimistic as @arthurmensch about how easy they are to fix... I think it would be good to see an example of one fixed, so that contributors can follow suit on others.

[2018-02-04 09:14] jnothman commented on #5481
I also think we should try to merge #4807 and make solving this a matter of removing estimators from a list of those failing...

[2018-02-04 11:12] oasis789 commented on #10309
I've opened a PR for this issue https://github.com/scikit-learn/scikit-learn/pull/10583

Please have a look

[2018-02-04 12:42] gxyd commented on #9113
@lucasgreene I've a WIP PR (still has quite a bit of work remaining to
be done), if you don't intend to work on this, I can send in a PR.

[2018-02-04 14:42] lorentzenchr opened #10584 "Improve documentation: consistent scoring functions"
#### Abstract
Improve the documentation [3.3. Model Evaluation](http://scikit-learn.org/stable/modules/model_evaluation.html). Give advice to use strictly proper scoring functions.

#### Explanation
The documentation of scikit-learn is amazing and a strong argument for usage (and fame). I think that one could get a bit lost by choosing _the right_ scoring function or metric out of the many options

[2018-02-04 20:32] Hang91 opened #10585 "sklearn.feature_selection.mutual_info_classfi error when y only have two samples"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

The result should be different when index = 0 and index = 1 according to the definition of mutual information
#### Actual Results

result = array([ 0.69314718,  0.69314718,  0.        ])
I changed the number in X many times, but it wouldn't influence the result.
#### Versions

[2018-02-04 21:32] jnothman commented on #10584
interesting. I'll need to read up more on these topics, but perhaps you'd
like to propose something more specific. One option is a "which metric
should I use?" section of the user guide, another is advantages and
disadvantages sections under each metric as we have for classification. The
advantage of the former is that it is straightforward to use, and makes
clear what questions are involved in th

[2018-02-04 22:03] jnothman commented on #10585
Your code is not runnable: it has an indentation SyntaxError.

And your expected results are not clear.  I don't know what you mean by index = 0 and index = 1.

Please clarify.

[2018-02-04 22:10] jnothman commented on #9113
I would've thought you'd start by implementing `sample_weight` support, multiplying sample-wise loss by the corresponding weight in `_backprop` and then using standard helpers to handle `class_weight` to `sample_weight` conversion. Of course, testing may not be straightforward, but generally with `sample_weight` you might want to test `is_same_model(est.fit(X, y, sample_weight=sample_weight), est.

[2018-02-04 22:46] jnothman commented on #10584
Without yet understanding any of the theory you refer to, we may need to be
clear on "the mean of what" when we say "strictly consistent for the mean".
In cross validation we care about the mean score over validation sets, not
over samples in each validation set. A measure like recall (or balanced
accuracy or AUROC) effectively weights positive and negative samples
differently (note rand accuracy

[2018-02-05 05:51] oxinabox commented on #10573
While it is off-topic, I'm pretty interested in this, do you have any links?
The more I was thinking about the problem the more I thought something felt wrong about using this for my problem.

It isn't even only for the case of labels from training that are not from test.
There are other cases, for example in my own case, I have an information extraction-ish problem,
that the output labels could b

[2018-02-05 06:08] jnothman commented on #10573
that the output labels could be from an infinite set of possibilities.

This sounds like a retrieval-like IE problem, as opposed to say NER where the number of possible phrases are quadratic in the length of the text, but the number of labels is few. I would not use macro-average for this, unless it's only a macro-average of recall. It gives too much weight to rare classes. Scikit-learn's metrics

[2018-02-05 06:08] jnothman commented on #10573
that the output labels could be from an infinite set of possibilities.

This sounds like a retrieval-like IE problem, as opposed to say NER where the number of possible phrases are quadratic in the length of the text, but the number of labels is few. I would not use macro-average for this, unless it's only a macro-average of recall. It gives too much weight to rare classes. Scikit-learn's metrics

[2018-02-05 07:54] rotuna commented on #10550
Could I try to do this?

[2018-02-05 08:42] kkang2097 commented on #10555
Update: Have finished, and uploaded a pull request.

[2018-02-05 12:01] raphaelcampos opened #10589 "Weighted Feature sampling in Random Forests"
Hello Scikit Comunity,

In order to validate one of my hypothesis, I want the Random Forest to be able to draw the candidate features for split using weight sampling without replacement.

I wonder whether I only need to change the function on the following line:
https://github.com/scikit-learn/scikit-learn/blob/6919a22c8023f4c2f30849c7ce05de745b6d6c1a/sklearn/tree/_splitter.pyx#L1287, and permutat

[2018-02-05 12:59] jnothman commented on #10589
You should probably be asking this on the mailing list or similar. It is
not an issue with the software. However: That line only applies to
BestSparseSplitter. You will need to find a way to pass the weight in, and
to manage selection without replacement.

[2018-02-05 12:59] #10589 closed

[2018-02-05 13:56] vivekk-ezdi opened #10590 "Regarding usage of datetime64[ns] dtype in forests"
This question is related to [this stackoverflow question](https://stackoverflow.com/questions/35439723/using-pandas-timestamp-with-scikit-learn)

Why is that the some estimators are allowed to work with numpy datetime64[ns] ? Is it proper usage? If yes, then how are the calculations done internally for that column?

#### Steps/Code to Reproduce
[code]

#### Versions
Linux-3.16.0-77-generic-x86_64-

[2018-02-05 15:04] qinhanmin2014 commented on #10550
@rotuna Feel free to have a try :) You also need to take care of relevant docs/tests/examples after correcting the dataset.

[2018-02-05 15:24] raphaelcampos commented on #10589
Thanks for replying!

I will try out other channels.

[2018-02-05 17:12] amueller commented on #8501
We forgot one:
http://scikit-learn.org/dev/auto_examples/svm/plot_svm_margin.html#sphx-glr-auto-examples-svm-plot-svm-margin-py

[2018-02-05 19:57] #8693 closed

[2018-02-05 21:41] jnothman commented on #10590
I expect they are treated as if you did .astype(float)

[2018-02-05 22:19] rth commented on #10590
I would have expected that `check_array` would cast to float, but it doesn't,
[code]
and even if it did,
[code]
having features of the order of 10¹⁸ is probably not a good thing numerically.

Also from the above linked [SO question](https://stackoverflow.com/q/35439723/1791279),

Maybe it could be worth raising a warning or an error if datetime dtype is detected, suggesting to convert to float man

[2018-02-05 22:36] farfan92 commented on #2879
@amueller Trying your solution when using RandomizedSearchCV, with a RandomForestClassifier.

Attempting to pass: `fit_params ={'sample_weight':s_weights}`
to the .fit method of RandomizedSearchCV results in

`TypeError: fit() got an unexpected keyword argument 'fit_params'`

But will still manage to run with the deprecation warning when passed to the constructor instead.

[2018-02-05 22:37] jnothman commented on #10590
yes, I wondered if this was related to the string handling. Passed to a
scaler, large floats should be fine. Should also be fine in a random
forest. I don't mind using them as floats.

[2018-02-05 22:38] jnothman commented on #2879
just pass keyword arguments to fit these days

[2018-02-05 22:49] farfan92 commented on #2879
I see, should have more closely looked at doc

[2018-02-05 22:57] amueller commented on #2888
I really would like to have a simple and intuitive way to handle the default case.
I don't think

[code]

is simple or intuitive.

[2018-02-05 23:20] rth commented on #10590
In a scaler sure, but about all the other estimators? Currently only ~30% of estimators don't fail with datatype input (not that it makes sense to use them with time series). Adapting @vivekk-ezdi example see detailed log [here](https://gist.github.com/rth/8baae10bec5b353437cb2bac7aaf47c4#file-sklearn_datetime_input_validation-py).

In particular, for `LinearRegression`, `fit` will work but `predi

[2018-02-05 23:45] jnothman commented on #10590
I don't think it's a problem to force the user to change the dtype, for now
at least, if the current handling is not sensible at all.

[2018-02-06 07:00] dubingchao opened #10592 "which moudle to use?"
#### Description

hi,i am a fresh in scikit-learner.i am looking for a solution on monitor my data line's changing.normally,the line is healthy,but when it goes wrong,i wonder if i can use scikit-learn to deal with it,by training my model with healthy data,and find when the system went wrong by distinct the different data then inform me to handle it.looking forwarding some guide.thanks very very m

[2018-02-06 07:37] jnothman commented on #10592
Perhaps our library will help, but this is the wrong place to ask. This tracks issues in the software.

[2018-02-06 07:37] #10592 closed

[2018-02-06 07:47] dubingchao commented on #10592
sorry about that,is there some place for communications?Could you send me a url,or anything about this? much appreciate!

[2018-02-06 08:44] PranayMukherjee commented on #10550
@qinhanmin2014  could you elaborate on the relevant docs/tests/examples . Actually , I am totally new to the open source community

[2018-02-06 09:18] gxyd commented on #10550
I think what @qinhanmin2014 meant was that when you do change the iris dataset values (as expected from the issue fixing), you'll possibly expect the output of quite a few docs, tests and examples (those which make use of iris dataset) to actually fail. As an example, the iris dataset will have a different standard deviation so (possibly) different output from fitting on a classifier.

So to refle

[2018-02-06 09:58] qinhanmin2014 commented on #10550
@rotuna @PranayMukherjee See above comments. You need to take care of every place which uses the iris dataset (one possible way is to use something like `git grep`). @PranayMukherjee since @rotuna has taken the issue, please wait for a couple of days or ask whether he's still on the issue.

[2018-02-06 13:28] dkobak opened #10594 "Elastic net path() is very slow, much slower than running fit() in a loop"
Path computation via `path()` in `ElasticNet()` is supposed to be faster than running `fit()` in a loop for each individual value of alpha. However, it is MUCH slower. For comparison, `glmnet` is approximately as fast when run in a loop, but computes path much faster as expected.

[code]

This outputs

[code]

[2018-02-06 13:34] jnothman commented on #10550
I'd say the easy way is to make the change, then look at the test logs to
work out what needs fixing up...

On 6 February 2018 at 20:58, Hanmin Qin <notifications@github.com> wrote:

[2018-02-06 13:39] jnothman commented on #10594
Curious. What is ElasticNet.path? I don't see it in our API.

[2018-02-06 13:41] dkobak commented on #10594
@jnothman I don't know but it's listed under "Methods" in http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.ElasticNet.html.

[2018-02-06 15:54] stevendbrown commented on #556
`DecisionTreeClassifier` still seems to have trouble with strings as labels as of commit 0788cd0 when  `n_outputs` > 1. That is, I can call `fit` without any errors, but on calling `predict`, I get `ValueError: could not convert string to float`. (When n_outputs == 1, using strings as labels is A-OK.)

Is there an already-well-accepted fix for this problem? This seems like a well-worn path and I'd

[2018-02-06 16:51] amueller commented on #10215
Sorry I'm not monitoring the issue tracker. If you want to meet, I can be reached by email.
It sounds to me like there is agreement and what to do, with the only thing that's left open being:

components

That's the freezing estimators question, right?

[2018-02-06 16:53] Ghostvv opened #10595 "Error thrown `TypeError: '<' not supported between instances of 'NoneType' and 'str'` in python 3.6 when `metrics.accuracy_score(["1", "2", "2"], ["1", "2", None])` is called"
#### Description
 Error thrown `TypeError: '<' not supported between instances of 'NoneType' and 'str'` in python 3.6 when `metrics.accuracy_score(["1", "2", "2"], ["1", "2", None])` is called

#### Steps/Code to Reproduce
[code]

#### Expected Results

 0.66666666666666663

#### Actual Results

TypeError                                 Traceback (most recent call last)
<ipython-input-137-a915ce36

[2018-02-06 17:32] Celelibi opened #10596 "warm_start for LogisticRegression doesn't work between fit calls"
#### Description
When using `linear_model.LogisticRegression` with `warm_start=True` and `solver='saga'`, calling `fit` twice with the same input restart the computation from scratch.

My use-case is that my dataset is a bit large and convergence is slow. Therefore, I would like to perform a first fit on a small subset of the data before fitting on the whole data.

Looking at the code, I think the

[2018-02-06 18:56] amueller commented on #2888
Btw, this is how people deal with this in practice right now:

https://github.com/openml/Study-14/blob/master/Python/openmlstudy14/preprocessing.py#L15

This is an imputer that does median or mean on continuous and most frequent on categorical.
This seems a bit magic for sklearn given that we operate on numpy arrays and can't really determine dtype well.

I guess it's not possible to actually solv

[2018-02-06 19:03] amueller commented on #2888
Maybe I just want to add
[code]
as a helper class, maybe with some simple parametrization of the scaling and the continuous imputation method?

[2018-02-06 21:42] jnothman commented on #10594
Oh, so it is. I wasn't aware of it! I see now why my grep didn't find it
either.

[2018-02-06 22:06] jnothman commented on #556
I don't think the case of multiple classification outputs, especially with
not integer labels, is especially well supported across the library.
Certainly the way it's erroring here is unpleasant. Please open a new
issue. I'm not sure whether we want to solve this generically with common
tests.

[2018-02-06 22:12] jnothman commented on #10215
It's not the freezing estimators thing necessarily. In some cases you just
need an interface to get a subset of an existing pipeline. Freezing
estimators would handle this case in a convoluted way, and also work in a
setting where the pipeline is cloned

[2018-02-06 22:26] jnothman commented on #10595
I don't think we claim to support None as a class, or a mix of types. I can't see this as a priority to fix, though in theory we could support arbitrary hashable objects. I think we also might be best off explicitly not supporting some objects, like None, in order to reserve them for potential future use.

[2018-02-06 23:11] jnothman commented on #10596
Thanks for the report. Your analysis looks like it might be correct. We're not currently passing `warm_start_sag` out of `logistic_regression_path` so a fix might get a little hairy :\

Ping @TomDLT

[2018-02-06 23:14] jnothman commented on #2888
Yes, and with column transformer able to take a function as the column specifier so you don't need to specify your column sets up front. This sort of sounds like it belongs in some sklearn-building-blocks library rather than the core library, but I see why you'd want it here. From a "everything is an array" traditional scikit-learn perpsective, it looks like automl magic. From an R "everything is

[2018-02-07 00:54] dubingchao commented on #10592
it's very nice of you.i have got a book to read,thanks for the help.have a nice day!

[2018-02-07 00:58] rotuna commented on #10550
Hi, I'm just trying to figure out how to do this. @PranayMukherjee I'll reach out to you in case I'm not able to do this and let you take over. I'm very new to this too, so I'll need some time to try :)

[2018-02-07 02:26] paulochf commented on #10550
Please correct me if I'm wrong: @rotuna, I guess @jnothman said you have to change the values in iris data, then run the test suite (`$ pytest sklearn`) to see which parts will use the data.

[2018-02-07 02:29] jnothman commented on #10550
My suggestion was more that the uses of Iris are many... Sometimes it is used to assert general properties of an algorithm, and the specific values produced by that algorithm run over Iris are not tested. These tests do not need to be changed. Only those where specific data-dependent values are tested will need to be changed.

[2018-02-07 04:31] jnothman commented on #10594
At first I thought you were correct for n_features >> n_samples, but now I believe your sample size is also not big enough for enet_path to be efficient. I don't know the code that well, and have not looked into why this might be the case. It might just be something like that with completely random features, descent on each coordinate is dominated by noise, and with a small number of samples, the

[2018-02-07 05:09] jnothman commented on #10594
My benchmark results:

<details>
[code]
</details>

Time increase relative to cold looping:
[code]

[2018-02-07 05:10] #10594 closed

[2018-02-07 05:11] jnothman commented on #10594
That clearly shows that your benchmark is in an outlying case.

[2018-02-07 05:19] jnothman commented on #10594
(I am surprised by how poorly `warm_start` is doing. It basically doesn't seem to be working.

And I've just noticed a bug in my benchmark; I set `precomputed` instead of `precompute`. I'll try update when new benchmarks are ready.)

[2018-02-07 05:24] jnothman opened #10598 "enet_path does not pass params to coordinate descent solver"
`params` parameter to `enet_path` is documented as "keyword arguments passed to the coordinate descent solver." Rather they are processed in `enet_path` and not directly passed anywhere. Thus currently one can pass arbitrary keyword arguments to `enet_path` without error (for instance I accidentally set `precomputed=True` instead of `precompute=True`).

We definitely need to raise an error when un

[2018-02-07 07:51] jnothman commented on #10594
Updated. Results are basically the same except that precomputed=True is never better for this data than False. Also, cold and warm start improve with fortran-contiguous X.

[2018-02-07 08:00] jnothman commented on #10594
Argh. At some point I've got results where precomputed is better than not. Shrug. I think everything is in working order.

[2018-02-07 08:02] dkobak commented on #10594
@jnothman Interesting. I must have said that I observed this problem in my real data (that have the same dimensions as in my initial example with random X and y), and my real data are not pure noise: I can get decent prediction of y in cross-validation.

Given that in my specific case (n=44, p=3000) `glmnet` performs MUCH faster than sklearn (more than 20x speedup), I will just have to abandon skl

[2018-02-07 08:32] Ghostvv commented on #10595
Thanks for the answer. Just wanted to mention that it works in python 2.7

[2018-02-07 09:00] jnothman commented on #10594
If your real problem is that size, I find it hard to understand why runtime
is a concern. All the numbers you reported are tiny. We don't tend to worry
about optimising efficiency for fitting small datasets.

[2018-02-07 09:09] dkobak commented on #10594
@jnothman Well, I am doing 100x repeated 10-fold cross-validation, so I am computing the whole path  1k times. This was enough for me to notice that something strange going on: `glmnet` was clearly much faster than `sklearn`, so I started investigating.

I agree it's still not too bad, even with 1k repetitions. Perhaps you are right and it's not worth fixing. Still a curious issue.

It might be wo

[2018-02-07 09:19] jnothman commented on #10595
yes, I expect it would. One change between python 2 and 3 was to make it
harder to treat different types as comparable etc

[2018-02-07 10:00] Lavishag opened #10599 "ValueError"
% len(cls))

ValueError: The number of classes has to be greater than one; got 1

[2018-02-07 10:27] glemaitre commented on #10599
Can you provide a stand-alone script to reproduce the problem ? Please read https://stackoverflow.com/help/mcve.
Also for future reference, can you paste the output of:

[code]

[2018-02-07 10:29] rotuna commented on #10550
I changed the values and found that so far only the graph_lasso part has failed. I'm the trying to find the actual values from R so that the test can compare it with sklearn's values (which is what I think the test was intended for).

I'm also running the scripts from the examples which have "load_iris" in them to check if something is changing. I'm guessing this would work for the docs too?

[2018-02-07 10:47] TomDLT commented on #10596
SAG(A) is an algorithm which computes the gradient of each sample in a stochastic way, as SGD.
But while SGD performs one step in this one-sample gradient direction, SAG(A) adds the one-sample gradient to an accumulator, which averages the gradient of all other seen samples. This acts as a momentum which speed up convergence.

More precisely, the one-sample gradient is not simply added to the accu

[2018-02-07 10:50] TomDLT commented on #10596
For a finer use of warm-starting in SAG(A), you can also use directly the function:
[code]

[2018-02-07 10:51] jnothman commented on #10594
Warm start is slower only due to repeated validation. If the data is
Fortran contiguous, fit_intercept is False, and if scikit-learn is
configured to assume data is finite, and not check, then the overhead per
fit becomes negligible.

[2018-02-07 11:22] jorisvandenbossche commented on #2888
I think with the introduction of a ColumnTransformer (with explicit support for pandas DataFrames), we relax this requirement to "every input is considered a single dtyped array, except for ColumnTransformer" where then each individual transformer in the ColumnTransformer again works like everything else and considers the (subsetted) input as a single dtype array. And also the output of the Column

[2018-02-07 11:36] jnothman commented on #10594
Relative increase in time of glmnet against our enet_path, with fit_intercept=False (in both cases), and fortran contiguous input:
[code]
It actually looks like glmnet is taking a lot longer on n_features > n_samples...? I'm not using glmnet-python (which I failed to easily install), but the glmnet package which provides a scikit-learn like interface.

[2018-02-07 11:48] dkobak commented on #10594
Thanks. This is more confusing than I expected it to be...

For what it's worth, I installed `glmnet_python` using `pip install glmnet_py` as recommended here https://github.com/bbalasub1/glmnet_python and it worked out of the box... I know there are other Python wrappers of the same Fortran code but I haven't tested those.

By the way, I cannot reproduce your initial benchmark conclusions using p

[2018-02-07 12:32] jnothman commented on #10594
I did test with random noise as well. I found there was a big caching
effect in the benchmark. I.e. the faster one is the first one, whichever
way you order it. That's why I preceded my benchmarks with a burn-in for
the cache. This is probably the case because the data is small and so fits
in fast memory, but also leads to small times, exaggerating negligible
differences.

On 7 February 2018 at 22

[2018-02-07 12:38] dkobak commented on #10594
@jnothman I don't understand: in my code posted in the previous comment the *second* approach is faster. Also, if I increase n to 50k and p to 500 (not a very small dataset anymore), then I obtain 7.5 seconds with sklearn either way (path or separate cold starts) whereas `glmnet` computes the path in 1s.

[2018-02-07 12:46] jnothman commented on #10594
Sorry, I said the wrong thing. The first is slower.

I don't get as drastic a difference as that:

[code]
produces
[code]

But I need to end this conversation from my side. Yes, our implementation may be slower. If you have any solutions to this, please submit a PR.

[2018-02-07 12:47] dkobak commented on #10594
@jnothman Thanks for your help!

[2018-02-07 12:48] jnothman opened #10600 "Automatically force_all_finite=False in non-initial warm_start runs"
For estimators that have a `warm_start` option, we generally expect that the same data is passed in for each call to `fit` as was done in the first. I think we can save a little on runtime by using `check_array` with `force_all_finite=False` in the case that `warm_start=True` and the model has already been fitted.

[2018-02-07 12:54] #10554 closed

[2018-02-07 13:00] jnothman commented on #10550
A lot of the failures could be in doctests.  So make sure pytest is
configured to run them. If you submit a PR (with [doc build] in the commit
message) you can check the error log and the rendered examples quite easily.

[2018-02-07 14:01] EBEJ commented on #10599
Windows-10-10.0.16299-SP0
Python 3.5.2 (v3.5.2:4def2a2901a5, Jun 25 2016, 22:18:55) [MSC v.1900 64 bit (AMD64)]
NumPy 1.14.0
SciPy 1.0.0
Scikit-Learn 0.19.1

[2018-02-07 14:02] EBEJ commented on #10599
i have to same problem

[2018-02-07 14:07] glemaitre commented on #10599
Can you provide a stand-alone script to reproduce the problem ? Please read https://stackoverflow.com/help/mcve.

[2018-02-07 14:22] glemaitre commented on #10599
Anyway, `ValueError: The number of classes has to be greater than one; got 1` should indicate that `y` has only one class at `fit`.

[2018-02-07 16:00] agramfort commented on #10550
I am also +0 on this. It's a lot of changes, work, review time for little gain.

[2018-02-07 16:58] amueller commented on #10521
What fresh hell is this :-/

[2018-02-07 17:01] amueller commented on #10521
OR we could name the new one ``DummyEncoder`` ;)

[2018-02-07 17:01] jorisvandenbossche commented on #10521
@amueller Don't read all of the above!
I was just planning to make a nice summary for new readers of the issue. The above discussion is overly complicated (also because I was still not fully understanding the current complex behaviour of OneHotEncoder ... :-))

[2018-02-07 17:03] jorisvandenbossche commented on #10521
I think @GaelVaroquaux was against that because "one-hot" is known to be this in more fields (and we already use 'Dummy' for other things in scikit-learn ...)

[2018-02-07 17:03] amueller commented on #10521
Redoing this for consistency in naming is not worth it imho. We are not consistent in naming anywhere. Could you summarize the discussions that lead to this?