[2020-10-19 13:33] sarajcev opened #18642 "Feature request: Unify parameter names of MultiOutputRegressor and RegressorChain classes"
**Feature request**: Unifying the parameter names of `MultiOutputRegressor` and `RegressorChain` classes.

Currently, `MultiOutputRegressor` and `RegressorChain` classes use different name for the *underlying* base estimator. The `RegressorChain` uses the name `base_estimator` while the `MultiOutputRegressor` uses the name `estimator` for the same thing. This can lead to confusion at times. It wou

[2020-10-19 14:11] cmarmo commented on #18083
@andins, sorry for the late reply.
Please provide a [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Otherwise the issue will be difficult to investigate. Thanks!

[2020-10-19 14:16] cmarmo commented on #18087
@carlosg-m, is the suggested solution fixing your issue? May I close it? Thanks!

[2020-10-19 14:29] cmarmo commented on #18153
Hi @madhuracj , thanks for having a look at this issue. Are you interested in updating the documentation? Otherwise I will put the issue in the "Help Wanted" pool. Thanks!

[2020-10-19 14:33] cmarmo commented on #18184
Hi @kahveciderin , here is the link to [miniforge](https://github.com/conda-forge/miniforge#readme).
I'm closing this issue. Feel free to open a new one if with updated information if miniforge still gives you installation problems.

[2020-10-19 14:33] #18184 closed

[2020-10-19 14:37] cmarmo commented on #18201
Hi @mlaszczynska, thanks for reaching out. I'm closing this issue as this is the expected behavior and there is no bug here. Feel free to continue the general discussion about performances on [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2020-10-19 14:37] #18201 closed

[2020-10-19 14:38] kylegilde commented on #18552
sounds good, thanks!

[2020-10-19 14:42] cmarmo commented on #18353
Hi @sacdallago, have you find some time to run your script with faulthandler? Thanks!

[2020-10-19 14:48] cmarmo commented on #18473
I'm closing this issue for lack of information. @Preetesh21 if you are still facing this issue feel free to paste your snippet code here as the issue could be more easily investigated.

[2020-10-19 14:48] #18473 closed

[2020-10-19 14:53] cmarmo commented on #18531
Hi @mas1, thanks for reaching out. Feel free to propose a pull request and let see what core-devs think about that. Just be patient, they will soon focus on the release and this could take some time.

[2020-10-19 14:57] cmarmo commented on #18534
Hi @zoidberg77 , I'm closing this one for lack of information. Feel free to ping me if your are back to this with a reproducible code snippet. Thanks.

[2020-10-19 14:57] #18534 closed

[2020-10-19 17:24] MaximeKan commented on #18550
@thomasjpfan do you believe encoding the class weights is something that could happen inside `VotingClassifier` so that this bug would be prevented? Basically, it would mean taking your suggested workaround and put this inside the source code.

[2020-10-19 18:37] federiconuta opened #18646 "Unable to import parse_version from fixes"
Hi all,

I am having serious problems with sklearn. In particular, when doing:

    from sklearn.linear_model import LinearRegression

I get the following error:

[code]

which I am not able to fix since in fixes.py I can see

[code]

which seem to me the same as parse_version. Why Is this error occurring? Can anyone please help me?

Thank you all,

Federico

[2020-10-19 19:21] #14934 closed

[2020-10-19 20:10] trewaite commented on #18553
I would find this quite useful as well. I am willing to make a pull request if core development team approves.

[2020-10-19 20:38] gkiar opened #18648 "check_if_fitted gives false positive when extracted from ensemble classifier"
#### Describe the bug
I trained several classifiers on my dataset, and then created an ensemble classifier (voting classifier) from them. While each of the estimators, stored at `.estimators_`, have been fit and used independently and within the ensemble, and even after extracting them from the ensemble, they fail a `check_if_fitted` test, so I cannot use them on their own in a context that checks

[2020-10-19 22:11] felipegarcia98 commented on #18621
@adrinjalali  do you have an aproximation for release date?

[2020-10-20 07:02] adrinjalali commented on #18621
In a few weeks :)

[2020-10-20 07:39] alfaro96 commented on #18648
Hey @gkiar,

The issue is unrelated with the ensemble, but with the `Pipeline` (meta-)estimator which has not fitted attributes (ending with a trailing underscore).

The following code snippet fails:

[code]

I have found the following comment in the `Pipeline` (meta-)estimator code:

https://github.com/scikit-learn/scikit-learn/blob/5d5329c473791c90ebc58b4a18a923d1e6c216b9/sklearn/pipeline.py#L26

[2020-10-20 08:09] #18087 closed

[2020-10-20 08:10] glemaitre commented on #18648
It is a bug that became a feature. It is not that easy to create a proper pipeline: https://github.com/scikit-learn/scikit-learn/pull/8350

We have now some usages that are working because we modify `steps` directly and make backward compatibility quite difficult.

Regarding `check_is_fitted`, I would have think that introducing `n_features_in_` would have somehow solved the issue with `Pipeline`

[2020-10-20 08:11] glemaitre commented on #18648
The reason is that `n_features_in_` is a property in this case.

[2020-10-20 08:44] cmarmo commented on #17424
Hi @MilanCugur I'm closing this one for lack of information. If you are still experiencing this issue feel free to ping me providing a reproducible snippet of code. Thanks for your patience.

[2020-10-20 08:44] #17424 closed

[2020-10-20 08:56] cmarmo commented on #17167
Hi @GuWenyuan sorry for the late reply. Please provide a [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Otherwise this issue is unlikely to be investigated. Thanks for your patience.

[2020-10-20 09:20] cmarmo commented on #17012
Hi @aniskx, thanks for reaching out. I'm closing this issue for lack of information. If you are still experiencing it, feel free to ping me providing a reproducible code snippet. Thanks for your patience.

[2020-10-20 09:20] #17012 closed

[2020-10-20 09:35] cmarmo commented on #16553
I'm closing this one, as Kmeans has been strongly reformatted in 0.23.

[2020-10-20 09:35] #16553 closed

[2020-10-20 11:11] jnothman commented on #18638
This is a matter of how we handle quantile bands that are empty in the
training data, due to duplication. The current behaviour was a result of
#12774.

[2020-10-20 11:15] jnothman commented on #18642
I think this seems reasonable, although the path for deprecation might be
tricky.

Could you do us the favour of summarising the use of `base_estimator`,
`estimator` and maybe others as paremeters across the library? `git grep -p
"estimator : "` might help.

[2020-10-20 11:20] jnothman commented on #18553
Makes sense. I'd be happy to see this.

[2020-10-20 11:22] jnothman commented on #18648
Hmm... We don't really recommend using check_is_fitted as a barrier
condition, precisely because we don't have a universal solution by which it
can be applied with a single argument.

[2020-10-20 11:47] sarajcev commented on #18642
The output of the command `git grep -p "estimator :"` is several pages long. However, the output of the command `git grep -p "base_estimator :"` is as follows:
[code]
Hope this helps.

[2020-10-20 12:01] glemaitre commented on #18648
condition, precisely because we don't have a universal solution by which it
can be applied with a single argument.

This is true and this is one of the reasons that we reintroduce the `attribute` parameter.
@jnothman Do you think that `n_features_in_` could play this universal solution.
If so `hasattr` should be enough and it would make `check_is_fitted` efficient as well.

[2020-10-20 12:11] NicolasHug commented on #18646
Try making a clean install.
I'd it still doesnt work, please provide version information as requested in the issue template. Closing until then

[2020-10-20 12:11] #18646 closed

[2020-10-20 12:28] antonpuz commented on #18638
kudos on remembering a 2 yo ticket.
Please allow me to argue that the behavior changed 2 years ago was the correct one.
1. The actual Quantile ID matters, it is strongly related to percentile and actually holds information. side note: I think the fix presented in ticket you mentioned is correct for "kmeans" strategy, as cluster ID really doesn't mean anything other than center order.
2. Empty bins

[2020-10-20 12:36] agramfort commented on #18542
seems to work well indeed. However unfortunately, I don't have time to look into it personally.

[2020-10-20 13:04] federiconuta commented on #18646
Hi @NicolasHug and thank you for the reply. Hi already tried to pip uninstall sklearn then both to pip3 install it again and conda install it again.

I am currently on the latest release 0.23.2.
I have noticed that changing the environment solves the issue, but cloning the environment and working on the cloned one does not. Hence I am thinking oof some conflict with other packages. No dependencies

[2020-10-20 13:09] cmarmo commented on #16101
@ckastner `test_old_pickle` is no longer in 0.23. I see you already moved to 0.23 on [salsa.debian.org](https://salsa.debian.org/science-team/scikit-learn/-/tree/debian), I'm closing this one, then. Thanks for your work in packaging scikit-learn for debian.

[2020-10-20 13:09] #16101 closed

[2020-10-20 13:11] NicolasHug commented on #18646
@federiconuta , from what you're describing I doubt the issue comes from scikit-learn. Looks like it comes (as often) from conda and interactions with the system.

[2020-10-20 13:21] federiconuta commented on #18646
@NicolasHug I see. Thank you for the reply!

[2020-10-20 16:08] reshamas commented on #11993
@cmarmo
Do you think this issue is beginner friendly?  Is it doable for someone at one of our sprints?

[2020-10-20 16:19] cmarmo commented on #11993
@reshamas, checking the pull requests that tried to solve it I'm under the impression that this issue does not have a straightforward solution. Perhaps it  will require some experience to be taken over.

[2020-10-20 16:20] #18281 closed

[2020-10-20 16:27] reshamas commented on #11993
@cmarmo
Ok, I labeled it moderate, so it is not picked up by beginners at sprints.

[2020-10-20 20:16] ckastner commented on #16101
Indeed, we've already moved to 0.23. I didn't notice that the test was dropped; we were just running the test suite with `-k not test_old_pickle`. Will remove that now. Thank you for pointing this out!

[2020-10-20 20:34] agramfort commented on #17624
@SB6988 I think the best we can offer is to improve the docstring of the class. Feel free to open a PR so a next person is less likely to hit the same difficulty as you.

[2020-10-20 20:37] agramfort commented on #17925
I agree with @rth. Any numerical code will hit the limits of floating point precision. Adding more checks is first hard and second will slow down the code for common valid use cases.

+1 to close

[2020-10-20 20:43] agramfort commented on #17183
@FloWPs numerical stability of Lars is really hard. Numerous corner cases have been fixed over the years. Here operations are not done in the same order if you precompute or not. I think we need to live with it.

+1 to close

[2020-10-20 20:55] agramfort commented on #18074
`eps` is not relevant here as the grad function is provided.
passing `ftol: tol` in options would fix the problem. Now if it should be a fraction of tol or something it's not obvious.

I would be fine adding `ftol: tol`

[2020-10-20 21:07] rth commented on #17925
@agramfort Agreed. The only reason I kept it open is because,

Shouldn't we check for NaNs in linear model coefficients at the end of convergence?

[2020-10-20 21:26] agramfort commented on #17925
Indeed this should be cheap to do. Good idea

[2020-10-20 21:38] zeromh opened #18660 "check_array(X, dtype='numeric') converts all data to strings if X contains any strings"
#### Describe the bug
check_array(X, dtype='numeric') converts all data to strings if X contains any strings.

This was discussed a while ago in #10229, but the implemented fix doesn't fix what looks to me like counter-intuitive and possibly buggy behavior.

#### Steps/Code to Reproduce
[code]

#### Expected Results
I would expect an error indicating that data could not be converted to a float.

#

[2020-10-20 22:01] trewaite commented on #18553
take

[2020-10-21 08:16] cmarmo commented on #17925
Thanks @rth and @agramfort for clarifying. Do you mind if I close this one and open a new issue for the NaN check for linear models? I think this would be more clear for a contributor to understand.

[2020-10-21 08:24] cmarmo commented on #17183
I'm closing this one then: unluckily there isn't so much we can do to improve this behavior.

[2020-10-21 08:24] #17183 closed

[2020-10-21 09:41] cmarmo opened #18663 "fit.transform not equal to fit_transform in NMF with solver 'mu' and init 'nndsvda'"
#### Describe the bug
The test verifying that `fit.transform == fit_transform` failed for the `NMF` estimator with `solver='mu'` and init 'nndsvda'

Discovered in #16948, see also #18505.

#### Steps/Code to Reproduce
[code]

#### Expected Results
The test passes.

#### Actual Results
[code]

#### Versions
[code]

[2020-10-21 10:43] #12971 closed

[2020-10-21 11:01] glemaitre commented on #18660
The following PR will solve the issue and define the expected behaviour: https://github.com/scikit-learn/scikit-learn/pull/18496

[2020-10-21 11:32] sarajcev commented on #18642
After looking into the source code of some of these classes, it seems to me that all classes which use some kind of **base estimator** for creating ensembles (i.e. bagging, boosting), such as `BaggingRegressor` or `AdaBoostRegressor`, have this hyper-parameter called `base_estimator`, which seems reasonable enough. The same principle would then apply to the `RegressorChain`, which is chaining some

[2020-10-21 14:59] yeranosyanvahan opened #18665 "What is this?... log_loss miscalculation"
from sklearn.metrics import mean_squared_error, log_loss
import numpy as np

ll=log_loss

a=[ 1,  0,  0 , 1 ]
b=[0.8,0.8,0.2,0.2]
a=np.asarray(a)
b=np.asarray(b)

print("log_loss: ",ll(a,b),ll(a.reshape(2,2),b.reshape(2,2)))
#answer 0.9162907318741551, 0.6931471805599453

I have been working on a project with huge datasets. I construct models and I have datasets containing 0.6931471805599453, whil

[2020-10-21 15:14] NicolasHug commented on #18665
The shape of the input matters (see the docs).

This seems to be a usage question, not a bug report, closing.

[2020-10-21 15:14] #18665 closed

[2020-10-22 07:25] AlexMolas opened #18668 "Instance attributes defined outside __init__"
I do not know if this issue should be labeled as a feature request since it is not a new feature per se, but I could not find a better label.

**Problem:** There are instance attributes defined outside `__init__`. For the sake of readability, it would be nice to have all the attributes defined in the `__init__`.

For example, in the LogisticRegression class, the attribute `self.classes_` is define

[2020-10-22 08:15] alfaro96 commented on #18668
Hey @AlexMolas,

We use the `__init__` just to initialize the hyperparameters describing the model (in most of the cases). The estimator's attributes refer to how model information is stored during fitting. Therefore, all the attributes are set during the call to the `fit` method.

Indeed, we try to do our best to ensure that the estimator's attributes are documented in the `Attributes` section of

[2020-10-22 08:15] #18668 closed

[2020-10-22 08:20] glemaitre commented on #18611
A PR has been proposed there: https://github.com/scikit-learn/scikit-learn/pull/14862
I reviewed yesterday and it looks in good condition. Now, that I see, we should be sure that it works with CSC matrix probably

[2020-10-22 08:27] glemaitre commented on #18498
I would be in favour of using the `FunctionTransformer`. An example seems the best way. I think that it should go to the user guide.

[2020-10-22 08:47] FrancescoCasalegno opened #18669 "Make TfidfVectorizer serializable in a reproducible way"
#### Describe the workflow you want to enable
- I would like to serialize (using `pickle` or `joblib`, as suggested in the [docs](https://scikit-learn.org/stable/modules/model_persistence.html)) a trained `TfidfVectorizer` object. Minimum working example:
[code]
- The problem is that if you run the code above twice, **the two resulting `model.pkl` binary files will differ.**
- As far as I understa

[2020-10-22 09:21] ogrisel opened #18671 "LinearDiscriminantAnalysis does not handle degenerate problems well"
As investigated when trying to solve unstable common tests in #18667, it seems that `LinearDiscriminantAnalysis` is bad a handling classification problems that are too trivial such as illustrated in the following (using MKL):

[code]

The least squares solver does not fail (but still raises a warning) and the resulting model is unable to classifiy the training set correctly:

[code]

The above was

[2020-10-22 10:56] Rick-Mackenbach commented on #18264
I'll work on this, curious to see what is happening here.

[2020-10-22 13:28] NicolasHug commented on #18671
For ref, https://github.com/scikit-learn/scikit-learn/issues/17401 is sort of related

[2020-10-22 17:37] sai45741 opened #18675 "I could not understand what is that error"
![image](https://user-images.githubusercontent.com/73189049/96909088-25c46580-14bb-11eb-9e55-2f4f7110dc3b.png)
This is a dataset

from sklearn.neighbors import KNeighborsClassifier
classifier_knn=KNeighborsClassifier(n_neighbors=5)
classifier_knn.fit(x_train,y_train)
y_pred_knn=classifier_knn.predict(x_test)
fpr,tpr,thresold=roc_curve(y_test,y_pred_knn)
x=dataset.drop("units_sold",axis=1)
y=datase

[2020-10-22 18:00] alfaro96 commented on #18675
It seems that your problem is not a binary classification task which is a restriction for the `sklearn.metric.roc_curve` function.

Unfortunately, you are asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, we recommend to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or the [Mailing List](https://mail.python.org/mail

[2020-10-22 18:00] #18675 closed

[2020-10-23 02:52] luismiguells opened #18676 "Support roc_auc_score() for multi-class without probability estimates"
I have a multi-class problem. I tried to calculate the ROC-AUC score using the function ```metrics.roc_auc_score()```. This function has support for multi-class but it needs the probability estimates, for that the classifier needs to have the method ```predict_proba()```. For example, ```svm.LinearSVC()``` does not have it and I have to use ```svm.SVC()``` but it takes so much time with big datase

[2020-10-23 03:17] tobyrmanders commented on #18676
Can't you just one-hot encode the predictions to get your score?

`from sklearn import datasets
from sklearn.svm import LinearSVC
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

# Get the data
iris = datasets.load_iris()
X, y = iris.data, iris.target

# Create the model
clf = LinearSVC()

# Split the da

[2020-10-23 03:50] luismiguells commented on #18676
@tobyrmanders I do the modification as you suggested, but gave it a bit different value. With your implementation using ```LinearSVC()``` gives me and ROC-AUC score of  0.94. Using the ```SVC()``` gives me 0.99.

[2020-10-23 10:19] cmarmo commented on #9459
The referred links have been fixed now. I have looked for some new examples and I cannot find any. This does not mean that the issue is no longer there but, as this is a numpydoc limitation, I think we should include this problem in the more general related in #4344. For that reason I'm closing this issue. Feel free to ping me if I 'm misunderstanding.

[2020-10-23 10:19] #9459 closed

[2020-10-23 12:28] cmarmo commented on #8185
I'm closing this one as supposedly solved. For the sklearn vs scikit-learn pip issue see #8215.

[2020-10-23 12:28] #8185 closed

[2020-10-23 12:35] cmarmo commented on #8182
Closing this one: `filterwarnings('always')` is still called in some tests, but starting from 0.22 [deprecations make use of FutureWarnings](https://scikit-learn.org/0.22/whats_new/v0.22.html#deprecations-using-futurewarning-from-now-on) as recommended by Python documentation. Feel free to reopen if I misunderstood the issue.

[2020-10-23 12:35] #8182 closed

[2020-10-23 13:08] cmarmo commented on #11417
HI @SSoltani83 , I know I'm late at the party...
I have updated your code to the last version of scikit-learn
[code]
This gives me
[code]
as for the `'cd'` solver.

The OverflowError has been solved in the meanwhile.

[2020-10-23 13:15] cmarmo commented on #11624
Hi @rteja1113 , thanks for reaching out and sorry for the late answer.
Scripts available in the `benchmarks` directory are not guaranteed to work. They are often used once or twice to benchmark developments then not updated for mainstream changes. This is why this issue is unlikely to be investigated. I'm closing it.

[2020-10-23 13:15] #11624 closed

[2020-10-23 15:08] 08volt opened #18677 "KNN with custom metric"
Hi, I got a problem with the Knn.fit when I'm using the HVDM metric.
To visualize the data I'm working on I added two prints at the beginning of the function:

![Schermata 2020-10-23 alle 17 03 39](https://user-images.githubusercontent.com/11225987/97020338-b5b4ee80-1551-11eb-9787-7e0139eab2ee.png)

I dont understand why when I call the Knn.fit the "x" parameter it's this different from the datafr

[2020-10-23 16:25] cmarmo commented on #18677
Hi @08volt thanks for reaching out. The issue tracker is mainly for bugs and new features. Feel free to reach the community on [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn) if you need any help in getting familiar with the library. Also, don't forget to provide a [self-contained example code](h

[2020-10-23 16:25] #18677 closed

[2020-10-23 16:58] cmarmo commented on #13940
I can't reproduce on 0.24dev
@rth , scikit-learn or threading improvement? :)

[code]

[2020-10-23 17:57] cmarmo commented on #14007
Hi @yugaljain1999, your last screenshot told you that you tried to install without admin rights. Admin rights are not necessary when conda environments are correctly configured. I'm closing this one as the issue was probably related to environment management.

[2020-10-23 17:57] #14007 closed

[2020-10-23 18:17] tobyrmanders commented on #18676
@luismiguells That's because the two models give different predictions. You would need to peek under the hood at the default parameter values of each model type to figure out why they're giving different classifications. I'll point out that ROC-AUC is not as useful a metric if you don't have probabilities, since this measurement is essentially telling you how well your model sorts the samples by l

[2020-10-23 19:44] cmarmo commented on #15171
Closed by #18651.

[2020-10-23 19:44] #15171 closed

[2020-10-23 19:53] glemaitre commented on #18676
Is there any literature on this? Adding support might not be that easy.

You should use the `LabelBinarizer` for this purpose: https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelBinarizer.html.
`OneHotEncoder` is to be applied to the data `X`, not on the target.

It should be noted that in this case, you are transforming the problem into a multilabel classification (a set

[2020-10-23 19:55] cmarmo commented on #15660
[MacOS installation instruction from source](https://scikit-learn.org/dev/developers/advanced_installation.html#macos) also contain details about compilers and dependencies. Anyway, I'm closing this one as there is no answer from the user.

[2020-10-23 19:55] #15660 closed

[2020-10-23 19:57] cmarmo commented on #15671
Sorry @sandy-shirt I'm closing this issue as it is impossible to investigate without more information about your code.

[2020-10-23 19:57] #15671 closed

[2020-10-23 20:05] cmarmo commented on #15820
Closing this one, for lack of feedback from the user.

[2020-10-23 20:05] #15820 closed

[2020-10-23 20:06] #15828 closed

[2020-10-23 22:49] just-linux commented on #18567
I will take this

[2020-10-24 21:01] CameronBieganek commented on #4632
I'm not 100% sure about this, but it seems to me that [domain adaptation](https://en.wikipedia.org/wiki/Domain_adaptation) is one scenario where you do *not* want to weight the test samples when evaluating the test score. The idea is that the importance weights are used to adapt the train set to more accurately reflect the test set. No weights are needed for the test set since the test set already

[2020-10-25 06:39] markusloecher opened #18680 "post pruning tree"
The existing cost-complexity based post pruning method of classification/regression trees in sklearn is not sufficient for my  research simulations. I would very much like a general post pruning method, where the user specifies a list of nodes which should be pruned (based on criteria that are "fluid", i.e. left to the user for experimentation purpose).

We tried to prune "manually" by simply sett

[2020-10-25 07:28] markusloecher commented on #18680
Side comments:

1. In R, the package [tree](https://cran.r-project.org/web/packages/tree) offers the `snip.tree()` function which would be exactly what I am looking for.
2. I would eventually want to use this function on individual trees from a random forest

[2020-10-25 11:52] goolig opened #18681 "Imputers drop features with completely missing values during training"
#### Describe the bug

When using an imputer, after training on a data frame with at least one of the columns completely missing, the imputer will drop this feature after a transform.

I would expect at least a warning or an option to fall back to a constant value fill.

#### Steps/Code to Reproduce

[code]
#### Expected Results

(3, 2)

#### Actual Results

(3, 1)

#### Versions

[2020-10-25 15:09] NicolasHug commented on #18680
This is what I would have suggested. I don't think any scikit-learn routine *doesn't* follow the child poitners, so I'm not sure about your concern

I'd suggest doing that manually then, or use some of the private stuff that we already have, without guarantee regarding backward compatibility.

[2020-10-25 17:28] meakbiyik opened #18683 "Inconsistency between Gaussian Process Regressor vs Classifier causing LinAlgError"
#### Describe the bug
As my current dataset was encountering with LinAlgErrors ('n-th leading minor of the array is not positive definite') while being fitted with GaussianProcessClassifier, I delved into the code a little bit and saw that the classifier, contrary to its regressor counterpart, does not contain an alpha parameter to ensure numerical stability. What is missing is basically one line,

[2020-10-26 02:28] NicolasHug commented on #15123
1 means we're not backward compatible, right?

For 2 and 3, unfortunately I don't really see how these options will effectively help reducing the complexity or redundancy of the losses code, which I believe was the original motivation here

[2020-10-26 07:19] lorentzenchr commented on #15123
News: https://github.com/cython/cython/issues/3607 doesn't seem to be a blocker anymore, as long as the cdef functions like `cdef cgradient` do not use fused types. The biggest issue with this design, however, is that the virtual inheritance adds a (10-30%) performance penalty.

Design reasoning:
- `cdef` loss and gradient functions for SGD, operating on a single sample  point.
   - Seems to be en

[2020-10-26 07:51] alfaro96 commented on #18681
Closing as a duplicate of #16426.

[2020-10-26 07:51] #18681 closed

[2020-10-26 08:03] alfaro96 commented on #16667
Closing as the `test_stacking_with_sample_weight` test is no longer failing on `master`.

[2020-10-26 08:03] #16667 closed

[2020-10-26 09:24] glemaitre opened #18685 "Mean absolute scaled error for forecasting evaluation"
While playing with some time-series dataset to make some forecasting, I came across the following paper:

R.J. Hyndman, A.B. Koehler, Another look at measures of forecast accuracy, International Journal of Forecasting, 22 (2006), pp. 679-688

They introduce the mean absolute scaled error that scale forecasting error by the mean absolute error of in-sample data. The intuition that I get is that thi

[2020-10-26 10:11] cmarmo commented on #14570
About "superseded" PRs:
- @albertcthomas [commented recently](https://github.com/scikit-learn/scikit-learn/pull/7910#issuecomment-709267348) about closing superseded PRs
- @alfaro96 has just submitted #18684 automatically closing 'spam' issues or PRs
Shall we adopt this same approach for superseded? I am in favor as long as the "superseded" label is manually applied, because github actions are, fo

[2020-10-26 15:00] cmarmo commented on #14953
@thomasjpfan two PRs of yours are meant to close this issue: #15050 has two approvals, so I have milestoned it against #15396. I'm unable to understand if they are both necessary. Do you mind clarifying and fixing conflicts (in one or both), if you think the milestone is still relevant? Thanks a lot for your collaboration.

[2020-10-26 15:27] cmarmo commented on #18101
Removed from the 0.24 milestone: no work has been done in this direction and this is unlikely to happen during the next week. Feel free to re-milestone if necessary.

[2020-10-26 15:33] NicolasHug commented on #14081
Now that we have this new chapter in the docs, I think we can close this issue. Thanks @ManishAradwad, @lucyleeow, and @skeller88 for your PRs

Side note: https://github.com/scikit-learn/scikit-learn/pull/18619#discussion_r504728652 is a good candidate for a new subsection

[2020-10-26 15:33] #14081 closed

[2020-10-26 15:37] NicolasHug commented on #17304
Thanks all for your feedback. I'll close as addressed

[2020-10-26 15:37] #17304 closed

[2020-10-26 15:39] NicolasHug commented on #17303
PRs were merged so I'll close

[2020-10-26 15:39] #17303 closed

[2020-10-26 15:44] NicolasHug commented on #12734
Early close since this will be addressed by https://github.com/scikit-learn/scikit-learn/pull/18582

[2020-10-26 15:44] #12734 closed

[2020-10-26 15:47] NicolasHug commented on #13647
Doesn't seem like a huge priority, closing

[2020-10-26 15:47] #13647 closed

[2020-10-26 15:51] NicolasHug commented on #14816
Now that `RFE` and `SelectFromModel` have an `importance_getter` attribute, I think it makes even more sense to deprecate and ultimately remove these attributes.

Maybe some reasonably easy PR for @alfaro96 @lucyleeow @cmarmo ?

[2020-10-26 15:52] NicolasHug commented on #13553
I guess we have other things on our plate right now, closing

[2020-10-26 15:52] #13553 closed

[2020-10-26 15:53] yacth commented on #18685
Hi @glemaitre, can I work on the PR for this ?

[2020-10-26 16:09] ogrisel commented on #10229
@zeromh I agree. We have a new opportunity to fix it in #18496.

[2020-10-26 16:48] alfaro96 commented on #14816
I will take this issue @NicolasHug.

[2020-10-26 19:49] PGryllos commented on #18685
I was just reading about this metric while looking for a better defined version of Mean absolute percentage error (and then found this ticket 👯 ), it seems useful. The supported regression metrics lack some intuition about the relative size of the error.

[2020-10-27 00:14] ffffaaasl commented on #6863
N

[2020-10-27 01:09] ffffaaasl commented on #7206
**__[![image](https://user-images.githubusercontent.com/67073464/97244572-1e2df500-180a-11eb-8190-6d71ac789849.png)]()__**

[2020-10-27 08:26] alfaro96 commented on #6279
FYI, I have opened #18613 to investigate the issue.

[2020-10-27 09:14] sbushmanov opened #18690 "Why ShuffleSplit is not a partitioner whereas KFold is?"
Why:

[code]
Throws an error:

[code]
whereas `KFold` executes without an error:

[code]

Even the following returns the same error:

[code]
even though cv returns `An iterable yielding (train, test) splits as arrays of indices` as suggested in the [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_predict.html)

[2020-10-27 11:08] cmarmo commented on #14650
Take

[2020-10-27 11:08] #15616 closed

[2020-10-27 11:08] #15726 closed

[2020-10-27 13:51] NicolasHug commented on #18690
This is by definition (see the docs), if ShuffleSplit were to output a partition, it would be KFold.

Maybe what you're looking for is KFold(shuffle=True).

[2020-10-27 13:51] #18690 closed

[2020-10-27 14:37] #10903 closed

[2020-10-27 19:11] lorentzenchr commented on #18685
I'm not opposed to introducing further metrics, but there are so many of them, when to stop?
What is the main motivation for this particular one?

Personal opinion with the danger of repeating myself:
For me, [arxiv:0912.0902](https://arxiv.org/pdf/0912.0902.pdf) is a landmark paper about metrics/scoring functions. The proposed one is not a strictly consistent one for any obvious target functional

[2020-10-27 20:05] glemaitre commented on #18685
@yacth For the moment, this issue was open to raising comments whether or not we should implement it.

@lorentzenchr To be honest, I don't know so much about forecasting. One of the issues that I was looking at was when `y_true(t-1) == y_pred(t)` and found that the formulation could partially adress this. But relying on good literature is more important.

[2020-10-27 20:11] lorentzenchr commented on #18685
To issue the forecast `y_pred(t) = y_true(t-1)` would be quite optimal if the underlying stochastic process is a martingale like a Brownian motion and if you want to forecast the expectation of the process. Why not define (your own private) `DummyRegressor(strategy='matringale')` with exactly this forecast and then compare other forecasts against `DummyRegressor`?

[2020-10-27 20:52] Dpananos opened #18692 "Standardizing the documentation for `alpha` in `Ridge` and `Lasso`"
#### Describe the issue linked to the documentation

I'm helping to teach a machine learning course using sklearn.  The documentation for `alpha` in  `Ridge` is as follows:

The documentation for `alpha` in `Lasso` is as follows

Between the different documentation for alpha in these models, plus the `C` being the inverse regularization in the closely related `LogisticRegression` there has underst

[2020-10-27 21:31] glemaitre commented on #18685
Yes, the dummy regressor has a baseline seems good.

[2020-10-28 00:21] finnhacks42 opened #18694 "Add option to inspection.permutation_importance to only compute importance for a subset of features"
## Describe the workflow you want to enable
We have datasets with very large numbers of features, where we only care about feature importance for a subset of them. This can happen when;
   - The model pipeline includes a transform in which only a subset of features are selected to pass on to the final (eg via `ColumnTransformer`) and we know in advance that other columns can have no impact on the

[2020-10-28 02:24] thomasjpfan commented on #18694
I recall discussing this when developing `permutation_importance` and decided that there was not a use case for selecting a subset. Thank you for providing some use cases!

Can you expand on this use case a little?

[2020-10-28 02:42] finnhacks42 commented on #18694
Sure! An example of computing feature importance at different stages of the pipeline:

- We have some categorical variables that are put through a `OneHotEncoder`. For these variables we want to do the permutation before the encoding to get an indication of the overall role each categorical variable plays at a high level.
- We have a very large set of variables that are responses to different sets

[2020-10-28 07:04] #18605 closed

[2020-10-28 09:48] markusloecher commented on #18680
Thanks for the reply. Too bad, I was hoping that the hidden pruning function could be made public.
I agree that no sklearn routine doesn't follow the child poitners, but I simply cannot be sure that other widely used libraries (e.g. the shap module) does not just loop over all nodes in cases the exact tree traversal was not necessary.

[2020-10-28 10:31] leockl opened #18697 "Scikit-learn's check_estimator()'s new requirement n_features_in_"
Dear Team,

I was using Scikit-learn's check_estimator() on an estimator that I had developed and stumbled upon this new requirement `n_features_in_`. I had checked out the documentation on this (https://scikit-learn-enhancement-proposals.readthedocs.io/en/latest/slep010/proposal.html#id1), but I am still not fully understanding this new requirement.

Can I please clarify:
- in layman terms, what

[2020-10-28 11:45] alfaro96 commented on #18697
The `_validate_data` method should be used similarly to the `check_X_y` function. Have a look to the `fit` method of [*Random Forests* estimators](https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f871d60370/sklearn/ensemble/_forest.py#L303-L304) to understand its usage.

Unfortunately, you are asking a usage question. The issue tracker is mainly for bugs and new feat

[2020-10-28 11:45] #18697 closed

[2020-10-28 13:47] glemaitre commented on #18367
I think the two PRs are fine. I was wondering if we should explicitly error in the CI to catch future `VisibleDeprecationWarning`.

[2020-10-28 18:05] #17691 closed

[2020-10-28 18:44] apost71 opened #18700 "TransformerMixin as a base class"
Is there a reason why the `TransformerMixin` class does not define the methods `fit` and `transform` even though the implemented `fit_transform` method references both of those methods?  It seems like bad practice to have a method in a base class reference functions that may or may not exist in children classes.

[2020-10-28 20:46] #18345 closed

[2020-10-28 21:12] agnesbao opened #18701 "Allow permutation_importance to accept multiple scorers in `scoring`"
#### Describe the workflow you want to enable
We would like to compare permutation importance using different scorers and since our model is big, running multiple `permutation_importance` per scoring is not efficient. It would be nice if we can pass a list/tuple/dict to `scoring` arg and get multiple scores from one prediction.

#### Describe your proposed solution
Follow the same interface as `mo

[2020-10-28 21:14] btel commented on #18611
hi @glemaitre, I checked my example from the description with code in the PR #14862 and it does not raise the exception, but the result is wrong:

[code]

but after we eliminate zeros:

[code]

[2020-10-29 02:42] daxiongshu opened #18702 "Is the gradient wrong in sklearn.gaussian_process.kernels.DotProduct?"
I'm not sure it is a bug but my [question is not answered on overflow](https://stackoverflow.com/questions/64475296/is-the-gradient-wrong-in-sklearn-gaussian-process-kernels-dotproduct) for quite a while so I thought I should post it here.

https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f871d60370/sklearn/gaussian_process/kernels.py#L2049-L2054

the function is def

[2020-10-29 07:55] alfaro96 commented on #18455
Take

[2020-10-29 07:57] alfaro96 commented on #18455
Just testing that we did not break up anything.

[2020-10-29 07:57] alfaro96 commented on #18455
Take

[2020-10-29 07:58] AaronX121 opened #18703 "HistGradientBoostingClassifier crushes on datasets with large number of input features"
#### Describe the bug

On `Sector` dataset with the number of input features `55197`, the `HistGradientBoostingClassifier`  crushes when initializing the array of histograms on the side of Cython: [Pivot](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/_hist_gradient_boosting/histogram.pyx#L136).

To reproduce the error, the `Sector` dataset is available at https://www.cs

[2020-10-29 07:58] alfaro96 commented on #18455
Working as expected.

[2020-10-29 08:11] gioxc88 opened #18704 "Add specific tags for Search and Ensemble classes (and maybe Transformers)"
I am using `sklearn`  classes extensively for a project.
I am wrapping all the classes to extend the basic `sklearn` functionalities using class decorators.

I find very useful to have all the information extracted thanks to `_get_tags` method and also to the `_estimator_type` attribute which lets me customize the classes depending on some criteria.

I would have thought that this should be the ca

[2020-10-29 11:02] cmarmo commented on #18624
I have had a look to the segfaults. For the sake of completness here is the list of the import giving a segfault with pypy:
- `import sklearn.cluster`
- `import sklearn.ensemble`
- `import sklearn.inspection`
- `import sklearn.manifold`
- `import sklearn.mixture`
- `import sklearn.tree`

[2020-10-29 14:44] #18367 closed

[2020-10-29 15:20] glemaitre commented on #18700
I am 100% sure (I don't have a background in CS indeed). But a mixin is exactly designed to avoid inheritance and act as an interface. I would expect a `BaseTransformer` class to do what you describe, defining abstract methods as `transform` (I would expect `BaseEstimator` to implement `fit`).

Ideally, I would expect something like:

[code]

It allows to have a clean message regarding `fit` and `

[2020-10-29 15:22] ogrisel commented on #18703
We recently improved the memory efficiency of this estimator. Can you please try again with our nightly build?

https://scikit-learn.org/stable/developers/advanced_installation.html#installing-nightly-builds

[2020-10-29 15:25] glemaitre commented on #18701
This seems to be an interesting feature. I think it could be done efficiently without requiring so much trick. It comes back to call `_weight_scorer` in a loop with different scorers.

[2020-10-29 15:32] glemaitre commented on #18694
So it would require to pass the features by name or indices and the output would contain `np.nan`/None if the permutation was not computed.

[2020-10-29 15:37] ogrisel commented on #18703
I just tried your code snippet and it seems that the memory usage is kind of constant. However, if you enable the `verbose=1` option you will see that it's going to take a link time to fit...

The training set has many features:

[code]

without the Exclusive Feature Bundling feature of LightGBM, this is going to be very slow in scikit-learn. I would rather advise to try to do some feature selecti

[2020-10-29 15:39] glemaitre commented on #18704
I would think that this is currently the job of the mixin. Transformers are using `TransformerMixin` and ensemble and search-cv are using `MetaEstimatorMixin`. Isn't it enough?

[2020-10-29 16:07] gioxc88 commented on #18704
Thanks for the reply, so your suggestion is to inspect the class MRO?
I see your point, however `MetaEstimatorMixin` alone doesn't help distinguish `Ensemble` vs `SearchCV`.

This should be the same for `regressor` vs `classifier`. Even though you could check the MRO and see if `RegressorMixin` or `ClassifierMixin` is there you still have an explicit tag for that (`_estimator_type`).

I believe ad

[2020-10-29 17:08] DingXiangYuanZhiXing opened #18705 "Solve nonlinear equation of a trained sklearn model"
#### Describe the workflow you want to enable
Is there a way to solve a non-linear equation of a trained model `f(x)=c`, where `f(x)` is a trained sklearn model and `c` is a constant or other mathematical functions.
#### Describe your proposed solution
If I use deep learning framework like pytorch, I can use `x.requires_grad=True` and `net.requires_grad_(False)` to fix the weights in the framework

[2020-10-29 17:50] #16145 closed

[2020-10-29 18:53] thomasjpfan commented on #18702
The gradient is respect to the log transform of the hyperparameter. We have updated the documentation to reflect this to try to above future confusion here: https://github.com/scikit-learn/scikit-learn/pull/18115

[2020-10-29 20:58] glemaitre opened #18708 "RELEASE anticipate macOS arm64"
We might want to anticipate the next piece of hardware from MacOS that could be out in the middle of November.
I can see that conda-forge made some available build for the feedstock.
I just put the information here for later on: https://conda-forge.org/blog/posts/2020-10-29-macos-arm64/

[2020-10-29 21:08] glemaitre opened #18709 "Issue with CalibratedClassifierCV with multiclass classification problems"
While reviewing #17856, @ogrisel, @lucyleeow and myself found some weird things going on in the `CalibratedClassifierCV`.

The paper used as a reference is the following:

Zadrozny, Bianca, and Charles Elkan. "Transforming classifier scores into accurate multiclass probability estimates." Proceedings of the Eighth ACM SIGKDD international conference on Knowledge discovery and data mining. 2002.

T

[2020-10-29 22:34] thomasjpfan commented on #13940
I wonder if this is a python specific bug. The original post was using python 3.6. I just tested on python 3.8 and it was okay.

[2020-10-29 23:59] hsorsky opened #18710 "Separate train and test prediction/scoring inside BaseSearchCV"
#### Describe the workflow you want to enable
Separate train and test scoring methods in ``BaseSearchCV``.

#### Describe your proposed solution
Currently, in ``BaseSearchCV``, train and test scoring is done inside of ``_fit_and_score``. This does not allow separate behaviour for train and test. Instead, one could move the process predicting on the train set and test set into separate methods of `

[2020-10-30 00:56] thomasjpfan commented on #18550
For my solution to work generally, `VotingClassifier` would have to look into its estimators to see if there are `class_weights` and then encode it properly for the estimators. This feels like a fairly heavy handed approach.

I this is another use case where its inconvenient to have string labels for classes.

[2020-10-30 01:17] thomasjpfan commented on #18669
@FrancescoCasalegno Do you need to use the `OrderedDict` hack with `vocabuluary_` for python >= 3.6?

@rth @jnothman Why do we have `_stop_words_id`? From reading the code, it seems like we want to validate the stop words again because the stop words can change between `fit` and `transform`?

[2020-10-30 03:19] finnhacks42 commented on #18694
I was imagining you would pass features by index (it is easy enough to track names & convert to indices if required outside of the function) and then you would get back results with the same dimensionality as the features you passed in.  I guess you could always return an output with results for all columns `np.nan` for those not computed. That just seems a little less intuitive to me and would al

[2020-10-30 05:19] AaronX121 commented on #18703
Thanks for your advice. In addition, I think it would be nice if HGBRT is scikit-learn could support feature sub-sampling per boosting iteration, which is similar to the `feature_fraction` parameter in LightGBM :-)

[2020-10-30 08:14] madhuracj commented on #18153
@cmarmo I did not get around to doing this. I think it's best to tag as "Help Wanted" for now.
If I get time to look into this, I'll assign myself.

[2020-10-30 09:32] ogrisel commented on #9538
Coming up with an out-of-core version of `CalibratedClassifierCV` is really non trivial. It would probably require tight coupling with a out-of-core aware API such as dask / dask-ml or similar.

As @amueller said above in https://github.com/scikit-learn/scikit-learn/issues/9538#issuecomment-322283579, if your problem is to find an approximately calibrated linear out of core classifier, just fit `S

[2020-10-30 09:33] ogrisel commented on #9538
Let me close this issue as I don't see any easy way to improve this in scikit-learn given the current API.

[2020-10-30 09:33] #9538 closed

[2020-10-30 09:54] ogrisel commented on #18709
More details about the existing OvR case: we found out that a naive softmax normalization of the raw decision function of the OvR LinearSVC was often competitive with Platt / isotonic calibration of the binary classifier followed by a simple `probs.sum(axis=1)` normalization in terms of logloss. Maybe the choice of the logloss is the source of the problem (see below) but by re-reading the main pap

[2020-10-30 09:55] ogrisel commented on #18709
Mentioning @lucyleeow @dsleo @samronsin as you might be interested in this and maybe sharing your own insights.

[2020-10-30 10:10] ogrisel commented on #18709
We could even introduce an additional temperature hyperparemeter in the multinomial loss of LR / HGBRT. It would be set to 1. by default to get regular LR but could be grid searched with multiclass ECE when those models are used as second stage calibrators (instead of relying on a regularization alone).

[2020-10-30 10:38] NicolasHug commented on #18704
I don't think tags will solve your issue: third party developers would still need to use / set those tags in some way, the same way they should / would use the current scikit-learn Mixins / base classes.

In other words, just because the tag exists in sklearn doesn't mean that HyperbandSearchCV would have its tag set to the proper value.

[2020-10-30 10:42] NicolasHug commented on #18703
This is tracked in https://github.com/scikit-learn/scikit-learn/issues/16062 (as you know ;)  ).

I'll close the issue since the original comment has been addressed.

[2020-10-30 10:42] #18703 closed

[2020-10-30 10:43] glemaitre commented on #18710
@jnothman you might be the bes person to know about the reason for the current design of the `BaseSearchCV`.
Is there a particular reason to have fit and score in the same function? Is it making more things more efficient in some way (do not store some stuffs, avoid recomputation)?

[2020-10-30 10:44] NicolasHug commented on #18705
Usage question, closing

[2020-10-30 10:44] #18705 closed

[2020-10-30 10:46] DingXiangYuanZhiXing commented on #18705
Why this is a usage question. Can you provide an example?

----------

该邮件从移动设备发送

--------------原始邮件--------------
发件人："Nicolas Hug "<notifications@github.com&gt;;
发送时间：2020年10月30日(星期五) 晚上6:45
收件人："scikit-learn/scikit-learn" <scikit-learn@noreply.github.com&gt;;
抄送："DingXiangYuanZhiXing "<151120093@smail.nju.edu.cn&gt;;"Author "<author@noreply.github.com&gt;;
主题：Re: [scikit-learn/scikit-learn] So

[2020-10-30 10:49] NicolasHug commented on #18710
The simplest reason I can think off is that we need one callable in `Parallel`

@hsorsky , can you describe why you need different behavior between training and testing data?
(Note that this is in general not possible for any sklearn model, not just for the search estimators)

[2020-10-30 11:17] gioxc88 commented on #18704
Thank you for the answer,
I am well aware of this. My example in fact had the objective of emphasising what you said: it should be up to developers to use tags on inherit from the the relevant class.

My point was to deprecate inheriting from `MetaEstimatorMixin` and adding tags to `BaseSearchCV` and  `BaseEnsemble`.

[2020-10-30 11:21] NicolasHug commented on #18704
Since the original comment was addressed I'll close the issue

[2020-10-30 11:21] #18704 closed

[2020-10-30 11:24] ogrisel commented on #18709
Cross-referencing a survey of our community on twitter: https://twitter.com/ogrisel/status/1322119718334013443 with very relevant references in the replies.

[2020-10-30 11:40] glemaitre opened #18712 "Issue with CircleCI and documentation"
Just saw that we broke CircleCI. I am going to merge it.

[2020-10-30 11:40] glemaitre commented on #18712
take

[2020-10-30 13:57] maxnoe commented on #7254
This is really surprising behaviour.

Maybe a good solution would be to deprecate the "auto" option in favor of using `"sqrt"` as default for the Classifier and `"n_features"` as default for the Regressor?

Having the same option doing something different for so closely related algorithms is "maximum surprise"

[2020-10-30 14:32] hsorsky commented on #18710
In terms of running in parallel, couldn't you just have one method for getting train and test scores, which calls sub-methods for train and test?

Also, I guess it doesn't matter that train and test scores are currently both fetched by ``_fit_and_score``, its more that that part of the code is buried very deeply, first within ``BaseSearchCV`` and then within ``_fit_and_score``.

As for my use case

[2020-10-30 14:47] NicolasHug commented on #18710
Isn't this leaking the test data?

Also it seems that you don't *just* want to have a different behaviour for training and testing stages; from what I understand, you also want different datasets to be passed. So overriding methods wouldn't even be enough (unless the entire data is passed to those methods where the subsampling would be done, which would require an even bigger refactoring)

[2020-10-30 15:37] hsorsky commented on #18710
Sorry, I may not be expressing myself clearly. I am talking about training on some set, `X_train` and testing on some new held out set `X_test`. For example, for time-series data, this could be train on data from 2010 and test on data from 2011.

This is already what ``BaseSearchCV`` does? It splits training set (`X_train`) into sub-training (`X_sub_train`) and validation (`X_validation`) via the

[2020-10-30 15:43] hsorsky commented on #18710
The actual implementation of having different train and test behaviour is not something I am proposing adding to ``sklearn``, more the refactoring of code to make doing so much easier.

[2020-10-30 16:55] NicolasHug commented on #18710
If you want the scores to be always computed on a held-out `X_test`, maybe you can specify a callable as the `scoring` parameter? It's a hack though, and it would mean that all of the `X_validation` subsets are ignored - which seems like a weird thing to do.

Unfortunately this isn't something that scikit-learn supports as mentioned above (it's not supported by any of the estimators, not just pipe

[2020-10-30 19:01] thomasjpfan commented on #14953
I think the end goal is to have "auto" == use the encoded provided by pandas, at least for `OridinalEncoder`.

#15050 is a warning to tell the user that the order we use does not match the pandas categorical. I can update this to say that "auto" will use the pandas ordering in 0.26. This warning can be a little annoying because the only way to avoid it is to use a python warnings filter.

#15396 w

[2020-10-30 19:02] hsorsky commented on #18710
I think there has been some miscommunication here. I don't want to compute scores on a held-out `X_test`. I want to keep all current `sklearn` functionality exactly the same. I just want to refactor how the current functionality is executed to make it easier for people (specifically me) to subclass. This will then allow me to have different train and test behaviour inside of a cross validation sea

[2020-10-30 19:44] hsorsky commented on #18710
I think the confusion may have been from me not talking about training, testing and validation clearly. Let me rephrase.

Let there be two datasets:
- `X_train`
- `X_test`

We run cross validation on `X_train`. In doing so, we are trying to emulate the behaviour we will see when comparing training on on `X_train` and then moving to `X_test`. We do this in order to select the best hyper-parameters.

[2020-10-30 20:34] rth commented on #18669
That's not a use case that we would want to address I think, since we only support Python 3.6+ currently on master.

Yes, validating stop words is potentially expensive and we don't want to do it for each call to transform. So `_stop_words_id` is basically a cache key. If we wanted to make it reproducible, we could potentially compute it by hashing the stop words with e.g.  murmurhash3. Though the

[2020-10-30 20:41] rth commented on #18669
Though maybe computing `_stop_words_id` with a hash from `hashlib`, to be reproducible, wouldn't be too problematic. If someone wants to look into it and provide benchmarks, we could consider it.

[2020-10-30 20:43] NicolasHug commented on #18710
Thanks for the defails @hsorsky , I'll try to sum up my thoughts:

What you ultimately want is for pipelines to be stage-aware, i.e. let pipelines know when they're using training data vs testing data. This is a useful feature which can help implementing e.g. resamplers: we want to resample at training time, but not at testing time. But stage-awareness is not supported right now and I don't think

[2020-10-30 20:57] hsorsky commented on #18710
OK, thanks for your thoughts. Re it being only a partial solution of a specific use case, yep makes sense and I completely understand the resistance. My only counter offer would be that I'm happy to do the work for the PR, but understand this still means you guys need to go through the review process.

As for pipelines being stage-aware, although its not on your roadmap, I think its something that

[2020-10-31 01:33] dachosen1 commented on #18631
Is someone working on this?

[2020-10-31 09:46] markotoplak opened #18715 "Logistic regression coefficients slightly differ on Windows and MacOS"
#### Describe the bug
Coefficients of logistic regression are different on Windows and Mac. The differences are small though. My research into this started as biolab/orange3#5052.

Does anyone have an idea what could cause these differences?

On a Mac, the code below return

[code]

On Windows, I see

[code]

#### Steps/Code to Reproduce

[code]

#### Versions

Mac:

[code]

Windows:

[code]

[2020-10-31 11:09] daxiongshu commented on #18702
Thank you for the reply!

[2020-10-31 11:09] #18702 closed

[2020-10-31 13:08] jnothman commented on #18710
I am curious to know how much our current proposal for "Resamplers" which
do something at training time but not at test time solves your needs:
https://github.com/scikit-learn/enhancement_proposals/pull/15

I still don't understand the need to predict with different models at
training and test time.

[2020-10-31 14:43] KhaoulaBF opened #18716 "Weights are not updated by MLPRegresoor Scikit Learn"
I'm trying to predict temperature by using MLPRegressor on scikit learn, however when I dispaly model.coeffs_ (same for bias "intercepts_") in each iteration, I can see that the weights are not changing from iteration to onether?? I'm supposed to track their evolution? Any suggestions of what may cause the issue, please?

[2020-10-31 16:31] daniel-yj-yang opened #18717 "make_classification results are not proportional to weights"
#### Describe the bug

The online documentation says "weights: ... The proportions of samples assigned to each class." But the results showed otherwise.

#### Steps/Code to Reproduce

[code]

#### Expected Results

Something similar to the following:
Counter({0: 90000, 1: 10000})
Counter({0: 99000, 1: 1000})
Counter({0: 99500, 1: 500})
Counter({0: 99900, 1: 100})

#### Actual Results

Counter({0:

[2020-10-31 22:13] NicolasHug commented on #18715
I believe such small differences are expected across platforms.

Note that in your case the coefficients come from https://docs.scipy.org/doc/scipy/reference/optimize.minimize-lbfgsb.html#optimize-minimize-lbfgsb. Maybe it's using different low-level libraries (e.g. Lapack or Blas) under the hood? I'd suggest investigating further there.

I'll close in the mean time, feel free to reopen if you bel

[2020-10-31 22:13] #18715 closed

[2020-10-31 22:18] NicolasHug commented on #18716
what do you mean "in each iteration"? Please provide a **simple reproducible** code sample to illustrate your problem.

[2020-10-31 22:25] NicolasHug commented on #18631
This issue was already addressed a while ago in https://github.com/scikit-learn/scikit-learn/pull/18056 so I'll close.

@reshamas before reporting doc issues, make sure to check the latest docs ;) https://scikit-learn.org/dev/

[2020-10-31 22:25] #18631 closed

[2020-10-31 22:38] NicolasHug commented on #18710
Since the original concern was addressed I'll close the issue.

Of course we can still discuss, and potentially open another issue about stage-awareness.

[2020-10-31 22:38] #18710 closed

[2020-10-31 22:47] KhaoulaBF commented on #18716
Here is the part of the code which aims to print (plot) and track the evolution of weights after each iteration, so basically I'll do the iteration manually with loop and putting max_iter = 1 for the initialization of the model

`import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test

[2020-10-31 23:25] reshamas commented on #18631
Hi @NicolasHug
Does this mean I should look at .html files instead or .rst files?
Or, that I was looking at an old release of the docs?

[2020-11-01 00:26] bhargavasomya commented on #18498
Hello @glemaitre! I am pretty new to this and would like to contribute. Is this issue still open or someone is already working on it? Thanks.

[2020-11-01 01:43] daniel-yj-yang opened #18719 "Precision-recall description improvement"
#### Describe the issue linked to the documentation

https://scikit-learn.org/stable/auto_examples/model_selection/plot_precision_recall.html

It says, "high precision relates to a low false positive rate" and some a few places it links these two together, e.g., "false positives, decreasing precision."

#### Suggest a potential alternative/fix

"Precision = 1 - false discovery rate" and "Specifici

[2020-11-01 09:09] NicolasHug commented on #18717
This is because of the `flip_y` parameter whose default isn't 0

[2020-11-01 09:09] #18717 closed

[2020-11-01 09:52] NicolasHug commented on #18716
Trying your example, the weight do change after the first iteration.

It's probably because you've got only one variable / the network converges too fast. (Also note that you have no hidden layer)

This doesn't look like a bug, so I'll close the issue. For usage questions, please refer to other platforms like stack overflow

[2020-11-01 09:52] #18716 closed

[2020-11-01 09:57] NicolasHug commented on #18631
I usually look at the html because it makes rendering issues more obvious, and users read the html files, not the rst

Yes. If you were looking at the rendered docs, you were probaby looking at https://scikit-learn.org/stable/ instead of https://scikit-learn.org/dev

If you were looking at .rst files, the repo was not up to date and it needed a `git pull upstream master`

[2020-11-01 10:46] IchiruTake opened #18721 "Bayesian Ridge Regression [Target vectorized Array]"
Scikit-Learn: 0.23.2

I don't understand the reason why Linear, Lasso, Lasso Lars, Elastic Net and Ridge can accept 2D-array (one column or more) but Bayesian Ridge create Data Conversion Warning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

[2020-11-01 12:11] sahilgupta2105 commented on #18524
take

[2020-11-01 12:50] cmarmo commented on #10733
Closing, all data fetchers suitable for this feature have been modified.

[2020-11-01 12:50] #10733 closed

[2020-11-01 12:50] jnothman commented on #18669
Instead of storing the id we can store an object that defines s/getstate
such that it stores a constant pickle. The id will never match after
restoring from pickle.

[2020-11-01 12:52] jnothman commented on #14953
Is this something where we should just break auto behaviour for pandas
categoricals in version 1.0??

[2020-11-01 13:49] reshamas commented on #18631
@NicolasHug Got it.  Thanks.

[2020-11-01 14:46] mxdev88 commented on #14251
Flexibility for named columns would indeed but extremely useful. I would expect an error only if I'm trying to transform X with missing column(s) during fit. For example, I would like to have several versions of a predicting model. Overtime I will make the model "better" (hopefully) by adding new features in. Enforcing strict column order or size means this is not possible but also means I need to

[2020-11-01 16:06] adrinjalali commented on #14251
Not when we have a `remaining` option. I'd be okay with a `SelectColumnsTransformer` which would select the columns as a first step in a pipeline, and output a `DataFrame`, but I rather not include the complexity in `ColumnTransformer`.

[2020-11-01 18:27] #18712 closed

[2020-11-01 19:13] daniel-yj-yang commented on #18717
Yes, after flip_y = 0, the results are correct. I would suggest flip_y = 0 by default, or documentation about weights be added to warn against this kind of confusion.

[2020-11-02 10:52] #18620 closed

[2020-11-02 15:25] FrancescoCasalegno commented on #18669
Dear @thomasjpfan

No, as said in my message the issue with the `dict` is only for `python < 3.6`. However the problem with the attribute `_stop_words_id ` does not depend on the python version.

[2020-11-02 17:01] DanilZherebtsov opened #18733 "Running RandomizedGridSearchCV results in inability to perform further tasks in multiprocessing"
#### Describe the bug
After having run RandomizedSearchCV, subsequent functions execution in a multiprocessing (concurrent.futures.ProcessPoolExecutor) mode freeze.

If running any function in multiprocessing mode before RandomizedSearchCV, everything works fine.

I have tried reducing the n_jobs in RandomizedSearchCV to 1, still subsequent multiprocessing processes freeze.
I have also tried to ch

[2020-11-02 20:10] ogrisel commented on #18613
I labeled this as blocker for the 0.24 release because it breaks the new automated release system at random. However this is not strictly a blocker because we could always re-run the failed jobs as it's a random bug apparently...

Still it would be better to investigate and understand the cause and fix either the test or the implementation depending on the conclusions.

[2020-11-03 00:25] yiyange opened #18739 "neighbors' `fit_predict` is NOT available to novelty detection"
#### Describe the issue linked to the documentation

This line is wrong
https://github.com/scikit-learn/scikit-learn/blob/4d7e61159db3fb59c474674b3d9f9c656d310e49/sklearn/neighbors/_lof.py#L196

inconsistent with documentation in other places as well as the logic downstream:
https://github.com/scikit-learn/scikit-learn/blob/4d7e61159db3fb59c474674b3d9f9c656d310e49/sklearn/neighbors/_lof.py#L218-L2

[2020-11-03 01:58] reshamas commented on #18631
@NicolasHug Do you think it's worth adding this as a tip to the Contributing docs?
Before opening an issue or submitting PR, check DEV instead of STABLE docs for latest version?

[2020-11-03 08:12] NicolasHug commented on #18631
I doubt it will be effective IMHO because the contributing guide is already quite crowded so this would just be buried among a lot of other info. Also this kind of mistake doesn't happen often I think.

(Also, judging by how many PR titles are properly prefixed with `[MRG]` or `[WIP]`, most even don't read the guidelines :( )

[2020-11-03 08:19] markusloecher commented on #18680
If I may leave one more comment regarding the need for a proper post-pruning function:
For many modules that use sklearn trees, it is far from sufficient to prune the children in the simple minded scheme outlined above. At the very least, one has to also adjust many other parameters such as `tree_.node_samples , tree_.impurity, tree_.n_leaves, tree_.node_count`
For non-sklearn developers that is q

[2020-11-03 08:30] deltawi opened #18748 "Support early_stopping with custom validation_set"
#### Describe the workflow you want to enable
Today in SGDClassifier, the parameter early_stopping uses a fraction of the data randomly, it would be useful to support a custom validation set chosen by the user.

#### Describe your proposed solution
for example:
[code]

[2020-11-03 09:04] NicolasHug commented on #18721
To answer your question, bayesian Ridge just does not support multioutput regression.

[2020-11-03 09:04] #18721 closed

[2020-11-03 09:36] #14650 closed

[2020-11-03 09:45] cmarmo opened #18749 "Investigate and fix performances in *_tree dependent algorithms due to multiple input validation."
Related to @ogrisel [comment](https://github.com/scikit-learn/scikit-learn/pull/18691#issuecomment-721004049).

An input check has been added in `_binary_tree.pxi`
https://github.com/scikit-learn/scikit-learn/blob/61beb3b79947a6976b8c1df4f606b8bee7983dd6/sklearn/neighbors/_binary_tree.pxi#L1052

Some other were already there
https://github.com/scikit-learn/scikit-learn/blob/61beb3b79947a6976b8c1df

[2020-11-03 10:21] NicolasHug commented on #18739
Thanks @yiyange , would you liek to submit a PR to fix the doc?

[2020-11-03 11:01] lucchem opened #18751 "LinearModel able to handle perfectly collinear features"
Hello, I am not sure if this is the right place to ask, but I can't understand if this is a bug, or a feature. I apologise if I am posting in the wrong place.

Yesterday I wanted to try to feed to ``sklearn.linear_model.LinearRegression().fit()`` a two-dimensional feature matrix ``X``, where the two features are identical, and a vector of observation ``y=X[:,0]``, meaning that ``y`` is just equal

[2020-11-03 13:33] NicolasHug commented on #18751
LinearRegression just wraps https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.lstsq.html so I'll let you investigate there

We don't do it because it would be to expensive of a check to perform, and not even useful in a lot of cases. Also in general ML applications, one should favor regularized LR anyway.

Since this isn't a bug, I'll close the issue

[2020-11-03 13:33] #18751 closed

[2020-11-03 13:43] cmarmo opened #18752 "Failing tests due to scipy.optimize DeprecationWarnings"
#### Describe the bug
The following tests fail with an old version of scipy
- `test_set_estimator_drop` from [ensemble/tests/test_voting.py](https://github.com/scikit-learn/scikit-learn/blob/61beb3b79947a6976b8c1df4f606b8bee7983dd6/sklearn/ensemble/tests/test_voting.py#L359)
- `test_warning_bounds` from [gaussian_process/tests/test_gpc.py](https://github.com/scikit-learn/scikit-learn/blob/61beb3b7

[2020-11-03 13:52] d-kleine opened #18753 "Feature request: OneHotEncoder copying Feature names"
Hi,

I would like to ask if it would be possible to add a feature to sklearn's OneHotEncoder:
1. to automatically create feature names in such way columns were named in the input data
2. one-hot encoded features are replacing input columns in original dataframe
3. that values of one-hot encoded features should always be 0 and 1 (easier to read; currently, they are floats 0.0 and 1.0)

#### Describ

[2020-11-03 15:33] NicolasHug commented on #18753
Hi,

Feature names propagation is tracked in https://github.com/scikit-learn/enhancement_proposals/pull/48 and related PRs / issues

Unlikely to happen: `transform` doesn't change the data inplace. We're thinking about outputting dataframe-like objects (see other SLEPs), but that's slightly different

You can select a dtype with the `dtype` parameter. However, if you use the OHE in a ColumnTransfo

[2020-11-03 15:33] #18753 closed

[2020-11-03 19:37] yiyange commented on #18739
@NicolasHug I have a PR out ^^, but failing on [Publish Test Results](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=23611&view=logs&j=13650d7c-49e8-54f3-0598-c3480d1c1e4f&t=5b64980c-1751-5ee5-fdbd-d49cb41598c8&l=13).

[code]
Looking for advice on how to fix the test. Thanks

[2020-11-03 22:38] #18739 closed

[2020-11-04 09:56] guenhter commented on #1188
Would love to see this, but it's unlikely that after 7 years, this request will be considered...

[2020-11-04 12:59] marenwestermann commented on #14312
Documentation of the attributes X_offset_ and X_scale_ for BayesianRidge have been added with #18607 .

[2020-11-04 18:19] reshamas commented on #18305
@thomasjpfan What is the best place to put an example of the pipeline diagram call?
cc:  @Mariam-ke

a)  Here?
https://github.com/scikit-learn/scikit-learn/blob/647fcb1ac13abd8c2eb2554d526f4ad41fee6778/doc/modules/compose.rst

b) Release highlights
https://scikit-learn.org/stable/auto_examples/release_highlights/plot_release_highlights_0_23_0.html#sphx-glr-download-auto-examples-release-highlights

[2020-11-04 19:13] k-yash commented on #15761
Hey new to the open source I am looking forward to fixing doc by any chance something is left which needs to be fixed

[2020-11-04 21:45] NicolasHug commented on #18305
I'm not sure the right way to go is to introduce diagram rendering in the UG at random places. In most cases this will distract from the original purpose of the code snippets.

I would prefer to have a dedicated example for illustrating the diagrams of different estimator, as Joel proposed above. Note that we already have https://scikit-learn.org/dev/auto_examples/compose/plot_column_transformer_m

[2020-11-05 00:56] MikeW50 opened #18760 "StandardScaler spelling error"
#### Describe the bug
The package StandardScaler should be StandardScalar (unless you really did mean a person who scales or a dental instrument).

#### Steps/Code to Reproduce
Inspection

[2020-11-05 03:46] Rubix982 commented on #18692
Agreed, the `alpha` definition in `Lasso` seems to be much more straightforward, however, the `alpha` definition in`Ridge` seems to be interesting for a kind of why the value of `alpha` defaults to `1.0`. I would suggest we make the `Lasso` definition in both places, and below that, at the bottom of the page, under `Notes`, the `Ridge` definition for `alpha` be added as a `Note`.

So that means,

[2020-11-05 04:40] Dpananos commented on #18692
That sounds like a good approach to me

[2020-11-05 05:00] Rubix982 commented on #18692
I'm not exactly familiar with .rst files under the `docs/` folder, however, I was able to find this, https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/linear_model.rst, it seems to contain some part of `Lasso`, and `Ridge, but I can't find the definitions of `alpha` here. Let me take a take a look at Sphinx and RST files, and I'll get back to this.

[2020-11-05 05:54] TomDLT commented on #18692
The doc is rendered on the scikit-learn website: https://scikit-learn.org/dev/modules/linear_model.html

[2020-11-05 06:05] Rubix982 commented on #18692
Yes, @TomDLT ! I was assuming that it is how it should be built and routed to on the doc website.

The link for Lasso is here, https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Lasso.html
The link for Ridge is here, https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html

But when I go to https://github.com/scikit-learn/scikit-learn/tree/master/doc/mo

[2020-11-05 07:32] NicolasHug commented on #18760
Yes (not a person but an object). The object scales the data, so it's a scaler (or is this wrong?).

We also use normalizers, vectorizer, transformers, etc.

[2020-11-05 07:32] #18760 closed

[2020-11-05 07:40] alkaest2002 opened #18762 "Error in nested cross validation with StratifiedShuffleSplit"
#### Describe the bug

I tried to implement a nested cross validation using 2 StratifiedShuffleSplit 5-fold splits.

I fed GridSearch with a pipeline and with the first cv split (INNER LOOP), Then:
- when I fed CrossValScore with Gridsearch.fit(X,y) output and with the second cv split (OUTER LOOP) scikit-learn threw an out-of-bound indices error
- when I fed CrossValScore with GridSearch best esti

[2020-11-05 10:46] NicolasHug commented on #18762
Just pass cv1 and cv2 instead of passing the actual splits.

Version 1 fails because `cross_val_score` will call `mdl.fit(X_a, y_a)` where X_a and X_b are a subset of the whole X and y. But withing that call to fit, the grid search will run another CV (with cv1_splits) and that CV excepts the data to be the same shape as X and y (the whole data), but it's only passed a subset of that.

[2020-11-05 10:46] #18762 closed

[2020-11-05 11:06] alkaest2002 commented on #18762
Thanks for the reply @NicolasHug
The reason for passing cv1_splits/cv2_splits insted of cv1/cv2 is that the splits stratification strategy is based upon a feature (i..e, _median_income_cat_).

So, if I write:

[code]

How will cv1 and cv2 stratify by _median_income_cat_?

[2020-11-05 11:19] alkaest2002 commented on #18762
@NicolasHug one last question: what do you think about feeding cross_val_score with mdl.best_estimator_ and cv2_splits? Is it methodologically a bad choice?

[2020-11-05 11:24] NicolasHug commented on #18762
Hm, I missed that detail indeed.

Apart in `train_test_split`, we do not support stratifying on anything else than the target. Maybe what you could do is create your own CV splitter where `y` would be ignored, something like:

[code]

and use that (this is just a quick hack, I haven't tried it and you may have to modify it a little). One annoying thing is that it forces you to know the idx of the

[2020-11-05 11:27] alkaest2002 commented on #18762
Thank you for your advice. I will try to work on your quick hack. Have a nice day.

[2020-11-05 11:30] NicolasHug commented on #18762
Yes, version 2 will be overoptimistic because the score of `best_estimator_` will be ealuated on the same data that led to select `best_estimator_` as the best one; it's mixing model selection and model evaluation. Version 1 is the preferred strategy (Note that you don't need to pass a fitted estimator to cross_val_score, it actually has no effect at all).

There are some similar discussion in htt

[2020-11-05 11:39] Ashu9808 opened #18765 "Change description of _compute_lower_bound method"
In sklearn.mixture._bayeisan_mixture._compute_lower_bound

Description needs to be changed

""Estimate the lower bound of the model.

        The lower bound on the likelihood (of the training data with respect to
        the model) is used to detect the convergence and has to **decrease** at
        each iteration."""

to
""Estimate the lower bound of the model.

        The lower bound on the li

[2020-11-05 11:42] NicolasHug commented on #18765
thanks @Ashu9808, for such suggestions feel free to directly open a PR instead of opening an issue.

[2020-11-05 13:02] jnothman commented on #18305
Or a section (in Getting Started or otherwise) on how to configure Scikit-learn for a Jupyter Notebook.

[2020-11-05 14:03] reshamas commented on #18305
How about,
1) in this file: [HTML representation of Pipeline](https://scikit-learn.org/dev/auto_examples/compose/plot_column_transformer_mixed_types.html#html-representation-of-pipeline),
we change the title from "**HTML representation of Pipeline**" to "**HTML Representation of Pipeline (Display Diagram)**"

2) in this file: [Getting Started](https://scikit-learn.org/dev/getting_started.html), ca

[2020-11-05 14:09] NicolasHug commented on #18305
OK for 1

For 2: I would rather not make a new section in the getting started guide. I think a note would be enough and to keep it short, we can just re-use the already defined pipeline in the corresponding section, and use the `config_context` manager (We can also mention `set_config`)

[2020-11-05 14:14] GaelVaroquaux commented on #17970
In general it is faster _with_ connectivity matrices when the connectivity matrix is sparse.

[2020-11-05 14:22] reshamas commented on #18305
In [getting_started.rst](https://github.com/scikit-learn/scikit-learn/blob/2e9dbe64122e13aae25af15ce180047e168250d8/doc/getting_started.rst), can make the following edit, at the end of the section "Pipelines: chaining pre-processors and estimators", can add:

[code]

[2020-11-05 14:28] GaelVaroquaux commented on #18257
An additional suggestion on this, using **examples**:
* We could do 2 galleries (sphinx-gallery now supports multiple galleries):
  - "Tutorial examples", where we move the most didactic examples and expand them. Using "notebook style examples" enables to be very didactic
  - "Snippet examples" (don't know if it's a good name), where everything else goes.
* We would put more focus on the "Tutorial

[2020-11-05 14:34] NicolasHug commented on #18257
I had a more general proposal about examples (https://github.com/scikit-learn/scikit-learn/issues/16601) though I'm not sure about the feasibility. Having 2 galleries could be a good alternative.

(But this is only marginally related to this issue IMHO, which is more about the https://scikit-learn.org/stable/tutorial/index.html page)

[2020-11-05 14:42] GaelVaroquaux commented on #18257
Thanks!! You are right. I found the wrong issue (I was looking for the issue on the examples). I'll update the other issue.

[2020-11-05 14:45] GaelVaroquaux commented on #16601
A not too complicated (but imperfect) suggestion for reorganizing examples:

* We could do 2 galleries (sphinx-gallery now supports multiple galleries):
   - "Tutorial examples", where we move the most didactic examples and expand them. Using "notebook style examples" enables to be very didactic
    - "Snippet examples" (don't know if it's a good name), where everything else goes.
* We would put m

[2020-11-05 14:53] NicolasHug commented on #16601
Agreed!

[2020-11-05 15:07] NicolasHug commented on #18305
I think users would benefit from seeing the diagram in action:

[code]

This would ideally be withing a `.. note:: Diagram rendering of estimators`

[2020-11-05 15:39] GF-Huang opened #18767 "How to estimate the .fit() cost time? I wait it 2 hours."
The scitime not work correct. https://github.com/scitime/scitime/issues/57

[2020-11-05 15:41] NicolasHug commented on #18767
this is not supported.

[2020-11-05 15:41] #18767 closed

[2020-11-05 17:50] indobits commented on #18621
thanks!

[2020-11-05 17:58] adrinjalali commented on #18621
It's there on conda-forge though :)

[2020-11-05 19:19] TomDLT commented on #18692
The API page for each class is automatically generated from the docstring:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/_ridge.py#L603-L617
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/_coordinate_descent.py#L904-L915

[2020-11-05 19:52] TomDLT commented on #18257
I really like the tag/filter idea from #16601. It will be more complex to implement than the multiple galleries solution, but it is more flexible, it does not break URLs, and it keeps all examples at the same place which improves discoverability.

For the tutorials, I think the priority is to rework them, as proposed in this RFC plan, and part of this reworking could be to format them as a gallery

[2020-11-05 19:59] marenwestermann commented on #14312
The attribute output_2d_ is deprecated in DummyClassifier and DummyRegressor (see #14933).

[2020-11-05 21:17] albertcthomas opened #18769 "Misleading example or instructions in changing the default value of a parameter"
In the [doc section about changing the default value of a parameter](https://scikit-learn.org/dev/developers/contributing.html#change-the-default-value-of-a-parameter), it is written that "Similar to deprecations, the warning message should always give both the version in which the change happened and the version in which the old behavior will be removed". However the example only states the versi

[2020-11-05 21:28] NicolasHug commented on #18769
I think the snippets are fine and I would just edit the sentence to remove the part about specifying the version were the "change happened". Because specifying the earlier version would basically be something like "we decided in vestion 0.24 that this parameter's default will change in 0.26" and that's just not needed.

[2020-11-05 21:34] albertcthomas commented on #18769
Ok thanks. Then I think we can also remove the "Similar to deprecations".

[2020-11-05 21:58] albertcthomas commented on #18769
Also is it needed to add a `versionchanged` in the docstring of the parameter?

[2020-11-05 22:03] NicolasHug commented on #18769
Would you mind making a PR? I removed the easy tags because this actually require some knowledge of our conventions to be done correctly

[2020-11-05 22:04] albertcthomas commented on #18769
Yes I'll open one and we can discuss there.

[2020-11-06 00:22] Rubix982 commented on #18692
Thank you, @TomDLT , I'll look into them.

[2020-11-06 00:43] MikeW50 commented on #18760
Ha! OK, you're right. Thanks for the nice reply.

[2020-11-06 05:29] Ankit810 commented on #18765
Hi!
Can I work on this? @NicolasHug

[2020-11-06 08:14] NicolasHug commented on #18765
Thanks @Ankit810 , let's leave the opportunity open for @Ashu9808 to submit a PR in the following days. Otherwise yes feel free to take over (~next week?)

[2020-11-06 08:41] Ankit810 commented on #18765
Absolutely fine with it @NicolasHug
I'll take it on the 13th if there's no progress

[2020-11-06 11:11] ogrisel commented on #18624
It's possible to reproduce easily with an env dedicated to pypy from conda-forge as follows:

[code]
yields:

[code]

However if you replace the pypy artifacts generated by this PR:

https://github.com/conda-forge/pypy3.6-feedstock/pull/30#issuecomment-721819190

then it works:
[code]

[2020-11-06 12:13] MayukhSobo opened #18773 "Model progress with event."
Hello,  I am stuck with a weird problem. I have a setup where based on the options selected in the web, I am choosing multiple algorithms like Neaural networks and sometimes Logistic Regression using SGDClassifier. I can always write a custom callback function where I can transmitt the values like epoch, validation loss and training progress to the web backend in case of neural network. But I want

[2020-11-06 12:51] elnazsn1988 commented on #16144
I have the same issue, has not been resolved by un-install and re-install. I'm running on GCP, maybe its an issue with platform?

[2020-11-06 12:57] elnazsn1988 commented on #16144
Using a reddit source, I found this solution, which worked for me:

import sklearn.cluster.k_means_ as kmean
kmeans = kmean.KMeans()

[2020-11-06 12:58] rth commented on #18773
There is WIP Pull Request to add callbacks which would allow doing this in https://github.com/scikit-learn/scikit-learn/pull/16925

[2020-11-06 13:54] ogrisel commented on #18624
I cannot run the full test suite on my laptop: it's too slow and takes too much memory... However, I confirm that with the patched pypy, all the failing imports reported by @cmarmo above pass on in this env.

[2020-11-06 14:16] ogrisel commented on #18624
I removed the blocker label because I think this will be fixed upstream in the next release of pypy and maybe in a patched release on conda-forge so we do not have to anything here.

[2020-11-06 15:52] ogrisel opened #18775 "HistGradientBoostingClassifier is not tracked on https://scikit-learn.org/scikit-learn-benchmarks/"
https://scikit-learn.org/scikit-learn-benchmarks/

I think we should bench it with a medium sized multiclass dataset (e.g. 5 classes, 100 features, 1e4 samples) or something similar.

Ideally a fit should last at least 5s to 10s.

The code of the benchmark for estimators in the `sklearn.ensemble` package is hosted here:

- https://github.com/scikit-learn/scikit-learn/blob/master/asv_benchmarks/ben

[2020-11-06 16:03] ogrisel opened #18776 "Updade the maintainers' guide to use the new Wheel Builder github actions tool"
Now that #17921 was merged, we need to update the maintainers doc for the new release process:

https://scikit-learn.org/dev/developers/maintainer.html#releasing

/cc @alfaro96

In particular we should mention that it's important to make sure that the pyproject.toml file is up to date and using the oldest version of numpy for each python version (and don't forget to add a new line if we support a

[2020-11-06 16:06] ogrisel commented on #18776
I labeled this for 0.24 but this is actually not strictly needed to make the release happen but it's better to keep the doc in sync while we are on it.

[2020-11-06 17:58] #18752 closed

[2020-11-06 18:34] NicolasHug commented on #18765
Closed by https://github.com/scikit-learn/scikit-learn/pull/18766

[2020-11-06 18:34] #18765 closed

[2020-11-06 18:39] NicolasHug commented on #18775
Thanks for opening the issue

For prediction we can probably consider quite a bit more samples (1e6?)

We should also have 2 versions for each benchmark: one with OMP_NUM_THREADS set to 1, and one where we let it to the default (which is hopefully not sufferring from oversubscription). Some changes can be dramatically bad in the multi-threaded case and yet would go undetected in single-threaded be

[2020-11-06 19:06] ogrisel opened #18778 "cibuildwheel github actions workflow fails to upload to anaconda"
I am not sure what's going on:

https://github.com/scikit-learn/scikit-learn/runs/1365278668?check_suite_focus=true

The filename seems to be correct to me...

/cc @alfaro96

[2020-11-06 20:44] alfaro96 commented on #18778
@thomasjpfan realizes that we need to checkout `scikit-learn` to get the script to upload Anaconda.

(Thank you)

[2020-11-06 21:36] alfaro96 commented on #18776
I will have a look @ogrisel 😉

[2020-11-06 21:36] alfaro96 commented on #18776
Take

[2020-11-07 07:42] Rubix982 commented on #18692
@Dpananos please take a look at the PR. Thanks!

[2020-11-07 11:17] oncina opened #18783 "fetch_openml does not cache the data"
It seems that fetch_openml is not caching the data.

If I run:

[code]
I obtain:
[code]
I expected the second time will be much lower than the first one.

Versions:

[code]

[2020-11-07 16:27] rth commented on #18783
It caches the HTTP result from the OpenML server, but indeed not the reconstructed dataframe. The bottleneck is in loading the arff file.
As as workaround you can wrap it additionally in [`joblib.Memory`](https://joblib.readthedocs.io/en/latest/generated/joblib.Memory.html),
[code]

 to make sure that the final output is cached.

There was a proposal to do that in https://github.com/scikit-learn/s

[2020-11-07 17:23] oncina commented on #18783
Thank you very much, this solve my problem with some minor changes ;-)

[code]

[2020-11-07 18:56] #18783 closed

[2020-11-08 06:02] lucyleeow commented on #5898
I think this can be closed by  #16625

[2020-11-08 07:40] lucyleeow commented on #7821
PR #7985 is stalled, this issue is open to take

[2020-11-08 11:13] rworreby commented on #18733
I tried reproducing your error with the following setup (I could not find your setuptools version):

However, I can not reproduce your issue. I don't think that what you're experiencing is a sklearn issue (other than that it takes some time for the RandomizedSearchCV to release the workers).

See below the output from running the code.
<details>
  <summary markdown="span">Output from running your

[2020-11-08 17:39] ch-asimakopoulos commented on #18621
any news regarding this?

[2020-11-08 19:03] adrinjalali commented on #18621
you can already install it (I think) using `conda install -c conda-forge scikit-learn`. Otherwise the new release will be out in about 2 weeks.

[2020-11-08 20:01] Mridul20 commented on #18621
@adrinjalali  ok

[2020-11-08 21:26] ogrisel commented on #18778
I merged #18779 but it failed with:

[code]

will have a look tomorrow if nobody does it in the mean time.

[2020-11-08 21:28] ogrisel commented on #18775
Setting the `OMP_NUM_THREADS` environment variable for a single test is probably not easy for asv, but we can use threadpoolctl from within the test instead.

[2020-11-08 22:19] alfaro96 commented on #18778
I will open a PR in a few minutes solving the issue. The problem is that the `artifact` directory is included (and not only the artifacts within it).

[2020-11-09 04:22] vsocrates opened #18789 "Proximity Matrix in RandomForestClassifier"
#### Describe the workflow you want to enable

I think it would be great to formally implement the computation of a proximity matrix in the RandomForestClassifier class.

#### Describe your proposed solution

I think the problem is pretty well-described. I propose implementing it as such:

-- http://gradientdescending.com/unsupervised-random-forest-example/

like

[code]

#### Describe alternative

[2020-11-09 07:50] evax opened #18790 "OrthogonalMatchingPursuit reproducibility with OpenBLAS and different number of cores"
We've been experiencing reproducibility issues with _OrthogonalMatchingPursuit_ in different computing environments.
The output has been very stable for us when running on hosts with two cores, but we noticed we were getting different results on hosts with eight cores.
The two result sets are stable, but different.

Searching the project's issues it looks like there was some OMP reproducibility is

[2020-11-09 08:46] ogrisel commented on #16522
Indeed the documentation in the user guide says that regression is supported but looking at the code of the predict it does not seem to be the case (and in the docstring either) and we raise the following exception when passing a continuous valued `y_train` to fit:

[code]

I don't think there is a natural extension of `LabelPropagation` to regression tasks.

[2020-11-09 08:46] glemaitre opened #18791 "Solve inaccuracy in User Guide of LabelPropagation"
After investigating in #16522, the user guide documentation of LabelPropagation, mentioned that it can be used in a regression: https://scikit-learn.org/stable/modules/label_propagation.html#label-propagation

However, the current implementation only supports classification. The documentation should be improved.
We should as well improved the docstring.

[2020-11-09 08:47] ogrisel commented on #16522
Closing in favor of #18791 to improve the doc. Thanks for the report @yujianyuanhaha .

[2020-11-09 08:47] #16522 closed

[2020-11-09 09:19] cmarmo commented on #17074
Hi @AutoViML , sorry for the late reply. Indeed, thanks for letting us know about your library. Do you mind proposing a pull request adding Auto_ViML to the documentation in the [`related_projects.rst`](https://github.com/scikit-learn/scikit-learn/blob/master/doc/related_projects.rst) file? Thanks!

[2020-11-09 09:19] ogrisel commented on #16563
Reading the notebook, I do not understand what "imputation and scaling" in @jnothman's comment refer to.

I think the source of the problem is that you reuse the same CV splitter instance twice and this is a known pitfalls our way to control the determinism of those  randomized CV splitters with out current API, see:

https://scikit-learn.org/dev/common_pitfalls.html#cv-splitters

I adapted your c

[2020-11-09 09:19] #16563 closed

[2020-11-09 09:42] cmarmo commented on #6809
See @ogrisel [comment](https://github.com/scikit-learn/scikit-learn/pull/12867#issuecomment-723894325)

[2020-11-09 09:47] #6809 closed

[2020-11-09 09:53] Ankit810 commented on #18791
take

[2020-11-09 10:12] #18778 closed

[2020-11-09 10:16] lucyleeow commented on #8961
Closing due to not enough information.

[2020-11-09 10:16] #8961 closed

[2020-11-09 10:20] glemaitre commented on #18072
There is an ambuiguity with `handle_unknown="ignore"` and `drop!=None`.
Take the following example with catagories `male/female` and with some missing values: `X = ["male", "female", np.nan]`.
The encoding with `handle_unknown="ignore"` will give:

[code]
Forcing to drop one of the columns will lead to

[code]
Thus `nan` and `male` (or `female`) will be encoded together.
So if you want to drop wit

[2020-11-09 10:23] lucyleeow commented on #17381
Closing due to not enough information.

[2020-11-09 10:23] #17381 closed

[2020-11-09 10:33] glemaitre commented on #18072
Just rewriting my message because it was confusing:

[code]
[code]

In the above case, `handle_unknown="ignore"` allows to encode an unseen category `"c"` at transform time.
If we were dropping a column in this setting, we would get `"a"` and `"c"` with the same encoding.

Therefore, the only way be able to drop a column is to indicate the categorie beforehand:

[code]
[code]

[2020-11-09 10:37] glemaitre commented on #18072
Be aware that `np.nan` would be seen as any other category:

[code]
[code]

[2020-11-09 10:38] ogrisel commented on #5950
I cannot reproduce this problem on random data with duplicated columns:

[code]

So 100% explained variance which looks fine given the repeated columns. Only the first 10 components of the 20 components extracted by IPCA have an explained variance larger than 0 (up to machine precision) which agrees with the fact that the original data has rank 10 given duplication.

Closing this. @crbrinton if yo

[2020-11-09 10:38] #5950 closed

[2020-11-09 10:50] ogrisel commented on #18072
I think having `drop="if_binary"` and `handle_unknown="ignore"` is still potentially valid as it's then easy way to get rid off collinear features on the training set for "close to binary categorical variables".

The rare test features will be mapped to 0 which can represent "a" or "b" arbitrarily but those values are very rare and we cannot use them to do meaningfully generalizeable predictions b

[2020-11-09 10:53] quhuanyu414 opened #18793 "Trying to use RFE to realize the functionality of RFECV"
#### Describe the bug

I have tried to use `sklearn.feature_selection.RFE` to realize the functionality of RFECV.  I have designed an experiment with 12 features. When I use `sklearn.feature_selection.RFE`, I let the parameter `n_features_to_select` = 1, ..., 12 and after that I use `sklearn.model_selection.cross_val_score` to get the average cross validation score for each `n_features_to_select`.

[2020-11-09 11:00] alfaro96 commented on #18778
Hurray, the wheels have been finally uploaded to [Anaconda cloud](https://anaconda.org/scikit-learn-wheels-staging/scikit-learn).

[2020-11-09 11:11] ogrisel commented on #16642
Still it's weird to get such a smaller accuracy just by uniformly re weighing the first fit by `sample_weight=np.ones(n_samples) / n_samples` instead of `sample_weight=None` or equivalently `sample_weight=np.ones(n_samples)`.

[2020-11-09 11:14] lucyleeow commented on #17347
Closing due to lack of information

[2020-11-09 11:14] #17347 closed

[2020-11-09 11:18] ogrisel commented on #16642
This is probably related to #15657.

[2020-11-09 11:21] Ankit810 commented on #18791
take

[2020-11-09 13:29] glemaitre commented on #8749
This should be linked with https://github.com/numpy/numpydoc/issues/299

[2020-11-09 14:04] ogrisel commented on #18073
We should definitely add an option to `FunctionTransformer` to make it possible to implement `get_feature_names` for element wise functions that implement a one-to-one mapping (which is very often the case in practice).

For the other case,  `FunctionTransformer` could accept another optional callable constructor argument that makes it possible for the user to specify how to compute output feature

[2020-11-09 14:09] ogrisel commented on #18073
@melgazar9 has for your example, why not specify two different transformers for integer encoded categorical variables (without nan values) and string encoded categorical variables (possibly with nan values treated as categories)?

[2020-11-09 14:19] ogrisel commented on #18778
Let me disable the old nightly builds and update the readme of the old wheel build report to point to the new system.

[2020-11-09 14:44] glemaitre commented on #8749
I am closing this issue since I reported it upstream and solve it there.
If we need to implement something on our side, I will open a new specific issue.

[2020-11-09 14:44] #8749 closed

[2020-11-09 15:08] melgazar9 commented on #18073
@ogrisel - Hey so that is definitely a reasonable solution in a small project, but when there are tens of thousands of features and I want to automatically detect and transform the categorical features this solution would require me to manually figure out which features are categorical / numeric.

Someone above mentioned I should know all of my features and read the data in properly in pandas. Tha

[2020-11-09 17:02] thomasjpfan opened #18798 "Do we have a good enough reason to enforce tags?"
With https://github.com/scikit-learn/scikit-learn/pull/18797 we are making tags an optional requirement for third-party estimators. If there was a compelling reason to adopt tags, I would think that third-party developers would adopt it.

Currently, the tags are use to hold the metadata of an estimator. This is mostly use in our estimator checks.

One of the selling points is that the tags can rep

[2020-11-09 17:05] marenwestermann commented on #14312
I ran the script provided by @amueller at the top of this PR (the code needs to be slightly modified because things have moved around). I couldn't find any more attributes that need to be documented with the exception of `n_features_in_` which I see has been introduced in #16112. This attribute is undocumented in I think all classes it was introduced to. Should it be documented?
ping @NicolasHug

[2020-11-09 20:44] lorentzenchr commented on #15123
I did some benchmarking for the log-loss calculated on ndarrays of shape `(N,)`, [here](https://github.com/lorentzenchr/notebooks/blob/master/bench_logloss_Cython.ipynb). It compares the same function implemented as

- numpy `np_logloss`
- cython loop over single sample C function `p_logloss`
- cython loop in class method over static C member function (same as above but all within a class) `Loglos

[2020-11-09 20:59] lorentzenchr commented on #15123
Another question of mine is how important is parallelism, i.e. `prange` is used only in the histogram-based gradient boosting trees? @NicolasHug, @thomasjpfan or @ogrisel maybe?

[2020-11-09 23:34] c-sachdeva commented on #18621
Kindly update us! thanks.

[2020-11-10 06:18] nschmeller opened #18803 "Documentation for CountVectorizer suggests strange bounds for max_df param"
#### Describe the issue linked to the documentation

In [the documentation](https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f871d60370/sklearn/feature_extraction/text.py#L1599) for CountVectorizer `stop_words` replacement with `max_df`, `max_df` is suggested to have bounds `[0.7, 1.0)`.

But, [the documentation](https://github.com/scikit-learn/scikit-learn/blob/0fb3

[2020-11-10 08:25] cmarmo commented on #12730
Closing as fixed in #17432.

[2020-11-10 08:25] #12730 closed

[2020-11-10 08:37] glemaitre commented on #18798
FWIW, we start to use tags for our own test suite (e.g. run some checks on sampler supporting Dask array and dataframe).
But it is also limited currently because scikit-learn does not have a stable API on the testing framework (cf. #18750) which might be a little refraining as a usecase for most third-party libraries.

#18797 is indeed making the use of tag optional. However, it should be noticed

[2020-11-10 09:20] marianne-aspbury commented on #12865
Hi, sorry to reply here but I don't understand how to use refit for this purpose, could one of you please explain? I have the same issue where the mean_test_score (based on mean absolute error) is slightly lower for one value of C in a linear SVR but the mean_std_score is high. I would like to use a combination of mean_test_score and mean_std_score to pick the C. Is it possible with refit? It is n

[2020-11-10 09:51] glemaitre commented on #18793
You forgot to make a nested cross-validation in the first case. You can refer to:

* https://scikit-learn.org/stable/auto_examples/model_selection/plot_nested_cross_validation_iris.html
* https://scikit-learn.org/dev/common_pitfalls.html#data-leakage

You should use a pipeline in all cases to avoid data leakage.
Once the pipeline fitted, you can use the output of `cross_validate` to inspect the va

[2020-11-10 09:51] #18793 closed

[2020-11-10 09:57] glemaitre commented on #18773
I am closing this issue since we already have a PR and associated issue and an entry in the scikit-learn road map.

[2020-11-10 09:57] #18773 closed

[2020-11-10 11:08] brechtmann commented on #4223
Is this Issue still under development? I just ran into the same problem as @trevorstephens.

I came up with the following minimal example:
[code]

![image](https://user-images.githubusercontent.com/37140213/98666072-c84e6680-234c-11eb-8a34-b1f4216895bc.png)

Running the same in R using the PRROC package yields a different curve:
[code]

![image](https://user-images.githubusercontent.com/37140213/9

[2020-11-10 13:36] glemaitre commented on #16642
Indeed to get the equivalence, one could multiply `C` by the number of samples.

FYI:

[code]
[code]

Of course, we still have an issue in scikit-learn because we do not have a consistent formulation of `sample_weight` in the different estimator.

[2020-11-10 13:41] #18791 closed

[2020-11-10 13:45] glemaitre commented on #16144
You should not do that. I am pasting the snippet of documentation and lock this thread.

[code]

[2020-11-10 13:59] glemaitre commented on #18498
@bhargavasomya sorry for the delay to answer. The issue is still open and you can submit a pull request

[2020-11-10 14:14] glemaitre commented on #18611
Thanks. This need to be added inside the PR.

[2020-11-10 15:06] AutoViML commented on #17074
Thanks Scikit-Learn/Scikit-Learn team. I have sent in the pull request to
related_projects.rst file. Please review and approve.
Ram

On Mon, Nov 9, 2020 at 4:19 AM Chiara Marmo <notifications@github.com>
wrote:

[2020-11-10 15:29] btel commented on #18611
no problem, let me know if you need help with the PR

[2020-11-10 19:11] btel commented on #18611
Sure, I will have a go

[2020-11-11 03:20] hshrimp opened #18809 "the Parameters activation of MLPClassifier is miss "softmax", found the "softmax" works and it actually exists but miss in Documentation."
#### Describe the issue linked to the documentation

the Parameters activation of MLPClassifier is miss "softmax", found the "softmax" exists and it actually works but miss in Documentation.
#### Suggest a potential alternative/fix
add the "softmax" into Documentation of MLPClassifier, I don't know other function isn't miss this  declare in Documentation.

[2020-11-11 03:31] ndingwall commented on #4223
The problem here is not so much with the first interpolating point (although I agree that it's confusing), but with using linear interpolation between operating points. There is no threshold that results in (recall=0.8, precision ~0.4) in the example above, and so linearly interpolating isn't valid. Consider the even more extreme case of a do-nothing predictor:

[code]

<img width="379" alt="Scree

[2020-11-11 03:38] ndingwall commented on #4223
Since this is a common error, perhaps we could add an instruction in the `precision_recall_curve` docstring instructing people to plot it using `plt.step(recall, precision, where='post')` and then close this issue. @amueller what do you think?

[2020-11-11 07:40] rth commented on #18798
None that I can think of. I think you summarized the main points well. But we can also ask for feedback from maintainers of scikit-learn compatible projects, to get a better idea of how they feel about tags.

[2020-11-11 11:32] glemaitre commented on #17074
Closing after merging the related PR

[2020-11-11 11:32] #17074 closed

[2020-11-11 11:34] glemaitre commented on #18798
Actually an issue where a developer of a third-package wanted to use tags programmatically in their own estimator. It might be difficult to find the comment through our issue tracker.

[2020-11-11 12:20] AutoViML commented on #17074
Thank you.
Ram

On Wed, Nov 11, 2020 at 6:32 AM Guillaume Lemaitre <notifications@github.com>
wrote:

[2020-11-11 14:24] #17915 closed

[2020-11-11 14:56] DanilZherebtsov commented on #18733
Hi rworreby, thanks for looking into this issue!

Could you please explain what does your comment "Built with OpenMP: True" mean and how do I check my current status on this setting?

P.S. I have managed to solve the problem by inserting in the beginning of my program:
import multiprocessing
multiprocessing.set_start_method('forkserver')
as this is explained here: [(https://scikit-learn.org/stable

[2020-11-11 15:38] zealseeker commented on #17436
I am making a custom criterion. Here is my way:
Create a new class mimicking an existing criterion class, such as Entropy (https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/_criterion.pyx#L505-L585). So we just need to define two functions.

Then you need to instantiate the criterion. (See how the classier instantiate it internally when you give a string rather than a criterion

[2020-11-11 15:57] rworreby commented on #18733
Dear Danil,

The `Built with OpenMP: True` is part of the output from `print(sklearn.show_versions())` and if you look closely it is also included in your original post. OpenMP is one of the backends that can be used to parallelize code in Python.

Looks like the FAQ is already covering the issue (your link), here is the corresponding issue from Python, outlining what happens: [https://bugs.python

[2020-11-11 17:33] thebabush opened #18812 "TfidfTransformer: idea to avoid unnecessary copy of csr matrices"
#### Describe the workflow you want to enable

`TfidfTransformer.transform(X, copy=False)` shouldn't make copies of X but it does.
By _shouldn't_ I mean I didn't expect it to happen.

#### Describe your proposed solution

If both `X` and `self._idf_diag` are CSR matrices, one can do:

[code]

...that is, if I'm not mistaken.

This can ofc be implemented efficiently in cython (there might be even s

[2020-11-11 19:28] bdpedigo opened #18813 "Reference to `MultiTaskElasticNet` should be `MultiTaskElasticNetCV`"
#### Describe the issue linked to the documentation
In the docs for `MultiTaskElasticNet`, there is a reference that I think should be to the class `MultiTaskElasticNetCV`
as opposed to referencing `MultiTaskElasticNet` (the same class).

https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f871d60370/sklearn/linear_model/_coordinate_descent.py#L1825

#### Suggest a pote

[2020-11-11 21:46] hsorsky commented on #18710
@jnothman

Having read through, yes I think something similar might work in a somewhat hacky way:
- Have `fit` perform fitting you later require in "test" setting.
- Have `transform` perform transforming you require in "test" setting.
- Have `fit_transform` call `fit` and perform transforming you require in the "train" setting.

With doing so relying on the fact that when we call fit on a pipeline

[2020-11-11 22:55] #18813 closed

[2020-11-11 23:54] jrbourbeau opened #18815 "Error raised during grid search on pipeline with None for transformer step"
#### Describe the bug

When performing a grid search on a pipeline that has `None` for a transformer step, an `AttributeError` is raised. This snippet below previously ran successfully with `scikit-learn==0.23.2` but no longer works the `0.24.dev0`.

#### Steps/Code to Reproduce

[code]

#### Expected Results

The `GridSearchCV.fit` call is able to successfully complete

#### Actual Results

The f

[2020-11-12 00:21] sahilgupta2105 commented on #18524
@thomasjpfan I opened a pr on this a few days back. Can I please get some feedback on that?

[2020-11-12 05:38] ljburtz commented on #12716
@ogrisel I am also trying to get the explained variance of pca on a 'test set' from a pca model that was fitted on 'train set'
I am very interested in the one liner you had in mind!
However if I test your one liner on the 'train set' (X)  I don't get the same results as the builtin pca.explained_variance_ratio_:

[code]
[code]

So far I'm using this [solution from TomDlt](https://stackoverflow.com

[2020-11-12 05:45] ljburtz commented on #12716
explained_variance() function needed for the toy snippet above
[code]

[2020-11-12 09:10] zkid18 opened #18817 "Exponential gain function in dcg calculation"
#### Describe the workflow you want to enable
Please correct me if I wrong.
Currently, the DCG score is [calculated](https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f871d60370/sklearn/metrics/_ranking.py#L1057) with the linear gain function.
[code]

However, in the industry, we use the alternative formulation of DCG as an exponential function, such as
` gains = 2 **

[2020-11-12 09:12] zkid18 commented on #18817
A couple of references of dcg calculation with a dedicated interface for gain function selection:
 https://gist.github.com/mblondel/7337391
https://github.com/catalyst-team/catalyst/blob/master/catalyst/metrics/ndcg.py (disclaimer: author of the patch)

[2020-11-12 09:15] zkid18 commented on #18817
Reference for DCG calculation from cs276 Stanford slides
https://web.stanford.edu/class/cs276/handouts/EvaluationNew-handout-6-per.pdf

[2020-11-12 13:54] juacarri opened #18819 "Error obtaining the mean distance of BallTree Neighbors"
#### Describe the bug
I'm getting the error "ValueError: operands could not be broadcast together with shapes (5,) (4,)" when I try to obtain the mean distance of the neighborhood of 50 points. The distance of the neighborhood is calculated using the function BallTree. The query of this function is returning a numpy double array with the distance between the central point and the neighborhood, and

[2020-11-12 14:24] lqrz opened #18822 "GridSearchCV parallel predict_proba()"
#### Describe the bug

I'm using sklearn's GridSearchCV over an sklearn's pipeline, and when calling `predict_proba()` the underlying model (which is, by default supposed to be running on `n_jobs=-1` cores) runs on only 1 core.

#### Steps/Code to Reproduce

[code]

#### Expected Results

Inference running on all cores.

#### Actual Results

Inference running on 1 core.

#### Versions

[code]

[co

[2020-11-12 14:31] olanag1 opened #18823 "CountVectoriser on custom tokenizer gives allways 1 count"
Hello,

I'm trying to pass a custom tokenizer to CountVectorizer to count occurencies of the words in one document. As a result the words are splitted correctly but the counts are always 1.

[code]
To bypass this issues I have first run the function _get_vocabulary()_ to obtail the list of words and than passed it as a vocabulary. In this case the counts were correct.

[code]

[2020-11-12 15:09] aboucaud opened #18824 "Incoherent results of supposedly reproducible piece of code"
I was giving a tutorial these days when someone stopped me because `random_state=0` was passed in the `train_test_split()` but their score did not match mine. I asked all the participants for their score. Some had the same, up to the last decimal, and the others had slightly different answers.

Here is the piece of code executed:

[code]

I have no idea if this behavior is to be expected since I d

[2020-11-12 16:56] jeremiedbb commented on #18819
`query_radius` returns an array of arrays, not a 2d array. Each array contains the distance between a point an its neighbors. There might be a different number of neighbors for each point.

If you want the average value of all the distances, you can flatten the array and then take the mean:
``np.concatenate(distance_Neighbors).mean()`` for instance

[2020-11-12 17:53] serralba opened #18825 "MemoryError on large binary datasets"
I am using quite a large dataset with thousands of one-hot-encoded features. I use np.int8 in my code as it is enough to store those binary values and the RAM needed to store this data is about 5GB. However, when I try to train a LinearSVM, my data is converted to np.float64 datatype, thus needing near 40GB of RAM and raising MemoryError on python.

I was wondering why this parameter is hardcoded.

[2020-11-12 21:11] glemaitre commented on #18825
The reason is that we rely on `liblinear` which is coded in C that expects a specific data type. A part of recoding `liblinear` specifically for integer, there is no way to handle this case.

Making linear algebra with integer should not make sense I think.

However `float32` algorithms should be feasible but we would need to reimplement all algorithm.

[2020-11-12 21:11] #18825 closed

[2020-11-12 21:15] glemaitre commented on #18824
@aboucaud I get a convergence warning by running your example.

Could you make a pipeline and make sure to standardize the data:

[code]

[2020-11-12 21:18] glemaitre commented on #18824
On the original example, I get a convergence after `1574` iterations. The default `max_iter` is `100`.

Normalizing data, I get a convergence after `31` iterations.

[2020-11-12 22:49] PedroUria commented on #12865
@marianne-aspbury check [this](https://colab.research.google.com/drive/1UdhvUJLGnTvMwAoRQ85QUlPt2qgM7guy) out. `find_best_index_` is a quick example of a function that does something like this. Note that I hardcoded the values of `cv_results_` inside the function to showcase the functionality.

I hope this helps!

[2020-11-13 00:21] jnothman commented on #18710
Ahh okay, so a bit like using predicted y in stacking to train the next
layer. Mu

On Thu, 12 Nov 2020, 8:46 am Henry Sorsky, <notifications@github.com> wrote:

[2020-11-13 00:27] jnothman commented on #18710
Yes, I think this need to use a generated dataset, effectively, at training
time, is handled by the resampling functionality. Similar to using kfold y
in stacking.

[2020-11-13 07:12] prateekkrjain opened #18827 "Unable to calculate silhouette_score using a sparse matrix"
I am trying to calculate silhouette_score or silhouette_samples using a sparse matrix but getting the following error:

**ValueError: diag requires an array of at least two dimensions**

The sample code is as follows:

[code]

[2020-11-13 08:30] xandercage434 opened #18828 "Parsing and searching through JSON in PHP"
I'm pursuing [Data Analytics Training](https://intellipaat.com/data-analytics-master-training-course/) I need some help with parsing and looking through JSON result with PHP. Within the example result below, I need to check against the categories of technology.

The outcome I would expect is that if the category analytics has been found, to flag this with a true variable, and also to set the varia

[2020-11-13 08:53] #18828 closed

[2020-11-13 09:18] juacarri commented on #18819
Sorry for the definition of the returns, but I only copied and pasted the sentence from the [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.BallTree.html#sklearn.neighbors.BallTree.query_radius).
The point is that I am not trying to obtain the mean distances of all the points. I'm trying to obtain the mean distance of each point with its neighborhood. I mean, th

[2020-11-13 09:36] jeremiedbb commented on #18819
If you want the average distance for each point, you can use list comprehension: `[distances.mean() for distances in distance_Neighbors]` or if you want to stick to numpy arrays, you need to vectorize the mean functions: `np.vectorize(np.mean)(distance_Neighbors)`

[2020-11-13 09:45] juacarri commented on #18819
Thank you so much for your answer Jeremie!! Finally I use this option to don't affect too much to the speed of the process: np.vectorize(np.mean)(distance_Neighbors)

[2020-11-13 09:45] #18819 closed

[2020-11-13 10:38] robguinness opened #18829 "Documentation for accuracy_score shows the wrong return types"
#### Describe the issue linked to the documentation

The [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html?highlight=accuracy_score) for `sklearn.metrics.accuracy_score` says that it returns a float in the case of `normalize==True` and an integer in the case of `normalize==False`. In reality, it is returning `numpy.float64` and `numpy.int64`.

##

[2020-11-13 10:42] aboucaud commented on #18824
Right, it was not optimal for testing. I agree.
Do you think that convergence could explain the difference in the result ?

[2020-11-13 10:48] glemaitre commented on #18824
I think it could.
What is for sure is that if the algorithm is converging, it should give the same results.

[2020-11-13 11:08] aboucaud commented on #18824
Alright, I'll send back the standardised version to the participants to check.

[2020-11-13 11:10] glemaitre commented on #18824
What would be interesting is to know if they got a warning as well.
Did you get one on your side?

[2020-11-13 11:29] aboucaud commented on #18824
I do indeed. This is weird, I don't recall seeing those warnings when we all did the test live. And usually I do care about them :)
But it was more than a month ago and the last day of a week of training. I was probably tired.

Anyway let's just wait for their output and we'll know for sure if I was careless.

[2020-11-13 13:06] Bunoviske commented on #16998
Hello. I can still replicate this error in the new sklearn version 0.23.2. This example code shows the error happening when y_true has just one unique value and I exclude this one unique value from the labels parameter:

`import sklearn.metrics as metrics
import numpy as np
y_pred = np.array([13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13,
        13, 13, 13, 13, 13, 13, 13

[2020-11-13 13:39] NicolasHug commented on #18305
I didn't realize that the code in the UG is not executed by sphinx, and thus we can't see diagrams in the UG. It seems that we should create a dedicated example then, with various pipelines / estimators of different complexity. Would you be interested in doing that @reshamas ? @hongshaoyang also showed interest

Some examples of estimators worth rendering (feel free to deviate):

- single estimato

[2020-11-13 14:13] ogrisel commented on #17543
It looks like a race condition in `ThreadingBackend` in joblib. Changing the pickler should not change anything because it is not used with this backend.

Which version of joblib are you using? Can you reproduce the issue with the latest release of joblib?

[2020-11-13 14:16] ogrisel commented on #17543
Also where is the class `RandomForestQuantileRegressor` defined? it's not part of vanilla scikit-learn. Are you using an extension? If so which version? Could please provide a minimal reproduction case on synthetic data (e.g. use `np.random.randn` to generate random data), including all the import statements in your code snippet?

[2020-11-13 14:31] cmarmo commented on #16998
@Bunoviske the fix is in the current development version. Will be available in 0.24.

[2020-11-13 14:53] hongshaoyang commented on #18451
take

[2020-11-13 16:12] reshamas commented on #18305
@NicolasHug
Would the examples:
1. be created here:  https://github.com/scikit-learn/scikit-learn/tree/master/examples
2. Would we add a new sub-folder for "examples/pipelines" OR
- put SVC example under "/svm"
- put ColumnTransformer under "/preprocessing"
- put basic pipeline --> ?
- put GridSearch --> ?

[2020-11-13 16:13] NicolasHug commented on #18305
I think we can just put it in `examples/miscellaneous`

[2020-11-13 16:21] reshamas commented on #18305
You mean we need a few examples, but in **one file** called `/examples/miscellaneous/pipeline.py`?

[2020-11-13 16:24] NicolasHug commented on #18305
yes, though the file name needs to be named `plot_xyz.py` so I'd suggest `plot_display.py`

By example I mean one entry in https://scikit-learn.org/stable/auto_examples/index.html. Each of these are 1 file. In the example, we can illustrate more than once estimator (all of them, actually)

[2020-11-13 16:29] #18451 closed

[2020-11-13 17:35] ogrisel opened #18837 "Duplicate check_finite when calling scipy.linalg functions"
Most functions in `scipy.linalg` functions (e.g. `svd`, `qr`, `eig`, `eigh`, `pinv`, `pinv2` ...) have a default kwarg `check_finite=True` that we  typically leave to the default value in scikit-learn.

As we already validate the input data for most estimators in scikit-learn, this check is redundant and can cause significant overhead, especially at predict / transform time. We should probably alw

[2020-11-13 17:42] ogrisel commented on #18837
Use the following command to find scikit-learn modules that might have this problem:

[code]

[2020-11-13 18:05] jsrozner opened #18838 "train_test_split: random_state applies only to a single function call"
#### Describe the bug
Perhaps this is working as intended, but given the documentation string it was unexpected for me.

When using two calls to `train_test_split` with a `random_state` passed only to the first call (to generate train, dev, test sets), random_state applies only to the first function call and not the second. Documentation says "pass an int for reproducible output across multiple fu

[2020-11-13 18:28] #18613 closed

[2020-11-13 18:28] #6279 closed

[2020-11-13 18:34] NicolasHug commented on #18838
This is as intended

This means that if you pass something else than an int, e.g. None or a numpy RandomState instance, you'll get different results when calling it multiple times.

Leaving it out will use the default, i.e. None.

[2020-11-13 19:01] ogrisel commented on #18837
/cc @jeremiedbb

[2020-11-13 19:55] hmonteiro commented on #14251
I was also bit by this. I also am of the opinion that if a column is not used at fit time (i.e. it's nor part of any selection and remainder is set to `drop`) it should not fail at transform time.

[2020-11-14 01:25] hongshaoyang commented on #16760
take

[2020-11-14 05:45] Adityagurati commented on #18621
how many will it take to launch sklearn in  python 3.9

[2020-11-14 07:19] NicolasHug commented on #18829
Did you run into an issue because of the doc? Unless we have a good reason, I don't think it's worth opening a PR to change `float` into `np.float64`

[2020-11-14 07:26] NicolasHug commented on #18824
I get convergence warning too, and no warning when standardizing the data.

I also get consistent results across executions in both cases.
 There would be a problem if we didn't get reproducible results across executions on the same machine, but slight variations across machines are to be expected especially when the model didn't converge.

I'll close the issue, feel free to re-open if you observe

[2020-11-14 07:26] #18824 closed

[2020-11-14 07:39] NicolasHug commented on #18822
Are you certain that the default for n_jobs in `predict_proba` really is -1? In both `GridSearchCV` and `Pipeline` we just call `predict_proba` with its default parameters so it's surpring that LGBM uses something else, unless the default is 1.

What happens when you leave the default?:

`y_pred_probs_test = grid_searcher.best_estimator_.named_steps['classifier'].predict_proba(df_test_x)[:, 1]`

A

[2020-11-14 08:11] NicolasHug commented on #18815
Thanks for the report @jrbourbeau , we can reproduce. We're investigating the best solution in the different issues linked above if you're interested

[2020-11-14 08:13] NicolasHug commented on #18815
I'll mark it as a blocker because the error will not just appear when using `None`, but when using any step  that doesn't have `_get_tags` attribute (likely because it doesn't inherit from `BaseEstimator`)

[2020-11-14 12:49] jnothman commented on #18305
I think we might also explicitly have "Tip(s) for scikit-learn in jupyter"
to mention this.

[2020-11-14 12:51] NicolasHug commented on #18305
where? should this just be the example? I'm not sure we have enough material about scikit-learn in jupyter to have a whole new UG chapter

[2020-11-14 13:02] SchernHe commented on #13176
Was there a solution to the issue? I feel like I am having the same error at the moment.

[2020-11-14 16:00] Pablo-GDT opened #18841 "importing KMeans from sklearn.cluster throws error"
#### Describe the bug

For some reason, I cannot import Kmeans from sklearn.cluster. However, importing other classes from sklearn.cluster e.g. DBSCAN and Birch works without issue. Indeed, importing sklearn. cluster alone doesn't result in an error nor have I had any issues importing elsewhere from sklearn e.g sklearn.decomposition or sklearn.mixture. I can import the function k_means without any

[2020-11-14 21:05] thomasjpfan commented on #18827
Thank you for filing this issue @prateekkrjain !

Since thi

[2020-11-14 21:05] #18827 closed

[2020-11-14 22:03] jnothman commented on #18305
I don't really know. In a tutorial?

[2020-11-14 23:39] jnothman commented on #12865
Have you looked at this example?
https://scikit-learn.org/stable/auto_examples/model_selection/plot_grid_search_refit_callable.html

[2020-11-14 23:41] jnothman commented on #18823
A tokenizer's job is not to get the vocabulary. It's to get the list of token strings in a *specific* piece of text.

[2020-11-14 23:41] #18823 closed

[2020-11-14 23:44] jnothman commented on #18812
Yes, adding a copy parameter to TfidfTransformer would be welcome. It
should then default to False when used through TfidfVectorizer. Would you
like to open a pull request?

[2020-11-15 01:23] thebabush commented on #18812
Actually it already has one, but it just avoids copies when normalizing. I would like to open a PR, but as I said, I kind of need some direction on how to implement the loop part efficiently... Mostly where to put it or whether I can reuse something existing. I've seen you use cpp for this kind of stuff?

[2020-11-15 08:00] NicolasHug commented on #18305
I wouldn't recommend a tutorial because our tutorials page needs some work: #18257. We use the examples nowadays for tutorial-like entries, e.g. [this](https://scikit-learn.org/dev/auto_examples/model_selection/plot_grid_search_stats.html#sphx-glr-auto-examples-model-selection-plot-grid-search-stats-py) or [this](https://scikit-learn.org/dev/auto_examples/inspection/plot_linear_model_coefficient_i

[2020-11-15 10:04] lorentzenchr commented on #16988
I milestoned it for 1.0 as I think #14042 and [SLEP011](https://github.com/scikit-learn/enhancement_proposals/pull/24) have a different focus and I would like to have support for the new numpy random `Generator`s, which have some clear advantageous over the old `RandomState`.

[2020-11-15 10:18] NicolasHug commented on #16988
Before milestoning it I think we need to collectively agree this is something that we want to support. A 1.0 milestone seems unrealistic to me considering that we aim at releasing 1.0 in place of 0.25/0.26

As noted above it would not be a trivial change, and our support for `RandomState` is already very complex and subtle, even for us (see [docs](https://scikit-learn.org/dev/common_pitfalls.html#

[2020-11-15 10:25] lorentzenchr commented on #16988
@NicolasHug I fully agree that we need to agree on this. But I wanted to give it some visibility. I can put it on the agenda of the next dev meeting and/or label it "breaking change" (though I think it does not need to break anything).

One large impact is that `Generator` will produce different random numbers than `RandomState`. But those have better properties of randomness and a faster in a sev

[2020-11-15 11:22] cmarmo commented on #18841
Hi @Pablo-GDT thanks for reaching out.

The name of the class is KMeans not Kmeans.

[code]
should work.

[2020-11-15 11:23] #18841 closed

[2020-11-15 11:25] rushikeshsuryawanshi commented on #18837
Hi, I would like to work on this issue. Can you suggest me ways to get started ? (My first try for contribution)

[2020-11-15 11:39] rth commented on #18812
In the end the issue is that scipy sparse doesn't have broadcasting support (https://github.com/scipy/scipy/issues/2128). What we want to do is,
[code]
where idf is a 1D array. Because broadcasting isn't supported, we have to fallback to that multiplication by the sparse diagonal matrice hack.

A more efficient workaround here, *assuming X is in CSR format* would be,
[code]
This would both use les

[2020-11-15 12:06] abhijeet1813 commented on #18809
I will do that :)

[2020-11-15 12:13] thebabush commented on #18812
Thanks for taking the time. I was thinking cython/C++ but your workaround is clever and simple, so even better. I'm preparing the PR (:

[2020-11-15 16:58] sadakmed commented on #18837
@rushikeshsuryawanshi  are you working on it?

[2020-11-15 17:07] rushikeshsuryawanshi commented on #18837
Not yet. But planning to. I'm a beginner.

[2020-11-15 20:07] sadakmed commented on #18837
@rushikeshsuryawanshi please do mention which module you are working on.

[2020-11-16 02:57] jnothman commented on #18812
Excellent. I'd been thinking of something along these lines.

There remains a small problem with memory, however: idf[X.indices] creates
a temporary array more-or-less directly proportional in size to that of X.
We might want to use a fixed amount of memory for this operation by
processing a slice at a time (but we probably want those slices to be
bigger than a single row, instead limited by the w

[2020-11-16 05:14] rushikeshsuryawanshi commented on #18837
@sadakmed I'm a beginner. If you want you can solve this issue.

[2020-11-16 06:52] rth commented on #18812
We should do that as well. It's a private attribute. And indeed move copy definition to __init__.

Is it still the case with,
[code]
? Otherwise yes, we can use batching.

[2020-11-16 08:31] gitanjalIthakur opened #18844 "The R2 value using linear regression model LinearRegression(fit_intercept=False)"
I have a question regarding the formulation use to estimate R2 in linear regression model with or without intercept as it was not clear in the documentation. I would like to know if the R2 estimation is different for LinearRegression(fit_intercept=False) and
LinearRegression(fit_intercept=True)

I am asking this because :
In this paper about regression through origin http://web.ist.utl.pt/~ist1103

[2020-11-16 10:39] mathschy commented on #18837
Hello, I would like to work on this issue. This will be my first contribution, so I am starting with the module `datasets`, which I think should be straightforward.

[2020-11-16 10:47] ogrisel commented on #18837
Please do not discuss who is working on it in the comments. Instead try to read the source code of the functions I mentioned in the descriptions, consider first working on a module that has a few occurrences of the scipy linalg function and open a first pull request that mentions this issue number in the description #18837 and the module name in the title, e.g. "Using check_finite=False in sklearn

[2020-11-16 11:37] jnothman commented on #18812
If this is a good speedup, then don't worry about it too much. I
think @thebabush can implement an initial PR which avoids the matrix
product. Then additional PRs or commits in the same can be used to move the
copy parameter and to limit overall memory cost.

On Mon, 16 Nov 2020 at 17:53, Roman Yurchak <notifications@github.com>
wrote:

[2020-11-16 11:52] #18260 closed

[2020-11-16 11:54] #18276 closed

[2020-11-16 12:44] hanshupe commented on #13106
Are there any news to integrate some kind of model tree (linear models as leaves) into scikit-learn? I think it would be an important feature for scikit-learn.

[2020-11-16 15:08] petrhrobar opened #18847 "Linear regression with a incremental calculation"
I think it would be nice to implement linear regression that allows for incremental calculation. Really nice pakcage that allows this in R is package *biglm* (https://github.com/cran/biglm)

I have not found any package in python that would calculate regression by incremental QR decomposition (Or any other).

I think it would be really nice feature to have.

[2020-11-16 20:54] Bougeant opened #18849 "Fix gradient boosting quantile regression"
#### Describe the workflow you want to enable

The quantile loss function used for the Gradient Boosting Classifier is too conservative in its predictions for extreme values.

This makes the quantile regression almost equivalent to looking up the dataset's quantile, which is not really useful.

#### Describe your proposed solution

Use the same type of loss function as in the scikit-garden package

[2020-11-16 20:55] Bougeant commented on #18849
Quantile regression with sklearn GB classifier

![image](https://user-images.githubusercontent.com/36014848/99307160-cd387c00-285e-11eb-89ca-ed0f7d73253f.png)

[2020-11-16 20:56] Bougeant commented on #18849
Quantile regression with skgarden RF classifier

![image](https://user-images.githubusercontent.com/36014848/99307268-eb05e100-285e-11eb-9f96-8c9e48b7c7be.png)

[2020-11-16 21:02] Bougeant commented on #18849
In a sense, it looks like sklearn's version is trying to match the actual outcome up to the value of the dataset quantile and then applies a cutoff.

For example, when the sklearn model predicts that the best-estimate value is 35, it should not predict that the 5% quantile is 15. In such cases skgarden is able to make much less conservative estimates (20 to 40).

The sklearn model overfits more th

[2020-11-16 21:43] jeremiedbb commented on #18775
I opened a PR, I don't deals with the number of threads for now. I'll do it in a separate PR because it involves a few other estimators like kmeans, t-sne, ... and I'm not sure how to do it yet

[2020-11-16 22:56] ogrisel commented on #10792
Actually it was an issue with the wheel packaging which is going to be fixed for the 0.24 release wheels: #18802.

[2020-11-16 22:56] ogrisel commented on #13245
Actually this was probably caused by a packaging error in the wheels which is going to be fixed in #18802.

[2020-11-16 22:59] ogrisel commented on #15023
This was a packaging error with the scipy wheels wheels which is fixed in recent versions of the scipy wheels:

https://github.com/MacPython/scipy-wheels/blob/master/appveyor.yml#L165-L170

and we are fixing a similar issue in scikit-learn in #18802.

[2020-11-16 22:59] ogrisel commented on #6529
This was a packaging error with the scipy wheels wheels which is fixed in recent versions of the scipy wheels:

https://github.com/MacPython/scipy-wheels/blob/master/appveyor.yml#L165-L170

and we are fixing a similar issue in scikit-learn in #18802.

[2020-11-16 23:37] ogrisel commented on #18837
Just a note: there is not need to by pass the checks in the tests, only in the code of the scikit-learn modules, and only when the inputs are directly derived from data that was already validated by `check_array`, `_validate_data` and the likes.

[2020-11-17 07:19] themlphdstudent opened #18852 ""ERROR: Could not build wheels for scikit-learn which use PEP 517 and cannot be installed directly""
Hi, I am installing scikit-learn in my Mac Pro using command -- "pip3 install scikit-learn". But I am getting error when building wheel for scikit-learn.
There is a way to solve it?
Thanks in advance!

Pip version: pip 20.2.4

[2020-11-17 12:33] #14816 closed

[2020-11-17 13:00] glemaitre commented on #18852
Could you provide the information regarding the OS, python, numpy and scipy.
Scikit-learn has wheels for MacOS and you should not need to build from source.
If you want to install from source, you need to check the following: https://scikit-learn.org/stable/developers/advanced_installation.html#install-bleeding-edge

[2020-11-17 17:44] hkennyv opened #18854 "support GPML minimize for sklearn.gaussian_process.GaussianProcessRegressor"
#### Describe the workflow you want to enable

I'd like to add support for another internal optimizer for [sklearn.gaussian_process.GaussianProcessRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.gaussian_process.GaussianProcessRegressor.html). Currently, the only internal optimizer that is supported is "fmin_l_bfgs_b". I'm requesting support for Carl Rasmussen [minimize](http:

[2020-11-17 21:01] erikfransson opened #18858 "Wrong shape of variance-covariance matrix in ARDRegressor when parameters are pruned"
In the documentation for the ARDRegressor (https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.ARDRegression.html), it says that the shape of `sigma_` is
[code]
However if parameters are pruned from the model the `sigma_` matrix will shrink, for example if 10 parameters are pruned then `sigma_` will be of shape `(n_features - 10, n_features - 10)`.

This could easily be fixed in

[2020-11-17 21:23] olanag1 commented on #18823
I call vocabulary the list of tokens. And tokenizer works correctly to get this list of tokens. The problem is that it counts always 1 the number of these tokens in this piece of text ..

[2020-11-17 21:37] esyker opened #18859 "memory Error / Agglomerative Clustering with Sparse Matrixes"
#### Describe the workflow you want to enable

Below is agglomerative clustering from scikit-learn. The problem is, to use the .fit method I need to convert the sparse matrix representation to an array. Since I have 80k documents with around 400k terms, the created array will have 80k x 400k elements. This will be a huge array and naturally, my computer has no memory and raised an memory Error/Exc

[2020-11-17 22:08] aboucaud commented on #18824
The results I got back from 5 of the participants so far tend to confirm @glemaitre hunch. The 6 scores, including mine, are all the same: 0.958041... while they were different on the previous test.

Thanks @glemaitre and @NicolasHug !

[2020-11-17 22:53] amueller commented on #18072
Hm I ran into this in dabl, I thought I opened an sklearn issue but apparently didn't?
My issue was in this PR https://github.com/dabl/dabl/pull/265

basically I want to be robust to unknown categories (because it's within cross-validation and we might have long tails) and also want to ``drop="if_binary"``

I agree with @ogrisel's assessment above that conflating the rare categories with the dropp

[2020-11-17 23:48] amueller commented on #14969
Is there any literature about this? This feels more like an [intervention](https://en.wikipedia.org/wiki/Average_treatment_effect) and less like partial dependence.
It would certainly be useful to have something like it, but we should also make sure to be in line with standard phrasing and literature on the topic.

[2020-11-18 05:00] themlphdstudent commented on #18852
I brought new machine so setting up everything.
OS: macOS Big Sur 11.0.1
Python: Python 3.9.0
I am getting same error on other packages as well.

[2020-11-18 07:54] alfaro96 commented on #18852
We have not released a version supporting Python 3.9 yet in PyPi.

Nevertheless, you can install `scikit-learn` for Python 3.9 using `conda install -c conda-forge scikit-learn`.

[2020-11-18 07:54] #18852 closed

[2020-11-18 08:32] hanssnah82 opened #18861 "scikit-learn fails to build on macOS 11 Big Sur"
#### Describe the bug
I just tried to build scikit-learn on the new macOS and ran into a build error. It seems clang does not know how to handle the new macOS version? Is this a known issue on the side of scikit-learn or am I doing something wrong here?

[code]

[2020-11-18 08:37] lorentzenchr commented on #18849
@Bougeant These estimators estimate the **conditional quantile given `X`**. As we do not knot this quantity, we can't plot true conditional quantile vs predicted quantile. In your plots `y_true` is the observed random variable, not the true conditional quantile.

In addition, random forests need almost no hyper parameter tuning, while GBTs do. So this comparison is not apples to apples.

[2020-11-18 08:48] lorentzenchr commented on #18849
Looking into `DecisionTreeQuantileRegressor` of scikit-garden https://github.com/scikit-garden/scikit-garden/blob/23c5139674137f694fc959ed10979abd9d6058fa/skgarden/quantile/tree.py#L105-L114 tells us that it uses MSE as splitting criterion, while scikit-learn `GradientBoostingRegressor(loss="quantile")` uses a quantile loss as criterion that is much better suited for fitting quantiles for several

[2020-11-18 08:48] #18849 closed

[2020-11-18 09:01] lorentzenchr commented on #18847
Do you have use cases where the current estimators in scikit-learn don't work (sufficiently well). Please also have a look at https://scikit-learn.org/0.15/modules/scaling_strategies.html.

[2020-11-18 09:08] lorentzenchr commented on #18844
Please have a look at the documentation https://scikit-learn.org/0.15/modules/model_evaluation.html#r2-score-the-coefficient-of-determination, i.e. (4) is what is implemented.

If your target `y` is centered, then bar(y)=mean(y)=0 and a few terms cancel out, but (4) is still valid.

[2020-11-18 09:08] #18844 closed

[2020-11-18 09:35] Bougeant commented on #18849
Hey @lorentzenchr,

Thanks for your feedback. While I agree that the RF and GB are not 100% comparable, the GB overfits more (see median case which is closer to y=x) and so should be doing better for the quantiles as well, which is not the case.

I still think the skgarden approach has 2 benefits:

1) because the splits are made to minimise MSE, you can reuse the same model (without retraining) fo

[2020-11-18 12:46] jnothman commented on #18824
Do we mention standardising features in the convergence warning message?

[2020-11-18 12:56] jnothman commented on #18847
That content now lives at https://scikit-learn.org/stable/modules/computing.html

[2020-11-18 13:40] aboucaud commented on #18824
Indeed @jnothman, it is mentioned.
[code]
However, maybe it should come before recommending increasing the number of iterations..

[2020-11-18 14:50] glemaitre commented on #18824
Yep we do know!!!!! :)

On Wed, 18 Nov 2020 at 14:40, Alexandre Boucaud <notifications@github.com>
wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2020-11-18 17:15] CameronBieganek opened #18864 "User guide formulas for macro average recall and precision seem wrong"
To clarify, the calculation provided by `recall_score(y_true, t_pred, average='macro')` is correct, but the formula in the User Guide seems to be wrong. Here's an example that shows that `recall_score` and `precision_score` calculate the correct numbers:

[code]

However, this is what the User Guide gives for the precision and recall formulas:

<img width="140" alt="Screen Shot 2020-11-18 at 11 06

[2020-11-18 17:18] #18660 closed

[2020-11-18 17:20] #18775 closed

[2020-11-18 18:58] RushikeshJoshi4 commented on #13971
I know this is a closed issue, But if anyone is still wondering using 'jpg' as file extension instead of 'png' in savefig() solved my problem of arrows being invisible. I'm also using VS by the way.

[2020-11-18 20:30] smarie commented on #13106
Yes @hanshupe there is a PR in progress in #13732 . Note that the PR is already working as is, but needs quite a lot of refinement. This work is planed to start in december as explained on the PR. Do not hesitate to review/comment/follow if you are interested!

[2020-11-18 23:58] TomDLT commented on #18847
Ridge regression can computed incrementally with [`SGDRegressor`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDRegressor.html#sklearn.linear_model.SGDRegressor) and its method [`partial_fit`](https://scikit-learn.org/stable/glossary.html#term-partial-fit)
[code]

[2020-11-19 00:19] TomDLT commented on #18748
I agree this could be valuable.

Currently, the validation split is implemented as a mask array `validation_mask`, which is used to define `X_val = X[validation_mask]`, and `X_train = X[1 - validation_mask]`. We could thus avoid adding a new parameters by accepting a predefined mask array in the parameter `validation_fraction`.

[2020-11-19 04:29] Rubix982 commented on #18864
Hello, @CameronBieganek ! I'm willing to take this own. Can you tell me where you found the precision and recall formulas - the link to the `User Guide`. The word 'User Guide' means for me the docs. The one for recall is [here](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.recall_score.html?highlight=recall#sklearn.metrics.recall_score), which is correctly written as `tp / (tp

[2020-11-19 04:30] Rubix982 commented on #18847
Does the above code sample satisfy your use case, @petrhrobar ?

[2020-11-19 04:32] CameronBieganek commented on #18864
Oh, right! I forgot to include a link to the referenced section of the User Guide.

[Here you go.](https://scikit-learn.org/stable/modules/model_evaluation.html#multiclass-and-multilabel-classification)

[2020-11-19 04:34] Rubix982 commented on #18864
Much thanks, let me look into it.

[2020-11-19 07:41] NicolasHug commented on #18748
I think we've tried to avoid sample-aligned `init` parameters so far: passing a sampled-aligned mask in `__init__` would mean that the estimator wouldn't be usable in any cross-validation helper, like `cross_val_score` or `GridSearchCV`.

For ref there were related discussions in https://github.com/scikit-learn/scikit-learn/issues/15127 and https://github.com/scikit-learn/scikit-learn/issues/5915

[2020-11-19 10:09] glemaitre commented on #18072
OK I see the point. So I assume that we should be able to make the change without any issue. `OneHotEncoder` is becoming more permissive.

[2020-11-19 10:12] glemaitre commented on #18072
However, how do we handle the `inverse_transform` in this case?

[2020-11-19 11:15] alfaro96 opened #18865 "Move top level conftest.py under the sklearn package"
While working on the new wheel builder system, we realized that we have two configuration files for the tests, one under the top-level package (`conftest.py`) and another in the `sklearn` module (`sklearn/conftest.py`).

The problem is that, while the test configuration file under the `sklearn` module is properly embedded in the wheels, we had to do a bit of *hackish* to consider the top-level one

[2020-11-19 11:44] panangam opened #18866 "Fitting a TransformedTargetRegressor to 3D target fails"
#### Describe the bug

I created a `TransformedTargetRegressor` with a transformer that reshape a 3D array into a 2D array, and a `MultiOutputRegressor` as the regressor. When I call `fit`, it throws an error that `Found array with dim 3. Estimator expected <= 2.`. 3D array here should be fine, as the transformer would transform it into a 2D array.

#### Steps/Code to Reproduce

[code]

#### Expec

[2020-11-19 11:46] panangam commented on #18866
Some other notes

- I am aware that `LinearRegression` can handle multiple outputs. I am actually working with XGBoost, but wanted to show a minimal example.
- I ran
[code]
and it does not throw any error

[2020-11-19 13:49] DanilZherebtsov commented on #18733
Dear All,

It appears as MacOS limitation. Thanks everyone for the great input!

[2020-11-19 14:58] rth commented on #18866
Yes, I think we can remove the `check_array` call in the
https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f871d60370/sklearn/compose/_target.py#L178
X validation will be done by the regressor anyway, we never use X in `TransformedTargetRegressor.fit` and the performance cost is not zero either.

[2020-11-19 18:20] ChiCheng45 opened #18870 "pairwise_kernels is leaking memory"
I think the pairwise_kernels is leaking memory, see below

[code]

[2020-11-19 19:25] TomDLT commented on #18748
Makes sense, forgot about this consideration.

[2020-11-19 20:05] Asguer opened #18871 "Can't install sklearn"
As say in the title, I can't install sklearn.
Got these version of python and other :
Python: 3.9.0 (tags/v3.9.0:9cf6752, Oct  5 2020, 15:34:40) [MSC v.1927 64 bit (AMD64)]
scipy: 1.5.4
numpy: 1.19.4
matplotlib: 3.3.3
pandas: 1.1.4

and a enormous error problem :

C:\Users\33769>pip3 install scikit-learn
Collecting scikit-learn
  Using cached scikit-learn-0.23.2.tar.gz (7.2 MB)
  Installing build

[2020-11-19 20:11] cmarmo commented on #18871
Hi @Asguer , thanks for reaching out. This is a duplicate of #18621. scikit-learn is not yet available for python 3.9 using pip.

[2020-11-19 20:11] #18871 closed

[2020-11-19 21:38] lorentzenchr commented on #18849
@Bougeant While your `GradientBoostingRegressor` model might have some shortcomings, I see no hard evidence that this has to do with the splitting criterion.

[2020-11-19 21:45] #18624 closed

[2020-11-19 22:04] lorentzenchr commented on #18369
I think you could use `ElasticNetCV(l1_ratio=0, positive=True)`.

`RidgeCV` heavily relies on linear algebra. I don't know if it is then possible to include positivity constraints on the coefficient.

[2020-11-19 22:17] lorentzenchr commented on #12282
@amueller PR welcome :smirk: Or could you share your code snippet here?

[2020-11-19 22:20] glemaitre commented on #18861
Did you try to install from source?
If yes did you try to install from homebrew or using the compiler from conda-forge channel: https://scikit-learn.org/stable/developers/advanced_installation.html#install-bleeding-edge

[2020-11-19 22:27] lorentzenchr commented on #5719
`n_components='auto'` uses `johnson_lindenstrauss_min_dim` to determine the number of components. It depends on `n_samples` and therefore is data dependent.

@amueller I think you meant that it does not depend on `n_features`, right?

[2020-11-19 22:30] glemaitre opened #18872 "Expecting equivalence between Ridge and RidgeCV"
I would expect an equivalence between `Ridge` and `RidgeCV` when the alpha pick in the CV would be equivalent to the alpha in non-CV ridge. I give an example below.

[code]

[code]

[2020-11-19 22:31] glemaitre commented on #18872
@agramfort Did I miss anything?

[2020-11-19 23:48] #18870 closed

[2020-11-19 23:50] ChiCheng45 commented on #18870
i see this with numpy when i use the np.dot aswell, could be an issue with numpy or that im not understanding how memory is allocated in python

[2020-11-20 00:05] TomDLT commented on #18872
When `cv!=None`, `RidgeCV` uses directly `GridSearchCV(Ridge)`, with a refit on the entire training dataset with the best alpha.
When `cv=None` (default), `RidgeCV` uses a custom leave-one-out cross-validation, without refit with the best alpha.
I don't think the two formulations are equivalent.

[2020-11-20 00:16] sahilgupta2105 commented on #18872
Try printing out both models and you will see that the parameter estimates are slightly different, which is probably driven by what TomDLT said above.

[2020-11-20 01:23] manjitullal commented on #18837
i see that none of the " git grep linalg -- sklearn | grep import | grep scipy | grep -v cython_blas  " files have check_finite=True anymore, looks like its fixed. Let me know if this still requires work, else this issue could be closed.

[2020-11-20 07:50] pavopax commented on #16135
I came here to find a discussion on just this point. I agree with the general sentiment that it may be inadvisable to implement this.

But for those curious, here is my use case and comments:

I wanted to use `cross_val_predict()` to debug some probabilistic predictions from a GBM to investigate a scenario where:
1. low # of boosting iterations yields decent performance scores (ROC AUC, PR AUC, Re

[2020-11-20 08:51] glemaitre commented on #18872
@TomDLT yep this seems reasonable. I need to look at the internal code. What I still find surprising is the gap in performance. I am even more surprised by the performance of the `RidgeCV` indeed.

My pipeline is indeed a degenerated pipeline since it does not have a scaler and it should clearly overfit. I would expect a large alpha to be required which is the case when fitting a `Ridge` where `al

[2020-11-20 08:52] glemaitre commented on #18872
So I am closing since there is no problem with my former concern. I will still check the gap difference between the performance.

[2020-11-20 08:52] #18872 closed

[2020-11-20 09:04] Chroxvi opened #18875 "Inconsistent test results for GradientBoostingRegressor predict_stages fast track"
#### Describe the bug
`GradientBoostingRegressor().predict()` uses this "fast track":
https://github.com/scikit-learn/scikit-learn/blob/5a09d87da357660f8d16abc2eb424c67db5710c5/sklearn/ensemble/_gradient_boosting.pyx#L190-L226

The commented line 226 suggests that the "non fast track" for dense matrices is `out += scale * tree.predict(X).reshape((X.shape[0], 1))`. However, if I replace the call to

[2020-11-20 09:27] glemaitre opened #18876 "Casting error with Cython 3.0a"
We have some issues with the CI builds using Cython 3.0a.

It seems that Cython was previously allowing a casting from float64 (`X_DTYPE_C`) to int.
It seems that this is not allowed anymore. So we have the following issue reported.
We might have subsequent occurrences.

[code]

[2020-11-20 09:36] alfaro96 commented on #18876
I think that this issue may be related with: https://github.com/scikit-learn/scikit-learn/pull/18644.

[2020-11-20 10:09] glemaitre commented on #18876
I think this is more straightforward here:

https://github.com/scikit-learn/scikit-learn/blob/f85998500bd53e8251e8c5404d0e2ccc5e5148cc/sklearn/ensemble/_hist_gradient_boosting/_bitset.pyx#L56-L68

and

https://github.com/scikit-learn/scikit-learn/blob/f85998500bd53e8251e8c5404d0e2ccc5e5148cc/sklearn/ensemble/_hist_gradient_boosting/common.pxd#L8

So with the type declaration, we are expecting an i

[2020-11-20 12:51] Rubix982 commented on #18864
@ogrisel submitted a PR for this, can you check it out? Thank you.

[2020-11-20 13:45] swchen27 commented on #16729
I wonder if the writer have known how to handle this kind of problem,i also need some help~

[2020-11-20 15:00] mathschy commented on #18837
@manjitullal The check_finite=True are implicit (they are default arguments in scipy), they are not specified in sklearn code. So I think this issue should be open as of now.

[2020-11-20 17:35] thomasjpfan commented on #18864
From the user guide:

![Screen Shot 2020-11-20 at 12 30 34 PM](https://user-images.githubusercontent.com/5402633/99830821-3c96c000-2b2c-11eb-8f2d-62d3e1295f2a.png)

where `y_hat` is the true labels. From looking at the formulas for recall:

![Screen Shot 2020-11-20 at 12 30 14 PM](https://user-images.githubusercontent.com/5402633/99830909-5b955200-2b2c-11eb-9511-9ba578a58c11.png)

![Screen Shot 20

[2020-11-20 17:54] CameronBieganek commented on #18864
Yeah, I just noticed yesterday that those two bullet points in the User Guide are defining `y` as the predicted labels and `y_hat` as the true labels. But isn't that exactly the opposite of the *extremely widespread* convention that `y_hat` represents the *predicted* labels? So, the PR for this issue should also change those bullet points to say that `y` is the set of true (sample, label) pairs, a

[2020-11-20 18:00] CameronBieganek commented on #18864
I don't really want to go down this rabbit hole, but the whole usage of set notation here is a bit problematic. The tuple should probably be (sample index, features, label), since you could have two different data points with identical features.

[2020-11-20 18:19] CameronBieganek commented on #18864
If you want to stick with the set notation, I think these definitions make more sense:

- `y` is the set of pairs `(sample index, true label)`
- `y_hat` is the set of pairs `(sample index, predicted label)`

[2020-11-20 18:47] thomasjpfan commented on #18864
Yes, I agree that `y_hat` is usually for predicted values and I would be in favor of updating the notation in this section of the user guide.

[2020-11-20 18:49] #1243 closed

[2020-11-20 19:00] thomasjpfan opened #18882 "CI failing because of fetch_openml(name='miceprotein', version=4)"
The CI is failing everywhere, because the following is failing everywhere

[code]
even tho the dataset exist: https://www.openml.org/d/40966

[2020-11-20 21:29] moroclash opened #18887 "ensemble Object.estimators_ Not return trained models"
### Describe the bug
when using Randomeforest, Bagging or any think from *ensemble* model, and try to get the estimators after fit the main model,
the return models back but without any train.

#### Steps/Code to Reproduce
RF = RandomForestClassifier().fit( x_train,  y_train)
RF.score(x_train, y_train)   >> 86%

RF.estimators_[0].score(x_train, y_train)  >> 2%
RF.estimators_[1].score(x_train, y_tr

[2020-11-20 21:56] PSSF23 opened #18888 "Add streaming option to decision trees"
#### Describe the workflow you want to enable
The current `sklearn.tree` module is designed for batch learning only and thus not capable of handling streaming data. I hope to make the tree builders capable of updating the existing tree and make streaming classification possible.
#### Describe your proposed solution
The Very Fast Decision Tree learner (VFDT) or Hoeffding tree algorithm uses the dif

[2020-11-20 21:56] PSSF23 commented on #18888
Take

[2020-11-20 23:01] thomasjpfan commented on #18882
This was fixed by itself.

[2020-11-21 08:07] adrinjalali commented on #18748
The issue I have with passing `validation_data` to models' `fit` is that I'm not sure how we'll manage it when the model is in a pipeline. The `validation_data` needs to go through the same preprpocessing steps of a pipeline as the rest of the data. The user thus cannot set aside a part of the data and pass it directly to the model at the end of a pipeline.

In many of the discussions I see here a

[2020-11-21 10:04] NicolasHug commented on #18887
Boostrapping affect samples (row) subsampling, but feature subsampling (columns) is still at play here, with or without boostrapping.

It's normal that the individual trees don't have the same scores then

[2020-11-21 10:04] #18887 closed

[2020-11-21 10:11] NicolasHug commented on #18875
I wouldn't trust too much a context-less 4+ year old comment. Code may be updated / fixed, and such comments are left not updated.

Could you come up with a reproducing example that properly illustrate a bug? Otherwise this is a non issue IMHO. We might want to remove the comment.

[2020-11-21 10:12] moroclash commented on #18887
@NicolasHug  but, it's normal that the mean of all estimators gives me a lower number than the random forest as a whole.
, also the BbaggingClassifier return non trained estimators.

[2020-11-21 13:44] Rubix982 commented on #18864
Hi, guys! I have a paper starting from next Tuesday and kind of busy this weekend preparation. Will be back next week after my papers end. Hope you don't mind, @CameronBieganek :D

[2020-11-21 14:29] sadakmed opened #18890 "wrong type used in raise error"
in sklearn.discriminant_analysis.py

the parameter shrinkage supposed to be a string or float between 0 and 1. I think in the last raise of error the msg should be
'shrinkage must be of string or float type'

[code]
Edit: I think the shrinkage is Empirical by default,
`shrinkage = "empirical" if shrinkage is None else shrinkage`

[2020-11-21 14:37] rth commented on #18890
Indeed. Would you like to make a PR to fix it?

[2020-11-21 14:40] sadakmed commented on #18890
for sure

[2020-11-21 14:40] pabloec20 opened #18891 "Segmentation fault on SVMLIB"
#### Description:

In Scikit-learn version 0.23.2 calling the predict() method maliciously crafted model SVM can result in a segmentation fault. Such models can be introduced via pickle, json, or any other model permanence standard. The behaviour is triggered when one of the members of  the _n_support array has a very large value, example 1000000 when calling libsvm.predict()

####Tested environme

[2020-11-21 16:13] DavideCldr commented on #18621
Hi, any news on this?

[2020-11-21 16:25] #18890 closed

[2020-11-21 17:04] lorentzenchr commented on #15550
Native categorical support for HGBT was implemented in #18394.

[2020-11-21 17:04] #15550 closed

[2020-11-21 17:38] TomDLT commented on #18748
Scikit-learn's API is centered around easy cross-validation, but I guess a lot of people use their own cross-validation tools, for better or worse

[2020-11-21 17:45] lorentzenchr commented on #11258
For the histogram gradient boosted trees, we now have native categorical support with #18394. You need to pass ordinal encoded columns for this.

@dnks23 I'm closing for now as this seemed to be your main use case. Please feel free to say if you had more in mind.

[2020-11-21 17:45] #11258 closed

[2020-11-21 19:28] lorentzenchr opened #18893 "Add native categorical support for linear models via coordinate descent solver"
#### Describe the workflow you want to enable
I'd like to propose native categorical support for linear models, similar to #18394, i.e. ordinal encoded columns can be specified as "categorical". I see 3 main benefits:
- Possibly better user experience because one-hot-encoding becomes obsolete (though ordinal encoding is required as long `pandas.Categorical` is unsupported)
- Possible speed up of f

[2020-11-21 19:39] lorentzenchr commented on #4196
Passing sample aligned meta-data through a pipeline is what [SLEP006](https://scikit-learn-enhancement-proposals.readthedocs.io/en/latest/slep006/proposal.html) is trying so solve.

Passing feature aligned meta-data has a lot to do with other SLEPs for feature names. However, feature names might not be enough. With the new native categorical support in HGBT #18394, see discussion there, we are loo

[2020-11-21 20:32] lorentzenchr opened #18894 "Programmatically pass categorical_features to HGBT"
#### Describe the workflow you want to enable
#18394 added native support for categorical features to HGBT. Therefore, you have to ordinal encode your categoricals, e.g. in a `ColumnTransformer` (potentially part of a pipeline), and indicate the column positions of the passed `X` via the parameter `categorical_features`.

How can we then programmatically, i.e. without manually filling in `categori

[2020-11-21 21:57] NicolasHug commented on #18894
(I edited the post to add option 5)

Ideally we would have 4 eventually, although I don't see it happening too soon.

Option 5 arguably makes life easier for users as they don't even need to use a pipeline anymore. It also adds complexity into the estimator because we basically need to mimic the pipeline logic (e.g. call `self._encoder.transform()` in `predict()`, etc). I feel like despite the pot

[2020-11-22 07:00] midhun1615 opened #18895 "importing issue"
A clear and concise description of what the bug is.
-->

#### Steps/Code to Reproduce

[code]

#### Expected Results

#### Actual Results

#### Versions

[2020-11-22 07:01] midhun1615 commented on #18895
cannot import name 'multinomialNB' from 'sklearn.naive_bayes' (C:\Users\91981\anaconda3\lib\site-packages\sklearn\naive_bayes.py)

what i have to do in this case

[2020-11-22 08:22] carnil commented on #18891
This issue was assigned CVE-2020-28975

[2020-11-22 09:21] NicolasHug commented on #18895
It's `MultinomialNB` with an uppercase `M`

`from sklearn.naive_bayes import MultinomialNB`

[2020-11-22 09:21] #18895 closed

[2020-11-22 09:22] petrhrobar commented on #18847
I am trying to replicate something like this using sklearn. In R `biglm` package, there is a way how to perform incremental linear regression, e.g.:

[code]
Is there a way how to use this in sklearn?

[2020-11-22 09:28] NicolasHug commented on #18891
`    clf._n_support[0] = 1000000`

It's expected that manually changing a private attribute will lead to wrong results, or even segfault as is the case here.

May I ask why you want to change the number of SVs, and why you expected it to work? Changing it likely leads the program to overshoot indexing in an array somewhere. For ref, there are 7 SVs for class `0`.

[2020-11-22 09:28] #18891 closed

[2020-11-22 12:44] pabloec20 commented on #18891
It should not segfault but fail gracefully.

[2020-11-22 14:20] claverru commented on #3831
For those still coming to this discussion looking for a solution:

[code]

[2020-11-22 16:39] NicolasHug commented on #18891
The snippet above is changing a *private* attribute (it has a leading underscore).

By definition, these aren't supposed to be changed by the user. When they're used by the estimator, it's fair to assume that they are properly set to a correct value.

We can't safe-guard against every single misuse, and this is a misuse.

[2020-11-22 16:58] lorentzenchr commented on #18847
@petrhrobar As @TomDLT pointed out, `SGDRegressor` and `SGDClassifier` both support `partial_fit` which seems to be what you are looking for. Please have a look at the user guide https://scikit-learn.org/stable/modules/sgd.html.

[2020-11-22 16:58] #18847 closed

[2020-11-22 17:06] pabloec20 commented on #18891
Consider the common scenario when a model is trained in a research machine and then transfered for production use to live environment, if a malicious actor is able to take a hold of the model and change it,  it should not be able to trigger a segmentation fault, please bear in mind the segfaults may have security implications other than crashing the process.

[2020-11-22 17:14] NicolasHug commented on #18891
This is where it's out of scope here: we can't guard against everything. We have a responsibility to provide safe code when that code is used under the limits of what's a normal use-case, but that's pretty much it. Private attributes shouldn't be modified, and it's up to users to make sure that the estimator isn't maliciously altered.

I might go on a limb and use a poor analogy but when I buy a c

[2020-11-23 02:53] hitesh9116 commented on #18498
Sir I also want to work on this issue. If no one is working on it, can I ?

[2020-11-23 06:19] ra1nty commented on #17554
Hi all,

I ran into this problem a couple of days ago and found this issue. Wondering if anyone is actively working on this? If not, I can add a simple PR to fix this. Also, do we want to use fused type or simply int64 instead? IMO we should use int64 for consistency.

[2020-11-23 08:05] glemaitre commented on #18498
@bhargavasomya are you working on the issue?

[2020-11-23 08:57] ogrisel commented on #18861
By looking at the logs, this problem happens when building numpy from source. So this is not directly related to scikit-learn.

[code]

What I do not understand is why pip does not install the numpy wheel instead in this case. There is a wheel file for macos (`numpy-1.17.3-cp38-cp38-macosx_10_9_x86_64.whl`) for numpy 1.17.3 on PyPI: https://pypi.org/project/numpy/1.17.3/#files . Big Sur is macOS 1

[2020-11-23 09:00] ogrisel commented on #18861
@hanssnah82 can you please let us know if the conda-forge package of scikit-learn works on you machine?

[code]

If you have never installed conda before, try: https://github.com/conda-forge/miniforge

[2020-11-23 09:08] cmarmo commented on #18866
@panangam would you be interested in proposing a pull request applying @rth suggestion? Otherwise I will put this issue in the "help wanted" pool. Thanks.

[2020-11-23 09:45] cmarmo commented on #18733
Thanks @DanilZherebtsov for reaching out and thanks @rworreby for investigating the issue, this was really helpful.
If I understand correctly this is not a bug in scikit-learn: I'm going to close this issue, feel free to reopen if there is still something to solve.

[2020-11-23 09:45] #18733 closed

[2020-11-23 09:56] cmarmo commented on #18466
Hi @arioboo thanks for reaching out. The issue is not reproducible in master, and information is missing about your installation. I'm closing this one. Feel free to reopen if you are still experimenting the issue and you can provide more details.

[2020-11-23 09:56] #18466 closed

[2020-11-23 10:11] AWNystrom commented on #17554
I’ve not done anything for this. Have you, Joel?

On Sun, Nov 22, 2020 at 10:19 PM Rain <notifications@github.com> wrote:

[2020-11-23 13:59] Bougeant commented on #18849
Hi @lorentzenchr,

Allow me to demonstrate the issue using sklearn's own code on code (found [here](https://scikit-learn.org/stable/auto_examples/ensemble/plot_gradient_boosting_quantile.html)), with the prediction range extended to (0, 30) for magnifying the effect.

[2020-11-23 14:00] Bougeant commented on #18849
This is the sklearn model:
![image](https://user-images.githubusercontent.com/36014848/99970754-f26c4380-2da4-11eb-80fe-50ae3e4b0235.png)

`import numpy as np
import matplotlib.pyplot as plt

from sklearn.ensemble import GradientBoostingRegressor

np.random.seed(1)

def f(x):
    """The function to predict."""
    return x * np.sin(x)

#-------------------------------------------------------------

[2020-11-23 14:02] Bougeant commented on #18849
This is the skgarden model:
![image](https://user-images.githubusercontent.com/36014848/99970893-234c7880-2da5-11eb-8b90-9a703172605b.png)

[2020-11-23 14:07] ogrisel commented on #18861
@hanssnah82 I found a machine with Big Sur and I tried to install scikit-learn with python 3.8 and pip 20.2.4 and everything is fine: pip downloads the 10_9 wheels instead of trying to build everything from source.

Please upgrade you version of pip (and check the version number with `pip --version`) and try again. If you still get a problem, please open a new issue with more details on how you in

[2020-11-23 14:15] ogrisel commented on #18861
Actually I tried again with pip 20.2.4 installed on the default system Python 3.8 and Python 3.9 installed from homebrew and both refuse to install the binary wheels.

In my previous experiments I used Python and pip install from conda-forge which do not have the problem.

[2020-11-23 14:16] #15308 closed

[2020-11-23 14:36] ogrisel commented on #18861
Indeed:

- Python 3.8 from the system:

[code]

- Python 3.9 installed with homebrew:

[code]

- Python 3.8 from a conda-forge env:

[code]

So conda-forge's Python is indeed pretending to be installed on a fake 10.16 version of macOS to bypass this problem with pip 20.2.4.

So my guess is that we just have to wait for pip to fix this issue and user conda-forge on Big Sur in the mean time.

[2020-11-23 15:28] #18153 closed

[2020-11-23 15:29] rth commented on #18861
On a related topic, I would be +1 to remove that build check. It does produce false positives (e.g. cross-compilation earlier, or some other less common setups) and I find it more helpful to have the actual compilation error rather than this opaque error.

[2020-11-23 15:56] panangam commented on #18866
@cmarmo Hey I'd love to try that. Gonna be my first PR though so apologies in advance if there's any mistake 😅. I'll read up on the contribution guide. Let me know if there's anything else I should look at.

[2020-11-23 16:05] cmarmo commented on #18866
So you are doing the right thing, already! :)
Also, you can comment "Take" in this issue and it will be automatically assigned to you.

[2020-11-23 16:09] ogrisel commented on #18861
The one that is failing here is part of numpy's setup.py, not scikit-learns.

The one in scikit-learn (and that needs to be bypassed when cross-compiling) is useful to detect whether we should try to build with openmp or not, on macos.

[2020-11-23 16:14] panangam commented on #18866
Take

[2020-11-23 16:50] lorentzenchr commented on #18849
@Bougeant Nice plots. Despite your comment about tree depth, it is still related to exactly that. Set a higher `max_depth`, e.g. 5 or 6 instead of 3, in `GradientBoostingRegressor` and the problem is gone.

[2020-11-23 17:02] ChemGuy88 commented on #18852
I had the same problem as the OP, with under similar circumstances (new Python install). Taking @alfaro96's comment as a hint, I tried another pip install but with Python 3.8, and it worked. Hope this helps other people.

[2020-11-23 18:44] AurelienMassiot opened #18901 "Macro-averaged MAE"
#### Describe the workflow you want to enable
For **ordinal classification**, we can use multiple metrics, for example: MAE, MSE... As we would use for regression.
But when these classes are imbalanced, one way to deal with imbalance is to use macro-averaged MAE instead, as described here https://stats.stackexchange.com/questions/338904/measures-of-ordinal-classification-error-for-ordinal-regressi

[2020-11-23 18:52] Bougeant commented on #18849
That's not correct. Using a max_depth of 6, we still get the same results:
![image](https://user-images.githubusercontent.com/36014848/100002780-b5687700-2dcd-11eb-9066-f93f22e208a0.png)

[2020-11-23 19:25] rth commented on #18901
Did you see  [`balanced_accuracy_score`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.balanced_accuracy_score.html) metric? That wouldn't be sufficient for your use case?

[2020-11-23 19:43] AurelienMassiot commented on #18901
@rth No, as `balanced_accuracy_score` doesn't take into account **order**

[2020-11-23 20:48] agramfort commented on #18893
I will follow this. I think it's a super smart trick !

[2020-11-23 21:07] rth commented on #18901
Aww yes, I see. The issue is that this metric doesn't seem very widely used. For instance, [the original paper from 2009](http://nmis.isti.cnr.it/sebastiani/Publications/ISDA09.pdf) has 170 citations, so that would be a bit difficult with respect to scikit-learn's inclusion criteria https://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms

[2020-11-23 21:39] AurelienMassiot commented on #18901
Oh I see, didnt't read about this inclusion criteria before, interesting! Maybe it would be worth a proposing it to [**scikit-learn-contrib/imbalanced-learn**](https://github.com/scikit-learn-contrib/imbalanced-learn) instead?

[2020-11-23 22:32] kstoneriv3 opened #18902 "A Bug at the `inverse_transform` of the `KernelPCA`"
I have a question about the following line of `KernelPCA`. This line appears in the reprojection of the sample points in `KernelPCA` but for me, this line seems unnecessary. Here, kernel ridge regression is used to (approximately) reproject the "transformed samples"(, which are coefficients of principal components), using precomputed dual coefficients of the kernel ridge regression. Though we need

[2020-11-24 05:27] midhun1615 commented on #18895
THANK YOU SIR

[2020-11-24 07:19] lorentzenchr commented on #18849
This will be my last post as this issue is more about usage.
You are comparing different estimators with different parameters that may or may not suffer from over- or underfitting, e.g. a 95% quantile conditional on X should have at least 20 data points per different X. Therefore, increase sample size and tree depth. I get the following, code in details.
![image](https://user-images.githubusercont

[2020-11-24 08:39] Bougeant commented on #18849
Hi @lorentzenchr

I had the pretty much the same code as you did but I was using sklearn 0.22 instead of 0.23 (skgarden does not work with 0.23 currently).

It's true that using 0.23 and making the GB model overfit enough (with max_depth>=5), you partially get rid of the clipping problem, but you create an even worse problem:

I you increase the size of y from 100 to 1000, you will see that the 95

[2020-11-24 09:30] rth commented on #18901
@glemaitre Might have an opinion about that.

[2020-11-24 09:35] #18809 closed

[2020-11-24 09:42] midhun1615 opened #18903 "classification regression"
#### Describe the workflow you want to enable

#### Describe your proposed solution

#### Describe alternatives you've considered, if relevant

#### Additional context

anyone can help me to complete Classification on Avocado Dataset

[2020-11-24 09:45] cmarmo commented on #18903
You're asking for help. The issue tracker is mainly for bugs and new features. For usage questions and help, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2020-11-24 09:45] #18903 closed

[2020-11-24 09:48] glemaitre commented on #18901
It might be confusing to introduce the metric in scikit-learn since MAE would refer to both classification and regression in some ways. However, it would be a perfect addition in imbalanced-learn because this the actual scope of the library and one will not use it without knowing its specificity. I would be really keen to get the implementation in the library there.

[2020-11-24 13:48] AurelienMassiot commented on #18901
I just did a [MR #780](https://github.com/scikit-learn-contrib/imbalanced-learn/pull/780) in [**scikit-learn-contrib/imbalanced-learn**](https://github.com/scikit-learn-contrib/imbalanced-learn).

Thank you both, I appreciate your help!

[2020-11-24 14:07] kstoneriv3 commented on #18902
I found this line is added in #16655 but I still do not see the point of the above line. @lrjball Could you explain why you added this?

[2020-11-24 14:27] glemaitre commented on #18901
I am closing this issue then and making a review on the other side :)

[2020-11-24 14:27] #18901 closed

[2020-11-24 14:43] kstoneriv3 commented on #18902
For clarification, proper formula for the prediction of the input X from transformed input X_tr using kernel ridge regression becomes
<img src="https://render.githubusercontent.com/render/math?math=\hat y^{\text{new}} = K_{X^{\text{new}}_{tr}, X_{tr}} {(K_{X_{tr}, X_{tr}}  %2B \alpha I)}^{-1} X">.
However, the #16655 modified this to be
<img src="https://render.githubusercontent.com/render/math?ma

[2020-11-24 15:05] ogrisel commented on #18849
This indeed sounds bad and maybe it's revealing a bug in our implementation.  As far as I know we do not have a tool to measure the average coverage of quantile regressor (both on the train set and a validation set). It would be great if you could open a detailed bug report that computes the average coverage for sklearn's Quantile GBRT vs skgarden Quantile RFs for various hyper-parameters (number

[2020-11-24 15:49] danielavarelat commented on #18621
Hi, any update? Can I use it with python 3.9 already?

[2020-11-24 16:11] adrinjalali commented on #18621
The answer hasn't changed. As stated above, you can already use scikit-learn with `conda-forge`, and otherwise you need to wait for the 0.24 release.

[2020-11-24 19:11] mokeddembillel commented on #18858
Hi, i'm new here and i would like to contribute to this issue, i just want to fully understand you,
can you please explain more about what do you mean by saying "to have access to the full sigma_ matrix."
Thank you

[2020-11-24 19:34] lorentzenchr commented on #15123
Assumptions:
a) Loss, Gradient and Hessian have C implementations working on single points (1 sample).
b) L, G, H have a ndarray implementation as well.
c) Performance is important.
d) Parallelism by `prange` is important.
e) There are at least squared error, absolute error, poisson deviance, log-loss. Possibly many more.

With the above assumptions and the benchmarks, I propose the following sket

[2020-11-24 19:41] Bougeant commented on #18849
Apologies @ogrisel and @lorentzenchr:

 `y` and `y_pred` cannot be compared because `y` is defined based on `X = rng.uniform(0, 30.0, size=n_samples).reshape(-1, 1).astype(np.float32)` while y_pred is predicted using `xx = np.atleast_2d(np.linspace(0, 30, 1000)).T`. If we define `y` based on `xx` instead of `X`, then indeed, the fraction of `y>y_upper` is around 5% which is the expected result.

O

[2020-11-24 19:42] Bougeant commented on #18849
v0.22

![image](https://user-images.githubusercontent.com/36014848/100143380-ea43ff00-2e9d-11eb-8c55-6ee32ab9d506.png)

Same code with v0.23

![image](https://user-images.githubusercontent.com/36014848/100143403-f4fe9400-2e9d-11eb-8c51-0e2062edb113.png)

[2020-11-24 22:25] mokeddembillel commented on #11209
Hi guys, is any of you still working on this issue or not, i want to help

[2020-11-24 22:55] thomasjpfan commented on #11209
There is discussing surrounding this issue in https://github.com/scikit-learn/scikit-learn/pull/11368

At a high level, it looks like the solution needs benchmarking to see how it performs when compared to other imputing strategies.

[2020-11-25 00:49] lrjball commented on #18902
Hey @kstoneriv3, good spot! You are right - the kernel being rectangular is a giveaway that something is not right here. I do think the original bug does need a fix though, although the fix may be to add back on the mean somewhere (I seem to remember going down this route first), as previously the inverse transform always returned data with zero mean. For example, on scikit-learn==0.22:
[code]
![k

[2020-11-25 01:07] kstoneriv3 commented on #18902
@lrjball Thank you so much for taking the trouble to provide a clear example! I now see that your fix surely reduces the reconstruction error. However, at the moment, I do not see why your fix works so well. I will think for a while and probably get back to you soon.

[2020-11-25 05:18] midhun1615 commented on #18895
from sklearn.preprocessing import StanderdScaller

cannot import name 'StanderdScaller' from 'sklearn.preprocessing' (C:\Users\91981\anaconda3\lib\site-packages\sklearn\preprocessing\__init__.py)

this is coming while importing

[2020-11-25 05:19] midhun1615 commented on #18895
from sklearn.preprocessing import StanderdScaler

with this also

[2020-11-25 06:54] Chroxvi commented on #18875
My main concern is that from my understanding `out += scale * tree.predict(X).reshape((X.shape[0], 1))` is the correct "non-optimized" way to implement the prediction. For most cases, it seems to give the same results as the current implementation. However, there are some cases for which the results differ. I will try to look more into these.

[2020-11-25 07:56] alfaro96 commented on #18895
You should use `from sklearn.preprocessing import StandardScaler`.

But please the issue tracker, this is mainly for bugs and new features. For usage questions and help, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or the [Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2020-11-25 08:48] ogrisel commented on #18849
Thanks for the follow-up @Bougeant! This is re-assuring.

What we would need is a measure of the quantile regression reliability (e.g. the absolute difference between the observed average coverage and the chosen quantile) that could be registered as a scorer in the scikit-learn scorer API to be able to run `RandomizedSearchCV` to tune the hyper-parameters with respect to that metric instead of the

[2020-11-25 08:51] Bougeant commented on #18849
Agreed, maybe the pinball loss would be a good metrics for that? (https://arxiv.org/pdf/1102.2101.pdf)

[2020-11-25 09:00] ogrisel commented on #18849
Yes I suppose so: this is the objective function minimized on the training set by the GBRT model itself.  It's hard to interpret as a business metric on a validation set but this is indeed the metric we want to minimize when doing quantile regression.

"the absolute difference between the observed average coverage and the chosen quantile" I suggested above has the same minimum (e.g. a perfect mode

[2020-11-25 09:04] allenfengjr commented on #18852
Thanks to @ChemGuy88 's comment, I try another interpreter and the Python version is Python3.7, it also worked.

[2020-11-25 09:14] kstoneriv3 commented on #18902
I haven't figured out the cause of the zero-mean issue, but #16655 is not a theoretically proper way to fix I guess.

Theoretically, #16655 added the one-hot vector representation of the training sample (scaled by α) to the feature space. When we write the original kernel feature of data x_i as φ_i, then it is changed to φ^{new}_i = (φ_i, e_i / √α) so that
(φ^{new}_i)^T (φ^{new}_j) = k(x_i, x_j) +

[2020-11-25 10:13] AWNystrom commented on #17554
Tagging @jnothman to increase visibility.

[2020-11-25 10:26] alfaro96 opened #18906 "TST Test failures with OpenML for PyPy"
The following tests are failing for `PyPy`:

[code]

with the following error traceback:

[code]

I will open a PR marking them as `XFAIL` to not block #18879 but I think that we should investigate the underlaying issue.

[2020-11-25 12:32] kstoneriv3 commented on #18902
Finally, I figured out the cause of this issue. In fact, it is not a bug for `KernelPCA.inverse_transform` to reproduce the zero-mean reconstruction when the kernel is set "linear"; it is expected behavior.

This problem happens only when the linear kernel is used. Indeed, if you use `KernelPCA(kernel="rbf")`, zero-mean problem is solved.

When the linear kernel is used, the model is fitted to the

[2020-11-25 12:59] lorentzenchr commented on #6076
Fixed in #6076.

[2020-11-25 12:59] #6076 closed

[2020-11-25 13:42] mokeddembillel commented on #18837
Currently working on `sklearn.cross_decomposition`

[2020-11-25 15:10] ogrisel commented on #18894
Thanks for opening this issue @lorentzenchr. I would vote for suggestion #5 by @NicolasHug. I started to prototype it but it's not that easy to do.

We could like even make it possible to pass a pandas dataframe to HGBT and have it to automatically treat categorical and object dtyped columns as categorical variables if the user leaves the `categorical_features` to its default value (or an `"auto"`

[2020-11-25 15:59] lorentzenchr commented on #4599
The loss in [1] seems to be the same as implemented in #924, but `update_terminal_regions` seems different, i.e. [1] sets terminal nodes as
[code]
In ESL 2nd Ed, Algoritm 10.3 (p.361) instructs to find terminal regions in trees by a squared error criterion on the gradients, but then to set the value of terminal nodes according to the minimal loss in that region, which is the quantile in our case (

[2020-11-25 15:59] #4599 closed

[2020-11-25 16:10] lorentzenchr commented on #18894
@ogrisel Thanks for taking the initiative.
I see two issues with option 5.
- If you still use a ColumnTransformer before, for whatever reason, more or less nothing is gained.
- How can we make this generalize to other estimators (and transformers) that natively support categoricals (like #18893)?

[2020-11-25 16:18] NicolasHug commented on #18894
Please ping me when it's ready ;)

We had that in the original PR, and we removed it for complexity reason. We still need to encode the categories somehow (because they can be strings, etc) so it's not as easy as it sounds (yet again lol).
But we can try again now that the main stuff is already merged, it will be easier to assess. I'm just not too keen on adding more and more pandas support when w

[2020-11-25 16:22] mokeddembillel commented on #11209
@thomasjpfan Thanks for letting me know, i'll try to catch up

[2020-11-25 16:23] lorentzenchr opened #18911 "Add quantile loss as metric"
#### Describe the workflow you want to enable
I'd like to evaluate and compare the predictive performance of (conditional) quantiles as predicted by `GradientBoostingRegressor(loss='quantile', alpha=0.9)` for example.

#### Describe your proposed solution
Implement a new metric `quantile_loss(y_true, y_pred, alpha=0.5)`, Eq. (24) of https://arxiv.org/pdf/0912.0902.pdf.

This is the same loss as in

[2020-11-25 16:32] erikfransson commented on #18858
Hi,
Yes, in my linear model I have 50 parameters (weights) and sigma_ is the covariance matrix for these parameters. So I would expect sigma_[i][j] to be the covariance between parameter i and parameter j, and hence sigma_ is of shape (50, 50).
However if ARDR prunes 10 parameters the size/shape of sigma_ shrinks to (40, 40).

So if I now want to find the covariance between parameters 32, 48 I don

[2020-11-25 16:33] lorentzenchr commented on #18911
Based on discussion in #18849, @ogrisel and @Bougeant might be interested.

[2020-11-25 16:47] andrzejnovak opened #18913 "[FEATURE] 2D roc_curve"
In some cases, one wants to see the performance of applying two classifiers simultaneously. To see the performance one would want to look at a 2D roc curve, such as the one here https://cds.cern.ch/record/2703386/plots#0

<img src="https://user-images.githubusercontent.com/13226500/100224703-76493b80-2f1d-11eb-8926-03e04a40558a.png" width="400" />

It would be very convenient to have this availabl

[2020-11-25 16:51] andrzejnovak opened #18914 "[FEATURE] roc_curve sampling points"
#### Describe the workflow you want to enable

I was making some projections of ROC curves to show the differences between a couple of them, but the sampling along tpr is dynamic, so to do this I needed a function find the closest x-point and get by index the matching y-point.

This could be easily fixed, by allowing the roc_curve to take an array of x/tpr values the fpr should be shown for.

[2020-11-25 17:04] sadakmed commented on #18837
I can see that some PRs are making all the `check_finite=False` without verifying.

### Please this task is not to turn all check_finite to false, but only the ones that has finite input.

- check for if the input has already validated by `check_array`, `_validate_data` functions
- the input is an output of `np.dot`
- the input is generated by another function, ensuring it's finite.

[2020-11-25 19:57] lrjball commented on #18902
Very interesting. So what is it about the linear kernel that is so special? Is it just that the method is inherently an approximation but can be made more precise in the special case? Because all of the kernels are zero meaned in the same way so without digging into it I am missing why the linear kernel is the only one that broke.

Also, worth bearing in mind that `kernel='poly', degree=1,coef0=0`

[2020-11-25 20:33] kstoneriv3 commented on #18902
@lrjball

If we used a linear kernel **without centering**, and if the `n_components` >= `n_features`, the reconstruction would be exact.

The centering operation for linear kernel changes the original kernel matrix X^T X to (X-１μ)^T (X-１μ), where X is of shape [n_samples, n_features], μ is the mean row vector of X,１ is a column vector with all elements being one. Thus, the information of feature

[2020-11-25 20:38] #18876 closed

[2020-11-25 22:58] pozsa commented on #8869
Wouldn't it be a much better solution to have an empty vocabulary_ if there was no data fitted? Or at least it could be mentioned in the docs that this attribute only exists if data was already fitted, imo.

[2020-11-26 05:00] tomasrojasc opened #18915 "adition of clusterdv algorithm"
Hello, I want to work on a python implementation od clusterdv as described in [this paper](https://academic.oup.com/bioinformatics/article/35/12/2125/5165379) but with some modifications on, for instance, the way it is structures and the path valley calculation method. I wanted to open this issue to keep track of the progress and to not have duplicated work.

[2020-11-26 06:00] jnothman opened #18916 "document transfer of data from likeable DB to dashboard"

[2020-11-26 08:50] ogrisel commented on #18894
Right, but for common / simple cases that means that HGBRT will be useable without any preprocessing. This would be a huge usability win for the simple cases.

[2020-11-26 08:59] glemaitre commented on #18916
@jnothman Was it for scikit-learn or another project :)

[2020-11-26 09:14] cmarmo opened #18918 "Latex documentation build failing"
After merging #18516 the build of the latex documentation is failing.
This is due to a different way of managing backslash `\` with the sphinx-prompt extension.
The latex compilation errors are:
[code]
from `developers/advanced_installation.rst` and
[code]
from `developers/maintainers.rst`

Double backslashes remove the issue but are rendered in the html documentation.
It is still not clear to me

[2020-11-26 09:17] glemaitre commented on #18914
I am not sure this would be necessary in scikit-learn. We ensure that the point on the curve are thresholds.
You can do the job in an additional line in SciPy:

[code]
The advantage is also that you can choose the type of interpolation.

[2020-11-26 09:24] adrinjalali commented on #18916
seems to be related to https://github.com/Sydney-Informatics-Hub/Weed-ID-Interchange I guess.

[2020-11-26 09:24] #18916 closed

[2020-11-26 09:28] jnothman commented on #18916
Nope, a difference project entirely. Thanks for your laughter. Spending too much time on other repositories

[2020-11-26 09:41] hs-nazuna opened #18919 "Not expected result in LassoCV with fit_intercept=False and precomputed gram matrix"
#### Describe the bug

When I used LassoCV with `fit_intercept=False` and `precompute=np.dot(X.T, X)`, the result was different from the case without `precompute`.

#### Steps/Code to Reproduce

[code]

#### Expected Results

LassoCV without `precompute` obtained `alpha_=0.003947458508217293`.
I think the expected `alpha_` of LassoCV with `precompute=np.dot(X.T, X)` is same as the above.

#### Act

[2020-11-26 09:57] alfaro96 commented on #18918
The lines causing the issue in `developers/advanced_installation.rst` are:

[code]

is it?

[2020-11-26 11:11] cmarmo commented on #18918
The lines causing issues are
in advanced_installation
[code]
and in maintainers
[code]

[2020-11-26 11:20] glemaitre commented on #18918
Imperfect solution but to go forward: we remove the sphinx-prompt for these 2 links.
The second one is for the maintainer so we can accommodate. The first one is for install so we can omit any characters at the front to make it easy to copy/paste.

[2020-11-26 11:23] cmarmo commented on #18918
I like it! :) Should I go for a PR?

[2020-11-26 11:24] glemaitre commented on #18918
I would say yes ;)

[2020-11-26 13:12] sqbl opened #18921 "Non random default for sample_y in GaussianProcessRegressor"
#### Describe the bug

By the documentation, a user might assume that sample_y does _**not**_ apply a random seed by default. Yet, it does.
Furthermore, the sampling method seems deterministic for lack of better words - i.e. the pattern of a histogram of samples have the same shape even though different areas of a distribution are sampled.
#### Steps/Code to Reproduce

[code]

#### Expected Result

[2020-11-26 13:41] alfaro96 commented on #18918
And me too 😉.

[2020-11-26 14:33] ramet commented on #18861
numpy can be installed without any problem using homebrew on MacOS Big Sur. The problem we have here is that, using python 3.9 installed again using homebrew, the command : `pip3 install scikit-learn` try to compile its own version of numpy and fail. How to force the use of the installed version of numpy ?

[2020-11-26 14:46] glemaitre commented on #18861
Somehow you need to use the flag --no-build-isolation. When installing from
the source, it is what is done:

pip install --verbose --no-build-isolation --editable .

On Thu, 26 Nov 2020 at 15:33, Pierre RAMET <notifications@github.com> wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2020-11-26 15:30] #18918 closed

[2020-11-26 15:31] mathschy commented on #18837
@sadakmed actually even for the case of `np.dot` I think it may be non finite.
e.g. on my machine I have:
[code]
(e.g. https://github.com/scikit-learn/scikit-learn/pull/18848/files#r531103450)

[2020-11-26 15:59] mathschy commented on #18837
@ogrisel @thomasjpfan It would be great if we could have a maintainer confirmation (or infirmation?) that we need the default check_finite=True for cases like this:
https://github.com/scikit-learn/scikit-learn/pull/18850/files#r526344155
https://github.com/scikit-learn/scikit-learn/pull/18848/files#r531103450
https://github.com/scikit-learn/scikit-learn/pull/18909/files#r531115673

I wrote duplica

[2020-11-26 16:01] rth commented on #15123
Thanks for doing this analysis @lorentzenchr !

If we don't have this constraint, and just copy the pointwise implementation as needed with a range or a prange, would that simplify things? Or is the virtual inheritence still an issue?

The proposed design sounds reasonable to me but I'm still a bit surprised by the slowdown we see in the benchmarks above with respect to the plain numpy implementat

[2020-11-26 16:07] ramet commented on #18861
Thanks, using `pip3 install --no-build-isolation scikit-learn`, I got a working solution.

[2020-11-26 16:10] thomasjpfan commented on #18837
I general, I think we should only set `check_finite=False` only if we are completely sure that the input is checked before.

[2020-11-26 17:35] adrinjalali commented on #18914
Seems like https://github.com/scikit-learn/scikit-learn/issues/18914#issuecomment-734176213 satisfies the use-case. Closing

[2020-11-26 17:35] #18914 closed

[2020-11-26 17:38] adrinjalali commented on #18915
This doesn't seem to pass our [inclusion criteria](https://scikit-learn.org/stable/faq.html?highlight=inclusion%20criteria#what-are-the-inclusion-criteria-for-new-algorithms), https://github.com/scikit-learn-contrib/scikit-learn-extra may be a better place for it. But even then, the paper really doesn't seem to have had a lot of attention from the community.

[2020-11-26 17:38] #18915 closed