[2020-01-07 15:52] glemaitre commented on #16033
I'm +0 for such changes.

It is true that it is unlikely that we break something between patch version but it could still happen. I would prefer to keep this behaviour at the cost of adding a filter. What others are thinking?

ping @amueller @ogrisel @jnothman

[2020-01-07 15:53] glemaitre commented on #16034
This seems to be OK to propagate the params.

[2020-01-07 16:04] sid21g opened #16038 "'numpy docstring standard' link in coding guidelines redirects to Permission Denied page"
#### Description
The 'Use the [numpy](https://numpy.readthedocs.io/en/latest/format.html) docstring standard in all your docstrings' link in the [/doc/developers/develop.rst](https://github.com/scikit-learn/scikit-learn/blob/0a7adef0058ef28c7a146734f38161f7c7c581af/doc/developers/develop.rst) redirects to a _Permission Denied_ page.

#### Steps/Code to Reproduce
Can replace the link to correct [ur

[2020-01-07 16:11] amueller commented on #13971
Indeed, that's a better way to do it ;)

[2020-01-07 16:14] amueller commented on #16033
I'm not sure.

@victornoel I don't think we guarantee "no breaking pickle changes", even for minor versions. This is basically impossible to test or otherwise confirm. Is there anything in the documentation that suggests that pickles will be compatible?
Pickle is a very low-level serialization format. It's not meant to be used if the code changes in any way, really. So I think any change to the li

[2020-01-07 16:15] sid21g opened #16039 "Update support page by adding gitter and SO"
#### Description and Solution

While the stable version of scikit learn is I suppose 0.22, the one visible on IRC [reads](https://irc-source.com/channel/freenode/%23scikit-learn) to 0.17, if someone with authority could update it that would be helpful.

[2020-01-07 16:20] amueller commented on #16039
I have access to it (if I remember my password). Should we redirect people to SO or gitter? is anyone still active on IRC?

[2020-01-07 16:21] amueller commented on #16038
PR welcome :)

[2020-01-07 16:22] glemaitre commented on #16036
The regression was introduced in https://github.com/scikit-learn/scikit-learn/pull/10482

[2020-01-07 16:23] glemaitre commented on #16036
In 0.21.3, `neighborhoods` was a 1-D numpy array of numpy arrays.
In 0.22, this is a 2-D sparse matrix

[2020-01-07 16:23] sid21g commented on #16039
:man_facepalming: for me, I was waiting for someone to reply one of my queries on IRC. Guess not many are active there. If you could have the topic to redirect to Gitter, that will be more helpful IMO.

[2020-01-07 16:24] amueller commented on #16039
Is the IRC channel mentioned on the website still?

[2020-01-07 16:28] sid21g commented on #16039
Yes! Available on the [support page](https://scikit-learn.org/stable/support.html#irc).

[2020-01-07 16:31] amueller commented on #16039
Thanks!

[2020-01-07 16:33] sid21g commented on #16038
Sure will do!

[2020-01-07 16:36] amueller commented on #16039
@glemaitre the help wanted part is the doc change, the IRC change I need to do I think ;)

[2020-01-07 16:58] glemaitre commented on #16036
I was wrong. The regression was introduced after in: https://github.com/scikit-learn/scikit-learn/pull/15832/files

Basically, `dtype=object` convert the array into a 2D array of dtype object instead of 1D array of dtype object with inside numpy array of dtype int.

[2020-01-07 17:02] amueller commented on #16039
done!

[2020-01-07 17:05] glemaitre commented on #16036
We need to create an empty array as commented there:

https://github.com/pandas-dev/pandas/pull/30035/files#r354041213

[2020-01-07 17:09] glemaitre commented on #16036
The fix will be:

[code]

[2020-01-07 17:11] glemaitre commented on #16036
As a non-regression test, I think that we need to check the output of `NearestNeighbors.radius_neighbors` are numpy array of `dtype=object` and each internal array are numpy array of `dtype=int`.

[2020-01-07 17:13] glemaitre commented on #16039
Yes I mean to update the documentation adding SO, gitter and the mailing list.

[2020-01-07 17:24] glemaitre opened #16041 "Wrongly implemented test in RidgeCV"
The following test does not actually test anything:

https://github.com/scikit-learn/scikit-learn/blob/bdf1ae9e4a739abf06076e67dc453774ffc886a7/sklearn/linear_model/tests/test_ridge.py#L478-L502

`gcv_ridge` will compute the error by aggregating all predictions and compute the `explained_variance` on all predictions.

However, `loo_ridge` will make a `GridSearchCV` which will compute the score for

[2020-01-07 17:27] glemaitre commented on #16041
The related PR is #14864 linked to the following issue https://github.com/scikit-learn/scikit-learn/issues/14857

We need to implement a test which test what was intended at first.

[2020-01-07 17:51] sid21g commented on #16039
What does SO mean here?

[2020-01-07 18:01] amueller commented on #16039
Stack overflow (which has an sklearn tag), see the FAQ on "how to ask questions" :)

[2020-01-07 18:13] shubchat commented on #15761
Hi All, working on sklearn/semisupervised.Thanks

[2020-01-07 18:56] shubchat commented on #15761
Working on sklearn/semi_supervised.Thanks

[2020-01-07 19:00] thomasjpfan commented on #16013
As an experiment, removing the `bounds` keyword parameter here:

https://github.com/scikit-learn/scikit-learn/blob/8360786895e12a63afe07aa66ad8a3fbf438b729/sklearn/gaussian_process/_gpr.py#L489-L493

will get the failing tests to pass. This is not a proper fix since `test_solution_inside_bounds` will fail.

[2020-01-07 19:06] banilo opened #16043 "Docstring of confusion_matrix confusing"
Looking at the docstring of sklearn.metrics.confusion_matrix says little on whether x axis or the y axis of the returned confusion matrix is the 'actual' or the 'predicted' labels. There is a link to the wikipedia page on confusion matrices, but the output of the sklearn implementation appears to be the exact transpose of what is shown in the referred wiki page.

@GaelVaroquaux

[2020-01-07 22:14] alexshacked commented on #16036
Hi @glemaitre . I would like to work on this issue. Is it  Ok, or is someone else already on it?

[2020-01-07 22:25] glemaitre commented on #16036
Go ahead. Nobody is on it.

[2020-01-07 22:26] alexshacked commented on #16036
Thanks. I"m on it.

[2020-01-07 22:26] glemaitre commented on #16043
PR welcome to improve the documentation

[2020-01-07 22:40] amueller commented on #16043
The wikipedia entry also has been transposed a couple of times. But I'm not sure I understand your confusion:
![image](https://user-images.githubusercontent.com/449558/71935474-dc499a80-3174-11ea-97de-65d0187d428a.png)

[2020-01-07 23:06] jnothman commented on #16036
Whoops. Sorry for the incorrect review on #15832. I should have known
better. It would be very helpful to have a regression test.

[2020-01-07 23:41] knorthover commented on #14851
OK I can do that.  May take a day or two to get to it.

One point that has occurred to me is that other partial_fit() methods may have similar code.  I haven't checked for that.

[2020-01-07 23:46] madhuracj commented on #16028
Any ideas/suggestions on a strategy to handle unknown categories? Otherwise, I'd like to submit a PR raising a proper error for such instances.

[2020-01-08 01:33] jnothman commented on #16028
For now I think an improved error can be raised. They are hard to handle
due to smoothing, unless I'm much mistaken.

[2020-01-08 02:01] duckladydinh opened #16046 "Wrong optimization for computing Log Likelihood Gradient of Gaussian Process Regression"
Hi, I think I found a problem in Gaussian Process regression in line 481.

The formula np.einsum("ijl,ijk->kl", tmp, K_gradient) is not equivalent to its purpose of computing tmp.dot(K_gradient) (line 478).

It should be np.einsum("ijl,jik->kl", tmp, K_gradient) instead!

The reason is trace(tmp.dot(K_gradient)) = np.sum(tmp * K_gradient.**T**). It could be easily tested with some random matrices.

[2020-01-08 02:15] banilo commented on #16043
I like the sound of that.

[2020-01-08 02:18] GaelVaroquaux commented on #16043
Do you want to do a PR that does that?

[2020-01-08 04:28] madhuracj commented on #16028
Thanks, @jnothman. PR at https://github.com/scikit-learn/scikit-learn/pull/16045

[2020-01-08 05:08] venkyyuvy commented on #16034
Can I work on this issue?

[2020-01-08 05:30] jnothman commented on #14270
So we probably need a more efficient implementation of string `mode` when Pandas is available.

[2020-01-08 05:32] agkphysics opened #16048 "Add option to display confusion matrix with fixed range colormap"
### Enhancement

#### Description
When using `ConfusionMatrixDisplay` or `plot_confusion_matrix` to compare the performance of different classifiers or experiments, it might be useful to have a consistently scaled colormap to compare the plots, in the case where the confusion matrix is normalised.

Currently the colormap scales the entries of the matrix to [0, 1] before applying the colormap, so t

[2020-01-08 05:33] jnothman commented on #16033
But if you unpickle with an incremented patch-release, you can test to
ensure it works fine and re-pickle. This will overwrite the pickled
_sklearn_version annotation.

[2020-01-08 05:34] #16033 closed

[2020-01-08 06:15] jnothman commented on #16048
I'd consider adding a param `vmax`... but we should make the default that if normalize is used, vmax=1

vmin should always be 0. I think this should be set as a bug fix.

[2020-01-08 07:48] ogrisel commented on #16022
Indeed, this is should be fixed in 0.22 / 0.22.1. I just tried on master and could not reproduce the issue while it was present in 0.21.

Closing. @juanramonua feel free to reopen a new issue with more details if this resolution does not work for you.

[2020-01-08 07:48] #16022 closed

[2020-01-08 07:59] victornoel commented on #16033
Thank you for your feedbacks.

I'm a bit bothered by this answer because, isn't that what using semantic versioning is for? To guarantee users that there is no breaking changes?

From what I understand of pickling for classes (see https://docs.python.org/3/library/pickle.html#pickle-inst), this is not about code change, but about structural change: if you add or rename a field in a class, then you

[2020-01-08 08:11] ogrisel commented on #16023
As we have a model agnostic solution to assert feature importances without suffering from cardinality bias, I would be in favor of not extending our Random Forest implementation just to tackle bias issues in their feature importances, unless the method described in this paper is significantly better than permutation based feature importances but this would need to be demonstrated on some example.

[2020-01-08 08:13] ogrisel commented on #16023
@jnothman I had started writing my comment yesterday before reading yours :) We agree.

[2020-01-08 09:08] armgilles commented on #16034
Of course @venkyyuvy !

[2020-01-08 10:00] glemaitre commented on #16036
better. It would be very helpful to have a regression test.

To be honest, I would not expect the current casting behaviour and have relied on the implemented tests and thus have made the same mistake :)

[2020-01-08 10:10] cmarmo commented on #10548
@jnothnam, @NicolasHug, just discovered #15222 and a number of PR related to it that I haven't taken into account in summarizing this one... some of them are never been reviewed... :(
In order to make things clear for sprints, I'm wondering  if we can close one of those two issues: if yes, which one? As I can avoid duplicated information. Thanks for your collaboration.

[2020-01-08 10:14] NicolasHug commented on #10548
I wasn't aware of this issue (should have checked better), I'm happy to close https://github.com/scikit-learn/scikit-learn/issues/15222 in favor of this one

[2020-01-08 10:18] johannfaouzi opened #16050 "[Feature Request] Add class_weight parameter for multiclass wrappers"
#### Description
Most (perhaps all?) binary classifiers in scikit-learn can be generalized to multiclass classification with a `multi_class` parameter. These classifiers also have a `class_weight` parameter to give different weights to different classes.

However, multiclass wrappers such as  [OneVsOneClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.multiclass.OneVsOneClassifi

[2020-01-08 10:19] glemaitre commented on #16048
Do we want to add the parameter or rely on people to use matplotlib for these fine-tunings?

What I mean is that you can get the expected results by:

[code]

I am just worried about starting adding a keyword after another to finish with an infinite list which will not be really friendly as well

[2020-01-08 10:20] glemaitre commented on #16048
Regarding the default behaviour, I am not against correcting it.

[2020-01-08 10:34] glemaitre commented on #16050
Taking the `OneVsRestClassifier`, I see that it is trivial to apply a weight on the positive class at each round, but what would be the weight of the "rest" class?

[2020-01-08 10:43] johannfaouzi commented on #16050
Yes, but the positive class changes at each round (and it's prone to the encoding).

This came to my mind when I opened this issue... But it seems that `class_weight` is taken into account for existing classifiers:

[code]

From a mathematical point of view, I find the one-vs-rest strategy ill-defined, but it may good to have some consistency with what's already done for other estimators.

[2020-01-08 10:54] NicolasHug commented on #15828
Can we close the issue @Knight7561?

[2020-01-08 10:56] sweichwald opened #16051 "[ENH] ICA based on AJD (SOBI, AMUSE, NSS)"
While developing an extension of ICA to grouped data (as opposed to simply pooling data), we (@NiklasPfister & myself) also implemented a variety of related linear ICA algorithms.
They are based on approximate joint matrix diagonalization and, as opposed to FastICA, do not rely on non-Gaussianity of the sources. In particular, the following ICA-algorithms are implemented for the right choice of pa

[2020-01-08 11:01] #16038 closed

[2020-01-08 11:14] glemaitre commented on #16050
So this is trivial to implement since we are using a LabelEncoder which give us the info.

Be taken into account is not enough. Should it be the mean weights or instead apply a `sample_weight` for each sample which will be the `class_weight`? I still don't find it straightforward and I would be happy to have this back-up with theoretical argument.

[2020-01-08 11:16] glemaitre opened #16052 "Passing self.solver instead of solver in _ridge_regression"
In the following lines:

https://github.com/scikit-learn/scikit-learn/blob/a847cdebd624a00b6fb21a4f941466727aeb81f2/sklearn/linear_model/_ridge.py#L578-L585

we call `_ridge_regression` passing `solver=self.solver` while we made a validation step we should use `solver=solver` instead.

[2020-01-08 12:08] GaelVaroquaux commented on #16051
At a first quick glance, I am not sure that it passes the criteria for
inclusion of new algorithms:
https://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms

Does it?

Thanks for asking!

[2020-01-08 12:20] glemaitre commented on #16051
It could always be a close external contribution within `scikit-learn-extra` or a `scikit-learn-contrib` on its own.

https://github.com/scikit-learn-contrib/scikit-learn-extra
https://github.com/scikit-learn-contrib/project-template

[2020-01-08 12:45] glemaitre commented on #14881
Since this is a bit stalled, I will move this forward.

[2020-01-08 13:31] NiklasPfister commented on #16051
Thanks for the quick replies!
Which criteria in particular are you referring to?

Regarding the well-established'ness: SOBI ICA is a very well established algorithm that has been developed/published in 1997 and has been cited 2993 times as per Google Scholar. Furthermore, it has been shown to  be "the best procedure" in comparison with FastICA and JADE, see **. Basically it
complements FastICA and

[2020-01-08 13:52] glemaitre commented on #15222
closing in favour of #10548

[2020-01-08 13:53] #15222 closed

[2020-01-08 15:12] glemaitre commented on #12980
Done

[2020-01-08 15:12] #12980 closed

[2020-01-08 16:28] aggvarun01 opened #16055 "Add multiclass support for brier_score_loss"
Feature Request: The original formulation for Brier score inherently supports multiclass classification [[source](https://en.wikipedia.org/wiki/Brier_score#Original_definition_by_Brier)]. This is currently absent in scikit-learn, which restricts Brier score to binary classification.

I have found it useful to have multiclass brier_score_loss when comparing calibration, and have a custom function f

[2020-01-08 16:50] tituschristian commented on #15761
Hi @cgsavard , I'd like to contribute too, i will take `sklearn/svm` module. Thanks

[2020-01-08 16:55] thomasjpfan commented on #16048
Btw the contrast issue with the second plot displays correctly in 0.22.1:

![hello](https://user-images.githubusercontent.com/5402633/71998240-4746b000-320d-11ea-8f90-d6864435574a.png)

As for setting the colormap, the `im_` attribute can be used:

[code]

Although, it does make sense to have the bounds to 0 and 1 when the confusion matrix is normalized.

[2020-01-08 16:58] glemaitre commented on #16048
Oh, yes you have the image available already.

[2020-01-08 17:45] agramfort commented on #16051
@NiklasPfister my feeling is that you would go faster by consolidating a python package for ICA-like techniques. You would be able to do fast updates / release cycles. We have FastICA for historical reasons. Infomax PR was never merged. I myself worked on https://github.com/pierreablin/picard with some fast solvers for joint diag https://github.com/pierreablin/qndiag during the phd of @pierreablin

[2020-01-08 18:23] vnmabus opened #16058 "Tolerance in KMeans is with respect to the norm of the difference of centers."
The parameter `tol` is referred in the documentation as tolerance with respect to inertia:

https://github.com/scikit-learn/scikit-learn/blob/b194674c42d54b26137a456c510c5fdba1ba23e0/sklearn/cluster/_kmeans.py#L685

However the tolerance was never measured against the difference in inertia, but as against the Frobenius norm of the difference in the cluster centers.

https://github.com/scikit-learn

[2020-01-08 18:28] GaelVaroquaux commented on #16051
I don't think that the classic ICA methods are out of scope. The question
is: which one should we add, and how do we make sure that people with the
corresponding expertise stick around.

[2020-01-08 18:30] PhilippPro opened #16059 "permutation_importance not anymore in inspection?"
I cannot import the permutation_importance function from sklearn.inspection (as described in the tutorial). What is the problem here?

[code]
#### Versions
System:
    python: 3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]
executable: C:\Users\PhilippProbst\AppData\Local\Continuum\anaconda3\python.exe
   machine: Windows-10-10.0.18362-SP0

Python deps:
       pip: 19.2.3
setupt

[2020-01-08 18:36] PhilippPro commented on #16059
Problem solved by updating.

[2020-01-08 18:36] #16059 closed

[2020-01-08 18:42] pierreablin commented on #16051
I would indeed be happy to help.

Frist, I think having a contrib package with many ICA algorithms with a common API would be extremely valuable, and I would happily contribute.

Second, I think that SOBI is among the most widely used ICA algorithms, and importantly it differs quite starkly from FastICA since it leverages spectral diversity rather than non-Gaussianity. The output of FastICA and SO

[2020-01-08 18:51] GaelVaroquaux commented on #16051
Pierre, thanks for your input, this is very useful.

I would say: +1 for SOBI in scikit-learn, based on this assessment, with
a good example demonstrating the difference with FastICA.

[2020-01-08 21:13] atarashansky commented on #12794
Perhaps the easiest thing would be to add the 'randomized' solver to `scipy.sparse.linalg.svds` and modify sklearn to exclusively interface with `svds` for sparse inputs. As a first step, I'll try and submit a PR to scipy adding support for a matrix-free randomized solver to `svds`. I'll reference this issue in the PR to keep you guys posted.

[2020-01-08 21:31] lobpcg commented on #12794
'randomized'  is unlikely competitive vs ARPACK and LOBPCG as a generic solver in scipy, due to its slow convergence, so such a PR would be difficult to justify. In sklearn, this is not noticeable only because 'randomized' runs just a very few iterations. The 'randomized' sklearn code not even bother to check for tolerance to my recollection.

Also, this approach will likely run into an issue that

[2020-01-08 21:46] jnothman commented on #16050
I'd suggest you worry about how to implement it only after you're sure you
know how to test for a valid implementation...

[2020-01-08 21:47] amueller commented on #16033
The question is "breaking changes of what?". There is no breaking changes of code or API. Any code will behave before as it will after.

Indeed, we make the choice that we guarantee code will work across minor versions, but pickles will not.
I don't think we have broadly discussed or documented it, which we could (pr welcome). Any statements about backward compatibility are about public API, and n

[2020-01-08 22:07] madhuracj commented on #16058
It looks more like the documentation is wrong.

[2020-01-08 23:37] DrEhrfurchtgebietend opened #16062 "[Feature Request] Add subsample and max_features parameters to HistGradientBoostingRegressor"
The parameters **subsample** and **max_features** in GradientBoostingRegressor are useful. Is it possible to add equivalent parameters to HistGradientBoostingRegressor?

[2020-01-08 23:51] DrEhrfurchtgebietend opened #16063 "[Feature Request] Add staged_predict() function to HistGradientBoostingRegressor"
The [staged_predict](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingRegressor.html#sklearn.ensemble.GradientBoostingRegressor.staged_predict) function is useful for understanding your overfitting with plots like [this](https://scikit-learn.org/0.19/auto_examples/ensemble/plot_gradient_boosting_regression.html). Would it be possible to add this functionality to H

[2020-01-09 00:09] DrEhrfurchtgebietend opened #16064 "[Feature Request] Impurity-based feature importance for HistGradientBoostingRegressor"
I realize that [permutation_importance](https://scikit-learn.org/stable/modules/generated/sklearn.inspection.permutation_importance.html) is a better and less biased measure than Impurity-based feature importance but it still has it uses. As illustrated [here ](https://scikit-learn.org/stable/auto_examples/inspection/plot_permutation_importance_multicollinear.html) multi-collinearity can be an iss

[2020-01-09 04:14] WeiQijie opened #16065 "[Feature Request/Improvement] Dealing with weight=0 in precision_recall_curve"
It seems that when **sample_weight** is specified in **precision_recall_curve** function, all the scores in y_score will be reserved in the output thresholds, even though the corresponding weight of the score is zero.

[code]
Take the code above as an example. The weight assigned to score 2 is 0. I think the precision-recall curve got from input 1 and input 2 should be the same while found the res

[2020-01-09 08:06] johannfaouzi commented on #16050
That's what I highlighted: there is already an implementation for `LogisticRegression`, which I find confusing. I'm going to look at the code and try to see how it is already implemented (unless one of you already know), so we can discuss how valid the current implementation is.

[2020-01-09 08:22] glemaitre commented on #16064
Duplicate of #15132

[2020-01-09 08:23] metalglove commented on #13228
I am having the same problem.

[2020-01-09 08:37] keyianpai commented on #16065
Maybe it's because the threshold of the input, they are very different because the first prediction value appears 2, which lead to 2 in threshold1`thresholds1 [0 1 2]`.

[2020-01-09 08:50] johannfaouzi commented on #16050
Here is the relevant code:
https://github.com/scikit-learn/scikit-learn/blob/d367ea474c6e60602ced053d383810e5fc8dde62/sklearn/linear_model/_logistic.py#L662-L683

So the class weights are assigned to the original labels (via `sample_weight`) if the user provides a dictionary.

[2020-01-09 08:54] glemaitre commented on #16050
OK so as suggested by @jnothman one should think about proper testing. The tests in the liblinear/OvR setting should be helpful to know what the idea of putting weight there.

[2020-01-09 09:00] NataliaVanetik opened #16068 "Shuffle does not work properly in Kfolds (stratified or not)"
#### Description

When  StratifiedKFold or KFold are used with shuffle=True, the resulting data keeps original order and is not shuffled. For example, if we have data[1..20] and we need 2 folds, each fold will look like
data[i1],...,data[i10] where i1<i2<...<i10.
This creates a problem when data distribution is not random; for instance, when binary classification is required and negative samples p

[2020-01-09 09:06] johannfaouzi commented on #16050
One possible test (maybe not enough) would be to check that:
[code]
and
[code]
yield identical classifiers (by checking the attributes `coef_`, `intercept_` and `n_iter_`). I'm not sure about the `random_state` parameter, we would need to check if all the jobs have the same RNG or if it is muted someway. Maybe we should first try with a solver that does not depend on `random_state` first.

Likewis

[2020-01-09 09:11] #16052 closed

[2020-01-09 09:14] jnothman commented on #16068
We intentionally use shuffle=True by default. This has been discussed several times before. Sometimes shuffling can overstate performance, where the data order is meaningful.

But yes, this behaviour can be surprising.

[2020-01-09 09:15] jnothman commented on #16068
Sorry I just realised your issue is saying something different

[2020-01-09 09:41] WeiQijie commented on #16065
Yes, I understand how it happens. It is not difficult to avoid this situation but it may be confusing sometimes. I just think prediction value 2 with weight 0 should not affects the curve.

[2020-01-09 10:19] #16064 closed

[2020-01-09 10:38] cmarmo commented on #14228
@NicolasHug, I have updated the list of files containing `n_jobs` in the last release (see this [gist](https://gist.github.com/cmarmo/f8cd0f4c82f8fc816a106fd3510c61dd)). Checked files there are those containing `n_jobs` with a ref to the Glossary: they are the majority. I'm wondering if this could still be a good issue for a Sprint (it was used at the Scipy sprint 2019 if I understand correctly).

[2020-01-09 10:46] keyianpai commented on #16065
Yes I agree with you. it seems more reasonable to filter examples with zero weight and then to decide the threshold using remaining examples.

[2020-01-09 10:51] glemaitre commented on #16068
The documentation of `shuffle` mention that it shuffles **data** (taking into account or not the classes if it is stratified). It does not give any guarantee regarding a reshuffling of the indices provided.

I am not sure to understand the reason. You will see the negative example during your training as well so it should not have any impact. You can always shuffle the indices yourself if required

[2020-01-09 11:00] jnothman commented on #16068
Yes, I think this is why our SGD and MLP implementations default to
shuffling

[2020-01-09 11:12] NataliaVanetik commented on #16068
Yeap, this is how we discovered:

we had a paper with model in train/validation/test setup, and one of its reviewers asked for 10-fold tests (which are not usually used in deep learning, probably one of the reasons no one noticed it so far). When performing these tests, we had a sudden accuracy drop for all the models (CNNs and RNNs are the most notable), and then traced it back to our dataset con

[2020-01-09 11:42] alexshacked commented on #16036
I"m implementing the fix as per @glemaitre suggestion and naturally regression tests.
Just a few words about this bug though:
It happens because of the np.array constructor behaviour.
1.
np.array([np.array([0,1]), np.array([2,3])])
Out[42]:
array([[0, 1],
       [2, 3]])
2.
np.array([np.array([0,1]), np.array([2])])
Out[43]: array([array([0, 1]), array([2])], dtype=object)
When it's input is an ar

[2020-01-09 13:00] glemaitre commented on #16036
@alexshacked Thanks for the feedback. Do not hesitate to open the PR even this is WIP.

Regarding the pattern, this was the only occurrence in scikit-learn so we should be OK.

[2020-01-09 13:07] glemaitre commented on #15604
Let's close this issue.

As @jnothman mentioned, we can wait for feedback to see if we need more optimization using chunking.

[2020-01-09 13:16] NiklasPfister commented on #16051
Thanks for your input. We agree that SOBI is the most widely used and hence relevant addition to scikit-learn. In our current implementation all of the 4 mentioned ICAs are realized by the exact same code base but only with different parameter settings (this is because all methods jointly diagonalize different (auto)-covariance matrices). We would therefore propose to do the following:
1) add Sobi

[2020-01-09 13:16] glemaitre commented on #15426
@cmarmo I updated the list on the top.

[2020-01-09 13:35] keyianpai commented on #16043
I would like to make my first contribution.

may be more clear?

[2020-01-09 14:00] glemaitre commented on #16068
Oh true, you consider a sample at a time to make an update.

But this only relevant if your data were class-ordered beforehand which is not an obligation. I am scared that adding documentation for this specific case would clutter the documentation and might be confusing for people who are not in this case. @jnothman WDYT?

[2020-01-09 14:05] glemaitre commented on #16016
I started implementing this solution in #16070. However, I think that `n_threads` will be better than `n_jobs` since we will not have the same default than usual and that this is currently dealing with the OpenMP threads. I am unsure, if we would have in the future anything else than the OpenMP threads in GBDT?

[2020-01-09 14:11] cmarmo commented on #15426
Thanks!

[2020-01-09 14:16] rth commented on #16016
Exposing  a `n_jobs` or `n_threads` for OpenMP threads would be contrary to the outcome in https://github.com/scikit-learn/scikit-learn/issues/14265 as far as I understood that discussion? Wouldn't a joblib context manager be sufficient for it?

[2020-01-09 14:37] GaelVaroquaux commented on #16051
We need to reduce the combinatorials of methods in scikit-learn, both for
our users as more options makes it harder for them to solve problems
efficiently (think about the old windows printing menus) and for the
developers as every subclass, every conditional, every line of code,
every additional variable is a cognitive overhead.

We will not accept a contribution with code that is too complex. He

[2020-01-09 14:44] glemaitre commented on #16016
Using `openmp_effective_n_jobs` would suffice without exposing `n_threads`. And by default, we can limit it to a number of threads. Basically, we just remove the parameter `n_threads`.

Regarding #14265, I did not follow the discussion so I would let others commenting on what is the best.

[2020-01-09 14:45] victornoel commented on #16033
@amueller thanks for the clarification.

Basically your point is that pickling is not a public API. The reason I created this issue is that because from my usage, I believed that pickling of models was part of the public API. It seems I was mistaken :)

Actually you do have documentation on this [here](https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/model_persistence.rst) and

[2020-01-09 14:49] glemaitre commented on #16016
OK I see that it was option (5). So we can still select the number of threads for the user to limit the oversubscriptions here.

[2020-01-09 15:05] cmarmo commented on #10548
Following @jnothman [comment](https://github.com/scikit-learn/scikit-learn/issues/10415#issuecomment-571567233) maybe this issue could deserve a 'Moderate' label?

[2020-01-09 15:10] plgreenLIRU commented on #11663
The PR might be relevant but I'm having trouble recreating the issue. I'm running this:

`import numpy as np`
`from sklearn.gaussian_process import GaussianProcessRegressor`
`from sklearn.gaussian_process.kernels import (DotProduct, ConstantKernel)`

`kernel = (ConstantKernel(0.1, (0.01, 10.0)) *
          (DotProduct(sigma_0=1.0, sigma_0_bounds=(0.1, 10.0))**2))`

`# Specify Gaussian Process`
`gp

[2020-01-09 15:20] leockl opened #16073 "There is still an issue with 'binary_only' estimator checks for classification"
I was running:
[code]
to check a binary classifier that I had just developed, and the error below came up:
[code]
I have pinpointed it down to the part of the code in sklearn.utils.estimator_checks.check_estimator where I think where the issue is:
[code]
There is something wrong with the tag 'binary_only' where it is not properly capturing binary classifiers only. I could be wrong and not entire s

[2020-01-09 15:21] NicolasHug commented on #16016
@ogrisel I fully agree that we should be using `openmp_effective_n_jobs`. But why do you want to introduce a parameter?

We agreed after a long discussion that only OMP_NUM_THREADS should be used.

[2020-01-09 15:44] kno10 commented on #15831
In above case, you did not fix the random_state. Hence the two runs may end up in different local optima, and converge at a different speed. Only then they *should* give the exact same result (they don't, for me - in the ELKI implementation of Elkan, they do)

Nevertheless, there is something seriously broken in the "elkan" implementation of sklearn right now. I'll file a separate bug for this.

[2020-01-09 16:06] adrinjalali commented on #11663
Do you get the warning?

[2020-01-09 16:07] andheartsjaz opened #16074 "Future Warnings when using SVM models in Jupyter"
#### Description
 When calling fit on SVM, several futures warnings came up. triesd to fix using the gamma parameter set to 'scale'

#### Steps/Code to Reproduce
[code]

[2020-01-09 16:08] andheartsjaz commented on #16074
per data science instructor, should try upgrading my version of the package

[2020-01-09 16:08] kno10 commented on #9795
I do not think this bug report should be closed. It is not resolved.
Elkan's algorithm *should* perform the exact same cluster assignments as lloyds, and the results should be identical; but they aren't. But I don't think its due to empty centers - I have been observing the same on mnist, and I doubt it had empty centers there.
Even if it turns out to indeed be only a numerical issue (I believe th

[2020-01-09 16:53] kno10 opened #16078 "Inertia reported by k-means are inconsistent"
[code]
Output:
[code]
As you can see, we can observe very different - inconsistent - values for inertia.

| method | inertia |
|-----------|----------|
|"full" returned inertia_ | 164734654456.65894 |
|"elkan" returned inertia_ | 164734654456.6589 |
|"full" k-means verbose output | 265330616942 |
|"elkan" k-means verbose output | 170337099859.96677 |
|Manual, old centers | 272531226886.0 |
|Manual

[2020-01-09 17:19] DrEhrfurchtgebietend commented on #15132
It would likely be better to model this off of XGBoost than GradientBoostingRegressor .

The equivalent of the GradientBoostingRegressor case
[code]

is
[code]
The usefulness added here is that there are several different importance_type options ['weight', 'gain', 'cover', 'total_gain', 'total_cover']. Just like how you may want to use different evaluation metrics in the permutation importance you

[2020-01-09 17:56] chmendoza opened #16080 "Missing argument `ensure_2d=False` in call to check_array()"
https://github.com/scikit-learn/scikit-learn/blob/4fe4d27eb1b88cc799199f2176ac734bbc16ca31/sklearn/metrics/pairwise.py#L268

According to the docstrings of euclidean_distances(), `X_norm_squared` is 1D.

[2020-01-09 18:20] thomasjpfan commented on #16080
Internally, `euclidean_distances` function takes advantage of making `X_norm_squared` 2D because it uses broadcasting later to calculate the distance.

https://github.com/scikit-learn/scikit-learn/blob/4fe4d27eb1b88cc799199f2176ac734bbc16ca31/sklearn/metrics/pairwise.py#L303-L305

As a side note, it looks like we test `X_norm_squared` with `(1, n_samples)` and not `(n_samples,)` as stated in the d

[2020-01-09 18:45] kno10 commented on #9795
Update: The actual assignments seem to be the same - its just the returned inertia is slightly different / and the inertia logged with `verbose=True` are even very different c.f., #16078
Performance of the elkan implementation does, however, have some major issue - my Java version of Elkan is much faster on this data set (MNIST train set, with k=10 - try it yourself).

[2020-01-09 18:59] cmarmo commented on #13971
@amueller, @StevenLi-DS , it seems that everybody is happy now... :)
Closing?

[2020-01-09 19:11] kno10 opened #16081 "Hidden additional iteration in k-means, max_iter appears to be off by two"
The runtime of k-means (including "full") is not proportional to the maximum number of iterations.
But it clearly should be.

Benchmark code (use the MNIST data set):
[code]
Resulting in the following plot.
![kmeans](https://user-images.githubusercontent.com/3997899/72097110-efe33580-331b-11ea-90f2-9f9df2393486.png)

It will converge at 63 iterations; when it converged the iteration count will be

[2020-01-09 19:16] #10360 closed

[2020-01-09 19:20] amueller commented on #11447
In the interest of seeing what this would buy us, I made a list of estimators where this could potentially help:
https://docs.google.com/spreadsheets/d/1LCItphTxKwJWERUehItK_Tacef8jkXAxGyJQEvR3xcU/edit?usp=sharing

The first column is the ones that do not call into cython or scipy optimize, though they might use ``scipy.linalg`` or some scipy distributions, but these might be fixable.

second colu

[2020-01-09 19:33] kno10 commented on #16025
`precompute_distances` is a misnomer. It's doing some batch computation, but there is nothing "precomputed".
Also, I found it to only ever hurt performance, not help: 19 seconds vs. 11 seconds.

[2020-01-09 19:33] dylanking42 commented on #12398
I would like to provide a little empirical evidence that this is not the case, although it has more to do with random forests than decision trees themselves.

https://medium.com/data-design/visiting-categorical-features-and-encoding-in-decision-trees-53400fa65931

as well as:

https://roamanalytics.com/2016/10/28/are-categorical-variables-getting-lost-in-your-random-forests/

This is relevant for

[2020-01-09 19:47] shubchat commented on #15761
@cgsavard ,Are there some other edits needed on the PR

[2020-01-09 19:49] shubchat commented on #15761
@cgsavard .Are there some further edits needed on the PR #16042

[2020-01-09 20:34] jnothman commented on #16068
I think this should be noted in the definitions of KFold.shuffle etc,
because shuffle gives the impression otherwise. However, I'm not sure that
many users will see this comment :)

PR welcome, thanks for raising this issue

[2020-01-09 20:39] jnothman commented on #16073
Are you able to provide a minimal code snippet that reproduces the issue?

[2020-01-09 20:41] jnothman commented on #16074
Using the gamma parameter, or upgrading, should work.

[2020-01-09 20:41] #16074 closed

[2020-01-09 20:41] glemaitre commented on #16025
`precompute_distances` means that you are computing all the distances to the labels at once (or by chunk). Thus you can benefit from cache L2/L3 and maybe vectorization. The `_assign_labels_array` is making 2 for nested for loop without materializing the same matrice and will not be CPU cache-friendly.

But this is only on the top of the head.

[2020-01-09 20:51] glemaitre commented on #16025
Be aware that we have #11950 which will be a more optimal implementation and should come soon. But we might want to solve the other problems in the meanwhile.

[2020-01-09 22:25] jakirkham commented on #11447
Thanks for putting that list together @amueller!

I think what is most interesting to us is what you have called meta-estimators in the spreadsheet (column 4). These are interesting as we can combine them with things like Dask, CuPy, and/or other things where the array type is handled correctly by some estimator we provide. Just to pick one to start out, `GridSearchCV` could be a nice place to sta

[2020-01-09 22:45] glemaitre commented on #16073
For instance a minimal binary estimator?

[2020-01-09 23:17] StevenLi-DS commented on #13971
@cmarmo It would be better if this can be fixed so that the users don't have to set style every time. But if it requires too much time, I think this workaround is ok for me.

[2020-01-09 23:22] chmendoza commented on #16080
There is an asymmetry in the way `XX` and `YY` are treated:

https://github.com/scikit-learn/scikit-learn/blob/4fe4d27eb1b88cc799199f2176ac734bbc16ca31/sklearn/metrics/pairwise.py#L285

It seems that `np.np.atleast_2d` should be called in place of `check_array`, or at least before it.

[2020-01-09 23:40] leockl commented on #16073
I have included the entire code for my classifier below:
[code]
You can run the above code in check_estimator to get the same error I am getting.

I suspect because the tag 'binary_only' is not properly capturing binary classifiers only, problems.append() was executed resulting in the "Arrays are not equal" error - ie. np.unique(y) (where y is from check_estimator) having classes ['one', 'three',

[2020-01-10 03:03] #16068 closed

[2020-01-10 04:57] guoyaohua opened #16086 "How does sklearn's n_job multi-process training work? How to make the CPU full and take up so little memory."
Using python to achieve multiple processes can make the CPU full, but it will consume memory multiple times. However, when using sklearn to train the model, setting n_job = -1 can still make the CPU run at full capacity, but the memory consumption is not much. How does this work?

Is the joblib package written in another language?

[2020-01-10 05:09] jnothman commented on #16086
Different backends work differently, but see documentation on scikit-learn's multiprocessing and multithreading, both of which are backends we use.

The issue tracker is mainly for bugs and new features. For other questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn)

[2020-01-10 05:09] #16086 closed

[2020-01-10 05:55] hs-nazuna commented on #14229
Hey, I can work on this. Could you describe more what you want to do?
Do you want to make a function to get the metrics list? (maybe same question as @jnothman )

[2020-01-10 06:07] sandrotosi opened #16087 "scikit-learn/0.22.1 (Debian): doc building freezes on "waiting for workers...""
Hello,
while preparing 0.22.1 for Debian, the documentation build process stops at the end with:

[code]

there are some python process running:

[code]

as you can see we tried ti specify `-j 1` to force a sequential build, but that didnt help much.

One thing to notice is that we see the doc build process tried to download some sample data from internet: Debian doesnt allow to interact with the

[2020-01-10 08:03] plgreenLIRU commented on #11663
No but I got a different warning instead (convergence of solver) so I think it's difficult to draw any conclusions before we can work out why I can't replicate the results.

[2020-01-10 08:28] cmarmo commented on #13971
That's why I gave it a try... :)
But @amueller is the one with merging powers... ;)
Maybe he could give me some advice about how make my PR (#15940) better? Thanks!

[2020-01-10 12:54] cmarmo commented on #16087
Hi @sandrotosi , may I ask you if the download errors show up in the 0.20.2 and 0.20.3 versions, previously packaged for debian?
Also, to check if the download is to blame, could you temporary build documentation without plots as in the skl doc [Makefile](https://github.com/scikit-learn/scikit-learn/blob/1c422ca736fc595148cbe606ffeb426755863b3c/doc/Makefile#L52) an let us know?
Thanks for your col

[2020-01-10 15:13] sandrotosi commented on #16087
@cmarmo i just tried with `html-noplot` but the build stopped in a similar way:

[code]

with the python3.7 processes hanging:

[code]

here the latest build log:
[scikit-learn_0.22.1+dfsg-1_amd64.build.txt](https://github.com/scikit-learn/scikit-learn/files/4046272/scikit-learn_0.22.1%2Bdfsg-1_amd64.build.txt)

[2020-01-10 15:40] glemaitre commented on #16081
I look at the code and apart of the extra-step E-step to be sure that clusters are also samples in the data. I don't see any issue. I think that the time measure in your example is too small and affected by over validation steps that we perform around.

I time only the relevant iteration divided by the number of iteration done:

[code]

I would not be surprised that the average cost at 1 iteration

[2020-01-10 15:56] cmarmo commented on #16087
I can't test on debian right now, but looking at the log the Sphinx version used for the build is 1.8.5
The version used for the CI tests is the [2.1.2](https://github.com/scikit-learn/scikit-learn/blob/6b8e5452934f7f027aff6e97cb3fe2dd0e8ab24d/build_tools/circle/build_doc.sh#L170)... this could be a problem. I've checked locally and I can't build the documentation with sphinx 1.8.5: the process ex

[2020-01-10 16:15] glemaitre commented on #16078
It might be due to the final E-step to ensure that clusters are also samples while during the verbose this might not be the case?

[2020-01-10 18:08] Guillermogsjc commented on #9341
Hi all,

the solution on my [GIST](https://gist.github.com/Guillermogsjc/e2cc40a6709f367a003979d4b8ac728b) allows quantile transforming with nans. It is pandas based so not `np.ndarray` friendly.

It is designed for pandas DataFrames so there must be some more glue code to reach full `sklearn` compatibility (anyway I am using it without any problem in my sklearn  `Pipeline`).

[2020-01-10 20:12] thomasjpfan commented on #10895
Closing because the more stable version is preferable. Feel free to reopening if you wish to continue the discussion.

[2020-01-10 20:12] #10895 closed

[2020-01-10 20:43] thomasjpfan commented on #13659
To summarize, the formula in https://scikit-learn.org/stable/modules/density.html#kernel-density-estimation includes the bandwidth parameter:

![Screen Shot 2020-01-10 at 3 36 49 PM](https://user-images.githubusercontent.com/5402633/72184710-0b534c80-33bf-11ea-8803-e844ed50f327.png)

The other way to fix this is to update rho to use the same `K(x;h)` notation:

![Untitled](https://user-images.gith

[2020-01-10 21:23] mguptawork opened #16093 "column transformer assumes elements of get_feature_names() will be strings."
#### Description
To me this looks like a really simple fix:
At line https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/compose/_column_transformer.py#L364
the get_feature_names function in column_transformer assumes all the transformers will provide elements of type string. I think the fix could be something as simple as rewriting the code to be.
`feature_names.extend([name + "__" +

[2020-01-10 22:55] kno10 commented on #16081
There is an additional redundancy due to the way the loop is organized in Elkan's (I haven't checked Lloyd yet, and given the pending changes it does not make sense to check the old code).
For Elkan, this is fixed in #16083. If you set max_iter=1, it will perform 3x assignment, and 1x mean update. Updating the means is fairly cheap compared to assigning points, hence this does appear to cost 3 ite

[2020-01-11 00:01] sandrotosi commented on #16087
yep i was starting to think the same, that our slightly outdated version of sphinx may be the reason

[2020-01-11 01:48] mghah commented on #15761
working on Classes and Functions in `sklearn.decomposition` module. Thanks.

[2020-01-11 04:23] mghah commented on #15761
working on Classes and Definitions under `sklearn.covariance`. will take me a couple of days. thanks.

[2020-01-11 09:05] keyianpai opened #16094 "Inconsistent default random_state parameter across datasets module"
#### Description

Most of  datasets functions adopted `random_state=None `(this can be seen from #16057 ), but there are two exceptions `fetch_olivetti_faces()` and `load_files()` which used `random_state=0`. Although they have same effect when the consistent default `shuffle =False `, it  still may cause misunderstanding.

Maybe change `random_state=None `  in `fetch_olivetti_faces()` ([here](htt

[2020-01-11 10:24] keyianpai opened #16095 "Wrong default random_state parameter in doc of factor analysis"
Doc of factor analysis in decomposition module says `default=None`([here](https://github.com/scikit-learn/scikit-learn/blob/5609eb4d3ecd85253816b811c8b91da20282dc9e/sklearn/decomposition/_factor_analysis.py#L92)  ), but the code demonstrates `default=None`([here](https://github.com/scikit-learn/scikit-learn/blob/5609eb4d3ecd85253816b811c8b91da20282dc9e/sklearn/decomposition/_factor_analysis.py#L14

[2020-01-11 10:36] NicolasHug commented on #15814
I missed that then, my bad.

I still think it's best to avoid duplicating the work. If the foundation site needs release highlights, then I'd rather have it there, and only there. I hope we can still review it.

Re communication: I agree with everything.

[2020-01-11 11:15] NicolasHug commented on #14228
A link to the glossary is the bare minimum, but that's not what this issue is about. The issue is about:

Any docstring that does not explain where and how parallelization happens should be updated.

[2020-01-11 11:36] NicolasHug commented on #6616
Here are the discrepancies I could find in `utils.init`. "not in classes" means "not in the API ref"

`Bunch`: not in all and not in classes
`safe_mask`: in classes but not in all
`axis0_safe_slice` not in all and not in classes
`safe_sqr` in classes but not in all
`gen_batches` not in all and not in classes
`gen_even_slices` in classes but not in all
`tosequence` not in all and not in classes
`in

[2020-01-11 12:57] keyianpai opened #16096 "Better documentation for random_state in model selection module"
Sort of like #15222 , but for model selection .

For any public object that accepts a random_state parameter, we should document what parts of the algorithm are randomized. It's not always obvious what is and what isn't randomized. We should also always link to the glossary, where the different possible values of random_state are clearly explained.

For example for the random forest estimators, it

[2020-01-11 13:00] keyianpai commented on #16096
Sorry,I want to make a new commit, but it automatically committed in #16072

[2020-01-11 17:42] #16043 closed

[2020-01-11 17:42] #16096 closed

[2020-01-11 17:53] thomasjpfan commented on #16095
PR welcome to update the docstring to match the code.

[2020-01-11 18:23] NicolasHug commented on #16062
Do you use these because of computation time, or for a bias / variance tradeoff?

I suppose you could expect some speed ups. However,
Since the HistGradientBoosting estimator first bin the data, these parameters might not have the same effect regarding bias / variance

[2020-01-11 18:53] tbenst opened #16097 "test_ard_accuracy_on_easy_problem fails on CPU with AVX-512"
#### Description
On sklearn 0.21.3, when I build numpy against MKL, the tests pass if I run on a cpu that does not have AVX-512, but running the same binaries on a CPU with AVX-512 results in a test failure on test_ard_accuracy_on_easy_problem

#### Versions
numpy 1.17.4
scipy 1.3.3
sklearn 0.21.3

Edit: for what it's worth, quite close:
[code]

So the simple fix would be to increse the threshold

[2020-01-11 20:09] thomasjpfan commented on #16013
When using `scipy==0.19.1` and `numpy==1.13.1` from pypi on the same docker image, the test passes.

[2020-01-11 21:45] alexshacked commented on #16027
It looks like an interesting issue @ImLaoBJie. Do you intend to submit a PR for this. If not I'll be happy to work on it.

[2020-01-12 00:37] jnothman commented on #15814
Maybe it's better for the foundation to make posts about individual
upcoming features, rather than a release highlights post

[2020-01-12 03:54] #16095 closed

[2020-01-12 04:14] sandrotosi opened #16101 "0.22.1: test_old_pickle fails with KeyError"
Hello,
while preparing 0.22.1 for debian, the test suite produced this error:

[code]

i found this [old bug report](https://github.com/scikit-learn/scikit-learn/issues/12016) but at that time, `joblib` was still vendored in scikit-learn.

some info regarding the dependencies versions:

[code]

i think for now i'm just gonna go ahead and skip the test but it would be great if we could get it actua

[2020-01-12 06:32] ImLaoBJie commented on #16027
@alexshacked Thank you but sorry, I don't major in this territory and know the detailed knowledge. Hoping to see your work in the future.

[2020-01-12 06:48] DrEhrfurchtgebietend commented on #16062
It was to prevent overfitting. I have read LightGBM has issues with overfitting so I thought this would be a good solution. If things are different in this method please explain.

[2020-01-12 08:00] alexshacked commented on #16027
OK @ImLaoBJie. I will start working on this issue. Will try to submit a PR soon

[2020-01-12 09:33] NicolasHug commented on #16062
Looks like LightGBM has `bagging_fraction` for subsampling, and `feature_fraction` for dealing with overfitting.

I think it's worth implementing, WDYT @ogrisel @adrinjalali?

[2020-01-12 09:49] jayvdb opened #16104 "sklearn-0.0.tar.gz setup.py is garbage"
https://pypi.org/project/sklearn/#files sklearn-0.0.tar.gz `setup.py` is

[code]

I'm hesitant to suggest a new release to fix it, as I am currently using versions like '0.0' to detect placeholder packages, and confirming the placeholder status by parsing the `setup.py`.  But a new release '0.0.0' would be perfect.

It would be worth clarifying at the same time what that 'issue 141' is - it isnt h

[2020-01-12 10:10] jayvdb commented on #16104
This also appears in the API results.  See https://pypi.org/pypi/sklearn/json

[2020-01-12 10:28] NicolasHug commented on #16104
Can you explain what is broken (apart from the author/email fields which we don't really care about)?

This package only exists so that people doing `pip install sklearn` actually end up installing scikit-learn. The correct way is `pip install scikit-learn`.

[2020-01-12 11:20] #16104 closed

[2020-01-12 11:40] #14083 closed

[2020-01-12 13:17] jayvdb commented on #16104
Those email fields are in the package metadata exposed in the JSON metadata for the package.  People and bots consume it.  In this case of this package, it is regularly consumed because it is in the top most downloaded packages https://github.com/hugovk/top-pypi-packages .  Anyways, I found the source repo for these redirect packages is https://github.com/rth/scikit-learn-invalid-pypi

[2020-01-12 22:45] mghah commented on #15761
@glemaitre in #16105, I had to dig a little deep into constructs to fetch default values, docstrings seemed inaccurate and outdated at times.

Also I tried to use less ambiguous, concise and mathematically rigorous way of defining ranges of parameters. for example, I changed `positive float` to `float in (0, inf]` or `<=0 shrinkage <=1` to `float in (0, 1)`. Long story short, I did the best i coul

[2020-01-13 10:15] cmarmo commented on #14117
@adrinjalali , we are planning to use this issue for the Paris sprint: I have reviewed all the examples and made a new [checklist](https://gist.github.com/cmarmo/efecd0a86e22afaf4097da6f19521488). Could you please update the description with it? I think that the issue will be more readable if the checklist is at the top of the page. Thanks a lot!

[2020-01-13 10:42] glemaitre commented on #16094
I am not sure that we want to introduce a change in behaviour for which we will introduce some noisy warnings. While this is inconsistent, we did not get any complaints about it.

So I am +0

What others are thinking

[2020-01-13 10:48] glemaitre commented on #16093
Could you provide a minimal example in which `DictVectorizer.get_feature_names()` will not provide a list of strings?

[2020-01-13 12:20] adrinjalali commented on #14117
Thanks @cmarmo, done.

[2020-01-13 12:23] #16039 closed

[2020-01-13 12:52] glemaitre commented on #16073
you need to add the tags in your classifier (refer to https://scikit-learn.org/stable/developers/develop.html#estimator-tags)

[code]

[2020-01-13 12:55] #13659 closed

[2020-01-13 13:54] pierreablin commented on #16051
For what it's worth, here is a ""minimal"" example where SOBI can unmix signals that FastICA cannot unmix: FastICA cannot recover sources which only have spectral diversity:

[code]
 `UwedgeICA` does not have the same signature / attributes as FastICA so far.

[2020-01-13 15:48] leockl commented on #16073
Thanks. I have added this into my code as per below, but I am still getting the same error as before.

[code]

[2020-01-13 15:58] cmarmo commented on #15358
@NicolasHug I've updated the [list](https://gist.github.com/cmarmo/48870ed4afb75bcac9eba3cfc8ba9348) of the estimators already generalized: I think that the issue will be more readable if the list is on the top of the page. Do you think you could find a minute to update it? Thanks a lot!

[2020-01-13 16:23] NicolasHug commented on #15358
Done, thanks @cmarmo

[2020-01-13 16:47] ogrisel commented on #16062
I believe that if when implement implement both `bagging_fraction` and `feature_fraction` and set a low learning rate (and large number of boosting iterations) you can get boosted trees to behaves more like random forests, hence can probably better deal with overfitting.

Having the ability to resample each boosted tree independently could also be a very efficient way to deal with imbalanced class

[2020-01-13 16:57] jeremiedbb commented on #16016
I think it would be ok to use `_openmp_effective_n_threads` and not introduce a new parameter as long as we document clearly that by default it would use 8 or 16 threads max and explain that it can be overridden with OMP_NUM_THREADS. The issue is that setting OMP_NUM_THREADS will affect all loaded libraries. Maybe we can say that it can be overridden in a context manager with threadpoolctl

[2020-01-13 17:00] ogrisel commented on #16101
Could you please re-run with `pytest -l` to see the value of the local variables in the traceback? In particular the key variable.

BTW, if you can provide a Dockerfile that can help reprodce this issue that would be very helpful for debugging. We did not get this issue on our CI servers as far as I know.

[2020-01-13 17:19] #14881 closed

[2020-01-13 17:20] ogrisel commented on #16016
Ok let's not introduce a new param and do as @jeremiedbb  suggest for now.

In the future thought there might be situations where we want to specifically tune the number of threads used by HistGradientBoostingClassifier without changing `OMP_NUM_THREADS` to avoid impacting other steps in a scikit-learn pipeline.

But maybe this is a [YAGNI](https://en.wikipedia.org/wiki/You_aren%27t_gonna_need_it)

[2020-01-13 17:25] NicolasHug commented on #16016
Why restrict to 8 or 16 threads?

We didn't observe major improvements after 16 threads but that's because the machines we used for the benchmarks just don't have much more cores, right?

Shouldn't just `_openmp_effective_n_threads(None)` do the job?

[2020-01-13 17:28] ogrisel commented on #15308
@vachanda done.

[2020-01-13 17:31] ogrisel commented on #16016
Because on machines where you have many more cores with several NUMA nodes (e.g. 32 physical cores) we do not observe an improvement, sometimes a degradation and furthermore it's wasting resources because other concurrently running programs on this server cannot use those cores anymore.

[2020-01-13 17:31] jeremiedbb commented on #16016
We definitely observed a drop of performance after 16 threads on a machine with 88 cores (44 physical).

[2020-01-13 17:36] NicolasHug commented on #16016
Can we generalize this observation to the majority of our users machines? I want to make sure the default makes sense.

Also, did you observe the same drop for lightgbm?

[2020-01-13 17:37] jeremiedbb commented on #16025
`precompute_distances` means that for one E step you precompute all distances between points and centers and then find the closest centers. Otherwise, distances are computed one at a time and the closest centers are updated each time. It's supposed to improve speed (trade by more memory usage) because it allows to use well optimized BLAS libraries.

I agree that `x_squared_norms` should be pass to

[2020-01-13 17:38] ogrisel commented on #16016
Note that XGBoost has (had?) similar problems:

https://youtu.be/qjuizRba3ZQ?t=1859

We also observed this issue with LightGBM if I recall correctly a bit but not as bad as scikit-learn.

I hist talk Szilard Pafka recommends to limit the number of threads used by GBM models and use other level parallelism to use all your cores (e.g. hyperparameter tuning).

[2020-01-13 17:40] ogrisel commented on #16016
I agree.  But the synchronization barriers in the GBRT algorithms (parallel hist -> sequential selection of the best split -> parallel apply split -> ...) make it such that we quickly get diminishing returns with inner parallelism. I believe that beyond 16 threads it's the gain you get are almost always negligible.

[2020-01-13 17:43] ogrisel commented on #16016
@szilard @Laurae2 might be interested in voicing their opinion and sharing their experience here directly :)

[2020-01-13 17:48] amueller commented on #6616
@NicolasHug in classes but not in is easy, right? just put into all.

Not sure which of the other ones we actually want public. Can we check those decisions/discussions?

[2020-01-13 18:40] NicolasHug commented on #6616
Sorry I didn't get that

[2020-01-13 18:40] amueller commented on #6616
in classes but not in all I meant.

[2020-01-13 18:43] NicolasHug commented on #6616
Oh OK then yes, it's easy.

yes, I think it should be part of #15801 , CC @thomasjpfan

[2020-01-13 19:14] szilard commented on #16016
Thanks @ogrisel for mentioning my talk (I feel honored, thanks).

There is some more info here:
https://github.com/szilard/GBM-perf
https://github.com/szilard/GBM-perf/issues?q=is%3Aissue+is%3Aopen+label%3Aanalysis
https://github.com/Laurae2/ml-perf/issues
https://github.com/dmlc/xgboost/issues/3810
(you guys have probably seen some of these, but just in case).

I think the optimal number of cores

[2020-01-13 19:20] pedrormjunior opened #16113 "Misleading plot example for Isolation Forest method"
#### Describe the issue linked to the documentation

I have observed that the plotted feature receive the color of the expected label, i.e., train, test, and outlier.
https://github.com/scikit-learn/scikit-learn/blob/778b11904e8ec0286e977582d37e7ca495947ee5/examples/ensemble/plot_isolation_forest.py#L57-L62

Instead, I would expect to plot the predicted labels, i.e., the color of the plotted featu

[2020-01-13 20:02] NicolasHug opened #16115 "Unhelpful error message for CategoricalNB when X isn't all integer"
`CategoricalNB` expects `X` to be integers as mentioned in the docs. However it will fail with a rather cryptic message, i.e.

```TypeError: `pad_width` must be of integral type.```

MRE:

[code]

Might be worth failing with a more graceful message, or even force cast. I'm not sure whether that was discussed in the original PR, @jnothman and @qinhanmin2014 ?

[2020-01-13 20:18] NicolasHug commented on #16115
Sorry please ignore, I wasn't on master...    ><

[2020-01-13 20:18] #16115 closed

[2020-01-13 20:43] leoncehavugimana opened #16116 "LocalOutlierFactor not computing scores"
Hello,
 I would like to report a serious bug I identified in LOF.
It can not compute outlier scores, hence you can't even use any performance metric .

Could you please have a look at ?

Regards,
Leonard

[2020-01-13 21:47] Laurae2 commented on #16016
@ogrisel A default generalizable value for the maximum default number of threads is difficult to put in practice for the following reasons (detailed):

* With very slow CPUs (ex: low voltage ARM CPUs focused on efficiency), it will be easy to scale past 128 threads while it could be difficult to scale past few threads on standard x86_64 architectures for the following reasons: because the tasks ar

[2020-01-13 22:25] madhuracj commented on #16116
Could you please provide a minimal code sample to reproduce this issue?

[2020-01-13 23:05] quantitative-technologies opened #16118 "TensorBoard callback does not work in pipeline"
Passing the callback in the `fit_params` argument throws an error from `keras/callbacks.py`

#### Steps/Code to Reproduce

I am trying out a trivial pipeline:

    model = Sequential()
    pipeline = Pipeline([('seq', model)])

Without any callbacks this works fine:

    pipeline.fit(X, y, **fit_parameters)

However, if `fit_parameters` includes a TensorBoard callback:

    fit_parameters.update(s

[2020-01-14 00:00] quantitative-technologies opened #16120 "Pipeline does not work with Keras models"
I want use `Pipeline.score` with a `Sequential` model as my final classifier.

However, this gives me the error:

    AttributeError: 'Sequential' object has no attribute 'score'

The keras models use `evaluate` not `score`.

Is the best solution to inherit a class from `Sequential` which provides a `score` method?

[2020-01-14 00:29] quantitative-technologies commented on #16120
I tried my suggestion and it seems to work fine.

[2020-01-14 04:03] leockl commented on #16073
I have just seen the last paragraph under the section https://scikit-learn.org/stable/developers/develop.html#estimator-tags, as below:

In addition to the tags, estimators also need to declare any non-optional parameters to __init__ in the _required_parameters class attribute, which is a list or tuple. If _required_parameters is only ["estimator"] or ["base_estimator"], then the estimator will be

[2020-01-14 06:44] jnothman commented on #16120
This is in accordance with the documented behaviour of Pipeline.score

[2020-01-14 06:44] #16120 closed

[2020-01-14 07:11] jnothman commented on #16073
Required parameters is not relevant, no.

[2020-01-14 07:14] #16026 closed

[2020-01-14 07:27] jnothman commented on #16113
I'm not convinced that the proposal is the right fix. The prediction is already shown by the blue background, although perhaps the discrete decision boundary should also be plotted. I suspect that a big problem with the example is that it identifies a bad decision boundary....

Ping @albertcthomas

Meta: I'm not sure that the automatic "Help wanted" tag was the right thing to do, since the issue w

[2020-01-14 09:36] jeremiedbb commented on #16027
@alexshacked, using `pairwise_distances_argmin` for the distance computations in the predict method should solve the issue.

[2020-01-14 10:01] jeremiedbb commented on #16081
It's true that we always do an extra E-step when there is no convergence. This is necessary for us to have the predicted labels match the cluster centers. So the basic iterations scheme is EMEM...E. I don't think we want to change that.

I can't find the third E step you mention. Looking at the code of lloyd and elkan it seems the iterations scheme is as I described above. In elkan, there's a firs

[2020-01-14 10:03] glemaitre commented on #16118
`Sequential` is not a compatible estimator with scikit-learn.
You should use `tensorflow.keras.wrappers.scikit_learn.KerasClassifier`

[2020-01-14 10:33] alexshacked commented on #16027
Thanks a lot @jeremiedbb. I see what you mean. Inside pairwise_distances_argmin() it calls pairwise_distances_chunked which in turn uses get_chunk_n_rows()and gen_batches() that @glemaitre and @jnothman  mentioned. I think that's the way to go. Will  submit a PR with a fix based on this aproach.

[2020-01-14 10:45] albertcthomas commented on #16116
@leoncehavugimana can you also give more details? What do you mean by "It cannot compute outlier scores"? Outlier scores are given by the `negative_outlier_factor_` attribute.

[2020-01-14 10:46] glemaitre commented on #16027
Yes it will simplify greatly the implementation

Sent from my phone - sorry to be brief and potential misspell.

[2020-01-14 11:01] kno10 commented on #16081
Yes, that step makes the first E in the EM loop redundant. It already assigned each point to the nearest center when initializing the bounds.

[2020-01-14 11:26] qinhanmin2014 commented on #16041
Yes, we should remove this test, also see #15900

[2020-01-14 12:42] cmarmo commented on #16087
@sandrotosi , I've found this issue sphinx-doc/sphinx/issues/5459
Could you please try to patch the file `doc/conf.py` replacing
[code]
with
[code]
and let me know if this solves your issue?

[2020-01-14 12:50] albertcthomas commented on #16113
Thanks @pedrormjunior for raising this issue.

I agree. I think the example should follow the lines of the One Class SVM one, https://scikit-learn.org/stable/auto_examples/svm/plot_oneclass.html where there is a discrete decision boundary and where
[code]
are also used.

[2020-01-14 13:27] jeremiedbb commented on #16078
In verbose mode, the inertia is reported after each M step.
But we perform an extra E step at the end so the final inertia does not match the reported inertia of the last iteration unless convergence. This is expected. Maybe a bit confusing though.

[2020-01-14 14:07] kno10 commented on #16078
Even then Elkan and full should report the same values, as they perform the same cluster assignments.
But to add to the confusion, one reports inertia after M, and the other after the E step...

[2020-01-14 14:07] jeremiedbb commented on #16078
This is fixed in #11950

[2020-01-14 15:34] glemaitre commented on #16118
FYI, here comes a minimal example:

[code]

[2020-01-14 15:34] #16118 closed

[2020-01-14 15:41] zachmayer opened #16121 "make_column_selector: support selection function / selection "factory""
This request is a generalization of https://github.com/scikit-learn/scikit-learn/issues/15873.

sklearn.compose.make_column_selector already supports selecting `number` and `category` variables, which is great for pipelines with steps like `StandardScaler` or `OneHotEncoder`.

However, sometimes you want more flexibility when choosing columns.  2 examples:
1. Routing categorical features to a `One

[2020-01-14 15:49] pedrormjunior commented on #16113
I agree with you guys, to plot a discrete decision boundary would be nice!

[2020-01-14 16:02] ogrisel commented on #16016
Thanks for the detailed feedback. So indeed limiting to 16 threads by default when fitting on datasets with 1 billion samples on a Xeon machine with 88 HT / 44 physical cores might be limiting and using all the 88 threads would be faster if the number of samples is very large.

However, I have the feeling that the vast majority of scikit-learn users will use `HistGradientBoostingRegressor`/`HistGr

[2020-01-14 16:18] guysmoilov commented on #14959
As a workaround, I've tried using `MinMaxScaler` prior to `PowerTransformer`. Seems to work, but I'm not sure if I'm committing some statistical mortal sin.

[2020-01-14 16:23] NicolasHug commented on #16121
You can pass a callable to the `columns` parameter of the CT, does this address your use-case? `make_column_selector` is a helper for creating common callables

[2020-01-14 16:49] zachmayer commented on #16121
Ahh, I didn't see that.  A callable to the CT totally works for me.

Maybe it'd make sense to make some common callables for selecting text?

Similar to how https://github.com/scikit-learn/scikit-learn/issues/15873 will cover high/low cardinality categoricals.

[2020-01-14 16:53] NicolasHug commented on #16121
Is there a way to detect text columns generically?

[2020-01-14 16:59] glemaitre commented on #16113
I think that a discrete decision boundary might be enough. To be honest, what I miss in this example is a bit of narration.

I would prefer to have a notebook-style example. The current description would be a nice introduction. However, I would add comments on what we try to plot and to highlight and the remaining code.

[2020-01-14 17:09] zachmayer commented on #16121
For English text (and most European languages) I think you could look at:
1. Whitespace (if a column is text, most of its rows should probably have some spaces).
2. Cardinality (I'd expect text columns to tend to have high cardinality).

So if you have a 1,000 row dataset, a column with a cardinality of 900 and where 80% of the rows have whitespace is probably text.  You could maybe formalize thes

[2020-01-14 17:10] quantitative-technologies commented on #16118
@glemaitre Many thanks!

[2020-01-14 17:26] zachmayer commented on #16121
I guess heuristics 2 is more about "percent unique" than cardinality

[2020-01-14 18:10] jeremiedbb commented on #16058
Right, the documentation is wrong. Would you like to submit a PR ?

[2020-01-14 20:29] jnothman commented on #16121
Does the string dtype new to pandas fix this? Assuming you correctly label
categorical dtypes as categorical?

[2020-01-14 20:58] zachmayer commented on #16121
@jnhansen I want to do is send some strings to the one hot encoder, and some strings to the tf-idf vectorizer, depending on a heuristic that detect categorical data (one hot) vs text (tf-idf)

[2020-01-14 20:59] assaftibm opened #16123 "Adding implementation of Hartigan's K-Means"
Hi,

I'm implementing Hartigan's K-Means in C++ with a Cython wrapper, and when it's done I'd be glad to contribute it to scikit-learn. The implementation follows the pseudo code described in the IJCAI '13 paper by Slonim, Aharoni and Crammer (https://dl.acm.org/doi/10.5555/2540128.2540369) + some optimizations of my own that make the run-time comparable to Lloyd's K-Means.

I'd like to know if th

[2020-01-14 21:12] #15874 closed

[2020-01-14 21:34] amueller opened #16124 "Off-by-one in HistGradientBoosting max_depth"
Right now HistGradientBoostingClassifier doesn't allow max_depth=1.
Either this is an issue just in the validation, or there's an off-by-one in the code. Max-depth 1 should be a stump, i.e. a single split, and should totally be allowed.

cc @NicolasHug

[2020-01-14 22:03] jnothman commented on #16121
I don't really like the use of ColumnTransformer for that kind of
heuristic, personally. Ideally the columns' types should be known and
labelled somehow (by setting a categorical dtypes for instance) before they
get to the ColumnTransformer. Its job should not be to detect type but to
route based on that type. But maybe this is just stubborn imagination on my
part.

[2020-01-14 22:15] NicolasHug commented on #16124
The convention for the depth is that depth=1 corresponds to a single (non-splitted) node which would predict the average target so there's no point in allowing that

[2020-01-14 22:17] zachmayer commented on #16121
@jnothman Maybe it's not the job of a `ColumnTransformer`, but I really feel like "inferring types" involves a ton of data science, and should be considered part of your pipeline.

E.g. if you change your heuristic for detecting "high cardinality categorical" or for detecting "text data", you should cross-validate the effect of that change on your model's accuracy.

Similarly, it might be a good i

[2020-01-14 22:41] madhuracj commented on #16058
Sure, will do.

[2020-01-14 22:46] jnothman commented on #16121
Well the capability is there in scikit-learn, but the techniques seem to be
quite ad hoc, and I'd rather they be developed and maintained in third
party libraries. I'm glad make_column_selector has increased the visibility
of this functionality, but it is only syntactic sugar.

[2020-01-14 22:46] trimeta opened #16126 "Move SelectorMixin back to the public API"
In [commit 6769490](https://github.com/scikit-learn/scikit-learn/commit/6769490424765e2719cbb521eb5e66966d9b2a37#diff-ebd2bff566f42647127db477debbb520), the feature_selection module was restructured to make the constituent modules (univariate_selection, variance_threshold, rfe, from_model, mutual_info, and base) into part of the private API (by prepending them with underscores). The most important

[2020-01-14 23:04] amueller opened #16127 "formatting of values in plot_confusion_matrix"
I'm clearly overlooking something because I'm very confused.
Right now the default for ``values_format`` is ``.2g`` with seems not ideal as it formats 110 as 1.1+e01:
[code]

Changing the precision doesn't really help.
There's a pretty easy way to fix this, but not with any standard python formatting from what I can see:
https://stackoverflow.com/questions/4626338/python-float-formatting-like-g-bu

[2020-01-15 02:06] #16036 closed

[2020-01-15 03:01] trabbart commented on #12394
There was no comments or PR's for few months so I have started working on this.

[2020-01-15 09:29] adrinjalali opened #16130 "API: do we allow a list of generic objects as X?"
https://github.com/scikit-learn/scikit-learn/pull/15557 introduced a change in the GP module to allow a list of generic objects and kernels on those data, which is nice, but it violates our API AFAIK.

If we're going to allow that, there are many other places we can/should allow that as well (SVMs for instance).

But that doesn't really play well with the rest of the library (pipeline, GS, etc).

[2020-01-15 11:37] NicolasHug commented on #16130
For reference, the [HMM](http://scikit-learn.sourceforge.net/stable/modules/hmm.html) module was removed precisely because of API incompatibility reasons.

[2020-01-15 11:42] alexshacked commented on #16027
Hi  @ImLaoBJie. I intend to fix this issue based on your idea. For the chunking of the samples matrix I will used an existing scikit-learn algorithm - pairwise_distances_argmin() which builds the chunks using get_chunk_n_rows()and gen_batches() based on  working_memory accessible  from sklearn.sk.get_config()

I added a new step to your demo that uses the chunked aproach - BirchChunked

[code]
Thi

[2020-01-15 12:18] dingzjt opened #16131 "'RandomizedLogisticRegression' object has no attribute 'get_support'"
I'm creating a  logistic regression Python model for testing. But tt seem the get_support() object was not included in the package. I got the error message

AttributeError:  'RandomizedLogisticRegression' object has no attribute 'get_support'

Code:
from sklearn.linear_model import LogisticRegression as LR
from stability_selection.randomized_lasso import RandomizedLogisticRegression as RLR

rlr=RL

[2020-01-15 12:52] jnothman commented on #16130
Vectorizers and any meta estimators that support vectorizers (pipelines,
searches) already do this. I don't see the problem: just as those meta
estimators delegate the input validation to the base estimator, so does the
custom kernel here.

[2020-01-15 12:59] jnothman commented on #16130
HMM is different because there prediction is at the sub-sample level. Here
we are not making structured predictions, only accepting
structured/arbitrary observation representations.

[2020-01-15 12:59] jnothman commented on #16131
This is not an issue with scikit-learn. Look into stability_selection

[2020-01-15 12:59] #16131 closed

[2020-01-15 13:56] ImLaoBJie commented on #16027
Brilliant and brief @alexshacked. I ignored this existed function before. It's really more time and space-efficient than my draft code.

[2020-01-15 14:13] GaelVaroquaux commented on #16130
In principle, I agree with Joel. It is actually a pattern that we have
used successfully in nilearn-compatible libraries.

[2020-01-15 14:20] ogrisel commented on #16123
I was not familiar with Hartigan's K-Means but it looks interesting.

However we would rather not add anymore C++ in the scikit-learn codebase and rather focus on Cython.

But before considering implementing Hartigan's K-Means in Cython, let's focus on finishing the new implementation of Lloyd's in #11950 which is significantly more memory efficient and scalable efficient on machines with many CPU

[2020-01-15 14:40] leockl commented on #16073
Hey guys, any luck on this?

[2020-01-15 16:06] glemaitre commented on #16073
The issue is just linked to your algorithm. You are outputing some number with real and imaginary part.

[2020-01-15 16:06] #16073 closed

[2020-01-15 16:09] glemaitre commented on #16073
I would advise you to go on stack-overflow if you have an issue implementing your own estimator since this is not linked to a bug in scikit-learn (which is the purpose of this issue tracker).

[2020-01-15 16:12] glemaitre commented on #16124
uhm this is not the convention in the other tree algorithm. We might want to homogenize it.

[2020-01-15 16:14] glemaitre commented on #16126
Uhm it could make sense to be able to do `from sklearn.feature_selection import SelectorMixin`.
@NicolasHug WDYT?

[2020-01-15 16:15] glemaitre commented on #16126
I would even say that this is a regression because we were exposing the mixin.

[2020-01-15 16:19] NicolasHug commented on #16126
Sure, we can just expose it. Do you want to submit a PR @trimeta ?

[2020-01-15 16:24] NicolasHug commented on #16124
FWIW, the parameter is properly documented:

  nodes to go from the root to the deepest leaf. Must be strictly greater
  than 1. Depth isn't constrained by default.

IMHO this convention makes more sense, but I agree we should stay consistent with the rest of the code base

[2020-01-15 16:38] trimeta commented on #16126
@NicolasHug, by adding a couple of lines to the pertinent `__init__.py` to import it and expose it through `__all__`? Are any changes to `sklearn/_build_utils/depreciated_modules.py` necessary, or does the existing portion on lines 251-252 (quoted below) already suffice?

[code]

[2020-01-15 16:40] NicolasHug commented on #16126
That should be enough, and if there is anything more to do the CI will tell us ;)

[2020-01-15 17:53] thomasjpfan commented on #12306
With the `as_frame` keyword option, the above script will not fail if `X` is loaded as a dataframe:

[code]

[2020-01-15 22:31] ogrisel commented on #14528
I have also added some notes aboute where to update the doc:

https://github.com/scikit-learn/scikit-learn/issues/16023#issuecomment-571937528

so as to emphasize that impurity based feature importances can be misleading while permutation-based feature importances are both model agnostic and robust to the cardinality biais.

Basically we need to cross-reference the two methods and link to the exam

[2020-01-15 22:38] ogrisel commented on #14528
Here are some background references and discussion on impurity based feature importances:

https://stackoverflow.com/a/15821880/163740

[2020-01-15 22:54] karnn commented on #13568
I encountered the same problem and removing the square brackets around the name of the input column seemed to fix it. Instead of

`categorical_features = ['feature1']
categorical_transformer = Pipeline(steps=[
    ('hasher', feature_hasher)
])

preprocessor = ColumnTransformer(
    remainder = 'passthrough',
    transformers=[
        ('categorical', categorical_transformer, categorical_features)

[2020-01-16 01:10] leockl commented on #16073
The imaginary part of the output in:
[code]
can be removed by removing dtype=np.complex in:
[code]
Once dtype=np.complex is removed, I am still getting the same error message.

More importantly, the output:
[code]
of my_classifier is based on:
[code]
which is outputting the classes ['one', 'three'] with no imaginary parts.

[2020-01-16 01:46] jacobcvt12 opened #16135 "Using `cross_val_predict` with `RepeatedKFold`"
It would be nice to use `RepeatedKFold` with with `cross_val_predict`. It's possible use `cross_val_score` with repeated K folds, but a `ValueError` is thrown with `predict`

[code]

Throws `ValueError: cross_val_predict only works for partitions`.

[2020-01-16 01:51] jnothman commented on #13568
Yes, that's because vectorizers turn a single vector of rich input into
multiple vectors of rectangular output. I think it would be great if we had
better documentation or examples on using vectorizers with
ColumnTransformer. Please feel free to open a pull request.

[2020-01-16 01:51] jnothman commented on #16135
What do you think it should return???

[2020-01-16 03:19] jacobcvt12 commented on #16135
Would be nice if another dimension was added for repeats. So for a 2-class classification model instead of returning a [n, 2] array, return a [n, 2, n_repeats] array. Then you could e.g. take the mean across the last axis, etc.

[2020-01-16 03:51] rjdoubleu commented on #13678
@TatianaParshina what versions are you running? I have the following:

`numpy-1.18.1 scikit-learn-0.22.1 scipy-1.4.1`

and am receiving the same errors after reinstall.

[2020-01-16 10:25] cmarmo commented on #15761
@cgsavard , this is a very nice issue for a sprint! If you are ok with that I'm planning to add it to our Sprint list. I have summarized the classes that have been addressed by a PR already, and their correspondent PR [here](https://gist.github.com/cmarmo/9b11efbe4b548bdd23239653453c7f39).
Do you mind to link the gist in the issue description? This will make the information available from the begi

[2020-01-16 13:08] cmarmo commented on #15761
For those interested in this issue, the command
[code]
will output the files still affected by this problem (thanks @ogrisel! :) ).

[2020-01-16 13:09] gtsoukas opened #16136 "groups Parameter not passed to fit function in sklearn.grid_search.RandomizedSearchCV"
As per the documentation, the [fit](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.RandomizedSearchCV.html#sklearn.model_selection.RandomizedSearchCV.fit) function of RandomizedSearchCV has a *groups* parameter. However, it seems that the groups-parameter is [not passed to the estimators *fit* function](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/mod

[2020-01-16 14:09] zachmayer commented on #16121
@jnothman that makes sense.  I'll close this issue, as `ColumnTransformer` has the functionality I need.

If I want to in the future, I'll make a package called "feature type inference" or something like that with different heuristics for detecting different kinds of data, and will submit it to sklearn-contrib.

[2020-01-16 14:09] #16121 closed

[2020-01-16 14:28] NicolasHug commented on #16136
The `group` parameters is passed to the `cv.split()` method of the `cv` object, as described in the documentation.

This isn't related to the `group` parameter of XGBoost which as far as I understand, is related to ranking tasks?

[2020-01-16 14:36] Rick-Mackenbach commented on #16127
I would like to help with this issue, is that still possible?

[2020-01-16 14:40] NicolasHug commented on #16127
sure go ahead

[2020-01-16 16:35] csbrown opened #16137 "sklearn.base.clone() should not make deep copy of all parameters"
duplicate #5563
related to #9696

#### Describe the workflow you want to enable

`sklearn.base.clone` does not raise a RunTimeError when the constructor alters the model parameters

#### Describe your proposed solution

Delete lines 75-82 in sklearn/base.py

#### Describe alternatives you've considered, if relevant

I currently alter parameters in *other* methods, and there is no complaint.  Since

[2020-01-16 16:37] j4ggr commented on #16127
This argument "values_format" seems not to work anyway:

[code]

[confusion_matrix_plot.pdf](https://github.com/scikit-learn/scikit-learn/files/4072416/confusion_matrix_plot.pdf)

[2020-01-16 16:49] glemaitre commented on #16073
yes, but the test failure was the decision_function when I looked at it.
Be aware that scikit-learn does not play good with complex.

On Thu, 16 Jan 2020 at 02:10, Leo Chow <notifications@github.com> wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2020-01-16 17:01] amueller opened #16139 "Revisit code of conduct"
I want to revisit the question of having a formal code of conduct (#6070).

I just had a longer discussion with @reshamas, that I think somewhat reflected the points brought up by @willingc in https://github.com/scikit-learn/scikit-learn/issues/6070#issuecomment-235760015

We do clearly have a diversity problem in the project, and at least in the US, the absence of a clear code of conduct might im

[2020-01-16 18:22] leoncehavugimana commented on #16116
sure,
Here it is the file.

Regards,
L.

On Tue, Jan 14, 2020 at 11:45 AM Albert Thomas <notifications@github.com>
wrote:

--
*L**é**once Havugimana*
*Sweden-Stockholm*
*Mobile:+46 737 552 271*
*Email:leoncehavugimana@gmail.com <Email%3Aleoncehavugimana@gmail.com>*

def computeSilhouette(proper_3d):
    subSeqPerDay = np.size(proper_3d, 1)
    subSeq = 0
    silhouetteList = []
    while subSeq <

[2020-01-16 19:52] kartik-nighania commented on #16135
@jnothman i would like to take this issue

[2020-01-16 20:04] gtsoukas commented on #16136
@NicolasHug sorry for misinterpreting the API and thanks a lot for your reply! Yes, it is a ranking task. I was silently assuming that the purpose of the group parameter is as in ranking, which to me seemed to be supported by the fact that it is used "also" for the cv splits. Closing as this is certainly not a bug. If you have any hint on how RandomizedSearchCV can be used for the above ranking ta

[2020-01-16 20:04] #16136 closed

[2020-01-16 20:28] amueller commented on #16124
Yeah well the definition is not that definition:
https://en.wikipedia.org/wiki/Tree-depth
https://en.wikipedia.org/wiki/Tree_(data_structure)#Terminology

[2020-01-16 20:37] amueller commented on #16127
why are you saying it's not working from that?

[2020-01-16 20:40] jnothman commented on #16139
+1 for more visible code of conduct, and perhaps more explicit

[2020-01-16 20:41] jnothman commented on #16137
It needs to work with set_params too, which would entail you validate in
multiple places (or make heavy use of property setters)

[2020-01-16 20:50] thomasjpfan commented on #11544
We have 32bit linux testing on the azure CI to catch these types of bugs now. Currently all the tests pass on the 32bit instance.

[2020-01-16 20:50] #11544 closed

[2020-01-16 21:22] DivyanshuSoni001 commented on #16048
Hi,
 I'm new to open source and would like to work on this defect.
However, I need some clarification.

1.Should we add a parameter to ConfusionMatrixDisplay.plot() to fix the colormap range to [0,1] ?
  what should be the default value for this parameter?

2.If we want to refrain from adding a new parameter, we could check if the confusion matrix values
   are already in range [0,1] , if they are

[2020-01-16 21:24] albertcthomas commented on #16116
Thanks @leoncehavugimana. Readability can be greatly improved if you [format](https://help.github.com/articles/creating-and-highlighting-code-blocks/) your code snippets and complete error messages appropriately. For example:

[code]
generates:
[code]
And:

[code]
generates:
[code]
You can edit your comments at any time to improve readability. This would help us a lot. Thanks

[2020-01-16 21:26] albertcthomas commented on #16116
It seems that you are only using the labels. Do you need the outlier scores?

[2020-01-16 23:09] GaelVaroquaux commented on #16139
Let's add one to github, with the standard way of doing it on github.

[2020-01-16 23:10] GaelVaroquaux commented on #16139
Also, is this SLEP material, because we want a vote on this, to record adherence of core devs? I'm open to different views.

[2020-01-17 04:29] lithomas1 commented on #13188
I think we can implement something similar to what pandas has right now, where you can assign yourself the issue by commenting "take" on it.
(https://github.com/pandas-dev/pandas/blob/master/.github/workflows/assign.yml)
@thomasjpfan can i take this on?

[2020-01-17 06:36] this-is-aggarwal opened #16142 "GIL issue while changing log function of entropy calculation"
I'm trying to change the log function used to calculate entropy by decision tree classifier in the cython file _criterion.pyx . I keep on encountering the following error while running the command pip install --editable .

Error compiling Cython file:
    ------------------------------------------------------------
    ...
            for k in range(self.n_outputs):
                for c in range(

[2020-01-17 08:18] j4ggr commented on #16127
Because this value is not passed to the plot method of ConfusionMatrixDisplay.
I used pip to install sklearn version 0.22
My local source code (last few rows in file confusion_matrix.py):
[code]
source code here on GitHub:
[code]

After adding this line `values_format=values_format` it works.

[2020-01-17 09:12] #16058 closed

[2020-01-17 10:37] tomMoral opened #16143 "PERF predict_proba is slow when n_jobs > 1 for random forests"
The use of `n_jobs > 1` for small batch can slow down the prediction for forest models. This is probably due to the overhead incurred by using `joblib` (create thread, check system info, ...) which is dominate the runtime compared to the computations. This was reported originally in joblib/joblib#982.

A couple of ideas to solve this:
- Set `n_jobs=1` when the size of the batch is small.
- Introdu

[2020-01-17 10:56] tensionhead opened #16144 "Importing sklearn.cluster throws ImportError"
When I try to import the sklearn.cluster submodule the following Exception is raised:
[code]

#### Steps/Code to Reproduce

I am running Python 3.6.9 with scikit-learn 0.22 on an Ubuntu 18.04. A single import statement is enough to trigger that behavior for me:

[code]

#### Error Message
That's the output I get:

ImportError                               Traceback (most recent call last)
<ipython

[2020-01-17 11:06] aesuli opened #16145 "CalibratedClassifierCV should return an estimator calibrated via CV, not an ensemble of calibrated estimators"
The current cross validation procedure adopted in the `CalibratedClassifierCV` does not follow the cross validation procedure described in the original Platt paper:
[Platt99] Probabilistic Outputs for Support Vector Machines and Comparisons to Regularized Likelihood Methods, J. Platt, (1999)

I checked also the other papers cited in the references for the `CalibratedClassifierCV` class and none of

[2020-01-17 12:36] NicolasHug commented on #16142
you can't use a numpy function without the GIL. Use the C function instead (something like `from libc.math cimport log2`).

This is a Cython development issue, not a scikit-learn issue. closing.

[2020-01-17 12:36] #16142 closed

[2020-01-17 13:16] NicolasHug commented on #13971
https://github.com/scikit-learn/scikit-learn/issues/13971#issuecomment-571266222 + context manager is a good enough workaround, closing

[2020-01-17 13:16] #13971 closed

[2020-01-17 13:20] NicolasHug commented on #16136
Indeed. Passing arbitrary parameters to `fit` isn't something that scikit-learn supports (yet (maybe)). Third-party libraries like XGBoost do it anyway, at the cost of not being fully compatible with our ecosystem.

[2020-01-17 13:21] jeremiedbb commented on #16144
Hi @tensionhead, I can't reproduce that. I installed via pip, via conda or from source and all worked as expected. How did you install scikit-learn ?

[2020-01-17 13:45] glemaitre commented on #16135
@kartik-nighania We need to have a consensus first.

@jacobcvt12 What is the real use-case behind your need? My first reaction would be to not implement such feature:

Users get confused between `cross_val_predict` and `cross_val_score`. We try to document the difference in the User Guide (https://scikit-learn.org/stable/modules/cross_validation.html#obtaining-predictions-by-cross-validation). If

[2020-01-17 14:02] glemaitre commented on #16137
Basically, this is an API choice and we have a lot of code that relies on the current API. Rephrasing @jnothman comment, making such changes will alter the way `set_params` will work and affect the way `GridSearchCV` is working (cf. https://scikit-learn.org/dev/developers/develop.html#instantiation).

So basically, your estimator should not pass the `check_estimator` or if it does, we should restr

[2020-01-17 14:14] ShadbKhan commented on #16137
plz not send to me other email plz plz

On Fri, Jan 17, 2020 at 7:05 PM Guillaume Lemaitre <notifications@github.com>
wrote:

[2020-01-17 14:27] csbrown commented on #16137
@glemaitre I don't see how this would alter any current functionality, since the esimators in the sklearn library already adhere to the desired API.  Note that I am not suggesting that code be inserted into, say, `smv.SVC` that changes parameters in the initializer.  I am saying that EAFP is the ordinary python paradigm, and that this particular bit of code does not even successfully enforce the A

[2020-01-17 14:27] glemaitre commented on #16137
@ShadbKhan You are receiving these emails because you are "watching" the scikit-learn repository on GitHub. You need to "Unwatch" the repository or change your notification setting.

[2020-01-17 14:37] #16126 closed

[2020-01-17 15:25] glemaitre commented on #16137
If change `sklearn.base.clone`, we don't have any safety guard ensuring that we follow our own developer API. Now, we are raising an error at least. And if a third-library wants to make a compatible estimator which should work in `GridSearchCV`, they will need something that does not raise this error.

[2020-01-17 15:27] alexshacked commented on #16027
I've been testing the chunked memory approach, trying to present a solution where the implementation of Birch.predict() is changed to something like:

[code]
In  this way the memory consumption operation

`safe_sparse_dot(X, self.subcluster_centers_.T)
`
is moved into **pairwise_distances_argmin**() where it is done on chunks of the samples matrix X instead of the whole matrix as once. The result

[2020-01-17 15:31] csbrown commented on #16137
To be clear, I often have to implement models in the following way, *specifically so that they will function correctly with `GridSearchCV`*:

[code]

This usually happens when I have some very resource-heavy item that `MyModel` needs access to, such as a tensorflow graph that I want all copies of `MyModel` to share.  If the validation code in `sklearn.base.clone` were removed, this would be cleane

[2020-01-17 15:33] jeffreywillert opened #16147 "RANSAC - residual threshold calculation"
Within the RANSAC algorithm, a residual threshold is calculated:

`residual_threshold = np.median(np.abs(y - np.median(y))`

If more than half of the values of y are equal to the median of y, this returns a residual threshold of 0.  In that case, the line

`inlier_mask_subset = residuals_subset < residual_threshold`

always returns zero inliers, causing a value error since `inlier_mask_best` is al

[2020-01-17 15:39] csbrown commented on #16137
@glemaitre perhaps a warning would be more appropriate?

[2020-01-17 15:42] glemaitre commented on #16145
In other words, we should use `cross_val_predict` instead of a `cross_val_score`.

It is also more efficient, as is does not store the estimators for each fold and requires a single predict at prediction time.

IMO, using the ensemble will be more stable and powerful than using a single learner. I assume that it should attenuate changes linked to model parameters found for different splits.

ping

[2020-01-17 15:55] tensionhead commented on #16144
Hi @jeremiedbb,

I installed it via pip3. But yeah, I guess there is some interference with packages I installed via apt. It's just strange, as other submodules (like sklearn.metrics, sklearn.ensemble, haven't tried all of course..) work without any problem. Guess I should make a new clean environment?!

[2020-01-17 16:27] glemaitre commented on #16137
I think what is more appropriate is to have a `deepcopy` parameter in clone to trigger or not copies of parameters.

I think that we have an issue about this in the past: https://github.com/scikit-learn/scikit-learn/issues/5563. I started at some point a PR https://github.com/scikit-learn/scikit-learn/pull/9696 as well, which should be rebased and handle properly the cloning in the `GridSearchCV`.

[2020-01-17 16:27] glemaitre commented on #16137
I reopen the issue and tag it as a duplicate.

[2020-01-17 16:43] glemaitre commented on #16147
[code]
is the definition of the Median Absolute Deviation. For the case that you provide the MAD is equal to zero and this is correct.

So I think that we could do several things to improve the estimator:

1. raise a proper error message when we compute the MAD and explain that one should use another robust (maybe less robust) variability estimator.
2. allow `residual_threshold` to be a callable i

[2020-01-17 16:44] glemaitre commented on #16144
It could be nice to check.

[2020-01-17 17:25] glemaitre commented on #16139
I'm +1 for CoC stating what the community stands and strives for.
Replies to the [following tweets](https://twitter.com/EGouillart/status/1217823374086459392) suffice to convince me.

[2020-01-17 19:18] zachmayer opened #16148 "TfidfVectorizer handles multiple text columns"
It's really nice that transformers such as `sklearn.preprocessing.OneHotEncoder` and `sklearn.preprocessing.StandardScaler` can operate on multiple data columns simultaneously.

`sklearn.feature_extraction.text.TfidfVectorizer` on the other hand can only process one column at a time, so you need to make a new transformer for each text column in your dataset.  This can get a little tedious and in p

[2020-01-18 01:38] quantitative-technologies commented on #16118
Actually, I need to understand further because of a new issue that arose.

If I use `keras` instead of `tensorflow.keras` my original problem returns. So running your minimal example with

    from keras import Sequential, optimizers
    from keras.layers import Dense, Activation
    from keras.callbacks import TensorBoard
    from keras.wrappers.scikit_learn import KerasClassifier

and everything

[2020-01-18 04:44] lithomas1 commented on #15358
can take KernelRidge.

[2020-01-18 04:49] humzaiqbal opened #16151 "Agglomerative clustering ValueError: Precomputed metric requires shape (n_queries, n_indexed). Got (7, 57) for 50 indexed."
#### Describe the bug
When I try and run agglomerative clustering with a precomputed distance matrix, I get a ValueError as follows `ValueError: Precomputed metric requires shape (n_queries, n_indexed). Got (7, 57) for 50 indexed.` I looked up similar past bugs and they said it was because the distance matrix was not square. However I checked the shape and it is indeed square, I even ran the sciki

[2020-01-18 08:30] Arx1971 opened #16152 "cannot import name 'Imputer' from 'sklearn.preprocessing'"
Keep getting an import error. I am using scikit-learn version 0.22.1. I checked with different anaconda env.

[2020-01-18 08:31] glemaitre commented on #16118
It would be better if you raise the issue directly to Keras. I am almost sure that the issue will come from some changes in their code (since the difference between keras and tf.keras is only the version)

[2020-01-18 08:51] agramfort commented on #16145
@aesuli I thing I understand what you asking. Before suggesting any change to the way we do things 2 questions:
- you suggest that CalibratedClassifierCV should not change the base_estimator . If so how do you end a pipeline with such an estimator? where do you get your pretrain model from? can I still do this with fit(X, y) from scratch?
- in libsvm https://github.com/scikit-learn/scikit-learn/bl

[2020-01-18 09:47] glemaitre commented on #16152
You should use `SimpleImputer`

[code]

`Imputer` was deprecated 3 versions ago and remove in 0.22

[2020-01-18 09:47] #16152 closed

[2020-01-18 09:51] glemaitre opened #16153 "Add threshold comparison above arrow in plot_tree"
I realised after #13971 and also a lecture that I gave that we don't add "True/False", "Yes/No" above the arrow in `plot_tree`. Therefore, we know the criterion for the decision and the further splits but we don't have any idea what path a sample will take (or at least it makes it more difficult to infer it).

I think that we should annotate the arrow depending if the comparison in the node is Tru

[2020-01-18 11:55] leoncehavugimana commented on #16116
Hi,
Thank you for your reply.
yes, I need outlier scores. I only shared a small portion of my code; but
the truth is that LOF is not able to compute the scores, sincerely.
And I am using the latest and stable version 22.0

Kind regards,
Leonce

On Thu, Jan 16, 2020 at 10:26 PM Albert Thomas <notifications@github.com>
wrote:

--
*L**é**once Havugimana*
*Sweden-Stockholm*
*Mobile:+46 737 552 271*
*E

[2020-01-18 13:19] albertcthomas commented on #16116
You can access the outlier scores with the negative_outlier_factor_ attribute. You can check how it is done in this example https://scikit-learn.org/stable/auto_examples/neighbors/plot_lof_outlier_detection.html

[2020-01-18 14:41] NicolasHug commented on #16153
Maybe it's just a matter of mentioning in the doc that the left branch is the one that respects the condition and the right branch is the rest?

[2020-01-18 15:15] tensionhead commented on #16144
Hey @glemaitre, so I uninstalled scikit-learn via pip3 and re-installed it, problem has gone away! Even though we didn't get to the bottom of this (why did some submodules work others not), I think we can close this?!

[2020-01-18 15:47] B-Yassine commented on #15820
It only works on the  sklearn: 0.23.dev0 development version

[2020-01-18 16:18] glemaitre commented on #16144
Yes not sure why. But thanks for solving the issue and telling us

[2020-01-18 16:18] #16144 closed

[2020-01-18 16:36] glemaitre commented on #16153
The issue is that the figure is not self explain then which is a pity.

[2020-01-18 18:25] willingc commented on #16139
Sharing research from NCWIT: https://www.ncwit.org/intersectionality-tech-101 @glemaitre @GaelVaroquaux @amueller @jnothman Thank you :smile: This matters 👍

[2020-01-18 19:06] NicolasHug commented on #16153
I think this is a very common convention.
It follows naturally from the fact that the conditions are of the form `X[i] <= t` and increasing values are usually represented from left to right.

I don't think we need to overload the edges of the tree. Or maybe just at the first split?

[2020-01-18 20:09] jrsykes opened #16155 "- B 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town"
While using the boston_housing data set, a data set hosted by the Scikit-learn package and used to demo models on house price prediction, I came across a feature titled 'B'. This struck me as odd because all other features had been given descriptive names such as 'AGE' or 'TAX'. It turns out that B = 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town. I naively  assumed, as this data w

[2020-01-18 22:42] rth commented on #16155
Thanks for raising this issue and for providing the reference with additional details.

+1 to find a different housing dataset that wouldn't contain such variables or assumptions and substitute it in examples. Haven't looked what datasets we could use as a replacement yet.

[2020-01-18 23:45] madhuracj commented on #14126
@zd-project Are you still working on this issue? Otherwise, I would like to work on it and submit a PR in the next couple of days.

[2020-01-19 00:14] jnothman commented on #16155
Yes, let's

[2020-01-19 02:54] yhtang opened #16156 "Hyperparameter specification for Gaussian process kernels"
Looking at how the `theta` property is computed in the abstract base class `Kernel` in `sklearn/gaussian_process/kernel.py`:
[code]
then it is apparent that the names of the hyperparameters are obtained from the `hyperparameters` property, while the values are looked up using the names from `params` as returned from `get_params()`.

However,  it looks like each `Hyperparameter` instance already co

[2020-01-19 09:46] aesuli commented on #16145
@glemaitre right! `cross_val_predict` can be the way to get CV predictions for the whole training set and then compute calibration from them.

@agramfort

I meant that the CalibratedClassifierCV should not alter the form of the base_estimator.
If the base estimator is a linear_svm it should fit a linear_svm on the whole training set, not fit an ensemble of linear_svm on folds.

The fit(X,y) of the

[2020-01-19 10:17] alexshacked commented on #16147
It's me again @glemaitre. This issue looks interesting. May I work on it?

[2020-01-19 12:07] agramfort commented on #16145
got it. We could expose this strategy with a parameter ensemble True or
False or something
I see also that it would not reduce fit time but increase it as you would
fit on the full data too.
The predict time would be faster though.

I would be curious to see if it improves performance too. I would imagine
that the cross_val_predict
strategy has more variance due to the absence of ensemble.

can yo

[2020-01-19 13:17] VarIr commented on #14386
I would like to second the proposal for a version 1.0 paper, as publications are still an essential corner stone in the academic world.

As a PhD student considering an academic career, and non-core developer of scikit-learn, my contributions currently work like this:
1. Stumble upon some issue that must be solved for my own projects building upon scikit-learn
2. Fix the code for my project during

[2020-01-19 16:10] glemaitre commented on #16147
Yes go for it ;)

Sent from my phone - sorry to be brief and potential misspell.

[2020-01-19 16:23] alexshacked commented on #16147
Thanks. PR soon

[2020-01-19 19:13] Kapilam opened #16157 "Comparison of ML Algorithms"
#### Describe the issue linked to the documentation
It is difficult to select a ML algorithm for given application. Please provide a comparison of ML algorithms showing advantages and limitation of each algorithm

#### Suggest a potential alternative/fix
Generate a new section in the documentation to discuss about advantages and limitations of each algorithm.

[2020-01-19 21:08] butterfieldcons commented on #13228
For all you deep learning a-z and??

Problem solved in a way.  I upgraded joblib from 0.13.2 to joblib 0.14.1 and the program completes using Spyder with Tensor-GPU and n_jobs = -1.  However, you do not see all the console output (the animations).

conda install joblib=0.14.1

Here are the results, print (accuracies), using joblib 0.13.2 and running from Anaconda command prompt
 [0.84875    0.8349

[2020-01-19 22:23] jnothman commented on #16157
This is a bit too broad to be a specific issue. We have attempted to provide documentation and examples. I think that more advantages/disadvantages is actually unlikely to be helpful relative to a more practical "Examples of when I should use this model".

[2020-01-19 23:50] Tizpaz opened #16158 "Possible expensive loop iterations in batch generations"
Hello,

I want to bring your attention to the implementations of the batch generator in util module:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/__init__.py#L719
In particular, batch_size parameter is required to be an integer. However, it might not be properly checked in the calling the library and be called with float values such as 0.00001 which leads to unexpected ex

[2020-01-20 03:13] martinacantaro commented on #16155
Hi, I wrote an article on this dataset and found the same problem with the language. I didn't address the assumptions behind the existance of the column because I'm not as intimate with the dinamics of race and gentrification in the US, but I can see how it can be problematic as well. Can we at least change "blacks" for "black people"?

[2020-01-20 03:51] martinacantaro commented on #16155
As for other housing dataset, there's the California dataset although it doesn't have as many columns https://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

[2020-01-20 04:17] jnothman commented on #16155
The problem noted on that article on Medium is that the column doesn't
indicate proportion of black people. It indicates that the proportion of
black people is either low or high - in other words, how far from some
ideal proportion it is - representing prejudices about the effect of race
on pricing. Renaming it is insufficient. Removing it may be acceptable.

[2020-01-20 04:18] jnothman commented on #16158
I'd happily see an error raised if a float (or value < 1) is passed

[2020-01-20 06:52] zd-project commented on #14126
I'm not working on it. Go ahead.

[2020-01-20 08:04] aesuli commented on #16145
OK, I'll work on this in the next days.

[2020-01-20 08:10] akilat90 commented on #16023
Hi @ogrisel, I would like to give this a try. Is this something I can work on?

[2020-01-20 10:21] cmarmo opened #16160 "Import Error in Libsvm GUI example"
#### Describe the bug
The Libsvm GUI example (`examples/applications/svm_gui.py`) throws an import error in local installation and execution.
The matplotlib 2.x `NavigationToolbar2TkAgg` has changed its name in matplotlib 3.x.
The example should probably be modified to work with both versions.

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown.

#### Actual Results
[cod

[2020-01-20 13:41] alexshacked commented on #16027
You're right @jeremiedbb . On big input sizes, the increase in memory doesen't go beyound the 1GB chunk size

[code]

[2020-01-20 14:40] fjp opened #16161 "Attach and use sample properties in pipeline with custom transformers"
#### Describe the issue linked to the documentation

Could someone please clarify the difference between [sample properties](https://scikit-learn.org/stable/glossary.html#term-sample-property) and feature properties (I couldn't find this in the documentation) and how they are intended to be used with the current API?

I would like to create a pipeline with custom transformers/estimators inheriting

[2020-01-20 15:38] martinacantaro commented on #16155
Oh, that's awful. As the article demonstrates that it's impossible to go back to the original values, I agree that removing the column may be the best option.

[2020-01-20 15:48] martinacantaro commented on #16155
One option is removing it. Another one, proposed by the article, is going back to the original census and reconstruct the data. Following the article's logic, reconstructing 36 datapoints should suffice, and the author found 20. I don't know how feasible it is to find the other 16.
<img width="784" alt="Captura de Pantalla 2020-01-20 a la(s) 12 42 38" src="https://user-images.githubusercontent.com

[2020-01-20 19:06] mcarlisle commented on #16155
Hi, I'm the author of the post @martinacantaro and @jrsykes are referring to above. While I second @martinacantaro on removing the column, I also suggest reconstructing the original tract data, and that this process should be documented and submitted along with the newly-constructed dataset, along with the original paper.

[2020-01-20 19:35] jnothman commented on #16161
If you are simply adding features in a pipeline, this is something
Transformers should be doing without sample properties. Sample properties
do not usually represent observations that would be provided in training
and test time, while features do. See our examples on heterogeneous data
for use of transformer pipelines to perform feature extraction.

[2020-01-20 21:51] fjp commented on #16161
Thank you for your help @jnothman. Here are the examples I found and read so far:

1. [Column Transformer with Heterogeneous Data Sources](https://scikit-learn.org/stable/auto_examples/compose/plot_column_transformer.html) the only matching example I found that seems to operate on a heterogeneous dataset. However, is the 20newsgroup dataset really heterogeneous? From the example it seems like a li

[2020-01-20 22:16] jnothman commented on #16161
Since these are all operations on the observed features, they should all be
done though Transformers in a pipeline. Yes you can have a transformer that
returns a DataFrame with a new column, and then extract features from that
modified input using two different Transformers in a FeatureUnion or
ColumnTransformer. Ultimately, yes, you will need to return something that
can be stacked into a numpy a

[2020-01-20 22:37] fjp commented on #16161
Thanks for the clarification, @jnothman. My preferred way is to use a DataFrame. What would be the return type of a FeatureUnion with two Transformers where each one returns a DataFrame? A new DataFrame where the features of the two DataFrames are concatenated (in the correct axis) or is the result a numpy array? And what would be the output of `get_feature_names`? Will this return the column name

[2020-01-20 23:45] jnothman commented on #16161
FeatureUnion is designed to return a numpy array, for good or bad.

I should note that you're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

If we can more specifically

[2020-01-21 08:08] fjp commented on #16161
Are there any plans to provide a FeatureUnion that returns a DataFrame? #5523 is about pandas in, pandas out. The final discussion there ([here](https://github.com/scikit-learn/scikit-learn/issues/5523#issuecomment-546339606) and [here](https://github.com/scikit-learn/scikit-learn/issues/5523#issuecomment-546350180)) seems to favour numpy arrays and use separate pandas DataFrames for metadata (men

[2020-01-21 09:22] sweichwald commented on #16051
Thanks for the feedback and example, @GaelVaroquaux and @pierreablin!
@NiklasPfister and myself will get a WIP PR going for SOBIICA; to be expected sometime during the next two months ;-)

[2020-01-21 11:49] GaelVaroquaux commented on #16051
I'm excited. Thank you!

[2020-01-21 12:52] NicolasHug commented on #16160
Since we don't have strict matplotlib minimum version requirement, let's [update the import](https://stackoverflow.com/questions/50330320/what-to-use-instead-of-navigationtoolbar2tkagg) and leave a comment near the import e.g. `# requires matplotlib >= 3.0`

[2020-01-21 13:52] olicairns opened #16170 "sklearn.base.clone - incorrect/unclear error about 'get_params' when called on class"
#### Describe the bug

When I clone a class, rather than instance of that class, I get error message saying that 'get_params is not implemented', even though it is
#### Steps/Code to Reproduce
[code]
#### Expected Results
[code]
#### Actual Results
[code]

This should be quite straightforward to fix, we could just change the comparison [here](https://github.com/scikit-learn/scikit-learn/blob/b1946

[2020-01-21 14:44] PGijsbers commented on #8223
For me in addition to getting the scores and predictions, having the k models returned would also be useful to me (as in `return_estimator` of `cross_validate`).

[2020-01-21 15:51] csbrown opened #16171 "MeanShift predict method is incorrect"
#### Describe the workflow you want to enable

The `predict` method on the `MeanShift` class takes in a point and returns the nearest "cluster center" from the final iterations of the training data.  However, `MeanShift` is a lazy learner.  The normal process for `fit`ting is to simply store the training data.  The `predict` method should then perform all of the logic that is currently in the `fit

[2020-01-21 16:26] jeremiedbb commented on #16171
What makes you say that ?

`MeanShift` is not knn. It's an iterative algorithm which updates the means at each iteration to find the best partition of the data. The predict method concerns unseen data for which we just want to find the closest center based on the best means found by the algo on the training data. The means are not (and should not be) updated in this case.

[2020-01-21 16:31] jinsel commented on #12720
**Here is an example for Multiple Column convert into int**

from sklearn.preprocessing import LabelEncoder
column= ['ethnicity','gender','hospital_admit_source','icu_stay_type','icu_type','icu_admit_source','icu_id','apache_3j_bodysystem','apache_2_bodysystem']
def cat_to_int(column):
    for col in column:
        encoder = LabelEncoder()
        str_to_int = df_training1[col]
        df_trainin

[2020-01-21 16:54] adrinjalali commented on #16139
Stackoverflow has a clear community issue and its code of conduct has had some bad press due to the way they enforced it.

PSF updated their CoC last year (if I'm not mistaken) and we used it, and its enforcement procedure and committee concept in our PyConDE/PyData Berlin conference in October. It has been by far the most clear CoC and implementation procedure I've seen, and we already adhere to

[2020-01-21 17:13] GaelVaroquaux commented on #16139
+1 for COC from PSF.

[2020-01-21 18:58] csbrown commented on #16171
"The means are not (and should not be) updated in this case." Agreed.  But the way that one classifies an unseen point with MeanShift is by applying MeanShift to that point.  Since this is the case, the part in `.fit` where the implementation finds the cluster of the training data is (mostly) irrelevant and unnecessary.  MeanShift is a hill-climbing algorithm on the Kernel Density Estimate.  Which

[2020-01-21 19:00] adrinjalali commented on #16139
I'm on it.

[2020-01-21 19:01] csbrown commented on #16171
One reason why one might which to cluster the training data first is to enumerate the modes of the kernel density function, so that we know how many clusters there are.  There is no guarantee that this scheme will find them all, but I would expect it to do a pretty good job in most cases.

[2020-01-21 19:15] NicolasHug commented on #16170
feel free to send a PR @olicairns

[2020-01-21 19:33] alhewpl commented on #15426
Could @Schindst and I work on the  LinearClassifierMixin, LinearModel, LinearRegression?

[2020-01-21 20:33] jnothman commented on #15426
I think it is better to work version (perhaps split by subpackage) by
version than class by class.

[2020-01-21 21:08] ogrisel commented on #16023
@akilat90 no need to ask. If you see that nobody else is actively working on an issue, feel free to submit a PR of your own. Please start by a small PR that edits only a few file if this is the first time you contribute to this project.

[2020-01-21 22:25] jnothman commented on #12720
Please don't do that. Please use OrdinalEncoder, perhaps together with
ColumnTransformer.

[2020-01-21 22:30] jnothman commented on #16171
I'd be interested in seeing the proposed implementation

[2020-01-22 01:20] reshamas commented on #16139
@adrinjalali Where can I find more information about this:

[2020-01-22 09:13] #16139 closed

[2020-01-22 09:36] adrinjalali commented on #16139
@reshamas here are some that I'd seen:
https://www.theregister.co.uk/2019/10/01/stack_exchange_controversy/
https://tech.slashdot.org/story/19/12/28/0448227/stack-exchange-apologizes-offers-possible-reinstatement-to-moderator-removed-over-pronouns-policy

Discussions around the topic also haven't been nice, and from my point of view, moderators are not being nice and understanding, the discussions

[2020-01-22 10:56] glemaitre commented on #16170
`sklearn.base.clone` is not meant to be used to clone classes. If you want to clone a class you should instead use the Python inheritance. Do I miss something?

[2020-01-22 11:00] glemaitre commented on #16160
In this case, we also need to update our CI then. It makes probably sense to support the last major release (if they were breaking changes with previous major release)

[2020-01-22 11:06] olicairns commented on #16170
yeah that's true but the error message isn't clear. I would like 2 different warnings, 1 if you don't have 'get_params' method and one if you have passed class instead of object. See expected error rather than actual error, the actual error is difficult to debug.

[2020-01-22 11:13] NicolasHug commented on #16160
Alternatively we can try/except the import...

I don't know what our convention is regarding minimal version of dependencies. It seems that we've been pretty conservative about it, i.e. try to be compatible with as many versions as possible.

[2020-01-22 12:31] NicolasHug commented on #16130
I may be missing something, but it seems to me that #15557 makes the GPs partially incompatible with GridSearchCV or even simply cross-validation. How do you split an array of arbitrary shaped samples?

[2020-01-22 14:10] #15684 closed

[2020-01-22 16:14] glemaitre commented on #16170
OK I see. So we could catch the error and check that `issubclass(estimator, BaseEstimator)` and raise an error specifying that we expect an instance otherwise, we raise the other error message.

[2020-01-22 16:15] glemaitre commented on #16170
@olicairns do you want to propose a PR?

[2020-01-22 16:17] olicairns commented on #16170
@glemaitre  Thanks, yes I'll do that soon just working out how to clone repo, run tests ect.

[2020-01-22 16:17] csbrown commented on #16171
NOREPLY: Just keeping track of this tidbit somewheres.

The docs currently make claims to use an RBF kernel, but then later says it uses a "flat" (uniform) kernel, which is what it is actually using.

[2020-01-22 16:21] mortonjt opened #16177 "CCA documentation could be improved"
There are 4 sets of weight matrices that are learned - and it is not clear what the difference is between them.  For instance, there is `y_weights_`, `y_rotations_` and `y_loadings_` that all have the same dimensionality.

In the traditional CCA literature, there is only 1 set of loading matrices

[code]
I'd expect the sample weights `U`  and `V` (which is referred to as `x_scores_` and `y_scores_

[2020-01-22 16:36] ogrisel commented on #16155
The fact that we distribute this dataset as such is indeed a problem because one could assume that we think that casually making such assumptions on the segregationist propensity of house buyers is fine.

a- keep the data as such but add a warning in the documentation to state that this variable casually makes problematic assumptions and that using this dataset without questioning those assumption

[2020-01-22 16:58] GaelVaroquaux commented on #16139
The fact that stackoverflow is not as welcoming as it would like may be more related to the volume that it experience than to a specific state of mind of the people who run it.

The reason that I mention this is that I think that it is a curse of all places where there is a huge demand for attention from the general public. I can very well see us falling in that trap: we (core devs or other main a

[2020-01-22 17:28] thomasjpfan commented on #16094
I am also +0 for the same reasons.

[2020-01-22 17:34] thomasjpfan commented on #16093
[code]

[2020-01-22 17:36] statmlben commented on #10873
I made a Python library to solve the SVM with sample weight, based on the same algorithm with LibLinear, see https://github.com/statmlben/Variant-SVM.

[2020-01-22 18:16] TomDLT commented on #16130
An array of arbitrary shaped samples is still an array, so it should work well with `_num_samples` and `_safe_indexing`.

https://github.com/scikit-learn/scikit-learn/blob/3f89a4143405141c550efd7c11f3745e191259f3/sklearn/utils/validation.py#L136-L137
https://github.com/scikit-learn/scikit-learn/blob/3f89a4143405141c550efd7c11f3745e191259f3/sklearn/utils/__init__.py#L316-L317

[2020-01-22 18:19] adrinjalali commented on #16130
we should be consistent then. Right now we have:

[code]

[2020-01-22 19:24] jnothman commented on #16130
Should we? after you've done check_array, X.shape[0] is fine.

[2020-01-22 19:38] thomasjpfan commented on #13188
I have been observing how "take" is being used on the pandas issue board. It seems like it does allow users to take ownership of an issue. On the other hand, this feature is kind of "hidden". In other words, we would need to remind contributors that using "take" is a way to assign an issue to themselves.

@lithomas1 How do you find the "take" action working in pandas?

[2020-01-22 20:14] jnothman commented on #16155
I agree that the common use of this dataset is a mild reason to change
slowly, but then it deserves a bit more visibility than the change to
documentation.

Trying to think of the right warning class: EthicalWarning?
HumanityWarning? PastWarning?

"This dataset embeds the highly problematic assumption that racial
segregation is valuable. It will be removed in a future version and should
be used wi

[2020-01-23 00:23] iamdbestjoy opened #16179 "max_leaf_nodes in HistGradientBoostingRegressor changes automatically based on values in max depth during training"
The algo works fine when i set max_depth 40 and max_leaf_nodes 40 but if i set max_depth as 15 and max_leaf_nodes  as 40 then for some trees the max_leaf_nodes automatically changes to a very large number (around 3000-4000) and it takes long time to add that single tree
![histGBMBug](https://user-images.githubusercontent.com/10412507/72946275-5e1ff300-3d33-11ea-821b-b86f9ceda9cd.JPG)

[2020-01-23 00:40] lithomas1 commented on #13188
Personally, I find the "take" action pretty useful in pandas, as sometimes multiple contributors would open PRs for the same issue. In addition, it's easier to search and find untaken issues. This keyword is fairly recent(https://github.com/pandas-dev/pandas/pull/29648 is the PR implementing this), so it might take a while to catch on.

[2020-01-23 04:47] amueller commented on #16139
Having a visible code of conduct is not about pointing fingers, I think. It's signalling to people outside the community that we care about the tone in engaging with others.
The PR didn't make the CoC more visible on the website.

[2020-01-23 06:23] jnothman commented on #16139
No but it makes it more visible to those who care to contribute. It's an
important step. The web site deserves a clearer statement too.

[2020-01-23 09:29] zoj613 commented on #15604
I am getting the same issue on a real life dataset that is fairly medium in size (i.e 100k rows and 100 columns). Some of the columns are sparse. So when trying to impute about 20-30 of them the KNNImputer consumes about 150GB of memory on an AWS instance and just runs forever without finishing. After sometime the memory usage drops without anything happening afterwards. Is there a remedy for this

[2020-01-23 10:38] glemaitre commented on #15604
Could you open a new issue mentioning this information? We could then think about improving the imputer.

[2020-01-23 10:54] glemaitre commented on #16179
I can reproduce with this minimal example:

[code]

[code]

[2020-01-23 10:54] glemaitre commented on #16179
ping @NicolasHug

[2020-01-23 10:59] zoj613 commented on #15604
Is that good to do given the fact that I cant share the data so I dont have an example to reproduce the issue?

[2020-01-23 11:11] glemaitre commented on #16171
Yep, I saw that in the documentation, I did not check the code.

@csbrown We could still use `fit` to compute a density estimate. Where I see your point is at predict, where we are using nearest centroids instead, we could use the density estimate to make a hill-climbing prediction, isn't it?

[2020-01-23 12:18] RachelOwl commented on #13621
+1 for stratifiedKfold. my use case is data with with several classes and several groups. I the devision of classes to be stratified

[2020-01-23 12:21] NicolasHug commented on #16179
Thanks for the report and for the example.

The issue is caused when the max depth criteria is reached as the same time as the max_leaf_nodes criteria. I'll provide a fix soon

[2020-01-23 12:34] cmarmo commented on #16087
Hello @sandrotosi could you let us know if the patch worked? This will allow to close this issue. Thanks!

[2020-01-23 12:57] rth commented on #15604
Yes, please. Memory usage shouldn't be too dependent on actual data. If you can produce a smaller [synthetic dataset](https://scikit-learn.org/stable/datasets/index.html#generated-datasets) with a comparable amount of sparsity and NA to impute that would be helpful. Likely a smaller dataset for which KNNimputer would take a few GB as opposed 100s of GB in your example that we can run it locally on

[2020-01-23 13:10] sshojiro commented on #8445
version: *0.22.1*

FYI, there's not been an example of `PairwiseKernel` with a user-defining kernel function, which can pass and work correctly as follows:

[code]

As the above comments, [[1]](https://github.com/scikit-learn/scikit-learn/issues/8445#issue-209817087) and [[2]](https://github.com/scikit-learn/scikit-learn/issues/8445#issuecomment-420495527), imply, the `PairwiseKernel` with various

[2020-01-23 13:30] GaelVaroquaux commented on #16139
Absolutely. My comment was more about stackoverflow. I just think that it
is easy to go where they went (and we shouldn't!)

[2020-01-23 14:03] JakeCowton opened #16184 "n_jobs greater than 1 causes segmentation fault"
Before submitting a bug, please make sure the issue hasn't been already
addressed by searching through the past issues.

#### Describe the bug

#### Steps/Code to Reproduce

Would expect it to work with any amount of `n_jobs`

#### Actual Results

Segmentation fault

#### Versions

System:
    python: 3.7.3 (default, Mar 26 2019, 01:59:45)  [GCC 5.4.0 20160609]
executable: /home/<ME>/.virtualenvs/

[2020-01-23 14:28] alexshacked commented on #16147
The error happens when the RANSACRegressor is created without passing a residual_threshold. In this case RANSAC needs to calculate the residual_threshold from the y vector.
The error thrown during fit is:

[code]

The same error will be thrown if we create the RANSACRegressor with  residual_threshold=0.0, and this behaviour is tested in **test_ransac.test_ransac_resid_thresh_no_inliers()**.

And a

[2020-01-23 14:28] rth commented on #16184
Thanks for the report. Can't reproduce with identical version of scikit-learn and joblib on Linux. Would you mind running that script with gdb:
[code]
then entering `r` to run and providing the backtrace?

[2020-01-23 14:33] glemaitre commented on #16184
I cannot reproduce either with the same scikit-learn, joblib, numpy, and scipy version.

[2020-01-23 14:36] JakeCowton commented on #16184
[code]

[2020-01-23 14:55] rth commented on #16184
Right, that's just the process run. After the segfault you need to enter "bt" to get the backtrace if I remember correctly (see gdb user manual for more details).

[2020-01-23 14:58] JakeCowton commented on #16184
My bad. Updated.

[2020-01-23 16:14] thomasjpfan commented on #13188
I think it is worth trying it out in this project as well. Feel free to submit a PR with the github action.

[2020-01-23 16:19] bzip2 commented on #5884
Someone who claims to have "[borrowed ideas](https://www.thinkdatascience.com/post/2019-12-16-introducing-python-package-gower/)" from this thread has released a package on [github](https://github.com/wwwjk366/gower) to calculate Gower distance (similarity, technically). Speaking of distance and similarity, the example is identical to the one from @marcelobeckmann. I've only glanced at the code so

[2020-01-23 17:07] jeffreywillert commented on #16147
@alexshacked I made the same change (from "<" to "<=" in my local copy and have found it to work well in practice.

I would argue that this should be the default behavior.  While trivial, it is a case that can be observed in practice.  I encountered this while looping through client accounts in which the target quantity is constant (or near constant) for a small fraction of accounts.  When the tar

[2020-01-23 19:44] david-r-wasserman commented on #2879
Now that this issue has been fixed, the new feature should be documented at https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html and https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.RandomizedSearchCV.html.

Also, this only works for `sample_weights`, right? If the estimator's `fit()` function has other params that are sample-specific

[2020-01-23 20:14] Tizpaz opened #16186 "Possible unnecessary iterations in Newton-CG algoithm"
Hello,

I am reporting a potential performance issue in the implementation of Newton-CG algorithm:

https://github.com/scikit-learn/scikit-learn/blob/b194674c42d54b26137a456c510c5fdba1ba23e0/sklearn/utils/optimize.py#L123

In particular, at line 185, the (user) given 'tol' parameter is compared against the calculated max 'absgrad' with strictly less than comparison operator. This can lead problems

[2020-01-23 20:40] waelbenamara commented on #16160
I am not really aware of the dependencies policies and versioning, but  NavigationToolbar2TkAgg is actually deprecated, I replaced it with the the updated dependency and updated the functions and it solved the issue.

[2020-01-23 21:33] cottrell opened #16188 "Consider adding a version of multivariate mutual information from the gist below?"
If I'm not mistaken, there is no version of mutual information for multiple continuous random variables in sklearn.

Quite a few people have been landing on this gist: https://gist.github.com/GaelVaroquaux/ead9898bd3c973c40429

Any thoughts on including some version of this MI calculation here?

#### Describe the workflow you want to enable

#### Describe your proposed solution

#### Describe alte

[2020-01-24 08:00] glemaitre opened #16191 "Raising SettingWithCopyWarning in cross_validate"
Before submitting a bug, please make sure the issue hasn't been already
addressed by searching through the past issues.

#### Describe the bug

Using a `FunctionTransformer` which add a column to a dataframe will raise a `SettingWithCopyWarning` when used in cross_validate`.

This is highly linked to #8723 but I think that in this case, we should do something about it since:
- `FunctionTransformer

[2020-01-24 08:13] jorisvandenbossche commented on #16191
This is indeed the same underlying issue as was discussed in #8723.
Some related discussions on the pandas side: https://github.com/pandas-dev/pandas/issues/18801, https://github.com/pandas-dev/pandas/issues/18799, https://github.com/pandas-dev/pandas/issues/19102

[2020-01-24 08:14] glemaitre commented on #16191
I would propose to set the attribute `is_copy` or `_is_copy` to `False` within `cross-validate` since this would be an internal thing.

[2020-01-24 08:17] glemaitre commented on #16191
ping @jnothman @amueller

[2020-01-24 08:18] jorisvandenbossche commented on #16191
It's setting it to `None` (not `False`), I think.
Indeed, that would be the solution that avoids an additional copy of the data. Just note that it is a private attribute, so I can't guarantee it will never change (but if you do it with hasattr, you should be able to write it in a safe way, that doesn't break if it changes in pandas).

I reopened https://github.com/pandas-dev/pandas/issues/19102 to

[2020-01-24 08:24] jorisvandenbossche commented on #16191
Actually, now I think about it, there is a better way: you can use `DataFrame.take` instead of `iloc` in `safe_indexing`. In DataFrame.take, there is an option to ensure the `_is_copy` is not set, so you can ensure that the result is a "real" copy that will not generate those warnings.

See https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.take.html. The explanation of th

[2020-01-24 09:35] rth commented on #16184
Thanks! Looks like the segfault happens around`_PyObjectDict_SetItem` and `_queue.cpython` which is not very helpful. Could you run this script with [faulthandler](https://docs.python.org/3/library/faulthandler.html).

Might be somewhat similar to https://github.com/RaRe-Technologies/gensim/issues/2567 (unresolved)

[2020-01-24 09:52] JakeCowton commented on #16184
I think this is the output you're looking for
[code]

[2020-01-24 10:32] rth commented on #16186
Thanks for the report! PR would be welcome to fix it. Is it possible to get `absgrad` exactly 0 in practice though? If not, I would expect `tol=0` would lead to an exist from the optimization loop after `max_iter` with a convergence warning. That's not what you observe?

[2020-01-24 11:16] anaclaramatos opened #16192 "Compatability issue with Pipeline and RFECV"
#### Describe the bug
Not sure if this is a bug but shouldn't RFECV accept a pipeline?

#### Steps/Code to Reproduce

[code]

#### Expected Results
No error is thrown

#### Actual Results
RuntimeError: The classifier does not expose "coef_" or "feature_importances_" attributes

#### Versions
Scikit-Learn 0.22
Imbalanced-Learn 0.5.0

[2020-01-24 11:34] cgebe commented on #14223
What is the best practice to get around this issue? I have a Dataframe in which i scale 13 features in specific columns. When applying ColumnTransformer, either by numeric or label index, the order of my feature columns is changed. (Transformed features are pushed to the beginning of the output array).

[2020-01-24 12:48] rth commented on #16184
Thanks, so it happens [here](https://github.com/joblib/joblib/blob/a99273bb0fe1d77c5e5b1b5512c6a9fa1285a125/joblib/_parallel_backends.py#L217) in joblib.

Does it still happen if you upgrade joblib to the latest version (0.14.1)?

[2020-01-24 13:11] ogrisel commented on #16155
Ok but I would  prefer not to completely remove the variable but instead not load it by default unless the user really needs it in which case they can pass a specific param to `load_boston` (e.g. to study the ethical implications of this variable for instance). E.g. `load_boston(include_racial_segregation_variable=True)`.

Those naming suggestions feel weird to me.

+0 for `EthicalWarning` or even

[2020-01-24 15:10] zachmayer commented on #16148
If this seems like a good idea, I'd be happy to make a PR

[2020-01-24 15:46] JakeCowton commented on #16184
Yes, same error as above.

[2020-01-24 16:00] rth commented on #16148
I agree that it could be a useful feature, that would also facilitate integration with `ColumnTransformer` somewhat.

However, implementation wise `TfidfVectorizer` already does too many things and we need to find a way to simplify it cf https://github.com/scikit-learn/scikit-learn/issues/14951 so I don't think that adding this new functionality there would be a good idea. Besides, there is an exp

[2020-01-24 16:37] zachmayer commented on #16148
Those 3 cases seem to pretty much cover it to me.  I'd be happy to try my hand at writing a meta estimator.  I agree that `TfidfVectorizer` is already very complicated.

I've mostly been writing code from case 1 on your list above, and I've found that it can result in code that's verbose to the point of being unwieldy:

[code]

I've found myself writing various forms of a meta-estimator that loops

[2020-01-24 17:30] csbrown commented on #16171
@glemaitre that is the basic idea.  Currently, `.fit` doesn't really "compute a density estimate", but it does make an attempt to find the location of the modes of the density estimate.  The way that it does it efficiently by choosing "seeds" is quite clever.  That could be a useful thing, but isn't necessary in order to make predictions.

[2020-01-24 17:36] PedroFerreiradaCosta commented on #1513
Hi @amueller and everybody! We saw this thread and decided to implement a sklearn-compatible version of the RVM (https://github.com/Mind-the-Pineapple/sklearn-rvm). We based a lot of what we did on the JamesRitchie implementation. It would be great if someone would be willing to take a look at it and feedbacks and contributions (@themrzmaster)  are welcome :)
We have plans of maintaining this repo

[2020-01-24 20:36] Tizpaz commented on #16186
Thank you for your reply.
I am not sure whether "absgrad" can be 0 or not in practice. But the observations about the getting warning after reaching to max_itr for tol=0 is correct.

I consider two runs one with tol=0 and another with tol=0.000000001. For the first one (tol=0), it took 5.6 (s) to compute the model, whereas for the other one it took 0.5 (s). As you could see these are very close to

[2020-01-24 21:05] zachmayer commented on #10603
@amueller I think it would make sense to also consider text data in your simple data science example.  Here's a dataset that's slightly more complicated that the titanic dataset: https://www.kaggle.com/dgomonov/new-york-city-airbnb-open-data/data#AB_NYC_2019.csv

Below I have a fairly simple pipeline that:
- Handles missing data in numeric, categorical, and columns
- Uses a new level (missing) for

[2020-01-24 21:30] DASA39 commented on #5884
Hi, I tried to implement the tool step by step from the notebook but this error appears:
ValueError: Input contains NaN.

By the way, the example used by the creator of the --gower package is the same of @marcelobeckmann's notebook, but without the Nan's

[2020-01-24 21:55] thomasjpfan commented on #15464
This is sometimes failing on our `pylatest_conda_mkl` instance as well.

[2020-01-24 22:36] amueller commented on #16062
For the feature_fraction, is that on a tree-basis or a per-split basis? Our GradientBoosting does "max_features" which is on a per-split basis....

[2020-01-25 00:28] DrEhrfurchtgebietend commented on #16062
Doing it on per-split basis is the preferred method

[2020-01-25 06:46] MotoRZR commented on #8223
Agree.  Sometimes you want the scores, the out of fold, the estimators, predictions or all three.  You can obviously do this manually but would be cleaner if it was built in

[2020-01-25 07:11] NurzatRakhman commented on #10903
I will take this one

[2020-01-25 08:51] marijavlajic commented on #15358
We'd like to try to tackle this one for BaseDiscreteNB. @gelavizh1 @lschwetlick #ScikitLearnSpint

[2020-01-25 08:56] marielledado commented on #15761
@cgsavard  Hello, I would like to work on the `model_selection` class

[2020-01-25 09:19] alhewpl commented on #15426
ok, we'll take v0.20 - with @Schindst

[2020-01-25 09:20] marijavlajic commented on #15358
Now working with @gelavizh1 and @lschwetlick on IsotonicRegression.

[2020-01-25 09:24] marimeireles commented on #14117
Hello, I'm getting  examples/neural_networks/plot_mnist_filters.py (ConvergenceWarning) for the WiMLDS Berlin Sprint =)

[2020-01-25 09:33] marcelobeckmann commented on #5884
Hi guys, thanks to keep an eye on this.

I'm glad people is taking the code and trying to improve it, that is the purpose to be open source, despite some credit is appreciated.

Hopefully this code will be part of scikit-learn, if this PR [#9555](https://github.com/scikit-learn/scikit-learn/pull/9555) be accepted.

Best regards,

Marcelo Beckmann

[2020-01-25 09:39] Malesche commented on #10548
We want to work on ensemble/_hist_gradient_boosting/binning.
@mojc and me.
#wimlds

[2020-01-25 09:43] daphn3k commented on #10548
@anaisabeldhero and me want to work on manifold/*
 #wimlds #SciKitLearnSprint

[2020-01-25 09:45] anaisabeldhero commented on #10548
@daphn3k  and I will work on  sklearn/gaussian_process/
#wimlds #SciKitLearnSprint

[2020-01-25 09:49] magda-zielinska commented on #15761
@lopusz and I want to work on random_projection.py

Have fun to everyone!

@adrinjalali @noatamir @WiMLDS

[2020-01-25 10:06] borovikova commented on #15426
We will work on v0.20 with @ellenkoenig

[2020-01-25 10:13] Olks commented on #10548
We want to work on  sklearn/preprocessing/_data.py - 2178, 2607
@rachelcjordan and @fabi-cast
#wimlds #SciKitLearnSprint

[2020-01-25 10:24] brigitteunger commented on #15426
We (@shravaniCD and @hhnnhh and @brigitteunger ) are going to take care of those:
#WiMLDS @noatamir
HistGradientBoostingClassifier
HistGradientBoostingRegressor

[2020-01-25 10:39] mjmolina commented on #15761
@ETay203 and I would like to work on `mean_shift` @WiMLDS_Berlin sprint.

[2020-01-25 10:48] adrinjalali commented on #15426
As a reminder, people who take on this issue, please take on a version (the changelog for v0.18 for instance), and tackle everything mentioned there, instead of working on classes or files or modules. This makes the review process much easier.

[2020-01-25 10:56] brigitteunger commented on #15426
We (@shravaniCD and @hhnnhh and @brigitteunger)   are going to  pick v0.22

[2020-01-25 10:57] malteserteresa commented on #14117
Myself and @andra-pumnea will change the cache location

[2020-01-25 11:43] lopusz commented on #15761
@magda-zielinska and I want to work on pipeline.py

@adrinjalali @noatamir @WiMLDS

[2020-01-25 11:44] marimeireles commented on #10493
@jnothman I'm gonna give a try on this one. I'll post here if I get stuck!
I'm taking this bug as part of the #WiMLDS_Berlin sprint =)

[2020-01-25 11:50] limjiayi commented on #13621
I would like to be able to use StratifiedGroupKFold as well. I am looking at a dataset for predicting financial crises, where each crisis is its own group. During training and cross-validation, members of each group should not leak between the folds used for training and one used for validation.

[2020-01-25 12:07] fraboeni commented on #15761
@lopusz and @magda-zielinska and I want to work on kernel_approximation.py

[2020-01-25 12:25] noatamir commented on #15426
I'm starting to work on v0.19

[2020-01-25 12:33] mojc commented on #10548
Me and @Malesche want to take the  sklearn/inspection/_permutation_importance.py
#WiMLDS

[2020-01-25 12:47] stareh commented on #10548
claiming sklearn/metrics/cluster/_unsupervised.py file! #wimlds

[2020-01-25 12:49] NurzatRakhman commented on #10903
Me and @ImenRajhi, so far found out that it is caused by scipy.interpolate.interp1d() function that is used in             isotonic.py in line249:
self.f_ = interpolate.interp1d(X, y, kind='linear',
                                           bounds_error=bounds_error)

It is caused by small values of X input. If you add fill_value="extrapolate" to that line, you would get  Error: .../scipy/interpo

[2020-01-25 12:53] anaisabeldhero commented on #10548
@daphn3k and I take also the covariance/* and neighbors/*

[2020-01-25 12:56] marimeireles commented on #10493
@sammsc is also working on this with me :)

[2020-01-25 12:58] Matt-arch commented on #11444
hello can someone tell me about what this do "self.coef_.T" i read it used to change the coefficient of X[i] into sparse matrix but i can't get clear image, please help me out here

[2020-01-25 13:09] stareh commented on #10548
claim:
sklearn/dummy.py - 59
sklearn/multioutput.py - 578, 738
sklearn/kernel_approximation.py - 41, 143, 470
sklearn/multiclass.py - 687
sklearn/random_projection.py - 178, 245, 464, 586

[2020-01-25 13:10] marielledado commented on #16192
@anaclaramatos is there any reason why you're using `imblearn` pipeline instead of `sklearn` pipeline?

[2020-01-25 13:15] marimeireles commented on #10493
Okay... So I tried to replicate the error on my computer but when I try to add 500 neighbors to each part of the matrix my computer just can't do it.
Any idea on how I can replicate it?
I tried:
[code]
And my program gets stuck in the last line.
Thanks!

[2020-01-25 13:58] tjorda01 opened #16220 "Dead link in “Canny edge detection”"
#### Describe the issue linked to the documentation
On this page “Canny edge detection”
https://scikit-image.org/docs/dev/api/skimage.feature.html#skimage.feature.canny
 ... in the References section...
this is the dead link:
2  William Green’s Canny tutorial http://dasl.unlv.edu/daslDrexel/alumni/bGreen/www.pages.drexel.edu/_weg22/can_tut.html

#### Suggest a potential alternative/fix
Replace it

[2020-01-25 14:01] tjorda01 opened #16221 "Dead "chat room" link on the "Governance" page"
#### Describe the issue linked to the documentation

On this page: https://scikit-image.org/docs/dev/skips/1-governance.html
...there this dead link:
<a class="reference external" href="skimage.zulipchat.com/">project chat room</a>,

#### Suggest a potential alternative/fix
Is there still an active chat room? If not, remove the reference to it.

[2020-01-25 14:44] marielledado commented on #14312
I am going to add `feature_importances_` to the documentation for `ExtraTreeRegressor`

[2020-01-25 14:53] NicolasHug commented on #10548
PSA: please use the original sentence

instead of what I'm seeing in PRs at the moment:

which isn't correct, since the RNG is always deterministic regardless of what is passed

CC @adrinjalali since I think you're at the sprint

[2020-01-25 15:10] anaisabeldhero commented on #10548
working on the neural network and mixture

[2020-01-25 15:13] cmarmo commented on #10548
Hi @NicolasHug this was meant to comment a PR I suppose... which one? :)

[2020-01-25 15:14] rachelcjordan commented on #10548
going to work on scikit-learn/sklearn/model_selection/_validation.py

[2020-01-25 15:14] NicolasHug commented on #10548
@cmarmo  That was a general comment for all PRs. I saw one and commented there, then saw a second one and figured out it was a pattern that would be better addressed at the source

[2020-01-25 15:17] cmarmo commented on #10548
Sorry @NicolasHug, my bad, I haven't found the comment easy to trace.

[2020-01-25 15:21] daphn3k commented on #10548
@NicolasHug Original sentence has been corrected in the commits from @anaisabeldhero and me

[2020-01-25 15:23] fabi-cast commented on #10548
Me and @Olks claim sklearn/utils/extmath.py - 185, 297

[2020-01-25 15:56] hahey commented on #2751
Hello, I stumbled upon this issue and as it was discussed mostly before between @mblondel and @MechCoder the following comment by @giorgiop is an expected behavior.

A correct test - actually a mix of the codes mentioned above already should be something like this:
[code]
and this test passes without making any problems with the current head of the master branch.

I also checked `sklearn/linear_mo

[2020-01-25 16:22] ETay203 commented on #15761
I'm going to tackle the _optics.py now

[2020-01-25 17:43] thomasjpfan commented on #15464
Ah it is already reported in https://github.com/scikit-learn/scikit-learn/issues/13762 and its been failing more often recently on PRs.

[2020-01-25 21:04] jnothman commented on #8445
Examples are published by adding a file under the examples directory in
this repository. See our contributing guide.

[2020-01-25 22:15] jnothman commented on #14223
Well instead of using remainder you can specify a transformation for each
feature, and use 'passthrough'?

[2020-01-25 22:16] jnothman commented on #16155
I was only joking with those names to be honest. Maybe it's not something
to joke about. It's just not what you expect to have to warn about when
developing software.

[2020-01-25 22:17] jnothman commented on #16155
With a name like include_racial_segregation_variable, yes, I suppose the
warning can disappear.

[2020-01-25 22:30] mcarlisle commented on #16155
Personally and professionally, I'm enamored with the notion of introducing something like `EthicalWarning`, although I understand that this would cause many in tech that labor under the fallacy of "technology and mathematics are ethics-neutral" to get up in arms (present company not considered in this statement, just a general observation).

It is clear (to me, at least) that, at this point in tec

[2020-01-25 22:39] jnothman commented on #16148
You shouldn't need to clone each
 ColumnTransformer will do that for you when fitting. The repetition can be
reduced with a list comprehension to construct the parameter to
ColumnTransformer

[2020-01-26 08:44] qinhanmin2014 commented on #16221
please report to scikit-image, this is the issue tracker of scikit-learn.

[2020-01-26 08:44] #16221 closed

[2020-01-26 08:45] qinhanmin2014 commented on #16220
please report to scikit-image, this is the issue tracker of scikit-learn.

[2020-01-26 08:45] #16220 closed

[2020-01-26 09:30] schuderer commented on #14223
To add to what jnothman wrote, you can easily build the [`transformers` list of tuples](https://scikit-learn.org/stable/modules/generated/sklearn.compose.ColumnTransformer.html) in a loop or list comprehension, specifying transformations for those 13 features, and `passthrough` for the rest.

[2020-01-26 12:31] JellePiepenbrock opened #16238 "TSNE implementation finds variation where there is none"
#### Describe the bug
Manifold.TSNE gives back a lower-dimensional representation of the input data, which contains variation, even if the input data only contains zeros (it seems to do this in all cases where all input samples are the same).

#### Steps/Code to Reproduce

[code]

#### Expected Results
A warning, or all data mapped to the same point.

#### Actual Results

A lower-dimensional array

[2020-01-26 13:08] jnothman commented on #10603
Zach, your link re the handling of dates is broken.

[2020-01-26 13:23] jnothman commented on #16192
This is a near-duplicate of #15312, which will hopefully be fixed by #15361 (when it gets another review).

[2020-01-26 13:53] Pimpwhippa commented on #14257
@getgaurav2 ah, you already put up the new WIP with the implementation code. Actually I am working on this (after an ok from @mfcabrera a few days ago in the pull request linked). And I took time to understand the feature requirements, which I still would like to have it confirmed here. So I'll ask for your suggestions anyway.

So, it has to take the Group effect onto the TimeSeriesSplit. For exam

[2020-01-26 14:06] ysunmi0427 commented on #15075
How's it going? If no one is there, I would like to start working on this issue.

I agree with @qinhanmin2014 that we need to create new class. In my opinion, the new class will derive `SelectFromModel` to reuse other parts of original class except calculating importances.

[2020-01-26 14:14] zachmayer commented on #10603
@jnothman Sorry!  Link fixed: https://stackoverflow.com/a/52666165

[2020-01-26 15:08] cmarmo commented on #15761
Reopening: was closed by "Fixes" keyword in #16216.

[2020-01-26 16:14] getgaurav2 commented on #14257
@Pimpwhippa  - this PR was just a way to save my work . I realized later that you were already on it. Apologies for the confusion .
My 2 cents on your questions:
2. Training set shall include Group A and B and test shall include Group C . Test C shall always be at a later time than A and B . To answer your ques more directly - "does it mean part of group A and B that are not in the past of C test

[2020-01-26 17:55] Pimpwhippa commented on #14257
@getgaurav2 Thank you for your answers. Yes I will be happy to work with you looking at the testing side. Can I make changes from mfcabrera s version and try to pass the test without taking into account your implementation code? Did his code fail the checks just because there was no implementation code? So I can make changes of the testing side only. Sorry for my newbie question. Just want to know

[2020-01-26 18:05] getgaurav2 commented on #14257
@Pimpwhippa  yes - his test was failing because of no implementation . I agree with his test cases otherwise ( just by looking at the code so far )
To begin purely on the test side , You can  hard code an expected o/p of the split function and make sure it passes  in local .

Eventually , the split function from my implementation should replace your hard coded expected o/p  and pass the test cases

[2020-01-26 18:41] Pimpwhippa commented on #14257
@getgaurav2 Alright. Will try so.

[2020-01-26 20:55] agramfort commented on #2751
good point. thx

[2020-01-26 20:55] #2751 closed

[2020-01-26 22:30] jnothman commented on #16238
Interesting. Is this not an issue in other tSNE implementations ?

[2020-01-27 03:17] ysunmi0427 opened #16240 "Add MSLE(Mean Squared Logarithmic Error) to TreeRegressors"
#### Describe the workflow you want to enable
[code]

There are some differences between MSE and MSLE. First, MSLE only cares about the percentual differences. And second, MSLE penalizes underestimates more than overestimates.

Especially, in business, I frequently meet the situation which should handle underestimation. When we forecast delivery time, for example, data analysts want to calculate d

[2020-01-27 04:36] jnothman commented on #16240
Please excuse my ignorance: are there references for this functionality?

[2020-01-27 05:51] ysunmi0427 commented on #16240
@jnothman I tried to find more academic one, like paper, but I couldn't. Here is my references.
* https://xgboost.readthedocs.io/en/latest/tutorials/custom_metric_obj.html
* https://safjan.com/kaggle-evaluation-metrics-used-for-regression-problems/#root-mean-squared-logarithmic-error---rmsle

And sklearn already has mean_squared_log_error in metrics module. But treeRegressors does not allow custom

[2020-01-27 08:21] #16170 closed

[2020-01-27 08:24] #16158 closed

[2020-01-27 09:05] rth commented on #16240
The examples you provide use MSLE as an evaluation metric not a model loss I think. After a quick search, I haven't seen reference that use MSLE as a loss. For instance LightGBM supports [these](https://lightgbm.readthedocs.io/en/latest/Features.html#applications-and-metrics) objective functions and [those](https://github.com/dmlc/xgboost/blob/master/doc/parameter.rst#learning-task-parameters) for

[2020-01-27 09:52] glemaitre commented on #16192
I will look at the PR.

[2020-01-27 10:00] ogrisel opened #16241 "check_estimator is stricter that what is stated in the Estimator API doc"
This issue was raised in a discussion regarding the LightGBM scikit-learn compatible estimators: https://github.com/microsoft/LightGBM/issues/2628#issuecomment-574369813

The problem is that check_estimator complains about private attributes set in the `__init__` of a scikit-learn estimator while our documentation just state the following (while not explicitly prohibiting setting private attribute

[2020-01-27 10:07] ogrisel commented on #16241
I think that setting private attributes in `__init__` is fine as long as the public attributes (that is the model hyperparametrs) can be get/set at any moment either via `getattr` / `setattr` or via `get_params` / `set_params` and that subsequent calls to the `fit` / `predict` / `transform` automatically takes into account those changes in the hyperparameters.

[2020-01-27 10:11] ysunmi0427 commented on #16240
@rth XGBoost, they have. They provide `reg:squaredlogerror` as their learning objective. And, [tensorflow also supports logarithmic error as their loss function](https://www.tensorflow.org/api_docs/python/tf/keras/losses/MeanSquaredLogarithmicError).

[2020-01-27 11:06] rth commented on #16240
Yes, indeed I missed that in the doc I linked to )

[2020-01-27 11:17] rth commented on #16240
Looks like it was added to XGboost in 2019 in https://github.com/dmlc/xgboost/pull/4541 That PR also indicates that there are no  well known academic references and mostly something people occasionally used on kaggle. I couldn't find the PR where it was added to tensorflow (but I haven't searched that much).

Overall it might be difficult to include it without more solid references https://scikit-

[2020-01-27 11:30] #15976 closed

[2020-01-27 11:36] anaclaramatos commented on #16192
@marielledado if you use the sklearn pipeline instead of the imblearn pipeline an error is thrown:

TypeError: All intermediate steps should be transformers and implement fit and transform or be the string 'passthrough' 'RandomOverSampler(random_state=None, ratio=None, return_indices=False,
                  sampling_strategy='auto')' (type <class 'imblearn.over_sampling._random_over_sampler.Rando

[2020-01-27 11:48] amueller commented on #16155
I think people have generally used the Ames housing data instead.

[2020-01-27 11:55] amueller commented on #16155
I would favor removing the dataset, potentially with a longer deprecation cycle and replacing it entirely. I don't think we need to introduce a new warning type but we can be explicit about the cause of the removal.

[2020-01-27 11:56] ysunmi0427 commented on #16240
I understand your point. I'll try to find more solid references or mathematical explanations. Thanks for your comments.

[2020-01-27 11:58] glemaitre commented on #16192
Oh, you were using the pipeline from `imblearn`. Anyway, they are behaving exactly the same instead that it manages the `fit_resample`. So this is the reason why it breaks with sklearn pipeline

[2020-01-27 12:07] jnothman commented on #16155
If there is a standard alternative dataset, let's go with that.

[2020-01-27 12:51] adrinjalali commented on #16155
+1

[2020-01-27 13:32] Rick-Mackenbach commented on #16153
I could work on this

[2020-01-27 13:35] JellePiepenbrock commented on #16238
I don't know, but I do know that I did not expect this behavior. It seems like it could cause a lot of invalid conclusions when using TSNE for data visualization. If the process that creates variation here is also present when the sample dataset does contain variation, you might see people interpreting patterns that do not really exist.

[2020-01-27 13:36] ogrisel commented on #16241
Arguably it's hard to write an automated tool that would check what I described above in https://github.com/scikit-learn/scikit-learn/issues/16241#issuecomment-578676673.

[2020-01-27 13:44] JellePiepenbrock commented on #16238
Note also that it looks like this:

![tsne_variation](https://user-images.githubusercontent.com/14347764/73179354-72893480-4113-11ea-85c1-b52c06c256d7.png)

[2020-01-27 13:53] jeremiedbb opened #16242 "RFC: Vendor or add a dependency on threadpoolctl ?"
@scikit-learn/core-devs following the irl discussion from the meeting.

`threadpoolctl` is needed in the new implementation of KMeans (#11950) to prevent oversubscription due to nested BLAS calls inside an outer OpenMP loop. It's a single file pure python package: [https://github.com/joblib/threadpoolctl](https://github.com/joblib/threadpoolctl).

- vendor
The easiest and quickest way would be to

[2020-01-27 13:54] JellePiepenbrock commented on #16238
By setting the perplexity parameter, one can create structure:

![tsne_variation2](https://user-images.githubusercontent.com/14347764/73180086-deb86800-4114-11ea-9476-680a7abb22e9.png)

[2020-01-27 14:03] NicolasHug commented on #16242
No strong opinion, tending towards vendoring since publishing on conda is realatively easy.

In the end I guess it's mostly up to you and @ogrisel since you are most likely the ones who are going to maintain it

[2020-01-27 15:47] amueller commented on #16155
One note: it's not really a good 1:1 replacement as it includes missing values and lots of categorical features. It's a good replacement in terms of semantics and an interesting dataset to play with, but it depends a bit what we want from the dataset.

[2020-01-27 15:47] amueller commented on #16242
No strong opinion either. I don't think it being a single call is an argument for vendoring. As @ogrisel pointed out, that means the API surface is very small and makes it less likely to have issues with being compatible with different versions.

I think @jnothman's consideration was a bit how easy we can undo whatever decision we make. It seems slightly easier to undo the vendor than the shipping

[2020-01-27 17:29] cgebe commented on #14223
Thank you for the hint, will try!

[2020-01-27 21:05] thomasjpfan commented on #16242
If we are going to make `threadpoolctl` as a dependency, how quickly are we going to update the min version in `setup.py`? I am specifically thinking about bug fixes.

I ask because of how we keep joblib's min version at 0.11 in `setup.py`.

Reference: After pip 10.0 the dependencies will be upgraded if it does not satisfy the new parent requirements: https://pip.pypa.io/en/stable/user_guide/#only

[2020-01-27 21:35] sudsj commented on #16041
Hi, I would like to contribute towards fixing this issue, can you please give me some pointers on how should I proceed?

[2020-01-27 21:35] cmarmo commented on #15761
Reopening: was closed by "Fixes" keyword in  #16207

[2020-01-27 22:26] jnothman commented on #15075
Is that to handle a validation set? What API are you proposing for that?

On Mon., 27 Jan. 2020, 1:06 am Sunmi Yoon, <notifications@github.com> wrote:

[2020-01-27 22:44] jnothman commented on #16241
So I suppose what we really want to assert is that:

vars(Est(param=val).fit(X)) == vars(Est().set_params(param=val).fit(X))

and

vars(Est(param=val).fit(X))
== vars(Est(param=alternative_val).set_params(param=val).fit(X))

We don't currently have a way to determine a reasonable value (different
from the default) to use in a generalised test.

[2020-01-27 22:48] jnothman commented on #16242
I hadn't considered the need to have it on the conda default channel, which was not an issue for joblib I think.

[2020-01-27 22:50] jnothman commented on #16155
As an introductory regression dataset, missing values may be adding
unwanted complexity...

[2020-01-27 23:06] NicolasHug opened #16246 "LDA and QDA covariance_ attributes are inconsistent and misleading"
Both `LDA` and `QDA` have a `covariance_` attribute. There are however a few important differences:

- The attributes don't have the same shape. `lda.covariance_` is of shape (n_features, n_features) while for qda this is a list of arrays of shape (n_features, n_features). The list has K entries where K is the number of classes.
- `lda.covariance_` is **not** a covariance but a *within-class covar

[2020-01-28 01:48] jnothman commented on #16246
Is it reasonable to rename one and not both?

[2020-01-28 06:30] #16160 closed

[2020-01-28 09:15] glemaitre commented on #16242
`joblib` is in the default channel and I think that it makes thing easier.

Having packages not available in the default channel, leading to the need of installing from other channels, can be a challenge for some users. I find sometimes tricky to debug remotely some install issues when it involves `conda`, `conda-forge`, and `pip`.

[2020-01-28 09:35] orenmatar commented on #4648
I just found this thread after my SVM hanged for the whole night on a (530, 30) sized dataset, which normally finished training in less than a second.
Running it on Jupiter I had to kill the kernel, couldn't even keyboard stop it... I wish there was some warning this might happen, or an error message... took me a few hours to figure out its the combination of "poly" with unscaled data that caused

[2020-01-28 10:19] chaturv3di opened #16248 "Add crossentropy (or weighted classification loss) for SGDClassifier"
At present [log loss](https://scikit-learn.org/stable/modules/model_evaluation.html#log-loss) is available as an evaluation metric for classiferiers, but I wonder if there is also interest in including it as an objective function for SGDClassifier.

My motivation stems from weakly supervised classifier training (a la [Snorkel](https://www.snorkel.org/use-cases/01-spam-tutorial#5-training-a-classif

[2020-01-28 11:43] NicolasHug commented on #16246
If it has to be one I would change lda.

[2020-01-28 12:55] Rick-Mackenbach opened #16250 "Improved error message when plotting not fitted tree."
Ran into this issue whilst working on the plotting of decision trees. When we try to plot a decision tree which has not yet been fitted, the error that is raised is:

AttributeError: 'DecisionTreeClassifier' object has no attribute 'tree_'

To replicate:
clf = sk.tree.DecisionTreeClassifier(max_depth=2,
                                 min_samples_split=2,
                                 criterio

[2020-01-28 14:09] juliapiscioniere commented on #16157
@jnothman Do you think documentation related to "examples of when I should use this model" would be useful and can be a potential issue to solve? My group of data science majors would be interested in contributing to this issue.

[2020-01-28 14:16] juliapiscioniere commented on #16023
Hey @akilat90 ! Are you planning on submitting a pull request for this issue?

[2020-01-28 14:31] juliapiscioniere commented on #14312
A group of data science majors and I will begin working on the BayesianRidge attribute documentation.

[2020-01-28 14:44] ksslng commented on #14117
I'm taking care of `examples/plot_partial_dependence_visualization_api.py (FutureWarning)`.

[2020-01-28 14:57] adrinjalali commented on #16242
I don't think having it on the conda channel would be a challenge. I can try and make sure people know about an upcoming dependency and add the package if we decide to have a dependency.

I prefer the dependency since I don't think it's a big issue these days.

[2020-01-28 15:01] glemaitre commented on #16242
Actually @ogrisel pointed out that to have scikit-learn in the default channel, `threadpoolctl` needs to be available as well if it is a dependency.

[2020-01-28 15:14] tiborsekera opened #16254 "Missing averaging over rows"
#### Describe the issue linked to the documentation
In def f_regression(X, y, center=True):, in the description, an averaging over rows is missing for the step 1.

https://github.com/scikit-learn/scikit-learn/blob/b194674c4/sklearn/feature_selection/_univariate_selection.py#L231

#### Suggest a potential alternative/fix

I.e., instead of:

This is done in 2 steps:
    1. The correlation between ea

[2020-01-28 15:20] GregoireMialon commented on #15422
I think this would require to modify liblinear.cpp

[2020-01-28 15:20] SergioDSR commented on #10548
Claim sklearn/ensemble/_iforest.py - 109

[2020-01-28 16:00] GregoireMialon commented on #10548
Claim sklearn/neural_network/_multilayer_perceptron.py - 782, 1174

[2020-01-28 16:07] TiphaineV commented on #14117
I'll take care of ` examples/neural_networks/plot_mlp_alpha.py (ConvergenceWarning)`

[2020-01-28 16:07] ksslng commented on #11924
I have the same problem on MacOS, that the test of LogisticRegressionCV with newton-cg fail nearly all the time and rarely the test LogisticRegression with newton-cg fails as well.

[code]

[2020-01-28 16:08] judithabk6 commented on #11444
working on this

[2020-01-28 16:09] zachmayer commented on #16148
@jnothman you mean something like this?

[code]

After that, how would I convert a list of column transformers into a pipeline?

[2020-01-28 16:32] chbrandt commented on #14364
Working on this as part of the Paris Sprint of the Decade.

[2020-01-28 17:47] ShamanthNyk commented on #16254
Can I work on  this?

[2020-01-28 18:00] gwarmstrong commented on #16028
Agree that an improved error message would be great (I spent a while getting to the same conclusion as @glemaitre ). Thanks @madhuracj !!

I have an application where it is not unheard of to have a value for a categorical feature that has not been observed in the training set (application is Naive Bayes on characters in a string of DNA). So it would be really great to have an option to handle unkn

[2020-01-28 18:07] #16124 closed

[2020-01-28 18:47] #14781 closed

[2020-01-28 18:47] thomasjpfan commented on #10903
@NurzatRakhman what versions of NumPy scipy and scikit-learn are you running?

[2020-01-28 20:08] smritisingh26 commented on #3846
Hi! I have just raised a PR after adding an example code snippet to K-means clustering. This is my first open source contribution, so it would be great if someone could look into this and see if it needs any more work!
Thanks and Regards,
Smriti Singh

[2020-01-28 20:09] jnothman commented on #16248
To what extent does MLPClassifier solve this need?

[2020-01-28 20:17] jnothman commented on #16250
Sounds reasonable. PR welcome

[2020-01-28 20:28] jnothman commented on #16157
I think it would be cool to have. I am not sure how do keep it succinct. If you select a few tools estimators and give it a shot, the team can review and see what we like about it.

[2020-01-28 20:41] amueller commented on #16157
What kind of criteria are you looking at? We currently have the outdated (and bad) flow chart:
https://scikit-learn.org/dev/tutorial/machine_learning_map/index.html

It's very hard to specify what you mean by "when", that's basically the entire field of meta-learning.
You could do something like "if images the use deep learning" but for tabular data there is very little that you can say in general

[2020-01-28 20:42] jnothman commented on #15422
I don't think there was a particular reason other than working with an
external implementation that did not already support warm starts.

On Fri., 1 Nov. 2019, 3:57 am castor, <notifications@github.com> wrote:

[2020-01-28 22:17] jnothman commented on #11924
Please provide the output of show_versions()

[2020-01-28 22:19] jnothman commented on #16148
No, more like ColumnTransformer([(x, TfidfVectorizer(), x) for x in
textual_columns])

[2020-01-28 22:38] zachmayer commented on #16148
Right that makes a lot of sense.

How would I add say a OneHotEncoder and a StandardScalar to that column transformer?

[2020-01-28 23:49] jnothman commented on #16028
I would be happy with that solution.

[2020-01-29 04:58] akilat90 commented on #16023
Hi @juliapiscioniere I have done some ground work for this but I had to slow down and will not be ready until two weeks. Please go ahead if you wish to (and please let me know), thanks.

[2020-01-29 06:43] chaturv3di commented on #16248
Thanks for your response, Joel. Strictly speaking, MLPClassifier does not solve my need.

If I have to simulate logistic regression using MLP, then I would choose `0` hidden layers and let the input features flow directly to the output layer for predictions. Also, I will force my output layer to be size `1`. The connections between the input and the output layers would be my model parameters. Howe

[2020-01-29 07:19] jnothman commented on #16148
Put a + after the list comprehension and add on another list of triples.

[2020-01-29 07:25] jnothman commented on #16248
Sorry I think I misunderstood the request.

[2020-01-29 09:02] rth commented on #16148
Indeed, but list comprehension in `ColumnTransformer` only addresses the case when one wants separate vocabularies and weighting for columns. I'm not sure if there are use cases where some of the other approaches outlined above are more appropriate in practice.

[2020-01-29 09:18] Henley13 commented on #16191
Hello, I can work on this.

[2020-01-29 09:22] maskani-moh commented on #12542
I am working on this issue as part of the sklearn Paris Sprint 2020.

[2020-01-29 09:36] rth commented on #16250
Fixed in https://github.com/scikit-learn/scikit-learn/pull/16253

[2020-01-29 09:36] #16250 closed

[2020-01-29 09:46] maikia commented on #16155
I would like to work on that issue

[2020-01-29 10:12] glemaitre commented on #16155
So it seems that we will go for removal. So we can start deprecating the function. We can as well mention `fetch_openml`. I am not sure yet what would be the alternative thought.

[2020-01-29 10:16] judithabk6 opened #16270 "In PassiveAggressiveClassifier, inconsistency between the parameter "loss" and the attribute "loss_function_""
#### Describe the issue linked to the documentation
The two possible loss values for the PassiveAggressiveClassifier are "hinge" and "squared_hinge", but in both cases, the classifier attribute "loss_function_" is the hinge loss, and only the learning rate is adapted.
[code]
returns
[code]

#### Suggest a potential alternative/fix
shouldn't the signature of the classifier reflect the implemented a

[2020-01-29 10:20] agramfort commented on #16270
I presume it's a bug. @amueller can you confirm?

[2020-01-29 10:52] martinagvilas commented on #12730
I'm working on this at the Paris sprint and will submit a PR with a basic proposal to discuss in more detail

[2020-01-29 10:53] DatenBiene commented on #10548
Claim sklearn/ensemble/_weight_boosting.py - 188, 324, 479, 900, 1022

[2020-01-29 10:55] ogrisel commented on #16062
I agree. My intuition is that if `max_depth` / `max_leaf_nodes` are high enough, the tree still has a chance to recover from a bad feature subset draw at a given split nodes while if we do it a tree-based level, the whole tree is wasted.

[2020-01-29 11:15] lesteve commented on #11444
Closing since `LogisticRegression` `classes_` attribute is now documented.

Thanks @judithabk6 for helping to clean our issue tracker!

[2020-01-29 11:15] #11444 closed

[2020-01-29 11:25] ksslng commented on #11000
I'm working on `GenericUnivariateSelect` as well as implementing a generic test for all estimators to preserve dtypes.

[2020-01-29 11:31] lesteve commented on #8862
Closing, the following snippet (adapted from the top post seems to work fine):

[code]

[2020-01-29 11:31] #8862 closed

[2020-01-29 11:41] lesteve opened #16273 "classes_ undocumented in some classifiers"
#### Describe the issue linked to the documentation

As mentioned in https://github.com/scikit-learn/scikit-learn/pull/12509#issuecomment-579711639, the `classes_` attributed is not documented in some classifiers.

It would be great to use this test:
https://github.com/scikit-learn/scikit-learn/pull/12509/files#diff-61cf7ce5b6dcf8855cf4ad342fb9e45a

and fix the issues in the classifiers where `cla

[2020-01-29 13:32] ksslng opened #16279 "Multinomial LogisticRegressionCV test with solver newton-cg fails on MacOS with dev version of numpy"
#### Describe the bug
Multinomial `LogisticRegressionCV` test with solver `newton-cg` fails on my MacOS with the current dev version of numpy.

#### Steps/Code to Reproduce
Run pytest. Might be related #11924, but which doesn't fail.

#### Actual Results
[code]

#### Versions

[code]

[2020-01-29 13:33] ksslng commented on #11924
Sorry, the solver lbfgs doesn't actually fail, so I opened a new Issue #16279.

[2020-01-29 13:35] rth commented on #16279
Thanks for the report! You are using the dev version of numpy though. Would you mind checking if it's reproducible with the latest stable numpy ?

[2020-01-29 14:23] amueller commented on #16062
@DrEhrfurchtgebietend or anyone: for prosperity, is that also what the other libs do?

[2020-01-29 14:29] hs-nazuna commented on #15761
I'm going to tackle the sklearn/linear_model/_coordinate_descent.py now

[2020-01-29 14:31] ksslng commented on #16279
It is not reproducible with the last stable numpy version (1.18.1).

[2020-01-29 14:33] NicolasHug commented on #16062
LightGBM uses a per-tree approach for max_features. https://github.com/microsoft/LightGBM/blob/master/src/treelearner/serial_tree_learner.cpp#L325

[2020-01-29 15:22] lopusz commented on #15761
I cleaned base.py

[2020-01-29 15:24] DatenBiene commented on #10548
Claim sklearn/multioutput.py - 578, 738

[2020-01-29 15:49] rth commented on #16155
As far as I understand there was a decision for removal during the last dev meeting.

We need to decide which datasets we use for replacement in,
 - docstrings: we need a small example dataset, I think it doesn't need to be about housing, but it might be better to use a real dataset rather a synthetic one for the replacement.
 - examples: two candidates are California and Ames housing. The latter

[2020-01-29 15:52] ogrisel commented on #16155
For information, the list of examples that need updating:

[code]

[2020-01-29 15:56] lesteve commented on #16184
It would be great if you could try to reduce the problem further:
* can you get the segmentation fault with `pairwise_distances`
* can you get the segmentation fault with only `joblib.Parallel`.

[2020-01-29 16:30] judithabk6 opened #16292 "implement a test to enforce better documentation of attributes"
Would be a generalization of what was implemented in #16277, and would reflect #14312, with an exclusion of private classes

Should it be implemented?

If yes, is that a good topic for me to work during the Paris sprint? (not available tomorrow but can do it on Friday)

[2020-01-29 17:03] lesteve commented on #16292
Thanks for this idea, I think this is pretty much what #16286 is doing, so I am going to close this issue.

I am guessing that #16286 is probably going to find some undocumented attributes, and you could work on some of these undocumented attributes during the sprint.

[2020-01-29 17:03] #16292 closed

[2020-01-29 17:20] ogrisel opened #16294 "User guide description for the Linnerud dataset"
#### Describe the issue linked to the documentation

Here is an excerpt of the documentation:

[code]

"physiological" and "exercise" are swapped.

[2020-01-29 17:29] ogrisel commented on #16155
An alternative embedded dataset for non-synthetic toy regression in scikit-learn are the Linnerud datasets from `load_linnerud` (20 samples, 3 features).

[2020-01-29 17:42] thomasjpfan commented on #16155
A slightly bigger dataset for regression, `load_diabetes` (442 samples, 10 features) can be used as well.

[2020-01-29 18:16] adrinjalali commented on #15741
@johannfaouzi since this is about deprecated stuff and they'll be removed anyway, we may not have the time to work on it, but we can gladly have a PR doing the fix you suggest, if you're kind enough to create one :)

[2020-01-29 18:17] smritisingh26 commented on #16157
Hii! I’d like to take up this issue, but I’d like a clearer picture of what is expected of the documentation. Will it suffice to visit each major machine learning algorithm and specify a few common scenarios where that algorithm is used?
Also, does the document have to be a .rst file or something else?
Cheers!
Smriti Singh

[2020-01-29 18:40] #16027 closed

[2020-01-29 19:00] zachmayer commented on #16148
I think maybe 80% of the time separate vocabularies works for my tasks, so the list comprehension solves me immediate problem (thanks @jnothman !)

I still think it might be handy to have a wrapper that handles creating the different vectorizers, with an option to use a combined vocabulary.

[2020-01-29 19:41] vandana-iyer commented on #16294
I will take this up.

[2020-01-29 20:48] amueller commented on #16157
@smritisingh26 My point is that I don't think that's possible.

[2020-01-29 21:24] jnothman commented on #16191
@Henley13 try making the comment "take" to assign yourself the issues

[2020-01-29 21:25] Kapilam commented on #16157
Hi All,

Could we please come up with a flowchart, table, mind map or a summary document showing recommended practice for selecting an algorithm for a given problem type? For this purpose, we need to first define a set of typical problem types.

To aid the algorithm selection process, we may have to present pros and cons of each algorithm in the context of problem type.

I understand this specific

[2020-01-29 21:54] thomasjpfan commented on #16241
While we figure out a solution to this, should we remove `check_no_attributes_set_in_init` from `check_estimator` and only run it for our estimators?

[2020-01-29 22:58] sp7412 commented on #8003
Just wondering if there's any update on this issue.

[2020-01-29 23:09] rth opened #16298 "Check that zero sample weight means samples are ignored"
An issue with an associated test originally discussed in https://github.com/scikit-learn/scikit-learn/pull/15015

- [ ] SVR
- [ ] SGDRegressor
- [ ] RANSACRegressor
- [ ] OneClassSVM
- [ ] NuSVR
- [ ] MiniBatchKMeans
- [ ] LinearSVR
- [ ] LinearSVC
- [ ] LogisticRegressionCV
- [ ] KernelDensity
- [ ] KMeans
- [ ] CalibratedClassifierCV
- [ ] IsolationForest
- [ ] RidgeClassifierCV

(some might hav

[2020-01-29 23:24] sp7412 opened #16299 "n_jobs for DBSCAN"
#16213 ## Describe the bug

`n_jobs` argument doesn't seem to change the time it takes to run `DBSCAN.fit()`. Runtime is the same with and without `n_jobs`.
Is `n_jobs` actually implemented for `DBSCAN.fit()`?

#### Steps/Code to Reproduce

Example:
[code]
Sample code to reproduce the problem
[code]

[2020-01-30 03:23] jnothman commented on #16299
Yes, n_jobs is not used if the metric is precomputed. Our documentation for
n_jobs should state that it is only used for determining pairwise distances
and neighbourhoods. PR welcome to improve the documentation.

[2020-01-30 04:04] sp7412 commented on #16299
So, why doesn't `DBSCAN` allow multiple processes with a `precomputed` distance matrix? Is the `DBSCAN` algorithm not parallelizable?

[2020-01-30 04:51] jnothman commented on #16299
Not as it is classically defined, no it is not. If efficiency is a major
concern, have you considered using sample reduction and then use sample
weight? BIRCH can facilitate large scale approximate dbscan if your data is
Euclidean.

[2020-01-30 06:45] jnothman commented on #16148
If you're not effectively concatenating the strings, what's going to be the
benefit of a joint learnt vocabulary?

[2020-01-30 07:23] jnothman commented on #16157
I think the machine learning map that Andy put together above is just what
you're looking for ... Except that it is out of date and not altogether
nuanced. It also doesn't accommodate anything but plain old classification
and regression.

I do believe more can be done in this space.

[2020-01-30 07:25] jnothman commented on #16241
Well we have talked about a strict mode for a while. Maybe here is the
place to implement it.

[2020-01-30 07:44] jnothman commented on #16298
I think it's unclear what needs to happen in this issue, and I doubt they
all can be fixed straightforwardly.

[2020-01-30 08:03] #16294 closed

[2020-01-30 08:24] ashaffer opened #16300 "Log likelihood of covariance incorrect?"
First of all, I apologize if it's just me making a mistake here. However, I can't seem to reconcile my understanding of the gaussian likelihood function with the one in [empirical_covariance.py](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/covariance/_empirical_covariance.py#L23).

In particular:

`log_likelihood_ = - np.sum(emp_cov * precision) + fast_logdet(precision)`

The t

[2020-01-30 08:54] rth commented on #16148
benefit of a joint learnt vocabulary?

TBH, concatenating stings from different columns is what I have personally been doing so far. This issue made me realize that maybe there are other approaches to explore. I'm not saying that we need to add a new meta estimator right away to scikit-learn, but we can certainly discuss the use case.

After more consideration, you are right that a joint vocabular

[2020-01-30 08:58] jnothman opened #16301 "Factory-style construction of composite estimators"
I find the API for specifying lists constituent estimators in Pipeline, FeatureUnion, ColumnTransformer, StackingClassifier, VotingClassifier, GeneralizedNB, etc. ugly. I find the `make_pipeline`, `make_column_transformer` etc interfaces helpful, but the duplication of interfaces is actually quite ugly too, and it is limiting: the moment you want to name one of your Pipeline steps explicitly, in o

[2020-01-30 09:19] agramfort commented on #16300
@ashaffer I don't know where the p would come from. You can do a numerical test if you want to confirm. Simulate data that match the model and check that log like tends to 0.

[2020-01-30 09:24] adrinjalali commented on #15750
@ma7555 At least for me, I can judge if it fits in the library or not, if I see the code. Do you think you could submit a PR where we could see how it'd work in a pipeline, and how it looks? Please note that as you see we're not sure about it and it may never be merged, but it's worth a try.

[2020-01-30 09:25] DatenBiene commented on #10548
Claim :
sklearn/mixture/_bayesian_mixture.py - 166
sklearn/mixture/_base.py - 139
sklearn/mixture/_gaussian_mixture.py - 504

[2020-01-30 09:38] lopusz commented on #15761
I cleaned discriminant_analysis.py and submitted a PR

[2020-01-30 10:11] cmarmo commented on #16087
Hi @sandrotosi I'm closing this one, as we can provide limited help with packaging for specific platforms, and modifying the `autodoc_default_options` will probably fix your issue. Feel free to reopen if the problem is still there. Thanks for your efforts in packaging for debian.

[2020-01-30 10:11] #16087 closed

[2020-01-30 10:18] lucyleeow commented on #16273
I'm happy to try this one.

[2020-01-30 11:04] rth commented on #16298
all can be fixed straightforwardly.

The goal of this issue, is to move the list of failing estimators from https://github.com/scikit-learn/scikit-learn/pull/15015 PR to here, merge that PR with an XFAIL flag once it is supported with https://github.com/scikit-learn/scikit-learn/pull/16306.

Finally, keep this issue open for discussion and allow for the failing estimators to be fixed in separate P

[2020-01-30 11:08] kasparthommen opened #16311 "check_estimator assumes too much about 3rd-party estimators"
I am writing an estimator that I'd like to make compatible with scikit-learn. My estimator has a parameter/field called `n_components`. Note that the purpose/meaning/intent of this parameter is different from parameters of the same name of existing scikit-learn estimators (e.g. `LinearDiscriminantAnalysis` or `LinearDiscriminantAnalysis`).

When I run `check_estimator()` on my model it fais becaus

[2020-01-30 11:14] rth commented on #16311
Thanks for the report. It is indeed a known issue see https://github.com/scikit-learn/scikit-learn/issues/13969 If you want to continue https://github.com/scikit-learn/scikit-learn/pull/14929 that would be very welcome.

As another temporary workaround one can use [`parametrize_with_checks` decorator](https://scikit-learn.org/stable/developers/develop.html) and manually skip tests are are deemed n

[2020-01-30 11:18] swierh opened #16313 "mean_squared_error ignores the `squared` argument if `multioutput="raw_values"`"
#### Describe the bug
The `mean_squared_error` metric ignores the `squared` argument if `multioutput="raw_values"`.
`sklearn.metrics.mean_squared_error(multioutput="raw_values", squared=False)` behaves as `sklearn.metrics.mean_squared_error(multioutput="raw_values", squared=True)`.

##### Suggested fix:
On this line:
https://github.com/scikit-learn/scikit-learn/blob/b194674c4/sklearn/metrics/_regr

[2020-01-30 11:21] agramfort commented on #16300
actually there is not reason it converges to 0 but I still don't get where the p would come from.

[2020-01-30 11:22] kasparthommen commented on #16311
Thanks, but in my view that's an separate, orthogonal issues that deal with strictness about error message checking. Also, `parametrize_with_checks` is of no help for my case.

[2020-01-30 11:27] rth commented on #16311
Not just error messages. The point that third party users would be able to use `check_estimator(.., strict=False)` (with it being the default) which would apply only the most reasonable generic tests, while `strict=True` will apply additional scikit-learn specific checks that we have enabled by default at the moment.

For instance,

should definitely be executed with strict=False. Though I agree t

[2020-01-30 11:28] cmarmo commented on #16311
Could this be related with #16241 in some way?

[2020-01-30 11:28] ogrisel commented on #13962
I am afraid that this problem does not impact only iris. Several other classification dataset loader have the same issue: for instance `fetch_lfw_people`, `fetch_lfw_pairs`, `fetch_20newsgroups`, ...

The `classification_report` utility has a similar problem.

We need to conduct an audit of the list of things to update with `git grep target_names` + manual introspection.

For the name of the new a

[2020-01-30 11:30] jnothman commented on #16238
I think this behaviour should be expected for init='random'.

[2020-01-30 11:31] GregoireMialon commented on #16300
Hi @ashaffer, I ran some simulations. When using gaussian data with dimension p, the log like score tends to something like -p (not 0) when the number of samples is big.

This seems consistent with your source, which **omits** this constant term in p in its derivations (slide 32, p is actually d). My take on this is that the Tr(S \Theta) and logdet(\Theta) cancel when \Theta^-1 = S (they have same

[2020-01-30 11:42] kasparthommen commented on #16311
@rth I agree that https://github.com/scikit-learn/scikit-learn/issues/13969 doesn't _just_ mention exception messages and could thus in theory cover my bug report, but the corresponding PR, https://github.com/scikit-learn/scikit-learn/pull/14929, doesn't address the issue of my bug at all, so I guess my bug should remain open and distinct from 13969.

[2020-01-30 11:44] rth commented on #16311
Definitely, if you want to open a separate PR to address your particular issue please do so.

Indeed, another example of such issues there.

[2020-01-30 12:27] JellePiepenbrock commented on #16238
I'm not sure I agree about that: 'init=random' I believe concerns the fact that each instantantiation of TSNE will give me a randomly initialized mapping (instead of for example seeding it with a PCA's mapping). This is part of how TSNE works, and we then optimize this randomly initialized mapping.

However, within that random intialization, we get identical samples mapped to very different spots

[2020-01-30 12:29] zachmayer commented on #16148
Shared vocabulary with non-concatenated strings would be useful for text
similarity tasks.  Eg you have 2 documents and want to predict if one is a
duplicate of the other (this would be a binary classification problem)

On Thu, Jan 30, 2020 at 3:54 AM Roman Yurchak <notifications@github.com>
wrote:

[2020-01-30 12:36] Henley13 commented on #11000
Should we wait for @ksslng to merge his PR with a generic test before working on a specific transformer from the above list ? Or focus on the "strange ones" instead ?

[2020-01-30 13:00] DatenBiene commented on #10548
Claim sklearn/ensemble/_gb.py - 887, 1360

[2020-01-30 13:05] rth commented on #11000
@Henley13 It would have been ideal to have that common test, but you can certainly start investigation an estimator from the list meanwhile.

It should be noted that some of the above estimators may never preserve dtype , either because they use a significant number of linear algebra and we are not able to guarantee that results are consistent in 32bit (or because they are not frequently used enou

[2020-01-30 13:09] adrinjalali commented on #16065
I think @qinhanmin2014 or @thomasjpfan may be able to help here?

[2020-01-30 13:13] DatenBiene commented on #10548
Claim sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py - 736, 918

[2020-01-30 13:14] GregoireMialon commented on #10548
Claim sklearn/neural_network/_rbm.py - 59

[2020-01-30 14:00] DatenBiene commented on #10548
Claim :

sklearn/svm/_classes.py - 90, 312, 546, 752
sklearn/svm/_base.py - 853

[2020-01-30 14:11] juliapiscioniere commented on #16157
We are taking a look at the flow chart and really want to try to create a new one that includes more algorithms as well as detailed definitions of some of the key points. If we were to come up with a new flow chart would we be able to get that reviewed?

[2020-01-30 14:19] ogrisel opened #16317 "github action to build the doc on the master branch once per week and open a new github issue whenever any new FeatureWarning / DeprecationWarning is introduced"
This is just an idea for now but if other people find this is a good idea this could be a git first issue for devops minded contributors who would like to start to contribute to scikit-learn.

Things to check: that the github actions build duration limit is long enough for us to build the doc with all the examples without reaching the limit.

[2020-01-30 14:31] DatenBiene commented on #10548
Claim:

sklearn/feature_selection/_mutual_info.py - 226, 335, 414
sklearn/metrics/cluster/_unsupervised.py - 80
sklearn/utils/_testing.py - 521
sklearn/utils/init.py - 478, 623

[2020-01-30 14:33] ogrisel commented on #16063
We cannot give direct access to the "estimators" because they are not traditional decision trees. At fit time they estimate both a gradient and a hessian. At predict time they just need to predict the gradient therefore they are simple predictors not meant to implement the full scikit-learn API contract.

But I agree it would be useful to be able to incrementally predict, either via a new `staged_

[2020-01-30 15:06] dsleo opened #16321 "Isotonic calibration changes test metrics values"
[As discussed with @ogrisel]

#### Describe the bug
Using isotonic calibration changes metrics values. This is because it is a non-strictly monotonic calibration. Sigmoid calibration being strictly monotonic doesn't suffer from this.

#### Steps/Code to Reproduce
Here is quick example where we split in three train/calibration/test sets and compare ROC AUC on the test set before and after calibrati