[2019-03-25 13:48] NicolasHug commented on #13509
It's not about the stability of `expit`, it's about the stability of `log(expit)`. Basically here we avoid computing exp for big values, which might make sense. Also we avoid calling `exp` twice (as would be needed in expit).

As noted above scipy's `expit` is only supported in new versions of scipy so we would have to write our own anyway (that's what I'm doing in #12807 ).

If we want our implem

[2019-03-25 13:55] qinhanmin2014 commented on #13509
@NicolasHug

I can't understand what's the stability of ``log(expit)`` (will be grateful to see an example comparing our implementation and scipy)

scipy also do these things?

[2019-03-25 14:06] qinhanmin2014 commented on #13509
Ahh, I suddenly realized that I made some foolish mistakes. @NicolasHug you're right. Apologies for the noise.

[2019-03-25 14:06] #13509 closed

[2019-03-25 14:25] jeremiedbb commented on #13510
I must be blind, there's already the `error_on_new` parameter...

[2019-03-25 14:26] #13510 closed

[2019-03-25 14:27] smarie opened #13512 "''activate' is not recognized as an internal or external command, operable program or batch file.' error in VSTS Continuous integration job"
Hi, I saw this error message in the **Windows py35_32** continuous integration runner. I do not know if this is potentially harmful but at least it is now known

![image](https://user-images.githubusercontent.com/3236794/54927181-f7168f80-4f11-11e9-8a69-11fbc455ae2f.png)

[2019-03-25 17:08] adrinjalali commented on #4668
I can't find the PR you mean here @amueller , and we probably need some decision for this to move forward.

[2019-03-25 19:59] Salt-Factory opened #13516 "Implicitly importing neural_network.MLPClassifier from sklearn throws error."
#### Description

#### Steps/Code to Reproduce
[code]

#### Expected Results

No error would be thrown.

#### Actual Results
 ```AttributeError: module 'sklearn' has no attribute 'neural_network'```

However, this does work:
[code]

#### Versions

System:
    python: 3.6.8 (default, Jan 31 2019, 09:38:34)  [GCC 8.2.1 20181215 (Red Hat 8.2.1-6)]
executable: /usr/bin/python3
   machine: Linux-4.17.1

[2019-03-25 20:12] amueller opened #13518 "Google shows 0.16 doc when searching GridSearchCV"
https://www.google.com/search?q=gridsearchcv

This shows a link for the current stable (as it should) and a link to the 0.16 documentation, because back then we had the gridsearch module, so telling google that the standard link is our current version doesn't help because the page doesn't exist in our current version.

The same is probably true for train_test_split etc. Might be worth fixing by me

[2019-03-25 21:39] NicolasHug commented on #13516
[code]

is the recommended way.

If you want to use `sklearn.neural_network.MLPClassifier` you need to `import sklearn.neural_network`, not `import sklearn`.

It's not related to scikit-learn, it's the python import mechanism.

[2019-03-25 22:14] hassanmasood1 commented on #10411
is this issue closed? I am facing same problem, want float32 numbers in Matrix.

[2019-03-25 22:20] rth commented on #13518
I see http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html as the first result (with the 0.16 docs being third), though it is probably user dependent.

Maybe adding a header tag with the publication date could help (not sure which ones are taken account by the Google crawler though).

[2019-03-26 00:15] scouvreur commented on #13508
Could I give this issue a try @NicolasHug @jnothman if no-one else is working on it ?

[2019-03-26 00:56] NicolasHug commented on #13508
Sure go ahead, thanks!

[2019-03-26 01:58] jnothman commented on #13516
This design allows us to avoid importing most components you don't need

[2019-03-26 01:58] #13516 closed

[2019-03-26 02:34] thomasjpfan commented on #13518
We may need a sitemap.xml for google to crawl through. It does not seem to hard to set up: https://github.com/jdillard/sphinx-sitemap

[2019-03-26 06:35] FelixNeutatz commented on #9603
Could anybody reproduce the error with the provided project?

[2019-03-26 07:20] jnothman commented on #9603
No, I'm failing to reproduce any error.

[2019-03-26 08:45] prabal97 opened #13520 "TypeError while using GridSearchCV"
I am getting the following error when I am trying to run the following code.
The error is encountered when the .fit() function is called

"typeerror: rankdata() takes no keyword arguments"

modxtr = np.array(mod_x_tr)
modytr = np.array(mod_y_tr)
pipe_svc = Pipeline([('clf', SVC(probability=True,random_state=1))])
param_range = [0.0001, 0.001, 0.01, 0.1, 1.0, 100, 1000]
param_grid = [{'clf__C': par

[2019-03-26 09:14] svesei opened #13521 "X_scores are null at iteration: Importance of this warning"
In the mentioned line a warning appears if computing PLS for further components achieves no new results.
I wonder if it is necessary to show this warning. I think the algorithm is computed correctly since the for-loop breaks if no more iterations are needed. Or is there a way to compute the number of optimal components for PLS before?

https://github.com/scikit-learn/scikit-learn/blob/4eb85b471ac8

[2019-03-26 09:38] jnothman commented on #13520
Please provide a complete, runnable code snippet that reproduces your error.

[2019-03-26 09:39] adrinjalali commented on #13520
Thanks for reporting the issue. Could you please also include a [minimal and reproducible example](http://sscce.org/) for us to better diagnose the problem?

Also, please mention the version of sklearn you're using. I cannot reproduce the issue with this piece:

[code]

BTW, you sure you want `n_jobs=100`?

[2019-03-26 09:52] MohammedKhandwawala commented on #13481
@amueller i want to take this issue. I am a beginner.

[2019-03-26 10:18] #13512 closed

[2019-03-26 10:25] adrinjalali commented on #13518
Also, maybe instead of the "This documentation is for scikit-learn version 0.16.1 — Other versions" on the side, we could say something like "This documentation is for scikit-learn version 0.16.1, while .latest.x is the happy new version — Other versions" or some variation.

[2019-03-26 10:38] smarie commented on #13512
thanks @thomasjpfan !

[2019-03-26 10:42] NicolasHug commented on #13481
@MohammedKhandwawala , I'm afraid @hermidalc 	has already opened  #13497 to address this.

[2019-03-26 10:52] MohammedKhandwawala commented on #13324
@amueller  is anyone working on this? or can i take this issue.

[2019-03-26 10:53] NicolasHug commented on #13521
I think this warning is simply here to indicate that the number of actual components that the algorithm can use is less than what the user requested.

It might be worth making this warning clearer.

[2019-03-26 10:56] NicolasHug commented on #13324
@MohammedKhandwawala you can see in the feed here things like

*Someone referenced this issue xx days ago*

these are often pull requests addressing the issue (but not always).

Sorry, we're not good at updating labels

[2019-03-26 12:29] hermidalc commented on #13481
@MohammedKhandwawala I have a pull request open and am finishing this issue.  To answer your question what I believe @amueller meant is to properly test and if necessary raise an exception for `discrete_features` string cases not equal to 'auto' as well as other invalid parameter values.  The updated if/elif statements in the pull request should fix that as well as checking for a str instance befo

[2019-03-26 14:37] GuillaumeDesforges commented on #7574
It would be of great help to have sklearn use tqdm (or any implementation of a progress bar) to monitor progress for long trainings of complex pipelines.

[2019-03-26 15:50] rth commented on #13396
Yeah, but even a single deprecation warning from numpy / scipy / pandas breaking tests post release (for the sake of development convenience) is not OK IMO. The latest was the deprecation of scipy.sparse matrices not that long ago.

We could if you think it's worth the effort.

Wouldn't setting the `PYTEST_ADDOPTS` variable locally solve that?

To summarize, I still have concerns about changing `s

[2019-03-26 17:18] Hoeze commented on #10758
I still got the same error with v0.20.3:
[code]
[code]
[code]

[2019-03-26 19:16] amueller commented on #13518
I see 0.16 as the second hit, which I think is still too high. The first hit is correct.

[2019-03-26 19:39] Hoeze opened #13526 "ValueError: Buffer dtype mismatch, expected 'int' but got 'long'"
I'm trying to fit a logistic regression on a sparse matrix, but I'm failing due to some ValueError:
[code]
[code]
[code]

Is there some way I can still train my data?

_Originally posted by @Hoeze in https://github.com/scikit-learn/scikit-learn/issues/10758#issuecomment-476755852_

[2019-03-26 21:02] jnothman commented on #13526
Please provide a complete, runnable example that reproduces your issue. It's very clear that the code you provided has little to do with the output provided.

[2019-03-26 22:02] Hoeze commented on #13526
@jnothman
[code]

In this example case I had to directly cast the indices to `int64`.
However, in my real dataset, which consists of vstacked csr matrices, these `int64` pointers are already in place.

I tried to cast my real data indices to `int32`, too, but in this case Python just crashes with `error -1`.

[2019-03-26 22:14] rth commented on #13526
Thanks for the report @Hoeze and the reproducible example!

It is a known issue reported in https://github.com/scikit-learn/scikit-learn/issues/11355

Closing this as a duplicate (to avoid splitting discussions), but a contribution to address this issue would be very welcome.

[2019-03-26 22:14] #13526 closed

[2019-03-26 22:15] rth commented on #13526
(Also please feel free to comment here or in the above-linked issue to continue the discussion).

[2019-03-26 22:26] rth commented on #11355
That or some void pointer arithmetics maybe (cf http://blog.yclin.me/deep/learning/2016/08/08/Fused-Types-Limitation/). Neither seems ideal.

Also actually there is an existing PR for this issue in https://github.com/scikit-learn/scikit-learn/pull/6889

[2019-03-26 23:31] dimrozakis commented on #12676
I'm also getting the same error. It started happening once I switched a server from an m4 EC2 instance to an m5, which has the AXV-512 instruction set. Images built on that server will fail the `test_omp_cv` test. But the very same images, when pulled and run at my laptop, will pass that test.

I can also verify @h6197627 comment that removing `libmkl_vml_avx512.so` & `libmkl_avx512.so` allows the

[2019-03-27 09:12] mathiasknudsen commented on #4813
Also very interested in this. Did the code provided work as intended?

[2019-03-27 10:36] ogrisel commented on #13488
We discussed the issue with @jorisvandenbossche and I think the sanest strategy would be to have:

- `min_frequency=5` (5 is an example, the default could be 1) to set the thresholds to collapse all categories that appear less than 5 times in the training set into a virtual category
- `rare_category="rare_value"` as a parameter to control the name of the category used to map all the rare values. T

[2019-03-27 10:39] ogrisel commented on #13488
Personnally I find this issue really annoying. At the moment we cannot use `OrdinalEncoder` on data with a long-tailed distribution of categorical variable frequencies in a cross validation loops without triggering the unknown category exception at prediction time.

[2019-03-27 10:57] meck93 commented on #13048
@souvik3333 have you started your documentation yet? If so, where? I would like to help document if I can because I'm tackling the same problem.

[2019-03-27 12:18] Erotemic commented on #7574
I would actually recommend against `tqdm` for one simple reason: its implementation makes heavy use of Python threads. This can be an issue for scikit-learn processes that make use of multiprocessing. As noted in [Raymond Hettinger's 2017 PyBay Keynote](https://pybay.com/site_media/slides/raymond2017-keynote/combo.html):

The implementation that I originally proposed here has been made into its ow

[2019-03-27 20:22] css459 opened #13532 "Spelling and word-choice improvements to Spectral Clustering Documentation"
Hello Developers,

I noticed that when reading the documentation for [Spectral Clustering](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.SpectralClustering.html), the first sentence feels clunky:

Should it instead read:

Also should the last word of paragraph 2 be `plane` instead of `plan`?

This would be my first issue and I'd be willing to fix these ASAP. Additionally, I can

[2019-03-27 20:28] agramfort commented on #13390
I think it should not be possible to build with "python setup.py install"
without an openmp support. I don't expect users to read the warnings. I
think it should crash and only pass if you require an explicit action such
as passing an option in the command line of setting an envrionment variable.

my 2c

[2019-03-27 20:30] rth commented on #13532
Thanks @css459 ! Please feel free to make a Pull Request to fix those. Yes it was supposed to be a "plane".

[2019-03-27 20:42] souvik3333 commented on #13048
@meck93 go ahead.

[2019-03-27 20:44] yc2311 opened #13533 "TODO comment found in Glossary (Documentation) in Data Type section"
Hi guys,

I was going through the Glossary of Common Terms to familiarize myself with some of the key concepts. I came across a [TODO](https://scikit-learn.org/stable/glossary.html#term-dtype) task under 'data type'.

It looks like the efficiency, precision issues, and casting policy need to be mentioned in the glossary as well.

It seems like an easy fix, if the values are known or if the same po

[2019-03-27 21:58] #13451 closed

[2019-03-27 23:00] jnothman opened #13534 "improve error message when passing sample_weight to Pipeline"
Many estimators take a parameter named `sample_weight`. `Pipeline` does not, since it wants its `fit` parameters to be prefixed by the step name with a `__` delimiter:

[code]

This error message is not friendly enough. It should explicitly describe the correct format for passing `sample_weight` to a step in a Pipeline.

[2019-03-27 23:01] #13466 closed

[2019-03-27 23:02] jnothman commented on #13534
There is some code in gradient boosting that checks for the current error message, so that should be updated to reflect a changed error message too.

(Arguably, this should be a TypeError, not a ValueError, since the user has passed the wrong parameter names, but I'm ambivalent to whether we fix that.)

[2019-03-28 00:23] jnothman commented on #1349
The same failure occurred in https://github.com/scikit-learn/scikit-learn/pull/12077#issuecomment-477237339.

[code]

[2019-03-28 00:37] Neron-Liu commented on #8588
Thanks for your solution! @lesteve,

It works after I put **https://github.com/amplab/datascience-sp14/blob/master/lab7/mldata/mnist-original.mat** into **~/scikit_learn_data/mldata/**.

`mnist = fetch_mldata('MNIST original')`

BTW, anyone know why http://mldata.org/ went down so long?

[2019-03-28 01:27] jnothman commented on #8588
Gravity. Things go down if no one keeps them up.

[2019-03-28 01:51] css459 commented on #13532
Fixed in https://github.com/scikit-learn/scikit-learn/pull/13535

[2019-03-28 05:55] okz12 commented on #13534
I'd like to take this issue.

[2019-03-28 07:01] jmwoloso commented on #8614
The statistic we're looking for here is [Youden's J](https://en.wikipedia.org/wiki/Youden%27s_J_statistic). The scenario arises quite often (all the time in my line of work it seems, lol?) when you have a highly imbalanced dataset.

Our team was looking into implementing something like this as well and optimization via CV (using something like GridSearchCV on a previously-unused portion of the dat

[2019-03-28 07:43] jnothman commented on #13533
Hmmmm thanks for volunteering. I think a big part of it being to do is that
it is currently quite ad hoc.

[2019-03-28 08:30] #13532 closed

[2019-03-28 08:42] smarie commented on #13106
Hi guys, I have implemented the M5P one for one of our ML components in production.
It is based on inspiration from the Weka implementation, which differs on some points from the original Quinlan article.

My version inherits from the scikit-learn base regression tree to grow the initial tree, and the rest is done in pure python (pruning and leaf modeling). It accepts any kind of leaf model.

I ca

[2019-03-28 09:01] jnothman commented on #13534
Go ahead, Osman

[2019-03-28 09:32] jnothman commented on #8614
(optimising for Youden's J would be the same as for balanced accuracy)

[2019-03-28 12:27] scouvreur opened #13537 "Repeated sentence in doc/developers/contributing.rst"
#### Description

This is really a very small issue, but in the documentation for contributors in [`doc/developers/contributing.rst`](https://github.com/scikit-learn/scikit-learn/blob/master/doc/developers/contributing.rst) there is a typo line 328 where a sentence is repeated:

[code]

- [x] I will submit a PR to fix this.

[2019-03-28 12:31] hermidalc commented on #13405
I already do this using the [cor()](https://www.rdocumentation.org/packages/stats/versions/3.5.3/topics/cor) function in R and exposing via rpy2 to sklearn.  Feature selection method should let you choose from pearson (default), spearman, or kendall algorithms for example, and also require cutoff threshold for correlation (or anti-correlation).

[2019-03-28 12:36] hermidalc commented on #13518
I get 0.20.3 as my first hit when searching Google

[2019-03-28 13:22] NicolasHug commented on #13448
FYI, I updated the PDP PR https://github.com/scikit-learn/scikit-learn/pull/12599 following the recommendations above:

- `partial_dependence` is in `sklearn.model_selection`
- `plot_partial_dependence` is in `skearn.plot`

The docs are here https://53182-843222-gh.circle-artifacts.com/0/doc/_changed.html

Note that the user guide only includes the `plot` module for now. I don't think it makes sen

[2019-03-28 13:56] thomasjpfan commented on #13499
I am for option 2. For this to run smoothly, we need to document the following when modules get into experimental:

1. Why is this module being placed into experimental?
2. What needs to be done for the module to get out of experimental?

Answers to these questions will differ case by case.

[2019-03-28 14:05] adrinjalali commented on #13499
For me option two would mean that you'd start seeing `import sklearn.experimental` on top of every single script people write, and they'd have absolutely no idea which modules are experimental (the key point here being that most people don't read docstrings). As a result of that, we'd be forced to keep backward compatibility even on the experimental features just because we hadn't forced people to

[2019-03-28 14:06] scouvreur commented on #13537
This had already been fixed in #13196.

[2019-03-28 14:06] #13537 closed

[2019-03-28 14:22] NicolasHug commented on #13499
You're talking about option 1 Adrin right? I agree this is a serious flaw.

OK, option 2 seems to be accepted. That's what the new GBDTs PR does.

[2019-03-29 01:23] sepidazar commented on #12895
Hi @urvang96, Have you started working on this issue? I would like to work on it and wanted to double check with you before starting.

[2019-03-29 02:02] jmwoloso commented on #8614
@jnothman exactly, sorry, was just trying to put a "name with a face". Looking forward to this and happy to help move it along if needed.

[2019-03-29 07:19] qinhanmin2014 commented on #13430
I guess we can close, reopen if I'm wrong.

[2019-03-29 07:19] #13430 closed

[2019-03-29 07:57] qinhanmin2014 commented on #13448
partial_dependence is in sklearn.model_inspection
plot_partial_dependence is in skearn.plot

+1

+1

So we've decided to use the name sklearn.plot?

[2019-03-29 12:16] juliensiebert commented on #13106
@smarie Wow, that's just awesome :)

Let's see how we can help. Let's first do like @adrinjalali said, we could benchmark the code to measure both accuracy and computational time (to have a baseline on what to improve).

Does anyone knows what is the official way to do this? Would that be a fork + PR or a contrib project?

[2019-03-29 12:30] smarie commented on #13106
I'll create a PR next week, it seems like a convenient way to get reviews from the core team.
If after seeing how it goes, the core team suggests to migrate to an independent project rather than merging, we can always do it.

[2019-03-29 15:22] qinhanmin2014 commented on #13499
So you think it's reasonable to keep the following things in ``sklearn.compose.ColumnTransformer``:
``EXPERIMENTAL: some behaviors may change between releases without deprecation.``?
IMO if we create ``sklearn.experimental``, we'd better put all the experimental things under this module.

[2019-03-29 15:23] NicolasHug commented on #13106
If my understanding of the proposed algorithm is correct, to split a node you still scan every single possible split point (e.g. each feature value), but instead of considering a measure such as the mse, you build 2 models (one for each side) and compute their fit?

If that's the case, I think it should be possible to implement this by "just" creating a new `Criterion` object.

I'm curious to see

[2019-03-29 15:29] NicolasHug commented on #13499
Unless we're certain that `ColumnTransformer`'s API is now stable, I agree  it'd be nice to have it in `experimental` to be consistent.

Since it has already been introduced in `compose` that's going to break people's code though. Now the questions becomes : does our warning `EXPERIMENTAL: some behaviors may change between releases without deprecation` justify changing its module entirely? (I woul

[2019-03-29 17:47] lorentzenchr commented on #12907
As the coordinate descent solver seems to be universally faster than saga - see benchmarks in #12966 - I close this issue.

[2019-03-29 17:47] #12907 closed

[2019-03-29 19:52] NicolasHug commented on #13390
Following the discussion we had with Jeremie https://github.com/scikit-learn/scikit-learn/pull/13543#issuecomment-478004018 , we cannot allow to build scikit-learn without openmp because we need to be able to use the openmp helpers like `omp_get_num_threads()` which require to import `omp.h`.

[2019-03-29 21:16] adrinjalali commented on #13493
Closing as I believe the above comment answers the issue.

[2019-03-29 21:16] #13493 closed

[2019-03-29 22:42] thomasjpfan commented on #13405
If two features are correlated (above a certain threshold), what would be a good deterministic way to decide which one to keep? The simplest solution would be to keep the feature with the smaller column index.

[2019-03-29 23:15] thomasjpfan commented on #11821
Related issue: https://github.com/renatopp/liac-arff/issues/75

What is preventing us from using `scipy.io.arff.loadarff`?

[2019-03-29 23:44] hermidalc commented on #13405
I think this should always be left to the user and their particular problem. For some problems you do not want to remove correlated features and for some you want to select a representative ones to remove redundancy.

I think this new feature should calculate the pairwise correlation values between features as well as their associated p-values and then allow the user to select/filter features base

[2019-03-30 01:35] qinhanmin2014 commented on #13499
I think it's difficult to move ``ColumnTransformer`` from ``sklearn.compose`` to ``sklearn.experimental`` (If so, we need to move it again in the future). Maybe a simply solution is to remove the ``EXPERIMENTAL`` tag in ``ColumnTransformer``. I'll vote -1 if we create ``sklearn.experimental`` and keep the ``EXPERIMENTAL`` tag in ``ColumnTransformer``.

So most people agree with ``sklearn.experimen

[2019-03-30 10:29] eyaler opened #13546 "roc_plot.py example gives different macro-averaged AUC than roc_auc_score"
sklearn 0.20.1
code to reproduce (plot_roc.py + comparisons to roc_auc_score):
[code]

[2019-03-30 10:45] lamin3 opened #13547 "Is varying the random state parameter equivalent to just increase the number of tree estimators?"
Hello,

I want to compute the features importance of a dataset, using Random forest. The number of features is around 120 for 200k samples. The number of trees I set is 30 and the depth is also 30 (because I got good F1 scores with these parameters).

Since, there is some randomness in the algorithm (random forest), I'm varying the random state parameter over a loop of 100 iterations with differen

[2019-03-30 11:01] eyaler commented on #13546
the reason is the computation is different.
roc_plot is computing average curves and than the auc of those curves.
roc_auc_score is computing the average of the AUCs

[2019-03-30 12:37] NicolasHug commented on #13547
For your first point, yes, I think this is equivalent since all the trees are independent. We even build them in parallel. Of course you won't get exactly the same results though, due to different random seeds.

Be careful however on how you average the results for classification: in sklearn implementation we average the class probabilities, which is different from choosing the majority class.

[2019-03-30 12:50] jnothman commented on #11821
Yes, that issue is related but the loading code in liac-arff has been
rewritten to close the gap with scipy (I hope that's still true). The
scipy.io implementation does not handle sparse and I think there may have
been other limitations we cared about.

But the issue here is basically that loading from a text format is
unnecessary slow regardless of which loader.

[2019-03-30 13:16] lamin3 commented on #13547
@NicolasHug : Thanks a lot fr your reply.

 About the first point, just to confirm, I try to make an average about features importance. Why I'm doing this ? Because the problem I found is that, these features importance depends on how the construction of trees has been done which, is controlled by a random state parameter. Therefore, to fix this problem, I set the value of this parameter in [1,100

[2019-03-30 13:30] NicolasHug commented on #13547
It should be **theoretically** equivalent to do

[code]
and to do

[code]

In practice you will get slightly different results. To get the same results you would need the first 50 trees of A to be the same as those of B and the last 50 trees of A to be the same as those of C. There exist a combination of random seeds such that trees(A) = union(trees(B), trees(C)) -- tough you have no chance of fin

[2019-03-30 13:53] lamin3 commented on #13547
@NicolasHug : Thanks a looooot for your answer. Many thanks.

OK, so theoretically it's fine, but in practise it is not totally right/correct.

I tested the two ways of doing, and as you said I found a slight difference in features importance.

However, the **standard deviations** for each feature is very high for the first method (varying the random state) compared to the standards deviations fou

[2019-03-30 14:36] NicolasHug commented on #13547
If what you mean is that the std of FIs  in tree A is smaller than the std of FIs  in tree B or C (from my snippet above) then yes it's normal since the FIs of the forest ensemble is the average of the FIs across all trees. Since A has more trees than B then its std is smaller.

Also, note that averaging the FIs of B and C is only equivalent to the FIs of A if B and C have the same number of trees

[2019-03-30 16:10] lamin3 commented on #13547
@NicolasHug: Let me to thank you ! Really thanks for your logical and detailed answers.

[2019-03-30 21:41] jnothman commented on #13448
I find sklearn.plot importing dependencies from across sklearn to be a bit weird when we have avoided putting everyone in the root namespace.

[2019-03-30 23:03] NicolasHug commented on #13448
So you'd prefer `sklearn.model_inspection.plot` and put `plot_partial_dependence()` there?

No `plot` module, i'm fine with that

[2019-03-30 23:41] jnothman commented on #13390
Which might mean we could switch off the openmp dependency when
cythonizing, perhaps requiring tempita to remove that import?? The template
would render to sklearn/utils/openmp.pxd with a dummy omp_get_num_threads
when needed. Possible? Worthwhile?

[2019-03-31 00:04] NicolasHug commented on #13390
It's not just `omp_get_num_threads`, it's all the functions in `openmp.pxd`, because who knows what we might need in the future? Here's that file:

<details>

[code]
</details>

Probably

I really don't think we want to go down that road. What if there's a routine in `openmp.pxd` that we cannot mock properly? We would have to provide both parallel *and* sequential implementations.

I might be wron

[2019-03-31 06:14] jnothman commented on #13448
I think I'd prefer that. Not yet certain how it generalises.

[2019-03-31 07:35] qinhanmin2014 commented on #13448
As long as we can figure out an appropriate place to put things like ``plot_decision_boundary``, I'll vote +1 for ``sklearn.XXX.plot``.

[2019-03-31 12:58] NicolasHug commented on #13448
Does this need a slep? we don't seem to be making much progress

[2019-03-31 13:22] qinhanmin2014 commented on #13448
I'm fine with either solution (``sklearn.plot``/``sklearn.XXX.plot``). The main issue here IMO is that no one tells me where shall we put things like ``plot_decision_boundary`` if we use ``sklearn.XXX.plot`` :)

[2019-03-31 13:37] NicolasHug commented on #13448
`sklearn.model_inspection.plot`?

[2019-03-31 14:05] qinhanmin2014 commented on #13448
Interesting idea, I'll vote +1. Maybe it's not so good to throw all the things to sklearn.plot (https://github.com/rasbt/mlxtend put all the plotting functions in a single module).

So we'll support ``from sklearn.XXX.plot import plot_XXX``? Will we support ``from sklearn.XXX import plot_XXX``?

[2019-03-31 22:38] jnothman commented on #13499
What about not controlling this through import? It's easy enough for us to make fit fail when a feature is used if some config is not set.​ That config could be global or could be a parameter on the class or instance.

One simple version:
[code]

[2019-03-31 22:41] jnothman commented on #13546
Yeah, I'm not convinced that what we're doing in that example is
macro-averaging. I would have thought that should be averaging the
AUCs as we do in roc_auc_score.

[2019-03-31 22:45] jnothman commented on #13390
I don't think @jakirkham is coming at this as a concerned mac user, but I
might be wrong. I suspect this is more about other, minor platforms.

[2019-03-31 22:48] jnothman commented on #13448
I think the explicit requirement of .plot in the import is something
others here have sought.

There's also the inverted from sklearn.plot.XXX import plot_YYY

[2019-03-31 23:49] NicolasHug commented on #13499
It seems that the issue here is that the whole `ColumnTransformer` API is experimental and subject to change, not just some specific feature?

[2019-04-01 00:17] yc2311 commented on #13533
@jnothman Thanks for the response! I realize that this issue on its own could be relatively hard to solve considering that efficiency and precision issues could involve knowing about some under the hood workings of python.

There's a total of five (including this one) "Todo" tasks on the glossary that seem easier, and well within the scope of a new contributor. I would love to help fix them. Howev

[2019-04-01 00:54] qinhanmin2014 commented on #13448
So we've reached consensus to use ``sklearn.XXX.plot`` (only support from ``sklearn.XXX.plot`` import ``plot_XXX``)?

I can't understand.

[2019-04-01 00:55] qinhanmin2014 commented on #13499
This will also break user's code?

[2019-04-01 02:01] jnothman commented on #13499
When will it break user's code? I'm not proposing to apply it to
ColumnTransformer. I'm using ColumnTransformer as an example of similar
future application.

[2019-04-01 03:06] jnothman commented on #13533
Just open a pull request with a first draft of the change

[2019-04-01 06:03] sd1998 commented on #11997
@jnothman I am new to this project and would like to contribute. Can I start by working on this issue?

[2019-04-01 07:31] jnothman commented on #13448
I meant that we could have
sklearn.plot.model_inspection.plot_partial_dependence rather than
sklearn.model_inspection.plot.plot_partial_dependence. Not sure if this
provides any benefit/clarity.

[2019-04-01 07:32] jnothman commented on #11997
@MaxCopeland is working on this issue. It's just taking some time to
finish because it's not so easy :)

[2019-04-01 08:36] jtromans commented on #12856
I have two similar set-ups, one running Windows and the other Ubuntu. Same version of scikit-learn  (0.20.1), numpy (1.15.4) and scipy (1.1.0) and Dask (1.1.4). Windows runs Python 3.6 while Ubuntu runs 3.7. I obtain the same error on line 763 (ValueError: not enough values to unpack (expected 4, got 0)) on Ubuntu when using 'dask' instead of, say, 'loky'.

`with parallel_backend('dask', n_jobs=1)

[2019-04-01 09:35] Stigjb opened #13552 "LinearSVR: Default value for epsilon is incorrectly documented"
The documentation for LinearSVR says that the default value for epsilon is 0.1, but in the code it is 0. Either update the documentation or the default value in `__init__`.

In `LinearSVR`'s docstring:
https://github.com/scikit-learn/scikit-learn/blob/26f690961a52946dd2f53bf0fdd4264b2ae5be90/sklearn/svm/classes.py#L262

In `__init__`:
https://github.com/scikit-learn/scikit-learn/blob/26f690961a529

[2019-04-01 11:11] NicolasHug opened #13553 "Reference relevant tags in error messages raised by estimator checks"
Following https://github.com/scikit-learn/scikit-learn/pull/13550#pullrequestreview-220954675

Now that we have estimator tags it'd be nice to indicate what tag can be activated / deactivated  when a check in `check_estimator` fails.

[2019-04-01 11:39] NicolasHug commented on #13499
That's an interesting suggestion. However this is not applicable to the new GBDTs, since in this case the whole estimators are subject to changes (e.g. a change in the default parameters which would result in different predictions).

I think that @qinhanmin2014 	is concerned about introducing `sklearn.experimental` while `sklearn.compose.ColumnTransformer` is not in `experimental` and yet labeled

[2019-04-01 12:43] jeremiedbb commented on #13390
there's a way to protect the direct openmp calls. The syntax is the following:

IF SKLEARN_OPENMP:
    num_threads = openmp.omp_get_num_threads()
ELSE:
    num_threads = 1

and SKLEARN_OPENMP would be defined as true or false during the cythonizing part in the setup (through `compile_time_env`) depending on the existence of the environment variable `SKLEARN_NO_OPENMP`.

This way we only have to pr

[2019-04-01 12:56] NicolasHug commented on #13390
For now yes, I agree. But who knows about future needs?

------

Cython supporting the `IF` `ELSE` syntax is nice, but I still believe we're addressing a very marginal use-case, and this might end up being high maintenance cost for us.

I would suggest that we release 0.21 without the flag, and if people still complain with legit reasons, then reconsider.

[2019-04-01 13:13] thetseffect commented on #13228
The same script also dosen't run on Google Colab. It dosen't give any error but it also dosen't execute.

[2019-04-01 16:38] alegonz opened #13555 "Refactor BaseEstimator.get_params for easier use in subclasses"
Below is a proposal for a minor refactoring of `BaseEstimator.get_params` to make it easier to use in subclasses. Would like to hear your opinions :)
If it sounds like a sensible idea, I would be glad to throw a PR.

### Issue
Currently, invoking `get_params` from custom subclasses can produce an incomplete list of parameters, depending on how you define the subclass `__init__`.

For example, if y

[2019-04-01 18:15] #13481 closed

[2019-04-01 18:28] thomasjpfan commented on #13390
I think added a flag to disable openmp is not worth it. To help more people build scikit-learn, we can add another set of instructions detailing how to build sklearn with conda's `llvm-openmp` on osx.

[2019-04-01 21:43] jnothman commented on #13555
In what cases do you need _get_params_from and _get_param_names to be
separate?

Historically we have avoided use of **kw but I can see why it is useful for
inheritance.

[2019-04-01 21:46] jnothman commented on #13390
I don't think the issue platform is OSX when the issue comes from @jakirkham

[2019-04-01 21:47] jnothman commented on #13390
Oh maybe the main issue is osx. I'm okay with trying a release and seeing how much backlash anyone gets

[2019-04-01 22:21] connorbrinton commented on #13077
I think this issue is also related to #8710, which has to do with `CalibratedClassifierCV`'s input validation in a pipeline context

[2019-04-01 22:34] rth commented on #13390
Do we have any examples of the popular scientific library that make OpenMP requirement mandatory? For instance, OpenBLAS, lightgbm or xgboost have an optional flag to enable/disable its use, and that seems to be a more common practice in the scientific code I have encountered.

Adding mandatory OpenMP support is not a light decision, and is IMO at the same level as adding a new dependency. At leas

[2019-04-01 22:40] rth commented on #13390
Also, does the fact that we are using Cython make this issue more chalenging than if C or C++ was used directly?

[2019-04-01 23:11] NicolasHug commented on #13390
Both LightGBM and XGBoost wrap around openmp to mock what they need, so they're doing what Jeremie was proposing.

XGBoost uses [dmlc/omp.h](https://github.com/dmlc/dmlc-core/blob/master/include/dmlc/omp.h)

and lightgbm has an [openmp_wrapper](https://github.com/Microsoft/LightGBM/blob/master/include/LightGBM/utils/openmp_wrapper.h#L56) file.

I agree. OTOH, supporting both openmp code and non-op

[2019-04-02 00:16] xhlulu opened #13556 "More details about the Crammer-Singer method for LinearSVM"
#### Description

On the current [page about the LinearSVC model](https://scikit-learn.org/stable/modules/generated/sklearn.svm.LinearSVC.html#sklearn.svm.LinearSVC), we are given the option to use either OVR or Crammer-Singer. Though the former is a well-known method, it seems that Crammer-Singer is a very specific algorithm developed for SVMs. The page talks about the nicer theoretical foundatio

[2019-04-02 00:18] alegonz commented on #13555
I also thought of extracting the core `get_params` logic into `_get_params_from` so it could be reused easily in subclasses, e.g. feed it the parent `__init__` names or the subclass `__init__`, or any other sequence of params that might have the same double underscore nested style.

The subclass could implement its own `_get_params_from` but the user would need to replicate what the `BaseEstimator

[2019-04-02 00:19] xhlulu commented on #13556
I took a look at past issues/PR and it seems like this wasn't brought up before; if it was, please let me know and feel free to close.

[2019-04-02 00:45] jakirkham commented on #13390
Thanks for chiming in @rth.

It's true the lack of WebAssembly support for OpenMP is another challenge. ( https://github.com/WebAssembly/threads/issues/97 )

[2019-04-02 02:25] sam-yusuke opened #13557 "cross_validate hang randomly when training svc with polynomial kernel."
#### Description
`cross_validate` hang randomly when training svc with polynomial kernel.

#### Steps/Code to Reproduce
[code]

#### Expected Results
Three scores should be shown.

#### Actual Results
Sometimes hang.
I waited for few minutes.
Also I checked running code line doesn't change using gdb.
Backtrace is [here](https://gist.github.com/sam-yusuke/7099829b1797d6867eb928264597979d)
#### Vers

[2019-04-02 02:25] jnothman commented on #12856
@jtromans, do you have this issue with the nightly build?
https://scikit-learn.org/dev/developers/advanced_installation.html#installing-nightly-builds

[2019-04-02 02:29] jnothman commented on #13552
The docstring should be updated, thanks

[2019-04-02 02:35] jnothman commented on #13499
Nothing wrong with the whole estimator being subject to change. The user
acknowledging that the implementation was experimental at the time they
wrote the code indicates that they should not expect stability.

[2019-04-02 03:09] albertcthomas opened #13558 "Reference Understanding the decision tree structure example in the User Guide"
I think It would be good to reference the ['Understanding the decision tree structure' example](https://scikit-learn.org/dev/auto_examples/tree/plot_unveil_tree_structure.html#sphx-glr-auto-examples-tree-plot-unveil-tree-structure-py) in the Decision Trees section of the User guide.

[2019-04-02 03:42] thomasjpfan commented on #13390
@rth Pyodide is a valid use case for us to have a openmp flag. (I have been following your work on getting fortran/scipy to work on WebAssembly) 👍

As long as only use the functions we mocked and add to this list if we need more openmp features, a flag should be okay.

The biggest concern is the increased maintenance of this flag. We need to add an another environment to build and test scikit-lear

[2019-04-02 04:37] jnothman commented on #13390
Can we reuse an existing build rather than add another?

[2019-04-02 05:15] instylefreedom opened #13560 "Dev install error"
#### Description

I am trying to install scikit-learn on my laptop using anaconda environment following the steps but once I go through the steps and do pytest sklearn, I get an error.
#### Steps/Code to Reproduce

I open anaconda promt and create new environment : conda create --name skleanwork
and activate it: conda activate sklearnwork
then i install numpy and scipy: conda install scipy; conda

[2019-04-02 08:42] jnothman commented on #13556
Let's start with making sure that reference is provided. We could also
refer to any relevant libsvm documentation, but I haven't looked for any. I
think you'd need to show that a benchmark is helpful before we consider
including it.

[2019-04-02 09:19] smarie commented on #13106
The original Quinlan algorithm as well as the improvement (M5 prime) by Wang rather propose a two-stages approach: first grow the tree using a criterion, then backwards-simplify it by testing if models can statistically replace leaves. Not sure that doing it upfront would lead to the same results

[2019-04-02 09:35] #13560 closed

[2019-04-02 09:35] jtromans commented on #12856
Thanks - all fine.

[2019-04-02 09:35] jnothman commented on #13560
You have not installed the library "in place", so the version in your
working directory cannot be used. You can change to a different working
directory or you can use python setup.py install --inplace (equivalent: pip
install -e .)

[2019-04-02 10:18] qinhanmin2014 commented on #13448
sklearn.plot.model_inspection.plot_partial_dependence rather than
sklearn.model_inspection.plot.plot_partial_dependence. Not sure if this
provides any benefit/clarity.

So now we have 3 options:
(1) sklearn.plot.plot_YYY (e.g., sklearn.plot.plot_tree)
(2) sklearn.plot.XXX.plot_YYY (e.g., sklearn.plot.tree.plot_tree)
(3) sklearn.XXX.plot.plot_YYY (e.g., sklearn.tree.plot.plot_tree, do not support f

[2019-04-02 10:20] qinhanmin2014 commented on #13499
If we really want to introduce some experimental classes/functions, maybe this is a good idea.

[2019-04-02 10:37] jnothman commented on #13448
Not sure it needs a slep but might be worth inviting opinions on the
mailing list

[2019-04-02 10:57] adrinjalali commented on #13499
@jnothman the `enable_experimental` solution kinda gives the impression that you're enabling some experimental functionalities of the class/method, which I don't think is the semantics we want here.

On the topic of `ColumnTransformer`, I don't think we want to move it to the `sklearn.experimental` anyway, it just happens that `ColumnTransformer` triggered the issue of how to handle experimental c

[2019-04-02 11:00] #13552 closed

[2019-04-02 12:18] NicolasHug commented on #13557
Can reproduce on current master branch.

It will work with `random_state=0` to `train_test_split` and will hold for `random_state=1`.

Also all seems to work OK with `gamma='auto'` so maybe the `gamma` you're passing are way too high for the optimizer to converge?

[2019-04-02 14:14] GaelVaroquaux commented on #13448
+1. It does not fall in the criteria of SLEPs, it seems.

[2019-04-02 14:18] jeremiedbb commented on #13390
Sure, we have 3 linux jobs. We can definitely set `SKLEARN_NO_OPENMP` in one of them.

[2019-04-02 15:22] qinhanmin2014 commented on #13499
I think it's important to keep consistent between all the experimental classes/functions. I'll vote -1, unless many other people agree with it.
I'm still wondering whether it's possible to put the new GBDT under sklearn.ensemble and add an experimental tag like ColumnTransformer.

[2019-04-02 15:29] #13374 closed

[2019-04-02 15:34] NicolasHug commented on #13499
Hopefully the ColumbTransformer will soon become stable and this inconsistency will disappear?

Users would only know that the GBDT is experimental if they read the doc

[2019-04-02 16:40] amueller opened #13564 "can put NORMALIZE_WHITESPACE in pytest config"
Ever since we moved to pytest, we can remove the NORMALIZE_WHITESPACE from our docs and just put the option into setup.cfg:

[code]

That should make the docs nicer and cleaner!
We might also want to do ellipsis.

[2019-04-02 16:48] amueller commented on #13564
actually we might also think about using this:
https://github.com/astropy/pytest-doctestplus

and do our doctests without defining a search pattern in the makefile

[2019-04-02 17:01] amueller commented on #13564
we could also change setup.cfg so that ``pytest doc`` runs the doctests in a meaningful way. That mostly requires ignoring the subdirectories that should be ignored and adding ``--doctest-glob '*.rst'`` to the addopts.

[2019-04-02 17:26] Celelibi commented on #9354
I've run a benchmark to evaluate the average accuracy of the float64 case with random numbers. I compare 3 algorithms: `neumaier_sum((x-y)**2)`, `numpy.sum((x-y)**2)` and `X2 - 2*X.dot(Y.T) + Y2.T`. The *exact* result to compare to has been obtained using mpmath with a precision of 256 bits.
`X` and `Y` have 100 samples and a variable number of features and are filled with random numbers between -

[2019-04-02 19:30] amueller commented on #13488
also see #12153 for something related. I think min_frequency is good, but I also want max_levels or something like that. Basically we could reimplement all the different pruning options we have in CountVectorizer....

[2019-04-02 20:28] jramirezpr opened #13566 "Tutorial example code lacking context"
on:
https://scikit-learn.org/stable/tutorial/statistical_inference/unsupervised_learning.html
the code
[code]
Is not completely connected to the example it is trying to illustrate. Looks like it was planning to
plot the image but this is never done(same with AgglomerativeClustering), also the gaussian_filter is not imported. This code snippet should be completed, and its relationship with agglomer

[2019-04-02 22:20] jnothman commented on #9354
I think @kno10's concern is that we are often interested in cases where
points are not randomly distributed, but are near each other or have unit
norm.

[2019-04-03 00:20] jnothman commented on #13499
If concerned about the meaning of enable_experimental, call it
i_understand_this_is_an_experimental_api. I think the import based solution
is just a nuisance when things move.

[2019-04-03 02:27] Celelibi commented on #9354
Indeed, but **I** needed to be convinced that in practice, it's not complete BS. ^^

To complete the comment above: the relative error of the formula `x²+y²-2ab` seems to be unbounded. Unless my analysis is wrong, when `x` and `y` are close to each other, the relative error can be up to `2^(52*2)`. At least theoretically. In practice, the worst case I found is a relative error of `2^52+1`.
[code]

[2019-04-03 04:50] ankishb opened #13567 "Request for parallel processing in `MLPClassifier`"
Many models have parallel processes access, but  `MLPClassifier`/`MLPRegressor` doesn't have multi-core/parallel processes access. It would be great to have such feature in toolbox.

[2019-04-03 06:21] mikulskibartosz opened #13568 "Array dimensions don't match when using FeatureHasher in a ColumnTransformer"
#### Description
When a FeatureHasher is used as an element of a ColumnTransformer pipeline, "ValueError: all the input array dimensions except for the concatenation axis must match exactly" is thrown.

#### Steps/Code to Reproduce
[code]

#### Expected Results
The same as the result of:
[code]

#### Actual Results
ValueError: all the input array dimensions except for the concatenation axis must m

[2019-04-03 06:41] jnothman commented on #13567
Low level parallel processing is likely to occur on many platforms, afaik,
through numpy backends like mkl. Where would parallelism otherwise be
applicable?

[2019-04-03 11:03] adrinjalali commented on #13566
Seems like the context is given in the full example [here](https://scikit-learn.org/dev/auto_examples/cluster/plot_coin_ward_segmentation.html#sphx-glr-auto-examples-cluster-plot-coin-ward-segmentation-py).

[2019-04-03 11:55] NicolasHug commented on #13499
Considering the attribute:

When the estimator isn't experimental anymore we want this `est.i_understand_this_is_an_experimental_api = True` to throw an error, right? (Else this we would have the same flows as option 1).

This could be done with a `@property` I suppose. But then, that piece of code will have to follow the estimator all along.

[2019-04-03 12:42] koneshgit commented on #6868
Any update on this feature? Implemented or considered further?

[2019-04-03 12:51] kno10 commented on #9354
I think a histogram plot in ULPs would make more sense than above animation with the within-ULP error distribution. So 0 ULP error and 1 ULP error are "as good as it gets". 2 ULP is likely unavoidable because of the sqrt. Any larger errors are worth investigating I assume.

Using `(computed - exact) / exact` is reasonable as long as exact is large. But once we are getting numerical challenges for

[2019-04-03 13:27] amueller commented on #13448
As I said on the mailing list, I think we should really also consider "where the work happens" or what the interface will be like. That was already quite unclear for partial dependence.
Should ``plot_partial_dependence`` call to ``partial_dependence`` or get the output of ``partial_dependence`` as input? This questions is a valid question for basically all plot functions.
The main consideration I

[2019-04-03 13:28] jfaleiro commented on #8995
If someone else comes here chasing this, it is now a `scikit-learn-contrib` [project in a different repository](https://github.com/scikit-learn-contrib/stability-selection)

[2019-04-03 13:30] qinhanmin2014 opened #13570 "The default value of some parameters make little sense"
See #13541
Seems that we've decided that all parameters should have a default. (Can someone tell me why? I don't like it.) For some parameters, the default value makes little sense (e.g., n_clusters in KMeans, eps in DBSCAN), I think we should have a way to recommend users to set these parameters manually.
My proposal is to define a DefaultMeaninglessWarning and raise it when these parameters are

[2019-04-03 13:32] GaelVaroquaux commented on #13448
+1000. It's a common problem that I see in research code.

From a design problem, it violates an MVC separation (slightly pedantic,
sorry).

In the various solutions that you propose, would you consider taking a
fitted model as an approach? I feel that it would mitigate the problem of
remembering the order of parameters. But maybe there are additional
problems.

[2019-04-03 13:37] amueller commented on #13448
I'm not sure what you mean by fitted model. Often the output of computation is not a fitted model. We could define objects for all of the computation results, so that ``partial_dependence`` returns a ``PartialDependence`` object. Or a bunch. But it doesn't return an estimator.

Oh the reason I bring this up now: without this decision I have no idea what user code will look like, and I don't like m

[2019-04-03 13:40] amueller commented on #13448
returning an object would be pretty un-sklearn-like, imho. But it might solve the location problem: it could have a ``plot`` methods ;)

[2019-04-03 13:42] GaelVaroquaux commented on #13448
Point taken.

One option (not saying that it is the best one) would be to have all the
compute functions return named tuples and all the corresponding compute
functions take this. It would be somewhat consistent with modern
additions to the Python standard library.

I'm like you.

[2019-04-03 13:46] qinhanmin2014 commented on #13448
So if the computation is expensive, we can do the computation outside the function. If so, we return an object and the plotting function take this object as its input, right? I'll vote +1.

And maybe we need another issue to discuss this :)

[2019-04-03 13:50] jeremiedbb commented on #13570
I don't know if it was the original reason, but common tests run with defaults parameters of estimators.
It will cause a whole bunch of new warnings in tests.

So you would replace the default values by 'auto' which falls back to the current default with a warning ?

[2019-04-03 13:55] qinhanmin2014 commented on #13570
If we decide to do so, we can easily solve the problems in the common tests.

I'd rather use a specific string (e.g., "default-meaningless"). "auto" might be a valid option for many parameters.

[2019-04-03 13:58] jeremiedbb commented on #13570
but in that case, would it fall back to the current default value ?

[2019-04-03 14:01] qinhanmin2014 commented on #13570
Yes, we need to maintain backward compatibility.

[2019-04-03 14:10] jnothman commented on #6868
@koneshgit it might just be a matter of someone volunteering to do a small
bit of work to fix up #9179.

[2019-04-03 14:13] NicolasHug commented on #13570
Could this be addressed with estimator tags?

[code]

then do something about it (e.g. warn) in base classes.

[2019-04-03 14:25] amueller commented on #13448
The benefit of @GaelVaroquaux's suggestion is that it might not require users to change their code because of tuple unpacking. But that wouldn't work if there's a single returned object like in ``confusion_matrix``. There a tuple would not be strictly necessary but then the interface becomes slightly inconsistent.

@qinhanmin2014 if we return arbitrary objects we have to deprecate the return type

[2019-04-03 14:34] qinhanmin2014 commented on #13448
Why do users need to plot the same data again? @amueller adjust the format?

[2019-04-03 14:35] qinhanmin2014 commented on #13570
I've not read through the code of estimator tag. Seems that it's a better way (if it's possible).

[2019-04-03 15:48] amueller commented on #13448
@qinhanmin2014 yes, make the font bigger, change the colors, plot it with something else together in the same plot, add labels, ...

[2019-04-03 15:53] qinhanmin2014 commented on #13448
I doubt whether it’s worthwhile to consider these formatting issues here. Users can start will a small part of the dataset?

[2019-04-03 15:58] qinhanmin2014 commented on #13448
And @amueller we’ll support passing axes, so users can easily adjust the plot after they call the plotting functions?

[2019-04-03 16:40] jramirezpr commented on #13566
I think you are correct, this looks like the complete code.

Enviado desde Outlook
________________________________
De: Adrin Jalali <notifications@github.com>
Enviado: miércoles, 3 de abril de 2019 04:04:36 a. m.
Para: scikit-learn/scikit-learn
CC: Juan Carlos Ramirez; Author
Asunto: Re: [scikit-learn/scikit-learn] Tutorial example code lacking context (#13566)

Seems like the context is given in

[2019-04-03 16:49] DanLeopold commented on #12052
Hi Ian & Adrin. Do you know if there's been any progress on sample property routing PR [#7646](https://github.com/scikit-learn/scikit-learn/issues/7646) (i.e., passing groups to fit functions)? My dilemma has been with GroupShuffleSplit and cross_val_score, but it seems these issues are one and the same. I tried adapting the answer you (Adrin) provided to GroupShuffleSplit, but my ability to do so

[2019-04-03 20:48] amueller commented on #13448
@qinhanmin2014 no, many things can not easily be changed afterwards, and we don't need to think about all the formatting necessarily ourselves, but we should allow users to plot something again. It will basically happen any time you do a plot. And having to subsample datasets every time I want to do a plot is a bit annoying. And if I later change my mind I will still need to recompute.
Basically t

[2019-04-04 01:10] qinhanmin2014 commented on #13448
Yes, I know it might be useful, but the main issue here is that we don't have a clean way to support this functionality, and I guess most plotting functions do not require much calculation?

[2019-04-04 01:27] sundaycat opened #13573 "IImportError: cannot import name 'ArrayDataset32' from 'sklearn.utils.seq_dataset'"
https://github.com/scikit-learn/scikit-learn/blob/66899eddd01ef7c694565bf71a8bc8a8b0adeae5/sklearn/linear_model/base.py#L35

[2019-04-04 01:38] Celelibi commented on #9354
I'm not sure I see how you would have represented it. There would be one histogram per number of feature and per algorithm. There's not much I can do beside a 3D plot or an animation.

I'm not sure what you mean by unstable in this context. The exact value should be computed with whatever it takes to make it exact.
(Speaking of which, I should have computed the relative error with arbitrary precis

[2019-04-04 01:47] jnothman commented on #13573
Are you sure you installed the library correctly?

[2019-04-04 01:58] sundaycat commented on #13573
Hi, I am actually new to sklearn. I had it work 6 months ago, and today I update it to the latest version and suddenly it is not working anymore. Can u tell me which library you referred to here and how to verify it. Thanks in advance

[2019-04-04 02:09] yanyang82 opened #13574 "Inconsistent init_estimator for MultinomialDeviance"
In gradient_boosting.py, the **MultinomialDeviance** defines its **init_estimator** to be an instance of **PriorProbabilityEstimator**, which predicts the sample proportions for each class label as the prior. This is inconsistent with **_score_to_proba** which maps the score (log likelihood) to actual probabilities

The correct init estimator should use the **log of the** sample proportions for ea

[2019-04-04 05:05] jnothman commented on #13573
I'm referring to scikit-learn as "the library" here. How did you update it?

But this is not the sort of usage question we should be dealing with on the
software development issue tracker.

[2019-04-04 06:57] sundaycat commented on #13573
I cloned the source code from github and build up a scikit-learn project locally 6 months ago. The project worked untill I updated it to the recent version on github. Also, before I updated the project, I had my python, Numpy, Scipy, Matplotlib, pandas and joblib all updated to the latest version. So I am not sure why I still has this import error.

[2019-04-04 07:09] #13573 closed

[2019-04-04 07:09] jnothman commented on #13573
If you're using a checkout of the git repo, make sure you pip install
--editable /path/to/git/checkout/for/scikit-learn

[2019-04-04 07:21] jnothman commented on #13499
No, when the estimator isn't experimental anymore,
est.i_understand_this_is_an_experimental_api = True will do nothing (apart
from set the attribute). It is distinct from Option 1 because the user is
not encouraged to just import sklearn.experimental every time they use the
library, but has to specify their assent on each model. Yes, this means
they could just give assent on every class, but that

[2019-04-04 07:22] jnothman commented on #13499
(Note that the attribute would need to be  set on the class, not
instance for it to work with clone at present.)

[2019-04-04 08:40] prabal97 commented on #13520
Hi, sorry for the late reply. The version of sklearn is 0.19.2 and you can find the code along with the required files at the following link
https://drive.google.com/open?id=1Rz50Zb9KZFM1xC5-LZqqDr7d8ERGWb3-

Thanks in advance

[2019-04-04 08:41] prabal97 commented on #13520
I want the code to run with 100 jobs

[2019-04-04 09:40] jnothman commented on #13448
I like that we're discussing this with a little more grounding, but tbh I'm
still not entirely convinced that we even need to have plot in the import
path at all. After all, we seem to have plot_ as a prefix for the
functions. The question also relates to plot_tree: why *should* it be
separated from other export and textual visualisation code?

[2019-04-04 09:50] agramfort commented on #1349
I tried:

`for i in {1..100}; do pytest sklearn/decomposition/tests/test_fastica.py -k test_fastica_simple --pdb; done`

and I cannot replicate.

It's funny to rediscover these conversations from 2012 @amueller :)

[2019-04-04 10:28] jnothman commented on #13077
I don't think it's part of the assumptions, but I think that as a library, scikit-learn should do what it can to place minimal constraints on the data in the case of meta-estimators. What is minimal will depend on the meta-estimator, however, so I'm not sure common tests is the right solution.

[2019-04-04 10:31] #5015 closed

[2019-04-04 10:32] adrinjalali commented on #13520
@prabal97 could you please update to the latest scikit-learn and try again?

[2019-04-04 10:34] adrinjalali commented on #12052
Since then https://github.com/scikit-learn/enhancement_proposals/pull/16 has started, and we've had long discussions about this. It is moving forward, but slowly.

[2019-04-04 10:35] wdevazelhes commented on #13077
I understand, that makes sense

[2019-04-04 10:44] jnothman commented on #12052
Very slowly, unfortunately. I do hope to get back to it, but there's a
lot going on for me atm.

[2019-04-04 11:27] bellet commented on #13077
So would the addition of `allow_nd=True` in the `check_array` be the way to go then?

[2019-04-04 12:34] #13077 closed

[2019-04-04 12:38] #13558 closed

[2019-04-04 13:15] amueller commented on #13448
@qinhanmin2014 I don't think "we don't have a good API yet" is a good reason.
And partial dependence, permutation importance, learning curves, validation curves and results of GridSearchCV and RandomizedSearchCV are all common examples that take a lot of computation. Though for gridsearchcv and randomizedsearchcv the obvious thing would be to pass either the object or the ``cv_results_``, doing th

[2019-04-04 13:16] amueller commented on #13448
@jnothman I think @GaelVaroquaux wanted to keep the matplotlib dependency confined to a module and that was one of the main motivations? I don't really have very coherent thoughts about this yet.

[2019-04-04 13:19] stepfencurryxiao opened #13576 "can't use Linear_model"
Hello

I reported an error while using this module.
I run on Python 3.7:
[code]
[code]

How to solve this problem? Please help me.
Thanks
Stephen Curry

[2019-04-04 13:23] stepfencurryxiao commented on #13576
[code]

[2019-04-04 14:00] qinhanmin2014 commented on #13448
Thanks, I now realized that I'm wrong :)
Though I'm still unable to understand why it's important to provide users with a way to plot without recomputing. But if others think so and there's a good way, I'll vote +1.

still not entirely convinced that we even need to have plot in the import
path at all. After all, we seem to have plot_ as a prefix for the
functions. The question also relates to plo

[2019-04-04 14:29] yanyang82 commented on #13574
Just realized this is already fixed in https://github.com/scikit-learn/scikit-learn/pull/12983, closing the issue

[2019-04-04 14:29] #13574 closed

[2019-04-04 16:31] albertcthomas commented on #13576
The name of the estimator is `LinearRegression` not `Linear_Regression`

[2019-04-04 17:26] varunpillai commented on #12249
what would be the default value in case OneClassSVM is used for Novelty detection rather than Outlier detection

[2019-04-04 19:36] amueller commented on #13405
@thomasjpfan I think the standard is to drop the feature that's most correlated with the remaining set of features.

[2019-04-04 19:52] thomasjpfan opened #13578 "Azure CI error"
Recently we have been getting errors on azure: https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=1879&view=results

@mickeygousset Is this a temporary issue with azure or something we can fix on our end?

[2019-04-04 20:35] amueller commented on #13518
@hermidalc as I said, it's the second hit, not the first.

[2019-04-04 20:43] amueller commented on #13257
I have not heard back from @duchesnay @jaquesgrobler @larsmans and @weilinear who I sent emails to. So here a ping just in case: Folks, do you want to stay on as core developers or transition to emeritus status as described in the [governance doc](https://scikit-learn.org/dev/governance#core-developers) ?

[2019-04-04 21:01] amueller commented on #13257
also ping @jarrodmillman (see comment above).

[2019-04-04 21:30] #13576 closed

[2019-04-04 21:38] albertcthomas commented on #12249
For novelty detection nu corresponds to the false positive rate, hence 0.1 or 0.05 is a usual default value.

[2019-04-04 23:53] stepfencurryxiao commented on #13576
Oh, it's my carelessness. Thank you very much.
😂

[2019-04-05 06:30] sklearn-ci commented on #13499
To clarify, the option I had in mind at the sprint was related to option 3:

from sklearn.ensemble import HistGradientBoostingClassifier
# => raise an ImportError with a message explaining how to enable
experimental features

then:

from sklearn.experimental import enable_hist_gradient_boosting  # noqa
from sklearn.ensemble import HistGradientBoostingClassifier

Once HistGradientBoostingClassifier

[2019-04-05 06:33] sklearn-ci commented on #13499
Actually, raising an error (instead of a warning) if the class
attribute has not been set might also cause issues on when unpickling
an instance on a cluster (e.g. PySpark or dask) or even with in a
subprocess with joblib / loky.

[2019-04-05 06:35] ogrisel commented on #13499
Oops I replied by email and the sklearn-ci account was picked up by github
instead of my @ogrisel account.

[2019-04-05 08:31] adrinjalali commented on #13570
Ideally we'd be able to also point user to where they could find information on how to set those parameters. Something like "There's no good default value for this parameter, please consult the literature such as blah blah as an example", maybe?

[2019-04-05 08:33] adrinjalali commented on #13570
Also, going down this path we'd probably introduce a lot of warnings. We can give and easy way to the users to disable all such warnings so that we don't have to care about the surge of sudden new warnings introduced maybe.

[2019-04-05 08:37] adrinjalali commented on #13547
Seems like it's luckily answered :) Closing, feel free to comment/reopen if I'm wrong.

[2019-04-05 08:37] #13547 closed

[2019-04-05 08:44] lamin3 commented on #13547
@adrinjalali: Yes, it is ! thanks again.

[2019-04-05 08:49] adrinjalali commented on #13553
Wouldn't an alternative be to further specialize the exception classes instead of changing their message and have kind of a one to one mapping between the exception class and the tag?

[2019-04-05 09:55] nicoladimauro opened #13580 "BUG in BaseMixture.predict_proba"
Hi,
I think there is a bug in predict_proba method of the base.py class (https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/mixture/base.py). Lines 393-394 currently read:
`_, log_resp = self._estimate_log_prob_resp(X)`
`return np.exp(log_resp)`

Probably they should be

`log_prob, _ = self._estimate_log_prob_resp(X)`
`return np.exp(log_prob)`

[2019-04-05 10:20] qinhanmin2014 commented on #13570
It's definitely useful, but I think it's acceptable to only raise a warning.

We'll define a new warning based on UserWarning so CIs won't complain. For users, I think it's acceptable to let them see the warning. They can easily get rid of the warning through setting these parameters manually.

[2019-04-05 12:21] #10786 closed

[2019-04-05 13:41] rth commented on #13570
At least for KMeans, initially running it with around 10 clusters, and then adjusting that number if needed, depending on the output seems a fairly common approach. I'm not sure that asking the users `n_clusters` before running KMeans would help usability.

[2019-04-05 14:27] NicolasHug commented on #13580
I think you're right. Do you want to submit a PR?

[2019-04-05 14:34] rth commented on #13564
+1 though it would only work if tests are run from the project root directory I think.

Reviving https://github.com/scikit-learn/scikit-learn/pull/9839 might be an option, where some of this was done.

[2019-04-05 15:46] #13192 closed

[2019-04-05 15:48] aditya1702 commented on #13580
Can I submit a PR for this?

[2019-04-05 15:51] NicolasHug commented on #13580
Let's wait a bit (~1day) for @nicoladimauro 's answer  maybe

[2019-04-05 16:01] NicolasHug opened #13581 "Use fixed random seed in test_mlp.test_gradient"
Since `test_mlp.test_gradient()` has failed on CI before (https://github.com/scikit-learn/scikit-learn/pull/13193#issuecomment-480325546), it'd be good to fix the random seed used to generate `X`.

For the test to stay robust, we can also increase the number of generated samples from 5 to 100.

[2019-04-05 16:03] aditya1702 commented on #13580
👍 Cool

[2019-04-05 16:04] NicolasHug commented on #13581
aditya1702 you might want to try this one ;)

[2019-04-05 16:04] aditya1702 commented on #13581
@NicolasHug Yes, I would like to try this one out :)

[2019-04-05 16:04] NicolasHug commented on #13581
Go ahead!

[2019-04-05 16:26] nicoladimauro commented on #13580
I will do it asap

[2019-04-05 16:27] rth commented on #13580
Also, it would be good to investigate how `predict_proba` tests such as [this one](https://github.com/scikit-learn/scikit-learn/blob/d0747ea2f27332c78b0009914c9bae42db719891/sklearn/mixture/tests/test_gaussian_mixture.py#L568) were passing.

[2019-04-05 16:39] nicoladimauro commented on #13580
It surely will work after the fix. The argmax still provide the same result

[2019-04-05 17:35] adrinjalali commented on #4194
Here we could set all appropriate attributes of the object whose `fit` is called with another tree as `X`, do we want to do that?

If yes, should we add `get_params()` (and maybe also `set_params`?) to `BallTree` for instance?

[2019-04-05 19:15] mickeygousset commented on #13578
I'm thinking it is just a temporary issue?  Are you continuing to see this yesterday and today?

[2019-04-05 19:56] aditya1702 commented on #13581
Cool! Working on this

[2019-04-05 20:20] ankishb commented on #13567
Sorry for late response.
I meant, there can be a feature `n_jobs` like many other algorithms in Neural Network Algorithms.

Are you suggesting to use MKL backend?

[2019-04-05 21:28] NicolasHug commented on #13567
What would you run in parallel @ankishb ? I don't think there's any trivial parallelization of the classical way of training MLPs (forward pass + back prop)

Joel is suggesting that if you use MKL as your numpy backend, low-level linear algbera routines would be run in parallel

[2019-04-05 22:22] amueller opened #13583 "bug in print_changed_only in new repr: vector values"
[code]

ping @NicolasHug

[2019-04-06 00:34] aditya1702 commented on #13581
@NicolasHug Made the pull request

[2019-04-06 00:37] aditya1702 commented on #13568
Why is the n_features = 3 while initialising FeatureHasher. Isnt there only 2 features?

[2019-04-06 04:14] nicholastoddsmith opened #13587 "BaggingClassifier uses Class Label as Index to Array when Voting"
#### Description

BaggingClassifier uses Class Label as Index to Array when Voting

#### Steps/Code to Reproduce

Provide a base estimator to _BaggingClassifier_ that does not define the function _predict_proba_. This results in _BaggingClassifier_ resorting to voting. It appears the code for performing voting uses class labels as array indices instead of looking up the index of the class label in

[2019-04-06 06:48] mikulskibartosz commented on #13568
@aditya1702 according to the documentation the n_features parameter denotes the number of columns in the output (https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.FeatureHasher.html).

[2019-04-06 06:49] ankishb commented on #13567
Thanks for letting me know about MKL, definitely going to try this.

[2019-04-06 06:49] #13567 closed

[2019-04-06 10:18] jnothman commented on #13564
I'd be happy with this.

[2019-04-06 10:20] jnothman commented on #13499
Yes, I was wondering how class attributes would be handled in a
multiprocessing setting. :|

[2019-04-06 10:26] jnothman commented on #13553
Why?? Exception classes are useful when you want to discriminate
between different kinds of exception in try-catch. And in Python even
that tends to be avoided and discriminative messages with a few
exception types are often used.

[2019-04-06 11:22] #11058 closed

[2019-04-06 11:34] jnothman commented on #13580
How can that be right? The shapes of `log_prob` and `log_resp` are different.

[2019-04-06 15:35] thomasjpfan commented on #13578
This issue is still happening: https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=1942&view=results

[2019-04-06 16:06] aditya1702 opened #13588 "FEAT: SMO algorithm for SVM"
#### Description
I couldnt find any documentation regarding the SMO algorithm to solve the dual/primal SVM problem. If it is not implemented, I would like to implement it for sklearn's SVM classes.

[2019-04-06 20:03] rth commented on #13588
scikit-learn wraps libsvm, which [does use an SMO-type algorithm](https://www.csie.ntu.edu.tw/~cjlin/libsvm/).

[2019-04-06 21:34] jnothman commented on #13587
Yes, that sounds right. The alternative is to encode the classes before fitting. Would you like to submit a PR with a non-regression test?

[2019-04-06 21:37] jnothman commented on #13568
What is the shape of `feature_hasher.fit_transform(data['feature1'])`?

[2019-04-06 21:39] jnothman commented on #13568
Also, I think CategoricalTransformer will be passed `data[['feature1']]` not `data['feature1']`

[2019-04-06 22:07] aditya1702 commented on #13588
Cool! I didnt see this before. I will close this issue

[2019-04-06 22:07] #13588 closed

[2019-04-07 00:03] jnothman opened #13590 "Pypy build falling due to use of Debian Jessie"
We should upgrade the image used in Circle CI to test on pypy

[2019-04-07 00:18] Kshitij68 commented on #13520
This works correctly for me:
scikit-learn - 0.20.3
scipy - 1.2.1
numpy - 1.16.2

[2019-04-07 00:39] aditya1702 commented on #13587
@jnothman anyone working on this issue?

[2019-04-07 01:39] nicholastoddsmith commented on #13587
Should have a PR up shortly.

[2019-04-07 11:56] #13581 closed

[2019-04-07 15:18] rth commented on #13590
yes, latest [Circle CI cron job](https://circleci.com/gh/scikit-learn/scikit-learn/54122) failed with,
[code]

While we update the image, we might also use the latest pypy 7.0

[2019-04-08 03:59] bkompa opened #13594 "Implementation of Gaussian Process Classification"
https://github.com/scikit-learn/scikit-learn/blob/7b136e92acf49d46251479b75c88cba632de1937/sklearn/gaussian_process/gpc.py#L395

This code calculates $$p_i=p(y_i=1|f_i)$$ as `pi = expit(f)` where expit is the logistic regression function while in [Rasmussen & Williams Algorithm 3.1](http://www.gaussianprocess.org/gpml/chapters/RW3.pdf) $$p_i$$ is defined as $$expit(f*y)$$. The labels are incorpora

[2019-04-08 08:34] ivsanro1 opened #13595 "Add 'beta=1' parameter to v_measure_score"
Currently, there is no way to set weight to Homogeneity and Completeness when calculating the V-Measure score.

As the paper states (A. Rosenberg, ‎2007), so as the F1-Score is to Precision and Recall, V-Measure score is the harmonic mean of Homogeneity and Completeness. However, we have the function fbeta_score to calculate the Fb-Score, but (as far as I know) we do not have a way of calculating

[2019-04-08 12:15] bkompa commented on #13594
Update: thought through it more and I think we are doing the equivalent of `pi = expit(np.ones(f.shape[0]) * f)` just multiply by an array of ones. This makes sense because the formula as I understand it now is $$p_i(y_i=y)=expit(f*y)$$ and $$y=1$$

[2019-04-08 12:15] #13594 closed

[2019-04-08 13:45] salonimundra commented on #5851
I am trying to learn about Robust PCA in the domain of facial recognition and have some doubts about it. Is RPCA a dimensionality reduction algorithm like Standard PCA or it's a preprocessing step to standard PCA. I am referring the paper by Candes and as per my understanding, RPCA tries to decompose a data matrix into two matrices L and S where S is the noise in the image and L is the low-rank co

[2019-04-08 18:30] mickeygousset commented on #13578
@thomasjfox  Let me see what I can dig up.

[2019-04-08 20:28] emilaz commented on #13557
I'm having the same issue on a different dataset, using sklearn.model_selection.StratifiedKFold for cross validation. The error occurs in the classifier.fit() function.
Error also occurs with
a) setting random_state=0.
b) Not setting the gamma parameter by hand.

Sklearn Version: 0.18.2
Python Version: 3.5.2

[2019-04-08 21:16] jnothman commented on #13595
I'm okay with adding beta to v_measure. I don't think we need to add another function.

[2019-04-08 21:17] jnothman commented on #13595
Would you like to submit a pull request @ivsanro1, or should we open this to other contributors?

[2019-04-08 21:19] jnothman commented on #13594
Thanks for raising and resolving your concerns!!

[2019-04-08 21:31] jarrodmillman commented on #13257
I am happy to have my status changed to emeritus core developer.  Thanks for checking with me.

[2019-04-08 21:35] caiohamamura commented on #8480
Wouldn't f_regression and f_classif expect `categorical variables x continuos response variable`?

When I convert the categorical variable manually as integers, the integers themselves are being used somehow to compute f-score, isn't it an undesirable behavior, shouldn't f-score always be the same regardless the label used to represent the categories?

[2019-04-08 22:12] mickeygousset commented on #13578
@thomasjpfan It is not just you.  GitHub is aware of the issue.  That is all I know at this time.  I'll stay on top of it and update you as I learn anything.

[2019-04-09 01:23] jnothman commented on #8480
AFAIK: f_classif expects continuous X and categorical y. f_regression
assumes continuous X and continuous y

[2019-04-09 01:54] caiohamamura commented on #8480
So there's no ANOVA categorical X and continuous Y?

Em seg, 8 de abr de 2019 22:24, Joel Nothman <notifications@github.com>
escreveu:

[2019-04-09 03:31] jnothman commented on #8480
Not in this library.

[2019-04-09 03:50] thatsmesasha opened #13596 "Isomap doesn't actually support NearestNeighbors as input to .fit"
#### Description
Documentation for Isomap at https://scikit-learn.org/stable/modules/generated/sklearn.manifold.Isomap.html#sklearn.manifold.Isomap says I can provide NearestNeighbors object to .fit function. However it doesn't. It throws the error expecting 2D array.
Looking at the source code, I don't see any checks for the type of X data, just if it's a 2D array.
I'm using approach of NN + Isom

[2019-04-09 07:56] jnothman commented on #13596
I suspect you're right and the documentation is outdated, but please provide a fully reproducible code snippet to make it easy to confirm

[2019-04-09 09:00] ivsanro1 commented on #13595
I would like to contribute to the project, but I do not have the implementation yet, nor I have contributed to any open source project before, so I do not know what would be the best option. I could implement it when I have some spare time but if it is important I would not mind you to open it to other contributors, so as you think it's preferable.

[2019-04-09 09:04] summerof1969 opened #13598 "splitting criteria in decision tree"
Hi,
Its not an issue, rather a question for my understanding. I am a beginner in python. I was going through this: scikit-learn/sklearn/tree/_criterion.pyx
to understand how decision tree regressor splits. Was looking through class (MSE) and function proxy_impurity_improvement. Though we should get mean square error as output, I think it is giving sum of squared target variables. I couldn't find a

[2019-04-09 09:23] jnothman commented on #13598
Without reminding myself of the inner workings, I think in this case we only want the minimum over MSE which is identical to the minimum over SSE, isn't it?

[2019-04-09 10:16] summerof1969 commented on #13598
True, so is sum_left adjusted for mean of elements lying in sum_left? If that is so, then it is awesome. As I understand, minimizing SSE and (sum of squared Xi) shall give different outputs.. Thing is I am unable to find the adjustment for mean.

[2019-04-09 10:50] jnothman commented on #13595
I don't think there's any great hurry here. You're welcome to ask for help, or to pass it on to the crowd, whenever you like.

[2019-04-09 10:54] #13534 closed

[2019-04-09 10:59] #11886 closed

[2019-04-09 11:20] #9098 closed

[2019-04-09 11:23] jnothman commented on #12644
So we now have CI on MacOS, and neither #12677 nor #12648 has been merged... why are we not seeing failures?

[2019-04-09 11:25] jnothman commented on #13036
What's the status of our ARM support, @rth? are we good on ARM64 now at least?

[2019-04-09 11:28] jnothman commented on #12263
Using a non-loky joblib.parallel backend  would be a sufficient workaround here?

[2019-04-09 12:06] RomainCendre opened #13599 "Number of features constant property"
Hi everyone,
I was playing (as most of mytime) with your awesome library, and I was wondering I that possible and a good idea to have a constant property to get the number of features a model was fit for, irrespective of the model?

Here is an example, sometimes I use Pipeline using PCA reduction and SVM with coefficients for wanted explained variance, but here I get a multiple possible output siz

[2019-04-09 12:18] jnothman commented on #13599
Recent progress has been made on related API in #13307.

[2019-04-09 12:26] RomainCendre commented on #13599
Oh I didn't see it in current issues :'(
Thank you for your answer, that's a good news! =)

[2019-04-09 15:46] IgnacioAnguita commented on #13566
Hi, are you planning to fix this?
I would like to do it. I think it could be a good first issue for me.

[2019-04-09 15:49] adrinjalali commented on #13566
Go ahead @IgnacioAnguita

[2019-04-09 16:08] buroa opened #13602 "reconstruct_from_patches_2d"
[code]

I'm trying to convert an image into patches, and then converting that back into an image and saving. There are two functions that seem to do this.

https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.image.extract_patches_2d.html#sklearn.feature_extraction.image.extract_patches_2d

https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.image.r

[2019-04-09 16:19] scouvreur commented on #13595
Hi @ivsanro1 @jnothman - could I help with this issue ? Would you like me to submit a PR ?

[2019-04-09 16:27] NicolasHug commented on #13598
`MSE.proxy_impurtity_improvement` returns

[code]

[2019-04-09 16:30] ivsanro1 commented on #13595
@scouvreur Sure, feel free to submit the PR!

[2019-04-09 19:46] NicolasHug commented on #13499
I think @ogrisel's solution could be as easy as creating a `sklearn.experimental.enable_hist_gradient_boosting.py` file with this content:

[code]

Now, this fails
[code]

with
[code]

and this works fine
[code]

[2019-04-09 20:43] jnothman commented on #13499
That will make pickles that are incompatible when experimental ends, but
there may be easy solutions to that. An import mechanism like that may also
be messy because it makes import order significant and because it will
upset pyflakes (unused import).

[2019-04-09 21:51] TomDLT commented on #13596
I also noticed this issue in #10463 (see issue 3).
It is (partially) fixed in #10482 as I removed the call to `check_array` in `Isomap._fit_transform`.

[2019-04-09 22:00] #13583 closed

[2019-04-10 00:02] #13598 closed

[2019-04-10 00:14] varunpillai commented on #12249
I guess I am a bit confused with the usage of One class SVM for novelty detection. The documentation says "**The training data is not polluted by outliers and we are interested in detecting whether a new observation is an outlier.** " So that would mean that the model would consider the entire dataset i provide for training as one class without. However, in reality the model classifies each record

[2019-04-10 01:02] jurasofish opened #13604 "dbscan float precision"
#### Description
Incorrect clustering results when using dbscan clustering with brute algorithm and large values.
See the below code snippet - when the data type is changed to float64 or the algorithm is changed to ball_tree the correct clustering results are obtained.
For context, the large values are geographic coordinates.
I suspect this is because of the use of squared euclidean distance in th

[2019-04-10 03:03] jnothman commented on #13604
Duplicate of #9354. Comment there?

[2019-04-10 03:03] #13604 closed

[2019-04-10 03:06] sam-yusuke commented on #13557
@NicolasHug
Thank you for reproducing.
Yes.I think big gamma is the problem. I also found [a similar issue](https://github.com/scikit-learn/scikit-learn/issues/4648). I guess some value has gone to infinity and doesn't converge in the solver.
It will be very helpful if any warning is printed with such situation.

[2019-04-10 04:22] jnothman commented on #3846
[code]

Not certain this is accurate

[2019-04-10 05:32] joseortiz3 opened #13605 "Gaussian Process kernel WhiteKernel has unhelpful "noise_level" documentation"
#### Description
The `WhiteNoise` class of kernel has an unhelpful and misleading description. It simply says "noise_level is a parameter". It doesn't say it corresponds to variance of a gaussian noise.

#### Steps/Code to Reproduce

From [the docs](https://scikit-learn.org/stable/modules/generated/sklearn.gaussian_process.kernels.WhiteKernel.html)

From the [source](https://github.com/scikit-lear

[2019-04-10 06:07] alegonz commented on #13555
@jnothman
Do you have any thoughts?

[2019-04-10 07:28] jnothman commented on #13605
Fyi it's fine to submit a pull request without creating an issue first

[2019-04-10 07:29] jnothman commented on #13555
I'm trying to focus towards a release now... No strong opinion at this point

[2019-04-10 07:47] joseortiz3 commented on #13605
Haha, that would make sense.

[2019-04-10 08:09] scouvreur commented on #13595
Sure @ivsanro1, I will mention you in the PR so you can also give your feedback and comments. Just to check, the paper you are referring to is *"V-Measure: A conditional entropy-based external cluster evaluation measure"* (A. Rosenthal et al.) mentioned in the [v_measure docs](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.v_measure_score.html) ?

[2019-04-10 08:36] adrinjalali commented on #3846
This may be a more accurate one, still has false positives. Also, assuming we don't need examples for Mixin and Warning classes.

[code]

[2019-04-10 08:53] albertcthomas commented on #12249
This is the correct behavior. The model will classify some records as being outliers even if they are in fact normal records (false positives).

[2019-04-10 10:39] AlexandraBomane opened #13608 "using compute_sample_weight for the fit_params of cross_val_predict"
I would like to know if it is possible to use "compute_sample_weight" within "cross_val_predict" to provide sample weights in fit_params?

I'm using the following code:
`y_pred = cross_val_predict(clf, X, y, cv = cv, method = 'predict', fit_params = {'sample_weight':compute_sample_weight("balanced", y)})`

But I think that it is not correct because `compute_sample_weight("balanced", y)` computes w

[2019-04-10 11:01] jnothman commented on #13608
No there is no straightforward way to do this at the moment. Consider using
the Pipeline from the imblearn library for now. This will be solved with
#3855 I hope.

[2019-04-10 11:08] jnothman commented on #3846
Yes, I had the wrong lookup, giving many false positives. This is better:
[code]

This is 76 while your list is 62: it excludes `base.*` and `exceptions.*` which is fair enough, @adrinjalali, while including strange things like `Sum`.

[2019-04-10 11:09] jnothman commented on #3846
Sorry, we both include Sum. Silly.

[2019-04-10 11:21] jnothman commented on #2354
@jeremiedbb, could you check how it used to work for sparse in 0.13.1?

[2019-04-10 11:27] #10743 closed

[2019-04-10 11:29] qinhanmin2014 commented on #12644
Hmm, I double checked our nighty builds, seems that the failure disappears :) Let's reopen if the error persists.

[2019-04-10 11:37] jnothman commented on #2746
We can add a parameter where the user can specify how much jitter to add to y. In the post above, the jitter is uniformly distributed, but I assume gaussian jitter would work too, in which case the user could specify its variance?

[2019-04-10 11:40] jnothman commented on #2089
I think @Franck-Dernoncourt's issue here is different to the original post. I'm going to open this as a new Issue so that it doesn't get lost.

[2019-04-10 11:40] #2089 closed

[2019-04-10 11:42] qinhanmin2014 commented on #12644
ping @thomasjpfan to see if we're wrong.

[2019-04-10 11:42] jnothman opened #13609 "PLS reports "array must not contain nan" if a feature is constant"
Originally reported at https://github.com/scikit-learn/scikit-learn/issues/2089#issuecomment-152753095 by @Franck-Dernoncourt. Reproduce with:
[code]

The obscure error message is due to the presence of a column containing only 0.

[2019-04-10 11:45] alegonz commented on #13555
@jnothman
No worries. I can ask again once the release is done :)

[2019-04-10 12:19] MarcoGorelli opened #13610 "No `predict` method for `DBSCAN`"
#### Description
For KMeans, there is a `predict` method: https://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html#sklearn.cluster.KMeans.predict

However, for DBSCAN there isn't, although there are `fit` and `fit_predict` methods.

Would a separate `predict` method be of any use to the community? If so, I can submit a pull request.

[2019-04-10 12:21] chanshing commented on #3699
@fulmicoton At least the following wikipage on operation complexities supports your result
https://en.wikipedia.org/wiki/Computational_complexity_of_mathematical_operations

[2019-04-10 12:26] MarcoGorelli commented on #13610
I just noticed that this has already been discussed here: https://github.com/scikit-learn-contrib/hdbscan/issues/57

Sorry for not having checked more thoroughly before filing the issue, I'll be more careful in the future.

[2019-04-10 12:26] #13610 closed

[2019-04-10 13:32] tf3193 opened #13611 "Using joblib to dump a scikit-learn model on x86 then read on z/OS passes in Decision Tree but fails on a GradientBoostingRegressor"
#### Description
Joblib loading works when serializing a Decision Tree classifier on x86 machine(MacOS) and loading it on z/OS however it fails when loading a GradientBoostingRegressor which has been serialized in the same way. I have made small changes into NumpyArrayWrapper to detect endianness and if loading on an incorrect endian system it would call array.byteswap(). However the object return

[2019-04-10 13:35] AlexandraBomane commented on #13608
Which solution from this post could solve my problem?

[2019-04-10 13:49] sstone2423 commented on #13611
I am also having this issue. I've tried only using pickle with similar results.

On x86 (Mac OSX)
[code]
Output:
[code]

On z/OS:
[code]
Output:
[code]

[2019-04-10 13:51] amueller commented on #13499
Anything that actually enforces an experimental module will break pickles, I think.
I like this one, though having a better error message would be nice, like "Import error, you have to do this thing if you really want it".
Though what you would have to do to make that work is probably not worth it and will bring in too much complexity. So I think the solution proposed by @ogrisel / @NicolasHug is

[2019-04-10 14:40] fcole commented on #2746
Wow, thanks for taking a look at this.

Yes, I'd figure some kind of noise parameter with a sensible default (maybe 10e-5 or something for single-precision floats) should work. I guess it doesn't matter much, but uniform noise might be preferable to gaussian since the parameter could be a bound on the magnitude of the noise.

[2019-04-10 15:21] MarcoGorelli commented on #13609
What would you like to see instead? An assertion when the `fit` method is called that checks that no feature is constant, and returns a clear error if the assertion fails?

[2019-04-10 15:30] smarie opened #13612 "Robust versions of Linear Regression / Lasso / ElasticNet using LAD (L1-loss)"
In our team we happened to use L1-loss (LAD, least absolute deviation) linear regression, with or without L1 or L2 regularizers (so the lasso/elasticnet variants). The interest is to have robust linear regression as L1 is much less sensitive to outliers in the data. That solution is supposed to be much faster than for example `Ransac` that is available in scikit-learn.

I usually rely on general s

[2019-04-10 19:29] sebastiangonsal opened #13614 "instantiating a ColumnTransformer with already fitted transformers"
Can I instantiate a ColumnTransformer with already fitted transformers? I get an error right now saying the `fit` wasn't called on `ColumnTransformer`. I don't want to call `fit` on the transformer since I am using already fitted transformers and just want to use `ColumnTransformer` to aggregate the columns into a matrix.

[2019-04-10 19:40] amueller commented on #13257
@jarrodmillman thanks for the quick reply!

[2019-04-10 19:41] #13590 closed

[2019-04-10 19:51] instylefreedom opened #13615 "Failure: doctestfailure assertion error windows"
#### Description

Installed scikit learn developer environment on windows 10 64bit with python 3.7.1 32 bit
pytest sklearn gives doctestfailure and assertionerror
I did see previous issue reports on previous version of scikit-learn having similar error but just wanted to make sure if the current version of error is happening due to other reason
Below are some of the doctestfailure and assertionerr

[2019-04-10 20:13] rth commented on #13036
I need to go through all the linked issues, but as far as I remember we fixed (or sometimes skipped) everything that we could reproduce, in particular on ARM64.

[2019-04-10 21:40] jnothman commented on #13608
Use Imbalanced learn: https://imbalanced-learn.readthedocs.io/en/stable/api.html

[2019-04-10 21:45] jnothman commented on #13611
We don't really support unpickling on different platforms, but if anyone
diagnoses this further and finds a solution, we would consider a pull
request to fix it.

If you are storing the model for prediction, I recommend ONNX

[2019-04-10 21:47] jnothman commented on #13499
pickles, I think.

That's why I proposed not using imports to manage this: import as normal
but set a flag.

[2019-04-10 21:56] jnothman commented on #13609
Already we raise an error. Better that we actually do the pls but disregard
the 0-variance column. See some of the comments at the original post.

[2019-04-10 22:39] jnothman commented on #13612
We tend to avoid adding dependencies beyond scipy. Is there an
implementation with a scikit-learn-compatible API outside this library?

[2019-04-11 00:29] jnothman commented on #13614
No you can't. What use case do you have, seeing as the applicable columns
of the input are only identified when fitting the column transformer?

[2019-04-11 00:32] jnothman commented on #13615
Yes, internally we do not run doctests on 32 bit platforms because it's hard to make them cross-platform

[2019-04-11 00:32] #13615 closed

[2019-04-11 05:02] jnothman commented on #3020
This has been hanging around a long time and may deserve a fresh look

[2019-04-11 05:05] jnothman commented on #4194
I don't understand the suggestion, @adrinjalali. Example?

I don't think we have justified adding get_params to BallTree yet. It's not used as a constructor parameter (is it?) so I don't see the point

[2019-04-11 05:06] jnothman commented on #4194
I consider this minor and have cleared the milestone

[2019-04-11 06:53] jnothman commented on #10217
Closing as duplicate (part) of #4441

[2019-04-11 06:53] #10217 closed

[2019-04-11 08:05] c56pony opened #13616 "Allow setting of initial hyperparameters of BayesianRidge"
#### Description

I propose to be able to set initial values ​​of the hyperparameters (alpha, lambda) in BayesianRidge().fit.

I tried to fit a sinusoidal curve with polynomials by Bayesian ridge regression, but the default initial values did not work well (left figure).

So, I corrected the fit method of the BayesianRidge class so that I could set the initial value, and the regression worked well

[2019-04-11 08:37] jnothman commented on #13616
Please submit a pull request rather than posting code so that we can see
the differences more clearly and comment on them. If you are not
comfortable doing that, please let us know.

[2019-04-11 09:13] smarie commented on #13612
It is not clear if your question is about the CLP solver or about the LAD models themselves, I answer for the first option :)

Before going into details, I remind that solving L1-only problems such as LAD Linear regression requires a LP solver, while solving L1 and L2, or L2 alone, problems requires a QP solver.

[COIN-OR CLP](https://projects.coin-or.org/Clp) is a general-purpose LP/QP solver rel

[2019-04-11 09:24] c56pony commented on #13616
Thank you jnothman
I try it.

[2019-04-11 09:29] adiba opened #13617 "OneVsOneClassifier with KNeighborsClassifier different predictions on two-class dataset"
#### Description
I don't see why `OneVsOneClassifier(KNeighborsClassifier(8, "distance"))` should give different results than `KNeighborsClassifier(8, "distance")` on a two class dataset.
The first line of the output corresponds to ovo, the second to ovr, the third is standalone. The remaining are for `SVC`.

#### Steps/Code to Reproduce
[code]

#### Expected Results
[code]

#### Actual Results
[c

[2019-04-11 10:37] adiba commented on #13617
I can take care of this one. Please assign.

[2019-04-11 11:06] NicolasHug commented on #13499
Could you expand a bit on this?

I'm running some grid search and pickling, raising an error in `fit` if `HistGradientBoostingXX.enable_experimental` hasn't been set, and I don't experience any error so far.

[2019-04-11 11:54] adrinjalali commented on #4194
In `neighbors/base.py` we have:

[code]

which, as far as I understand, is the place to take the other parameters such as the metric used to compute those trees, from the tree objects. To do that, the tree object needs to expose those parameters, and at the moment `BallTree` does not for instance.

I was thinking something along the lines of adding something like:

[code]

[2019-04-11 12:05] NicolasHug commented on #13616
In general we don't pass these parameters to `fit` but rather to `__init__`.

How did you choose the initial values `init = (1.,1.e-3)`? If this results from some kind of well-known initialization strategy, we could probably support it.

[2019-04-11 13:29] sstone2423 commented on #13611
It looks like ONNX isn't supported for z/OS unfortunately.

For the joblib example, the issue arises at https://github.com/scikit-learn/scikit-learn/blob/0.19.X/sklearn/externals/joblib/numpy_pickle.py#L106 .

I've found a way to fix the code if it enters the `else` block, but GBR produces some type of Python object that forces it to enter line 106, which then causes the tree error. It seems like

[2019-04-11 13:36] AlexandraBomane commented on #13608
I meant which feature of Imbalanced learn could help? Because I don't want to resample X and y, I just want to recalculate sample_weight according to X and y.

[2019-04-11 13:37] NicolasHug commented on #13611
Nothing to add to the issue unfortunately, but please be advised that importing from `sklearn.externals` isn't recommended. We'll stop vendoring joblib soon.

[2019-04-11 15:44] jamesmyatt commented on #13148
I agree that it's right for GroupKFold to try to balance the folds, since it's mandatory for certain scenarios. However, since this is done deterministically, it makes repeated GroupKFold impossible, since even if you shuffle the groups, the folds you get might be the same.

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/model_selection/_split.py#L506

My idea would be, rather th

[2019-04-11 15:50] jamesmyatt opened #13619 "Shuffled GroupKFold"
I agree that it's right for GroupKFold to try to balance the folds, since it's mandatory for certain scenarios. However, since this is done deterministically, it makes repeated GroupKFold impossible, since even if you shuffle the groups, the folds you get might be the same, for example, sizes of 5, 4, 3 in 2 folds will always be assigned (5, ) and (4, 3).

https://github.com/scikit-learn/scikit-le

[2019-04-11 16:17] rth commented on #7139
Another way could be to fit the estimator on some data, serialize it and hash the output. The hash should be be identical after fitting the estimator twice (I think). This would allow checking the reproducibility of estimators that e.g. do not implement predict, though it would fail to detect non-deterministic behavior in predict function itself.

[2019-04-11 16:27] oleksandr-pavlyk commented on #12263
We got bit by another one of these parallel tests, namely `sklearn/decomposition/tests/test_dict_learning.py::test_dict_learning_reconstruction_parallel`.

At the same time, the test `sklearn/decomposition/tests/test_dict_learning.py::test_sparse_coder_parallel_mmap` runs fine.

The difference between them is that the hanging one sets `n_jobs=-1`, while the working one is explicit `n_jobs=2`.

If

[2019-04-11 17:00] adrinjalali commented on #13390
Is one of you already working on this? Sounds like fun to me :)

[2019-04-11 17:18] NicolasHug commented on #13390
There is https://github.com/scikit-learn/scikit-learn/pull/13543

[2019-04-11 20:11] aditya1702 opened #13621 "Stratified GroupKFold"
#### Description
Currently sklearn does not have a stratified group kfold feature. Either we can use stratification or we can use group kfold. However, it would be good to have both.

 I would like to implement it, if we decide to have it.

[2019-04-11 22:47] espg opened #13622 "Gaussian Process Regression has false exception"
#### Description

Gaussian Process Regression throws a "non-positive definite matrix" error when it shouldn't.

#### Steps/Code to Reproduce

Without using sklearn, we get no error on the decomposition:

[code]

...returns no error, no exception, no warning.

Doing the same with gaussian process regression imported:

[code]

Yields this error:

`     38     if info > 0:`
`     39         raise Lin

[2019-04-12 02:36] magicmathmandarin commented on #5975
Hello, anything built for these distributions? Curious about any updates. Thanks.

[2019-04-12 03:24] jnothman commented on #4194
I'd rather raising an error than copying those parameters, but I suppose I
get what you're saying. I don't think this really corresponds to
get_params, and certainly set_params is not applicable to something fit
upon construction. Easier just to expose and check parameters individually.

[2019-04-12 03:24] jnothman commented on #13499
Is that on dask or just loky? If class attributes are not transmitted
across a distributed cluster, it might not work

[2019-04-12 03:24] jnothman commented on #13608
Yes, I can't recall whether the last release allowed the resampler to
modify a changed sample_weight. We hope to support that case here
eventually...

[2019-04-12 03:28] c56pony commented on #13616
Since the initial values are used locally,  I think that it is better to be able to set the parameter each time you fit, rather than when creating a class.
But, corrections are possible if required.

When starting from the default values (alpha_0 =1.90, lambda_0 = 1.),
the bias of the resulting curve gets big, and the variance gets small.
Therefore, I decided to set λ relatively small (1.e-3) so a

[2019-04-12 03:48] jnothman commented on #13148
I like the idea of trying to implement a weighted random selection. Willing
to review a PR

[2019-04-12 04:25] c56pony commented on #13616
add final alpha, lambda and evidence(logL)
![Figure_1](https://user-images.githubusercontent.com/40843206/56012172-29075e80-5d26-11e9-8aa2-953e6acb366e.png)

[2019-04-12 09:28] Tjalling-a-a opened #13624 "Feature utils/validation.py->indexable should check sparse format"
#### Description
indexable(*iterables) should not arbitrarily format all sparse matrices to csr format.

#### Steps/Code to Reproduce
[code]
#### Expected Results
No error is thrown

#### Actual Results
AssertionError

#### Suggested feature
[code]
And/or other formats if needed (I only needed to not have the csc reformated)

I have only tested this for my own code, and haven't tested if this woul

[2019-04-12 11:57] thenomemac commented on #5975
I'd be personally fine with closing this issue to help the contributors
focus. Reasons:

- The python landscape has changed
- statsmodels is now much more mature and includes these distributions with
proper exposure weighting
- jit based implementations via pytorch or tensorflow make it easier to
implement any esotaric loss with no performance penalty or package
recompilation

On Thu, Apr 11, 2019

[2019-04-12 13:48] stollpa opened #13627 "nearest neighbor mahalonis distance is different of DistanceMetric.get_metric('mahalanobis')"
Hi, I am not sure if this is the correct place to put this question. But maybe you can help me. I was using k nearest neighbor with mahalanobis distance. I wanted to check if the distance I get is the same as with the package: DistanceMetric.get_metric('mahalanobis') but there is actually a difference. Can you maybe tell me where this difference comes from?

**Here is my code:**
[code]

**The outp

[2019-04-12 13:58] jeremiedbb commented on #13627
The right metric param for `mahalanobis` distance is `VI` not `V`. And its value is not the cov but the inverse cov. If you want to specify the `VI` parameter you should put `np.linalg.inv(np.cov(X.T)).T`

[2019-04-12 15:34] stollpa commented on #13627
Ah, I thought I read somewhere, that one can use both, either V or VI. But thanks, that solves the problem.

[2019-04-12 15:34] #13627 closed

[2019-04-12 15:43] NicolasHug commented on #13622
It's pretty hard to reproduce with a matrix that's more than 1GB big. Would you have a smaller example?

In any case it seems that the sklearn is messing with the version of `cholesky` that is imported. Maybe it's because we're using absolute import in `gpr.py`?

In any case, why do you need to import `gpr`?

[2019-04-12 15:57] NicolasHug opened #13629 "Remove absolute imports"
In a lot of files, we're still using absolute imports for scikit-learn tools. These should be relative import instead.

[code]

[2019-04-12 16:01] jamesmyatt commented on #13148
@jnothman , I've moved that comment to https://github.com/scikit-learn/scikit-learn/issues/13619, since this thread is closed.

[2019-04-12 16:02] aditya1702 commented on #13621
@NicolasHug What do you think?

[2019-04-12 16:03] aditya1702 commented on #13629
Will resolve this

[2019-04-12 16:13] ogrisel commented on #13499
pyspark, dask, Ray and loky all use serialization (based on cloudpickle or arrow or specialized serializers) with Python worker processes that share no state with the client Python process.

When unpickling an instance of a class, the definition of the class is re-imported in the worker Python process from the file on the filesystem. So any mutation on the class definition itself is not propagated

[2019-04-12 16:41] TomDLT commented on #13624
Cross-validation is based on splitting the data along samples, i.e. the first data dimension in scikit-learn, i.e. the rows of the data matrix. Indexing sparse matrices along rows is inefficient in CSC format, but efficient in CSR format, which is why we transform the format to CSR.

This is also described in the docstring:
[code]

Why is it a problem for you to transform the format to CSR?

[2019-04-12 17:03] TomDLT commented on #13622
Is it possible that importing scikit-learn is changing which CBLAS is used by scipy ?
We recently removed our bundled CBLAS #11638, can you reproduce on master ?

[2019-04-12 20:24] azrdev opened #13631 "Do not require lexicographic order of classes_ and assume max()=positive class"
I'm implementing a classifier[1] which does *concept learning*, i.e. unsymmetrical binary classification with a (sometimes user-defined) *target/positive class* and the learned model describing that class, while everything not matching the model is classified as the other "negative" class.

I'm stumbling across the documented[2] assumption that `classes_` be sorted lexicographically and the positi

[2019-04-13 00:06] drhpc opened #13632 "Build failure with lots of cblas API errors"
#### Description

I am trying to build scikit-learn from the pkgsrc packaging scripts on CentOS 7.6/x86_64. We keep a minimal installation from CentOS and then put our own build of gcc+binutils on top to then get software via pkgsrc. I am working on improving BLAS support and carry some local patches for that. The libcblas is the generic netlib code that then links to OpenBLAS. I built a number of

[2019-04-13 00:08] drhpc commented on #13632
Oh, I omitted the actual compiler line:
[code]

[2019-04-13 05:45] MaggieX commented on #12720
yes.. any suggestions on how to resolve this?

[2019-04-13 06:41] qinhanmin2014 commented on #12720
Why? See the example section in our doc. https://scikit-learn.org/dev/modules/generated/sklearn.preprocessing.OneHotEncoder.html

[2019-04-13 07:26] agramfort commented on #5975
we are currently allocating resources to help with
https://github.com/scikit-learn/scikit-learn/pull/9405
and make it (at least some parts) land in master. It should be tackled over
the next months.

[2019-04-13 07:31] agramfort commented on #13612
you have a LP solver is recent scipy.

See
https://github.com/flatironinstitute/least_absolute_regression/blob/master/lae_regression/lae_regression/least_abs_err_regression.py#L36

also not that LAD is quantile regression with 0.5 quantile. statsmodels
seems to have a solver based on reweighted least square which would be
trivial to do with any scipy version (although maybe? slower than using an
L

[2019-04-13 09:54] Tjalling-a-a commented on #13624
You are completely right.
Thank you for the explanation!

[2019-04-13 09:54] #13624 closed

[2019-04-13 10:27] thenomemac commented on #5975
Awesome work !

On Sat, Apr 13, 2019, 3:27 AM Alexandre Gramfort <notifications@github.com>
wrote:

[2019-04-13 13:06] smarie commented on #13612
Thanks for the link ! I know that scipy has a LP solver but I was tempted to think that this would be largely less fast and robust than one of the "serious" solvers that people from the optimization domain use. But honestly I did not check nor compare so this comment has not much validity :) I could not find much comparison references, only [this open discussion ](https://stackoverflow.com/questio

[2019-04-13 13:18] magicmathmandarin commented on #5975
It would be great to have GLM in sciki-learn.  This will reduce the need to go to other languages.  Looking forward to it.

[2019-04-13 15:44] Bharat123rox commented on #13268
@LakshKD and @thegaribguy don't seem to be active, so I made the PR, I hope that's okay @jnothman

[2019-04-13 19:10] boyuanmike commented on #13383
Hi. I am new to this. Can you help me point out where I can find the runtime of those examples in CircleCI?

[2019-04-13 21:10] NicolasHug commented on #13621
Might be interesting in theory, but I'm not sure how useful it'd be in practice. We can certainly keep the issue open and see how many people request this feature

[2019-04-14 04:59] prempv commented on #11602
So, I see that the corresponding [code here in ridge ](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/ridge.py#L85) and [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/ridge.py#L99) is now passing `atol='legacy'`. With the release now complete,  is this still an open issue?

[2019-04-14 05:19] jnothman commented on #13631
Is the problem that you want to define decision_function such that the
greater value corresponds to the positive class? Otherwise I can't see any
real problem maintaining the convention but asking the user to specify
which class is to be considered positive (perhaps with a pos_label
parameter as we do in metrics).

[2019-04-14 05:29] jnothman commented on #13617
Is this fixed in master? Try the nightly build: https://scikit-learn.org/dev/developers/advanced_installation.html#installing-nightly-builds

[2019-04-14 05:58] jnothman commented on #11602
Yes, looks like it was fixed in cfb45a902f164ce698004c68203739499951c2aa. Thanks

[2019-04-14 05:58] #11602 closed

[2019-04-14 06:29] dickwxyz opened #13637 "Need T-values in Lasso Regression"

[2019-04-14 09:38] adiba commented on #13617
I doubt it. Either way, it would make sense to add tests.

[2019-04-14 10:52] mloning commented on #11893
What's the reason why none of the CV iterators support a single split (`n_splits=1`)?

[2019-04-14 13:20] jnothman commented on #13617
Why do you doubt it? Sure. A PR adding tests is welcome.

[2019-04-14 14:50] qinhanmin2014 opened #13638 "precision issue of log_logistic?"
Apologies if I'm wrong, but the precision of log_logistic seems low, e.g.,
[code]
Influence to LogisticRegression
[code]
Result from master:
[code]
Result after replacing log_logistic with a self-defined function (much slower of course):
[code]
[code]
I found this when trying to provide a minimal implementation of typical algorithms in sklearn.

output of sklearn.show_versions:
[code]

[2019-04-14 17:42] tommyod opened #13639 "Choice of words in documentation"
Hi all,

I was browsing through the start of the the documentation, and didn't get far before noticing that quite a lot of synonyms are used in `modules/linear_model.rst` ([html](https://scikit-learn.org/dev/modules/linear_model.html) and [source](https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/linear_model.rst)).

## Example 1

In the introductory paragraph for the Lasso, thr

[2019-04-14 21:37] thomasjpfan commented on #13638
[code]

[2019-04-14 21:42] jnothman commented on #13611
Perhaps if we forced the data to be interpreted with a particular
endianness when restoring the pickle you would at least get the right
result but it might be slow on that platform...

There are tools other than ONNX for exporting trees for production, such as
pmml and the tree transpiler. See our related projects page.

[2019-04-14 21:43] jnothman commented on #13619
I like the idea of trying to implement a weighted random selection. Willing to review a PR

[2019-04-14 21:57] jnothman commented on #12263
Sure, please open a pr with explicit n_jobs in the tests.

[2019-04-15 00:42] rishabhgit commented on #2879
Hi @amueller , @jnothman ,

Has this issue been fixed? I'm trying to run Randomized Search CV with sample_weights both as a scoring param and fit param. Here is a code snippet:
[code]
But, RandomizedSearchCV does not split the sample weights column when splitting the data into train and test sets. Here's some output about the array shapes and the error:
[code]

[2019-04-15 02:07] rishabhgit commented on #3973
Hi @amueller , @rasbt ,
I've run into the same issue while trying to optimise hyper-parameters for a Random Forest Regressor.
My data set is not huge (~350k rows * 370 cols). Here's a snippet of the code that I'm using

[code]
I'm running this code on an EC2 server with 128 GB RAM. RandomSearchCV spawns more than 5 python processes which slowly consume all the RAM and run out of memory before the

[2019-04-15 02:41] qinhanmin2014 commented on #13638
Thanks, you're right and apologies for the noise. I'll try to figure out why I get different results and reopen if needed.

[2019-04-15 02:42] #13638 closed

[2019-04-15 03:12] thomasjpfan opened #13643 "Circle CI gallery freezing when building docs"
Circleci has been freezing randomly when the docs are building: https://circleci.com/gh/scikit-learn/scikit-learn/54723

[2019-04-15 03:12] jnothman commented on #13383
@vbarroso, under `./build_tools/circle/build_doc.sh`, download the full output as a file, and search for "computation time summary"

[2019-04-15 03:13] jnothman commented on #13621
Do you assume that each group is in a single class?

[2019-04-15 03:14] jnothman commented on #13621
See also #9413

[2019-04-15 03:15] jnothman commented on #13619
See also #5396, #9413

[2019-04-15 03:15] jnothman commented on #13637
Please provide a reference for these.

[2019-04-15 03:27] jnothman commented on #13639
Coefficients is fine?? Yes, I'd be happy to see that consolidation to align with the recently-developed glossary.

[2019-04-15 03:27] jnothman commented on #13639
Thanks!!

[2019-04-15 03:39] aditya1702 commented on #13621
@jnothman Yes, I had a similar thing in mind. However, I see that the pull request is still open

[2019-04-15 05:56] tommyod commented on #13639
I'll read through it and see what I can do @jnothman .

[2019-04-15 07:29] azrdev commented on #13631
I have such a parameter, but if the user specifies [the equivalent of] `pos_label=min(classes_)`, then my decision_function returns `>0` for it, which breaks the assumption that `predict(X) == classes_[decision_function(X) > 0]` (e.g. the test <https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/estimator_checks.py#L1733..L1735>)

[2019-04-15 08:21] jnothman commented on #2879
No we don't currently support weighted scoring in cross validation. Sorry. :'( Soon?

[2019-04-15 08:25] jnothman commented on #3973
@rishabhgit I don't think this issue is relevant...

[2019-04-15 09:13] jnothman commented on #13631
Yes, you're right we would need to establish a new convention here. Options
include: force the user to make the positive class the greatest; output a
2d decision_function; or output the decision_function corresponding to
pos_label

[2019-04-15 10:04] jamesmyatt commented on #13619
I'm hoping to get some time to try this in a few weeks.

[2019-04-15 10:07] qinhanmin2014 commented on #13638
My code is wrong, I should not use ``np.frompyfunc``. Thanks @thomasjpfan and apologies again for the wrong issue.

[2019-04-15 14:55] jeremiedbb commented on #2354
in 0.13.1, `gcv_mode='eigen'` was not forced with sparse input, so it would have used 'svd' int this case because `n_samples > n_features`. Interestingly, it has been changed to avoid memory blowing :)

[2019-04-15 15:18] amueller commented on #13631
can you explain that? Is that enforced in a test? Then that test is not good. I think you should do tie-breaking any way you want.

I'm not sure I understand how your model doesn't fit into our current framework.
It sounds like it's a standard binary classification task?

[2019-04-15 15:21] amueller commented on #13631
Can you maybe give some examples of what ``y_train`` and ``y_pred`` and ``decision_function`` would look like in your ideal setting?

[2019-04-15 16:17] adrinjalali commented on #5488
I feel like this is one of those issues which we can close because we don't have enough information, specially since a lot has changed since then (python version, pytest, etc.)

[2019-04-15 16:42] hlin117 commented on #5488
Unfortunately I do not have El Capitan installed on my laptop anymore. Will
agree to closing this issue.

On Mon, Apr 15, 2019, 12:18 Adrin Jalali <notifications@github.com> wrote:

[2019-04-15 16:44] adrinjalali commented on #5488
Thanks @hlin117

[2019-04-15 16:44] #5488 closed

[2019-04-15 16:48] scouvreur commented on #13637
Hi @dickwxyz - could you provide a minimal example or more details on what you refer to ?

[2019-04-15 18:29] NicolasHug opened #13647 "New tag: checking_init_parameters"
The default parameters of an estimator aren't necessarily the parameters with which we want to check it.

There is the `set_checking_parameters()` utility for this.

It could be useful to get rid of it and introduce instead a `checking_init_parameters` tag. This way, third party estimators could also benefit from this.

[2019-04-15 18:54] aditya1702 commented on #13647
@NicolasHug I can work on this one too. Will submit a PR for the relative imports issue by today

[2019-04-15 19:03] NicolasHug commented on #13647
Let's wait for the other core devs feedback on this one. This is just an idea for now ;)

[2019-04-15 19:59] yc2311 commented on #12793
Hey guys, I think the glitch is still there. Its reproducible on Safari and Chrome, but not on firefox.

I was wondering if anyone is working on this? If not, I would love to try and help out.

[2019-04-15 20:00] Framartin commented on #13383
I started to take a look at the `examples/neural_networks/plot_rbm_logistic_classification.py` example and I might start working on other mentioned ones.

[2019-04-15 20:40] #13040 closed

[2019-04-15 21:14] jamesBrosnahan commented on #8242
What should a person do if the original computer an issue occurred on is mia?

[2019-04-15 22:32] CatChenal commented on #12793
Re: jnothman> It could be a bug with chrome on Mac.
Me tinks too!

[2019-04-15 23:24] jnothman commented on #13647
#11324 is an attempt at this. It is somewhat orthogonal to estimator tags. It is also not necessarily as straightforward as it looks. I'm happy to see #11324 continued or superseded, but I think it needs  someone with a lot of experience working with and ideally developing and testing scikit-learn estimators, so I don't have reason to believe it would be a task for you @aditya1702.

[2019-04-15 23:34] jnothman commented on #8242
If you can't reproduce the error, we probably can't either.

[2019-04-15 23:41] scouvreur commented on #13629
Hi @aditya1702 - would you mind if I worked on some of these ? For instance, I could take the bottom of the list from `/sklearn/tree/` and `/sklearn/utils/` ?

[2019-04-15 23:47] jnothman commented on #4710
@btel, what's the status of this?

[2019-04-15 23:49] jnothman commented on #4781
Marked as help wanted since @eickenberg didn't solve this in 2015 ;)

[2019-04-15 23:50] jnothman commented on #4914
Clearing the milestone until someone can reproduce outside of aqppveyor

[2019-04-16 00:29] jnothman commented on #5664
I'm not sure if the problems with GPs stand, but I'm going to rewrite this issue as it's confusing for newbies.

[2019-04-16 00:29] #5664 closed

[2019-04-16 00:29] eickenberg commented on #4781
hmmm I guess I did not get round to that :fearful:  thanks @jnothman yes, definitely help wanted

[2019-04-16 00:32] jnothman opened #13650 "Should avoid global seterr calls in test files"
From https://github.com/scikit-learn/scikit-learn/issues/5664#issuecomment-246439919,  there are global seterr in test files:

[code]

Having this set globally affects other test files, and does not necessarily set the error state for the tests in that file. We should instead use a fixture to enable warnings, or use `errstate` in tests that need it.

On the other hand, we should consider investiga

[2019-04-16 00:38] aditya1702 commented on #13650
@jnothman Maybe I can take this one up then?

[2019-04-16 00:49] jnothman commented on #6240
So should we be getting rid of `predict_proba` with `loss='modified_huber'`?

[2019-04-16 00:53] jnothman commented on #6240
(Sorry, removed that comment.... This is about tie breaking and it may be messy.)

[2019-04-16 01:04] jnothman commented on #6334
The stride can differ from the number of features if the data is not contiguous (e.g. a slice of columns was extracted at some point). I think the `intp` fix in #6363 is okay. Happy to close?

[2019-04-16 01:08] #7406 closed

[2019-04-16 03:14] jnothman commented on #7563
I have no idea what our development objectives are to resolve this issue. Detect cases where we can give more specific warnings? Document issues that might lead to "fmin_l_bfgs_b terminated abnormally"?

[2019-04-16 03:36] aditya1702 commented on #13629
@scouvreur I was almost finished with the task before you commented. Was AFK and created a pull request now

[2019-04-16 03:44] jnothman commented on #7492
Using `KD(..., breadth_first=False)` we get different surprising results at 80:
[code]

The fact that this is so brittle to `leaf_size` when
https://github.com/scikit-learn/scikit-learn/blob/fd93ea03b1e53af4ca544405c2a5b3abfa9389e8/sklearn/neighbors/binary_tree.pxi#L277
makes me suspect problems with the `kernel_density` method when not doing brute force.

https://github.com/scikit-learn/scikit-le

[2019-04-16 03:54] jnothman commented on #6725
I think the warning is okay. We could change it to an error, otherwise we should close this.

[2019-04-16 04:06] jnothman commented on #11908
I suppose we'll delay this again?

[2019-04-16 04:15] aditya1702 commented on #13650
I am working on this.

[2019-04-16 04:33] aditya1702 commented on #13650
@jnothman  I think you are right - np.errstate() will solve this issue. We can add this in tests which use np.seterr()

[2019-04-16 07:35] adrinjalali commented on #4914
Since we've moved away from appvayor, I'd say we close this one and open a new one if it occurs on our new CI.

[2019-04-16 07:35] #4914 closed

[2019-04-16 09:06] jeremiedbb opened #13654 "Common test for memmap when fitting estimators should use appriopriate dtype"
The common tests `check_classifier_train` and `check_regressor_train` with `readonly_memmap=True` use float64 data. However, all tree based estimators requires float32 data, leading to a copy and resulting in not actually testing on read-only memmap.

We could either run the tests with both dtypes, but it would make the test twice as long, or add a new estimator tag holding with dtype is copying.

[2019-04-16 09:30] azrdev commented on #13631
Yes, in [check_classifiers_predictions](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/estimator_checks.py#L1741).

---

Except that it treats the two classes differently. I'm learning rules (a variant of the algorithm is RIPPER/JRip which you might know from weka), e.g.
[code]

which are (in the binary, "concept learning" case) evaluated sequentially, i.e. only if none of

[2019-04-16 11:06] leReppiz opened #13656 "MLPRegressor, warm_start not working as expected"
I think I found a bug when it comes to the MLPRegressor (in v.0.20.3), especially with "warm_start" set to true. The problem occured to me, as well as to other people I know.

We have a dataset with some training data, and try to train the NN, with MLPRegressor, of 5000 iterations, 50 hidden neurons in one layer and the fixed random seed 0.
[code]

This works as expected, however if we create an M

[2019-04-16 11:19] thomasjpfan commented on #13656
What kind of results do you get when you use sgd as a solver?

[2019-04-16 11:44] leReppiz commented on #13656
with stochastic gradient descent, the results are more similar to each other, but the learned function itself looks not really well.
What I mean is, the prediction of my trainingsset, looks like a linear function (a straight line), allthough it should be a polynomial function.

[2019-04-16 11:49] leReppiz commented on #13656
For clarification, when using lbfgs as solver, the upper image is the learned function, using max_iter = 1 and warm_start, and fitting it over a 5000 iteration loop, the lower image, is the learned function, using max_iter = 1, and fitting once.  (the test data in the plot can be ignored)

https://imgur.com/a/qriYtkw

[2019-04-16 12:22] scouvreur commented on #13654
Hi @jeremiedbb - I am a quite new contributor to scikit-learn, do you think I could take this ?

[2019-04-16 12:30] jeremiedbb commented on #13654
Sure but we first need to decide which solution we want to implement

[2019-04-16 13:59] amueller commented on #11821
Our options are to download arff and convert locally once, or to download a binary format, right?
If we download a binary format, we need to be able to read it, though, which requires a dependency. I'm sure openml would be happy to add an additional endpoint for us to get parquet, but then we need to depend on a parquet loader.

[2019-04-16 14:23] amueller commented on #11821
In a completely unscientific experiment, scipy took 27s to load the mnist arff and liac-arff took 17s.
In a rerun scipy took 22 and liac-arff again 17.

@raghavrv's pyarff: https://github.com/pyarff/pyarff
takes 0.8 seconds.

Maybe that would be worth taking up for dense datasets?

[2019-04-16 14:58] amueller commented on #11821
before I delegate @thomasjpfan to another thing he should probably finish up all his amazing half-finished PRs so if someone else wants to work on this in the meantime ;)

[2019-04-16 18:38] thomasjpfan commented on #13448
Going over this discussion, I agree with **not** adding a `sklearn.plot` module, and use the prefix `plot_` to signal a `matplotlib` requirement.

For example, in https://github.com/scikit-learn/scikit-learn/pull/12599, `partial_dependence` and `plot_partial_dependence` will be placed in `inspection`.

[2019-04-16 19:16] NicolasHug commented on #13448
Ok, unless someone disagrees with this in the following days, I'm going to update the PDP PR and:

- put both `partial_dependence` and `plot_partial_dependence` in `sklearn.inspection`
- make `plot_partial_dependence` return a bunch with the `fig` and `ax` objects as attributes (right now it returns them in a tuple). This way, we'll be able to keep these 2 functions backward compatible when we imp

[2019-04-16 21:38] madvoid opened #13658 "Modify check_estimator to handle fit() additional keywords?"
#### Description
I'm creating a library that will hopefully be sklearn compatible eventually. I'd like to test the compatibility of my estimators using the ```sklearn.utils.estimator_checks.check_estimator()``` function. However, when passing in an estimator whose fit() method has additional keywords, ```check_estimator()``` breaks. From [here](https://scikit-learn.org/stable/developers/contributi

[2019-04-16 21:45] scouvreur commented on #13654
Got it - I see here you are referring to this:

https://github.com/scikit-learn/scikit-learn/blob/5bc3edccab42921332d54b88c2c595d333f16410/sklearn/utils/estimator_checks.py#L1406-L1409

https://github.com/scikit-learn/scikit-learn/blob/5bc3edccab42921332d54b88c2c595d333f16410/sklearn/utils/estimator_checks.py#L1828-L1831

For devs I think it's always useful if tests are short, that way they can be

[2019-04-16 22:22] kurmukovai opened #13659 "documentation typo Kernel density"
#### Description

Docs on Density Estimation contain typo:

$$K(x; h) \propto exp(-\frac{x^2}{2h^2})$$

should be:

$$K(x; h) \propto exp(-\frac{x^2}{2})$$

since $h^2$ has been already included in
$$\rho_K(y)$$

[2019-04-16 22:29] #13390 closed

[2019-04-16 22:46] btel commented on #4710
@jnothman intercept with sparse_cg was implemented in PR #13336 (merged).

[2019-04-16 23:33] jnothman commented on #13659
Please submit a pull request where we can review this in context

[2019-04-16 23:36] jnothman commented on #4710
So this should be closed? This issue implies that there was incorrect behaviour not just that the use case wasn't supported

[2019-04-16 23:42] #6172 closed

[2019-04-16 23:45] iodapro commented on #13609
As far as I understand we need to remove the warning message keeping the correct answer (when line yy[3,:] = [1,0,0,0,0] is uncommented ).
Can I try to solve this issue if nobody minds?

[2019-04-16 23:56] btel commented on #4710
Yes, the behaviour is fixed. Here are results of the test from the top in my local code:

[code]

with alpha=0

[code]

Note that I ran the test against PR #13363  (which is not yet merged).

[2019-04-17 00:20] NicolasHug commented on #13499
So using an attribute as a flag doesn't seem possible.

The GBDTs are ready to be merged (just need a whatsnew), unless someone disagrees I'll implement https://github.com/scikit-learn/scikit-learn/issues/13499#issuecomment-481407872

[2019-04-17 00:24] TomDLT commented on #4710
More precisely, it is fixed for "sparse_cg" (#13336) and "sag" solvers. It is not fixed for "cholesky" and "lsqr" solvers, and calling these solvers on sparse data with `intercept=True` results in using "sag" solver instead (with a warning, see #5360).

[2019-04-17 01:48] aditya1702 commented on #13650
The way to use local error settings is to enclose the code snippet within a _with_ statement like this

[code]

However, if we call the functions within the _with_ block from outside, the error settings are not set.

[2019-04-17 02:49] jnothman commented on #13499
Okay...

I think

[code]
should also work in that regime.

I'm not entirely sure about `enable_hist_gradient_boosting` starting with `enable` and hence looking like a function. I also fear that this results in an unused import which the linters won't like, so we should advise users to express this as:
[code]

[2019-04-17 02:50] jnothman commented on #4710
Right. I'd forgotten those details. Thanks for clarifying. Let's close!

[2019-04-17 02:50] #4710 closed

[2019-04-17 03:13] qihongl opened #13662 ".predict_proba() for SVC produces incorrect results for binary classification"
#### Description

`svm.predict_proba()` produces revered results for binary classification
- this seems to be specific to binary classification. For example, it works fine for 3 way classification, which is in the test: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/tests/test_svm.py#L307
- I think this is related to #394, but in this case we are using the same `svm` object s

[2019-04-17 06:18] rth commented on #13662
In SVC, `.predict` and `.predict_proba` are essentially results of two different models (that may sometime give inconsistent results). See https://github.com/scikit-learn/scikit-learn/issues/13211 for more information. I think this is something that needs to be fixed or at least documented better.

[2019-04-17 06:42] iodapro commented on #13464
@jnothman could you tell me please whether this issue was solved?

[2019-04-17 07:49] MarcoGorelli commented on #13609
Thanks ok with me :)

On Wed, 17 Apr 2019, 00:46 iodapro, <notifications@github.com> wrote:

[2019-04-17 09:59] jnothman commented on #13464
Yes, it should have been merged but for an oversight

[2019-04-17 11:03] azrdev commented on #11622
@rth commented on 24 Jul 2018

I think `pytest.mark.xfail(run=false)` is there for exactly such "workaround" cases, to be distinguished from `skip`.

[2019-04-17 11:11] #12793 closed

[2019-04-17 11:18] NicolasHug commented on #13650
I don't get any error even after removing `np.seterr(all='warn')` from both files.

@aditya1702 do you want to submit a PR that removes them, and see if the CI checks complain?

[2019-04-17 11:30] thomasjpfan commented on #13464
Resolved in #13465

[2019-04-17 11:30] #13464 closed

[2019-04-17 11:42] massich commented on #10446
I just came across this post https://towardsdatascience.com/mlapp-419f90e8f007

[2019-04-17 13:22] #12447 closed

[2019-04-17 13:24] amennen commented on #13662
Thanks for the information! After thoroughly testing with different category names (both numbers and letters), I'm confident that .predict_proba (1) orders the labels (2) returns the reversed order of the sorted categories as an array. For example, if your categories are 'A' and 'B', .predict_proba for a given sample will give you an array with column 0 = p(B) and column 1 = p(A).

The problem is

[2019-04-17 13:44] zyong812 commented on #10778
Confused by problem due to this default setting for a long time.
If it is not the bug, at least it should be mentioned in the doc, and can be changed the log base by passing parameters.

[2019-04-17 13:46] qihongl commented on #13662
@rth Thanks! btw, is there some description of how probability estimates are calculated? I didn't see any reference in the doc, is sklearn using [1]?

[1] Franc, V., Zien, A., & Schölkopf, B. (2011). Support Vector Machines as Probabilistic Models. In ICML (pp. 665–672). Retrieved from http://www.icml-2011.org/papers/386_icmlpaper.pdf

[2019-04-17 15:08] zyong812 commented on #10778
Actually, the solution to get log2 information is easy.
Just compute like
[code]

[2019-04-17 15:13] aditya1702 commented on #13650
@NicolasHug I will make a PR. Also, how do you run individual test files?

[2019-04-17 15:22] NicolasHug commented on #13650
`pytest path_to_file`

e.g.

`pytest sklearn/neural_network/tests/test_mlp.py`

also see some useful tips [here](https://scikit-learn.org/dev/developers/tips.html#pytest-tips)

[2019-04-17 15:54] Blazzers commented on #12980
Can i offer some better explanation on this documentation?

[2019-04-17 16:04] qinhanmin2014 commented on #13448
Can we make the final decision here?
Proposal agreed by @jnothman , @NicolasHug and me (apologies if I'm wrong): sklearn.XXX.plot_YYY (support from sklearn.XXX import plot_YYY). We'll mention that all the functions which start with plot_ requires matplotlib.
A major advantage of this proposal is that we don't need to move existing functions.

[2019-04-17 16:28] gerazov commented on #12728
Thanks for the patch @homarb! This would be great to add to `scikit-learn` as it would allow for randomized SVC/SVR search, like in GridSearchCV, i.e. this would work:
[code]
However, when I use your `ParameterSampler` or copy the entire `_search.py` from your pull request I get the following error:
[code]
For now the obvious workaround is to have a separate `RandomizedSearchCV` for each dictionar

[2019-04-17 16:42] agramfort commented on #13448
Sleeping over it I think it’s simple enough to explain and it avoids the difficulty to think of a shared plotting api between different modules.

[2019-04-17 16:45] #13629 closed

[2019-04-17 18:16] mfrr opened #13665 "LinearRegression, not working as expected"
#### Description
When I train the LinearRegression with a sparse matrix I get a small error ~ 75, but when I train with the dense version of the sparse matrix, I get a very different result, the error is ~ 190011367223, which is many times greater. [Here's the dataset.](https://github.com/scikit-learn/scikit-learn/files/3090933/input.zip)

#### Steps/Code to Reproduce
[code]
#### Expected Results

[2019-04-17 19:03] mitar opened #13666 "Unclear behavior of max_train_size argument in TimeSeriesSplit"
#### Description

So I am trying to understand the behavior of [`TimeSeriesSplit`](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html#sklearn.model_selection.TimeSeriesSplit). Especially the `max_train_size` parameter. I was initially surprised that it is an absolute number and not a ratio like it is in other splitting operations.

I traced this paramete

[2019-04-17 20:45] sy2002 commented on #4298
@rdragos your comment in conjunction with the (for me as a beginner) pretty cryptic documentation of RBFSampler inspired me to perform some experiments. Here are the findings in a [public Kaggle Kernel](https://www.kaggle.com/sy2002/rbfsampler-actually-is-not-using-any-rbfs).

[2019-04-17 22:56] amueller commented on #4298
@sy2002 I'm not sure why you say it "does something else", it does approximate the RBF kernel. It doesn't approximate radial basis functions, which it never claimed.

The point is that doing RBFSampler + LinearSVC is approximately the same as SVC('rbf') - which is quite different from using RBF basis functions.

It looks to me what Recht is calling RKS is actually the resulting model including the

[2019-04-17 22:58] amueller commented on #4298
In other words:
[code]
is from my (bad?) reading of matlab "just" computing ridge regression with regularizer lambda, data Z and targets y. The ``\`` is a multiplication from the left with the inverse matrix, methinks.

[2019-04-17 23:04] TomDLT commented on #13665
It seems like your matrix has a very large condition number:
[code]
Thus, a pure linear regression will be extremely unstable. It happens that `scipy.sparse.linalg.lsqr` and `scipy.linalg.lstsq` have different ways to be robust to matrices with large condition numbers, thus the different solutions.

To fix this unstability, I advise you to use `Ridge` instead `LinearRegression`.

[2019-04-17 23:27] jakebailey opened #13667 "Inspection of some cython produced functions causes segfault"
#### Description

Trying to access `__kwdefaults__` on some Cython produced functions, either by `getattr` or `hasattr`, segfaults the Python process. This occurs at least on macOS when scikit-learn is installed from PyPI using `pip install scikit-learn`. (I'm reporting a similar issue on `pandas`, where I can install via `pip install pandas --no-binary :all:` and no longer get the segfault, but I

[2019-04-17 23:27] jakebailey commented on #13667
See also: pandas-dev/pandas#26127

[2019-04-18 00:26] jnothman commented on #12980
Improvement to the docs are always welcome. Please just open a pull request.

[2019-04-18 00:28] #13362 closed

[2019-04-18 03:05] jnothman commented on #13448
Yes, let's do that. Make a helper function to provide a more helpful
ImportError

[2019-04-18 03:05] #13448 closed

[2019-04-18 03:10] jnothman commented on #13666
I'm okay to make the parameterization more helpful. Please also search for
other issues regarding TimeSeriesSplit

[2019-04-18 04:54] #13665 closed

[2019-04-18 05:05] mitar commented on #13666
Thanks. I have not found any issue related to this, but only this PR: #13204 I will add some comments there.

[2019-04-18 05:09] mitar commented on #6322
Just to see if I understand current state correctly. So we now have `TimeSeriesSplit` for homogeneous time-series, but there is nothing yet for heterogeneous?

Moreover, if my Pandas DataFrame contains multiple time-series in one DataFrame, current `TimeSeriesSplit` works well if all time-series are across same time range (for example, last 30 years of stock market data), but not if they come from

[2019-04-18 08:54] 66Antigravity opened #13668 "Support for Pandas DataFrames in kernels & heterogeneous kernel"
#### Description

Categorical features in datasets are commonly treated with One-Hot-Encoding. However, a Gram matrix of a dot kernel can be calculated much faster directly with:

[code]

On heterogeneous data, which contain both, numerical and categorical features, the Gram matrix can be then computed with:

[code]

This can be used as a combination not only for the linear kernel but also polynom

[2019-04-18 09:15] #13372 closed

[2019-04-18 12:52] NicolasHug commented on #13448
FYI, I'm adding `sklearn.utils.check_matplotlib_support` in #12599

[code]

[2019-04-18 13:37] qinhanmin2014 commented on #13448
That's great! Thanks.

[2019-04-18 15:37] drojasug opened #13672 "Get class and probability on same command"
It would be nice to have a command like predict and predict_proba merged. That returns the class and the probability for that class altogether.

[2019-04-18 17:07] #13639 closed

[2019-04-18 17:21] #8113 closed

[2019-04-18 17:21] #13489 closed

[2019-04-18 19:35] scoder commented on #13667
Cython 0.29.6 prevents this crash. I recommend switching to 0.29.7 since it also fixes another crash bug.

[2019-04-18 21:04] rth commented on #13672
Thanks for the suggestion. That would add a lot of maintenance work (a new method or parameter in all estimators) for relatively little gain. Not mentioning that adding another similar method would make the API a bit more confusing.

Currently the easiest might be to compute the probablity, then take its argmax to get the index of the predicted class.

[2019-04-19 03:27] qinhanmin2014 opened #13674 "Strange behavior of label_binarize when there's only one class in y"
When there's only one class in y, label_binarize produces unexpected result
[code]
version: 0.20.3 and 0.21 dev

[2019-04-19 18:16] #10113 closed

[2019-04-19 18:19] TatianaParshina opened #13678 "AttributeError: module 'scipy' has no attribute 'sparse' in sklearn/utils/fixes.py"
#### Description
I have updated sklearn, scipy (previously all worked fine). As a result, the error started to occur in sklearn\utils\fixes.py:
[code]
I have tried to execute the same import command from fixes.py and it failed with error:
[code]
Following command is working:
[code]

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown

#### Actual Results
[code]
#### Versi

[2019-04-19 18:57] lesshaste commented on #13637
I think they are referring to the t statistic https://en.m.wikipedia.org/wiki/T-statistic

[2019-04-19 19:05] NagabhushanS opened #13679 "Difference in scores returned by cross_val_score when n_jobs is set and when not set?"
I came across a weird issue while cross validating my lightgbm model using a TimeSeriesSplit cv.
Following is the sample code:

Here scores1.mean() is not equal to scores2.mean(). How is this possible? Is it that when n_jobs is None, it is uses warm_state to be True for subsequent TimeSeriesSplit folds and when n_jobs = -1, it has to train all models parallel and hence cannot reuse the parameters

[2019-04-19 19:20] agramfort commented on #13679
I suspect LGBMClassifier has its own way of interacting with random state
with multiprocess setting. It might affect the global state.

[2019-04-19 19:21] agramfort commented on #13678
this cannot be. I suspect you have a file somewhere called scipy.py or a broken install.

[2019-04-19 20:38] NicolasHug commented on #13674
I have no idea what's really going on but this is also quite fishy:

[code]

[2019-04-20 02:01] qinhanmin2014 commented on #13674
In the first example, y is binary so we'll pick the second column. I agree that it's also a bug.

[2019-04-20 09:03] TatianaParshina commented on #13678
Problem was solved when re-installed scikit-learn, scipy and numpy

[2019-04-20 09:03] #13678 closed

[2019-04-20 09:20] Freakwill opened #13681 "coordinates of test samples in PCA algorithm"
After fitting a PCA model, we reconstruct the test samples as `X_rec=pca.inverse_transform(pca.transform(X_test))` that is the combination of components, e.g. `a1c1+a2c2 + mean`. But sometimes, we only want to get the coordinates of `X_rec`, that is the coefficients on the components `(a1, a2)`. Do we have such api?

[2019-04-20 09:34] yngvem commented on #9967
The lightning implementation of group lasso doesn't allow for specifying groups ([explanation here](https://github.com/scikit-learn-contrib/lightning/issues/39)).

I have implemented a prototype group lasso using FISTA that seems to work and would be happy to submit a pull request if you think group lasso should be added to scikit-learn. I still need to work on making sure it follows the scikit-le

[2019-04-20 10:25] agramfort commented on #9967
I still think that such as code should be in a separate package. I am
pretty sure you can already find some implementations on github.

[2019-04-20 11:10] yngvem commented on #9967
I might still try to implement this following the sklearn API properly as an exercise (maybe using the Lasso class for guidance).

However, I do not want to clutter you with unwanted pull requests, I'm therefore curious why you think it should be in a separate package. Is the reason that you do not have time to give guidance (which is totally reasonable) or if you don't think this functionality sh

[2019-04-20 11:10] yngvem commented on #9967
[pyglmnet](url)

[2019-04-20 11:22] NagabhushanS opened #13682 "How is sklearn's cross_val_score implemented?"
I implemented my custom cross_val_score using KFold as cv. But I am getting different scores on my cross val score implementation and that on sklearn's cross_val_score. Following is the code:

[code]

Here _scores1_ and _scores2_ are way different. How is this possible? Is cross_val_score implemented differently than how I implemented?

[2019-04-20 11:38] ChahidAbderrazak commented on #7845
Thank you

[2019-04-20 12:44] #13412 closed

[2019-04-20 13:38] NicolasHug commented on #13682
Your implementation seems correct and I get the same results for score1 and score2.

If you need more details you can of course look at the code.

[2019-04-20 13:41] NicolasHug commented on #13681
I think what you want is `pca.components_`

[2019-04-20 15:19] #13257 closed

[2019-04-20 15:59] NagabhushanS commented on #13682
Actually, unknowingly, I was using yTrain as a numpy array, which was actually a pandas Series. So, it seems like sklearn.metrics.accuracy_score and sklearn.metrics.roc_auc_score don't work with pandas Series, which is in accordance with the docs.
I am facing another issue now with the following code:
[code]
I am getting the following output:

So, the overflow error is causing scores1 and scores2

[2019-04-20 16:04] NagabhushanS commented on #13682
Interestingly, scores1 and scores2 are equal for SGDClassifier, when I accuracy_score instead of roc_auc_score.

[2019-04-21 05:10] Freakwill commented on #13681
`pca.components_` is the matrix of loadings, I want the coefficients on PCs. And I want the coefficients of test samples instead of training samples.

[2019-04-21 09:01] sy2002 commented on #4298
@amueller: Thank you very much for investing the time explaining this! Particularly this sentence enlightend me:

Highly appreciated!

Interessting finding: As an ignorant beginner, while implementing a Reinforcement Learning / Q-Learning [algorithm](https://github.com/sy2002/ai-playground/blob/master/rl-q-rbf-cartpole.py), I treated and used RBFSampler, as if it would actually be a bunch of Radia

[2019-04-21 11:08] jnothman commented on #13668
We are working towards a release. Please ping in a few weeks for
consideration

[2019-04-21 14:37] NicolasHug commented on #13681
I don't understand your terminology.

PCA is a projection. All it computes is this projection matrix called `components_`.

If you need its inverse you can use [scipy.linlalg.inv](https://docs.scipy.org/doc/scipy-0.18.1/reference/generated/scipy.linalg.inv.html)

[2019-04-21 14:43] jnothman commented on #13679
That was my assumption too. I've not yet been able to confirm it with the lgbm code. If the random state is not seeded separately in each process, it won't give the same results.
Try asking at lightgbm. It's unlikely to be a big on our side as such.

[2019-04-21 14:43] #13679 closed

[2019-04-21 14:51] NicolasHug commented on #13672
As @rth mentioned it's quite unlikely that we'll support this, but this helper should work for most cases:

[code]

[2019-04-21 14:51] #13672 closed

[2019-04-21 14:51] #5298 closed

[2019-04-21 15:06] jnothman commented on #13682
Could you explain the issue with pandas series? That could be a bug. Thanks

[2019-04-21 16:19] ctw commented on #9827
Do you have a good reference to read on this? For the roc_auc_score, it seems to me that if the test folds are small and the interest is in a good point estimate for the AUC (rather than variance over test folds), it could be preferable to calculate the AUC for the composite ROC. On p. 869 of Fawcet (2006; available here: https://www.math.ucdavis.edu/~saito/data/roc/fawcett-roc.pdf ) he writes:

L

[2019-04-21 19:16] okz12 commented on #13478
I've made a PR with an attempt to make minimum possible changes to the API while being able to retrieve CV splits/predictions. In the PR, I simply returned the test indices for each CV split from the fitting and scoring function back through cross_validate. Keen to hear feedback/thoughts on the approach.

[2019-04-21 22:23] jnothman commented on #9827
Calculating ROC AUC across multiple test sets will only work if the
decision function is well calibrated across multiple training sets,
such that their scores on each test set are comparable. I don't think
we can always assume that. That is, in the case of a single estimator,
any monotonic transformation of the decision function or probabilities
output by a binary estimator will not affect its ROC

[2019-04-22 01:35] notmatthancock opened #13687 "Feature request: allow bootstrap size less than training set size in random forest fit"
In `_parallel_build_trees`, if the `bootstrap` option is selected, then [a bootstrap sample the size of the training set `X` is produced and used](https://github.com/scikit-learn/scikit-learn/blob/8edd9f9f1597094a1f8024f4d091f21e9c1fa66a/sklearn/ensemble/forest.py#L101).

In the situation where `X` is quite big and a large number of estimators are to be fit, I would find it useful to limit the siz

[2019-04-22 05:03] Freakwill commented on #13681
Yes PCA is a projection, that maps X -> combination of PCs, such as `a1c1+a2c2+mean` or the coefficients, we can get the coefficients of training samples, that is the inverse of components_, but what about the test samples? I want to get a mapping X -> (a1, a2), that exactly is
a1=(x,c1)/||c1||^2, a1=(x,c2)/||c2||^2, but I hope `scikit-learn` could provide an api.

[2019-04-22 07:10] jnothman commented on #13687
Duplicate of #5963. Please check that and related work. Perhaps continue
the stalled pull request.

[2019-04-22 07:10] #13687 closed

[2019-04-22 09:11] kchawla-pi opened #13689 "DOC : Uncommon phrasing in svm.SVC"
In https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html#sklearn.svm.SVC , at the end of para 1, I noticed this line:

"with more than a couple of 10000 samples."

This seems confusing to me from a new user's perspective. Does that mean 20000 samples? IF so, why not say that? Could this be clarified

[2019-04-22 09:12] ctw commented on #9827
That makes sense. There seem to be cases where it's reasonable to assume that the scores are comparable. In the extreme case of LOO CV the only way to calculate the AUC would be by calculating the ROC over the predictions from the different folds, but the training sets would overlap so much that it would seem reasonable to assume that the scores are comparable.

[2019-04-22 09:49] scouvreur commented on #13654
@jnothman @NicolasHug @thomasjpfan do you have any insights on this issue ?

[2019-04-22 12:04] NicolasHug commented on #13681
You want the coordinates of X_trans, taking the PCs as your new basis? This is what `X_trans = pca.transform(X)` does. Else I'm sorry, I don't follow

[2019-04-22 12:06] NicolasHug commented on #13654
I'd be OK to make it a tag, though I'm curious why trees specifically requires float32 data.

[2019-04-22 12:15] Freakwill commented on #13681
I think it should be the coordinates of `X_rec=pca.inverse_transform(pca.transform(X))`

[2019-04-22 12:45] a-n-ermakov commented on #1513
Patent will be expired soon

2019-09-04
Anticipated expiration

[2019-04-22 13:11] a-n-ermakov commented on #1513
Some pointed in discussion links to @AmazaspShumik implementation are broken, just put them here for people who interested in (and some other implementations):

https://github.com/AmazaspShumik/sklearn_bayes - RVMs + some other algs implementation
https://github.com/JamesRitchie/scikit-rvm - simple RVR/RVC implementation using scipy
https://github.com/siavashserver/neonrvm - C implementation with

[2019-04-22 14:05] NicolasHug commented on #13681
No. The principal components (PCs) are int the attribute `pca.components_`.

Multipliying any (centered) data  matrix `X` (whether it's training or test data is irrelevant) by `components_.T` will give you the coordinates of the samples in the transformed space where the basis is made of the PCs. That's precisely what `transform` does.

Take a look e.g. at https://scikit-learn.org/stable/auto_exam

[2019-04-22 18:40] Dathiou commented on #11769
Hello,
When trying to dump the kde like above:
[code]

```TypeError: no default __reduce__ due to non-trivial __cinit__```

I have tried many different ways to dump the kde but no luck. Is it expected? What do you suggest?
Thank you

[2019-04-22 18:46] NicolasHug commented on #11769
Please open another issue with the whole minimal reproducible example

[2019-04-22 19:03] rlms opened #13691 "VarianceThreshold doesn't remove feature with zero variance"
#### Description
When calling VarianceThreshold().fit_transform() on certain inputs, it fails to remove a column that has only one unique value.

#### Steps/Code to Reproduce
[code]

#### Expected Results
The Variance threshold should produce
[code]
#### Actual Results
[code]
This issue arose when I was using VarianceThreshold on a real dataset (of which this is a subset). It appears to work corre

[2019-04-22 19:09] rlms commented on #13689
I think this has a fairly natural interpretation as describing a threshold somewhere in the low ten thousands (i.e. it's slightly more specific than saying an order of magnitude). See [here](https://dictionary.cambridge.org/dictionary/english/couple) which gives one meaning of "couple" as "two or a few things that are similar or the same". It is a little awkward though; perhaps "with more than a f

[2019-04-22 19:24] timkpaine commented on #8215
for reference from airflow
[code]

[2019-04-22 19:31] rlms commented on #13691
On closer inspection this is just caused by floating point error in calculating the variance, and therefore not a bug with sklearn. It is resolvable by setting the variance threshold to e.g. 1e-33 rather than 0.

[2019-04-22 19:49] Dathiou opened #13692 "Saving KernelDensity with sample_weight"
#### Description
 Type Error when saving to file Kernel Density Estimation with sample weight

#### Steps/Code to Reproduce

Example:
[code]

Omitting `sample_weight=[0.1,0.2,0.3]` works.

#### Expected Results
No error is thrown.

#### Actual Results
[code]

#### Versions

System:
    python: 3.6.0 (v3.6.0:41df79263a11, Dec 22 2016, 17:23:13)  [GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]
executabl

[2019-04-22 20:56] lesshaste commented on #13689
It would have to be a “couple of tens of thousands of samples” to mean in the low ten thousands. As it is it reads as two of something called a “10000 sample” which is very confusing. I agree "with more than a few tens of thousands of samples"  is much better.

[2019-04-23 00:15] jnothman commented on #9827
You're assuming things about the smoothness of the training objective, I
think, but yes, I suppose so.

[2019-04-23 00:55] jnothman commented on #13654
These days it might be possible to write the trees so that the data could
be non-32bit float... But we would probably still want to choose a
precision for the value in the tree nodes. I assume float32 was chosen for
memory efficiency and because high precision may not be key for >
comparison used in trees unlike the arithmetic operators used in, say,
linear models.

Not sure about the right design

[2019-04-23 01:09] jnothman commented on #13691
We should probably avoid 0 as a default. I'd be happy to deprecate the
current default and change it to np.finfo(X.dtype) or something smaller by
default.

[2019-04-23 01:10] jnothman commented on #13691
Another option would be to use np.ptp rather than np.var when the threshold is 0.

[2019-04-23 01:26] NicolasHug commented on #13681
can we close the issue @Freakwill ?

[2019-04-23 02:07] 405028157 opened #13694 "Can't visit https://scikit-learn.org/ ?"

[2019-04-23 02:53] Freakwill commented on #13681
Yes, I made a mistake about terminologies, but I really understand the algebra theory. In fact I just want an api, implementing
`x  |-> (x,y1)/||y1||^2, a2=(x,y2)/||y2||^2`

[code]
It is not a serious problem. I just define the function manually, or concatenate new Xs to old Xs and train pca again.

[2019-04-23 03:36] jnothman commented on #13694
Working fine for me.

[2019-04-23 03:36] #13694 closed

[2019-04-23 03:40] jnothman commented on #13681
Can you explain when this is useful? Perhaps that code could be
demonstrated in an example if not added as a method.

[2019-04-23 03:47] jnothman commented on #13692
Thanks for the report. `__getstate__` should be storing `self.sample_weight_arr`, not `self.sample_weight`. Would you like to submit a Pull Request fixing this (and adding a test in accordance with your snippet above)?

[2019-04-23 03:50] #5482 closed

[2019-04-23 04:28] qinhanmin2014 commented on #13694
FYI https://scikit-learn.org/ will sometimes be blocked by the Great Firewall of China, so we need a ladder.

[2019-04-23 05:35] Freakwill commented on #13681
One situation is recognition. Xtrain is represented in `components_` (coordinates) under the basis Y. No we calculate the coordinates of Xtest under Y and compare them with `components_` to predict which one it is close to. Y would be used to the decomposition of new Xs, like in sparse representation or other information decomposition technology.

Thank you for your attention.

[2019-04-23 05:46] #13268 closed

[2019-04-23 05:46] jnothman commented on #13681
Do you mean that you can do supervised classification by applying PCA to X
from different populations (i.e. classes), then trying to characterise
which population a new set of samples most likely belongs to by comparing
their crd(Xtest) to each of the learnt components? Or have I completely
misunderstood.

[2019-04-23 06:07] aditya1702 commented on #13692
If @Dathiou is not working on this, I would like to work on this

[2019-04-23 06:10] Freakwill commented on #13681
Definitely!

[2019-04-23 07:53] jnothman commented on #13681
Definitely what?

[2019-04-23 07:55] lachhebo opened #13696 "Birch implementation : Theoretical questions"
I have some questions about the BIRCH implementation, more espiecially about the differences between the paper and the implementation:

- The paper is making reference of a step of meging refinement in the insertion algorithm, this step does not seem to be implemented in the source code, am i right ?

- The paper is also making references to a conditionnal Phase 2 which consist of condensing the t

[2019-04-23 08:18] jnothman commented on #13696
It's been a long time, and this may not be the best place to ask these questions, since it's not a development issue. I can easily respond to your second point: global clustering can be specified through the `n_clusters` parameter which can be an arbitrary clusterer.

[2019-04-23 08:23] jnothman commented on #13696
I think the refinement of phase 4 is implemented by applying `predict` to the same (or a new) set of points. And I can't immediately see L in the paper.

Closing as not a software development issue.

[2019-04-23 08:23] #13696 closed

[2019-04-23 08:55] AlexandreBouyssoux opened #13698 "n_components kwarg missing in SpectralClustering"
The `n_components` kwarg defined in the `spectral_clustering` function allow the user to choose how many eigenvalues/eigenvectors should be used in the classification.
However this kwarg cannot be accessed/modified when using `SpectralClustering` class, and is set to default (`n_components` = `nb_clusters`). Since the `SpectralClustering` class calls the spectral_clustering function, I guess the u

[2019-04-23 11:31] jnothman commented on #13698
I don't know the history of this. Maybe someone wants to go digging to find out whether this was a reasoned choice by the developers

[2019-04-23 12:29] smarie commented on #13478
@okz12 , can you provide a sample code to demonstrate how a user would be able to retrieve the predictions for all folds and train/test sets using the proposed API ? It does not seem so trivial to me, @thomasjpfan mentioned that users would be able to get them but it seems that they would need to re-apply the predictors manually, correct ?

[2019-04-23 12:34] notmatthancock commented on #13687
Eek -- two stalled PRs. Looks like #5963 is good, but just missing some unit tests for the functionality additions. Is that assessment correct, @jnothman?

[2019-04-23 13:14] arthurpaulino opened #13699 "Wrong link on the contribution guidelines"
The url to the scikit-learn-contrib issues points somewhere else. It's under the [Ways to contribute](https://scikit-learn.org/dev/developers/contributing.html#ways-to-contribute) subsection.

[2019-04-23 13:32] lovemeblender opened #13702 "Would an implementation of Nelson rules be useful?"
#### Description
More like a suggestion for a new module rather than a bug report.

Have we considered adding [Nelson rules](https://en.wikipedia.org/wiki/Nelson_rules)? They are roughly a set of rules wh ich help detect certain anomalies in the data and can fit in the data preprocessing part of a pipeline.

#### Actions
If the community thinks that this is something of value, I would be happy to

[2019-04-23 13:50] arthurpaulino commented on #13699
[rth](https://github.com/rth) clarified it.

[2019-04-23 13:50] #13699 closed

[2019-04-23 14:14] rth commented on #13702
Aren't those more applicable to time series? In the scikit-learn the `.fit` API is somewhat invariant to shuffling of samples, which would completely invalidate these rules.

A project such as https://github.com/blue-yonder/tsfresh would probably be a better place to implement these.

[2019-04-23 14:31] arthurpaulino opened #13703 "Allow probabilities to be evaluated on cross-validations"
Some metrics (e.g.: [roc_auc_score][roc_auc_score]) are compatible with probabilities, which may result in a better evaluation of the model depending on the application. And using such metrics with **labels** usually underestimates the accuracy of the model if we're intending to use it for outputting **probabilities** in production.

A solution for this problem is to allow the user to input a `met

[2019-04-23 14:43] lovemeblender commented on #13702
Thanks for your answer @rth. Yes that's correct! Repeating what I understood just to make sure we are on the same page: since the TS data are intrinsically ordered by date, the `.fit` API would find this troublesome since it's invariant to shuffling?

[2019-04-23 15:12] arthurpaulino commented on #13703
Nevermind, this is why the `scoring` parameter exists :)

[2019-04-23 15:12] #13703 closed

[2019-04-23 15:54] arthurpaulino commented on #13682
I just did a quick test with the following code:
[code]

Nothing strange happened:
[code]

I don't think it's related to metrics and types. It looks like the overflows are the cause of such "randomness" on the scores.

[2019-04-23 16:02] rlms commented on #13691
Cool, here's a pull request that does the latter (and the analogous operation for sparse inputs).

[2019-04-23 16:28] TomDLT commented on #13689
PR welcome :)

[2019-04-23 16:34] rth commented on #13689
Would replacing "a couple" by "a few" be a sufficient improvement?

As a non native English speaker (and a former physicist) I find "a few 10000 samples" easier to parse that "a few tens of thousands of samples".

From https://www.scribbr.com/academic-writing/numbers/,

Either way could work here I imagine.

[2019-04-23 16:36] kchawla-pi commented on #13689
You got it.

On Tue, Apr 23, 2019, 18:30 Tom Dupré la Tour <notifications@github.com>
wrote:

[2019-04-23 16:41] lesshaste commented on #13689
The problem is what are you having a few of? Is it 10000s? If so you have to say "a few 10000s of samples".  Or is it something called a "10000 sample" in which case you say "a few 10000 samples" but that is very strange.  A few tens of thousands of samples is just a more idiomatic way of saying " a few 10000s of samples" which doesn't sound natural, at least to me. You could write "a few 10s of 1

[2019-04-23 19:05] rth commented on #13667
Thanks for the detailed report @jakebailey and for the suggestion @scoder !

We'll try to use 0.29.7 for the next release when building wheels.

[2019-04-23 19:07] thomasjpfan commented on #13478
@smarie Yes it is a minimal change, giving the user just enough information to recreate the predictions.

[2019-04-23 20:06] jijunyan opened #13705 "The coefficient and intercept are half of the real values in logistic regression"
https://github.com/scikit-learn/scikit-learn/blob/7b136e92acf49d46251479b75c88cba632de1937/sklearn/linear_model/logistic.py#L1148

[2019-04-23 20:07] jijunyan commented on #13705
After fitting a linear regression.. if we call model.coef_ or model.intercept_ they value we get is half of the real values. I verified it through R.

[2019-04-23 20:51] Dathiou commented on #13692
@jnothman @aditya1702 Thank you both for looking into it. @aditya1702 go ahead. Thanks!

[2019-04-23 23:53] jnothman commented on #13702
The API is not really the problem, but all the intricacies of handling time
series is not something scikit-learn intends to focus on. Other libraries
are welcome to implement this with a scikit-learn-compatible API.

[2019-04-23 23:59] jnothman commented on #13689
"in the order of 30000 samples"?

[2019-04-24 00:02] aditya1702 commented on #13692
@Dathiou Cool!

[2019-04-24 00:05] #13667 closed

[2019-04-24 00:14] jakebailey commented on #13667
@rth I believe this affects all platforms, not just macOS. I tested my cases on Linux, and we've had people report this on Windows as well. Will the version bump be done everywhere it's needed?

[2019-04-24 00:16] jakebailey commented on #13667
Oh, I see, even though that repo's in the MacPython org, it builds all of the wheels.

[2019-04-24 00:18] jnothman commented on #13705
Please show the code you use in R for comparison.

[2019-04-24 05:19] jnothman commented on #11819
I'm moving this to 0.22 :(

[2019-04-24 05:45] jnothman commented on #13335
@maftabali can we pass this onto someone else?

[2019-04-24 05:46] jnothman commented on #2354
@btel is this something we've fixed?

[2019-04-24 05:50] okz12 commented on #13478
The predictions can be obtained by returning estimators with the test_indices and using predict a second time, here's a test case I've added:
[code]

Training indexes can be obtained by concatenating the remaining indices and leaving out the test indices from the split:
[code]

[2019-04-24 09:17] maftabali commented on #13335
@jnothman sorry, been snowed under. Do you want this just in the readme or in the install.rst as well?

[2019-04-24 09:26] jnothman commented on #13335
README is fine. You're welcome to say someone else should take it.

[2019-04-24 10:10] maftabali commented on #13335
@jnothman  If it needs doing straight away, please feel free to pass it someone else as it will take me a while to get to it.

[2019-04-24 11:44] rth commented on #13335
Not all CIs though -- as it's still an optional dependency, and we want to check that tests can run without it.

[2019-04-24 11:55] mani2106 commented on #13689
Maybe with scientific notation (looks odd)

[2019-04-24 11:55] jnothman commented on #13609
I'm not an expert on PLS; I was relying on the comments historically related to this issue to describe it as a simple fix. But certainly the problem is constant features.

Go ahead and submit a pull request, @iodapro

[2019-04-24 12:33] #4453 closed

[2019-04-24 12:33] #12552 closed

[2019-04-24 12:52] #4405 closed

[2019-04-24 12:55] smarie commented on #13106
Some update on this topic: I just got the authorization to disclose my code. I will try to push a first version before going away for vacation at the end of the week.

[2019-04-24 13:28] lovemeblender commented on #13702
Makes sense, thanks both :)

[2019-04-24 13:28] #13702 closed

[2019-04-24 14:51] NicolasHug commented on #13335
FYI, we added  matplotlib checks for the `pylatest_conda` CI env in  #12599

[2019-04-24 15:29] smarie commented on #13478
Ok. I personally think that it is a bit sad that we have to apply the predictors again. But there is maybe a good reason? Maybe parallel mode?

[2019-04-24 15:33] adrinjalali commented on #13478
I know my suggestion is not the norm, but it's not a bad one, you really don't like it @thomasjpfan ? :P

[2019-04-24 16:10] jijunyan commented on #13705
Hm.. It was my bad. I was using multinomial coefficients. Everything seems to be ok when change ```multi_class='multinomial'``` to ```multi_class='ovr'``` In this case we can use those coefficients to compute estimate proba.

[2019-04-24 16:11] #13705 closed

[2019-04-24 19:26] amueller commented on #11996
I'm not sure if having the row of NaNs is worth supporting. It seems to make this much trickier as well.
I think the separate value makes a ton of sense, and if people don't want that, they can use the imputer first.
This should simplify the treatment in OHE.

Given my work on dabl, right now I'm more concerned with making things possible *at all* than making them very easy with sklearn.

What I f

[2019-04-24 19:47] gracey715 opened #13710 "Some classifiers missing examples"
Hi all,

I was going through the API reference and noticed that some classifiers (eg. [BaggingClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.BaggingClassifier.html)) are lacking examples. I've created some examples for these and would love to contribute them! Thanks

[2019-04-24 19:55] amueller commented on #13106
I have seen this rarely used in practice, I'm not sure I would want this in sklearn.
There's an interesting angle on this in the "Regression Tree Fields" paper, which uses the gradient norms as splitting criteria.

[2019-04-24 20:57] thomasjpfan commented on #11696
Recently there have been latex/pdf bugs that are causing our builds to fail:

https://circleci.com/gh/scikit-learn/scikit-learn/55948?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-04-24 21:16] #13507 closed

[2019-04-24 21:45] btel commented on #2354
I don't think so. My PR did not touch `RidgeCV`, whose implementation seems to be completely independent from standard `Ridge` class and `ridge_regression` function.

[2019-04-24 22:16] NicolasHug commented on #2354
Can confirm it's still not fixed but we looked at it with @thomasjpfan and he should propose a (simple) PR soon

Basically in 0.13 it was using gcv_mode=svd, which has later been forbidden for sparse matrices as @jeremiedbb noted.

'svd' will create a dense matrix of size (n_samples, n_features)
while 'eigen' will create a dense matrix of size (n_samples, n_samples).

In our case (n_samples = 50M)

[2019-04-24 22:39] xiw54 opened #13711 "mutual_info_regression throws error when all points have unique labels"
In the core of mutual_info_regression, labels are determined by np.unique(x). In such case, if values in x and values in y are in a relation of 1 : 1 mapping, the code throws an error indicating nn.fit() no longer works. However, if a column is an ID or a high correlation (e.g. y=2x) exits, how does the code handle such situation?

sample code:
x = np.array([1.0, 2.0, 3.0])
y = np.array([1.0, 2.0,

[2019-04-25 10:55] adrinjalali commented on #13710
This is a duplicate of #3846, please continue the discussion and the contributions there. Thanks :)

[2019-04-25 10:55] #13710 closed

[2019-04-25 12:28] jmq19950824 commented on #5115
That's works for me! Thanks a lot!

[2019-04-25 12:38] Leo-xh opened #13717 "bayesian network"
Will sklearn support bayesian network in the future?

[2019-04-25 13:53] smarie commented on #13106
@amueller actually this kind of model is used a lot in the industry, where interpretability and embeddability in small industrial devices (PLC) is key. When the underlying patterns to find are real-world physical laws, most of the time this is more than enough and does not overfit. I have seen it beat random forests :)

[2019-04-25 16:29] kevin1kevin1k opened #13721 "Range of note on contributing.html"
#### Description
In https://scikit-learn.org/dev/developers/contributing.html#how-to-contribute,
the range of the note covers points 6 and 7.

#### Expected Results
Points 6 and 7 shouldn't be covered.

[2019-04-25 16:45] tchlux opened #13723 "code.py name conflict"
#### Description

When importing `KDTree` from the `sklearn.neighbors` module, if there is a file named `code.py` in the path, it will be imported. This is an erroneous import. Somewhere in sklearn, something must be importing `code` without specifying the correct path. I could not find it when scanning through the GitHub.

This could be a potential security hazard!

#### Steps/Code to Reproduce

[2019-04-25 17:18] fdas3213 commented on #13698
I looked at the code, and obviously `n_components` is not a instance variable of the `SpectralClustering` class, and when an instance of `SpectralClustering` class calls fit, `n_components` is not passed into `spectral_clustering` method. So should the fix of this problem be adding a `n_components` instance variable to the `SpectralClustering` class? Or is there any other concern for not doing so?

[2019-04-25 18:12] AraiKensuke commented on #12273
I agree with gmeisl.  I was about to submit the exact same bug report, and it hasn't been fixed yet.

Here is a code snippet, fitting 2-cluster Gaussian in 1-d with well-separated means.  Fitting with mean_concentration_prior set to 0.001, BayesianGaussianMixture finds the 2 clusters nicely.  However, with mean_concentration_prior set to 35., we can clearly see the 2 clusters biased towards mean_p

[2019-04-25 18:13] rth commented on #13723
Thanks for the report. Interesting, I can reproduce on the master branch.

`code` is a CPython module https://github.com/python/cpython/blob/master/Lib/code.py, and it is imported in numpy [here](https://github.com/numpy/numpy/blob/0c3d18f57c842047ae23383c2eae46a042faef5d/numpy/core/tests/test_scalarprint.py#L7).

You could try to report it to numpy, but generally, it might be better to avoid file

[2019-04-25 18:13] #13723 closed

[2019-04-25 18:24] ychervonyi opened #13724 "Multiclass AUC"
#### Description
I suggest adding another metric for multi-class classifiers which I have recently implemented - multi-class AUC. It is a natural extension of the well known and widely used AUC (Area Under the ROC curve) metric, which is defined for only binary classifiers. This measure was introduced in the paper 'Hand, David J., and Robert J. Till. "A simple generalization of the area under the

[2019-04-25 20:17] ychervonyi commented on #13724
There is a PR for this already #12789.

[2019-04-25 20:17] #13724 closed

[2019-04-26 00:51] jmq19950824 opened #13727 "Is there any possibility to visualize the SGDClassifier results?"
I was trying to implement a classification problem by SGDClassifier and used the following codes:

SGDClassifier(penalty='elasticnet',random_state=seed,shuffle=False,loss='log')

i.e., I use a Logistic Regression for this classification problem and deploy both l1 and l2 regularized terms (elasticnet) to this model. Now the problem is I want to visualize the result like the enet_path in the sklearn

[2019-04-26 01:31] jmq19950824 opened #13728 "How can we use RandomizedSearchCV to find the optimal hyper-parameters for RNN in Keras?"
I was trying to use RandomizedSearchCV to find the optimal hyper-parameters for RNN in the Keras package. And a problem make me confused: actually I may know the reason but I haven't figure out the answer.

The reason may be the following: the RandomizedSearchCV method need a two demension input but in the RNN it is actually three-demension. So it needs to bridge such gap to solve this problem.

I

[2019-04-26 01:41] jmq19950824 commented on #13728
I will give two useful links for this problem and hope that we can solve this issue.
[https://stackoverflow.com/questions/55774632/gridsearchcv-randomizedsearchcv-with-lstm/55859123#55859123
](url)
[https://www.kaggle.com/arrogantlymodest/randomised-cv-search-over-keras-neural-network](url)

[2019-04-26 04:06] qinhanmin2014 commented on #12705
outdated and trivial, closing.

[2019-04-26 04:06] #12705 closed

[2019-04-26 08:05] #13650 closed

[2019-04-26 09:20] #9300 closed

[2019-04-26 11:03] shahabsh92 commented on #13228
Hi, I have exactly the same issue like by @rfernandezv
I get the same error if I use any other number than 1 for n_jobs in the cross_val_score function.
The Code is the same.

Python 3.7.1
Keras 2.2.4
TensorFlow 1.13.1
scipy 1.1.0
Numpy 1.15.4
Sklearn 0.20.2

[2019-04-26 17:17] smarie commented on #13106
I pushed an initial "something" in #13732 that works so that you can start to play with it @juliensiebert , but there is still much work to do in terms of review/validation/etc.

I'll be away for 2 weeks now, I'll reconnect once back.

[2019-04-26 19:57] sdpython opened #13733 "Ambiguous way to store n-grams in TfidfVectorizer and CountVectorizer"
#### Description

I'm trying to convert TfidfVectorizer into ONNX and it is not always to possible to find the exact list of tokens which composes a n-grams. I'd like to store n-grams as tuple instead of strings to clear ambiguities in ``vocabulary_``. The notebook explains it all:
https://github.com/sdpython/mlinsights/blob/master/_doc/notebooks/sklearn/traceable_ngrams_tfidf.ipynb

#### Steps/Co

[2019-04-26 22:49] mitar opened #13734 "Unclear when hamming loss is normalized and when not"
I am reading on hamming loss:

When does this normalization over samples occur? Isn't hamming loss always computed over all samples, not just one, when using this function, thus is always normalized?

So reading this looks like one should normalize hamming loss further, to assure to be between 0 and 1, but this does not look like it is the case? I would suggest the language here is clarified.

[2019-04-27 00:56] rfernandezv commented on #13228
I have not found the solution yet. @shahabsh92 , did you try to update Sklearn version?
Updated to version 0.20.3 but it did not work

[2019-04-27 07:49] NagabhushanS commented on #13682
@arthurpaulino The issue with pandas Series was because of unordered indices. I am closing this issue. Thanks!

[2019-04-27 07:49] #13682 closed

[2019-04-27 09:58] kush-daga commented on #13228
Has anyone been able to solve this issue, as im getting the same error in conda envt with python 3.7

[2019-04-27 13:07] agramfort commented on #12273
please open a PR. the last person who touched at this code does not work anymore on scikit-learn.

[2019-04-27 14:11] #12376 closed

[2019-04-27 16:27] shahabsh92 commented on #13228
@rfernandezv yes, I created another environment in the Anaconda with the latest version of sklearn 0.20.3 + keras-gpu and it didnt work again. It works only with n_jobs = 1 and nothing else.

[2019-04-27 16:46] rth commented on #13733
I agree that concatenating ngrams into one string is a non-reversible operation and using a tuple of strings might be more general.

However, at present, it is difficult to change it due to backward compatibility. Also in Python  manipulating `vocabulary_ : Dict[str, int]` is easier than `Dict[Tuple[str, ...], int]`.

In ONNX can't one concatenate ngrams parts into a single string?

[2019-04-27 16:48] rlms opened #13737 "utils.sparsefuncs.min_max_axis gives TypeError when input is large csc matrix when OS is 32 bit Windows"
#### Description
On 32 bit versions of Windows, when `min_max_axis` is called on a csc matrix where `indptr.dtype` is int64, an error is produced. This prevents [this](https://github.com/scikit-learn/scikit-learn/pull/13704/) pull request passing tests (see [here](https://github.com/scikit-learn/scikit-learn/pull/13704/checks?check_run_id=109958355)).

#### Steps/Code to Reproduce
[code]

#### Exp

[2019-04-27 16:54] rlms commented on #13737
Proposed fix:
Add
[code]
below `mat = X.tocsc() if axis == 0 else X.tocsr()` in `utils.sparsefuncs._min_or_max_axis`.

When `tocsc` is called for a csr matrix with indptr dtype int64, it returns a csc matrix with indptr dtype int32, but when it's called for a csc matrix that conversion doesn't happen (I assume the original matrix is returned). It's the lack of this conversion that causes the error

[2019-04-27 23:10] jnothman commented on #13737
Proposed fixes are best shared by opening a pull request.

But downcasting the indices dtype when your matrix is too big to fit into
int32 is not a valid solution, even if it will pass the current tests.

[2019-04-28 01:49] rlms commented on #13737
Sure; this is a tentative suggestion. Looking into it a bit more I agree it's wrong, but downcasting is still necessary.

The problem here is that there are two kinds of casting going on. The `ufunc.reduceat` line casts `X.indptr` to `np.intp` using numpy safety rules, where casting _any_ value from 64 bits to 32 is unsafe. But when the input is a csr matrix, the line `mat = X.tocsc()` is willing

[2019-04-28 02:31] thomasjpfan opened #13739 "test_extract_xi failing on nightly builds"
`test_extract_xi` failing for `MB_PYTHON_VERSION=3.6 PLAT=i686` and `MB_PYTHON_VERSION=3.7 PLAT=i686`

https://travis-ci.org/MacPython/scikit-learn-wheels/jobs/525429182
https://travis-ci.org/MacPython/scikit-learn-wheels/jobs/525429184

[2019-04-28 05:59] jnothman commented on #13739
Some points are being labelled as outliers where they shouldn't be:

[code]

Ping @adrinjalali @qinhanmin2014 @kno10

[2019-04-28 09:38] draimundo commented on #12546
I also have this problem, using
`numpy 1.16.3`,`scipy 1.2.1`,`scikit-learn 0.20.3`,`python 3.7.3`.

My workaround was to comment out `delete_folder(self._workers._temp_folder)`:
[code]
in `\sklearn\externals\joblib\_parallel_backends.py`. This is a  quick and dirty fix, but at least I get my results this way (the crash happening at the end, when you trained your model for 12h is very frustrating),

[2019-04-28 09:41] jnothman commented on #12546
Please offer your comment at joblib.

[2019-04-28 11:59] AraiKensuke opened #13740 "BayesianGaussianMixture: Wrong documentation on mean_precision_prior"
I'm re-posting the issue

https://github.com/scikit-learn/scikit-learn/issues/12273

as its owner no longer works on scikit-learn.

Here is a code snippet, fitting 2-cluster Gaussian data (blue) in 1-d with well-separated means.  Fitting with mean_concentration_prior set to 0.001 (orange), BayesianGaussianMixture finds the 2 clusters nicely.  However, with mean_concentration_prior set to 35, we ca

[2019-04-28 18:44] adrinjalali commented on #13739
I can't really diagnose this one w/o a Mac machine, which I don't have. But this is the test which took us a while to fix on the PR, and was fixed after the predecessor correction was finally fixed. Now it is not failing because of that (the predecessor correction is doing it's job according to the log), but it may be some numeric issue or something, hmm...

[2019-04-29 02:57] qinhanmin2014 commented on #13739
Seems that the test is not robust (i.e., the test will fail if we change the random_state), e.g.,
[code]

[2019-04-29 05:23] jnothman commented on #13739
So you mean that it is not invariant to permuting the data? How does "predecessor correction" relate to this order invariance? Should we be testing in a separate test that the result is order invariant most of the time, and somehow make this one a more stable test of predecessor correction?

[2019-04-29 05:58] jnothman commented on #13739
Also, the problem is different between your example and the one that's failing here. The failing case is identifying several inliers as outliers.

[2019-04-29 06:39] alex-baldon opened #13742 "Documentation Cross Validation Clean Code Suggestion"
#### Description
In the cross validation section 3.1.1.1. in the sklearn docs, there is an import for recall_score, but it is not used until the second code cell. It might be easier to read if the import occurs in the second code cell, as this seems to be the going pattern in this doc; the cell below it imports other modules anyways seemingly for readability as well.

Please find the doc here:
htt

[2019-04-29 06:41] jnothman commented on #13742
It would be easier to consider this change if you submit a Pull Request.

[2019-04-29 07:41] kno10 commented on #13739
OPTICS plots is essentially a linearized version of a spanning tree. This linearization is not unique; it is easy to imagine that any merged subtrees can be swapped. But since the extraction is based on this linearization, it is to be expected that there exists some order dependence in particular for border points and outliers.
Thus I am not surprised that a different random generator can cause su

[2019-04-29 07:52] jnothman commented on #13739
The shuffling order cannot be the reason this test is failing on some platforms, since numpy's random number generator should be more-or-less cross platform (when generating small ints, certainly).

Numeric issues are a more likely culprit. But without having a hack on that platform, it's hard to work out where they may come from.

[2019-04-29 08:29] orihomie commented on #10023
Hi, @lmcinnes, any news about this?

[2019-04-29 08:32] kno10 commented on #13739
You are right, it shouldn't be the shuffling order, as the labels mostly agree. If it were different shuffling, they should be completely mixed up. But the points are well separated in a well-behaved numerical range.

I had seen that the first `assert_array_equal` worked, so I thought it was maybe the shuffle; but the first run was also shuffled, the second one only has an additional duplicate poi

[2019-04-29 08:52] tomMoral commented on #10023
Note that I took a pass at parallelizing `tSNE` using `prange` for the gradient computations in #13264
The code seem to give about 30% speed-up when using 2 cores, which is encouraging.

[2019-04-29 09:03] albertcthomas commented on #13228
@shahabsh92 you mean that you have the same error as @rfernandezv when you run the code in [this comment](https://github.com/scikit-learn/scikit-learn/issues/13228#issuecomment-471226884)?

[2019-04-29 09:03] #9354 closed

[2019-04-29 09:06] rth commented on #9354
If we are still concerned about the precision of euclidean_distances with float64, probably better to summarize this discussion in a new issue as there are 100 comments here.

[2019-04-29 09:19] kush-daga commented on #13228
I feel it's an issue with the ipython console in spyder, i ran the same code in terminal of vscode using the python console and also in jupyter.. It worked.

[2019-04-29 09:48] adrinjalali commented on #13739
I put a comment above that test saying that this test may fail if the predecessor correction is not at work. What I meant by that was that the test fails to find the outliers as outliers, only under certain permutations of the data, if predecessor correction is not done right.

+1

When generating the data, sometimes around the edges of the cluster, the data "looks"/"feels" more sparse. That somet

[2019-04-29 09:53] jnothman commented on #13739
Well I don't think in the case of the current failure you'd get high
v-measure. Checking that the outliers are correctly detected (and that
there are non-outlier clusters) might be a reasonable test of predecessor
correction but not other things.

The hypothesis that it is due to a small cluster being detected spuriously
on this platform seems reasonable. Can you see candidate troughs in the
reach

[2019-04-29 10:27] alex-baldon commented on #13742
oh apologies, this is the first time I have tried to submit a change. I will read up on the etiquette of pull requests and will submit the pull request again appropriately.. Thanks

[2019-04-29 10:27] #13742 closed

[2019-04-29 10:33] NagabhushanS opened #13743 "How is sklearn's pipeline caching implemented?"
The docs list the following code as an example of how to use pipeline memory to cache the pipeline results (https://scikit-learn.org/stable/auto_examples/compose/plot_compare_reduction.html):
[code]
I wanted to know how does the pipeline memory argument work to cache the results. I have two doubts regarding this:
1. Is it that every time a fit method is called on the pipeline, it looks up the para

[2019-04-29 11:00] kno10 commented on #13739
The v-measure (nor any of the other standard measures, unfortunately) on clustering data with a logical _hierarchy_ and with _outliers_ does not say much about quality anymore, because the measure does neither understand nested clusters not outliers encoded in the result, but rather they assume they evaluate a flat and complete clustering.
For example outliers are not a cluster, they may be comple

[2019-04-29 11:04] jnothman commented on #13743
See the code. It uses joblib.Memory to check the arguments

[2019-04-29 11:04] #13743 closed

[2019-04-29 13:16] jnothman commented on #13739
Should we be disabling this test temporarily to get the release out?

[2019-04-29 13:25] adrinjalali commented on #13739
yes, cause whatever we do now is to workaround the issue anyway. I rather disable it, have an issue for it, and then fix it later.

[2019-04-29 13:31] qinhanmin2014 commented on #13739
I agree that it's reasonable to get different results when we shuffle the dataset in a different way.
Regarding current test failure, I guess the reason might be some numeric issues when calculating the distances.
Since the failure only occurs on i686, maybe we can skip the test and release (is it possible to only skip the test on i686?).

[2019-04-29 14:19] jnothman commented on #13739
Let's put the skip in the 0.21.X branch for now. I'm branching.

[2019-04-29 14:24] adrinjalali commented on #11992
I think this is done.

[2019-04-29 14:25] #11992 closed

[2019-04-29 15:30] qinhanmin2014 commented on #13739
Hmm I have another question related to outliers @adrinjalali
![2019-04-29_232731](https://user-images.githubusercontent.com/12003569/56907226-5f8afa80-6ad6-11e9-9b82-cdb478b0e592.png)
I think ``r(x)<r(sD)`` in 4c should be ``r(x)>r(sD)``? Seems that R dbscan is using ``r(x)>r(sD)``?
[code]

[2019-04-29 15:47] qinhanmin2014 commented on #13739
Seems that ELKI is using another version, but similar to ``r(x)>r(sD)``.
[code]

[2019-04-29 16:33] giacomomarchioro opened #13745 "Feature request: sklearn.decomposition.PCA using the covariance matrix"
Hi all,
I am trying to compute PCA using `sklearn.decomposition.PCA` that seems that it uses correlation matrix I would like instead to use `covariance matrix` to compute the principal components.

I ask a question on [StackOverflow](https://stackoverflow.com/questions/39120786/how-to-use-covariance-matrix-with-sklearn-decomposition-pca) two years ago but I get no answer.

I think it's a very impo

[2019-04-29 16:43] #3796 closed

[2019-04-29 16:53] arc12 commented on #13621
I understand this is relevant to use of RFECV.
Currently this defaults to using a StratifiedKFold cv. Its fit() also takes groups=
However: it appears that groups is not respected when executing fit(). No warning (might be considered a bug).

Grouping AND stratification are useful for quite imbalanced datasets with inter-record dependency
(in my case, the same individual has multiple records, but

[2019-04-29 20:56] css459 commented on #13745
Hi I would like to claim this issue, and look into adding this to PCA if there is interest. Would there be interest in implementing this as [Gramiam Matrix](https://en.wikipedia.org/wiki/Gramian_matrix)?

[2019-04-29 21:48] cod3licious opened #13748 "show check_estimator progress (verbose flag?)"
Since check_estimator can take quite long, it would be great to see roughly where it currently is, i.e., which checks were already passed and how many are left.

[2019-04-29 21:53] jnothman commented on #13748
It would probably be best if we had a version of check_estimator that
generated tests for the pytest collector. I haven't looked into this
technology.

[2019-04-29 22:20] cod3licious commented on #13748
Maybe also the order of the tests could be further refined... after all the regression tests ran through (which took almost half an hour) it stopped because of a very simple error in the transformer tests (no error raised when X has a different number of features). It would be great if these kinds of fast checks would be moved to the beginning, while the tests on actual datasets come later... Or,

[2019-04-29 23:46] jnothman commented on #13748
If integrated into pytest collection, you can ask it to rerun the
failed tests first.

[2019-04-30 00:06] doriang102 commented on #2879
Is this still unresolved? `GridSearchCV` and `RandomSearchCV` do not throw an error when `sample_weight` is passed to the fit method, yet the cross validation seems to ignore them entirely.

[2019-04-30 00:11] jnothman commented on #2879
Yes, they cannot at present be passed to scoring (without making them part
of X), unfortunately.

[2019-04-30 00:24] doriang102 commented on #2879
Thanks. Is there any current workaround other than oversampling the class in a way way proportional to the weights?

[2019-04-30 00:32] jnothman commented on #2879
Well if you make sample_weight the first column in X all you need is
to make scorers that extract that (lambda est, X, y: orig_scorer(est,
X[:, 1:], y, sample_weight=X[:, 0])) and use a Pipeline with a
FunctionTransformer(lambda X: X[:, 1:]) at the start. But it's
certainly a hack. (And you should probably use something other than
lambdas.

[2019-04-30 02:06] amueller commented on #13739
@qinhanmin2014 So you're saying there's a typo in the original paper and we're implementing the typo?

[2019-04-30 02:13] qinhanmin2014 commented on #13739
I think so, not sure whether I'm wrong.

[2019-04-30 06:10] jnothman commented on #13739
@adrinjalali, I got misled by your:

The failure is on a *linux* i686.

[2019-04-30 07:23] adrinjalali commented on #13739
:man_facepalming: sorry. I was misled by the `MacPython` in the url of the build log.

[2019-04-30 07:33] jnothman commented on #13739
Yeah, I find it a really hard cognitive dissonance to deal with too!

[2019-04-30 07:53] kno10 commented on #13739
@qinhanmin2014 the R version is a port of an older ELKI version, so it is likely to reproduce any error in the ELKI implementation at that time...

This is obviously a typo in the paper. Since the steep up region is monotone, the minimum with < would always be sU, the start of the steep-up region. With a > this is consistent with the first case.

[2019-04-30 07:55] kno10 commented on #13739
@jnothman you may want to retitle #13744 then to reduce the confusion.

[2019-04-30 07:59] qinhanmin2014 commented on #13739
Thanks, we'll correct it.

[2019-04-30 08:04] rth commented on #13748
Also related https://github.com/scikit-learn/scikit-learn/issues/11622

[2019-04-30 08:36] jnothman commented on #12644
Reopened following https://github.com/MacPython/scikit-learn-wheels/pull/26#issuecomment-487845151

[2019-04-30 10:10] okz12 commented on #13478
So, is there a consensus on whether we should go ahead with a minimal change to the API or include a full set of options on what to return?

[2019-04-30 12:51] giacomomarchioro commented on #13745
I dive into the function, in fact, `sklearn.decomposition.PCA`  uses [numpy.linalg.svd.](https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.linalg.svd.html)  so is not a PCA but an SVD. The `data_matrix` is not standardized so probably is the covariance matrix, two years ago I presume I get different results because of the fact that it was an SVD so I thought it was thte correlation

[2019-04-30 14:30] TimothyWillard commented on #13405
Perhaps it might be worth considering an option that could be passed to the correlation feature selection class that would tell it to exclude certain columns from consideration.

Also, would this include the ability to pick how the correlation coefficient is calculated, e.g. use a nonparametric method like Kendall tau instead of Pearson's correlation?

[2019-04-30 19:42] kyle-pena-nlp opened #13752 "ComplementNB.predict_proba converts feature_log_prob_ to sparse"
#### Description

*Surface Level*: `ComplementNB.predict_proba` is slow when you call predict_proba with a sparse X - far slower than if you call predict_proba with a dense X.

*Deeper Problem Description*: `ComplementNB` converts `ComplementNB.feature_log_prob_` to a sparse matrix on every call to predict_proba, which is expensive and wasteful.

Details:
- When the developer calls `Complement.pre