[2017-12-04 00:00] jnothman commented on #5403
Don't we have rcv1 as a real multilabel dataset with a fetcher? Yes, I think this can be closed.

[2017-12-04 00:00] #5403 closed

[2017-12-04 00:13] jnothman commented on #10242
It stratifies on the classes present in that argument you are changing. It requires each value in that argument to occur at least twice (because k=2). In a, each value occurs 1 time. In b each value occurs 10 times. c and b are identical.

[2017-12-04 00:13] #10242 closed

[2017-12-04 00:14] jnothman commented on #10242
This is not a bug. It is a usage question. It should be asked elsewhere, e.g. stack overflow, please.

[2017-12-04 00:24] jnothman commented on #10213
I think this is because liblinear uses the C standard library for random
number generation. Should we be using numpy's random number generation in
LibSVM and LibLinear? It would appear to have been platform dependent for a
very long time...

[2017-12-04 01:10] Mabinogiysk commented on #10242
Sorry, I could not figure out what's going on and I thought this is a bug.

[2017-12-04 02:28] #10216 closed

[2017-12-04 02:55] jnothman commented on #10237
@MaxNoe: When you submitted your issue, you were asked to report what version of scikit-learn you are using. If it is version 0.19.0, and not 0.19.1, I'm guessing this was fixed by #9830, and you should get yourself the most recent release.

[2017-12-04 05:49] YanjingWang commented on #3123
I still has this problem and do not know how to fix it.

mapper = DataFrameMapper([('AgeGroup', LabelEncoder()),('Education', LabelEncoder()),('Workclass', LabelEncoder()),('MaritalStatus', LabelEncoder()),('Occupation', LabelEncoder()),('Relationship', LabelEncoder()),('Race', LabelEncoder()),('Sex', LabelEncoder()),('Income', LabelEncoder())], df_out=True, default=None)

cols = list(df_train_set

[2017-12-04 06:23] jnothman commented on #3123
Your issue has nothing to do with classification_report, and belongs on a user forum or stack overflow, not a bug tracker. You have punctuation and whitespace in some of your labels that is causing your error

[2017-12-04 06:59] rth commented on #10237
Yes, I can't reproduce this on the `master`. Both `n_jobs=1` and `n_jobs=-1`  return identical results, for a given number of runs. So it looks like this was fixed.

[2017-12-04 07:26] YanjingWang commented on #3123
thanks a lot, I will try to make it

[2017-12-04 08:05] MaxNoe commented on #10237
Yes, I was using 0.19.0.

[2017-12-04 08:05] MaxNoe commented on #10237
When is a new release due? We won't publish results on a not released and tagged version.

[2017-12-04 08:11] #10237 closed

[2017-12-04 08:19] jnothman commented on #10237
0.19.1 has been out for over a month

On 4 Dec 2017 7:11 pm, "Maximilian Nöthe" <notifications@github.com> wrote:

[2017-12-04 08:29] MaxNoe commented on #10237
No conda package yet :(

[2017-12-04 08:43] jnothman commented on #10237
I have no idea how to petition Continuum to get in line, but we've
certainly released on conda-forge!

[2017-12-04 11:14] m-guggenmos commented on #10233
Thanks a lot for taking on this issue! Using the following code

[code]

I verified that your proposed solution works in my case - the balanced accuracy is at chance (0.5).

Regarding my final concern: I put it in double brackets because I was referring to the case of setting _fixed_ class weights (i.e. not using the 'balanced' option), which is a bit off topic. Here the problem is indeed that cla

[2017-12-04 11:15] TomDLT commented on #10235
We already implement FastHALS [[Cichocki & Phan 2009]](http://www.bsp.brain.riken.jp/publications/2009/Cichocki-Phan-IEICE_col.pdf) in the 'cd' solver.
More precisely, our implementation is based on [[Hsieh & Dhillon 2011]](http://www.cs.utexas.edu/~cjhsieh/nmf_kdd11.pdf) but without greedy variable selection, which corresponds to FastHALS.

Now if your implementation is consistently faster, we co

[2017-12-04 12:08] jnothman commented on #10233
Right. Now I understand. But it only destroys the strict independence of training and testing if you derive your fixed weights from examining the data distribution, which I agree is very possible, but it's certainly not an error on the part of the software. I suppose you would rather a class_weight that can be set as a function of the training data in a manner that isn't 'balanced'? I would certai

[2017-12-04 12:33] m-guggenmos commented on #10233
I'm not aware of class weighting procedures other than 'balanced', which of course does not mean they don't exist. In my opinion, the way this is handled in sklearn is exemplary, precisely because the weights are computed on the training data only.

I would say that I came across the problem relatively organically. To elaborate, I was using `GridSearchCV` on the C parameter of `SVC` and after sett

[2017-12-04 12:47] olebole opened #10244 "Test failure on several (non-intel) architectures"
This is a forward of Debian bug [#883473](https://bugs.debian.org/883473).

#### Description

When creating the Debian package, scikit-learn fails to build from source on a number of platforms due to a failing test. Full build log for ARM64 [here](https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=arm64&ver=0.19.1-1&stamp=1508818212&raw=0); an overview on all builds (incl. succeeding

[2017-12-04 13:16] sejlermonster opened #10245 "Numerical instability with small feature values"
When feature values become small but are within the range of a floating point, random forest become numerical unstable.

The following code reproduces the problem. I use the Iris data and multiply all feature values by e^-8., so that the values are smaller.  I create a test split for the data and for similar data preprocessed with MinMaxScalor. I then train using random forest, print the feature i

[2017-12-04 14:23] mzoll opened #10247 "Assymetry of roc_auc_score"
#### Description
For binary tasks with wrapped down custom scoring functions by the `metrics.make_scorerer`-scheme `roc_auc_score` is behaving unexpectedly. When requiring the probability output from a binary classifier, which is a shape( n , 2) object, while the training/testing lables are an expected shape (n, ) input, A scoring will fail.
However, the binary task and internal handling of differ

[2017-12-04 14:30] agramfort commented on #9837
see #10248

[2017-12-04 15:06] glemaitre commented on #10245
I would say that this is normal since that we are checking for change larger than 1e-7:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/_splitter.pyx#L40

[2017-12-04 15:15] glemaitre commented on #10245
Do you have a real use case for which this is an issue?

[2017-12-04 16:21] jmason86 commented on #3702
@jnothman, I see a [set_params method for SVR](http://scikit-learn.org/stable/modules/generated/sklearn.svm.SVR.html#sklearn.svm.SVR.set_params) that would be perfect, but no similar method in [validation_curve](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.validation_curve.html). Could be misunderstanding your suggestion though.

[2017-12-04 16:25] edlee123 commented on #9997
Read #6595 and agree with TomTLC.   NOT regularizing intercept by default would make it consistent with scikit-learn's Ridge and Lasso.

Also bit of a gotcha with ElasticNet:
https://stats.stackexchange.com/questions/203816/logistic-regression-scikit-learn-vs-glmnet

Ridge is as one would expect:
https://stackoverflow.com/questions/26126224/scikit-learn-ridge-regression-with-unregularized-intercep

[2017-12-04 17:01] rth commented on #10237
Yes, I also just realised the default conda channel only has 0.19.0. Which means that the current stable installation instructions for conda doesn't install the latest version.

[2017-12-04 18:51] rth commented on #10235
@TomDLT Great! Maybe it could be worth mentioning that keyword it in a documentation or a docstring somewhere? As currently searching for "HALS" doesn't yield any result in the code base, and people not familiar with this might not make the connection with the reference paper.

[2017-12-04 19:24] jnothman commented on #10233
Does your real world dataset have no signal?

[2017-12-04 19:31] camilstaps commented on #9947
@DrEhrfurchtgebietend @glemaitre did this get implemented? I can't find it in imbalanced-learn. I'm trying to subclass (`Classification`)`Criterion` myself and am looking for an example, so if you know of anything like that, that would be very much appreciated.

[2017-12-04 19:32] jnothman commented on #10244
Thanks. The module being tested is deprecated, so we'll likely not
prioritise a fix.

[2017-12-04 19:32] m-guggenmos commented on #10233
It has signal - around 60-65% classification accuracy. With class_weight='balanced' the accuracy became around 75%, which would have been a huge gain in this case.

[2017-12-04 19:33] jnothman commented on #10244
I assume that given this code will still be in the next release, even a
solution commenting out the assertion would be helpful for deb maintainers,
though?

[2017-12-04 19:37] #8959 closed

[2017-12-04 20:03] amueller commented on #10237
wait, that doesn't seem right. https://github.com/ContinuumIO/anaconda-issues/issues/6809

[2017-12-04 20:05] amueller commented on #10237
We released simultaneously. But there's only "new compiler" packages (they have the weird version strings). So doing ``conda update scikit-learn`` on a "legacy" environment will not update. The same is true for any other package from what I understand. I broke my environment by trying to install the newest matplotlib in my env.

[2017-12-04 20:27] amueller commented on #10237
Opened https://github.com/ContinuumIO/anaconda-issues/issues/7631

[2017-12-04 20:28] glemaitre commented on #9947
‎It is on my pile but I did not look at it yet. 

[2017-12-04 20:37] rth opened #10250 "scikit-learn 0.19.1 not found in the default conda channel for conda <= 4.3.25"
scikit-learn 0.19.1 not found in the default conda channel for conda <= 4.3.25

Contunued from https://github.com/scikit-learn/scikit-learn/issues/10237#issuecomment-348895696 cc @jnothman @amueller

**Steps to reproduce**

***Dockerfile***
[code]
then
[code]
**Expected output**

Some lines with both 0.19.0 and 0.19.1 versions. No errors.

**Actual output**

Only 0.19.0 is seen, followed by the fo

[2017-12-04 20:37] jnothman commented on #10245
Numerical imprecision is always a real issue. Doesn't mean we can do much
about it. This is one of the things scaling intends to solve. If you feel
this is not clear enough in the documentation, please help us improve it.

[2017-12-04 20:37] #10245 closed

[2017-12-04 20:41] camilstaps opened #10251 "Extending Criterion"
Unless I'm missing something, it's not completely trivial how one can use a custom `sklearn.tree._criterion.Criterion` for a decision tree. See my use case [here](https://stats.stackexchange.com/q/316954/98500).

Things I have tried include:

- Import the `ClassificationCriterion` in Python and subclass it. It seems that `node_impurity` and `children_impurity` do not get called, the impurity is al

[2017-12-04 20:42] rth commented on #10237
Probably related, but I was doing an install in a new conda env, not an update. That failed for me on several Linux systems today, including when specifying `conda install scikit-learn==0.19.1` explicitly. Cf issue #10250.

[2017-12-04 20:52] amueller commented on #10250
this is not really a scikit-learn bug.

[2017-12-04 20:53] #10250 closed

[2017-12-04 20:54] amueller commented on #10250
And I don't think it's an issue of updating conda, the newer conda will create an environment with the new packages. If you have an existing environment with old packages and update conda, I don't think it'll find it. Also, I'm suprised you can't ``conda install scikit-learn=0.19.1`` ... hm

[2017-12-04 21:00] rth commented on #10250
I know, but it might still be better to have another place to discuss this on the scikit-learn side, than the numpy random seed reproducibility issue linked above.

Also if that's true the installation instruction should specify to update conda. Updating conda is not an issue if you know it needs updating...

[2017-12-04 21:04] amueller commented on #10250
No the issue is that you need to trash any previous environments from what I understand.

[2017-12-04 21:09] rth commented on #10250
I just updated conda from 4.3.22 to 4.3.30 on my Linux system and I definitely see 0.19.1 in conda search (it wasn't the case before). I can also update scikit-learn from 0.19.0 to 0.19.1 in some old existing env with `conda update scikit-learn`.

[2017-12-04 21:17] amueller commented on #10233
I'm confused, but is the example not using enormous regularization?

[2017-12-04 21:26] amueller commented on #10233
What's the class balance on your dataset? 60-65% classification accuracy seems like no signal in an imbalanced setting. I think this is more an issue of using accuracy and LOO on an imbalanced dataset.

[2017-12-04 21:58] jnothman commented on #3702
fit_params is not set_params. you are right, it's not in validation_curve,
but it is in cross_validation

[2017-12-04 22:00] jnothman opened #10252 "validation_curve and learning_curve should support fit_params"
Similar functions like cross_validation and cross_val_score support fit_params to pass sample_weight etc into the model being fitted. These other model selection routines should probably support the same.

[2017-12-04 22:01] jnothman commented on #3702
I have opened issue #10252

[2017-12-04 22:02] jnothman commented on #9997
hahahaha TomTLC is not quite @TomDLT. Thanks for the feedback (and the
laugh).

[2017-12-04 22:04] camilstaps commented on #10251
As promised, my code to get it working as a Cython extension:

[code]

This requires the following patch:

[code]

[2017-12-04 22:30] jnothman commented on #10233
I think it's an unfortunate mix of a few things. It would not happen if
compute_class_weight returned rationals instead of fixed-width floats.

[2017-12-04 23:30] m-guggenmos commented on #10233
@amueller you're of course right, it's an instance of high regularization, I mixed it up with λ = 1/C.

The accuracies mentioned in my last post refer to balanced accuracies though, so class imbalance is taken into account.

[2017-12-05 01:10] edlee123 commented on #9997
Yea wish some days I could get it backwards, it is pretty funny...

[2017-12-05 01:19] amueller commented on #10237
@rth so @mingwandroid said just upgrading conda in the same env should fix it.

[2017-12-05 01:29] ido-sh commented on #10252
Hi @jnothman, can I give it a shot?

[2017-12-05 02:12] jnothman commented on #10252
Sure, have a go. Remember to include or update a test

[2017-12-05 06:13] keitakurita commented on #10235
Thanks for the quick reply!
When I properly benchmarked using a similar script to the benchmark you provided, I found my implementation to be slower than the current cd solver (my experience was probably due to cache issues of some external factors, or pure chance).

It might be nice to have a reference to [Hsieh & Dhillon 2011](http://www.cs.utexas.edu/~cjhsieh/nmf_kdd11.pdf) in the documents tho

[2017-12-05 06:22] jnothman commented on #10235
Please offer a PR fixing the documentation. Thanks

On 5 December 2017 at 17:13, keitakurita <notifications@github.com> wrote:

[2017-12-05 07:35] olebole commented on #10244
It would help, ofcourse, but we can also just disable this one with a patch. Thanks.

[2017-12-05 07:53] sejlermonster commented on #10245
I stumbled upon it myself with some data but by preprocessing i got the result i needed. I was just confused by if it for a while. But as mentioned maybe i should look into improving the documentation

[2017-12-05 07:57] jnothman commented on #10245
I don't think we have enough general precautions about numerical precision
issues, but I'm not sure where to put it either. Certainly it should be
mentioned in the scaler documentation, and I don't think it is:
doc/modules/preprocessing.rst. PR welcome.

[2017-12-05 08:04] jnothman commented on #10247
Yes, `roc_auc_score(y_true1, y_proba)` fails, but `make_scorer(roc_auc_score, needs_proba=True)(clf, X_test, y_test)` does not. Both are  in accordance with documented and expected behaviour.

[2017-12-05 08:24] mzoll commented on #10247
I do not understand how you find that `make_scorer(roc_auc_score, needs_proba=True)(clf, X_test, y_test)``behaves correctly: I get executing this line (full trace):
[code]

while I understand that this is in accordance with the function documentation, which forces y_true and y_pred to be in the same shape, aka both are per class predictions, this is explicitly not the format a the classifier wants

[2017-12-05 08:48] vantung420 opened #10254 "CASIA maxpy clean"
when I run " ython src/align/align_dataset_mtcnn.py ~/datasets/casia/CASIA-maxpy-clean/ ~/datasets/casia/casia_maxpy_mtcnnpy_182 --image_size 182 --margin 44"
but have erros "No such file or directory: '/home/van-tung/datasets/casia/CASIA-maxpy-clean/"
plese help me. thanks.

[2017-12-05 09:20] TorbenVogt commented on #10245
May I ask why is the threshold necessary? I don't see any floating point arithmetic before the comparison of feature values.

[2017-12-05 09:20] jnothman commented on #10247
Oh. You're right. Although this issue is fixed in master. That's quite nasty. I'll need to track down what fixed this...

[2017-12-05 09:23] glemaitre commented on #10245
This is to skip unnecessary ‎computation of the impurity which is the most costly part when trying to find a split. 

[2017-12-05 09:54] jnothman commented on #10247
This behaviour changed in master in ee2025f282b586d4f9d3dbaa9083d33870bba3cf.

The issue is that the 'roc_auc' scorer is defined internally with `needs_threshold=True`. `needs_proba` means it strictly needs probability, not some arbitrary threshold.

We should probably consider some documentation improvements, if not changing the interface.

[2017-12-05 09:57] alvinthai commented on #8723
Could the is_copy flag be set to None to fix this issue?

See: https://stackoverflow.com/questions/45090639/pandas-shows-settingwithcopywarning-after-train-test-split

[2017-12-05 10:22] sejlermonster commented on #10245
@jnothman Thanks, I will try to look into documenting this.

[2017-12-05 10:56] aby0 commented on #10141
@jnothman As far as my understanding,  we generally use cholesky decomposition for calculating inverse of positive definite matrix efficiently(better than LU decomposition), so taking cholesky of covariance makes sense in order to calculate precision matrix eventually. So, It might be just an documentation error. If so, can I move ahead to make changes in documentation? Thanks

[2017-12-05 11:12] refrigerator commented on #9234
Is anyone still having problems with this?

I have a model trained on 15,000 data points, and predictions with `return_std=True` take about 2 minutes for a single prediction, whereas with `return_std=False` it's basically instant.

[2017-12-05 12:06] qinhanmin2014 commented on #10247
@mzoll The problem is fixed in #9521. Now you get the same result using _ProbaScorer (by setting needs_proba=True) and _ThresholdScorer (by setting needs_threshold=True).
[code]
But according to the doc of [make_scorer](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.make_scorer.html), it is recommented to set needs_threshold=True. Here is the definition from scikit-learn.
https:/

[2017-12-05 12:27] Giovanni-whichit commented on #10252
Hi @jnothman,
I was checking this issue and I just saw that the tests for the validation_curve are in test_learning_curve, which is testing the deprecated implementation in learning_curve.py.
Should this test moved in test_cross_validation where validation_curve is implemented now?

[2017-12-05 12:29] ggc87 commented on #10252
Hi @jnothman,
I was checking this issue and I just saw that the tests for the validation_curve are in test_learning_curve, which is testing the deprecated implementation in learning_curve.py.
Should this test moved in test_cross_validation where validation_curve is implemented now?

[2017-12-05 13:01] jnothman commented on #10254
I think you've asked in the wrong place

[2017-12-05 13:04] #10254 closed

[2017-12-05 13:18] jnothman commented on #10247
Well there a certainly metrics that can't take an unnormalised decision function, but the may not necessitate a separate class

[2017-12-05 13:20] #10199 closed

[2017-12-05 13:22] jnothman commented on #10252
don't worry about the deprecated module. tests should be in
model_selection/tests

[2017-12-05 13:48] ggc87 commented on #10252
Right, I didn't see that the tests are in the model_selection/tests folder, I just saw the test_validation.py in the main test folder.

[2017-12-05 15:07] qinhanmin2014 commented on #10247
@jnothman Thanks a lot for the clarification :)
Indeed, I've find the following things from the doc of the three Scorers
[code]
I'm +1 for improving the doc and the user guide.
Also, in the long run, I agree that we might combine the three classes to avoid duplicate code. (e.g., we still use predict to handle regression in _ThresholdScorer even if we have clearly stated that it only works for clas

[2017-12-05 15:46] amueller commented on #10233
what version of balanced accuracy? ;) [less relevant to this issue maybe but part of my quest to find out what people mean when they say that]. Though depending on the definition you're using, chance performance could be anything depending on the imbalance.

[2017-12-05 15:49] m-guggenmos commented on #10233
Hmm, it is the version from a `pip install git+https://github.com/scikit-learn/scikit-learn.git` around a week ago. Does that help?

[2017-12-05 15:56] amueller commented on #10233
ah, makes sense. That always has chance performance of .5, right (if we always predict one class the recall will be 1 for that and 0 for the other)? Are we saying that in the docs anywhere?

[2017-12-05 17:51] lesteve commented on #7627
Closed by #9101.

[2017-12-05 17:51] #7627 closed

[2017-12-05 19:55] amueller opened #10257 "Add QuantileTransformer to PowerTransformer example"
I think it would be nice to add the QuantileTransformer to the new PowerTransformer example.
I have to say I'm not entirely convinced by http://scikit-learn.org/dev/auto_examples/preprocessing/plot_all_scaling.html#sphx-glr-auto-examples-preprocessing-plot-all-scaling-py
which is currently the only comparison we have.
The PowerTransformer example also has multi-modal data, which I think is interes

[2017-12-05 20:32] jnothman commented on #10233
it's irrelevant what metric: the system got perfect scores for unexpected
and unrealistic reasons.

On 6 Dec 2017 2:56 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-12-05 20:35] amueller opened #10258 "ClassifierChain lacks link to user guide"
http://scikit-learn.org/dev/modules/generated/sklearn.multioutput.ClassifierChain.html#sklearn.multioutput.ClassifierChain

There should be a link to the user guide as in all other class descriptions.

[2017-12-05 20:38] amueller commented on #10258
(somewhat) Separately: The link in the User Guide to the class is broken: http://scikit-learn.org/dev/modules/multiclass.html#classifier-chain  (and also for MultiOutputClassifier above).

Also the user guide for the ClassifierChain should probably link to the example and maybe include a short code example.

[2017-12-05 21:19] adelr opened #10259 "LatentDirichletAllocation uses multiple cores even when n_jobs is set to 1"
#### Description

LatentDirichletAllocation computation runs on multiple cores even when n_jobs is set to 1.

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results

The code above is expected to run on a single core.

#### Actual Results

More than one core is used.
<img width="485" alt="screen shot 2017-12-06 at 7 55 39 am" src="https://user-images.githubusercontent.com/7885152/3363

[2017-12-05 21:26] jnothman commented on #10257
but the QuantileTransformer output histogram will look identical for all
inputs. More interesting a comparison would be a scatter of each function,
for both transformers.

[2017-12-05 21:29] #6675 closed

[2017-12-05 21:36] amueller commented on #10257
You mean with input on one axis and output on the other? Aka a q-q-plot?

[2017-12-05 21:37] amueller commented on #10259
It's likely that the underlying blas (in this case MKL if you installed everything via conda) is parallelizing matrix operations. So this is not parallelism initiated by scikit-learn. We should add this to the FAQ.

[2017-12-05 21:38] amueller commented on #10259
You can probably configure the blas you're using to only use a single core via an environment variable.

[2017-12-05 21:57] rth commented on #10217
@thechargedneutron I have not read the reference paper, and I'm not certain what would be the ideal behavior in this case.

[2017-12-05 22:10] glemaitre commented on #8841
@jnothman Now that the PowerTransformer is merged, I would think that this is the right time to split data.py

From the above proposition, I would think that we could actually split the linear (scaler) and the non-linear transformer (Power/Quantile) and the rest of them inside another file (I don't have a good naming)

@jnothman WDYT?

[2017-12-05 22:13] adelr commented on #10259
You're right. Setting MKL_NUM_THREADS=1 fixes the issue. Thank you very much.

[2017-12-05 22:15] jnothman commented on #10257
I suppose a q-q plot would work?

On 6 December 2017 at 08:36, Andreas Mueller <notifications@github.com>
wrote:

[2017-12-05 22:15] amueller commented on #10259
Any chance you want to contribute the instructions (and a note for OpenBLAS) to the FAQ?

[2017-12-05 22:16] adelr commented on #10259
Sure. Should I submit a PR?

[2017-12-05 22:17] amueller commented on #10259
that would be great :)

[2017-12-05 22:22] jnothman commented on #8841
I think it makes sense to have scalers on their own, just because they're
so big a family...

But we also don't benefit a lot from changing these things, and we *may*
break user code.

I think more important is to make sure future imputers do not go in there...

[2017-12-05 22:22] jnothman commented on #8841
i.e. into the module at all.

[2017-12-05 22:23] amueller commented on #8841
err where do they go then?
I don't like moving stuff around because it messes with history and blame, but I also don't like big files ;) I'm ok with pulling scalers into their own thing.
I find history and blame useful to figure out why we did something 5 years ago ;)

[2017-12-05 22:47] glemaitre commented on #8841
If the data is renamed and we keep most of the scalers there, we should be able to keep the history.
It will not be true for the other classes.

Completely agree.

As a conclusion, I thought it was a good time to take a decision regarding this issue. I can live with both outcome (close the issue or split the file) :)

[2017-12-05 22:48] jnothman commented on #8841
yeah, I think this issue isn't worth the bother it may create. Re imputers,
we've discussed this in #9726.

[2017-12-05 22:50] jnothman commented on #9726
Of course we could just make KNNImputer live under neighbors and MICE live under ?ensemble.

I've wondered whether in some ways it would make sense to have a pseudo-module sklearn.classifiers, sklearn.regressors, sklearn.imputers, etc, that import from the relevant implementation locations...

[2017-12-05 22:58] #8841 closed

[2017-12-05 23:31] chang opened #10261 "Implement the Yeo-Johnson transform as part of PowerTransformer"
#### Description

Right now, `sklearn.preprocessing.PowerTransformer` implements the Box-Cox transform (#10210), which only works on positive, nonzero data. The Yeo-Johnson transform is an alternative power transformation that supports negative and zero values. Yeo and Johnson also proposed a more robust technique for selecting the transformation parameter (paper linked below), which may be a good

[2017-12-06 06:45] aby0 commented on #10258
Can I pick this up if someone is not working on it already? Thanks.

[2017-12-06 09:31] jnothman commented on #10258
I don't think anyone else has announced they're working on it. go ahead!

[2017-12-06 10:32] jnothman commented on #10141
This isn't my expertise, @aby0, but submit a PR and the change will certainly be considered!

[2017-12-06 13:20] glemaitre commented on #10232
I am closing since this is more related to joblib

[2017-12-06 18:42] amanp10 commented on #9388
I would like to work on this. Will try to get back with a PR in a few days.

[2017-12-06 20:19] #10259 closed

[2017-12-06 21:13] jnothman commented on #9388
Go for it! No promises it's easy

[2017-12-07 00:46] ychennay commented on #5651
FYI everyone, the solution provided by @enoonIT on October 31st, 2015 I believe is now deprecated:

[code]
fails because the transform() method performs `check_is_fitted() `and will throw a `NotFittedException`, since the instance expects us to call `fit()` before `transform()`. Also, `scaler.std_` is replaced with `scaler.scale_`.

My recommendation is to create your own Scaler class that inherit

[2017-12-07 01:59] jnothman commented on #5651
I think if you set std_ and scale_, check_is_fitted will pass without complaint.

But it's an interesting point that variance could be computed with better memory efficiency than numpy does. I would consider a PR which limits memory consumption here to a fixed buffer size.

[2017-12-07 08:10] lesteve commented on #10213
Maybe a simple work-around to get the doctest to pass is to use doctest ellipsis.

[2017-12-07 08:38] alexisrosuel opened #10265 "Use longitude and latitude for SVR"
It seems that we can't directly use coordinates (longitude and latitude) to train algorithms such as SVR, and it would be awesome to train machine learning models directly on geographical data.

I saw that there already exist a metric for this ("haversine"), so I was wondering id it would be not too difficult to implement as a kernel ?

Thanks !

[2017-12-07 11:09] FarahSaeed commented on #9919
@sauln I'd like to work on this if not already being worked on :)

[2017-12-07 14:31] jbiggsets commented on #2688
I recently open-sourced a `factor_analyzer` package on GitHub. The module includes both varimax and promax rotations.

I'm not sure if this could be incorporated. Portions of the code were ported from R's `psych` library, which is licensed under GPL2, so my code is also GPL2.

https://github.com/EducationalTestingService/factor_analyzer

[2017-12-07 18:53] sauln commented on #9919
@FarahSaeed If you want to, by all means.

It would be great if you started from my branch, 50e0320f211d2e70ba194f8589283b2cf7551b01.  I think log uniform is implemented correctly, but I haven't fully tested it or integrated it into the documentation.

See https://github.com/sauln/scikit-learn/blob/50e0320f211d2e70ba194f8589283b2cf7551b01/sklearn/utils/random.py#L204 for the implementation

I star

[2017-12-07 21:22] jpeg729 opened #10267 "GradientBoostingRegressor with huber loss sometimes fails with an `IndexError: cannot do a non-empty take from an empty axes.`"
If I use the first 63726 lines of my dataset for training everything works, but if I add one line more to the training set, then I get the error. My dataset contains no NaNs. The 63727th line has no obvious differences from the others, furthermore if I use lines 63000:64000 for training then I don't get the error, which suggests that the content of line 63727 isn't directly the problem.

I have tr

[2017-12-07 21:41] jnothman commented on #2688
We can't incorporate it, but we could add it to our related projects
listing, ideally with it having a more scikit-learn-like interface...

[2017-12-07 22:25] jnothman commented on #10267
From that error message I can deduce that `_update_terminal_region` is being called with `terminal_regions` not containing `leaf`. I'm not familiar enough with this technique to know whether this is a state that should never happen, or whether this is a case that is unhandled but should be. (@pprett?) Either way, thanks for the bug report.

[2017-12-07 23:53] jrbourbeau opened #10268 "Mismatch between doc/README.md and doc/developers/contributing.rst"
#### Description

`doc/README.md` was updated in #10225 and now includes `sphinx-gallery` as a dependency. I.e. it now says "Building the website requires the sphinx, sphinx-gallery and matplotlib packages".

However, `doc/developers/contributing.rst` says "For building the documentation, you will need sphinx, matplotlib and pillow".

I'd be happy to submit a PR that updates `doc/developers/contri

[2017-12-08 00:17] jrbourbeau commented on #10064
I also like how the scikit-image requirements files are centralized.

If this is the direction people want to go, I can work on making a `requirements` directory and updating the CI files and relevant documentation.

[2017-12-08 00:27] amueller commented on #388
the linear cases do this by now, the kernelized cases seem rather tricky. closing. Feel free to reopen if anyone wants to work on it

[2017-12-08 00:33] amueller commented on #4547
@betatim are you still interested in this, or close?

[2017-12-08 00:36] #1511 closed

[2017-12-08 00:36] #1285 closed

[2017-12-08 00:37] #4805 closed

[2017-12-08 00:38] amueller commented on #2972
Don't think it's worth it.

[2017-12-08 00:38] #2972 closed

[2017-12-08 00:40] #5842 closed

[2017-12-08 00:40] amueller commented on #5842
stale. Was for the 0.17 release lol

[2017-12-08 00:43] amueller commented on #7595
since we released again, I think this is not relevant any more.

[2017-12-08 00:43] #7595 closed

[2017-12-08 01:21] jnothman commented on #10268
Start with a PR that makes them consistent perhaps. I don't particularly mind either solution. Thanks for spotting this issue

[2017-12-08 02:42] jnothman commented on #10064
sounds nice from my end, thanks!

[2017-12-08 03:19] jdossgollin commented on #10108
@siftikha curious whether you had any success with this, thanks

[2017-12-08 05:21] vrishank97 commented on #10257
Can I take this up?

[2017-12-08 09:21] mvds314 commented on #2688
Statsmodels is rewriting my factor rotation code and are almost finished with adding it to their package. Maybe you can use what have done and add that to scikit learn. [https://github.com/statsmodels/statsmodels/pull/3294](https://github.com/statsmodels/statsmodels/pull/3294)

[2017-12-08 11:14] glemaitre commented on #10257
@vrishank97 go for it :)

[2017-12-08 12:14] lesteve commented on #10268
My personal opinion: I would rather remove doc/README.md and update contributing.rst. I was not aware doc/README.md even existed until recently. Some markdown files have some use within github, e.g. README.md (shown on the github repo page), CONTRIBUTING.md (a link is shown when opening a PR/issue). I don't think this is the case of `doc/README.md` (who clicks on doc and then reads the README.md?)

[2017-12-08 12:38] lesteve commented on #10267
Maybe @glemaitre has a suggestion on this one?

[2017-12-08 13:00] glemaitre commented on #10267
At a first look, I have no clue. This is not really a part of the code that I know.
@jpeg729 do could you provide the data such that we can reproduce the bug and try to understand where this is coming from?

[2017-12-08 13:02] TomDLT commented on #10258
The first issue is already fixed in #9257 (not merged).
The second is not yet fixed.

[2017-12-08 14:30] jrbourbeau commented on #10268
Good point @lesteve. I agree that it would be better to update `contributing.rst` with the contents of `doc/README.md`. There are detailed instructions in `contributing.rst` for making a pull request, setting up a git fork, etc. Seems like a natural place for the instructions to build the documentation.

[2017-12-08 14:38] jpeg729 commented on #10267
My dataset is private. Besides, it weighs several gigabytes. Furthermore, I don't think examining the dataset is going to enlighten you all that much, especially as I have recently noticed that changing the hyperparameters can sometimes cause the error to appear on a dataset that previously allowed training with no problem.

Based on @jnothman's observation I have added `if len(terminal_region) ==

[2017-12-08 14:58] glemaitre commented on #10267
I am not interesting by the dataset but by whatever can reproduce the bug. The easy thing is to have what you tried first. But this true that if you have a synthetic minimal example it is always better. 

[2017-12-08 15:26] jpeg729 commented on #10267
If you have ideas for fixes I'll happily test them out on my dataset.

[2017-12-08 18:08] pwellner opened #10271 "Missing type support in unique_labels() utility"
#### Description
`sklearn.utils.multiclass`  `unique_labels()` does not yet allow `"multiclass-multioutput"` input type for `y` .
See this comment in the code: https://github.com/scikit-learn/scikit-learn/blob/3a48f0ab7cf75dea55f313da6b33f7b6772d28af/sklearn/utils/multiclass.py#L53

This type is used by multilabel classifiers such as `sklearn.tree.DecisionTreeClassifier`.
https://github.com/scikit

[2017-12-08 18:40] amueller commented on #10271
Duplicate of #9414?
Sort-of, I guess. Right now we don't have any metrics supporting multiclass-multioutput. The question is whether we want to add metrics that do that. I expressed doubt about the usefulness of multiclass-multioutput (in particular in contrast to the maintenance cost). Can you share your use-case?

[2017-12-08 18:42] amueller commented on #10258
Well #9257 is way heavier. I wouldn't mind a temporary fix just adding the line to the docstring...

[2017-12-08 18:44] amueller commented on #10108
I'm not super excited about this. Why not add this to scipy? Do you want 1d or n-d?

[2017-12-08 18:47] amueller commented on #9919
With benchmark I meant as parameter distribution for SVC or regularization in linear models. Sorry If I was being unclear.

[2017-12-08 18:49] amueller commented on #10265
You could use them, the question is whether the results are what you'd expect (euclidean metrics are usually assumed). You can probably use ``exp(-gamma * distance(x, y))`` as a kernel. This is a usage question, so I'd suggest you take it to stack overflow, see scikit-learn.org/dev/faq.html#what-s-the-best-way-to-get-help-on-scikit-learn-usage

[2017-12-08 18:49] #10265 closed

[2017-12-08 18:54] amueller commented on #10232
Should this be in the FAQ? I get asked this regularly (and on a webcast two days ago). It's also non-obvious to users how to decide which n_jobs to set and we could give some guidance on that.

[2017-12-08 18:58] amueller commented on #9726
Yeah... I would prefer a semantic organization, but it's not how we have done things in the past. I guess you suggest having that in parallel to the current structure? I wouldn't be opposed, but it's a big change. Is the goal to keep two places to import from long-term? That seems slightly confusing....

[2017-12-08 19:03] glemaitre commented on #10232
it seems reasonable.

[2017-12-08 19:17] gxyd commented on #10252
@ggc87 @ido-sh Is anyone here working on the issue? I have a pull request ready locally, but since you already asked to work on the issue, I'll wait if you still want to work on it.

[2017-12-08 19:28] pwellner commented on #10271
Sure, each of my samples is a mixture of chemicals.  From a set of ~100 target chemicals, my classifier predicts which of these chemicals are present and absent in a sample. I want to use a micro average f1 score.

[2017-12-08 19:31] amueller commented on #10271
that's multi-label, not multiclass multioutput, right? Each label is binary?

[2017-12-08 19:31] amueller commented on #10271
(which is a special case that should be supported)

[2017-12-08 19:38] Bala1718 commented on #10257
As Powertransform implements the Box-Cox transform and it can be applied to only positive and non-zero data and what we should do for negative values for Quantile transformer?

[2017-12-08 19:48] pwellner commented on #10271
Yes, that's right: multi-label.  I was thinking `fit(X, y)` should accept a `y` in the following format:
`[[1, 3], [1, 2]]`
or
`[["foo", "bar"], [["bar", "bat"]]`

for which the `type_of_target()` utility returns `"multiclass-multioutput"`  but for which `unique_labels()` raises an error.

[2017-12-08 20:22] pwellner commented on #10271
OK, for this I should probably be using `MultiLabelBinarizer()` to produce an indicator array.
But, when I do the following:
[code]
Perhaps that should return `multilabel-indicator` instead?

[2017-12-08 20:38] pwellner commented on #10271
If so, I can offer to fix `type_of_target()` instead of `unique_labels()`

[2017-12-08 20:59] ido-sh commented on #10252
@gxyd if yours is ready then please feel free to go ahead

[2017-12-08 23:59] jdossgollin commented on #10108
Scipy has only one kde (`scipy.stats.gaussian_kde`) as compared to a much larger KDE suite here. I think that such a function would be a useful tool for many data science tasks, as a lot of naturally occurring data sets are bounded in some way.
An implementation seems feasible enough -- for example, section 3.1.1 from [smoothing methods in statistics](https://www.amazon.com/Smoothing-Methods-Stati

[2017-12-09 07:14] #4547 closed

[2017-12-09 07:14] betatim commented on #4547
I'd still like it to exist but not enough to work on it at the moment.

[2017-12-09 08:26] canard0328 opened #10274 "StratifiedKFold with shuffle is not reproducible in 0.19."
#### Description
The result of StratifiedKFold with shuffle in 0.19 differ from that in 0.18.

#### Code to Reproduce
[code]

#### Results of 0.18.2
[code]

#### Results of 0.19.1
[code]

#### Versions
Windows-10-10.0.16299-SP0
Python 3.6.2 |Continuum Analytics, Inc.| (default, Jul 20 2017, 12:30:02) [MSC v.1900 64 bit (AMD64)]
NumPy 1.13.1
SciPy 0.19.1
Scikit-Learn 0.18.2

and

Windows-10-10.0.16

[2017-12-09 09:00] hnykda opened #10275 "Dead link in latent dirichlet aloc"
#### Description
The link in documentation is dead here: https://github.com/scikit-learn/scikit-learn/blob/a24c8b46/sklearn/decomposition/online_lda.py#L260

I have a proposal to prevent these:
1. copy all websites, articles, code, link's content, if legally possible, to scikit-learn.org servers and keep them there, because, unfortunately, academia people are usually terrible in keeping things ali

[2017-12-09 11:34] jnothman commented on #10268
fine by me

[2017-12-09 11:42] jnothman commented on #9726
it's not entirely true that we haven't done semantic organisation in the
past, sklearn.cluster,decomposition,manifold...

On 9 Dec 2017 5:59 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-12-09 11:51] jnothman commented on #10271
For historical reasons, it won't identify the input as multilabel-indicator
unless you pass it in as an array, not a list. Yes, this is a confusing
usability issue. #9158 proposes to change this, but it's not received
enough attention from core devs....

[2017-12-09 12:11] jnothman commented on #10274
Yes, I think this backwards-incompatibility slipped through the cracks in
#7823. I suppose we shouldn't have accepted such a mixed bag there... :\

The new version might be more sensible; it means that for fixed random
state, the shuffling of different classes of the same size will not be
correlated. But I don't think we should have merged the change: it applies
rarely, it is not tested, and it wa

[2017-12-09 12:15] jnothman commented on #10275
sphinx provides `linkcheck` builder which does the latter. We should make a point of running it once in a while though (@lesteve, another travis cron job??).

Please provide a PR fixing this specific instance.

[2017-12-09 14:54] hnykda commented on #10275
My bad, I was watching old revision... https://github.com/scikit-learn/scikit-learn/commit/abb43c1aef10a3348216006f6be5e34dcd6ac157

[2017-12-09 14:54] #10275 closed

[2017-12-09 15:08] vrishank97 commented on #10257
Just to be sure, I have to add the QuantileTransformer in plot_power_transformer.py right?

[2017-12-09 16:07] rth commented on #10275
scikit-learn.org is hosted on Github Pages, and that's not really suitable for archiving data.
See https://github.com/scikit-learn/scikit-learn/issues/7425 as a more reliable solution

That could be useful, the questions is how to run it using the infrastructure available for OSS projects.  Done as a side project, this could be for instance a cron job on Travis CI for some repo (other than the sci

[2017-12-09 16:14] rth commented on #10275
Good to know. From what I saw, running multiple cron jobs with different tasks doesn't look easy as  `TRAVIS_EVENT_TYPE="cron"` is the only way to detect run type.

[2017-12-09 19:25] jnothman commented on #10257
yes, that is the proposal here, but please read the discussion above.

[2017-12-09 21:19] jmargeta opened #10278 "Spectral clustering with lobpcg solver is unstable"
#### Description

Spectral clustering with lobpcg solver appears to be unstable.
**An exception is thrown on windows** CI build while the code runs well on Linux.
**On Linux, the solver is sensitive to tiny image variations**.
See https://github.com/scikit-learn/scikit-learn/pull/9062 for more details.

This might be because the problem is not particularly well preconditioned.
However at least the

[2017-12-09 22:32] DrEhrfurchtgebietend opened #10279 "MemoryError from sklearn.metrics.silhouette_samples"
Please note that this is a follow up issue to [#4701](https://github.com/scikit-learn/scikit-learn/issues/4701) and [#4197](https://github.com/scikit-learn/scikit-learn/issues/4197) not a duplicate.

Calling sklearn.metrics.silhouette_samples with a large data set will cause a memory MemoryError in numpy.dot. This is not an issue with numpy.dot but with the implementation of sklearn.metrics.silhou

[2017-12-10 02:40] jnothman commented on #10279
I think we need to fix this properly. We've had patches for years and I think we have shown thy using less memory is almost always worthwhile

[2017-12-10 04:13] DrEhrfurchtgebietend commented on #10279
By "properly" do you mean to imply that there is a potential implementation which would keep the memory below O(N) but be a fast as the current implementation?

[2017-12-10 05:00] jnothman commented on #10279
well we found that using less memory speeds things up overall for any
problem in which speed is an issue, basically

[2017-12-10 12:17] xieliaing commented on #2688
I still don't understand why rotation methods can't be incorporated, at least popular ones such as varmax.

As @robkoper said, without rotation, FA is basically useless in real application.

Maybe ask @mvds314 added a notebook explain a little more details about rotation, especially the difference of various rotation methods, and hope that will help.

[2017-12-10 15:14] floperry opened #10281 "inverse_transform() method in StandardScaler"
#### Description

I know that I can use the transform() method to standarize a data set with removing the mean and scaling to unit variance, and then I can use the inverse_transform() method to map the data back. But I wonder how could I map the data with a lower dimension back. For example, I have a data set with m * n, and I encode it to m * k, where k is smaller than n. How could inverse transf

[2017-12-10 16:46] DrEhrfurchtgebietend commented on #10279
In principle for small N the method with less operations should be faster. I was curious where a more conservative memory algorithm would become faster. I did a comparison to the Stack Overflow implementation. Turns out it gets faster pretty much right away.

[code]

![figure_1](https://user-images.githubusercontent.com/8100100/33807057-f67e95c6-dd85-11e7-9f7e-403a17e15218.png)

[2017-12-10 19:59] jnothman commented on #10279
As far as I can tell, the SO implementation still has some fairly high memory costs, depending on the sizes of your clusters. But we had similar results when [benchmarking #7177](https://github.com/scikit-learn/scikit-learn/pull/7177/files), though I was too lazy to plot it. Basically, the memory allocation takes a lot of time.

#7177, and my most recent attempt, #10280, should (usually) limit the

[2017-12-10 20:00] jnothman commented on #10281
How do you encode it to lower dimension? Give an example? You're not really
giving enough information...

On 11 December 2017 at 02:14, Fenng <notifications@github.com> wrote:

[2017-12-10 21:59] colocha commented on #5602
Sd cl

[2017-12-11 06:05] iarroyof commented on #5481
Hi.. the same problem with TrucatedSVD

[2017-12-11 08:25] lesteve commented on #10275
The easiest is probably to run `make linkcheck` in Circle (where we already have all the needed dependencies), maybe only on master because that's generally not the PR's fault if a link is broken.

[2017-12-11 08:28] lesteve commented on #10275
For the record, you can have multiple builds with `type=cron` and it will do exactly the same as what you have in master, i.e. you have a build matrix with multiple builds that are run by the Cron job. Here is an example where I added a Python 3.4 build to the Cron job (on my fork): https://travis-ci.org/lesteve/scikit-learn/builds/306332273.

[2017-12-11 09:12] ggc87 commented on #10252
@gxyd same here I was waiting for @ido-sh since he asked before.

[2017-12-11 12:16] gxyd commented on #10252
I've close my PR.

[2017-12-11 12:31] ggc87 commented on #10252
@gxyd I'm sorry this has been a bit confusing.  You had no reason to close your PR, you can go ahead :)

[2017-12-11 13:20] floperry commented on #10281
@jnothman I update the description of my question. I hope I make it clear this time. And if there is anything ambiguous, please let me know.

[2017-12-11 14:03] dmohns opened #10282 "Python Image Library is required to build the documentation"
#### Description
Following the steps in https://github.com/scikit-learn/scikit-learn/tree/master/doc to build the documentation fails with `ImportError: No module named Image`. The error also occurs when running `make html-noplot`

After running either
[code]
or
[code]
the documentation builds successfully.

#### Questions
1. Which is the correct way to build the documentation?
2. Can we update th

[2017-12-11 15:19] TomDLT opened #10283 "LinearRegression is sometimes not deterministic"
`LinearRegression` is sometimes not deterministic, as shown by the following test:
[code]
which failed **at iteration 18** in [this Travis job](https://travis-ci.org/scikit-learn/scikit-learn/jobs/314812527#L2797). I can't reproduce locally.
It only occurs on one Travis platform (Linux + python 3.6.2), only sometimes (iteration 18 in this test case).

Failure spotted initially in https://github.co

[2017-12-11 15:36] jotasi commented on #10147
Is there anyone currently working on this? The pull request by @keyur9 seems to be incomplete and inactive. I would love to take a shot at this but I don't want to step on anyone's toes.

[2017-12-11 17:44] vcoscrato opened #10284 "linear_model.RidgeClassifierCV's Parameter store_cv_values issue"
#### Description
Parameter store_cv_values error on sklearn.linear_model.RidgeClassifierCV

#### Steps/Code to Reproduce
import numpy as np
from sklearn import linear_model as lm

#test database
n = 100
x = np.random.randn(n, 30)
y = np.random.normal(size = n)

rr = lm.RidgeClassifierCV(alphas = np.arange(0.1, 1000, 0.1), normalize = True,
                                         store_cv_values =

[2017-12-11 18:26] amueller commented on #10281
you need to invert the autoencoder first.

[2017-12-11 18:38] amueller commented on #10283
which versions did you try to reproduce with? I tried with scipy 1.0. It's scipy.linalg.lstsq that does that probably (we could maybe boil it down to that?)

[2017-12-11 18:43] amueller commented on #10283
(oh you opened at scipy already)

[2017-12-11 19:20] shinyaogata commented on #5046
conda install numpy
solved the problem for me too.

[2017-12-11 19:57] jnothman commented on #10282
Solution number 2 is in progress: #10272. Closing as duplicate.

[2017-12-11 19:57] #10282 closed

[2017-12-11 20:00] jnothman commented on #10284
thanks for the report. PR welcome.

[2017-12-11 20:53] jnothman commented on #10283
good on you for following this up, @tomdlt

[2017-12-11 21:52] DrEhrfurchtgebietend commented on #10279
Yes you are correct about the memory issues not being totally mitigated by the SO implementation.

I hope this is not too much of a tangent but it may be worth looking into at the same time. Once a clusterer has been train I use predict() to label a new data set. The silhouettes are being used later for features to a classification algorithm. This means for my new data set I need the silhouettes p

[2017-12-11 21:58] jnothman commented on #10279
I'm not sure what you're proposing, Keith. Are you saying that we should
consider silhouette_samples_predict for inclusion in scikit-learn? Why not
make it available in a separate library. Also, see #10280 for how I hope we
will do this calculation in the future with essentially constant memory
(unless there are > 64M samples).

[2017-12-11 22:01] jnothman commented on #9246
Fixed in #9257

[2017-12-11 22:01] #9246 closed

[2017-12-11 22:22] DrEhrfurchtgebietend commented on #10279
Yes, I was proposing such a function be considered while this work is being done. Is there an alternative library which would be appropriate?

I looked at https://github.com/scikit-learn/scikit-learn/pull/10280 and it seems reasonable to me. Anything beyond a few million samples is unlikely to be clustered on a single machine in the first place.

[2017-12-11 22:30] #9085 closed

[2017-12-11 22:34] jnothman commented on #10251
I think we have been heretofore reluctant to officially declare this public API (thoughts, @glemaitre?), but I think putting `ClassificationCriterion` in the pxd makes sense even for users who want to extend a not-assured-stable API. PR welcome.

[2017-12-11 22:56] amueller commented on #10158
I think @jnothman is right, we get convergence warnings because we change ``n_iter``. We should probably just catch those.

[2017-12-11 23:12] amueller commented on #10158
So we got
[code]
a bunch of times, which is bad, since it means the code will actually break if we don't change it (but we still have 2 versions to fix it ;)

#9379 added a whole bunch of new warnings...

[2017-12-11 23:14] amueller commented on #10158
also pretty bad:
[code]

[2017-12-11 23:19] amueller commented on #10258
Ok so this is kinda fixed, only it's not working because the labels are not correct: https://github.com/scikit-learn/scikit-learn/pull/9257/files#diff-81351ea50baa58c22524abc7bfba8a7eR431

[2017-12-12 00:03] #9481 closed

[2017-12-12 01:03] jnothman commented on #10279
I have no idea if there's an appropriate alternative library, perhaps
specific to that applied domain, but you can always start one, or make a
library just for that code. It sounds a bit like you're using silhouette
for outlier detection or similar. Is that right?

[2017-12-12 01:30] mabelvj commented on #10284
Can I give it a try?

[2017-12-12 01:45] jnothman opened #10289 "Generic benchmarking/profiling tool"
We have not been proficient at documenting the estimated runtime or space complexity of our estimators and algorithms. Even were we to document asymptotic complexity functions, it would not give a realistic estimate for all parameter settings, etc. for a particular kind of data. Rather we could assist users in estimating complexity functions empirically.

I would like to see a function like the fo

[2017-12-12 02:08] jnothman commented on #10258
sorry, sloppy review on my part (can I add how much I find reST syntax
unintuitive?)

[2017-12-12 02:19] jnothman commented on #10284
sure, thanks! please make the change and add a test in your pull request

[2017-12-12 03:46] agramfort commented on #10289
sounds useful

[2017-12-12 04:05] amueller commented on #10215
@GaelVaroquaux @agramfort do you wanna vote? Should I unleash hell and tweet the issue? ;) And maybe most importantly, do we want to stall #9012 for this (I don't think so)

[2017-12-12 04:20] agramfort commented on #10215
I like the idea a start small contrib package for 'advanced' pipelines (I have in the mind also the transform X, y with fit that changes sample size), feature unions etc. Given how long we have talked about this I think that can be a good way to move forward without fear of full project overhead.

[2017-12-12 04:23] amueller commented on #10215
Well fit that changes sample size exists already in imblearn and I haven't really seen another application of changing y. The ``ColumnTransformer`` is ready and waiting only for a module to live in.
I really don't want to teach again without being able to do proper cross-validation on titanic.

[2017-12-12 04:24] jnothman commented on #10215
I think we must have `ColumnTransform` in sklearn, not some other package. But yes, perhaps trialling a more conformant Pipeline can happen outside sklearn. I also think that imblearn's Pipeline model is basically good enough and we should adopt it here, but that's sort of off topic.

[2017-12-12 04:36] agramfort commented on #10215
@amueller can you clarify why you say that you cannot "do proper
cross-validation on titanic."?

do you have a gist of how easy you would like things to be?

disclaimer : I use titanic for teaching all the time.

[2017-12-12 07:18] keyur9 commented on #10147
Hello @jotasi , feel free to work on this as I'll not be able to work on this until the weekend. Thank you,

[2017-12-12 07:35] rth commented on #10275
I meant that AFAIK it doesn't work as regular cron jobs would: one can't run two different taks with different periodicity. But I guess that's not a bit issue.

[2017-12-12 09:20] TsingQAQ opened #10290 "Misleading descriptions in gaussian_process/gpr.py"
I'm trying to pass a self defined optimizer for **_GaussianProcessRegressor_** class, however I'm a little bit confused by the following description[ in code](https://github.com/scikit-learn/scikit-learn/blob/6e01feff14e2016253b5ada96964a1b5b6145128/sklearn/gaussian_process/gpr.py):

          def optimizer(obj_func, initial_theta, bounds):
                # * 'obj_func' is the objective function

[2017-12-12 09:40] jnothman commented on #10275
it doesn't belong in a usual circle run. Linkcheck is a very slow process.

Even a separate bot running it quarterly and posting an issue with the
results would do fine

[2017-12-12 09:47] jnothman commented on #10290
Ping @jmetzen

[2017-12-12 10:26] shahlaebrahimi opened #10291 "How to select features based on feature importance using SelectFromModel?"
I would appreciate if you could let me know how to select features based on feature importance using SelectFromModel. I wrote:
[code]

[2017-12-12 10:27] shahlaebrahimi commented on #10291
However, the following error occurred:

`ValueError: The underlying estimator GridSearchCV has no `coef_` or `feature_importances_` attribute. Either pass a fitted estimator to SelectFromModel or call fit before calling transform.
`

Thanks

[2017-12-12 10:47] jnothman commented on #10291
Please make your snippet reproducible: if possible, use generated or
publicly available data, and include all required imports. Please also
provide the full traceback, so that we can see where the error occurred and
through what methods.

[2017-12-12 11:22] shahlaebrahimi commented on #10291
@jnothman Thanks. My code:
[code]

[2017-12-12 11:24] shahlaebrahimi commented on #10291
Error:
[code]

[2017-12-12 13:17] glemaitre commented on #10251
I am +1 to move `ClassificationCritertion` and `RegressionCriterion` in the pxd. In the contrary to my comment in #9947, we can keep the tree code how it is, since we can pass any criterion (I missed it at first).

I also agree that we should keep the API private to avoid any maintenance or constraint linked to this code. Therefore, it might be difficult to document how to make your own criterion,

[2017-12-12 13:21] glemaitre commented on #10251
I personally think that only Cython class should be implemented. I would also think that accepting `Criterion` class is better.

[2017-12-12 13:37] glemaitre commented on #10291
`SelectFromModel` expects an estimator having `coef_` (check `LinearSVC` once fitted) or `feature_importances_` (check `DecisionTreeClassifier`). `XGBoostClassifier` is (probably) not implementing this functionality.

[2017-12-12 14:45] shahlaebrahimi commented on #10291
@glemaitre Thanks but as the following line shows, `XGBoostClassifier` dose have `feature_importance`_:
`thresholds = np.sort(rg_cv.best_estimator_.named_steps["clf"].feature_importances_)`

[2017-12-12 15:02] pwellner commented on #10271
Not a significant issue for me after all. Closing to reduce clutter. Thanks.

[2017-12-12 15:02] #10271 closed

[2017-12-12 15:49] amueller commented on #10215
Imputing missing values on categorical and continuous variables without custom code. And/or not scaling one-hot-encoded variables. And ideally one-hot-encoding variables within the cross-validation, but that's not 100% necessary.

It's possible but you need a custom column selector. Basically any most reasonable workflows I can think about needs to treat categorical and continuous variables differ

[2017-12-12 16:05] glemaitre commented on #10291
Ups. You probably want to make the SelectionFromModel inside the pipeline itself:

[code]

[2017-12-12 16:08] amueller commented on #10215
The other common case that's annoying right now is if training and test data come from different sources (like different csv files), you need to convert to pandas categorical and store they types (because ``OneHotEncoder`` can't deal with strings and ``CategoricalEncoder`` requires ``ColumnTransformer``)

[2017-12-12 16:14] amueller commented on #10215
If you allow the imputation of categorical to be a continuous relaxation and are fine with doing a ``StandardScaler`` on them, you can simplify my pipeline. But that seems not very natural / didactic. Is that what you're doing?

[2017-12-12 16:23] amueller commented on #10229
Five now!
And I'm not entirely sure what my intended behavior was, but I agree with your assessment. This should error on strings.

[2017-12-12 16:25] glemaitre commented on #10291
Basically you want SelectFromModel to reduce the number of feature and you want to use a gradient boosting to make this selection. The hyper-parameter of this classifier are not necessarily the same than the final classifier which should have hyper-parameters optimized on the reduced set. At least, it is my inside but maybe you wanted to make something that behave differently on purpose.

[2017-12-12 16:27] amueller commented on #10271
Detecting output types is really fragile :-/ would be nice if we could warn better... Or get rid of ``multioutput multiclass`` and make it less fragile ;)

[2017-12-12 18:41] vrishank97 commented on #10257
Should I make a q-q plot for all distributions in the PowerTransformer example?
And the plot is essentially a scatter plot of the input of the transformer against the output?

[2017-12-12 18:56] ai-coder commented on #10284
Can I take this?

[2017-12-12 19:12] amueller commented on #10215
Also see #8540

[2017-12-12 19:24] vcoscrato opened #10295 "predict_proba RidgeClassifierCV"
#### Description
Why isn't there an implemented predict_proba method for RidgeClassifierCV? I wished to build a rank based on that.

#### Code

# Test data
n = 100; p = 30
x = np.random.randn(n, p)
y = np.random.binomial(1, 0.5, size = n)

# Model
rr = lm.RidgeClassifierCV(alphas = np.arange(0.1, 1000, 0.1),
                                         normalize = True).fit(x,y)

#### Versions
Windows

[2017-12-12 19:34] amueller commented on #10295
because it's not a probabilistic model? You can wrap it into ``CalibratedClassifierCV`` if you want.

[2017-12-12 19:34] #10295 closed

[2017-12-12 19:34] amueller commented on #10295
(it's fit with least squares)

[2017-12-12 19:50] DrEhrfurchtgebietend commented on #10279
Yep, I am trying to expand on [existing ](https://www.semanticscholar.org/paper/Medicare-Fraud-Analytics-Using-Cluster-Analysis-Ho-Macedo-Zafari/16f53f77b3c01257ff60a146ac81d0ec846f4dad) work for the identification of insurance fraud. The silhouette shows promise for a feature in the classification algorithm.

As for the silhouette_samples_predict function. If there is no public library where it w

[2017-12-12 20:35] jnothman commented on #10229
I think, @amueller, for the next little while, the mere knowledge that a
number has five digits leaves the first with distinctly low entropy

[2017-12-12 20:38] amueller commented on #10229
Well, I guess it's one more bit, though ;)

[2017-12-12 20:41] #10268 closed

[2017-12-12 20:46] amueller commented on #10274
@jnothman so should we document it? If so, how / where?
I don't think it's worth changing back.

[2017-12-12 21:34] rth commented on #10064
Fixed in https://github.com/scikit-learn/scikit-learn/pull/10225

[2017-12-12 21:34] #10064 closed

[2017-12-12 22:09] amueller commented on #6425
Can you get rid of that with a ``ColumnTransformer``? I guess the question is a bit whether it's always possible to have the ``ColumnTransformer`` be right at the beginning of the pipeline, where we still know the names / positions of the columns.

[2017-12-12 22:15] amueller commented on #6425
@kmike Are the structured annotations mostly needed because of the ranges?

Also, @GaelVaroquaux any more opinions on this? I doing the easy cases like feature selection and imputation (which might drop columns), in addition to having some support in FeatureUnion and Pipeline (and ColumnTransformer) will be very useful.

[2017-12-12 23:00] rth commented on #10289
Definitely agree with that.

I think there are cases where `fit_transform`, `predict` etc could also be worth benchmarking. Maybe replace `fit_params` by `method_params` and add a `method="fit"` argument?

That would also depend if the user is interested in the asymptotic scaling or the scaling in some particular range of parameters.

Memory profiling would require additional optional dependency `

[2017-12-12 23:49] jnothman commented on #10257
try it, see if they look instructive

[2017-12-12 23:57] jnothman commented on #10251
We can advertise how to DIY, but with a warning that this interface is not considered public, stable API and should be used at one's own risk.

@camilstaps, PR welcome to fix things up.

[2017-12-12 23:58] kmike commented on #6425
@amueller once feature names get more complex (e.g. pca on top of tf*idf), showing them as a text  gets more and more opinionated, and maybe problem-specific. How concise should be a feature name, e.g. should we show only top PCA components (how many?), or all of them? Note the amount of bikeshedding @jnothman got from me at https://github.com/TeamHG-Memex/eli5/pull/208.

It seems the root of the

[2017-12-13 00:03] jnothman commented on #10284
@ai-coder, you can see that @mabelvj has taken it on

[2017-12-13 01:27] ddegraw commented on #4757
Here are a couple of approaches outlined in this blog post.

http://scottclowe.com/2016-03-19-stratified-regression-partitions/

[2017-12-13 01:50] jnothman commented on #10295
you can use decision_function to produce a ranking, at least for binary
classification, but it is not a probability

[2017-12-13 02:21] jnothman commented on #10274
Oh, it's all just a bit sad. Not just merging this change by error, but I really suspect that our StratifiedKFold has gone the wrong direction due to #2372. Before that, we simply sorted and divided by round-robin. After that, we have done KFold split on each class. The critique in #2372 was that the sampling did not maintain order of samples within each class, but I contend that could have been a

[2017-12-13 03:00] jnothman commented on #10289
I think we can accept such an optional dependency. Also, I'm fine to see
this implemented and put into a separate package, but I think it would be a
great resource for our users, and potentially for building our
documentation and benchmarking enhancements.

[2017-12-13 04:28] agramfort commented on #10215
thanks @amueller for clarifying the use cases. I've never had the use case of train/test data from 2 different CSVs. For teaching on titanic I tend to bypass the pb of column specific scaling as I make them use linear models with float columns and then I make then use trees...

I would put ColumnTransformer / make_column_transformer in preprocessing for now.

[2017-12-13 05:25] ai-coder commented on #10252
Can I take this?

[2017-12-13 05:27] ai-coder commented on #10232
Can I take this?

[2017-12-13 05:28] amanp10 commented on #9388
I need a clarification,
What if `include_params` lists a few names and `exclude_params` is set to `'*'`? Or vice-versa? Whom do we give priority?

Also, by default `include_params` is set to `None` so does that mean we don't consider any parameter? Also, `exclude_params` is set to `None` at the same time. It seems to be conflicting. May be we change default of either `include` or `exclude`.

[2017-12-13 06:10] jnothman commented on #10232
Go for it

On 13 December 2017 at 16:27, Akash <notifications@github.com> wrote:

[2017-12-13 06:10] jnothman commented on #10252
This is in progress.

On 13 December 2017 at 16:25, Akash <notifications@github.com> wrote:

[2017-12-13 06:11] jnothman commented on #9388
Exactly one of them should be set.

On 13 December 2017 at 16:28, Aman Pratik <notifications@github.com> wrote:

[2017-12-13 06:16] ai-coder commented on #10232
Will have to solve this one. Right?

[2017-12-13 06:18] jnothman commented on #10232
If you feel you have the experience, or can experiment/research, in order
to understand what to right, then do it.

On 13 December 2017 at 17:16, Akash <notifications@github.com> wrote:

[2017-12-13 06:18] jnothman commented on #10232
sorry: what to *write.

On 13 December 2017 at 17:18, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-12-13 06:19] ai-coder commented on #10232
Will figure out

[2017-12-13 06:56] #10258 closed

[2017-12-13 07:47] amanp10 commented on #9388
Regarding my second question, by default `include_params=None` would mean no parameters to be selected. Shouldn't it be `include_params='*'` ?

[2017-12-13 08:42] lesteve commented on #10275
`make linkcheck` takes about 14 minutes locally with the fix from #10300. I reckon we could run it only on the master branch (and maybe maintenance branches) in CircleCI.

[2017-12-13 09:42] jnothman commented on #9388
I don't think so, as we want to force the user to be explicit about either inclusion or exclusion

[2017-12-13 09:49] jnothman commented on #10275
Not worth running on maintenance branch. Might be worth running on master,
except that a temporary web site outage and then recovery would send an
alert, which would suck. Basically, we only want it to tell us if there's
something broken for more than a week. Is there a nice way to do that?

[2017-12-13 09:59] jnothman commented on #10215
It just dawned on me that the thing all these estimators have in common is that they're about transformers, and that they're meta-estimators. `sklearn.transform_ensemble` would be perfect were it not so verbose.

[2017-12-13 09:59] jnothman commented on #10215
`sklearn.transform`

[2017-12-13 10:02] jnothman commented on #10215
`sklearn.combine`

[2017-12-13 10:05] jorisvandenbossche commented on #10215
Or you could also phrase it as: they're all estimators composed of different transformers / estimators -> `sklearn.compose`

[2017-12-13 10:08] jorisvandenbossche commented on #10215
But 'combine' is maybe an easier way to say the same as 'compose'

[2017-12-13 10:15] chorus12 opened #10302 "ValueError: Buffer dtype mismatch, expected 'double' but got 'float' when calling fit on GradientBoostingRegressor with init = Ridge"
#### Description

ValueError: Buffer dtype mismatch, expected 'double' but got 'float' when calling fit on GradientBoostingRegressor with init = Ridge

#### Steps/Code to Reproduce
[code]

#### Expected Results
The model fits

#### Actual Results
[code]

#### Versions
Darwin-15.0.0-x86_64-i386-64bit
Python 3.6.2 |Continuum Analytics, Inc.| (default, Jul 20 2017, 13:14:59)
[GCC 4.2.1 Compatible App

[2017-12-13 10:24] jnothman commented on #10215
(`combine` could be confused with `ensemble` where `compose` can less so)

[2017-12-13 10:29] jnothman commented on #10302
You should be using scikit-learn 0.19.1. You also should provide some `X` and `y` (fine if they're generated) for which this occurs. What type and what dtype, at least, is your data?

[2017-12-13 10:50] jnothman opened #10303 "pairwise_distances should reference paired_distances in docstring"
`paired_distances` has See Also in its docstring referencing `pairwise_distances`, but:
* the description there is poor.
* the See Also is not reciprocated.

Each should be referenced in the other's *See also* section, and the distinction of the referent from the referring function should be briefly described.

[2017-12-13 10:51] chorus12 commented on #10302
Hi. Will provide the data in a shortwhile but as for now dtype is float.

[2017-12-13 11:19] #9378 closed

[2017-12-13 11:24] jnothman commented on #10302
float32? float64?

On 13 December 2017 at 21:51, chorus12 <notifications@github.com> wrote:

[2017-12-13 12:33] chorus12 commented on #10302
float64
[XY.zip](https://github.com/scikit-learn/scikit-learn/files/1555463/XY.zip)

import pickle
with open('X.pkl','br') as file:
    X = pickle.load(file)
with open('Y.pkl','br') as file:
    Y = pickle.load(file)

[2017-12-13 12:54] vrishank97 commented on #10303
I'd like to take this up.

[2017-12-13 14:01] vrishank97 commented on #10229
The bug might be resolved by raising an error after line 409.

https://github.com/scikit-learn/scikit-learn/blob/a24c8b464d094d2c468a16ea9f8bf8d42d949f84/sklearn/utils/validation.py#L404-L409

[2017-12-13 15:36] maykulkarni commented on #10303
I've attempted to fix it, please check

[2017-12-13 16:41] amueller commented on #10215
I like ``compose``.

[2017-12-13 16:52] jorisvandenbossche commented on #10215
@amueller if you vote for that above, then it is leading in the votes :-)

[2017-12-13 16:53] amueller commented on #10215
hm I guess on the first read I didn't like it? I didn't remember it being up there lol.

[2017-12-13 16:54] amueller commented on #10215
Maybe @ogrisel wants to vote?

[2017-12-13 17:13] lesteve commented on #10302
I can reproduce here is a stand-alone snippet:

[code]

The problem is that `sample_weights` is float32. The float32 sample_weights comes from GradientBoosting.fit:

https://github.com/scikit-learn/scikit-learn/blob/08ff565184c0e6fd1bab871e181f8b401e44c2ca/sklearn/ensemble/gradient_boosting.py#L1000

Note that I could not get the snippet to run even passing float64 weights into `model.fit`. Maybe

[2017-12-13 17:14] amueller commented on #4757
Not in any machine learning text-book I know of, I think? Not in ESL, Bishop, Kuhn, Murphy, Barber, Marsland, "Computer age statistical inference". The rest are at home, will check later ;)

[2017-12-13 17:33] glemaitre commented on #10291
@shahlaebrahimi Is it answering to your question?

[2017-12-13 17:50] glemaitre commented on #10302
`y_pred[:, k]` is the issue since `y_pred is of shape (n,) and `k` is the index of the estimator being updated. I'll check a bit more later on.

[2017-12-13 18:14] glemaitre commented on #10302
Actually y_pred is expected to be 2 d while predict from ridge is 1 d

[2017-12-13 19:03] ManasHardas commented on #2879
fit_params is deprecated since 0.19 and will be removed in 0.21
How else to make "sample_weights" a part of cross-validation?

[2017-12-13 19:23] shahlaebrahimi commented on #10291
@glemaitre Thanks a lot for your code. As you mentioned the hyper-parameter of this classifier is not tuned for the reduced set. However, my data set includes 125 features so I think the way that you suggested takes a long time to run although it is more sophisticated. Really, I don't know what to do?
By the way, please don't delete your code may be I have to give it a try.
Besides, seemingly ther

[2017-12-13 20:58] amueller commented on #2879
@ManasHardas pass them to fit.

[2017-12-13 21:51] camilstaps commented on #10251
Yes, thanks. Since this is my first contribution, I need some time to read through the guidelines, but I will make a PR soonish!

[2017-12-13 21:52] ameasure opened #10307 "BUG Inconsistent f1_score behavior when combining label indicator input with labels attribute"
#### Description
When using label indicator inputs for y_pred and y_true, metrics.f1_score calculates the macro average over all label-specific f-scores whenever the labels parameter includes column index 0. It should only average over the label-specific scores indicated by the labels parameter, as it does when 0 is not present in the labels parameter.

#### Steps/Code to Reproduce
[code]
#### Exp

[2017-12-13 22:26] jnothman commented on #4757
You spend much more time with books than I do....

[2017-12-13 22:26] jnothman commented on #10215
I'm curious to see what happens if you tweet it :P

[2017-12-13 22:30] #474 closed

[2017-12-13 22:34] kno10 opened #10308 "NMI and AMI use inconsistent definitions of mutual information"
There exist many defintions of NMI and AMI.

mention 5 different definitions of NMI, and based on that give 4 different AMI.

The NMI implemented in sklearn uses `sqrt(H(U), H(V))` for normalization.
The AMI implemented in sklearn uses `max(H(U), H(V))` for normalization.

There exists an NMI with the max normalization, and a AMI with the sqrt normalization, so this is inconsistent in sklearn. Ide

[2017-12-13 22:43] jnothman commented on #10307
Thanks for the clear issue description. Your diagnosis is not quite correct. The error is made when `labels` is a prefix of the available labels.

This is probably my fault, and I apologise.

The problem is the combination of https://github.com/scikit-learn/scikit-learn/blob/4f710cdd088aa8851e8b049e4faafa03767fda10/sklearn/metrics/classification.py#L1056, https://github.com/scikit-learn/scikit-lea

[2017-12-14 01:23] jnothman opened #10309 "Change the default of *SearchCV's error_score to np.nan"
It can be pretty unpleasant when your grid search fails. That's why the `error_score` parameter was introduced. The default `error_score='raise'` helps make absolutely clear that there was a failure by terminating the program, but it might be kind to just set the score to NaN and raise a warning. We could consider deprecating it:
* change the default temporarily to `error_score='raise-deprecating'

[2017-12-14 01:24] jnothman opened #10310 "FitFailedWarning raised by cross validation could do with better message"
Current message says "Classifier fit failed" but the estimator is not necessarily a classifier. (Perhaps that's too pedantic of me...)

`%r` is not technically the best way to display an error message. We could either use `traceback.format_exc` and include the whole traceback; or we can use `traceback.format_exception_only` to print it properly (though I think this is the same as `"%s: %s" % (type

[2017-12-14 02:01] jnothman opened #10311 "Add a parameter standardize with default True to PowerTransformer"
We recently merged the PowerTransformer, but we believe that it would be helpful to users (who are presumably applying this because they want features with similar distributions) to automatically apply a standard scaler to the output. This would be controlled by a parameter, but would default to True.

Just using this issue to record the consensus at #10210... Ping @ericchang00.

[2017-12-14 02:22] ericchang00 commented on #10311
Just read the discussion - I can push a quick fix for this. The signature will then become `PowerTransformer(method='box-cox', standardize=True)`. Thanks for the heads-up!

[2017-12-14 05:51] maykulkarni commented on #10310
I've attempted to fix it, please check.

[2017-12-14 07:49] jnothman opened #10314 "Need test for compute_class_weight where weight is not given for some class that is present"
For compute_class_weight we test the behaviour when a weight is given for an absent class (an error is raised) but not the case where no weight is given for a present class. This should be tested. Current behaviour appears to assign the unweighted classes a weight of 1.

[2017-12-14 07:53] jnothman opened #10315 "Need contribute docs on what to consider when building a meta-estimator"
Things like:
* clone
* Deep get_params works automatically in most cases
* Presence of _estimator_type
* Presence of prediction methods
* Duck typing of methods after fitting
* Parameter setting and getting overrides
* Dealing with pre-fitted estimators?

[2017-12-14 08:53] lesteve commented on #10267
@jpeg729 we insist on having a non-regression test for bug fixes. That means that we will need to find a way to generate a small dataset that triggers this bug. It would be really valuable if you could post a stand-alone snippet reproducing the problem. You really are in the best position to do that because you are the one that managed to bump into the bug in the first place.

[2017-12-14 10:22] #10311 closed

[2017-12-14 10:32] rth commented on #10275
I'm a bit ambivalent about sphinx's `linkcheck`. It is nice to have something built-in in sphinx, but on the other hand the current CI setup is complicated enough, and this is non-critical (i.e. some links will inevitably go dead after a while, there is no urgency to fix them) so I'm not convinced that putting it in the regular CI pipeline on Circle CI is that good an idea (slows thing down, possi

[2017-12-14 11:09] vrishank97 commented on #10257
I made q-q plots for the QuantileTransformer. However, I think showing q-q plots for both QuantileTranformer and PowerTransformer for different distributions adjacent to each other might be able to showcase their behaviour better. Thoughts?

![screen shot 2017-12-14 at 4 36 00 pm](https://user-images.githubusercontent.com/14790428/33989290-f5da913c-e0ec-11e7-8e84-4f213861f35f.png)

[2017-12-14 11:18] vrishank97 commented on #10257
Something like this
![screen shot 2017-12-14 at 4 47 51 pm](https://user-images.githubusercontent.com/14790428/33989750-921386d4-e0ee-11e7-8f37-0577a8154199.png)

[2017-12-14 11:23] vrishank97 commented on #10289
Can I try working on this feature?

[2017-12-14 12:30] jpeg729 commented on #10267
As I said, my dataset is several Gb and I have had no success finding a small subset that triggers the bug. Given the difficulty my dataset presents my guess is that if you try random datasets you will sooner or later come across a dataset that triggers the problem. I am running a script to search for random datasets that trigger the problem.

It may be more efficient to try to understand why empt

[2017-12-14 14:12] joernhees opened #10319 "longevity of models"
Training models might take considerable amounts of time and energy, but with every upgrade of sklearn one currently might lose the ability to use a model trained with an older release version.

While this is mentioned in the [docs](http://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations), i still find it upsetting, as i can either pin sklearn to some old

[2017-12-14 14:30] anerishah97 commented on #10307
Can I take this up?

[2017-12-14 14:41] rimh opened #10320 "Normalization form "NFKC" support in CountVectorizer and TfidfVectorizer ?"
I am new to scikit-learn but so far I do like it. I got a problem on my text analysis in Thai language. I am using CountVectorizer and TfidfVectorizer to extract features (words) and debugging with Lime tool. I found that the words are broken.
<img width="238" alt="screen shot 2017-12-13 at 22 23 11" src="https://user-images.githubusercontent.com/19208995/33997024-676cd790-e126-11e7-8e81-475368649

[2017-12-14 14:49] mariceli3 opened #10321 "Trouble with autodoc"
Hello everyone! I was trying to add some new multiview features to the library, but the autodoc seems not to be working. I created a folder inside sklearn and put code files in it, with the docstring in Numpy format. Afterwards,  I created a multiview.rst file inside /doc/modules directory and changed setup.py file in the root directory to include the new functionality.

I achieved to generate mul

[2017-12-14 16:18] jpeg729 commented on #10267
They say that RandomForests and friends don't need data normalisation, but they forget to mention that you have to be careful with near infinite values.

This will provoke the error 9 times out of 10.
[code]

As far as I can see, the only way a GradientBoostingRegressor can have an empty leaf is if the DecisionTreeRegressor returns a tree with an empty leaf, and sure enough running the following c

[2017-12-14 16:39] lesteve commented on #10267
OK thanks a lot @jpeg729! Tweaking your snippet just a bit, here is a stand-alone deterministic snippet reproducing the problem:

[code]

[2017-12-14 18:03] amueller commented on #10321
Is your intend to make a pull request? Then you should discuss the proposed changes first in an issue or on the mailing list. If you want to create your own stand-alone library you should develop it outside of scikit-learn, possibly starting from the template provided in ``scikit-learn-contrib``.

The issue you're facing is probably because you didn't add the class to ``doc/modules/classes.rst`` b

[2017-12-14 18:05] amueller commented on #10320
you can provide your own ``analyzer``, ``tokenizer`` or ``preprocessor``, see the [docs](http://scikit-learn.org/dev/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html#sklearn.feature_extraction.text.CountVectorizer)

[2017-12-14 18:14] amueller commented on #10319
I'm sure there is a lot of interest, but I'm not sure we want to do that as part of scikit-learn. There are several serialization libraries for scikit-learn, for example to convert to json or pmml or to compile to C++ code.
I'm not aware of any deserialization libraries.

The problem is one of maintenance burden: given the 900+ open issues, quite some of them bugs, we don't really have the person-

[2017-12-14 18:14] amueller commented on #10319
Maybe we can consolidate answers to this and add it to the FAQ and link to the model exporters?

[2017-12-14 19:12] debadridtt opened #10324 "Handling LabelEncoding for train and test data seperately"
Hello,
I've done label encoding for train data and test data separately, but I got different numerical values for train and test data. So I was trying to do labelencoding simultaneously with same value, but I get the error "y has new input label:". How to handle this error ?

[2017-12-14 19:21] rth commented on #10324
This is a usage question, please ask it on Stack Overflow (see [FAQ](http://scikit-learn.org/stable/faq.html#what-s-the-best-way-to-get-help-on-scikit-learn-usage)).

[2017-12-14 19:21] #10324 closed

[2017-12-14 19:35] rth commented on #10320
You can also just use `strip_accents=None` and do any form or unicode normalzation before feeding the documents into the vectorizer.

There must be, but you are more likely to get a response to this either on one of the Stack Exchange sites or on the scikit-learn mailing list (see [FAQ](http://scikit-learn.org/stable/faq.html#what-s-the-best-way-to-get-help-on-scikit-learn-usage)). There is also a

[2017-12-14 19:35] #10320 closed

[2017-12-14 19:50] jmetzen commented on #10290
@tsingqaq It is a minimization problem. The first line in comment should be 'obj_func' is the objective function to be minimized. Thanks for reporting! Would you mind creating a pull request for fixing that?

[2017-12-14 20:23] jnothman commented on #10275
sounds like a good idea.

[2017-12-14 20:26] amueller commented on #10275
Is there bots / services that could do that? I would expect this to be mostly solvable statically without installing anything.

[2017-12-14 20:30] amueller commented on #10257
Yeah that might be more instructive. Maybe combined with the transformed histograms?

[2017-12-14 20:34] jnothman commented on #10289
it's a pretty substantial piece of work. Propose an algorithm?

[2017-12-14 20:43] amueller commented on #10315
"moderate" ? maybe for you ;)

[2017-12-14 20:48] amueller commented on #10314
(sorry for my comment in the other thread, didn't see this lol)

[2017-12-14 20:53] jnothman commented on #10307
Sure, go for it

[2017-12-14 20:56] amueller commented on #10309
What happens for the refit?

[2017-12-14 21:00] amueller commented on #4757
I spend time *next* to the books.. though now trying to read "Data Mining" (from the weka folks). And it actually mentions stratified cross-validation! I'm actually really excited about this (17 year old) book that I wasn't aware of.

[2017-12-14 21:01] amueller commented on #4757
(It only talks about stratification for classification)

[2017-12-14 21:02] amueller commented on #10215
I'm willing to do that... but you take the responsibility ;)

[2017-12-14 21:10] amueller commented on #10308
This is indeed not very nice.
The first (and possibly easiest) step would be to add ``normalization`` options to both that can be ``max`` or ``sqrt`` and possibly add ``min`` and ``sum`` if we think they might be useful. We should check out what is commonly used. Haven't read the paper, but it looks really nice.

Second step is to decide whether this is worth a deprecation cycle, and if so, what t

[2017-12-14 21:17] amueller commented on #10308
Maybe @robertlayton can give us some insight into why these were chosen originally?

[2017-12-14 21:21] amueller commented on #10308
Or maybe I should ask myself #776 ...

[2017-12-14 21:28] amueller commented on #10308
OMG I just saw the paper I added by Andrew Rosenberg (who I now know personally) and Julia Hirschberg (the head of the CS department I'm in)... that's.. weird... anyhow, I digress...

I added the same paper you're referencing to the docs, I'm not sure why I did the sqrt... To make it identical to the V-measure? That seems strange.

[2017-12-14 21:47] amueller commented on #6425
@kmike thanks for the explanation :) Maybe doing strings first would still work. For PCA I would just basically do ``pca1``, ``pca2`` etc for now.

[2017-12-14 23:36] joernhees commented on #10319
The point i wanted to make i think is somewhat in between the aspects you mention: maintainability and backwards compatibility.

I think much of the incompatibility problems currently arise from the model simply being persisted as a whole with pickle. By doing that, changing any property anywhere in the model is bound to cause trouble. What I'm proposing is to "put a box in a box". If the intentio

[2017-12-15 01:29] rimh commented on #10320
Sorry for the way I questioned, I am not quite used to it. According to your advise, I've already tried but it does not fix the problem. Therefore, I think it must be debugging tool that shows things not incorrect. I will look at that. Thank you.

[2017-12-15 01:46] amueller commented on #10319
I think your assumption about the core of a model is wrong. The internals of the trees (and hence the gradient boosting) have been changed countless times and might be replaced entirely. So there is no way to fix that with any inner sanctioned box.

What links do you think would be helpful?

[2017-12-15 01:53] amueller commented on #10319
My point basically was that if you want something that is long-term maintainable that needs to be external to the model, because everything about a model might change (and does!). Pickle is not a good format to preserve anything across versions.

Also, you're conflating the prediction machine with the estimator. There might not be a way to translate the hyper parameters from one version to another

[2017-12-15 01:54] amueller commented on #5820
I don't think this is relevant any more, feel free to reopen.

[2017-12-15 01:54] #5820 closed

[2017-12-15 02:03] amueller commented on #10319
Somewhat related: #8608 #8331 #5777
But there are many more issues that relate not to the sklearn version but for example the architecture. Even using the same version of sklearn you can run into issues with 32bit vs 64bit, because this is really not what pickle is meant for.

[2017-12-15 02:23] cjmay commented on #6557
I'm also seeing large subtrees predicting the same class.  Even naive pruning would improve interpretability in cases like these (and it would have no effect on the predictions).

[2017-12-15 02:35] amueller commented on #6557
@cjmay it would change the predicted probabilities. But yes, adding any sort of pruning would be nice ;)

[2017-12-15 02:40] amueller commented on #6557
It would be nice to see benchmarks of post-pruning vs pre-pruning. I think "min_impurity_decrease" is a relatively reasonable stopping criterion. Or you could grid-search ``n_leafs``... do people usually grid-search the pruning parameter? (I would imagine so). It would be interesting to see how often that gives different outcomes.

[2017-12-15 02:46] amueller commented on #1626
@fingoldo there's early stopping in the neural nets and gradient boosting in scikit-learn.

[2017-12-15 03:20] jnothman commented on #10319
Yes, it would be good to have this noted in the FAQ.

A few points:
* Everyone wants this, but no one has volunteered a way to make it maintainable.
* Any serialization/deserialization engine will need to be as flexible and insecure as pickle to cover all cases. So it is not worth the engineering.
* If we had designed estimators and models as separate classes, it would have helped a lot with this

[2017-12-15 03:51] jnothman commented on #10309
Well, I suppose we'd better be careful when sorting scores to watch out for NaNs (I doubt we check this case atm)... and to raise an error if the `best_estimator_` has a NaN score. We could use `-np.inf` instead so that we get sorting for free.

[2017-12-15 03:58] jnothman commented on #10320
To be clear, we're sympathetic to this issue, but:
* we already have parameters for you to configure all aspects of the
tokenization and analysis
* we don't know whose other work we'll break if we change it.

[2017-12-15 04:05] amueller commented on #10319
That's what we do right now, right? Or do you mean on a per-model basis?

I don't like this because it can potentially require a separate converter function for each version, i.e. in the worst case for each version you have to write a new converter for the last n versions.

[2017-12-15 04:25] rimh commented on #10320
Thank you for your concern. Your confirmation about your methods is enough for me to figure out the direction. I admit that I am still new to this but I am sure to find the way out. If the issue is fixed, I will share the steps somehow.

[2017-12-15 05:42] fingoldo commented on #1626
@amueller  Yes thanks already know this, wondering if there are some comparisons available of the quality of solutions found with and without early stopping in sklearn :-)

[2017-12-15 06:39] gxyd commented on #8361
We had a release 0.19 in which this change wasn't included (we still have `gamma='auto'` as default). Is this issue in-line to be ready to be present in the next release?

[2017-12-15 06:49] vrishank97 commented on #10289
We have to call fit with the parameters in `fit_params` and measure the time each iteration takes (If time exceeds `time_budget` the current fit will be stopped). This has to be done for different values of `n_samples` if `vary_n_samples=True`. If `profile_memory=True`, we will use `memory_profiler` to track used memory(Estimate space complexity). This has to be done for `n_fits`.

How do we plan

[2017-12-15 07:05] JustM57 opened #10326 "Nans and infinity"
Got a interesting bug. It's mostly connected with KFold.
How this bug happened:
I had a coo matrix(hstacked(std_scaler+dict_vect))
Trying to fit sgd and rf worked OK.
But when I've tried to do in this way:
for d, (train, test) in kf(X, y):
   clf.fit(X[train], y[train])
Value Error: Can't fit matrix with Nans or Infinities
The idea I wanted to get prediction for each split in order to train meta c

[2017-12-15 08:00] joernhees commented on #10319
👍 thanks for clarifying that

That was basically my intention, but wanted to ask up-front before investing a lot of time and then find that my assumption (above) was wrong...

Hmm, hard to know without knowing ;)

What would definitely help are links to (interesting) approaches that somehow deal with serialization and/or conversion to/from other formats.

[2017-12-15 08:36] rajendraarora16 commented on #10315
@jnothman  Can I go for it?

[2017-12-15 11:54] mariceli3 commented on #10321
Hello Andread!
Thanks for replying this thread. My intend is to make a pull request to the scikit-learn library, I'll discuss my new changes in another issue or on the mailing list, as you have suggested me. Would you mind teling me how to contact through the mailing list?

I tried to add clases to the `doc/modules/classes.rst`, but anyway, class files ar not generated. When I execute the command

[2017-12-15 13:13] NagabhushanS opened #10328 "Problem with K-Fold cross-validation with LightGBM models."
I noticed that k-fold cross-validation with lightgbm models takes clearly very different times to train each cv model. Following is an example of the output of cross_val_score:
<b>[CV]  ................................................................
[CV] ........................ , score=0.933448908246891, total=   5.9s
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    5.9s remaining:    0.0

[2017-12-15 13:19] lesteve commented on #10326
Can you provide a stand-alone snippet to reproduce the problem ? Please read https://stackoverflow.com/help/mcve.

[2017-12-15 13:21] patmonsoon opened #10329 "NMF n_components are not properly getting reflected in output when using Grid Search CV"
When I executed the example code from this [link ](http://scikit-learn.org/0.18/auto_examples/plot_compare_reduction.html
)
and analyzed the grid search output (grid.cv_results_['params']), n_components are not properly getting reflected in output.

Posting a small snippet of output of grid.cv_results_['params']:

{'classify__C': 1000,
  'reduce_dim': NMF(alpha=0.0, beta_loss='frobenius', init=Non

[2017-12-15 13:27] cjmay commented on #6557
@amueller oh, I see.

[2017-12-15 14:57] #10290 closed

[2017-12-15 15:28] lesteve commented on #10329
Seems like a bug indeed. I can reproduce on scikit-learn master.

To explain with words (I missed the `**` highlighting the problem the first time I read the original post):
You would expect these two things to match:
[code]
They don't.

[2017-12-15 16:02] qmick commented on #10329
It this starter friendly? I want to have a try.

[2017-12-15 16:05] amueller commented on #10328
Can you provide code? What cross-validation method are you using? Is nothing else running on your machine? For some reason the data in the different folds could be very different, but that seems a bit unlikely....

[2017-12-15 16:08] amueller commented on #10321
If you want to add to scikit-learn, just create a pull-request. it will be much easier to diagnose the error there. Have you read the contributors guide? http://scikit-learn.org/stable/developers/contributing.html It also links to the mailing list.

[2017-12-15 16:08] lesteve commented on #10329
Hard to tell without investigating in more details but I would say probably not. Have a look
Please have a look at our [contribution guidelines](https://github.com/scikit-learn/scikit-learn/blob/master/CONTRIBUTING.md) and in particular the [tips for new contributors](https://github.com/scikit-learn/scikit-learn/blob/master/CONTRIBUTING.md#new-contributor-tips).

[2017-12-15 16:10] amueller commented on #8361
@gxyd this issue is open, so no, as you've seen #8535 is not merged yet.

[2017-12-15 16:16] amueller commented on #10315
@rajendraarora16 you can go for it if you're certain what to do, that is if you're familiar what ``_estimator_type``, ``_pairwise`` and ``get_params(deep=True)`` do, as well as are aware of how ``if_delegate_has_method`` works.
If you don't (I'm totally out of the loop of everybody's experience level at this point), maybe leave it for someone more experienced.

@jnothman thinks it's "moderately ha

[2017-12-15 16:18] amueller commented on #10321
I'm closing this as it's really not an issue with sklearn but with your changes, and that's impossible to diagnose without a PR.

[2017-12-15 16:18] #10321 closed

[2017-12-15 16:18] mariceli3 commented on #10321
OK. I'll make a pull request so as to try and find the problem I have.
I've followed the contributors guide to generate the new code I'd like to add.

[2017-12-15 16:22] amueller commented on #10329
I think there is no bug, and your expectation is wrong ;) First the ``step`` is set, then it's parameters. ``grid.cv_results['params']`` is `` NMF()`` as defined in the grid, and will have default parameters.

[2017-12-15 16:23] amueller commented on #10329
I'm not saying that this is not possibly confusing, I'm just saying it's expected behavior (the same way that the ``__repr__`` of ``GridSearchCV`` will show the default parameters in the estimator, not the ``best_params``)

[2017-12-15 16:57] lesteve commented on #10329
OK makes sense, should we close then?

[2017-12-15 16:58] gfyoung opened #10330 "Surface API for Understanding Tree Structure"
Hi!  I really like this page of documentation on the website:

http://scikit-learn.org/stable/auto_examples/tree/plot_unveil_tree_structure.html

I've found it useful for explaining how my decision-tree classifiers work under the hood, especially to my non-technical colleagues, who find it helps to remove the black-box around these mechanisms.

I started writing a library that surfaces the logic p

[2017-12-15 17:38] amueller commented on #10329
We could add a clarifying sentence to the example or the docs? But we can also just close? I feel if you got confused it's probably confusing ;)

[2017-12-15 17:42] gfyoung commented on #10330
@amueller : I'll split my answer into two comments.  The first is for the demo output:

`get-tree-info`:

![get-tree-info](https://user-images.githubusercontent.com/9273653/34053595-3f331d88-e17c-11e7-9fdb-685159c8f503.PNG)

`get-decision-info`:

![get-decision-info](https://user-images.githubusercontent.com/9273653/34053605-4af9b2ee-e17c-11e7-8365-96a16066fdf4.PNG)

[2017-12-15 17:44] amueller commented on #10330
looks like this might be good for eli-5? or scikit-learn-contrib? I'd be more interested in getting #9251 in for now ;)

[2017-12-15 17:50] amueller commented on #9726
True, we have done a really weird mix. The fact that we have ``SGDClassifier`` which implements many losses, and ``LogisticRegression`` which implements many solvers shows that we're not the best with the consistency ;)

[2017-12-15 18:01] amueller commented on #8723
@alvinthai Can you explain the solution? It might actually be an issue in sklearn, but I'm not sure.

[2017-12-15 18:03] amueller commented on #8723
thought it could also be an issue in how pandas detects chained indexing? this seems odd. Which versions of scikit-learn and pandas are you using?

[2017-12-15 18:04] gfyoung commented on #10330
Understood ;)

The visuals look great though.  Might be a little too scary for my audience, but personally +1 for that.

Haven't actually used `eli-5` before, but FWIW, I see that the `xgboost` library *seems* to implemented something similar to what I did (https://eli5.readthedocs.io/en/latest/tutorials/xgboost-titanic.html).

Thanks for the quick reply though.  Will looking into seeing whether t

[2017-12-15 18:04] #10330 closed

[2017-12-15 18:10] amueller commented on #8723
I think we should probably always copy the result of ``.iloc`` to make sure there is no shared memory?

[2017-12-15 20:32] NarineK commented on #10175
Would this be the best place to add  the test case ?
@amueller , @jnothman

[2017-12-15 20:39] alvinthai commented on #8723
@amueller basically after a train_test_split, X_train and X_test have their is_copy attribute set in pandas despite them not actually being copies.

Python 2.7.13
numpy 1.13.3
pandas 0.21.1
sklearn 0.19.1

[code]
No log output
[code]
Assertion error raised
[code]
Log output:

[code]
No log output <-- **issue fixed**
[code]
Log output:

X_train and X_test are clearly not copies of X. If they were,

[2017-12-15 21:16] amueller commented on #10175
that tests already tests something like this, but uses integers for classes.
You could check out https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/estimator_checks.py#L1394 which is multi-class, and maybe add a binary case and also check the decision functions there?

[2017-12-15 21:23] amueller commented on #8723
I read your email which said "despite them not actually being copies." which was confusing, but I guess you fixed that ;)

Unfortunately I couldn't find any documentation of the ``is_copy`` attribute. We *want* them to be copies, not views here. Can we be sure that they are always copies?

And I understand the idea is that pandas warns us if we do chained indexing, but I don't understand why it wa

[2017-12-15 21:29] amueller commented on #8723
Ok so I found @jreback's comment here: https://github.com/pandas-dev/pandas/issues/6025#issuecomment-32904245 that says we should set ``is_copy`` to False.

I understand the motivation for the attribute (avoiding that users set a copy instead of the original) but I feel there are at least as many situations where you would want to set a copy, and the warning is superfluous.

[2017-12-15 21:35] amueller commented on #8723
Opened #18799 because at least it's a major omission in the docs. It seems to me every function returning a dataframe needs to set ``is_copy``.

[2017-12-15 21:36] NarineK commented on #10175
I see. Let me check that one

[2017-12-16 09:05] patmonsoon commented on #10329
I second your point, but if you check the same result for PCA you will find the n_components there are the updated ones and not the default.

[code]

[2017-12-16 09:16] gxyd commented on #8361
I would be interested to know why is that so (i.e. why `1 / (n_features*X.std()` would be a better default)? You can refer me to some material if you have in mind for this statement.

[2017-12-16 12:05] #10303 closed

[2017-12-16 13:28] qmick commented on #10329
On my machine I got different `n_components` when I change `n_jobs` from 2 to 1. It seems to be nondeterministic and we shouldn't case about it.

[2017-12-16 14:40] vrishank97 commented on #10257
Here is a quick plot (skipped the legend) I made. I think having both transformers on separate plots might be more informative than having both on the same plot. These plots are made using master.

![screen shot 2017-12-16 at 7 49 11 pm](https://user-images.githubusercontent.com/14790428/34071294-4ad1b810-e29a-11e7-93e1-8c3997a8e628.png)

[2017-12-16 20:04] jorisvandenbossche commented on #2888
@jnothman @amueller I think this can reopened (see also my comment in the ColumnTransformer PR https://github.com/scikit-learn/scikit-learn/pull/9012#issuecomment-352207204), as the following

numbers -- only one-hot encoding -- and there should probably be one. But
an imputer that handled string arrays would still not be usable in a
scikit-learn pipeline because its output would be non-numeric.

[2017-12-16 21:04] jnothman commented on #2888
what's wrong with ordinal encoding then using most_frequent?

[2017-12-16 21:05] jnothman commented on #10289
yes, that's the question: how do we vary n_samples / n_features?

[2017-12-16 21:14] jorisvandenbossche commented on #2888
First, it doesn't work currently (that was also the first thing I tried, but the CategoricalEncoder does not work with missing data, although that could be fixable as well).
Then, if that would work you also need to know which integer is mapped to the missing value. And if your goal was to have dummy columns, you need to use a CategoricalEncoder the second time, and you get something like:

[code]

[2017-12-16 21:19] jorisvandenbossche commented on #2888
One problem that would occur is that if your categories consist of a couple of strings values and a missing value (np.nan or None), it becomes unorderable, while in the CategoricalEncoder we normally sort the unique categories.
It might be possible to provide a work-around for this to make the CategoricalEncoder deal with missing values (as this could be valuable in itself if you would want the fa

[2017-12-16 23:39] jnothman commented on #10326
also, it sounds like cross_val_predict might do what you want. Closing as
the issue cannot be reproduced with the given information. Open another if
you wish.

[2017-12-16 23:39] #10326 closed

[2017-12-16 23:52] jnothman commented on #10315
this is certainly for someone experienced at implementing scikit-learn
estimators. I don't think it would be impossible for @adamklec having
implemented VotingClassifier, or someone who has written an automl
solution, or something... Or a core dev.

[2017-12-17 02:28] jnothman commented on #9726
but for the users it's moot, as long as they can find stuff.

[2017-12-17 02:33] jnothman commented on #8723
Ah right.  I think I misunderstood a little. It's basically a "yes we know
what we're doing" flag. A bit of an annoyance

[2017-12-17 04:09] jnothman commented on #10329
Yes, the behaviour is strange. It is, I think, because we naively do `set_params` without cloning any estimators that are among those parameters. This means that all grid search candidates considered in the same process will set parameters on the same instance of PCA, NMF, etc. Indeed, due to pipeline not cloning its steps, it will fit the same object multiple times (which *should* be fine, but I'

[2017-12-17 04:11] jnothman commented on #10257
Make the markers smaller? I disagree, if they are mostly identical, then
the plot is effective at showing the differences.

[2017-12-17 10:31] jnothman commented on #2888
If someone implemented a most_frequent imputation over strings, I'd
certainly review it. I see why people would want it, but it's fundamentally
as problematic incursion on our defined scope: we represent things as
numeric arrays as soon as possible and operate from there. Better, in that
sense, to modify CateogricalEncoder than Imputer.

On 17 December 2017 at 08:19, Joris Van den Bossche <
notifi

[2017-12-17 18:05] vrishank97 commented on #10289
We can use np.logspace to vary n_samples and we can also let users use linearly spaced n_samples for smaller datasets. After fitting on different values of n_samples we can feed fit_time, peak_memory, model_memory to a GP regressor. We can also provide an option for KFold cross val at each value of n_sample at the cost of a smaller maximum possible value for n_samples to provide a higher accuracy.

[2017-12-17 20:32] oasis789 commented on #10309
I'd like to take this on if that's ok. I'm a new contributor and would like to get my first PR in 🙌

[2017-12-17 21:25] jnothman commented on #10289
kfold isn't relevant if we are not interested in a fair estimate of
accuracy. random samples should do. I'm not yet sure what policy we should
have for repeated trials...

rather than logspace, I'd start with a fairly small number of samples and
double them. Or multiply by 4 initially and fill in the gaps later to
reduce uncertainty in the learnt function. Not really sure how to sensibly
vary both

[2017-12-17 21:28] jnothman commented on #10309
sure, thanks.

[2017-12-18 02:59] sergiorojasa commented on #10314
@jnothman May I work on this issue.

[2017-12-18 04:35] jnothman commented on #10314
sure

[2017-12-18 04:36] jnothman commented on #10314
Wait there is a pr open at #10318

[2017-12-18 08:44] lesteve opened #10334 "Fix broken links in the documentation"
Some are easy to fix but some probably less so. Small PRs fixing part of the broken links may be a good strategy.

This is the list of broken links from the documentation (from running `make linkcheck`):

[code]

[2017-12-18 09:20] #8129 closed

[2017-12-18 11:17] gxyd commented on #10334
Aren't some of the links actually working just fine? For ex. the first two links are probably working fine (i.e. https://github.com/scikit-learn/scikit-learn/wiki/Past-sprints#granada-19th-21th-dec-2011 and https://www.lfd.uci.edu/~gohlke/pythonlibs/#scikit-learn), though the third one isn't.

[2017-12-18 11:24] maykulkarni commented on #10334
I think that's because some websites will refuse connections coming from automated scripts (based on the header of request)

[2017-12-18 11:28] gxyd commented on #10334
Hmm, that could be the reason. Since github specially has OAuth tokens
for that.

--
Gaurav Dhingra
(sent from Thunderbird email client)

[2017-12-18 12:26] lesteve commented on #10334
About the first one, I think the anchor name should be `user-content-granada-19th-21th-dec-2011`. About the second one I think we use `http` and not `https` in the link and maybe that's the reason why `make linkcheck` reports it as broken.

I agree though that opening these two links in a browser does work. Priority should be given to fix links that won't work in a browser.

[2017-12-18 12:38] jnothman opened #10336 "Should mixture models have a clusterer-compatible interface"
Mixture models are currently a bit different. They are basically clusterers, except they are probabilistic, and are applied to inductive problems unlike many clusterers. But they are unlike clusterers in API:
* they have an `n_components` parameter, with identical purpose to `n_clusters`
* they do not store the `labels_` of the training data
* they do not have a `fit_predict` method

And they are

[2017-12-18 12:39] PGryllos commented on #8614
@amueller @jnothman I extended the implementation with two more methods for picking optimal cutoffs; changed naming and updated docstrings. I plan in the following days to add examples and tests. Do you think that at that point it will qualify for mrg review ?

[2017-12-18 12:41] jnothman commented on #8614
It's on my pile for review already, I'm just trying to get through a few
other things. This one will require some thinking and/or reading up on my
part.

[2017-12-18 12:58] #6433 closed

[2017-12-18 13:24] gxyd opened #10337 "Add common test for classifiers reducing to less than two classes via sample weights during fit"
#### Description

In issue https://github.com/scikit-learn/scikit-learn/issues/6433 (fixed by #10207), it was raised that `y` could reduce to contain less than two classes. During fixing that, Andreas made a comment here https://github.com/scikit-learn/scikit-learn/pull/10207#pullrequestreview-82909184 that it could occur for some other clasifiers as well. So the task is to add a common test in sk

[2017-12-18 13:25] PGryllos commented on #8614
Okay, thnx for the prompt reply. I will also try to make as clear and comprehensible as possible.

[2017-12-18 15:10] #10251 closed

[2017-12-18 16:08] amueller commented on #10329
@jnothman but the current state could lead to non-determinism, right? If I set ``warm_start=True`` in an estimator, the outcome will rely on the order in which the steps are executed (maybe?).

Or should we just say "this will be fixed when we clone in pipeline and provide freezing estimators" and basically declare it a problem of pipeline and not ``BaseSearchCV``?

[2017-12-18 16:13] amueller commented on #8723
@jnothman well, maybe not. It's unclear to me how to say "we know what we're doing", see https://github.com/pandas-dev/pandas/issues/18801

[2017-12-18 16:14] amueller commented on #8723
I had opened https://github.com/pandas-dev/pandas/issues/18799 to get some documentation on how to do this properly. @jreback suggested calling ``.copy()``, but that looks like it might trigger an additional copy?

[2017-12-18 16:59] amueller commented on #8614
@twolodzko @PGryllos
I agree that a cost function is one good way to deal with picking a threshold, though it's not necessarily natural in all cases. If you gamble (or do business, basically same thing) defining the costs is easy. In a medical example, defining the costs is non-obvious. How much more does it cost you if your child dies compared to a misdiagnosis? In these settings I think precisio

[2017-12-18 17:07] amueller commented on #8614
@twolodzko btw do you have references for methods for tuning a cutoff using cross-validation? I didn't really find any.

[2017-12-18 17:08] vrishank97 commented on #10289
Thanks a lot. I've been wanting to work on something like this for quite some time now.

If we use logspace, n_fits becomes a more meaningful parameter as it then becomes the number of distinct n_samples generated. It might also be more intuitive for users as it is also related to the accuracy of the models that are generated here.

[2017-12-18 19:55] twolodzko commented on #8614
@amueller for example the paper you quote earlier on in the thread talks about finding optimal cutoff given the sensitivity + specificity criterion. I can't recall any specific references on that, in most cases they say that in general you should tune it based on the loss function that is specific for given problem, cross validation is rather not discussed but seems to be a natural choice.

My cod

[2017-12-18 20:09] amueller commented on #8614
@twolodzko The article doesn't talk about cross-validation, and while it might be "an obvious choice" it's not really obvious to me what to do. You could either cross-validate the actual threshold value, or you could keep all the models and apply their thresholds and let them vote. I feel like averaging the threshold value over folds sounds a bit dangerous, but the other option doesn't really seem

[2017-12-18 20:25] jnothman commented on #10337
The test should ensure that the classifier either fits fine, or raises an
informative error message

[2017-12-18 20:34] jnothman commented on #10329
I don't know what you mean by the order in which the steps are executed. But yes, setting and getting params is not sufficient. Need to clone in there. And no, it's not about Pipeline

[2017-12-18 21:21] jnothman commented on #10289
yes, but: logspace produces floats and we need ints; and we might run out
of time before all n_fits are completed. so we need to take care to try get
the shape of the function within constraints.

[2017-12-18 21:38] adamklec commented on #10315
This sounds like a useful but fairly substantial line of work. I'm a bit busy at the moment so I can't take this on myself but I would be able to answer questions and discuss ideas with someone that does pick this up.

[2017-12-18 22:22] amueller commented on #10329
Sorry, I meant the order in which the grid points are executed when using n_jobs.

Why does the problem not go away if we clone in pipeline? The parameter settings will then always be the defaults, which is consistent with my expectations ;)

[2017-12-18 22:30] amueller commented on #10289
should we use OpenML, for example OpenML 100? It is only classification right now but covers n_features and n_samples pretty well (looks kinda uniform on a logscale).

[2017-12-18 22:30] amueller commented on #10289
Or did you want to use synthetic data?

[2017-12-18 22:31] amueller commented on #10289
This really sounds like a relatively sophisticated automl problem....

[2017-12-18 23:19] jnothman commented on #10329
because the problem is that were storing the params array from what's being
generated from ParameterGrid, for instance, without respect to what happens
after set_params. So what estimators as parameters look like will still
depend on the order of candidates or n_jobs.

[2017-12-18 23:23] jnothman commented on #10289
I don't like how we always benchmark on canned data. i want the user to get
some understanding of how it will perform on their chosen (dummy or real)
dataset.

This is not really automl, but I think what you mean is that the function
for choosing the next point to try is a lot like the kinds of constrained
searches performed in automl

[2017-12-18 23:32] amueller commented on #10289
Well trying to estimate runtime from hyper parameters is also pretty typical in automl.
And there's work on extrapolating learning curves for neural nets for example.

[2017-12-18 23:42] jnothman commented on #10289
okay. this issue currently focuses on sample size rather than parameter
variation...

On 19 Dec 2017 10:32 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-12-19 00:01] amueller commented on #10289
ah, sorry, didn't read correctly. Still related but easier ;)

[2017-12-19 00:10] amueller commented on #10329
Oh, because the ``set_params`` is done before cloning because its done before ``Pipeline.fit`` and the cloning is in ``Pipeline.fit``...

I would be fine with storing the params array from what's being generated from ParameterGrid, I just don't want anything to touch the content of the ``ParameterGrid``.

Right now there could be weird interactions if someone reuses the same ``param_grid`` (not ev

[2017-12-19 00:15] amueller commented on #10329
Yeah if you run the example, ``param_grid`` is changed after ``GridSearchCV().fit()``. That's pretty bad (but unsurprising after this discussion).

[2017-12-19 00:24] amueller commented on #10329
But the only way to fix this is to clone within ``set_params``, which breaks backward compatibility (in a slightly odd edge case).

Is there a scenario with sklearn estimators where we would break backward compatibility? We're calling ``fit`` on each step anyway, right?

I think avoiding interactions between multiple gridsearches might be worth breaking backward compatibility. I feel it's unlikely

[2017-12-19 00:55] jnothman commented on #10329
It is a useful bug if you wanted to search over different pre-fitted
estimators in SelectFromModel... If I'm not mistaken, that would just work.

But we can keep that bug and still put the right thing (with either default
params or realised nested params) into cv_results_ if we wish.

[2017-12-19 01:53] amueller commented on #10329
Yes, but I'm concerned about the side-effects.
Let's say someone did
[code]
and then ran a grid-search for each.
If you run ``grid1`` first, the estimator in ``grid2`` would have ``max_depth=3``.
That's very surprising to me.

[2017-12-19 01:57] amueller commented on #10329
I don't think your example would work, since calling ``fit`` on ``SelectFromModel`` fails (with a ``NotFittedError``? that's kinda weird). But you could set the last estimator in a pipeline to ``CalibratedClassifierCV`` with ``cv=prefit``. These are the only two estimators that support prefit right now, so that seems the only application where that might happen. Third party estimators are a whole

[2017-12-19 12:02] alexisboukouvalas commented on #9114
Note that we have a python implementation now you can try http://www.maxlittle.net/software/ - click on MAP-DP.

[2017-12-19 16:17] #9937 closed

[2017-12-19 16:32] amueller commented on #9114
@naught101 can you do me a favor and benchmark against ITM ;) https://github.com/amueller/information-theoretic-mst

[2017-12-19 16:45] amueller commented on #10257
Also maybe add some multimodal ones?

[2017-12-19 20:08] lesteve opened #10342 "Build error with cython dev"
There has been an error in the scipy-dev-wheels build for a few days, e.g. https://travis-ci.org/scikit-learn/scikit-learn/builds/317609541. Seems due to cython-dev:

[code]

[2017-12-19 20:23] amueller commented on #10342
@lesteve have you pinged the cython folks or investiated?

[2017-12-19 20:24] amueller commented on #10342
Oh is it the "not valid module name" actually? We've been getting that as a warning for a while, guess they turned it into an error.

[2017-12-19 20:27] lesteve commented on #10342
No, I may be able to look at it in more details tomorrow.

[2017-12-19 20:28] amueller commented on #10342
@lesteve Maybe I fixed it  in #10343 ;)

[2017-12-20 04:44] #10342 closed

[2017-12-20 06:52] thechargedneutron commented on #4545
Since, this is included in the 0.20 milestone. I would like to work on it. @amueller  Is this issue still relevant. And if yes, do you intend to make it's behaviour similar to RidgeCV() ?

[2017-12-20 09:00] Johayon commented on #10337
Hi, can I try to write a test for this issue ?

[2017-12-20 09:15] jnothman commented on #10337
sure. add it to estimator_checks.py

[2017-12-20 10:45] vrishank97 commented on #10257
Would something like this do?
I'm not sure where the legend should go.

![screen shot 2017-12-20 at 4 12 54 pm](https://user-images.githubusercontent.com/14790428/34203342-c520e132-e5a0-11e7-98ec-e04f43f39825.png)

[2017-12-20 11:01] vrishank97 commented on #10289
How about we first fit on all samples, then half, then a fourth and 3 fourths and so on?
So even with just a few iterations our model can be fed data for a varied number of n_samples

[2017-12-20 11:08] jnothman commented on #10257
Legend is okay if the font size is smaller. Please make points smaller, or
reduce alpha, or both.

[2017-12-20 11:09] jnothman commented on #10289
All samples may be much larger than is feasible to run in the benchmark
time... It is also least informative, given the budget, as to the
functional shape of the scaling

On 20 December 2017 at 22:01, Vrishank Bhardwaj <notifications@github.com>
wrote:

[2017-12-20 11:39] vrishank97 commented on #10257
This is for 250 samples, s=4, alpha=0.8
The earlier one was for 3000 samples, s=5, alpha=1

![screen shot 2017-12-20 at 5 06 58 pm](https://user-images.githubusercontent.com/14790428/34205428-536db152-e5a8-11e7-9bbf-34d5bc931331.png)

[2017-12-20 13:15] TobiasMadsen opened #10346 "Vector pseudo-counts in MultinomialNB broken from 0.18.1 to 0.19.1"
Although not officially documented in scikit-learn v. 0.18.1 pseudo-counts (alpha) could be vectors (np.array)'s with the same length as the number of features. This is a quite meaningful behaviour as the feature probability estimates can be interpreted as MAP estimates in a Dirichlet-multinomial model, where the pseudo-counts corresponds to parameters in a Dirichlet prior distribution for the pro

[2017-12-20 14:44] amueller commented on #10346
thanks. Looks like an "any" is missing. Do you want to do a PR with a fix and regression test?

[2017-12-20 17:26] jorisvandenbossche commented on #2888
But even *if* CategoricalEncoder would be able to handle missing data, you still need the combination of (CategoricalEncoder(encoding='ordinal'), Imputer(method='mosts_frequent'), CategoricalEncoder) if you want to do dummy encoding with most-frequent imputing. That doesn't look user friendly to me.
Another problem with that is you then need to know which class your missing value is, and in a cros

[2017-12-20 17:28] amueller commented on #2888
Oh, I missed this. We need to modify one of them at least. Not sure where a good place to discuss this is. I'd also like to have @agramfort's input on how he did that or whether he just discarded these features ;)

I feel like we need to be able to deal with missing categorical features in *some* way.
Is NaN just a category for ``CategoricalEncoder`` or I guess we'd want an option on how to treat

[2017-12-20 18:26] jorisvandenbossche commented on #2888
I think a keyword to specify how to handle missing values in the CategoricalEncoder would be useful. I image the options could be: 1) error (currently, and probably sensible default) 2) treat as separate category 3) ignore (all zeros, this would only be supported for onehot encoder and not for ordinal one, like is the case for `handle_unknown` as well).
The question is maybe if this needs to be se

[2017-12-20 18:26] Johayon commented on #10337
I do not knwon if it is normal but I noticed that SVC is not learning if only one class is present in y, but it is learning if it is trimmed with sample_weight.

[code]

[code]
this one throws a ValueException "only one class"

[2017-12-20 19:27] Johayon commented on #10337
a dirty code to find which classifiers fit fail with only one label but not with the sample weight
[code]

[2017-12-20 20:16] jnothman commented on #10346
I'd use min rather than any.

what's missing is a test...

[2017-12-20 21:10] #9832 closed

[2017-12-20 21:57] jnothman commented on #2888
I think you just want a missing_values parameter in CategoricalEncoder that
tells it what to output as NaN... But I'm not sure what it should do with
non-ordinal encoding.

[2017-12-20 22:45] amueller commented on #2888
@jnothman not sure I follow. As input or output?

[2017-12-20 23:05] jnothman commented on #2888
I mean:

[code]

[2017-12-21 00:11] cbertinato commented on #8723
If you're sure that you're getting a false positive, then you can always get around it with a context manager:
[code]
or set the option:
[code]
but I think the former is better because it won't clobber other warnings that may be legitimate.

[2017-12-21 00:21] naught101 commented on #9114
Sorry @amueller, I haven't implemented a python version, and I refuse to use the matlab version. But I would be interested to see how your ITM performs relative to the clusterers already in scikit-learn. I wonder if it's worth creating a comparison suite that sits outside of scikit-learn, so that it can easily implement external libraries.

Also, I've just considered this for the time, but it woul

[2017-12-21 04:11] nsheth12 commented on #10334
Can I take this up?

[2017-12-21 07:09] jnothman commented on #10334
I think so!

[2017-12-21 07:23] lengy commented on #6082
@Radren I've made the same mistake which confuse me.Thx your answser.

[2017-12-21 08:48] TobiasMadsen commented on #10346
No problem. Yes I will have a look at it. I agree with checking min < 0.

[2017-12-21 09:16] Johayon commented on #10337
Maybe that is not that important if we at least check that the prediction are what we are expecting. I would expect that the classifiers always output the remaining label and this can be add to the test just as it is done for the one label test without sample weight.

[2017-12-21 09:41] gxyd commented on #10334
This is free I think, atleast I'm **not** working on this.

[2017-12-21 11:10] vrishank97 commented on #10289
I have started some work on this. Should I put in a PR with n_samples starting at 8 and doubling for each fit?

[2017-12-21 11:53] vrishank97 commented on #10289
Or we could let users select a base and a multiplier?

[2017-12-21 13:08] jnothman commented on #10289
I don't mind starting at 8 for now. Might be a bad pick if the dataset is
big and has many classes...

[2017-12-21 13:53] qinhanmin2014 commented on #10334
@nsheth12 Note that one of them is fixed in #10349, you're welcome to fix the others (or part of them) :)

[2017-12-21 14:15] jnothman commented on #10289
A function + an example run with plots.

On 22 December 2017 at 00:21, Vrishank Bhardwaj <notifications@github.com>
wrote:

[2017-12-21 16:42] hym1120 opened #10352 "logistic regression result change with weight scale"
#### Description
When I do logistic regression with explicitly passed sample weights, I would expect result does not change if I scale all weights up and down. But I do get different result as shown below. Please advise.

#### Steps/Code to Reproduce
[code]
#### Expected Results
0.744000
0.744000
0.744000
0.744000

#### Actual Results
0.744000
0.744000
0.714000
0.714000

#### Versions
[code]

[2017-12-21 16:59] trideeprath commented on #5115
@eric-czech @jnothman
So if you decide to use backend='threading'. One easy method without changing the sklearn code would be to use parallel_backend context manager and not change in the GSV's fit method.

[code]

PS: I am not sure if "threading" works for all estimators. But I was having the same issue with my estimator with GSV njob >1 and using this works as expected for me without changing th

[2017-12-21 17:23] amueller commented on #2888
That's with ``encoding="ordinal"``, right? But then we need the the imputer and then another categorical encoder, as @jorisvandenbossche said.
I want it to work on something like ``https://github.com/scikit-learn/scikit-learn/pull/9012#issuecomment-353142640`` and produce a one-hot encoded version.

If we can do that, then we can implement the equivalent of the basic linear regression in R or weka

[2017-12-21 17:29] amueller commented on #2888
We can close again if you can convince me adjusting just ``CategoricalEncoder`` is enough ;)

[2017-12-21 17:31] vrishank97 commented on #10289
Cool. Where should I put the function is the repo?

[2017-12-21 18:06] ZaixuCui opened #10354 "Stratified split can only be used for classification problem?"
Hi, developers,

When I used the StratifiedShuffleSplit or train_test_split with stratify option, I input the continuous variable. I thought the function will split the dataset into several subsets according to the continuous variable, and ensure the distribution of these subsets were the same.
However, I got the error 'The least populated class in y has only 1 member, which is too few'. According

[2017-12-21 18:47] saddy001 opened #10355 "VotingClassifier.predict_proba with voting='hard'"
At the moment, VotingClassifier cannot predict_proba with hard voting. I would do it the following way:

P(x_i) = \sum_{n=1}^{N} \frac{C_n(x_i)}{N} [(Link)](https://latex.codecogs.com/gif.download?P%28x_i%29%20%3D%20%5Csum_%7Bn%3D1%7D%5E%7BN%7D%20%5Cfrac%7BC_n%28x_i%29%7D%7BN%7D)

Where P(x_i) - Probability of sample x_i
C_n(x_i) - Result of classifier n for sample x_i in [0, 1]
Classifiers 1..n..

[2017-12-21 18:48] amueller commented on #10354
Duplicate of #4757. This is currently not implemented, mostly because we don't have any reference that this is used or that this is a useful thing to do. It does seem pretty natural. If you find a good example showing the usefulness, or provide a textbook reference, we're likely to include it.

[2017-12-21 18:48] #10354 closed

[2017-12-21 18:54] amueller commented on #10355
I don't understand your notation. Do you mean ``P(y_i=c|x_i)``? Or are all of these vectors of length ``n_classes``? I guess the natural thing to do would be the fraction of votes for each class.

I think there was an issue discussing whether to add this (or possibly for ``OneVsOneClassifier`` which has a similar scheme?)

One of the issues with having probabilities like these is that there's only

[2017-12-21 18:55] amueller commented on #10289
start with ``n_classes * 2`` for classifiers? ;)

[2017-12-21 19:00] foo123 opened #10356 "Re-train a regressor like RandomForestRegressor with new data?"
Is there any way to re-train an already trained regressor like RandomForestRegresor with new data. Lets assume we have already trained a regressor for some data. We have new data and we want to augment the existing regressor with the new data, without retraining with whole data from scratch? Can this be done? In Keras for neural networks, for example, this can be done, since the weights can be loa

[2017-12-21 19:05] amueller commented on #10352
I don't think we normalize the sample weights. What should they be normalized to in your opinion? Please be aware that we regularize logistic regression by default, so scaling all sample weights has the affect of scaling the regularization.
[code]
0.824000
0.824000
0.824000
0.824000

(using 0.19.1)

[2017-12-21 19:07] amueller commented on #10356
No, not easy to do with random forests, and unclear what that would mean. You could add additional trees with the new data, if you specify ``warm_start=True`` and increase ``n_estimators``. You could use mondrian forests (from scikit-garden) that are designed to allow incremental fitting.

[2017-12-21 19:07] amueller commented on #10356
Closing as usage question. Please ask usage questions on stackoverflow, see [the FAQ](http://scikit-learn.org/dev/faq.html#what-s-the-best-way-to-get-help-on-scikit-learn-usage)

[2017-12-21 19:07] #10356 closed

[2017-12-21 20:13] hehaijin commented on #10352
It's interesting that if you do
` sample_weight2 = sample_weight1 * 1000.0`
the results are the same.

[2017-12-21 20:20] amueller commented on #9114
The question is more "how do you tune the parameters?". Both spectral clustering and DBSCAN could be able to do these, but you would need to tune the parameters. ITM on average outperformed sklearn but then the question is what do you average over?

[2017-12-21 20:21] amueller commented on #8723
@cbertinato but the knowledge that it's a false positive is part of the library, while your fix would need to be in user-space.

[2017-12-21 20:25] jreback commented on #8723
this is certainly not a false positive. you are filtering then trying to add a column, *that* will trigger the warning. you can choose to ignore it, but you should really copy before you add a new column.

[2017-12-21 20:31] jnothman commented on #5115
Hmm... There can be some concurrency issues with using threading backend in
grid search, for instance the bug in #10329 creates race conditions...

On 22 December 2017 at 03:59, Trideep Rath <notifications@github.com> wrote:

[2017-12-21 20:33] jnothman commented on #10329
I think this is also a problem if someone asks joblib to use the threading backend for parallelism, as there will be race conditions for setting params (and fitting due to the Pipeline issue)...

Perhaps this needs to be treated as a priority to solve.

[2017-12-21 20:38] jnothman commented on #2888
Well, yes, you would need a CategoricalEncoder, an Imputer and a
OneHotEncoder. I'm mostly afraid of this making it even harder to implement
conformant imputers.

On 22 December 2017 at 04:29, Andreas Mueller <notifications@github.com>
wrote:

[2017-12-21 20:41] jnothman commented on #10289
Perhaps sklearn.benchmark??

On 22 December 2017 at 05:55, Andreas Mueller <notifications@github.com>
wrote:

[2017-12-21 20:45] hym1120 commented on #10352
Agree adding "C=1000.0" get same result.
Also agree if we scale up sample_weight, we also get same result

[2017-12-21 20:46] amueller commented on #2888
Ok, but then the simplest possible pipeline in sklearn that can deal with standard "tabular" data is
[code]
I guess it adds "only" one more step.
It's pretty verbose for "hello world" though.

[2017-12-21 20:47] hym1120 commented on #10352
@amueller I normalize it because I don't want random scale.
I have two case to compare, so I want weights to be relatively same scale.

[2017-12-21 20:51] amueller commented on #10352
I don't see a good reason to normalize. If I set the weight for a sample to ``2`` it will be as if I added the sample in again. If I normalize, if I set the weight to ``2`` it will be as if I added the sample in and changed the regularization.

Anyway, changing this would be a major undertaking because it's a backward incompatible change, and unlikely to happen unless there is really compelling re

[2017-12-21 21:17] amueller commented on #8723
ok we need to ``.copy()``.

[2017-12-21 21:26] amueller commented on #10329
Well if we can agree on a solution ;)

I would like to clone in ``set_params`` after a deprecation cycle. We could warn if someone provided a fitted estimator (like, has any ``_`` attributes).

[2017-12-21 21:29] amueller commented on #10329
We could also "just" put the clone in ``set_params`` directly and warn if someone has put in a fitted estimator and possibly break some people's code and fix some other people's code?

Oh wait, we can't selectively warn as I suggested above (at least not trivially) since we will do that ourselves in ``GridSearchCV``...

[2017-12-21 21:48] jnothman commented on #10356
you need an estimator with a partial_fit method

[2017-12-21 22:18] trideeprath commented on #5115
Case: Using backend as "threading" and using Estimator which extends BaseEstimator and ClassifierMixin. I am not sure where the race condition is caused. Can you please elaborate.

As per my understanding and experiments, I didn't observe any race condition.

[code]

_fit_and_score is called on the clone(base_estimator). This does a deep_copy and have a copy of it's own data.

out is the output of

[2017-12-21 23:03] oracleofnj commented on #5975
Are people still interested in this? I would be interested in contributing.

[2017-12-21 23:08] jnothman commented on #2888
I admit it may be easier for users to both conceptualise and code, yes. But:
* Your transformer can happily live in a library and just work
* It is more modular, allowing to swap in another imputation strategy
without forcing that Imputer to support strings
* It might be more sensible for modelling not to impute when
one-hot-encoding anyway, and to leave all features inactive. Not supporting
Nans

[2017-12-21 23:23] jnothman commented on #8723
I understood the same as you @amueller.  To be clear, @jreback, if we extract from a DataFrame with a collection of iloc indices, then modify the extracted DataFrame, will that affect the original DataFrame?

[2017-12-21 23:34] jnothman commented on #10329
Well uhh we can check the grid search input separately and hide the warning in set_params?

[2017-12-22 00:58] jnothman commented on #5115
The race condition occurs if you are setting nested parameters, i.e. when
one param changed is an estimator and  another is a parameter of that
estimator.

[2017-12-22 01:42] jnothman commented on #10329
another thing we should consider is whether the bug, or its fix, will
affect mutable parameters other than estimators

[2017-12-22 03:00] praveen049 opened #10358 "Discrepancy in results with predict and predict_proba"
#### Description
The prediction from predict method does not match the top prediction from predict_proba

#### Steps/Code to Reproduce
[code]

#### Expected Results
Expect that the predict and the top prediction from predict_proba are the same.

#### Actual Results

Below is the prediction with the predict method
[code]

Below are the top 3 prediction from the predict_proba after mapping them to t

[2017-12-22 05:20] naught101 commented on #9114
Re: averaging: If you have benchmarks (e.g. human-eye clustering attempts), then you can average over relative differences in what ever performance metric(s) you choose. That's basically the methodology used in  [Best et al (2015)](https://doi.org/10.1175/JHM-D-14-0158.1) - they're looking at theory-based models, and comparing them with simple statistical models as benchmarks, but the same princip

[2017-12-22 08:54] lesteve commented on #10334
For the record I looked a bit in more details at the `make linkcheck` output and from I can gather:
* there is a bug in Python3 with pdfs e.g. `https://www.fordfoundation.org/media/2976/roads-and-bridges-the-unseen-labor-behind-our-digital-infrastructure.pdf#page=8 - must be str, not bytes`
* anchor checking is too strict IMO, e.g. https://github.com/jeff1evesque/machine-learning#web-interface (th

[2017-12-22 09:18] Johayon commented on #10337
In the end, we have the following behaviour with the test on sample weight:
let's set P1 = problem with only one label and P2 = problem with two labels reduce to one by using sample weight.
- CalibratedClassifierCV, LinearSVC, LogisticRegression, LogisticRegressionCV, Perceptron, SGDClassifier and SVC will fail on P1 but they will compute on P2.
- If we add a test to check that the prediction only

[2017-12-22 10:16] jorisvandenbossche commented on #8723
As far as I understand, `safe_indexing` always indexes based on an array of integer values, which will always return a copy and never a view according to numpy indexing rules.

But @jreback is correct in that this is not a "false positive" warning. Pandas cannot know that sklearn *wants* it to be a copy, as it could just have been unknowingly copying data thinking it is a view. That is what the wa

[2017-12-22 11:28] par94 commented on #10201
I experience a similar issue - Mac Book Pro, High Sierra.

[2017-12-22 13:21] lesteve commented on #10201
Not an expert in this SSL certificate stuff, but I don't think this is related to scikit-learn as I mentioned above.

Do you get the same error with this snippet:
[code]

[2017-12-22 13:36] lesteve commented on #10358
I edited your message for better readability. You may want to look at [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages code snippets and [syntax highlighting](https://help.github.com/articles/creating-and-highlighting-code-blocks/#syntax-highlighting). You can use `py` for python snippets and `pytb` for tracebacks.

The best way

[2017-12-22 15:47] saddy001 commented on #10355
Yes, I meant that and fixed it above, thanks. If I understand OneVsOneClassifier correctly, there is only one classifier trained for the binary case and I want to have N of them, to stabilize my results.
I also considered soft voting, but found to get worse precision, maybe because of not so well calibrated classifiers. Calibrating them also brought worse precision so at the moment my only option

[2017-12-22 17:23] #10334 closed

[2017-12-22 18:42] saddy001 opened #10360 "Verbose VotingClassifier"
Sometimes the fitting procedure lasts a long time when using many voters. Therefore it would be nice to get some feedback.

I think it could be done by just passing the "verbose" keyword to the Parallel() call in line 186 of the current stable voting_classifier.py and adding it to `VotingClassifier.__init__`.

[2017-12-22 19:37] cbertinato commented on #8723
It seems that, _at least for single-dtype DataFrames that can be represented by a single numpy array_, one might be able to use `.values.base` to check whether the resulting DataFrame is a copy.  In this example:
[code]
One can check for `X_train` and `X`:
[code]
How about adding a check before returning from train_test_split to avoid an unnecessary copy?

[2017-12-22 20:13] jorisvandenbossche commented on #8723
@cbertinato This is not about the return value being a copy or not (as said above, it will *always* be a copy as `train_test_split` uses integer array indexing, as far as I can see). It is exactly *because* it is a copy that pandas will raise such a warning.
So checking whether it is a copy or not to know whether to do a `.copy()` inside `train_test_split` will not get away with the warning unfort

[2017-12-22 20:20] thenomemac commented on #5975
I'm still interested in the feature should someone add it sklearn.

On Thu, Dec 21, 2017 at 6:04 PM, Jared Samet <notifications@github.com>
wrote:

[2017-12-22 21:06] jorisvandenbossche commented on #2888
The example will only work if `CategoricalEncoder(encoding='ordinal')` has a fixed integer that it uses for missing data, eg -1, as otherwise you cannot specify to the following Imputer which value to see as missing.
But that is again more about the CategoricalEncoder, so will open a separate issue for that.

IMO it are (partly) separate questions. It is not because we want Imputer to handle categ

[2017-12-23 13:06] jnothman commented on #10360
Sounds fair enough

[2017-12-23 13:31] thechargedneutron commented on #9772
@lesteve  I am experiencing this error in Ubuntu system. Also, after fixing a probable integer overflow, I am getting `[ 0.00012122]` as the output. The answer is inconsistent with your observation.

The problem lies at line 605, sklearn/metrics/cluster/supervised.py
`outer = pi.take(nzx) * pj.take(nzy)`
I modified it to this:
[code]
and thus got `[ 0.00012122]`. Please verify.

[2017-12-23 17:20] madrury commented on #5975
@oracleofnj @thenomemac

I've got a validated, general glm implementation in my py-glm library, but have no plans to attempt to merge it into sklearn (I made some design decisions that make it incompatible with sklearn's).  It's setup so that it should be very easy to add other exponential families.

I also have a full, pure python glmnet implementation that supports the same exponential families

[2017-12-23 17:59] oracleofnj commented on #5975
@madrury Happy to take a shot at helping you out with that bug.

[2017-12-23 18:12] vrishank97 commented on #10289
How should I go about using memory profiler to get the peak memory usage for each fit?

[2017-12-23 22:42] Vinodhkumar-MT16062 commented on #7777
@farzanayusuf Hi, Am also looking for ways to custom implement the criterion. Did you figure out any way to do that?

[2017-12-24 07:22] dataspren opened #10366 "LocalOutlierFactor._decision_function yielding inconsistent level sets"
#### Description
When we fit our LOF to `X` and use `_decision_function` to generate contours with a mesh grid, the resulting level sets are different depending on the mesh bounds.

#### Steps/Code to Reproduce
Using the [**anomaly detection with LOF**](http://scikit-learn.org/stable/auto_examples/neighbors/plot_lof.html#sphx-glr-auto-examples-neighbors-plot-lof-py) example with a loop:
[code]

##

[2017-12-24 07:25] dataspren commented on #10366
Accidentally submitted before I was done. Editing the post now.

[2017-12-24 08:41] jnothman commented on #10366
@ngoix, @albertcthomas as our latest outlier detection flag bearers may have something to say here...

[2017-12-24 09:04] jnothman commented on #10360
@mohdsanadzakirizvi, @shivani-1521, there are now two PRs open for this, by each of you: #10367, #10365. Neither of you have included a test which ensures that no verbosity is used by default / with verbose=0. Both of your implementations would fail such a test. The test should appear in `sklearn/ensemble/tests/test_voting_classifier.py` and you can see `git grep test_.*verbose` for examples of si

[2017-12-24 09:05] jnothman commented on #10360
Also, if one of you would like to close in deference to the other, go ahead.

[2017-12-24 09:07] jnothman commented on #10360
A few other friendly points:
* it would have been clearer if you had stated you were working on the issue before opening PRs
* it would be clearer if you gave your PRs better titles like ""
* @mohdsanadzakirizvi, you should have mentioned `Fixes #10360` or similar in your PR description.
* Please do read the contributors' guidelines for a project when you begin to contribute.

[2017-12-24 15:41] hermidalc opened #10368 "RFECV float (percentage) step does not reduce features in each iteration as described"
Hi scikit-learn dev team,

Apologies if I am not understanding how the step feature of RFECV works.  With RFECV, when you specify an integer step, you see in verbose mode that it steps down by exactly the number of features until zero, e.g. step=100:
[code]
But with a float (percentage) step it doesn't do what you'd expect.  If I specify a step=0.1, I would expect it to reduce the number of featur

[2017-12-24 16:51] DawnMe opened #10369 "train_test_split ignores categorical groups"
When using `train_test_split(X,y)`, the split ignores the category in y.

For example, at the following code:
[code]
The splitted output of the classes is not even, there are 28 vs 22 samples of the 0 category, although the test size is 0.5 so they should be of equal sizes.

[2017-12-24 19:26] iarroyof opened #10370 "different number of weight (coef_) vectors than n_classes is stored in trained svm.SVC object"
#### Description

I've trained an `svm.SVC` classifier implemented in Scikit learn library. The data are text documents from 4 categories of the 20 news groups dataset. I've added a code sample:

#### Steps/Code to Reproduce

[code]
#### Expected Results

According to my understanding of the model, in an one-versus-rest setting, a weight vector for each class must be learned in the primal problem.

[2017-12-24 20:06] jnothman commented on #10368
It is reducing by the same number in each step. Thus choosing .1 means 11
iterations. A clarification to the documentation is welcome, in the first
instance.

Maybe it's worth considering removing fewer features in each subsequent
step? we could consider adding a separate parameter to control this, but
only if the literature or empirical demonstration showed this was
especially helpful.

[2017-12-24 20:08] jnothman commented on #10369
This is a usage error. Please pass `stratify=iris.target`, as documented.

[2017-12-24 20:08] #10369 closed

[2017-12-24 20:18] jnothman commented on #10370
Thanks for the very clear snippet!

This behaviour certainly doesn't match the documentation, though the `_get_coef` method is clearly converting the `dual_coef_` using a one-vs-one interpretation.

I'm not sure what the solution is here beyond fixing the documentation.

[2017-12-24 21:39] ngoix commented on #10366
It is not obvious to me what the graphs show, as the level set thresholds (used by coutourf) change when the meshgrid changes... I don't see any incoherence here, but maybe I'm missing something.

[2017-12-24 21:44] ngoix commented on #10366
Are you trying to prove that `_decision_function` is not deterministic?

[2017-12-24 22:43] ngoix commented on #10366
Or to prove that the decision function of a point  X[0] depends on the other testing samples X[0:]?

[2017-12-24 23:16] iarroyof commented on #10370
Thanks for reply @jnothman . Indeed the `dual_coef_` attribute has the form specified for one-vs-one setting, even though I've specified one-vs-rest. Thus I've tried to derive the weight vectors by means of

[code]
where I'd like to know whether `clf.dual_coef_[0, y_train[clf.support_]==c]` gets the support coefficients corresponding to the class `c`, assuming the indices of `y_train[clf.support_]

[2017-12-25 00:16] dataspren commented on #10366
I'm thinking now that I misunderstood the point of these contours.

If I understand correctly now, the contours only speak to the distribution of the mesh points' scores. In fact we can just set `N` in `contourf` to manually manipulate the levels (or sidestep contours completely with a continuous mesh).

The contours are *not* in fact "decision boundaries" of any kind. I guess that's why [this oth

[2017-12-25 02:56] mohdsanadzakirizvi commented on #10360
@jnothman thanks for the detailed feedback! I will be closing my PR. Also, could you please suggest other beginner-friendly bugs?

[2017-12-25 03:03] mohdsanadzakirizvi commented on #10309
is this issue open to be worked on?

[2017-12-25 04:04] jnothman commented on #10309
Well @oasis789 has not yet opened a PR

[2017-12-25 04:21] bobv57 opened #10371 "SVM With Linear Kernel Returning Incorrect Results"
#### Description
When I do a 50:50 split of the mushrooms data (found in the LIBSVM repository: https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/datasets/binary.html#mushrooms) to create training and testing samples and then run a simple linear SVM to estimate a model, I get 100% accuracy for the training sample and 73% for the test sample.

If I do the same using either of the packages, in R (e1071

[2017-12-25 06:13] hermidalc commented on #10368
Hi there - the step float option behavior that I thought it should be doing is exactly what Guyon et al did and recommended doing in the SVM-RFE paper that RFECV is based on.  In section 5. Experimental Results in their set of experiments to test and compare the algorithm to others they do their runs removing 1/2 the remaining features (genes) in each iteration:

Which would be a step=0.5 using th

[2017-12-25 07:06] hermidalc commented on #10368
Hi again - I believe the easiest way to

I copied the first part of the step if statement here, lines 155-156:
https://github.com/scikit-learn/scikit-learn/blob/5311c81769326fbf5c8f63eb94e1886208ab87fc/sklearn/feature_selection/rfe.py#L155-L156

and I put that into the while loop below it replacing n_features by np.sum(support_):

[code]

Am I breaking or missing anything by doing that?  I know yo

[2017-12-25 08:27] jnothman commented on #10368
it's easy to fix computationally, but we try to maintain backwards
compatibility from release to release, so a solution, IMO, will involve
adding a parameter.

[2017-12-25 14:33] bobv57 commented on #10371
Follow up:

I contacted Chih-Jen Lin, to inquire as to whether or not it is strictly a LIBSVM issue. He suggested that the difference may stem from the fact that the R implementations of SVM use scaling as their default setting. I turned off scaling, when I estimated the SVM models in both packages (it was necessary, to estimate the model, without manipulating the data, since one of the feature va

[2017-12-25 16:46] shivani-1521 commented on #10360
@jnothman thanks for your help and patience, I'm a new contributor. I'm attempting to fix this.

[2017-12-25 16:59] hermidalc commented on #10368
Hi - I can create a pull request with a better feature option addition and code than the above local fix I did to test it.  What should we call this option?

[2017-12-26 06:30] sungminkim31 opened #10372 "partial_dependence.py _grid_from_X ignores percentile specification unexpectedly"
#### Description
partial_dependence.py _grid_from_X ignores percentile specification if the number of unique values in feature is less than the grid_resolution

#### Steps/Code to Reproduce
[code]
#### Expected Results
I think this is expected behavior.

[code]
#### Actual Results

#### Versions
Linux-4.3.5-smp-809.21.0.0-x86_64-with-debian-testing-unstable
('Python', '2.7.6 (default, Aug  4 2016,

[2017-12-26 10:26] albertcthomas commented on #10366
A contour can be interpreted as a decision boundary for a given threshold/level. However in the case of the example, the levels are automatically chosen by `contourf`. As @ngoix explained, for different mesh grids you can get different levels and this explains why you obtain different levels sets.
If you manually set the levels of the contours in your code you obtain the same contours whatever the

[2017-12-26 13:00] CsStudent5678 opened #10373 "Voting classifier that handles heterogenous features?"
(x post from [this](https://stackoverflow.com/questions/47973509/voting-ensemble-with-different-feature-types) usage question)

Is there any current way, or desire to add in the future,the ability to do a voting classifier with heterogeneous features, as per this situation:

My data is stored in `my_df`,  a DataFrame object that has a bunch of sparse categorical feature columns that have been bina

[2017-12-26 17:34] bcyphers opened #10374 "SVC predict_proba fails with new-style kernel strings (expected str, got newstr)"
#### Description
If an SVC is initialized with a new-style kernel string (`future.types.newstr.newstr`), calls to `SVC.predict_proba()` will fail with the error
[code]
Calls to `fit`, `predict`, and `score` work correctly.

The culprit is the inner call to [`svm.libsvm.predict_proba()`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/libsvm.pyx).

#### Steps/Code to Reproduce

[2017-12-26 21:57] dataspren commented on #10366
I see, those are the boundaries in `Z` for -5, -3, -2. This was completely PEBKAC on my end for not understanding the contouring functions. Thanks for the explanations and sorry for the noise.

[2017-12-26 21:57] #10366 closed

[2017-12-27 02:33] gbwest commented on #9812
Is this fixed yet? I used this in a generator for a month, then it broke.  Now an app I'm hoping to market doesn't work.
thanks

[2017-12-27 09:38] newey01c commented on #9812
@gbwest this has already been merged into master quite some time ago (re #9816). This was also a mind-bogglingly simple fix (see #9816 for details) so if this bug is causing you significant problems you should be able to patch sklearn yourself quite easily.

[2017-12-27 12:37] jomicobasi opened #10375 "Library error code on sklearn.discriminant_analysis.LinearDiscriminantAnalysis as a dimension reduction Algorithm"
#### Description

Library code error on the **fit** method of **LinearDiscriminantAnalysis**.  The code, in my opinion should be as it is in https://github.com/jomicobasi/scikit-learn/tree/attempt-lda

You must understand that LDA and Fisher LDA are used in different situations. FIsher LDA is a binary classifier, whereas LDA is a supervised dimension reduction algorithm. As so, it will be **n_comp

[2017-12-27 13:11] jona-sassenhagen commented on #2688
It seems psychologists also really need this.

Isn't it fairly simple on the backend site - it's *only* a transformation of .components_?

[2017-12-27 16:28] agramfort commented on #10375
please send us a proper PR so we can review.

See:
http://scikit-learn.org/stable/developers/contributing.html#contributing-code

let us know if you need help.

[2017-12-27 17:14] mabelvj commented on #10374
Can I try this one?

[2017-12-27 18:01] mabelvj commented on #10374
I wanted to try to solve this issue and tried your code.

Have you tried normal string as input for kernel?

```kernel='sigmoid'```

This way there is no error and the code runs.

[2017-12-27 18:06] mabelvj commented on #10374
Can I try this one?

[2017-12-27 18:28] jomicobasi commented on #10375
Done
Thank you for your attention!

[2017-12-27 19:38] jomicobasi commented on #10375
@agramfort Done
Thank you for your help!

[2017-12-27 21:22] ejklike opened #10379 "[MRG] Equation typo in the docstring of wminkowski distance metric"
#### Description
Equation typo in the docstring of wminkowski [distance metric](http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.DistanceMetric.html), which says that ``d = sum(w * |x - y|^p)^(1/p)``.

For example, assume we want to calculate the distance between two 2d vectors as below:
[code]

From the current docstring, the user expect ``sqrt( 1 * 0^2 + 2 * 1^2 )``, which resu

[2017-12-28 05:35] NarineK commented on #10175
As I was writing the tests I've noticed that the output of decision_function for `NuSVC` and `SVC` is inconsistent with `predict` when decision_function_shape='ovo'. It works fine with 'orv'
Here is an example:

[code]

output:
[code]

[2017-12-28 05:54] Rohan1234567 opened #10381 "Build issues with scikit-learn python3"
I have run the python3 setup.py install command under scilit-learn-0.19.1 directory in dist-packages in python 3.5. I am still getting the following Failure message when I try to run nosetests -v sklearn. I am stuck.

numpy version 1.13.3
scipy version 1.0.0
scikit-learn version 0.19.1
python3 version 3.5.2
pip version latest 9.x
I installed scikit-learn using the official instructions as well as

[2017-12-28 06:45] gxyd commented on #10381
This is probably a better question for mailing list or gitter. Probably an issue with your setup. Though looking at the error messages it seems that you used python3.5 for some purposes and python2.7 for a few other purposes.

[2017-12-28 07:00] Rohan1234567 commented on #10381
@gxyd Hi. Thank you. I will try the mailing list. Also I have installed nose using pip3 install nose command. So I have a directory python3 and python 2.7 both containing nose subdirectories. But the testing seems to use the one under python2.7.

Is it okay to delete the python2.7 folder or uninstall it? Can I comment out the lines with import __check_build?

[2017-12-28 07:16] maykulkarni commented on #10381
In the Makefile try renaming the `PYTHON` variable with your python version

[2017-12-28 07:21] Rohan1234567 commented on #10381
@maykulkarni Can you tell me where is the Makefile and how to get it? Any idea about errors about importing signature, murmurhash3 and __check_build?

[2017-12-28 07:28] maykulkarni commented on #10381
It's in the root folder and called "Makefile"

[2017-12-28 07:50] gtzinos opened #10383 "Use cross_val_predict without set y"
Hello,
Thanks for your great library. I am training a model with cross_val_score and after that i execute cross_val_predict to predict unknown labels, but it returns me an error that i didn't set the optional y variable.

[code]

Error message:
[code]

[2017-12-28 08:25] agramfort commented on #10383
you did not get what cross_val_predict does.

this is not an issue. Should could ask your question on the mailing list or stackoverflow

[2017-12-28 08:25] #10383 closed

[2017-12-28 08:27] #10379 closed

[2017-12-28 10:04] baozi-lala opened #10384 "method to batch normalization,batch features extraction and batch training"
Due to the data set is too big to load it all at once. I need to n**ormalize, extracted features and train it in batches**. I chose **iris** as the data set and scikit-learn in python to validate my ideas.
The first step,I **normalized** the batches using `standarScaler.particial_fit(),`

[code]

The second step,I **extracted features** using `IncrementalPCA.particial_fit()`

[code]
The third step

[2017-12-28 12:20] tarashypka opened #10385 "G"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2017-12-28 13:33] #10385 closed

[2017-12-28 14:51] twolodzko commented on #8614
@PGryllos & @amueller FYI, see[ _AUC: a misleading measure of the
performance of predictive distribution models_](http://www.whoi.edu/cms/files/Global_Ecology_and_Biogeography_2008_Lobo_53565.pdf) by Lobo et al:

[2017-12-29 09:28] deep999 opened #10386 "Custom distance for KD tree"
I have my own dist function that takes values from similarity_matrix:

    def dist(x, y):
        dist = 0
        for elt_x, elt_y in zip(x, y):
            dist += abs(similarity_matrix[elt_x][elt_y])
        return float(dist)

If I try tree = KDTree(X, metric=dist) I get: ValueError: metric PyFuncDistance is not valid for KDTree. Is there any option to do such thing with KD tree? If not, how

[2017-12-29 13:08] janvanrijn commented on #10197
In retrospect, I think the absence of staged_predict in pipeline is not a big deal, as I can easily add it elsewhere in my program.

However, when I try to enforce similar behavior with SGD (not staged_predict but partial_fit) I encounter a similar problem (pipeline doesn't have this function). Would your proposed solution also work for this?

[2017-12-29 16:32] bobv57 commented on #10371
Please close this item. I discovered that the dataframe slice technique that I was using wasn't correct (old stackoverflow solution, that apparently was deprecated). Once I fixed the slice issue, in parsing the data into train and test, everything worked as expected.

[2017-12-29 18:38] twolodzko opened #10387 "Provide ThunderSVM support in backend"
scikit-learn uses libsvm and liblinear as backends for SVM. Alternatively [ThunderSVM](https://github.com/zeyiwen/thundersvm), an SVM implementation that can work on multiple CPU's or GPU's and so is faster then libsvm, can be used. It promises same functionality and interface as libsvm, so it seems that it could easily be added as an alternative backend for the SVM functions.

[2017-12-30 11:47] vrishank97 commented on #10257
Will this be going in the same example or should I create a new example?

[2017-12-30 19:20] amueller commented on #10387
I don't think we want to add more vendored code, in particular not with GPU dependencies. If you want more speed, I suggest you use kernel approximations or lasvm. I think we'd rather move in the direction of getting rid of libsvm (or at least liblinear).

It's very easy for ThunderSVM to create a scikit-learn compatible interface.
We should be able to do multi-core support once we start using lok

[2017-12-31 04:21] qinhanmin2014 commented on #10371
Thanks for the issue and the diagnose. As you have discovered, the reason is the incorrent slice technique (`notz = Z[-idx]` and `notx = x.iloc[~idx]`), which makes x and y in the test set not correspond to each other. Closing.

Another thing:
Readability can be greatly improved if you [format](https://help.github.com/articles/creating-and-highlighting-code-blocks/) your code snippets and complete

[2017-12-31 04:21] #10371 closed

[2017-12-31 05:47] jnothman commented on #10368
not sure right now. happy for you to propose something as you are obviously
more familiar with the algorithm and its literature. thanks

[2017-12-31 05:52] #10373 closed

[2017-12-31 05:52] jnothman commented on #10373
make each classifier a pipeline that selects out the needed features before
training a classifier.

[2017-12-31 09:08] jnothman commented on #10374
I'm a bit ambivalent about this. We ask for a str. In Python 2, that is not
a unicode. but yes, I would accept a fix.

[2017-12-31 09:13] jnothman commented on #10175
Hmmm... Could you open a new issue (if this is not already covered by an
existing one) please?

On 28 December 2017 at 16:35, NarineK <notifications@github.com> wrote:

[2017-12-31 09:41] jnothman commented on #10381
Closing as a usage question.

[2017-12-31 09:41] #10381 closed

[2017-12-31 09:44] jnothman commented on #10384
I don't see how this is possible. The transformations get updated in each iteration, but you need the final transformation when transforming.

[2017-12-31 09:44] #10384 closed

[2017-12-31 09:53] jnothman commented on #10386
BallTree supports PyFuncDistance. Also, you can just use sklearn.neighbors.NearestNeighbors and not worry about the underlying data structure.

[2017-12-31 09:53] jnothman commented on #10386
BallTree supports PyFuncDistance. Also, you can just use sklearn.neighbors.NearestNeighbors and not worry about the underlying data structure.

[2017-12-31 09:53] #10386 closed

[2017-12-31 09:54] jnothman commented on #10197
partial_fit is a completely different kettle of fish.

[2017-12-31 09:54] #10197 closed

[2017-12-31 09:55] jnothman commented on #10257
Same example, I think.

[2017-12-31 10:24] qmick commented on #10374
Can I take this?

[2017-12-31 11:22] jnothman commented on #10374
Sure

[2017-12-31 13:28] qmick commented on #10374
I found a PR #10338 that fixes `predict_proba` fail was already filed (ealier than this issue). Maybe we should  ask that PR to close this issue?

[2017-12-31 17:04] bcyphers commented on #10374
Yeah, it looks like that should do it. Good find!

[2017-12-31 18:45] iosonofabio commented on #4394
Hi, I'm interested in this too. What about this?

https://gist.github.com/afrendeiro/9ab8a1ea379030d10f17

I can ask and try and integrate this into sklearn if you think it's fine.

[2017-12-31 19:54] pinakinathc commented on #10307
is this issue still open?

[2017-12-31 20:00] gxyd commented on #10307
I just noticed this. This actually is fixed by https://github.com/scikit-learn/scikit-learn/pull/10377 . I independently tried to fix that in that PR. I think it correctly fixes this issue as well.

[2017-12-31 23:39] NarineK opened #10388 "The `decision_function` for NuSVC and SVC is not inconsistent with predict"
#### Description
As described in #10175 the output of `decision_function` for NuSVC and SVC isn't inconsistent with predict when decision_function_shape='ovo'. It works fine with 'orv'

#### Steps/Code to Reproduce

[code]
Output
[code]

#### Expected Results
I was expecting that `dec_func` and `y_pred` will return the same results.

#### Versions

[2017-12-31 23:42] NarineK commented on #10175
I didn't see exactly the same issue and created: #10388.
Should I skip SVC test cases or wait for the issue to be fixed ?

[2018-01-01 01:24] jnothman commented on #10388
I'm not sure you are interpreting the ovo shape correctly, because each
decision function column vector reports the distance from the hyperplane
between each pair of classes, afaik. If the classes are separable blobs on
a line, say, from left to right, then a point just to the right of the
boundary between two and three will have a larger df on the one-two
classifier than on the two-three classifi

[2018-01-01 01:24] #10388 closed

[2018-01-01 01:25] jnothman commented on #10175
ovo is irrelevant to the binary case

[2018-01-01 02:06] magicmathmandarin commented on #5953
I had the same error.  After I removed previous installation of version 0.19 and reinstall the package using conda.  Everything is okay now.

[2018-01-01 14:32] suvojit-0x55aa opened #10390 "Can't process array of shape (n_samples, classes)"
https://github.com/scikit-learn/scikit-learn/blob/a24c8b464d094d2c468a16ea9f8bf8d42d949f84/sklearn/model_selection/_split.py#L269

I was working with scikit-learn when I found the KFold takes y arguments of shape (n_samples,) only. Is the shape (n_samples, classes) not allowed for some reason ? If no, should I add this functionality ?

[2018-01-01 16:59] gxyd commented on #10390
I tried to do that:
[code]

So it seems to working just fine, I think. It is just that the output when using indices on `y` will be arrays not numbers. WDYT?

[2018-01-01 21:52] jnothman commented on #10390
Hi @suvojit-0x55aa. I can't understand what your issue is because you didn't make use of the provided template when posting your issue, which asked you to tell us the expected and actual result. Closing. Feel free to open a new, correctly formatted issue.

[2018-01-01 21:52] #10390 closed

[2018-01-01 22:03] sandeepvaday opened #10391 "Would it make sense to add False Positive Rate as a metric?"
If that makes sense, I can create a pull.

#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-01-01 23:35] jnothman commented on #10391
I think we could have some documentation on the relationship between fpr
and recall on the negative class (= specificity). We could even consider a
specificity scorer. But I don't think another metric function is worthwhile.

[2018-01-02 00:09] sandeepvaday commented on #10391
Sorry if I got this wrong but I thought introducing a metric simply means adding a scorer in sklearn/metrics/classification.py.

To your comment about specificity, adding such a (specificity) scorer would be fine too. As long as computing FPR is straight forward. In the context of network based anomaly detection, use of FPR is very relevant/common.

Please let me know how we can move forward on th

[2018-01-02 01:18] jnothman commented on #10391
Scorers are slightly different to metric functions; they have a different
and more consistent interface. Yes, I'd consider a
specificity_score(y_true, y_pred, pos_label) metric that reuses either
recall_score or confusion_matrix.

[2018-01-02 02:10] baozi-lala commented on #10384
I want to know if there is any other way to achieve my goal besides  the method I have proposed.

[2018-01-02 08:46] lesteve commented on #9772
I am guessing this is because you are using a 32-bit python. I can reproduce the problem using a 32-bit python.

This is what I get as well. Not sure why I had a different value in my previous post.

Seems like you figured out where the int overflow happens, thanks! Not sure what the best fix actually is, maybe casting `pi` and `pj` as int64, this way you make sure that `pi.sum()` and `pj.sum()` d

[2018-01-02 09:32] lesteve commented on #10375
Not an expert on this, but the `LinearDiscriminantAnalysis`, `n_components` doc says:

[code]

Maybe a warning (or an error) would be appropriate if `n_components >= n_classes - 1`

[2018-01-02 13:53] praveen049 commented on #10358
Thanks @lesteve , i will try to provide a code snippet for reproducing the problem.

In the meantime, i ran the same code with a much smaller dataset of over 15000 records and with this the behavior is as expected. The predict and predict_proba produce matching results.

So, i will close this issue and open a new one for smaller dataset with code snippet to help reproduce.

Thanks

[2018-01-02 13:53] #10358 closed

[2018-01-02 15:18] Johayon commented on #10337
Should I try to correct these problems inside this issue or should I open new issues for the different classifiers ?

[2018-01-02 17:26] NarineK commented on #10175
I see, I'll do the checks only for binary then.

[2018-01-02 19:41] MTKnife commented on #8020
Sorry to come late to the party, but I just stumbled onto this discussion.

While the article specifies initializing both lambda and gamma values as 1, Hoffman's actual code uses random initialization (centered on 1), as you can see in his repo  at [https://github.com/blei-lab/onlineldavb/blob/master/onlineldavb.py](https://github.com/blei-lab/onlineldavb/blob/master/onlineldavb.pyl), which is act

[2018-01-02 20:46] chyikwei commented on #8020
Hi,

Random initialization is used in the training step. (it is controlled by [`random_init`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/online_lda.py#L353-L356) parameter.)

In the inference part, we choose 1 is to make sure `transform` always return same result after training.
Based on the paper, it can be arbitrary number though.

[2018-01-02 21:46] amueller opened #10393 "integers in RidgeCV alpha"
[code]

making one of the alphas a float fixes the problem. This should be handled internally.
Python3.6

[2018-01-02 23:52] mabelvj commented on #10393
Can I take this?

[2018-01-03 02:47] jnothman commented on #10393
I think so, but maybe after that you should have a go at non "good first issue"s!

[2018-01-03 11:28] laurazh opened #10395 "KNN distance metrics mahalanobis"
#### Description
Using KNN with different metrics  (here mahalanobis) throw a value error

#### Steps/Code to Reproduce
`from sklearn import datasets`
`iris = datasets.load_iris()`
`X = iris.data[:, :2]   `
`y = iris.target`
`from sklearn.neighbors import KNeighborsClassifier`
`clf = KNeighborsClassifier(n_neighbors=7,weights='distance', metric='mahalanobis').fit(X ,y )
`

#### Expected Results
No

[2018-01-03 13:57] lesteve commented on #10395
Google is your friend: https://stackoverflow.com/a/34650347, closing.

Also usage questions like this should be preferably asked on StackOverflow.

[2018-01-03 13:57] #10395 closed

[2018-01-03 16:12] barrywhart commented on #7867
Any updates on this? It would be great if this worked, so `scikit-learn` would work better with typical Python tools like `pip`.

[2018-01-03 18:18] jimmywan opened #10396 "DistanceMetric formatting for haversine distance_function appears incorrect"
#### Description
Looks like the markup has a minor error in it. Probably a quick fix for someone who understands the markup.

#### Steps/Code to Reproduce
Screenshot of my browser window:
![image](https://user-images.githubusercontent.com/10406673/34533521-2fb94630-f080-11e7-8816-eadee8fdb170.png)

[2018-01-03 22:07] jnothman commented on #7867
I've just checked what scipy does: it adds setup_requires and
build_requires=[numpy>=1.8.2] if and only if import numpy fails.

On 4 January 2018 at 03:12, Barry Hart <notifications@github.com> wrote:

[2018-01-03 22:07] jnothman commented on #7867
I would consider a PR which did the same here for scipy (and numpy).

On 4 January 2018 at 09:07, Joel Nothman <joel.nothman@gmail.com> wrote:

[2018-01-04 03:29] barrywhart commented on #7867
I'm working on a [PR](https://github.com/scikit-learn/scikit-learn/pull/10398) for this. Ready for early (but not final) review if anyone is interested.

[2018-01-04 05:48] njsmith commented on #7867
I really wouldn't recommend doing the scipy thing these days. What I'd recommend is:

- Unconditionally declare the `install_requires`. This is what will end up in your wheel. In almost all cases, this will cause people who don't already have numpy installed to download the numpy wheels, which are optimized and available for all major platforms.

- If `import numpy` doesn't work, then don't use `s

[2018-01-04 06:09] maykulkarni commented on #10396
Thanks for posting, let me look into it

[2018-01-04 06:53] sky660099 opened #10399 "A necessary feature for Decision Trees?"
Hi, I am a graduate student utilizing sklean for some data work.
And when I handle the data using the Decision Trees library, I found there are some inconvenience:
Neither the classificationTree nor the regressionTree supports categorical feature. **That means the Decision trees model can only accept continuous feature**.
For example, the categorical feature like app name such as google, facebook

[2018-01-04 08:34] maykulkarni commented on #10399
There's no need to modify the algorithm. You can use [OneHotEncoder](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html) or [LabelEncoder](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html) to convert categorical features into discrete values. Alternatively, if you're using pandas.DataFrame you can use [pandas.get_dummie

[2018-01-04 10:30] Yannic92 opened #10400 "IncrementalPCA - Dimension bug"
#### Description

Error occurs stating that number of features have been changed even if its exactly the same data set.
It only occurs when n_features > n_samples.

#### Steps/Code to Reproduce
[code]

#### Expected Results
Code should run without errors.

#### Actual Results
[code]

#### Versions
Windows-10-10.0.14393-SP0
Python 3.6.2 (v3.6.2:5fd33b5, Jul  8 2017, 04:57:36) [MSC v.1900 64 bit (AM

[2018-01-04 10:30] jnothman commented on #10399
using dummies in decision trees is not the same as categorical handling in
CART. nor is using dummies especially beneficial in decision trees.

#4899 remains the primary proposal for categorical support implementation.
But it has been awaiting review and some work for a long time. Anyone able
to help review it should please do so.

Closing as duplicate

[2018-01-04 10:30] #10399 closed

[2018-01-04 10:34] jnothman commented on #7867
Thanks for the input @njsmith!

[2018-01-04 12:11] Yannic92 commented on #10400
Is it just the wrong index of shape that is checked in this [line](https://github.com/scikit-learn/scikit-learn/blob/a24c8b464d094d2c468a16ea9f8bf8d42d949f84/sklearn/decomposition/incremental_pca.py#L223)?

    if (self.components_ is not None) and (self.components_.shape[0] !=
      self.n_components_):

[2018-01-04 12:12] barrywhart commented on #7867
@njsmith: I had already implemented the first suggestion, and it seems to work okay. I tried the simpler approach, but on my Mac, source installations did not work correctly. I saw no apparent errors, but after installation was complete, `import sklearn` was failing.

Anyway, the PR is up for review.

[2018-01-04 12:19] HolgerPeters commented on #7867
@njsmith summarizes exactly what I would consider a good solution to the problem (today).

[2018-01-04 12:35] qmick commented on #10400
No, if  you simply change `self.components_.shape[0]` to `self.components_.shape[1]`, and when `n_components` is set (for example set to 2), you'll still get an error.

If I understand the error message correctly, this line should check the input feature size(`n_features`), not the `self.n_components_`, between `partial_fit()`. I am going to see if we should change it to the comparison between `n_

[2018-01-04 12:42] raphael-psr commented on #8811
+1

[2018-01-04 12:46] raphael-psr commented on #5961
+1

[2018-01-04 13:12] lesteve commented on #10400
Readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages code snippets. Bonus points if you use [syntax highlighting](https://help.github.com/articles/creating-and-highlighting-code-blocks/#syntax-highlighting) with `py` for python snippets and `pytb` for tracebacks. I have ed

[2018-01-04 13:19] Yannic92 commented on #10400
Thanks i will consider the formatting on my next issue

[2018-01-04 13:20] lesteve commented on #10400
Very likely fixed by https://github.com/scikit-learn/scikit-learn/pull/9303. I am going to close this one, @Yannic92 do feel free to reopen if you strongly disagree.

[2018-01-04 13:20] #10400 closed

[2018-01-04 13:31] lesteve commented on #8811
Have you tried with scikit-learn 0.19.1 which is the latest released version?

Can you provide a stand-alone snippet to reproduce the problem ? Please read https://stackoverflow.com/help/mcve.

[2018-01-04 13:40] lesteve commented on #8811
Misread your original post, sorry for that. I can reproduce the warnings in scikit-learn 0.19.1 and master.

[2018-01-04 13:44] lesteve commented on #5961
Closing in favour of https://github.com/scikit-learn/scikit-learn/issues/8811.

[2018-01-04 13:44] #5961 closed

[2018-01-04 13:48] lesteve commented on #8811
FWIW Looks like https://github.com/scikit-learn/scikit-learn/pull/8328 fixed the bullet point 3. in the original post.

@raphael-psr can you elaborate what your problem exactly is? It's hard to wild-guess what you mean just on a +1.

[2018-01-04 14:11] raphael-psr commented on #8811
Hi @lesteve, the issue is similar. I'm using scikit-learn 0.19.1. Here is how I reproduce it:
from sklearn import covariance

[code]

[2018-01-04 14:29] lesteve commented on #8811
OK thanks, this seems to be exactly the same problem indeed.

[2018-01-04 15:05] lesteve commented on #10396
@maykulkarni small tip: you will need to edit sklearn/neighbors/dist_metrics.pyx. Add double-backticks around each line and that may do it.

[2018-01-04 15:39] barrywhart commented on #7867
I created a [second PR](https://github.com/scikit-learn/scikit-learn/pull/10402) following @njsmith's recommendations. We can merge one and close the other, whichever seems better after review.

[2018-01-04 16:06] thebeancounter commented on #7242
So, for now if I wish to use fit, and then use transform on another df, what is the proper way to be able to use the proper column order?
How can i guaranty pandas dataframe columns to be in a specific order?

[2018-01-04 21:06] KOLANICH commented on #9854
I vote for making all the generic enouyh algorithms like in `preprocess` to be usable in the presence of missing values. It's pain in the ass to reimplement the algos myself to preprocess the data for xgboost only because sklearn.preprocess is crippled and raises errors if it encounters nan.

[2018-01-05 00:21] jmschrei commented on #9854
I am -1 for this as well for two main reasons: (1) it would dramatically
increase implementation / review time for even algorithms where handling
missingness is natural, and (2) there are way too many ways to handle
missingness (ignore missing values, data-centric imputation, model-centric
imputation...) for us to choose one possibility as the standard.

On Thu, Jan 4, 2018 at 1:06 PM, KOLANICH <n

[2018-01-05 00:27] maykulkarni commented on #10396
Thanks, will do that.

[2018-01-05 01:45] pinakinathc commented on #10374
@qmick i checked PR #10338 and as you mentioned it failed. if it hasn't been fixed yet may i try this?

[2018-01-05 03:03] jnothman commented on #7242
`df.loc[:, list of column names]` before both fit and transform should work
fine

[2018-01-05 03:05] jnothman commented on #9854
I think the idea of making sure scalers etc work with nans disregarded is
very fair.

[2018-01-05 03:17] jnothman opened #10404 "Disregard NaNs in preprocessing"
As per #9854, I think it would be good if our scalers and similar worked despite missing values. Without this, we are encouraging users to apply naive imputation or to reimplement preprocessing, where they may otherwise have a downstream estimator with native missing value support.

One risk is that NaN need not imply missingness, but for preprocessing the downstream estimator needs to deal with t

[2018-01-05 03:59] jmschrei commented on #9854
Oh, whoops. I was responding more to the main thread about estimators, not
the recent post. I am supportive of metrics and preprocessers handling
missingness by ignoring them.

On Thu, Jan 4, 2018 at 7:05 PM Joel Nothman <notifications@github.com>
wrote:

[2018-01-05 04:42] ericchang00 commented on #10404
I could pick this up. Do we want to throw warnings when NaNs are encountered, or exclude them silently?

[2018-01-05 09:33] PGryllos commented on #8614
@twolodzko thnx a lot for the input; I will take a look in the coming days

[2018-01-05 10:40] qmick commented on #10374
@pinakinathc Fail or not isn't a problem, that PR didn't update for long time and I am not sure if the author  is still working on it. I'll keep eyes on it.

[2018-01-05 14:01] lesteve commented on #10154
Arggg misclick

[2018-01-05 16:23] arthur-leguennec opened #10408 "Feature importance random forest"
Hello everyone,

I'm using the class RandomForestClassifier of sklearn.ensemble and I would like to know if it's possible to get the feature importance only for one class ? Indeed, to compute feature importance, we repass the train data in random forest. I would like to know how I can do this just for one class.

Thanks,
Arthur

[2018-01-05 19:11] pntemi opened #10410 "MultiLabelBinarizer breaks when seeing unseen labels...should there be an option to handle this instead?"
#### Description
I am not sure if it's intended for MultiLabelBinarizer to fit and transform only seen data or not.

However, there are many times that it is not possible/not in our interest to know all of the classes that we're fitting at training time.
For convenience, I am wondering if there should be another parameter that allows us to ignore the unseen classes by just setting them to 0?

####

[2018-01-06 02:54] mf908 opened #10411 "TfidfVectorizer dtype argument ignored"
-->

#### Description
TfidfVectorizer's fit/fit_transform output is always np.float64 instead of the specified dtype

#### Steps/Code to Reproduce
from sklearn.feature_extraction.text import TfidfVectorizer
test = TfidfVectorizer(dtype=np.float32)
print(test.fit_transform(["Help I have a bug"]).dtype)

#### Expected Results
dtype('float32')

#### Actual Results
dtype('float64')

#### Versions
Darw

[2018-01-06 08:04] renewang commented on #10411
Hi, I found the same problem as yours. The cause looks like that TfidfVectorizer uses TfidfTransformer underhood (as  _tfidf instance attribute). And when TfidfTransformer tries to fit the training data, it basically does nothing to adhere to what dtype argument specified. It just uses the system default dtype when converting from python int or float. The default dtype on  x64 platform is int64 an

[2018-01-06 10:33] jnothman commented on #10404
I don't think this all needs to be done in one shot. But no warning: this
is a feature.

[2018-01-06 14:22] rth commented on #10411
Thanks for reporting this issue. Yes, it is related to https://github.com/scikit-learn/scikit-learn/issues/8044 and the fact that `TfidfTransformer` does not preserve dtype. A minimal code sample to reproduce could be,
[code]
which yields `float32 float64`.

A Pull Request to fix it would be wecome. I think, one could, add similarly validation in `TfidfTranformer.fit` to the [one in `StandardScale

[2018-01-06 16:08] lx1054331851 opened #10413 "windows 10 python3.6 script import sklearn error"
### My environment is windows 10, anaconda 3, python 3.6.3
### it seems i have install the scikit-learn correctly, but when i run the python script, it went wrong! Below is my script code :
[code]
#### when i run the script, error happened:
[code]

#### but when i type the code line by line in the cmd, the code work fine:
![image](https://user-images.githubusercontent.com/12423206/34641389-80a8f3e

[2018-01-06 16:08] maykulkarni commented on #10411
Thanks for posting. I'd like to take it up

[2018-01-06 16:15] maykulkarni commented on #10413
I see that you're using PyCharm. Make sure PyCharm is set to use the correct interpreter, in your case which is Python 3.6. You can do this using Settings-> Project <your project name> -> Project interpreter then select Python 3.6

[2018-01-06 20:47] jnothman commented on #10408
Thoughts @kmike??

On 6 January 2018 at 03:23, Arthur Le Guennec <notifications@github.com>
wrote:

[2018-01-06 20:48] jnothman commented on #10410
Yes, I suppose such a setting would be useful.

On 6 January 2018 at 06:13, Ploy Temiyasathit <notifications@github.com>
wrote:

[2018-01-06 20:50] #9889 closed

[2018-01-06 22:41] jnothman commented on #10413
Thus is a usage question. Closing

[2018-01-06 22:41] #10413 closed

[2018-01-07 05:24] lx1054331851 commented on #10413
##### It has nothing to do with Pycharm, I just copy the error info from pycharm, I run the script file through cmd, the error still occurred. I found that I can not run script file no matter on windows or Ubuntu, I can just run code line by line in the terminal

[2018-01-07 06:28] jnothman commented on #10413
check your sys.path

On 7 January 2018 at 16:24, lee <notifications@github.com> wrote:

[2018-01-07 09:20] amanp10 commented on #9098
I would like to work on it, will start immediately.

[2018-01-07 22:03] #10396 closed

[2018-01-07 22:07] hehaijin commented on #10410
Can I take this?

[2018-01-07 22:30] jnothman commented on #9726
The MissingnessIndicator (#8075) should also live in this module, which may help users.

[2018-01-07 22:31] jnothman commented on #9726
I'd like another opinion, but I think this should happen. Make sklearn.impute and move Imputer and all the open imputation-related PRs to this module.

[2018-01-07 22:37] jnothman commented on #10410
The original poster stated they would like to submit a PR, so let's wait.

[2018-01-08 01:23] lx1054331851 commented on #10413
#### thanks for your advice @jnothman , I checked the sys.path, I even added the sklearn to the PYTHONPATH, as below:
![image](https://user-images.githubusercontent.com/12423206/34656449-809ab6d2-f455-11e7-971e-7503fc4bf4cd.png)

#### I even uninstall and reinstall the latest Anaconda, but the problem still exists: import sklearn successfully when run the code statement line by line, but can not r

[2018-01-08 02:02] jnothman commented on #10413
Worry, we're simply not able to provide this kind of support here. Try on
Gitter, or find Python expertise elsewhere.

On 8 January 2018 at 12:23, lee <notifications@github.com> wrote:

[2018-01-08 02:38] jnothman opened #10415 "RFC: referring to Glossary to make parameter descriptions more focussed"
I would like us to refer to the Glossary in API reference for parameter descriptions that come up frequently, or which have associated caveats that are too long for parameter descriptions, most notably `n_jobs` and `random_state`.

So instead of something like:
[code]
in both KMeans and MiniBatchKMeans, we might have:
[code]

One question is how much verbosity we should have in describing how the

[2018-01-08 03:06] jnothman opened #10416 "check global random state is never required with lgtm.com"
We should have lgtm.com alerts for cases where we might be using global random state, leading to non-determinism:

* alert if a callable which takes `random_state` is called and `random_state` is not passed
* alert if np.random.something-other-than-RandomState is called
* alert if random.something-other-than-Random is called

(Note this will not check whether the C random number generator is used.

[2018-01-08 03:11] jnothman commented on #10416
I think I have the first case written up here: https://lgtm.com/query/1505951606635/

[2018-01-08 03:15] jnothman opened #10417 "lgtm.com alerts should not come from my account"
lgtm.com required a member of the organisation, I think, to be the account producing pull request alert comments. Is it fine if we make @sklearn-ci a member of the org and have it produce the comments?

[2018-01-08 03:24] jnothman commented on #10416
Hmm... This may be a tricky. At least for the first query, there are lots of false positives, related to the fact that randomness is not used every time `random_state` is available. For example, `linear_model.base.make_dataset` accepts a random_state, but it is only used in the method `.random`

[2018-01-08 03:26] jnothman commented on #10416
Should probably limit that query to the case where the default value of the random_state param is None.

[2018-01-08 03:28] jnothman commented on #10416
All current query results are unconcerning as far as I can see.

[2018-01-08 04:41] jnothman opened #10418 "_fetch_brute_kddcup99 has unused random_state parameter"
It can and should be removed.

[2018-01-08 05:14] pntemi commented on #10410
OK. I'm taking this then.

[2018-01-08 07:20] jnothman commented on #9174
Okay.

[2018-01-08 07:35] jnothman commented on #9174
This messes with a lot. The current behaviour is clearly problematic. I think we should:
* have a common test (or if it exists, make sure some OvO classifiers are tested) to ensure that prediction of a sub-sample is identical to prediction of a whole sample
* determine the scale used in `_ovr_decision_function` from the entire training set or a sample. But I'm not sure whether we then need to clip

[2018-01-08 07:44] jnothman opened #10420 "Add common test to ensure all(predict(X[mask]) == predict(X)[mask])"
I don't think we currently test that estimator predictions/transformations are invariant whether performed in batch or on subsets of a dataset. For some fitted estimator `est`, data `X` and any boolean mask `mask` of length `X.shape[0]`, we need:

[code]
where `method` is any of {`predict`, `predict_proba`, `decision_function`, `score_samples`, `transform`}. Testing that predictions for individual

[2018-01-08 08:19] Johayon commented on #10420
Hi, could I take this issue ?

[2018-01-08 08:33] jnothman commented on #10420
sure, it seems right up your alley. thanks!

[2018-01-08 09:16] #10418 closed

[2018-01-08 12:32] pinakinathc commented on #10404
@jnothman i was studying this issue and what i understood is:
Methods like **QuantileTransformer** will be capable of processing the input data (**X** as in examples) even when there are NaN. All these NaNs would be replaced by using methods like **Imputer**.

In other words: pass the input **X** to **Impute** with default strategy say mean and then run **QuantileTransform**

Right?

[2018-01-08 12:41] jnothman commented on #10404
Not at all.

Take StandardScaler as an example. This currently determines the offset and scale by getting the mean and std for each column. Under the proposed change, it would calculate them by the [nanmean](https://docs.scipy.org/doc/numpy-dev/reference/generated/numpy.nanmean.html) and [nanstd](https://docs.scipy.org/doc/numpy-dev/reference/generated/numpy.nanstd.html). In transforming new data,

[2018-01-08 12:43] jnothman commented on #10404
Thus one could perform a quantile transform before a mean imputation... or MICE imputation which assumes the features have a gaussian distribution (in our proposed implementation #8478) and hence would be appropriate after a PowerTransformer or a QuantileTransformer with normal output.

[2018-01-08 13:01] lesteve commented on #10417
If doable, I'd rather follow the same implicit conventions that we follow for other CI checks (codecov for example):
* disable bots comment in the issue (they tend to be on the noisy side for a number of people including myself)
* use CI status to indicate problems

[2018-01-08 13:14] chris-hld opened #10422 "Unable to perform complex PCA due to data type cast"
#### Description

`pca._fit()` casts input arrays to float types.
[code]
This forbids PCAs on complex input data, although possible with [scipy.linalg.svd](https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.svd.html)

#### Steps/Code to Reproduce

[code]

#### Expected Results

True
#### Actual Results

False
#### Versions

Linux-4.10.0-42-generic-x86_64-with-debian-stretch-sid
Pyth

[2018-01-08 13:15] jnothman commented on #10417
I don't think there's a way to do that with lgtm. They don't currently give a x if new alerts are found... which I suppose you might say is their problem and we should petition them to change it.

[2018-01-08 13:15] jnothman commented on #10417
I think they assume that the rate of false positives means they can't afford to give x's

[2018-01-08 13:41] rth commented on #10422
See https://github.com/scikit-learn/scikit-learn/issues/3865 and https://github.com/scikit-learn/scikit-learn/pull/3354

As support for complex dtype is out of scope in scikit-learn I don't think that the above PR will be accepted, unfortunately. Sorry. You can indeed use `scipy.linalg.svd` if you need to work with complex numbers.

[2018-01-08 13:41] #10422 closed

[2018-01-08 14:53] volj1 opened #10424 "StratifiedShuffleSplit can't check multilabel data correctly"
StratifiedShuffleSplit.split generates an error "_The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2_" not when the label (column in a multilabel array) is unique, but when the multilabel combination (row in a multilabel array) is unique. Which is obviously wrong.

Steps/Code to Reproduce:
[code]

Windows-10-10.0.162