[2020-09-04 16:01] alfaro96 commented on #15551
If there is any interest on working in this PR, I would be happy to implement the π*MDLP* algorithm](https://www.ijcai.org/Proceedings/93-2/Papers/022.pdf).

[2020-09-04 19:30] cmarmo commented on #10993
As @sinanh noticed in this [comment](https://github.com/scikit-learn/scikit-learn/pull/11070#issuecomment-687333039), `np.matrix` use is not recommended: should be this issue be closed? @glemaitre, @jnothman? Thanks.

[2020-09-04 19:51] lisamartin72 opened #18345 "NumFOCUS Donation Link"
Hi there,

I am attaching the URL and the code for your project's NumFOCUS donation button. Most of our sponsored projects have a button on their GitHub page and on their website. Please reach out if you have any questions.

Have a great day!

Best,

Lisa Martin
NumFOCUS Finance

https://numfocus.salsalabs.org/supportscikitlearn

[code]

[2020-09-04 20:18] TomDLT commented on #18345
Thanks for the update.

Can you confirm there is no difference between https://numfocus.org/donate-to-scikit-learn and https://numfocus.salsalabs.org/supportscikitlearn ?
I would rather use the numfocus.org link.

[2020-09-04 21:22] KrisKusano opened #18347 "Use of class_weight dictionary in LogisticRegression modifies sample_weight object"
#### Describe the bug
When a dictionary is supplied to keyword argument `class_weight` with unequal weights and `sample_weight` is specified, the sample weight object is modified.

#### Steps/Code to Reproduce
[code]

Produces results:
[code]

#### Expected Results
Weight object (`W`) should be the unaltered after `LogisticRegression.fit` call.

The expected result can be achieved by deep copying

[2020-09-05 08:52] rth commented on #18345
+1. The other link makes it look line the donation is made to salsalabs.org, and their root website (http://salsalabs.org) returns  an Apache test page (while the www version https://www.salsalabs.org is another mostly empty page). There is also no links to ether scikit-learn or numfocus from this page. This does not inspire confidence for a potential person wanting to donate.

[2020-09-05 09:45] madprogramer commented on #5516
Is this still an issue, or is the updated more verbose output for confusion_matrix'es satisfactory now? If so could someone please close this issue?

[2020-09-05 10:11] madprogramer commented on #15761
Hey, thought I'd see if I could help with the docs.

@alfaro96 I noticed that although `sklearn.model_selection.learning_curve` was updated, [there's an out-of-date tutorial using the old documentation](https://scikit-learn.org/stable/auto_examples/model_selection/plot_learning_curve.html), should I leave it be? Or is it worth updating?

[2020-09-05 11:09] jnothman commented on #18339
Thanks for the report @andyorange. I'm struggling to understand the issue. Could you please post code that demonstrated the issue? Thanks

[2020-09-05 13:49] haiatn commented on #15761
Hi,
I would like to try and help. Could I work on `sklearn.config_context` and  `sklearn.set_config`?
@alfaro96

[2020-09-05 18:46] glemaitre commented on #18340
The documentation states the following:

[code]

I can see that `validation_target_small` contains only 2 classes while `validation_target` contains 9 classes so the output of the report will be different due to this difference.

[2020-09-05 18:46] #18340 closed

[2020-09-05 18:49] glemaitre commented on #18347
Whoops. We should have a `check_array` that should make a copy if we are going to modify the weights.
@KrisKusano Thanks for the report

[2020-09-05 23:14] kenxben commented on #11647
Hello,

Anyone knows if there is already an implementation for mob() in python?

[2020-09-06 03:38] john22472417 opened #18349 "ValueError: Distance matrix 'X' diagonal must be zero."
Here is the code.
I want use the similarity matrix to draw a dendrogram.
get the error: ValueError: Distance matrix 'X' diagonal must be zero.
how to solve this problem, thanks.
______________________________________________
import numpy as np

from scipy.cluster.hierarchy import dendrogram, linkage
from scipy.spatial.distance import squareform

import matplotlib.pyplot as plt

mat = np.array([[1.

[2020-09-06 07:01] apacha commented on #18340
Wow, I'm seriously surprised by how little attention you paid to the content of this issue, so I'm trying to explain the problem again. Please read this carefully and consider re-opening it, or I'll have to report it again as a new issue.

**TLDR: I'm expecting to get the `micro_average` dictionary in both reports, but instead I'm getting a single float value `accuracy` in `report2` (for the large

[2020-09-06 07:09] apacha commented on #18340
I see. If I provide input data that has all classes present, it simply returns accuracy, whereas if classes are missing, it reports the micro average. I understand this behavior now, however, I would still propose to change this behavior. If I'm expecting a dictionary of dictionaries as output but all of a sudden I'm getting a float, my program will crash (and it did multiple times until I debugge

[2020-09-06 07:23] glemaitre commented on #18340
I think this is actually not that bad. The crash would be because your problem change from binary to multi-class and if it silently work while there is something wrong going on, this could be actually much worse.

I think the decision was made to avoid potential confusion: https://github.com/scikit-learn/scikit-learn/issues/12334

We could always improve the documentation making the note a bit mor

[2020-09-06 07:29] macgok opened #18350 "Negative label value in silhouette_score function"
An additional point is needed in the documentation for the **silhouette coefficient score** (Function: _sklearn.metrics.silhouette_score_, Documentation Page: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.silhouette_score.html).

One of the input parameters to the silhouette coefficient is the clustering labels (second parameter "labels"). In the output of the **DBSCAN** algori

[2020-09-06 07:32] glemaitre commented on #18340
Downloading data (we usually avoid to do that), running the code, and identifying the reason for the change of behaviour does look that I overlooked the issue :) My apology if you felt that way.

[2020-09-06 08:37] agramfort commented on #18338
what cv objects should guarantee is that order does not change every time you call split. I am more wondering why you have no shuffle and random_state parameters in GroupKFold to match the KFold API.

unless the need you report is quite common I would write my own code / private function/object to do what you suggest

[2020-09-06 08:45] alfaro96 commented on #15761
Hey @madprogramer,

I have had a look to the [checklist](#15761 (comment)) and [`sklearn.feature_extraction.text.CountVectorizer` reference](https://scikit-learn.org/dev/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html) and it does not seem to be fixed. A PR would be welcome.

It is worth it updating, although this should be done in a separate PR.

Thank you!

[2020-09-06 08:54] alfaro96 commented on #15761
Hey @haiatn,

I have updated the [checklist](https://github.com/scikit-learn/scikit-learn/issues/15761#issuecomment-639461778).

That is the idea, although the classes in the `sklearn.utils._mocking.py` file are not part of the public API, so I do not think that it is worthy to update them.

Nevertheless, it would be nice if you could work in any of the other functions, classes and modules that ar

[2020-09-06 11:56] haiatn commented on #15761
I looked at the checklist. From what I saw the following can be checked from the checklist:

- `sklearn.feature_extraction.image.img_to_graph`
- `sklearn.isotonic.IsotonicRegression`
- `sklearn.isotonic.check_increasing`
- I did not find the file `sklearn.ensemble.HistGradientBoostingRegressor` but all of `sklearn.ensemble` is OK

Can I work on `sklearn.manifold._spectral_embedding` and `sklearn.f

[2020-09-06 12:14] apacha commented on #18340
Apologies for the first message. I deleted it after I realized my error.

[2020-09-06 12:38] yashshah1 opened #18352 "Adding TPR and FPR as a metric in sklearn"
#### Describe the workflow you want to enable
`sklearn.metrics` currently has a lot of high level functionalities out of the box, but doesn't have inbuilt support for quickly calculating the FPR and TPR given `y_true` and `y_pred`

#### Describe your proposed solution

#### Describe alternatives you've considered, if relevant

#### Additional context

[2020-09-06 13:39] sacdallago opened #18353 "Segmentation fault on pairwise_distances with n_jobs=-1"
#### Describe the bug
Calculating pairwise distances fails when job is executed in multi-thread setting. Tested only with `n_jobs` -1 (unsuccesful) and 1 (succesful).

Hardware doesn't seem to be an issue, since the single-thread execution worked. Out of context, we are talking about a very capable machine (40 core Xeon, 380GB DDR4 RAM, 4TB SSD storage).

#### Steps/Code to Reproduce
[code]

havin

[2020-09-06 15:31] fghoussen opened #18354 "Handling data and target scaling with both Pipeline and TransformedTargetRegressor on nested regressors"
I'd like to use both Pipeline and TransformedTargetRegressor to handle all the scaling (on data and target) on BaggingRegressor and all of its estimators.

Detailed problem here : https://stackoverflow.com/questions/63687324/handling-data-and-target-scaling-with-both-pipeline-and-transformedtargetregress

Any clue ?

Franck

[2020-09-06 17:38] boricles commented on #18352
Hi, I am new, and I think I can take this.

Basically
- we need to add two more functions to _classification.py, to include TPR and FPR ones
- we need to include documentation
- we need to include tests for those new functions
For binary / multiclass classification

am I right?

[2020-09-06 22:06] eddieod88 commented on #8632
Also struggling with the same thing. Any updates on this issue?

[2020-09-07 02:30] DachuanZhao opened #18355 "Why doesn't ```sklearn.preprocessing.LabelBinarizer``` return two dim array when category n = 2 ?"
The same [https://stackoverflow.com/questions/55359235/one-hot-encoding-using-sklearn-preprocessing-label-binarizer](https://stackoverflow.com/questions/55359235/one-hot-encoding-using-sklearn-preprocessing-label-binarizer)

[2020-09-07 04:51] yashshah1 commented on #18352
@boricles if accepted as a feature by the maintainers, I was hoping to work on these.

[2020-09-07 06:03] glemaitre commented on #18352
fpr and tpr are returned by the `roc_curve` metrics: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_curve.html

[2020-09-07 06:03] #18352 closed

[2020-09-07 06:06] glemaitre commented on #18354
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2020-09-07 06:06] #18354 closed

[2020-09-07 06:32] andyorange commented on #18339
HI again,
what I basically mean is, that the documentation should make clear that values targeted by the 'missing_values' option are not included when for instance computing the mean in contrast to pandas. Check the following code

import pandas as pd
import numpy as np
from DataPrep.FwSKLearn.ImputerSKLearn import *
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 3], [7, 3, 9]]), columns=['a', 'b',

[2020-09-07 06:40] glemaitre commented on #18354
I posted an answer on SO

[2020-09-07 06:58] alfaro96 commented on #15761
Thank you @haiatn, I have updated the checklist.

The sklearn.ensemble.HistGradientBoostingClassifier` and sklearn.ensemble.HistGradientBoostingRegressor` are in this file: `scikit-learn/sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py`. However, they have been already fixed.

I have had a look to the `sklearn.manifold` module and `sklearn.feature_extraction.text.HashingVectorizer ` a

[2020-09-07 07:53] glemaitre commented on #18349
There is not scikit-learn code here.

[2020-09-07 07:53] #18349 closed

[2020-09-07 07:57] glemaitre commented on #18355
Because this is not useful for the target (denoted `y` in the documentation). When you want to one-hot encode then you are using the `OneHotEncoder` which will create 2 columns by default but can also drop one of them using `drop='if_binary'`

[2020-09-07 07:57] #18355 closed

[2020-09-07 08:28] #18339 closed

[2020-09-07 08:49] #18157 closed

[2020-09-07 08:50] rth commented on #18353
Could you please run your script with https://docs.python.org/3/library/faulthandler.html and provide the resulting traceback?

[2020-09-07 08:52] glemaitre commented on #5516
No this is still an opened issue. I see that we did not got any bandwidth to review https://github.com/scikit-learn/scikit-learn/pull/17265

[2020-09-07 11:24] #13916 closed

[2020-09-07 14:05] glemaitre commented on #14054
I was looking at this issue. I find it weird that `epsilon_` is redefined at each call to `partial_fit`.
Somehow, it would make sense to update it taking into account the emperical variance of samples instead of of just considering the batch in `partial_fit`.

[2020-09-07 14:47] cmarmo commented on #5685
There is a bunch of numpy DeprecationWarning in the test suite (see for example the [build of this fake PR](https://dev.azure.com/marmochiaskl/scikit-learn/_build/results?buildId=725&view=logs&j=13650d7c-49e8-54f3-0598-c3480d1c1e4f&t=97f2162d-a0c4-54dc-9fce-2fceef7172e3))
[code]
Are those warning worth to fix? If yes I will make a checklist and open a new issue for them. @rth? Thanks.

[2020-09-07 14:58] NicolasHug commented on #14306
Going back to https://github.com/scikit-learn/scikit-learn/issues/14306#issuecomment-555256016, from https://github.com/microsoft/LightGBM/issues/2791#issuecomment-688258910: like XGBoost, LightGBM 3.0 has also implemented sample-wise parallelism to build histograms, instead of feature-wise parallelism. This seems to be preferable for small numbers of threads and features.

[2020-09-07 14:59] ogrisel commented on #18307
I believe we should go through a deprecation cycle (and update the docstring accordingly) to make it consistent with the others. I see no reason why Brier score would be special.

[2020-09-07 15:01] jnothman commented on #18353
Please specify the metric

[2020-09-07 15:08] jnothman commented on #18340
I don't see what option we have other than to flatten the results, or not
return accuracy. I don't think that's a great idea either.

[2020-09-07 16:20] boricles commented on #11339
Hi, I am new here. is there someone working on this? ... I can give a try and take this one for the weekend?

[2020-09-07 16:25] senpaiislearning opened #18357 "cross_val_predict only works for partitions"
I'm currently using sklearn **0.22** and am running into this error here. I actually did not expect this because this works smoothly with `cross_val_score`... Is there a troubleshoot for this?

[code]

[2020-09-07 19:32] NicolasHug commented on #18357
what exactly are you trying to do?

`cross_val_predict` takes `X` as input and will return an array of predictions `preds` where each entry in `preds` corresponds to a sample in `X`. That's why  the `cv` must properly partition the samples `X`, i.e. each sample should appear in exactly one test set.  Your `CV_folds` list does not respect that.

[2020-09-07 20:19] fghoussen commented on #18354
@glemaitre : thanks !

[2020-09-07 21:11] jnothman commented on #18338
GroupKFold is a deterministic packing algorithm. It's not possible to shuffle except among groups of equal size, and to shuffle samples within groups. This has surprised several users. We should either enhance the documentation, or add an option to shuffle in whichever ways possible, and then explicitly document the limitations.

[2020-09-08 07:00] agramfort commented on #18338
ok got it makes sense.

@lorentzenchr for your use in linear models I would suggest you try: LeaveOneGroupOut

I think it does what you want here.

[2020-09-08 08:16] glemaitre commented on #18307
I would like https://github.com/scikit-learn/scikit-learn/pull/18183 to get in before to make the proper PR.

[2020-09-08 08:45] sacdallago commented on #18353
Hey both!

Thanks for the quick reply.

I'll try to get @rth 's suggestion up and running soon!

@jnothman the metric was `euclidean`

[2020-09-08 13:42] ogrisel commented on #5685
Yes that would be great to fix those warnings but I have not looked in details.

[2020-09-08 13:43] glemaitre commented on #18159
BaseEstimator

I recall that @jnothman did not like to use `has_fit_parameter` for `sample_weight`: https://github.com/scikit-learn/scikit-learn/pull/9041#discussion_r121811902
@jnothman do you have other arguments?

[2020-09-09 01:29] bmreiniger opened #18364 "RidgeCV cv_values_ documentation when scoring is not None"
`RidgeCV` (and `RidgeClassifierCV`) documentation for `cv_values_` (emphasis added):

shape (n_samples, n_targets, n_alphas), optional

``store_cv_values=True`` and ``cv=None``). After ``fit()`` has been
called, this attribute will contain the mean squared errors
(by default) or **the values of the ``{loss,score}_func`` function
(if provided in the constructor).**

But when `scoring` is not `None`

[2020-09-09 06:39] bhatiak2050 commented on #6251
I used mse_path_ instead of cv_mse_path_ and it worked

[2020-09-09 07:03] tadorfer opened #18365 "Correlation-based feature selection"
#### Describe the workflow you want to enable

The following is a proposal for an additional feature_selection method. I would like to propose a simple feature selection function that removes highly correlated feature columns using the Pearson product-moment correlation coefficients. The threshold that needs to be exceeded can be specified by the user.

#### Describe your proposed solution

Below

[2020-09-09 07:21] aishwarya-agrawal opened #18366 "Pass trained estimator model to underlying estimators in OneVsRestClassifier"
#### Describe the bug
Hi, I need to pass trained onevsrestclassifier models to another onevsrestclassifier model, to implement incremental training. This I doing with xgboost estimator. Since XGBoost do not support partial_fit this seems like a way, but I am not sure how to implement it.

[2020-09-09 07:28] alfaro96 commented on #18365
Thank you @tadorfer for opening this issue. We are having a similar issue here: https://github.com/scikit-learn/scikit-learn/issues/13405. Therefore, I will close this one as a duplicate.

[2020-09-09 07:28] #18365 closed

[2020-09-09 07:34] tadorfer commented on #13405
Here is a proposed function for removing highly correlated features:

[code]

What do you all think?

[2020-09-09 09:25] cmarmo opened #18367 "BLD numpy VisibleDeprecationWarning in test suite"
See #5685.
Currently the test suite is producing a bunch of numpy `VisibleDeprecationWarning`.
Here a checklist

- [ ] test_raise_value_error_multilabel_sequences:
- [ ] test__check_targets
- [ ] test_multilabel_binarizer_non_integer_labels
- [ ] test_unique_labels_non_specific
- [ ] test_is_multilabel
- [ ] test_check_classification_targets
- [ ] test_type_of_target

The command to reproduce them

[2020-09-09 09:37] LarsHanegraaf commented on #8043
I'm currently working on this time series problem as well. I want to use GridSearchCV to find the optimal parameters and have created the train and test indices myself (as I want to do [walk forward validation](https://robjhyndman.com/hyndsight/tscv/) and the current implementation of TimeSeriesSplit does not provide this). This approach gives me the score of my estimator, however I want to inspec

[2020-09-09 12:15] NicolasHug commented on #18357
Closing, feel free to reopen if needed

[2020-09-09 12:15] #18357 closed

[2020-09-09 15:12] #12538 closed

[2020-09-09 15:53] thomasjpfan commented on #13405
The current issue is not the implementation, but if this feature should be included in scikit-learn at all. This is summarized here: https://github.com/scikit-learn/scikit-learn/pull/14698#issuecomment-590006773

[2020-09-09 16:15] ogrisel commented on #16055
Yes I agree. Would you be interested in contributing a PR? Note that for multiclass problems, the user should not have to pass a `pos_label` param, even we have string labels.

Related to #18183 and that might also impact what we are doing in #18114.

[2020-09-09 19:10] ColinConwell opened #18369 "Add positive / nonnegative constraint to RidgeCV (or gcv_mode to ElasticNetCV)"
The generalized cross-validation feature of RidgeCV is phenomenal. Would it be possible to enforce nonnegative constraints in this function?

(Similarly, a gcv_mode for ElasticNetCV would effectively offer the same functionality I'm looking for, though I'm not sure whether elastic net optimization allows for this.)

[2020-09-09 20:25] lorentzenchr commented on #18338
@agramfort `LeaveOneGroupOut` does indeed preserve the order of the groups if samples are added as in the code snippet above.

I wonder if that is by chance or behaviour that can be relied upon.

[2020-09-09 20:46] agramfort commented on #18338
Read the code to check

[2020-09-09 20:56] lorentzenchr commented on #18338
Of course, it is not by chance (`LeaveOneGroupOut._iter_test_masks` as compared to `GroupKFold._iter_test_indices`). But it is also not mentioned in the docs. So my question should have better been: Is it something that we want to guarantee and mention in the documentation or not?

[2020-09-10 01:49] kylegilde commented on #12525
FYI, I wrote some code and blog about how to extract the feature names from complex Pipelines & ColumnTransformers: https://towardsdatascience.com/extracting-plotting-feature-names-importance-from-scikit-learn-pipelines-eb5bfa6a31f4

[2020-09-10 02:59] Trevor-Waite commented on #18364
take

Documentation is definitely incorrect. I can update docs unless we would like to update with actual scoring function scores.

[2020-09-10 08:49] agramfort commented on #18338
+1 to say this in the documentation and ensure that we have test
that would break otherwise

[2020-09-10 09:45] amitness commented on #17657
@adrinjalali Was the fix of returning the cluster labels integrated? I'm facing the same issue.

[2020-09-10 10:30] lucyleeow commented on #15880
Could we add the blocker label here? It seems that it is preventing progress on #18020 and #17443 (cc @cmarmo)

[2020-09-10 11:23] sqbl opened #18371 "Risk of divide by zero in GPR"
#### Describe the bug

When fitting a GPR with y-values having std=0 (and normalize=True), an error occurs. The error relates to dividing by 0 in sklearn/gaussian_processes/_gpr.py: https://github.com/scikit-learn/scikit-learn/blob/fd1ff73c64816159f08fb4cbb322c6050b03a3ac/sklearn/gaussian_process/_gpr.py#L201

#### Steps/Code to Reproduce

[code]

#### Expected Results

Either the regressor could

[2020-09-10 11:47] NicolasHug commented on #15880
The blocker label is for release blockers (things that absolutely need to be fixed before a release), not for PR blockers

[2020-09-10 11:49] lucyleeow commented on #15880
Ahh good to know.

[2020-09-10 14:14] #16812 closed

[2020-09-10 16:29] adrinjalali commented on #17657
I don't see a related PR, so I think not yet @amitness

[2020-09-10 17:14] sqbl commented on #18371
This seems almost related to scikit-learn/scikit-learn#18300, where normalize_y=True is problematic for multidimensional fitting.

[2020-09-10 22:34] esvhd opened #18372 "ColumnTransformer does not respect OrdinalEncoder dtype with remainder='passthrough'"
#### Describe the bug

When using `OrdinalEncode` with a specified `dtype` in a `ColumnTransformer`, with `remainder='passthrough'`, the desired `dtype` is lost if other dtype exists in input frame.

This causes problem for some models such as `LightGBM` which only uses `int32` to represent categorical variables. Passing `float` or `int64` would cause an error.

#### Steps/Code to Reproduce

[code

[2020-09-10 22:50] OlehKSS commented on #18367
Hi, is anyone working on this issue? I have checked *test_multiclass.py*, which contains tests for:

* test_type_of_target
* test_is_multilabel
* test_unique_labels_non_specific
* test_check_classification_targets

The warnings are raised in *multiclass.py* by `np.asarray`, on lines 141 and 253, due to the fact that the input parameter `y` is a ragged nested sequence, e.g. `y = [np.array([]), np.a

[2020-09-11 01:24] tluocs opened #18373 "GridSearchCV.fit(...,n_job=-1) might contain bug in parallelism"
#### Describe the bug
Calling `GridSearchCV.fit()` with `n_jobs=-1` raises exception '**OSError: [Errno 22] Invalid argument**'.
Calling `GridSearchCV.fit()` with `n_jobs=None` works perfectly

In the case of `n_jobs=None`, the output shows that it resolves n_jobs=1 (although in my other programs, any successful run of GridSearchCV will resolve n_jobs=6 on the same machine, this may not be a big i

[2020-09-11 06:04] Mickey-Guo opened #18374 "Why would here require `At least one label specified must be in y_true`"
https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f871d60370/sklearn/metrics/_classification.py#L290

In the old version of sklearn (for example, 0.16.1), this function does not require this. But the new version add this requirement. What happens if we remove this `if` clause. Could the matrix computed correctly?

[2020-09-11 06:38] cmarmo commented on #18367
Hi @OlehKSS , no pull requests are linked here for now, so feel free to work on it. Thanks!

[2020-09-11 08:54] OlehKSS commented on #18367
Take

[2020-09-11 10:15] cmarmo commented on #15368
Hi @FilFilias , thanks for reaching out. You received some suggestions and the issue is quite hard to investigate without a [self-contained example code](https://stackoverflow.com/help/mcve), including data.
I'm closing this one. Feel free to open an update version if you still consider this is an issue with scikit-learn implementation.

[2020-09-11 10:15] #15368 closed

[2020-09-11 10:18] cmarmo commented on #15895
@atarashansky, you're asking a general question. For general discussions feel free to join the community on [the scikit-learn mailing list](https://mail.python.org/mailman/listinfo/scikit-learn).

[2020-09-11 10:18] #15895 closed

[2020-09-11 10:25] cmarmo commented on #16731
Thanks @Luma12 for reaching out.
[code]
means that you are trying to use as a float the string 'USA', this is probably an issue in the [preprocessing](https://scikit-learn.org/stable/modules/preprocessing.html#preprocessing-data) of your data. I'm closing this issue, feel free to join [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the scikit-learn mailing list](https

[2020-09-11 10:25] #16731 closed

[2020-09-11 10:36] cmarmo commented on #17082
Hi @Luma12 you can also check [this link](https://stackoverflow.com/help/mcve) for directions on how to build a self-contained example code. Anyway, you will probably have more luck in asking for help on [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the scikit-learn mailing list](https://mail.python.org/mailman/listinfo/scikit-learn). The issue tracker is mainly for

[2020-09-11 10:36] #17082 closed

[2020-09-11 10:53] cmarmo commented on #17200
Thanks @jieliang for reaching out. It seems to me that all your questions have received attention. I'm closing this issue. Feel free to keep in touch with the community on [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the scikit-learn mailing list](https://mail.python.org/mailman/listinfo/scikit-learn) for new questions. Thanks.

[2020-09-11 10:53] #17200 closed

[2020-09-11 12:47] rth commented on #18268
Yes, it would be quite useful to add it.

Since it reuses most of the code for calibration_curve, we can put all that code in a private function and use it both in `calibration_curve` and `expected_calibration_error`. That should avoid the concerns you mentioned.

[2020-09-11 13:05] haiatn commented on #15761
I will now work on `sklearn.utils._estimator_html_repr`, `sklearn.utils.deprecation` and `sklearn.utils._testing`

[2020-09-11 13:13] cmarmo commented on #794
take

[2020-09-11 14:16] ptyshevs commented on #11366
From my experience, increasing the number of features is the most likely reason for regular user to get this error.

[2020-09-11 14:25] marenwestermann commented on #14312
The attributes `classes_` and `n_classes_` for ExtraTreeRegressor are false positives.

[2020-09-11 15:04] thomasjpfan commented on #18374
This was added in the PR: https://github.com/scikit-learn/scikit-learn/pull/6958 to validate `labels`. This validation was added to fix this issue: https://github.com/scikit-learn/scikit-learn/issues/6952

[2020-09-11 15:04] #18374 closed

[2020-09-11 16:07] thomasjpfan commented on #14312
Going from here, will these two attributes also be deprecated in the class NuSVR?

Since we are deprecating them I would say we would not need document them.

Yup those should be deprecated then removed if they are not already.

[2020-09-11 16:29] RA226 opened #18378 "Time.py IFFT used instead of FFT for time to frequency transform"
Hi,
I have been using sckit-rf to successfully time gate calibrated data from a quasi-optic system (50-750GHz).

I noticed today on line 266 of Time.py:

  265       #IFFT the gate, so we have it's frequency response, aka kernel
  266      kernel=fft.fftshift(fft.ifft(fft.ifftshift(gate, axes=0), axis=0))
 267       kernel =abs(kernel).flatten() # take mag and flatten
 268       kernel=kernel/sum(

[2020-09-11 16:35] cmarmo commented on #18378
Hi @RA226 I guess [scikit-rf](https://github.com/scikit-rf/scikit-rf) was meant to be the recipient. :)

[2020-09-11 16:35] #18378 closed

[2020-09-11 16:42] RA226 commented on #18378
Hi cmarmo,
My apologies I will repost in the right place
RA226

[2020-09-11 17:45] thomasjpfan opened #18381 "Should brier_score_loss infer `pos_label` to the greater label?"
REF: https://github.com/scikit-learn/scikit-learn/pull/18183/files#r472079672

[2020-09-11 20:25] mu745511 commented on #3148
they aint gonna listen its 2020 and still we dont have a proper qunatile regression package

[2020-09-12 08:46] Merudo opened #18384 "please delet"

[2020-09-12 08:47] #18384 closed

[2020-09-12 23:49] boricles commented on #18318
After a small dig in, I will take this.

[2020-09-13 07:56] albertvillanova opened #18389 "Function check_cv is not in the User Guide"
#### Describe the issue linked to the documentation

The function `model_selection.check_cv` is a public function but does not appear in the User Guide.

#### Suggest a potential alternative/fix

It should be either documented in the User Guide or removed as a public function.

[2020-09-13 14:37] lorentzenchr commented on #16802
Interesting discussion so far. In my (incomplete and not unbiased) point of view there are several different layers to consider:
1. Inference, inspection, prediction: What is your use case?
   1. p-values and confidence intervals (CI): If my goal is to test a typical hypothesis, "feature x has no effect on the target y", then I'm better of with statsmodels as it is build, among other things, for s

[2020-09-13 16:13] Bharat8219-git commented on #10866
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    h

[2020-09-13 16:14] Bharat8219-git commented on #10866
please solve this issue with right algorothms

[2020-09-13 16:35] ColinConwell commented on #18364
A quick note: being able to return the predictions is actually quite functional, and should be preserved.

[2020-09-13 17:20] GaelVaroquaux commented on #16802
Assumptions differ whether they are about control on the coefficients or on the prediction. The control on the prediction is much more lax then the control on the coefficients.

No. No need to duplicate functionality across packages.

[2020-09-13 20:55] #18320 closed

[2020-09-14 13:38] cmarmo commented on #18029
Hi @ucaswxk , your code is not reproducible: I did my best in reconstructing it,
[code]
but 'label' is not a key in your dataframe.

I'm closing this issue, as this is closer to a usage question than a bug report.
If you manage to have a reproducible snippet of code feel free to join the community on [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the scikit-learn mai

[2020-09-14 13:38] #18029 closed

[2020-09-14 13:42] cmarmo commented on #17514
Hi @don-prog, you're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn). Thanks.

[2020-09-14 13:42] #17514 closed

[2020-09-14 13:47] cmarmo commented on #17363
Hi @lampda your question received some attention already: I'm closing the issue. If you are interested in continuing the discussion plese join the community on [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the scikit-learn mailing list](https://mail.python.org/mailman/listinfo/scikit-learn). The issue tracker is mainly for bugs and new features. Thanks for your unde

[2020-09-14 13:47] #17363 closed

[2020-09-14 13:55] cmarmo commented on #17285
Hi @lymanblue  your question received some attention already: I'm closing the issue. If you are interested in continuing the discussion please join the community on [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the scikit-learn mailing list](https://mail.python.org/mailman/listinfo/scikit-learn). The issue tracker is mainly for bugs and new features. Thanks for your

[2020-09-14 13:55] #17285 closed

[2020-09-14 14:06] cmarmo opened #18396 "RFC New label "test-suite" or equivalent"
@scikit-learn/core-devs I'm missing a label for issues about tests: I would use it for example in #18338 or #18367 ... I'm quite sure other issues will also benefit from this tag.
What do you think about that?
Thanks!

[2020-09-14 14:23] cmarmo commented on #18288
Thanks @amrcode for reaching out. I agree this is an important point to clarify in the documentation.
Are you interested in proposing a pull request for this?

[2020-09-14 14:30] NicolasHug commented on #18389
We have a bunch of stuff like this I think.

IMHO status quo is fine for now until we have an official developers API. users don't need it, no need for it to be in the User Guide.

[2020-09-14 18:32] gpoon opened #18398 "Potential typo in docs for precision_recall_curve and _binary_clf_curve"
Both these functions take an argument called `probas_pred` and have the same description: `Estimated probabilities or decision function.` Link to code:
https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f871d60370/sklearn/metrics/_ranking.py#L510
https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f871d60370/sklearn/metrics/_ranking.py#L629

[2020-09-14 20:20] skeller88 commented on #16802
I get that in principle you don't want to duplicate functionality across packages. In practice, there are some advantages. The problem I have here is that a sklearn LinearRegression model will be different from a statsmodel LR model, even if they are trained with the same settings, and especially if you use all of the handy optimizations that sklearn has like Pipeline and RandomizedSearchCv. I wan

[2020-09-15 02:36] ucaswxk commented on #18029
I am sorry，the original size of the dataset is huge, so I sample it. But I forgot upload the label.
from sklearn.semi_supervised import LabelSpreading
import pandas as pd

data_df = pd.read_csv('train.csv', header = 0, index_col = 0)
columns = []
for i in range(37):
    feature_name = 'feature' + str(i)
    data_df[feature_name] = data_df.apply(lambda x: x['Features'].split(',')[i], axis=1)
    co

[2020-09-15 08:19] adrinjalali commented on #18396
I've been thinking about this as well. I created a `module:test-suite` with the same pattern as the other `module:*` labels. I think it's of the same nature.

[2020-09-15 08:58] haiatn commented on #15761
I will finish sklearn.utils. There are only 3 files I found that need fixing.

[2020-09-15 09:06] cmarmo commented on #18396
Thanks @adrinjalali , I'm closing this one then.

[2020-09-15 09:06] #18396 closed

[2020-09-15 09:12] lucyleeow commented on #18381
Discussed here as well #18307

[2020-09-15 09:50] cmarmo commented on #17180
Hi @cphang99, thanks for reaching out.
The example for `ExtraTreeRegressor` has been modified. The development version use another dataset. Do you mind checking with the last development version if the failure is still there? Thanks a lot.

[2020-09-15 12:48] cmarmo commented on #18371
Hi @sqbl thanks for reaching out: this is a duplicate of #18318. Hope you don't mind if I'm closing. Feel free to comment there. Thanks.

[2020-09-15 12:48] #18371 closed

[2020-09-15 12:56] cmarmo commented on #18366
Hi @aishwarya-agrawal, thanks for reaching out. This is more a usage question than a bug report. The issue tracker is mainly for bugs and new features. Please keep in touch with the community on [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the scikit-learn mailing list](https://mail.python.org/mailman/listinfo/scikit-learn). Thanks.

[2020-09-15 12:56] #18366 closed

[2020-09-15 15:02] ogrisel commented on #14306
Based on  #18382, the scalability profile of scikit-learn is not too bad on large problems. On small problems it's bad when n_threads > n_physical cores. As hyperthreads are never useful, it would be good to improve joblib / loky to detect the number of physical cores and use that as the default number of openmp threads in HGBRT. Work on this is being tracked here: https://github.com/joblib/loky/i

[2020-09-15 15:20] ErikAho opened #18403 "Upgrade DictVectorizer to use 64 bit indices instead of 32 bit"
#### Describe the workflow you want to enable
Currently, in DictVectorizer, the _transform function is limited to 32 bit indices, meaning that there is a limit of ~2M rows/cols in the resultant matrix.

This issue seeks to enable using DictVectorizer on larger datasets by increasing this to work with 64 bit values.

#### Describe your proposed solution
Update the dtypes for the indices in [_dict_v

[2020-09-15 15:58] ErikAho commented on #18403
Worth noting that since [ SciPy 0.14.0](https://docs.scipy.org/doc/scipy/reference/release.0.14.0.html#scipy-sparse-improvements), sparse has had the ability to work with `int64` indices.

[2020-09-15 18:08] kshivi99 commented on #18389
I am looking to get started with this community, if you guys say so then i am ready to fix this. Would be a good intro to the contribution guidelines.

[2020-09-15 18:17] kshivi99 commented on #18389
I could see the above-mentioned function in the docs - https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.check_cv.html?highlight=check_cv#sklearn.model_selection.check_cv

Is this what we are referring to?

[2020-09-15 18:31] obscode opened #18404 "gaussian_process.GaussianProcessRegressor.sample_y() gives inconsistent results"
#### Describe the bug
After setting up a GaussianProcessRegressor on some training data, I want to use `sample_y()` to generate random realizations of the GP, but I've found an odd behavior. Suppose I evaluate on X with a fixed `random_state` so that I get the same result no matter how many times I evaluate:

[code]

But now, suppose I evaluate just a subset of X, keeping the random_state the same

[2020-09-16 06:55] AaronX121 opened #18408 "Data type mismatch problem when calling HistGradientBoostingClassifier.predict()"
#### Describe the bug
It looks like HistGradientBoostingClassifier has problems on handling datasets with different data types. It works fine when X is `np.float`. However, when X is of the type `uint8`, HistGradientBoostingClassifier crushes when calling `predict()`.

#### Steps/Code to Reproduce

[code]

#### Expected Results
The HistGradientBoostingClassifier successfully returns prediction res

[2020-09-16 07:37] Jordy-VL opened #18409 "20news dataset noisy and duplicates!"
Just quite simply, the 20news dataset in sklearn is noisy!
Beware just using this dataset out-of-the-box
For example, in "test" there are impossibly noisy samples (length of tokens < 5):

[code]

[2020-09-16 12:04] simonlsp commented on #7568
I am also getting the same issue in version 0.20.0, 0.21.2 and 0.23.2.

[2020-09-16 12:59] Abilityguy commented on #14312
The ```DecisionTreeRegressor``` class says:
"the n_classes_ attribute is to be deprecated from version  0.22 and will be removed in 0.24."
"the classes_ attribute is to be deprecated from version 0.22 and will be removed in 0.24."

So these attributes also don't need documentation right?

[2020-09-16 14:34] cmarmo commented on #14312
Right @Abilityguy, thanks for pointing out that.

[2020-09-16 14:41] NicolasHug commented on #18408
Thanks @AaronX121 , I can reproduce.
https://github.com/scikit-learn/scikit-learn/pull/18410 should fix it

[2020-09-16 14:47] NicolasHug commented on #18408
Note that we still need to internally convert `X` to float64 in both `fit` and `predict`, so you might want to do it yourself before using the estimator.

[2020-09-16 14:53] AaronX121 commented on #18408
I think such conversion is quite reasonable. Thanks for your pull request on fixing this exception. If fixed, I think this issue can be safely closed.

[2020-09-16 16:52] anindya5 commented on #14888
Trying the as_frame option in fetch_openml and getting the error
TypeError: fetch_openml() got an unexpected keyword argument 'as_frame'

[2020-09-16 16:53] anindya5 opened #18411 "as_frame in fetch_openml result in the error TypeError: fetch_openml() got an unexpected keyword argument 'as_frame'"
Trying the as_frame option in fetch_openml result in TypeError: fetch_openml() got an unexpected keyword argument 'as_frame'

Packages are all latest.

[2020-09-16 17:00] 1kastner opened #18412 "Add new real world dataset"
#### Describe the workflow you want to enable

Add the GTSRB dataset from http://benchmark.ini.rub.de/?section=gtsrb&subsection=dataset#Downloads

#### Describe your proposed solution

Add it in code and of course in the documentation at
https://scikit-learn.org/stable/datasets/index.html#real-world-datasets

#### Additional context

Would such a pull request be accepted or is the dataset too adva

[2020-09-16 17:20] alfaro96 commented on #18411
I cannot reproduce the issue on `scikit-learn==0.23.3` branch.

Could you try `pip install --upgrade scikit-learn` and check if this works?

[2020-09-16 17:45] anindya5 commented on #18411
Tried that, did not work

[2020-09-16 17:45] anindya5 commented on #18411
I tried with other platforms, the issue is not there, only with my local notebook

[2020-09-16 18:54] cmarmo commented on #18411
Hi @anindya5, if you are using a linux venv or a conda environment, do you mind checking if you are using the jupyter notebook in the environment? Thanks.

[2020-09-16 20:58] will-thompson-k commented on #18008
This is actually covered in snorkel, so I will just use that.

[2020-09-16 20:58] #18008 closed

[2020-09-16 22:08] claudiobrandy commented on #16028
Hi, I just run into this issue while trying to simulate a stream of categorical events with clf=CategoricalNB():

clf.fit with the first 100K events and then, multiple rounds of clf.predict() and clf.partial_fit() w/1000 events each.

Wouldn't it be better, in this case, to have a parameter that enables a warning and the feature in question isn't taken into account for that prediction round and is

[2020-09-16 22:34] watchtheblur opened #18416 "Contributing code instructions under contributing.html will fail if no build tools are available"
#### Describe the issue linked to the documentation
Step 5 under the section ["Contributing Code"](https://scikit-learn.org/stable/developers/contributing.html#contributing-code) in  will fail because some os distributions will not have build tools by default to build the project.

I was using Window's WSL (Ubuntu 18.04), and I couldn't continue past step 5 because I had no build tools.  The comma

[2020-09-16 22:36] NicolasHug commented on #16241
Reopening because #17361 didn't directly address this (my fault, I tagged this issue on the PR)

[2020-09-16 23:16] NicolasHug commented on #13969
Not validating error messages is done in https://github.com/scikit-learn/scikit-learn/pull/18415.

What else do we want to relax when strict mode is off?

[2020-09-17 09:47] lucyleeow commented on #13478
For the `return_predictions` implementation suggested by @jnothman (https://github.com/scikit-learn/scikit-learn/issues/13478#issuecomment-494703178), are we okay with the predictions being calculated twice (as in #18390 )? Once when we calculate the score and again to return the predictions. Avoiding this would involve complex changes.

[2020-09-17 12:22] lucyleeow commented on #18381
I think this is a duplicate of #18307, maybe we can close this ?

[2020-09-17 12:40] #14436 closed

[2020-09-17 16:21] #17728 closed

[2020-09-17 16:22] thomasjpfan commented on #18381
Yup lets close this.

[2020-09-17 16:22] #18381 closed

[2020-09-17 17:16] thomasjpfan commented on #18409
If this is consistent with the original source at http://qwone.com/~jason/20Newsgroups/, I think we should leave the dataset as is.

Side note: Having dirty data can be used for educational purposes.

[2020-09-17 17:21] thomasjpfan commented on #18398
It could be stated as:

[Here is more information](https://scikit-learn.org/stable/glossary.html#term-decision-function) about the decision function. Most classifiers have a `decision_function` method that can be used as input to these functions.

[2020-09-17 17:35] thomasjpfan commented on #18364
@Trevor-Waite To be assigned this issue, the CI will assign it to you if you comment with the single word "take".

[2020-09-17 17:46] thomasjpfan commented on #18403
Would this increase the memory used by `DictVectorizer`?

[2020-09-17 19:19] kshivi99 commented on #18409
@thomasjpfan agreed. Maybe this note could be added as a "tip" with the dataset.

[2020-09-17 21:31] #11770 closed

[2020-09-17 21:31] #11943 closed

[2020-09-17 21:31] #13605 closed

[2020-09-17 22:15] nyavramov opened #18424 "train_test_split with stratify does not stratify data correctly"
#### Describe the bug
sklearn.model.selection.train_test_split has a parameter called `stratify`. My assumption about this parameter is that it ensures all labels found in a training data frame are also found in a testing data frame.

The below sample code breaks that assumption.

#### Steps/Code to Reproduce
[code]

#### Expected Results
Number of unique labels in train:  34
Number of unique labe

[2020-09-18 08:33] tadorfer opened #18425 "PCA-transform data based on variance threshold"
#### Describe the workflow you want to enable

I've found it quite useful to PCA-transform data based on a specific variance threshold. For instance, instead of selecting the number of components (from which it is not clear how much of the variance they explain before computing them), one could specify the desired explained variance, for instance 0.95, for the transformation.

#### Describe your p

[2020-09-18 12:45] NicolasHug commented on #14571
We decided not to support any more features to the MLP module, so I'll close the issue.

[2020-09-18 12:45] #14571 closed

[2020-09-18 13:32] NicolasHug commented on #18398
I guess this is a matter of  convention... but this was fixed in #18428

Thanks for the report @gpoon

[2020-09-18 13:32] #18398 closed

[2020-09-18 14:48] DouglasPatton commented on #4757
I'm not familiar with the best practices for issues on github, but seeing the time spanned by this issue makes me think it needs some help.
I believe the code below represents a straightforward and flexible solution.

[code]

[2020-09-18 15:09] DouglasPatton commented on #4757
I wanted this feature for a project and came up with this straightforward solution
I'm not sure what the protocol is for attempting to help with issues like this, but I hope this is helpful

[code]
which prints out
[code]

[2020-09-18 16:31] dersuchendee opened #18430 "Difference in classifier accuracy between SGDClassifier and LinearSVC: why?"
I'm fine tuning parameters for a linear support vector machine. There are multiple ways to do it, but I wanted to compare LinearSVC and SDGClassifier in terms of time. I expected the accuracy score to be the same but, even after fine tuning with GridSearchCV, the score of the LinearSVC is lower. I tried changing up parameters many times, but the maximum with LinearSVC I can get is 41.176 versus 41

[2020-09-18 17:22] thomasjpfan commented on #18430
They use different solvers which may result in different solutions. (`LinearSVC` uses `liblinear` and SGDClassifier uses gradient descent).

[2020-09-18 17:26] dersuchendee commented on #18430
Thank you. Do you know if I could make the fine tuning of my code better? I'm new to this

[2020-09-18 17:29] thomasjpfan commented on #18430
You are asking a usage question. The issue tracker is for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

Unfortunately, we need to close this issue as this issue tracker is a communication tool used for the development of sci

[2020-09-18 17:29] #18430 closed

[2020-09-18 17:33] thomasjpfan commented on #18425
Does using `n_components` as a float, work for your use case?

[2020-09-18 17:46] ogrisel commented on #14386
I understand most of us seem to favor a backward-compatible 1.0, but these 2 points are still unclear to me:

I would rather avoid any breaking change if we can. Always following our deprecation cycle with warnings is nicer to our users.

I would rather not have any breaking change in 2.0 either.

To me the point of dropping the leading 0 in our version number is just psychological/communication b

[2020-09-18 18:01] NicolasHug commented on #14386
Thanks @ogrisel,  at least I understand your POV because it's consistent. But I still need to understand @amueller and @GaelVaroquaux 's reasoning then ;)

[2020-09-18 18:14] GaelVaroquaux commented on #14386
I don't have a strong point of view here other than that we should limit breakage

⁣Sent from my phone. Please forgive typos and briefness.​

On Sep 18, 2020, 20:01, at 20:01, Nicolas Hug <notifications@github.com> wrote:

[2020-09-18 18:23] NicolasHug commented on #14386
@GaelVaroquaux so would you be OK with introducing a few minor breaking changes in 1.0, provided that the next breaking changes would happen many years from now (if ever)?

I have the impression that during the last meeting, people understood my point of view as "let's make breaking changes often" but that's absolutely not what I'm advocating for.

[2020-09-18 18:32] GaelVaroquaux commented on #14386
Not very happy. Actually, I'd rather have the breaking changes in a v .99.

Also, I'd like to be convinced that there is no way to avoid a smooth deprecation

⁣Sent from my phone. Please forgive typos and briefness.​

On Sep 18, 2020, 20:23, at 20:23, Nicolas Hug <notifications@github.com> wrote:

[2020-09-18 18:45] cmarmo commented on #14386
Until no list of breaking features is available, no evaluation is possible: @ogrisel kindly provides the suitable label that hasn't be used for now.

[2020-09-18 19:12] NicolasHug commented on #14386
There are a bunch of comments with such issues in this thread already. https://github.com/scikit-learn/scikit-learn/issues/14386#issuecomment-678262001 https://github.com/scikit-learn/scikit-learn/issues/14386#issuecomment-678266615 https://github.com/scikit-learn/scikit-learn/issues/14386#issuecomment-679207853 https://github.com/scikit-learn/scikit-learn/issues/14386#issuecomment-683758339
The l

[2020-09-18 19:34] haiatn commented on #15761
hey @alfaro96 ,
could you review my open pull requests? I think they are the last ones.
#18360 #18385 #18386

[2020-09-18 20:14] haiatn commented on #3271
I am not working on it but I found the latest PR for this is #5532

[2020-09-19 07:05] tadorfer commented on #18425
That's exactly what I was looking for, thank you! It didn't occur to me that you could do it with `n_components`. Closing this now.

[2020-09-19 07:05] #18425 closed

[2020-09-19 09:23] glemaitre commented on #18412
I think that we should avoid adding any new dataset.
However, one could contribute the dataset to OpenML which can be loaded with `sklearn.datasets.fetch_openml` directly.
It would be more maintainable.

[2020-09-19 20:06] xtomasch opened #18432 "RBF is a stationary kernel (translation invariant)"
#### Describe the issue linked to the documentation

"For instance, many elements used in the objective function of a learning algorithm (such as the RBF kernel of Support Vector Machines or the l1 and l2 regularizers of linear models) assume that all features are centred around zero and have variance in the same order."

Above section of this [page](https://scikit-learn.org/stable/modules/preproc

[2020-09-19 20:45] itanvir commented on #18424
I get this in sklearn: '0.23.0' version. This seems to be working okay. I would assume, it's related to 0.21.2 version.

`Number of unique labels in train:  34
Number of unique labels in test:  31
Difference is: {'Label_33', 'Label_32', 'Label_31'}`

[2020-09-19 20:50] itanvir commented on #18412
I completely agree. Let's not dump more data on sklearn.datasets api.

[2020-09-19 21:31] xtomasch commented on #18424
train_test_split uses StratifiedShuffleSplit

From it's docs: 'The folds are made by preserving the percentage of samples for each class.'

To do that the code calls _approximate_mode(class_counts, n_draws, rng) function, to generate the most probable number of draws from each class based on the number of examples it has in the dataset. It does not guarantee presence of all classes only that on av

[2020-09-19 22:15] Trevor-Waite commented on #18364
take

[2020-09-20 03:25] nyavramov commented on #18424
@xtomasch
Thanks for that clear and well-written explanation! Since `_approximate_mode` uses randomness to break ties, it makes sense that some of the labels with only 2 examples are present while other labels with only 2 examples are not.

[2020-09-20 03:25] #18424 closed

[2020-09-20 07:54] alfaro96 commented on #15761
Hey @haiatn!

I have already have a look to your open PRs.

Thank you!

[2020-09-20 08:07] alfaro96 commented on #18412
Hey @1kastner,

I agree with @glemaitre, we should avoiding adding any new dataset to the `scikit-learn` API and use OpenML for maintainability.

I am closing then the issue, but feel free to re-open the issue if you think I am wrong.

Thank you!

[2020-09-20 08:07] #18412 closed

[2020-09-20 08:38] 1kastner commented on #18412
Thank you for the comments!

[2020-09-20 12:40] xtomasch commented on #18404
Indeed it does depend on the shape, because in the end you are drawing from two different distributions (multivariate with k=5 and 100). [Wiki](https://en.wikipedia.org/wiki/Multivariate_normal_distribution#Drawing_values_from_the_distribution) gives a hint to how values are drawn from such a distribution, while I did not study it in detail, the steps involved suggest to me that each component of

[2020-09-21 08:07] alfaro96 opened #18434 "DOC Constructor parameters displayed with **kwargs"
#### Describe the issue linked to the documentation

The constructor parameters are displayed with `**kwargs` in the documentation. For instance, for `sklearn.tree.DecisionTreeClassifier`:

* [`Master`](https://scikit-learn.org/dev/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.DecisionTreeClassifier):

<img width="939" alt="Captura de pantalla 2020-09-21 a las 10 03 42" s

[2020-09-21 09:45] cmarmo commented on #8291
I am closing this issue, as it is labeled as "New Feature" and it has been decided not to include more features related to the MLP module.

[2020-09-21 09:45] #8291 closed

[2020-09-21 11:52] #18416 closed

[2020-09-21 12:38] jobvisser03 commented on #12525
@kylegilde Great article and thanks for the code. Works like a charm. For global explanations I had been wrestling with [KernelSHAP and alibi ](https://docs.seldon.io/projects/alibi/en/stable/examples/kernel_shap_adult_categorical_preproc.html) for some hours but didn't get my onehot transformer working without `handle_unkown='ignore'`

[2020-09-21 13:42] rth commented on #18403
Is this an issue that you run into?  Could you please provide a traceback?

It would be 1e9, not 1e6. It's indeed possible to run into this limitations for the number of elements in the array, it should be less of a problem for the number of features/columns. As far as I can tell after a cursory glance the current limitation is only on the number of columns? Do you have data with more than 2e9 fea

[2020-09-21 14:39] rth commented on #18411
Yes, very likely you are loading scikit-learn from some different venv than the one where you installed the latest version. For instance a typical case would be to have a venv and not install jupyter there. It would then use jupyter (and all packages) from the root environment.

Closing as it doesn't look like it's an issue with scikit-learn.

[2020-09-21 14:39] #18411 closed

[2020-09-21 16:20] rth commented on #14386
BTW there is some relevant discussion about versioning models for numpy https://github.com/numpy/numpy/issues/10156 and there is also [NEP 23](https://numpy.org/neps/nep-0023-backwards-compatibility.html) which formalizes some of it.

Technically we have breaking changes in each release, at least for some infrequent use cases (e.g. removal of a parameter) after a deprecation cycle. I don't think t

[2020-09-21 16:43] haiatn commented on #4475
I think we should close this issue. As I understand this metric does not work if one of the vectors has zero variance, returning Nan seems to be the chosen behaviour for this metric and no solution seems to be better. We could add a different assertion but I am not sure if we should.

[2020-09-21 20:34] GaelVaroquaux commented on #14386
Yes, I think that the level of breakage that we have is acceptable: users do not seem to be anxious to update.

[2020-09-21 20:52] #16863 closed

[2020-09-22 07:18] adimalhotra11 commented on #18199
If this issue is still open, May I take it?

[2020-09-22 09:08] alfaro96 commented on #18434
The problem is that the `__init__` methods wrapped by the `_deprecate_positional_args` decorator are taken their signature (`**kwargs**`).

I will open a PR fixing this issue ASAP.

[2020-09-22 09:09] alfaro96 commented on #18434
Take

[2020-09-22 09:16] agamemnonc commented on #18199
I am still planning to address this -- I was just waiting for confirmation  from @jnothman.

I guess I will just open a PR and we can take it from there.

[2020-09-22 10:50] apptimise opened #18435 "Object has no attribute 'cost_complexity_pruning_path'"
I'm looking for the right way to use post-pruning when using a `Pipeline` that transforms the X or a `TransformedTargetRegressor` that transforms the y. Here is an example using `TransformedTargetRegressor`

[code]
This will obviously result in the following error:
[code]

I can access the regressor, i.e. `tt.regrssor.cost_complexity_pruning_path(X, y)`, but that wouldn't transform the `y`. What i

[2020-09-22 10:58] shilinng opened #18438 "OverflowError when using OneHotEncoder for integer-like strings"
I have a feature encoded as strings and sometimes it could be just a string of integers, for example "12759393". While using OneHotEncoder to transform these strings to dummy codes, it seems OneHotEncoder would encode the inputs with dtype integer if the first entry of the input can be parsed to an integer (this seems to happen when it calls `check_array(X, dtype=np.int)`). This causes problems wh

[2020-09-22 13:34] claramatos opened #18439 "Add a get_transformed_matrix_feature_names to ColumnTransformer"
According to documentation:
_The order of the columns in the transformed feature matrix follows the order of how the columns are specified in the transformers list. Columns of the original feature matrix that are not specified are dropped from the resulting transformed feature matrix, unless specified in the passthrough keyword. Those columns specified with passthrough are added at the right to th

[2020-09-22 16:29] thomasjpfan commented on #18438
I am not able to reproduce this on sklearn master or latest released version: `0.23.2`.

@shilinng Can you check if you still have this error with sklearn `0.23.2`?

[2020-09-23 02:43] #13898 closed

[2020-09-23 02:53] shilinng commented on #18438
@thomasjpfan Indeed, the problem is not on 0.23.2, I will close this then

[2020-09-23 02:53] #18438 closed

[2020-09-23 08:21] rth commented on #18409
I wouldn't say that the dataset is noisy. Each of those messages were indeed posted on the corresponding newgroups. The issue is more with the assumption that it's possible to identify from the text content which newsgroup it was posted on.

Don't hesitate to open a PR to clarify the documentation.

[2020-09-23 12:54] #2801 closed

[2020-09-23 13:13] NicolasHug commented on #18435
From the docs: https://scikit-learn.org/stable/modules/generated/sklearn.compose.TransformedTargetRegressor.html

you should use the `regressor_` attribute.

[2020-09-23 13:13] #18435 closed

[2020-09-23 13:19] NicolasHug commented on #18439
We're working on propagating feature names. You'll find more info in e.g. https://github.com/scikit-learn/scikit-learn/issues/6425, https://github.com/scikit-learn/enhancement_proposals/pull/18, and linked issues there.

I'll close as duplicate

[2020-09-23 13:19] #18439 closed

[2020-09-23 13:23] NicolasHug commented on #18409
The original issue seems to have been addressed so I'll close the issue to avoid issue creeping

[2020-09-23 13:23] #18409 closed

[2020-09-23 15:57] jeremiedbb commented on #18372
The ColumnTransformer outputs a numpy array which can only have one dtype unlike dataframes. It means that a common dtype must be found for all columns. It will be the more general dtype to not loose information.

[2020-09-23 16:13] AnshuTrivedi commented on #18432
take

[2020-09-23 19:11] nkelly13 opened #18443 "MinMaxScaler output datatype"
#### Describe the workflow you want to enable
Currently, applying a MinMaxScaler to data that includes features with small datatypes like int8 results in float64 output. I would like to have a way to output to a datatype that is also some low precision type such as float16, and I don't believe this is supported in the MinMaxScaler today without applying another transformation after applying the mi

[2020-09-23 21:43] esvhd commented on #18372
Indeed, hence why there might not be an easy way around it. It just means that if you need to transform some columns into integer categorical variables with int type, you have to do it in a separate column transformer, away from those with continues variables.

[2020-09-24 06:37] rth commented on #18443
I think we could add a `dtype=None` init parameter that would need to be passed [here](https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f871d60370/sklearn/preprocessing/_data.py#L370) since there is indeed little control on how `MinMaxScaler` makes the dtype conversion.

[2020-09-24 07:30] Chroxvi commented on #9141
I believe the removal of `memcpy` in `__setstate__` would also allow for much more efficient pickling/unpickling of `Tree` based estimators using the new Pickle Protocol 5 (https://www.python.org/dev/peps/pep-0574/).

In particular, I believe this `memcpy` in https://github.com/scikit-learn/scikit-learn/blob/0.23.2/sklearn/tree/_tree.pyx#L680 results in "double" memory usage upon unpickling of a `

[2020-09-24 08:02] Chroxvi opened #18448 "Minimize memory usage in Tree based models by allowing for change of internal dtype"
Internally in the `Tree` class, a float64/double type is used for the `value` array (https://github.com/scikit-learn/scikit-learn/blob/0.23.2/sklearn/tree/_tree.pyx#L547). This seems excessive in many cases. If it was possible to use other dtypes for such cases, a significant reduction in required memory would be obtainable.

A motivating example:
[code]
In the above example, the memory requiremen

[2020-09-24 09:24] rth commented on #18448
Supporting float32 sounds reasonable and is related to work in https://github.com/scikit-learn/scikit-learn/issues/11000 on other modules. Not sure what would be necessary implementation wise, maybe this could be achieved with fused types in cython.

Just converting float64 to uint16/uint8 would likely be problematic, and one might have to do some kind of histogram based splits https://github.com/

[2020-09-24 10:17] Chroxvi commented on #18448
Converting the `value` array to integer types for regressors would probably be problematic, but I don't see why it would cause major issues for classifiers - everything is already integer (albeit being stored as float64) if I understand the `Tree` implementation correctly. However, one would need to implement some logic to handle the differences between regressors and classifiers correctly since `

[2020-09-24 10:40] d-kleine opened #18449 "Feature Request: Add parameters for scaling make_regression()"
Hi all,

I would like to ask if it would be possible to add a parameter for scaling a random regression problem with sklearn.datasets.make_regression(). Currently, it's output will be centered at P (0 / 0), so you later have to scale this random regression data manually.

Example (for Jupyter Notebook):
[code]

Source: [make_regression](https://scikit-learn.org/stable/modules/generated/sklearn.dat

[2020-09-24 12:33] jeremiedbb commented on #18372
Yes currently you can't do what you want using a single column transformer. You'd have to transform your columns separately.

[2020-09-24 12:36] rth commented on #18448
You are right, I was talking about X dtype, but it looks like it's already in float32 only.

For the `Tree.value` it does indeed look to be integer for classification. Maybe @NicolasHug would have some comments about your suggestions. Personally, after a quick glance, I'm not even able to find where this array is set in the `tree.pxd` module )

[2020-09-24 12:53] thomasjpfan commented on #18448
It is set here:

https://github.com/scikit-learn/scikit-learn/blob/54ce4222694819ad52d544ce5cba5da274c34ab7/sklearn/tree/_tree.pyx#L243

(I always found this an interestingly named method)

[2020-09-24 13:07] NicolasHug commented on #18448
I'm more familiar with the hist-GBDT trees than these ones ;) But I agree it would be  great to reduce the memory of the estimator once it's been trained.

Looks like this will need much more than fused types though. The node values are ultimately computed in

[code]

where that `sum_total` thing has to be a double because it actually depends on the sample weights.

These values are considered to

[2020-09-24 13:09] madhukumble commented on #18389
Yes. that's the one!

[2020-09-24 13:13] NicolasHug commented on #18448
Also, from [our docs](https://scikit-learn.org/stable/modules/ensemble.html#random-forests) properly about RFs predict_proba:

If I understand that correctly, the fact that the raw `sum_total` is stored as the value is actually by design and storing the class values would actually break the `predict_proba` of RandomForests... Unfortunately.

But we still could  store float32 instead of doubles as

[2020-09-24 13:16] NicolasHug commented on #18389
Thanks for your interest @kshivi99 @madhukumble but I think there is nothing to do for now.

Since no other core dev has commented, I'll close the issue. Thanks @albertvillanova for raising the issue, having proper developer docs has been in our backlog, but it's not the highest of priorities for now.

[2020-09-24 13:16] #18389 closed

[2020-09-24 13:22] NicolasHug commented on #18372
I think @jeremiedbb properly answered the issue so I'll close.

ColumnTransformer outputs numpy arrays, whose dtype must be homogeneous. We don't support pandas dataframes as output... yet

[2020-09-24 13:22] #18372 closed

[2020-09-24 13:25] NicolasHug commented on #18449
I'm not sure I fully understand what you want to do @d-kleine , since scaling the data would not change its mean.

Can you describe what you would manually do here?

[2020-09-24 13:56] d-kleine commented on #18449
@NicolasHug

With reference to the example code given above, I would like to have a regression line on the x-axis from 0 to 100 and on the y-axis from 0 to 50. In make_regression(), there is currently no option as a parameter to scale the size and position of the regression line being plotted, so I need to manually re-scale your random regression data like this:
[code]
It would be nice to have par

[2020-09-24 15:28] cmarmo commented on #794
Fixed in #18360.

[2020-09-24 15:28] #794 closed

[2020-09-24 15:52] alfaro96 commented on #794
Fun fact here. Although the issue is closed, the `github-actions` bot added the `help wanted` label.

@thomasjpfan I think we should consider this case in the `assign.yml` workflow.

WDYT?

[2020-09-24 16:04] hamzameur opened #18451 "pairwise_distances does not take into account the value of the parameter "force_all_finite" when the value of parameter "metric" is in PAIRWISE_DISTANCE_FUNCTIONS"
This code

[code]
is supposed to return :
[code]
Instead it returns

[code]

[2020-09-24 16:45] haiatn commented on #15761
Now that we merged what's left off sklearn.utils and it was the last on [the checklist](https://github.com/scikit-learn/scikit-learn/issues/15761#issuecomment-639461778), did we finish?

[2020-09-24 17:11] rola93 opened #18454 "Feature request: regression report"
#### Describe the workflow you want to enable

I'd like an alternative to the wildely used [sklearn.metrics.classification_report](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html) for regression problems

#### Describe your proposed solution
I purpose to implement it as `sklearn.metrics.regression_report`,  following code is a draft I code my self to re

[2020-09-24 17:23] thomasjpfan commented on #18451
The first step to this would be to add `force_all_finite` to the pairwise metrics and to make sure it works as expected.

For curiosity, what is your use case for allowing `nans` in your distance calculations?

[2020-09-24 17:42] thomasjpfan commented on #18434
Thank you for finding the bug @alfaro96 !

Looks like we have to wait for a bugfix release from sphinx to get this resolved.

In the meantime, I do not see a non-hacky way to resolve this on our end. (hacky == replacing the documentor in the sphinx application object with our patched version of `ClassDocumenter` and `ExceptionDocumenter`)

[2020-09-24 18:00] doerlbh commented on #6828
Hi, I didn't notice this issue before, but here is an active PR https://github.com/scikit-learn/scikit-learn/pull/18413 that implemented the topic related to this issue. Please feel free to review it whenever convenient. Happy to hear your thoughts on this~ Thank you!

[2020-09-24 18:21] thomasjpfan opened #18455 "Blank issue to test the github action "take" bot"
Dummy issue to test the bot.

I've been seeing "take" not working

[2020-09-24 18:21] thomasjpfan commented on #18455
take

[2020-09-24 18:23] thomasjpfan commented on #18455
take

[2020-09-24 18:24] thomasjpfan commented on #18455
Looks like it works as expected. Closing issue.

[2020-09-24 18:24] #18455 closed

[2020-09-24 19:09] cmarmo commented on #15761
There is one last open pull request #18025, then this issue could be eventually closed.

[2020-09-24 19:16] mynkdsi1011 commented on #15761
Hello,
I want to start contributing. Is there any class pending for fixing doc of default values? If any then I can take it up.

[2020-09-24 19:28] mynkdsi1011 commented on #14312
I can see below mismatch in _RidgeGCV :
Docstring Error: Attribute mismatch in _RidgeGCV
alpha_
best_score_
coef_
dual_coef_
intercept_
n_features_in_

and in _BaseRidgeCV:
Docstring Error: Attribute mismatch in _BaseRidgeCV
alpha_
best_score_
coef_
intercept_
n_features_in_

Can I take it up? I am first timer and wants to contribute.

[2020-09-24 21:56] Trevor-Waite commented on #18443
I could make a pull request, seems easy. Let me know @nkelly13 :smile:

[2020-09-24 22:32] Trevor-Waite commented on #18364
See below proposed change to documentation, let me know what you think.

shape (n_samples, n_targets, n_alphas), optional

`store_cv_values=True` and `cv=None`). After `fit()` has been
called, this attribute will contain the mean squared errors
(by default, `scoring=None`) otherwise if `scoring` argument
provided, attribute will contain standardized per point
prediction values.

[2020-09-25 04:15] jinamshah commented on #10232
Hi,
Is this still an issue? If so, then can someone help me understand better?

[2020-09-25 04:58] Ankit810 commented on #18350
Hi!
Please can I work on this issue?

[2020-09-25 05:02] allenyllee commented on #13555
As @alegonz's poposal, I've a simple workaround before it has been merged:

[code]

Just create a `MyBaseEstimator` class, which implement `_get_param_names`, `_get_params_from` and `get_params` methods. Then in the subclass `MySubclass`, use multiple inheritance to override `BaseEstimator`'s `_get_param_names` and `get_params` methods. So the subclass 'MySubclass' now can be cloned by clone() met

[2020-09-25 05:44] Chroxvi commented on #18448
The forest module is somewhat complex so it is difficult to fully comprehend. That being said, I am pretty sure that we still need to differentiate between the regression and classification cases.

For regression, e.g. RandomForestRegressor, we probably need to stick with a floating point type. Using float32 as suggested in #14747 seems reasonable to me.

For classification, e.g. RandomForestClass

[2020-09-25 06:24] Ankit810 commented on #18350
take

[2020-09-25 06:47] alfaro96 commented on #18434
I have neither found a non-hacky solution to fix this issue. I think we should wait for sphinx/sphinx#8234 to get merged and a new version is released.

Otherwise, we could propose a hacky solution until `sphinx` solves this issue, but I do not think that it is worth it.

[2020-09-25 07:28] alfaro96 commented on #18448
Hey @Chroxvi,

IIUC, @NicolasHug refers to the following. The `sum_total` attribute is computed in these lines (for `ClassificationCriterion`):

https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f871d60370/sklearn/tree/_criterion.pyx#L327-L340

As noticed, the `sum_total` attribute depends on the `sample_weight` attribute (since we are looking for computing the weight

[2020-09-25 08:32] cmarmo commented on #16623
Closing this one with @joshlk [agreement](https://github.com/scikit-learn/scikit-learn/issues/16623#issuecomment-594484014).

[2020-09-25 08:32] #16623 closed

[2020-09-25 08:49] gaohaoyue commented on #10533
I resolved a similar issue by using `model = xgb.XGBRegressor()` instead of using `model = XGBClassifier(random_state=126)`

[2020-09-25 08:58] kunfuster commented on #10533
Hello,

How did you manage to solve the issue?

Best

Óscar

[2020-09-25 09:19] cmarmo commented on #16778
I'm closing this one for lack of information. @Sandy-HE feel free to open a new one with a reproducible code if you are still experiencing this issue. Thanks.

[2020-09-25 09:19] #16778 closed

[2020-09-25 09:30] cmarmo commented on #16804
Thanks @oXwvdrbbj8S4wo9k8lSN for your analysis. I think this will be useful for other users having similar use cases.
However, I'm closing this issue as I can't see how this could be fixed on scikit-learn side. Feel free to reopen if you think that something more is needed.

[2020-09-25 09:30] #16804 closed

[2020-09-25 09:40] cmarmo commented on #16877
I'm closing this one as the issue has been solved and the current behaviour is unlikely to be changed.

[2020-09-25 09:40] #16877 closed

[2020-09-25 09:45] cmarmo commented on #16944
Thanks @mdabbah for reaching out. Without references this issue is unlikely to bring attention. Do you mind adding some? Thanks.

[2020-09-25 10:04] cmarmo commented on #16980
The error is thrown when synthetic data are used too. Could we agree to label this as a bug? Pull requests modifying the error message will be very welcome.

[2020-09-25 10:27] Chroxvi commented on #18448
@alfaro96 Thanks for clarifying the sample weight connection.

I guess it would still be possible in the classification case to use integer dtypes for the `Tree.value` array if no sample weights are used? At least in my current use case, I have no need for sample weights. But maybe it would be too much to handle such cases separately - I am not sure the potential gains outweigh the cost in increas

[2020-09-25 10:28] cmarmo commented on #17231
Hi @Titaniumtown, thanks for reaching out. I found a [related bug on redhat](https://bugzilla.redhat.com/show_bug.cgi?id=1722181), probably fixed in glibc 2.31.
I'm closing this one because it is unlikely to be a scikit-learn related bug.

[2020-09-25 10:28] #17231 closed

[2020-09-25 10:33] ErikAho commented on #18403
You're right about it being 2e9, not 2e6, my apologies. Have edited the original to reflect this.

It was an issue I had run into, yeah. Training a very large model, which I understand is not a typical use case, so I would also understand if this is not a high priority to fix.

For me the issue was for the number of columns, and having looked at the code, I agree that it should only be an issue fo

[2020-09-25 13:09] GustavoGianotti commented on #13621
+1

[2020-09-25 13:21] AnshuTrivedi commented on #18432
@xtomasch Do you mean that assumption about features  should be centered around zero is invalid  for RBF kernel of Support Vector Machines whether features centered around zero for linear kernels is valid?

[2020-09-25 13:36] nkelly13 commented on #18443
Yeah, agreed, it should be pretty easy. I've never contributed to sklearn before, so I'm a bit excited to find something that's both useful to me and easy :D

[2020-09-25 15:03] alexandrerays opened #18460 "Inverted output of confusion_matrix function"
The Doc is like this:
[code]

But I think the correct should look like this:
[code]
In others words, the fn and fp are exchanged.

[0, 1, 0, 1] Truth
[1, 1, 1, 0] Prediction

true negative = 0
false negative = 2 (index 0 and 2)
false positive = 1 (index 3)
true positive = 1 (index 1)

Source: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html

[2020-09-25 15:22] NicolasHug commented on #18460
FN is the number of samples where the model predicted 0 and the class was actually 1.

There is only one sample where the prediction was 0 (the last one). So FN couldn't be greater than 1.

The second letter of FN, FP, TN, TP corresponds to what the model *predicted*.
The first letter indicates whether that prediction was correct or not. It does not refer to a class, which I believe is a mistake a

[2020-09-25 16:30] amueller opened #18461 "Error on using None for missing values in SimpleImputer with boolean arrays"
[code]

Interestingly this works when the remaining types are float, or when using ``np.NaN`` for the missing value.

Potentially related to #17625, where I suggested treating ``None`` as ``np.NaN``.

FYI ``X2.a.unique()`` gives the expected result, ``np.unique(X2.a)`` errors. I'm not sure if using the  ``__array_function__`` protocol might help us here, we might be casting to numpy arrays before

[2020-09-25 23:20] xtomasch commented on #18432
SVMs in general do not not require centring around 0 as in the mean to be 0. But when using the linear and polynomial kernels, the results vary with location of the dataset. Meanwhile for the RBF kernel only the inter datapoint distances matter regardless of random offests to the dataset.

Try this code and notice that the accuracy of RBF kernel does not change.

[Gist](https://gist.github.com/xto

[2020-09-25 23:51] ffineis opened #18462 "make_ranking generated datasets function"
#### Describe the workflow you want to enable
Hello, a `make_ranking` function would be useful to me, to generate data for input into a learning-to-rank estimator (e.g. LightGBM's [LGBMRanker).](https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.LGBMRanker.html) There are currently many `make_*` dataset generation functions, but none for LETOR objectives. Where as classification and regr

[2020-09-26 04:54] AnshuTrivedi commented on #18432
@xtomasch  Thank you so much to make it more clear. Your claim seems right but need some more verification to say that rbf kernel doesn't need 0 centered features .I run code you provided.
Tried to verify

print("Centered")
X_centered = preprocessing.scale(X)
print(X_centered.mean(axis=0))

`[-1.69031455e-15 -1.84297022e-15 -1.69864123e-15 -1.40924309e-15]`
What you say?
Can you check it at your s

[2020-09-26 07:54] Ankit810 commented on #18460
take

[2020-09-26 07:55] #18408 closed

[2020-09-26 08:05] arioboo opened #18466 "ImportError: cannot import name 'enable_successive_halving' from 'sklearn.experimental'"
#### Describe the issue linked to the documentation
 I were trying to build an HTML documentation of scikit-learn branch `master` from the `doc` subdir, following [Documentation](https://scikit-learn.org/dev/developers/contributing.html#documentation).

I installed those packages within my Anaconda environment (there is no sense to be different, but ofc it'll be). The error comes when I'm trying t

[2020-09-26 10:35] xtomasch commented on #18432
I can tell you that -1.6... * 10^-15 is pretty much zero - especially if you think about the precision 64bit floats can give you. I did not scale to unit variance on purpose - to show that all you need is basically features that do not have totally different scales.

[2020-09-26 12:03] OlehKSS commented on #8781
Hi, I want to help to solve this issue.

As far as I see, you want to change the default behavior of `SimpleImputer`, so it raises warnings upon the deletion of features without observed values by default. It can be done by setting the default value of `verbose` to 1 instead of 0. Should I add a warning, e.g. "verbose value was changed from 0 to 1"? Another way would be to not use the `verbose` pa

[2020-09-26 13:33] NicolasHug commented on #18460
There is nothing to be fixed @Ankit810 , I believe  the current documentation is correct, as explained above. I'll close the issue.

[2020-09-26 13:33] #18460 closed

[2020-09-26 13:33] srivathsa729 commented on #14312
@marenwestermann in the class FeatureAgglomeration, it is said that in version 0.21, n_connected_components_ was added to replace n_components_.

So, n_components is false positive right..?

[2020-09-26 17:35] AnshuTrivedi commented on #18373
@tluocs Can you share complete code as i tried to reproduce issue it is saying param_grid is not defined.
I want to know how you assigned param_grid also feature_matrix.
It would be better if you can share all variables used in above code of lines to reproduce issue.

[2020-09-26 20:14] tluocs commented on #18373
Thank you Anshu. The code is quite a lot so it seems not easy to reproduce the problem. That's why I was trying to input all the necessary info when I was raising the issue. Now I've just solved it by upgrading my python and scikit-learn to the latest (although my previous version was quite new already, which was dated in July 2020). So I guess this "bug" (if it is) may have been fixed in the late

[2020-09-26 20:26] cmarmo commented on #18373
Thanks @tluocs for reaching out, and thanks @AnshuTrivedi for having a look to this.
If I understand correctly the issue has been fixed with an update, I'm closing it. Feel free to reopen if something still need to be fixed. Thanks.

[2020-09-26 20:26] #18373 closed

[2020-09-27 12:22] wuqi0704 opened #18468 "Post Pruning function for decision tree"
#### I want to be able to post-prune a tree after it is trained. I posted a question on Stackoverflow. See https://stackoverflow.com/questions/64075736/post-pruning-decision-trees-with-python.

#### Describe your proposed solution

#### Describe alternatives you've considered, if relevant

#### Additional context

[2020-09-27 14:30] Ryo-not-rio opened #18469 "Attribute error when using feature_selector.RFE"
#### Describe the bug

AttributeError: 'EstimatorV2' object has no attribute '_get_tags' occurs when using feature_selector.RFE on an estimator created by using tf.keras.estimator.model_to_estimator.

#### Steps/Code to Reproduce

[code]

#### Expected Results

No errors

#### Actual Results

WARNING:tensorflow:Using temporary folder as model directory: C:\Users\moter\AppData\Local\Temp\tmpfjda4fa

[2020-09-27 18:42] eotp commented on #18357
@NicolasHug I ran into a similar problem. Though, in my case it had worked fine till I did some updates.

Actually, if I reproduce the result by @senpaiislearning  and set

[code]
this still raises the `ValueError: cross_val_predict only works for partitions`.

[2020-09-27 23:28] NicolasHug commented on #18357
That's still not a partition @eotp. samples in range(0, 20) and samples in range(30, 50) are not in any test set. As explained above *each sample should appear in exactly one test set. *

The cv parameter is supposed to be an iterable of tuple where each tuple is represents (train_set_indices, test_set_indices)

This is an example of a partition, with 100 samples:

[code]

Note how all samples bel

[2020-09-28 02:54] Rcubes opened #18472 "Cannot tune n_estimators when using a Pipeline in GradientBoostingClassifier"
I have looked into the issues in case this has been addressed before and it seems it has not.

### Describe the bug
 GridSearchCV not allowing to tune n_estimators in GradientBoostingClassifier when used in Pipeline

Attaching a short dataset in case you want to reproduce.

[titanic.zip](https://github.com/scikit-learn/scikit-learn/files/5289696/titanic.zip)

#### Steps/Code to Reproduce

This chu

[2020-09-28 07:15] alfaro96 commented on #18472
According to the [`Pipeline` documentation](https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html):

That is, you should use:

[code]

[2020-09-28 07:15] #18472 closed

[2020-09-28 07:49] Preetesh21 opened #18473 "'SVC' object has no attribute '_probA'"
#### Describe the bug

'SVC' object has no attribute '_probA'. While using the SVM classifier from the sklearn package I encountered this result. I had trained my model on a dataset and then saved it and later on tried to use the saved weights in another file. All other classifiers including logistic regression, KNN, Gaussian Naive Bayes, Decision Trees worked fine but the Grid Search showed the e

[2020-09-28 08:29] glemaitre commented on #18468
We have the `ccp_alpha` parameter to control post-pruning:
https://scikit-learn.org/stable/auto_examples/tree/plot_cost_complexity_pruning.html#sphx-glr-auto-examples-tree-plot-cost-complexity-pruning-py

[2020-09-28 08:31] gaohaoyue commented on #10533
@kunfuster , this may be unrelated but I resolved the issue by calling `XGBRegressor` instead of `XGBClassifier`. For I realized that my output data type is float instead of boolean or integer. Then I feed the model into the GridSearch and it worked fine without freezing. This is a good material you might be interested in checking out: [https://www.datacamp.com/community/tutorials/xgboost-in-pytho

[2020-09-28 08:34] #18468 closed

[2020-09-28 08:38] glemaitre commented on #18473
Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal.

[2020-09-28 11:09] alfaro96 commented on #18448
Considering integer and double (or float) data types for `Tree.value` would require a major refactorization of the actual code. I do not think that it is worth it.

I am actually working on this. I will open a PR ASAP.

[2020-09-28 11:25] d-kleine commented on #18449
I would like to add that for make_regression it would also be nice to have parameters for intercept and slope in order to randomly distribute the data around that given regression line. That would make it a little bit easier to create a random data set for a specific regression scenario, e.g., if you specifically want to have a certain intercept and a negative slope with a specific value for a reg

[2020-09-28 12:07] dhananjayabl opened #18476 "fit_predict not working when novelty = True"
https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.LocalOutlierFactor.html#sklearn.neighbors.LocalOutlierFactor
as per the above doc, `fit_predict` to be used when novelty is set to True, and it should return the labels.

But in the source code, the implementation is made opposite, that is, if novelty is true, it will raise an error.

#### source code snippet
[code]
#### error whi

[2020-09-28 12:31] m-zakeri commented on #9963
Why the raise ValueError when (y_true < 0) or (y_pred < 0), while log1p is used which can handle negative number gretaer then -1?

[2020-09-28 12:32] m-zakeri opened #18477 "Why the raise ValueError happen when (y_true < 0) or (y_pred < 0) with log1p?"
Why the raise ValueError happen when (y_true < 0) or (y_pred < 0), while log1p is used which can handle negative numbers greater than -1?

_Originally posted by @m-zakeri in https://github.com/scikit-learn/scikit-learn/issues/9963#issuecomment-699976436_

[2020-09-28 13:52] NicolasHug commented on #18477
I think the reason we use log(1 + y) instead of log(y) is because we still want to allow y to be 0. But we still don't want y < 0.

Since this is a question and since I think it's now answered, I'll close the issue.

[2020-09-28 13:52] #18477 closed

[2020-09-28 18:19] alfaro96 commented on #18448
Changing `value` to `float` would also require to change `sample_weight` to `float` (because of `sum_total`).

I would be happy to open a PR with this solution, but I would like to know your opinion.

WDYT @NicolasHug @rth @thomasjpfan?

[2020-09-28 18:23] NicolasHug commented on #18448
Just to clarify, we don't want to change the values to a float32 dtype, we want to allow both float32 and float64 by adding a new parameter which would default to the current behaviour.

As long as we properly document in the new parameter that SW will internally be converted to float32, that's fine.

[2020-09-28 18:48] atwahsz opened #18486 "imputer optmization"
introducing multi-threading for knn imputer  n_job=-1

possible develop dynamic imputation using other algorithms by mapping other features as training data and fitting it to predict missing values

[2020-09-28 19:23] aggvarun01 commented on #16055
The version of Brier Score currently implemented in scikit-learn is _not_ symmetric:

<img src="https://render.githubusercontent.com/render/math?math=\frac{1}{N}\sum_{i=1}^{N}(y_{i} - \tilde{y}_{i})^{2}">

(where y_hat is the probability of the positive class)

This can be replaced by the multi-class formula, which is valid for the binary case as well:
<img src="https://render.githubusercontent.co

[2020-09-28 20:41] thomasjpfan commented on #18486
Closing because this issue has been previously reported here: https://github.com/scikit-learn/scikit-learn/issues/18186

[2020-09-28 20:41] #18486 closed

[2020-09-28 20:46] glemaitre commented on #18476
The documentation state:

[code]
Thus, `fit_predict` is not available.

[2020-09-28 20:46] #18476 closed

[2020-09-28 20:59] #18221 closed

[2020-09-28 21:23] zeromh commented on #10229
I'm confused about the fix here. I'm using sklearn 0.23.2, and the behavior that @jnothman called out as a problem is still the same as he described. To reproduce:

[code]

Now everything's a string. It looks like the warning message was added in 2018 but the behavior was never changed. Am I missing something?

[2020-09-29 07:07] albertvillanova opened #18488 "CI Pull Request Labeler is triggered every 10 minutes"
Currently, the GitHub Action workflow "Pull Request Labeler" is scheduled to run every 10 minutes.

See Actions tab: https://github.com/scikit-learn/scikit-learn/actions

Maybe it could be triggered more efficiently by some GitHub event.

[2020-09-29 07:22] albertvillanova commented on #18488
I discovered this on my own fork, because this workflow also runs every 10 minutes on forks.

In forks, however, the workflow is run without any job step, as the "if" condition is set at the step level. So basically, every 10 minutes we run a workflow that does nothing.

[2020-09-29 07:22] albertvillanova commented on #18488
Take

[2020-09-29 08:39] hamzameur commented on #18451
Indeed, that's what I did with my metrics of interest.

I have a custom distance that computes a "sub-distance" per feature and it tolerates `nan` values.

[2020-09-29 10:43] alfaro96 commented on #18448
Would you mind @NicolasHug to elaborate a little bit your proposal?

I do not get this point: "adding a new parameter which would default to the current behaviour".

Thank you!

[2020-09-29 10:49] Xethan opened #18490 "Very long `repr` for nested estimator when `print_changed_only=True`"
After upgrading to scikit-learn 0.23 where `print_changed_only` became `True` by default, one of my unittest started to run seemingly indefinitely.
After investigating, I found out that this line was the cause of my trouble, calling `repr` an additional time on each attribute, which ends up multiplying the amount of times `repr` is called when nested estimators are involved:
https://github.com/sci

[2020-09-29 11:18] vostrosablin opened #18491 "Changing random_state in LogisticRegression produces same results"
#### Bug description
When changing the parameter `random_state` in LogisticRegression, the output predictions are always the same.

#### Simple example to reproduce the bug

[code]

#### Expected Results
Predictions should be different for different random states

#### Actual Results
Predictions are the same for different random states

#### Versions
scikit-learn == 0.23.2

[2020-09-29 11:35] jnothman commented on #18490
Hmm... I think the simplest way to handle this would be to special-case estimators with the default repr, as having a differing class name should be sufficient to display a param as changed.

I mean, changing the condition to a neater version of:
[code]

A pull request patching this for efficiency would be very welcome!

[2020-09-29 11:38] jnothman commented on #18491
The default solver is not randomized. Please see the docstring of LogisticRegression's random_state.

[2020-09-29 11:38] #18491 closed

[2020-09-29 12:40] NicolasHug commented on #14747
@sdpython instead of node_value, do you mean node.threshold? I do not understand yet how the node's value (i.e. the prediction) relates to this threshold comparison.

[2020-09-29 12:42] NicolasHug commented on #18448
Changing the tree values and the SWs from double to float would likely change the results of our users. We try to never introduce backward-incompatible changes, whether they break the API, or the results.

The way we usually introduce such changes is by introducing a new parameter to the estimator, so that users can opt-in for the new behavior, while others can just rely on the default which doesn

[2020-09-29 13:17] ogrisel commented on #18187
joblib is storing the input data for each subproblem as memory mapped files to share memory between the subprocess and the main process. For this specific workload is problem never useful because the data is never going to be same because the permutations are random and independent of one another.

[2020-09-29 14:00] ogrisel commented on #18187
Actually, looking at the code, using mmaping should be fine (and useful) because joblib.Parallel is called in the non permuted data and the permutation is applied on a copy of the data in the worker.

Maybe there is something wrong and low level only happening on windows. I need to investigate with a windows VM.

[2020-09-29 14:34] #18488 closed

[2020-09-29 14:59] cmarmo commented on #7142
As said in [#7156-comment](https://github.com/scikit-learn/scikit-learn/pull/7156#issuecomment-656040166) documentation has changed since this issue was opened. I'm closing it. Feel free to open a new one if the issue is still present in the new version.

[2020-09-29 14:59] #7142 closed

[2020-09-29 16:03] cmarmo commented on #8327
Fixed in #11275

[2020-09-29 16:03] #8327 closed

[2020-09-29 17:27] CricketScience opened #18494 "ColumnTransformer uses deprecated .loc behavior, broken in pandas 1.0.5?"
This line here

https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f871d60370/sklearn/compose/_column_transformer.py#L461

appears to run afoul of this

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-deprecate-loc-reindex-listlike

Which for me is raising an exception with pandas 1.0.5.  It seems weird that I'd be the only person with th

[2020-09-29 17:41] fuomag9 opened #18495 "TypeError: an integer is required (got type bytes) when importing image from sklearn.feature_extraction"
#### Describe the bug

python rises an exception `TypeError: an integer is required (got type bytes)` when importing image with `from sklearn.feature_extraction import image` (literally my first line of code)

#### Steps/Code to Reproduce

[code]

#### Expected Results

importing the module

#### Actual Results

exception, see stacktrace below:

[code]

#### Versions

[code]

[2020-09-29 17:58] marenwestermann commented on #14312
@srivathsa729 from my understanding yes. However, it would be good if one of the core developers could double check.

[2020-09-29 18:01] thomasjpfan commented on #18494
As for the deprecation, using a list of labels that is **missing** is deprecated. As for sklearn, we can do some more input validation, but I am unsure we would want more complexity in `_safe_indexing`.

Can you provide a reproducible code snippet of how you ran into this deprecation?

[2020-09-29 18:10] thomasjpfan commented on #18451
If you use a custom metric, does `force_all_finite` work as expected?

As for this issue, I think we should update the documentation to state that `force_all_finite` is ignored for `PAIRWISE_DISTANCE_FUNCTIONS` for the time being.

[2020-09-29 18:16] CricketScience commented on #18494
Yup, my bad.  It was definitely a bug in somebody else's code, just not
sklearn's.  Thanks.

On Tue, Sep 29, 2020 at 2:02 PM Thomas J. Fan <notifications@github.com>
wrote:

[2020-09-29 18:34] Xethan commented on #18490
Ok, I'll try to make a pull request tomorrow or later this week !
I think that `isinstance(v, BaseEstimator) and type(v) != type(init_params[k])` would be a good enough check and more concise.
It seems like it will be hard to make a non-regression test for this fix as functionality is unchanged, I saw that there are performance tests, do you think it would be possible to test this fix there ?

[2020-09-29 19:11] thomasjpfan commented on #18469
In this case, `keras.estimator.model_to_estimator` is not returning an estimator that subclasses `BaseEstimator`. I have heard that `keras.estimator.model_to_estimator` is not really kept up to date.

Have you looked into https://github.com/adriangb/scikeras to see if it works for you?

[2020-09-29 19:19] Erotemic opened #18497 "Extend binary clf metrics (precision recall, roc, etc...) to handle nuances of detection problems"
### Describe the workflow you want to enable

The current implementation of `_binary_clf_curve` provides the backbone for several common metrics, namely PR and ROC-curves. In its current form it works correctly for classification problems, but unfortunately it is not amenable to detection problems. This is partially due to the open-world nature of detection problems, yet people still are able to c

[2020-09-29 19:21] Erotemic commented on #16470
I would be in favor of this being a public method. Having access to raw `fps` and `tps` is very useful.

[2020-09-29 19:53] Ryo-not-rio commented on #18469
This looks like what I need. Thank you very much

[2020-09-29 19:53] #18469 closed

[2020-09-29 19:54] thomasjpfan commented on #18461
The following also works:

[code]

In your case, should we raise a more informative error that states that `missing_values` should be set to `None`?

[2020-09-30 06:43] cmarmo commented on #18494
Thanks @CricketScience for clarifying. I'm closing this then.

[2020-09-30 06:43] #18494 closed

[2020-09-30 11:26] rachittoshniwal opened #18498 "Document on how to use custom bin edges in KBinsDiscretizer"
#### Describe the workflow you want to enable

A parameter accepting custom bin edges as an array.

#### Describe your proposed solution

Use pd.cut() under the hood or any other computationally efficient method.

#### Describe alternatives you've considered, if relevant

pandas' cut function.

#### Additional context

Say if we need to bin ages as **'infant', 'kid', 'teen', 'adult', 'senior citiz

[2020-09-30 11:45] titigmr commented on #18498
I think is a good idea to create bins from `np.array` values but we need to wait an answer of a core developer for this issue. I can work on it if it is accepted.

Also, it's better that edge's bins take **strictly less than** or **less and equal**  values for the discretization?

[2020-09-30 12:02] glemaitre commented on #18498
One issue is that you will need to pass a list of arrays of length `n_features`. I don't know if it will be easy to deal with a high number of features.

ping @ogrisel

[2020-09-30 12:45] rachittoshniwal commented on #18498
Doesn't the same issue pop up with OrdinalEncoder when we pass in lists of ordered categories for each feature?

Secondly, the user was any way going to use pd.cut( ) and pass in list of arrays one feature at a time, and manually do it for the train and test sets separately.

It will simplify things for them as they can now automate the `transform` step for all the test set features which were bin

[2020-09-30 13:40] hanan-vian opened #18499 "inconsistency of number of features from feature_importance_ and previous transformation output"
#### Describe the bug

A pipeline is built from a ColumnTransformer followed by a model.
The number of features retrieved from the `feature_imporance_` property is different from the number of features if the transformer is called independently:
[code]
#### Steps/Code to Reproduce

I could not reproduce on synthetic data :-( Here is the model I have used which is essentially a pipeline of a column

[2020-09-30 18:56] just-linux commented on #15308
Hi, I would like to take this on, if it is not assigned or someone is not working on it.

[2020-09-30 19:18] cmarmo commented on #15308
@just-linux , thanks! And feel free to take this one.

[2020-09-30 21:19] just-linux commented on #15308
@cmarmo sure, thanks

[2020-10-01 00:10] detrojapradeep commented on #8501
umm is there anything i can do here or is the issue resolved.. I'm here for the hacktoberfest

[2020-10-01 06:49] cmarmo commented on #8501
Hi @detrojapradeep , the issue is still open.
The proposition here is to update the [SVM Margin example](https://scikit-learn.org/dev/auto_examples/svm/plot_svm_margin.html#sphx-glr-auto-examples-svm-plot-svm-margin-py) in order to plot SVM margin with the `contour` matplotlib function, as it has been done in [this notebook](https://github.com/jakevdp/PythonDataScienceHandbook/blob/master/notebook

[2020-10-01 10:09] rahulsnair commented on #6665
getting the same error now

[2020-10-01 10:13] jeremiedbb opened #18505 "NMF default init with 'mu' solver"
This issue discovered in #16948 has 2 parts.

- The default `init` for NMF is `None`, which corresponds to `"nndsvd"`. However there's this warning
[code]
which is not issued when `init` is left to `None`. If it's discouraged to use nndsvd with the multiplicative update, don't you think we should change the default to be `nndsvda` when solver == 'mu' ? We could keep None or name it "auto".

- Ther

[2020-10-01 10:43] cmarmo commented on #6665
Hi @rahulsnair , do you mind opening a new issue, with reproducible code, your traceback and the versions you are using? This issue is pretty old and the code has changed a lot. Thanks!

[2020-10-01 10:45] Chroxvi commented on #18448
@alfaro96 I would be happy to help test an option to use `float`` instead of `double`. Let me know if you have anything I should try out.

[2020-10-01 11:50] cozek commented on #16980
I want to take this issue. @cmarmo

I think we can add a new check to catch the `bytes` type because @jnothman mentioned that `bytes` is not a right target and was possibly never supported. Also we can modify the check for catching old sequence of sequence datatype by including an additional `is_multilabel(y)` to check if the passed labels are actually multilabel.
[code]

Another alternative would

[2020-10-01 12:08] jeremiedbb commented on #18461
np.unique can't deal with mixed typed arrays (dtype=object). The same error occurs is you do:
[code]

However for the purpose of just getting the most frequent, we don't need sorting (that unique does). Maybe we can try to fix `scipy.stats.mode` upstream, or do we just don't want to support mixed typed arrays ?

[2020-10-01 12:43] jnothman commented on #18499
At a guess you fit the pipeline on different data to what you're fitting
just the first step on here?

[2020-10-01 13:07] hanan-vian commented on #18499
Hi @jnothman, can you please rephrase? I don't understand your question.
I have found that if I just do `print(my_model.pipeline[0].transform(fm).shape)` instead of `print(my_model.pipeline[0].fit_transform(fm).shape)` it works. Something makes my transformation behave differently when it is within a pipeline and when it is not.

You can mark this as solved as far as I am concerned.

[2020-10-01 13:10] #18499 closed

[2020-10-01 13:10] jnothman commented on #18499
Yes, you fitted your Pipeline on different data

[2020-10-01 13:59] pplonski opened #18506 "Doubled `loss_curve_` and `t_` in the docs of MLPClassifier and MLPregressor"
#### Describe the issue linked to the documentation

Doubled `loss_curve_` and `t_` in the docs of MLPClassifier and MLPRegressor

https://github.com/scikit-learn/scikit-learn/blob/f7a8dd2877c90249506ac8ad0a3eea7306636105/sklearn/neural_network/_multilayer_perceptron.py#L871

 and

https://github.com/scikit-learn/scikit-learn/blob/f7a8dd2877c90249506ac8ad0a3eea7306636105/sklearn/neural_network/_mu

[2020-10-01 14:05] pplonski opened #18507 "Save training and vaildation loss in `loss_curve_` in MLPClassifier and MLPRegressor with early_stopping"
Let's select MLPClassifier.

In MLPClassifier there is `loss_curve_` available. If there is `early_stopping` enabled then some part of the data is used as validation. Can we save the loss of training and validation data in the `loss_curve_` as well?

#### Additional context

I've compared the MLP implementation with Tensorflow implementation and it works very well, there are no significant differe

[2020-10-01 14:48] cmarmo commented on #16980
Sure! Please go on!

I'm probably not the right person to advise about that...  I suggest you to open a pull request with your preferred option and an explicit error message and let core devs have a look on it. Thanks!

[2020-10-01 17:27] PGryllos commented on #18159
Hi, I currently have a very hard time understanding if there is way to pass a sample weight vector to my pipeline that contains a Transformed Regressor. If anyone could help that would be awesome

[2020-10-01 17:43] PGryllos commented on #18159
According to this https://github.com/scikit-learn/scikit-learn/pull/14890 it was my understanding that I should be able to do

[code]
but instead I get

[2020-10-01 17:47] TomDLT commented on #18505
- Initialization with "nndsvd" is bad for `solver="mu"`, we should have "nndsvdar". Actually it was intended to use "nndsvdar" in #4852, as seen in the original docstring [here](https://github.com/scikit-learn/scikit-learn/blob/ceeef700372a4aa3ec26b102561f6248a179c375/sklearn/decomposition/nmf.py#L112), but for some reason the implementation used "nndsvd" (my bad). We should definitely change the

[2020-10-01 18:04] cmarmo commented on #18505
Thanks @TomDLT! Do you mind if I take care of this one? This will help me in understanding the 'big picture'.

[2020-10-01 18:17] cmarmo commented on #18505
take

[2020-10-01 20:09] ceciliameireles opened #18511 "Can't find 'sklearn'?"
I have the following error:

in processAlgorithm
import sklearn

line 794, in _import
mod = _builtin_import(name, globals, locals, fromlist, level)

ModuleNotFoundError: No module named 'sklearn'

[2020-10-01 21:12] TomDLT commented on #18511
You seem to have an issue in your installation. How did you install scikit-learn ?
See [detailed install instructions](https://scikit-learn.org/stable/install.html).

[2020-10-01 23:31] eschibli opened #18513 "Request: set RFE and RFECV to check the last element of a Pipeline for .coef_ or .feature_importances_ by default"
#### Describe the workflow you want to enable
Currently, the following only works when specifying `importance_getter=(lambda x: x[-1].feature_importances_)` or similar.

rf_pipeline = Pipeline([('scaler', StandardScaler()), ('classifier', RandomForestClassifier())])
`feature_selector = RFECV(rf_pipeline, importance_getter=(lambda x: x[-1].feature_importances_))`
`feature_selector.fit(data, labels)

[2020-10-01 23:31] hkennyv commented on #17871
Thanks for raising this issue @MaxVanDeursen , I ran into this same wrinkle the other day. It's not explicitly clear what's going on either unless you dig into the implementation.

I think my vote would be for removing the `x_bounds` and making the default: `1.0 * RBF(1.0)`. This seems like the most sensible default and is consistent with the "de-facto default kernel for GPs" that is described in

[2020-10-02 00:51] reshamas opened #18515 "typo in AUC macro documentation model_evalution"
#### Describe the issue linked to the documentation

(cwjbrian50)

scikit-learn for providing a good service. The reason I write an email is
to report some typos.

As it is written in "
https://scikit-learn.org/stable/modules/model_evaluation.html#roc-metrics"
One-vs-one Algorithm, the multiclass macro AUC metric was defined in the
reference [HT2001]. But there is a double difference in macro ovo

[2020-10-02 03:47] just-linux commented on #15308
I have a patch that solves this, but it broke your ci with linting on test files that look like they were programmed to fail and python lines in config.py that exceeded line length.

Where do we go with this now, I closed the pull.

[2020-10-02 06:49] cmarmo commented on #15308
Hi @just-linux, lint issues are quite common, we can try to solve them together. I see you opened two pull requests and close them. Do you mind reopening your preferred one and [add a link to this issue](https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue) there? Thanks!

[2020-10-02 07:12] just-linux commented on #15308
I can to do that, but you would need to correct me forgetting a coma in
conf.py after sphinx-prompt.

I deleted it so ci wouldn't be a problem after watching the results.

John

On Fri, 2 Oct 2020, 1:49 am Chiara Marmo, <notifications@github.com> wrote:

[2020-10-02 08:08] alfaro96 commented on #18448
Hey @Chroxvi,

I am quite on busy right now, and I have had no time to have a look to the proposal in https://github.com/scikit-learn/scikit-learn/issues/18448#issuecomment-700676678.

I will try to have a look ASAP (probably on Monday), but feel free to open a PR solving this issue.

Thank you!

[2020-10-02 08:28] Chroxvi commented on #18448
Hey @alfaro96,

No worries.

I am just feeling a little uncomfortable digging into the somewhat complex Cython code in the tree algorithms in Scikit-Learn. You seem to have much more experience in this than I do, so I hope you can provide a proposal for a solution. Then I can try to help as much a possible with review, test, etc.

[2020-10-02 08:45] pplonski commented on #18506
@cmarmo sure, please assign me

[2020-10-02 08:57] glemaitre commented on #18513
As a side note, if we start to expose those for a Pipeline, we need to expose them as well for all meta-estimator.

[2020-10-02 08:59] glemaitre commented on #18513
And I am not sure that this is the way to go by recalling some comments for @jnothman https://github.com/scikit-learn/scikit-learn/issues/15312#issuecomment-545225566

[2020-10-02 09:02] glemaitre commented on #18507
This is related to a more general API question on how to include callback: https://github.com/scikit-learn/scikit-learn/pull/16925
Basically, callbacks would allow storing losses and should be generic enough for the different learners.

[2020-10-02 10:51] pplonski commented on #18507
Having callbacks will be super helpful. Do you know when they will be available?

In the current implementation, the loss curve is already available, but with loss values from train samples. In the case of early stopping, there should be a quick way to add validation loss as well.

[2020-10-02 11:37] glemaitre commented on #18507
I personnally did not follow the advancement of this feature and if there is any blocker regarding the API.
It will be probably too soon to expect it in 0.24 since we should release pretty soon but it might be a milestone for 0.25 then.

[2020-10-02 12:01] PGryllos commented on #18159
Nvm my comment above. I realised that this works

[code]

[2020-10-02 12:50] NicolasHug commented on #18513
I'd be -1 because we just implemented `importance_getter` which completely solves this use-case (as noted above).

Exposing `coef_` in the last step of a pipeline would be working backwards IMO: that'd be trying to make `Pipeline`s compatible with `RFE`, instead of making RFE compatible with pipelines (or any estimator for that matter). As @glemaitre noted pipelines aren't even the only estimator

[2020-10-02 12:55] NicolasHug commented on #18507
As a side note, we've decided to stop supporting additional features for the MLP module. I'd recommend to just use PyTorch or TF instead

[2020-10-02 13:06] ogrisel commented on #12444
I think having a self-tuning kernel by default is a nice feature and matches the "spirit" of the docstring. It might be considered a bug that it does not do so by default.

How many tests in the existing test suite would fail if we changed that?

[2020-10-02 13:09] pplonski commented on #18507
That's a strange decision sklearn MLP works pretty well. I did a comparison of MLP from sklearn vs Keras+TF. Sklearn MLP performs very well and was faster on CPU computations. Check the comparison here: https://mljar.com/blog/tensorflow-vs-scikit-learn/ Not all NN must be deep on computed on GPU.

[2020-10-02 13:13] klinnell commented on #12444
Hi,
I’m sorry- should I be responding to this?

Thanks,
Kelsey

On Oct 2, 2020, at 9:07 AM, Olivier Grisel <notifications@github.com> wrote:

﻿

I think the docs are a bit ambiguous, but I don't think we have any
motivation to change the behaviour. Please feel free to submit a pull
request clarifying the documentation.

I think having a self-tuning kernel by default is a nice feature and matches t

[2020-10-02 13:43] nasserboan commented on #18454
Hello @rola93! Nice addition, have you made any pull request with this code? I'm interested in helping with this implementation.

[2020-10-02 15:06] rola93 commented on #18454
I don't see it as a hard feature to implement but the most important to consider is: is it useful? I think yes. Is this output format ok? not that sure on that point.

I haven't written anything yet, I was waiting some community feedback before. Glad to read from you!

Just to bear in mind,the following is the output for `classification_report`:

[code]

[2020-10-02 15:23] Ratansingh648 commented on #18454
Hi @rola93 , @nasserboan
I have already started implementing this feature today. Will send a pull request soon.
Investigating if some more attributes that are used commonly can be added to this.

Thanks !

[2020-10-02 16:33] hkennyv commented on #12444
@ogrisel I agree that having the kernel adapt was my expected behavior when using this. I removed the "fixed" bounds from the default kernel and ran the test suite and it seems like no tests are breaking and the doc examples pass (unless I'm not testing another affected module):

[code]

However, I did notice that there's this test that would probably have to change if we decide to change the defa

[2020-10-02 16:46] NicolasHug commented on #18454
Thanks for your interest everyone but it is too early to propose PRs for now, since no core dev has expressed support towards this.

I'm personally not sold on the usefulness of this yet: it seems like it's a pretty simple helper (in contrast to `classification_report` which is more complex) and we tend not to include these in the core library.

[2020-10-02 16:47] PhilipMay commented on #12632
Well - closing it...

[2020-10-02 16:47] #12632 closed

[2020-10-02 17:03] markusloecher commented on #18468
Can you reopen the issue ? I would also like to know a way to manually post-prune a tree, because there are more ways than cost-complexity-pruning ! The stackoverflow post explicitly mentiones "e.g. requiring a minimum sample size which depends on the node depth." which cannot be achieved with ccp_alpha.
Thanks!

[2020-10-02 17:33] glemaitre commented on #18468
This is a methodological question that should not be discussed on GitHub but rather on SO, gitter or the scikit-learn mailing list.
I gently closed this issue by providing a link to the current and only implementation of tree post-pruning in scikit-learn.

However, we would be welcoming a new issue requiring a "New feature" which would implement a new post-pruning method together with proper refer

[2020-10-02 17:40] #18506 closed

[2020-10-02 18:15] WreckItTim opened #18523 "log_loss() when y_true is all 0 or all 1"
This was probably intentional, but log_loss should work when passing an array of labels that are all 0 or 1. I am using log_loss on multiple samples in my dataset. Some samples are only 0 or 1. The dataset as a whole is a mix of 0s and 1s. However, I need to debug which samples have lowest loss. I can't use the log_loss function with each sample because sklearn throws an error when it should proba

[2020-10-02 19:44] lorentzenchr commented on #18498
I'm in favour to offer a manual setup for bins. In my experience, this is important for use cases of just one or a few features that you want to bin yourself, often together with a `ColumnTransformer`.

The `SplineTransformer` of PR #18368 supports this, i.e. manually specifying bins (there it is knot positions). Note that `SplineTransformer(degree=0, n_knots=n_bins+1)` is equivalent to `KBinsDisc

[2020-10-02 21:23] markusloecher commented on #18468
Thanks a lot for the helpful answer. I would love a new feature request but at this point our idea of pruning based on complex metrics is purely experimental and we are trying out many ways. So we would not be able to provide exact details or references. We would simply benefit greatly if we could prune a tree manually.
And the link seems to provide the `cost_complexity_pruning_path` function whic

[2020-10-02 21:25] markusloecher commented on #18468
We do have code that successfully prunes a tree by setting the pointers to selected children to TREE_LEAF. But we want to go one step further and actually remove the pruned child nodes as we worry that other routines might end up using those (by not traversing the tree following the pointers)

[2020-10-02 21:36] moi90 opened #18524 "sklearn.metrics.silhouette_samples does not work with sparse matrices"
#### Describe the bug

`silhouette_samples(X, y, metric="precomputed")` fails with `ValueError: diag requires an array of at least two dimensions` if X is sparse.

#### Steps/Code to Reproduce

[code]

#### Expected Results
No error is thrown.

#### Actual Results
[code]

#### Possible fix
Change `np.diagonal(X)` to `X.diagonal()`, because this is implemented for `numpy.ndarray` as well as `scipy.

[2020-10-03 09:03] ZviBaratz commented on #18495
I have the same issue trying to import `mutual_info_score()` from `metrics`.

[2020-10-03 09:10] ZviBaratz commented on #18495
The error seems to happen in Python 3.8 but not 3.7. It seems like something similar happened with PySpark recently according to [this SO post](https://stackoverflow.com/questions/58700384/how-to-fix-typeerror-an-integer-is-required-got-type-bytes-error-when-tryin).

[2020-10-03 12:55] sebimarkgraf commented on #18495
The bug is an old shipping of the ´´joblib´´ package. https://github.com/joblib/joblib/issues/917.

This was already handled in https://github.com/scikit-learn/scikit-learn/issues/15800.

Please check your ``sklearn`` and ``joblib`` versions.

[2020-10-03 12:59] fuomag9 commented on #18495
Thank you, this was indeed fixed by upgrading joblib. The issue is that joblib requirements are `>=0.11` so it will not automatically update when upgrading sklearn and it will cause this issue

[2020-10-03 13:00] #18495 closed

[2020-10-03 16:22] NicolasHug commented on #15880
Looks like there's no strong opposition to using 2 class methods, so let's do that. We'll need to:

- Introduce the class methods for the currently existing plots:
	- `ConfusionMatrixDisplay`
	- `PrecisionRecallDisplay`
	- `RocCurveDisplay`
	- `DetCurveDisplay`
	- `PartialDependenceDisplay`. For this one, we don't want to introduce the `from_predictions` classmethod because it would not make sense

[2020-10-03 16:24] lucyleeow commented on #15880
Thanks for making the decision @NicolasHug! I'll get onto #17443

[2020-10-04 01:36] vbartle opened #18529 ""It seems that scikit-learn cannot be built with OpenMP support.""
#### Describe the bug
Have installed libomp but get error from a scikit-learn install step that it cannot be installed with OMP.

#### Steps/Code to Reproduce
`pip install snorkel`
#### Expected Results
Successful install.

#### Actual Results

[code]
#### Versions
`python -c "import sklearn; sklearn.show_versions()"`
[code]

[2020-10-04 14:38] Dobiasd opened #18530 "Are predictions on scikit-learn models thread-safe?"
Given some classifier (SVC/Forest/NN/whatever) is it safe to call `.predict` on the same instance concurrently from different threads?

From a distant point of view, my guess is they do not mutate any internal state. But I did not find anything in the docs about it.

Here is a minimal example showing what I mean:

[code]

[2020-10-04 16:22] mas1 opened #18531 "Ward linkage ValueError with l2 affinity (Agglomerative Clustering)"
#### Describe the bug
When using sklearn.cluster.AgglomerativeClustering, a ValueError "Ward can only work with euclidean distances." is thrown when using ward linkage and l2 affinity. l2 should **also** work since it is the same thing as euclidean. This is a quite simple problem and I have a fix ready to submit a pull request.

#### Steps/Code to Reproduce
To simply reproduce with no imports. (se

[2020-10-04 16:35] lorentzenchr commented on #18338
that would break otherwise

Help wanted:smiley:

[2020-10-04 20:12] marrodion commented on #13621
Anyone mind if I pick this issue up?
Seems that #15239 together with the https://github.com/scikit-learn/scikit-learn/issues/13621#issuecomment-600894432 code in  has an implementation already and only unit tests are left to do.

[2020-10-04 23:12] jnothman commented on #17871
Let's start by changing the docs to match/clarify the reality, then we can
consider a change of default behaviour later / at the same time.

[2020-10-04 23:18] #18513 closed

[2020-10-04 23:22] jnothman commented on #18454
My concern is not that it's simple. I like it in many ways, and it solves problems similar to #12385. But I'm not comfortable with it because it, and classification_report, are hard to use with our model selection routines, and I don't think it ideal to encourage the use of so many competing metrics on a test set.

[2020-10-04 23:25] jnothman commented on #18498
One reason we have not supported manual bins is that it should be
equivalently available using FunctionTransformer with something like
pd.cut. Do we need to add a transformer for this purpose?

[2020-10-04 23:35] jnothman commented on #18530
This should usually be the case, but to formally confirm for all estimators
may require an audit.

[2020-10-05 01:35] hkennyv commented on #17871
Thanks for the guidance, I'm going to [link my comment](https://github.com/scikit-learn/scikit-learn/issues/12444#issuecomment-702833531) I made on a similar issue (#12444) where i ran the unit tests after changing the default behavior. It looks like the tests passed for:

* `pytest sklearn/gaussian_process`
* `pytest doc/modules/gaussian_process.rst`

but quite a few of them fail for:

* `pytest

[2020-10-05 05:59] Dobiasd commented on #18530
@jnothman Thanks. I think it would be cool if the documentation could explicitly state that `.predict` is either thread-safe, or not thread-safe, or that the thread-safety is unknown and one should avoid concurrent calls to be sure. :)

[2020-10-05 07:40] joaquinvanschoren opened #18532 "Wrong explanation in SVM example?"
#### Describe the issue linked to the documentation

I was reading this example from the sklearn website:
https://scikit-learn.org/stable/auto_examples/svm/plot_rbf_parameters.html

It says that: "for some intermediate values of gamma we get equally performing models when C becomes very large: it is not necessary to regularize by enforcing a larger margin. The radius of the RBF kernel alone acts a

[2020-10-05 09:59] imsanjoykb opened #18533 "Get a list of wrong predictions in scikit-learn?"
It depends on what form you want the incorrect predictions to be in. For most use cases a confusion matrix should be sufficient.

A confusion matrix is a plot of the actual class vs the predicted class, such that the diagonal of the graph is all of the correct predictions, and the remaining cells are the incorrect predictions.

Confusion Matrix

You can see a better example of a confusion matrix o

[2020-10-05 10:06] glemaitre commented on #18529
From what I can see, `snorkel` requires scikit-learn <= 0.22: https://github.com/snorkel-team/snorkel/blob/master/requirements.txt#L20

You did install scikit-learn 0.23.2 from the wheel.
So `snorkel` will uninstall and reinstall a compatible version. One thing that I am not sure is why `pip` try to install from source while we should have wheel for MacOS and Python 3.8.

Anyway, in scikit-learn 0

[2020-10-05 10:07] glemaitre commented on #18529
I am closing the issue since we don't have to address it but feel free to continue commenting if you encountered other issue linked to scikit-learn while installing.

[2020-10-05 10:07] #18529 closed

[2020-10-05 10:13] glemaitre commented on #18523
The error raised seem explicit:

[code]
You need to provide the `labels` argument to remove the ambuiguity:
[code]

[2020-10-05 10:13] #18523 closed

[2020-10-05 10:19] glemaitre commented on #18530
ping @ogrisel I am actually not thinking of anything making it not thread-safe at predict.

[2020-10-05 10:23] glemaitre commented on #18533
Spam

[2020-10-05 10:23] #18533 closed

[2020-10-05 12:00] zoidberg77 opened #18534 "sklearn AgglomerativeClustering ValueError: Precomputed metric requires shape (n_queries, n_indexed)"
So I am currently trying to use AgglomerativeClustering with a connectivity matrix from sklearn NearestNeighbors and a precomputed distance matrix as X.

[code]

I get the following error when I try to fit my distance matrix
[code]

The shape of the connectivity matrix is (11200, 11200) and for the distance matrix (11200, 11200). I also already tried to delete the diagonal from the distance matrix

[2020-10-05 12:31] disha4u commented on #14312
I will take up ElasticNet

[2020-10-05 13:14] NicolasHug commented on #18530
might be a good common check?

[2020-10-05 13:29] NicolasHug commented on #18532
Thanks @joaquinvanschoren , I agree with most of your suggestions, but I think we should keep the note about *prediction time*: higher C -> less regularization -> smaller margin -> fewer SVs -> faster predictions, because the prediction only involves the SVs as described here https://scikit-learn.org/stable/modules/svm.html#svc

Regarding

would you have a ref for the complexity? I assume this cou

[2020-10-05 14:49] rola93 commented on #18454
Agree on that, but don't see it as a reason for not to implement it: classification report is very useful to get multiple metrics (and views) on one single  function. I've never used it otherwise. Making it available doesn't mean encouraging people to use it for model selection. From this point of view, the feature is already available for classification but not for regression, and as I see it, th

[2020-10-05 14:53] joaquinvanschoren commented on #18532
What you state above is correct, of course :).

My main point was that the current text states the opposite: it says that lower C is faster to predict. A lower C would gain more SVs hence be slower to predict.

I would still move that sentence to another paragraph (if you like to keep it) because this paragraph discusses the region where the solution remains the same and you still increase C. In t

[2020-10-05 15:35] maikia opened #18535 "TypeError when using X dtype < 64 in _incremental_weighted_mean_and_var"
When running `_incremental_weighted_mean_and_var` from `sklear.utils.extmath` with `X.dtype float < 64` I am receiving `TypeError: _average_dispatcher() got an unexpected keyword argument 'dtype'`.

I am not sure if it's a bug coming from `_incremental_weighted_mean_and_var` or from `_safe_accumulator_op` (in the same file).

Code reproducing this error:

[code]

(I am using this for #18510)

@ogr

[2020-10-05 16:04] thomasjpfan commented on #18534
Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal.

For this specific case, can you specify how `dist_mtrx_dense` was constructed in code?

[2020-10-05 16:13] thomasjpfan commented on #18524
Adding the `__array_function__` protocol to scipy sparse arrays was discussed and turned down here: https://github.com/scipy/scipy/issues/10362

As for this issue, even without the diagonal check, we would need to rework `pairwise_distances_chunked` to something that makes sense for sparse matrices.

[2020-10-05 16:16] NicolasHug commented on #18532
Thanks for the refs.

Agreed. Maybe we could keep all of your suggested paragraph and append a general statement like:

I'm happy to review a PR!

[2020-10-05 16:25] ogrisel commented on #18535
I updated the issue description to include the traceback I got with the reproducer.

So the problem is that `np.average` does not accept a dtype argument. I think we can just remove `_safe_accumulator_op` from this line and call `np.average` directly and then cast the result to `float64`.

[2020-10-05 16:26] thomasjpfan commented on #15880
I have no objections.

[2020-10-05 16:31] maikia commented on #18535
ok. thanks @ogrisel  I will do it now

[2020-10-05 16:52] atwahsz commented on #18186
Any luck ? Did this see light ?

[2020-10-05 17:58] Akintola-Stephen commented on #18511
@
@ceciliameireles I think you need to install again else,  try writing it in this format from sklearn import ..... (Name of library)

[2020-10-05 18:59] glemaitre commented on #18530
I would be in favour adding documentation and common tests (if applicable) indeed.

[2020-10-05 19:00] glemaitre commented on #18511
I am closing this issue since there are no additional helpful information.

[2020-10-05 19:00] #18511 closed

[2020-10-05 20:14] joaquinvanschoren commented on #18532
Hi @NicolasHug, PR is ready: https://github.com/scikit-learn/scikit-learn/pull/18538

[2020-10-05 20:36] jnothman commented on #18534
Thanks for the report. Could you please provide a fully reproducible code
snippet? Thanks

[2020-10-05 22:08] #18532 closed

[2020-10-06 01:09] trewaite commented on #18443
Hey @nkelly13, if you comment with the single word "take" the bot will assign the task to you at which point you can develop and make a pull request when ready. Make sure to follow the contribution guidelines 😄.

[2020-10-06 03:14] AnshuTrivedi commented on #18432
@thomasjpfan I have done search work also used code to claim it is wrong  `such as the RBF kernel of Support Vector Machines assume that all features are centred around zero ` .
Should i make change  in docs?
Thanks @xtomasch .

[2020-10-06 06:22] newTypeGeek opened #18540 "RandomForestRegressor Criterion"
For `sklearn` **version 0.23.2**,  the parameter `criterion` of `RandomForestRegressor`  only supports `mse` and `mae`. Is there any plan to extend these two options for a general quantile (e.g. 95% quantile, 25% quantile ... etc), such that a prediction interval can be made for random forest regression ?

[2020-10-06 08:01] glemaitre commented on #15880
No objection as well.

[2020-10-06 08:05] glemaitre commented on #15880
I will take care of the other classes then and advance my stalled PR.
@lucyleeow in case I did not do all of those and you are searching for some PRs, ping me :)

[2020-10-06 08:21] DaveJacques opened #18541 "Refit incorrectly mentioned in cross_validate()"
#### Describe the issue linked to the documentation
In the documentation for [cross_validate](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_validate.html), the `error_score` parameter says:

But to my understanding, a refit step doesn't occur.

See here for my post on SO and someone's [answer](https://stackoverflow.com/questions/64174739/why-does-sklearn-cross-val

[2020-10-06 08:22] joanlofe commented on #16962
This feature will be very useful.

[2020-10-06 08:38] assaftibm opened #18542 "Adding sequential Information Bottleneck (sIB)"
Hi,

I'm Assaf from IBM Research. We recently open-sourced our new implementation of the clustering algorithm, sequential information Bottleneck (sIB), and I thought that it could be a useful addition to SciKit-Learn.

The repository is [this](https://github.com/IBM/sib) and a link to the academic paper describing the algorithm can be found [here](https://dl.acm.org/doi/abs/10.1145/564376.564401)

[2020-10-06 08:48] tash149 commented on #18305
Hey @jnothman can you please help me with open source contributions to projects pertaining to machine learning. I have worked on research projects though I have never contributed to all these projects. Also all the issues seem so overwhelming I can't decide where to begin with

[2020-10-06 11:52] NicolasHug commented on #18541
thanks @DaveJacques , would you like to open a PR to remove this?

[2020-10-06 11:53] NicolasHug commented on #18540
There's no plan to include a quantile criterion as far as I know (unless @lorentzenchr had this in his backlog?)

But I think we discussed implementing a quantile loss in HistGradientBoostingRegressor before. there was also https://github.com/scikit-learn/scikit-learn/issues/11086

[2020-10-06 13:22] pzelasko commented on #15880
I'd love to contribute but I'm engaged in too many projects at this time. Thanks for listening to the suggestions!

[2020-10-06 13:49] nkelly13 commented on #18443
take

[2020-10-06 14:46] thomasjpfan commented on #18432
@AnshuTrivedi you may open a PR to update the docs to make this point more clear. I would prefer to keep the theme of the section: "Scaling is important". Maybe adding "and/or" would be good enough here:

[2020-10-06 14:56] cmarmo opened #18546 "Add a check for consistency when internal links or anchors are modified in the documentation"
Modifying internal links or anchors in the documentation might produce sphinx warnings due to inconsistencies in cross-references (see eg, [this comment](https://github.com/scikit-learn/scikit-learn/pull/18537#issuecomment-704256520) in #18537). This will make fail the documentation build.
Is there a way to check the documentation on those kind of modification?

[2020-10-06 15:39] AnshuTrivedi commented on #18432
@thomasjpfan  as rbf kernel of SVM doesn't need 0 centered features. I think using `may`  be be good as to indicate it is not neccessary.
doc changes as :
such as the RBF kernel of Support Vector Machines or the l1 and l2 regularizers of linear models)  **`may`** assume that all features are centered around zero **`and/or`** have variance in the same order.

[2020-10-06 15:56] thomasjpfan commented on #18432
@AnshuTrivedi I would be happy to review a PR with these documentation changes.

[2020-10-06 18:20] Ankit810 commented on #18541
Hi @NicolasHug can I work on this issue?
Just remove this line right?
"This parameter does not affect the refit step, which will always raise the error."

[2020-10-06 18:21] NicolasHug commented on #18541
Yes @Ankit810 , thanks!

[2020-10-06 18:22] Ankit810 commented on #18541
take

[2020-10-06 18:28] Ankit810 commented on #18541
@NicolasHug can you please help me by letting know where exactly this portion is located in the doc?

[2020-10-06 20:20] MaximeKan opened #18550 "Bug: VotingClassifier does not support estimators using class_weight"
When using `VotingClassifier`, the estimators used inside cannot use the  `class_weight` parameter. The reason for that, I believe, is that `VotingClassifier` is encoding the labels before passing them to the single estimators, but not encoding the labels in `class_weight`. This throws a `ValueError: Class label <> not present`.

As a matter of fact, I wonder why this encoding would even happen in

[2020-10-06 20:47] #15144 closed

[2020-10-06 20:56] NicolasHug commented on #18546
On top of the doc issues, we should avoid changing the anchor points because this also changes the URLs and therefore it may break external links that point to our website (see https://github.com/scikit-learn/scikit-learn/pull/18551)

[2020-10-06 21:27] lorentzenchr commented on #18540
I don't have it on my personal roadmap. But I'd be interested in exploring the idea. The MAE loss for trees is non-trivial. How much code change would it require, is there some elegant way? If we decide to have quantile regression, with which model type would we start?

Note that quantiles do **NOT** give you prediction intervals, only estimates/predictions over the target distribution, i.e. it is

[2020-10-06 21:29] lorentzenchr commented on #18498
It would just be an additional argument. If we decide against, it would be good to give an example with the `FunctionTransformer`.

[2020-10-07 01:24] kylegilde opened #18552 "add separator argument to onehotencoder.get_feature_names method"
I would like to be able to specify the separating characters between the feature name and feature value, so that I can reliably split on these separating characters to obtain the original feature name.

Currently, a single underscore is hardcoded, but I would like to be able to specify a character sequence that is not likely to appear in the feature values, e.g. double underscores.

Thanks

[2020-10-07 01:37] kylegilde opened #18553 "add 'most_frequent' `drop` method to OneHotEncoder"
I would like to propose adding a 'most_frequent' method as one of the `drop` parameter options in OneHotEncoder.

I find that using the most frequent value as the reference level aids with interpreting the newly created OHE features. The 'first' method is not very intuitive.

I would also be helpful if a `drop_levels_` attribute was included. Thanks

[2020-10-07 03:20] rishi1999 opened #18554 "sklearn.utils.extmath.randomized_svd random_state default value incorrect"
#### Describe the bug
The documentation for the `randomized_svd` function describes the default value for the `random_state` parameter as `None`, but in reality, the default value is `0`. The default value should be changed to `None`, so that the random seed isn't fixed by default.

#### Steps/Code to Reproduce
[code]

#### Expected Results
[code]

#### Actual Results
[code]

#### Versions
System:

[2020-10-07 07:30] alfaro96 commented on #18550
I can confirm the bug on the `master` branch.

[2020-10-07 07:32] alfaro96 commented on #18550
The involved code snippet is:

https://github.com/scikit-learn/scikit-learn/blob/e2583d45f76421fb3efcb4529adab553ca840704/sklearn/ensemble/_voting.py#L288-L290

[2020-10-07 10:55] jnothman commented on #18530
It's not possible to test thread safety deterministically, so it might be a
bad pick for a common test.

[2020-10-07 11:35] RamyaNP commented on #18515
Hi, I'm new to contributing to open source. i wanted to try and help fix this issue.
If no one else is working on this, may I?

[2020-10-07 12:15] #18541 closed

[2020-10-07 12:17] reshamas commented on #18515
@RamyaNP Sure, go for it.

[2020-10-07 12:53] RamyaNP commented on #18515
@reshamas
I went over the documentation page and the reference page that had been mentioned in the issue. But I am unclear on what

means. Could I get a little more elaboration on that?

[2020-10-07 13:04] reshamas commented on #18515
I copied this issue over from the mailing list. I would have to examine it more closely to work on it, and unfortunately don't have the time to look more closely.

[2020-10-07 13:11] thomasjpfan commented on #18515
The two here should be a one:

<img width="370" alt="Screen Shot 2020-10-07 at 9 09 37 AM" src="https://user-images.githubusercontent.com/5402633/95335115-fa1b6b80-087c-11eb-9714-0b898438ea77.png">

Same for the weighted case.

[2020-10-07 13:21] Phaide commented on #17788
Could not reproduce either on Windows 10 x64 (with scikit-learn 0.23.2 and specified numpy, scipy and matplotlib versions).

[2020-10-07 14:32] thomasjpfan commented on #18554
In this meantime, the docstring is incorrect and should be adjusted. As for actually changing the default, we would need to discuss if we want to do this and also go through a [deprecation cycle](https://scikit-learn.org/stable/developers/contributing.html#maintaining-backwards-compatibility).

@rishi1999 Are you interested in opening a PR to update the docstring?

[2020-10-07 14:49] rishi1999 commented on #18554
Sure, will do!

[2020-10-07 15:43] swight-prc opened #18558 "sklearn.pipeline.Pipeline - unable to test score"
#### Describe the bug

Because of the use of Lambda functions in the wrappers around Pipeline.score, it is impossible to test whether the model's score function is itself.
#### Steps/Code to Reproduce

##### metrics.py
[code]
##### test_metrics.py
###### testing using pytest
[code]

#### Expected Results

[code]
#### Actual Results

[code]

#### Versions

[code]

[2020-10-07 16:17] rishi1999 commented on #18554
The glossary states that "None" is the default value for `random_state`. So, making this change will result in a minor inconsistency. Should I still go ahead with it?

[2020-10-07 16:22] RamyaNP commented on #18515
Thank you @thomasjpfan
I've made changes accordingly, please tell me if what I have done works.

[2020-10-07 16:26] thomasjpfan commented on #18554
Yes. In this case, it is important for the docstring to match the code.

[2020-10-07 17:07] animuku opened #18560 "sklearn.neural_network.MLPRegressor - Unable to generate accuracy score"
#### Describe the bug

#### Steps/Code to Reproduce

[code]

#### Expected Results

#### Actual Results

#### Versions

[2020-10-07 17:07] #18560 closed

[2020-10-07 17:15] animuku opened #18561 "sklearn.neural_network.MLPRegressor - unable to calculate accuracy score"
#### Describe the bug
Hi! This is my first time raising an issue on GitHub. I am using the MLPRegressor to generate a binary class multioutput prediction for my problem. Once I get my prediction, I round all the values using numpy.round(). After this, I try to use sklearn.metrics.accuracy_score when I get the following error-

ValueError: Classification metrics can't handle a mix of multilabel-ind

[2020-10-07 17:24] thomasjpfan commented on #18550
For us to be backward compatible, we would need to add a new parameter to `VotingClassifier` to control if `y` is encoded before sending them to the inner estimators.

The reason I see for encoding in `VotingClassifer` is to make sure that each inner estimator has the same encoding of the labels. i.e. what if one estimator encodes "a" -> 0, "b" -> 1 and another does "a" -> 1, "b" -> 0.

As for the

[2020-10-07 17:27] DanilZherebtsov opened #18562 "RandomizedSearchCV is not releasing cores after fit with n_jobs = -1"
After fitting a RandomizedSearchCV using all the available cores, my activity monitor keeps showing all those idle cores as being utilised by python. This significantly loads my system not allowing to perform further trainings.

[code]

And these are the running cores after the fit is complete, and they stay there until I reset the console:
<img width="418" alt="Screenshot 2020-10-07 at 20 08 13"

[2020-10-07 17:35] NicolasHug commented on #18561
You're trying to compute an accuracy score on a regression task?

[2020-10-07 17:38] NicolasHug commented on #18562
Do you observe the same with a builtin scikit-learn estimator, e.g. RandomForestRegressor?

As a side note, I would recommend setting `n_jobs` for either the base estimator `XGBRegressor` or for `RandomizedSearchCV`, but not both.

[2020-10-07 17:45] DanilZherebtsov commented on #18562
Tried setting the n_jobs for XGBRegressor to 1 and for RandomizedSearchCV to -1, same result.

And just running XGBRegressor(n_jobs = -1) individually without GridSearchCV does not load up additional cores, as n_jobs parameter for the estimator I believe is multithreading, not multiprocessing

[2020-10-07 17:46] NicolasHug commented on #18558
Sorry, I don't understand.

Is this what you're trying to illustrate?

[code]

[2020-10-07 17:47] glemaitre commented on #18561
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

In short, if your problem is a classification problem, then you should use a classifier and classification metric.

[2020-10-07 17:47] #18561 closed

[2020-10-07 17:47] NicolasHug commented on #18562
Do you observe the same with a builtin scikit-learn estimator, e.g. RandomForestRegressor?

[2020-10-07 17:49] NicolasHug commented on #18562
Also please make sure to update scikit-learn to its latest version, as well as joblib

[2020-10-07 17:50] swight-prc commented on #18558
Yeah, I guess that would've been a simpler way to do that!

On Wed, Oct 7, 2020, 12:46 PM Nicolas Hug <notifications@github.com> wrote:

--
This message is intended for the addressee only and may contain Paragon
Research Corporation (PRC) confidential or privileged information.  Use or
distribution of such confidential information is strictly prohibited
without the prior written permission of PRC.

[2020-10-07 18:00] NicolasHug commented on #18558
I agree this is a bit surprising, but I'm not sure there's much we can do here, because this is basically an implementation detail

As a workaround, maybe you could just check the `__code__` attribute?

[code]

There's some info in https://stackoverflow.com/questions/20059011/check-if-two-python-functions-are-equal as well

[2020-10-07 18:03] NicolasHug commented on #17788
Thanks @glemaitre and @Phaide for trying to reproduce the bug. @hewenkui can you try again with the latest version and confirm whether you still observe the exception? thanks

[2020-10-07 18:53] swight-prc commented on #18558
Looks like a good way to do that. Thanks!

With a reasonable workaround and, I agree, a deep issue that isn't likely to be changed easily (but also isn't likely to affect many people), I'm going to close this issue.

[2020-10-07 18:53] #18558 closed

[2020-10-07 19:59] amueller commented on #15880
Sounds good :)

[2020-10-07 20:21] DanilZherebtsov commented on #18562
Upgraded to 0.23.2, same old...

[2020-10-07 21:21] EdDewey opened #18565 "Error in documentation of HistGradientBoostingClassifier.monotonic_cst"
There is a contradiction between

https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.HistGradientBoostingClassifier.html:

and https://scikit-learn.org/stable/modules/ensemble.html#monotonic-cst-gbdt

[2020-10-07 22:41] jnothman commented on #18562
As requested above, please confirm that this result can be reproduced with
a different estimator: it might be a bad interaction between xgb and joblib.

[2020-10-07 23:44] reshamas opened #18566 "Add link to videos for getting started in contributing"
#### Describe the issue linked to the documentation
Add link to videos for getting started in contributing

#### Suggest a potential alternative/fix
In this file:  https://github.com/scikit-learn/scikit-learn/blob/d01014c3198aafa336d9f8ed306f292d68c4a886/doc/developers/contributing.rst

add a sub-section called "Resources" 
- after "Contributing code" / "note"
- before "How to contribute"

Resourc

[2020-10-08 01:00] tariqul-islam opened #18567 "bug: sklearn.manifold.turstworthiness outputs values larger than 1"
The trustworthiness computation might be erroneous as for some cases I can see that it is providing values that are larger than 1.

Here is a code snippet that produces value larger than 1 in my machine:

[code]
The output is:
[code]

System:
    python: 3.6.9 (default, Jul 17 2020, 12:50:27)  [GCC 8.4.0]
executable: /usr/bin/python3
   machine: Linux-5.4.0-47-generic-x86_64-with-Ubuntu-18.04-bion

[2020-10-08 04:26] Ankit810 commented on #18566
Hi! Can I work on this issue?

[2020-10-08 04:28] Ankit810 commented on #18565
Hi! Can I work on this issue?

[2020-10-08 08:18] moi90 opened #18568 "MiniBatchKMeans uses all training instances"
See https://github.com/scikit-learn/scikit-learn/blob/18a48416670d864a82af8c3d6d4f2c165eeacf45/sklearn/cluster/_kmeans.py#L1678

The comment says:

However, the function call then uses all training instances: `self._init_centroids(X, ...)`

Is the error in the comment or in the code?

[2020-10-08 09:40] moi90 commented on #18568
No bug here, I overlooked the `init_size` parameter. I'm very sorry!

[2020-10-08 09:40] #18568 closed

[2020-10-08 11:16] reshamas commented on #18566
Yes, go for it.

[2020-10-08 12:48] #18490 closed

[2020-10-08 13:09] cmarmo commented on #8695
Fixed in #17598 via #18570.

[2020-10-08 13:09] #8695 closed

[2020-10-08 13:33] cmarmo commented on #18546
@NicolasHug I don't particularly like the idea of adding complexity to the build checks, so maybe we could just agree about not changing anchors and adding a note in the [contributing guidelines](https://scikit-learn.org/stable/developers/contributing.html#documentation)?

[2020-10-08 13:43] NicolasHug commented on #18546
I agree regarding build checks. I doubt it will really help prevent them, but yeah we can add a short note in the guidelines, doesn't hurt

[2020-10-08 13:54] thomasjpfan commented on #18565
@Ankit810 You can work on this. Flipping the two words would be enough here:

`HistGradientBoostingRegressor` would been to be updated as well.

[2020-10-08 14:06] Ankit810 commented on #18565
Thank you so much @thomasjpfan !

[2020-10-08 14:06] Ankit810 commented on #18565
take

[2020-10-08 15:27] glemaitre commented on #18552
Maybe a workaround is to pass the input feature with the separator in `input_feature`.
Since we are generalizing the `get_feature_names_out` for all transformer, I am wondering if we should add a `separator` argument. I am not sure it is applicable everywhere.

FYI: `get_feature_names` will be deprecated in the favor of `get_feature_names_out`: https://github.com/scikit-learn/scikit-learn/pull/184

[2020-10-08 15:36] glemaitre opened #18573 "Implementation of incremental weighted mean and variance for dense case"
#18447 introduce an implementation of the incremental weighted mean and variance.
Previously, we already had an implementation that was not supporting `sample_weight`.

Looking at the code, they just are 2 different implementations but I am almost sure that the initial code that we have could be adapted and accept `sample_weight` (i.e. basically replace the count by frequencies). Unweighted mean a

[2020-10-08 15:51] glemaitre commented on #18542
Regarding the integration, I don't know the algorithm to know if it is worth to integrate it. ping @amueller @GaelVaroquaux @agramfort @jnothman who could have better ideas regarding the scope.

If we accept to integrate the method, we will need to move the C++ code to a Cython version for maintainability and integration (even at the cost of a small performance drop).

[2020-10-08 15:59] rth commented on #18573
So if I understand correctly that would mean removing `_incremental_mean_and_var` altogether and always using `_incremental_weighted_mean_and_var` mostly with `sample_weight=np.ones(n_samples)`. That would be around 2x slower when sample_weight=None, but I probably still fast enough,

<details>

[code]

</details>

 `_incremental_mean_and_var` is currently simpler and more readable and assuming `_

[2020-10-08 15:59] GaelVaroquaux commented on #18542
The information bottleneck is a loose conceptual framework, rather than a
precise algorithm. It is instantiated in a huge variety of different
algorithms, but none of them are state of art for a given task. I do not
think that it has its place in scikit-learn: it's more a research
endeavior.

[2020-10-08 16:08] cmarmo commented on #16642
Hi @QuantumChamploo, I think this is the expected behavior. From the [documentation](https://scikit-learn.org/stable/modules/ensemble.html#adaboost):

[2020-10-08 16:33] cmarmo commented on #16659
I'm closing this one as the wsgi and web server config are more likely to be the origin of the problem than scikit-learn.

[2020-10-08 16:33] #16659 closed

[2020-10-08 16:44] kylegilde commented on #18552
That is a good workaround suggestion. It's great to see the progress on get_feature_names_out! Thanks

[2020-10-08 17:20] assaftibm commented on #18542
@GaelVaroquaux to clarify:
1. I'm not suggesting to incorporate the general IB framework. The algorithm I suggested - sIB - is a very precise algorithm that was published 20 years ago and has more than 300 citations (link in OP). It is also available as part of other open source projects like Smile: http://haifengl.github.io/api/java/smile/clustering/SIB.html in Java. I'm unaware of any open sourc

[2020-10-08 17:29] GaelVaroquaux commented on #18542
I am aware of these information. I do not believe that they warrant
inclusion according to the rules and scope of scikit-learn.

[2020-10-08 18:38] agramfort commented on #18542
my first reaction is show me quantitively that none of the algorithms we already have in sklearn in competitive with SIB on a number of datasets.

second reaction : adding more C++ code to the project will make maintenance even harder that it already is

[2020-10-08 18:53] assaftibm commented on #18542
@agramfort @glemaitre
Regarding conversion from C++ to Cython - this is a task that I can undertake.
Note that it is possible to start with the existing pure python implementation and to replace it with the Cython implementation later.

@agramfort
please let me know the algorithms you want to see compared to sIB. I can evaluate over 4 datasets - 20 News Groups, BBC News, AG News and DBPedia.

[2020-10-08 18:58] #18554 closed

[2020-10-08 19:03] agramfort commented on #18542
if you work with text data doing clustering after LatentDirichletAllocation
seems a natural alternative.
More generally any clustering algorithm we have can be considered no?

[2020-10-08 19:54] aboucaud commented on #7139
I was giving a tutorial these days when someone stopped me because `random_state=0` was passed in the `train_test_split()` but their score did not match mine. I asked all the participants for their score. Some had the same, up to the last decimal, and the others had slightly different answers.

Here is the piece of code executed:

[code]

I have no idea if this behavior is to be expected since I d

[2020-10-08 20:25] ivomarb opened #18575 "Bring Generative Adversarial Networks (GANs) to scikit-learn"
#### Describe the workflow you want to enable

Implement the classic Generative Adversarial Networks (GANs) architectures on scikit-learn, like: classic GAN,  DCGAN, WGAN-GP, StyleGAN.

#### Describe your proposed solution

- A Style-Based Generator Architecture for Generative Adversarial Networks (Karras, Laine, and Aila, 2019): https://arxiv.org/abs/1812.04948

- Wasserstein GAN (Arjovsky, Chint

[2020-10-08 21:01] jnothman commented on #18542
Without any previous knowledge of this method, I am attracted to its description because I see a major challenge in clustering as being the definition of a sensible distance/affinity metric. Clustering algorithms that learn how each feature should contribute to distance at different parts of the metric space are therefore interesting. However, the comparison, as @agramfort says, must therefore not

[2020-10-08 21:05] jnothman commented on #18542
(And congrats on IBM opening this up and giving you the opportunity to integrate it into public libraries, @assaftibm!)

[2020-10-08 21:47] assaftibm commented on #18542
@agramfort and @jnothman  - thanks for the suggestions.

I'll try to arrange the evaluation soon, but first I want to see that we are synced regarding the evaluation method. I suggest to run each algorithm on each dataset for X (e.g. 20) times, each time with different random state, and to report scikit-learn's clustering metrics.

However, to do that I need the algorithms to provide hard clusteri

[2020-10-08 22:13] jnothman commented on #18542
The proposal was to use LDA as a dimensionality reduction / metric transformation, then apply KMeans or similar clustering.

[2020-10-09 06:38] #11996 closed

[2020-10-09 06:55] jnothman commented on #18573
If it's consistently about 2x slower, I'm okay to keep just the weighted
version

[2020-10-09 07:06] cmarmo commented on #17013
Hi @madansinghal , thanks for reaching out. Without the data it is quite difficult to investigate this issue. Do you mind reducing the dataset (or providing a simulated one) to make this issue reproducible? Thanks!

[2020-10-09 08:24] maikia commented on #18573
for the reference this is a possibility how to modify the original function to use `sample_weight`
https://github.com/scikit-learn/scikit-learn/pull/18510/commits/e37c3dbd74e215f033d4a42cedf3c49244cd5a77

[2020-10-09 09:51] DanilZherebtsov commented on #18562
I have tried 3 different estimators and looked a little deeper.

sklearn.linear_model.Ridge
sklearn.ensemble.RandomForestRegressor
xgboost.XGBRegressor

All three after used in RandomizedSearchCV keep the initiated cores running in idle state for about 7-10 minutes, then the cores get released.

Code to reproduce:

[code]

[2020-10-09 12:13] #18565 closed

[2020-10-09 12:17] NicolasHug commented on #18575
I doubt that's going to happen. We have minimal support for MLPs (only), and we don't support GPUs.

[2020-10-09 13:12] #17589 closed

[2020-10-09 14:13] IvanMartino commented on #16028
Hello, I have the same problem here. I have played a bit with the data and discover precisely what you all said above.
For my project I went around the problem avoing the elements in my dev_set with untrained category.
Is there any update on this issue?

One way is to avoid this, is to split training and dev set smartly: so that you train every categories. Not sure if this is always for all data.

[2020-10-09 15:44] thomasjpfan commented on #6279
This is failing again on windows python 3.7 on 64 bit on scikit-learn-wheels:

https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=22827&view=logs&j=9f3e9a58-f4d0-59eb-bb9a-f7c4195515fd&t=1f907b45-e15b-5d32-06f8-83dc0d40286c

[2020-10-09 16:13] sophiacollet opened #18583 "radius_neighbors method of NearestNeighbors doesn't sort by distance when sort_results=True"
#### Bug description
Calling radius_neighbors method of NearestNeighbors doesn't sort indices and distances by distance when sort_results=True is set. It appears to be sorting both by indices values instead, which doesn't seem intuitive. The documentation of the sort_results argument of that method states `If True, the distances and indices will be sorted before being returned. `, which isn't enti

[2020-10-09 16:27] cmarmo commented on #17183
Hi @FloWPs, thanks for reaching out and sorry for the late answer.
Reducing the `max_iter` to 50 solve the issue for me
[code]
Is that useful for you?

[2020-10-09 16:30] #18104 closed

[2020-10-09 17:18] ivomarb commented on #18575
I thought that the same way as there is a basic neural network implementation through the MLP class, scikit-learn could at least have a basic implementation of a GAN.

[2020-10-09 17:22] alexandrerays commented on #18460
That's right @NicolasHug ! I understood my mistake. Thank you for your explanation.

[2020-10-09 19:06] rishi1999 opened #18584 "Set `utils.extmath.randomized_svd` parameter `random_state` default value to `None`"
#### Describe the workflow you want to enable

As discussed in #18554, the current default value for the `random_state` parameter is `0`. This does not match the default value recommended in the [glossary](https://scikit-learn.org/stable/glossary.html#glossary-parameters).

With the current default, an unsuspecting user using the `randomized_svd` method would not get the results they expected. Pre

[2020-10-09 19:57] rishi1999 commented on #18567
I get the same result when I run it. I wonder if the implementation of the algorithm is correct or not.

The way it's written in the code doesn't exactly match the description in the paper. Specifically, the code has a `max` function applied where the paper doesn't. But simply removing it didn't fix the problem (the result became negative).

The paper specifies that the inner summation should be o

[2020-10-09 20:30] tariqul-islam commented on #18567
Update: There is no bug in the code. The bug is the metric itself.

The metric requires `(2.0 * n_samples - 3.0 * n_neighbors - 1.0) > 0`, which translates to `n_neighbors < (2.0 * n_samples - 1.0) / 3.0`.
For the example above it requires `n_neighbors < (2.0*7-1.0)/3.0 = 4.33`.

In the paper, it is written that "for clarity, we have only included the scaling for neighborhoods of size `k<N/2`". I

[2020-10-09 20:39] mirko-m commented on #6868
I'm interested in this feature, too. Is the work that needs to be done just fixing some merge conflicts? I could give that a try.

[2020-10-09 21:43] kotamine opened #18587 "Can one use negative target values (greater than -1) in mean_squared_log_error?"
I am not sure if this is a bug or as intended but, it seems that the user could use a target variable containing values between 0 and -1 in `mean_squared_log_error()`, given the formula described in [doc](https://scikit-learn.org/stable/modules/model_evaluation.html#regression-metrics) --i.e.,  log(y_actual + 1) - log(y_pred + 1).

Line 412 of [metrics](https://github.com/scikit-learn/scikit-learn

[2020-10-09 21:59] kotamine opened #18588 "sklearn.feature_selection.chi2 description with a reference"
For those who are considering to use `chi2` for feature selection, a clearer documentation will be helpful.

Say target variable y is categorical.  It does not distinguish between the case that a feature x is continuous (nonnegative) or discrete/categorical.  The current implementation actually treats x as continuous without any explanation.

When searching for chi test of independence, a more sta

[2020-10-10 03:31] ssfantasy opened #18590 "ModuleNotFoundError: No module named 'sklearn.externals.funcsigs'"
1185
   1186     #import library
-> 1187     import pycaret.preprocess as preprocess
   1188
   1189     logger.info("Creating preprocessing pipeline")

~/venv_total/venv3/lib/python3.6/site-packages/pycaret/preprocess.py in <module>
     26 from sklearn.decomposition import IncrementalPCA
     27 from sklearn.preprocessing import KBinsDiscretizer
---> 28 from pyod.models.knn import KNN
     29 fr

[2020-10-10 07:15] rajae-Bens opened #18591 "sklearn metrics error for large labels"
Hi,

I am trying to calculate metrics such as f1 score and precision to evaluate my model for a multi label classification problem
I have a large number of labels (117 label) and their are hot encoded
[[0 0 0 ... 0 0 0]
 [0 0 1 ... 0 0 0]
 [0 0 0 ... 10 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 1 0 ... 0 1 0]
 [0 1 0 ... 10 0]]

I got this error when calculating these metrics
ValueError: Classification metri

[2020-10-10 13:04] cmarmo commented on #18590
Hi @ssfantasy, thanks for reaching out.
 `funcsigs` is no longer in scikit-learn. See another package with the same dependency issue [here](https://github.com/yzhao062/pyod/issues/96).
I'm closing this issue because there is nothing to address in scikit-learn.

[2020-10-10 13:04] #18590 closed

[2020-10-10 20:10] NicolasHug commented on #18575
A GAN implementation wouldn't be very useful without GPU support. GANs are also pretty far from scikit-learn's scope, which is supervized and unsupervized learning on rectangular data. MLPs are in scope, in this regard; yet we still decided not to extend the MLP module anymore, partly because there are better tools than scikit-learn for neural-network stuff.

Sorry, I just really don't think GANs

[2020-10-10 20:10] #18575 closed

[2020-10-10 20:14] NicolasHug commented on #18587
We use +1 in the log to allow for y to be exactly 0. If we didn't we'd get an error since log(0) is undefined.

This is a pretty standard "trick" and it still does not make sense to allow for strictly negative values.

[2020-10-10 20:14] #18587 closed

[2020-10-11 06:40] tnwei commented on #18205
Can we mark this topic for discussion? Dug into this topic and found it to be more complex than expected. I think a decision needs to be made first on how, if possible, to standardize max_iter across all estimators. Combing through the sklearn code base, the `max_iter` argument we pass is used differently by the underlying functions:
+ As upper limit of for-loop in Python
+ Passed to Cython code,

[2020-10-11 06:58] tnwei commented on #18205
Following are notes on how `max_iter` is used across estimators in `sklearn`, from combing through the code base on branch `master` as of yesterday. If a function's origins / location is not specified, assume it is in the same folder as the featured function in the bullet point. The public API that receives `max_iter` from the user is listed together w/ the function that actually implements the lo

[2020-10-11 07:28] tnwei opened #18596 "Redundant `max_iter` in `LassoLarsIC().fit()`"
Noticed that `sklearn.linear_model._least_angle.LassoLarsIC()` has a redundant `max_iter` assignment.

Expected: `max_iter` assigned to `self.max_iter` in `__init__()`, and used thereafter.
Found: redundant `max_iter=self.max_iter` in `self.fit()`
[code]
Recommend to tag this w/ the `enhancement` label.

Link to code in question: https://github.com/scikit-learn/scikit-learn/blob/193670c2a17c6a76f8

[2020-10-11 11:15] assaftibm commented on #18542
@jnothman @agramfort

I started to look at the evaluation and I have preliminary results on the 20-news-groups dataset. The results with LDA as a dimensional reduction prior to K-Means are indeed better than bare K-Means. However, I want to confirm that use LDA correctly.

First, I vectorize the dataset using a CountVectorizer:
[code]
Then I initiate LDA and apply it:
[code]
Then I initiate K-Mean

[2020-10-11 11:43] anasselhoud commented on #18591
Hello,
That's a large number for sure. So I would assume that you may have made some mistakes in the way you have generated your predicted label vector. You can use **MultiLabelBinarizer** (in scikit-learn too), it helps you transform your vector into a supported multi-label format. I guess you may solve the problem this way (check this simple example of using MultiLabelBinarizer: [here](https://s

[2020-10-11 13:44] lorentzenchr commented on #18573
I would favour to have one function only, preferably `_incremental_mean_and_var` that supports `sample_weight`.

[2020-10-11 14:39] cmarmo opened #18600 "Label PRs with module only when the PR is open"
The [labeler-module](https://github.com/scikit-learn/scikit-learn/blob/master/.github/workflows/labeler-module.yml) workflow run at every push to the related branch.
Should it be possible to run it only when the PR is opened?
[code]
should do the job?

[2020-10-11 15:42] rajae-Bens commented on #18591
Hi,

Thanks for answering. But as I said my code works when I reduce the number of labels without changing anything else so I guess there is no problem with my method and I also guess I don t need to use MultiLabelBinarizer as my data is already labeled with 0 and 1 for each label (as the toxic comments from kaggle). Any ideas plz

Thank u

[2020-10-11 20:45] albertvillanova commented on #18573
I agree with the proposal:
- remove `_incremental_weighted_mean_and_var`
- adapt `_incremental_mean_and_var` to support `sample_weight`

The implementation can be done more efficiently without current performance penalty.

[2020-10-12 07:17] gianlucamalato commented on #6777
I see the same behavior, that makes this implementation almost useless. I'm using sklearn 0.23.2

[2020-10-12 07:57] cmarmo commented on #17297
Hi @yuli-yl , please provide a [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that we can just run it and reproduce your issue. Otherwise it will be impossible to investigate. Thanks!

[2020-10-12 09:48] fhaselbeck opened #18605 "ARDRegression crashed during prediction"
Description:
ARDRegression is crashing during prediction when normalize is set true as in `predict` `self.X_offset_` and `self.X_scale_` are used to transform but are not set in fit method (in contrast to BayesianRidge).

See code snippet from lib:
[code]

I suggest adding
[code]
to `fit` just like in BayesianRidge

[2020-10-12 09:53] andyDoucette opened #18606 "sklearn.svm.LinearSVC and sklearn.svm.SVC both fail on a simple case."
#### Describe the bug
The following simple test case, with three seperable data points, doesn't result in an accurate solution.  accuracy!=1.0

#### Steps/Code to Reproduce
`sklearn.__version__=='0.22.2.post1'`

Example:
[code]

#### Expected Results
accuracy==1.0, and a graph that shows the line going between the blue and red points.

#### Actual Results
accuracy=0.8, and a graph that shows the l

[2020-10-12 10:56] glemaitre commented on #18591
So the error is raised because `y_true` and `y_pred` are found of different types by `type_of_target`: https://scikit-learn.org/stable/modules/generated/sklearn.utils.multiclass.type_of_target.html

You can as well check the documentation here:

  | Number of targets | Target cardinality | Valid type_of_target
-- | -- | -- | --
Multilabel classification | >1 | 2 (0 or 1) | ‘multilabel-indicator’
M

[2020-10-12 10:56] #18591 closed

[2020-10-12 11:11] glemaitre commented on #18606
This is due to the regularization parameter `C` with the default value `1`. Try without a low regularization with `C=1000` and it should work on your example.

[2020-10-12 11:46] glemaitre commented on #18606
Another important thing is that you did not scale the data (which has an impact on the value of `C` indeed)
The default parameter will work if you are using a `StandardScaler` before to fit the `LinearSVC`

[code]

[2020-10-12 11:46] #18606 closed

[2020-10-12 12:01] glemaitre commented on #18605
This seems to be correct. I putting a minimal code example to higlight the issue:

[code]

[2020-10-12 12:02] glemaitre commented on #18605
@fhaselbeck Do you wish to send us a PR to solve the bug?

[2020-10-12 12:06] jnothman commented on #18567
Yes, please.

And perhaps a warning if the algorithm is run on a dataset with such large
n_neighbors!

[2020-10-12 12:32] jnothman commented on #18205
I don't understand why passing it to cython code makes a big difference. I
see the value of having one way to specify "run to convergence", and
potentially other automated criteria.

[2020-10-12 12:33] jnothman commented on #18205
And thanks for the detailed investigation!

[2020-10-12 12:54] jnothman commented on #18542
As long as you're using the same vectorizer definition for your test, that seems reasonably fair: there are ways to optimise LDA, but this is a good first comparison at least.

[2020-10-12 13:09] #18596 closed

[2020-10-12 13:26] yacth commented on #14253
Hi @jnothman can I work on this issue ?

[2020-10-12 13:33] NicolasHug commented on #18600
Is there an issue with running it at every push?

I think the reason to run it at every push is that modules can be added / removed depending on what the commit is.

[2020-10-12 13:49] cmarmo commented on #18600
Just saving resources: I thought it was unnecessary, but if you think it's useful I'm happy to close.

[2020-10-12 13:49] #18600 closed

[2020-10-12 13:57] fhaselbeck commented on #18605
@glemaitre: thanks for your quick help. Sure, just sent a PR.

[2020-10-12 14:43] tnwei commented on #18205
You are right, I just happened to go through the Cython files separately and the structure stayed. I'll edit later to split them under for-loops and third party libraries, merging the latter w/ the scipy section.

[2020-10-12 14:54] tnwei commented on #18205
I do concur that having a more consistent API across all estimators to specify run to convergence is a great thing for usability.

I personally like `max_iter=-1` as it explicitly means no limit, as opposed to using something like `None`. Plus it lines up with `joblib`'s `n_jobs=-1` which we also see quite often.

Though the things that come to mind are:
+ if we can safely remove the limit of iter

[2020-10-12 15:24] tnwei commented on #18583
Looks like two changes are needed here, first for the docstring to specify sorting by distance, and second for the sorting logic to go by results instead of indices, yes?

[2020-10-12 15:49] NicolasHug opened #18608 "Building from sources fails without numpy"
The current instructions fail on a clean env if numpy isn't installed

Potential solution as described by @jeremiedbb in https://github.com/scikit-learn/scikit-learn/pull/18407#issuecomment-693483259

[2020-10-12 17:23] glemaitre commented on #18608
FYI, it was on a Linux machine.

[2020-10-12 17:47] Mandroide opened #18609 "Allow pathlib.Path type as memory parameter of FeatureAgglomeration and AgglomerativeClustering"
~~Hi, since the [memory parameter](https://github.com/scikit-learn/scikit-learn/blob/0fb307bf3/sklearn/cluster/_agglomerative.py#702
) is a string path, I thought it could be a good idea to allow[ pathlib.Path ](https://docs.python.org/3/library/pathlib.html)to be more explicit. It has good methods that allow to first check if that path already exists among other things.~~

Never mind, this is not

[2020-10-12 17:59] #18609 closed

[2020-10-12 18:05] TomDLT commented on #18583
Thanks for the bug report, and the reproducible example.

The reason is that the `sort_results` parameter is currently only used when the nearest neighbor algorithm is "ball_tree" or "kd_tree"`. In the other cases ("brute" or "precomputed"), the parameter is not used (it should), so we should add a sorting step there. I don't think there is a more efficient way than just looping on each row:
[code

[2020-10-12 18:59] btel opened #18611 "ENH type_of_target raises unhandled TypeError for sparse matrices"
#### Describe the bug

Using `type_of_target`  with  sparse matrices (both CSC and CSR) that have explicit zero elements produces `TypeError`.

#### Steps/Code to Reproduce

This code reproduces the error:

[code]

but it works fine after eliminating zero elements from the matrix:

[code]

which gives the `'multilabel-indicator'`

#### Expected Results

Both code samples should return `'multilabel

[2020-10-12 19:04] makermotion commented on #18466
I don't know which of the packages tries to import ```enable_successive_halving``` when you ```make html``` but that module does not seem to be in ```sklearn.experimental```. See [https://github.com/scikit-learn/scikit-learn/tree/master/sklearn/experimental](url).

Although; this PR #18563 seems to be changing the name from ```enable_successive_halving``` to ```enable_halving_search_cv``` if I did

[2020-10-12 22:18] NicolasHug commented on #18466
Do you still have the same issue with the latest `master` branch @arioboo ?

[2020-10-13 02:25] andyDoucette commented on #18606
Thank you very much!  :D Super helpful.  Setting a high C essentially disables regularization, right?  I don't want regularization, I want to get the hyperplane that is furthest from the support vectors no matter what.

[2020-10-13 07:53] alfaro96 opened #18613 "BUG The test_scale_and_stability test fails in the wheel builder (windows)"
The `test_scale_and_stability` test is failing in the [wheel builder](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=22979&view=logs&j=9f3e9a58-f4d0-59eb-bb9a-f7c4195515fd&t=1f907b45-e15b-5d32-06f8-83dc0d40286c) (and also in the [`cibuildwheel`-based one](https://github.com/scikit-learn/scikit-learn/pull/17921/checks?check_run_id=1246141357)) on Windows for the x86-64 instr

[2020-10-13 08:25] cmarmo commented on #17362
Hi @virati please provide a [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that we can just run it and reproduce your issue. Otherwise it will be impossible to investigate. Thanks!

[2020-10-13 10:05] tnwei commented on #10232
From the last PR linked above, nested parallelism is now enabled by default when you use `parallel_backend("dask")`, see [docs](https://scikit-learn.org/stable/modules/generated/sklearn.utils.parallel_backend.html). This solves the original problem that led to this issue being opened, thus I believe clarification in docs shouldn't be required anymore.

Unless we want to document this more extensiv

[2020-10-13 10:58] tnwei commented on #18466
Followed the steps and built docs w/o issue using branch `master`. Is it possible that this is a setup issue? If you still have the full stacktrace, posting it here will help provide context.

[2020-10-13 12:18] jnothman commented on #14253
It's fairly complicated, @yacth, and not at all ensured to be merged.

[2020-10-13 13:28] luismiguells commented on #3298
@fbrundu is your implementation correct? I use it and it works.

[2020-10-13 18:03] Bisht9887 commented on #12413
I did n_jobs=1 and it solved

[2020-10-13 21:42] andybrnr opened #18615 "[BUG] TheilSenRegressor prediction fails when fit_intercept=False with a single feature"
#### Description
When using `fit_intercept=False` and a single feature, the `model.predict()` method fails. This is because `model.coef_` is returned as a scalar in that case from the `_spatial_median` method. `model.coef_` is expected to be array-like for calling the `_decision_function()` method of the `LinearModel` base class, which attempts `return safe_sparse_dot(X, self.coef_.T,dense_output=

[2020-10-13 22:37] thomasjpfan commented on #18615
Thank you for the bug report @andybrnr !

This was fixed in https://github.com/scikit-learn/scikit-learn/pull/18121 and will be included in the next release of sklearn.

[2020-10-13 22:43] andybrnr commented on #18615
Ah, looks like I need to get better at searching through the issues :) Good to know, thanks!

[2020-10-13 22:44] andybrnr commented on #18615
Since this is already noted and fixed, closing.

[2020-10-13 22:44] #18615 closed

[2020-10-14 08:37] mattip commented on #16956
There was a bug in ppc that was fixed after the recent 7.3.2 release. Either skip ppc testing on PyPy until the next release or use a [nightly](http://buildbot.pypy.org/nightly/py3.6/)

[2020-10-14 09:14] assaftibm commented on #18542
OK, so I finally have results of 5 setups over 4 datasets.

## Setups ##
1. sIB on sparse count vectors
2. K-Means on sparse TF-IDF vectors
3. LDA + K-Means on sparse count vectors
4. LDA + Spectral on sparse count vectors
5. LDA + Agglomerative on sparse count vectors

I report the average of 10 runs of each setup, where the metrics are Adjusted Mutual Information (AMI) and Adjusted Rand Index (A

[2020-10-14 09:26] assaftibm commented on #18542
Attaching the full results (CSVs and charts)
[full_results.zip](https://github.com/scikit-learn/scikit-learn/files/5377073/full_results.zip)

[2020-10-14 12:03] NicolasHug commented on #10232
I'm going to close this as the original post was addressed: no need to set n_jobs to 1.

As to documenting what `n_jobs` should be in nested CV procedures, this is neither easy or a good first issue IMHO.

We have related docs in https://scikit-learn.org/stable/modules/computing.html#parallelism and there is also https://github.com/scikit-learn/scikit-learn/issues/14228 which I think will tackle m

[2020-10-14 12:03] #10232 closed

[2020-10-14 14:11] #18608 closed

[2020-10-14 14:17] #18583 closed

[2020-10-14 14:32] gkiar opened #18618 "Grouped and Stratified K-Fold CV"
Hi!

I'm trying to prepare dataset splits for a problem I'm working on, and would ultimately like a hybrid of Stratified K-Fold and Grouped K-Fold. Is there a way to accomplish this using logic already built into sklearn? If not, where would be the right place for me to add it/do you have any suggestions for how to get started before I give it a go?

For a bit more context, my dataset is a conside

[2020-10-14 14:42] ogrisel commented on #18552
Let's keep this issue open: I wouldn't mind a PR to implement the suggested change but maybe wait once #18444 and https://github.com/scikit-learn/enhancement_proposals/pull/48 have progressed a bit.

[2020-10-14 14:55] rickiepark opened #18620 "Mismatch between docs and l1_ratio parameter in Perceptron"
#### Describe the issue linked to the documentation

Perceptron has three arguments for penalty parameter:
penalty : {'l2','l1','elasticnet'}, default=None

But l1_ratio in \_\_init\_\_() func is always 0:
https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f871d60370/sklearn/linear_model/_perceptron.py#L154

#### Suggest a potential alternative/fix

l2 and l1 penalty c

[2020-10-14 15:15] #18618 closed

[2020-10-14 15:24] NicolasHug commented on #18620
THanks for the report @rickiepark

Instead of hiding the `penalty='elasticnet'`, I believe we should expose the `l1_ratio` parameter. Would you like to submit a PR?

[2020-10-14 15:26] #18546 closed

[2020-10-14 15:37] rickiepark commented on #18620
Ok, I will submit a PR for that. :)

Thanks.

[2020-10-14 16:25] #10252 closed

[2020-10-14 19:08] MarkCarbonell98 commented on #8245
Same problem here with sklearn 0.23.2

[2020-10-14 19:43] zachmayer commented on #16972
Is this still something being considered?

[2020-10-14 21:38] thomasjpfan commented on #16972
To push this through, we would need to allocate some time in reviewing: https://github.com/scikit-learn/scikit-learn/pull/16994

[2020-10-14 22:00] ChihweiLHBird opened #18621 "Failed To Install scikit-learn with Python 3.9 on Windows"
[code]

[2020-10-15 03:35] hiteshsom opened #18623 "Make Decision Tree accept Categorical variables"
#### Describe the workflow you want to enable
As a continuation to [18105](https://github.com/scikit-learn/scikit-learn/issues/18105), I would like to propose a feature addition to Decision Tree to enable them to handle categorical variables.

#### Describe your proposed solution
The solution will be to update `fit` and `predict` method of `BaseDecisionTree` class in [_classes.py](https://github.c

[2020-10-15 05:29] hiteshsom commented on #18623
If the proposed solution looks fine then should I start work on it.

[2020-10-15 07:17] alfaro96 commented on #18623
This would require a major refactorization and a strong knowledge of the actual Cython code. If you feel comfortable with the tree code base, you can try.

[2020-10-15 07:26] ogrisel commented on #16016
In joblib 0.17.0 (and loky 2.9.0 used internally by joblib) we now have `joblib.cpu_count(only_physical_cores=True)` to ignore hyperthreading logical cores.

I think it would make sense to expose this option in the `_openmp_effective_n_threads` Cython helper and use it in HistGradientBoostingClassifier/HistGradientBoostingRegressor to limit the oversubscription problem mentioned above and also obs

[2020-10-15 07:28] adrinjalali commented on #18621
We have not released a version supporting python3.9 yet.

[2020-10-15 07:28] #18621 closed

[2020-10-15 07:30] adrinjalali commented on #18623
This is a duplicate of https://github.com/scikit-learn/scikit-learn/pull/12866 and https://github.com/scikit-learn/scikit-learn/pull/18394

[2020-10-15 07:30] #18623 closed

[2020-10-15 07:32] adrinjalali commented on #18613
those differences look surprisingly large to me!

[2020-10-15 07:36] ogrisel commented on #16016
To implement this we probably need to call `_openmp_effective_n_threads` only once at the beginning of fit and then store `n_threads_` as an attribute and pass it around to all the `prange` calls in the cython code (both in fit and predict).

Alternatively we can wrap the fit and predict code with the `threadpoolctl.threadpool_limit` context manager. This is less intrusive but then I am worried ab

[2020-10-15 07:41] adrinjalali opened #18624 "CircleCI fails on pypy3 build"
Several pypy3 builds on circleci have been failing recently, example: https://app.circleci.com/pipelines/github/scikit-learn/scikit-learn/8663/workflows/a0349bb9-2c2f-4334-85f2-c48f09a1a30d/jobs/122623

This is kind of a blocker for the 0.24 release since conda-forge now builds for pypy.

Ping @rth

[code]

[2020-10-15 07:44] alfaro96 commented on #18613
For me too. What surprises me most is that it fails "from time to time".

For instance, the `wheel builder` [has failed today](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=23109&view=logs&j=9f3e9a58-f4d0-59eb-bb9a-f7c4195515fd&t=1f907b45-e15b-5d32-06f8-83dc0d40286c) but not [on Tuesday](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=23024&view=logs

[2020-10-15 09:48] jeremiedbb commented on #16016
As long as we use ``_openmp_effective_n_threads`` to set the limits in the inner ``threadpool_limits``, the inner context will respect the outer context.

[2020-10-15 10:14] alfaro96 commented on #18624
Related with #17994?

[2020-10-15 11:25] ogrisel commented on #16016
@kmedved you can use `threadpoolctl.threadpool_limit` as done in the following benchmark script to change the number of threads dynamically in your code:

https://github.com/scikit-learn/scikit-learn/blob/master/benchmarks/bench_hist_gradient_boosting_threading.py

[2020-10-15 12:28] adrinjalali commented on #18624
yep, that should probably solve this

[2020-10-15 12:43] cmarmo commented on #17297
I am closing this issue as more information is needed. Feel free to reopen if you have more details on that.

[2020-10-15 12:43] #17297 closed

[2020-10-15 12:51] cmarmo commented on #17362
I am closing this issue as more information is needed. Feel free to reopen if you have more details on that.

[2020-10-15 12:51] #17362 closed

[2020-10-15 12:54] cmarmo commented on #17974
@rth, could we conclude that this is a problem in jupyter-notebook and not scikit-learn? Shall we close this one?

[2020-10-15 13:23] kmedved commented on #16016
Thanks @ogrisel - I will give that another try. As mentioned above, I had tried using `threadpoolctl.threadpool_limits`, but had issues passing the estimator into `RandomizedSearchCV` in a way which would respect the number of threads. I was getting inconsistent results using this approach, although it was probably user error I presume. I will give it another shot and see if works.

Either way, it

[2020-10-15 13:29] ogrisel commented on #16016
`RandomizedSearchCV` is using Python processes, not threads for parallelism (using joblib). So threadpoolctl has no impact on it. If you use `RandomizedSearchCV(n_jobs=4)` on a machine with 16 cores, joblib will automatically set environment variables to `OMP_NUM_THREADS` = max(16 // 4, 1) = 4  all the Python workers. If you want to set OMP_NUM_THREADS to another value on the workers, you have to

[2020-10-15 15:07] rth commented on #17974
Yes, happy to close. Thanks for the reminder @cmarmo !

[2020-10-15 15:07] #17974 closed

[2020-10-15 17:18] #18505 closed

[2020-10-15 17:43] adam2392 opened #18627 "Contiguous feature importances permutation for a structured data matrix X"
## Describe the workflow you want to enable
In https://scikit-learn.org/stable/modules/generated/sklearn.inspection.permutation_importance.html#sklearn.inspection.permutation_importance, `permutation_importance` performs an evaluation of feature importances based on independent permutations of entries in the input X matrix.

If you have a structured dataset, say a multivariate time-series, or an i

[2020-10-15 18:25] Zijie-Jay-Wang opened #18628 "Possible Bug with User-defined distance for NearestNeighbors"
#### Describe the bug

Hi there, I was testing "User-defined distance" on this page:
https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.DistanceMetric.html#sklearn.neighbors.DistanceMetric
Then I encountered this TypeError.
Please refer to reproduce section for details. Thanks.

#### Steps/Code to Reproduce

[code]

#### Expected Results

Should be able to initialize with User-def

[2020-10-15 18:34] alfaro96 commented on #18628
Hey @Zijie-Jay-Wang,

You should use:

[code]

 to initialize nearest-neighbors estimators with a user-defined distance.

[2020-10-15 18:34] #18628 closed

[2020-10-15 20:37] Zijie-Jay-Wang commented on #18628
Ah, thanks so much for clearing that up!

[2020-10-15 21:16] #18566 closed

[2020-10-16 12:50] alfaro96 opened #18630 "PERF Cache intermediate results in decision tree estimators"
I am wondering if it would be worth it to cache the intermediate results in decision tree estimators to avoid that the `sum_total` and `weighted_n_node_samples` attributes are re-computed.

In particular, these `for` loops will not be needed:

https://github.com/scikit-learn/scikit-learn/blob/6ca9eab67e1054a1f9508dfa286e0542c8bab5e3/sklearn/tree/_criterion.pyx#L330-L343

and:

https://github.com/s

[2020-10-16 13:16] NicolasHug commented on #18630
Cached where and by whom? It is hard to know what you have in mind for now ;)

But in general yes, `sum_total` is typically the kind of things that should be computed only once.
In the hist-GBDT code we have `sum_gradients` and `sum_hessians` which are similar quantities:

- we compute that only once for the root of the tree
- then at each split we compute `sum_x_left` and since we know `sum_x_par

[2020-10-16 13:43] reshamas opened #18631 "DOC Contributing guide: fix formats of links in PR Checklist section"
#### Describe the issue linked to the documentation
In the section "Pull Request Checklist", this is how the text appears

[code]

#### Suggest a potential alternative/fix

Note:  the links need to be formatted from Markdown to `.rst`

[2020-10-16 14:07] alfaro96 commented on #18630
I misused "cache". What I meant is to store the intermediate results to avoid recomputations.

Sorry for the confusion 😕.

That is exactly the same idea I want to follow for decision trees. If you think that it is worth it, I will give it a shot. I think that this should reduce the training time for decision trees.

Thank you @NicolasHug for the useful comment!

[2020-10-16 14:07] alfaro96 commented on #18630
Take

[2020-10-16 14:10] NicolasHug commented on #18630
yeah if benchmarks show that fitting time is improved (and if it doesn't make the code much more complex) I think it would be a great addition. Thanks @alfaro96 !

[2020-10-16 14:26] alfaro96 commented on #18631
[Here](https://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#external-links) some useful information for becomers.

[2020-10-16 14:40] NicolasHug commented on #18631
I'm wondering whether we shouldn't remove these instructions about type annotations. See related discussions in https://github.com/scikit-learn/scikit-learn/issues/16705#issuecomment-683477933
CC @rth

[2020-10-16 14:51] #10144 closed

[2020-10-17 07:38] tnwei commented on #14228
Submitted two PRs for `sklearn/multioutput.py` and `sklearn/calibration.py`

[2020-10-17 08:03] tnwei opened #18635 "`predict_proba` in ` sklearn.multioutput.MultiOutputClassifier` not parallelized"
#### Describe the workflow you want to enable
`fit`, `predict` and `partial_fit` methods in ` sklearn.multioutput.MultiOutputClassifier` are parallelized, except `predict_proba`.

#### Describe your proposed solution
Replace existing list comprehension to run `predict_proba` on each estimator w/ same `joblib` parallelization in other methods

#### Describe alternatives you've considered, if releva

[2020-10-17 08:06] tnwei commented on #18635
Linked PR that adds this enhancement

[2020-10-17 11:24] jnothman commented on #18635
I'm sure this has been raised and rejected before. Please search the issue
tracker.

[2020-10-17 13:00] chanshing commented on #9827
I'm facing this exact problem because I'm using LOOCV but want to calculate AUCROC. As @jnothman mentioned the problem would be the misalignment of the several models. But in any case, the AUCROC on the aggregated test set would give us a pessimistic estimate of performance, which is better than an optimistic one.

As for measuring variability, I'm thinking one could bootstrap the aggregated test

[2020-10-17 13:10] GaelVaroquaux commented on #9827
Well, don't use LOOCV. It's a bad cross-validation strategy and leads to
bad estimates of the generalization performance. Use ShuffleSplit which
is a much better strategy.

[2020-10-17 14:27] raisa1921 commented on #16710
![p-1](https://user-images.githubusercontent.com/69694095/96339509-05f60180-10b7-11eb-9d24-13e22f228969.PNG)
![p-2](https://user-images.githubusercontent.com/69694095/96339511-08f0f200-10b7-11eb-872b-6f71836eee7e.PNG)
I'm having this error, can you please tell me how to solve it.

[2020-10-17 14:39] Ankit810 commented on #18631
take

[2020-10-17 14:59] Ankit810 commented on #18631
Hi @reshamas !
I checked the contributing doc text (on the website as well as the doc source code) for the line you've mentioned and it seems to be absolutely fine...
How should I proceed?

P.S: There is one possible change that can take place-
Adding '__' instead of the existing '_' present at the end of the hyperlink in the code

[2020-10-17 15:04] lorentzenchr commented on #18635
See https://github.com/scikit-learn/scikit-learn/issues/7448#issuecomment-403287665.

[2020-10-17 15:04] #18635 closed

[2020-10-18 12:42] CallShaul commented on #11739
Same issue here running roc_auc_score(y_true_arr, y_score_arr) on binary vectors:

![image](https://user-images.githubusercontent.com/52006780/96367741-5a9d8900-1158-11eb-84c0-e7d186381ce8.png)
![image](https://user-images.githubusercontent.com/52006780/96367747-638e5a80-1158-11eb-8bdc-85227e3ee7e3.png)
![image](https://user-images.githubusercontent.com/52006780/96367770-828cec80-1158-11eb-9cf9-f5

[2020-10-18 14:38] GiilDe commented on #14947
I am using dbscan with large amount of data and it's frustrating to not get any feedback on progress. So, in my opinion as a user, it is important to add this feature.

[2020-10-18 19:21] antonpuz opened #18638 "KBinsDiscretizer encodes wrong bin identifiers for quantile strategy"
#### Describe the bug
When `KBinsDiscretizer` is used with `quantile` strategy to create ordinal encoding the created ID doesn't match the quantile identifier. Quantile ID should represent the quantile number where the encoded value reside. i.e. the encoding should output a meaningful value similar to the `uniform` strategy.

#### Steps/Code to Reproduce + Actual Results
Examples (which could late

[2020-10-18 19:49] NicolasHug commented on #18638
I don't completely understand what you are saying, but it seems that you want the value of `transform()` to correspond to a quantile (i.e. something normalized in [0, 100] or [0, 10]).

This isn't what the `strategy` parameter controls. `strategy` controls how the bins frontiers are going to be computed:

- uniform: All bins in each feature have identical widths.
- quantile: All bins in each featu

[2020-10-18 20:57] antonpuz commented on #18638
Yes, the main point here is to make quantile ID sparse, in the sense that if a specific value appears more than quantiles portion in the training (e.g. a single value which makes 25% of train set and 10 bins where each one holds 10% of all samples) there would be unused quantile IDs, and the maximal ID is always `n_bins-1`.

The main issue here is that quantile IDs are well defined, and when a val

[2020-10-19 05:30] lorentzenchr commented on #15123
As long as https://github.com/cython/cython/issues/3607 is unresolved, I would be interested in opinions to the following 2 workarounds:

1. For the time being, just implement `double`.
2. Use C++ templates in order to have `double`and `float` versions (as `Y_DTYPE` and `G_DTYPE`).

[2020-10-19 08:01] AaronX121 opened #18640 "Serialization / Deserialization on tree models"
#### Describe the workflow you want to enable
I think it would be great if tree estimators in scikit-learn have a better solution on serialization / deserialization. Currently, this can be achieved using `joblib.dump`. However, the resulting file is large, redundant, and unreadable. In addition, the transferability between different environments or platforms is not strictly guaranteened.

I notice

[2020-10-19 08:39] glemaitre commented on #18640
Ensuring backward compatibility with serialized models would not be possible with our current workforce.
You can check the documentation: https://scikit-learn.org/dev/modules/model_persistence.html#model-persistence
Maybe ONNX or PMML would suffice to your need?

One thing that could be conceivable would be a tool to check the validity of a pickled model across scikit-learn version.

[2020-10-19 08:39] #18640 closed

[2020-10-19 09:11] rth commented on #18640
Pickled models should be portable across architectures and environments assuming that python and scikit-learn versions stay the same. If that's not the case please report it (for instance we recently fixed https://github.com/scikit-learn/scikit-learn/pull/17644). For portability across scikit-learn or Python version you would indeed need to use different tools, due to the constraints of the pickle

[2020-10-19 09:21] rth commented on #18631
If other maintainers want to as well, I won't argue against it :)

[2020-10-19 11:43] AaronX121 commented on #18640
Thanks for your feedbacks! The reason on opening this feature request is that my project depends hevaily on the great decision tree classifier implemented in scikit-learn, and I think it would be good if it has a nice module on saving and loading the fitted models. I will delve into this problem, and take a look at whether this can be achieved with some efforts.