[2018-09-12 08:52] ben-ix commented on #11897
Wouldn't call it broken, just lacks a suitable generic alternative. The recreation process needs to be run for every tree. A typical run could have say 1024 trees x 50 generations, so pickling and reading/writing to 51200 files doesn't seem ideal either.

Anyway, the suggestion was just that a set print options function (such as [numpy](https://docs.scipy.org/doc/numpy/reference/generated/numpy.se

[2018-09-12 10:42] jnothman commented on #12055
I think we would be interested, if you can add a motivating example to the
gallery...  But I know little about the technique's use and other core devs
may disagree.

[2018-09-12 13:16] chenhuiyou commented on #10368
I would also suggest having an option with a decayed number of features to drop at each step.

The purpose of RFE is to > 'find the optimal number of features'.

If the number of input features is large, but the best subset is unsure, setting the 'step' to a too small integer is computationally inefficient, while dropping too many features would very likely skip the best.

In general, we want to b

[2018-09-12 15:39] Jwink3101 commented on #8358
Just checking if there has been an update. This really seems like a documentation problem and not a code.

From the docs (emphasis added):

But from the code (`f0ab589f`):

[code]

Either, the docs should remove the note about optimizing or the `constant_value_bounds="fixed"` should be removed.

[2018-09-13 02:07] zdgriffith commented on #11930
I think the behavior here is expected: `n_components` must be less than the number of classes, as specified in the [docstring](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/discriminant_analysis.py#L169)

[code]

and [the user guide](http://scikit-learn.org/dev/modules/lda_qda.html#dimensionality-reduction-using-linear-discriminant-analysis):

What I think is not ideal behavior

[2018-09-13 02:29] ianchute opened #12061 "Spatial Sign Transformer"
👋Hi guys, would it be possible to add the "[spatialSign](https://rdrr.io/cran/caret/man/spatialSign.html)" transformation?

#### Description:

(taken from "[Applied Predictive Modelling](https://vuquangnguyen2016.files.wordpress.com/2018/03/applied-predictive-modeling-max-kuhn-kjell-johnson_1518.pdf)")

If a model is considered to be sensitive to outliers, one data transformation
that can minimize

[2018-09-13 02:35] ianchute commented on #12061
I'm not sure but it seems that this is similar to http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.Normalizer.html with L2 norm?

[2018-09-13 03:27] zjpoh opened #12062 "non_negative_factorization init is inconsistent with docstring"
`non_negative_factorization` in `sklearn/decomposition/nmf.py` has default `init='random'` but the docstring says `Default: 'nndsvd' if n_components < n_features, otherwise random.`.

(See [here](https://github.com/scikit-learn/scikit-learn/blob/1906c959a9350ba388bcd349969ad1555fa4e2f9/sklearn/decomposition/nmf.py#L833)) and #11667.

[2018-09-13 07:17] ArtyomKaltovich commented on #11839
Maybe you will create a pull request?

[2018-09-13 07:54] jnothman commented on #10368
I don't mind that kind of parameter. PR welcome

[2018-09-13 08:00] jnothman commented on #8358
It seems a PR at #11274 was completely missed

[2018-09-13 08:02] #11892 closed

[2018-09-13 08:04] #11951 closed

[2018-09-13 09:02] qinhanmin2014 commented on #12062
Resolved in #12063

[2018-09-13 09:02] #12062 closed

[2018-09-13 09:28] jnothman commented on #12036
Most R packages are not released under a compatible licence, and indeed
dbscan is GPL and we cannot use its code without asking the authors of any
relevant code to relicense it more permissively.

[2018-09-13 09:32] stephane-archer commented on #4627
You can now use:
`cv=sklearn.model_selection.KFold(n_splits=3, shuffle=True, random_state=0)`

[2018-09-13 09:34] anant9 commented on #12040
Hello, yes that exactly the issue with isolation forest. The dataset is indeed large 257K samples with 35 numerical features. However, that even needs to be more than that as per my needs and so looking for memory efficiency too in addition to time.

I have gone through the links and they are quite useful to my specific usecases(I was even facing memory issues with sillloutte score and brute  algo

[2018-09-13 09:36] adrinjalali commented on #12036
Does that mean I need to implement the `extractXi` method without looking at the R code? The relevant part is in R (I initially by mistake thought it's in the C++ part), and I'm reimplementing it in Python. I'm genuinely not sure if this violates the license. Of course I'm also more than happy for us to explicitly ask the package maintainers/authors.

[2018-09-13 09:55] jnothman commented on #12036
Yes, I think porting by looking at the code would be counted as a
derivative work and would have to be GPL licensed

[2018-09-13 10:16] qinhanmin2014 commented on #6747
Yes, I think we can have implement multiple definitions here.

+1. It's not so good but maybe we need to do so if we keep the name ``balanced_accuracy_score``

What's the definition of ``macro_average_accuracy`` here? I don't think we've provided users with references about ``macro_average_accuracy``, and I can't find any references in the PR.

Also, I start to wonder whether it's good to regard c

[2018-09-13 10:45] hermidalc commented on #10368
Hi @chenhuiyou and @jnothman - I've been using my own customized code since the op, I will submit a pr.  As discussed I changed the behavior so that a float step between 0. and 1. would take take remove that percentage of the features that remained at each step (so decaying and not fixed).  I also introduced a new feature number parameter where, if specified, stepping would revert to one feature a

[2018-09-13 12:50] shivamriky commented on #12044
I am not very comfortable yet but I am trying to read the background to understand it further. Meanwhile, if someone else pops up to fix this issue they can take it.

[2018-09-13 12:50] #12018 closed

[2018-09-13 13:36] lvermue commented on #5956
@coldfog @garciaev I don't know if it still relevant for you, but I ran into the same problem using joblib without scikit-learn.

The reason is the **max_nbytes** parameter within the Parallel invocation of the Joblib-library when you set n_jobs>1, which is 1M by default. The definition of this parameter is: "Threshold on the size of arrays passed to the workers that triggers automated memory mapp

[2018-09-13 15:34] #11906 closed

[2018-09-13 16:09] albertcthomas commented on #12051
Actually there is a PR on `max_depth` #5789

[2018-09-13 17:03] smarie opened #12068 "Add "Randomized SVD" solver option to KernelPCA for faster partial decompositions, like in PCA"
[PCA](http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html) currently offers an `svd_solver` parameter allowing users to get faster partial decomposition using two methods: `'arpack'` and `'randomized'` svd.

[KernelPCA](scikit-learn.org/stable/modules/generated/sklearn.decomposition.KernelPCA.html) offers an `eigen_solver` parameter allowing users to get faster partial

[2018-09-13 18:37] clumsyfox-z9o9z commented on #12055
Ok, I started working on it for my own benefit and hopefully I can show up some nice examples in the end. We will see... ;-) On that basis it might be easier to decide if you like to include it or not.

[2018-09-13 21:54] janvanrijn opened #12071 "ColumnTransformer requires at least one column for each part it transforms"
#### Description

ColumnTransformer requires at least one column for each part it transforms. This sounds logical, but makes automatic experimentation across datasets with mixed input types hard to apply with a single sklearn model. I would need three separate models for:
* datasets that have only numeric inputs
* datasets that have only categorical inputs
* datasets that have mixed (numeric / cat

[2018-09-13 22:18] gokart23 commented on #7768
I'd like to work on this, if that's ok

[2018-09-14 06:40] glemaitre commented on #12015
I assume that we could add the python version checking next to the numpy version:

https://github.com/scikit-learn/scikit-learn/blob/master/conftest.py#L34

[2018-09-14 07:15] jorisvandenbossche commented on #12071
@janvanrijn thanks for the feedback!
Yes, I think this is a case that we would want to support. The question is maybe whether it are the other transformers that should support 0 features (it is the imputer that is raising the error), or whether the ColumnTransformer should be smart enough to not pass the data through in this case.

That second possibility (what you also mention), is certainly the

[2018-09-14 08:18] ogrisel commented on #11638
#11950 has started to do it for a refactoring of K-Means and early benchmarks are promising.

[2018-09-14 11:34] Ryanglambert commented on #12071
My 2 cents

When I read this it feels like ColumnTransformer should see the empty list
and not even attempt to use the numeric transformer. Kind of like when you
do "`for i in []`.

transformer = sklearn.compose.ColumnTransformer(
    transformers=[
        ('numeric', numeric_transformer, []),
        ('nominal', categorical_transformer, [1,2,3,4])],
    remainder='passthrough')

On Fri, Sep 14,

[2018-09-14 12:13] #12015 closed

[2018-09-14 14:32] glemaitre commented on #12000
I made a PR in https://github.com/MacPython/scikit-learn-wheels/pull/11 which build against the minimal version of numpy possible for each build (the build in Travis is already done in this manner).

Regarding the README or the install page, after discussing with @jorisvandenbossche, I think that:

* the minimum requirements specified in the README are still right;
* adding any note regarding the

[2018-09-14 14:43] paulaceccon opened #12076 "StratifiedGroupShuffleSplit"
It would be nice to have a manner to perform GroupShuffleSplit with some level of stratification.
Using [GroupShuffleSplit](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GroupShuffleSplit.html) does not prevent that a target (for classification problems) will be present just in train or test sets.

[2018-09-14 14:57] amueller commented on #12076
The problem with this is defining the expected behavior. I'm pretty sure there's an open (or closed?) issue on that. What would you expect to happen?

[2018-09-14 14:59] amueller commented on #12071
I'm in favor of ignoring empty feature lists. I think many transformers will require >0 features.

do we need to store the transformer in ``transformers_``?

[2018-09-14 15:01] jorisvandenbossche commented on #12071
I would do that, otherwise the length and index into the original passed `transformers` and the fitted `transformers_` attribute gets out of sync, which doesn't seem ideal?

[2018-09-14 15:08] amueller commented on #12071
hmmm good point.

[2018-09-14 15:29] Sriharsha-hatwar commented on #11990
I will be taking up this as it has been inactive for several days, @jnothman  do we need to remove everything related to Python2 or its just that the support for python 2 is not being continued after 0.20 release?

For ex:

- Python (>= 2.7 or >= 3.4),
- NumPy (>= 1.8.2),
- SciPy (>= 0.13.3).

In the above line do I need to remove >= 2.7 or should it be kept?

[2018-09-14 16:12] miguelvr opened #12078 "Non-determinism in AgglomerativeClustering"
#### Description
I'm trying to use Agglomerative Clustering to initialize a model in pytorch, and I'm not getting the same labels for the same input. Is there a random seed to be set in the model?

`hclust = AgglomerativeClustering(n_clusters=2, linkage='complete')`

#### Versions
Linux-4.15.0-34-generic-x86_64-with-debian-stretch-sid
Python 3.6.6 |Anaconda, Inc.| (default, Jun 28 2018, 17:14:51)

[2018-09-14 16:47] janvanrijn commented on #12071
Awesome.

Is there somewhere an extensive list of all transformers available? I could contribute a set of unit tests this afternoon to start either solution.

[2018-09-14 17:01] lobpcg commented on #6489
I suppose that the issue can now be closed

[2018-09-14 17:04] massich commented on #6489
not until PR is merged. I'll get to it before next week.

[2018-09-14 17:06] amueller commented on #12071
@janvanrijn you can get one from ``all_estimators`` and if you want to add unit tests you could do that in the common tests that already have all the infrastructure to test something with all estimators. Not sure that's necessary here though.

[2018-09-14 17:09] lobpcg opened #12079 "new feature: add LOBPCG as an SVD solver in PCA"
#### Description
The code [https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/pca.py](url) currently supports only

while LOBPCG [https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.lobpcg.html](url)  is already used in [http://scikit-learn.org/stable/modules/generated/sklearn.manifold.SpectralEmbedding.html](url) and [http://scikit-learn.org/stable

[2018-09-14 17:16] lobpcg opened #12080 "new feature: add LOBPCG solver to Truncated PCA"
#### Description
The code [https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/truncated_svd.py](url) currently supports only

        SVD solver to use. Either "arpack" for the ARPACK wrapper in SciPy
        (scipy.sparse.linalg.svds), or "randomized" for the randomized
        algorithm due to Halko (2009).

while LOBPCG https://docs.scipy.org/doc/scipy/reference/gene

[2018-09-14 17:19] amueller opened #12081 "set_config has no versionadded"
I think set_config was added in 0.20, so it should have a "..versionadded" tag.

[2018-09-14 17:43] janvanrijn commented on #12071
@amueller just out of curiosity, why won't that be necessary?

Whichever of the proposed solutions is going to take only several lines of code, whereas the real trick is to properly test it (IMO).

[2018-09-14 17:46] jorisvandenbossche commented on #12071
Yes, but when doing this in the ColumnTransformer, we don't need to test it with every possible transformer, only testing that the transformer is not called in case there are no features is enough.

[2018-09-14 18:01] jorisvandenbossche commented on #12071
Don't have further time this until next week, but this small patch seems to work (at least for the basics):

[code]

if we are OK with `transformers_` containing unfitted transformers

[2018-09-14 18:13] janvanrijn commented on #12071
Is there something I can do to facilitate this PR?

[2018-09-14 18:26] janvanrijn commented on #12071
Adding the following line to 114 of test_column_transformer makes it fail.

[code]
the following error:
[code]

According the following message, I assume that you still want the transformers to be listed, right? I will look into it.

[2018-09-14 18:41] janvanrijn commented on #12071
I can't copy paste properly, please ignore my previous comment. Your code seems to survive my testcase properly.

[2018-09-14 19:03] Sriharsha-hatwar commented on #11990
I have not added changes to `doc/index.rst` and `doc/install.rst` as the comments involving them gives the information regarding the non usage of Python 2. Correct me if I am wrong.

[2018-09-14 19:14] JOSJONES-clgx commented on #11839
Sure, I'll do that -- just didn't want to be presumptuous and didn't know the right protocol for this kind of thing. Thanks!

[2018-09-14 19:17] joshuakennethjones commented on #11839
Sure, I'll do that -- just didn't want to be presumptuous and didn't know the right protocol for this kind of thing. Thanks!

[2018-09-14 22:05] NicolasHug commented on #12037
Once fix would be ``i, j = np.triu_indices(X.shape[0], 1, X.shape[1])``, but I doubt this is what we want: the docs say that the matrix should be symmetric.

Should we add checks to ensure this?

[2018-09-15 09:29] avibrazil opened #12086 "LabelEncoder ignores pandas CategoricalDtype order"
The order of labels of pandas’ categorical features as CategoricalDtype(order=True) might be used by estimators. For example:

[code]

Note how order is embedded in the data type above.

I was expecting codes like these:
0 poor
1 fair
2 typical
3 good
4 excellent

And I'm sure estimators would provide more meaningful results if such order was used.

But LabelEncoder gives random integer codes, pro

[2018-09-15 10:48] jnothman commented on #12068
Do you have an idea of the work necessary for this? (I don't, and haven't
yet looked into it)

[2018-09-15 10:48] jnothman commented on #12068
Ah, I see there is a pull request.

[2018-09-15 11:03] jnothman commented on #7768
Thanks for looking into this. Not all ensembles are meta-estimators. Here
we intend things that should be generic enough to support non-scikit-learn
use-cases: not just dealing with rectangular feature matrices.

On Fri, 14 Sep 2018 at 08:23, Karthik Duddu <notifications@github.com>
wrote:

[2018-09-15 11:42] jnothman commented on #12078
Please provide a reproducible code snippet that illustrates the problem.

[2018-09-15 11:43] jnothman commented on #12081
It was added in 0.19. There are many many things without versionadded. I've
not found it easy to maintain.

[2018-09-15 11:46] jnothman commented on #12071
Can we consider an empty set of column indices to imply 'drop'?

[2018-09-15 11:47] jnothman commented on #12071
Shouldn't that fix the problem in transformers_?

[2018-09-15 12:00] adrinjalali commented on #12044
Doesn't this apply to all extraction methods? The warm_start would apply to the first stage (`_extract_optics_ordering`), and the rest can use the calculated values independent of the extraction method.

I guess what I'm asking, is that, should we then add all parameters related to extract methods to the `fit` method?

[2018-09-15 13:23] oliverrausch opened #12088 "Metaestimator delegation test does not pass y as a parameter"
#### Description
While working on PR #11682 I stumbled upon this small issue in `tests/test_metaestimator.py`. In the delegation test, score only has the parameter X, while estimators expect X and y to be passed. Because of this, RFE and RFECV cannot be tested for score delegation.

#### Steps/Code to Reproduce
Remove `score` from the `skip_methods` for RFE and RFECV in `test_metaestimator.py` and

[2018-09-15 23:30] jnothman commented on #12086
This seems a tricky issue to solve, but yes we should try to do so while improving pandas interoperability

[2018-09-16 01:15] #12013 closed

[2018-09-16 01:40] qinhanmin2014 opened #12090 "OPTICS test_reach_dists inappropriate"
I begin to suspect the correctness of the test. Seems that our implementation and the referenced implementation are not the same. In our implementation, when there're multiple points with the same reachability-distance, we choose the point which is closest to current point. In the referenced implementation, we choose the point with the smallest index. See the example below (taken from the referenc

[2018-09-16 02:54] jnothman commented on #12090
Interesting. Our policy seems appropriate, although more computationally
complex.

Should the test still be valid in the min_samples=2 case?

[2018-09-16 03:57] qinhanmin2014 commented on #12090
I guess it will be valid when min_samples=2 (not sure though), because when min_samples=2, reachability-distance means distance between points and we'll always move on to the closest point (when there're multiple points, we'll always choose the one with smallest index).

[2018-09-16 08:05] adrinjalali commented on #12090
So as long as we don't encounter this edge case, the two algorithms should return the same RD, which I guess would be the case for our randomly generated data. I don't think that renders the test invalid, it just means we should avoid this edge case and document it in the test.

[2018-09-16 08:26] qinhanmin2014 commented on #12090
How can you prove that in our (randomly) generated dataset, there will never be two points with the same RD (I think it's impossible unless min_samples=2)? I don't think it's an edge case. After picking point 0 at the beginning, there're at least (n_samples-1) points with the same RD and these two implementations will choose different point unless the first point with smallest RD is closest to poi

[2018-09-16 08:27] kodonnell commented on #11978
Closing as it probably makes sense to implement this in a separate package, alongside a bunch of other stuff.

[2018-09-16 08:27] #11978 closed

[2018-09-16 08:31] qinhanmin2014 commented on #12090
And yes, maybe we can carefully construct a test to avoid the difference, but honestly I don't like the idea. We compare our implementation with an existing implementation but seems that the output of our implementation is different even with the example provided by the existing implementation.

[2018-09-16 08:39] adrinjalali commented on #12090
Awesome point @qinhanmin2014 , fair enough, Although I'm not sure why our generated RDs are identical to theirs. What's your proposal here?
Also, I don't think as far as checking the RD generated by the algorithm goes, the test is invalid. Maybe comparing it to another implementation which is incompatible with ours is invalid.

[2018-09-16 09:41] qinhanmin2014 commented on #12090
I'd rather regard it as an coincidence. Actually, I'm not able to reproduce the test (i.e., I get different results even with current test).

Maybe remove the test. I'm not sure at this point. It's good to compare with other implementations but I think we need to ensure that the implementation we compare is the same as ours.

[2018-09-16 14:38] adrinjalali opened #12092 "make test fails to start: test_common error"
Not sure if it's being handled already. On master, `make test` says:

[code]

[2018-09-16 15:28] adrinjalali commented on #12092
there doesn't seem to be more issues. I get:

    collected 5290 items / 1 errors

[2018-09-16 16:07] rth commented on #7544
Closing as outdated, please reopen if it's still an issue.

[2018-09-16 16:07] #7544 closed

[2018-09-16 20:05] joelrich commented on #3831
Sorry for misusing this thread for my question, but it seems related: I would like to print the validation loss after every iteration. I cannot call `predict` in the `monitor` callback and `staged_predict` does not seem to solve my problem either. Is there another solution for this?

@bshabash, I think that's the same as you wanted to do. Did you find a solution?

[2018-09-16 23:47] jnothman commented on #12086
I don't get what you're trying to do here. It's not a complete runnable
snippet with assertions for correct behaviour.

Have you not managed to use OrdinalEncoder(categories=...) to get the right
ordering?

[2018-09-16 23:53] #12092 closed

[2018-09-17 01:00] #12009 closed

[2018-09-17 01:12] avibrazil commented on #12086
I was not aware of OrdinalEncoder(), I'll have to try it.

But my point with this bug report is that LabelEncoder or even OrdinalEncoder should respect order of CategoricalDtype(order=True) features _automatically_ because order is important. And not just increment integers as data is processed.

Again, note how order semantics is embedded in data of CategoricalDtype(order=True):

[code]

About th

[2018-09-17 02:44] espg commented on #12090
Regardless of which implementation we're comparing with (or even if do compare with another implementation), I think that we want this test. All of the other tests check the output of the clusters-- this is the only test that directly verifies that the reachability distances aren't changing as people update code. I think that we need a test that verifies that our reachability distances are invaria

[2018-09-17 02:54] qinhanmin2014 commented on #12090
So what's your proposal here @espg ?
Is there any reference/packages to support your implementation (i.e., choose the closest point when there're multiple point with the same RD)?

[2018-09-17 02:57] jnothman commented on #12086
Sorry, I got a bit confused here. Yes OrdinalEncoder (and extensions to
OneHotEncoder) are new to 0.20 which is very soon to have its release.

But it also looks like you're using LabelEncoder for something other than
target labels.

Yes, ideally, OneHotEncoder and OrdinalEncoder should get their order from
a categorical dtype when applicable, especially if ordered=True.

@jorisvandenbossche is th

[2018-09-17 03:40] qinhanmin2014 commented on #12090
Things are getting more and more complex here. For the above example:
[code]
We get another result from R dbscan:
[code]
I'm not able to figure out how R works immediately.

[2018-09-17 04:05] espg commented on #12090
I think that the R implementation is the more appropriate one to focus on, as it is better tested and in general use. We get near identical results for reachability, but not order, and it seems to be based on how they are expanding their neighborhood queries. Our implementation uses the next nearest point. The paper referenced by @kno10 states that (for the R version):

I don't think that this is

[2018-09-17 04:09] qinhanmin2014 commented on #12090
I think another thing we need to consider is whether it is worthwhile to sacrifice the performance here?

[2018-09-17 06:55] jorisvandenbossche commented on #12086
So what people used `LabelEncoder` for (to encode features) in the past, we have now added `OrdinalEncoder` (or `OneHotEncoder` if the final goal was to have dummy variables). And, in contrast to `LabelEncoder`, `OrdinalEncoder` has a `categories` keyword that at least allows a user to solve this manually:

[code]

That said, I agree that scikit-learn should ideally handle pandas categorical dtype

[2018-09-17 07:43] jnothman commented on #12086
you would just have a FutureWarning that says "In the future, the order of CategoricalDtype(ordered=True) will be respected. To retain current behaviour please specify the categories for ordered pandas Categoricals".

[2018-09-17 07:43] jnothman commented on #12086
The main problem would be excess noise.

[2018-09-17 07:44] jnothman commented on #12086
But you've given your opinion that you don't think we could get this right in a hurry.

[2018-09-17 07:53] jorisvandenbossche commented on #12071
@jnothman I would find it a bit strange to change the transformer the user passed to a string (to indicate that you "dropping nothing" ..). I would personally rather have the inconsistency of an unfitted transformer in the fitted attribute, than losing the information of which transformer was passed (of course it is still available in the non-fitted attribute `transformer`, so maybe that is not re

[2018-09-17 07:53] jorisvandenbossche commented on #12086
Yes, I am indeed worried about excessive noise / annoying warning.
It would be easy to add such a FutureWarning, but that further delays introducing the change without an easy way for the user to already get that behaviour + silence the warning (passing the categories manually like I did in the example above can get quite cumbersome if you have multiple columns, in combination with a ColumnTransfo

[2018-09-17 08:03] jnothman commented on #12071
I don't see why an unfitted transformer is better than an indicator that it
was empty. Maybe 'empty'?

On Mon, 17 Sep 2018 at 17:53, Joris Van den Bossche <
notifications@github.com> wrote:

[2018-09-17 08:10] jorisvandenbossche commented on #12071
But it is the column selection that is (already) empty, not the transformer. So that's maybe what I find 'strange' about it to change the transformer.

I am trying to think about a situation where it might be useful to keep: eg where the column selection is done dynamically (with a function), and you don't know in advance that there will be such an 'empty' column selection. In such a case I think

[2018-09-17 08:30] kno10 commented on #12090
All implementations I know do not actually choose at random, but the next unprocessed point (that is also how the original pseudocode does this). The formulation "at random" does not imply uniform random sampling - just that there is no "provable" logic which point to use next, so we may choose *any*.

[2018-09-17 08:34] jnothman commented on #12071
Yes, we need to realised those lists of indices. We can't leave them as a
function to apply at transform time! Good catch!

[2018-09-17 10:12] #12043 closed

[2018-09-17 10:49] jnothman opened #12096 "ColumnTransformer breaks where X is a list"
[code]

The passed list should be interpreted as an array for the sake of extracting columns. Instead an error is raised.

[2018-09-17 10:53] jnothman opened #12097 "ColumnTransformer.transfomers_ should store indices rather than a function"
When column is specified as a function, this should not be stored in `transformers_`. Rather, the calculated indices should be stored. The current approach risks getting different sets of indices returned when `fit` and `transform` are called.

[code]

Expected:

[code]

Actual:

[code]

[2018-09-17 10:56] jnothman opened #12098 "OPTICS should not call kneighbors on all the data at once"
OPTICS only uses the last neighbor of its call to kneighbors

https://github.com/scikit-learn/scikit-learn/blob/8068b97e1dd3d3868a3466f21b73736d40ddc195/sklearn/cluster/optics_.py#L410

It is therefore wasting memory on an array of shape `(X.shape[0], min_samples)`, when it could be getting `kneighbors` results in multiple chunks (perhaps to ensure [`working_memory`](http://scikit-learn.org/0.20/m

[2018-09-17 12:54] ogrisel commented on #12000
I merged  MacPython/scikit-learn-wheels#11 . Sorry for the original mess, I think I was sloppy with the numpy build version to workaround a failing test on old numpy in some entry of the build matrix. The new setup with distinct versions of numpy for building and testing is better.

[2018-09-17 12:56] #12000 closed

[2018-09-17 13:56] sergeyf commented on #9591
Just an update to this thread. We have something that can do what missForest does via specifying a model for the `IterativeImputer`: https://github.com/scikit-learn/scikit-learn/pull/11977

[2018-09-17 14:43] Adurden opened #12099 "Gaussian Mixture Model Removing Components by giving means of (0,0) and variances of 0"
When using a warm start GMM over several frames of video data, the GMM collapses some components to (0,0) and their covariances matrix to diagonal matrices of near zero values. I've created a github repo with a notebook reproducing the issue which can be loaded into a Binder using the button on the README.

[Reproduction Notebook](https://github.com/Adurden/GMM_Issue)

[2018-09-17 14:47] cecilialiao commented on #10892
Hello, I attended a workshop on first open source contribution which, after a bit of searching, led me to this issue. I can do a bit of reearch into the CONTRIBUTING.md of other popular libraries and have a go at shortening the one for scikit-learn. Is this something I can help with?

[2018-09-17 15:03] rth commented on #10892
Thank you @cecilialiao , improving `CONTRIBUTING.md` would be very much appreciated!

[2018-09-17 17:53] sergeyf commented on #9591
Here's a very simple example that demos how this works: https://github.com/scikit-learn/scikit-learn/pull/12100

[2018-09-17 19:55] austinlostinboston opened #12101 "sklearn multi-output decision tree classifier not behaving as expected"
I am using sklearn's DecisionTreeClassifier in a multi-label situation. I have a matrix where each column represents whether an item is in the list, which I'm also trying to predict. See example below.

    import numpy as np
    from sklearn.tree import DecisionTreeClassifier

    x = np.array([[0,0],[0,1],[1,0]])
    y = np.array([[0,0],[0,1],[1,0]])
    m = DecisionTreeClassifier()

    m.fit(x

[2018-09-17 22:17] jnothman commented on #12101
Does this illustrate the problem well?
[code]

Got:
[code]
Surely that first output should be [[0, 1]] for consistency with the later outputs.

I agree it seems strange.

Any ideas, @glemaitre?

[2018-09-17 22:19] jnothman commented on #12101
Or maybe it's not strange and I'm just not thinking it through. The tree tries to minimise impurity in any branch and ultimately needs to make noisy splits in the multi output case, which it does not in the single output case

[2018-09-17 22:34] leeyjjoel commented on #12081
Hi, @amueller do you mind if I work on this?

[2018-09-17 23:19] janvanrijn commented on #12071
So at what time will the list be formed?

[2018-09-18 03:10] jnothman commented on #12097
@janvanrijn asked on another issue about this topic:

During fitting, the column function should be applied to X and the result stored.

[2018-09-18 04:39] ashishanand7 opened #12102 "JoblibValueError , TransportableException for n_jobs >1 for OnevsRestClassifier"
Python 3.6.4
sklearn 0.19.1
CPU - Core i5 7200U (4 cores , n_jobs=-1 runs fine generally )

Using OnevsRestClassfier with n_jobs > 1 raises the issue .  Fine if we keep n_jobs=1 .
 code to reproduce:

[code]

Output:
[code]

[2018-09-18 12:13] Carreau commented on #11991
From experience with IPython/Jupyter and backport: do not rush to _remove_ code, it will make backport way harder, and trip git bisect/git blame.

We still have some py2 compat code here and there close to 18 month after dropping 2.7 and only remove it when it bother us.

Also feel free to use our backport bot for trivial backport.

[2018-09-18 12:28] Carreau commented on #11991
If master is Py3only, the change to get python2-ism is slim.

"I'm going to start implementing this feature by making sure it works with Python 2 even if the whole library is Python3 only" said no-one ever.

There are few construct that will likely survive the transition (not making use of general unpacking... etc), but nothing easy to detect.

One thing you might be able to do is turn more deprec

[2018-09-18 12:34] rth commented on #11115
Also added this information to http://python3statement.org/ (in https://github.com/python3statement/python3statement.github.io/pull/153)

[2018-09-18 12:37] rth commented on #11991
Thanks for sharing your experience on this @Carreau !

[2018-09-18 15:28] jorisvandenbossche commented on #11912
My proposed solution would be to ensure numerical arrays/matrices before stacking.

So change `sparse.hstack(Xs).tocsr()` to something like `sparse.hstack([_ensure_numeric(X) for X in Xs]).tocsr()` where `_ensure_numeric` would try to convert object/non-numeric arrays to numeric before calling sparse.hstack.

I would not consider this a blocker though, this is a rather corner case and IMO can also

[2018-09-18 15:32] jorisvandenbossche commented on #12071
@jnothman do you still prefer changing the transformer to 'empty' over keeping an unfitted transformer in `transformers_` (as we need to decide on this for the PR)?
I think I prefer the unfitted transformer, although that also giving an inconsistency.

Currently the strings we use ('passthrough', 'drop') are about an action on what to do with the selected columns, while 'empty' is not an action; i

[2018-09-18 16:02] hacktuarial commented on #11904
I'm also interested in fitting these models using scikit-learn. Did you have a particular solver in mind?

[2018-09-18 16:39] albertcthomas commented on #12051
My [previous comment](https://github.com/scikit-learn/scikit-learn/issues/12051#issuecomment-420255257) is wrong. IsolationForest is not based on fully grown ExtraTreeRegressor. With the current state of the code I agree that we should indeed mention in the doc that `max_depth` is defined by `max_samples` even if this is likeky to change depending on PR #5815.

I would also add in the doc that Iso

[2018-09-18 17:47] kss682 commented on #12098
Hi
I have only been at the using end of sklearn , and would like to work on this issue.
How can I start?
Thanks

[2018-09-18 17:52] chriys commented on #5956
Just to complement @lvermue answer. I did what he suggested, but instead inside `sklearn/decomposition/dict_learning.py` the `Parallel` class that is instantiated doesn't have the `max_nbytes` set. What worked for me was to increase the default `max_nbytes` inside `sklearn/externals/joblib/parallel.py` from "1M" to "10M" I think you can put more if needed.

[2018-09-18 18:35] smehta12 opened #12109 "EllipticEnvelope().Fit() throws Nan Value Error"
Hello,

I am using the EllipticEnvelope() class to find the outlier with the data where most of the data has 0 in it. But it doesn't contain any Nan values.  It throws an error as below. I've also tried with reset_index(drop=True) but throws the same error.

#### Steps/Code to Reproduce

[code]
**Data:**

Pandas Dataframe

[code]

#### Expected Results
I think it should indicate record#768 as the

[2018-09-18 19:19] austinlostinboston commented on #12101
@jnothman , so I've been thinking more about whether this is strange behavior or not, and to tell you the truth, I'm unsure now. To me, if you call the DecisionTreeClassifier a multi-label learner (like my example above), then it should handle both situations mentioned in the [user-guide](http://scikit-learn.org/stable/modules/tree.html#multi-output-problems). However, out-of-the-box, it only hand

[2018-09-18 21:18] adrinjalali commented on #12098
Hi @kss682, it's nice to have new people on board. You probably want to read the contributing page in case you haven't (http://scikit-learn.org/dev/developers/contributing.html). And to take an issue, you should always check if somebody else is working on it or not, and this one has already been worked on in the PR #12103 you see linked here.

[2018-09-18 21:41] amueller commented on #6747
I'm too tired (in several ways ;) to make a decision on this but I think it's the last remaining blocker?

[2018-09-18 21:41] amueller commented on #12109
Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal.

[2018-09-19 07:16] qinhanmin2014 opened #12111 "DOC Record the default value of parameters"
In some functions / classes, we fail to record the default value of some parameter (See e.g., [DBSCAN](http://scikit-learn.org/dev/modules/generated/sklearn.cluster.DBSCAN.html#sklearn.cluster.DBSCAN).)
Related PR: #12108

[2018-09-19 07:20] robguinness opened #12112 "Error with CountVectorizer OverflowError: signed integer is greater than maximum"
I am getting an error, which is similar to the one discussed in #9147, but I am using the latest release of scikit-learn (0.19.2), so I'm not sure if this is another issue. I am working with a large corpus. Here is a partial stacktrace:
[code]
#### Description
I am getting an error, which is similar to the one discussed in #9147, but I am using the latest release of scikit-learn (0.19.2), so I'm n

[2018-09-19 07:45] qinhanmin2014 commented on #12112
This is not included in 0.19.2. Try master/0.20rc1 or wait for the 0,20 release.

[2018-09-19 07:45] #12112 closed

[2018-09-19 08:18] qinhanmin2014 commented on #6747
I guess a new option will not block the new release. Things we need to consider now is whether we need to change a name for current scorer. Also, if we decide to implement macro_average_accuracy as another option, we might need to provide some references in the user guide.

[2018-09-19 08:59] qinhanmin2014 commented on #12090
@kno10 So you mean when there're multiple points with the same reachability-distance, we should choose the point with the smallest index? Do you have some references/implementations to support this way? Thanks in advance.

[2018-09-19 09:15] adrinjalali commented on #12111
It's worth mentioning, for the contributors, to know that we prefer to follow `numpy`'s conventions on parameters: https://numpydoc.readthedocs.io/en/latest/format.html#docstring-standard (section 4. Parameters)

Examples:

    max_features : int or float, optional (default=1.0)

    algorithm : {‘ball_tree’, ‘kd_tree’, ‘brute’, ‘auto’}, optional
        Algorithm used to compute the nearest neigh

[2018-09-19 09:47] adrinjalali commented on #12090
@qinhanmin2014 , I think that's how it's done in ELKI's [OPTICSHeap implementation](https://github.com/elki-project/elki/blob/master/elki-clustering/src/main/java/de/lmu/ifi/dbs/elki/algorithm/clustering/optics/OPTICSHeap.java#L182), which uses `OPTICSHeapEntry`, which is a `comparable` and has the following:

[code]

[2018-09-19 11:47] kno10 commented on #12090
A) choosing the next unprocessed point on an empty heap: See Figure 5 in the original OPTICS paper. It prefers points in index order as starting points. But there is no particular reason for this except that it is very cheap. So this actually is in the paper.

B) sorting candidates by reachability, then index: It obviously is not necessary to do it this way; it is just an obvious approach to make

[2018-09-19 12:01] jnothman commented on #6747
I'm, FWIW, -1 on a new option. I don't want to perpetuate the misreading of the Guyon et al (Chalearn AutoML) paper where they have inaccurately described their implementation.

[2018-09-19 12:02] jnothman commented on #6747
I'm okay with having macro-average accuracy available, only I don't know what use it is.

[2018-09-19 12:44] albertcthomas commented on #12111
However, section 4 says "Optional keyword parameters have default values, which are displayed as part of the function signature. They **can** also be detailed in the description".

Hence as along as the default value is in the signature, numpydoc standards do not force to put the default value in the docstring.

[2018-09-19 12:46] adrinjalali commented on #12111
Fair enough, but I guess we still prefer to have the default values mentioned in the docstring. I'll update the post accordingly.

[2018-09-19 13:00] ogrisel commented on #12071
I think I am fine with what is proposed by @jorisvandenbossche : skip transformers that get 0 columns after selection but keep them unfitted in `transformers_`. They should not be used at transform time anyway.

[2018-09-19 13:01] albertcthomas commented on #12111
Then we should also mention it in the coding guidelines of the doc contributing section

[2018-09-19 13:10] adrinjalali commented on #10892
thanks @cecilialiao, do you think you could also help with and include this issue: https://github.com/scikit-learn/scikit-learn/issues/12111#issuecomment-422794060

[2018-09-19 14:08] jnothman commented on #12096
Not supporting lists is very unconventional behaviour for scikit-learn...

[2018-09-19 14:09] jnothman commented on #12096
And really or anything in the scipy world.

On Thu, 20 Sep 2018 at 00:08, Joel Nothman <joel.nothman@gmail.com> wrote:

[2018-09-19 14:12] jnothman commented on #11912
I agree that these `ColumnTranformer` limitations could be addressed in 0.20.1.

[2018-09-19 14:13] jnothman commented on #11904
See also the GLMs PR in https://github.com/scikit-learn/scikit-learn/pull/9405

[2018-09-19 14:15] jnothman commented on #12101
Yes, the multi-output support in DTC is explicitly not treating those
labellings as independent.

[2018-09-19 14:17] qinhanmin2014 commented on #12111
Thanks @albertcthomas . I guess I'll close this one and let's focus on other important issues. At the same time, I won't reject PRs which improves the doc or the contributing guide.

[2018-09-19 14:17] #12111 closed

[2018-09-19 14:37] qinhanmin2014 commented on #12090
Thanks @kno10
My point here is that it's not worthwhile to sacrifice the performance to find out the closest point (which will not improve the result of the algorithm too much I suppose). The two ways @kno10  provide are more reasonable than our way, I think.
I think we might run some benchmarks to see the performance of different methods to define the next point when there're multiple points with

[2018-09-19 17:06] luizgh commented on #8370
Hi @jnothman - I saw that this issue is inactive for a while - do you know if this is being addressed elsewhere? We have a use case for a Dynamic Classifier Ensemble library that could be solved by this implementation.

[2018-09-19 18:56] espg commented on #12090
I'm still confused as to why the two different implementations differ on there output. As @kno10 mentions:

That's true. It's true for our implementation as well; we expand the cluster order for a given seed until the list is empty, and if the list is empty, we take the next unprocessed point in the dataset as the starting point for a new seed to expand.

The problem is that this only happens if t

[2018-09-19 20:37] justinrporter commented on #11072
After some experimentation with the function, I am not actually sure that this makes sense. Because it iterates to convergence, it seems like there is not too much information (at least about ambiguous/tenuous cluster membership) to be found in the availability and responsibility.

If nobody else is interested, I think it would be safe to close this.

[2018-09-19 20:37] #11072 closed

[2018-09-19 20:44] espg commented on #12090
I've been sitting here reading my analysis above and editing (and re-editing) the last part of the text for the past quarter hour.

I'm beginning to get the sinking feeling that both R and sklearn are implementing the algorithm wrong.

I'm fairly certain that point 15 isn't the appropriate choice for the 2nd member of the reachability graph. I can't think of any reason that it would be.

However,

[2018-09-19 21:13] hacktuarial commented on #11904
I hacked together the very beginning of this in https://github.com/hacktuarial/project-template. I tried to recreate a model from the R ordinal package as a unit test, but it's failing and I don't know why. Check out the notebook [here](https://github.com/hacktuarial/project-template/blob/master/skltemplate/ordinal%20PH%20example.ipynb).

@dsaxton I like your trick to remove the monotonic constrai

[2018-09-19 21:51] jnothman commented on #6747
The references to variant multiclass balanced accuracy are discussed in
model_evaluation.rst

[2018-09-19 22:51] jnothman commented on #8370
Can you describe your use case, so that we can evaluate whether this is
indeed the best solution, and thus have more support for its inclusion?

[2018-09-20 01:13] qinhanmin2014 commented on #6747
@jnothman Which entry? Seems that class balanced accuracy and balanced accuracy from Urbanowicz et al. 2015 are not the so-called ``macro_average_accuracy`` discussed here?

[2018-09-20 01:35] hacktuarial commented on #11904
OK - my "test" worked for a different example, the wine dataset. Don't know why it didn't work for the other one (housing, bottom of [this page](https://www.rdocumentation.org/packages/ordinal/versions/2010.03-04/topics/clm)). But I think these make nice integration tests.

Are you interested in working together on this? I can start making issues and PRs on your `ordreg` repo.

[2018-09-20 03:11] qinhanmin2014 commented on #6747
Agree. I don't think the definition from Urbanowicz et al. 2015 is widely accepted, unless provided with more references.

@jnothman Close the issue?

[2018-09-20 04:12] jnothman commented on #6747
I'm happy to have it closed.

[2018-09-20 04:39] #6747 closed

[2018-09-20 08:02] #12088 closed

[2018-09-20 08:10] #12101 closed

[2018-09-20 08:19] albertcthomas opened #12115 "Expected inputs for fit and fit_transform in OneHotEncoder"
In the docstring of the OneHotEncoder we have the following description:
[code]
However for fit and fit_transform the description for the input X only contains:
[code]
I think the description of X should be clearer in fit and fit_transform to say that the integers should be positive and taking values in the range [0, n_values).

[2018-09-20 08:31] jnothman commented on #12115
This is outdated, isn't it? OHE should take arbitrary strings or ints (but
not both)?

[2018-09-20 08:43] rth commented on #12112
Thanks for the confirmation @robguinness !

You may be also interested in the efforts to parallelize scikit-learn's text vectorizers in dask-ml (cf https://github.com/dask/dask-ml/issues/5) . For now only `HashingVectorizer` is supported though. They would be interested in feedback on real-world usage on large text collections as well.

[2018-09-20 09:01] albertcthomas commented on #12115
Indeed I was looking at the doc of 0.19.2... Thanks @jnothman

[2018-09-20 09:31] albertcthomas commented on #12115
In the dev version only the description of X in fit_transform should be changed, it is currently:
[code]

[2018-09-20 10:55] jnothman commented on #12071
I find 'empty' more explicit... For the most part I'm ambivalent

[2018-09-20 12:04] luizgh commented on #8370
Sure @jnothman. I am one of the developers of a library for Dynamic Ensemble Selection (DES) methods (the library is called DESlib). We are having problems to make the classes compatible with GridSearch / other CV functions.

One of the main use cases of this library is to facilitate research on the field of Dynamic Selection of classifiers, and this led to a design decision where the base classif

[2018-09-20 12:53] dsaxton commented on #11904
@hacktuarial Sure, any help would definitely be welcome

[2018-09-20 12:55] shaniphankar commented on #12096
Hey, can I take this up? It'll be my first contribution to scikit-learn.

[2018-09-20 14:04] Zhanchenhaha opened #12119 "gird search in keras ."
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-09-20 14:04] Zhanchenhaha opened #12120 "gird search in keras ."
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-09-20 14:09] Zhanchenhaha opened #12121 "I have a question.when i use callbacks in keras grid search I get TypeError: fit() got an unexpected keyword argument 'callbacks'.Thanks"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-09-20 14:10] Zhanchenhaha commented on #12121
372     scheduler = LearningRateScheduler(lr_scheduler)
    373     fit_params = dict(callbacks=[early_stop])
--> 374     grid_result = grid.fit(X_1, y,**fit_params)
    375     #tb_Tensor = keras.callbacks.TensorBoard(log_dir='./logs_cnn/test/1', histogram_freq=2, write_graph=True, write_images=True,
    376     #      embeddings_freq=0, embeddings_layer_names=None, embeddings_metadata=None)

Typ

[2018-09-20 14:12] #12120 closed

[2018-09-20 14:13] #12119 closed

[2018-09-20 15:11] kno10 commented on #11677
@adrinjalali

At this line, it already obivously is wrong.

If the core distance of the first point is 0.3332, by definition, any reachable point *must* have reachability of at least 0.3332 because of the max.

[2018-09-20 15:12] jorisvandenbossche commented on #12071
If you don't really mind, then I would personally go to keeping the unfitted one.
Mainly because I find 'empty' a bit inconsistent with out other strings, and it is the column selection that is already empty.

[2018-09-20 17:03] espg commented on #12090
Is there any reference/packages to support your implementation (i.e., choose the closest point when there're multiple point with the same RD)?

@qinhanmin2014 I think that the discussion and analysis has found out the following:

- Our current implementation of OPTICS has a bug (thanks @kno10 ) in calculating the reachability distances, or at least in calculating the first distance
- The reference

[2018-09-20 19:02] espg commented on #12090
The R implementation chooses point 14 as the 1st ordered point in the reachability graph (i.e., as the first point after the initialization point, the initialization point being point 0 and having an infinite reachability distance).

As you have pointed out, there are multiple correct choices for the 2nd point due to ties:

- Point 3 is a valid choice for the first ordered point in the reachabilit

[2018-09-20 19:51] kno10 commented on #12090
As far as I can tell, it's likely the output code you used that produced a wrong table.

Instead of printing them as is, print reachabilty[order], coredistance[order] etc.
then the results will make sense. In particular, the clusters numbers will be consecutive...

[2018-09-20 20:17] adrinjalali commented on #12090
@kno10, really good point! Silly me.
@espg, here's the table, and the corrected code for reference:

id | reachdist | coredist | predecessor | cluster
-- | -- | -- | -- | --
1 | Inf | 0.333208651272379 | NA | 1
13 | 0.333208651272379 | 0.17871163011086 | 1 | 1
10 | 0.17871163011086 | 0.243693355280387 | 13 | 1
7 | 0.17871163011086 | 0.287675880147458 | 13 | 1
4 | 0.17871163011086 | 0.3332086512723

[2018-09-21 03:55] MonkeyDNoppu opened #12125 "Doubt in discriminant_analysis.py"
def predict_proba(self, X):
        """Estimate probability.

        Parameters
        ----------
        X : array-like, shape (n_samples, n_features)
            Input data.

        Returns
        -------
        C : array, shape (n_samples, n_classes)
            Estimated probabilities.
        """
        prob = self.decision_function(X)
        prob *= -1
        np.exp(prob, prob)

[2018-09-21 08:01] adrinjalali opened #12127 "EllipticEnvelope and GraphicalLasso: inconsistent results under different setups"
While adding examples to docstrings, two models (three classes) show an odd
behavior, i.e. they give different results under different circumstances and they
are not random, since the random `seed` and `rand_state` are fixed.
The results are deterministic under each setting, but change from setup to
setup.

For instance (observed in PR #12124), the EllipticEnvelope, has the following
issue (this i

[2018-09-21 08:07] kno10 commented on #12090
Note that the same indexing confusion exists in the sklearn API... (and I would expect that this will frequently come up with users, that they expect reachability and core distances to be in cluster order not data order - OPTICS usually uses cluster order, although I agree that most of the time object order is more convenient!) A typical side effect of not having a type safe API, that uses integer

[2018-09-21 09:06] adrinjalali commented on #12090
Yeah true. For me one thing which helped was the distinction between `reachability` and `reachability_plot` (same for the other variables). We could introduce `*_plot_` (or similar) parameters for our public attributes, to avoid the confusion.

[2018-09-21 09:39] kno10 commented on #9354
`sqrt(dot(x, x) - 2 * dot(x, y) + dot(y, y))`

is numerically unstable, if dot(x,x) and dot(y,y) are of similar magnitude as dot(x,y) because of what is known as **catastrophic cancellation**.

This not only affect FP32 precision, but it is of course more prominent, and will fail much earlier.

Here is a simple test case that shows how bad this is even with double precision:
[code]
sklearn compute

[2018-09-21 10:05] kno10 commented on #9354
Actually the y coordinate can be removed from that test case, the correct distance then trivially becomes 1. I made a pull request that triggers this numeric problem:
[code]
I don't think my paper mentioned above provides a solution for this problem - just compute Euclidean distance as sqrt(sum(power())) and it is single-pass and has reasonable precision. The loss is in using the squares already,

[2018-09-21 11:58] albertcthomas commented on #12127
[code]
returns
[code]

[2018-09-21 12:30] albertcthomas commented on #12127
You put size=300 in the doctest of EllipticEnveloppe but 500 in the doctest of MinCovDet

[2018-09-21 13:36] jorisvandenbossche commented on #12071
I am a bit biased as this is my preference (so @jnothman can speak up), but I think the conclusion is to use the unfitted transformer and not the 'empty' string as you did now in the PR.

[2018-09-21 13:39] jeremiedbb commented on #9354
Thanks for this very simple example.

The reason it is implemented this way is because it's way faster. See below:
[code]

Although the number of operations is of the same order in both methods (1.5x more in the second one), the speedup comes from the possibility to use well optimized BLAS libraries for matrix matrix multiplication.

This would be a huge slowdown for several estimators in scikit-l

[2018-09-21 14:06] kno10 commented on #9354
Yes, but **just 3-4 digits of precision** with FP32, and 7-8 digits with FP64 *does* cause substantial imprecision, doesn't it? In particular, since such errors tend to amplify...

[2018-09-21 14:20] jeremiedbb commented on #9354
Well I'm not saying that it's fine right now. :)
I'm saying that we need to find a solution in between.
There is a PR (#11271) which proposes to cast on float64 to do the computations. In does not fix the problem for float64 but gives better precision for float32.

Do you have an example where using an estimator which uses euclidean_distances gives wrong results due to the loss of precision ?

[2018-09-21 16:18] NicolasHug commented on #12125
Have you read numpy docs?

[code]

`prob` will simply be equal to `1 / exp(- decision_function(X))`

The use of `np.exp` and `np.reciprocal` allow to make computations inplace instead of allocating new arrays, which is unnecessary here.

[2018-09-21 17:01] MonkeyDNoppu commented on #12125
thank you :)

[2018-09-21 18:37] LarsDu opened #12129 "VotingClassifier .fit() does not trigger setting .model attribute for KerasClassifier objects"
#### Description

#### Steps/Code to Reproduce

[code]

Now if I try to access the nn2.model it fails.

[code]
[code]

Accessing .model is needed to save Keras models (since they can't be pickled the same way as sklearn models)

The KerasClassifier .model attribute should have been set when calling nn2.fit() from the VotingClassifier. I have looked at the source code for KerasClassifier and Voting

[2018-09-21 19:03] LarsDu commented on #12129
I see now that VotingClassifier is designed to work specifically with unfitted classifiers.

Unfortunately this makes it difficult to use it with KerasClassifiers when trying to save and load a keras model independently of sklearn classifiers.

I will consider contributing a VotingClassifier implementation that works with fitted classifiers in the future.

[2018-09-21 21:31] amueller commented on #12129
So you don't want the VotingClassifier to fit the model? Do you want it to fit any of the models?
There is the idea of having "frozen" models that are not changed during the call to fit but that's not implemented yet.

[2018-09-21 21:53] LarsDu commented on #12129
My original problem was actually that if I call my_voting_classifier.fit() where one of the estimators is a KerasClassifier, I can't actually save the model using joblib. I need to pull out the KerasClassifier using something like
[code]
The problem is that with voting classifier, due to the fact that it does some type of model cloning shenanigans, I can't seem to save and load each estimator inde

[2018-09-21 23:02] avibrazil opened #12130 "Inconsistent interoperability between Pipeline and GridSearchCV"
There is a chance I'm not doing it in the right way, but I can't pass GridSearchCV.best_params to Pipeline.set_params(). Take this pattern:

[code]

Last line fails with `TypeError: set_params() takes 1 positional argument but 2 were given`

It should be easier to exchange parameters found by GridSearchCV() and an encapsulation of transformations and estimators such as a Pipeline(), specially when

[2018-09-22 03:12] qinhanmin2014 commented on #12090
Yes, this is confusing. Before reading the test of R dbscan, I failed to recognize that RD/CD from R is in cluster order. Maybe we can note down our way here. At this point I'm not persuaded to use cluster order instead of object order.

Compare with ELKI. ELKI seems to be doing things right with both the cluster order and the reachability distances. We may have to sort the results for the test as

[2018-09-22 07:31] #12098 closed

[2018-09-22 07:47] kno10 commented on #12090
I believe good example and *explicit* documentation of the storage layout is necessary. ("Reachabilities, indexed by object number not in cluster order, use `r.reachability_[r.clusterorder_] to access in cluster order" etc.)

Sorting the result will not work reliably enough. Unless you fix the ordering using the IDs on ties, the results can also vary in their reachability distance, because once a

[2018-09-22 10:36] bottydim commented on #10076
For me, the problem was that the gram_matrix contained identical observations, which meant that the condensed distance matrix contained only zeros.

[2018-09-22 10:46] jnothman commented on #8370
One variant we have considered is where the meta-estimator can mark some of its parameters as not to be cloned. Would that work?

[2018-09-22 10:48] jnothman commented on #12121
What makes you think this is an issue with scikit-learn?

Please provide a complete, verifiable example.

[2018-09-22 10:55] jnothman commented on #9354
I certainly still think this is a big deal and should be a blocker for 0.21. It was an issue introduced for 32 bit in 0.19, and it's not a nice state of affairs to leave. I wish we had resolved it earlier in 0.20, and I would be okay, or even keen, to see #11271 merged in the interim. The only issues in that PR that I know of surround optimisation of memory efficiency, which is a deep rabbit hole.

[2018-09-22 11:00] jnothman commented on #12071
Go for it. Change it back to an unfitted estimator. But do note this
behaviour in the documentation of transformers_

On Fri, 21 Sep 2018 at 23:36, Joris Van den Bossche <
notifications@github.com> wrote:

[2018-09-22 11:04] #12125 closed

[2018-09-22 11:13] jnothman commented on #12129
`named_estimators_` contains the fitted versions

[2018-09-22 11:15] jnothman commented on #12130
Use
[code]

It would be good to have an example of this in our documentation somewhere. Please feel free to submit a PR adding some example code.

[2018-09-22 11:15] #12130 closed

[2018-09-22 13:10] #11990 closed

[2018-09-22 16:04] dsaxton commented on #11904
@hacktuarial Also potentially interesting: https://gist.github.com/dsaxton/23ac841d51ed682f4d24d82b5c5d990b

Could be worthwhile to add something like this as a test at some point (that `OrdinalRegression` achieves the Bayes error rate when the true model is fit).

[2018-09-22 17:13] rth commented on #9354
Thanks for illustrating this issue with very simple example!

I don't think the issue is as widespread as you suggest, however -- it mostly affects samples whose mutual distance small with respect to their norms.

The below figure illustrates this, for 2e6 random sample pairs, where each 1D samples is in the interval [-100, 100]. The relative error between the scikit-learn and scipy implementation

[2018-09-22 17:18] kno10 commented on #9354
Any fast approach using the dot(x,x)+dot(y,y)-2*dot(x,y) version will likely have the same issue for all I can tell, but you'd better ask some real expert on numerics for this. I believe you'll need to double the precision of the dot products to get to approx. the precision of the *input* data (and I'd assume that if a user provides float32 data, then they'll want float32 precision, with float64,

[2018-09-22 17:29] rth commented on #9354
Overall however, I agree this issue needs fixing. In any case we need to document the precision issues of the current implementation as soon as possible.

In general though I don't think the this discussion should happen in scikit-learn. Euclidean distance is used in various fields of scientific computing and IMO scipy mailing list or issues is a better place to discuss it: that community has also

[2018-09-22 17:30] rth commented on #9354
Thanks for your response @kno10! (My above comments doesn't take it into account yet) I'll respond a bit later.

[2018-09-22 18:33] rth commented on #9354
Yes, convergence to some point outside of the origin may be an issue.

Well a >10x slow down for their calculation in 64 bit will have a very real effect on users.

Tried a quick naive implementation with numba (which should use SSE),
[code]
getting a similar speed to scipy `cdist` so far (but I'm not a numba expert), and also not sure about the effect of `fastmath`.

Just for future reference, wh

[2018-09-22 18:48] jeremiedbb commented on #9354
No. The ((x - y)**2.sum()) performs
*n_samples_x * n_samples_y * n_features * (1 substraction + 1 addition + 1 multiplication)*
 whereas the x.x + y.y -2x.y performs
*n_samples_x * n_samples_y * n_features * (1 addition + 1 multiplication)*.
There is a 2/3 ratio for the number of operations between the 2 versions.

[2018-09-22 23:37] kno10 commented on #12090
I looked into the code a bit, and I think there is another major flaw in the way the next point is chosen.

Precisely, the error that I am referring to is here:
https://github.com/scikit-learn/scikit-learn/blob/0c0a9e8406987fd53ccd705c3e455514c47c49c4/sklearn/cluster/optics_.py#L506-L507

In this snippet, the next point is chosen *only* from `unproc`. The `quick_scan` method prefers the point with

[2018-09-23 00:08] kno10 commented on #12090
And a fix is here:
https://github.com/kno10/scikit-learn/commits/patch-optics
But there are two alternatives, so you'll need to benchmark and pick one.

1. a fixed cython quick_scan (but not sure if indexes are always a long - may need to use some other type for 32 bit compatibility?)
2. a numpy argmin solution that does not need the .pyx anymore, but I don't know how cheap and fast masked arrays

[2018-09-23 00:15] espg commented on #12090
@kno10 Thank you for diving into this and finding the source of the error, I appreciate it. I should have a bit of time tomorrow to look into the patches and run a few benchmarks to see the impact of one fix versus the other.

[2018-09-23 15:15] dsaxton commented on #11904
@jnothman PR #9405 looks like a solid idea.  I do think that this would be an independent contribution since the model is different from typical GLMs in the sense that the link function isn't applied to the expected value of `y` but rather the distribution function.

[2018-09-23 16:05] xhlulu commented on #12102
@ashishanand7 Just a little tip for formatting: when you use ``` it changes your text to code output. e.g.

[code]

vs

some code

[2018-09-23 18:30] aditya1994 commented on #12096
Has the issue solved?

[2018-09-23 23:13] hermidalc opened #12137 "AdaBoost feature_importances_ should support base estimators with coef_"
Could AdaBoost feature_importances_ attribute support base estimators which have coef_ available?

[2018-09-24 02:04] aronszanto opened #12138 "Feature request: Shuffled iteration through ParameterGrid"
`ParameterGrid`'s current implementation yields parameter combinations deterministically (up to an ordering of dict keys), meaning that for small parameter sets it's necessary to call `list()` followed by some `shuffle()` method in order to iterate randomly over parameter settings, while for large parameter spaces it's impossible to build the combinatorially-large list of parameter combinations in

[2018-09-24 03:26] ejolly opened #12139 "permutation_test_score may be too liberal with respect to cross-validation folds"
#### Description
It's noted that `permutation_test_score` is implemented is according to Test 1 in this reference:
Ojala and Garriga. Permutation Tests for Studying Classifier Performance.  The Journal of Machine Learning Research (2010)  vol. 11

However that specific reference does not discuss permuting with respect to cross-validation folds. Right now it looks like `permutation_test_score` work

[2018-09-24 06:02] jorisvandenbossche commented on #12096
@aditya1994 there is an open PR: https://github.com/scikit-learn/scikit-learn/pull/12104

[2018-09-24 08:54] smarie opened #12140 "KernalPCA: raise Errors and Warnings according to eigenvalue decomposition numerical/conditioning issues"
In current KernelPCA `_fit_transform` implementation, nothing prevents or alerts users that the eigenvalue decomposition presents some numerical or conditioning issue. We could check the following (thanks https://github.com/GabrielRilling for the suggestion!):
 * significant imaginary parts in eigenvalues (raise `ValueError`)
 * significant negative eigenvalues (throw `KernelWarning` if there is a

[2018-09-24 09:32] smarie opened #12141 "KernelPCA: `fit_transform` and `transform` methods are inconsistent in case of zero eigenvalues"
In current implementation of KernelPCA, when there are zero eigenvalues that are not removed (`remove_zero_eig=False`), then `fit_transform` and `fit` + `transform` methods lead to inconsistent results.

 * when `fit_transform` is run, there is an optimization code that does not recompute the gram matrix. Therefore the transformed X is `X_transformed = self.alphas_ * np.sqrt(self.lambdas_)` [here]

[2018-09-24 09:34] smarie commented on #12141
Note: in the PR I choose the second option, so that there is no need to scale the eigenvectors each time a transform is computed.

[2018-09-24 09:54] albertcthomas commented on #12127
Maybe I misunderstood the issue for EllipticEnveloppe but in
[code]
the expected result is the one you obtained with n_samples=500 whereas you put n_samples=300.

I think that if you put n_samples=500 in the doctest:
[code]
the test will pass.

[2018-09-24 09:57] albertcthomas commented on #12127
And the result should be the same for MinCovDet and EllipticEnveloppe

[2018-09-24 10:03] rth commented on #9354
Following the above discussion,
 - Made a PR to optionally allow computing euclidean distances exactly https://github.com/scikit-learn/scikit-learn/pull/12136
 - Some WIP to see if we can detect and mitigate the problematic points in https://github.com/scikit-learn/scikit-learn/pull/12142

For 32 bit, we still need to merge https://github.com/scikit-learn/scikit-learn/pull/11271 in some form thoug

[2018-09-24 10:05] kno10 commented on #9354
FYI: when fixing some issues in OPTICS, and refreshing the test to use reference results from ELKI, these fail with `metric="euclidean"` but succeed with `metric="minkowski"`. The numerical differences are large enough to cause a different processing order (just decreasing the threshold is not enough).

https://github.com/kno10/scikit-learn/blob/ab544709a392e4dc7b22e9fd60c4755baf3d3053/sklearn/clu

[2018-09-24 11:33] cecilialiao commented on #10892
@adrinjalali Would it make more sense to include #12111 in the full documentation (https://github.com/scikit-learn/scikit-learn/tree/master/doc) rather than `CONTRIBUTING.md`?

[2018-09-24 12:02] qinhanmin2014 commented on #10892
We've decided not to mention it. I think the main purpose of this PR is reorganizing, not adding things.

[2018-09-24 13:38] cecilialiao commented on #10892
I created PR #12144. But in doing so, I noticed that the pull request comment box is prepopulated to reference to a section of `CONTRIBUTING.md`, which I have removed.

[code]

Is it possible to change the pre-populated field to reference the live documentation, or should I add the pull-request-checklist back onto `CONTRIBUTING.md`?

[2018-09-24 13:40] yarikoptic commented on #12016
@ogrisel THANKS!
FWIW I have just checked the 0.20.X branch and it seems that none of the fixes for the issues which I stumbled upon, including this one, yet were picked up to 0.20.X. So I guess I will wait for @jnothman 's sweep before trying again.

[2018-09-24 13:44] smarie commented on #12140
I made a mistake with the issue numbers :( ! I will try to fix it by force-pushing an edited commit message in my PR

[2018-09-24 14:21] oskarmaier opened #12146 "Numpy limitation applies when RandomForestClassifier is fitted with balanced_subsample set"
The code to compute class weights with the _balanced_subsample_ schema in the _RandomForestClassifier_ seems to suffer from a limitation in the _numpy.choose_ function when providing more than 32 classes.  The limitation is detailed here: https://stackoverflow.com/questions/39162235/alternative-for-numpy-choose-that-allows-an-arbitrary-or-at-least-more-than-32-a

Avoiding the use of _numpy.choose_

[2018-09-24 15:00] jorisvandenbossche opened #12147 "ENH: support DataFrames in OneHot/OrdinalEncoder without converting to array"
Left-over to do from https://github.com/scikit-learn/scikit-learn/pull/9151#issuecomment-343306766

Idea is to support DataFrames without converting to a contiguous array. This conversion is not needed, as the transformer encodes the input column by column anyway, so it would be rather easy to preserve the datatypes per column.

This would avoid converting a potentially mixed-dtype DataFrame (eg i

[2018-09-24 15:03] luizgh commented on #8370
Just to confirm: would this mean that the clone would simply refer to the same object? (e.g. something like ```clone.parameter = estimator.parameter```)

This should work for our use case, since we make no changes on the base classifiers after they are fit.

[2018-09-24 15:14] jorisvandenbossche opened #12148 "Improvements to check_array to handle heterogenous / object data"
With the recent improvements to `OneHotEncoder` and `ColumnTransformer`, we now have estimators in scikit-learn that explicitly accept object-dtyped data or heterogenous data / DataFrames. In several cases, we have noted that we need to update utility functions like `check_array` to better handle those new use cases.

Some cases encountered:

* In the `OneHotEncoder`, we have some special code to

[2018-09-24 16:23] amueller opened #12149 "Add sparse_threshold to make_column_transformer"
I think the ``sparse_threshold`` parameter from ``ColumnTransformer`` should be added to the ``make_column_transformer`` helper function.

[2018-09-24 16:25] amueller opened #12150 "ColumnTransformer should always apply sparse_threshold"
I hate to do this, but I think we should change the behavior of ``sparse_threshold`` for the final release.
I think it's unnatural to not apply this when all matrices are sparse. In the (not uncommon) case that all columns are categorical it's easy to get a sparse array otherwise because the default of ``OneHotEncoder`` is sparse.

This is an issue (similar to #12071) that pops up when building a

[2018-09-24 17:16] amueller commented on #6747
I think @rhiever and @ledell do, right? but ok to leave this closed.

[2018-09-24 17:19] amueller commented on #12150
@jnothman @jorisvandenbossche Any input? I would kind of like to release but I'm unsure about this one and it would be an incompatible change. Though we did warn that the ColumnTransformer API can change, right?

[2018-09-24 17:20] amueller commented on #12150
It says
"EXPERIMENTAL: some behaviors may change between releases without deprecation."

so maybe I shouldn't consider this blocking and just release.

[2018-09-24 19:06] lobpcg commented on #12068
You might also want to add LOBPCG https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.lobpcg.html which is already used in http://scikit-learn.org/stable/modules/generated/sklearn.manifold.SpectralEmbedding.html and http://scikit-learn.org/stable/modules/generated/sklearn.cluster.spectral_clustering.html

LOBPCG is expected to outperform both ARPACK and "randomized" solvers fo

[2018-09-24 19:26] datajanko commented on #12149
I'll take it

[2018-09-24 21:00] amueller opened #12153 "Add "other" / min_frequency option to OneHotEncoder"
The OneHotEncoder should have an option to summarize categories that are not frequent - or we should have another transformer to do that beforehand.
Generally having a maximum number of categories or having a minimum frequency per category would make sense as thresholds. This is similar to what we're doing in CountVectorizer but I think common enough for categorical variables that we should explic

[2018-09-24 21:57] jorisvandenbossche commented on #12150
That seems to make sense (of course, if you want consistent output, you can also pass `sparse=False` to `OneHotEncoder`).
However, should we then also apply the keyword if all results are dense? (which means that if you set it to a value higher than 1, the result would still be converted to a sparse matrix; which is probably not a very useful corner case)

In general, relying on `sparse_theshold`

[2018-09-24 22:08] jorisvandenbossche commented on #12150
With regard to releasing / blocking. IMO we should release sooner rather than later. The last weeks there have been a couple of issues reported / fixed related to ColumnTransformer, due to people actually using it (that we would not have catched by keeping the original PR longer in review). So there is a realistic chance there will be more issues after we release, and that we might need to do addi

[2018-09-25 00:55] qinhanmin2014 commented on #6747
I'm happy to reopen if someone provides some references (except for Guyou et al. 2015)

[2018-09-25 05:09] espg commented on #12090
...I'm still running benchmarks on some larger datasets, but so far it looks like the cython performance gain is pretty marginal (i.e., about 20% faster at best, and tied with numpy in some cases). It may be worth removing quick_scan and going with the pure python module.

[2018-09-25 07:30] smarie commented on #12068
Cool suggestion! I see that 'amg' is also mentioned in the doc, is there any reason why we should not add it in kPCA too ?

[2018-09-25 08:43] glemaitre opened #12154 "BUG: check_cv check for cv is 'warn' instead of cv == 'warn' which is raising an exception with n_jobs=-1"
In `_split.py`, `cv is 'warn'` will not work as intended since cv will be copied if `n_jobs=-1`.

[code]

[code]

[2018-09-25 11:00] #12154 closed

[2018-09-25 14:37] #12096 closed

[2018-09-25 14:43] #12149 closed

[2018-09-25 15:03] #12071 closed

[2018-09-25 15:22] jorisvandenbossche opened #12157 ""Other versions" button on doc website is not working"
The "Other versions" button on the left (see eg on http://scikit-learn.org/dev/tutorial/index.html) is pointing to http://scikit-learn.org/stable/support.html#documentation-resources

[2018-09-25 15:35] stnorton commented on #6073
I realize this is closed, but there is reference to this in section 11.2.4 in Murphy (2012) _Machine Learning: A Probabilistic Perspective_.  As a usage example, see[ Imai and Tingley (2011)](https://onlinelibrary.wiley.com/doi/abs/10.1111/j.1540-5907.2011.00555.x) in the American Journal of Political Science.

GMM regressions are fairly commonly used in the social sciences, and are well implement

[2018-09-25 15:51] amueller commented on #12016
@yarikoptic can you try again with the 0.20.0 tag please?

[2018-09-25 16:21] adrinjalali commented on #12127
@albertcthomas, sorry, just had a chance to test them. You're right. That was a silly mistake of mine (copy paste issues).

I also investigated the other issue. It's odd, but passing an integer instead of `prng` fixes the issue. No idea why. Thanks, closing.

[2018-09-25 16:21] #12127 closed

[2018-09-25 16:32] lobpcg commented on #12068
'amg' is an option for 'lobpcg' that may make LOBPCG work faster, but the effect is highly problem dependent. It is unclear to me 'amg' it would work well for kPCA.  Having LOBPCG already added to kPCA, it would be easy to test 'amg' and check it is worth adding 'amg' to kPCA.

[2018-09-25 18:15] datajanko commented on #12153
Actually, I once implemented something along those lines  and would like to work on that.
I also build a transformer that was able to perform a linear regression on groups. For this purpose it seems to be to much overhead to one hot-encoder those variables. There are also cases where one would like to perform the OneHotEncoding as late as possible in a pipeline.

So I'd vote for a separate transfo

[2018-09-25 18:18] amueller commented on #10410
@austinlostinboston if you want to apply this to data, you should use OneHotEncoder.

[2018-09-25 18:28] amueller commented on #12138
This is done in RandomizedSearchCV.

[2018-09-25 18:28] #12138 closed

[2018-09-25 22:02] jorisvandenbossche opened #12162 "Ensure ColumnTransformer also works with empty slices as column selector"
Follow-up on https://github.com/scikit-learn/scikit-learn/pull/12084

That PR fixed the "empty column specification" problem for lists and boolean arrays, but not for slices.
I commented there:

So we should further fix this fully check for empty column specifiers, including slices, and possibly only check for this during fit (and store the information somehow)

[2018-09-25 23:38] jnothman commented on #12150
I'm fine with applying the sparse_threshold when all are sparse. The problem I can see is nested use of such beasts: once we convert to dense, we don't look at the proportion of zeros so it underestimates the density.

[2018-09-25 23:46] jnothman commented on #12150
I don't think there should be a big problem changing this behaviour in a bug fix release in the sense that most estimators that handle sparse handle dense, Su a

[2018-09-25 23:46] jnothman commented on #12150
so there should be little breakage

[2018-09-25 23:59] jnothman commented on #6747
No, @ledell cited macro-averaged accuracy as what Guyon et al call balanced accuracy, and as something offered in H2O, but as mean zero-one loss, not under the name "balanced accuracy". As far as I can glean from above @rhiever has used the Urbanowicz definition, which I was *incorrect* above to say incorporates precision (that was Mosley et al.; I need this mess like I need a hole in the head!),

[2018-09-26 01:08] jnothman commented on #12137
Yes, although the conversion of coef_ to feature_importances_ in general
requires a parameter: which norm to take to make all values non-negative.

[2018-09-26 01:18] #12157 closed

[2018-09-26 01:34] lobpcg opened #12164 "new feature: add clusterQR method to 'kmeans' and 'discretize' in spectral clustering"
#### Description
http://scikit-learn.org/stable/modules/generated/sklearn.cluster.spectral_clustering.html generates clustering labels using one of the two methods determined by assign_labels = 'kmeans' or 'discretize'  from embedding computed from diffusion_map in  scikit-learn/sklearn/manifold/spectral_embedding_.py

There is a nice simple new algorithm, called clusterQR, described in https://gi

[2018-09-26 02:42] jnothman commented on #12139
Actually, it does talk about cross validation (bottom page 1836). It is quite clear in their use of leave-one-out that the same (i.e. permuted) D is passed into the error function `e` which includes both training and testing.

You might be right that this is not theoretically or empirically the best estimate of `p`. If there are references or empirical studies to support a variant in which the tes

[2018-09-26 03:04] jnothman commented on #8370
Yes, the clone would refer to the same object.

[2018-09-26 03:18] jnothman commented on #12154
I have to get the lgtm.com alerts back on.

[2018-09-26 03:40] jnothman opened #12167 "Look at lgtm.com alerts for last couple of months"
Due to a technical glitch, lgtm.com alerts have not been reported on our pull requests for the last couple of months. They could have caught bugs like #12154.

While most of the alerts added in the last couple of months are to `sklearn/externals` which we can largely ignore (or we can tell joblib and liac-arff that they have issues), it would be good to look through other alerts in the repo to fin

[2018-09-26 03:49] jnothman commented on #10533
It should be possible also without site joblib in 0.20! :)

[2018-09-26 03:54] hermidalc commented on #12137
Hi - I guess that could be specified as an option.  Usually do the square or the abs value

[2018-09-26 03:56] jnothman commented on #12164
This doesn't meet our basic criteria for inclusion of stable and mature algorithms. What makes you think it is worth our while to maintain an implementation of this? What are the chances that this will remain a canonical approach in 5 years' time?

[2018-09-26 04:01] jnothman commented on #12138
`RandomizedSearchCV` won't handle the case where there are multiple dicts in your grid... you handle such dependencies with inheritance from BaseSearchCV and overriding `_run_search`, which may not be ideal, but is easier than it used to be...

[2018-09-26 06:11] alexsieusahai commented on #12137
If no one else is on this, I'd be glad to take it.

[2018-09-26 07:04] ankur1422 opened #12169 "i want to train my own data which is in Indian Language, how should i proceed ?"
My data is
word <tab_separated> tag
word <tab_separated> tag
.
.
.
help me :

[2018-09-26 07:10] jnothman commented on #12169
This is not a library development issue, but a usage question. Perhaps ask StackOverflow.

[2018-09-26 07:10] #12169 closed

[2018-09-26 09:09] jnothman commented on #12137
You're welcome if you're confident you know where to get started, and if @hermidalc did not want to do it

[2018-09-26 09:13] rth commented on #12167
loky related issues can be reported under https://github.com/tomMoral/loky/issues/172 while for joblib there is an existing issue in https://github.com/joblib/joblib/issues/535

[2018-09-26 12:19] luizgh commented on #8370
Thanks for confirming. This would solve the problem for our use case.

[2018-09-26 13:22] stnorton commented on #6073
@amueller It's difficult enough to discourage sklearn's use for mixture regressions, especially given that it's so easy in R. There are also no examples of implementation available online (a search for an example for a seminar I'm teaching led me to this thread), leading to the need to reinvent the wheel each time.

Mixture regressions are often used in social science for running models with heter

[2018-09-26 13:44] samlanning commented on #12167
Hey, I see that PR integration seems to now have been resolved in #12166, sorry to hear that we'd silently been not analysing PRs.

I have a few suggestions that could help the current situation, and help mitigate similar problems going forwards:

* You could add LGTM as a required check before merging, this would have caught the issue of LGTM not getting the webhooks, but will also catch most oth

[2018-09-26 14:38] smarie commented on #12068
ok then. I suggest to wait for the current pull request to be merged first, since it already depends on two others that will be relevant in the case of 'lobpcg for kPCA' (#12145 concerns eigenvalues validation, and #12143 is to fix kPCA behaviour in case of perfect zero-eigenvalues). It will be very easy to add the new method to the benchmark provided in #12069 so that you have a nice plot of exec

[2018-09-26 14:50] tomMoral opened #12171 "Task pickling error when forcing joblib backend in KDTree/BallTree and python2.7"
#### Description
In python2.7, when forcing the `joblib` backend to use processes, it breaks `KNeighborsMixin` as the cython methods `KDTree.query` and `BallTree.query` are not picklable. This is due to the change in [`sklearn/neighbors/base.py`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neighbors/base.py#L439) which does not force the threading backend anymore. The backend

[2018-09-26 15:15] adrinjalali commented on #11182
I was just wondering: what should be done for the cases where the docs refer to the externals, such as when we talk about [model persistence](http://scikit-learn.org/stable/tutorial/basic/tutorial.html#model-persistence)? #12171 reminded me of this.

Should there be public methods in `sklearn` somewhere, which use then `_externals` for the case we want to expose some public functionality like mode

[2018-09-26 16:46] amueller opened #12173 "Breaking BaseSearchCV inheritance with abstract method"
#9599 introduces an abstract method on BaseSearchCV. If someone inherited from BaseSearchCV and redefined ``fit`` (like ``skopt.BayesSearchCV``) this will break.

I think maybe we should not make this abstract and instead just raise a NotImplementedError.

See https://github.com/scikit-learn/scikit-learn/pull/9599#issuecomment-424737595.

[2018-09-26 16:46] Akumenyi commented on #2688
@jona-sassenhagen I tried to go through  your notebook and found that I get an error with rotation in FactorAnalysis in the for loop. Any help on this as to why? Thanks

[2018-09-26 16:49] jona-sassenhagen commented on #2688
@Akumenyi I'm not sure what you mean - the factor rotation code is not yet merge ..?

[2018-09-26 16:52] adrinjalali commented on #12173
Could I give this a try?

[2018-09-26 16:53] Akumenyi commented on #2688
@jona-sassenhagen sorry for the lack of clarity; i get a type error;
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
for ax, method in zip(axes, (None, 'varimax')):
---->      fa = FactorAnalysis(n_components=n_comps, method= 'varimax').fit(X)
               components = fa.components_.T

TypeEr

[2018-09-26 16:55] amueller commented on #6073
I agree it would be good for the research community to have. I think we'd be happy to add an example, or you could add a package to scikit-learn-contrib.
Also see the [faq](http://scikit-learn.org/dev/faq.html#why-are-you-so-selective-on-what-algorithms-you-include-in-scikit-learn).
Having something "in R" is the equivalent of having it "on Pypi" not "in scikit-learn".

It guess it's something lik

[2018-09-26 16:56] jona-sassenhagen commented on #2688
Ok, that's cause the code in #11064 is not yet merged. You could pull that branch and it should work.

[2018-09-26 17:00] Akumenyi commented on #2688
@jona-sassenhagen apologies. how do I do that?

[2018-09-26 17:02] amueller commented on #12173
You can. I'm not sure @jnothman agrees with the solution, though ;)

[2018-09-26 17:34] jona-sassenhagen commented on #2688
Sorry, I'm not competent to give you an intro to git. You will have to familiarise yourself with git a bit by your own. Then purge your current sklearn, install sklearn from GitHub, add my repo, and do this: https://stackoverflow.com/questions/1709177/git-pull-a-certain-branch-from-github

[2018-09-26 17:54] mkulariya commented on #10410
@austinlostinboston  it is done upgrade to  sklearn 0.20
http://scikit-learn.org/stable/whats_new.html#version-0-20

[2018-09-26 18:46] amueller opened #12175 "Graph lasso precision test failure on win-32/mkl/python3.7"
In     ``def test_graph_lasso(random_state=0):``

https://github.com/ContinuumIO/anaconda-issues/issues/10112#issuecomment-424825573

[2018-09-26 19:30] adrinjalali commented on #12175
IIRC, passing 0 to `make_sparse_spd_matrix` instead of `random_state` may fix the issue (at least worked for me, amd still don't know why)!

[2018-09-26 19:43] datajanko commented on #12153
I'll work on this and try to provide a PR as soon as possible.

I just read the _encoders.py source code and it seems that also the OrdinalEncoder would profit directly. As both OneHot- and OrdinalEncoder inherit from _BaseEncoder where we call np.unique which gives us the counts of the categories, I'd try to start from there.

Would that make sense?

[2018-09-26 21:27] zaeemnalla commented on #9132
You're better off using `pd.get_dummies(data).values` to accomplish your task. It accepts non-negative integers.

[2018-09-26 22:00] rth commented on #794
This formatting issue in the documentation is still relevant today, for what it's worth, and it lead to confusion is some other issues.

[2018-09-26 22:03] jnothman commented on #12173
Sounds good to me.

[2018-09-26 22:05] jnothman commented on #11182
That is what we are now doing with joblib: sklearn.utils.Memory etc.

[2018-09-26 22:51] sjtrny opened #12178 "silhouette_samples gives incorrect result from precomputed distance matrix with diagonal entries"
#### Description
silhouette_samples gives incorrect result from precomputed distance matrix with diagonal entries.

When using silhouette_samples and metric='precomputed', if the input distance matrix has non-zero values along the diagonal then the silhouette scores are incorrect.

**Suggested Solution**
Before calculating the scores the diagonal entries of a precomputed distance matrix should be

[2018-09-26 23:32] jnothman commented on #12171
Is this something that can be resolved in Joblib, rather?

[2018-09-26 23:39] jnothman commented on #6073
This is not identical to, but seems related to, the example in
https://github.com/scikit-learn/scikit-learn/pull/10852. I'd be very happy
to see an example of this if it is a common technique.

[2018-09-26 23:45] jnothman commented on #12153
Yes, that sounds sensible

[2018-09-27 00:01] jnothman commented on #9132
You're better off using `OneHotEncoder(categories='auto')` in scikit-learn 0.20

[2018-09-27 00:03] jnothman opened #12179 "OneHotEncoder "only non-negative integers" message should suggest using categories='auto'"
before  version 0.20, `OneHotEncoder` did not support negative integers in input. Now it supports that case if the "new behaviour" is requested by instantiating it with `categories='auto'`. The legacy behaviour currently raises `ValueError("X needs to contain only non-negative integers.")`. This error message should be extended to mention how the new behaviour can be activated.

[2018-09-27 00:05] ramanujam commented on #12179
Can I take this issue?

[2018-09-27 00:07] jnothman commented on #12178
(Also, hi Stephen!)

[2018-09-27 00:07] jnothman commented on #12178
Could you explain why you want to handle this case?

I would rather raise an error if the diag is not close to 0.

[2018-09-27 00:12] jnothman commented on #6284
@sergeyf, this is the appropriate place to discuss ampute / missing value generation. I'd be keen to see another contributor implement it with @rianneschouten's advice, but if she wants to implement it herself, she may.

[2018-09-27 00:14] jnothman commented on #12179
Sure, thanks!

[2018-09-27 00:27] jnothman commented on #12178
(Also, upgrading to 0.20 may give you much better performance for silhoette calculations on large samples)

[2018-09-27 02:00] sjtrny commented on #12178
Hi Joel!

I'd like to handle this case because it isn't completely clear from the documentation. The equations used to explain the behaviour of the function do not require the use of the diagonal entries, yet they are still involved in the calculation. Likely this is for ease of implementation and speed.

Thanks for the tip about 0.2. I have updated now (and updated the original issue text).

[2018-09-27 02:38] jnothman commented on #12178
But why, when silhouette deals in distances, would you have the distance from a point to itself not equal to 0? Or is it just that you are filling the matrix in a way that leaves these cells arbitrary, and you had expected the results to be invariant to their value?

[2018-09-27 02:41] jnothman commented on #6284
I have marked this "help wanted"

[2018-09-27 02:42] jnothman commented on #6284
Note to the potential contributor: we cannot port the code directly from the R mice package, as its software licence is incompatible with ours.

[2018-09-27 02:45] sjtrny commented on #12178
The later. The values in these cells are arbitrary and I expected the result to be invariant to their value.

I understand that the distance matrices produced by pairwise_distances (which I think recently was changed to paired_distances) will always have these values set to 0. However my distance matrix did not conform to this format.

[2018-09-27 03:18] jnothman commented on #12178
[No, paired and pairwise do different things and have for at least 5 years. Pairwise calculates distances over a cartesian product of two sets of samples (defaulting to a set and itself). Paired deals with specified pairings.]

So let's do a little validation and raise an error if the diagonal is non-zero.

[2018-09-27 03:18] jnothman commented on #12178
Feel free to submit a PR

[2018-09-27 03:35] sjtrny commented on #12178
Yes you're right. Seems like my browser was pushing me to metrics.pairwise.pairwise_distances instead of metrics.pairwise_distances, leading me to believe that it had been removed.

[2018-09-27 05:48] RianneSchouten commented on #6284
I am enthusiastic about the idea but do not have the time to implement it myself. I would be willing to advice, review, check, and think along.

These two papers should help the implementer to make a start:
https://www.tandfonline.com/doi/full/10.1080/00949655.2018.1491577
https://rianneschouten.github.io/mice_ampute/vignette/ampute.html

[2018-09-27 05:56] RianneSchouten commented on #6284
Now I am thinking about it. Ampute has two aspects: continuous amputation and discrete amputation. We could skip the latter, which would make it a whole lot easier.

What i can do, is set up some simple code that shows the idea. After that, someone can check that I've used all the python code well enough and improve it. And then we can send it for review.

Maybe @sergeyf is willing to improve my c

[2018-09-27 05:58] sergeyf commented on #6284
@RianneSchouten What is the difference between continuous and discrete amputation? The latter is for categorical variables? So far `IterativeImputer` is only for continuous variables, so it would be inline with our current limitations (although hopefully someone will want to extend all of this to categorical variables as well).

Your suggestion that you set up simple code sounds good to me. It wou

[2018-09-27 06:17] jnothman commented on #6284
@RianneSchouten, is my [summary above](https://github.com/scikit-learn/scikit-learn/issues/6284#issuecomment-401232481) along the right lines?

[2018-09-27 07:32] tomMoral commented on #12171
The issue seems to be with pickling methods from `cython` objects in `python2.7`. This is something which is solved in later version of python, with the standard pickle protocol. It could probably be dealt with in `cloudpickle` but I am not sure it is worth putting too much time in backporting this feature in python2.7.

Note that the use of `threading` backend was the default before `0.20`, and t

[2018-09-27 08:41] ogrisel commented on #12175
The mismatch looks small enough. Maybe relaxing `decimal=4` to `decimal=3` would be fine.

[2018-09-27 08:47] tomMoral commented on #12171
For the record, the following works on python3.6 but break in python2.7

[code]

[2018-09-27 09:28] Akumenyi commented on #2688
@jona-sassenhagen thanks for the help.

[2018-09-27 09:37] #12171 closed

[2018-09-27 09:43] ogrisel commented on #12164
+1 for making a prototype Python implementation outside of the scikit-learn code base and running some benchmarks. If the results are as good as expected this could be contributed to http://contrib.scikit-learn.org/ with proper tests and documentation.

Then later once this method meets the scikit-learn basic criteria for inclusion, we can discuss merging it upstream into scikit-learn.

[2018-09-27 11:56] adrinjalali commented on #12175
Assume the following script, which is similar to the one giving the error, but up to generating the `X`:

[code]

Now running on 3 different systems:

[code]

[code]

[code]

And now this script (not using `prng` in the call for `make_sparse_spd_matrix`):

[code]
And the same 3 different runs:

[code]

[code]

[code]

The result for the 32bit is still different, but the 64bit ones become the same.

[2018-09-27 12:13] laleph opened #12181 "GridSearchCV fails when kernel='tophat' and for more than two features in the data"
#### Description
GridSearchCV fails to work when the kernel is 'tophat' and the data has more than two features, but KernelDensity handles multivariate data.

#### Steps/Code to Reproduce
[code]

#### Expected Results
This should return the best bandwidth as is the case when the kernel is set to `gaussian`.

#### Actual Results
It returns "a" bandwidth and the following error code:
[code]

#### Ve

[2018-09-27 13:51] #12146 closed

[2018-09-27 16:42] RDMelamed commented on #11920
I guess no one is interested in this.  In case anyone comes across this and it's not obvious, the workaround for this is `class_weight= 'balanced'`

[2018-09-27 18:10] amueller commented on #11920
This is because some of the solvers in LogisticRegression penalize the intercept, while SGDClassifier does not. You can change "intercept_scaling" or use a different solver.

[2018-09-27 18:13] amueller commented on #11920
see bottom of the logistic regression http://scikit-learn.org/dev/modules/linear_model.html#logistic-regression model. the table is not rendered correctly unfortunately :-/

[2018-09-27 19:06] aishgrt1 commented on #12079
@amueller Shall I take this?

[2018-09-27 19:17] amueller commented on #12081
@leeyjjoel sure, though if you don't start before Saturday we might do it at a sprint.

@jnothman are you suggesting we shouldn't bother or are you just reiterating that it's a pain? ;)

[2018-09-27 19:45] aishgrt1 commented on #11452
@jnothman Is this solved?

[2018-09-27 19:56] rth commented on #11452
@aishgrt1 To know if an issue if solved you need to check if some of the comments link to a PR, or more importantly if there are references from a PR that show up in the issue (there should always be). Also doing a Github quick search with e.g. the estimator name (here `GradientBoostingClassifier`) to see existing issues / PRs never hurt.

[2018-09-27 20:12] aishgrt1 commented on #11452
Great ! So Can I take this ?

[2018-09-27 20:14] amueller commented on #8645
I think this is fixed in #11124.

[2018-09-27 20:14] #8645 closed

[2018-09-27 20:32] rth commented on #11452
Unless I'm mistaken, no one appears to be currently actively working on it.

 However, as mentioned above, it's not a very straightforward one. The changes proposed in https://github.com/scikit-learn/scikit-learn/issues/11452#issuecomment-405308440 sound reasonable, but in the end it may be or not be the solution; it could take some experimentation (and also some code familiarity). Another issue w

[2018-09-27 21:02] rth opened #12184 "Minimal numpy and scipy versions for 0.21"
Assuming the next 0.21 release happens around or after April 2019, the oldest Ubuntu LTS at that point will be 16.04 LTS, which includes,
 - numpy 1.11.0
 - scipy 0.17.0

(checked in a Docker image, not sure where to find the official information)

so we could probably make these our minimum requirements for 0.21.

Making so would for instance allow to implement https://github.com/scikit-learn/sci

[2018-09-27 21:06] rth commented on #10105
Closing in favor of using the Cython BLAS API (https://github.com/scikit-learn/scikit-learn/issues/11638) which should become possible in 0.21 after bumping the minimal scipy requirement (https://github.com/scikit-learn/scikit-learn/issues/12184).

[2018-09-27 21:06] #10105 closed

[2018-09-28 01:27] RDMelamed commented on #11920
Wow, thanks.  Penalizing the intercept, I did not realize!!

[2018-09-28 01:27] #11920 closed

[2018-09-28 01:48] jnothman commented on #12081
I'm saying that I think there are lots of things missing it. If we want to
be particular about it we can

[2018-09-28 02:02] pramitchoudhary commented on #7613
Jumping late to the party @amueller @kmike (you guys are doing some great work with eli5, love it). @lesshaste.
One other option could possibly be tree-based surrogates as an explanation model(using Decision Trees) along with any ensemble forest built. Tree Surrogates accompanied by pruning(pre and post) could go a long way in generating faithful explanations(both global and local).
Making use of

[2018-09-28 03:06] xhlulu opened #12186 "Unused Variable Assignment in for k-means"
#### Description

in `sklearn/cluster/k_means_.py`, line 1559:

https://github.com/scikit-learn/scikit-learn/blob/2e2e69d412b205a6cb65dae964e6da2639e26803/sklearn/cluster/k_means_.py#L1559-L1563

Are variables `batch_inertia` and `centers_squared_diff` actually used before being reassigned in line 1589?

https://github.com/scikit-learn/scikit-learn/blob/2e2e69d412b205a6cb65dae964e6da2639e26803/skl

[2018-09-28 05:01] leeyjjoel commented on #12081
@amueller Sure. I'll start now

[2018-09-28 07:07] ogrisel commented on #12184
I would also be in favor of bumping dependencies for scikit-learn 0.21 to those matching ubuntu 16.04 LTS so as to be able to implement what is described in #11638.

[2018-09-28 07:34] ogrisel commented on #12181
What do you mean by 'it returns "a" bandwidth'. When I run this code on scikit-learn master it prints:

[code]

So the warning is worrying but what makes you think the best bandwidth on the grid is not 0.886?

[2018-09-28 07:35] ogrisel commented on #12181
To learn more about the warning, it possible to convert it into an exception with the following:

[code]

[2018-09-28 07:43] ogrisel commented on #12181
For low bandwidth values, the cross-validation returns invalid test scores:

[code]

[2018-09-28 07:50] ogrisel commented on #12181
This is consistent with the following experiment:

[code]

So the problem is not grid search but kernel density that fails to estimate a numerically valid model for some hyperparameters. It might be because the tophat kernel attributes zero similarity if the closest neighbors in the test set are outside of the kernel bandwidth radius.

[2018-09-28 08:34] jeremiedbb commented on #12186
The variables `batch_inertia` and `centers_squared_diff` aren't used indeed. However, the function `_mini_batch_step` performs inplace operations on the centers for example, so it can't be removed.
We could instead do
[code]
or just
[code]

[2018-09-28 09:41] Ichaab opened #12188 "unstable result with Decision Tree Classifier"
#### Description
I have developed a java code to produce a decision tree without any pruning strategy. The used desicion rule is also the default majority rule. Then I opted to use python for its simplicity. The problem is the randomness in the DecisionTreeClassifier. Although splitter is set to "best" and max_features="None", so as all features are used, and random_state to 1, I don't finish with

[2018-09-28 10:35] ageron opened #12189 "VotingClassifier estimators_ are based on transformed labels"
#### Description
The `VotingClassifier` transforms the labels before training the sub-estimators, so if you try to use them directly for predictions or scoring, you get unexpected results. IMHO, this should either be fixed (but I'm guessing it's a performance optimization) or at least the documentation should warn about this fact.

#### Steps/Code to Reproduce
[code]

#### Expected Results
I would

[2018-09-28 13:19] Askdeep opened #12190 "Error: from sklearn.mixture import ( ImportError: cannot import name GMM"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-09-28 13:34] adrinjalali commented on #7613
I find going through tree based models' code pretty joyful. I could try and add the two functions, while the rest of the discussion goes ahead.

[2018-09-28 14:09] qinhanmin2014 commented on #12190
This class is deprecated since version 0.18 and will be removed in 0.20. Use ``sklearn.mixture.GaussianMixture`` instead.

[2018-09-28 14:09] #12190 closed

[2018-09-28 14:43] Ichaab commented on #12188
@jnothman @glouppe

[2018-09-28 14:44] jaallbri commented on #8996
I couldn't find anywhere else to comment on this but we run into high dimension problems well solved by approximate nearest neighbor algorithms like LSHForest.  For example, we have custom approximate string matching problems where we a have corpus of 10 million strings and we want to search for best matches.  Using sci-kit we can control vectorization and matching a lot better than using somethin

[2018-09-28 15:18] laleph commented on #12181
Thank you very much for your elucidating answers.

I have two questions or rather remarks.

First, wouldn't it be better to catch such failed KernelDensity scores to give the user a warning? Something like "Some hyperparameters result in invalid scores".

Second, I was following [jakevdp's benchmarks](https://jakevdp.github.io/blog/2013/12/01/kernel-density-estimation/). The tophat kernel seems to

[2018-09-28 15:30] qinhanmin2014 opened #12191 "Circle CI failure on master (python3)"
Circle CI suddenly fails on master. The same error message occurs 2 times so I post it here (apologies I don't have time to investigate right now).
[code]

[2018-09-28 15:37] #12081 closed

[2018-09-28 17:17] oleksandr-pavlyk opened #12193 "test_logistic_regression_multi_class_auto contains unwarranted asserts"
#### Description

The ``linear_model/tests/test_logistic.py::test_logistic_regression_multi_class_auto`` test contains assertions (see [diff of the commit where they are introduced](https://github.com/scikit-learn/scikit-learn/commit/7ed61a24feb4ffde0bee9342acf4a58e3f946a61#diff-2bfe9139a43ab5120913773a17729931R1435) as part of PR #11905).

The assertion claims that logistic regression coefficient

[2018-09-28 17:35] RianneSchouten commented on #6284
@sergeyf At the moment ampute does not have the possibility to deal with categorical variables in case of MAR and MNAR. It changes categorical variables into values. The distinction between continuous and discrete is about whether the user wants to use the logit functions to assign probabilities (continuous) or whether the user wants to specify probabilities him/herself (for instance by dividing t

[2018-09-28 17:49] #12173 closed

[2018-09-28 17:51] amueller commented on #12184
+1 on bumping and +1 on waiting for 0.20.1

[2018-09-28 17:53] amueller commented on #11920
The current default liblinear solver is a bit quirky (in terms of what it implements). Which is why we're in the process of moving to l-bfgs (there's a warning in 0.20, the change will happen in 0.22).

[2018-09-28 17:53] sergeyf commented on #6284
Thanks @RianneSchouten, that is helpful. In my opinion, if it makes the code a lot simpler and still provide functionality to do more general amputation, I think we should go for the simplest version. Logit functions are plenty for the use-cases I've seen so far. @jnothman do you concur?

I also think we can just specify the percentage by number of rows, and that will also be sufficient.

[2018-09-28 17:55] xhlulu commented on #12186
Yes I think that if we have to modify it we could go with `_mini_batch_step(...)`.

I realized just after I opened this issue that you are working on a new implementation of k-means. In this case this change won't be necessary?

[2018-09-28 19:10] lobpcg commented on #6489
This fix should also make AMG stable in http://scikit-learn.org/stable/auto_examples/cluster/plot_segmentation_toy.html so that the code of the example does not need to run ARPACK

[2018-09-28 22:28] gwerbin opened #12194 "MultiLabelBinarizer constructs pathological CSR matrices"
#### Description

`MultiLabelBinarizer` can be made to construct pathological CSR matrices.

#### Steps/Code to Reproduce

[code]

#### Expected Results

Result is converted to COO matrix.

#### Actual Results

[code]

The problem is evident when you look at the indices:

[code]

#### Versions

[code]

[2018-09-28 22:52] samwaterbury commented on #12189
I think there's a problem in your "Steps/Code to Reproduce" section, fourth code block, you are printing the log_reg predictions a second time instead of the SVC results. After correcting it I got:
[code]
which is the same as what the voting classifier's SVC is predicting. Does this explain the issue?

If not, I did find this, which could potentially be what's happening:
https://github.com/scikit-

[2018-09-28 23:50] samwaterbury commented on #12194
The problem (I think) is this part of the `fit()` function:
[code]
If the user specifies a `classes` argument, uniqueness is not imposed which presumably causes the problems. I modified the above code with this, and the error no longer occurs:
[code]
Of course, this is not a real solutions since a set will not maintain the order, which is the whole purpose of the `classes` argument.  I can take th

[2018-09-29 02:48] gwerbin commented on #12194
There are at least two well known "ordered set" implementations in Python that can do this efficiently:

https://pypi.org/project/orderedset/

https://pypi.org/project/ordered-set/

[2018-09-29 08:47] ageron commented on #12189
Hi @samwaterbury , good catch, thanks, I fixed the code above.  However, the issue remains: the subestimators expect labels as integers, not strings.  It does not seem related to #11263.

[2018-09-29 11:02] Isabek opened #12198 "GridSearchCV behaves very strangely"
#### Description

Getting an error when trying to use `KerasClassifier` with `GridSearchCV`.

This error is thrown when shapes of `y_true` and `y_pred` are not equal. Example: (6000, 10) and (6000, ).

Inside `scikit_learn.py` file on the line 228 you can see code like below:

[code]

`self.model.predict(x, **kwargs) ` returns array with shape `(6000, 10)`. But the next two lines converts it to `(

[2018-09-29 12:16] oleksandr-pavlyk commented on #12193
So in TLDR conclusion, the solutions of `ovr` and `multinomial` are indeed distinct (no simple relations) due to presence of L2 regularization.

One can, however, remap 2-class 'ovr' with 'l2' penalty `C`, into 2-class 'multinomial' problem with 'l2' penalty `C/2`.

[2018-09-29 12:16] #12193 closed

[2018-09-29 12:28] rth commented on #12194
Thanks for the report @gwerbin and for investigating @samwaterbury !

Instead of trying to silently fix it, I wonder if it wouldn't make more sense to explicitly raise an error in this case? The docstring doesn't say so, but I would think that classes should be unique by definition. Is there a use case where it's not the case?

The only other estimator that takes in the `classes` in `__init__` is

[2018-09-29 14:13] qinhanmin2014 commented on #12194
@rth There's already a PR at #12185 and I've proposed the same suggestion there. With your +1, let's raise an error unless someone provide a use case. .

[2018-09-29 14:15] samwaterbury commented on #12194
Makes sense to me! I can modify the existing PR to throw a ValueError instead.

[2018-09-29 14:39] CatChenal commented on #11997
I wish the help wanted tag would disappear once a contributor adopts an issue...

[2018-09-29 14:55] mferrari3 commented on #8365
I'm working on this.

[2018-09-29 15:02] ml4713 commented on #8365
@mferrari3 hey I have this similar issue #8367 .  you wanna work on this together?

[2018-09-29 15:04] Akanksha1Raj commented on #12179
I’m working in this

[2018-09-29 15:09] blooraspberry commented on #6766
I am working on this!

[2018-09-29 15:10] vsrivas commented on #12167
I am working on it.

[2018-09-29 15:10] adrinjalali commented on #11912
I'll give this a try.

[2018-09-29 15:19] vsrivas commented on #11554
i am working on this issue

[2018-09-29 15:30] nanshanli commented on #6809
I am working on this

[2018-09-29 15:31] jiaoz commented on #1149
new URL: http://scikit-learn.org/dev/auto_examples/feature_selection/plot_feature_selection.html#sphx-glr-auto-examples-feature-selection-plot-feature-selection-py

[2018-09-29 15:31] vl21 commented on #5419
I'm working on this.

[2018-09-29 15:32] nycuni commented on #3466
I'm working on this.

[2018-09-29 15:32] mferrari3 commented on #8657
I'm working on this.

[2018-09-29 15:38] learnFlat commented on #7528
@mc4229  do you want to work on this together?

[2018-09-29 15:40] AMDonati commented on #7598
I am working on it

[2018-09-29 15:40] lily9423 commented on #11969
I'm working on this.

[2018-09-29 15:42] parul-l commented on #3846
I am working on sklearn.feature_extraction.image.PatchExtractor

[2018-09-29 15:47] mc4229 commented on #7528
@learnFlat Sure. How do you want to work together? Have you started making changes on your branch yet?

[2018-09-29 15:53] learnFlat commented on #7528
@mc4229 I haven't. I'm still learning the code

[2018-09-29 15:54] shimengfeng commented on #3846
Andrea and I will be working on sklearn.cluster.Ward example

[2018-09-29 15:55] Akanksha1Raj commented on #10580
I am working on this

[2018-09-29 15:59] topisan commented on #10529
I am working on this!

[2018-09-29 16:17] cynco commented on #12179
Johanna and I am working on this.

[2018-09-29 16:31] ogrisel commented on #12181
I am not sure. Maybe the KDE estimator could issue a warning if the tophat bandwidth is smaller that than the median distance to nearest neighbors. That would require extra computation at training time though.

If have a really large number of samples, you could try undersampling: train your model on a subset of the training set and see if the cross-validated log likelihood does not decrease too m

[2018-09-29 16:32] ogrisel commented on #12181
Closing this issue as apparently it's not a bug.

[2018-09-29 16:32] #12181 closed

[2018-09-29 16:48] eharris99 commented on #10892
I am attending a workshop on first open-source contribution. May I suggest some rephrasing and cuts in a pull request?

[2018-09-29 16:51] amueller commented on #12179
@cynco there is already a fix at #12180 (I had removed the "help wanted" label though these are often out of date)

[2018-09-29 17:02] vasudhathinks commented on #8365
working on this with @ml4713

[2018-09-29 17:04] ThaliaBarrera commented on #3846
I am working on sklearn.decomposition.DictionaryLearning

[2018-09-29 17:09] andreanr commented on #3846
We just updated the google doc from @lodurality here:
https://docs.google.com/spreadsheets/d/19D-RQocsLk4BM7-Xax8hVvIu3XDgwYSUnvja4cMrJww/edit#gid=0

Me and Shimeng will be working on the missing ones.

[2018-09-29 17:19] andreanr commented on #3846
@adrinjalali Yes definitely, we will finish the outstanding ones in the current list and then we will update the list base on the updated modules.

[2018-09-29 17:37] blooraspberry commented on #11444
working on this.

[2018-09-29 17:57] rebekahkim commented on #10113
I'll work on the test

[2018-09-29 19:53] mc4229 commented on #7528
I created a pull request #12218 for this issue. Please feel free to review it!

[2018-09-29 19:53] jakirkham commented on #11638
Saw the discussion in PR ( https://github.com/scikit-learn/scikit-learn/issues/12184 ) seems to be forming a consensus around using a newer version of SciPy on `master` making this feasible. Does that mean PRs in this direction be welcome?

[2018-09-29 20:31] rth commented on #11638
I think we would want to wait for the minor 0.20.1 bugfix release first (cf #12184), to reduce potential backporting issues. After which PRs would be definitely very welcome :)

BTW, are you aware of projects that have been doing this reliably for a while for a range scipy versions and OSs (e.g. on conda forge)?  For instance, do we know if scipy 0.17 - 1.1+ does maintain a backward compatible ABI

[2018-09-29 22:47] #11969 closed

[2018-09-29 23:34] jnothman commented on #7613
Maybe you want to lead the review of NOCATS (#4899) too!

[2018-09-29 23:37] jnothman commented on #12188
I can't think of a short answer, but I don't claim to be an expert on tree algorithms. What kind of data are you testing with?

[2018-09-29 23:56] jnothman commented on #6284
That sounds great @rianneschouten. I hope I can get other core devs on
board with this plan, seeing as we had been enthusiastic about Raghav's
idea of a missingness generator, but got stuck on the details.

[2018-09-30 00:54] jnothman commented on #12189
This is done to facilitate alignment in `predict_proba` etc, not for efficiency (though there are conceivable benefits there).

I don't see it as a big problem, though:
* it could be better documented
* it would be a troublesome issue if we allowed for pre-fitted estimators

Changing it would be hard to do without breaking backwards compatibility.

[2018-09-30 00:59] samwaterbury commented on #12189
It's worth pointing out that `VotingClassifier` gives access to its internal label encoder via the attribute `le_`, however this is not documented.

[2018-09-30 08:11] qinhanmin2014 opened #12224 "Improve the plot in plot_ols_ridge_variance.py"
See http://scikit-learn.org/dev/auto_examples/linear_model/plot_ols_ridge_variance.html
E.g., the titles and the plots are overlapping and the label of the axises are in the wrong place.
To dear contributor: please wait for #12199 before starting your work.

[2018-09-30 12:19] digital-mine opened #12226 "Get Error while import the module"
#### Description
I get this error after importing the module
`/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/externals/cloudpickle/cloudpickle.py:47: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp`

Can I ignore it?
How to solve it?
#### Steps/Code to Reproduce
`import sklearn`
#### Expected

[2018-09-30 12:41] ageron commented on #12189
Thanks @jnothman and @samwaterbury.  I agreed, it's not a big issue, probably just a word or two to add in the documentation, including the `le_` tip.  I won't be available in the next ~3 weeks, but I can take care of this if it's not done by then.

[2018-09-30 13:08] ageron opened #12227 "fetch_openml() does not use the local cache"
#### Description
`fetch_openml()` does not use the local data cached in `~/scikit_learn_data`.

#### Steps/Code to Reproduce
Run the following code twice. The first time, with a working Internet connexion, the second time without an Internet connexion.
[code]

#### Expected Results
First run (with Internet access):
(70000, 784)

Second run (without Internet access):
(70000, 784)

#### Actual Resul

[2018-09-30 13:42] GaelVaroquaux opened #12228 "Add an optional l2 regularization to the graphical Lasso"
The graphical lasso is quite unstable on very ill-conditioned matrix. It is a well known issue that arises from the fact that it is a very optimization problem.

Adding a small amount of l2-regularization helps a lot. On a problem in my lab, it ended being the only way to estimate a sparse inverse covariance. It is actually a simple modification. If people agree, I can try to find the time to cont

[2018-09-30 13:44] ab-10 commented on #12224
Hi,
I'd like to take this once #12199 is merged.

[2018-09-30 17:56] lobpcg commented on #12164
I have made a fork https://github.com/lobpcg/scikit-learn and will try to make all necessary changes there, including proper tests and documentation. I am new to this but hope to manage quickly.

Is far as I can see, the actual changes are so small and involve only 2 core codes,  spectral.py and test_spectral.py, that hardly justify creating a brand new separate project at  http://contrib.scikit-l

[2018-09-30 19:38] ChetanArvindPatil opened #12229 "Print Default max_depth Value For DecisionTreeRegressor"
Hi All,

I am using [DecisionTreeRegressor](http://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html) and I want to print what is the default value that is taken if `max_depth` value is not passed.

Can anyone share how I can print this value? I read the documentation but haven't found a solution yet.

Thanks.

[2018-09-30 19:43] pulkit6559 commented on #12228
I would like to work on this issue

[2018-09-30 19:46] adrinjalali commented on #12229
The [doc](http://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html) says the default value is `None`, which implies:

That doesn't answer the question? This may be a better question for StackOverflow or other forums though, since it's not really an issue with the `scikit-learn`'s code. Unless the class's behavior doesn't match the docs.

[2018-09-30 19:48] GaelVaroquaux commented on #12228
I will do it. I already have the code that does it. I just had to write
it today for my research.

Beside, how would you tackle it mathematically? There good way to do it
that is simpler and more robust than the obvious way. It just requires a
small proof that I was planning to attach to the PR.

[2018-09-30 22:01] samwaterbury commented on #12227
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/datasets/openml.py

The first thing the function `fetch_openml` does is establish whether the data is cached or not:
[code]
But then I was able to follow the function calls to line 55 in `_open_openml_url` where it tries to access a URL, so it seems to ignore the fact that the data exists and just proceeds to access information at so

[2018-10-01 04:15] qinhanmin2014 commented on #12229
Apart from the doc, you can try something like
[code]

[2018-10-01 04:15] qinhanmin2014 commented on #12229
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2018-10-01 04:15] #12229 closed

[2018-10-01 08:39] zxhralf commented on #12226
i also get this
on macOs 10.12.6
python 3.7
numpy 1.15.2
scipy 1.1.0
scikit-learn 0.20.0

[2018-10-01 08:50] ogrisel commented on #12228
Sounds good but please include a plot of how this impacts the existing examples in the PR.

Have you exchanged about this l2 penalty with the authors of the [glasso](http://statweb.stanford.edu/~tibs/glasso/) package? As far as I understand they do not include l2 penalty either but it would be great to have their opinion on this.

[2018-10-01 08:53] ogrisel commented on #12227
ping @janvanrijn :)

[2018-10-01 09:06] ogrisel commented on #12102
I cannot reproduce using random sparse data on scikit-learn 0.20:

[code]

I think this can be closed unless a new minimal reproduction case on sklearn 0.20 is given.

[2018-10-01 09:07] ogrisel commented on #12102
I have also tried with `solver='liblinear'`.

[2018-10-01 10:37] whiletruelearn opened #12231 "Add max error metric for regression"
#### Description

Max error is a metric used in regression. Few packages like [turi](https://turi.com/learn/userguide/evaluation/regression.html#maxerror-) seem to have it. Would be nice to have this in scikit learn as metric as well.

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-10-01 12:10] Akumenyi commented on #2688
@jona-sassenhagen I have been able to clone the master branch of Scikit-learn from your repository and installed on my machine but the rotation option from FactorAnalysis is not there.

Do I need to do anything else to add that functionality? Can you confirm if the version of the FactorAnalysis function with rotation is in the master branch?

Thanks
Kwesi

[2018-10-01 12:13] jona-sassenhagen commented on #2688
It's not in the master branch - it's in `jona-sassenhagen:varimax`

[2018-10-01 12:13] jona-sassenhagen commented on #2688
see here: https://github.com/scikit-learn/scikit-learn/pull/11064

[2018-10-01 13:05] Akumenyi commented on #2688
@jona-sassenhagen Thanks! I have finally been able to get to work.

[2018-10-01 14:32] #12191 closed

[2018-10-01 14:34] ogrisel commented on #12224
I merged #12199.

[2018-10-01 14:58] samwisehawkins commented on #8370
I also have a potential use case for this. I work with forecasts from weather models.  For training models I have access to historic weather data (wind speed, say) to use as features.  However, when making a real-time forecasts that information is not available, I only have _forecasts_ of those features.  I want to be able to fit an estimator on the historical features, freeze it, and then use it

[2018-10-01 16:17] MelBeckerleg opened #12233 "Compiler error for nmf_missing branch"
# problem

I am trying to get the `nmf_missing` branch to compile without success, [as per this suggestion](https://github.com/scikit-learn/scikit-learn/pull/8474#issuecomment-347520280).

## The compiler error:

On branch `nmf_missing` after issuing `make` at the command line it build largely fine until the following error (The first one I know of, although several warnings):

    error: Command

[2018-10-01 16:27] #12179 closed

[2018-10-01 16:33] thomasjpfan commented on #12227
In `_open_openml_url`, before the request is made, there should be a check to see if the `local_path` exists. If the path exists, that file can be read, decompressed, and returned.

There maybe an issue regarding when to invalidate the cache. For example, if the cached file was corrupted, the decompression would most likely fail. The user would be left with manually going through the file structur

[2018-10-01 16:35] janezd opened #12234 "IncrementalPCA fails if data size % batch size < n_components"
#### Description

`IncrementalPCA` throws`n_components=%r must be less or equal to the batch number of samples %d`

The error occurs because the last batch generated by `utils.gen_batch` may be smaller than `batch_size`.

#### Steps/Code to Reproduce

[code]

I reduced the iris data to 101 instances, so the last batch has only a single data instance, which is less than the number of components.

A

[2018-10-01 16:48] lanrete commented on #11041
I feel sorry to bring back this thread, seems like it have been some while.  I have two questions related to your workflow.

1. Are you building API for real-time prediction? or just a trigger for batch job?
2. We're trying to build a API endpoint for real-time prediction by calling a scikit-learn model. We currently use load lalancer + 2 EC2 instances to handle the request but are considering swi

[2018-10-01 17:06] lobpcg opened #12235 "add clustering examples from 2017 Streaming Partition MIT/AWS/IEEE Challenge Datasets with Known Truth Partitions"
#### Description
 There are some good test examples in 2017 Streaming Partition  MIT/AWS/IEEE Challenge Datasets with Known Truth Partitions at http://graphchallenge.mit.edu/data-sets used in  https://arxiv.org/abs/1708.07481 with  'clusterQR' to get 100% correct partitions. If using  wget.download is OK in scikit-learn code base examples, some of those would be nice and not too hard to add scikit

[2018-10-01 17:15] amueller commented on #12188
Can you elaborate on what you mean by that? Fixing random state to 1 the results should always be the same. Not fixing the random state should result in the same trees except for tie-breaking IIRC.

[2018-10-01 17:16] amueller commented on #7613
@adrinjalali I would appreciate that!

[2018-10-01 20:14] NicolasHug opened #12237 "Travis does not run `make test-doc` when `pytest` fails"
The file that travis reads for testing is [test_script.sh](https://github.com/scikit-learn/scikit-learn/blob/master/build_tools/travis/test_script.sh#L23), and it is supposed to run ``pytest`` and then ``make test-doc``

However, it seems that ``make test-doc`` isn't run if the first ``pytest`` command fails. This happened to me on #11705:
- first travis log where pytest fails, ``make test-doc`` i

[2018-10-01 20:39] amueller commented on #11992
hopefully it will be smaller this time around...

[2018-10-01 20:45] amueller commented on #5115
I'm not sure why this is tagged 0.21. This is solved in 0.20 in most instances. I think we should close this and have people open new issues. This one is too long and unspecific.

[2018-10-01 20:45] #5115 closed

[2018-10-01 21:31] amueller commented on #11992
so I'm going through most of these. I think the SGDClassifier max_int/n_iter/tol thing maybe should go in its own PR. possibly the train_size/test_size thing, too?

[2018-10-01 21:52] amueller commented on #11992
I started on everything but the train_size/test_size thing.

[2018-10-01 21:53] amueller commented on #11992
Maybe a reviewer can start with #12238 which is the biggest but should be a straight-forward removal of lots of stuff.

[2018-10-01 21:53] amueller commented on #11992
I can split up #12238 further if you like, though.

[2018-10-02 00:07] #12194 closed

[2018-10-02 03:17] qinhanmin2014 commented on #12231
Closing, feel free to reopen the PR if you want more feedback.
Thanks for contributing.

[2018-10-02 03:17] #12231 closed

[2018-10-02 03:30] qinhanmin2014 commented on #12233
I guess it'll be better to comment in #8474 since the feature is not officially supported by scikit-learn.

[2018-10-02 03:30] #12233 closed

[2018-10-02 08:49] giodegas opened #12243 "PyPy + scikit-learn + Jupyter in docker with 0.20 release"
I tested the new release scikit-0.20 with y docker pypy+jupyter container.

[sklearn_test_setup.log](https://github.com/scikit-learn/scikit-learn/files/2437132/sklearn_test_setup.log)

I have got:

     1 failed, 9922 passed, 29 skipped, 66 xfailed, 5 xpassed, 932 warnings in 1202.58 seconds

Great! 👍

Full log file:
[sklearn_test.log](https://github.com/scikit-learn/scikit-learn/files/2437107/skl

[2018-10-02 10:02] lanzagar commented on #12234
Looks like this was introduced in #9303 so @wallygauze should probably take a look too.
I haven't checked in-depth how incremental pca does partial fits, but does it really need `n_components` to be <= to the `batch_size` (`n_samples` in partial_fit) - especially does it need this to hold for _every_ batch? Or should the actual requirement be in `fit` that `n_components <= n_samples` (all of them,

[2018-10-02 10:09] rth commented on #12243
Thanks for the report @giodegas! Yes, you can ignore  the test failure in `test_import_sklearn_no_warnings`. Publishing it as final sounds good!

Unrelated but we should remove that test altogether, it actually never fails, just shows warnings and here the failure is due to,
[code]
i.e. we don't handle well the caught exception..

[2018-10-02 11:17] janvanrijn commented on #12227
Sloppy, my fault. I will create a PR.

[2018-10-02 12:40] c0nfuz3d commented on #8920
Very informative answers from all, @lesteve special thanks, saved me from major headaches of having to re-structure my data.

[2018-10-02 13:27] janvanrijn commented on #12227
I take this back.

I think this went wrong with the enhancement #11830, where gzip functionality was added to the fetcher. The urlopen was moved to a position where it was able to be invoked, also when cache was available.

Including a more extensive testcase :)

[2018-10-02 13:50] akulagrawal opened #12247 "Update the documentation - sklearn.cross_validation has been renamed to sklearn.model_selection"
#### Description

sklearn.cross_validation has been renamed to sklearn.model_selection. Thus, there is an import error if someone tries to import sklearn.cross_validation. This should be mentioned in the documentation of both and documentation of sklearn.cross_validation needs to be updated

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-10-02 14:04] amueller commented on #12247
Thank you for the report. Where exactly in the documentation did you see ``sklearn.cross_validation`` mentioned?

[2018-10-02 14:41] qinhanmin2014 commented on #12247
I checked master with git grep, seems that ``sklearn.cross_validation`` doesn't appear (except for older whats new).
@akulagrawal We've raised deprecation warning for 2 versions (0.18&0.19) and won't mention the module in the latest doc. Please refer to [older doc](http://scikit-learn.org/dev/versions.html) for more information about ``sklearn.cross_validation``.

[2018-10-02 14:41] #12247 closed

[2018-10-02 15:12] thomasjpfan commented on #12237
At the beginning of the bash script, it contains `set -e`. This is a shortcut for `set -o errexit`, which tells the bash script to exit immediately when a command has a nonzero exit code.

What is the desired behavior for `test_script.sh`? Do we want `make test-doc` and `pytest` to run independently of each other? If that is the case, we can adjust `.travis.yml` as follows:

[code]

And add `test_

[2018-10-02 15:33] albertcthomas opened #12249 "One Class SVM default nu value"
I think the default value for `nu` in the `OneClassSVM` should be 0.1 and not 0.5. As `nu` roughly corresponds to the fraction of outliers, it makes more sense to set it to a lower value.

[2018-10-02 16:08] amueller commented on #12249
Why 0.1 and/or why 0.5? I assume we took the default from liblinear. I would rather not change it unless there's significant evidence that the current value doesn't make sense.

[2018-10-02 16:34] rpalmeida opened #12250 "Error thrown when calling fit on RFECV of a pipeline with n_jobs=-1 in version 0.20.0"
#### Description
Error thrown when calling fit on RFECV of a pipeline with n_jobs=-1 in version 0.20.0
This wasn't a problem on version 0.19.2 and previous.
It also works when n_jobs in RFECV is not declared or is equal to 1.
Why is a pipeline not pickable?

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown. Prints selected_features.

#### Actual Results
[code]

#### Ve

[2018-10-02 17:42] GaelVaroquaux commented on #12228
Well, if we keep it to a tiny amount by default (ie 1e-10), it will not
change anything.

I don't think that I'll invest the time for this.

In my eyes, the benefits of this modification is that it can make the
solver more stable. We are finding situations where we cannot get the
solver in scikit-learn to converge to SPD matrices. We developed this
variant to get it to converge.

Here is what I su

[2018-10-02 17:56] mathewphilipc commented on #12178
If this is still in need of fixing, I'd like to take this on.

[2018-10-02 17:58] jakirkham commented on #11638
Sounds like a good question for SciPy devs (though I guess you did that already 😄). Maybe worth drawing their attention to this issue again?

[2018-10-02 19:54] albertcthomas commented on #12249
For outlier detection I think that we always assume the proportion of outliers to be small, say 5 or 10% rather than 50%. For novelty detection, `nu` is the false positive rate that we also want to be small in general. The scikit-learn examples involving the OneClassSVM use the following values for `nu`: 0.1, 0.1, 0.15, 0.261.

[2018-10-02 19:55] albertcthomas commented on #12249
Other outlier detection estimators were all using a contamination parameter with default value equal to 0.1. Now IsolationForest and LOF use 'auto'.

[2018-10-02 20:17] amueller commented on #12249
libsvm indeed has
[code]
Maybe they just wanted to have it consistent between the three classes, which is indeed not a good reason.

Relevant statement from http://users.cecs.anu.edu.au/~williams/papers/P132.pdf:
![image](https://user-images.githubusercontent.com/449558/46374278-54660e00-c65e-11e8-8ccb-c8b8b6ec372e.png)

From the discussion in the paper it looks like 0.1 would indeed make more sen

[2018-10-02 20:35] Ryanglambert commented on #9393
This test fails for me with:
[code]

my machine info:
System
------
    python: 3.7.0 (default, Jun 29 2018, 20:13:13)  [Clang 9.1.0 (clang-902.0.39.2)]
executable: /usr/local/opt/python/bin/python3.7
   machine: Darwin-17.7.0-x86_64-i386-64bit

BLAS
----
    macros: NO_ATLAS_INFO=3, HAVE_CBLAS=None
  lib_dirs:
cblas_libs: cblas

Python deps
-----------
       pip: 18.0
setuptools: 39.0.1
   sklea

[2018-10-02 21:32] glemaitre commented on #12250
Moving the the class to another class and importing it will solve the issue as you mentioned.

Probably @ogrisel @tomMoral will have some insights.

[2018-10-02 23:10] jnothman commented on #12102
Please reopen the issue if you can reproduce it on version 0.20, @ashishanand7.

[2018-10-02 23:10] #12102 closed

[2018-10-02 23:53] Po-Hsuan-Huang commented on #4619
Hi,
I wonder is the issue is addressed. When I ran t-SNE on conda version of scikit-learn my computer shut off directly from time to time without warning. So I guess the problem still exists at least in conda version of scikit-learn. Now I am not able  turn on my computer. Is it possible that t-SNE function write things to my OS reserved address that lead to computer shut down ?

I guess it is irr

[2018-10-03 00:12] digital-mine commented on #12226
@ogrisel
did you have the same issue, and you solved?

[2018-10-03 01:06] qinhanmin2014 commented on #12243
@giodegas We've removed that test in #12244 and the change is likely to be included in 0.20.1.

[2018-10-03 01:06] #12243 closed

[2018-10-03 06:31] phsheth commented on #1940
Still there are many examples showing scores.std() only, can we make it more accurate by changing from `scores.std() * 2` to `scores.std() * 1.96` for 95% confidence interval.

Example: (by @rasbt ) [containts only scores.std()]
https://github.com/rasbt/python-machine-learning-book-2nd-edition/blob/master/code/ch07/ch07.ipynb

**Can we put a reference to this page to clear the air http://www.stat.

[2018-10-03 07:14] TheZeken opened #12256 "Errow thrown when running TF-IDF vectorizer on scikit-learn 0.20"
#### Description
I got an error when I run the fit function from TFIDFVectorizer. I didn't get this issue before 0.20 and when I uninstall 0.20 and re-install 0.19.1 the bug disappear.

#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results
 No error is thrown  and I got the following results.
[code]

#### Actual Results
[code]
The full traceback :
[code]

#### Versions

Windows-10-1

[2018-10-03 07:37] ogrisel commented on #12250
Thanks for the detailed report and taking the time to to produce a reproduction case.

Apparently this is cause by a problem of cloudpickle handling metaclasses (it inherits from `Pipeline` which is a meta class) defined in dynamic modules such as `__main__`. We will see how to fix that.

[2018-10-03 07:42] sjtrny commented on #12178
Please do, I haven't had time.

[2018-10-03 08:28] jnothman commented on #12234
Looked like a bug and a regression to me

[2018-10-03 08:59] ogrisel commented on #12250
Actually after further investigation cloudpickle is working fine, it's joblib that fails to detect that it's necessary to use cloudpickle in this case. There is a heuristic to try to only use cloudpickle when necessary to avoid incurring unnecessary performance overhead in general.

[2018-10-03 10:49] RahulDamineni commented on #12224
Hi,
This is my first contribution; is it okay if I just contribute without asking? What's the ideal practice?

[2018-10-03 10:55] RahulDamineni commented on #12137
Hi,
I can help here. But from what I see, others maybe working on it too.
Please let me know if I can start on this one. @jnothman @alexsieusahai

[2018-10-03 11:35] jnothman commented on #12237
I don't really see a big problem with the current behaviour. Running
test-doc in all cases would make it even harder to find the errors in the
logs. And I think if both were Travis script entries, it would still stop
at the first failure.

[2018-10-03 11:48] rth commented on #12256
The issue seems to be in the stop word validation, would something like this,
[code]
reproduce the error?  If it is the case please either provide us with the contents of your `english_stop` or reduce it in size until you find the problematic stop word.

In any case as @adrinjalali mentioned please try to remove all non relevant constructs (including `FeatureUnion`, `get_col`, most parameters in

[2018-10-03 11:49] qinhanmin2014 commented on #12237
I think I agree with Joel here. We usually get a long log from Travis and this will make users hard to find the errors. And @thomasjpfan has figured out that this is the expected behavior of the script.
Closing, thanks @NicolasHug for the issue and thanks @thomasjpfan for the PR.

[2018-10-03 11:59] qinhanmin2014 commented on #12224
Your behavior is likely to make others (especially the two contributors above) unhappy.

[2018-10-03 12:31] ujwal107 commented on #9264
fitted_models = {}

# Loop through model pipelines, tuning each one and saving it to fitted_models
for name, pipeline in pipelines.items():
    # Create cross-validation object from pipeline and hyperparameters
    model = GridSearchCV(pipeline, hyperparameters[name], cv = 10, n_jobs=-1)

    # Fit model on X_train, y_train
    model.fit(X_train, y_train)

    # Store model in fitted_models[name]

[2018-10-03 12:32] NicolasHug commented on #12237
The only problem is about frustration: when you fix all errors in the travis log, you expect it to go green the next time.

Also a passing `make test-doc` only adds about 50 lines at the end of the log so it's not that much compared to the 2K+ lines of a usual log.

[2018-10-03 12:32] ujwal107 commented on #9264
plz someone help me Its urgent

[2018-10-03 12:46] alexsieusahai commented on #12137
I'm super busy right now, so go for it.

On Wed, Oct 3, 2018, 4:57 AM Rahul Damineni, <notifications@github.com>
wrote:

[2018-10-03 12:56] qinhanmin2014 commented on #12237
I guess we're talking about situations when normal tests and doc tests fail. Will it be difficult to locate the failures in normal tests then?

[2018-10-03 13:02] NicolasHug commented on #12237
I don't think so, there would still be about 50 lines between the end of the failed normal tests and the beginning of failed test-doc.

[2018-10-03 13:14] qinhanmin2014 commented on #12237
OK, I think I'm persuaded by you at this point. Do you have any response to Joel's comment : "And I think if both were Travis script entries, it would still stop at the first failure." (I guess Travis will continue?)

[2018-10-03 13:31] qinhanmin2014 commented on #12237
Fine, this is exactly what I've found. I'm persuaded by you (though I'll leave the PR to someone more familiar with Travis to ensure the correctness of it). ping @jnothman

[2018-10-03 13:46] RahulDamineni commented on #12224
@qinhanmin2014 : Thanks, noted. I closed that pull request now.

@ab-10 / @ogrisel : There were some suggestions on my implementation; you might want to take them into consideration while fixing this bug.

[2018-10-03 14:00] qinhanmin2014 commented on #12224
@RahulDamineni Are you still working on it? Otherwise I think @xhlulu or others might take it.

[2018-10-03 14:23] RahulDamineni commented on #12224
@qinhanmin2014 : I closed it; others can work on it. Sorry for the confusion.

[2018-10-03 15:10] xhlulu commented on #12224
Yeah I'd like to work on it if @ab-10 can't work on it anymore

[2018-10-03 15:49] qinhanmin2014 commented on #12224
Thanks for contributing.

[2018-10-03 15:49] albertcthomas opened #12260 "Public n_features_ attribute in BaseBagging"
The fit method of BaseBagging stores `n_features` (see [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/bagging.py#L288)) to check that the same number of features is used during predict. Is there a reason for this attribute to be public rather than private?

[2018-10-03 16:19] lobpcg commented on #12079
@jnothman @amueller @aishgrt1
I have actually already edited all the codes needed and committed to
https://github.com/lobpcg/scikit-learn/commit/9796f7a4cd6f618f64d22efe693d9e56c2e2d998

Issues remain, that I plan to investigate next:

1) https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.lobpcg.html itself needs editing to properly work in float32 used in the example plot_fa

[2018-10-03 16:22] sdpython opened #12261 "OneHotEncoder does not document default value categorical_features=None"
#### Description

The documentation says the parameter categorical_features is deprecated but does not tell that the current default value (None) is equivalent to 'all'.

https://github.com/scikit-learn/scikit-learn/blob/bac89c2/sklearn/preprocessing/_encoders.py#L187

#### Versions

scikit-learn == 0.20

[2018-10-03 16:31] rohitblue28 commented on #10449
is it resolved ? I am still getting this error.

 C:\Python36\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

[2018-10-03 16:52] amueller commented on #10449
@rohitblue28 That should be resolved. Which version of scikit-learn are you using?

[2018-10-03 16:53] amueller commented on #12261
Thanks. Do you want to submit a PR to clarify?

[2018-10-03 16:54] amueller commented on #12260
probably not. Is there a reason to make it private and go through a deprecation cycle?

[2018-10-03 16:57] rasbt commented on #1940
just chiming in because I was tagged in the post before it was edited :).

But this assumes that the errors/accuracy values of the folds are normal distributed. In order to compute a more accurate (correct) 95% confidence intervals, one could run the cross val on bootstrap samples and then apply the method in that post.

[2018-10-03 17:01] albertcthomas commented on #12260
Maybe not... should we add it to the docstring then or let it as it is?

[2018-10-03 17:04] amueller commented on #12260
If it's public we probably should.

[2018-10-03 17:10] amueller commented on #12250
@ogrisel fixable for 0.20.1?

[2018-10-03 17:17] jorisvandenbossche commented on #12261
It still mentions that 'all' is the default, although a bit hidden (in `- 'all' (default): ...`), so that could certainly be improved

[2018-10-03 18:22] oleksandr-pavlyk opened #12263 "Tests test_theil_sen_parallel and test_multi_output_classification_partial_fit_parallelism hang on Windows"
#### Description

Install scikit-learn 0.20.0 on Windows as follows:

[code]

#### Steps/Code to Reproduce

The following two individual test runs hang (never finish, and remain uninterruptable):

[code]

[code]

#### Expected Results

Expecting them to pass as they do on Linux, or skipped in the distribution

#### Actual Results

Tests hang in both pip installed scikit-learn, as well in scikit-le

[2018-10-03 19:06] amueller commented on #12263
Thank you for reporting! That's not great :-/

[2018-10-03 19:15] lorentzenchr commented on #11904
@dsaxton @jnothman AFAIK the proportional odds model can indeed be cast in a form such that #9405 can be used for fitting. This way, elastic net penalties would be available. It may be advantageous to put the fitting parts of #9405 in separate functions (like function`_irls_step`). It may also be the case that some restructuring achieves a speed up and better memory footprint.

By the way: What ab

[2018-10-03 19:32] ab-10 commented on #12224
@xhlulu, sorry for missing this, have you begun working on it?

[2018-10-03 19:37] xhlulu commented on #12224
@ab-10 I used another approach (plt instead of ax) and it works. However I haven't gotten started with the PR so you can go ahead and I can comment on it

[2018-10-03 21:00] jacquerie commented on #9972
I think that this issue can be closed, because `AUTHORS.rst` no longer exists since https://github.com/scikit-learn/scikit-learn/pull/11708.

[2018-10-03 21:07] NicolasHug commented on #12141
Could you please add a minimal code example illustrating the issue?

[2018-10-03 21:39] rth commented on #9972
Thanks!

[2018-10-03 21:39] #9972 closed

[2018-10-03 21:48] xhlulu commented on #12224
@qinhanmin2014 Slightly related to this, I've gone through the `plot_out_of_core_classification.py` tutorial recently and noticed some cosmetic irregularity (labels overlapping and cropped). Is it a good idea opening an issue about those kind of stuff? Thanks!

[2018-10-03 23:55] jnothman commented on #9393
Ryan, it would be best to open a new issue

[2018-10-04 01:10] qinhanmin2014 commented on #12224
@xhlulu Feel free to submit PR directly. I'm opening issues to attract contributors.

[2018-10-04 03:50] Quantuary opened #12270 "Kfold stop working in sklearn 0.20"
#### Description
Updated sklearn to 0.20.0. Kfold has stop working.
[code]

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

i have the following error:
[code]
#### Versions
0.20

[2018-10-04 03:57] qinhanmin2014 commented on #12270
I'm not able to reproduce on my Windows. @Quantuary please post the full traceback and the output of ``sklearn.show_versions()``, thanks.

[2018-10-04 04:01] Quantuary commented on #12270
Thanks for the prompt reply.

[code]

[2018-10-04 04:09] jnothman commented on #12256
I had not, I admit, anticipated this use of `preprocessor`. `get_col` is essential here, @rth.

Currently we check each stop word with:
[code]
We could just disregard this if `preprocessor` or `tokenizer` is specified (as opposed to the default `build_preprocessor` and `build_tokenizer` functionality). Or we can disregard it if it results in an error.

[2018-10-04 04:11] jnothman commented on #9264
This is a usage question, not a software development issue. Please see
elsewhere, such as stack overflow. But you've certainly not presented your
issue with enough information for anyone to help. It is not minimal and
verifiable. It does not indicate what the data is or the estimator.

[2018-10-04 04:49] halxp1 opened #12271 "joblib.load() EOFError? how can i solve it?"
[code]

[2018-10-04 04:51] qinhanmin2014 commented on #12270
@Quantuary We also need the full traceback. see e.g., #12256 , thanks

[2018-10-04 06:02] Quantuary commented on #12270
Sorry....bro. You are the legend.
I got it working again after restarting spyder.

Folks, remember to restart after pip install.

[2018-10-04 06:02] #12270 closed

[2018-10-04 06:42] gmeisl opened #12273 "BayesianGaussianMixture: Wrong documentation on mean_precision_prior"
#### Description
According to the documentation:
mean_precision_prior :
... Smaller values concentrate the means of each clusters around mean_prior. ...

However, for me with a large precision prior the mean_prior is preserved and for low values the the posterior mean shows stronger variation.

#### Steps/Code to Reproduce
Try on data of your choice, set a mean_prior and compare results for large

[2018-10-04 07:45] qinhanmin2014 commented on #12270
Thanks for contributing anyway :)

[2018-10-04 07:51] qinhanmin2014 commented on #12271
Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal.

[2018-10-04 09:46] Ichaab commented on #12188
I am using continuous features so numerical data. In my code python I define the decision tree as :
`DT=DecisionTreeClassifier(random_state=1)`, so all features are used as it is in the java code. Concerning samples, I define the same training and test data sets without using `train_test_split`. I think all conditions are the same to produce the same result as the java code decision tree.
In each

[2018-10-04 10:03] rth commented on #12256
Right, missed that `get_col` was used as a processor.

Here is a minimal example,
[code]

To get an error, it is necessary to both explicitly provide stop words and set a custom preprocessor.

That should work, but another thing to consider is that the vectororizer can be a class inherited from CountVectorizer et al with a custom build_tokenizer method: we actually suggest doing that in the user m

[2018-10-04 10:32] jnothman opened #12276 "Calling NearestNeighbors.{kneighbors,radius_neighbors}_graph without first fitting should raise NotFittedError"
#### Description

Running prediction methods without running `fit` should raise `NotFittedError`. This is not the case for some non-standard methods.

`check_is_fitted` should be applied for this purpose.

#### Steps/Code to Reproduce

[code]
or
[code]

#### Expected Results

NotFittedError raised

#### Actual Results
AttributeError raised

#### Versions

[code]

[2018-10-04 10:53] jnothman commented on #12256
but you're not assured that if

[code]

passes, all will. Say `preprocess = lambda x: x[3]`.

[2018-10-04 11:04] jnothman opened #12278 "scikit-learn.org should support https"
I assume the host has https certificates, but DNS or certificates are not configured correctly or something? I don't know enough about this...

[2018-10-04 11:13] rth commented on #12278
I think it should mostly work out of the box with the [SSL support in github pages for custom domains](https://blog.github.com/2018-05-01-github-pages-custom-domains-https/) using [HTTPS Everywhere](https://www.eff.org/https-everywhere).

How in the settings we have,
![screenshot_2018-10-04 scikit-learn scikit-learn github io](https://user-images.githubusercontent.com/630936/46470443-ed1f9980-c7d6

[2018-10-04 11:16] rth commented on #11590
Closing in favor of https://github.com/scikit-learn/scikit-learn/issues/12278 : there is some additional information there now, and just to avoid issue duplication.

Thanks for raising this issue @wesbarnett !

[2018-10-04 11:16] #11590 closed

[2018-10-04 11:21] jorisvandenbossche commented on #12153
I think we should have more discussion about what we want exactly as behaviour.

On the PR (https://github.com/scikit-learn/scikit-learn/pull/12264#issuecomment-426941505) I raised the question about "combining all non-frequent categories in one separate category" vs "putting all non-frequent categories into an existing (first) category", which seems a quite important difference from a usage point

[2018-10-04 13:03] rth commented on #12256
Hah, yes, but e.g. with `preprocess = lambda x: x[0]`  all stop words may pass `tokenize(preprocess` and yet not measure anything relevant. So I guess we are back at trying to detect that tokenizer or processor was user provided.

[2018-10-04 13:37] #11912 closed

[2018-10-04 13:39] amueller commented on #12278
I vaguely remember @stefanv having it?

[2018-10-04 13:43] #11659 closed

[2018-10-04 13:46] amueller commented on #12188
Can you provide code that shows non-deterministic behavior in ``DecisionTreeClassifier`` with ``random_state`` set? That shouldn't happen.

[2018-10-04 14:33] whiletruelearn commented on #12276
@jnothman I would like to work on this.

[2018-10-04 14:40] yeshijinsel commented on #12276
I like to work on this

[2018-10-04 14:55] amueller commented on #12276
Do we want to add a common test for this? Like find all non-standard methods, check the signature, if the only positional argument is X then run this test?

[2018-10-04 14:59] amueller opened #12281 "Add schematics for cross-validation and grid-search to user guide?"
At a tutorial I was asked if we can add
![this](https://github.com/amueller/figures/raw/master/grid_search_cross_validation.png)
and
![overview](https://github.com/amueller/figures/raw/master/gridsearch_workflow.png) to the docs as visual help.

The process is described here:
http://scikit-learn.org/dev/modules/cross_validation.html#cross-validation-evaluating-estimator-performance
but maybe the f

[2018-10-04 15:03] amueller opened #12282 "Add more didactic scaling example?"
I just saw #12280 and that made me realize that I have an example of data scaling that I find quite didactic and that we might want to include in the docs:

![knn_scaling2](https://user-images.githubusercontent.com/449558/46483118-ed169e00-c7c4-11e8-9868-946dbec1235e.png)

I can dig up the code somewhere but it's pretty straight-forward. It just shows how much euclidean distance, and therefore nea

[2018-10-04 15:08] amueller commented on #12153
I think putting them into a new category is more common in "ML". But we could also just have a parameter that is ``others_col='name_of_category'`` and if that level already exists we add to it, if not, it's created?

[2018-10-04 15:09] amueller commented on #12153
We could put this code in a different class but then add a convenience call into ``OneHotEncoder``? That might make it also more discoverable.

[2018-10-04 15:15] amueller opened #12284 "Add "mars" testimonial to testimonials page"
We probably already have some but I thought this was a company that many can relate to ;)

“Scikit-Learn is integral to the Machine Learning Ecosystem at Mars. Whether we're designing better recipes for petfood or closely analysing our cocoa supply chain, Scikit-Learn is used as a tool for rapidly prototyping ideas and taking them to production. This allows us to better understand and meet the nee

[2018-10-04 15:29] amueller commented on #12284
@GauravAhlawat thanks, go for it!

[2018-10-04 15:30] GauravAhlawat commented on #12284
Thanks @amueller

[2018-10-04 16:23] amueller opened #12287 "Redundancy between check_dont_overwrite_parameters and check_estimators_overwrite_params"
The two estimator checks check_dont_overwrite_parameters and check_estimators_overwrite_params seem similar at a glance.
We should ensure that they are not redundant and / or clarify what they do.

[2018-10-04 16:41] amueller opened #12288 "TfidfVectorizer instantiated TfidfTransformer in __init__"
via #8022.
I'm not sure how to make this consistent with our tests.

[2018-10-04 16:57] TomDLT opened #12289 "RandomForestRegressor in GridSearchCV uses more cores than specified"
`RandomForestRegressor` in `GridSearchCV` uses more cores than specified.

[code]
This bug was introduced in #11741. @ogrisel @tomMoral

[2018-10-04 17:15] datajanko commented on #12153
I'd also vote (again) for a separate class. One more argument for a separate class: one-hot and ordinal encoder are not necessarily invertible using the "frequency cut off"-implementation.

Appending to an existing category is fine for me as well.
How do we want to treat already integer encoded classes? Append there as well or add to let's say min(classes) -1. What shall we do with float labels? (

[2018-10-04 17:25] amueller opened #12290 "RandomTreesEmbedding __init__ doesn't satisfy API"
via #8022.

RandomTreesEmbedding set's 'criterion' and 'max_features' even though they are not init parameters.
Two possible work-arounds: Either make them init parameters (allowing the user to make it not be actually completely random), or adding these two to ``BaseForest``, which would also pacify our tests.

Suggestions?

[2018-10-04 18:08] amueller commented on #12287
never mind that was a messed up rebase I think?

[2018-10-04 18:30] lobpcg commented on #12068
I added LOBPCG as an SVD solver to PCA in #12079 and to Truncated PCA in #12080, see pull request #12291 . So adding LOBPCG to kPCA should now probably be especially simple.

[2018-10-04 19:38] amueller commented on #12153
I like modularity but I also like convenience ;)

[2018-10-04 20:29] bohdankornienko opened #12293 "[Broken link] An introduction to machine learning with scikit-learn"
#### Description

On the introduction web page http://scikit-learn.org/stable/tutorial/basic/tutorial.html
There is a link in Model Persistence section http://scikit-learn.org/stable/tutorial/basic/tutorial.html#model-persistence

Which suppose to give more information on that.
It points here https://pythonhosted.org/joblib/persistence.html
But the link is unreachable.

#### Expected Results
Link

[2018-10-04 20:44] amueller commented on #12293
Thanks for reporting. The joblib site is now at https://joblib.readthedocs.io/en/latest/

[2018-10-04 20:47] #12287 closed

[2018-10-04 20:49] amueller commented on #11190
Should this be closed following #11592 or do we want to keep this open and track actually adding some functions?

[2018-10-04 20:52] amueller opened #12294 "Add MissingIndicator convenience into SimpleImputer"
Following up on #8075 I think we should have a convenience option to add ``MissingIndicator`` to ``SimpleImputer`` without having to build a ``FeatureUnion`` or ``ColumnTransformer``.

[2018-10-04 21:40] jorisvandenbossche commented on #12153
I also think that a separate class makes the most sense (at least for the default).

How would you see this in practice API-wise? (I think it would be nice, but just not sure how it would look like)
One keyword to trigger using this other class with its default values? Or a way to pass through arguments?

[2018-10-04 22:06] jnothman commented on #10861
Is this working in 0.20?

[2018-10-05 04:09] jnothman commented on #12276
Well that wouldn't cover this case, in which X if optional

[2018-10-05 04:10] jnothman commented on #12281
Yes, seems helpful.

[2018-10-05 04:28] iArunava commented on #12261
@amueller @jnothman  I want to take this up! Okay?
Do you have any suggestions in mind as to how to rewrite that part of the documentation?

[2018-10-05 05:45] datajanko commented on #12153
I would suggest to pass through the arguments. Then in `fit` and `transform`, as a first step one alters X by applying the transformer to it and returning a copy, if necessary. I think using the class with default values will not be flexible enough. Then, in my opinion, it would be better to pass the class object directly. But for the user this would be more cumbersome

[2018-10-05 06:20] tengerye opened #12297 "`prefit` option missing for voting?"
I work on python 3.6.5 and sklearn 0.19.1 on conda 4.5.11.

According to this [post](https://stackoverflow.com/questions/42920148/using-sklearn-voting-ensemble-with-partial-fit), I am surprised that voting classifiers do not accept `prefix` classifiers.

May I know is it because it is unnecessary from your respective or it was purely short of hand?
Thank you very much.

[2018-10-05 06:27] jnothman commented on #12290
Store them as class attributes?

[2018-10-05 06:33] jnothman commented on #11190
I think this should be closed. But we can open an issue for selection function factories... I'm not about to though

[2018-10-05 06:34] jnothman commented on #12294
Such as an `add_indicators` parameter?

[2018-10-05 06:36] #12227 closed

[2018-10-05 07:01] tengerye commented on #12297
My case is I want to calibrate base classifiers and then perform the soft voting. Here is my codes:

[code]

Now it throws exception:
[code]
If I could perform soft voting with prefit, I think everything will be fine.
Thank you in advance.

[2018-10-05 08:27] tomMoral commented on #12263
Could you also install `pytest-timeout` in your env and add the option `-s --timeout=10` to your call to `pytest`. This way we will have more info on why this is stucked.

It is weird that the test passes on appveyor if you see a deterministic failure on your machine.

[2018-10-05 08:59] tomMoral commented on #12289
This is a bug from `joblib` indeed. It has to do with the `prefer='threads'`.

The `RandomForestRegressor.fit` method is called with a `ThreadingBackend` and `n_jobs=-1`, as the parameter `prefer` is passed to the `Parallel` instance. The `RandomForestregressor.predict` method is called using the `SequentialBackend` and the difference between these two calls is that the parameter `prefer` is not p

[2018-10-05 09:44] mohak2312 commented on #12226
I face the same issue.  Just try to install cloudpickle library. It works for me.

pip install cloudpickle

[2018-10-05 09:54] jorisvandenbossche commented on #11190
There is still the open PR that adds some functions: https://github.com/scikit-learn/scikit-learn/pull/11301

But in any case, the original point of the issue is solved, so I am fine with closing it.

[2018-10-05 10:03] AbhishekBabuji opened #12299 "Feature Request: KitchenSink classification (Fits every classification algorithm in a single line)"
#### Description
Example: Machine Learning practioners want to try every single classification algorithm for a dataset, how about having a modularized module which is an additional feature of GridSearchCV that now takes MULTIPLE classification algorithms with multiple parameters for each classification algorithm and shoots out the model that best classifies the data based on a chosen scorer

####

[2018-10-05 10:35] #11257 closed

[2018-10-05 12:38] tomMoral commented on #12289
I opened an issue in joblib/joblib#784 and a PR in joblib/joblib#785

[2018-10-05 12:45] tomMoral commented on #12263
It looks like you are missing a part of the trace in `QueueManagerThread`.
Can you confirm that we can see all the trace or update it? (the first line should show the `_queue_management_worker` function first.

[2018-10-05 12:53] oleksandr-pavlyk commented on #12263
@tomMoral Yes, my bad. I have updated the earlier comment to include the said line.

[2018-10-05 13:05] tomMoral commented on #12263
How many workers do you have here? Are you on a server with more than 127 cores?

[2018-10-05 13:10] #12293 closed

[2018-10-05 13:13] oleksandr-pavlyk commented on #12263
The machine has Intel Xeon E5-2630 v3, with 2 sockets,  8 cores per socket, HT: 2.

[2018-10-05 14:16] gitjeff05 commented on #12278
Yep, those are some old IP addresses. From [DNS configuration errors](https://help.github.com/articles/troubleshooting-custom-domains/#dns-configuration-errors) on github:

_"If you're using an A record that points to **192.30.252.153** or **192.30.252.154**, you'll need to update your DNS settings for your site to be available over HTTPS or served with a Content Delivery Network. For more informa

[2018-10-05 14:32] digital-mine commented on #12226
with cloudpickle the issue is gone!

[2018-10-05 14:32] #12226 closed

[2018-10-05 14:49] amueller commented on #12299
Hey.
There's auto-sklearn that does that (somewhat smarter).

Some of their recent work is described here:
https://ml.informatik.uni-freiburg.de/papers/18-AUTOML-AutoChalleng

I'll probably soon post a simple implementation of that, but outside of sklearn. I think the space is still too volatile to do this in sklearn.

[2018-10-05 15:11] #11190 closed

[2018-10-05 15:13] amueller opened #12303 "Provide factory functions for selecting columns in ColumnTransformer"
Follow up on #11190:
It would be great to provide built-in ways to select different types of columns, particularly categorical and continuous ones.
It's a bit tricky how to detect that, but we could add some factory functions, for example with an argument on how to interpret integers.

Btw, I'm also working on a preprocessing tool that tries to do this very automagically but I haven't had time to

[2018-10-05 15:13] amueller commented on #12303
Also see #11301

[2018-10-05 15:14] AbhishekBabuji commented on #12299
@amueller Alright! By the way, HUGE fan of yours Andreas.

[2018-10-05 15:15] amueller commented on #12297
I forgot what the exact discussion was, but I now I tend to agree that adding this option would be useful.
I think my argument used to be that it's very easy to implement yourself, but I don't think that's a great argument.
There will be issues with prefit here as in #8370 and #6451 but that shouldn't prevent it from being useful in some cases.

[2018-10-05 15:16] amueller commented on #12294
@jnothman yes, that's what I was thinking. Do you agree?

[2018-10-05 15:17] amueller commented on #12290
Sorry I don't think I follow?

[2018-10-05 15:19] amueller commented on #12288
yes, because otherwise we could do this in ``fit``. but if someone assigns values in some way before ``fit`` weird things might happen.
Though actually, maybe it's not as complicated:
if ``_idf`` exists, have the setter set it, and if it doesn't, don't. The construction in ``fit`` will always use the current value so it shouldn't be an issue...

[2018-10-05 15:41] GauravAhlawat commented on #12303
Hi @amueller, I can have a go at this over the weekend

[2018-10-05 15:44] amueller commented on #12303
Hi @GauravAhlawat you can try but this might be a bit tricky (i.e. @jnothman, @jorisvandenbossche and me didn't immediately see what the right solution is IIRC).

Either way, check out what @partmor did in #11301.

[2018-10-05 15:58] amueller commented on #12299
:blush:
Are you ok with closing then? I think you're right that this is something the community wants to have, but what estimators to include and what parameter spaces to include etc is very unclear, and sklearn moves pretty slowly these days, so it's not good for experimenting.

[2018-10-05 16:03] amueller commented on #12299
interestingly, at this related issue: #5004 we were all pretty excited lol. This one here is a bit of a duplicate of that one.

[2018-10-05 16:45] AbhishekBabuji commented on #12299
@amueller Absolutely.. I was actually looking to

[2018-10-05 16:45] #12299 closed

[2018-10-05 17:06] janvanrijn opened #12306 "SimpleImputer to Crash on Constant Imputation with string value when dataset is encoded Numerically"
#### Description
The title kind of describes it. It might be pretty logical, but just putting it out here as it took a while for me to realize and debug what exactly happened.

The SimpleImputer has the ability to impute missing values with a constant. If the data is categorical, it is possible to impute with a string value. However, when fetching a dataset from OpenML (or many other datasets from

[2018-10-05 17:13] ogrisel commented on #12278
Thanks for the heads up. I don't want to do it now though because I won't be available in the coming hours if something goes wrong.

[2018-10-05 17:45] datajanko commented on #12153
So for me, I'd suggest to construct the new transformer. I'd vote for something like GroupTransformer, GroupEncoder. With that name, we might even pass dictionaries in the future to group certain values together under one class.

Concerning OneHot and Ordinal-Encoder: What about adding simply a `pre_transformer=None` keyword (or similar) and add `**kwargs`and pass those keyword arguments to the `p

[2018-10-05 18:37] jorisvandenbossche commented on #12306
As you also mention, I think this is the expected behaviour (whether it is the expected behaviour of the `fetch_openml` to encode categorical data, that is something else :-))

I personally find the error message of *"'fill_value'=missing is invalid. Expected a numerical value when imputing numerical data"* rather clear on what the problem is.
Do you have a suggestion to further improve that?

The

[2018-10-05 18:45] amueller commented on #12306
I agree, the error message seems pretty clear. What's unclear about it?

[2018-10-05 18:48] amueller commented on #12153
yeah let's just go with a separate transformer for now.

[2018-10-05 18:57] amueller opened #12308 "test_sample_order_invariance in common metrics tests applied to ranking"
This sample invariance test is currently applied to the ranking tests, and that seems strange.
For ranking the scores should have a different shape and be integer (right now y_true and y_pred are binary so it's valid scores but it's not a great test).

Also, the same should be tested for multi-class.
Via #10481.

[2018-10-05 18:58] amueller commented on #12308
The same kinda applies to test_format_invariance_with_1d_vectors though that test might make less sense for multiclass.

[2018-10-05 19:02] amueller commented on #12308
Similarly test_thresholded_invariance_string_vs_numbers_labels uses binary outcomes instead of scores and doesn't use multiclass data.

[2018-10-05 19:05] amueller opened #12309 "add multiclass and multilabel metric tests for label permutations"
Multiclass and multilabel metrics should be invariant to labeling the columns.
That should be tested in ``metrics/test_common.py``.
I haven't checked if there's a test for standard multiclass, but there's none for thresholded metrics.

[2018-10-05 19:08] janvanrijn commented on #12306
The error message is rather clear. However, having personal knowledge about the datasets that I am working with (and knowing that there could only be nominal values in this part of the pipeline), I assumed the mistake somewhere in the pipeline.

Running the following code I did not assume to crash, until I investigated:

[code]

My personal suggestion is to add a line to the Simple Imputer documen

[2018-10-05 19:15] amueller opened #12310 "test_score_objects only tests on binary classification tasks"
There should be multiclass classification tasks, and the metrics should be separated into multiclass and binary-only.

[2018-10-05 19:59] lobpcg commented on #8740
try eigen_solver='amg' ?

[2018-10-05 21:42] amueller opened #12312 "average_precision_score breaks on string labels"
[code]

~~That's not very helpful.~~ Fixed in #12313

Casting to dtype object (as coming from pandas):
[code]
[code]

~~That's terrible....~~ Fixed in #12313

What I actually did was
[code]
[code]

that's also terrible...

Originally I used cross-validation, which is arguably worse:
[code]
[code]

[2018-10-05 21:48] amueller commented on #12312
I think this bug was introduced in #9980, ``pos_label=1`` is the culprit, because it overwrites the logic in ``_binary_clf_curve`` that requires the user to explicitly set a pos_label.

ping @qinhanmin2014.
We should probably also error, or at least warn if ``pos_label`` is not present.

[2018-10-06 01:13] qinhanmin2014 commented on #12312
Thanks for the issue and apologies for the inconvenience. Some quick replies, will further investigate and fix this one later this day:
(1) Yes, we need to raise an error when there're two classes and pos_label is not among them (like what we've done in P/R/F)
(2) The NaN bug is not related to my PR but I'll try to look into it. It won't be hard to handle it separately.
(3) I use ``pos_label=1`` b

[2018-10-06 01:58] tengerye commented on #12297
Great, glad to see you have a plan. I will discuss on those issues. Many thanks.@amueller

[2018-10-06 02:01] tengerye commented on #6451
Hi, I have the same problem recently, so what's plan? Since this issue was opened two years ago, any problem so far? I am familiar with Transfer Learning as well and you can verify that on my repositories. I am glad to help.

[2018-10-06 02:01] tengerye commented on #8370
Hi, I have the same problem recently, so what's plan? Since this issue was opened a year ago, any problem so far? I am familiar with Transfer Learning as well and you can verify that on my repositories. I am glad to help.

[2018-10-06 07:39] yyb1995 commented on #12226
This works!Thanks!

[2018-10-06 07:40] robguinness commented on #12112
Thanks, @trh. This is very interesting indeed! We regularly process corpera of ~10 million documents, and this part of the process is one of the most time consuming due to lack of parallelization. We have plans to work on this, too, but this might help to accelerate it.

[2018-10-06 07:45] tengerye commented on #8370
Hi, may I ask what's the progress now? From your discussion, I guess everything is ready for use?

[2018-10-06 09:45] jnothman commented on #12261
@iArunava it looks like pr #12314 is trying to address this

[2018-10-06 12:07] qinhanmin2014 commented on #12312
Regarding the nan issue, we have a PR #8280. I can take that one but before that @amueller , I want your decision about the edge cases of precision & recall.
(1) (not related to current fix) How to define precision when TP + FP = 0? In ``precision_score``, we raise a warning and return 0. In ``average_precision_score``, we return 0 (in my PR #9980). But in [a SO question](https://stats.stackexchan

[2018-10-06 12:19] #12237 closed

[2018-10-06 14:42] mrocklin opened #12315 "Dask Joblib backend cancels required futures"
Here is a failing example that uses the Dask joblib backend to parallelize a nested RandomForestClassifier within a RandomSearchCV

[code]

### What happened

By placing a breakpoint here:

[code]

We find that Joblib has stopped the computation

https://github.com/scikit-learn/scikit-learn/blob/3804ccd2770ac4c026a823d019091917e4a2c70e/sklearn/externals/joblib/parallel.py#L1002-L1004

Which then g

[2018-10-06 23:19] jnothman commented on #12294
Yes, I was just trying to give hints to a contributor

[2018-10-07 01:00] jacquerie commented on #9027
Perhaps this issue can be closed in favor of https://github.com/scikit-learn/scikit-learn/issues/10927, since that one contains more information on the requirements of an acceptable solution?

[2018-10-07 02:47] jnothman commented on #12299
Our Pipeline facilitates swapping components in and out in a grid search.
But beyond that there are several external libraries that search over a
wide space and I think doing this is likely to remain beyond scope for
scikit-learn. We couldn't offer all of: good performance,
generality/adaptiveness and backwards compatibility. We'd rather support
such cases without providing them.

[2018-10-07 02:59] jnothman commented on #12153
I think I'd prefer extending OneHotEncoder and OrdinalEncoder, for
visibility and perhaps because we should have different implementations for
each. Also, note that as a post-processor, this can be done for
OneHotEncoder with univariate feature selection.

I'm okay with allowing parameter semantics to be determined by type (int vs
float) as long as the denominator is obvious and fractions greater

[2018-10-07 08:53] iArunava commented on #12261
Okay @jnothman

[2018-10-07 10:25] chang opened #12318 "Use scipy.stats.yeojohnson as the estimator in PowerTransformer"
#### Description

I noticed that @NicolasHug is in the process of adding Yeo-Johnson to `scipy` here https://github.com/scipy/scipy/pull/9305.

Once it gets merged, I think `PowerTransformer` could be updated to use the new `scipy.stats.yeojohnson` function as the estimator; we're doing this for Box-Cox atm, and this keeps the actual parameter estimation code out of the transformer. Doesn't look l

[2018-10-07 11:56] NicolasHug commented on #12318
Yes I'll be submitting a PR as soon as the scipy one gets merged and released

[2018-10-07 12:14] NicolasHug commented on #12318
And in the mean time we may want to fix some potential bugs https://github.com/scipy/scipy/pull/9305#issuecomment-426903783

[2018-10-07 13:01] jnothman commented on #11799
Do you find that score and perplexity are always inversely related?

[2018-10-07 13:19] jnothman commented on #11186
Let's do this, starting with a role that already exists ("autolink"), then adding :term: suuport?

[2018-10-07 15:02] qinhanmin2014 commented on #12090
@kno10 Do you have time to submit a PR to fix the RD/CD/order of our OPTICS? You can also add your test (with ELKI) in the same PR. Since our euclidean distance is sometimes problematic, I'm fine with using other distance metrics. It's not urgent and we just want to know your plan. Thanks in advance.

[2018-10-07 16:59] kno10 commented on #12090
@qinhanmin2014 I can submit a PR for above branch. I was waiting for @espg's final feedback on whether to keep the cython module, or drop it.

[2018-10-07 16:59] amueller commented on #12297
I think we should keep this open as it's somewhat different.

[2018-10-07 17:05] amueller commented on #12312
I'm not sure what we should advise. We could ask users also to just do ``y == pos_label``. That would remove the need to call ``make_scorer``. So I think we should either recommend that to users in the error message, or we could try to use the minority class as positive - but we could only do that if we had the training set available, which we don't.

[2018-10-07 17:06] amueller commented on #12312
I'm not sure what you mean by "the nan issue".
It's a consequence of an undefined pos_label here, right? I think it's probably the right thing to do if only one label is present.

[2018-10-07 17:09] amueller commented on #12290
Right. That might work. Our tests should allow that, I'm not sure if they actually do.

[2018-10-07 17:12] amueller commented on #12288
Well the pass-through attributes are kinda unique to this estimator. I'm actually not  entirely sure how important they are. I guess if you assign anything between ``fit`` and ``transform`` then they wouldn't be respected in ``transform``.
Are there other reasons to provide these getters and setters?

[2018-10-07 17:13] amueller commented on #12303
Would that work for all kinds of floats and ints?

[2018-10-07 17:15] amueller commented on #12318
It will be years before we bump our scipy requirement high enough for us to be able to use this code. So I'd rather close this issue for now.

[2018-10-07 17:42] chang commented on #12318
Ah, I didn't realize that. Sounds good, I'll close this for now then.

[2018-10-07 17:42] #12318 closed

[2018-10-07 17:55] nitinmnsn opened #12320 "deprecation warning from inside sklearn.preprocessing.LabelEncoder"
`pd.__version__,np.__version__,sklearn.__version__`
out: '0.20.3', '1.14.5', '0.19.0'

`/opt/ds/local/lib/python2.7/site-packages/sklearn/preprocessing/label.pyc in inverse_transform(self, y)
    149

    150         diff = np.setdiff1d(y, np.arange(len(self.classes_)))
    151         if diff:
    152             raise ValueError("y contains new labels: %s" % str(diff))
    153         y = `np.as

[2018-10-07 17:57] amueller commented on #12320
Can you please upgrade to scikit-learn 0.20.0 and see if the problem persists?

[2018-10-07 20:06] datajanko commented on #12153
Please apologize my inexperience, but how is the decision made on what to do next? Follow @amueller's suggestion of writing a new class or following @jnothman's suggestions of building the functionality directly (if I understand it correctly) to build the functionality directly into Ordinal- and OneHotEncoder? Or @jnothman was your comment only targeting adding (many) parameters to the classes.

[2018-10-07 21:35] guillaume-chevalier commented on #11799
In other words, when the perplexity is less positive, the score is more negative.

Normally, perplexity needs to go down. Making it go down makes the score go down too. I believe that the GridSearchCV seeks to maximize the score. Thus it doesn't work. I tried to multiply by -1 the output score by overriding the method, but it didn't work either, because the score method is used internally by the L

[2018-10-07 22:06] jnothman commented on #6451
Sorry we do not have a solution yet.

[2018-10-07 22:46] espg commented on #12090
@kno10 I think we can drop the cython module, and take the pure python solution that implements predecessor...

[2018-10-07 23:40] rohan-varma commented on #12290
Hey! I'd be happy to tackle this as a first contribution to sklearn. It looks like the first thing to do would be to investigate @jnothman 's suggestion and make a PR for that?

[2018-10-08 01:10] NicolasHug commented on #12290
Yes, go for it!

[2018-10-08 01:13] thomasjpfan commented on #12303
The `pd.DataFrame.select_dtypes` uses the [numpy dtype hierarchy](https://docs.scipy.org/doc/numpy/reference/arrays.scalars.html) to select dtypes:

[code]

So it would not be possible to select on the `string` dtype. Thus the api would look like this:

[code]

A user would need to know that "object" means "string" in a pandas dataframe. This would give rise to the issue that other types such as "

[2018-10-08 02:42] qinhanmin2014 commented on #12320
Resolved in master, please update to 0.20.

[2018-10-08 02:42] #12320 closed

[2018-10-08 03:07] amueller opened #12322 "Joblib makes callstacks impossible to decipher"
So I'm trying to work with a script of mine which is a pipeline containing a ColumnTransformer in cross-validation. I'm trying to do some profiling, but each of these three things calls into joblib, which adds 3-4 layers *each* to the stack. Similarly if I want to do interactive debugging, this is pretty hard to manage.

This is for n_jobs=None. I'm not sure if ``n_jobs=1`` would make it better?

[2018-10-08 03:15] amueller commented on #12303
It's possible that a string is not an object, too, right? If someone created a numpy string array and converted it to a pandas dataframe? Or is that cast to object?

[2018-10-08 03:25] amueller opened #12323 "good way to cache transformations on "large" data?"
I'm trying to minimize computation in a script that runs cross-validation on several pipelines. Each of them contains some pre-processing that's mostly identical and some model.
Is there a good way to run cross-validation on each pipeline without recomputing the preprocessing? using joblib.memory doesn't seem to work well as the hashing and storing/reading from disk is slower than the preprocessin

[2018-10-08 03:29] qinhanmin2014 commented on #12090
So let's drop the current cython module. @kno10 Feel free to add a new one if you need.

[2018-10-08 03:50] qinhanmin2014 commented on #12312
The nan issue means that if we only have negative classes in y_true, we'll get nan (along with a warning). The issue here is whether we allow scorers to output nan and how to solve it.

Apologies I don't understand here. I think we add pos_label here so that users don't need to do things like ``y == pos_label``.

I've added the error message in #12313. If you think the nan output you got in this i

[2018-10-08 05:40] rth commented on #12322
It probably would as then one wouldn't have to call the functions determining the number of n_jobs in a given context. Though I have a hard time seeing how we could hard code n_jobs=1 and at the same time support the use cases of n_jobs=None with context managers.

Maybe it could be worth opening an issue about it at joblib?

Making joblib 0.11, that did have a fast path for n_jobs=1, if I underst

[2018-10-08 05:41] kno10 commented on #10924
If you want to make k-means really fast, you need to go for a k-d-tree based algorithm.

Because these can assign more than one point at once.

[2018-10-08 05:47] jnothman commented on #12323
Yes, the caching solution isn't really fast enough.

That is what is implied to me by a directed acyclic graph of processes... not that I have done this.

[2018-10-08 06:01] rth commented on #12323
On Linux/Mac, you could try
[code]
to cache to RAM -- maybe that could help.

Though I think dask with [opportunistic caching](docs.dask.org/en/stable/caching.html), is still worth trying..

[2018-10-08 07:13] muneebaadil commented on #11793
Can I work on this, provided @udaykeith is not working on this?

[2018-10-08 07:14] lesteve commented on #8625
Closed by #11010.

[2018-10-08 07:14] #8625 closed

[2018-10-08 08:00] jnothman commented on #12303
We should also allow filtering on column name.

[2018-10-08 08:09] udaykeith commented on #11793
Go ahead Muneeb, this has been on the backburner for far too long.

On Mon, Oct 8, 2018 at 12:45 PM Muneeb Aadil <notifications@github.com>
wrote:

[2018-10-08 08:13] smarie commented on #12141
Sure:

[code]
Yields:

[code]

I will add the corresponding unit test.

[2018-10-08 08:16] jnothman commented on #12323
Nice idea @rth! But pickling cost is still there, perhaps unnecessarily

[2018-10-08 09:13] Ichaab commented on #12188
`datatra = pd.read_csv('./glass1-1tra.txt', sep='\t', header=0)`
`datatst = pd.read_csv('./glass1-1tst.txt', sep='\t', header=0)`
`data=pd.read_csv('./glass1.txt', sep='\t', header=0)`
`nbr_col=data.shape[1]-1`
`X = data.ix[:, 0:nbr_col].values`
`Y = data.ix[:, nbr_col].values`

`X1_train =datatra.ix[:,0:nbr_col].values`
`Y1_train =datatra.ix[:, nbr_col].values`

`X1_tst=datatst.ix[:,0:nbr_col].va

[2018-10-08 11:12] fingoldo opened #12325 "Feature request: auto-saving of best solution found so far by GridSearchCv or RandomizedSearchCv"
Sorry for posting it here as it's not a really issue, rather a missing feature. However, many times I have seen grid search jobs running for days and in vain due to power outage, memory problems etc.
As simple as it reads, could someone add saving of current model found so far, if parameter 'best_model_path' is set? This will make scikit-learn a lot mode user friendly out of the box.
Thank you!

[2018-10-08 11:51] Ichaab commented on #12188
@amueller @jmschrei @nelson-liu

[2018-10-08 14:19] amueller commented on #12323
@rth Is this in the joblib docs? That seems like quite an important thing. But the hashing alone is killing the performance, I think. I have to double check, though.

[2018-10-08 14:28] amueller commented on #12323
Using ``/dev/shm`` still gives me a 2x slowdown :-/

[2018-10-08 14:30] drorata commented on #12226
It seems like the issue was fixed on `cloudpipe`'s side. When will it become part of `sklearn`?

[2018-10-08 14:34] ogrisel commented on #12226
I released cloudpickle 0.6.0. It will be part of scikit-learn 0.20.1 in a couple of days or 0.20.2 at most.

[2018-10-08 15:20] rth opened #12327 "PendingDeprecationWarning: the matrix subclass is not the recommended way to represent matrices"
When running a the test suite we get a number `PendingDeprecationWarning`,
[code]
See for instance https://ci.appveyor.com/project/sklearn-ci/scikit-learn/builds/19341228/job/q6rysq7flma8hi6v  Warnings seems to be hidden on Travis so we don't see those there.

This typically happens when we have a sparse matrix, sum along one axis to get a dense one, than do some mathematical operation with this m

[2018-10-08 15:39] rth commented on #12323
Not documented for `joblib.Memory `as far as I'm aware -- it is documented though for `joblib.Parallel`. Will make a PR.

Yeah, it looks like joblib  pickles it to BytesIO then computes the MD5 hash which might be exact but quite slow. In dask, a [lighter approach (but prone to false negatives)](https://github.com/dask/dask/blob/1b03c8da258f77f8d18688da5a781459c0969613/dask/base.py#L717) is used,

[2018-10-08 15:43] rth commented on #12323
No actually the performance should be comparable https://github.com/joblib/joblib/issues/343#issuecomment-357760296

In scikit-learn we do have murmurhash3, so it might make sens to use that instead of md5 which should be faster...

[2018-10-08 16:18] TomAugspurger commented on #12323
I don't think there should be any false negatives or hash collisions in Dask's hashing.

Dask-ML does this in https://github.com/dask/dask-ml/blob/master/dask_ml/model_selection/_search.py. There's a lot of dask-specific code in there that wouldn't be relevant for scikit-learn, but if scikit-learn does take this approach it may be a useful reference.

[2018-10-08 17:57] janvanrijn opened #12329 "fetch openml fails when ignore_attribute is not categorical"
Due to a wrong order of logic in `fetch_openml`

Error as mentioned by @amueller in https://github.com/openml/OpenML/issues/813

Fix on it's way.

MWE:
[code]

traceback:
[code]

[2018-10-08 20:09] dvukolov opened #12331 "Outdated documentation for check_array and check_X_y"
#### Description
Documentation for utility functions check_array() and check_X_y() is outdated, stating that they convert input to a 2d array. This is not the case for 1D to 2D conversion since sklearn 0.19. Those functions instead raise an exception requiring that conversion to 2D be carried out manually. Only check_array() argument description reflects the new behaviour.

[check_array()](http://

[2018-10-08 20:30] jnothman commented on #12327
We should probably create helper functions to do the reduce and toarray()
together.

[2018-10-08 21:30] adamjstewart opened #12332 "GridSearchCV occasionally crashes with OverflowError"
#### Description

I'm trying to tune a `MLPClassifier` using `GridSearchCV` and the Adam optimizer. Most of the time, it works fine, but no matter what hyperparameters I search over, it will occasionally crash with an OverflowError.

#### Steps/Code to Reproduce

Here is a snippet of the relevant code showing which hyperparameters I'm trying to tune.
[code]
I realize that you can't actually reprod

[2018-10-08 22:46] NicolasHug commented on #12331
Indeed `check_array` docs needs an update, but I think `check_X_y` isn't misleading. It does not advertise conversion, only *enforcement*.

PR welcome

[2018-10-08 22:53] bauks opened #12333 "StandardScaler obtains incorrect means for large np.float32 dtype datasets"
#### Description
np.mean and np.sum encounter floating point issues when the last axis is not summed, as described here:
https://github.com/numpy/numpy/issues/11331
https://github.com/numpy/numpy/issues/9393
Note that specifying dtype=np.float64 when calling np.mean or np.sum with axis=0 is one solution to this issue.

When a large array with np.float32 dtype is passed to a StandardScaler, _increm

[2018-10-09 01:14] rohan-varma commented on #12290
https://github.com/scikit-learn/scikit-learn/pull/12324 is ready for a review!

[2018-10-09 03:12] amueller opened #12334 "Showing micro-average in classification report is confusing"
This is a follow up on #11679.
I don't think it makes sense to include the micro-average for multi-class classification. The three columns will always show the same value, all of which being the same as accuracy. I find that confusing. If you want to show this (I don't see why you'd want to show the same number three times), I would at least make it clear in the report that it's accuracy.

[2018-10-09 03:15] amueller commented on #12334
Not sure if we want to do this for 0.20.1 as a bugfix?

[2018-10-09 07:35] jnothman commented on #12332
I don't know why this would be fixed, but please confirm this is still an
issue in version 0.20

[2018-10-09 08:50] jnothman commented on #12334
If the target is multiclass and labels is None or includes all present
labels, I agree it would be less confusing if micro is hidden or is
labelled "accuracy". I don't mind making this a fix for 0.20.x, but it's
not worth blocking on.

[2018-10-09 11:33] jnothman commented on #10054
Is this still an issue in version 0.20?

[2018-10-09 13:12] fx86 commented on #10054
Yep.

On Tue, 9 Oct 2018 at 5:05 PM, Joel Nothman <notifications@github.com>
wrote:

--
(Handheld)

[2018-10-09 13:44] #12224 closed

[2018-10-09 15:35] amueller commented on #10054
@fx86 can you please provide code to reproduce or at least the error message?

[2018-10-09 15:57] amueller commented on #12332
``error_score=np.nan`` would fix this, right?

[2018-10-09 16:08] amueller commented on #12325
I'm not sure how easy that is to realize given the parallelization of the computation.
I think it would be nice to have some custom callback but I'm not sure how that could work.

[2018-10-09 16:10] amueller commented on #12323
Hm I feel like I have the references "in hand" though, so I could actually use object identity. I feel like hashing shouldn't be necessary if I build the compute graph manually. What am I missing?

[2018-10-09 16:33] GaelVaroquaux commented on #12322
It's fun, because many years ago I wrote joblib because I kept having such pairs of paths in my code, and it turned out that it was a continuous source of bugs.

I would advice avoiding that, and trying to find a fix in joblib.

[2018-10-09 16:41] adamjstewart commented on #12332
Ooh, that looks promising! I'll test that out and get back to you.

[2018-10-09 16:49] amueller commented on #12312
Well doing ``y == pos_label`` is much easier than using ``make_scorer`` though.

[2018-10-09 17:07] fx86 commented on #10054
@amueller Code is above.
The error message is here:
[code]

[2018-10-09 17:39] anjalibhavan commented on #12334
Hi,
Is this issue being worked on? I'm a beginner and I'd like to contribute (if needed) - kindly let me know if anything's up. Thanks!

[2018-10-09 17:41] amueller commented on #12312
I feel like all the issues I raised are fixed by #12313. But it's still awkward to actually use this with the scorer interface and I'm not sure what we should be suggesting.

[2018-10-09 19:02] SachinTen11 opened #12337 "NearestNeighbor method for metric='mahalanobis' doesn't perform multi-threading"
In one of my unsupervised learning projects, I was using NearestNeighbor s method from sklearn. I had used this method with two distance metrics:
1. euclidean
2. mahalanobis
In order to use 100% cpu, I have used 'n_jobs'=8 as I have a 8 core system.The algorithm used all my CPU cores in case of using 'euclidean' but not 'mahalanobis':
Below is the sample code I was trying to use
[code]
I have 1M t

[2018-10-09 19:31] ogrisel commented on #12322
`n_jobs=1` should behave exactly as `n_jobs=None` by default. We could probably makes some effort to flatten the call trace when the `SequentialBackend` is active though (which is the case by default).

[2018-10-09 19:36] GaelVaroquaux commented on #12322
Yes, that's probably were there is room for improvement.

[2018-10-09 21:56] PGTBoos commented on #2889
Is it perhaps an idea for scikit, that in case of Windows to alter the function
And use queues to feed tasks to a collection of worker processes and collect the results
As described here : https://docs.python.org/2/library/multiprocessing.html#windows
and for 3.6 here : https://docs.python.org/3.6/library/multiprocessing.html#windows

[2018-10-09 22:02] amueller opened #12339 "make_column_transformer has different order of arguments than ColumnTransformer"
I'm not sure if we discussed this or did this on purpose, but I find this very confusing.
``ColumnTransformer`` has ``(name, transformer, columns)`` and ``make_columntransformer`` has ``(columns, transformer)``. I guess it's too late to change this? Though we did say it's experimental and subject to change.

[2018-10-09 22:05] amueller commented on #12322
I'm not sure there's a way around the nesting, though?

So with the call to ``delayed`` there will always be at least 2 levels, right?
So if I have cross-validation and pipeline and column transformer I will have 6 levels from Parallel, and probably two more levels from joblib.memory, and then some sklearn indirections (_fit_transform_one etc)...

hrm...