[2021-01-12 11:14] jeremiedbb commented on #19154
I agree it's a bit confusing. However the default transform algorithm ('omp') is different from the default fit_algorithm ('lars' but it's actually lasso_lars) and the regularization is not the same. For 'omp' it's controlled by ``transform_n_nonzero_coefs``.

The doc could definitely be clearer. Would you be interested in submitting a PR ?

[2021-01-12 12:00] jnothman commented on #19152
This seems to be a copy paste error in the documentation. Would you like to
fix it for us? We could also add this feature.

[2021-01-12 13:26] stootoon commented on #19139
@glemaitre scaling the coefficient for a single class shouldn't impact the class only if we believed the docstring that decision_function was computing distances to hyperplanes. But as we've discussed, that's not what decision_function is doing. @agramfort I've just submitted a PR that fixes the docstring and leaves the rest of the code untouched.

Finally, just wanted to say thanks to you both an

[2021-01-12 14:30] #17051 closed

[2021-01-12 14:46] tomMoral commented on #19154
Maybe it would still make sense that in case `transform_algorithm` is the same as `fit_algorithm` and `transform_alpha` is None, you use `alpha` no?

I agree that clarifying would help a lot.

[2021-01-12 14:50] bmalezieux commented on #19154
I agree, and I am interested in submitting a PR

[2021-01-12 16:53] mathurinm opened #19160 "Lasso.dual_gap_ does not match the formulation in the doc"
#### Describe the bug

the Lasso objective in the Lasso class docstring has the datafit normalized by n_samples:
![image](https://user-images.githubusercontent.com/8993218/104345134-46222000-54fe-11eb-9b05-9c286fc423a4.png)

The cython `enet_coordinate_descent_fast`  minimizes the objective **without** this normalization:
[code]
hence the duality gap (computed in the cython part) returned should b

[2021-01-12 18:25] lesteve commented on #19074
I am going to close this one since it was moved to a discussion: https://github.com/scikit-learn/scikit-learn/discussions/19110

[2021-01-12 18:25] #19074 closed

[2021-01-13 07:18] #19139 closed

[2021-01-13 08:59] Superhzf commented on #14419
Hi Xue Wei,

I think it is already subtracted by the entropy of Z, here is my derivation based on equation 9.74
![lower_bound_gmm](https://user-images.githubusercontent.com/10473662/104429453-9792e380-55c0-11eb-84b5-0a8f07e27e39.jpeg)

Isn't it?

[2021-01-13 16:12] ogrisel opened #19164 "Numerical stability issue in adjusted_mutual_info_score with numpy master"
Reproducer that works with numpy 1.19:

[code]

and that fails on `[scipy-dev]` in the test `test_exactly_zero_info_score` with the numpy nightly build:

https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=25088&view=logs&j=dfe99b15-50db-5d7b-b1e9-4105c42527cf&t=ef785ae2-496b-5b02-9f0e-07a6c3ab3081

[2021-01-13 16:13] ogrisel opened #19165 "numerical stability bug in adjusted_mutual_info_score with numpy master (1.20 dev)"
Reproducer that works with numpy 1.19.5:

[code]

and that fails on the `[scipy-dev]` build in the test `test_exactly_zero_info_score` with the numpy nightly build:

https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=25088&view=logs&j=dfe99b15-50db-5d7b-b1e9-4105c42527cf&t=ef785ae2-496b-5b02-9f0e-07a6c3ab3081

It returns 2.2207031250001146 instead of 0.0...

[2021-01-13 16:50] adrinjalali commented on #14251
I guess my worry is the amount of complexity we're adding to `ColumnTransformer`. I would rather have choosing columns from a random input data in a different module/class.

[2021-01-13 17:38] lorentzenchr commented on #14251
My worry is that enforcing column order in `ColumnTransformer`, if columns are specified by name, makes our only official gateway for dataframe input effectively unusable. And - if I may ask - what for?

The problem with a possible `ColumnSelector` is that, at the current state, we wouldn't be able to use column names in a subsequent `ColumnTransformer`. It would also add - in my point of view - a

[2021-01-13 20:09] zitorelova commented on #18235
take

[2021-01-13 20:58] david-cortes opened #19168 "ColumnTransformer requires excluded columns"
The `ColumnTransformer` has an option `remainder="drop"` (which is the default) that makes it drop any column from the input that is not handled within the transformers passed to its `transformers` (list) argument.

However, if the data to which the `ColumnTransformer` is fitted is a `DataFrame` with named columns, and there are columns which end up dropped due to not being handled by the transfor

[2021-01-13 21:29] david-cortes opened #19169 "OneHotEncoder shouldn't need to be fitted if categories are supplied"
`OneHotEncoder` has an option to pre-specify which categories it will handle. Nevertheless, if I try to call `transform` on a `OneHotEncoder` which has the categories pre-specified, it will still complain about not being fitted:
[code]
[code]

It shouldn't be necessary to `fit` the `OneHotEncoder` since it won't make any difference.

[2021-01-13 21:49] reshamas opened #19170 "Add link to video for contributing: Andreas video Volume 2"
#### Describe the issue linked to the documentation
Add link to @amueller video

#### Suggest a potential alternative/fix
link to video:  https://youtu.be/p_2Uw2BxdhA
link to transcript:   https://github.com/data-umbrella/data-umbrella-scikit-learn-sprint/blob/master/3_transcript_ACM_video_vol2.md

In "Video Resources" section, add:
* Contributing to scikit-learn, Volume 2: Video, Transcript

rend

[2021-01-13 21:51] reshamas commented on #19170
@amy12xx
Do you want to take this PR?

[2021-01-14 07:20] panpiort8 commented on #15272
It's almost implemented (PR #16067), but still needs pretty much work to be merged. Feel free to continue this PR.

[2021-01-14 08:05] NicolasHug commented on #19164
Closing as a dup of https://github.com/scikit-learn/scikit-learn/issues/19165 but @ogrisel feel free to reopen if I'm missing something

[2021-01-14 08:05] #19164 closed

[2021-01-14 08:14] NicolasHug commented on #19168
This is discussed in https://github.com/scikit-learn/scikit-learn/issues/14251, please refer to this issue

[2021-01-14 08:14] #19168 closed

[2021-01-14 08:18] rth commented on #14251
I agree that column selection API that requires both have the right column name and an exact position is overly constraining and not very usable.

@glemaitre @jeremiedbb @thomasjpfan You approved https://github.com/scikit-learn/scikit-learn/pull/18256 at the time. Could you please comment on the above discussion? Thanks!

[2021-01-14 08:21] NicolasHug commented on #19169
In theory yes, but in practice there are a few issues:

- if a category is present in the data but wasn't specified at init, it is symptomatic of a problem in the data pipeline: we need to issue an error in this case. We would not know how to encode this category otherwise. This validation happens in fit.
- the `transform` method relies on some private (and public) attributes that are set during `

[2021-01-14 08:21] #19169 closed

[2021-01-14 08:41] StefanUM opened #19171 "AgglomerativeClustering precomputed euclidean distance matrix with Ward linkage"
Hi,

I currently have a distance matrix that contains Euclidean distances. However, according to the documentation of AgglomerativeClustering, I cannot use this pre-computed metric as input if I want to use Ward linkage. Ward is reserverd for Euclidean distances only (which makes sense from a theoretical point of view). However, my precomputed distance matrix is within the Euclidean space and ther

[2021-01-14 09:03] akhilkedia commented on #10767
Issue stale. I do not know if this is fixed or not fixed, but I no longer need this feature.
Closing.

[2021-01-14 09:16] StefanUM commented on #18531
Hi @mas1 and @cmarmo,

The same holds-true for any other pre-computed distance matrix within the Euclidean space. I currently have a pre-computed distance matrix within the Euclidean space and cannot use affinity = "precomputed" as metric together with linkage = "Ward".

This should be enabled and the documentation should be updated: Note, when using a precomputed matrix together with Ward linkage

[2021-01-14 09:22] glemaitre commented on #19165
Ouch....

[2021-01-14 09:22] agramfort commented on #19160
@mathurinm I think it will be hard to change the code behavior. What can be easily changed in docstrings / documentation.

One contract is that the number of iterations should not be affected by some scaling of the target y
that's why the gap internally is scaled by ||y||^2

[2021-01-14 09:36] mathurinm commented on #19160
let me launch a PR, it will be clearer with code.
My proposed change would only consist in scaling the duality gap, _after convergence_, in the cython solver, so that it corresponds to the normalized formulation in the Lasso docstring.
This would not change the behavior of the solver (same number of iterations performed).

[2021-01-14 12:59] glemaitre commented on #19165
Uhm it is weird:

[code]

I cannot reproduce

[2021-01-14 13:03] glemaitre commented on #19165
Isn't it Scipy then.

[2021-01-14 13:51] aakashbanerjee98 commented on #19170
Hello, I would like to work on the issue but can you explain it a bit more I am unable to understand the issue properly.

[2021-01-14 15:02] ranjanikrishnan commented on #19170
Hey, I would like to take this PR. Please assign this to me :)

[2021-01-14 15:14] alfaro96 commented on #19165
I cannot reproduce with:

[code]

[2021-01-14 17:19] reshamas commented on #19170
@ranjanikrishnan
I've assigned it to you.  Please let me know if you can submit a PR within next couple of days.

[2021-01-14 17:27] ranjanikrishnan commented on #19170
Thanks. Yes, That should be possible :)

[2021-01-14 17:53] aakashbanerjee98 commented on #19105
hey can you describe the issue a bit more?

[2021-01-14 18:19] GLevV commented on #9337
There is a bunch of methods for calculating number of bins for histogram ([look here](https://en.m.wikipedia.org/wiki/Histogram#Number_of_bins_and_width)). It's easy to implement, but I am not sure about usecases.

[2021-01-14 18:43] ZuowenWang0000 opened #19177 "Nystroem class method misleading"
#### Describe the issue linked to the documentation
To my understanding the sklearn.kernel_approximation.Nystroem class is currently not supporting 'precomputed' kernel correctly. And it is true that in the API that there is no option stated for the kernel attribute, but in the _get_kernel_params method, you can see an if statement including self.kernel!='precomputed', which made lead the reader t

[2021-01-14 18:44] ZuowenWang0000 opened #19178 "Nystroem has misleading parts makes precomputed kernel seemingly possible."
#### Describe the issue linked to the documentation
To my understanding the sklearn.kernel_approximation.Nystroem class is currently not supporting 'precomputed' kernel correctly. And it is true that in the API that there is no option stated for the kernel attribute, but in the _get_kernel_params method, you can see an if statement including self.kernel!='precomputed', which made lead the reader t

[2021-01-14 18:45] #19177 closed

[2021-01-14 21:42] glemaitre commented on #19165
Could not reproduce with the following versions (same as the CI apart of pandas)

[code]

[2021-01-15 12:40] glemaitre commented on #19157
Duplicate of some previous discussion and would be addressed by SLEP 15: https://github.com/scikit-learn/enhancement_proposals/pull/48

[2021-01-15 12:40] #19157 closed

[2021-01-15 12:41] glemaitre commented on #19153
I cannot look at the issue right now but maybe @agramfort has a clue.

[2021-01-15 13:53] agramfort commented on #19153
you only have 3 samples. So each train set is unlikely to have zero mean features and targets so intercept will be non-zeros. I think it explains what you see. If you use a lot more samples it should be more comparable.

[2021-01-15 14:41] kingjr commented on #19153
I don't think that is it @agramfort

The error occurs with higher `n` and the error does *not* occur when cv is passed manually, i.e. when we don't use the kernel LOO trick

[code]

[2021-01-15 14:44] kingjr commented on #19153
(in practice, this leads to substantial scoring differences in our dear neuroimaging datasets...)

[2021-01-15 18:37] agramfort commented on #19153
you need to pass `scoring='neg_mean_squared_error'`

reminds me also this issue from 2013 https://github.com/scikit-learn/scikit-learn/issues/1807

[code]

[2021-01-15 19:08] kingjr commented on #19153
Thanks, so `scoring='neg_mean_squared_error'`
* solves the warning issue and
* makes `coef_a` (ridge CV default w/ intercept) and `coef_c` (ridge CV loo w/ intercept) identical.

Is the current implementation delivering the expected outcome in your opinion? I.e. `coef_b` would be different from `a` and `c` because it underfits: left-out-sample makes the mean slightly different from 0, and thus vio

[2021-01-16 16:58] ctwangtz opened #19183 "UserWarning(HalvingGridSearchCV)? Does this warning affect the results? How to close it by tuning parameter or other ways?"
MY CODE:
[code]
How to close it by tuning parameter or other ways?
THX

[2021-01-16 17:38] adrinjalali commented on #17595
Github now properly supports renaming the branch, and it seems the experience has been quite painless: https://github.com/github/renaming

We can now simply rename the default branch to `main`, and have:

[2021-01-16 18:19] #19165 closed

[2021-01-16 18:27] adrinjalali commented on #18235
The etiquette we follow is that the first person who claims an issue should have a chance to solve it, unless it goes stalled and then another person can take it. In this case @sausterm rightfully showed interest to fix the issue since it's stalled. So please take that into account in the future @zitorelova :)

[2021-01-16 18:27] chkoar commented on #17595
I was unaware of the issue. So, initially, when I read your email I was "no way". Since I was informed, I am +1 for the change.

[2021-01-16 18:28] #18235 closed

[2021-01-16 21:10] adriangb commented on #13969
From slack conversation, it would be nice for `strict=False` to relax this check:

https://github.com/scikit-learn/scikit-learn/blob/2218ec46227c92301ac6837c4a8ae9b8dc5d3960/sklearn/utils/estimator_checks.py#L1735

To just:

[code]

[2021-01-16 21:43] seraf-m opened #19186 "MinMaxScaler producing garbled output"
I checked google and github to find this behaviour, didnt find anything -

MinMaxScaler produces garbled results, for lack of a better word, inwhile the inverse transform works fine.

In the minimal reproducible example I included, it just pins both curves to either the max or min values, while on the dataset I was working on when I encountered this, the transformed curve had kinks introduced that

[2021-01-17 05:21] Magic-oak commented on #14485
you should use 'pip install scikit-learn==0.20.3',  and before that you'd better use 'pip config set global.index-url https://mirrors.aliyun.com/pypi/simple/' . That works for me

[2021-01-17 10:38] NicolasHug commented on #19183
What is `clf`? I'm going to assume that it's a HistGradientBoosting instance as it's the only estimator that has a max_bins parameter. Your grid contains values for max_bins that are > 255 while they are supposed to be **lower** than 255 (255 is the max possible value). For these instances, fitting will fail and result in a nan score.

Closing until we get a full reproducible example

[2021-01-17 10:38] #19183 closed

[2021-01-17 11:38] jnothman commented on #19186
What is the dtype of your input array?

[2021-01-17 11:49] ctwangtz commented on #19183
df_load = pd.read_csv('./data/meningiomas.csv', index_col='Unnamed: 0')
tape_grade = []  # 获取标签，转换成数字low-risk=0, high-risk=1
for i in df_load.index:
    if list(i)[0] == 'l':
        tape_grade.append(0)
    else:
        tape_grade.append(1)
x_train, x_test, y_train, y_test = tts(df_load, tape_grade, test_size=0.2, stratify=tape_grade, random_state=random_num)
#x_train=pd.DataFrame(StandardScaler

[2021-01-17 11:58] ctwangtz commented on #19183
Thanks, the document of lightGBM do not mention it.

[2021-01-17 12:10] ctwangtz commented on #19183
There are still many warning after modifying.

# 1.方差过滤
selector_vt= VarianceThreshold()
selector_vt.fit(x_train_SS,y_train)
vt_index=selector_vt.get_support()
df_vt=x_train_SS.iloc[:,vt_index]
# 2.方差分析
F, p_val = f_classif(df_vt, y_train)
selector_F = GenericUnivariateSelect(score_func=f_classif, mode='k_best', param=(p_val < .05).sum())
selector_F.fit(df_vt,y_train)
F_index= selector_F.get_suppo

[2021-01-17 12:23] seraf-m commented on #19186
numpy.float64, in both cases.

[2021-01-17 14:26] agramfort commented on #19153
to me yes it's expected. Although I would not call this the "ridge assumption". With intercept it's just a slightly different model.

[2021-01-17 14:27] #19153 closed

[2021-01-17 16:08] seawander commented on #8447
This paper ignores the missing data in calculating the cost function, which is effectively not replacing the nan’s with 0’s. We are able to prove that the impact is a second order effect if the data are randomly missing. See https://arxiv.org/abs/2001.00563

[2021-01-17 18:43] ChaoREN1994 opened #19189 "GPR (GaussianProcessRegressor) warning questions in sklearn"
Hello,

I just started to use GPR in sklearn in recent days.  I always got two type warnings as showed in the followings .
1. One is :
VarianceWarning:  ("Predicted variances smaller than 0. " "Setting those variances to 0.")
2. The other is :
_gpr.py:504: ConvergenceWarning: lbfgs failed to converge (status=2):
ABNORMAL_TERMINATION_IN_LNSRCH.
Increase the number of iterations (max_iter) or scale

[2021-01-17 20:28] #19170 closed

[2021-01-17 20:40] discdiver commented on #14969
Inferring `feature_names`, support for categorical columns (bar plot), and being able to handle a pipeline with `make_column_transformer` will be awesome additions! Thank you!

[2021-01-17 22:15] jnothman commented on #19186
Sorry, just looked at your usage. Each feature (each column of input) is scaled independently. It's learning an offset and scale parameter for each column, hence with two points in each feature, you get those straight lines.

Your initial example doesn't look identical in form, but I suspect this is a usage error.

[2021-01-17 22:15] #19186 closed

[2021-01-17 22:36] seraf-m commented on #19186
Indeed it was, never thought to try transposing my arrays, sorry for wasting your time.

[2021-01-18 00:40] jnothman commented on #18968
Can you remind me why this needs a parameter to control it, where elsewhere in preprocessing, retaining NaNs is done automatically (under the assumption that the user still needs to handle them downstream).

[2021-01-18 01:28] jnothman commented on #19076
Looking again at #16925, I think generators/iterators might be even trickier than callbacks in the multiprocessing context. We would be generating a series of events, with only limited assurances of order, which is much more like callbacks, in that you can't much rely on state. The obvious benefit of callbacks is that it is a much smaller change to our API.

[2021-01-18 01:46] jnothman commented on #19045
I should note that the idea of an estimator having a default/sensible distribution grid is somewhat orthogonal. Certainly, it should be less controversial than trying to automatically determine a sensible distribution of parameters without respect to a particular task or dataset. The focus here is only on making it easier to work with parameter search specifications.

[2021-01-18 08:09] cmarmo commented on #19189
Hi @ChaoREN1994 , thanks for reaching out. I believe this is more a usage question than an issue. The issue tracker is mainly for bugs and new features. I suggest you to reach the community on [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn) or on the [github discussions](https://github.com/scikit-learn/scikit-learn/discussions).

I'm going to close this issue, but feel fr

[2021-01-18 08:09] #19189 closed

[2021-01-18 09:02] glemaitre commented on #18968
I assume that the parameter `handle_unknown` is required if we still want to keep the original behaviour.
But as you mentioned (@jnothman), if we consider it an enhancement toward achieving lenient estimators, letting pass the missing values would be enough.

[2021-01-18 10:16] balassbals opened #19193 "Different Results of LogisticRegression with different solvers"
[Default.csv.zip](https://github.com/scikit-learn/scikit-learn/files/5829466/Default.csv.zip)
I tried a multivariate logistic regression fitting on the Default.csv dataset (attached here) used in Introduction to Statistical Learning by Gareth James, Daniela Witten, Trevor Hastie and Robert Tibshirani. I found the fitted coefficients to be quite different with different solvers. The default solver

[2021-01-18 10:59] glemaitre commented on #19193
You need to scale the data before to fit the logisitic regression:

[code]

All models will then converge to the same solution, without convergence warning:

[code]

[2021-01-18 11:01] #19193 closed

[2021-01-18 11:03] glemaitre opened #19194 "Use a stripplot in linear model inspection example"
A warning is issued in the following example: https://scikit-learn.org/stable/auto_examples/inspection/plot_linear_model_coefficient_interpretation.html#sphx-glr-auto-examples-inspection-plot-linear-model-coefficient-interpretation-py

We could use a `stripplot` instead of the `swarmplot` and the warning should go away making a cleaner output.

[2021-01-18 11:15] GLevV commented on #9337
I tried and don't think it's going to work good.

Simple example: feature ~ N(0,1) with 10_000 samples. By Scott rule we will have: n_bins = ceil(3.49*1/cbrt(10_000)) = 1. The minimum number of bins is 2. Same thing with Freedman-Diaconis rule. The problem is it will be sensitive to feature scaling.
Rules that rely only on number of samples like Sturge, Rice, Sqrt work more stable. The difference

[2021-01-18 12:42] lorentzenchr commented on #19160
I think this can be considered a bug of the returned `Lasso.dual_gap_`.

[2021-01-18 13:10] mvhv commented on #19194
Hmmm, guess I was way too slow figuring out how to test this. GG

[2021-01-18 13:42] cmarmo commented on #19025
Hi @StefanUM , thanks for reaching out and for your patience. Do you mind adding a minimal and reproducible code, possibly using synthetic data (or at least public data), useful to reproduce your issue. This will help in understanding if this is a bug or a misunderstanding in the documentation and how this could be fixed. Thanks!

[2021-01-18 14:15] cmarmo commented on #19021
Hi @anoldmaninthesea , thanks for reaching out and for your patience.
You are encountering a numpy `RuntimeWarning` because in the case of `nu=0.5` the code performs a `np.true_divide` (see [numpy documentation](https://numpy.org/doc/stable/reference/generated/numpy.true_divide.html)) https://github.com/scikit-learn/scikit-learn/blob/1fca00b0b46e89956f76e118581a4176888344ab/sklearn/gaussian_proces

[2021-01-18 14:58] SouravPal1995 commented on #19194
I would like to take up this issue if this is still available.

[2021-01-18 14:59] cmarmo commented on #18973
Fixed by #19004.

[2021-01-18 14:59] #18973 closed

[2021-01-18 15:11] cmarmo commented on #19194
I'm sorry @SouravPal1995 (and @mvhv .. :) )  #19195 is already taking care of this issue.
A list of "Easy" issues is available [here](https://github.com/scikit-learn/scikit-learn/issues?q=is%3Aopen+label%3AEasy+label%3A%22help+wanted%22).
Make sure that there are no active pull requests linked to the one you choose to pick. Thanks!

[2021-01-18 15:13] #19194 closed

[2021-01-18 15:15] cmarmo commented on #18955
Hi @marmor97 , it seems to me that your question was answered and you are happy with this answer... :)
I'm closing this issue. Feel free to reopen if you think something still need to be solved.

[2021-01-18 15:15] #18955 closed

[2021-01-18 15:27] StefanUM commented on #19025
Hi @cmarmo

Please check below :) Normally, you would expect the same results for the first two coordinates (regardless of n_components argument). I checked it with PCA and that works like it should (provide the same results for the first two pcs for n_components = 2 or n_components = len(dist) and then looking at only the first two components).

[code]

dist_MDS =
![image](https://user-images.git

[2021-01-18 17:39] vsobolyev opened #19197 "PLSRegression unexpected keyword argument 'algorithm'"
Hello,
#### Describe the bug

I'm using PLSRegression for dimensional reduction of data. So I was playing around with attributes and found that the 'algorithm' is missing.

#### Steps/Code to Reproduce

[code]

#### Expected Results

Expected dimensionality reduction

#### Actual Results

[code]

#### Versions

System:
    python: 3.6.11 | packaged by conda-forge | (default, Aug  5 2020, 20:09:42)

[2021-01-18 19:50] Asami-1 commented on #17171
Hi, first time contributor here.

I've added some explanations about KPCA, as asked in the issue and created a PR (#19201 ).
I went into the details of the approach, hoping to clarify the misunderstanding concerning the shapes.
I also added an image and wasn't sure  where to put it, I went with `doc/images`, hoping it's alright.

If there's anything that you think should be changed, don't hesitate

[2021-01-19 04:28] funston commented on #18937
got a fresh M1. have python3 set in my pyenv.

however, running the following results in a failure: pip install -U scikit-learn

[code]

[2021-01-19 07:58] glemaitre commented on #18937
Please reopen an issue with details regarding your install step and the results of the steps described in:
- https://github.com/scikit-learn/scikit-learn/issues/18937#issuecomment-737121068
- https://github.com/scikit-learn/scikit-learn/issues/18937#issuecomment-737124847

[2021-01-19 07:59] glemaitre commented on #18937
The reason is that you will not have a lot of views by commenting on a close issue

[2021-01-19 09:48] cmarmo commented on #19197
Hi @vsobolyev thanks for noticing that. Would you be available to propose a fix? Thanks!

[2021-01-19 09:58] cmarmo commented on #18943
Hi @venkyyuvy thanks for reaching out and for your patience. I agree on the wording "value" being unclear. I believe we have two issues here:
- It should be clarified that "value" contains a weighted partition of the sample
- Perhaps the user should be able to choose if the output "value" should be weighted or not.
What do you think? Would you be interested in proposing a pull request?

[2021-01-19 10:39] jilljenn commented on #6245
Hi, would like to reconsider that one.
I see that sklearn has its own liblinear fork. Is it following upstream changes or not?
Because there seems to be a not-so-new multicore liblinear https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/multicore-liblinear/
So `n_jobs` could simply send the parameter to that one, instead of being used only in the multiclass case. Is that right?

Context: we were havin

[2021-01-19 10:41] cmarmo commented on #18875
Hi @Chroxvi , I can't reproduce this failure with the current development version. Do you mind checking on your side? Multioutput tests have been improved in the last release, if I remember correctly. Perhaps we can close this issue? Thanks!

[2021-01-19 10:52] jnothman commented on #18943
It would be quite a substantial extension to store the unweighted value in
the model.

[2021-01-19 10:58] jnothman commented on #9337
I think basing it on the number of samples might be better than the current
heuristic of "always use 5 unless the user says otherwise".

[2021-01-19 11:08] jnothman opened #19202 "Multimetric callable scoring not documented"
As noted in
https://github.com/scikit-learn/scikit-learn/pull/15126#pullrequestreview-571134320
 that pull request was merged without adequate documentation of the new feature in the relevant docstrings, or of the change in the change log.

[2021-01-19 11:10] cmarmo commented on #18943
Let's start with the documentation improvement then.

[2021-01-19 11:12] drew-parsons commented on #19111
This test is passing for arm64 in Debian builds, see https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=arm64&ver=0.23.2-4&stamp=1610905951&raw=0

But the test failure is found on i386, see https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=i386&ver=0.23.2-4&stamp=1611004993&raw=0

[2021-01-19 11:46] cmarmo commented on #18822
Hi @lqrz thanks for reaching out. The information needed to properly investigate this issue are missing. I'm closing it: but feel free to reopen with a minimal reproducible snippet of code if you are still experiencing it. Thanks for your patience.

[2021-01-19 11:46] #18822 closed

[2021-01-19 11:49] NicolasHug commented on #19197
My bad, it's a doc issue: the parameter should in fact be removed from the docstring (and not added to the estimator) as done in https://github.com/scikit-learn/scikit-learn/pull/19047/files

@vsobolyev we shouldn't use svd for PLSRegression, so you can just remove `algorithm='svd'` in your code

[2021-01-19 11:56] BaptBillard commented on #19197
Hi, I'm working on it, I will just change the documentation as you said. However some things are missing in you code to make it work anyway.

[2021-01-19 12:02] vsobolyev commented on #19197
@NicolasHug Thanks, I did tweak the code to pass on the parameter, but I wasn't sure if it triggered the right code in the end.

[2021-01-19 12:49] jnothman opened #19203 "SuccessiveHalving's cv_results_['iter'] is a list unlike other cv_results_ values"
`cv_results_` values are arrays in GridSearchCV and RandomizedSearchCV. In `Halving*SearchCV`, additional results, such as 'iter' appear to be formatted as a list, rather than an array. This can create unexpected behaviour for users relying on or testing behaviour of `Halving*SearchCV`.

[2021-01-19 14:07] glemaitre commented on #19202
take

[2021-01-19 14:29] yosefdroth opened #19206 "Linear Regression not Regressing Correctly"
#### Describe the bug
I was adding in features to linear regression and checking the R^2 values as they were added. I noticed that after adding a certain feature, the R^2 value decreased. Mathematically, this should not be possible. I performed the regression using excel, and got different coefficients for that feature set, which made me think it was an error in Sklearn's implementation of linear

[2021-01-19 15:48] ogrisel commented on #19111
It's also failing on PPCle builds on conda-forge.

[2021-01-19 16:30] glemaitre commented on #19206
Why?

Scikit-learn uses the SciPy least-square solver `linalg.lstsq` that is quite unlikely to have bug:

[code]

This would give you the coefficients found with scikit-learn.
However, looking at those coefficients they are extremely high.
In the same time, your data are completely correlated/anti-correlated:
`d = [-1, 1] * [['a'], ['b']]`

I don't know what excel if fitting but the results are ju

[2021-01-19 16:41] yosefdroth commented on #19206
Because linear regression should set the coefficients to minimize the sum of squared residuals (and therefore should have the highest possible R^2 of the possible coefficient values). Not adding in variable d is equivalent to setting the coefficient for d to zero. If the coefficient for d were to be zero, then the R^2 would be higher. The fact that the R^2 is lower after including d shows that the

[2021-01-19 17:18] glemaitre commented on #19206
I think that the issue here is more of a numerical problem. In the second model, you get a model that predicts worse due to the coefficients of the model.

[2021-01-19 17:19] NicolasHug commented on #19203
I'm on it, if all goes fine I should have a PR in the next hour (if not I'll report)

[2021-01-19 17:24] TomDLT commented on #19206
You have a numerical problem since your features are perfectly correlated.
Changing from `LinearRegression()` to `Ridge(alpha=1e-15)` gives identical R^2 score for both sets of features.

You can see the numerical issue by computing the eigenvalues of X:
[code]
The smallest eigenvalue (2e-14) is too small and leads to numerical issues. I recommend using `Ridge` instead of `LinearRegression`.

[2021-01-19 17:29] yosefdroth commented on #19206
Fascinating!

I am going to close this issue, but for my own knowledge, shouldn't the model be able to detect this? I always thought that linear regression was deterministic because it could be solved analytically, and therefore should always end up with the optimal answer. In practice, is this not true?

Thank you both for the help!

[2021-01-19 17:29] #19206 closed

[2021-01-19 17:37] TomDLT commented on #19206
Linear regression is mathematically deterministic, but implementations might differ due to finite numerical precision. The differences are only visible when the solver is unstable, as in your example.

One might argue that the solver should warn the user in those unstable situations. But more generally, scikit-learn is a machine-learning library, rather than a statistics library. Therefore, we do

[2021-01-19 17:47] glemaitre commented on #19206
This is also related to https://github.com/scikit-learn/scikit-learn/issues/14268

[2021-01-19 20:14] amidvidy commented on #19105
yes. The comment says that in the event a sparse data matrix is passed to the constructor, the precompute option will be hard-set to true, but in reality (see code i linked above) it treats it as hard-set to False. I think this is just a typo in the comment, since the behavior of not precomputing the full gram matrix for sparse matrixes is likely desirable - much of the computation could be wasted

[2021-01-19 20:21] talhaanwarch opened #19212 "Classification metrics can't handle a mix of multiclass-multioutput and multilabel-indicator targets"
#### Describe the bug
While trying to classify a multilabel dataset, I am getting this error
`ValueError: Classification metrics can't handle a mix of multiclass-multioutput and multilabel-indicator targets`

#### Steps/Code to Reproduce
[code]
#### Versions
[code]

[2021-01-19 20:21] yosefdroth commented on #19206
That makes sense. I did not realize the effect that solvers can have on Linear Regression. Thank you both for taking the time to clarify this!

[2021-01-19 22:01] tibco-slolla commented on #19068
This issue does not appear to be resolved in 0.24.1.

[2021-01-19 22:01] jnothman commented on #19212
Do you have more than two values in some columns of y?

[2021-01-19 22:20] glemaitre commented on #19068
@tibco-slolla Could you be more explicit: basically how scikit-learn was intended to be installed and what is the full traceback such that we can know what is indeed happening.

[2021-01-19 22:30] talhaanwarch commented on #19212
Can you please elaborate the question. I did not get it?
The shape of y columns is `189,7`
As it is multilabel data, so there are can be two or more 1 in hot encoded vector.

[2021-01-19 22:53] #19202 closed

[2021-01-19 23:47] jnothman commented on #19212
It's not a very helpful error message, but your `y_test` contains strings while `y_pred` contains ints.

[2021-01-19 23:57] tibco-slolla commented on #19068
@glemaitre, sure. I am trying to install scikit-learn 0.24.1 on Python 3.6.8 using: pip3 install scikit-learn==0.24.1 --user

I encounter " ModuleNotFoundError: No module named 'Cython'" caused by " ModuleNotFoundError: Please install Cython with a version >= 0.28.5 in order to build a scikit-learn from source.".

[2021-01-20 04:40] jnothman opened #19213 "Official citation authors not as up to date as on Arxiv"
https://scikit-learn.org/stable/about.html#citing-scikit-learn lists the JMLR paper to cite Scikit-learn.
https://arxiv.org/abs/1201.0490 is the same paper but updates the list of authors as at 2018 (but is incessantly out of date). Yet we don't ask anyone to cite it. Should we?

[2021-01-20 06:36] ashishpapanai commented on #19213
I would like to work on this @jnothman

[2021-01-20 08:09] alfaro96 commented on #19068
`pip` is installing `scikit-learn` from source.

Can you provide the output of the following command:

[code]

[2021-01-20 08:11] glemaitre commented on #19068
@alfaro96 was faster :). Indeed, we need to know about your platform to understand why no wheel was fetched for the install (a wheel will avoid recompiling scikit-learn and thus Cython is not required).

[2021-01-20 08:17] glemaitre commented on #19213
Or is there a way to have a V2 on JMLR?
ping @fabianp

[2021-01-20 08:30] glemaitre commented on #19212
@jnothman Would we expect an implicit conversion in `type_of_target` for this case:

[code]

Regarding the error message, it was raised still because of some manual conversion within the script. So I am not sure that we should worry too much or let say that it might be tricky to detect this case.

[2021-01-20 09:11] talhaanwarch commented on #19212
Yes, I need to convert both `y_pred`, and `y_test` to `int`

[2021-01-20 09:21] glemaitre commented on #19212
I am still letting the issue open until @jnothman response to know if we should make an implicit conversion.
In case that making this conversion is too complex, we might think about adding a note in the documentation to specifically mentioned that we expect `int` data type.

[2021-01-20 09:29] talhaanwarch commented on #19212
Thanks. Usually, sklearn metrics support strings based labels without throwing an error.
But in the above case, it throws
`ValueError: multiclass-multioutput is not supported`

[2021-01-20 09:33] glemaitre commented on #19212
This is true for all target types but the multilabel case (cf. https://scikit-learn.org/dev/modules/multiclass.html#id5) that needs explicitly 1/0 integer as indicators. Since this not the case, we detected it as a multioutput-multiclass that is then not supported by the metric (and any metric in scikit-learn indeed).

[2021-01-20 10:18] #18790 closed

[2021-01-20 10:26] venkyyuvy commented on #18943
Just curious,
can we apply the inverse transformation based on the class_weights before we fill the values in the visuals.

In case the weights are just ones, then there is no change. Otherwise it might bring back the values to original count instead of scaled version?

[2021-01-20 11:01] jackmitch opened #19215 "dtype mismatch in cross-compiled 32bit ARM build"
#### Describe the bug

A cross-compiled version of scikit-learn throws an error stating:

[code]

#### Steps/Code to Reproduce

[code]

#### Expected Results

No error is thrown.

#### Actual Results

[code]

[code]

#### Versions

[code]

[2021-01-20 11:05] jackmitch commented on #19215
The cross-compiled build is built using OpenEmbedded and using my public layer which can be found at:

https://github.com/tuxable-ltd/meta-scikit-learn

The issue tracking this bug with some extra instructions on how to build can be found at:

https://github.com/tuxable-ltd/meta-scikit-learn/issues/1

Some knowledge of the OE build system will be required to get a build going.

I have had a reply

[2021-01-20 11:07] fabianp commented on #19213
Unfortunately it's not possible to change author names in jmlr (we asked)

On Wed, Jan 20, 2021, 03:17 Guillaume Lemaitre <notifications@github.com>
wrote:

[2021-01-20 11:10] tibco-slolla commented on #19068
@glemaitre, @alfaro96: here you go.

[2021-01-20 11:21] haijijielov opened #19216 "TypeError: __init__() got an unexpected keyword argument 'positive'"
Hello,  my version is scikit-learn-0.24.1
#### Describe the bug

~/miniconda3/lib/python3.8/site-packages/sklearn/utils/validation.py in inner_f(*args, **kwargs)
     70             warnings.warn(f"Pass {args_msg} as keyword args. From version "
     71                           f"{version} passing these as positional arguments "
---> 72                           "will result in an error", FutureW

[2021-01-20 11:31] jackmitch commented on #19215
Another traceback which went a bit further

[code]

[2021-01-20 11:33] jackmitch commented on #19215
And another run, it looks like pointer corruption which is why failing at different points, but hopefully there may be some information which links them all together.

[code]

[2021-01-20 12:09] alfaro96 commented on #19216
Hi @haijijielov,

I am not able to reproduce on `master` nor `0.24.1`. I think that reinstalling `scikit-learn` will fix the problem!

[2021-01-20 13:08] hellenesherman commented on #16470
Same here - making it more flexible to create custom plots and metrics to supplement ROC and Precision-Recall.

[2021-01-20 13:12] haijijielov commented on #19216
Thanks alfaro96, I have tried to reinstall scikit-learn, it doesn't work, may I know your version of scikit-learn to run the following codes without bugs?
'''
from sklearn.linear_model import LinearRegression
reg_nnls = LinearRegression(positive=True)

'''

[2021-01-20 13:43] glemaitre commented on #19213
Thanks @fabianp for the quick answer. So it might not be bad to refer to the most up-to-date version.

[2021-01-20 14:11] glemaitre commented on #19216
The same as @alfaro96

[2021-01-20 15:15] thomasjpfan commented on #17595
I think we go ahead and click the button to rename. Then we would have to update all the docs to use `main`.

Moving forward, we most likely need to leave `master` redirecting to `main` for quite some time. (CI, published material, etc.)

[2021-01-20 15:19] rth commented on #17595
+1

[2021-01-20 15:29] adrinjalali commented on #17595
I can start the process on Friday if there are no objections by then :)

[2021-01-20 15:46] GaelVaroquaux commented on #17595
Fine with me. Thanks!

[2021-01-20 17:35] #19160 closed

[2021-01-20 17:38] lorentzenchr commented on #17595
+1

[2021-01-20 21:28] jnothman commented on #19212
I don't think implicit conversion of strings to ints should ever happen...
Though I'm sure there are exceptions!

[2021-01-21 07:18] REKHAGS15 commented on #16729
y_train = train['Gender_num']
x_train = train[['Diabetes_Mellitus','Type_2_Diabetes_Mellitus', 'Hypertension', 'Systemic_Hypertension', 'Symptoms','Fever','Cough_num','Difficulty_In_Breathing']]
x_train = pd.get_dummies(x_train,columns=cat_feats,drop_first=True)

y_test = test['Gender_num']
x_test = test[['Diabetes_Mellitus','Type_2_Diabetes_Mellitus', 'Hypertension', 'Systemic_Hypertension', 'Sym

[2021-01-21 08:39] ogrisel opened #19224 "check_decision_proba_consistency fails with LinearDiscriminantAnalysis"
The following common check recently started to fail on a Windows CI job:

[code]

This happened on this PR which should not have any impact on the behavior `LinearDiscriminantAnalysis.predict_proba`: #17743.

https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=25474&view=logs&j=d32b16b6-cb9d-571b-e765-de83708fb8dd&t=b93f76c1-c2c9-579e-c2ec-c4f438af1261

I suspect the test to be

[2021-01-21 08:46] glemaitre commented on #16729
I would advise to not comment on a closed issue. Since this is a usage related issue, please open a question on GitHub Discussion: https://github.com/scikit-learn/scikit-learn/discussions

There you need to provide a piece of code that people can execute to help you out. Here, since we don't have the data we can check the value of `x_train` the `x_train.dtypes` that seems to be the issue.

[2021-01-21 08:55] glemaitre commented on #19012
@jnothman When I thought about the nested dict, I was thinking that "Actual label" and `Predicted label` would the outer index that could be used to create the dataframe. In this case, you should not have ambiguity, isn't it?

[2021-01-21 09:04] touqir14 commented on #14437
I have looked at the C++ code. Most of it can be ported to python using numpy and scipy operations without losing performance (upto what the BLAS drivers offer). Couple of places can use Cython for speedups. If this issue is still relevant and no one is working on it, I am willing to port into python. Let me know.

[2021-01-21 09:30] ogrisel commented on #19215
For reference, `np.longlong` is platform defined so we should probably never use it in scikit-learn. Same for `np.int_`, `np.int` and co:

https://numpy.org/doc/stable/user/basics.types.html#array-types-and-conversions-between-types

[2021-01-21 09:44] jackjansen commented on #19068
The problem has also re-appeared for me (OP).

As I see this happening in a CI/CD I can tell you that everything worked a week ago and does not work now.

The culprit seems to be the release of 0.24.1: my carefully crafted `requirements.txt` has `scikit-learn!=0.24.0,>=0.23`, which used to resolve to 0.23.2 but now resolves to 0.24.1.

Python 3.6 on Ubuntu 18.04.

[2021-01-21 10:20] NicolasHug commented on #19216
@haijijielov  you need to install the latest version (>= 0.24)

[2021-01-21 10:20] #19216 closed

[2021-01-21 10:22] ogrisel commented on #19215
I tried to reproduce on a docker container with this image https://hub.docker.com/r/arm32v7/ubuntu/ and I cannot reproduce (although this is running scikit-learn 0.22.2 which is rather old).

I suspect that the problem comes from the cross-compilation configuration. It could be the case that the Cython type `np.npy_intp` in line 25 of `sklearn/cluster/_dbscan_inner.pyx`:

[code]

is equivalent to

[2021-01-21 10:29] ogrisel commented on #19215
@jackmitch did you use https://github.com/benfogle/crossenv in your build configuration? Maybe that could help resolve the Cython configuration problem diagnose above.

I know that conda-forge is using this tool to successfull cross-compile the scipy stack (scikit-learn included) to target `macos/arm64` from a `macos/x86_64` build env. However in this case, `np.intp` is equivalent to `np.int64` bo

[2021-01-21 10:47] jackmitch commented on #19215
Hi @ogrisel, I believe you have hit the nail on the head there, thank you for pointing out the particular point where the build/runtime conversion is causing an issue. Sadly within the OE build system that I'm using, getting crossenv up and running would be a large job and I imagine would cause further issues down the line as it would circumvent a lot of the tooling already setup for cross-compili

[2021-01-21 10:52] jackmitch commented on #19215
In fact, something I was looking at the other day could be the root cause, in the setup files we have this call,

[code]

Which as at the time of compilation will be calling into the host x86_64 version of numpy which would surely give the hosts include path. Rather we would need to be giving the cross-compile ARM sysroot path, so possibly there is a way to work around this?

[2021-01-21 11:19] cmarmo commented on #17423
Hi @billyept, scikit-learn wrappers are definitely deprecated in tensorflow (see [comment in tensorflow#37201](https://github.com/tensorflow/tensorflow/pull/37201#issuecomment-669996101)).
Your code could be modified as
[code]
I'm closing this issue with a big thanks to @adriangb for his work on scikeras.... shall scikeras be added to the related project page in the scikit-learn documentation?

[2021-01-21 11:19] #17423 closed

[2021-01-21 13:18] cmarmo commented on #15722
Hi @mcarbajo, [tensorflow/tensorflow/#41341](https://github.com/tensorflow/tensorflow/pull/41341) has been merged. Also scikit-learn wrappers are now deprecated in tensorflow (see comment in [tensorflow#37201](https://github.com/tensorflow/tensorflow/pull/37201#issuecomment-669996101)). Your code could be modified to use [scikeras](https://github.com/adriangb/scikeras).
[code]
I'm closing this iss

[2021-01-21 13:18] #15722 closed

[2021-01-21 13:35] cmarmo commented on #13223
I believe the issue has been solved here: the parameter `scoring` should be added when calling `GridSearchCV`. I'm closing the issue.

[2021-01-21 13:35] #13223 closed

[2021-01-21 13:58] cmarmo commented on #12129
@LarsDu the scikit-learn wrappers are definitely deprecated in tensorflow (see comment in [tensorflow#37201](https://github.com/tensorflow/tensorflow/pull/37201#issuecomment-669996101)). I'm closing this issue. Feel free to reopen if you experiments similar issues with [scikeras](https://github.com/adriangb/scikeras).

[2021-01-21 13:58] #12129 closed

[2021-01-21 14:08] ogrisel commented on #19063
This was fixed with the 0.24.1 release a few days ago.

[2021-01-21 14:08] #19063 closed

[2021-01-21 14:36] jjerphan commented on #18837
Hi @LuiGiovanni 👋
If you are still willing to work on this, the `gaussian_process` module and `kernel_approximation.py` need inspection. You can open a dedicated PR for those modules as done previously for other modules (for instance #18845).

[2021-01-21 14:48] joshuacwnewton commented on #19063
Huzzah! Our [10.13 CI](https://travis-ci.com/github/neuropoly/spinalcordtoolbox/jobs/473624523) now passes again. Thank you very much for addressing this, @ogrisel. :smile:

[2021-01-21 15:47] Asami-1 commented on #17171
@TomDLT  Hi, could you take a look at this if you have time please ? Thanks

[2021-01-21 16:02] glemaitre opened #19228 "OrdinalEncoder does not check the input of handle_unknown"
During a lecture today, the following was working:

[code]

[code]

However, `handle_unknown` should be one of the following strategy: `{‘error’, ‘use_encoded_value’}`.
Thus, we should probably raise an error because the strategy is not definend.

[2021-01-21 16:07] arthurlogilab opened #19229 "OrdinalEncoder(handle_unknown="ignore") doesn't fail"
#### Describe the bug

While following the https://inria.github.io/scikit-learn-mooc/python_scripts/03_categorical_pipeline_ex_01.html exercice I executed the following code :

[code]

It works correctly and returns `The accuracy is: 0.755 +/- 0.002`.

And was told that `OrdinalEncoder` should not work with that parameter, and that it should fail.

#### Steps/Code to Reproduce

Use https://github.

[2021-01-21 16:11] jeremiedbb commented on #19229
Thanks @arthurlogilab but this issue has already been opened 2 mins earlier :) (see #19228)

[2021-01-21 16:11] #19229 closed

[2021-01-21 16:43] kevinsmia1939 opened #19230 "[openSUSE TUmbleweed] Test failed, test_convergence_dtype_consistency, AssertionError: Not equal to tolerance rtol=0.001, atol=0"
Hello
I tried to build scikit-learn 0.24.1 on openSUSE Tumbleweed on i586 architecture.
One test failed, could it be due to limitation of 32 bit?

Here are the deps installed
[code]

[code]

Full log here: https://build.opensuse.org/build/home:andythe_great:branches:devel:languages:python:numeric/openSUSE_Tumbleweed/i586/python-scikit-learn/_log

Thank you.

[2021-01-21 18:07] glemaitre commented on #19230
Yep this looks like a precision error. We could maybe increase the tolerance.

[2021-01-21 18:24] bouthilx opened #19233 "Missing wheels for readthedocs environment"
#### Describe the bug

Since the release of 0.24 readthedocs crashes during the installation of scikit-learn. Prior to 0.24, it would simply install scikit-learn using the available wheel `scikit_learn-0.23.2-cp37-cp37m-manylinux1_x86_64.whl`. There are no wheels for `manylinux1` since 0.24, only `manylinux2010`. I guess that is why readthedocs fails to find a compatible wheel and try installing f

[2021-01-21 18:27] thomasjpfan commented on #19230
For comparisons between 32bit and 64bit, is `rtol` the correct solution? I am starting to think we should set `atol=np.finfo(np.float32).resolution`.

[2021-01-21 18:57] #18996 closed

[2021-01-21 21:01] TomDLT commented on #17171
Hi Asami, thanks a lot for your pull-request, it is much appreciated. I will take a look at it when I have time.
Note that reviewing take quite some time, especially on documentation, which needs to be correct, clear, and concise.

[2021-01-21 22:03] vnmabus commented on #19171
I think you should look at #15287. It seems that the implementation currently does not support "ward" for precomputed distance matrices but the maintainers are open to review a PR fixing that, if someone is able to provide one.

[2021-01-21 22:17] jjerphan commented on #18837
You can also work on #18855.

[2021-01-22 01:42] jnothman commented on #19171
Closing as duplicate

[2021-01-22 01:42] #19171 closed

[2021-01-22 08:56] glemaitre commented on #19233
This seems to be right. We got a similar report on the mailing list where it was not clear why `pip` did not fetch the wheel.

I assume that we can upload the `manylinux1` wheels to resolve the issue. We might even think to add the wheels for 0.24.0 if it would avoid some issues.

One thing that I don't understand is why the `manylinux2010`. It is on my system that is a standard Ubuntu system with

[2021-01-22 09:05] glemaitre commented on #19233
Just to clarify, it seems that the fetching of scikit-learn 0.24.1 is working in your latest build: https://readthedocs.org/projects/orion/builds/12821283/

[code]

[2021-01-22 09:14] glemaitre commented on #19233
Looking at the date of your build and the date of the upload, it was the same day. If it was bad luck, we could have uploaded the `tar.gz` file and the wheel for your system was not yet uploaded. It triggered the installation from the source then.

[2021-01-22 09:20] Chroxvi commented on #18875
@cmarmo Thanks reminding me of this issue. I believe it has been solved. I'll close the issue.

[2021-01-22 09:20] #18875 closed

[2021-01-22 09:27] cmarmo commented on #18875
Thanks for checking @Chroxvi !

[2021-01-22 09:58] #19228 closed

[2021-01-22 11:59] jackmitch commented on #19215
I've managed to get this building properly by hacking out the np.get_include to use an environment variable and setting the nyp-pkg-config env variable to one pointing at a cross-compile sysroot compatible one. I've opened an issue over at numpy to see what they think.

https://github.com/numpy/numpy/issues/18209

[2021-01-22 13:11] cmarmo opened #19241 "Pass predict_params to regressor in TransformedTargetRegressor"
#### Describe the workflow you want to enable
As per comment in #14890, add a `**predict_params` argument to TransformedTargetRegressor.
Was tackled by #14992 (branch deleted by the user).

[2021-01-22 14:11] bouthilx commented on #19233
Thanks for the quick response! The build has been consistently failing for more than a month so it was not bad luck. I fixed the issue on my side yesterday by changing the configuration of readthedocs so that it installs with pip: https://github.com/Epistimio/orion/pull/542. That is why it is passing now.

In any case I'm sure adding the manylinux1 wheels will solve the issue for many others, so I

[2021-01-22 14:16] glemaitre commented on #19233
OK so there is still something really fishy, because even with pip 20.3.3 in your build (https://readthedocs.org/projects/orion/builds/12803515/), `pip` does not fetch `manylinux2010`. Locally, I cannot reproduce and my pip is indeed fetching the wheel.

However, I see that installed the source file as well from `psutil`.

[2021-01-22 14:18] glemaitre commented on #19233
Uhm is it using `pip` or `easy-intall`

[2021-01-22 15:20] thomasjpfan commented on #17595
The `master` branch completely disappeared. Should we have a `master` branch that stays in sync in `main`?

[2021-01-22 15:26] rth commented on #17595
I haven't closely followed this subject but I imagine not. Having both would create confusion and likely break redirects that are enabled with that button.

[2021-01-22 17:07] bouthilx commented on #19233
Last build of master still fails (without the fix): https://readthedocs.org/projects/orion/builds/12828940/. But develop (with the fix) is passing: https://readthedocs.org/projects/orion/builds/12821283/

In the documentation of readthedocs they explain how to configure it to install with pip but they don't tell what is used otherwise. Maybe it is easy_install indeed.

[2021-01-22 18:06] #9081 closed

[2021-01-22 18:38] thomasjpfan opened #19246 "Should `tol=None` be removed from HistGradientBoosting*?"
`tol=None` is the same as `tol=0.0`

[2021-01-22 20:37] yuanx749 opened #19247 "Normalized random matrix of Gaussian random projection?"
The current implementation of `GaussianRandomProjection` is to project the data on the components of random matrix generated by normal distribution. I wonder does it make more sense if the random matrix is further normalized by row, so that each component is unit vector?

EDIT: The projections is done as `X@components_.T`, where `components_` is drawn from normal distribution. I was thinking about

[2021-01-22 20:48] kno10 commented on #13696
The BIRCH implementation in sklearn is *very* incomplete.
I cannot spot any of the "radius" (well, there is a function, but its not used), "diameter" criteria for merging, I cannot see any of the other distances (intra-cluster variance etc.). There is no memory limit, and the threshold is never increased when exceeding the desired tree size; instead the threshold needs to be set by the user and wh

[2021-01-22 20:52] kno10 opened #19248 "Birch should be called BIRCH"
C.f. the original paper.
Zhang, T.; Ramakrishnan, R.; Livny, M. (1996). "BIRCH: an efficient data clustering method for very large databases". Proceedings of the 1996 ACM SIGMOD international conference on Management of data - SIGMOD '96. pp. 103–114. doi:10.1145/233269.233324

[2021-01-22 21:13] ryuwd commented on #18934
Hi @glemaitre,

My apologies for taking so long to reply on this issue.

I have been thinking for a while now how best to treat the negative weights in my particular problem and I have started modifying the loss functions in models that I am using to support my particular problem (rather than using `sample_weight`) to avoid some the negative `sample_weight` issue altogether. I have seen similar or

[2021-01-22 21:32] ryuwd commented on #18934
As far as I can tell from libraries such as ROOT TMVA it seems that the negative weighted events are added with a warning, and then the user needs to pray that something doesn't break in the training.

I don't have any literature to hand, but I think the discussion here https://github.com/scikit-learn/scikit-learn/issues/3774#issuecomment-95693810 explains well that cases do exist where the algori

[2021-01-22 21:37] glemaitre commented on #19248
It is true that we did it for dbscan and optics for instance. So we should probably deprecate.

[2021-01-22 22:18] amueller commented on #17595
I'm +1 on the overall issue but want to note that links to the source broke (which is how I noticed). After going up a couple of levels I found that master didn't exist any more.
Probably not much we can do, I agree that having two branches is likely to be confusing.

[2021-01-22 22:40] sapientderek opened #19250 "train_test_split stratify with a pandas Int32 dtype causes error"
#### Describe the bug

It appears since 0.23.0 using multiple columns in train_test_split's stratify option results in an error if one column is the pandas nullable int `Int32Dtype()` type. Error does not occur in 0.22.2.post1

#### Steps/Code to Reproduce

The following code will work in 0.22.2.post1 but will give an error in 0.23.0 or later (including 0.24.1). If only column `a` or `c` is chosen

[2021-01-22 22:46] sapientderek commented on #19250
I believe this is related to https://github.com/scikit-learn/scikit-learn/pull/16728 which is referred to in the 0.23.0 release notes and related to the pandas nullable Int type

[2021-01-23 10:02] GLevV opened #19255 "New strategies for KBinsDiscretizer"
New non-parametric strategies could be added to KBD. Like geometric, winsorized, combined (Uniform+Quantiles, Geometric+Uniform, Geometric+Quantiles).
Winsorized binning uses interpercentile range (in my examples I used p95-p05) instead of peak-to-peak (max - min) like in Uniform. It allows algorithm to ignore outliers and save the form of distribution of the most of the mass of data.
Geometric bi

[2021-01-23 10:04] GLevV opened #19256 "Change KMeans algorithm for KBinsDiscretizer from 'elkan' (default) to 'full'"
In KBinsDiscretizer KMeans is used with default parameters (eps=1e-4, algorithm='elkan').

https://github.com/scikit-learn/scikit-learn/blob/8c6a045e46abe94e43a971d4f8042728addfd6a7/sklearn/preprocessing/_discretization.py#L208

But 'full' algotithm works better. Here are timings from two different stations. I also checked two different eps values since discretization does not need high precision

[2021-01-23 11:51] jnothman commented on #19255
I think this might need a bit more justification, choosing a method or two
that are empirically complementary and beneficial in a machine learning
context on top of what's there.

[2021-01-23 12:19] jnothman commented on #19248
Is it really worth the inconvenience to users of deprecating??

[2021-01-23 13:25] lorentzenchr commented on #19255
@GLevV Those are interesting binning strategies and they have, for sure, their places. I don't see nor expect a big advantage for decision tree based models. For linear models, I expect more potential from the soon to be merged `SplineTransformer` https://github.com/scikit-learn/scikit-learn/pull/18368.

[2021-01-23 14:02] adrinjalali commented on #17595
Was that in the context of our docs @amueller ? Cause it seems source links such as `https://github.com/scikit-learn/scikit-learn/blob/master/benchmarks/bench_feature_expansions.py#L17` are properly forwarding to the right address.

[2021-01-23 14:13] adrinjalali opened #19257 "Main repository's default branch is renamed"
We have renamed the default branch to `main`, and this may cause confusion to some users or contributors who have forked and cloned the repo before the change.

If you have any script which fetches scikit-learn from github, you should change any reference to `master` to `main`.

If you go to your fork on `https://github.com/USERNAME/scikit-learn`, github will show you a notification on how to rena

[2021-01-23 14:44] GLevV commented on #19255
I guess I just dumped a lot of info with a little clarity.

I think the most interesting is geometric, here's why:
1. Different bin size and different number of samples in each bin, which is a different approach than Uniform or Quantiles methods;
2. Fast to compute and easy to implement;
3. While Uniform strategy saves the form of distribution and Quantile always change it to uniform, Geometric st

[2021-01-23 15:00] lachhebo commented on #13696
If possible, i would like to make a pull-request to correct the scikit-learn BIRCH Implementation.

[2021-01-23 15:04] kno10 opened #19258 "sklearn Birch memory usage is over 3x higher than original BIRCH (+ Python overheads)"
The original BIRCH algorithm defined clustering features as CF=(N,LS,SS) where N is an integer, LS is a vector ("linear sum") and SS is a scalar value (sum of squared values). Assuming double precision, a clustering feature for d dimensional data should hence use 4+8*d+8 bytes.
Memory efficiency is the key motivation of BIRCH.

The sklearn implementation will require WAY more memory, and its not j

[2021-01-23 15:12] kno10 commented on #13696
Please see #19252 #19258 #19253 for some differences to BIRCH and issues with the current poor implementation.

[2021-01-23 16:13] NicolasHug commented on #19246
The semantics of `tol=None` are non-ambiguous IMHO so no probably not worth bothering about a deprecation, but no strong opinion.

[2021-01-23 16:34] lorentzenchr commented on #19255
I'm curious to know more about concrete/real-life use cases with(in) scikit-learn in order to evaluate the possible added value.

[2021-01-23 19:34] myilmazhaubtech opened #19259 "RandomizedsearchCV() with n_jobs=-1 causing errors"
Hello I was training my classifier using XGBoost with the following code on GCP and eventually I built my own server and now I am having difficulty. On GCP I used to see the message 'backend: using loky backend ...' but not on my own server which makes me think if this code is really taking advantage of parallelism. The server I built is far superior to what I was using on GCP. Below is some infor

[2021-01-23 22:24] thomasjpfan commented on #19246
We would not need to deprecated since `HistGradient*` is still "experimental".

I'm a +0.4 on removing it, to be consistent with the rest of the library. I do not think we normally have `None == 0.0`.

[2021-01-23 23:40] jnothman commented on #19246
Let's do it.

[2021-01-24 03:26] readyready15728 commented on #17595
I find this change rather confusing. In the context of the default branch, "master" referred only to "master copy", rather than any sort of "master / slave" relationship. Even if the latter case applied it would be perhaps somewhat unpleasant language, but no more than this. I'm not sure how many people interpret terms like "kill" and "terminate" regarding processes running on a computer as someho

[2021-01-24 06:46] jnothman commented on #17595
Thanks for your input @readyready15728 <https://github.com/readyready15728>.
Which "we" are you referring to? I can't identify your prior involvement in
the Scientific Python developer community. Welcome!

As a descendant of Holocaust survivors, I am certainly sensitive to the
situation in Xinjiang, and it is frustrating how much we don't know, and
how little is being done about it. But "that have

[2021-01-24 09:06] glemaitre commented on #19256
Default of `KMeans` is `'auto'. I think that we are still searching for a good heuristic to switch from one algorithm to another (ping @jeremiedbb).

Since that selecting `'kmeans'` in the `KBinsDiscretizer` does not allow to change the default, I would think that being able to pass an estimator to the strategy would be best.

[2021-01-24 09:11] glemaitre commented on #19255
Instead of programming new strategies, could we allow to pass an arbitrary strategy as a callable?

[2021-01-24 09:53] #17027 closed

[2021-01-24 10:39] GLevV commented on #19256
That's true, but according to the docs

So default parameters are algorithm='elkan' and eps=1e-4.
As for the estimator it could be tricky in this particular situation, since 'kmeans' method is not just fitting KMeans, it also relies on Uniform initialization, checks for small bin width etc.

I guess another solution would be changing behavior of 'auto' method to prioritize 'full' when input array

[2021-01-24 10:48] glemaitre commented on #19256
I wanted to enquiry @jeremiedbb to know if we actually have a potential heuristic that will land. In this way, we would not change the default in `KBinsDiscretizer`.

The idea is only to replace the initialization step with the provided `KMeans` and let the subsequent processing untouched.

[2021-01-24 10:49] glemaitre commented on #19256
This would be part of the heuristic :)

[2021-01-24 11:26] odedbd commented on #8710
@ftrojan - I ran into a similar issue with my own code, which uses CountVectorizer as part of a pipeline to classify text data. Adding the CalibratedClassiferCV as part of a pipeline fit with GridSearchCV (not using cv='prefit'), my code gets an error due to data validation in CalibratedClassfierCV (self._validate_data). I verified that commenting out the data validation removes the error.

I cann

[2021-01-24 11:30] #18974 closed

[2021-01-24 12:50] jeremiedbb commented on #19256
We can just call KMeans with `algorithm="full"` in KBinsDiscretizer. It does not surprise me that in 1d full is always faster and the benchmarks are convincing.

[2021-01-24 13:15] cmarmo commented on #17595
Dear all, I believe this is no longer an issue, as the modification has been done. I'm closing this one.
If technical issues will arise linked to the renaming, please open a new one. Thanks!

[2021-01-24 13:15] #17595 closed

[2021-01-24 16:59] readyready15728 commented on #17595
The agenda in question is the one that the people pushing "main" instead of "master" allegedly wanted to advance: opposing anything to do with slavery. They can do this by opposing actual slave labor, and worse. With or without crematoria, there is utterly no doubt that China is running concentration camps and employing actual slave labor in them and we know this because various American mega-corp

[2021-01-24 18:29] aerodynamic-saucepan commented on #12952
Hello, I'm new to contributing and found this easy tagged issue of which the last pull request was marked as 'stalled' for a while. I took the liberty of following @cmarmo 's advice and created my own PR (#19262) based on the unfinished PR (#13033) of which I addressed all but one comment.

Because the unfinished PR (#13033) triggered some CI checks fails regarding merge conflicts with files unrel

[2021-01-25 04:58] venkyyuvy commented on #18943
ping @jnothman

[2021-01-25 07:47] cmarmo commented on #12952
Hi @aerodynamic-saucepan , thanks for following up on #13033. If conflicts were too hard to solve it is ok to start a brand new pull request. As you used previous code, please, do not forget to cite the author of the previous PR in the Changelog when you add the new entry. Thanks!

[2021-01-25 09:19] #19233 closed

[2021-01-25 09:26] alfaro96 commented on #19068
The issue may be resolved by #19235.

[2021-01-25 10:03] glemaitre commented on #19068
An additional note: using `pip>=19.3` should allow fetching the `manylinux2010` wheel. We are going to upload the `manylinux1` wheels but you could check on your side which version of `pip` do you work with.

[2021-01-25 10:48] thomassajot opened #19269 "sklearn.datasets.load_files select file extension"
#### Describe the workflow you want to enable
When using load_files in a directory where there are different kinds of files (.txt, .png, ...), the user might want to load only certain files (*.txt for example). This feature would put load_files closer to the function `index_directory` from tensorflow.python.keras.preprocessing.dataset_utils.py.

For MacOs users, .DStore files also gets loaded whic

[2021-01-25 12:22] drordotan opened #19270 "Bug in SVM._ovr_decision_function"
Dear scikit learn developpers,

We think we have found a bug in _ovr_decision_function (in svm/base.py), handling the case of multi-class classification.

This function sums the votes of each class against all others, and then - to break ties - adds the normalized confidence to the sum of votes.

However, if we got it right, the sum of votes should be normalized to be centered on 0 before returnin

[2021-01-25 14:10] philippotto opened #19272 "Deadlock when fitting a gaussian mixture within a multiprocessing pool"
#### Describe the bug
When fitting a `mixture.GaussianMixture` within a ProcessPool context, a deadlock occurs.

#### Steps/Code to Reproduce
This code used to work with scikit-learn `0.21.3`, but now crashes with `0.24.1`.

[code]

#### Expected Results
The process should terminate without an error instead of halting indefinitely.

#### Actual Results
A deadlock appears and no output is shown. Di

[2021-01-25 15:56] #19111 closed

[2021-01-25 21:43] david-cortes opened #19275 "IsolationForest extremely slow with large number of columns having discrete values"
The following example takes an unreasonable amount of time to run:
[code]

In theory it should be very fast, since each sub-sample it takes is a small sparse matrix in which most columns will have only zeros.

Using `n_jobs>1` also makes it use a very unreasonable amount of memory for some reason.

If the input is passed as dense, the running time still looks worse than it should. I guess the issu

[2021-01-26 10:28] odedbd commented on #8710
Also, while the fit works, running prediction fails, due to a similar check in predict_proba. Removing the check does not work for this use case, because the code of predict_proba assumes that X has a .shape property, which obviously fails for this list of dicts. For my own use case I was able to hack my way around this, by overloading predict_proba, since my X input is a pandas DataFrame which fo

[2021-01-26 11:08] lorentzenchr opened #19280 "Document link function in PoissonRegressor and GammaRegressor"
#### Describe the issue linked to the documentation
The link function used in `PoissonRegressor` and `GammaRegressor` is not documented in the docstrings. They both use the log-link.

[2021-01-26 12:00] GLevV commented on #9337
Agreed.

I can make the changes, it's actually a very small fix.

[2021-01-26 12:35] cmarmo commented on #19259
Hi @myilmazhaubtech , thanks for reaching out. Please add a minimal reproducible snippet of code that people can just copy and paste to reproduce your issue. Thanks!

[2021-01-26 12:59] cmarmo commented on #19250
Hi @sapientderek thank you for noticing. Indeed, the error is reproducible starting from 0.23 and is present in the latest development version.

[2021-01-26 14:28] ldulude-cmb opened #19281 "XGBRegressor returning NaN for feature importances"
Running an XGBRegressor model and asking for feature importances, and I'm getting all NaNs as a result. The data I'm using is proprietary, so I can't post it, but I can't see anything different about it vs. other datasets I've used. The variables involved all range from 0 to 10, and there are 7 features. The model has an R2 value of about 0.45, and looking at the correlations and charts of each fe

[2021-01-26 14:45] ogrisel commented on #19281
I think this issue should be reported on the xgboost repo:

https://github.com/dmlc/xgboost

[2021-01-26 14:45] #19281 closed

[2021-01-26 16:24] jeremiedbb commented on #19256
@GLevV would you like to submit a PR ?

[2021-01-26 16:45] GLevV commented on #19256
@jeremiedbb yes, of course

[2021-01-26 16:52] myilmazhaubtech commented on #19259
[Datayouneed.zip](https://github.com/scikit-learn/scikit-learn/files/5874740/Datayouneed.zip)

Here are the .csv files you need in order to replicate the issue.

[2021-01-26 17:34] #18984 closed

[2021-01-26 17:47] ogrisel commented on #19255
You peaked my interest. Could you give more details?

This behavior could probably be approximated with `make_pipeline(PowerTransformer(), KBinsDiscretizer(strategy="uniform"))` for a parametric case, or `make_pipeline(QuantileTransformer(output_distribution='normal'), KBinsDiscretizer(strategy="uniform"))` for a non-parametric variant (although the later would break multi modality while the forme

[2021-01-26 19:23] blthayer opened #19283 "Lasso error when precompute='auto'"
#### Describe the bug
The [docs state](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Lasso.html#sklearn.linear_model.Lasso) that the `precompute` parameter can be "`‘auto’, bool or array-like of shape (n_features, n_features)`." However, attempting to use `precompute='auto'` leads to a `ValueError`.

#### Steps/Code to Reproduce

[code]

#### Expected Results
No error, sho

[2021-01-26 20:30] CheriseCodes commented on #19280
In the documentation of `GeneralizedLinearRegressor` which `PoissonRegressor` and `GammaRegressor` inherit, it is stated that log-link must be used for `PoissonRegressor` and `GammaRegressor`. Wouldn't allowing the user to change this linking behaviour cause bugs? Or are you recommending that we warn users that they can't change the link behaviour?

[2021-01-26 21:35] lorentzenchr commented on #19280
`GeneralizedLinearRegressor` is private and not part of the public api.
I propose to mention in the docstrings of `PoissonRegressor` and `GammaRegressor` that the log-link is used (no option to change that). That's all.

[2021-01-26 23:31] MichalRIcar commented on #18138
Hello,

can you share the solution, pls? As from sklearn > 0.22.1 I have the same issue with many random datasets which never produced such errors before.

Oddly enough, if I add a simple loop e.g.:
    try:
        x_pca = pca.fit_transform(PCA_data)
    except:
        x_pca = pca.fit_transform(PCA_data)

then with the second run it ALWAYS passes without error...

As I saw people discussing this

[2021-01-27 03:58] thefirebanks commented on #10487
Hello!

I am using `RandomForestClassifier` for text classification. However, the classifier may be given as a parameter `sklearn_clf` to a function that may use this classifier or another one, and it has the following statement:

[code]
When testing if `sklearn_clf` exists, it checks for the length and I get the error noted in the issue:
[code]
However, I don't get that error when I try a classif

[2021-01-27 07:44] lesteve commented on #10487
Thanks for your comment! If I understand you correctly, using `if sklearn_clf is None` in your code is probably the way to go.

You are right that there is some inconsistency in the truthiness of scikit-learn estimators, i.e. `if sklearn_clf` does not have the same behaviour depending on the class of `sklearn_clf`. This seems a rather small quirk to me and it is easy to fix in the user code. That

[2021-01-27 08:22] thefirebanks commented on #10487
Totally understand and agree, just wanted to bring it up in case someone else finds the error. I went with `if sklearn_clf is None` and it was solved! Thank you.

[2021-01-27 08:23] GLevV commented on #19255
@ogrisel
About usage in GIS: [1](https://www.slideshare.net/johnjreiser/classification-systems), [2](http://wiki.gis.com/wiki/index.php/Geometric_Interval_Classification). ESRI called this algorithm "Smart Quantiles", but they also doing additional optimizations on top of it, I propose "vanilla" method, described in presentation in the first link.

It won't be replicated with PowerTransformer. By

[2021-01-27 08:59] ogrisel commented on #19255
Thanks for you pushing your experiments further. Would you mind sharing the code you used to produce those plots in as a python script of a notebook on gist.github.com or similar so that people reaching this discussion via googling can try this strategy. Maybe there exist some dataset / model class combination where geometric binning is actually needed and the best way to know is to wait for peopl

[2021-01-27 09:48] ogrisel commented on #19275
Here is an edited version of your reproducer to get more precise measurements:

[code]

I can then use [memory_profiler](https://pypi.org/project/memory-profiler/) to monitory memory usage over time. Here is what I observe:

### n_jobs = 1

[code]

![isoforest_rcv1_csc_n_jobs_1](https://user-images.githubusercontent.com/89061/105971909-5522d980-608b-11eb-99a3-a487d7a8d398.png)

### n_jobs = 4

[co

[2021-01-27 09:51] ogrisel commented on #19275
Actually my analysis above is probably wrong: `bootstrap` is `False` by default for Isolation Forests (contrary to RF). So there is indeed something fish going on. This deserves further investigation.

[2021-01-27 10:03] ogrisel commented on #19275
Hum I just noticed the `max_samples=256`: indeed each tree should be trained on a very small subsample of the dataset so the memory usage seems far to high for this value, especially in parallel mode. Using memory_profiler with the line by line report could help identify what's going on.

BTW, since there is row-wise resampling, converting the original data to CSC is probably useless and even coun

[2021-01-27 10:52] jeremiedbb commented on #19272
Hi @philippotto, this is a somewhat expected (yet undesired) behavior. In 0.23 KMeans was reworked and now uses OpenMP based multithreading. It's known that deadlock can occur when using OpenMP and multiprocessing. More specifically when using 'fork' as the start method for multiprocessing.

You need to change the start method for the processes:
[code]

Another solution would be to use joblib whic

[2021-01-27 11:04] ogrisel commented on #19275
I am not so sure about that either. Will need line by line profiling to understand what's happening.

[2021-01-27 11:23] ogrisel commented on #19256
Indeed, in 0.23 we merged a big refactoring to improve the speed and memory usage of K-means for both solvers but this benefits the "full" solver even more than the Elkan solver in practice.

I think I would rather stay conservative on this one. No strong opinion though.

[2021-01-27 11:39] MichalRIcar opened #19285 "PCA inner function collision with matplotlib.pyplot"
Hello,

#### Describe the bug
sklearn.decomposition.PCA
has an inner function collision with matplotlib.pyplot as code with data shows below

#### Steps/Code to Reproduce

[code]

[DATA.zip](https://github.com/scikit-learn/scikit-learn/files/5879822/DATA.zip)

[code]

#### Expected Results
FIRST TIME FULL CODE PASSES (in general odd run), SECOND TIME RUN (in general even run):

#### Actual Results

[2021-01-27 12:15] NicolasHug commented on #19285
There's probably something fishy going on in `display`, which you haven't defined above.

[2021-01-27 12:34] MichalRIcar commented on #19285
@NicolasHug pls ignore the display(x_pca) that just print of PCA result..I edited the above code

[2021-01-27 12:42] philippotto commented on #19272
Thank you for the explanation and details on how to work around this. Using `spawn` or `forkserver` worked indeed for me :+1: Feel free to close the issue.

[2021-01-27 12:42] NicolasHug commented on #19285
I can't reproduce your error @MichalRIcar .
The code runs just fine no matter how many times it is executed.

Given the error message it is likely that you are somehow modifying `DATA` at some point.

I will close the issue until we can get an actual reproducible example.

[2021-01-27 13:06] #19272 closed

[2021-01-27 13:40] GLevV commented on #19255
To properly test all this methods (via `pipeline`) I basically had to copy the whole _discretization.py file to ipython notebook and add those strategies to class manually. I don't think it is a good idea to share it.

As for adding custom callable option - it is nice, but will require a lot of changes in KBD (as I understand) and additional docs explaining how this custom function should be writt

[2021-01-27 14:48] NicolasHug commented on #19285
I tried your code replacing `read_csv` by `np.random.randn(100, 10)` and it worked fine.

Can you make sure that DATA is the same before and after the first execution?

[2021-01-27 14:55] MichalRIcar commented on #19285
Just checked and data are same before and after run.

Tried the same strategy and changed DATA to np.random.randn(100, 10). Behavior is same, every even run it crashes, however reason is different: LinAlgError: SVD did not converge

[2021-01-27 14:58] MichalRIcar commented on #19285
Screen Recording with np.random.randn(100, 10)

https://drive.google.com/file/d/13i9TyA_zpYGtpwi9skJ58cUeO28GZxMF/view?usp=sharing

[2021-01-27 15:19] NicolasHug commented on #19285
I'm going to re-open the issue but TBH I have no idea what's going on. This is really unexpected

[2021-01-27 16:34] rth opened #19286 "Have `handle_unknown="ignore"` by default in OneHotEncoder"
I would propose to make `handle_unknown="ignore"` the default in OneHotEncoder.

That's what one would want in most cases in practice, I believe. Real datasets often have infrequent categories and so depending on the train/test split the test set is likely to have some infrequent categories. Also in production systems, better to have unknown categories ignored than have the system crashing because

[2021-01-27 16:47] rth commented on #19248
For acronyms that are pronounceable as a word, some publications will only capitalize the first letter https://en.wikipedia.org/wiki/Acronym#Pronunciation-dependent_style_and_case as we did. I don't think it's worth a deprecation cycle.

[2021-01-27 16:55] rth commented on #19248
FWIW, Lasso and LassoLars are also acronyms and we don't capitalize them.

[2021-01-27 16:58] glemaitre commented on #19286
The following should solve some of the issues: https://github.com/scikit-learn/scikit-learn/pull/19041

[2021-01-27 16:59] glemaitre commented on #19286
It is true that we can encounter this case quite often so it could be good to shift the default.

[2021-01-27 17:27] glemaitre commented on #19285
I cannot reproduce the issue in notebook or ipython. This bug does not make any sense.

I am not sure that this is due to our code because the first time the randomized solver is used and the second set, the scipy solver is used. So it is not even solver dependent.

Could you give more information regarding the platform and the jupyter and jupyter notebook version.

[2021-01-27 18:13] david-cortes commented on #19275
To provide some context about the running time, fitting the same model takes <200ms in a different implementation I have ([here](https://www.github.com/david-cortes/isotree)) which uses an array of sub-sample row indices instead of copying the data. It's a very big difference.

[2021-01-27 18:57] MichalRIcar commented on #19285
Hello, agree it doesn't make much sense. It took me a while to track it as I didn't guess such dependency.
The Python is part of Anaconda installation:
https://repo.anaconda.com/archive/Anaconda3-2020.11-Windows-x86_64.exe
Just checked my version: Python 3.8.3

the packages are installed via PIP:
pip install pandas numpy sklearn matplotlib

[2021-01-27 18:58] glemaitre commented on #19285
@jeremiedbb Can you reproduce on Windows?

[2021-01-27 19:14] MichalRIcar commented on #19285
played with it a little bit and swap the order of the two, perhaps it is showing some direction

recording
https://drive.google.com/file/d/1hY1cGzAArthc3851YTJklvptTyu8ouvq/view?usp=sharing

[2021-01-27 19:53] zitorelova commented on #19280
Hello, I would like to take this if no one is currently working on it.

[2021-01-27 19:53] zitorelova commented on #19280
take

[2021-01-28 07:26] venkyyuvy opened #19289 "Confusing mention about IncrementalPCA in PCA `transform` method"
#### Describe the issue linked to the documentation
In the description of the `transform` method of PCA - [here](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html#sklearn.decomposition.PCA.transform),  the example was shown below using the IncrementalPCA, which I feel is confusing and probably the example there is not necessary.

Looks like the transform is coming fr

[2021-01-28 08:32] jnothman commented on #19066
is this a duplicate of #7687, or a different case?

[2021-01-28 08:38] jnothman commented on #19285
Related to #17788?

[2021-01-28 08:42] glemaitre commented on #19285
It looks like.

On Thu, 28 Jan 2021 at 09:38, Joel Nothman <notifications@github.com> wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2021-01-28 08:44] jeremiedbb commented on #19285
nope, works fine

[2021-01-28 09:00] glemaitre commented on #19285
@MichalRIcar While it will not solve this issue directly, could you create a conda environment from scratch and install the minimum number of libraries and try to reproduce.

[2021-01-28 09:37] simsim314 commented on #19066
No. It's similiar but different. He is talking about tree load time and my report is about the query time. His issue is also reproducable on single data case, my issue is reproducable on random case i.e. most cases.

[2021-01-28 10:13] NicolasHug commented on #19289
Thanks @venkyyuvy , PR welcome to remove the example @venkyyuvy

[2021-01-28 11:19] MezentsevIlya opened #19291 "Elapsed time for transforming in Pipeline and FeatureUnion"
Here https://github.com/scikit-learn/scikit-learn/pull/11364 fitting time logging was implemented (for Pipeline, FeatureUnion).
And I think it is useful to have logs for transforming time too.
I (with my collaegues) use workaround for it. Maybe I am not alone who wants it. What do you think?

[2021-01-28 11:26] henrif94 commented on #9245
I am still getting a No Loop Matching Error for .predict_proba().
Any Updates on this issue?

[2021-01-28 13:00] agamemnonc commented on #9245
There is a PR under-way to address this issue (#14654).

It is currently in stall mode due to conflicts with the master etc, but I hope to be able to address this in the next few weeks.

[2021-01-28 16:36] Phildumoux commented on #6224
Same as Helma-T. But with Python 3.8

[2021-01-28 16:53] #19255 closed

[2021-01-28 16:53] GLevV commented on #19092
Maybe somewhere in the future, closed for now

[2021-01-28 16:53] #19092 closed

[2021-01-28 17:16] richardmillson commented on #13403
Why not use [`scipy.spatial.distance.cdist`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.cdist.html) instead?
[code]
Since KL divergence is not symmetric it cannot be a [metric](https://en.wikipedia.org/wiki/Metric_(mathematics)#Definition); the `sklearn.metrics.pairwise_distances` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pai

[2021-01-28 19:51] DelgadoPanadero opened #19294 "decision_path method for GradientBoosting"
Hi!

Noting that one of the most important features of the RandomForest algorithm is the prediction explainability I wonder if it could be possible to be implemented in GradientBoost too. I know that it is not as easy as in the RandomForest algorithm because of the accumulative nature of the boosting, however any approach could be usefull somehow.

I have also think about it and I could write a me

[2021-01-28 21:07] #12310 closed

[2021-01-28 22:36] thomasjpfan commented on #19269
Adding a `formats` to `load_files` sounds reasonable to me.

[2021-01-29 07:18] #19280 closed

[2021-01-29 08:46] NicolasHug commented on #19294
You can always access the `decision_path` of each individual tree (in the `estimators_` attribute)

But at first sight I don't see how useful it would be to expose a `decision_path` method for the GB estimator. It somewhat makes sense in a forest because each tree tries to predict the target, but things are very different in GB. The trees don't try to predict targets, they try to predict gradients

[2021-01-29 10:05] cmarmo commented on #12369
Hi @mcepl, the test you mention run successfully on the development version of scikit-learn
[code]
I'm closing this issue. Feel free to open a new one with updated information if you are still experiencing issues on a recent environment. Thanks!

[2021-01-29 10:05] #12369 closed

[2021-01-29 10:34] cmarmo commented on #12327
Running
[code]
with
[code]
generates 4 failures
- [ ] test_np_matrix
- [ ] test_as_float_array
due to the direct call of `np.matrix` in the test
- [ ] test_vectorizer_inverse_transform[TfidfVectorizer]
- [ ] test_vectorizer_inverse_transform[CountVectorizer]
due to the call of `np.asmatrix` in
[code]
I'm relabeling this as "help wanted", feel free to relabel if my understanding is wrong.

[2021-01-29 13:09] #19289 closed

[2021-01-29 13:17] lorentzenchr commented on #12327
I can confirm all 4 cases with slightly different settings in `show_versions()`.

[2021-01-29 13:44] cmarmo commented on #10023
neighbors computation has been multithreaded in #15082 and the gradient computation has been parallelized in #13264.
Is this issue still relevant? Thanks.

[2021-01-29 14:07] #19246 closed

[2021-01-29 14:16] cmarmo commented on #7173
This was definitely a documentation issue.
But the order of the coordinates is now explicit in the [Haversine metric documentation] (https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.haversine_distances.html?highlight=haversine#sklearn.metrics.pairwise.haversine_distances).
I'm closing this issue.

[2021-01-29 14:16] #7173 closed

[2021-01-29 15:23] ogrisel commented on #18683
Do you still have the exact traceback handy by any chance?

[2021-01-29 15:24] CheriseCodes commented on #19275
New here, what does `module: ensemble` mean. The [primary documentation for contributing to scikit-learn](https://scikit-learn.org/stable/developers/contributing.html#issue-tracker-tags) doesn't seem to discuss this.

[2021-01-29 15:30] cmarmo commented on #19275
Hi @CheriseCodes the labels 'module: something' identify the scikit-learn module the issue is referring to.
This is specified in the [Triaging](https://scikit-learn.org/stable/developers/bug_triaging.html?highlight=triaging#a-typical-workflow-for-triaging-issues) page. This kind of labeling is useful to track which module is the more used or the less troubleshooted by maintainers.

[2021-01-29 15:36] meakbiyik commented on #18683
@ogrisel I unfortunately don't, it was a fleeting error and I decided to use some other model afterwards. Though, I remember the trace: it basically ended up at here:

https://github.com/scipy/scipy/blob/ab1c0907fe9255582397db04592d6066745018d3/scipy/linalg/decomp_cholesky.py#L37

leaving the scikit-learn at here:

https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f87

[2021-01-29 15:36] CheriseCodes commented on #19275
Thanks @cmarmo. I appreciate the resource link. (for anyone confused, I deleted my comment from earlier)

[2021-01-29 16:49] CheriseCodes commented on #19086
What does the `Needs Decision` tag mean?

[2021-01-29 16:57] BrannonKing commented on #16832
Definitely a bug here.

[2021-01-29 17:06] BrannonKing commented on #16832
This is possibly a duplicate of https://github.com/scikit-learn/scikit-learn/issues/9414 ?

[2021-01-29 17:25] kno10 commented on #19248
Well, Tibshirani introduced it as "lasso" in lowercase, later used "Lasso" himself. Usually I would go with the authors own capitalization.
But maybe only change the documentation then?

[2021-01-29 17:42] lorentzenchr commented on #19086
It means that this issue is open for discussion and needs a decision by the core devs. A PR/implementation only makes sense after such a decision.

[2021-01-29 18:13] MichalRIcar commented on #19285
@glemaitre, gave a shot:
1. Installed "conda install anaconda-clean" as recommended and uninstall everything by "anaconda-clean --yes"
https://docs.anaconda.com/anaconda/install/uninstall/#:~:text=Use%20simple%20remove%20to%20uninstall,or%20your%20version%20of%20Python.

2. Deleted all folders connected with PY, CONDA: ...\ProgramData & Users\anaconda, pip...

3. Uninstall in Windows

4. Restart

[2021-01-29 18:16] thomasjpfan commented on #19066
During `query` every leaf will compute a rdist:

https://github.com/scikit-learn/scikit-learn/blob/b94332434d0117e3d86407560a206d1c7bee1c81/sklearn/neighbors/_binary_tree.pxi#L1824-L1829

This `rdist` scales with a factor of `n_features`.

[2021-01-29 19:11] disdainglory opened #19302 "sklearn import returning error"
Hi guys,

I've started learning machine learning and Python, and I tried to import sklearn, but I got below error:
AttributeError: module 'numpy.linalg.lapack_lite' has no attribute '_ilp64'

I do not know what I did wrong, I have installed sklearn and scikit-learn, but I had to miss something.
Would you be able to assist?
Thanks....

[2021-01-29 20:29] simsim314 commented on #19066
Thomas it's not relevant. We measured with constant amount of features called d, and we don't see query in N number of points, when it's several orders of magnute higher than d. We took 5, 50, 500 fetures while we had tebs to hunders of thousands of points, it should be logarithmic in N acording to the documentation and we see linear performance in N. Check Tom's graphs they are better than my ver

[2021-01-29 20:53] thomasjpfan commented on #19066
When I remove the `self.rdist` calculation, I am able to get the desired behavior: (This is not the right solution and only use for debugging):

![Figure_1](https://user-images.githubusercontent.com/5402633/106326051-d9bb5680-6249-11eb-903f-a6a58da630ac.png)

Without this computation the query is `O(n_samples * log(n_features))`. This additional computation loops through the samples in the node an

[2021-01-29 22:47] HomingL commented on #19294
Hi, Could you label the difficulty of the new feature?

[2021-01-29 23:05] simsim314 commented on #19066
I don't see what you mean by self.rdist? Can you please post your code?

As far as I understand usualy the tree algorithms works in O(log(num_samples)) As function of num_samples, this is why people use trees. The dimentionality adds linear factor, but usually as long as the dim is not high no one cares about it. We still never saw logarithmic behaviour, and your graph is also a function of num_sa

[2021-01-30 01:43] TomDLT commented on #19302
It seems like you have an issue with the `numpy` install. You might want to reinstall `numpy`, then try again to reinstall `scikit-learn`. You can find guidance in the [install guide](https://scikit-learn.org/stable/install.html) .
(Note that you should not install `sklearn`, the correct package name is `scikit-learn`, and "sklearn" is only used inside python with `import sklearn`)

[2021-01-30 07:43] adrinjalali commented on #13403
I guess if we make sure in places where we accept a precomputed metric matrix and we need it to be a metric, we also check if it's a metric, then allowing `pairwise_distances` to compute the whole matrix wouldn't be an issue.

I think I'd be happy to have a prototype for this, and @jnothman seems to be happy too. I'll tag this as help wanted.

[2021-01-30 09:27] DelgadoPanadero commented on #19294
@NicolasHug I understand you point, there is not a direct approach as with RF. However I think that there is a need for that in many used cases, for example in house prize prediction. You can use the decision_path for every tree in the class and aggregate them in one by suming the contributions of each contribution for every trees in each decision

[2021-01-30 12:37] lorentzenchr commented on #12327
Fixed by #19299 and #19301.

[2021-01-30 12:37] #12327 closed

[2021-01-30 13:19] lorentzenchr opened #19304 "Poisson criterion in RandomForestRegressor"
#### Describe the workflow you want to enable
I want to officially use the Poisson splitting criterion in `RandomForestRegressor`.

#### Describe your proposed solution
#17386 implemented the poisson splitting criterion for `DecisionTreeRegressor` and `ExtraTreeRegressor`. This also enabled&mdash;somewhat silently&mdash;to do:
[code]
Note: The same is true for `ensemble.ExtraTreesRegressor`.

Task

[2021-01-30 17:32] pk1130 commented on #19304
take

[2021-01-30 18:06] nofarm3 commented on #19250
take

[2021-01-30 18:32] glemaitre opened #19305 "Limitation of ICE when required for 1D and 2D interactions"
The following code requested to display ICE will fail:

[code]

It is due to the fact that we are requesting a 2D interaction (`EDUCATION`, `AGE`) for which we cannot return ICE.
I think that we should support this use-case by only returning the PDP plot, potentially with a warning.
It is a better user experience than having to call the function twice.

@NicolasHug @thomasjpfan Do you think it wou

[2021-01-30 19:08] thomasjpfan commented on #19305
I would be okay with no warning and document that the 2d interactions do not have ICE.

[2021-01-30 20:02] MovGP0 opened #19306 "Could not install packages due to an OSError"
#### Describe the bug
When trying to install `scikit-learn`, I get the following error:

[code]

After enabling long-path name support in the group policies, I get the following error:

[code]

After also running pip with admin rights, I get the following output:

[code]

#### Steps/Code to Reproduce
* Use Windows 10
* Install Python (3.8 or 3.9) from Windows Store
* Install Visual Studio Code
* I

[2021-01-30 21:32] Rmsharks4 commented on #16549
Set **stack_method='predict'** in model initialization like so (dont know why the default 'auto' doesnt work):
[code]

[2021-01-31 00:55] jnothman commented on #19248
We're always happy for the documentation to be improved!

[2021-01-31 13:55] Aortz commented on #18837
Hello there, is the issue still open? I would like to contribute to it if it still is!

[2021-01-31 13:56] xinweilau commented on #18837
Hi there, may I kindly work on this issue if it is still an open issue? This is my first time working on an issue.

thank you!

[2021-01-31 15:15] jjerphan commented on #18837
@Aortz and @xinweilau: you can work on #18855. See [my message above](https://github.com/scikit-learn/scikit-learn/issues/18837#issuecomment-764686552).

[2021-01-31 17:28] philipp-eisen opened #19311 "CountVectorizer does not lowercase() entries in vocabulary when `lowercase` is set to `True`"
#### Describe the bug
The default value of for `lowercase` in CountVectorizer is `True`. This has the effect that all content of documents is lowercased by default. However, the entries in the vocabulary are not lowercased. So if the vocabulary contains uppercase characters it won't match against the content in the documents.
I think CountVectorizer should either
1. lowercase the vocabulary as wel

[2021-01-31 18:37] LuiGiovanni commented on #18837
@jjerphan perfect, I`ll take care of the gaussia_process and kernel_aproximation.py

[2021-02-01 02:31] whyisyoung commented on #17339
Thanks @gkevinyen5418. That makes a lot of sense to me. I will change to use `dual=False` in my case where `n_samples > n_features` and close this issue.

[2021-02-01 02:31] #17339 closed

[2021-02-01 05:42] xiaopinlai opened #19315 "Problem about extracting and ranking characteristic features from models"
Hi guys,

I've started learning Scikit-learn and Python, and I tried to use support vector machines for classification, but I got a problem about feature selection. More specifically, I use Receiver Operating Characteristic (ROC) with cross validation yielding 50 models to evaluate the classification performance. It is possible to calculate the mean area under the ROC curve, and see the variance o

[2021-02-01 08:23] NicolasHug commented on #19305
I would warn (to educate users that 2-way ICEs are impossible to render in a 2d plot) and also allow for `kind` to be a list of strings. But no strong opinion. Either way, I agree we should document this.

[2021-02-01 08:27] NicolasHug commented on #19294
@HomingL  there's no label yet as we haven't decided whether this is something we want to include.

@DelgadoPanadero I'm not sure I follow: how would you aggregate all trees into one?

[2021-02-01 08:40] NicolasHug commented on #19304
Isn't that taken care of by the DecisionTreeRegressor instances?

[2021-02-01 08:50] pk1130 commented on #19304
Hey guys! I'm new to open source contributions, and I'd love to contribute to this issue (the reason I took this up as soon as it was posted :)). I'm an avid machine learning enthusiast and scikit-learn user! Any tips for a newcomer like me? Since I'm not fully familiar with the entire codebase, it's taking me a little while to navigate my way around here.

[2021-02-01 08:55] NicolasHug commented on #19315
Please avoid opening both an issue and a discussion. Closing this is favor of https://github.com/scikit-learn/scikit-learn/discussions/19314

[2021-02-01 08:55] #19315 closed

[2021-02-01 09:07] alfaro96 commented on #19302
I am closing the issue since it seems to be related with the `numpy` install and not with `scikit-learn`.

[2021-02-01 09:07] #19302 closed

[2021-02-01 09:19] alfaro96 opened #19316 "Numerical stability bug with master wheels"
#### Describe the bug

The following tests are failing in the `Wheel builder` workflow:

* `test_partial_dependence_dataframe`
* `test_logistic_regression_multi_class_auto`

which seems to be related with the `LogisticRegression` estimator.

Examples of the failure: https://github.com/scikit-learn/scikit-learn/runs/1803849179?check_suite_focus=true and https://github.com/scikit-learn/scikit-learn/

[2021-02-01 09:21] lorentzenchr commented on #19304
[code]
gives `array([-0.07666667, -0.07666667, -0.07666667])` but should raise `ValueError`.

[2021-02-01 09:30] lorentzenchr commented on #19304
@pk1130 Welcome. I hope your motivation keeps on going.
You'll find general advice in the [developer's guide for contributing](https://scikit-learn.org/stable/developers/contributing.html).
The `class RandomForestRegressor` lives in sklearn/ensemble/_forest.py. Input validation should happen in `def fit(..)` which is inherited from `class BaseForest`. So you need to adapt the code there. Let me kn

[2021-02-01 09:45] pk1130 commented on #19304
@lorentzenchr Thanks for the welcome and the quick direction to parts of the codebase. I was reading through `class RandomForestRegressor` just right now. I'll start off with the docstring as you suggested.

[2021-02-01 12:05] djstrong commented on #14217
It shows when training e.g, NaiveBayes with all training data having the same label and then calling predict_proba.

[2021-02-01 16:34] thomasjpfan commented on #19316
At a glance, looks like something happened with numpy 1.20.0 and 32 bit linux.

[2021-02-01 17:41] lorentzenchr commented on #18248
@scikit-learn/core-devs Are there more opinions on renaming losses as proposes in https://github.com/scikit-learn/scikit-learn/issues/18248#issuecomment-679037541? While this issue was milestoned 1.0, I'd like to know if there is a consensus.
I take @NicolasHug https://github.com/scikit-learn/scikit-learn/issues/18248#issuecomment-679221745 as a +1:smirk:

A first PR for renaming all variants to *

[2021-02-01 17:49] adrinjalali commented on #18248
An alternative (which I really like) is the concept of _synonyms_ for the names. That means the user could pass either of those synonyms and we would treat them the same, w/o a deprecation or any warnings. This keeps the old work working as it is, for ever. However, in the documentation we can switch to only mentioning the new variants, and new users would use those instead.

There's the point tha

[2021-02-01 18:27] lorentzenchr commented on #18248
Interesting proposal. I'm also in favor of a table in the user guide or glossary which mentions the different names. I'm, however, against synonyms in parameters forever. Take, for example, "least_squares" as in `HistGradientBoostingRegressor`. It is a term that describes a method/estimation/model, usually ordinary least squares. The loss used is the "squared_error".

[2021-02-01 19:01] mgmussi opened #19327 "Unclear FutureWarning when using n_component>1 for CCA in scikit-learn v0.24"
This error shows when I try to train the CCA classifier (`model = CCA_model.fit(feature_set, label_set)`) using `n_components=2`:
[code]
My data shapes are:

1. CCA feature_set [27, 125]
2. CCA label_set [27, 1]

When I use `n_components=1` this warning does not show and the fitting executes well.
Why is this happening?

[2021-02-01 19:35] adrinjalali commented on #18248
That would be an argument to deprecate `least_squares`, and I don't have a strong preference on that point. But we could still keep a permanent synonym table. It does make the user experience better IMO.

[2021-02-01 20:01] #18199 closed

[2021-02-01 20:14] #19327 closed

[2021-02-01 20:15] #18347 closed

[2021-02-01 20:53] #9292 closed

[2021-02-01 21:14] ecm0 commented on #17027
Very nice to see spline-based features made their way to scikit-learn! Today I posted a short demo for multivariate spline-based transformer able to capture correlation between features, in case this could be useful for future developments.  https://gist.github.com/ecm0/fe8966f9170409cfbc4f34c919462f98

[2021-02-01 21:29] #19197 closed

[2021-02-01 21:31] #19154 closed

[2021-02-01 21:58] rth commented on #18248
I agree that it would be great have these name standardization happen before 1.0 and we might as well start with the MSE.
When possible I think it would be also good to check the naming convention used in other popular libraries. For instance for MSE there is [`MSELoss`](https://pytorch.org/docs/stable/generated/torch.nn.MSELoss.html) in pytorch, [MSE loss](https://www.tensorflow.org/api_docs/pyth

[2021-02-01 22:42] DelgadoPanadero commented on #19294
@NicolasHug @HomingL My idea is that the indicators from the decision_path does not return 0 or 1 on each value if the sample goes through the node but 0 or the impurity of the node. It gives you an idea about the importance of each decision in each step of the prediction. This is what I mean with "aggregation".

I have been working with my friend @Chucheria in an implementation in the BaseGradien

[2021-02-02 10:08] NicolasHug commented on #19294
Would you have any reference where such info about the impurity of each node is used in gradient boosted trees?

[2021-02-02 10:17] lorentzenchr commented on #18248
@adrinjalali As to the synonym table, do you mean
1. several parameter argument are all mapped to the same loss, permanently
2. a table in the user guide.

I'm in favor of 2, but would avoid 1 (pushing the maintenance argument button).

@rth Good point, looking into other libraries. Seems like a slow convergence in the direction of "squared_error". I would skip the prefix "mean" for brevity, consi

[2021-02-02 12:32] adrinjalali commented on #18248
yeah I was suggesting both 1 and 2, and I've seen it in libraries' code and doesn't seem very maintenance heavy to me. Especially since this proposal touches parts of the library that people are really used to. I think you'd have an easier time convincing people that this is a good change, if we don't break people's code, especially since I think staying backward compatible here would be quite eas

[2021-02-02 13:08] jnothman commented on #19311
I think the principle when we receive a precomputed vocabulary is that we should avoid any processing of the vocabulary, which may be much larger than any particular document. So I'm not convinced that this is an issue for the library: the user needs to just take care.

[2021-02-02 13:21] philipp-eisen commented on #19311
Hm, I understand where you're coming from. I just feel like this is one of those things that creates a bug in a very silent way and it might be worth the extra computation cost calling `.islower()` on the entries in the vocabulary in`_validate_vocabulary(self)` when using `lowercase=True`.

[2021-02-02 13:24] rth commented on #18248
Minimizing not, but if the estimator prints the loss during convergence there is a difference if it's a loss normalized per sample or not. I guess it depends on the loss function formulation and we are not consistent there. My main issue with `squared_error` is that the correspondence to the abreviation MSE becomes less obvious.

No strong opinion either way, and I'm OK with `squared_error` as wel

[2021-02-02 13:59] jjerphan commented on #19259
Hi @myilmazhaubtech,

To complete @cmarmo's comment, could you come up with a [minimal complete and verifiable example](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports)?

This would help inspecting your problem. Thanks!

[2021-02-02 15:56] jjerphan commented on #19283
I can reproduce. This bug also exists for `ElasticNet` but not for the other models supporting `precompute`:

[code]

[code]

[2021-02-02 20:28] anton-khimich commented on #19283
`Lasso` inherits `fit` from the class `ElasticNet` which does not allow for `precompute=auto`. #11014 and #14591 touch upon something similar, so the solution may be to overload `fit` in `Lasso` to set `precompute` to `False` if it is `'auto'` before calling `super.fit()`.

[2021-02-02 20:33] jjerphan commented on #19283
One could use a private method to specify the check on `precomputed`, which would be called inside `ElasticNet.fit` and which would be overwritten in. `Lasso`.

[2021-02-02 22:45] jnothman commented on #18248
I'm fine with dropping "mean" from strings in principle. Still using MSE
when logging is fine imo, and otherwise documenting attributes carefully to
specify how they treat the error.

How does the choice of "squared_error" affect other naming, especially
Friedman_mse and MAE?

[2021-02-02 22:46] jnothman commented on #19311
I'd rather raise an error or warning than automatically correct the input.

[2021-02-03 01:36] akashlilhare opened #19332 "no predict_proba attribute found"
**'LinearSVC' object has no attribute 'predict_proba'**
`clf.predict_proba(x_test)`

--------------------------------------------------------------
AttributeError               Traceback (most recent call last)
<ipython-input-122-a6d6885a586f> in <module>
      1 # predict_proba() returns probabilities of a classification label
----> 2 clf.predict_proba(x_test)

AttributeError: 'LinearSVC' object

[2021-02-03 07:56] lorentzenchr opened #19333 "Track SLEP10: Add n_features_in_ to all modules"
This issue tracks the status of follow-ups of #18514, i.e. the implementation of [SLEP10](https://scikit-learn-enhancement-proposals.readthedocs.io/en/latest/slep010/proposal.html).

According to `N_FEATURES_IN_AFTER_FIT_MODULES_TO_IGNORE` in test_common.py, as of 96a96f19579c71da80a14f33a15a0402b2f797b4, modules to be `n_feature_in_`-ified are:
- [x] calibration #19555
- [x] compose #20175
- [x]

[2021-02-03 08:08] philipp-eisen commented on #19311
Yeah that's what I meant with the message before. Sorry for not being very clear.

[2021-02-03 08:18] DelgadoPanadero commented on #19294
Our point is that the prediction is the result of the accumulative sum of the prediction of each tree, currently there is no way to see prediction result components beyond the final accumulation.

We (@chucheria and me) have found no reference about any approach, but keeping in mind that the final prediction is the result of the accumulation of leave nodes of each tree, also considering that this

[2021-02-03 08:33] lorentzenchr commented on #17027
@ecm0 Nice to hear you like splines.

[2021-02-03 08:41] cmarmo commented on #17111
This issue is not reproducible in the current version: thanks @anton-khimich for checking.
[code]
I'm closing it.

[2021-02-03 08:51] ecm0 commented on #17027
@lorentzenchr By the way, I'm happy to help in case multivariate splines are considered in the future.

[2021-02-03 08:58] NicolasHug commented on #19332
LinearSVC doesn't predict probabilities.

`SVC` does if you use the `probability=True` parameter.

Otherwise, you can always calibrte the estimator https://scikit-learn.org/stable/modules/calibration.html#calibration

[2021-02-03 08:58] #19332 closed

[2021-02-03 09:09] jjerphan commented on #19283
Thanks for the pointers. https://github.com/scikit-learn/scikit-learn/pull/3249 might be of relevance.

Yes, alternatively there was another proposition like [the one proposed by @agramfort](https://github.com/scikit-learn/scikit-learn/pull/14591#discussion_r314720312) in https://github.com/scikit-learn/scikit-learn/pull/14591 to set in the case of `'auto'`:
[code]
where `K` could be set according

[2021-02-03 09:20] NicolasHug commented on #19294
First, let's note that this is only true for regression.

Also: why choosing to output the impurity of a node in the decision path? Why not the value instead, since it's the value that is used in the final sum?

Could you provide me with an example of insight that comes out of the analysis of your proposed `decision_path`? E.g. "Here's the output of `decision_path`", and here is a list of conclusi

[2021-02-03 10:07] ogrisel commented on #19316
`test_partial_dependence_dataframe` is also pointing to a non-deterministic multinomial logistic regression with small variations in the weights / decision function.

[2021-02-03 10:07] ogrisel commented on #19316
It might be caused by a real regression in scipy or numpy. It deserves more investigation.

[2021-02-03 10:09] ogrisel commented on #19316
Maybe we need a common test to check that all estimators fitted on the same data several consecutive times with the same hyperparams (with seeded `random_state`) always lead to the same predictions / transform function.

[2021-02-03 10:26] jjerphan commented on #18671
I can reproduce on this setup:
[code]

For `solver='svd'`, I get the same message but another (more complete) stacktrace:
[code]

[2021-02-03 11:32] cod3licious commented on #18943
I noticed the same behavior and think it would be great if the default was to just show the count for the respective class. Setting `proportion=True` already gives the correct fractions of the samples, so since the number of samples per node is available, this could just be multiplied by these fractions?

[2021-02-03 13:12] #12826 closed

[2021-02-03 13:42] cmarmo opened #19334 ""RuntimeWarning: invalid value encountered in true_divide" in tests"
The following tests throw a `RuntimeWarning`
[code]
in the current development version
- [x] `test_sanity_check_pls_regression_constant_column_Y` in `sklearn/cross_decomposition/tests/test_pls.py`
- [x] `test_iforest_with_uniform_data` in `sklearn/ensemble/tests/test_iforest.py`
- [x] `test_kernel_gradient` in `sklearn/gaussian_process/tests/test_kernels.py`
- [x] `test_radius_neighbors_classifier

[2021-02-03 14:26] jeremiedbb opened #19335 "Clean the deprecations before 1.0"
This is an issue to track the cleaning of the deprecations before the 1.0 release.
The corresponding PRs will be linked to this issue. We don't want to merge them right now, but wait until we're a little closer to the release.

[2021-02-03 14:51] lorentzenchr opened #19337 "DOC Better information about transductive and inductive methods"
#### Describe the issue linked to the documentation
Currently, it's hard to select an inductive clustering methods, i.e. one with a `predict` method like `AffinityPropagation`. Counter examples are transductive methods like `DBSCAN`, which can't be applied to new, unseen data.

While the terms *inductive* and *transductive* are explained in the [glossary](https://scikit-learn.org/stable/glossary.h

[2021-02-03 15:15] tliu68 opened #19338 "Gaussian Mixture with BIC/AIC"
#### Describe the workflow you want to enable
Clustering with Gaussian mixture modeling frequently entails choosing the best model parameter such as the number of components and covariance constraint. This [demonstration](https://scikit-learn.org/stable/auto_examples/mixture/plot_gmm_selection.html#sphx-glr-auto-examples-mixture-plot-gmm-selection-py)  is very helpful to me but I think it might be

[2021-02-03 18:23] putschblos commented on #19337
take

[2021-02-03 19:54] amueller commented on #19334
If you're starting on this issue, maybe try do one file per PR, or potentially several if the errors are related, not one PR that addresses all of it.

[2021-02-03 19:57] reshamas commented on #19334
I think this is confusing.  I would say (doesn't matter if the errors are related, because folks can practice having multiple branches):

[2021-02-03 21:32] rth commented on #18248
Friedman_mse and MAE?

It would likely mean `absolute_error` for MAE https://github.com/scikit-learn/scikit-learn/issues/18248#issuecomment-679037541 For `friedman_mse` not sure between keeping it as is or changing to `friedman_squared_error` in an attempt for consistency.

[2021-02-03 23:40] tawe141 opened #19343 "ExpSineSquared GP Kernel is not PD"
Here's a bit of test code:

[code]

This rather popular kernel for modeling periodic functions doesn't seem to be a truly positive definite kernel, at least in the sklearn implementation, as some of the eigenvalues printed are negative. Is this an issue with the sklearn implementation, or is this a weird issue with the kernel itself?

[2021-02-03 23:50] zitorelova commented on #19311
take

[2021-02-04 00:36] jnothman opened #19345 "Status should report "rejected" rather than "failed""

[2021-02-04 00:36] #19345 closed

[2021-02-04 02:32] vinicius-cleves opened #19346 "Allowing drop='first' and handle_unknown='ignore' in OneHotEncoding"
When using OneHotEncoding it is a common feature to drop a column in order to prevent multi-collinearity. This is done with the drop='first' flag.

On the other hand, when cross validating a model, it can happen that not every category appears on train split. In this setting, it is usual to just assign 0 to all columns. This is done with handle_unknown='ignore'.

Both flags cannot be set as shows

[2021-02-04 07:25] lorentzenchr commented on #19333
@thomasjpfan How do we document `n_features_in_`? In the merged PRs, I don't see entries as attribute in the docstrings. Another question is how we want to deal the attribute `n_features_` in `BaggingClassifier`. Do we want to deprecate that one or do we just replace it by `n_features_in_`?

[2021-02-04 07:56] lorentzenchr commented on #17027
You're welcome to open an issue to propose and motivate new functionality. But note that we have a high barrier for new features, see [this FAQ section](https://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms).
In the case of multivariate splines, I think this is already available with a combination of `SplineTransformer` and `PolynomialFeatures` in a `Pipeline`

[2021-02-04 08:09] ecm0 commented on #17027
@lorentzenchr I had not thought about combining PolynomialFeatures and SplineTransformer. I agree this does the same as what I did in my demo. So this is already covered by the new implementation.

[2021-02-04 10:30] Vlasovets commented on #19105
I'm working on it

[2021-02-04 10:58] NicolasHug commented on #19346
As the error message suggests, this would make it impossible to distinguish between the first category and an unknown category. In other words, this would potentially lead to methodological mistakes, and we try to prevent that.

What model are you using? For some models, collinearity is not such a big deal. Another option might be to use the `OrdinalEncoder` instead (although for all models but th

[2021-02-04 11:46] cmarmo opened #19349 "ResourceWarning: unclosed file in test_openml.py"
Running the tests on opeml datasets throws a number of `ResourceWarning` in the last development version
### Step to reproduce the issue
[code]
### Expected result
The tests pass

### Actual result
The tests fail with messages like
[code]

### Additional comments
- The exception seems to be always thrown from `sklearn/datasets/_openml.py` from the wrapper function:
https://github.com/scikit-learn/

[2021-02-04 12:55] rth commented on #19349
This would suggest that we are not closing the file file object from `_open_openml_url`,
https://github.com/scikit-learn/scikit-learn/blob/74a37de119d2c7c9ea1cce673c2ee207541a55d2/sklearn/datasets/_openml.py#L129

but then as far as I can tell we are always using it with the `closing` content manager. So it would need more investigation indeed.

[2021-02-04 13:00] cmarmo commented on #18584
@NicolasHug should this issue be considered for a pull request submission? Perhaps this issue is suitable for the sprint?

[2021-02-04 13:30] NicolasHug commented on #18584
Sure

[2021-02-04 14:26] cmarmo commented on #19105
Closed in #19348.

[2021-02-04 14:26] #19105 closed

[2021-02-04 16:19] thomasjpfan commented on #19333
I think we should add them to the docstring. I opened https://github.com/scikit-learn/scikit-learn/pull/19351 to start the process of documenting this.

I would say to deprecate it.

[2021-02-04 18:55] glemaitre commented on #19346
From the discussion in https://github.com/scikit-learn/scikit-learn/issues/18072, we are thinking about allowing this case because it is frequent when you have rare categories and you will be interested to bypass the issue. However, you cannot `inverse_transform` but let say that it would be a known limitation.

We have a PR from @thomasjpfan that handle this case: https://github.com/scikit-learn/

[2021-02-04 19:32] lorentzenchr commented on #19304
@pk1130 Could you open a PR or can I help you somehow?
I'm asking because there is a sprint this Saturday and this issue might be a good candidate for it. I do not intend to take this issue away from you, just informing.

[2021-02-05 05:15] thomasjpfan commented on #19349
This is coming from how we do mocking:

https://github.com/scikit-learn/scikit-learn/blob/819c43cc7a1d7efab855e982a91e15be7aec7db1/sklearn/datasets/tests/test_openml.py#L205-L207

This pattern is repeated several times in the file. We can work around this by fulling reading the file and wrapping the stream into a BytesIO object:

[code]

[2021-02-05 06:33] firshu opened #19352 "Interactive Imputer cannot accept PLSRegression() as an estimator due to "shape mismatch""
#### Describe the bug
When setting the estimator as PLSRegression(), an ValueError will be triggered in module '_iteractive.py' in line 348, due to "shape mismatch"

#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results: after applying the workaround below:
[code]

#### Actual Results
File "/home/hushsh/py3/lib/python3.6/site-packages/sklearn/impute/_iterative.py", line 348, in _imp

[2021-02-05 07:16] parthe opened #19353 "LASSO docs. Default value of l1_ratio is 1. Documentation says its 0.5"
https://github.com/scikit-learn/scikit-learn/blob/95119c13af77c76e150b753485c662b7c52a41a2/sklearn/linear_model/_coordinate_descent.py#L358

On this webpage: https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Lasso.html
in "Parameters" section, there's text: "l1_ratio : float, default=0.5"

But default for class `sklearn.linear_model.Lasso` is l1_ratio = 1.0

[2021-02-05 07:55] shivamgargsya commented on #19353
I am new to scikit-learn contribution. Issue looks good for first issue. I can pick this up.

[2021-02-05 08:22] cmarmo commented on #18324
Closed in #18370.

[2021-02-05 08:22] #18324 closed

[2021-02-05 08:35] ogrisel commented on #19353
You are not that new to scikit-learn contribution @shivamgargsya, aren't you? But yes feel free to open a quick PR to fix this.

Thanks @parthe for the report.

[2021-02-05 09:23] NicolasHug commented on #19352
Thanks @firshu, I can reproduce.

The fix is probably to simply call `ravel()` on the output of `predict` for single-target predictions.

Would you like to submit a PR for this? On top of the fix we'd need a small non-regression test to make sure the shape is correct.

[2021-02-05 09:41] jeremiedbb commented on #19353
@parthe your first link points to ElasticNet, but your second link points to Lasso.

Lasso has no ``l1_ratio`` parameter. The regularization is controlled by alpha (with a default value of 1.0). The regularization in ElasticNet is controlled by alpha and l1_ratio and the default value of l1_ratio is 0.5.

I think the docs are correct

[2021-02-05 11:56] makoeppel opened #19354 "Input format for StandardScaler"
#### Describe the issue linked to the documentation
In the documentation the input array for the StandardScaler is given by:
scale_ndarray of shape (n_features,) or None
I have the following example where I transform an int array and a float array:

[code]

 [1 0 1 0 1 0]
 [0 1 0 1 0 0]
 [1 0 1 1 0 0]
 [0 0 0 0 1 0]
 [0 0 0 1 0 1]]

In this case I wanted to transform col 1 of my array. The result

[2021-02-05 12:54] agramfort commented on #19353
I agree with @jeremiedbb. I'll close

[2021-02-05 12:54] #19353 closed

[2021-02-05 12:58] agramfort commented on #19283
AFAIK the precompute 'auto' in Lasso was removed as it was not clear when to toggle True or False. We decided to let the user decide and use True by default as it's the best default. I would not put it back unless there is a thorough benchmark (but I think it's hard).

[2021-02-05 13:05] ogrisel commented on #19353
Indeed the doc is already good, I had mis-understood the report.

[2021-02-05 13:29] jeremiedbb opened #19355 "RFC Unified way to process batches in the "MiniBatch" estimators"
Currently we have 3 "MiniBatch" estimators: `MiniBatchKMeans`, `MiniBatchDictionaryLearning` and `MiniBatchSparsePCA`. The sparse pca is essentially the same as dict learning with dict and code exchanged. A new one is also incoming.

Since `MiniBatchKMeans` and `MiniBatchDictionaryLearning` are being reworked (#17622 and #18975), and `MiniBatchNMF` is on development (#16948), I think it's a good m

[2021-02-05 14:37] thomasjpfan commented on #19354
The output of `preprocess_fn.transform` is a float array:

[code]

But the following line converts it to an int when placing it into `X`.

[code]

This means the input of `inverse_transform` does not match the output of `fit_transform`. Which results in the inverse not mapping back to the original value.

Secondly, it would make sense for `inverse_transform` to cast to an float anyways, as the inp

[2021-02-05 15:04] makoeppel commented on #19354
Thank you for the quick replay, I did not saw this.

So maybe by adding `X = check_array(X, copy=self.copy, dtype=FLOAT_DTYPES, force_all_finite="allow-nan")` similar like in `inverse_transform` in the MinMaxScaler.

[2021-02-05 15:10] thomasjpfan commented on #19354
Yup. We can also add `accept_sparse='csr'` to handle the sparse case as well.

[2021-02-05 16:54] alexottenwess-sp opened #19357 "ClassifierChain + StackingClassifier : AttributeError: 'StackingClassifier' object has no attribute 'final_estimator_'"
#### Describe the bug
Getting an exception when chaining together StackingClassifiers using ClassifierChain.

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown. Predicted probabilities for all classes of all outputs returned from clf.predict_proba(X)

#### Actual Results
[code]

#### Versions
[code]

[2021-02-05 17:11] adrinjalali commented on #19355
How are folks handling it in other packages and ecosystems where batches are a common thing, like pytorch and tensorflow?

I don't think I'd be opposed to the idea of making sure users do their batches the right way, and we can provide utility functions for them to do so?

[2021-02-05 17:16] TomDLT commented on #19355
Thanks for the summary, I agree unifying these behavior is good.

Note that mini-batch estimators are specifically designed to handle stream of data, when the data is too big to be in memory. So the most interesting usecase of these estimators is with `partial_fit`, where the batches are specified by the user directly. In this case, we cannot control for the number of seen samples, the shuffling,

[2021-02-05 17:21] thomasjpfan commented on #19355
In pytorch, batching is done with a combination of a [Dataset](https://pytorch.org/docs/stable/data.html#torch.utils.data.Dataset) object and a [DataLoader](https://pytorch.org/docs/stable/data.html#torch.utils.data.DataLoader). `Dataset` object contains the data, which either has an `__getitem__` or is iterable. The `DataLoader` actually does the batching by using a `collate_fn` which combines it

[2021-02-05 17:25] GaelVaroquaux commented on #19355
The objects that we have focus on consuming batches rather than
generating them.

Maybe, one day, we can dream of accepting dask arrays, to get batch
generation out of core with an API that is well suited to data-science
practice?

[2021-02-05 17:29] parthe commented on #19353
I think there is some confusion here.
[The second link](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Lasso.html) i.e. the doc for the Lasso class says very clearly that the default for `l1_ratio=0.5`. But in fact it is set to 1.0
I want to correct this particular text in the doc. Can someone point me to where this text is coming from?

It is not clear whether the Lasso cl

[2021-02-05 17:29] jeremiedbb commented on #19355
I don't fully agree that the most interesting usecase is partial_fit. Even if data fits in memory, fitting the estimator in an online manner can converge much faster than its full batch version. For instance MiniBacth KMeans can achieve similar objective function than a KMeans with ~10 to ~100 iterations after only 1 or 2 epochs.

[2021-02-05 17:36] jeremiedbb commented on #19355
I think the discussion is drifting a bit. I was not talking about the partial_fit part, where the user provides batches one by one. Of course we could provide tools that help generating batches with good properties and that's actually a good idea, but let's move that to another discussion :)

What I was really focusing on in this issue is the fit part, where we have the full dataset, wondering wha

[2021-02-05 18:10] NicolasHug commented on #19355
I find the first option unexpected as it potentially doesn't make use of all samples. My expectations would be somewhat closer to the second approach, but:

- with re-shuffling at each epoch so that all epochs are different (that's how they do batched gradient descent, don't they?)
- with a  `shuffle_inplace` bool parameter which would decide whether or not we make a copy of the input before the f

[2021-02-05 19:39] jadeshi opened #19360 "Directionality information in Gini importance"
Hi,
I'm exploring a way to expand the Gini importance formula for decision trees, such that this value gives not only a magnitude of importance of a feature but also an indication of the direction of correlation of that feature with the model prediction, analogous to beta coefficients in linear regression. Currently I'm playing around with something like the following, which I'm calling "direction

[2021-02-05 21:10] firshu commented on #19352
Hello, Nicolas,
I honestly don't think I am qualified to provide a solid fix. My python skill is quite limited and was just hoping to let the supporting team to know bug.

On Feb 5 2021, at 1:23 am, Nicolas Hug <notifications@github.com> wrote:

[2021-02-05 22:04] BatoolMM commented on #19352
Can I work on this issue, please?

[2021-02-05 23:28] Necior opened #19362 "Incorrect(?) scaling to [0, 1] in the "Restricted Boltzmann Machine features for digit classification" example"
#### Describe the issue linked to the documentation

In https://scikit-learn.org/stable/auto_examples/neural_networks/plot_rbm_logistic_classification.html there is the following code for scaling the data:

[code]

#### Suggest a potential alternative/fix

I don't understand that and going through Git history for this file doesn't help at all.

Above scaling technique works well for `X = np.array(

[2021-02-06 05:01] amueller commented on #19362
That is indeed weird. We should probably just be using the MinMaxScaler or ``minmax_scale``

[2021-02-06 07:10] cinbez commented on #18584
I would like to work on this issue.

[2021-02-06 07:12] mjkanji commented on #19349
I'd like to work on this.

[2021-02-06 07:20] ogrisel commented on #19349
Please  run the `pytest -v sklearn/datasets/tests/test_openml.py -Werror` on your machine, chose one test file with a failure and work on that one. Let's do one PR per test file with a failure.

[2021-02-06 07:35] glemaitre opened #19364 "Remove matplotlib warnings from examples executed when generating the documentation"
There is a warning generated in our documentation for the 2 following examples:

* https://scikit-learn.org/stable/auto_examples/inspection/plot_permutation_importance.html#sphx-glr-auto-examples-inspection-plot-permutation-importance-py
* https://scikit-learn.org/stable/auto_examples/inspection/plot_permutation_importance_multicollinear.html#sphx-glr-auto-examples-inspection-plot-permutation-impo

[2021-02-06 07:48] amueller commented on #19286
Hm I thought we already had an issue open for this, because indeed within cross-validation this is a pain....

[2021-02-06 07:52] ogrisel commented on #17111
I think the problem is still there fore some people: `np.int` is platform specific, so it might fail on 32 bit Python on Windows for instance. So I think its a good idea to us `np.int64` explicitly in that code to avoid platform specific overflow.

[2021-02-06 07:53] amueller commented on #19285
BTW I ran into this also (unrelated to matplotlib). In recent versions PCA seems to sometimes randomly error out. either with the above error or linalgerror https://github.com/dabl/dabl/issues/248

[2021-02-06 07:53] halsawadi commented on #14216
Me and @feras-oughali will be working on `sklearn/ensemble/tests/`

[2021-02-06 07:55] ogrisel commented on #17111
I agree that doing random projections in a vector space with dimension larger than 2*31 is quite unlikely to be of any practical use but getting platform a specific negative number of dimensions is confusing so let's fix it anyway.

[2021-02-06 07:55] amueller commented on #19051
Hm I think there might be too many different things to configure to do it via keywords. Matplotlib has a lot of options.
Btw, my "preferred" way to make the font bigger is to make the figsize smaller ;)

[2021-02-06 07:58] Elamraoui-Sohayb commented on #18350
@ogrisel, @reshamas ; can i start with @ds_anas on this one during the sprint ?

[2021-02-06 08:01] Haidar13 commented on #14216
Me and @stevekola are working on sklearn/neighbors/tests/

[2021-02-06 08:03] CeeThinwa commented on #17111
@CeeThinwa and @fortune-uwha would like to work on this issue.

[2021-02-06 08:03] nuka137 commented on #19334
@cmarmo

I will join next dev sprint (9th Feb).
I would like to tackle this issue in this sprint.

[2021-02-06 08:04] mohaseeb commented on #14216
Me and TAB are working on `sklearn/model_selection/tests/`

[2021-02-06 08:08] CeeThinwa commented on #10137
@fortune-uwha and @CeeThinwa are working on this.

[2021-02-06 08:11] ogrisel commented on #19248
The title of the section should be changed:

https://scikit-learn.org/stable/modules/clustering.html#birch

Then let's do:

- "The Birch algorithm has two parameters" => "The BIRCH algorithm has two parameters"
- "Birch or MiniBatchKMeans?" => "BIRCH or Minibatch k-means?"

But let's keep the class it-self unchanged for now.

[2021-02-06 08:13] elateifsara commented on #19248
I and @amy12xx would like to work on this issue for the sprint.

[2021-02-06 08:14] azihna commented on #14528
We are working examples/ensemble/plot_forest_importances.py with @temmyzeus

[2021-02-06 08:17] YasmeenAlsaedy commented on #3846
Me and @abdulelahsm are working on ```feature_selection.SelectorMixin```

[2021-02-06 08:19] Adongo commented on #19364
I am working on it with @Fiona-cherutto

[2021-02-06 08:23] ogrisel commented on #18350
Sure.

[2021-02-06 08:26] marenwestermann commented on #19334
I'm working on `test_sanity_check_pls_regression_constant_column_Y`.

[2021-02-06 08:31] ogrisel commented on #18350
@macgok could you explain your motiviation for the following assertion?

Why is it invalid to treat all the noisy data-points has their own cluster? Do you suggestion that we should add an option to ignore those samples labeled as noisy samples from the silhouette score computation?

[2021-02-06 08:31] glemaitre commented on #3846
@YasmeenAlsaedy  @abdulelahsm Since a user is not going to use the `SelectorMixin`, we should add any example. This is a class used by developer instead.

It seems that we close the issue as well. So I assume that we added examples for all public classes. In case, that you see any class for which we did not add an example, I can reopen the issue.

[2021-02-06 08:40] NicolasHug commented on #19352
No problem @firshu
@BatoolMM yes please go ahead!

[2021-02-06 08:46] YasmeenAlsaedy commented on #14216
Me and @abdulelahsm are working on  ` ` `sklearn/linear_model/tests/` ` `

[2021-02-06 09:14] icky254 commented on #19349
I'd like to work on sklearn/datasets/tests/test_openml.py::test_fetch_openml_iris_pandas

[2021-02-06 09:15] ogrisel commented on #19349
I think #19367 is fixing most of the ResourceWarnings from `test_openml.py`.

[2021-02-06 09:30] ogrisel commented on #19349
I confirm that the merge of #19367 has fixed all the `ResourceWarning`.

Now when running:

[code]

one gets failure with the following message:

[code]

this is another unrelated problem that @mjkanji will tackle in a dedicated PR.

[2021-02-06 09:35] icky254 commented on #14216
I am working on sklearn/tests/ with @marenwestermann

[2021-02-06 09:35] ogrisel commented on #14216
Running `git grep "assert_raises" sklearn/tests/` yields many matches in subfiles. Maybe you want to open a PR just for one such specific subfile first.

[2021-02-06 09:51] pk1130 commented on #19304
@lorentzenchr Sorry for the delayed response. Last couple days have been crazy with me injuring my ankle ligament. Couldn't get to this sooner. I've updated the docstring as you'd suggested and I'm figuring out how to add input validation. I'm guessing it's fairly trivial but since I'm relatively new to the codebase, just figuring it out. Haven't looked at the test suite yet to expand on it. Let m

[2021-02-06 09:54] #19248 closed

[2021-02-06 10:08] elateifsara commented on #8501
@amy12xx and I will work on this issue.

[2021-02-06 10:20] lorentzenchr commented on #19304
@pk1130 Easy, there is no rush and good recovery for you foot. If you open a PR, it is easier to help out. In order to open one, you push your branch to your forked repository on github, then you can add a pull request to scikit-learn from github (on your fork).

[2021-02-06 10:28] ogrisel commented on #19248
This issue was closed when merging  #19368 that fixes the documentation side.

Changing the class-name is still an option. I am not sure if it's worth the trouble or not. On one side  that imposes adding noisy deprecation overhead to downstream projects for little benefit.

On the pro side, we are not very consistent because `DBSCAN` and `OPTICS` respect the casing of their original papers.

Maybe

[2021-02-06 10:48] mabu-dev commented on #19334
Working on `sklearn/utils/tests/test_random.py`

[2021-02-06 11:01] Elamraoui-Sohayb opened #19376 ""fetch_olivetti_faces()" Throws ModuleNotFoundError"
#### Describe the bug
"fetch_olivetti_faces()" uses  'sklearn.externals.joblib'

Example:
[code]
#### Actual Results

#### Versions
System:
    python: 3.8.2 (tags/v3.8.2:7b3ab59, Feb 25 2020, 23:03:10) [MSC v.1916 64 bit (AMD64)]
executable: d:\git_learning\pythonproject1\venv\scripts\python.exe
   machine: Windows-10-10.0.19041-SP0

Python dependencies:
          pip: 21.0.1
   setuptools: 53.0.

[2021-02-06 11:51] Sidakdeep23 commented on #19364
I want to work on this issue

[2021-02-06 11:53] Bunkus1 commented on #19364
i am working on this with @Rukaya-lab

[2021-02-06 11:59] azihna opened #19380 "Pytest Assertion Error"
#### Describe the bug

In today's version of sklearn, trying to run the tests has the result of collecting the test than failing by throwing the assertion shown below. Trying different versions of pytest and pluggy didn't solve the issue.

The environment was created following the steps shown in the following [link](https://www.youtube.com/watch?v=5OL8XoMMOfA&feature=youtu.be).

#### Steps/Code to

[2021-02-06 13:36] gittar opened #19382 "wrong comment for function _tolerance(X, tol) in cluster/_kmeans.py"
#### Describe the issue linked to the documentation

The current comment in [https://github.com/scikit-learn/scikit-learn/blob/80c47b01536a97f74a57d39ae4a7bb1645a98d91/sklearn/cluster/_kmeans.py](url) is:

Actually, however, the function computes a tolerance *dependent on* the variance of the dataset.

#### Suggest a potential alternative/fix

[2021-02-06 13:42] agramfort commented on #19353
well indeed I see "l1_ratio: float, default=0.5" in the docstring of the
path method

[2021-02-06 14:18] Bunkus1 commented on #19364
I am working on https://scikit-learn.org/stable/auto_examples/inspection/plot_permutation_importance.html#sphx-glr-auto-examples-inspection-plot-permutation-importance-py with @Rukaya-lab

[2021-02-06 15:25] icky254 commented on #19382
I am working on this issue.

[2021-02-06 16:07] anton-khimich commented on #17111
Huh, I didn't realize that call `np.astype(int)` will still use `np.int`.

[code]

So overflow does still occur on 32-bit systems.

[2021-02-06 20:35] thomasjpfan commented on #19376
Can you try if deleting `~/scikit_learn_data/olivetti_py3.pkz` would resolve your issue?

[2021-02-06 23:22] gittar commented on #19382
Thank you!-- Sent from my Android phone with WEB.DE Mail. Please excuse my brevity.On 2/6/21, 16:25 Isaack Mungui <notifications@github.com> wrote:

  I am working on this issue.
  —You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-02-07 00:29] amansinha09 opened #19389 "Multiple input support"
https://github.com/scikit-learn/scikit-learn/blob/95119c13af77c76e150b753485c662b7c52a41a2/sklearn/model_selection/_search.py#L724

It does not seem to support applying grid.fit(X,Y) where X list/dictionary of multiple inputs.

Query reference : https://stackoverflow.com/questions/52742283/fit-passing-multiple-inputs-with-sklearn-model-selection-gridsearchcv/52742732#52742732

[2021-02-07 08:27] ddofer commented on #13621
+1

[2021-02-07 10:14] #19382 closed

[2021-02-07 10:31] Oumaimalh commented on #17657
@adrinjalali I'm facing the same issue. did it change?

[2021-02-07 10:58] mjkanji commented on #19380
I ran into the same issue when setting up my environment for yesterday's Data Umbrella sprint, and brought it up with @amueller. Switching to a GitHub codespaces VM running Linux solved the problem for me at the same, so perhaps it's a Windows-specific issue?

[2021-02-07 13:13] #19349 closed

[2021-02-07 13:23] jeremiedbb commented on #19355
For instance, in minibatch dictionary learning, if you want to stop based on the relative change of the dictionary between 2 iterations, ||dict_new - dict_old|| / ||dict_old||. I observed that during a run this value was a little bit smaller for the smaller batch (the last one) of each epoch. Maybe it's because a smaller batch induced a smaller change of the dict but I can't figure out why it shou

[2021-02-07 13:55] macgok commented on #18350
@ogrisel Noise points (or outliers) do not belong to any clusters. Hence silhouette coefficient does not exist (cannot be computed) for a noise point.

[2021-02-07 14:47] IchiruTake opened #19393 "[Feature Request] Uniform Manifold Approximation and Projection"
I currently need an new algorithm to reduce dimension; currently my input is a database contains ~ 6000 features with all of them are in bit type. Due to the scikit-learn documentation, I found PCA, KernelPCA, Truncated PCA does not provide good visualization enough to visualize. Only T-SNE are currently good enough but the time is so costly. The data needs to visualize is from a matrix size [1044

[2021-02-07 22:10] david-waterworth opened #19394 "Exception using Macro ROC-AUC"
I'm attempting to evaluate a multi-label classifier using `roc_auc_score`. I noticed that when my training dataset doesn't contain examples for some classes, `macro roc_auc_score` crashes. For example, `y_true[:,1]` is all zeros, i.e. this label isn't present in the training dataset. In this case `micro roc_auc_score` returns 75% but `macro roc_auc_score` throws an exception "ValueError: Only one

[2021-02-08 00:29] clintmac commented on #8400
👍  Ive added preview of dataframes
👍  Good point regarding removing outliers prior to measuring class imbalance. Changed this. Overall ratio is pretty much the same.
👍 Yes, we can look at adding filtering as a feature. Might be good to try this out for v2. Its an interesting one, as its not independent of listings. Filtering behaviour will be across tons of listings in session. Would be good to cr

[2021-02-08 02:07] vinicius-cleves commented on #19346
As @glemaitre pointed out, this is already a discussion on another Issue and PR, so I am closing this Issue.

[2021-02-08 02:07] #19346 closed

[2021-02-08 09:02] #8501 closed

[2021-02-08 09:14] glemaitre commented on #19333
Yep, this seems the right way.

[2021-02-08 09:20] makoeppel commented on #19394
Beside this I actually have the same error even with y_pred having a one in the last array.

[code]

Looking into the code into the `_average_binary_score` function `not_average_axis` is by default 1. This leads to the fact that n_classes will be 4 and in the loop `for c in range(n_classes):` we will have:

So `binary_metric` will fail for the second iteration. Setting `not_average_axis=0` for `ma

[2021-02-08 09:34] adrinjalali commented on #17657
I don't think so @Oumaimalh , you're more than welcome to open a PR to fix it though :)

[2021-02-08 13:13] makoeppel commented on #19394
The doc says that the macro roc_auc_score does calculate the ROC AUC for each label, and find their unweighted mean. The ROC is defined via true positive rate (TPR) = TP/P and false positive rate (FPR) = FP/N where P is the number of real positive cases in the data and N the number of real negative cases in the data. So if you don't have one of them in the data you are dividing by zero which is no

[2021-02-08 14:03] vadim-ushtanit opened #19400 "HistGradientBoostingRegressor with 'least_absolute_deviation' loss function and sample_weight raises ValueError: `indices` and `arr` must have the same number of dimensions"
#### Describe the bug
`HistGradientBoostingRegressor` with `least_absolute_deviation` loss function raises ValueError on `fit` call with `sample_weight` parameter.

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown.

#### Actual Results
[code]

#### Versions
Output from `sklearn.show_versions()`:
[code]

#### Possible bug location
It seems like bug in `sklearn.ensemble.

[2021-02-08 16:58] elDan101 commented on #19393
There seems to be a scikit-learn compatible implementation:

https://github.com/lmcinnes/umap

[2021-02-08 17:25] zitorelova commented on #19334
I'll work on `test_iforest_with_uniform_data`

[2021-02-08 18:00] jovo commented on #19338
@amueller @NicolasHug What do you think?

[2021-02-08 20:51] glemaitre commented on #19389
X can be an array-like. I am not sure what are you suggesting. If this is a usage question, please open a discussion on GitHub discussion.

[2021-02-08 20:51] #19389 closed

[2021-02-08 21:26] amansinha09 commented on #19389
Sorry of the confusion, my question was regarding - X consisting of multiple inputs. For example X = [X_geomtry, X_freq], dim of X_geometry (#samples, feature_length1) and dim of X_freq is (#samples, feature_length2).

[2021-02-08 21:51] glemaitre commented on #19389
In scikit-learn, we expect an array-like of shape (n_samples, n_features) -> https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html#sklearn.model_selection.GridSearchCV.fit

[2021-02-08 22:29] poojitharamachandra opened #19404 "Cluster shape in agglomerative clustering"
Hi,

Is there already a way to calculate the shape of the clusters after the data points are assigned cluster values?
Eg : spherical, rod-like, ribbon-like ,spiral etc.

[2021-02-08 22:37] MaltchineLearning opened #19405 "How to create custom distance function with multiple arguments?"
To create a distance function for sklearn, I need a function that takes two one dimensional array as the input and return a distance a the output.
I want to try different distance functions from the paper Similarity Measures for Categorical Data: A Comparative Evaluation. Some of the need extra information about the data.

Lets take the hamming distance as an example and assume that x is label enc

[2021-02-09 05:42] david-waterworth commented on #19394
Yes you're correct, my understanding is

TPR = TP / (TP+FN)

If there are no positive cases you cannot get any true positives or false negatives so TPR is undefined.

[2021-02-09 05:42] #19394 closed

[2021-02-09 06:12] neelanjan00 commented on #9947
The implementation by @EvgeniDubov seems to be working consistently in the case of binary classification but in multi-class classification, I am always getting an error. Any help in this regard will be very much appreciated.

[2021-02-09 07:32] sharyar commented on #18338
If this is still open, may I work on this? I am a first-time contributor @lorentzenchr.

[2021-02-09 07:50] sharyar commented on #18338
take

[2021-02-09 07:53] NicolasHug commented on #19400
Thanks for the report and for the reproducible example, I can reproduce.

The fix is simply to update

[code]

to use `sample_weight[indices]`.

Would you like to submit a PR? We'd need a small non-regression test as well, your snippet above would be perfect (with a lower number of samples).

[2021-02-09 08:31] alfaro96 commented on #19405
Hey @MaltchineLearning,

This is a usage question. Please, open a discussion on `GitHub` discussion.

[2021-02-09 08:31] #19405 closed

[2021-02-09 08:57] #18076 closed

[2021-02-09 11:16] NicolasHug commented on #19338
I might be missing something but I think a `GridSearchCV` + custom scorer is what you need:

[code]

`(-15844.66444767653, {'covariance_type': 'spherical', 'n_components': 3})`

Unless there's a warm-start "path" that we can follow to optimize the computations (as in LassoCV etc.)?

(Side note, our docs about passing a custom scorer could be *a lot* better)

[2021-02-09 13:35] t-kusanagi commented on #19334
I'll work on `test_calibration_multiclass[0-True-isotonic]` in `sklearn/tests/test_calibration.py`

[2021-02-09 13:58] glemaitre opened #19410 "Improvement of PDP and ICE plotting"
Some discussions from a workshop on interpretation lead us to propose some potential improvements regarding the PDP and ICE plotting utilities.

Regarding PDP, it could be nice to get information regarding the distribution of the in-domain samples for a specific feature. Zhao and Hastie illustrate this in-domain values with a scatter plot in the [following paper](https://web.stanford.edu/~hastie/P

[2021-02-09 13:59] glemaitre commented on #19410
ping @dsleo in case that I am missing some of the point discuss during the sprint.

[2021-02-09 13:59] ogrisel commented on #18701
Interesting idea but I am not sure what the output would look like: a dict of `Bunch`, one for each scorer?

[2021-02-09 14:06] bdpedigo commented on #19338
Hi @NicolasHug, I work with @tliu68 on some of this work.

Mclust (and the implementation in Python that we've developed based on it) uses agglomerative clustering as one of the possible initializations to GMM - this is nice because the same initialization is used when sweeping over covariance types or any other model parameters, but also for varying `n_components`, because given one run of the ag

[2021-02-09 14:15] ogrisel commented on #18701
The caching mechanism of `sklearn.metrics._scorer._MultimetricScorer` should be reusable. This can be constructed using `sklearn.metrics._scorer import _check_multimetric_scoring` as used in `sklearn/model_selection/_validation.py` or `sklearn/model_selection/_search.py`.

[2021-02-09 14:18] glemaitre commented on #18701
I think that the minimal example to use the multi-scorer would be the following:

[code]
My intuitions would be to replace `_weight_scorer` to handle both single-scorer and multi-scorer in the permutation importance code. This might induce to reorder the way we store the score once `_weight_scorer` will be called.

[2021-02-09 14:21] gkaranikas commented on #19066
I don't think the linear cost of the BallTree query is a bug.

I think we shouldn't expect logarithmic behaviour when D = 512, because search algorithms that use distance are affected by the *curse of dimensionality*. In high dimensions, Euclidean (or L^p) distance is not a good metric for discriminating between data, which can be shown with concentration inequalities. Empirically, this paper [1]

[2021-02-09 14:51] jjerphan commented on #19283
Thanks for the details. It looks like `precompute` was set to `False` to handle sparsity: https://github.com/scikit-learn/scikit-learn/pull/19348 offers some clarification.

I would just remove [the mentions of `'auto'` in the docstring](https://github.com/scikit-learn/scikit-learn/blob/819c43cc7a1d7efab855e982a91e15be7aec7db1/sklearn/linear_model/_coordinate_descent.py#L942-L947) as its support i

[2021-02-09 14:56] simsim314 commented on #19066
@gkaranikas What's the point of ball tree then? It stated In the documentation stated, that kdtree has problems with curse of dimentionality this is why you need the balltree. From documentation:

To address the inefficiencies of KD Trees in higher dimensions, the ball tree data structure was developed. Where KD trees partition data along Cartesian axes, ball trees partition data in a series of ne

[2021-02-09 15:03] NicolasHug commented on #19338
If this is just a matter of initialization, could you simply pass `weights_init`, `means_init`, etc. to the estimator that gets searched over? Something like

[code]

So you're evaluating the BIC on the training data? I'm not able to confirm whether this is good or not but if so, you can definitely use a custom `cv` like so:

[code]

[2021-02-09 15:12] glemaitre opened #19413 "Improve documentation regarding some pitfalls in interpretation"
We have now a couple of tutorials in the `inspection` section of our documentation. We try to document the pitfalls regarding interpreting the output of the inspection methods. However, it seems that we could improve our discussions several aspects:

* we should emphasize that the inspection tools will always give us some insights regarding our model. However, if our model is not a good one (e.g.

[2021-02-09 15:30] ogrisel commented on #18701
@agnesbao could you share a bit more about why you need this? Is this for research or do you have practical application case in mind?

In particular, do you know of cases where different metrics yields very different importance rankings? I suppose this could potentially happen with metrics such as precision and recall on an imbalanced classification problem. If this is the case I would be curious

[2021-02-09 15:38] azihna commented on #14528
I'll also work on `examples/ensemble/plot_forest_importances_faces.py` now that the other one is merged.

[2021-02-09 15:38] tliu68 commented on #19338
Hello @NicolasHug! Thank you for your response!

Indeed, the agglomerative clustering assignments can be used to compute the weights_init, means_init, etc which one may not know beforehand.

In our proposal, yes, the BIC values are computed for all possible models built on the entire training data. But I do see your point of using `cv`. We will consider that. Again, thank you for your suggestions!

[2021-02-09 15:49] #10137 closed

[2021-02-09 15:52] #19283 closed

[2021-02-09 15:58] glemaitre opened #19414 "Remove the use of assert_warns and assert_warns_message from the tests"
(Saving this for the upcoming sprints, ideally)

Let's remove the use of `assert_warns`, `assert_warns_message`

These should be replaced with the pytest context manager:

https://doc.pytest.org/en/reorganize-docs/recwarn.html

[code]

For contributors: pick one of the modules, and please comment on this issue saying e.g. "I'm working on cluster/tests", to avoid other contributors choosing the sam

[2021-02-09 16:33] NicolasHug commented on #19338
Happy to help! If the suggested snippet above suit your needs, perhaps we  can close the issue?

[2021-02-09 17:15] rikturr commented on #14228
I would be interested in a docs page that has a list of all the algorithms that support parallelism with `n_jobs`. Specifically because its helpful to get a high-level glance at which algorithms might be able to utilize Dask for parallelism across a cluster. Would the [parallelism page](https://scikit-learn.org/stable/computing/parallelism.html#parallelism) be a good place for this, or perhaps a n

[2021-02-09 18:44] sam-s opened #19416 "KBinsDiscretizer creates wrong bins"
#### Describe the bug

when binning many identical values, `KBinsDiscretizer` fails to create the appropriate number of bins, complaining

#### Steps/Code to Reproduce

[code]

#### Expected Results

1. No errors or warnings.
1. The last expression should evaluate to `np.array([[0., 0., 0., 0., 0., 1., 1., 1., 2., 2.]])`

#### Actual Results

1. Warning:

2. The last expression evaluates to `np.ar

[2021-02-09 19:14] NicolasHug commented on #14228
@rikturr I'm not sure such a list would be in-scope for our docs: it would be easy to forget to update and the benefits aren't clear to me.

But you can get what you want by programmatically checking the signature of all estimators: https://scikit-learn.org/stable/modules/generated/sklearn.utils.all_estimators.html

[2021-02-09 19:45] rikturr commented on #14228
@NicolasHug thanks for the pointer. For anyone else that wants to do it, here's a quick snippet:

[code]

[2021-02-09 23:21] sharyar commented on #18338
Hi @lorentzenchr, I am not certain if this is the right place to ask. I am a first-time contributor. I love the library and it has helped me immensely in my studies so far. I was hoping to work on this issue as my first issue.
As far as I can understand, this issue requires that the documentation be updated, does that indicate the docstring within the function definition only, or is that referring

[2021-02-10 00:04] GuWenyuan commented on #17167
It is easy to reproduce in version `0.23.2` with one line
`classification_report([[0, 0], [0, 0]], [[0, 1], [0, 0]], output_dict=True)`

Since I see it has been fixed in latest version, I will close the issue.

[2021-02-10 00:04] #17167 closed

[2021-02-10 04:46] jnothman opened #19420 "Need less validation constraints for COCO"

[2021-02-10 04:47] #19420 closed

[2021-02-10 05:34] shivamgargsya commented on #19414
I am working on svm/tests/ .

[2021-02-10 05:51] DayneSorvisto commented on #18837
Hello is there any open work left on this one?

[2021-02-10 07:27] jjerphan commented on #18837
Hi @DayneSorvisto,

You can work on #18855.

[2021-02-10 07:42] dsleo commented on #19413
Thanks for opening the issue !

For the first point, we could give an example with synthetic data to show how controlling over different sets of variables leads to different coefficients which don't recover the "causal ones" _even_ if the learnt model has very good fit. I can try to craft an example.

For the second point, we could add to the [common pitfall in interpretation of coefficients of li

[2021-02-10 08:06] nuka137 commented on #19414
I'm working on `ensemble/tests`.

[2021-02-10 08:23] Lina647 opened #19423 "reducting dimentions with pca and tsne"
Hi everyone I have a problem when I try to execute my code and the error is because of the following statement:
reduced_features =features_ds.apply(ops.dim.tsne(n_dim=2))
AttributeError: 'TSNE' object has no attribute 'embedding_'
can any one help me

[2021-02-10 08:49] #19400 closed

[2021-02-10 08:54] glemaitre commented on #19423
Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal.

[2021-02-10 09:55] azihna commented on #19416
It seems like the problem is because of the strategy argument. The `quantile` strategy tries to have an equal number of samples in each bin. If you change the strategy to `uniform` instead, it matches the output you have shown.
[code]

[2021-02-10 10:44] gkaranikas commented on #19066
@simsim314 I think it's supposed to be better than KD trees when the dimension is "high" but not very high. For very high dimensions, I don't know if an exact nearest neighbors algorithm *can* escape the curse of dimensionality and maintain logarithmic performance.  I am aware that the documentation you quoted says "very high dimensions", but that might be misleading.

On another note, that quote

[2021-02-10 10:58] glemaitre commented on #19364
The PR solving this issue has been merged. Closing.

[2021-02-10 10:58] #19364 closed

[2021-02-10 11:06] glemaitre commented on #19305
take

[2021-02-10 11:19] glemaitre commented on #19305
I think this the best way. One can silence the warning by passing a list to `kind`.

[2021-02-10 13:17] simsim314 commented on #19066
@gkaranikas if very high which can't escape the curse of dimensionality is 50 then I think it should be mentioned indeed.

If you are certain there is no bug in the code, and no where there is no O(N) copy somewhere or any bug of the sort, then yes only the documentation should be modified.

Regarding **on highly structured data** - this means that **even** on structured data where usual KD Tree c

[2021-02-10 15:37] #18573 closed

[2021-02-10 18:06] MichalRIcar commented on #19285
Amazing! Just updated numpy and problem solved, amazing job, guys!
Truly respect how you see through things!!

[2021-02-10 18:23] lorentzenchr commented on #15601
#18510 and #18682 added `sample_weight` to `StandardScaler` for dense and sparse input.

[2021-02-10 18:23] #15601 closed

[2021-02-10 18:29] #19337 closed

[2021-02-10 19:20] rg666 commented on #18837
Hi, May I pick up #[18855](https://github.com/scikit-learn/scikit-learn/pull/18855)?

[2021-02-10 20:06] Data-Science-Link commented on #16529
This error still happened for me. The issue was zeros in my sample way np.array. I replaced the zeros with really small numbers. Fixed the problem. See code below:

Y = np.array([0.0001 if i==0 else i for i in Y])

[2021-02-10 20:45] lorentzenchr commented on #18338
@sharyar This is the perfect place to ask. Glad to hear you like scikit-learn. Contributions are always welcome.
I would start with opening a pull request (PR) and extend to docstrings of the classes `GroupKFold` and `LeaveOneGroupOut`. After that, we can figure out which test makes most sense, maybe based on my code snipped above.

[2021-02-10 21:25] simsim314 commented on #19066
I was thinking about a way to validate if this has something to do with curse of dimensionality or a bug in copying N elements. So I took D = 5, I guess this is low enough. I was matching 100K elements, and the matching time is still no where linear to Log(N). Yet does looks sub exponential,

![Match 100K (sec) vs  Log2 Num Points](https://user-images.githubusercontent.com/5075688/107574014-e69b5b

[2021-02-10 21:59] chucheria commented on #19294
Hey Nicolas,

Yes, although we are not talking about probabilities yet. For both algorithms (classification and regression) the result is the contribution of all trees.

Thanks for this, we were mistaken in using the impurity, we are now using the value in our method. The information of the value is what we were looking for to explain the decision of GB algorithms.

We are working on an specific e

[2021-02-10 22:16] hirzel opened #19431 "ExtraTreesClassifier documentation does not mention that oob_score requires bootstrap"
#### Describe the issue linked to the documentation

[ExtraTreesClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.ExtraTreesClassifier.html) and [ExtraTreesRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.ExtraTreesRegressor.html) raise an exception when `oob_score` is True but `bootstrap` is False. The documentation does not mention this r

[2021-02-10 22:57] NicolasHug commented on #19294
What exactly do you call the "result" for classification?

My point is that in classification, the raw values for the trees aren't homogeneous to a prediction. They're not a probability, and they're not a class either. They are homogeneous to a log-odds ratio for binary classification, and to something similar for multiclass classification. But they're not easily interpretable, less so than in reg

[2021-02-11 05:41] zitorelova commented on #19414
I am working on `cluster/tests`.

[2021-02-11 08:23] NicolasHug commented on #19431
That would not be possible as by definition, the out of bag samples are those that are left-out during the bootstrap procedure. When there's no bootstrap, there are no oob samples.

Note that this is somewhat documented in the UG:

But your suggested improvement to the docstring would be welcome @hirzel . Would you like to submit a PR? I believe other estimators like the RandomForest would also be

[2021-02-11 08:52] #18701 closed

[2021-02-11 08:56] glemaitre commented on #19431
I think that the documentation was meant in a way that user would know the relationship between OOB and bootstrap. But it is better to be explicit since it does not require a huge amount of explanation. Happy to see a PR on this.

[2021-02-11 09:10] david-cortes opened #19433 "KBinsDiscretizer produces wrong bins with repeated small values"
The `KBinsDiscretizer` will fail to produce quantile discretizations if the input data has most of its entries having the same value and corresponding to the first bin:

[code]
[code]
[code]

In this case, there's no reason why the last two elements could not be assigned to the highest bucket instead of being grouped with the rest.

[2021-02-11 12:07] glemaitre commented on #19335
Do we want to create a label instead of an issue. It would be easier to filter via github :)

[2021-02-11 12:10] jeremiedbb commented on #19335
don't you think that the milestone is enough ?

[2021-02-11 12:55] azihna commented on #19380
The tests work after downgrading to pytest 5.0.1 (the lowest acceptable version). I have found some other issues in pytest that people have this issue on windows or on Linux after some hotfixes ([example1](https://github.com/pytest-dev/pytest/issues/6517), [example2](https://github.com/pytest-dev/pytest/issues/3555)). I think it might be better to raise it up with the pytest team.

[2021-02-11 12:59] glemaitre commented on #19335
Yes you might be right.

[2021-02-11 13:17] DelgadoPanadero commented on #19294
Yes, with "results" we mean the output of the predict function. We also know that the value of each node does not have a direct effect on the results (they are not homogenous as you mention) however there is a correlation, a positive value, means a positive contribution to the result (because of the residual learning). Moreover this is true for both, classification and regression.

Our key point i

[2021-02-11 13:39] glemaitre commented on #18708
We did this part in the documentation and added to Travis the way to create the wheel for this platform.
We can safely close this issue.

[2021-02-11 13:39] #18708 closed

[2021-02-11 13:42] azihna commented on #19433
There actually is a very similar issue lately #19416.
The problem is due to the strategy you are using.  Quantile tries to create bins with equal sizes, you can get the correct output by using `uniform` strategy.
[code]

[2021-02-11 14:26] bdpedigo commented on #19338
Just to briefly clarify the mclust algorithm, loosely speaking (what we are proposing to implement here):

1. run agglomerative clustering (with different options for linkage, affinity, etc.) to generate a set of initial labelings. The same run of agglomerative clustering can be used for various levels of `n_components`.
2. fit `GaussianMixtures` using the various different parameters. roughly thi

[2021-02-11 14:27] david-cortes commented on #19433
But usually the reason why one wants to use the quantile strategy is because the distribution to be transformed is skewed or multi-modal or something like that, for which uniform is not useful.

Also in that example the right output would be to assign the last two observations to the same bucket, since values greater than zero constitute less than a third of the input.

[2021-02-11 14:41] NicolasHug commented on #19294
Yes, a concrete example of insights that one can draw from the analysis of your proposed method would be helpful to convince us that this would be a useful addition.

For now I'm sorry but I'm having a hard time understanding how `decision_path` could help

[2021-02-11 15:56] designer1234 commented on #19304
hi @lorentzenchr can I start working on this?

[2021-02-11 16:14] #19404 closed

[2021-02-11 16:37] azihna commented on #19433
The main difference between uniform and quantile is that quantile calculates the edges based on quantiles and uniform based on column minimum and maximum.
If you calculate the quantiles for the array you have given:
[code]
Because of these quantile results, the output will be one single bucket.

Uniform calculates the bin edges as:
[code]
The example that you have too many repeated values so the q

[2021-02-11 16:51] lesteve commented on #19376
Given the stack-trace I am pretty sure @thomasjpfan is right, so I am going to close this one. @Elamraoui-Sohayb please do comment if that does not fix your problem.

In general weird errors like this are coming from old pickles in `~/scikit_learn_data` and can be fixed by deleting `~/scikit_learn_data` and reexecuting the code using `sklearn.datasets.fetch_*`

If you want to know the dataset fold

[2021-02-11 16:51] #19376 closed

[2021-02-11 17:03] david-cortes commented on #19433
Sorry, not sure if I'm misunderstanding the transformer or the example.

In this case, the quantiles would be:
`[0, 0, 2]`
Which assuming right interval should translate into:
`(0,0], (0,0]{redundant and impossible}, (0,2]`
Since zero is already included in the first bucket, the rest should re-adjust into:
`(0,0), [0, 2]`
Expanding the edges to work with new values, I assume they should be transfo

[2021-02-11 17:11] azihna commented on #19433
That is a valid point. As far as I can see from the current implementation the values outside of the range of the columns are not considered.
Maybe someone from the team knows more about the function design decisions here.

[2021-02-11 17:23] david-cortes commented on #19433
Also an example with code of what I'd expect it to do:
[code]
[code]
[code]
[code]

[2021-02-11 18:11] cmarmo commented on #19306
Hi @MovGP0 , thanks for reaching out. scikit-learn developers provide the wheel package to be installed via pip. How and when the window register is modified or admin rights are necessary depends on the python installation and configuration (in particular on pip behaviour) not on the scikit-learn wheel. Have you tried to install any other python package from pip? Could you install it without admin

[2021-02-11 18:12] thomasjpfan commented on #17966
Running the snippet on main gives:

[2021-02-11 18:14] rth commented on #17966
Yes, that's why it would be nice to have a minimal reproducible example that doesn't use huge floats. As it does look like there is a code path that triggers the above AttributError.

[2021-02-11 18:26] TrusovOleg opened #19441 "Please help, after importing the library output error in google colab notebook/kaggle notebook/ local jupiter notebook"
Example:
from sklearn.semi_supervised import SelfTrainingClassifier

[2021-02-11 18:26] TrusovOleg commented on #19441
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-10-587dcf559855> in <module>
----> 1 from sklearn.semi_supervised import SelfTrainingClassifier

ImportError: cannot import name 'SelfTrainingClassifier' from 'sklearn.semi_supervised' (/opt/conda/lib/python3.7/site-packages/sklearn/

[2021-02-11 18:27] IchiruTake commented on #19393
Actually, installation of new package will make it harder to load them up and get the code active. Embedding into scikit-learn would be appropriate solution

[2021-02-11 18:36] lorentzenchr commented on #19304
@designer1234 This issue is currently taken by @pk1130 as you can see under *Assignees*. So you can ask him and offer our help.

[2021-02-11 18:49] TomDLT commented on #19441
SelfTrainingClassifier is available starting from version 0.24. You might need to update scikit-learn.

[2021-02-11 19:05] TrusovOleg commented on #19441
It doesn't work

[2021-02-11 19:45] TrusovOleg commented on #19441
these libraries are run without problems :

semi_supervised.LabelPropagation
semi_supervised.LabelSpreading

[2021-02-11 20:18] TomDLT commented on #19441
Please run `import sklearn; sklearn.show_versions()` as mentioned in the issue template.

[2021-02-11 20:46] TrusovOleg commented on #19441
System:
    python: 3.6.9 (default, Oct  8 2020, 12:12:24)  [GCC 8.4.0]
executable: /usr/bin/python3
   machine: Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic

Python dependencies:
       pip: 19.3.1
setuptools: 53.0.0
   sklearn: 0.22.2.post1
     numpy: 1.19.5
     scipy: 1.4.1
    Cython: 0.29.21
    pandas: 1.1.5
matplotlib: 3.2.2
    joblib: 1.0.0

Built with OpenMP: True

[2021-02-11 20:47] TrusovOleg commented on #19441
even after installation, the version is old
pip install scikit-learn==0.24.1

Requirement already satisfied: scikit-learn==0.24.1 in /usr/local/lib/python3.6/dist-packages (0.24.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn==0.24.1) (1.0.0)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from scik

[2021-02-11 20:58] hirzel commented on #19431
Thank you @NicolasHug and @glemaitre, I will create a PR. I will also look through other estimators to test which ones raise the same exception, and update their docstrings if needed.

(I noticed @icky254 that you also created a PR, but since you closed that without merging, the issue is still to be addressed.)

[2021-02-11 21:02] glemaitre commented on #19431
By `git grep`, it seems that only the `_forest.py` and `_bagging.py` module contain `oob_score` option.

[2021-02-11 22:26] ogrisel commented on #18849
@Bougeant In #19415 we are reworking the quantile regression example to show how to tune the hyper-parameter of a quantile regression model for a specific percentile.

https://132468-843222-gh.circle-artifacts.com/0/doc/auto_examples/ensemble/plot_gradient_boosting_quantile.html

It's very interesting to observe that for non-symmetric noise model with large outliers but no small outliers in the ta

[2021-02-12 04:14] TomDLT commented on #19393
The `umap` package linked above is well maintained and follows scikit-learn's API; I don't see immediate interest in implementing the UMAP algorithm in scikit-learn.

[2021-02-12 05:03] gkaranikas commented on #19066
@simsim314 you said:

I'm afraid this is not true. In fact, it's the opposite.  If your data is uniformly distributed then **most points are close to the boundary of the ball** in high dimensions, i.e. it is extremely likely that q is in the "gray area of radius".

Here's the reasoning. Consider a D dimensional ball of radius 1.  The proportion of its volume within a distance of say 0.01 from its

[2021-02-12 07:42] shivamgargsya commented on #19414
I am working on linear_model/tests.

[2021-02-12 08:53] #19316 closed

[2021-02-12 09:03] #19311 closed

[2021-02-12 09:43] lesteve commented on #19441
@TrusovOleg 99% chance that this is a problem on your end. Possible explanations:
- you have not restarted your Jupyter kernel after installation (probably not this, but mentioning it just in case)
- the Python you are using in your Jupyter notebook is not the one where you have installed the latest version of scikit-learn. `import os; print(os.__file__)` for example will show you the Python you a

[2021-02-12 09:44] lesteve commented on #19441
I am going to move this to a Github Discussion, because this is with super-high probability not a bug in scikit-learn.

[2021-02-12 09:45] #19441 closed

[2021-02-12 10:03] bravegag opened #19447 "SVC's predict_proba returns the same probability for wildly different x_test inputs"
I'm using `scikit-learn` version 0.24.1.

I suspect some form of memoization or extreme low sensitivity happening in the SVC `predict_proba()` implementation whereby once a SVC model is built from a Pipeline with inputs scaling preprocessing and calibration and when setting the `random_state` argument; I get the exact same predicted probability for wildly different inputs.

I also checked the `dec

[2021-02-12 10:52] lesteve commented on #19306
My semi-random guesses:
- the file too long is annoying I am guessing that other packages may have this problem, maybe we should investigate a bit more if there is a good way to avoid this problem. Note this folder is for test data, we could decide not to include it in the wheel, although sometimes it is reassuring to be able to launch the tests inside the wheel (install wheel + `pytest --pyargs`)

[2021-02-12 11:02] cmarmo commented on #19306
@lesteve , as a side note this is a [known and documented issue](https://docs.python.org/3/using/windows.html#removing-the-max-path-limitation).

[2021-02-12 14:02] simsim314 commented on #19066
@gkaranikas
I've shown the same bug for D=5.

[2021-02-12 14:15] glemaitre commented on #19447
Could you provide the 2 output functions output. I don't recall how  SVM is creating probability but it could be a corner case that it is not that surprising.

[2021-02-12 14:21] bravegag commented on #19447
@glemaitre thank you! the implementation is based on the Platt scaling and it is calibrating logistic function parameters as part of the CV. The `random_state` ensures deterministic probabilities along separate runs e.g. for back-testing otherwise each run will come up with slightly different probabilities.

[2021-02-12 14:23] bravegag commented on #19447
I thought about that, this would be the case when the predicted classification is deep into a class i.e. the distance from the point to the decision boundary is large. However, in my actual use-case the issue reveals itself when I have a 0.44 probability i.e. not so far away from the decision boundary.

[2021-02-12 15:11] ogrisel opened #19448 "Investigate and document pitfalls with permutation importance on imbalanced classification problems with non-independent features"
While working on the review of #19411, @glemaitre found out that the permutation importance ranking for different metrics (accuracy, balanced accuracy, precision, recall) could vary a lot on imbalanced classification problems.

Perhaps more surprisingly, it is possible to train models with some features that have very significantly negative importance for some features: the permutation of those fe

[2021-02-12 16:57] sharyar commented on #18338
@lorentzenchr, you mean to create a pull request after I have updated the docstrings for the two functions right?

[2021-02-12 17:51] GrzegorzRut commented on #16240
https://orsociety.tandfonline.com/doi/full/10.1057/jors.2014.103 has more than 200 citations, was published over 5 years ago,
MSLE is an improvement over MAPE

[2021-02-12 17:51] ogrisel commented on #18540
On top of estimation error (overfitting), there could also be approximation error (underfitting) caused by the inductive biais of the trees and their hyperparameters (for instance with shallow trees).

[2021-02-12 18:01] NicolasHug commented on #19447
*If* there is an issue, it's probably related to `decision_function`, not `predict_proba` (since the proba comes from the calibration of the deciison function as previously noted). Also, we should have `decision_function(x1) == decision_function(x2) iff predict_proba(x1) == predict_proba(x2)`.

This is quite surprising because `random_state` only affects the calibration, not the decision function.

[2021-02-12 19:14] vmdhhh opened #19449 "Wouldn't it be great if fit() from GaussianNB() also accepted 'X' as sparse matrix?"
#### Describe the workflow you want to enable
For now, `fit()` method from `GaussianNB()` does not accept sparse matrix for `'X'`. If passed, it gives the warning to convert it into a dense array using the `.toarray()` method.
#### Describe your proposed solution
the `fit()` method should accept sparse matrix like `fit()` from `MultinomialNB()`
#### Describe alternatives you've considered, if rele

[2021-02-12 22:15] maikia opened #19450 "linear_model with normalize and StandardScaler lead to faulty results with weighted constant features"
When testing the results of the linear models with `normalize` set to True and `sample_weight` in the PR [in the PR](https://github.com/scikit-learn/scikit-learn/pull/19426#issuecomment-777822035) #19426 we noted that for the sparse data the result is not correct in the case when there is a constant non-zero feature, for example:

[code]

The normalization is close to 0 but never exactly 0 due to

[2021-02-12 23:50] AuSpotter commented on #17087
Are mixed data types now supported by IterativeImputer? My impression from the [DOCS](https://scikit-learn.org/stable/modules/impute.html) is no

[2021-02-13 00:02] adriangb commented on #17087
I don't think so. From discussion here and on Gitter, a good point was made that it may work just as well to consider missing categorical data as it's own class, so you may want to try that first.

It might help to have more use cases for mixed data types in IterativeImputer. Do you have a concrete dataset/problem in mind?

[2021-02-13 00:39] nuka137 commented on #19414
I'm working on `sklearn/model_selection`,

[2021-02-13 01:20] AuSpotter commented on #17087
OK, so in that case it likely makes sense (in my use case) to impute missing data (regression) and then separately use any supervised prediction approach for the categorical data.

I'm working with geological data - geochemical analyses (numerical) and rock type (categorical). The mix of missing data is extremely common in my discipline, but I'm not aware of anyone working to use round-robin metho

[2021-02-13 05:33] eduardo4jesus opened #19451 "Bug with early stop and n_iter_no_change when training Model"
As far as I could search, I didn't find information on this bug. Not sure if I used the right keywords, but here we go...

#### Describe the bug

I am training a model. After 6 epochs the training is interrupted. According to the [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDRegressor.html#sklearn.linear_model.SGDRegressor) the early stop is `False` by d

[2021-02-13 06:07] eduardo4jesus commented on #19451
I just noticed that when using a pipeline, the model works nicely.

[code]

**Output**
[code]
<a href="https://imgbb.com/"><img src="https://i.ibb.co/6HHrKrr/download-2.png" alt="download-2" border="0"></a>

Am I missing some initialization step when training without the assistance of a pipeline?

[2021-02-13 07:05] Lina647 commented on #19423
@glemaitre thanks I will provide my code:
from jange import ops, stream, vis
ds = stream.from_csv(
"D:\\Special work\\الخنبشي\\Data\\bbc.csv",
columns="news",
context_column="type",
)
print(ds)
# %% Extract clusters
# Extract clusters
result_collector = {}
clusters_ds = ds.apply(
ops.text.clean.pos_filter("NOUN", keep_matching_tokens=True),
ops.text.encode.tfidf(max_features=5000, name="tfidf"),
o

[2021-02-13 13:08] desch142 opened #19452 "[QUESTION] precision_recall_curve with softmax output and 0 label as positive class"
Hi everybody,\
i want to evaluate my model using the precision recall scores, because my data is unbalanced. Since I have a binary classification I am using a softmax at the end of my NN.
The output scores and true labels look something like :
[code]
Where ```y_score[:,0]``` corresponds to the probability of class 0.\
My *positive labels* are **0** and thus the *negative labels* are **1** in my ca

[2021-02-13 17:02] lorentzenchr commented on #18248
Admittedly, I've no opinion on `friedman_mse`. I wouldn't mind changing nor leaving as is.

[2021-02-13 21:58] jnothman commented on #18248
Might be a question worth opening to the wider community, though I think "squared error" and "absolute_error" are quite clear

[2021-02-13 22:06] jnothman commented on #16240
It might be helpful to have MSLE in our metrics module before trying to make it available as a tree criterion.

[2021-02-13 22:47] cmarmo commented on #19452
Hi @desch142 , thanks for reaching out. You are asking a usage question. The issue tracker is for bugs and new features. Github [discussions](https://github.com/scikit-learn/scikit-learn/discussions) are now enabled for the scikit-learn repository. I'm going to close this issue then and converting it to a discussion: feel free to follow-up there.

[2021-02-13 22:48] #19452 closed

[2021-02-14 05:59] mingwugmail opened #19455 "Q: call RandomForestClassifier.fit(X, y) multiple times on different (X, y), will it continue training, or will it start over?"
#### Describe the issue linked to the documentation

https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html#sklearn.ensemble.RandomForestClassifier.fit

Hi, suppose:

[code]

What I want to achieve is:
[code]

But in my app, the (Xn, yn) has to be generated in different loop.

Can we add this clarification to the doc?

Thanks

[2021-02-14 06:22] CCLDArjun opened #19456 "Non Maximum Suppression Feature Request"
I was wondering why non maximum suppression didn't exist in scikit?

#### Describe the workflow you want to enable

 - A function call with a list of predictions and their x,y coordinates as input as well as a threshold value
 - returns a list of predictions which pass the intersection over union compared to the threshold

#### Additional context

 - People could make it on their own since it's re

[2021-02-14 06:33] CCLDArjun commented on #19456
If accepted, I would be willing to make the feature

[2021-02-14 10:41] bravegag commented on #19447
This is a very interesting point. How can I compute `K(x1, x2)` using sklearn? if I can compute `K(sv, x1)` and `K(sv, x2)` and the outputs are identical then I would have my answer as this would mean that both points get the same value in the feature space and thus, would explain they are at the same distance from the decision boundary.

[2021-02-14 12:08] bravegag commented on #19447
I double-checked. I get the same `decision_function(...)` result when either setting `random_state=0` or not. This makes sense and should be the correct expected behavior. However, the probabilities for the two different samples `x_test1` and `x_test2` are the same in the case of `random_state=0` and different when not setting it.

Thank you! very good to know.

[2021-02-14 21:26] jnothman commented on #19456
Is this technique specific to computer vision? If so it would be out of scope for scikit-learn.

[2021-02-14 21:34] jnothman commented on #19448
I think this can be reasonably well understood in cases where false positives and false negatives are in a trade off. Is the core issue that permutation importance may use a different metric from the training objective? In what cases is that a problem?

[2021-02-14 22:35] ainesmile opened #19457 "PCA needs scaling?"
I think it is necessary for principal component analysis (PCA) to standardize features first, both removing the means and scaling to unit variance.

[2021-02-14 23:04] CCLDArjun commented on #19456
Oof, yeah it is

closing the issue!

[2021-02-14 23:04] #19456 closed

[2021-02-15 02:50] #19457 closed

[2021-02-15 07:56] NicolasHug commented on #19447
That sounds strange... I'm not sure how this can happen. The transformation from `decision_function` to `predict_proba` is supposed to be a simple sigmoid. Perhaps `libsvm` is doing something we don't know yet.

There's no built-in public function but you're using an rbf kernel with a specific `gamma` value, so it can be written in just a few lines (you may refer to the docs)

`decision_function`

[2021-02-15 08:05] alfaro96 commented on #19455
Hi @mingwugmail, thanks for reaching out. You are asking a usage question. The issue tracker is for bugs and new features. `GitHub discussions` are now enabled for the `scikit-learn` repository. I am going to close this issue then and converting it to a discussion: feel free to follow-up there.

[2021-02-15 08:05] #19455 closed

[2021-02-15 09:09] NicolasHug commented on #19451
Our doc is bad here but this isn't related to early-stopping: when `early_stopping` is False, the loss improvement is checked against the training loss. `n_iter_no_change` is relevant whether or not there is early stopping.

Now, the criteria for checking against the training loss is:

[code]

So in your plots above, the min loss is the first one and the rest of the loss values are never below thi

[2021-02-15 11:40] NicolasHug commented on #17341
It's been a while, this is probably not relevant anymore so I'll close and unpin the issue

[2021-02-15 11:40] #17341 closed

[2021-02-15 12:22] hirzel commented on #19431
Hi @NicolasHug and @glemaitre, I have created a [PR](https://github.com/scikit-learn/scikit-learn/pull/19444) that addresses this issue and passes all tests. Is there anything else I should be doing from my side before it can be merged?

[2021-02-15 13:48] pk1130 commented on #19304
Hey @lorentzenchr! Apologies for the delay in getting around to this. Opened a pull request like you'd suggested. Done everything other than expanding the test suite. Let me know what you think and whether you'd be able to review. Thanks!

[2021-02-15 14:12] hirzel commented on #19431
Thank you for merging the PR!

[2021-02-15 14:12] #19431 closed

[2021-02-15 15:47] agnesbao commented on #18701
Thanks for adding in the feature! I had tried a simple workaround modification on that mainly for research. We were testing feature importance based on concordance index, roc-auc, logloss, and simply prediction change. The big pictures are usually the same, but for features close to each other, the order will be different, partly due to permutation as well. This is handy because we would like to b

[2021-02-15 16:02] ghost opened #19465 "Passing fitting parameters to transformers of ColumnTransformer"
As for now, the fit-transform method of Column-Transformer does not accept fitting-parameters. In contrast, the fit-transform method of the Pipeline class does [(link)](https://github.com/scikit-learn/scikit-learn/blob/95119c13a/sklearn/pipeline.py#L350)

Implementing this feature would enable passing fitting parameters to a pipeline that contains a transformer inside a column-transformer in the s

[2021-02-15 16:03] asaadeldin11 commented on #18177
@thomasjpfan thank you for the feedback! Continuing the conversation from the [scipy issue](https://github.com/scipy/scipy/issues/13486), how would we like this functionality to be incorporated into sklearn? Since these embeddings are specifically meant for graph represented data would you like a seperate `graph_spectral_embedding` function in `sklearn.manifold`? Or would you like this to be withi

[2021-02-16 06:58] Bougeant commented on #18849
Really cool. It does make a lot of sense that the predicting two percentiles with different levels of noise would require different  amount of over/under-fitting.

[2021-02-16 16:11] dkobak opened #19471 "Underflow issues in the Cython perplexity search code used in t-SNE"
The `_binary_search_perplexity` function in https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/manifold/_utils.pyx uses several `float` variables that cause underflow and incorrect t-SNE results on some datasets.

Two reproducible examples:

[code]

This outputs
[code]

My student @xwymary with help by @pavlin-policar tracked down the bug to `float` definitions in lines 54--65. Replaci

[2021-02-16 18:11] sam-s commented on #19416
Thank you for your kind reply.
I am not sure, however, that this is the right approach to the issue.
`quantile` is supposed to make _All bins in each feature have the same number of points_.
This *should* produce the output I am asking for.
`uniform` is supposed to make _All bins in each feature have identical widths_.
This is definitely *not* what I want.
E.g., consider the following:
[code]
I de

[2021-02-16 19:07] azihna commented on #19416
Thank you for the more detailed reply and the example. I understand your problem, there actually was a very similar question to yours at #19433 where we discuss a little more about how the edges of the bins are calculated in the quantile and uniform strategies. I feel like that might answer your question a bit better.

[2021-02-16 19:27] sam-s commented on #19416
Thank you for the link, I agree that the bugs are related.
Do you think this will be fixed in the observable future or do I need to reimplement the `quantile` strategy myself?

[2021-02-16 21:52] sam-s commented on #19416
Additionally, I don't see how `strategy="quantile"` can _legitimately_ result in this `bin width too small` behavior.
Specifically, consider the following:
[code]
It results in `X0` being all `-1` and the `bin width too small` warning.
The correct behavior (as per the definition of `quantile`) is to map negative numbers to `0`, `0` to `1` and positive numbers to `2`.

PS. Yes, I know I am asking f

[2021-02-16 22:00] dkobak commented on #18018
@TomDLT I looked at this again now.

Regarding the learning rate (point 4 above): the current default (learning rate = 200, corresponding to 800 in other t-SNE implementations) is probably fine for datasets with sample size up to around n=100k. At least it works well on MNIST. On MNIST one often gets into bad local minimum with learning rate 200 (so "scikit learning rate" 50), but 800 works fine.

[2021-02-16 23:04] YifanXu1999 commented on #19423
Would you like to provide your CSV file?

[2021-02-16 23:29] TomDLT commented on #18018
Even if we do not address all the points, it is worth writing something in the documentation.

For points 2 and 3, I agree the linked paper is a sufficient motivation for the change.

[2021-02-17 06:36] Okroshiashvili opened #19475 "Extra word in LOF docstring"
#### Describe the issue linked to the documentation

There is an extra word in `Local Outlier Factor` docstring on lines 116-117.

[Here is a link](https://github.com/scikit-learn/scikit-learn/blob/b251f3f818e8d3cdb7ef843006d19da87755d444/sklearn/neighbors/_lof.py#L116)

#### Suggest a potential alternative/fix

Just remove it :)

[2021-02-17 08:46] NicolasHug commented on #19475
thanks @Okroshiashvili , for such cases feel free to open a PR directly without opening an issue ;)

[2021-02-17 08:58] Okroshiashvili commented on #19475
That's great @NicolasHug  I'll open PR

[2021-02-17 09:19] azihna commented on #19416
I am not completely sure whether to see these as bugs.
For the first example, let's calculate the edges of the bins:
[code]
The quantiles of your data shape up to be exactly as the output shows. Would it be possible to show how you would implement bin calculation for your first two examples?

Second example:
In the docs, it says that any bins that have a width less than 1e-8 will not be considered

[2021-02-17 13:25] AidarShakerimoff commented on #19021
take

[2021-02-17 13:41] #19475 closed

[2021-02-17 15:41] marcosfelt opened #19478 "ColumnTransformer.named_transformers references non-existent method when used in cross_validate + pipeline"
ColumnTransformer has a `named_transformers_` attribute which should give access to transformers in namespace. Currently, [this method](https://github.com/scikit-learn/scikit-learn/blob/95119c13af77c76e150b753485c662b7c52a41a2/sklearn/compose/_column_transformer.py#L348) points to the wrong transformer property (`transformer_` instead of what it should be `_transformer`).

**Minimal Example**
This

[2021-02-17 15:49] sam-s commented on #19416
I understand that it is hard to implement, i tried it myself ;-(

[code]

This works well enough for my cases (where the data is either result of `value_counts` or a continuous sample.)

[2021-02-17 15:53] sam-s commented on #19416
As for the hard-coded `1e-8`, I have no words ;-(
IMHO, this should be a parameter of `KBinsDiscretizer` which can be `0` to mean disable the warning altogether (and that should be the default).

I am chagrined that you disagree that this is a bug, but I appreciate your candidness. I guess I will have to work around it.

Thank you very much for your insight.

[2021-02-17 17:18] alfaro96 commented on #19478
I am not getting your point. The error that you are reporting is:

[code]

because you are using the wrong call. It should be:

[code]

instead of:

[code]

since `preprocessor` is an instance of `ColumnTransformer` and it provides the `named_transformers_` attribute instead of `named_steps`.

[2021-02-17 17:58] azihna commented on #19416
For 1e-8, the reasoning seems like that small values might cause numerical instability in a lot of applications (see [link](https://github.com/scikit-learn/scikit-learn/blob/4d60a815d84531ba91bf097e9c814460113a7b72/sklearn/preprocessing/_discretization.py#L296)).  If your data is at that scale it might be better to normalize it or if there are very wildly different scales in the column than doing

[2021-02-17 19:47] mathildejutras opened #19479 "Memory errors with Kernel PCA: Incremental Kernel PCA?"
#### Describe the bug

Hi,
I am trying to carry a Kernel PCA on a very large dataset (80 000 points). Using the `sklearn.decomposition.KernelPCA` function, this leads to a memory error, as the algorithm would need to create a 80 000 xx 80 000 matrix.
The `IncrementalPCA` function seems to be able to solve that kind of problem and to deal with large datasets, but it is not implemented to use with k

[2021-02-17 21:09] david-cortes commented on #19416
But that's for `uniform` and similar. With quantiles this is (or is supposed to) be obtained through a bisection (binary search) across the edges, which doesn't suffer from numerical precision like that.