[2017-08-31 11:58] massich commented on #9652
Actually I came across this couple weeks ago when I started playing with pytest.
[an awesome list](https://github.com/The-Compiler/awesome-for-beginners) of projects with issues with label first contribution. Each project treat the this **first contribution** class in different maners.

[2017-08-31 13:04] NathanWycoff opened #9661 "LatentDirichletAllocation: Modernization of Inference"
Firstly, I'm rather new around here; I hope this is the correct place for proposing replacement of algorithms. If it isn't, it would be awful kind of someone to point me in the right direction.

#### Summary
LatentDirichletAllocation uses a very old (2003) algorithm to estimate its parameters. I tried using the sklearn function for my research, but found that it was unsatisfactory compared to newe

[2017-08-31 14:24] lifesthateasy opened #9662 "sklearn.preprocessing.LabelEncoder() get_params() returns empty?"
#### Description
Labelencoder doesn't "remember" parameters? When I fit and transform data with it then ask for the parameters, all I get is {}. This makes it impossible to re-use the encoder on new data.

#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results
Not sure about the intended format, but should be something like```{['one', 0], ['two', 1], ['three', 2]} ```

#### Actual Re

[2017-08-31 15:44] chenhe95 commented on #9662
if you do `encode.classes_` you get `array(['one', 'three', 'two'], dtype='|S5')`
Which scikit-learn transforms by using binary search into the array to find the matching index.
There might be a reason why dict is not used but I don't really know enough about that.

[2017-08-31 16:14] albertcthomas commented on #9497
LinearSVC is indeed random (when dual=True) as explained for LogisticRegression (see [comment](https://github.com/scikit-learn/scikit-learn/issues/4760#issuecomment-105932019)). And this randomness is controlled by `random_state`. However, the docstring of `random_state` in SVC and LinearSVC is exactly the same whereas in SVC it controls the randomness of the probability estimation. Should we make

[2017-08-31 17:07] rth commented on #6468
This issue should have been fixed in https://github.com/scikit-learn/scikit-learn/pull/6785 with the corresponding update available in the newly released 0.19 version.

[2017-08-31 17:59] agramfort commented on #9497
don't document a random_state if it is ignored. Can you just remove it with
proper deprecation?

[2017-08-31 22:35] Steve132 commented on #4917
Is there room to un-deprecate it?  For example if an alternative implementation comes along?  I will run benchmarks obviously, but I have my own implemention of this that should significantly outperform flann and annoy, especially on my datasets.

[2017-08-31 23:09] erikbern commented on #4917
take a look at https://github.com/erikbern/ann-benchmarks – interested in hearing your results

[2017-08-31 23:28] milroy commented on #8995
In my experience the selected set of variables is unstable, particularly when varying n_resampling.  I don't believe this parameter is mentioned in Meinshausen and Bühlmann, 2010.  @GaelVaroquaux in your experience, which other parameters produce varied results?

Can you list a few papers?  That would be really helpful for my research.

[2017-09-01 00:04] GKjohns commented on #9580
Working on this now. Would it be worth writing a small set of new tests that are specific to this case and only running those on `SCV(kernel='precomputed')`?

The other option seems to be conditionally altering the test data for dozens and dozens of tests. Going forward, we would have to manually construct a Gram matrix for each new test (that depends on the original test data). This could add som

[2017-09-01 02:37] eickenberg opened #9665 "len for cross validation splitters?"
(Couldn't find a discussion on this, please tag one if there is.)

Is there any difficulty in getting a coherent output for `__len__` calls in the cross validation splitters?

In the old pre-run splitters there was a `__len__`, implemented, if I am not mistaken, by @agramfort

Is there any reason that comes to mind *not* to have this for the current splitters?

[2017-09-01 04:03] jnothman commented on #9665
because now we have separated the cv splitter parameters from its data, you
can't get the length without providing the data. get_n_splits therefore
replaces __len__.

On 1 Sep 2017 12:37 pm, "eickenberg" <notifications@github.com> wrote:

[2017-09-01 04:03] #9665 closed

[2017-09-01 04:49] jcrudy opened #9666 "The negative_gradient method of ExponentialLoss returns the positive gradient"
I've been experimenting with gradient boosting and noticed that the `ExponentialLoss` loss function has a minor bug.  The `negative_gradient` method actually returns the positive gradient of the loss function.  As far as I can tell, this doesn't affect fitting at all for the sklearn `GradientBoostingClassifier` because of the way `_update_terminal_region` works.  However, when using the loss funct

[2017-09-01 05:31] aksaw commented on #9113
What's the status on this? I could work on it if needed.

[2017-09-01 05:46] jnothman commented on #9661
I think this sounds like a good idea. However I don't think we would consider an implementation in C to be something we can readily maintain. Python, with some Cython when needed, is our usual strategy.

[2017-09-01 06:04] jnothman commented on #9662
`get_params` pertains to the construction parameters (also called hyperparameters) of the model,
 not parameters learnt from the data. The latter we store as attributes like `classes_`.

[2017-09-01 06:04] #9662 closed

[2017-09-01 06:16] jnothman commented on #4917
@Steve123, I don't think there's any point un-deprecating it as such. We might consider bringing in another implementation later, as long as API integration is improved.

Out of curiosity, is your implementation one of LSH Forest? Or some other ANN technique?

[2017-09-01 06:19] jnothman commented on #9113
It doesn't look like it's been addressed by a pull request yet.

[2017-09-01 07:19] mohdsanadzakirizvi commented on #9633
is anyone working on this? If no, I'd love to put a patch.

[2017-09-01 07:21] mohdsanadzakirizvi commented on #9574
is this issue open for contributing or already fixed?

[2017-09-01 07:42] lesteve commented on #9574
It looks like @pasbi has started working on it.

[2017-09-01 07:51] lesteve commented on #9633
Go for it.

[2017-09-01 07:56] lesteve commented on #9438
I think it is there already: http://scikit-learn.org/dev/developers/tips.html#display-code-coverage-in-pull-requests. Closing.

[2017-09-01 07:56] #9438 closed

[2017-09-01 07:58] ogrisel commented on #9429
Note: you can control the number of threads used by OpenBLAS or MKL by setting the `OPENBLAS_NUM_THREADS=4` and `MKL_NUM_THREADS=4` environment variables for instance.

[2017-09-01 08:00] ogrisel commented on #8631
Fixed by #9371.

[2017-09-01 08:00] #8631 closed

[2017-09-01 08:03] ngetahun commented on #9633
@mohdsanadzakirizvi I'm working on it. I'll submit a PR soonish.

[2017-09-01 08:24] ogrisel commented on #9632
The issue is about adding a new fetcher for a dataset called Fashion-MNIST.

[2017-09-01 08:29] #9286 closed

[2017-09-01 08:50] kmike commented on #8898
See also: https://github.com/scikit-learn/scikit-learn/pull/8027, https://github.com/scikit-learn/scikit-learn/issues/6024, https://github.com/scikit-learn/scikit-learn/pull/3436.

[2017-09-01 08:57] lesshaste commented on #3273
It would be great to see this added.

[2017-09-01 09:10] #9574 closed

[2017-09-01 09:14] lesteve opened #9667 "Improve y parameter documentation for transformers in sklearn.cluster"
Transformers have `y=None` for `Pipeline` compatibility. https://github.com/scikit-learn/scikit-learn/pull/9578 has added documentation for some of them to make clear that `y` is ignored in `.fit`.

@jnothman remark seems to indicate that the same could be done in `sklearn.cluster`
in https://github.com/scikit-learn/scikit-learn/pull/9578#pullrequestreview-56906433.

Potentially it would be good t

[2017-09-01 09:26] #9528 closed

[2017-09-01 10:01] rth commented on #6983
Here is an example of skip gram extraction in scikit-learn using a custom analyzer. This requires the `toolz` package and produces 1-skip-2-grams,
[code]

For instance, on [this Wikipedia example](https://en.wikipedia.org/wiki/N-gram#Skip-gram),
[code]
this would vectorizer would yield,

[code]

I don't think that this is necessarily something that belongs in scikit-learn, particularly since it ca

[2017-09-01 10:06] ogrisel commented on #9429
When using the anaconda MKL on a laptop with 2 physical intel cores I get the following timings for the above benchmark script (I remove the long running one). I use scikit-learn 0.19.0 with MKL from anaconda and openblas from conda-forge in two different conda environment:

[code]

[code]

So MKL is a bit faster but this is not such a big difference. I have not tried yet with the Intel Python dis

[2017-09-01 10:15] rth commented on #9429
@ogrisel They have patched scikit-learn to use their [Data Analytics Acceleration Library (daal)](https://software.intel.com/en-us/blogs/daal), see the diff in https://github.com/scikit-learn/scikit-learn/issues/9429#issuecomment-319104496. Also related to https://github.com/scikit-learn/scikit-learn/issues/9430 ...

[2017-09-01 10:28] rth commented on #1156
Since stemming is now documented via a custom analyser, and it seems unlikely that it would be built-in in scikit-learn maybe this issue from 2013 could be closed?

[2017-09-01 10:40] priidukull commented on #9393
I can confirm that the issue also occurs on a 64 bit Mac

2,4 GHz Intel Core i5
8 GB 1600 MHz DDR3

Python 3.6.1
numpy 1.13.1
scikit-learn master branch, last commit hash d6a42354145c92cf88093cbcc70b13f639319c38

[2017-09-01 10:59] souravsingh commented on #9429
@ogrisel Can you show the code which was used for conducting the benchmark? I can try to run the same benchmarks on the Intel python distribution

[2017-09-01 11:15] ogrisel commented on #9234
Fixed in 6e01feff14e2016253b5ada96964a1b5b6145128 from #9236. Thanks @minghui-liu and @andrewww.

[2017-09-01 11:15] #9234 closed

[2017-09-01 12:18] thechargedneutron commented on #9621
@amueller  We need to find print a warning before scoring training data, right? And 5s after starting an estimator, right? I am a bit confused. And I agree with the idea of changing the default to "warn".

[2017-09-01 12:31] valentjedi commented on #7770
So linux kernel update fixed this for me. In 4.something, I don't remember for sure, so I'll close this.

[2017-09-01 12:31] #7770 closed

[2017-09-01 13:16] petrushev commented on #9463
Since the only other sensible value would be `axis=0`, then this means we should probably deprecate the parameter completely?

[2017-09-01 13:43] lesteve commented on #9393
FYI, I can not reproduce on my OSX version with the same numpy version, Accelerate as well.

[2017-09-01 13:47] lesteve commented on #1156
Trusting you on this.

[2017-09-01 13:47] #1156 closed

[2017-09-01 14:13] lesteve opened #9673 "Test errors on numpy-dev"
We should probably fix them and backport the fixes for 0.19.1.

e.g.: https://travis-ci.org/scikit-learn/scikit-learn/jobs/270805508

[code]

Note they are different from the long-standing known doctest failures because of np.array format changes.

[2017-09-01 14:17] andrewww commented on #9234
Hmmm.... This was literally a make-or-break change to the code for me, i.e., the code was so slow I could not actually use it without this change (the change to the .einsum() call).

Only thing I can think of is: I'm on Windows 7 x64 / Anaconda 3.1.4. Doesn't numpy sometimes behave differently on different platforms? Maybe the Windows `einsum()` call is a lot slower than on Linux?

[2017-09-01 17:10] eickenberg commented on #9665
Well, there are quite a few cv splitters that intrinsically know their number of folds from the get-go.
I posted this because I had a hard time coming up with one who didn't contain this info in advance.
Later I realized that `LeaveOneLabelOut` would be one.

[2017-09-01 17:39] piccolbo commented on #8008
A knn graph is a directed graph and non symmetric, in general. If we need symmetry #6727 is a very reasonable solution, but not unique or natural. But it implements a new kernel. I don't think it's a matter of hacky or not.

[2017-09-01 17:53] piccolbo commented on #8008
Another comment is that symmetry does not imply reachability. Imagine two well separated k-clusters with the available labels all in one with a symmetryzed knn kernel. The label free cluster should remain unlabeled afaik.

[2017-09-01 20:57] Steve132 commented on #4917
It's an implementation of LSHForest with cosine distance and hyperplanes.

Actually I expect it to be comparable performance to falconn with
hyperplanes and cosine distance.  The falconn benchmark, however, is set to
euclidean distance and polytope mode in
https://github.com/erikbern/ann-benchmarks/blob/master/ann_benchmarks/main.py

self._params.distance_function = 'euclidean_squared'
self._param

[2017-09-02 00:32] jondo commented on #9494
For starters, I reproduced the issue in a unit test.
So you guys think that negative weights are not supported at all? I noticed however, that the IndexError only appears when _all_ weights of one class are negative. I also see this with the reporter's data: I can make it work e.g. by changing just the last weight to positive.

[2017-09-02 01:07] NathanWycoff commented on #9661
Great, I'll get cooking.

[2017-09-02 05:46] mohdsanadzakirizvi commented on #9666
I would like to submit a patch for this issue.

[2017-09-02 05:53] mohdsanadzakirizvi commented on #6827
I am new to Machine Learning but have experience with contributing to python projects. Can I take this up?

[2017-09-02 09:03] thechargedneutron commented on #9652
Yes, this would be really helpful for a beginner. As an absolute newbie, such a tag will be of great help.
Also, +1 to @jnothman 's idea of making it even simple to understand. :)

[2017-09-02 09:07] thechargedneutron commented on #9652
Also, for a newbie it's sometimes difficult to choose an issue even with easy tag. So, this would work.

[2017-09-02 10:42] GaelVaroquaux opened #9676 "Section level wrong in user guide"
The section level seems wrong in the user guide:
http://scikit-learn.org/dev/modules/cross_validation.html#cross-validation-iterators
What is currently 3.1.3 and 3.1.4 should be 3.1.2.1 and 3.1.2.2

This must be fixed by editing docs/modules/cross_validation.rst

[2017-09-02 13:39] thechargedneutron commented on #9673
Would changing `np.issubdtype(train_sizes_abs.dtype, np.float)` to `np.issubdtype(train_sizes_abs.dtype, np.floating)` do the work? Similarly changing `int` to `signedinteger`. I think it should.

[2017-09-02 15:44] thechargedneutron commented on #9673
I changed the above said lines and ran test on one of my pending PR, it doesn't give previous failures, but now raises something different. `/home/travis/build/scikit-learn/scikit-learn/sklearn/utils/__init__.py:93: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated.` is what I got. Can you suggest where else do I need to change in order t

[2017-09-02 16:53] rth commented on #9394
@andrewww Thanks for opening this issue. I can confirm your results (they are also true for the `MiniBatchSparsePCA`), and that in unit tests `sklearn/decomposition/tests/test_sparse_pca.py` the transform value does not seem to be validated as far as I could see.

How do you propose to make sure that your solution is correct? For instance, is there a case where `SparsePCA` should produce the same

[2017-09-02 17:01] rth commented on #4149
Issue continued in https://github.com/scikit-learn/scikit-learn/issues/2969 and https://github.com/scikit-learn/scikit-learn/issues/9545 ..

[2017-09-02 17:23] rth commented on #8809
The actual code that does the normalization is,
[code]
While for a row with zeros a warning will be raised, the `NaN` will be removed at the following line, so that's probably not the source of your error...

Yes, getting a ValueError about `NaN` is not such an unreasonable error while doing linear algebra with an ill posed matrix..

[2017-09-02 18:52] jcharit1 commented on #3298
Just checking in to see if there is any progress on adding multiclass support for AUC?

[2017-09-02 18:57] thechargedneutron commented on #9673
Last comment is sorted out. The only place where the error still remains is this : `/home/travis/testvenv/lib/python3.5/site-packages/scipy/sparse/csgraph/_laplacian.py`
The corresponding change has already been made in scipy library. Can you give me a hint on how to solve this?

[2017-09-02 22:36] jnothman commented on #9621
No, we can't print before scoring the training data. I'm not really
expecting users to stop the process if it's taking a long time, but to
understand that it is lengthened by the option, and to change the option in
the future. so even warning after all fits are done may suffice.

On 1 Sep 2017 10:18 pm, "Kumar Ashutosh" <notifications@github.com> wrote:

[2017-09-02 22:37] jnothman commented on #9463
yes

On 1 Sep 2017 11:17 pm, "Baze Petrushev" <notifications@github.com> wrote:

[2017-09-02 22:42] jnothman commented on #9665
yes, the leave*out ones primarily

On 2 Sep 2017 3:10 am, "eickenberg" <notifications@github.com> wrote:

[2017-09-02 22:54] #9157 closed

[2017-09-02 23:39] jnothman commented on #9666
I'm not sure that anyone from the core team has confirmed the issue yet,
but if you can identify it and test for correct behaviour, go ahead and
submit a patch.

On 2 Sep 2017 3:46 pm, "theuchiha" <notifications@github.com> wrote:

[2017-09-02 23:41] jnothman commented on #6827
There isn't consensus here among core devs, but if you submit a PR (to
modify cross_validate, not cross_val_score) then we will at least have
something concrete to consider.

On 2 Sep 2017 3:53 pm, "theuchiha" <notifications@github.com> wrote:

[2017-09-02 23:49] jnothman commented on #9652
Hmm... one problem with prefixing the labels is that links to
https://github.com/scikit-learn/scikit-learn/issues?q=is%3Aopen+label%3AEasy+is%3Aissue
will break :(

On 2 September 2017 at 19:07, Kumar Ashutosh <notifications@github.com>
wrote:

[2017-09-02 23:55] #9667 closed

[2017-09-03 00:20] kdhingra307 commented on #9545
@jnothman i have put a pull request, in which i address all of the test cases and also created a new function in utils/validation.py which checks for sparse indices, which is by default referenced from check_array only.

By default check_array blocks 64bit indices,but there is an option accept_large_sparse using which it can be bypassed

[2017-09-03 00:22] jnothman commented on #8809
A PR with a more specific error message is welcome.

On 3 September 2017 at 03:23, Roman Yurchak <notifications@github.com>
wrote:

[2017-09-03 10:21] rth commented on #2969
Actually, this is probably a non-issue, since SGD related estimators are likely to be trained in batches with `partial_fit` anyway; in which case scipy will downcast indices to 32 bit automatically...
[code]

[2017-09-03 11:05] jnothman commented on #2969
I'm sure people use SGD estimators for batch learning, so I don't think we
can get off that easy, unless I've misunderstood something.

On 3 September 2017 at 20:21, Roman Yurchak <notifications@github.com>
wrote:

[2017-09-03 13:07] shaz13 commented on #9676
Hi @GaelVaroquaux,
I would like to be assigned with this task.Please do guide me with further instructions. Thanks!

[2017-09-03 13:57] jnothman commented on #9580
I don't like the idea of contrasting pairwise with classifier/clustering/etc. I think altering the tests to provide a precomputed data matrix makes sense... but I'm not sure how to do so neatly. Could you have a go at doing that and submit a PR to see what it looks like in practice?

[2017-09-03 16:06] gionatarogiani opened #9680 "Feature Request: accept 0/1 as False/True in models"
I've been working with sklearn models and I noticed that for some of them (for example MLPRegressor) if 0/1 are passed instead of False/True, an error is raised. I don't know if this is an intended behaviour or just a missing feature.

I would like to thank you guys for the amazing work on sklearn, it is really an awesome package, keep uo the good work ;)

[2017-09-03 21:21] webber26232 opened #9682 "ExtraTrees consumes much more memory than RandomForest"
#### Description

When fit same data set to RandomForest and ExtraTrees with same n_estimators, ExtraTrees consumed much more memory than RandomForest (about 2 times). This occurs in both regressor and classifier.

#### Steps/Code to Reproduce

[code]
[code]

Then I applied the same experiment on DecisiontTree and ExtraTree, which are the base estimators of RandomForest and ExtraTrees, but didn't

[2017-09-03 21:34] glemaitre commented on #9682
Could you check the number of nodes in each grown tree?

[2017-09-03 21:41] jnothman commented on #9680
what parameter of MLPRegressor is this? And why do you want support for 0,1?

On 4 Sep 2017 2:06 am, "gionatarogiani" <notifications@github.com> wrote:

[2017-09-03 21:46] glemaitre commented on #9680
I think that @gionatarogiani want to be able to pass 1 instead of True.
To be honest, I would think that we don't care so much. If the documentation mention a boolean with True or False and you try to pass 0 or 1, you will be on your own. If this is working, good for you (`if 1` or `if True` will lead to the same result) ... if it does not work (`if x is True` is different from `if x is 1`) change

[2017-09-03 21:51] webber26232 commented on #9682
@glemaitre I got it! Trees in RandomForest have about 10,000 nodes while trees in ExtraTrees have about 22,000 nodes. That makes sense! Thanks for your reply.

[2017-09-03 21:51] #9682 closed

[2017-09-04 04:56] jnothman opened #9684 "Variable defined twice in example"
`examples/ensemble/plot_gradient_boosting_early_stopping.py` defines `max_y` then redefines it before its first use. The first definition is unnecessary, and the second should appear right before it is used.

First time contributors only, please.

H/t: lgtm.com

[2017-09-04 05:57] gionatarogiani commented on #9680
Ok, if you don't think it is useful I'll just change my code, no problem.
Since we are here though, why did you enforce input validation in some models, and not in others?
Wouldn't it more pythonic not to do typechecks?
It is just out of curiosity, since I'm learning, I would love to understand more of some developers logics.

Thanks again for your time

[2017-09-04 06:18] jnothman commented on #9680
We are not extremely consistent with regards to whether our code will respond with an error or with undefined behaviour, but it is generally assumed in Python that if something is documented to take a particular kind of data, the user should pass that kind of data. While we may try to avoid such ambiguity, it is possible that passing True and 1 and 1.0 will all do different things: True may activa

[2017-09-04 06:18] #9680 closed

[2017-09-04 08:00] #9673 closed

[2017-09-04 08:38] DaGuich opened #9685 "IsolationForest tree data extraction"
I've read into the IsolationForest algorithm, but don't get how the trees are stored inside the algorithm. Is there a method to extract the data into a tree structure? And is it possible to write this data later in there again?

[2017-09-04 08:52] gionatarogiani commented on #9680
Sorry to bother again, but I just found out that the present implementeation of the `_validate_hyperparameters()` method of `BaseMultilayerPerceptron` doesn't accept `numpy.bool_` as input for bool. Is this also intended or is it a bug?

In my case this problem arises from the fact that I store parameters in a pandas DataFrame which cast bool to np.bool_

[2017-09-04 09:11] jnothman commented on #9685
Try `forest.estimators_[0].tree_`. not sure what you mean by writing the data later in there again. But this is not an issue as such, but could be asked more specifically on stack overflow or our mailing list.

[2017-09-04 09:11] #9685 closed

[2017-09-04 09:13] jnothman commented on #9680
probably a bug

On 4 Sep 2017 6:52 pm, "gionatarogiani" <notifications@github.com> wrote:

Sorry to bother again, but I just found out that the present
implementeation of the _validate_hyperparameters() method of
BaseMultilayerPerceptron doesn't accept numpy.bool_ as input for bool. Is
this also intended or is it a bug?

In my case this problem arises from the fact that I store parameters in a
pan

[2017-09-04 13:31] #9676 closed

[2017-09-04 13:34] palnabarun commented on #9684
@jnothman  Shall I start on it? I am a first time contributor to scikit learn.

[2017-09-04 13:35] jnothman commented on #9684
go for it!

On 4 September 2017 at 23:34, Nabarun Pal <notifications@github.com> wrote:

[2017-09-04 14:22] jondo commented on #9494
scikit-learn's support for instance weights is based on ([an earlier version of](http://www.csie.ntu.edu.tw/~cjlin/libsvmtools/weights/oldfiles/)) what is available at http://www.csie.ntu.edu.tw/~cjlin/libsvmtools/#weights_for_data_instances. The `README.weight` from there says

So, if nobody objects, I will create a patch to make `SVC.fit()` raise an `ValueError` for negative weights.

@ogrisel d

[2017-09-04 16:14] bellet commented on #6827
Will create a PR implementing this alternative

[2017-09-04 17:41] palnabarun opened #9687 "Too vague contribution guidelines"
The contributing guidelines given everywhere tell only the development git workflow and does not actually say how to setup the development environment.

I think it should let new contributors know the packages required for installing `scikit-learn`, for example, `numpy`, `scipy` and `cython`.

[2017-09-04 19:10] GaelVaroquaux commented on #9657
You mean: 3 users are complaining. Sure. Every time we change something, some people will find that the change that not suit them.

I still think that we should deprecate. If people really want it, they can do a contrib package.

The randomized l1 models are just not reliable. They are interesting from a theoretical perspective, but they are unstable and have too many hyper parameters. They are a

[2017-09-04 21:17] jnothman commented on #9494
Yes, please do.

On 5 September 2017 at 00:22, Robert Pollak <notifications@github.com>
wrote:

[2017-09-04 23:19] jnothman commented on #9687
http://scikit-learn.org/stable/developers/advanced_installation.html does describe this (and it is linked to from the installation page), but perhaps it is not well-enough structured to be clear, or easy enough to find for new contributors. Improvements are welcome.

Related: @caioaao [has suggested](https://github.com/scikit-learn/scikit-learn/pull/8960#issuecomment-326636995) providing a Dockerf

[2017-09-04 23:24] jnothman commented on #9657
I think there were more than three, but not all in the same place (maybe on Gitter? can't recall), and I assume this under-represents the true population.

I posted this issue before you made your comment at #8995, and generally there was no public record of why the deprecation occurred. It is good that we now have one at least.

[2017-09-04 23:27] #9684 closed

[2017-09-04 23:29] caioaao commented on #9687
https://github.com/scikit-learn/scikit-learn/compare/master...caioaao:devtools could be a good starting point both for a dockerfile and an install instruction (just follow the steps written on the dockerfile on your own machine).

[2017-09-04 23:30] jnothman commented on #9687
I only worry that this is too tricky for those unfamiliar with docker.

On 5 September 2017 at 09:29, Caio Oliveira <notifications@github.com>
wrote:

[2017-09-04 23:33] caioaao commented on #9687
I agree, unfortunately. I wouldn't remove manual install instructions, but providing an "easy path" with docker would be great. As I said previously, writing `make devtools; devtools/env.sh make` makes me really happy :)

[2017-09-04 23:47] jnothman commented on #9687
Well if it makes you happy, it can't be that baaaad...

On 5 September 2017 at 09:33, Caio Oliveira <notifications@github.com>
wrote:

[2017-09-05 01:19] qinhanmin2014 commented on #9336
@jnothman I have posted my draft related to the support for inverse_transform when encode='onehot'/'onehot-dense' [here](https://github.com/qinhanmin2014/scikit-learn/commit/10ab5dcd9764feeb6c690be84695858d625e21a7). You may have a look and decide whether we need such thing in scikit-learn. Thanks.

[2017-09-05 01:43] shaoeChen opened #9690 "KernelPCA MemoryError"
#### Description
KPCA when calling fit or fit_transform it memory error
my operation as the follow pictures
![image](https://user-images.githubusercontent.com/28851695/30041554-939e058a-921d-11e7-8349-e1cf91669792.png)
![image](https://user-images.githubusercontent.com/28851695/30041557-9552e710-921d-11e7-8eb8-6646b8e862c0.png)
![image](https://user-images.githubusercontent.com/28851695/30041559-9

[2017-09-05 02:27] jnothman commented on #9690
What is the shape of your data?

[2017-09-05 02:29] jnothman commented on #9690
KernelPCA has to construct the full kernel matrix explicitly, which will take O(n_samples ** 2) memory. You could try using kernel approximation with http://scikit-learn.org/stable/modules/generated/sklearn.kernel_approximation.Nystroem.html then performing standard PCA.

[2017-09-05 03:13] shaoeChen commented on #9690
800,000*0.7=560,000 and 90feature
my data shape = (560,000 , 90)
thanks for your explain, i think i know what's happen!
i try to  reload my dataset only 50,000 record, then  run KPCA again, it's success!
i sure it really my memory not enough!
thank you very much!

[2017-09-05 03:23] jnothman commented on #9690
At a minimum, 4 bytes per point, but probably 8 bytes. Either way, it's in the order of 1e12 bytes, or 1TB.

[2017-09-05 03:23] #9690 closed

[2017-09-05 06:07] palnabarun commented on #9687
Let research a bit more on what should be the best way and make a plan. For now, you can assign me this.

PS: I have experience with docker.

[2017-09-05 08:35] #6468 closed

[2017-09-05 10:15] #9612 closed

[2017-09-05 11:11] qinhanmin2014 commented on #9336
@jnothman Thanks a lot for reviewing my naive draft :)
In fact, one reason I don't include inverse_transform for one-hot in my pull request is that I doubt where we should implement it. If we do it in OHE, it seems that we need to store the trained OHE in the class because we have no data to train the encoder in inverse_transform. If we have a way to solve this problem, I think it is good to imple

[2017-09-05 12:13] GaelVaroquaux commented on #9657
Maybe the best option would be to move it to a separate package.

[2017-09-05 15:53] romankierzkowski opened #9691 "T-SNE fails for CSR matrix"
T-SNE fails for CSR matrix with:

Code to reproduce:
[code]

Reason:
When distance is square Compressed Sparse Row matrix then np.any(X > 0) is also sparse matrix.

[2017-09-05 17:59] bsolomon1124 opened #9692 "Add `u_based_decision` optionality to `sklearn.decomposition.PCA`"
scikit-learn's [`PCA`](http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html) [uses](https://github.com/scikit-learn/scikit-learn/blob/ef5cb84a/sklearn/decomposition/pca.py#L412) `scipy.linalg.svd` to compute the singular value decomposition of `X`.

Because the solution is unique up to a change in sign in pairs of left and right singular vectors, the `.fit` method then [

[2017-09-05 18:08] sam-s commented on #9622
Same error with `python3`:
[code]

Sorry about the delay.

[2017-09-05 18:29] rth commented on #9691
@romankierzkowski I believe BallTree doesn't support sparse arrays, if `X` is sparse, the line,
[code]
should have raised an exception. Is this error reproducible on your system? Also could you please post your python package versions for numpy etc, as described [here](http://scikit-learn.org/stable/developers/contributing.html#filing-bugs). Thanks.

[2017-09-05 19:42] romankierzkowski commented on #9691
@rth: X is not sparse, distances is. Ball tree works fine, but T-SNE fails on sparse matrix.

Here is self-contained gist with error reproduction: https://gist.github.com/romankierzkowski/8eae3f45ea5f50913763292d33afae96

-----
Darwin-16.7.0-x86_64-i386-64bit
Python 2.7.10 (default, Feb  7 2017, 00:08:15)
[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)]
NumPy 1.13.1
SciPy 0.19.1
Scikit-Lea

[2017-09-05 20:34] rth commented on #9691
Aww makes sense. I can reproduce this, thanks for the code snippet! As you say the root cause is that `np.any(distance > 0)` evaluates to a sparse array instead of a boolean. Apparently, it's [a known issue](https://mike.place/2015/sparse/) with sparse CSR, not that I was aware it could do that...

This line was recently introduced in https://github.com/scikit-learn/scikit-learn/pull/9032 but ques

[2017-09-05 20:52] rth commented on #9692
@bsolomon1124 What would be the use case for this?

[2017-09-05 21:20] thechargedneutron commented on #9659
I am not confident in my claim but can we add a function in `utils` which takes the an estimators as parameters and returns the new having the same random state as the older one?
Something like:
[code]
And hence can be used as
`est2 = estimatpr_with_random_state(est)` ??

This would be user friendly as they have to use only an additional line.
Correct me if I am wrong.

[2017-09-05 21:28] jnothman commented on #9336
yes, storing the fitted OHE on the discretiser is fine

[2017-09-05 21:39] jnothman commented on #9691
we previously supported sparse precomputed distance matrices? Distances are
rarely 0!

On 6 Sep 2017 6:34 am, "Roman Yurchak" <notifications@github.com> wrote:

[2017-09-05 21:44] jnothman commented on #9691
right I now see this is assuming kneighbors_graph semantics where an
implicit zero means unreachable, not 0. Did we support this previously?

[2017-09-05 21:49] rth commented on #9691
@jnothman You are right, looks like precomputed sparse arrays were not supported before either, (from the [_fit](https://github.com/scikit-learn/scikit-learn/blob/ef5cb84a/sklearn/manifold/t_sne.py#L618) method)

Not a regression then. sorry for the false alarm.

This should be more explicitly specified somewhere in the public docstring though..

[2017-09-05 21:58] rth commented on #9691
When running with 0.18.1 the above code snippet also fails with the traceback below. Related to https://github.com/scikit-learn/scikit-learn/pull/9623,

[code]
finally after removing the cosine metric yields,
[code]
so this wasn't supported in 0.18 either.. Sorry for the confusion.

[2017-09-05 23:14] jnothman commented on #9659
well that wouldn't be sufficient if there are nested randomised estimators,
but yes, perhaps a parameter to clone could do this, with the caveat that
it only has effect for a fitted estimator that supports this feature.

This isn't the sort of thing that people raise issues about often, but I do
suspect it is a bit of a pitfall for beginners... Keeping track of the
global random state is also some

[2017-09-05 23:24] jnothman commented on #9691
no worries. I think it should be feasible to support kneighbors_graph
output in tsne as precomputed (although it should be squared distances
really), with similar semantics to our support for same in dbscan. But this
is a feature request, not a bug report.

[2017-09-06 01:16] iAceLee opened #9694 "using BernoulliRBM as a feature extracter result in the all-1 matrix"
#### Description

halo, I have a feature matrix which dimension is 1000X20136, the 20136 is the number of features. when i try to use the  BernoulliRBM to extract this matrix into 1000*100, it's confusing that the output is a all-1 matrix. and the  fearure matrix is very sparse, most component of it is 0 while very little is 1, is there any relation between this and the confusing result? thank you

[2017-09-06 02:12] jnothman commented on #9694
can you provide the data?

[2017-09-06 06:01] iAceLee commented on #9694
@jnothman thank you for your reply. the data set is on the server, and it can't access the internet, so i am afraid i can't provide the data. however. the data is nothing new but a matrix which is consisted of only 0 and 1,and component 1 is so little that many column may  only contain component 0. i am wondering whether the high sparsity was the trigger, and i reorganized the dataset try to make

[2017-09-06 06:24] jnothman commented on #8157
I note that some current users of Pipeline are liable to have things that are impossible to clone, e.g. parameters that refuse to be deepcopied (a spaCy model instance is one case).

[2017-09-06 06:43] ogrisel commented on #9691
This is something @tomMoral and I discussed when working on #9032. We need a unified way to pass neighbors to some estimators (T-SNE, DBSCAN and probably many others). Those neighbors could be precomputed, a `NearestNeighbors` instance or a string for a `NearestNeighbors` method.

[2017-09-06 06:48] JGH1000 commented on #9657
@GaelVaroquaux good reference although the journal is relatively low impact for a biological work. Funny enough I did find that t-test performs quite well with genomics data when the labels are binary - any recommendations on feature extraction for datasets with continuous value labels (again genomics data)?

[2017-09-06 07:07] GaelVaroquaux commented on #9657
@JGH1000: a publication should be judge on whether it's serious or not, and not by the impact factor of a journal. The authors are a very serious group, and people who are extremely knowledgeable both in machine learning and genomics.

When you mention continuous values, do you mean continuous features, or continuous targets? For continuous targets, use any of the sklearn.feature_selection univari

[2017-09-06 07:09] qinhanmin2014 commented on #9339
@jnothman
Here is my plan for the example, please have a look. Thanks :)
Dataset: iris (only use two features)
(1)plot the data before and after discretization
![index](https://user-images.githubusercontent.com/12003569/30098593-21f0d874-9315-11e7-8e46-dd615af626cc.png)
(2)train a classifier using the data before and after discretization and compare the result
[code]

[2017-09-06 07:13] qinhanmin2014 commented on #9336
@jnothman Thanks. I'll remember it and try to finish it after discrete is merged into master (since the main work is in OHE).

[2017-09-06 07:14] jnothman commented on #5563
I think that we need to remove copying - or at least deepcopying - in `clone` before we make Pipelines clone.

Ping @glemaitre

[2017-09-06 07:16] JGH1000 commented on #9657
Thanks for the comment, I am unfamiliar with French research groups so couldn't judge the quality. I meant continuous targets, thanks for the suggestion!

[2017-09-06 07:44] jnothman commented on #9694
then can you produce a similar dataset which can be shared which results in
the same unexpected behaviour?

On 6 Sep 2017 4:01 pm, "iAceLee" <notifications@github.com> wrote:

@jnothman <https://github.com/jnothman> thank you for your reply. the data
set is on the server, and it can't access the internet, so i am afraid i
can't provide the data. however. the data is nothing new but a matrix which

[2017-09-06 07:45] lesteve commented on #9622
Actually this is a regression in 0.19. I can reproduce the problem.

As it happened myPython 2 conda environment had 0.18.2 but my Python 3 had 0.19.

[2017-09-06 07:46] jnothman commented on #9691
you're right that this subtly relates to #8999 with its custom neighbors
estimator

On 6 Sep 2017 4:44 pm, "Olivier Grisel" <notifications@github.com> wrote:

[2017-09-06 07:51] jnothman commented on #9339
hmm I'm a bit surprised by that result. is it a matter of luck about where
the bin edges are? if we shift the bin edges a little is it still as good?
(of course we have no way to do this within the current discretiser API,
but a range param like that for np.histogram would be sufficient) if we
take samples of the data is it still as good? (Is this result averaging
across folds?)

[2017-09-06 07:56] qinhanmin2014 commented on #9339
@jnothman Sorry but are you looking at the latest version? I have just updated my result because I suddenly realized my mistake.

[2017-09-06 08:06] jnothman commented on #9339
I wasn't. I still don't understand why the DTC should struggle to find good splits in the continuous space.

Again, is this averaged over folds? What's the standard deviation in either case?

Please plot with alpha=.3 to give a rudimentary sense of density.

I don't think this exemplifies a typical use of discretizing.

[2017-09-06 08:45] qinhanmin2014 commented on #9339
@jnothman
Regret me if the example is not good since I'm not an expert at machine learning :)
The score is averaged over folds.
[code]
Since our discretization is naive, we cannot expect big improve.
The experiment is designed mainly based on [this paper](http://www.math.unipd.it/~dulli/corso04/disc.pdf) (citation > 2000) and other materails.
Here is part of the main code:
[code]

[2017-09-06 08:46] jnothman commented on #9339
Okay. Seeing the std is a little more persuasive, although the improvements
are still well within the margin of error.

On 6 September 2017 at 18:45, Hanmin Qin <notifications@github.com> wrote:

[2017-09-06 08:56] qinhanmin2014 commented on #9339
If someone in the community has some ideas or materials, l'm willing to have a try.

[2017-09-06 08:59] jnothman commented on #9339
Ask the mailing list?

On 6 September 2017 at 18:56, Hanmin Qin <notifications@github.com> wrote:

[2017-09-06 10:00] glemaitre commented on #5563
Does turning `safe=True` [there](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/base.py#L61) will make what we want?

By having a copy instead of a deepcopy, are we going to miss the cache?

[2017-09-06 10:56] jnothman commented on #5563
what cache do you mean?

[2017-09-06 10:58] jnothman commented on #5563
I don't think safe is relevant. Safe means it should only apply to a
estimator, as far as I can tell (but it's not a very good parameter name)

[2017-09-06 11:03] glemaitre commented on #5563
Yep I edited my comments, but it probably does not appear in email. I drafted something in #9696

Basically I was wondering if the cache hits will be maximized by making a copy instead of a deepcopy.

[2017-09-06 11:07] jnothman commented on #5563
I now realise you're talking about pipeline cache. No, my concern is not
about cache, but about backwards compatibility. If Pipeline starts cloning
its steps, even if the user is not forced to use those clones, a parameter
which raises an error upon deepcopy would not have failed so far in
Pipeline (without other cloning), but would fail in a version that cloned.
Not sure I said that as clearly as

[2017-09-06 11:08] sudarshan1413 commented on #9636
Thanks for your input [jnothman](https://github.com/jnothman). For now, we are explicitly converting tree thresholds using astype(np.float32). Though this is not right method because dtype of original threshold ndarray is still float64 but its converting larger values like 526225.9375 to proper format i.e. 526226. This is our local fix till[ vruusmann](https://github.com/vruusmannl) applies some f

[2017-09-06 11:08] bsolomon1124 commented on #9692
@rth As `svd_flip` notes,

That obfuscates that it can sometimes be a deliberate design decision.

Allow me to give one specific example.  In finance (other domains too I would guess), PCA is often used as a replacement for multiple regression in cases where you don't have a good idea of what proper right-hand-side (exogenous) variables would be.  The PCA loadings (`v` * sqrt(eigenvalues)) are the

[2017-09-06 11:21] ogrisel commented on #7215
Once the new joblib with the new loky backend is released and merged in scikit-learn we will be able to use OpenMP in our Cython code (e.g. using prange) without risking bad interaction with some wrapping process-based parallelisation (e.g. in GridSearchCV).

joblib integration is tracked in #7650.

But parallelism is unrelated to the original issue reported here (which was about learning rate). I

[2017-09-06 11:21] #7215 closed

[2017-09-06 15:11] GaelVaroquaux opened #9698 "Use a safe and short repr in error messages and warning"
We print the value of an offending parameter in many of our error messages and warnings. However, when the object failing printing, or when its representation is too long, the resulting message is not useful.

We should:

- Use a safe_repr function to never fail printing (I am pasting an example below, with a test)
- Only print the 300 first characters (something like this) of it's return, using a

[2017-09-06 15:59] ogrisel commented on #9393
I also tried on macOS (El Capitan) with Accelerate and could not reproduce either.

[2017-09-06 16:06] ogrisel commented on #9393
We probably need to raise a `SkipTest` if `multiprocessing.cpu_count() == 1`.

[2017-09-06 16:47] YSanchezAraujo commented on #9543
I don't have time to follow this at the moment, so for whoever will send the PR this is where I stopped some time ago, if it's useful

[code]

[2017-09-06 17:08] rth opened #9699 "py.test test discovery in the root directory"
Not sure if this is addressed somewhere, but with the current migration to pytest, it would be nice if pytest was able to correctly collect unit tests from the scikit-learn root directory. Currently,
[code]
fails (partial traceback below) because it believes that benchmarks are unit tests a and consequently fails to import some packages.
[code]
works correctly. There should be a way to modify the

[2017-09-06 17:44] zfrenchee commented on #9481
@jnothman bump

[2017-09-06 17:45] hellocomrade opened #9700 "cross_val_score failed on pipeline"
#### Description

I'd like to do a cross_val_score on a pipeline and got the following error:

[code]

Since I am a newbie to scikit-learn, it's possible this could be my own mistake. Anyway, I post here to see if anyone could shed some light.

Thanks a lot!

P.S., I just tried GridSearchCV and got the same error...

#### Steps/Code to Reproduce
My code is here:

[code]

#### Versions
Linux-3.10.0

[2017-09-06 17:54] lesteve commented on #9699
Personally I just don't think this is worth the pain. For examples benchmarks can have additional dependencies like pandas, `doc/conf.py` has a dependency on sphinx, and there may be additional things that I am not aware of.

Maybe we could tweak pytest discovery in a way that make `pytest .` just work. My personal opinion would be just run the tests with `pytest sklearn`, forget about this, and u

[2017-09-06 19:40] rth commented on #9699
Definitely, that's why IMO they should be excluded from unit tests auto-discovered by py.test

I know. Just run into this for the 3rd time because I keep forgetting to prepend the `sklearn` argument. It's just that, same as when you download a Python project from github you assume, before reading the manual, that it can be installed with `pip install .`; you also assume that test can be run with `

[2017-09-06 21:13] glemaitre commented on #5563
Oh I get it now. I misunderstood the first message. I thought that you were mentioning this issue due to the cloning that we introduce after introducing memory.

Going to take care about this issue when refactoring the Pipeline.

[2017-09-07 00:53] iAceLee commented on #9694
@jnothman yesterday i've tried to increase the iter to 2000, and let it run all-night, batchsize is 300 /learning rate is 0.2, and the mission is to convert 15000*10700 matrix into 15000*100. now the result seems more normal than ever, at least it is not consisted of  all-1 component. but the parameter of "pseudo-likelyhood" seems always remaining between -300~-200, and never going down no matter

[2017-09-07 00:58] jnothman commented on #9700
This is not really an issue with the scikit-learn library, but a problem in your usage. It should be asked on another venue such as StackOverflow.

However, you won't get useful responses without providing:
* a full traceback so we can see the part of scikit-learn that's ultimate responsible for calling the ArcEager
* the definition of myTokenizer

[2017-09-07 00:58] #9700 closed

[2017-09-07 01:03] jnothman commented on #9393
The n_jobs=1 issue has been fixed.

We appear to have the following issues:
* [ ] `test_hasher_alternate_sign`: [mips](https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=mips&ver=0.19.0-1&stamp=1502636171&raw=0), [powerpc](https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=powerpc&ver=0.19.0-1&stamp=1502556098&raw=0), [hppa](https://buildd.debian.org/status/fetch.php?pk

[2017-09-07 01:05] jnothman commented on #9393
The original issue with `test_preserve_trustworthiness_approximately` remains the most concerning, IMO.

[2017-09-07 01:14] jnothman commented on #9699
Is https://github.com/jnothman/scikit-learn/compare/master...pytest-ignore
sufficient, @rth?​

[2017-09-07 08:19] rth commented on #9699
@jnothman No, but,
[code]
should be, I think. Thanks for checking this..

[2017-09-07 08:44] jnothman commented on #9699
PR welcome..?

On 7 September 2017 at 18:19, Roman Yurchak <notifications@github.com>
wrote:

[2017-09-07 09:51] rth commented on #9699
Well the there is one additional issue is that when running `pytest .` with these changes as opposed to with `pytest sklearn` one test fails,

[code]

[2017-09-07 10:24] jnothman commented on #9699
Any idea why that happens??

On 7 September 2017 at 19:51, Roman Yurchak <notifications@github.com>
wrote:

[2017-09-07 14:20] qinhanmin2014 commented on #9339
@hlin117 Sorry to disturb. Could you kindly please spare some time to share your opinion on the example to illustrate the application of discretization? I have provided my opinion above but seems not good. Thanks a lot :)

[2017-09-07 18:44] amueller commented on #9653
For new contributors / reviewers, I expect the high-level questions are harder to answer. But listing them explicitly is probably a good idea to make reviewers think about them.

[2017-09-07 18:45] cdeil opened #9706 "Make MLPClassifier.partial_fit a method?"
I see that `MLPClassifier.partial_fit` appears in a weird way in your docs: http://scikit-learn.org/dev/modules/generated/sklearn.neural_network.MLPClassifier.html#sklearn.neural_network.MLPClassifier.partial_fit

It's not listed as a method, the method signature doesn't show the parameters, and there's no link to source like for the other methods.

The reason is that `MLPClassifier.partial_fit` i

[2017-09-07 19:23] jimmywan opened #9708 "BaggingRegressor can not be used on top of pipelines that handle imputation"
#### Description
BaggingRegressor will raise an exception:
[code]

I propose relaxing this constraint as the wrapped regressor should already handle checking of their input arrays. At best, the check is redundant. At worst, I can't reuse this component.

#### Steps/Code to Reproduce
Create pipeline that includes varying methods of imputation and wrap it with a BaggingRegressor and run it on input

[2017-09-07 19:38] jimmywan commented on #7346
Given this:

Does that mean you're open to a PR for applying 🔥 to that section of `test_base.py` as well as `get_params()`?

[2017-09-07 22:06] jnothman commented on #9339
It's good, but not great... If we can get something more compelling...

[2017-09-07 23:02] jnothman commented on #9706
We use a property to facilitate duck typing. It can't be easily replaced, though there might be a nice way to make the signature show.

[2017-09-07 23:04] jnothman commented on #9708
I'm generally in favour of minimal data validation in metaestimators. PR
welcome

On 8 Sep 2017 5:23 am, "Jimmy Wan" <notifications@github.com> wrote:

[2017-09-08 10:51] #9124 closed

[2017-09-08 15:08] goncalo-rodrigues opened #9711 "Error in manifold.t_sne._kl_divergence"
There seems to be an error in the calculation of kl_divergence in t_sne. (line 140)
[code]
The correct formula for t-student probability distribution function is, according to wikipedia:
https://en.wikipedia.org/wiki/Student%27s_t-distribution
(gamma((v+1)/2)/gamma(sqrt(v*pi)*gamma(v/2)) * (1+(t^2)/v)^(-(v+1)/2)
= constant * (1+(t^2)/v)^(-(v+1)/2)
where v = degrees of freedom and t-sne uses the pa

[2017-09-08 15:29] #2755 closed

[2017-09-08 15:29] #7346 closed

[2017-09-08 15:29] #9560 closed

[2017-09-08 15:32] qinhanmin2014 commented on #9339
@jnothman I opened #9713 for review. Feel free to close it if it is too naive :)

[2017-09-08 15:33] amueller commented on #2755
ohhh yeah, 3.5 year old bug!

[2017-09-08 16:13] amueller opened #9714 "deprecate gaussian process regression_models and correlation_models"
It looks to me like we forgot to deprecate regression_models and correlation_models when we did the deprecation of the old GP :-/

[2017-09-08 16:53] amueller opened #9715 "Converting steps to list breaks pipeline cloning"
#9604 breaks cloning in pipelines. At least the "strict" cloning I wanted to enforce for 0.20.
The patch in #9604 results in a deprecation warning each time a pipeline is cloned because ``__init__`` modifies ``steps``.

I'm not entirely sure what to do about that, but if we want the deprecation of clone to go through (which I want), we need to refactor pipeline to not modify steps - which is proba

[2017-09-08 16:56] amueller commented on #9715
Actually, this could be "fixed" by just not doing the conversion in init, but later. It's still modifying an argument to ``__init__`` which is bad, but it's wouldn't be doing so in ``__init__``, so ``clone`` would at least behave normally.

[2017-09-08 17:25] thechargedneutron commented on #9714
Is this for first timers only or previous contributors can also try? :)

[2017-09-08 18:07] amueller commented on #9714
feel free to go for it :)

[2017-09-08 18:43] StrawHatDragon100 commented on #9714
How to test this ?

[2017-09-08 18:58] amueller commented on #9393
Hm none of the links at ``test_preserve_trustworthyness_approximately`` above have failures for that, right? Or I'm blind.

[2017-09-08 19:00] amueller commented on #9393
have we seen this before:
[code]
from [kfreebsd-amd64](https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=kfreebsd-amd64&ver=0.19.0-1%2Bb1&stamp=1504884720&raw=0)

[2017-09-08 19:05] StrawHatDragon100 commented on #9714
i am a newbie in open source. can i try..?

[2017-09-08 19:06] amueller commented on #9714
@StrawHatDragon100 @thechargedneutron is already working on it.

[2017-09-08 19:10] stuz5000 commented on #4760
@TomDLT https://svn.nmap.org/nmap/liblinear/linear.cpp Isn't rand a global function? It shares its state with other threads, etc...). We should expect non-deterministic behavior for anything that shares global state to in random number generation. The random seed must be supplied as a parameter to get deterministic behavior.

[2017-09-09 01:00] swyoon opened #9718 "DensityMixin class documentation missing in 'API Reference' page"
#### Description
The documentation for DensityMixin class is missing.

However, [the class](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/base.py#L509) actually exists and even [BaseMixture](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/mixture/base.py#L66) class inherits DensityMixin.

#### Steps/Code to Reproduce
Checking out [API Reference documentation sou

[2017-09-09 10:30] jnothman commented on #9711
ping @tommoral

[2017-09-09 10:33] jnothman commented on #2755
:) basically solved by declaring the old code didn't know its head from its
tail...

[2017-09-09 11:59] rth commented on #9393
@jnothman I just tried, but I'm not able to run e.g. a ppc64 Docker image on my amd64 system. With the `Dockerfile` below I get an error,
[code]
at the first `apt-get` suggesting there is [a platform conflict](https://stackoverflow.com/a/42886112/1791279). Using `FROM debian` as the first line this works fine for amd64. So unless I missed something it doesn't look like this could be reproducible i

[2017-09-09 13:42] rth commented on #9393
Actually, the above Docker setup with conda wouldn't have worked anyway for other platforms, it should have been, something along the lines of, I think,
[code]
but this still wouldn't help unless someone has access to non amd64 platforms and is able to run it there, using the [appropriate Docker Debian image](https://github.com/docker-library/official-images#architectures-other-than-amd64) ...

[2017-09-09 14:11] tomMoral commented on #9711
This is indeed a bug.
It should also be changed in the `_barnes_hut` implementation for the computation of the `kl_divergence`:

[code]

We should also check the gradient computations as I assume this formula was correct when I checked it.

[2017-09-09 15:25] madrury commented on #5975
I've been working on this here: https://github.com/madrury/py-glm

Would love if this work eventually made it into sklearn.

[2017-09-09 17:51] kingjr opened #9720 "BUG? concatenate several fitted BaggingClassifier extract base estimator instead"
On `v0.19`, the concatenation of a list of `BaggingClassifier` is inconsistent before and after fitting each of them.

Here is an example where we manually run 4 bagging classifiers, a would like to concatenate them into a single list:

[code]

as expected, clfs is an array of 4 bagging classifiers.

However, after fitting the classifiers, the concatenation returns an array of the base estimators

[2017-09-09 19:20] hlin117 commented on #9339
Hi @qinhanmin2014!

I'm not familiar with any datasets which benefit strongly from discretization, but I feel that you can produce a dataset which would.

I think discretization would be useful for datasets whose features shouldn't be represented as continuous features. For example, consider a feature whose data is represented by a [bimodal distribution](https://en.wikipedia.org/wiki/Multimodal_di

[2017-09-09 19:23] hlin117 commented on #9339
One class of datasets which would benefit from discretization are biological datasets. Here's a quote from ["Discretization of continuous features in clinical datasets"](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3628044/):

[2017-09-09 19:35] kingjr commented on #9720
The problem is resolved if we change `__len__` : e.g.

[code]

[2017-09-09 20:17] eclat4real opened #9721 "Estimating Bandwidth for Dataset with more than One Feature"
I have dataset with more than a feature and will like to estimate individual bandwidths

Is it possible in SciKit Learn GridSearch Module ?

#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2017-09-09 21:05] HTCode opened #9722 "Bad results for LabelPropagation (and LabelSpreading) when using any kernel other than "rbf" or "knn""
#### Description
Poor results always obtained when using sklearn.semi_supervised.LabelPropagation (or LabelSpreading) with any (callable) kernel other than the predefined "knn", "rbf", or sklearn.metrics.pairwise.rbf_kernel

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results
I expected kernels such as: sigmoid, polynomial, poly, linear, cosine (tested with various parameters) to p

[2017-09-09 22:32] jnothman commented on #9718
If you think it is a useful class to have documented, I suppose it should be there. PR welcome

[2017-09-09 22:33] #8484 closed

[2017-09-09 22:58] jnothman commented on #9721
would this be equivalent to searching over weights for a weighted distance
metric for kde?

On 10 Sep 2017 6:17 am, "eclat4real" <notifications@github.com> wrote:

[2017-09-09 23:01] jnothman commented on #9722
Ping @musicallyut

[2017-09-09 23:07] jnothman commented on #9722
What kind of data are you using?

On 10 September 2017 at 07:06, M.Rafik Bouguelia <notifications@github.com>
wrote:

[2017-09-09 23:16] jnothman commented on #9393
@rth, okay. Thanks for trying.

No, I must have sorted these things incorrectly. @yarikoptic, I can't find the `test_preserve_trustworthiness_approximately` failure under 0.19.0-1 logs.

[2017-09-09 23:38] HTCode commented on #9722
@jnothman One of the datasets that I tried was the optical digits dataset (use `load_digits()`), here is a complete example code:
[code]

[2017-09-10 02:53] qinhanmin2014 commented on #9339
@hlin117 Thanks a lot for the detailed reply :)
If we use an existing dataset, then seems that iris is the best choice in scikit-learn since it has been used in some references.
Indeed, we can try to create a dataset and get better result, but I suspect whether it can reflect the reality and I can't find some references which manually create the test data by themselves. Do you have some? (e.g., re

[2017-09-10 06:45] hoyeunglee opened #9724 "how to set number of clusters for NearestNeighbors like kmeans"
nbrs = NearestNeighbors(n_neighbors=3000,radius=200.0,metric='euclidean',algorithm='ball_tree',leaf_size=1000).fit(testing1)

just expect to group nearest points around radius 100 in image,
but result return thousands of groups

[2017-09-10 09:58] jnothman commented on #9724
Nearest neighbors is not a clusterer. Clustering algorithms such as DBSCAN
may incorporate nearest neighbors.

On 10 September 2017 at 16:45, Ho Yeung, Lee <notifications@github.com>
wrote:

[2017-09-10 09:58] #9724 closed

[2017-09-10 11:31] rgommers opened #9725 "remove scipy.spatial.distance.matching from docstrings"
There are several places where accepted distance metrics from ``scipy.spatial.distance`` are listed. It includes ``matching``, which has been soft-deprecated (in docstring only) in SciPy for 2 years already. Example: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/pairwise.py#L305

I suggest to remove all references to ``matching``. We may switch to regular deprecation (ht

[2017-09-10 15:55] agramfort commented on #9720
why putting estimators in a numpy array?

[2017-09-10 15:59] agramfort commented on #5975
your solver in a newton method which will have a hard time scaling in high
dimension. It also does not support L1 type penalties. Also check your API
consistency with sklearn. Fit should only take X, y and sample_weights

to fix the scalability issues the first thing to do is to use l-bfgs. See
our logistic regression code

HTH

[2017-09-10 16:18] madrury commented on #5975
As I said, my goal isn't total consistency with sklearn, it's just to have a simple implementation that follows MuCullagh and Nelder and provides some of the inferential tools.  It's meant to be used in a classroom environment on medium sized data sets.  I just wanted to link the code here in case any ideas there are useful to whomever works on this feature for sklearn (and to get a little exposur

[2017-09-10 16:25] agramfort commented on #5975
thanks for clarifying the vision.

regarding offset is it specific to Poisson and Tweedie models ?
if it's a sample specific value then it can be a sample_prop in the fit
parameters.
It's just the max_iter or tol that are not data dependent that should be in
the init.

[2017-09-10 17:39] kingjr commented on #9720
I'm doing a searchlight.

On Sunday, 10 September 2017, Alexandre Gramfort <notifications@github.com>
wrote:

[2017-09-10 17:44] eclat4real commented on #9721
No, for example I have two normally-distributed vectors that I would like to estimate the underlying probability non-parametric ally. I typically should been able to estimate different bandwidths especially is the ranges of the vectors are widely different.

[2017-09-10 18:02] ragnerok commented on #9725
I'd like to work on this one.
Correct me if I'm wrong, all I have to do is remove 'matching'  from docstrings where it is used as a metric of scipy.spatial.distance, and I have to do this for all the files where this is mentioned.

[2017-09-10 18:40] amueller commented on #9725
@ragnerok indeed, thanks :)

[2017-09-10 21:39] #9189 closed

[2017-09-10 21:41] jnothman commented on #5975
Have to compared to #9405?

[2017-09-10 22:13] madrury commented on #5975
@agramfort You're right about max_iter and tol, i'll move those to the __init__.

Do you have a reference for what you mean by `sample_prop`?

[2017-09-10 22:25] jnothman commented on #9720
I find it surprising that this behaviour changed in scikit-learn in 0.19.
are you sure it was not a change in numpy or in your estimator setup that
affected behaviour?

Constructing an object array in numpy is in general ambiguous. If the
elements are themselves sequences, but of different lengths, then numpy
will interpret them as the object elements of the returned array. If,
however, they all h

[2017-09-10 22:26] #9720 closed

[2017-09-10 23:01] #9445 closed

[2017-09-10 23:45] jnothman commented on #9657
I'm closing this. It shall remain deprecated as far as I can see.

[2017-09-10 23:45] #9657 closed

[2017-09-10 23:45] jnothman commented on #9393
@yarikoptic, any suggestion of how we can reproduce these test environments?

[2017-09-10 23:57] jnothman opened #9726 "Move imputation out of preprocessing"
While we're considering additional imputers, I've wondered whether preprocessing is the right place for it. Yes, it is a preprocessing step before other learning, but it often makes use of other supervised and unsupervised learners and hence is a learning task of its own. And preprocessing is getting a bit cramped.

We could also do as with other models and have imputers appear in modules on the b

[2017-09-11 01:19] kyteague commented on #3956
+1 for this functionality.  I need to convert tokenized words into integer representations to pass into an embedding layer in a NN.  I do not want one hot encoding.  Although it feels like this transformer might live in the `text_extraction` module.

This is pretty trivial code to write, but would be nice to not have to reimplement this every time.

[2017-09-11 01:25] kingjr commented on #9720
Yes the issue is an ambiguity between sklearn and numpy.

Still, Sklearn behavior remains inconsistent as the concatenation behavior
changes depending on whether the bagging clf have been fit or not. See
above example.

Is there a use case of having 'len(bagging)' ? That is ultimately the issue.

On Sunday, 10 September 2017, Joel Nothman <notifications@github.com> wrote:

[2017-09-11 01:45] jnothman commented on #9720
It's been there for a long time. I believe it was a bad design decision,
but I don't see the value in changing it.

Your case is bad/unsafe usage of numpy object arrays regardless. As a rule,
I try to always instantiate object arrays empty.

[2017-09-11 01:48] jnothman commented on #3956
We're hoping to have a CategoricalEncoder (#9151) soon, but Kyle, your data
does not sound categorical. I think you'll need other tools if you have a
set of tokens to be represented as a set of integers, unless you can
instead work with a rectangular sparse matrix as produced by the likes of
CountVectorizer.

On 11 September 2017 at 11:19, Kyle Teague <notifications@github.com> wrote:

[2017-09-11 03:55] hlin117 commented on #9339
The true "reality" is that there is no single technique which will work on all datasets :)

Academic papers out there will not create datasets for themselves (usually). This is because when researchers need to compare one model after another, they need to use well studied datasets, and show that on that particular dataset, their dataset can perform better than another model's. So it's quite a fall

[2017-09-11 03:58] hlin117 commented on #9339
The reason why people are interested in Iris and other datasets is because these are well studied datasets which most classifiers can perform very well in. With data being so plentiful now in 2017, it's difficult to declare a dataset as "canonical".

[2017-09-11 04:01] swyoon commented on #9718
Good. will work on it soon.

[2017-09-11 04:27] kyteague commented on #3956
The data is sequential (it's text), but you can think of it as a single categorical feature per time step.  The integers get fed into an embedding layer that acts as a latent feature space.

It might make sense to have a separate `SequenceVectorizer` in the `feature_extraction.text` module.  There are a couple other common options (padding and reversing) as well.

[2017-09-11 04:33] jnothman commented on #3956
Yes, but scikit-learn does not natively deal with learning problems where
data is not rectangular (i.e. each instance must be represented by a vector
of fixed size). That is, our predictors, transformers, etc can deal with
textual data as long as it is represented with a transformation like bag of
words which ignores order. To change that would effectively be an enormous
expansion of scope on the

[2017-09-11 05:02] jnothman commented on #8376
This should be pretty straightforward to solve. I've given a couple of options at https://github.com/scikit-learn/scikit-learn/pull/8380#issuecomment-299120531.

Would a contributor like to take it up? @SebastinSanty, perhaps?

[2017-09-11 06:56] SebastinSanty commented on #8376
@jnothman Yes, I would like to take it up.

[2017-09-11 10:19] LishengSun opened #9728 "How are default hyperparameter values are optimized / chosen?"
#### Description

Hi,

I would like to know how you optimize / choose the default hyperparameter values in a learning machine. For example, when I initialize a randomforest classifier without specifying any hyperparameter,
#### Steps/Code to Reproduce

[code]
clf has already bootstrap=True, max_depth=None, etc. How are these default values determined? Can you please point me to some references?
##

[2017-09-11 11:27] jnothman commented on #9728
We have "reasonable defaults" for all parameters where possible. They are documented in the [API reference](http://scikit-learn.org/dev/modules/classes.html), and all can be changed when constructing the estimator.

Closing as not an issue.

[2017-09-11 11:27] #9728 closed

[2017-09-11 12:51] albertcthomas commented on #9497
Closing as fixed in PR #9703

[2017-09-11 12:51] #9497 closed

[2017-09-11 14:03] amueller commented on #9728
Not in any principled manner unfortunately, though I'd like to change that.

[2017-09-11 14:05] amueller commented on #9726
I don't like this (even though we've done that in the past - inconsistently. Why is LDA and LinearSVC not in linear models?)

I'm +.5 for ``sklearn.impute``, possibly moving when when we add the next class (KNNImputer I guess?).

[2017-09-11 14:06] amueller commented on #9726
Actually, given that MICE is on the pretty near horizont, actually +1

[2017-09-11 14:11] amueller commented on #9393
@jnothman any ideas about the ``test_pairwise_parallel`` failure?

[2017-09-11 14:16] amueller commented on #9430
Creating a intel python environment can be done by
[code]

[2017-09-11 14:50] amueller commented on #9430
ok so it looks like they ignore n_init, which means they only run one random iteration, which gives them a 10x speedup to begin with lol. That's pretty ridiculous. Though running 10 random initializations is a bit arbitrary, to be fair....

[2017-09-11 14:55] amueller opened #9729 "Change KMeans n_init default value to 1."
As mentioned in #9430, pydaal gets a speedup of 30x, mostly because they ignore n_init.
I feel like ``n_init=10`` is a pretty odd choice. We don't really do random restarts anywhere else by default (afaik), and in the age of large datasets this is really pretty expensive.

Not sure if it's worth a deprecation cycle but this is pretty non-obvious behavior that potentially makes us look bad.

[2017-09-11 15:17] ngoix opened #9730 "fetch_kddcup99 does not shuffle data"
code snipet to reproduce:
[code]

That is because shuffling should be done in `fetch_kddcup99` not in `_fetch_brute_kddcup99`.

[2017-09-11 15:44] amueller commented on #9430
Actually, they might do 5 random restarts? Though it's not entirely obvious.

[2017-09-11 17:58] amueller commented on #9429
here's what they used:
[code]

[2017-09-11 19:11] agramfort commented on #5975
see https://github.com/scikit-learn/enhancement_proposals/pull/6

it's still being discussed what's the best way to do it...

[2017-09-11 19:55] jimmywan commented on #9708
@jnothman I think PR #9707 is ready for review.

[2017-09-11 20:06] #9622 closed

[2017-09-11 21:42] jnothman commented on #9393
test_pairwise_parallel I had missed, but I also suspect it's something we'll find impossible to debug... Terminated after 150 minutes of inactivity during parallel execution of a simple function

[2017-09-11 21:51] jnothman commented on #9729
Yes, let's change it. Or default to have an inverse relationship with
dataset size.

On 12 September 2017 at 00:55, Andreas Mueller <notifications@github.com>
wrote:

[2017-09-12 00:43] jnothman commented on #9393
I'm guessing `test_forest.test_parallel` has failed because of precision errors due to partitioning the ensemble summation across jobs. I'll submit a PR to reduce precision of the test.

[2017-09-12 01:00] jnothman opened #9735 "DOC sklearn.manifold.t_sne.trustworthiness not listed in classes.rst"
First time contributor only

[2017-09-12 01:00] jnothman opened #9736 "sklearn.manifold.t_sne.trustworthiness should allow custom metric"
`precomputed` boolean parameter should be replaced by more standard `metric='precomputed'`.

[2017-09-12 01:02] jnothman opened #9737 "sklearn.manifold.t_sne.trustworthiness should use NearestNeighbors"
It is based on calculating nearest neighborhoods, but calculates all pairwise distances which is much less efficient than appropriate for use in practice.

[2017-09-12 01:04] jnothman commented on #9393
@priidukull is your test failure reproducible? Could you help us debug? Which `init` and `method` combination is the first to fail?

[2017-09-12 05:21] priidukull commented on #9393
[code]

What I've done is to reduce the size of X... with something like:

`X = random_state.randn(3, n_components).astype(np.float32)`

And then I debugged through the code on both of my environments and the best I could tell was that the divergence happened in C-code. But I could not tell where exactly with full certainty because it is tough to debug.

[code]

[2017-09-12 05:55] jnothman commented on #9393
What do you mean by the divergence? What were you comparing it against? The different methods and inits produce different trustworthiness scores on all platforms.

[2017-09-12 05:58] jnothman opened #9739 "Transpose the clustering and classification comparisons"
The images at http://scikit-learn.org/stable/auto_examples/classification/plot_classifier_comparison.html and http://scikit-learn.org/stable/auto_examples/classification/plot_cluster_comparison.html are getting very wide as we add more clusterers and classifiers.

We add datasets more slowly, so these images should be transposed: algorithms by row and datasets by column.

[2017-09-12 06:18] amitsin6h commented on #9739
let me take this as my first contribution @jnothman

[2017-09-12 06:21] amitsin6h commented on #9739
http://scikit-learn.org/stable/auto_examples/classification/plot_cluster_comparison.html
This link fives error 404 page not found.
@jnothman

[2017-09-12 06:28] espg commented on #9739
I've got a sort of kludgy first pass at this here:

https://github.com/scikit-learn/scikit-learn/pull/1984/commits/14ce7e82fe719cf89850ee8647a04f8847307b87

...still probably worth doing in a way that is more pythonic...

[2017-09-12 07:07] jnothman commented on #9739
Link corrected, thanks. @espg, it's probably worth leaving this as separate from your work on OPTICS. I'd be happy to review a pull request from you @amitsin6h, and it may be easier to look at the code from scratch than to start with @espg's attempt.

[2017-09-12 07:23] jnothman commented on #9393
@priidukull, could you please provide the output of:

[code]

and of:
[code]
Thanks.

For reference, I have:
[code]
and
[code]

[2017-09-12 07:39] chenk17 opened #9740 "sklearn in virtual environment and windows is missing"
Hi,

python 2.7.13
virtual environment.
Windows 7

I have nothing done with PATH etc. I activate the environment and did

`pip install -U scikit-learn`

Now I have a folder sklearn in site-package. But there are missing modules like

dist_metrics.pxd

I Only have the executable dist_metrics without the script...

Also: If I do `pip list`

there is no sklearn package listed. Only the sci-kit learn

[2017-09-12 08:00] musically-ut commented on #8008
Yes, the make-the-kNN-matrix-symmetric solution is a bit of a hack. It doesn't guarantee connectedness and does not have any theoretical justification (in as far as I can search for).

This is a paper which takes a more methodical approach: http://ieeexplore.ieee.org/abstract/document/4358958/?part=1

The underlying idea behind the paper is to first create a k-NN graph, then infer the _weight_ of

[2017-09-12 08:05] jnothman commented on #9740
* Scikit-learn is the name of the PyPI package, but that package provides a module `sklearn`. pip should list scikit-learn, but you should be able to import sklearn.
* pip has installed a version of the project with compiled binaries. The pxd source files are not included. You do not need them to use scikit-learn.

[2017-09-12 08:05] #9740 closed

[2017-09-12 10:54] musically-ut commented on #9722
The best way to confirm this bug would be to generate some data using the alternate kernel and then see whether `LabelPropagation` or `LabelSpreading` are able to re-generate missing labels using the correct kernel. I'll have a look at generating data using the cosine kernel.

If nothing else, it would be a good test case to have.

[2017-09-12 13:24] raamana commented on #5115
Is this still a bug? I'm having same problem with defaults (n_jobs=1) as well as with pre_dispatch=1, using a `RandomForestClassifier`, with 80 combinations of parameters and ShuffleSplit CV (n=20).

It also hangs for a Pipeline (`SelectKBest(score_func=mutual_info_classif, k=10)` followed by `RandomForestClassifier`), both under the latest release as well as devel version.

Let me know if you guy

[2017-09-12 14:09] lesteve commented on #5115
Do you mean n_jobs=1 or is it a typo? This issue is about n_jobs != 1.

The best way to get quality feed-back is to provide a way to reproduce the problem. Please open a separate issue in this case if the problem you are seeing is indeed with n_jobs=1.

[2017-09-12 14:44] smcinerney commented on #5115
I wrote what I meant, which is "multithreading enabled”
n_jobs != 1 as in ‘not equal to 1’. Equivalently, n_jobs > 1. For example, n_jobs=4

Are you saying you can’t repro the freeze for n_jobs = 4?

If so, I will provide testcase within a month (I’m changing to a new machine.)

On Sep 12, 2017, at 7:10 AM, Loïc Estève <notifications@github.com<mailto:notifications@github.com>> wrote:

Do you mean

[2017-09-12 15:08] vrishank97 commented on #9737
I'd like to work on this issue.

[2017-09-12 15:12] jnothman commented on #9722
Thanks, @musically-ut

On 12 September 2017 at 20:54, Utkarsh Upadhyay <notifications@github.com>
wrote:

[2017-09-12 16:12] espg commented on #9739
@jnothman Ok, can do. @amitsin6h if you're tackling this, I'd suggest addressing the noise labels explicitly too-- currently the plot just cycles through colors for class assignment, which is fine for algorithms like kmeans where every point is assigned to a class... however, it feels a bit awkward for algorithms that don't force every point into a class (like DBSCAN). Right now, those noise point

[2017-09-12 16:16] priidukull commented on #9393
`I: Seeding RNGs with 965003854
[t-SNE] Computing 49 nearest neighbors...
[t-SNE] Indexed 50 samples in 0.006s...
[t-SNE] Computed neighbors for 50 samples in 0.004s...
[t-SNE] Computed conditional probabilities for sample 50 / 50
[t-SNE] Mean sigma: 1.228846
[t-SNE] Computed conditional probabilities in 0.007s
[t-SNE] Iteration 50: error = 48.4517632, gradient norm = 0.4771377 (50 iterations in 0

[2017-09-12 16:22] amueller commented on #5115
@smcinerney are you @raamana? I think @lesteve replied to @raamana who wrote ``n_jobs=1``, which seems to be unrelated to this issue.

[2017-09-12 16:55] smcinerney commented on #5115
Oh sorry, no I’m not @raamana. Yes @raamana’s issue is different (but probably due to the same code)

On Sep 12, 2017, at 9:23 AM, Andreas Mueller <notifications@github.com<mailto:notifications@github.com>> wrote:

@smcinerney<https://github.com/smcinerney> are you @raamana<https://github.com/raamana>? I think @lesteve<https://github.com/lesteve> replied to @raamana<https://github.com/raamana> who

[2017-09-12 18:01] vrishank97 commented on #9737
Are you suggesting that we use sklearn.neighbors.NearestNeighbors instead of pairwise distances?

[2017-09-12 18:03] raamana commented on #5115
My bad, I didn't mean to mix stuff up. I will open another issue (with minimal code to reproduce it), but don't GridSearchCV hanging (even with defaults i.e. n_jobs=1) is a bigger concern (given it is default and is supposed to work) than n_jobs > 1.

[2017-09-12 18:22] amueller opened #9742 "GridSearchCV (or rather check_cv) doesn't handle 2d y"
Via #9741.

[code]

While
[code]
works and raises ``DataConversionWarning``.
I'm pretty sure using multi-label y will also crash.

[2017-09-12 18:25] amueller commented on #9742
ah, multi-label y will actually default to ``KFold``, but because
[code]

we're using ``StratifiedKFold`` here but don't convert y.

[2017-09-12 18:43] amueller opened #9743 "PredefinedSplit doesn't document test_fold argument in docstring"
See http://scikit-learn.org/dev/modules/generated/sklearn.model_selection.PredefinedSplit.html#sklearn.model_selection.PredefinedSplit

First time contributors only

[2017-09-12 19:02] piccolbo commented on #8008
If the goal was to have a kernel that can be represented by a sparse
matrix, is connected and symmetric wouldn't the minimum spanning tree fit
the bill? Relation with knn is tenuous at best though. Actually, there is a
paper about knn and mst by Arefin et al but it's behind a paywall.

On Tue, Sep 12, 2017, 1:02 AM Utkarsh Upadhyay <notifications@github.com>
wrote:

[2017-09-12 19:03] ragnerok commented on #9285
@stephenweiwang as far as I can understand this is how it was supposed to happen with python2.7. Therefore you need raise a warning.

[2017-09-12 19:17] amueller commented on #9687
Having an "easy" docker path is fine, but I'd prefer to have the manual instruction as the default. Having heterogeneous dev environments means lots of testing ;)

[2017-09-12 19:18] amueller commented on #9687
@palnabarun where did you start with the dev guide and where did you get stuck? I think having a good narrative is probably more helpful than a docker file.

[2017-09-12 19:23] amueller commented on #9692
@bsolomon1124 using the sign seem like a bad idea in either case, right? This is meant for determinism, not for interpretation. Why would you assign meaning to the signs in a PCA?

That seems to show that your intuitive interpretation is at odds with what PCA does.

[2017-09-12 19:47] amueller commented on #5115
@raamana yes it's a bigger concern but it's also unlikely to be caused by a related issue.

[2017-09-12 19:50] bsolomon1124 commented on #9692
@amueller Let me ask it this way: why have a `u_based_decision` parameter in `svd_flip` if it is not referenced within `PCA.fit()`?  If that was incorporated in `PCA` itself, the outcome will still be deterministic to the extent that the same `u_based_decision` bool value is specified.

[2017-09-12 20:57] bsolomon1124 commented on #9692
@amueller I understand, but bear with me here: say I have a DataFrame `r`, 3 features (columns) and 100 observations (index).  Features are three stocks.

Say I run `svd` on `r`:
[code]

So that output is telling me each stock has a strongly negative loading on the first principal component.  (Although EXR actually as a stronger loading on some other risk factor.)  That is _mathematically_ correct

[2017-09-12 21:41] jnothman commented on #9739
Yes, I thought of colouring noise in clustering recently too, @espg, but
that can happily be a separate change.

On 13 September 2017 at 02:13, Shane <notifications@github.com> wrote:

[2017-09-12 21:45] jnothman commented on #9393
So the error is reducing much more slowly...

@priidukull, What did you mean by telling that the divergence happened in C code? Do you have another system you're comparing against?

@tommoral, if we continue to not be able to reproduce this bug, what kind of debugging output do you think would help us understand what's going wrong? Or what kind of more low-level unit tests might help us hone in on

[2017-09-12 22:57] jnothman commented on #9737
yes

On 13 Sep 2017 4:01 am, "Vrishank Bhardwaj" <notifications@github.com>
wrote:

[2017-09-12 23:11] musically-ut commented on #9722
I can see that kernels which can take a negative value run into issues with the normalization. If enough iterations happen such that the `label_distribution_` becomes `NaN`, then the output class is `0`, which is correct only ~ 33% of the time due to sheer chance with `n_classes=3`.

The output for other kernels, i.e. `['rbf', 'sigmoid' and 'laplacian']`, look sort of okay to me.

**The kernels wh

[2017-09-12 23:20] #9715 closed

[2017-09-12 23:21] raamana opened #9746 "GridSearchCV Hanging for a simple default use"
Following up on discussion in #5115 , I am unable to use GridSearchCV as it hangs there without throwing an error or warning.

## Min code to reproduce:

[code]

Quick run of the above script, with results and software config:
[code]

I am unable to upload my files for some reason (bigger than 10MB - 412 samples with dimensions 64620). I don' think size is a causing the hangup as I let it run over

[2017-09-12 23:28] limjunggun commented on #7050
`for i in range(p):
        weight = np.array([ (w[i,j] / np.linalg.norm(w[:,j]))**2 for j in range(h) ])
        vips[i] = np.sqrt(p*(s.T @ weight)/total_s)
`
np.linalg.norm(w[:,j]) can be zero. So I think you have to change

[2017-09-12 23:49] jnothman commented on #9746
sounds very strange. The dataset size doesn't sound like the problem. and
you're only searching 24 parameters as far as I can see (note that range
uses exclusive upper bounds). Do you have the same problem for random data
of that shape

On 13 Sep 2017 9:21 am, "Pradeep Reddy Raamana" <notifications@github.com>
wrote:

Following up on discussion in #5115
<https://github.com/scikit-learn/scikit-lear

[2017-09-13 00:10] vgmd commented on #9735
Hey guys,

First time contributor here. Just submitted a PR for this issue!

[2017-09-13 00:59] jnothman opened #9749 "Update stock codes in plot_stock_market example"
examples/applications/plot_stock_market.py is currently failing to run because Google no longer considers some stock tickers to be valid aliases.

https://finance.google.com/finance/historical?q=SAP&output=csv used to work, but now you need https://finance.google.com/finance/historical?q=NYSE:SAP&output=csv

https://finance.google.com/finance/historical?q=CAT&output=csv used to work, but now you n

[2017-09-13 02:13] vrishank97 commented on #9749
Updated tickers in #9750
How do I resolve the conflicts?
I'm new to making open source contributions.

[2017-09-13 02:16] palnabarun commented on #9687
Hi @amueller , I am thinking of a manual development environment setup guide.

I am stuck with finding out an optimal way of setting up the environment. Currently, in my setup, I installed `Cython`, `numpy`, `scipy` along with an editable install of sklearn via `pip install -e .`.

And for the test and code coverage, `nose`, `coverage` were installed seperately.

Also, one more thing, in this page

[2017-09-13 02:48] raamana commented on #9746
Thanks Joel. I know - dataset is not very big. But when I just tried running with only the first 20 features (416x20) instead of the 64K features I have, it did run. That was with just random forest classifier without any feature selection. When I tried inputting a pipeline as an estimator input to GridSearchCV, which is what I really need, it also worked (at k=20 features). Keep in mind, these ar

[2017-09-13 03:02] raamana commented on #9746
Have the memory requirements been profiled under different scales (# samples, dimensionality, # jobs, etc). It probably is not necessary for small scales (1000s to 100,000), but it will be good to know when the implementation starts acting up on typical desktops, so we better understand the upper limits and breaking combinations.

[2017-09-13 03:02] jnothman commented on #9746
Maybe dimensionality, maybe something more weird. 64k features might indeed be slow to process if they are dense.

[2017-09-13 03:19] jnothman commented on #9746
Firstly, can I suggest that you set GridSearchCV's verbose flag, so that you can see `fit`s completing as things progress... or so that you can see that they don't progress.

Secondly, you can try running this for [100, 400, 1600, 6400, 25600, 65000] feature subsets, and seeing how the time scales.

[2017-09-13 03:42] raamana commented on #9746
Sure, I was planning to do that myself, although the other way, start largest and reduce it until it works :)

[2017-09-13 03:55] jnothman commented on #9746
Yes, but if you get a curve from the first few points and extrapolation
shows that you'll need weeks to complete...

On 13 September 2017 at 13:42, Pradeep Reddy Raamana <
notifications@github.com> wrote:

[2017-09-13 05:55] priidukull commented on #9393
I was putting print statements into the code and comparing the values of the variable X during different stages of execution... one environment my Mac desktop and another one that I had set up with docker running on my Mac.

[2017-09-13 06:05] jnothman commented on #9393
Great. It's extremely helpful to have someone reporting the issue who is
also capable and willing to debug it. If only I could reproduce it on my
mac. I've wasted lots of time failing to set up an appropriate debian
virtual machine.

Do you recall which C function was responsible for the divergence? Is the
input to TSNE._tsne identical on both platforms?

I've just realised we have a higher level

[2017-09-13 06:06] jnothman commented on #9393
Let's use verbose=100 just to be sure (there are some things reported at
verbose=20)

On 13 September 2017 at 16:05, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-09-13 06:18] jnothman commented on #9393
Okay, I've just noticed a likely bug by reviewing the code (with an eye for a certain issue I previously found in tsne: uninitialised memory), which could be platform dependent or otherwise hard to reproduce:

* `neg_f` is [defined as (n_samples * n_dimensions)](https://github.com/scikit-learn/scikit-learn/blob/0.19.0/sklearn/manifold/_barnes_hut_tsne.pyx#L70)
* `neg_f` is [populated](https://gith

[2017-09-13 06:38] JSchulte01 commented on #3115
Reopening:

RandomizedSeachCV with RandomForestClassifier Deadlocked after running for a period of time on Amazon EC2 instance.

Had to Ctrl-C after process hung as evidenced by 30Mins of zero CPU activity.

[code]

[2017-09-13 06:44] jnothman commented on #3115
Could you provide a sufficient code/data snippet to help reproduce this issue?

[2017-09-13 07:02] jnothman commented on #9393
This may not be our issue: I'm not managing to get the assertion to fail by merely populating neg_f with junk

[2017-09-13 07:03] JSchulte01 commented on #3115
Code:

[code]

requirements.txt
[code]

[2017-09-13 07:12] jnothman commented on #3115
What is data? How big is it, at least?

On 13 September 2017 at 17:03, James <notifications@github.com> wrote:

[2017-09-13 07:19] JSchulte01 commented on #3115
Data is 150k rows, each row is 52 integer numeric values.
Labels are 82 distinct string labels.

[2017-09-13 07:34] jnothman commented on #3115
And is the deadlock reproducible for you with synthetic data? If so, please provide a full code snippet including the data generation.

[2017-09-13 08:20] grjd opened #9751 "ward clustering for a list of objects"
I want to use scikit.cluster.Ward for group analysis. For one object it is straightforward to use the code bellow to fit one object ("fmri_masked") which is a 4D object.
Is it possible to do Ward clustering for a list of objects, that is, rather than 1 fmri scan a list of them ?

ward = FeatureAgglomeration(n_clusters, linkage='ward')
ward.fit(fmri_masked)

thanks

[2017-09-13 10:07] wdevazelhes commented on #9736
Hi ! I'm a first time contributor, i will work on this one

[2017-09-13 10:10] jnothman commented on #9736
Thanks.

On 13 September 2017 at 20:07, wdevazelhes <notifications@github.com> wrote:

[2017-09-13 11:40] jnothman opened #9752 "BaseSGD should not warn quite so often"
Because of some strange legacy validation in __init__ (and set_params) as well as in fit and partial_fit (probably excessive in any case), the FutureWarning in BaseSGD is repeated when warn='always' is used. The FutureWarning should only be issued in uses of `fit` and `partial_fit`, and not during `__init__` or `set_params`.

[2017-09-13 11:45] jnothman opened #9753 "max_iter and/or tol should be set explicitly for SGD estimators in docs"
SGD{Classifier,Regressor}, PassiveAggressive{Classifier,Regressor} and Perceptron all now issue a FutureWarning if they are fit without specifying one of {max_iter, tol} parameters explicitly. Together with the issue raised in #9752, our documentation building thus issues hundreds of warnings. We should explicitly specify max_iter and tol for uses in examples/ and doc/ so that warnings aren't issu

[2017-09-13 11:47] lesteve commented on #9746
@raamana thanks for the snippet. Just a comment: the "stand-alone" part in "stand-alone snippet" is very important, which means that basically I can just copy and paste the snippet and quickly see if I can reproduce the same behaviour. Your snippet depends on csv files that are only on your computer ...

[2017-09-13 12:35] vrishank97 commented on #9752
Would removing self._validate_params() from __init__ and set_params solve this issue?

[2017-09-13 12:52] jnothman commented on #9752
well it would, but with side effects that would result in tests failing

On 13 Sep 2017 10:35 pm, "Vrishank Bhardwaj" <notifications@github.com>
wrote:

[2017-09-13 12:58] raamana commented on #9746
Sure, I wanted to reproduce the problem I had (requiring me to use my data), not something that can be simulated.

Joel, when trying to run the grid search for different dimensionalities, I used the following code:
https://gist.github.com/raamana/24a1c8ed0cc4d66944742ff96ec4c510

It seems to quit after the first iteration - without any logs or errors. I tried running it a few times and it is still

[2017-09-13 13:09] jnothman commented on #9749
I think our documentation builder, Circle CI, is sometimes hitting servers that can access data by the old ticker symbols, and sometimes not...

[2017-09-13 13:13] jnothman commented on #9746
default_timer() reports seconds, not milliseconds.

And I can't see any reason for it not to progress to a second iteration unless there was an error calling logging.info(log_msg) that you didn't see.

[2017-09-13 13:14] vrishank97 commented on #9752
How should I go about tackling this issue?

Here's a snippet from the file
`        # current tests expect init to do parameter validation
        # but we are not allowed to set attributes`

[2017-09-13 13:15] jnothman commented on #9752
Maybe you could add a flag parameter to the validation method.

On 13 September 2017 at 23:14, Vrishank Bhardwaj <notifications@github.com>
wrote:

[2017-09-13 13:23] #9432 closed

[2017-09-13 13:26] jnothman commented on #9393
Unfortunately, that's not the issue here (although it should be fixed):
compute_gradient is only ever called with stop=-1.

On 13 September 2017 at 16:05, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-09-13 13:30] raamana commented on #9746
It failed similarly even before I put logging.info statement. The log file doesn't show anything else:
[code]

[2017-09-13 13:32] raamana commented on #9746
same behaviour with simulated data btw using `train_data_full = np.random.rand(416,70000)`

[2017-09-13 13:34] vrishank97 commented on #9752
I've added a set_future_warning flag. How do I test my changes locally?

[2017-09-13 13:48] raamana commented on #9746
same behaviour even when I replace the pipeline (selectkbest with mutual_info followed by random forest) with plain random forest.. Its faster (obviously), but still quitting after the first iteration

[2017-09-13 13:58] lesteve commented on #9751
I see you are a nilearn user, I feel it would be best to ask your question there. Closing this one, feel free to shout if you strongly disagree.

[2017-09-13 13:58] #9751 closed

[2017-09-13 14:06] vrishank97 commented on #9753
Would explicitly using the default values be enough or should I try to get good hyperparameters?

[2017-09-13 14:39] raamana commented on #9746
similar behaviour on my mac, too (previous attempts were on centos)

[2017-09-13 14:42] raamana commented on #9746
If its a problem with the implementation, I can't be the only one reporting it? My guess is its much more likely, the problem is with my setup. I will look into the tests for grid search.

[2017-09-13 14:43] #9730 closed

[2017-09-13 15:02] lesteve commented on #9746
I slightly simplified your snippet, made it stand-alone with some random data, and reduces the number of splits from 25 to 3. It runs in ~50s on my laptop:

[code]

It keeps printing stuff on the console, which does not correspond to my definition of "hanging".

if I look at one of the ouptut printed on the console:
[code]

With `n_splits=25` I get the following output:
[code]

A back of the envel

[2017-09-13 15:07] AikawaKai commented on #9113
I'm also interested in this feature :)

[2017-09-13 15:43] lesteve commented on #6452
Fixed by #9303.

@wallygauze please shour if I got this wrong.

Small advice @wallygauze please use "Fix #issueNumber" in your PR description, this way the associated issue gets closed automatically when the PR is merged. For more details, look at [this](https://github.com/blog/1506-closing-issues-via-pull-requests).

[2017-09-13 15:43] #6452 closed

[2017-09-13 16:19] wallygauze commented on #6452
Nice, didn't know about that, thanks.

[2017-09-13 16:27] wuxiangli91 commented on #8470
I do not understand,for one hot encoding categorical feature,how to choose split point?

[2017-09-13 17:03] LPugens opened #9756 "[request] Reference for Agglomerative Clustering"
It could be helpful to have a base paper referencing the implementation adopted at the AgglomerativeClustering class.

Does anyone have such reference, so that we could attach to the documentation?

[2017-09-13 18:52] vrishank97 commented on #9325
I'd like to work on
 'sklearn.model_selection',
 'sklearn.svm'
if work on them is stalled.

[2017-09-13 20:41] mjbommar commented on #3115
FYI, we were never able to reproduce deterministically or resolve this without disabling parallelization.

[2017-09-13 21:20] jnothman commented on #9753
explicitly setting the default, or anything that is appropriate to
illustrate usage in that context without raising a warning

On 14 Sep 2017 12:06 am, "Vrishank Bhardwaj" <notifications@github.com>
wrote:

[2017-09-13 21:54] jnothman commented on #9752
If it's about building the documentation, you can use "make doc" if you
have appropriate dependencies installed.

On 13 September 2017 at 23:34, Vrishank Bhardwaj <notifications@github.com>
wrote:

[2017-09-13 21:56] jnothman commented on #9113
@aksaw are you working on it?

[2017-09-13 22:24] asanakoy commented on #8920
Hi,
I got the same error after some when run `pairwise_distances` on a large matrix, for example 100000x4000

The code to reproduce

[code]

Output of the script after some time.
[code]

I reckon this happens os stage of pickling/unpickling of the result of one of the jobs. The chunk of matrix that produces one job is 100000x10000 which is probably too big for pickle.

To prove this I hacked the `

[2017-09-13 22:32] taylorkm commented on #9743
@amueller I'm a first-timer, so I thought I would take a crack at this one.

[2017-09-13 22:57] HTCode commented on #9722
@musically-ut Can you please check with the code below ? It seems that even the sigmoid kernel produces the same bad accuracy as the linear and cosine kernels (i.e. all three are correct ~9.5% of the time due to sheer chance with n_classes=10), with the digits dataset.

Strangely, the two warnings (RuntimeWarning and ConvergenceWarning) does not appear when using the digits dataset, but the result

[2017-09-13 23:05] jnothman commented on #8470
I don't understand your question, but i also think stack overflow might be
a better place to ask it

On 14 Sep 2017 2:27 am, "wuxiangli91" <notifications@github.com> wrote:

[2017-09-13 23:08] jnothman commented on #9325
Well, @souravsingh has not posted a pull request.

[2017-09-13 23:13] jnothman commented on #3115
Hmm. I don't understand how this kind of issue should be peculiar to random forest, except that it is particularly costly in terms of memory, unless there is a leak or something in the tree.

@mjbommar, do your issues also include this message
[code]
?

[2017-09-13 23:17] jnothman commented on #8920
Or maybe we just should parallelise on smaller chunks...

Btw, parallelism in pairwise_distances is often not beneficial for inbuilt
metrics, particularly if you have accelerated computation at the numpy
level (e.g. MKL).

On 14 September 2017 at 08:24, Artsiom <notifications@github.com> wrote:

[2017-09-13 23:32] jnothman commented on #9393
@priidukull your verbose=20 output would be welcome. I'm otherwise at a loss.

[2017-09-14 00:04] JSchulte01 commented on #3115
@jnothman I have been unable to reproduce with sample code or real data. I do have logs of memory usage and at no time does the system go below 30% spare memory. I guess leave it closed for now. If I get time I'll try to reproduce it with some fuzzing.

[2017-09-14 01:57] aksaw commented on #9113
Yes, I'm trying to work on this in my free time. It's my first time contributing to scikit-learn, but if it is high priority, I could try to speed things up.

[2017-09-14 02:22] souravsingh commented on #9325
@vrishank97 I will put a PR for fixing the docstrings in a few minutes

[2017-09-14 02:59] jnothman commented on #9113
no rush, just checking if you're still hanging in there. often it's worth
posting a WIP (work in progress) pull request to help tracking the work.

On 14 Sep 2017 11:57 am, "Akshay Sawhney" <notifications@github.com> wrote:

[2017-09-14 06:18] priidukull commented on #9393
Where can I set verbose=20?

[2017-09-14 06:19] jnothman commented on #9393
[code]

[2017-09-14 06:35] priidukull commented on #9393
Ran:

[code]

Output: https://gist.github.com/priidukull/1453adb7cf2bca2093b2dd9d6646f64e

[2017-09-14 08:06] jnothman commented on #9393
@priidukull thanks for that. But the verbose output you have sent had substantial discrepancy with what it should, and not just in the numbers. Are you certain that the library is correctly compiled? Do you get this error when running the test on the wheel version of scikit-learn 0.19?

[2017-09-14 08:32] jnothman commented on #9393
Or maybe that comment was wrong and I was just confused because your output
isn't complete: the beginning is cut off

On 14 Sep 2017 4:35 pm, "priidukull" <notifications@github.com> wrote:

[2017-09-14 08:35] lesteve commented on #9746
I am going to close this one. It doesn't look to me like there is anything inherently wrong with scikit-learn. If you debug your problem further and spot a place where GridSearchCV or RandomForestClassifier is performing very badly, do feel free to reopen.

[2017-09-14 08:35] #9746 closed

[2017-09-14 08:57] priidukull commented on #9393
Uups, I missed that. The output is more than 1Mb in size, so I did not find a pastebin for that. Can run the test again. How do you suggest that I send the output to you?

[2017-09-14 08:59] lesteve commented on #8920
AFAIR this is a limitation of multiprocessing (not pickle) in python 2 that may be fixed in python 3, see https://bugs.python.org/issue17560. Actually I tried and your snippet fails with python 3.6., the reason for this is given in https://bugs.python.org/issue17560#msg185345:

The slightly surprising thing is that the arrays should be memapped to work around exactly this problem ...

[2017-09-14 09:08] jnothman opened #9763 "warm_start for GridSearchCV and RandomizedSearchCV"
In practice it is useful to search over some parameter space and then continue the search over some related space. We could provide a `warm_start` parameter to make it easy to accumulate results for further candidates into `cv_results_` (without reevaluating parameter combinations that have already tested).

Issues:
* What do we do when the parameter space is reduced rather than expanded; do we de

[2017-09-14 09:20] jnothman commented on #9393
you can email my personal address for the, thanks

On 14 Sep 2017 6:58 pm, "priidukull" <notifications@github.com> wrote:

[2017-09-14 09:20] jnothman commented on #9393
or zip it

On 14 Sep 2017 6:58 pm, "priidukull" <notifications@github.com> wrote:

[2017-09-14 09:32] vrishank97 commented on #9753
Should I make seperate PRs for each model or one big PR that updates all of them?

[2017-09-14 09:38] TomDLT commented on #9753
One PR is fine

[2017-09-14 09:53] lesteve commented on #9687
I am slightly against mentioning docker in our install docs as well. We already bad enough about maintaining good installation instructions. Adding yet another way of doing it does not strike me as a particularly great idea ...

[2017-09-14 11:17] asanakoy commented on #8920
These weird limitations of python are annoying. I can make a pull request to introduce `backend` argument into `pairwise_distances` call.

[2017-09-14 11:42] JSchulte01 commented on #3115
Another crash, this time with a backtrace, occured during the fitting again, no memory issues, resulted in two deadlocked python processes hanging until killed.
[code]

[2017-09-14 11:46] lesteve commented on #9692
I am going to try to sum up the discussion here:
* sign of the coefficients in a given eigenvector does not mean anything at all and for reproducibility of what the solver does we have `u_based` parameter in `svd_flip`.
* nonetheless you are trying to interpret the sign of the loadings in some fashion, and you are complaining that the result does not match your intuition
* in your particular examp

[2017-09-14 11:46] #9692 closed

[2017-09-14 11:51] lesteve commented on #9692
And by the way @bsolomon1124 thanks for the good quality issue! It is always nice when we can see that the OP has made an effort to research the issue and explain where he was coming from. Let's say this does not always happen ...

[2017-09-14 12:29] rth commented on #9687
python users usually can rely on virtualenv/anaconda, but gets messy really fast, specially when you're the developer (in contrast with being the user of the library). being able to run make devtools; devtools/env.sh make is the optimal flow for me: this way we only need docker installed and nothing else.

The idea of getting full reproducibility of CIs is interesting but IMO it's more the advance

[2017-09-14 12:37] rth commented on #9756
+1 both the [user manual section](http://scikit-learn.org/stable/modules/clustering.html#different-linkage-type-ward-complete-and-average-linkage) and the [AgglomerativeClustering](http://scikit-learn.org/stable/modules/generated/sklearn.cluster.AgglomerativeClustering.html#sklearn.cluster.AgglomerativeClustering) docstrings do not contain any references..

[2017-09-14 13:04] lesteve commented on #8920
You can actually override the default joblib backend like this which should work around the problem for your particular use case.

[code]

Here is a simple snippet showing that it does work:

[code]

Output:
[code]

This is a joblib feature that is a bit recent and not that well known I am guessing, see https://pythonhosted.org/joblib/parallel.html#joblib.parallel_backend where it is mentioned for

[2017-09-14 13:51] lesteve commented on #9756
I guess someone who knows what a relevant reference would be is more than welcome to open a PR!

[2017-09-14 13:53] ShichengChen commented on #4772
scikit-learn==0.19 works well

[2017-09-14 13:54] ShichengChen commented on #6147
scikit-learn==0.19 works well

[2017-09-14 14:03] lesteve commented on #4772
@ShichengChen there is no need on comment on closed issues, find a tutorial about github if you are not sure how this works.

[2017-09-14 14:10] rth commented on #9756
Maybe @MechCoder or @GaelVaroquaux would know the reference[s] for this? I guess it could be,

 * Ward, J. H., Jr. (1963), "Hierarchical Grouping to Optimize an Objective Function",
 * or the section on hierarchical clustering from some reference text book (e.g. Hastie, Tibshirani, & Friedman's "The Elements of Statistical Learning" )

but I'm not sure if this actually corresponds to the current i

[2017-09-14 14:56] monaalsh opened #9767 "permuting features in MLPClassifier"
I get entirely different result when I permute features while using
MLPClassifier, as shown below:

[code]

using data and new_data results in two completely different answers. what could be the reason?
is there any parameter in MLPClassifier, which should
 that somehow optimize or select features as in RandomForest

[2017-09-14 15:10] mjbommar commented on #3115
@jnothman , we unfortunately don't have access to data or environment anymore, but I can confirm from recollection that memory was not an issue.

Our data was also medium-large-ish depending on your opinion, 300-500K rows with ~1000 features.

[2017-09-14 15:10] GaelVaroquaux commented on #9756
That's the reference for the Ward criterion.

That's a good reference in general for hierarchical clustering.

Me neither. I don't know the reference for the implementation.

[2017-09-14 16:30] thechargedneutron commented on #9691
@jnothman  Is someone working on this? I would like to take it as my first "moderate" bug. :) In case, it's open, what needs to be done here? As mentioned above, "it should be feasible to support kneighbors_graph output in tsne as precomputed (although it should be squared distances really)", we need to add this compatibility and add some tests. Please, correct me if I am wrong.

[2017-09-14 16:37] mjbommar commented on #3115
Reviewing notes, one small hint is that this error NEVER occurred when we set `bootstrap=False`, either using `RandomForestClassifier` or `ExtraTreesClassifier` (since `False by default).

That also aligns with the stacktrace from the OP back in 14.

I think this suggests we might want to focus on L103-120 of `forest.py` and any common code lines going back to 2014.

[2017-09-14 16:51] mjbommar commented on #3115
Any chance these are related back through the `_generate_sample_indices` and `check_random_state`?
https://github.com/numpy/numpy/issues/9650
https://github.com/numpy/numpy/issues/9248

[2017-09-14 17:00] ramhiser opened #9768 "check_estimator does not play well with Pipelines"
#### Description

When calling `sklearn.utils.estimator_checks.check_estimator` on a simple pipeline, an `AttributeError` exception is thrown.

Either the `check_estimator` should be altered to support `Pipeline` objects or a separate `check_pipeline` utility should be created.

#### Steps/Code to Reproduce

[code]

#### Expected Results

The expected result is to return `None`, following this exa

[2017-09-14 17:44] oliblum90 opened #9771 "pairwise_distances faster than NearestNeighbors??"
if I run

[code]

I get the times 2.95766997337 sec, 12.827755928 sec

How can that be possible? I thoguht by fitting the nearest neighbor method automatically looks for the fastest way to find the nearest neighbors

[2017-09-14 19:15] andrewww commented on #9394
@rth Honestly, I had not dug into the math to determine what the correct solution would be; I merely discovered the dependency on number of examples, knew that was wrong, and proposed a solution that at least eliminates that dependency.

I suspect the examples in the original paper is the best approach (you mention section 5.5, but I only see 5.1 through 5.3, which really are three separate exampl

[2017-09-14 19:51] rth commented on #9394
Well, all your previous bug reports were accurate and provided a fix: that is very helpful. Thank you )

 Someone would just need to investigate this issue in more detail...

[2017-09-14 19:57] rth commented on #9771
Unfortunately, that doesn't always work.

With your data, I think, `NearestNeighbors(algorithm='auto')` will choose the ball tree NN backend, while, because it is high dimensional data, brute force would be faster. You can test it by explicitly specifying the  `algorithm` parameter to NearestNeighbors. Also see related discussion in https://github.com/scikit-learn/scikit-learn/issues/8213 .

[2017-09-14 20:27] oliblum90 commented on #9771
ok thanks

[2017-09-14 20:27] #9771 closed

[2017-09-14 21:32] csalazar94 opened #9772 "Windows only: problem with mutual_info_classif when discrete=True"
#### Description

RuntimeWarning: invalid value encountered in log
  log_outer = -np.log(outer) + log(pi.sum()) + log(pj.sum())

#### Steps/Code to Reproduce

[code]
#### Expected Results

array([ 1.48233078])

#### Actual Results

array([ nan])

#### Versions

Windows-7-6.1.7601-SP1
Python 3.6.2 |Continuum Analytics, Inc.| (default, Jul 20 2017, 12:30:02) [MSC v.1900 64 bit (AMD64)]
NumPy 1.13.1

[2017-09-14 22:15] jnothman commented on #9687
Never mind docker. Anaconda goes a long way to not needing Docker for
something like scikit-learn. At the moment our docs talk about a full
Anaconda setup, or using conda to install scikit-learn. What we should do
in the contributor docs is describe how to use conda to set up an
environment, install dependencies and then do an in-place build of
scikit-learn for development. We could also consider

[2017-09-14 22:38] jnothman commented on #9771
But I'd hope that for large n_samples,
NearestNeighbors(n_neighbors=5).fit(X).kneighbors()
(search for nearest neighbors within X) is faster. Some benchmarks might be
interesting...

On 15 September 2017 at 06:27, oliblum90 <notifications@github.com> wrote:

[2017-09-15 01:17] #9743 closed

[2017-09-15 01:22] jnothman commented on #9767
random initialisation alone could do this if the space is not convex

On 15 Sep 2017 12:56 am, "Mona.Alsh" <notifications@github.com> wrote:

[2017-09-15 03:57] jnothman commented on #9691
look at how similar sparse neighbourhood data is handled (and tested) in
dbscan

On 15 Sep 2017 2:30 am, "Kumar Ashutosh" <notifications@github.com> wrote:

[2017-09-15 04:00] jnothman commented on #3115
Would you mind raising a more specific issue focused on potential issues in parallel bootstrap?

[2017-09-15 04:03] jnothman commented on #9768
Thanks for raising this. Sounds like duck typing trouble

[2017-09-15 09:18] lesteve commented on #3115
numpy/numpy#9650
numpy/numpy#9248

numpy/numpy#9248 is certainly an interesting read. If that is the source of the problem and if I understand the numpy issue correctly I think that this problem should be gone with the latest version of joblib which is using [loky](github.com/tomMoral/loky) (which under the hood uses fork/exec on POSIX). @ogrisel can correct me if I am wrong. Note that the joblib

[2017-09-15 09:52] monaalsh commented on #9767
@jnothman thanks for your reply!
 I made this fixed by fixing the random_state in
clf = MLPClassifier(hidden_layer_sizes=(50,2), random_state = 33)
shouldn't this fix the random initialization?

[2017-09-15 09:53] lesteve commented on #9749
Googling a bit here are some links I found that seems to indicate that others have had problems with Google Finance recently:

https://stackoverflow.com/questions/46114156/google-finance-no-longer-work
https://stackoverflow.com/questions/46090810/google-finance-api-not-working-from-6-september-2017
https://www.stockmarketeye.com/blog/google-finance-ticker-symbols-not-working/

pandas_datareader se

[2017-09-15 10:02] lesteve commented on #9687
Before I forget the nilearn documentation is quite good and it detects the OS via the User Agent string.
http://nilearn.github.io/introduction.html#installing-nilearn

The choice of what to recommend for which users could be tweaked of course, taken into account that scikit-learn audience is a bit more technical than scikit-learn on average.

[2017-09-15 10:13] anselal commented on #8950
The same here for GroupKFold and Gridsearch. The error I get is

`
for train, test in super(_BaseKFold, self).split(X, y, groups):
  File "F:\Development\IDE\Python35-keras2-tf-gpu\lib\site-packages\sklearn\model_selection\_split.py", line 91, in split
    for test_index in self._iter_test_masks(X, y, groups):
  File "F:\Development\IDE\Python35-keras2-tf-gpu\lib\site-packages\sklearn\model_select

[2017-09-15 10:44] lesteve commented on #9394
This seems like a bug indeed although I don't know much about SparsePCA. I quickly looked at it and the PCA does not give the same results as the SparsePCA with alpha=0 and ridge_alpha=0 (whether they should or not I am not sure). One thing I noticed is that `spca.components_` are not normalized (in contrary to `pca.components_`) and their norms seems to depend on the size of the data as well so m

[2017-09-15 12:01] lesteve commented on #9768
At the moment it looks like `Pipeline.fit_transform` will always be there. Should we just use a similar approach as in `Pipeline.transform`:
[code]

Note that it doesn't look like the end of the story as far as check_estimator and Pipeline is concerned. If I modify the code so that `.fit_transform` does not exist in the original snippet, I still get an error:

[code]

[2017-09-15 12:10] lesteve commented on #9772
Can not reproduce on an Ubuntu box with similar python, numpy, scipy and scikit-learn versions. The output I get is `array([ 0.00848119])`.

[2017-09-15 12:12] lesteve commented on #9772
Maybe you could add a bit more details where you got your expected result from?

[2017-09-15 12:46] caioaao commented on #9687
About maintaining another install instruction: docker is a reproducible and testable alternative to documenting steps. all you have to do is build a docker image and run the tests inside it. this is different from running a conda environment, as there won't be external factors (i.e: linking with the wrong blas implementation because you installed it for another project) to mess with your install.

[2017-09-15 13:19] priidukull commented on #9393
[output.txt.zip](https://github.com/scikit-learn/scikit-learn/files/1306459/output.txt.zip)

[2017-09-15 13:20] priidukull commented on #9393
Test code:

[code]

[2017-09-15 15:01] tomMoral commented on #9393
@priidukull Thanks for the log. I tried to read it but there is only the logs after iteration 200 ("QuadTree" is way too verbose and I think we lose the beginning as the log growth too big).
I created a branch with better debugging logs here on top of @jnothman nonstop branch : https://github.com/tomMoral/scikit-learn/tree/nonstop . Could you please check it out and re-run the same code?

It print

[2017-09-15 16:00] csalazar94 commented on #9772
I'm trying to compute mutual information between two discrete variables, one takes values between 1 and 5, the other 0 and 1.

I tried again but i still got this:

[2017-09-15 16:27] massich opened #9777 "calling type_of_target crashes before returning unknown"
#### Description

calling `type_of_target(y)` with `y` being a sparse representation of a multiclass-multioutput variable crashes.

#### Steps/Code to Reproduce
[code]

#### Expected Results
[code]
#### Actual Results
[code]

####Notes
#9059 solves it, but I need to double check that its actually properly solved / tested. Because this should had been captured by some test already.

[2017-09-15 16:33] jste commented on #7493
thus just sucks

[2017-09-15 17:55] atorch opened #9779 "Feature request: include mean absolute error (MAE) loss in sklearn.linear_model.ElasticNet and ElasticNetCV"
#### Description

In scikit-learn v0.19.0, ElasticNet minimizes the objective function:

In words, the objective function is mean squared error (MSE) loss on the predicted variable, plus regularization terms.  My feature request is to include an argument (with 'mse' as its default value) that would allow the user to switch to mean absolute error (MAE) loss on the predicted variable.  For the equiv

[2017-09-15 19:05] vrishank97 opened #9780 "unexpected keyword argument 'alternate_sign' in examples/applications/plot_out_of_core_classification.py"
#### Description
unexpected keyword argument 'alternate_sign' in plot_out_of_core_classification.py

#### Steps/Code to Reproduce
run examples/applications/plot_out_of_core_classification.py

#### Traceback
Traceback (most recent call last):
  File "applications/plot_out_of_core_classification.py", line 197, in <module>
    alternate_sign=False)
TypeError: __init__() got an unexpected keyword argu

[2017-09-15 19:12] vrishank97 commented on #9780
There might be a problem with alternate_sign
The problem goes away on replacing `alternate_sign=False` with `non_negative=True` in line 197 of plot_out_of_core_classification.py

[2017-09-15 19:37] kotoroshinoto opened #9781 "Trying to extend CountVectorizer, getting empty vocabulary error"
i don't know if this is a usage issue or a bug, but here is the code
https://pastebin.com/xpY2SscW

when I try to use this in a pipeline I get empty vocabulary errors. If this is not a bug, what am I doing wrong?

[2017-09-15 20:01] rth commented on #9781
@kotoroshinoto Please post this question on StackOverflow with the `scikit-learn` tag instead, it is more suitable for such discussion and you would more likely get the answer to that question there... Thanks.

[2017-09-15 20:01] vrishank97 opened #9782 "unexpected keyword argument 'max_iter' in examples/linear_model/plot_sgd_iris.py"
Description

unexpected keyword argument 'max_iter' in plot_sgd_iris.py

Steps/Code to Reproduce

run examples/linear_model/plot_sgd_iris.py

Traceback

Traceback (most recent call last):
  File "linear_model/plot_sgd_iris.py", line 41, in <module>
    clf = SGDClassifier(alpha=0.001, max_iter=100).fit(X, y)
TypeError: __init__() got an unexpected keyword argument 'max_iter'

There might be a prob

[2017-09-15 20:03] kotoroshinoto commented on #9781
I have done so already. I wasn't sure if it was a bug or a problem with how I was organizing the code.

[2017-09-15 21:38] mjbommar commented on #9746
@lesteve , possibly related to our `bootstrap=True` / `numpy.random` notes on 6147?

[2017-09-15 21:44] mjbommar commented on #3115
@lesteve , just linked to this from https://github.com/scikit-learn/scikit-learn/issues/9746.

@jnothman , I will see if I can put together a test case generator that pre-emptively logs input data and seed so we can reproduce.

[2017-09-15 22:07] priidukull commented on #9393
Test code:

[code]

[output2.txt.zip](https://github.com/scikit-learn/scikit-learn/files/1307832/output2.txt.zip)

[2017-09-15 22:52] raamana commented on #9746
Thanks Joel and lesteve.

Thanks @mjbommar for linking to related issues. I'll look into them and see if I can find any common sources of issues. My problem doesn't seem to be 100% reproducible.

[2017-09-15 23:06] amueller commented on #9746
Can you upload the data btw? That would help debugging (if anyone is interested).
Also, grid-searching over number of estimators in random forests doesn't really make a lot of sense. Performance increased with more estimators, but with diminishing returns. So if you're willing to run 250 estimators, just set that number.

[2017-09-15 23:07] amueller commented on #9746
is this a multi-class or multi-label problem? Have you monitored memory consumption? It could be that your ram is filling up.

[2017-09-16 02:33] zfrenchee commented on #9481
@jnothman I would love to do this myself, but that's just it -- I'm don't know how to use spectral clustering from this library for graphs. If you give me the general gist, i can experiment and figure it out myself perhaps, and then try to write this documentation. Let me know.

[2017-09-16 03:58] raamana commented on #9746
This is a multi-class problem (4 classes). The size is large: 416 samples with 64K features, leading to 640MB when exported using numpy.savetxt. Will try to make it smaller by exporting in binary and look for appropriate places to upload big data files (any suggestions?)

Optimizing on num_estimators wasn't the a goal - was just trying to see if larger forest was causing issues (becoming too deman

[2017-09-16 05:32] jrbourbeau opened #9784 "KMeans gives slightly different result for n_jobs=1 vs. n_jobs > 1"
#### Description

I noticed that `cluster.KMeans` gives a slightly different result depending on if `n_jobs=1` or `n_jobs>1`.

#### Steps/Code to Reproduce

Below is the code I used to run the same `KMeans` clustering on a varying number of jobs.

[code]

#### Expected Results

Should expect the the clustering result (e.g. the inertia) to be the same regardless of how many jobs are run in parallel

[2017-09-16 05:35] jrbourbeau commented on #9784
Looks like the `n_jobs=1` case gets a different random seed for the `n_init` runs than the `n_jobs!=1` case.

https://github.com/scikit-learn/scikit-learn/blob/7a2ce27a8f5a24db62998d444ed97470ad24319b/sklearn/cluster/k_means_.py#L338-L363

I'll submit a PR that sets `random_state` to be the same in both cases.

[2017-09-16 11:05] jnothman commented on #9749
No. I think we should wait a few days and hope that it stabilises...?

[2017-09-16 12:45] nkunwar30 commented on #6261
I am new to the ML . I am trying to create tree graph following amuller advise , but no luck. I am trying to do the same in IPYTHON NOTEBOOK. I get nothing..

from sklearn.tree import convert_to_graphviz
import graphviz

graphviz.Source(export_graphviz(tree)) ===> Doesn't give me any output. Any advise

[2017-09-17 03:38] jnothman commented on #9767
it'll fix the random initialisation such that feature 1 will always get the
same initial weight. Permute the features and feature 1 is a different
feature.

Close this issue if you're satisfied

On 15 Sep 2017 7:52 pm, "Mona.Alsh" <notifications@github.com> wrote:

[2017-09-17 03:41] jnothman commented on #9768
yes, the fit_transform business is probably a bug: it should only be
available when the last step is a transformer. modifying parameters in fit
will continue to make pipeline fail for a while, unfortunately

On 15 Sep 2017 10:01 pm, "Loïc Estève" <notifications@github.com> wrote:

[2017-09-17 04:05] jnothman commented on #9687
I've lately noticed Quick Starts that make installation instructions less
narrative and more "choose your own adventure", with platform sniffing,
like at https://spacy.io/docs/usage/

I think a conda environment.yml would be sufficient to eliminate variation
that should actually cause tests to fail.

On 15 September 2017 at 22:46, Caio Oliveira <notifications@github.com>
wrote:

[2017-09-17 06:30] jnothman commented on #9777
you mean with string (dtype=O) labels? ugh. I'd rather not support them for
multi-output at all!

On 16 Sep 2017 2:27 am, "Joan Massich" <notifications@github.com> wrote:

[2017-09-17 06:32] jnothman commented on #7493
thanks... In most cases it's fine to one-hot encode categories outside of
scikit-learn. and it's not hard to do inside scikit-learn with a
dictvectorizer. why is that worth saying it sucks?

On 16 Sep 2017 2:34 am, "jste" <notifications@github.com> wrote:

[2017-09-17 06:54] tomcwalker commented on #6645
Some observations I've noted on this.

On my windows 7 + AMD system, n_jobs doesn't work for K Nearest Neightbours. I set it to 6 on my 8 core system, but I get 12% CPU usage, which is a single core. I'm seeing a few python processes (3) but only 1 is using any CPU.

https://stackoverflow.com/questions/46252285/cant-get-sklearn-working-on-multiple-cores-using-n-jobs

Also, there seems to be a huge

[2017-09-17 07:23] jste commented on #7493
Sorry for my strong words. It seems to be such a simple and obvious thing
to be implemented and yet it is not available. In most of my use cases
categorical variables are encoded by strings. Using integers would suggest
(me) that there's an ordering between levels. So to me the One Hot Encoder
would always require using additional modules.

On Sep 17, 2017 08:33, "Joel Nothman" <notifications@gith

[2017-09-17 10:28] monaalsh commented on #9767
great thanks!
yes, satisfied :)

[2017-09-17 10:28] #9767 closed

[2017-09-17 11:49] sschnug commented on #9481
(Coming from the [StackOverflow-question](https://stackoverflow.com/questions/46258657/spectral-clustering-a-graph-in-python/46258916#46258916) by the author)

I tried to approach the karate-club task with Spectral-Clustering with minimal knowledge and only using sklearn's docs and some definition of *Normalized Graph Cuts* (to see if that's what we want; yes). See above link for more information.

[2017-09-17 14:25] jnothman commented on #9777
But yes, I suppose if it is cheap to detect, a better error message would
help.

[2017-09-17 14:33] sam09 commented on #9698
Anyone picking this up? I am new here and want to contribute.

[2017-09-17 14:37] jnothman commented on #9780
I suspect you do not correctly have scikit-learn 0.19 installed. This works fine for me. When in the examples directory, print sklearn.__version__ to confirm.

[2017-09-17 14:37] #9780 closed

[2017-09-17 14:38] jnothman commented on #9782
Ditto #9780

[2017-09-17 14:38] #9782 closed

[2017-09-17 14:39] #9781 closed

[2017-09-17 14:51] jnothman commented on #9784
I've not chased down the original work, but I think this was intentional when we implemented n_jobs for KMeans initialisation, to avoid backwards incompatibility. Perhaps it makes more sense to be consistent within a version than across, but that is obviously a tension. What do you think?

[2017-09-17 15:37] agramfort commented on #9779
I think glmnet only supports MAE for scoring but not for fitting. Do I miss
something?

[2017-09-17 15:46] jnothman commented on #9393
Thanks again. Still all we can compare by is error, and not, say, gradients:

The first 20:
[code]

We see that the first error is a small numerical imprecision at line 5, but that this quite quickly blows out.

I'm not sure that this is quite sufficient to say that there is nothing fundamentally broken in the implementation (e.g. accessing randomly initialised memory), but that:
* it is more susc

[2017-09-17 15:49] jnothman commented on #9698
looks like it's free for taking

[2017-09-17 19:52] sam09 commented on #9698
From what I understand we need to write a general `safe_repr` method which never raises an exception.

After going through the source code for `repr`, the only cases where I see an exception being raised are
- RuntimeError if the value is deeply nested.( A deeply nested list)
- MemoryError if the value is too large. (A huge list)

I may be wrong but a recursive representation of `safe_repr` might

[2017-09-17 19:56] GaelVaroquaux commented on #9698
Try repr'ing the following object:

"""
class A(object):

    def __repr__(self):
           raise ValueError("I can raise what I want")
"""

The point being that objects' repr can cause the expression.

[2017-09-17 23:55] raamana commented on #9606
Somewhat related issue I just ran into is needing uniform access to `feature_importances_` from non-ensemble estimators, such as SVMs. Is this already possible, or something that might be considered in the future?

Context: I am trying to let users of my package https://github.com/raamana/neuropredict choose their estimator. Analyzing feature importance is important for interpretation in neuroimag

[2017-09-18 00:02] jnothman commented on #9606
What do you intend by feature importances for non-linear svm?

eli5 implements a generic wrapper that computes feature importance using a
data perturbation approach, but you should still expect it to be of limited
relevance for polynomial, RBF, etc decision functions.

[2017-09-18 01:15] jnothman commented on #9749
@lesteve, you used min instead of max in the code when calculating actual max. I've fixed it. I've also changed URL to https and finance.google, and am using ISO8601 dates. This is working locally, I suspect due to the URL rather than date format change. I just prefer using ISO8601 when possible (though perhaps we should be using the same format as in the spreadsheet output. Why do they not just u

[2017-09-18 01:46] raamana commented on #9606
I meant linear SVMs. I agree not all classifiers have a native measure of feature importance. But when they do, it would be good to have uniform access to it e.g. using a method you suggested `estimator.get_feature_importance()`, which may return different types of importance measures (feature weights in case of linear SVMs etc) for different estimators, but there is a clear way to access it.

[2017-09-18 02:18] jnothman commented on #9749
Build passing (for now!).

@lesteve, instead of your hard-coded expected values, could we use:
[code]

I also think a ValueError is inappropriate. The user has not provided an incorrect value.

[2017-09-18 05:48] lesteve commented on #9746
This issue is with n_jobs=1 though, so not related.

[2017-09-18 07:12] lesteve commented on #9749
Fine with me. I put something together quickly to get a more meaningful error from CircleCI.

[2017-09-18 07:21] lesteve commented on #9784
I seem to remember a discussion like this before (not sure it was about `KMeans`). Maybe it would be worth trying to search issues and read the discussion there.

[2017-09-18 07:39] lesteve commented on #9749
And BTW good job finding a small area in the possible phase space of possible combinations where things seem to work so far !

[2017-09-18 08:33] jnothman commented on #9749
I think
[code]
should be sufficient, actually.

[2017-09-18 09:27] lesteve commented on #9749
Done in 8b53659.

[2017-09-18 09:55] #4400 closed

[2017-09-18 11:06] kmike commented on #9606
@raamana eli5.explain_weights (see https://github.com/TeamHG-Memex/eli5) provides an uniform way to access feature importances for many sklearn (and non-sklearn) estimators. One of its goals is pretty much the same as you've described.

[2017-09-18 12:15] jnothman commented on #9393
So I guess that's a question to @priidukull too. Does the following `test_preserve_trustworthiness_approximately(s=100)` easily pass for you?
[code]

[2017-09-18 13:32] lesteve commented on #9772
I can reproduce on Windows actually. Looks like somewhere we get int32 somewhere and that a computation overflows ... need more investigation to pinpoint the source of the problem.

[2017-09-18 13:38] lesteve commented on #9772
@csalazar94 can you add some details about why you expected `array([ 1.48233078])` as the output of your snippet?

[2017-09-18 13:42] raamana commented on #9606
Thanks @kmike and Joel - interesting and useful package. I will look into it. Obtaining weights native to the classifier (rather than explaining weights) would suffice for my use case - atleast for now.

from a very quick reading, it looks like its not a true permutation approach (as in random forests), but a similar idea: http://eli5.readthedocs.io/en/latest/blackbox/permutation_importance.html#a

[2017-09-18 13:50] kmike commented on #9606
The difference between permutation importances implemented in eli5 and permutation importances commonly used for RF is the following: in RF you often have OOB samples out of the box, as a part of training; in general case you don't.

eli5's PermutationImportance doesn't use existing OOB samples for random forests at the moment, so it is less efficient than it could be for RFs, and a bit more trick

[2017-09-18 13:52] kmike commented on #9606
`eli5.explain_weights` gets weights native to classifier, figures out feature names, and puts it into an unified object. You can also use `eli5.explain_prediction_df(estimator)` to get weights native to an estimator in pandas.DataFrame format.

[2017-09-18 14:06] raamana commented on #9606
Thanks a lot - I will spend more time on learning `eli5`, could be very useful to me for neuropredict.

[2017-09-18 14:45] lesteve commented on #9698
I was not aware of this until 5 minutes ago but it looks like something like this exists in the stdlib already. Look at [reprlib.repr doc](https://docs.python.org/3.6/library/reprlib.html#reprlib.repr). The module is called `repr` in Python 2.

In my mind having a long `repr` (e.g. a big dict) is something that happens more often that `repr` raising an exception but maybe @GaelVaroquaux remember a

[2017-09-18 14:49] GaelVaroquaux commented on #9698
Great! Let's use this!

Indeed, I agree. I fell on the problem of the long repr recently (hence
the issue).

[2017-09-18 15:17] zfrenchee opened #9789 "De-duplicate SpectralClustering / spectral_clustering"
Scikit learn has two nearly identical ways of performing spectral clustering:
- a [`SpectralClustering`](http://scikit-learn.org/stable/modules/generated/sklearn.cluster.SpectralClustering.html) class
- a [`spectral_clustering`](http://scikit-learn.org/stable/modules/generated/sklearn.cluster.spectral_clustering.html) method

The slightly divergent docs and function call signatures are confusing,

[2017-09-18 15:20] zfrenchee commented on #9789
Ahh. I see now that `SpectralClustering.fit()` calls `spectral_clustering`. Perhaps then it makes sense to modify the docs to reflect this or keep `spectral_clustering` private?

[2017-09-18 15:21] GaelVaroquaux commented on #9789
Functions are more easy to reuse in a general context. The class is there
for the scikit-learn API. The class reuses the function internal.

I think that offering the two is a good thing. If docstrings must be
fixed, than let's fix them.

[2017-09-18 15:22] zfrenchee commented on #9789
Thanks @GaelVaroquaux

[2017-09-18 15:22] #9789 closed

[2017-09-18 17:07] pchalasani commented on #8136
I'd like to argue this is an important feature to add. Imagine we're training a large dataset that cannot be loaded all at once into memory, in multiple batches. Say there's a very high cardinality feature F that can take on thousands of possible values. In each batch we'd not see all possible values of F. In this situation it would be very useful to have an "incrementally updating" version of the

[2017-09-18 17:34] sam09 commented on #9698
@GaelVaroquaux My bad. I was thinking this `repr` implementation is the standard implementation of `repr`.

So that should mean that the `safe_repr` is the essentially this `repr` implementation.

[2017-09-18 17:58] alexryndin opened #9790 "roc_curve doesn't always arbitrarily set thresholds[0] to max(y_score) + 1"
#### Description

The roc_curve Docstring says following

But as you may see below, it actually isn't so. If there are any negative-class sample, which was estimated by classifier with a score more than `max (y_score)` (comparing to any other positive-class sample), then thresholds[0] will not be set to max(y_score) + 1, and consequently roc_curve will not be started at (0,0) point.
#### Steps/Cod

[2017-09-18 21:20] atorch commented on #9779
You're right, I didn't read the glmnet documentation closely enough.  There's a `type.measure="mae"` to `cv.glmnet`, but not to `glmnet` (the actual model fitting function).

[2017-09-18 22:14] lorentzenchr commented on #5975
A short note on offsets: AFAIK, sample weights are enough to deal with exposure, i.e. fit y=values/exposure with sample_weight=exposure should do the job and generalizes well beyond the log-link.

@madrury Thanks for sharing. I'll have a look at your implementation and compare with mine.

[2017-09-19 00:48] jnothman commented on #9779
Does that mean we should close this?

[2017-09-19 05:37] saddy001 commented on #8043
I would have expected to get predictions for the subset of samples that have predictions too. I thought this is what this function is for and that I don't have to implement a custom predictor.

[2017-09-19 06:35] jnothman commented on #8043
With a default_prediction parameter, we could consider supporting any CV
that does not overlap. PR welcome.

On 19 September 2017 at 15:38, saddy001 <notifications@github.com> wrote:

[2017-09-19 07:27] ogrisel opened #9791 "scipy 1.0: TypeError: fmin_cobyla() got an unexpected keyword argument 'iprint'"
Several tests in `sklearn.gaussian_process.tests.test_gaussian_process` fail because we use a deprecated argument that was removed in scipy 1.0:

Here is an example:

[code]

[2017-09-19 07:30] ogrisel opened #9792 "scipy 1.0: test failures caused by changes in pairwise computations"
I am not sure whether this is a bug in scikit-learn or a regression in scipy. I will attach the log of the failures as the first comment to this issue.

[2017-09-19 07:30] ogrisel commented on #9792
[code]

[2017-09-19 07:58] agramfort commented on #9779
yes or allow a scoring parameter in Linear model CV objects...

[2017-09-19 08:01] jnothman commented on #9792
wow. those are quite mismatched!

[2017-09-19 08:12] ogrisel commented on #9792
Apparently `wminkowski` has been changed to alias `minkowski` instead.

[2017-09-19 08:13] lesteve commented on #9792
Yeah see either the doc or this PR https://github.com/scipy/scipy/pull/7881/files#diff-c4e006d36757bcd5a18cb990cffa1195R190.

I have not found yet an explanation for the change.

[2017-09-19 08:21] jnothman commented on #9792
So I suppose sklearn/neighbors/dist_metrics.pyx should be changed to
conform, and that perhaps we should just allow either implementation with a
warning when scipy < 1 is used (if scipy doesn't issue one)??

On 19 September 2017 at 18:13, Loïc Estève <notifications@github.com> wrote:

[2017-09-19 08:25] Propalol opened #9794 "Issue when trying to import sklearn"
#### Description
I have recently installed sciki-learn to try out some Machine Learning algorithm and I find it impossible to import in any IDE to use, everytime, I get the same error message :

`import sklearn`

  File "<pyshell#3>", line 1, in <module>
    import sklearn
  File "C:\Users\Nathan\AppData\Local\Programs\Python\Python36-32\lib\site-packages\sklearn\__init__.py", line 134, in <module

[2017-09-19 08:34] newling opened #9795 "KMeans : "elkan" vs "full" discrepency"
#### Description
There is an inconsistency between "full" and "elkan" in K-Means. I believe the discrepency arises when empty centers are reset, in which case the bound update [here](https://github.com/scikit-learn/scikit-learn/blob/e443c05ea3a4c2634611253759ddbeb4367fe70c/sklearn/cluster/_k_means_elkan.pyx#L230) might need modification.

#### Steps/Code to Reproduce
[code]

#### Expected
final E

[2017-09-19 08:37] jnothman commented on #9794
it looks like scipy is not correctly installed. The simplest solution is to
use Anaconda.

[2017-09-19 08:45] cgohlke commented on #9794
Install [numpy+mkl](http://www.lfd.uci.edu/~gohlke/pythonlibs/#numpy).

[2017-09-19 08:49] Propalol commented on #9794
I installed Anaconda and for some obscure reason nothing would launch from it, not the navigator, not spyder, sometimes Jupyter Notebook...
I got both numpy and mkl installed already.

[2017-09-19 08:52] lesteve commented on #9794
I am going to close the issue, I am afraid that we can not possibly answer all the install questions that people have. @Propalol if you can not figure it out on your own, find someone around you who knows Python better than you or ask on StackOverflow.

[2017-09-19 08:52] #9794 closed

[2017-09-19 08:54] lesteve commented on #9794
And yes I would recommend to use Anaconda on Windows.

[2017-09-19 08:55] Propalol commented on #9794
I'd use it if it worked.

[2017-09-19 09:05] lesteve commented on #9792
Hmmm actually investigating a bit more it looks like minkowski is supposed to support weights hence wminkowski is not needed any more. To sum up everything should just work but doesn't, will look into it a bit more.

[2017-09-19 09:42] #9791 closed

[2017-09-19 09:49] jnothman commented on #9792
It also says in scipy docs that the implementation was incorrect

[2017-09-19 10:04] lesteve commented on #9792
I just opened https://github.com/scipy/scipy/issues/7893.

[2017-09-19 11:58] ogrisel commented on #9393
I think @albertcthomas's [fix](https://github.com/scikit-learn/scikit-learn/pull/9340/commits/b360c9a4e169a02d81febe1024223dcc4708ecff) in #9340 is the right fix:

- This test generates training data as 32 bit float
- The Barnes Hut Cython code work on 32 bit float
- The Python validation code would therefore upcast 32-bit float data into 64 bit floats before casting down back to 32 bit float to c

[2017-09-19 12:04] thechargedneutron commented on #9792
[code]
I also encountered the same problem few days back. Are these two related?
#9257  for reference.
What's the workaround for this?

[2017-09-19 12:14] lesteve commented on #9792
It is very likely that it is not related at all. This issue is about a beta scipy version and your failing Travis build is using a released scipy version.

[2017-09-19 12:15] lesteve commented on #9792
In the future, please ask this kind of question in your PR rather than in a separate issue, especially if you are not sure whether they are related.

[2017-09-19 12:20] albertcthomas commented on #9393
Just to be sure we are on the same page, the fix I suggested in #9340 consists in having `dtypes=[np.float32, np.float64]` in a `check_X_y` I added in this same PR. The `check_X_y` in master already has a `dtypes=[np.float32, np.float64]` (#9340 is older than the tSNE memory usage fix merged in July).

[2017-09-19 12:30] ogrisel commented on #9393
Ah then there is something I do not understand. Will need to investigate further.

[2017-09-19 12:36] vrishank97 commented on #9753
Do I have to modify only the .py files in examples or the .rst in doc too?

[2017-09-19 14:27] ogrisel commented on #9393
+1 for trying with larger variance or even a different distribution (e.g. uniform).

[2017-09-19 14:40] wdevazelhes opened #9799 "DOC Error in documentation of trustworthiness"
#### Description

I think there is an error in documentation of function sklearn.manifold.t_sne.trustworthiness. Indeed, it says: `` `r(i, j)` is the rank of the embedded datapoint j according to the pairwise distances between the embedded datapoints``. However, this cannot be true because then the trustworthiness would be >=1 (since `` `U^{(k)}_i` is the set of points that are in the k nearest

[2017-09-19 15:18] acourdavault commented on #9431
Hello I'm sorry but I have to reopen this:

Here is a simple test:
![image](https://user-images.githubusercontent.com/27222128/30599894-eb187066-9d2b-11e7-9747-6d867b612cea.png)

I also have found this issue in scipy.stats BTW.
I also found this issue on it [here](https://stackoverflow.com/questions/15457786/ctrl-c-crashes-python-after-importing-scipy-stats),
but I cannot apply the solution to thi

[2017-09-19 15:20] acourdavault opened #9801 "Ctrl C crashes python during sleep if sklear is imported"
Hello I'm sorry but I have to reopen this:

Here is a simple test, I launch a time.sleep and while it's sleeping i press Ctrl C.
The issue (as you can see below) happens on sklearn, not other packages
(PS I can reproduce it everytime)

![image](https://user-images.githubusercontent.com/27222128/30599894-eb187066-9d2b-11e7-9747-6d867b612cea.png)

I also have found this issue in scipy.stats BTW.
I a

[2017-09-19 16:10] atorch commented on #9779
The feature I'm asking for would be similar to creating an elastic net CV for sklearn.linear_model.HuberRegressor.html (i.e. regularized Huber regression).

[2017-09-19 16:22] rth commented on #9801
@acourdavault Thanks for reporting this. It would have probably been better to continue in the parent issue just FYI. Also, please make sure you had a look at the [bug submission guidelines](http://scikit-learn.org/stable/developers/contributing.html#filing-bugs) (particularly regarding using code formatting instead of screenshots and providing the version numbers with the included code snippet).

[2017-09-19 16:34] amueller commented on #9801
@acourdavault why do you think it's related to the issue you linked to?

[2017-09-19 16:38] #9498 closed

[2017-09-19 16:47] acourdavault commented on #9801
Hello

2 information:
1. the script does not reproduce the bug
2. Yes it is definitely related to the fortran console handler

1. the script cannot reproduce the bug because the console ctrl handler seems to not be called by a send sig int between the process.

# script reproducing the issue
[code]

[2017-09-19 16:53] acourdavault commented on #9801
This script solves the issue, if launch with `python file.py`

[code]

[2017-09-19 17:01] vrishank97 commented on #9543
Can I take up this issue?

[2017-09-19 17:33] acourdavault commented on #9801
Hello just if you want it, here is a test i wrote for my project with unittest:

[code]

[2017-09-19 17:38] lesteve commented on #9801
I can reproduce on a Windows VM. Glad you found a solution to your problem.

This is not directly related to scikit-learn (you can easily find examples only using scipy) and seems to be linked with the Intel Fortran compiler installing a Ctrl-C handler on Windows. The best link I could find is https://github.com/ContinuumIO/anaconda-issues/issues/905#issuecomment-232498034 (more references in this

[2017-09-19 17:39] #9801 closed

[2017-09-19 17:45] amueller commented on #9543
@vrishank97 in principle yes, but looks like you already have 3 PRs with CI failing or review comments. Maybe focus on finishing these up first (says the guy with 17 open PRs).

[2017-09-19 17:52] amueller commented on #9768
I issues a PR for this last week I think? That's why I asked on gitter ;)
And don't we want to extend the ``if_delegate_has_method``? I'm not sure why sometimes we use one, and sometimes we use the other.

[2017-09-19 17:53] amueller commented on #9768
I had added ``if_delegate_has_method`` in #9741. Looks like my tests didn't catch the "None" case?

[2017-09-19 17:59] amueller commented on #9768
Hm ok maybe the None is too specific to the pipeline, I guess it's fine duplicating this logic.

[2017-09-19 19:16] agramfort commented on #9779
sounds doable and useful but first we need to support elastic-net penalty
in HuberRegressor. it's doable while sticking with L-BFGS-B or we need to
write a fast coordinate descent code. It's a bit of work...

[2017-09-19 19:26] SwapnilDreams100 commented on #9736
Hi! Is anyone working on this? I'm a first timer who wants to contribute.

[2017-09-19 21:20] lesteve commented on #9795
I have edited your snippet in order to make it fully stand-alone. I can reproduce your numbers, could you elaborate why you think that both algorithms should give the exact same result?

How would you modify the code? Could you open a PR to fix it?

cc @amueller who has implemented Elkan K-Means IIRC.

[2017-09-19 22:19] SwapnilDreams100 commented on #9737
Hi I just PR'ed for this issue at #9804

[2017-09-19 22:29] atorch commented on #9779
Ok.  I'm glad you think it's doable and useful!

[2017-09-19 22:57] jnothman commented on #9753
well it's not very helpful to instruct users to write code that gives them
a warning. so them too, IMO

[2017-09-19 22:59] jnothman commented on #9753
on the other hand, such documentation probably won't break at the end of
the deprecation period, so it could be argued to leave things as they are.

[2017-09-19 23:25] jnothman opened #9805 "roc_auc_score should be calculated regardless of classification label"
We should expect this to work, but currently we get an inappropriate error message.
[code]

`_binary_clf_curve` is assuming that `pos_label=1` if not specified. But it should be assuming the same ordering as the classifier, i.e. the greater string is the positive class label.

Ping @qinhanmin2014

[2017-09-19 23:28] jnothman commented on #9799
This will be easier to evaluate if you just offer a PR to fix it.

On 20 September 2017 at 00:40, wdevazelhes <notifications@github.com> wrote:

[2017-09-19 23:30] jnothman commented on #9431
That is quite strange, seeing as import sklearn executes very little
interesting code.

[2017-09-19 23:32] jnothman commented on #9739
@amitsin6h are you working on this?

[2017-09-19 23:50] jnothman commented on #9736
Yes, You can see above that this is referenced by #9775 where there is a fix with one approval.

[2017-09-20 00:04] qinhanmin2014 commented on #9805
@jnothman Thanks.
I agree that we should clearly distinct pos_label=1 and pos_label=None in an uniform way, but doubt how it should be tested. Currently seems that as a low-level function, _binary_clf_curve is not tested directly in any test. So, how about removing the need contributor tag and I'll take cae of it in #9567 and test it through roc_auc_score?

[2017-09-20 00:40] jrbourbeau commented on #9784
@jnothman I looked back at earlier KMeans-related issues&mdash;#596 was the main conversation I found regarding KMeans parallelization&mdash;but couldn't find a previous discussion of avoiding backwards incompatibility issues.

I definitely understand not wanting to unexpectedly alter users' existing KMeans code. But at the same time, getting a different KMeans model (with the same input `random_s

[2017-09-20 02:53] jnothman commented on #9805
done

[2017-09-20 02:55] jnothman commented on #9784
yes, a note in the docs is a reasonable start.

@amueller, do you have an opinion here?

[2017-09-20 03:23] qinhanmin2014 commented on #9805
ping @jnothman
Just post some discoveries and my personal suggestions here since the problem may need further consideration
current behaviour of functions with pos_label
(1)precision_score, recall_score, f1_score, fbeta_score:
default pos_label=1, not support pos_label=None
(2)brier_score_loss
default pos_label=None, support pos_label=None in the right way
(in fact, current implementation is not r

[2017-09-20 04:19] jnothman commented on #9805
You're right. It's currently inconsistent. And maybe we're right to require
explicit setting.

But I've finally recalled something very important about roc auc: inverting
the classes and the scores will produce the same measure. So pos_label is
not useful for roc_auc_score (unless it is used to binarize a multiclass
problem, which I don't think we should really support). Sorry for wasting
your tim

[2017-09-20 04:26] amitsin6h commented on #9739
no am busy with something else for no. you can assign it to someone else

On Sep 20, 2017 5:03 AM, "Joel Nothman" <notifications@github.com> wrote:

[2017-09-20 04:34] qinhanmin2014 commented on #9805
@jnothman
Never mind. You really helps me a lot :)
If you can make sure that this is the case, feel free to close this one as well as #9567, #6874, #2723
(#6873, #2616 already closed).
Others are also heavily included in these issues so you may ping someone else(e.g. amueller) if you need.

[2017-09-20 04:34] jnothman commented on #9737
We now have 3 PRs here, none of which are hitting the mark, perhaps because I've not made the issue clear enough. Also because the issue isn't altogether well founded. trustworthiness currently performs:
* a O(n**2) calculation of pairwise distances in the embedded space. This cannot easily be reduced.
* a O(n**2 log n) calculation of pairwise distance ranks in the embedded space. This cannot easi

[2017-09-20 05:17] saddy001 commented on #8043
I put it on my todo-list, but it may take some weeks.

[2017-09-20 05:29] jnothman commented on #9805
No, I'm not closing this one, because it's still a problem. It should calculate roc_auc_score for the greatest class label regardless. roc_auc_score should automatically set the `pos_label` to the greatest class (or otherwise LabelEncode `y_true`).

[2017-09-20 05:33] jnothman commented on #2723
We should not be able to provide `pos_label` to `roc_auc_score`: it is invariant to swapping classes as long as the score is similarly inverted (which I hope is tested but probably isn't...?). Rather we should make sure that `roc_auc_score` assumes that the greater of binary labels is the one for which the score is being reported.

[2017-09-20 05:34] lesteve commented on #9784
Note this was reported in #9287 and there is a WIP PR at #9288. I see that you have a PR at https://github.com/scikit-learn/scikit-learn/pull/9785 and your test failures do look intriguing ...

[2017-09-20 05:35] jnothman commented on #9805
Closing as duplicate of 2723

[2017-09-20 05:35] #9805 closed

[2017-09-20 05:39] jnothman commented on #9784
okay. I think I'm leaning towards fixing this to prefer consistency within rather than across versions... but I'm not sure.

[2017-09-20 06:42] qinhanmin2014 commented on #2723
@jnothman Just make sure that this will only work for binary y_true, not for multilabel-indicator y_true, right?

[2017-09-20 07:02] dongzhang1937 opened #9806 "ImportError: cannot import name model_selection"
When i import sklearn's package’ in eclipse ,i encountered error as flow

from sklearn import svm

“
Traceback (most recent call last):
  File "E:\Python Project\pyautogui\src\sklearn.py", line 1, in <module>
    from sklearn import svm
  File "E:\Python Project\pyautogui\src\sklearn.py", line 1, in <module>
    from sklearn import svm
ImportError: cannot import name svm
”
but when i use cmd ,it w

[2017-09-20 07:09] lesteve commented on #9806
It is a install issue and as such not directly related to scikit-learn, so I am afraid I will have to close this one. Looks like Eclipse is not picking up the same Python install as cmd. If you can not figure it out, find someone near you that can help you or ask on Stack Overflow.

[2017-09-20 07:09] #9806 closed

[2017-09-20 07:36] newling commented on #9795
@lesteve @amueller I've reconsidered and think the disrepency arises from floating point rounding errors accumulating in the bounds (and so this is not an issue, feel free to close). Apologies, I should have considered this possibility before posting.

@lesteve thank you for cleaning up the snippet.

Elkan should perform exactly the same cluster updates as Lloyd (full), the only difference being t

[2017-09-20 07:49] agramfort commented on #9779
now we "just" need someone to take a stab at it :)

[2017-09-20 09:00] TomDLT commented on #9753
Originally, I left the parameters unset on the docstrings and .rst to keep the examples minimal.
I forgot about the .py examples though, where they should be explicitly set to remove the warning and keep the same behavior in the future.

[2017-09-20 09:22] ogrisel commented on #9393
Actually, multiplying the data by 100 does not make the algorithm more stable with the PCA init, quite the opposite actually. On the original machine, the exact method + PCA init was triggering the instability according to: https://github.com/scikit-learn/scikit-learn/issues/9393#issuecomment-322214890

Changing the random seed can have a large impact on the outcome. So maybe the rounding errors c

[2017-09-20 10:18] HTCode commented on #9722
@musically-ut any thoughts about that ?

[2017-09-20 10:39] vrishank97 commented on #9753
So are we keeping the docstrings and .rst the way they are right now?

[2017-09-20 11:36] musically-ut commented on #9722
@HTCode I see the following results with digits and `LabelSpreading`:

[code]
and no convergence warnings. BTW, specifying the kernel makes specification of `n_neighbors` moot.

Intuitively, the dot-product kernels (`sigmoid, cosine, linear`) should work just as well as the kernels which depend on Euclidean distance (`rbf, laplacian`) between digits. I will investigate which digits are actually be

[2017-09-20 11:42] SwapnilDreams100 commented on #9737
What is wrong in my PR? It gives the same output as the PW but without having to compute the  distance matrices. Isn't that like faster?

[2017-09-20 11:51] SwapnilDreams100 commented on #9737
Also Im working on the issue u have highlighted to make it faster. So please dont close it.

[2017-09-20 13:35] ogrisel commented on #9393
Ok after playing extensively with different random seeds and platforms (mkl vs openblas PCA for the init) I think that 0.9 is just too strict. We could keep the 0.9 threshold and stabilize this test by:

- running TSNE on larger datasets (in which case the trustworthiness score gets more stable)
- running the tests several times with different random seeds and make an assert on the median score.

[2017-09-20 17:05] SwapnilDreams100 commented on #9725
Is this issue solved and is someone working on it?

[2017-09-20 17:14] amueller commented on #9725
@ragnerok is working on it. You can see his PR linked above your post. Sorry we didn't remove the Need Contributor yet, it's hard to keep track.

[2017-09-20 17:46] maka89 opened #9810 "More flexible Neural Networks?"
Encapsulating feed-forward neural network layers in classes with a forward() and backward() function, allows for more flexible implementations of neural networks(more like keras) and a cleaner constructor for the feed forward neural network class (MLPRegressor etc.).  Optimizers can also be encapsulated in the same way, like I have below, but the layers are my main concern.

Kind of a big one, but

[2017-09-21 06:09] qinhanmin2014 commented on #2723
@jnothman
I'm still wondering how you want to solve the problem.
For example, if I get y_true = ['good','not-good', 'good', 'not-good'] and y_score = [0.9, 0.1, 0.2, 0.7], y_score represents the probability of 'good'. So you are expecting users to do something like `roc_auc_score(y_true, 1-y_pred)` or `1-roc_auc_score(y_true, y_pred)` instead of `roc_auc_score(y_true, y_pred, pos_label='good)`? Th

[2017-09-21 07:53] #9725 closed

[2017-09-21 08:58] ragnerok commented on #9354
I'd like to work on this if possible

[2017-09-21 09:49] newey01c opened #9812 "LabelEncoder: ValueError: The truth value of an array with more than one element is ambiguous"
#### Description

ValueError thrown on L171 in preprocessing/label.py because a truth value is being evaluated on an array instead of a single Boolean. This is an easy fix, so I'll submit a PR imminently.

#### Steps/Code to Reproduce

[code]

#### Expected Results

[code]

#### Actual Results

[code]

#### Versions

Linux-4.10.0-33-generic-x86_64-with-Ubuntu-17.04-zesty
Python 3.5.3 (default, Jan

[2017-09-21 10:01] #9812 closed

[2017-09-21 11:52] albertcthomas commented on #3273
I agree with @lesshaste. This could useful for outlier detection.

[2017-09-21 12:08] adhi1234 opened #9814 "Permission Denied Error while installing scikit learn"
#### Description
Error will be shown for Linux users who installs Scikit learn as """pip install -U scikit-learn"""

#### Expected Results
Successfully installed scikit-learn-0.19.0

#### Actual Results
Exception:
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/usr/local/lib/pytho

[2017-09-21 12:40] kreikenbaum commented on #3273
FWIW, this is my implementation. I have not yet written any tests, but maybe it's helpful as a starting point:

[code]

[2017-09-21 13:01] albertcthomas commented on #3273
There is also a suggestion of implementation using the existing `roc_auc_score` function in PR #3840.

[2017-09-21 13:17] kreikenbaum commented on #3273
@albertcthomas: seems cleaner than the above. Maybe use one as test, the other as implementation?
 Should bounded AUC be normalized?

[2017-09-21 13:20] lesteve commented on #9814
This is an install problem and not really specific to scikit-learn, so I am going to close this issue.

You are using your system python which means that you need sudo rights to modify your python install. You can either use in rough descending order of what I would recommend:
* use conda
* use `pip install --user`
* use `sudo pip install`

[2017-09-21 13:20] #9814 closed

[2017-09-21 13:22] lesteve commented on #9354
Go for it!

[2017-09-21 14:41] lesteve commented on #9790
Good catch, quickly looking at it, I don't think this is a huge problem. Either the documentation is a bit misleading or we could always add a point to make sure that the (0, 0) point is explicitly returned by roc_curve for consistency reasons. Look at https://github.com/scikit-learn/scikit-learn/blob/a78b66f9f385a46e75463448b6d3f57ea3a020f9/sklearn/metrics/ranking.py#L530 for the code that decide

[2017-09-21 15:06] mlewis1729 commented on #9144
Just wanted to follow up with this discussion,
has there been any progress on solving the issue with log loss?

[2017-09-21 15:40] anthnyprschka opened #9817 "roc_curve in sklearn.metrics returns thresholds greater than 1 and lower than 0"
Hi guys,

when I calculate the roc_curve I get non-sensical values for the thresholds:

`array([ 1.22917414,  1.05628407,  1.05582547, ..., -0.0984059 ,
       -0.10057652, -0.27449924], dtype=float32)`

This is not explained by the arbitrary upper bound threshold of max(y)+1 that is mentioned in the documentation [(Link)](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_curve.

[2017-09-21 15:50] #9817 closed

[2017-09-21 16:01] amueller commented on #9817
decision function values have arbitrary scale, but I guess you figured that out?

[2017-09-21 16:03] amueller commented on #9144
@mlewis1729 check out #6231 and #9585. In the meantime you can specify ``labels`` explicitly.

[2017-09-21 16:06] anthnyprschka commented on #9817
Yes, was a sloppy mistake. Thanks for your answer!

[2017-09-21 16:08] amueller commented on #9812
why did you close this?

[2017-09-21 16:08] anthnyprschka commented on #9817
Btw I will be in New York around Nov 10-13 (komme aus Berlin), any cool data science / deep learning events i shouldn't miss? ;)

[2017-09-21 16:58] amueller commented on #9817
@anthnyprschka nothing on my calendar, but I'm not keeping track of all the meetups, conferences and hackathons. So pretty sure something is up ;)

[2017-09-21 20:12] zyxue commented on #6619
I did a similar experiment with `tol=1e-10`, but still sees a discrepancy between the best performances of the two approaches:

[code]
The results:

[code]

Well, the difference is rather small, but consistently captured. I wonder if there is other reason beyond randomness. Since the solver is `liblinear`, there is no warm-starting involved here.

[2017-09-22 01:38] naught101 opened #9819 "Standard attribute for model completion status"
At the moment, there is no way to know why a model stopped fitting (aside from exceptions). It may be because convergence was reached (below a tolerance), or because a hard limit on iterations was hit, or possibly some other condition was met. It would be excellent if Scikit-learn models had some kind of flat attached after fitting. Perhaps `model.fit_status_` or similar. This could then be report

[2017-09-22 02:23] jrbourbeau commented on #9784
@lesteve oops, I must have missed #9287 before filing this issue. Re: the `test_gaussian_mixture` failures for #9785, I've found that for `test_warm_start`, if I increase `max_iter` to it's default value of 100, then the test passes. That is,

[code]

passes. I'm not sure why the original value of `max_iter=5` was chosen to begin with, maybe someone can shed some light onto this. Perhaps it was ju

[2017-09-22 07:46] #9795 closed

[2017-09-22 12:50] Bernhard10 commented on #5489
On Linux, another workaround is upgrading pip (to version 8.1 or above). Newer versions of pip support the "many-linux" binary wheels, which do not have the issue (in contrast to source distributions).
Maybe this is what happened you, @ericfrederich ?

[2017-09-22 16:06] lucianocrt opened #9820 "[Windows] PermissionError in datasets fetchers when trying to remove the downloaded archive"
#### Description

I have just intalled scikit-learn though pip. I am trying to load a dataset (california_housing) but I keep getting a permission error when scikit-learn tries to delete the file.
I can delete the file myself from the file explorer, which suggests that it is python that locks the file.

#### Steps/Code to Reproduce

import numpy as np
from sklearn.datasets import fetch_california_

[2017-09-22 19:27] lucianocrt commented on #9820
Figured out what the problem is, suggested a pull request to fix it.

[2017-09-22 20:07] ejvelasco opened #9823 "Unnecessary np.intersect1d in LabelEncoder.transform"
https://github.com/scikit-learn/scikit-learn/blob/c554aad456b6302a8dd8838769769eeecc1cf734/sklearn/preprocessing/label.py#L115

I believe that the use of np.intersect1d in LabelEncoder.transform is not needed. This happens in the check to see if y contains previously unseen labels. Instead of checking if the length of the intersection between classes and self.classes_ is less than the length of cl

[2017-09-22 20:30] SwapnilDreams100 commented on #988
Hi! can I work on this issue? If so, can u please guide me how?

[2017-09-22 23:49] thechargedneutron commented on #9691
@jnothman I did some minor changes in the code in class TSNE similar to that done in dbscan. I am trying to go past each line where there is an error due to numpy array and csr_matrix array. But, I am stuck at `_binary_search_perplexity` which is in manifold._utils.pyx. I could not find a way to make that work since _binary_search_perplexity is in a pyx format and I guess I am on a wrong track.
Th

[2017-09-23 18:10] Ericvulpi opened #9824 "Fitting ExpSineSquared kernel to large dimension data throws a ValueError on MacOS"
#### Description

ValueError: "array must not contain infs or NaNs" thrown when fitting an ExpSineSquared kernel to large dimension data

#### Steps/Code to Reproduce

[code]

#### Expected Results

No error is thrown

#### Actual Results

  File "<ipython-input-39-119d71c23c9f>", line 1, in <module>
    runfile('/Users/eric/Google Drive/Spatial conquest/Neural Network/GitHub Repository/tensorlaye

[2017-09-23 21:17] hugovk commented on #3410
The Pillow warnings mentioned in https://github.com/python-pillow/Pillow/issues/835 no longer occur with the latest release.

[2017-09-23 21:52] rth commented on #9823
That wouldn't tell if you if you have previously unseen classes or not. Say `self.classes_= ["a", "b"]` and `classes=['c']`, that condition would pass but the check should still fail..

[2017-09-23 22:25] rth commented on #9824
This seems strongly related https://github.com/scikit-learn/scikit-learn/issues/8252 i.e numerical rounding errors making the input matrix provided to the cholesky decomposition to be not strictly positive definite, which make it fail.   https://github.com/scikit-learn/scikit-learn/pull/8386 suggests using larger values for alpha for better stability.

[2017-09-24 08:34] JoshuaC3 opened #9825 "CVS, CVP and Looping over KFolds iterator all give different scores"
#### Description
Using a [cross-validation iterator](http://scikit-learn.org/stable/modules/cross_validation.html#cross-validation-iterators) behaves differently when using it with [cross_val_score](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html#sklearn.model_selection.cross_val_score), then when you iterate over the returned indices. This seems to be

[2017-09-24 10:41] Ericvulpi commented on #9824
It does look similar, and raising alpha to 1e-4 does remove most of the errors associated to the DotProduct kernel.

However the fix doesn't work for the ExpSineSquared kernel.
The following kernel throws errors for ExpSineSquared and ExpSineSquared only at almost every iteration despite raising alpha to 0.1. I only get 5 or 6 errors when raising alpha to 1, but then you are not fitting any model

[2017-09-24 11:23] jnothman commented on #9753
It's okay to keep the docstrings and rst minimal, IMO. Happy to start with
examples

On 20 September 2017 at 20:39, Vrishank Bhardwaj <notifications@github.com>
wrote:

[2017-09-24 11:44] jnothman commented on #9810
Conv layers are out of scope in the sense that beyond vectorizers (and some
meta-estimators that are fairly ambivalent to the structure of the data),
we stick to rectangular data in scikit-learn.

But more generally, I think we intend to leave 'DIY' neural nets etc to
other libraries. It would present far too great a maintenance burden here,
where we focus on off-the-shelf learning algorithms.

[2017-09-24 11:47] jnothman commented on #2723
why does y_score represent the probability of good? If someone trains a LogisticRegression model with `y=['good','not-good', 'good', 'not-good']`, it will automatically map 'not-good' as the positive class. When the user provides the output of the LogisticRegression.predict_proba (or does so via the scorer) as y_score, a high value will correspond to a likely 'not-good' prediction.

[2017-09-24 14:16] vrishank97 commented on #9753
I've altered the all examples where a FutureWarning was being issued, so I think the PR should be ready to be merged.

[2017-09-24 18:37] ragnerok commented on #9354
So after messing around I think the problem lies aroung the fact that we are using
`sqrt(dot(x, x) - 2 * dot(x, y) + dot(y, y))`
Because if I try - ` (-2 * np.dot(X, Y.T) + (X * X).sum(axis=1) + (Y * Y).sum(axis=1)` I get the answer 0 for np.float32, while I get the correct ans for np.float 64.

[2017-09-24 19:55] rth commented on #9824
Well, the `ExpSineSquared` kernel computes,

https://github.com/scikit-learn/scikit-learn/blob/e8a15d544490b3fe80ef77dd995d12de84194d00/sklearn/gaussian_process/kernels.py#L1581-L1584

for any real values of `sin_of_arg` and `lengh_scale` this shouldn't overflow (or produce large values for that matter) given that `lenght_scale` is bound by [1e-5, 1e5]. Not quite sure where the issue could be but

[2017-09-24 22:08] maka89 commented on #9810
Thanks for the answer. If RNN/CNN is not on the table, there is maybe not that much point...
Could still be some benefits of using layers internally,  since it will be less off a hazzle to add new layers like dropout and whatever the next thing is...

[2017-09-24 22:18] #9823 closed

[2017-09-24 22:23] ejvelasco commented on #9823
Of course, I can't believe I didn't think of that. Thanks for getting back to me.

[2017-09-24 23:01] muha321 opened #9826 "fit method on best_estimator_ of grid searched pipeline only applies estimator fit"
Hi,

I am grid searching over different parameters of a pipeline, including a scaler, a PCA or RFECV and an estimator at the end. In order to get a confusion matrix for the best classification I am fitting the GridSearch.best_estimator_ again in a new kfold-CV after the grid search. However, even though I can see that GridSearch.best_estimator_ includes all the steps, from the scaler, to the best

[2017-09-24 23:39] jnothman commented on #6619
I've not checked up on liblinear, but the tolerance for convergence is, in
our implementations, with respect to the gradients, not with respect to the
loss. I would not find it surprising if for a small sample, the
neg_log_loss varied much greater than tolerance for slightly different
solutions.

On 22 September 2017 at 06:12, zyxue <notifications@github.com> wrote:

[2017-09-24 23:41] jnothman commented on #9819
We are meant to raise ConvergenceWarning (although I'm sure there are cases
we do not), but I agree that having a consistent converged_ attribute might
be more helpful.

On 22 September 2017 at 11:38, naught101 <notifications@github.com> wrote:

[2017-09-24 23:52] jnothman commented on #9820
Thank you.

[2017-09-25 00:09] jnothman commented on #9691
Sparse precomputed is not relevant to the "exact" method. Only applicable
to the barnes-hut approximation which works with only the k nearest
neighbors.

On 23 September 2017 at 09:49, Kumar Ashutosh <notifications@github.com>
wrote:

[2017-09-25 00:43] jnothman commented on #9825
Regarding these, your expectations are incorrect. CVS averages over the metric calculated on each test portion. `mae(y_true, cross_val_predict(...))` averages error over samples. It is, in general, an *inappropriate* way to measure generalisation performance. Now, "Kfold iterated" should be identical to "CVS with KFold". The bug took me far too long to find. You've used mean absolute error in CVS,

[2017-09-25 00:43] #9825 closed

[2017-09-25 00:47] jnothman opened #9827 "Note about appropriate and inappropriate uses of cross_val_predict"
Users are tempted to run `metric(y_true, cross_val_predict(...))`. This is not equivalent to `cross_val_score(...)` which takes an average over cross-validation folds; nor is it a standard or appropriate measure of generalisation error.

I consider valid uses of `cross_val_predict` to be:
* visualisation of training set predictions
* model blending: you have an ensemble in which a "downstream" est

[2017-09-25 00:58] jnothman commented on #9810
I think we want to stick to stuff that is fairly well established. Dropout is on the cards, but there are so many ways to tweak a NN solution that just aren't worth our while maintaining here, especially as apply to structured data or structured predi ction targets.

[2017-09-25 00:58] #9810 closed

[2017-09-25 01:02] jnothman commented on #9826
If you don't show us your `clf_pipe` it's impossible for us to tell if your estimator is deterministic by construction. If it is non-deterministic, then obviously we should expect some variation in the mask.

In general, you should provide a complete, runnable snippet of code and any associated data (ideally choosing data we already have if that allows the issue to be reproduced).

[2017-09-25 07:10] lesteve commented on #9820
I am going to reopen this issue. @lucianocrt we tend to leave the issue open until the PR has been fixed. By using "Fix #issueNumber" in your PR description, the associated issue gets closed automatically when the PR is merged. For more details, look at [this](https://github.com/blog/1506-closing-issues-via-pull-requests).

[2017-09-25 07:10] lesteve commented on #9820
BTW this could be a problem that exists on Windows in other datasets fetchers, we should probably double-check all of them.

[2017-09-25 07:31] lesteve commented on #3841
Closing we are using figshare now.

[2017-09-25 07:31] #3841 closed

[2017-09-25 08:06] lesteve commented on #9792
This was fixed in https://github.com/scipy/scipy/pull/7905. I checked that the error in the scipy-dev build has gone https://travis-ci.org/scikit-learn/scikit-learn/jobs/279395089.

Still the error due to the change in numpy 0d array formatting remains but that's a known one.

[2017-09-25 08:06] #9792 closed

[2017-09-25 08:33] lesteve commented on #9820
I quickly checked with a snippet I used for the figshare work, the fetchers affected by this are:
* fetch_california_housing
* fetch_rcv1
* fetch_species_distributions

@massich maybe you could fix them since you worked on the fetchers when moving them to figshare.

I think we should use context managers (e.g. `with open('bla') as f:) if available for tar.gz file to make sure we always close the f

[2017-09-25 09:01] qinhanmin2014 commented on #2723
@jnothman Thanks. I opened #9828 to address your solution. Please have a look when you have time :)

[2017-09-25 09:01] lesteve commented on #9824
I can reproduce with:
[code]

Setting `alpha=1` gets rid of the error. I don't know too much about Gaussian processes, so not sure   how much this is expected.

The difference of behavior between OSX and Linux is interesting and even more interesting, on my OSX VM I can only reproduce with MKL. The problem does not happen when I use OpenBLAS (through conda-forge) or Accelerate (through the PyPI wh

[2017-09-25 09:07] lesteve commented on #9824
Another thing is that the error you get if you use `n_restarts_optimizer=0` (default) is a bit more user-friendly, i.e.
[code]

If we think this is the same kind of error, we should try to have a user-friendly error in the case `n_restarts_optimizer > 0` too.

[2017-09-25 10:16] jnothman commented on #9820
Well, the right way to create a file and remove it is using a context
manager over a tempfile.NamedTemporaryFile or a tempfile.TemporaryFile.

[2017-09-25 14:37] qinhanmin2014 opened #9829 "TST possible improvements of metrics/tests/test_common"
Wrap up the discussions in #9828 #9567 along with some opinions from myself
sklearn/metrics/tests/test_common might need some improvements
- [x] (1) Move roc_auc scores out of METRIC_UNDEFINED_BINARY (Fixed in #9786)
- [x] (2) Move average_precision scores out of METRIC_UNDEFINED_BINARY
- [x] (3) Get rid of the awkward list [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/me

[2017-09-25 23:38] #9799 closed

[2017-09-25 23:39] jnothman commented on #9829
sounds good

[2017-09-26 08:12] JoshuaC3 commented on #9825
@jnothman I am very sorry, the median vs mean bug. But thank you for alerting me to this. I would not have spotted this myself.  CVS = CVP makes sense. Thank you.

[2017-09-26 10:00] dcatteeu opened #9832 "input validation in predict of DummyRegressor is too strict"
# Description

`sklearn.dummy.DummyRegressor` requires `X` to be numeric and have at least 1 feature in `predict`. IMO, this is too strict.

Also, it is not done in `fit`.

# Steps/Code to Reproduce

    import numpy as np
    import pandas as pd
    import sklearn.dummy

    cls = sklearn.dummy.DummyRegressor(strategy='mean')
    df = pd.DataFrame(data={'A': ['foo', 'bar', 'baz']})
    X = df.loc

[2017-09-26 10:09] jnothman commented on #9832
I think this may be fixed in 0.19. Please check

On 26 September 2017 at 20:00, David Catteeuw <notifications@github.com>
wrote:

[2017-09-26 10:34] muha321 commented on #9826
Hi,

thanks for your response. I found my mistake and solved the issue.
To make it more clear:

[code]

[2017-09-26 10:38] jnothman commented on #9820
@lesteve, you've marked this for 0.19.1. Is it a regression?

[2017-09-26 10:39] jnothman commented on #9826
Right, yes. Closing.

[2017-09-26 10:39] #9826 closed

[2017-09-26 12:03] medusa606 opened #9833 "importerror no module named sklearn.lda"
#### Description
Have installed anaconda and scikit and been using them sucessfully. Just tried to use the LDA package and i get this error. Am currently using them in jupyter workbooks but get the same response if running a script through the anaconda prompt.

from sklearn.lda import LDA
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-16-841064dfa7e0> in

[2017-09-26 13:42] dcatteeu commented on #9832
Good point. I forgot to mention there was a similar issue that is fixed in 0.19: #8916

In 0.19, check_array is called with force_all_finite=False. This means you can now pass data with missing values, but X must still be numeric and have at least 1 feature.

[2017-09-26 15:31] rth commented on #9833
`sklearn.lda.LDA` was found in scikit-learn 0.15 - 0.16 and it looks like it was renamed and removed since. The right import path for LDA in 0.19 is [`sklearn.discriminant_analysis.LinearDiscriminantAnalysis`](http://scikit-learn.org/stable/modules/generated/sklearn.discriminant_analysis.LinearDiscriminantAnalysis.html)..

[2017-09-26 15:39] medusa606 commented on #9833
Thanks, that did it!

[2017-09-26 15:39] #9833 closed

[2017-09-26 16:14] #5380 closed

[2017-09-26 16:19] rth commented on #9699
Essentially, if one installs scikit-learn with, `python setup.py develop` (which is typical for development) then runs `py.test  .` the `sklearn.__all__` will not exist because the `__SKLEARN_SETUP__` variable seems to be set in setup.py to True. And the `sklearn/tests/test_common.py::test_root_import_all_completeness` will therefore fail..

@lesteve How about I just skip this test if `sklearn.__a

[2017-09-26 17:11] atorch commented on #3148
Regarding the specific case of quantile regression for the median (absolute loss), as opposed to more general quantiles, it seems that http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.HuberRegressor.html would allow it if only we could pass epsilon=0.0.  Why does HuberRegressor require `epsilon : float, greater than 1.0`?  (`The Huber Regressor optimizes the squared loss for t

[2017-09-26 18:06] GaelVaroquaux commented on #3148
Huber loss with epsilon=0 is a non-smooth optimization problem: one
cannot use the same class of solvers.

[2017-09-26 19:29] rth commented on #6643
Is this still relevant? Seem like the conversation about failing tests on non amd64 architectures was continued for 0.19 in https://github.com/scikit-learn/scikit-learn/issues/9393

[2017-09-26 21:37] jnothman commented on #9832
Okay

[2017-09-26 23:06] jnothman commented on #9699
The test is there to ensure that nothing has been forgotten from __all__
unintentionally when modules are added or renamed.

I've not investigated, but don't get why __SKLEARN_SETUP__ would be on
after setup is completed

[2017-09-27 04:39] #9752 closed

[2017-09-27 06:59] vrishank97 commented on #9832
I'd like to like this up. All we have to do is add dtype=None and ensure_min_features=0 as params for the check_array being called, right?

[2017-09-27 07:16] jnothman commented on #9832
Do we need it to be an array?

[2017-09-27 07:41] lesteve commented on #9820
I wanted to double-check this and forgot sorry. This is a regression for `fetch_california_housing`. For `fetch_rcv1` and `fetch_species_distribution` it is slightly harder to be sure because the URLs do not exist anymore but looking at the source code it is a regression because we were not deleting the downloaded files in 0.18.2.

[2017-09-27 07:50] umiezee opened #9836 "How can I map the Target and features in a given data set?"
I would like to know how to divide my data set in to two particular parts as set of features and target just like the Iris data set, so that i can proceed with the data modelling. Im supposed to be using the K nearest neighbor algorithm and therefore I need the data to be divided into two set using pandas library.I use the sci kit learn toolset

[2017-09-27 07:51] anoopamagarwal opened #9837 "Non-negative coefficients with lars"
I am running this piece of code

[code]

I am getting the following output

0.19.0
[  0.00000000e+00   0.00000000e+00   5.21722148e-01   3.10743837e-01
   4.18778571e-04]
[ 0.          0.          0.          0.45541234  0.09542552]
**[ 0.80960144  0.35327211  0.17399586  0.16972765 -0.02813728]**

with negative coefficients

[2017-09-27 08:04] jnothman commented on #9820
So then we would like this resolved within the next few days ideally as I think we should be releasing. Is @massich taking this up? I'll mark it as needing contributor in any case.

[2017-09-27 08:06] jnothman commented on #9836
This is not appropriate for an issue tracker, sorry. Try stack overflow, but you will certainly need more detail about what format the data is in, cv and ideally an example.

[2017-09-27 08:06] #9836 closed

[2017-09-27 08:09] jnothman commented on #9837
thanks for the report. please make this do np.random.seed(i) for iteration
i, and report which i it breaks on so that the issue is easily replicated.

[2017-09-27 08:16] anoopamagarwal commented on #9837
Code snippet
[code]

Output
[code]

[2017-09-27 08:30] qinhanmin2014 opened #9838 "DOC Outdated information on the main page of dev document?"
Currently, the dev page seems out of date. Is it intended?
See:
http://scikit-learn.org/dev/index.html (missing 0.18.2, 0.19.0)
![2017-09-27_162216](https://user-images.githubusercontent.com/12003569/30903089-24726e50-a3a0-11e7-90a4-61d6c12068fc.jpg)
http://scikit-learn.org/stable/index.html
![2017-09-27_162232](https://user-images.githubusercontent.com/12003569/30903096-2c501104-a3a0-11e7-93ca-42

[2017-09-27 09:01] rth commented on #9699
OK, got it: ` __SKLEARN_SETUP__` is added to buitins in `setup.py` and pytest was parsing it during the test collection. Fixed in PR above. Looks like @lesteve was right, after all, about the time this would take )

[2017-09-27 09:11] lesteve commented on #9820
I haven't heard from him yet. I'll chat with him to see whether he has some spare bandwith to tackle this one.

[2017-09-27 09:46] jnothman commented on #9837
And what is s at the end?

[2017-09-27 09:49] anoopamagarwal commented on #9837
@jnothman random seed incremented at every iteration

[2017-09-27 09:53] jnothman commented on #9838
Yes, looks like we failed to fix some of this up in the 0.19 release. I wonder if there's a way to automate it more or at least validate consistency between the different listings and version numbers...

[2017-09-27 10:01] jnothman commented on #9838
That documentation heading may be fixable using the |version| substitution
described at http://www.sphinx-doc.org/en/stable/markup/inline.html.

[2017-09-27 10:07] jnothman commented on #9790
Thanks for the report. The lengths of those threshold arrays are consistent with the corresponding tpr and fpr arrays.

You consider the output incorrect, I suppose? Seeing as we allow tpr to increase while fpr is constant, I suppose that it is incorrect, because we could have two points with fpr=0, one at the origin, the next with nonzero tpr, in this case.

IMHO, a PR to fix is welcome.

[2017-09-27 10:15] anoopamagarwal commented on #9837
@jnothman Sorry didn't  understand your question earlier. s=109 at the breaking point

Code snippet

[code]
Output
[code]

[2017-09-27 10:19] jnothman commented on #9837
So the minimal reproducing example is:

[code]

Thanks. I can reproduce, indeed.

[2017-09-27 10:28] massich commented on #9820
Hy, I'm a bit out. But I'm looking into this one.

[2017-09-27 10:32] jnothman commented on #9837
And the bug appears to have been present since `positive` was introduced.

[2017-09-27 12:16] jnothman commented on #9838
So we have three places in the docs that list previous versions of the docs:
* index.rst
* documentation.rst
* themes/scikit-learn/layout.html (for the documentation menu)

I think:
* we should use `|version|` or similar where possible (though I don't think it can be used in layout.html where the version number is stated)
* we should link to the latest development and latest stable versions in doc

[2017-09-27 13:17] jnothman commented on #9838
For layout.html, it might be possible to insert the Javascript variable `DOCUMENTATION_OPTIONS.VERSION`.

[2017-09-27 16:13] zilion22 opened #9842 "sklearn.metrics.classification_report mislabels output if test set doesn't contain all labels"
#### Description

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results
 precision    recall  f1-score   support

          0       1.00      1.00      1.00         1
          2       1.00      1.00      1.00         1

 avg / total       1.00      1.00      1.00         2

             precision    recall  f1-score   support

          a       1.00      1.00      1.00         1

[2017-09-27 18:25] zoso95 opened #9844 "RFECV should pass the verbose level into the RFE it fits at the end"
#### Description

RFECV should pass the verbose level into the RFE it fits at the end. This would make the logs more useful in terms of getting a status update for how long fitting is taking.

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2017-09-27 20:03] alexryndin commented on #9790
I think a solution would be:
[code]
In this case we will always start at (0, 0) and as the result the docs will not be misleading. I'm not sure it is a perfect solution from a point of view of data scientist, because actually I'm not one of. I think I will create pull request as soon as I have enough free time :-)

[2017-09-27 23:12] jnothman commented on #9842
I think this is weird usage. You can just provide y as an array of strings. target_names is documented to have its names correspond to the labels parameter, but you do not provide a labels parameter.

Personally I don't understand what target_names is good for.

[2017-09-27 23:26] jnothman commented on #9844
PR welcome

[2017-09-27 23:31] jnothman commented on #9790
Let us know if you don't expect to find the time

[2017-09-28 04:22] lesteve commented on #9820
OK thanks, I can do it, if you don't have the time, just le me know. My understanding is that Joel was hoping to do 0.19.1 kind of this week.

[2017-09-28 10:08] yinruiqing opened #9846 "Improve class design for AgglomerativeClustering and FeatureAgglomeration (was pooling_func in AgglomerativeClustering doesn't work)"
#### Description

pooling_func in AgglomerativeClustering doesn't work.
#### Steps/Code to Reproduce
[code]

#### Expected Results

Raise error because the pooling_func is not callable. It's a string.

#### Actual Results

No warning, no error
#### Versions

Linux-4.4.0-64-generic-x86_64-with-debian-stretch-sid
Python 3.5.3 | packaged by conda-forge | (default, Feb  9 2017, 14:37:12)
[GCC 4.8.2 20

[2017-09-28 11:24] lesteve commented on #9846
It seems to me like this is a class design issue: FeatureAgglomeration derives from AgglomerativeClustering but pooling_func is only used in AgglomerativeClustering.transform.

Feel free to open a PR. I haven't looked in detail but a possible solution would be to have FeatureAgglomeration and AgglomerativeClustering derive from a common base class and have pooling_func only in FeatureAgglomeration

[2017-09-28 11:26] massich commented on #9820
That's fine, if I'm not mistaken something like this should do the trick

[code]
But I think that it should be a way to make it nicer, either move the remove to the end and using a named tempfile to delete afterwards or something. I'll  make a PR tonight.

[2017-09-28 11:33] lesteve commented on #9820
Looks like this could work. Maybe this can be simplified a bit, can you not just do something like:

[code]

[2017-09-28 13:19] zilion22 commented on #9842
I think most of (if not all) sklearn supervised classification methods assumes integer labels, so text labels should be converted by LabelEncoder().

The demo here uses target_names only
http://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html
and not labels & target_names together.

Certainly, the user of this function doesn't want to search for labels and label

[2017-09-28 17:20] ragnerok commented on #9354
@jnothman What do you think I should do then ? As mentioned in my comment above the problem is probably computing euclidean distance using `sqrt(dot(x, x) - 2 * dot(x, y) + dot(y, y))`

[2017-09-28 17:24] stonebig commented on #9792
hi all. Scipy-1.0.0rc1 is out. Would it be possible to have a limited scikit-learn-0.19.1 compatibility release ?

[2017-09-28 17:31] amueller commented on #9752
Pretty sure that's my doing... I probably added to many checks to make some tests pass...

[2017-09-28 19:39] artiemq commented on #9844
Hi I just PR'ed for this issue at #9848 but looks like lgtm could not build the commit, is it ok?

[2017-09-28 19:54] neconest commented on #9844
lgtm not showing any reason/log for the error.

[2017-09-28 20:44] lesteve commented on #9792
Can you be more precise? You are commenting on an issue that was a scipy problem and that required no scikit-learn changes. What problem are you seeing? Are they not fixed in master?

Although not related to scipy 1.0, we are planning a 0.19.1 in the not too distant future in any case. The only scipy 1.0 related code change in 0.19.1 is https://github.com/scikit-learn/scikit-learn/issues/9791 AFAI

[2017-09-28 23:23] jnothman commented on #9846
(And FeatureAgglomeration should probably be a wrapper or a mixin...)

On 28 Sep 2017 9:24 pm, "Loïc Estève" <notifications@github.com> wrote:

[2017-09-28 23:25] BerenLuthien commented on #3990
So there is no LSHforest supporting Euclidean distance .... ? Thanks

[2017-09-28 23:31] jnothman commented on #9842
All sklearn classifiers support strings etc as class labels for standard
multiclass classification.

I don't see what benefit we get by accepting a mapping out encoder: can't
you do same by listing the integer range as the label param?

A warning or error where labels is not specified and target_names has more
names than present classes might be a reasonable solution

[2017-09-29 01:11] jnothman commented on #3990
LSHForest is no longer supported. There are numerous approximate nearest
neighbour solutions in python outside of scikit-learn.

[2017-09-29 09:46] zilion22 commented on #9842
The worst thing happens when report is doing mislabeling. This is very dangerous.

It should be either fixed or throw an exception.

On 2017-09-29 01:32, Joel Nothman wrote:
All sklearn classifiers support strings etc as class labels for standard
multiclass classification.
Didn't know.
If so, then the LabelEncoder class doesn't make sense.

I don't see what benefit we get by accepting a mapping ou

[2017-09-29 11:34] dalip123 opened #9853 "error in bayes.py"
/Library/Python/2.7/site-packages/sklearn/linear_model/bayes.py in <module>()
     10 import numpy as np
     11 from scipy import linalg
---> 12 from scipy.linalg import pinvh
     13
     14 from .base import LinearModel

ImportError: cannot import name pinvh
 I am using mac ox 10.9.3

[2017-09-29 11:39] lesteve commented on #8959
I am going to rename this one, because now that https://github.com/numpy/numpy/pull/9139 has been merged the 0d array has been fixed but most of the other arrays have differences in repr. See https://travis-ci.org/scikit-learn/scikit-learn/jobs/281173097 for an example of failing build. 61 failures, all of them similar to this one:
[code]

My preference would be to not do anything until numpy 1.4

[2017-09-29 11:48] lesteve commented on #9853
As you can see from the stack-trace this is not a scikit-learn problem, closing. If you can not see that, learn about stack-traces in Python they are very very useful.

The underlying problem is that you have a broken scipy install. I would recommend you use Anaconda that will allow you to avoid a lot of these problems.

[2017-09-29 11:48] #9853 closed

[2017-09-29 17:35] ashimb9 opened #9854 "A Policy Proposal on Missing Data for Future Contributions"
As you might know, a number of us are working towards bringing various imputation transformers into Scikit-Learn. In addition to imputation transformers, there are also a number of PRs working to implement direct model estimation in the presence of missing data without explicit imputation as a preprocessing step. In other words, we are slowly moving in the direction of comprehensively supporting p

[2017-09-29 18:10] amueller commented on #9854
no. For most models there is no natural way to handle missing data. For trees there are several "natural" ways. We try not to do too much magic under the hood, and so I think it makes most sense if the user selects the imputation algorithm themselves.

How would you support missing values in an SVM in a non-surprising way?

[2017-09-29 18:44] ashimb9 commented on #9854
@amueller Thanks for the response. As I had pointed out in my original post, I was only referring to the class of algorithms where:

For instance, you mentioned decision trees and I am myself working on refactoring the GMM so that it can be fit "naturally" without explicit imputation beforehand. Obviously not all models will have a "natural" approach that is established and it would be best to lea

[2017-09-30 07:07] theC0der512 opened #9856 "Import error for scikit learn even though conda lists them as installed packages"
I am using Jupyter for running python version 3.6.
Whenever I tried to run following code I get import error, but these packages are already installed in he system. Please help me solve this issue. I am a beginner in this field.

from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
iris_d1_cat=iris_d1['iris_type']
iris_d1_encoded=encoder.fit_transform(iris_d1_cat)
iris_d1_encod