[2017-05-28 05:13] jnothman commented on #7089
It is not so hard to improve our implementation. It just needs someone
confident and available to do it.

That implementation may remain faster; we could consider adopting its code,
with permission, but not with a cffi dependency (and perhaps not other
dependencies it builds on).

On 28 May 2017 12:02 pm, "Claudio Sanhueza" <notifications@github.com>
wrote:

Maybe this can help to improve things.

[2017-05-28 12:00] jnothman commented on #8799
Fixed in #8938

[2017-05-28 12:00] #8799 closed

[2017-05-28 12:43] InonS commented on #7352
Hey, @nielsenmarkus11 , thanks for picking this up!
Any news? Maybe the milestone should be updated?

[2017-05-28 14:39] Attractadore commented on #8940
I have replaced the strings where the warnings occur with raw ones and am openning a PR.

[2017-05-28 21:16] joernhees opened #8948 "dealing with multiprocessing issues on python 2"
There seem to be enough problems with multiprocessing on python 2 that you have a [FAQ entry](http://scikit-learn.org/dev/faq.html#why-do-i-sometime-get-a-crash-freeze-with-n-jobs-1-under-osx-or-linux) for it.

Two questions:
1. Considering that every user who runs into this will likely spend hours before finding that FAQ entry... would it be possible to issue a well visible up-front warning in li

[2017-05-28 21:20] joernhees opened #8949 "joblib gets stuck on multi-process GridSearchCV over SGDClassifier"
#### Description
The current implementation of `SGDClassifier` has an `n_jobs=1` arg. If left at its default, it seems to get stuck when used from within a `GridSearchCV`with `n_jobs=i` with `i=-1` or `i>1`.

After debugging and cutting this down for hours, i stumbled over http://scikit-learn.org/dev/faq.html#why-do-i-sometime-get-a-crash-freeze-with-n-jobs-1-under-osx-or-linux . Yes, this is pyth

[2017-05-28 21:50] joernhees commented on #8949
one more thing that might be noteworthy... i find python [crashlog](https://gist.github.com/joernhees/36ee11c6cf83dfe6990ad8cbea1e80b8)s at about the time the training gets stuck

[2017-05-29 00:56] yzliao commented on #8899
How about quoting the data from google via URL?

For example

[code]

The csv file likes this
![image](https://cloud.githubusercontent.com/assets/1594291/26533527/f239accc-43ce-11e7-906a-e3530e51deda.png)

[2017-05-29 01:10] mrholiday opened #8950 "LogisticRegressionCV not compatible with LeaveOneGroupOut"
In LogisticRegressionCV, the documentation says the argument `cv` could be a cross-validation object from `model_selection`.  However, when I pass `LeaveOneGroupOut` as an argument, it has errors in it. I read the source code. I think the problem is that in `LogisticRegressionCV`, when calling the `split` method, it only pass `X` and `y`, but `LeaveOneGroupOut` requires an additional argument `gro

[2017-05-29 01:39] jnothman commented on #8899
sounds reasonable

On 29 May 2017 10:56 am, "yzliao" <notifications@github.com> wrote:

[2017-05-29 01:39] yzliao commented on #8899
I can create a PR on this

[2017-05-29 01:48] jnothman commented on #8950
yes. sigh. Workaround for now, as long as you don't need this in a nested
context, is that you should be able to pass a list of (train, test) index
pairs directly to cv... I hope.

This is another request for sample properties etc (#4696). It perhaps also
suggests, from the perspective of maintainability that we should move away
from specialised CV objects, in preference for something like *Search

[2017-05-29 01:50] jmschrei commented on #8897
Thanks for the clarification @yzliao. The implementation looks to be correct. I don't think the source of confusion is that it's a Gaussian versus a log Gaussian distribution but that we're using the inverse cholesky instead of the covariance.

[code]

The main point is that the log determinant of the inverse cholesky is -0.5 times the log determinant of the covariance, as can be seen here:

[code

[2017-05-29 02:08] yzliao commented on #8897
@jmschrei L405 says det(precision_chol) is half of det(precision) and the precision matrix is the inverse of a cov matrix. So I think L405 is correct.

I think I do not quite understand the second part of your code block.  When we compute the second `log_det_chol`, should we inverse cov at first?

[2017-05-29 02:24] jmschrei commented on #8897
Sorry if I was being unclear. You're right that it's mathematically correct, but it may be worth noting that inverting a matrix flips the sign of the determinant. Basically, if you consider the code in isolation knowing only the equation for logpdf that involves the mean vector and covariance matrix it should be easy to understand what's going on in this code. Explicitly stating why the equation d

[2017-05-29 02:25] yzliao commented on #8897
Got it. I can help to add some notes by a new PR.

[2017-05-29 05:46] raghavrv commented on #8899
@yzliao please go ahead!

[2017-05-29 09:40] TomDLT commented on #8939
We don't compute the error this way when `X` is sparse. Indeed, we prefer not to build the matrix `Y` which is not sparse and thus has a large memory cost. See [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/nmf.py#L95) how we do it in a memory efficient way.

Moreover, note that with the coordinate descent solver from Cichocki et. al. (`solver='cd'` (default)

[2017-05-29 09:50] mitar opened #8952 "type_of_target of linnerud dataset (multivariate regression) is erroneously detected as multiclass-multioutput"
#### Description

`type_of_target` of linnerud dataset (multivariate regression) is erroneously detected as `multiclass-multioutput`.

#### Steps/Code to Reproduce

[code]

#### Expected Results

`continuous-multioutput`

#### Actual Results

`multiclass-multioutput`

#### Versions

[code]

[2017-05-29 10:08] mitar commented on #8952
Similarly the following return `multiclass`, but it should `regression`.

[code]

[2017-05-29 12:55] StefanoD opened #8953 "Confusion Matrix: x-Labels are shifted"
#### Description
I have 19 classes. When I print the x-labels in 45°, then the labels are shifted and interleaved.

![shifted](https://cloud.githubusercontent.com/assets/1634862/26550542/86ab64fe-447e-11e7-9af7-815ad6de2028.png)

When I print the x-labels in 90°, then everything is fine:

![vertical](https://cloud.githubusercontent.com/assets/1634862/26550577/a7cd61b4-447e-11e7-9730-ff8f40d3cb6e.p

[2017-05-29 14:24] StefanoD opened #8955 "Confusion Matrix: Bad font colors"
#### Description
I have 19 classes and sadly some values have a bright font color and a bright background, making them unreadable. Even backgrounds with values of **1.0** are too bright.

![colors](https://cloud.githubusercontent.com/assets/1634862/26553195/e37b5d4a-448a-11e7-8ec8-0b9e328f56f9.png)

My code is based on the official example and the threshold is set to 0.5

#### Steps/Code to Reprod

[2017-05-29 15:13] #8930 closed

[2017-05-29 15:37] mmagnuski commented on #8953
Thedefault behavior of tick label rotation may be counterintuitive at times but the text is rotated with respect to its center - so the center of given label matches the correct tick, not the labels end.

You can change it however:
https://stackoverflow.com/questions/14852821/aligning-rotated-xticklabels-with-their-respective-xticks

[2017-05-29 16:05] StefanoD commented on #8953
Thx, but this means, that the default behavior is wrong for long labels?

[2017-05-29 16:07] StefanoD commented on #8955
The problem is, the colors are based on the absolute values and not on the normalized values.
How can I change this?

[2017-05-29 19:20] shawnjhenry commented on #8939
Hi,

I did some more precise profiling.  The matrix I'm factoring is a 10,000 x 53,050 sparse matrix with 0.036% non-zero entries and the factors have 400 components.  I set both versions to random initialization and modified my version to use the same violation as the sklearn version for a fair comparison.

Over 10 trial runs of five iterations each, my version averaged ~26 seconds for a rate of

[2017-05-29 19:22] mcasl opened #8956 "LDA scalings_ gives wrong dimensions"
#### Description
For an array X with shape m x p (m samples and p features) and N classes, the scaling matrix should have  p rows and N-1 columns.

#### Steps/Code to Reproduce
Example:
[code]
#### Expected Results
I would expect the scalings_ matrix shape to be (2,4) as I have 2 features and the LDA would provide 5-1 components.
#### Actual Results
The scalings_ matrix shape is currently (2,2)

#

[2017-05-29 19:34] agramfort commented on #8939
can you share a benchmark script?

[2017-05-29 20:52] chrisfosterelli commented on #7955
@amueller I've created a pull request here: https://github.com/scikit-learn/scikit-learn/pull/8957
Please give it a read when able!

[2017-05-29 22:44] jnothman commented on #8953
this is not an issue with the scikit-learn library but with how you are
reapplying our example. I don't think there's anything for us to fix unless
we make the plotting code a library function

On 30 May 2017 2:05 am, "Stefano" <notifications@github.com> wrote:

[2017-05-29 22:46] #8953 closed

[2017-05-30 01:19] jmschrei commented on #8949
I'm guessing the reason that the other methods don't lock is because they don't have internal calls to BLAS, which I think is the underlying reason that the SGD/MLP estimators are locking. I also don't think SGD uses BLAS internally, so it's not surprising that it doesn't lock up whereas MLP does. I have run into this in other places as well, and think that it is an issue ultimately with joblib an

[2017-05-30 07:15] tobigithub commented on #4736
@amueller,
correct, probably happens quite often, its not readily visible for new users that running examples from older versions of scikit-learn will lead to such errors. Especially when a google search turns up old example versions first.

The code for the older demos looks completely legit, however throws errors during execution. A better way would be to comment on top of each of the examples f

[2017-05-30 08:18] joernhees commented on #8949
if some of these classifiers are especially prone to error, those would be great candidates for up-front warnings as mentioned #8948

[2017-05-30 09:51] GaelVaroquaux commented on #4736
We need to add a robots.txt to fix that. I'll open up an issue.

[2017-05-30 10:01] GaelVaroquaux opened #8958 "Make it less likely that Google is indexing old version of the docs (maybe with robots.txt)"
Google is indexing old versions of the docs, leading to problems such as #4736.

I suggest adding a robots.txt to fix the problem. I suggest the following content:

<pre>
User-agent: *
Disallow: /*/
Allow: /stable
</pre>

I am not sure that the disallow line is correct, though :$. But I think that it is worth trying.

What do people think?

[2017-05-30 12:42] vasubandaru commented on #8388
I think the issue is not resolved.

![capture](https://cloud.githubusercontent.com/assets/26937712/26583609/8bfeb9e8-4563-11e7-8fbf-e0c0b345ad32.PNG)

[2017-05-30 13:09] Trion129 commented on #8388
Yeah, my changes haven't reached the main website yet

[2017-05-30 13:44] rth commented on #8948
Somebody would probably have to write a [custom joblib backend](https://joblib.readthedocs.io/en/latest/parallel.html#custom-backend-api-experimental) in order to use that library...

[2017-05-30 17:00] rth commented on #8943
Could you please provide an minimal working example of this using a smaller dataset (e.g. 20_newsgroups) that would be faster to run?

[2017-05-30 17:10] lesteve opened #8959 "numpy-dev build failure related to array repr/str formatting changes"
**Historical thing that is not relevant anymore go to https://github.com/scikit-learn/scikit-learn/issues/8959#issuecomment-333104108 for the current problem**:

~~See https://travis-ci.org/scikit-learn/scikit-learn/jobs/237455099 for example.~~

[code]

Additional leading space in the repr of the `nugget` parameter.

[2017-05-30 17:16] lesteve commented on #8959
FYI I opened https://github.com/numpy/numpy/issues/9185.

[2017-05-30 17:26] #8644 closed

[2017-05-30 17:28] jmschrei commented on #8949
I would be generally supportive of a warning to pop up when n_jobs > 1 for estimators that use BLAS where there is the potential for this type of locking up to occur. My only hesitation is that this is ultimately an issue with joblib, and I've experienced it when using joblib independently of sklearn. @GaelVaroquaux what do you think?

[2017-05-30 17:41] GaelVaroquaux commented on #8949
Blas is everywhere (in particular since when you use MKL not only Blas operations are made parallel, but also vector operation), so I do not think that such warning is possible.

⁣Sent from my phone, please excuse typos and briefness​

On May 30, 2017, 19:28, at 19:28, Jacob Schreiber <notifications@github.com> wrote:

[2017-05-31 07:20] AditiBhiwaniwala opened #8961 "Sliding window technique"
I have made a car logo recognition classifier using 'KNeighborsClassifier' module from the 'neighbors' class of sklearn. The classifier works fine enough. But when i am using this classifier along with 'sliding window' to recognise the make of car from its image the output of classifier changes by changing the size of window. Can you help me to generalise the size of window and help me find where

[2017-05-31 10:05] eazhary opened #8962 "MultiClass with Negative training data"
Confession: This is a usage question that should go to stackoverflow. I tried asking this question on stackoverflow but I never got an answer. So I am guessing that this feature is not implemented, that is why I am posting here, maybe we can add it to the list of new features..
.....
**PROBLEM BACKGROUND**
I am trying to predict the best Customer Service Agent to handle a Customer based on histori

[2017-05-31 10:17] vawk opened #8963 "Kernel restart necessary to use KMeans"
Hi there.
I have a problem reproducing this demonstration: http://scikit-learn.org/stable/auto_examples/cluster/plot_kmeans_assumptions.html#sphx-glr-auto-examples-cluster-plot-kmeans-assumptions-py. Boiling it down, this is what happens: I run the code below the first time and it finishes without an error. Running it again results in an error.

[code]
The following error occurs when the code is r

[2017-05-31 11:53] TomDLT commented on #8958
[Google said:](https://support.google.com/webmasters/answer/6062608?hl=en)

Instead, it suggests to add an [html meta tag](https://developers.google.com/webmasters/control-crawl-index/docs/robots_meta_tag) in the concerned pages.
[code]

[2017-05-31 12:12] vivekk-ezdi opened #8964 "Confusion in max_leaf_nodes documentation of Tree based estimators"
On the documentation page of [RandomForestClassifier](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html), the description of `max_leaf_nodes` is :-

When using a value like 0 or 1 in it, it produces the following error:

`         ValueError : max_leaf_nodes 0 must be either smaller than 0 or larger than 1`

So the current wording generates a confusion.

[2017-05-31 15:14] qinhanmin2014 commented on #8952
I think it is because `type_of_target` judge `continuous` according to `y.dtype.kind == 'f'`(an array-like of floats) and `np.any(y != y.astype(int))`(not all integers). For the `linnerud` dataset and the `diabetes` dataset, the target satisfies the first restriction, but does not satisfies the second, so they are considered as `multiclass`.
Examples:
`type_of_target([1.0, 2.0, 3.0])`
output: `'mu

[2017-05-31 15:17] GaelVaroquaux commented on #8958
Good catch.

Now, how do we do this in practice? Run a script on the git repo of the
webpage to add this?

[2017-05-31 16:23] aashil opened #8966 "`Except: pass` used in test_estimator_checks.py"
#### Description

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/tests/test_estimator_checks.py#L170

I think that `except: pass` should be avoided as much as possible except for a few scenarios. Can we please add the expected error in the except clause? I would love to help if anyone can tell what `check_estimator(NoSparseClassifier)` throws?

Stackoverflow discussion: htt

[2017-05-31 16:33] jmschrei commented on #8964
I think that the documentation is fine as-is. As an interface to the users you can either pass in a positive integer or keep it as None. When you pass in an invalid number of leaves (it is impossible to have 0 or 1 leaves in a binary tree other than just returning a single value) it returns an error specifying what the appropriate range is. Internally, negative numbers are allowed because -1 is us

[2017-05-31 19:37] nelson-liu opened #8967 "MultiTaskElasticNetCV (and likely other coordinate descent-based models) is sample-order dependent"
#### Description
When fitting a MultiTaskElasticNetCV (and perhaps other coordinate descent models, I haven't tried them yet), I get different results depending on the order of my samples

Maybe I'm just being dense, but I was unaware that coordinate descent could yield different results depending on sample order. If this is intended, feel free to close.

A possible fix would be to just shuffle th

[2017-05-31 20:31] rth commented on #8966
A custom value error,
[code]
Also did you see [the comments](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/tests/test_estimator_checks.py#L162) for that test? The exception is handled by catching [this error message](https://github.com/scikit-learn/scikit-learn/blob/02c705e115cdcf03f76789774baf8fed84092924/sklearn/utils/estimator_checks.py#L373) on stdout. Not sure why one

[2017-05-31 20:37] jmschrei commented on #8962
You could consider rephrasing the problem as a binary classification where
you collect features about the customer and features about the agent,
concatenate them together, and then have the label be whether the
interaction was good or bad. This would allow your classifier to learn that
agents that are similar to each other will produce similar results when
pairs with similar customers.

On Wed, Ma

[2017-05-31 21:14] eazhary commented on #8962
Thanks lot....

So when a call comes in the call center, I would check available agents, get customer features, concatenate them with each available agent features, and pass them to the predict function. The one with a positive label and has the highest probability gets the call... right ??

[2017-05-31 22:54] paulochf commented on #8426
I'm back, working on a PR for this issue.

I've just realized that there are many calls to `.split` throughout the repo. I can fix the one that breaks my code, but I don't know where others could be.

Is that ok?

[2017-05-31 22:57] jli05 commented on #8943
I did training on the 20_newsgroups training corpus with

[code]

and ran `np.log(lda.perplexity())` on the test corpus, and obtained 27.7.

Simple check on the entropy (log-perplexity) of M1 (average normalised word count vector): 9.09.

[2017-06-01 05:23] agramfort commented on #8963
I cannot replicate

[2017-06-01 05:28] agramfort commented on #8967
On paper it should have no impact yes but it's a numerical issue I doubt we can fight.

I guess pb will reduce with low tolerance on dual gap

[2017-06-01 06:55] vawk commented on #8963
That's weird and now I have kind of the same problem. I can run it without any problems on my notebook. Nonetheless the problem is reproducable when I run it on the server of my chair.

[2017-06-01 08:14] jnothman commented on #4736
that's weird, as there's already a canonical URL link to stable in the 0.15
version

On 30 May 2017 7:51 pm, "Gael Varoquaux" <notifications@github.com> wrote:

[2017-06-01 08:15] vivekk-ezdi commented on #8964
@jmschrei Yes, I agree that the error is appropriate. But I was hoping that some clarification. Negative numbers are only allowed internally, so I don't think that at user interface, we should allow them.

[2017-06-01 09:15] jnothman commented on #8961
Could you provide some code to show what you mean? Although I think this would be a better question for the mailing list than the issue tracker

[2017-06-01 09:21] jnothman commented on #8958
I'm surprised that the rel=canonical link does not already do this... as
long as the same path exists in stable, that is.

On 1 Jun 2017 1:17 am, "Gael Varoquaux" <notifications@github.com> wrote:

[2017-06-01 09:42] jnothman commented on #8962
yes i think you've not got the right conception of ovr. The suggestion
above is a good one.

In practice you'd want a measure of uncertainty (agents with fewer prior
interactions should be allowed to handle any call) and choose any agent
who, taking uncertainty into account, may be the top for that customer.

On 1 Jun 2017 7:14 am, "eazhary" <notifications@github.com> wrote:

Thanks lot....

So wh

[2017-06-01 09:43] jnothman commented on #8962
for future reference, our mailing list may be the appropriate place for
such a question. or stats.stackexchange.com

On 1 Jun 2017 7:42 pm, "Joel Nothman" <joel.nothman@gmail.com> wrote:

[2017-06-01 09:45] jnothman commented on #8426
That's okay, though not ideal. I'll make a separate issue for the general case .

[2017-06-01 09:49] jnothman opened #8971 "Test support for CV splitter where y required in *CV"
#8426 shows that we can easily miss supporting diverse CV splitters by not correctly passing y (and even other arguments) to .split(...). This is a risk in specialised CV classes and we should ideally have a genetic test to make sure split is passed both X and y at least in all cases.

[2017-06-01 09:52] jnothman commented on #8943
perhaps when the normalisation of components was changed the perplexity
method was not fixed. I wonder if this was an issue in 0.17.

On 1 Jun 2017 8:57 am, "Jencir Lee" <notifications@github.com> wrote:

[2017-06-01 09:55] lesteve commented on #8948
The short answer is no.

[2017-06-01 09:55] #8948 closed

[2017-06-01 09:58] jnothman commented on #8964
I'd consider a PR making the error message clearer

On 1 Jun 2017 6:15 pm, "Vivek Kumar" <notifications@github.com> wrote:

[2017-06-01 10:00] amueller opened #8972 "Add "how to contribute" to FAQ"
I get many email requests on how to contribute to sklearn.
I think we should do something similar to http://scikit-learn.org/dev/faq.html#what-s-the-best-way-to-get-help-on-scikit-learn-usage
and point to the contribution docs. They are a little bit hidden (you need to click development and then contributing) and relatively long, so a link and a two sentence summary in the FAQ might be good.

[2017-06-01 11:14] #8766 closed

[2017-06-01 11:26] lesteve commented on #8955
Looking at the [example](http://scikit-learn.org/dev/auto_examples/model_selection/plot_confusion_matrix.html#sphx-glr-auto-examples-model-selection-plot-confusion-matrix-py), I don't think there is anything wrong with the example. Since the colormap is over the non-normalized values in your case, I am guessing that the error is in your script rather than in the scikit-learn example.

I am going t

[2017-06-01 11:26] #8955 closed

[2017-06-01 11:53] joernhees commented on #8948
🚪 🤕

[2017-06-01 11:57] lesteve commented on #7352
I am a bit confused about this one. It seems like the root of the problem is that:

[code]

Output:
[code]

Expected behaviour:
[code]

I am wondering whether pandas is to blame on this one.

[2017-06-01 12:09] lesteve commented on #8388
The issue has been fixed on the dev website http://scikit-learn.org/dev. It will reach the stable website on the next release, i.e. 0.19.

[2017-06-01 13:12] #8962 closed

[2017-06-01 14:29] #8830 closed

[2017-06-01 14:57] jorisvandenbossche commented on #7352
Yes, that is indeed unexpected, as @jnothman also notes in the top-post. He opened an issue about it, see the dicussion here: https://github.com/pandas-dev/pandas/issues/14167
Summary: it was originally deliberately implemeted like that, but in the meantime we agree we should change it to return the dense values. The question is more when we would like to change that (which is not answered in the

[2017-06-01 16:25] lesteve commented on #7352
OK thanks I did miss that in the top-post indeed.

[2017-06-01 16:33] jmschrei commented on #8964
@vivekk-ezdi if you want to open a PR to make the error message clearer, we can probably get that merged fairly quickly.

[2017-06-01 17:13] bbartoldson commented on #6665
@lesteve: i had this error using the setup you describe (two versions of numpy installed). simply updating the conda install of numpy to the same version as the pip install (1.12.1) did the trick for me. i did remove the pip numpy install, though, as i didn't intend to have two versions :)

[2017-06-01 19:20] wallygauze commented on #8544
No-one seems to be on this. May I.

[2017-06-02 04:40] souravsingh commented on #8972
I am interested in taking a stab at the issue.

[2017-06-02 04:57] vivekk-ezdi commented on #8964
@jmschrei  Yes, I am interested. Does the following line make sense or would you recommend a better one:

`ValueError : max_leaf_nodes 0 must be larger than 1`

[2017-06-02 05:36] jmschrei commented on #8972
Go ahead

[2017-06-02 05:37] jmschrei commented on #8964
I would suggest `ValueError: max_leaf_nodes must be either None or greater than 1.`

[2017-06-02 06:25] eantaev commented on #5046
Didn't want to disable MKL with nomkl.
Adding
[code]
Solved this problem for me.

[2017-06-02 11:14] lesteve commented on #8943
@jli05 it would help tremendously if you provided a stand-alone snippet to reproduce the problem, which means something we can just copy and paste in an IPython session. Please read https://stackoverflow.com/help/mcve for more details.

[2017-06-02 12:02] lesteve commented on #8618
This is fixed now that #8768 has been merged.

[2017-06-02 12:02] #8618 closed

[2017-06-02 13:55] IainStrachan commented on #8544
Sure that would be a great help - I've not done Git Hub pull requests before, and would probably take me more time than you!

[2017-06-02 17:19] walkon302 commented on #6665
@lesteve: Thank you for the solution! I happened to have this error and then I found this discussion. Fix it right away after remove the duplicated version of numpy.

[2017-06-02 20:58] massich opened #8976 "[RFC] who should drive the dtype of the computations X or y ?"
#### Description

This question arises after the PR #8835 addressing IS #8769.
Roughly if `X.dtype` is `np.float32` and `y.dtype` is `np.float64`, (or the other way arround) should we:

a) convert both to `np.float32`
b) convert both to `np.float64`
c) convert them to `X.dtype`
d) convert them to `y.dtype`

[2017-06-02 20:59] GaelVaroquaux commented on #8976
I suggest that X should drive the choice: as X is usually the big
dataset. It should be documented somewhere.

[2017-06-02 21:13] nelson-liu opened #8977 "MultiTaskLasso/MultiTaskLassoCV docs are incorrect"
#### Description
The docstrings for MultiTaskLasso/MultiTaskLassoCV give it the same description as MultiTaskElasticNet/MultiTaskElasticNetCV (describing it as being L1/L2 regularized). This is not correct, and probably a case of bad copy/paste?

Additionally, I think the optimization objective might need checking...

[2017-06-02 21:13] nelson-liu commented on #8964
looks like this can be closed?

[2017-06-02 21:37] #8964 closed

[2017-06-03 08:53] jnothman commented on #8976
X should drive the choice as y needs to be derived from X... I think that
logic is correct

On 3 Jun 2017 7:18 am, "Gael Varoquaux" <notifications@github.com> wrote:

I suggest that X should drive the choice: as X is usually the big
dataset. It should be documented somewhere.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https

[2017-06-03 10:15] jorisvandenbossche opened #8978 "Vectorize text based on word embeddings"
I experimented a bit with word embeddings and sentence embeddings recently, and put this this (still a bit rough) repo: https://github.com/jorisvandenbossche/wordembeddings. I am opening an issue here to make people aware of it, and to see if it is worth to discuss whether some things would be interesting for scikit-learn.

Summary of what I did: based on pre-trained word vectors (I used the ones

[2017-06-03 10:16] jorisvandenbossche commented on #8978
cc @GaelVaroquaux @ogrisel

[2017-06-03 10:23] glemaitre opened #8979 "DOC Reviews examples and correct notebook style when it was not intended"
Following a review for #8222, I saw that a lot of examples were written with some separator to make clearer. It could look like something like:

[code]

The issue is that those separators are interpreted in `sphinx-gallery` and transformed to a notebook style which was not intended at first. Therefore, the examples could look slightly sloppy sometimes.

[2017-06-04 07:51] rohinarora opened #8981 "HTTP Error 404: Not Found when calling fetch_species_distributions()"
#### Description

HTTP Error 404: Not Found when calling fetch_species_distributions()

#### Steps/Code to Reproduce

from sklearn.datasets import fetch_species_distributions

data = fetch_species_distributions()

#### Reason
DIRECTORY_URL = "http://www.cs.princeton.edu/~schapire/maxent/datasets/"

SAMPLES_URL = DIRECTORY_URL + "samples.zip"

The SAMPLES_URL has been moved from http://www.cs.princ

[2017-06-04 12:11] maykef opened #8982 "scikit-learn SVM Opencv Python 3.4 IndexError: lis index out of range"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2017-06-04 12:21] #8982 closed

[2017-06-04 17:04] wxchan opened #8984 "misleading warn/error message in sklearn.base.clone"
I read the code of sklearn.base.clone here https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/base.py#L110-L118.

I think if equality_test is False (param1 != param2), it can also mean "Estimator modifies parameters in \_\_init\_\_.".

I can submit a pr if it's a mistake.

[2017-06-04 20:52] glemaitre commented on #8984
I am not sure that this is a mistake.

`clone` should create an estimator where `param1 is param2`, therefore the id of the parameters should be the same. When this is happening, the check `continue` for the next parameter.

If `equality_test is True`, it is only because `param1 == param2` which does not enforce `param1` and `param2` to be the same object with the same id. The `scikit-learn` API e

[2017-06-04 22:10] wxchan commented on #8984
Sorry, you are right, I need to alter my statement a little, what I tried to say is that `equality_test is False` can also mean `Estimator modifies parameters in __init__.`, I think the condition of current RuntimeError might be `param1 is not None and param2 is None`.

Some developer may design an estimator like [this](https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/sklearn.py#

[2017-06-05 07:21] amueller opened #8986 "Add reference to platt's paper to the SVC docs"
There is only a reference for the multi-class extension, not for the binary case.

[2017-06-05 07:22] amueller commented on #8986
should probably be: Probabilistic Outputs for Support Vector Machines and Comparisons to Regularized Likelihood Methods, J. Platt
And maybe also mention CalibratedClassifierCV?

[2017-06-05 09:39] GiuseppeLaurenza commented on #7346
I am starting today to use python3 and scikit, i am using Parallel from joblib to manage thread and process, but i get this error too. Can you suggest me a way to overcome this problem?
Thanks

[2017-06-05 11:18] shivamgargsya commented on #8986
Hi @amueller can you point me to the rst file.

[2017-06-05 12:17] Louis-Tian opened #8987 "Bug - wrong activations and delta length in BaseMultilayerPerceptron ?"
In [`multilayer_perceptron.py`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neural_network/multilayer_perceptron.py) at [line 623](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neural_network/multilayer_perceptron.py#L362) we have
[code]
and at [line 268](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neural_network/multilayer_perceptron.py

[2017-06-05 13:13] amueller commented on #8984
No the condition for runtime error is ``param1 != param2``. We could change it to ``Estimator doesn't set param correctly``. That can be because it is modified in init, you are right. You can add the "correctly" if you want?

[2017-06-05 13:19] amueller commented on #8986
doc/modules/svm.rst

[2017-06-05 13:23] amueller commented on #8987
confusingly n_layers_ counts the input layer, while there are no activations or deltas for the input layer.

[2017-06-05 13:31] Louis-Tian commented on #8987
Yes, that seems to be the intention. But this is not what the code is doing. We have `X` as the first element in `activations` and X is the input layer isn't ?

[2017-06-05 13:37] amueller commented on #8987
oh, right, the docstring is wrong. But the code is correct. ``activations[-1]`` is the last entry of activations, so the output layer.

[2017-06-05 13:46] Louis-Tian commented on #8987
`activations[-1]` is the output layer, but `delta[last]` is not. I could be wrong but my understanding is that `activations[-1] - y` is suppose to be delta value for the output layer as well.

If a network has three layer, one input, one hidden and one output, then `last = self.n_layers_ -2 = 3 - 2 = 1` and deltas[last] == deltas[1] is actually refering to the hidden layer delta instead of the out

[2017-06-05 13:50] amueller commented on #8987
deltas has length self.n_layers_ - 1. We don't need deltas for the input layer.

[2017-06-05 14:01] vene commented on #8029
So `GaussianRandomProjectionHash` can be *instantiated* and fit with any value for `n_components`, but transform fails if it's not a multiple of 32. It fails with a variety of exceptions:

[code]

[2017-06-05 14:03] vene commented on #8029
Presumably `n_components` should be exposed as the multiplier of 32 used internally, however this leads to `obj.components_.shape[0] != obj.n_components`, unlike at the moment.

[2017-06-05 14:48] amueller commented on #8157
We should discuss this in person - I need to read your proposal again first, though.

[2017-06-05 14:51] #8894 closed

[2017-06-05 14:51] qinhanmin2014 commented on #8894
@amueller Sorry to disturb. I have made a pull request(https://github.com/scikit-learn/scikit-learn/pull/8909) about this issue and is approved. Could you please have a look at it?

[2017-06-05 14:51] amueller commented on #8894
@qinhanmin2014 lol I just merged it this second before you posted.

[2017-06-05 14:55] amueller commented on #8678
@GaelVaroquaux I'm not talking about any inverse transform in the pipeline. I want to do a log transform of the target, but I want to predict in the original space. To do that, the predict must do the inverse transform.

I definitely want to discuss this during the sprint, I'll make a PR now, I implemented this often enough ;)
@herilalaina you didn't work on this, did you?

[2017-06-05 14:57] amueller commented on #8678
@jnothman I'm not sure about it better fitting with pipeline, I'm a bit ambivalent. You can totally use it without pipeline....

[2017-06-05 15:34] herilalaina commented on #8678
Sorry for the late PR. I already started to work on this. I will be at the sprint event (Saturday 10)

[2017-06-05 15:51] amueller commented on #8678
See #8988

[2017-06-05 15:55] paolof89 opened #8989 "GridSearchCV doesn't work with n_jobs>1 with KerasRegressor"
#### Description
I can not fit the GridSearchCV object with n_jobs > 1 (or n_jobs = -1)
The console is trapped into an error loop with this message:
AttributeError: Can't get attribute 'create_model' on <module '__main__' (built-in)>

#### Steps/Code to Reproduce
import math
import numpy as np
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import Dense, Dropo

[2017-06-05 15:59] herilalaina commented on #8678
Ok, i will contribute for the test then

[2017-06-05 16:01] GaelVaroquaux commented on #8989
That's because the way you have built your code, the parallel computing cannot persist the objects, which is necessary to dispatch them across workers.

This is not a bug. Models need to pickle for parallel computing.

I am closing the issue. One solution to explore is to put in an importable module your function "create_model". The error message points to the fact that this function is not access

[2017-06-05 16:01] #8989 closed

[2017-06-05 17:33] erolrecep commented on #5516
I just realize that there is a relationship between specificity and sensitivity between two classes.
**Classification report :**
             precision    recall  f1-score   support

          0       1.00      0.95      0.97        57
          1       0.97      1.00      0.98        86

avg / total       0.98      0.98      0.98       143

Confusion Matrix
[[TP FN
  FP TN]]

**Confusion matrix :

[2017-06-05 18:47] vmarkovtsev commented on #8981
It is already fixed in master, can be closed: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/datasets/species_distributions.py#L58

[2017-06-05 21:47] jnothman commented on #8989
i have no reason to believe this is a bug in scikit-learn. have you raised
it at keras?

On 6 Jun 2017 1:55 am, "paolof89" <notifications@github.com> wrote:

[2017-06-05 21:48] jnothman commented on #8989
sorry, my email didn't show gael's reply

On 6 Jun 2017 2:03 am, "Gael Varoquaux" <notifications@github.com> wrote:

That's because the way you have built your code, the parallel computing
cannot persist the objects, which is necessary to dispatch them across
workers.

This is not a bug. Models need to pickle for parallel computing.

I am closing the issue. One solution to explore is to put in an

[2017-06-05 21:54] jnothman commented on #8678
My point was not that it will be used with pipeline, but that it is /like/
pipeline and would best be documented alongside pipeline.

On 6 Jun 2017 2:07 am, "RAKOTOARISON Herilalaina" <notifications@github.com>
wrote:

[2017-06-05 22:00] Louis-Tian commented on #8987
Hi amueller, I agree

But I disagree with

In the current implementation it has length `self.n_layers_` because

*  it was initialized as the same length as `activations`.
[code]
*  `activations` has length `self.n_layers_ `
[code]
* Hence it follows `deltas` also have length `self.n_layers_ `.

[2017-06-06 03:04] jnothman opened #8991 "Remove ChangedBehaviorWarning from *SearchCV.score"
*SearchCV changed behaviour in v0.16, and a warning is issued at every call where `scoring` is provided. I think it can now be removed.

[2017-06-06 05:38] yanshuaicao opened #8992 "AssertionError: Tree consistency failed in TSNE"
#### Description

TSNE learning on digit dataset throws error for perplexity=8

#### Steps/Code to Reproduce

[code]

#### Expected Results

No error.

#### Actual Results

[code]
#### Versions

Linux-4.4.0-78-generic-x86_64-with-Ubuntu-16.04-xenial
('Python', '2.7.12 (default, Jul  1 2016, 15:12:24) \n[GCC 5.4.0 20160609]')
('NumPy', '1.12.1')
('SciPy', '0.18.1')
('Scikit-Learn', '0.19.dev0')

##

[2017-06-06 06:54] AnishHota commented on #8972
I will also like to take the issue. I am trying to contribute to open source project. Can you please tell me where i could edit the FAQ page?

[2017-06-06 07:25] rth commented on #7570
Closing this issue as outdated.

[2017-06-06 07:25] #7570 closed

[2017-06-06 07:41] paolof89 commented on #8989
Hi jnothman,
yes, I opened an issue also at Keras, but after the Gael's reply I think I'll close it in some days.
I wait a little bit more to see if someone else has more advises.
Here the issue at keras: https://github.com/fchollet/keras/issues/6862

[2017-06-06 08:25] amueller commented on #8660
@NarineK awesome! sorry for the late reply, looks great!

[2017-06-06 08:27] jnothman commented on #8972
doc/faq.rst

On 6 Jun 2017 4:54 pm, "Anish Hota" <notifications@github.com> wrote:

[2017-06-06 08:33] dohmatob opened #8993 "BaggingRegressor and BaggingClassifier should support multi-output targets"
#### Description
It would be nice to have `BaggingRegressor` / `BaggingClassifier` support multi output targets.

### This code faults
[code]
with error

[code]

#### Proposed fix
[code]

[2017-06-06 08:42] #8986 closed

[2017-06-06 08:45] dohmatob opened #8994 "DictionaryLearning should support more general constraints on the components"
#### Description
In the  <a href="https://hal.inria.fr/inria-00408716v1/document">reference paper</a>, arbitrary convex compact contraints can be imposed on the dictionary atoms, as long as one can compute the euclidean projection (e.g l2 ball, elastic-net ball, fused-lasso ball, etc.). For example, sparsity can be a crucial constraint is we know from prior knowledge that the dictionary atoms / co

[2017-06-06 09:15] rth commented on #8895
@firstprayer To summarize the previous post, the vocabulary limit in `CountVectorizer` should be 2147483647 (2**31 - 1) not 65535 (2**16 - 1). Could you please provide more information about the system you were using that could explain your results. Otherwise feel free to close this issue.

[2017-06-06 09:20] amueller opened #8995 "Deprecate randomized_l1 module"
This module should be deprecated and scheduled for removal in 0.21 (or 0.22?). Ping @GaelVaroquaux @agramfort

[2017-06-06 09:21] amueller opened #8996 "Deprecate LSHForest"
LSHForest should be deprecated and scheduled for removal in 0.21. It should also warn about having bad performance. cc @ogrisel

[2017-06-06 09:34] agramfort commented on #8475
@amueller how can I replicate this?

fixing algo will be hard. Best we can do I think is capture warnings if it has no consequences of use case or improve warning message

[2017-06-06 09:36] agramfort commented on #8977
I am not sure I see the problem:

http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.MultiTaskElasticNet.html
and
http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.MultiTaskLasso.html

are different and objective functions look correct to me.

[2017-06-06 09:48] amueller commented on #8475
https://github.com/amueller/applied_ml_spring_2017/blob/master/slides/aml-13-rent.ipynb

[2017-06-06 10:02] jnothman commented on #8995
sigh. Yes I'm not pursuaded it's doing its job. Part of that is because
it's not fast enough, part because it's not flexible enough.

Where I think we have most prominently failed, however, is in ensuring its
integration: providing a way to do approximate NN in the various estimators
that use neighbours. I think if it were better integrated into API, it
could have been enhanced or alternative impl

[2017-06-06 10:03] jnothman commented on #8995
sorry, wrong issue

On 6 Jun 2017 8:02 pm, "Joel Nothman" <joel.nothman@gmail.com> wrote:

[2017-06-06 10:05] jnothman commented on #8996
sigh. Yes I'm not pursuaded it's doing its job. Part of that is because
it's not fast enough, part because it's not flexible enough.

Where I think we have most prominently failed, however, is in ensuring its
integration: providing a way to do approximate NN in the various estimators
that use neighbours. I think if it were better integrated into API, it
could have been enhanced or alternative impl

[2017-06-06 10:08] agramfort commented on #8995
no strong feeling.

@GaelVaroquaux any feelings?

[2017-06-06 10:11] rth commented on #8996
@jnothman I'm currently working on rebasing  your PR https://github.com/scikit-learn/scikit-learn/pull/3922 and fixing things that broke due to API changes since then. That is still relevant, right (even if would be used with external implementations instead of LSHForest) ?

[2017-06-06 10:20] agramfort commented on #8475
for the record here is X and y to replicate the issue:

[X_y_rent.zip](https://github.com/scikit-learn/scikit-learn/files/1054560/X_y_rent.zip)

then just do:

[code]

[2017-06-06 10:41] jnothman commented on #8996
yes, it's still relevant, except the question is how we illustrate that
feature without even a basic approx nn implementation. I fear without
illustration it becomes an obscurity and somewhat difficult to maintain

On 6 Jun 2017 8:12 pm, "Roman Yurchak" <notifications@github.com> wrote:

[2017-06-06 11:22] amueller commented on #8996
@ogrisel is looking into other approximate algorithms right now. I'm not sure we should try to include another one into sklearn now, but maybe into contrib.

[2017-06-06 11:26] amueller commented on #8992
Thanks for the report. That's... odd... to say the least.

[2017-06-06 11:34] Sentient07 commented on #8991
Can I work on this as a part of sprint ?

[2017-06-06 11:35] Sentient07 commented on #8995
Can I go ahead with this?

[2017-06-06 11:41] amueller commented on #8991
@Sentient07 go ahead.

[2017-06-06 11:41] lesteve commented on #8992
Hmmm I can reproduce on master. Note this works fine on 0.18.1.

[2017-06-06 11:42] amueller commented on #8995
@Sentient07 sure, but pick one

[2017-06-06 11:44] vene opened #8998 "dummy_estimator predict_log_proba has wrong type/shape in multi-output case"
On current master:

[code]

This is probably because predict_log_proba is implemented on top of predict_proba.

[2017-06-06 11:58] amueller commented on #5516
I'm happy to add additional metrics, but I don't think we should add alias functions for say, sensitivity.

A reasonable implementation of
``confusion_matrix(actual, predicted).get(actual_class=0, predicted_class=2)``
would be
``get_confusion(confusion_matrix(actual, predicted), actual_class=0, predicted_class=2)``
but I'm not sure that adds enough value. It's basically naming the axis of the matr

[2017-06-06 11:58] #8981 closed

[2017-06-06 12:06] ngoix commented on #8693
To summarize :

1) Minor changes:
- for all decision functions except the EllipticEnvelop one, bigger is better (the smaller the more abnormal).
-> change EllipticEnvelop decision function to its opposite.
- clean outlier_detection.py (remove OutlierDetectionMixin) and robust_covariance.py.

2) API changes:
 Rq: it is true that EllipticEnvelop decision function uses `contamination`, but just to sh

[2017-06-06 12:11] dohmatob opened #9000 "TypeError (can't coerce) in plot_image_denoising.py on python 2.7"
#### Reproduce with:
`$ ipython examples/decomposition/plot_image_denoising.py`

[code]

### Notes
Works fine with python 3.

[2017-06-06 12:16] souravsingh commented on #9000
@amueller I am interested in working on this. How do I start?

[2017-06-06 12:19] amueller commented on #9000
reproduce the error and fix it? maybe either convert face to float somewhere, or more likely do face = face / 4.0 ?

[2017-06-06 12:20] lesteve commented on #9000
FWIW I can reproduce on Python 2.7.

[2017-06-06 12:20] dohmatob commented on #9000
The fix can be done by with just one character: "255 ==> 255." (mind the dot) in the line `face /= 255`

[2017-06-06 12:24] lesteve commented on #9000
should have read "in the line `face = face / 255`"

[2017-06-06 12:24] agramfort commented on #8995
@Sentient07 wait for @GaelVaroquaux to proceed here

[2017-06-06 12:26] dohmatob commented on #9000
@lesteve ya sure. mistype

[2017-06-06 12:33] jnothman commented on #8992
(Time to do randomised testing?)

On 6 June 2017 at 21:41, Loïc Estève <notifications@github.com> wrote:

[2017-06-06 12:34] jnothman commented on #8998
To be clear, the difference is subtle: a list of 2d arrays has become a 3d
array.

On 6 June 2017 at 21:44, Vlad Niculae <notifications@github.com> wrote:

[2017-06-06 12:35] amueller commented on #8998
Yeah, what's the API contract here? @vene do you want to check what current behaviors are?

[2017-06-06 12:36] #9000 closed

[2017-06-06 12:36] lesteve commented on #9000
@souravsingh looks like you will have to find another issue to work on. There should be plenty available ;-).

[2017-06-06 12:39] rth commented on #3988
Since LSHForest is to be deprecated (https://github.com/scikit-learn/scikit-learn/issues/8996), should this issue be closed @jnothman ?

[2017-06-06 12:39] amueller commented on #8987
ok, so the last entry of deltas is never used?

[2017-06-06 12:39] amueller commented on #8987
If there's a bug, can you provide a self-contained example to reproduce?

[2017-06-06 12:41] rth commented on #3990
Issue potentially tagged for closing following the deprecation of LSHForest (https://github.com/scikit-learn/scikit-learn/issues/8996)... cc @jnothman

[2017-06-06 12:42] Sentient07 commented on #8995
I was about to push. I will wait.

[2017-06-06 12:47] jnothman commented on #3990
Yes, I think so. I think it proved harder to modify than worthwhile.

On 6 June 2017 at 22:41, Roman Yurchak <notifications@github.com> wrote:

[2017-06-06 12:49] lesteve commented on #7346
May be related to https://github.com/scikit-learn/scikit-learn/issues/2755.

[2017-06-06 13:04] GiuseppeLaurenza commented on #2755
Hi,
i started yesterday to use python3 and scikit and I faced this problem, is there any workaround?

[2017-06-06 13:07] Sentient07 commented on #8991
The [PR](https://github.com/scikit-learn/scikit-learn/pull/9005) that address this issue.

[2017-06-06 13:09] agramfort commented on #8475
Using #9004 you can use max_iter as in:

[code]

this will remove the warnings

[2017-06-06 13:18] #8972 closed

[2017-06-06 13:26] amueller commented on #8678
@jnothman fair, I'm happy to have it moved.

[2017-06-06 13:27] amueller commented on #8678
@tguillemot is working on this now (maybe?)

[2017-06-06 13:28] lsorber opened #9007 "Suggestion: cache all Pipeline steps by default"
PR #7990 implements a caching pipeline which caches all steps but the last. I haven't found much discussion on this topic specifically, so I can only speculate on why the last step is not cached. With this issue, I would like to make the case for caching all pipeline steps.

Arguments pro:
- I would guess the last step is not cached because it is usually not a transformer. However, the last step m

[2017-06-06 13:32] jnothman commented on #9007
The last step of a pipeline is dependent on the previous steps. Caching the
last step is therefore equivalent to caching the entire pipeline. If the
pipeline is nested as in the case you describe, the containing pipeline
should be doing caching.

I get the impression this use-case is quite niche. Perhaps a hack would do?
my_cached_pipeline.steps.append(('empty', None))

On 6 June 2017 at 23:28, La

[2017-06-06 13:36] jnothman opened #9008 "cache FeatureUnion transformers"
It seems reasonable to support a `memory` parameter to `FeatureUnion` like was recently added to `Pipeline` (#7990). It is valuable in the sense that parameters in some constituent transformers can be searched over while others are unchanged; those that are unchanged should not need to be re-fit from scratch.

[2017-06-06 13:36] jnothman commented on #9007
#9008 may be of interest

On 6 June 2017 at 23:32, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-06-06 13:50] Louis-Tian commented on #8987
Alright, here is an example.

I add a two print statement at right before and just after the  `_fit_stochastic` call.
[code]

Then I ran
[code]
And the result I got
[code]
The last element didn't change. And the first elements now has the shape of (1,2).

[2017-06-06 13:52] nelson-liu commented on #8977
Ok, scratch what I said about the objective. But the docstring description for Lasso* classes mentioned above does seem incorrect, no?

[2017-06-06 13:55] amueller commented on #8987
Hm that is indeed odd... though it's not a tests showing a bug... can you show that the gradient computation is wrong? Though I guess we do need a change here, at least to make it easier to follow.

My reading was that the last entry is not used and the other entries store the deltas from the layers above. Is that not consistent with your print?

[2017-06-06 13:58] lsorber commented on #9007
@jnothman Thanks for the quick response. Apologies if at any point I misunderstand your comments.

Yes indeed.

In the current implementation, I see that is how you would do it yes.

 my_cached_pipeline.steps.append(('empty', None))

I see how this addresses point (1 - pipeline of transformers) in the OP, but not point (2 - caching a predictor) and (3 - no hacks required to obtain the caching setu

[2017-06-06 14:05] lsorber commented on #9008
Couldn't this effect be obtained by wrapping the `FeatureUnion` transformers in cached `Pipeline`s? That is, assuming the full Pipeline would be cached as suggested in #9007.

[2017-06-06 14:09] dohmatob opened #9009 "REFACTOR: dict_learning and dict_learning_online should be merged into a single func"
#### Description
- There is code / logic duplication between [`decomposition.dict_learning.py.dict_learning` ](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/dict_learning.py#L387)and [`dict_learning_online`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/dict_learning.py#L561). Formally, the code should be equivalent except, that

[2017-06-06 14:19] agramfort commented on #8977
can you point me to it with a link so I can see what issue you're thinking about?

[2017-06-06 14:19] amueller commented on #7382
also see #8374

[2017-06-06 14:27] amueller commented on #8727
indeed fixed in master.

[2017-06-06 14:27] #8727 closed

[2017-06-06 14:30] vene commented on #8998
yeah, I'm on it. I'm also not sure yet why DummyClassifier needs predict_log_proba at all.

[2017-06-06 14:33] nelson-liu commented on #8977
This issue is that i think [this description](https://github.com/scikit-learn/scikit-learn/blob/3a9b3f5e6aa18a8ba35b4a53620803140d3c5992/sklearn/linear_model/coordinate_descent.py#L1736) seems wrong, as the lasso doesn't use L2? (also for [multitasklassocv here](https://github.com/scikit-learn/scikit-learn/blob/3a9b3f5e6aa18a8ba35b4a53620803140d3c5992/sklearn/linear_model/coordinate_descent.py#L20

[2017-06-06 14:34] nelson-liu commented on #8977
ah nevermind, this is specific to the multitask formulation. Sorry for the noise, closing.

[2017-06-06 14:34] #8977 closed

[2017-06-06 15:04] vene commented on #8998
This issue is much smaller than it seemed to me.

Firstly, for n_outputs greater than 2, the behavior is correct (a list is returned). The problem is only when y is a 2D column vector.

Secondly, the API contract dictated by `test_dummy.py` seems:

`for proba in clf.predict(_log)_proba(X): ...`

which is the same in this case, which is why no test is currently failing.

For reference, RandomForest

[2017-06-06 15:04] #8998 closed

[2017-06-06 16:06] #8705 closed

[2017-06-06 16:16] amueller commented on #8680
Maybe just one reference or something in the docstring? http://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_digits.html#sklearn.datasets.load_digits

[2017-06-06 16:23] GaelVaroquaux commented on #8995
+1 to deprecate!

If you have the energy it might be good to move them out to separate package, or even a gist, so that the code is not lost.

[2017-06-06 16:38] lesteve commented on #3990
Let's close this one then.

[2017-06-06 16:38] #3990 closed

[2017-06-06 18:11] agramfort commented on #8995
+1

green light !

[2017-06-06 18:21] jolespin opened #9021 "GaussianProcessClassifier | TypeError: get_params() missing 1 required positional argument: 'self'"
I'm getting a TypeError when trying to get the params for `GaussianProcessClassifier`

[code]
Error below:
[code]

[2017-06-06 18:22] GaelVaroquaux commented on #9021
I am guessing that your problem is that you should instantiate "RBF":
"kernel=RBF()"

[2017-06-06 18:25] jolespin commented on #9021
That was it.  Can't believe I missed that.

[2017-06-06 20:11] #9021 closed

[2017-06-06 20:27] wanglouis49 opened #9026 "TSNE Gradient Blows Up on Mac"
#### Description

The gradient of tsne blows up on Mac platform, whereas on Linux it  works fine.

#### Steps/Code to Reproduce
[code]

#### Expected Results
On Linux it's like:
[code]

#### Actual Results
However, on Mac it throws a NaN error:

[code]

#### Versions
Darwin-15.6.0-x86_64-i386-64bit
('Python', '2.7.12 |Anaconda custom (x86_64)| (default, Jul  2 2016, 17:43:17) \n[GCC 4.2.1 (Based o

[2017-06-06 20:37] agramfort commented on #9026
what linear algebra backend are you using on mac? conda + mkl or apple
accelerate framework?

[2017-06-06 20:56] superbobry commented on #9026
Cannot reproduce on Python3.6.1 with both accelerate and mkl.

[2017-06-06 21:46] jnothman commented on #9007
so again, clarify uses of caching the predictor and why that should be the
role of Pipeline

On 6 Jun 2017 11:58 pm, "Laurent Sorber" <notifications@github.com> wrote:

[2017-06-06 22:01] jnothman commented on #9008
A general memoization wrapper wigs solve all sorts of things in this space
(and I've written one that has not been accepted). we have instead chosen
to make this the responsibility of the container wherein some components
are liable to change while others change in a parameter search

On 7 Jun 2017 12:05 am, "Laurent Sorber" <notifications@github.com> wrote:

[2017-06-06 22:06] GaelVaroquaux commented on #9008
We could reopen this discussion.

[2017-06-06 22:09] GaelVaroquaux commented on #9008
Seems reasonnable indeed to me.

[2017-06-06 22:25] jnothman commented on #8998
I'm not convinced this should be closed, actually. I think they should
return the same structure

On 7 Jun 2017 1:05 am, "Vlad Niculae" <notifications@github.com> wrote:

[2017-06-06 22:58] Louis-Tian commented on #8987
@amueller

Yeah, I was unsure how I could do this without doing a full back prop by hand.

The good news is after dug a little deeper, I don't think gradient computation is wrong. Or I guess one could say there is no "bug" at all.

Because in the `._backprop` we are the back-propagating from `self.n_layers - 2` (which implies the second last item in the `deltas`) to 0, so the last element in `delt

[2017-06-07 00:17] jnothman commented on #8995
@kmike, here will be one to test out eli5's handling of deprecated and disappearing estimators...

[2017-06-07 00:20] #8641 closed

[2017-06-07 00:40] jnothman commented on #9026
Could you please give the "versions" listing for your linux install? Thanks.

On 7 June 2017 at 06:27, Luyu Wang <notifications@github.com> wrote:

[2017-06-07 03:12] #8426 closed

[2017-06-07 03:18] jnothman opened #9027 "Travis and AppVeyor tests need not run when doc/ and examples/ only are touched"
When `doc/` and `examples/` are the only things touched in a set of new commits, a pull request's Travis and AppVeyor builds need not run, except for the Travis flake8 job. Perhaps this kind of optimisation is worthwhile for sprints when there's a CI backlog, and for quickly reviewing changed documentation?

[2017-06-07 03:50] GKjohns commented on #6482
Hi clamus, I can add versions of this to the docstring and user guide if you're not working on it.

[2017-06-07 04:15] caioaao commented on #9008
can this be assigned to myself? I'm really interested in this as it should be very useful with cases described in #8960

[2017-06-07 04:43] jnothman commented on #9008
We can't use github assignment: it only allows assignment to team members. But as far as I'm concerned, you're welcome to contribute a patch.

[2017-06-07 05:31] #8899 closed

[2017-06-07 07:35] #8499 closed

[2017-06-07 08:18] arthurmensch commented on #8769
I will take care of introducing fused type in sag.pyx

On Wed, Jun 7, 2017, 10:01 AM Olivier Grisel <notifications@github.com>
wrote:

[2017-06-07 08:21] massich commented on #8769
Just to keep track of what we the effort:
- Linear  Models
  - [ ] Ridge
  - [ ] Lasso
  - [ ] Multi-task Lasso
  - [ ] Elastic Net
  - [ ] Multi-task Elastic Net
  - [ ] Least Angle Regression
  - [ ] LARS Lasso
  - [ ] Orthogonal Matching Pursuit (OMP)
  - [ ] Bayesian Regression
       - [ ] Bayesian Ridge Regression
  - [ ] Automatic Relevance Determination - ARD
  - [ ] Logistic regression

[2017-06-07 08:22] #8424 closed

[2017-06-07 08:24] bthirion commented on #8856
Agree that `PLSRegression.predict()` should behave like `LinearRegression.predict()`.

[2017-06-07 08:24] massich commented on #8769
@arthurmensch if you take care of fuse type in sag.pyx (see PR #9020) make sure to talk to @henley13

[2017-06-07 09:12] GaelVaroquaux commented on #8885
I fixed this. Closing.

[2017-06-07 09:12] #8885 closed

[2017-06-07 09:21] bellet commented on #8360
I am working on this (adding a warning in enet_path, fixing the class docs and adding a test).

[2017-06-07 09:25] vene commented on #9007
I agree, I can't see why one would want to cache a predictor.

[2017-06-07 09:34] vene commented on #8994
This would be nice; my only concern is that it requires some new-ish API that I don't think we aren't using elsewhere, but this kind of API is really very convenient.

For reference, SAGA in lightning takes a similar API to what you suggest, taking a function handle for the proximal operator which could be user-defined. In lightning there is also a `projection` module that implements a bunch of su

[2017-06-07 09:54] #8991 closed

[2017-06-07 10:07] ogrisel commented on #8769
saga and sag should indeed be addressed in the same PR.

[2017-06-07 11:31] dohmatob commented on #8994
@vene: Thanks for the comments.

- Your understanding of the problem and the proposed solution is exact.

- About the projection, I indeed mean a **single** function :).

- About API, we could do something like:

[code]

[2017-06-07 11:43] vene commented on #8994
Yep. It would be even better if *projection* just takes a vector and returns a vector.

Any kind of arguments to the projection (e.g. the norm of the ball) can be encapsulated *inside* the projection function using partial application. e.g.

For instance:

[code]
...
[code]

1. is there some other use case which is possible with locals() but not with partial?
2. is there anywhere else in scikit-le

[2017-06-07 11:47] ehuijzer opened #9037 "StratifiedShuffleSplit generates overlapping train and test indices for multilabel data"
#### Description
StratifiedShuffleSplit generates train and test indices which overlap when based on multilabel data.

#### Steps/Code to Reproduce
[code]

#### Expected Results
StratifiedShuffleSplit should either handle multilabel data correctly resulting in non-onverlapping train and test indices or present an error message indicating that multilabel is not supported.

#### Actual Results
In ca

[2017-06-07 11:55] bthirion commented on #8392
Apparently, it's just a matter of removing the if condition and always apply the standard y_rotations_ estimate. And of course, add a test for that.
Can you open a PR ?

[2017-06-07 11:55] dohmatob commented on #8994
`locals()` is indeed "nasty" but provides more extensibility (for a proximal-type update, you'll need `code[k, k]` too, but that's another story...). BTW, there are already a couple of calls to `locals()` in the `dict_learning.py` module (e.g in the callbacks), so we can just use it as well.

[2017-06-07 12:05] vene commented on #8994
I guess it's the question of projecting on the ball vs the sphere :P but good point indeed.

[2017-06-07 12:10] dohmatob commented on #8994
For the record, projection onto sphere (surface of ball) is ill-defined (due to lack of convexity). E.g the origin's projection (i.e closest point) is the entire sphere ;)

[2017-06-07 12:16] vene commented on #9037
Looks like a bug. For reference, the returned split here is `train_idx=[3, 1]; test_idx=[3, 2]`.

Supporting multi-label sounds tricky to me: what would your desired behaviour be other than simply non-overlapping? Strive for a similar ratio of all unique label sets?

Unless there is some established approach that I'm not familiar with, I would support raising a ValueError here.

[2017-06-07 12:35] dohmatob commented on #8994
@vene: If you have time, I'd like to know what you think of PR #9036 too. Thx.

[2017-06-07 12:40] #7179 closed

[2017-06-07 13:05] jnothman commented on #8370
In discussion earlier, @GaelVaroquaux and I came to some agreement that a simple design goes as follows (more or less what I said in February):
* user may set `estimator.frozen = True` (or `estimator.trainable = False` as per Keras) at any point after fitting
* supporting meta-estimators will check for the attribute and avoid running `fit{,_transform,_predict}` where appropriate.

I would further

[2017-06-07 13:40] ehuijzer commented on #9037
Multi-label sampling can indeed be tricky.
I did find some paper on the subject which contained two different approaches:
1. Sample on all different combinations of labels
2. Iterative Stratification, changing the distribution of the labels one at a time
_(Sechidis, K., Tsoumakas, G., & Vlahavas, I. (2011). On the stratification of multi-label data. Machine Learning and Knowledge Discovery in Data

[2017-06-07 14:32] lesteve commented on #9026
Duplicate of  https://github.com/scikit-learn/scikit-learn/issues/6665? I am going to close this one, shout if you strongly disagree.

Long story short: you are mixing a numpy from pip and conda, don't do this.

[2017-06-07 14:32] #9026 closed

[2017-06-07 16:06] wanglouis49 commented on #9026
Confirmed it is a duplicate of #6665. Thanks!

[2017-06-07 16:51] vene commented on #9037
This is broken even in the simple multi-class case if Y is given as an indicator matrix, e.g. `y = np.array([[0, 1], [1, 0], [1, 0], [0, 1]])`

[2017-06-07 17:44] clamus commented on #6482
I had forgotten about this :)

Yes, please. Add the explanation where necessary.

Cheers!
--
Camilo

[2017-06-07 18:24] ndingwall commented on #4223
@amueller I just saw this thread. Yes, this will be fixed in https://github.com/scikit-learn/scikit-learn/pull/7356 since the last (left-most) precision value isn't used: the first term in the sum is the $p_1 (r_1 - r_0)$ where $r_0 = 0$ and I'm indexing from the smallest recall values.

[2017-06-07 18:33] GaelVaroquaux commented on #4223
Confirmed. Though the PR to look at is now: #9017

[2017-06-07 21:46] jnothman commented on #9037
See also #8670, #8913.

It would be great if we prioritised fixing this

On 8 Jun 2017 2:51 am, "Vlad Niculae" <notifications@github.com> wrote:

This is broken even in the simple multi-class case if Y is given as an
indicator matrix, e.g. y = np.array([[0, 1], [1, 0], [1, 0], [0, 1]])

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on Git

[2017-06-07 22:44] Sentient07 commented on #8992
I am not sure what the "blocker" tag is, but can i work on this ? If so, could someone please provide me an idea of where to start looking from?

[2017-06-07 22:47] Sentient07 commented on #8971
Can I go ahead with this?

[2017-06-07 23:24] jnothman commented on #8992
blocker means we can't release a version without fixing this. I think
that's an exaggeration for this issue, but it's something that really needs
attention (in part because we don't understand its cause).

Debugging this may be hard, but you've got at least two good clues:
* It only stopped working recently so you may be able to find the commit
that broke it.
* It breaks as a function of perplexit

[2017-06-07 23:24] jnothman commented on #8971
sure.

On 8 Jun 2017 8:47 am, "Ramana Subramanyam" <notifications@github.com>
wrote:

[2017-06-08 03:49] jnothman commented on #8370
Although #8374 may remain conceptually simpler for users, but a little more magical. It overwrites the fit method in frozen estimators with a special implementation.

[2017-06-08 05:06] #8384 closed

[2017-06-08 05:13] jnothman opened #9047 "Make error messages in check_array and similar not mention variable name"
Error messages in validation functions sometimes mention `X` or `y`, while this may not be an appropriate name from the user's end. Better not to mention the variable name, even if this means the user needs to follow the traceback. See the messages @dalmia proposed in https://github.com/scikit-learn/scikit-learn/pull/8178#issuecomment-271637522. (#8178 instead takes the approach of having the vari

[2017-06-08 06:11] vene commented on #8978
This is quite useful for a bunch of problems, it's common to concatenate hand-crafted features with average word embeddings or something like this. I haven't seen the weighted average approach yet, could you describe it more? Do you really need general frequencies or can you use estimated frequencies from the data?

[2017-06-08 06:50] jnothman commented on #8978
What's different between getting an average embedding and multiplying the
vectorized matrix (perhaps reweighted) by the embeddings matrix with rows
corresponding to the vectorizer vocabulary? Or is that basically what you
do?

On 8 June 2017 at 16:11, Vlad Niculae <notifications@github.com> wrote:

[2017-06-08 06:57] vene commented on #8978
That's how I usually implement this kind of vectorizer indeed :) So I guess this can also be achieved by chaining a FuncTransformer that multiplies by the embedding matrix.

With a custom estimator, we could automatically prune the embedding matrix to only words that are present.

[2017-06-08 07:09] jnothman commented on #8978
I agree that making this easier to do, in terms of matching vocabularies,
would be worthwhile addition to scikit-learn.

On 8 June 2017 at 16:58, Vlad Niculae <notifications@github.com> wrote:

[2017-06-08 08:08] #8360 closed

[2017-06-08 08:29] #5803 closed

[2017-06-08 08:34] jnothman commented on #5803
i think we're still missing a changelog entry

On 8 Jun 2017 6:29 pm, "Alexandre Gramfort" <notifications@github.com>
wrote:

[2017-06-08 08:51] #8249 closed

[2017-06-08 09:35] #8933 closed

[2017-06-08 09:36] glemaitre commented on #5803
Actually, now that I am checking the [merged code](https://github.com/scikit-learn/scikit-learn/pull/5802/files) and I have difficulty to see what it is solving.

`VotingClassifier` uses a label encoder before calling `fit`/`predict`/`predict_proba` using the estimators.
The only way that we run into the `int` casting will be if one of the estimator, for some reasons, returned a non-integer. There

[2017-06-08 09:48] plagree commented on #8979
I found around 250 matches to this pattern. By what do you want me to replace this?

[2017-06-08 09:51] #3367 closed

[2017-06-08 10:53] amueller opened #9050 "Ensure estimators pass check_estimator with default parameters?"
Apart from the hard-coded estimators in the common tests, we also set some parameters, ostensibly for faster tests.
But some estimators don't pass the tests with default parameters. I just ran into BaggingClassifier that has inconsistent ``predict_log_proba`` (which is mostly inf).
We should either make the tests more robust or the estimators.

[2017-06-08 11:15] amueller commented on #9050
on the other hand, not all tests pass when ``set_checking_parameters`` (or set_testing_parameters or whatever it is called now) is run... not sure I understand how currently the tests pass

[2017-06-08 11:31] vene commented on #8913
Another complication is that, wherever possible, we should **not** change the splits returned by StratifiedShuffleSplit, unless when clearly broken (e.g. overlapping, like in the 2d y case). There is a lot of code out there that relies on the indices of StratifiedShuffleSplit with fixed `random_state`.

However: I'm not sure I understand what you expected here.

With the given `test_size=0.2` the

[2017-06-08 11:35] #2665 closed

[2017-06-08 11:35] #3637 closed

[2017-06-08 11:35] #7513 closed

[2017-06-08 11:37] jnothman commented on #8913
Step one is make the tests more rigorous, @vene.

On 8 June 2017 at 21:31, Vlad Niculae <notifications@github.com> wrote:

[2017-06-08 11:42] #1363 closed

[2017-06-08 11:42] glemaitre commented on #8979
On complicated thing is that there is some example in this 250 which need to use this style since they are using the notebook style from sphinx-gallery. For the case that we want to remove the separator, I would replace by a single `#`.

@lesteve do you think that this is a good proposal or you would have in mind something that can also easily split a script file?

[2017-06-08 11:46] lesteve commented on #7653
Closing this since this was fixed according to https://github.com/scikit-learn/scikit-learn/pull/7728#issuecomment-260149303.

Let's reopen this when/if someone bumped into this problem again.

[2017-06-08 11:46] #7653 closed

[2017-06-08 11:49] agramfort commented on #5803
as discussed IRL I agree.

+1 for checking that dtypes match between all classifiers and otherwise
raise an error.

[2017-06-08 11:51] #8690 closed

[2017-06-08 11:53] jnothman commented on #5803
Thus my hesitance at
https://github.com/scikit-learn/scikit-learn/pull/8112#issuecomment-272074687
and following. Maybe it doesn't deserve a changelog entry? Maybe we should
be raising errors for misbehaved classifiers; but I suspect not validating
is okay most of the time.

On 8 June 2017 at 21:49, Alexandre Gramfort <notifications@github.com>
wrote:

[2017-06-08 12:05] #6126 closed

[2017-06-08 12:12] #8159 closed

[2017-06-08 12:14] lesteve commented on #8979
I think it's hard to tackle this one from a quick and easy search and replace. What I would advise:

* find a few (maybe 3-4) examples that looks obviously bad
* open a PR fixing this with the links to the CircleCI documentation so we can have a quick look at the visual changes
* get feedback to what we think is the best way on those examples.
* Tackle more examples once it is clearer how we want

[2017-06-08 12:20] lesteve commented on #6601
@agramfort @vene should we close this issue as well, given the feedback in #8556.

[2017-06-08 12:22] plagree commented on #8979
Didn't find better than using `pcregrep`:

    `pcregrep -rnM --include=.*\.py "###*\s#" .`

[2017-06-08 12:28] vene commented on #6601
I would be in favor of closing, for the same arguments. Not all our users are familiar with latex.

[2017-06-08 12:29] GaelVaroquaux commented on #6601
+1

[2017-06-08 12:33] lesteve commented on #8979
Did not know about `pcregrep` here is the `ag` equivalent FWIW.
[code]

I find 61 examples matching this regex. As I said pick 3 or 4 that look obviously bad and get the ball rolling.

[2017-06-08 12:37] glemaitre commented on #5803
I'll make a PR

[2017-06-08 12:38] plagree commented on #8979
OK, I'll do that

[2017-06-08 12:41] lesteve commented on #6601
OK let's close this one then.

[2017-06-08 12:41] #6601 closed

[2017-06-08 12:42] lesteve commented on #8979
To be honest thinking about it, using a single `#` as proposed by @glemaitre is the simplest thing to do.

[2017-06-08 12:50] plagree commented on #8979
Yes, looking at it more in details, I see that in most cases, it should just be fine. Two big pieces of code before and after just a small comment that wouldn't make much sense with rst headers.

I'll look a bit further to see if I change everything by a single `#` or if it can be worth trying to add rst structures, which would involve much more investment.

[2017-06-08 14:26] AlexandreAbraham commented on #6261
I can give a try to a matplotlib version.

[2017-06-08 14:47] raghavrv commented on #8976
For tree based regressors the `X` and `y` dtypes are independent. So we should consider it on a case-by-case basis I think.

[2017-06-08 15:03] mrbeann commented on #8680
Is this what you mean? @amueller

[2017-06-08 15:17] rdolen commented on #6614
Any updates here? Still getting the same error.

[2017-06-08 16:07] albertcthomas commented on #7713
we can close this issue @amueller

[2017-06-08 16:08] #7713 closed

[2017-06-08 16:08] albertcthomas commented on #7861
@agramfort can you close this issue?

[2017-06-08 18:09] rth commented on #9050
Linking other  related issues: https://github.com/scikit-learn/scikit-learn/issues/8683 , https://github.com/scikit-learn/scikit-learn/issues/6981 , https://github.com/scikit-learn/scikit-learn/issues/6715 ..

[2017-06-08 23:52] lesteve commented on #6614
No updates I am afraid. You are more welcome to submit a PR for this issue or use the work-around suggested in https://github.com/scikit-learn/scikit-learn/issues/6614#issuecomment-209922294.

[2017-06-09 00:01] themrmax commented on #6261
@lutz-hamel actually looks like there is now a python package for graphviz which seems to be a better way to achive this: https://github.com/scikit-learn/scikit-learn/pull/9071

[2017-06-09 01:42] naught101 opened #9073 "Horrible regression coefficients in LinearRegression with collinearity"
Example:

[code]

These last two regression coefficients are technically correct, because the problem is undetermined, but they are useless for prediction. It would be much nicer if they were set to something a bit more sane, and the intercept adjusted accordingly.

Perhaps it would make sense to check for perfect collinearity when the intercept is above some threshold, and warn about it.

Then pe

[2017-06-09 03:19] jnothman commented on #8978
Inheritance as in your implementation is an okay solution, but it makes it
harder to apply different weighting strategies. If this were a transformer
on a previous weighted bag of words vector, it would be more flexible. But
the only straightforward way to implement that in the current design is
either to pass a full (wrt glove) vocabulary-to-index mapping to the
CountVectorizer, or to make the Co

[2017-06-09 07:05] ncordier commented on #9073
I believe it should be up to the user to diagnose and adopt a strategy to deal with multicolinearity. It would be counter-intuitive to drop a variable without the user specifically asking for a method to do so.

I have found these two reads online, maybe it could be useful for the discussion:

- [The assertion that "if two predictors are correlated and both are included in a model, one will be ins

[2017-06-09 07:07] agramfort commented on #9073
this is not a bug. You should inspect your data and if you cross-validate you will end up using Ridge to avoid this issue.

closing

[2017-06-09 07:07] #9073 closed

[2017-06-09 07:59] GaelVaroquaux commented on #8971
@Sentient07 : are you on this? We have another volunteer

[2017-06-09 08:03] GaelVaroquaux commented on #8849
Shouldn't this be closed?

[2017-06-09 08:05] GaelVaroquaux commented on #8810
Closing this

[2017-06-09 08:05] #8810 closed

[2017-06-09 08:05] vene commented on #8976
still, for trees, every node stores a comparison with the dtype of X, but just the leaves store outputs, right?

I don't think there can be any problems with using X.dtype consistently.

[2017-06-09 08:06] GaelVaroquaux commented on #8822
Closing this: this is not a bug in scikit-learn.

[2017-06-09 08:06] #8822 closed

[2017-06-09 08:14] ogrisel commented on #8996
Note that we currently we can implement ANN with other scikit-learn components:

[code]

or even:

[code]

But I have not tested any of those. BTW @lesteve it would be great to try to benchmark those against annoy and HNSW.

[2017-06-09 08:20] rth commented on #8996
Unfortunately that approach wouldn't work that well for data on which PCA was already applied with 100-200 components, in which case BallTree is unlikely to outperform brute force...

[2017-06-09 08:24] ogrisel commented on #8996
By reducing with `PCA(n_components=30)`  I think you can get a good speed up. I would not bet too high on the speed / accuracy tradeoffs of my pipelines other wise this kind of strategies would probably be well known but it worth checking on standard benchmark datasets (word2vec or glove word embeddings and SIFT images embeddings).

[2017-06-09 08:31] glemaitre opened #9076 "Add fetcher for Adult Census dataset"
A fetcher for the Adult Census dataset could be added to the `sklearn.datasets` module.
The information related to the dataset can be found [there](https://archive.ics.uci.edu/ml/datasets/Adult)

[2017-06-09 09:10] rth commented on #8996
Well for word2vec and GloVe the accuracy seems to drop pretty fast below 100 dimensions,

From word2vec paper,
![word2vec_accuracy](https://user-images.githubusercontent.com/630936/26968079-01430ab6-4d01-11e7-8513-82191598256a.png)

and GloVe paper,
![glove_accuracy_dim](https://user-images.githubusercontent.com/630936/26968097-0d2c0bca-4d01-11e7-88fd-f625d0a3a5cf.png)

Applying PCA with 30 dimens

[2017-06-09 09:12] Sentient07 commented on #8971
@GaelVaroquaux sorry about the delay, i'll send a PR in ~2hrs.

[2017-06-09 09:13] lesteve commented on #8849
There are still more examples we can run:
* wikipedia_principal_eigenvector.py and grid_search_text_feature_extraction.py as mentioned in https://github.com/scikit-learn/scikit-learn/issues/8849#issue-227376830
* examples using sys.argv. There is a bug in sphinx-gallery where the sys.argv are the ones from the sphinx-build command resulting in errors. I need to report that to sphinx-gallery and I

[2017-06-09 10:05] ogrisel commented on #8996
@rth you are probably right :)

[2017-06-09 10:09] herilalaina commented on #9076
Hi, I will work on this issue

[2017-06-09 10:09] massich commented on #8769
@TomDLT suggested to add type32 type 64 support for `_preprocess_data` [here](https://github.com/scikit-learn/scikit-learn/pull/9033#pullrequestreview-43105777)

[2017-06-09 10:16] glemaitre commented on #9076
Thanks, go ahead

[2017-06-09 10:53] amueller opened #9079 "check_class_weight_balanced_classifiers is never run?!"
sklearn/utils/estimator_checks.py:def check_class_weight_balanced_classifiers(name, Classifier, X_train, y_train,

Same for ``check_class_weight_balanced_linear_classifier``

[2017-06-09 11:02] GaelVaroquaux commented on #8849
I think that we should give up on running the examples with sys.argv. But the wikipedia one might be nice.

[2017-06-09 11:18] #8680 closed

[2017-06-09 11:46] lesteve commented on #2821
This has been fixed by https://github.com/scikit-learn/scikit-learn/pull/7819.

Snippet for clarity (with the missing imports):
[code]

Output:
[code]

[2017-06-09 11:47] #2821 closed

[2017-06-09 12:15] Sentient07 commented on #8971
Just to make sure I am going in the right way, I have made the `BaseCrossValidator` class's split method take the training data and the target compulsorily and added a test for that. Is that the desired fix ?

[2017-06-09 12:22] zhedongzheng opened #9080 "TfidfTransformer Document Clarification"
Hello,

I am doing a nlp project and reading the documentation of [TfidfTransformer](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfTransformer.html#sklearn.feature_extraction.text.TfidfTransformer.fit).
However, it is a bit unclear for me that does the TfidfTransformer accept a Term-Document matrix, or a Document-Term matrix? In other words, does the n_sampl

[2017-06-09 12:24] lesteve commented on #6002
@Gscorreia89 can I have your insights on this one. I am wondering whether merging #7819 fix this issue. So I reran the snippet in the top post:

[code]

And here is the output I get:
[code]

![figure](https://user-images.githubusercontent.com/1680079/26974583-4999e8c8-4d1c-11e7-9615-c988b79f675b.png)

So all the predictions seems roughly on the same scale but they are still a bit far from each oth

[2017-06-09 12:45] dohmatob opened #9081 "It seams "dict_learning" doesn't use the "code_init" param at all"
#### Description
In its current version (master), the [ `dict_learning`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/dict_learning.py#L387) function doesn't use the input param `code_init` at all.

#### Reproduce
[code]

### Fix
- if code_init is provided, then do a dict update before entering main loop

Amongst other things, this issue will be addressed in PR #9

[2017-06-09 13:09] Gscorreia89 commented on #6002
Quick answer: The point 2 from #6077 about predict still needs to be patched. Let's see if if fixes this.
What I mention about the y scaling can be added to test here as well.

I work and I am used to git, just need to read some documentations on how are the PR requests being handled in sklearn @lesteve is there a documentation page about this I should start with?

[2017-06-09 13:22] lesteve commented on #6002
That would be great if you could open a PR indeed !

You can have a look at our [contribution guidelines](https://github.com/scikit-learn/scikit-learn/blob/master/CONTRIBUTING.md).

A github tutorial may be useful too: https://help.github.com/articles/fork-a-repo/

[2017-06-09 14:30] amueller opened #9085 "deprecate iid parameter in GridSearchCV"

[2017-06-09 14:50] amueller opened #9088 "deprecate using fit without y in GridSearchCV"
Currently y is only passed to fit if it is not None, I think we should always pass it, as that's the standard API.
I'm not sure if that could break user code, though. Not if they use ``check_estimator``... hm..

[2017-06-09 15:03] rth commented on #9080
`n_samples` is the number of documents, feels free to submit a pull request to improve the documentation..

[2017-06-09 15:11] #8940 closed

[2017-06-09 15:16] zhedongzheng commented on #9080
Thanks for clarifying

[2017-06-09 15:16] #9080 closed

[2017-06-09 15:38] ldirer commented on #7255
Just because I ran into some confusing issues with `ignore_warnings`:

* As @tguillemot mentioned, `ignore_warnings` has **side effects** as it removes existing warning filters.
* I think safe usage would be to use EITHER decorator OR inline calls.
Otherwise the inline calls may clear the warning filters, and a later line emit a warning that wont be caught anymore, which is super confusing when th

[2017-06-09 18:15] jakirkham opened #9094 "Test failures with NumPy 1.13"
Ran into some test failures when building on CentOS 6 with Python 2.7 and NumPy 1.13. Presumably will see the same issues with other Python versions and maybe OSes as well. Though will follow-up on that. In the detail below are the test failures and a link to the build log. This was part of the conda-forge build in PR ( https://github.com/conda-forge/scikit-learn-feedstock/pull/47 ).

<details>

[

[2017-06-09 22:57] GaelVaroquaux commented on #4577
Fixed by #9017

[2017-06-09 22:58] GaelVaroquaux commented on #6377
Fixed by #9017

[2017-06-09 22:58] #6377 closed

[2017-06-10 00:36] jakirkham commented on #9094
Same issues on Mac. Using macOS 10.10 to build for 10.9.

ref: https://travis-ci.org/conda-forge/scikit-learn-feedstock/builds/241231929

[2017-06-10 08:16] amueller commented on #9076
I'm slightly worried about adding more and more parsers and downloaders. Really ideally I'd like openml to have a simple interface we can use... I'm not sure what the state of that is, though.

[2017-06-10 09:38] amueller commented on #9094
Thanks for the report. We haven't updated our continuous integration, and our dev wheel builds are disabled this week. Hm this is weird... Upgrading our travis now.

[2017-06-10 09:47] amueller commented on #9094
see #9096

[2017-06-10 09:50] amueller commented on #9094
Oh wait, this is 0.18.1 failing, not master failing...

[2017-06-10 09:54] amueller commented on #9094
I'm investigating it, the first is probably not critical, the second I'm looking into. We need to decide whether it's worth doing 0.18.2 for this given that we're very close to 0.19

[2017-06-10 10:10] lesteve commented on #9094
sklearn.gaussian_process.tests.test_kernels.test_kernel_diag failure was fixed by
https://github.com/scikit-learn/scikit-learn/pull/8355.

[2017-06-10 10:12] lesteve commented on #9094
and `sklearn.model_selection.tests.test_split:test_cv_iterable_wrapper` was fixed by
https://github.com/scikit-learn/scikit-learn/pull/7946.

[2017-06-10 10:15] lesteve commented on #9094
Probably the simplest is just to backport these two PRs into the 0.18.X branch.

[2017-06-10 10:19] amueller commented on #9094
And then do a 0.18.2 with just these two?
I'm a bit worried about conda-forge not mirroring conda and pypi

[2017-06-10 10:26] amueller commented on #9094
I also get a doctest failure:
[code]

[2017-06-10 10:27] amueller commented on #9094
That's #8123

[2017-06-10 10:31] amueller commented on #9094
Ok #8123 and #7946 are changes in the tests only, #8355 doesn't seem critical. So maybe no 0.18.2, I think?

[2017-06-10 10:38] amueller commented on #9094
@jakirkham how do you feel about that? Do you want to cherry pick the PRs for conda-forge? Since these are just test changes, I wouldn't mind so much.

[2017-06-10 10:47] amueller commented on #4577
@GaelVaroquaux I don't think this was fixed by your PR, as it neither implemented the "interpolated" nor the "11 point interpolated" version.

[2017-06-10 10:52] amueller commented on #4577
On the off-chance that @karpathy is reading this: the IR book doesn't use interpolation from what I understand. vl_feat uses non-interpolated average precision by the [default form the code you linked to](https://github.com/vlfeat/vlfeat/blob/edc378a722ea0d79e29f4648a54bb62f32b22568/toolbox/plotop/vl_pr.m#L134).
The Pascal VOC code uses "interpolated" AP, while their paper said they use 11 point.

[2017-06-10 10:56] GaelVaroquaux commented on #4577
I would argue that this paper doesn't make it point, as it seem to
believe that F_1 or F_beta are useful metric, wereas in my experience
they are not.

[2017-06-10 11:09] jnothman commented on #8996
we would also need to add neighbour query methods to Pipeline

On 9 Jun 2017 8:05 pm, "Olivier Grisel" <notifications@github.com> wrote:

[2017-06-10 11:15] jnothman commented on #8971
that would check things for now, but would also break existing user code,
which we could not allow. I'm not certain it's the right long term API
either, but perhaps it is...

On 9 Jun 2017 10:15 pm, "Ramana Subramanyam" <notifications@github.com>
wrote:

[2017-06-10 11:40] amueller opened #9098 "GradientBoosting casts y to float64 in each tree"
I think currently GradientBoosting is casting y to float32 in fit in ``check_X_y``, and then, if I understand correctly, each tree will cast y to float64.
That seems like a bunch of extra copies.
Maybe @raghavrv @jmschrei @glouppe can confirm or deny?

[2017-06-10 11:47] massich commented on #8976
we could add `check_consistacy_type(X,y)` in `utils/validation` and @GaelVaroquaux suggested to call it insde `check_X_y(consistent_type=True, ...)`

[2017-06-10 14:27] ldirer commented on #9085
I'll take this one.

[2017-06-10 14:29] #8996 closed

[2017-06-10 14:51] #8475 closed

[2017-06-10 16:08] vene commented on #9081
@dohmatob thanks for catching all these!

[2017-06-10 16:16] amueller commented on #6079
Fixed in #9019 which allows passing instances. #8022 will even improve the situation, but I think your problem should be solved. Feel free to reopen if not. Any feedback very welcome!

[2017-06-10 16:16] #6079 closed

[2017-06-10 16:25] jakirkham commented on #9094
Sure I'm ok adding patches for the test changes. Also would be ok adding patches to skip the tests if desired. Would also be comfortable waiting for 0.18.2. Really any of these seem fine to me.

[2017-06-10 16:31] amueller opened #9104 "base_estimator vs estimator for meta-estimators"
The base estimator parameter for most meta-estimators is called ``estimator``, but called ``base_estimator`` in ``CalibratedClassifierCV``, ``RANSACRegressor`` and bagging.
Should we rename them for consistency?

[2017-06-10 16:33] GaelVaroquaux commented on #9104
I do prefer "estimator". Not only is it shorter, but also the notion of
"base" is unclear for non coders.

Is it worth the deprecation cycle, that's a question.

[2017-06-10 16:36] MartinHjelm commented on #7707
Correct me if I am wrong but seems counterintuitive to create a list of PCA objects for every dimension parameter I am trying out just to be able to have the option of disabling it.

     from sklearn.linear_model import LogisticRegression
    params = dict(reduce_dim=[None, PCA(5), PCA(10),PCA(15),..,...,],
    ...               clf=[SVC(), LogisticRegression()],
    ...               clf__C=[0.1

[2017-06-11 06:57] vene commented on #8769
can we add isotonic regression to that list? I'll be happy to take it

[2017-06-11 09:50] jnothman commented on #9104
I agree on preference. I think the usage patterns of calibration (perhaps
less likely to have parameter searches involving the name base_estimator)
and its recency might mean deprecation is relatively safe. The others,
perhaps not.

On 11 Jun 2017 2:33 am, "Gael Varoquaux" <notifications@github.com> wrote:

estimator, but

bagging.

I do prefer "estimator". Not only is it shorter, but also the not

[2017-06-11 09:55] jnothman commented on #7707
I don't think I understand what you're looking for. could please you be
clear about what behaviour you wish for from this snippet or how you might
express it currently?

On 11 Jun 2017 2:36 am, "Martin" <notifications@github.com> wrote:

[2017-06-11 10:03] Cdk29 opened #9107 "LinearDiscriminantAnalysis, explained variance ratio superior to one"
Hi !

I am performing PCA and LDA on several micro-array data, with a y label vector for various mutant and an X matrix for the genes expression (see below), with a code similar to the example provide on
http://scikit-learn.org/stable/auto_examples/decomposition/plot_pca_vs_lda.html#sphx-glr-auto-examples-decomposition-plot-pca-vs-lda-py

All the PCA works well, but few LDA output an Explained var

[2017-06-11 10:14] amueller commented on #6594
fixed in #9019

[2017-06-11 10:14] #6594 closed

[2017-06-11 10:19] amueller commented on #7289
Is this closed by #9019? We can now pass instances with any parameter settings that we want. The common tests warn us that these could not be instantiated with default parameters. #8022 will allow listing required parameters, that will allow instantiation (but probably not running because it doesn't provide a way to get useful parameters)

[2017-06-11 11:28] raghavrv commented on #7435
Ah this can't be done unless we want to force the keys to be valid identifiers (without space or hyphen).

cc: @GaelVaroquaux @amueller @jnothman

[2017-06-11 11:28] raghavrv commented on #7435
So the new `cross_validate` will have to return `dict` for now.

[2017-06-11 11:31] GaelVaroquaux commented on #7435
OK

[2017-06-11 12:41] massich commented on #8769
Sure :)

On Sun, Jun 11, 2017, 08:57 Vlad Niculae <notifications@github.com> wrote:

[2017-06-11 16:54] jakirkham commented on #9094
@lesteve, are you ok with @amueller's proposed solution of simply patching the tests in the conda-forge release?

[2017-06-11 20:18] wallygauze commented on #8544
Ok, I see it has been taken (#9108).

@jnothman, you had mentioned a regression test in the ideal case.

With the current bug, calling the get_precision() method for solvers ‘arpack’ and ‘randomized’ should fail for most cases. It isn’t picked by the general tests on PCA that only use the iris dataset, but most datasets should cause the test to fail.

[2017-06-11 20:28] MartinHjelm commented on #7707
Ok. Sorry. So lets say I want to evaluate what happens if I apply PCA and not apply PCA in the preprocessing step. Now I want to apply PCA using different subdims. In order to do that it seems I need to write

    params = dict(reduce_dim=[None, PCA(5), PCA(10),PCA(15)....

which seems like I am passing a PCA object for each dimension as opposed when I am not bypassing PCA then I just write

    p

[2017-06-11 22:22] jnothman commented on #7707
Well, it's not as convenient as we might like but you can use
param_dict=[{'reduce_dim': None}, {'reduce_dim__n_components': [1,2,3,4,...]}].
That is, param_dict can be a list of dicts to search over.

On 12 June 2017 at 06:28, Martin <notifications@github.com> wrote:

[2017-06-12 01:24] alialani12 opened #9109 "How to feed the RBM algorithm output to the CNN algorithm"
Hi guys

I have an idea to use the RBM as the first step to reconstruct the input and features extraction then feed it's output to the CNN algorithm the datasets I plan to use are MNIST and CIFAR-10. the problem I face is how I can feed the RBM output to the CNN as input. the code I am playing with is as follow.

Please any suggestion or idea in this matter will be high appreciated

# import the n

[2017-06-12 05:01] jnothman commented on #9109
This is not an issue with scikit-learn. Perhaps you should find a mailing list for keras users, or try stack overflow

[2017-06-12 06:35] lsorber commented on #9007
Let's say you have a predictor that takes a long time to fit, you close your session and you later want to resume working with your model without having to wait the time it takes to fit. A more specific example: someone prepares a tutorial notebook and wants to run through it interactively with his students. Perhaps the instructor would like to vary a few hyperparameters and refit to model to show

[2017-06-12 06:38] wxchan commented on #8984
I mean current error message is suggesting ''param1 is not None and param2 is None" because if param2 is not set, it will be set by default to None [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/base.py#L235). The error message can be:
[code]
It's a trivial issue, closing it.

[2017-06-12 06:38] #8984 closed

[2017-06-12 06:40] vene commented on #9007
in that case wouldn't you just pickle the trained pipeline as a whole? Maybe I'm missing something but I'm not convinced we should make it "magic".

[2017-06-12 07:27] lsorber commented on #9007
In the example, the point is that the instructor would want to try out various hyperparameter combinations without having to manually serialize and deserialize every case. Ultimately it is the same reason you want transformers to be cached, namely so you can try out different situations with little friction.

The underlying rule ("all steps are cached") is sufficiently simple to understand that I

[2017-06-12 07:38] lesteve commented on #9094
Patching the test files sounds good. I guess we want to skip the failing test related to #8355.

[2017-06-12 07:40] lesteve commented on #9094
which is sklearn.gaussian_process.tests.test_kernels.test_kernel_diag

[2017-06-12 08:41] herilalaina commented on #9076
Should I stop working on this issue then? I can find a way to implement generic downloader for openml

[2017-06-12 11:11] tobiasbj opened #9110 "Retrieve feature importances for any model or any that SelectFromModel supports"
I would like to be able to retireve the feature importances that the SlectFromModel (sklearn.feature_selection.SelectFromModel) works on, but I have been unable to find a general approach for this. I see that the SelectFromModel class works on the (sklearn.linear_model.SGDClassifier), but it does not contain the feature_importances_ member. Where does the SelectFromModel find the features importan

[2017-06-12 12:19] jnothman commented on #9110
It uses `coef_`. This will somewhat more apparent in the next release where the norm across classes is configurable: http://scikit-learn.org/dev/modules/generated/sklearn.feature_selection.SelectFromModel.html#sklearn.feature_selection.SelectFromModel. Otherwise, a pull request to make this clearer in the documentation is welcome.

[2017-06-12 13:42] jnothman opened #9111 "AppVeyor failures in common tests"
There appear to be some AppVeyor failures at https://github.com/scikit-learn/scikit-learn/pull/8960#issuecomment-307781322 unrelated to the changes there:

[code]

[2017-06-12 14:04] lesteve commented on #9111
Yeah I saw that. I am guessing this is because we merged things without waiting for AppVeyor to complete during the sprint.

[2017-06-12 14:09] lesteve commented on #9111
Here is a summary:

Python 2 only can reproduce on Windows VM
[code]

32 bit Python 3 only:
[code]

32 bit only:
[code]

Everywhere (can reproduce on VM with Python 3):
[code]

[2017-06-12 18:26] lucasgreene opened #9113 "Add class_weight feature to MLPClassifier"
As far as I can tell the MLP classes don't have support for different class weights which are useful for imbalanced classes. Adding this should be easy as it just comes in in the batch gradient summation and normalization. If you think this is useful I can create a PR.

[2017-06-12 21:12] jli05 commented on #8943
[code]

Ran on AWS `c4.2xlarge` under Ubuntu 16.04.2 LTS, Python 3.5.2, iPython 6.1.0. All OS, Python packages updated as of writing.

Output:

[code]

[2017-06-12 21:18] jli05 commented on #8943
Please note there's another problem. In the code above we cannot run with any `maxiter` over 100 for `LatentDirichletAllocation`.

Error message when we use `maxiter=100`:

[code]

The EBS has 33G free space during running, so it cannot be "no space left on device".

For this corpus, I think we better support `maxiter` up to 500 for the default mini batch size (128) to allow ~5 full iterations ove

[2017-06-12 21:53] jli05 commented on #8943
If we restrict the vocabulary size to 2000 (`max_features=2000` for `CountVectorizer`) we could run with `maxiter=500` to the end and it produces:

[code]

[2017-06-12 22:09] jnothman commented on #9113
this sounds useful

On 13 Jun 2017 4:26 am, "lucasgreene" <notifications@github.com> wrote:

[2017-06-13 02:33] naught101 opened #9114 "MAP-DP implmentation?"
Raykov et al (2016) presents a neat-looking clustering algorithm that is apparently quite good, relative to a few other clustering methods tested. I'm not really convinced that the synthetic datasets are good examples, but the algorithm doesn't look too inefficient, and look like it might be a good fit in scikit-learn.

I probably won't have time to try this out, and I think it's not currently use

[2017-06-13 04:07] jnothman commented on #9114
We usually require algorithms to be quite mature and popular to be included
in scikit-learn. But I admit I don't know where you might otherwise
advertise that it's worth porting to our API. Still, as it's not an issue
for us, I will close.

On 13 Jun 2017 1:24 pm, "naught101" <notifications@github.com> wrote:

[2017-06-13 04:08] #9114 closed

[2017-06-13 05:19] naught101 commented on #9114
Yes, that was my thought. Figured if I managed to implement and test it adequately I can come back and open this back up.

[2017-06-13 06:50] jasneetsinghanand commented on #8979
Hey, I am new to Open Source world. Would I be of any help here?

[2017-06-13 08:25] maskani-moh commented on #8979
@jasneetsinghanand Take a look at the following link: [How to contribute](http://scikit-learn.org/stable/developers/contributing.html)

[2017-06-13 10:33] #8916 closed

[2017-06-13 12:05] jnothman commented on #9111
@amueller any idea why the last error might have been created by the instance-level checks? Or perhaps it's a result of the dtype change PRs???

[2017-06-13 12:10] #9037 closed

[2017-06-13 12:55] LiYuanyuanFighting opened #9116 "Fold returned by cross-validation inside gridsearchcv contains only one class label"
#### Description

I want to calculate roc auc score for different balancing methods with GridSearchCV and RandomForest classifier used, I find there is only 1 label returned when it comes to SMOTEENN method, for any other methods, no.
The datasets are randomly created with different ratios of 2 classes.
#### Steps/Code to Reproduce
Create Datasets:
https://github.com/LiYuanyuanFighting/BioInformat

[2017-06-13 13:03] jnothman commented on #9116
Perhaps this is an issue for imblearn, not scikit-learn?

On 13 June 2017 at 22:55, LiYuanyuanFighting <notifications@github.com>
wrote:

[2017-06-13 13:10] jnothman commented on #8913
My comments here were a bit hasty, but I think it can easily be argued that on average we should at least see *some* test sets including 1. This is not the case.

[2017-06-13 13:20] jnothman commented on #8913
What's the benefit of `StratifiedShuffleSplit`, I wonder, if it does not ensure classes are present in test? Perhaps it is fundamentally misguided.

[2017-06-13 13:21] jnothman commented on #9111
@lesteve, do you mind using your Windows VM to find which commit caused the LinearSVR break?

[2017-06-13 13:26] LiYuanyuanFighting commented on #9116
Yeah, you wake me up. Thank you, I opened the issue in imblearn

[2017-06-13 13:27] vene commented on #8913
Indeed.

I am thinking that maybe we simply want to throw an error, or at least a warning, if we cannot place at least one sample of each class in the test and in the training split.

These are degenerate cases where unexpected things happen. (For one, the stratification is inaccurate.)

[2017-06-13 13:58] MartinHjelm commented on #7707
I see. Thanks!!

[2017-06-13 14:04] jnothman commented on #8619
I would be okay with reverting #6799, and finding other solutions to memory issues in dbscan.

[2017-06-13 14:07] jnothman commented on #7796
Fixed in #7799

[2017-06-13 14:07] #7796 closed

[2017-06-13 14:09] RokoMijic commented on #3754
Would someone in the know be kind enough to update us on the situation as of June 2017?

Is it still the case that to allow nested parallelism in e.g. sklearn, one should use the dask.distributed backend?

[2017-06-13 14:09] jnothman commented on #7698
It seems there's some consensus here. Closing.

[2017-06-13 14:09] #7698 closed

[2017-06-13 15:33] qinhanmin2014 commented on #8619
@jnothman I have conducted some experiments based on the previous code by naoyak.
(1)If we revert #6799 based on the current version(marked as 0.19 in the picture), the speed will slow down as it used to be in 0.17.
![index](https://user-images.githubusercontent.com/12003569/27089900-473d91f4-508e-11e7-8b8a-e1aace200218.png)
(2)I calculate the maximum number of integers in the stack (in _dbscan_in

[2017-06-13 16:33] #9116 closed

[2017-06-13 16:34] #9109 closed

[2017-06-13 19:02] dohmatob commented on #8994
At one point, I will PR [this code]([url](https://github.com/dohmatob/scikit-learn/blob/general-updates/sklearn/decomposition/dict_learning.py)) to implement the feature (generic dict / code updates).
This will depend on how PR #9036  goes.

[2017-06-13 22:13] jnothman commented on #8913
do you know if stratification is actually justified outside of kfold?

On 13 Jun 2017 11:27 pm, "Vlad Niculae" <notifications@github.com> wrote:

[2017-06-13 22:26] jnothman commented on #8619
asymptotic runtime cannot be reduced, while asymptotic memory use can. do
I'm inclined to honestly optimise this for runtime (i.e. revert), then
admit a memory friendly mode.

On 14 Jun 2017 1:33 am, "Hanmin Qin" <notifications@github.com> wrote:

[2017-06-13 22:45] rth commented on #8943
@jli05 Thanks for the detailed test script.

Regarding the second error you are getting, looks like `joblib` failing in multiprocessing because it doesn't have enough RAM (not sure why, though). In it my benchmark this script takes only 1.5GB RAM on 4 CPU, and `n_jobs=1` is  both faster (it still runs some calculations on all cores, via BLAS, I presume)  and takes less memory (or it would with 8 C

[2017-06-13 22:50] jli05 commented on #8943
Thanks for confirmation . Can we pinpoint the cause of the 2nd problem to be 'LatentDirichletAllocation' or ,joblib'

[2017-06-14 00:44] jnothman commented on #6777
Do we have a minimal failing example? It seems unclear if this issue remains.

[2017-06-14 00:49] jnothman commented on #7346
It's a pity, but I don't think this (or #2755) will be fixed for the next release unless someone jumps onto it quickly.

[2017-06-14 00:57] jnothman commented on #6573
I think we should just be calling `check_is_fitted` in predict, shouldn't we?

[2017-06-14 01:25] jnothman commented on #6172
I don't see it as something that will be fixed for this release.

[2017-06-14 01:26] jnothman commented on #6203
I think this can be closed, but I remain confused about whether @kaichogami's patch in 	0bd565b
 was ever pulled into master.

[2017-06-14 01:26] #6203 closed

[2017-06-14 01:30] jnothman commented on #6186
@piskvorky I hope you've had more success with scipy since. Basically all the scipy.sparse basic operations are implemented in `scipy/sparse/sparsetools/csr.h` et al.

[2017-06-14 01:48] qinhanmin2014 commented on #8619
@jnothman Do you mean simply revert the pull request, or add a parameter for users to decide whether to use memory efficient mode? (or mayby some other solutions) Thanks.

[2017-06-14 01:52] jnothman commented on #8619
I mean to simply revert that previous patch. We were fairly uncertain about
it at the time, and while I would like to reduce DBSCAN memory usage, I
don't believe that was the right fix.

On 14 June 2017 at 11:48, Hanmin Qin <notifications@github.com> wrote:

[2017-06-14 02:24] piskvorky commented on #6186
@jnothman ah, so it's no longer deprecated? That's great news! @menshikh-iv can you double-check please?

[2017-06-14 02:34] jnothman commented on #6186
Sorry, I missed the comment about deprecation. (Trying to quickly go through issues in anticipation of a release.) But as far as I can tell, sparsetools is only deprecated wrt its use as a public API (i.e. there will be no guarantee that sparsetools will be backward compatible), but it still is where implementation details should be changed.

[2017-06-14 02:47] jnothman commented on #6002
@Gscorreia89, we're planning a release within the next couple of weeks. Your PR would be very welcome.

[2017-06-14 02:51] jnothman commented on #5664
Why aren't we just using `np.errstate`? should be as good as a fixture

[2017-06-14 03:05] jnothman commented on #5488
@hlin117 would you mind confirming the status of this?

[2017-06-14 03:13] jnothman commented on #5482
I'd be tempted to say that any user using `input='file'` or `input='filename'` who then passed text to `fit` or `transform` was doing something obviously wrong. That is, I think this is a bug that can be fixed without notice. However, the correct behaviour still requires some definition. If we load from file for the user, do we decode? Probably not. Which means behaviour will differ between Py 2/3

[2017-06-14 06:01] jmschrei commented on #9098
From my quick glance, it does appear that is the case.

[2017-06-14 06:13] jnothman commented on #5173
So this is an easy fix, and can't really be unit tested?

[2017-06-14 06:15] GaelVaroquaux commented on #5173
Do we really want to support float16?

[2017-06-14 06:34] jnothman commented on #9111
Actually I can't see other changes involving LinearSVC, and wonder if somehow the changes to test by instance affected a random state.

[2017-06-14 06:43] lesteve commented on #9111
I managed to reproduce the LinearSVC failures on a 32-build build on my Windows VM. I investigated a bit but I haven't yet understood what is going on ...

I had a similar fix as #9115 for the other tests.

[2017-06-14 06:49] lesteve commented on #9094
Just a quick comment for myself and others, this shows that we need to think about this a bit more when fixing test errors with the numpy-dev build ...

cc @jnothman @GaelVaroquaux @ogrisel @agramfort

[2017-06-14 06:52] lesteve commented on #9111
If you look at AppVeyor history:

The last passing commit: https://github.com/scikit-learn/scikit-learn/commit/e01ce02c0f19da7dc68b147b605ad2227f272f0a

The first failing commit: https://github.com/scikit-learn/scikit-learn/commit/d788dcb1990fffd765c73bea1b63854f0ca6fe20

[2017-06-14 07:08] jnothman commented on #9111
okay. so it would be good to see what changed. perhaps a parameter to
LinearSVC

On 14 Jun 2017 4:52 pm, "Loïc Estève" <notifications@github.com> wrote:

[2017-06-14 07:24] jnothman commented on #9111
got it. previous max_iter was 1000. now 20. hmmmm @amueller

On 14 Jun 2017 5:08 pm, "Joel Nothman" <joel.nothman@gmail.com> wrote:

[2017-06-14 09:09] RokoMijic commented on #3754
I have made this work.
Just as a pointer to anyone who comes across this issue, see https://stackoverflow.com/questions/38601026/easy-way-to-use-parallel-options-of-scikit-learn-functions-on-hpc

In particular, you must `register_parallel_backend('distributed', DistributedBackend)` - otherwise your inner loop using sklearn will not work when you distribute it out via dask, because each worker gets

[2017-06-14 09:18] lesteve commented on #9111
On Windows `max_iter=600` seems to work (whereas `max_iter=20` is enough on Linux). Another option is to replace 0.89 by 0.87 so that the test passes ...

[2017-06-14 09:49] jnothman commented on #9111
i think the latter. but more the point is to be aware of the subtle changes
we've made to the tests

On 14 Jun 2017 7:18 pm, "Loïc Estève" <notifications@github.com> wrote:

[2017-06-14 11:09] MechCoder commented on #6573
I have registered my argument in the PR by @qmaruf

[2017-06-14 11:28] #5948 closed

[2017-06-14 11:29] jnothman commented on #4618
Closing as behaviour is earmarked to change, per #7459.

[2017-06-14 11:29] #4618 closed

[2017-06-14 11:36] #4452 closed

[2017-06-14 11:37] jnothman commented on #4453
We should probably have a test that every metric supported by neighbors is supported by pairwise_distances, no?

[2017-06-14 11:40] jnothman commented on #4223
@GaelVaroquaux I assume I can close. Reopen if I'm wrong.

[2017-06-14 11:44] jnothman commented on #3313
@ogrisel, I can't tell at a glance what needs to be done here. Can we close this and open a new issue?

[2017-06-14 11:46] jnothman commented on #2915
I've we've not heard the error reported again, can we close??

[2017-06-14 11:52] jnothman commented on #1940
Does @silencelamb or @sdicker8 want to offer a patch?

[2017-06-14 11:53] jnothman commented on #1854
Applies to deprecated code.

[2017-06-14 11:53] #1854 closed

[2017-06-14 11:57] rth opened #9121 "Too strict settings for flake8 in TravisCI build"
#### Description

The flake8 Travis CI build [currently runs](https://github.com/scikit-learn/scikit-learn/blob/57d3472b8ff1820fd21d345810474641c30e92fb/build_tools/travis/flake8_diff.sh#L140) `flake8 --ignore=W503 <files>` on modified (non example) files. This is much stricter than the defaults [which are](https://github.com/PyCQA/flake8/blob/52180995046583cacf9d78a4423b82448a47fef1/docs/source/m

[2017-06-14 11:58] #1073 closed

[2017-06-14 11:58] #905 closed

[2017-06-14 11:59] #7895 closed

[2017-06-14 11:59] #6246 closed

[2017-06-14 12:00] #8029 closed

[2017-06-14 12:00] jnothman commented on #4917
LSHForest is deprecated

[2017-06-14 12:00] #4917 closed

[2017-06-14 12:01] jnothman commented on #3988
LSHForest is deprecated

[2017-06-14 12:01] #3988 closed

[2017-06-14 12:01] jnothman commented on #4041
LSHForest is deprecated

[2017-06-14 12:01] #4041 closed

[2017-06-14 12:02] jnothman commented on #1807
Fixed in #6178, afaik

[2017-06-14 12:02] #1807 closed

[2017-06-14 12:03] jnothman commented on #1778
This is ancient. Does it apply?

[2017-06-14 12:05] jnothman commented on #1247
do we still need this open?

[2017-06-14 12:06] jnothman commented on #841
I'm going to presume this is no longer relevant.

[2017-06-14 12:06] #841 closed

[2017-06-14 12:08] mrocklin commented on #3754
@RokoMijic are there changes that we should make to either the implementation or documentation of dask.distributed?  We currently register joblib backends here: https://github.com/dask/distributed/blob/master/distributed/joblib.py#L152-L158

[2017-06-14 12:10] jnothman opened #9122 "CircleCI failures on master"
[code]
Ping @Titan-C

[2017-06-14 12:12] jnothman commented on #9122
Or perhaps I was confused by the emails CircleCI was sending me... Not failing on master, but failures on PRs, perhaps when PR CircleCI was still running after branch merged?? I'm a little confused.

[2017-06-14 12:12] #9122 closed

[2017-06-14 12:16] jnothman commented on #9121
Ah. I think that ignore was intended to *add* to the defaults, perhaps at a
time when  (or on a system where) that wasn't a default. Happy to remove
the --ignore flag.

On 14 June 2017 at 21:57, Roman Yurchak <notifications@github.com> wrote:

[2017-06-14 12:18] lesteve commented on #9121
Looks like an oversight more than anything else and I would be happy to review PRs to make the experience more pleasant for everyone involved.

A few comments:
* flake8 2.5.1 is used on the CI because flake 3.3.0 checks non python files in the diff. I seem to remember there was an issue about this but I didn't check recently.
* you should run `bash build_tools/travis/flake8_diff.sh` locally (you n

[2017-06-14 12:21] mrocklin commented on #3754
Ah, I see that you opened a PR [here](https://github.com/dask/distributed/pull/1171/files) (thanks).  I should have read my e-mail from newest to oldest rather than the other way around :)

[2017-06-14 12:26] lesteve commented on #9121
I think we want to add the default i.e. `--ignore=E121,E123,E126,E226,E24,E704,W503,W504` instead.

and probably do something similar for the examples.

BTW out of curiosity, do you have an example of a failing build?

[2017-06-14 12:42] lesteve commented on #9121
OK I missed it from your original post, sorry. On #9086 it does not fail locally, no idea why it fails on Travis ...

[2017-06-14 12:48] rth commented on #9121
Thanks for your reponse @jnothman and @lesteve ! Makes sens, flake8 defaults might have also changed in the last few years.

Sure, could you just please double check that those are indeed the default? Read it in the flask8 docs, but didn't check the code... Thanks )

Yes that was https://travis-ci.org/scikit-learn/scikit-learn/jobs/241700810 , not sure either..

Made a PR following your suggestion

[2017-06-14 12:52] lesteve commented on #9121
I *think* that's the problem is that:
* In Travis: we run `flake8_diff.sh` from master which has the `--ignore W503` argument
* Locally we run `flake8_diff.sh` from the PR branch which does not have the `--ignore W503` argument and as such ignore the default stuff.

:angry: this is a bit confusing, I think I should fix that ...

[2017-06-14 13:09] jnothman opened #9124 "Split up what's new versions into separate files"
We have a rather lengthy changelog. This is nice for searching through the whole thing for when some feature changed (especially as we're not very consistent with applying `versionadded/changed` tags), but it would be good to keep each version's what's new separate in the source ([as pandas does](https://github.com/pandas-dev/pandas/blob/master/doc/source/whatsnew), for instance):
* it would allow

[2017-06-14 13:27] cdeil commented on #1247
Looks like I was one of the people with this issue in 2012. OK to close.
(I don't know if there's still an issue, but if I notice something in the future, I'll file a new ticket.)

[2017-06-14 13:30] #9111 closed

[2017-06-14 13:30] #1247 closed

[2017-06-14 13:30] jnothman commented on #1247
ha. I'm happy with that.

[2017-06-14 13:31] #9121 closed

[2017-06-14 13:40] lesteve commented on #9121
I don't think there is an easy fix actually without adding too much complexity so I am going to leave it like this and promise to look at this in case a similar problem happens again.

[2017-06-14 13:54] #9047 closed

[2017-06-14 14:16] lesteve commented on #8943
@rth are you saying you can or you can not reproduce the the "No space left on device" error?

[2017-06-14 14:44] lesteve commented on #8943
Setting `n_jobs=1` is a reasonable work-around to investigate the LDA perplexity problem, which is scikit-learn related.

The "No space left on device" is very likely related to joblib and memmapping (wild guessing a bit here). I think we should focus on why the LDA perplexity is bigger than expected in this issue.

[2017-06-14 15:24] rth commented on #8943
I can reproduce that exception if I run it on my laptop with only a few GB of free memory. Not sure how it could happen with 16GB RAM, but I agree that it's not an actual issue, at worse not optimal multiprocessing in this particular example, and setting `n_jobs=1` should fix it.

+1 . The LDA does seem to have [quite a bit of submitted issues, generally](https://github.com/scikit-learn/scikit-lea

[2017-06-14 15:55] massich commented on #8769
@ogrisel suggested to use `[np.float64, np.float32]` as the default policy. As here for **logistic regression**:

[code]

As well as adding a test to ensure that type of the predicted output remains consistent. i.e:
[code]

cc: @henley13, @raghavrv, @ncordier, @vene

[2017-06-14 15:59] raghavrv commented on #8769
@ogrisel advised me that

[code]

is better as it leads to more informative error messages in `pytests` to which we will be switching to soon.

[2017-06-14 16:08] jmschrei commented on #9113
+1 from me as well. I have been frustrated in the past to not have this feature.

[2017-06-14 18:46] lucasgreene commented on #9113
Ok i think I can work on this this weekend. Can someone point me towards where test cases go?

[2017-06-14 21:46] jnothman commented on #8943
(I've not checked if that list includes any LinearDiscriminantAnalysis bugs, but there are a few of them too.)

[2017-06-14 21:50] jnothman commented on #8769
at which point i assume we'll change all assert_equal?

On 15 Jun 2017 1:59 am, "(Venkat) Raghav, Rajagopalan" <
notifications@github.com> wrote:

[2017-06-14 22:08] jli05 commented on #8943
For the 2nd problem, it was trying to do pickle? ...

[2017-06-14 22:11] hyperdo opened #9127 "Inconsistency in sklearn.model_selection?"
When you call `sklearn.model_selection.train_test_split`, the function returns `X_train, X_test, y_train, y_test` yet when you call a splitting class like `KFold`, it returns a index iterator. While I understand that one is a function and one is a class, I think that the user should be able to easily swap out splitting schemes. So, I think it might make sense to either update `train_test_split` to

[2017-06-14 22:43] jnothman commented on #9127
`ShuffleSplit(n_splits=1)` should be interchangeable with `KFold`, and provides similar functionality to `train_test_split`. (You can also get indices from train_test_split by passing in `np.arange(n_samples)`.)

Please feel free to offer a pull request updating the documentation if you feel it could be improved.

[2017-06-14 22:43] #9127 closed

[2017-06-14 22:45] jnothman commented on #8544
Well, changing the dataset in the test is okay, but then you need to clearly comment why you made that change so that no one changes it back for test speed.

[2017-06-14 22:50] jnothman commented on #2029
I think this is partially solved, and not specific enough to be generally solved. Closing.

[2017-06-14 22:50] #2029 closed

[2017-06-14 22:50] jnothman commented on #2029
By partially solved I mean we no longer allow multiclass data with default f1 parameters, and labels works more flexibly.

[2017-06-14 23:00] jnothman commented on #4475
So it seems the cosine bug has been fixed, but correlation is open.

[2017-06-14 23:03] jnothman commented on #4062
Could we confirm here whether the new GMM implementations do this right?

[2017-06-14 23:14] rth commented on #8943
You are completely right - most of those issues are regarding LinearDiscriminantAnalysis, I want too fast. The ones relevant to LatentDirichletAllocation are only https://github.com/scikit-learn/scikit-learn/issues/8020 and https://github.com/scikit-learn/scikit-learn/issues/6777

As far as I understood the situation, joblib was trying [to memmap some data](https://pythonhosted.org/joblib/parallel

[2017-06-14 23:21] jli05 commented on #8943
Maybe `joblib` needs to clean up the mmap-ed data from mini batch to mini batch? Given the mini batch size, the vocabulary size, the number of topics `k`, the memory use should be fixed or at least shouldn't grow drastically from that?

[2017-06-15 01:31] hyperdo opened #9128 "train_test_split and StratifiedShuffleSplit accept categorically encoded values when they shouldn't"
When feeding StratifiedKFold categorically encoded values (for example `[[1,0,0],[0,0,1],[1,0,0]...]`, it will throw an error, but when doing the same for stratified `train_test_split` or `StratifiedShuffleSplit`, it won't complain, but will output wrong values (e.g. in my experiments, the test set will contain elements of train values). This is because `np.unique` doesn't operate the same way on

[2017-06-15 01:34] jnothman commented on #9128
Fixed in master (#9044), if I'm not mistaken. Please confirm.

[2017-06-15 01:34] #9128 closed

[2017-06-15 01:35] jnothman commented on #9128
(To be sure, the change was merged 3 days ago.)

[2017-06-15 06:10] jasneetsinghanand commented on #8979
@maskani-moh Hey, actually I have setup the development environment. Would I be allowed to contribute to this issue? Or has this been assigned to someone else?
Thanks!

[2017-06-15 06:22] jnothman commented on #8979
#9061 is the current proposal, although we're waiting on @plagree to make changes.

[2017-06-15 08:45] #8619 closed

[2017-06-15 09:12] Attractadore commented on #9124
I've done this.

[2017-06-15 09:14] lesteve commented on #4062
cc @tguillemot

[2017-06-15 09:16] albertcthomas commented on #8677
I am currently working on this but I should maybe wait for PR #9015 as it is supposed to bring a bit more consistency between the different outlier detection algorithms. Or I can open a PR now and modify the tests once PR #9015 will be merged. Another possibility is that I work with @ngoix to add the common tests in PR #9015? or is it better to have two different PRs?

[2017-06-15 10:36] noslav commented on #8963
having the same problem : keep getting the same "TypeError: 'NoneType' object is not callable"

 using python 2.7 with spyder 3.0.0

[2017-06-15 12:17] lesteve commented on #8963
Can you provide a stand-alone snippet to reproduce the problem ? Please read https://stackoverflow.com/help/mcve for more details.

Also for future reference, can you paste the output of:
[code]

[2017-06-15 12:19] lesteve commented on #8677
Shorter PRs are easier to review and thus tend to get merged quicker. I'd rather have 2 PRs.

[2017-06-15 12:21] lesteve commented on #8963
FWIW I can not reproduce with the original snippet.

[2017-06-15 12:50] tguillemot commented on #4062
`GaussianMixture` inherits from the `DensityMixin` base class but do not have a `density` function ( see [mixture/base.py](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/mixture/base.py#L66)).

[2017-06-15 13:28] GaelVaroquaux commented on #3313
I think that we should close. Things have massively changed since.

[2017-06-15 13:28] #3313 closed

[2017-06-15 14:13] raghavrv commented on #6726
I'm closing this as we decided that the current behavior after #7660 is sufficient enough.

[2017-06-15 14:13] #6726 closed

[2017-06-15 14:35] drorata opened #9132 "OneHotEncoder accepts only non-negative integers"
#### Description
Unclear documentation on OneHotEncoder

#### Steps/Code to Reproduce

[code]

#### Expected Results

The [documentation](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html) suggests that the inputs are integers. Thus, expected result is:

[code]

#### Actual Results

In practice, this yields an error:

[code]

The [code](https://github.com/sc

[2017-06-15 15:05] NataliaDiaz commented on #7542
I am encountering the same error when running on Python 2.7 Ubuntu 14.04, after installing anaconda to update matplotlib:
`
from sklearn.decomposition import PCA
  File "/home/gpu_center/.local/lib/python2.7/site-packages/sklearn/decomposition/__init__.py", line 7, in <module>
    from .nmf import NMF, ProjectedGradientNMF, non_negative_factorization
  File "/home/gpu_center/.local/lib/python2.7/s

[2017-06-15 15:12] rth commented on #7542
That would break things..

The solution is the same as in https://github.com/scikit-learn/scikit-learn/issues/7542#issuecomment-250908129 Either use conda (in which case all your installed packages would be in `~/miniconda/` or `pip  install --user` don't mix the two. Removing either `~/.local/lib/python2.7/site-packages/sklearn` or your `~/miniconda` folder and reinstalling it cleanly should fix

[2017-06-15 15:44] zfrenchee commented on #8934
@jnothman, @NelleV

I'd also like to add a request for [sPLS-DA](https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-12-253) ([also in R](http://mixomics.org/methods/splsa-da/)), which could potentially be an argument to a PLS-DA class.

What do you think?

[2017-06-15 15:46] maskani-moh commented on #9132
@drorata

I run your code snippet, and I get a `ValueError` with version `0.18.1` of scikit-learn as expected.
Are you sure about the output and the version you're using?

[2017-06-15 16:41] drorata commented on #9132
Why is expected? According to the documentation, there should be no problem with negative values.

[2017-06-15 18:03] nasrallah opened #9134 "LDA perplexity reported during training is unnormalized"
#### Description
Printing perplexity values during training of LDA model results in perplexity values calculated using an unnormalized document-topic-matrix [returned from lda._e_step()]. However, calling lda.perplexity() on the same training data uses lda.transform(), which returns the normalized document-topic matrix, making the perplexity values reported inconsistent.

#### Steps/Code to Reprod

[2017-06-15 18:15] rth commented on #9134
@nasrallah Thanks for reporting this. Looks like the issue from  https://github.com/scikit-learn/scikit-learn/issues/8943 ? Would the proposed fix make the following  example script return consistent results https://github.com/scikit-learn/scikit-learn/issues/8943#issuecomment-307930597 ?

[2017-06-15 18:16] maskani-moh commented on #9132
@drorata

The documentation [(here)](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html) clearly states that:

This means that the column you want to transform with the `OneHotEncoder` must contain **positive integer values** ranging from `0` to `n_values` which is basically the total number of unique values of your feature.

[2017-06-15 18:17] rth commented on #9134
That example, except run with `n_jobs=1` ..

[2017-06-15 18:40] nasrallah commented on #8943
I think the perplexity scores issue has to do with this issue I just filed.
/github.com/scikit-learn/scikit-learn/issues/9134

It points out that lda.perplexity() calls lda.transform(), which retrieves the normalized document-topic matrix. Explicitly passing the unnormalized document-topic matrix as returned by lda._e_step() produces the value of perplexity that @jli05 expects.

This bit should pr

[2017-06-15 18:40] nasrallah commented on #9134
I think you are right, and was able to replicate what he expected. Commented there.

[2017-06-15 18:44] nasrallah commented on #9134
As I commented there, forcing lda.perplexity() to use the unnormalized document-topic matrix would make the values consistent with what that user expected, but I'm not certain that is the correct thing to do. Perplexity should be calculated using the normalized document-topic matrix (I thought) because it provides a proper probability distribution over topics.

[2017-06-15 18:47] rth commented on #9134
Great! I'm not very familial with the algorithm, so I can't say much about it (hopefully someone more knowledgeable would), but thanks for reporting this.

[2017-06-15 20:14] amueller opened #9136 "Add keyboard interrupt handling into cython files (particular those that run long)"
At PyParis @ogrisel and me and some others thought that using [pysignal](http://cysignals.readthedocs.io/en/latest/interrupt.html#basic-example) to catch keyboard interrupts would be cool. Unfortunately it's LGPL. But it's not that hard to do that ourselves:

https://stackoverflow.com/questions/16769870/cython-python-and-keyboardinterrupt-ignored

We "only" need to periodically check for it.
The m

[2017-06-15 20:16] amueller commented on #9136
maybe T-sne is also a candidate? I haven't checked. For tree-based methods I feel like it is less of an issue, since each single tree is reasonably fast usually, and after each tree we go back into Python IIRC.

[2017-06-15 20:29] jli05 commented on #8943
If we're talking about the \gamma_{dk} in Eq 5 in <https://mimno.infosci.cornell.edu/info6150/readings/HoffmanBleiBach2010b.pdf>, it doesn't have to be "normalised", \gamma_{dk} is just the parameter for the Dirichlet distribution in Eq 2. It's valid as long as it's all positive.

[2017-06-15 21:00] jnothman commented on #6726
personally I think making multiple calls to split return identical results
is still a much better design. But I have no idea how to fix it.

On 16 Jun 2017 12:13 am, "(Venkat) Raghav, Rajagopalan" <
notifications@github.com> wrote:

[2017-06-15 21:32] jnothman commented on #9132
if you would like to improve the documentation, please do so.

making OneHotEncoder more flexible has proven a slow process

On 16 Jun 2017 4:16 am, "Mohamed Maskani" <notifications@github.com> wrote:

[2017-06-16 04:04] #9132 closed

[2017-06-16 07:52] ogrisel commented on #9136
t-SNE is not a problem because while the gradient calls are written in Cython, the main gradient descent loop is written in Python. A single gradient call takes less than 10s on MNIST scale data IIRC so ctrl-c is reactive enough.

More generally we could just acquire the GIL and call a dummy python callback at the end of each large iteration of C / C++ / Cython estimator loops to give Python an op

[2017-06-16 08:13] vawk commented on #8963
I will have a look at the link and will try to provide a stand-alone snippet. Here the output:
[code]

[2017-06-16 10:08] k0pernicus opened #9138 "Problem using `random_state` for KMeans"
#### Description
No deterministic results to predict clusters using KMeans, even using `random_state`

#### Steps/Code to Reproduce
This is an example:
[code]

#### Expected Results
I thought that the 10 results must be the same, but it does not.

#### Actual Results
[code]

#### Versions

Linux-4.9.0-2-amd64-x86_64-with-debian-9.0
Python 3.5.3 (default, Jan 19 2017, 14:11:04)
[GCC 6.3.0 20170118]

[2017-06-16 11:53] noslav commented on #8963
Give me a day or two, I will get back to you on this. I have since moved to
another project.

On Fri, Jun 16, 2017 at 10:14 AM, vawk <notifications@github.com> wrote:

[2017-06-16 12:17] noslav commented on #8963
btw for : import platform; print(platform.platform())
import sys; print("Python", sys.version)
import numpy; print("NumPy", numpy.__version__)
import scipy; print("SciPy", scipy.__version__)
import sklearn; print("Scikit-Learn", sklearn.__version__)

Darwin-16.6.0-x86_64-i386-64bit
('Python', '2.7.12 |Anaconda custom (x86_64)| (default, Jul  2 2016,
17:43:17) \n[GCC 4.2.1 (Based on Apple Inc. buil

[2017-06-16 12:35] lesteve commented on #9138
Interesting, I can not reproduce this, using `make_blobs`:

[code]

[code]

Can you provide a fully stand-alone snippet (meaning we can just copy and paste it in an IPython console without error) so we can try to reproduce?

[2017-06-16 12:36] lesteve commented on #9138
Also for future reference, can you edit your top post and add the output of:

[code]

[2017-06-16 12:39] twiecki opened #9140 "Feature request: Use Ledoit-Wolf in PCA"
One thing I always wondered is that when computing `PCA`, why is it no possible to specify how to estimate the covariance matrix via regularization methods in `sklearn.covariance`. An alternative would be to allow `PCA` to be passed a covariance matrix rather than data.

[2017-06-16 12:43] GaelVaroquaux commented on #9140
We don't build the covariance matrix to do the PCA, we use directly
SVD-like mechanisms, as they are often faster and more memory efficient.

[2017-06-16 13:51] twiecki commented on #9140
@GaelVaroquaux I see. However, there would still be valid cases where speed and memory efficiency are not the main concern but numerical stability is.

[2017-06-16 13:54] GaelVaroquaux commented on #9140
That's going to happen in very small datasets that are not quite the
focus of scikit-learn. I would say that in machine learning these will be
corner cases.

[2017-06-16 13:56] twiecki commented on #9140
What's very small? In data sets with high dimensionality something like Ledoit-Wolf will have a big impact.

[2017-06-16 14:04] GaelVaroquaux commented on #9140
You mean p >> n. But then PCA can only recover at most a subspace of
dimensionality n, hence the actual sample complexity estimating this
subspace is given by n, and not p. Indeed, the tail of this subspace
will be noisy. However, using Ledoit Wolf will not change at all this
subspace, but rather the associated eigenvalue. I would argue that the
right why to regularize a PCA is not to use a Ledoit

[2017-06-16 14:04] k0pernicus commented on #9138
Hello @lesteve, thank you for your answer!
Unfortunately, the error belongs to Jupyter - it does not restart and reset my variables, so the random state pointed to a mutable value...
Sorry for that - after rebooting my Jupyter notebook, it works.

[2017-06-16 14:04] #9138 closed

[2017-06-16 14:06] ogrisel opened #9141 "Unnecessary memcopy in Tree.__setstate__"
The nodes are stored as a contiguous array of `Node` structs in the `Tree` cython class. This is great as it allows to make (de)serialization fast.

However the `__setstate__` method issues a `memcopy` call from the data pointer of the passed numpy array for the node content.

I think this is not necessary, in particular, we could instead just store a pointer and keep a python reference to the wra

[2017-06-16 14:10] twiecki commented on #9140
I'm mostly influenced by http://www.sciencedirect.com/science/article/pii/S0047259X15000949 (which is a different Ledoit-Wolf algorithm than what I think is currently implemented in sklearn, but I think the same principles apply). Following that, I care mostly about the spectrum of eigenvalues in the cov matrix which are elemental to PCA when inquired about how much variance it explains and where

[2017-06-16 14:13] massich opened #9142 "Uncalled code but for test"
#### Description
The function `_multinomial_grad_loss_all_samples` in `sag_fast.pyx` is only called one on the entire code base. The only place that it is called is in a test where is used to compare its results with another function.

Here is a search for the term:

[code]

[2017-06-16 14:28] GaelVaroquaux commented on #9140
That work is significantly different: although it is based on shrinkage,
it uses a non-linear shinkrage, and thus defines different subspaces. It
is also much more challenging to implement (we gave up in my group): it
involves solving a non-trivial optimization of an implicit function, that
the authors tackled with expensive proprietary solvers. That model should
indeed perform significantly bette

[2017-06-16 14:46] twiecki commented on #9140
Thanks for the explanation Gael, that's very helpful.

The application is PCA on a large universe of stock returns with a 2 year window (~500 data points) and 1500 stocks. I was hoping it would give me more accurate estimations but it seems like neither Ledoit-Wolf nor the sample covariance will give me that. I do mostly care about the high eigenvalues in the spectrum so it might not be a huge iss

[2017-06-16 15:01] GaelVaroquaux commented on #9140
If you are really sensitive to the variance, I would use the LedoitWolf,
and implement an singular value decomposition on top of that. But if you
are sensitive to the part of the spectrum where it makes a difference,
you really want to have a good validation procedure, as you are in a
regime where it is hard to have good control.

(500 x 1500) isn't a terribly bad setting. I tend to work in worst

[2017-06-16 15:04] twiecki commented on #9140
Got it, this was extremely helpful, thank you for your time.

[2017-06-16 15:04] #9140 closed

[2017-06-16 15:32] ngoix commented on #7141
I don't see anything except testing if there is at least two different observations in the training set, which will be expensive on sparse matrices?
BTW the name of this issue is not clear as iforest does not degenerate with uniform samples.
@agramfort can you add a "need contributor" tag?

[2017-06-16 15:47] lesteve commented on #9138
Thanks for letting us know and closing the issue!

[2017-06-16 15:51] JohnNapier opened #9144 "BUG: cross_val_score fails with scoring='neg_log_loss' when not all labels are predicted"
Suppose we wish to classify some examples where one class is relatively rare.

[code]

This will spit the error:

[code]

This is a known problem for *log_loss*, which was fixed by adding an argument **labels** to that function: https://github.com/scikit-learn/scikit-learn/issues/4033

The problem above is, *cross_val_score* invokes that function, but does not allow us to pass the labels. Ideally,

[2017-06-16 20:48] JohnNapier commented on #9144
I think something like this might fix it:

[code]

We just need *cross_val_score* to pass **labels=clf.classes_** as argument of *log_loss*.

[2017-06-16 21:49] amueller commented on #8853
Are they both reasonable predictions? I didn't plot the data. It's a bit weird because X is always float32, but there can still be doubles in the internal computations leading to different results. So I don't think different results is unexpected behavior. If 32bits would always yield the same result as 64bits that would be kinda magic, and we wouldn't need 64bits ever....

[2017-06-17 07:04] aayush26 commented on #9088
I am new to contributing to scikit-learn. How can I contribute to this issue?

[2017-06-17 09:12] jnothman commented on #9141
does joblib create the array that owns that memory? sounds good to me

On 17 Jun 2017 12:07 am, "Olivier Grisel" <notifications@github.com> wrote:

[2017-06-17 09:54] agramfort commented on #7141
done

[2017-06-17 10:44] jnothman commented on #9142
Ping @TomDLT

On 17 June 2017 at 00:13, Joan Massich <notifications@github.com> wrote:

[2017-06-17 10:46] jnothman commented on #9142
Sorry, my ping was belated. And I now see there's a comment in the function.

[2017-06-17 10:46] #9142 closed

[2017-06-17 10:46] jnothman commented on #9142
There's a comment in the function that it is used only for testing, so it's fine.

[2017-06-17 10:56] jnothman commented on #8853
Well, the 32 bit architecture is really about addressing more than
computation. We could still do all our computation in one or the other
regardless of the architecture.

On 17 June 2017 at 07:49, Andreas Mueller <notifications@github.com> wrote:

[2017-06-17 11:03] jnothman commented on #9088
I'd be inclined to avoid making this change unless there is good reason.

On 17 June 2017 at 17:04, Aayush Kumar Singha <notifications@github.com>
wrote:

[2017-06-17 16:57] ClimbsRocks opened #9146 "Add GPU support for NumPy operations with CuPy"
### Description
In their own words, "[CuPy](https://github.com/cupy/cupy) is an implementation of NumPy-compatible multi-dimensional array on CUDA. CuPy consists of the core multi-dimensional array class, cupy.ndarray, and many functions on it. It supports a subset of numpy.ndarray interface."

I recognize that building both CPU and GPU compatible versions is a significant undertaking, and might u

[2017-06-17 22:58] gusennan opened #9148 "DBScan example errors with matplotlib 2.0.2"
Running the example here:

https://github.com/scikit-learn/scikit-learn/blob/master/examples/cluster/plot_dbscan.py

throws an error with the message:

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

The cause is the color specification.  The example uses a list, which is not one of the ways that colors can be specified in matplotlib.  See h

[2017-06-18 05:48] nightowl21 commented on #1978
is this issue still open?

[2017-06-18 07:49] jnothman commented on #1978
I don't think much has changed on this front. Although I'm also not sure how to summarise sick content, and wonder if pointing to a suitable reference is best

[2017-06-18 14:37] jnothman commented on #7289
This is sort-of closed by #9019.

[2017-06-18 14:37] #7289 closed

[2017-06-18 16:28] amueller commented on #9076
It seems in reach: https://github.com/openml/OpenML/issues/218#issuecomment-309279207

[2017-06-18 19:45] amueller commented on #7289
@jnothman now we only need to actually add those tests ;)

[2017-06-18 19:46] amueller commented on #9146
http://scikit-learn.org/dev/faq.html#will-you-add-gpu-support

[2017-06-18 19:47] amueller commented on #9146
I would add to that that it would require rewriting any cython-based code, which is most of our code.

[2017-06-18 19:57] amueller commented on #9136
If it's only svc we probably don't want to call into python there, right?

[2017-06-18 20:07] amueller commented on #9144
"just" ;) I think this is a pretty tricky issue, and I'm pretty sure I opened an issue to track it.
Right now I can only find #5097 that is only tangentially related. Basically the scorer objects should look at the ``classes_`` attribute of the estimator. I don't think an argument to ``cross_val_score`` is the right way to go.

[2017-06-18 20:08] amueller commented on #9144
Found the right issue: #6231 wasn't by me after all!

[2017-06-18 20:12] amueller opened #9152 "Examples use deprecated HasingVectorizer(non_negative=True)"
[code]

[2017-06-18 20:47] amueller opened #9153 "Discuss Boostrap 632"
@GaelVaroquaux brought up using bootstrap cross-validation iteration, which we had before, but then removed:
https://github.com/scikit-learn/scikit-learn/blob/0.16.X/sklearn/cross_validation.py#L613

I'm not sure if this is actually the same as what @Gaelvaroquaux wanted, so this is a reminder to discuss the issue ;)

[2017-06-18 21:14] LBlnd opened #9154 "SVC classifier with 0% accuracy"
Hello !

I'm using SVC from Sklearn to discriminate between different matrices.
The datas are 95 matrices of correlation, computed from IRM of patients with schizophrenia (50 matrices) and healty controls (45 matrices). They are pretty big (264*264), so I wasn't expecting perfect results, but 0% accuracy seems really low.

#### Code

Here is the code:

[code]

#### Expected Results

Since the size

[2017-06-18 22:17] jnothman commented on #9144
no the scorer objects should look at the set of classes before cv...

On 19 Jun 2017 6:08 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-06-19 00:54] jnothman commented on #4167
I think this has been fixed.

[2017-06-19 00:54] #4167 closed

[2017-06-19 01:23] amueller commented on #9144
@jnothman hm I guess that makes sense for the training set score or when the CV doesn't use all the data. That's really tricky, though, right? How would that be possible with our API? at the creation of the scorer? and in the default case we do it at ``check_scorer``?

[2017-06-19 01:23] #7929 closed

[2017-06-19 01:23] jnothman commented on #8354
Fixed by #8094

[2017-06-19 01:25] amueller commented on #9144
Close this as duplicate of #6231 and discuss there?

[2017-06-19 01:26] #8354 closed

[2017-06-19 01:59] jnothman opened #9157 "VotingClassifier should have a way to access fitted estimators by name"
`VotingClassifier` provides `named_estimators` which is a dict of constituent estimators *before fitting* (i.e. the estimators are cloned and individually fit when the `VotingClassifier` is fit). These are already accessible through `get_params()`. More useful would be a `named_estimators_` or similar containing the fitted estimators from `estimators_`.

[2017-06-19 02:01] jnothman commented on #9144
Yes.

[2017-06-19 02:01] #9144 closed

[2017-06-19 02:02] jnothman commented on #6231
Re my comment at #9144 that scorer objects should look at the set of classes before cv, we should also consider how this might work with nested CV...

[2017-06-19 04:44] jmschrei commented on #9146
I think it's also worth mentioning that we would love to see/reference a sklearn-contrib project where specific algorithms that can utilize GPUs do so.

[2017-06-19 06:00] #9146 closed

[2017-06-19 06:06] GaelVaroquaux commented on #9153
What I am interested in specifically is the bootsrap 632: http://www.tandfonline.com/doi/abs/10.1080/01621459.1997.10474007

I am not sure if a cross-validation iterator is the right way to implement this, as it may use some corrective factor to compute more than a mere average over folds. It's the benefit of this method.

[2017-06-19 06:08] jnothman commented on #9146
Part of the problem, @ClimbsRocks, is that for many non-trivial operations
on numpy arrays, we have low-level (Cython) CPU implementations. I presume
this means that cupy could rarely be a drop-in replacement for numpy as
used within scikit-learn.

On 19 June 2017 at 16:00, Gael Varoquaux <notifications@github.com> wrote:

[2017-06-19 10:24] rth commented on #2969
To give an update on this issue, below are the test status of a few common estimators applied to a CSR array with 64 bit indices.  These results were obtained by running [`test_64bit_csr_indices.py`](https://github.com/rth/notebooks/blob/master/sklearn/issue_2969/test_64bit_csr_indices.py) on `master` and full traceback can be found [here](https://github.com/rth/notebooks/blob/master/sklearn/issue

[2017-06-19 10:55] jnothman commented on #2969
Good to know. Is be happy to see a quick patch to liblinear raise an error.

perhaps adjust the sparse checks in estimator_checks to include a 64bit
index and we'd see this analysis for more than just the common estimators

On 19 Jun 2017 8:24 pm, "Roman Yurchak" <notifications@github.com> wrote:

To give an update on this issue, below are the test status of a few common
estimators applied to a CS

[2017-06-19 12:12] GaelVaroquaux commented on #9076
If we can make it simple enough and robust enough to be used during
teaching.

[2017-06-19 12:16] GaelVaroquaux commented on #9142
Agreed

[2017-06-19 12:26] qinhanmin2014 commented on #7893
It happened again in https://ci.appveyor.com/project/sklearn-ci/scikit-learn/build/1.0.14629/job/t8udw2qky46u5ewm (#9108). CI become green after an empty commit. The wrong result in three cases are exactly the same(wrong result:613.0583877392909, right result:613.0583877392893). In order to prevent such confusion, do you agree to change the `decimal` restriction in `assert_array_almost_equal` from

[2017-06-19 13:02] jnothman commented on #7893
I think it's okay to reduce the precision... but why is the test
non-deterministic?

On 19 June 2017 at 22:26, Hanmin Qin <notifications@github.com> wrote:

[2017-06-19 13:15] qinhanmin2014 commented on #7893
@jnothman
Thanks. I also feel strange. I read the source code and don't find any mistake currently. Since the error only happen for python3.5 in 32-bit Windows, maybe it's a bug for python3.5(new python) in 32-bit Windows(old Windows). With your support, I'll make a pull request today to close the issue.

[2017-06-19 14:03] amueller commented on #9157
I vote for bunch to enable tab-completion (not sure if ``named_estimators`` is a bunch).

[2017-06-19 14:41] rth commented on #9154
With random `patient_matrices` and `control_matrices` I get a a ~0.5 accuracy score using your first code sample, as expected. Did you normalize `X` to [0, 1] (or similar) for SVM? What is `clf.score(X, Y)`? Have you tried  a linear model first (e.g. `LogisticRegression`) to check that your code is working?

[2017-06-19 14:49] LBlnd commented on #9154
I didn't normalize anything; I'm using matrices with values in [-1,1].
`clf.score(X, Y)` gives the percentage of predictions (for` X`) that match the correct value (`Y`).
I have tried `LogisticRegression`, `SVC` and `LinearSVC`; all of them give me the same result (0% accuracy on new matrices).

[2017-06-19 14:56] rth commented on #9154
OK, thanks for the details! Yes, but what the actual value of `clf.score(X, Y)`: `1.0`? Well your code works as expected with random data,
[code]
I think. So the question is really, is there anything in the actual data you are using that could explain such difference in the results. Alternatively, trying to reproduce this issue with some synthetic data (or sharing your data) would also help unders

[2017-06-19 15:02] LBlnd commented on #9154
`clf.score(X,Y)` always return `0.0` when `X` is a list of new matrices (not the ones used for training).
Well, the datas are matrices computed from IRM from an open dataset, but I have a lot of preprocessing. I'll share the previous code if that helps.

Thanks for your answers!

[2017-06-19 15:14] rth commented on #9154
What I meant was, that I was wondering whether the training score was close 1.0 or not (i.e.  when `X` , `y` *are* the matrices used for training) ..

Or maybe just the result of your preprocessing (those 2 matrices `(50, 256, 256)`..)?

[2017-06-19 15:15] LBlnd commented on #9154
Here is how to get the same matrices that I use:

[code]

[2017-06-19 15:17] LBlnd commented on #9154
Ooooh Ok I finally get it, sorry I took me so long ^^'
 `clf.score(X,Y)` is `1.0`.

[2017-06-19 15:26] daxaxelrod opened #9164 "Sklearn Imports but main modules not accessible."
Hi! I have installed python 3.6 and installed sklearn through http://www.lfd.uci.edu/~gohlke/pythonlibs/ because my work firewall make pip pretty useless. I also looked on pypi for a win32 scikit package for python 3.6 but its not out yet. When I run the install of the wheel, I get no issues but when I import sklearn, I dont have access to any modules :(

[code]
##result of dir
['__SKLEARN_SETUP__

[2017-06-19 15:35] LBlnd commented on #9154
And: [patient_matrices.zip](https://github.com/scikit-learn/scikit-learn/files/1085498/patient_matrices.zip)

[2017-06-19 16:53] #9148 closed

[2017-06-19 18:35] amueller commented on #9164
It's expected behavior that the top level namespace doesn't contain anything. You need to explicitly import the module you want to use, as shown in any example code.

What is the error on
[code]
That should work on scikit-learn>=0.18

[2017-06-19 18:37] amueller commented on #9154
The issue tracker is not for usage questions, use stackoverflow please.

[2017-06-19 18:37] #9154 closed

[2017-06-19 18:40] amueller opened #9165 "travis flake8 checks all files, not only python files?"
I'm a bit surprised that this hasn't bitten us and I feel like I'm missing something obvious (because why doesn't this always fail for rst files?)
Anyhow changing the mailmap or the travis config seems to make it fail, at least for me locally and in the 0.18.X branch:
https://travis-ci.org/scikit-learn/scikit-learn/jobs/244582500

[2017-06-19 19:07] #4931 closed

[2017-06-19 19:33] #5814 closed

[2017-06-19 19:34] jmschrei commented on #5814
Fixed via #9131

[2017-06-19 20:21] #9164 closed

[2017-06-19 20:27] pganeshGapps commented on #1188
Yes, we can use Levenshtein distance instead of the usual euclidean_distances in a modified version of kmeans class. These modifications be carried out at Vectorspace classification, centroid(medoid) calculation and convergence steps. And hence, doing these we lead to kmedoids clustering only

[2017-06-19 20:39] jmschrei commented on #9153
This link appears good for those who can't read that article:
https://stats.stackexchange.com/questions/96739/what-is-the-632-rule-in-bootstrapping

Is this widely used in practice? It looks interesting to me. Perhaps a
"bootstrap = True/False" option for cross validation?

On Sun, Jun 18, 2017 at 11:07 PM, Gael Varoquaux <notifications@github.com>
wrote:

[2017-06-19 20:41] jmschrei commented on #9146
cupy is said to support some cython level operations, but I haven't tried
it out yet: https://github.com/cupy/cupy/issues/130

On Sun, Jun 18, 2017 at 11:08 PM, Joel Nothman <notifications@github.com>
wrote:

[2017-06-19 21:10] ClimbsRocks commented on #9146
Thanks for the discussion points, everybody! @jmschrei keep us posted if you do spend more time on the Cython level operations in CuPy.

[2017-06-19 22:26] jnothman commented on #9148
why did you close?

On 20 Jun 2017 2:53 am, "Nate Guerin" <notifications@github.com> wrote:

[2017-06-19 22:28] sahildua2305 commented on #5953
Down for me as well.

[2017-06-19 22:30] jnothman opened #9170 "No test coverage for CountVectorizer with ngram_range minimum > 1"
It seems we always test with ngram_range=(1,n).

[2017-06-19 22:34] jnothman commented on #1188
we'd rather support k medoids which can handle any metric. should come soon

On 20 Jun 2017 6:27 am, "pganesh" <notifications@github.com> wrote:

[2017-06-20 04:06] qinhanmin2014 opened #9171 "How do we handle existing pep8 errors?"
#### Description

Travis only test pep8 according to the diff. There are many pep8 errors not only in the example but also in the main code repository(/sklearn). Should we fix them?

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2017-06-20 04:14] jnothman opened #9172 "plot_stock_market example may fail in quotes_historical_google"
We recently changed `plot_stock_market` to use Google's API, not Yahoo's. It looks like it can occasionally result in an exception when Google's API gives us an empty response:

[code]

We should retry when there is an empty response. Or at least it should probably not fail the entire build.

[2017-06-20 04:41] jnothman commented on #9171
Generally, no. We avoid fixing existing errors except when we change that code, in order to avoid creating merge conflicts for open PRs. Admittedly, this means they often will not get fixed.

Since most examples get changed less than main library code, and since we present that code as exemplary, I think a case could be made for fixing their PEP8 errors en masse.

[2017-06-20 04:41] #9171 closed

[2017-06-20 07:39] RokoMijic commented on #3754
Actually I have changed my mind about this. Using dask.distributed for the inner loop and the outer loop leads to instability, at least with a Jupyter notebook.

What seems to work well is dask for the outer loop, and the default Joblib/multiprocessing for the inner loop.

[2017-06-20 08:26] nimrodta opened #9174 "SVC and OneVsOneClassifier decision_function inconsistent on sub-sample"
Hi,

I'm seeing inconsistent numerical results with SVC's decision_function.
When estimated over an entire batch of samples ( (n_samples, n_features) matrix ) compared to analyzing sample-by-sample, the results are not the same.
This is true for both the individual numerical values per sample and the overall distribution of the results.

**The model is SVC with RBF kernel, for a 3-class classifica

[2017-06-20 11:21] DanaAverbuch opened #9175 "decision_function"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2017-06-20 11:22] #9175 closed

[2017-06-20 11:54] shubhamchaudhary commented on #5938
Just bringing this back up again. I believe factorization machine should be included in sklearn. Is it worthwhile now?

[2017-06-20 11:59] GaelVaroquaux commented on #5938
The path forward would be to first move one of the two above-mentionned
library (fastFM or pyFM) in scikit-learn-contrib, to be able to QA it and
to perform possible API adaptation. The one to choose is the best quality
one.

[2017-06-20 12:32] chkoar opened #9176 "Unused argument in BaseBagging's method"
Is there a need for the `max_depth` argument (and the related docstring) in the private `_fit` method of the `BaseBagging` class?
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/bagging.py#L249

[2017-06-20 12:47] psinger commented on #6353
Push! (sorry for that)

[2017-06-20 12:48] #8979 closed

[2017-06-20 13:01] glemaitre commented on #9176
It is used in `IsolationForest` apparently:
https://github.com/scikit-learn/scikit-learn/blob/14031f6/sklearn/ensemble/iforest.py#L196

[2017-06-20 13:05] rth commented on #9134
@nasrallah Also related discussion in https://github.com/scikit-learn/scikit-learn/issues/6353 ...

[2017-06-20 13:12] chkoar commented on #9176
@glemaitre Oh, I didn't notice it. Thanks.

[2017-06-20 13:12] #9176 closed

[2017-06-20 13:14] glemaitre commented on #9176
I needed to git blame to find out ;)

[2017-06-20 13:18] chkoar commented on #9176
@glemaitre I was on the go and I used the github's searching with chrome mobile 😫

[2017-06-20 13:25] DanaAverbuch commented on #9174
Hi sklearn owners,
Is it posible the problam is in lines 422 and 423?
[code]
It seems the lack of axis argument is influencing the downstream calculations.

Should this function cope with a single sample array?

[2017-06-20 13:58] tomMoral opened #9178 "Non thread-safe test seeding"
In some of the test, we use the global random number generator (rng) of numpy, seeded to 0 `np.random.seed(0)`.
This is not thread safe and should be corrected to be consistent with most of the testing suit.

I think the correct code should use `from sklearn.utils import check_random_state`, replace the seeding operation by `rng = check_random_state(0)` and use the `rng` object instead of `np.rand

[2017-06-20 14:46] mblondel commented on #5938
Are you aware of [polylearn](https://github.com/scikit-learn-contrib/polylearn)? It is faster than fastFM according to @vene's benchmarks!

[2017-06-20 14:49] GaelVaroquaux commented on #5938
Indeed. Are forgot about polylearn. If people want FM in scikit-learn,
porting the corresponding models from polylearn to scikit-learn is
probably the best route.

[2017-06-20 14:50] amueller commented on #9174
Could you please provide a self-contained example that generates the model from built-in or synthetic data?

[2017-06-20 14:56] amueller commented on #9172
This seems to be a different error than what I see in #9167, which is
[code]

[2017-06-20 14:57] amueller commented on #9172
FYI this is blocking 0.18.2

[2017-06-20 14:57] DanaAverbuch commented on #9174
Here you go:

[code]

[2017-06-20 15:00] amueller commented on #8913
wait, did I break this? This is the one where we need to compute the approximate mode of the binomial distribution, right?

[2017-06-20 15:32] eetuko commented on #6147
This problem is back in 0.18, downgrading it to 0.17.1 resolves it.
I don't know if it is normal ?

[2017-06-20 15:45] amueller commented on #8913
Only skimmed the issue but looks like this is actually doing the best possible solution, but that solution is unexpected?

[2017-06-20 15:48] amueller commented on #7048
closing as no reply / usage question.

[2017-06-20 15:48] #7048 closed

[2017-06-20 15:51] amueller commented on #6147
@eetuko can you please open a new issue and with code to reproduce. And did you use 0.18 or 0.18.1?

[2017-06-20 15:54] amueller commented on #9178
Thanks. Are they actually using the global random state?

[2017-06-20 16:05] amueller commented on #9172
hm so we are not checking examples on python2.7 on master, I guess?

[2017-06-20 16:09] amueller commented on #9172
Also uses numpy.stack with was introduced in numpy 1.10.0: https://docs.scipy.org/doc/numpy/reference/generated/numpy.stack.html

[2017-06-20 16:19] amueller commented on #8992
@jnothman do you think this is realistic to tackle for 0.19?

[2017-06-20 16:51] tomMoral commented on #9178
I did not check all of them but at least for `test_kd_tree.py` and `test_ball_tree.py`, they use the global random state at some point,*e.g.*

[code]

I think this should be changed to
[code]

[2017-06-20 17:18] vene commented on #8913
That is my point too, I think the current output is "best possible" given that the actual constraints can't be fulfilled.

[2017-06-20 17:21] amueller commented on #9178
yup

[2017-06-20 17:34] tomMoral commented on #9178
I think I can take it.
Should I also change and add a random seed for test where no seed is given yet?

[2017-06-20 17:45] amueller opened #9183 "out of date list of scorers in user guide"
http://scikit-learn.org/dev/modules/model_evaluation.html

the table at the top is out of date with the actually scorers that we have. It's a bit tricky to maintain this, but I think we should try to keep it up to date.

[2017-06-20 18:09] amueller commented on #6231
Hm so we make  ``labels`` a required parameter (with deprecation)?

and do we want to store the labels in the scorer actually? we can also just make it a required argument of the ``__call__`` and always provide it in GridSearchCV and cross_val_score etc.

In general this problem also happens for the ``score`` method of ``GridSearchCV``, where we don't have ``labels``... but we stored them in ``fit

[2017-06-20 18:12] amueller commented on #6231
If we don't pass the labels along with X and y, then doing it for the built-in ones and the ``make_scorer`` ones would be quite different.

[2017-06-20 18:26] nasrallah commented on #9134
They are similar in that they both involve trying to normalize the
parameters of the Dirichlet distribution, which do not need to be
normalized. In my case, I was mistaken. I thought it ought to be
normalized, but after looking more into it I was mistaken. I think the
correct thing to do is to NOT normalize the gamma parameters, and the fix
is in the lda.perplexity() function so that it does not n

[2017-06-20 18:43] gusennan commented on #9148
@jnothman because I thought you said here to close the issue:

https://github.com/scikit-learn/scikit-learn/pull/9149#issuecomment-309432933

[2017-06-20 19:28] gg2572 commented on #6945
I think this is similar to `min_samples_leaf`. Instead of requiring an absolute number of samples in each leaf node, `min_weight_fraction_leaf` provides the option to require a fraction of samples (or weights) in each leaf. Whether the model is using weights for samples depends on the `class_weight`.

[2017-06-20 19:31] datatales2017 opened #9185 "AttributeError: 'GridSearchCV' object has no attribute 'best_params_'--- unable to figure out the problem"
[code]

[2017-06-20 20:11] amueller opened #9186 "sphinx gallery failing on 0.18.2"
Can anyone with sphinx-gallery expertise help me on this one:
https://circleci.com/gh/scikit-learn/scikit-learn/11492?utm_campaign=build-failed&utm_medium=email&utm_source=notification

It's from me trying to do a 0.18.2 release: #9167

I tried to upgrade sphinx-gallery, but that broke even more....

[2017-06-20 20:58] Titan-C commented on #9186
Is this done on a clean docs build? From the error I see it seems to look for a html file that does not exists anymore.

[2017-06-20 21:00] amueller commented on #9186
It's on Circle. Is there a cache? I just did "rebuilt without cache", let's see if that does anything.
But it should ``make clean`` beforehand....

[2017-06-20 21:02] amueller commented on #9185
You misspelled "accuracy" for the scoring. There should be an error for that.

[2017-06-20 21:09] Titan-C commented on #9186
when I push to rebuild the docs for sphinx gallery the commit message starts with
[doc build]

[2017-06-20 21:14] amueller commented on #9186
hm they are built here even the marker is not there... but whether it's there or not, it should not fail...
I think because the branch is called 0.18.2 (which maybe I shouldn't have done) it builds everything, including pdf and examples.

[2017-06-20 21:19] Titan-C commented on #9186
@amueller I don't understand your last comment

[2017-06-20 21:20] amueller commented on #9186
The name of the branch I'm on in  #9167 is ``0.18.2``.  That changes how the docs are built:
https://github.com/scikit-learn/scikit-learn/blob/master/build_tools/circle/build_doc.sh#L75

[2017-06-20 21:28] Titan-C commented on #9186
Other thing that I just notice is that scikit-learn/0.18.X is still on Sphinx-Gallery 0.1.2 which still does have the patch to use Sphinx 1.5 which came  in sphinx-gallery 0.1.7. Thus you should keep pinning Sphinx to 1.4

[2017-06-20 21:29] amueller commented on #9186
Sphinx 1.4 breaks with current docutils and so I would have to pin that, too, and maybe other stuff.
You mean this fix for 1.5, right:
https://github.com/scikit-learn/scikit-learn/pull/9167/files#diff-cc293bc3f7189fb04db7447b6ffbc49fL138

It just cherry-picked it.

[2017-06-20 21:30] amueller commented on #9186
It looks like the built might be going through now, which is really strange. the circle cache should really not be breaking the built... hm...

[2017-06-20 21:32] amueller commented on #9186
Never mind, still failing:
https://circleci.com/gh/scikit-learn/scikit-learn/11494

[2017-06-20 21:53] Titan-C commented on #9186
What you cherrypicked is for Sphinx 1.6, but you don't have the fixes for Sphinx 1.5. And know that I review The breaking change of Sphinx 1.5. It makes sense that the docs build cannot find files after the build.

That is the build will not succeed in Sphinx>1.4 unless you have Sphinx-Gallery>=0.1.7
That means you at least need to port to this branch all the changes that came with PR #7986

[2017-06-20 21:55] amueller commented on #9186
Hm but that merge didn't have the full diff because there was another upgrade before, right?

[2017-06-20 21:56] amueller commented on #9186
I guess I'll try to pin sphinx=1.4 and docutils and whatever else is needed.

[2017-06-20 21:56] Titan-C commented on #9186
Yes, I just realized that. That PR updates from 0.1.4 to 0.1.7. So you need even a previous PR #7354

[2017-06-20 21:58] amueller commented on #9186
If only we could just install a current version like a normal library and not vendor it ;)

[2017-06-20 22:02] jnothman commented on #9174
this is something else deserving a common test

On 21 Jun 2017 12:57 am, "DanaAverbuch" <notifications@github.com> wrote:

[2017-06-20 22:04] amueller opened #9189 "stop vendoring sphinx-gallery"
I really think we should not vendor sphinx-gallery. It created a whole host of problems for trying to do the 0.18.2 release. I don't really see a benefit in vendoring it, given that we can always pin the version in the CI.

We could even require a particular version in our conf.py, but the version of sphinxgallery you need is much more dependent on the version of sphinx then the version of scikit-

[2017-06-20 22:13] Titan-C commented on #9186
PR #7354 and PR #7986 barely touch things out of the package itself. But you still you need the updates in css and layout which are extremely particular to scikit-learn form PR #7354, so that won't save you in this case. Aside from that I also agree that it would be simpler if you just install it as a library and not ship it in scikit-learn

[2017-06-20 22:34] amueller commented on #9186
It's working now with a lot of pinning. Thanks for you help!

[2017-06-20 22:34] #9186 closed

[2017-06-20 23:01] #9152 closed

[2017-06-20 23:05] jnothman commented on #8992
seeing as it's not been diagnosed fully and we have basically a rewrite of
tsne in the works for 0.20, i think we have to say no. we do have the
option of reverting any fixes since 0.17 so that at least it is
consistently broken

On 21 Jun 2017 2:19 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-06-20 23:08] jnothman commented on #8913
I'm okay to close. but I suspect it signals that stratifiedshufflesplit is
ill-motivated and users are better off with Repeated stratifiedkfold

On 21 Jun 2017 3:19 am, "Vlad Niculae" <notifications@github.com> wrote:

[2017-06-20 23:10] jnothman commented on #9178
I would leave newly fixing random seeds for now.

On 21 Jun 2017 3:34 am, "Thomas Moreau" <notifications@github.com> wrote:

[2017-06-20 23:13] jnothman commented on #9183
we could do something fancy to ensure maintenance like annotate the
object's, compile the doc string in code and have it included by shinx (or
simply appended to the docstring of get_scorer).

On 21 Jun 2017 3:45 am, "Andreas Mueller" <notifications@github.com> wrote:

http://scikit-learn.org/dev/modules/model_evaluation.html

the table at the top is out of date with the actually scorers that we h

[2017-06-20 23:24] jnothman commented on #6231
this isn't just an issue with scoring. We repeatedly get bugs due to our
code assuming that the full set of classes is present in fit's y (see also
#8100). If classes_ was provided as a constructor to all classifiers rather
than being something produced by them, it would simplify a lot of code and
reduce a lot of bug risk (but it would reduce usability in the
hypothetically "normal" case where abs

[2017-06-20 23:26] jnothman commented on #9148
Sorry, my mind is getting jumbled in all the issues.

On 21 June 2017 at 04:43, Nate Guerin <notifications@github.com> wrote:

[2017-06-20 23:42] jnothman opened #9191 "Remove unused imports"
`pyflakes` reports that we have many unused imports and some variables. This is probably a result of us only running flake8 on diffs. Unlike pep8 issues, I think these should be fixed (and `# noqa` used where we resolve not to fix):

[code]

We should also consider running pyflakes on the entirety of changed files in CI even if we only run pep8 on diffs.

[2017-06-21 00:07] jimmywan commented on #5523
Can someone provide a general update on the state of the world wrt this issue?

Will pandas `DataFrame` support always be a YMMV thing?
Guidance on what is/isn't considered safe for use with a pandas `DataFrame` instead of just an `ndarray` would be helpful. Perhaps something along the lines of the following (MADE UP EXAMPLE TABLE):

module/category|can safely consume pandas DataFrame
--|--
sklear

[2017-06-21 01:04] dennisobrien opened #9193 "add support for groups in train_test_split"
`train_test_split` has support for options 'stratify' and 'shuffle' but not 'groups'.

I'm interested in adding support for 'groups' to `train_test_split` (so that all samples from the same group will be in either train or test but not both).  In 0.18.1 there is support for the option 'stratify' and in master there is recently added support for 'shuffle'.  If others think it might be useful I'd li

[2017-06-21 01:06] dennisobrien commented on #9193
Related to #8844 and #8845

[2017-06-21 03:16] amueller commented on #9193
Hm I'm not sure we want to go overboard with this helper.
You can do
[code]

[2017-06-21 03:18] amueller commented on #9191
+1

[2017-06-21 03:24] amueller commented on #5523
This hinges critically on what you mean by "Can safely consume pandas DataFrame". If you mean a DataFrame containing only float numbers, we guarantee that everything will work. If there is even a single string anywhere, nothing will work.

I think any scikit-learn estimator returning a dataframe for any non-trivial (or maybe even trivial) operation is something that might never happen (though It w

[2017-06-21 03:25] amueller commented on #5523
#9012 will happen and will become stable, the PR is a first iteration.
#6425 is likely to happen, though it is not entirely related to pandas.
#3886 is indeed superceded by #9012

[2017-06-21 03:46] jnothman commented on #5523
The functionality #6425 is currently implemented (for some transformers and
extensible to others) via singledispatch in
https://codecov.io/gh/TeamHG-Memex/eli5 for what it's worth.

On 21 June 2017 at 13:25, Andreas Mueller <notifications@github.com> wrote:

[2017-06-21 03:52] amueller commented on #5523
Oh and when I say " If you mean a DataFrame containing only float numbers, we guarantee that everything will work." I mean with location-based column indexing. training and test set columns are assumed to be the same by position.

[2017-06-21 05:12] dennisobrien commented on #9193
Okay, makes sense.  That snippet is much more concise than the changes I made locally to `train_test_split` to support groups.

[2017-06-21 05:24] souravsingh commented on #9191
@amueller I am interested in working on the issue

[2017-06-21 06:53] tomMoral commented on #9178
I changed the obvious ones in the joined PR. Let me know if it is ok.

[2017-06-21 08:10] glemaitre commented on #9191
@souravsingh go ahead

[2017-06-21 10:14] mbrio commented on #5991
I can certainly state that running StratifiedShuffleSplit on a large number of classes still is incredibly slow. I began a process about 10 hours ago on a dataset with many classes (>1000) that is only 5GB and it has not yet completed.

[2017-06-21 10:37] jnothman commented on #5991
How does it compare to RepeatedStratifiedKFold? Is there a reason to prefer StratifiedShuffleSplit over that?

[2017-06-21 11:11] jnothman commented on #5991
I agree with @arthurmensch that the repeated `np.where((y == class_i))` is absurd.

I also have a much simpler implementation of `_approximate_mode` (ping @amueller who will, I'm sure, be pleased), which we can throw in if it's worth changing the determinism given a fixed seed:
[code]

I am, however, still not entirely convinced that we need `StratifiedShuffleSplit`, really.

[2017-06-21 11:28] jnothman commented on #5991
Btw, the code in the original post:
[code]

I think this can be done as:

[code]
(Yes, I know it's asymptotically slower by a logarithmic factor.)

[2017-06-21 11:31] jnothman commented on #5991
If `train_size + test_size < 100%` we also have the option to permute `n_i[i] + t_i[i]` rather than `class_counts[i]`

[2017-06-21 13:36] mbrio commented on #5991
@jnothman I was under the impression that the *KFold classes did not allow you to supply values for the % of training vs test data; this was the reason behind my use of `StratifiedShuffleSplit`. Also, I'm not using the dev release of scikit so I do not have access to `RepeatedStratifiedKFold`; that's introduced in 0.19-dev correct?. Finally, since the data I'm using is very large I'm using a split

[2017-06-21 14:09] jnothman commented on #5991
Okay. I get that wanting a smaller portion of the data for training may be
appropriate. A stratified sample from StratifiedKFold could potentially be
another solution there. Hmm. Perhaps I've been under-thinking being
unsettled about StratifiedShuffleSplit.

In any case it can be made faster.

On 21 June 2017 at 23:36, Michael Diolosa <notifications@github.com> wrote:

[2017-06-21 16:07] jimmywan commented on #5523
I think that's good enough for us.

We are using a pipeline of custom components (thin wrappers around existing tooling that is not pipeline friendly) to convert mixed types (strings, floats, and ints) into floats via encoding/scaling before reaching scikit-learn components such as selectors or models.

[2017-06-21 23:02] kmike opened #9196 "SVC.coef_ and NuSVC.coef_ don't work as documented"
#### Description

`SVC.coef_` and `NuSVC.coef_` have a shape `(n_class * (n_class-1) / 2, n_features)` instead of documented `(n_class-1, n_features)`.

#### Steps/Code to Reproduce
[code]

#### Expected Results

According to docs shape should be `(3, 20)`.

#### Actual Results

Shape is `(6, 20)`.

By the way, documented dimension is inconsistent with other `coef_` parameters of linear classifier

[2017-06-21 23:41] jnothman commented on #9196
It looks like what's being output corresponds to OvO?

On 22 June 2017 at 09:02, Mikhail Korobov <notifications@github.com> wrote:

[2017-06-21 23:43] kmike commented on #9196
Yep.

[2017-06-22 12:42] yuyu2172 commented on #9146
What kind of operations do you want to call at Cython level? Right now, low level functions such as wrappers for cuBLAS are exported at Cython level.

[2017-06-22 12:53] tttthomasssss opened #9199 "Fitting a NearestNeighbors model fails with sparse input and a callable as metric"
#### Description
Fitting a `NearestNeighbors` model fails when a) the distance `metric` used is a `callable` and b) the input to the `NearestNeighbors` model is sparse.

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown when passing a callable as metric with sparse input

#### Actual Results
[code]

#### Some Analysis/Wild Speculation
The problem seems to come from the

[2017-06-22 13:05] jnothman commented on #9199
I think this may be fixed in master due to #9145

[2017-06-22 13:06] jnothman commented on #9199
B

[2017-06-22 13:06] jnothman commented on #9199
Please check

[2017-06-22 15:12] mblondel commented on #1188
While k-medoids could be useful too, k-means *can* support custom metrics. One just needs to be able to solve two problems:
- given a sample x, find its closest centroid: argmin_j d(x, c_j)
- given samples x_1, ..., x_|c_j| that belong to c_j, update c_j: argmax_c \sum_i d(c, x_i)

The first problem is clearly easy.

The second problem means "find the centroid that minimizes the distance to all po

[2017-06-22 15:26] tttthomasssss commented on #9199
I just cloned `master` and it results in the same error. The codeline I referenced above was actually from `master` as well.

[code]

#### Versions
Darwin-15.6.0-x86_64-i386-64bit
Python 3.5.1 (default, Dec  8 2015, 06:00:08)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]
NumPy 1.13.0
SciPy 0.19.0
Scikit-Learn 0.19.dev0

[2017-06-22 17:10] Progyan1997 opened #9201 "pip install scikit-learn fails in my virtualenv"
When I'm installing the package following shows up:

[code]

[2017-06-22 18:16] root-sudip commented on #9201
do u have installed numpy on your system?? @Progyan1997

[2017-06-22 20:11] tttthomasssss commented on #9199
A very simple fix would be to change [Line 214](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neighbors/base.py#L214) in [`sklearn/neighbors/base.py`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neighbors/base.py) from

[code]
to
[code]

[2017-06-22 21:11] mcasl opened #9203 "sample_weight parameter shape error in GridSearchCV"
#### Description
GridSearchCV is not capable of splitting sample_weight parameter when used in fit_param.

I posted a full example and code for reproducibility on StackOverflow: [link to example and code](https://stackoverflow.com/questions/44661926/sample-weight-parameter-shape-error-in-scikit-learn-gridsearchcv)
Now I firmly believe it is a bug.

[2017-06-22 21:19] matthew-brett opened #9204 "Can someone upload a couple of missing wheels to pypi please?"
See: https://github.com/MacPython/scikit-learn-wheels/pull/2

New wheels built via https://travis-ci.org/MacPython/scikit-learn-wheels/builds/245931368

Can someone upload the two new (missing) wheels to pypi?

https://3f23b170c54c2533c070-1c8a9b3114517dc5fe17b7c3f8c63a43.ssl.cf2.rackcdn.com/scikit_learn-0.18.2-cp36-cp36m-manylinux1_x86_64.whl

https://3f23b170c54c2533c070-1c8a9b3114517dc5fe17b7c3

[2017-06-22 21:36] kevinlmh commented on #9183
I would like to work on this. I can update the table by hand for now.

[2017-06-22 22:01] jnothman commented on #1188
But is it worth developing a KMeans for a number of metrics (or with a
generic approximated optimisation) in scikit-learn when KMedoids may
suffiice?

On 23 June 2017 at 01:12, Mathieu Blondel <notifications@github.com> wrote:

[2017-06-22 22:25] jnothman commented on #9199
:( Sorry we didn't fix this in the previous patch.

Pull request welcome, with a test.

On 23 June 2017 at 06:12, Thomas <notifications@github.com> wrote:

[2017-06-22 22:51] flaviomartins commented on #1188
I've recently modified the k-means implementation on sklearn to use different distances. You can pass it parameters metric and metric_kwargs. However, It does not have an API to plug a custom M-step.I can contribute this if you are interested.

At the very least, it should be enough to support the cosine distance as an alternative to euclidean.

[2017-06-22 22:53] jnothman commented on #9203
please provide a minimal snippet of sufficient code to reproduce the issue.

On 23 Jun 2017 7:11 am, "Manuel Castejon Limas" <notifications@github.com>
wrote:

[2017-06-22 22:55] jnothman commented on #9183
go for it

On 23 Jun 2017 7:36 am, "Minghui Liu" <notifications@github.com> wrote:

[2017-06-22 22:55] tttthomasssss commented on #9199
Cool, I'll submit a PR along with a test for it.

[2017-06-23 02:24] mblondel commented on #1188
I think the medoid update step can be more expensive than the centroid update step. Since you need to find the point that minimizes the distance to all other points within the same cluster, the cost for updating the medoid of one cluster is quadratic in the cluster size. For unbalanced clusters, this could have terrible worst-case complexity.

I think it can be nice to find cluster representatives

[2017-06-23 03:18] jnothman commented on #1188
yes I thought same about a separate class bring worthwhile and then
wondered if the initialisation techniques were at all portable to other
metrics

You're right about asymptotic complexity in KMedoids remaining O(n^2) per
iteration if I'm reasoning correctly. One could approximate the medoid
update from a sample (but same could be said of KMeans). At least in
KMedoids one can calculate pairwise d

[2017-06-23 05:40] #9178 closed

[2017-06-23 05:51] Progyan1997 commented on #9201
Yes I already installed NumPy and SciPy

On Jun 22, 2017 11:47 PM, "Sudip Das" <notifications@github.com> wrote:

[2017-06-23 06:51] root-sudip commented on #9201
ok, post the full error otherwise i can't help you.

[2017-06-23 08:03] mcasl commented on #9203
[code]

 This code produces the following error:
`
ValueError: Found a sample_weight array with shape (1000,) for an input with shape (666, 1). sample_weight cannot be broadcast.`

[2017-06-23 08:21] mcasl commented on #9203
After removing the square brackets it works well, but now how can I pass multiple sample_weight vectors?
[code]

[2017-06-23 08:55] matthew-brett commented on #9204
I'm happy to do it if someone gives me access : user matthew.brett on pypi.

[2017-06-23 12:51] Progyan1997 commented on #9201
Here:
[code]

[2017-06-23 13:14] root-sudip commented on #9201
yes, You need to install openblas or lapack on your system. I think those are not installed still now on your machine.

[2017-06-23 13:19] glemaitre commented on #9201
@root-sudip This is not related to openblas or lapack. You should install `python-dev` or `python-devel` depending of your distribution.

The important message in the traceback is:

[code]

[2017-06-23 13:24] root-sudip commented on #9201
ohh okk,
 thanks @glemaitre .

[2017-06-23 13:27] glemaitre commented on #9201
thanks

At least I hope so :D We could have trouble with blas later on ;)

[2017-06-23 13:47] Progyan1997 commented on #9201
@glemaitre Still couldn't find a way with
[code]

[2017-06-23 13:52] glemaitre commented on #9201
no you should install `python-dev` via the system package manager. For ubuntu it should be:
[code]

[2017-06-23 13:53] glemaitre commented on #9201
You can refer to:

https://github.com/bmcfee/resampy/issues/43

[2017-06-23 14:16] Progyan1997 commented on #9201
@glemaitre Thank you so much. Solved it!
@root-sudip Thanks for your support.

[2017-06-23 14:16] #9201 closed

[2017-06-23 23:53] kevinlmh commented on #9183
Hi. I am having some trouble running make `html under` under `doc` folder.
This is the error:
[code]

[2017-06-24 04:54] jrbourbeau opened #9209 "Typo in the GradientBoostingClassifier `predict` method docstring"
#### Description

Small typo in the GradientBoostingClassifier `predict` method docstring. Should replace
[code]
 with
[code]

#### Versions

[code]

[2017-06-24 05:52] oneHuster opened #9211 "No matter how many times you try the result of K-means++ is stable"
#### Description

I want to know why the result of K-means is all the same while I tried by my own codes that iter 300 or more. As for small dataset , it's always changeable. I don't know why.
#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2017-06-24 09:09] linrio opened #9213 "In linear_model.LinearRegression: ValueError: array must not contain infs or NaNs"
#### Description

I run the **linear_model.LinearRegression()** function. I have filtered the nan and inf value by `numpy.nan_to_num(X)`.

#### Steps/Code to Reproduce

[code]

Result:

#### Expected Results

#### Actual Results

#### Versions

[2017-06-24 13:36] KatrinaLOren opened #9214 "Why spectral clustering show this warning?"
dear all,

when i run spectral clustering code in python this warning is shown:
C:\ProgramData\Anaconda2\lib\site-packages\sklearn\manifold\spectral_embedding_.py:229: UserWarning: **Graph is not fully connected, spectral embedding may not work as expected.
  warnings.warn("Graph is not fully connected, spectral embedding"**
 Could anyone explain why this warning is shown, what's wrong?

[2017-06-24 13:55] agramfort commented on #9213
do you have a feature that is constant?

[2017-06-24 13:58] #9203 closed

[2017-06-24 13:58] jnothman commented on #9203
I don't think this is a usage we intend to handle. Nor do we expect to,
sorry. It's not so hard to implement it yourself, though.

On 23 Jun 2017 6:21 pm, "Manuel Castejon Limas" <notifications@github.com>
wrote:

After removing the square brackets it works well, but now how can I pass
multiple sample_weight vectors?

validator = GridSearchCV(my_Regressor,
                     param_grid={'number_

[2017-06-24 15:13] jnothman commented on #9183
make sure scikit-learn is installed on your path

On 24 Jun 2017 9:53 am, "Minghui Liu" <notifications@github.com> wrote:

[2017-06-24 15:13] glemaitre commented on #9214
The issue is coming from the affinity matrix which is not a fully connected graph.

To help you more, you should provide a stand-alone script to reproduce the problem ? Please read https://stackoverflow.com/help/mcve.

[2017-06-24 15:14] #9209 closed

[2017-06-24 15:18] glemaitre commented on #9211
Maybe your code is buggy.

[2017-06-24 15:18] jvc2688 opened #9215 "typo in ExpSineSquared kernel documentation"
There is a typo in sklearn.gaussian_process.kernels.ExpSineSquared documentation:
k(x_i, x_j) = exp(-2 sin(pi / periodicity * d(x_i, x_j)) / length_scale)^2

It should be:
k(x_i, x_j) = exp(-2 (sin(pi / periodicity * d(x_i, x_j)) / length_scale)^2)

[2017-06-24 16:34] KatrinaLOren commented on #9214
[code]

[2017-06-24 16:40] KatrinaLOren commented on #9214
@glemaitre, I have shared the code. hope you can help me to solve this issue,
I want to share the file but is too large. Anyway, the input of this code is a symmetric adjacency matrix with 1's when an edge exists between 2 nodes and 0's elsewhere.

[2017-06-24 17:34] glemaitre commented on #9214
So the adjacency matrix that you are providing is apparently not a fully connected graph.
For example a row (and a column since this is symmetric) can be all zero and therefore one of the node will not be connected which raise the warning.

Is it the case?

[2017-06-24 18:58] ashimb9 commented on #2989
Hi all -- as you might have noticed, I recently added a [pull request](https://github.com/scikit-learn/scikit-learn/pull/9212) that implements a kNN imputation algorithm. I would very much welcome and appreciate any feedback/suggestions/criticism you might have regarding the code. Also, it would be super if anybody wanted to join in, as the development is not yet complete.
With regards to the prog

[2017-06-24 21:48] arjunjauhari commented on #9170
@jnothman I am taking this up. With a quick look at `test_text.py`, I saw `test_char_ngram_analyzer` test case do initialize ngram_range with min_n = 3. But there is no test case for `word` ngram. I will write test case to vary min_n for value > 1. Any suggestion of what range on min_n to test on?

[2017-06-25 01:24] md2030 commented on #8012
how would you make the change locally? I was not able to find the svm.cpp

[2017-06-25 02:07] jnothman commented on #9170
just range=(2,2) or something would be fine for test coverage

On 25 Jun 2017 7:48 am, "Arjun Jauhari" <notifications@github.com> wrote:

[2017-06-25 02:17] pkhlop commented on #4619
C++ implementation with python wrapper https://github.com/lvdmaaten/bhtsne
It was able to process data on which sklearn.manifold.TSNE was failing with Memory Error

[2017-06-25 02:28] jmschrei commented on #3754
Yes, I would anticipate that having dask handle the outer loop would be better. This would minimize communication cost, as you would only need to transfer data to a computer once for the outer loop, and then let the processors on that solve the inner loop, instead of submitting many jobs across all the computers.

[2017-06-25 02:44] jmschrei commented on #9189
What does vendoring it mean? Is this only used if you want to build the documentation locally?

[2017-06-25 02:51] jmschrei commented on #6231
The same issue arises in the models that support partial fit if a batch of data happens to not have a certain label. Allowing the user to specify the classes more generally might be worth pursuing. Potentially an optional parameter?

[2017-06-25 02:55] mrocklin commented on #3754
We're also decently committed to support joblib efficiently.  If anyone can
help produce a simple case for which Dask performs poorly, we'd appreciate
the feedback so that we can improve functionality in the future.

On Jun 24, 2017 19:28, "Jacob Schreiber" <notifications@github.com> wrote:

[2017-06-25 05:00] Madhu94 commented on #6779
@jnothman @amueller Could you assign this to me ?

[2017-06-25 10:17] EgorZay opened #9218 "Probable issue in ElasticNet warm_start parameter"
Grettings.

I have recently stumbled upon something that needs to be clarified, because there is a supposition that the parameter does not work as intended.
#### Description

As it is written in the documentation, `warm_start` is a bool and thus receives **True** or **False** statements. If it is set to **True**, then it reuses the solution of the previous call to fit as initialization, otherwise,

[2017-06-25 10:26] sturlamolden commented on #4619
@rjurney It is an *integer overflow* resulting in an attempt to write to an OS reserved address. The amount of physical RAM does not matter. The error can be produced on any 64-bit system. The root of the problem is the use of a 32-bit signed integer as indexer in the signature of the auxillary BLAS function ```catlas_dset```. Whoever wrote the function did not know (or care) about the difference

[2017-06-25 11:17] jnothman commented on #9218
I don't think you're correctly parsing
[code]
Operator precedence interprets this as:
[code]
Unlike in your code, there is no Boolean value being compared with `is` to None. Applying Dear Morgan's law, one could also write it as:
[code]
Note that the negated condition here is logically the case where you want to reuse the existing coefficients.

Please reopen if I have misunderstood your concern.

[2017-06-25 11:17] #9218 closed

[2017-06-25 12:13] KatrinaLOren commented on #9214
@glemaitre Thanks friend for your kind help!
the symmetric adjacency matrix wich I have is too big 6021*6021;
 I don't think in symmetric matrix some columns can all be zeros.
You are more experienced than me, and so could you Plz help me to avoid this warning??
how to turn my symmetric adjacency matrix into fully connected?

[2017-06-25 17:09] #9211 closed

[2017-06-25 21:42] jnothman opened #9223 "RFE does not document its scores_ attribute"

[2017-06-25 22:32] #6573 closed

[2017-06-26 05:48] facaiy commented on #9098
It seems that in `check_X_y`, X is cast to float32 While Y is preserved. Could you explain more details?

[2017-06-26 08:14] lakshayg opened #9225 "[Enhancement] Input shape for preprocessing.StandardScaler"
#### Description

`preprocessing.StandardScaler` takes arrays with shape [n_samples, n_features] as input. Preprocessing utilities in sklearn find use even in those applications which do not use sklearn estimators. Keeping in mind such usecases, it seems a little bit odd that the class restricts the input to 2 dimensions where it can be easily generalized to any number of dimensions.

I propose th

[2017-06-26 08:32] qinhanmin2014 commented on #9223
@jnothman seems that the problem is more than docmentation.
please have a look at the following code snipper:
![2017-06-26_162153](https://user-images.githubusercontent.com/12003569/27530532-af204968-5a8b-11e7-9c27-7ca3a5e0d733.jpg)
scores_ attribute is not exposed to users.
It's only used by developers in REFCV.

[2017-06-26 10:27] jnothman commented on #9223
Ahh I see. A comment would be good if there is none already

[2017-06-26 11:40] qinhanmin2014 commented on #9223
@jnothman Thanks. Finished.

[2017-06-26 12:12] glemaitre commented on #9189
`scikit-learn` doc is configured to use the bundled `sphinx-gallery` -> https://github.com/scikit-learn/scikit-learn/tree/master/doc/sphinxext

The same way we do it with joblib.

[2017-06-26 12:27] #9223 closed

[2017-06-26 12:46] lesteve commented on #9094
Closing since 0.18.2 has been released.

[2017-06-26 12:46] #9094 closed

[2017-06-26 12:50] glemaitre commented on #9225
I am not in favor. `scikit-learn` is firstly designed to work wiht `scikit-learn` components and I think this is already hard enough to ensure code quality and good API design with the current restrictions.

However, for the current proposal it should be possible to write your own estimator based on the [FunctionTransformer](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.Fu

[2017-06-26 12:58] vene commented on #5991
wouldn't this mean that the indices between `n_i[i] + t_i[i] + 1` and `class_counts[i]` are never selected? It seems to me that this would deterministically rule out the same samples. (but I'm likely missing something)

[2017-06-26 13:03] jnothman commented on #5991
No, you're probably right and I wasn't thinking straight. But we could use `sample_without_replacement` and let it choose which method ... not that that's worked so well in the past!

[2017-06-26 13:41] lesteve commented on #9172
Yeah we saw that during the sprint with @vene. I think we should have some simple retry mechanism to avoid this.

[2017-06-26 16:48] jmschrei commented on #9146
I'll keep you in the loop when I play around with it, but as Andreas mentioned I wouldn't keep my hopes up for it being added to sklearn anytime soon.

[2017-06-26 19:22] jengelman commented on #8498
@chenmin1107 if the trajectories are all the same length, you can treat the trajectory as one data point, and pass it in as N-dimensional data points.  If they aren't the same length, you'd have to figure out some kind of truncation scheme. This is the usual approach for traditional KNN time series classification.

[2017-06-26 19:56] #5991 closed

[2017-06-27 06:44] nnk28 opened #9231 "Scikit test"
Why did I get this at the end of the $ nosetests -v sklearn command
Ran 7166 tests in 291.899s

FAILED (SKIP=19, errors=4)

[2017-06-27 06:51] jnothman commented on #9231
You will need to provide more detail about what the errors were and how you
installed scikit-learn, and what version.

On 27 June 2017 at 16:44, nnk28 <notifications@github.com> wrote:

[2017-06-27 07:07] nnk28 commented on #9231
Installed scikit through python 2.7 using 'pip install -U scikit-learn'
The version of scikit is 0.19
More about the errors -

ERROR: sklearn.ensemble.tests.test_partial_dependence.test_plot_partial_dependence
----------------------------------------------------------------------
Traceback (most recent call last):
  File "//anaconda/lib/python2.7/site-packages/nose/case.py", line 197, in runTest

[2017-06-27 08:06] lesteve commented on #9231
It is extremely likely that the problem is on your side rather than with scikit-learn. I am going to close this one.

A few pieces of advice:
* you are using anaconda, so stick with conda to install packages unless they are not available through conda, in which case use pip.
* learn to read stacktraces. In this case, you'll see that the error happens in matplotlib and not in scikit-learn

[2017-06-27 08:06] #9231 closed

[2017-06-27 11:50] MarenMa opened #9232 "Pass coefficients to model in scikit learn"
#### Description
I would like to train a network on a dataset and then continue training on further data, i.e., to adjust the weights of my model with the help of some data and then use these weights for further training on more data.

I thought that this would be possible with the warm_start parameter in a network model.

#### Steps/Code to Reproduce
[code]

#### Expected Results
I expected the w

[2017-06-27 13:03] lesteve commented on #9232
I think your expectations are correct and this is what is happening indeed.

My guess is that you are getting confused by your debugging code. Try `weights_1 = model1.coef_.copy()`.

Having said that, I would have expected that `weights_1 is weights_2` would return `True` with `warm_start=True` and this is not the case, not entirely sure why.

[2017-06-27 13:38] MarenMa commented on #9232
Why would you expect ```weights_1 is weights_2 = True``` for ```warm_start = True```?
Assuming my description to be true I would expect weights_1 to be the same for both cases (```warm_start = True/False```) but weights_2 to differ because initial weights are zero in each case and only for the second fit call previous weights should be adopted?