[2021-02-17 21:11] marcosfelt commented on #19478
That's embarassing😂; thanks for the quick response.

[2021-02-17 21:39] DelgadoPanadero commented on #19294
Ok! We have been working this week on an example for the regression problem (and it works in the classification problem too).

The return of our method is the raw_prediction_init, an array (n_samples,n_nodes) with the values for each node and a list of lists with the (feature, comparison and threshold)  of each node.

With this result we can make the following analysis
[code]

Which results in thi

[2021-02-17 21:47] marcosfelt commented on #19478
I just realized that the problem is actually not the pipeline, but instead the cross-validate method?

[2021-02-17 22:27] dkobak commented on #18018
I ran sklearn.t-SNE on MNIST with the default learning rate (200) and with the recommended learning rate `N/early_exaggeration/4` (which is ~1500 for N=70000). The embedding is qualitatively very similar, however the difference in the final KL loss is pretty large and the high-learning-rate embedding has much larger span, showing that it's much better converged.

![sklearn-learning-rate](https://u

[2021-02-17 22:36] TomDLT commented on #18018
You are welcome to propose a PR, see [here](https://scikit-learn.org/stable/developers/contributing.html#change-the-default-value-of-a-parameter) about deprecation warning and unit testing for a change of default (see for example #18784).

[2021-02-18 04:57] mingwugmail opened #19482 "add RandomForestClassifier.save(filepath, ...) method"
All the model should have a save method, e.g. in Tensorflow:

https://www.tensorflow.org/api_docs/python/tf/keras/Model#save

and `load_model(filepath)`

[2021-02-18 06:27] vzografos commented on #14280
Opt1 works for me. Not Opt2

[2021-02-18 07:54] NicolasHug commented on #19482
We don't have a method on the estimators but you can always use `joblib.dump`, please refer to https://scikit-learn.org/stable/modules/model_persistence.html

[2021-02-18 07:54] #19482 closed

[2021-02-18 08:02] alfaro96 commented on #19478
The problem is that the `cross_validate` function does not fit the `predictor` estimator. Instead, you may set the `return_estimator` parameter to `True` for getting the estimators fitted on each split. Otherwise, you have to call `fit` for fitting the `predictor` estimator.

[2021-02-18 08:02] #19478 closed

[2021-02-18 08:02] NicolasHug commented on #19478
[code]

What you're trying to do is undefined: what should `predictor` be after the `cross_validate` call? Should it be the estimator fitted on the last split? on the whole data (that would be weird)?

Turns out it's just the exact same estimator before the call to `cross_validate`, i.e. it's an unfitted estimator and it won't have any `trailing_underscore_` attribute as these are fitted attribute

[2021-02-18 08:22] NicolasHug commented on #19294
Thanks for the example.

I have a few clarifying questions.

What is the breakdown showing? Is it the decision-path of a sample in a *single* tree? Or are there 15 trees in this ensemble (which would be strange because of `n_estimators=5` above)?

Also, considering a single line: `contribution of  0.85498 	         because column  12   <   8.13` is it the prediction of a **leaf**, i.e. the contrib

[2021-02-18 09:17] DelgadoPanadero commented on #19294
The breakdown is the contribution of each node from each tree that the sample pass through. In our example is 15 because we have 5 trees with 4 levels, so there are 3 decisions (because the first level, the father node, does not have any previous decision criterion to get in).

The value `8.13` is related with the value of the node that is reached because of the decision `column 12 < 8.13`. Howeve

[2021-02-18 09:31] marcosfelt commented on #19478
Thanks guys, this sorts it.

[2021-02-18 16:03] NicolasHug commented on #19451
With  #19462 merged, I think this can be closed. Feel free to reopen if you think there's an issue @eduardo4jesus

[2021-02-18 16:04] #19451 closed

[2021-02-18 16:20] azihna commented on #14216
I am working on linear_models

[2021-02-18 16:25] azihna commented on #14216
working on sklearn/tests/test_base.py

[2021-02-18 18:43] #18911 closed

[2021-02-18 18:52] appletree999 opened #19488 "GP regression: combined kernels in different input spaces"
Hi, this is a feature request about combining kernels in different input spaces for a Gaussian Process Regression.

Currently when you add two kernels in sklearn: k(x, x') = k1(x, x') + k2(x, x'), the kernels operate on the same input space, i.e. they operate on all the input dimensions altogether.

Is there a way to specify the input dimensions for each kernel? If you want k1 only works on the di

[2021-02-18 18:55] #19471 closed

[2021-02-18 19:11] lorentzenchr commented on #17111
Closed by #17111.

[2021-02-18 19:11] #17111 closed

[2021-02-18 20:17] FloHu opened #19489 "'feature_name' referenced before assignment"
#### Describe the bug

When I run some preprocessing on my data the line triggering the error is:

[code]

#### Steps/Code to Reproduce

It involves a bit too much preprocessing to put here but from inspecting the respective source file (see above, sklearn\feature_extraction\_dict_vectorizer.py) I have the strong suspicion that ```feature_name``` can go through all if/elif checks without being ass

[2021-02-18 22:28] azihna commented on #19416
Even if you do it through bisection, you can get bins that are too small. E.g. If you have a feature between 0 and 1 and try to get 1e9 bins for some reason or you just have a field with extremely small values (between -1e8 and 1e8 as above and try to get 10 bins in there). I can totally see why the developers put a tolerance that is very common to use in NumPy stack.

[2021-02-18 22:46] azihna commented on #19433
I just wanted to clear one wrong thing I said up there: during transform, the bin edges are actually replaced with -inf, inf. As seen [here](https://github.com/scikit-learn/scikit-learn/blob/4d60a815d84531ba91bf097e9c814460113a7b72/sklearn/preprocessing/_discretization.py#L86). Sorry for any confusion about that.

[2021-02-18 22:57] SteveKola commented on #19414
I am working on `compose/tests`.

[2021-02-18 23:09] david-cortes commented on #19416
In such case, what it should end up doing for edge calculations is an interpolation between two small values. If this is calculated as `smaller + (larger-smaller)*c`, I’m fairly certain that it’s not possible for a roundoff error to have bins that wouldn’t follow a strict ordering either:
[code]
[code]

[2021-02-19 04:28] ahg43 opened #19494 "Pipeline value error"
Hi not sure whats going on here any ideas?

[code]

[2021-02-19 07:41] alex90r7 opened #19495 "Improvement in RANSAC: is_data_valid should receive subset_idxs"
#### Describe the workflow you want to enable
In some applications of RANSAC the user needs to reject certain iterations based on the indices that were selected during sampling. For example: https://ieeexplore.ieee.org/abstract/document/6856449/, page 3, Section II, C, the authors reject samples that originate only from one sensor.

#### Describe your proposed solution
The method is_data_valid sho

[2021-02-19 08:05] gregorystrubel opened #19497 "RANSAC - perfect horizontal line generate an exception"
#### Describe the bug
points sampled from an horizontal line without noise generate an exception

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown

#### Actual Results

[code]

#### Versions
In [1]: import sklearn; sklearn.show_versions()

System:
    python: 3.8.5 (default, Sep  4 2020, 02:22:02)  [Clang 10.0.0 ]
executable: /usr/local/Caskroom/miniconda/base/envs/skl

[2021-02-19 08:14] NicolasHug commented on #19494
Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal.

[2021-02-19 08:15] NicolasHug commented on #19489
Could you trim it down to something that still reproduces the issue?

[2021-02-19 09:34] ogrisel commented on #19450
I cannot reproduce with `StandardScaler`:

[code]

[2021-02-19 10:47] ogrisel commented on #19450
I tried with many random seeds and increasing `n_samples` to  200 as to be closer to the test in #19426 and I still cannot reproduce. Could you please give a minimal reproducer of the problem you observed with `StandardScaler` (including the traceback)?

[2021-02-19 13:53] azihna commented on #14216
One question can be should we also replace assert_warning_message and assert_no_warnings with pytest.warns(..) syntax instead. [Details](https://docs.pytest.org/en/stable/warnings.html#warns).

[2021-02-19 14:00] ogrisel commented on #19137
Note that we could provide both macos/arm64 wheels and universal2 wheels, assuming that numpy and scipy do it.

universal2 wheels for numpy and scipy might be challenging to generate because those vendor openblas which has to be partially built by gfortran which cannot natively generate fat universal2 binaries. scipy also has other fortran compiled extensions (l-bfgs, arpack....). An additional me

[2021-02-19 14:03] rth commented on #14216
Yes, you can replace them as well.

[2021-02-19 16:22] RamziRahli commented on #18138
can someone share the solution please ??????

[2021-02-19 18:26] taha-yassine opened #19505 "sklearn.manifold.locally_linear_embedding() enforces use of euclidean distance when passing a NearestNeighbors instance with a precomputed distance matrix as parameter"
#### Describe the bug

When calling the `locally_linear_embedding()` method with a _NearestNeighbors_ instance as its `X` parameter, the euclidean distance is always used in the standard version of the algorithm (`method = 'standard'`) defeating the purpose of passing down a _NearestNeighbors_ instance with a precomputed distance matrix (`metric = 'precomputed'`).

#### Steps/Code to Reproduce

[c

[2021-02-19 19:52] MichalRIcar commented on #18138
@RamziRahli, check https://github.com/scikit-learn/scikit-learn/issues/19285
in my case numpy+scikit team solved it by new numpy version → 1.20.01

[2021-02-19 20:41] free-soellingeraj commented on #9467
`import dill` worked for me:
[code]

[2021-02-20 06:29] anashas commented on #19414
hi, is this issue still open?

[2021-02-20 06:43] anashas commented on #19414
I am working on semi_supervised/tests.

[2021-02-20 08:23] ogrisel commented on #19270
That's a good point. However we do not a formal definition of what `decision_function` in general so while the solution you propose seems reasonable, I am not sure this is the most natural either.

For instance, an alternative would be to compute the average vote + confidence values on the training set (across all classes and samples) and subtract that quantity so that the decision values are appr

[2021-02-20 08:32] ogrisel commented on #19270
@drordotan @adrinjalali any opinion on this above?

[2021-02-20 09:23] NicolasHug commented on #19488
Closing this in favor of https://github.com/scikit-learn/scikit-learn/discussions/19487

[2021-02-20 09:23] #19488 closed

[2021-02-20 09:41] drordotan commented on #19270
I am not that familiar with this part of sklearn, but my impression was that decision_function is **already now** defined such that it should return a value larger or smaller than 0, depending on the decision result.

If this is indeed the case, then it seems to me that the current behavior can only be described as a bug, not as a "feature". What am I missing?

As for the alternative solution you

[2021-02-20 14:21] LindaK2013 opened #19512 "Clustering graphic issue"
I'm not clear on this graphic.
[(https://scikit-learn.org/stable/modules/clustering.html)]

This may sound like a "help me understand" issue, but I am concerned that the graphic is misleading.

![scikit learn issue](https://user-images.githubusercontent.com/79366684/108598613-95107000-735c-11eb-8217-d01cea59633b.png)

[2021-02-20 17:54] NicolasHug commented on #19512
Each row is a different dataset. Some of them have a ground truth of 2 clusters (e.g. row 1), some of them have 3 clusters (e.g. row 3). The last row has a ground truth of 1 cluster.

Each color corresponds to a predicted cluster.

Most estimators are passed the number of clusters at `__init__`. Some others, like AffinityPropagation, try to infer it from the data. Sometimes AffinityPropagation is

[2021-02-20 17:54] #19512 closed

[2021-02-21 00:28] ShyamDesai commented on #14312
Hello. I wanted to take this on as a first issue, but it seems that all attributes have already been documented?

[2021-02-21 00:55] ShyamDesai commented on #17791
Has this issue stalled? I would like to take it on as a first PR if possible.

[2021-02-21 02:07] sylviachadha opened #19513 "confusion matrix from sklearn.metrics with labels=[1,0] yields incorrect values for tp,tn,fp and fn."
#### Describe the bug
There are 4 possible combinations to display a confusion matrix.
Case 1 and Case 2 yield correct values for tp,tn,fp and fn however Case 3 and Case 4 yield incorrect values for tp,tn,fp and fn.

The INCORRECT values extracted in cases when LABELS=[1, 0] as seen below for Case3 and Case4.

# Correct cases
Case1               cm = confusion_matrix(y_predicted, y_actual, labels=

[2021-02-21 03:19] jnothman commented on #19513
`labels` is intended for multiclass use. As such `cm[i, j]` means "how many true `labels[i]` are predicted `labels[j]`?". In the binary case, setting `labels=[1, 0]` implies that your positive class is labelled `0` and your negative class is called `1`.

Does this match the current output? If so, how would you improve the documentation?

[2021-02-21 06:00] akshkr commented on #19354
Can I take up this issue?

[2021-02-21 09:19] j-adamczyk opened #19514 "Integrate the TruncatedSVD sign indeterminacy solution"
#### Describe the workflow you want to enable

[TruncatedSVD](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.TruncatedSVD.html) has the sign indeterminacy problem. However, the sign flip algorithm solves it, and it's already implemented in Scikit-learn. TruncatedSVD uses [randomized_svd](https://scikit-learn.org/stable/modules/generated/sklearn.utils.extmath.randomized_svd

[2021-02-21 10:26] NicolasHug commented on #19513
maybe we should explicitly say that the re-indexing affects both rows and columns?

[2021-02-21 16:28] ra312 commented on #1091
Hi, @amueller and @jnothman !
I have been looking for a cluster stability function in scikit-learn to validate time series clustering.
Thanks for your work on implementing the cluster stability measures.
Would it be possible to get referred to the scikit-learn release with your changes?  With my best efforts, I could not trace any relevant merges into the repo.
Kind regards, @ra312

[2021-02-21 19:43] thomasjpfan opened #19518 "StandardScalar.inverse_transform accepts 1d arrays"
Discovered this while reviewing https://github.com/scikit-learn/scikit-learn/pull/19356

[code]

This is not consistent with the behavior with `MinMaxScaler`. We use this behavior in `sklearn/compose/tests/test_target.py::test_transform_target_regressor_2d_transformer`.

I would want to `ensure_2d=True` but that would be backward incompatible. Should we consider this a bug and fix it?

[2021-02-21 20:06] devirstuoso opened #19519 "Attribute error in logistic regression fit()"
#### Describe the bug

#### Steps/Code to Reproduce

#### Actual Results

#### Versions
System:
    python: 3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]
executable: C:\Users\devan\anaconda3\python.exe
   machine: Windows-10-10.0.18362-SP0

Python dependencies:
          pip: 20.3.3
   setuptools: 52.0.0.post20210125
      sklearn: 0.23.2
        numpy: 1.19.2
        scipy: 1

[2021-02-21 20:15] thomasjpfan commented on #19514
`TruncatedSVD` uses `svd_flip` for the arpack solver here:

https://github.com/scikit-learn/scikit-learn/blob/70c6ac9d04c396faaf604c2fd1d3945f25e4d6d4/sklearn/decomposition/_truncated_svd.py#L174

and by default in `randomized_svd`.

[2021-02-21 20:18] j-adamczyk commented on #19514
@thomasjpfan you're right. But this means that there is a mistake in the docs, isn't there? The sign flip assures sign determinism, so if I understand correctly the "Notes" section ([docs](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.TruncatedSVD.html)) is not true.

[2021-02-21 21:50] mnowicki6 opened #19521 "Adaboost Learning Rate Documentation"
#### Describe the issue linked to the documentation

The documentation on this page https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.AdaBoostClassifier.html

Describes the learning rate as "Learning rate shrinks the contribution of each classifier by learning_rate. There is a trade-off between learning_rate and n_estimators."

The wording of this description suggests that a highe

[2021-02-22 00:24] RamziRahli commented on #18138
@MichalRIcar I just did and it still doesn't work :/

[2021-02-22 01:03] jnothman commented on #1091
I think we'd be open to a pull request, but not I'm sure where it goes (model_selection?).

[2021-02-22 04:22] sylviachadha commented on #19513
Hello

Thanks for your feedback.
I executed with labels=[1,0] and taking positive class labelled as '0' and negative labelled as '1' as earlier i was taking the opposite, still the values extracted for tp,tn,fp and fn are incorrect.

Below are my expected and observed output which do not match.
Expected -> tn = 3, fp =1, fn =4, tp=2
Observed -> tn = 2, fp=4, fn=1, tp=3

I executed with dummy data

[2021-02-22 04:28] sylviachadha commented on #19513
Hello

For parameters 'cm (y_actual, y_predict)' then actual values are in rows and predicted in columns.
For parameters 'cm (y_predict, y_actual)' then predicted values are in rows and actual in columns.

However i am not sure how labels=[1,0] affect the arrangement because the values extracted for tp,tnfp,fn go wrong in this case.

[2021-02-22 08:20] NicolasHug commented on #19519
Your code snippet is burried in the comments so it doesn't render. Also, it's not descriptive enough as it has no data and it's not reproducible.
Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal.

Closing until

[2021-02-22 08:20] #19519 closed

[2021-02-22 08:23] NicolasHug commented on #19518
As long as `transform()` only outputs 2D arrays, I'd consider this a bug-fix.

In general I don't see any reason to support `inverse_transform(x)` for an `x` that didn't come from `transform()`

[2021-02-22 08:23] FloHu commented on #19489
Sorry for the late answer. I will try to. I also noticed that it seems to be a regression, with sklearn version 0.23 the error is not there.

Thanks @kamiyaa for the pull request.

[2021-02-22 08:37] NicolasHug commented on #19513
What this means is that `confusion_matrix(y_true, y_pred, labels=[0, 1])` should be equal to `confusion_matrix(1 - y_true, 1 - y_pred, labels=[1, 0])`. Is this not the case?

labels = [1, 0] means the following re-indexing:

- col 0 -> col 1
- col 1 -> col 0
- row 0 -> row 1
- row 1 -> row 0

So
[code]

is mapped to

[code]

this generalizes to more dimensions e.g. `[1, 0, 2]` does the exact same

[2021-02-22 09:03] leveryd opened #19522 "SECURITY: bad regex pattern in 'sklearn/externals/_arff.py' will cause 'ReDos' security problem."
#### Problem description

i found one bad regex pattern in 'sklearn/externals/_arff.py'

[code]

that pattern will cause 'ReDos' security problem,  proof of code like below

[code]

run the above code, cpu utilization will be 100% in a very long period.

more detail about 'ReDos' please see [owasp](https://owasp.org/www-community/attacks/Regular_expression_Denial_of_Service_-_ReDoS).

#### effect

[2021-02-22 09:50] ogrisel commented on #19450
Ok, I understand the failing test in #19426 better.  The problem only happens for sparse data and with weights. Here is a minimal reproducer:

[code]

The problem happens with `sklearn.utils.sparsefuncs.mean_variance_axis` which is close to 1e-16

[code]

This kind of rounding errors is expected: it is below what we can expect from numerical precision on typical float64 operations:

[code]

Howeve

[2021-02-22 10:25] ogrisel commented on #17444
#19426 is a fix for the handling of sample_weight when `normalize=True` any other linear regression model (not just `Ridge`).

To investigate the cause of the present issue (sample weight semantics), one could however try to use the minimal implementations proposed by @agramfort in the comment thread of #19426:

https://github.com/scikit-learn/scikit-learn/pull/19426#issuecomment-778814045

In par

[2021-02-22 10:32] glemaitre commented on #19522
If I am not wrong, we are just vendoring from https://github.com/renatopp/liac-arff
It would be better to solve the issue upstream and we will update the version internally.

[2021-02-22 10:39] thoranna opened #19523 "BIC and AIC scores for the Bayesian Gaussian Mixture class"
#### Describe the workflow you want to enable
The [sklearn.mixture.GaussianMixture](https://scikit-learn.org/stable/modules/generated/sklearn.mixture.GaussianMixture.html#sklearn.mixture.GaussianMixture) has built in functions to get the Akaike Information Criterion (AIK) and Bayesian Information Criterion (BIC) scores. However, the [sklearn.mixture.BayesianGaussianMixture](https://scikit-learn.or

[2021-02-22 10:44] ogrisel commented on #17444
Here is a rather minimal reproduction case that shows that it also happens with `normalize=False`:

[code]

[code]

[2021-02-22 11:42] jnothman commented on #19513
[code]
is incorrect by the explanation I gave above. tp should be `cm[1][1]` corresponding to actual label 0 being predicted as 0.

As in the documentation, you should use:
[code]

Closing since this is not a bug, but please consider submitting an improvement to our documentation.

[2021-02-22 11:42] #19513 closed

[2021-02-22 13:37] ogrisel opened #19524 "twitter commit notifications are failing"
The twitter commit notification is broken since a couple of days:

https://github.com/scikit-learn/scikit-learn/actions/workflows/twitter.yml

The error message is:

[code]

for instance here:
https://github.com/scikit-learn/scikit-learn/runs/1951514354#step:2:99

I googled a bit but I am not familiar with go and I am not sure why this has changed: maybe the base docker image is using a new versio

[2021-02-22 13:44] sherbold commented on #17926
@khazit I just saw that this bug also seems to affect ComplementNB. I guess your fix should work there as well, so I do not create a second issue.

[2021-02-22 14:30] adrinjalali commented on #19270
So the documentation for our `decision_function` says:

This description does not imply that the outputs are centered as I understand it, therefore this change would be a breaking change.

The challenge would then be to figure out how to center them. The confidence values are made sure not to override the votes, therefore I don't think taking the training set into account as suggested by @ogrisel

[2021-02-22 15:32] thomasjpfan commented on #19521
I agree that the docstring can be improved. I like the second option with the first part removed:

Because it gets straight to the point. What do you think?

[2021-02-22 16:01] mnowicki6 commented on #19521
Agreed!

[2021-02-22 16:04] thomasjpfan commented on #17926
This was fixed on `main` here: https://github.com/scikit-learn/scikit-learn/pull/18925 and will be included in the next major release.

[2021-02-22 16:10] thomasjpfan commented on #18138
@MichalRIcar @RamziRahli May you provide the dataset that causes the error for you? This will help us debug this issue.

[2021-02-22 16:10] sherbold commented on #17926
Ah, cool 👍

[2021-02-22 16:21] #17926 closed

[2021-02-22 16:25] thomasjpfan commented on #19521
If you want, you can open a pull request with your suggestion.

[2021-02-22 17:26] ra312 commented on #1091
Model_selection sounds good to me!

[2021-02-22 17:46] ra312 commented on #1091
Dear @amueller,
I might be possibly wrong, but it seems we need to code adjusted rand index (ARI).  It looks quite natural to calculate the score as you outlined above!
 for l, i in zip(labels, indices):
        for k, j in zip(labels, indices):
            # we also compute the diagonal which is a bit silly
            in_both = np.intersect1d(i, j)
            scores.append(adjusted_rand_score(l

[2021-02-22 19:53] inigohidalgo commented on #12525
Hey @roma-glushko, thanks for your code!

For anyone else having an issue with this, I had to make a very minor change to his code:

[code]

This block was missing square brackets around raw_col_name since `get_feature_names` expects a list of features.
[code]

[2021-02-22 21:15] alfaro96 commented on #19524
Re-opening because the workflow is still failing.

[2021-02-22 21:32] thomasjpfan commented on #19524
I fixed it on my end with the docker image: https://github.com/scikit-learn/scikit-learn/actions/workflows/twitter.yml

[2021-02-23 07:51] alfaro96 commented on #19524
Closing as it is working 😄.

[2021-02-23 07:51] #19524 closed

[2021-02-23 08:48] sherbold commented on #17966
Is the better error message a result of #18727? That at least resolves this issue. I will try to come up with a way to trigger the exception for smaller data, to possibly help with #6172.

[2021-02-23 13:01] peterjesus commented on #13621
Hi there, any news about this feature? Dealing with a project that requires this kind of folding and have missed it!

[2021-02-23 14:44] dhimmel opened #19533 "PolynomialFeatures: allow user defined combinations of features"
As of v0.24.1, `sklearn.preprocessing.PolynomialFeatures` [has](https://scikit-learn.org/0.24/modules/generated/sklearn.preprocessing.PolynomialFeatures) three options that determine which combinations of features are generated:

1. `degree`: the maximum number of features to combine into a polynomial feature
2. `interaction_only`: filters out any combinations that include the same feature multipl

[2021-02-23 15:00] dhimmel commented on #19533
One challenge is the user might not always know what features exist at some intermediate stage of a pipeline where `PolynomialFeatures` is applied. Therefore, perhaps combinations could also be a function that takes a list of feature names (or even just the number of features) and returns an iterable of combinations. This would allow combinations to be determined dynamically based on the input fea

[2021-02-23 15:09] glemaitre commented on #19494
You are trying to encode a numerical feature

[2021-02-23 15:09] #19494 closed

[2021-02-23 15:18] glemaitre commented on #19465
The fact that the pipeline can be created from fitted estimator is due to an inconsistency in our API: https://github.com/scikit-learn/scikit-learn/pull/8350

Most probably, you want support for freezing to avoid `fit` to be called again: https://github.com/scikit-learn/scikit-learn/issues/8370

[2021-02-23 15:22] NicolasHug commented on #19465
@glemaitre I think this is about accepting `fit_params` in `ColumnTransformer.fit` (and `fit_transform`)

[2021-02-23 15:51] ogrisel commented on #19522
@leveryd thanks for the report. I am not very familiar with the computational aspects of regular expression. Can you help us understand the cause of the problem for this particular expression? Maybe you even have a suggestion of an alternative regular expression that would not have this problem?

[2021-02-23 15:57] ogrisel commented on #19522
Actually I just saw @jnothman already found a fix.

[2021-02-23 16:03] ogrisel commented on #19533
Indeed specifying feature combinations based on names is probably safer than by position. But this would require to propagate feature metadata in transformers in a pipeline.

This is a use case to keep in mind for SLEP015 https://github.com/scikit-learn/enhancement_proposals/pull/48

[2021-02-23 16:05] ogrisel commented on #19518
I agree, please feel free to open a PR as a bugfix.

[2021-02-23 16:55] #10451 closed

[2021-02-23 17:22] cmarmo commented on #14312
Thanks @marenwestermann for checking! This is very helpful.
`n_features_in_` documentation is now tracked in #19333.
Some attributes are still undocumented : the code should now be modified as follow
[code]
and gives the following list (excepted `n_features_in_`)
- [ ] AdaBoostClassifier: feature_importances_
- [ ] AdaBoostRegressor: feature_importances_
- [ ] AgglomerativeClustering: distances_
-

[2021-02-23 18:56] nakamin commented on #5173
Hi, this issue can be closed. I wasn't able to reproduce it, and after some digging I see that the fix was implemented here https://github.com/scikit-learn/scikit-learn/pull/5104/files#diff-5e29b5d9b2eeb884f0a1b69aa52e8e7234880af4c71910fae6a1bc1b5604f13bR199
The current code is different, but the fix is still in there
https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/decomposition/_in

[2021-02-23 19:26] thomasjpfan commented on #5173
Thanks for the update @nakamin ! We also currently have common test to check that all our transformers work with memmapped data.

[2021-02-23 19:26] #5173 closed

[2021-02-23 20:11] cmarmo commented on #14312
It turns out that all detections from the script in the descriptions are false positives, I'm closing this one. Thanks to all the contributors for their helpful work!

[2021-02-23 20:11] #14312 closed

[2021-02-23 21:03] mf908 opened #19537 "TruncatedSVD arpack results unstable with float32 matrices"
#### Describe the bug
TruncatedSVD arpack results unstable with float32 matrices

#### Steps/Code to Reproduce
import numpy as np
from sklearn.decomposition import TruncatedSVD

np.random.seed(0)
mat = np.random.rand(32, 32).astype(np.float32)

svd = TruncatedSVD(algorithm='arpack', random_state=0)
print(svd.fit_transform(mat))
print(svd.fit_transform(mat))

#### Expected Results
Outputs should be

[2021-02-23 21:39] PaVim96 opened #19538 "Sequential forward selection - unsupervised fit_transform bug"
#### Describe the bug

When trying to use Sequential Forward Selection in a unsupervised setting with no target labels y an error results when trying to follow the documentation

Example:
[code]

#### Expected Results

data should be in new shape -> data.shape == (6,3)

#### Actual Results
TypeError: fit() missing 1 required positional argument: 'y'

#### Versions

System:
    python: 3.8.3 (defau

[2021-02-23 22:40] jnothman commented on #19533
This could also be achieved with FunctionTransformer.

[2021-02-23 23:31] jnothman commented on #19538
I agree, `SequentialFeatureSelector` is validating `y` when it need not place any constraints or validation on `y`, including allowing it to be None.

A pull request fixing this is very welcome. It would require an update to the docstrings, tests, `fit` signature and call to `_validate_data`.

[2021-02-24 06:23] #18968 closed

[2021-02-24 09:48] chucheria commented on #19294
Hi @NicolasHug, just checking if the example and explanation are clear or are there any other question? Any update would be helpful, thanks!

[2021-02-24 10:11] ogrisel opened #19546 "Weighted variance computation for sparse data is not numerically stable"
This issue was discovered when adding tests for #19527 (currently marked XFAIL).

Here is minimal reproduction case using the underlying private API:

https://gist.github.com/ogrisel/bd2cf3350fff5bbd5a0899fa6baf3267

The results are the following (macOS / arm64 / Python 3.9.1 / Cython 0.29.21 / clang 11.0.1):

[code]

So the `sklearn.utils.extmath._incremental_mean_and_var` function for dense nump

[2021-02-24 10:13] ogrisel commented on #19546
It would also be nice to add similar tests for non-constant but significantly non-centered random data to check the consistency between the sparse and dense array variants (incremental or not).

[2021-02-24 10:33] ogrisel opened #19547 "[RFC] Should scalers or other estimators warn when fit on constant features"
As discussed in #19527, fitting models on data with constant feature can be surprising.

For instance a `StandardScaler(with_mean=False)` fit on a column with constant values set to `1000.` will transform let those values passthough unchanged because it's constant. It can be surprising but is this a problem? Should we warn the user about the presence of such constant features?

Which estimator sho

[2021-02-24 10:43] ogrisel commented on #19546
Reading the code, I realized that for the first call, `incr_mean_variance_axis0` is delegating to `_csr_mean_variance_axis0` and `_csc_mean_variance_axis0` so those function would need to be fixed first.

Then one would need to actually chunk the constant feature into small batches of say 10 samples at a time and check that calling `incr_mean_variance_axis0` repeatedly on such data is also numeric

[2021-02-24 13:43] ogrisel commented on #19546
Note that the dense implementation `_incremental_mean_and_var` uses `np.float64` accumulators even when the input data is `np.float32`. This is not the case for the sparse implementation and could therefore explain part of the discrepancy for `np.float32` data case. But this does not explain the discrepancy observed for `np.float64` data.

[2021-02-24 13:58] ogrisel commented on #19546
The main culprit seems to be the lines:

https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/utils/sparsefuncs_fast.pyx#L155

and:

https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/utils/sparsefuncs_fast.pyx#L259

A small error in the computation of `(sum_weights[i] - sum_weights_nz[i])` is multiplied by a large quantity: the squared mean value of the column.

[2021-02-24 14:11] Aabir538 commented on #19197
Hi,
As mentioned in the documentation, the algorithm used by default is 'nipals'. Or, 'nipals' deals with missing data which is not the case of PLSRegression as it asks me to impute missing data in X before launching the analysis.
I want to be sure please if the algorithm used is 'nipals' or 'svd' ?

Thank you

Aabir

[2021-02-24 14:34] ShyamDesai commented on #10864
Looks like the above PR has stalled? Can I take a stab if the issue is still relevant?

[2021-02-24 14:41] ShyamDesai commented on #19538
Take

[2021-02-24 14:51] ogrisel commented on #19546
I am not sure how to fix this. The easiest way would be to materialize a dense representation of the the sparse columns, one at a time to avoid memory explosion and call the numerically stable `_incremental_mean_and_var` on each of them.

[2021-02-24 14:56] thomasjpfan opened #19548 "Common tests xfailed for Bicluster estimators"
https://github.com/scikit-learn/scikit-learn/pull/19542 enables bicluster estimators in common test and skips xfail tests that are failing:

- [ ] check_estimators_dtypes
- [ ] check_fit2d_1sample
- [ ] check_fit2d_1feature
- [ ] check_estimator_sparse_data
- [ ] check_methods_subset_invariance
- [ ] check_dont_overwrite_parameters
- [ ] check_fit2d_predict1d

[2021-02-24 15:32] cmarmo commented on #19538
@ShyamDesai please do! :) You can comment "Take" in the issue and it will be automatically assigned to you.

[2021-02-24 16:01] cmarmo commented on #19537
Hi @mf908 , thank you for reaching out. I have slightly modified your script:
[code]
And indeed with version 0.23.2 the output is
[code]
However, running the same code with version 0.24.1 gives the following result
[code]
It seems that the instability has been fixed in the meanwhile... the [changelog](https://scikit-learn.org/stable/whats_new/v0.24.html#changed-models) lists `TruncatedSVD` among t

[2021-02-24 16:24] cmarmo commented on #19479
Hi @mathildejutras, thanks for reaching out. Do you mind proposing a [reproducible snippet of code](https://stackoverflow.com/help/minimal-reproducible-example) using synthetic data to reproduce the issue? Thanks.

[2021-02-24 16:37] jlevy44 opened #19549 "CCA Issues from 0.23.2 -> 0.24.1"
Hi there,

I would like to report a bug that occurred when upgrading from 0.23.1 to 0.24.1. When fitting the CCA models in 0.23.2, everything appeared to be working as planned and was able to find many correspondent predictors when investigating the coefficients. The projections also appeared to demonstrate nice variability amongst samples when projecting to 2-d. However, when upgrading to 0.24.1,

[2021-02-24 16:49] ShyamDesai commented on #19538
Take

[2021-02-24 16:54] #18275 closed

[2021-02-24 17:08] cmarmo commented on #18103
Hi @nikoskr, I'm under the impression that your issue has been solved. I'm closing it: let me know if it should be reopened. Thanks!

[2021-02-24 17:08] #18103 closed

[2021-02-24 17:26] kbattocchi opened #19550 "ColumnTransformer treats empty arrays differently depending on their representation"
When specifying the columns to which to apply a transformer within a ColumnTransformer, using `[]` results in a ColumnTransformer with different internal state than using `[False, False, ...]` - in the former case, the internal transformer has been fitted on an array of shape (n,0) while in the latter case it has not been fitted, which can cause downstream problems.

#### Steps/Code to Reproduce
[

[2021-02-24 17:34] mf908 commented on #19537
Yep, looks liked 0.24 fixed the issue. Thanks!

[2021-02-24 17:37] #19537 closed

[2021-02-24 17:40] kbattocchi opened #19551 "PolynomialFeatures doesn't work correctly when degree=0"
#### Describe the bug
PolynomialFeatures.transform fails when degree=0 and the input has more than one column.

#### Steps/Code to Reproduce

[code]
#### Expected Results
No error is raised by any of the examples.

#### Actual Results
Transforming an array with more than one column fails.

#### Versions

System:
    python: 3.6.6 (v3.6.6:4cf1f54eb7, Jun 27 2018, 03:37:03) [MSC v.1900 64 bit (AMD64

[2021-02-24 19:15] nikoskr commented on #18103
Thanks Chiara

Nikos

Στις 2021-02-24 19:08, Chiara Marmo έγραψε:

--

Links:
------
[1] https://github.com/nikoskr
[2]
https://github.com/scikit-learn/scikit-learn/issues/18103#issuecomment-785228505
[3]
https://github.com/notifications/unsubscribe-auth/AGIJ4GHERA2I77DKSUN6MB3TAUXAFANCNFSM4PWBOOVA

[2021-02-24 19:17] MitalPattani commented on #12394
@trabbart  Are you still on this, I would like to start on this otherwise.

[2021-02-24 19:36] trabbart commented on #12394
I have stoped working on this and I do not have enough time to finish it in the future.

[2021-02-24 20:18] mathildejutras commented on #19479
Hi @cmarmo, here it is.

[code]

This piece of code leads to the following memory error:
[code]

[2021-02-24 20:45] MitalPattani commented on #12394
Okay, I am working on this.

[2021-02-24 21:24] adarshX opened #19552 "Remove all interactive features in sklearn. preprocessing.PolynomialFeatures"
# Remove all interactive features in sklearn. preprocessing.PolynomialFeatures

**Is there any way to remove all interactive features and only have raised power features?** That is x0,x1.. , x0^2,x1^2....
#### Ref link :
1) https://github.com/scikit-learn/scikit-learn/blob/95119c13a/sklearn/preprocessing/_data.py#L1561
2) https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.Poly

[2021-02-24 22:36] jnothman commented on #19552
No, but it's not hard to implement yourself with a FunctionTransformer

[2021-02-24 22:43] jnothman commented on #19479
Also requested in #18013 and #15895, I think we would consider a pull
request for this, although I can't immediately find academic literature
with a highly cited algorithm.

[2021-02-24 22:48] adarshX commented on #19552
Cool thanx,  btw already implemented.

[2021-02-24 22:55] jnothman commented on #19551
Why should we allow degree=0? I suspect we should raise an explicit error for degree <1

[2021-02-24 22:57] jnothman commented on #19550
Thanks.

IMO, in both cases get_feature_names should succeed, but the transformers
should not have fit called.

[2021-02-24 22:58] jnothman commented on #19549
Would you be able to give us a dataset that demonstrates this issue?

[2021-02-24 23:07] jnothman commented on #19546
Interesting.

Thoughts:
1. In the weighted case, are we already doing operations with O(n_samples) memory on the sample weights? (or is it possible that the sample weights are memmapped?) If so, maybe dense-column-at-a-time is okay.
2. Your option to "iterate explicitly over the zero value elements and multiply the weight by the square mean" sounds like it might be reasonable in a CSC with sorted

[2021-02-25 00:45] karkonium commented on #19551
Take

[2021-02-25 00:45] karkonium commented on #19551
Seems pretty easy so I'd like to work on it

[2021-02-25 01:26] jlevy44 commented on #19549
I can search for a publicly available dataset if that helps. My current dataset is private. I'll get back to you.

[2021-02-25 02:28] ShannonZ opened #19553 "Linear Regression produced wrong results if forcing the coefficients to be positive"
#### Describe the bug
sklearn.linear_model.**LinearRegression(positive = True)** produced too sparse results when used to process the attached data.  The coefficients only has one positive element and the residual if very large, R-square <0.5 .
With the same data, MATLAB would give more reasonable coefficients with R-square = 0.9987.

One of the relevant data was attached.
[data.zip](https://githu

[2021-02-25 09:15] glemaitre commented on #19553
Loading the data, I get a shape of (35, +1300). Is it correct that you have more features than samples?
I would expect `n_samples` > `n_features` to use a linear regression without any penalty.

What is the function used in matlab and with which parameter such that we can read the documentation.

On a side note, we rely on `scipy.optimize.nnls` to solve this problem. So if something is wrong, we n

[2021-02-25 09:15] glemaitre commented on #19552
Closing then :)

[2021-02-25 09:15] #19552 closed

[2021-02-25 09:17] ogrisel commented on #19546
I agree.

I agree also, but the code is going to be complex, I think. Not sure it's worth it.

Also for the non-weighted case, `sum_weights` and `sum_weights_nz` would be integers:

[code]

so if we specialize this function for the non-weighted cases to use `uint64` for instance, then we do not have catastrophic cancellation anymore and the code would still be fast.

[2021-02-25 09:21] #19450 closed

[2021-02-25 10:03] luclemag commented on #19505
Hello,
I confirm this bug, and spotted another problem. Indeed, the function 'barycenter_weights' lacks a way to compute the weights when the input is a distance matrix. Lines 62 to 64 of the file (see image below) are suited only to cases where the input to LLE is a feature matrix. They should be replaced by the computations described in the last bullet point of https://cs.nyu.edu/~roweis/lle/rel

[2021-02-25 10:05] ogrisel commented on #19549
Maybe you can also try to use synthetic data, for instance using `sklearn.datasets.make_regression(n_targets=5)` or numpy.

[2021-02-25 11:09] ogrisel commented on #19551
Maybe one could argue that for educational purpose it could be interesting to generate a single constant feature so that fitting a linear model (with an intercept) on this would be equivalent to a dummy classifier / regressor predicting the mean class probability / regression value.

But maybe this is too much of a edge case to consider of value in scikit-learn.

[2021-02-25 11:11] ogrisel commented on #19551
+1 for raising a `ValueError` stating that degree should be greater or equal than 1.

[2021-02-25 13:21] ogrisel opened #19559 "[CI] changelog check failing on PR with unresolved conflicts"
For instance: #19540 fails with:

https://github.com/scikit-learn/scikit-learn/pull/19540/checks?check_run_id=1977937609

[code]

while it passed on other PRs without conflicts. Hence I suspect that the conflicts are causing this but I am not 100% sure.

Something weird: this check should be skipped because it is labeled "No Changelog Needed". I edited the PR description to make sure that the PR w

[2021-02-25 13:24] ogrisel commented on #19559
Actually `echo "TAGGED_MILESTONE= >> $GITHUB_ENV` does not look right. But the source code seems good:

https://github.com/scikit-learn/scikit-learn/blob/main/.github/workflows/check-changelog.yml#L17

[2021-02-25 13:28] cmarmo commented on #19559
The typo fixed by  f2943c6d10f68dd2144a80ad4b12475a25ff635a is back... :( sorry

[2021-02-25 13:29] ogrisel commented on #19559
After merging `main` into the PR branch, the problem disappeared: the check-changelog check is now skipped in #19540...

[2021-02-25 13:31] ogrisel commented on #19559
It's weird, I thought github actions would always use the workflow definition of the main branch...

[2021-02-25 13:32] ogrisel commented on #19559
We can probably close this issue.

[2021-02-25 13:32] #19559 closed

[2021-02-25 14:22] kbattocchi commented on #19551
To me, it seems like there's exactly one natural definition for the behavior when degree=0.  Given an array with n columns, when interaction_only is False, for degree d>1 the output will have exactly choose(n+d, n) columns when include_bias is Trueand one less column when it's False.  Therefore, when degree is 0, this should extend to a single column of ones if include_bias is True or an empty arr

[2021-02-25 14:52] kbattocchi commented on #19550
@jnothman That seems reasonable - I just wasn't sure if there were also other non-`get_feature_names` code paths that might also reflect the difference in internal state.

[2021-02-25 18:12] ShyamDesai commented on #19538
Just to be clear, we would want `SequentialFitSelector` to not validate `y` specifically in the case of any unsupervised learning models?

[2021-02-25 18:24] ogrisel commented on #19551
Having a transformer that outputs an array with 0 columns (if `include_bias=False`) is weird and therefore surprising. All scikit-learn estimators will raise an error when fed with such a weird datastructure. Unsuspecting users might not understand what in there pipeline is causing such a crash in the downstream estimator. When having to make API design decisions we often try to follow the [princi

[2021-02-25 18:30] ogrisel commented on #19551
To me we should at least raise a `ValueError` when fitting a `PolynomialFeatures` with `degree=0` and `include_bias=False`.

I could accept to have `PolynomialFeatures(degree=0, include_bias=True`) that outputs a constant column of ones for the sake of composability but I don't really see the practical value, so I would not not be strongly opposed to just reject `degree=0` irrespective of the valu

[2021-02-25 18:52] kbattocchi commented on #19551
I can describe the use case that resulted in my opening this issue, but it's a bit involved.  We're working on a library for computing heterogeneous treatment effects.  One of our estimators works like this:
1. Users give us one first stage model for estimating an outcome from features and another for estimating a treatment from features
2. We use the first stage models to compute outcome and trea

[2021-02-25 20:08] xinyue96 commented on #16151
I encountered the same error

[2021-02-25 20:11] ogrisel commented on #8710
@odedbd the prediction should be fixed in #19555 and your minimal reproducer passes on this branch. Let me know if that's enough for you.

[2021-02-25 22:30] kbattocchi commented on #19551
I get what you're saying, but my colleague and I were both surprised by this _not_ working.  It seems unlikely to me that there are users setting the degree to 0 with or without a bias and then being surprised by the results since there is no other reasonable behavior when degree is 0, but even if that is a concern, why not warn instead of raising an exception so that the (admittedly uncommon) val

[2021-02-25 23:27] alpinho opened #19566 "Return correlation in f_regression function"
The [f_regression function](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.f_regression.html) returns only the F-values and corresponding p-values from step 2 of the estimation. I think it would be useful to return the correlation computed in step 1, as well.

[2021-02-26 00:53] espg opened #19567 "Haversine Distance is not working"
Haversine distance metric when using ball tree is not returning the nearest neighbor because the distance calculation is not being done correctly. Not sure when this  started happening...would love to know.

#### Steps/Code to Reproduce

[code]
Output:
[code]
Note the distance values for the first two entries...
[code]

Output:
[code]
[code]
Output:
[code]
#### Expected Results
...not what's retur

[2021-02-26 01:53] espg commented on #19567
Apparently an ordering issue with lat/lon. I thought I remembered that haversine expected input as lon/lat, since this matches the usual x/y ordering convention... which is not the traditional geographic convention. Not sure if always has been that way or changed at some point, but regardless it's well documented as the current convention in the docs...

[2021-02-26 01:53] #19567 closed

[2021-02-26 02:48] ShannonZ commented on #19553
@glemaitre  I've doubted that whether a direct linear regression is suitable for the data with 'n_samples' << 'n_features', but after evaluating the fitted model on the validation dataset, the results tell that the model's ability to generalize is OK. (If set positive = False, 'r2_score' on validation dataset will be larger than 0.99).

On the other hand, I'v also tried the penalized model like LA

[2021-02-26 03:44] ShannonZ commented on #19553
I'm not sure whether it's caused by the model I use or not. I'll try some other models first.

[2021-02-26 03:44] #19553 closed

[2021-02-26 07:52] glemaitre commented on #19553
I am curious here. Why the coefficients just be non-negative in your application?

[2021-02-26 11:21] wdevazelhes commented on #17554
Hi, how is this issue going ? I'm working on tests for sparse inputs, and one test fails because of the issue here (see comment https://github.com/scikit-learn/scikit-learn/pull/13246#issuecomment-786574657)
I could do a PR for a quick fix to support ``int64`` as inputs, for instance by replacing this line :
https://github.com/scikit-learn/scikit-learn/blob/94abe05b4b96de2ca30d998fb9adb2fbd3eb1bde

[2021-02-26 13:07] thomasjpfan commented on #17554
There was a PR working related to this issue: https://github.com/scikit-learn/scikit-learn/pull/16831. If you would like to work on this, please comment on the PR asking if the contributor is still working on it.

[2021-02-26 15:53] billlyzhaoyh opened #19572 "SimpleImputer strategy "most_frequent" returning ValueError: could not convert string to float when imputing strings"
#### Describe the bug

When using SimpleImputer with strategy most_frequent to impute string variables, no error is raised on fitting but when transforming the missing data, a value error is raised.

#### Steps/Code to Reproduce

[code]

#### Expected Results

[['a', 'b', 'c'],['a', 'b', 'c']]
#### Actual Results

This runs into the error:
<ipython-input-84-0a7b07bd79f4> in <module>
----> 1 imp_fr

[2021-02-26 16:59] GF-Huang opened #19573 "RobustScaler make the outlier bigger"
![image](https://user-images.githubusercontent.com/4510984/109330360-8c58f600-7896-11eb-8e8a-fcdaacc9caf1.png)

#### Expected Results
Remove outlier or better than the raw data.

#### Actual Results
Make the outlier bigger.

#### Versions
![image](https://user-images.githubusercontent.com/4510984/109330259-721f1800-7896-11eb-9c5c-fdb09aa8b2c5.png)

[2021-02-26 17:10] azihna commented on #19547
My first reaction is to say "yes, it is a problem and the library should warn about this!" but thinking about it a bit more I am more inclined that it is the user's responsibility to know the data and remove these features beforehand. I think this would be very frequent in use and have a similar feeling to the chained assignment warning from pandas.

However, it was to be added rather than adding

[2021-02-26 17:27] azihna commented on #19572
I believe it might be due to the transformed object's data structure. I can reproduce the error. But using it as:
[code]
solves the issue for me.

It might be useful to actually return a warning when the data type of transformed object is not the same as the input for these cases.

[2021-02-26 17:35] lorentzenchr opened #19574 "MAINT Move PolynomialFeatures to _polynomial.py"
A little maintenance task: Move `class PolynomialFeatures` from `_data.py` to `_polynomial.py` and tests likewise.
See https://github.com/scikit-learn/scikit-learn/pull/18368#issuecomment-758319583.

[2021-02-26 18:50] Connerrrrr commented on #16924
Can I take this one?

Not sure check if only one column or row of confusion matrix has nonzero values will work though.

According to [Jurman, Riccadonna, Furlanello, (2012). A Comparison of MCC and CEN Error Measures in MultiClass Prediction](https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0041882)

and [Wikipedia of Matthews correlation coefficient](https://en.wikipedia.org/wik

[2021-02-26 19:47] bmreiniger commented on #19086
Actually, if anything I think there should be _additional_ link functions, so that other types of GLM that use a Tweedie distribution can have their "canonical" link function; see https://en.wikipedia.org/wiki/Generalized_linear_model#Link_function

In particular, it seems that for p=2, 3, there should be an option for neg-inverse and inverse-square as links.  Maybe best would be to allow a callab

[2021-02-26 20:49] lorentzenchr commented on #19086
Yes, the the inverse 1/x is the canonical link function for the Gamma distribution. It should map R -> positive real numbers. The problem is the singularity at x=0. This would require a lot of extra logic for an optimizer. For me, that's a show stopper.

The real advantage of the canonical link function, for me, is its balance property on the training set: sum(predicted) = sum(observed). There are

[2021-02-26 21:05] JSestito commented on #13989
I am looking for similar information but am unable to find any information regarding the underlying mechanics for multi-output.

[2021-02-26 23:54] memeplex opened #19578 "LinearRegression fits wrongly on csr sparse matrix with sample weights"
#### Describe the bug

Fitting a model from a csr sparse matrix while passing sample_weight gives a very wrong fit.

This report is for `LinearRegression`, but I've been experiencing wrong behavior in a similar setup with `Ridge`.

#### Steps/Code to Reproduce

Taken from a small sample of a real life dataset, just copy&paste:

[code]

#### Expected Results

Both weighted results are the same.

Bo

[2021-02-27 00:02] memeplex commented on #19578
OTOH, here is a simple example that does work:

[code]

[2021-02-27 09:44] jnothman commented on #19538
As far as I'm concerned it should not validate y in any case. Its only job
with regard to y is to pass it on to the underlying estimator (and to pass
on the absence of y if y=None).

[2021-02-27 10:08] jnothman commented on #19505
I think that allowing a precomputed NN object was only intended to avoid wasted recomputation of a binary tree or similar, not to allow for non-euclidean metrics.

It sounds like we should at least error in the case that a non-euclidean NearestNeighbors is passed in, or else implement the referenced solution.

[2021-02-27 10:11] jnothman commented on #19550
Perhaps inverse_transform?

[2021-02-27 11:49] jnothman commented on #19578
Does it look like the scale of the weights might play a part? Can you check
how well it is working with weights of different scale?

[2021-02-27 16:05] lorentzenchr commented on #19574
@thomasjpfan @glemaitre If you are ok with it, I'll label it as "help wanted".

[2021-02-27 17:01] memeplex commented on #19578
No, it doesn't. Dividing them by 100 or 10000 still throws different results for the sparse/weighted case. Using an all ones weight vector works fine but as soon as I change some of the weights to, say, 2, the sparse/weighted case fails again.

[2021-02-27 17:35] #19550 closed

[2021-02-27 19:43] thomasjpfan commented on #19574
Okay, I am okay with this to be "help wanted". I also think it would be nice to move the test related to `PolynomialFeatures` from `test_data` into its own `test_polynomial.py" file.

[2021-02-27 19:53] memeplex commented on #19578
Another fact to take into account is that the matrix is very ill conditioned, so if some kind of iterative solver is chosen for sparse input (I don't know if that's the case), then you have problems in both fronts: observations wildly differ in weight while features have very different "geometries", then it might be very difficult to accommodate a step schedule that converges.

[2021-02-28 07:50] i-aki-y commented on #19573
The `RobustScaler` does not remove any outlier because it is a linear transformation.
You may consider nonlinear transformations like `QuantileTransformer` or `PowerTransformer`.
I hope the following doc may help you.

https://scikit-learn.org/stable/auto_examples/preprocessing/plot_all_scaling.html#robustscaler

[2021-02-28 14:21] anjani-dhrangadhariya commented on #14626
`n_jobs=-1`  causes the model to use as many available CPU resources as possible. It is better to keep this variable to -10 or even lesser in case you are sharing a server with your lab members. More information [here](https://datascience.stackexchange.com/questions/34416/scikit-learn-n-jobs-parameter-on-cpu-usage-memory).

[2021-02-28 15:09] panangam commented on #18866
@cmarmo @rth I know it's been forever ago but I have finally addressed the comments. I basically brought check_array back and edited the comments and changelog.

[2021-03-01 00:20] hakeemo opened #19583 "Order of features selected in Sequential feature selection transformer"
Is it currently possible to extract the order in which the features in the sequential feature selection transformer are selected?
Similar to the ranking variable in RFE transformer for example.

[2021-03-01 07:03] wdevazelhes commented on #17554
Thanks for the pointer @thomasjpfan, I hadn't seen it, I will comment there

[2021-03-01 09:45] cmarmo commented on #811
`_graph_laplacian_dense` is no longer on scikit-learn (see [this comment](https://github.com/scikit-learn/scikit-learn/pull/9062#issuecomment-352479810)). Closing.

[2021-03-01 09:45] #811 closed

[2021-03-01 10:20] cmarmo commented on #2601
@maikia @agramfort is this issue fixed by #19426? Thanks!

[2021-03-01 10:21] ogrisel commented on #14997
I reopened this issue: while using regularization fixes the problem, the warning messages are not informative enough as highlighted when working on `test_qda_regularization` as part of #19558.

I think that when the covariance matrix is not full rank we should probably raise a `LinAlgError` **at fit time** explicitly recommending the user to increase regularization.

Also, the existing `UserWarnin

[2021-03-01 10:21] ogrisel commented on #14997
Let me know what you think @agramfort and others.

[2021-03-01 13:01] agramfort commented on #14997
agreed. reg should be applied and only after one should check if the matrix is not singular. LinalgError seems the good exception here.

[2021-03-01 13:39] ogrisel opened #19587 "Random failure in fetch_openml tests"
It appended once on the CI of the unrelated PR #19558 when running `test_fetch_openml_iris[True]`:

[code]

Full traceback:

<details>

[code]

</details>

https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=27014&view=logs&j=97641769-79fb-5590-9088-a30ce9b850b9&t=4745baa1-36b5-56c8-9a8e-6480742db1a6&l=796

It could be bug in `_monkey_patch_webbased_functions` but not sure why i

[2021-03-01 14:09] ogrisel commented on #14997
@azihna feel free to open a PR for this one once #19558 is merged.

[2021-03-01 14:15] ogrisel commented on #2601
I don't think that we can consider it directly fixed by #19426 but maybe we can consider it somewhat redundant with the work being done as part of https://github.com/scikit-learn/scikit-learn/issues/3020#issuecomment-650151485.

[2021-03-01 14:18] azihna commented on #14997
@ogrisel Alright! I'll work on that next.

[2021-03-01 14:23] ogrisel commented on #2601
@maikia I have added an item to the TODO list of https://github.com/scikit-learn/scikit-learn/issues/3020#issuecomment-650151485 to re-do the experiment of https://github.com/scikit-learn/scikit-learn/issues/2601#issuecomment-148071040 once we have fixed all the other issues (including the problem with the Ridge sample weights of https://github.com/scikit-learn/scikit-learn/issues/17444#issuecomme

[2021-03-01 18:04] emmanuelidehen opened #19590 "cannot import name 'delayed' from 'sklearn.utils.fixes'"
<img width="1151" alt="Screen Shot 2021-03-01 at 11 51 04 AM" src="https://user-images.githubusercontent.com/23498282/109538893-35b20e80-7a86-11eb-8495-14219b23a55f.png">

#### Describe the bug

#### Steps/Code to Reproduce

[code]

#### Expected Results

#### Actual Results

#### Versions

[2021-03-01 21:01] jnothman commented on #19573
Yes, its job is to do better on the inlying samples than other scalers
would, and to disregard the outliers. If you have suggestions for how to
improve the documentation, please open a pull request.

[2021-03-01 23:20] LSturtew commented on #19574
I would like to work on this task.

[2021-03-02 08:09] cmarmo opened #19596 "Check for milestone and change log connection"
Follow-up of @jnothman [comment](https://github.com/scikit-learn/scikit-learn/pull/19155#issuecomment-785461124).
I would like to propose to enforce milestones in pull requests.
That means:
- [ ] create a check that verify if the milestone is present
- [ ] modify the check on the change log to verify consistency with the milestone.

I believe it is helpful in anticipating breaking changes, and cou

[2021-03-02 08:19] AidarShakerimoff commented on #19021
It seems that the above code doesn't work with the pip version of the scikit, but it works wih the current github repository (March 2). I tried to install the latest user version and it gave me the same error, but when I cloned the current repository it printed the line: `GaussianProcessRegressor(alpha=0.5, kernel=Matern(length_scale=1, nu=0.5))`. There were no commits in the history of the 'kerne

[2021-03-02 08:43] cmarmo commented on #19590
Hi @emmanuelidehen thanks for reaching out.
Do you mind precising on which OS you are working on? Also do you mind running
[code]
and pasting here the output?

If you use a Python installed with Anaconda, please make sure to activate the conda env of your choice before running python, pip or jupyter commands. Thanks.

[2021-03-02 09:11] premopie commented on #5523
I like the solution with `pandify` decorator - it's very ellegant IMHO. Thanks for letting us know!

[2021-03-02 09:13] Kornel commented on #16470
@jnothman any thoughts on the above?

[2021-03-02 09:14] NicolasHug commented on #19583
Sounds reasonable.

In terms of API single `ranking_` attribute might slightly ambiguous as its meaning would be different depending on whether we're doing forward or backward selection. In forward it would mean "the order in which the features are selected" and in backward it would mean "the order in which the features are removed".

It might be worth considering having 2 mutually exclusive attri

[2021-03-02 09:45] NicolasHug commented on #19596
I like the idea of having the milestones giving a clearer roadmap, but TBF I don't think we have the resources to promise (or even suggest) anything about when PRs will get merged.

We currently don't make setting milestones mandatory, and yet just prior to every release, a significant number of milestoned PRs get re-milestoned (i.e. postponed) because we don't have the bandwidth to merge them on

[2021-03-02 10:11] mlondschien opened #19598 "SplineTransformer raises when passing knots explicity for n_knots=None"
On master,
[code]
currently raises
[code]

IMO the `n_knots` argument should be allowed to be `None` (or any other value) if the `knots` are passed explicity.

cc: @lorentzenchr @ogrisel
xref #18368 and  #19483

[2021-03-02 10:30] anoldmaninthesea commented on #19021
@cmarmo that warning is consistent with the hypothesis I put forward of the inversion of the covariance matrix being done for values that are problematic.

[2021-03-02 10:31] anoldmaninthesea commented on #19021
@AidarShakerimoff  Well, I'm not an IT guy, so I'm not sure I follow you...  Thanks anyway!

[2021-03-02 10:41] #19522 closed

[2021-03-02 10:45] cmarmo commented on #19596
@NicolasHug thanks for your answer, you are totally right. I have myself removed from milestones a lot of pull requests, but not remilestoned them, because after postponing four times it is clear that people didn't find the energy to work on them. In my opinion enforcing milestones is a gently push in a direction of defining priorities: if a pull request is milestoned for, let's say, 1.5.2 , I rea

[2021-03-02 10:48] jnothman commented on #19596
I'm not yet convinced by this idea. My comment that is referenced here was
talking about always requiring the latest version's change log to be
updated, except in the case where a milestone has been tagged.

I think this conversation necessarily needs to be framed in terms of "what
are milestones used/useful for". So far we have used them, I think, for the
following purposes:

1. Designate a chang

[2021-03-02 13:34] jeremiedbb opened #19600 "Performance regression in linear models"
#19426 introduced a noticeable slow down and memory increase of the linear models with dense input, as can be seen here https://scikit-learn.org/scikit-learn-benchmarks/

ping @ogrisel @agramfort @maikia

[2021-03-02 13:40] emil2397 commented on #13354
Kirill, I faced absolutely the same problem just today

[2021-03-02 13:42] anoldmaninthesea opened #19601 "What's the difference between KFold with Shuffle, and Shuffle Split?"
In the documentation of KFold (with shuffle=True), and ShuffleSplit as CV generators, it's not really clear what are the differences.

In ShuffleSplit one is able to choose the number of splits and test_size in an independent way, whereas in the KFold these seem to be dependent... Is this a fair assessment?

Are there any other differences?

[2021-03-02 14:49] NicolasHug commented on #19601
yes

yes, `KFold` will create a partition such that each sample belongs to exactly one testset. This is not the case with `ShuffleSplit` as splits are random. The only guarantee with `ShuffleSplit` is that the trainset is disjoint from the testset for each `(trainset, testset)` pair.

also, regarding `ShuffleSplit`:

[2021-03-02 14:51] #19601 closed

[2021-03-02 15:33] ogrisel commented on #19600
Note that in this case, for `ElasticNet`, `normalize=False` is the default.

[2021-03-02 15:35] jeremiedbb commented on #19600
small profile of ElasticNet. A lot of time is spent in `incremental_mean_and_var`.
![Screenshot from 2021-03-02 16-33-10](https://user-images.githubusercontent.com/34657725/109672319-32498080-7b75-11eb-8781-d914fa698690.png)
![Screenshot from 2021-03-02 16-33-15](https://user-images.githubusercontent.com/34657725/109672324-337aad80-7b75-11eb-9e58-c4f01a517e62.png)

[2021-03-02 15:49] ogrisel commented on #19600
The `inner_f` wrapper from `_deprecate_positional_args` is confusing but it's true that we spending 1s to compute the mean is very long.

[2021-03-02 15:52] ihavemanyquestions commented on #6777
Hi, I am having trouble with the same bug using the latest sklearn version. Has anyone got any idea how to sort it/ what alternative routes to use to get perplexity scores? I think this would be very useful.

[2021-03-02 16:17] thomasjpfan commented on #19600
None of the commits seem to be a direct cause of these regressions. Is there a way to see the versions of numpy used for the benchmark?

[2021-03-02 16:20] jeremiedbb commented on #19600
we don't run the benchmarks on all the commits. The dbd68b28 commit is in between the last good and first bad benchmarks and is the only one touching the linear models

[2021-03-02 20:07] agramfort commented on #19600
can someone replicate locally? if so can he share the code?

[2021-03-02 21:25] jeremiedbb commented on #19600
We were able to reproduce locally with @ogrisel and @maika. Here's a reproducible example:
[code]

We also identified the reason of this regression. It's the computation of the variance which is done even if normalize=False.

[2021-03-03 01:24] emmanuelidehen commented on #19590
<img width="1163" alt="Screen Shot 2021-03-02 at 7 17 55 PM" src="https://user-images.githubusercontent.com/23498282/109737837-5d8b9a00-7b8c-11eb-9bb5-9fd7ef94fe29.png">
I am running working on a MacOS. Running it from Anaconda.  Version: '0.23.2'. I

[2021-03-03 02:07] drshnchndr commented on #18553
Is anybody working on this? If not, we would be happy to take it up.

[2021-03-03 02:29] emmanuelidehen commented on #19590
Fixed it, Thank you.

[2021-03-03 08:18] #19590 closed

[2021-03-03 08:54] aryanxk02 opened #19602 "Tree pickle portability between 64bit and 32bit arch"
`Decision Tree Classifier`

[code]

[2021-03-03 08:55] glemaitre commented on #19602
Are you running the same version scikit-learn than the one used to create the `pkl`?

[2021-03-03 08:56] agramfort commented on #19600
ok I'll let you fix it then. thanks a lot !

[2021-03-03 09:02] aryanxk02 commented on #19602
sklearn version : 0.22.2

[2021-03-03 09:18] mitar opened #19603 "_fit_regressor in stochastic_gradient.py does not use random state for call to make_dataset"
#### Describe the bug

See [here](https://github.com/scikit-learn/scikit-learn/blob/28ee486b44f8e7e6440f3439e7315ba1e6d35e43/sklearn/linear_model/_stochastic_gradient.py#L1299):

[code]

`make_dataset` does not get random seed passed, so it picks one using global random state. This makes it harder to reproduce same results between runs of the same code.

Similar code for [`fit_binary`](https://git

[2021-03-03 09:53] vmdhhh commented on #19449
@cmarmo
If this is desired/good to have a feature
then I would like to contribute.
Can I do it?

[2021-03-03 09:58] glemaitre commented on #19602
Could you as well give information about the OS and CPU architecture where the model was trained and where it is deployed?

[2021-03-03 10:16] ogrisel commented on #17444
For the `normalize=True` case, we indeed reproduce the original problem with the following simple reproducer:

[code]
[code]

[2021-03-03 10:19] NathalieBrun opened #19604 "add VCA to Decomposing signals in components (matrix factorization problems)"
Hi

#### Describe the workflow you want to enable

I would like to use VCA algorithm through sci-kit.
I use a lot this algo to decompose EELS signals in spectromicroscopy. It is fast and robust.
There are already several papers using it in the EELS community.
The seminal paper https://ieeexplore.ieee.org/abstract/document/1411995
has 2236 citations in Google Scholar.

The addition in scikit would

[2021-03-03 11:19] ogrisel commented on #19602
From the type error, one could guess that the model was pickled with Python 32 bit on Windows and loaded on Python 64 bit (e.g. on a Linux server). Is this the case?

If this is confirmed, we should probably consider this a bug of scikit-learn as @rth recently hinted in another issue or PR (that I failed to find).

However we would need to make sure that this bug has not already been fixed. @aryan

[2021-03-03 11:29] ogrisel commented on #8236
dmlc/xgboost#3378 was closed as apparently it's no longer possible to reproduce with recent versions of scipy / mkl.

Let me close this issue. If this happens again please open a new issue with a reproducer and the output of `threadpoolctl` for the various libraries involved:

[code]

[code]

along with the version info of scikit-learn and dependencies:

[code]

[2021-03-03 11:30] #8236 closed

[2021-03-03 11:35] ogrisel commented on #19603
Nice catch!

The `check_random_state` from line 1312:

https://github.com/scikit-learn/scikit-learn/blob/28ee486b44f8e7e6440f3439e7315ba1e6d35e43/sklearn/linear_model/_stochastic_gradient.py#L1312

should be moved up and the result passed as the matching kwarg to `make_dataset`.

Would you be interested in opening a PR? Ideally we should add a non-regression test to check that the model is fully d

[2021-03-03 11:41] aryanxk02 commented on #19602
currently on Windows 64 bit Operating System

[2021-03-03 11:44] aryanxk02 commented on #19602
Okay, I developed the entire code (including ML model to pickle file) and ran it on python 32 bit through Jupyter Notebook on Windows.

Sure, regarding scikit-learn 0.24 I will try and will inform.

[2021-03-03 11:46] ogrisel commented on #19602
What version / bitness of Python and OS do you use to run the flask app?

[2021-03-03 11:48] aryanxk02 commented on #19602
1. Python 3.8 - 32 bit
2. Windows 10 - 64 bit

[2021-03-03 11:58] Ahmed-Shibl opened #19605 "ModuleNotFoundError"
Hi scikit-learn developers, fans, and users,

Recently, I tried the software EukRep and used this command:

`EukRep -i ~/miniconda3/envs/spades/M6-coral_assembly/scaffolds.fasta -o ~/miniconda3/envs/eukrep/M6-coral/Eukrep_output_spades_M6.fa --prokarya ~/miniconda3/envs/eukrep/M6-coral/Prok_output_spades_M6.fa`

But got this error:

[code]
Running `pip install scikit-learn` gives me this:

[code]

[2021-03-03 12:46] rth commented on #19605
You are likely loading a model that was pickled with an earlier version of scikit-learn. Pickles are not portable across scikit-learn versions, so you would have to install the scikit-learn version that was used to create the pickle. See https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations for more details.

[2021-03-03 12:46] #19605 closed

[2021-03-03 14:22] ogrisel commented on #19602
If you use the same version and bitness of Python both the training the model and running the flask app then I do not understand how you can get this error.

Can you please run `import sklearn; sklearn.show_versions()` both in your flask app and in your jupyter notebook to check this?

[2021-03-03 14:23] ogrisel commented on #19602
Also, can you check that you can run `pickle.load(open('dtc.pkl', 'rb'))` without error in your notebook right after saving the model to disk?

[2021-03-03 14:37] aryanxk02 commented on #19602
YES, it runs without any errors

[2021-03-03 14:58] rth commented on #19602
Identical issue was earlier reported in https://github.com/scikit-learn/scikit-learn/issues/7891 when unpickling on 32bit arm and in https://github.com/iodide-project/pyodide/issues/521

BTW, shouldn't size_t be unsigned, it says `long long` in the error message, unless the "unsigned" part is swallowed somewhere ? At least 64bit linux, I get,
[code]

In the above linked issue, I mentioned,

but no

[2021-03-03 15:03] aryanxk02 commented on #19602
Hello, regarding this I just check my python bitness in the Jupyter Notebook where I ran the entire code, it was 64 bit. And the one I used for  flask was 32 bit.
Thank you so much!

[2021-03-03 15:04] aryanxk02 commented on #19602
Hello, regarding this I just check my python bitness in the Jupyter Notebook where I ran the entire code, it was 64 bit. And the one I used for  flask was 32 bit.
Thank you so much!

[2021-03-03 15:12] taha-yassine commented on #19505
I think that implementing a solution that allows the user to choose the metric is better, as it would be consistent with other implementations of manifold learning methods such as Isomap (cf. [Isomap](https://scikit-learn.org/stable/modules/generated/sklearn.manifold.Isomap.html#sklearn.manifold.Isomap) and the `metric` parameter in particular).

[2021-03-03 15:48] cmarmo commented on #19021
@AidarShakerimoff , I'm still having the `RuntimeWarning` with the following environment
[code]
Do you mind checking which dependencies generate no warning with the last development version? Thanks!

[2021-03-03 16:28] asansal-quantico opened #19608 "Memory mapping causes disk space usage bloat in big models with many search parameters"
Hello,

We use GridSearchCV in a project where our training data is quite large (approx, 20,000 rows x 100 columns/features). We search a large space of hyperparameters, sometimes up to 1000.

When running default parallelization using joblib, the tool generates a lot of memory-mapped disk data and uses a lot of disk space on the scale of hundreds of gigabytes.

**Solution:**
Once we disable memor

[2021-03-03 16:58] peterphung2043 opened #19609 ""Float64" not a valid dtype for SelectFromModel but "float64" is"
#### Describe the bug
When I used `FeatureTools` to generate new features, two of the columns that were generated had a `Float64` dtype instead of a `float64` dtype. So when I tried to use `SelectFromModel` to select features, I got an error on two columns that had the `Float64` dtype and not the `float64` dtype.

#### Steps/Code to Reproduce

Example:
[code]
If I change
[code]
to
[code]
the code

[2021-03-03 17:20] #19609 closed

[2021-03-03 17:21] peterphung2043 commented on #19609
It's not scikit learn's fault. The problem lies in the XGBRegressor object

[2021-03-03 17:24] aleixalcacer opened #19610 "Archetypal Analysis"
#### Describe the workflow you want to enable

Archetypal analysis is similar to clustering analysis. However, instead of cluster centers, it seeks extremal points in the dataset (called "archetypes"), which sometimes provides more interpretable results than clustering.

#### Describe your proposed solution

Implement the algorithm proposed in [Cutler and Breiman, 1994](https://digitalassets.lib.b

[2021-03-03 17:43] #19600 closed

[2021-03-03 21:26] dachosen1 commented on #19574
Is still being worked on?

[2021-03-03 22:14] AidarShakerimoff commented on #19021
@cmarmo, yes, sure. Here are the dependencies versions that I used (it is just a Colab environment):
`
System:
    python: 3.7.10 (default, Feb 20 2021, 21:17:23)  [GCC 7.5.0]
executable: /usr/bin/python3
   machine: Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic

Python dependencies:
          pip: 19.3.1
   setuptools: 54.0.0
      sklearn: 1.0.dev0
        numpy: 1.19.5
        scipy: 1.4.1

[2021-03-03 22:39] cmarmo commented on #19021
@AidarShakerimoff , my bad... for some reason I messed up with my environments ... the warning is thrown with scikit-learn 0.23.1.
With the last development version, there is no more warning, indeed!
[code]
ie the last development version, there is no more warning.
Thanks a lot for checking!
It's too late in my timezone to investigate when the warning disappeared... :)
I'm waiting until tomorrow b

[2021-03-03 22:47] avigupta2612 commented on #19574
Working on this..

[2021-03-03 23:05] AidarShakerimoff commented on #19021
I found who recently has fixed it: [https://github.com/scikit-learn/scikit-learn/pull/19396#issue-569205397](url). Actually his solution is simple but so nice. He just added very small number to the zeros.

[2021-03-03 23:18] lorentzenchr commented on #19574
@LSturtew You was first, so you should have the chance to open a PR. Please say if you need help or if other contributors might help you.

[2021-03-03 23:21] avigupta2612 commented on #19574
I really apologise @lorentzenchr and @LSturtew for this,
I saw your message just seconds after I pushed the PR.

[2021-03-03 23:25] lorentzenchr commented on #19574
@LSturtew Do you still want to do this PR or is it ok for you to look out for another open issue?
2 pieces of advice for the future: You can write "take" to assign you to an issue. Second, it helps if you open a PR very soon to show that you are actually working in the issue.

[2021-03-03 23:58] AidarShakerimoff commented on #17394
take

[2021-03-04 00:32] jnothman commented on #19610
I think this is much more comparable to decomposition than to clustering. The seminal paper has a relatively modest number of citations given its age, as do the [papers cited in CRAN's `archetypes`](https://cran.r-project.org/web/packages/archetypes/citation.html), so I am not immediately convinced that this will be widely used by the Scikit-learn community. Arguing for it will require an example

[2021-03-04 07:27] aleixalcacer commented on #19610
Yes, it lies somewhere between decomposition and clustering. For example, if the observations are grouped by the closest archetype, archetypal analysis can be used in clustering problems. [Here](https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0228016#pone-0228016-g001) you can see an example of the usefulness of archetypal analysis.

Anyway, If you are still not 100% convinced, I

[2021-03-04 07:28] cmarmo commented on #19021
Thanks @AidarShakerimoff for the follow-up!
And thanks @anoldmaninthesea for the report.
Closing then as fixed in #19396.

[2021-03-04 07:28] #19021 closed

[2021-03-04 09:21] LSturtew commented on #19574
I'm sorry it would be my first time contributing to this project, so I was not aware of that I could just take the issue.

[2021-03-04 09:40] Max1993Liu opened #19613 "Tree model "split" feature importance within identical features"
#### Problem

When the dataset have identical features, to me it makes more sense that the tree model just pick one of it, so the rest of them will have a feature importance of 0 (like XGBoost does).

But sklearn tree model seems to be "splitting" feature importance between those identical features, could anyone help explain why sklearn does it this way?  Thank you !

example code:
[code]

#### De

[2021-03-04 09:45] cmarmo commented on #19596
And I'm ok with that but I'm also trying to avoid duplicated entries in the changelog, with the less possible human intervention. I'm not happy with the current behavior of the check, and would like to check all the changelogs and then the last one, if the milestone is not present, to notify if the entry has been duplicated (this already happened in some pull requests opened for a long time). Push

[2021-03-04 10:33] NicolasHug commented on #19613
The answers to your questions were provided in the previous discussion you opened: https://github.com/scikit-learn/scikit-learn/discussions/19569

This is discussed in https://github.com/scikit-learn/scikit-learn/issues/12259. Perhaps it's time to revive that issue.

I'll close this one if you don't mind

[2021-03-04 10:33] #19613 closed

[2021-03-04 10:34] PGijsbers opened #19614 "Give feedback when `svm.SVC` is configured with kernel hyperparameters for a different kernel"
During our class we noticed some students incorrectly configure some hyperparameters which are irrelevant to the kernel used, for example setting `gamma` when using a linear kernel. We think it could make sense for scikit-learn to give feedback to the user when non-effective settings are configured.

#### Describe the workflow you want to enable

[code]
current output:
[code]
proposed output, some

[2021-03-04 11:23] Lydtk commented on #8265
Can we do GenericUnivariateSelect directly after Tfidf Vectoriser rather than using TfidfTransformer on CountVectoriser

[2021-03-04 12:46] NicolasHug commented on #19614
Thanks for the report, I agree we should even error in this case (instead of a warning). The same goes for `coef0` and for `SVR`.

PR welcome @PGijsbers

[2021-03-04 13:25] rth commented on #19602
Below are minimal steps to reproduce on a 64bit Linux with a 32 bit docker image.

On a 64bit Linux,
[code]
with
**example.py**
[code]
Start a 32bit Docker image,
[code]

[code]
produces,
[code]

I'll try to investigate in more details later.

[2021-03-04 14:31] thomasjpfan commented on #19614
Currently, `SVC` ignores parameters depending on the kernel. For invalid combinations, I agree with @NicolasHug that we should error instead.

I think we should error when the parameter is **not** the default value and **not** compatible with the kernel. For example, if `gamma!='scale'` and `kernel not in {'rbf', 'poly', 'sigmoid'}`, we raise an error. This logic can extend to `degree` and `coef0`

[2021-03-04 14:54] ogrisel opened #19615 "[RFC] Improve the Ridge solver speed / convergence tradeoff with better solver defaults"
I did some follow-up work for the discussions on potential problems for `Ridge(normalize=False)` in #19426 and #17444 in the following gist:

https://gist.github.com/ogrisel/cf7ac8bca6725ec02d4cc8d03ce096a7

This gist compares the results between a minimal implementation of ridge with LBFGS  by @agramfort  against scikit-learn's `Ridge(normalize=False, solver="cholesky")`, `Ridge(normalize=False,

[2021-03-04 15:32] agramfort commented on #19615
+1 for the plan except the "other ideas". I don't think that adding L-BFGS is necessary. And the QR based solver seems also an overkill.

for 2 you say lsqr for sparse case?

[2021-03-04 15:34] sethiabhishek commented on #13339
I am new to the repo , is this issue still open?

[2021-03-04 17:30] ogrisel commented on #19615
I am not sure what you mean. I edited the description to remove a previous version of item 2 because it was wrong (my tol was too lax and that was leading me to wrong conclusions).

[2021-03-05 05:33] jim0421 opened #19617 "sklearn kmeans elkan algorithm"
[code]
As I know the old version sklearn lloyd use blas ```_dot``` function when calculating euclidean distance.
Whether we can use blas ```_dot``` function to replace the above multiply process?

[2021-03-05 07:48] PierreAttard commented on #19603
Hi,

I can do it if needed ?

[2021-03-05 07:54] cmarmo commented on #19608
Hi @asansal-quantico, thanks for reaching out. Do you mind producing some benchmark plots or logs to make the issue more quantitative? This will help in triggering the core-dev attention. Thanks for your collaboration.

[2021-03-05 08:09] cmarmo commented on #19578
Hi @memeplex I believe your findings are similar to #15438 in particular as said in @lorentzenchr [comment](https://github.com/scikit-learn/scikit-learn/issues/15438#issuecomment-550432207).

[2021-03-05 08:16] cmarmo commented on #19574
Hi @LSturtew if you are interested in starting contributing there are some issues used during the sprints quite good for first contributors: eg #19334 still needs two warnings to be fixed. Feel free to comment there if this could fit you. Thanks!

[2021-03-05 08:23] PGijsbers commented on #19614
I'll try to make the changes this weekend 👍

[2021-03-05 08:25] PGijsbers commented on #19614
Should the error be raised on `fit` similar to incompatible configurations for `LogisticRegression`, or on `__init__`?

[2021-03-05 08:40] NicolasHug commented on #19614
the validation should happen in `fit` (more details here if you're interested https://scikit-learn.org/stable/developers/develop.html#instantiation)

Also please make sure to write a non-regression test for the cases that are worth testing. The test should make sure that the error is now properly raised. Your snippet above is a great candidate.

Thanks!

[2021-03-05 10:07] ChristophKirst opened #19619 "n_components and n_features exchanged in FastICA.fit_"
The input data matrix X is transposed here

https://github.com/scikit-learn/scikit-learn/blob/8ea176ae0ca535cdbfad7413322bbc3e54979e4d/sklearn/decomposition/_fastica.py#L431

but n_samples, n_features are defined as if it was not:

https://github.com/scikit-learn/scikit-learn/blob/8ea176ae0ca535cdbfad7413322bbc3e54979e4d/sklearn/decomposition/_fastica.py#L457

It might not affect the code but n_fe

[2021-03-05 11:46] LSturtew commented on #19334
I'm working on test_iforest_with_uniform_data in sklearn/ensemble/tests/test_iforest.py

[2021-03-05 12:34] Solly7 opened #19625 "ValueError: could not convert string to float: 'OLIFE'"
Hi, im trying to calibrate logistic regression classifier and i get the error ValueError: could not convert string to float: 'OLIFE',
I did onehotencode my categorical values using pipeline, it works fine when i test my model but when i calibrate it doesnt work even if im passing the pipeline model in to CalibratedClassifierCV, iget an error when i execute the **calib_clf.fit(Valid, labelValid)**

[2021-03-05 13:08] icky254 commented on #19548
I'd like to work on check_estimators_dtypes

[2021-03-05 13:28] cmarmo commented on #19625
Hi @Solly7 thanks for reaching out. I see that the same [thread is already opened in Discussions](https://github.com/scikit-learn/scikit-learn/discussions/19624). If this a bug of Discussions for some reason, please let us know so that we can report the issue to github. I'm going to close the issue as its place is indeed in Discussions for now, because this is more a usage question than a bug. If

[2021-03-05 13:28] #19625 closed

[2021-03-05 17:35] FrancoisLux opened #19626 "[BUG] partial_fit() not updating weights of loaded models"
This seems to be the same issue as https://github.com/scikit-learn/scikit-learn/issues/14826.
However, I found that it is not connected to Pipeline()

#### Describe the bug
An already fitted sklearn MLPRegressor can be used with partial_fit() to fine-tune it on different data.
However, if that model is saved to disk, and loaded again before calling partial_fit() no weights are updated.
The partial

[2021-03-05 17:55] FrancoisLux commented on #19626
I tested persisting the model with pickle:

[code]
and then partial_fit() works, so the problem is quite likely related to sklearn.externals.joblib/joblib

[2021-03-05 19:40] jrasero commented on #4757
If it helps, a simple way to implement this, as suggested above by @amueller, I think it would be defining a new cross-validator class that inherits from **StratifiedKFold**  and overwrites the _split_ method:

[code]
I have also created a Colab notebook where one can see how it works: [Stratified KFold in regression setups demo](https://colab.research.google.com/drive/1KnXujsQDvLZOgCRg_iis036cwff

[2021-03-05 19:51] jrasero commented on #4757
If it helps, a simple way to implement this, as suggested above by @amueller, I think it would be defining a new cross-validator class that inherits from **StratifiedKFold**  and overwrites the _split_ method:

[code]
I have also created a Colab notebook where one can see how it works: [Stratified KFold in regression setups demo](https://colab.research.google.com/drive/1KnXujsQDvLZOgCRg_iis036cwff

[2021-03-05 20:12] aryanxk02 commented on #19602
@rth any guidance on how to fix this for Windows OS would be appreciated sir.

[2021-03-05 20:59] gaspard-dv opened #19627 "PolynomialFeatures always generates all combinations with degree less than the degree parameter"
## Problem

Currently, [PolynomialFeatures](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.PolynomialFeatures.html) states:

The problem with that is that we often only need the combinations of the features with degree strictly equal to the specified degree.

**For instance:**
Let's say that we set `interaction_only=True`.
Let's say that we have 3 input features: `A, B, C`

[2021-03-06 17:39] PGijsbers commented on #19614
This change breaks some tests, e.g. [sparse_svm](https://github.com/scikit-learn/scikit-learn/blob/1045d16ec13b1cab7878e7555538573d1884aad3/sklearn/svm/tests/test_sparse.py#L286). I'll go ahead and update those? Should I raise a DeprecationWarning first, or immediately setup a PR with ValueErrors?

[2021-03-06 17:49] thomasjpfan commented on #19614
I would prefer to deprecated first to be on the safe side. For the first PR, let's do this for `gamma` first to see how other reviewers feel about it. Then we can have follow up PRs on the other parameters.

[2021-03-06 18:12] Xceptions commented on #19627
I think this is a nice idea

[2021-03-06 21:09] jnothman commented on #19627
Would max_degree, min_degree be an appropriate way to specify?

[2021-03-06 21:36] simontindemans opened #19632 "OOB calculation in Random Forests seems to use incorrect indices"
### update 9 March 2021

After the discussion below and further testing, I came to the conclusion that this is _**not**_ a bug after all. The indices are computed correctly, because ``_make_estimator`` always generates a new random _seed_ that is stored in the ``random_state`` variable of each tree -- even if a ``np.random.RandomState()`` object was passed to ``_make_estimator``.

Apologies for th

[2021-03-06 21:40] simontindemans commented on #19632
I found the above remark by @amueller when searching for the PR that committed the code in question. The PR a method to re-generate bootstrapped indices, but it appears to me that new (i.e. random) indices are generated if the estimator.random_state is _not_ an integer seed.

[2021-03-06 21:58] simontindemans commented on #19632
As an aside, should ``_compute_oob_predictions(self, X, y)'' not also take a ``sample_weights`` argument? It seems to me that the OOB score should be weighted according to the sample weights.

[2021-03-06 23:55] gaspard-dv commented on #19627
Yes!

Indeed, if we were to put aside the importance of backward compatibility, I believe that renaming the current `degree` parameter to `max_degree` would be more precise.

Because the doc says:

[2021-03-07 00:10] swarupsrini commented on #19538
Since this has not been resolved yet, I would like to take on this issue as well.

[2021-03-07 00:11] swarupsrini commented on #19538
Take

[2021-03-07 00:36] yoni2k commented on #13621
Totally necessary!
I would love to use it for content recommendation engine!

[2021-03-07 03:01] AntonioRegilane commented on #13621
Unfortunately, for my problem the repeat does not work correctly, new combinations are not guaranteed. I think that's because my multiclass dataset is heavily unbalanced. It is also not stratified: groups can have different amounts of classes. For example, I did a test with two unbalanced classes such that 0: 80% and 1: 20%. Is the example correct? In my work, I use the GroupShuffleSplit where I i

[2021-03-07 05:48] tjysdsg opened #19636 "Make train_test_split() support splitting to train, test and validation set at the same time"
#### Describe the workflow you want to enable

I want to be able to use it like this:

[code]

I cannot do this:

[code]
because the size of validation set will be 0.8 * 0.1, right?

[2021-03-07 08:36] YangXiaozhou commented on #9400
Adding on to @JPFrancoia 's comment, there is indeed no reason why the two ratios should be the same since they are computed based on different data. Therefore it might not be a bug.

In particular, while both are ratios of descending eigenvalues against the sum of the eigenvalues,  PCA computes eigenvalues from the entire data set, **X**, while LDA computes those from **W**^{-1}**B**, the multipl

[2021-03-07 08:48] NicolasHug commented on #19614
I don't think there's anything to deprecate here: there's no feature, just a silent (minor) bug.

We could raise a temporary warning instead of an error, but for such bugfixes we tend to error directly. On top of that, the upcoming release is 1.0, so it'd be nice to include such changes directly.

Also, the failing tests as mentioned above would have to fixed whether we raise a warning or an error

[2021-03-07 09:01] PGijsbers commented on #19614
I'll update the PR when there is a new consensus (the PR has a `FutureWarning` instead of `DeprecationWarning` right now) :) just let me know

[2021-03-07 09:53] NicolasHug commented on #19614
@thomasjpfan what made you change your mind from error to warning? The offending test [sparse_svm](https://github.com/scikit-learn/scikit-learn/blob/1045d16ec13b1cab7878e7555538573d1884aad3/sklearn/svm/tests/test_sparse.py#L286) is clearly wrong as it passes `clf = svm.OneClassSVM(gamma=1, kernel=kernel)` for all kernels.

[2021-03-07 10:08] NicolasHug opened #19637 "CalibratedClassifier on pipelines"
Looks like CalibratedClassifierCV doesn't support pipelines, see https://github.com/scikit-learn/scikit-learn/issues/19625 and https://github.com/scikit-learn/scikit-learn/discussions/19279

We should try to delegate the validation to the base estimator (https://github.com/scikit-learn/scikit-learn/discussions/19279#discussioncomment-313812)

[2021-03-07 10:09] NicolasHug commented on #19625
For issues that potentially look like a bug report, I think we should leave them in the issue tracker rather than in the discussion: if it's actually a bug, we can't convert the discussion back to an issue.

In this case it seems like the same as https://github.com/scikit-learn/scikit-learn/discussions/19279

I opened https://github.com/scikit-learn/scikit-learn/issues/19637 to keep track of it

[2021-03-07 12:16] Roffild opened #19638 "[BUG] hinge_loss multi"
[code]

[2021-03-07 13:55] jnothman commented on #19614
I agree with Nicolas: the test is just being lazy.

[2021-03-07 14:42] thomasjpfan commented on #19614
The ignoring behavior is [explicitly documented](https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html#sklearn.svm.SVC) which makes me think it was intentional.

I do want to get to raising an error at some point and would be +1 on raising an error for 1.0.

[2021-03-07 14:52] thomasjpfan commented on #19638
In this case `y_true` has three classes, while the `pred_decision` is 1d which is for binary classification. We most likely want to error when the shape of `pred_decision` is not consistent with `y_true` (or `labels`).

[2021-03-07 16:52] #14813 closed

[2021-03-08 07:54] NicolasHug commented on #19638
Also `pred_decision` should be the output of `decision_function`. It looks like the output of `predict` in the snippet above

[2021-03-08 07:56] NicolasHug commented on #19636
Closing as duplicate of https://github.com/scikit-learn/scikit-learn/issues/13990

yes, but you can always scale it up manually to get the expected output

[2021-03-08 07:57] #19636 closed

[2021-03-08 08:21] NicolasHug commented on #19632
Yup, I think you might be right, thanks for the report.

Ideally we would generate the oob samples at the same place where we're generating the bagging samples (i.e. in `_parallel_build_trees`) to avoid reproducing the bug in the future. But that might take up a lot of memory... I guess we'll have to sample `n_estimators` int seed for that.

Would you like to try and provide a fix @simontindemans

[2021-03-08 09:03] cmarmo commented on #16155
This issue is a good candidate for finalization in 1.0. I will try to summarize here what is still missing, parsing the corresponding pull requests.
- [ ] Document the `poor_score` estimator tag: its definition has been changed in #17356 but the [documentation](https://scikit-learn.org/dev/developers/develop.html#estimator-tags) has not been updated: file to be modified is `doc/developers/develop.

[2021-03-08 09:05] PierreAttard commented on #19638
Could we not transform `[0,1,2,1,0,2,1]` in the right format : `[[0,0,1], [0,1,0], [0,0,1], [0,1,0], [2,0,0], [0,0,1], [0,1,0]]` inside the `_classification.hinge_loss` method ?

If we detect that `y_true` is not a binary classification and that `pred_decision` is 1d.

[2021-03-08 09:22] NicolasHug commented on #19638
No, the hinge loss requires the real-valued decision function, not the classes

[code]

where pred_decision is

[code]

[2021-03-08 09:27] PierreAttard commented on #19638
Ok, so I take and raise an Error if the shape of `pred_decision` is not consistent with `y_true` (or `labels`).

[2021-03-08 09:46] shivamgargsya commented on #19583
Hi I would like to work on this. If @hakeemo  is not working on it. @NicolasHug for backward selection we do not have order for selected features but order for dropped features.
https://github.com/scikit-learn/scikit-learn/blob/95fa18f2782c3fcebd7a8388cde85323104f22b0/sklearn/feature_selection/_sequential.py#L183

[2021-03-08 09:58] NicolasHug commented on #19583
As mentioned above I'm not sure what could be the most sensible API yet. I'd suggest opening a PR with a single `ranking_` attribute, whose meaning would depend on the `direction` parameter. It'll be easier to decide then

[2021-03-08 10:42] simontindemans commented on #19632
Thanks for checking. At a glance, I think there are three possible approaches to fix this:
1. Revert to storing ``_indices`` for each tree. Simple and bomb-proof, but at the cost of memory.
2. Use ``random_state.get_state()`` before sampling the indices and store the state for each tree. Then, before regenerating the indices, create a new RandomState object and initialise it with ``set_state(old_s

[2021-03-08 10:55] ogrisel commented on #16155
Thanks for the summary. For the last point, I would also be in favor of adding a permanent note in our documentation as discussed  #18594 even if/after we deprecate `load_boston` to document the problem and suggest alternative datasets to educate our users about this issue.

[2021-03-08 11:54] NicolasHug commented on #19632
I'd go with 2 but instead of storing the state, just store an int seed (for each tree), it's cheaper and that's what we do in the other places of the code:
https://github.com/scikit-learn/scikit-learn/blob/42e90e9ba28fb37c2c9bd3e8aed1ac2387f1d5d5/sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py#L216-L221
 Basically create a private `_seeds_for_subsampling` list with length `n_estimato

[2021-03-08 12:00] adrinjalali commented on #16155
I'm in favor of all your suggestions @cmarmo

[2021-03-08 12:08] robinthibaut commented on #19549
I would like to report that I experience the same issue and had to downgrade back to be able to use CCA.

[2021-03-08 12:18] simontindemans commented on #19632
Ok, that makes sense and should be straightforward to implement. I will do this in the coming week and submit a pull request.

[2021-03-08 12:59] simontindemans commented on #19632
Regarding this snippet, is there any specific reason to use the uint32 maximum in combination with a u8 (64-bit) data type?

[2021-03-08 13:14] NicolasHug commented on #19632
I think there's one... but I don't remember ><. I think there was an issue with big seeds on 32bits architectures, something like that?

[2021-03-08 13:19] simontindemans commented on #19632
Ok, I guess that's possible. I will adhere to this format for the sake of consistency - and not much that can go wrong by filling the top 4 bytes with zeros.

[2021-03-08 13:32] jnothman commented on #19549
Are you able to provide a dataset to help us reproduce the issue?

[2021-03-08 13:52] cmarmo commented on #19619
Thank you @ChristophKirst for reaching out. This has also be reported in #17162. Perhaps @NicolasHug or @agramfort could give some insights here or in #17162? Thanks!

[2021-03-08 13:58] simontindemans commented on #19632
I have just implemented a fix in https://github.com/simontindemans/scikit-learn/tree/rf_oob_indices_fix

Unfortunately, it fails on a number of tests (12 in ``sklearn/ensemble/tests/test_forest.py``) and I don't have time at the moment to investigate in detail. It seems a number of them require specific numerical results that change when the order of random seeds has been modified, but perhaps the

[2021-03-08 14:01] cmarmo commented on #1349
Shall we consider this issue solved by #13848? No new failures have been reported since its merge. @ogrisel? Thanks!

[2021-03-08 14:02] NicolasHug commented on #19632
@simontindemans would you mind submitting a PR so we can see the failures on the CI and potentially start reviewing?

[2021-03-08 14:05] robinthibaut commented on #19549
Hello,

Here's an excerpt from my code with the attached training dataset saved to 2 text files.

[predictor_training.txt](https://github.com/scikit-learn/scikit-learn/files/6101831/predictor_training.txt)
[target_training.txt](https://github.com/scikit-learn/scikit-learn/files/6101832/target_training.txt)

- The predictor has 200 samples and 50 features, the target has 200 samples and 30 features

[2021-03-08 14:06] ogrisel commented on #19619
@ChristophKirst  I agree the code is confusing. Feel free to open a PR to swap the `n_features` and `n_samples` local variable names. Also we could further name the output of `self.validate_data(X, ...).T` as `XT` to avoid confusion.

[2021-03-08 14:13] simontindemans commented on #19632
Done. One of the issues is that warm starting (i.e. constructing the tree in two phases) does _not_ result in the same index selections - although I'm not quite sure why.

[2021-03-08 14:15] NicolasHug commented on #19619
I agree with @ogrisel, and this probably should be a bugfix entry. Also, this comment is confusing:

[code]

This does center the variables (features would be a better name) but this centers the rows of `X` (should be `Xt`), not its columns. Let's just change it to "Centering the features of X"

[2021-03-08 14:40] epsilon-deltta opened #19645 "could you make rmse in sklearn.metrics"
?

[2021-03-08 15:26] simontindemans commented on #19632
I am _beginning_ to wonder whether my initial suspicion was wrong. The name ``random_state`` is used both to refer to integer seeds and np.random.RandomState objects. The original ``_generate_unsampled_indices`` function uses ``tree.state``, which is set by the ``_make_estimator`` function on the basis of the RandomState in ``fit(..)``.

Delving deeper into ``_make_estimator``, it calls ``_set_ran

[2021-03-08 15:36] ogrisel commented on #19619
`XT.mean(axis=-1)` is `XT.mean(axis=1)`: this centers each row of `XT` by computing the means across the columns of `XT`.

I agree the comment could be rewritten to be more explicit.

[2021-03-08 16:57] anirbansen3027 opened #19647 "How do we pass eval_set of a Catboost model into fit function of Multioutputclassifier of sklearn?"
I have a multilabel dataset for which I am using Catboost model along with MultiOutputClassifier from sklearn. In order to pass the eval set for early stopping we need to pass as a dictionary **fit_params as mentioned in the MultioutputClassifier docs. I have tried doing the same. But it doesn't seem to work.

Code:
[code]
Error:
[code]

[2021-03-08 17:25] simontindemans commented on #19632
I understand now why the warm start tests fail. For an ensemble with _n_ trees, the ``fit`` function of the existing code draws exactly _n_ random numbers to initialise the seeds of each tree itself. When ``fit`` is called again with the ``warm_start`` argument, _n_ dummy random numbers are drawn to reach the same state, before instantiating the random numbers of the new trees. This results in a f

[2021-03-08 17:31] rahulrobotics commented on #16135
Hi guys! This would be a cool feature. For example, what if you wanted to have a separate confusion matrix for each repeat?

[2021-03-08 17:57] chengyineng38 commented on #12525
I was able to get it using `col_transformer.named_transformers_["ohe"].get_feature_names()`

[2021-03-08 18:07] NicolasHug commented on #19632
I think this makes no sense - and the check is even incorrect. I opened #19648 to remove that behavior. If you merge #19648 (which hopefully will be accepted) into your PR branch, does that makes things go smoother? I'd rather have the implementation in your PR for the subsampling, rather than the current one which seems to give both of us a hard time.

[2021-03-08 18:41] simontindemans commented on #19632
I have merged your fix. That resolves most errors. There are three errors left in the ``test_forest`` test suite. All three are numerical deviations that are _just_ outside of tolerances (0.107 instead of <= 0.100). That could well be a statistical fluke. I have done a check to see whether my indices are recomputed correctly, with a temporary ``np.testing.assert_equal``, which seems to be ok.

[2021-03-08 19:05] ericpre commented on #19604
Another example of VCA implementation: https://github.com/MotokiShiga/malspy

[2021-03-08 20:51] dcoulomb opened #19649 "Optimizing the fine-tuning of PCA / KernelPCA n_components"
This example shows a way to use cross-validation to select the best value for n_components in the PCA:
https://scikit-learn.org/stable/tutorial/statistical_inference/putting_together.html

However, it seems that there would be a more computation-efficient way to do it, fitting the PCA only once with the maximum value of n_components tested, and then applying the transformation with different value

[2021-03-08 22:10] jnothman commented on #16135
What's wrong with running cross_val_predict in a loop with a changing random seed?

[2021-03-08 22:52] blthayer commented on #19645
I'm not a scikit-learn author, but this functionality exists in the [mean_squared_error](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html#sklearn.metrics.mean_squared_error) function. Simply add the keyword argument `squared=False` to your call to `mean_squared_error` to get RMSE instead of MSE.

[2021-03-08 23:04] jnothman commented on #19627
I think deprecating `degree` and replacing it with `max_degree` would be acceptable.

[2021-03-09 05:13] sh-biswas opened #19651 "Differences in penalties handled by solvers in Logistic Regression Documentation"
It appears that the docs for Logistic Regression differ based on solvers and penalties. The "penalty" parameter states that "The ‘newton-cg’, ‘sag’ and ‘lbfgs’ solvers support only l2 penalties," while the "solver" parameter states that "‘newton-cg’, ‘lbfgs’, ‘sag’ and ‘saga’ handle L2 or no penalty" (attaching some screenshots).  This was actually a little unclear to me, as I wasn't sure if the n

[2021-03-09 08:46] epsilon-deltta commented on #19645
DAMM IT WAS SO SIMPLE.....veryvery thank YOUUU !!!😁😁😁😁😁😁😁

[2021-03-09 08:46] #19645 closed

[2021-03-09 08:54] jnothman commented on #19651
It might just be best to say "see compatibility with solver, below" or
something. Please do open a pull request. Thanks

[2021-03-09 09:13] simontindemans commented on #19632
@NicolasHug, I can confirm that the original code, although in a slightly obfuscated manner, does work correctly. See also my update in the top post. You can remove the bug label from this post, although the proposed modifications (and discussion in #19648) may still be useful to improve maintainability of the code.

[2021-03-09 09:19] dkobak commented on #10044
Given

https://github.com/scikit-learn/scikit-learn/pull/17148
https://github.com/scikit-learn/scikit-learn/pull/15082
https://github.com/scikit-learn/scikit-learn/pull/13264
https://github.com/scikit-learn/scikit-learn/pull/10593
https://github.com/scikit-learn/scikit-learn/pull/10610

I believe this could be closed now?

[2021-03-09 09:31] cmarmo commented on #10044
Thanks @dkobak , do you think you would be able to quickly benchmarking the current version using scripts referenced in this issue?

[2021-03-09 14:27] ogrisel commented on #19637
I started to fix this bug (or at least a part of it) as part of #19555 but got side-tracked. I still need to address the concerns of @thomasjpfan .

[2021-03-09 16:29] thomasjpfan commented on #15254
I think this is resolved now:

[code]

Feel free to reopen if you think the issue still exists.

[2021-03-09 16:29] #15254 closed

[2021-03-09 16:37] thomasjpfan commented on #19014
I agree with @NicolasHug , that we should not add `ignore_missing` to `ColumnTransformer`.

Another way to resolve your issue would be to selected based on dtype using [make_column_selector](https://scikit-learn.org/stable/modules/generated/sklearn.compose.make_column_selector.html#sklearn.compose.make_column_selector).

[2021-03-09 16:37] #19014 closed

[2021-03-09 17:40] dkobak commented on #10044
@cmarmo Hmm. Embedding full MNIST without PCA pre-processing (n=70000, d=784) as @lmcinnes did above, on my 8-core laptop:

* openTSNE(n_jobs=-1): 3min 6s [kNN search: 49s]
* MulticoreTSNE(n_jobs=-1): 13min 56s [kNN: 6min 27s]
* openTSNE(n_jobs=-1, neighbors='exact', negative_gradient_method='bh'): 29min 24s [kNN: 25 min]
* SklearnTSNE(n_jobs=-1): 48min 18s [kNN: 40 min]

I did not run it single-t

[2021-03-09 17:50] NicolasHug commented on #19637
@ogrisel perhaps merging #19641 first will simplify your work on #19555?

[2021-03-09 19:02] dkobak commented on #10044
@rth Hmm

I have sklearn 0.23.2 on Ubuntu.

Well, it's not what I observe:

[code]

gives

[code]

Can it be hardware-dependent??

[2021-03-09 20:09] dkobak commented on #10044
@rth Wow, I installed 0.24.1 and look:

[code]

What has changed in 0.24?? It's amazing.

[2021-03-09 20:10] rth commented on #10044
No it shouldn't depend too much on hardware. It sounds like an issue of oversubscription or BLAS that was fixed.
Could you please provide the output of
 - `sklearn.show_versions()`
 - `python -m threadpoolctl -i numpy scipy.linalg`

?

[2021-03-09 20:10] lorentzenchr commented on #19578
If so, we can close?

[2021-03-09 20:19] rth commented on #10044
I'm not fully sure which commit is responsible for the difference in performance you saw, but in any case it does look like the performance of v0.24.1 is good when compared to other TSNE implementations.

So I'm going to close this issue, but don't hesitate to comment if you see other things.

[2021-03-09 20:19] #10044 closed

[2021-03-09 20:24] dkobak commented on #10044
@rth Very cool. I just re-ran t-SNE benchmark, and I got 10min 54s with sklearn which is indeed faster than MulticoreTSNE.

I'll let @pavlinpolicar know that we should switch openTSNE's exact kNN search to `algorithm='auto'`.

[2021-03-09 21:06] dkobak commented on #4994
I've just tried it with the current (sklearn 0.24.1) implementation and it works as expected:

[code]

Outputs:

[code]

So it converges straight away (I guess convergence is only checked every 50 iters) and the outcome does not change.

Note that custom init has been implemented by now. I think this can be closed @amueller.

[2021-03-09 21:20] TomDLT commented on #10044
It is most likely #17148

[2021-03-09 21:24] rth commented on #10023
Thanks @dkobak!

[2021-03-09 21:24] #10023 closed

[2021-03-09 21:25] dkobak commented on #10044
@TomDLT Ah, so in 0.23 "auto" was not running brute-force but something else? Makes sense.

[2021-03-09 21:53] cmarmo commented on #4994
Thanks @dkobak!

[2021-03-09 21:53] #4994 closed

[2021-03-10 06:38] andrewdelong opened #19654 "libsvm_sparse can fail when sample_weight has some zeros"
### Describe the bug

*SVC().fit(X, y, w)* sometimes fails with sparse *X* and *w* containing some zeros, raising:
[code]
Whether or not an exception is raised depends on the training set.

### Workaround

Remove the zero-weight samples or replace those weights with very small values, like 1e-16.

(One motivation for zero-weight samples is as a hack to keep *classes_* and *predict_proba(X)* consis

[2021-03-10 09:58] ogrisel commented on #19637
Right, let's decouple the issues.

Note that this bug was already reported as #8710.

[2021-03-10 10:06] NicolasHug commented on #19637
It's similar but #8710 seems to have failures in `fit` which I think have been fixed - the new failures are related to the prediction methods

[2021-03-10 10:27] #19637 closed

[2021-03-10 10:28] #8710 closed

[2021-03-10 11:32] justinas-kazanavicius commented on #13621
It makes it really confusing that the documentation for StratifiedKFold and RepeatedStratifiedKFold includes groups as a parameter to the split function, but in reality, this parameter does not affect the splits in any way. Either the solutions in this thread should be merged into the existing classes (so the parameter actually does something), or there should be new classes (StratifiedGroupKFold

[2021-03-10 13:25] ogrisel commented on #19637
The original #8710 was still open because the `predict` / `predict_proba` side of things was not fixed as mentioned in the discussion: https://github.com/scikit-learn/scikit-learn/issues/8710#issuecomment-766331930

[2021-03-10 13:42] vnmabus commented on #18700
Is it not possible to have "transductive" transformations? In that case you would not be able to `transform` new observations, so requiring only `fit_transform` makes sense. It also make sense to reference `fit` and `transform` in the default implementations, for "inductive" transformers.

[2021-03-10 18:06] MichalRIcar opened #19655 "sklearn\metrics\_scorer.py", line 53 → AttributeError: 'LassoCV' object has no attribute 'predict_proba'"
Hello,

this is rather an optimization recomm for the _scorer.py than hard crush.

#### Describe the bug
If LassoCV fails to estimate coefficients then it returns nan => correct
as the Kernel reports ► UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan.

However, the set of common supporting libs are called automatically from sklearn side an

[2021-03-10 18:25] thomasjpfan commented on #19655
`neg_log_loss` is a classification metric and `LassoCV` is for regression. You can find regression metrics [here](https://scikit-learn.org/stable/modules/model_evaluation.html#the-scoring-parameter-defining-model-evaluation-rules).

If you want to do classification, you need to pass in a classifier, such as `LogisticRegression`. If you want to use `'neg_log_loss'`, you need to make sure that class

[2021-03-10 18:25] #19655 closed

[2021-03-10 19:10] arose13 opened #19656 "Variable regularisation strengths for Lasso Ridge and ElasticNet"
#### Describe the workflow you want to enable
I would like to be able to set different alpha (regularisation strengths) to different features (columns of x). I've done this often for models I've made in CVXpy but it would be nice to have it in sklearn with all of the computation advantages sklearn has

#### Describe your proposed solution
This could be done by having the regularisation strength be

[2021-03-10 19:10] dringel opened #19657 "Inappropriate Language in scikit-learn: Boston house prices dataset Description"
Dear scikit-learn community,

I've been using scikit-learn and the Boston housing prices dataset in my data science for business course. I recognize that this is a very old dataset (1978). However, I believe the description deserves an update because it uses inappropriate language that can be hurtful.

Specifically, when calling the description with `print(boston.DESCR)` one of the attributes (B)

[2021-03-10 20:02] TomDLT commented on #19657
Thanks for reporting this. This issue has been recently discussed and it was decided to remove the Boston dataset completely from scikit-learn, see the discussion in #16155.

[2021-03-10 20:20] dringel commented on #19657
Thank you for your fast response. I am aware of the discussion on how the variable was generated and what it suggests. My concern was additionally with the particular language used. This was raised within the discussion of [#16155](https://github.com/scikit-learn/scikit-learn/issues/16155). To me, these are both issues to address. Simply removing the dataset feels a bit like sweeping it under the

[2021-03-10 22:44] hsorsky opened #19658 "No score output when using BaseSearchCV with appropriate verbosity and non-dict scoring"
#### Describe the bug
I am not sure if this counts as a bug or a regression (or whether it was discussed and purposefully done, but I can't see any documentation of it).

Previously (sklearn version `0.20.1`) when running `fit` on  a `BaseSearchCV` object with verbosity above `2`, we would get output detailing the test scores for each fold. Under current sklearn (`0.24.1`), if we don't supply scor

[2021-03-11 03:51] jnothman commented on #19658
Yes, this looks like a regression. Want to patch it?

[2021-03-11 06:50] Arunpoochelvan commented on #14485
Working thank you

[2021-03-11 08:18] mitar commented on #19603
@PierreAttard Go for it.

[2021-03-11 08:19] odedbd commented on #8710
@ogrisel Thanks, if the reproducer code works it should be fine. The merged changes are on the scikit-learn:main branch, right? Until now I only worked off the released versions, should I be able to pip install directly from the github-repo in order to test this on my own code, or do I need to clone the repo and build? I apologize if this is not the right place to ask this.

[2021-03-11 09:56] minty99 opened #19660 "[BUG?] OverflowError in _liblinear.npx"
[code]

I am using `LinearSVC` with training data shape (3046829, 900).
However, when I run `model.fit()`, OverflowError occurs because

https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/svm/_liblinear.pyx#L39
`<np.int32_t>np.count_nonzero(X)` is larger than max value of 32-bit integer.

How can I avoid this issue? Is this an intentional limit?

[2021-03-11 12:27] cozek commented on #17085
Hi, I would like to take over since this is stalled.

[2021-03-11 12:31] cmarmo commented on #17085
Hi @cozek , sure go ahead: FYI you can comment "take" in this issue and it will automatically assigned to you.

[2021-03-11 13:39] ogrisel commented on #19657
@TomDLT @dringel I opened #19661 to address this specific issue.

[2021-03-11 14:16] #19657 closed

[2021-03-11 15:55] cranedroesch opened #19662 "LogisticRegression is multithreading -- why and how? Can it be turned off?"
MWE:

[code]
result:
<img width="2016" alt="image" src="https://user-images.githubusercontent.com/13458532/110815521-82e96980-8258-11eb-8e8d-45579c395233.png">

1.  How do you parallelize lbfgs (the default)?  I thought that this was a sequential algorithm.  I see experimental stuff when I google "parallel lbfgs" but nowhere is this documented in sklearn, AFAICT.  Maybe you're digging deep into th

[2021-03-11 16:01] MichalRIcar commented on #19655
Thomasjpfan, thank you for the prompt response! I assume that it is a fashion/design of sklearn as R and SAS has Lasso version for binary target and from math definition, Lasso is easily transferable from continuous target to binary target  by the linking function.

In R the parameter in Lasso " family="binomial" " was the communication link to tell Lasso that we are on binary target optimization

[2021-03-11 16:09] jeremiedbb commented on #19617
In lloyd, we can compute all distances at once, which means that we can use the blas level 3 gemm, and this is very efficient.
In elkan, we have to compute distances one by one, so we could only use blas level 1 dot, and it's not more efficient that the code above (unless maybe with millions of features but kmeans is useless then), at least on common architectures.

Moreover this function is also

[2021-03-11 16:18] thomasjpfan commented on #19655
sklearn prefers to keep classifiers and regressors into separate classes, so there is no `family="binomial"`. On a side note, we do have GLM's for regressors where you can specify [the target domain](https://scikit-learn.org/stable/modules/linear_model.html#generalized-linear-regression).

For binary targets, I would say `LogisticRegressionCV` with `penalty='l1'` would be closest to `LassoCV`.

[2021-03-11 16:20] MichalRIcar commented on #19655
Great to chat with you! Understand the systematic approach of your LIB and like it very much..
Tried the LR penalty ='l1'. It works OK, however, Lasso works better.
So let me play with it further, thank you for your support.

[2021-03-11 16:24] jeremiedbb commented on #19662
Parallelism comes from the matrix multiplications only indeed. More specifically through a BLAS library. You can deactivate it by setting an environment variable which depends on the BLAS you use. Usually it will be ``MKL_NUM_THREADS=1`` or ``OPENBLAS_NUM_THREADS=1``.

you can find easily which blas sklearn uses by running:
[code]
You can also limit the number of threads for the blas dynamically i

[2021-03-11 16:44] cranedroesch commented on #19662
Thank you for the explanation!  The solution works on the MWE, but not on my real code.  Not sure why, but anyway that's a different problem.  For posterity:  the argument to `threadpool_limits` is `limits` rather than `limit`.

[2021-03-11 16:44] #19662 closed

[2021-03-11 17:34] #19658 closed

[2021-03-11 19:53] TTRh opened #19665 "Inconsistent behavior with bagging & base estimator class_weight"
#### Describe the bug

Bagging Classifier transforms y to indices between 0..N but does not impact the possible `base_estimator.class_weight` attribute making the fit method fails when using class_weight: the class could not be found.

#### Steps/Code to Reproduce

This is working fine:

[code]

Now i'm just adding a wrapping it around BaggingClassifier:

[code]

I'm getting:

[code]

It seems it

[2021-03-11 22:19] lorentzenchr commented on #19615
I'm also on board with the *Proposed plan of actions*, and, like @agramfort, don't think that adding lbfgs is necessary. A few further comments:

- `tol=1e-3` is indeed a bit large. On top, it means different things for different solvers.
- "cholesky" solves the normal equations, i.e. computes `X.T @ X + penalty`, and therefore doubles the condition number of X which directly impacts the precision

[2021-03-12 08:19] agramfort commented on #19615
remove sparse_cg ? I would think it's the right thing to do for sparse X no?

[2021-03-12 09:00] ogrisel commented on #19615
Also in my benchmarks, `sparse_cg` seemed to perform reasonably well, even on dense array data.

[2021-03-12 11:07] cmarmo commented on #19647
Hi @anirbansen3027 , thanks for reaching out. I had to fix some typos in your snippet in order to make it run. But I'm not sure I have reproduced it correctly: could you please check?
[code]
With this script I still have an error but not the same as you
[code]
My environment is
[code]

[2021-03-12 12:23] lorentzenchr commented on #19615
@ogrisel Which benchmark are you referring to?

Sorry, that suggestion of mine was typed too quickly and too late in the evening. I mixed up `_solve_sparse_cg` with cg based optimization routines. However, https://web.stanford.edu/group/SOL/software/lsqr/ states:

On the corresponding [LSMR page](https://web.stanford.edu/group/SOL/software/lsmr/):

[2021-03-12 13:48] #19587 closed

[2021-03-12 14:26] DelgadoPanadero commented on #19294
We have also write a [further explanation ](https://towardsdatascience.com/implementing-explainability-for-gradient-boosting-trees-9dde33ecdabd)about it in TowardsDataScience. It may be helptfull to understand the whole idea

[2021-03-12 14:42] mbatoul commented on #19334
I'm working on `test_estimators` in `sklearn/tests/test_common.py`

[2021-03-12 14:42] ogrisel commented on #19615
Interactive tests that I did by tweaking the end of the gist linked in the description.

[2021-03-12 15:24] sh-biswas commented on #19651
I apologize, I meant to start this but had some issues due to university finals. Will work on this this weekend.

[2021-03-12 17:47] RylanSchaeffer opened #19667 "Corrupted Loaded Dataset Returns Unhelpful Error"
I found an interesting unhelpful error when trying to use `sklearn.datasets.fetch_kddcup99`. I was downloading the data when my system crashed. After I rebooted and reran the code, I got the following error:

[code]

This was unhelpful in identifying the true cause of the error (that the download wasn't completed correctly). Following this StackOverflow post (https://stackoverflow.com/questions/59

[2021-03-12 20:03] NicolasHug commented on #19294
Thanks for the links and for your patience, I finally got some time to look into it more deeply.

Trying to summarize what I understand: for a given sample `x` in a given tree, say its path from the root `a` to the leaf `e` is `a -> b -> c -> d -> e`, we decompose the predicted value `ve` as `ve = va + (vb - va) + (vc - vb) + (vd - vc) + (ve - vd)`, where each `(vi - v_{pred_i})` is called the con

[2021-03-12 23:45] #19638 closed

[2021-03-13 00:02] thomasjpfan commented on #19667
Thank you for reporting this issue. I agree we can improve this message.

For debugging purposes, did you get an `During handling of the above exception, ...` following the error that suggest that `joblib.load` failed?

[2021-03-13 03:32] adriangb commented on #18171
This relates to https://github.com/tensorflow/tensorflow/issues/34697. The TLDR is that TensorFlow models can't be pickled. Scikit-Learn is attempting to pickle your Model. I proposed a hotfix in the linked issue ([here](https://github.com/tensorflow/tensorflow/issues/34697#issuecomment-627193883)). But since you're using Scikit-Learn, you may want to check out [SciKeras](https://github.com/adrian

[2021-03-13 04:52] dpgailey commented on #18621
pip3 install --pre -U scikit-learn

Works on MacOS Catalina (10.15.7)

[2021-03-13 15:41] thomasjpfan commented on #19665
There has been inconsistent behavior with metaestimators such as `BaggingClassifier` and the base estimators that take a `class_weight`. For now, the best work around is to encode your labels starting from 0.

As a possible solution, would be for `BaggingClassifier` to detect the base estimator has `class_weights` set, and "re-encode" the keys of the class weights to the new encoding. This would e

[2021-03-13 16:03] lorentzenchr commented on #19523
This issue was also raised as discussion #19529. I'm just cross-referencing.

[2021-03-13 21:29] DelgadoPanadero commented on #19294
Yes, that is the main idea of our decision_path proposal (you can also see our implementation code in our [fork project](https://github.com/DelgadoPanadero/scikit-learn/blob/main/sklearn/ensemble/_gb.py#L229)).

To sum up, our method is not generally true, but we can demonstrate that the only requirement is that the features are statistically independent (which is a common suposition). Moreover, t

[2021-03-14 01:04] MalazTamim opened #19672 "'<' not supported between instances of 'tuple' and 'Version' error"
When I run the following code:

from sklearn.model_selection import train_test_split
X_train, X_rest, y_train, y_rest = train_test_split(x, y, stratify=None,test_size=0.4)

I get this error:

-------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-24-ade5fc6cc231> in <module>
      3 #from

[2021-03-14 09:07] JavieW commented on #19269
Can I contribute on this one? Adding formats as an optional parameter, in did work. Since the new added parameter is optional, the original usages of this function won’t be affected.

[2021-03-14 15:35] JavieW commented on #19269
In line 229-230 at _base.py file, when we try to get all document names, add an additional check (**check_format(d, formats)**) to help select only the documents that satisfy the required formats.

`        documents = [join(folder_path, d)
                     for d in sorted(listdir(folder_path)) if check_format(d, formats)]`

The implementation for check_format() that I have as below:
[code]

[2021-03-14 16:03] lorentzenchr commented on #18685
Can we close or does it need further discussion?

[2021-03-14 20:08] RiyasatTalukder commented on #597
Is this issue still active? Would it be possible to share more information regarding which files/methods to look at? Thanks!

[2021-03-14 21:45] andrewdelong opened #19677 "OneHot/OrdinalEncoder categories broken for dtype='S'"
#### Describe the bug

For *OrdinalEncoder* and *OneHotEncoder*, the *fit(X)* method fails if two conditions are true: (1) *X* contains byte strings (*dtype='S'*), and (2) *categories* is specified in the constructor. The error:
[code]
Broken as of v0.24. Seems introduced by PR #17317 (super-useful!). A fix might be as simple as changing the line below to `'OUS'`, but I am not sure. Maybe @thomasj

[2021-03-15 06:55] gykovacs commented on #19656
Doesn't scaling the columns of X with the weights lead to the same net effect with Lasso?

[2021-03-15 07:39] cliffordEmmanuel commented on #15259
Hi, I would like to work on this.

[2021-03-15 08:01] saskra opened #19679 "Pass the confusion matrix as a parameter"
#### Describe the workflow you want to enable

Functions like sklearn.metrics.balanced_accuracy_score, f1_score, jaccard_score, matthews_corrcoef, etc. recalculate the confusion matrix every time, which is very time consuming. I would want to calculate it once and then pass it to these functions as a parameter to get the resulting quality metrics much faster. If you want to calculate more than one

[2021-03-15 09:54] NicolasHug commented on #19672
What are X and y?

Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal.

[2021-03-15 11:22] #18584 closed

[2021-03-15 11:46] cmarmo opened #19681 "utils.gen_batches missing from documentation"
#### Describe the issue linked to the documentation
The `utils.gen_batches` function is not referenced in the documentation (see the [search result page](https://scikit-learn.org/dev/search.html?q=gen_batches)), while for example `utils.gen_even_slices` is (see the [search result page](https://scikit-learn.org/dev/search.html?q=gen_even_slices)). Is this expected?

#### Suggest a potential alterna

[2021-03-15 11:51] rth commented on #19681
yes, we should add it. I was looking for it recently as well and couldn't find it in the documentation.

[2021-03-15 13:29] ogrisel commented on #19614
Why not just go through the usual deprecation cycle? This is more user friendly than a breaking change.

[2021-03-15 13:49] ogrisel commented on #19614
The fact that the degree parameter is documented as ignored explicitly if kernel is not poly is a marker that the current behavior was intentional and should therefore not be considered a bug. Also the current behavior can be (ab-)used to do simple yet efficient hyper-parameter search for all the kernel and there parametrizations at once using `RandomizedSearchCV` with distributions. Maybe that's

[2021-03-15 14:35] arose13 commented on #19656
It's not a great solution is you want set penalties very close or exactly to zero.

[2021-03-15 15:21] chrislybaer opened #19682 "ValueError in _lars_path_solver in _least_angle.py"
Hello,

we get the following error:
`alphas, active, coefs = lars_path(A, measurements, max_iter=k_CS, method='lasso') File "..._least_angle.py", line 165, in lars_path return_n_iter=return_n_iter, positive=positive) File "..._least_angle.py", line 717, in _lars_path_solver residual = y - np.dot(X[:, :n_active], coef[active]) File "<__array_function__ internals>", line 6, in dot ValueError: shapes

[2021-03-15 15:32] MalazTamim commented on #19672
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

d = pd.read_csv('Tweets.csv',  encoding='iso-8859-1')
x= d.values[:,1]
y= d.values[:,0]
numerical = LabelEncoder()
y= numerical.fit_transform(y)
from sklearn.model_selection import train_test_split
X_train, X_rest, y_train, y_rest = train_test_split(x, y, stratify=None,test_size=0.4)

I solved the

[2021-03-15 15:35] thomasjpfan commented on #19682
Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can run it and reproduce your issue. Ideally your example code should be minimal.

[2021-03-15 15:41] rth commented on #19672
@MalazTamim Please provide the output of,
[code]
and
[code]
on your system.

[2021-03-15 15:57] thomasjpfan commented on #19269
Implementation-wise, since we are working with paths encoded as strings, I would use `os.path.splitext` to get the file extension. This would correctly handle "hidden" files that start with `.`. The check can be something like:

[code]

The more involved part of this change would be the tests. One would need to get familiar with how pytest handles temporary directories. You can look at the tests w

[2021-03-15 16:11] MalazTamim commented on #19672
(1, 19, 2) <class 'tuple'>
1.12

[2021-03-15 16:16] rth commented on #19672
Thanks! What's the output of `sklearn.show_versions()`?

I don't understand how you can get a tuple for `np_version`, unless you are using an outdated version of scikit-learn.

[2021-03-15 16:19] #19682 closed

[2021-03-15 16:19] MalazTamim commented on #19672
Sure!
I am using the latest version, I updated it yesterday.
Please find below the output.

System:
    python: 3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]
executable: C:\Users\user\anaconda3\python.exe
   machine: Windows-10-10.0.19041-SP0

Python dependencies:
          pip: 20.2.4
   setuptools: 50.3.1.post20201107
      sklearn: 0.23.2
        numpy: 1.19.2
        scipy

[2021-03-15 16:34] rth commented on #19672
Thanks! This was fixed in https://github.com/scikit-learn/scikit-learn/pull/17670, you need to update to scikit-learn >=0.24.0 (currently you are using 0.23.2).

I'm not exactly sure why you are getting this error with 0.23.X, it shouldn't have happened, but in any case updating would fix it.

[2021-03-15 16:34] #19672 closed

[2021-03-15 16:38] MalazTamim commented on #19672
That's weird. When I run conda list in cmd, it shows that scikit_learn version is 0.24.0
(scikit-learn              0.24.0                   pypi_0    pypi)

[2021-03-15 16:42] rth commented on #19672
That might mean you have multiple scikit-learn versions installed. Try running `pip uninstall scikit-learn` several times. Then re-installing.

[2021-03-15 19:02] lorentzenchr commented on #19334
@mbatoul It helps us, if you could open a PR even if it is on an early stage.

[2021-03-15 22:51] hakeemo commented on #19583
@shivamgargsya  I don't have capacity to  work on on it. Maybe this API can provide inspiration http://rasbt.github.io/mlxtend/user_guide/feature_selection/SequentialFeatureSelector/#api.

[2021-03-15 23:42] yaniv010 commented on #19679
Implemented: https://github.com/scikit-learn/scikit-learn/pull/19685.

[2021-03-16 01:25] jnothman commented on #19679
Yes, I mooted this idea of separating sufficient statistics from metric computation some time ago. Also useful for contingency matrix in clustering metrics.

Technically, this change might need an "Enhancement Proposal" since it is could be construed as a "change to the API principles" (see our [governance doc](https://scikit-learn.org/stable/governance.html)).

[2021-03-16 07:43] billMuxing opened #19689 "try to downgrade the sklearn version and rise a strange error"
***

    It seems that scikit-learn cannot be built with OpenMP support.

    - Make sure you have followed the installation instructions:

        https://scikit-learn.org/dev/developers/advanced_installation.html

    - If your compiler supports OpenMP but the build still fails, please
      submit a bug report at:

        https://github.com/scikit-learn/scikit-learn/issues

    - If you want t

[2021-03-16 07:53] AidarShakerimoff commented on #18065
take

[2021-03-16 08:06] mbatoul commented on #19334
@lorentzenchr I am still trying to figure out the right way to solve this issue, but I can surely open a PR right now!

[2021-03-16 08:18] NicolasHug commented on #19689
still can not fix it

Sorry to ask but have you tried the suggestions in the error message above? If you have, please report the issues you found. In particular for

[code]

Also why do you need 0.21, and what arch are you building on?

[2021-03-16 09:48] billMuxing commented on #19689
I try your suggestion
it didn't raise previous problem anymore but it raise another error
which is

Rolling back uninstall of scikit-learn
  Moving to /Users/muxingli/opt/miniconda3/lib/python3.8/site-packages/scikit_learn-0.24.1.dist-info/
   from /Users/muxingli/opt/miniconda3/lib/python3.8/site-packages/~cikit_learn-0.24.1.dist-info
  Moving to /Users/muxingli/opt/miniconda3/lib/python3.8/site-

[2021-03-16 11:09] LSturtew commented on #19414
I'm working on `preprocessing/tests`

[2021-03-16 16:47] mjcronin opened #19693 "Ridge and Lasso return different shaped .coef_ attributes"
#### Describe the bug

`Ridge.coef_` returns an array with shape `(1, n_features)`, while `Lasso.coef_` returns an array with shape `(n_features,)`. LinearRegression.coef_ resembles Ridge.coef_

#### Steps/Code to Reproduce

[code]

#### Expected Results

[code]
#### Actual Results

[code]
#### Versions

System:
    python: 3.7.6 (default, Feb 14 2020, 16:17:39)  [Clang 11.0.0 (clang-1100.0.33.17)

[2021-03-16 16:54] twolodzko commented on #19667
This also affects users when downloading the data was interrupted. In such a case, the only solution for the user is to manually remove the dataset and download it again.

So one thing is a meaningful error message that would help with debugging, but another thing that would help is some kind of `force=False` flag that could be used to re-download the data when it is corrupted.

[2021-03-16 17:04] stestagg opened #19694 "Documentation for russellrao appears incorrect"
Hi!

This page: https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.DistanceMetric.html

shows the russell rao distance as being:

`NNZ / N`

Where `NNZ = NTF + NFT + NTT`

But the source code (and wolfram as a corresponding reference) state it to be:

`(NTF + NFT + NFF) / N`

This is the latex snippet in the source:

<img src="https://render.githubusercontent.com/render/math?math=

[2021-03-16 17:22] NicolasHug commented on #19693
Thanks for the report, that's indeed unexpected.

For a temporary fix, just don't reshape the target: `y = np.array([2,4,6,8,10])`

[2021-03-16 17:50] mjcronin commented on #19693
Thanks for looking into this. Interestingly, `.coef_.shape` remains the
same for me regardless of the shape of `y`.  For now I will just reshape
the `.coef_` output when used as input to my functions as required. My use
case here is a function to plot the coefficients across multiple
independent variables extracted from various classes in
`sklearn.linear_model `, and my current function fails when

[2021-03-16 18:06] jasperroebroek commented on #11086
Dear scikit-learn maintainers and contributors,

although this is a bit of an old issue, I would like to reach out to you for exactly this class of models. This might become a bit of a long post, but please bear with me.

I have recently attempted using the scikit-garden implementation of these models, but they seem not suitable for data with more than around 10000 samples. Since then I have attem

[2021-03-16 18:08] thomasjpfan commented on #19667
@twolodzko thank you for the suggestion. I have opened https://github.com/scikit-learn/scikit-learn/pull/19669 to have a nicer error message. Basically suggesting the user to delete the cached file.

For `fetch_openml`, we have logic that will automatically redownload if the cache read fails. I think this is reasonable to do for other `fetch_*` functions.

[2021-03-16 21:36] lorentzenchr commented on #19334
The list is complete. Thank you all for your contributions.

[2021-03-16 21:36] #19334 closed

[2021-03-16 21:48] Fengjun-Wang commented on #11668
Is anyone still working on it? I have developed similar functionalities in my project. I'd like to give it a try to see if it could contribute to the next version of scikit-learn. @jnothman  any thoughts?

[2021-03-16 22:56] twolodzko commented on #19667
@thomasjpfan I run into this problem with `datasets.fetch_kddcup99` as for me, it failed today 5/5 calls with the message "Killed" and nothing more. On second call to the code, it throws the error as in the original bug report. Each time I needed to delete the files manually to start re-downloading again. This happened on the most recent version of Scikit-learn from Conda. Basically, the method fa

[2021-03-16 23:09] ArlyCH opened #19696 "PCA Score function returning positive values"
#### Describe the bug
In the documentation of the PCA score function, it says it returns the average of the log likelihood of the input data.
As such, it should only be able to return negative values, as anything else would suggest a likelihood above 1, which doesn't make sense for a probability distribution (Multivariate Normal Distribution in this case).
I think the code [_pca.py](https://github

[2021-03-16 23:44] avigupta2612 commented on #19414
I'm working on `gaussian_process/tests`

[2021-03-17 00:39] zjpoh commented on #11668
@Fengjun-Wang  Sure. please go ahead and take over.

[2021-03-17 01:32] AidarShakerimoff commented on #18065
Hello. Could you, please, show how the error message looks like?

[2021-03-17 02:42] TomDLT commented on #19696
I don't think you are correct.
The formula in [Bishop 2006] uses `ln |C|`, where `C` is the covariance matrix.
The code uses `fast_logdet(precision)`, where `precision` is the inverse of the covariance matrix, so it corresponds to `ln |C^-1| = ln (1 / |C|) = - ln |C|`.

Your symptom seems also invalid to me, since a probability distribution can have values above 1 and still sum to 1, provided the

[2021-03-17 05:21] #19694 closed

[2021-03-17 05:25] lesteve commented on #19696
I am going to close this issue since the original question seems answered. @ArlyCH don't hesitate if you think this is not the case and we'll reopen.

[2021-03-17 05:25] #19696 closed

[2021-03-17 05:42] lesteve commented on #19660
Not sure trying to fit a `LinearSVC` on billion of samples is a great idea. https://scikit-learn.org/stable/modules/svm.html#complexity says it scales linearly to million of samples.

I would say this is quite unlikely that this will be fixed inside scikit-learn. Historically `scikit-learn` decided to vendor `liblinear` and the code has not changed too much since.

Maybe something you could try is

[2021-03-17 05:42] #19660 closed

[2021-03-17 05:48] lesteve commented on #19677
Thanks a lot for your detailed bug report! I confirm that this is a regression in 0.24. We should probably fix it for 0.24.2.

[2021-03-17 06:13] Ninimama opened #19698 "Adding min-max linkage to Agglomerative Clustering"
Hi,

I checked out the "the scikit-learn inclusion criterion:" and the algorithm I am about to suggest satisfies all except one! And, that's the number of  citations, which is 116 according to google scholar (not  200+).

However, I think many people (who are on the application side of ML) use scikit-learn for their projects and are not aware of many algorithms that are available. Thus, including

[2021-03-17 06:25] lesteve commented on #19677
Of course a PR with a test would be more than welcome! The fix you propose seems fine to me. A quick `git grep` seems to indicate `OUS` is used elsewhere for string-like array:
[code]

[2021-03-17 07:49] lesteve commented on #18027
Seems similar to https://github.com/scikit-learn/scikit-learn/issues/19660 where `LinearSVC` was fit on 3 billion of samples. I assume somewhere the `liblinear` code wants an int32 and I closed it since I felt that this was unlikely be fixed in scikit-learn. Happy to hear other opinions.

I always have thought that using `SVM` on more than 10-100k samples was not a good idea for computational perf

[2021-03-17 08:09] ArlyCH commented on #19696
Oh no @TomDLT is certainly right, my bad I mixed a couple things up. Thanks for the detailed answer though, that helps a lot :)

[2021-03-17 08:43] lesteve commented on #19689
I think it is unlikely that this is a problem with scikit-learn. I feel this is more a general "how do I get out of weird issues when installing something with Python"  question or maybe an installation question for  https://github.com/Shamir-Lab/PlasClass (it that is the PlasClass package you are trying to use).

As a general recommendation it is a very bad idea to mix `conda` and `pip` for the s

[2021-03-17 08:46] lesteve commented on #19689
Migrating this to a discussion, which it should probably have been in the first place ...

[2021-03-17 08:46] #19689 closed

[2021-03-17 09:32] lesteve opened #19700 "[RFC] Removing "Other" template in favour of Github Discussions?"
Currently if I try to create a [new issue](https://github.com/scikit-learn/scikit-learn/issues/new/choose) the "Other" template (basically blank) template is shown before the Discussions tab.

![image](https://user-images.githubusercontent.com/1680079/111445950-2da3d100-870c-11eb-8d04-11b943561e7b.png)

I'd favour recommending discussions for things that people are unsure of (is is a usage questio

[2021-03-17 09:45] Freakwill opened #19701 "Just initialize a neural network without fitting"
If I want to initialize a neural network without running `fit` method and data sometimes then what should I do? At the fact, one has to execute `fit` and `partial_fit` before predicting, while I just want a raw neural network model, represented by coefs, and could make prediction for some data with it.

[2021-03-17 09:58] rth commented on #19700
If it's a bug, is there a way to move the discussion back to the issue without keeping the discussion still there?  I couldn't find it, and the issue with discussion is that you can't close it (well maybe it's a feature). So it means that for bug reports we would have to be opened twice once as a discussion once as an issue.

Generally this issue template helps to guide users, but too much constra

[2021-03-17 10:00] rth commented on #19700
Personally, I'm mostly using the blank template so please don't remove it ^^

[2021-03-17 10:08] NicolasHug commented on #19700
That's a major problem with discussions IMO. Some bugs actually get reported as discussions and we can't move them to issues. Last week I spent 10 minutes searching for a bug report I *knew* existed; turns out it was in the discussions instead of in the issues.

Regarding removing the "Other" entry: I would agree, as it's not clear how this differs from a discussion. But like Roman, I also use the

[2021-03-17 10:16] NicolasHug commented on #19701
You'd have to create the relevant attributes (`coefs_`, `intercepts_`, and potentially some private ones) manually. To help with that you may just call `fit` once on some dummy data and then reset the attributes (or not), at least you'd know what shape they should have.

[2021-03-17 10:19] lesteve commented on #19700
I should have started with this, but here a proposal how it look like (on my test repo):
https://github.com/lesteve/test/issues/new/choose

I know that core devs will use it, this is why I was suggesting adding a contact link right at the bottom with the link (done in the link above)

Yes the https://github.com/scikit-learn/scikit-learn/issues/new will always be available. This is a bit annoying t

[2021-03-17 10:33] lesteve commented on #19700
@NicolasHug you can upvote https://github.com/github/feedback/discussions/2861. I think (but not even sure that upvoting is actually done by clicking on the up arrow on the left rather than adding a thumb-up reaction:
![image](https://user-images.githubusercontent.com/1680079/111453676-1e288600-8714-11eb-9b16-62ad53f9e4c2.png)

To be honest I am not super enthusiastic about this being fixed soon.

[2021-03-17 10:36] NicolasHug commented on #19700
+1 for https://github.com/scikit-learn/scikit-learn/issues/19700#issuecomment-800965499

I notice you removed the "Documentation Improvement" entry: was this on purpose? I was actually thinking of removing it too, as in most cases, it's preferable to review a PR directly instead of discussing in an issue where context might be missing.

While we're at it, can we also extend the description for "bu

[2021-03-17 12:40] Freakwill commented on #19701
Thank you for your reminding. For specifying the shape, we could define a class method (for instance) to generate a random net:
`MLPClassifier.random(shape=(1, 3, 1))`, or `MLPClassifier.random(input_layer_size=1, output_layer_size=1, hidden_layers_sizes=(3,))`
that is more elegant/pythonic than `ann = MLPClassifier(hidden_layer_sizes=(3, ), max_iter=1).fit([[0]],[0])`.

[2021-03-17 13:21] rth commented on #19700
I think in the end it's a question on whether we want issues to that are not bug reports or feature requests to be opened as an issue or a discussion by default.

You can see the latest list here https://github.com/scikit-learn/scikit-learn/issues?q=is%3Aissue+sort%3Acreated-desc+no%3Alabel+

Out of the last 10 issues, I would say that around 6 should have been discussions, 3 are better as issues,

[2021-03-17 13:27] rth commented on #19700
Right if one does want to open an issue about the documentation, then "Bug" is not good because the associated label would be "Bug: triage" which is not correct.

[2021-03-17 13:36] lesteve commented on #19700
I opened #19704.

The removal of documentation improvement template was accidental (I quickly created templates on my toy repo via the web UI). I left it in for now just to reduce the likelihood of being side-tracked.

[2021-03-17 13:42] lesteve commented on #19700
@rth nice I did not know about the no:label in the github issues search (I tried to find it but couldn't).

This was my feeling as well that some issues with not so great content were created from the blank issue template. I thought a small nudge towards Github Discussions would be a good idea.

[2021-03-17 14:53] #19681 closed

[2021-03-17 16:24] AidarShakerimoff commented on #17394
Hello. Can anyone consult me, whether it is correct that multitarget gpr should provide std of form (n_samples, n_output_dims) instead of (n_samples,), whereas cov should be of form (n_samples, n_samples, n_output_dims) instead of (n_samples, n_samples)?

[2021-03-17 17:31] lorentzenchr opened #19705 "[RFC] Minimal scipy version for 1.0 (or 0.26) release"
#### Proposal
I'd like to propose to increase the minimal scipy version to 1.0.
[code]

#### Reasoning

1. In case we should release scikit-learn 1.0, it would be a good fit:smirk:
2. Linear quantile regression #9978 could make it into the next release. It uses `scipy.optimize.linprog` under the hood. Scipy 1.0.0 has introduced a new solver `method="interior-point"` which is set as default method.

[2021-03-17 18:29] EmilioIppoliti commented on #17171
Hi, I would like to obtain the Eigenvectors Matrix (n_samples ,n_featurees)  from Kernel PCA , is possible?

[2021-03-17 21:23] thomasjpfan commented on #19705
Since I can remember we have pinned the scipy minimum version dependency to the [oldest supported of ubuntu LTS](https://packages.ubuntu.com/search?suite=default&section=all&arch=any&keywords=python3-scipy&searchon=names). It is now at 0.19.1 for scipy and 1.13.3 for numpy to match with 18.04 LTS. With 20.04 LTS the version would be 1.3.3 for scipy and 1.17.4 for numpy. Currently 18.04 will end [s

[2021-03-17 21:44] rth commented on #19705
scipy 0.19.1 was released in Jun 2017, 1.0.0 in Oct 2017. So it's not a big change. +1 for it, 18.04 LTS was a long time ago.

NEP 29 would make scipy 1.2 or 1.3 minimal. Generally I find NEP timeline for numpy/scipy versions a bit  rushed, unless there are clear benefits for updating for us.

[2021-03-17 22:36] jnothman commented on #19705
Happy to require scipy 1.0

[2021-03-17 23:13] ravisripadak commented on #19521
Can I fix this?

[2021-03-18 07:30] cmarmo commented on #19521
Hi @ravisripadak feel free to open a pull request if you are interested in working on this. You can also comment "Take" in the issue to have it automatically assigned to yourself.

[2021-03-18 08:42] Yuting-Kou commented on #4632
If gridCV `fit` using `sample_weight`, then the correct way to pick the best estimator by using same `sample_weight` in scorer. Therefore, I do agree that adding `sample_weight` as direct parameters in baseSearchCV is a great idea (default is None).  It just like `fit_params = _check_fit_params(X, fit_params, train)` in `_fit_and_score` function.

[2021-03-18 13:15] #19667 closed

[2021-03-18 13:46] reshamas commented on #18305
@NicolasHug @cmarmo @jnothman
The Modin project has a "jupyter" folder in their `/examples/`.  Here it is:
https://github.com/modin-project/modin/tree/master/examples/jupyter

Is this something we could consider doing for scikit-learn?  It seems a bit more flexible.

[2021-03-18 13:53] NicolasHug commented on #18305
@reshamas why not create a regular example as suggested in https://github.com/scikit-learn/scikit-learn/issues/18305#issuecomment-726770122? The examples from the gallery can be downloaded as `.ipynb` files if users want to use them as notebooks.

[2021-03-18 13:58] #19574 closed

[2021-03-18 13:59] reshamas commented on #18305
@NicolasHug I recall the problem with creating a regular example was that sphinx did not produce the diagram in the documentation.  But, in a Jupyter notebook, the diagram is produced.  That way, users can see the code with the diagram.

[2021-03-18 14:02] NicolasHug commented on #18305
The examples are able to generate the html disaply properly, if that's what you mean: https://scikit-learn.org/stable/auto_examples/compose/plot_column_transformer_mixed_types.html#sphx-glr-auto-examples-compose-plot-column-transformer-mixed-types-py

The issue with the html renderring and sphinx, IIRC, was only in the UG because the code isn't executed there

[2021-03-18 16:27] lorentzenchr commented on #19598
Another example:
[code]
throws an error, even if `alpha` is not used.

@mlondschien Why do you think `n_knots=None` should be allowed when `knots` are specified manually?

I'd be interested in the opinion of others. Do we have a general pattern that we usually follow?

[2021-03-18 16:40] EYezerets opened #19710 "Introduce honest sampling into sklearn RandomForestClassifier"
**Is your feature request related to a problem? Please describe.**

UncertaintyForest from [ProgLearn](https://github.com/neurodata/ProgLearn) implements both honest sampling (partitioning the feature space on one subset, estimating posteriors on a disjoint one, or structure/estimation points in Denil et al.) and finite sample correction, neither of which are currently available in sklearn [Random

[2021-03-18 18:36] AidarShakerimoff commented on #18065
Is it correct that multitarget regression predicts y_std of form (n_samples, n_output_dims) and y_cov of form (n_samples, n_samples, n_output_dims)?

[2021-03-18 20:47] hades-rp2010 opened #19717 "Transform method for TSNE (different from the fit_transform already present)"
#### Describe the workflow you want to enable
The t-SNE embedding class has a fit_transform method, and a fit method, but doesnt contain a transform method. This in my understanding, is due to the fact that t-SNE is supposed to be used to create embeddings for unsupervised data, and unsupervised data may not have a clear train-test division.
However, consider the case where one would want to use t

[2021-03-18 22:03] TomDLT commented on #19717
Thanks for the proposition, see #5361 for an existing discussion on this topic.

[2021-03-19 01:05] hades-rp2010 commented on #19717
Thanks for pointing out the previous discussion @TomDLT

As I understand the discussion that took place:
* Parametric t-SNE can help us learn the mapping from this high dimensional data to low dimenstional embedding
* But, Parametric t-SNE has not been implemented yet in sklearn (This looks promising, would be happy to contribute to this if its up for grabs)
* The parametric t-SNE is somewhat diff

[2021-03-19 03:21] mnowicki6 commented on #19521
Take

[2021-03-19 05:04] drcat101 commented on #12153
I would love to see a min_frequency option in the OneHotEncoder and would use it frequently :-) thanks for all the work on this, and looking forward to seeing it released in the future.

[2021-03-19 07:35] not-a-feature commented on #16799
Hi,

I believe that this Issue should be reopened as this error still occurs.
Presumably, something went wrong while merging the PR #16851. The important change wasn't merged.

[2021-03-19 08:08] alfaro96 commented on #15006
Is this PR still relevant?

[2021-03-19 08:12] cmarmo commented on #13287
Yes @alfaro96! :) I'll let you close it?

[2021-03-19 08:13] alfaro96 commented on #13287
Closing then :)

[2021-03-19 08:13] #13287 closed

[2021-03-19 08:42] cmarmo commented on #15006
Hi @alfaro96 I have downloaded [scikit_learn-0.24.1-cp39-cp39-manylinux1_x86_64.whl](https://files.pythonhosted.org/packages/8b/48/cbe45993038a46649ffb75ce6f79e659107f9d1c2a4c03b88d7221501922/scikit_learn-0.24.1-cp39-cp39-manylinux1_x86_64.whl) and run
[code]
I'm not very familiar with wheels....
Also in [scikit-learn-0.24.1.tar.gz](https://files.pythonhosted.org/packages/f4/7b/d415b0c89babf23dcd8

[2021-03-19 08:46] alfaro96 commented on #15006
The source distribution does not include the generated `.c` files, which was the original issue. Feel free to close then :)

[2021-03-19 08:48] #15006 closed

[2021-03-19 10:27] mlondschien commented on #19598
Currently

[code]
works. IMO this is "more incorrect" than `n_knots=None`.

Raising an error that `n_knots` needs to be in integer when `knots` is passed explicitly is confusing. This suggests that the value in `n_knots` get's used somewhere. I would generally pass `n_knots=None` explicitly to make sure that the argument does not get used.

[2021-03-19 10:29] deepthi1107 commented on #19698
hloo,i would like to contribute to this issue, can u please assign me this issue

[2021-03-19 15:14] ogrisel commented on #19598
As the 2 constructor parameters are mutually exclusive, we could collapse them into the `knots` param which could accept either an array or an int. WDYT?

As `SplineTransformer` has never been part of a release yet, we can still change this without having to deal with backward compat.

[2021-03-19 16:43] ogrisel commented on #11452
Similar issue reported by a user in this discussion: https://github.com/scikit-learn/scikit-learn/discussions/19724

[2021-03-19 16:44] ogrisel commented on #11452
@lorentzenchr do you have any idea if this could be related to our loss implementation?

[2021-03-19 17:08] Ninimama commented on #19698
@deepthi1107 : To be honest, I don't know if I am allowed to assign you for this as I am waiting to see if someone confirm this new feature, so we can work on it.

[2021-03-19 17:14] larsoner opened #19726 "BUG: Regression with StandardScaler due to #19527"
#### Describe the bug
#19527 introduced a regression with StandardScaler when dealing with data with small magnitudes.

#### Steps/Code to Reproduce

In MNE-Python some of our data channels have magnitudes in the ~1e-13 range. On 638b7689bbbfae4bcc4592c6f8a43ce86b571f0b or before, this code (which uses random data of different scales) returns all True, which seems correct:
[code]
But on c748e465c7

[2021-03-19 18:07] lorentzenchr commented on #19598
If `knots in ["uniform", "quantile"]`, then `n_knots` gives the number if knots. If `knots=2d array` specifying the knot positions manually, then `n_knots` is ignored. So they can't be collapsed, but that would have been nice!

[2021-03-19 18:52] lorentzenchr commented on #17125
As said in https://github.com/scikit-learn/scikit-learn/pull/17877#issuecomment-801158915:

[2021-03-19 19:03] lorentzenchr commented on #19294
I've not yet heard about the proposed method. Is there (peer reviewed) literature on it?
@mayer79 may know more or be interested?

[2021-03-19 19:26] lorentzenchr commented on #19705
How to implement `scipy>=1.0.0`. There is `SCIPY_MIN_VERSION` in file `_min_dependencies.py`. That's the easy part. But what about CI? Currently, see for example in `azure_pipelines.yml`, ubuntu 18.04 is installed with `SCIPY_VERSION: 'min'` which is v0.19.1, see [python-scipy package](https://packages.ubuntu.com/bionic/python/python-scipy).

It would be most easy to just increase ubuntu to 20.04

[2021-03-19 20:27] thomasjpfan commented on #19705
The `SCIPY_VERSION: 'min'` will look at `_min_dependencies.py ` and use that version.

I think the harder one would be the DISTRIB: 'ubuntu', which installs `python3-scipy`:

https://github.com/scikit-learn/scikit-learn/blob/fe897c0ba0f00171333dcbdb483ca0d0346fed95/build_tools/azure/install.sh#L62

Also for `ubuntu-32` we use the scipy  from apt:

https://github.com/scikit-learn/scikit-learn/blob/

[2021-03-19 21:07] lorentzenchr commented on #19705
@thomasjpfan Now I get the full extent of `_min_dependencies.py` better. Thanks. Also for pointing at the lines.
Can't we just install via pip in both cases as is done for `$DISTRIB" == "conda"`?

[2021-03-19 21:19] thomasjpfan commented on #18685
I think it is okay to close this one. For those who are interested, this metric is defined in `sktime`:

https://github.com/alan-turing-institute/sktime/blob/ee7a06843a44f4aaec7582d847e36073a9ab0566/sktime/performance_metrics/forecasting/_functions.py#L16

[2021-03-19 21:19] #18685 closed

[2021-03-19 22:06] lorentzenchr commented on #18338
@sharyar If you are still interested, the best thing is to open a PR very early. This way, we can help you there.

[2021-03-19 22:25] thomasjpfan commented on #19705
Yes, we would need to use `pip` to actually change the minimum version. It is technically possible to update our CI to use scipy 1.0. (Our CI should also catch all the other places that needs to be updated as well)

If we are not using ubuntu to set our minimum dependencies, I think we need to write down a policy of when we update them.

@GaelVaroquaux may have an opinion on this matter.

[2021-03-20 02:52] deepthi1107 commented on #19698
Iam super excited to work with you, ya let's wait for the assigning

On Fri, Mar 19, 2021, 10:38 PM Nima Sarajpoor ***@***.***>
wrote:

[2021-03-20 03:10] TMiguelT commented on #17165
I note that the documentation for the `dist_` attribute still doesn't specify that this is the squared Mahalanobis distance, even though the documentation for the `mahalanobis` method does:
https://github.com/scikit-learn/scikit-learn/blob/95119c13af77c76e150b753485c662b7c52a41a2/sklearn/covariance/_robust_covariance.py#L582-L584

[2021-03-20 05:43] altromondo commented on #19071
Does it make any sense to allow multiple values in the "missing_values" argument?
I have an issue when dealing with multiple columns (each one with a different value for NaN), and trying to use the SimpleImputer as a part of the ColumnTransformer to deal with the NaNs.
Of course, I could split the columns according to the value used for identifying NaN and send a different transformer to each grou

[2021-03-20 08:45] agramfort commented on #19726
I suggest this fix in MNE https://github.com/mne-tools/mne-python/pull/9173
and to avoid treating this as a regression.

[2021-03-20 10:21] mayer79 commented on #19294
@lorentzenchr : Thx. I was unaware of this approach so far but will have a look at the mentioned R-package.

[2021-03-20 10:38] larsoner commented on #19726
We can work around it in MNE, but I consider it a (substantial) regression if scaling data by 1e-10 makes a class whose primary (only?) job it is to normalize data no longer normalize it. Surely MNE will not be the only ones who hit this issue, and it happens silently so we wouldn't have even known except that we had a regression test.

It seems like there should at least be a way to disable this

[2021-03-20 10:57] #13621 closed

[2021-03-20 12:09] thomasjpfan commented on #18027
A quick glance at `sklearn/svm/src/liblinear/linear.cpp`, it uses `int`. For 32bit and 64bit systems it is almost always a 32 bit int.

I think we can not fix this on our end. I think it would be nice to give a nicer error message tho.

[2021-03-20 15:35] thomasjpfan commented on #19693
Intuitively, I would think that `y.ndim == 2` would mean `continuous-multioutput`. But currently:

[code]

This would imply that we should treat this 2d `y` the same as `y.ravel()`. If that is the case, then `Ridge` is incorrectly treating `y` as a `continuous-multioutput` and `Lasso` is okay.

[2021-03-20 19:46] thomasjpfan commented on #17165
I agree. PR welcome to update the docstring of `MinCovDet` and `EllipticEnvelope`.

[2021-03-21 00:10] jnothman commented on #19698
One of the reason for the scikit-learn-extra library is to create increased
visibility for algorithms that are not sufficiently popular to maintain in
the core library. (Of course, the visibility of scikit-learn-extra is also
reduced relative to this library, and maybe we should consider linking out
from the core document out more often.) Have you considered making this
contribution there?

[2021-03-21 12:49] ravisripadak commented on #18530
Can I help? Do we test all classifiers if they are thread safe and update the document accordingly or we say thread safety unknown?

[2021-03-21 14:04] #15259 closed

[2021-03-21 17:01] Ninimama commented on #19698
@jnothman: No. I used "KMedoid" from extra library a while ago, and I thought that library was just a small project created to add some new algorithms. I will mention it there. Thanks for your input.

[2021-03-21 17:08] Ninimama commented on #19698
@deepthi1107 :
Hi, I just mentioned it on the scikit-learn-extra page. If they approve, we can start to work on this.

[2021-03-21 19:44] hemant3434 commented on #18057
take

[2021-03-21 20:14] lorentzenchr commented on #11452
#### Analysis

That might be an additional concern here, but, I think, not the main issue. Out of 9500 samples, 9497 predict one class with probability of exactly one.
On top of @ogrisel code:
[code]
returns `9497`.
Digging deeper and analyzing the first sample... (BTW, slicing pipelines is reeeeeeeally cool and useful.)
[code]
results in
[code]
I put the corresponding classes based on `hgbt.class

[2021-03-21 21:12] NicolasHug commented on #11452
@ogrisel would you mind helping me understand what the issue is in https://github.com/scikit-learn/scikit-learn/issues/11452#issuecomment-683889803? Isn't this just that the learning rate is too high? When the learning rate is too high, the predictions of the first tree are likely to be far off. This leads to big gradients that the next iteration is going to try to predict. These predicted gradien

[2021-03-22 04:32] deepthi1107 commented on #19698
Cool, thanks!

On Sun, Mar 21, 2021, 10:38 PM Nima Sarajpoor ***@***.***>
wrote:

[2021-03-22 05:19] IchiruTake opened #19743 "[Changed behavior] n_iter_no_change should be attached with early_stopping, not model"
I have used Neural Network to validate the result. Surprisingly, n_iter_no_change is attached directly into the model instead, although it followed the docmuentation, but get confused for this hyper-parameter. The data is performed on AND gate. This happens on version 0.22 -> 0.24.
Solution: Changed n_iter_no_change so that this hyper-parameter works only if early_stopping=True

[code]

CASE #1:
[

[2021-03-22 10:19] oleg-kachan opened #19744 "Make Isomap to work with any precomputed neighborhood graph, at least radius_neighbors_graph"
#### Describe the workflow you want to enable
Now Isomap assumes only k-nearest neighbors neighborhoods, even if supplied with precomputed neighborhood graph, such as radius_neighbors_graph which by definition have an arbitrary number of neighbors for each point (those which are within provided eps-radius).

When supplied with precomputed matrix of eps-radius nearest neighbors Isomap gives error:

[2021-03-22 18:17] thomasjpfan commented on #14614
Fixed by https://github.com/scikit-learn/scikit-learn/pull/15089

[2021-03-22 18:17] #14614 closed

[2021-03-22 18:17] thomasjpfan commented on #19071
From an API point of view, I think it would make sense to have multiple values, but it would be a significant undertaking and would increase the maintenance burden. (`missing_values` already supports many dtypes.) Please open another issue if you wish to bring this up for discussion.

[2021-03-22 18:40] TomDLT commented on #19744
Isomap is based on the computation of pairwise shortest paths on a graph. The graph is currently computed using a k-nearest neighbors method, but I don't see a reason not to accept radius-based nearest neighbors graphs. We could add a radius parameter, switching between k-neighbors and radius-based neighbors when `radius=None` or `n_neighbors=None`.

[2021-03-23 09:41] Max1993Liu commented on #18550
There's another quick and hacky workaround where we can modify the `class_weight` of estimators if they are provided. A working implementation as follows:
[code]
What you guys think?

[2021-03-23 12:35] cap-jmk opened #19756 "Confusion Matrix is of wrong shape"
#### Describe the bug

Having 100 percent true positive rate gives a 1x1 matrix. This can cause bugs if you are using the confusion matrix in a function to calculate evaluation parameters such as sensitivity, auc, specifity, accuracy.

[code]

#### Expected Results
No error is thrown.

#### Actual Results
[code]
#### Versions
[code]

[2021-03-23 13:09] #19700 closed

[2021-03-23 13:14] #19354 closed

[2021-03-23 13:22] thomasjpfan commented on #19756
If `y_true` and `y_pred` does not contain all the known labels, then you can use `labels` to pass them in:

[code]

[2021-03-23 13:24] isaack-mungui commented on #19414
Working on covariance/tests

[2021-03-23 14:33] NicolasHug commented on #19756
Maybe we should raise an error or a warning when only one label is found in the input?

[2021-03-23 14:33] MQSchleich commented on #19756
Okay that works. However, I suggest for usability:
checking if we have that case with
[code]
in metrics/_classification.py
And also adding to the metrics/tests/test_classification.py:
[code]

[2021-03-23 16:05] ogrisel commented on #19726
Thanks for the report @larsoner. Let me flag this as a potential regression to investigate.

We can probably change the default criterion of `10 * np.finfo(X.dtype).eps` down to `np.finfo(X.dtype).eps` to make this change less disruptive, but even this would still be a problem I guess.

In private discussions, @jeremiedbb suggested that we should not decide whether a feature is constant based on a

[2021-03-23 16:43] larsoner commented on #19726
I think this is not enough to avoid breaking things for people with existing workflows that worked before #19450 and should continue to work. If you change my MWE above to multiply just the last column rather than all columns by the given scale factor, even this new proposed solution will silently break things (well maybe depending on how you calculate what to be relative to, you need to up it to

[2021-03-24 16:24] BhushanGarware commented on #10201
Worked for me on Google Colab as well.

[2021-03-24 18:22] hugorichard opened #19758 "Check_array could support memmaps"
It is common to have big datasets that cannot hold in memory in which case memmaps are useful.
However, check_array transforms the memmap into an array even when copy=False.
I think this behavior should be changed when the input data is a memmap (a memmap should be returned instead). I can take care of this.

[2021-03-25 01:07] jnothman commented on #19756
We can't catch every such case without making labels mandatory. A holistic
solution is to have a tool which generates appropriate metric functions or
scorers for a given complete (not split/sampled) dataset (#12385), and to
encourage its use to establish metrics upfront given a task rather than
using metric functions and scorers ad hoc.

[2021-03-25 01:31] theshop commented on #15824
I ran into this problem and the `OMP_NUM_THREADS` tip worked for me! The value i set it to was `4,3,2` and that did the trick.

[2021-03-25 07:34] cmarmo commented on #15824
As this specific issue seems to be solved by modifying the `OMP_NUM_THREADS`, shall we close it? The HistGradientBoostingRegressor/Classifier is referenced in #16016.

[2021-03-25 08:27] candalfigomoro commented on #17817
Related issue about clustering evaluation for non-convex clusters: https://github.com/scikit-learn/scikit-learn/issues/12937

[2021-03-25 11:19] waijean opened #19761 "Typo in Truncated SVD Documentation"
#### Describe the issue linked to the documentation

In the documentation for [Truncated SVD](https://scikit-learn.org/stable/modules/decomposition.html#truncated-singular-value-decomposition-and-latent-semantic-analysis), I believe there is a typo in this sentence:

[code]
The matrix $E_k$ shouldn't need to be transposed, so it should be $U_k E_k$ instead.

I understand that since the matrix $E_k

[2021-03-25 11:44] big-o opened #19762 "Make explicit that cross_val* functions uses unshuffled KFold CV"
#### Describe the workflow you want to enable
Many algorithms that use cross-validation support supplying a simple integer value to the `cv` parameter for simplicity. This will then create a `KFold` or `StraifiedKFold` with the appropriate number of folds. Many estimators and folding strategies also support the `random_state` parameter for reproducibility, however this can be broken if your foldin

[2021-03-25 11:53] NicolasHug commented on #19762
I'm not sure I understand your use case: when you pass `cv=some_int`, the `[Stratified]KFold` instance that gets instantiated still has `shuffle=False` (the default). Thus the results should always be reproducible across calls.

In fact, explicitly setting `random_state` to something else than `None` (its default) when `shuffle=False` now leads to an error:

[code]

[2021-03-25 12:00] NicolasHug commented on #19762
Perhaps we should extend the current docs (addition in italics):

[2021-03-25 12:24] MQSchleich commented on #19756
It is a case which requires special attention on many levels. Therefore, handling it, is absolutely mandatory.

[2021-03-25 13:01] hmaarrfk commented on #15824
I keep feeling lost as to if I should package things with openmp. I constantly seem to have to ask users to tune their system instead of it being done naturally. To my knowledge, it is pretty safe to assume that many scientific algorithms do not scale well beyond 4-6 cores.

It is ok to ask scipy to limit the number of threads to 4-6 if the environment variable isn't specified

[2021-03-25 13:05] big-o commented on #19762
Thank you, I missed that. Yes, your suggested doc change makes things much clearer.

[2021-03-25 14:39] lmkwytnicholas opened #19763 "Missing Parameter shown in Example"
#### Describe the issue linked to the documentation

#Example section introduced a parameter that is undefined for [sklearn.metrics.auc](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.auc.html)  - `pos_label=`

`[5]: >>> fpr, tpr, thresholds = metrics.roc_curve(y, pred, **pos_label=**2)`
#### Suggest a potential alternative/fix

[2021-03-25 14:40] jeremiedbb commented on #19726
The computed variance is accurate up to some precision. When the variance is very small and the computed value lies within the error bounds of the algorithm used to compute it, the returned value can't be trusted. In that case, the relative error on the computed variance is > 100% and thus is undistinguishable from a 0 variance. I think having a threshold where the variance is considered 0 is corr

[2021-03-25 14:45] ogrisel commented on #19726
Including in the case where we have `sample_weight`?

[2021-03-25 14:48] jeremiedbb commented on #19726
Yes the sample weights have no impact on the precision of the variance algorithm

[2021-03-25 15:18] jnothman commented on #19763
`auc` is not `roc_curve`

[2021-03-25 15:18] #19763 closed

[2021-03-25 16:04] hex808080 opened #19764 ""Biased" SVM classification results for random data?"
ROC-AUC SVM classification results for random, normally distributed data does not produce a _symmetric_ distribution around 0.5. A tail of high ROC-AUC scores can be observed:
![rng](https://user-images.githubusercontent.com/80628104/112497896-510ef180-8d86-11eb-9bf5-2b0f3b65dd9d.png)

You can find more information in the Discussion thread ([link](https://github.com/scikit-learn/scikit-learn/discu

[2021-03-25 16:24] EYezerets commented on #19710
Another idea I would like to incorporate is not just a parameter to turn honesty on and off, but also one to dictate how the data is split (not necessarily 50/50).

[2021-03-25 17:44] jeremiedbb commented on #19726
I opened a first PR (https://github.com/scikit-learn/scikit-learn/pull/19766) to fix the issue described here https://github.com/scikit-learn/scikit-learn/issues/19450#issuecomment-783245768. This would by itself have solved the issues encountered with normalize and StandardScaler.

I still think it's valuable to detect near constant features as done in #19527 but with a more appropriate threshold

[2021-03-25 17:48] larsoner commented on #19726
I haven't thought about this too much, but zero mean data is going to be a problem here, no?

Do you know if the PR that was opened works on the code snippet I pasted above? To me that's the critical test, and what I would add as a unit test of StandardScaler to ensure it continues to work. I don't think there should be any issues calculating variance at any of the scale factors I pasted above. An

[2021-03-25 18:15] jeremiedbb commented on #19726
I did not fix StandardScaler yet, the threshold is still there.

Sure there another term which dominates when the mean is also very small

[2021-03-25 19:00] larsoner commented on #19726
Should we revert the changes from that PR, then?

[2021-03-25 19:14] NicolasHug commented on #19764
Closing as duplicate of https://github.com/scikit-learn/scikit-learn/discussions/19712

[2021-03-25 19:14] #19764 closed

[2021-03-25 19:39] MQSchleich opened #19767 "Random Forest Prediction and np.nan"
#### Describe the bug
When running my processing workflow on a "dirty" dataset containing np.nan values the algorithm does not handle the case.

#### Steps/Code to Reproduce

Example:

[code]

#### Expected Results

No error is thrown, or at least a warning that there is a np.nan value there.

#### Actual Results
[code]
#### Versions

[code]

[2021-03-25 19:39] #19761 closed

[2021-03-25 21:15] NicolasHug commented on #19767
Random forests don't support nans, in fit or in predict. Is this a feature request or a bug report? The HistGradientBoosting esitmators are the only ones to natively support nans (I think). You'll need impute the data if you want to use RFs.

The error message you get is strange. How did you fit the estimator? You should get something like

array=[nan nan nan nan nan nan nan nan nan nan].
Reshape

[2021-03-26 09:11] Villareally commented on #18079
Thanks, you are so genious

[2021-03-26 09:12] Villareally commented on #18079
Thanks, you are so genius, I am finding how to solve GCV function.Thanks a lot

[2021-03-26 10:43] glemaitre commented on #19615
Regarding adding or not LBFGS as a solver to `Ridge`, I just came across a use-case to model a classic mechanical (based on Newton's second law) problem where weights of the linear model are expected to be positive. Right now, we allow adding positivity constraints in `LinearRegression`, `Lasso`, and `ElasticNet`. `Ridge` is the only lonely linear model that does not currently support this use-cas

[2021-03-26 13:25] isaack-mungui commented on #19651
Can I submit a PR on this?

[2021-03-26 14:27] glemaitre commented on #19767
X is expected to be `(n_samples, n_features)` and there is not support for missing values in random forest. We add some work going on supporting missing values natively in decision tree in scikit-learn: https://github.com/scikit-learn/scikit-learn/pull/5974

I am closing this issue because it looks like a duplicate.

[2021-03-26 14:27] #19767 closed

[2021-03-26 14:27] glemaitre commented on #19767
@MQSchleich Feel free to comment in case that we missed something in your original, in which case we would reopen this issue.

[2021-03-26 14:32] glemaitre commented on #19762
@big-o do you wish to create a pull-request to clarify this case?

[2021-03-26 14:59] glemaitre commented on #19758
We could try to add such features. It should probably come with a common test that feeds a memmap to the different scikit-learn estimator to be sure that we don't break anything.

I don't know if we can benefit from it in scikit-learn; I expect that we trigger some copies. However, it does not mean that we should explicitly create an array from the memmap at the first `check_array` call.

[2021-03-26 15:03] glemaitre commented on #19756
Can you bit more explicit by what do you mean by "this case"?

[2021-03-26 15:06] hugorichard commented on #19758
Alright ! I'll submit a pull request on this then. This is mostly for a third party library that relies on scikit learn's check_array but I think it is also beneficial if someday we want to incorporate in sklearn algorithms that use memmaps as input.

[2021-03-26 15:15] glemaitre commented on #19756
I agree with @jnothman that it is not as easy as it seems since we don't have any knowledge of the classification problem to be solved (binary or multiclass). Without #12385, issuing a warning as proposed by @NicolasHug might the most sensible thing to do, mentioning that providing `labels` would silence the warning and provide the confusion matrix with the expected shape.

[2021-03-26 15:35] glemaitre commented on #19743
There is no bug here. Basically if `early_stopping` is activated, we use the validation score to stop the neural network. Otherwise, the loss is used. I think this is the missing piece of information that should be added to the documentation. Indeed, by passing `verbose=True`, it becomes obvious. Case 1, would have print the following:

[code]

While if activating `early_stopping`, it would have t

[2021-03-26 15:36] glemaitre commented on #19743
If I did not miss anything (and that there is no regression) @IchiruTake do you want to submit a PR to improve the documentation?

[2021-03-26 15:52] RyanWoodard commented on #15008
I believe I have a fix for this.

Just wondering if that code above should be added to the tests? It takes quite a while to run.

[2021-03-26 19:32] rnburn commented on #18079
You're welcome!

If you're looking at cross-validation, you might also be interested this other work I was doing

https://arxiv.org/abs/2011.10218

It extends the approach for optimizing LOOCV / GCV to optimizing [Approximate Leave-one-out Cross-validation](https://arxiv.org/abs/1801.10243), allowing you to use it for Generalized Linear Models (e.g. Logistic regression, Poisson regression, etc). T

[2021-03-26 20:07] agramfort commented on #18079
I would be super interested in available benchmarking code on this.

[2021-03-26 20:10] agramfort commented on #19615
+1

I am sure you can find  data for which LBFGS  > coordinate descent and versa.

[2021-03-26 20:14] rnburn commented on #18079
There are benchmarking results in the [paper](https://arxiv.org/abs/2011.10218). (Obviously those may be sensitive system setup and I didn't spend a lot of time tinkering).

But if you want to benchmark it yourself, I set up this repo

https://github.com/rnburn/peak-engines

That makes the (Approximate LOOCV optimization approach available for use as a python module (You can install with pip).

[2021-03-26 23:49] bth5032 opened #19771 "Update a sklearn.linear_model.logistic object from v0.19.1 to v0.24"
A model I'm supporting was built in sklearn 0.19, using a logistic regression at some point. However, I need to update the code to run on the newest version. In older versions of sklearn we would get a warning

However, there is no discussion about which class is the new interface to logistic regression (presumably it's sklearn.linear_model.LogisticRegression). Is there any documentation on how I

[2021-03-27 06:47] edgargalvan commented on #13408
Hi all, it's been a while but does this close the issue?

I can say that I can agree with loiseaucj, dmd with sklearn estimator api would be quite nice; though, I understand wanting to keep a single python implementation only.

I'm thinking that if an sklearn base dmd class existed, then "extended dmd," "kernel dmd," and many other DMD flavors would be almost trivial to implement. I don't know if

[2021-03-27 07:55] lorentzenchr opened #19772 "Add positive argument to Ridge regression"
#### Describe the workflow you want to enable
I'd like to have
[code]
and only get non-negative print results.
Adding `positive` to `Ridge` was proposed in https://github.com/scikit-learn/scikit-learn/issues/19615#issuecomment-808112174.

#### Describe your proposed solution
Either use [`scipy.optimize.nnls`](https://docs.scipy.org/doc/scipy-1.6.1/reference/generated/scipy.optimize.nnls.html), whi

[2021-03-27 07:58] lorentzenchr commented on #19615
@glemaitre @agramfort I opened #19772 for `positive` in Ridge. As you'll see there, I did not propose LBFGS as special linear algebra based options are available.

[2021-03-27 08:21] louisabraham opened #19773 "_alpha_grid can take multi-output y"
Hi,

I am curious about the maximum value of the l1 penalty.

In the code, the frobenius norm of Xy divided by n_samples is used [here](https://github.com/scikit-learn/scikit-learn/blob/95119c13a/sklearn/linear_model/_coordinate_descent.py#L160). This stackoverflow [answer](https://stats.stackexchange.com/a/283049) suggests and proves that the infinite norm should be used.

EDIT: I think that [skl

[2021-03-27 13:04] cerlymarco commented on #13106
**Model Trees** differ from **Decision Trees** because they compute linear approximation (instead of constant ones) fitting simple **Linear Models** in the leaves.

For a project of mine, I develop [linear-tree](https://github.com/cerlymarco/linear-tree): _a python library to build Model Trees with Linear Models at the leaves._

![image](https://user-images.githubusercontent.com/36955807/112721564

[2021-03-27 13:15] lorentzenchr commented on #19627
#### Option 1
Introduce `min_degree` and `max_degree`. What is then the meaning of `interaction_only=True`?

#### Option 2
Clearify / Change behavior of current `interaction_only=True`.
I always find and found the behavior of `PolynomialFeatures(degree=2, interaction_only=True)` very misleading. The [doc](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.PolynomialFeatures.ht

[2021-03-27 13:57] gaspard-dv commented on #19627
Yes! I've had the same thought and I agree with you @lorentzenchr.

[2021-03-27 14:11] hanshupe commented on #13106
I did a first test, looks very promising, thanks! How does the approach differ from the current work at sklearn (M5P)?

[2021-03-27 14:16] smarie commented on #13106
From what I understand, this approach is a particular case of the Quinlan M5 / Wang&Witten M5' approach where no pruning and no smoothing is done: instead a linear model (or any other model) is learnt on each leave. @cerlymarco am I correct ?

If so both approaches *should* give the same results with `pruning=False` and `smoothing=False`

[2021-03-27 17:38] azihna commented on #19762
I can take this noone is

[2021-03-27 17:48] louisabraham opened #19774 "fetch_openml with mnist_784 uses excessive memory"
[code]

Uses 3GB of RAM during execution and then 1.5 GB. Additional runs make the memory usage go up by 500 MB each time.

The whole dataset has 70k values data of dimension 784. It should take about 500MB in memory. I don't understand why the function uses so much memory.

This has caused numerous people to have memory errors in the past:
- https://datascience.stackexchange.com/q/47928
- https:/

[2021-03-27 17:55] rth commented on #19774
It's inherently due to the fact that OpenML uses ARFF (a plain text data format) for storing datasets, and that we use a pure Python parser. The situation should get much better once OpenML switches to parquet https://github.com/openml/openml-python/issues/1032 https://github.com/scikit-learn/scikit-learn/pull/19669#issuecomment-802058714

[2021-03-27 19:42] cerlymarco commented on #13106
@hanshupe  @smarie linear-tree is not M5... is more simple and flexible.

It simply develops a decision tree structure on the data. At each node, it searches for an optimal split simply evaluating if the weighted loss of the children is lower than the loss of the parent. The losses involved are derived from the fitting of linear models on the data sections. That's all

The splits thresholds in eac

[2021-03-27 20:48] MQSchleich commented on #19767
Honestly, I was just reproducing a case without giving you the whole code base. The bug occurred when getting input from a data frame after converting it to a list, having 1 np.nan value. However, it is not bad at all that the forest throws an error. Only the message was so confusing, I needed some time to figure out what was going on. Therefore, I suggest it is actually better to not throw an err

[2021-03-27 21:10] smarie commented on #13106
Thanks @cerlymarco for the explanation !  I understand, indeed the split method is different and there is no pruning. The "evaluating if the weighted loss of the children is lower than the loss of the parent" part seems to be the same - altough in M5 it is applied backwards during the pruning procedure, it should stop at the same point if the same loss is used. It seems to me that therefore the re

[2021-03-28 10:17] gauravsahu8691 commented on #19651
I tried the program using No penalty and it worked.

[2021-03-28 12:42] IchiruTake commented on #19743
# This will thus make the definition to be easier to understand
I am just a beginner developer, thus not good as fixing some other people's code. I am trying to improve myself.
In case of early_stopping,
If early_stopping is False, we don't make any stop, thus don't violate the meaning of early_stopping, which means that the model will keep training till the number of maximum epochs.
If early_stop

[2021-03-28 13:52] Rodvi opened #19775 "Sparse PCA optimization task"
#### Describe the issue linked to the documentation

1) In user guide for [Sparse PCA](https://scikit-learn.org/stable/modules/decomposition.html#sparse-principal-components-analysis-sparsepca-and-minibatchsparsepca) and [Dictionary learning](https://scikit-learn.org/stable/modules/decomposition.html#generic-dictionary-learning) we minimize 1/2 ||X-UV||_2^2 + \alpha ||V||_1. Do we really use Eucli

[2021-03-28 14:33] EgoPingvina commented on #16840
@rth I have ` scikit-learn 0.24.1`, but I still have the same problem

[2021-03-28 17:21] ilemhadri commented on #19773
I don't think the code uses the Frobenius norm, actually. Xy is a 1-dimensional vector and the calculation seems correct to me.

[2021-03-28 17:41] louisabraham commented on #19773
Oh, I think you are right!

Then I guess

https://github.com/scikit-learn/scikit-learn/blob/95119c13a/sklearn/linear_model/_coordinate_descent.py#L91

should say `y` can also have shape `(n_samples, n_outputs)`

[2021-03-28 18:35] lorentzenchr commented on #17955
This would almost be for free, if  #19088 were merged.

[2021-03-29 07:30] NicolasHug commented on #19771
Yes

No, but setting the `coef_`, `intercept_` and `classes_` attributes should be enough. As this is not a bug report or a feature request I'll close the issue

[2021-03-29 07:30] #19771 closed

[2021-03-29 07:57] ogrisel commented on #19726
Before considering reverting we will try to see if we can fix both the original bug and automatically detect constant feature based on the tighter theoretical bound of our variance computation algorithm @jeremiedbb linked above.

[2021-03-29 12:42] creidieki opened #19777 "ConfusionMatrixDisplay miscolors text if colormap has more than 256 colors"
#### Describe the bug
When ConfusionMatrixDisplay is deciding on text colors, it uses colormap entry 256 as the text color for labeling cells below the mean value. This is line 125 of metrics/_plot/confusion_matrix.py:
`cmap_min, cmap_max = self.im_.cmap(0), self.im_.cmap(256)`

This causes incorrect coloring and hard-to-read graphs if using a ListedColormap with more than 256 entries. (Which was

[2021-03-29 15:16] cmarmo commented on #5595
I'm closing this one: common tests are referenced at [this page](https://scikit-learn.org/stable/developers/contributing.html?highlight=test_common#pull-request-checklist) and the documentation is quite detailed about when and how add new tests. As this issue is quite outdated, feel free to open a new issue pointing to current version and specific problems.

[2021-03-29 15:16] #5595 closed

[2021-03-29 18:18] andreasgrv opened #19778 "Spherical k-means confusion"
#### Describe the issue linked to the documentation

https://github.com/scikit-learn/scikit-learn/blob/114616d9f6ce9eba7c1aacd3d4a254f868010e25/examples/text/plot_document_clustering.py#L166-L172

In this line the assumption is that projecting the data points to the unit hypersphere makes k-means behave like spherical k-means.

I'm confused about the mention of spherical k-means. As far as I can t

[2021-03-29 18:33] michalkrawczyk opened #19779 "Add requirements.txt for project"
Small Improvement: Adding requirements.txt would allow to fast install all needed libaries in compatibile versions.
As I see, now you have to `pip install` each library from readme manually.

with requirements.txt you would just run:
`pip install -r requirements.txt`

also any new installed libraries may be automaticly added to requirements.txt using
`pip freeze > requirements.txt`

Especially tha

[2021-03-29 18:33] michalkrawczyk commented on #19779
I can even do that if it would be approved

[2021-03-29 18:50] armanform opened #19780 "Warm start in LogisticRegression (when liblinear solver is used)"
I know that there are several previously created issues regarding this. However, I still don't understand why warm_start is not supported for liblinear solver? Whether this feature is going to be added in future? Based on my experience (of liblinear in C++), using warm_start can speedup training 2-4x times.

[2021-03-29 18:51] rth commented on #19779
You don't have to specify requirements, they are already indicated in the `setup.py` and will be installed automatically when you run `pip install scikit-learn`.

Generally pinning of dependencies with `pip freeze` or similar tools works for applications but is not suitable for libraries such as scikit-learn that need to support a wide range of dependencies that the user might have installed.

[2021-03-29 18:51] #19779 closed

[2021-03-29 18:52] rth commented on #19779
If you are interested in contributing there are lots of open issues in the issue tracker though.

[2021-03-29 19:06] michalkrawczyk opened #19781 "Failed xtests on test_docstring_parameters.py (documentation issues)"
Estimator has too many undocumented attributes:
- [ ] test_fit_docstring_attributes[OrthogonalMatchingPursuit-OrthogonalMatchingPursuit]
- [ ] test_fit_docstring_attributes[Lasso-Lasso]
- [ ] test_fit_docstring_attributes[LarsCV-LarsCV]
- [ ] test_fit_docstring_attributes[Birch-Birch]

[2021-03-29 19:33] ogrisel commented on #19705
I think we should always support the last ubuntu LTS to it's good to keeping a ubuntu entry in the CI but we need to move it to 20.04 explicitly.

We would also need a "Linux min dependencies" that would match the content of `_min_dependencies.py`, possibly with a `conda-forge` based install for instance (probably the easiest to setup).

[2021-03-29 20:02] bth5032 commented on #19771
Thanks Nicolas, but sklearn.linear_model.LogisticRegression does not have `coef_`, `intercept_`, and `classes_` attributes.

[2021-03-29 20:12] NicolasHug commented on #19771
Fitted estimators have these attributes: https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

But perhaps I'm missing your use-case?

[2021-03-29 21:10] bth5032 commented on #19771
No you're right Nicolas, thank you for your help. I dumped `coef_`, `intercept_`, and `classes_` from my old model, fit the new model to random numbers and updated those params. It seems that both models give the same results now.

Appreciate the help.

[2021-03-29 21:26] thomasjpfan commented on #19705
Based on the discussion during the meeting, I think this was the proposal moving forward:

1. Keep ubuntu LTS 18.04, but test it with our new dependencies based on `_min_dependencies.py` using `conda-forge`.
2. Have a new ubuntu LTS 20.04 instance where we use the packages from apt.

@ogrisel Is this correct?

[2021-03-30 00:27] TomDLT commented on #19780
As explained in https://github.com/scikit-learn/scikit-learn/issues/6524#issuecomment-196641829, it involves changing the stopping criterion in liblinear, which involves a bit of work. Note that warm start is available for all 4 other `LogisticRegression` solvers since version [0.17](https://scikit-learn.org/stable/whats_new/v0.17.html).

Closing this issue as duplicate. Feel free to comment on #6