[2020-08-03 17:36] melgazar9 commented on #18072
Hey @thomasjpfan thanks - I changed it so there are now two separate feature requests. You can find the first one here https://github.com/scikit-learn/scikit-learn/issues/18073

[2020-08-03 18:04] geraschenko opened #18074 "LogisticRegression with lbfgs solver terminates before convergence"
LogisticRegresssion with the lbfgs solver terminates early, even when `tol` is decreased and `max_iter` has not been reached.

#### Code to Reproduce
We fit random data twice, changing only the order of the examples. Ideally, example order should not matter; the fit coefficients should be the same either way. I produced the results below with this code [in colab](https://colab.research.google.com/

[2020-08-03 20:12] thomasjpfan commented on #18023
We can have a `f_regression(X, y, kind="spearmanr")` which would add another method to compute correlation in `f_regression`. (But does not resolve https://github.com/scikit-learn/scikit-learn/issues/8480)

[2020-08-03 20:24] glemaitre commented on #18023
Actually `kind` could be `"auto"` as well to switch to the right implementation. The only method that I know that could handle heterogeneous data would be the `phi_k` correlation: https://arxiv.org/abs/1811.11440
However, it would not fulfill the inclusion criterion strictly.

[2020-08-03 20:35] sadakmed commented on #15761
working on `"sklearn.gaussian_process.GaussianProcessRegressor"`

[2020-08-03 20:46] thomasjpfan commented on #18023
Are we expected the input to be pandas dataframes?

[2020-08-03 20:51] thomasjpfan commented on #8480
Consider a standard pipeline:

[code]

This already works with `SelectKBest` + `OrdinalEncoder` and whole categorical features are removed. In this case, `SelectKBest` treats categorical data and continuous data equally.

If this is the issue here, then there isn't a clean way to do this in the Pipeline above.

[2020-08-03 21:16] sadakmed opened #18076 "FIX documentation of NeighborsBase class"
#### Describe the issue linked to the documentation

the NeighborsBase class in `"neighbors._base.py"` file does not have a documentation

#### Suggest a potential alternative/fix

mention parameters, their meanings and default value,
mention return values

[2020-08-03 21:59] KaiHicks opened #18077 "ValueError raised from utils.validation.check_array when array has dim 3 and ensure_2d is False"
#### Describe the bug
When calling StratifiedKFold.split(X, Y) with 3d X and 2d Y, I received `ValueError: Found array with dim 3. Estimator expected <= 2.`.

I found this strange so I checked the source code and in StratifiedKFold.split(...), the call to check_array(...) has `ensure_2d=False`.

#### Steps/Code to Reproduce

[code]

#### Expected Results
I expected that the `ensure_2d=False` in th

[2020-08-03 23:16] KaiHicks commented on #18077
I realized this is because the split function would not be able to determine which ys are positive and which ones are negative.

[2020-08-03 23:16] #18077 closed

[2020-08-04 02:20] rnburn opened #18079 "RidgeCV doesn't use Generalized Cross-Validation as claimed"
#### Describe the bug
The documentation for [RidgeCV](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html) says the following:

But 1) it's using the LOOCV not the GCV and 2) GCV isn't "an efficient form of LOOCV".

GCV is the leave-one-out cross-validation of a rotation of the original regression problem
[code]
where Q is a unitary rotation matrix
[code]
chosen so

[2020-08-04 02:29] j2slab opened #18080 "Check estimator error: Using tags, e.g. 'poor_score' causes KeyError: 'X_types'"
#### Describe the bug
Using tags, for instance 'poor_score' in _get_tags() method, causes a KeyError on 'X_types'. Adding tags['X_types'] = '2darray' causes a KeyError on '_skip_tests'.

#### Steps/Code to Reproduce
[code]

Example:
[code]

[code]

#### Expected Results
No KeyError thrown.

#### Actual Results
[code]
#### Versions
[code]

[2020-08-04 03:57] ahmedeqbal commented on #18041
Hello mariosasko,

Thanks for reply me back, i fixed issue by adding following code in my data loading section, However, i am using Google Colab for experiments, but if you can compare my old code with new code, In old code, i was loading batch of data, but in new code i am loading all data at once, then i start training process. please suggest my loading all data at once is okay? and google colab

[2020-08-04 07:52] glemaitre commented on #18079
I cannot look at this right now in details but pinging @agramfort @GaelVaroquaux @jeromedockes

[2020-08-04 07:59] glemaitre commented on #18080
You should not implement `_get_tags` but instead `_more_tags`:

[code]

[2020-08-04 08:00] glemaitre commented on #18080
Closing since it is documented in the developer guideline: https://scikit-learn.org/stable/developers/develop.html#estimator-tags

[2020-08-04 08:00] #18080 closed

[2020-08-04 08:01] glemaitre commented on #18076
Be aware that sometimes, we are not documenting the private classes which are used internally.

[2020-08-04 08:06] Thomas9292 commented on #18018
I see the `help wanted` label. I'd be very happy to help out and write up a PR.

In regards to point 1: making this a docs issue might complicate things in the long term. A good example would be that we'd implement a factor 4 difference to compensate in the auto learning rate in point 4. I could possibly see this rabbit hole get deeper in the future.

Would it be an idea to absorb the factor into

[2020-08-04 08:14] glemaitre commented on #18074
We can turn `verbose=1` and check the if `f` or `g` reach convergence:

<details>

[code]

[2020-08-04 08:17] dkobak commented on #18018
@Thomas9292 Thanks! It would be great if you could prepare a PR!

Re point 1: in what sense would it "complicate things in the long term"? My thinking was that simply kicking out the 4 factor would make the implementation inconsistent with the previous versions, and I thought scikit-learn puts a lot of emphasis on consistency. I don't see a way to do this gracefully. (Maybe missing something?) For

[2020-08-04 08:17] glemaitre commented on #18074
With the larger `tol`, we reach the `gtol` convergence: `CONVERGENCE: NORM_OF_PROJECTED_GRADIENT_<=_PGTOL` while with small `tol`, we reach the `ftol` convergence `CONVERGENCE: REL_REDUCTION_OF_F_<=_FACTR*EPSMCH`

[2020-08-04 08:19] glemaitre commented on #18074
I am not sure how we should expose these tolerances indeed. ping @jnothman @agramfort @GaelVaroquaux @ogrisel @amueller

[2020-08-04 08:20] dkobak commented on #18018
Also Re 4: I am not sure what is the good strategy for small sample sizes, so what we did in FIt-SNE/openTSNE was to use learning_rate = max(200, n/early_exaggeration), where 200 was the previous default. This way it never goes down from the previous default, only becomes higher for large sample sizes.

[2020-08-04 09:21] a-wozniakowski commented on #18066
@thomasjpfan thanks for the feedback. With this constraint, ```set_params``` faces a similar issue.

For the error messages, how about overriding ```get_params``` and ```set_params``` from ```_BaseHeterogeneousEnsemble``` in ```_BaseStacking```? This could be done with try and except, where both cases raise a ```TypeError```. Should I start a pull request?

[2020-08-04 10:04] andins opened #18083 "SpectralClustering with assign_labels='discretize' returns less clusters than specified in n_clusters"
I'm not sure if this is a bug or an undocumented feature (or at least I couldn't find any info about it).

Using sklearn version 0.22.1.

The following code is producing the behavior mentioned in the title:
clustering = SpectralClustering(n_clusters=4, affinity='rbf', assign_labels='discretize', random_state=0).fit(X)
then np.unique(clustering.labels_) shows just 3 labels.
X is a np.array of shape

[2020-08-04 10:58] jnothman commented on #18057
Sampling without replacement was introduced because the distribution has a
finite number of distinct samples.

I think this behaviour is surprising and should be considered a bug.

[2020-08-04 11:08] jnothman commented on #11575
CategoricalNB should be present from Scikit-learn 0.22. If that is installed (check `sklearn.__version__`), then you've confused your environments or something. We really aren't able to help resolving such issues, but suggest uninstalling and reinstalling, and checking that the environment you're running in is the same that you're installing into.

[2020-08-04 11:10] jnothman commented on #18073
I think this is a problem for how you read in the data; it's not Scikit-learn's job to help you ingest your data correctly.

[2020-08-04 11:14] ckastner opened #18084 "Failing tests on 32-bit archtectures from use of numpy.int"
On Debian build hosts, the test `test_toy_dataset_as_frame` fails for all datasets that use `sklearn.datasets._base.load_data`, for example:

[code]
This appears to be because of the use of `np.int` as dtype:

https://github.com/scikit-learn/scikit-learn/blob/8f09e332b663768f23a75448f7e71c47cd14a785/sklearn/datasets/_base.py#L267

On 32-bit hosts:
[code]
On 64-bit hosts:
[code]
A simple solution w

[2020-08-04 11:21] jnothman commented on #18066
I agree that it could be friendlier to users if we validated and failed
earlier, but that is indeed not our current convention.

In some ways, adopting enthought's traits (which validate when set, IIRC)
would be friendlier for our users and perhaps give us type annotations
automatically, if we could infer parameter types from trait types,
@thomasjpfan :)

[2020-08-04 11:40] rth commented on #18084
Thanks for the investigation @ckastner !

That would be great, thank you! I'm a bit surprised that the `py36_ubuntu_atlas_32bit` CI job didn't catch this.

[2020-08-04 12:27] lgmoneda opened #18085 "20news_group dataset example output doesn't match, it might be missing a stop words step"
#### Describe the issue linked to the documentation

In the [20 news group dataset](https://scikit-learn.org/0.19/datasets/twenty_newsgroups.html) page, there's an example I was reproducing.

Everything matches (vectorized shape, F1 metric), except for the output from the function `show_top10`. It seems there was a stop_words filter in the output displayed while reproducing the exact same code gen

[2020-08-04 13:09] #17920 closed

[2020-08-04 13:42] melgazar9 commented on #18073
I agree that sklearn is not responsible for how I read in the data. My concern is, why are we preventing one hot encoding on columns with mixed data types? After fit transform there will only be 0s and 1s. I don't think mixed data types should prevent OHE or ordinal encoding from fitting or transforming.

To put this in context, I'm reading in data with thousands of columns, so I wrote a function

[2020-08-04 13:42] jeromedockes commented on #18079
Indeed the `RidgeCV` does LOOCV, computed efficiently as in
Rifkin, Ryan M., and Ross A. Lippert. "Notes on regularized least squares." (2007).
(which does not mention Generalized Cross Validation)

It seems the documentation misuses the term "GCV"?

(btw, looking at the docstring of `RidgeClassifierCV`, it also contains an outdated comment:
 " Currently, only the n_features > n_samples case is ha

[2020-08-04 13:58] jnothman commented on #18073
And I don't think that's a high price to pay for explicitness in your code,
and reduced complexity in our library code...

[2020-08-04 15:01] carlosg-m opened #18087 "BallTree "query_radius" method giving inconsistent results when inputted radius is distances obtained from "query" method"
#### Describe the bug

1) A BallTree is created using a set of points that include duplicate values, representing different objects in the same spatial position;
2) The tree is queried using a second set of points, to determine the distance to the first closest neighbor;
3) Using the distances as radius, the tree is queried to obtain all the indexes from the first set of points that are closest ne

[2020-08-04 15:02] ahmedeqbal commented on #18041
Thanks for guidance, really helpful.

and Thanks very much for highlighting my silly mistake of **train_test_split**

Now, I have updated my code, please review my code, now everything is seems okay? i mean, **for train, test in kfold.split(X, Y):**  ,  **model.fit** , **model.evaluate** , i will really appreciate that.

[code]

[2020-08-04 15:42] OUStudent opened #18088 "Error: Missing vcomp140.dll"
I imported sklearn into my python script, which runs fine from my terminal; but I wanted to make it into an executable through PyInstaller; now when running the created executable I get the following error:

![image](https://user-images.githubusercontent.com/59944082/89313778-8ff90700-d63e-11ea-8b0b-9246a17e37d4.png)

I'm aware that this problem has been ongoing for a while: https://github.com/sci

[2020-08-04 16:05] MattDMo commented on #18088
Related Stack Overflow question: https://stackoverflow.com/questions/63250118/sklearn-missing-dll-file

@OUStudent can you give specific details regarding which version of sklearn you're using?

[2020-08-04 16:34] OUStudent commented on #18088
@MattDMo That's actually my question on Stack lol, I'm running 0.23.3 version

[2020-08-04 16:43] ckastner commented on #18084
I checked; these tests are not being executed with the reason  `could not import 'pandas': No module named 'pandas'`.

These particular tests indeed involve a  `pytest.importorskip('pandas')` step, so I guess that explains that.

[2020-08-04 17:10] rnburn commented on #18079
The short-term fix might be to update the docs.

But GCV is generally considered to be the better metric for setting regularizers.  Quoting from [Golub, Heath, Wahba](http://pages.stat.wisc.edu/~wahba/stat860public/pdf1/golub.heath.wahba.pdf):

(By PRESS they mean LOOCV)

If you compare the performance on the pollution dataset, for example, you'll see it does slightly better than LOOCV (see [this

[2020-08-04 17:45] TomDLT commented on #18079
The confusion seems to be pretty old https://github.com/scikit-learn/scikit-learn/pull/57#issuecomment-703343.

Yes, we should first fix the documentation before considering adding GCV.

[2020-08-04 17:55] glickmac commented on #18027
My sklearn version is 0.22.1 and my code is as follows

[code]

The error is as follows:

Traceback (most recent call last):
  File "scripts/Lasso_Feature_Selection3.py", line 38, in <module>
    lsvc = LinearSVC(C=0.01, penalty="l1", dual=False).fit(df, y)
  File "/Strong/home/glickmanc/.conda/envs/py36/lib/python3.6/site-packages/sklearn/svm/_classes.py", line 243, in fit
    self.loss, sample_w

[2020-08-04 19:32] OUStudent commented on #18088
@glemaitre How did you guys fix this problem last time?

[2020-08-04 20:00] jeremiedbb commented on #18088
@OUStudent can you give us the output of
[code]

Also, how did you install scikit-learn ?

[2020-08-04 20:18] OUStudent commented on #18088
@jeremiedbb
`Python 3.8.0 (tags/v3.8.0:fa919fd, Oct 14 2019, 19:21:23) [MSC v.1916 32 bit (Intel)] on win32
Type "help", "copyright", "credits" or "license" for more information.

System:
    python: 3.8.0 (tags/v3.8.0:fa919fd, Oct 14 2019, 19:21:23) [MSC v.1916 32 bit (Intel)]
executable: C:\Users\BScot\AppData\Local\Programs\Python\Python38-32\python.exe
   machine: Windows-10-10.0.18362-SP0

Py

[2020-08-04 20:29] glemaitre commented on #18088
Would it be possible to install from `conda-forge`: `conda install -c conda-forge scikit-learn

[2020-08-04 20:34] glemaitre commented on #18088
Uhm I thought that @ogrisel did fix the issue on MacPython wheel: https://github.com/MacPython/scikit-learn-wheels/pull/43
Since that we released today, we probably have to check that.

[2020-08-04 20:36] glemaitre commented on #18088
It seems that we still vendor it: https://github.com/MacPython/scikit-learn-wheels/blob/master/azure/windows.yml#L82

@jeremiedbb since you have a Windows machine (maybe :)) can you check that we have it included in the wheel of 0.23.2

[2020-08-04 20:51] jnothman commented on #18087
I suspect there is no reasonable way we can solve this, due to the way
floating point numbers work. Add a small value to the radius you query with.

[2020-08-04 21:29] OUStudent commented on #18088
@glemaitre Ya I just ran that conda command, but to no avail, the same error occurs. Also note that my program runs fine when executing from cmd: `python MainApp.py`, but fails to run when converted into an executable by PyInstaller

[2020-08-04 21:38] mariosasko commented on #18041
For anything related to Deep Learning I prefer to use PyTorch. I'm only familiar with Tensorflow to an extent so can't help you much in that regard (even though it seems that the code is fine now). **Issue Tracker** is not the right place to **review a code**.

One more thing, I edited the comment above to make it more clear when it comes to loading the images on demand. Python generators come in

[2020-08-04 22:24] glemaitre commented on #18088
Uhm so it seems that the install would be fine otherwise your code would not run with `python MainApp.py`. So it seems to be more a problem with `PyInstaller` I think. To be honest, I know nothing about `PyInstaller` but I would expect that it did not embed the dll which is included in the scikit-learn wheel.

Since you are using `conda` you can check the `site-packages` where scikit-learn is inst

[2020-08-04 22:33] jeremiedbb commented on #18088
vcomp is included in the wheel, I just checked.

[2020-08-05 02:24] nixphix commented on #13916
@jnothman I'll pick this up if the check is still required

[2020-08-05 06:36] jnothman opened #18095 "test_rfe_wrapped_estimator is sometimes failing"
This test for some recently merged functionality appears to be failing at random. For example:
https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=20690&view=logs&j=a6cab404-c1f6-57d5-4b70-9cd2d686bb64&t=3e7c72d0-6c8f-51a1-c688-f0cb68431685&l=609 reports
[code]

I note that LinearSVR is used in this, without random_state being fixed. This could be the cause of random failure

[2020-08-05 06:37] jnothman commented on #13916
I think we'd benefit from it, thanks.

[2020-08-05 06:50] glemaitre commented on #18088
OK I am closing this issue then because It more likely a configuration issue with PyInstaller

[2020-08-05 06:50] #18088 closed

[2020-08-05 07:22] oulenz opened #18096 "`fast_mcd` results in `IndexError` with certain large datasets"
https://github.com/scikit-learn/scikit-learn/blob/12e30fa10fb8dcbbed642cae3bd5a2b25d1ba11b/sklearn/covariance/_robust_covariance.py#L435

`fast_mcd` tries to create an array of shape `(n/30,  m, m)` (where `n` and `m` are the number of instances and features). If that  causes a `MemoryError`, it catches it and instead creates an array of shape `(10, m, m)`. However, it then still tries to index th

[2020-08-05 07:55] glemaitre commented on #18095
We could force the seed in LineartSVR and try the test with a range of seed to check that this would be the cause.

[2020-08-05 08:49] #13488 closed

[2020-08-05 10:22] carlosg-m commented on #18087
A possible solution would be to include an option in the query method to allow multiple indexes to be returned, even if k=1.
I don't understand why this is not the default behaviour.

I'm currently using a [rtree](https://github.com/Toblerity/rtree) to index all my objects that have geographic coordinates, which means I have to project the points into a cartesian plane. Sklearn's BallTree is fast

[2020-08-05 13:45] ogrisel commented on #13127
The definition in the Wikipedia article uses a constraint on the l_0 norm of the components:

https://en.wikipedia.org/wiki/Sparse_PCA

The [Sparse PCA paper by Zou et al.](https://web.stanford.edu/~hastie/Papers/spc_jcgs.pdf) uses a constraint on the l_1 norm of the components which is more in line with the l1 penalty used in the objective function of the SparsePCA class in scikit-learn.

However

[2020-08-05 14:54] oulenz commented on #18096
In addition, this should ideally use a more robust approach than depending on a `MemoryError` to determine whether an array size is too large. When I use an array that is just small enough not to cause a `MemoryError`, the process is eventually killed anyway (and this has been my experience in other similar circumstances). Is there a way to directly obtain the amount of memory that is safely avail

[2020-08-05 16:22] amueller commented on #18073
Can you give a minimum example to reproduce? Where does it actually brake? Scikit-learn works on numpy level, not pandas, and handling this kind of type conversion in numpy is quite tricky. We might move towards more direct support of pandas in ``OneHotEncoder``, but we're not there yet.

[2020-08-05 18:49] thomasjpfan commented on #18027
What are the data types of `df`?

[2020-08-05 18:52] glickmac commented on #18027
Hi @thomasjpfan, the data in almost every column (except the target column: label is a str) is a float round to 7 significant figures. All values are between 0-1.

[2020-08-05 19:32] lorentzenchr commented on #14081
Just as info: [Pitfalls to Avoid when Interpreting Machine Learning Models](https://arxiv.org/abs/2007.04131) is good reference on pitfalls for model inspection .

[2020-08-05 21:27] thomasjpfan opened #18101 "pos_label in plot_precision_recall_curve and plot_roc_curve"
With the explanation regarding `pos_label` provided by @amueller in https://github.com/scikit-learn/scikit-learn/pull/17704#issuecomment-669481297

I think we should either remove `pos_label` from `plot_precision_recall_curve` and `plot_roc_curve` or rename it to `positive_class`. Naming the parameter differently was originally suggested in https://github.com/scikit-learn/scikit-learn/issues/15573

[2020-08-05 21:32] kylegilde opened #18102 "Does percentile in SelectPercentile really only accept integers or floats too?"
The docs indicate that percentile in SelectPercentile only accepts integers. Does the class correctly handle floats too?

https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectPercentile.html

[2020-08-05 21:33] jnothman commented on #18101
I think this name could add confusion. If we want to go this way, we should
really look at all the meanings of pos_label currently supported.

[2020-08-05 21:38] #10493 closed

[2020-08-05 22:16] jnothman commented on #18096
I'm not familiar with this algorithm, but it certainly sounds like it could
do with some love!

If it only needs memory temporarily, such as being possible to do as a
chunked operation, we could try to fit the temporary memory usage within
the specification of our working_memory configuration.

[2020-08-06 00:33] nikoskr opened #18103 "Anisotropic kernel with sklearn.gaussian_process.kernels.RBF- Problem in defining the length_scale_bounds"
I have defined the length scale as an array of shape (1,features) (scale1). I understand that I am expected to create an array of tuples of the same shape as length scale for the length_scale_bounds.
It seems to me that a structured array is one possible option.
dt=np.dtype([('f0', np.float64), ('f1', np.float64)])
V121 = np.asarray([(1e-05, 100000.0) for lcv4 in range(scale1.shape[1])],dtype=dt).

[2020-08-06 00:44] avaccari opened #18104 "sklearn TheilSenRegressor ValueError when setting fit_intercept=False for 1d regressors"
I'm trying to fit a line (1d feature) with 0 intercept using `sklearn.linear_model.TheilSenRegressor` but, when I specify `fit_intercept=False`, I get the following error:

This is the original example in the `sklearn` manual which works fine also specifying `fit_intercept=False`:
[code]

Here is the original example modified for `n_features=1` which works with the default `fit_intercept=True`:
[c

[2020-08-06 03:46] hiteshsom opened #18105 "Documentation mismatch about categorical variable handling in Decision Trees"
The below link specifies that the  of decsion trees are

- Able to handle both numerical and categorical data. Other techniques are usually specialised in analysing datasets that have only one type of variable. See algorithms for [more](https://scikit-learn.org/stable/modules/tree.html#tree-algorithms) information.

![image](https://user-images.githubusercontent.com/17461216/89488328-48a77d80-d7da

[2020-08-06 04:08] jnothman commented on #18105
It supports them naively rather than in accordance with the published
algorithms noted there. Suggested improvements to the language are welcome,
ideally via a pull request.

[2020-08-06 04:11] jnothman commented on #18103
The current implementation only permits a tuple of scalars.

[2020-08-06 05:15] nikoskr commented on #18103
Many Thanks Noel

-------- Αρχικό μήνυμα --------
Από: Joel Nothman <notifications@github.com>
Ημερομηνία:06/08/2020  7:11  (GMT+02:00)
Προς: scikit-learn/scikit-learn <scikit-learn@noreply.github.com>
Κοιν.: Nikos Kroustalias <nkroust@otenet.gr>,Author <author@noreply.github.com>
Θέμα: Re: [scikit-learn/scikit-learn] Anisotropic kernel  with
  sklearn.gaussian_process.kernels.RBF- Problem in defi

[2020-08-06 09:37] oulenz commented on #18096
I've had a deeper look at the algorithm, and my impression is that it is in fact unnecessary to create the array `all_best_covariances` of shape `(n/30, m, m)`, because we only need the ten best candidates across the first dimension, and we have to iterate over the first dimension anyway, so we might as well iterate all the way. That means we only need enough memory for 10 `(m, m)` arrays. I'll ha

[2020-08-06 10:04] rth commented on #13969
Re-opening since we still need to make another PR to use the mechanism added in https://github.com/scikit-learn/scikit-learn/pull/17361 in more common tests. Also add a what's new entry.

[2020-08-06 10:07] #18095 closed

[2020-08-06 10:51] rth commented on #18105
Resolved in  #18106

algorithms noted there.

Sorry @jnothman  I didn't see this comment before merging. I would consider having to run OrdinalEncoding before as not supporting categorical variables, but I could be missing something. Would you have preferred to have that PR worded differently then?

[2020-08-06 11:34] Lledune opened #18108 "Not really an issue but rather a question about AdaboostRegressor"
Hello,

I've checked the source code of AdaboostRegressor, and it seems that the implementation is AdaBoost.R2 from Drucker (improving regressors with boosting techniques).

But when looking at the implemation of the _boost function, it seems that the algorithm makes use of a learning rate, modifying the way the model importance and the weights are calculated in the original AdaBoost.R2 algorithm.

[2020-08-06 12:20] hiteshsom commented on #18105
Sorry if my answer is silly @jnothman @rth

but even if OrdinalEncoding will convert a category column in a numeric column. So will that oridnally encoded column be taken as a real categorical variable by Decision Tree. Also even if we convert the ordinally encoded column to pandas Category type but does Decison Tree accept such input or it internally converts all the columsn to numeric types ?

W

[2020-08-06 12:30] #8191 closed

[2020-08-06 12:37] NicolasHug commented on #18102
You can pass a float but the value is still expected to be between 0 and 100. Passing 0.5 will be interpreted as 0.5%, not as 50%.

[2020-08-06 12:37] #18102 closed

[2020-08-06 14:42] clgarciga commented on #6175
What is the current status of this?

[2020-08-06 14:55] amueller commented on #18101
It's currently used in
[code]
And so I assume it has the "is semantically postive" meaning in the non-ranking metrics, i.e. f1, fbeta, jaccard, precision, recall, and has the "corresponds to a high score" meaning in ``precision_recall_curve`` and ``roc_curve``. If we could remove it from ``precision_recall_curve`` and ``roc_curve`` and use the other meaning consistently, that might be the best?

T

[2020-08-06 16:24] #17574 closed

[2020-08-06 17:01] glickmac commented on #18027
Converting NANs after scaling returned the same error.

[2020-08-06 17:02] glemaitre commented on #17572
Actually there are no bugs anymore. The documentation needs improvement and to be more explicit regarding the `y_score` to pass.

[2020-08-06 17:02] #17572 closed

[2020-08-06 17:03] melgazar9 commented on #18073
Hey thanks for the response. Below is a reproducible example of what I sklearn is doing vs what I think sklearn should at the very least consider changing.

[code]

Since col2, col3, and col4 are clearly categorical variables, I may want to OH encode them. For me to do that I'd need to convert them all to astype(str) first, which is actually a bit of a pain in a production system. The reason it's

[2020-08-06 18:44] NicolasHug commented on #6175
we've decided not to implement new features to the NN module, so I'll close as out of scope.
TF/Keras and Pytorch are more appropriate for more advanced NN-related stuff.

[2020-08-06 18:44] #6175 closed

[2020-08-06 19:04] #12520 closed

[2020-08-06 20:45] bagley2014 opened #18111 "Pickling error with pipeline caching, a parallel backend, and custom transformers"
#### Describe the bug
I get a pickling error when I have all three of:
- A pipeline with the memory parameter passed
- A custom transformer in the pipeline
- n_jobs != 1 (in either a GridSearchCV or cross_validate)

If any one of those three is missing, I don't get the error. I can't tell what interaction is causing it. I'm working in a Jupyter notebook and have not tried the code elsewhere.
####

[2020-08-06 21:04] pawarbi opened #18112 "Typo"
I was fitting a RandomForestRegressor() to a model and got following error:

_Invalid parameter **creiterion** for estimator RandomForestRegressor(). Check the list of available parameters with `estimator.get_params().keys()`._

Note that that criterion is spelled incorrectly. easy fix.

[2020-08-06 21:06] pawarbi commented on #18112
Sorry it was a typo on my end..oops

[2020-08-06 21:06] #18112 closed

[2020-08-06 21:30] jnothman commented on #18111
Put your custom transformer in an imported module. It is a limitation of
pickle.

[2020-08-07 00:10] thomasjpfan commented on #11581
We welcome an update to the documentation that makes this point clearer.

[2020-08-07 03:00] kaimingkuang opened #18113 "Why can't SVM run in parallel?"
I notice that unlike other models available in sklearn, sklearn.svm.SVC doesn't have the n_jobs parameter. Is there a reason why SVM can't run in parallel?

[2020-08-07 03:46] bagley2014 commented on #18111
Yep that worked. Any idea why that's only necessary when I run in parallel?

[2020-08-07 05:13] CentralLT commented on #7246
There is no activity or 3 years. Let's close the issue and reopen if needed.

[2020-08-07 06:46] #18084 closed

[2020-08-07 07:15] #17756 closed

[2020-08-07 07:32] rauwuckl commented on #11581
ok cool. I have not yet contributed to scikit-learn so I will have a look at the contribution guidelines. And then try to send a pull request with documentation.

[2020-08-07 07:37] Thomas9292 commented on #18018
@dkobak thanks for the response!

I agree with our point. I might have overestimated the number of times this will have to be revisited in the future.

I had some hardware trouble so I'm waiting on my new laptop to arrive, but I think I can get started next week. Besides that: @TomDLT, it would be great to have some confirmation that extensive benchmarks aren't needed. Can you give that or do we a

[2020-08-07 07:55] dkobak commented on #18018
@Thomas9292

Just to clarify again point 4: `learning_rate='auto'` could be implemented as `learning_rate = max(50, n/early_exaggeration/4)`, then this will exactly coincide with the defaults in Fit-SNE/openTSNE and agree with the recommendations in published papers. I am not sure if the idea is to make `learning_rate='auto'` default directly, on starting from a next version -- not sure how exactl

[2020-08-07 07:56] glemaitre commented on #18111
Because `joblib.Parallel` will pickle your transformers to be able to unpickle them in each subprocess that it will create to run the task in parallel.

[2020-08-07 08:02] glemaitre commented on #18111
FYI, you might need to implement your own `__get_state__` and `__set_state__` to be able to pickle your custom object: https://docs.python.org/3/library/pickle.html#object.__getstate__

[2020-08-07 08:02] #18111 closed

[2020-08-07 08:03] glemaitre commented on #18113
We rely on `libvsm` which is not a parallel implementation.

[2020-08-07 08:03] #18113 closed

[2020-08-07 08:56] CentralLT commented on #18104
I might be wrong but I guess the variable fit_intercept of the TheilSenRegressor object is unknown to the LinearModel object, because the function:

`def _set_intercept(self, X_offset, y_offset, X_scale):
        """Set the intercept_
        """
        if self.fit_intercept:
            self.coef_ = self.coef_ / X_scale
            self.intercept_ = y_offset - np.dot(X_offset, self.coef_.T)

[2020-08-07 10:02] marenwestermann commented on #14312
@thomasjpfan it is said in the classes `SVR` and `OneClassSVM`:
"The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25." and
"The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25."

Therefore, these attributes probably don't need documentation anymore, right?
Going from here, will these two attributes also be deprecated in the clas

[2020-08-07 10:08] ucaswxk commented on #18029
This problem also exists.Is it my method of operation wrong？

[2020-08-07 10:09] carlosg-m commented on #18087
I haven't tested this out, but adding epsilon to the distance might do the trick:
[code]

[2020-08-07 11:13] rohan-gt opened #18116 "Default hyperparameter ranges"
Is it possible to add good default ranges for hyperparameter tuning of each algorithm and maybe also a shortlist of the most impactful ones in the documentation? I know the ranges are generally dependent on the dataset shape (no. of observations and features) but if it's possible to have default conservative ranges (all possible values within reason) that can be used for something like Bayesian op

[2020-08-07 11:43] zahs123 opened #18117 "why is brier score for grid search now 'neg_brier_score'?"

[2020-08-07 11:47] #18117 closed

[2020-08-07 12:00] #17119 closed

[2020-08-07 12:00] #17540 closed

[2020-08-07 12:11] #17586 closed

[2020-08-07 12:14] #17368 closed

[2020-08-07 13:52] NicolasHug commented on #18116
Thanks for opening the issue, we're having related discussions in https://github.com/scikit-learn/scikit-learn/issues/13031 and https://github.com/scikit-learn/scikit-learn/issues/17566 so I'll close this one

[2020-08-07 13:52] #18116 closed

[2020-08-07 15:54] lorentzenchr commented on #18074
It doesn‘t solve the convergence issues of lbfgs, but note that the given example is an optimization problem of 1000+1 parameters (n_fearures + intercept) of which 1000 do not influence the objective at all (or terribly missed something) as y does not depend on x.

[2020-08-07 16:06] glemaitre commented on #15880
if you want to stretch even more I would prefer `plot_confusion_matrix((estimator, X, y), ...)` or `plot_confusion_matrix((y_true, y_pred), ...)` but I am not sure it is solving the issues raised by @amueller  regarding the metric-like API

[2020-08-07 17:08] geraschenko commented on #18074
@lorentzenchr That's correct. This is random data with random labels, meant simply to demonstrate the convergence issue. If you instead use labels `y = (x.mean(axis=1) > .5)`, you get the same issue that lbfgs terminates after a fixed number of iterations regardless of how small you make `tol` (though the absolute difference in fit coefficients is less dramatic).

[2020-08-07 17:33] TomDLT commented on #18018
I can only speak for myself, other core devs might disagree, but the proposed changes look very reasonable, so I don't think extensive benchmarks are necessary.

That being said, a change of default/behavior is costly: for the developers who need to implement a deprecation cycle to warn the future change of behavior; for the code reviewers who need to make sure the deprecation cycle is correct and

[2020-08-07 18:37] thomasjpfan commented on #7246
Thank you for the update @CentralLT. This issue can be closed.

[2020-08-07 18:37] #7246 closed

[2020-08-07 19:31] mayer79 commented on #17027
Great initiative - I really miss splines in scikit-learn. In practical applications, I very often work with natural cubic splines, see [its options in R](https://www.rdocumentation.org/packages/splines/versions/3.6.2/topics/ns). They are very stable, have acceptable extrapolation properties and use astonishingly few extra parameters compared to a polynomial approximation. It would be great if one

[2020-08-07 19:46] thomasjpfan commented on #18072
"Unknown" used in the context of `handle_unknown` means "categories that are not seen during training" and not NaNs.

[2020-08-07 21:05] #17969 closed

[2020-08-07 21:53] thomasjpfan commented on #18085
The link provided is for sklearn 0.19.

On the [latest stable release of the docs](https://scikit-learn.org/stable/datasets/index.html#filtering-text-for-more-realistic-training) the `show_top10` shows the stop words:

[code]

[2020-08-08 08:55] ckastner commented on #16443
We're also getting `SIGBUS` with Debian package builds for 32-bit ARM.

Here's a minimal use case that reliably triggers the bus error for me (extracted from on the `test_check_estimators_stacking_estimator` test) using 0.23.1:

[code]

Backtrace:

[code]

Furthermore, we're also getting `SIGBUS` with test `test_apply_path_readonly_all_trees`. I only briefly looked at this, but what @h6197627 wrot

[2020-08-08 09:06] rth commented on #16443
Thank for the confirmation. For `check_estimator` could you please run,
[code]
to see which common test fails specifically (check_estimator runs all of them)?

[2020-08-08 09:39] Srikeshram commented on #18108
The Learning rate is a tuning parameter of an optimizing algorithm which determines the step size at each iteration to minimize the loss which means **lower learning rate** will increase or decrease the weights of your model to a smaller degree which makes your training very slow but it can improves the performance of the model.The **higher learning rate**  will increase or decrease the weights of

[2020-08-08 09:39] lorentzenchr commented on #3702
@szs8 @nathanzhang3 #15436 is merged and enables `sample_weight` for `ElasticNet` and `Lasso` with dense `X` as of release 0.23.

Should we close this issue or keep it open until `ElasticNetCV` and also sparse `X` have sample weight support?

[2020-08-08 09:49] Lledune commented on #18108
Thanks, I understood that principle, but more specifically I am searching where does it come from ? I couldn't find any paper that are making use of this learning rate.

I am working on an academic project and would like to have something to source for it, however i'm not sure using source code as citation is something i can do.

[2020-08-08 09:57] agramfort commented on #3702
keep this open and add tick boxes with on top of the issue with what is
left to do. thx

[2020-08-08 12:11] ckastner commented on #16443
Here you go:

produces

[code]

[2020-08-08 12:29] wwz58 opened #18122 "cosine_similarity function produces results more than 1.0"
https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f871d60370/sklearn/metrics/pairwise.py#L1144
reproduce the more than 1.0 case:
[code]
centos-7.2
python: 3.6.10
sklearn: 0.23.2
numpy: 1.19.1
scipy: 1.5.2

may be we should use K =  safe_sparse_dot(X, Y) / sqrt(||X||^2 * ||Y||^2) instead of normarlize X,Y first

[2020-08-08 13:31] jnothman commented on #18122
Maybe we should just clip the output

[2020-08-08 14:02] cmarmo commented on #16816
Fixed in #17629.

[2020-08-08 14:02] #16816 closed

[2020-08-08 14:21] wwz58 commented on #18122
can someone explain what caused this problem?

[2020-08-08 19:20] thomasjpfan commented on #18122
[Floating point arithmetic](https://docs.python.org/3/tutorial/floatingpoint.html) can lead to these results.

[2020-08-09 05:40] CentralLT commented on #11433
@jnothman is this still a problem? otherwise let close this issue.

[2020-08-09 15:11] ckastner commented on #16443
I took another look at the core dump:

[code]

I've attached `_splitter.c` as generated on the affected host: [_splitter.c.txt](https://github.com/scikit-learn/scikit-learn/files/5047796/_splitter.c.txt)

The backtrace indicates the cause to emanate from `sklearn/tree/_splitter.c:6584`, which corresponds to this while loop:

https://github.com/scikit-learn/scikit-learn/blob/fd237278e895b42abe8d8d0

[2020-08-09 15:18] lgmoneda commented on #18085
Thanks, @thomasjpfan! I need to fix my PR then.

[2020-08-09 16:48] szywise opened #18130 "A small fix of calibration_curve implementation"
https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f871d60370/sklearn/calibration.py#L592-L594

I suggest the argument `minlength` of `np.bincount`  be changed from `len(bins)` to `n_bins`. Although the former won't produce a bug since the extra bin has no samples and will be excluded, the latter seems better because it doesn't create an extra bin and is easier to unde

[2020-08-09 17:26] turian opened #18131 "sklearn.preprocessing.Normalizer should have an inverse_transform"
#### Describe the workflow you want to enable

sklearn.preprocessing.Normalizer should be invertible, so the original scales are recovered.

#### Describe your proposed solution

Unknown.

#### Describe alternatives you've considered, if relevant

Caching the unnormalized values.

[2020-08-09 20:48] CentralLT commented on #6251
@raghavrv what happened with the pull request? is this issue solved?

[2020-08-09 22:10] jnothman commented on #18131
I don't see how this could be facilitated on non-training data.

[2020-08-10 07:23] glemaitre commented on #18131
And it means that we are storing the dataset. I don't think this is a good idea.
I am -1

[2020-08-10 07:37] snirbenyosef opened #18134 "Predict func crash the kernel and the program"
#### Describe the bug
I have a problem with predict func .
my dataframe Z_jor[something] is empty. And I try to use it in the predict func. I want it to continue but it just reset my kernel on jupiter notebook. I also  run my code from shell I get this error:
[code]
#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results
Not Crashing the kernel or show warrning  or clear error

#### A

[2020-08-10 08:29] rth commented on #18134
What scikit-learn model are you using? Please provide the output of `print(regressor)` also please run [`faulthandler.enable()`](https://docs.python.org/3/library/faulthandler.html) before running the predict and provide the traceback output  here.

[2020-08-10 08:56] rth commented on #18122
If we start clipping this would apply to any metric that should be in 0, 1 or any other integer interval.

I would say this is the expected behavior since the error is within a few epsilon for float64,
[code]

+1 to close as "won't fix"

[2020-08-10 09:19] snirbenyosef commented on #18134
print(regressor) return:
`<catboost.core.CatBoostRegressor object at 0x7f689e3dcc18>`

faulthandler.enable()

there is no traceback output/
its just reset the kernal

what more do you need? @rth

[2020-08-10 09:22] rth commented on #18134
Thanks, but then it's an issue with catboost , not scikit-learn. You should report it to https://github.com/catboost/catboost

[2020-08-10 09:22] #18134 closed

[2020-08-10 09:28] snirbenyosef commented on #18134
@rth even if the data frame z_jor[something] is empty its still related to catboost?

[2020-08-10 09:32] rth commented on #18134
yes, of course. You are calling `CatBoostRegressor.predict(<empty_data_frame>)` there are no scikit-learn objects there..

[2020-08-10 09:33] snirbenyosef commented on #18134
you right. ok thank you.

[2020-08-10 12:23] glemaitre commented on #18108
I don't think that the paper used is using a learning-rate. I think that it was chosen because the boosting algorithm can be seen as a gradient-descent in the space of the weak learners (e.g GBDT, AdaBoost, etc.) where it is quite common to have the learning-rate parameter.

In practice, I am not sure that it has an impact. I was quickly looking at the following reference: https://jmlr.csail.mit.e

[2020-08-10 12:31] cmarmo commented on #4780
Here a list of the tests having convergence warnings in `test_coordinate_descent.py`:
- [ ] test_lasso_zero
- [ ] test_model_pipeline_same_as_normalize_true
- [ ] test_model_pipeline_same_dense_and_sparse
- [ ] test_uniform_targets
- [ ] test_multi_task_lasso_and_enet
- [ ] test_multitask_enet_and_lasso_cv
- [ ] test_check_input_false

[2020-08-10 12:32] tadorfer opened #18135 "Interpolation of ROC and PR curve metrics"
**Proposed feature**

I have often had to use interpolation to plot the mean ROC or PR curves of several classifiers, as the number of thresholds can be distinct for each und thus their TPR, FPR, precision, and recall lengths vary. I thought it would be convenient to add a function argument "interp_dim" to the functions "roc_curve" and "precision_recall_curve" so the user can ensure that all class

[2020-08-10 13:18] cmarmo commented on #17355
This issue was meant to be fixed by #17360, but it hasn't been automatically closed  ...
Anyway, I've checked and the warning is thrown in 0.23.2 in both the provided examples: closing.

[2020-08-10 13:18] #17355 closed

[2020-08-10 13:41] cmarmo commented on #14747
Hi @sdpython, thanks for reaching out, and sorry for the late answer. Are you interested in proposing a PR?

[2020-08-10 17:01] lukemao commented on #7568
I am still getting the same issue in  version 0.23.2

[2020-08-11 00:11] jnothman commented on #18122
Which other distances that we support have an upper bound? Others like
hamming and jaccard probably don't do floating point subtraction or
addition, so I don't immediately buy that kind of slippery slope argument.

[2020-08-11 00:55] drobison00 opened #18137 ".to_pandas() produces unexpected behavior."
#### Describe the bug
Converting cuDf DataFrame to pandas returns a Pandas DataFrame with data types that may not be consistent with expectation, and may not correctly convert to the expected numpy type. The DataFrame dtypes also appear to be inconsistent with the Series dtype.

#### Steps/Code to Reproduce

Example:
[code]
[code]
#### Expected Results
No error should be thrown, as with the ```chi

[2020-08-11 06:56] #18041 closed

[2020-08-11 07:19] rth commented on #18122
I meant that most of the the metrics (`accuracy_score` etc) are also bound by integers and can have this behavior.

[2020-08-11 08:09] lukemao opened #18138 "pca.fit_transform returns error: array must not contain infs or NaNs"
When I call PCA's fit_transform method I am getting error array must not contain infs or NaNs

Actual code:
`
sklearn_pca = PCA(n_components = 3)
input_vec = sklearn_pca.fit_transform(normalised_tfidf)
`

[code]
Checked if there are infs and NaNs in the input array:
np.any(np.**isnan**(normalised_tfidf))
Out[2]: False

np.any(np.**isinf**(normalised_tfidf))
Out[3]: False

Versions:
Python: 3.8
Ana

[2020-08-11 08:20] lukemao commented on #18138
sklearn.show_versions()
C:\Users\User\anaconda3\lib\site-packages\setuptools\distutils_patch.py:25: UserWarning: Distutils was imported before Setuptools. This usage is discouraged and may exhibit undesirable behaviors or errors. Please use Setuptools' objects directly or at least import Setuptools first.
  warnings.warn(

System:
    python: 3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 b

[2020-08-11 08:21] lukemao commented on #18138
Line 134 - 135:
sklearn_pca = PCA(n_components = 3)
input_vec = sklearn_pca.fit_transform(normalised_tfidf)

[2020-08-11 08:21] lukemao commented on #18138
Verified no NaN and inf in the input:

np.any(np.isnan(normalised_tfidf))
Out[2]: False

np.any(np.isinf(normalised_tfidf))
Out[3]: False

[2020-08-11 08:31] lukemao commented on #18138
Working fine on:
System:
python: 3.7.6

Python dependencies:
sklearn: 0.22.1

[2020-08-11 10:00] jnothman commented on #18122
Fair, but the properties of those metrics are rarely relied upon in
algorithms as much as distances.

[2020-08-11 10:38] lukemao commented on #18138
**worked in this env**:
sklearn.show_versions()

System:
    python: 3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]
executable: C:\Users\User\anaconda3\envs\py376\pythonw.exe
   machine: Windows-10-10.0.19041-SP0

Python dependencies:
       pip: 20.0.2
setuptools: 45.2.0.post20200210
   sklearn: 0.22.1
     numpy: 1.18.1
     scipy: 1.4.1
    Cython: 0.29.15
    pandas: 1.0.1

[2020-08-11 12:03] rth commented on #18122
OK. We are actually already clipping cosine_distances to [0, 2]. So it might make sense to move that np.clip with [-1, 1] bounds into cosine_similarity (which is also used by cosine_distances).

[2020-08-11 12:07] rth commented on #18135
Thanks @tadorfer , for the PR curves there was an earlier discussion in https://github.com/scikit-learn/scikit-learn/issues/4577

[2020-08-11 12:22] cmarmo commented on #16930
Hi @arjun-majumdar , thanks for using scikit-learn.
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn). Thanks.

[2020-08-11 12:22] #16930 closed

[2020-08-11 14:48] ogrisel commented on #13127
Speaking offline with @GaelVaroquaux, it's debatable whether SparsePCA without orthogonality constraints ca.

When there is no penalty on the components, PCA with `n_components < n_features` will automatically converge to orthogonal components when optimizing for maximal explained variance (equivalent to minimizing the squared reconstruction error). This is no longer the case when we add an l1 pen

[2020-08-11 14:53] ogrisel commented on #13127
Adding the Zou et al. implementation (with orthogonality constraints) in the same class is another option if people find it practically useful. @iancovert what is your use case? In particular why do you need to enforce the orthogonality of the components for your application?

[2020-08-11 15:02] ogrisel commented on #11512
Given that scikit-learn does not enforce orthogonality between the components (see #13127), the concept of component-wise explained variance is misleading or ill-defined, because two components can share some explained variance: that is the sum of the component wise explained variances will be higher than 100% of the input data variance.

If we decide the add the Zou et al. solver as discussed in

[2020-08-11 15:38] glemaitre commented on #15389
So we should improve the error message such that it is obvious that we want the following:

[code]

But even with this code, we get an error. So there is clearly a bug in `log_loss` metric.

[2020-08-11 15:42] glemaitre commented on #15389
So we need to some documentation and an error message which is more explicit to come up with the solution.

[2020-08-11 16:06] CentralLT commented on #11071
@dniku is this still an issue or can u use - the multicore option now?

[2020-08-11 17:28] #18137 closed

[2020-08-12 06:41] CentralLT commented on #11802
So I guess the question is answered. We can close this issue.

[2020-08-12 12:55] will-thompson-k commented on #18017
I am hitting paywalls when trying to look at that chapter.

[2020-08-12 17:12] joshuacwnewton opened #18145 "Add more specific `type_of_target` for binary indicator matrices returned by LabelBinarizer"
### Describe the workflow you want to enable

[`LabelBinarizer`](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelBinarizer.html) returns a label indicator matrix that is used for multiclass classification.
[code]

However, when calling [`type_of_target`](https://scikit-learn.org/stable/modules/generated/sklearn.utils.multiclass.type_of_target.html):

[code]

This targe

[2020-08-12 18:17] glemaitre opened #18146 "Something goes wrong with KernelPCA with 32 bits input data"
When given 32 bits input, KernelPCA succeed to transform the data into a 17-dimensional feature space while the original space was 3 features. I did not debug yet but this seems really unlikely.

[code]

[2020-08-12 18:30] #11802 closed

[2020-08-12 18:44] glemaitre commented on #18146
So it seems that `_check_psd_eigenvalues` will not put to zeros the same number of components when dealing with `float32` and `float64`. Pinging @smarie which could have an idea what is going on.

[2020-08-12 18:46] glemaitre commented on #18146
I assume that this part my not be valid for 32 bits:

    smaller than the maximum eigenvalue divided by 1e12) are set to zero.
    This operation is traced with a ``PositiveSpectrumWarning`` when
    ``enable_warnings=True``.

[2020-08-12 20:58] isunitha98selvan commented on #18079
@TomDLT I can fix up the documentation. This is my first time contributing to sklearn.

[2020-08-12 22:40] jnothman commented on #18145
LabelBinarizer was designed to transform multiclass data into a multilabel
representation, to enable OvR classification in classifiers that are
otherwise for binary data only. So I think it is correct that
LabelBinarizer turns a multiclass problem into a multilabel problem.

[2020-08-12 22:43] jnothman commented on #18145
To more specifically frame this in terms of what tools support which
representation: any estimator or metric that supports that multilabel
indicator format should support it and handle it identically regardless of
whether it has one or more labels per sample.

[2020-08-12 23:25] joshuacwnewton commented on #18145
Ahh, this clears things up for me. Thank you! I'll keep in this in mind as I continue to make the documentation for the relevant sections clearer in #17811.

[2020-08-12 23:25] #18145 closed

[2020-08-13 00:19] clgarciga opened #18147 "GroupShuffleSplit with optional shuffle"
Add `shuffle: bool, default=True` param to `GroupShuffleSplit`, where `shuffle=False` would take the first `n` groups in the data (in the order that they appear) to meet the explicit or implicit train size specified.

[2020-08-13 00:23] PythonRSAS opened #18148 "LogisticRegression 1/(1+np.exp(-lr.decision_function(X)) does not match lr.predict_proba"
#### Describe the bug
According to documentation, decision_function is the signed distance to the hyperplane, which is the dot product of X and features plus the intercept.
If so, 1/(1+np.exp(-lr.decision_function(X)) should match lr.predict_proba.  I have tested this for both binary and multi-class cases.

#### Steps/Code to Reproduce
[code]
t1 and t3 match as they should.  But t2 does not match

[2020-08-13 00:35] TomDLT commented on #18079
@isunitha98selvan Yes please, and welcome !

[2020-08-13 07:14] glemaitre commented on #18148
I cannot reproduce:

[code]

The assert is passing.

[2020-08-13 07:15] glemaitre commented on #18148
Basically, we call the `expit` under the hood with the parameters that you have:

https://github.com/scikit-learn/scikit-learn/blob/e217b68fd00bb7c54b81a492ee6f9db6498517fa/sklearn/linear_model/_base.py#L315-L329

[2020-08-13 07:15] #18148 closed

[2020-08-13 08:30] smarie commented on #18146
I'll have a look

[2020-08-13 08:55] smarie commented on #18146
The eigenvalues found are the following:

[code]

In `_check_psd_eigenvalues` the applicable rules are:

 - remove all negative eigenvalues --> done for both
 - remove all positive eigenvalues smaller than *ratio* * max_eigenval

As opposed to other rules, the latter had no specific value for 32 bits. I'll open a PR to fix this.
Note that all of these rules are just "rule of thumb" validated/confi

[2020-08-13 10:22] chijan-nh commented on #16802
UV. I agree with adding p-values and CI attributes.
I also want this.
R library glm can calculate p-values and also predict the test data.
I cannot understand why it is not needed that predictive models can perform hypothesis test.

[2020-08-13 10:53] glemaitre commented on #18146
This is usually how we are doing :)

[2020-08-13 11:57] #18146 closed

[2020-08-13 14:13] will-thompson-k commented on #18017
In reading this chapter @jnothman, you would probably not want MSDR as a metric, but `abs( 1.0 - MSDR(x,z))` as unity is definitionally a perfect explanation of the kriging variances in cross-validation. Anything >> 1.0 or <<1.0 is considered a poor fit. This is also reflected in the mean residual in that table right after
<img width="372" alt="Screen Shot 2020-08-13 at 9 12 08 AM" src="https://us

[2020-08-13 15:00] glemaitre opened #18150 "Improve fit_transform docstring in VotingClassifier and VotingRegressor"
The `fit_transform` docstrings of the `VotingClassifier` and `VotingRegressor` are inherited from the `TransformerMixin`:

[code]

They don't really apply here and we should use the docstring from `transform` to explain what is returned:

[code]

[code]

[2020-08-13 15:08] PythonRSAS commented on #18148
@glemaitre Thanks for the quick response. Somehow my comparison did not pass.  I guess I did not check dimension, should have only taken only the last column in expit(lr1.decision_function(iris_features[train])).

[2020-08-13 16:26] Shihab-Shahriar opened #18152 "High memory usage in HistGradientBoostingClassifier"
Related to #16395

In a dataset with 10000 samples and 100 features, the memory usage is 1657 MB, for 200 features it is 3400MB, for 400 it is
6627 MB. In comparison, it is 95MB, 181MB and 356MB respectively for `LightGBM`.

Noticed this while trying to train on MNIST, program got killed by OS.

Here is the code I'm using:
[code]
Both were running at 100% in a 8 core/16 thread CPU. Had similar res

[2020-08-13 17:05] he-rvb opened #18153 "In a DecisionTreeClassifier min_samples_split does not take sample_weight into account."
#### Describe the bug

Using sample_weight should be theoretically equivalent than replicating each observations by its weight, but when building a DecisionTreeClassifier during the split phase sample_weight is ignored when comparing n_node_samples to min_samples_split value.

This is especially an issue when the quantiy of data is so big that one have to work on aggregated data.

#### Steps/Code

[2020-08-13 17:25] #17673 closed

[2020-08-13 17:56] XBWer commented on #8381
The code with MultiOutputClassifier works for me. Would u pls elaborate more the rationale behind this? I'd like to make sure my code is not only runnable but also correct. Thx in advance. @jnothman

[2020-08-13 20:16] thomasjpfan commented on #18138
May you provide the dataset that caused the issue so that we can reproduce it?

[2020-08-13 21:51] juliusvering commented on #17960
I have been looking into this issue. It seems that the generated tree for such high valued nodes becomes highly connected. As a consequence, as we are trying to explore the hierarchical tree, we keep re-exploring the same nodes. I implemented a simple fix by keeping track of what nodes we have already visited during our exploration and that fixes the issue above. Will follow up shortly with a PR.

[2020-08-13 21:57] juliusvering commented on #17960
However, this only fixes the issue described by THaar50, not the one described by JiaHong-Lee. While I'm not sure, I think the latter issue might not necessarily be a bug, but I can look into it as well.

[2020-08-13 22:28] jnothman commented on #17960
I think fixing the one and not the other is acceptable: JiaHong-Lee's issue
isn't about single linkage and should be investigated separately.  Pull
request very welcome, thanks.

[2020-08-14 05:22] Yogendra0Sharma commented on #18150
@glemaitre please assign it to me.

[2020-08-14 05:42] munhouiani opened #18157 "Python killed when running parallel training with Isolation Forest"
#### Describe the bug
Training an Isolation forest with parallel setting crashed when both size and dimension of input data are big.
Same code produces no error when `n_jobs=None`

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is shown.

#### Actual Results
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
Building estimator 1 of 25 for this para

[2020-08-14 06:17] glemaitre commented on #18150
You can just make a comment with solely `take` and the bot will assign it
to you

On Fri, 14 Aug 2020 at 07:22, Yogendra Sharma <notifications@github.com>
wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2020-08-14 06:58] Yogendra0Sharma commented on #18150
`take`

[2020-08-14 08:19] #17714 closed

[2020-08-14 12:00] dniku commented on #11071
@CentralLT um, no idea. Haven't been using sklearn for a good while.

[2020-08-14 12:24] Sandy4321 commented on #13488
jdraines/cardinal_encoder: Implements a Scikit-Learn CardinalEncoder which differs from OrdinalEncoder in that it handles unknowns.
Is great

[2020-08-14 13:29] madhuracj commented on #18153
This scenario with sample weights seems to be handled by the parameter `min_weight_fraction_leaf`.

[2020-08-14 14:45] rth opened #18159 "Add sample_weight fit param for Pipeline"
Currently `Pipeline` doesn't support the `sample_weight` fit param. It fails with,
[code]

passing the sample weight as `logisticregression__sample_weight` is annoying because it's too strongly coupled with the pipeline step names. This means that this code would break if a different estimator is used in the pipeline or else one need to use pipeline steps independent of the estimator used. In any

[2020-08-14 14:51] rth commented on #18159
To clarify, given an arbitrary classification or regression pipeline, currently to fit it with sample weight one has to do something like,
[code]
This is very not user friendly or readable.

[2020-08-14 17:03] he-rvb commented on #18153
Yes, thank, instead of `min_samples_leaf = M`, one could use `min_weight_fraction_leaf  = M / [sum total of weights]` but there is nothing corresponding for `min_samples_split`.
Also if it is not a bug but the expected behavior it deservse clarification in the documentation.
Regarding the tests, I found none using both min_samples_split and sample_weight in
https://github.com/scikit-learn/scikit-l

[2020-08-14 19:00] will-thompson-k commented on #18008
Oy, forgot about this. I will create an example.

[2020-08-14 19:00] will-thompson-k commented on #18008
take

[2020-08-14 19:21] NicolasHug commented on #15880
There are a few new plotting utilities where allowing a `metric` API would really make sense:

- `plot_prediction_error` in https://github.com/scikit-learn/scikit-learn/pull/18020
- `plot_calibration_curve` in https://github.com/scikit-learn/scikit-learn/pull/17443  (CC @lucyleeow )

I understand the issue  that @amueller mentioned about needing to pass `pos_label` etc., but this isn't an issue fo

[2020-08-14 19:51] thomasjpfan commented on #15880
I am still for my suggestion of using `precomputed`, which we commonly use in our estimators. In this case, the signature would be:

[code]

I'll put together  PR to see what this looks like.

[2020-08-14 19:55] NicolasHug commented on #15880
I'm not really discussing the API yet, I'm only asking whether we're OK to support both options for new PRs.

(But regarding the API, I don't think 'precomputed' helps much: what do we do about `X`? I think we should just keep (y_pred) and (estimator, X) mutually exclusive, by properly erroring. Also what does it mean for an estimator to be precomputed?)

[2020-08-14 20:08] thomasjpfan commented on #15880
Or `estimator='none'`.

How are we going to support both options? With two functions?

[2020-08-14 20:18] NicolasHug commented on #15880
Guillaume's suggestion of using tuples https://github.com/scikit-learn/scikit-learn/issues/15880#issuecomment-670590882 is one option. I think it would have been the best option if we had started from there from the beginning. But I'm afraid using tuples  breaks consistency with the existing utilities.

`plot_XYZ(estimator=None, X=None, y=None, y_pred=None)` with mutual exclusion is another option

[2020-08-14 20:28] thomasjpfan commented on #15880
I think we can move to tuples and deprecate the current behavior. (As long as we agree to use tuples)

[2020-08-14 22:11] amueller opened #18162 "ColumnTransformer diagram doesn't show remainder"
The ``remainder`` doesn't show up in the diagram, which is a bit confusing, since it's semantically equivalent to a ColumnTransformer with two transformers:
[code]
![image](https://user-images.githubusercontent.com/449558/90296446-77b49380-de59-11ea-9e24-e2f0df62e8c3.png)

cc @thomasjpfan ;)

[2020-08-14 22:13] amueller commented on #18152
cc @nicolashug

[2020-08-14 22:27] amueller commented on #18157
So you're running out of memory, right? I'm a bit surprised given that IsolationForests downsample a lot but maybe the high dimensionality is an issue?

[2020-08-14 23:16] thomasjpfan commented on #18162
Do we want to show the remainder when it is something other than `'drop'`?

[2020-08-14 23:48] mhwong2007 commented on #18157
I tried this on a 32GB machine too and it had same issue. So I think I wasn’t running out of memory.

[2020-08-15 09:33] alkaest2002 opened #18165 "'SimpleImputer' object has no attribute 'statistics_' error when using make_column_selector"
**1. Describe the bug**

Error while trying to access attributes of a transformer when using make_column_selector

**2. Steps/Code to Reproduce**

_2.1 dataset info_

<table border="1" class="dataframe">  <thead>  <tr style="text-align: right;">  <th>#</th>  <th>Column</th>  <th>Non-Null Count</th>  <th>Dtype</th>  </tr>  </thead>  <tbody>  <tr>  <td>0.0</td>  <td>longitude</td>  <td>16512 non-nul

[2020-08-15 10:36] madhuracj commented on #18153
@he-rvb I agree. Let's see what the opinion of core-devs, whether to 1) update the behaviour of min_sample_split, 2) document and add test for the existing behaviour of min_sample_split or 3) add a new parameter `min_weight_fraction_split`.

[2020-08-15 11:03] jnothman commented on #18162
Yes.

[2020-08-15 11:13] jnothman commented on #18159
Agreed that the status quo sucks. Passing to the last estimator is okay,
but maybe surprising to users that it is not passed to other estimators.

The proposal in SLEP006 and #16079 might have the user call
.request_sample_weight() on each estimator that should consume it. Then the
Pipeline would pass that parameter to where it is requested.

[2020-08-15 11:26] madhuracj commented on #18159
The only example I could find that needs sample weights passed to an intermediary step is https://github.com/scikit-learn/scikit-learn/blob/master/examples/text/plot_document_classification_20newsgroups.py#L294-L297.

[2020-08-15 14:05] madhuracj commented on #18165
@alkaest2002 You seem to be missing the trailing underscore in the second example. It should be `statistics_` rather than `statistics`. Can you confirm whether it's the cause of the error?

[2020-08-15 23:54] #8393 closed

[2020-08-15 23:54] #11581 closed

[2020-08-16 10:04] cmarmo commented on #4795
should be hopefully fixed by #12069

[2020-08-16 10:12] cmarmo commented on #12323
@amueller, I'm closing this one: it seems to be a general question and using dask is probably the right suggestion.
Feel free to reopen if you do not agree.

[2020-08-16 10:12] #12323 closed

[2020-08-16 12:28] chaitanyamogal commented on #18150
is it possible to directly assign:
VotingClassifier.fit_transform.__doc__ = "Return class labels or probabilities for X for each estimator."
 @glemaitre

[2020-08-16 14:42] cmarmo commented on #14845
Closing as no reproducible test set is provided.
Feel free to reopen as general question on the mailing list or stackoverflow. Thanks!

[2020-08-16 14:42] #14845 closed

[2020-08-16 16:36] joofio commented on #9153
Hello everyone, i would like to bring this topic again for dicussion.

Why was bootsrapping methods removed from model evaluation? My focus is about boostraping repetead several times. The evaluation scores in my experience are quite good estimators of a model's prediction power.

They may not be the best, but certainly not that bad to remove it completly.

Thanks!

[2020-08-16 16:48] GaelVaroquaux commented on #9153
Bootstrap 632 fails completely on models with massive overfit (as 1
nearest neighbor). We would need bootstrap 632+, but this one is
computationally intractable.

See the following post for an explanation of the failure of 632:
https://stats.stackexchange.com/questions/96739/what-is-the-632-rule-in-bootstrapping

[2020-08-16 18:21] lorentzenchr commented on #18059
@thomasjpfan Can we close this issue?

[2020-08-16 18:43] tolandwehr opened #18171 "Cross Validation Predict: __deepcopy__() is only available when eager execution is enabled."
For Neural-Network regression prediction task cross_val_predict throws the error (full error further below, below the model used)

[code]

when utilizing it with input data of form

[code]

and the following in NN

[code]

[code]

and

[code]

The complete error:
[code]

A pure LSTM/GRU-Model, on the contrary, works as expected. The upper model furthermore throws the following error when utilized

[2020-08-16 19:08] thomasjpfan commented on #18059
Yup lets close

[2020-08-16 19:08] #18059 closed

[2020-08-17 05:54] alkaest2002 commented on #18165
Oh boy, how I feel ashamed! Doubled-checked the code five times and never realized the missing underscore... Well, I guess that "tracking down" a Scikit bug was a too strong temptation. Please, excuse me spoiling your precious time.

[2020-08-17 05:54] #18165 closed

[2020-08-17 06:52] lorentzenchr opened #18174 "Fix docstring of detection_error_tradeoff_curve"
#### Describe the issue linked to the documentation
Fix some docstring inconsistencies in https://github.com/scikit-learn/scikit-learn/blob/2abb206fe25203b6bb2dd4dc42aef11972885398/sklearn/metrics/_ranking.py#L221 as leftover of #10591.

#### Suggest a potential alternative/fix
Example: Use `array-like of shape (my_shape_size)`, see https://scikit-learn.org/stable/developers/contributing.html#guid

[2020-08-17 07:04] lorentzenchr opened #18175 "Fix shape parameter inconsistencies in developer's guide"
#### Describe the issue linked to the documentation
https://scikit-learn.org/stable/developers/contributing.html#guidelines-for-writing-documentation specifies how to write  parameters with a `shape` attribute in a docstring, e.g.
[code]

There are a few instances in the developer's guide, examples and user guide that do still not follow that example:
- [x] examples/model_selection/plot_learning_c

[2020-08-17 07:14] yutaroikeda-dd commented on #18174
I'll take it.

[2020-08-17 08:42] glemaitre commented on #18174
Already opened in https://github.com/scikit-learn/scikit-learn/pull/18169

[2020-08-17 08:42] glemaitre commented on #18174
with test refactoring

[2020-08-17 08:57] OlehKSS commented on #18175
Hello, I can take it provided no one else is working on it now.

[2020-08-17 09:01] cmarmo commented on #15139
Thanks @lordsoffallen for reaching out.

I can reproduce the issue with the code
[code]
the error is then
[code]
In the environment
[code]

[2020-08-17 09:11] glemaitre commented on #18175
You can go ahead @OlehKSS

Please submit a pull-request by file modified to ease the reviewing process.

@cmarmo I was wondering if this issue is not a duplicate?

[2020-08-17 09:16] glemaitre commented on #18171
Refer to the documentation of tensorflow: https://www.tensorflow.org/guide/eager

[2020-08-17 09:16] #18171 closed

[2020-08-17 09:22] glemaitre commented on #18159
I would say that for a user expecting this behaviour, it will be fine. For the one expecting, `sample_weigth` to be dispatch everywhere, it will make them angry. At least now, we just annoy everyone.

I would think that you have cases that it could be wrong: you use null weight to discard samples and if you have a decomposition in your pipeline then your space will be different taking into account

[2020-08-17 09:23] lorentzenchr commented on #18174
@yutaroikeda-dd I'm sorry, @glemaitre was a bit faster than me and I didn't notice. I'm sure, you'll find another issue.

[2020-08-17 09:25] cmarmo commented on #18175
@glemaitre @lorentzenchr this issue slightly overlaps with #14312 and #15761 but it is not a duplicate.
I think that those three issues will benefit of being unified in one and only for the sake of readability, for users and reviewers.

[2020-08-17 09:30] glemaitre commented on #18175
At least they are cross-referenced now :)
But I agree that a single issue would be best because all these little changes could be done at once, for a single file/class.

[2020-08-17 09:33] cmarmo commented on #15921
Hi @Sandy4321 thanks for reaching out and sorry for the late reply.
This is a general question about scikit-learn algorithms.
The issue tracker is mainly for bugs and new features. I'm going to close this issue. Feel free to open a thread on [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn). Thanks

[2020-08-17 09:33] #15921 closed

[2020-08-17 09:36] joofio commented on #9153
Ok thank you for your comment and link.
But is not a usefull tool sometimes? I often use several evaluation mechanisms to try and induce the model true capability and bootstrap (and posterior versions) is suitable to be one of this tools, event with its drawbacks. if we taken into accounts every evaluation methods pros and cons, it could be handy.

[2020-08-17 09:51] #18138 closed

[2020-08-17 09:52] lukemao commented on #18138
Issue resolved. Can not reproduce anymore

[2020-08-17 11:58] NicolasHug commented on #18150
@chaitanyamogal it would  technically work but we prefer to override the whole method. Note  however that @Yogendra0Sharma has already claimed the issue

[2020-08-17 12:14] rth commented on #18159
Right, I understand SLEP006  is much more general but so far I don't understand how it solves this immediate problem. Say there is a black box estimator and you want to pass sample weight to it. I would expect to be able to do,
[code]
If that estimator happened to be a pipeline, then one of the two options above (with a personal preference for 2.) should still happen without additional information

[2020-08-17 12:16] rth commented on #3020
The fact that Pipeline currently doesn't support `sample_weight` fit param directly (https://github.com/scikit-learn/scikit-learn/issues/18159) is somewhat of an issue for suggesting to use `make_pipeline(StandardScaler(), Lasso())` etc IMO.

[2020-08-17 13:03] NicolasHug commented on #18159
What I would personally expect is neither 1. or 2., but rather 3. that `pipeline` passes `sample_weight` to all steps and raises an error if *any* of the estimator doesn't support it.

It seems that the lack of clear good default behavior is the reason we're forcing users to explicitly address each individual step. This avoids unexpected results.

A lot of users have different expectations, and mo

[2020-08-17 13:43] asaadeldin11 opened #18177 "Spectral Embedding with Asymmetric Matrices/ Directed Graphs"
#### Describe the workflow you want to enable
Currently, the `sklearn.manifold.SpectralEmbedding` is restricted to symmetric affinity matrices, and if an asymmetric matrix is passed it is converted through `sklearn.utils.validation.check_symmetric` into a symmetric matrix. However, in doing so, one loses the underlying asymmetries and potential directional clusters present in the adjacency matrix

[2020-08-17 14:04] NicolasHug commented on #15139
Thanks for the nice reproducing example @cmarmo

It's not a bug though: `staged_decision_function` should be used instead of `staged_predict_proba`.

I think we should stop exposing private classes like the losses that aren't documented, but that's another issue.

[2020-08-17 14:04] #15139 closed

[2020-08-17 14:04] rth commented on #18159
+1 sorry, I meant that it should be option 2. I wrote raises a warning if no estimator supports it there, but I meant raises an error.

I guess, I'm questioning this statement that there no good default behavior (e.g. use option 2/3). For instance, even if say StandardScaler supports sample_weight one day, whether we pass sample weight to it before the classifier, either way it will not be incorre

[2020-08-17 14:11] NicolasHug commented on #18159
fair point

Just to clarify, I think 3) is still different from the newly updated 2). In 3), all steps are required to support SW while 2) is happy with just one of them supporting SW. I updated my comment to make it clearer

[2020-08-17 14:20] amueller commented on #18157
Could you please monitor the memory consumption during the run?

[2020-08-17 15:20] tolandwehr commented on #18171
Thanks, but it throws a new error with eager activated. Open new issue?

[code]

[2020-08-17 16:10] rth commented on #18159
Or it might not be when going back to the definition of sample weights. If setting some of them to zero should be equivalent to removing those samples (https://github.com/scikit-learn/scikit-learn/issues/15657) or more practically passing `check_sample_weights_invariance(..., kind="zeros")` check.

For instance Ridge passes that check, but a pipeline of StandardScaler + Ridge fails when sample_wei

[2020-08-17 17:07] lorentzenchr commented on #18175
@glemaitre @cmarmo Thanks for cross-referencing. I'm not sure how to unify all in one issue. Note that #14312 and #15761 are about docstrings of classes and functions, not about examples and developer's guide (or user guide). I think one PR per file seems reasonable and might motivate some new contributors.
Therefore I updated this issue with a list of some files where I found `shape of` inconsist

[2020-08-17 17:46] will-thompson-k commented on #18008
I have the example done. Is there a document that shows all the links required to add an example to the example gallery? I have a Jupyter notebook so far. The structure of the folders are slightly confusing.

[2020-08-17 18:30] #17855 closed

[2020-08-18 00:08] jnothman commented on #18159
Difficulties with option 2:
* We will not be able to ensure backwards compatibility when an estimator is extended to support `sample_weight`. Adding `sample_weight` support to StandardScaler would break code behaviour across versions.
* You can't determine whether an estimator supports sample_weight programmatically, except by trial and error. I suppose that's okay.

Difficulties with option 1:
*

[2020-08-18 04:40] hiteshsom commented on #18105
Is it ok to convert categories using pd.get_dummies within Decision tree estimator's fit method?

[2020-08-18 06:34] glemaitre commented on #18175
My bad, I omit the fact that you pointed out the UG and example only. So this issue should be fixed pretty quickly then.

[2020-08-18 06:44] glemaitre commented on #18171
Not in scikit-learn because this is an issue on keras/tensorflow side.
I assume that you probably have a third-party component that cannot be pickled: https://github.com/tensorflow/tensorflow/issues/11157

You can check what developer of Tensorflow recommend.

[2020-08-18 06:56] #17735 closed

[2020-08-18 07:25] glemaitre opened #18181 "RFC rename detection_error_tradeoff_curve det_curve"
I am wondering if we should rename `detection_error_tradeoff_curve` to `det_curve`.
It will be consistent with `roc_curve` and the DET curve seems to be quite common in the literature when related to detection error trade-off

[2020-08-18 07:27] agramfort commented on #3020
what do you suggest?

[2020-08-18 09:26] shrinidhikr commented on #15820
Try updating scikit-learn ->
pip install -U scikit-learn this worked for me

[2020-08-18 09:32] #18079 closed

[2020-08-18 11:34] kahveciderin opened #18184 "It doesn't want to install on my raspberry pi"
#### Describe the bug

It does not install on python 3.7 AND 3.8

#### Steps/Code to Reproduce

pip3.8 / pip3 install scikit-learn sklearn

#### Expected Results
It needs to be installed properly

#### Actual Results
[code]

[2020-08-18 11:53] rth commented on #18184
The error is expected if you try to build scipy from sources,
[code]
The best way is to
 - either install scipy and numpy with `apt` before pip installing scikit-learn
 - or use [`miniforge`](https://github.com/conda-forge/miniforge), a conda distribution based on conda-forge with support  for arm64, assuming that's the correct architecture for your version of RPi.

or if you really want to build

[2020-08-18 12:08] kahveciderin commented on #18184
@rth  how can i install them for python3.8 with apt? Because it  still tries to collect scipy

[2020-08-18 12:08] PowderL commented on #17404
I just encountered this issue too

[2020-08-18 12:54] rth commented on #18184
Could you try with
[code]
?

[2020-08-18 13:35] kahveciderin commented on #18184
@rth it gives the same error

[2020-08-18 14:27] ikedaosushi commented on #18174
@lorentzenchr I understand, I'm gonna try another one.

[2020-08-18 14:27] yutaroikeda-dd commented on #18174
@lorentzenchr I understand, I'm gonna try another one.

[2020-08-18 14:33] trentpark8800 commented on #17404
To be honest I haven't looked at this issue in a long while now... If I find anything helpful I will post here.

[2020-08-18 15:48] khughitt opened #18186 "Possible to parallelize sklearn.impute.KNNImputer?"
Greetings!

Do you think it might be possible to parallelize the algorithm for `sklearn.impute.KNNImputer` in the future?

scikit-learn's implementation of `sklearn.neighbors.KNeighborsClassifier` accepts an `n_jobs` parameter to achieve this, but the corresponding imputation function does not and can be quite slow for large datasets.

[2020-08-18 16:15] Devilmoon opened #18187 "feature_importance causes a BSOD on Windows 10"
#### Describe the bug
Running permutation_importance on a medium-sized data set results in a BSOD on Windows 10. The dataset is 470605 x 332, code is running in a Jupyter notebook, Python version 3.7.6, scikit version 0.22.1.
The BSOD is a KERNEL_SECURITY_CHECK_FAILURE, with ERROR_CODE: `(NTSTATUS) 0xc0000409 - The system detected an overrun of a stack-based buffer in this application. This overru

[2020-08-18 16:50] rth commented on #18187
Thanks for the report. It's surprising that even if it detected a stack-Based buffer overrun that it would trigger an equivalent of a kernel panic instead of just killing the application.

This will be likely hard to reproduce without the training data where it happens. Unless you also get it if you generate a dataset with an equivalent shape using `make_classification(..., random_state=0)`?

[2020-08-18 16:57] Devilmoon commented on #18187
I will test with a synthetic data set of the same shape ASAP, unfortunately the data I'm currently using is under NDA thus I cannot share it for reproducibility purposes.

[2020-08-18 17:02] TomDLT commented on #18186
Thanks for the suggestion.

It seems like it is only a matter of adding `self.n_jobs` and [passing it](https://github.com/scikit-learn/scikit-learn/blob/d5ae541a0924736c0126e8c951555823d6b518f8/sklearn/impute/_knn.py#L290) to `pairwise_distances_chunked`.

[2020-08-18 17:12] kahveciderin commented on #18184
After updating setuptools, i got this:

[code]

[2020-08-18 17:13] kahveciderin commented on #18184
python3-scipy is already the newest version (1.1.0-7).

[2020-08-18 17:34] khughitt commented on #18186
@TomDLT Great! If that's the case, I can spend a little time to familiarize myself with the code and submit a PR (if you don't already haven't gotten to it first.)

Thanks for the quick response and suggestion!

[2020-08-18 18:25] TomDLT commented on #18186
You are very welcome to submit a PR.

Note that I expect the code update to be simple, but the `KNNImputer` code is reasonably complex, and we will need a confirmation that the `pairwise_distances_chunked` is operating in each chunk independently. @thomasjpfan @jnothman

[2020-08-18 18:31] khughitt commented on #18186
@TomDLT Indeed. I tried simply passing along `n_jobs`, but that doesn't seem to make much different and most of the work still occurs in a single thread:

[https://github.com/khughitt/scikit-learn/commit/3e65862ad2296dda2fa65afecc363dd0b7a5a784](https://github.com/khughitt/scikit-learn/commit/3e65862ad2296dda2fa65afecc363dd0b7a5a784)

It looks like for the KNN imputer, most of the heavy-lifting is

[2020-08-18 19:18] TomDLT commented on #18186
Ok so the bottleneck is not in the pairwise distances but in the reduce function, which will be harder to parallelize. (I think your fix can still be useful.)

I don't think we should call `pairwise_distances_chunked` multiple times in parallel, since it would kind of duplicate its purpose, but we could parallelize chunks inside the `pairwise_distances_chunked` function itself. However I think par

[2020-08-18 19:56] NicolasHug commented on #18152
Could someone confirm that calling `memory_usage` on the LightGBM instance will report the whole process memory, and not just what's allocated in Python? Since most of LightGBM is written in C++ I want to make sure we're comparing the same things

[2020-08-18 20:45] Devilmoon commented on #18187
I confirm I can reproduce the issue with a synthetic dataset (I used the default on make_classification because I don't think the make up fo the data is relevant to the issue):

[code]

I see very high memory usage (>80%, sometimes close to 100%) and a ton of activity on the pagefile and a process related to `joblib_memorymapping_folder` (https://joblib.readthedocs.io/en/latest/auto_examples/paral

[2020-08-18 21:39] Devilmoon commented on #18187
This might be where the issue happens: https://joblib.readthedocs.io/en/latest/parallel.html#working-with-numerical-data-in-shared-memory-memmapping

Should I try increasing the page file size (8GB currently) and see if it still crashes? Altough joblib doesn't seem to care about the page file but just dumps the data to disk.

[2020-08-18 21:52] rth commented on #18187
Thanks for the example. I can't reproduce on Linux. Yes, my guess would be that,
 - either it's somehow related to mmapping used in joblib parallel (used to share data between processes)
 - or to spawning threads. RandomForestClassifier.predict now also uses joblib. So when used in combination with permutation_importance(..., n_jobs=). This could lead to the creation of N_CPU**2 threads or around

[2020-08-18 22:08] Devilmoon commented on #18187
I'll try halving the no. of cores on the permutation_importance call, but to me it seems strange that scikit would crash and burn on such a simple example.
permimp is using the validation set that is 20% of the whole dataset, ~95000 x 332, and yet the whole OS commits seppuku rather than compute it?

[2020-08-18 22:32] Devilmoon commented on #18187
Halving the no. of cores (`n_jobs=6`) seems to hold up, however I just got this warning message:
[code]
Furthermore, joblib seems to have already used up 10GB of space on my drive

[2020-08-18 23:00] Devilmoon commented on #18187
So, the PC didn't crash and I got the results back on the synthetic dataset with `n_jobs=6`, however joblib used ~30GB of space by the end of it on my drive. How is this possible? What is it storing?
Also, what about the warning message I got? Are the results reliable anyways?

[2020-08-18 23:43] khughitt commented on #18186
Sounds good. I'll wait to hear back from others before submitting a PR with the previous changes.

It could be a bit tricky: since `pairwise_distances_chunked()`, passing `n_jobs` to the `reduce_func` inside of it would lead to nested parallelization, and possibly using more cores than desired..

One approach might be to modify the logic a bit so that `pairwise_distances_chunked()` can determine w

[2020-08-19 04:54] clgarciga opened #18189 "Add random_state to GroupKFold"

[2020-08-19 08:25] OlehKSS commented on #18175
I edited one of the specified files, e.g. *develop.rst*, here is my PR #18191

[2020-08-19 08:28] lorentzenchr commented on #18181
+1 as I was thinking the same while reviewing `detection_error_tradeoff_curve`.

[2020-08-19 08:35] rth commented on #18187
The disk usage is concerning as well. @lesteve or @ogrisel might have some ideas. To summarize the issues are,
 - kernel panic (BSOD on windows)
 - possible CPU oversubscription when doing RF.predict inside permutation_importance. I though joblib should prevent it but maybe you need a later version. You are using joblib 0.14.1 while the latest is 0.16.0
 - using 30GB of disk for caching is which i

[2020-08-19 08:40] #18162 closed

[2020-08-19 08:50] jnothman commented on #18186
I'll guessing that the best opportunity for parallelism is thread-based
parallelism over columns... The reduce func would benefit from profiling.
Cython may be a part of the solution???

[2020-08-19 09:30] OlehKSS commented on #18175
I noticed that in the [documentation guidelines](https://scikit-learn.org/stable/developers/contributing.html#documentation) for “References” in docstrings it is suggested to look at the [Silhouette Coefficient](https://github.com/scikit-learn/scikit-learn/blob/0fb307bf3/sklearn/metrics/cluster/_unsupervised.py#L38), which itself does not follow documentation writing guidelines for shapes and arra

[2020-08-19 09:38] glemaitre commented on #18175
The docstring of the silhoutte coefficient is not that good but the "References" section is fine:

[code]

I think this is what the documentation is referring too. The simplest would be to make a PR solving the issue in the class and we merge it quickly :)

[2020-08-19 09:44] lorentzenchr commented on #15881
@robjhyndman Thank you for pointing to the numerical solution. If I understand correctly, this is an additive correction, i.e. the biased corrected prediction is `predict_biased + bias_correction`.

[2020-08-19 10:27] jnothman commented on #18189
The algorithm that balances folds is deterministic, and cannot easily be
randomised except in cases of tied group sizes.

[2020-08-19 10:28] jnothman commented on #18189
See also #7566

[2020-08-19 10:30] JoElfner opened #18195 "Add centered ICE plots to `plot_partial_dependence`"
#### Workflow
`sklearn.inspection.plot_partial_dependence` now supports ICE plots by specifying the parameter `kind=‘individual’` or `kind=‘both’`.
To increase the explanatory power of ICE plots, ICE plots are often centered to the first value on the x-axis, see f.i. [Interpretable ML, section 5.2.1.1](https://christophm.github.io/interpretable-ml-book/ice.html) for an explanation/example and refe

[2020-08-19 10:39] #18174 closed

[2020-08-19 11:13] assaftibm opened #18197 "Default data type in CountVectorizer"
The CountVectorizer default dtype is `numpy.int64`.

Since there are no negative values in count vectors, perhaps it would be better to use `numpy.uint64` as the default?

[2020-08-19 11:17] Devilmoon commented on #18187
I updated joblib to 0.16.0 and tried running permutation importance on the original dataset, CPU usage showed some dips from 100% so I don't think the CPU is oversubscripted (with `n_jobs=6` in the permutation_importance call).
However I still got a BSOD after joblib cached ~140GB of data (!!) and the space left on the drive was around ~20GB.
Throughout execution Disk I/O was always around ~100MB/

[2020-08-19 11:20] Devilmoon commented on #18187
Furthermore after restarting space left on the drive is 25.8GB, meaning that the cached data is still somewhere on disk!

[2020-08-19 11:28] Devilmoon commented on #18187
This is totally not ok, almost 300GB of data left behind by joblib

![joblib](https://user-images.githubusercontent.com/18517304/90629458-b498d580-e21f-11ea-8d0b-e1961d00cd08.PNG)

[2020-08-19 11:52] rth commented on #18197
I'm not sure about the practical advantage of using uint there as we should never reach nowhere close to count values of 2e19 in any case.  We would have to do a deprecation cycle to avoid breaking backward compatibility for little benefit.

[2020-08-19 11:54] glemaitre commented on #18189
I am closing then

[2020-08-19 11:54] #18189 closed

[2020-08-19 11:54] rth commented on #18184
You should try miniforge (link above).  Does `/usr/local/bin/python3.8 -c "import scipy"` work? If not it means that the scipy is getting installed for a different python version..

[2020-08-19 11:57] glemaitre commented on #18197
While it is feasible I am -1 with the downside due to deprecation

[2020-08-19 12:02] madhuracj commented on #18195
+1

Even though the initial PR implementing ICE contained centring, initially, the reviewers weren't sure whether centring is needed at first.

See https://github.com/scikit-learn/scikit-learn/pull/16164#discussion_r379520474

That made perfect sense at the time. However, I guess we have some feedback and examples use cases now, and I support this.

However, I wonder whether we need the customizat

[2020-08-19 12:07] JoElfner commented on #18195
Honestly: No idea. I haven't seen any example. But I could think of use cases where you'd f.i. want to see the change with reference to the median value.
But I'm also perfectly fine with dropping `centered_quantile`.

[2020-08-19 12:34] rth commented on #18197
Sorry, closing. Thanks for the proposal though. If you see other things to improve don't hesitate to open issues.

[2020-08-19 12:34] #18197 closed

[2020-08-19 12:35] #17354 closed

[2020-08-19 12:46] NicolasHug commented on #18195
Thanks for opening the issue.

I think this would be nice to have. If we don't have a clear idea of why we'd like different quantiles, let's just allow `centered=True` for now. We can add `centered=some_quantile` later as suggested above.

thoughts @glemaitre @jnothman ?

[2020-08-19 12:50] NSGYData opened #18198 "Error produced when running BayesSearchCV"
I'm attempting to run a bayesian search for randomforest classifier hyperparameters, but every time i try to fit the function, it returns a FutureWarning. Attached is code that reproduces the problem I face on my local machine

[code]
Error Code:
[code]

#### Versions
System:
    python: 3.8.3 (default, Jul  2 2020, 11:26:31)  [Clang 10.0.0 ]
executable: /Users/local/opt/anaconda3/bin/python
   ma

[2020-08-19 12:58] agamemnonc opened #18199 "Balanced accuracy score - adjusted argument"
#### Describe the issue linked to the documentation

In the [docstring](https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f871d60370/sklearn/metrics/_classification.py#L1754) of `balanced_accuracy_score`, it is mentioned that best score is `1` when `adjusted=False`, but the opposite is stated in the `adjusted` argument [below](https://github.com/scikit-learn/scikit-le

[2020-08-19 13:15] rth commented on #18187
Thanks for investigating! Yes, it's absolutely not OK as a default behavior. The 50k created file objects is also not good. Could you show a few filenames in one those memmaping folders please? We'll need some joblib experts to have a look at it.

[2020-08-19 13:51] Devilmoon commented on #18187
Unfortunately I already removed those folders and cannot remember the exact file names, however I can tell you that they all had short file names, and all of them had the same size, which was around ~2MB

[2020-08-19 14:15] mlaszczynska opened #18201 "Strange issues with Bagging CPU time vs walltime"
#### Describe the bug
I was investigating running times of ensemble algorithms for my thesis when I noticed strange timing behavior of BaggingClassifier.  When training with `n_jobs=-1`, fitting walltime (measured with `timeit.default_timer`) is more than 10 times longer than CPU time (measured with `time.process_time`).  With RandomForestClassifier the behavior is completely opposite and seems mo

[2020-08-19 14:28] xandercage434 opened #18202 "Alarm created thru AlarmManager is not running after 25days (= 2^31 - 1 = 2147483647 milli seconds)"
**Background**: I have an Android application running on Android 7.1. A recurring task is set using AlarmManage to perform a task every day at a specific time. code is like below:

Code

AlarmManager am = (AlarmManager) context.getSystemService(Context.ALARM_SERVICE);
long startInMs = getComing9AM();
Intent = ...; //an intent to be run when alarm time is up.
PendingIntent ScheduledIntent = Pending

[2020-08-19 14:47] cmarmo commented on #18202
Hi @xandercage434 , are you sure scikit-learn was the project you want to submit your issue?

[2020-08-19 14:53] #18202 closed

[2020-08-19 15:01] Shihab-Shahriar commented on #18152
`memory_usage` by default uses `psutil` to get memory info by process id. Although I'm not sure about `psutil` internals, I think it directly queries OS for whole process memory i.e. doesn't track python allocated objects.

`memory_usage` also has another backend that uses linux `ps` command, both showed similar values.

[2020-08-19 16:01] NicolasHug commented on #18198
something went wrong in our deprecation of `MaskedArray` (`@deprecated` doesn't support `__new__` or something like that)

See https://github.com/scikit-optimize/scikit-optimize/issues/902 for workarounds

Re the keyword warnings, the `skopt` snippet should be updated.

[2020-08-19 16:01] #18198 closed

[2020-08-19 16:41] rth commented on #18187
I can reproduce on Windows. On a machine with 4 CPU cores, I get a `joblib_mmapping_folder` containing thousands of 1MB files for a total of ~3GB, I imagine it scales as some power law of N_CPU (or maybe I haven't let it run until the end).

Investigating this, when one runs `RandomForestClassifier.predict` it [parallelizes over trees](https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bb

[2020-08-19 16:49] rth commented on #18201
`RandomForestClassifier` uses the threading joblib backend, while the `BaggingClassifier` uses multi-processing via joblib/loki.

In the case of threading, the CPU time is indeed the sum of the time of each thread and in this case wall_time < cpu_time.
In the case of multi-processing, I think `time.process_time` in the parent process is not the correct way to track CPU time. You would need to call

[2020-08-19 16:58] Devilmoon commented on #18187
Would it be possible that both the 'loky' and 'threading' backend are working at the same time?
If I understand correctly `sharedmem` should force the threading back-end, which is thread-based; however, during my testing I saw multiple active python.exe processes, which would be the behaviour of `loky`. IIRC there were 6 different processes, which coincidentally is `n_jobs` for `permutation_import

[2020-08-19 18:44] TomDLT commented on #18186
I don't think it would, since `pairwise_distances_chunked` does not parallelize over chunks. On each chunk it parallelizes inside the `pairwise_distances` call, and it would parallelize later inside the `reduce_func` call if we implement that.

I agree, currently the code has two nested python loops, one over line chunks, and one over columns in `process_chunk`. We could try to parallelize the sec

[2020-08-19 20:21] browshanravan opened #18205 "max_iter limit argument inconsistencies between solvers."
This question likely stems from my poor understanding of sklearn and apologies if this has been answered but I was wondering why for some estimators, such as `SVC()`, the `max_iter` argument can be set to -1 for removing the limit but for other estimators such as `SGDClassifier()` there needs to be a hard limit, otherwise there is the error `ValueError: max_iter must be > zero. Got -1.000000`.

[2020-08-19 20:30] khughitt commented on #18186
Some profiling results for a 1000 x 100 random matrix with ~10% missing values:

[code]

**Results:**

[code]

[2020-08-19 20:40] khughitt commented on #18186
cProfilter output in a format usable by snakeviz:

[test_knn.profile.gz](https://github.com/scikit-learn/scikit-learn/files/5099153/test_knn.profile.gz)

[2020-08-19 20:46] mlaszczynska commented on #18201
Thank you. Your explanation is convincing for me. Is there any easy way to measure those times for child processes in sklearn? Preferably one working under Linux.

[2020-08-19 20:55] amueller commented on #18205
This might be historical, as there was not other stopping criterion for SGDClassifier for a long time, and so that wouldn't have made sense. Now that tol>0 by default, we could add ``max_iter=-1``

[2020-08-19 20:58] amueller commented on #18153
I think we should just clarify in the documentation for now. There are already a lot of parameters and I'd rather not add another one.

[2020-08-19 21:11] browshanravan commented on #18205
I have noticed this for other classifiers as well, such as `LogisticRegression()` when I set `max_iter=-1`. These examples are likely not exhaustive.

[2020-08-19 21:48] jnothman commented on #18199
The best value is always 1. The worst value is 0 when unadjusted. Please
feel free to submit an improvement to the documentation.

[2020-08-19 23:58] iancovert commented on #13127
Hi Olivier. At the time I was looking for a SPCA solver that would produce a low-dimensional embedding using sparse loading vectors, and it was mainly the sparse loading vectors that I wanted. The solver from Zou et al. calculates the loadings via an alternating optimization algorithm, and that's what I personally expected to be implemented here. But you seem to be right that there are many SPCA v

[2020-08-20 06:21] coelhudo opened #18210 "KDE example in docstrings is not being generated properly"
#### Describe the issue linked to the documentation

In the docstring in [kde](https://github.com/scikit-learn/scikit-learn/blob/1dedc7e6a8f3e96e6e7772b90bf6ec803f442567/sklearn/neighbors/_kde.py#L87), there is a missing newline between the description of the example and the code.

Because of this minor issue, the proper code snippet cannot be generated.

#### Suggest a potential alternative/fix

[2020-08-20 10:09] cmarmo commented on #14947
My understanding is that this issue is about propagating the `verbose` flag available for some of the DBSCAN `algorithm` (eg `ball_tree` and `kd_tree`). I'm relabeling this as "Enhancement". Feel free to close or revert if this is not correct.

[2020-08-20 10:16] cmarmo commented on #15019
Cross referencing here #16525 , as it is meant to supersede #10117. @glemaitre do you think your PR will also close this issue? Thanks.

[2020-08-20 10:20] cmarmo commented on #15173
I'm closing this issue as no follow-up has been provided.
@anbai106 , if you still experience this problem with the last available version of scikit-learn feel free to open a new issue. Thanks.

[2020-08-20 10:20] #15173 closed

[2020-08-20 10:22] jnothman commented on #18186
What is the shape of the data your had issues with?

[2020-08-20 10:43] jnothman commented on #18186
I think it's very hard to see the bottlenecks when more of the runtime is
taken by import than by the execution in question.

[2020-08-20 10:57] agamemnonc commented on #18199
Thanks for clarifying @jnothman.

Should we then just remove the following from the `adjusted` definition to avoid any confusion:
[code]

[2020-08-20 11:09] OlehKSS commented on #18175
I added a new PR #18214 that fixes the issue with the Silhouette Coefficient.

[2020-08-20 11:19] jnothman commented on #18186
Yes, a lot of time is spent in _calc_impute, which is called by
process_chunk, which is called by pairwise_distances_chunked.

process_chunk takes a greater fraction of the time with an increase
n_features. And then there's the expected O(n^2) scaling with respect to
n_samples.

From the looks of it large amounts of time are spent in _calc_impute
(mostly in argpartition), but also a lot in nan_euc

[2020-08-20 11:29] glemaitre commented on #15019
This is a use-case mentioned in #16525 (still not implemented thought) by @lorentzenchr. It might make sense to add the option and it would close this issue as well.

[2020-08-20 11:35] #18210 closed

[2020-08-20 11:39] sathishkumar369 opened #18215 "scikit learn 0.23 is not working on predictive api"
Hi scikit-learn team,

I had used the latest version of scikit learn(0.23) for my ML api development.
when I gave predict it's throwing an error. which is "the reset parameters are false but there is n_features_in_attributes."
please look into the screen shot.

![Screenshot (1)](https://user-images.githubusercontent.com/40235632/89731643-40637280-da66-11ea-8bc6-a44780177316.png)

I solved this iss

[2020-08-20 12:10] Ashutosh619-sudo commented on #18205
But the default value of tol is 1e-3. @amueller

[2020-08-20 12:11] Ashutosh619-sudo commented on #18205
take

[2020-08-20 12:15] Ashutosh619-sudo commented on #18205
But the value of tol is 1e-3 by default. @amueller

[2020-08-20 12:16] madhuracj commented on #18153
@he-rvb Do you plan to submit a pull request updating the documentation? Otherwise, I am happy to do that.

[2020-08-20 12:30] eponraj27392 commented on #16028
when it will get updated in sklearn pakage ?

[2020-08-20 12:39] glemaitre commented on #18215
This is not a bug but the error is related to https://scikit-learn.org/stable/developers/develop.html#universal-attributes

It seems that the error is given by PyCaret. You should report the bug on their issue tracker:
https://github.com/pycaret/pycaret/issues

[2020-08-20 12:39] #18215 closed

[2020-08-20 12:39] cmarmo commented on #15240
I'm closing this issue as no follow-up has been provided.
@awsmsaurabh , if you still experience this problem with the last available version of scikit-learn feel free to open a new issue. Thanks.

[2020-08-20 12:39] #15240 closed

[2020-08-20 13:37] tliu68 opened #18216 "GaussianMixture UnboundLocalError"
#### Describe the bug

An UnboundLocalError occurred when fitting with `sklearn.mixture.GaussianMixture`. It looks like after initialization, 'lower_bound' becomes NaN, so 'best_params' was not assigned. Issue #1059 reported a similar error.
#### Steps/Code to Reproduce

Please see this [gist](https://gist.github.com/tliu68/8793dcbc9c52ed5a7c9a9f286a1cd017). But we did realize that using a differe

[2020-08-20 14:05] khughitt commented on #18186
@jnhansen Apologies -- I originally started profiling a run on a larger dataset, but it was taking too long so I scaled it back (perhaps a bit too much..) Here is one for a somewhat larger test dataset (8000 x 3000):

[test_knn_8000_x_3000.profile.gz](https://github.com/scikit-learn/scikit-learn/files/5103558/test_knn_8000_x_3000.profile.gz)

The original data that motivated this request is ~26,00

[2020-08-20 15:05] #16028 closed

[2020-08-20 16:52] Devilmoon commented on #11187
Hi, has any work been done in implementing Altmann's approach to permutation importance in the end?
I am going to reimplement it myself in Python because the expected run time of the approach leveraging scikit's RFs would be 50 minutes on my dataset against the expected 25 hours on R, just wanted to know if this is still something that is being considered for scikit or if any implementation has al

[2020-08-20 18:21] jvschoen opened #18218 "Make passthrough argument take a list of features"
https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f871d60370/sklearn/ensemble/_stacking.py#L87-L90

In this code, it would be helpful to allow user to select a subset of features to include in the final estimator instead of just having a bool state whether to append the full feature set. As a simple start, could just take a list column indices to include in the passth

[2020-08-20 18:31] jvschoen opened #18219 "Add Transformer Option to StackingClassifier"
#### Describe the workflow you want to enable
Would be nice to allow a transformer or pipeline to be placed prior to passing the predictions (and possibly feature set) to the final_estimator. There are cases where I may want to do feature crosses with these prediction outputs.

#### Describe your proposed solution

Include an argument in the StackingClassifier initiation that takes a pipeline or t

[2020-08-20 20:58] jnothman commented on #18186
26000 is likely to be a lot for many algorithms involving O(n^2)
computation.

But speeding up nan_euclidean_distances should help, and multi threading
over columns for each chunk may also.
Whether we could improve on argpartition would require some investigation.

[2020-08-20 21:00] jnothman commented on #18219
Is making the final_estimator a Pipeline not sufficient?

[2020-08-20 21:01] lorentzenchr commented on #18175
I reopen for the 3 left files in examples and user guide not inlcuded - in my understanding - in the above mentioned issues.

[2020-08-20 21:03] jvschoen commented on #18219
@jnothman That sounds like a pretty solid approach. Would it be possible to do hyperparam grid searches on the downstream model in the pipeline?

[2020-08-20 21:36] jnothman commented on #18219
Yes. Not entirely sure whether you're grid searching the whole stacking
system or just the final estimator. Either way, yes. You just need to
prefix the parameters... Construct the estimator you want and then use
.get_params() to see what you can search.

[2020-08-20 21:38] jnothman commented on #18218
The final_estimator Pipeline could do this selection too, but it may not be
neat.

If the use cases are solid, this would be a more user friendly API.

[2020-08-21 00:54] txntxn commented on #17590
@d3b0unce For MissingIndicator, if there is a different array X2, it still might have predicted values for the missing indicators. If these are above 0.5 they should be inverse_transform'ed into a None.

For SimpleImputer, I believe there should be a no-op inverse_transform. This is because if you have a chain of transformations and want to inverse them, it is a pain to special handle SimpleImpute

[2020-08-21 00:56] txntxn commented on #17590
@nithinreddyy yes that is correct. I believe it should also accommodate probabilities as the indicator values, but feel less strongly about that.

[2020-08-21 00:57] txntxn commented on #17590
Looking at https://github.com/scikit-learn/scikit-learn/pull/17612 I am happy that it looks like this is solved for SimplerImputer, but not yet MissingIndicator

[2020-08-21 02:17] jnothman commented on #17590
I don't see how we can inverse transform a MissingIndicator alone. We've got to inverse transform an imputation with its indicator.

[2020-08-21 06:53] MartinThoma opened #18221 "Trove classifier on PyPI: Production / stable or Beta"
#### Describe the issue linked to the documentation

When I go to [scikit-learn on PyPI](https://pypi.org/project/scikit-learn) I don't see a [trove classifier](https://pypi.org/classifiers/) for the development status. This is pretty helpful to new users.

#### Suggest a potential alternative/fix

Add either `Development Status :: 4 - Beta` or `Development Status :: 5 - Production/Stable`. As sci

[2020-08-21 08:27] glemaitre commented on #11187
I would advise opening a new issue to discuss new features as mentioned by @jnothman . You will get little attention on a closed issue.

But I think that it would be interesting to check this method. It should much faster than the current method. However, I don't know if it has some drawbacks regarding some biases that we should know about (I need to read the paper thoroughly).

[2020-08-21 08:43] rth commented on #14386
I would propose to release 0.25 as 1.0 and be done with it. One year after this discussion was started we did move forward with some of those major points, but I can't say we are close to resolving all of them either. We can very well do a 2.0 for them if needed, otherwise the risk is that we will never release 1.0 (or at least not in the next few years) which is not great.

The semantic versionin

[2020-08-21 08:46] rth commented on #18221
It's certainly not beta. If we followed semantic versioning, we should have released 1.0 a long time ago. At this point the version number doesn't have much meaning with respect to software stability.

+1 for the Production/Stable

[2020-08-21 08:49] glemaitre commented on #18221
We are doing a big split between 4 and 5 :); @rth we are Production/Stable but we are scared to say so

[2020-08-21 08:51] glemaitre commented on #18219
I think the answer is there: a pipeline with a grid-search. The parameter will be a bit longish but it would be feasible.
I am closing then.

[2020-08-21 08:51] #18219 closed

[2020-08-22 05:21] harupy opened #18229 "doc for `sklearn.utils.all_estimators` says it doesn't return meta estimators but it actually does"
#### Describe the issue linked to the documentation

[The doc for `sklearn.utils.all_estimators` ](https://scikit-learn.org/stable/modules/generated/sklearn.utils.all_estimators.html) says:

but, looks like it actually does.

[code]

output:

[code]

#### Suggest a potential alternative/fix

[2020-08-22 14:23] sara4silva5 opened #18235 "Calinski-Harabasz index is wrongly described"
####

In sklearn.metrics.calinski_harabasz_score, this description is wrong:

"The index is the ratio of the sum of between-clusters dispersion and of inter-cluster dispersion for all clusters"

####

Alternatives:

"The index is the ratio of the sum of between-clusters dispersion and of within-cluster dispersion for all clusters"
or
"The index is the ratio of the sum of between-clusters dispersio

[2020-08-23 17:34] cmarmo commented on #11113
@jnothman, am I wrong thinking that this issue could be closed?
My understanding is that a clarification was needed in the documentation and this wasn't really a bug (see also [this comment](https://github.com/scikit-learn/scikit-learn/pull/11116#issuecomment-474024151)). The documentation issue has been fixed in #18115.

[2020-08-23 20:14] Praveenk8051 commented on #14444
Thank you.. will look into this

[2020-08-23 22:16] jnothman commented on #11113
Yes, this is fixed by #18115. Thanks @cmarmo

[2020-08-23 22:16] #11113 closed

[2020-08-24 07:16] #17630 closed

[2020-08-24 07:17] glemaitre commented on #18229
Exactly because meta-estimator are just a subgroup of estimators in scikit-learn

[2020-08-24 09:31] cmarmo commented on #16156
Hi @yhtang, thanks for reaching out. This is a general question and it is unlikely to have attention on the issue tracker.
I'm closing the issue but feel free to keep in touch with the community via the [mailing list](https://mail.python.org/mailman/listinfo/scikit-learn) or [stackoverflow](https://stackoverflow.com/questions/tagged/scikit-learn).

[2020-08-24 09:31] #16156 closed

[2020-08-24 09:33] lorentzenchr opened #18248 "RFC Consistent options/names for loss and criterion"
### Proposal
Make the options to choose a `loss` or a split `criterion` consistent/unified over all estimators, classifiers as well as regressors.

### Current State of Affairs
The API for setting a loss function or a split criterion is scattered. Here is an incomplete list as of v0.23.0:
#### Classifiers
- [sklearn.ensemble.GradientBoostingClassifier](https://scikit-learn.org/stable/modules/gener

[2020-08-24 09:48] jnothman commented on #18248
Could you be more explicit about the changes you would propose?

[2020-08-24 09:55] cmarmo commented on #15895
Hi @atarashansky thanks for reaching out. In order to label this issue as 'new feature' it would be useful to have more details about references and implementation of the specific algorithm. Otherwise it will be hard to bring some attention to the issue. Thanks.

[2020-08-24 09:59] rth commented on #18248
It true that at least the naming could be more standardized, for instance `loss="deviance"` (GradientBoostingClassifier) == `loss="log"` (SGDClassifier) which is definitely confusing. Or `loss="ls"` vs `loss="least_squares"`. Maybe having a documentation page listing all the losses with standard names could be a start.
Though I'm not sure on the cost vs benefit for renaming some of those to a stan

[2020-08-24 10:09] lorentzenchr commented on #18248
Proposal:
- `"squared_error"` for `"mse", "least_squares", "squared_loss", "ls"`
- `"absolute_error`" for `"mae", "lad"`
- `"log_loss"` (maybe `"crossentropy"`) for `"deviance", "entropy", "binary_crossentropy", "categorical_crossentropy", "log"`

[2020-08-24 10:50] cmarmo commented on #16452
Hi @Sandy4321, I'm closing this one because it is closer to a general question and it is unlikely to have attention on the issue tracker.
If you feel as you encounter a bug, feel free to open a new issue providing a minimal reproducible code snippet. Thanks!

[2020-08-24 10:50] #16452 closed

[2020-08-24 10:54] cmarmo commented on #16497
Hi @mcguipat, I'm closing the issue because it is a general question and we are trying to keep the issue tracker for bugs and new developments. Feel free to keep in touch with the community via the mailing list or stackoverflow. Thanks.

[2020-08-24 10:54] #16497 closed

[2020-08-24 13:10] jnothman commented on #16156
I'm actually somewhat mystified by this query because I cannot find the `value` field referenced here.

[2020-08-24 13:32] cmarmo commented on #16156
Right, there is a `value_type` attribute in [Hyperparameter](https://scikit-learn.org/stable/modules/generated/sklearn.gaussian_process.kernels.Hyperparameter.html?highlight=hyperparameter#sklearn.gaussian_process.kernels.Hyperparameter), though... just a misunderstanding perhaps?

[2020-08-24 15:15] lorentzenchr commented on #1625
After reading carefully, with the convention y = 0 or 1 (or even y in [0, 1]), I think the actual implementation of the binomial deviance, [here](https://github.com/scikit-learn/scikit-learn/blob/2225f0ad35e757f156e19cac46918335ef16aa6b/sklearn/ensemble/_gb_losses.py#L589-L590) is *OK*. It is missing a constant factor that guarantees deviance >= 0 and deviance=0 only if y=`predict_proba` (which is

[2020-08-24 15:46] NicolasHug commented on #18248
this might also be a good candidate for the (hopefully not too far away) 1.0 https://github.com/scikit-learn/scikit-learn/issues/14386

When we did the Hist-GBDT I think @ogrisel had a good reason to use `binary_crossentropy` but I don't remember what it was?

[2020-08-24 15:47] NicolasHug commented on #14386
Another one is fixing the loss names inconsistencies https://github.com/scikit-learn/scikit-learn/issues/18248

[2020-08-24 16:09] NicolasHug commented on #18248
I like the proposal above https://github.com/scikit-learn/scikit-learn/issues/18248#issuecomment-679037541 so far because it would also make the naming consistent with our scorers and metrics.

(Strictly speaking, "squared_error" for a criterion would mean comparing nodes with different number of samples... I don't think this is a big deal as long as the formula in the docs are accurate.)

[2020-08-24 16:15] thomasjpfan commented on #14386
Coming up with a plotting API for scoring and metrics interfaces: https://github.com/scikit-learn/scikit-learn/issues/15880

[2020-08-24 16:54] Ultramann commented on #18216
Taking a quick look, it seems that there's some unfortunate under/overflow happening in `mixture._gaussian_mixture._estimate_log_gaussian_prob` after one step of the EM loop in `BaseMixture.fit_predict`.
1. The last value in the `GaussianMixture.precisions_cholesky_` array attribute is `~1e154`. This value gets squared on line 427 of mixture/_gaussian_mixture.py, and leads to an `inf`.
2. The corr

[2020-08-24 19:19] cmarmo commented on #16913
It seems to me that this issue is solved. I'm closing it: feel free to reopen if I'm misunderstanding.

[2020-08-24 19:19] #16913 closed

[2020-08-24 19:24] cmarmo commented on #17039
The issue has been answered. I'm closing it. @xieg94 if you need more clarifications feel free to keep in touch with the community using [stackoverflow](https://stackoverflow.com/questions/tagged/scikit-learn) or the [mailing list](https://mail.python.org/mailman/listinfo/scikit-learn). The issue tracker is mainly for bug reports and new developments. Thanks!

[2020-08-24 19:24] #17039 closed

[2020-08-24 20:00] cmarmo commented on #10289
@jeremiedbb, @jnothman  has #17026 solved this issue? Thanks!

[2020-08-25 01:15] PowderL commented on #17404
This issue was solved after I download the newest version of the source of github

[2020-08-25 03:42] jnothman commented on #10289
I'm not sure how well #17026 solves the need of a user estimating how well an algorithm will scale on their specific data. If it does, a tutorial would be beneficial!

[2020-08-25 03:48] vrishank97 commented on #10289
@jnothman #17026 Is an implementation of a benchmarking tool for the sample datasets we use in the sklearn examples, it doesn't exactly cover the use case that was in mind for this profiling tool, which was intended to be used to model the change in performance of estimators as their hyperparams change.

[2020-08-25 04:11] madhuracj commented on #14969
@glemaitre I would like to contribute to "Add support for categorical columns (bar plot)".
However, I have some doubts about the API. Assuming that a categorical feature is one-hot-encoded, it will be scattered across multiple columns and wonder how we can adapt the `features` parameter of `plot_partial_dependence()` to specify this list of columns without cluttering the `features` parameter.
As o

[2020-08-25 04:20] #17404 closed

[2020-08-25 04:29] disa-mhembere commented on #4357
@ogrisel, regarding the performance @jovo mentioned. The optimizations we implement significantly improve the performance of kmeans++ **for multicore NUMA machines running the algorithm in parallel**. No performance improvement is made when run serially or on single-core machines. We rely on NUMA memory allocation policies, and NUMA-sensitive dynamic task dispatching and NUMA-sensitive thread bind

[2020-08-25 06:04] Adam1679 commented on #18205
Do we need help here ? I can take this. Just remove iter_max for some classifier that has default "tol" parameter?

[2020-08-25 06:51] rth commented on #18205
Are we confident SGD will always converge within the given tolerance? If not this will produce an infinite loop.

+1 to support maxi_ter=-1 but I'm not so sure about making it a default.

[2020-08-25 08:26] glemaitre commented on #14969
I was recently thinking about this feature and I don't have it clear in mind. I would like to assume that someone is passing a pipeline containing a `ColomnTransformer` therefore I would not assume that the categories are already one-hot encoded. In this case, `features` would not be an issue. However, we need to know which columns are categorical and I think that we have a couple of approaches:

[2020-08-25 09:40] ShagReza opened #18255 "cannot import name 'detection_error_tradeoff_curve' from 'sklearn.metrics'"
hi

I have updated my sklearn package to use det curve

but I received this error:
cannot import name 'detection_error_tradeoff_curve' from 'sklearn.metrics' (C:\Users\user\Anaconda3\lib\site-packages\sklearn\metrics\__init__.py)

could you please help me out?

[2020-08-25 09:51] #17863 closed

[2020-08-25 10:11] cmarmo commented on #18255
Hi @ShagReza thanks for reaching out. Could you please clarify which version of scikit-learn are you using? `detection_error_tradeoff_curve` is in 0.24dev so you should [install the development version](https://scikit-learn.org/stable/developers/advanced_installation.html#building-from-source) to have this function available.

[2020-08-25 12:27] NicolasHug commented on #14969
Here are my thoughts, following the notation from our [UG](https://scikit-learn.org/dev/modules/partial_dependence.html#mathematical-definition):

- Categorical features that aren't target features (i.e. those in X_C) don't need to have a special treatment, we can treat them as any other feature
- We only need to worry about categorical features that are in X_S. Let's go simple at first and only c

[2020-08-25 13:57] jovo commented on #4357
@disa-mhembere I thought you also had a parallelized implementation of k-means++, which, at the time, was not otherwise implemented anywhere? And also some improvements to k-means algorithms via leveraging the triangle inequality more effectively than prior implementations?

[2020-08-25 14:29] dineshgit commented on #15862
I have a requirement to build a multivariate time series solution using Random Forest algorithm. If anyone has any insight to this or have any tutorials, please share with me.

[2020-08-25 15:04] alfaro96 commented on #16877
Could you provide the `svmlight` file so we can reproduce the bug?

[2020-08-25 15:24] marenwestermann commented on #17302
@NicolasHug this issue can be closed now.

[2020-08-25 15:35] NicolasHug opened #18257 "Plan for reworking the tutorials"
On top of the Examples and the User Guide, we have a [Tutorial](https://scikit-learn.org/stable/tutorial/index.html#) section. This part of the docs is quite old, and some of it became redundant with the UG and / or the examples. Lots of users will be drawn to the tutorials page at some point, so I feel like it's important that we give it the attention it deserves, just as we do for the UG.

Here'

[2020-08-25 15:35] NicolasHug commented on #18257
In terms of timeline and PRs, I imagine this could be done as:

- update 5. -- easy
- move 3. to an example -- easyish
- move 4. to an example -- easy
- fix layout and sidebar issue from 2. -- easyish
- update 2. and maybe integrate 1. (or remove it) -- hard, big PR

[2020-08-25 15:39] alfaro96 commented on #17118
Hey @ramapati166!

I will close this issue since it has not been updated in a long time and we are not able to reproduce it.

Feel free to re-open it if you disagree.

[2020-08-25 15:39] #17118 closed

[2020-08-25 15:40] #17156 closed

[2020-08-25 15:41] NicolasHug commented on #17302
Thanks for your PRs @marenwestermann (and everyone else!)

I'll close the issue. There seem to be one last left which we didn't catch in `examples/inspection/plot_partial_dependence.py`, if you wanna give it a go

[2020-08-25 15:41] #17302 closed

[2020-08-25 15:48] alfaro96 commented on #16775
Hey @rth!

I will close this issue since the minimal supported pandas version was added to CI and `README.rst` in #17573.

Feel free to re-open it if you disagree.

Thank you!

[2020-08-25 15:48] #16775 closed

[2020-08-25 16:19] cmarmo commented on #18257
Some time ago I opened #17865 ... Since the beginning I feel like I'm not really lucky with website things... so should this be a good starting point?

[2020-08-25 16:28] marenwestermann commented on #17302
I'll work on that.

[2020-08-25 17:01] rth commented on #16775
Thanks @alfaro96 !

[2020-08-25 17:05] ramapati166 commented on #17118
It's ok.No problem..

On Tue, Aug 25, 2020, 9:09 PM Juan Carlos Alfaro Jiménez <
notifications@github.com> wrote:

[2020-08-25 17:54] #17945 closed

[2020-08-25 17:56] stelios357 commented on #11339
Is this issue still open ?

[2020-08-25 18:33] lorentzenchr commented on #14386
I'm fine<sup>1</sup> with releasing one of the next 0.2X, X&geq;5, as 1.0.
How do we proceed from there, as before or with SemVer? What will be the next major release, 2.0 or 1.1?

<sup>1</sup>Emotionally, just "fine" is an understatement🎉

[2020-08-25 18:44] ShagReza commented on #18255
hi

the version is: site-packages (0.23.2)
and: Requirement already up-to-date
so it seems I've installed the latest one

I triedinstalling nightly version using:
pip install --pre --extra-index https://pypi.anaconda.org/scipy-wheels-nightly/simple scikit-learn

but still the latest version is 0.23.2 not 0.24

[2020-08-25 18:45] NicolasHug commented on #14386
Aren't we already using SemVer? I think the next major release would be 2.0 (with breaking changes) and we would be releasing 1.1, 1.2 etc every 6 months

[2020-08-25 21:01] jnothman commented on #16877
The documentation is quite clear that `length` is in bytes.

[2020-08-25 21:05] jnothman commented on #11339
Yes, it seems so :|

[2020-08-25 21:06] jnothman commented on #14386
I think that technically we are not using SemVer, since minor releases are
not backwards compatible with all minor releases from the same major
version series.

[2020-08-25 21:11] shenkev commented on #16877
It's been a long time, but I remember doing bytes instead of rows was weird API design. As a user, how am I supposed to know the number of bytes I want? Why would I extract a fractional number of lines?

I think there should be enough information to deduce how many bytes from how many lines under the hood given we know the number of columns in the svm file.

[2020-08-25 21:20] TomDLT commented on #18257
I strongly agree with all the propositions. We should also add a link to the excellent "Quick Start" guide at the top of the tutorial page.

[2020-08-25 21:36] rth commented on #14386
not backwards compatible with all minor releases from the same major
version series.

There is an exception for 0.X versions though where where "Anything can change at any time". So technically we could release 1.0 and claim following SemVer. Though then we would have to increment the major version for any breaking change. On once side it's a shame that the scientific python ecosystem doesn't foll

[2020-08-26 01:09] PannuMuthu opened #18258 "Ipython console port required"
usage: ipykernel_launcher.py [-h] --server SERVER --port PORT ipykernel_launcher.py: error: the following arguments are required: --server, --port An exception has occurred, use %tb to see the full traceback. SystemExit: 2

[2020-08-26 05:13] PaleNeutron commented on #13783
I found that `predict_proba`'s speed is acceptable (at least 10 times faster), may be we could use a custom function instead before official fix.

[code]

[2020-08-26 06:41] rth commented on #13783
Yes, I need to finish  https://github.com/scikit-learn/scikit-learn/pull/14543 to fix it

[2020-08-26 06:56] alfaro96 commented on #16877
You are absolutely right @jnothman!

I have not realized that the documentation says that `length` is in bytes. Therefore, we could not say that this is a bug.

[2020-08-26 07:22] cmarmo commented on #18255
If you want to use `detection_error_tradeoff_curve` you need to [build from source](https://scikit-learn.org/stable/developers/advanced_installation.html#building-from-source) the 0.24dev version. This option has been just merged into master (see #10591).

[2020-08-26 07:22] #18255 closed

[2020-08-26 07:25] ShagReza commented on #18255
many thanks

[2020-08-26 07:55] kathirraja commented on #17760
Hi I'm using `joblib==0.16.0`, still facing same error

[2020-08-26 08:04] glemaitre commented on #14969
OK this looks neat as well. `features` and `is_categorical` having the same size seems to be the most intuitive.

[2020-08-26 08:23] madhuracj commented on #14969
I agree, this specification looks neat. I suppose the default value for `is_categorical` can be None, in which case we assume the old behaviour, which is all `features` are continuous.

Even when the dataset is OHEd, we can still calculate partial dependence for individual binary columns resulting from OHEing.

Will send a PR soon, if guys are happy with that.

[2020-08-26 08:29] glemaitre commented on #14969
I will be happy to review :)

On Wed, 26 Aug 2020 at 10:23, Madhura Jayaratne <notifications@github.com>
wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2020-08-26 09:10] #15319 closed

[2020-08-26 09:12] glemaitre commented on #17760
@kathirraja Could you open a new issue with a full traceback, a minimal example and the version of packages that you are using.

[2020-08-26 09:34] glemaitre commented on #18258
Not related to scikit-learn

[2020-08-26 09:34] #18258 closed

[2020-08-26 09:41] glemaitre commented on #18195
we can start by implementing the boolean solution

[2020-08-26 09:42] #18108 closed

[2020-08-26 09:44] glemaitre commented on #18105
This is not a good strategy to use dummy or OHE with a decision tree since it will increase the number of features and make the algorithm much slower. `OrdinalEncoder` should be used instead.

[2020-08-26 09:48] glemaitre commented on #18105
The trees can easily isolate categories which are encoded numerically as well. This is one of the strategies on how to treat categorical data.

[2020-08-26 09:58] hiteshsom commented on #18105
Ok. Sorry, I had no clue of that. I will read through code and/or online to understand on decision trees working better.

[2020-08-26 10:05] glemaitre commented on #18105
Yes. Categories encoded with integer will be supported then. You can have a look at this notebook: https://github.com/lesteve/2020-scikit-learn-tutorial/blob/master/notebooks/trees.ipynb

This might be useful. I will close this issue since the documentation has been updated.

[2020-08-26 10:05] #18105 closed

[2020-08-26 10:12] carlosg-m opened #18260 "New metric for BallTree - closest euclidean distance between two lines"
#### Describe the workflow you want to enable

I tried solving the nearest neighbor problem between geometries using a rtree but discovered that it doesn't guarantee 100% recall.

Using geometries' vertices together with a kd-tree can also yield incorrect results.

To this day I don't know of any Python solution that can provide exact nearest neighbor search between geometries.

Toblerity/Shapely#

[2020-08-26 14:25] subrat93 commented on #10529
take

[2020-08-26 14:31] NicolasHug opened #18263 "Don't allow criterion='mae' for gradient boosting estimators"
The MAE criterion for trees was introduced in https://github.com/scikit-learn/scikit-learn/pull/6667. This PR also started exposing the `criterion` parameter to `GradientBoostingClassifier` and `GradientBoostingRegressor`, thus allowing 'mae', 'mse', and 'friedman_mse'. Before that, the GBDTs were hardcoded to use 'friedman_mse'.

**I think we should stop allowing `criterion='mae'` for GBDTs.**

M

[2020-08-26 16:05] lorentzenchr commented on #18175
@OlehKSS Thank you for your work to close this issue.

[2020-08-26 16:05] #18175 closed

[2020-08-26 16:10] mathurinm opened #18264 "BUG: liblinear stucked on iris after centering the data"
#### Describe the bug

[The example on sparse Logreg](https://scikit-learn.org/stable/auto_examples/linear_model/plot_logistic_path.html#sphx-glr-auto-examples-linear-model-plot-logistic-path-py) surprised me because even going at extremely low regularizations (large C), only 1 feature enters the model:
![image](https://user-images.githubusercontent.com/8993218/91328558-6196c380-e7c7-11ea-8d02-585

[2020-08-26 16:25] mathurinm commented on #18264
I just realised that iris is linearly separable:
[code]
![image](https://user-images.githubusercontent.com/8993218/91330057-390fc900-e7c9-11ea-92d6-8e9a85d739c8.png)

in that case, solvers on the **unregularized** Logreg problem do not converge but go to infinity. My guess is that when the intercept scaling is high, liblinear gets stuck pushing its value to infinity. It is still weird that when th

[2020-08-26 16:27] lorentzenchr commented on #18263
@NicolasHug I see it the same way.

[2020-08-26 16:27] agramfort commented on #18264
with current master I get with this code:

[code]

reasonable results.

[2020-08-26 16:32] lorentzenchr commented on #18263
@NicolasHug I see it the same way.

[2020-08-26 16:53] mathurinm commented on #18264
On my machine with the latest pull from master it worked once, but I cannot reproduce: it gets stuck after 2 Cs.

Can I give more debugging/reproducing info ?

[2020-08-26 18:37] agramfort commented on #18264
indeed I can replicate the pb. It fails now. It only worked once on my
machine.

[2020-08-26 18:44] adrinjalali commented on #15319
@glemaitre does the PR indeed close this issue? I couldn't figure from the conversation there whether it fixes all the meta estimators or not.

[2020-08-26 19:08] glemaitre commented on #15319
I would say yes if we did not miss any: https://github.com/scikit-learn/scikit-learn/pull/17987#issuecomment-666274853

[2020-08-26 19:09] glemaitre commented on #15319
Now we can move forward to run the common tests which is a bit more tricky

On Wed, 26 Aug 2020 at 20:44, Adrin Jalali <notifications@github.com> wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2020-08-26 22:24] TomDLT commented on #18264
Well spotted. I suggest to stop using LIBLINEAR, and start using SAGA:
![Figure_1](https://user-images.githubusercontent.com/11065596/91362485-71a2a900-e7af-11ea-9ff8-ca8c8f94f844.png)

We should not use such large intercept scaling in LIBLINEAR. Intercept scaling is a dirty hack which scales the intercept feature so differently from the rest of the features that it slows down the convergence a lo

[2020-08-26 23:03] chrisyeh96 opened #18268 "Feature Request: function to calculate Expected Calibration Error (ECE)"
#### Describe the workflow you want to enable

I would like to add the ability to calculate Expected Calibration Error (ECE) within scikit-learn. ECE is defined in equation (3) from [Guo et al. *On Calibration of Modern Neural Networks.* (2017).](https://arxiv.org/abs/1706.04599) This is a well-cited paper (over 700 citations as of Aug. 26, 2020), and the ECE metric is now widely used in academic

[2020-08-27 06:24] MrRace commented on #11739
@rth
Meet same error, my detail is below:
[code]

![image](https://user-images.githubusercontent.com/10300313/91399628-de31ac80-e870-11ea-9e1c-d012fb2b8225.png)
How to fix it? Thanks a lot!

[2020-08-27 07:11] alfaro96 opened #18271 "BUG The test_check_pandas_sparse_valid uses platform-dependent definitions"
#### Describe the bug

The `test_check_pandas_sparse_valid` test uses [platform-dependent definitions](https://numpy.org/doc/stable/user/basics.types.html) that, if I am not wrong, are (in general) discouraged. I think that these data types should be avoided to ensure that the tests pass regardless of the platform.

For instance, this [workflow execution](https://github.com/scikit-learn/scikit-lea

[2020-08-27 07:14] alfaro96 commented on #18271
Pinging @glemaitre @thomasjpfan @alexshacked which could help with this issue.

[2020-08-27 07:17] agramfort commented on #18264
it's not that simple to me. Coordinate descent will outperform SAGA if
n_samples << n_features
and SAGA suffers when you have non-standardized features. liblinear is a
very efficient solver
I personally use quite systematically on log reg when I teach. The fact
that it works once and then
not suggests more a memory management problem in the C++ code.

[2020-08-27 07:18] glemaitre commented on #18271
We could restrain the check for only unambiguous type across platforms?

[2020-08-27 07:21] lorentzenchr commented on #3481
Superseded by #18248.

[2020-08-27 07:21] #3481 closed

[2020-08-27 07:23] glemaitre commented on #18271
or otherwise, we should check that the `float16`, `float32`, `float64` are giving a `floating` (meaning of `float**`) and identically for integer. In this way, we ensure that the behaviour is correct and the only risk is memory-wise but I would say that this is not what we try to check here.

[2020-08-27 07:28] glemaitre commented on #18264
This might be to find 2 `random_state`, one failing and one working to be able to debug it and find in which stage it is going wrong?

[2020-08-27 08:04] glemaitre commented on #18263
Something not related to the theoretical part but rather the implementation, I would have a second look at the implementation of the weighted median for this criterion. In the gradient boosting, we initialize the weight to an array of ones even if `sample_weight` is `None`:

https://github.com/scikit-learn/scikit-learn/blob/8ba49f628092fe3fb1deea101910006aa6c76d49/sklearn/ensemble/_gb.py#L410

So

[2020-08-27 08:07] mfeurer opened #18272 "Compositions return individual steps as part of get_params"
#### Describe the bug

When calling `get_params` on an `Pipeline` or a `ColumnTransformer`, it returns the steps as parameters as well. However, the [docs for get_params](https://scikit-learn.org/stable/developers/develop.html#get-params-and-set-params) says that only the arguments to `__init__` will be returned. By having additional entries here, the output of `get_params` can no longer be used t

[2020-08-27 08:11] mathurinm commented on #18264
random_state=0 fails, random_state=6 converges

[code]

[2020-08-27 08:26] mfeurer commented on #18272
It appears that `deep=False` turns off this behavior:
[code]
However, this appears to be inconsistent with the remaining API, for example grid search or other meta estimators such as AdaBoost, where the sub-component is passed as an argument.

[2020-08-27 08:27] glemaitre commented on #18272
I think that what we attend with `get_params` and `set_params` is the following:

[code]

Therefore, if you want a new estimator

[code]

[2020-08-27 08:31] glemaitre commented on #18272
What I mean by that is that considering the following snippet:
`
[code]

The job of `get_params` is to show how to set the underlying parameters of the `LogisticRegression`. But these parameters cannot be passed directly to `__init__` of the `Pipeline`. However, `set_params` will do the `job` nicely.

Do you think that updating the documentation mentioning the `get_params` -> `clone` -> `set_param

[2020-08-27 08:32] alfaro96 commented on #18271
IMHO, I would check for unambiguous type across platforms although this could be too restrictive 😕.

[2020-08-27 08:32] glemaitre commented on #18272
`It appears that deep=False turns off this behavior`. I have to check but it could be what `clone` is doing internally`.

[2020-08-27 08:35] glemaitre commented on #18264
Great, now we need somebody motivated to get into debug mode :)

[2020-08-27 08:39] mfeurer commented on #18272
I agree on that. But again, the issue is that `get_params` actually return `'clf'` as an entry in the dictionary, which is neither a parameter nor a parameter to a submodel.

The questions is whether this is the desired behavior. If yes, I think updating the documentation would be good to explain this behavior.

My actual use case was parsing parameters (and not creating models), so I just created

[2020-08-27 08:39] alexshacked commented on #18271
Hi @alfaro96. Thank you very much for bringing this to my attention. I will open a PR right away to fix this.
The PR that added this unittest to the code-based, passed all circle-ci testing including Windows which is the one failing now.
I"m just curious about this. Did circle-ci change? or is this a different test configuration that is not always activated?

[2020-08-27 08:59] alexshacked commented on #18271
@alfaro96, the reason I was wondering about the "MNT Downgrade checkout version", is that I would like to know that the fix I will supply passes this test. And if "MNT Downgrade checkout version" is not part of the circleci, than I would like to be able to activate it somehow so I"m sure I fixed the issue.
By the way, I agree that removing the platform-dependent numpy types is probably the best wa

[2020-08-27 09:09] alexshacked commented on #18271
I see that the test fails also in Linux not onlyWindows.
And it seems that the result is XXX32 instead XXX64.
Doesi this happen because the test is run on a 32bit OS

[2020-08-27 09:21] alfaro96 commented on #18271
Hey @alexshacked!

This is a workflow run in `GitHub Actions` for [this PR](https://github.com/scikit-learn/scikit-learn/pull/17921) (not related with `Circle CI`). There, we are moving the [wheel builder](https://github.com/MacPython/scikit-learn-wheels) to the `scikit-learn` organization.

According to the `GitHub Actions` documentation, the machine resources are specified at: [Dv2 and DSv2-seri

[2020-08-27 09:27] alfaro96 commented on #18271
The operating system version is `x86_64` (64 bits).

[2020-08-27 09:32] alexshacked commented on #18271
Got it. Thanks @alfaro. Can I run this tests myself? Is there maybe a link?

[2020-08-27 10:37] alfaro96 commented on #18271
I would recommend to copy [this file](https://github.com/scikit-learn/scikit-learn/blob/aa576f0a9c98b5cd26e0e50ea9828280fd4201f2/.github/workflows/debug.yml) when submitting your PR for running the tests using `GitHub Actions`.

Once the tests pass, remove this file.

[2020-08-27 10:48] cmarmo opened #18275 "RFC DOC Logos of core-devs employers on the website"
The logos of the current employers of core-devs are displayed on the scikit-learn home page
![image](https://user-images.githubusercontent.com/1662261/91433028-e8e54500-e862-11ea-9b35-e42ef5390df9.png)
and on the [funding](https://scikit-learn.org/stable/about.html#funding) page.

If I have understood correctly those lists need an update.
In particular, @adrinjalali and @lorentzenchr , do you mind

[2020-08-27 10:53] alexshacked commented on #18271
Thanx a lot @alfaro96

[2020-08-27 10:54] carlosg-m opened #18276 "Balltree query_radius doesn't work with custom metric"
#### Describe the bug

Balltree query_radius doesn't work with custom metric.

#### Steps/Code to Reproduce

[code]

#### Expected Results

[code]

#### Actual Results

[code]

#### Versions

[code]

[2020-08-27 10:54] adrinjalali commented on #18275
Thanks for the reminder @cmarmo . I'm in talks with my employer on how to proceed with the logo on the website. I'll give you an update once I know more.

[2020-08-27 12:47] alexshacked commented on #18271
Hey @glemaitre, @alfaro96. I created PR #18277.

[2020-08-27 13:03] lorentzenchr commented on #18275
@cmarmo Thank you. As Adrin, I have to check that with my employer.

[2020-08-27 13:21] jnothman commented on #18275
This is not specifically all current employers, but employers who are
financially supporting work on the project.

[2020-08-27 14:26] Deltaidiots commented on #13621
Hi @dispink did you find the solution to your problem? I believe i am having the same problem.

Seems to me this script is only written for binary classification. Whenever i try ti add additional label it breaks like above. @hermidalc if you can clarify if its for binary class for y or more classes can be used. Thanks in advance :)

[2020-08-27 14:54] glemaitre commented on #18272
But the error message is fine. You try to set "contin**u**ous" while defining "continous". I think this is just a spelling mistake there, isn't it?

[2020-08-27 14:56] glemaitre commented on #18272
OK I see. This would probably make sense to remove it. We would need a deprecation warning thought. @jnothman Do you recall why the submodel would be exposed with `get_params`?

[2020-08-27 14:58] glemaitre commented on #18272
Uhm looking at the documentation again, the docstring of `get_params` seems to be up-to-date.

[code]

So we should probably update only the developer guide. But I am still intrigued to know the use-case.

[2020-08-27 15:10] mfeurer commented on #18272
That's embarrassing. There's actually no issue here.

I'm not sure if it's necessary, I think it would be sufficient to update the docs (see my next answer).

Hm, probably I interpreted this wrong: I was reading that it only return parameters. But yes, one can also interpret the sentence as you did. The question now is what the author of this sentence intended and whether it can be made unambiguou

[2020-08-27 15:14] glemaitre commented on #18272
Oh, I meant the use-case on the scikit-learn side and why we exposed the sub-estimator :) That's why I pinged @jnothman :)

[2020-08-27 15:48] lucyleeow commented on #8049
ping @cmarmo I think this was fixed by  #9100 and can be closed

[2020-08-27 16:00] rth commented on #18276
Thanks for the report. Please provide a reproducible example, the current example is not runnable as LineString and Point are not defined.

[2020-08-27 16:00] cmarmo commented on #8049
@lucyleeow I don't feel like I can close... this [comment](https://github.com/scikit-learn/scikit-learn/issues/8049#issuecomment-267993075) makes me think that something is missing... @amueller do you mind clarifying? This will probably be useful also for contributors willing to address this issue. Thanks!

[2020-08-27 16:00] lucyleeow commented on #18268
Thanks @chrisyeh96. I think this was discussed in #10883 and implemented here #11096. It's been a long process but please feel free to review #11096

[2020-08-27 16:04] lucyleeow commented on #8049
Ah good point! I missed that. Though if we haven't been backwards compatible since 2016, changing it now will make it not backwards compatible :sweat_smile:

[2020-08-27 16:10] lucyleeow commented on #18150
@cmarmo I think #18185 closes this...

[2020-08-27 16:12] #18150 closed

[2020-08-27 16:30] lucyleeow commented on #17387
Does closure of #17402 mean this can be closed too?

[2020-08-27 16:42] alfaro96 commented on #17387
If I am not wrong, we should stop referencing them from the user guide too. Maybe it would be interesting to open a new issue to handle this.

WDYT?

[2020-08-27 16:44] lucyleeow commented on #17387
Good point.

Sure or amend title of this one. Either works

[2020-08-27 16:45] #18271 closed

[2020-08-27 17:04] NicolasHug commented on #17387
Let's indeed close this one, it'll be easier to keep track if we open another issue. Does one of you want to do it? Otherwise I will

[2020-08-27 17:04] #17387 closed

[2020-08-27 17:08] lucyleeow opened #18281 "DOC Stop referencing preprocessing functions in user guide"
#### Describe the issue linked to the documentation
Follows from #17387

#### Suggest a potential alternative/fix
Stop referencing preprocessing functions e.g. :

maxabs_scale
minmax_scale
normalize
quantile_transform
robust_scale
scale
power_transform

in the UG, and only add them e.g. in the "See Also" sections, or even just in the API ref.

In particular right now the first entry of the Preproc

[2020-08-27 17:19] david-cortes commented on #15611
Fix was merged, closing the issue.

[2020-08-27 17:19] #15611 closed

[2020-08-27 17:44] carlosg-m commented on #18276
Sorry about that. I've updated the example to include lib imports.

[2020-08-27 18:44] alfaro96 commented on #18281
These are the references of the preprocessing functions in the user guide:

- [ ] `maxabs_scale -> doc/modules/preprocessing.rst` (line 185)
- [ ] `maxabs_scale -> doc/modules/preprocessing.rst` (line 195)
- [ ] `maxabs_scale -> doc/modules/preprocessing.rst` (line 244)
- [ ] `minmax_scale  -> doc/modules/preprocessing.rst` (line 185)
- [ ] `minmax_scale  -> doc/modules/preprocessing.rst` (line 24

[2020-08-27 19:15] mfeurer commented on #18272
Okay, so after quite some thought I don't think there is really any downside in getting this additional key (I was able to work my way around it) and think that it just needs to be documented better.

[2020-08-27 20:42] jnothman commented on #18272
Contained estimators are included in get_params when deep, and this is used
in the default set_params implementation to delegate setting of deep
parameters. It is also used to allow you to switch Pipeline steps with
set_params. I see that some of this is a bit awkward, but I think this
works and is correctly documented. Shall we close?

[2020-08-27 20:59] jnothman commented on #18281
I think this is a good step. I'm not sure it needs a checklist, as I think it can be done in one pr, but code to check whether the job is done might be helpful.

[2020-08-28 02:50] hanzigs commented on #3298
@Junting-Wang
[code]
you have to use predict instead of predict_proba

[2020-08-28 06:43] alfaro96 commented on #18281
You are absolutely right. Indeed, I would also recommend to solve this issue in one PR.

I have updated the comment to remove the checklist, but I have kept the information for contributors.

[2020-08-28 07:50] glemaitre commented on #18272
I will make a small PR with an example to be explicit regarding the keyword parameter `deep`.

[2020-08-28 07:51] jiayichen2011 opened #18284 "Is there a way to add weights to the trainning data according to time?"
I am doing a prediction (classification) in RF and XGboost. And I have a time series data, and there is evidence that the older data is less valueable. Thus I want to give a weight to the whole training dataset to make it perform better in predicting. I tried dividing the whole trainning set into several subsets, and randomly copy dataset in each subset. It does give weights, but the problem is th

[2020-08-28 08:35] glemaitre commented on #18272
When I documented `deep` I realize that what makes things awkward here is the fact that we use `_BaseComposition` which is not part of the public API. It is smart enough to expose the estimator which is within another attribute (e.g. `steps`, `transformers`).

So I imagine that our developer documentation is good enough because one might want to create their own `_BaseComposition` but it would jus

[2020-08-28 08:44] mfeurer commented on #18272
I think that would be great.

[2020-08-28 08:52] glemaitre commented on #18272
I made a proposal there: https://github.com/scikit-learn/scikit-learn/pull/18285

* it gives an example in the developer guide of what `deep` is useful for
* update the docstring of `get_params` and `set_params` to be more explicit regarding what will be returned or set.

[2020-08-28 10:12] smarie commented on #4795
What is currently confusing in the code, is that eigenvector normalization is not done at the end of the `_fit_transform` but everywhere else. So `self.alphas_` (the eigenvectors) stays always not-normalized, they are normalized when used (in `fit`, `fit_transform`, and `transform`, see below).

When I discovered this I suggested options to either change it or put an explicit comment, and the main

[2020-08-28 12:21] Piyushbalwani opened #18286 "RepeatedStratifiedShufflesplit function is not available in model_selection"
Hi Team,

I found `RepeatedStratifiedKFold `and `StratifiedShuffleSplit `in `sklearn.model_selection`, but there is no library for `RepeatedStratifiedShufflesplit `.
`from sklearn.model_selection import StratifiedShuffleSplit, RepeatedStratifiedKFold`

And there is option of `shuffle` in StratifiedKFold, but there is no such `shuffle `option in `RepeatedStratifiedKFold `

Can you please help in po

[2020-08-28 12:34] NicolasHug commented on #18286
The shuffling is implicit in both RepeatedStratifiedKFold and RepeatedStratifiedKFold, i.e. the data is shuffled from one repetition to another.

[2020-08-28 12:34] #18286 closed

[2020-08-28 12:37] Piyushbalwani commented on #18286
Thanks @NicolasHug
But there is no function for `RepeatedStratifiedShufflesplit` . How to use repeated version for `StratifiedShufflesplit`

[2020-08-28 12:43] NicolasHug commented on #18286
repeating `StratifiedShuffleSplit` would not make sense: we always want different splits from one repetition to another (whether we're using Kfolds or shuffled splits)

[2020-08-28 13:40] NicolasHug commented on #18286
If really you wanted repeated stratified shuffle splits you could do something like this:

[code]

but this will give you

[code]

As you can see the second repetition is the same as the first one so I doubt this is something that you want. You probably just need `StratifiedShuffleSplit(n_splits=6)`

[2020-08-28 14:35] amrcode opened #18288 "Specify Units for Mutual Information Metrics"
#### Mutual Information-based score functions do not specify their units

If scikit-learn is used by non-ML practitioners, they may not expect the *_mutual_info_score functions to use units of nats. In other fields (such as communication), bits are more common. While it is easy to convert the two units, the documentation for these functions does not specify which logarithm is used to calculate the

[2020-08-28 15:47] OlehKSS commented on #18281
Hi, does anyone work on it? I can give it a try otherwise

[2020-08-28 16:24] lucyleeow commented on #18281
If you comment 'take' the bot should assign it to you.

[2020-08-28 16:35] alexshacked commented on #15865
Hi @jnothman.
I tested  `cross_validate` and `permutation_importance` using

[code]
They both look ok. `cross_validate` doesen't reach `__array_function__` at all and `permutation_importance` flow reaches
`__array_function__` but only from `may_share_memory` which is allowed.

I only did basic tests just to get a feel of the lay of the land:

[code]

What kind of delivery did you have in mind?  Un

[2020-08-28 16:42] NicolasHug commented on #16802
Re-opening this because https://github.com/scikit-learn/scikit-learn/issues/16802#issuecomment-619472878 deserves an answer (which I can't provide)

[2020-08-28 21:27] OlehKSS commented on #18281
Ok, I take it

[2020-08-28 22:06] TomDLT commented on #18284
Would [`sample_weights`](https://scikit-learn.org/stable/glossary.html?#term-sample-weight) do what you want ?
Instead of `model.fit(X, y)`, you can call `model.fit(X, y, sample_weights=sample_weights)` in many estimators, including RandomForrestClassifier, GradientBoostingClassifier, and HistGradientBoostingClassifier.

[2020-08-29 01:21] charlesincharge opened #18289 "Support multioutput in VotingClassifier and VotingRegressor"
#### Describe the workflow you want to enable
Instead of having to manually take the mean of an ensemble of multioutput estimators (as done in https://scikit-learn.org/stable/auto_examples/multioutput/plot_classifier_chain_yeast.html), it would be nice to support multioutput algorithms in `VotingClassifier`/`VotingRegressor`. This could perform the same weighted voting to each output.

In the http

[2020-08-29 02:36] #18181 closed

[2020-08-29 07:53] alfaro96 commented on #18281
Hey @OlehKSS!

I think that it should be "take" instead of "Take".

**Note**: I think that it would be interesting to consider both options in the `Assign` workflow

CC @thomasjpfan

[2020-08-29 08:03] lucyleeow commented on #18281
I think it the comment has to be just 'take' (without any other words) as well: https://scikit-learn.org/dev/developers/contributing.html#contributing-code

[2020-08-29 08:24] Piyushbalwani commented on #18286
Thanks @NicolasHug

This is very helpful. 👍

[2020-08-29 08:44] Piyushbalwani commented on #18286
I have one more doubt regarding application of  `StratifiedShuffleSplit` vs `RepeatedStratifiedKFold` :

`StratifiedShuffleSplit` didn't guarantee that all samples will be covered in test split, but `RepeatedStratifiedKFold` do.
`StratifiedShuffleSplit` will shuffle data before splitting, but `RepeatedStratifiedKFold` will not.

So, if our data needs shuffling at least once and need to cover all s

[2020-08-29 11:33] alexshacked commented on #15865
After looking in the sklearn code-base I guess there is no testing infrastructure for `cross_validate` or `permutation_importance`, similar to `check_estimator` for estimators.
So testing that "__array_function__" is not called will have to go:
to `model_selection/tests/test_validation.py` for `cross_validate`
and
to `inspection/tests/test_permutation_importance.py` for `permutation_importance`.

[2020-08-29 11:34] jnothman commented on #18286
Surely repeated here means repeating after shuffling.
StratifiedShuffleSplit shuffled with every split. Repeating it is
equivalent to increasing the number of splits

[2020-08-29 11:46] jnothman commented on #15865
Please do, thanks

[2020-08-29 12:05] NicolasHug commented on #18286
This is the part you got wrong: they both shuffle before each repetition

You should just be using RepeatedStratifiedKFold: it will start shuffling the dataset right from the beginning. You don't need to manually shuffle the data.

[2020-08-29 14:34] #10529 closed

[2020-08-29 14:45] alexshacked commented on #15865
Opened [WIP] PR #18292

[2020-08-29 17:28] Feliren88 commented on #18289
Hey, I am keen to work on this part.

[2020-08-30 04:14] dtemkin commented on #6645
I know this is a fairly dead issue but just something I was thinking about when I was having trouble with n_jobs using OPTICS. Could it be that clustering algorithms, in particular, don't support a multiprocessing paradigm very well due to the nature of the algorithm? It would seem to me that a "divide and conquer" approach as is done in multiprocessing would severely slow down anything that has c

[2020-08-30 06:10] madhuracj commented on #14969
@glemaitre Pull request that is still WIP: https://github.com/scikit-learn/scikit-learn/pull/18298

[2020-08-30 07:38] gauravkdesai commented on #5545
take

[2020-08-30 10:56] OlehKSS commented on #18281
take

[2020-08-30 18:35] Yard1 opened #18304 "partial_fit for StackingClassifier/Regressor?"
This is mainly a question of whether such a feature would make sense. I am a beginner data scientist, so please excuse any misunderstandings on my part.

It is my understanding that the StackingClassifier/Regressor takes a list of estimators, fits them onto the provided data, and uses their outputs as data for the final estimator. When `fit` is called, all the estimators are fitted. Taking that in

[2020-08-30 21:43] NicolasHug commented on #11170
closing as duplicate of https://github.com/scikit-learn/scikit-learn/issues/16705 which was updated more recently

[2020-08-30 21:43] #11170 closed

[2020-08-30 22:22] NicolasHug commented on #16705
I feel like we might need to write a SLEP  before we start using type annotations.

IMHO, from a contributor standpoint, annotations are difficult to deal with because they basically require learning a whole new language - much like learning our docstring conventions. This will raise the **barrier to contribute even higher**, and it will also add work to us as maintainer: think of all the time we

[2020-08-30 22:42] shantanukarve commented on #7192
I get the same problem using a KDTree when querying. I really want all the rows back, essentially sorted closest to furthest to some master point.  My parameters:
Tree data was a dataframe of 622377 rows and 117 columns.
Queries that work k ( number of return best neighbours ) 20, 100,100000, upto 285,000.
Query Fails with k=295000 and k=622377 which is the length of the dataframe

As a workaround

[2020-08-30 22:49] boricles commented on #15761
Hi, I am new, and I would like to start contributing. Do you still need some help on this issue? is there any file you still need help with?

[2020-08-30 23:14] rth commented on #16705
I agree that it would be good to have this discussion, and the above concerns are valid, but I'm not sure a SLEP is the right format for it. Can't we have this discussion in this issue, then summarize it in the documentation? My issue with the SLEP is that it adds months if not years delay for talking a decision, which is fine for large architectural changes, but less so for something like this. P

[2020-08-31 00:10] NicolasHug commented on #16705
I guess we can, but issues are harder to read and parse due to their conversational structure. It's much easier to miss something important when reading an issue than when reading a SLEP (assuming the issue is read at all, which I would say is an optimistic assumption ;) ).

Writing a SLEP doesn't have to be that long IMO. The reason SLEPs take forever is because of the async between the writer an

[2020-08-31 00:13] NicolasHug commented on #16705
@rgommers @jorisvandenbossche would you mind sharing your thoughts on the tradeoffs you've identified regarding the adoption of type annotations? Thanks!!

[2020-08-31 02:03] jnothman opened #18305 "display='diagram' needs more prominence in documentation"
The `sklearn.set_config(display='diagram')` feature highlighted [here](https://scikit-learn.org/stable/auto_examples/release_highlights/plot_release_highlights_0_23_0.html#rich-visual-representation-of-estimators) needs more prominence. At least, it should be easy to find it when googling `scikit-learn diagram display`. [It isn't](https://www.google.com/search?q=scikit-learn+diagram+display). `sci

[2020-08-31 06:45] alfaro96 commented on #15761
Hey @boricles!

Have a look to https://github.com/scikit-learn/scikit-learn/issues/15761#issuecomment-639461778 for a list with the modules still to be fixed.

[2020-08-31 07:09] rth commented on #16705
About that, yes, I also run into it in the past: see https://mypy.readthedocs.io/en/stable/common_issues.html#redefinitions-with-incompatible-types and it's likely that using the [`--allow-redefinition`](https://mypy.readthedocs.io/en/latest/command_line.html#cmdoption-mypy-allow-redefinition) in the config would address some of it.

[2020-08-31 07:14] albertvillanova commented on #11991
Is there any pending task in this issue?

[2020-08-31 08:40] adrinjalali commented on #11991
@albertvillanova you could check and see if everything in https://github.com/scikit-learn/scikit-learn/issues/11991#issuecomment-488196582 is done, or at least a PR is open for them.

[2020-08-31 08:43] glemaitre opened #18307 "RFC: remove support of pos_label inference with str in brier_scorer_label"
Currently, the following list of metrics will raise an error if `str` are provided as labels and that `pos_label` is not defined and needed to compute the metrics:

* `average_precision_score`
* `f1_score`
* `fbeta_score`
* `jaccard_score`
* `precision_recall_curve`
* `precision_score`
* `recall_score`
* `roc_curve`

We try to make sure that the error message is consistent in https://github.com/sc

[2020-08-31 08:47] lucyleeow commented on #12037
@jnothman was this meant to be closed?

[2020-08-31 08:51] #18229 closed

[2020-08-31 08:56] albertvillanova commented on #11991
@adrinjalali that is the reason why I was asking if there are any additional tasks, because the ones mentioned in this issue seem to have been already addressed.

[2020-08-31 09:00] adrinjalali commented on #11991
Then I think it's safe to close this one. We can always have PRs which do further cleanups, but seems like this is mostly done. Feel free to re-open @jnothman if you see obvious leftovers.

[2020-08-31 09:00] #11991 closed

[2020-08-31 09:01] rth commented on #11991
I think all of the points were indeed addressed here.

@albertvillanova thanks! If you are looking for for another issue to contribute, you can also have a look at [stalled PRs](https://scikit-learn.org/stable/developers/contributing.html#stalled-pull-requests) starting with those that are short and not too controversial as they are more likely to get merged faster.

[2020-08-31 09:06] glemaitre commented on #14969
Thanks I will put it in my review-to-do list :)

On Sun, 30 Aug 2020 at 08:11, Madhura Jayaratne <notifications@github.com>
wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2020-08-31 09:32] glemaitre commented on #18304
Until the underlying estimator could support `partial_fit`, this should be feasible. Then, my concern would be an issue linked with calling `partial_fit` on the final estimator. The predictions given to the `final_estimator` are provided by `cross_val_predict`. However, if one is feeding small batches, making the amount of data really small to fit the `final_estimator` at each round, I am not sure

[2020-08-31 09:34] glemaitre commented on #18284
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

Hopefully, @TomDLT already answered :)

[2020-08-31 09:34] #18284 closed

[2020-08-31 09:40] lucyleeow commented on #14015
@cmarmo do you think this could be closed?

[2020-08-31 09:43] rgommers commented on #16705
Agreed, this is one of the more common annoyances. Something like
[code]
It is usually easy to work around, but may introduce some churn.

I think type annotations have just become relevant this year, after we all dropped Python 2.7. There is a significant amount of interest in having them. I agree it's extra work, but it also may attract new contributors - that has certainly been the case for Num

[2020-08-31 09:45] cmarmo commented on #14015
@lucyleeow perhaps you could find some time to check the solution with the last versions and then we can close? Thanks a lot!

[2020-08-31 11:13] lucyleeow commented on #18307
Related: #10010 - `brier_score_loss` is (now) also the only one using `pos_label=None` (instead of `pos_label=1`). It also does behaves differently for int label values than the metrics mentioned above:

[code]

[2020-08-31 11:15] jorisvandenbossche commented on #16705
I share the concerns of @NicolasHug about this being yet another barrier for contributors, and the experience of regularly running into mypy issues that isn't necessarily an issue in your code. Even for me, being a long time pandas dev but not someone who really dived into the annotation topic, this is regularly a hurdle. So if doing this, this requires very good docs and guidelines for specific c

[2020-08-31 11:29] #1625 closed

[2020-08-31 11:59] GaelVaroquaux commented on #16802
Because in general computing correct p-values requires assumptions on the data that are not met by the data used in machine learning (no multicollinearity, enough data compared to the dimensionality...).

A lot of the literature in model interpretation is uncontroled and unstable.

[2020-08-31 12:12] rgommers commented on #16705
Yes that's terrible. NumPy has introduced a public `numpy.typing` submodule for that reason, so you can just annotate with `ArrayLike` or `Optional[ArrayLike]`. Scikit-learn should probably reuse that, and make an internal copy to support older numpy releases for the time being.

[2020-08-31 12:25] amueller opened #18308 "add "see also" to plotting functions"
#### Describe the issue linked to the documentation

There should be a "see also" in each plotting function to the relevant underlying function and to the display object.
Right now the confusion_matrix has ``plot_confusion_matrix`` in the ``see also`` but the display class is not mentioned in either. I didn't check the other functions.

[2020-08-31 12:33] jorisvandenbossche commented on #16705
Note that while this makes the code *much* more readable (and the annotations easier to use), this still expands to `Union[bool, int, float, complex, _SupportsArray, Sequence]` in the public interface interacting with the annotations.
So at least in an interactive environment like IPython (and the for a sphinx/numpydoc docstring page I assume), a user checking the types of a function will still se

[2020-08-31 12:39] NicolasHug commented on #16802
Playing devil's advocate here (echoing the last paragraphs of https://github.com/scikit-learn/scikit-learn/issues/16802#issuecomment-619472878), regarding assumptions that are never met: we do support PDPs, which assume feature independence. When they're not, i.e. basically all the time, PDP interpretation is undefined.

[2020-08-31 12:47] GaelVaroquaux commented on #16802
Right, but p values are something that are expected to be well checked
(they are a guard in medical research). Implementing them is asking for
trouble.

[2020-08-31 12:52] amueller commented on #14386
My preference would be to do a standard release 0.25 as 1.0 as we would have done (keeping standard deprecations), but reserve the right to do breaking changes for future major versions. So 1.0 wouldn't be very special, but we establish that 2.0 could have breaking changes.

Breaking changes that might be interesting in the future
- make pipeline clone
- allow ``.fit.transform`` != ``fit_transform

[2020-08-31 13:02] amueller commented on #15880
So this seems like discussing the namespaces, right?
Whether we have one function and one constructor, or two classmethods, or two functions, it's exactly the same functionality and basically the same code.

@pzelasko @jhennrich how do you feel about having two classmethods or two functions? Or would you prefer a single function, which is a bit messy in python.

And if you prefer two functions or

[2020-08-31 13:41] rth commented on #16705
Thanks a lot for your feedback!

 In https://github.com/scikit-learn/scikit-learn/pull/17799 @thomasjpfan has been working on a tool to automate  checking the consistency between the typing information and the docstring, at least for simpler built in types that we typically have in `__init__`. So that things like `Union[int, float]` would map to `{int, float}` in the docstring, but the question is

[2020-08-31 13:51] NicolasHug commented on #16802
So IIUC, your point is that it's easier to misuse p-values than to misuse our other supported tools?
Or is it that the consequences of misusing p-values can be disastrous (again, comparatively to other things)?

I tend to agree with that, and if I were an experienced user who knows what they're doing, I wouldn't find either point above  strongly compelling.

[2020-08-31 13:57] dishak331 commented on #18305
So you need examples along with that guide page so that it shows more prominence such as diagrams and all?

[2020-08-31 14:20] MartinThoma commented on #14386
Is this a problem? I know a couple of projects with very high version numbers ... starting with those, that use [calendar versioning (CalVer)](https://calver.org/) :smile:

[2020-08-31 14:59] GaelVaroquaux commented on #16802
A bit of both in terms of misuse versus consequences.

With regards to an experience users not finding my comments compelling, I would like to stress that I, as an expert on statistical control of high dimensional models, I most often do not know how to give controlled p-values, and I claim that solutions that exist work in very narrow settings. Basically: there is no good answer.

Libraries that

[2020-08-31 15:25] mayer79 opened #18309 "Add transformation option to inspect functions"
#### Describe the workflow you want to enable

I like the inspect module very much. Sometimes, interpretation of a model is more natural on a different scale (e.g. log) than on the scale of the predictions.

Here some examples:

1. We fit a GLM. It is often more natural to inspect the model on the linear scale of its link function, not on the scale of the response variable.
2. We fit a Poisson reg

[2020-08-31 15:38] GaelVaroquaux commented on #14386
I'm +1 with both of these :)

[2020-08-31 15:42] agramfort commented on #14386
I will not fight for this anymore. I am getting softer with age :)

[2020-08-31 15:54] ogrisel commented on #11452
On recent scikit-learn master, the loss computation has changed and here is what I observe on my box:

[code]

So it does not look like a numerical instability anymore but it stills over-shoot. Maybe we could just record the loss of the baseline estimator (at iteration 0, from the raw predictions of the `self.init_` model) and then issue a `ConvergenceWarning` and stop just before including a tree

[2020-08-31 15:55] ogrisel commented on #11452
Such a warning message should suggest to retry with a lower value for the learning rate.

[2020-08-31 15:56] boricles commented on #15761
@alfaro96 thanks. I did a quick look now. I will select a module tonight, and work on it.

[2020-08-31 16:05] #18272 closed

[2020-08-31 16:21] sofianehaddad commented on #7463
Hi all, seems the issue has been fixed (accurate results with `numpy 1.18.5` and `sklearn 0.23`)

[2020-08-31 16:21] #7463 closed

[2020-08-31 16:33] ogrisel commented on #11452
There is a similar problem for `HistGradientBoostingClassifier`:

[code]

[2020-08-31 16:34] NicolasHug commented on #14386
I understand most of us seem to favor a backward-compatible 1.0, but these 2 points are still unclear to me:

1. If we're going to release 1.0, why not take the opportunity to introduce breaking changes? It seems to me that this is what major versions are for?
2. Why allow 2.0 to have breaking changes, but not 1.0? What's so special about 2.0 that 1.0 doesn't have?

Sorry, I guess some of you made

[2020-08-31 16:38] #4122 closed

[2020-08-31 16:38] #4469 closed

[2020-08-31 16:38] #8392 closed

[2020-08-31 16:38] #11645 closed

[2020-08-31 16:38] #13521 closed

[2020-08-31 16:38] #16177 closed

[2020-08-31 17:52] NicolasHug commented on #18263
Seems like we're OK to do this. Tagging it as Help Wanted.

## For contributors

The goal here is to deprecate passing 'mae' as the criterion to both GradientBoostingClassifier and GradientBoostingRegressor. Please make sure to read our [contributing guidelines about deprecation](https://scikit-learn.org/dev/developers/contributing.html#deprecation)

You can comment below with "take" to get this i

[2020-08-31 18:17] jnboehm opened #18311 "Change default learning rate for t-SNE"
Following up from a [remark](https://twitter.com/hippopedoid/status/1285154214147235840) on Twitter about a recent paper that was uploaded as a preprint ([relevant part of the conversation](https://twitter.com/flo_compbio/status/1285243511453945856)).  Belkina (2019) showed that changing the learning rate to n/12 improves convergence of t-SNE (looks at Fig. 4).  Changing the default behavior would

[2020-08-31 18:35] TomDLT commented on #18311
Thanks for pointing this ! This has been brought up recently in #18018 (4), and seems a reasonable change. You are very welcome to propose a pull-request :smiley:.

[2020-08-31 18:38] rgommers commented on #16705
Yes, I think this is a structural issue that may need a tweak in IPython. There may be something that can be done here with `__annotations__`, `__signature__`, `__text_signature__` to make this look better.

[2020-08-31 19:09] Carreau commented on #16705
I do have some idea/prototype on how to fix many of those issues and other via protocols in IPython and have it gives better REPR not only in terminal but all clients.

For example here is what `numpy.linspace` look in my terminal in IPython

<img width="1655" alt="Screen Shot 2020-08-31 at 12 01 40" src="https://user-images.githubusercontent.com/335567/91756600-d714e200-eb81-11ea-9d10-06f0b0df20f

[2020-08-31 19:32] Carreau commented on #16705
Note also the difference due to `from __future__ import annotations`, from [pep 563 – Postponed Evaluation of Annotations](https://www.python.org/dev/peps/pep-0563/) which will become the default in 3.10.

[code]

Adding `from __future__ import annotations` to `foo.py`

[code]

[2020-08-31 19:43] lorentzenchr commented on #14386
IIUC, we are technically breaking strict backward compatibility in every minor release so far (after a deprecation cycle). With 1.0.0 we want to signal the maturity of scikit-learn. It will have some (deprecation cycled) breaking changes.
After pandas, arrow, dplyr and xgboost released their 1.0.0 in 2020, I'm in favour of releasing either 0.24 (still 2020?) or more likely 0.25 as 1.0.0.

[2020-08-31 19:43] jnboehm commented on #18311
Oh right, I didn't find Dmitry's message, I think I didn't use the search function to its full extent.  Thanks for pointing it out!

I'll see whether I can get around it towards the end of this week.

[2020-08-31 19:43] #18311 closed

[2020-08-31 22:14] madhuracj commented on #18263
take

[2020-08-31 22:55] boricles commented on #15761
I am working on `scikit-learn/sklearn/config_context'

[2020-09-01 00:23] ivomarb commented on #18281
Hi @OlehKSS did you finish working in this issue? Do you need help?
Thanks in advance,
Best Regards,
Ivomar

[2020-09-01 02:38] skeller88 commented on #16802
Right. I think we're asking for p-values for regression models, which have
ample theory supporting p-values.

On Mon, Aug 31, 2020 at 7:59 AM Gael Varoquaux <notifications@github.com>
wrote:

[2020-09-01 02:49] chijan-nh commented on #16802
Ja. Nobody has written the story of calculating the confidence interval of a tree model or a SVM.
I think we are talking about linear models.

Of course, in linear models (like elastic net), calculating the CI with L1 penalty has been an open problem.
However, even if CI and p-value attributes are only available at usual linear regression or classification models, they are so useful.

[2020-09-01 04:24] nikhilreddybilla28 commented on #18281
take

[2020-09-01 05:20] GaelVaroquaux commented on #16802
Only when the model is well-conditioned, p << n, and it is estimated via maximum
likelihood (OLS).

The point being: we can give p-values only in very narrow settings. In
these settings, statsmodels works very well. Why not use it? I use
statsmodels to answer this need.

[2020-09-01 05:44] nikhilreddybilla28 commented on #18205
I was hoping that tol will help to control the convergence of SGD but due to the nature of SGD, this parameter seems not useful.
 when i set tol to some positive value it converges very fast  after the one iteration the loss in SGD often gets higher than the previous one which means that previous_loss - loss will be negative so the stopping criterion will be true.

so why dont we change tol to acc

[2020-09-01 06:52] MartinThoma commented on #14386
The main point of version 1.0 for me is to show that scikit-learn is production-ready. I would like to get this signal soon and having not too many changes makes it more likely that it happens soon :-)

[2020-09-01 07:35] cmarmo commented on #14386
@NicolasHug, all, I think it's time to bring this issue to a pragmatic discussion: there is a [milestone](https://github.com/scikit-learn/scikit-learn/milestone/9) for version 1.0, how many issues listed there (and those you might want to add to the list) will break backward compatibility? Are they supposed to be solved for 1.0 (~0.25 in an ideal world)? If the work is doable for 0.25 let's break

[2020-09-01 08:01] glemaitre commented on #18309
I would be more in favour of this and it would be easy for somebody to create an estimator that does such transform:

[code]

[2020-09-01 08:02] glemaitre commented on #18308
FYI, we need to have `See Also` with capital letters to follow NumPyDoc convention :)

[2020-09-01 08:26] ogrisel commented on #14386
I have created a new [Breaking Change](https://github.com/scikit-learn/scikit-learn/labels/Breaking%20Change) label to identify problematic issues that could not be easily be managed by the usual rolling deprecation cycle.

[2020-09-01 09:15] alfaro96 opened #18316 "Tests are failing with the new version of lightgbm (3.0.0)"
The [`Linux pylatest_pip_openblas_pandas` job](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=21775&view=logs&j=78a0bf4f-79e5-5387-94ec-13e67d216d6e) is failing with the new version of `lightgbm`  (`3.0.0`).

I am opening this issue for investigating the underlying problem and see what is wrong.

[2020-09-01 10:47] nikhilreddybilla28 commented on #18263
take

[2020-09-01 11:12] alfaro96 commented on #18316
The 75% of the predicted probabilities by `HistGradientBoostingClassifier` are not the same up to the second decimal with respect to `LGBMClassifier`.

[2020-09-01 11:14] rth commented on #18316
Maybe we could just pin lightgbm <3.0 in CI to fix master for now, and then investigate without rush?

[2020-09-01 11:16] alfaro96 commented on #18316
I think that this would be a good option.

[2020-09-01 12:04] mayer79 commented on #18309
Okay, agreed. The wish to apply such transform in the explainers will raise as soon as we get interaction importance measues like Friedman's H. There, it will be essential to quickly switch to the "raw" level of predictions.

[2020-09-01 12:38] jnothman commented on #18309
I don't get that suggestion. y in fit and the return value of predict must
be on the same scale, or metrics don't work.

[2020-09-01 13:02] glemaitre commented on #18309
be on the same scale, or metrics don't work.

To my limited knowledge, I agree. I thought that we develop the [TransformedTargetRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.compose.TransformedTargetRegressor.html), especially to avoid such evaluation in practise.

[2020-09-01 13:14] NicolasHug commented on #18263
@nikhilreddybilla28, this issue was already claimed by @madhuracj

[2020-09-01 13:22] chijan-nh commented on #16802
Even if the CI is not calculated, a strong assumption (identifiability) is necessary in order to uniquely obtain the regression coefficient.
If the failure to meet the assumptions is the reason why you do not implement it, we need to check the assumptions when finding the regression coefficients for the p>n case. However, the current sklearn can calculate the coefficients with warnings.

Moreover,

[2020-09-01 13:29] NicolasHug commented on #14386
@cmarmo I understand that the timing constraint would not allow us to cram everything from the milestone into 1.0. Indeed we need to be pragmatic and my initial https://github.com/scikit-learn/scikit-learn/issues/14386#issuecomment-678266615 was the following, but perhaps I did a poor job at explaining this:

Typically, the random state issue that was mentioned during the meeting does not qualify

[2020-09-01 13:42] agramfort commented on #18159
a good first step for me is: if sample_weight is passed to fit in pipeline then **all** steps need to support it.

then we can allow estimator__sample_weights in a next PR to specify to which step you want to pass.

to me this ensures backwards compatibility. It cannot silently behave differently.

wdyt?

[2020-09-01 14:06] mayer79 commented on #18309
For permutation importance, being able to transform the scale is less important than for partial dependence (and many other interpretability methods hopefully up to come). We could thus focus on partial dependence (and keep it in mind for upcoming extensions of inspection).

[2020-09-01 21:51] jnothman commented on #18309
It sounds like for permutation importance the TransformedTargetRegressor
will suffice too? So maybe we should trial such a change on partial
dependence? Would you be willing to attempt a pull request?

[2020-09-01 21:57] jnothman opened #18318 "Regression in GP standard deviation where y_train.std() == 0"
In https://github.com/scikit-learn/scikit-learn/pull/15782#issuecomment-685086334, @rkern writes regarding that fix:

More detail in https://github.com/fmfn/BayesianOptimization/issues/243#issuecomment-685004696:

[2020-09-01 22:26] boricles commented on #18318
Hi, I am new. I still need a bit of time to check/review this issue, not sure right now; but I can give it a try this weekend.

[2020-09-02 07:37] glemaitre commented on #18316
I put it as a blocker such that we investigate and do not forget about it before the next release

[2020-09-02 07:52] asuncionjc opened #18320 "Update documentation for LinearSVC and supported loss with l1 penalty"
#### Describe the bug
The method LinearSVC crashes when the combination of parameters penalty = 'l1' and loss = 'hinge' are set.

#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results
An instance of the classifier estimator.

#### Actual Results
This is the error message that I received. As it can be observed, it seems that the combination of l1 penalty and hinge loss is not support

[2020-09-02 08:15] rth commented on #18159
I agree. If we want a sample_weight param without explicitly providing the routing information I also don't see a way around this. I would add: all steps need to steps need to support it, or explicitly indicate e.g. via estimator tags that each sample is processed independently (for instance in `Normalizer`) and therefore sample_weight do not apply.

In practice this means that we would need to ad

[2020-09-02 08:19] agramfort commented on #18159
sure but it can be done in the future. We already have a real usecase to
justify investing in a first PR

if we achieve this we suddenly solve long standing API issues in linear
models

[2020-09-02 08:32] adrinjalali commented on #18159
Just a note that the _if all steps support `sample_weight`_ is not trivial since a meta estimator may accept `**kwargs` and we don't know if `sample_weight` is really supported there or not.

[2020-09-02 09:34] theonlypoi opened #18323 "OneHotEncoder dtype is not preserved when used with FeatureUnion"
#### Describe the bug
Datatype specified in OneHotEncoder is not preserved when it is used with FeatureUnion.

#### Steps/Code to Reproduce

Please see this [gist](https://gist.github.com/theonlypoi/adec22a7715200be3ac0026e5ec6e675).

#### Expected Results

Expected the OneHotEncoded columns to be of integer type.
[code]

#### Actual Results

OneHotEncoded columns are of `float` type even if the d

[2020-09-02 09:48] sherbold opened #18324 "NearestCentroid classifier cannot handle data that is always exactly zero"
#### Describe the bug

The NearestCentroid classifier cannot handle data that is always exactly zero in combination with using the shrink_threshold.

#### Steps/Code to Reproduce

[code]

#### Expected Results

Either no error is thrown and the data is handled correctly or a ValueError that specifies the concrete problem, i.e., that all feature values are the same.

#### Actual Results

[code]

##

[2020-09-02 10:11] cmarmo commented on #10736
Closing this following @amueller [comment](https://github.com/scikit-learn/scikit-learn/pull/10739#issuecomment-520996493).
Thanks @lobpcg for checking this.

[2020-09-02 10:11] #10736 closed

[2020-09-02 11:04] albertvillanova commented on #11991
@rth thanks for the advice. However it's easier said than done. It seems that most of the PR are waiting for reviews, aren't they?

[2020-09-02 11:23] lorentzenchr commented on #18309
To make the argument explicit, let us assume a `PoissonRegressor` (similiar for `LogisticRegression`) that predicts `exp(a + b + c)`. On the "raw"/"log" scale, there are no interactions, i.e. `a + b + c`, whereas on the scale of `y` there is a 3-fold interaction `exp(a) * exp(b) * exp(c)`. Therefore, it would be very convenient for a user, if she or he could switch the analysis scale for partial d

[2020-09-02 11:27] rth commented on #18159
Yes, we would need some way to determine if an estimator supports sample weight irrespective of the fit **kwargs. For instance an estimator tag `fit_sample_weight` with one of: True (supports), False (doesn't) and None (not applicable, operates on samples independently). This could probably be mostly auto-determined, and might just need to be fixed manually in a few cases.

As long as we don't rem

[2020-09-02 11:28] cmarmo commented on #11991
@albertvillanova I've put some effort in checking stalled PR and labelling them as "help wanted": perhaps you will find your way in [this pool](https://github.com/scikit-learn/scikit-learn/pulls?q=is%3Apr+is%3Aopen+label%3Astalled+label%3A%22help+wanted%22).

[2020-09-02 12:30] NicolasHug commented on #18159
For ref, I tried that in https://github.com/scikit-learn/scikit-learn/pull/13565. It wasn't that easy, but some of the issues I encountered about inheritance should be solved now. This one is however still relevant:

[2020-09-02 13:01] rth commented on #18159
Interesting.

One solution could be to set it to `has_fit_parameter('sample_weight')` by default in `BaseEstimator`, that way it would also work for third party estimators. We could even use a helper function that fallbacks to `has_fit_parameter('sample_weight')` if that estimator tag is not defined.

[2020-09-02 13:25] Trevor-Waite commented on #18324
take

[2020-09-02 14:02] rth commented on #18324
Thanks for the report. A PR would be welcome to avoid 0 by 0 division in nearest_centroid.py:L159 (cf the traceback).

[2020-09-02 14:30] albertvillanova commented on #11991
Thank you @cmarmo. That is very useful!

[2020-09-02 15:46] rth commented on #18323
It's not due to FeatureUnion. The issue is that `[100, np.nan, 150, 200, np.nan]` will be cast to an array of floats before imputation, since that's the way to represent NaN in numpy. See for instance a minimal example in [SimpleImputer docs](https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html).

We could try to convert the input to object dtype, but I'm not sure it

[2020-09-02 15:50] rth commented on #18323
No, nevermind I was looking at the wrong columns in your example.

The issue is that we return a homogenous array of a single dtype, not a structured array or a pandas dataFrame where each columns can have a specific dtype. And since your other columns are float the results is also cast to float by `np.hstack`. I also don't see an easy way to fix this.

[2020-09-02 23:16] Suryabhan90 opened #18329 "Sklearn logistic regression with SAGA solver parallel option (n_jobs), does not parallelize"
I am confused with logistic regression n_jobs option. It says: "Number of CPU cores used when parallelizing over classes if multi_class=’ovr’”".

I am using SAGA solver, it surely does parallelize when there are more than 2 classes. However, when there are only 2 classes, everything runs on a single core.

So does it mean logistic regression in scikit-learn is not parallelized ?? Even, though SAGA

[2020-09-03 02:16] ivomarb opened #18330 "Hyperparameter range suggestion for grid search"
#### Describe the issue linked to the documentation

One difficulty that I had in the past while using, for example, GridSearch or RandomizedSearch for hyperparameter tuning is which range of values seems reasonable to be used in the search for each different classifier or regressor (principally for the numeric parameters).  I always need to google examples of parameter ranges to use in the grid s

[2020-09-03 04:36] theonlypoi commented on #18323
Okay.. Got it.
Thanks for the explanation 👍

[2020-09-03 04:36] #18323 closed

[2020-09-03 09:32] glemaitre commented on #18329
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

As mentioned in the documentation, parallelization happens only with multi-class OVR (and `sovler != "liblinear"`)

[2020-09-03 09:32] #18329 closed

[2020-09-03 09:41] glemaitre commented on #18320
It is documented in the user guide that you should use the following for having an `l1` penalty:

[code]

[2020-09-03 09:43] glemaitre commented on #18320
Reopening because the documentation is wrong: `LinearSVC(loss='squared_hinge', penalty='l1', dual=False)`. We should update the documentation then.

[2020-09-03 10:22] ikedaosushi commented on #18320
@glemaitre I'd like to try this issue but let me ask which doc page are you mentioning?

[2020-09-03 10:44] asuncionjc commented on #18320
Thank you @glemaitre and @ikedaosushi for your comments.
I really acknowledge your interest when solving this issue.

@glemaitre Indeed, as you have stated the LinearSVC function can be run with the l1 penalty and the squared hinge loss (coding as loss = "l2" in the function). However, the point is that I need to run the LinearSVC method with the l1 penalty and the standard hinge loss function, i.

[2020-09-03 12:56] nikhilreddybilla28 commented on #18320
the code the produces error for you choice of parameters is here[https://github.com/scikit-learn/scikit-learn/blob/74861d023efb27ec2147ef1cc0b51ec44b487093/sklearn/svm/base.py#L624]

[2020-09-03 13:07] cmarmo commented on #18275
Pinging @amueller too: I'm wondering if your entry should be updated too... thanks for your collaboration.

[2020-09-03 13:28] nikhilreddybilla28 commented on #18320
The code r for your choice of parameters is  https://github.com/scikit-learn/scikit-learn/blob/74861d023efb27ec2147ef1cc0b51ec44b487093/sklearn/svm/base.py#L624  which raises an error

[2020-09-03 13:35] asuncionjc commented on #18320
Thank you @nikhilreddybilla28 for your quick answer 😊

I will try to find other approaches to solve my problem.

I let open the issue just in case @glemaitre or @ikedaosushi want to say something when updating the documentation.

Thank you all again!

Best regards.

[2020-09-03 13:43] glemaitre commented on #18320
L1-regularization is only supported with L2 loss in liblinear: https://www.csie.ntu.edu.tw/~cjlin/papers/liblinear.pdf
So it is the reason that you cannot use `hinge` as a loss.

[2020-09-03 13:46] glemaitre commented on #18320
The page to update is the following:

* https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/svm.rst
* and probably we could improve the docstring of the estimator by mentioning the compatible supported choice.

[2020-09-03 14:08] #18308 closed

[2020-09-03 14:33] NicolasHug commented on #18330
Thanks for opening the issue, we're having related discussions in other issues / PRs (#13031, #17566, https://github.com/scikit-learn/scikit-learn/pull/17929) so I'll close this one as a duplicate

[2020-09-03 15:29] ikedaosushi commented on #18320
@glemaitre Thanks I understand. The document certainly refers deprecated `loss='l2'`. Also improving the docstring seems nice. I'll take the issue.

[2020-09-03 19:47] #18152 closed

[2020-09-03 20:23] rushabh-v commented on #18324
I would like to contribute. What should be done in the 0 by 0 division case? Because I think there might be some of the indices with 0 by 0 division and some with not.

But, In the case mentioned in [the first comment](https://github.com/scikit-learn/scikit-learn/issues/18324#issue-690880366), the matrices `(self.centroids_ - dataset_centroid)` and `ms` are `[[0., 0.], [0., 0.]]`.

[2020-09-03 20:50] agramfort commented on #18159
I like the approach from
https://github.com/scikit-learn/scikit-learn/pull/13565/files

+1 to fall back to has_fit_parameter('sample_weight') by default in
BaseEstimator
if supports_sample_weight is not set. We could also warn that
supports_sample_weight
is required if sample_weight is available in fit.

I think we should aim for the 80/20 trade off and accept that some hard cases
are just too har

[2020-09-04 08:23] glemaitre commented on #18324
@rushabh-v It seems that @Trevor-Waite already took the issue. However, there are plenty of other issues if you want to help.

[2020-09-04 09:17] #18263 closed

[2020-09-04 09:18] lorentzenchr opened #18338 "Clarify group order in GroupKFold and LeaveOneGroupOut"
#### Describe the bug
`GroupKFold` builds folds with non-overlapping groups in it. The order of the groups seems random and not sorted by group ID. A naiv user like me expects the groups to be ordered over the folds.

#### Steps/Code to Reproduce
[code]
Results show group ID of train and test folds:
[code]
Now we add a few samples to the first group (group ID = 0).
[code]
Result:
[code]

#### Expe

[2020-09-04 10:26] andyorange opened #18339 "SimpleImputer missing value replacement"
#### Describe the issue linked to the documentation

When choosing a strategy in combination with missing_value, the respected missing_value is NOT included in the strategy (such as mean, for instance) even if it if NOT NAN or alike. This is completely different compared to pandas for instance and should imho be mentioned in the documentation. It might also be considered as a bug.

#### Suggest a

[2020-09-04 12:14] ogrisel commented on #16395
We recently fixed #18152 in master and I suspect that this was the cause of your problem @allanchua101. Can you please confirm by building scikit-learn from the current master source code or by trying our nightly builds:

https://scikit-learn.org/stable/developers/advanced_installation.html#installing-nightly-builds

Let me close this for now. Please feel free to open a new issue with updated memo

[2020-09-04 12:14] #16395 closed

[2020-09-04 12:24] apacha opened #18340 "Classification reports returns unexpected accuracy float instead of micro_avg dictionary"
#### Describe the bug
I'm running the `classification_report` with the option `output_dict=True`. For some input data, I get a list of dictionaries, which is fine, but for some cases, the function returns a bunch of dictionaries and a single `accuracy` float along. This caused several crashes, because I didn't expect that to be returned in the first place.

#### Steps/Code to Reproduce

I managed

[2020-09-04 14:03] NicolasHug commented on #14306
For ref, the overhead induced by using `np.zeros` to initialize histograms was dealt with in #18341. Benchmarks above are (likely) outdated.

Some scalability issues w.r.t number of threads remain though -- we're still not as fast as LightGBM.