[2021-11-02 14:45] ckemere commented on #18003
Reading this paper, I don't understand the statement, "there is no material benefit in so doing". A probabilistic description of the reduced dimensional data is that it is normally distributed with the mean given by the posterior. If one is expecting to be using P-PCA to visualize lower dimensions, the transformed data returned by the current transform function are precisely incorrect.

[2021-11-02 15:50] glemaitre commented on #21523
It happens quite frequently :)

Thanks for commenting on this. I just removed it to avoid any misinterpretation. Indeed, it is not a big deal to have an issue with the same name and even related. We triage them and close duplicates if this is the case.

closing this issue then

[2021-11-02 15:50] #21523 closed

[2021-11-02 17:09] jasonyz-ucb opened #21536 "Introduce discriminative NMF"
### Describe the workflow you want to enable

With the discriminative NMF, we can achieve matrix factorization, guided by (side) label information, so that the lower dimension representation might fit our needs better.
An example would be to find contact networks within a relationship graph, (e.g. A knows B, B knows C, C knows D, A knows C etc.), we can then supply labels (such as A and B love hor

[2021-11-02 17:22] simonandras commented on #21521
I think this would be useful!
I suggest to use the already existing `oob_score` parameter to make it accept string like `"r2"`, `"accuracy"`, etc. If it is set to `True` than it would use the already used metrics to keep backward compatibility.

[2021-11-02 18:51] avivfaraj opened #21537 "Add print statements to RandomSearchCV and GridSearchCV"
### Describe the workflow you want to enable

It is not a new algorithm, I was just frustrated running Grid and Random SearchCV for hours without knowing when it ends. It should be easy to add a print statement to inform the user about the process. It could be a percentage (let's say 80% done), or just to inform which parameters have been used in each iteration, so the user knows it is working.

#

[2021-11-02 19:30] mayer79 commented on #21521
@simonandras : That would definitively be worth a thought!

[2021-11-02 19:47] simonandras commented on #21407
I'll be working on `linear_model/tests/test_quantile.py::test_asymmetric_error`. All the three different quantiles are slow (`[0.2, 0.5, 0.8]`).

[2021-11-03 01:11] mintu07ruet commented on #4757
DouglasPatton@ I am trying use your function regressor_stratified_cv, Could you please explain me what is the group count=10? Thanks in Advance!

[2021-11-03 03:14] hermidalc commented on #7722
I believe this has been fixed and works since scikit-learn 0.22 (at least in my tests)?

[2021-11-03 03:14] thomasjpfan commented on #21516
I am okay with considering this a non issue for now and change it if it becomes a problem.

As for the whats new order, we can create a validator from `maint_tools/sort_whats_new.py` that runs as part of the CI. It will still be able to sort locally, which is used by contributors. Downside is that it introduces another thing to run in PRs.

[2021-11-03 04:42] hermidalc commented on #7722
Also, isn't there a flaw in the OP's post? Because you are grid searching on all the data so the tuned hyperparameters and refitted model have a biased performance score because it's "seen" all the data and selected the best hyperparameters for all the data. This of course is always going to do better than randomly permuted label data even if the permutations are using the same refitted model? Jus

[2021-11-03 06:43] jeertmans commented on #21537
Hello @avivfaraj , have you tried to set the verbose flag to a nonzero value?
It might give you what your are looking for.

[2021-11-03 08:26] xiangpeng2008 commented on #19137
`pip3 install -U --no-use-pep517 scikit-learn` doesn't work for me, but `python -m pip install --no-use-pep517 scikit-learn"==1.0.0"` works

[2021-11-03 10:12] glemaitre commented on #21537
As mentioned by @jeertmans `verbose` provides some info already. However, we will not add more printing information and instead lean towards a logging mechanism. So this issue is kind of a duplicate of https://github.com/scikit-learn/scikit-learn/issues/17439

[2021-11-03 10:12] #21537 closed

[2021-11-03 10:30] glemaitre commented on #21532
This is expected behaviour. `scikit-learn` accepts `DataFrame` and use the column indices only in the `ColumnTransformer`.

Elsewhere, any computation in the estimator will involve some numerical operation that is most of the time should be done with NumPy to be efficient and require to deal with NumPy arrays. Therefore, most of the time we convert any type of array to a NumPy array. Sometimes, we

[2021-11-03 10:30] #21532 closed

[2021-11-03 10:48] rspreafico-absci commented on #17639
Seems to me that the original definition of NDCG just didn't take account properly for negative values, as they were likely not expected in the foreseen use cases (e.g. ranking web page search results). As a result, there is no perfect way to handle those. Rejecting negative `y_true` values seems at odds with the absence of a specific provision forbidding negative values. Accepting negative values

[2021-11-03 11:56] lorentzenchr commented on #19148
BTW, interaction constraints for HGBT are listed on the priorities for 2021 from the Technical Committee, point 3 in https://scikit-learn.fondation-inria.fr/technical-committee-november-5-2020-fr/.

[2021-11-03 12:16] DouglasPatton commented on #4757
I am happy to help, @mintu07ruet. Groupcount determines how many bins the data is split into for stratification. more bins means its less likely that high and low extreme values are missing from a resulting fold, but too many bins and there are fewer existing combinations of observations, so bins may not have enough observations for all folds.

if you look at the last line in the __init__ function

[2021-11-03 12:18] DouglasPatton commented on #4757
@JulianKlug, thank you for sharing the perfect reference!
Here are a couple more that are at least somewhat relevant:
May, R.J., Maier, H.R. and Dandy, G.C., 2010. Data splitting for artificial neural networks using SOM-based stratified sampling. Neural Networks, 23(2), pp.283-294.
Colmenares, G.L. and Perez, R., 1998, April. A data reduction method to train, test, and validate neural networks. In

[2021-11-03 12:42] ogrisel commented on #21536
Thanks for your contribution. However this method does not meet the citation criterion for inclusion in scikit-learn:

https://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms

I would therefore recommend to build this method as an independent package with a scikit-learn compatible API.

[2021-11-03 12:54] mehryaragha commented on #5115
I tried various ways (including the ones suggested above), none of which worked for me.
In the end, normalising the data prior to tuning resolved it:

`from sklearn.preprocessing import StandardScaler`
`scaler = StandardScaler()`
`x_train_norm = scaler.fit_transform(x_train)`

and then:

`svc = svm.SVC()`
`clf = GridSearchCV(...)`
`clf.fit(x_train_norm, y_train)`

Just a couple of things to mentio

[2021-11-03 13:15] jasonyz-ucb commented on #21536
Thanks for the information, (should have read the docs XD). What about [this one](https://ieeexplore.ieee.org/abstract/document/5685567)? I was hesitating between these two since they are rather similar, but the one I implemented was newer. However this one (MDNMF) has >300 citations

[2021-11-03 13:24] vl2376 commented on #21532
@glemaitre thanks for the answer ; makes sense indeed

[2021-11-03 15:01] mintu07ruet commented on #4757
@DouglasPatton ,

Thank you for the explanation it makes sense to me. I have tested your function, it is perfectly working for me. I have two follow up questions to you.
1. is this function organizing y  value in ascending order before making group? For instance, if I say group count=10, does it mean in first group I have lowest 10% y value or it is random?
2.  is this function working as shuffle

[2021-11-03 16:04] #21380 closed

[2021-11-03 17:58] hermidalc opened #21543 "permutation_test_score doesn't shuffle labels as expected when there are label groups"
### Describe the bug

I believe there is a bug or design expectation misunderstanding with `permutation_test_score` label shuffle function code. Maybe there is a use case for only shuffling within groups, but to me the default use case should be to shuffle all the samples while ensuring all samples within a group have the same shuffled label. This would be the equivalent behavior as if no groups e

[2021-11-03 18:25] DouglasPatton commented on #4757
1. yes,  y will be grouped so that each bin  has consecutive observations spanning the same length along a number line, with all bins collectively covering the range of y (strategy="uniform") or so that each bin has observations spanning the same length along the cumulative probability density of y (strategy="quantile").
You can read more about  how the grouping algorithm works [here](https://scik

[2021-11-03 18:55] mintu07ruet commented on #4757
DouglasPatton@ Thank you so much for the explanation. I believe that I am now pretty clear about your functions! Appreciate for explaining all of these to me.  Thanks Again!

[2021-11-03 19:45] glemaitre commented on #11562
The warnings were removed when the examples have been improved.

[2021-11-03 19:45] #11562 closed

[2021-11-03 20:36] romulomadu opened #21545 "MultipleOutput - Inconsistency between `partial_fit` and `fit` methods"
### Describe the bug

There is an inconsistency when we look close to both `partial_fit` and `fit` methods in `_MultiOutputEstimator` class:

In `partial_fit` the condition `first_time` is checked (PS: it is checked twice without need, btw), the motivation on this check is to detect if the MultipleOutput (MO) model was already fitted. If it is the case, a new call of `partial_fit` would iterate ov

[2021-11-03 21:48] franslarsson commented on #20558
@hwhap Sorry for late reply. I started but never got the time to finish the benchmarks. Please go ahead.

[2021-11-03 23:26] kkatottn commented on #21350
Hi, I'm working on `sklearn.base.clone`

[2021-11-04 00:05] thomasjpfan commented on #21545
I think this is expected behavior. The scikit-learn API for `fit` resets the estimator to the state provided by `__init__` and wipe out any attributes. This behavior is stated in the [glossary for fit](https://scikit-learn.org/stable/glossary.html#term-fit):

In this case `MultiOutputRegressor.fit` resets the estimator to using the parameter from `__init__`, specifically `DecisionTreeRegressor(max

[2021-11-04 00:18] romulomadu commented on #21545
Thanks, It make sense @thomasjpfan , actually, I was trying a way to tune the hyperparemeters for each estimator accessing `estimators_` but the things gone weird. Still figuring out how to solve this in an efficient way, below is my first try. This `fit` behavior is killing me.

[code]

[2021-11-04 02:08] eduamf commented on #10411
I have the same error forcing dtype to float16 (memory constraint using n-gram_range = (1,2) ).

[2021-11-04 02:35] thomasjpfan commented on #10411
We use a scipy sparse matrix as the output of `TfidfVectorizer.transform`, but the sparse matrix format does not support `np.float16` as a data dtype: https://github.com/scipy/scipy/issues/7408

The best work around for now is to use `np.float32` which is supported by scipy sparse matrices.

[2021-11-04 03:36] MrinalTyagi commented on #21350
Hi. I'm working on `sklearn.metrics._plot.roc_curve.plot_roc_curve`

[2021-11-04 05:35] boris-shabash opened #21548 "KMeans should support precomputed distance inputs like KNN"
### Describe the workflow you want to enable

Say I'm trying to cluster pieces of text (RNA sequences, for example), and I'd like to do so by a measure of distance that isn't in SKLearn, I'd like to be able to provide a precomputed `(n_samples, n_samples)` sized matrix of distances and have the KMeans algorithm perform clustering on it much like KNN algorithms are able to accept similar matrices f

[2021-11-04 09:20] #12492 closed

[2021-11-04 11:17] lesteve opened #21553 "Cross endianness and bitness pickle issues with KNeighborsClassifier / KDTree"
Reported in https://github.com/scikit-learn/scikit-learn/issues/21237.

Quite likely solving the issue is rather similar to https://github.com/scikit-learn/scikit-learn/pull/21552 and https://github.com/scikit-learn/scikit-learn/pull/21539.

[2021-11-04 12:39] lesteve commented on #21516
Another data point I just bumped into, I thought that merge=union would avoid conflicts in the github web UI but apparently not.

github needs to do something to have the behaviour I want if I understand correctly:
 https://github.com/isaacs/github/issues/487

More context: I just had a conflict in `doc/whats_new/v1.1.rst` in one of my PR, and I still had to pull upstream master locally (then merg

[2021-11-04 12:45] chritter commented on #21406
@thomasjpfan I would suggest a modification of the input validation test when testing `set_params` due to the  limitation of `inspect.signature` which returns `kwargs` as a parameter if defined as `**kwargs` in the function signature ( applicable example below). To address this, I would suggest to call `get_params()` to retrieve the arguments and pass those to `set_params(**new_params)`.

[code]

[2021-11-04 12:59] rth commented on #21553
I think it would be good to run your test from https://github.com/scikit-learn/scikit-learn/pull/21539 on all estimators to see which one fails. Though I think tree based or neighbors tree based estimators are likely the most frequent issue.

[2021-11-04 13:39] #21359 closed

[2021-11-04 13:50] rth commented on #21548
I have hard time seeing how having a pre-computed distance matrix (only) could be used to,
 - assign samples to nearest centroid
 - compute new centroids

in k-means. I would say it's not possible but maybe I'm missing something cc @jeremiedbb

For example, contrary to k-means, a precomputed distance matrix would be useful for K-medoids (see e.g. sklearn_extra.cluster.KMedoids) but then you don't

[2021-11-04 14:06] thomasjpfan commented on #21516
**Data point**: I recently ran into this when reviewing a PR with a merge conflict on `v1.1.rst`. When fixing up the PR, I had to manually confirm that the changelog item was moved into `doc/whats_new/v1.0.rst` before I felt comfortable removing the entry from `v1.1.rst`.

[2021-11-04 14:09] jeremiedbb commented on #21548
In kmeans we don't need distances between X and itself, but between X and the cluster centers. Since the centers change at each iteration, we need to recompute these distances each time.

Moreover, KMeans can't handle non-euclidean metric efficiently. The centers are updated at each iteration to be at the point that minimizes the sum of distances to its assigned samples. For the euclidean metrics

[2021-11-04 14:11] jeremiedbb commented on #21548
Closing since it's not relevant for KMeans. Feel free to re-open if you disagree

[2021-11-04 14:11] #21548 closed

[2021-11-04 14:45] glemaitre commented on #19294
FWIW, the recent paper of @glouppe (https://arxiv.org/abs/2111.02218) uses the node contributions to show the equivalence between Shapley values and this local MDI using totally randomized trees.

[2021-11-04 15:10] lobpcg opened #21555 "spectral_embedding.py initial eigenvector approximations for LOBPCG and AMG solvers should be randn not rand"
### Describe the bug

As mentioned in https://github.com/scikit-learn/scikit-learn/pull/21534#issuecomment-959884852 the function `sklearn/manifold/_spectral_embedding.py` uses in 2 places
[code]
but X better be Gaussian, not uniform on the interval [0, 1]; see examples https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.lobpcg.html

While it is difficult to find  specific fai

[2021-11-04 16:27] lesteve commented on #21516
Just to make sure I follow you, you would have preferred to get an explicit conflict so that you know you have to pay attention, rather than merge=union solving the conflict and realising only later (e.g. in the github diff) that a changelog entry was added although it was not related to your PR at all.

It feels like in both cases you need to manually confirm that the entry has been moved to v1.0

[2021-11-04 16:49] lesteve commented on #21553
I have this in mind eventually, but focussing getting #21552 first, we'll see how this pans out.

It seems this kind of problems happens when `__setstate__`, `__getstate__` or `__cinit__` are implemented in cython. A quick pattern seems to confirm what you are saying:

[code]

[2021-11-04 17:52] thomasjpfan commented on #21516
Yup, this was exactly what I was thinking about. Workflow wise, I am adapting to `merge=union` by running:

[code]

after a merge to check if I need to make adjustments.

[2021-11-04 18:15] TomDLT commented on #21305
I remember Mark Schmidt saying that SAG is particularly fast with importance sampling based on the Lipschitz constant of each sample. In [his implementation](https://github.com/jamestklo/SAG/blob/master/C/SAG_LipschitzLS_logistic.c), he uses a binary tree to perform the importance sampling. His code is rather complicated by the fact that he updates the Lipschitz constant on the fly with a line sea

[2021-11-04 18:17] pedugnat opened #21556 "mean_absolute_percentage_error error in the documentation"
### Issue description

The documentation of `sklearn.metrics.mean_absolute_percentage_error` (MAPE) is incorrect. It says that "Note here that we do not represent the output as a percentage in range [0, 100]. Instead, we represent it in range [0, 1/eps].", which is not the case, as the following code shows.

The reason why the MAPE is not within the given range is not that `y_true` can be very lit

[2021-11-04 18:17] MarcoTerzulli commented on #19137
Unfortunately, it's not working for me. I'm on Python 3.9 and M1 Pro. I'm still getting the same error.

I hope there's a way for installing it without needing to use Conda.

[2021-11-04 18:20] danieltomasz commented on #19137
Do you have the latest pip?

[2021-11-04 18:24] MarcoTerzulli commented on #19137
Yes, just checked

[2021-11-04 18:30] MarcoTerzulli commented on #19137
I finally managed to install it. I tried this morning, but probably I messed something.
_Python 3.9, latest version of pip, and M1 Pro_

[2021-11-04 19:09] RNarayan73 commented on #8710
Hello,
This thread helps clarify the use of CalibratedClassifierCV. Thanks.
Pipeline = ([
    ('enc', encoder),
    ('clf', CalibratedClassifierCV(base_estimator, ...),
])

However, limiting the method values to 'isotonic' and 'sigmoid' mean that when wrapping GridSearchCV or for that matter any SearchCV including from external libraries (like BayesSearchCV, OptunaSearchCV etc.) around the Calibra

[2021-11-04 21:45] hermidalc commented on #21543
Here's an initial implementation to replace `permutation_test_score` [_shuffle](https://github.com/scikit-learn/scikit-learn/blob/1.0.X/sklearn/model_selection/_validation.py#L1334-L1343 ) that does the shuffling the way I expected label groups to constrain the behavior, in the same way label groups constrain behavior in CV implementations.

[code]

Output below. You will notice there's always sti

[2021-11-04 23:23] jmhessel opened #21559 "float16 normalization problem with numpy >= 1.21"
### Describe the bug

Hi!

I think sklearn.preprocessing.normalize doesn't work properly on float16 for the latest versions of numpy. I am not sure if this is a bug with numpy or sklearn, but figured folks might want to know. I think for dense matrices, `np.einsum` is used to compute norms, so the instability might be there. Regardless...

### Steps/Code to Reproduce

[code]

### Expected Results

[2021-11-05 08:45] ogrisel commented on #21559
It's bad that we did not have a test to catch this regression earlier. I confirm I can reproduce the exact same results on macos/arm64, so this is not platform specific.

It seems that with numpy 1.21.2 `sklearn.preprocessing.normalize(test)` returns `test` without any modification...

[2021-11-05 08:48] ogrisel commented on #21559
On numpy 1.21.2:

[code]

while on previous numpy:

[code]

[2021-11-05 08:59] ogrisel commented on #21559
I found a minimal reproducer, I will report it upstream.

[2021-11-05 09:00] ogrisel commented on #21559
This is seems to have already been reported as: https://github.com/numpy/numpy/issues/20305.

[2021-11-05 11:13] #21112 closed

[2021-11-05 15:00] thomasjpfan commented on #21556
I agree the documentation for `mean_absolute_percentage_error` can be improved. I would be happy to review a PR with your proposed fix.

[2021-11-05 15:30] #21321 closed

[2021-11-05 15:37] ogrisel commented on #21536
I am not familiar with this paper either. Could you explain what are the practical benefits for those 2 methods? Do you use those methods to solve a particular problem? In your experience what kind of problems can be effectively be tackled using those that could not be achieved using what's already present in scikit-learn?

Adding more methods to scikit-learn adds to the maintenance cost of the li

[2021-11-05 15:40] ogrisel commented on #21536
Also note, that their is on-going work for more scalable NMF happening here: https://github.com/scikit-learn/scikit-learn/pull/16948

[2021-11-05 16:30] jasonyz-ucb commented on #21536
Certainly, thanks for the questions.

The general theme here is to add discriminative feature to NMF, i.e. incorporating (side) labels into the factorization process. Taking dimensionality reduction as an example, it is often the case where it is hard to determine what lower dimensions will be achieved by NMF, while adding side labels, such as gender to a face recognition dataset, disease to a gen

[2021-11-05 16:51] jmhessel commented on #21559
Thanks @ogrisel ! Should I close this issue out because it's numpy? or keep it open ?

[2021-11-05 17:15] #8781 closed

[2021-11-05 18:23] kkatottn commented on #21350
Hello, I'm working on `sklearn.utils.check_pandas_support`

[2021-11-05 18:52] mdbecker commented on #12052
For anyone else that runs into this same issue before SLEP006 is finished, I've uploaded a very simple fix based on version 0.24.1 of sklearn [here](https://gist.github.com/mdbecker/5c236c820faa1b3b324cdb184f18a59e). This works the same was a `GridSearchCV` and fails gracefully if the cv passed in does not support the `groups` parameter (which may not be desirable depending on your usecase). @DanL

[2021-11-05 20:29] MaggieChege commented on #21406
Working on `KernelPCA`

[2021-11-05 20:29] MaggieChege commented on #21406
Working on `KernelPCA`

[2021-11-05 21:20] meesatsquare opened #21568 "top_k_accuracy_score fails when y_true contains labels not in labels"
### Describe the bug

If, during train/test split, one of the classes in a multi-label problem is omitted from the training set but *is* included in the testing set, "top_k_accuracy_score" fails instead of just returning 0 for that particularly score.

### Steps/Code to Reproduce

[code]

### Expected Results

"top_k_accuracy_score" effectively functions by looking at the top k probabilities by ra

[2021-11-05 22:01] rth commented on #21568
Thanks for the report @meesatsquare ! I think it's an instance of https://github.com/scikit-learn/scikit-learn/issues/21250 and there is a proposed documentation improvement in https://github.com/scikit-learn/scikit-learn/pull/21255

The proposed solutions sounds reasonable to me, but I have not looked in the code how managable it would be to implement. Would you be interested in investigating?

[2021-11-06 01:07] genvalen commented on #20724
Working on `AdaBoostRegressor`

[2021-11-06 09:47] dayyass opened #21570 "add graph-based clustering"
### Describe the workflow you want to enable

# Graph-Based Clustering ([original repo link](https://github.com/dayyass/graph-based-clustering))

**Graph-Based Clustering** using connected components and minimum spanning trees.
Both suggested clustering methods are **transductive** - meaning they are not designed to be applied to new, unseen data.

### ConnectedComponentsClustering

This method co

[2021-11-06 11:44] MrinalTyagi commented on #21406
Hi. I would like to work in `SGDOneClassSVM`

[2021-11-06 12:30] marenwestermann commented on #21406
Working on `FeatureHasher`

[2021-11-06 14:35] pedugnat opened #21575 "Inconsistent use of keyword-only arguments in mean_absolute_percentage_error"
### Describe the issue linked to the documentation

Keyword-only arguments are not used in the function signature of `sklearn.metrics.mean_absolute_percentage_error` for arguments `sample_weight` and `multioutput` (see https://github.com/scikit-learn/scikit-learn/blob/0d378913be6d7e485b792ea36e9268be31ed52d0/sklearn/metrics/_regression.py#L286:L288), whereas they are in other metrics functions (su

[2021-11-06 15:09] Karlish-OMG opened #21577 "new bug in V1.0 new added attribute 'feature_names_in'"
### Describe the bug

**If you want to use the new attribute  'feature_names_in'** of RandomForestClassifier  which is added in scikit-learn V1.0, you will need use **x_train to fit the model first and its datatype is dataframe** (for you want to use the new attribute  'feature_names_in' and only the dataframe can  contain  feature names in the heads conveniently). but when I fit the model, the wa

[2021-11-06 17:14] simonandras commented on #21521
@mayer79 do you work on this or have a plan to work on this later?

[2021-11-06 17:42] mayer79 commented on #21521
@simonandras : I have not started yet. Actually I would be extremely grateful if someone could jump in here. Would you be willing to give it a try? That would be awesome.

[2021-11-06 17:51] simonandras commented on #21521
Sure, i can take it.

[2021-11-06 20:21] thomasjpfan commented on #21577
Thank you for opening this issue! The warning you get when fitting on a dataframe is a bug and is being worked on at https://github.com/scikit-learn/scikit-learn/pull/21578.

`feature_names_in_` is an UX improvement that has estimators remember their input feature names, which is used heavy in `get_feature_names_out`. You can find out more about this feature in the [release highlights](https://sci

[2021-11-06 21:32] Karlish-OMG commented on #21577
Thank you for your attention for my first post!!

[2021-11-06 23:48] lorentzenchr commented on #21521
The arguments for this functionality make total sense to me. The API, however, is trickier and there maybe implementation constraints.
What do the other @scikit-learn/core-devs think?

[2021-11-07 06:56] VibhutiBansal-11 commented on #21350
Hi, I am working on `sklearn.metrics._plot.precision_recall_curve.plot_precision_recall_curve`

[2021-11-07 06:58] VibhutiBansal-11 commented on #21406
Hi, I am working on `GridSearchCV` .

[2021-11-07 11:11] perrital commented on #21483
@glemaitre I think you have missed the point here.  the thing is that for StratifiedShuffleSplit to work correctly the index of the DF must be ordered (you have skipped the shuffle in your code)
**from sklearn.utils import shuffle
housing = shuffle(housing)**
when doing the shuffle the index get mixed and the stratification does not work as expected.
In order to overcome you need to reset index af

[2021-11-07 11:32] glemaitre commented on #21575
Yep, this is an inconsistency. I think that we can consider it as a bug and avoid a deprecation.

[2021-11-07 11:38] glemaitre commented on #21559
We can keep it open just to track the regression.

[2021-11-07 13:21] AhmedIbrahim336 opened #21587 "Calculate Sensitive and Specificity from the confusion matrix"
### Describe the workflow you want to enable

Currently, there is no way to derive the *Sensitivity* or the **Specificity** from the confusions matrics
The only way to be calculated is to do it yourself.  this can be simple if you are doing a simple binary classification like this one on the image.
<img width="896" alt="Screen Shot 2021-11-07 at 3 08 21 PM" src="https://user-images.githubuserconte

[2021-11-07 16:18] glemaitre opened #21595 "Conflict between key-values and build-in method name in `Bunch`"
### Describe the bug

This is unfortunate but there is a clash between the `values` key and the `values` build-in method in the `Bunch` returned by `partial_dependence`.

### Steps/Code to Reproduce

[code]

### Expected Results

We cannot access the values with `results.values`

### Actual Results

We might expect to access the values with `results.values`

### Versions

[code]

[2021-11-07 16:20] glemaitre commented on #21587
Duplicate of the discussion in https://github.com/scikit-learn/scikit-learn/issues/5516
PR is available here: https://github.com/scikit-learn/scikit-learn/pull/19556 and requires some reviews.

We are not going to implement the sensitivity because this would be an alias of recall.

[2021-11-07 16:20] #21587 closed

[2021-11-07 16:59] glemaitre commented on #21521
I recall to have made some maintenance there and I add the following:

[code]

So I assume that I would still agree with my old self in this regard.
I think that we need to review how to handle metrics that might need some parameters (computing averages in multiclass) and stuff like that.

[2021-11-07 17:27] glemaitre commented on #21570
Could you provide the references linked to these methods and emphasize what are the benefits of using these clustering approaches compared to the available ones currently implemented in scikit-learn?

[2021-11-07 20:45] sveneschlbeck commented on #21138
@adrinjalali Since nothing seems to happen, I would try it. I am quite new to scikit-learn though...could you tell me which file the new example should be in and what function(s) should be used in it?

[2021-11-07 22:46] hermidalc commented on #21543
The original design intent must’ve been to support the use case where samples in the same group do not all have the same class label, therefore in this case I think the only thing you can do is shuffle within groups.

But I believe this is not the most common and default use case for label groups when it comes to CV and model selection? Not sure, either way the current implementation doesn’t suppo

[2021-11-08 09:37] glemaitre commented on #21483
scikit-learn does use the index of dataframe and everything is done by position.

I took my code above and shuffle the data and get the following class ratio for the `StratifiedShuffleSplit`:

[code]

It seems still to work as expected

[2021-11-08 10:47] ciberger commented on #15263
Solution for second-order interaction and categorical features with strictly two categories.

[code]

tested on scikit-learn 0.24

[2021-11-08 11:00] mohitrbhardwaj commented on #20488
Can somebody please review my PR?
I have followed all the instructions mentioned in this thread provided by @TomDLT and official contribution guidelines of scikit-learn.

[2021-11-08 13:55] Karan-S-Mittal commented on #19137
thanks this works for me. and using miniforge is also quite similar.
I had some libraries which were depended on scipy so installing it this way, it makes other pip installs very easy on m1.

[2021-11-08 14:43] #13056 closed

[2021-11-08 15:14] hermidalc commented on #21543
Here's an initial implementation to replace `permutation_test_score` [_shuffle](https://github.com/scikit-learn/scikit-learn/blob/1.0.X/sklearn/model_selection/_validation.py#L1334-L1343 ) that does the shuffling the way I expected label groups to constrain the behavior, in the same way label groups constrain behavior in CV implementations, while still supporting the previous behavior.

[code]

Ou

[2021-11-08 15:28] adrinjalali commented on #21521
we don't need to pass a scorer, we can simple pass a `partial(fbeta_score, beta=.7)`

[2021-11-08 15:30] adrinjalali commented on #21138
You'd need to add a whole new example @sveneschlbeck , I wouldn't say it's the easiest issue to work on. You need to familiarize yourself with the structure of the examples under the `examples/` folder, and add a new one in the appropriate place there.

[2021-11-08 15:31] glemaitre commented on #21521
True

[2021-11-08 16:12] adrinjalali opened #21598 "Accelerate slow examples"
These examples take quite a long time to run, and they make our documentation CI fail quite frequently due to timeout. It'd be nice to speed the up a little bit.

To contributors: if you want to work on an example, first have a look at the example, and if you think you're comfortable working on it and have found a potential way to speed-up execution time while preserving the educational message of

[2021-11-08 16:14] adrinjalali commented on #21598
@hhnnhh or @marenwestermann may be interested in this.

[2021-11-08 16:31] ArturoAmorQ opened #21599 "`_check_feature_names` raises UserWarning when accesing bagged estimators"
### Describe the bug

Using the estimators inside a `BaggingRegressor` to predict data raises a

coming from `_check_feature_names`, even if the `BaggingRegressor` or its base estimator (in this case `DecisionTreeRegressor`) are able to take the feature names into account while fitting.

### Steps/Code to Reproduce

[code]

[code]

[code]

[code]

### Expected Results

No warning should be thrown

[2021-11-08 16:40] lorentzenchr commented on #21521
How do we then support `sample_weight` if we pass a callable to `oob_score`? IIUC, this would be possible with the help of SLEP006, in the case when we pass a scorer object.
If this is correct, I'm fine with this solution.

[2021-11-08 16:52] lorentzenchr commented on #15263
@ciberger This is a bit more concise as the [code snippet before](https://github.com/scikit-learn/scikit-learn/issues/15263#issuecomment-542640793), but has the same drawback as to create columns of zeros which I'd like to avoid.

[2021-11-08 17:41] adrinjalali commented on #21521
yes, with a normal callable it'd be tricky, but in another project (fairlearn), I'm also thinking of callables (normal scoring funcs) which also have `get_metadata_request`. It'd be something like `ConsumerCallable(score_func).score_requests(sample_weight=True)` which would be passed as a normal score func, but it supports metadata routing and stuff.

[2021-11-08 18:54] sveneschlbeck commented on #21138
@adrinjalali Thanks for the explanation. If I get you correctly, the example should be an example of recommendations in general or just the ranking metrices?

[2021-11-08 21:26] sveneschlbeck commented on #21138
@adrinjalali Added a starter example (I myself used some time back) about a simple content-based movie rec engine using scikit-learn in the new dir ``examples/recommendation`` alongside a sample dataset.
The example also uses cosine similarity as a metric to rank the similarity of movies...

[2021-11-08 22:10] rth commented on #21138
As far as I know ranking is not necessarily a primary evaluation metric in recommendation (see e.g. [lightfm.evaluation](https://making.lyst.com/lightfm/docs/lightfm.evaluation.html)): one cares more about how many relevant predictions are made in the first N, instead of whether it's first or third. Though I agree that it would still be be good to have a recommendation example, but maybe more for

[2021-11-08 22:13] sveneschlbeck commented on #21138
@rth I agree...since having a Recommendation Engine example seemed to be in the interest of multiple people, I got to that first. The other points are also valid but (as you mentioned) not necessarily well-combineable with rec engines

[2021-11-09 04:06] arose13 opened #21604 "`LabelEncoder` uses `y`. Therefore breaking transformers."
### Describe the bug

If you try to pipeline a the `LabelEncoder` in like in the example below it will break because `LabelEncoder` uses `fit_transform(y)` rather than `fit_transform(X, y=None)`.

[code]

It's a trivial example to fix and I can do it myself if you'd like?

### Steps/Code to Reproduce

[code]

### Expected Results

No error should error (obviously)

### Actual Results

[code]

###

[2021-11-09 10:07] adrinjalali commented on #21604
You're not supposed to use `LabelEncoder` on `X`, as the [docs](https://scikit-learn.org/dev/modules/generated/sklearn.preprocessing.LabelEncoder.html#sklearn.preprocessing.LabelEncoder) say clearly:

You can use `OrdinalEncoder` or `OneHotEncoder` instead, depending on how you want to encode the input.

Closing as it's not an issue.

[2021-11-09 10:07] #21604 closed

[2021-11-09 10:22] adrinjalali commented on #21599
I'm not sure if this is a bug. `BaggingEstimator` supports sampling rows and columns for each sub estimator, which means passing the original data can simply not work, if the sub estimators are trained on a subset of the features.

One way of writing your last line of code would be:

[code]

Curious as what other folks think, cc @scikit-learn/core-devs

[2021-11-09 10:30] adrinjalali commented on #21595
I really think we should rename `values` here to something else.

[2021-11-09 10:47] adrinjalali commented on #21570
It also looks to me as we could introduce this as an improvement to the existing ones.

[2021-11-09 10:57] glemaitre commented on #21599
This is a tricky one.

In the context where we use this pattern (the scikit-learn MOOC), it makes sense just for educational purposes.
However, I am not sure that this would be the case otherwise. Maybe introspection tools but I would think that they would be dealing with arrays that would be validated (and thus NumPy arrays).

I would probably use a `_safe_indexing` there (this tool should not be

[2021-11-09 11:05] adrinjalali commented on #21599
You can always make it so :D

[2021-11-09 12:28] cakiki commented on #21598
Hi @adrinjalali. Could you elaborate on what "speeding up" entails? Is this about choosing a more reasonable setup of the parameters, or a more substantial refactoring of the examples?

[2021-11-09 12:52] mdruiter commented on #10036
I think he meant GMMs indeed.
Maybe `cluster_centers_` can be an alias for `means_`?

[2021-11-09 14:57] faizanhemotra commented on #6777
I totally forgot about this bug. I faced this issue when doing one of my projects.

This seems to happen because of document lengths.
Try the following dataset to recreate the bug: https://www.kaggle.com/therohk/india-headlines-news-dataset

[2021-11-09 15:33] adrinjalali commented on #21598
@cakiki ideally you'd be able to speed them up by just changing some parameters or reducing the size of the data, while being able to present the same outcome, but changing the examples a bit is also not necessarily out of scope if it's required.

[2021-11-09 16:14] adrinjalali commented on #21598
For instance, you can switch from the digits dataset to the iris dataset in the first and slowest example, and speed it up by almost 100 fold. The question is then if that still represents the benefit of `RandomizedSearchCV`. Or you could try to use `HistGradientBoostingClassifier` instead of `SGDClassifier` and see if it works much faster. Then open a PR and through discussions we'll figure out w

[2021-11-09 17:05] sply88 commented on #21598
I will work on ../examples/ensemble/plot_gradient_boosting_early_stopping.py

[2021-11-09 19:33] sveneschlbeck commented on #21598
Would work on the ``../examples/linear_model/plot_sgd_comparison.py``

[2021-11-09 20:18] adam2392 commented on #20819
Hi @thomasjpfan just wanted to check in. Or would OH be a better time to discuss?

[2021-11-09 20:28] sply88 commented on #21598
Will look at ../examples/ensemble/plot_gradient_boosting_regularization.py next.

[2021-11-09 21:30] sply88 commented on #21598
Will look at ../examples/model_selection/plot_successive_halving_iterations.py next

[2021-11-09 22:23] TomDLT opened #21615 "../examples/ensemble/plot_gradient_boosting_quantile.py: 60.39 sec 0.0 MB"

[2021-11-09 22:23] #21615 closed

[2021-11-10 01:29] jnothman commented on #19045
I'm thinking that the right way to do this without storing the grid on the estimator itself (but rather storing a mapping from estimator to its local search grid) is with something like a GridFactory:
[code]

GridSearchCV might be extended to do something like:
[code]
to handle the case where `param_grid` is a `GridFactory`, which when called (or we can give it a method name) returns the grid for

[2021-11-10 02:43] jnothman commented on #19045
Alternative to
[code]
would be
[code]

[2021-11-10 02:57] chritter opened #21616 "SimpleImputer skipped values with feature names"
Hello,

When using `transform()` with `SimpleImputer` and imputation happens with  nan values a warning is being raised and columns/features corresponding to the nan values are removed. This warning message however shows only the indices of the columns which will be removed. When the user specifies column features it would be better to show the actual feature names instead of the indices for clari

[2021-11-10 02:58] chritter commented on #21616
I will work on this.

[2021-11-10 03:26] johgreen commented on #21598
I'll try `../examples/linear_model/plot_sgd_early_stopping.py`

[2021-11-10 05:41] genvalen commented on #20724
Working on `ensemble/_gb.py`

[2021-11-10 10:12] Iglesys347 commented on #21598
I'll work on `../examples/cluster/plot_cluster_comparison.py`

[2021-11-10 10:57] ArturoAmorQ commented on #21599
On a related subject: `_check_feature_names` is raising a false positive when fitting a GBDT and `n_iter_no_change` is not None. The following code

[code]

throws:

/home/arturoamor/miniforge3/envs/scikit-learn-course/lib/python3.9/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but GradientBoostingRegressor was fitted with feature names.

My guess is that the

[2021-11-10 11:00] adrinjalali commented on #21599
@ArturoAmorQ please open a separate issue for the `GradientBoostingRegressor`, seems like a separate and legit issue to me.

[2021-11-10 11:00] adrinjalali commented on #21599
Pinging @GaelVaroquaux and @thomasjpfan

[2021-11-10 11:04] ArturoAmorQ opened #21618 "`_check_feature_names` raising a false positive when fitting a GBDT and `n_iter_no_change` is not None"
`_check_feature_names` is raising a false positive when fitting a GBDT and `n_iter_no_change` is not None. The following code

[code]

throws:

/home/arturoamor/miniforge3/envs/scikit-learn-course/lib/python3.9/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but GradientBoostingRegressor was fitted with feature names.

My guess is that the problem is the call o

[2021-11-10 11:06] ArturoAmorQ commented on #21599
Alright, I just created #21618. Thanks!

[2021-11-10 11:34] sveneschlbeck commented on #21598
Will work on ``../examples/linear_model/plot_sparse_logistic_regression_20newsgroups.py`` next

[2021-11-10 12:16] sveneschlbeck commented on #21598
Will work on ``../examples/linear_model/plot_tweedie_regression_insurance_claims.py`` next

[2021-11-10 13:18] adrinjalali commented on #21618
ping @thomasjpfan @glemaitre

[2021-11-10 15:38] thomasjpfan commented on #21618
I updated https://github.com/scikit-learn/scikit-learn/pull/21578 to cover this bug as well.

[2021-11-10 16:27] mkoz92 commented on #7834
Hey, I am trying to understand the whole discussion, but not sure I am getting that, I think the discussion is that currently it behaves like on image below
![v1](https://user-images.githubusercontent.com/55715336/141152492-4c6779f6-8b84-4ae9-8704-d5594baa0e36.png)
:

while maybe the below would be better
![v2](https://user-images.githubusercontent.com/55715336/141152562-571c91e3-e370-461b-8ee2-69

[2021-11-10 17:56] sveneschlbeck commented on #21598
Now working on ``../examples/svm/plot_svm_scale_c.py``

[2021-11-10 18:03] paulmattheww commented on #12525
I don't want to throw a wrench in things, but this class worked fine so long as I used `ColumnTransformer`

https://towardsdatascience.com/extracting-plotting-feature-names-importance-from-scikit-learn-pipelines-eb5bfa6a31f4

[2021-11-10 18:32] sveneschlbeck commented on #21598
Am working on ``../examples/model_selection/plot_multi_metric_evaluation.py``

[2021-11-10 19:37] sveneschlbeck commented on #21598
Am working on ``../examples/model_selection/plot_learning_curve.py`` right now

[2021-11-10 22:07] #21556 closed

[2021-11-11 10:06] yuanx749 commented on #21598
I would like to work on `../examples/manifold/plot_compare_methods.py`

[2021-11-11 13:23] pedugnat commented on #21598
Will work on `../examples/ensemble/plot_gradient_boosting_categorical.py`

[2021-11-11 17:47] yuanx749 commented on #21598
Working on ../examples/manifold/plot_t_sne_perplexity.py

[2021-11-11 17:53] gautam-e commented on #12957
I think a Mixed / General Naive Bayes classifier that allows one to mix and match the already available sklearn implementations of Naive Bayes with categorical and continuous columns is a use case that has been unattended to. It has been asked several times on Stackoverflow etc. with mostly pretty unsatisfactory answers. I have already derived and written some code that does this but have never ma

[2021-11-11 18:22] sply88 commented on #21598
Will work on ../examples/model_selection/plot_randomized_search.py next

[2021-11-11 19:42] lawrence-vs commented on #17069
I strongly agree with you @douglas125. From my understanding of multiprocessing the `Grid/RandomSearch` parameter combinations are preformed in parallel according to the `n_jobs`  attribute. Using a  `temp_cache` folder as @douglas125 suggested would have been of great use in my case, _where I battel to finish simulations during a national power shortages..._

You can perphase follow my current so

[2021-11-11 20:48] sveneschlbeck commented on #21598
Working on ``../examples/model_selection/plot_validation_curve.py``

[2021-11-12 00:48] jnothman commented on #17069
So a big change approach would allow checkpointing and resuming during Scikit-learn fits in general.

A small change approach is:
* cache all models within grid search; or
* log all evaluation metrics as they are built and avoid running the fit if the results are already stored

[2021-11-12 04:29] vsocrates opened #21639 "Default Value for SimpleImputer with all missing values"
### Describe the workflow you want to enable

In the _Notes_ of the `SimpleImputer`, it says that:

It'd be nice to be able to set this to a default value in `transform` instead of dropping those columns if there is no valid summary statistic in `fit`.

I recognize that it may only be a couple of lines, but it seems useful to have the logic captured within the class instead of checking beforehand

[2021-11-12 10:30] ogrisel opened #21643 "Bad error region in examples on learning curves for fast models"
Depending on the speed of execution, one can sometimes observe the following plot rendering for the fast NB model (left) on [this example for learning curves](https://scikit-learn.org/dev/auto_examples/model_selection/plot_learning_curve.html).

![image](https://user-images.githubusercontent.com/89061/141450694-e84a9de9-e2da-4dd6-b6d5-3ae397eff4e5.png)

The way we compute the uncertainty region is

[2021-11-12 13:13] ogrisel commented on #21643
This kind of plots would need to estimate both horizontal and vertical error/variability bars.

[2021-11-12 15:02] #21575 closed

[2021-11-12 15:10] dpnichols opened #21644 "ElasticNetCV call with l1_ratio=0 produces warning incorrectly identifying alpha=0 as the issue"
Run the following:

[code]

This results in the warning:

[code]
System information:

[code]

[2021-11-12 18:05] sveneschlbeck commented on #21598
Working on ``../examples/neural_networks/plot_mnist_filters.py``

[2021-11-12 18:17] reshamas opened #21646 "add link to LinkedIn page to "Communications" section of main README.md"
### Describe the issue linked to the documentation

Add link to LI page for scikit-learn here:
https://github.com/scikit-learn/scikit-learn#readme

### Suggest a potential alternative/fix

_No response_

[2021-11-12 19:36] yuanx749 commented on #21598
I'm working on ../examples/neural_networks/plot_mlp_alpha.py

[2021-11-12 20:46] sveneschlbeck commented on #21598
Working on ``../examples/model_selection/plot_permutation_tests_for_classification.py``

[2021-11-12 22:33] #21286 closed

[2021-11-13 09:22] BrandonKMLee commented on #20773
Like Minds think alike, and I would like to note this as well https://github.com/DistrictDataLabs/yellowbrick/issues/1205

[2021-11-13 09:24] sveneschlbeck commented on #21598
Working on ``../examples/ensemble/plot_adaboost_multiclass.py``

[2021-11-13 20:10] sply88 commented on #21598
Will work on ../examples/linear_model/plot_poisson_regression_non_normal_loss

[2021-11-13 21:37] yuanx749 commented on #21598
Will work on  ../examples/preprocessing/plot_discretization_classification.py

[2021-11-13 22:00] matteosantama commented on #19137
Do the maintainers plan to backport M1 functionality to `sklearn<1.0.0`? In other words, should M1 users expect to only be able to use `sklearn` version `1.0.0` and later?

[2021-11-13 22:41] FPGAwesome commented on #21350
I'm working on `sklearn._config.get_config`

[2021-11-14 02:42] scikit-learn-bot opened #21657 "⚠️ CI failed on Linux_Nightly.pylatest_pip_scipy_dev ⚠️"
**CI Failed on [Linux_Nightly.pylatest_pip_scipy_dev](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=34999&view=logs&j=dfe99b15-50db-5d7b-b1e9-4105c42527cf)**
<details><summary>test_check_classifiers_multilabel_output_format_predict_proba</summary>

[code]
</details>

[2021-11-14 09:40] marenwestermann commented on #21598
Working on `../examples/ensemble/plot_gradient_boosting_quantile.py`

[2021-11-14 13:24] patel-zeel opened #21665 "Mean Standardized Log Loss (MSLL) for uncertainty aware regression models"
### Describe the workflow you want to enable

### Why MSLL?
Traditional metrics such as [`mean_squared_error`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html) or [`r2_score`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html#sklearn.metrics.r2_score) may not be able to correctly evaluate uncertainty aware models because they

[2021-11-14 16:38] marenwestermann commented on #21406
I'm working on `TheilSenRegressor` and `TweedieRegressor`.

[2021-11-14 18:26] NichtJens opened #21667 "Inconsistency in allowed argument shape for e.g. LassoLars and LassoLarsCV"
### Describe the bug

(Not sure if this should be considered a bug report or a feature request. I presume it is an oversight in the data validation, which somehow falls between the categories.)

`LassoLars.fit` accepts:

`LassoLarsCV.fit` however accepts only:

The same is true for several other `Estimator` vs. `EstimatorCV` pairs.

It would be great if `(n_samples, n_targets)` would be possible a

[2021-11-14 19:44] lorentzenchr opened #21668 "CI with boundscheck=False"
I really dislike segmentation faults! Unfortunately, there are many issues reporting them.
Findings in #21654, #21283 were easier with setting `boundscheck = True`.

**Proposition**
Set up one CI configuration that runs with `boundscheck = True` globally which should be easier now that #21512 is merged.

[2021-11-14 21:19] chritter commented on #21598
Working on `../examples/ensemble/plot_stack_predictors.py`

[2021-11-15 00:28] benben233 opened #21669 "Linear kernel disambiguation"
### Describe the issue linked to the documentation

In the documentation [6.8.2. Linear kernel](https://scikit-learn.org/stable/modules/metrics.html#linear-kernel)
It said their linear kernel is:
<img src="https://latex.codecogs.com/gif.latex?\inline&space;k(x,&space;y)&space;=&space;x^\top&space;y" title="k(x, y) = x^\top y" />
But the actual code is:
`safe_sparse_dot(X, Y.T, dense_output=dense_o

[2021-11-15 06:56] Iglesys347 commented on #21598
Working on `../examples/decomposition/plot_pca_vs_fa_model_selection.py`

[2021-11-15 07:12] patel-zeel commented on #21598
Working on `../examples/miscellaneous/plot_kernel_ridge_regression.py`

[2021-11-15 08:16] glemaitre commented on #21657
@ogrisel @thomasjpfan This is super cool (about the bot, not the failure)

[2021-11-15 08:46] glemaitre commented on #21639
So instead of dropping the columns, you would like to have some columns with constant values? If this is the case, what is the reason in practice?

[2021-11-15 08:53] glemaitre commented on #21644
I can reproduce with `main`.

[2021-11-15 08:56] glemaitre commented on #21668
I think that one of @ogrisel @jeremiedbb @jjerphan had suggested such changes. We did not know if it was necessary or not. But your current experience shows that we should do that :)

[2021-11-15 08:58] ogrisel commented on #21657
Working on a fix.

[2021-11-15 09:01] patel-zeel commented on #21598
Working on `../examples/semi_supervised/plot_semi_supervised_newsgroups.py`

[2021-11-15 09:43] #21646 closed

[2021-11-15 10:18] ogrisel opened #21674 "Windows CI failing with: DeprecationWarning: Creating a LegacyVersion has been deprecated and will be removed in the next major release"
The windows build `py37_conda_forge_mkl` gets setuptools 59.1.0 that makes our `CHECK_WARNINGS: 'true'` setting fail.

Other CI jobs configured with `CHECK_WARNINGS: 'true'` will start to fail as soon as the upgrade from setuptools 58 to 59.

Log of an example failing job:

https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=35004&view=logs&j=55156e43-4792-506d-3947-cdbc5ace0742

[2021-11-15 10:25] ogrisel commented on #21674
This is caused by the fact that it's trying to fallback to `LegacyVersion` when facing an invalid version number:

https://github.com/pypa/setuptools/blob/main/pkg_resources/_vendor/packaging/version.py#L42-L51

But our log linked above is getting an invalid version on the string `c:\\miniconda\\envs\\testvenv\\lib\\site` which is not a version number at all:

https://dev.azure.com/scikit-learn/sc

[2021-11-15 10:31] ogrisel commented on #21674
It seems that it's caused by the `atomicwrites-1.4.0` package that has invalid version info in its `dist-info` metadata in this build.

[2021-11-15 10:43] Iglesys347 commented on #21598
Working on `../examples/cluster/plot_birch_vs_minibatchkmeans.py`

[2021-11-15 10:52] adrinjalali commented on #21674
And it doesn't seem like an active repo, not sure how long it'll take for them to fix and have a release. Are you planning to wrap our import and catch warnings there?

[2021-11-15 10:59] ogrisel commented on #21674
The root cause issue has been reported here: https://github.com/pypa/setuptools/issues/2885

Maybe we can setup a workaround when importing setuptools in the scikit-learn code base for the time being.

[2021-11-15 11:05] ogrisel commented on #21674
Let's see if #21676 works as expected.

[2021-11-15 11:30] silvererudite commented on #21598
Hi ... I will work on `../examples/linear_model/plot_poisson_regression_non_normal_loss.py`

[2021-11-15 13:46] ogrisel commented on #21669
The documtation is about individual 1D vectors generally noted as single column matrices in math text books while the code is about 2D arrays with shape `(n_samples, n_features)` so both are right.

[2021-11-15 13:49] ogrisel commented on #21669
The documentation already mentions that x and y are column vectors, so I am not sure how we can improve the doc here.

[2021-11-15 14:10] adrinjalali commented on #21657
Let's see how it behaves when we fix the issue :D

[2021-11-15 14:24] #21674 closed

[2021-11-15 14:52] jeremiedbb commented on #21668
Good idea. I'd even switch initializedcheck and nonecheck to True

[2021-11-15 15:18] #21657 closed

[2021-11-15 16:54] ogrisel commented on #17582
It might be related to the version of the C/C++ compiler used to build scikit-learn compiled extensions, in particular the vendored libsvm C++ code.

@Hedaia-Ghannam-2020 @NeilBotelho could you please tell us which compiler and which version did you use to reproduce this segfault?

[2021-11-15 16:58] ogrisel commented on #17582
It would also be interesting to get the pytest log when pytest is run with the `-v` option to see which test parametrization is causing the segfault.

[2021-11-15 18:57] vsocrates commented on #21639
The use case I came across was when creating a ByGroupImputer that would eventually concatenate all the groups together. Each group is relatively small and likely to contain different columns with all NaNs, so the final sizes of the imputed arrays is different. This would be solved by being able to fill in NaNs with 0 (or any filled value) instead of dropping them.

In general, having the input an

[2021-11-15 19:05] glemaitre commented on #21639
But in terms of training a predictive model, you cannot do anything with these constant features?

[2021-11-15 19:07] MohamedBsh opened #21681 "Jaccard score unexpected behavior in multilabel with average = 'samples'."
### Describe the bug

 Hi, I am currently working on a multi-class url classification model and I want to use Jaccard's metric using the method <b>average = 'samples'</b> as advised in the documentation : https://scikit-learn.org/stable/modules/generated/sklearn.metrics.jaccard_score.html :
<b>'samples': Calculate metrics for each instance, and find their average (only meaningful for multilabel cl

[2021-11-15 20:27] glemaitre commented on #20733
Was fixed in the associated issue

[2021-11-15 20:30] DOH-Manada opened #21682 "Add a more explicit message for precomputed kernel evaluation shape-error"
### Describe the bug

Given a trained SVC model with a precomputed kernel wrapped in a `OneVsRestClassifier`, I can't call `predict` or `predict_prob ` function on my evaluation set. Sklearn throws an error that the shape doesn't match the shape of my training set.

This behaviour doesn't happen with, say a decision tree classifier (although I have to pass into train_data instead). I can call pred

[2021-11-15 20:34] glemaitre commented on #20589
This has been addressed in #21109

[2021-11-15 20:34] #20589 closed

[2021-11-15 22:01] DOH-Manada commented on #21682
Figured it out:

To ensure its shape is num_test x num_train_samples
[code]
I think there should be a better error to explain the shape, although its hinted at in the documentation.

https://stats.stackexchange.com/questions/92101/prediction-with-scikit-and-an-precomputed-kernel-svm

[2021-11-15 22:01] #21682 closed

[2021-11-15 22:02] DOH-Manada commented on #21682
I can't edit the label.

[2021-11-15 22:51] joshua-cogliati-inl opened #21685 "ValueError: buffer source array is read-only in sklearn.neighbors._dist_metrics.DistanceMetric.__setstate__ with ray"
### Describe the bug

When we tried upgrading from scikit-learn 0.24.2 to 1.0.1, we got this error when using scikit-learn with with ray:

[code]

The relevant code in scikit-learn is:
[code]

### Steps/Code to Reproduce

I do not have a reduced case. If I have time, I will try and create one.
This fails:
https://github.com/joshua-cogliati-inl/raven/tree/cogljj/update_libraries with commit
https:/

[2021-11-16 01:17] Mehdi2402 commented on #21598
Hi, working on ```../examples/decomposition/plot_image_denoising.py```

[2021-11-16 01:31] thomasjpfan commented on #21674
Looks like the issue was fixed in https://github.com/pypa/setuptools/pull/2889 and a `setuptools==v59.1.1` was tagged with the fix.

[2021-11-16 04:09] ebsano commented on #21350
I'm woking on ```sklearn.metrics._regression.mean_absolute_error```

[2021-11-16 04:57] INF800 opened #21686 "add RMSLE to sklearn.metrics.SCORERS.keys()"
### Describe the workflow you want to enable

- add RMSLE as one of avaliable metrics with cv functions and others

### Describe your proposed solution

Na

### Describe alternatives you've considered, if relevant

Na

### Additional context

Na

[2021-11-16 04:57] INF800 commented on #21686
Is it good to have?

[2021-11-16 06:17] ageron opened #21687 "Add inverse_transform() to random projection classes"
### Describe the workflow you want to enable

`GaussianRandomProjection` and `SparseRandomProjection` should have an `inverse_transform()` method.

### Describe your proposed solution

Simply add the `inverse_transform()` method, with the appropriate input validation and tests, and return `X @ np.linalg.pinv(self.components_.T)`.

### Describe alternatives you've considered, if relevant

N/A

###

[2021-11-16 09:12] ageron commented on #21687
As computing the inverse is costly, it probably should be done in the `fit()` method, instead of every time we call `inverse_transform()`. But since it's not needed that often, I guess it should only be computed if an `inverse` hyperparameter is set to `True` (and the default would be `False`).

[2021-11-16 10:30] #20733 closed

[2021-11-16 11:38] clementstross opened #21688 "get_feature_names_out not implemented for simple transformers"
### Describe the bug

The method `get_feature_names_out()` in `sklearn.compose.ColumnTransformer` doesn't work if the ColumnTransformer contains certain simple transformations

This has been seen for `Normalizer` and `impute.SimpleImputer`.

### Steps/Code to Reproduce

[code]

### Expected Results

No Error is thrown.
Second output should equal the first which is
[code]

### Actual Results

```At

[2021-11-16 12:11] jjerphan commented on #21361
https://github.com/scipy/scipy/pull/14316 seems to have fixed this issue:
[code]

@alexprz: can you confirm?

[2021-11-16 12:32] minhashemi commented on #19137
How to put the downloaded package in `.wheels` directory? I use visual studio code on M1 MacBook Pro MacOS Monterey

[2021-11-16 13:42] alexprz commented on #21361
I do confirm that I don't get the segfault anymore with scipy 1.7.2 whereas I get it with scipy 1.7.1.

[2021-11-16 13:49] reshamas opened #21689 "Set up a Jekyll blog for scikit-learn"
### Describe the issue linked to the documentation

Logging the notes here from an email discussion (begun on 29-Oct-2021).

### Suggestions for a theme:

a)  I like David Robinson's blog.  Especially the option for folks to subscribe, assuming it is an automatic subscription, and not linked to an external platform such as mailchimp or Substack.
http://varianceexplained.org/posts/

b)  Other optio

[2021-11-16 14:50] adrinjalali opened #21690 "CI failure on test_iterative_imputer_catch_warning"
pandas CI fails with the following error [link](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=35051&view=logs&j=78a0bf4f-79e5-5387-94ec-13e67d216d6e&t=f1857171-4a53-55c7-3ab5-90acfe091baa&l=591)

[code]

[2021-11-16 15:43] NicolasHug commented on #21689
What kind of content do we expect to post on the blog?

I'm wondering what it means in terms of overlap with the consortium's website. I assume articles such as e.g. the [GLM one](https://scikit-learn.fondation-inria.fr/generalized-linear-models-have-landed-in-scikit-learn/) would end up on the blog instead?

[2021-11-16 15:52] jasonyz-ucb commented on #21536
Will start a new PR for the revised method

[2021-11-16 15:54] reshamas commented on #21689
@NicolasHug
Yes, other topics might include:
- some announcements that are on mailing list, such as new releases
- funding announcements
- announcing new core devs and triage team members
- detailed blogs on specific algorithms, etc.
- short write-up if a core dev/triage team is presenting scikit-learn at a conference, meetup, etc.

[2021-11-16 17:32] adrinjalali commented on #21690
ping @thomasjpfan @glemaitre I think

[2021-11-16 17:33] adrinjalali commented on #21688
Yes, we know not all estimators don't implement `get_feature_names_out` yet, and you can follow the progress here: https://github.com/scikit-learn/scikit-learn/issues/21308

[2021-11-16 17:33] #21688 closed

[2021-11-16 17:36] adrinjalali commented on #21687
I guess `np.linalg.pinv(self.components_.T)` can be cached/stored the first time `inverse_transform` is called.

[2021-11-16 17:37] adrinjalali commented on #21686
ping @lorentzenchr

[2021-11-16 17:44] adrinjalali commented on #21685
ping @jjerphan

[2021-11-16 17:46] adrinjalali commented on #21669
I agree with @ogrisel . Closing.

[2021-11-16 17:46] #21669 closed

[2021-11-16 18:29] ageron commented on #21687
I suppose it could be, but I thought the usual approach was to learn stuff in `fit()`, similar to how `probability=True` in SVC makes it learn probas and adds the `predict_proba()` method. WDYT?

[2021-11-17 02:31] markatango commented on #6122
@joshhamanngaia Awesome. Thank you for not just showing *what* but also showing *how* and *why*.

[2021-11-17 06:13] MikhailKravets commented on #19137
You can keep the downloaded package at whatever directory you want. `.wheels` is just an example. You can place it in the project root then

[code]

[2021-11-17 06:21] rgommers commented on #19137
Just a note on these: they may crash your OS if you're on macOS 11. It's recommended to upgrade to macOS 12. SciPy wheels for macOS >=12 should be coming soon: https://mail.python.org/archives/list/scipy-dev@python.org/thread/LLN2O4G2XI2MPILRW2XRRVCUK336WGKF/.

[2021-11-17 06:38] alessioarena opened #21692 "ImportError: DLL load failed while importing _openmp_helpers when importing certain libraries before sklearn"
### Describe the bug

Importing a set of 4 common Python libraries causes an ImportError when trying to import sklearn

The error seems caused by memory resources, however there is plenty of RAM available.

The order of those 4 libraries can be changed to have the same effect.
Instead, if sklearn is imported before any of those, this seems to work.

Those 4 libraries are:
- matplotlib.pyplot (3.4.

[2021-11-17 06:55] minhashemi commented on #19137
I still get this error
_ERROR: scikit_learn-1.1.dev0-cp39-cp39-macosx_11_0_universal2.whl is not a supported wheel on this platform._

also installed the package through conda but it says the package is not installed.. any recommendation about the conda installation?

[2021-11-17 07:04] alessioarena opened #21693 "Importing sklearn.neighbors causes matplotlib to fail on import"
### Describe the bug

I suspect this bug is related to #21692 so this is why I'm reporting this here

importing those three library in this succession causes a very weird FileNotFoundError when trying to import matplotlib
This does not fail if importing `sklearn` only (not `neighbors`) or importing matplotlib instead of matplotlib.pyplot

This has been replicated in two different systems running o

[2021-11-17 08:35] ogrisel commented on #21693
I am not sure what can cause this problem but scikit-learn 0.24.1 is quite old. Can you reproduce the problem with scikit-learn 1.0.1.

[2021-11-17 08:55] alessioarena commented on #21693
Not sure why `conda list` is showing 0.24.1, I suspect that was my bad as I was trying older configurations. The problem I'm experiencing is happening with 1.0.1 and I'm not sure if that disappears with 0.24.1 (still running some tests)

[2021-11-17 09:38] ogrisel commented on #21685
As discussed IRL with @jjerphan this regression can probably be fixed by leveraging the `ReadonlyArrayWrapper` in the constructors of the `DistanceMetric` subclasses that accept a numpy array as argument such as `V` for `seuclidean`.

[2021-11-17 10:26] jjerphan commented on #21685
Potentially, there might be an edge case `ReadonlyArrayWrapper` won't be able to support: computing the rdistance for Mahalanobis because the `vec` attribute is used as a cache.

https://github.com/scikit-learn/scikit-learn/commit/03aa4964419fdc0d24635adb9fccf36f1e555bc9#diff-98280689660ca6a05b3ae2f28eb31211a210044ebff2d17faddd0beb28b02cc2R695

[2021-11-17 13:30] 21564669 opened #21696 "AttributeError: 'Ridge' object has no attribute 'feature_names_in_'"
### Describe the bug

the issue appears in the example of https://scikit-learn.org/stable/auto_examples/linear_model/plot_ridge_coeffs.html#sphx-glr-auto-examples-linear-model-plot-ridge-coeffs-py

in the following piece of code, if we add 'print(f"clf.feature_names_in:{clf.feature_names_in_}")' after the fit() function is called,
it will pop up an issue that 'AttributeError: 'Ridge' object has no

[2021-11-17 13:34] ogrisel commented on #21685
I am not sure I understand. Can you try to write a reproducer for the problem you anticipate?

[2021-11-17 16:15] glemaitre commented on #21690
Here, there are 2 tests that are failing. The second one is indeed solved in #21697.
However, the first test is a flaky test. I am not sure that we can always reproduce it.

[2021-11-17 16:45] adrinjalali commented on #21687
true, you could open a PR with that approach.

[2021-11-17 18:21] SolidOrange commented on #12271
Any updates on this? I'm getting inconsistent behavior with `joblib.load()`. Sometimes I get the EOFError, and sometimes it is loaded fine. I've verified that my environment that saves the file and my environment that loads it use the same versions of `joblib`, `sklearn`, and `numpy`.

[2021-11-17 19:04] charlesincharge opened #21699 "MeanThreshold, MedianThreshold, and other threshold support in GenericUnivariateSelect"
### Describe the workflow you want to enable

I would like to select features by thresholding their **mean** value (i.e., mean-across-samples), similar to how `VarianceThreshold` selects features by thresholding their variance-across-samples.

### Describe your proposed solution

Two possible options:
* Implement a new Estimator in `sklearn.feature_selection`, similar to `VarianceThreshold`. Examp

[2021-11-17 19:49] draphi opened #21700 "Working feature is falsely suppressed [Lasso & ElasticNet for sparse matrices with weights]"
### Describe the bug

Please remove the checks to allow sparse matrices in Lasso and ElasticNet since it actually is already supported.

                 raise ValueError(
                        "Sample weights do not (yet) support sparse matrices."
                    )

Relevant files are:
ElasticNet.fit(...):
l.956 sklearn/linear_model/_coordinate_descent.py

See
https://github.com/scikit-lear

[2021-11-17 21:52] lorentzenchr commented on #21686
I'm +0 on this one. There's no harm in adding it. But I already have my doubts about MSLE which we already have.

As info, not for discussion: My doubts stem from the fact that it is not clear to me what functional of the predictive distribution we get when minimizing MSLE. For instance, minimizing squared error gives the conditional expectation E[Y|X], minimizing absolute error gives the conditio

[2021-11-17 23:11] INF800 commented on #21686
The use case is pretty simple. RMSLE is one of widely used losses and having it available 9ut of the box would be good to have but not seem necessary as you suggested.

But getting it out of the box is good to have in terms of developer experience.

I raised this PR because we have both
 `neg_mean_squared_error` and `neg_root_mean_squared_error` implementations available. Can't we use the same rat

[2021-11-17 23:27] INF800 commented on #19608
Hi, this issue looks inactive. Can I take a shot at reproducing the issue and sending a PR if required

[2021-11-18 01:58] ageron commented on #21687
Done. I named the parameter `fit_inverse_transform`, like in `KernelPCA`. I also named the learned pseudo-inverse of the components `components_pinv_`, for lack of a better idea. I propose to continue the discussion in the PR.

[2021-11-18 06:56] BrandonKMLee commented on #20773
As a heads up, if anyone wants to add new indices into this repo, check https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/metrics/cluster/_unsupervised.py and for prosperity add  a test in https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/metrics/cluster/tests/test_unsupervised.py

[2021-11-18 07:02] BrandonKMLee commented on #11369
Also dropping notes from
- https://github.com/scikit-learn/scikit-learn/issues/6654 (from @pambot)
- https://github.com/scikit-learn/scikit-learn/issues/20773 (from @BharadwajEdera)
- https://github.com/scikit-learn/scikit-learn/issues/11304 (from @53X)

Firstly, some of the people outside already implemented them in other repos
- https://github.com/online-ml/river/tree/main/river/metrics/cluster

[2021-11-18 08:57] ogrisel commented on #21361
For information we observed this crash on the CI on the unrelated PR #21697. The CI entry with the crash is also using the old version of openblas: 0.3.13 that detects the `Prescott` kernel.

[code]

We should probably update our CI tests to XFAIL or skip those tests on the `Prescott` architecture.

[2021-11-18 09:17] jjerphan commented on #21685
Sorry, please do ignore my previous comment which makes no sense.

[2021-11-18 09:30] #21690 closed

[2021-11-18 09:36] glemaitre commented on #21692
@jeremiedbb Do you think that you can try to reproduce?

[2021-11-18 09:41] jjerphan commented on #21361
As discussed with @glemaitre, I am taking this as I already did some xfail fixtures for openblas.

[2021-11-18 09:49] glemaitre commented on #21696
As documented in the attributes section of the `Ridge` documentation (and this rule apply to all estimator), `feature_names_in_` is only available if the `X` as all string columns:

[code]

In your case, a NumPy array as no column names so you could generate the column name with `range(X.shape[1])`.

[2021-11-18 09:49] #21696 closed

[2021-11-18 10:03] glemaitre commented on #21700
I don't think that this is right. You might get a result but it is probably not the good one. The function `_pre_fit` does not take into account the weights with sparse data:

https://github.com/scikit-learn/scikit-learn/blob/f4de2d121a2a2f6d525301e3b60c66e05289b0fe/sklearn/linear_model/_base.py#L807-L831

pinging @agramfort @lorentzenchr that worked on this and might recall if this is the real is

[2021-11-18 10:46] adrinjalali commented on #21693
Please try two things:

- use conda-forge instead of the main channel by adding `-c conda-forge` to your `conda create` and `conda install` commands
- make sure all packages are installed with conda, and there is not mixture between those and `pip install`ed packages

[2021-11-18 11:21] adrinjalali commented on #21665
I think @lorentzenchr would be very much interested in this one.

[2021-11-18 12:17] jacopofar commented on #21401
It seems Scipy released version 1.7.2 with the wheels for Python 3.10: https://pypi.org/simple/scipy/

[2021-11-18 15:01] adrinjalali commented on #21667
The reason `EstimatorCV` such as `LassoCV` exist, is that they can be done in much more efficient ways compared to doing a `GridSearchCV` on a `Lasso` model. Those optimizations cannot always be done on a multi task problem.  There are `MultiTaskElasticNetCV` and `MultiTaskLassoCV`, but it's not a general rule that we have the equivalent ones for all the models. You can always use a `MultiOutput{C

[2021-11-18 15:01] #21667 closed

[2021-11-18 16:59] lesteve commented on #12271
Hmmm weird, my guess is that the problem comes from saving the model (not loading it): the file has probably been written only partially. About why this happens I would guess this is joblib fault, but I could be wrong ...

Without a stand-alone snippet reproducing the problem it is quite hard to help more.

[2021-11-18 17:00] ajouellette commented on #7059
Is there any update on this? I would really like to be able to construct trees with float32 data. The data I have is single-precision (and large, ~1.5GB), so constructing a tree not only has to copy the data but also doubles the memory usage by converting to float64.

If it were possible to construct trees with single-precision data internally, then this data set would be manageable.

Thanks!

[2021-11-18 17:06] draphi commented on #21700
Thanks for looking into this. I have checked that the method yields the same results whether the matrix X is dense or not, so either there is a bigger problem but if there is, it isnt related to a sparse vs dense system matrix X unless I am missing something.
[code]

[2021-11-18 17:21] ogrisel commented on #20539
This will probably be fixed once the scipy wheel ships OpenBLAS 0.3.18 that includes https://github.com/xianyi/OpenBLAS/pull/3352. Leaving this scikit-learn issue open in the mean time.

[2021-11-18 18:19] #21361 closed

[2021-11-18 18:39] cmarmo commented on #19608
Hi @INF800 , feel free.
Quantitative benchmarks are needed here before any PR.
Thanks for your collaboration!

[2021-11-18 20:41] agramfort commented on #21700
you have a typo. It should be:

`mdl_dense.fit(Xd, y, W)`

[2021-11-18 20:42] agramfort commented on #21700
and fixing this your test don't pass anymore

[2021-11-18 22:16] draphi commented on #21700
thanks for pointing this out, is there interest to fix it?

[2021-11-19 01:43] alessioarena commented on #21693
Hi @adrinjalali ,
I was already using conda-forge as main channel, with `defaults` as backup.
However I was installing some library dependencies using pip. I now removed all of those apart from three pure python libraries that I developed.
I also made sure that this last step through pip does not reinstall/modify any of the already conda installed libraries.

The problem I described earlier is sti

[2021-11-19 05:23] alessioarena commented on #21692
If that can be of any use, here is the environment.yml file I'm using to build the conda environment
[code]

[2021-11-19 07:16] venkyyuvy opened #21706 "fit_params for Adaboost estimator"
### Describe the workflow you want to enable

I am trying to use a custom estimator as the base estimator for Adaboost regressor. My custom estimator requires additional fit_params apart from sample weights. As I understand, there is no support for passing other fit_params to base_estimators via AdaBoostRegressor.

### Describe your proposed solution

In the fit method of Adaboost, allow `**fit_pa

[2021-11-19 07:41] lorentzenchr commented on #21686
The motivation for RMSE is to have a metric with the same unit (meter, seconds, money) as the target `y` which makes it easier to read and interpret. MSLE is on the unit of the square of the log of the unit of the target, i.e. taking the square root does not really make it better (log unit vs square log unit).
Additionally, adding it also adds maintenance costs.

All you need in user code is:
[cod

[2021-11-19 08:08] liuyair opened #21708 "KBinsDiscretizer inverse_transform() method produces NaN output values"
### Discussed in https://github.com/scikit-learn/scikit-learn/discussions/21707

<div type='discussions-op-text'>

<sup>Originally posted by **liuyair** November 19, 2021</sup>
### Problem Description
I want to transform all my data values to the mean of their bin edges. So I use KBinsDiscretizer's inverse_transform() mthod.
This figure shows part of my original data, which is a pandas.DataFrame a

[2021-11-19 08:55] agramfort commented on #21700
sure if you have time please give it a try !

[2021-11-19 10:22] skjerns commented on #19693
This persists, even when the target is multiclass

[code]

I think it should be made clear in the documentation that the input `y` is expected as a one-hot encoded vector, which is different from the other linear model classifiers and base classes of `sklearn`

[2021-11-19 11:36] ahomman commented on #20907
Hello. I've been working with the MAPE in `sklearn` and I had the same problem than @NotNANtoN, i.e. observing very large values of the MAPE when the observations (true values) where small and the predictions were not.

I was wondering : could it be possible to add an argument to the `mean_absolute_percentage_error` method allowing to control the `epsilon` in the formula ? I see that it is always

[2021-11-19 12:53] TakashiMatsuda commented on #16666
@cmarmo @gbolmier
I tried to implement the `multilabel-indicator` case.
https://github.com/scikit-learn/scikit-learn/pull/21710

I will complete the PR If this metric is wanted.
Do you need this metric?(  I'll close it if it is not needed.)

[2021-11-19 19:23] lorentzenchr opened #21718 "RFC Principled metrics for scoring and calibration of supervised learning"
We receive a lot feature requests to add new metrics for classification and regression task, each shedding light on different aspects of supervised learning, e.g. (incomplete list)
- issues
  - #21686
  - #21665
  - #20266
  - #20162
  - #20943
  - #18268
  - #17854
  - #15247
  - #13482
  - #5516,
- PRs
  - #21320
  - #20877
  - #19556
  - #18970
  - #11096

Scikit-learn estimators for regression

[2021-11-19 19:50] lorentzenchr commented on #21665
The proposed score is the log-likelihood of a Normal/Gaussian distribution. Two questions come up to mind:

1. Are scores for expectations and variance/std deviation in-scope?
2. Is it ok to rely on the assumption of normality when scoring? There are more general scores for the combination of expectation and variance. If would need to look into references.

[2021-11-19 22:35] INF800 commented on #21686
+1 makes sense.

[2021-11-19 23:09] INF800 commented on #19608
I am trying out with simple Lasso and xgboost's XGBRegressor with config as stated in the above comment. Any pointers on what model to use? @cmarmo @asansal-quantico

[2021-11-19 23:09] INF800 commented on #19608
Until now Lasso seems to be working fine

[2021-11-20 00:54] INF800 opened #21719 "Weights for sklearn.model_selection.KFold"
### Describe the workflow you want to enable

Kfold with weights. For example stratified kfold is with equal weights for all classes.

### Describe your proposed solution

Please let me know if there is such feature already available. If not, I will describe in detail.

### Describe alternatives you've considered, if relevant

Stratiied kfold can hve this as an argument

### Additional context

I

[2021-11-20 03:58] ageron commented on #20642
Not sure if this is related, but I just ran some tests, and using `algorithm="elkan"` is generally slower (and sometimes much slower) then `algorithm="full"` on various datasets generated using `make_blobs()` (I tried different `n_samples`, `n_features`, `cluster_std`, and different numbers of clusters). I basically couldn't find a dataset where Elkan was reliably faster than Full. I also tried bo

[2021-11-20 08:21] lorentzenchr commented on #21686
One more suggestion: If you are interested in estimating the expectation `E[Y|X]`, and if your target `y` is positive, you may be interested in using [mean_gamma_deviance](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_gamma_deviance.html#sklearn.metrics.mean_gamma_deviance). Among a certain set of meaningful scoring functions, it has the unique property of being scale inva

[2021-11-20 08:21] #21686 closed

[2021-11-20 08:54] astrojuanlu opened #21722 "Document how (not to) impute categorical features"
### Describe the issue linked to the documentation

In #17087, it was requested to make `IterativeImputer` work with mixed types. This is useful because folks often want to impute categorical data.

In the absence of an official solution, there are a few blog posts out there as well as Stack Overflow answers doing things like creating custom `Ordinal/LabelEncoder` that preserve the missing categor

[2021-11-20 10:02] yarkhinephyo commented on #21644
### Potential problem

I think the problem is that for the gradient descent of LassoCV and ElasticNetCV, `enet_coordinate_descent()` is called which takes in `alpha` and `beta` to minimize `(1/2) * ||y - Xw||^2_2 + alpha * ||w||_1 + (beta/2) * ||w||^2_2 `.

https://github.com/scikit-learn/scikit-learn/blob/226da0d7c458816776549c2580abaa4782dc4c48/sklearn/linear_model/_cd_fast.pyx#L97-L110

But the

[2021-11-20 12:31] glemaitre commented on #21722
I agree that we should improve our documentation and probably revamp it.

Our user guide is currently showing how to use the imputer but does not provide any recommendation or insight on the process. We were not having enough insights at the time of writing it.

I think that we should make the following improvements:

- Add a recommendation section. We should discuss: categorical/continuous imputa

[2021-11-20 12:35] glemaitre commented on #21719
I am not entirely sure that this feature would be worthless. In an imbalanced classification problem, you usually want an imbalanced dataset and apply a stratified k-fold such that you have the same classes representation in both training and testing sets.

Here, it seems that you want to have an imbalanced dataset in training and a balanced test set?

[2021-11-20 13:02] glemaitre commented on #21718
@lorentzenchr Thanks a lot for opening this issue.

I really have concerns each time we get a feature request for a new metric because I don't know really know if this is a legit or not request. Basically, I lack insights regarding the evaluation and our documentation does not help there. I think that your RFC is framing what should be a recommendation section and should help us in specifying incl

[2021-11-20 15:33] jeremiedbb commented on #20642
Thanks for these exhaustive benchmarks @ageron !
I confirms some intuition we had but I imagined elkan would be better in more cases. In addition, when elkan is faster it's usually just a little faster while "full" can be a lot faster than "elkan". I think it's definitely time, given these results, for us to change the default value of the ``algorithm`` parameter. Would you be interested in submit

[2021-11-20 17:33] patel-zeel commented on #21665
Thank you for your response @lorentzenchr.

Can you please elaborate a bit more on this question?

A Generalized score seems interesting. I was wondering if you could point me towards a reference. However, I think that the normality assumption holds true for `GaussianProcessRegressor`, `BayesianRidge` and `ARDRegression`.

[2021-11-20 20:41] pramodatre commented on #21598
I would like to try `../examples/applications/plot_face_recognition.py`

[2021-11-21 00:05] gittar commented on #20642
TThese are interesting results, @ageron. However, I think they cannot explain the huge performance differences I observed. I did my simulations mainly with one specific version of scikit-learn (0.23.2), and no specific setting of the "algorithm" parameter was done, which therefore kept its default "auto" which again is mapped to "elkan". Your results suggest that "auto" should instead be mapped to

[2021-11-21 00:08] ageron commented on #20642
@gittar , you're right. I'll open another issue regarding Elkan vs Full.

[2021-11-21 03:43] tamesps commented on #21350
I'm working on  `sklearn.datasets._base.load_files`

[2021-11-21 03:57] ArthDh commented on #21598
I'll try  `../examples/feature_selection/plot_select_from_model_diabetes.py`, Is it okay to change the example - different dataset in order to achieve a speedup?

[2021-11-21 04:26] INF800 commented on #21719
It can be considered similar to imbalanced dataset but with custom weights to each class.

Still, I am looking for another use case described below.

Imagine that my training data has categorical feature f1 with category a,b,c,d,e and f. And test data has only categories a,b and e for same feature f1. I want to sample my training and valid data based on these features (not target variable). I am u

[2021-11-21 04:32] ArthDh commented on #21598
Working on  `../examples/compose/plot_digits_pipe.py`

[2021-11-21 05:52] webbdays commented on #21598
In the examples,
Using
`print(f"some {variable} string")` is better than using
`print("some {} string".format(variable))`

I run both statements for 10**6 times.
With respect to total time to run each statement, first statement seems to be faster than the second.

[2021-11-21 07:00] labdmitriy commented on #14257
Hi @jnothman,

I've shared my implementation of group time series cross-validation which is compatible with sklearn.
Implementation contains ideas from different libraries and also additional functionality.
Implemented using Python standard library + numpy + sklearn helper functions.
I hope that it will be useful for implementation in sklearn, and I will be glad to contribute it to sklearn if it w

[2021-11-21 10:35] ageron opened #21729 "KMeans Elkan algorithm (the default) is generally slower than Full"
### Describe the bug

I just ran some tests on `KMeans`, and using `algorithm="elkan"` is generally slower (and sometimes much slower) than `algorithm="full"` on various datasets generated using `make_blobs()` (I tried different `n_samples`, `n_features`, `cluster_std`, and different numbers of clusters). I basically couldn't find a dataset where Elkan was reliably faster than Full. I also tried b

[2021-11-21 10:43] ageron commented on #21729
@jeremiedbb , continuing here the conversation we started in #20642.

Sure, I'm happy to submit a PR. However, I'm not sure about the process in this case: the parameter's default value remains `"auto"`, right? But I would change its behavior to be `"full"` rather than `"elkan"`. This should not change the API, it would only improve performance (in general).

So should I "just do it" and label the

[2021-11-21 11:04] jnothman commented on #21718
Teaching of ML often underemphasises metrics relative to models, but at the end of the day all the assumptions that make a predictive model credible are about evaluation: data, CV, metrics and model selection. In this vein, I do think we can take some responsibility in giving guidance to our users.

In principle, I think we should be open to including various metrics in Scikit-learn. We do so for

[2021-11-21 11:06] jnothman commented on #21681
The task you present here is not multilabel classification. It's not clear what metric you want to compute, or why

[2021-11-21 13:13] lorentzenchr commented on #19148
I also found the paper https://arxiv.org/abs/2007.05758 "Feature Interactions in XGBoost".

[2021-11-21 13:45] sveneschlbeck commented on #21598
Working on ``../examples/kernel_approximation/plot_scalable_poly_kernels.py``

[2021-11-21 14:23] siavrez commented on #21598
reducing max_estimator from 175 to 125 in plot_ensemble_oob.py does not affect the performance in any meaningful way. Runtime would be reduced by 50%.

[2021-11-21 14:47] jeremiedbb commented on #21729
To me "auto" means let scikit-learn decide what's best, so if we find that something is better we should be able to change the behavior without the 2 releases deprecation cycle. Others might disagree :)

In this case, since elkan and full give the same result, switching the behavior of "auto" is just a performance improvement. I think it's fine to directly switch the behavior of "auto" for the nex

[2021-11-21 14:58] siavrez commented on #21598
Working on `../examples/ensemble/plot_stack_predictors.py`

[2021-11-21 17:18] siavrez commented on #21598
working on ' ../examples/manifold/plot_lle_digits.py'

[2021-11-21 18:15] charlesincharge opened #21734 "Non-identity shrinkage targets for covariance estimation"
### Describe the workflow you want to enable

Discriminant analysis classification with:

1.  large number of features (`N>100`)
2. with different variances (wide range of `$\sigma^2_j$`)
3. and not too many samples (so covariance is difficult to estimate).

For `1` and `3`, the [covariance estimators](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.covariance) with shrinkage (

[2021-11-21 19:54] ageron commented on #21729
Thanks @jeremiedbb , I just pushed a tiny PR for this. Let me know what you think. Note that I did not add `.. versionchanged:: 1.1` for the `algorithm` parameter, as I'm not changing the API, just improving performance.

[2021-11-21 21:16] siavrez commented on #21598
working on  `../examples/cluster/plot_digits_linkage.py`
Changing matplotlib.text with matplotlib.scatter and Markers created from TeX symbols improves runtime by almost 15 seconds.
Also changed time.time with time.perf_counter.

[2021-11-22 00:58] danilo-silva-ufsc opened #21739 "RandomForestClassifier sometimes differs significantly from Bagging of Decision Trees"
### Describe the bug

A RandomForestClassifier should be a special case of a BaggingClassifier with a DecisionTreeClassifier estimator. Thus, when configured with the same parameters, their performance should be very similar, except for small variations due to random state. However, for _some_ datasets and _some_ parameter configurations, I noticed that their performance differs significantly.

In

[2021-11-22 08:49] ogrisel commented on #21729
I think I would be in favor of:

- switching the default to "lloyd",
- keeping an alias named "full" to "lloyd" but deprecate it,
- deprecate "auto" because it's not needed anymore.

Document all of this in the "Changed models" section of the 1.1 changelog.

Since Elkan and Lloyd should converge to the same solution (up to numerical rounding errors) and that we do not expect any significant perfor

[2021-11-22 09:07] ageron commented on #21729
Sounds good @ogrisel , I'll do that.

[2021-11-22 09:55] glemaitre commented on #21739
To get the equivalence, one would need to pass `max_features` to `DecisionTreeClassifier` (i.e. `DecisionTreeClassifier(max_features=max_features)`) instead to pass it to the `BaggingClassifier`.

The reason is the following:

``python
In [3]: bagged_tree = BaggingClassifier(DecisionTreeClassifier(), n_estimators=10, max_features=1)

In [4]: bagged_tree.fit(X_train, y_train)
Out[4]: BaggingClassif

[2021-11-22 09:55] #21739 closed

[2021-11-22 13:31] glemaitre commented on #21401
We will be soonish releasing 1.0.2 and add support for Python 3.10

[2021-11-22 14:30] glemaitre commented on #21719
I don't think that we want to have such weights. However, it seems that you want to create some group and in this case you can use: https://scikit-learn.org/dev/modules/generated/sklearn.model_selection.StratifiedGroupKFold.html#sklearn.model_selection.StratifiedGroupKFold

[2021-11-22 15:17] ogrisel commented on #21598
@adrinjalali What a success! There are too many pull request to review! Could you please change your script to remove examples that run in less than 20s or 15s from the list to avoid giving incentives of opening PRs with smaller added-value / review time ratios?

[2021-11-22 15:20] ogrisel commented on #21598
In general, what matters most is the quality of the pedagogical message. It always comes first and runtime is second (assuming it's less than a few minutes). So if you are confident that you can craft a enlightening example that teaches the same concepts with a different dataset, why not. But in general I am not sure it's worth it.

[2021-11-22 16:39] bmreiniger opened #21743 "Missing values break feature selection with pipeline estimator"
### Describe the bug

Feature selectors were adapted to allow missing values if their underlying estimator does in #11635, but that does not work if the estimator is a pipeline.

Discovered at https://stackoverflow.com/q/69883401/10495893

### Steps/Code to Reproduce

[code]

In the traceback (below), the reason becomes apparent: the fix in the above mentioned PR checks the tag `"allow_nan"` of th

[2021-11-22 16:55] bmreiniger commented on #21743
In the interim, I had hoped that I could hack away the problem, but this didn't work:

[code]

[2021-11-22 17:20] rakkaalhazimi opened #21745 "Bug: LabelEncoder error inside ColumnTransformer"
### Describe the bug

I'll just get to the point, so when I try to pass `LabelEncoder` as one of the transformer inside `ColumnTransformer`, I got a `TypeError`. When I try the same with `OrdinalEncoder`, the error doesn't pop out.

I think I know what's happen after doing a little debug. The code break, because the method `.fit_transform()` in the `LabelEncoder` class doesn't have a `**fit_params

[2021-11-22 17:25] rakkaalhazimi commented on #21745
The expected result should be something like this
[code]

[2021-11-22 18:54] glemaitre commented on #21745
Use a `OneHotEncoder` to transform `X`. `LabelEncoder` is to transform `y` and should not be part of a `ColumnTransformer`.

You can check this example to see a usage case: https://scikit-learn.org/stable/auto_examples/compose/plot_column_transformer_mixed_types.html#sphx-glr-auto-examples-compose-plot-column-transformer-mixed-types-py

[2021-11-22 18:54] #21745 closed

[2021-11-22 19:21] glemaitre commented on #21743
This is indeed an issue and I am not sure what the right fix is. We could

- expose `allow-nan` for a pipeline and delegate the management of missing values to the underlying steps
- introspect the pipeline and check if there is a step that should handle missing values

I would think that the first option would be permissive enough but I don't know how bad it can fail. The second option would requ

[2021-11-22 19:33] bmreiniger commented on #21743
Is there a reason to just not do any validation, and leave it to the estimator?

[2021-11-22 20:09] glemaitre commented on #21743
This would option 1. But then, this is weird to me that `RFE` does not do the exact them pattern by delegating.

[2021-11-22 20:37] glemaitre commented on #21700
@agramfort to be sure, we don't currently support this case. Basically there is not bug but it would be an enhancement then?

[2021-11-22 21:45] adrinjalali commented on #21598
@ogrisel done!

[2021-11-23 01:26] alessioarena commented on #21692
So, creating a new environment from scratch using that `environment.yml` I posted earlier still presents the problem. However, performing a `conda update -c conda-forge --all` after seems fixing the issue.

This is updating the following packages:
[code]

I guess the error has something to do with Python 3.8.0 then

[2021-11-23 01:29] alessioarena commented on #21693
Similarly to #21692 if I create a new environment from scratch I still have the error.
However, if running `conda update -c conda-forge --all` after and updating to Python 3.8.12 seems fixing the issue.

I am not sure if this requires more investigation, otherwise happy for the issue to be closed

[2021-11-23 03:27] ChristyQu opened #21749 "Different cluster result with same random_state"
### Describe the bug

Hello,

We're a team working on a clustering problem. To make the result reproducible, we've set the random_state in KMean() to 0. However, we got a different result when we run the same code with the same data a week later. We're unsure about why it happened and still can't get the previous result.

### Steps/Code to Reproduce

[code]

### Expected Results

Expected number o

[2021-11-23 11:04] glemaitre opened #21755 "Displaying pipeline does not work anymore in `main`"
cf. https://scikit-learn.org/dev/auto_examples/miscellaneous/plot_pipeline_display.html#sphx-glr-auto-examples-miscellaneous-plot-pipeline-display-py

This could be due to a new version of `sphinx-gallery`. We might want to revert the version and check where the bug is coming from.

[2021-11-23 11:07] glemaitre commented on #21749
Are you using the same version of scikit-learn between the two runs.
We fixed a couple of things in `1.0.1` and in `main` that solve some reproducibility issue: https://github.com/scikit-learn/scikit-learn/pull/21195/
But it means that between version, the result will change.

[2021-11-23 12:38] glemaitre commented on #21693
Let's close the issue if everything works with the last Python 3.8 available then.
Thanks, @alessioarena for investigating.

[2021-11-23 12:38] #21693 closed

[2021-11-23 12:38] glemaitre commented on #21692
Let's close the issue if everything works with the last Python 3.8 available then.
Thanks, @alessioarena for investigating.

[2021-11-23 12:38] #21692 closed

[2021-11-23 12:40] glemaitre commented on #21681
You are using a multiclass example indeed. Closing this issue. @MohamedBsh do not hesitate to ping and I will reopen with the issue that you have is as well present with multilabel data.

[2021-11-23 12:40] #21681 closed

[2021-11-23 12:46] glemaitre commented on #21599
Mentioning the problem to @ogrisel IRL, he was mentioning that this is still a bit annoying. This might not be a blocker for 1.0.2 thought but we could try to fix it.

We have a couple of things to have in mind here: the `RandomForest` (or other ensemble methods) does not want to validate the data for non-finite values for each underlying estimator because it will be too costly. The data validatio

[2021-11-23 12:55] glemaitre commented on #21568
To be honest, this is something that would happen in other metrics and we rely on our users to provide the labels in `labels`. I would prefer to not change this behaviour until the error message is informative enough and provide the solution to solve it.

[2021-11-23 13:16] NichtJens commented on #21667
Thanks for the explanation. I see your points. Maybe it would be generally helpful if the docs of every `Estimator` would link to the respective `EstimatorCV` or `MultiTaskEstimatorCV`, if they exist. This would probably enhance discoverability.

[2021-11-23 13:20] adrinjalali commented on #21667
I agree with your documentation suggestion, and will be happy  to review such a PR if you're kind enough to submit one :)

[2021-11-23 14:30] par1hsharma commented on #14959
As of today November 2021 I am facing the same issue

[code]

**OUTPUT**

[code]

How can I fix this?

[2021-11-23 15:17] glemaitre commented on #21545
I agree with @thomasjpfan here. There is no bug and we are consistent with our API.
What is the reason for not providing a `MultiOutput` model to the `GridSearchCV`?

[2021-11-23 15:17] #21545 closed

[2021-11-23 15:19] glemaitre commented on #21483
So I don't think that there is any bug. Closing the issue.

[2021-11-23 15:19] #21483 closed

[2021-11-23 15:20] username-still-not-available opened #21761 "predict_proba in ClassifierChain returns always probability for the second class"
### Describe the bug

Please fix line 796
[code]
in https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/multioutput.py

function:
[code]

Always returns probability for the second class (```[:, 1]```), but not for predicted class. The code should return maximum for each line, something like this:

[code]

Minimal example could be (section Examples):
https://scikit-learn.org/stable/modul

[2021-11-23 15:35] glemaitre commented on #21543
Groups allow structuring in some way your dataset. Let's give a concrete example:

- we have data from N hospitals (that define our groups)
- we acquire data from subjects in all different hospitals that have condition A or B

Making CV aware of the groups allows you to not "leak" information from one hospital to another and you actually evaluate how good your model will be good to predict on a co

[2021-11-23 15:56] glemaitre commented on #21761
I don't really understand why. Here, we are consistent by providing the probability of the positive class for each binary classifier. Providing the `argmax` will mix probabilities of classes 0 and 1 and it will not be consistent with between `predict` and `predict_proba`.

Indeed, we expect `(chain.predict_proba(X_test) > 0.5).astype(int)` to be the same as `chain.predict(X)`.

[2021-11-23 15:56] #21761 closed

[2021-11-23 15:57] glemaitre commented on #21299
I remove the bug tag because this is just that the parameter is ignored. It is stated in the documentation but could be improved of course.

[2021-11-23 16:05] PSSF23 commented on #21299
@glemaitre Sure! I updated my [comment](https://github.com/scikit-learn/scikit-learn/pull/21295#pullrequestreview-813857998) to include more reasons on the improvement.

[2021-11-23 16:09] username-still-not-available commented on #21761
Thanks for your feedback, but the model is multiclass (more than two classes). If you suppose input with two clases, it works, but not for input with more than two classes.

[2021-11-23 16:11] bidhya commented on #21577
I get similar warning with Randomforest regressor with oob_score=True option. See the warning below.

../miniconda3/lib/python3.9/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

[2021-11-23 16:14] glemaitre commented on #21761
Basically, you provide the multiclass problem as a Y 2d matrix of (n_samples, n_classes) and you will fit a binary classifier by columns in a chaining manner. So each underlying estimator is a binary problem and predict_proba provides the probability of the positive class for each of these binary estimators.

[2021-11-23 16:50] ChristyQu commented on #21749
I didn't pay much attention to the version of sklearn in the first run, but I've run the code again using version 1.0 and it outputs the same result as version 1.0.1.
The issue we had happened around Nov 17 which I believe is after version 1.0.1 is released (correct me if I am wrong).

[2021-11-23 17:02] hvassard commented on #20724
Hello @glemaitre !

[2021-11-23 17:14] hvassard commented on #20724
Hello @glemaitre @jjerphan !

As #20723 is now merged I'd like to work on this issue, this would be my very first contribution !

On which estimator / classifier would you like me to work on ?

Do you have any suggestions / advices ?

Thank you ! :pray:

[2021-11-23 17:19] adrinjalali commented on #20724
@hvassard a part of this issue is to find places where this change would make sense. I suggest you start by looking at a few PRs linked here and see what they've done, and then have a look at the code base on different estimators, and see if you can fix any of them. It would also give you a better idea of how the code is organized :)

[2021-11-23 17:26] glemaitre commented on #21455
So our implementation of `sklearn.feature_selection.chi2` and the `scipy.stats.chisquare` provides the same results:

[code]

### `chi2`

[code]

### `chisquare`

[code]

So I have to look at how the `f_obs` and `f_exp` are constructed because this is the only things that is different here.

[2021-11-23 17:50] ogrisel opened #21765 "Deprecate WMinkowskiDistance and make MinkowskiDistance accept weights directly"
We should implement a weighted  version of the Minkowski distance directly in the `MinkowskiDistance` class itself consistently with scipy's formulation:

https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.minkowski.html

which is different from the old:

https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.wminkowski.html

which is already implement

[2021-11-23 18:01] ogrisel commented on #21765
It would also be a good opportunity to raise a `ValueError` with an explicit message if negative weights are passed.

[2021-11-23 18:18] glemaitre commented on #21455
OK so you are building the contingency matrix of the categories for each matrix while here we are computing the sum of the event, so equivalently, we have:

[code]

![image](https://user-images.githubusercontent.com/7454015/143079738-e22e1ec0-a04f-4014-affe-6b86a60fe4b3.png)

So we don't compute at all the same statistics. The reason is this feature selection is supposed only to work with binary i

[2021-11-23 18:31] glemaitre commented on #20128
There is no bug here.

Basically, what you see is the original `Pipeline` that you passed. To check which combination will be used, you need to check `best_params_` and `best_estimator_`. In your case, you have:

[code]

So you can see that you have the `LocallyLinearEmbedding` with some fine tuned parameters.

[2021-11-23 18:31] #20128 closed

[2021-11-23 18:33] glemaitre commented on #20275
It is expected behaviour because you have a single class and a division by zero.

[2021-11-23 18:33] #20275 closed

[2021-11-23 19:25] siavrez commented on #21598
Working on ` ../examples/inspection/plot_partial_dependence.py`

[2021-11-23 20:13] username-still-not-available commented on #21761
Can you elaborate specifically on this example, please, because I am not sure about class for each binary estimator:

[code]

Lets, take first train example for sake of simplicity:
[code]
is correctly predicted:
[code]
and prediction per estimator is also correctly predicted:
[code]
lets look on prediction probabilities per prediction
[code]
[code]
[code]
means, that each logistic regression (esti

[2021-11-23 20:32] #14566 closed

[2021-11-23 20:32] #17145 closed

[2021-11-23 21:09] glemaitre commented on #21761
I don't get your example or at least I cannot reproduce it:

Let's start with the `fit` of the `ClassifierChain`:

[code]

Then, you have the part where you have the collection of the probabilities and predictions:

[code]

[code]

So taking `[:, 1]` of the probability would give `[0.10368555 0.9900184 0.06468321]` which is `[0 1 0]` if you apply the threshold at `0.5`. (Note that here I don't reo

[2021-11-23 21:12] siavrez commented on #21598
Working on  `../examples/neighbors/plot_nca_classification.py`

[2021-11-23 21:37] hermidalc commented on #21543
I apologize but I really don't understand your rationale for closing this issue. I just showed you a VERY common use case for how users use groups where in for this case the permutation test shuffling does not work. It doesn't shuffle any labels.

It is a very common use case that one would utilize the groups feature to **group together repeated measures from the same subject**, meaning each sampl

[2021-11-23 22:54] username-still-not-available commented on #21761
Now I see the difference :-) thanks

Documentation says:
```A multi-label model that arranges binary classifiers into a chain.``` I overlooked important word `binary`, but try to look on the following example to see origin of my confusion please. My issue was with non binary classifiers (I should use non-binary example first to resolve it earlier):

[code]

output is
[code]

but I would expected t

[2021-11-23 23:35] glemaitre commented on #21543
I was triaging issue and it might happen that I get sloppy reading only the original summary. But no worries we still have a button to reopen the issue :)

I think this is where I am getting confused (and now I see that it was your second post). Here, it seems that you constrain the samples of a group to have the same label. While I can see some use cases where this is true, I can also see some us

[2021-11-23 23:45] hermidalc commented on #21543
Yep I totally understand, there are other more complex use cases where the class labels for a group are not the same, but it is also quite common to use groups functionality for the use case I described (repeated measures by subject)

In the enhancement code it supports both https://github.com/scikit-learn/scikit-learn/issues/21543#issuecomment-963258526. It works for me while still supporting the

[2021-11-23 23:49] glemaitre commented on #21543
Yep, I saw it while answering. But I don't know if we should only switch behaviour using a new parameter or magic would be fine in this case.

[2021-11-23 23:54] glemaitre commented on #21761
Happy that this is clearer. I always struggle with multiclass and multilabel representation at first :)

[2021-11-24 00:02] hermidalc commented on #21543
The code I added figures out if you have the, "repeated measures" let's call it, use case or not automatically with that if statement.

I would assume it should be automatic because if you have each group with the same class label then the current behavior of shuffling within a group then doesn't shuffle any labels at all, and I would guess no one wants that.

[2021-11-24 00:53] mrleu commented on #21598
Working on `speed-up-plot-sparse-logistic-regression-20newsgroups`

[2021-11-24 05:28] ChristyQu commented on #21749
Issue fixed: was able to get the previous result using an older version (0.22.1)

[2021-11-24 05:28] #21749 closed

[2021-11-24 06:45] ColdTeapot273K opened #21774 "Calibration and Refinement loss for Brier score loss"
### Describe the workflow you want to enable

As per [Brier score User Guide](https://scikit-learn.org/stable/modules/model_evaluation.html#brier-score-loss):

“Only when refinement loss remains the same does a lower Brier score loss always mean better calibration”

But the current API doesn't provide refinement loss/calibration loss.
Which makes it hard to measure the quality of probabilistic est

[2021-11-24 07:58] jjerphan commented on #20724
@hvassard: thank you for your interest!

I suggest you have a look at this comment which explains how to proceed https://github.com/scikit-learn/scikit-learn/issues/20724#issuecomment-950166699.

[2021-11-24 09:28] venson opened #21775 "ConfusionMatrixDisplay.from_estimator missing"
### Describe the bug

python:3.9.9
mac os:12.1
skicit-learn: 0.24.2

[code]
after import sklearn when use ConfusionMatrixDisplay.from_estimator return an error:
type object 'ConfusionMatrixDisplay' has no attribute 'from_estimator'

Find nothing on Documents

Try the same on python3.8, work well .

Expected Results:
Is this a bug or feature change?

### Steps/Code to Reproduce

[code]

### Expecte

[2021-11-24 09:41] ogrisel commented on #21543
I am not sure what a permutation test is supposed to do in this case. I think we could improve scikit-learn to detect this pathological case and issue a `UserWarning` in scikit-learn 1.1 and raise a `ValueError` 1.3  with an informative error message in scikit-learn stating that `permutation_test_score` is not well-defined in this case.

It could be possible to resample random labels from the empi

[2021-11-24 11:00] agramfort commented on #21700
yes

[2021-11-24 11:29] hermidalc commented on #21543
I've used the code enhancement I wrote in https://github.com/scikit-learn/scikit-learn/issues/21543#issuecomment-963258526 successfully in real world problems and the `permutation_test_score` results are in line with what one would expect.

The issue I have with doing nothing with the current implementation is that if you come with the (what I believe is a common) groups use case I've described it

[2021-11-24 12:11] lorentzenchr commented on #21700
Lasso/Enet + sample weights + sparse input is currently the only missing combination to close #3702. Contributions would be very welcome.

I'm therefore closing this issue.

[2021-11-24 12:11] #21700 closed

[2021-11-24 13:00] glemaitre commented on #21775
You need to update to scikit-learn to 1.0: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.ConfusionMatrixDisplay.html#sklearn.metrics.ConfusionMatrixDisplay.from_estimator

[2021-11-24 13:00] #21775 closed

[2021-11-24 14:08] altanova commented on #21455
Thank you, first of all I appreciate that you read very thoroughly my case and even run your code on my own data. I think this was a lot of work.

In the same time, I note that your response seems to base on a logical error. I don't think it is correct to compute the statistics using this code: **df.groupby("success").sum()** . Let me give a simplistic example, based on my case. Suppose in Educati

[2021-11-24 15:11] glemaitre commented on #21455
I checked a bit more the (past) documentation, and the `chi2` was really intended to work with binary features our the results of a `CountVectorizer`. Now, this is not super explicit and I agree that this is indeed an issue.

I think that we can reopen this issue and:

1. Improve the documentation in the meanwhile to mention that it is only for the above use case.
2. Implement an improvement that

[2021-11-24 16:11] glemaitre commented on #21755
Inspecting the HTML source code, I can see that we have the code that is supposed to be rendered. However we have this line:

[code]

That should explain why the representation is not shown.

[2021-11-24 16:34] altanova commented on #21455
Thank you, this is appreciated. I agree that until this is implemented, meanwhile the mention in the docs will be a good solution and I am happy to help propagate the information too. When it comes to the implementation, you may review my code for building the RC table, and if it is any useful feel free to use, improve it or incorporate it. Alternatively if you want me to improve my stuff, let me

[2021-11-24 17:01] thomasjpfan commented on #19045
I like the idea of simplifying how we define search spaces. What would the workflow look like for building `GridFactory` when a pipeline is already defined? Would one need to rewrite the pipeline with the `GridFactory` API to define the search space?

[2021-11-24 17:09] glemaitre commented on #21755
@lucyleeow @thomasjpfan do you have any idea where this is coming from?
The version of sphinx or sphinx-gallery did not change but it might be one of the fixes that now consider the HTML repr as a non trusted thing. I don't know if there is a way to execute `sphinx-gallery` in trusted mode? (actually I have no idea how it works :))

[2021-11-24 18:21] hermidalc commented on #21543
I also just realized that there might be a separate, possibly serious, issue with `permutation_test_score`. The implementation passes the same CV object instance to `Parallel` I also just realized that there might be a separate, possibly serious, issue with `permutation_test_score`. The implementation passes the same CV object instance to `Parallel`

https://github.com/scikit-learn/scikit-learn/bl

[2021-11-24 19:19] hermidalc commented on #21543
I have a related basic Python question regarding `permutation_test_score`, in the current implementation how the CV object is handled https://github.com/scikit-learn/scikit-learn/blob/f8f77b4acca401904f6e7332bea55067f9d1e797/sklearn/model_selection/_validation.py#L1300-L1337

Since the same CV object instance is being passed to `Parallel` and then within the parallelized `permutation_test_score` `

[2021-11-24 19:25] danieltomasz commented on #19137
Scipy  just released 1.7.3 with binary wheels
https://github.com/scipy/scipy/releases/tag/v1.7.3

[2021-11-24 19:29] glemaitre commented on #21543
Could you be explicit by what you mean by inconsistant splits.

[2021-11-24 19:53] hermidalc commented on #21543
Sorry I wasn't clear. I really might not be understanding something about Python correctly... but I thought when you pass mutable objects they get passed by reference, e.g.

[code]

This appends to `l` outside the function. So analogously I thought since in the implementation you are running `_permutation_test_score` function in parallel wouldn't each parallel process be calling `cv.split()` at th

[2021-11-24 20:04] jnothman commented on #19045
No, there's nothing special about the pipeline constructed. The GridFactory maps each estimator to its local parameter space. When the Pipeline's local space involves searching over alternative steps, then the parameter grid constructed by the factory includes the downstream parameter grids of those alternative steps.

searchgrid provides a shorthand to make Pipelines, but it's really only so the

[2021-11-24 22:00] glemaitre commented on #21543
Each call will produce different splits indeed. But I don’t understand why is it an issue. If really, you want the CV to be deterministic, you need to set the `random_state` of the CV object.

[2021-11-24 22:44] glemaitre commented on #21455
We will need a pure NumPy implementation :)

[2021-11-24 22:56] hermidalc commented on #21543
Right and I'm doing that, I just thought that since you are passing the same single CV object instance to the parallelized function and in that function each parallel process is doing a `cv.split()` for loop on that same single instance, and imagine that CV splitter was instantiated with 10 splits, that I initially thought each parallel process would only get part of those 10 splits in a race cond

[2021-11-24 23:24] pedugnat opened #21782 "Warning in example plot_gradient_boosting_categorical"
### Describe the bug

Linked to #21634

There is the following warning when running the plot_gradient_boosting_categorical.py example :
`/home/circleci/project/sklearn/datasets/_openml.py:876: UserWarning: Version 1 of dataset ames-housing is inactive, meaning that issues have been found in the dataset. Try using a newer version from this URL: https://www.openml.org/data/v1/download/20649135/ames-

[2021-11-24 23:45] pedugnat opened #21783 "Enhance semi_supervised.LabelPropagation"
### Describe the workflow you want to enable

In the seminal paper quoted as a reference for the implementation of `semi_supervised.label_propagation` : [Xiaojin Zhu and Zoubin Ghahramani. Learning from labeled and unlabeled data with label propagation. Technical Report CMU-CALD-02-107, Carnegie Mellon University, 2002](http://pages.cs.wisc.edu/~jerryzhu/pub/CMU-CALD-02-107.pdf), **three tricks**

[2021-11-25 03:17] thomasjpfan commented on #19045
I think a typical use case is to build up a pipeline first for a ML task. For example:

[code]

Now we want to use `GridFactory` + `GridSearch`. With the API proposed, we would need to rewrite the above `Pipeline` logic with `GridFactory` and then create a `GridSearchCV` from it. Something like this:

[code]

Is this correct?

[2021-11-25 04:51] jnothman commented on #19045
Yes, though there's obviously no need for the additional variable names, so this is fine too:
[code]

The main point is to avoid having to write out:
[code]
which only gets messier if:
* you didn't have a Pipeline and now you do
* you want to rename one of the pipeline steps
* you want to experiment with disabling the standardisation (or other estimator-level variation in preprocessing):
[code]

[2021-11-25 05:55] ShivKJ commented on #21511
I am getting the following issue with Python3.10,

![image](https://user-images.githubusercontent.com/17637878/143387431-deb23706-f345-4c7b-a78e-f5920b8da610.png)

[2021-11-25 07:39] jnothman commented on #21743
Yes, might be simplest for RFE to always permit NaN. RFE only really needs to validate that X has columns that can be indexed.

However I don't think it's right that Pipeline defaults to an allow_nan: False state. It should behave permissive until proven otherwise

[2021-11-25 10:16] glemaitre commented on #21511
We don't provide a wheel for Python 3.10 (xref: https://github.com/scikit-learn/scikit-learn/issues/21401)
The next bugfix release will be shipping this wheel (around mid-December).

In your traceback, `pip` is trying to build `scikit-learn` from source and you are probably missing some packages or compilers in this regard (which is normal since that you are not intended to build from source).

So

[2021-11-25 10:55] venson commented on #21775
I just pip install sklearn, and thought it would install the lastest version.
Sorry for your time, thank you very much.

[2021-11-25 11:10] jnothman commented on #21719
I'm not sure that grouping is what  @INF800 is looking for.

I think stratifying on a feature is also fine.

I'm a bit stuck in understanding why weighted k fold (which to me means building test sets with approximately equal weight rather than equal number of samples) is a useful thing.

[2021-11-25 11:13] glemaitre commented on #21782
We could switch to https://www.openml.org/d/42165. This is an upload of Ames Housing done by people working on [dirty cat](https://dirty-cat.github.io/stable/) and we used it in the MOOC if I recall properly.

[2021-11-25 11:23] glemaitre commented on #21782
In this case, we would have to modify the first cell accordingly:

[code]

It changes the name of the features and declaring the categorical features as categorical.

[2021-11-25 12:02] juceyj commented on #19137
I already installed the sklearn but it still has somthing wrong.

`numpy.ndarray size changed, may indicate binary incompatibility. Expected 88 from C header, got 80 from PyObject`

[2021-11-25 12:14] INF800 commented on #21719
Yes, I am working with stratifying on the feature.

For example imagine the feature which needs to be sampled from has variables and their distribution as follows

A - 20%
B - 10%
E - 5%
C,D,F - remaining 65%

In my test data, if I implement **stratified kfold, will get the same percentages** for distribution as original above. Instead what I intend to do is - give weights of `{A: 0.3, B: 0.3, C:

[2021-11-25 12:23] #21294 closed

[2021-11-25 12:23] #21299 closed

[2021-11-25 13:33] glemaitre commented on #21719
While I understand why one would like to have a stratification based on the feature, I don’t get why you actually want the opposite.
In this case, you have a different distribution between the training and testing set. So apart of testing how your classifier is behaving under some assumption of distribution shift, I don’t see what one can try to evaluate.

In the case that you actually want to eva

[2021-11-25 13:43] #21668 closed

[2021-11-25 14:15] #21643 closed

[2021-11-25 14:27] szperajacyzolw opened #21786 "sklearn.cluster.OPTICS uses all cores when minkowski's p=2"
### Describe the bug

I have specified n_jobs=2. When p=1, joblib backend is working as specified. But when p=2 it ignores n_jobs and goes full power.

### Steps/Code to Reproduce

optics_oh = OPTICS(min_samples=3, p=2, n_jobs=2)
optics_oh_predict = optics_oh.fit_predict(X_oh)

### Expected Results

Two cores loaded

### Actual Results

All cores loaded
![Screenshot from 2021-11-25 15-23-14](https

[2021-11-25 15:44] adrinjalali commented on #21786
Could you please reproduce with scikit-learn 1.0.1, and also paste a reproducible code, which can be copy pasted to reproduce the issue?

[2021-11-25 16:00] szperajacyzolw commented on #21786
`import pandas as pd
import os
import numpy as np
from category_encoders.one_hot import OneHotEncoder
from sklearn.cluster import OPTICS

seed = 33

df = pd.read_csv('some_csv_with_many_categorical_features.csv')

oh_encoder = OneHotEncoder(verbose=1, use_cat_names=True, cols=['some', 'cols'])
X_oh = oh_encoder.fit_transform(df)

optics_oh = OPTICS(min_samples=3, p=2, n_jobs=2)
optics_oh_predict =

[2021-11-25 16:08] #19602 closed

[2021-11-25 16:46] adrinjalali commented on #21786
Could you please instead of a loading a csv, use a synthetic dataset, or a dataset fetched by `fetch_openml`, so that we can run and test it?

[2021-11-25 16:50] PSSF23 commented on #21598
Speed up `../examples/linear_model/plot_poisson_regression_non_normal_loss.py` by storing test predictions. #21787

[2021-11-25 17:35] PSSF23 commented on #21598
Is there a way for us to check the updated running time of examples? I noticed differences on my local machine, but don't know how much would be reflected on the actual website/tests.

[2021-11-25 18:16] #21729 closed

[2021-11-25 19:41] glmcdona opened #21790 "CountVectorizer out of dictionary features"
### Describe the workflow you want to enable

Many tabular data models run CountVectorizer against categorical and text data to featurize the data. At the large scale especially, the `max_df` or `max_features` are commonly used to limit the dimensionality to the most frequent terms. This is important to reduce memory and sometimes may help with generalization of the resulting model.

One problem i

[2021-11-26 02:19] lucyleeow commented on #21755
From the sphinx-gallery end, we generate rst from the .py example script, including the captured outputs. The .rst for this file (doc/auto_examples/miscellaneous/plot_pipeline_display.rst) has the fallback message you note in the captured html:

[code]

It could be the way we execute it (some funny ast stuff goes on, see: https://github.com/sphinx-gallery/sphinx-gallery/pull/541#issuecomment-53847

[2021-11-26 02:47] Kim-AYoung commented on #21598
Will work on  ` ../examples/linear_model/plot_sparse_logistic_regression_mnist.py`

[2021-11-26 02:56] hansinahuja commented on #21598
Will work on `../examples/impute/plot_missing_values.py`

[2021-11-26 08:14] nastegiano commented on #21598
Working on ../examples/decomposition/plot_image_denoising.py and ../examples/applications/plot_model_complexity_influence.py

[2021-11-26 08:15] lisacsn commented on #21598
Will work on `../examples/miscellaneous/plot_kernel_ridge_regression.py` and `../examples/miscellaneous/plot_johnson_lindenstrauss_bound.py`

[2021-11-26 08:19] szperajacyzolw commented on #21786
Here I have created synthetic set similar to what I have used in real scenario.

[code]
![Screenshot from 2021-11-26 09-16-48](https://user-images.githubusercontent.com/78765372/143549086-03259bca-927e-4db4-93e5-2f1cbe5d797c.png)

[2021-11-26 10:15] glemaitre commented on #21755
The only relevant thing that I found about the notebook is the following: https://jupyter-notebook.readthedocs.io/en/latest/notebook.html?highlight=trust#trusting-notebooks

But since I don't know how the execution of the code is going on then I was quite blocked.

[2021-11-26 11:17] glemaitre commented on #21755
OK, so the issue should only be due to our CSS file. We probably introduced it in:

https://github.com/scikit-learn/scikit-learn/pull/21316

In notebook and vscode, we don't have the issue because we don't use bootstrap.
However, bootstrap has a definition of `[hidden]` with an `!important` flag.

So the fix should be to break the inheritance by changing our style of the `sk-container`.

[code]

I

[2021-11-26 12:26] clemencestr commented on #7686
Hello, I would like to work on this issue for my first issue.
Do you want me just to remove of the picture the two classes deprecated ?
Thanks,
Clémence

[2021-11-26 12:56] #21755 closed

[2021-11-26 13:15] ogrisel opened #21798 "fetch_openml can raise "PermissionError: [WinError 32] The process cannot access the file because it is being used by another process""
### Describe the bug

On windows, if `fetch_openml` is run concurrently in 2 processes, for instance when running the test with pytest-xdist, one sometimes get errors such as:

[code]

Full error log:

https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=35377&view=logs&j=18b0749f-dd9a-5274-d197-77895e43d4e4&t=ba53dc33-2c0b-592b-6f69-b1c7af7ca977

### Steps/Code to Reproduce

Run

[2021-11-26 13:18] ogrisel commented on #21798
I am not sure how this code works, but to make the `fetch_openml` code run safely in concurrent processes, one should use atomic operations:

- download the file to a temporary local file with a random component in its filename;
- once the download as completed successfully, rename the file to its filename in the in the end;
- if the download fails, delete the temp file and retry: no other process

[2021-11-26 13:26] ogrisel commented on #21798
The retry mechanism for `fetch_openml` is also being discussed in #21397. It's likely that a single PR can fix both issues.

[2021-11-26 13:55] ogrisel commented on #21755
The dev website is fixed:

https://scikit-learn.org/dev/auto_examples/compose/plot_column_transformer_mixed_types.html#html-representation-of-pipeline-display-diagram

🥳

[2021-11-26 15:22] thomasjpfan commented on #21798
I do not think any of the `fetch_*` are safe running concurrently. Your suggestion in https://github.com/scikit-learn/scikit-learn/issues/21798#issuecomment-979972768 works if we are okay with the additional bandwidth of multiple processes downloading from the same source. The alternative is to use a [filelock](https://py-filelock.readthedocs.io/en/latest/index.html) which has the downside of addi

[2021-11-26 17:10] thomasjpfan commented on #19045
With the following pipeline definition:

[code]

I suspect `grid.set` will return `LogisticRegression()`, so `clf.fit` would work. Do you think `clf.fit(X, y)` should work or raise an error?

[2021-11-26 20:08] webbdays commented on #21598
Working on

../examples/linear_model/plot_poisson_regression_non_normal_loss.py: 60.41 sec

../examples/linear_model/plot_sparse_logistic_regression_mnist.py: 27.13 sec

[2021-11-26 20:35] thomasjpfan commented on #21559
Looks like the bug was fixed in numpy and will be backed ported in numpy 1.21.5

XREF: https://github.com/numpy/numpy/pull/20462

[2021-11-26 22:36] thomasjpfan commented on #21685
It looks like https://github.com/scikit-learn/scikit-learn/pull/21694 may have resolved the issue.

@joshua-cogliati-inl May you test our your use case with the nightly build of scikit-learn?

[code]

[2021-11-26 23:41] thomasjpfan commented on #19608
Is there a way to adjust `Parallel` in GridSearchCV to turn off memmapping?

CC @ogrisel @lesteve

[2021-11-26 23:54] thomasjpfan commented on #21708
Thanks for opening the issue. May you upload the data into a [gist](https://gist.github.com) so we can reproduce your issue?

[2021-11-27 11:14] jnothman commented on #19045
yes, why shouldn't fit work?

[2021-11-27 11:48] lorentzenchr opened #21804 "RFC / API add option to fit/predict without input validation"
### Describe the workflow you want to enable

I'd like to be able to switch on/off:

1. Parameter validation in `fit`
2. Input array validation in `fit` and `predict`
3. All other validation steps in `fit` and `predict` (e.g. `check_is_fitted`)

Something like
[code]

Note that some estimators like `Lasso` already support `check_input` in `fit`.

The main reason to do so is improved performance.

[2021-11-27 11:58] lorentzenchr commented on #5044
Closing in favor of #15123 which is now implemented in #20567.

[2021-11-27 11:58] #5044 closed

[2021-11-27 12:13] lorentzenchr commented on #5368
Meanwhile we have MAE #6667 and the Poisson deviance #17386. More concrete proposals could be opened separately. Therefore closing this issue.

[2021-11-27 12:13] #5368 closed

[2021-11-27 12:17] lorentzenchr commented on #15123
We now have #20567 merged. Let's close this issue when some modules make use of it, e.g. (histogram) gradient bossting and linear models.

[2021-11-27 13:20] lorentzenchr commented on #21665
We are talking about the pair of point forecasts (mean, variance). The question is: Are pairs of point forecasts in-scope? Which API would we follow (`metric(y_true, y_pred_mean, y_pred_var)`? They seem very special for the Gaussian process estimators.

If we stick to the assumption of normal distributed targests, the log-likelihood may be fine. There is, however, literature for scoring functions

[2021-11-27 14:34] thomasjpfan commented on #20907
@ahomman I think it is reasonable to allow `eps ` to be passed to `mean_absolute_percentage_error`. It would be consistent with `eps` in `log_loss`.

WDYT @glemaitre ?

[2021-11-27 15:09] siavrez commented on #21798
I can not reproduce the error in Linux. Is the error Windows specific? Other than pytest itself is there any  scenario that any of fetch_* would need concurrent run in sklearn?

[2021-11-27 15:26] thomasjpfan commented on #21798
If a user spawns multiple Python processes (using `joblib`, `ProcessPoolExecutor`, etc) and calls `fetch_*`.

[2021-11-27 15:38] thomasjpfan commented on #19045
It came down to what `grid.set(LogisticRegression(), C=[0.1, 1.0, 10.0])` returns. It could be: `LogisticRegression()` or `LogisticRegression(C=0.1)`. From a UX point of view, `clf.fit` should just work.

I think `grid.set` should return `LogisticRegression()` because the API more naturally extends to `RandomSearchCV`. For example, the following returns `LogisticRegression()` without sampling `C`:

[2021-11-27 16:17] thomasjpfan commented on #19693
Since `Lasso` and `Ridge` are regressors, an integer `y` input is considered a regression problem and not a multi-class by the model.

As for this issue (which deals with `Lasso` + `Ridge` being consistent), `Lasso` and `Ridge` are consistent when `y` is a 1-d int:

[code]

[2021-11-27 19:16] drew-parsons commented on #17798
Also fails the same way on ppc64el,
https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=ppc64el&ver=1.0.1-1&stamp=1638038493&raw=0

[2021-11-27 23:37] thomasjpfan commented on #21798
We have introduced some complexity in our test code for `fetch_*` functions that is not `fetch_openml`:

https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/conftest.py#L81-L82

This code downloads all the necessary files before `pytest-xdist` distributes the work. To me it still feels like a workaround to get tests to work with `pytest-xdist`.

We have to choose what we want to be thre

[2021-11-28 03:03] thomasjpfan commented on #6122
On `main`, it is now possible to call `get_feature_names_out` with feature union. In context of the original issue, one can call `get_feature_names_out` to get the feature names:

[code]

In 1.1, we will all transformers will define a `get_feature_names_out` allowing this feature to work everywhere.

[2021-11-28 03:03] #6122 closed

[2021-11-28 20:50] iofall commented on #21406
Hey @MrinalTyagi are you still working on `SGDOneClassSVM`?

[2021-11-29 01:40] melemo2 commented on #21598
Working on
../examples/miscellaneous/plot_kernel_ridge_regression.py

[2021-11-29 02:00] MrinalTyagi commented on #21406
sorry for not updating. Yes, I worked on this issue and will push it in a day.

[2021-11-29 03:53] yarkhinephyo commented on #21765
I can work on this issue

[2021-11-29 11:29] thomassajot opened #21815 "Sparce NeighborhoodComponentsAnalysis"
### Describe the workflow you want to enable

Text classification using KNN on text features concatenated with other features. As the dimentionality of text features can be very high, a good way to reduce the dimensionality is using NCA.

Example pipeline:
[code]

Today, NCA does not support Sparse Matrices, so the tfidf features have to be set to dense first. This is a costly operation (in memory

[2021-11-29 12:51] adrinjalali commented on #21786
maybe @jeremiedbb would have an idea?

[2021-11-29 12:57] #21782 closed

[2021-11-29 13:07] jeremiedbb commented on #21786
minkowski with p=2 relies on BLAS functions to compute the distances which is multithreaded.

n_jobs only controls joblib based parallelism. Other sources of parallelism will likely try to use as many cores as possible. It also happens when we call numpy or scipy functions that rely on BLAS: parallelism is handled by the BLAS library linked.

So I don't think it's a bug, but maybe a lack of docume

[2021-11-29 13:13] adrinjalali commented on #21786
Thanks @jeremiedbb , I feel like we need a clear documentation about these with links to them from virtually everywhere, so that people can figure out how to limit/use their resources as they want.

[2021-11-29 13:16] szperajacyzolw commented on #21786
Thank you @jeremiedbb for insightful explanation!

[2021-11-29 13:20] glemaitre commented on #21786
I would retag this issue as documentation. I was going to propose to have an entry in the FAQ but we already have it:

https://scikit-learn.org/stable/faq.html#why-does-my-job-use-more-cores-than-specified-with-n-jobs

So, the part of the documentation that could be improved would be the following:
https://scikit-learn.org/stable/computing/parallelism.html#parallelism

where we could have some usa

[2021-11-29 13:24] adrinjalali commented on #21786
I think our `n_jobs` explanation can also be improved. We make no explicit mention of BLAS or openmp threads there, and only have a link to glossary, which then has a link to our parallelism docs. I think this information should be available in a bit more direct and explicit way to the users.

[2021-11-29 13:26] glemaitre commented on #21804
At a user level, I would think that it could more friendly to use the `set_config` context manager to skip the validation altogether.

[2021-11-29 13:27] glemaitre commented on #21815
@wdevazelhes do you have an insight regarding supporting sparse matrices in the algorithm?

[2021-11-29 13:59] glemaitre opened #21816 "CircleCI does not build scikit-learn with OpenMP support"
While checking the lof in CircleCI, I saw that we get he warning:

[code]

We might want to solve this issue there.

[2021-11-29 14:01] #21136 closed

[2021-11-29 14:11] lorentzenchr commented on #21804
I don't like global options, at least they should not be the only way to accomplish that.

[2021-11-29 14:25] glemaitre commented on #21804
You might have more experience in putting models into production. I was under the impression that iterating on a subset of data locally with safeguard and then having a global option during deployment would be something super handy. Is it a misconception on my side?

On another hand, even if the config could be set globally, you can still use it as a context manager locally, for specific processin

[2021-11-29 14:33] lorentzenchr commented on #21804
Mmh:thinking: @glemaitre You have a good point, indeed. The context manager helps. My intuition still is to have it as configurable option in estimators.
I would be very interested in the opinion and experience of others.

[2021-11-29 14:49] Th3CracKed commented on #14485
Thanks this comment helped me solve the issue.

[2021-11-29 14:52] altanova commented on #21455
Agreed, my implementation uses Pandas so it is not usable here. However I looked carefully and spotted one more issue with the existing code. One issue is what we already discussed (the statistics are implemented as if the features were binary). But there is another issue too. To correctly compute the chi square, one needs to implement the following condition: at least 80% of the RC contingency ta

[2021-11-29 14:59] thomasjpfan commented on #21804
I think we can have a parameter and a global config option. By default, `validate_input="use_global"`, which uses the global config option. This way a user can set the parameter during the method/function call.

[2021-11-29 15:04] eangius commented on #21804
If we go with the method parameter approach, for composite components (ie: Pipeline, FeatureUnion, VotingClassifier, OneVsRestClassifier, ... ) I would expect the `validate_input` parameter to be passed down to its parts. Unless someone can come up with a use-case for not wanting this behavior?

[2021-11-29 15:19] GeorgePearse opened #21817 "Multinomial Logistic Regression"
### Describe the bug

Multi-ouput logistic regression not behaving as expected (or potentially a lack of documentation with respect to how to use it).

### Steps/Code to Reproduce
[code]

### Expected Results

No error is thrown. Surely multinomial regression should be able to accept a 2d array of labels? If not what is the correct format and how could I have found out?

### Actual Results
[code]

[2021-11-29 15:54] altanova commented on #21455
also, to make this clear, from your code snippet I understood that the bug lies deeper than in SelectKBest.
The problem concerns **sklearn.feature_selection.chi2**, and that's where the fix needs to be applied.
The fact that it also exhibits in **SelectKBest** is secondary, as the latter method is a wrapper to the former.
This implies that until the fix is applied, the correct bypass is to use sci

[2021-11-29 15:56] vnmabus opened #21818 "MinCovDet can't deal with singular matrix"
### Describe the bug

`MinCovDet` can deal with singular covariance, for example in the zero covariance case. Note that usual `EmpiricalCovariance` can deal with that case too.

### Steps/Code to Reproduce

[code]

### Expected Results

[[0. 0.]
 [0. 0.]]
[[0. 0.]
 [0. 0.]]

### Actual Results

[code]

### Versions

System:
    python: 3.7.6 (default, Jan  8 2020, 19:59:22)  [GCC 7.3.0]
executable

[2021-11-29 16:22] thomassajot commented on #21815
Simplified the use case
[code]

[2021-11-29 16:55] #21577 closed

[2021-11-29 16:55] #21618 closed

[2021-11-29 17:28] glmcdona commented on #12153
This would be a really useful feature. @thomasjpfan, by any chance are you still working on getting this feature merged?

[2021-11-29 17:30] arogozhnikov commented on #5044
Thanks for working on deduplication of losses in sklearn @lorentzenchr.

However cases discussed in this issue are not covered by #15123

I have implemented generic loss for GB in hep_ml a while ago, it covers case of ranking and other losses that use additional information in their formulation.

[2021-11-29 19:18] adam2392 commented on #20819
Hope you had a good thanksgiving @thomasjpfan. Just wanted to check in on the status of this?

[2021-11-29 19:43] thomasjpfan commented on #20819
There are a few more constraints I need to work out:

1. Make sure that the use case in NOCATs (categorical features) is covered: https://github.com/scikit-learn/scikit-learn/pull/12866
2. New loss functions with openmp: https://github.com/scikit-learn/scikit-learn/pull/20567 (Most likely do not need to consider it, since criterion's requirements are a bit different from the losses)

I have finall

[2021-11-29 20:12] thomasjpfan commented on #12153
Currently, https://github.com/scikit-learn/scikit-learn/pull/16018 is basically complete and needs a second approval from a maintainer.

[2021-11-29 20:33] jloayza10 commented on #21407
Hi, I will work on `feature_selection/tests/test_sequential.py::test_nan_support`

[2021-11-29 20:36] glemaitre commented on #21817
Multinomial refer to handling multiclass problem and not multi output. You would need to wrap the `LogisticRegresson` into a `MultiOutputClassifier` to handle the multioutput here.

Regarding the documentation, I think that this is fine:

- `y` in `fit` is documented to accept a 1d NumPy array: https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html#sklearn.l

[2021-11-29 20:36] #21817 closed

[2021-11-29 21:17] #21816 closed

[2021-11-29 22:02] knoam opened #21825 "Add drop_intermediate to precision_recall_curve"
### Describe the workflow you want to enable

Please add `drop_intermediate` functionality to precision_recall_curve, as in roc_curve, to make lighter plots.

### Describe your proposed solution

Apply same 2nd derivative method as in roc_curve to return fewer thresholds from precision_recall_curve using drop_intermediate argument.

### Describe alternatives you've considered, if relevant

_No res

[2021-11-29 22:20] adam2392 commented on #20819
Sounds good, happy to discuss and help implement when this is finalized! Exciting.

[2021-11-29 23:16] joshua-cogliati-inl commented on #21685
Hm, I think we have progress:

Before:

ray.exceptions.RaySystemError: System error: buffer source array is read-only
traceback: Traceback (most recent call last):
  File "/Users/fred/pip_envs/raven_libraries_sk1/lib/python3.7/site-packages/ray/serialization.py", line 246, in deserialize_objects
    obj = self._deserialize_object(data, metadata, object_ref)
  File "/Users/fred/pip_envs/raven_libra

[2021-11-29 23:26] joshua-cogliati-inl commented on #21685
Possibly dd7b7e5ef950ac026ac44d758af9167eafcc9ee2 might have caused changes serialization with binary_tree?

[2021-11-29 23:29] #20111 closed

[2021-11-29 23:31] joshua-cogliati-inl commented on #21685
(Let me know if you want a different issue opened on ```sklearn.neighbors._kd_tree.BinaryTree.__setstate__``` )

[2021-11-30 02:24] siavrez commented on #21798
So far the script I've come up with for tempfile naming is:
[code]

[2021-11-30 03:09] tsungjung411 opened #21826 "Improve document MultiOutputRegressor"
### Describe the issue linked to the documentation

https://scikit-learn.org/stable/modules/generated/sklearn.multioutput.MultiOutputRegressor.html

[code]
where `clf` should be changed to `regr` since this is related to `MultiOutputRegressor`

### Suggest a potential alternative/fix

[code]

[2021-11-30 08:41] ogrisel commented on #21804
This is more complicated: sometimes to avoid expensive double validation meta-estimators can follow one of the following two strategies:

- a) do not validate the data but delegate input validation to the underlying base estimator(s);
- b) do the validation themselves and then pass the validated data to the underlying base estimator(s) and make them skip any additional validation.

a) is useful be

[2021-11-30 08:44] ogrisel commented on #21804
Also there is an impact with feature names:

If b) is adopted and a meta-estimator is fit on a dataframe, then feature names are extracted by the meta-estimator and then a numpy array without feature names is passed to the base estimators. But sometimes the feature names could be useful for the base estimator (e.g. to specify features to be treated as categorical variables for a HistGBRT model for

[2021-11-30 08:46] glemaitre commented on #21826
Yes it would be a better name. We could even be specific and named it `regressor = ...`

[2021-11-30 08:46] glemaitre commented on #21826
@tsungjung411 Do you wish to make a pull request to correct this spelling.

[2021-11-30 08:48] ogrisel opened #21830 "maint_tools/create_issue_from_juint.py fails when too many tests fail at once"
[code]

Currently observed in:

https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=35556&view=logs&j=dfe99b15-50db-5d7b-b1e9-4105c42527cf&t=48ece25d-9bf4-566b-afd7-917e0a4fa093

[2021-11-30 08:49] ogrisel commented on #21830
We should probably limit the number of failing test tracebacks to report in the description of the issue itself.

[2021-11-30 13:48] LucieClair commented on #21826
I will work on that change today if that's ok

[2021-11-30 13:48] glemaitre commented on #21826
@LucieClair you can go ahead.

[2021-11-30 14:01] glemaitre commented on #21830
Closing then

[2021-11-30 14:01] #21830 closed

[2021-11-30 16:42] thomasjpfan opened #21838 "__sklearn_clone__ protocol proposal"
I propose a `__sk_clone__` method that `clone` calls (if the method exist). This way arbitrary objects can define how they want to be cloned.  This is similar to mechanism behind  `__sk_is_fitted__` + `check_is_fitted`.

### Purpose

There are PR that run into issues with `clone`, and it would be nice to allow the `estimator` to define how it wants to be cloned.

1. Metadata routing: https://githu

[2021-11-30 17:19] Turakar opened #21840 "Intercept in Kernel Ridge Regression"
### Describe the workflow you want to enable

Currently, Kernel Ridge Regression as implemented in `sklearn.kernel_ridge.KernelRidge` does not support an intercept like e.g. `sklearn.svm.SVR` does. This can lead to problems if the target value is shifted.

### Describe your proposed solution

Implement an intercept into `KernelRidge`.

### Describe alternatives you've considered, if relevant

Docu

[2021-11-30 18:40] jasonyz-ucb commented on #21536
PR now ready for review. LGTM checks were passing but now stuck for some reason...

[2021-11-30 18:40] #21826 closed

[2021-11-30 21:03] cmarmo commented on #14015
I'm closing this one. A [solution](https://github.com/scikit-learn/scikit-learn/issues/14015#issuecomment-500013984) was proposed and the issue is no longer reproducible as tensorflow changed its API.
Feel free to open a new one with an updated reproducible code if needed.

[2021-11-30 21:03] #14015 closed

[2021-11-30 22:14] meesatsquare commented on #21568
@glemaitre not sure if you investigated the issue, but if you pass the set of all potential labels via the label parameter, you just end up getting a different ValueError, e.g.:

```ValueError: Number of given labels (4) not equal to the number of classes in 'y_score' (3).```

[2021-11-30 22:18] thomasjpfan commented on #21685
May you run your tests with models serialized with the same version of scikit-learn?

I think we need a [minimal reproducible example](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to better diagnose the issue.

[2021-11-30 22:25] joshua-cogliati-inl commented on #21685
Assuming the serialization order does not change between 1.0 and 1.1.dev0, then yes, the original bug was fixed. I just am not sure that is a correct assumption.

[2021-11-30 22:31] joshua-cogliati-inl commented on #21685
Hm, the BinaryTree issue was reported in https://github.com/scikit-learn/scikit-learn/issues/21228

[2021-12-01 01:24] thomasjpfan commented on #21685
@joshua-cogliati-inl Thanks for the link to the issue! I was able to reproduce and opened a #21845 to fix the bug.

[2021-12-01 09:32] se-jaeger commented on #17675
Still the same behavior in version '1.0.1' when using `precision_recall_curve` with boolean data.

I debugged and found that in `utils.multiclass.type_of_target` something goes wrong. (See comment earlier.) There is still a `y = np.asarray(y)`, which is the cause?

[2021-12-01 09:52] glemaitre commented on #21568
The error is raised by your `LogisticRegression` that complains that you try to predict a new class never seen during `fit`.
This is not linked with the metric.

[2021-12-01 11:05] edgBR opened #21846 "RandomizedSearchCV does not properly parse grid parameters when MultiInputOutputRegressor wrapper is used over a scikit learn pipeline."
### Describe the bug

The documentation of scikit for the multiple input output wrappers is actually not that good but it is mentioned that:

https://scikit-learn.org/stable/modules/generated/sklearn.multioutput.MultiOutputRegressor.html

[code]
Therefore I am constructing my scikit learn pipeline as usual and I am setting the hyperparameters with a dictionary that it is constructed by name_of_my_

[2021-12-01 13:46] glemaitre commented on #21846
Could you check the traceback, it seems that this is not complete. There is an `AssertionError` but we never raise such error in scikit-learn (only in test). In addition, I cannot reproduce it only with only scikit-learn estimator:

[code]

Since you are using XGBoost, I would not be surprised if the error is raised there. Having the full traceback will be useful. There is maybe some issue regardi

[2021-12-01 15:04] #21616 closed

[2021-12-01 18:29] meesatsquare commented on #21568
I'm not sure I follow?

'''LogisticRegression''' is acting as expected; if you pass a subset of all classes during training (e.g. {1, 2, 3}), it will only know to predict those classes (and not the entire set, e.g. {1, 2, 3, 4}).  no error is thrown during this process (at least not that I'm running into).

the function (top_k_accuracy_score) breaks when you provide it with a '''y_score''' whose #

[2021-12-01 18:50] adnan9999 commented on #21350
I am working on sklearn.linear_model._ridge.ridge_regression . Thank you.

[2021-12-01 19:43] glemaitre commented on #21568
Uhm disregard my comment. I should have messed up when running the example. The `labels` should indeed do the job there.

[2021-12-01 20:31] glemaitre commented on #21568
`labels` only resolve the problem of inconsistency between `y_true` and `y_pred`:

[code]

[code]

Then the passing the labels will be OK there.

[code]

[code]

    and,
    a lack of a prediction for a given class is reasonably interpreted as a predicted probability of 0 for that class, which should simply ding whatever metric you're going for and not cause your pipeline to crash

If the lack of

[2021-12-01 21:11] mlant commented on #21350
Hi, I'm working on   sklearn.metrics.cluster._unsupervised.davies_bouldin_score

[2021-12-01 22:27] mlant commented on #21350
I m also working on silhouette_score and silhouette_samples

[2021-12-02 10:30] adrinjalali commented on #21798
@siavrez Python has [`tempfile`](https://docs.python.org/3/library/tempfile.html) builtin :)

I'd be in favor of making `fetch_*` multiprocess safe.

[2021-12-02 10:32] jnothman commented on #21838
I think this is essentially a duplicate of polymorphic clone (#5080)?

I've got as far as writing an abstract paragraph on the SLEP, and I'm happy for help with this.

Aside from practical reasons, I just think having a polymorphic clone method on each estimator is the right design from an OO perspective; it _should_ be an estimator's own problem to know how to copy itself removing model but keepi

[2021-12-02 12:41] siavrez commented on #21798
The code was for a naming scheme that would be reproducible from the same thread but it is unnecessary.

[2021-12-02 13:22] glemaitre commented on #21840
@agramfort Would this be achievable by internally preprocessing X and y as in the linear models before to compute the kernel and then apply the offset at predict?

[2021-12-02 13:26] #21401 closed

[2021-12-02 15:10] marinadelaunay commented on #20964
Hi, I would like to work on this issue. It would be my first contribution.

[2021-12-02 15:52] gennaro-tedesco opened #21858 "get_feature_names() FutureWarning"
### Describe the issue linked to the documentation

It is becoming increasingly difficult to work with different versions of the package due to the habit of `scikit` to force Deprecation and Future warning even for modules that are not directly called or invoked during execution. In particular I am working with the following environment
[code]
invoking
[code]
and executing it. This in turn generat

[2021-12-02 15:57] #19137 closed

[2021-12-02 16:10] glemaitre commented on #21858
Could you provide the full snippet that issue the warning.

[2021-12-02 16:20] glemaitre commented on #21858
Usually the warning will be triggered when accessing the deprecated function:

[code]

This will silence the warning:

[code]

[2021-12-02 16:41] glemaitre commented on #21858
Most probably `sklearn_pandas` is doing the call for you. We indeed need to issue the warning such that they are resolving the problem. Otherwise, your code will not work anymore. One way to solve the problem is therefore to contribute to the package that triggers the warning such that all users benefit from this change. For instance, the scikit-learn project is catching the upcoming deprecation f

[2021-12-02 16:45] gennaro-tedesco commented on #21858
I am indeed using `from sklearn.preprocessing import OneHotEncoder` (indirectly I must say, I have it in a custom transformer elsewhere). What is the current treatment of one hot encoding? I have seen [this answer](https://stackoverflow.com/a/54362051/5017267), however I have not seen relevant recommendations [in the docs](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.One

[2021-12-02 18:55] ogrisel commented on #18894
And alternative would be to make HGBRT accept a `feature_names` fit parameter and allow to pass a list of string values for the `categorical_features=["feature_1", "feature_42", ...]` constructor parameter.

Now that  `ColumnTransformer` and `OrdinalEncoder` has `get_feature_names_out`, we could have the pipeline use those to automatically fit it .

Alternatively (not necessarily mutually exclusiv

[2021-12-02 20:12] #21685 closed

[2021-12-02 20:23] mridunanda commented on #19132
Hi! I am using scikit-learn 0.24.2, but getting the same error.
I verifies scikit-learn version by:
import sklearn
print(sklearn.__version__)

[2021-12-02 21:11] thomasjpfan commented on #18894
Are you thinking of something [like this](https://numpy.org/doc/stable/user/basics.subclassing.html#slightly-more-realistic-example-attribute-added-to-existing-array) for annotating ndarrays?

[2021-12-02 22:07] YannDubs opened #21861 "MultiOutputClassifier should have `decision_function`"
### Describe the workflow you want to enable

We should be able to use `MultiOutputClassifier` as (essentially) a drop in replacement for the underlying classifiers. RIght now it has the functions `predict`  and `predict_proba` (if the defined in underlying function) but missing `decision_function` (e.g. for svm).

### Describe your proposed solution

Use exactly the same code as `predict_proba` :

[2021-12-03 00:12] monajalal opened #21863 "Stratified 5-fold cross validation of continuous valued target for regression problem throws error"
### Describe the bug

For this code:

    #x_train, x_val, y_train, y_val=train_test_split(x,y,test_size=0.3, random_state=42)
    x_train, x_val, y_train, y_val = train_test_split(x, y, test_size=0.3, random_state=42, stratify=y)
    train = [x_train, y_train]
I get the following error:

    ---------------------------------------------------------------------------
    ValueError

[2021-12-03 01:20] chritter commented on #21863
@monajalal I would suggest to post this in the discussions https://github.com/scikit-learn/scikit-learn/discussions for helpful advice. It is not a sklearn bug as you report it.

[2021-12-03 01:20] RanZhang08 opened #21864 "issue for RMSE calculation using mean_squared_error function"
### Describe the bug

It seems RMSE calculated using _mean_squared_error(y_true, y_pred, squared=False)_ in some later sklearn versions (at least in 0.24.2 and 1.0.1 I tested) are problematic, where it first calculates the means across rows, and then takes the square root, and then reports the mean across columns as RMSE. This value is different from the square root of MSE. This problem does not e

[2021-12-03 01:25] #21863 closed

[2021-12-03 01:29] monajalal opened #21867 "stratified 5-fold cross validation for when you wanna stratify on continuous target variable"
### Discussed in https://github.com/scikit-learn/scikit-learn/discussions/21866

<div type='discussions-op-text'>

<sup>Originally posted by **monajalal** December  2, 2021</sup>
Hello,
Could you please take a look at these two issues and answer whichever possible?
https://github.com/scikit-learn/scikit-learn/issues/21863
https://github.com/DanilZherebtsov/verstack/issues/11

Specifically, using v

[2021-12-03 02:17] thomasjpfan commented on #20819
I am trying to think of a good roadmap to get a tree refactor going since the tree code is coupled together. There is a lot of code to refactor to satisfy all the use cases. The refactor would make new features easier but the first PR will take a long time to review.

`SplitRecord` being a struct is useful because it does not require the `gil` to create. I think are ways to work around this and ma

[2021-12-03 02:29] chritter commented on #21861
I am font of the proposal! If the suggested enhancement is accepted by the core devs I would like to implement it.

[2021-12-03 04:16] changhsinlee commented on #20943
@lorentzenchr I'm thinking about taking a stab at this. I have a two questions about `d2_log_loss_score`.

Q1: I can't seem to locate literature that specifically uses `log_loss` in computation. Any pointers here for reading on how D2 and `log_loss` are used together? I am not too familiar with D2 overall so anything is welcome. Already checked out the Hastie & Tibshirani reference in the docstrin

[2021-12-03 04:26] adam2392 commented on #20819
Sounds good. Happy to help implement this!

Is this because cython doesn't support enough c++ features yet? I was thinking that if you can sub-class the `SplitRecord`, and `Splitter`, then the `Tree` object should work out of the box? In https://github.com/neurodata/scikit-learn/pull/11, the `Tree` code is actually all the same except for the type of SplitRecord and Splitter.

I can come to OH to

[2021-12-03 06:20] glemaitre commented on #21867
In scikit-learn, the stratification is only for categorical targets thus for classification targets.

[2021-12-03 06:46] glemaitre commented on #21867
This is a duplicate of #4757. Since there is a lot of discussion there, I will close this issue in favour of the original one that links to some POC PRs.

[2021-12-03 06:46] #21867 closed

[2021-12-03 06:49] glemaitre commented on #21864
Yes it seems logical given the default parameter of 'multi output'. You can get the raw values if do not wan the average.

[2021-12-03 06:56] glemaitre commented on #21861
What would be your proposal when dealing with multiclass-multioutput, where the underlying classifier would return a shape of (n_samples, n_features)?

A list of such arrays could be a solution inline with the predict_proba shape.

[2021-12-03 07:06] YannDubs commented on #21861
I was thinking exactly the same as `predict_proba` (i.e. the list as you said) to stay consistent.

THe point I'm not sure about is code duplication. I'm not sure whether there are other functions that should also have this type of output (e.g. `predict_log_proba` or `decision_path`) in which case it might be worth not duplicating code and having a generic way of calling the underlying functions a

[2021-12-03 12:41] Abelcanc3rhack3r opened #21868 "When Simple Inputer is part of a Pipeline, NaN values still exist!"
### Describe the bug

When SimpleInputer is included as part of a pipeline in front of a Estimator, and you give the pipeline a dataframe that contains NaN, the  estimator throws the
ValueError: Input contains NaN, infinity or a value too large for dtype('float64')

error!

### Steps/Code to Reproduce

[code]

However, if the simpleinputer is directly applied apart from the pipeline , and the outp

[2021-12-03 13:05] HeinzHinek opened #21869 "OneVsRestClassifier predict_proba raises UFuncTypeError when fit with identical labels"
### Describe the bug

The `OneVsRestClassifier` class, ignores the passed estimator and uses a `_ConstantPredictor` when all the labels passed during the `fit` call are the same class. However, this constant predictor causes the `predict_proba` method raise an error on the following line (multiclass.py, line 502):
[code]

### Steps/Code to Reproduce

[code]

### Expected Results

No error is raise

[2021-12-03 13:06] changhsinlee commented on #20943
Just realized that it's the same as McFadden's R^2 which was much easier to search than `D^2`. Thanks for [the doc](https://scikit-learn.org/stable/modules/model_evaluation.html#d2-score-the-coefficient-of-determination)!

e.g. https://thestatsgeek.com/2014/02/08/r-squared-in-logistic-regression/

I think I'll take on `d2_log_loss_score`. Thanks. Do I need to wait for progress on #21718 ?

[2021-12-03 13:54] glemaitre commented on #21868
The reason is that you have a `NaN` in `y`. `SimpleImputer` will only impute on `X`.
More generally, scikit-learn does not support having missing values in the target.

[2021-12-03 13:54] #21868 closed

[2021-12-03 13:58] glemaitre commented on #21864
Basically, the right implementation would be to compute the RMSE for each output and then take the mean:

[code]

Which is the same as what the function return.

If you don't want to average across outputs, then you will get:

[code]

That shows that the RMSE per output is fine.

[2021-12-03 13:58] #21864 closed

[2021-12-03 14:01] glemaitre commented on #21869
This seems to be a legit bug and it should be possible to solve.

[2021-12-03 15:32] thomasjpfan commented on #20819
I'll be attending so we can chat there. In the `ObliqueTree` case, it needs to know how to add a node based on the custom `SplitRecord`, which is what you did with `_add_oblique_node`. If we want to be fully generic, then the `SplitRecord` should be passed into `_add_node` and we let the tree decide how it wants to add the record. `ObliqueTree` also needs to have its own `apply` functions because

[2021-12-03 16:31] lorentzenchr commented on #20943
@changhsinlee A McFadden R2 version for log loss is not controversial, IMO, so go ahead. A PR is most welcome.

[2021-12-03 18:58] Karlish-OMG opened #21872 "bug in all 'fit' method"
### Describe the bug

 i use `fit` like this:
[code]

after i fit the model, i find the value in cws was changed ! I spent lots of time to find why, and **i found when cws's type is dataframe( Series), its value will change**. when cws is a np.array, its value will not change after i use `fit`.

i know i can use array to avoid such situation, but i think it's unreasonable to change the values in c

[2021-12-03 21:31] cmarmo commented on #1778
I'm closing this one as a [solution](https://github.com/scikit-learn/scikit-learn/issues/1778#issuecomment-14970286) and versions have moved forward. Also there is no reproducible code so it is quite difficult to track the bug.
Feel free to open a new issue if needed, with updated code. Thanks!

[2021-12-03 21:31] #1778 closed

[2021-12-04 06:18] MrinalTyagi commented on #21406
Working on 'GridSearchCV'

[2021-12-04 12:58] kno10 opened #21875 "Non-standard "negative_outlier_factor_""
### Describe the bug

The scikit-learn implementation uses `negative_outlier_factor_`, which seems to be simply the negative of the standard local outlier factor. As I understand the objectives of scikit-learn, I thought the project usually prefers to implement the standard version, I have not yet seen any literature that uses such negative factors.
What is the motivation for this? It tends to con

[2021-12-04 13:01] kno10 opened #21876 "LocalOutlierFactor exposes methods that it shouldn't"
### Describe the issue linked to the documentation

The LocalOutlierFactor class (and hence documentation) exposes methods that it probably shouldn't:

https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.LocalOutlierFactor.html#sklearn.neighbors.LocalOutlierFactor.kneighbors
https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.LocalOutlierFactor.html#sklearn.neighbor

[2021-12-04 13:43] chritter opened #21877 "MultiOutputClassifier example"
### Describe the issue linked to the documentation

Hello,

I noticed that the [code example](https://scikit-learn.org/stable/modules/multiclass.html#multioutputclassifier) under 1.12.2.2. MultiOutputClassifier would fall under the category "Multiclass-multioutput
classification" (3 labels, each 3 classes) and would better fit under 1.12.3. Multiclass-multioutput classification.

### Suggest a pot

[2021-12-04 14:16] chritter commented on #21861
@YannDubs @glemaitre What is your opinion on the following approaches:
* A) We use same approach as for `predict_proba` as suggested by Yann.
* B) To make all methods of the underlying classifier available in MultiOutputClassifier we modify the class instance to include relevant methods during init, each via `foo.sample_method = types.MethodType(sample_method, foo, Foo)` but its clear this has [dr

[2021-12-04 16:37] jmaruskin opened #21879 "real-world dataset fetch_covtype broken"
### Describe the bug

I am getting an error when trying to import the fetch covtype dataset (https://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_covtype.html)

perhaps a broken web link somewhere?

### Steps/Code to Reproduce

[code]

### Expected Results

data should be imported

### Actual Results

[code]

### Versions

[code]

[2021-12-04 20:02] glemaitre commented on #21879
I cannot reproduce in 1.0.1. Could you delete the cached file that should be located in `"/Users/{home_folder}/scikit_learn_data/cover_type"` and try to run the code again? It could be that the file is corrupted.

Before deleting the pickles files, could you check what names are given to them? We should understand why the pickling/unpickling did not work as expected.

[2021-12-04 20:05] glemaitre commented on #21877
I am thinking that we should probably move the `MultiOutputClassifier` into the section "Multiclass-multioutput" and add a note that it would handle the multilabel case since multilabel is a specific case of multiclass-multioutput.

[2021-12-04 20:16] glemaitre commented on #21876
pinging @ngoix @agramfort Was there any use case for exposing those methods?

[2021-12-04 20:22] glemaitre commented on #21875
I think that we want to be consistent with our definition of scores (for the best or worse) that higher means better. This is similar to taking the negative of errors.

[2021-12-04 20:30] glemaitre commented on #21872
Could you provide a reproducible example in sklearn 1.0.1. The following snippet is working for me.

[code]

[2021-12-04 20:33] glemaitre commented on #21872
I cannot reproduce either in 0.23.2. So we will need a reproducible example from your side.

[2021-12-04 20:46] jmaruskin commented on #21879
Thanks, that seemed to work.

In scikit_learn_data/cover_type, I had a file called samples_py3.

[2021-12-04 20:53] chritter commented on #21877
@glemaitre Thanks for your advice. Yes, this is another option as two examples would mean a high level of redundancy. I will suggest a change based on your proposal.

[2021-12-04 21:16] glemaitre commented on #21879
So something was wrong with the pickling and I don't think that we can solve it apart from removing the cache.

[2021-12-04 21:16] #21879 closed

[2021-12-04 21:48] hvassard commented on #20724
Working on SpectralClustering

[2021-12-04 23:32] kno10 commented on #21875
What is "better"? If the purpose is to detect outliers, "better" probably is "more certainly an outlier". That is the most common in outlier detection literature, to score some "outlierness" not some "inlierness". I don't think the negative scores have particular nice or meaningful semantics. It's not that normal object are at 0 ("no error").
I first thought "oh, you want -1 to be noise and 0 to b

[2021-12-05 08:39] Karlish-OMG commented on #21872
Sorry for misleading infomation! i tried today again, found the bug would arise only when i use` adaboostclassifier.fit()`
And the version of sklearn on Kaggle is 0.23.2
[code]

[2021-12-05 09:24] clemencestr commented on #7686
Hello, for my first issue I would like to work on this issue. I began with the regression part of the map.
I used this source : https://towardsdatascience.com/choosing-a-scikit-learn-linear-regression-algorithm-dd96b48105f5

Do you think it's a good start ?

![regression](https://user-images.githubusercontent.com/71872551/144740900-3135b627-9e49-4622-a34a-ca5df48113dc.png)

[2021-12-05 09:29] glemaitre commented on #21872
Indeed, I can reproduce in 0.23.2 but we already solved this bug and it is not present in 1.0.1

[2021-12-05 09:29] #21872 closed

[2021-12-05 10:15] hemangjoshi37a opened #21882 "Please add support for python3.10"
### Describe the workflow you want to enable

Please add support for python3.10

### Describe your proposed solution

Please add support for python3.10

### Describe alternatives you've considered, if relevant

Please add support for python3.10

### Additional context

Please add support for python3.10

[2021-12-05 10:52] agramfort commented on #21876
Agreed it shouldn’t be public methods

[2021-12-05 11:09] glemaitre commented on #21876
OK so we should make a deprecation and go ahead with the proposal of @kno10

[2021-12-05 11:22] AChand20 opened #21883 "'cv_results_' dictionary should also have a 'difference' key when 'return_train_score = TRUE'"
### Describe the workflow you want to enable

The `cv_results_` dictionary generated by `sklearn.model_selection.GridSearchCV` and `sklearn.model_selection.RandomizedSearchCV` only has a key `rank_test_<score_name>` to show ranking of the best parameter candidate but this rank is sometimes misguiding.

Example (Taken from the skikit-learn documentation of `sklearn.model_selection.GridSearchCV`):-

[2021-12-05 17:04] thomasjpfan commented on #14959
There is a fix in the works here: https://github.com/scikit-learn/scikit-learn/pull/20653

[2021-12-05 17:12] thomasjpfan commented on #21882
With https://github.com/scikit-learn/scikit-learn/pull/21232 merged, we expect Python 3.10 wheels to be released in `scikit-learn==1.0.2`.

[2021-12-05 17:12] #21882 closed

[2021-12-05 17:35] arisayosh commented on #21406
Taking a look at `ColumnTransformer`, `Pipeline`, `FeatureUnion` with @iofall

[2021-12-05 19:29] s-banach opened #21887 "Mistake in the deprecation warning for `normalize` parameter of linear models."
### Describe the bug

Here is the deprecation warning for the use of `normalize=True` in a linear model.
(Notice it suggest a method to "reproduce the previous behavior.")

[code]

As best I can judge, this method for reproducing the old behavior is incorrect. Please allow me to illustrate with a trivial example.

### Steps/Code to Reproduce

[code]

### Expected Results

[code]

### Actual Result

[2021-12-05 19:38] s-banach commented on #21887
Sorry, I think all that's different is the interpretation of `alpha`. I was just being dumb here.

[2021-12-05 19:38] #21887 closed

[2021-12-05 21:20] adam2392 commented on #20819
Sounds good. I will be there.

Sounds like a good plan and idea to me. We are happy to work with you extensively on implementations and refactoring.

This generalization could then very easily allow researchers to generalize the sklearn implementation and build their own Splitters that can then be housed in another repository. For example, one can imagine a number of "new research" Splitters that

[2021-12-06 02:16] ageron opened #21891 "Lasso(alpha) = SGDRegressor(alpha, penalty="l1"), but Ridge(alpha) = SGDRegressor(alpha / len(train_set))"
### Describe the bug

`Ridge` and `SGDRegressor` are inconsistent in the way they handle the regularization hyperparameter `alpha`:

* `Ridge(alpha=alpha)` is equivalent to `SGDRegressor(alpha / m, penalty="l2", ...)`, where `m` is the training set size.
* But `Lasso(alpha=alpha)` is equivalent to `SGDRegressor(alpha, penalty="l1", ...)`, which is great.

Looking at the source code of `SGDRegresso

[2021-12-06 02:33] TDHTTTT commented on #19132
@mridunanda
Make sure you have this line before importing. That was the issue for me.
`from sklearn.experimental import enable_halving_search_cv`

[2021-12-06 02:53] sunpengliang commented on #12592
I known what you say, but I am confused about the  location of relevant code? as you say, no code use the constant_feature.

[2021-12-06 02:59] sunpengliang commented on #12592
I am still confused, as you say, the constant_features, no code use it , so how can the elements of feature reordered?

[2021-12-06 04:52] srinathreddychitteti commented on #21236
@reshamas
I added all remaining links in my pull requests.

[2021-12-06 06:50] kaush26 commented on #21891
The alpha of _SGDRegressor_ is different form that of Ridge, but same for _Lasso_ is may be because the cost function of _Ridge_ is slightly differ than that of Lasso and _SGDRegressor_ as per their _doc_.

**i.e.**

- Loss of Ridge:

      |(|y-Xw|)|_2^2+α_r |(|w|)|_2^2

- Loss of Lasso :

     1/m |(|y-Xw|)|_2^2+α_l |(|w|)|_1

- Loss of SGDRegressor :

     1/m |(|y-Xw|)|_2^2+α_s |(|w|)|_k^k

wh

[2021-12-06 06:57] kaush26 commented on #21891
The `alpha` of `SGDRegressor` is different form that of `Ridge`, but same for `Lasso` is may be because the cost function of `Ridge` is slightly differ than that of `Lasso` and `SGDRegressor`.

**i.e.**

- Loss of Ridge:

     ` ||y - Xw||_2^2 + α_r * ||w||_2^2`

- Loss of Lasso :

     `1 / m ||y - Xw||_2^2 + α_l * ||w||_1`

- Loss of SGDRegressor :

     `1 / m ||y - Xw||_2^2 + α_s * ||w||_k^k`

[2021-12-06 08:33] edgBR commented on #21846
Dear @glemaitre,

As you suggested changing to HistGradientBoostingRegressor make Case 2 working like charm. Then I realized that despite of setting the multiple input output regressor outside or inside the scikit learnpipeline I need to ingest parameters with:

estimator__estimator__

However xgboost is still not working.

Would you suggest that I repor this bug there?.

[2021-12-06 08:34] ulupo commented on #21882
Thanks @thomasjpfan !  Any rough timeline for the release of 1.0.2?  An order of magnitude estimate is more than enough for me!

[2021-12-06 08:49] AChand20 commented on #21883
sorry... i just found out that it was more like a "bug". so I'm gonna report it again as a bug.

[2021-12-06 09:02] glemaitre commented on #21846
The `AssertionWarning` is indeed raised on their side and the correction would need to be done in their codebase. I think that it would be valuable to solve the problem since that your use case seems to be normal and I expect it to work.

Could you give more detail? Here, you get and optimize the average of the mean absolute error. This metric is reported in the `cv_results_` attribute of the grid

[2021-12-06 09:07] glemaitre commented on #21891
Yep this look at what we are discussing here https://github.com/scikit-learn/scikit-learn/issues/15657
and that recently pointed out here https://github.com/scikit-learn/scikit-learn/discussions/21238#discussioncomment-1752084

We should settle on the definition of the loss, how to handle `sample_weight` and document it clearly.

[2021-12-06 09:12] glemaitre commented on #15657
I am coming back on this RFC because it recently appear in some new issues and discussions.
Putting @agramfort in the loop. As I mentioned in the different discussions, I think that we should settle on the loss of the linear model and how sample-weight is used. Once we have that we can design the expected tests and solve any bugs if there are any. In addition, we should then document it properly a

[2021-12-06 09:30] ogrisel commented on #18894
Wrapping is an option. An alternative would be to have an external global variable holding a some kind of [weakref.WeakKeyDictionary](https://docs.python.org/3/library/weakref.html#weakref.WeakKeyDictionary) with arrays as keys and annotated attributes as arguments. The standard `weakref.WeakKeyDictionary` do not accept numpy arrays as keys but it's possible to implement something similar as follo

[2021-12-06 09:36] edgBR commented on #21846
Hi @glemaitre

As you pointed out the metric is available in cv_results_in and I am actually saving this as follows:

[code]

However at the end of the day I am predicting multiple targets and the error that I am getting here is the MAE for all of the targets on average (if I understood correctly the docs):

The question now is how I can add to the scoring within random_grid this parameter

[code]

[2021-12-06 11:17] AChand20 opened #21895 "GridSearchCV & RandomizedSearchCV has a ranking issue when test scores are same."
### Describe the bug

During best parameter candidate search when two parameter candidates have the same `mean_test_<scorer_name>` then the `rank_test_<scorer_name>` ranks them the same, and if both have rank 1 then the algorithm picks the one that come first.

### Steps/Code to Reproduce

[code]

### Expected Results

Both function calls should return the same output for `clf.best_params_`
i.e  `

[2021-12-06 11:28] AChand20 commented on #21895
I would like to work on this issue if the bug gets confirmed.

[2021-12-06 14:49] adrinjalali opened #21897 "CircleCI failure on "doc" build"
Since "CI Simplier wheel building config [cd build gh] (#21849)" circleci has been consistently failing around an example which does not take long at all when run locally. It also doesn't fail on `doc-min-dependencies`. Here's an [example CI run](https://app.circleci.com/pipelines/github/scikit-learn/scikit-learn/20896/workflows/6f731efa-bb1f-439f-8f1d-01c62e483829/jobs/165939) with the following

[2021-12-06 14:50] adrinjalali commented on #21838
cc @scikit-learn/core-devs

[2021-12-06 14:52] adrinjalali commented on #21838
I'd be +1 on either `__sk_clone__` or `.clone()` on every estimator.

[2021-12-06 15:07] glemaitre commented on #21897
I tried to reproduce locally with the same environment on a linux machine and building the full documentation and everything went fine. I will try to send a build and connect via ssh to the machine on CircleCI but this is a rather complicated issue.

[2021-12-06 15:07] lorentzenchr opened #21898 "Link airspeed benchmarks page in the scikit-learn webpage"
### Describe the issue linked to the documentation

Link the site https://scikit-learn.org/scikit-learn-benchmarks/ and https://github.com/scikit-learn/scikit-learn-benchmarks in the homepage https://scikit-learn.org.

Follow-up on #17026

[2021-12-06 15:19] thomasjpfan commented on #21882
If all goes well: middle of December 2021.

[2021-12-06 15:38] lorentzenchr commented on #18894
Hmm🤔 As I mentioned elsewhere, I'm not a proponent of global variables/settings. Though, I like the weakref proposal.
In the end, it boils down to the question: How do we pass metadata in a pipeline and other meta-estimators? To solve the current issue of passing categorical features to HGBT, meta-data is not sample-aligned, but like feature-aligned.
Possible solutions are:
- Include metadata in t

[2021-12-06 16:09] #21236 closed

[2021-12-06 16:37] thomasjpfan commented on #21897
Copying my response from https://github.com/scikit-learn/scikit-learn/pull/21859:

[2021-12-06 17:52] psmgeelen commented on #16517
Hi there, what is the latest on this? I am trying to use the library as can be found on:  https://github.com/sahandha/eif, but there are a couple of issues with it, particularly in pickling the object. A pull request for a python/numba implementation has already been delivered via a pull-request but seems to be unanswered https://github.com/sahandha/eif/pull/24. What more do we need?
I want to add

[2021-12-06 18:34] adam2392 commented on #20819
Keeping notes from Discord discussion:
The general issue is regarding inclusion of OF and how to tell users about RF vs OF. How can we convince core dev team that adding this complexity is worth it.

- empirical simulation of scaling of time to show users of what RF vs OF.
- do `make regression` and `make classification` or scikit-learn datasets modules to make datasets that linearly connected and

[2021-12-06 19:40] valenad1 commented on #16517
@psmgeelen If you would like to have another python implementation, there is also Extended Isolation Forest by H2O-3 open-source: https://docs.h2o.ai/h2o/latest-stable/h2o-docs/data-science/eif.html

Any feedback will be appreciated.

[2021-12-06 23:06] nxorable commented on #8370
Regarding a [static transformer (option 4 referenced above)](https://github.com/scikit-learn/scikit-learn/issues/8370#issuecomment-467509431), maybe something like this?

[code]

[2021-12-07 00:18] reshamas commented on #20724
Working on:  file (class)
- `linear_model/_glm/glm.py` (GeneralizedLinearRegressor)
- `linear_model/_glm/glm.py` (PoissonRegressor)
- `linear_model/_glm/glm.py` (GammaRegressor)
- `linear_model/_glm/glm.py` (TweedieRegressor)

[2021-12-07 01:40] GeorgeZan opened #21906 "SGDClassifier breaks down when encountering unseen values?"
### Describe the bug

https://stackoverflow.com/questions/70253946/sgd-breaks-down-when-encountering-unseen-values

### Steps/Code to Reproduce

-

### Expected Results

-

### Actual Results

-

### Versions

-

[2021-12-07 08:26] ogrisel commented on #21906
Is this specific to `SGDClassifier`? Or can you reproduce the problem with other classifiers with different solvers such as `LogisticRegression`?

Can you please craft a minimal reproducer with a synthetic dataset so that we can reproduce the problem without any ambiguity? Please also include the expected and observed results in your report.

[2021-12-07 08:58] lorentzenchr commented on #18893
Meanwhile, https://github.com/Quantco/glum uses this trick with https://github.com/Quantco/tabmat.

[2021-12-07 09:19] ulupo commented on #21882
Thanks @thomasjpfan!

[2021-12-07 09:20] ogrisel commented on #21407
@g4brielvs  @CeeThinwa: I myself had a look at the cause of the slow `test_linear_models_cv_fit_for_all_backends` tests and it was more complex than anticipated.  I proposed a refactoring of that test in #21907 if you are interested.

[2021-12-07 10:00] lesteve opened #21908 "plot_tree diagram is cropped in iris example"
https://scikit-learn.org/stable/auto_examples/tree/plot_iris_dtc.html

![image](https://user-images.githubusercontent.com/1680079/145007054-e3e6e621-9243-45f5-a7c0-e56dc298ecc1.png)

Note: I tried fixing it quickly by playing with the figsize to no avail. Looks like you can see the full diagram on the matplotlib figure but the diagram is cropped when saving to a png.

Looks like it was working fin

[2021-12-07 10:15] glemaitre opened #21909 "Remove deprecation warning for scipy.interp"
### Describe the issue linked to the documentation

`scipy.interp` is deprecated and we should use `np.interp` instead:

[code]

I saw the warning in the documentation so we should check the different example to correct that.

### Suggest a potential alternative/fix

_No response_

[2021-12-07 10:17] glemaitre commented on #21908
Is a `plt.tight_layout` would do the job?

[2021-12-07 10:22] lesteve commented on #21908
Nope, the png is still cropped.

[2021-12-07 10:38] lesteve commented on #21908
Seems like a regression in 1.0, the png is fine with scikit-learn 0.24.2 and keeping the same matplotlib version (3.4.2 for completeness).

[2021-12-07 10:46] glemaitre commented on #21908
I have two candidates PRs for introducing the regression:

- https://github.com/scikit-learn/scikit-learn/pull/17187
- https://github.com/scikit-learn/scikit-learn/pull/20023

Otherwise we did not change anything that should impact the tree plotting

[2021-12-07 13:54] Nivi09 commented on #21906
Hello, I would like to work on this.  As ogrisel mentioned, can you provide the synthetic dateset to reproduce the problem  ?

[2021-12-07 14:07] Nivi09 commented on #21895
Hello, I would like to work on this issue.

[2021-12-07 14:43] #21909 closed

[2021-12-07 14:53] thomasjpfan commented on #21895
The issue with using `train_score` is that it does not describe the generalized performance of the configuration. Also it is only available if `return_train_score=True`. If we do want to rank parameters with the same mean test performance, then I think using the `fit` time would be better. In this case, when configurations have the same `mean_test_score`, then the configuration that fitted quicker

[2021-12-07 16:16] GeorgeZan commented on #21906
Hello @ogrisel , @Nivi09 - thank you for your answers.

I do not have any synthetic data, I use a real dataset that I cannot really share.

But if you pick any dataset from the Internet that has categorical variables or even better text then you can easily test what I describe.

It does not have to be only eg with categorical; it can be 9 numerical features and 1 categorical feature.
Especially if

[2021-12-07 16:51] adrinjalali commented on #21897
Two things that come in mind:

We switched the mnist to use the one which has 70k samples instead of 62k. We could create a small mnist dataset on openml with 20k samples, which should be enough for our examples and use that one.

What happened to moving doc build to azure? I can't find the PR, was @jjerphan working on it? Not sure.

[2021-12-07 16:53] lesteve commented on #21908
Seems to be culprit https://github.com/scikit-learn/scikit-learn/pull/20023. I looked a bit at the code but this looks a bit too much for my matplotlib skills, maybe @thomasjpfan has some insights into this?

[2021-12-07 16:59] jjerphan commented on #21897
@adrinjalali: are you referring to https://github.com/scikit-learn/scikit-learn/pull/21721 (which was superseded by https://github.com/scikit-learn/scikit-learn/pull/21715)?

[2021-12-07 17:08] thomasjpfan commented on #21908
#20023 is the issue. Reverting it would also lead to another regression. I'm looking into a fix.

[2021-12-07 17:19] adrinjalali commented on #21897
No, the idea was to build the docs on azure, and then use circleci only to store the artifacts. Or maybe the idea was to build them on GitHub actions, not sure. But either way, it would make us not use circleci for such long builds anymore.

[2021-12-07 17:28] jjerphan commented on #21897
I see, apart from simple hotfixes I have not worked actively on the CI lately.

The two PR I worked on for the CI are https://github.com/scikit-learn/scikit-learn/pull/21744 and https://github.com/scikit-learn/scikit-learn/pull/21174.

[2021-12-07 18:23] lorentzenchr commented on #21838
I'm not yet decided. I'm wondering why Python has a [`copy`](https://docs.python.org/3/library/copy.html) function and not a copy method? Otherwise, I agree with the arguments made.

[2021-12-07 20:02] das-ankur commented on #21908
Can resizing the image when it's opened by imread() solve the issue?

[2021-12-07 22:44] thomasjpfan commented on #21897
I will prioritize working on moving doc building away from circleci this week as denoted in https://github.com/scikit-learn/scikit-learn/issues/21068.  Azure has [7 GB of ram](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#hardware) so it should be sufficient to run the doc build.

[2021-12-08 00:49] chritter commented on #21861
If there are no preferences regarding the options, I will submit a PR with option A) as the approach will be in scope of the issue.

[2021-12-08 03:47] thomasjpfan commented on #21908
That would not resolve the issue because the saved image itself is drawn incorrectly. One can test this out by running:

[code]

and open `tree.png` file in an image viewer.

I opened #21917 to resolve this issue.

[2021-12-08 03:49] YannDubs commented on #21861
(A) sounds like the best option for now.

Full generality to avoid code duplication would likely be better in the long run but should probably be discussed in more depth by the core team as this will be a reoccuring issue and the solution should be standardized over all of sklearn.

[2021-12-08 03:57] Nivi09 commented on #21906
Hi @GeorgeZan , let me rephrase the issue that you have described and please correct me if I have not understood it correctly.
The task is a classifier algorithm, let's say a data set with 9 numerical predictors and target label as class. For example, let's say you have dataset of len 1000 and your target label contains 5 classes - C1, C2, C3, C4, C5 and there is only one observation for class C5.

[2021-12-08 07:55] AChand20 commented on #21895
But `fit time` is not a consistent variable. It will change the rank every time we run the code (Tested this on the example code above).
How about we don't change the ranking, instead we return all configurations that have the same `mean_test_score` and are ranked 1.

So now in my particular example above `clf.best_params_` will return both parameter candidates and the end user will try both and c

[2021-12-08 09:08] ogrisel commented on #21906
In general, any classifier can never predict a class that was not part of the training set. I am not sure what break down means in this context.

Can you please craft a standalone reproducible code snipet example that generates its own toy dataset so that we can just execute ? I am afraid the English language is ambiguous while Python is not.

Please also report the result you observe and the outp

[2021-12-08 12:06] kittiquel commented on #13354
In case anyone else stumbles on this due to a Google search, this issue is documented in [Python Issue 26903](https://bugs.python.org/issue26903).

Multiprocessing has a limitation on Windows, max_workers needs to be 61 or less.  The ValueError states 63 handles, but does not account for the result queue and process wake up readers, hence the 63 - 2.

[2021-12-08 13:04] #21908 closed

[2021-12-08 13:22] Nivi09 commented on #21906
Hi @ogrisel, GeorgeZan has mentioned that - SGD results returns essentially random predictions (or at least not directly related).
I think this is what  break down means. Please correct me if my understanding is not correct @GeorgeZan ?

[2021-12-08 13:26] ogrisel commented on #21838
I think I am fine with `__sk_clone__` if it allows more flexibility for third party contributors.

[2021-12-08 13:43] Nivi09 commented on #21895
Hello @AChand20 and @thomasjpfan, as AChand20 mentioned, I also thought of the same thing.

Two approaches, :
1. return all in best_aparams having same mean test score
2. Sort the parameters combination in lexicographical order and return the top most.

I would like to work on this. Please let me know if my approach is correct and if I can start to work on this.

[2021-12-08 14:01] rth commented on #21838
What's the advantage of calling it  `__sk_clone__` instead of adding `clone` to BaseEstimator and overwriting it in downstream classes when necessary? The `clone` function could still call this method when it exists, but it means we would be able to call `estimator.clone()` for scikit-learn estimators which is something I have missed for a while. It's really not intuitive that there is a `ndarray.

[2021-12-08 14:04] GeorgeZan commented on #21906
@Nivi09, yes indeed.
"Hi @ogrisel, GeorgeZan has mentioned that - SGD results returns essentially random predictions (or at least not directly related).
I think this is what break down means."

To give a hypothetical example, let's say I have a model with 9 numerical features and a categorical feature and let's say there are 3 classes in my problem (A, B, C class).
i)
If I keep the categorical fea

[2021-12-08 15:13] BramVanroy opened #21919 "Cross-validation graph: which data is used in cross-validation?"
### Describe the issue linked to the documentation

I think the graph of cross-validation can be improved a bit. It's [here](https://scikit-learn.org/stable/modules/cross_validation.html#computing-cross-validated-metrics) ([direct link](https://scikit-learn.org/stable/_images/grid_search_workflow.png)). As currently shown, it is not clear which part of the data is used in cross-validation.

### Su

[2021-12-08 16:54] BrunoBarre opened #21921 "DummyClassifier does not pass check_estimator"
### Describe the bug

Hi, the `sklearn.dummy.DummyClassifier` fails when tested with `sklearn.utils.estimator_checks.check_estimator`.
I expect it to pass, for example with parameter `strategy="prior"`, or `strategy="most_frequent"`.

Here is the code to reproduce the (simple) failure :
[code]

I got the following error :
[code]

I know my scikit-learn version is not up-to-date (`sklearn version 0

[2021-12-08 16:59] lesteve commented on #19774
The high memory-usage only happens for `as_frame=True` and not `as_frame=False`, so there is likely some inefficiency in the code creating the dataframe. In the snippet below `as_frame=True` uses ~3.5GB and `as_frame=False` uses ~800MB.

[code]

[2021-12-08 17:28] lesteve commented on #21897
I opened #21922 as a potential quick fix (it considerably reduces memory usage for mnist dataset by using `as_frame=False`).

 By the way the last build on master of the doc is green :man_shrugging: https://app.circleci.com/pipelines/github/scikit-learn/scikit-learn/20979/workflows/f4efceec-734e-4c10-88d9-9add8d632379/jobs/166261 whereas it has been consistently red for some time ...

[2021-12-08 17:34] glemaitre commented on #21897
By how much? Is it that we have fewer copies going in the ARFF reader?

[2021-12-08 20:55] jimbudarz opened #21926 "_partial_dependence_brute uses unnecessary memory"
### Describe the bug

When users run `_partial_dependence_brute` from `inspection_partial_dependence.py`, the following code is executed for every grid point (usually 100 times), in lines 149-150:

[code]

Since each loop overwrites a single feature at a time, it would be more efficient to move the `X.copy()` prior to the loop. Unless the model itself mutates the dataset, I don't think there's a r

[2021-12-08 21:25] Nivi09 commented on #21906
Hello @GeorgeZan , for the case 3 as you have mentioned:

If I keep the categorical feature in the model and the test set instance provided has a unknown/unseen value at the categorical feature then the model returns the following prediction:
B: 0.5
A: 0.3
C: 0.2

So, to which class do you expect this example to belong to ? Because I'm confused here when you mentioned - - ' (iii) it returns essent

[2021-12-08 22:04] reshamas opened #21927 "Use the function check_scalar for parameters validation"
## Background / Objective

Use the function [`check_scalar`](https://scikit-learn.org/dev/modules/generated/sklearn.utils.check_scalar.html?highlight=check_scalar#sklearn.utils.check_scalar) for parameters validation. The validation function checks to see the following for a parameter: is an acceptable data type, is within the range of values, the range of values ([interval](https://www.basic-math

[2021-12-09 03:05] andyquek opened #21929 "ModuleNotFoundError: No module named 'sklearn.linear_model'; 'sklearn' is not a package"
Hi, I have already install sklearn package on my computer and i've also checked using cmd. Everything checkout fine, like its installed and its in the directory as well.

But i cant seem to import it in my pycharm

Code:
[code]

![image](https://user-images.githubusercontent.com/55975108/145327228-51305b11-3e87-437d-a052-91ba5793ce7e.png)

![image](https://user-images.githubusercontent.com/5597510

[2021-12-09 06:31] cmarmo commented on #5367
Following the thread of the various PRs mentioned here I think this issue can be closed as commented [here](https://github.com/scikit-learn/scikit-learn/pull/5515#issuecomment-265609578). Feel free to reopen if this is not the case. (@rth, @amueller)

[2021-12-09 06:31] #5367 closed

[2021-12-09 06:56] cmarmo commented on #5799
I think this is related to #3020 and can be closed now.
@agramfort do you mind reopening if this is not the case? Thanks!