[2018-04-24 11:58] rth commented on #10446
The option to "to wait for CI when merging a PR" from https://github.com/sindresorhus/refined-github seems quite useful for reviewers as well...

[2018-04-24 12:11] rth commented on #10446
It also shows the number of accepted reviews / changes requested and the last updated date in the PR list, with sorted by "updated by default" (and lots of other small things),
![untitled](https://user-images.githubusercontent.com/630936/39185635-29fd23fc-47c8-11e8-9629-35926c4c83cc.png)

thanks to @nicoddemus for mentioning it!

cc @lesteve @jnothman @glemaitre @massich

[2018-04-24 12:52] lesteve commented on #11014
I looked at this in a little bit more details and it feels like we may need to revisit #3249. If I run the snippet from https://github.com/scikit-learn/scikit-learn/pull/3220#issuecomment-44810510 for example (which showed that precompute=False was faster than precompute=True) I actually get the opposite ordering on my machine:

[code]

Output:
[code]

[2018-04-24 12:57] qinhanmin2014 commented on #10446
Great tool @rth !
But what's your plan? Seems that it's an extension for web browsers so we are going to recommend it in contributing guide?

[2018-04-24 13:01] TeaPearce commented on #9601
+1 from here. maybe it's a sign I've put off getting to grips with gpflow for too long...

[2018-04-24 13:07] lesteve commented on #11014
@Meta95 I would still be interested by a snippet that is closer to your use case and that I can run on my machine. This would be very helpful to try to understand the problem further.

Full disclosure: I tried a few different things but the final fit was never the bottleneck, in contrary to what you are seeing, so I may be missing something.

[2018-04-24 13:21] kormilitzin opened #11023 "Is it possible to modify the decision tree splitting criteria (gini/entropy) for the cost-sensitive learning?"
For example, to split in order to reduce the number of false positives/negatives? Something like weighted / modified Gini index to favor one class in a binary classification problem for example?

[2018-04-24 15:58] amueller opened #11024 "Missing parameter validation in Neighbors estimator for float n_neighbors"
[code]
[code]
This should be caught earlier and a more helpful error message should be raised (or we could be lenient and cast to integer, but I think a better error might be better).

We need to make sure that
[code]
also works.

[2018-04-24 16:29] minggli commented on #10157
agree, it can be a multi-label problem which hasn't been implemented by metrics.log_loss. just add multi-label support in log-loss.

[2018-04-24 16:29] aadharna commented on #7175
@jnothman, my apologies for not getting back to this for a week -- i was out of town for most of last week.

Thank you for the links to those PRs!

I am assuming that I will need to update sklearn from 0.18.1 to whatever current master is at in order to merge/rebase in those PRs, correct?

[2018-04-24 17:31] amueller commented on #11023
class_weights does that.

[2018-04-24 17:31] amueller commented on #11023
Please don't post questions on the issue tracker, see http://scikit-learn.org/dev/faq.html#what-s-the-best-way-to-get-help-on-scikit-learn-usage

[2018-04-24 17:31] #11023 closed

[2018-04-24 19:41] rth commented on #10813
Yes, I think adding a convergence warning would have helped; as mentioned in https://github.com/scikit-learn/scikit-learn/issues/10813#issuecomment-37351338 there is no other immediately straightforward way to detect this issue otherwise.

I think https://github.com/scikit-learn/scikit-learn/blob/3e26fc63be99942ca32efd181f1ce04efeae418a/sklearn/linear_model/cd_fast.pyx#L320

and other `enet_coordi

[2018-04-24 19:58] rth commented on #2559
Is this still relevant?

There is also a corresponding PR in https://github.com/scikit-learn/scikit-learn/pull/2567

Or can both be closed on the grounds that no-one commented in either in 4.5 years ?

[2018-04-24 20:00] rth commented on #1456
Closing as fixed (at least since the pytest migration, probably before).

[2018-04-24 20:00] #1456 closed

[2018-04-24 20:05] rth commented on #1456
More specifically,
[code]
and https://github.com/scikit-learn/scikit-learn/blob/3e26fc63be99942ca32efd181f1ce04efeae418a/doc/conftest.py#L62-L63  Please reopen if it's still an issue.

[2018-04-24 20:45] agramfort commented on #2559
yes. Just use a pipeline with StandardScaler

[2018-04-24 20:45] #2559 closed

[2018-04-25 04:52] vivekk-ezdi opened #11028 "Should train_test_split warn or error out on single sample array?"
#### Description
`train_test_split` splits the single sample data such that train part has 0 samples and test has that sample. Also this behaviour is not affected by setting the `test_size` to any value.

#### Steps/Code to Reproduce
[code]

#### Expected Results
I am not sure of expected results as this seems like an unintended usage. But still think that at-least a warning (if not error) should

[2018-04-25 05:57] alexpantyukhin commented on #10985
I have made an example how it could be fixed. Could you please review it?

[2018-04-25 10:16] jnothman commented on #7175
#10280 won't be easy to merge, but #7177 should be

[2018-04-25 10:38] Alfo5123 commented on #11024
@amueller
I added a simple check for float inputs for  n_neighbors in order to throw ValueError if that's the case.

[2018-04-25 11:13] glemaitre commented on #10157
We checked with @ogrisel regarding the issue.

@minggli you should use `type_of_target` to identify if we have a binary or multilabel. In the case of binary we should encode and normalize while in the case of the multilabel we will not need any of those.

@jnothman @minggli We think that we should not support multiclass in the logloss. We should instead create a metric called `categorical_crossent

[2018-04-25 11:34] Meta95 commented on #11014
@lesteve Thanks for looking into it and checking out my pull request! It's a bit of a pain that it isn't as easy as removing the `self.precompute = False` line.

I wish I could provide something closer to my use-case that you could run. However I think this is just a constraint of your machine - how could you run against a data-set larger than your memory? In the meantime I have ran your script wi

[2018-04-25 11:45] rth commented on #11028
Thanks for raising this issue!

I think it would make sense to be consistent with `numpy.split` here,
[code]

The current behavior is consistent with it.

I agree that it's somewhat unintuitive, but so is any operation of empty array (or in this case an input that would produce an empty array), e.g.
[code]
scikit-learn just follows numpy conventions on this, so I'm going to close this. Please comm

[2018-04-25 11:45] #11028 closed

[2018-04-25 11:53] rth commented on #11028
Yes, the repartion between train and test is not satisfactory in this case, but rasing an error/warning for 1 input sample, and then not rasing it for 0 samples to be consistent with numpy is also not very satisfactory.  I can't think of a reason why why one would expect a meaningful train / test split with 1 sample and don't think we should spend time fixing this.

[2018-04-25 12:29] jnothman commented on #10157
Well, I agree that "log loss" is not the best name, and "logistic loss" is better, but I don't exactly see how you distinguish multinomial logistic loss from categorical cross entropy (i.e. why one should support multiclass and the other not).

There is nothing inconsistent about supporting multilabel and multiclass in the same function. The definitions are equivalent, but the current implementati

[2018-04-25 12:37] jnothman commented on #11028
@vivekk-ezdi, could you explain how you landed up performing `train_test_split` on a single sample?

[2018-04-25 12:56] vivekk-ezdi commented on #11028
@jnothman  It was a [beginner question at stackoverflow](https://stackoverflow.com/questions/50011348/sklearn-train-test-split-fails-on-2d-vector), in which the user I think by mistake reshaped the data to have one sample.

I tested and was surprised that `train_test_split` doesnt complain about it. Since most of other scikit utilities warn or throw error in this case, I just wanted to know the ra

[2018-04-25 15:05] venkatasg commented on #9624
I'm not sure I understand. nltk.metrics.agreement.AnnotationTask cohen's kappa returns 1 for single label cases. Why do you say that the perfect agreement is random?

[2018-04-25 16:59] kris-singh commented on #10998
Just looked at the code for  ```LogisticRegressionCV.score```.  Can you give an example of what you are saying it is not very clear from the code? ```LogisticRegressionCv``` calls the ```_log_reg_scoring_path``` function which does compute the scores based on the given metric.

[2018-04-25 17:39] #10898 closed

[2018-04-25 17:58] #10901 closed

[2018-04-25 18:01] urvang96 commented on #11024
@Alfo5123 I claimed the issue first and I was working on it. This is not how the community works.

[2018-04-25 18:04] Alfo5123 commented on #11024
@urvang96 Yes, I understand, my bad. Sorry for the inconvenient.  I won't continue on it.

[2018-04-25 20:39] venkatasg commented on #9624
Sorry, my bad. nltk shows the same behavior and you're right, the correct answer would be nan, since it involves division by zero.

[2018-04-25 22:18] jnothman commented on #10157
Apart from the issue of changing behaviour without warning, which I think
we should avoid, that sounds fine. If we are firm in our belief that the
current implementation is incorrect we could use a ChangedBehaviorWarning

[2018-04-25 23:12] jnothman commented on #10998
he is talking about the score method, which looks like it is inherited from
ClassifierMixin, and only measures accuracy.

@amueller, should we be fixing this in ClassifierMixin and altering
behaviour whenever a scoring parameter is present?

[2018-04-25 23:24] jnothman commented on #9624
I think returning NaN here is best, at least until someone comes up with reference material. Kappa was not designed for classifier evaluation and for inter-coder agreement this case is irrelevant

[2018-04-26 02:57] qinhanmin2014 commented on #10834
Closing according to comment from @jnothman and @rth , please reopen if I'm wrong.

comment from @jnothman

comment from @rth

[2018-04-26 02:57] #10834 closed

[2018-04-26 03:05] qinhanmin2014 opened #11030 "Construct new stop word list for scikit-learn"
We've reached consensus that the old list is problematic and should be deprecated, so we need to introduce a new one.
See #10735 #10818 #10834
cc @rth @jnothman

Move some comments here:

from @jnothman

it's more important that we leave words in which may be informative than
that we remove words which may possibly be noisy.

from @rth

Borrowing an existing list (or even use current list) and sol

[2018-04-26 08:31] #9736 closed

[2018-04-26 09:33] jnothman commented on #11020
but presumably you're also using shrinking with SVC()?

[2018-04-26 10:39] #10992 closed

[2018-04-26 11:33] rth commented on #11030
Thanks for opening a new issue for this @qinhanmin2014 !

[2018-04-26 19:10] achatrian opened #11031 "VotingClassifier throws error when used with KerasClassifier"
#### Description
VotingClassifier throws error when used with KerasClassifier

#### Steps/Code to Reproduce
[code]

#### Expected Results
Print:
Train shape (21877, 186)
Train labels shape (21877,)
Test shape (1000, 186)
Test labels shape (1000,)
Then:
Perform the prediction on X_test after training

#### Actual Results
Train shape (21877, 186)
Train labels shape (21877,)
Test shape (1000, 186)
Te

[2018-04-26 20:07] #10987 closed

[2018-04-26 20:52] amueller commented on #10521
Sorry for being absent. Seems ok, but can you maybe give me two weeks so I can actually review? Thanks!

[2018-04-26 22:32] jnothman commented on #11031
Please provide a full traceback. I think you have a typo in the Actual Results

[2018-04-26 23:14] AndreaChatrian commented on #11031
Sorry I updated the post, let me know if you need more info

[2018-04-27 01:02] melvinev commented on #6002
Was this ever resolved @wawrzeniec ?

[2018-04-27 08:06] nsorros commented on #11031
Just had a look at this and the problem seems to be that the keras predict function returns a 2d array (1000,1) instead of (1000,) which is what sklearn classifier returns when y is not multi-output.

I assume this can be fixed easily in sklearn case but I am not sure whether it should be better fixed in keras end since sklearn API seems to expect a 1d array when y is not multi-output.

[2018-04-27 08:23] Pramod07777 opened #11033 "System Compatibility for Loading Model"
I am using sklearn for my project i have trained model on 64 bit linux machine,now i want to load that model (.pickle format) on raspberry pi which is 32 bit os and hw configuration,i have following issue while unpickling model file.
     Please help me if any solution on this.

  knn_clf =joblib.load(f)
  File "/usr/local/lib/python3.5/dist-packages/sklearn/externals/joblib/numpy_pickle.py", line

[2018-04-27 12:30] rth commented on #11033
"Since a model internal representation may be different on two different architectures, dumping a model on one architecture and loading it on another architecture is not supported."

http://scikit-learn.org/stable/modules/model_persistence.html

Sorry. You could try using the PPML format instead of pickle that aims to address such issues.

Duplicate of https://github.com/scikit-learn/scikit-learn/

[2018-04-27 12:30] #11033 closed

[2018-04-27 12:39] Pramod07777 commented on #11033
Thank you much for your prompt reply.

On 27-Apr-2018 6:01 PM, "Roman Yurchak" <notifications@github.com> wrote:

[2018-04-27 14:44] DanielMorales9 opened #11034 "OneHotEncoder does not output scipy sparse matrix of given dtype"
#### Description
OneHotEncoder ignores the specified dtype in the construction of the sparse array when mixed input data are passed, i.e with both categorical and real data type

#### Steps/Code to Reproduce
[code]

#### Expected Results
[code]

#### Actual Results
[code]

#### Versions
__Platform__: Linux-4.13.0-38-generic-x86_64-with-debian-stretch-sid
__Python__: 3.6.3 |Anaconda custom (64-bit)

[2018-04-27 14:57] rth commented on #11034
Thanks for the report. Please provide [a minimal reproducible example](http://scikit-learn.org/dev/faq.html#what-s-the-best-way-to-get-help-on-scikit-learn-usage).

[2018-04-27 14:59] DanielMorales9 commented on #11034
@rth, I have just finished editing the issue.

[2018-04-27 15:45] lesteve commented on #11034
This seems like a bug which happens when `categorical_features != 'all'`, quickly looking at this, this comes from:
https://github.com/scikit-learn/scikit-learn/blob/96a02f3934952d486589dddd3f00b40d5a5ab5f2/sklearn/preprocessing/data.py#L1871-L1872

`X_sel` has the right dtype (float32) but `X_not_sel` dtype is float64 so that when you stack them up you end up with a float64.

An easy work-around

[2018-04-27 15:58] MincingWords opened #11036 "./configure failure: needs additional Python symlink in .../deps/env/include"
When running ./configure in preparation to build, it fails saying

And higher up we see this has happened:

By that time the script has made .../deps/env/include and put a symlink in there to /usr/include/python3.6m called python3.6m but it needs to also create one to /usr/include/python2.7 called python2.7. Create that symlink by hand, go back up to the distribution root and do ./configure again

[2018-04-27 16:16] #11036 closed

[2018-04-27 16:33] billtubbs opened #11038 "MLPRegressor instance has no `out_activation_` attribute"
#### Description

I was using an MLPRegressor and wanted to check the activation function for the output layer.

#### Steps/Code to Reproduce

[code]

#### Expected Results

`'identity'`

According to the docstring:
[code]

I looked into the code a bit and noticed that a change was made to the following line in Aug 2017 so wondering if something broke:

In `BaseMultilayerPerceptron._initialize`:

[2018-04-27 18:07] billtubbs commented on #11038
Update:

The attribute appears after fitting the network to data.

[code]

This is acceptable to me now that I understand the behaviour.

[2018-04-27 18:07] #11038 closed

[2018-04-27 18:28] amueller opened #11039 "Add fast kernel classifier / regressor (EigenPro)"
I just talked with the authors of EigenPro about including it in sklearn:
https://arxiv.org/abs/1703.10622

It's basically a kernel model with least squares loss using an SVD of the subset of the data.
It's very fresh for sklearn standards, but it's much faster than SVMs or Kernel Ridge (~10x speedup) with similar performance. It seems to work much better than doing kernel approximation.

A relate

[2018-04-27 19:37] amueller commented on #11039
You can find some of their benchmarks here: https://docs.google.com/presentation/d/1fOEAKdUWn7dwoMLK2Aq2J5-myeJYRnjnYv4AWsJJclY/edit?usp=sharing

[2018-04-27 21:26] RNAer commented on #4757
I implemented this according to the blog post mentioned above. The code is [here](https://github.com/biocore/calour/blob/master/calour/training.py#L144).  The [test code](https://github.com/biocore/calour/blob/master/calour/tests/test_training.py#L138) shows how it works. anyone interested in porting it to scikit-learn?

[2018-04-27 21:36] thomberg1 commented on #2889
it runs if I add the multiprocessing import and  the if statement as show below - I don't work with keras so I don't have more insight

[code]

### Fitting 3 folds for each of 18 candidates, totalling 54 fits
[Parallel(n_jobs=12)]: Done  26 tasks      | elapsed:   18.4s
[Parallel(n_jobs=12)]: Done  54 out of  54 | elapsed:   23.7s finished
Best: 0.675781 using {'batch_size': 5, 'epochs': 5, 'init'

[2018-04-27 22:37] jkingsbery commented on #10251
@camilstaps Do you have any documentation for how to use this feature?

[2018-04-28 05:02] Chrisjw42 commented on #5115
Can confirm this bug is alive and well.

Running on Windows 10 in a jupyter notebook, Python3, Sklearn 0.19.1

[2018-04-28 07:59] camilstaps commented on #10251
@jkingsbery nice to see you here, I hope you're doing fine.

Unfortunately, I never actually used this and I deleted the tests I had. What I did was start from an existing class, like `Gini`, and then reconstruct from there how the two methods `node_impurity` and `children_impurity` should be implemented. If you have a specific use case, the method can be a bit simpler. I remember that in my case

[2018-04-28 08:35] jnothman commented on #11034
I'm not sure what a fix to this should look like. but a note in the dtype
parameter's documentation is worthwhile.

[2018-04-28 10:00] jnothman commented on #11039
at this rate, it'll be mature enough by scikit-learn 0.21!

[2018-04-28 11:14] vimox-shah opened #11041 "Best practices for deploying scikit-learn models?"
What are the best practices for deploying scikit-learn models on the cloud? I have trained a Random Forest Classifier How to use huge ML models in Flask App

[2018-04-28 11:28] jnothman commented on #11041
I think this is a good question for us to document answers to, for example
in the FAQ. one option: train and pickle within a docker and provide a web
service frontend for prediction (perhaps there are existing
implementations). Another: export a pmml representation and use pmml
infrastructure. But these are not answers from experience and it would be
good to hear from others. Perhaps ask on our ma

[2018-04-28 11:41] goldragoon commented on #8889
@jnothman
I can't guarantee that mRMR with MI score(filter based feature selection method) outperforms SelectFromModel(RandomForest*) (ensemble feature selection based on filter method) and Sequential Selection (forward, backward..., wrapper method) on performance aspect(But i think that it would be quite fast than Sequential Selection, on high dimensional dataset.).

But I can say that mRMR is qu

[2018-04-28 12:01] jnothman commented on #8889
it would be good to have the benefits of mrmr illustrated with an example
in our example gallery, as well as an implementation

[2018-04-30 09:38] siideffect commented on #2889
Thank you @thomberg1 , but adding
`import multiprocessing

if __name__ == '__main__':
`
did not help. The problem is still the same

[2018-04-30 13:44] glemaitre commented on #10802
I slightly play with the implementation proposed in https://github.com/scikit-learn/scikit-learn/issues/10802#issuecomment-380270072

It blows up estimator like VotingClassifier (cannot set `predict_proba`) and SVM (apparently `not pickable`). The tests concluded with a segmentation fault.

So caching might not be that straight-forward.

[2018-04-30 15:04] avissens opened #11044 "[t-SNE] Error after N iterations:"
Hi,
I use t-SNE for dimentionality reduction of the output from different topic modelling models. Every time I run it it generates this error (below). I tried to look everywhere but couldn't find an explanation why it happens and how it can affect the results. Is this a bug?

[code]
[code]

[2018-04-30 15:31] amueller commented on #11039
There's no laugh-cry reaction on github. I'll be on sklearn 90% of my time starting in two weeks. Let's hope that'll help a bit.

[2018-04-30 17:27] amueller commented on #11044
Where's the error? Looks all good to me.

[2018-04-30 17:28] amueller commented on #11041
https://github.com/onnx/onnx might become an option as well.

[2018-04-30 17:38] amueller commented on #11020
Quadratic programming is n**3, not NP-hard.

[2018-04-30 17:41] amueller commented on #10998
@jnothman hm that might be a good idea, though maybe slightly magic? It might change derived classes in user code. Though it might change it to the expected result...

[2018-04-30 17:44] amueller commented on #10997
@Autotelic17 that's because I wanted ``predict`` to be consistent with ``labels_``. You can only do that if you recompute ``labels_`` in the end if you didn't converge.

[2018-04-30 17:45] amueller commented on #10993
We don't support np.matrix anywhere. We should probably raise a better error message.

[2018-04-30 17:46] amueller commented on #10993
That needs to go to the common tests.

[2018-04-30 17:47] amueller commented on #10990
Seems like this is more a question for stackoverflow:
http://scikit-learn.org/dev/faq.html#what-s-the-best-way-to-get-help-on-scikit-learn-usage

[2018-04-30 17:47] #10990 closed

[2018-04-30 17:51] amueller commented on #10977
the way this is used makes sure that the estimator is always fresh, right?

[2018-04-30 17:54] amueller commented on #10977
I don't understand why you expect this particular helper function to clone.

[2018-04-30 17:55] amueller commented on #10942
Can you give an example on how to do that / when that helps? To tune to perplexity?

[2018-04-30 17:56] amueller commented on #10928
also -1 on this.

[2018-04-30 17:56] avissens commented on #11044
This one - `[t-SNE] Error after 1000 iterations: 1.738634`
Or am I missing something?

[2018-04-30 17:56] amueller commented on #10928
We could add a better error message on this, though.

[2018-04-30 17:57] vimox-shah commented on #11041
can you please little bit explain how [https://github.com/onnx/onnx](url) can be helpful? @amueller

[2018-04-30 17:59] amueller commented on #10890
``kernel='rbf'`` definitely works but I feel like what you want should also work and we should fix it.

[2018-04-30 18:01] benelot commented on #10942
Yes, you can see how the algorithm develops and if it struggles in certain
situations to find a representation. So yes, to tune the perplexity. But I
found that it is easy to do the same in Tensorboard projector. Then it is
more interactive anyway. Unfortunately, it does not allow to export to
video/gifs.

On Mon, Apr 30, 2018, 19:56 Andreas Mueller <notifications@github.com>
wrote:

[2018-04-30 19:12] amueller commented on #11044
that's the kl divergence it's optimizing.

[2018-04-30 19:12] #11044 closed

[2018-04-30 19:14] amueller commented on #10942
I think it would be cool if you could provide an example (as in code + video), I think that would make a good case on why this is useful and we might want to add it as an example to the website (though video might be tricky - we might be able to add a gif to the gallery)

[2018-04-30 21:13] jnothman commented on #10802
thanks for the feedback guillaume. oh well. would probably need a wrapper
then, which is less likely to be compatible with custom scorers

[2018-04-30 21:33] jnothman commented on #10998
yes probably too magic and risky

On 1 May 2018 3:41 am, "Andreas Mueller" <notifications@github.com> wrote:

[2018-04-30 23:32] amueller commented on #10998
@agramfort and @GaelVaroquaux might have opinions?

We could add a "common" check for everything having a scoring parameter though.

[2018-04-30 23:36] amueller commented on #8195
we don't really have any significance test for any of the other scores, right? I feel like we'd want one for accuracy before we add one for ari?

[2018-04-30 23:41] amueller commented on #10712
not sold on this one. Seems harder to maintain. And in the end, even for other interfaces, the user needs to select, right? So it's more a matter of pruning down which are appropriate for which task to select from... Automatic selection of metrics is not really a thing, right? My notebooks (and book?) have ``SCORERS.keys()``. And "recall" is also a bad choice for binary, right? So I'm not sure wha

[2018-04-30 23:49] jnothman commented on #11044
uhh perhaps we should change the wording!

[2018-05-01 03:08] amueller commented on #11044
loss?

[2018-05-01 07:29] jnothman commented on #8195
well we have permutation tests and CV scores for supervised learning...

[2018-05-01 07:31] jnothman commented on #10712
"recall" is a good choice if you're optimising logistic loss... And as one
of a few diagnostic measures. I'm happy to close this, though.

[2018-05-01 07:33] jnothman commented on #11044
or divergence.

[2018-05-01 08:14] avissens commented on #11044
Thank you for explanation and for considering changing the wording. The word 'Error' triggers a red flag especially for someone who is new to ML. Thanks!

[2018-05-01 08:19] jnothman opened #11045 "Don't say "error" in table verbose output"
See #11044

[2018-05-01 09:25] agramfort commented on #10998
indeed it's a bug. It's because the score method from LogisticRegressionCV is derived from LogisticRegression. We need to add a score method in LogisticRegressionCV that is using self.scoring

[2018-05-01 13:06] amueller commented on #10712
Only monitoring recall and not precision means you could just change the class_weight and get better, right?

[2018-05-01 13:07] amueller commented on #10712
maybe the docs should do ``SCORERS.keys()`` instead of the the error message, though.

[2018-05-01 13:11] amueller commented on #8195
Fair... implementing bootstrap for supervised clustering metrics would be pretty straight-forward and work for all metrics, right?

[2018-05-01 15:59] sharad-vm commented on #11045
I'm a newbie and would like to take a stab at this if nobody else is working on it.

[2018-05-01 16:09] kris-singh commented on #10998
I would like to take this up. If the method suggested @agramfort is the way to go I feel I can contribute to this.

[2018-05-01 16:46] amueller commented on #10998
Yes, and adding tests. But we also need to check that this is the same for other *CV estimators.

[2018-05-01 16:47] amueller commented on #11045
Go for it.

[2018-05-01 17:27] stevecoh1 commented on #3410
I still see this issue with the csv.DictReader.

    def valid(row):
        return  row["First Name"] and row["Last Name"] and row["Address"]

[code]
I still get the warning, and I get it whether or not the `csvFile.close()` line is present.  This is with python 3.4.

[2018-05-01 17:30] stevecoh1 opened #11048 "Fix "ResourceWarning: unclosed file" when running tests with Python 3 using csv.DictReader"
I added a comment to issue #3410, but then I noticed the issue had been closed, so I'll repeat my comment here:

I still see this issue with the csv.DictReader.

[code]

I still get the warning, and I get it whether or not the csvFile.close() line is present. This is with python 3.4.

[2018-05-01 18:12] sinanh commented on #10993
can I work on this?

[2018-05-01 19:00] ucalyptus commented on #11048
Can I take it up as a good first issue bug?I'm a newbie.

[2018-05-01 20:45] sharad-vm commented on #11045
Does "KL Divergence" sound good? Instead of "Error"?

[2018-05-01 22:01] jnothman commented on #10712
yes to both

[2018-05-01 22:12] jnothman commented on #8195
well that's what I'm uncertain about. The decision in clustering are not
iid, so can you just do that?

[2018-05-01 22:13] stevecoh1 commented on #11048
This may niot be the right place for this bug.  I mistakenly assumed this was a general github for python, now I realize it's actually a github for some application that uses python.

[2018-05-02 00:06] #11048 closed

[2018-05-02 03:09] qinhanmin2014 commented on #10712
+1 to simplify the error message with ``sorted(SCORERS.keys())``, marking as good first issue.

[2018-05-02 03:16] #10314 closed

[2018-05-02 04:50] sharad-vm commented on #11045
Sounds good. I've put in a PR with my fix.

[2018-05-02 05:47] EemeliSaari opened #11051 "NearestNeighbors radius_neighbors memory leaking"
#### Description

NearestNeighbors uses a large chunck of memory in run time without releasing it even after calling `del` or assigning a empty array to the object variable. The memory will how ever be released after the python process is terminated.

I noticed the bug when I was trying to fit a `DBSCAN` model and by looking deeper into the issue I was able to reproduce the same memory leak with a

[2018-05-02 06:18] arugola opened #11052 "tfidftransfomer idf_ attribute"
I'd like to confirm whether idf_ attribute in tfidf transformer returns the tf-idf score, and not term frequency alone or document frequency.

I cannot find it anywhere in the documentation.

Thank you,

[2018-05-02 07:31] jnothman commented on #11051
@recamshak do you happen to be aware of this?

@EemeliSaari have you checked this is present in master? This was recently changed.

[2018-05-02 07:37] jnothman commented on #11051
The memoryerror for brute is to be expected until #10280 is merged

[2018-05-02 07:39] jnothman commented on #11052
`idf_` is documented in the most recent (development) version of the docs: http://scikit-learn.org/dev/modules/generated/sklearn.feature_extraction.text.TfidfTransformer.html

[2018-05-02 07:39] #11052 closed

[2018-05-02 07:48] EemeliSaari commented on #11051
The issue was with the leaking memory with the other algorithms.

[2018-05-02 08:01] jnothman commented on #11051
yes, I'm aware, and that is what you should please test on master

[2018-05-02 08:33] #11045 closed

[2018-05-02 08:43] arugola commented on #11052
is there a way of getting the tf-idf matrix without using tfidf vectorizer?

[2018-05-02 09:07] rth commented on #11051
I can reproduce on master using Linux and Python 3.6 for both `ball_tree` and `kd_tree`,

[code]

produces,
[code]

[2018-05-02 09:53] rth commented on #11051
It's also the case in 0.18.1 and 0.19.1.

Seems fairly credible given the widespread use of C pointers in the kd / ball tree implementation. After a quick look I wasn't able to find the issue, but given the amount of memory leaked there shouldn't be that many objects that need to allocate 1.5 GB memory in this example. In particular, it seems to be of the order of `(n_samples, n_samples)` matrix i

[2018-05-02 13:01] rth commented on #10446
Another potentially useful bot is [GitMate](https://gitmate.io/home) - it helps to find related or duplicate issues. It has been used, for instance, by pytest (see example in https://github.com/pytest-dev/pytest/issues/3350#issuecomment-376866523)..

[2018-05-02 16:24] Akababa opened #11053 "Documentation for SVC"
https://github.com/scikit-learn/scikit-learn/blob/a24c8b464d094d2c468a16ea9f8bf8d42d949f84/sklearn/svm/classes.py#L426

It uses one-vs-rest by default but the description says one-vs-one.

[2018-05-02 17:36] sinanh commented on #10993
I was planning to modify `sklearn/tests/test_common.py` and `sklearn/utils/estimator_checks.py` to raise a better message when `np.matrix` is passed.

[2018-05-02 21:18] recamshak commented on #11051
@jnothman I am not aware of any memory leak, but I'll check my MR.

[2018-05-02 22:00] recamshak commented on #11051
It seems that setting the `NPY_OWNDATA` flag on a numpy array is not doing what I though it would. The memory is not freed even when the array get garbage collected.

[2018-05-02 22:28] jnothman commented on #11053
No, it uses OvO always, but offers to convert its scores to something that looks like OvO. Improvements to the documentation are welcome (but I think we may already have some unreleased improvements to this in master)

[2018-05-02 22:28] #11053 closed

[2018-05-02 23:08] jnothman commented on #11051
hmm... but that should affect master and NOT existing releases, so it might
be a separate issue

[2018-05-02 23:46] jnothman commented on #10993
okay. go ahead. it might not be a small thing to get right. And it might
make more sense to allow np.matrix and hence change check_array

[2018-05-03 00:04] recamshak commented on #11051
On 0.19.1 I got:
[code]

[2018-05-03 01:52] Akababa commented on #11053
You mean it always uses ovo internally but optionally converts it to ovr?

[2018-05-03 02:10] jnothman commented on #11053
Yes.​

[2018-05-03 05:58] vivek531 opened #11058 "'cross_val_predict' throws error when estimator is 'OneVsRest Classifier' and method is 'decision_function'"
#### Description

'cross_val_predict' function throws error when estimator is 'OneVsRest Classifier with LinearSVC' and method is 'decision_function'.

#### Steps/Code to Reproduce

from sklearn.model_selection import cross_val_predict
from sklearn import svm
from sklearn.multiclass import OneVsRestClassifier
from sklearn.preprocessing import MultiLabelBinarizer
import numpy as np

x_train = np.ra

[2018-05-03 06:32] agramfort commented on #11058
please fill up the section: Steps/Code to Reproduce

thanks

[2018-05-03 07:33] princejha95 commented on #11058
Can I work on this issue if no one is assigned to it ?

[2018-05-03 08:15] princejha95 commented on #10712
Can I try this if it's okay ?

[2018-05-03 08:26] rth commented on #11051
Yes, previously I have built 0.18.1 and 0.19.1 from sources with Python 3.6, Cython 0.25.2, Numpy 1.12.1, scipy 0.19.0 (installed with conda), where I can reproduce this issue.

On the other hand, using either 0.18.1 / 0.19.1 conda binary files or manylinux wheels from PyPi seems fine for me as well. These would use the latest Numpy 1.14.1, scipy 1.0.1.

Maybe I'm missing something with my local b

[2018-05-03 08:38] LeiTong02 opened #11059 "python setup.py build Typerror"
#### Description
I am trying to build the sklearn.tree subpackage, which includes some Cython code.
The file setup.py contains distutils configuration with code such as config.add_extension("_tree", sources=["_tree.pyx"],...) So I expect that sources (this variable flops through a long stack of functions listed below) is a list of strings.
However, when trying to build the package, I recieve the o

[2018-05-03 09:10] lesteve commented on #11059
Readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages code snippets. Bonus points if you use [syntax highlighting](https://help.github.com/articles/creating-and-highlighting-code-blocks/#syntax-highlighting) with `py` for python snippets and `pytb` for tracebacks.

I have n

[2018-05-03 09:39] princejha95 commented on #10712
raise ValueError('%r is not a valid scoring value. '
-                             'Valid options are %s'
-                             % (scoring, sorted(scorers)))
+                             'For Valid options use sorted(SCORERS.keys())'
+                             % (scoring))

By doing this, new error message is 'ValueError: 'rubbish' is not a valid scoring value. For Valid options use so

[2018-05-03 09:42] jnothman commented on #11051
Sorry, I shouldn't have let #11056 close this. I think that solved a separate issue.

[2018-05-03 09:42] jnothman commented on #10712
looks fine. please submit a pull request

[2018-05-03 10:31] rth commented on #11051
In an Ubuntu xenial container with idential parameters to OP, I can reproduce on master (after the #11056 fix) but not in 0.19.1,  using the [same benchmark script](https://github.com/scikit-learn/scikit-learn/files/1970318/test_memory_leak.txt) as above and the following setup,
[code]

[2018-05-03 11:07] klaas-koster opened #11061 "sklearn.gaussian_process.GaussianProcessRegressor.predict returns wrong y_std"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-05-03 13:03] princejha95 commented on #10712
I have changed the error message as suggested by @qinhanmin2014 above. Now if user gives a scoring value which is not present in SCORER dictionary, then the error message will suggest user that he can find valid scoring values from sorted(SCORERS.keys()).

[2018-05-03 13:09] #10752 closed

[2018-05-03 13:19] rth commented on #10728
My message above fails to account for several constraints, but an improved approach   that should work can be found in https://github.com/scikit-learn/scikit-learn/pull/11063

[2018-05-03 13:34] jkingsbery commented on #10251
OK, thanks for the pointers!

[2018-05-03 14:12] LeiTong02 commented on #11059
Many Thanks, all !

[2018-05-03 14:12] #11059 closed

[2018-05-03 22:44] hermidalc commented on #10063
I just spent hours trying to get to the bottom of some strange behavior and errors related to grabbing pipelines from cv_results_ and just realized this is likely the issue, when params are estimator objects they are all fitted and it causes weird errors when you try to reuse the pipeline.  In my case the first error was with StandardScaler() and getting the ValueError cannot broadcast... shape...

[2018-05-04 10:29] naiveaiguy commented on #6557
Is anyone working on this right now?

[2018-05-04 12:09] huangy22 commented on #10928
Hi, I'd like to give it a try as my first issue. Is it okay?

[2018-05-04 14:50] rth commented on #10667
I also get this segfault in
[code]
when running the test suite on master in using a clean conda virtual env with the lastest numpy etc (full list of dependencies in [conda-env-list.txt](https://github.com/scikit-learn/scikit-learn/files/1974767/conda-env-list.txt)), compiled with gcc (Gentoo 6.4.0-r1 p1.3) 6.4.0 on Linux.

The trace is below,

[code]

Using gcc / g++ 7.2 from conda also made this

[2018-05-04 15:00] kajocina commented on #10813
Since this issue has been tagged as a good first issue, I would be happy to help on that problem!

[2018-05-04 21:51] #11024 closed

[2018-05-04 21:59] amueller opened #11066 "train_test_split doesn't properly document default of test_size"
The default value should be in the line declaring the type in the docstring.

[2018-05-04 22:13] amueller opened #11067 "saga solver not robust for LogisticRegression on adult dataset."
I tried running ``LogisticRegression(solver="saga")`` on adult with some pretty bad results:
(csv is [here](https://github.com/amueller/ml-training-intro/blob/master/notebooks/data/adult.csv))
[code]
There are a bunch of convergence warnings, and it's much slower than liblinear.
``X_train.shape == (24420, 107)``
Setting ``max_iter=1000`` yields the same result (convergence warnings and low accurac

[2018-05-04 22:19] amueller commented on #11067
Same behavior still with ``C=0.01`` which should in theory work better?

[2018-05-04 23:04] jmwoloso commented on #11066
Happy to tackle this!

[2018-05-05 08:32] glemaitre commented on #10928
You can go for improving the error message as @amueller mentioned.

On 4 May 2018 at 14:10, Yuan Huang <notifications@github.com> wrote:

--
Guillaume Lemaitre
INRIA Saclay - Parietal team
Center for Data Science Paris-Saclay
https://glemaitre.github.io/

[2018-05-05 10:06] Ichaab opened #11069 "Use of imblearn/ensemble/BalanceCascade with StratifiedKfold"
#### Description
I search to test ensemble learning classifiers with imbalanced data under the same conditions (cross validation and estimator params for example). Among them, there are the BalanceCascade, the balancedBagging and the EasyEnsemble which are already implemented under the imblearn API. Testing balancedBagging classifier with stratified Kfold cross validation go alright, however there

[2018-05-05 11:16] Ichaab commented on #11069
@glemaitre

[2018-05-05 12:10] Pastafarianist opened #11071 "Importing sklearn messes with CPU affinity, causing n_jobs=-1 to become useless"
#### Description
Please see [a PoC notebook](https://nbviewer.jupyter.org/gist/Pastafarianist/471be9b46ab4fa5518ae74724a644fe7).

**tl:dr:** `import sklearn` causes CPU affinity to be set to `{0}`. Resetting it causes `RandomizedSearchCV` to freeze.

#### Expected Results
`n_jobs=-1` uses all cores and does not freeze.

#### Actual Results
Only one core is loaded at 100% and nothing happens for 30

[2018-05-05 14:52] glemaitre commented on #11069
You should open an issue on the imbalanced learn issue tracker rather than scikit learn. If you check the documentation, the balancecascade and the easyensemble are samplers and not meta estimateur. They implement a sampler function. The easyensemble user with a classifier correspond to the balancedbaggingclassifier. For the balancecascade we actually have no meta estimator implemented but it woul

[2018-05-05 14:52] #11069 closed

[2018-05-05 14:56] glemaitre commented on #11067
Any insights @arthurmensch

[2018-05-05 15:08] rth commented on #11071
I can't reproduce the affinity results with a somewhat similar configuration,
[code]
(for me the affinity remains unchanged).  If you re-start the interpreter and run just the scikit-learn related imports together with `fix_affinity()`, can you reproduce it?

As to the freezing with multiprocessing, it's a known issue see http://scikit-learn.org/stable/faq.html#why-do-i-sometime-get-a-crash-freeze

[2018-05-05 22:34] justinrporter opened #11072 "Affinity propagation doesn't report availabilities or responsibilities"
Affinity clustering works by computing matrices of availability (of each point as a cluster exemplar) and responsibility (for each point as a cluster member). However, these matrices are not stored in `AffinityPropagation` nor are they returned by `affinity_propagation`.

I am not an expert, but I have been using affinity clustering with some success, but am interested in identifying points with w

[2018-05-06 00:50] jnothman commented on #6557
Not to my knowledge

[2018-05-06 01:31] #11066 closed

[2018-05-06 06:38] jnothman commented on #11071
Maybe it's worth creating a PR which adds a test assertion to see if any of
the ci environments can replicate.

Does this happen when importing sklearn? Or particular submodules?

Also worth checking if importing joblib alone does this, in which case it
should be raised there.

[2018-05-06 10:43] Gonzalo933 commented on #11061
I think that the variance of the predictive distribution of a GP depends on the kernel that you are using, and you are scaling your kernel by the std of the z_train, that's why the predictive std is giving you that result

[2018-05-06 13:06] #10410 closed

[2018-05-07 00:33] klaas-koster commented on #11061
Thanks for having a look at this.
I guess I don’t know how thie fit process is supposed to work: I thought that ‘optimizer=None’ meant that the output kernel from ‘fit’ retains the length-scale and standard deviation that is specified when the kernel is defined. What exactly is ‘fit’ doing when ‘optimizer=None’?

[2018-05-07 03:10] jnothman commented on #11061
@jmetzen?

[2018-05-07 06:59] recamshak commented on #11051
On a [slightly modified benchmark script](https://github.com/scikit-learn/scikit-learn/files/1978760/test_memory_leak.txt) on master you can see that the memory get reused:
[code]

On a Windows 10 Home system, the same script gives:
[code]

Is it expected from malloc/free to not directly release the memory to the OS in certain case? Not sure why then 0.19.1 and master don't give the same memory us

[2018-05-07 08:27] jnothman commented on #11051
I can't remember the terminology, but I recall previously identifying similar behaviour - memory being kept for reuse - as a Linux (I think) feature that made it look like memory consumption was increasing when it wasn't.

[2018-05-07 09:06] rth commented on #11051
This sounds relevant, https://www.linuxquestions.org/questions/programming-9/how-to-free-memory-immediately-after-calling-free-in-c-programming-916896/#post4540924

But then if this is true, I don't understand why it's not an issue when benchmarking memory usage in general...

In case it's relevant, in the benchmark script, `memory_profiler` uses [`psutil.memory_info`](https://psutil.readthedocs.i

[2018-05-07 09:26] rth commented on #11051
Maybe @aabadie would have some ideas about this ?

[2018-05-07 09:39] glemaitre commented on #10993
I assume that the issue is that we are not using `check_array` in the function but in the class instead.

[2018-05-07 09:46] rth commented on #11071
Wrote a unit test for this in https://github.com/scikit-learn/scikit-learn/compare/master...rth:cpu-affinity : it passes on both Appveyor and Travis CI (cf [build logs of the last commit](https://github.com/rth/scikit-learn/commits/cpu-affinity)). It's a bit brittle (requires Python 3 and might fail on some architectures), so I'm not sure I should make a PR.

Generally after a quick search I could

[2018-05-07 10:02] Pastafarianist commented on #11071
I've experimented a bit more with this.

I'm running Manjaro (a derivative of Arch) and initially I submitted this report having [`python-numpy-openblas`](https://aur.archlinux.org/packages/python-numpy-openblas/) installed. Then I did the following.

* Replaced the OpenBLAS version with the vanilla Numpy from the repository ([`python-numpy`](https://www.archlinux.org/packages/extra/x86_64/python-

[2018-05-07 10:32] TomDLT commented on #11067
SAG and SAGA are stochastic solvers. Just like SGD, they are sensitive to feature scaling.

Changing `X_train` into `X_train_scaled` in your example gives:
[code]

[2018-05-07 10:39] Pastafarianist commented on #11071
There is clearly some undefined behavior going on here. With `python-numpy-mkl`, I just got the following log in terminal `ipython`:

[code]

then I re-ran the Jupyter notebook multiple times ("restart kernel and run all cells") and one time the affinity wasn't changed, while all the other times it was changed at the `sklearn.externals.joblib` import. The freeze occurred every time regardless.

[2018-05-07 10:51] #9515 closed

[2018-05-07 11:00] Ichaab commented on #11069
For the balancedbaggingClassifier, I have notified that the sampler is the RandomUnderSampler according to this code in classifier.py :
`
self.base_estimator_ = Pipeline(
            [('sampler', RandomUnderSampler(ratio=self.ratio,
                                            replacement=self.replacement)),
             ('classifier', base_estimator)])
`
When I tried to change the sampler into  Ea

[2018-05-07 11:00] Gonzalo933 commented on #11061
@klaas-koster When optimizer=None the default one is used: fmin_l_bfgs_b

The fit function optimizes the kernel parameters by maximizing the log-marginal-likelihood.

[2018-05-07 11:40] glemaitre commented on #11069
Because `EasyEnsemble` and `BalanceCascade` are returning a list of 2D matrices.
That's why we need to have a meta-estimator for `BalanceCascade`.

You don't need to change `RandomUnderSampler` by `EasyEnsemble` because the `BalancedBaggingClassifier` is acutally the `EasyEnsemble` method.

[2018-05-07 12:31] Ichaab commented on #11069
Thank you for your time and consideration glemaitre. If I want to test Bagging with clusterCentroids sampler, is it true to change RandomUnderSampler into ClusterCentroids?

[2018-05-07 12:50] glemaitre commented on #11069
It will work.

On 7 May 2018 at 14:31, koukou <notifications@github.com> wrote:

--
Guillaume Lemaitre
INRIA Saclay - Parietal team
Center for Data Science Paris-Saclay
https://glemaitre.github.io/

[2018-05-07 14:59] ubamba98 commented on #10928
Hey, can I help on this?

[2018-05-07 15:03] lesteve commented on #11071
Just putting a snippet for easier reproducibility:

[code]

[2018-05-07 15:13] rth commented on #11071
Also note that `len(affinity) != multiprocessing.cpu_count()` does not necessarily mean that something is wrong. e.g. on Travis CI that runs in Docker containers, the CPU count is 32, but we can only use 2 of those i.e. `len(affinity) = 2` see https://github.com/tomMoral/loky/issues/111#issuecomment-372975178 for more details.

@Pastafarianist you are not using any container or VM technologies for

[2018-05-07 16:17] kajocina commented on #10813
I'm quite new to this (I've been an sklearn end-user only so far) so I would really appreciate some guidance for my first contribution. I took a look at the code and it looks like a potential place to raise the warning could be in coordinate_descent.py, after line 481:

[https://github.com/scikit-learn/scikit-learn/blob/622f912095308733ddfe572a619b1574b9da335e/sklearn/linear_model/coordinate_desce

[2018-05-07 16:29] amueller commented on #11067
argh stupid bug/typo :-/ have to double check but that seems to be the problem.

[2018-05-07 16:45] lesteve commented on #11071
Good point fixed! Just a tiny piece of advice for the future: the easier you make your problem to reproduce, the more likely you are to get good feed-back.

Do you have the same problem when you install numpy and scikit-learn with pip, rather than with your package manager?

[2018-05-07 17:19] Pastafarianist commented on #11071
@lesteve surprisingly, yes. I've installed both via `pip` (`pip install --user numpy scikit-learn --force`) and modified your version of the script to print the paths to the imported modules.

[code]

The output I'm getting is

[code]

This was tested when I still had `python-numpy-mkl` installed system-wide. I replaced it with vanilla `python-numpy` and the problem **did not** go away: the output

[2018-05-07 21:01] #11067 closed

[2018-05-07 22:56] recamshak commented on #11051
After digging into glibc I found that the memory manager behavior can be changed via environment variables. See the end of `man mallopt` for a (exhaustive?) list.

I tried to run `MALLOC_MMAP_THRESHOLD_=0 python test_memory_leak.py` (glibc 2.26) and the *memory leak* seems to be gone:

[code]
It's significantly slower though. 12s instead of 9s.

So it seems that there is actually no memory leak. B

[2018-05-07 22:57] jnothman commented on #10993
ah right. we fixed similar validation inconsistencies in kmeans class vs
function recently. I suppose then a common test will not work

[2018-05-07 23:10] mathurinm commented on #10813
2 additional findings:
- we are fitting an (unregularized) intercept and y is constant. So the
optimal solution should be np.zeros(n_features), whatever the value of
 alpha.  This clearly makes the example a degenerate case.
If I use fit_intercept=False, I get similar timings for all n_samples.

- if I use fit_intercept=True, the solution in the cases which run
fine all have 1 as first element, th

[2018-05-07 23:10] jnothman commented on #11051
Thanks @EemeliSaari for helping us find a different issue, but I think we will close unless this cab be verified more reliably

[2018-05-07 23:10] #11051 closed

[2018-05-07 23:14] jnothman commented on #11061
no, the documentation could be clearer, but when optimizer=None, the kernel
is used without optimisation

[2018-05-07 23:34] jnothman commented on #11071
let's try localise the problem: does it occur when importing numpy alone?
when importing joblib (i.e. not from sklearn.externals)?

[2018-05-08 13:54] AlexanderFabisch commented on #11061
I guess

    sigma_train = np.std(z_train)
    kernel1 = C(sigma_train) * RBF(length_scale=10)

should be

    sigma_train = np.std(z_train)
    kernel1 = C(sigma_train ** 2) * RBF(length_scale=10)

See [the documentation of ConstantKernel](http://scikit-learn.org/stable/modules/generated/sklearn.gaussian_process.kernels.ConstantKernel.html#sklearn.gaussian_process.kernels.ConstantKernel):

    co

[2018-05-08 13:58] klaas-koster commented on #11061
@AlexanderFabisch Agreed.

[2018-05-08 16:13] rth commented on #11051
Thanks for investigating @recamshak !

Interesting, in particular,

sounds also relevant, but I can't wrap my head around it (and I'm not sure I want to)...

For the record, I also tried running a more in depth memory benchmark with all fieds from [`psutil.Process().memory_info()`](https://psutil.readthedocs.io/en/latest/#psutil.Process.memory_info`), using the following function,
[code]
(and adap

[2018-05-08 17:51] Pastafarianist commented on #11071
@jnothman

1. I tried importing only `numpy` and exiting right after the affinity check. Affinity is not changed in this case.

[code]

2. Importing `joblib` does not cause the problem. I added

[code]

between importing numpy and scikit-learn and I'm getting

[code]

[2018-05-09 07:43] moorejee opened #11078 "A data error in metrics.confusion_matirx"
Hi:
I am using the confusion_matrix function to test my algorithm. I find a calculation error for the result of the confusion matrix. The number of false negative samples is equal to the number of true negative. That is wrong. Can you check out this problem? Thanks a lot.

[2018-05-09 07:46] jnothman commented on #11078
Why is it wrong? On what data? Please reopen if you can show that it is the software's fault and give a minimal verifiable example.

[2018-05-09 07:46] #11078 closed

[2018-05-09 11:11] klaas-koster commented on #11061
Yes, this turned out to be a user error. Thanks for the help!

[2018-05-09 14:36] PhungVanDuy opened #11079 "NuSVR too slow"
#### Description

I performed the NuSVR (linear kernel) function with matrix input has to shape is 547 x 22 and output 574. But it running too slow! I tried it with R, however, R run faster!

#### Steps/Code to Reproduce
This is my function for NuSVR (has been shortened).
[code]
#### Actual Results
I run it more than 3 hours but still have no results. I think has an error here!

#### My system:
[c

[2018-05-09 16:03] glemaitre commented on #11079
Not sure of what we can do there.
I am not sure either but both implementation R and scikit-learn should be based on libsvm.

[2018-05-09 17:37] PhungVanDuy commented on #11079
The complexity of SVM scales between O(feature x sample^2) to O(feature x sample^3), I don't think it's so slow!

[2018-05-09 19:42] agramfort commented on #11079
did you scale the features? R might be doing it for you

[2018-05-09 20:31] eyal6699 opened #11080 "normalize=True argument in LinearRegression() doesn't work"
#### Description
Argument normalize=True in LinearRegression() doesn't affect the coefficients, they still calculated for non normalize values. So, when the model is used for RFE as an estimator, it gets different result from real normalized values.

#### Steps/Code to Reproduce
[code]

#### Expected Results
0.6
Can be calculated by
[code]

#### Actual Results
0.2, the same results when normalize=

[2018-05-10 03:30] PhungVanDuy commented on #11079
@agramfort I don't scale the features in python.

[2018-05-10 03:54] jnothman commented on #11079
I think Alex is suggesting that you should try scaling the features in
python for comparison to R

[2018-05-10 04:02] PhungVanDuy commented on #11079
@jnothman Thanks you for your reply. I will try it! What do you think if I limit max_iter to 1000 instead -1? I just tried it and it so fast, but I not sure about the performance.

[2018-05-10 04:05] jnothman commented on #11079
Yes, that may also help. You can measure performance, although you can't
measure ideal performance

[2018-05-10 04:07] #11079 closed

[2018-05-10 04:13] BastiaanBergman commented on #7934
I think I have a similar problem, that is reproducible (on my system)

# System
Mac OS
SKlearn: 0.19.1
2.7.14 |Anaconda, Inc.| (default, Dec  7 2017, 11:07:58)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]

# Code to reproduce:
[code]

i.e. pairwise_distance hangs forever on a somehwat large-ish matrix if a somewhat large-ish matrix was processed with PCA. This is true also on Python

[2018-05-10 06:44] eyal6699 commented on #11080
You right of course, but it doesn't matter for the fault in the argument.
By using scale from sklearn.preprocessing I get coefficient of 0.2236068, which still isn't 0.2.

[2018-05-10 07:39] agramfort commented on #11080
normalize is making the columns unit norm and not std of 1.

there is an open issue to eventually fix this by introducing a new
standardize param and deprecate normalize.

I never had the time to do this so far.

[2018-05-10 10:17] axelgoblet commented on #11020
@amueller Quadratic programmingi is indeed O(n^3), you are right. @jnothman I used shrinking as well. Should we change the default `max_iter` or keep it this way? Let's close this issue :)

[2018-05-10 11:55] jnothman commented on #11020
I don't know why they should come at the same time, but #11079 also reports
a similar issue, so perhaps it is something we should fix. As long as a
ConvergenceWarning is raised, I don't think anyone loses terribly if we set
it to something finite.​ But I'd be interested if there were opposing
opinions.

[2018-05-10 14:37] qinhanmin2014 opened #11083 "Reorganize dataset section in user guide"
I think the dataset section in user guide (http://scikit-learn.org/dev/datasets/index.html) is hard to follow. See the subsections:
[code]
I can't find the logic behind such organization.
I think we should first divide the section into two subsections: one for dataset loaders, one for sample generators. For dataset loaders, we can further divide according to ``fetch_`` and ``load_``. For sample ge

[2018-05-10 16:40] BastiaanBergman opened #11084 "PCA interferes with pairwise_distances"
Using the `PCA` module changes something behind the scenes that impairs proper functioning of the `pairwise_distances` module. The below example reproduces the problem (on my system).

# System
Mac OS
SKlearn: 0.19.1
2.7.14 |Anaconda, Inc.| (default, Dec  7 2017, 11:07:58)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]

# Code to reproduce:
[code]

i.e. pairwise_distance hangs forever

[2018-05-11 02:53] jnothman commented on #11084
So you no longer think this is a memory leak?

Presumably this doesn't happen if n_jobs=1.

Does this happen for other operations with n_jobs=-1?

[2018-05-11 05:21] aryamccarthy opened #11085 "AMI and NMI use two different normalizing constants."
This is a problem of implementation decisions. The adjusted mutual information (AMI) between two labelings is an adjusted-for-chance version of the normalized mutual information (NMI) of those labelings. There are numerous choices for how to normalize; four listed in [Vinh et al. (2010)](http://jmlr.csail.mit.edu/papers/volume11/vinh10a/vinh10a.pdf) are min, sum, sqrt, and max. We use sqrt in `met

[2018-05-11 12:55] avatsaev commented on #5115
Sam problem on Linux Mint (Ubuntu 16.10) Python 3.5

Everything gets stuck at first Epoch on each core, and CPUs are iddleing, so no work is being done.

[2018-05-11 13:33] coolchelly commented on #10861
"accuracies = cross_val_score(estimator=classifier, X=X_train, y=y_train, cv=5, n_jobs=4)"

A quick fix is n_jobs = 1 (I faced a similar issue while using n_jobs = -1), though this takes 'cv' times more time than it should have had you used n = -1 or had you just executed an ANN without cross val

[2018-05-11 15:44] RLstat opened #11086 "Quantile Regression Forest [Feature request]"
Hi, Scikit-learn owners and contributors,

     I am wondering whether scikit-learn want to implement the quantile regression forest: http://www.jmlr.org/papers/volume7/meinshausen06a/meinshausen06a.pdf.

     It is a quite highly cited paper, and already has an R package. https://cran.r-project.org/web/packages/quantregForest/quantregForest.pdf

    This method has been widely used in various qua

[2018-05-11 18:13] map222 opened #11088 "Add a parameter to `NMF.transform` to set the number of iterations"
#### Description
When applying an NMF model using `.transform()`, the model calls the function `non_negative_factorization()` (which is also called during `.fit()`). `non_negative_factorization` has a parameter, `max_iter`, that determines how many iterations to go through during fitting. When using `transform`, this means that the model actually fits the `W` matrix, which can be time consuming du

[2018-05-11 21:03] mozark24 commented on #4597
I'm facing this issue.  n_jobs cannot be set > 1.

[2018-05-11 22:25] glemaitre commented on #11086
FWIIW, there is the implementation of scikit-garden:
https://scikit-garden.github.io/examples/QuantileRegressionForests/

I could also spot an example which is linked to the interval of the prediction in GBRT:
http://scikit-learn.org/stable/auto_examples/ensemble/plot_gradient_boosting_quantile.html

@MechCoder @glouppe Was there any discussion on making a change in the tree API to handle outputti

[2018-05-12 10:55] jnothman commented on #11085
If backwards compatibility is a concern, adding a parameter and deprecating the default is a fair option.

[2018-05-12 15:26] RLstat commented on #11086
@glemaitre , Thanks for the information.

Is scikit-garden in anyway associated with scikit-learn? I've tried it and it is a nice implementation but seems a bit inactive lately in terms of development, updating issues or release updated version into PyPi.

I am not sure whether it is a better (or worse) idea to gather resource and put in one place for better development and maintenance, if the met

[2018-05-12 15:48] qinhanmin2014 opened #11089 "Circle CI and Appveyor fails on master"
Open an issue for the latest Circle failure on master.
[code]

[2018-05-12 19:17] glemaitre commented on #11086
@MechCoder @glouppe are contributors in both project. I would say that this is a
contribution to scikit-learn which should be compatible with the scikit-learn tool.
Now it would be worth to integrate it in scikit-learn if we have a good API which fit well

Actually @betatim Could know something as well about the project?

[2018-05-13 02:58] fsbeserra commented on #6261
You can find an easier alternative in this link https://github.com/fsbeserra/treeViz. Check the visualization of the tree [here](https://htmlpreview.github.io/?https://github.com/fsbeserra/treeViz/blob/master/interactive_graphs.html)

[2018-05-13 07:32] wyznio commented on #8755
I have exact same bug on my computer, too!!!!
When the array is too big and use train_test_split(X, y, test_size = 0.25, stratify = None),  it can run normally.
But when train_test_split(X, y, test_size = 0.25, stratify = y), it cun still produce outcome, but the result is super weird and doesn't make any sense.

Here's my configuration:
Windows-10-10.0.17134-SP0
Python 3.6.3 (v3.6.3:2c5fed8, Oct

[2018-05-13 08:15] rth commented on #11083
I also can't follow the logic of the current organization and agree that having a more hierarchical organization of sections would be better.

[2018-05-13 10:49] glemaitre commented on #11083
I also agree and I think that @qinhanmin2014 will make more sense than the current TOC

[2018-05-13 22:40] jnothman commented on #11088
Why don't you set max_iter in the constructor? We conventionally avoid arguments to methods that are not sample-wise.

[2018-05-13 22:40] #11088 closed

[2018-05-13 22:43] jnothman commented on #4597
This is very likely fixed in master if the most recent version of cython is used to compile it.

[2018-05-13 23:02] jnothman commented on #8755
if you don't get an exception, it may not be the same bug. What kind of
data is y? What makes the output appear strange?

[2018-05-13 23:06] jnothman commented on #11083
seems a good idea for users trying to find a dataset relevant to a
particular task. I don't think fetchers and loaders should be
distinguished, but generic from specific and generation from real world...

[2018-05-14 07:00] nathaliaceballoshurtado opened #11092 "Hi. Can u help me. I need to multiply a matriz having csr format both."
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-05-14 07:12] #11092 closed

[2018-05-14 09:07] jorisvandenbossche commented on #10521
@amueller no problem, for me the same :-)
But, I am now planning to look at this again. So if you could give this a look that would be welcome. I have some work to do on the PR (https://github.com/scikit-learn/scikit-learn/pull/10523), so don't review that yet in detail (you can look at it to have an idea of what we propose however).
I think the main question I want to see answered before I put a

[2018-05-14 20:10] wyznio commented on #8755
I use Python3.6.3 32bit to run the following code:
***************************************************************
import numpy as np
from collections import Counter
from sklearn.model_selection import train_test_split

# create a big array
n = 1000000
y = np.array([1] * n + [2] * 2 * n + [3] * 3 * n)
print('Original:')
print(sorted(Counter(y).items()))

# when stratify=None, works fine
y_train, y

[2018-05-14 22:36] jnothman commented on #8755
Thank you. That's a much more helpful bug report. I agree, the results are strange and it looks like we have numeric problems, whether or not it's the same issue as above. Can you please double check if you get the same weirdness using StratifiedShuffleSplit directly?

[2018-05-15 07:10] giridhar-reddy opened #11095 "I have been using the linear model of the scikitlearn package (Logistic regression in particular). I have observed that there was a dependent variable was constant in my training data. Thus the variable is playing the role of the intercept, with the value of the true intercept distributed between amongst the intercept term and the variables coefficient. Thus intercept value is altered. Such variables affect the regularization too. Ideally such variable coefficients should be forced to zero."
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-05-15 07:13] agramfort commented on #11095
please format an issue as requested. thanks

[2018-05-15 07:13] #11095 closed

[2018-05-15 10:03] kota7 commented on #9113
I look forward this very much!
Can someone clarify if this would support multi-label classification cases?  If so, what kind rule would be applied?

[2018-05-15 11:46] jnothman commented on #9113
I'm not sure what you're asking but i don't think there's any reason to
limit this change to one target type or another

On 15 May 2018 8:03 pm, "Kota Mori" <notifications@github.com> wrote:

[2018-05-15 11:48] jnothman commented on #9113
oh perhaps you're asking if different weights will apply to gradients from
each output. I suspect not; that we will just produce a weight for each
sample, irrespective of which output

[2018-05-15 12:12] kota7 commented on #9113
@jnothman
Let me clarify my point.  My question is about the implementation of `class_weight="balanced"`, which is available for some of other classifiers.
For binary or multi-class classification, what we mean by "balanced" is clear; We want each class to appear approximately equal times.
I though there can be multiple ways to define "balanced" for multi-label cases, and wondered which way we are

[2018-05-15 13:49] rth commented on #11089
Yes, it's quite a strange failure. After quickly looking into it I wasn't able to determine what triggered it. In any case https://github.com/scikit-learn/scikit-learn/compare/master...rth:fix-plot_tomography_l1_reconstruction could be a start, but it's not sufficient to fix it.

Also now Appevyor is also failing on master,
[code]
I think that should be fixable by pinning `futures==3.1.2` and rais

[2018-05-15 14:00] qinhanmin2014 commented on #11089
And we even get strange errors on Travis like this (See e.g., https://circleci.com/gh/scikit-learn/scikit-learn/23087?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link):
[code]

So we now have 2 kinds of Travis failures and 1 Appveyor failure. I'm wondering what's happening these days in the upstream projects. ping @lesteve for more insight.

[2018-05-15 14:13] rth commented on #11089
Probably maintainers taking time off in May + software entropy )

[2018-05-15 14:40] samronsin commented on #10883
Thanks for the references @amueller and @jmetzen ! I ended up implementing ECE and MCE from "Chuan Guo, Geoff Pleiss, Yu Sun, Kilian Q. Weinberger, On Calibration of Modern Neural Networks" in PR #11096.
Sorry @53X I didn't see that you were also interested in working on this. Let me know if you want to compare notes !

[2018-05-15 16:07] gkevinyen5418 opened #11097 "Document missing/incorrect for libsvm.predict and libsvm.predict_proba"
Parameter lists are incomplete for sklearn.svm.libsvm.predict and sklearn.svm.libsvm.predict_proba.

[2018-05-15 19:50] jmwoloso commented on #11041
@vimox-shah This is exactly how we do it. GCS has the Kubernetes engine handles container orchestration so you have all your models (and their containers) in one place. Can't speak for AWS though. Not sure what cloud platform you're using.

service frontend for prediction

Additionally, in some cases we use Flask and provide an API for consumers of the model results and in other cases, simple cron

[2018-05-15 21:00] jiaowoshabi commented on #11097
May I take this as my first fix?

[2018-05-15 21:30] rth commented on #11097
Sure, if @gkevinyen5418 doesn't plan to work on it. Thanks!

[2018-05-15 21:40] jnothman commented on #9113
yes, but use sample_weight for finer control

[2018-05-15 22:07] jiaowoshabi commented on #11097
@gkevinyen5418  Hi, are you going to fix this issue? If you are, please let me know. Thanks!

[2018-05-16 04:33] sivakar12 commented on #10411
Is this issue still open? Can I give this a try?

[2018-05-16 05:47] gkevinyen5418 commented on #11097
@jiaowoshabi @rth  I feel like fixing it myself. Since LIBSVM is maintained by my professor's lab, he may have some opinions about documentation. Also, apart from the documentation, the usage also seems weird to me.

[2018-05-16 05:49] gkevinyen5418 commented on #11097
As said in the documentation of libsvm.predict_proba,
"We have to reconstruct model and parameters to make sure we stay in sync with the python object."
Not sure when and how will it be done though.

[2018-05-16 10:07] rth commented on #10411
The issue is still open, it turned out to be more complicated than anticipated, and it is potentially being worked on (see https://github.com/scikit-learn/scikit-learn/pull/10443#issuecomment-389465558)

[2018-05-16 14:02] oasis789 commented on #3313
I am getting this error when running `learning_curve`. Are there any suggestions or fixes I can try to resolve the issue???

[2018-05-16 16:37] lesteve commented on #11089
#11100 should fix plot_tomography, I don't haven't looked at the others ...

[2018-05-16 20:16] rth commented on #11097
My interpretation is that it meant that `libsvm.pyx` needs to be consistent with `svm.h` (and I imagine keep consistency with `BaseLibSVM`).

You don't need to worry about that part though, this is documentation issue and only the docstring needs to be updated.

[2018-05-16 21:57] vortexdev opened #11102 "Randomized PCA.transform uses a lot of RAM"
#### Description
Randomized `sklearn.decomposition.PCA` uses about`2*n_samples*n_features` memory (RAM), including specified samples.
While `fbpca` (https://github.com/facebook/fbpca) uses _2 times less_.

Is this expected behavour?
(I understand that `sklearn` version computes more things like explained_variance_)

#### Steps/Code to Reproduce
`sklearn` version:
[code]

`fbpca` version:
[code]

#

[2018-05-17 03:57] vimox-shah commented on #11041
sorry @jmwoloso I didn't get what you want to say. Can you please explain in different way?

[2018-05-17 04:09] deeptipatil commented on #6101
I am still getting error on GradientBoostingClassifier.predict that " A sparse matrix was passed, but dense data is required.) Works fine with GradientBoostingClassifier.fit

[2018-05-17 07:12] jnothman commented on #6101
Please provide a runnable code snippet that reproduces the issue, mentioning the scikit-learn version

[2018-05-17 08:38] deeptipatil commented on #6101
text_clf_1 = Pipeline([('vect', CountVectorizer(stop_words=STOPWORDS, ngram_range=(1,2))),('tfidf', TfidfTransformer()),('clf',GradientBoostingClassifier(verbose =100,n_estimators=100))])
text_clf_1fit = text_clf_1.fit(X_train, y_train)
 ***---above code works fine

import datetime
from datetime import datetime
t1 = datetime.now()
text_clf_1predicted= text_clf_1fit.predict(X_test)
print(datetime.n

[2018-05-17 13:47] lesteve commented on #11089
OK I am going to close this one, everything seems fine (both AppVeyor and CircleCI) on the last push into master.

[2018-05-17 13:50] lesteve commented on #11089
Actually there is still the latexmk error in CircleCI ...

[2018-05-17 15:01] vinayakumarr opened #11104 "how to calculate sensitvity and specificity in cross-validation"
scoring=['recall', 'precision']
print("-----------------------------------------LR-------------------------
--------")
clf = LogisticRegression()
scores = cross_validate(clf, traindata, trainlabel, cv=3, scoring=scoring,
return_train_score=False)
print(scores)

print("precision")
print(scores.keys()[2])
print(np.mean(scores.values()[2]))
print("Sensitivity")
print(scores.keys()[3])
print(np.mean(s

[2018-05-17 15:29] glemaitre commented on #11104
There is not implementation of specificity in scikit-learn. However, those metrics are defined in `imblearn`:

http://contrib.scikit-learn.org/imbalanced-learn/stable/generated/imblearn.metrics.sensitivity_specificity_support.html#imblearn.metrics.sensitivity_specificity_support

[2018-05-17 15:41] glemaitre commented on #11089
The error is a bit weird. It seems that the Tinyclues logo is not a png anymore.

[2018-05-17 15:47] glemaitre commented on #11089
The relevant line is:

[code]

[2018-05-17 16:56] Sandy4321 commented on #6101
friends
we have this problem for 3 years
this problem we opened
aflaxman commented on Dec 29, 2015
it is important to run both and fit and predict on sparse data
can you please finally fix it
we deserved it....

[2018-05-17 17:41] rth commented on #6101
As far as I can tell this was fixed in https://github.com/scikit-learn/scikit-learn/pull/6116 which was included in v0.19 and later.

[2018-05-17 18:41] jorisvandenbossche commented on #10521
I updated the PR https://github.com/scikit-learn/scikit-learn/pull/10523, ready for review

[2018-05-17 19:47] jmwoloso commented on #11041
@vimox-shah I don't think I can make it much simpler, but...:

1. Train model
2. Serialize model (using `joblib from sklearn.externals`)
3. Deploy model using containers (Docker)
4. Use Kubernetes to manage containers and resources

Inside those containers, you can have your `flask` apps. In flask you build endpoints that can be either internally used by your script and other functions, or accessi

[2018-05-17 20:18] rth commented on #11089
More investigation showed that the issue is with the AFP logo: `logo.png` comes from www.afpy.org/logo.png (see https://github.com/AFPy/site/issues/29 for more details).

Tinyclues came before it in the list of includes and it is fine.

[2018-05-17 22:32] mosemet opened #11105 "Changing plt.contourf code to accommodate training data with 4 columns. Code written for 2 columns initially"
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#plt.rcParams['figure.figsize'] = (16, 9)
#np.random.seed(200)

#Importing the dataset
data = pd.read_csv('POWERBALL.csv')
y = data.iloc[:, 16:17].values
X = data.iloc[:, 24:28].values

# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_te

[2018-05-17 23:32] jnothman commented on #11104
for a binary problem, sensitivity is recall of the positive class.
specificity is recall of the negative class. So you can get both in cv with
make_scorer and recall_score

[2018-05-17 23:32] #11104 closed

[2018-05-17 23:40] jnothman commented on #6101
indeed, you are complaining about an of version

[2018-05-18 05:32] vimox-shah commented on #11041
what does 3 point Deploy model using containers (Docker) mean? Do I need to create a image of that model and push to docker hub and use that image or should I use persistent storage in kubernetes for model file? @jmwoloso

[2018-05-18 05:34] vimox-shah commented on #11041
Can I use google cloud storage where I can store model and install in the container when my flask app goes live. model will load only once when the server starts. So whenever a request comes to the server it uses loaded model. what do you think about this approach? @jmwoloso

[2018-05-18 09:10] lesteve commented on #11089
Thanks for the investigation @rth. Just FYI I opened #11106 which should fix the problem.

[2018-05-18 11:11] #11089 closed

[2018-05-18 11:26] rth opened #11108 "HTTP 500 error in fetch_mldata mauna-loa-atmospheric-co2"
There have been several PRs (https://github.com/scikit-learn/scikit-learn/pull/11100#pullrequestreview-120737169, https://github.com/scikit-learn/scikit-learn/pull/11106) where CircleCI  arbitrarly fails due to HTTP 500 errors when calling `fetch_mldata('mauna-loa-atmospheric-co2')`,

Partial traceback below,
[code]

If this keeps repeating, a possible workaround could be,
 * increasing the number

[2018-05-18 11:49] lesteve commented on #11108
My understanding is that the long-term solution is the openml fetcher #9543 (not 100% sure what the status is).

mldata.org has historically not been extremely reliable but if this is just temporary glitches I would say we should ignore them as we have done so far. The feeling I got when investigating #8588 is that mldata.org maintenance is not very active (no disrespect intended, just saying that

[2018-05-18 13:09] qinhanmin2014 commented on #11105
This is an usage question, please try StackOverflow.
(You need to ensure that number of features is the same as training data when calling ``predict``)

[2018-05-18 13:09] #11105 closed

[2018-05-18 14:52] qinhanmin2014 commented on #11108
Apart from ``fetch_mldata('mauna-loa-atmospheric-co2')``, ``fetch_mldata('MNIST original')`` also fails in #11106.
I'm +1 for ignoring the issue since I think it doesn't occur very often (in the previous year at least).
I also doubt whether the retry mechanism will introduce unnecessary complexity for the examples.

[2018-05-18 14:54] rth commented on #11108
Agreed. Let's close this for now and re-open later if needed.

[2018-05-18 14:54] #11108 closed

[2018-05-18 16:12] Sandy4321 commented on #6101
super good new, thanks
it works now
#S_may18_2018_sparse_data_GBM.py
from scipy import sparse
from sklearn.datasets.samples_generator import make_classification
from sklearn.ensemble import GradientBoostingClassifier

X, y = make_classification(n_samples=20, n_features=5, random_state=0)
X_sp = sparse.coo_matrix(X)

clf = GradientBoostingClassifier()
clf.fit(X,y)
clf.predict(X)  # works

clf.fit(X

[2018-05-18 17:38] rth commented on #6101
You can use Githib markdown formatting for code and citations it really helps readability. (I edited your comment above).

The above code sample works fine for me for 0.19.1. I am not sure what you mean by the cited comment.

[2018-05-18 23:53] rola93 commented on #7343
Is this already available? I end up using @mblondel 's [code](https://gist.github.com/mblondel/7337391) I'd like to add a suggestion, ranking_precision_score should use pos_label as a parameter with default value to 1, to follow other metric's rules.

Thanks for your code! :smile:

[2018-05-19 18:49] amueller commented on #10521
I'll cautiously say I'm back ;)

[2018-05-19 18:52] amueller opened #11109 "catch more warnings in common tests"
Right now the output of travis is too large to render, partially because a lot of deprecation warnings and partially because of warnings from the common tests. The common tests should catch all the deprecation warnings and probably also convergence warnings or numerical warnings (we decrease the number of iterations for faster testing).

[2018-05-19 19:03] amueller commented on #10603
Should the town-hall meeting happen at the SciPy sprint? That would exclude @jnothman  attending in person. We could also do a skype call beforehand and then try to hash out details at the sprint. I think mostly it'll be @jnothman @GaelVaroquaux and me and anyone else who's interested in the long-term roadmap? I'm sure @TomAugspurger and @jorisvandenbossche will have useful things to contribute.

[2018-05-19 19:04] amueller commented on #10603
My answer used to be "let's wait for Pandas2" but I'm not sure I like that any more ;)

[2018-05-19 19:07] GaelVaroquaux commented on #10603
I will not be there as SciPy :$.

By the way, what don't you like about "let's wait for Pandas2"?

[2018-05-19 19:10] amueller commented on #10603
@GaelVaroquaux aaahhh right... Well then I guess phone call? It takes to long and is too uncertain. It could be years out, and it's not even clear that it'll find wide adoption. So I would like to think about how far we can reasonably go before that.

[2018-05-19 19:15] GaelVaroquaux commented on #10603
We could do a hangout!

[2018-05-19 19:29] amueller commented on #11108
@lesteve status is it's on my todo and I'm back from the dead (aka teaching)

[2018-05-19 20:33] amueller commented on #11088
I think there's some confusion here about what's going on. The names of W and H are flipped in the code which doesn't help. You do need to fit the hidden representation (which is called W in the code) during transform. Otherwise you'll get noise / PCA. So setting n_iter=1 will just give you bad/invalid results.

It could make sense to use less iterations for transform than for fit, so @jnothman yo

[2018-05-19 23:50] shivamriky commented on #11109
Do you mean deprecation warnings like the one below? If you can guide me a little, I am happy to work on this issue.
![image](https://user-images.githubusercontent.com/5948157/40274153-453622a6-5c02-11e8-8e50-29d341612e02.png)

[2018-05-20 00:51] qinhanmin2014 commented on #11083
Thanks all for the reply here :)

Agree. By saying ``divide according to fetch_ and load_``, I mean having a section for built-in datasets (similar to ``Section 5.2 Toy datasets`` in current version). I think sometimes users might want to explore scikit-learn with these small datasets which do not require extra download.

[2018-05-20 01:18] qinhanmin2014 opened #11110 "Travis cron job fails"
See https://travis-ci.org/scikit-learn/scikit-learn/builds/381024146
[code]
At a glance, many failures are related to ``The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()``, so I think it's similar to #9812

[2018-05-20 01:30] qinhanmin2014 opened #11111 "General examples section misleading in Examples gallery"
Before I join the project, I think general examples (at the top of the gallery) contains simple examples for typical algorithms. But now I realize that it contains examples that are not classified. Maybe we can try to put some of these examples into existing sections and change ``general examples`` at the top to something like ``other modules`` (examples concerning other modules) at the bottom.
Bt

[2018-05-20 08:19] rth commented on #11110
Which might mean that there is a compatibility issue with scipy-dev or numpy-dev. Scipy had quite a [few failures on master lately](https://github.com/scipy/scipy/commits/master). I imagine daily wheels are not generated in this case? If they are it could explain the result.

One example of failure is, for instance, this line,
https://github.com/scikit-learn/scikit-learn/blob/7db0ca4081fc85c654dce

[2018-05-20 12:46] ssiegel95 opened #11112 "scipy.optimize.fmin_cobyla should communicate non-convergence or other problem via return"
Currently scipy.optimize.fmin_cobyla will warn to stdout about non-convergence or constraint violations but still return a result. There should be some way to know (via the return) that there was an issue with the solution. In my case, scipy.optimize.fmin_cobyla is running as part of a REST service and it's impossible to catch this condition to communicate it back to the user because the only indi

[2018-05-20 17:27] ssiegel95 commented on #11112
Apologies @amueller, brain fart. Will close and post there.

[2018-05-20 17:27] #11112 closed

[2018-05-20 17:28] amueller commented on #11111
Happy to rename "general" to "miscellaneous"

[2018-05-20 17:31] amueller commented on #11112
np.

[2018-05-20 17:32] amueller commented on #11109
I meant deprecation warnings raised in scikit-learn, not in Numpy. That one you mention is during compilation. I meant during testing.

[2018-05-20 17:34] amueller commented on #11020
how would we pick a finite value?

[2018-05-20 17:34] lucyhuo commented on #4405
Same issue here.

[2018-05-20 17:36] amueller commented on #11080
@eyal6699 can you clarify what the issue is please? You're saying with and without scaling you get different coefficients in linear regression? If the matrix is ill-conditioned that can happen.

[2018-05-20 17:39] amueller commented on #11020
I would argue #11079 is about not scaling by default.

[2018-05-20 17:45] axelgoblet commented on #11020
LinearSVC uses a value of 1000, maybe that is a good choice?

[2018-05-20 17:53] amueller commented on #11020
@alexgoblet would that lead to stopping earlier in the non-scaled cases?

[2018-05-20 17:59] amueller commented on #10063
@hermidalc can you please open an issue with a reproducible example?

[2018-05-20 17:59] axelgoblet commented on #11020
I dont know whether scaling influences the rate of convergence. Early stopping could happen in any case I guess.

[2018-05-20 18:02] amueller commented on #11020
yes it does. all the issues were about users not scaling and because of that the algorithm running forever. The main point would be to catch that early, I think. This might be somewhat fixed with the new default parameter for gamma, but I'm not sure if that isn't just hiding the problem then.

[2018-05-20 18:03] amueller commented on #4405
@lucyhuo @darthdeus the current implementation in sklearn only works for the sklearn estimator. We are working on a general implementation at #5653

[2018-05-20 18:15] axelgoblet commented on #11020
The choice of gamma is quite dependent on each individual dataset, and also on the scale of the features. So I think that only changing the default gamma does not tackle the problem.

[2018-05-20 20:18] byrony commented on #2889
Same problem on my machine when using customized scoring function in `GridsearchCV`.
python 3.6.4,
scikit-learn 0.19.1,
windows 10.,
CPU cores: 24

[2018-05-20 22:52] cheng-w-liu opened #11113 "For the RBF Kernel in gaussian_process, the calculation of the gradient seems incorrect?"
#### Description

The [RBF kernel ](https://github.com/scikit-learn/scikit-learn/blob/a24c8b46/sklearn/gaussian_process/kernels.py#L1131)corresponds to the form:
k(x_i, x_j) = exp(-1/2 ||x_i - x_j||^2 / length_scale^2)

Therefore, the gradient with respect to the parameter `length_scale` should be:
gradient = k(x_i, x_j) * ( ||x_i - x_j||^2 / length_scale^**3**)

However, the c[urrent implementati

[2018-05-21 08:28] jnothman commented on #11108
or completing the openml PR and loading from there

On 18 May 2018 9:26 pm, "Roman Yurchak" <notifications@github.com> wrote:

[2018-05-21 10:11] markshannon commented on #10416
Here's a modified version of your query which checks that the default value of the parameter is None.
https://lgtm.com/query/1506289197588/
Does that help?

[2018-05-21 10:25] River-Mountain opened #11114 "Label propagation/spreading model using rbf kernel gets same predictions"
#### Description
I am solving a semi-supervised multi-class problem. The training data are 8000 labeled samples and 21000 unlabeled samples with 128 features. The test data are 8000 unlabeled samples with 128 features.

However, when I use label spreading/propagation with rbf kernel, the predictions are all the same as class 1. If I use knn kernel, the result is acceptable.

#### Code
[code]
####

[2018-05-21 11:28] jnothman commented on #10603
Indeed... don't expect me to attend in person! :)​

[2018-05-21 11:31] jnothman commented on #11083
Whereas I think most users don't care about a download that happens once.
Therefore the main thing that characterises built-in datasets is their
being small!​

[2018-05-21 15:44] amueller commented on #11114
You should standardize for rbf kernel. Did you do a grid-search for gamma? Also, this is a usage question and probably better suited for stackoverflow.

[2018-05-21 16:02] amueller commented on #2889
@byrony can you provide code to reproduce? did you use ``if __name__ == "__main__"``?

[2018-05-21 21:47] jnothman commented on #11113
I agree that's what it seems to be doing. Could you submit a PR with a test? I'm curious how you found this bug also. We should, if we do not, probably have tests comparing these analytical gradients to numerical estimates.

[2018-05-21 21:57] amueller commented on #11113
Was thinking the same. scipy had a gradient checker, right?

[2018-05-21 22:06] amueller opened #11115 "Python 2.7 status / statement"
We should decide on Python 2.7 support and announce it with the next release. Numpy will drop it for new features at the end of 2018:
https://docs.scipy.org/doc/numpy/neps/dropping-python2.7-proposal.html
I think we discussed this before but I couldn't find discussions. I think going in approximate lockstep with numpy makes sense, so we could make 0.20 the last Python 2.7 release, or 0.21. Our rel

[2018-05-21 22:42] amueller commented on #8755
Could it be an issue in
[code]
maybe converting class_counts to float will fix it?

[2018-05-21 22:50] amueller commented on #11085
Duplicate of #10308.

[2018-05-21 22:52] amueller commented on #11085
We should add a parameter (and probably keep it) but deprecate the default in one of them. It's not entirely clear whether we should go max or sqrt. Should it be identical to the v-measure by default or not?

[2018-05-21 22:52] amueller commented on #11085
(let's discuss in  #10308)

[2018-05-21 22:52] #11085 closed

[2018-05-21 22:55] amueller commented on #5115
@MrLobs that sounds like a pickling error, right? put CustomTransformer in a separate python file.

[2018-05-21 22:55] amueller commented on #5115
@Chrisjw42 @avatsaev without more context we can't really do much.
@avatsaev sounds like you might be using tensorflow?

[2018-05-21 22:56] amueller commented on #6261
@fsbeserra that requires dot, right? The point of this PR is not to require dot.

[2018-05-21 22:57] amueller commented on #6261
Sorry I was referencing #9251

[2018-05-21 22:59] amueller commented on #6261
Text based output would still be cool.

[2018-05-21 23:02] avatsaev commented on #5115
@amueller yes it's tensorflow

[2018-05-21 23:11] amueller commented on #5115
@avatsaev that's still not really enough information. Do you have a minimum example to reproduce? what blas are you using, are you using GPU, what version of scikit-learn are you using ....

[2018-05-21 23:21] jnothman commented on #11113
I wasn't aware, but there's scipy.optimize.check_grad

[2018-05-21 23:54] amueller commented on #11072
I'm not really a user of this algorithm, but I think storing them in the object should be fine. Is the size of those ``n_samples``? Then we should be always able to store them, right?

For the function interface returning them optionally would also be fine. We can't just change the signature, that breaks backwards compatibility.

[2018-05-22 04:27] cheng-w-liu commented on #11113
@jnothman
opening a PR here: https://github.com/scikit-learn/scikit-learn/pull/11116
I was just looking at the source code and noticed the issue :)

[2018-05-22 04:28] cheng-w-liu commented on #11113
accidentally closed the ticket. Please reopen it

[2018-05-22 04:28] amueller commented on #11113
Please leave the issue open until the PR is merged.

[2018-05-22 04:56] #10550 closed

[2018-05-22 15:14] Sandy4321 commented on #6101
Github markdown formatting for code -  how to use it?

[2018-05-22 16:47] TomDLT commented on #11109
On your machine, you can run the tests with `pytest -r a sklearn`. At the end of the script, pytest prints a "warnings summary". It would be great to silence the expected warnings, such as convergence warnings.

Example: `pytest -r a sklearn/linear_model/tests/test_coordinate_descent.py`:
[code]

To silence warnings, see ignore_warnings:
https://github.com/scikit-learn/scikit-learn/blob/4b24fbedf5

[2018-05-22 17:12] amueller opened #11117 "Common test to check that __init__ doesn't mess with parameters"
There's ``check_dont_overwrite_parameters`` which checks that ``fit`` doesn't overwrite ``__init__`` params, and there's ``check_no_attributes_set_in_init`` that checks that only ``__init__`` attributes are set. There is not check that they are actually set to the correct value, so
[code]
actually passes the common tests. That's not good imho.

[2018-05-22 17:37] amueller commented on #10465
@anuraglahon16 LabelEncoder is for labels, missing values there don't really make sense.

[2018-05-22 18:34] amueller commented on #10372
I think we should document the current behavior. Why would you reduce the grid resolution by default? I guess we could also make it dependent on what was explicitly passed by the user, i.e. if they pass ``grid_resolution`` we should respect that, but if they used a default, maybe we don't need to?

[2018-05-22 18:34] amueller commented on #8163
Sounds good to me.

[2018-05-22 18:38] amueller commented on #9273
We should make sure that if the user passes a ``max_iter`` that's greater than the default ``maxiter`` we change ``maxiter`` as well. I think using ``maxfun`` instead of ``maxiter`` makes sense as it makes the computation more comparable to the other solvers, but we should document better.

[2018-05-22 18:40] amueller commented on #8590
What kernel methods in sklearn don't accept precomputed kernels? I'm not sold on this because it's really hacky. I have not heard of anyone do that. Can you give an example when you'd do that?

[2018-05-22 18:42] amueller commented on #10889
Not sold on this. You could just download the data and vectorize yourself if you really care. I'm not a fan of any custom dataset loaders btw.

[2018-05-22 18:42] amueller commented on #4856
Interest doesn't seem to be big, should we close?

[2018-05-22 18:44] amueller commented on #9324
Closing this as it was a question not an issue and hasn't received attention in a year. I don't think there's a way and I'm not sure which mahalanobis distance you're referring to as this pops up in a couple of places in sklearn.

[2018-05-22 18:44] #9324 closed

[2018-05-22 18:45] amueller commented on #9400
Possibly related to #9107. Thanks for the report, sorry for the slow reply.

[2018-05-22 18:48] amueller commented on #8833
I'm fine with storing this.

[2018-05-22 18:50] amueller commented on #8784
I think adding L1 and L2 regularization would be great. It's not clear whether adding them to the current tree implementation is the best idea, though, because it's pretty slow. See #8458 for an alternative implementation.

[2018-05-22 18:51] amueller commented on #8175
I'm not sure we want this and I'd vote to close.

[2018-05-22 18:55] agramfort commented on #4856
agreed.

[2018-05-22 18:55] amueller commented on #10603
also see #8888

[2018-05-22 18:56] amueller commented on #8823
ping @tguillemot ? Which terms are missing?

[2018-05-22 18:57] amueller commented on #10919
ping @agramfort @GaelVaroquaux

[2018-05-22 18:58] amueller commented on #6207
this is a usage question better suited to stackoverflow, I think. If you think there's an issue with sklearn, please post a minimum example to reproduce.

[2018-05-22 18:58] #6207 closed

[2018-05-22 19:02] amueller commented on #8559
This is an interesting combination. We have discussed the larger problem of "routing" properties here https://github.com/scikit-learn/enhancement_proposals/pull/6 and here: #4497.

Honestly I'm surprised the ``fit_params`` work in the pipeline the way they do. Are they documented that way?

[2018-05-22 19:06] amueller commented on #8559
I'd be ok with adding ``**fit_params`` to BaggingClassifier as you suggested.

[2018-05-22 19:08] agramfort commented on #10919
@AlexisMignon yes the Friedman paper is a canonical reference for CD on Lasso. i think it's enough.

the duality gap as stopping criterion is my initiative. For the derivation of the dual I tend to cite:

https://ieeexplore.ieee.org/document/4407767/

and my own work can be a also a ref : https://arxiv.org/pdf/1505.03410.pdf

[2018-05-22 19:08] amueller commented on #6512
fixed by #9457

[2018-05-22 19:08] #6512 closed

[2018-05-22 19:10] amueller commented on #8781
Yes, I think we would accept a PR for that. Not sure if this should be conditional or not. We could have a parameter ``handle_nan_columns`` as "drop", "warn", "error" or "keep"?

[2018-05-22 19:10] #4856 closed

[2018-05-22 19:11] amueller commented on #10919
@agramfort maybe you're in the best position to add a quite reference section on this?

[2018-05-22 19:17] amueller commented on #8445
They do support ``kernel="precomputed"``. If there's an issue with that, please provide a minimum example to reproduce.

[2018-05-22 19:19] amueller commented on #5768
closed by #5779

[2018-05-22 19:19] #5768 closed

[2018-05-22 19:20] amueller commented on #9819
Hm not sure how I feel about adding more to the API ...

[2018-05-22 19:21] amueller commented on #8572
closing as no reply.

[2018-05-22 19:21] #8572 closed

[2018-05-22 19:21] #7398 closed

[2018-05-22 19:30] amueller commented on #10467
using GridSearchCV with KDE "just works" right now, right?

[2018-05-22 19:30] amueller commented on #9559
fixed in #9450

[2018-05-22 19:30] #9559 closed

[2018-05-22 19:32] amueller commented on #5210
usage question and it's possible with some solvers, though there's issues, see #9107 and #9400

[2018-05-22 19:32] #5210 closed

[2018-05-22 19:32] amueller commented on #1183
see #9532

[2018-05-22 20:05] amueller commented on #4208
closing as no reply

[2018-05-22 20:05] #4208 closed

[2018-05-22 20:05] amueller commented on #7271
closing as no reply.

[2018-05-22 20:05] #7271 closed

[2018-05-22 20:09] amueller commented on #10539
hm I'm not sure I'm sold on adding a parameter. What's wrong with the pattern that you posted?

[2018-05-22 20:10] amueller commented on #3289
I'm closing given the amount of enthusiasm received within the last 4 years ;) @ogrisel feel free to reopen. I don't think we should spend too much effort on the image functions.

[2018-05-22 20:10] #3289 closed

[2018-05-22 20:11] amueller commented on #8745
closing as no reply.

[2018-05-22 20:11] #8745 closed

[2018-05-22 20:13] amueller commented on #6406
closing as no reply.

[2018-05-22 20:13] #6406 closed

[2018-05-22 20:14] amueller commented on #6094
closing as no reply.

[2018-05-22 20:14] #6094 closed

[2018-05-22 20:14] amueller commented on #6273
fixed with #6274 I think.

[2018-05-22 20:14] #6273 closed

[2018-05-22 20:15] amueller commented on #5848
closed by #5850.

[2018-05-22 20:15] #5848 closed

[2018-05-22 20:15] amueller commented on #7181
Or put it into scikit-learn contrib. Closing as no update in 2yrs

[2018-05-22 20:15] #7181 closed

[2018-05-22 20:16] amueller commented on #8934
I think we still need to fix several issues in our PLS implementation first :-/

[2018-05-22 20:18] amueller commented on #8498
closing as usage question.

[2018-05-22 20:18] #8498 closed

[2018-05-22 20:20] amueller commented on #10191
The example still uses the private function. Not sure what to do about this. It sure is strange. cc @ngoix @agramfort

[2018-05-22 20:23] #8175 closed

[2018-05-22 20:26] marksweissma opened #11118 "passing types with get_params method to estimators"
currently `get_params` checks for the existence of the `get_params` method on the attributes during iteration, however this prevents passing types,  which have a `get_params` methods because they will throw an exception when the method is called - since the object is not instantiated and `get_params` is not bound. I do not believe there is any negative impact here, unless params are being stored a

[2018-05-22 20:26] zfrenchee commented on #8934
@amueller I agree. I tried to round up a couple issues in https://github.com/scikit-learn/scikit-learn/issues/9453#issuecomment-318712312 Are there more?

[2018-05-22 20:28] amueller commented on #11118
I don't think we want to have ``get_params`` work as a static method.

[2018-05-22 20:31] amueller commented on #8934
https://github.com/scikit-learn/scikit-learn/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+PLS

[2018-05-22 20:32] amueller commented on #8966
I don't think spending time on this is worth it. This is a unit test that tries to be pretty robust. We have 1003 open issues that are more urgent than doing something that should usually be avoided in a test.

[2018-05-22 20:32] #8966 closed

[2018-05-22 20:32] amueller commented on #6988
closing as no reply

[2018-05-22 20:32] #6988 closed

[2018-05-22 20:34] amueller commented on #10336
I think we should add ``fit_predict`` at least. I wouldn't rename ``n_components``.

[2018-05-22 20:36] amueller commented on #10387
closing as no reply / out of scope.

[2018-05-22 20:36] #10387 closed

[2018-05-22 20:37] amueller commented on #5087
closing as these are internals that we probably don't want to maintain.

[2018-05-22 20:37] #5087 closed

[2018-05-22 20:39] amueller commented on #10425
you didn't search the gamma parameter.

[2018-05-22 20:39] #10425 closed

[2018-05-22 20:40] amueller commented on #8967
We should document this if it's expected.

[2018-05-22 20:40] amueller commented on #10328
closing as no reply feel free to reopen.

[2018-05-22 20:40] #10328 closed

[2018-05-22 20:41] amueller commented on #8844
merged in #8845

[2018-05-22 20:41] #8844 closed

[2018-05-22 20:41] amueller commented on #10585
Closing as no reply, feel free to reopen.

[2018-05-22 20:42] amueller commented on #8441
Closing as no reply, feel free to reopen.

[2018-05-22 20:42] #8441 closed

[2018-05-22 20:46] amueller commented on #4580
has 1000 citations but doesn't seem to have a lot of enthusiasm....

[2018-05-22 20:48] amueller commented on #10214
we decided on this, right?

[2018-05-22 20:49] marksweissma commented on #11118
would potentially look like: https://github.com/scikit-learn/scikit-learn/compare/master...marksweissma:patch-get-params?expand=1

[2018-05-22 20:50] amueller commented on #10424
I agree. Feel free to reopen with what you'd expect it to do.

[2018-05-22 20:50] #10424 closed

[2018-05-22 20:52] amueller commented on #11118
link doesn't work.

[2018-05-22 20:54] marksweissma commented on #11118
sorry about that @amueller should be updated, apologies, thanks!

[2018-05-22 20:55] amueller commented on #6265
This is the same behavior in master, but I think it's correct. The AUC of random/constant predictions should be .5. Feel free to reopen if you disagree.

[2018-05-22 20:59] amueller commented on #6265
This is still the same in master. I am a bit confused. I thought random AUC would always be .5 but that's not the case in this code?!

[2018-05-22 21:07] amueller commented on #6265
OK I got double confused here. This is not AUC, AUC is the area under the ROC curve. You're talking about average precision, which is not computed using the auc function and should not be computed that way. calling ``average_precision_score`` on your example yields ``.1``.

Please reopen if you disagree.

[2018-05-22 21:07] #6265 closed

[2018-05-22 21:16] amueller commented on #11118
Ah, I didn't fully understand the issue earlier. I guess the scikit-learn convention is not passing types but passing estimators, which can be ``cloned`` if you need a "fresh" one. This allows passing stuff like pipelines whenever an estimator is expected.
Can you give an example of why you'd want to pass a class instead of an instance?

[2018-05-22 21:17] dkirkby commented on #10539
The problem with that pattern is that it is not obvious (or documented).  Also, I would argue that reproducibility is a key API contract whenever random numbers are being used.

Quoting from the [coding guidelines](http://scikit-learn.org/stable/developers/contributing.html#random-numbers):

[2018-05-22 21:18] amueller commented on #9196
yeah it's always OvO in libsvm. Clear error in the docs.

[2018-05-22 21:20] amueller commented on #10539
I guess passing in a random state there is more explicit. I think by default we want consecutive calls to ``sample`` yield different results, which is a bit weird in terms of reproducibility, but I think anything else would confuse users.

[2018-05-22 21:21] dkirkby commented on #10539
@jnothman - here is the review you requested:

[code]
yields:
[code]
Summary: 4 out of 6 `sample()` methods currently support an optional `random_state` arg.

[2018-05-22 21:27] amueller commented on #10036
Also, I'm not sure which algorithm you're talking about with ``means_``. GMMs? They are not really clustering algorithms. Having a more consistent interface between GMMs and KMeans might be nice, but it's not clear to me whether it's worth renaming ``cluster_centers_`` for that, and I wouldn't like to rename ``means_`` to ``cluster_centers_``.

[2018-05-22 21:29] amueller commented on #10539
Y sklearn.mixture.DPGMM.sample
Y sklearn.mixture.GMM.sample
Y sklearn.mixture.VBGMM.sample

These will be removed soon.

But I'd be ok with a PR.

[2018-05-22 21:31] amueller commented on #6574
closing as no reply.

[2018-05-22 21:31] #6574 closed

[2018-05-22 21:33] amueller commented on #10823
Pipeline.memory doesn't memoize transform? Should it? optionally?

[2018-05-22 21:39] amueller commented on #7006
Should I close #11109 as a duplicate of this?

[2018-05-22 21:41] amueller commented on #6386
I guess this is still open to benchmarking if anyone cares?

[2018-05-22 21:42] amueller commented on #7360
closing as no reply.

[2018-05-22 21:42] #7360 closed

[2018-05-22 21:42] marksweissma commented on #11118
That makes sense. Background: I've been working on some components to automate and abstract some common tasks for problems that scikit-learn is well suited for and I can derive the components from`object` but I think they work better if they're derived from scikit-learn base components (this makes tasks like ensembling estimators much more straightforward). In the vein of sklearn's Pipeline i've b

[2018-05-22 21:43] amueller commented on #9661
I think we should definitely add gibbs sampling, but I wouldn't remove the variational approach as it's more suitable for very large datasets. I think the stochastic variational approach might have issues. @hannawallach has a Cython implementation of gibbs sampling that we could probably steal afaik.

[2018-05-22 21:46] amueller commented on #11118
Why don't you use ``clone`` and ``set_params``? I'm not opposed to the change, but it seems like the same thing we're doing and I'm not sure why you need a different interface. Btw, you know of imbalance learn and auto-sklearn and tpot, right?

[2018-05-22 22:15] marksweissma commented on #11118
The pipeline is composed in the object, so there isn't anything to clone yet there. The goal of the project is to take a declarative approach, with agreed contracts rather than an imperative approach (to include oversampling the process is to use imblearn's pipeline), auto-sklearn and tpot are both very powerful but their functionality is optimized for a different tact, there's more reasons than w

[2018-05-22 22:18] #11118 closed

[2018-05-22 22:29] JPFrancoia commented on #5210
Yeah sorry this issue should have been closed ages ago. @mblondel , it's been implemented for the SVD solver in the mean time.

[2018-05-22 22:46] Eight1911 commented on #10336
I would like to work on this!

[2018-05-22 23:18] jnothman commented on #11117
will that pass the clone checks too?!

[2018-05-23 01:16] NathanWycoff commented on #9661
Hi @amueller , I'm not proposing removing the variational approach, I'm proposing switching which variational approach we use;[ this great article ](https://arxiv.org/ftp/arxiv/papers/1205/1205.2662.pdf) goes over a bunch of the differences between the algos. I propose switching from what they refer to as VB to what they refer to as CVB0.

It's been a while since this topic opened. I have implemen

[2018-05-23 02:27] jnothman commented on #8055
Cf. #9606

[2018-05-23 02:30] jnothman commented on #8781
Why keep?

Drop/warn/error can be configured with warnings.simplefilter, so do we
really need that complexity in our code?

On 23 May 2018 5:10 am, "Andreas Mueller" <notifications@github.com> wrote:

[2018-05-23 03:20] JamesTrick commented on #11111
I think I may have corrected this with the open PR #11120

[2018-05-23 07:19] chrishmorris commented on #8445
The documentation for GPR does not say it accepts a precomputed gram matrix:
   http://scikit-learn.org/stable/modules/generated/sklearn.gaussian_process.GaussianProcessRegressor.html#sklearn.gaussian_process.GaussianProcessRegressor
and the fit method unconditionally executes:
    K = self.kernel_(self.X_train_)

KRR does indeed accept a precomputed gram matrix, but the documentation does not say

[2018-05-23 07:26] chrishmorris commented on #8590
I do this because the objects in my x space are molecules. My kernel is Tanimoto similarity between molecule fingerprints.

The point of kernel methods is that devising an appropriate kernel function is an alternative to feature extraction. Mercer's theorem says that a kernel induces a vector space over the input space, but an infinite-dimensional one, so this approach is inherently more powerful

[2018-05-23 07:29] agramfort commented on #8445
any volunteer to make a PR then?

[2018-05-23 07:48] jnothman commented on #10191
see #10700 for the proposed solution

[2018-05-23 07:52] jnothman commented on #10214
I think this can be closed, regardless of whether there is clear consensus.

Let me join your killing spree..

[2018-05-23 07:52] #10214 closed

[2018-05-23 07:54] tguillemot commented on #8823
If I remember well, this formula is follow by a text saying that a lot of simplifications can be done and are left as exercice.

If you want to have a look to the developed formula of the Bayesian mixtures used in `bayesian_mixture.py`, you will find all the details in #7284.

[Here, you can find a rendered version of the PR (maybe not the last version)](https://16-50829930-gh.circle-artifacts.com

[2018-05-23 08:03] jnothman commented on #10823
we memorise transformation of training data, but not testing, and this is a
subject of complaint in #10068 with respect to memory usage. Regardless,
I'm not sure that handling this in Pipeline is the right solution.

[2018-05-23 08:59] TomDLT commented on #7006
Let's close this one which does not have clear instructions.

[2018-05-23 08:59] #7006 closed

[2018-05-23 11:33] jnothman commented on #9661
Cython does little to automatically optimise your code. It only will make
optimisation where you specify static types, switch off bounds checking
when indexing into lists, etc. cython -a is your friend for finding out if
you've got slow code due to not static typing etc.​

[2018-05-23 11:40] jnothman commented on #8590
To repeat: What kernel methods in sklearn don't accept precomputed kernels?

[2018-05-23 13:07] JianXin-Yun opened #11121 "DeprecationWarning: Using or importing the ABCs from 'collections' in Python 3.7"
![default](https://user-images.githubusercontent.com/26893563/40426217-1256d1aa-5ecd-11e8-82ee-4146b211acce.PNG)

[2018-05-23 13:11] JianXin-Yun commented on #11121
![default](https://user-images.githubusercontent.com/26893563/40426521-e38c8756-5ecd-11e8-9cce-c0c4faec34b3.PNG)

[2018-05-23 13:21] #11111 closed

[2018-05-23 13:58] NathanWycoff commented on #9661
I see, I guess I've been spoiled by Rcpp. cython -a shows that my computationally intensive lines are in pretty good shape.

[2018-05-23 14:25] jnothman commented on #11121
I think we should aim to solve this after the next release of `six`. See https://github.com/benjaminp/six/pull/241

[2018-05-23 14:26] jnothman commented on #9661
Share the code?​

[2018-05-23 16:50] amueller commented on #8590
Tanimoto similarity is the jaccard similarity, right? That doesn't lead to a positive definite kernel?

[2018-05-23 16:52] amueller commented on #8590
Hm I guess it does not, but wouldn't exp(similarity) lead to one?

[2018-05-23 17:00] amueller commented on #11121
When was that moved, i.e. will #11115 help?

[2018-05-23 19:20] amueller commented on #8267
fixed in #10899

[2018-05-23 19:20] #8267 closed

[2018-05-23 19:31] amueller opened #11122 "RFE.scores_ attribute not documented"
The RFE.scores_ document needs to be documented in the docstring under attributes.

[2018-05-23 19:41] amueller commented on #11031
sklearn sometimes returns y of shape (n_samples, 1) as well, I think. Can you check this issue persists in master, though? I think we made some changes there.

[2018-05-23 19:50] #7955 closed

[2018-05-23 19:52] #10883 closed

[2018-05-23 20:14] WhenGoodComponentsGoBad opened #11123 "User guide does not mention the intercept regularization in logistic regression"
#### Description

The [section on logistic regression](http://scikit-learn.org/stable/modules/linear_model.html#logistic-regression) in the user guide mentions an intercept term `c` in the cost function and does not include `c` in the penalization term. However, the [class documentation](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html#sklearn.linear_mo

[2018-05-23 20:14] #11123 closed

[2018-05-23 20:32] aryamccarthy commented on #10308
[Yang et al.](https://www.nature.com/articles/srep30750) claimed not to observe big differences based on the measure. Vinh et al. don't make a recommendation either. [Danon et al.](https://arxiv.org/pdf/cond-mat/0505245.pdf) were the first to use it for community detection, and they followed a line of work that actually used `sum`.

It'll come down to whoever decides to implement it. I'm happy to

[2018-05-23 20:40] amueller commented on #10308
I am against sum because that would require changing both and it looks like it's less used in the clustering literature. I think I'm leaning max but I really don't care that much ;)

[2018-05-23 20:47] aryamccarthy commented on #10308
Ah, an instance of different preferences in different fields. We can do max. Do I have permission to implement this?

[2018-05-23 20:53] amueller commented on #11117
That's a good question. Probably not. But @jorisvandenbossche's deprecation in the OneHotEncoder did something similar and it passed the tests?!

[2018-05-23 21:01] amueller commented on #10308
Yes, please go ahead. The stronger argument for me is that we need to change behavior in one of the metrics then.

[2018-05-23 21:17] jorisvandenbossche commented on #11117
As I said on that PR, the reason OneHotEncoder is passing the common tests, is because they are simply skipped ...
The current state of the PR certainly does not pass them (eg I also create attributes in the init that are not in the signature), but also before, the tests were already skipped for OneHotEncoder for other reasons (there are a few other tests failing unrelated to the init)

[2018-05-23 22:59] aryamccarthy commented on #10308
I’ve created a PR; waiting for tests to pass. I think converging on sqrt is best for uniformity with V-measure.

-am

On May 23, 2018, 5:03 PM -0400, Andreas Mueller <notifications@github.com>, wrote:

Yes, please go ahead. The stronger argument for me is that we need to change behavior in one of the metrics then.

—
You are receiving this because you commented.
Reply to this email directly, view

[2018-05-23 23:01] JamesTrick commented on #11122
@amueller Perhaps dumb question, but are you referring to docstring for the _rfe_single_fit function in [rfe.py](https://github.com/scikit-learn/scikit-learn/blob/20661b5018ba45f4452218a689640ff007cd361f/sklearn/feature_selection/rfe.py)?

If so, I can give this a go for you.

[2018-05-23 23:21] jnothman commented on #11121
yes, collections.abc is in py 3.4. so ideally we will release scikit-learn
0.20 with an updated six

[2018-05-24 01:00] amueller commented on #11121
that makes sense. And maybe for 0.21 or 0.22 we can get rid of six :)

[2018-05-24 01:03] amueller commented on #11122
I'm talking about the attribute of the RFE class, which is defined [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_selection/rfe.py#L166) and should therefore be documented [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_selection/rfe.py#L72)

[2018-05-24 01:09] amueller commented on #11117
Ah, sorry, I must have missed this. Either way, I think it would be worth testing this more explicitly in the common tests. ``clone`` is a weird way to test that, right?
At least there should be a test in test_common_tests.py to make sure the common tests detect that.

[2018-05-24 01:11] amueller commented on #11117
omg I'm looking so forward to deleting most of clone in #9570

[2018-05-24 01:13] amueller commented on #10823
it probably is not.

[2018-05-24 01:16] amueller commented on #10214
I should have looked at the issues when I started, there is no easy log I think. Definitely 30+ down so far :)

[2018-05-24 01:26] amueller commented on #8781
I'm not sure if this is a good reason, but ``keep`` because otherwise you can't tell OneHotEncoder which columns are categorical after imputation because some might be dropped. Though using ``ColumnTransformer`` is probably a nicer option.

So you'd say always warn and let the user deal with it? I'm not opposed.

[2018-05-24 01:29] amueller commented on #10336
@Eight1911 go for it. It is probably relatively simple but maybe not entirely trivial.

[2018-05-24 01:30] amueller commented on #5210
@JPFrancoia thanks for your help in investigating the other issues. And I really don't expect you to notice that your issue has been resolved (if neither mblondel nor jnothman nor me have lol)

[2018-05-24 01:32] amueller commented on #9400
It shouldn't be the same, but I would have expected PCA to have more explained variance since that's what it's optimizing, while LDA has other things it optimizes. But I didn't think deeply about what the ``explained_variance_ratio`` in LDA means. My intuition was that the first principal component should explain more variance than any other direction. But maybe the denominator is different for th

[2018-05-24 01:35] amueller commented on #11118
@marksweissma I didn't want to imply that there is no need for more tools in the space. I think in fact it's wide open. I just wanted to make sure you're aware of things that other people have done :) Do you have a link?

[2018-05-24 02:05] NathanWycoff commented on #9661
I just threw some of the code into [this repo](https://github.com/NathanWycoff/cvb0_sklearn/tree/master), there's a README with some guidance, but please don't hesitate to ask if anything is unclear. In this implementation, I only implement the computationally intense part in Cython. I also have a version lying around someplace where every single line is in Cython, but that didn't help much, as yo

[2018-05-24 07:34] chrishmorris commented on #8590
Gaussian Process Regression.

For Kernel Ridge Regression, just a documentation change is needed.

For Kernel Ridge Regression does not mention it, but in fact it supports

[2018-05-24 07:37] chrishmorris commented on #8590
"It is well known that the Jaccard–Tanimoto similarity measure satisfies the Mercer's conditions and, hence, yields a Mercer kernel "
https://academic.oup.com/bioinformatics/article/26/10/1348/193672

[2018-05-24 12:08] wesbarnett commented on #8445
I can do a PR for the doc fix for KRR precomputed kernels. I've used that option before (saw the option while examining the source).  First sklearn issue for me.

[2018-05-24 12:36] chrishmorris commented on #8445
To do GPR with a precomputed matrix, I use the attached subclass.

Please feel free to use the code if you like it. It is directly determined by the nature of the problem to be solved, the conventions of the Python community, and the sklearn API, so I consider that I have no copyright in it.

[GPR.py.txt](https://github.com/scikit-learn/scikit-learn/files/2035313/GPR.py.txt)

[2018-05-24 13:49] gkevinyen5418 commented on #11097
I fixed it and sent a pull request.
https://github.com/scikit-learn/scikit-learn/pull/11125
@rth

[2018-05-24 14:08] vivekk-ezdi opened #11126 "Documentation unclear about KernelPCA `X_transformed_fit_`"
#### Description
The [documentation of KernelPCA](http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.KernelPCA.html) is not clear about the `X_transformed_fit_` attribute. This attribute is not available when `fit_inverse_transform` param is False (default). Its only available when its explicitly set `True`.

#### Steps/Code to Reproduce
[code]

#### Actual Results
[code]

####

[2018-05-24 14:51] amueller opened #11128 "Change default n_estimators in RandomForest (to 100?)"
Analysis of code on github shows that people use default parameters when they shouldn't. We can make that a little bit less bad by providing reasonable defaults. The default for n_estimators is not great imho and I think we should change it. I suggest 100.
We could probably run benchmarks with openml if we want to do something empirical, but I think anything is better than 10.

I'm not sure if I w

[2018-05-24 14:56] amueller opened #11129 "Change cv default to 5"
I think it's commonly accepted that kfold cross-validation should be done with k=5 or k=10. We do 3 fold by default. Actually in a recent talk Max Kuhn said "never do threefold" and I think he was not even aware that this could have been a jibe.

Again, not sure if we should tag this 1.0 and make it a breaking change or just deprecate it because really no-one should have been using the default any

[2018-05-24 14:56] jorisvandenbossche commented on #10214
It is of course not exact by date, but you always look at https://github.com/scikit-learn/scikit-learn/pulse. Anyhow, the balance for this week is -40 issues :)

[2018-05-24 15:03] amueller commented on #11126
Thanks for opening the issue. Do you want to fix it?

[2018-05-24 15:05] vivekk-ezdi commented on #11126
@amueller   Yes. Should I just add the line as added in the `dual_coef_` param?

[2018-05-24 15:17] amueller commented on #11126
yes. Or say "only present if".

[2018-05-24 15:18] amueller commented on #11126
(both attributes should have the same wording, but feel free to change the wording to be as clear as possible).

[2018-05-24 15:20] qinhanmin2014 commented on #11110
Everything seems fine now

[2018-05-24 15:20] #11110 closed

[2018-05-24 15:38] GaelVaroquaux commented on #11129
It would be a good thing.

What do you propose in terms of deprecation path, to avoid surprising
users?

[2018-05-24 15:44] amueller commented on #11129
(I didn't tag as "help wanted" before there is consensus)

[2018-05-24 15:51] amueller commented on #8445
@wesbarnett go for it!

[2018-05-24 15:51] aryamccarthy commented on #10308
Ooh, a twist. Sum is actually what V-measure uses—not sqrt. It seems we've covered the entire gamut. I'm going to take that as another argument in favor of sum. << Thought I hit 'Comment' on this some time ago.

[2018-05-24 15:51] amueller commented on #8445
@chrishmorris I was hoping we could do it easier than that, maybe by using a precomputed kernel class for the kernel.

[2018-05-24 16:47] amueller opened #11131 "Segfault in LinearSVR on master"
sklearn/tests/test_common.py::test_non_meta_estimators[LinearSVR-LinearSVR-check2214] Makefile:27: recipe for target 'test-code' failed

Linux-4.15.0-22-generic-x86_64-with-debian-buster-sid
Python 3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 18:10:19)
[GCC 7.2.0]
NumPy 1.14.0
SciPy 1.0.0
Scikit-Learn 0.20.dev0
Cython version 0.27.3

Deterministic segfault :-/ I need to investigate
reproduce:

[c

[2018-05-24 16:50] amueller commented on #8108
fixed in #9278.

[2018-05-24 16:50] #8108 closed

[2018-05-24 16:55] amueller commented on #11131
[code]
reproduces this. How can I find out which test that is? @rth @qinhanmin2014 ?

[2018-05-24 17:15] amueller commented on #11131
Git bisect says #11063 is guilty

[2018-05-24 17:36] amueller commented on #11131
svm/src/liblinear/linear.cpp
 2386├>                model_->n_iter[0] =train_one(prob, param, &model_->w[0], 0, 0);

[2018-05-24 18:03] amueller commented on #11131
It's LinearSVR-LinearSVR-check_regressors_train(readonly_memmap=True)

[2018-05-24 18:04] amueller commented on #11131
lol git bisect is stupid on this... never mind...

[2018-05-24 19:02] amueller commented on #11131
it's actually ``y`` being a memmap that's causing the problem....

[2018-05-24 19:04] rth commented on #11131
Hmm, if `LinearSVR` segfaults with read-only memmaps it's strange that it does so only in this configuration but not in CI on master which should use a fairly similar version. I'm almost using exactly those versions and it doesn't segfault..

[2018-05-24 19:27] ArihantJain456 commented on #11128
I would like to give it a shot. Is the default value 100 final?

[2018-05-24 19:30] amueller commented on #11128
@ArihantJain456 I didn't tag this one as "help wanted" because I wanted to wait for other core devs to chime in before we do anything.

[2018-05-24 19:37] amueller commented on #11131
no segfault on
[code]
which is what travis is using.

[2018-05-24 19:43] glemaitre commented on #11131
Is it not a race condition on the same data or something like that which happen on faster computer.

[2018-05-24 19:45] amueller commented on #11131
Actually, I don't entirely understand what happens with the memmap once it's converted to a C pointer. Can someone explain?

[2018-05-24 19:45] glemaitre commented on #11131
FYI: I have the same version than @amueller

[2018-05-24 19:48] amueller commented on #11131
Also fails on
[code]
on my machine, which should be the same as travis?

[2018-05-24 21:18] glemaitre commented on #11131
[code]

[2018-05-24 22:47] jnothman commented on #11129
Yes, let's deprecate, with warning. When we get to version 1.0 (!) we will
automatically complete all deprecation processes, no?​

[2018-05-24 22:48] marksweissma commented on #11118
@amueller it's not OS yet so I can't point you to it unfortunately. always good to make sure people are not reinventing the wheel 👍

[2018-05-25 02:45] jnothman commented on #11128
I agree. Bad defaults should be deprecated. The warning doesn't hurt.​

[2018-05-25 07:48] ogrisel commented on #11131
I do not reproduce the segfault (current master, cython 0.28.2).

[2018-05-25 07:53] ogrisel commented on #11131
I cannot reproduce either with cython 0.26.1. We probably have to make a minimal reproduction case in a standalone python script and valgrind it.

[2018-05-25 08:38] #10928 closed

[2018-05-25 08:39] lesteve commented on #11131
This seems like a duplicate of https://github.com/scikit-learn/scikit-learn/issues/10667. As noted in
https://github.com/scikit-learn/scikit-learn/issues/10667#issuecomment-367964121, I managed to get rid of this error by installing gcc_linux-64, gxx_linux-64 with conda.

@rth had the same issue and using the gcc/g++ from conda fixed it for him too.

[2018-05-25 08:51] ogrisel commented on #11131
I am using gcc (Ubuntu 5.4.0-6ubuntu1~16.04.9) 5.4.0 20160609 (and cannot reproduce).

[2018-05-25 09:40] glemaitre commented on #11131
The GDB back trace for the segfault while running the test with pytest:
[code]

I cannot reproduce the segfault when I am outside of pytest for instance the script of @albertcthomas : https://github.com/scikit-learn/scikit-learn/issues/10667#issuecomment-367807814

[2018-05-25 10:06] rth commented on #11131
Yes, I have forgotten about it. Installing gcc from conda did fix it for me, but it's certainly not ideal...

[2018-05-25 10:13] lesteve commented on #11131
Something I forgot to mention is that the problem was seen in master in #10667 well before #10663 was merged so I reckon #10663 is only highlighting an existing problem rather than being the culprit.

[2018-05-25 10:43] glemaitre commented on #11131
The hotfix in #11133 would solve the issue since it will trigger a copy of `y` in the read-only case.
We try with @ogrisel to force y to be const but it did not solve the issue.

[2018-05-25 12:07] ogrisel commented on #11131
More specifically we tried to edit the `liblinear.cpp` source code to use `const double * y` instead of `double *` in the `problem` `struct` but we could not make it work and that would imply rewriting a significant part of liblinear.

+1 for making a writable copy of `y` as done in the hotfix.

[2018-05-25 12:19] albertcthomas commented on #11128
I'm also +1 for n_estimators=100 by default

[2018-05-25 12:44] labodyn opened #11137 "RandomForestRegressor results not reproducible when n_jobs=-1 even if random_state set"
#### Description

My unittests fail because RandomForestRegressor wont reproduce when n_jobs=-1 even if random_state is set.

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results

Prints all zeros. As it does correctly when setting n_jobs=1.

#### Actual Results

Sometimes zeros, usually small differences, sometimes larges differences.

#### Versions

Linux-4.13.0-41-generic-x86_64-

[2018-05-25 13:05] avatsaev commented on #5115
OS: Ubuntu 16.4
Tensorflow GPU backend
CUDA 9.0
GPU GTX1070
sklean ver: not sure, but I suppose the latest

here is my classifier code

[code]

the output is stuck at this:

[code]

no activity on the CPU

[2018-05-25 13:39] gupta17anukriti opened #11138 "Incremental ML/Partial fit"
I am trying to built an incremental model, where each and every time I run the command for partial fit.
the output of my confusion matrix gets updated.. I am wondering why this is happening.. Ideally there should not be that major change just with the fitting the model with same data.

Code:

##pip install parfit - anaconda
from sklearn.model_selection import ParameterGrid
from sklearn.linear_mode

[2018-05-25 13:48] shaz13 commented on #11129
I am willing to push a PR on it if no one is yet assigned. Thanks!

[2018-05-25 16:02] mohamed-ali commented on #10927
@lesteve I guess either now or sometime in the future we will need to switch off the code tests in a doc's only PR, because the time required to finish running all tests will gradually increase. I don't know if there is a limit to using travis resources for instance, but I've seen other open source projects doing something similar to what I am proposing. So, I'll leave the ticket as is, please fee

[2018-05-25 19:02] cheng-w-liu opened #11140 "For gaussian_process.kernels, the gradient of a compound kernel is incorrect"
#### Description

For the kernels in [gaussian_process.kernels](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/gaussian_process/kernels.py), the gradient of a compound kernel is not correct.
As the following example shows:

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results
[code]

And `kernel2_grad` should be the same as `kernel1_grad`

#### Actual Results
[code

[2018-05-25 19:14] rth commented on #10667
Fixed in #11133

[2018-05-25 20:52] Pazitos10 commented on #2889
I've experienced a similar problem multiple times on my machine when using `n_jobs=-1` or `n_jobs=8` as an argument for `GridsearchCV` but using the default scorer argument.

* Python 3.6.5,
* scikit-learn 0.19.1,
* Arch Linux,
* CPU cores: 8.

Here is the code I used:
[code]
I know is a big dataset so I expected it would take some time to get results but then after 2 days running, it just stopped

[2018-05-26 00:04] byrony commented on #2889
@amueller I didn't use the `if __name__ == "__main__"`. Below if my code, it only works when `n_jobs=1`

[code]

[2018-05-26 00:38] amueller commented on #11131
@lesteve yeah obviously it didn't create the problem, only shows it. I didn't realize you observed the bug in #10667.
It's pretty strange (why would it write to y?!), but if you already spend some time investigating it I'm happy to call the hotfix a fix and close.
@ogrisel can you maybe explain what casting a memory map to a float pointer means and why it might segfault? Though your idea of a fix

[2018-05-26 00:42] amueller commented on #11128
Both for this and #11129 I would suggest that the deprecation warning includes a message to encourage the user to change the value manually.

[2018-05-26 00:42] amueller commented on #11137
Can you try on master please? I feel like we changed something there but I'm not sure.

[2018-05-26 00:46] amueller commented on #11129
@jnothman I'd say so.
The question is if the target for this one is 0.22 or 1.0.

[2018-05-26 05:04] MauriRojas commented on #8358
Hello, I want to contribute to this issue but I don't know where to start. I've followed the contributing guide and I'm ready to begin. If someone can help me I'll be glad to work on this issue.

[2018-05-26 13:52] fsbeserra commented on #6261
No dot required

[2018-05-26 14:53] amueller commented on #6261
@fsbeserra really? Where is the tree rendered? I thought that was done by networkx, which relies on dot for all layouting, right? Or did networkx add graph layouting somewhere?

[2018-05-26 14:55] amueller commented on #8445
Documentation is done, still need to work on supporting it in GP.

[2018-05-26 14:57] fsbeserra commented on #6261
@amueller it was a fast implementation I made for an environment in which I did not have dot. I built the layout myself. Networkx is only used to build the graph structure, but the plotting layout was customized by me. Hope it helps!

[2018-05-26 15:04] amueller opened #11144 "Allow passthrough as pipeline step instead of None"
As I mentioned [here](https://github.com/scikit-learn/scikit-learn/pull/9012/files/04bcb1ec7292a566e1b6b5f2fa0b7d38d60d9102..d298fc310069273f05d8806428fcfd0d2530b77d#r189441662) it might make sense to deprecate setting pipeline steps to ``None`` and requiring ``"passthrough"`` instead to avoid ambiguities with FeatureUnion and ColumnTransformer.

This might also give us an opportunity to easily sp

[2018-05-26 15:08] amueller commented on #6261
Ah, ok, you're using a much simpler algorithms than I do. The problem is that our nodes have pretty big labels so I think your algorithm would result in trees that are way too wide.

[2018-05-26 15:08] amueller commented on #6261
Though I guess using interactivity and mouse-overs is one way to deal with that...

[2018-05-26 15:31] Pazitos10 commented on #2889
@amueller Ok, I will run it again with 1M rows and will post the results. Thanks!

[2018-05-26 15:37] amueller commented on #10927
@mohamed-ali we are no-where near the limit, and we are trying to avoid increasing test runtimes (I was actually about to make a PR for that just now).
@lesteve I see your point, but right now it looks like we have some backlog. I hope to have more review time in the future, and I'll have a post-doc coming pretty soon that'll also help. So I'm hoping against hope that our bottleneck will change ;)

[2018-05-26 15:53] amueller commented on #11138
Readability can be greatly improved if you [format](https://help.github.com/articles/creating-and-highlighting-code-blocks/) your code snippets and complete error messages appropriately. For example:

[code]
generates:
[code]
And:

[code]
generates:
[code]
You can edit your issue descriptions and comments at any time to improve readability. This helps maintainers a lot. Thanks!

[2018-05-26 15:55] amueller commented on #11138
Actually, this seems like a usage question that's better suited for stackoverflow:
http://scikit-learn.org/stable/faq.html#what-s-the-best-way-to-get-help-on-scikit-learn-usage

[2018-05-26 15:55] #11138 closed

[2018-05-26 15:57] amueller opened #11145 "Add "usage question" reply to saved replies"
I think we should add something to http://scikit-learn.org/dev/developers/tips.html#standard-replies-for-reviewing to the effect of http://scikit-learn.org/stable/faq.html#what-s-the-best-way-to-get-help-on-scikit-learn-usage or something that is a nice way to tell people to look at stackoverflow for usage questions.

[2018-05-26 16:00] gupta17anukriti commented on #11138
Thanks Amueller, I believe overall you meant I need to make my code more readable by adding more comments..
However, here the main issue I have that the output of the model is getting changed with each time I am running the partial fit on the same data

[2018-05-26 16:01] amueller commented on #11138
No I said you should use github markdown to properly format your question for readability.

[2018-05-26 16:07] amueller opened #11146 "Test too slow: test_mean_shift.py::test_parallel"
This test is waaay to slow (about the same time as the next 4 slowest tests together, which are also too slow):
Travis says
[code]

The core of the tests doesn't seem like it has been touched since #5189 by @GaelVaroquaux but I don't remember the test being so slow back then (I'll confirm though).

[2018-05-26 16:11] gupta17anukriti commented on #11138
Thanks I got that... But I didn't find the answer in the FAQ of scikit learn you shared..

[2018-05-26 16:12] Pazitos10 commented on #2889
@amueller, running the script with 50k rows works as expected. The script ends correctly, showing the results as follows (sorry, I meant 50k not 500k):

![captura de pantalla de 2018-05-26 13-09-00](https://user-images.githubusercontent.com/5199304/40578161-ca1c8d92-60e5-11e8-953a-1b6b5a329a7d.png)

![captura de pantalla de 2018-05-26 13-09-51](https://user-images.githubusercontent.com/5199304/405

[2018-05-26 16:13] amueller commented on #2889
Seems like you're running out of ram. Maybe try using Keras instead, it's likely a better solution for large scale neural nets.

[2018-05-26 16:14] amueller commented on #11138
The answer was that this is a usage question and you should ask on stackoverflow, not here.

[2018-05-26 16:15] amueller commented on #11146
On my own box, this is much more drastic btw:
[code]

[2018-05-26 16:17] Pazitos10 commented on #2889
@amueller Oh, ok. I will try using Keras instead. Thank you again!

[2018-05-26 17:01] amueller opened #11148 "Obscure remark about removing pos_label from weighted f1 score"
I just saw
"    # pos_label support deprecated; to be removed in 0.18:" [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/tests/test_common.py#L256) and I don't know what it means.
Seems like something that should be removed but I don't remember what happened.

[2018-05-26 17:14] amueller commented on #5115
yeah you shouldn't really use n_jobs with TF either way.

[2018-05-26 19:32] KDercksen opened #11149 "precision_recall_fscore_support documentation does not render correctly"
http://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_recall_fscore_support.html#sklearn.metrics.precision_recall_fscore_support

Under `Examples`, the second code block does not render correctly. Something to do with the `NORMALIZE_WHITESPACE` comment maybe?

[2018-05-26 21:27] MrLobs commented on #5115
@amueller, yes, putting custom transformers into a separate file solves it

[2018-05-26 21:35] jnothman commented on #11140
Ping @jmetzen

[2018-05-26 21:53] jnothman commented on #11137
yes probably should have issued a bug-fix release too

[2018-05-26 21:54] jnothman commented on #11129
0.22.

[2018-05-27 00:33] jnothman commented on #11149
Fixed in master: http://scikit-learn.org/dev/modules/generated/sklearn.metrics.precision_recall_fscore_support.html#sklearn.metrics.precision_recall_fscore_support

[2018-05-27 00:33] #11149 closed

[2018-05-27 01:03] queirozfcom commented on #7707
One way is to do a quick subclass of the transformer/classifier you want to make *skippable*: http://queirozf.com/entries/scikit-learn-pipeline-examples#skip-or-disable-a-step-in-pipeline

[2018-05-27 01:14] jnothman commented on #7707
... or just replace the estimator with None...

[2018-05-27 01:19] queirozfcom commented on #7707
but what if you want to both sometimes skip it and sometimes test out some parameters?, e.g. sometimes you don't want PCA at all, but sometimes you want PCA(10) or PCA(20) and you also want to test it against other parameters in the pipeline.

[2018-05-27 01:31] jnothman commented on #7707
either way you would need a list of dicts.

I suggest using the searchgrid library which makes this easy to express.

[2018-05-27 13:00] matanster commented on #10579
Excuse the silly question, but will pip installing the newer version completely override the default Anaconda installed one?

[2018-05-27 13:02] matanster commented on #10579
In that regard, would you consider the trunc to be very stable in general? I'd really love to use this new class but would like to think the older features still compute correctly :1st_place_medal:

[2018-05-27 15:32] matanster commented on #10579
I wonder whether it has been considered adding an option where you would send in a dataframe and get back a dataframe where each one-hot column carries the name of the dataframe column it is emanating from, concatenated with the name of the categorical value that the column stands for. For traceability sake. Or would it be non-idiomatic in your view?

[2018-05-27 17:21] ShangwuYao commented on #11109
Hi, I am looking into this issue, I figure the "common tests" means the test_common.py under the tests directory? I tried running the test but no warning is generated, could you tell me what warning is expected? Thanks a lot.
[code]

[2018-05-27 17:37] rth commented on #11109
Yes

You need to add the `-r a` pytest CLI option as indicated in https://github.com/scikit-learn/scikit-learn/issues/11109#issuecomment-391061304

[2018-05-27 18:08] ShangwuYao commented on #11109
Huh, That's weird. I did have `-r a`, and the command was: `pytest -r a sklearn/tests/test_common.py`. But as shown above, no warning was generated, I tried `pytest -r a sklearn/tests/test_common.py --strict` and found one deprecationwarning and a bunch of errors.

[2018-05-27 19:13] rth commented on #10889
Thanks for the feedback @amueller .

If the openml parser could address this it would be great. I know it's not very significant - just frustating to use a dataset for illustration but not being able to interpret the results because the feature labels are missing.

Anyway, I was also not planning to work on this, so closing due to lack of enthousiasm.

[2018-05-27 19:13] #10889 closed

[2018-05-27 22:54] jnothman commented on #10579
having transformers output DataFrames is a big change and something it will take a while to properly consider. for now get_feature_names - or the more extensible implementation in [eli5](http://eli5.readthedocs.io/en/latest/libraries/sklearn.html) called transform_feature_names - may help.

Master is ordinarily quite stable, although in this case, we're considering changing the CategoricalEncoder

[2018-05-28 06:18] jnothman commented on #11138
SGDClassifier is randomised

Set random_state

[2018-05-28 08:08] labodyn commented on #11137
I tried on master, bug is still there.

[2018-05-28 08:39] gupta17anukriti commented on #11138
Thanks Jnothman for this information. However, when I am creating the base model at that time I am not getting this issue, only in case of partial fit I am getting this

[2018-05-28 08:39] jnothman commented on #11137
I get the following on my mac:
[code]

Could you give some idea of the scale of "large differences"?

[2018-05-28 08:44] labodyn commented on #11137
n_jobs = 1 gives zero differences as it should, so that shows there's something wrong to begin with. I've had some instances where the differences were as high as 1e-2, 1e-3. You might need other data than random data to reproduce.

[2018-05-28 08:53] jnothman commented on #11137
On a linux machine I'm getting the following with the above script.
[code]

So you can confirm that you get as high as 1e-2 on master? What is the standard deviation of `y_train`?

[2018-05-28 09:37] lesteve commented on #11131
As @amueller, I have to say I would be very happy to hear more about the root cause of the problem ...

[2018-05-28 09:40] labodyn commented on #11137
Using the full pipeline, I get:
AssertionError: -1.1846360797272859 != -1.1903252970120075 within 3 places
However, I cannot reproduce those errors using the RandomForestRegressor alone, so I believe the small errors of the RandomForestRegressor get enlarged and propagated by the rest of the code.

[2018-05-28 09:43] jnothman commented on #11137
A non-zero difference will result from a changed order of summation.  Unless you have reason to believe the problem is more than that, we should close this.

[2018-05-28 09:50] labodyn commented on #11137
I thought I also had large differences with the RandomForestRegressor alone, but I cannot reproduce them. Issue can be closed for now what concerns me.

[2018-05-28 10:15] lesteve commented on #11109
Last time I looked at this, I realised that one of the problem (there may be more) was that `assert_warns_*` resets `warnings.filters` which overrides the ignore_warnings used as a decorator. It does not seem like a great idea and the reason for it is slightly unclear. Below is a snippet to show the problem:

[code]

[code]

[2018-05-28 10:20] rth commented on #11109
Interesting. I would be in favor of replacing `assert_warns_message(UserWarning, 'some warning', warn)` with,
[code]
to avoid dealing with it..

[2018-05-28 10:45] lesteve commented on #11109
If someone has a semi-automated way of replacing the `assert_warns*`, why not, but it could well be the case that some downstream packages are using them.

Maybe implementing `assert_warns_*` in terms of `pytest_warns` is a less tedious and less intrusive change to implement, i.e. something like this (not tested):

[code]

[2018-05-28 10:59] jnothman commented on #11137
Thanks. Let us know if it resurfaces. You certainly should have seen large differences in 0.19.0, but it was fixed in 0.19.1 (see #9830).

[2018-05-28 10:59] #11137 closed

[2018-05-28 11:02] jnothman commented on #11109
The reason is that there were bugs in Python around warning registry.
pytest might have ironed out the wrinkles, so I'm +1 for using or wrapping
it if possible.

[2018-05-28 12:10] labodyn commented on #11137
Large differences occurred in 0.19.0 indeed. I was able to reproduce them, a for loop that ran the training and testing 100x produced the large difference once in 0.19.0. No large differences in 0.19.1

[2018-05-28 12:37] kuraga commented on #10521
IMHO the most important thing is a univarsal API (i.e. parameters and bbehavior patterns) for all of encoders we discuss

P.S. https://github.com/scikit-learn-contrib/categorical-encoding ?

[2018-05-28 12:46] rth commented on #11109
We could still keep `assert_warns_*` for a deprecation cycle in `utils/testing.py` in any case

True, that would be faster, but then there isn't that many lines to change,
[code]
to warant keeping a wrapper, I think. Directly using pytest warning capture in the code base without a wrapper would be IMO cleaner for contributors reading the code... That could be a part of cleaning up `assert_*` funct

[2018-05-28 13:15] jorisvandenbossche commented on #10521
In the `category_encoders` package, all encoders have a `cols` argument, similar to the `categorical_features` in the old OneHotEncoder (although it does not accept exactly the same kind of values). See eg http://contrib.scikit-learn.org/categorical-encoding/onehot.html
So that is related to the current discussion we are having in https://github.com/scikit-learn/scikit-learn/pull/10523 about depre

[2018-05-28 14:11] ShangwuYao commented on #11109
That makes sense, thanks a lot. But when I tried replacing the `assert_warns_*` (including `assert_warns`) with `pytest_warns` as @lesteve suggested, I still got all those warnings.

And there is sth that wasn't clear to me: when using `ignore_warnings` as decorator, the code is
[code]
Isn't the `clean_warning_registry()` also reset the filters?

[2018-05-28 14:38] Christian-Hirsch opened #11153 "Sign mistake in the RBM doc"
#### Description
The signs in the definition of the energy E(v,h) in the RBM documentation page should be reversed.:
http://scikit-learn.org/stable/modules/neural_networks_unsupervised.html
The signs in the definition of E(v,h) should be negative as in the referenced paper by Tieleman. If not,then the logits in the conditional probabiities further down would need a '-'

[2018-05-28 15:13] lesteve commented on #11109
`clean_warning_registry` is what resets `warnings.filters` indeed, so ignore_warnings has the same problem (there may be others).

Not sure what you have tried but if I were you I would try to look at a single test that shows a problem, for example, I get a ConvergenceWarning with this test:
[code]

print `warnings.filters` (use `-s` to show stdout in pytest) and try to figure out why `warnings.si

[2018-05-28 17:19] reijerh commented on #10998
I'm not sure I'm posting this in the right place, but I came here via https://datascience.stackexchange.com/questions/17620/scoring-argument-in-scikit-learn-lassocv-lassolarscv-elasticnetcv because I expected to be able to pass a custom scoring function to `ElasticNetCV`, but couldn't find a way to do it. This issue seemed relevant.

Just wanted to give you a headsup, I'm not even sure it's at all

[2018-05-28 19:12] Tucker-Allen opened #11154 ""seven" omission from stop_words.py"
Peculiar omission in ENGLISH_STOP_WORDS list in stop_words.py:

The list includes "one", "two", "three"...all the way up to "twelve", but with the exclusion of "seven".

I wasn't able to find any reason for this omission from the origin of the list (http://ir.dcs.gla.ac.uk/resources/linguistic_utils/stop_words).

Should "seven" be included for uniformity, or is there an underlying reason for this

[2018-05-28 20:03] agramfort commented on #10998
yes it's technically possible and should eventually be done...

[2018-05-28 20:50] jnothman commented on #11154
Yes, we have become aware of such anomalies. We will likely be deprecating the provision of the current list. The question is what, if anything, to replace it with. Your input welcome. See #10735, #10818, #11030.

[2018-05-28 20:50] #11154 closed

[2018-05-28 21:44] bovlb commented on #6045
Yes, this would be very useful.  Reading the documentation, I formed the impression that I could achieve multiple categories by supplying a list of pairs:
`[('cat1':'foo'), ('cat1':'bar')]`
but that doesn't work either.

[2018-05-29 03:00] JamesTrick commented on #11153
@Christian-Hirsch Looking at the paper, I agree that the signs should be negative in the docs. Are you keen to make a PR for this?

If not, I'm happy to make the change.

[2018-05-29 03:12] bdebowski commented on #1179
The above solution does not work with numpy arrays and slicing.

If I do this:
[code]

I get error:
`X.shape[1] = 99 should be equal to 100, the number of features at training time`

So 'X' already appears to have last column removed by the time it is passed to f1_weighted_scorer

[2018-05-29 09:08] qinhanmin2014 commented on #11122
@amueller I'm going to close this. See #9223 #9226. Reopen if you disagree.

[2018-05-29 09:08] #11122 closed

[2018-05-29 12:16] jorisvandenbossche commented on #10945
The `BaseComposition` class has the utilities to make `get_params()` / `set_params()` working, and to delegate to the appropriate sub-estimator.
(that's what I also use in the ColumnTransformer)

Eg with this patch

[code]

`get_params` already works. To get it fully working, in addition, the property `_params` needs to get a setter, and of course we should not update the fitter regressor/transfor

[2018-05-29 12:40] qinhanmin2014 commented on #5022
Resolved in #5036

[2018-05-29 12:40] #5022 closed

[2018-05-29 12:45] jorisvandenbossche commented on #10945
Made a PR with expanded patch: https://github.com/scikit-learn/scikit-learn/pull/11157

[2018-05-29 13:26] #11126 closed

[2018-05-29 14:47] glemaitre commented on #10945
IRL, I mislead @jorisvandenbossche there. The issue was related to `fit_params` and `set_params` was already working. However, I think that the issue regarding the default values could be discussed in a new issue.

[2018-05-29 15:06] ShangwuYao commented on #11109
Can I just comment out the `clean_warning_registry()` in `ignore_warnings` then? That seems to solve all the problems.

[2018-05-29 16:57] Celelibi opened #11159 "check_symmetric: adapt tolerance to data type"
#### Description
`manifold.MDS` by default would compute the distance matrix with the same data type as the input. Then the function `_smacof_single` calls `check_symmetric` without a `tol` argument. Which defaults to 1e-10. If the input matrix contains float32, then the distance matrix does too. And this tolerance is too small for that type.

I guess the best solution would be to make `check_symm

[2018-05-29 17:46] jmetzen commented on #11140
Hi @cheng-w-liu,
 I don't get why you expect that "the hyper-parameters of the first component of the compound kernel being non-fixed" would be wrong? The first component is a ConstantKernel with `constant_value=1.0` and non-specified `constant_value_bounds`, which defaults to `(1e-5, 1e5)`. Thus, this component is also non-fixed.

[2018-05-29 18:07] jmetzen commented on #8445
It would prefer if we could support precomputed kernels without having to adapt the GP classes by adding an ``Precomputed`` kernel to ther kernels module.

@chrishmorris could you check if you could adapt your code in this way?

[2018-05-29 18:10] jmetzen commented on #8466
But it would be sufficient to implement the second part, right?

[2018-05-29 20:33] icfly2 commented on #10467
Yes. The issue is that if one of the results is a NaN / Inf, that ruins the ranking, see the related bug: #10529

[2018-05-29 20:52] GaelVaroquaux opened #11161 "Deprecated "iid" option in GridSearchCV"
We should deprecate the "iid" option in GridSearchCV and RandomSearchCV: it makes the code more complicated and does not serve a good purpose (to be more precise, I am these days quite convinced that it does give a useful estimate of some form of prediction accuracy).

[2018-05-29 20:57] GaelVaroquaux commented on #11161
Sorry: brain fart. I was looking at the old and deprecated implementation of GridSearchCV. In the new one, iid is indeed deprecated (I was indeed surprised not to see it deprecated).

[2018-05-29 20:57] #11161 closed

[2018-05-29 21:45] jnothman commented on #11153
Thanks James for checking.

have you checked that the implementation is consistent?

[2018-05-29 21:49] #2034 closed

[2018-05-29 21:49] #8539 closed

[2018-05-29 21:49] #8540 closed

[2018-05-30 02:27] stsievert commented on #9919
@sauln could you submit a PR for [your implementation][1]? I'd like to have a user facing API for this.

[1]:https://github.com/sauln/scikit-learn/blob/50e0320f211d2e70ba194f8589283b2cf7551b01/sklearn/utils/random.py#L204

[2018-05-30 02:33] jnothman commented on #11109
We may not have strong enough tests to check it, but I promise
clean_warnings_registry is there for a reason!

Oh, but what I hadn't realised is that:

 when using ignore_warnings as a wrapper, it uses a catch_warnings context
manager.

when using ignore_warnings as a context manager, it does not use a
catch_warnings context manager. I think this is a bug. Could using a
catch_warnings context in i

[2018-05-30 03:09] ShangwuYao commented on #5516
Hi @jnothman , are you still working on this? If not, can I give it a try?

[2018-05-30 04:01] #7845 closed

[2018-05-30 04:11] jnothman commented on #11159
This sounds reasonable

[2018-05-30 04:49] cheng-w-liu commented on #11140
Hi @jmetzen! Thanks for the comments.

Does that make sense to you that `RBF(1.0)` and `1.0 * RBF(1.0)` have different gradients?

I understand that the "ConstantKernel" is non-fixed. What's surprising to me is that the above two kernels have different gradients. Is it designed to be that way?

[2018-05-30 05:42] jnothman commented on #6967
I think we'll close this given ColumnTransformer, and if the issue is still acute, we'll see it raised again...

[2018-05-30 05:42] #6967 closed

[2018-05-30 06:21] jnothman commented on #5516
I'm not actively working on #10628. You're welcome to take it on, but it might be tricky

[2018-05-30 06:52] urvang96 commented on #11159
I would like to work on this. I need to set tol value only for float16 and float32?

[2018-05-30 07:55] jnothman commented on #11159
perhaps. try implementing and testing it, submit a PR, and we can review
whether it seems to be the right solution

[2018-05-30 08:12] rth commented on #11109
After more investigation, the issue with using `ignore_warnings` as a wrapper for `pytest.warn` or replace it altogether in this issue is that `sklearn/utils/estimator_checks.py` use `ignore_warnings` and we don't want to make it depend on pytest. Unless ones use a decorator that optionally ignores warnings only if `pytest` is installed which is also not ideal.

[2018-05-30 08:13] ShangwuYao commented on #11109
That really helped me understand, thanks a lot! @jnothman
I have figured out the reason: each check in the `testing.py` uses the `ignore_warnings` decorator, which calls `clean_warning_registry()` and reset the filters given by the parents. By the time the check actually starts running, it only has the filters it defined itself in the decorator. For example:
[code]

I have to say that I don't see

[2018-05-30 09:08] glemaitre opened #11164 "cross-referencing class and factory function make_*"
`Pipeline`, `ColumnTransformer`, `FeatureUnion` miss a "See also" section referring to their factory counterpart function `make_pipeline`, `make_column_transformer`, and `make_union`.

It is quite useful for navigation to have cross-referencing to go from class documentation to function documentation.

[2018-05-30 09:19] rth commented on #11146
This seems to be an indication that the `n_jobs` parameter is somewhat broken with `MeanShift`. On the dataset used in this tests, using `n_jobs` results in a 200x slowdown,

[code]

Related to https://github.com/scikit-learn/scikit-learn/issues/8216 . Not sure if it's a regression.

[2018-05-30 09:35] yuvaljacoby opened #11165 "Tree calculation - comparing double to float"
#### Description
When training RandomForestClassifier using 10 trees on wine dataset.
The path of the last tree gets to the wrong leaf.

The reason is when comparing the threshold to the actual value in file: _tree.pyx at line 883 (or 812) we compare float (feature value) to double (threshold):
if feature_value <= node.threshold:
    node = &self.nodes[node.left_child]
else:
    node = &self.nodes

[2018-05-30 10:11] jnothman commented on #8216
Switching whether to use threading bases on the choice of metric may make sense

[2018-05-30 14:28] axelgoblet commented on #11020
So what are we going to do about this? leave it like it is or change it to a finite value?

[2018-05-30 17:18] MartinHjelm commented on #9612
I am experiencing the same problem with scikit-learn 0.19.1 on Python3. I am using AF on a subset of the Iris dataset that has been PCA projected down to 2D. The following code reproduces the error,

[code]

And gives the following Traceback

       Traceback (most recent call last):
         File "<stdin>", line 1, in <module>
         File "/usr/local/lib/python3.6/site-packages/sklearn/cluster/

[2018-05-30 17:32] jmetzen commented on #11140
I think the issue is that you define``kernel2_grad = kernel2(X, eval_gradient=True)[1][:, :, 0]`` but it should be ``kernel2_grad = kernel2(X, eval_gradient=True)[1][:, :, 1]`` if you want to compare it to ``kernel1_grad`` since the RBF kernel's length scale is the second hyperparameter of kernel2.

In that case you get the expected result:
[code]

[2018-05-30 18:54] jmwoloso commented on #11164
@glemaitre I'll take this one. Do we need/want cross-referencing from the factory functions to their class counterparts as well? (`make_pipeline` doesn't currently reference `Pipeline`, but haven't look at the other factory functions).

[2018-05-30 19:10] jmwoloso commented on #11041
Essentially, your flask app lives in the container and where you store your serialized model is up to you depending on whether you're using CI/CD or just updating it every so often.

Yes, this should work fine. If you install the command line tool called `gcsfuse` you can mount your GCS buckets directly onto your GCP instances which makes loading the serialized model trivial.

References:
[GCSFuse

[2018-05-30 19:11] glemaitre commented on #11164
Yes both ways is good.                                                                                                                                                                         Sent from my phone - sorry to be brief and potential misspell.

[2018-05-30 20:37] Olamyy opened #11169 "Feature Suggestions"
Hello, new contributor here.
I've been meaning to contribute to the library for a while now but I haven't found anything `easy` or `clear` enough for me to.
While going through the source today, I noticed some possible features I could implement and would love to run it by the team here to see which is feasible and which is not.

1. More dataset benchmark. I noticed the `benchmarks` folder only ha

[2018-05-30 20:52] chrisconlan opened #11170 "Roadmap for Static Type Hints in Low-level Algorithms"
Will scikit-learn accept pull requests for low-level code with static type hints? Does it ever plan to?

I don't know where the core team stands on static type hints in Python, but I think they make it 10x easier to grok code and convert users to contributors.

2018 seems like a great time to make this change, in light of Numpy dropping support for new features in Python 2.7. https://github.com/sc

[2018-05-30 21:10] Olamyy commented on #11041
Can I take this up and add it as new section in the documentation?

[2018-05-30 21:10] jnothman commented on #9612
Simply pasting that code, I do not replicate the error in master, or in
0.19.1.​

[2018-05-30 21:12] Olamyy commented on #11128
Has someone taken this up? Can I jump on it?

[2018-05-30 21:14] rth commented on #11170
That's an interesting question.

From what I understand, static typing won't be useful much (e.g. for mypy) as long as scipy and numpy don't have type annotations. Looking at  https://github.com/numpy/numpy/issues/7370 some annotations were added as a stand-alone package in https://github.com/numpy/numpy-stubs . If that works well, maybe a similar approach could be used for scikit-learn?  Which me

[2018-05-30 21:22] rth commented on #11041
Looking at the direction the issue is taking, I'm not convinced scikit-learn documentation is the right place to present a canonical way for model deployment. Apart from some peculiarities of model serialization, it's not that different from deploying any kind of computational/predictive code as a web application.

IMO that's pretty much all we could say about it in the FAQ. Train and pickle is fi

[2018-05-30 21:32] chrisconlan commented on #11170
P.S. I'm happy to see some big organizations supporting mypy. Type-annotated Python is definitely gonna be big: https://github.com/dropbox/mypy-PyCharm-plugin

[2018-05-30 22:15] trmanish opened #11171 "T-SNE giving Array with Nan or Inf"
Hi

I am trying to run t-sne from sklearn on a reduced dimensions data.

To start with I have a tfidf matrix. Here is the code for the same.

[code]
Then I am using TruncatedSVD to reduce the dimensions from 11K to 500. Here it is

[code]

I checked the output of svd_reduced_data to check if there is any NaN or Inf.

[code]

So this shows there are no missing values in this data. Now I pass this d

[2018-05-30 22:16] rth commented on #11170
I guess, a start could be to some write [stab files](https://www.python.org/dev/peps/pep-0484/?utm_source=recordnotfound.com#stub-files) (`.pyi`) for the scikit-learn API (in a separate package) similarly to how it's done in https://github.com/numpy/numpy-stubs/blob/master/numpy-stubs/__init__.pyi for numpy. Some of it can be probably auto-generated.

There was some previous discussion about this

[2018-05-30 22:19] MartinHjelm commented on #9612
Hmm. I am using Python 3.6.5 and Numpy 1.14.3 could that be the culprit? Maybe not.

I have experimented a bit with the code and it seems that the `fit` function sets the `cluster_centers_` to shape `(1, 36, 2)` whenever `damping >= 0.99`. For `damping=0.98` the shape is 2D.  So a simple fix seems to be avoid values of `damping>=0.99`.

[2018-05-30 23:05] trmanish commented on #11171
Found the solution in this GitHub comment. It worked.

[2018-05-30 23:05] #11171 closed

[2018-05-30 23:45] jnothman commented on #11020
The risk with changing to finite max_iter is breaking existing successful fits, but not being able to resume. Also, running for a long time then stopping without would not be as useful as warning if scaling looks like it's a problem. So I think we have the following choices:

1. About scaling
  a. Make documentation about scaling clearer.
  b. Identify scaling issues at the start of fit (how?), an

[2018-05-31 02:46] jnothman commented on #11169
The mailing list would be a better place to discuss.

wine and iris are too small to be of interest in performance benchmarks.
.

[2018-05-31 02:54] qinhanmin2014 commented on #9708
Resolved in #9707

[2018-05-31 02:54] #9708 closed

[2018-05-31 03:49] jnothman commented on #11041
You're almost right, @rth. I think users initially expect that there should
be a reliable way to make models portable. Many traditional machine
learning tools have model coefficients etc stored as a file that can be
reliably reloaded for prediction without too much worry about versioning
and platform issues, let alone security concerns. Since we provide nothing
but pickle, with all its faults, it

[2018-05-31 05:05] cheng-w-liu commented on #11140
Thanks for the explanation @jmetzen!
I will close this thread.

[2018-05-31 05:05] #11140 closed

[2018-05-31 06:43] axelgoblet commented on #11020
1b: The standard approach to SVM's is to z-transform your features beforehand, meaning they end up with zero mean and unit variance. This can be done with `sklearn.preprocessing.StandardScaler`. To test whether this is the case, we could do 2 things:
a. do a t-test to test for zero mean, and an f-test to test for unit variance. This, however, assumes that the features follow a normal distribution.

[2018-05-31 10:43] Olamyy commented on #11169
I will do well to post it on the mailing list now. Thank you.

[2018-05-31 10:43] #11169 closed

[2018-05-31 12:08] jnothman commented on #11020
I think that might be too strict in practice, particularly for sparse data (e.g. bag of words).

[2018-05-31 12:09] rth commented on #11041
Definitely..

[2018-05-31 12:31] MartinHjelm commented on #9612
I am using OSX so I have Hombrew's Python3 and installed scikit-learn and numpy via pip. I do not use Homebrew's numpy install.

[2018-05-31 14:34] JYLFamily opened #11177 "TypeError: can't pickle module objects"
Hi SKlearn team:
  I want to custom sklearn estimator.
  This is my code:

  class XgbWrapper(BaseEstimator, ClassifierMixin):

    def __init__(self,
                 xgb=xgb, objective="reg:logistic", booster="gbtree", max_depth=6, num_boost_round=10):
        self.xgb = xgb
        self.objective = objective
        self.booster = booster
        self.max_depth = max_depth
        self.num_boos

[2018-05-31 15:53] jennaliu opened #11178 "SGDRegressor gets poor fit with sparse matrix"
If a sparse matrix is passed into the function, it doesn't throw any error but gets a poor fit **sometimes**. I think it should either throw an error when the parameter is a sparse matrix or convert it into a dense matrix like https://github.com/scikit-learn/scikit-learn/pull/535

Below is some code to compare the differences. (It fits well on boston housing price even when the parameter is a spar

[2018-05-31 16:47] jennaliu commented on #11178
I misunderstood the code I linked to, it is not converting the matrix.

[2018-05-31 20:37] amueller commented on #11146
ping @GaelVaroquaux who worked on this last.

[2018-05-31 22:12] rth commented on #11177
Does `copy.deepcopy` work on your `xgb.train(self.params_, ...)` and `xgb.DMatrix(data=X)` ?

It seems more an issue with xgboost in general (see e.g. https://github.com/dmlc/xgboost/issues/751 and https://github.com/dmlc/xgboost/issues/2206#issuecomment-317311150)

If you enter this error message in a search engine, you will get a lot of explanations about it.

[2018-06-01 00:44] ShangwuYao commented on #11109
Could someone confirm this? Appreciate it

[2018-06-01 02:37] #11164 closed

[2018-06-01 09:50] rth commented on #8194
There was some related work with LGTM queries in https://github.com/scikit-learn/scikit-learn/issues/10416

[2018-06-01 15:07] mfilipav commented on #11114
I initially had the same problem, but as amueller has said, grid search is the key.

[2018-06-01 15:22] amueller opened #11181 "Deprecate with_mean in StandardScaler?"
I think we should deprecate ``with_mean`` in ``StandardScaler`` since it leads to weird behavior. For sparse data, users should use ``MaxAbsScaler``.

[2018-06-01 15:22] amueller commented on #11178
So is there an issue? Indeed the data is not converted to dense. You probably want to use ``MaxAbsScaler`` for sparse data. And you might want to increase the number of iterations for better performance.

[2018-06-01 15:25] amueller opened #11182 "Make externals private?"
I think we should make externals private to make it easier to stop vendoring things. I don't think users should use the joblib that comes with sklearn.
I don't think externals should have ever been public, but in particular in light of #11166 and #11115 I think now is a good time to deprecate the public version. Otherwise we might end up having to provide backports for 2.7 when we don't support it

[2018-06-01 15:40] jennaliu commented on #11178
I probably didn't describe the issue clearly. I attached the fit below. The first figure is for dense matrix and the second one is for sparse matrix. The two fits use the exact same data. The only difference is how it is parsed. To me that is very confusing. And other models like LinearRegression don't have this problem. I think there maybe some issue with how SGDRegressor fits on a sparse matrix.

[2018-06-01 15:42] amueller commented on #11178
Is the data preprocessed the same way? Can you provide self-contained code to reproduce the figures?

[2018-06-01 15:43] jennaliu commented on #11178
I attached the code in my first post. If you run it directly you get the first figure. If you uncommend the line that convert it to a sparse matrix, you would get the second figure.

[2018-06-01 15:47] amueller commented on #11178
It would be nicer to have it fully self-contained but alright. I can reproduce. Seems like a bug to me :-/

[2018-06-01 15:48] csbrown commented on #9132
For posterity, the correct thing to do is to first apply a [`LabelEncoder`](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html), to map values into `[0, n_values]`, and then to use the OneHotEncoder on that.

[2018-06-01 15:48] amueller commented on #11178
I don't understand the line that you're drawing.

[2018-06-01 15:50] jennaliu commented on #11178
That's just the diagonal line. The predicted values and target values should be close. http://scikit-learn.org/stable/auto_examples/plot_cv_predict.html#sphx-glr-auto-examples-plot-cv-predict-py

[2018-06-01 15:54] amueller commented on #11178
ah yeah, I was confused by the way it was written for a second.

[2018-06-01 15:54] amueller commented on #11178
[code]
![image](https://user-images.githubusercontent.com/449558/40850436-9b700c1a-6592-11e8-9b90-9532ad6911d2.png)

[2018-06-01 15:55] amueller commented on #11178
increasing the number of iterations fixes the mismatch, but it looks like something different is happening in sparse and dense cases and that's surprising to me.

[2018-06-01 15:59] jennaliu commented on #11178
http://scikit-learn.org/stable/modules/sgd.html#stochastic-gradient-descent-for-sparse-data

But to me, that difference is huge. In order to get the same fit, I need to run many more interactions.

[2018-06-01 16:06] amueller commented on #11178
I think that this is not the reason because that would make the intercept larger, not smaller.

[2018-06-01 16:08] amueller commented on #11178
Oh actually that is what's happening. Smaller intercept decay means the intercept decays more. A bit of a misnomer imho. It's a heuristic but it seems to make sense for sparse data. This dataset is very small and you shouldn't use SGD in the first place, and it's also not sparse.

[2018-06-01 17:06] csbrown commented on #4632
In case anybody needs a solution now, now, now and can't be bothered to install a custom fork of sklearn.

[code]

THE TEST EXPLAINED: (if you care)
The half-assed test has for X 2/3 1s, which give y=0 or 1 50% each (no info), and 1/3 2s which give y=1 always.  The logistic regression therefore predicts 2/3 of the data with 50% accuracy and 1/3 of the data with 100% accuracy = 2/3, which is what w

[2018-06-01 17:10] jennaliu commented on #11178
Is there an example of this intercept decay helping other than obstructing the learning process? Can you point me to some source for this heuristic? It seems to be a bit arbitrary. The reason I passed a csr_matrix is that I wanted to have a unified format for all the data, and the data was sparse in previous user cases.

[2018-06-01 17:12] amueller commented on #11178
The point of the heuristic is that for sparse models, coefficients are updated rarely, but the intercept is updated always, so the intercept basically has a learning rate that is higher than the learning rate of the coefficients by a factor of the sparsity of the data.

[2018-06-01 17:23] jennaliu commented on #11178
In that case, maybe the learning rate should be adjusted with the sparsity of the data? It seems like it could have worked better.

[2018-06-01 17:31] bendiste commented on #5884
@marcelobeckmann Hello Marcelo,
Should the categorical_features parameter's value be True or False if we have the categorical variables encoded into a numeric format?

[2018-06-01 19:02] amueller opened #11185 "Add mixed categorical / continuous example with ColumnTransformer"
As mentioned in #9012 we should have an example in the gallery that shows how to use ColumnTransformer to deal with a mix of categorical and continuous data. I guess it should use CategoricalEncoder in the first iteration and we can change it back to OneHotEncoder once #10523 is merged.

[2018-06-01 19:09] amueller opened #11186 "Change default role in sphinx"
Right now single backticks don't do anything in docstrings, to the confusion of many new (and old?) contributors. We should either make the default role code, i.e. have it act the same as double backticks, or we could use it for something else, like the glossary. I think just making it code seems the most natural option.

[2018-06-01 19:11] partmor commented on #11185
@amueller I'd be more than happy to help with this.

[2018-06-01 22:03] ogrisel commented on #8642
LGTM. For special classes that have a Cython data-structure as an attribute (e.g. decision trees), we could specialize that to call it on the dict returned by `__getstate__` instead of `self` itself.

[2018-06-01 22:15] mrocklin commented on #8642
For testing people suggested the following in conversation:

-  we include a test in test_common that verifies that the result of `__sizeof__` is somewhat close to the length of the pickle-serialized form of the object.
-  we also check that a meta-estimator like GridSearchCV behaves well
-  we also check that RandomForests behave well, following the special behavior described above with `__getsta

[2018-06-01 22:43] mrocklin commented on #8642
This issue might interest @stsievert

[2018-06-01 23:48] amueller commented on #11185
@partmor go for it :)

[2018-06-01 23:51] amueller commented on #10863
Well, ``covariances_`` stores the internal representation, ``get_covar`` returns the covariance matrix.

[2018-06-02 00:19] amueller opened #11187 "Add permutation based feature importance?"
I think adding permutation based feature importances would be cool:
https://link.springer.com/article/10.1186%2F1471-2105-8-25

There is a python package that does it for our random forests with bagging:
https://github.com/parrt/random-forest-importances

But I'd rather like to see a generic permutation based importance score with cross-validation or hold-out.
I think this would be great analysis

[2018-06-02 00:20] amueller commented on #11187
Also see this blog post:
http://parrt.cs.usfca.edu/doc/rf-importance/index.html

I'm not suggesting we change our RF feature importances, but having a more expensive but possibly higher quality alternative would be great.

[2018-06-02 01:20] amueller commented on #11178
Sorry I don't follow. The point is that the learning rate for the bias and the weights needs to be different in the sparse case. But your case is not sparse. You just converted your data to sparse, but it's not sparse, so the assumptions of the sparse algorithm are not met.
Why do you want to run the sparse algorithm on dense data?

[2018-06-02 01:34] amueller commented on #6425
@jnothman @GaelVaroquaux should we include this in the "Townhall" meeting?

[2018-06-02 01:49] jennaliu commented on #11178
I was thinking something like this. https://github.com/jennaliu/scikit-learn/commit/981452a24aefdd1bfa0066018fac0f1fd15c8437
Just because the data is in a sparse format doesn't mean it is sparse and I don't think SGD is a sparse algorithm (that it works on sparse data)

[2018-06-02 02:19] JianXin-Yun opened #11188 "I recommend fit() should be replaced by train()"
as is shown below
![default](https://user-images.githubusercontent.com/26893563/40869470-3ed66cf8-664e-11e8-8370-a73df27b2693.PNG)
train() method sounds reasonable compared to fit() method

[2018-06-02 04:00] amueller commented on #11178
yeah something like that might make sense. Do you want to do some benchmarks?
SGD certainly doesn't only work on sparse data and adapting to the sparsity in the data might make sense for the heuristic. Usually if it's in sparse format, that means the data is sparse, though. If you store dense data in a sparse format you will be *much* slower than storing it in dense format, and it will be much mor

[2018-06-02 04:02] amueller commented on #11188
Why? This depends strongly on which community you come from. ``fit`` has been used in the statistics and ML communities for a long time, while ``train`` is mostly used in the neural network community.

And at this point "it sounds better" is not really an argument to change something. There's a lot of code out there that uses scikit-learn and scikit-learn-like libraries. Thousands (tens of thousan

[2018-06-02 04:03] #11188 closed

[2018-06-02 04:05] amueller commented on #10352
closing as no reply.

[2018-06-02 04:05] #10352 closed

[2018-06-02 04:07] JianXin-Yun commented on #11188
@amueller  maybe train() is more hackneyed in media,and fit() sounds mather(mathmatically)

[2018-06-02 07:48] partmor commented on #11185
From the "real world" datasets in `sklearn.datasets` the only one with mixed types is Boston housing, but I find it not to be very representative (1 categorical variable, already included).

I will build a randomly generated dataset with mixed types for the illustration. I think this would keep the example more focused on the usage of the transformer, rather than filling lines of code to read data

[2018-06-02 08:19] jnothman commented on #11109
I think the discrepancy between the context manager and decorator forms of
ignore_warnings should be fixed. I am not sure if that will fix all the
issues here.

Clearing the warning registry is not about changing the filters, iirc, but
affects filters that only display the first of duplicate warnings

[2018-06-02 11:47] jnothman commented on #11181
Is it my imagination that we basically encourage its use with sparse data atm? I can see why it would be unhelpful/ messy for glms. .

[2018-06-02 13:04] jnothman commented on #9132
There is a CategoricalEncoder in master. But we might just put this feature into OneHotEncoder for next release

[2018-06-02 13:46] albertcthomas commented on #11186
For me the confusion is coming from the fact that single backticks is code when commenting on github.

[2018-06-02 14:05] rth commented on #11186
As far as I understand, single backtick for code is markdown, double is RST.

In the documentation one would still need the double backtick - numpydoc is only for docstings, right? It if is the case and if in docstrings use rst, would it make sense to keep default rst convention to avoid further confusing people? Also https://github.com/numpy/numpy/issues/9903#issuecomment-338797564 states that si

[2018-06-02 15:36] marcelobeckmann commented on #5884
Hi @bendiste,

If you represent True and False as 1 and 0 you will get the same results.

Are you using the newest notebook gower_function-v6.4.ipynb in
 https://sourceforge.net/projects/gower-distance-4python/files/
?

I'm finishing to write an article, hopefully this month I'll be to make the requested changes to make my implementation accepted in the master of scikit-learn.

[2018-06-02 17:07] bendiste commented on #5884
Hi @marcelobeckmann , thank you for your reply. And yes, I am using the newest version you indicated. When I redownloaded it, it worked successfully.

[2018-06-02 23:01] #7175 closed

[2018-06-02 23:01] #10279 closed

[2018-06-02 23:15] jnothman opened #11190 "ColumnTransformer should be able to use a function to select columns"
The new ColumnTransformer allows the user to specify column names or indices. I think it should be possible to specify a set of columns as a function. Indeed, towards #10603, we should probably have an inbuilt function that distinguishes between categorical and numeric `pd.Series` dtypes.

In order to support the `remainder` functionality, I believe the function should have signature: `(X,) -> col

[2018-06-03 07:47] rth commented on #11177
Closing as IMO it's unrelated to scikit-learn. Please comment if you disagree.

[2018-06-03 07:47] #11177 closed

[2018-06-03 07:51] jnothman commented on #11187
something in this direction is implemented in eli5 too

[2018-06-03 11:19] jnothman commented on #6425
feature names / DataFrames come together to some extent, so yes.

[2018-06-03 12:09] jorisvandenbossche commented on #11190
Yes, that's also something @ogrisel and I were discussing a week ago (was on my to do list to open an issue), that it would be nice to support functions to eg dynamically determine the columns based on the input dtypes.

In that way, we could for example do

[code]

Yes, anything that is otherwise supported, is fine (eg also a mask, so "column indices" is a bit confusing name), since the `remainde

[2018-06-03 12:10] jorisvandenbossche commented on #11190
@jnothman I think the link in your first issue should be to https://github.com/scikit-learn/scikit-learn/issues/10603 instead of https://github.com/scikit-learn/scikit-learn/issues/10063 ? (can't edit it)

[2018-06-03 12:51] jnothman commented on #11190
This is a feature I always expected would happen, but wanted to get the basic interface right. (Eventually, I might even enjoy something more literate like `ColumnTransformer().append(MyTrans(), dtypes=np.numeric).append(MyTrans2(), matches=r'^feature_')`)

[2018-06-03 14:10] rth commented on #11186
Also it would be necessary to evaluate how this will impact existing single backticks in the docstrings,
[code]
(this includes links and citations though).

A random selection of 20 lines:

<details>

[code]
</details>

excluding links, glossary etc, most of it probably meant to be code indeed...

[2018-06-03 22:30] rth commented on #11177
Though this might also get fixed when https://github.com/scikit-learn/scikit-learn/pull/9696 is merged.

[2018-06-04 00:26] jnothman opened #11194 "NumPy dev causes test errors due to use of np.matrix"
We are getting many warnings like `PendingDeprecationWarning('the matrix subclass is not the recommended way to represent matrices or deal with linear algebra (see https://docs.scipy.org/doc/numpy/user/numpy-for-matlab-users.html). Please adjust your code to use regular ndarray.` using numpy master (see logs at https://travis-ci.org/scikit-learn/scikit-learn/builds/387352026)

Apart from a very lo

[2018-06-04 00:32] ShangwuYao commented on #11109
I am pretty sure I got it right in my previous post.
@jnothman , I don't quite understand what you mean by "affects filters that only display the first of duplicate warnings", but I'm think the `clean_warning_registry` in `ignore_warnings` will reset warning filters (which is the cause of the problem):
When using `ignore_warnings` as decorator and context manager, it will call `clean_warning_regis

[2018-06-04 08:43] jnothman commented on #11186
I should clarify several things:
* This isn't a numpydoc issue. Roles and `default_role` as indicated by single backticks are [a reST / docutils thing](http://docutils.sourceforge.net/docs/ref/rst/roles.html).
* Markdown treats backticks as indicating code formatting, and yet this sort of maps to two concepts in reST: code formatting, and roles. Roles act as a generic markup tool.
* An explicit ro

[2018-06-04 08:45] jnothman commented on #11186
Alternatively, we could rank `term` higher.

[2018-06-04 08:58] rth commented on #11146
Git bisect point to #10887 :/

Before this PR with the above benchmark script,
[code]
granted not ideal, but not too unexpected.

With this PR,
[code]

Not sure what could be happening..

cc @recamshak

[2018-06-04 09:28] recamshak commented on #11146
I see that https://github.com/scikit-learn/scikit-learn/blob/a24c8b464d094d2c468a16ea9f8bf8d42d949f84/sklearn/cluster/mean_shift_.py#L91 is run within Parallel from https://github.com/scikit-learn/scikit-learn/blob/a24c8b464d094d2c468a16ea9f8bf8d42d949f84/sklearn/cluster/mean_shift_.py#L195

So the number of thread will grow as `n_jobs**2`. Not sure that's the issue but I guess this is not intende

[2018-06-04 09:34] jorisvandenbossche commented on #10465
@jnothman @amueller opinions on how to move forward here?

I think it would be nice to at least have basic handling of missing values in the OneHotEncoder / OrdinalEncoder on a short term. Giving that we are moving towards "passing through NaNs" for other transformers, it might make sense to do the same for the encoders?

Since we will split them (https://github.com/scikit-learn/scikit-learn/pull/

[2018-06-04 10:10] joshuacortez commented on #10261
Thanks for working on this @ericchang00. I’m interested in this transformation being implemented. How’s it going so far?

[2018-06-04 10:16] recamshak commented on #11146
It seems that the issue is due to the many calls to `radius_neighbors` on small input that will start 2 threads every time. The overhead is far bigger than the computation itself. Not sure how to confirm that though.

[2018-06-04 10:20] rth commented on #11146
Thanks for investigating @recamshak !

Maybe removing one level of parallelization (possibly inner?) would make sense? I'm not familiar with the MeanShift implementation..

[2018-06-04 10:31] chrishmorris commented on #8445
I've been thinking about this, but I'm not sure what you are expecting.

Computing a gram matrix is expensive. When cross-validating, it is best to compute it once, then iterate through parameter values. So it seems to me right that at present fit and predict methods can accept a gram matrix.

Alternatively, these methods could accept a list of objects, and the kernel function could be memoized. A

[2018-06-04 11:15] jnothman commented on #11109
Yes, I see. `clear_warnings_registry` does indeed affect filters that only display the first of duplicate warnings (i.e. `simplefilter('once')`. But it also, as you say, removes any filters with `resetwarnings`.

But this only applies to the current `catch_warnings` scope:

[code]

[2018-06-04 11:17] jnothman commented on #11109
This means that it does indeed matter whether the `ignore_warnings` context manager operates within a `catch_warnings` context, because when `ignore_warnings` is `__enter__`ed, its `simplefilter('ignore', self.category)` will affect non-local scope.

[2018-06-04 11:29] jnothman commented on #11109
I have not understood your proposals @ShangwuYao. A PR with an example would help clarify.

I think we could remove `resetwarnings` from `clear_warnings_registry` and move it into `ignore_warnings` only (not into the `assert_warns` variants)...

Another solution would be to backport `pytest.warns` for use in estimator checks. It is fairly self-sufficient:

<details>

[code]
</details>

(under a co

[2018-06-04 12:53] jnothman commented on #10465
Those sound sensible to me!​ But sort out documentation at #10523 first,
please.

[2018-06-04 12:54] jnothman commented on #10465
Oh, you did!​

[2018-06-04 13:30] jnothman commented on #11146
Yes, we definitely should not be running n_jobs parallel queries on a
NearestNeighbors(n_jobs) instance! Great use of git-bisect, @amueller!​

[2018-06-04 13:38] jeremiedbb commented on #11083
Hi, I tried a more hierarchical structure for this section as suggested earlier, with 2 main subsections : loading datasets and generating datasets. And also a distinction between toy datasets and real world datasets. However, it results in a tree of depth 5, quite unreadable.
The main issue seems to be the descriptions of each dataset. An idea to solve it could be first to only keep on this secti

[2018-06-04 14:08] qinhanmin2014 commented on #11083
@jeremiedbb Thanks for taking this up. It will be better if you update your PR accordingly to give us something to review.

I think it's acceptable. The main concern is to make it easier for users to follow the document. (but seems that depth 4 (e.g., something like 5.1 dataset loaders, 5.1.1 toy datasets, 5.1.1.1 iris) is enough?)

Since we're doing reorganize, I don't think it's good to remove t

[2018-06-04 14:10] GaelVaroquaux commented on #11146
Ha, I fixed that last week in joblib:
https://github.com/joblib/joblib/pull/690

[2018-06-04 14:19] ShangwuYao commented on #11109
Thank you so much for the clarification @jnothman , I absolutely agree with what you said. Not using `catch_warnings` is a bug, and we should definitely fix it. But I don't think that is the cause for the warnings not being ignored here, the real reason is, here they use `ignore_warnings` at different layers, and `ignore_warnings` doesn't cover the warnings we want to ignore in the layers the warn

[2018-06-04 15:01] ShangwuYao commented on #11109
BTW, I think neither decorator nor context manager is working correctly for `ignore_warnings`:
[code]

context manager:
[code]
output:
[code]

decorator:
[code]
[code]

[2018-06-04 15:52] jeremiedbb commented on #11083
My first PR was just a test, sorry about that.

I updated the PR with a quick draft for the structure. I just filled a few datasets for now to show how it's rendered. I find the subsections 5.x.x.x hard to distinguish from the rest. Moreover some datasets have deeper subsections like the 20 newsgroup dataset. Do you find this structure more appropriate ?

[2018-06-04 17:16] amueller opened #11198 "Deprecate grid_scores_ everywhere, replace by cv_results_"
As mentioned by @jnothman in #9570, we should deprecate ``grid_scores_`` everywhere and replace it by ``cv_results_`` which should have the same structure as ``GridSearchCV.cv_results_``. This should be tackled as one PR per estimator, I think.

So far I found it in RFE and graphical lasso.

[2018-06-04 17:32] glemaitre commented on #11187
It was something we thought about with @ogrisel.

Moreover, the implementation describes in the blog post is model agnostic if I remember right.

[2018-06-04 17:44] amueller commented on #10465
I think for OneHotEncoder the "treating as own category" makes the most sense, in particular because we have no good imputation strategies for now. adding the NaN row might be useful in the future as an option.
Is there a good reason to encode "missing" as all zeros instead of adding a column? If it's informative it will be much harder for a tree to split on. Though NOCATS would fix that maybe?

H

[2018-06-04 17:48] amueller commented on #11146
It was @rth who git-bisected, I only git-blamed @GaelVaroquaux ;)

[2018-06-04 17:49] amueller commented on #11146
@GaelVaroquaux can you confirm that the issue in master is fixed with new joblib, or do you need #11166 ;)

[2018-06-04 17:53] amueller commented on #11187
Their implementation is not model agnostic, but the general algorithm is. And I'd be happy to upstream from eli5 given that this seems a relatively natural and accepted method.

[2018-06-04 18:07] amueller commented on #11186
Somehow that invoked an image of the start of 2001 space odyssey in my mind.

I agree with your ideal world. To get closer to that we could start using autolink and possibly fixing autolink and then adding anchors to numpydoc, which might be a bit of work?

[2018-06-04 18:40] rth opened #11200 "Instability in test_ridge.py::test_ridge_sample_weights"
The test [`sklearn/linear_model/tests/test_ridge.py::test_ridge_sample_weights`](https://github.com/scikit-learn/scikit-learn/blob/f049ec72eb70443ec8d7826066c4246035677c11/sklearn/linear_model/tests/test_ridge.py#L154) passes on master, however, when it was parametrized as part of https://github.com/scikit-learn/scikit-learn/pull/11074/ failures were observed (https://github.com/scikit-learn/sciki

[2018-06-04 19:30] Ichaab commented on #11069
After refactoring the ratio argument, I want to use the BalancedBaggingClassifier with ratio={0:100,1:20}. Although I have modified the ratio argument by sampling_strategy, I get always this error:
TypeError: __init__() got an unexpected keyword argument 'sampling_strategy'

Is there any thing wrong? I want to use the BalancedBagging but instead of balancing distribution, I look forward to buildin

[2018-06-04 20:22] glemaitre commented on #11069
`sampling_strategy` is only in master (i.e. 0.4.0.dev0).

[2018-06-04 20:27] amueller commented on #11069
If you have further issues, please use the imblearn issue tracker.

[2018-06-04 21:27] GaelVaroquaux commented on #11146
Neither. It will be solved once my PR is merged in joblib, and #11166 is
merged. But it is "conceptually" solved :).

[2018-06-04 21:37] jorisvandenbossche commented on #10465
do you mean you would do this as the default behaviour?
(the consistent option with the other transformers would be the NaN row, but "the most sensible default" is of course also a good reason to deviate)

I personally don't know. But the question is still what should be the default? Passing through the NaNs will mean in practice mostly the same as the erroring now, as the final sklearn model in t

[2018-06-04 21:42] amueller commented on #10465
Yes.

I'm not sure what a good default would be for OrdinalEncoder. Simply add a new category at the end? If the feature is actually ordinal that doesn't make sense. I'm not sure what the typical use-case for OrdinalEncoder is.

[2018-06-04 21:43] carlosgmartin commented on #8592
I'm having exactly the same issue. I even increased the weight for an underrepresented class by 1e10 and it's still being ignored completely.

[2018-06-04 21:53] amueller commented on #8592
@carlosgmartin
Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal.

[2018-06-04 21:58] jorisvandenbossche commented on #10465
If you use it for tree-based models because those work well with such features and don't necessarily need one-hot encoding, for such use case having it as a separate category makes sense I think?

[2018-06-04 22:02] carlosgmartin commented on #8592
I'll try to do that. I did notice something interesting though: _decreasing_ the weight of the other class seems to solve the issue, as opposed to _increasing_ the weight of the underrepresented class.

[2018-06-04 22:52] sauln commented on #9919
@stsievert, apologies, it will be a few weeks until I have the bandwidth to set up a PR. If you need it sooner, please feel free to copy the code.

[2018-06-04 22:56] recamshak commented on #11146
There are three instances of `NearestNeighbors` in `mean_shift`. The first two ones are only used for single point query (`[my_mean]` in `_mean_shift_single_seed` and `[center]` later in `mean_shift`) so for those two, using `n_jobs > 1` will only add overhead. Maybe `fit` will benefit from multiple threads but I am not sure.

The last instance of `NearestNeighbors` near the end of `mean_shift` is

[2018-06-05 00:03] jnothman commented on #11109
no I think the current output looks right. within the ignore context, there
should only be a single ignore-all-Warnings filter

[2018-06-05 01:54] stsievert commented on #9919
Thanks for that. I'll set up a PR soon, and make sure to credit you in the description.

[2018-06-05 02:03] ShangwuYao commented on #11109
that's true, but the non-local scope is affected, (I mean the third output is wrong, not the second). In both examples, I set a filter for `UserWarning`, but after the call to `controlled_warning*`, the non-local filter got reset.

[2018-06-05 02:56] jennaliu commented on #11178
I did some benchmarks. I haven't found a test case where the intercept decay helped. (The benchmark result below is without my changes and my changes don't help either.)
[code]
[code]
[code]
Can you take a look at my script? Maybe I was doing something wrong.
https://github.com/jennaliu/scikit-learn/blob/e9a98d7a3730c92e6e0ddfe7ffe99d43b6b35b9a/benchmarks/bench_sgd_sparse.py

[2018-06-05 07:13] AlexandraBomane opened #11202 "permutation_test_score() not usable with cv = LeaveOneOut() + suggestion : add 'fit_params' as argument for permutation_test_score()"
I tried to launch a permutation test with Leave-One-Out cross-validation and all MCC scores obtained equal zero. I wonder if it is possible to adapt the function permutation_test_score() in order to perform a permutation test with Leave-One-Out cross-validation.
In addition, I would recommend to add an argument 'fit_params' to the function.

[2018-06-05 07:35] jnothman opened #11203 "FunctionTransformer applied to each row/col?"
In using FunctionTransformer, particularly for things like feature extraction (e.g. as a pipeline step before DictVectorizer), I've made the mistake of thinking that the function would be applied to each row of `X` rather than all of `X` at once.

Would it help to have a parameter such as:

[code]