[2017-10-31 06:38] christianbraune79 commented on #10037
@rth Where would I place the unit test? In one of the existing files? Or should I open a new test file for dataset generation?

[2017-10-31 06:46] jnothman commented on #10037
There is already a test file for sample generation in sklearn/datasets/test/

[2017-10-31 09:24] christianbraune79 commented on #10037
Ah, right. I'll add the tests and add them to the commit/pull request.

[2017-10-31 10:14] Borda commented on #9943
OK, following your advice I added to the first sample code the option `algorithm='full'` and run it.
Then with the verbose as True I see some messages and what I got is:
[code]
then it does not do anything else, the script is not fished, does not say any info, nearly zero Memory usage (note that I used `copy_x=False, precompute_distances=False`) and the CPU usage lower to 0%. When I kill the scrip

[2017-10-31 13:59] qinhanmin2014 commented on #6482
Closing since it has been resolved in #9500.

[2017-10-31 13:59] #6482 closed

[2017-10-31 14:02] qinhanmin2014 commented on #9359
@chananshgong Closing this one since there's something wrong with your code. See the previous comment. Feel free to reopen if you disagree :)

[2017-10-31 14:02] #9359 closed

[2017-10-31 14:04] qinhanmin2014 commented on #8924
The issue has been resolved in master. Please refer to the [latest example](http://scikit-learn.org/dev/auto_examples/applications/plot_topics_extraction_with_nmf_lda.html#sphx-glr-auto-examples-applications-plot-topics-extraction-with-nmf-lda-py).

[2017-10-31 14:04] #8924 closed

[2017-10-31 14:06] qinhanmin2014 commented on #8460
The issue has been resolved. Please refer to the [pypi page](https://pypi.python.org/pypi/scikit-learn/0.19.1). Feel free to reopen if you disagree.

[2017-10-31 14:06] #8460 closed

[2017-10-31 14:07] baharian commented on #9943
have you tried it with `n_jobs=1` as @amueller suggested above?

[2017-10-31 14:09] qinhanmin2014 commented on #8774
The issue has been resolved in master, please refer to the [latest document](http://scikit-learn.org/dev/modules/generated/sklearn.tree.export_graphviz.html).

[2017-10-31 14:09] #8774 closed

[2017-10-31 14:30] Borda commented on #9943
with `nb_jobs=1` it runs...
[code]

[2017-10-31 14:34] thechargedneutron commented on #10044
I want to take this issue. Will look into the issue and will ask in case of doubt.

[2017-10-31 14:55] TomAugspurger commented on #9943
I think @amueller's comment at https://github.com/scikit-learn/scikit-learn/issues/9943#issuecomment-340593373 is correct.

@Borda if you're interested `dask-ml` has a KMeans implementation [here](http://dask-ml.readthedocs.io/en/latest/modules/generated/dask_ml.cluster.KMeans.html#dask_ml.cluster.KMeans) that will use dask's multithreaded scheduler by default for the Lloyd iteration steps.

I mod

[2017-10-31 15:30] Borda commented on #9943
@amueller I do not understand what memory allocation is happening if I have `copy_x=False, precompute_distances=False` by my understanding all distance computed on demand and so it more time consuming, but minimum memory usage, right?
@TomAugspurger thank you for you prosal. I really appreciate it. I am sure that there can be some other libraries I could use, but opening this ticket I wanted to ve

[2017-10-31 15:34] TomAugspurger commented on #9943
@Borda IIUC the memory explosion will happen at https://github.com/scikit-learn/scikit-learn/blob/9172a5905d4046cfab3dcc693d1093855c8d79fe/sklearn/cluster/k_means_.py#L356, since that's using the default multiprocessing backend which has to serialize memory between processes, resulting in `n_jobs` copies of X.

[2017-10-31 15:48] austinmw opened #10046 "LassoCV UnboundLocalError: local variable 'best_l1_ratio' referenced before assignment"
[code]

#### Steps/Code to Reproduce

Example:
[code]

LassoCV doesn't converge, but I'm not sure if that's the issue.

#### Versions
Darwin-16.7.0-x86_64-i386-64bit
Python 3.6.3 |Anaconda, Inc.| (default, Oct  6 2017, 12:04:38)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
NumPy 1.13.3
SciPy 0.19.1
Scikit-Learn 0.19.1

[2017-10-31 17:22] amueller commented on #10046
Can you please provide a self-contained example to reproduce, i.e. using built-in or generated data? Your snippet doesn't define ``Xtrain, ytrain``.

[2017-10-31 17:23] amueller commented on #10046
This passes:
[code]

[2017-10-31 17:46] dmadisetti commented on #6355
No, this is poor behavior. If the user provides an invalid `n_classes` then the function should throw a error or provide a warning.

[2017-10-31 17:50] amueller commented on #6355
@dmadisetti which behavior? And did you mean ``n_components``? How does that relate to the original issue?

[2017-10-31 17:56] austinmw commented on #10046
Sorry, here is the data I'm using:

[code]

[2017-10-31 18:07] bouyan28 commented on #8170
Hello @jnothman I got quite the same problem, can you tell me more about make clean test and how to use it (quite new to all this). Thank you

[2017-10-31 18:08] amueller commented on #10046
Thanks.
Can't reproduce with
[code]
Code runs without error or warning in ~3 seconds.

[2017-10-31 18:13] dmadisetti commented on #6355
Woah that was fast.

You're right, I meant `n_components`. I was attempting to use this on a general data set and I was confused to why LDA didn't work as expected. I see now that I was misusing the function, but some indication would have been ideal.

It doesn't relate directly, but I would consider no error or warning a bug.
I'll be happy to open a new issue, if you feel it merits it.

[2017-10-31 18:17] austinmw commented on #10046
Also don't know if it makes a difference, but I'm running in Jupyter notebook version 6.1.0

[2017-10-31 18:17] amueller commented on #6355
Yes, please open an issue with a minimal example reproducing the problem. We aim to provide helpful error messages whenever possible. We may not always want to error if things silently work right now because it might break users' code. But if it provides obscure messages or hides wrong behavior, we definitely want a good error message instead.

[2017-10-31 18:18] amueller commented on #10046
have you tried with the exact code that you pasted above? Try restarting the kernel and running just that snippet.

[2017-10-31 18:32] austinmw commented on #10046
Oh crap you're right. For some reason just importing xgboost.XGBRegressor causes the issue.

This is the exact code in a fresh notebook:

[code]

I know this isn't the place for xgboost, but any idea why this might happen?

[2017-10-31 18:47] dmadisetti opened #10048 "LinearDiscriminantAnalysis silently changes user parameter"
#### Description

The user passed parameter `n_components` on the LDA object may be silently overwritten. Provide warning for better user experience. https://github.com/scikit-learn/scikit-learn/issues/6355

#### Steps/Code to Reproduce

[code]

#### Fix in discriminant_analysis.py

[code]

[2017-10-31 18:47] dmadisetti commented on #6355
@amueller https://github.com/scikit-learn/scikit-learn/issues/10048

[2017-10-31 18:57] austinmw commented on #10046
Hmm uninstalled xgboost and reinstalled with Conda, and now it works.

[2017-10-31 18:57] #10046 closed

[2017-10-31 19:27] fabiograssiotto opened #10049 "Usage of github images"
Hi,

I would like to use the algorithm cheat sheet below
https://github.com/scikit-learn/scikit-learn/blob/master/doc/images/ml_map.png
for a report I am preparing for my university grad course. I intend to host the report at one of my github repos and use a python notebook for that.

Could you please let me know if it is ok to use the image, even with modifications (I want to show a cropped porti

[2017-10-31 19:55] amueller commented on #10049
It's cc-0. See http://peekaboo-vision.blogspot.com/2013/01/machine-learning-cheat-sheet-for-scikit.html

You can also use the versions posted there which are vector graphics.

[2017-10-31 19:57] amueller commented on #10046
glad you could find and fixed the issue :)

[2017-10-31 20:03] amueller commented on #10048
That's if ``n`` is larger than ``n_classes - 1``, right?
I agree, we should raise a warning in this case. The ``<`` is the wrong way around, right? Do you want to send a PR?

[2017-10-31 20:04] amueller commented on #8170
@bouyan28 run ``make clean test`` in a console in the ``scikit-learn`` folder (assuming you downloaded and installed it from a local folder)

[2017-10-31 20:07] fabiograssiotto commented on #10049
Sounds great, I will attribute accordingly.
Thank you for the fast reply :)

[2017-10-31 20:13] #10049 closed

[2017-10-31 20:20] amueller commented on #9943
I'm not sure what you mean by this. Everything is computed in batch, so in each iteration the distance of each data point to all cluster centers is computed. That is done in each process. The different processes run the same algorithm but with different random initializations. There is not further parallelization (if you set ``n_init=1`` you'll only see one process). And there is no opportunity fo

[2017-10-31 20:23] amueller commented on #9943
If you want a way to utilize more cores and not be memory bound, I think we can now use openmp thanks to loky, so we could add a parallelized version of ying-yang k-means.

You could also not be memory bound by using minibatch k-means as I suggested earlier, but that will likely yield worse results, and running multiple processes of minibatch k-means in parallel instead of just running one process

[2017-10-31 20:34] bouyan28 commented on #8170
![image](https://user-images.githubusercontent.com/11770964/32247622-329705b0-be83-11e7-9038-68a41fa2e8a3.png)
 Thank you @amueller  this is actually the error i have

[2017-10-31 20:45] amueller commented on #8170
try uninstalling scikit-learn, make sure the ``sklearn`` folder in your site-packages folder is gone, and reinstall. You probably upgraded a conda installation with pip.

[2017-10-31 20:58] jnothman commented on #10044
thanks and good luck!

[2017-10-31 22:31] dmadisetti commented on #10048
Sure, am at work but can tackle it this afternoon. Will write accompanying test

[2017-10-31 22:49] amueller opened #10051 "warning about max_iter and tol in SGDClassifier when using partial_fit"
The warning in SGDClassifier about max_iter / n_iter is shown when using partial_fit. I don't think it's used when calling ``partial_fit``, so we don't need to warn (I haven't entirely checked if tol is used somewhere).
I take all the blame...

[2017-10-31 23:43] ghodouss commented on #10051
I can take this one if its still open

[2017-11-01 02:17] fredyjl opened #10052 "no available module under sklearn"
`user@machine:~$ pip show scikit-learn`
Name: scikit-learn
Version: 0.19.1
Summary: A set of python modules for machine learning and data mining
Home-page: http://scikit-learn.org
Author: Andreas Mueller
Author-email: amueller@ais.uni-bonn.de
License: new BSD
Location: /home/user/miniconda3/lib/python3.6/site-packages
Requires:

`user@machine:~$ which python`
/home/user/miniconda3/bin/python

in p

[2017-11-01 02:44] jnothman commented on #10052
No, it only shows that there is nothing loaded when you import sklearn. This makes importing fast. You can look at `sklearn.__all__`, or use IPython with `import sklearn.<tab>` to see available submodules.

[2017-11-01 02:44] #10052 closed

[2017-11-01 02:49] fredyjl commented on #10052
thanks, it's all good.

[2017-11-01 03:31] dilutedsauce commented on #10051
I took a crack at it... Hope that's what you were looking for.

[2017-11-01 08:22] qinhanmin2014 commented on #6884
Closing since the issue has been resolved in #9302.

[2017-11-01 08:22] #6884 closed

[2017-11-01 08:25] shuuchen opened #10054 "GridSearchCV cannot be paralleled when custom scoring is used"
Hi,

I met a problem with the code:

[code]
in which I used custom scoring object in GridSearchCV(...) and set n_jobs = 2.

I got the following error message:
[code]

It seems that if and only if n_jobs is set to 1 can the program be run.

Any ideas?

[2017-11-01 10:26] jnothman commented on #10054
This is a limitation of pickling. Define my_custome_loss_func in a module you import, or at least not in a closure.

[2017-11-01 10:26] #10054 closed

[2017-11-01 11:49] CoderPat commented on #9933
Well I wasn't fully understanding that logit -> np.mean -> expit was just the same as the product of all the probabilities. Considering that, I found [this paper](https://dspace.cvut.cz/bitstream/handle/10467/9443/1998-On-combining-classifiers.pdf?sequence=1) papers that analyzes geometric mean vs arithmetic mean. It seems that arithmetic yields better results, but I still think the user should be

[2017-11-01 12:59] RyanCarey commented on #9933
same as the product of all the probabilities.
Adding the logits with np.sum would be the same as multiplying the *odds*...

On Nov 1, 2017 10:49 PM, "Patrick Fernandes" <notifications@github.com>
wrote:

[2017-11-01 14:13] CoderPat commented on #9933
But then converting the multiplied odds to probability (since it's a soft voting method you need to output a probability) would just be the same as multiplying the probabilities from the beginning (unless my math is wrong somewhere, see [this](http://quicklatex.com/cache3/af/ql_7da3719d9c746c5bf1b8674b37d6d9af_l3.png))

[2017-11-01 14:35] RyanCarey commented on #9933
The denominator on the penultimate line is wrong. It should be
\left(\prod_{m\in
M} (1-p_m)\right) + \left(\prod_{m\in M} p_m\right)
<http://quicklatex.com/cache3/7b/ql_c501e2ed3034d91c78eb5d1fd170837b_l3.png>
.

You can see the non-equivalence from the following example. Suppose we both
think the odds are 1:1 (50% probability)
If you average our odds, then on aggregate we think it's 1:1.
Multiply

[2017-11-01 14:48] CoderPat commented on #9933
Ye, i noticed immediately afterward, my bad :/
But the geometric means is apparently another valid method when the independence of classifiers is assumed, so there are now three possible methods

[2017-11-01 15:15] RyanCarey commented on #9933
You don't want a geometric mean, because that depends how you label the
outcomes.

Suppose there's a coin, and I'm certain it will land heads while you think
it's a fair coin.

For the outcome heads, our probs are p=1 and q = 0.5
aggregate chance of heads = (1*.5)^(1/2) = 0.71

For the outcomes tails, our probs are p=0 and q=0.5
aggregate chance of tails is (0*0.5)^(1/2) = 0, making the chance of

[2017-11-01 19:02] cqny opened #10055 "MultinomialDeviance in GradientBoostingClassifier should use average logloss instead of total logloss."
#### Description

The definition of MultinomialDeviance is wrong, it's currently calculating the sum of logloss instead of the average of logloss. See the return value of the `__call__` method below:
[code]
This is inconsistent with BinomialDeviance, which is using `np.mean` instead of `np.sum`. Even though they are equivalent up to a constant factor, this would create unstable results and/or over

[2017-11-01 21:07] #10009 closed

[2017-11-01 23:11] VinodKumarLogan commented on #9837
Hi @jnothman, Can I work on this issue?

[2017-11-01 23:26] jnothman commented on #9837
If you're confident you can debug it, you're more than welcome to!

[2017-11-01 23:37] jnothman commented on #10010
Well, this implicit choice of "which is positive" is made also by `LabelBinarizer` (and `label_binarize`) and binary classifiers' `decision_function`. I don't think this is unreasonable, but I do think it a bit obscure/magical.

On the basis of "explicit is better than implicit" we should perhaps deprecate its effect on scoring. On the other hand, raising an error when a model is being scored is n

[2017-11-02 01:48] qinhanmin2014 commented on #10010
@jnothman Thanks a lot for the reply :)
I'll start with precision_recall_curve/roc_auc_curve to hear from more suggestions. This will not break user's code unless users explicitly set pos_label to None(in this case, we will have a deprecation cycle).
I think I need some time to consider how to handle pos_label in brier_score_loss, I'll temporarily close #9562(ENH and BUG for brier_score_loss) and

[2017-11-02 02:04] choldgraf opened #10056 "sphinx-gallery docs not rendering properly"
It looks like a number of the sphinx gallery docs aren't rendering properly because they've got an extra space in the `######` separators. E.g.

http://scikit-learn.org/stable/auto_examples/plot_isotonic_regression.html#sphx-glr-auto-examples-plot-isotonic-regression-py

has this code in it

[code]

That extra space is preventing the text from being rendered as rST. Just checking to see if this is

[2017-11-02 03:04] jnothman commented on #10056
From the discussion at #9061 it seems intentional. Ping @lesteve?

[2017-11-02 05:11] qinhanmin2014 commented on #5761
Closing since it has been resolved in master. See the [rendered doc](http://scikit-learn.org/stable/).

[2017-11-02 05:11] #5761 closed

[2017-11-02 05:25] choldgraf commented on #10056
ah ok - if it was intentional feel free to close

[2017-11-02 08:06] #10012 closed

[2017-11-02 08:22] #10034 closed

[2017-11-02 13:23] carlosdanielcsantos opened #10057 "base.is_classifier/is_regressor not in docs"
`base.is_classifier` and `base.is_regressor` are missing from classes.rst

[2017-11-02 13:45] jnothman commented on #10057
Thanks. A PR adding them to doc/modules/classes.rst would be welcome.

On 3 November 2017 at 00:23, carlosdanielcsantos <notifications@github.com>
wrote:

[2017-11-02 14:30] ilectra opened #10059 "Duplicated input points silently create duplicated clusters in KMeans"
#### Description
When there are duplicated input points to Kmeans resulting to number of unique points < number of requested clusters, there is no error thrown. Instead, clustering continues to (seemingly) produce the number of clusters requested, but some of them are exactly the same, so the cluster labels produced for the input points do not go all the way to number of requested clusters.

####

[2017-11-02 14:36] bodhwani commented on #10057
Are you talking about adding base.is_classifier and base.is_regressor in <h1>Base classes</h1> section?( Below autosummary )
<a href="https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/classes.rst">Here</a>

[2017-11-02 14:57] carlosdanielcsantos commented on #10057
@bodhwani, they are functions so they will have to go to the Functions section

[2017-11-02 16:40] raimon-fa commented on #4394
It would also be extremely convenient for me if there was a version of the algorithm that accepted weights. I think it's a very important feature and surprisingly almost none of the python libraries have it. Statsmodels does have it, but only for univariate KDE; for multivariate KDE the feature is also missing.

[2017-11-02 16:41] raimon-fa commented on #4394
2 years have passed since this issue was opened and it hasn't been solved yet

[2017-11-02 17:42] rth commented on #5911
At the moment only the 0.19 link is missing from http://scikit-learn.org/dev/support.html#documentation-resources

The pdf link in the same documentation section points to an outdated sourceforge repo that only contains documentation up to 0.16.1. This was fixed in https://github.com/scikit-learn/scikit-learn/issues/7543 , but the link is not correct.

Maybe each older scikit-learn version in this

[2017-11-02 20:55] jnothman commented on #10059
Is this what you should expect for such a small dataset? Are there standard
ways to avoid duplicate centroids in KMeans?

[2017-11-02 21:08] jnothman commented on #5911
See #9841 where I construct such a listing automagically. I didn't realise
support.html was there. I think it should just link to the automagical
listing.

On 3 November 2017 at 04:42, Roman Yurchak <notifications@github.com> wrote:

[2017-11-02 21:31] jnothman commented on #4394
Do you want to contribute it? Go ahead!

[2017-11-02 21:31] #10057 closed

[2017-11-02 23:16] rth commented on #5911
Thanks for pointing out that PR. Linking to an automated listing would indeed be much more practical.

[2017-11-03 00:46] jnothman commented on #5911
your review there is welcome

[2017-11-03 05:25] christianbraune79 commented on #10059
Though not nice, this is actually, what MacQueen wrote in his paper and thus it _could_ be considered _expected_ behaviour.

(MacQueen, 1967, Some Methods for Classification and Analysis of Multivariate Observations, https://projecteuclid.org/download/pdf_1/euclid.bsmsp/1200512992, p283)

arbitrarily to the set of lower index. Note that with this convention concerning
tied points, if x_i = x_j and

[2017-11-03 09:19] ilectra commented on #10059
@christianbraune79  If `S_j(x) = 0`, shouldn't `c_centers` reflect this fact by being resized to the valid/unique only clusters? And then of course `x_i` and `x_j` would belong to the same cluster.

In any case, a warning issued by the code, and some discussion in the documentation would help.

[2017-11-03 10:55] ragnerok commented on #9354
I wanted to ask if it is possible to find distance between each pair of rows with vectorisation. I cannot think about how to do it vectorised.

[2017-11-03 13:16] fcharras opened #10063 "GridSearchCV saves all fitted estimator in cv_results['params'] when params are estimators"
#### Description
I use GridSearchCV to optimize the hyperparameters of a pipeline. I set the param grid by inputing transformers or estimators at different steps of the pipeline, following the Pipeline documentation:

I couldn't figure why dumping cv_results_ would take so much memory on disk. It happens that cv_results_['params'] and all cv_results_['param_*'] objects contains fitted estimators,

[2017-11-03 13:24] fcharras commented on #10063
Reading more closely the code, it seems indeed that only base_estimator is cloned before calling the set_params method.

This might fix the issue: replace line  https://github.com/scikit-learn/scikit-learn/blob/f3320a6f1ab2d060fd49c94a6e3386291a684ec7/sklearn/model_selection/_validation.py#L444 by
estimator=clone(estimator.set_params(**parameters))

[2017-11-03 14:17] fcharras commented on #10063
A solution could be to clone the estimator after set_param call in _fit_and_score, and return the new cloned estimator. However it would break any function that use _fit_and_score and expect to keep using the same estimator passed in _fit_and_score..

[2017-11-03 15:26] rth opened #10064 "DOC missing requirements for building documentation"
The [instructions to build the documentation](http://scikit-learn.org/dev/developers/contributing.html#documentation) suggest,

yet `numpydoc` also appear to be a requirement (tested on `master` with Python 3.6 and sphinx 1.6.3),
[code]
then if it's installed,
[code]
If confirmed, `numpydoc` and `sphinx-gallery` requirements would need to be added to `doc/developers/contributing.rst` and `doc/READ

[2017-11-03 16:17] lesteve commented on #10056
I think this was intentional indeed so I am going to close. The reason behind this is that the scikit-learn examples existed before sphinx-gallery had the notebook-like feature. Most of the examples that were using the notebook-like syntax looked a bit off and the simplest thing to do was that to add a space in the line of hashes.

[2017-11-03 16:17] #10056 closed

[2017-11-03 16:47] lesteve commented on #8798
This is what I said in https://github.com/scikit-learn/scikit-learn/issues/8798#issuecomment-297959575.

I still think we should avoid such a big difference using `svd_flip`. PCA does not have this problem because it is using `svd_flip` I think:

[code]

I assume you are talking about the relabelling of "Need Contributor" to "help wanted". I did it the hard way with ghi (command-line interface to

[2017-11-03 16:49] glemaitre commented on #10064
I think that you need to add `matplotlib` to the `doc_requirements.txt`. If we go this way, I think that a `test_requirements.txt` would be nice for pytest, nosetest, and the associated coverage ...

IMO, I like the way of the scikit-image fellow (https://github.com/scikit-image/scikit-image/tree/master/requirements) regarding the requirements organisation.

[2017-11-03 17:14] lesteve commented on #10023
Just for the record the numbers from https://github.com/scikit-learn/scikit-learn/issues/10023#issuecomment-340038701 are in https://github.com/DmitryUlyanov/Multicore-TSNE#benchmark.

[2017-11-04 00:14] pgeez opened #10065 "Non-determinism in RandomForestClassifier predict_proba with n_jobs=-1"
#### Description
When used with larger datasets (`X.shape` --> `(1000000, 100)`) and `n_jobs=-1`, the probas returned by a `RandomForestClassifier` are non-deterministic.

This is closely related to:
#9524
#1685 (closed)

#### Steps/Code to Reproduce
[code]

#### Expected Results
[code]

#### Actual Results
[code]

#### Versions
[code]

[2017-11-04 07:56] lesteve commented on #7981
If you are controlling the Parallel object as in my snippet above, you can use max_nbytes=None to prevent the auto-memmapping. If you are not in control of the Parallel object, then tough luck, maybe we could fix it in scikit-learn by not using cython type memoryviews in `_sparse_manhattan`.

[2017-11-04 09:39] jnothman commented on #10059
A patch for either of those things will be considered for inclusion...

[2017-11-04 10:09] jnothman commented on #9354
You mean difference (not distance) between pairs of rows? Sure you can do that if you're working with numpy arrays. If you have arrays with shapes (n_samples1, n_features) and (n_samples2, n_features), you just need to reshape it to (n_samples1, 1, n_features) and (1, n_samples2, n_features) and do the subtraction:
[code]

[2017-11-04 10:14] jnothman commented on #10063
Hmm... I agree this is a bit of an issue. But I think it is reflecting a
design issue with the estimator you are setting parameters of: it should
probably be cloning its parameters before fitting them if they did not
already come in fitted. Yes, our Pipeline and FeatureUnion are guilty of
this and it's a bit of a problem. We've been trying to work out how to
change it and not break too much code.

[2017-11-04 10:44] jnothman commented on #10064
Yes, in master, numpydoc is required. Ideally numpydoc>=0.8... but 0.8
isn't released yet ;)

On 4 November 2017 at 03:49, Guillaume Lemaitre <notifications@github.com>
wrote:

[2017-11-04 11:02] jnothman commented on #10065
I'm not managing to reproduce this on my macbook

[2017-11-04 13:43] pgeez commented on #10065
Hmm. You should be able to...have you tried running it a few times?

On Sat, Nov 4, 2017 at 04:03 Joel Nothman <notifications@github.com> wrote:

[2017-11-04 13:46] jnothman commented on #10003
This is the first time I'm seeing these kinds of plots.  I like CG curve at a glance, as an alternative to looking at gradients in an ROC curve, I suppose. Using more familiar terms, we're just plotting recall@k (for each class). Perhaps we should name it as such. Recall@k is something we should probably have implemented for the fixed k case...

[2017-11-04 13:46] jnothman commented on #10003
I've not yet understood the utility of lift.

[2017-11-04 13:57] jnothman commented on #10065
Sorry, my foolishness: Upgrade to v0.19.1. This is likely due to a bug I
fixed in #9830.

[2017-11-04 13:58] jnothman commented on #10065
Please close if that fixes the issue.

[2017-11-04 14:05] jnothman opened #10067 "Move flake8 options to setup.cfg"
Currently a few options (particularly ignored warnings) are set in build_tools/travis/flake8_diff.sh. These should be moved to setup.cfg. Perhaps we should also remove E226 from our list of ignored PEP8 errors, since more often than not we want to adhere to E226.

[2017-11-04 14:14] pgeez commented on #10065
Will do. Thanks!

[2017-11-04 15:07] ragnerok commented on #9354
Yeah thanks that really helped 😄

[2017-11-04 18:27] ragnerok commented on #9354
I also wanted to ask if I provide a more stable implementation I won't be using X_norm_squared and Y_norm_squared. So do I remove them from the arguments as well or should I warn about it not being of any use ?

[2017-11-04 19:47] fcharras opened #10068 "Issues encountered with the memory option in Pipeline"
I'm very interested in using the `memory` option in `Pipeline` so I can organise my code in a simple fashion. However I've found that it does not scale well or their seem to be some caveats one could not expect:

- is the input train data is too big (~several GB), joblib.memory takes a very long time to hash it, it can considerably slow the execution in an unexpected way.

- the documentation hint

[2017-11-04 21:34] jnothman commented on #9354
I think they will be deprecated, but we might need to first be assured that
there's no case where we should keep that version.

we're going to be quite careful in changing this. it's a widely used and
longstanding implementation. we should be sure not to slow any important
cases. we might need to do the operation in chunks to avoid high memory
usage (which is perhaps made trickier by the fact that

[2017-11-04 21:35] jnothman commented on #9354
but it would be easier to discuss precisely if you open a PR

[2017-11-04 22:10] jnothman commented on #10068
Thanks for this. It's very useful to get feedback on new features...

All potential optimisations need to be taken with care. They often help someone and hurt another.

In the first instance, let's improve documentation. I don't even think we currently make it clear that memory is persisted across sessions.

In addition:
* I think we could minimise the first problem by finding a way to make the fi

[2017-11-04 23:46] CD1010 commented on #5046
conda install -c intel mkl

Worked for me

[2017-11-05 01:15] #10065 closed

[2017-11-05 01:48] jnothman commented on #10065
good to hear!

On 5 Nov 2017 12:15 pm, "pgeez" <notifications@github.com> wrote:

[2017-11-05 07:10] ragnerok commented on #9354
Ok I'll open up a PR then

[2017-11-06 10:20] FarahSaeed commented on #10068
I would like to work on this. Can I take up the issue?

[2017-11-06 10:33] v1shwa commented on #6183
@hidayata Hi, I'm still getting this error in version 0.19.1. Any work around?

[2017-11-06 10:45] jnothman commented on #6183
You can try patching your copy of the library with #9147

[2017-11-06 11:17] rajeshnnaidu opened #10072 "MemoryError when executing Python code with 100GB input table"
**Description**

I am running a python code using scikit-learn machine learning algorithm where the size of the input table is close to 100GB. Please check the error message below:-->

Traceback (most recent call last):
  File "/home/sasdemo/python/pipeline.py", line 130, in <module>
Loading data from /XIVData/eecteam/casData/imsimDatalabel_10M.csv
Loading completed in 1560.0 seconds
_____________

[2017-11-06 11:37] jnothman commented on #10072
To avoid copying when input to trees, make sure your data is a C-ordered
float32 array.

[2017-11-06 11:42] jnothman commented on #10072
You might be able to dump the pandas dataframe to disk as a numpy array
with numpy.save(open('/path/to/save/at', 'wb'), my_dataframe). Another
option is to create a numpy memoryview on disk and copy the dataframe's
contents into that. Then you can use free the dataframe memory (with del)
and use the memoryview directly in scikit-learn.

[2017-11-06 13:50] alexisrosuel opened #10073 "Gaussian process models are to heavy"
Hi ! I am using the scikit learn implementation of the gaussian process regressor object and I have found something weird with the space required to save this object.

#### Description
Scikit gaussian process objects are very huge when pickling them (about 100 Mo for 7000 training data points)

#### Steps/Code to Reproduce
[code]

#### Expected Result vs Actual result
6000 floats for x and y, 6000

[2017-11-06 14:19] massich opened #10074 "CRON Build breaks"
The **cron** build of travis appears to break master ([see](https://travis-ci.org/scikit-learn/scikit-learn/builds/297853786)) which actually does not ([see the same commit](https://travis-ci.org/scikit-learn/scikit-learn/builds/297504924)). The thing is that in the **cron** build uses *numpy 1.14.0.dev0+d607099* whereas the regular build uses *numpy 1.13.1-py36h5bc529a_2*. This makes doctests to

[2017-11-06 14:34] TomAugspurger commented on #10074
I think https://github.com/numpy/numpy/pull/9966 is fixing this on NumPy's end (it hit pandas too).

[2017-11-06 15:02] ramanb25 commented on #10051
#10075

[2017-11-06 15:41] lesteve commented on #10074
Thanks @TomAugspurger.

For the record, the cron job is supposed to test the numpy dev version. I was expecting that we would get an email if the cron job failed, and I did not, not sure why ...

[2017-11-06 15:42] tilmanbeck opened #10076 "ValueError in distance matrix with agglomerative clustering"
#### Description
ValueError thrown when applying AgglomerativeClustering on textual data because distance matrix contains infinite values

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown and the distance matrix should not contain infinite values

#### Actual Results
[code]

#### Versions

[code]
**Comment**
I have used the same code on a subset of Reuters-21578 text d

[2017-11-06 15:44] gozzilli opened #10077 "Underflow in weight boosting"
Should the boosting procedure check whether ``estimator_error`` is ``NaN`` and if so return?
It seems to often be the case that the ``estimator_error`` underflows after a few iterations. When it then becomes ``NaN``, ``estimator_weight`` and ``sample_weight`` are all ``NaN``, causing a large number of ``RuntimeWarning``s and making successive iterations useless.

Please correct me if I'm wrong.

h

[2017-11-06 15:45] lesteve commented on #10068
Thanks @FarahSaeed for your interest! I would recommend that you find an issue with "good first issue" or "Easy" tag to get familiar with contributing to scikit-learn first. Also please have a look at our [contribution guidelines](https://github.com/scikit-learn/scikit-learn/blob/master/CONTRIBUTING.md). The [open source guides](https://opensource.guide) are a great reference too.

[2017-11-06 16:03] glemaitre commented on #10068
@jnothman I will let @lesteve answered to your first point since he knows much better joblib than me. However, hashing the input once (it could still take some times) or a subset of the input data (it might failed sometimes) should minimize the first problem.

Regarding point 2-3, I see the point but I have trouble to see a friendly way to implement an on demand Memory. When building a Pipeline, i

[2017-11-06 18:47] v1shwa commented on #6183
Wow! That was quick. Thanks @jnothman , I will give it a try.

[2017-11-06 19:36] fcharras commented on #10068
Maybe different issues should be opened with each of those points ? The issue with joblib loading results coming from a previously cached deprecated version of a transformer sounds important too as long as it's not documented.

I for one ended up writing a meta estimator `CachedTransformer` that would let me choose if I want to cache the `fit`, the `transform` or both (and if both `fit_transform`

[2017-11-06 20:30] justinrporter opened #10079 "BaseEstimator does not support __slots__"
Hello all,

#### Description
I noticed that `BaseEstimator` does not support the use of `__slots__`, insofar that you cannot round-trip pickle objects that 1) inherit from `BaseEstimator` and 2) use `__slots__` rather than `__dict__`.

That said, I am not totally certain that I am actually using `BaseEstimator` correctly, but I thought I'd report it anyway. It may also be outside of the scope of t

[2017-11-06 20:41] jnothman commented on #10074
I did get an email when it failed, but then forgot about it, perhaps
because I made the preceding merge. Thanks for checking it out @massich

[2017-11-06 20:50] amueller commented on #10074
Can we add documentation about the cron build to the dev docs please? I don't really understand how it is set up. And I didn't get an email from what I can see :-/

[2017-11-06 21:24] amueller commented on #10079
My first reaction was "which idiot thought overwriting ``__setstate__`` was a good idea".... :man_facepalming:
This seems to be related to the change in #8324. What causes the ``AttributeError``? There's no ``__setstate__`` defined? Can we fix this without explicitly encoding ``__slots__``?

[2017-11-06 21:28] dilutedsauce commented on #10067
Did you want ```--diff``` and ```--show-sources``` moved to the setup file as well? or just the -----ignore flags?

[2017-11-06 22:28] justinrporter commented on #10079
I guess `object` doesn't have a default `__setstate__` implementation:

[code]

So when you hit `super(BaseEstimator, self).__setstate__(state)`, you get

[code]

and fall back to the direct `__dict__` call.

Maybe. In `__setstate__`, we could replace `__dict__.update(items)` with

[code]

But then you still have the problem that `SlottedEstimator.__dict__` is empty. You could implement something

[2017-11-06 22:58] jnothman commented on #10073
[Looking at the model attributes](http://scikit-learn.org/stable/modules/generated/sklearn.gaussian_process.GaussianProcessRegressor.html) (assuming there are no private attributes) we have:
* `X_train_`: 2 x 6000 x 8 bytes (float64)
* `y_train_`: 6000 x 8 (stored as float64)
* `kernel_`: negligible I think
* `L_`: 6000 x 6000 x 8 bytes
* `alpha_`: 6000 x 8 bytes
* `log_marginal_likelihood_value_`

[2017-11-06 22:58] #10073 closed

[2017-11-06 22:59] jnothman commented on #10073
You could consider deleting attributes that are redundant with data you
already have stored, and restore them separately... Yes, this is a bit
painful.

[2017-11-06 23:01] jnothman commented on #10076
You could get NaN cosine values if a vector has no non-zero elements. Is
this possible in your case?

[2017-11-06 23:25] jnothman commented on #10068
A separate `memoize_steps=['step1']` would be how I'd allow the user to select only some transformations to be memoized. (Hey, I've long been a proponent of a separate wrapper to memoize a step, but `Pipeline.memory` is what received consensus ...)

I'm hesitant to hash only a subset of the data without the user controlling that... which might be a joblib-level parameter??

As an articulate early

[2017-11-06 23:40] jnothman commented on #10079
Out of curiosity, why do you want __slots__ in an estimator?

[2017-11-07 04:02] Fenil3510 commented on #10077
"It seems to often be the case that the estimator_error underflows after a few iterations". Could you elaborate on this?

[2017-11-07 08:13] fcharras commented on #10068
Yes I'd be happy to contribute, I'll see what I can do for the documentation. Also I'll open a new issue with a minimal example.

[2017-11-07 08:26] lesteve commented on #10074
I'll try to do that. In the mean time:
* the definition of what's get run in the CRON job is done in the .travis.yml, exactly the same way as the other Travis job, except that you have a type = cron filter. See https://github.com/scikit-learn/scikit-learn/blob/abb43c1aef10a3348216006f6be5e34dcd6ac157/.travis.yml#L58-L63.
* which branch is targetted and the frequency of the cron job is set via the

[2017-11-07 08:40] lesteve commented on #10068
It would be great to have a small example where the use of `memory` is detrimental indeed.

[2017-11-07 10:23] tilmanbeck commented on #10076
Hi @jnothman ,
after some deeper investigating (should have done that before ;) I found out that there were empty text documents which resultet, as you suggested, in vectors with no non-zero elements. I tracked it down and it's because the `remove=('headers', 'footers', 'quotes')` parameter for the `fetch_20newsgroups` function cuts the whole text in some documents.
Thanks for the tip!

[2017-11-07 10:33] jnothman commented on #10072
Yes, but if you provide it a numpy array with 32 bit floats in the first
place, it won't need to copy the data.

On 7 November 2017 at 20:35, rajeshnnaidu <notifications@github.com> wrote:

[2017-11-07 10:34] jnothman commented on #10076
So is it fine to close this?

[2017-11-07 10:40] tilmanbeck commented on #10076
Yes, although I wonder if it would be better if the distance of two zero-valued vectors should be simply zero instead of non-finite. You think it makes sense to track it down or is this expected behaviour?

[2017-11-07 11:29] jnothman commented on #10076
Actually this is a duplicate of #7689, so see there...

[2017-11-07 11:57] gozzilli commented on #10077
I should add a bit more information on how to replicate this. Here is an example:

[code]

which raises the following warning 46 times:
[code]

This seems to be caused by the fact that the ``estimator_error`` decreases at every iteration, until it underflows. Perhaps this is not a valid set of parameters?

[2017-11-07 12:17] FarahSaeed commented on #10077
Hi , I'm new to scikit-learn contribution. Can I work on this issue?

[2017-11-07 12:34] jnothman commented on #8365
There is already a PR at #8367, but it doesn't seem to be going anywhere quick. Try looking for issues labelled "help wanted"

[2017-11-07 15:36] justinrporter commented on #10079
Honestly, we probably don't need it. I was experimenting with it in a case where I thought we might be allocating a lot (and serializing/deserializing a lot) and hit this error, and thought it might be worth reporting.

[2017-11-07 19:14] voxmenthe opened #10082 "No complete list of necessary checks for creating new classes in the docs (or anywhere else)."
@amueller asked me to open this issue.

When creating new estimators using any of the base classes, or inheriting from any of the main sklearn classes, there is no complete list (or any list?) of all of the checks that need to be run through to create a well-formed estimator or sklearn-compatible class. check_array covers a lot of things, but definitely nowhere near all things.

This is important,

[2017-11-07 20:56] usamaB commented on #9113
This should be there for testing purposes.  If I want to add custom weights and biases .
so +1

[2017-11-07 21:24] jnothman commented on #10079
I think that anyone putting __slots__ on an estimator has probably
misunderstood __slots__.  but maybe we need to support estimators written
entirely in Cython which could have the same problem, I think.

On 8 Nov 2017 2:36 am, "Justin R. Porter" <notifications@github.com> wrote:

Honestly, we probably don't need it. I was experimenting with it in a case
where I thought we might be allocating a lo

[2017-11-07 21:31] amueller commented on #9919
@sauln ``scipy.stats.expon``

[2017-11-07 22:08] jnothman commented on #10082
in practice it will often be useful to start with an example that works and
then extend it, don't you think. A complete list is essentially identical
to sklearn/utils/estimator_checks.py, though I suppose that could be
written out in plain English and with examples of how to conform. This may
become a big effort to build and maintain, however...

[2017-11-07 22:18] jnothman commented on #9113
Perhaps one of you should contribute an implementation

[2017-11-08 09:12] lesteve commented on #10082
@voxmenthe what can be done to improve http://scikit-learn.org/dev/developers/contributing.html#rolling-your-own-estimator?

[2017-11-08 09:28] rajeshnnaidu commented on #10072
Ok. Will try this. Thanks for your inputs.

[2017-11-08 13:52] #10076 closed

[2017-11-08 15:27] mfeurer commented on #10011
I added a first draft in #10087.

@amueller nope, that's just an undocumented feature of Auto-sklearn that I needed to adapt because of the change in scikit-learn.

[2017-11-08 15:43] elgehelge opened #10088 "FeatureUnion not accepting `dict_items` (appeared in the latest minor release)"
#### Description
An exception is raised when providing FeatureUnion with `dict_items`. This is not technically a bug judging by the documentation which says "a list" is expected. However this broke some of my code when updating from 0.19.0 to 0.19.1. And (at least to me) accepting dict_items as input seems like an common way to use FeatureUnion.

Now it's reported - I will let it up to more experi

[2017-11-08 15:48] zfrenchee opened #10089 "[Feature Request] Add ElasticNet penalty (mixed L1/L2) to LogisticRegressionCV"
[LogisticRegressionCV](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegressionCV.html) can do "Ridge" (L2) and "Lasso" (L1) but not "ElasticNet" (L1+L2)

[ElasticNetCV](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.ElasticNetCV.html) cannot do logistic regression.

It would be nice if LogisticRegressionCV had an interface for ElasticNet regu

[2017-11-08 17:32] MaxPowerWasTaken opened #10090 "Does Pipeline call each step's transform() an extra unnecessary time with return_train_score=True?"
#### Description

#### Steps/Code to Reproduce
Below is a pretty minimal pipeline/GridSearchCV example, with some print statements in two trivial transformer classes, to log when each's `.fit` and `.transform` methods are called.

I've added some comments to the log output giving my understanding of why each step is happening, and which ones seem to me (and the person who answered my Stack Overflo

[2017-11-08 20:36] jnothman commented on #10090
Yes it does, and I don't think avoiding it will be easy nor worthwhile...

[2017-11-08 20:36] #10090 closed

[2017-11-08 20:39] MaxPowerWasTaken commented on #10090
ok, thanks for the quick response jnothman.

[2017-11-08 20:54] agramfort commented on #10089
it's not implemented. Use http://contrib.scikit-learn.org/lightning/ in the mean time

[2017-11-08 20:54] #10089 closed

[2017-11-08 22:18] jnothman commented on #10088
While minor because we've not explicitly licensed passing in a dict_items instead of a list, this is a bug because it is due to an inconsistency between `fit` and `fit_transform` introduced in #9716 (sorry I didn't see this in review). I'm not sure if we should release 0.19.2 for the sake of this, but a fix making `fit_transform` match `fit` (and a corresponding test) is welcome.

[2017-11-08 22:47] glemaitre opened #10092 "BayesRidge can returned some NaN prediction and std"
#### Description

While reviewing #8478, we encountered a `BayesRidge` returning some NaN arrarys for the prediction and for the std of the posterior. Apparently, this behavior is triggered when the provided `y` is constant. It is in fact due to a division by zero during `fit` when initializing alpha such as [`1. / np.var(y)`](https://github.com/scikit-learn/scikit-learn/blob/f3320a6f/sklearn/line

[2017-11-08 23:01] jnothman commented on #10092
Yes, you're right about expected results.

[2017-11-08 23:30] PGryllos commented on #8614
_update_ I am working on it and I plan to open a pr with a rough implementation in the weekend.

[2017-11-09 00:53] dilutedsauce commented on #10092
Worth noting that ```ARDRegression``` has more or less the same issue

[2017-11-09 02:09] jnothman commented on #6197
See also #3796, #9069

[2017-11-09 03:36] jnothman commented on #6197
From [matlab docs](https://au.mathworks.com/help/stats/inconsistent.html) "The inconsistency coefficient characterizes each link in a cluster tree by comparing its height with the average height of other links at the same level of the hierarchy. The higher the value of this coefficient, the less similar the objects connected by the link." I still think some of the terms here are confusing. Distanc

[2017-11-09 04:57] zfrenchee commented on #10089
@agramfort it isn't implemented, but that's why it's a feature request. Is there a reason it shouldn't be implemented?

[2017-11-09 08:20] jdoepfert commented on #10092
I'll have a look into that one today

[2017-11-09 08:54] agramfort commented on #10092
I guess it's corner case for which std should be 0

[2017-11-09 08:56] agramfort commented on #10089
well this question has been raised in the past and so far nobody
volunteered to do this work which
is highly non-trivial to get the perfs of liblinear. So rather than keeping
the issue open for months
I thought closing was more natural. At least now there is a reason why I
closed :)

[2017-11-09 10:40] rth commented on #10067
In the cases where that's not the case, wouldn't  this lead to unwanted linting failures though? Related discussion in https://github.com/scikit-learn/scikit-learn/issues/9121 ..

[2017-11-09 12:27] jnothman commented on #10067
we're much more capable of ignoring a failure than enforcing style without
automated checking

[2017-11-09 14:02] Chrisinger commented on #6747
Do I get this correct? You do not implement it, as you do not know the name for it?
And you need evidence, that it is used? I just wanted to use it - just implemented it myself.
It is a rather simple concept, isn't it? It is class-balanced accuracy. Even wikipedia knows about it in the binary case: https://en.wikipedia.org/wiki/Evaluation_of_binary_classifiers
The multiclass case is a straight for

[2017-11-09 14:38] glemaitre commented on #10092
@jdoepfert adding `alpha_ = 1. / (np.var(y) + np.spacing(1))` should make the trick.

I was also checking the test `test_bayesian_on_diabetes` which is set to be failed.
Anyone knows why?

[2017-11-09 15:57] zfrenchee commented on #10089
Seems like a good feature request to point someone towards who wants to help improve sklearn, though, right? Oh well...

[2017-11-09 19:27] amueller commented on #10089
I agree with @zfrenchee which is why I had opened #8288

[2017-11-09 19:28] amueller commented on #10089
And doing this with SAGA, seems feasible from what @GaelVaroquaux said. Might not be liblinear speed always, but still pretty good.

[2017-11-09 19:30] amueller commented on #6747
@Chrisinger the multi-class case is a straight-forward extension, for which two different straight-forward interpretations exist that are very different. The same name is used for two different algorithms. One of them is implemented as macro average recall in scikit-learn.

[2017-11-09 19:31] amueller commented on #6747
@Chrisinger also see #10040 with pointers to the relevant literature and an explanation.

[2017-11-09 19:33] zfrenchee commented on #10089
Thanks for pointing me to your issue, @amueller. We can keep this one closed in favor of yours.

[2017-11-09 19:57] jdwittenauer commented on #9630
Just ran into this exact scenario and came looking to see if anything was in-progress, so I'll echo my support for the feature (for whatever that's worth =)).  Regarding removing outliers from the test set, one could argue both ways and it's likely too dependent on the specifics of the problem to have a right answer, but the scenario @datajanko described seems to be more common (i.e. remove from t

[2017-11-09 20:39] varunagrawal opened #10100 "image.extract_patches_2d fails if max_patches > all_patches"
#### Description
When calling `image.extract_patches_2d` on an image of say 512 to get a patch size of 512, the `_compute_n_patches` function raises an exception since the case where max_patches >= all_patches is not handled.

This happens when we have a pool of images of varying sizes and it would be tedious to handle this simple corner case.

#### Steps/Code to Reproduce
[code]

#### Expected Re

[2017-11-09 20:57] agramfort commented on #10100
max_patches is presently badly named as function is not supposed to
return less than max_patches if it is not None

I agree that your corner should work though. Presently if you try:

import numpy as np
from sklearn.feature_extraction import image

def sample_patches(img, patch_size=512, max_patches=50):
    if isinstance(patch_size, int):
        patch_size = (patch_size, patch_size)

    i_h, i_

[2017-11-09 21:14] varunagrawal commented on #10100
@agramfort it breaks because the check for `max_patches` is only a "less than" instead of "less than or equal to". I have implemented fix for this which takes care of that.

About your first point, I was under the impression that `max_patches` represents max possible patches, i.e. the number of patches returned is upper bounded by `max_patches` but returning less is a possibility if the image is n

[2017-11-09 21:38] jnothman commented on #9630
perhaps it's time we just accept a PR to support imblearn-style pipeline
with resampling and outlier removal examples, and we tweak from there...
Ping @glemaite

[2017-11-10 00:37] glemaitre commented on #9630
It would be great ... I think that @chkoar would agree with that.

By the way, we started to make a PR for a FunctionSampler as previously stated. We still have to document it but it should allow to warp some outlier detection algorithm inside it to later on make some sampling.

Regarding the Pipeline itself, I wanted to go back to #8350 and it could be the occasion of introducing the SamplerMixin

[2017-11-10 03:11] jnothman commented on #9630
I'd be tempted to just add a selection method to outlier detectors directly rather than create  FunctionSampler, but maybe I've not understood its benefits.

[2017-11-10 03:12] jnothman commented on #9630
I think this is quite unrelated to #8350. I also don't think it would be
arduous to reimplement an imblearn-like interface without getting explicit
permission from its creators :P

[2017-11-10 03:14] #9790 closed

[2017-11-10 03:22] ghost opened #10105 "Using OpenBLAS for the released wheels"
Hey, I just wanted to let you know that OpenBLAS is available for windows and that you should include it in the released wheels. See the numpy appveyor.yml for an example.

[2017-11-10 06:03] Happlo opened #10106 "DBSCAN: Points far away clustered together."
#### Description
I want to use DBSCAN to find clusters from my GPS positions. Some points in a cluster are really far away. I think they should be either outliers or connected to another cluster. (I posted a question about it here with a picture:
https://stackoverflow.com/questions/47206563/sklearn-dbscan-to-cluster-gps-positions-with-big-epsilon)

#### Steps/Code to Reproduce
[code]

#### Expecte

[2017-11-10 11:08] lesteve opened #10107 "Add a test for invalid presort in GradientBoosting{Classifier,Regressor}"
This should raise a ValueError and does not:
[code]

This should be enough to add the presort argument checking in BaseGradientBoosting._check_params with a test.

[2017-11-10 11:37] lesteve commented on #10105
AFAIK we rely on the BLAS shipped with numpy so I don't think we have anything to do on the scikit-learn side.

[2017-11-10 12:48] Chrisinger commented on #6747
@amueller Thank you for the hints!
This is why I was confused - and did not find in when looking for it. I would not use the term recall, as in the two class case it is limited to the positive class! This is why I would never look there.

My thought process went like this:
Accuracy is a great measure, giving me an estimate, on what is the chance that when I give my classifier a random sample, I ge

[2017-11-10 13:29] aby0 commented on #10107
Can I work on this if anyone else has not already started working on it?

[2017-11-10 13:39] lesteve commented on #10106
The haversine metric requires data in radian. Your numbers seem in degrees. Closing, please shout if you strongly disagree.

[2017-11-10 13:39] #10106 closed

[2017-11-10 13:41] lesteve commented on #7173
I think @eseglem is probably right, I am going to close this one. Someone please shout if you strongly disagree.

[2017-11-10 13:54] lesteve commented on #10107
Go for it I recommend reading
our [contribution guidelines](https://github.com/scikit-learn/scikit-learn/blob/master/CONTRIBUTING.md). https://opensource.guide/how-to-contribute/ is a great resource on contributing to open-source in general.

[2017-11-10 13:58] aby0 commented on #10107
Thanks, As far as I understood, presort takes bool or  by default auto, but even if we are giving
`GradientBoostingClassifier(presort='invalid').fit([[1., 2.], [1., 1.]], [0, 1])
 `
It is not throwing a ValueError, so we should add a check for it.

[2017-11-10 14:23] Happlo commented on #10106
Omg, how could i miss that. Thank you very much for your answer.

[2017-11-10 14:36] rth commented on #10105
If I understand correctly, in the current setup appveyor installs the scipy/numpy wheels from http://www.lfd.uci.edu/~gohlke/pythonlibs/ which are built against MKL,

https://github.com/scikit-learn/scikit-learn/blob/4d9a12d175a38f2bcb720389ad2213f71a3d7697/build_tools/appveyor/requirements.txt#L1-L11

so that would make scikit-learn wheels on windows also dependent on MKL?

The latest versions of

[2017-11-10 15:02] lesteve commented on #10105
Note OpenBLAS in Windows wheels is only on numpy master https://github.com/numpy/numpy/pull/9645.

Looking at https://pypi.python.org/pypi/numpy it seems that for the latest release of numpy i.e. 1.13:

[2017-11-10 15:19] lesteve commented on #10107
Yep exactly you will need to add a test in sklearn/ensemble/tests/test_gradient_boosting.py. Add your tests in test_classifier_parameter_checks and test_regressor_parameter_checks. Use assert_raise_message to check the error message as well as the exception type.

[2017-11-10 15:23] xoviat commented on #10105
You seem to be calling system info though. IIUC out by won't find the numpy BLAS.

[2017-11-10 15:44] lesteve commented on #10105
Not sure what you mean by this. I have to admit I am not an expert on neither BLAS nor wheels and even less on Windows. @ogrisel may be the right person to pitch in.

[2017-11-10 18:18] jdossgollin opened #10108 "Feature Request: KDE for Bounded Data"
**Feature request:**
It would be great to have a KDE that worked on bounded data (i.e. positive-definite data). There are many flavors of this, including implementations in the python world (i.e. [PyQt-Fit](https://pypi.python.org/pypi/PyQt-Fit/1.1.5)), and there are other approaches in other packages (i.e. [log-spline density in R](https://cran.r-project.org/web/packages/logspline/index.html)). A

[2017-11-10 18:59] marcelobeckmann commented on #5884
Hi, I changed the code to avoid warnings as proposed by Pierre Wessman, and CI is green. I need someone to review my code.

[2017-11-10 19:40] #10092 closed

[2017-11-11 01:16] xoviat commented on #10105
So this is what I'm talking about:

https://github.com/scikit-learn/scikit-learn/tree/fcb706a7c0074a16bd472ca284145be2e0f7c936/sklearn/src/cblas

Numpy will have a BLAS implementation, but you only can use that implementation through the numpy API. If you call the BLAS API directly, then you won't be using numpy's BLAS, you'll be using your own BLAS.

When I say "you seem to be calling system info

[2017-11-11 01:18] xoviat commented on #10105
Also, MKL is available if you want it. They've updated their license to be compatible with OSS projects.

[2017-11-11 04:33] qinhanmin2014 commented on #7238
Resolved in #7670

[2017-11-11 04:33] #7238 closed

[2017-11-11 12:14] #10037 closed

[2017-11-11 12:49] pstjohn opened #10111 "Add sample weights to BayesianRidge"
This would be a great feature and would make the method more consistent with the other linear regression estimators.

I think the only fix that is needed would be to add [these lines](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/base.py#L491-L493) to the `BayesianRidge.fit()` method, and update a couple kwargs and test examples?

[2017-11-11 17:35] jhays006 opened #10113 "SGDClassifier never has the attribute "predict_proba" (even with log or modified_huber loss)"
#### Description
SGDClassifier's predict_proba() is not compatible with MultiOutputClassifier's predict_proba() (even when it has the proper loss functions: log or modified_huber).

The incompatibility occurs because estimators implementing SGDClassifier do not have the attribute "predict_proba"; thus, when wrapped by MultiOutputClassifier, predict_proba() raises an error.
The error occurs in this

[2017-11-11 18:27] jhays006 commented on #10113
I found that the SGDClassifier has predict_proba as a property: hasattr() cannot detect properties.
[code]
2
False

[2017-11-11 19:27] jhays006 commented on #10113
Alright, it has something to do with predict_proba being a property in SGDClassifier.

A simple workaround (which will work before or after there's a fix) is to make a simple subclass that implements predict_proba (not a property) by calling the super's predict_proba.  In case it isn't obvious, the data is made-up here.
[code]

[2017-11-11 22:56] jnothman commented on #10113
predict_proba, for some estimators, is only available after fitting.

yes, MultiOutputClassifier is incorrectly checking whether `predict_proba` is available on `self.estimator` rather than `self.estimators_[0]`. Fix welcome.

[2017-11-11 22:56] jnothman commented on #10113
Perhaps MultiOutputClassifier should also use the same property mechanism to only make predict_proba available after fitting.

[2017-11-11 23:02] jhays006 commented on #10113
But, predict_proba isn't available even after fitting.

[2017-11-11 23:10] jnothman commented on #10113
The problem is that MultiOutputClassifier is checking the before-fitting estimator for whether it supports predict_proba, not the after-fitting estimator.

SGDClassifier, after fitting, should support predict_proba with an appropriate loss:

[code]

[2017-11-11 23:13] jhays006 commented on #10113
Oh, it's checking too early.  Alright, thanks for looking into it so fast.

[2017-11-11 23:23] jnothman commented on #10113
no, it's checking at the right time, but checking the wrong thing.

[2017-11-12 01:26] ValentinCalomme commented on #10082
I totally agree. I am currently trying to create custom objects and I keep running into strange errors that check_estimator raises. Most of the time, it's because I am not writing the correct tests in my classes.

I read the "rolling your own estimator" and even though it's a good start. It is incomplete and not up to date. The most blatant issue that I've seen so far was that the classifier templ

[2017-11-12 02:27] jnothman commented on #10082
yes, better error messages in check_estimator would be great.

re the example, I suppose there's a difference between what works and is
acceptable in order, and what is library quality

On 12 Nov 2017 12:26 pm, "ValentinCalomme" <notifications@github.com> wrote:

[2017-11-12 07:06] hoyeunglee opened #10114 "how to SVM for multiple output?"
[100,0,1000] map to [0,300,3000]
[500,5000,0] map to [700,0,7000]
etc...

[code]

[2017-11-12 07:10] hoyeunglee opened #10115 "which kind of data are suitable for using machine learning?"
is there any function to test the data whether suitable for using sklearn methods ?

[2017-11-12 10:24] jnothman commented on #10114
Libsvm does not support multiple outputs natively.

Use something from the sklearn.multioutput module.

[2017-11-12 10:24] #10114 closed

[2017-11-12 10:25] jnothman commented on #10115
This is far too broad a notion... Are you concerned about some particular data that was not suitable?

[2017-11-12 10:25] #10115 closed

[2017-11-12 10:29] hoyeunglee commented on #10115
I think machine learning not suitable to predict random or data controlled, so I am curious about which kind of data it can predict accurately.

[2017-11-12 10:59] qinhanmin2014 commented on #10114
@hoyeunglee Seems that you have asked several questions in the issue tracker. The issue tracker is mainly for bug reports and new feature requests. It is recommended to ask questions on stackoverflow (See the issue template you have filled in). It can not only enable you to get more instant and detailed feedback, but also enable core devs to focus on more urgent things. Hope that you can understan

[2017-11-12 11:02] hoyeunglee commented on #10114
Usually my question no expert answer in stackoverflow, so I ask directly here.

[2017-11-12 11:50] jnothman commented on #10115
That's not a question about scikit-learn. Certainly not an issue for
scikit-learn's development, which is what this tracker is for. Try Quora.

[2017-11-12 11:52] hoyeunglee commented on #10115
I will try quora. Thanks.

[2017-11-12 13:07] SmokinCaterpillar commented on #9626
Is there any update on this? Running a multi-output [Random Forest Regresser](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html) with the `mae` criterion and a couple of million samples takes days in comparison to minutes for `mse`.

[2017-11-12 13:53] tilusnet opened #10116 "Expose level 3 headings in Contents"
Hi,

I love browsing through the pdf version of the user guide.
However I'd like to have included in its Contents the 3rd level headings as well -- currently this is limited only to 1st and 2nd levels.
Can you help?

[2017-11-12 19:18] jmschrei commented on #9626
This was an issue that @nelson-liu and I were working on as a part of his GSoC 2016. The gist comes down to it being more difficult to compute running medians versus running means. I think we figured out a possible solution, but ran out of summer before getting it done. If someone would like to take up the issue, I'd be more than happy to discuss the idea with them.

[2017-11-12 19:46] jmschrei commented on #10114
If you're looking to ask questions you might want to pose them to the mailing list, or to the Gitter chat. As @qinhanmin2014 mentioned, the issue tracker is mostly for bug reports and new feature requests.

[2017-11-12 20:04] jnothman commented on #10116
Perhaps http://www.sphinx-doc.org/en/stable/latex.html will help?

[2017-11-12 20:16] rth commented on #10116
Yes, it should be possible to change the depth in the table of contents in the PDF by changing the `preamble` field in [`doc/config.py`](https://github.com/scikit-learn/scikit-learn/blob/master/doc/conf.py#L208) as suggested in [this SO answer](https://stackoverflow.com/questions/20073309/how-to-set-sphinx-and-latexpdf-toc-depth).

The current table of contents (ToC) is already 7 pages long, I'm n

[2017-11-12 23:26] tilusnet commented on #10116
I very much appreciate your pointers both, I have been looking at the references you pointed me at.
I am building the pdf locally on my machine for now with `make latexpdf` in `doc`. While the Latex output's ToC generated file `user_guide.toc` does seem to include 3rd level entries, the pdf's contents are unchanged.
Is there something else needed for tuning the pdf's ToC? I notice that `make` exec

[2017-11-13 00:11] jnothman commented on #10116
I have no idea. Look up documentation about pdflatex.

[2017-11-13 01:03] jsoutherland opened #10119 "Improve test for MDS parallel processing case - requires update in MDS"
#### Description

There is a test that MDS does not create an error when performing parallel processing (`n_jobs > 1`)
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/manifold/tests/test_mds.py#L55-L61

That test should also assert that the result is comparable to with `n_jobs = 1`.

#### Steps/Code to Reproduce

Proposed test:
[code]
... as a replacement for
https://github.com/sc

[2017-11-13 01:14] qinhanmin2014 commented on #10116
I might be +1 for the change in master because I think user guide is among the core part of the doc. Also, this issue is exactly the reason why I abandon the pdf doc and use the wed version instead.
Frankly, I would say that current user guide in the pdf doc is really unfriendly for readers.
![2017-11-13_090217](https://user-images.githubusercontent.com/12003569/32705652-616a71ec-c851-11e7-999f-0f

[2017-11-13 02:09] jnothman commented on #10116
Firstly, I consider the fact that Examples does not have a top-level
heading to be a bug in the documentation atm. A disproportionate amount of
the current PDF TOC is examples.

Regarding having a deeper TOC, perhaps having a TOC at each chapter's title
page would be a useful way to do this:
https://tex.stackexchange.com/questions/3001/list-sections-of-chapter-at-beginning-of-that-chapter

On 13 N

[2017-11-13 02:17] jnothman opened #10120 "DOC Avoid references to this project as "the scikit""
There are a few references to this project as "the scikit" within our documentation. I feel this is outdated terminology that might confuse users (though others may disagree) or otherwise engenders the perhaps-problematic use of "scikit" as a name for "scikit-learn". I feel we should change these references.

First-time contributors only, please.

[2017-11-13 02:22] jnothman commented on #10116
See https://github.com/sphinx-gallery/sphinx-gallery/issues/315 for a
possible solution to the example gallery issue.

[2017-11-13 03:06] qinhanmin2014 commented on #10074
Really curious what's happening recently. Seems that almost everyday, successful Travis builds are marked as cron, run again by Travis and marked as fail on Master. See for example:
![2017-11-13_110400](https://user-images.githubusercontent.com/12003569/32707976-732d3c64-c862-11e7-94bd-63e9a510faa8.jpg)
![2017-11-13_110418](https://user-images.githubusercontent.com/12003569/32707985-7dbdf498-c862-

[2017-11-13 04:10] jnothman commented on #10074
CRON builds use the dev version of scipy, numpy, which is what it is intended to test, but at the moment that is failing due to  numpy/numpy#9966

[2017-11-13 04:13] jnothman commented on #10074
Also note that that issue was fixed 14 hours ago, and the last cron job was run 20 hours ago... we'll see if perhaps we get a green tick overnight, or if we need to adjust our doctests.

[2017-11-13 04:41] qinhanmin2014 commented on #10074
@jnothman Thanks for the instant reply. I think I'll quickly push a doc fix to master to see if everything goes well.

[2017-11-13 04:49] ashimb9 opened #10122 "GaussianMixture default 'tol' parameter too large?"
While working with a synthetic dataset, I have noticed that using the default tol=1e-03 the final "weights" of the Gaussian Mixture components is "significantly" off from the true values. Following is the data generation process and the fitted model parameters for a couple of 'tol' values:

[code]
The 300/100 sample divide for X1 and X2 should mean that the final weight on X1 should converge to 0.

[2017-11-13 04:56] jnothman commented on #10074
What fix is needed, unless you have run tests with numpy master now? It's best to make a PR in any case, to make sure that master builds on numpy stable too.

[2017-11-13 05:00] jnothman commented on #10122
Could you add your code for printing the fitted parameters so that others can experiment with this?

I agree it looks like the default stopping criterion is a bit premature.

[2017-11-13 05:07] qinhanmin2014 commented on #10074
Sorry, by saying push, I mean a PR (See #10123, a broken link in doc). And I suddenly realize that it seems that I don't need to do that since the cron job will automatically run again. Sorry again for doing all the things in a hurry. I promise that I won't commit anything directly into master.

[2017-11-13 05:11] jnothman commented on #10074
You can commit things directly to master, if you're absolutely sure they
won't break things! (or if you're sufficiently remorseful after breaking
things :P)

[2017-11-13 05:11] jnothman commented on #10074
(Also, of course, if you're absolutely certain they would not be the subject of disagreement.)

[2017-11-13 05:26] ashimb9 commented on #10122
@jnothman Done. Thanks for the suggestion -- I also added the imports etc. so it can now simply be copy-pasted and run.

[2017-11-13 08:30] SmokinCaterpillar commented on #9626
What was your idea?

I guess, theoretically, it boils down to computing the exact median which costs `O(n log n)`, right? How about an approximation of the median in linear time, like the [Median of Medians](https://en.wikipedia.org/wiki/Median_of_medians)?

Especially when it comes to random forests, the error introduced by the median approximation can be neglected or rather seen as another sourc

[2017-11-13 08:52] lesteve commented on #10074
Still breaking as of now (finished 40 minutes ago). There were a couples of PRs in numpy that were merged very recently so I am hoping they were not in the latest numpy dev wheels and everything is going to be fine tomorrow.

[2017-11-13 09:22] FarahSaeed commented on #10120
How about replacing "the scikit" with "scikit-learn"?

[2017-11-13 10:06] jnothman commented on #10120
sounds good to me! PR welcome

[2017-11-13 10:46] cossatot commented on #7173
The latitude and longitude unit bug was only in my little test script above. Fixing it unfortunately doesn't fix the issue.

Sorry I can't really help beyond that; the tree-based stuff is way over my head.

[2017-11-13 10:51] qinhanmin2014 commented on #9495
Fixed in #10066 by using numpydoc master when building dev docs.

[2017-11-13 10:51] #9495 closed

[2017-11-13 11:54] kameranis commented on #7755
I'll try to look into this through the next weekend. `n_jobs_predict` is an overkill. If each classifier takes very little time to predict and there are few classifiers, parallelization will indeed be slower.

[2017-11-13 13:06] tilusnet commented on #10116
As a newcomer I agree with you both that the pdf ToC is indeed disproportionate: I'd want to see 2 nested levels under User Guide and ideally all Example chapters should be demoted to level 2.
For my personal purposes I decided to change the pdf index manually as it seems that achieving that in a generative manner requires too much technical understanding at my end.
Thanks both for your prompt sug

[2017-11-13 13:24] ValentinCalomme opened #10125 "Feature request: allow objects implementing __eq__ to be used in sklearn.metrics"
#### Description

sklearn.metrics like `accuracy_score` or `f1_score` for instance can be used on float and string arrays alike. However, it doesn't work on custom objects that implement `__eq__()` to define whether two objects are equal, which in hindsight is all one needs to compute accuracy.

Let's say that my model takes in custom objects and does a nearest-neighbor classification, my output a

[2017-11-13 13:25] RokoMijic commented on #4920
I'd like to add that this seems like a very useful feature

[2017-11-13 14:51] Dheeraj1998 commented on #10120
Is @FarahSaeed already working on this issue? If not, I would love to take it up!

[2017-11-13 14:53] lesteve commented on #10082
@ValentinCalomme you seem to have a good grasp on how to improve the documentation. A PR would be really welcome!

[2017-11-13 17:20] alanyang3 opened #10127 "Pickled model built in 32bit linux cannot be loaded in 32bit windows"
#### Description
`ValueError: Did not recognise loaded array layout` thrown when loading model pickled in 32 bit Linux and loaded on 32 bit Windows. The reverse is also true. Models can be pickled/loaded on their respective OS so it seems to be a cross-platform issue.

I've tried both joblib and pickle and ensured that library versions are the same on Windows and Linux. Libraries were obtained usi

[2017-11-13 19:14] saddy001 commented on #8043
I agree, that changing the interface by returning the indices is somehow undesired. I'd like to avoid that. But I think that whenever the user wants to get predictions for splits, that don't cover the whole dataset, they must handle the splits on their own anyways.
In that case, they may do that (like in a custom implementation) by storing the splits in a list and then passing the list to cross_va

[2017-11-13 19:42] sergeyf opened #10128 "ARDRegression still crashes when trained on some constant y"
#### Description
Recently, it was reported in #10092 that `BayesRidge` and `ARDRegression` have an issue with training on constant labels. There was a fix made in #10095. It seems it is not completely fixed. I have found some specific examples under which it fails, although it works fine for many examples.

#### Steps/Code to Reproduce
Download the pickle file here: https://www.dropbox.com/s/ytb7y

[2017-11-13 21:21] jnothman commented on #10127
"Since a model internal representation may be different on two different architectures, dumping a model on one architecture and loading it on another architecture is not supported." http://scikit-learn.org/stable/modules/model_persistence.html

Sorry. Try using pmml?

[2017-11-13 21:22] #10127 closed

[2017-11-13 21:23] #10111 closed

[2017-11-14 05:56] lesteve commented on #10125
I am not sure about what your exact use case is but it feels like that in your particular snippet you should just do:
[code]

Using numpy arrays of dtype object have implications in terms of performance as well, so I would recommend that you stay away from them unless you have a strong reason to use them.

Finally bear in mind that we care strongly about the long-term maintainability of scikit-lea

[2017-11-14 06:03] stanleynguyen opened #10130 "Feature request: Allow user to specify label when using sklearn.mixture.GaussianMixture.sample()"
Right now the sample method from GaussianMixture model will return sample data randomly as per this usage
[code]
But I would like to generate a sample from a specific cluster, there seems to be no way to do this (or at least that I don't know of)

[2017-11-14 06:58] jnothman commented on #10125
IMO this has no chance of being supported throughout, sorry.

[2017-11-14 06:58] #10125 closed

[2017-11-14 07:02] jnothman commented on #10130
I'm inclined to not support this. you can do it with means_ and
covariances_ directly.

[2017-11-14 07:36] stanleynguyen commented on #10130
Oh you are right @jnothman 😄  Thanks for the advice

[2017-11-14 07:36] #10130 closed

[2017-11-14 09:06] qinhanmin2014 commented on #10074
This time, we got an errored build. See https://travis-ci.org/scikit-learn/scikit-learn/builds/301820919

[2017-11-14 09:50] lesteve commented on #10074
According to https://github.com/numpy/numpy/pull/9332/files, looks like we need legacy=True rather than sign='legacy'. I'll do that.

[2017-11-14 10:06] #10120 closed

[2017-11-14 12:12] EelcoHoogendoorn opened #10133 "Feature request: configurable reductions in bagging regressors"
Currently, RandomForestRegressor and friends perform a reduction by means of a simple averaging over the population.

In the past, I have written code to compute the mode over a set of votes; currently, I would like to experiment with using a trimmed mean. But there isnt any reduction operation that I cant see as being potentially useful to experiment with.

Is that intuition wrong? Are there good

[2017-11-14 12:21] lesteve commented on #7173
OK thanks for the feed-back @cossatot j, I'll keep this one open then!

[2017-11-14 12:26] #10067 closed

[2017-11-14 14:29] qinhanmin2014 commented on #10074
ping @jnothman
It seems that latest numpy changes (including numpy/numpy#9966) do not fix any error in the cron job. For today, the cron job get errored (See [log](https://travis-ci.org/scikit-learn/scikit-learn/builds/301820919?utm_source=github_status&utm_medium=notification)) and @lesteve has fixed it (enable the cron job to run through again) in #10132 but all the errors are still there.
For t

[2017-11-14 14:55] qinhanmin2014 commented on #9580
Resolved in #9701

[2017-11-14 14:55] #9580 closed

[2017-11-14 14:58] Baschdl opened #10134 "Access to LOF scores for more interpretable results"
I would like to suggest that the LOF score which is calculated and stored in the [LOF class](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neighbors/lof.py) as `negative_outlier_factor_` is publicly accessible.
https://github.com/scikit-learn/scikit-learn/blob/18cf2e55807790cbeb929fd91c22b73a4aad71b0/sklearn/neighbors/lof.py#L193
With this change it would be possible to not only

[2017-11-14 15:28] lesteve commented on #10074
Hmmm then not sure what is going on ... wild guessing: maybe the np.set_printoptions(legacy=True) prevents https://github.com/numpy/numpy/pull/9966 from having an effect somehow.

I think the first thing to do would be to build numpy master locally and see whether we can reproduce the errors.

[2017-11-14 15:49] qinhanmin2014 commented on #10074
@lesteve personally I might doubt whether numpy/numpy#9966 is the reason, I've tried to locate a series of commit in numpy by looking at the latest successful cron build and the first failed cron build, l'd rather believe numpy/numpy#9941 to be the reason but l'm not sure.

[2017-11-14 16:37] rdturnermtl opened #10137 "PCA implementation does not match Tipping and Bishop"
The documentation for sklearn.decomposition.PCA says that
"Implements the probabilistic PCA model from: M. Tipping and C. Bishop, Probabilistic Principal Component Analysis, Journal of the Royal Statistical Society, Series B, 61, Part 3, pp. 611-622 via the score and score_samples methods."

It is unclear what the intention is for the other methods, but to match the MLE for PCA some changes need t

[2017-11-14 16:57] asanchez126 opened #10138 "ValueError: The condensed distance matrix must contain only finite values."
#### Description
After loading a big corpus with many words I have this error message: ValueError: The condensed distance matrix must contain only finite values.
I am receiving the below error while I try to process a big corpus with many words, using for this 'cosine' affinity. i want to compare with some other kind of linkages to see which is better:

    for union in ['ward', 'average', 'comple

[2017-11-14 17:04] rdturnermtl opened #10139 "Feature Request: Gaussian adjust option in RobustScaler"
It would be nice if sklearn.preprocessing.RobustScaler transformed data to a standard Gaussian when the input data was a Gaussian distribution.  Currently, with the default arguments of quantile_range=(25.0, 75.0), if Gaussian data is passed to RobustScaler, then the transformed data has:
mean ~= 0 and std ~= 1/(norm.ppf(.75) - norm.ppf(.25)) = 0.741
It would be nice if this were 0 and 1 to be mor

[2017-11-14 19:25] siftikha commented on #10108
I will take a crack at this, should have something acceptable in a day or two.

[2017-11-14 20:31] asanchez126 commented on #10138
I have solved it. It depends on the number of features, so, higher the number, it works properly. I have to guess what is the limit of it. Thanks, I close this issue.

[2017-11-14 20:31] #10138 closed

[2017-11-14 21:24] jnothman commented on #10133
Every feature we include has a maintenance cost. Our maintainers are mostly
volunteers. For a new feature to be included, we need evidence that it is
often useful and, ideally, well-established in the literature or in
practice. That doesn't stop you implementing it for yourself and publishing
it in a separate repository.

[2017-11-14 21:26] amueller commented on #10137
We had PPCA, though I think it implemented this, so it wasn't more clear. Do you want to send a PR to improve the documentation? I think the ``-1`` was a recent addition and the docs were not updated.

[2017-11-14 21:26] amueller commented on #10137
see also #9105.

[2017-11-14 21:52] rdturnermtl commented on #10137
It looks like #9105 uses the R implementation as the specification.

However, to actually match the MLE found in Tipping and Bishop one needs to divide by n_samples.  I wrote the script below to compare the implementation against the MLE.  It depends on what the specification is.

It gives:
loglik with bias -264.049958   <--- always higher likelihood than the unbiased
perturb improvement -0.000193

[2017-11-14 21:59] amueller commented on #10137
looks like I might have misread the test that actually convinced me in the test and merged too soon :-/
Yeah the biased estimate is defined as the MLE, so it'll always have higher likelihood.

[2017-11-14 22:16] jnothman commented on #10134
`negative_outlier_factor_` *is* publicly accessible. But we're also making some changes to outlier detection API in #9015. Closing this as near-duplicate of existing work.

[2017-11-14 22:16] #10134 closed

[2017-11-14 22:21] jnothman commented on #10139
Can't you just specify a different quantile_range?

On 15 November 2017 at 04:08, rdturnermtl <notifications@github.com> wrote:

[2017-11-14 22:26] rdturnermtl opened #10141 "Documentation error in GaussianMixture"
In the documentation of sklearn.mixture.GaussianMixture, it says that precisions_cholesky_ is:
"The cholesky decomposition of the precision matrices of each mixture component."
However in lines 317--321 of sklearn.mixture.gaussian_mixture.py it is clearly computing the inverse of the cholesky rather than the cholesky of the inverse.  These are not the same:
[code]
gives
[code]
I think the code is

[2017-11-14 22:30] jnothman commented on #10138
The problem is all-zero vectors, for which cosine is undefined.

[2017-11-14 22:41] amueller commented on #10141
My matrix algebra seem very rusty :-/
[code]
all produce the same result, which makes me think there's just some transpose somewhere?

[2017-11-14 22:50] amueller commented on #10141
Ah, never mind. IC is not a cholesky because it's upper triangular times lower triangular. So yes, seems like an issue with the docs.

[2017-11-14 23:11] jnothman commented on #10141
Please feel free to offer a PR with a change in the docs.

[2017-11-14 23:19] EelcoHoogendoorn commented on #10133
I see your point about maintenance, but I cant say I have much in the way of support that this is a generally useful feature; just my anecdotal evidence.

A seperate package is not ideal, since it would mean duplicating 99% of all code in the ensemble module. I only want to be able to change a tiny part, but in a deeply nested loop.

Instead of adding such different reductions to sklearn, how abou

[2017-11-14 23:21] jnothman commented on #10133
You can show us in a PR what it looks like, but without evidence that it's
useful a lot of the time you should not hold great hopes that it'll be
merged.

[2017-11-15 02:02] qinhanmin2014 commented on #10137
Sorry if I have broken the code and thanks @rdturnermtl for the issue.
The intention of #9105 is that the explanation in #7843 is not clear and I try to make sklearn consistent with matlab(princomp) and R(prcomp).
But if that influence some further calculation, then maybe revert #9105 is a good solution. Since I suppose in many times, people are using explained_variance_ratio_  instead.
Also, coul

[2017-11-15 06:47] lesteve commented on #10128
Can you provide a stand-alone snippet to reproduce the problem ? Please read https://stackoverflow.com/help/mcve.

[2017-11-15 07:49] lesteve commented on #10128
Ah sorry I did not spot that there was a download link ... in any case can you reproduce without this pickle? How was this pickle generated, was this with a model that did not have the fix? Can you post a fully stand-alone snippet, i.e. one that generates the pickle and loads it.

Another thing a pickles have security issues (loading a pickle can execute any python function) so people will likely

[2017-11-15 10:05] qinhanmin2014 commented on #10074
ping @lesteve @jnothman
The same 9 doctests fail today [log](https://travis-ci.org/scikit-learn/scikit-learn/builds/302355925?utm_source=github_status&utm_medium=notification), maybe something to do in scikit-learn?
last successful cron job [log](https://travis-ci.org/scikit-learn/scikit-learn/builds/297470436?utm_source=github_status&utm_medium=notification)
numpy version: numpy 1.14.0.dev0+8b919

[2017-11-15 10:46] glemaitre commented on #10139
mean=0 and std=0.741 is still a Gaussian :)
I am not sure what is the benefit in practice to have all features with an std of 0.741 or 1.0
If really this is an issue, one can always pipeline a robust scaler and standard scaler

[2017-11-15 10:58] lesteve commented on #10074
I think there are mostly two things here:
* it could be argued that np.set_printoptions(legacy=True) should not use Dragon4 added in https://github.com/numpy/numpy/pull/9941
* there still seems some problem with legacy=True :disappointed:
[code]

All in all, we can solve part of it with doctest ellipsis which could be a good middleground but not all of them, eg not this one:
[code]

[2017-11-15 12:31] lesteve commented on #10074
I have opened https://github.com/numpy/numpy/issues/10026 for the space issue with arrays of size 1.

[2017-11-15 14:52] hugovk commented on #8215
Maybe it would be wise to phase out the sklearn package.

How about:
* first allowing installation through `pip install sklearn` but with a warning,
* then some time later don't install and just show an error,
* and finally remove the package altogether.

[2017-11-15 15:12] davidefiocco opened #10144 "Add top K error into scikit-learn"
Hi, as far as I understand there is no implementation of top K error for multiclass classification in scikit-learn, as defined in https://arxiv.org/pdf/1511.06683.pdf. While the computation is quite straightforward, it would be nice to have a built-in one.

Related to this:
https://stats.stackexchange.com/questions/129395/imagenet-what-does-top-five-error-means
https://stackoverflow.com/questions/

[2017-11-15 15:50] lesteve commented on #8215
My earlier comment is still valid:

@hugovk if you can find or put together a setup.py that just raises an exception that would be a step forward on this issue.

Just to be clear I don't think we should have a warning phase (since the problem is super easy to fix and to be honest I suspect very few people are doing `pip install sklearn`). We should not remove the package it is there for a good rea

[2017-11-15 16:08] hugovk commented on #8215
Here's PyPI downloads stats (via pypinfo) for the last month suggesting over a quarter of scikit-learn installs are through sklearn!

| package | download_count |
| -------------- | -------------- |
| sklearn |        283,395 |
|scikit-learn |      1,082,341 |

How about something like this in sklearn's setup.py?

[code]

[2017-11-15 16:25] chrisfilo commented on #8215
Happy to transfer ownership of the sklearn pypi to someone more involved in the project.

My two cents: if it ain't broken don't fix it. I see little benefit from preventing people from using sklearn and a lot of broken CI setups and packages if you do implement this exception.
I also vaguely remember that we added this meta package because of some meta-programming pattern that was looking for pac

[2017-11-15 16:50] amueller commented on #8215
@lesteve do you have an account? @chrisfilo you could also transfer to me. (t3kcit I think).

I would argue that keeping it as an alias is fine. And yes, I think a lot of CI scripts will break and it'll be no benefit to anyone imho.

[2017-11-15 17:45] sergeyf commented on #10128
@lesteve my apologies. The reason I uploaded a pickle is because the error wasn't deterministic. It was discovered while writing tests for the MICE PR. `X` was generated with

[code]
and then split into `Xtr`, `Xts`, `y` inside of MICE. [This](https://github.com/sergeyf/scikit-learn/blob/a8dcdbf815c6b65a559bdecc7bfd267b61f2c5fa/sklearn/preprocessing/tests/test_imputation.py#L441) test was failing

[2017-11-15 17:51] glemaitre commented on #10128
You need to try several random_state in a for loop and fix it once that you
find the good one :)

On 15 November 2017 at 18:45, Sergey Feldman <notifications@github.com>
wrote:

--
Guillaume Lemaitre
INRIA Saclay - Parietal team
Center for Data Science Paris-Saclay
https://glemaitre.github.io/

[2017-11-15 17:59] sergeyf commented on #10128
@glemaitre oh yeah, good idea. I'll do it soon and post the result here.

[2017-11-15 18:00] amueller opened #10147 "load_sample_images uses deprecated imread"
`imread` is deprecated in SciPy 1.0.0, and will be removed in 1.2.0.

[2017-11-15 18:09] lesteve commented on #8215
Here are a few ways this is broken:
[code]
Output:
[code]

[code]

pip list ouput is also is misleading (why do I have two versions of scikit-learn and why is one 0.0, which was actually the question from https://github.com/scikit-learn/scikit-learn/issues/8185#issue-200130128):
[code]

If we believe the numbers from PyPI (1 in 5 scikit-learn pip install is through `pip install sklearn` really ???

[2017-11-15 19:30] rdturnermtl commented on #10139
Priors/regularization on regression weights depend on the scale of the input. If the scale of robust scale is smaller than standard scaler, then robust scaler implicitly results in stronger priors on the regression weights. This is resolved if the robust scaler gives around the same scales as standard scaler, but with outlier robustness.

Pipelining with a standard scaler will undo the scaling of

[2017-11-15 19:39] rdturnermtl commented on #10139
Here is a nice little demo:
![eff](https://user-images.githubusercontent.com/28273671/32856144-f57935aa-ca11-11e7-8165-85d0d6078124.png)

[code]

[2017-11-15 19:47] rdturnermtl commented on #10137
Basically, the documentation says it implements Tipping and Bishop, which derives the MLE.  The MLE is n_samples and not n_samples-1.

However, the bigger issue might be that the PPCA projection in Tipping and Bishop is different than conventional projection that is implemented here.  Since the -1 issue will be small in large n_samples.

[2017-11-15 19:57] sergeyf commented on #10128
I only had to check 1000 seeds =)

[code]

This should break with the following error:

[code]

[2017-11-15 20:39] rdturnermtl opened #10148 "Problems with score_samples in BayesianGaussianMixture"
I have noticed that on many problems the score_samples() function in sklearn.mixture.BayesianGaussianMixture consistently gives lower test set likelihoods than just taking the posterior mean parameters from the mixture and plugging them into a regular mixture of Gaussians likelihood.

I have coded up a demo on a toy problem to illustrate:
[code]
This gives for instance:
[code]
The built in score f

[2017-11-15 20:58] rth commented on #10144
The top-n accuracy classification metric was proposed in  https://github.com/scikit-learn/scikit-learn/pull/8234 .

[2017-11-15 21:09] amueller commented on #10147
The imread function in scipy is deprecated, therefore we should not use it. I'm not sure if it's replaced by anything, or if we need to use PIL/pillow directly.

[2017-11-15 21:11] amueller commented on #10139
but what your "gaussian adjust" is doing is equivalent to changing the quantiles, right?

[2017-11-15 21:18] amueller commented on #10139
One could make the point that you need to search for the correct regularization anyway, but having different default behavior because of robust scaling is indeed a bit odd. So I can see the point.
This is only relevant if the data is really Gaussian, though, right?

[2017-11-15 21:23] keyur9 commented on #10147
As per the Scipy document, `imread `is deprecated and it is suggested to use `imageio.imread` instead. Please share your thoughts if `imageio.imread` is fine or you would suggest using PIL/pillow directly?

[2017-11-15 21:25] amueller commented on #10137
I would just change the doc for that. I think it's a remnant of the ppca and pca merger.

I'm not sure how much people use the actual ppca projection.

[2017-11-15 21:33] rdturnermtl commented on #10137
Yeah, the pca-vs-ppca projection issue probably just needs a clarification point in the documentation.

[2017-11-15 21:39] #10051 closed

[2017-11-15 21:42] amueller commented on #10147
Hm... I guess we use pillow directly? @GaelVaroquaux @jnothman opinions?

[2017-11-15 21:48] rdturnermtl commented on #10139
Yeah, this example uses a Gaussian as the default reference case, since that is the most obvious choice if we need to pick a default reference.  It seems a lot of the efficiency properties derived in robust statistics uses the same principle.

The distribution could be made adjustable too if we wanted to be fancy.  It looks like the implementation in #10140 already envisions that.

[2017-11-15 21:49] rth commented on #10105
@xoviat Thanks for the additional details!

I haven't worked on wheel generation, but according to the [mainter docs](https://github.com/scikit-learn/scikit-learn/blob/18cf2e55807790cbeb929fd91c22b73a4aad71b0/doc/developers/maintainer.rst), scikit-learn wheels for releases are generated in https://github.com/MacPython/scikit-learn-wheels . The appveyor/travis setup there doesn't appear to be stric

[2017-11-15 22:14] jnothman commented on #10147
So currently users of our imread need to have PIL or Pillow installed. We
should keep that assumption, for now. Which basically means we need to copy
the implementation of scipy.misc.imread. We could extend this to
allowing imageio to be installed instead in the future.

[2017-11-15 22:24] jnothman commented on #10139
Another thought: Does the QuantileTransformer help your case?

[2017-11-15 22:52] jnothman commented on #10148
Ping @jmetzen

[2017-11-15 22:54] jnothman commented on #10137
Please submit a PR with an appropriate clarification. Thanks!

[2017-11-16 00:35] xoviat commented on #10105
This has no practical impact.

Would be good to reuse code.

[2017-11-16 03:22] lesteve commented on #10128
Yep I can reproduce on master, thanks a lot for putting together a fully-standalone reproducing the problem! For the record, a CSV or a .npy rather than a pickle would have been a good option but it's even better to be able to copy and paste the snippet without having to download some data file. Basically the easier it is to reproduce, the better feed-back you'll get.

Note you can use [syntax hig

[2017-11-16 03:25] lesteve commented on #10128
Maybe @jdoepfert you could work on this since you did #10095 recently and the code may be fresh in your head? cc @glemaitre @agramfort @jnothman whow reviewed #10095.

[2017-11-16 03:31] sergeyf commented on #10128
@lesteve Thanks for the tip re: highlighting.

[2017-11-16 03:57] lesteve opened #10150 "beta parameter not documented in sag_solver"
See https://github.com/scikit-learn/scikit-learn/blob/f6163e73f82aa02f44a3782e6c219e69995c743e/sklearn/linear_model/sag.py#L86

The `beta` parameter was added in #8446 but not documented. I guess the `alpha` parameter doc needs to change as well. @arthurmensch do you have a suggestion for how to update the doc.

This easy is probably easy to tackle only if you already have some knowledge of sag/sa

[2017-11-16 04:41] keyur9 commented on #10147
Thanks for the suggestion @jnothman. As suggested, have implemented the changes and created the PR.

[2017-11-16 05:00] FarahSaeed commented on #10141
Hi In `_initialize` method, it's computing cholesky of precision matrices in lines 644 - 647 of gaussian_mixture.py, (which I think is cholesky of inverse). Isn't it different from the implementation in `_compute_precision_cholesky` which takes inverse of cholesky?

[2017-11-16 07:27] jdoepfert commented on #10128
@lesteve Yep, I'll have a look

[2017-11-16 10:45] glemaitre commented on #10128
Ok so the issue is coming from l. 551

[code]

[code]

So the threshold passed when constructing the instance is to low. I don't know that much thing about the algorithm itself and if the values are meaningful. If the values are fine then we need to raise a more meaningful error indicating that the threshold is too low. If this is due to the fact that the algorithm misbehave when having those type

[2017-11-16 11:01] yoelk opened #10152 "Error while using sk-learn in cythonized code"
#### Description
Error while using sk-learn in cythonized code.
A small script using sk-learn fails when it is run cythonized. It doesn't fail when running in pure python.

#### Steps/Code to Reproduce
Here is the script:
https://gist.github.com/yoelk/818082db9d333f87c1d5f3e0820a25c1

I've also uploaded it in a project to GitHub, for reproducing the problem:
https://github.com/yoelk/sklearn_cython

[2017-11-16 11:14] glemaitre commented on #10152
Are you trying to pass a cythonized object (`cyfunction FeatureListUnion.__init__`) to a python object (`Pipeline`) which under the hood use the python function `signature`?

[2017-11-16 11:54] glemaitre commented on #10152
Uhm watching a bit more, I probably lack cython knowledge. From your setup.py, it seems that you consider the py files to be cythonized. I always used pyx/pxd files and I would have expect a class such as presented in the doc: http://cython.readthedocs.io/en/latest/src/userguide/extension_types.html with cdef class. So this is outside from what I am used too.

[2017-11-16 11:58] yoelk commented on #10152
Hi, thanks for the reply!
You mean I should replace cli.py with cli.pyx? and set the class as an extension type?

[2017-11-16 12:13] jnothman commented on #10152
why do you want to do this?

[2017-11-16 12:17] yoelk commented on #10152
I am creating a classifier which works on features of different samples population sizes, and hence extending a list works better for me as it does not require to keep the same number-of-samples size across all of the unified features.
I cannot explain or share more details, but this is the use case and using sklearn's Pipelines and CVRandomSearch for it proved of huge value for us, and now we are

[2017-11-16 12:47] jdoepfert commented on #10128
@lesteve @glemaitre I think it might actually be a bug in the algorithm, but I am not quite sure. I think that the `self.lambda_` used at prediction stage is not the same as the one used for calculating the `self.sigma_`, and hence the shapes might not match at prediction stage. See my PR.

[2017-11-16 14:09] glemaitre commented on #10152
It would be what I would do if I want to start cythonizing code. However be aware that:

"Normal Python classes can inherit from cdef classes, but not the other way around. Cython requires to know the complete inheritance hierarchy in order to lay out their C structs, and restricts it to single inheritance. Normal Python classes, on the other hand, can inherit from any number of Python classes and

[2017-11-16 14:50] lesteve commented on #10141
@FarahSaeed friendly advice: for clarity's sake link to code like [this](https://help.github.com/articles/creating-a-permanent-link-to-a-code-snippet/).

In your particular example, I guess you mean https://github.com/scikit-learn/scikit-learn/blob/e260119564c3c2e97b3d37c84ba7705eedecd833/sklearn/mixture/gaussian_mixture.py#L644-L647?

[2017-11-16 14:58] glemaitre commented on #10128
That's true but I am still wondering if having all `coef_` at zero make sense.

[2017-11-16 15:18] jdoepfert commented on #10128
Not sure, but I guess that's intended when all entries of `lambda_` are below the threshold.
If `coef_` is zero, the predictions are just the `self.intercept_ `, which is `y_offset`, which by itself is the mean of `y`. Kind of makes sense if you do not have any coefficients left... But  anyway I don't get why coefficients with high precision are removed.

[2017-11-16 15:30] FarahSaeed commented on #10141
@lesteve yeah exactly.

[2017-11-16 15:33] glemaitre commented on #10128
So in this case we should not have an empty sigma as well?

[2017-11-16 15:36] sergeyf commented on #10128
In case this is useful, here is another implementation of ARD:

https://github.com/AmazaspShumik/sklearn-bayes/blob/fb15604ff89dc2a89058feebed9a5858a9ecdd80/skbayes/rvm_ard_models/fast_rvm.py#L93

[2017-11-16 15:38] jdoepfert commented on #10128
@glemaitre True, I guess they should be empty as well. Probably the sigma should be also pruned when the weights are pruned

[2017-11-16 15:43] jdoepfert commented on #10128
Maybe one could just shift the weight pruning step right to the beginning of the iteration, before sigma is calculated. But not sure if that's what the authors of the code intended

[2017-11-16 15:59] jdoepfert commented on #10128
So I guess the best solution would be to prune the sigmas together with the weights. What do you think?

[2017-11-16 16:13] glemaitre commented on #10128
Naively ‎I would do that but I would also check the original paper stated in the user guide to know that we don't mess up. @agramfort will for sure know better than me the algorithm. 

[2017-11-16 16:13] rdturnermtl commented on #10141
Yeah that definitely looks like an inconsistency in the code.  Maybe it would make more sense to take the Cholesky than the precision for the initialization.

Is there a good way to fix this without creating backwards compatibility issues?

[2017-11-16 16:16] wdevazelhes opened #10154 "[DOC] Error in StratifiedKFold doctsring"
#### Description
sklearn.model_selection.StratifiedKFold docstring states that

This is not true in general. Indeed, in this particular case for instance, all folds have different sizes:
#### Steps/Code to Reproduce
[code]
#### Expected Results: (according to the doc)
[10, 10, 10]

#### Actual Results
[9, 10, 11]

#### Versions
Linux-4.4.0-97-generic-x86_64-with-debian-stretch-sid
Python 3.6.2 |Co

[2017-11-16 16:45] rdturnermtl commented on #10139
Well QuantileTransformer is a nonlinear preprocessor while RobustScaler is still just a linear transform so I think they are really different things.

[2017-11-16 17:33] glemaitre commented on #10128
Ok @jdoepfert you can refer to http://www.jmlr.org/papers/volume1/tipping01a/tipping01a.pdf
Coefficient which tend to zero will imply a `lambda_` which will go to infinity (in theory so it will be large value) and real sparsity can be imposed by thresholding `lambda_` and the affecting `coef_` to zero. So at least this part of the implementation is correct :)

So as you mentioned, it is clear that

[2017-11-16 17:37] enderandpeter commented on #6082
I ended up running into this same issue with the PyCharm IDE. It would appear that the program gets confused if you give your script the same name as a package you are importing.

[2017-11-16 17:57] chrisfilo commented on #8215
Ownership transferred. Remember: With great power comes... ability to mess up a lot of packages ;)

[2017-11-16 18:25] glemaitre commented on #10128
Oh my bad, alpha should actually be 1 / sigma. :D                                                                                                                                                                                   ‎

[2017-11-16 18:47] datamove commented on #9923
Parameter cv of GridSearchCV takes an object, not the split() method output. GridSearchCV calls split() when necessary. This means you should replace in your code:

`my_cv = TimeSeriesSplit(n_splits=2).split(X)`

with

`my_cv = TimeSeriesSplit(n_splits=2)`

and it will work as expected.

[2017-11-16 19:23] jdoepfert commented on #10128
Thx for the reference. Yea, I think `alpha_` corresponds to beta =1/sigma^2 in the paper, i.e. the precision of the noise, which is a bit confusing. On the other hand `lambda_`  corresponds to alpha, i.e. the precision of the coefficients/weights. Luckily, `gamma_` corresponds to gamma in the paper :)

[2017-11-16 20:07] yoelk commented on #10152
Thanks for the answer.
However, I don't see the solution here.
According to the paragraph you quoted, I cannot extend FeatureUnion using an extension class, and at the same time I cannot use PipeLines for multiple feature extractors of non-equal sample size. So it does seem that sklearn has a limitation here (of both functionality and software design) which does not allow to implement this.

Looki

[2017-11-16 20:47] jnothman commented on #9923
Yes, that would've been good to mention too :)

[2017-11-16 21:29] amueller commented on #10152
How about not using a cython extension class as estimator? Why do you want to do that? What benefit does it provide?

[2017-11-16 21:36] jnothman commented on #10154
Indeed this is not a very kind split. You'd expect [10, 10, 10]. The current implementation harks back to #2372. I don't understand why we could not just do a stable sort back then. Sigh.

[2017-11-16 21:37] jnothman commented on #10139
They are, but you get more control of the output distribution while
minimising the impact of outliers in the input.

On 17 November 2017 at 03:45, rdturnermtl <notifications@github.com> wrote:

[2017-11-16 21:45] freud14 opened #10156 "Misleading documentation: utils.resample and utils.shuffle do not return views."
#### Description

As mentioned in https://github.com/scikit-learn/scikit-learn/issues/7754, utils.resample and utils.shuffle produce copies of the input, not views, whereas the doc says that they produce views:
* http://scikit-learn.org/stable/modules/generated/sklearn.utils.resample.html#sklearn.utils.resample
* http://scikit-learn.org/stable/modules/generated/sklearn.utils.shuffle.html#sklearn.u

[2017-11-16 21:52] zeis opened #10157 "Log_loss Inconsistent Output"
Why is the output of the log_loss function inconsistent?

[code]

Result:
3.295836866
0.0
0.69314718056
0.69314718056

[2017-11-16 22:13] amueller commented on #10157
Is your intent to use a multi-label log-loss on a single data point? I guess it should still be consistent, so that's kind of bad news. I'm not sure if the formula you give is what is used in the multi-label case.

[2017-11-16 22:18] amueller commented on #10157
I don't understand the renormalization step here: https://github.com/scikit-learn/scikit-learn/blob/f3320a6f/sklearn/metrics/classification.py#L1693 .. that seems very odd for multi-label, right?

[2017-11-16 22:19] amueller commented on #10156
Yeah, that looks misleading. PR welcome.

[2017-11-16 22:26] amueller opened #10158 "Enable warnings on travis (and make sure they are reasonable)"
We just disabled warnings on travis in #9840.
I don't think we should do that. I've been a bit absent lately, but I think the current state of the warnings is pretty bad. Many of these seem recent changes that require cleanup.

[2017-11-16 22:32] amueller commented on #7319
done in #9840.

[2017-11-16 22:32] #7319 closed

[2017-11-17 00:22] glemaitre commented on #10152
‎> According to the paragraph you quoted, I cannot extend FeatureUnion using an extension class, and at the same time I cannot use PipeLines for multiple feature extractors of non-equal sample size. So it does seem that sklearn has a limitation here (of both functionality and software design) which does not allow to implement this.Scikit-learn estimators are not accepting X array of different sizi

[2017-11-17 07:41] lesteve commented on #10158
I think you are right. I look at the distribution of warnings removing `--disable-pytest-warnings` from setup.cfg and there you go:

[code]

The top 10 offenders:
[code]

The full thing: [warnings.txt](https://github.com/scikit-learn/scikit-learn/files/1481402/warnings.txt)

[2017-11-17 08:08] lesteve commented on #8507
Closing because I am reasonably confident this is specific to nose and we have now fully moved to pytest.

[2017-11-17 08:08] #8507 closed

[2017-11-17 08:27] yoelk commented on #10152
Indeed, are goal is to deploy our software and we want to use Cython for
that, and indeed, we use our own estimator.
Our estimator's first stage is kind of a matching between the different
samples of the different feature sources. After this matching stage, the
classification itself is straight-forward as there is a fixed number of
samples and they have their attributes. The matching stage is also

[2017-11-17 09:18] zeis commented on #10157
For the sake of the example I'm using a single datapoint here. I copied the formula from the documentation enclosed it into np.mean() to get a single number as output.

The point that I wanted to show is that while with my formula I get the same output number with both test1 and test2, that't not the case with the sklearn.metrics.log_loss function.

[2017-11-17 10:12] patrick1011 commented on #10150
Hey, I'm reading about SAG right now and think I could give this a bash.

[2017-11-17 10:40] gilliM commented on #7050
1.
`First, np.linalg.norm(w[:,j])`  cannot be zero because it's always 1!
Weights are normalized (step 1 of NIPALS)

2.

The function's arguments can be simplified :

    def vip(model):
      t = model.x_scores_
      w = model.x_weights_
      q = model.y_loadings_
      p, h = w.shape
      vips = np.zeros((p,))
      s = np.diag(t.T @ t @ q.T @ q).reshape(h, -1)
      total_s = np.sum(s)

[2017-11-17 11:17] lesteve commented on #10150
Go for it!

[2017-11-17 11:19] glemaitre commented on #10128
Ok so there also some source code which goes with the paper: http://www.miketipping.com/downloads/SB1_110.tar.gz

So in the current code, the only thing missing is to update `coef_` and `sigma_` once that the for loop is finished.

So I would probably move the estimate of coef_ and lambda_ into a function and call it in the for loop and once after the for.

I also so that we have a different crite

[2017-11-17 13:15] glemaitre commented on #10152
funcsigs is just vendor avoiding to have the dependency installed. If any changes need to be done, IMO it should be done upstream: https://github.com/aliles/funcsigs

[2017-11-17 13:43] kameranis commented on #7755
Made a PR #10163

[2017-11-17 14:30] lesteve commented on #10152
AFAIK funcsigs is not very active, the last commit is about 4 year old. @yoelk what about using Python 3?

[2017-11-17 15:19] jdoepfert commented on #10128
@glemaitre I updated PR #10153 so that `sigma_` and `coef_` are now updated after the final iteration, using the updated parameters. Is the regression test I put there OK in this form?

For now, I left the stopping criterion as it is, since I did not find an explicit recommendation in the paper. I guess that topic could be a new issue.

[2017-11-17 15:27] glemaitre commented on #10128
Yep you can let the convergence on the side for the moment.

[2017-11-17 16:24] lesteve commented on #10156
Closed by #10162.

[2017-11-17 16:24] #10156 closed

[2017-11-17 18:52] FarahSaeed commented on #10157
Hi As per below line, https://github.com/scikit-learn/scikit-learn/blob/f3320a6f1ab2d060fd49c94a6e3386291a684ec7/sklearn/metrics/classification.py#L1596
the shape represents (n_samples, n_classes) or (n_samples,) in binary case. In above example, the shape is (1,3) which might be the reason for inconsistency. However, the function is working as expected in below code snippet after modifying the sh

[2017-11-17 19:47] stuz5000 opened #10164 "Document what cost function that LogisticRegression minimizes for each solver"
#### Description

Different choices of solver for LogisticRegression optimize different cost functions - its highly confusing behavior, particularly of concern if you want to publish what cost function you're using. In particular:

[code]
where:

[code]

I was a little surprised to find that the logloss is not normalized by the training set size. I think this is uncommon, and means the effective C

[2017-11-17 20:15] siftikha commented on #10044
This still of interest to you all?

[2017-11-17 21:01] yoelk commented on #10152
This is probably what we're gonna do for the long term. Unless there's something we're missing.
@lesteve Thanks for for noticing that the funcsigs project will probably be unresponsive

[2017-11-17 21:21] amueller commented on #10157
@FarahSaeed I think the bug is in the multi-label version (which is a supported use-case)

[2017-11-17 21:21] amueller commented on #10044
for sure! Maybe talk to @thechargedneutron to see if they came up with something.

[2017-11-17 21:23] amueller commented on #10152
Sorry I don't understand that. What does deployment have to do with Cython?

[2017-11-17 21:25] thechargedneutron commented on #10044
I am a bit busy with my semester end examinations. Not any significant progress on this issue. Will be free after 21st. @siftikha may work on it if possible before 21.

[2017-11-17 21:27] amueller commented on #10164
PR welcome!
Yes, this is very confusing indeed. I think having a section in the user guide committed to it would help. The not scaling the regularization is basically for consistency with linearSVC (which is also implemented in liblinear). But it's also the parametrization that "makes sense" IIRC. That means that this is the parametrization that is least dependent on the number of samples. We did

[2017-11-17 22:04] yoelk commented on #10152
@amueller I meant deploying without revealing our source code

[2017-11-18 01:34] chrish42 opened #10165 "Scikit-learn doc could give more hints of it playing well with pandas"
Hi. I've been using scikit-learn for a little while, and it was gone from not really playing well with pandas to working well (0.16.1) to very well (0.18) together. However, that's easy to miss from scikit-learn's otherwise excellent documentation. For me at least, pandas is an essential part of the python machine learning stack as soon as one is dealing with more than strictly numerical datasets.

[2017-11-18 08:07] fcharras opened #10166 "Bug / Documentation: Wrong version of transformers might be loaded from cache"
#### Description
Because of how joblib hash inputs, and how joblib is used in `Pipeline`, it might happen that if the versions from the transformers in the Pipeline have changed, the `Pipeline` will still load from cache the output of the previous versions.

#### Steps/Code to Reproduce
Here's a minimal example to explain this behavior. It follow the structure of the code in the Pipeline (see http

[2017-11-18 13:28] jnothman commented on #10158
I wonder what proportion come from common tests...

[2017-11-18 16:29] lesteve commented on #10158
A lot of warnings are indeed coming from common tests:

[code]

[code]

[2017-11-19 04:44] charlescearl opened #10169 "Multilabel DummyClassifier results are inconsistent when number of labels vary"
#### The DummyClassifier predict method gives an incorrectly formatted result for most_frequent and prior strategies when the number of labels per instance vary.

In many multiple label cases, the number of labels associated with an instance will vary. The `prior` and `most_frequent` strategies produce inconsistently formatted predictions in these cases. In the current implementation, label array

[2017-11-19 10:10] gxyd commented on #9113
@jnothman your latest comment suggest that currently no one is working on this. Can I try to implement this?

[2017-11-19 12:09] dohmatob opened #10170 "By default, RidgeCV should refit "best" estimator on full dataset"
#### Description
If I'm not mistaken, `RidgeCV` doesn't refit the 'best' estimator on the full dataset. Formally, this can lead to 'wronger' values of regression coefficients than would be obtainable by refitting the estimator on the entire dataset. Any thoughts on this and would a PR be welcome ?

[2017-11-19 14:31] nolberg commented on #8407
Hi @lesteve, I think I was able to reproduce the issue that @PengFoo describes.

[code]

I get the following warning after executing these lines:
[code]

By the way, I was using data of the [house price competition](https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data) on Kaggle.

[2017-11-19 17:39] justinrporter commented on #10079
I'm open to trying to demonstrate if this is true (or false), but I'm totally sure I know enough about Cython to do it. I tried reproducing the same issue in jupyter, but I'm not convinced that I'd actually identified the problem:

<img width="1102" alt="screen shot 2017-11-19 at 9 34 07 am" src="https://user-images.githubusercontent.com/3531723/32993468-5f570f94-cd0d-11e7-88b8-249b3a6f5915.png">

[2017-11-19 20:46] jnothman commented on #10128
@glemaitre be careful of licensing when looking at others' source code.
I've not checked...

[2017-11-20 08:22] lesteve commented on #8407
From my point of view, everything is normal. StratifiedKFold is trying to have the distribution of classes in each fold identical. The warning is telling you that you have only one sample of a particular class and that it will not be able to split it amongs 3 folds. I am going to close the issue, shout if you strongly disagree.

Thanks for the reproducing snippet by the way. Small piece of advice:

[2017-11-20 08:22] #8407 closed

[2017-11-20 08:57] yoelk commented on #10152
Well, I think it's neither strange nor inappropriate, as this is something the BSD license is in line with.
However, I understand if that's not something you want to support.

[2017-11-20 09:52] #9838 closed

[2017-11-20 10:39] qinhanmin2014 commented on #5911
Resolved in #9841
See http://scikit-learn.org/dev/support.html#documentation-resources
and http://scikit-learn.org/dev/versions.html

[2017-11-20 10:39] #5911 closed

[2017-11-20 11:42] jnothman commented on #10165
Thank you for your appreciation of our work!

I think the silence is because we mostly considered Pandas interoperability issues bug-fixes rather than roadmapped enhancements. #9151 and #9012 are seen as more specific Pandas-related features, and there are open questions about the possibility of transformers that output dataframes in the future, etc.

We rarely reject offers of improvements to the

[2017-11-20 11:46] jnothman commented on #10166
We can't fix this, really, without ill-defined changes upstream in joblib. But we can improve the documentation on Pipeline.

I'll close this issue as won't fix. But please feel free to offer a pull request updating the documentation if you feel it could be improved.

[2017-11-20 11:46] #10166 closed

[2017-11-20 11:51] jnothman commented on #10158
Okay. I've added hiding the ConvergenceWarnings there to the issue description.

[2017-11-20 11:52] qinhanmin2014 commented on #10165
Something in #9517 for your reference @chrish42 . Personally I might think that's enough but feel free to open a PR if you think there's still something to improve.
[code]

[2017-11-20 11:54] jnothman opened #10173 "Some UserWarnings should be ConvergenceWarnings"
Some warnings raised during testing show that we do not use `ConvergenceWarning` when it is appropriate in some cases. For example (from [here](https://github.com/scikit-learn/scikit-learn/issues/10158#issuecomment-345453334)):

[code]

These should be changed, at least. For bonus points, the contributor could look for other warning messages that mention "converge".

[2017-11-20 12:24] yoelk commented on #10152
Oh, I'm sorry. I see this wasn't clear from my explanation.
I'm not cythonizing any public library (including sklearn). I'm only cythonizing my own code, which calls public libraries.

This is why a cyfunction object (stemming from my cythonized code) was passed to `_validate_transformers()` and eventually to `signature()`, which in turn raised the error as it's not ready to handle cyfunction obje

[2017-11-20 12:32] TomDLT commented on #10164
See [this example](http://scikit-learn.org/stable/auto_examples/svm/plot_svm_scale_c.html#l2-penalty-case).

Otherwise, the cost function is documented [here](http://scikit-learn.org/stable/modules/linear_model.html#logistic-regression). The liblinear intercept regularization could be more advertised though. PR welcome!

[2017-11-20 13:21] lesteve commented on #10152
I tried your repo in your original post (https://github.com/yoelk/sklearn_cython_problem). `ipython run_cython_test.py` works fine for me on Python 3. Do you have a strong reason not to use Python 3?

[2017-11-20 13:26] yoelk commented on #10152
I know, it worked for me as well (sorry for not writing it explicitly before).
I'm porting our code to python3 as we speak
As this is the solution, I'll close this issue.
I still have to check it doesn't fall elsewhere with python3.
If it does, I'll open a new issue.

Thanks a lot for the attention!

[2017-11-20 13:26] #10152 closed

[2017-11-20 15:18] ktran9891 commented on #4757
+1

I'd love to use whatever you folks come up with here. It looks like [something](https://github.com/scikit-learn/scikit-learn/pull/6598) was in the works before; is that still alive?

[2017-11-20 18:45] dmarx commented on #6630
Bumping this. The Lasso authors recommend using the 1se estimator over the minimum CV estimate as a rule of thumb (it's the default returned value for `glmnet::cv.glmnet`), was surprised to see it's not readily available in the scikit implementation. Also see section 6 here: https://www.jstatsoft.org/article/view/v033i01

[2017-11-20 19:23] patrick1011 commented on #10173
Could I give this a go?

[2017-11-20 19:34] amueller commented on #10173
@patrick1011 please go ahead!

[2017-11-20 19:57] amueller commented on #4757
@jnothman I'm curious about the text-book reference. In a statistics book? Pretty sure not in an ML book (unless it was inspired by scikit-learn lol).
Can you provide the argument about the unrealistic estimate of error? Should it be in the docs (probably yes ;)

[2017-11-20 20:24] amueller commented on #10164
Thanks for pulling out the example. The thing that the docs don't mention is the difference in penalizing the intercept, right? Otherwise they seem pretty complete.

[2017-11-20 21:31] amueller opened #10175 "Add common tests for consistent decision_function behavior in binary case"
I think there is no common test right now to check that the ``decision_function`` behavior is consistent across all estimators. We check that it is consistent with ``predict_proba`` and ``predict`` if the classes are ``[0, 1]``, but I don't think there is a test for ``[-1, 1]`` or arbitrary strings. I vaguely recall hard-coded cases for this, so I think adding a test would be really good.

[2017-11-20 22:18] jnothman commented on #9113
I don't mind if you try, but now that you're up to your knees in #10083, it might be better to focus on that.

[2017-11-20 22:24] jnothman commented on #10170
You're mistaken, I'm pretty sure. In the cv is not None case, it certainly uses the GridSearchCV refit mechanism. In the cv is None case it uses the dual coefficients to account for the whole dataset while maximizing a leave-one-out cv objective

[2017-11-20 22:24] #10170 closed

[2017-11-20 22:26] TaihuaLi opened #10176 "Joblib Section for Developer's Guide"
#### Description

[Multi-core Parallelism Using joblib.Parallel](http://scikit-learn.org/stable/developers/performance.html#multi-core-parallelism-using-joblib-parallel)

Does this part need contributors? If so, I can start writing examples.

[2017-11-20 22:36] jnothman commented on #10079
yeah that's only a matter of how the ipython %%cython magic works...

It might merely be my lack of imagination, but I can't see why you would
benefit from an estimator with slots, or from one entirely written in
Cython (rather than helpers and data structures in Cython as we do here
frequently).

[2017-11-20 23:02] PGryllos commented on #8614
@amueller @jnothman I have come to understand that a calibrated decision threshold / cut-off using the methods mentioned above (having tried the first two) is not guaranteed to yield optimal classification accuracy. http://optimalprediction.com/files/pdf/V3A29.pdf

I am fairly new to medical literature but I understand that our point here is not to improve the classification accuracy but to provid

[2017-11-20 23:38] justinrporter commented on #10079
Honestly, I suspect you're probably right, at least for what I was trying to do. In our case, the memory overhead of the python object itself is trivial compared to the overhead of the matrix holding the model parameters (Markov state models). We had a particular case where we were making a tons (thousands) of very small (tens of parameters) models and sending them around with `pickle`/`multiproce

[2017-11-21 01:26] chrish42 commented on #10165
@jnothman "we mostly considered Pandas interoperability issues bug-fixes rather than roadmapped enhancements" is nice to hear, but the downside is that, for people who are not close to the project, it can be easy to miss that it went from "not really working with pandas" to "working well". Here's that I would have in mind, for doc changes:

- [ ] Tweak doc for Pipeline to make it clearer that, for

[2017-11-21 01:32] lrivera27 commented on #10107
Hey, are you still working on this? I'm interested in it.

[2017-11-21 02:56] amueller commented on #10165
We need to be careful what we say, though. Because we disregard column names, which has created bugs for people in the past. So "works well with pandas" is not really true.

The pipeline docs and model selection docs actually say:
[code]
We can expand that that includes numpy arrays, sparse matrices, lists and pandas arrays. But that is a very different input requirement than anywhere else, and we

[2017-11-21 02:59] amueller commented on #10165
Hm there is a subtle distinction in how the model selection classes support pandas vs how all the other estimators support pandas, and that's not entirely clear from your characterization. The model selection classes "hand down" pandas objects while ignoring the pandas semantics, while all other estimators just convert to numpy arrays.
(this subtle distinction is probably also not documented well

[2017-11-21 03:10] amueller opened #10177 "Allow string data in Imputer?"
Going through sklearn-pandas I saw there is a CategoricalImputer:
https://github.com/scikit-learn-contrib/sklearn-pandas/blob/master/sklearn_pandas/categorical_imputer.py

This is just "most_frequent" with strings. It looks to me like there is no reason why this wouldn't work with our code, except that we prohibit it. Should we allow it?
Arguably an sklearn user should call CategoricalEncoder on i

[2017-11-21 03:20] amueller commented on #10079
I don't imagine using ``__slots__`` would help, but you could just redefine ``__setstate__`` on your estimator and test it out ;)

[2017-11-21 03:25] amueller commented on #8614
The paper you're citing seems a marketing paper. I've never heard of ESS or UniODA. There are certainly several different sensible criteria. Why you'd exactly want the smallest distance to the top right in the roc curve is certainly debatable, but also a somewhat reasonable choice imho. And yes, we probably don't want accuracy, which is likely what the estimator is maximizing anyway.

[2017-11-21 03:48] amueller commented on #10176
What's wrong with the joblib docs? https://pythonhosted.org/joblib/ Did you mean scikit-learn specific examples? Can you elaborate?

[2017-11-21 04:05] TaihuaLi commented on #10176
@amueller It's not wrong. Here is the information displayed on the webpage:

Multi-core parallelism using joblib.Parallel

TODO: give a simple teaser example here.

...

I've used joblib before and just thought I could probably help here.

[2017-11-21 06:10] jnothman commented on #6630
feel free to make a PR

[2017-11-21 06:19] jnothman commented on #4757
You don't think stratified K fold for classification is in textbooks?

I think the argument about the over-optimistic estimate is that sampling at random should approximate the natural variation in a sample of the sought size. Stratification only affects the distribution of infrequent classes in a big way, and reduces the uncertainty in them by forcing the training and test distributions to be mat

[2017-11-21 06:32] ahbon123 opened #10180 "ImportError: cannot import name 'logsumexp'"
Hello there,
When i run `from sklearn.linear_model import Ridge, RidgeCV, ElasticNet, ElasticNetCV, Lasso, LassoCV, LassoLars, LassoLarsCV, RandomizedLasso`, it reports following errors:
_from sklearn.linear_model import Ridge, RidgeCV, ElasticNet, ElasticNetCV, Lasso, LassoCV, LassoLars, LassoLarsCV, RandomizedLasso
Traceback (most recent call last):

  File "<ipython-input-4-6fa42e3ac493>", line

[2017-11-21 08:08] jnothman commented on #10107
#10110 looks like it is in progress

[2017-11-21 08:17] jnothman commented on #10177
I'm weakly against. There is enough  under-used complication in Imputer,
and it means we need to consider the functionality in other discrete
imputation strategies... Keep it numeric for now.

[2017-11-21 08:23] qinhanmin2014 commented on #10074
ping @jnothman @lesteve
Surprising that cron job suddenly passes today. See [log](https://travis-ci.org/scikit-learn/scikit-learn/builds/305150300). Closing this though I can't figure out the reason.

[2017-11-21 08:23] #10074 closed

[2017-11-21 08:28] qinhanmin2014 commented on #8959
I suppose this one should also be closed since cron job passes today.

[2017-11-21 08:31] lesteve commented on #10074
Good, I don't really understand either. FWIW all the tests were passing on my machine when I tried to reproduce. Anyway let's assume it is fixed until it fails again ...

Side-comment, something to bear in mind AFAIK is that the numpy dev wheel is published by a Cron daily job which means that the numpy dev wheel is lagging behind numpy master a bit.

[2017-11-21 08:40] jnothman commented on #10176
if you offer a PR improving the docs, we're likely to merge it!

[2017-11-21 08:51] jnothman commented on #10180
make sure you uninstall completely such that the directory in site-packages
no longer exists. then install.

I'm closing as this is not an issue with the software.

[2017-11-21 08:51] #10180 closed

[2017-11-21 09:05] jnothman commented on #8959
yay!

[2017-11-21 09:07] #9654 closed

[2017-11-21 09:24] rth commented on #9485
On Travis CI I imagine this could be done with a [cron job](https://docs.travis-ci.com/user/cron-jobs/) on the scikit-learn repo. However,
 * the only way to know it's a cron job is via the `TRAVIS_EVENT_TYPE` env variable. And so if we build wheels depending on this variable, it means that this would interfere with the existing cron jobs cf https://github.com/scikit-learn/scikit-learn/issues/1007

[2017-11-21 09:29] lesteve commented on #8959
Thanks for keeping track of this. I am going to reopen this one, because we are still skipping the doctests of the `doc` folder (aka `make test-doc`) at the moment.

I think we are just waiting for https://github.com/numpy/numpy/issues/10059 and then we can enable `make test-doc` for the numpy-dev build.

[2017-11-21 14:15] amueller opened #10181 "add get_feature_names to CategoricalEncoder"
We should add a ``get_feature_names`` to the new CategoricalEncoder, as discussed [here](https://github.com/scikit-learn/scikit-learn/pull/9151#issuecomment-345830056). I think it would be good to be consistent with the PolynomialFeature which allows passing in original feature names to map them to new feature names. Also see #6425.

[2017-11-21 14:49] Nirvan101 commented on #10181
I'd like to try this one.

[2017-11-21 17:12] lesteve commented on #9485
I don't know all the details but we should certainly do it as part as the MacPython repo. AFAIK this is what numpy and scipy does and we are already using the MacPython repo for our release wheel. Maybe this is as simple as having the necessary rights, going to https://travis-ci.org/MacPython/numpy-wheels/settings and enabling a Travis cron job to run daily on the master branch?

[2017-11-21 17:20] lesteve commented on #9485
Quickly browsing at https://github.com/MacPython/numpy-wheels/blob/master/.travis.yml it looks like there is a bit of logic in the .travis.yml (search DAILY_COMMIT) to upload the dev wheels to a different Rackspace container.

[2017-11-21 17:26] lesteve commented on #10176
Note that this is the part of the developers guide. Unless you are already familiar with joblib maybe this is not the best place to look at if you want to start contributing.
Please have a look at our [contribution guidelines](https://github.com/scikit-learn/scikit-learn/blob/master/CONTRIBUTING.md) and in particular the [new contributor tips](https://github.com/scikit-learn/scikit-learn/blob/mast

[2017-11-21 17:49] Fenil3510 commented on #10107
@lrivera27 yea I'm working on this

[2017-11-21 19:52] amueller commented on #10181
If you haven't contributed before, I suggest you try an issue labeled "good first issue". Though this one isn't too hard, eigher.

[2017-11-21 20:39] MarkIwanchyshyn opened #10183 "AgglomerativeClustering Documentation of children_ has wrong size"
#### Description
Documentation puts:
children_ : array-like, shape (n_nodes-1, 2)
but it's supposed to be:
children_ : array-like, shape (n_samples-1, 2)

The rest of the documentation is correct, but this one line makes it seem as if each element of children_ corresponds to a node, when it only refers to the merging of nodes.
Also for a full tree n_nodes  = 2*(n_samples-1) -1  so the documentatio

[2017-11-21 21:13] jnothman commented on #10183
Thanks for the clear description. PR welcome

[2017-11-21 21:45] annu025 commented on #10183
Can I take this up @jnothman ?
This is going to be my first ever open-source contribution.

[2017-11-21 21:52] MarkIwanchyshyn commented on #10183
My bad, just did it now

[2017-11-21 22:31] amueller commented on #10183
Looks to me like the docstring is correct. Can you please provide a short code example to reproduce?

[2017-11-21 22:52] shikhanshu opened #10185 "Can precomputed metric for DBSCAN only be a sparse matrix?"
In file `sklearn/cluster/dbscan_.py`:

`if metric == 'precomputed' and sparse.issparse(X):`

In the `else` clause it goes on to do NearestNeighbors.

I am using `cosine_distances`  on a CountVectorizer-ed list of texts. This is not a sparse matrix and I am getting strange results from DBSCAN. Am I missing something simple? Or is DBSCAN really not using my precomputed distance matrix (since it is n

[2017-11-22 00:31] jnothman commented on #10185
NearestNeighbors handles the precomputed dense case, so this logic seems
correct to me.

In what way are your results strange? Although that's really a question to
be handled on StackOverflow until you have a reproducible bug.

[2017-11-22 03:03] chrish42 commented on #10165
@amueller, well, I've done a bit of digging before coming here. My intention is that all the model selection classes & functions that use `indexable` and `safe_indexing` would be documented explicitly as working with pandas DataFrames (and the other things that these support). The Pipeline class would be documented working with anything that its pipeline steps will accept. And the doc the actualy

[2017-11-22 03:12] shikhanshu commented on #10185
Sure, I will post this on SO, but mentioning it here too in case you have some insight. The 'strange' behavior can be described by an example.

DBSCAN setting: eps=0.4, min_samples=1

Case 1: I have exactly two strings as my X. I do CountVectorizer on them and then compute cosine_distances of the counts. I then pass the distance matrix to DBSCAN. I observe that the cosine_distance between the two

[2017-11-22 03:38] jnothman commented on #10165
I think the problem with the current documentation may be that it is hidden
in nooks and crannies. A dedicated interoperability section in the user
guide discussing pandas and perhaps dask would be a great idea, IMO.

[2017-11-22 03:41] jnothman commented on #10185
I think you have not understood dbscan. If there is another sample in the
eps radius of those points that bridges them, they will be clustered
together (although a higher min_samples may also change that)

[2017-11-22 03:41] #10185 closed

[2017-11-22 03:48] qinhanmin2014 commented on #10183
Resolved in #10184
@MarkIwanchyshyn Thanks for your contribution :) Next time please remember to use "Fix #issueNumber" in your PR description so that the issue can be automatically closed. See [this](https://github.com/blog/1506-closing-issues-via-pull-requests).

[2017-11-22 03:48] #10183 closed

[2017-11-22 04:17] aby0 commented on #10107
Hi, Sorry for the late reply, I was caught up in something else, you can
work on it. Thanks

On Tue, Nov 21, 2017 at 7:03 AM, Luis Rivera <notifications@github.com>
wrote:

[2017-11-22 04:44] #9842 closed

[2017-11-22 05:03] jnothman commented on #8225
Closing this as a docset for scikit-learn exists.

[2017-11-22 05:03] #8225 closed

[2017-11-22 05:20] Nirvan101 commented on #10181
I think I can handle it.
So we want something like this right?

    enc.fit([['male',0], ['female', 1]])
    enc.get_feature_names()

Can you please give an example of how original feature names can map to new feature names? I have seen the `get_feature_names()` from PolynomialFeatures, but I don't understand what that means in this case.

[2017-11-22 06:59] jnothman commented on #10181
I think the idea is that if you have multiple input features containing the
value "hello" they need to be distinguished in the feature names listed for
output. so you prefix the value with the input feature name, defaulting to
x1 etc as in polynomial. clearer?

[2017-11-22 09:11] twolodzko commented on #8614
Guys, if I may, first of all it would be great if there were a non-fixed cutoff value for `predict` methods, since 0.5 *is* arbitrary and in many cases simply wrong (you can actually see people saying "don't use it, use `predict_proba` instead"). So when classifier has `predict_proba` function, then the `predict` function should have also the `cutoff` argument (by default equal to 0.5 for backward

[2017-11-22 09:24] agramfort commented on #6630
@dmarx indeed PR welcome

[2017-11-22 09:31] #10128 closed

[2017-11-22 10:24] lesteve commented on #10176
Me neither ... there are plenty of better identified issues that I think are more important than this one so I would be enclined to close this one. Arguably any improvements like this could go to the joblib doc.

[2017-11-22 10:41] Nirvan101 commented on #10181
@jnothman Is this what you mean?

    enc.fit(  [ [ 'male' ,    0,  1],
                 [ 'female' ,  1 , 0]  ] )

    enc.get_feature_names(['one','two','three'])

And in case I don't pass any strings, it should just use `x0` , `x1` so on right?

[2017-11-22 11:36] PGryllos commented on #8614
@twolodzko thnx a lot for the input.

I believe (at least by looking at linear classifiers in scikit) predict does not use a cut-off. It's picking the class with the higher probability. Of course the class with the higher probability will have a probability higher than 0.5 in the case of binary classification.

I cannot look at the links now (though I will later) but from the literature it seems t

[2017-11-22 12:19] twolodzko commented on #8614
@PGryllos

But in binary case this is exactly equivalent of using 0.5 cutoff...

Say that you have a daughter, who went to a doctor and got tested for some disease. The test says that there is 51% chance she is healthy and 49% chance she is sick. If she is sick and she undergoes the treatment that has no side effects, she will be well, otherwise she dies. Would you stick to the choice that greater

[2017-11-22 12:54] PGryllos commented on #8614
I am not sure if there are classifiers that produce un-thresholded scores instead of probabilities in which case I am not sure if the you can say that the decision threshold is 0.5.

For the second part of the comment, it seems to me that the same can be achieved by allowing the user to decide which of the two metrics to optimise with what minimum value of the other. The third point described in t

[2017-11-22 12:56] renewang commented on #9691
Hi! Is still anyone working on this issue? I'm interested in understanding tSNE. Is possible for me to work on this issue?

[2017-11-22 15:06] MarkIwanchyshyn commented on #10183
Thanks, will do

[2017-11-22 15:22] amueller commented on #9691
@renewang this might be a bit hairy for a first contribution (sorry if I'm mistaken and it's not your first). I would start with something that's tagged "good first issue" or "easy".

[2017-11-22 19:56] amueller commented on #8288
@arthurmensch do you have any motivation to work on this? Shouldn't be too hard to expose, right?

For anyone else who wants to work on this: it's already implemented in SAGA, it's just not exposed in LogisticRegression....

[2017-11-22 20:14] jorisvandenbossche opened #10189 "Test on older python 3 versions"
Currently the docs say scikit-learn supports "Python (>= 2.7 or >= 3.3)",  but currenlty travis only has python 2.7 / 3.6 builds.
And apparently it is possible to write code that works on both python 2.7 / 3.6, but not on 3.5 (https://github.com/scikit-learn/scikit-learn/pull/9908#issuecomment-346357425)

I personally would assume that scikit-learn tests all 'officially' supported python versions,

[2017-11-22 20:19] amueller commented on #10189
I think we kinda dropped support for 3.3. I would like to keep support for 3.4.

[2017-11-22 20:32] jnothman commented on #10181
Precisely.

[2017-11-22 20:44] jorisvandenbossche commented on #10181
I like the idea to be able to specify input feature names.

Regarding syntax of combining the two names, as prior art we have eg `DictVectorizer` that does something like `['0=female', '0=male', '1=0', '1=1']` (assuming we use 0 and 1 as the column names for arrays) or Pipelines that uses double underscores (`['0__female', '0__male', '1__0', '1__1']`). Others?
I personally like the `__` a bit more

[2017-11-22 20:46] jorisvandenbossche commented on #10181
Additional question:

- if the input is a pandas DataFrame, do we want to preserve the column names (to use instead of 0, 1, ..)?
  (ideally yes IMO, but this would require some extra code as currently it is not detected whether a DataFrame is passed or not, it is just coerced to array)

[2017-11-22 22:45] jnothman commented on #10189
Let's drop 3.3. no one uses it?

Travis should test 3.5 in PRs and latest in Cron.

[2017-11-22 22:47] jnothman commented on #10181
no, we shouldn't use column names automatically. it's hard for us to keep
them and easy for the user to pass them.

[2017-11-22 22:52] jnothman commented on #9631
I forgot to note that you can use GridSearchCV to perform cross validation on multiple pipelines, by swapping in pipeline components as searched parameters.

[2017-11-22 23:00] jorisvandenbossche commented on #10181
It's not really 'hard':

[code]

but of course it is added complexity, and more explicit support for pandas dataframes, which is not necessarily something we want to add (I just don't think 'hard' is the correct reason :-)).

But eg if you combine multiple sets of columns and transformers in a ColumnTransformer, it is not always that straightforward for the user to keep track of IMO, because you t

[2017-11-22 23:05] jnothman commented on #10181
No, then you just need get_feature_names implemented everywhere and let
Pipeline's (not yet) implementation of get_feature_names handle it for you.
(Note: There remain some problems with this design in a meta-estimator
context.) I've implemented similar within the eli5 package, but we also got
somewhat stuck when it came to making arbitrary decisions about how to make
feature names for linear tran

[2017-11-22 23:29] raamana commented on #9631
Interesting. Can you point me to an example, or make it a little more specific?

Also, that sounds like a separate issue, compared to the tests I am trying to implement.

[2017-11-22 23:42] jnothman commented on #9631
See http://scikit-learn.org/stable/auto_examples/plot_compare_reduction.html where `reduce_dim` is alternated. Also http://searchgrid.readthedocs.io which provides some syntactic sugar.

[2017-11-23 00:32] genliu777 opened #10191 "Class method should be public instead of protected if it is used directly in coding"
run the example in http://scikit-learn.org/stable/auto_examples/neighbors/plot_lof.html#sphx-glr-auto-examples-neighbors-plot-lof-py.

although it works,  the code  `Z = clf._decision_function(np.c_[xx.ravel(), yy.ravel()])` shows "Access ot a protected member _decision_function of a class...". something i think it is strange.

even not like c++ in objected-oriented program, i think in python if a

[2017-11-23 01:25] jnothman commented on #10191
I agree and commented in #9015 which hopes to fix a few API issues in
outlier detection.

[2017-11-23 10:52] lesteve commented on #10189
I am fine with this, i.e. Python 3.5 in PRs, Python lastest (with I assume means 3.6, i.e. latest released version) in Cron for the nightly-dev. If we care about Python 3.4 but not enough to have an additional build on PRs, one possible solution is to add a cron job for Python 3.4.

[2017-11-23 12:04] #10150 closed

[2017-11-23 12:56] lesteve commented on #10189
Note that we have a conda Python 2 build at the moment which I don't think has any use since the numpy, scipy, etc... versions match the ubuntu build. I would be in favor of using Python 3.5 in this build and using dependencies in between our minimal dependencies and the latest version of our dependencies.

[2017-11-23 12:58] lesteve commented on #10189
I opened #10193 to do what I just said.

[2017-11-23 13:55] lesteve commented on #10189
And I opened #10194 to add a Python 3.4 Cron job.

[2017-11-23 15:15] renewang commented on #9691
Thanks for reply! But the truth is I'm going to debug through tSNE code anyway. And @thechargedneutron  already has some prior study on this issue. So I think it would be good for me to study tSNE code while solving a relevant bug under guidance from scikit-learn experts. How do you think?

[2017-11-23 19:51] hmcezar opened #10196 "Bug in manifold.MDS (sklearn 0.19.1): wrong stress convergence and useless random seed"
I've upgraded my Anaconda Python to the latest version, and found that a script I was using (https://github.com/hmcezar/clustering-traj) started to have a strange behaviour in the multidimensional scaling part.
In this latest version of Anaconda, sklearn is in version 0.19.1

First it wasn't deterministic, meaning random_state was being ignored.
More importantly, the scaling was horrible, clusters

[2017-11-23 21:25] lesteve commented on #10196
This would help a lot if you coul provide a stand-alone snippet to reproduce the problem. For more details, read https://stackoverflow.com/help/mcve.

[2017-11-23 21:45] jnothman commented on #9726
MICE is not far away at all. `sklearn.impute` would be useful, but importing it would conceivably import `neighbors`, `linear_model`, `ensemble` and `tree` if we had implementations of MICE, KNN and forest-based imputation there. We have decidedly scattered anomaly detection around the place. I am uncomfortable about putting MICE and KNNImputer in preprocessing, but I'm not *entirely* certain that

[2017-11-24 12:04] janvanrijn opened #10197 "Staged_predict in Pipeline objects"
Ensemble methods such as GradientBoosting, AdaBoost and RandomForest feature a staged_predict function, which makes it convenient to conduct experiments in that generate 'learning curves' with an increasing number of estimators.

However, often it is desirable (or mandatory) to perform certain pre-processing steps, i.e., impute missing data or scale the data to unit vector. This requires the use o

[2017-11-24 14:36] hmcezar commented on #10196
Ok, so I started digging deeper into the problem, and found that the problem happens only with sklearn version >= 0.19 AND when importing the library "pybel" (from the openbabel package).
So it appears to be a conflict between **pybel** and the newer versions of scikit-learn.

This is my current Anaconda:
[code]
These are the versions that work together:
[code]
And these are the ones that don't wo

[2017-11-24 15:09] lesteve commented on #10196
Hmmm I find this a bit hard to believe. Have you tried to reproduce in a fresh separate conda environment?

I found that openbabel can be installed from conda via `conda install -c openbabel openbabel` (no idea whether it is an official conda channel or how well this channel is supported). With this I could execute your script with the `import pybel` and scikit-learn 0.19.2 and it worked, i.e. it

[2017-11-24 15:17] hmcezar commented on #10196
Now I'm confused..
Yes, I've installed openbabel via the channel you mentioned and I'm using different environments.

My packages have the versions in the different environments:
[code]

All the other packages are updated to the latest version with "conda update anaconda".

[2017-11-24 15:52] gxyd commented on #10158
@lesteve I can see that the file you mention [here](https://github.com/scikit-learn/scikit-learn/files/1481402/warnings.txt) has warnings of three types: `UserWarning`, `RuntimeWarning`, `DeprecationWarning`, also contains some `ConvergenceWarning` though.

Do we need to modify all these three warnings to `ConvergenceWarning`?

[2017-11-24 15:57] jorisvandenbossche commented on #4920
I suppose this can be closed with the merge of the `CategoricalEncoder` PR (https://github.com/scikit-learn/scikit-learn/pull/9151) ?

[2017-11-24 15:58] jorisvandenbossche commented on #3956
This can be closed now since the `CategoricalEncoder` PR is merged (https://github.com/scikit-learn/scikit-learn/pull/9151).

[2017-11-24 16:03] lesteve commented on #10196
The output from one of your earlier message seems to indicate that you have installed openbabel through pip (and not conda as you seem to believe):
[code]

Your problem does not seem to be due to scikit-learn since according to your description you don't have it when commenting out the `import pybel` line. I am going to close this issue, hopefully you don't mind too much. Please do add more inform

[2017-11-24 16:03] #10196 closed

[2017-11-24 16:06] qinhanmin2014 commented on #4920
Resolved in #9151.

[2017-11-24 16:06] #4920 closed

[2017-11-24 16:06] qinhanmin2014 commented on #3956
Resolved in #9151.

[2017-11-24 16:06] #3956 closed

[2017-11-24 16:14] jorisvandenbossche commented on #8136
This can possibly be closed now `CategoricalEncoder` (#9151) is merged. It supports handling of unseen categories by ignoring them instead of giving an error. It however does not support updating the categories in a kind of partial_fit manner as was mentioned by the OP.

[2017-11-24 16:26] lesteve commented on #10158
IMO the main priority is to figure out where the 3000+ warnings from test_common.py are coming from, and to silence them if we think it is fine to silence them. One example that jumps to mind: we may fit on some small data in test_common.py so that ignoring ConvergeWarning may be fine.

[2017-11-24 16:29] jorisvandenbossche commented on #7493
@jste FYI, a `CategoricalEncoder` that can handle strings has just been merged: https://github.com/scikit-learn/scikit-learn/pull/9151

[2017-11-24 17:08] jorisvandenbossche commented on #7432
I was planning to tackle this now `CategoricalEncoder` is merged, both for performance reasons as to remove the limitation that passed categories need to be sorted (currenlty `LabelEncoder` is based on np.searchsorted, so only works for sorted categories).

Implementation wise, the different possibilities (current np.searchsorted vs dict) have its own trade-offs (I looked at this some time ago, he

[2017-11-24 18:28] hmcezar commented on #10196
You are right, since I work in more than one computer, I think I've installed openbabel through pip in this one.
After removing it with `pip uninstall openbabel` and installing it with `conda install -c openbabel openbabel` I was able to run my snippet without a problem.

I think there's something going on with the pip version of openbabel though.

Anyways, sorry for opening the issue and thank yo

[2017-11-24 18:51] thechargedneutron commented on #9691
From what I investigated, I think we need to use `np.argpartition` in csr_matrix. But the problem is that csr_matrix is just a vector and hence raises an error when axis=1. Is there a function analogous to `np.argpartition` in scipy?

[2017-11-25 03:24] qinhanmin2014 commented on #9204
resolved in 0.19.1, see https://pypi.python.org/pypi/scikit-learn/0.19.1

[2017-11-25 03:24] #9204 closed

[2017-11-25 03:45] qinhanmin2014 commented on #8136
Closing since after CategoricalEncoder, I suppose we are not going to do such things in LabelEncoder. Also, it seems that we are not persuaded to update the categories (See #3599).

[2017-11-25 03:45] #8136 closed

[2017-11-25 09:53] banianzr opened #10199 "Documentation/method error: BallTree's query_radius() method return ValueError for 1D array"
#### Description

Hi,

When referencing docs: [http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.BallTree.html](url)

[code]

It is expected to return count of neighbors within a given radius, while I got an ValueError:

It seems query_radius() is designed to query a list of points so I need to replace
[code]
to
[code]

So either the method designation or document makes mistakes.

[2017-11-25 15:31] #10100 closed

[2017-11-25 18:42] AEDWIP opened #10201 "fetch_california_housing() URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:749)>"
#### Description
I am unable to use fetch_california_housing() to download sample data set. Looks like certificate may have expired?

#### Steps/Code to Reproduce
print('The scikit-learn version is {}.'.format(sklearn.__version__))
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()

#### Actual Results

[code]

[2017-11-25 20:46] agramfort commented on #10199
yes indeed it should work according to:

http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KDTree.html

maybe a common test broke the API.

[2017-11-25 21:00] Nirvan101 opened #10203 "TypeError in test_docstring_parameters.py"
#### Description

Following typeError occuring in `sklearn/tests/test_docstring_parameters.py` while running tests

    TypeError: not all arguments converted during string formatting

The line causing this is number 164:

     assert '\t' not in source, ('"%s" has tabs, please remove them ', 'or add it to theignore list' % modname)

and the function is `test_tabs()` in `sklearn/tests/test_docstri

[2017-11-26 03:37] jnothman commented on #10197
I don't have a strong opinion on this, but don't really think Pipeline should have a staged_predict method. Perhaps we could have `pipeline.make_predict_function('staged_predict')` such that the current `pipeline.transform` could be defined as `make_predict_function('transform')`, etc.

[2017-11-26 03:49] jnothman commented on #10158
We explicitly limit the number of iterations in common tests, which is why
we get the warnings there.

[2017-11-26 03:50] jnothman commented on #7432
If public API can remain identical, I'd certainly consider leaving as it is and having a pandas-based optimization when pandas is installed (a bit like using numerical optimization libraries when available).

[2017-11-26 03:55] jnothman commented on #9691
It's not that csr_matrix is just a vector, it's that it refuses to
automatically be translated to an array, and so becomes a scalar object
when wrapped by numpy.asarray.

You never *need* to use argpartition. It will be faster than sorting for
long vectors, but in a sparse matrix we never assume that any particular
row's data is extremely long, so sorting should suffice. Or you can
argpartition th

[2017-11-26 07:29] jnothman commented on #10201
Well I hope it is very temporary... Is it still an issue?

[2017-11-26 08:39] rth commented on #10203
Could you please provide some information about

as discussed in [this documentation section](http://scikit-learn.org/stable/developers/contributing.html#filing-bugs) . Thanks.

[2017-11-26 08:48] anurag03 commented on #10119
@jsoutherland I want to work on this issue.

[2017-11-26 08:50] rth commented on #10199
Maybe I'm missed something, but as far as I can tell, the [BallTree documentation](http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.BallTree.html)  for `query_radius`specifies,

you are not providing it with an array of points, but a single point (which is a 1D array), so I think the result is expected.

[2017-11-26 09:32] jnothman commented on #10199
The documentation is out of date. Between versions 0.17 and 0.19 passing 1d
data where 2d was generally the unambiguous case was deprecated, and it
raised an error as of 5c4b1bb23. Unfortunately it seems this documentation
was left behind. PR welcome.

[2017-11-26 09:33] jnothman commented on #10203
Is this happening at master, or in your branch? I doubt it is happening at master.

[2017-11-26 12:01] gxyd commented on #6433
I want to try to fix this issue, but there is already a PR open which has been inactive. What should I do?

[2017-11-26 12:43] jnothman commented on #6433
I think @yenchenlin is fine with his work being continued by someone else.
You can either start from scratch, or checkout Yen's branch and commit on
top of it. Create a new PR and say "Fixes #6433, Closes #6435" in the
description.​

[2017-11-26 14:00] qinhanmin2014 commented on #10203
@Nirvan101 Closing since I don't think it's a valid issue. The test pass both in master and in your PR #10198. I believe the reason for the failure is that there is a tab character in your additions.

[2017-11-26 14:00] #10203 closed

[2017-11-26 14:37] jsoutherland commented on #10119
@anurag03 go for it - thanks!

[2017-11-26 17:51] AEDWIP commented on #10201
Hi Jnothman

I first noticed this problem on friday. I am still getting the same error

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:749)>

Kind regards

Andy

[2017-11-26 18:10] NarineK commented on #10175
Do you still need help with this issue ? May I work on it, @amueller ?

[2017-11-26 20:06] TychonautVII opened #10208 "SVM Documentation Inconsistent with Tips"
On the SVM documentation page (http://scikit-learn.org/stable/modules/svm.html)

In section 1.4.5, setting C: It says that a "If you have a lot of noisy observations you should **decrease** it. It corresponds to regularize more the estimation"

But according to the mathematical formulation of C in 1.4.7.1 it appears that **increasing** C will increase regularization, and will better handle noisy o

[2017-11-26 22:35] jnothman commented on #10201
I'm not having that problem. Are you sure you don't have your clock set
incorrectly or something?

[2017-11-26 22:43] jnothman commented on #10175
Sure you may.

[2017-11-27 00:28] AEDWIP commented on #10201
Hi Jnothman

I am using a mac book pro. It looks like the time displayed on my computer could be correct. I just ran the code again and am getting the same error

Any idea how I check if my clock is set correctly?

Andy

[2017-11-27 00:30] AEDWIP commented on #10201
I forgot to mention. I have not looked at the code but I bet if you have already downloaded the data set to your local disk it never actually fetches so maybe thats why its working for you

[2017-11-27 08:53] lesteve commented on #10201
Weird, I certainly can not reproduce, and I made sure I deleted the cal_housing data from `~/scikit_learn_data` so this does not seem to be a problem in scikit-learn. I am going to close this one, @AEDWIP please provide more information in case you manage to fix your problem.

[2017-11-27 08:53] #10201 closed

[2017-11-27 09:03] glemaitre commented on #10147
I got something similar for basic image processing included in LFW fetcher:

[code]

Do we want to keep using PIL in this case (http://pillow.readthedocs.io/en/4.3.x/reference/Image.html#PIL.Image.Image.resize)?

[2017-11-27 09:12] lesteve commented on #10208
I think the documentation is right actually, see the C = 1/alpha comment in the case of the Ridge. Googling around you will probably be able to find more detailed explanation on the impact on the C parameter, closing.

[2017-11-27 09:12] #10208 closed

[2017-11-27 09:15] jorisvandenbossche commented on #7432
@jnothman I put up a WIP PR to show the idea: https://github.com/scikit-learn/scikit-learn/pull/10209

[2017-11-27 09:58] NicolasWoloszko commented on #4497
Hi. So is there a way to take sample weights into account for cross validation and gridsearch ? Thanks in advance.

[2017-11-27 10:33] jnothman commented on #4497
for fitting, yes, for scoring no. See fit_params in cross_val_score, for
instance

[2017-11-27 15:03] Borda commented on #9943
I also notice, but not sure how to show it, that running kmeans on multi-core machine with nb_jobs=1 sometimes freeze without finishing, the CPU usage close to zeros... any suggestion?

[2017-11-27 16:49] amueller commented on #10208
The formula shows that the slack variables are weighted by C, which means increasing C decreases the regularization.

[2017-11-27 17:35] manugarri commented on #5953
http://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.tgz seems to be working now.

[2017-11-27 17:49] amueller commented on #9943
did you monitor ram?

[2017-11-27 19:49] TychonautVII commented on #10208
I agree with you two, got myself turned around a bit! Thanks for the comments

[2017-11-27 22:49] jnothman commented on #10208
If you feel like the wording could otherwise be improved, feel free to
submit another PR.

[2017-11-27 23:16] jnothman commented on #9339
Fixed in #10192, #10195

[2017-11-27 23:16] #9339 closed

[2017-11-28 01:06] qinhanmin2014 commented on #9336
Resolved in #9647. Maybe we can consider the possibility of using CategoricalEncoder instead of OneHotEncoder since there's inverse_transform there. I'll ping/open PR after further consideration.

[2017-11-28 01:06] #9336 closed

[2017-11-28 01:28] glemaitre commented on #9630
In the meantime, we made a quick (stupid) example:
https://840-36019880-gh.circle-artifacts.com/0/home/ubuntu/imbalanced-learn/doc/_build/html/auto_examples/plot_outlier_rejections.html#sphx-glr-auto-examples-plot-outlier-rejections-py

We are still working on it so any feedback is welcomed.

[2017-11-28 09:12] #10189 closed

[2017-11-28 10:03] lesteve commented on #5953
`fetch_california_housing` should be working in scikit-learn 0.19.1. We moved to hosting the data files on figshare which should me more robust that the URLs we were previously using.

[2017-11-28 12:27] #10107 closed

[2017-11-28 12:39] #10176 closed

[2017-11-28 15:37] gopi34 commented on #6082
Thank you so much, I was able to solve this issue with this precise solution after 2 hours of googling.

[2017-11-28 18:05] Borda commented on #9943
not sure what is the usage in the end, but for all the time it does not overshoot the upper limit and in the end, it seems to be low (close to 0)

[2017-11-28 18:58] GKjohns opened #10213 "Doctest failure for LinearSVC and LinearSVR"
#### Description
DocTests are failing for LinearSVC and LinearSVR. The doctest runs the estimators on data produced by `make_classification`. The coefficients are both off by a tiny margin (< .0001).

#### LinearSVC
[code]

#### LinearSVR
[code]

#### Versions
python 2.7 and 3.6
scipy 1.0.0
numpy 1.13.3

[2017-11-28 20:20] amueller commented on #10176
Should we remove the TODOs from the user guide? They seem not very helpful.

[2017-11-28 20:54] jnothman commented on #10213
interesting... what os/architecture?

[2017-11-28 20:57] amueller commented on #10213
OS X iirc

[2017-11-28 21:17] jorisvandenbossche opened #10214 "CategoricalEncoder in preprocessing or feature_extraction module?"
In the merged PR, the CategoricalEncoder was put in the `preprocessing` module. However, it might make more sense to put it in `feature_extraction` since it is dealing with extracting numerical features from categorical data (eg also `DictVectorizer` is in that module).
I think the main reason it is in `preprocessing` is because `OneHotEncoder` is historically there.

But since it's not yet releas

[2017-11-28 21:18] jorisvandenbossche commented on #10214
cc @amueller @jnothman @GaelVaroquaux

[2017-11-28 21:24] amueller commented on #10214
I think most people would expect this to be in ``preprocessing`` and not ``feature_extraction``. I have not heard anyone call one-hot-encoding feature extraction (though maybe @GaelVaroquaux does :P)

[2017-11-28 21:29] GKjohns commented on #10213
Correct, OS X Sierra 10.12.6 64 bit

[2017-11-28 22:11] jnothman commented on #10214
Feature extraction is about translating some abstract observation or object
in the real world (an image, a document, a sample) into a fixed-width
vector of features. I believe that here we are dealing with encoding
something already in a vector, and not vectorizing. But I can see why it
might be the other way, particularly since it changes something that cannot
be ingested by most scikit-learn est

[2017-11-28 22:56] jnothman opened #10215 "Potential new subpackage for pipeline and featureunion-like tools"
In #9012 and #9041 we have found that it is hard to find a good module to make ColumnTransformer and TransformedTargetRegressor home. We also have the potential to hinge the updating of Pipeline's interface as per #8350 upon the creation of a new module (deprecating sklearn.pipeline very slowly!).

Firstly, we should discuss whether this is the right thing to do. Secondly, I and others can create

[2017-11-28 22:56] jnothman commented on #10215
`sklearn.workflow`

[2017-11-28 22:56] jnothman commented on #10215
`sklearn.glue`

[2017-11-28 22:56] jnothman commented on #10215
`sklearn.scaffolding`

[2017-11-28 22:56] jnothman commented on #10215
`sklearn.compose`

[2017-11-28 22:56] jnothman commented on #10215
`sklearn.composition`

[2017-11-28 22:56] amueller commented on #10215
``sklearn.flow``

[2017-11-28 22:57] jnothman commented on #10215
my main problem with flow is the existence of tensorflow

[2017-11-28 22:58] jnothman commented on #10215
`sklearn.stack`

[2017-11-28 22:58] jnothman commented on #10215
`sklearn.connectors`

[2017-11-28 22:59] jnothman commented on #10215
`sklearn.connect`

[2017-11-28 23:03] amueller commented on #10215
Hm so I think putting pipeline and FeatureUnion in it for the deprecation is a good thing and possibly the least controversial of it. Then there is the questions of whether we want ``ColumnTransformer`` and ``TargetTransformer`` in it. If it's basically a rename of ``pipeline`` I would expect @GaelVaroquaux to argue against ``ColumnTransformer``. I think it would be good to have it there.

I guess

[2017-11-28 23:04] amueller commented on #10215
Oh and as I said in the other thread, I think a slow deprecation would be good, but I would not use 1.0 as a target.

[2017-11-28 23:06] GaelVaroquaux commented on #10215
The big question with regards to ColumnTransformer is how do we make it
natural for people who have tabular data to look there.

I think that the logic to put ColumnTransformer there is one of
developers, but not one of users.

[2017-11-29 00:02] jnothman commented on #10215
The thing about ColumnTransformer is that it doesn't do any interesting work itself. And I think users will realise that, and become familiar with the concept that they need glue to aid in feature extraction and preprocessing being differentiated by column, rather than a processor itself.

[2017-11-29 02:37] jnothman commented on #10169
You are using an incorrect and unsupported format for multiple labels. Multiple labels should be presented as a boolean array where each column corresponds to one label. See http://scikit-learn.org/stable/modules/multiclass.html#multilabel-classification-format. You can convert to the supported format with MultiLabelBinarizer.

Yes, we could perhaps benefit from a better error message here, but I

[2017-11-29 02:37] #10169 closed

[2017-11-29 09:50] jnothman opened #10216 "export_graphviz should work with a sklearn.tree._tree.Tree"
export_graphviz currently has [code that checks](https://github.com/scikit-learn/scikit-learn/blob/4bba21659c68d65b4555ea86751aac1fab9fd8e4/sklearn/tree/export.py#L461) if it's operating on a Tree instance or an estimator with a `tree_` attribute, but also [has](https://github.com/scikit-learn/scikit-learn/blob/4bba21659c68d65b4555ea86751aac1fab9fd8e4/sklearn/tree/export.py#L392) [code](https://gi

[2017-11-29 10:14] Yannic92 opened #10217 "sklearn PCA with n_components = 'mle' and svd_solver = 'full' results in math domain error"
#### Description
sklearn PCA with n_components = 'mle' and svd_solver = 'full' results in math domain error

The problem is in [this line of code](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/pca.py#L88). The result of  `(spectrum[i] - spectrum[j])` is 0 and therefore i get `log(0)` which causes this exception.
Is this a sign of bad data or should the implementati

[2017-11-29 11:10] #10011 closed

[2017-11-29 11:29] Borda opened #10218 "save/load models in py2 and py3"
I need to work on different python version of the same system and package versions

#### Description
I noticed that there is no guarantee of compatibility across sklearn version nor architecture, but it seems that there is neither compatibility across python versions
I have simple kmeans that I train and export in py2 and want to use also in py3 but it says that the model is not trained and even m

[2017-11-29 12:01] mabelvj commented on #10216
Could I try this?

[2017-11-29 12:03] mabelvj commented on #10216
Could I try this? Whenever they decide what's the best option.

[2017-11-29 13:24] rth commented on #10218
Scikit-learn follows a deprecation cycle between versions, apart from the API changes specifically mentioned in the release notes, new versions should be backward compatible. If you find some code that isn't please report in in an issue. Exact reproducibility across architectures is more challenging because of the use of C code, still, the test suite mostly passes on various architectures (see lin

[2017-11-29 13:24] #10218 closed

[2017-11-29 14:20] Borda commented on #10218
Thanks for your fast reply, I just pass throw all your references and the #10127 seems to do something similar but he wants the transfer model Linux/Windows, and the answer is that it may not work on different architectures (I saw this ticket before posting this one). I work on the same OS and computer even in the same session so the only difference is the python version.
There is the link to [Per

[2017-11-29 14:45] ADHARACSM opened #10221 "I am aware that there is a OOB score estimate you get for Random Forest Regressor. But that OOB score is the mean OOB score of all the sample points. How can I get the OOB score estimate for all sample points individually?"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2017-11-29 14:56] glemaitre commented on #10221
Check oob_prediction_.

Note that this space is an issue tracker. You are better answering those question in stackoverflow.
Also, you need to follow the template to post such issue in the future(proper title and read the issue template to fill-up the sections).

[2017-11-29 14:56] #10221 closed

[2017-11-29 15:07] rth commented on #10218
Are you referring to [this section of the joblib documentation](https://pythonhosted.org/joblib/persistence.html#compatibility-across-python-versions)? That section states,

so It doesn't look like that pickling across Python versions would work in general, sorry.

If you just need this for `KMeans` one could store the [attributes (arrays) computed by fit](https://github.com/scikit-learn/scikit-le

[2017-11-29 15:31] Borda commented on #10218
oki, the reconstruction seems to work but it not nice nor clean solution...
[code]

[2017-11-29 15:55] rth commented on #10105
@xoviat We have discussed this in more detail, it is certainly worth doing, but it is uncertain who would have enough bandwidth to make it happen. Thanks for opening this issue.

Long-term approach for this could be to migrate the explict BLAS calls to scipy Cython BLAS API which would allow removing the bundled BLAS, or the necessity to explicitly link against BLAS. This would require scipy 0.16.

[2017-11-29 16:04] xoviat commented on #10105
I will have an openblas available as soon as some PRs are merged.

[2017-11-29 16:19] rth commented on #10105
Great, thanks for looking into it! https://github.com/MacPython/scikit-learn-wheels is the place to make PRs scikit-learn wise, I think. I'm currently working on https://github.com/scikit-learn/scikit-learn/issues/9485; nightly wheels might be a good place to start testing this.

[2017-11-29 17:01] amueller commented on #10215
@GaelVaroquaux I think you should consider that people working with columnar data don't consider themselves people working on columnar data, and have probably never heard that term. Having homogeneous data is the special case for most people that I ever talk to, and people (in particular coming from R or weka) are very surprised that estimators don't handle "columnar data". I think our API choices

[2017-11-29 20:36] jnothman commented on #10216
I don't have a strong preference for either option. Neither will break
backwards compatibility and we could always add Tree support later.
currently all our ensembles are ensembles of tree classifiers/regressors, I
think, not of trees themselves. @glemaitre might have an opinion as the
incumbent tree expert.

[2017-11-29 21:13] kevin-coder opened #10224 "make latexpdf will fail with two examples"
#### Description

Enter into the doc directory and try to make and generate pdf manual file, failed.

#### Steps/Code to Reproduce

1. Update the codebase to the latest version.
2. Enter into the "doc" directory, and type the cmd: make latexpdf
3. Wait after a while, errors will appear.

#### Expected Results

PDF file should be generated, at least should not be interrupted by the exceptions.

###

[2017-11-29 21:31] rth commented on #10224
Which errors? Please provide the full log.

The Circle CI build log successfully generating a pdf on `master` can be found [here](https://circleci.com/api/v1.1/project/github/scikit-learn/scikit-learn/15216/output/10/0?file=true).

[2017-11-29 21:34] rth commented on #10224
Also please provide the versions of dependencies you installed to build the docs, including `sphinx`, `numpydoc` and `sphinx-gallery` (cf https://github.com/scikit-learn/scikit-learn/issues/10064).

[2017-11-29 21:49] kevin-coder commented on #10224
@rth , sorry for the inconvenience, I've already updated the details of the error msg, also followings are the version of the tools you mentioned above:
Sphinx version: 1.6.4
numpydoc (unknown version) from /usr/local/lib/python2.7/dist-packages/numpydoc/__init__.pyc
sphinx_gallery.gen_gallery (0.1.13)

[2017-11-29 21:52] kevin-coder commented on #10224
Full log
[sphinx-err-M9XrCr.log](https://github.com/scikit-learn/scikit-learn/files/1515681/sphinx-err-M9XrCr.log)

[2017-11-29 21:52] glemaitre commented on #10216
I would say estimator. However, I need to go trough #1046 to understand why the code is currently as it is. I keep inform soon.

[2017-11-29 21:59] glemaitre commented on #10216
`estimators_` in GradienBoosting are `DecisionTreeRegressor` and not `Tree` anymore. So IMO, there is needs to support anymore `Tree` directly. I would agree with @amueller comment mentioning that tree_.Tree is an internal thing and that we could keep the user away from it, now that this is possible.

[2017-11-29 22:31] amueller commented on #10218
yeah, but that's really a limitation of Python/pickle

[2017-11-29 22:31] rth commented on #10224
Yes, It looks like a few example indeed fail on master when using a Python 2. This should be fixed once https://github.com/scikit-learn/scikit-learn/pull/10167  is merged. At least as far as the Syntax error is concerned (cf https://github.com/scikit-learn/scikit-learn/pull/10167#discussion_r152508975), the import error might need additional investigation.

Thanks for reporting this issue.

(Also

[2017-11-29 22:38] #6183 closed

[2017-11-29 22:38] #8941 closed

[2017-11-29 22:54] jnothman commented on #10216
_tree.Tree is not quite an internal thing, IMO. It's needed in some
applications, and it's accessible through a public attribute.

Still, I'm happy to not support it here.

[2017-11-29 23:01] stroykova commented on #6967
Hello!
I had the same problem. And I found a way to do this with pipelines on a stackoverflow.

[code]

Does it solve this issue? Seems like it was developed after the issue was created.

[2017-11-29 23:02] kevin-coder commented on #10224
Thank you for detailed information!

[2017-11-29 23:14] jimmywan commented on #10068
FWIW, I tried to run a benchmark comparing a simple pipeline using scikit-learn Pipelines, scikit-learn Pipelines using memory, and dask-ml. I was unable to reliably get a benefit from using memory, and often found it slightly worse. The benchmark wasn't of my own design and was mostly just a slight repurposing of some pre-existing code, but I did expect it to be slightly faster to use cached resu

[2017-11-29 23:17] jnothman commented on #10224
The CategoricalEncoder import failure is because you're compiling docs at
master but do not have the corresponding version of scikit-learn installed
on your sys.path. pip install your scikit-learn repo clone and that error
should go away.

[2017-11-29 23:18] jnothman commented on #10224
Closing as duplicate of #9937, essentially.

[2017-11-29 23:18] #10224 closed

[2017-11-29 23:20] jnothman commented on #6967
#9012 will help this case. The hard case is where you do not have names for
your columns....

[2017-11-29 23:23] kevin-coder commented on #10224
@jnothman , sorry I am a little confused, I build the entire scikit-learn source code before and installed it, after that, I imported sklearn in Python2 interpreter and it showed the version of the scikit-learn on my system is '0.20.dev0', do you mean this is still not correct?

[2017-11-29 23:25] jnothman commented on #10068
You're only likely to get benefits on something that has a slow fit or
transform or both operations. StandardScaler is about as cheap as it gets.
Try it with a CountVectorizer.

[2017-11-29 23:35] kevin-coder commented on #10224
Then I will have a try to rebuild and install it, then to tell the results.

[2017-11-29 23:45] kevin-coder commented on #10224
Yes, resolve this issue, thanks!

[2017-11-29 23:59] ugultopu opened #10226 "Does `feature_extraction.fit_transform` return term-document matrix or document-term matrix?"
In here, it is stated that the function returns the term-document matrix:

https://github.com/scikit-learn/scikit-learn/blob/a24c8b464d094d2c468a16ea9f8bf8d42d949f84/sklearn/feature_extraction/text.py#L1366

However, in here, it is stated that the function returns the document-term matrix:

https://github.com/scikit-learn/scikit-learn/blob/a24c8b464d094d2c468a16ea9f8bf8d42d949f84/sklearn/feature_e

[2017-11-30 01:53] xoviat commented on #10105
You can prepend this to the install script:

[code]

You will also need numpy/numpy#9942 to allow numpy to detect the library location automatically.

[2017-11-30 05:17] simonsayshi opened #10227 "try to put tsne in a pipeline"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2017-11-30 05:24] jnothman commented on #10227
This is an incomplete issue statement, but I suspect you're trying to say that TSNE doesn't support `transform`. No, it doesn't. The algorithm is designed to be transductive: it only operates over the training set.

[2017-11-30 05:24] #10227 closed

[2017-11-30 05:26] jnothman commented on #10226
Document is on the first axis. Feel free to open a pull request making this
consistent.

[2017-11-30 05:46] simonsayshi opened #10228 "Creating pipeline containing t-sne"
Hi!
I'm new to sklearn and recently I'm learning how to implement sklearn on my project.  I'm trying to create a pipeline containing PCA T-SNE and SVC. but when I run
`pip = Pipeline([     ('PCA',PCA()),     ('TSNE',TSNE()),     ('SVM',SVC()) ])`

it shows
`All intermediate steps should be transformers and implement fit and transform. 'TSNE(angle=0.5, early_exaggeration=12.0, init='random', learni

[2017-11-30 05:48] jnothman commented on #10228
TSNE doesn't support `transform`. It is designed to only operate over the training set.

[2017-11-30 05:48] #10228 closed

[2017-11-30 05:48] ugultopu commented on #10226
@jnothman So, "document-term matrix", right?

[2017-11-30 05:51] jnothman commented on #10226
I suppose so.

On 30 November 2017 at 16:48, ugultopu <notifications@github.com> wrote:

[2017-11-30 05:53] simonsayshi commented on #10228
thanks for quick reply
Sorry I'm new to GitHub..... does 'closed' mean this issue is deleted?

Also, is there anyway to put t-sne to a pipeline?

[2017-11-30 05:58] jnothman commented on #10228
You can't use it in a pipeline for supervised/inductive learning.

[2017-11-30 07:43] jnothman opened #10229 "check_array(X, dtype='numeric') should fail if X has strings?"
Currently, dtype='numeric' is defined as "dtype is preserved unless array.dtype is object". This seems overly lenient and strange behaviour, as in #9342 where @qinhanmin2014 shows that `check_array(['a', 'b', 'c'], dtype='numeric')` works without error and produces an array of strings! This behaviour is not tested and it's hard to believe that it is useful and intended. Perhaps we need a deprecati

[2017-11-30 08:03] qinhanmin2014 commented on #10229
ping @jnothman

I think you mean #9835 (https://github.com/scikit-learn/scikit-learn/pull/9835#issuecomment-348069380) ?

Yes, from my perspective, if it is not intended, it seems a bug.

[2017-11-30 08:38] jnothman commented on #10229
it seems memorising four digit numbers is not my speciality

[2017-11-30 10:35] m-guggenmos opened #10230 "Scoring in GridSearchCV"
It seems that `GridSearchCV` collects the _scores_ of its (inner) cross-validation folds and then averages across the scores of all folds. I was wondering about the rationale behind this. At first glance, it would seem more flexible to instead collect the _predictions_ of its cross-validation folds and then apply the chosen scoring metric to the predictions of all folds.

The reason I stumbled upo

[2017-11-30 10:55] jnothman commented on #10230
I'd be interested to have a go answering this from my understanding, but
it's not a question for the issue tracker in any case. Ask on
Cross-validated (statistics.stackexchange.com) or quora.

[2017-11-30 10:56] #10230 closed

[2017-11-30 11:02] m-guggenmos commented on #10230
Ok, sorry!

I just posted the question on Cross-validated: https://stats.stackexchange.com/questions/316451/scikit-learn-scoring-in-gridsearchcv

[2017-11-30 11:50] Ali-ry commented on #5884
@marcelobeckmann

Hi Marcelo (or potentially others), got a quick question in regards to your implementation of gower coefficient which you have placed here: https://sourceforge.net/projects/gower-distance-4python/files/

1. Is the gower_single_function-v2.ipynb the final version and deals with NaN as well?

2. more importantly, does this implemetnation allows you to get the similarities within on

[2017-11-30 15:33] rth commented on #10217
There are known issues with `PCA` when using `n_components='mle'` see https://github.com/scikit-learn/scikit-learn/issues/4441 . A fix was proposed in https://github.com/scikit-learn/scikit-learn/pull/4827 but it's still work in progress. Though, you could try rebasing that Pull Request on top on scikit-learn master to see if it solves your issue.

If you can provide the dataset needed to reproduc

[2017-11-30 15:39] rth commented on #10217
I can reproduce this issue running your code snippet on the [test_dataset.csv](https://github.com/scikit-learn/scikit-learn/files/1518389/test_dataset.txt) you provided on the `master` branch on Linux.  Thanks for reporting it.

[2017-11-30 16:07] mattvan83 opened #10232 "Parallel computing with nested cross-validation"
Dear sklearn's experts,

Standard use of nested cross-validation within sklearn doesn't allow multi-core computing. As in the example below, njobs has to be set to 1 for inner/outer loops:

[code]
Would there be any no too difficult way to parallelize jobs in nested cross-validation, which would allow to highly reduce time-consuming computing ?

Thanks in advance !

Best,
Matthieu

[2017-11-30 18:23] m-guggenmos opened #10233 "Possible bug when combining SVC + class_weights='balanced' + LeaveOneOut"
This piece of code yields perfect classification accuracy for random data:
[code]
The problem disappears when using `class_weight=None` or another CV.

Is it a bug or am I missing something?

Tested with version 0.19.1 of scikit-learn on Ubuntu Linux.

[2017-11-30 19:37] m-guggenmos commented on #10233
Upon reflection this can probably be closed. What happens is that the classifier basically learns the class weights, when a low value of C is chosen. Through this, the classifier always predicts the class that must have been absent from the training data, essentially independent of the data of the test sample. This is also why it only 'works', when only a single class is in the test set (as in Lea

[2017-11-30 20:38] #9991 closed

[2017-11-30 21:06] agramfort commented on #10232
why do think it must be set to 1?

[2017-11-30 21:10] glemaitre commented on #10232
You can probably refer to #3754 which should be highly related to your question.

Good catch :)

[2017-11-30 21:41] jnothman commented on #10233
I haven't really understood your explanation. what would the warning say? I
wouldn't generally use LOO unless I really needed to. repeated k fold might
be a better alternative.

[2017-12-01 02:20] #10059 closed

[2017-12-01 06:25] keitakurita opened #10235 "HALS solver for NMF"
Hi,

I'm currently working on a project using NMF, and have implementing the Fast HALS solver mentioned in the papers [1] [Fast local algorithms for large scale nonnegative matrix and tensor factorizations](http://www.bsp.brain.riken.jp/publications/2009/Cichocki-Phan-IEICE_col.pdf) and [2] [The Why and How of Nonnegative Matrix Factorization](http://arxiv.org/abs/1401.5226) among others.
Accordin

[2017-12-01 08:03] marcelobeckmann commented on #5884
Hi Ali,

Thanks for your interest in this implementation of Gower distance.

While the code that I made a pull request is not approved by scikit learn commiters (CI is green and just waiting for a review), I pushed this newest and stable implementation to: https://sourceforge.net/projects/gower-distance-4python/files/gower_function-v3.ipynb/download

Let's go for your questions:

1. Do I need a Pa

[2017-12-01 08:57] PGryllos commented on #8614
__update__ I plan on making progress during the weekend; precisely I want to focus on the following 1) add the other mentioned methods for cut-off estimation
2) create examples to showcase the implementation

[2017-12-01 09:13] guidobiosca opened #10236 "solver 'lbfgs' in MLPRegressor doesn't print debug info when verbose=True"
#### Description

solver 'lbfgs' in MLPRegressor doesn't print debug info when verbose=True

#### Steps/Code to Reproduce

No verbose is printed for lbfgs.

#### Actual Results

 fitting  lbfgs
 fitting  sgd
Iteration 1, loss = 0.20245204
Iteration 2, loss = 0.19934848
Iteration 3, loss = 0.19500652
Iteration 4, loss = 0.18963213
Iteration 5, loss = 0.18342827
Iteration 6, loss = 0.17658212
Iterat

[2017-12-01 09:49] glemaitre commented on #10236
Cannot reproduce with the same package version on linux.

<details>

[code]

[2017-12-01 09:57] glemaitre commented on #10236
Cannot reproduce on my windows virtualbox as well.

[2017-12-01 10:07] guidobiosca commented on #10236
Thank glemaitre
It should be my version of Anaconda custom Python...
Python 3.6.3 |Anaconda custom (64-bit)| (default, Oct 15 2017, 03:27:45) [MSC v.1900 64 bit (AMD64)]

[2017-12-01 10:12] glemaitre commented on #10236
The same :)

[2017-12-01 11:31] MaxNoe opened #10237 "Setting random_state and np.random.seed does not ensure reproducibility"
I think it would be great and make things a lot easier, if there would be a top level API for scikit-learn

[code]

This would help a lot for reproducibility as one would not have to remember setting random states for each algorithm that is called. This has to deal with multiprocessing though I guess.

[2017-12-01 11:36] m-guggenmos commented on #10233
Possibly it is the custom scikit-learn code around `class_weight='balanced'` that causes problems. With this option, the class weights are computed anew for each cross-validation fold. Apparently, what can happen is that if a class 1 sample is left out for testing, the balance between class 1 and class -1 in training is exactly such that the sklearn-computed class weights make it more likely for t

[2017-12-01 14:39] mortehu opened #10238 "Duplicate set_parameter symbol"
The `set_parameter` symbol is defined in both in `sklearn/svm/src/liblinear/liblinear_helper.c` and `sklearn/svm/src/libsvm/libsvm_helper.c`.  Depending on how scikit-learn is built, this can lead to crashes (Segmentation fault on Linux) at runtime when the wrong function is called.

[2017-12-01 15:02] GoingMyWay opened #10239 "Support for cost-sensitive learning"
Hi, sorry, I don't know this issue is suitably posted here, in the real world classification problem, the class imbalance problem is very common. And can you provide APIs for setting cost values of misclassification in the future?

[2017-12-01 16:27] jmason86 commented on #3702
As part of the "etc" in the question, also for validation_score! This would probably just be a pass through argument to the actual model being run. In my case, sample_weight works fine for SVR but validation_score doesn't accept it even when I'm running it on SVRs varying the gamma parameter.

[2017-12-01 16:32] jmason86 opened #10240 "Return uncertainties for SVR"
I am using SVR for time-series data with input sample_weights and I would like to continue propagating those uncertainties through further manipulations of the data, so need a return from SVR (or .predict(), I suppose) of the same shape as sample_weight but that represents the uncertainty of the fitted points.

Thanks!

[2017-12-01 16:49] mortehu commented on #10238
I found out how this caused me trouble: something was calling `sys.setdlopenflags(os.RTLD_LAZY | os.RTLD_GLOBAL)`.  I don't think this should be considered bug in `scikit-learn`.

[2017-12-01 16:49] #10238 closed

[2017-12-01 17:33] rth commented on #10240
You could try to use bootstrapping with SVR to estimate the confidence interval (prediction uncertainty). See an [example here](https://stats.stackexchange.com/a/218988/141373) and [related discussion on the mailing list](https://mail.python.org/pipermail/scikit-learn/2016-September/000487.html). Also related https://github.com/scikit-learn/scikit-learn/issues/6773

Alternatively, you could switch

[2017-12-01 17:33] #10240 closed

[2017-12-01 17:49] rth commented on #10237
This was previously requested in https://github.com/scikit-learn/scikit-learn/issues/5781 and the solution (i.e. using numpy global random seed) is documented [in the FAQ](http://scikit-learn.org/stable/faq.html#how-do-i-set-a-random-state-for-an-entire-execution).

[2017-12-01 17:53] MaxNoe commented on #10237
I'm asking, because right now I have problems with reproducibility. I set the np.random.seed as well as each algorithms random state, however the results are still a bit different each time a run the scripts.

[2017-12-01 17:54] MaxNoe commented on #10237
See for example https://github.com/fact-project/classifier-tools/blob/random_seed/klaas/scripts/train_separation_model.py

[2017-12-01 18:04] rth commented on #10237
Hmm, could you please provide a minimal example together with a sample dataset, that wouldn't require installing all the imported dependencies?

[2017-12-01 18:19] jmason86 commented on #10240
Thanks for the pointers! I'm checking them out and they all look pretty helpful.

[2017-12-01 18:25] MaxNoe commented on #10237
Yes, I provided it here:

https://factdata.app.tu-dortmund.de/sklearn_example

When I run it three times, I always get slightly different roc aucs:
[code]

[2017-12-01 18:26] MaxNoe commented on #10237
[code]

[2017-12-01 18:55] MaxNoe commented on #10237
This looks like a multiprocessing issue. When I run this with `n_jobs=1` I always get the same result.

[2017-12-01 21:18] rth commented on #10237
Thanks. Could you please provide the data as well? The tu-dortmund link asks me for authentification...

[2017-12-01 21:22] MaxNoe commented on #10237
Oh, that shouldn't be. Let ne Check.

[2017-12-02 01:08] KendallPark commented on #8179
I would love to see a solution to this that doesn't involve Pickle files, which are not secure. If I wanted to load someone else's trained model, I have no idea whether the Pickle file contains malicious code or not.

[2017-12-02 10:08] thechargedneutron commented on #10217
I am willing to take up this issue if @rth and @Yannic92  are not working on it.

[2017-12-02 10:28] jnothman commented on #5884
note that I do intend to review this PR, but it is not very highest
priority atm

[2017-12-02 10:32] rth commented on #10217
Sure, fine with me, @thechargedneutron . Thanks!

It might be worth checking if https://github.com/scikit-learn/scikit-learn/pull/4827 addresses this and possibly continue that (stalled?) PR if the original author doesn't respond.

[2017-12-02 10:53] marcelobeckmann commented on #5884
Hi Ali,

1. The latest one is gower_function-v3.ipynb, and yes it deals with nan
propagation

2. You can use gower_distance(X) only, if your categorical att are not
numeric, or gower_distance(X, categorical_features=[False, True,
False,...]), if your cat attr are represented as numeric.

Let me know in private if you have any problem, because this implementation
I pushed to internet should not be

[2017-12-02 14:01] gxyd commented on #5403
@amueller as you said in [your comment](https://github.com/scikit-learn/scikit-learn/pull/5960#issuecomment-163765167), is that still valid?

Was the first step towards completing PR https://github.com/scikit-learn/scikit-learn/pull/5960 will be to address your comment?

[2017-12-02 14:02] gxyd commented on #5403
Also I don't see no 'yeast' dataset included with scikit-learn.

[2017-12-02 14:43] marcelobeckmann commented on #5884
Hi Ali,

1. The latest one is gower_function-v3.ipynb, and it is a copy of the one I pushed to scikit learn, and yes, it deals with nan propagation

2. You can use gower_distance(X) only, if your categorical att are not numeric, or gower_distance(X, categorical_features=[False, True, False,...]), if your categorical attr are represented as numeric.

Please let me know in private if you have any pr

[2017-12-03 11:08] thechargedneutron commented on #10217
@rth  What should be the ideal behaviour? How should equal spectrum be treated?

[2017-12-03 12:21] Mabinogiysk opened #10242 "Wrong message in StratifiedKFold"
In the latest version, runing a code like this:
[code]
It says `n_splits=2 cannot be greater than the number of members in each class.`
But it can run like this:
[code]
or like this:
[code]
I cannot understand the difference among 'a', 'b' and 'c'
where is the problem?

[2017-12-03 15:13] albertcthomas commented on #10213
Same here on OS X El Capitan 10.11.6.

Output of `make test` on master:
[code]

[2017-12-03 18:17] rth commented on #10235
Thanks for the proposal.

HALS NMF solver was mentioned in https://github.com/scikit-learn/scikit-learn/issues/8939 as yielding faster convergence than the current implementation, although a benchmark script to verify this has not been provided yet.

Looks like @shawnjhenry has also written an implementation. I'm not sure if there are any current plans to add it to scikit-learn.

See http://scikit

[2017-12-03 20:25] jnothman commented on #10239
See the sample_weight parameter to many methods and the class_weight parameter to many estimators. We do not currently have an easy way to perform cross validation with weighted scoring, but it is certainly a known issue we hope to fix. See also the imbalanced-learn project

[2017-12-03 20:25] #10239 closed

[2017-12-03 22:29] jnothman commented on #3702
Have you tried fit_params?

[2017-12-03 23:03] AlexMRuch commented on #9113
This would be a great addition! Thank you for everyone who is working on it!

[2017-12-03 23:03] jnothman commented on #8179
suggest they use sklearn-pmml converter if all you want to do is apply a
trained model? If you really want to load it up in python, I would think
that a pickle is not going to run arbitrary code if all its reconstructors
are within the sklearn package and perhaps numpy and scipy.sparse. but it
could still allocate arrays that might then be accessed out of bounds etc.

On 2 Dec 2017 12:08 pm, "Kend

[2017-12-03 23:46] jnothman commented on #10233
It took me a while to be convinced by this. I'm going to conclude that it comes down to numerical imprecision: you can either draw 58 0s and 20 1s, in which case the class weights are ` [ 0.67241379  1.95      ]` or you can draw 59 0s and 19 yielding ` [ 0.66101695  2.05263158]`. Due to numerical imprecision, we get ` 0.67241379 * 58 < 1.95   * 20` but `0.66101695 * 59 >   2.05263158 * 19`.

I sup

[2017-12-03 23:57] jnothman commented on #10233
For example patch see b07172d