[2016-06-10 16:02] alpcakno commented on #6875
Thanks Chaitya, I used PowerShell Windows, and it worked.

[2016-06-10 16:02] #6875 closed

[2016-06-10 16:17] Chaitya62 commented on #6875
Glad! I could help!

[2016-06-10 19:32] staubda opened #6877 "IsolationForest: model size increases linearly with number of samples and trees"
#### Description
I've noticed that the size both on disk (via pickle) and in memory of an iforest model increases linearly with both the number of samples and trees. For example using default params (n_estimators=100) and fitting on an [n_samples, 10] array of randomly generated floats:

| n_samples | size in memory (MB) | size on disk (MB) |
| ------------------------------------ | --------------

[2016-06-10 20:04] rhiever commented on #6747
I believe the same procedure is used with [macro-averaged AUC](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html#sklearn.metrics.roc_auc_score).

From my understanding, macro-averaged recall != balanced accuracy in the multiclass case, only in the binary classification case. Thus I don't think we should label macro-averaged recall as balanced accuracy. Balanced ac

[2016-06-10 20:28] shubham0420 commented on #5046
https://www.continuum.io/blog/developer-blog/anaconda-25-release-now-mkl-optimizations
this link solved the problem

[2016-06-10 21:31] jykong commented on #5023
+1 from a confused new user

[2016-06-11 11:28] pdurbin commented on #6857
@amueller two more people wondering where references.rst is: https://gitter.im/scikit-learn/scikit-learn/archives/2016/06/10

[2016-06-11 13:10] adrinjalali opened #6879 "joblib triggers "descriptor assignment is deprecated""
Here's the warning message:

[code]

The fix is already commited to the [joblib](https://github.com/joblib/joblib) repo, but it's not released yet.

I wasn't sure how you guys handle joblib updates, so I didn't create the pull request.

[2016-06-11 18:45] denadai2 commented on #6734
Isn't it the same if you simply do y_true - yourmodel.predict(X)?

[2016-06-11 20:08] raghavrv commented on #6849
Thanks for the comments!!

This was not aimed at addressing any issue. Not having seen #6297 before, I just found it a bit weird that there should be an `__init__.py` file in a directory which (I wrongly assumed) will not be imported. I kind of assumed that was the unsolicited work of some sophisticated python ide ;)

But yea documenting all the `__init__.py` file may be a bit too much. As #6869 i

[2016-06-11 20:08] #6849 closed

[2016-06-11 21:54] bjlkeng commented on #5975
@thenomemac You're absolutely right about the loss function changing due to exposure, I was mistaken.  In fact, I believe I worked it out.  I have a very early WIP (more of just playing around): https://github.com/bjlkeng/scikit-learn/blob/poisson_regression/sklearn/linear_model/poisson.py (check out the `_poisson_loss()` function).

@josef-pkt Thanks, I looked at the statsmodels implementation, i

[2016-06-12 02:18] Chaitya62 commented on #6860
Did any one find a hack for this?

[2016-06-12 07:52] kz26 opened #6882 "roc_curve() followed by auc() returns incorrect result with multiclass labels and pos_label=0"
#### Description

auc() as calculated from roc_curve() is incorrect with multiclass labels (0, 1, 2) and pos_label=0 (compared to roc_auc_score())

#### Steps/Code to Reproduce

[code]

#### Expected Results
auc() and roc_auc_score() should be the same

#### Actual Results
`auc()` returns 0.03125
`roc_auc_score()` returns 0.875

#### Versions
[code]

[2016-06-12 13:51] NagabhushanS opened #6883 "In which version is MLPClassifier available?"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2016-06-12 15:13] fukatani commented on #6882
Second argument of roc_curve is not predicted class but score.
Score means "probability" estimates of the positive class (y==pos_label) by any prediction.

(Please see http://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_curve.html)

[code]

You could get 0.03125.

[2016-06-12 16:29] maniteja123 commented on #6883
Hi, I suppose it will be available from 0.18. It can be seen from the [dev](http://scikit-learn.org/dev/modules/classes.html#module-sklearn.neural_network) docs. Hope it helps and please do search for previous issues before opening a new one. Regards.

[2016-06-12 17:29] jmetzen commented on #6868
I won't have time to implement it myself in the next weeks but would be happy to review. @MechCoder

[2016-06-12 20:06] imaculate commented on #6862
@TomDLT @kingjr I would like to work on this.

[2016-06-12 20:42] cnsgsz opened #6884 "normalize not passed to Ridge in RidgeCV?"
should the "normalized" argument be passed to Ridge just as "fit_intercept"?
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/ridge.py#L1074

[2016-06-13 06:44] lesteve commented on #6860
I can reproduce this error. This happens because as part of the sphinx build, a git command is being run and `git` is not accessible from the cmd I am running `make html` from.

Depending on how you have installed git, you probably want to run `make html` from a git bash cmd, a msys2 cmd, or set %PATH% so that git is found. Basically you want to make sure that
[code]

returns something like:
[code

[2016-06-13 07:31] Chaitya62 commented on #6860
It worked ! I think we can close this issue now thanks a lot @lesteve! Now I can start contributing !
Quick hack
If you are using git bash
Type

`cmd`

In git bash
And you can access git commands without setting the PATH variable!

[2016-06-13 08:01] lesteve commented on #6879
Have you seen https://github.com/scikit-learn/scikit-learn/issues/6370#issuecomment-204318131?

We update joblib from time to time in scikit-learn master, when we release new joblib versions.

Can you close this issue, I feel it is a duplicate of #6370.

[2016-06-13 08:44] jnothman commented on #6747
macro-averaged AUC is explicitly for multilabel. Problem is that I'm not so
sure what TNR means in a multiclass context, or why OvR transform makes
sense for that. I've had a go at simplifying the overall score for a
3-class classification problem, by hand, but haven't got far enough that I
can see how its formula is interesting and value.

On 11 June 2016 at 06:04, Randy Olson <notifications@gith

[2016-06-13 10:16] tguillemot commented on #6857
@amueller What's the file reference.rst.
It seems that I've forgot to change some GMM to GaussianMixture in `classes.rst` and `density.rst` ?
I've fix that with #6886. Is it what you were thinking ?

[2016-06-13 10:39] #6879 closed

[2016-06-13 12:00] kitizz commented on #6256
Been taken care of in a recent patch =)
https://github.com/numba/numba/pull/1928

[2016-06-13 12:51] lesteve commented on #6394
@nelson-liu can you close this issue since it has been addressed?

[2016-06-13 13:05] agramfort commented on #6884
probably

@eickenberg any thought?

[2016-06-13 13:08] eickenberg commented on #6884
Apart from the fact that this embedded GridSearchCV needs to be removed, I
guess yes

On Mon, Jun 13, 2016 at 3:06 PM, Alexandre Gramfort <
notifications@github.com> wrote:

[2016-06-13 16:02] jakevdp commented on #6256
@kitizz – great to hear! I might take a stab at that approach again if I can find the time.

[2016-06-13 16:09] salexln commented on #6796
Is this taken? It not, I can take this one - would be my first submit

[2016-06-13 17:20] Ekliptor commented on #6665
I have the same problem and would really appreciate a fix (or workaround?)
System Version: OS X 10.11.5
Python 3.5.1 :: Anaconda 4.0.0 (x86_64)
scipy.version 0.17.1
sklearn.__version__ 0.17.1

I can also reproduce the bug with the code sample from ivan-krukov

[2016-06-13 17:37] amueller commented on #6858
closing as duplicate of #6261

[2016-06-13 17:37] #6858 closed

[2016-06-13 19:56] #6867 closed

[2016-06-13 20:45] tguillemot commented on #6548
This issue has been fixed. @TomDLT @agramfort can you close it please ?

[2016-06-13 20:50] #6548 closed

[2016-06-13 21:13] amueller opened #6887 "GraphLasso with robust correlation estimates"
This was on the mailing list and seemed like it shouldn't go in the trash:

[code]

[2016-06-13 21:16] GaelVaroquaux commented on #6887
The low-level graph_lasso function takes the empirical covariance as an
argument. The object GraphLasso cannot do that, because it would violate
the scikit-learn API.

[2016-06-13 21:54] HashCode55 commented on #6847
I'd like to take this issue... but just want a little bit of explanation what need to be done.

[2016-06-13 21:56] #6394 closed

[2016-06-13 21:56] nelson-liu commented on #6394
thanks for the tip @lesteve

[2016-06-13 22:45] jnothman commented on #6847
@aakashpatel25 will have to speak for whether it's taken. Find places where weighted average is used, and choose a more appropriate metric variant. Update the test output to match.

[2016-06-14 07:45] agramfort commented on #6887
or what we could do is allowing a callable to estimate cov as we do with
kernel param in SVC/SVR

[2016-06-14 09:47] NagabhushanS opened #6888 "Runtime warning when using CalibratedClassifierCV."
I am implementing a classifier using CalibratedClassifierCV. I encounter a RuntimeWarning as follows:

[code]

I know this results from the overflow resulting from numpy manipulations. Is there a way to get around this?

[2016-06-14 11:48] krishnakalyan3 commented on #6523
@MechCoder could you please let me know where under which section logistic_regression_path should be added to `classes.rst`. Were should the information that `this would offer no speedups for the liblinear solver because of no warm-start` be added.

[2016-06-14 15:32] GaelVaroquaux commented on #1677
Shouldn't this be closed: #5414 has been merged.

[2016-06-14 16:29] zym1010 commented on #6063
is this problem solved? tried test code from @raamana and found it to work without any problem, with sklearn 0.17.1 and joblib 0.9.4

[2016-06-14 17:42] cnsgsz opened #6890 "normalize only enabled if fit_intercept is true in linear_model.ridge.Ridge"
It seems to me that the fit_intercept and normalize arguments in Ridge constructor is ultimately passed to linear_model.base.center_data, which does no normalization if fit_intercept is false. Is that intended? I can see cases where it is desirable not to fit intercept, but to normalize the features to be on the same scale before fitting ridge.

Also, this effect of fit_intercept has on normalize

[2016-06-14 18:06] HashCode55 commented on #6847
@jnothman So, if I understand correctly after reading through the codebase, `grid_search_digits.py` is using `prediction_weighted` for example where it could have used 'precision_macro' (as I guess the data is balanced in that case) and what needs to be done is to alter all the places like this?

[2016-06-14 20:01] rhiever commented on #6747
Section 2.1.18 in the attached paper describes the mathematical formulation of balanced accuracy.

The key part is that you calculate balanced accuracy using a one-vs-all configuration. So you start with the first class `a`, where you treat the data as a binary classification task such that all records labeled `a` are `1` and all other classes are `0`. Calculate accuracy as you normally would. The

[2016-06-14 20:44] thomasbkahn opened #6891 "Stratification in Nystroem kernel approximation"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

Would it be possible to add stratification in Nystroem kernel approximation? The `fit` method already takes `y` as an argument but doesn't do anything. Perhaps instead it could be used so that if `y` is supplied, the resulting sampled data points reflect an even number of samples per class.

[2016-06-15 02:21] jnothman commented on #6747
I'm not persuaded that this is the right thing to do, but I am beginning to be persuaded that this is a logical extension that diverse people are assuming is legitimate.

[2016-06-15 02:22] jnothman commented on #6847
That sort of thing.

On 15 June 2016 at 04:06, Mehul Ahuja <notifications@github.com> wrote:

[2016-06-15 02:26] rhiever commented on #6747
We've worked through the math and logic behind it several times and it checks off for us, but that doesn't mean we're right. I'm very curious to hear why it may not be the right thing to do.

[2016-06-15 06:34] jnothman commented on #1677
I'm going to assume so.

[2016-06-15 06:34] #1677 closed

[2016-06-15 11:42] #6763 closed

[2016-06-15 12:10] TomDLT commented on #6890
The docstring is pretty clear to me, maybe we should also write it in the `fit_intercept` docstring.
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/ridge.py#L531

    normalize : boolean, optional, default False
        If True, the regressors X will be normalized before regression.
        This parameter is ignored when `fit_intercept` is set to False.
        ...

[2016-06-15 16:45] salexln commented on #6796
Is anyone else working on this?

[2016-06-15 16:49] nelson-liu commented on #6796
i'm not -- feel free to do so.

[2016-06-15 21:12] amueller commented on #6891
That would be possible. Do you have a reference for that in a paper or have you observed that helping? It basically makes an unsupervised method supervised. We could make it an optional step, but to include it we would need some good evidence that it helps. For example, I couldn't really make K-Means work for picking the points.

[2016-06-15 21:15] amueller opened #6892 "CountVectorizer regex to work on apostrophe?"
Not sure if we had this discussion before, and I know that the CountVectorizer regex went through a lot of testing so far. But I think it would be nice to have a way to not split on apostrophes, as they are so common in English. Not sure if it makes a giant difference for unigrams, but I think it might for n-grams.

Changing the default value might be a bit much but we could at least point it out

[2016-06-15 21:26] thomasbkahn commented on #6891
Correct, my intended use is to include the Nystroem approximation as a pipeline in a supervised problem. I have a large data set with 9 classes which are very imbalanced. I'd like to have a pipeline with Nystroem approximation followed by training with an SGD classifier, so that I can include the Nystroem `gamma` in my `RandomizedSearchCV` routine. As is, since the selection of the indices is tota

[2016-06-15 21:54] JonahJ commented on #3628
+1

[2016-06-15 22:44] cnsgsz commented on #6890
thanks. I think I am on some older version.

[2016-06-15 22:44] #6890 closed

[2016-06-15 22:46] jnothman commented on #6892
I think don't change it. People who want a particular result will use an external tokeniser.

[2016-06-15 22:49] dhruvghulati opened #6893 "Getting average='binary' warning despite using average='macro'"
I seem to be getting the error message here:

https://github.com/scikit-learn/scikit-learn/blob/183722475189b8e21ee2e621b19acca3c9e054d8/sklearn/metrics/classification.py#L1018-L1024

Despite not using the `'binary'` usage.

[2016-06-15 22:59] jnothman commented on #6893
If you truly want a macro average over a binary dataset, ensure
pos_label=None.

Either submit a PR to modify the warning, or please close this issue

On 16 June 2016 at 08:49, Dhruv Ghulati <notifications@github.com> wrote:

[2016-06-15 23:00] dhruvghulati commented on #6893
Thanks. Closed.

[2016-06-15 23:00] #6893 closed

[2016-06-16 02:23] #6686 closed

[2016-06-16 03:23] jnothman commented on #6747
The redundancy of information inherent in including both one class's true positives and another's true negatives makes me a little uncomfortable.

However, the multiclass case has some niceties: such a macro-average over a binary problem actually results in the same formula as the non-multiclass treatment; and empirically it seems that random class assignment (from a fixed distribution) in the mul

[2016-06-16 06:03] #1020 closed

[2016-06-16 09:54] jnothman opened #6894 "Timing in *SearchCV.results_"
With the new `GridSearchCV`/`RandomizedSearchCV` `results_` attribute, we are able to easily return more information to users. As well as scores, we should return timings (at least the mean, but perhaps for every cross-validation split).

[2016-06-16 09:57] jnothman opened #6895 "Training score in *`SearchCV.results_`"
With the new `GridSearchCV`/`RandomizedSearchCV` `results_` attribute, we are able to easily return more information to users. As well as test scores, we should have an option to return training scores.

This supersedes the ancient implementation in #1742, where training time sensitivity to parameters is also discussed in an example. It would still be good to have an example.

[2016-06-16 11:09] TomDLT opened #6896 "Update changelog's link"
![screenshot - 06162016 - 01 05 22 pm](https://cloud.githubusercontent.com/assets/11065596/16114720/04884374-33c3-11e6-84fe-b5e5cff3cbe1.png)

1. the four `changelog` links all go to the same page (no distinction of version).
2. the first one goes to `/stable/whats_new.html` and not to `/dev/whats_new.html`, so it does not show on-going development.

[2016-06-16 13:26] raghavrv commented on #6888
Could you share a fully contained sample example where this happens?

[2016-06-16 13:36] #6883 closed

[2016-06-16 13:42] lucienevans commented on #6665
Same issue on OS X EI Capitan using Python 3.5

[2016-06-16 13:55] alexcombessie commented on #2593
Hello, Any news on this matter ? I am working on a text classification problem with incomplete labels and I would like to compare CV scores of supervised and semi-supervised models. I guess I can write my own `score` to ignore -1 samples, but it does not look like a best practice.

[2016-06-16 13:58] jnothman commented on #2593
I think for now, writing your own scoring would be a reasonable way to go.

[2016-06-16 14:12] FFae opened #6898 "Installation problems"
I tried to install via setup.py and also via pip install -U scikit-learn, but my installation is not working.
Can anyone help me?

Linux-4.4.0-21-generic-x86_64-with-Ubuntu-16.04-xenial
Python 3.5.1+ (default, Mar 30 2016, 22:46:26)
[GCC 5.3.1 20160330]
NumPy 1.11.0
SciPy 0.17.0
Traceback (most recent call last):
  File "test.py", line 4, in <module>
    import sklearn; print("Scikit-Learn", sklea

[2016-06-16 14:19] jnothman commented on #6898
Is pip using the same version of Python?

[2016-06-16 14:38] FFae commented on #6898
Thanks Joel, I didn't realize that I have two python installations.
My pip was using the version 2.7 not the 3.5.

[2016-06-16 16:01] rhiever commented on #6747
Yes exactly. As with all metrics, balanced accuracy is just an indirect method of capturing what is "good" performance for our models. As a metric in the multiclass case, balanced accuracy puts a stronger emphasis on TN than TP, at least when compared to macro-averaged recall. And as you point out, balanced accuracy has the nice feature that 0.5 will consistently be "as good as random," with plent

[2016-06-16 19:40] amueller commented on #6892
which one? the spacy one is not so great and I think people are trying to move away from nltk.

[2016-06-16 19:44] nelson-liu commented on #6892
Fwiw, I had to deal with this a few weeks back and just built my own
because I wasn't able to find a suitable one to use. If there is one, I'd
love to know about it!

On Thu, Jun 16, 2016, 12:40 PM Andreas Mueller <notifications@github.com>
wrote:

[2016-06-16 20:14] amueller commented on #6857
@tguillemot yes, thanks.

[2016-06-16 20:14] #6857 closed

[2016-06-16 20:15] amueller commented on #6857
@pdurbin damn, I've been off coffee the last two weeks. meant classes.rst which generates the api docs.

[2016-06-17 10:13] LeonieBorne opened #6902 "RadiusNeighborsClassifier: possible problem with outliers class?"
Hi,

When I use the RadiusNeighborsClassifier with an outlier class, I get this message :

[code]

I'm wondering if the line `in zip(pred_labels[inliers], weights)] `needs to be replaced with `in zip(pred_labels[inliers], weights[inliers])]`.
I'm using the version 0.17.1 of sklearn.

[2016-06-17 11:14] alexcombessie commented on #2593
Yes, a simple `make_scorer(precision_score, labels=[0,1])` works in my binary case.

[2016-06-17 11:34] erlendd commented on #5361
There's also parametric t-SNE, which was designed to enable new data to be easily transformed.

https://lvdmaaten.github.io/tsne/ (see last FAQ).
https://lvdmaaten.github.io/publications/papers/AISTATS_2009.pdf

[2016-06-17 14:22] amueller commented on #6120
Do the pictures change qualitatively if you use, like 100 components for nmf and k-means? for FA the components are ordered, right? How is it for SparsePCA?

[2016-06-17 15:41] krishnakalyan3 commented on #6120
@amueller attaching pictures generated when 100 components are used.
https://drive.google.com/file/d/0B4f7opi8lE0_OXVJVC04UkxpTmM/view?usp=sharing
How do I check if components in FA are ordered?.
(SVD is being used in the code at following places, so i guess PCA, FA, NMF are ordered)

[2016-06-17 16:06] lesteve commented on #6902
Readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages and code snippets.

Could you try to provide a snippet that reproduces the problem?

[2016-06-17 16:43] FrankMN opened #6904 "mutual_info_regression takes too long time"
I tried to use mutual_info_regression for feature selection along with SelectPercentile. My input data is a sparse matrix. Once I did the same thing on f_regression, it's pretty fast. While for mutual_info_regression it takes very long time. Is that because mutual_info_regression indeed does more complicated computation or it can speed up by some well-designed techniques?

[2016-06-17 17:22] amueller commented on #6120
NMF is not ordered, the SVD is used for initialization.

[2016-06-17 17:29] amueller commented on #6747
If this is the only paper using this definition, I'm not sure we should include it. Where did you get it from? That paper?

[2016-06-17 17:34] amueller commented on #6747
So [this paper](http://lib.dr.iastate.edu/cgi/viewcontent.cgi?article=4544&context=etd) says

[2016-06-17 17:47] krishnakalyan3 commented on #6120
@amueller ah thanks for clarifying.

[2016-06-17 18:36] rhiever commented on #6747
That was a bug that we fixed. :-)

---

The definition of balanced accuracy for the multiclass case is in the Urbanowicz paper. The original paper I linked to was only for the binary case, yes.

For the Master's thesis that you linked, that definition of balanced accuracy is under a section describing "Two-Class Evaluation Measures," i.e., binary or multilabel classification. I don't think that th

[2016-06-17 20:42] tswr commented on #6873
@amueller, is there something wrong with my PR?

[2016-06-17 23:11] krishnakalyan3 commented on #6120
@amuller could you please advice on how to proceed

[2016-06-18 07:16] agramfort commented on #6904
yes mutual_info_regression is more costly. You can profile to see why it's slow with your data. It's not an issue. Closing.

[2016-06-18 07:16] #6904 closed

[2016-06-18 09:58] jnothman commented on #6747
I'm happy for you to veto this @amueller, after my change of heart. I was persuaded by the following features:
* treating a binary problem as multiclass gives identical results (i.e. `bal_acc(y_true, y_pred) == bal_acc(~y_true, ~y_pred)) == 1/2 * (bal_acc(y_true, y_pred) + bal_acc(~y_true, ~y_pred)))`
* the valuable property of ROC AUC, that regardless of class prevalence a random prediction will

[2016-06-18 10:03] #6896 closed

[2016-06-18 14:54] weatherfrog opened #6906 "KDTree example in docs produces DeprecationWarning"
The basic KDTree example from the [docs](http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KDTree.html#sklearn.neighbors.KDTree) produces a ``DeprecatioinWarning`` (tested with 0.17.1):

[code]
==>
[code]
I'm not (yet) very familiar with scikit-learn. But doesn't it seem "wrong" to say "Passing 1d arrays as data is deprecated" when the ``X`` passed is actually 2d?

[2016-06-18 16:38] imaculate commented on #3726
Thank you @mrosett worked for me!

[2016-06-18 17:02] weatherfrog commented on #6906
Oh, ``data`` refers to the first argument of ``query()``, not to the input points. That makes sense, of course. I think that argument – which, according to [docs](http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KDTree.html#sklearn.neighbors.KDTree.query) is an **array** of points to query – should be wrapped in a list then. That makes the ``DeprecationWarning`` go away:
[code]

[2016-06-18 21:04] jnothman commented on #6906
yes, wrapping in a list being much like `X.reshape(1, -1)`

[2016-06-18 21:18] weatherfrog commented on #6906
My point was: the docs should probably be updated. :-)

[2016-06-18 21:45] jnothman commented on #6906
You're right. Sorry :/

[2016-06-18 21:47] jnothman commented on #6906
Feel free to submit a PR fixing `sklearn/neighbors/binary_tree.pxi`

[2016-06-18 23:17] jnothman commented on #6906
It might also be interesting to try creating doctest fixtures that raise warnings as exceptions.

[2016-06-19 20:34] krishnakalyan3 commented on #6120
I could update the print massages as below.
[code]
Please also let me know if the images in the example need to be updated. So that I can submit a pull request accordingly.

[2016-06-20 13:35] lesteve commented on #6855
I opened a PR to fix this, see #6910.

[2016-06-20 14:21] LeonieBorne commented on #6902
Sorry for the readability, I've modified that.

Here is a snippet that reproduces the problem most of the time (when the algorithm finds an outlier I think):

[code]
====>

[code]

[2016-06-20 14:39] jnothman commented on #6902
I can replicate, and I agree wth your solution. A PR with a test would be very welcome.

[2016-06-20 18:13] metaperture commented on #4497
Not sure what the status of this is, but after reading this discussion I'm using the following on something I'm doing:
[code]
The screened wrapper checks automatically drops any kwargs not supported in the function signature (var kwargs imply all kwargs can be supported). It completely ignores the previous API with the special param names, though implementing both would be pretty trivial.

_Caveat

[2016-06-20 20:20] panCtrlV opened #6911 "sklearn/cluster/_dbscan_inner.cpp:248:18: fatal error: vector: No such file or directory"
I cloned the repository and build using the following comamnd:

[code]

However, the building process terminated with the following error:

[code]

How can I let g++ link to vector header. I am using Mac OSX Yosemite. The following shows my g++ version, which is installed via Homebrew.

[code]

Could anyone help me to get through this error?

**-- UPDATE: 2016/06/20 16:39 --**

I also tried to bui

[2016-06-20 20:36] nelson-liu commented on #6898
did jnothman's solution solve this for you? If so, could you close? Thanks!

[2016-06-20 22:20] #6898 closed

[2016-06-20 23:54] TheChymera commented on #2688
@mvds314 sadly I wouldn't know how to rewrite your code for `scikit_learn` - but I would also be very happy if this feature became available. If you need any sort of testing I can try to help.

[2016-06-21 07:50] lesteve commented on #6911
Looks like a problem with your compiler set-up. The error means it can not find the "<vector>" header to include. It is likely not related to scikit-learn. If I were you I would try to compile a C++ program to further diagnose the problem.

[2016-06-21 07:58] lesteve commented on #6063
Yes the underlying issue has been fixed in joblib 0.9.4 which is included in scikit-learn 0.17.1. If someone with the necessary rights can close this one, that'd be great!

[2016-06-21 08:51] jln-ho opened #6915 "Automatically set 'V' parameter to cov(X) when using mahalanobis distance metric"
Would it be considered bad design to automatically set the 'V' parameter for the mahalanobis distance metric to cov(X) for all estimators that (possibly) use this metric?

I'm asking because it would facilitate the use of the mahalanobis distance in cross validation scenarios in general (because one won't have to set the V parameter over and and over again for each fold), or more specifically when

[2016-06-21 09:31] #6063 closed

[2016-06-21 13:09] yingwei13mei commented on #6860
Thanks a lot to lesteve and Chaitya62, it works well 。 :)

[2016-06-21 13:22] lesteve commented on #6860
@yingwei13mei can you close this issue, now that your question has been answered?

[2016-06-21 13:23] lesteve commented on #6860
@yingwei13mei also before I forget for next time:

Readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages and code snippets.

[2016-06-21 13:23] jnothman commented on #6860
Is this the git execution in `doc/sphinxext/github_link.py`? That code should catch a `subprocess.CalledProcessError`. Is that not the exception being raised in this case?

[2016-06-21 13:24] #6855 closed

[2016-06-21 13:25] lesteve commented on #6860
FileNotFoundError was the error raised.

[2016-06-21 13:28] jnothman commented on #6860
I.e. OSError.

[2016-06-21 13:30] jnothman commented on #6860
Fixed in 1870d6d2b971a7b78ebe60e186d94ff6c23e82da

[2016-06-21 13:30] #6860 closed

[2016-06-21 13:32] lesteve commented on #6860
Great thanks!

[2016-06-21 14:54] nileracecrew commented on #6855
Nice work @lesteve, thanks.

[2016-06-21 15:54] rhiever commented on #6747
[Here's](http://www.causality.inf.ethz.ch/AutoML/automl_ijcnn15.pdf) another paper from the AutoML challenge that defines balanced accuracy for the multiclass case. They use a similar definition, with the only difference being the normalization procedure that they apply at the end (where they ensure that "as good as average accuracy" = (1 / N), where N is the number of classes).

[2016-06-21 17:08] kris-singh commented on #6902
I found that setting a seed to a random a number is always resulting in an error but the code works fine for odd values

[2016-06-21 23:47] jnothman commented on #6747
Thanks for the reference, though I think it muddies the water a bit (pending a look at their implementation). It's far from clear to me that the accuracies they are averaging class-wise in the multiclass case incorporate sensitivity and specificity. By default I assume they mean standard Rand accuracy over each binarization, although this seems a strange choice given that then the binary problem n

[2016-06-22 08:14] LeonieBorne commented on #6902
I think it's because there is no outliers found during the cross validation for these values of the seed. Maybe it's only a coincidence? I found that the code is still not working for seeds set to 3 or 7.

[2016-06-22 12:07] #6595 closed

[2016-06-22 13:21] TomDLT opened #6919 "Improve doc on C vs alpha equivalence between estimators"
![screenshot - 06222016 - 03 13 56 pm](https://cloud.githubusercontent.com/assets/11065596/16267809/fb6d81b4-388b-11e6-907a-8d5a260fbb28.png)

There is an error in the doc:
The doc claims the equivalence `C = n_samples / alpha`, yet we don't know which `alpha`.
- If it's Ridge's alpha, it seems to me that `C = 1 / alpha`
- if it's SGD's alpha, it seems to me that `C = 1 / (alpha * n_samples)`

**I

[2016-06-22 13:25] jnothman commented on #6919
Is there some confusion between `+` and `*` in your post or am I reading incorrectly?

[2016-06-22 13:26] TomDLT commented on #6919
Edited

[2016-06-22 13:26] #6847 closed

[2016-06-22 15:32] hmf opened #6920 "Adding feature selection to KNN"
While trying to use `RFECV` with `KNeighborsClassifier` I got the following error:
[code]
According to:

http://stackoverflow.com/questions/37780139/knn-with-rfecv-returns-the-classifier-does-not-expose-coef-or-feature-impo/37971791#37971791

it seems like KNN does not support feature selection. I would like to confirm this and if it is so would propose that this be added.

TIA.

Linux-3.19.0-59-g

[2016-06-22 15:54] NelleV opened #6921 "Isotonic regression doesn't not respect y_min and y_max arguments"
Reported by Jonathan Taylor.

While trying to fit an isotonic regression with not trivial y_min and y_max, the fit returned a solution that does not fit the bounds:
[code]

[2016-06-22 16:05] mase612 opened #6922 "mutual_info_classif import error"
Hi all,

I'm having an issue with importing mutual_info_classif and mutual_info_regression.

Versions:
Python: 2.7.10
sklearn: .17.1

I have also checked that the package is installed at the correct location and I am able to import other functions in sklearn.feature_selection. I have also been using sklearn smoothly up until this point

Thanks!

#### Actual Results

Traceback (most recent call las

[2016-06-22 16:13] maniteja123 commented on #6922
Hi, as much as I remember, I suppose ``mutual info regression `` is currently in the master branch and should be available from 0.18. Even the [0.17](http://scikit-learn.org/stable/modules/classes.html#module-sklearn.feature_selection) confirm this. It should be available if you build it from master/dev branch. Hope it helps.

[2016-06-22 16:33] damienrj commented on #3831
Using the code above you now get the following error.

_gradient_boosting.pyx in sklearn.ensemble._gradient_boosting.predict_stage (sklearn/ensemble/_gradient_boosting.c:2743)()

ValueError: Buffer dtype mismatch, expected 'DTYPE_t' but got 'double'

As it stand now it looks like monitor can not be used for early stopping if you are trying to stop based on model performance.   I will try the warm

[2016-06-22 16:34] vene commented on #6919
Yeah this "inconsistency" in the objectives bit me a few times.  It's important to keep in mind when using e.g. lasso as an optimizer within another estimator. Since there isn't one equivalence between *all Cs* and *all alphas*, I think the best way to document this would be to warn about it, while also emphasizing that most often it doesn't matter.

(I hope my math is correct above. The factor of

[2016-06-22 19:17] #6922 closed

[2016-06-22 19:21] amueller commented on #6603
I think it would be good to add a bit more visibility. We might want to integrate it with the "other ml projects" page, though.
Also, I wouldn't break the style.
Maybe add another orange header under "Who uses scikit-learn?" called "Extensions" or something like that.

Btw, do we want to keep the donate button? It goes to Numfocus, which we have not authorized to collect money for us (yet?).

[2016-06-22 19:23] amueller commented on #6616
+1 on the conclusions. This should be done rather sooner than later. flag 0.18?

[2016-06-22 19:59] GuiMarthe commented on #5967
I've just faced the same error and did not solve it by changing the notebook. What solved it was, instead of using an (X_train, y_train) data that I was using (just lazy to reload the entire data set) was indeed using the un-split original version (X, y).

[2016-06-22 23:43] jnothman opened #6927 "Doctest failures in tutorial"
As peripherally reported at #6924, there can be some small doctest failures in one tutorial:

[code]

[2016-06-22 23:48] jnothman commented on #6616
So what needs to be done to make things public is:
* add to `classes.rst`
* ensure docstrings are sufficient
* ideally, ensure testing is sufficient
* import into `sklearn.utils` namespace? (Do we care about this import overhead?)
* add to `sklearn.utils.__all__`? (Should `sklearn.utils` really have `__all__`?)

Do others agree?

Regarding making some private: for ease, can we begin with the assum

[2016-06-22 23:53] jnothman commented on #6920
Without metric learning, I don't think there is any notion of feature importance given a training set in KNN. If you can provide literature to support such a notion, please reopen this issue.

[2016-06-22 23:53] #6920 closed

[2016-06-23 00:37] mjbommar commented on #6921
It looks like we're setting `y[0]` and `y[-1]` to `y_min` and `y_max` without requiring that `y` is sorted, then reweight the sample so that `[0]` and `[-1]` have >> larger weights.

See here:
https://github.com/scikit-learn/scikit-learn/blob/1a5be6df1b66f3fe3831c7440438c919ad424626/sklearn/isotonic.py#L132

This only works on L313 here because the data has already been sorted and uniqued:
https:/

[2016-06-23 00:53] jnothman commented on #6747
To make things murkier, that metric description is repeated [here](https://competitions.codalab.org/competitions/2321#learn_the_details-evaluation) and hyperlinked to [here](http://spokenlanguageprocessing.blogspot.com.au/2011/12/evaluating-multi-class-classification.html) but I don't see the relevance of the latter!

Ah. Now I see the relevance. They've actually [implemented macro-averaged recall

[2016-06-23 03:46] jnothman commented on #6927
Apparently the second failure here was addressed in #6923.

The first failure depends on the state of the machine running the test. Personally, I think it's bad practice for our libraries, including datasets, to be printing to stdout. I'm going to make an issue for this.

[2016-06-23 03:48] jnothman opened #6929 "Library should not be printing to stdout without verbose option"
I think it's good policy not to print anything to standard output in library code, except when that's specified by the API, e.g. through a `verbose` parameter. We have, for instance, a few unguarded `print` calls in `sklearn/datasets`. These should be weeded out. One option for fixing is to use `logging.info`; another is to use `print(..., file=sys.stderr)`.

[2016-06-23 05:05] crodjer commented on #6927
@jnothman I faced the downloading dataset error now. The first time, I had already downloaded it because I was going through the tutorial.
I suspect the `print`s [here](https://github.com/scikit-learn/scikit-learn/blob/006aacb58e4aa186f15db7854de8ec8501462a47/sklearn/datasets/twenty_newsgroups.py#L222) should be log info statements instead? I can incorporate that in the PR #6923 (or a separate one

[2016-06-23 05:06] jnothman commented on #6927
You're welcome to fix just that one in #6923. But the more generic issue is now raised in #6929

[2016-06-23 05:30] #6927 closed

[2016-06-23 07:21] agramfort commented on #6603
hum... the link does work so numfocus can get money and probably did... can
we sort this out?

@GaelVaroquaux  ?

[2016-06-23 07:25] GaelVaroquaux commented on #6603
Let's hear from @aterrel on this: maybe there is money that we can use.

[2016-06-23 08:54] hmf commented on #6920
I was assuming that the classification score could have been used for the selection (R^2 ?). I see now other criteria are used in sci-kit according to the type of algorithm (regression, classification). I assumed this was possible because `mlxtend` allows this. See:

http://rasbt.github.io/mlxtend/user_guide/feature_selection/SequentialFeatureSelector/

As per the documentation in the link above,

[2016-06-23 14:03] #6862 closed

[2016-06-23 14:30] jnothman commented on #6862
Thanks @imaculate. Would you consider doing the same for `LinearSVC`?

[2016-06-23 14:33] mblondel commented on #6603
Sounds good to me. The important thing is to give the contrib some visibility on the front page.

[2016-06-23 14:34] aterrel commented on #6603
Hi all! If there are any donations from that button, it goes to the NumFOCUS paypal account with a tag on the donation. The money (minus 10% admin from NF) is set aside for the scikit-learn project. Then members of project can make a request from NumFOCUS board to receive a grant from that money. I've asked our accountant to let me know how much money is available there as I believe there hasn't b

[2016-06-23 15:09] mjbommar commented on #6921
@NelleV, do you think we should add the `Bug` label to this one?

[2016-06-23 15:49] imaculate commented on #6862
sure , Ill look into it.

[2016-06-23 15:53] mikeschaekermann opened #6931 "Specify input dimensions for new Gaussian Process kernels"
@jmetzen thank you for contributing the new Gaussian Process module, it is really helpful! I wondered if it is possible to specify the input dimension(s) each kernel should be applied to? For example, if my input is 3-dimensional and I would like a kernel setup like this:

[code]

Could this be achieved with the current state of the API?

[2016-06-23 18:29] MechCoder commented on #6931
Duplicated by https://github.com/scikit-learn/scikit-learn/issues/6868 ?

[2016-06-23 18:37] mikeschaekermann commented on #6931
Yes, that's an exact duplicate. Thanks @MechCoder !

[2016-06-23 20:17] #6931 closed

[2016-06-24 00:33] essank opened #6933 "AttributeError in base.py"
I have an error with base.py file. My code is:

[code]

and the output is:

`Traceback (most recent call last):
  File "test.py", line 3, in <module>
    print iris.features_names
  File "/Users/essank/anaconda/lib/python2.7/site-packages/sklearn/datasets/base.py", line 55, in __getattr__
    raise AttributeError(key)
AttributeError: features_names`

How I can fix this error?

[2016-06-24 01:27] nelson-liu commented on #6933
did you mean `print iris.feature_names` instead of `print iris.features_names`?

[2016-06-24 02:24] #6933 closed

[2016-06-24 02:55] absolutelyNoWarranty opened #6934 "Cosine distance is not a valid distance metric"
The cosine distance is not a proper distance metric (as evidenced by it's rejection from usage with ball_tree/kd_tree) but its inclusion in `sklearn.metrics.pairwise.distance_metrics` unintentionally implies that it is one.

[2016-06-24 03:59] hadi-ds commented on #6837
Yes, I realized it later. I modified the network to output unit vectors, so the dot product becomes same as cosine similarity which, for unit vectors, is opposite of Euclidian distance.

[2016-06-24 05:31] jakevdp commented on #6837
A similarity measure does not meet the requirements of a metric, and thus tree-based solutions will fail. If you pass a function which computes a true metric, then the cod will work as expected. More details here: http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.DistanceMetric.html

That said, in practice, I'd probably recommend against using a user-defined metric within the tree

[2016-06-24 09:40] fasiabbu commented on #6929
Hi,
     I see there are still a lot of places where print is being used. I presume all this should converted to logging.info. Is anybody working on this?

[2016-06-24 09:52] lesteve commented on #6929
@fasiabbu somebody is already working on this, look at the PR above e.g. #6930.

[2016-06-24 15:29] aterrel commented on #6603
According to the report I was given, the donate button seems to have lost its allure, perhaps in the last reorg of the site?  Personally, I don't think the location of the current button will help generate revenue, but perhaps that is not the communities goal.

From 2013 - 2015 roughly $2100 has been donated for sklearn. There hasn't been a donation since Oct 2015 via the Paypal button. I'm asking

[2016-06-24 17:46] vene commented on #6120
I don't think SparsePCA is ordered either, it's an alternating optimization.

[2016-06-27 13:31] martinosorb opened #6943 "Some processes not working under clustering.MeanShift"
Hi,
I'm using the parallel version of clustering.MeanShift (which I had written, interestingly). I've now noticed that most of the processes are actually "sleeping", and only a few actually work. Even more oddly, this doesn't always happen:
 - the problem is worse on some machine than on others
 - the problem doesn't seem to appear when working with 2 dimensions instead of 4 (see code below).
 - c

[2016-06-27 13:32] martinosorb commented on #6943
Possibly related: https://github.com/scikit-learn/scikit-learn/issues/6023

[2016-06-28 08:45] lesteve commented on #6943
It works fine on my desktop but I can reproduce the behaviour on a big memory server with 48 cores. Will need to investigate more.

[2016-06-28 09:11] martinosorb commented on #6943
Yes, here too, the problem shows up on large machines.

[2016-06-28 09:49] lesteve commented on #6943
So it seems like the automatic batching of tasks is not well suited to some machines. I am not exactly sure why yet.

A work-around that works for me is to set joblib.parallel.MIN_IDEAL_BATCH_DURATION to a higher value. If you can test whether this snippet works for you, that'd be great:

[code]

[2016-06-28 10:25] martinosorb commented on #6943
This does indeed make things better. Should we add your workaround to the MeanShift code, or are you going to fix this in joblib?
Anyway, thanks a lot.

[2016-06-28 11:02] lesteve commented on #6943
Glad to hear that!

I think this kind of work-around is best left in client code rather than in scikit-learn. I'll try to understand the problem in more details and if there is a fix it will happen in joblib.

[2016-06-28 11:37] jnothman commented on #6943
Great sleuthing @lesteve! (I'm wondering how you narrowed it down to that, or whether the timing of the problem gave it away.)

[2016-06-28 11:46] lesteve commented on #6943
To be perfectly honest, I tried different things before it started to make sense. At one point tried with different batch_size in the Parallel object and realized than the auto batching wasn't performing very well.

[2016-06-28 11:51] lesteve commented on #6943
I have opened an issue in joblib: https://github.com/joblib/joblib/issues/372. I'll close this one.

[2016-06-28 11:51] #6943 closed

[2016-06-28 20:09] ben519 opened #6945 "min_weight_fraction_leaf suggested improvements"
#### Description
I've been using the `min_weight_fraction_leaf` parameter of DecisionTreeClassifier and RandomForestClassifier incorrectly and I think it's likely other people are doing the same thing as me.

For example, the documentation for `min_weight_fraction_leaf ` in [DecisionTreeClassifier](http://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html) says

It

[2016-06-28 23:39] jnothman commented on #6945
Please submit a PR

On 29 June 2016 at 06:09, Ben <notifications@github.com> wrote:

[2016-06-29 05:50] glouppe commented on #6945
Does it?

[2016-06-29 12:55] krishnakalyan3 commented on #6120
@vene thanks.

[2016-06-29 13:41] lesteve commented on #6934
It seems like it is consistent with the wording in scipy, for example see the doc of [scipy.spatial.distance.pdist](http://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.pdist.html):

[code]

I agree that it is a bit of an abuse of language with respect to the mathematical definition of "distance metric".

I'll close this one because I don't think this confusion is likely to c

[2016-06-29 13:41] #6934 closed

[2016-06-29 15:06] #4523 closed

[2016-06-29 19:59] Concomitant commented on #6665
System Version: OS X 10.11.5
Python 3.5.1 :: Continuum Analytics, Inc.
numpy.__version__ 1.11.1
scipy.__version__ 0.16.0
sklearn.__version__ 0.17.1

Same problem. Though I have noticed that **it only occurs for a subset of my dataset and not with the whole thing**. That is, if I do TSNE on the whole data set it **works**, if I do it on a reduced set it does not.

[2016-06-29 20:06] Concomitant commented on #6665
O_o;; This just in, if I repeat the same 'broken' subset that doesn't work(by means of list*10) then it works. Multiplying each individual vector by 10 doesn't work, but duplicating the date does. just doubling the length of the list is insufficient. Maybe this is some kind of degrees of freedom check run amok?

[2016-06-30 08:07] #6921 closed

[2016-06-30 11:28] nelson-liu commented on #6557
@amueller / others: @jmschrei and i met to discuss the issue of post-pruning a few weeks ago, and we were unsure of how it would fit in the current scikit-learn API. Generally, post-pruning needs a validation set, but this doesn't seem to fit nicely with how the library is currently organized (namely, issues like creation / origin of the validation set and whether this would be an argument to fit

[2016-06-30 11:31] nelson-liu commented on #6557
Seems like there was some discussion about API issues in https://github.com/scikit-learn/scikit-learn/pull/941, but the tree module has changed quite a bit and perhaps we should have the discussion again. For one, we have parameters like `max_leaf_nodes` and `max_depth` to control growth of the tree a bit.

[2016-06-30 11:44] lesteve commented on #6665
@ivan-krukov I bit the bullet today and installed an El Capitan VM. Unfortunately I can not reproduce your problem.

@Concomitant can you reproduce the error on the stand-alone example given in https://github.com/scikit-learn/scikit-learn/issues/6665#issuecomment-218365487?

[2016-06-30 12:24] lesteve commented on #6665
@jnothman it doesn't seem to be happening only on Python 3.5 only so if you could try to reproduce with Python 2.7 (snippet: https://github.com/scikit-learn/scikit-learn/issues/6665#issuecomment-218365487)

[2016-06-30 13:49] jaksmid opened #6950 "Rolling your own estimator - check estimator fails for example majority classifier"
Hi guys,

I am following the http://scikit-learn.org/stable/developers/contributing.html#rolling-your-own-estimator tutorial for implementing your own estimator.

When checking the example MajorityClassifier using check_estimator, I get an error:

[code]

The failed estimator has a comment: # check that estimators treat dtype object as numeric if possible.

I am using Python 2.7 on Mac (in virtual

[2016-06-30 14:08] lesteve commented on #6950
Readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages and code snippets.

I'll update your issue description, but try to remember to do it for next time!

[2016-06-30 15:13] pixelou commented on #6557
I would be inclined to set up pruning as a separate method. In fact, a separate function that takes a tree and returns the pruned version would be ok to begin with. This is the approach which is used in https://github.com/ajtulloch/sklearn-compiledtrees to generate optimized code for trees.

@nelson-liu With regard to the regularization options, they sometimes lead to subtrees with all nodes belon

[2016-06-30 15:48] lesteve commented on #6950
Confirmed that the example estimator doesn't pass the check_estimator test.

It seems like it is actually not that easy to pass. Even with an improved example:

[code]

* check_classifiers_classes wants needs you to have predictions with all classes that were in y_train (which the MajorityClassifier doesn't do)
* check_classifiers_train requires that you are a "good" classifier with an accuracy >=

[2016-06-30 15:55] Concomitant commented on #6665
@lesteve I can reproduce the issue.

[code]

Following the same code, however:

[code]

Bizarre.

[2016-06-30 16:16] jmschrei commented on #6557
When would you ever get a subtree with all nodes predicting the same class? You wouldn't make a split if there wasn't a gain in your criterion.

[2016-06-30 16:20] jmschrei commented on #6557
In essence, what I'd like is a 'warm start' like method for building a tree, like we have a warm start for building a random forest. You should be able choose to add a node based on its performance on the validation set. This shouldn't be terribly difficult functionally to add, the biggest issue is just the API for this. @ogrisel @glouppe  do you have any thoughts?

[2016-06-30 17:30] pixelou commented on #6557
@jmschrei
I meant that a split of 90:10 into 80:0 & 10:10 won't change the performance if the tree stops there.

[2016-07-01 00:00] nelson-liu commented on #6557
@pixelou another important thing to consider is whether we want this to be useable with `GridSearchCV`...a separate method would break that i think.

[2016-07-01 02:56] jarrydfillmore commented on #6950
+1!

[2016-07-01 07:06] pixelou commented on #6557
@nelson-liu Sorry I wasn't clear: I meant that most of the hard work is to write the pruning procedures themselve. Integration shouldn't be too hard (but I'm not the one doing it obviously :-) )

One the top of my head, I see several options for integration:
- options given to the tree constructor are then taken into account by `.fit`
- options are given to `.fit` directly
- a separate `.prune` or

[2016-07-01 07:47] rasbt commented on #6780
Yeah, typically, we add a 0.5 to the cost function so that we can cancel it out when taking the derivative s so that the "update" looks a bit "nicer". E.g., below I wrote an example for simple SSE

![screen shot 2016-07-01 at 3 39 23 am](https://cloud.githubusercontent.com/assets/5618407/16515080/d6f1b9e6-3f3d-11e6-9e9e-49fa0e7ae0a7.png)

But it practice, it really doesn't matter for training sinc

[2016-07-01 08:01] mblondel commented on #6780
It is still important that the code implements what the doc says.

[2016-07-01 12:11] TomDLT commented on #6950
We have more recent templates in [scikit-learn-contrib](https://github.com/scikit-learn-contrib/project-template/blob/master/skltemplate/template.py).
We should update the doc or link to these template.

[2016-07-01 16:58] rasbt commented on #6780
I agree; I would drop the n_samples scaling then. I haven't read all the code in detail, but I think there's another inconsistency in the docs. E.g., in the docs, it says

with SSE followed in the equation. However, in `.base.py` it's the MSE if I see it correctly:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neural_network/_base.py#L180

[code]

[2016-07-01 18:14] maniteja123 commented on #6780
Yeah, typically, we add a 0.5 to the cost function..

Sorry for my ignorance but I was thinking the 0.5  is not standard in the Regularisation term as in ``0.5 * alpha * sum of [squares]weights`` as it is done [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neural_network/multilayer_perceptron.py#L229). Please do let me know if I am understanding it wrong. Thanks.

[2016-07-01 19:32] rasbt commented on #6780
Oh but it typically is the more common form (in literature at least).
For example, if you update the weights as follows:

[code]

then you need the 0.5 to the cost function (like in the code snippet in the MLP) so that it cancels when you take the derivative, e.g., here for the logistic cost:

(I wrote it with lambda here, I assume "alpha" in the code is the regularization strength?)

![screen sho

[2016-07-01 19:37] maniteja123 commented on #6780
Thanks for the clear explanation ! Yeah, ``alpha`` is the regularisation strength ``lambda``. I understand it now. It seems indeed the code and the documentation should be made consistent.

[2016-07-01 19:45] rasbt commented on #6780
Yes, it should be "alpha/2" in the doc.

[2016-07-01 22:42] cvanwynsberghe commented on #6828
Hi!

I thought that the interest of the proposed enhancement would be more eloquent with an example, so I added one file.

The example considers a smacof minimization, with local connectivity as input data. It means that only distances between neighbours are known, and others are missing.
Without weighting, all distances must be known, thus the example could not be not solved without weighting. Ad

[2016-07-02 17:47] gaomrx opened #6952 "Confusion matrix fail to show labels"
Works without labels
![image](https://cloud.githubusercontent.com/assets/6380557/16541784/363495f4-405b-11e6-8628-9d4b25516a75.png)

No difference here except labels were added
![image](https://cloud.githubusercontent.com/assets/6380557/16541785/6d4db7fa-405b-11e6-9d1b-797d99ce6ff8.png)

[2016-07-02 18:00] nelson-liu commented on #6952
Hard to tell what's going on without some more system info, but I just tried the examples at http://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html#sklearn.metrics.confusion_matrix and they worked for me.When i changed the labels list to contain labels that were not in gold labels or the predictions, it gave me a CM of 0's. Are you sure each cell of the `age` and `r

[2016-07-02 22:49] jmschrei commented on #6557
The first option of those seems the most consistent with sklearn.

[2016-07-03 05:55] arita37 opened #6953 "Specific Cross Validation with Random Forest"
Am using Random Forest with scikit learn. RF overfits the data and prediction results are bad.

The overfit does NOT depend directly on the parameters of the RF: NBtree, Depth_Tree
Overfit happens with many different set of parameters (Tested it across grid_search).

To remedy: I tweak the initial data/ down sampling some results in order to affect the fitting (Manually pre-process noise sample).

[2016-07-03 12:57] agramfort commented on #6953
try at : http://stats.stackexchange.com/

this is not an issue/bug unless proven otherwise.

[2016-07-03 12:57] #6953 closed

[2016-07-03 20:16] dchandan opened #6955 "Store singular values in PCA instances"
Is there a particular reason why classes such as PCA, TruncatedPCA do not store the singular values as instance variables after they have been computed? It would seem useful to store them since they are already computed so that they can be later accessed if need be. One use case would be to scale the right singular vectors by their singular values. I am happy to make the changes and push if there

[2016-07-04 05:56] ixjlyons commented on #6952
Examples work for me as well. Labels passed in which are not contained in `y` end up corresponding to zero rows/cols in the confusion matrix -- it seems like this should raise an exception.

[2016-07-04 06:28] jnothman commented on #6952
I'd be happy with an exception when no labels from `y_true` appear in
`labels`

On 4 July 2016 at 15:56, Kenneth Lyons <notifications@github.com> wrote:

[2016-07-04 10:10] stefdoerr commented on #6863
Any idea when the next release will come out? The last one was on February.

[2016-07-04 10:48] jnothman commented on #6863
I've been wondering the same, actually. I think it's a discussion that should be had soon...

[2016-07-04 13:22] lesteve commented on #6955
From a quick look at it, it looks like you can compute them from the `explained_variance_` attribute.

[code]

`S` being the diagonal matrix with the singular values.

[2016-07-04 13:44] dchandan commented on #6955
True, but a few comments:

- It should be possible to access the singular values directly as a class attribute (especially since it is computed anyways) rather than indirectly
- By PCA instances i meant to include PCA, TruncatedPCA and others. While indirectly computing the singular values from PCA is straightforward using ``explained_variance_``, it is not possible (to my reading) from TruncatedP

[2016-07-04 14:35] hervegirod opened #6956 "Problems when executing Plots in 0.17.1"
We just installed a fresh 0.17.1 version of Scikit on Anaconda, and we have a very strange problem when applying the example shown on the http://scikit-learn.org/stable/auto_examples/model_selection/plot_learning_curve.html#plotting-learning-curves page. The example runs (though we have a normal warning explaining that the cross_validation.py and learning_curve.py modules are deprecated and will b

[2016-07-04 21:28] brando90 opened #6959 "Is it possible to make k++ not private method?"
#### Description

I'd like to use the k++ initilizer but not the k-means. Can that API be provided?

[2016-07-05 06:16] agramfort commented on #6959
you mean making the _k_init function public?

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/cluster/k_means_.py#L44

[2016-07-05 06:24] jnothman commented on #6956
This sounds like a problem with your matplotlib instance. You were asked
for platform information; what platform are you using?

On 5 July 2016 at 00:35, hervegirod <notifications@github.com> wrote:

[2016-07-05 07:58] hervegirod commented on #6956
We are using Anaconda 4.0.0 and the last update of matplotlib (1.5.1). We just checked, it is correctly installed...

[2016-07-05 10:03] jnothman commented on #6956
Windows? OS X? Linux?

On 5 July 2016 at 17:58, hervegirod <notifications@github.com> wrote:

[2016-07-05 11:48] hervegirod commented on #6956
It's on Windows 7

[2016-07-05 14:09] ogrisel commented on #6665
I cannot reproduce either with python 3.5.1, numpy 1.11.1, scipy 0.17.1 and scikit-learn 0.17.1 from miniconda (with MKL) on a virtualbox with OSX El Capitan. I will try on a real mac hardware later.

[2016-07-05 14:20] ogrisel commented on #6665
Also @joelkuiper and @Concomitant can you please check that you can reproduce the problem on the current state of the scikit-learn master branch?

[2016-07-05 14:49] nelson-liu commented on #6665
@lesteve and others I cannot reproduce the error with the [snippet posted earlier](https://github.com/scikit-learn/scikit-learn/issues/6665#issuecomment-218365487) on the latest master.

System info:
[code]

[2016-07-05 15:15] brando90 commented on #6959
I mean providing a public API for people to use it. I currently had to sort of hack the library to make it available to me:

import sklearn
import sklearn.cluster.k_means_
import numpy as np
#from ..utils.extmath import row_norms, squared_norm
from sklearn.utils.extmath import row_norms, squared_norm
from sklearn.utils import check_random_state

[code]

[2016-07-05 18:44] nelson-liu commented on #6959
Is there any reason why the method you pasted above doesn't work for your use case? I don't think that there's enough demand for it to modify the codebase and make it public; people who need it can just do what you did?

You could always modify your scikit-learn installation to make it public for yourself; I'm just not convinced that a change in the codebase is the best way to solve your problem

[2016-07-05 20:07] mluisada opened #6960 "Estimated precision of the weights"
I am using Bayes Ridge regression library (sklearn.linear_model.BayesianRidge). My model includes several features and I want to estimate the precision of each of the weights. The attribute that I have to use is lambda_

However, when I call lambda_, I only obtain one value, not an array of size the number of feature. How can I solve this issue?

Thank you!

[2016-07-05 20:09] agramfort commented on #6960
BayesianRidge has the same precision for all features. See ARDRegression it
could do what you want

[2016-07-05 20:15] maniteja123 commented on #6960
Hi, would it be possible to give a self contained reproducible example and any information regarding the data(only if possible) so that it would be helpful to get a better understanding of the issue. Thanks!

[2016-07-06 06:09] MechCoder opened #6961 "Issues with "set_params" in combination with "clone" in "Kernel" instances"
#### Description

I have problems in cloning a kernel after the parameters of the kernel are set using ``set_params``
I assume that this is way the kernel code has been written (logic other than the initialization in the constructor)

#### Steps/Code to Reproduce

[code]

#### Expected Results
I would expect it to clone without breaking.

[2016-07-06 06:11] MechCoder commented on #6961
Investigating this further.

[2016-07-06 06:18] jnothman commented on #6961
Problem seems to be that `RBF.__init__` is modifying its constructor parameters.

[2016-07-06 06:18] jnothman commented on #6961
(But also, why do we really need to duplicate the base `get_params` and `set_params` logic in `kernels.py`?

[2016-07-06 06:21] jnothman commented on #6961
the constructors also define derivative attributes which is a `set_params` no-no.

[2016-07-06 06:25] MechCoder commented on #6961
The way the code has been written, it is necessary to set `hyperparameter_` attributes in the constructor. Also the value of the constructor attributes are modified in `@theta.setter` (which is called for every iteration of optimization in the fit method of gaussian process.

[2016-07-06 06:36] jnothman commented on #6961
Modifying the constructor parameters in `theta.setter` needn't be a problem (although should it be using `set_params` rather than `setattr`?).

I don't think it's necessary to set all `hyperparameter_` attributes in the constructor. They could be `property`s, as long as `Kernel.hyperparameters` uses `dir(self)` rather than `self.__dict__` to get at appropriate attributes.

[2016-07-06 06:57] MechCoder commented on #6961
Yes, that should work. I'll give it a shot tomorrow.

[2016-07-06 06:59] jnothman commented on #6961
I don't know the GP code at all, but I suppose making hyperparameter access a little slower isn't going to be detrimental.

[2016-07-06 07:03] ogrisel commented on #3209
This issue was apparently [resolved by Apple in 10.9.3](http://stackoverflow.com/a/22315129/163740). Please feel free to reopen if this is not the case.

[2016-07-06 07:03] #3209 closed

[2016-07-06 07:26] ogrisel commented on #6665
I tried again on a real mac running OSX El Capitan 10.11.3 (with anaconda's latest numpy scipy and scikit-learn, same setting as reported by @Concomitant in https://github.com/scikit-learn/scikit-learn/issues/6665#issuecomment-229703129) but could not reproduce the problem either (tried running the snippet several times).

What is weird though it that the despite the `np.random.seed(1)` line I get

[2016-07-06 12:19] ogrisel commented on #6665
Actually I read @Concomitant's code snippet too quickly: instead of `random.seed(1)` it should be `np.random.seed(1)` otherwise the numpy RNG is not reseeded appropriately and one cannot get deterministic results.

[2016-07-06 12:20] ogrisel commented on #6665
Also I now realized that I read the whole discussion too quickly and that the bug only happens with python 2.7. Will try again.

[2016-07-06 12:31] ogrisel commented on #6665
I cannot reproduce either with python 2.7.12 from conda on OSX 10.11.3 either.

Actually @Ekliptor can reproduce the issue with python 3.5.1 from conda so it's probably not related to the version of Python either. Maybe it depends on the minor version of OSX. Will upgrade and retry.

[2016-07-06 13:00] ogrisel commented on #6665
I cannot replicate either with OSX 10.11.5. I tried both with Python 2.7.12 and 3.5.2 installed with conda along with numpy 1.11.1, scipy 0.17.1 and scikit-learn 0.17.1.

I don't know what to do. If one of you can reproduce the problem, please try to find a numpy random seed that trigger the issue (using `np.random.seed(my_seed)` instead of `random.seed(1)` in the above snippet) and communicate th

[2016-07-06 16:34] gaomrx commented on #6952
The lists that I used for the CM had either 0, 1, or 2 which corresponds to "young", "medium" and "old". Should I have changed the labels to something like [ 0, 1, 2] for CM to display the labels?

[2016-07-06 16:44] MechCoder commented on #6961
I tagged this with 0.18

[2016-07-06 19:53] nelson-liu commented on #6952
@gaomrx yes, that would have worked.

[2016-07-07 00:26] timabbott commented on #4164
Any progress on this issue?  It'd be really great if there was a way to use scikit-learn inside a virtualenv by including it (and whatever versions of numpy/scipy/etc. one wants) in a requirements.txt file.  Virtualenvs are a very standard way to deploy applications these days, so this is a pretty common use case.

Since there was a solution under discussion as of a few months ago, maybe it makes

[2016-07-07 00:37] taion commented on #4164
I never got a chance to work on this. I still think it should be possible/straightforward to set up a `scikit-learn[pip]` extra that has the right dependencies, especially now that pip-tools properly supports extras.

[2016-07-07 07:23] StevenLOL opened #6964 "sklearn.cross_validation LabelKFold gives warnings and erros"
Cloned sklearn today 7-7-2016

sklearn.__version__
'0.18.dev0'

[code]

There will be no problem if :
[code]

[2016-07-07 08:47] jnothman commented on #6964
What code includes `from sklearn.cross_validation import train_test_split, LabelKFold`?

[2016-07-07 10:24] HimaVarsha94 commented on #6766
Shouldn't the default value of analyzer be given in the comments as well?

[2016-07-07 14:59] StevenLOL commented on #6964
OK, I think this is not a problem as the warning message already indicate the differences of two LabelKFold method.

/usr/local/lib/python2.7/dist-packages/sklearn/cross_validation.py:43: DeprecationWarning: This module has been deprecated in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are d

[2016-07-07 14:59] #6964 closed

[2016-07-08 12:21] yegulalp commented on #5058
This problem also breaks GradientBoostingRegressor when the optional init param is used with a regressor which returns ndim == 1 predictions:

X = np.random.randn(100, 5)
y = np.random.randn(100)
model = GradientBoostingRegressor(init=DecisionTreeRegressor())
model.fit(X, y)

Traceback (most recent call last):
  File "C:\Users\yegulalp\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\cor

[2016-07-08 13:29] mfeurer opened #6967 "Add column selector to Imputer"
Currently, the `Imputer` works on columns. Let's assume I have a dataset with mixed categorical and numerical data points and missing values and I want to use the pipeline object:

[code]

If I now try to use imputation, I can only choose a single strategy for both data types:

[code]

which would result in a more or less random value being picked for the missing value of the continuous feature:

[2016-07-08 14:26] raghavrv commented on #6967
I think it would be a good idea to add a column selector, `impute_features` maybe. @jnothman @agramfort @amueller thoughts?

[2016-07-08 15:20] mfeurer commented on #6967
I just found that the same issue could also be handled as in this [example](http://scikit-learn.org/stable/auto_examples/hetero_feature_union.html#example-hetero-feature-union-py) or by waiting for #2034. This is probably the more general way to go?

[2016-07-08 18:29] amueller commented on #6746
Also I don't understand what happened in #6749 at all.

[2016-07-08 18:31] williamsmj opened #6968 "No module named 'sklearn.exceptions'"
#### Description
No module named 'sklearn.exceptions'

#### Steps/Code to Reproduce
Tried on both Linux and OS X, and with both virtualenv and anaconda:

`pip install scikit-learn` (or `pip install --no-use-wheel scikit-learn`, or `conda install scikit-learn`), then `from sklearn.exceptions import NotFittedError`

#### Expected Results

`sklearn.exceptions` is imported, per e.g. http://scikit-lear

[2016-07-08 18:40] nelson-liu commented on #6968
the `exceptions`module isn't in 0.17.1 Notice that the URL of the docs you link to have "dev" in them, indicating that theyre for `version 0.18.dev0`. You have version `0.17.1`, so you should install scikit-learn from the `master` branch of this repo (e.g. [with pip](http://stackoverflow.com/questions/8247605/configuring-so-that-pip-install-can-work-from-github) or [with setup,py](http://scikit-le

[2016-07-08 18:42] williamsmj commented on #6968
Ah, of course!

Is there any way to access the exceptions defined by sklearn without upgrading to unstable code?

[2016-07-08 18:50] amueller opened #6969 "Mutual info example not showing at the bottom if the api"
Mutual info example not showing at the bottom if the api:
http://scikit-learn.org/dev/modules/generated/sklearn.feature_selection.mutual_info_classif.html

That should be automatically added, right? Not sure what went wrong there.

[2016-07-08 18:53] maniteja123 commented on #6968
I suppose some of the base exceptions are in [utils.validation.py](https://github.com/scikit-learn/scikit-learn/blob/0.17.X/sklearn/utils/validation.py) while the others are inheriting them like [NeighborsWarning](https://github.com/scikit-learn/scikit-learn/blob/0.17.X/sklearn/neighbors/base.py). They probably should be accessible. Cheers.

[2016-07-08 19:58] nelson-liu commented on #6968
@williamsmj Also, I wouldn't say that just because it's in the 'dev' version, it is "unstable" or anything. The code pushed to  master passes the same test suite that 0.17.1 does, it's just that there's been no release since the code was added.

[2016-07-08 21:17] williamsmj commented on #6968
Understood, but I'm in an environment where I need to deploy tagged releases rather than track master.

[2016-07-09 01:55] ilkerhk commented on #5046
I was getting the same error. Alternative to removing MKL switching to earlier cvxopt built also solved the issue for me :

conda install cvxopt=1.1.8=py35_0

[2016-07-09 10:21] jnothman commented on #6967
I'm somewhat ambivalent about this for that reason. It would be lovely to see something like #3886 merged.

[2016-07-09 10:25] jnothman commented on #6969
I'm getting nothing for `git grep mutual_info_classif examples`. What example?

[2016-07-09 14:19] vharavu commented on #6523
@mechCoder - I have made a PR #6970
Pls take a look and merge.
Thanks.

[2016-07-09 16:53] betatim commented on #6956
The script should continue running till you close the windows it opens. So that is expected. For me sometimes `matplotlib` windows don't come to the foreground so you do not see them. Could you double check for that?

[2016-07-09 22:38] MechCoder commented on #6959
I would actually be in favour of making it public. Sometimes just running the "kmeans++" algorithm is sufficient to get the centroids without any further updates. (And in this specific case it takes very less effort)

[2016-07-09 22:42] brando90 commented on #6959
I dont even understand why its not available publicly in the first place. k++ is about choosing data points, an initialization, its used in k++ but it could be used separately too. Regardless, I hacked the library to get it, and its on SO, so people can use it.

[2016-07-09 22:44] MechCoder commented on #6959
PR always welcome :-)

[2016-07-09 22:58] MechCoder commented on #6959
Alternatively, we could also allow `max_iter=0`.

[2016-07-09 23:50] brando90 commented on #6959
yes, that would be very simple. :D

[2016-07-10 01:11] VedAustin commented on #5953
I am continuing to have problems in downloading the data .. receiving 404 error. Appreciate any help!

[code]

[2016-07-10 02:12] jnothman commented on #5953
We have not released scikit-learn since this was fixed. You can use the
development version.

On 10 July 2016 at 11:11, VedAustin <notifications@github.com> wrote:

[2016-07-10 05:44] arita37 opened #6971 "New Feature: Constraints Decision Tree / Random Forest"
#### Description
  We need sometimes to constraint the feature selection at each node when building a decision tree.
  Reasons:
      Data is mainly noise (40% noise) --> Selected feature will overfit the noise....(OOB too !)
      Some features are related to physical constraints (physical hierarchy) of a system.
      Search space of the feature is too large + Too many noise in data such as

[2016-07-10 20:46] amueller opened #6972 "HashingVectorizer uses l2 norm, Countvectorizer doesn't. Thats confusing"
Maybe we should add normalize to CountVectorizer? I'm not sure. I think it is very counterintuitive that HashingVectorizer is not a plug-in replacement for CountVectorizer.

[2016-07-11 05:00] glouppe commented on #6971
Hi! Thanks for the suggestion. However, we only implement well-established algorithms (or variants) in scikit-learn. While your approach makes sense, it would need extensive validation before being considered for inclusion.

[2016-07-11 05:00] #6971 closed

[2016-07-11 07:56] jinyu0310 opened #6974 "How to add/remove data points to/from a scikit-learn KD-Tree？"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2016-07-11 07:57] mfeurer commented on #6967
What about adding the ItemSelector from the example to scikit-learn until #3886 is merged instead?  The code is already there and would prevent people from duplicating code if they want to achieve what's done in the example.

[2016-07-11 08:55] DarthVi opened #6975 "TypeError: can't pickle _thread.lock objects"
#### Description

Hi guys,
I'm trying to use GridSearchCV to test some parameters for the pipeline made up of CountVectorizer, TfidfTransformer and svm.LinearSVC.
Everything works fine if I use n_jobs=1 for GridSearchCV, but I wanted to speed up the process by using n_jobs=-1, which however does not work as expected, since I get the error "TypeError: can't pickle _thread.lock objects". I googled e

[2016-07-11 09:14] #6968 closed

[2016-07-11 09:43] jnothman commented on #6974
Can't be done.

[2016-07-11 09:43] #6974 closed

[2016-07-11 10:15] arita37 commented on #6971
Hello,

Understand.
Think it would be higly dependent to the problem type (signal to noise ratio in the data).

1) Current way is we have to put
a fixed selected number of Input.
(We need to pre-process manually....)

Having more flexibility on the feature
selection/customization (reducing the search space....) would be easier

2)  What am currently doing is :
    Run Monte-Carlo style with RF,
ho

[2016-07-11 11:16] Ekliptor commented on #6665
I can confirm the issue is fixed with the latest version. I can not reproduce it anymore as before.
I only updated numpy:
numpy.version.version 1.11.1

To all people working with Tensorflow I can add:
When I try to plot a very small sample (< 200 points) I sometimes still run into this error. After increasing the sample size I pass into tsne.fit_transform() always works.

[2016-07-11 11:59] ogrisel commented on #6665
Thanks @Ekliptor for checking that it works with scikit-learn master. @joelkuiper and @Concomitant do you confirm that scikit-learn master also work for you? If so we can close this issue.

[2016-07-11 13:50] Concomitant commented on #6665
I installed master, the code snippet runs cleanly now.

[2016-07-11 17:11] shubhankar90 opened #6977 "[new feature] Addition of user supplied parametric model fitting."
Hi,

I would like to propose the addition of a module for fitting user supplied parametric model structure to data.

I have created a class mimicking scikit-learn api structure which basically uses scipy.optimize.least_squares to find the parameter values for fitting the user supplied model.

Let me know if this would be a welcome addition to scikit-learn.

[2016-07-11 18:09] VedAustin commented on #5953
Ok. thanks!

[2016-07-11 19:51] ericfrederich commented on #5489
This still fails even on the master branch.  Any chances of getting this fixed before the next release?
I'd like to just put scikit-learn in my requirements.txt file but as it is right now I have to manually download and change cblas to satlas.

[2016-07-12 08:16] ogrisel commented on #6258
Fixed by #6324. The joblib error message should still be improved but the scikit-learn specific problem is fixed.

[2016-07-12 08:16] #6258 closed

[2016-07-13 01:43] gojomo opened #6980 "metrics.brier_score_loss() fails if y_true all one label"
#### Description

`sklearn.metrics.brier_score_loss` fails with a ValueError at the check...

https://github.com/scikit-learn/scikit-learn/blob/d6c479fc63c49c8bb71229e74d7d9da3e5efd1eb/sklearn/metrics/classification.py#L1763

...if the `y_true`  target values are all the same. But this should work: the Brier score is still defined/calculable in such cases.

#### Steps/Code to Reproduce

Either of

[2016-07-13 02:16] jnothman opened #6981 "check_estimator should allow for binary-only classification"
Currently `check_estimator` requires that if binary classification is supported, multiclass classification must also be supported. Perhaps this is not a sensible constraint for contrib projects (see https://github.com/scikit-learn-contrib/scikit-learn-contrib/issues/7).

This may be an appropriate subject for tags (#6599). See also #6715.

[2016-07-13 02:37] mblondel commented on #6981
For the multi-class case, we could check that either fit works properly or an exception is raised. In other words, if a contrib project doesn't support multiclass, it needs to raise an exception if `np.unique(y) >= 3`.

[2016-07-13 07:43] agramfort commented on #6980
can you open a PR with a test? thx

[2016-07-13 08:58] HimaVarsha94 opened #6983 "Vectorizer using Skipgrams"
Can we have a vectorizer which uses skipgrams? I often use it in my projects and it would be great if it is implemented. What if for instance, TfidfVectorizer can either work with ngrams or skipgrams based on the argument passed? (maybe add another word in 'analyzer' to accomomodate skipgrams? )

[2016-07-13 13:56] ektormak opened #6986 "several issues with Dictionary Learning implementation"
Regarding the sklearn.decomposition.dict_learning.py module:

1. currently, both the DictionaryLearning and MiniBatchDictionaryLearning classes only support LARS and Coordinate Descent algorithms for Sparse Coding when learning the dictionary (through the fit_algorithm argument). However, the Online Dictionary Learning algorithm of Mairal et al, can also be used with zero-norm sparse coders (e.g O

[2016-07-13 14:16] agramfort commented on #6986
2 is fine with me

for 1 I would have the see the diff / API change it involves.

[2016-07-13 17:16] gojomo commented on #6980
@agramfort – Done; any way to have the CI trigger the failure from my fork's branch (or does that only happen on the main project branch's PRs)?

[2016-07-13 19:01] vene commented on #6981
The difficulty comes from the fact that currently a ton of common tests have a multiclass y.

We would need to change all these tests to binary, and add a new common test for classifiers that acts as @mblondel suggests.

Does this sound like a right approach? In a way, changing the existing tests to binary makes them weaker, but their point was never to check multiclass support anyway.

[2016-07-13 19:54] agramfort commented on #6980
yes you need to open a PR that points to this issue

[2016-07-13 20:42] #6952 closed

[2016-07-13 21:26] #6523 closed

[2016-07-13 21:38] gojomo commented on #6980
What is missing from the PR I'd previously created? (There's a reference to #6980 in the description that github picked up and inserted inline above; I've also added a reference in the PR title.)

[2016-07-13 21:51] arita37 opened #6988 "New Feature: CART Oblique Decision Tree"
Hello,

Just wondering, if there is a way to get OBlique decision Tree in Scikit Learn.
Here, some references :

https://computation.llnl.gov/casc/sapphire/dtrees/oc1.html

[2016-07-14 06:02] jnothman commented on #6599
Perhaps we should resolve to one-by-one remove estimators from `sklearn.utils.testing.DONT_TEST`!

[2016-07-14 18:25] matt-carter commented on #4164
Seconding @timabbott.

[2016-07-14 20:27] taion commented on #4164
PR up at https://github.com/scikit-learn/scikit-learn/pull/6990. It's a very straightforward change.

[2016-07-15 10:32] mirosval opened #6993 "Estimator serialisation for preprocessing reconstruction in production"
I posted this to the mailing list, but I got no response, so I will try here as well.

I have been using scikit-learn for a while, but I have run into a problem that does not seem to have any good solutions.

Basically I would like to:

- build my pipeline in a Jupyter Notebook
- persist it (to json or hdf5)
- load it in production and execute the prediction there

The problem is that for persisti

[2016-07-15 14:50] Dandandan opened #6994 "MLPClassifier crashes on partial_fit (classes is not used properly)"
#### Description
When trying to use the MLPClassifier for out of core learning, the code crashed. It crashes when computing the loss function for the current minibatch when using `partial_fit`.
I added a small example below to reproduce this issue.

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results
Code runs without crash.

#### Actual Results
[code]
#### Versions

Latest develop

[2016-07-15 15:20] leonidbl91 opened #6995 "MDS with weights"
Why the MDS that is supplied does not supports weights in addition to the dissimilarity matrix?

[2016-07-15 17:38] gojomo commented on #6980
Minimal fix applied: tolerate 1-element `labels` (which `label_binarize()` tolerates just fine) – only throwing ValueError for more-than-2 labels. PR renamed with prefix `[MRG] `.

[2016-07-15 19:20] amueller opened #6996 "DOC be more explicit about tfidf-formula"
The actual formula used in our tf-idf formulation is somewhat non-obvious #2998 #4391. For now, I think it would be good to be more explicit about what is actually computed, both in the user guide and in the docstring itself.

[2016-07-15 19:24] nelson-liu commented on #6996
seems like there was a PR addressing part of the issue at https://github.com/scikit-learn/scikit-learn/pull/6839, but it was closed by the author

[2016-07-15 21:56] amueller opened #6997 "Change the default method of LDA to batch."
The stochastic method usually yields much worse results, we should default to batch.

[2016-07-15 22:03] amueller commented on #6796
Fixed in #6966

[2016-07-15 22:03] #6796 closed

[2016-07-15 22:12] amueller commented on #6126
If anyone in the sprint wants to work on this, please check the error in #6141 and see if you can figure out where it comes from.

[2016-07-15 22:23] doshyt commented on #6997
I'll work on it

[2016-07-15 22:27] amueller opened #6998 "Warning about DPGMM and VBGMM on instantiation"
DPGMM and VBGMM are broken. We should warn users if they try to use them. We should have done that a while ago :-/

[2016-07-15 22:29] amueller commented on #6994
Thanks for the report.

[2016-07-15 22:29] amueller commented on #6981
It would be best to solve that with tags, but we can check for a specific error message fo rnow maybe?

[2016-07-15 22:31] amueller commented on #6969
whoops it was regression http://scikit-learn.org/dev/modules/generated/sklearn.feature_selection.mutual_info_regression.html#sklearn.feature_selection.mutual_info_regression

[2016-07-15 22:31] #6969 closed

[2016-07-15 22:32] amueller commented on #6961
btw, I reported this in #5549

[2016-07-15 22:41] amueller commented on #6808
fixed in  #6811

[2016-07-15 22:41] #6808 closed

[2016-07-15 23:38] afvincent commented on #6995
I don't know much about MDS, but wouldn't this issue be related to #6828 (and the ad-hoc PR)?

[2016-07-16 00:25] rasbt commented on #6996
Yeah, the Tf-idf is a tricky one ... I tried to reproduce the results ~1 year ago and got different results so that I looked a bit closer at the code at that time. I just found an older write-up based on that which may be useful as a template (for the equations) -- given that nothing has changed 'til then: http://nbviewer.jupyter.org/github/rasbt/pattern_classification/blob/master/machine_learning

[2016-07-16 02:30] nelson-liu opened #7000 "Broken Links in Docs"
#### Description
Just ran a `make linkcheck` on the docs, and found quite a few that were broken. Results can be found here: https://gist.github.com/nelson-liu/ec9993a5461cb06430637d820d5c4ffa

#### Steps/Code to Reproduce
Run `make linkcheck` in the `docs/` directory.

#### Expected Results
No broken links would be nice :)

#### Actual Results
A slew of broken links (ctrl+f "Broken"). Use grep to

[2016-07-16 06:43] agramfort commented on #7000
PR welcome

On Sat, Jul 16, 2016 at 4:30 AM, Nelson Liu <notifications@github.com>
wrote:

[2016-07-16 08:08] #6906 closed

[2016-07-16 08:34] leonidbl91 commented on #6995
It is exactly it ! Waiting for the pull request the be merged.

On Sat, Jul 16, 2016 at 2:39 AM, Adrien F. Vincent <notifications@github.com

[2016-07-16 09:14] cvanwynsberghe commented on #6995
@jnothman @NelleV is there any news about the reviewing of #6836?

[2016-07-16 12:03] nelson-liu commented on #7000
Tree has kept me busy :) figured that I'd report it and maybe a new contributor looking for something to do might use it to get familiar with work flow

[2016-07-16 14:20] nateGeorge commented on #7000
I'll give a crack at it.  Maybe I should make a separate PR for commit formatting.  For example, pandas and Udacity have some nice formatting guidelines:
https://udacity.github.io/git-styleguide/
http://pandas.pydata.org/pandas-docs/stable/contributing.html#committing-your-code

[2016-07-16 14:26] nelson-liu commented on #7000
@nateGeorge thanks. is there any way for github to enforce commit formats?

[2016-07-16 14:45] jnothman commented on #6993
You got responses. You posted to a defunct mailing list. See https://mail.python.org/pipermail/scikit-learn/2016-July/000248.html and send further correspondence to that list.

[2016-07-16 14:45] #6993 closed

[2016-07-16 14:49] juliathebrave commented on #6998
I will work on this.

[2016-07-16 14:49] nateGeorge commented on #7000
Not that I know of.

[2016-07-16 14:50] nelson-liu commented on #7000
ah ok. are you at the sprint? I feel like we haven't had a uniform standard for commit formatting, but that hasn't really been seen as an issue?

[2016-07-16 14:54] amueller commented on #7000
We do sometimes use the shorthands that are defined in the pandas docs, but there is no strict rules

[2016-07-16 14:54] amueller commented on #6998
Thanks :)

[2016-07-16 14:55] nateGeorge commented on #7000
I was not there.  Yeah I noticed some pulls follow the pandas format, others not.

[2016-07-16 14:57] amueller commented on #6892
Cool. I would maybe be nice to have a short example for this, as I think it'll be useful. Maybe just add it to the user guide or to the usage example in the docstring

[2016-07-16 15:05] amueller opened #7002 "Add deprecation cycle time to docs"
The contributor docs on deprecations could do with some improvements:
http://scikit-learn.org/dev/developers/contributing.html#deprecation

The deprecation warning should *always* give both the version in which the change will happen, as well as the version in which the deprecation happened, like
[code]
We should also add a note on what the deprecation cycle is, in particular since I'm prone to on

[2016-07-16 15:07] dhanus commented on #6894
I've got this one.

[2016-07-16 15:09] amueller commented on #6815
I think we should add this to the authors file and the FAQ.

[2016-07-16 15:10] amueller commented on #6815
Say "don't contact authors, use mailing list or stackoverflow". I assume the best of people, meaning they don't know not to contact you. So telling them (on the website) would be nice.

[2016-07-16 15:13] bwallin commented on #6830
Ill choose you for my first issue of Scipy 2016 sprint!

[2016-07-16 15:14] amueller commented on #6996
thanks, yeah that's a good reference. I would add a shorter version of that to the  docstring and the user guide

[2016-07-16 15:17] eyc88 commented on #6895
I'll pick this one

[2016-07-16 15:17] amueller commented on #6830
Be sure to use the deprecation mechanism: http://scikit-learn.org/dev/developers/contributing.html#deprecation

[2016-07-16 15:19] willingc opened #7003 "Work with core team to edit README for new contributors"
#### Description

Reorganize README content to help make the project more welcoming to new contributors

cc @amueller

[2016-07-16 15:23] amueller commented on #7003
Very happy to help with that!

[2016-07-16 15:26] amueller commented on #6895
please try coordinating with @dhanus as you'll be working on the same code.

[2016-07-16 15:26] amueller commented on #6894
Also see #6895

[2016-07-16 15:26] amueller commented on #6894
please coordinate with @eyc88

[2016-07-16 15:29] raghavrv commented on #7003
It would be nice to have any suggestions on what seems to be missing (from a newbie perspective).

[2016-07-16 15:53] amueller commented on #7003
@willingc let me know when would be a good time for you to work on this.

[2016-07-16 15:55] amueller opened #7004 "Remove "git clone" from master comment from the readme"
I don't think the remark about cloning from master in the readme is helpful.
Hopefully anyone with write privilege knows how they would go about doing that and won't do that (as it makes the main master the default remote)

[2016-07-16 16:06] amueller commented on #6995
closing as duplicate of #6828

[2016-07-16 16:06] #6995 closed

[2016-07-16 16:06] nateGeorge commented on #7000
Some of the links labeled 'broken' work when I visit them.  The citeseerx.ist.psu.edu domain seems to work even though the test says it doesn't.  Also, it sometimes thinks there is an anchor if there's a '#' in the end of the url, even if there is no anchor.  These urls work for me, even though they're labeled 'broken':

http://www.frs-fnrs.be/
http://www.microsoft.com/en-us/download/details.aspx?

[2016-07-16 16:11] amueller commented on #6616
Adding the modules to classes.rst and going through the docstrings would be a good task for the sprint. I would start with a PR with everything that is currently directly in the "utils" module, either because they are implemented there or because they are imported.

[2016-07-16 16:15] nateGeorge commented on #7000
So to test I just run `make linkcheck` in the docs/ dir?  Because I'm getting a very different looking output than your gist.

[2016-07-16 16:17] nelson-liu commented on #7000
yes. i truncated and cleaned up the output a bit, but if you find more things wrong on your side please feel free to fix :)

[2016-07-16 16:23] rasbt commented on #6996
Okay, let me work on this one then ...

[2016-07-16 16:27] chriskaschner commented on #6746
I'm currently working on this one.

[2016-07-16 16:32] tguillemot opened #7006 "Too much warnings during the testing process"
#### Description

There are a lot of warnings launched during the test process.
@TomDLT have cleaned those messages a long time ago but there are a some new warnings.
It's not an easy task but it could be cool to clean all those warnings.

[2016-07-16 16:35] jrfiedler commented on #7002
I'll take this.

[2016-07-16 16:37] amueller commented on #7002
thanks :)

[2016-07-16 16:37] btabibian commented on #6865
I will be fixing this.

[2016-07-16 16:39] amueller commented on #7002
damn it's actually x+3. Sorry about that.

[2016-07-16 16:41] willingc commented on #7003
@amueller How about after lunch? I'm in room 103.

Some researched materials on high-quality readmes:
- https://github.com/ddbeck/readme-checklist project
- https://github.com/ddbeck/readme-checklist/blob/master/checklist.md checklist template

Requests has a good and straightforward example too https://github.com/kennethreitz/requests

@raghavrv I think that the information is basically there. Li

[2016-07-16 16:46] amueller commented on #6980
Fixed in #6987

[2016-07-16 16:46] #6980 closed

[2016-07-16 16:58] jrfiedler commented on #7002
If it's x+3, does that mean the message above should be

    warnings.warn("'k' was renamed to n_clusters in version 0.13 and will "
                  "be removed in 0.16.",
                  DeprecationWarning)

changing 0.15 to 0.16? Or do you just mean that the change must have happened in 0.12 stable and 0.13-dev, and so the removal version is 0.(12 + 3) = 0.15?

[2016-07-16 17:01] #6865 closed

[2016-07-16 17:05] manu-chroma commented on #6670
Hey, I'd be willing to take this one up.

[2016-07-16 17:14] btabibian commented on #6815
@amueller Would be reasonable to add a line before every `Author: [Name] <[Email>`?

[2016-07-16 17:25] raghavrv commented on #6815
By author's file @amueller mean't [this one](https://github.com/scikit-learn/scikit-learn/blob/master/AUTHORS.rst).

[2016-07-16 17:28] raghavrv commented on #6815
Stack overflow is the best for user questions.

1. Searchability 2. There will be a wide community of scikit users themselves who might have had the same issue.

[2016-07-16 17:30] adantra commented on #7004
I will remove that line

[2016-07-16 17:59] nelson-liu commented on #6746
@amueller @chriskaschner I can't reproduce the message with the code snippet above (pasted below for convenience)
[code]

[2016-07-16 18:06] dhanus commented on #5663
@amueller @TomDLT  I think this issue can be closed.

[2016-07-16 19:51] amueller commented on #5663
@dhanus thanks :)

[2016-07-16 19:51] #5663 closed

[2016-07-16 19:57] nelson-liu commented on #7002
@jrfiedler the message should indicate removal in 0.15. The change happened while 0.12 was stable, thus in 0.13-dev. Thus, add 2 versions to 0.13 to get 0.15.

[2016-07-16 20:11] jrfiedler commented on #7002
Got it. Thanks.

[2016-07-16 20:22] laegrim commented on #6994
@pambot Took a look at this, but could use a sanity check for the fix

[2016-07-16 20:25] dhanus commented on #7006
I've got this one (or at least have started it).

[2016-07-16 20:26] tguillemot commented on #7006
@dhanus Thanks.

[2016-07-16 20:50] amueller commented on #7004
closed by #7009

[2016-07-16 20:50] #7004 closed

[2016-07-16 20:52] laegrim opened #7016 "sklearn.neural_network.tests.test_mlp.test_multilabel_classification fails in nosetests"
**Descripton**

The multilabel classification test fails, and should pass.

**Steps to Reproduce**

nosetests -v sklearn/neural_network/tests/test_mlp.py

where the failing code in question is:

`X, y = make_multilabel_classification(n_samples=50, random_state=0,
                                          return_indicator=True)
 mlp = MLPClassifier(algorithm='l-bfgs', hidden_layer_sizes=50, alpha=1

[2016-07-16 20:52] #6389 closed

[2016-07-16 20:53] amueller commented on #7002
fixed in #7013

[2016-07-16 20:53] #7002 closed

[2016-07-16 20:54] nelson-liu commented on #7016
I cannot reproduce this

[code]

[2016-07-16 20:55] amueller commented on #7016
Hey @laegrim. These are failing in your branch because of the change you made, right?

[2016-07-16 21:08] #7003 closed

[2016-07-16 21:17] amueller opened #7019 "Remove sentence about not installing numpy via pip"
I think with anylinux it's now fine to install numpy and scipy using pip, so we should remove that sentence from the install documentation. ping @GaelVaroquaux

[2016-07-16 21:44] amueller opened #7021 "Reformat version info and cite-us boxes in user guide"
They are pretty text heavy. Maybe have a bold "cite us" at the beginning and a bold version thing. The font is very small and it doesn't really pop out. Also the line is broken in both the version and the cite us link.

[2016-07-16 21:45] amueller opened #7023 "Add "installation" section to the documentation overview page."
Add an additional "installation" link / box on the documentation overview page.
Because people might look for installation in the documentation.

[2016-07-16 21:50] willingc commented on #7023
Addressed PR #7018

[2016-07-16 21:57] amueller commented on #7023
I think this is a different issue. What I meant here was to add an entry on this page:
http://scikit-learn.org/dev/documentation.html

because you said someone might not see the installation entry in the menu at the top.

[2016-07-16 22:21] #7016 closed

[2016-07-16 22:21] willingc commented on #7023
Ahh... got it. Not addressed in PR #7018

[2016-07-16 22:42] amueller commented on #6746
@nelson-liu that's interesting... on master?

[2016-07-16 22:51] jrfiedler commented on #6950
I'm not sure which of these is a satisfactory solution: a) reworking the current example, b) a new example, or c) linking to an external example. If b) is fine, here's a small example that passes `check_estimator`.

    import numpy as np
    from sklearn.base import BaseEstimator, RegressorMixin
    from sklearn.utils import check_X_y, check_array
    from sklearn.utils.validation import check_is

[2016-07-16 22:54] nelson-liu commented on #6950
@jrfiedler i think @kjacks21 is already working on the issue

[2016-07-16 22:54] kjacks21 commented on #6950
Yes, I am working on this. Sorry for not mentioning it. Expect a PR soon.

[2016-07-16 23:02] nelson-liu commented on #6746
oops, it's showing up now. So in the previous PR https://github.com/scikit-learn/scikit-learn/pull/6749/files#diff-ce89de6ba5554a75729d37eca95fc24dR366 things were switched. In the implementation there, we warn the user if they specifically pass in a value for `n_iter` and then change n_iter regardless if it is specified or not.

In reality, what we want to do is warn the user if they do not pass

[2016-07-16 23:04] amueller commented on #6746
exactly

[2016-07-16 23:24] jrfiedler commented on #6950
Might be too late, but I noticed a few things that could be edited in the [following subsection](http://scikit-learn.org/stable/developers/contributing.html#get-params-and-set-params). I'm noting it here in case it makes sense to put it in the same PR. Some of this is sorta just my opinion about wording.

1. First sentence, change "estimator" to "estimators" (pluralize)

[I'll edit this to add mor

[2016-07-16 23:25] nelson-liu commented on #6950
@jrfiedler there's a PR solving this issue at #7025 but the change you noted should go in a separate PR; feel free to open one :)

[2016-07-16 23:28] jrfiedler commented on #6950
Ok, I'll open a new PR.

[2016-07-17 03:04] jnothman commented on #6892
NLTK is a mixed bag of tools. People will or will not use it for different things. Certainly it has seen a recentish resurgence in development of some parts.

Generally not splitting on apostrophes is not a great idea from the perspective of NLP/IR. Apostrophes often serve as quotation marks as well as indicators of abbreviations and the possessive enclitic. Penn TreeBank tokenisation, which is st

[2016-07-17 03:15] ministrike3 commented on #7023
I got this; ill do it right now or within 24 hours at the most!

[2016-07-17 03:16] ministrike3 commented on #7021
Ill fix this! Probably will take me 24 hours or so!

[2016-07-17 04:53] jnothman commented on #6670
Thanks, @manu-chroma. I suppose you can continue on from #6704 then consider other loaders.

[2016-07-17 14:48] amueller commented on #6829
This one is still open for the sprint.

[2016-07-17 14:50] amueller commented on #6670
Sprinters: You can add this to other functions of the form ``load_`` from the dataset module, like ``load_boston`` and ``load_digits`` etc.

[2016-07-17 14:51] amueller commented on #6514
fixed in #6748

[2016-07-17 14:51] #6514 closed

[2016-07-17 14:51] amueller commented on #6616
@tguillemot is someone working on this?

[2016-07-17 14:54] amueller commented on #4077
Ok maybe a silly question but why not add it as dependency?

[2016-07-17 14:58] #2040 closed

[2016-07-17 14:59] amueller commented on #2038
no longer relevant.

[2016-07-17 14:59] #2038 closed

[2016-07-17 15:04] amueller commented on #5905
I think we should not mess with this any more, and add scipy and numpy as dependencies. There is no problem with ``pip install numpy scipy`` any more. It gives you OpenBLAS binaries. It's great. People should be able to ``pip install scikit-learn``.
Making that difficult for people (for no reason) only means people will go to conda faster.

[2016-07-17 15:11] amueller commented on #6599
yes, that variable needs to go.
I would like to add annotation that is more semantic than "don't test this".
regression vs classification is already encoded in the class hierarchy, but maybe we might want to code it again?
I would definitely like to see something that tells us sparse and dense support, possibly existence of predict_proba and decision function (which are tricky), and restrictions t

[2016-07-17 15:15] tguillemot commented on #6616
@amueller Nope

[2016-07-17 15:23] amueller commented on #6599
with the categorical variables in trees soon, we might also want to indicate support for that.

[2016-07-17 15:25] amueller opened #7029 "Change biclustering API to accept data X"
The biclustering module currently takes an affinity matrix to fit. I think we should change that API to accepting a data matrix. We did something similar with the clustering algorithms for a more uniform API. We need to introduce a "precomputed" parameter and some default way to compute the affinity matrix, which could just be the dot product. If this is not a good one, maybe use RBF...

[2016-07-17 16:30] NickleDave commented on #6815
Attempting to add this.
Will be something like the following, if wording looks ok:

Please do not contact the authors directly with bug reports or feature requests.
To address those concerns, make use of the mailing list. If you are not sure
whether you have a found a bug, or you have a more general question about
machine learning, please consult 'Stack Overflow <http://stackoverflow.com>'
or 'Cro

[2016-07-17 16:59] manu-chroma commented on #6670
Sure, I'll just put a PR very similar to this one https://github.com/scikit-learn/scikit-learn/pull/6704

Once through with it, I'll implement the same for other modules you mentioned.

[2016-07-17 17:19] amueller commented on #6815
I would say "please do not email any authors directly" instead of "contact authors directly". It's fine to ping them on the issue tracker or something like that, I think. Personal emails are out of bounds, though.

Maybe in the FAQ put "What's the best way to ask questions about scikit-learn?" and also add in something about the mailing list and the issue tracker, but make the first sentence of yo

[2016-07-17 17:22] amueller commented on #6815
The tone of the FAQ should be helpful and first give all the helpful resources before the email part.

[2016-07-17 18:42] chriskaschner commented on #6746
@nelson-liu

I think this is doing what we want.  This PR only changes behavior when a user is running PCA and has not specified an `iterated_power`.  In that scenario, the default value of `None` is passed to `randomized_svd` which uses the logic implemented in PR #6749 to skip the warning about changing `n_iter`.

I believe this matches your description of the desired behaviour.

Before this, a

[2016-07-17 19:09] nelson-liu commented on #6746
Hmm, actually i think the logic in #6749 is backwards. we want to be warning them when `n_iter` is not specified, and not warn them when it is. Right now, it does the opposite (warns them when it is specified, and and does not warn them when it is not). it also sets `n_iter` to 7 in all scenarios, even overriding user input which is another problem unto itself.

I see what you're saying about PCA,

[2016-07-17 20:47] cristinacaputo commented on #6848
Hi Agamemnon,

I am currently looking at this issue. I agree with you that there is a bug but I do not think it is related to adding the constant 1. I think that the code for LDA works fine for dataset with two classes but it uses an incorrect formula for three or more classes. Do you mind sharing your MATLAB's results for the Iris dataset? A Gist would be great.

Thanks.

[2016-07-17 20:48] #6998 closed

[2016-07-17 23:20] gaomrx commented on #6192
When I trained DBSCAN with only two types of labels, I end up getting more than two clusters with a test set. Am I mistaking something?

[2016-07-17 23:34] ministrike3 commented on #7021
Hey amueller, You are talking about the webpage that comes up when you google Scikit learn user guide, right?
<img width="671" alt="screen shot 2016-07-17 at 4 33 28 pm" src="https://cloud.githubusercontent.com/assets/10123303/16903780/4cea09a4-4c3c-11e6-920b-a0a013a402bb.png">

[2016-07-18 01:12] gaomrx commented on #6775
I am running into a similar problem as OP. To make my life easier, I wrote a function to automate grid search as follows:
![image](https://cloud.githubusercontent.com/assets/6380557/16904377/bb70d06c-4c62-11e6-950a-163013fb00f7.png)

When I try to tune KNN, this is what I got:

![image](https://cloud.githubusercontent.com/assets/6380557/16904385/e61c99fe-4c62-11e6-8d52-0f49d1aba7ba.png)

The last

[2016-07-18 01:23] jnothman commented on #6775
The correct function signature if a function is passed to scoring is `func(estimator, array X, array y) -> float score`. You've passed in a metric, whose signature is `func(array y_true, array y_pred) -> float score`. Does that make the error make sense?

[2016-07-18 01:26] chriskaschner commented on #6746
@nelson-liu  and I reviewed this again today, some notes from our discussion

There's some contradictory info that we could use some help with @amueller
- There[ was a discussion here](https://github.com/scikit-learn/scikit-learn/pull/6749/files#r70119135) about raising an error when a value for `n_iter` is NOT specified
- There is the current PR #7010 to raise an error only when a value for `n_it

[2016-07-18 01:35] gaomrx commented on #6775
Yes, I resolved the original error by passing in, for instance 'f1', for the input scoring of the function. I will stick to that signature to avoid confusion. Thanks.

[2016-07-18 01:41] jnothman commented on #6775
@SeanBE, what do you think of #7040?

[2016-07-18 02:26] arcolife commented on #6829
@amueller i had already submitted #6838 as referenced above. Please take a look. I would avoid duplicated the effort through other commits. Further, if you take a look at that PR, there are changes suggested. I've added them too,. I'll review it once more if you'd like me to. Thanks

[2016-07-18 02:36] nelson-liu commented on #6829
Unfortunately, it seems like the issue noted here was already solved during the sprint in #7031. Should we close, or is there more to be done?

[2016-07-18 02:55] amueller commented on #6829
close I think.

[2016-07-18 02:55] #6829 closed

[2016-07-18 05:22] souravsingh commented on #6616
@amueller I would like to work on the issue

[2016-07-18 06:50] NickleDave opened #7042 "minor typo in User Guide 3.2.2, Randomized Parameter Optimization"
#### Description
This is a very mino typro. Under section 3.2.2 in the User Guide, the param_distributions example is shown as a list:
`[{'C': scipy.stats.expon(scale=100), 'gamma': scipy.stats.expon(scale=.1),'kernel': ['rbf'], 'class_weight':['auto', None]}]`

http://scikit-learn.org/stable/modules/grid_search.html#randomized-parameter-search

but for RandomizedSearchCV, param_distributions can

[2016-07-18 07:09] maniteja123 commented on #7042
Hi, that is a great catch! I suppose it is a typo indeed since Randomised grid search does take a dict for param_grid and samples from the distribution. But it might be better for someone experienced to have a look at it.

[2016-07-18 07:53] SeanBE commented on #6775
Looks great! I like it. It will definitely save some time for those who get caught there.

[2016-07-18 10:51] agamemnonc commented on #6848
MATLAB snippet (version R2016a)
<script src="https://gist.github.com/agamemnonc/4c9ddb472cd7c3ac84718cee1d2f6ce6.js"></script>

Output:
0.0000    0.9993    0.0007

Python/sklearn snippet (sklearn version 0.17.1)
<script src="https://gist.github.com/agamemnonc/0d668ae2552188b73958be7961a7e9e3.js"></script>

Output (currently)
[ 0.33333333  0.33333333  0.33333333]

Output (when line in question remo

[2016-07-18 10:56] nelson-liu commented on #7042
yes, this is indeed a typo (need to remove the two square brackets). I concur with maniteja123, good catch! 👍

[2016-07-18 13:41] DarthVi commented on #6975
I solved it by adding custom function definitions for __getstate__ and __setstate__ in the objects that were unpickable (specifically, the TweetAnalyzer), so it was not an issue caused by the scikit-learn framework or the OS.

[2016-07-18 13:41] #6975 closed

[2016-07-18 14:41] NickleDave commented on #7042
Submitted a PR: #7045

[2016-07-18 15:28] rohanp opened #7046 "SelectFromModel does not work with MLPRegressor"
[code]

```ValueError: The underlying estimator MLPRegressor has no `coef_` or `feature_importances_` attribute. Either pass a fitted estimator to SelectFromModel or call fit before calling transform.```

Which makes sense as `MLPRegressor` only has the attribute `coefs_` representing the weight of each layer, but no attribute for the weight of each feature.

[2016-07-18 15:31] glouppe commented on #7046
Thanks but this is a non-issue. The exception which is raised is expected, as you comment yourself, since `MLPRegressor` does not support this.

[2016-07-18 15:31] #7046 closed

[2016-07-18 15:53] AliBaheri opened #7047 "Combination of two kernels in Gaussian Process"
Is there any way to combine two different kernels in scikit-learn for different dimensions?
For example, if there is two input dimensions in GP, is there any way to define:

K((x,y),(x',y') = k(x,x') * k(y,y')
More precisely, how can we define active dimension for each of them?
Thanks for consideration.

[2016-07-18 19:49] nelson-liu commented on #6746
+1 I agree with the notion that a warning should not be raised when the value of `n_iter` is unspecified (for the rationale in the original issue body). I think your plan is reasonable, thanks! @amueller maybe you should clarify what you are expecting?

[2016-07-18 21:57] weibocc opened #7048 "Is there a bug in scikit-learn/sklearn/metrics/scorer.py line: 117"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

Hi,

I have a problem when using make_scorer with "needs_proba=True".

I think the following code should be added after line 117 (same as that in class _ThresholdScorer):

[code]

Please have a check.
Many thanks.

PS: the error message is as follows:

[code]

[2016-07-18 22:39] cristinacaputo commented on #6848
Great. I appreciate your info. This is very helpful. Can you send me your output for a couple of more values? In particular, 23 and 101? Thanks a lot.

[2016-07-19 04:00] jnothman commented on #7000
Do we have any idea why `make linkcheck` returns false positives like those? Can we contribute back to sphinx and reduce our effort in the future?

[2016-07-19 05:41] nateGeorge commented on #7000
I'm not sure why, I would guess a robots.txt thing and/or user-agent issue.  Also the problem with the ')'.

[2016-07-19 09:43] agamemnonc commented on #6848
Sure, no problem.

Data point 24 (please note MATLAB uses 1-based indexing, so this is 23 in Python)
[1.0000    0.0000    0.0000]

Data point 102 (101 in Python)
[0.0000    0.0011    0.9989]

From a theoretical point of view, I still believe that the line prob += 1 is the one causing the trouble. decision_function(x) returns the log-probability up to an additive constant. Then, we only need to exp

[2016-07-19 10:31] mfitzp opened #7050 "PLS VIP score calculation"
I was looking for an implementation of VIP (Variable Importance in the Projection) scoring for PLS models as described in [this publication](http://www.sciencedirect.com/science/article/pii/S0169743912001542).

The algorithm from that paper is implemented in [this MATLAB code](https://www.mathworks.com/matlabcentral/fileexchange/47767-libpls-1-95-zip/content/libPLS_1.95/vip.m) which is in The MATL

[2016-07-19 11:00] agramfort commented on #7050
best way to have this is to open a PR with tests, write a paragraph in the
narrative doc explaining why and when it is useful.

[2016-07-19 11:43] mfitzp commented on #7050
Sure, but to open the PR I need to know where to put the code. I was just wondering if there were any general implementation guidelines for 'this sort of thing'. The two options I can think of would be to either:

a) implement it as a standalone function (e.g. in the [pls code](https://github.com/scikit-learn/scikit-learn/blob/51a765a/sklearn/cross_decomposition/pls_.py#L460))
b) implement it as a

[2016-07-19 12:12] Naereen opened #7051 "Not up-to-date link for scikit-learn on mloss.org"
Hi.
The link for scikit-learn on [mloss.org](http://mloss.org/), http://mloss.org/software/view/240/, is not up-to-date (and is a few years old in fact).
Can someone update it ?

[2016-07-19 12:59] agramfort commented on #7051
@fabianp can you have a look? if it's actually you I should bother :)

[2016-07-19 14:00] vene commented on #6986
2 can easily be implemented in user code as well, by passing `dict_init`. So I would suggest focusing on 1 first in a PR.

[2016-07-19 19:31] llasram commented on #5489
I believe this is due to numpy/numpy#7840; if that gets fixed for 1.11.2, then sklearn should pick up ATLAS correctly again without any changes.

[2016-07-19 19:37] rgommers commented on #5489
That would still leave the issue when building against numpy 1.10.0 - 1.11.1. So a fix in scikit-learn (which is pretty simple) would still be good.

[2016-07-19 22:32] agramfort commented on #7050
I would go for c) if computation is negligible compared to the full fit. To
give a more informed recommendation I would need to see an example usage
code with the different options

[2016-07-19 22:37] amueller commented on #7047
Duplicate of #6868: we currently can not :-/
Any help with implementing this welcome (shouldn't be too hard).

[2016-07-19 22:37] #7047 closed

[2016-07-19 22:38] amueller opened #7052 "Link Gaussian Naive Bayes to fMRI literature"
We don't have a good reference for GaussianNB iirc. We should check the references in the fMRI literature and see if they use some smoothing or anything like that.

[2016-07-19 22:42] amueller commented on #7052
this seems interesting: http://journals.plos.org/plosone/article?id=10.1371%2Fjournal.pone.0069566

[2016-07-20 10:01] stmax82 commented on #4664
I think I just ran into the same problem. Gist: https://gist.github.com/stmax82/358970ddc6a6c6bf18d478902ef04f27

I had a typo in the SVM's kernel name. When I change it to a kernel that exists, the error disappears.

Also note that when I use n_jobs=1, I get a meaningful error message: "ValueError: 'foo' is not in list".

This is on sklearn 0.17, Python 3.4, Anaconda, Win 10 x64.

[2016-07-20 14:07] denis-bz opened #7054 "KNeighborsClassifier is *fast* on MNIST digits"
Not an issue, but for what it's worth, KNeighborsClassifier is *fast* on MNIST digits:

    KNN          av 97.6  [97.5 97.5 97.7]  train, test: [0 0 0]       [11 11 11] sec
    rbf-SVM      av 98.4  [98.4 98.5 98.4]  train, test: [502 503 506] [113 113 113] sec
    poly2-SVM    av 98.4  [98.4 98.5 98.4]  train, test: [275 274 276] [85 84 85] sec
    Random-Forest av 97.0 [96.8 97 97.1]    train,

[2016-07-20 14:23] amueller commented on #7054
feel free to add it to the benchmark. Not sure what all the numbers mean.
Which method are you using? ball tree or brute?

[2016-07-20 14:24] amueller opened #7055 "Website menu on mobile"
The website menu doesn't look great on mobile. We could probably improve.
This is a good issue for someone who wants to contribute but doesn't have a lot of machine learning experience.

[2016-07-20 14:38] denis-bz commented on #7054
Hi Andreas
1. MNIST is a poor benchmark
2. the numbers are classification % for 3 folds with averages, wallclock times in seconds
3. the data are 28 x 28 images, so (correct me) only brute will work

I didn't dream that KNN brute would be *that* fast
so maybe it can be leveraged, used on other problems.

[2016-07-20 20:17] amueller opened #7056 "minibatch kmeans docstring has no "see also" to kmeans and to the userguide."

[2016-07-20 20:49] zaino commented on #5956
Hi there,
I'm running into the same problem, using MiniBatchDictionaryLearning with jobs>1.
I see a lot of referencing to other issues, but was there ever a solution to this?
Sorry in advance if a solution was mentioned and I missed it.

[2016-07-20 20:59] doshyt commented on #7056
I will work on this

[2016-07-21 02:45] mblondel commented on #7055
Digression: what's the point of the "need contributor" tag? Pretty much every issue needs a contributor ;)

[2016-07-21 03:27] nelson-liu commented on #7055
I suppose it's mainly for newcomers who want to contribute to the project. I noticed at the sprint that lots of people were struggling to find things to work on, which I feel could be mitigated if we were better about applying appropriate labels.

[2016-07-21 03:42] mblondel commented on #7055
Indeed but there is also the "easy" label for that.

[2016-07-21 06:19] wlbksy opened #7058 "will largevis be implemented in the near future?"
https://arxiv.org/abs/1602.00370
![image](https://cloud.githubusercontent.com/assets/2433806/17012965/eccc495a-4f4d-11e6-8dd0-025c7c6e63f6.png)
seems like _largevis_ is competitive with _t-sne_.

And there's a cpp implementation on github [lferry007/LargeVis](https://github.com/lferry007/LargeVis)

is there any plan on implementing _largevis_ in sklearn

[2016-07-21 06:54] agramfort commented on #7058
http://scikit-learn.org/stable/faq.html#can-i-add-this-new-algorithm-that-i-or-someone-else-just-published

You're welcome to create a package for https://github.com/scikit-learn-contrib though

[2016-07-21 13:55] yenchenlin opened #7059 "Any way to make BinaryTree support fused type?"
Hello guys, currently I'm trying to make neighbors tree methods to support Cython fused types so that the memory needed can be drastically reduced.

However, both `KDTree` and `BallTree` are subclasses of `BinaryTree`, and [this line](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neighbors/binary_tree.pxi#L1031) of `BinaryTree` seems to decide the datatype (`np.float64`) of data

[2016-07-21 13:58] jnothman commented on #7059
Either way, the value of data_arr is overwritten in __init__, and
data_arr's cdef does not prescribe a dtype, so there's nothing wrong with
changing the dtype set between __cinit__ and __init__ in the current
implementation.

On 21 July 2016 at 23:55, Yen <notifications@github.com> wrote:

[2016-07-21 15:23] amueller commented on #6746
Maybe my wording in the original issues was misleading. We added new functionality to ``PCA`` - which actually seems to be backward-incompatible. Maybe that is why I was confused. If we make a backward incompatible change, we should probably have warned a bit differently.
My issue was that PCA raises a warning deep down currently that is not helpful. But that was more of a symptom.
We changed the

[2016-07-21 16:02] punyidea commented on #5915
I'd like to mention that the PredefinedSplit code currently is not well-suited for anomaly detection. This is because the abnormal set must not be trained on, but still must be used for validation. At the moment, it's only possible to make one fold (because each member of test_code can only be the member of one validation fold) but it is indeed possible to reuse the validation set.

[2016-07-21 16:54] cristinacaputo commented on #6848
Hi, thanks again.

In your notation, what do you mean by π and δ? Isn't π the ratio of the two posterior probabilities? If so, where do you assume its dependency with respect to the classes?
Have you looked at the [documentation] (http://scikit-learn.org/stable/modules/lda_qda.html)?

I do have a solution which does not involve removing +1 but modifying the formula per the case of more than three

[2016-07-21 17:48] yenchenlin commented on #7059
Thanks @jnothman, you're right.

However, after some attempts to try to convert [`data`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neighbors/binary_tree.pxi#L1008) variable into fused types, I got the
error `Fused types not allowed here`.

And then I found this unfortunate description in the official page [here](http://docs.cython.org/src/userguide/fusedtypes.html):

The onl

[2016-07-21 18:06] ektormak commented on #6986
Ok so for 2), the `dict_init` argument would take the following values:

-  "svd" where the dictionary is initialized using the SVD of X

-  "data" where the dictionary is initialized from a subset of the datapoints

-  a numpy 2D array that would indicate that the user provides an initial dictionary

[2016-07-21 18:41] vene commented on #6986
My point was that users who want to initialize the dictionary with a subset of datapoints can do that by manually picking those data points and passing them as a 2d array to `dict_init`. So while it's not automatic, and it might be nice to have it built in, it's not difficult for users to do so right now, so it's less important.

[2016-07-21 19:10] ektormak commented on #6986
I see. Let me elaborate more:

- if the user specifies `dict_init= "data"` then we initialize the dataset with a random subset of the data that has good properties (i.e norm should be higher than 1e-6). This would work well in practise without having the user do this extra step. It also good for educational purposes.

- if the user wants to initialize the procedure with another dictionary (using a

[2016-07-21 20:28] vharavu commented on #7055
Re: the digression, if an Open issue has a PR contributed by someone, but the PR isn't yet merged, does one not work on the issue? How do I find an easy issue to work on that someone else hasnt already made a PR?
thank you

[2016-07-21 20:34] nelson-liu commented on #7055
@vharavu generally, you look at whether the reason the PR isn't merged is inactivity by the reviewers or inactivity by the submitter. If the submitter hasn't responded to the last round of reviews in awhile, it's reasonable to comment on the PR asking the submitter if they are still working on it / whether you can take over. If the reviewers haven't gotten back (likely case), it's generally best t

[2016-07-21 22:11] jnothman commented on #7059
You can make it a void * and typecast it within a function, and see how that goes.

[2016-07-21 23:33] ceilingcat commented on #4477
`diabetes['feature_names']` gives an error.

Also, it might be better to give them meaningful labels (`age sex bmi map tc ldl hdl tch ltg glu y`), as opposed to `AGE SEX BMI BP S1 S2 S3 S4 S5 S6 Y`.

[2016-07-22 00:03] nelson-liu commented on #4477
@ceilingcat `load_diabetes()` doesn't have a `feature_names` attribute (I suppose you're getting that from `iris`), see http://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html#sklearn.datasets.load_diabetes. Maybe someone would be interested in adding one (PR welcome)?

[2016-07-22 08:59] rornor opened #7061 "Documentation search"
Hi,

I want to address sklearn documention.

It is really nicely designed and informative, as it is to be expected from Sphinx documentation and careful docstrings, but seeing Google custom search instead Sphinx full-text search is surprising. I guess you are too excited with Google Analytics, but seeing Google ads in search results looks very cheap and unnecessary, when you have better search bas

[2016-07-22 10:05] yenchenlin commented on #7059
Hello @jnothman , sorry to interrupt again.
After a head scratching day I still can't make it work with **fused types**.

I'm assuming you mean something like [this](https://github.com/yenchenlin/scikit-learn/commit/2224bd47aa20a22cca1e93ecec53ae9708a71683#diff-b071106a87a03ee4e9149e3f0a2b1180R1020)?

(I use variable `another_data` to represent possible new implementation so as not to affect origi

[2016-07-22 17:04] amueller commented on #6390
I'm +1 on this.
@GaelVaroquaux was -1 on adding the gitter channel before. But  don't know any core devs that are hanging out there. I used to but stopped because it is a bit of a hassle. I'm always in the gitter channel, though recently only replied if pinged. I think it is a good platform.

[2016-07-22 17:09] raghavrv commented on #6390
I would also vote for adding a dev channel exclusively for developers.

[2016-07-22 18:34] amueller commented on #6390
I'm not sure about "exclusive" (I wouldn't want to exclude anyone) but having one dev and one user would make sense

[2016-07-22 19:31] #7056 closed

[2016-07-22 20:38] agramfort commented on #6390
fine with me. I see the notifications but almost never post there tthough

[2016-07-22 20:44] raghavrv commented on #6390
I would say anyone who has contributed to scikit learn and is requesting for access could be added. The motive would be to just filter out user questions which keep drowning the conversation...

[2016-07-22 22:00] sshleifer opened #7065 "DummyRegressor raises ValueError instead of NotFittedError"
#### Description
trying to call predict on an instance of DummyRegressor that has not been fitted raises ValueError. I think it should be NotFittedError.

#### Steps/Code to Reproduce
[code]
#### Expected Results
NotFittedError

#### Actual Results
ValueError

#### Versions

Linux-3.19.0-47-generic-x86_64-with-Ubuntu-14.04-trusty
('Python', '2.7.6 (default, Jun 22 2015, 17:58:13) \n[GCC 4.8.2]')
(

[2016-07-22 23:19] kmike commented on #6599
It may be a long shot, but what about using pep-484 type hints for that?

[2016-07-23 02:32] Ajackster commented on #7055
@amueller I'm interested in working on this. I am pretty crafty with front end web development and I'm new to machine learning. How would you like to coordinate the formatting of the website on mobile?

[2016-07-23 09:50] maniteja123 commented on #7065
H, thanks for the report. It seems that the Exceptions raised has not been updated to ``NotFittedError`` from `ValueError`` after the new exception was introduced. It should be straightforward to change the exception by using ``check_is_fitted`` from ``utils.validation``. Would you be interested to put together a PR for this ? Thanks!

[2016-07-23 10:53] jnothman commented on #7059
Well, I think the first rule of compilers is that "Compiler crash" isn't expected behaviour! I presume you're uncovering a Cython bug. Have you attempted to make the code that crashes minimal?

I don't know what you mean by should not affect other `py` files. Do you mean `ball_tree.pyx`? The `.pxi` is not compiled by itself, only as an include within the two `.pyx` files.

[2016-07-23 10:54] jnothman commented on #7059
Oh do you mean `ExprNodes.py` and such `.py` files? Those are files in the Cython compiler.

[2016-07-23 11:13] jnothman commented on #7059
The line numbers there don't seem to correspond to the most recent Cython, so you should probably upgrade before trying to alert someone to a bug.

[2016-07-23 15:31] yenchenlin commented on #7059
@jnothman Thanks for the clarifying.
About, `not affect other py files`, I mean I don't want to directly change `data` variable ar this early stage so that I can still build scikit-learn without errors.

I'll dive into it to see if this is really a Cython bug and get back.

[2016-07-23 16:24] sshleifer commented on #7065
yes, will do

On Sat, Jul 23, 2016 at 5:51 AM Maniteja Nandana <notifications@github.com>
wrote:

[2016-07-23 20:29] #6902 closed

[2016-07-24 04:33] yuchenlin commented on #4167
Do we have some improvements now?

[2016-07-24 05:23] dallascard commented on #6533
I was able to resolve this by first compiling my own copies of numpy and scipy

[2016-07-24 05:23] #6533 closed

[2016-07-24 05:27] nelson-liu commented on #6533
Nice, good to hear that you fixed it. Now I'm wondering if this would work with conda...

[2016-07-24 10:30] btabibian commented on #6868
If nobody else is working on this, I would be giving it a try today.

[2016-07-24 16:22] yenchenlin commented on #7059
I produced a minimum example [here](https://github.com/yenchenlin/cython_casting_issue/blob/master/Untitled.ipynb), but I'm sorry that I overlooked another error that actually happend before, i.e.,

[code]

I think this error occured because Cython compiler can't decide which type of `floating` (`float` or `double`) to use at compile time.

In previous PR, we didn't encounter this because fused ty

[2016-07-24 16:46] yenchenlin commented on #7059
If so, we need fused types to appear in function arguments if we want to use fused types local variables and assign value to it in that function?

This seems like a big limitation of Cython fused types and worth to be documented.

[2016-07-24 16:47] GaelVaroquaux commented on #7059
Maybe you should ask on the Cython mailing list?

[2016-07-24 17:11] yenchenlin commented on #7059
@GaelVaroquaux thanks, I just asked the question.
Hope they can provide some other workarounds in this situation 😟

[2016-07-24 22:02] jeevan-kr opened #7072 "ImportError: cannot import name 'moduleTNC'"
#### Description

Error when importing sklearn related to issue #4830 and 6188(scipy)

#### Steps/Code to Reproduce

[code]
#### Expected Results
No error is thrown.

#### Actual Results
[code]
#### Versions
Windows-10-10.0.10586-SP0
Python 3.5.2 (v3.5.2:4def2a2901a5, Jun 25 2016, 22:18:55) [MSC v.1900 64 bit (AMD64)]
NumPy 1.11.1
SciPy 0.17.1
Scikit-Learn 0.17.1

[2016-07-24 22:16] kjacks21 commented on #7072
Similar to the instructions in #4830, your issue is with scipy. Try re-installing. See instructions [here](https://www.scipy.org/install.html#individual-packages).

[2016-07-24 22:17] HashCode55 commented on #7029
I'll take care of the issue.

[2016-07-24 22:20] jnothman commented on #7059
Ah of course, I too missed the context. Yes, fused types only work in functions/methods where the type can be specialised by sniffing the arguments. Which means we just need a way to specify type at `__init__` time. I don't think this is a big deal, but can't elaborate on it until tomorrow.

[2016-07-24 22:21] jnothman commented on #7059
You may be able to specialise things with the `func_name[spec_type]` notation.

[2016-07-25 04:30] yenchenlin commented on #7059
I'm worry about since we declare `self.data` as `void *`, we may need to type cast it in every function when that function want to access it, and it seems hard to make every function's arguments to include fused type.

Like [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neighbors/binary_tree.pxi#L1943), we can't typecast it to `floating` since the function argument doesn't

[2016-07-25 04:53] mlliou112 commented on #5589
Is this still being worked on? If not, I'd like to try picking this up!

[2016-07-25 04:56] GaelVaroquaux commented on #7029
+1

[2016-07-25 05:37] GaelVaroquaux commented on #7072
The problem is indeed with the install of scipy. Closing this issue here, as it is not in the right tracker.

[2016-07-25 05:37] #7072 closed

[2016-07-25 07:06] raghavrv commented on #5589
Please go ahead!

[2016-07-25 07:53] #7065 closed

[2016-07-25 09:50] #6192 closed

[2016-07-25 09:55] agamemnonc commented on #6848
Sorry, I should have made it more explicit. I follow the notation of the textbook "The elements of statistical learning" by Hastie, Tibshirani and Friedman which is freely available for download (pdf) here
https://web.stanford.edu/~hastie/local.ftp/Springer/OLD/ESLII_print4.pdf

δ (it should be δ_k) is the discriminant function for class k, i.e. the element of the vector returned by the decision_f

[2016-07-25 10:36] jnothman commented on #7059
Again I'll have to put aside some time to look into it later in the week,
but one option may be using a templated cppclass, such that you can
specialise the entire class at once. I.e. it might be a case for using the
C++-side type generics rather than Cython's.

On 25 July 2016 at 14:30, Yen <notifications@github.com> wrote:

[2016-07-25 13:39] lesteve commented on #7042
Closing since #7045 has been merged.

[2016-07-25 13:39] #7042 closed

[2016-07-25 14:29] amueller commented on #6390
If we have a "user questions" channel and a "dev channel", I think people with user questions will go into the user questions channel and we don't need to have access control

[2016-07-25 16:18] prehensilecode commented on #6130
Editing the setup.py files seems brittle: it will break every time there is a new version of scikit-learn. Would it be possible to make this setting in a site.cfg file or something like that? I'm running into a similar situation.

[2016-07-25 18:26] amueller commented on #7055
@mblondel most issues don't actually need someone to jump in, they are already addressed by a PR, which needs either review or is waiting for the author to address the review. The idea is that once someone starts on an issue, the tag is removed.

[2016-07-25 18:30] amueller commented on #7055
@Ajackster Great, pleas just go ahead with what you think is reasonable. We don't really look for an entire redesign. We are using bootstrap for the website, so in principle it shouldn't be that hard.
Open a PR, reference this issue and attach a screenshot.

Mostly I don't like how the menu wraps.
![scikit-learn-mobile-ugly](https://cloud.githubusercontent.com/assets/449558/17112531/64437534-5274-

[2016-07-25 18:32] amueller commented on #7048
Hi.
Can you please provide an example that raises the error?

[2016-07-25 18:35] amueller commented on #6959
Why hack? There is no need to hack anything, right? You can just use the function?
Private vs public is just a naming convention in python.
Why is it not public? Because it is not an estimator, I guess. We could make it a public function, but that would only remove underscore from the name and bind us to the current API (which is not too bad a thing, I guess, since it's likely to be stable).

[2016-07-25 18:35] amueller commented on #7054
closing this as it's not an issue ;)

[2016-07-25 18:35] #7054 closed

[2016-07-25 18:46] btabibian commented on #6887
@agramfort @GaelVaroquaux Would you please CR this?

[2016-07-25 18:53] weibocc commented on #7048
Hi,
Please try the following code:

# Init code form: http://scikit-learn.org/stable/auto_examples/ensemble/plot_forest_importances.html#example-ensemble-plot-forest-importances-py
from sklearn.datasets import make_classification
from sklearn.ensemble import ExtraTreesClassifier

# Build a classification task using 3 informative features
X, y = make_classification(n_samples=1000,

[2016-07-25 18:53] amueller commented on #6877
This is weird. This was fixed in trees, but I guess not in BaseBagging. The fix from the tree module should go up there.
Thanks for the report

[2016-07-25 19:04] dswah commented on #6863
Bump!

[2016-07-25 19:05] staubda commented on #6877
Cool, glad this is on the radar and already has a fix. Another issue i've noticed is that fitting with `bootstrap=False` is really slow. Haven't dug into how sampling-without-replacement is being done but I don't see why it should be so slow.

[2016-07-25 19:08] agramfort commented on #6959
indeed

removing the _ to make the function public would work for me.

[2016-07-25 19:26] brando90 commented on #6959
thats not totally true, because I had dig in the details for it work and find out what `random_state=random_state` which only seemed to work when I used the function in your library that had `check_random_state(random_state)`. It would be easier if I didn't have to do that or if there was API for it already.

[2016-07-25 19:31] nelson-liu commented on #7048
in the future, please fill out the issue template (especially the version info) and surround your code blocks with 3 backticks at the start and end (```). I can reproduce this error, though.

[2016-07-25 19:58] amueller opened #7079 "test_huge_allocation failure on 32bit"
Here: https://travis-ci.org/MacPython/scikit-learn-wheels/jobs/146127267#L11761

[code]

I'm pretty sure I ran into that the last time I tried running 32bit tests, too.

[2016-07-25 20:49] btabibian commented on #6868
@jmetzen, @MechCoder Can you review my code?

[2016-07-25 20:51] Ajackster commented on #7055
@amueller Is there a repository where I can clone the current code for the website?

[2016-07-26 03:27] jackpaparian opened #7080 "First Example in KDTree Documentation Fails"
The first KDTree example in the [documentation](http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KDTree.html)  is as follows:
[code]

The ```tree.query``` function raises the following error:
[code]

Can someone update the documentation to call the ```tree.query``` function without raising the error? Thanks!

[2016-07-26 03:33] jnothman commented on #7080
This is fixed in master. See http://scikit-learn.org/dev/modules/generated/sklearn.neighbors.KDTree.html

[2016-07-26 03:33] #7080 closed

[2016-07-26 07:45] HimaVarsha94 opened #7081 "Different Precision and Recall values for the same dataset"
#### Description
Varying outputs for the same train and test data

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results
Precision 0.809072982209 and Recall 0.80669144981
#### Actual Results
Precision 0.881659860014 and Recall 0.631439192777
Passing y_test and y_train as just a list gives the Expected Results, whereas converting the y_train and y_test as a list of lists gives differe

[2016-07-26 14:23] amueller commented on #7081
Which version of scikit-learn are you on? This raises a ``ValueError`` on ``master``.
Though it's ``unhashable type 'list'`` when I think it should be "unknown label type".

[code]

[2016-07-26 15:43] amueller commented on #7048
[code]

[2016-07-26 15:47] amueller commented on #7048
I guess it's not overly clear from the docs, but if you pass ``needs_proba`` all the probabilities will be passed. You could use ``needs_threshold`` to only pass the probability of the positive class.

If this was your actual application, you could have used ``scoring="roc_auc"`` and use the build-in ``roc_auc_scorer``.

[2016-07-26 15:51] amueller commented on #6959
We could make the random state and ``x_squared_norms`` optional. But ``dig in the details`` here means reading the docstring, right? You don't need to use ``check_random_state``, you can just use ``np.random.RandomState()`` as is explained in the docstring.

[2016-07-26 15:53] amueller commented on #6877
how much is "really slow"?  It should be 1.5 times slower, I guess. Also the docstring is not very helpful, I think.

[2016-07-26 15:54] amueller opened #7085 "Docstring for IsolationForest parameter bootstrap is weird"
If I understand correctly the parameter controls whether bootstrapping is performed. That's not clear from the docstring.

[2016-07-26 15:59] agramfort commented on #7085
ping @ngoix

[2016-07-26 16:00] amueller commented on #6877
Basically we need to get the fix from #4783 into ``BaseBagging``.

[2016-07-26 16:04] amueller commented on #6863
this is not the place to bump / discuss the release schedule (it was discussed on the mailing list).

[2016-07-26 16:06] amueller commented on #6130
If you don't mind installing anaconda, that comes with MKL and you don't need to compile yourself. Also, there is now binary wheels that are linked against openblas.

[2016-07-26 16:06] #6130 closed

[2016-07-26 16:48] staubda commented on #6877
Ok, I'm happy to take a look at incorporating that fix when I get a chance.

[2016-07-26 16:57] staubda commented on #6877
Also, regarding the slow sampling, my quick profiling results for fitting iforest with/without bootstrap sampling:

| n_samples | fit time, bootstap=False (s) | fit time, bootstap=True (s) |
| ------------------------------------ | ---------------------------- | ----------------------- |
| 1,000 | 0.245 | 0.182 |
| 10,000 | 2.25 | 0.401 |
| 100,000 | 36.2 | 3.31 |

My system:
platform: Darwin-14.5

[2016-07-26 17:09] amueller commented on #6877
Yeah that's not right. Ping @ngoix

[2016-07-26 17:18] munichong opened #7086 "Log-loss outputs inconsistent results"
#### Description
Try to use log_loss to evaluate my models.

#### Steps/Code to Reproduce
from sklearn.metrics import log_loss
print log_loss([1], [0])
print log_loss([0], [1])

#### Expected Results
34.539575992340879
34.539575992340879

#### Actual Results
9.9920072216264148e-16
34.539575992340879

I expect the two numbers should be the same.

#### Versions
Linux-3.13.0-92-generic-x86_64-with-de

[2016-07-26 17:19] amueller commented on #6070
It was pointed out to me that an official COC might

[2016-07-26 17:25] amueller commented on #6070
@alison985 can I ask what your motivation was?

[2016-07-26 17:36] amueller commented on #7086
@munichong why would you expect them to be the same? What is your interpretation of what you are doing?

@arjoly  I'm actually a bit confused as to what is happening here.
The docstring says that the shape of ``y_pred`` is ``(n_samples, n_classes)`` but in the case of ``(n_samples, )``, there is some magic encoded that is not documented. That should be added to the docstring, right?

In this case,

[2016-07-26 17:40] nelson-liu commented on #6070
what actually is in a code of conduct though? wikipedia defines it as `A 'code of conduct' is a set of rules outlining the social norms and rules and responsibilities of, or proper practices for, an individual, party or organization.`. I'm not quite sure how this itself is a statement of inclusiveness?

I'm all for such a statement, but I don't think a code of conduct is what fits the bill?

[2016-07-26 17:42] amueller commented on #4077
@raghavrv are you working on this?

[2016-07-26 17:46] munichong commented on #7086
@amueller I expect them to be the same because in both cases the prediction is completely wrong. For example, in the first case, the ground truth is 1 but the prediction is 0.

To verify, I used the [_logloss_ function](https://www.kaggle.com/wiki/LogarithmicLoss) provided on the Kaggle website. It gives the same outputs, 34.539575992340879.

I agree with you that the problem is only one class pre

[2016-07-26 17:47] raghavrv commented on #4077
Please go ahead :)

[2016-07-26 17:48] amueller commented on #7086
The prediction are supposed to be probabilities. What do you expect it to be the probability of in either case? Class 0? Class 1?

[2016-07-26 17:50] amueller commented on #7086
I don't accept a kaggle web-app as a resource on this, sorry ;)
I think the current interpretation as done by the code is odd. But I also thing there is no useful interpretation of your input.

[2016-07-26 17:55] amueller commented on #7029
Hm actually it already does that and I misunderstood it ....

[2016-07-26 17:55] #7029 closed

[2016-07-26 17:57] Dringite commented on #4619
I have this problem too, as the person above pointed out, the other implementation works fine. This is unfortunate.
With 16gb ram this implementation fails with just (100000,20)

[2016-07-26 18:00] amueller opened #7087 "Biclustering n_components default"
The ``n_components`` parameter of the biclustering classes is 3 by default. I think it should be ``n_clusters`` by default. @kemaleren wdyt?

[2016-07-26 18:08] munichong commented on #7086
The ground truth is a class label. The prediction is a float number (probability).
Revision:
print log_loss([1], [0.0])
print log_loss([0], [1.0]).
It is just an extreme case that the prediction is very emphatic.

[2016-07-26 18:19] amueller commented on #6070
@nelson-liu I think the code of conduct would be the right place for something like that. Check out the red cross one: https://en.wikipedia.org/wiki/Code_of_Conduct_for_the_International_Red_Cross_and_Red_Crescent_Movement_and_NGOs_in_Disaster_Relief

However, we could also just add a statement to the Readme.md in the repo and to the website in the dev docs.

[2016-07-26 18:20] GaelVaroquaux commented on #6070
I am very ambivalent with regards to Code of Conducts. I've actually had
interesting discussions around them last week at Euroscipy. I find that
they stigmatize problems without solving them.

That said, the message that convey can help focussing around core values.
Yet copying canned CoCs from a common template creates conformism that
dilutes these ideas rather than reinforcing them.

Here is wha

[2016-07-26 18:22] HimaVarsha94 commented on #7081
Thanks for the prompt reply. So, why would it say unhashable type 'list'? If that is the case, how would I pass a multilabel multiclass train data?

[2016-07-26 18:29] amueller commented on #6070
Yeah, I'd rather have a short and visible (not intrusive) statement of openness and inclusiveness then some long-winded COO.
I talked with some female coders and I had the impression that at least some of them would appreciate adding a statement like that, and it might encourage contributions from a more diverse crowd.
I'm happy to work with you on wording or review anything.

Either I or you can

[2016-07-26 18:32] staubda commented on #6877
Sorry to keep overloading this thread, but the reason from the slow sampling without replacement appears to be `sample_without_replacement` from `sklearn.utils._random.pyx`.

My proposed fix:
[code]

Timing comparison between old and new sampling functions, with `max_samples=100`:

| n_samples | old (s) | new (s) |
| ------------------------------------ | ---------------------------- | -----------

[2016-07-26 18:33] amueller commented on #7081
As a 2d array of indicators (or class labels).

[2016-07-26 18:36] GaelVaroquaux commented on #6070
OK, I was wondering whether the statement was not more powerful if it
went through a vetting process.

Also, I'd like to mention also that we value open and friendly
discussions, and also that decisions were made based on technical merit
and consensus.

It's going a bit further that what you state, but I have specifically in
mind to encourage some form of behavior that we all appreciate in the
cor

[2016-07-26 18:37] amueller opened #7088 "dir and autocomplete on Bunch not working correctly"
Our ``Bunch`` class doesn't support calling ``dir`` on it and doesn't do proper autocomplete in ipython.
I'm somewhat getting the feeling we should just remove it and go with a dict... but maybe that'll break too much code.

[2016-07-26 18:38] GaelVaroquaux commented on #7088
Yeah. I agree with your feeling. Not sure what to do here.

[2016-07-26 18:44] amueller commented on #6070
My statement wasn't meant as a draft and I agree we should include the ideas you mentioned.

And I'm happy to go through a vetting process.

I think something in the readme.md at the bottom would be good after #7018 is merged.
Depending on the length, either the statement or a link to it on the website.

I'm not sure where on the website. We could shuffle around stuff on the frontpage and have ano

[2016-07-26 19:05] amueller opened #7089 "t-SNE has inefficient memory structure"
The barnes-hut implementation of t-SNE currently uses a dense matrix representation for the distances, but should be using a sparse matrix.
Discussion see #4025

[2016-07-26 19:09] amueller commented on #7088
Fix in #7090. Also, our use of the bunch pattern is so weird because all our bunches have the same attributes. We could at least have used a datasets class. Having both item access and attribute access is weird.

[2016-07-26 19:10] amueller commented on #7085
Wait so it does sampling without replacement if bootstrap is false? #6877

[2016-07-26 19:17] amueller commented on #6877
The numpy alternative is ``np.permutation(n_samples)[:max_samples]``. But our version should be faster than that. That's kind of weird. Running ``bench_sample_without_replacement.py`` also shows for me that the permutation solution is much faster. That seems really odd.
Maybe it is because of MKL?
ping @arjoly ?

[2016-07-26 19:18] amueller commented on #4619
See #7089.
PR welcome @Dringite.

[2016-07-26 19:19] staubda commented on #7085
Yeah I believe so, I think its hitting the following section of code from `_parallel_build_estimators()` in `bagging.py`:

[code]

[2016-07-26 19:21] amueller commented on #4619
I'm closing this issue as it seems to be a mixture of accelerate specific ugly recovery and people experiencing out of memory. The implementation issue is known and tracked in #7089.

[2016-07-26 19:21] #4619 closed

[2016-07-26 19:22] amueller commented on #7086
yeah but which of the class labels is the prediction for and how many classes are there (and how should the algorithm know)?

[2016-07-26 19:36] staubda commented on #6877
I'm getting a bit out of my depth at this point, but I don't see any `cimport`'s or blas calls in `_random.pyx`, so I don't think it could be attributed to the MKL.

[2016-07-26 19:49] agramfort commented on #7088
namedtuple?

On Tue, Jul 26, 2016 at 9:09 PM, Andreas Mueller <notifications@github.com>
wrote:

[2016-07-26 20:11] munichong commented on #7086
OK. So the second parameter should be (n_samples, n_classes). Thanks.

[2016-07-26 20:11] #7086 closed

[2016-07-26 20:23] NelleV commented on #6070
I would reformat the community box.  I don't think we need a whole box for the statement of openess and the frontpage is getting crowded.

@amueller : I am surprised that you link the SCHR Code of Conduct as an example of CoC. It is quite atypical in the way it is written, what it contains and how it is used and applied. It is one of the rare examples of code of conducts that make sense to me and

[2016-07-26 20:26] staubda commented on #6877
Hmm, very weird. With parameters `n_samples=1000000` and `max_samples=100` the  `sample_without_replacement()` function should be calling `_sample_without_replacement_with_tracking_selection()`. As I posted previously this is taking about 6 seconds.

However, a pure python implementation of `_sample_without_replacement_with_tracking_selection()`:

[code]

returns in about 0.0001 seconds.

[2016-07-26 20:31] staubda commented on #6877
Also, if I change `max_samples=500000` so that `sample_without_replacement ()` calls `_sample_without_replacement_with_reservoir_sampling()` the execution time drops to about 0.5 seconds. Still slower than the numpy version, but only 3x instead of 50x.

[2016-07-26 20:52] amueller commented on #6070
I'm not very familiar with how CoC are usually written but I did a quick google and that was one that lined up well with my expectations. It's too bad if that is not the norm.
Can you give examples of codes of conducts and their use in the python community? I'm not very familiar with it.
My main motivation was "I think we're pretty nice, and if we tell people we're nice, maybe they are less intimi

[2016-07-26 21:04] amueller commented on #6877
I'm not very familiar with this part of the code, it would be great if @arjoly could comment.
Maybe there is some recent regression in our cython code?
@staubda maybe check out an older version of the code sample_without_replacement and see if it behaves the same?

[2016-07-26 21:04] amueller commented on #6877
(ping @jnothman who knows about everything)

[2016-07-26 21:36] staubda commented on #6877
Tried with the 0.17.X branch, same results.

[2016-07-26 22:37] glemaitre commented on #6981
For our [API](https://github.com/scikit-learn-contrib/imbalanced-learn), we got the exact same issue. Our sampler can support multiclass or not.

Additionally, there is an extra constraint such that the target `y` cannot be a single class vector. However, this is imposed by the base estimator. For the moment, we only raise some warning but this is to much permissive.

[2016-07-26 23:39] jnothman commented on #7081
Do we currently support any multioutput multiclass classification? I forget.

[2016-07-27 05:01] HimaVarsha94 commented on #7081
I use 0.16 because of workplace restrictions. In that, a 2d array is used for multioutput multiclass classification and a list of lists for multilabel multiclass classification.

[2016-07-27 05:29] d0ugal commented on #6070
I have seen a few projects adopt this one: https://www.pypa.io/en/latest/code-of-conduct/

[2016-07-27 05:37] jnothman commented on #7081
No, in 0.16 list of lists was long since deprecated in its support. Still, we should have a better error message.

[2016-07-27 06:26] GaelVaroquaux commented on #7088
It would be great! (and it didn't exist back when we did the bunch).

However, it would break the key-based access: data['X']. So we cannot
change this without a deprecation cycle.

[2016-07-27 08:36] #7088 closed

[2016-07-27 11:04] lesteve commented on #1966
Closing, plot_lena_segmentation.py does not exist anymore.

[2016-07-27 11:04] #1966 closed

[2016-07-27 12:21] jnothman commented on #6877
I'm confused about that statement.

`randint` is a Python function: despite the underlying implementation being in Cython we go through a Python interface. A quick look at the Cython compilation of our function shows that it's repeatedly converting the C long to a Python int and back. I'm not sure that's what's creating all the overhead, but it can't help! So this is a case of us adopting Cython b

[2016-07-27 12:33] jnothman opened #7091 "Speed issues in sample_without_replacement"
As raised by @staubda in #6877, `sklearn.utils.random.sample_without_replacement` with its variants implemented in Cython, can be very slow. ~~Indeed `_sample_without_replacement_with_tracking_selection` may be [slower than a pure Python implementation](https://github.com/scikit-learn/scikit-learn/issues/6877#issuecomment-235394075).~~

Currently the slowness appears to derive from using a Python

[2016-07-27 13:03] flothesof commented on #5876
Hi all,

I'm writing regarding the example on topic extraction found [here](http://scikit-learn.org/stable/auto_examples/applications/topics_extraction_with_nmf_lda.html).

I believe there currently are 2 issues with the current source code used in the example:

- the n_features parameter is not taken into account when setting up the tf_idf vectorizer

[code]

- there's an `exit()` statement right

[2016-07-27 13:24] Atles opened #7092 "partial_fit for any regression method"
I wonder if it would be possible to implement partial_fit for any regression method.

[2016-07-27 15:00] lesteve commented on #5876
@flothesof it seems like what you are describing is not related to this issue. Could you create a separate issue please ?

About some links not being created in the example, it is known but nobody has had the bandwidth to understand its root cause. It is not specific to scikit-learn per se, see https://github.com/sphinx-gallery/sphinx-gallery/issues/113. Help in understanding this problem is more

[2016-07-27 15:27] amueller commented on #7092
If by "any" you mean "all", then no. SGDRegressor implements a bunch of the linear ones, though.

[2016-07-27 15:27] #7092 closed

[2016-07-27 15:29] amueller commented on #7091
There is a benchmark in ``benchmarks/bench_sample_without_replacement.py`` that shows that ``np.random.permutation`` is always the best option. It seems like something must have changed since @arjoly ran the benchmark.

If ``np.random.permutation`` is reasonably fast, I don't see why we should reimplement it. Any improvements over that should go into numpy or scipy imho.

[2016-07-27 15:46] amueller commented on #7088
If there is another non-trivial issue I vote we move to namedtuple. Currently, I don't see a big benefit in doing it.

[2016-07-27 16:01] amueller commented on #6070
@NelleV Would you mind explaining to me why you don't like the PSF one? (or is there a rant somewhere by you or someone else that I can read)? It seem you have thought much more about this than I have. Also, do you have any opinions about adding some statement  given that you are part of a gender minority? I have no idea what your experience is.

Here are some things I think I don't particularly l

[2016-07-27 16:12] GaelVaroquaux commented on #6070
Yes. I don't want to sound like a parent teaching his kid, but like
someone stating values. I'd say that my model would be closer to the
speach of Martin Luther King, but writen in the present tense :)

[2016-07-27 16:44] dhimmel commented on #6370
@proinsias, rather than ignore all warnings, you can ignore just _this_ warning using:

[code]

[2016-07-27 16:46] staubda commented on #7085
The docstring for the `bootstrap` parameter in `IsolationForest` is the same as that for `BaggingRegressor` and `BaggingClassifier`. Since `IsolationForest` inherits from `BaseBagging` I'm guessing the description of `bootstrap` was chosen to maintain consistency with the other bagging derived classes. Changing the iforest docstring would lose that consistency, but I agree that without the explici

[2016-07-27 17:05] amueller commented on #6370
This issue should be closed, right? Joblib was merged? @ogrisel

[2016-07-27 17:05] amueller commented on #7085
Is that also true for bagging? I would imagine for bagging?

[2016-07-27 17:19] staubda commented on #7085
That description should fit for bagging in general, except that the individual estimators aren't necessarily trees.

[2016-07-27 17:25] NelleV commented on #6070
@amueller I think my opinion on CoC have degraded other time, not only because of their content, but also the way they are being pushed anywhere and everywhere without consideration of the context. Ironically, many of the people who absolutely want codes of conduct tend not to be open, considerate nor respectful when discussing about those… The PSF one has in fact evolved a lot during the years, a

[2016-07-27 18:21] amueller commented on #6070
@NelleV Thanks for your thoughts.

Maybe @willingc is interested in this discussion.

[2016-07-27 19:42] nelson-liu opened #7094 "Tests failing on master due to tree recythonization issues"
#### Description

The last commit to master, https://github.com/scikit-learn/scikit-learn/commit/376aa50e70d7b45e115e01654bc0a91b5cb9b60d (from #6954) is failing tests on travisCI (although the PR passed all tests). The reason it's doing so is because of a phenomenon that people who work with the `tree` module are quite familiar with --- for some reason, it isn't recythonizing all of the dependenc

[2016-07-27 20:15] willingc commented on #6070
Hi @amueller and others,

Personally, I believe that a Code of Conduct demonstrates that the minimal level of commitment that a project that needs to welcome new high-quality contributors. As a document is limited by being a bunch of bits or ink and paper, the individual community members' actions set the tone for whether or not a project is welcoming.

Others make good point in the preceding mess

[2016-07-27 20:45] amueller commented on #6981
@glemaitre can you provide some more detail. I'm not sure I understand the problem.

[2016-07-27 20:46] amueller commented on #6981
@vene many of the tests do test multi-class stuff. We should probably go through the tests one-by-one and see if we need duplicate versions for multiclass or not.

[2016-07-27 20:55] lesteve commented on #6370
Yep, the warnings is not in master anymore now that the externals joblib has been updated to 0.10, closing.

[2016-07-27 20:55] #6370 closed

[2016-07-27 21:00] amueller commented on #7000
Fixed by #7005 (for now)

[2016-07-27 21:00] #7000 closed

[2016-07-27 21:11] amueller commented on #6070
@willingc I actually see no issue with the way the scikit-learn community is operating. Which is I think what @GaelVaroquaux brought up before. At least from our standpoint, things are going well. There is a lack of diversity, but I don't think it's caused by the behavior of members of the community.

[2016-07-27 21:17] GaelVaroquaux commented on #6070
If there are any issues, I'd really like to hear about them, in private
or public whatever is most convenient.

If the issue is with me, the feedback can be given to @amueller,
@ogrisel, or @NelleV (my sister, also core dev).

I would strongly like feedback on problems, if any, to bubble up.

I tend to believe that this community is hugely skilled and friendly. I
can see that with regards to frien

[2016-07-27 21:23] amueller opened #7096 "Make sphinx run without errors, then make sphinx errors stop on continuous integration"
I think we attempted this before, but didn't get through. Is there any code left?
Master has a bunch of errors again :-/

[2016-07-27 21:28] amueller commented on #6599
@kmike how would that work? These properties are not types. We could create mixins that correspond to the properties and do inheritance, but I feel that would be abusing the type system for a simple annotation task.

[2016-07-27 21:32] amueller commented on #7061
Hm I'm not sure how this decision was made. @GaelVaroquaux @agramfort ?

[2016-07-27 21:34] glemaitre commented on #6981
@amueller In imblearn, the job is to balance the number of samples of the different classes. Thus, our base estimator should raise an error if we have a single class. You can check [those lines](https://github.com/scikit-learn-contrib/imbalanced-learn/blob/master/imblearn/base.py#L86) if I am not clear enough.

However in `check_estimator`, there is the test [`check_fit1d_1sample`](https://github.

[2016-07-27 21:36] amueller commented on #5915
@punyidea can you open a separate issue providing a more detailed explanation and maybe some code? What would a better interface look like?

[2016-07-27 21:38] amueller commented on #5915
@arthurmensch I recommend we close this issue. In particular because of "and to remove e.g. 20% of the features (different for each sample) for the training set, keeping them for the test test"
You want to treat each sample differently. That's not really what cross-validation iterators are for.

Also, which part of grid-search do you actually want to use?

[2016-07-27 21:41] amueller commented on #6614
There should be a ``copy`` parameter to control this.

[2016-07-27 21:44] amueller commented on #6614
@lesteve close as duplicate of #5481?

[2016-07-27 21:44] amueller commented on #5956
The problem is in modifying arrays in-place. @lesteve close as duplicate of #5481?

[2016-07-27 21:44] amueller commented on #5481
Is anyone working on this? This seems pretty bad.

[2016-07-27 21:45] amueller commented on #5481
``MiniBatchDictionaryLearning`` has the same issue.

[2016-07-27 21:55] GaelVaroquaux commented on #7061
It just works.

Is there a simple alternative that works better and a volunteer to
integrate it to the documentation?

[2016-07-27 21:59] kmike commented on #6599
Maybe you're right; I haven't put much thought in how exactly it can be implemented. But `handles_..` and `input` / `output` from https://github.com/scikit-learn/scikit-learn/issues/6599#issuecomment-203328638 look a lot like type annotations of corresponding method arguments and output values.

[2016-07-27 22:00] amueller commented on #4664
This looks like a joblib issue:
https://github.com/joblib/joblib/issues/101

[2016-07-27 22:11] lesteve commented on #6614
It' does seem very very similar to #5481 althoug this one needs sparse matrices to be triggered IIRC.

[2016-07-28 00:10] willingc commented on #6070
@amueller @GaelVaroquaux I agree that the community is very skilled and those that I have met and worked with have been friendly and collaborative 👍 Overall, that is the most important thing.

I think often folks see a code of conduct as preventing people from duoing something wrong or that there is already a problem. That's not how I see it at all. I see a code of conduct (or really whatever the

[2016-07-28 00:45] staubda commented on #7091
So, slight screw-up on my part. Previously I said I was calling

`sample_without_replacement(n_samples, max_samples)`

where `n_samples=1000000` and `max_samples=100`.

However, I was actually doing

`sample_without_replacement(n_samples, n_samples - max_samples)`

This made my timing comparisons invalid since the other functions I was testing with were all receiving arguments of `(n_samples, max_

[2016-07-28 00:56] staubda commented on #7091
Also, I found a bug in `sklearn.utils.random.sample_without_replacement` that is responsible for the massive slowdowns I was seeing.

A ratio is calculated to choose whether or not the "tracking_selection" or "reservoir_sampling" algorithms are used:
[code]
If `ratio > 0.2` then "reservoir_sampling" is used. However, since `n_samples` and `n_population` are both `ints` this always evaluates to 0.

[2016-07-28 01:09] jnothman commented on #7091
Finding one bug on your side and one on our side is pretty good going. A PR for the latter is welcome.

[2016-07-28 01:10] jnothman commented on #7091
Actually, there's no bug on our side. `from __future__ import division` applies. But copying it into another Python 2 interface will have broken it.

[2016-07-28 02:10] staubda commented on #7091
I see what you're saying, but I wasn't copying any of the code, I was importing the function from the `utils` module. Could this line:
[code]
be overriding the the behavior from `from __future__ import division`?

[2016-07-28 02:33] jnothman commented on #7091
Oh god. You're right. In my version of Cython, that does change the behaviour. I think `cdivision` is probably mistakenly included in this file, but I also think it's weird that the inclusion of `cdivision` turns a true division into an int division, rather than only affecting `//` or Python 2's `/` between integer types; I reckon that's at least a usability bug for Cython. :(

It's worth looking

[2016-07-28 02:33] jnothman commented on #7091
PS: you win on that.

[2016-07-28 02:42] staubda commented on #7091
Ha, glad I still have one legit bug to go with the one I introduced in my testing code. Definitely counter-intuitive behavior from `cdivision`. So do you think the fix is to remove the `cdivision` line or to cast one of the ints to float?

[2016-07-28 03:09] TerrenceVarada opened #7099 "Difference between Lasso and OLS"
I found there are huge differences between  the results of Lasso and OLS. Are they reasonable?
My codes are as following:
import numpy as np
import pandas as pd
from sklearn import linear_model

test = pd.read_excel('test_tmp.xlsx')

y = test['XT080147.XT']
del test['XT080147.XT']
x = test.copy()

def lasso(x,y):
	lasso = linear_model.Lasso(alpha=.3)
	reg   = lasso.fit(x,y)

	alpha = reg.intercept

[2016-07-28 04:19] jnothman commented on #7091
My inclination towards Python3 says remove cdivision, but the code is more
explicit if we just do the cast; really, I'd accept either.

Fortunately that appears to be the only file with both cdivision=True and
from __future__ import division. However, given that cdivision only affects
the division of integers (and then practically only negative integers), we
should be removing all unnecessary uses

[2016-07-28 04:37] staubda commented on #7091
Ok cool, I'll get rid of cdivision and submit a PR.

[2016-07-28 04:55] GaelVaroquaux commented on #7099
It is to be expected that there are large differences.

Is there anything specific that makes you think that things are wrong?

[2016-07-28 04:55] #7099 closed

[2016-07-28 05:42] jnothman commented on #6070
While I've not read all of the commentary here, and acknowledging @willingc's claim that a CoC is strongest in its positive messages, I feel that #7097 lacks relative to the contributor-covenant.org standard in not assuring its reader that the code is in some way enforceable/enforced. I actually think that's a valuable reassurance that turns CoC from lip-service to a sense of responsibility.

[2016-07-28 06:14] GaelVaroquaux commented on #6070
I don't like very much the contributor-covenant.org CoC. It feels like a political statement with an agenda. On the website of the contributor-covenant it is actually even more clear that there is an agenda (it discusses how meritocracy often results in greater inequality). I know that some people would be uncomfortable with some minor parts of it. I agree with the political views that the contrib

[2016-07-28 07:19] flothesof commented on #5876
@lesteve Ok, I'll create a new issue. Thanks.

[2016-07-28 07:23] flothesof opened #7100 "Example on topic extraction is broken"
#### Description
Hi all,

I'm writing regarding the example on topic extraction <http://scikit-learn.org/stable/auto_examples/applications/topics_extraction_with_nmf_lda.html#example-applications-topics-extraction-with-nmf-lda-py>.

I believe there currently are 2 issues with the source code used in the example:

- the n_features parameter is not taken into account when setting up the tf_idf vecto

[2016-07-28 08:02] #7085 closed

[2016-07-28 09:15] lesteve commented on #7100
Looks like both of the issues you mentioned are fixed in master, closing.

Have a look at the dev doc for this example: http://scikit-learn.org/dev/auto_examples/applications/topics_extraction_with_nmf_lda.html

[2016-07-28 09:15] #7100 closed

[2016-07-28 11:11] Sbelletier opened #7102 "Setting idf_ is impossible"
#### Context

Rather than a bug i guess that would go as a sort of "enhancement proposition" ?

I'm currently trying to persist a `TfidfTransformer` by basically saving its parameters in a mongoDB database and then rebuilding it alike. This technique works for `CountVectorizer` but simply blocks for `TfidfTransformer` as there is no way to set `idf_`.
Is there any actual architectural reason why s

[2016-07-28 11:22] jnothman commented on #7102
I'd be happy to see a setter for idf_.

On 28 July 2016 at 21:11, Sbelletier <notifications@github.com> wrote:

[2016-07-28 11:30] GaelVaroquaux commented on #7102
But that's not what the TfidfTransformer uses internally. Shouldn't the
user be setting the _idf_diag matrix rather? I agree that setting a
private attribute is ugly, so the question is: shouldn't we make it
public?

[2016-07-28 11:31] jnothman commented on #7102
What's wrong with providing a setter function that transforms to _idf_diag
appropriately?

On 28 July 2016 at 21:30, Gael Varoquaux <notifications@github.com> wrote:

[2016-07-28 11:33] doshyt commented on #7096
Hi, I'm a build and integration engineer at my daytime job :) So I would love to take a look at the issue if you give me the initial guidance regarding the build system organization, so I would have a starting point

[2016-07-28 11:46] Sbelletier commented on #7102
As the setter for _idf_diag is defined, this does give me a workaround for my problem. This leads me to two new questions.
- Would you be interested by a snippet/ipynotebook as an example on how to store the correct attributes for CountVectorizer/TfidfTransformer to be restored ?
- I am currently unsure whether i would be able to provide a correct setter for idf_, should i keep the issue open for

[2016-07-28 11:48] lesteve commented on #7096
Is that the same thing as https://github.com/scikit-learn/scikit-learn/issues/6025?

[2016-07-28 11:52] lesteve commented on #7096
If both issues are the same, it is worth reading https://github.com/scikit-learn/scikit-learn/pull/6030#issuecomment-164633163:

[2016-07-28 13:57] weissercn opened #7103 "Using Scorer Object for Classifier Score Method"
I have written my custom scorer object which is necessary for my problem and which I've called "p_value_scoring_object".

For the function sklearn.cross_validation.cross_val_score one of the parameters is "scoring", which allows to use this scorer object.

However, this option is not available for the score method of a classifier. Is sklearn just lacking that feature, or is there a way around it?

[2016-07-28 15:49] amueller commented on #6599
only that non-negative float is not a numpy type ;)

[2016-07-28 16:14] amueller commented on #7103
The API is just different. Try
[code]

[2016-07-28 16:14] amueller commented on #7096
closing as duplicate of #6025,  considering seeing a doctor for early-onset dementia

[2016-07-28 16:15] #7096 closed

[2016-07-28 16:19] amueller commented on #7102
+1 on what @jnothman said

[2016-07-28 16:41] amueller commented on #7091
I'd really like to get @arjoly's input on this... maybe he's on a beach somewhere. It currently looks like we would still be better off with ``np.random.permutation`` most of the time.

[2016-07-28 16:45] staubda commented on #7091
Yes I think that's true. It would still be good to get the bugfix submitted though.

[2016-07-28 16:47] staubda commented on #7091
What do I need to change in the PR so that the issue doesn't get closed? Just remove "Fixes #7091"?

[2016-07-28 16:47] amueller commented on #5481
We also need to test on sparse arrays, probably of multiple types (CSR, CSC should be enough?)

[2016-07-28 16:48] amueller commented on #6614
Ok. We should add a common test anyhow that covers dense and sparse. But alright, let's leave this open to make sure we cover this case.

[2016-07-28 16:50] amueller commented on #7091
yes

[2016-07-28 16:55] staubda commented on #7091
Ok done.

[2016-07-28 17:30] amueller commented on #6986
I think adding a ``dict_init="random"`` for subsampling from the data is reasonable. ``KMeans`` has that, too.

[2016-07-28 17:35] amueller commented on #6986
Hm it looks like OMP was restricted to the transform algorithms so far. I guess there was a reason for that? Can you provide a reference for using OMP for learning the dictionary? It's not mentioned in http://www.di.ens.fr/sierra/pdfs/icml09.pdf, is it?

[2016-07-28 17:57] amueller commented on #7051
There are multiple entries for sklearn. I think I have the key to some of them...

[2016-07-28 18:07] amueller commented on #7051
ok, should be fixed. What would be a good place to store the credentials for this? Should we have a private repo with all they keys?

[2016-07-28 18:08] amueller commented on #6746
Is anyone on this?

[2016-07-28 18:19] nelson-liu commented on #6746
yes @chriskaschner and i talked the other day about it.

[2016-07-28 18:26] chriskaschner commented on #6746
Planning to upload another version today.

[2016-07-28 19:02] amueller commented on #6988
Not really. I haven't really seen these used anywhere.
There is better ways to build them then genetic algorithms btw.
Do you have any applications where they work?

[2016-07-28 19:53] amueller commented on #6983
I'm not sure we want to implement that in scikit-learn. You can pass your your own callable for the analyzer, right?
Any opinions on whether this would be a useful addition from our NLP people? @larsmans @jnothman?

[2016-07-28 20:08] amueller commented on #6977
Hi @shubhankar90. Could you please provide some more detail to what you envision or provide a link to your code?
We don't really have general purpose optimizers in scikit-learn, it that's what you want to add.

[2016-07-28 20:11] amueller commented on #6665
seems to work for everybody now. closing.

[2016-07-28 20:32] amueller commented on #6967
Hm.... Maybe add a ``ColumnSelector`` (which I find a more intuitive name than ``ItemSelector``) and then add something that implements #2034?
I think @GaelVaroquaux's main concern was that he doesn't want pandas-like indexing in the preprocessing package. Though this would be useful even if your data is not in a pandas DataFrame. We probably need a robust way so select columns.
Should we add ``sk

[2016-07-28 20:32] fbrundu commented on #3298
Hi, I implemented a draft of the macro-averaged ROC/AUC score, but I am unsure if it will fit for sklearn.

Here is the code:
[code]
Could it be as simple as this?

[2016-07-28 21:07] amueller commented on #6967
( I just wrote this and I'm not sure if I should go home for the day https://gist.github.com/amueller/643f812a275a9e0c75048aab6988a92c)

[2016-07-28 21:26] amueller commented on #3298
@fbrundu if this is the standard meaning. It is certainly one possible interpretation.

[2016-07-28 21:43] staubda commented on #6877
Getting back to the original reason for this thread (unnecessarily large memory footprint for `IsolationForest` due to `estimators_samples_`, a list of sample masks saved by `BaseBagging` to help calculate OOB scores), I am seeing an issue with porting the solution used for forests in #4783.

In `_parallel_build_estimators()` from `sklearn.ensemble.bagging` we cannot depend on saving the `RandomSt

[2016-07-28 21:45] amueller commented on #3298
There is a nice summary here:
http://people.inf.elte.hu/kiss/13dwhdm/roc.pdf

The pROC package implements Hand and Till:
http://download.springer.com/static/pdf/398/art%253A10.1023%252FA%253A1010920819831.pdf?originUrl=http%3A%2F%2Flink.springer.com%2Farticle%2F10.1023%2FA%3A1010920819831&token2=exp=1469743016~acl=%2Fstatic%2Fpdf%2F398%2Fart%25253A10.1023%25252FA%25253A1010920819831.pdf%3ForiginUr

[2016-07-28 21:48] Naereen commented on #7051
I guess it's the only way to do it?
Note that I have no idea how this mloss.org works, I was just pointing out the outdated link.
Thanks for responding.

[2016-07-28 21:51] amueller commented on #6877
Lol @arjoly already saw this coming in https://github.com/scikit-learn/scikit-learn/pull/4783#issuecomment-117938011
And yes, we should save the seeds that are used in the ensemble.

[2016-07-28 21:55] amueller commented on #7051
The fixed was for you, the other question was more for @agramfort  ;) thanks for reporting!

[2016-07-28 22:08] amueller commented on #6911
closing as no reply. Feel free to reopen.

[2016-07-28 22:08] #6911 closed

[2016-07-28 22:11] bensondaled opened #7109 "IncrementalPCA partial_fit uses too much memory"
#### Description

When using partial_fit to update an IncrementalPCA model, each call drastically increases memory use.

#### Steps/Code to Reproduce

[code]
#### Expected Results

This increase in memory defeats the purpose of partial_fit. Even if it is necessary to copy the newly supplied data once, memory should only increase by that amount. Instead, memory blows up with increasing chunk sizes.

[2016-07-28 22:25] amueller commented on #4473
Should we close this issue?

[2016-07-28 23:31] slaughterhouse-give opened #7110 "dump_svmlight_file not happy with NaN values"
In my understanding, svmlight files should be sparse. Therefore, dump_svmlight_file from a pandas dataframe should skip NaN values, since pandas defaults missing values to NaN.

####Description:
 writing a pandas dataframe that contains missing (NaN) values throws an error.

Minimal code to reproduce:
import pandas as pd
import sklearn.datasets
import numpy as np
df = pd.DataFrame([0, np.nan])
skl

[2016-07-29 00:06] jnothman commented on #4473
I think the project template's done for now. We certainly still need to do work on the publicity of utils, and on the generality/specialisation of `check_estimator`.

[2016-07-29 08:43] rousseau commented on #5481
I confirm that MiniBatchDictionaryLearning has the same issue.

Is the resolution of this bug can change the behavior/results of the algorithm?

[2016-07-29 09:14] shubhankar90 commented on #6977
For example, lets say one wants to fit a custom function like y = a*e^(-b*(e^(-c*x))) ([https://en.wikipedia.org/wiki/Gompertz_function](url)) to data. Here y is the output feature and x is input feature. a,b and c are the parameters to be derived by minimizing the least_squares prediction errors. I was looking for a sklearn module which can fit this custom function to data.

I had implemented thi

[2016-07-29 09:17] GaelVaroquaux commented on #6977
While I understand the value, I fear that this requires a bit too much
understanding of the mathematical aspects of machine learning. In my
opinion, this is out of scope, as the goal of scikit-learn is to make
advanced algorithms available to non experts.

[2016-07-29 12:24] shubhankar90 commented on #6977
By putting it behind it behind a sklearn interface. Mathematical complexity in general usage is what would be hidden from users.

[2016-07-29 14:30] agramfort commented on #7051
have a private repo with all they keys?

whatever works. But on github it's better

On Thu, Jul 28, 2016 at 11:55 PM, Andreas Mueller <notifications@github.com>
wrote:

[2016-07-29 14:47] amueller commented on #4473
Agreed.

[2016-07-29 14:47] #4473 closed

[2016-07-29 16:17] paulcoursaux opened #7113 "Convergence issues PCA"
#### Description

I have had convergence issues with the PCA. After some research (looking for NaN, inf,..), I have come to the conclusion that it is due to the optimisation algorithm used (since every real / complex matrix has a svd). Indeed, in scipy SVD, you can either use the lapack driver gesdd or gesvd. Default one is gesdd and it uses an algorithm which does not necessarily converge since i

[2016-07-29 17:38] staubda opened #7114 "bagging - max_features not correctly passed to _parallel_build_estimators()"
`_parallel_build_estimators()` from `sklearn.ensemble.bagging` should take `max_features` as an argument, similar to how it receives `max_samples`.

Currently it uses whatever value the `ensemble` estimator it receives was initialized with, which could be a float. This will cause problems when using `max_features` to randomly subsample the features, as an int is expected.

For instance,  `BaseBagg

[2016-07-29 17:44] #7114 closed

[2016-07-29 17:49] staubda commented on #7114
Whoops, never mind, didn't read the code closely enough.

[2016-07-29 17:53] amueller commented on #7113
Can you provide your matrix? How big is it? How sparse is it?
Or even better, can you provide some code reproducing the problem?

[2016-07-29 18:25] amueller commented on #6977
@shubhankar90 the user still has to provide the parametric form, right?
This is more or less a thing wrapper around ``least_squares``, right? I guess it's still interesting.

Having this as a recipe somewhere doesn't seem like a bad idea, or maybe as a scikit-learn-contrib project? https://github.com/scikit-learn-contrib/scikit-learn-contrib/blob/master/README.md

But I agree with @GaelVaroquaux t

[2016-07-29 18:29] amueller commented on #5481
Sorry I can't parse this sentence.

[2016-07-29 18:30] amueller commented on #7094
@arthurmensch you're the expert here. This is really not great at the moment...

[2016-07-29 18:39] amueller opened #7115 "Don't use old GMM in examples"
The old GMM seems to be used in examples, leading to many deprecations warnings:
https://circleci.com/gh/scikit-learn/scikit-learn/4343

The new GaussianMixture should be used instead.

[2016-07-29 18:41] manu-chroma commented on #6670
Should I do the same for the other loaders now ?

Making a PR for each of the loaders one at a time.

[2016-07-29 18:44] amueller commented on #6670
sounds good.

[2016-07-29 18:46] amueller commented on #7110
Missing values are not the same as sparse data. svmlight files don't support missing values. Sparse data means the other values are zero.

[2016-07-29 19:06] amueller opened #7116 "Discussion of useful plotting"
In #6338 we discussed whether we want plotting code in sklearn.
We decided that the answer is yes, and we add a plotting submodule.
I think it would be good to discuss what functions to add.

Here are some that come to mind:
* better 2d scatterplot (with legend) - I have that for my book
* confusion matrix (have that too)
* plotting coefficients from a linear model or feature importances (maybe? I

[2016-07-29 19:07] amueller commented on #6981
@glemaitre thanks, got it.

[2016-07-29 19:14] amueller commented on #7109
thanks for the report. This indeed seems to defeat the purpose. Would you like to investigate?

[2016-07-29 19:23] rasbt commented on #7116
- [ ] Silhouette plots for evaluating clustering results. E.g., like [this](https://github.com/rasbt/python-machine-learning-book/blob/master/code/ch11/images/11_16.png)
- [ ] Like 2D decision regions, adding a plot for 1D & 2D cluster membership viz. (using diff. colors **and** diff. symbols; and optionally showing centroids for k-means maybe)
- [ ] Dendrograms for hierarchical clustering e.g., l

[2016-07-29 19:25] amueller opened #7117 "In imputer, change ``add_indicator_features`` default"
I think the `add_indicator_features` parameter should be `True` by default, as data is nearly never MAR.
So that means starting a deprecation cycle etc.

[2016-07-29 19:58] staubda commented on #6877
Feedback on this fix would be welcome, my main concern is that it will break compatibility with code depending on `BaseBagging.estimators_samples_`.

[2016-07-29 20:02] GaelVaroquaux commented on #6877
Which is not something that we can do without have a transition period of
2 releases with a warning.

We are open to evolution, but they need to be smooth: see
http://scikit-learn.org/stable/developers/contributing.html#deprecation

[2016-07-29 20:08] staubda commented on #6877
Gotcha, makes sense.

I don't see any way to fix this problem without getting rid `BaseBagging.estimators_samples_` (suggestions would be welcome), so I guess I should put the attribute back in and add deprecation decorators?

[2016-07-29 20:12] GaelVaroquaux commented on #6877
I think so. And a note as a comment to do the change in 2 release as well
as the motivation so that devs in a little while understand why.

[2016-07-29 20:20] glouppe commented on #6877
Define this attribute as a property and regenerate on the fly when it is
accessed?

On 29 Jul 2016 22:12, "Gael Varoquaux" <notifications@github.com> wrote:

[2016-07-29 20:36] GaelVaroquaux commented on #6877
Can we? I haven't looked at the code, I need to do """super urgent grant
proposal shit""" (for scikit-learn) as so often.

If so, ideally with a caching mechanism.

[2016-07-29 21:15] kjacks21 commented on #7115
I'll work on this.

[2016-07-29 22:03] staubda commented on #6877
I think the `@property` solution could be a good one, however I'm currently passing `X` to my new `_get_estimators_samples(self, X)` method in order to get the number of samples and features in the training data.

Would it be reasonable to have `BaseBagging._fit()` set two new attributes, `self._n_samples` and `self._n_features`, so that `_get_estimators_samples()` only needs `self` as an argument

[2016-07-29 22:13] staubda commented on #6877
Actually it looks like `BaseBagging._fit()` already saves the number of features in `self.n_features_`.

[2016-07-29 22:52] staubda commented on #6877
Ok, just pushed changes using `@property` that should make this fix fully backwards compatible.

[2016-07-30 01:06] kjacks21 commented on #7115
To be clear, by GMM, do you mean instances of `sklearn.mixture.DPGMM`? It looks like instances of `sklearn.mixture.GMM` were replaced with GaussianMixture already and the warnings you provided point to the `DPGMM` class.

[2016-07-30 15:11] shubhankar90 commented on #6977
@amueller Thanks for the direction.

scikit-learn-contrib seems to be a good place for it.
Should I attempt making my code compliant to it. It would be a good learning for me.

least_squares calculates the jacobian internally if not user supplied. Check jac parameter in [http://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.least_squares.html](url) . There are alternative robust loss

[2016-07-30 16:06] shanglun commented on #7089
Does this still need a contributor? I'll work on this issue.

[2016-07-30 17:39] agamemnonc opened #7121 "MultinomialNB class_prior attribute is empty"
#### Description
After fitting a MultinomialNB() model, the class_prior attribute remains empty, although the class_log_prior_ is properly updated. (Also just noticed the incompatibility between the two, shouldn't the attribute be called 'class_prior_' rather than 'class_prior'? )

#### Steps/Code to Reproduce
import numpy as np
from sklearn.naive_bayes import MultinomialNB
X = np.random.randint(5

[2016-07-31 02:48] randyphoa opened #7122 "MLP: partial derivative of output activation is not calculated in last layer of backpropagation"
#### Description
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neural_network/multilayer_perceptron.py#L238-L243

When using an output activation besides the identity function, the gradients of the last layer of backpropagation does not include the partial derivative of the output activation function.

#### Current code
`diff = y - activations[-1]`
`deltas[last] = -diff`

`# Com

[2016-07-31 07:41] maniteja123 commented on #7121
Hi, thanks for the report. I am not an expert, but to the extent of my knowledge, I suppose [``class_prior``](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/naive_bayes.py#L627) is a init parameter and not an attribute. That's probably the reason why there is no trailing underscore and also the attribute [``class_log_prior_``](https://github.com/scikit-learn/scikit-learn/blob/mas

[2016-07-31 11:13] TerrenceVarada commented on #7099
Yes, when I use the same variables to run the regressions, the score of
lasso is 0, which means all betas equal to 0. However, the score of OLS is
around 0.3.
The attachments are my code and data. Looking forward hearing from you.
Sincerely,
Terrence

开 2016年7月28日 在 12:56:47, Gael Varoquaux (notifications@github.com) 写到:

Closed #7099 <https://github.com/scikit-learn/scikit-learn/issues/7099>.

—

[2016-07-31 15:55] GaelVaroquaux commented on #7099
Have you adjusted the alpha parameter?

[2016-07-31 18:21] rornor commented on #7061
Sphinx search is included as always at this endpoint `//docroot/search` (like in http://scikit-learn.org/stable/search). But instead there is Google custom search on front page, which IMHO gives poorer results (including ads)

[2016-07-31 18:58] nelson-liu commented on #7061
i like that google custom search gives autocomplete, but it also like the way that sphinx search hooks into the docstrings and provides useful context for search results (e.g. tells you if a search result is a class, an attribute, a method, etc.)

[2016-07-31 19:04] btabibian commented on #7109
I looked into this issue but could not reproduce it (as I understood it). First two calls to `partial_fit` result in increase of memory usage to 3.7GB but subsequent calls to `partial_fit` does not use any more memory.

Main source of increase in memory usage are due to storing computed basis and stacking them on input data `X` (resulting in new array). This means one copy of previous basis and a

[2016-07-31 19:14] btabibian commented on #7109
Also this code results in an extra copy of the data every time `partial_fit` is called due to `check_input=True` in `partial_fit`  and `copy=True` in initialization of `IncrementPCA`.

[2016-07-31 20:27] hshteingart commented on #3956
I fount a way to go around the problem by using the `CountVectorizer` which can turn those strings into a binary representation directly:
[code]

[2016-08-01 01:41] TerrenceVarada commented on #7099
Yes, I adjusted the alpha from 1 to 0.1, but the results are still the same.

开 2016年7月31日 在 23:55:46, Gael Varoquaux (notifications@github.com) 写到:

Have you adjusted the alpha parameter?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/scikit-learn/scikit-learn/issues/7099#issuecomment-236437784>,
or mute the thread
<h

[2016-08-01 07:08] paulcoursaux commented on #7113
Hi Andreas,

Thanks you for your answer.
If you try a:
pca = PCA()
pca.fit()
you will get the error I had

[to_check.csv.zip](https://github.com/scikit-learn/scikit-learn/files/393093/to_check.csv.zip)

[2016-08-01 08:14] rousseau commented on #5481
Sorry if it was not clear.

What I meant is: Does a fix of this bug will change the results obtained from the algorithm?

[2016-08-01 08:17] lesteve commented on #4664
The fix has been merged in joblib master. It's just a matter of releasing a new joblib version and integrating it in scikit-learn.

[2016-08-01 08:31] agamemnonc commented on #7121
I guess you are right, thanks!

Closing the issue.

[2016-08-01 08:31] #7121 closed

[2016-08-01 14:28] lesteve commented on #7113
Can you provide a standalone reproducible example that we can easily run on our machines to see whether we can reproduce the problem? For example you are missing the `from sklearn.decomposition import PCA` in your snippet above and you are calling `.fit` without argument. I am guessing that you use to_check.csv.zip as some kind of input data but you are not explicit about how you load the data. Al

[2016-08-01 14:52] paulcoursaux commented on #7113
Hi,

Thank you for your answer. Here is a more detailed code:

[code]

And here is a post that might help you with what I call convergence issues:
https://github.com/idiap/bob/issues/171 (especially the part about safe vs fast svd)

I got the following error: SVD did not converge

Many thanks

[2016-08-01 16:00] Erotemic opened #7126 "model_selection.StratifiedKFold should not require the data array to simply return split indices."
When importing import sklearn.cross_validation I was prompted with a DepricationWarning
saying I should use sklearn.model_selection instead. To ensure my code is up to date, I switched to the new version, but then I encountered an odd behavior.

The place in my code where I was generating the cross validation indices does not have access to the data array.  However, in the new version to simply ge

[2016-08-01 16:13] agramfort commented on #7126
request seems legit. Any objection to allow X=None here? we would have to
be more permissive also in other CV objects if needed

[2016-08-01 16:15] GaelVaroquaux commented on #7126
It's impossible: the code introspects a variaty of thigns on X to
generate the indices, such as the number of samples.

[2016-08-01 16:23] tiagoantao commented on #7113
Some time ago I had this exact same problem. In my case the data that is fed to PCA is stochastic (from a simulation), so it was a bit hard for me to extract the input at that time.

[2016-08-01 16:39] agramfort commented on #7126
yes but here you get this info from len(y)

[2016-08-01 16:41] GaelVaroquaux commented on #7126
Good point, most (all?) CV objects only need y.

+1 for X=None, than

[2016-08-01 16:43] agramfort commented on #7126
@raghavrv since you did this refactoring any thoughts?

[2016-08-01 16:52] raghavrv commented on #7126
Why can't you just set `X = np.empty((y.shape[0], 1))`?

Maybe we can document this in the docstring of X to guide people.

[2016-08-01 16:53] agramfort commented on #7126
that works too :)

[2016-08-01 16:54] paulcoursaux commented on #7113
Hi Tiago,

Thanks for your answer.
My point was that PCA always has a solution and that there is an algorithm that always converges so it's a bit disappointing not to have this option.

FYI I solved it using TruncatedSVD (with arpack algorithm).

[2016-08-01 19:09] dmyersturnbull commented on #6665
Sorry, but I still get this on Python 3.5.1, scikit 0.17, scikit-learn 0.18 (commit 9e913c04d748), and Numpy 1.11.1 on Mac OS 10.11.5.

[2016-08-01 19:09] amueller commented on #7113
@paulcoursaux picking which algorithm is run by default on a particular dataset is a pretty tricky question. "always converges" is not really the guarantee that you are usually looking for.

[2016-08-01 19:11] amueller commented on #7113
Btw, which version of scikit-learn are you using? Have you tried master?

[2016-08-01 19:14] amueller commented on #7126
Can you give more details on that? How did you do that?
This should be possible by having X be the indices to the data, and having a transformer that loads the data in a pipeline.

[2016-08-01 19:36] vene commented on #7126
There are definitely workarounds possible in user code, like the one @raghavrv suggested. If this is a common enough use case, however, I think we should not put the burden on the user, and allow X=None.

I'd argue that requiring X gives the illusion that X is somehow used.

[2016-08-01 20:05] raghavrv commented on #7126
I think we decided to go with `split(X, y, labels)` as it can also be used for unsupervised tasks too.

Now if you want X=None to be set in `StratifiedKFold` alone, the signature must be `split(y, X=None, labels=None)` which is not consistent with the other CV splitters.

Or if you are suggesting that we have `(X=None, y=None, labels=None)` and we can later make sure `y` is not `None`, users are e

[2016-08-01 21:12] nelson-liu commented on #7094
travis is green again, but this remains an inconvenience. i'm closing this for now.

[2016-08-01 22:25] vene commented on #7126
Yeah, that's a good point... You changed my mind, now I think we should keep the current signature. When X doesn't fit, users are likely to apply the trick that @amueller described. If not, we can suggest the `np.empty` trick. I don't think this use case is frequent enough to warrant jumping through hoops in our input validation...

[2016-08-01 22:47] Erotemic commented on #7126
@raghavrv  The first case in the second paragraph seems the most reasonable to me.

[code]

I think X coming first is fine in the signature, but that doesn't mean it can't be a default argument.
Doing it this way a user could simply use skf.split(y=y) or skf.split(None, y). This wouldn't break in the unsupervised case and it would be much more reasonable in the supervised case.

I think this solut

[2016-08-01 23:16] raghavrv commented on #7126
Thanks for the comment. But I have a feeling that people will then be motivated to try `skf.split(y)` and complain that it doesn't work while `kfold.split(y)` works.

I *feel* your use case of being unable to pass `X` is really small. People would happily pass `X` and `y` especially since `X` is neither copied nor modified. And this would continue to be the case as long as `X` is in the current na

[2016-08-02 03:00] lesteve commented on #6665
@dmyersturnbull do you get the error when running the snippet from https://github.com/scikit-learn/scikit-learn/issues/6665#issuecomment-218365487?

[2016-08-02 06:58] paulcoursaux commented on #7113
I used version 0.17.1
What do you mean by not really the guarantee that you are usually looking for ?
I mean I understand that you'd rather have an algorithm fast which converges most of the time but still if it doesn't converge it's nice to have the possibility to use an algorithm that will (when it exists which is the case for PCA)