[2022-02-27 21:31] thomasjpfan commented on #3210
Closing since I think https://scikit-learn.org/dev/modules/feature_extraction.html#text-feature-extraction is detailed and there are additional examples of using the tfidf:

- [Column Transformer with Heterogeneous Data Sources](https://scikit-learn.org/dev/auto_examples/compose/plot_column_transformer.html#sphx-glr-auto-examples-compose-plot-column-transformer-py)
- [Sample pipeline for text feat

[2022-02-27 21:31] #3210 closed

[2022-02-27 21:35] trinhcon commented on #17639
/take

[2022-02-27 21:53] thomasjpfan commented on #11940
Closing because there is no response and it's been more than 3 years. Furthermore, this issue does not have a reproducible snippet with the data, so it is not actionable.

[2022-02-27 21:53] #11940 closed

[2022-02-27 22:16] thomasjpfan commented on #11410
Closing since this was a tensorflow issue where some of their models were not pickle-able and it is not related to scikit-learn. Although, from looking at https://github.com/tensorflow/tensorflow/issues/34697, it looks like the tensorflow issue was recently resolved.

[2022-02-27 22:16] #11410 closed

[2022-02-27 22:19] thomasjpfan commented on #14089
Closing because this issue does not have a reproducible example with data.

[2022-02-27 22:19] #14089 closed

[2022-02-27 22:22] thomasjpfan commented on #14174
Fixed in https://github.com/scikit-learn/scikit-learn/pull/22619

[2022-02-27 22:22] #14174 closed

[2022-02-27 22:23] thomasjpfan commented on #14210
Closing because we correctly include lightgbm in the CI:

https://github.com/scikit-learn/scikit-learn/blob/7a2a0f74ca7b9e452c94ee6de3146ef879dfe41c/build_tools/azure/install.sh#L110

[2022-02-27 22:23] #14210 closed

[2022-02-27 22:31] gilbertovilarunc commented on #11463
Is it solved? Reaally needs this feature!

[2022-02-27 22:43] thomasjpfan commented on #14106
Closing since this was fixed in https://github.com/scikit-learn/scikit-learn/pull/21781 and all related PRs. Also the memmap issue was fixed on the joblib side here: https://github.com/joblib/joblib/pull/1254

[2022-02-27 22:43] #14106 closed

[2022-02-27 22:48] cmarmo opened #22627 "Enforce references to use `:doi:` and `arxiv` directives."
### Describe the issue linked to the documentation

Follow-up of #21088.
Without instruction in the [Contributing section](https://scikit-learn.org/dev/developers/contributing.html) doi and arxiv links will be added to the documentation without specific sphinx directives.

### Suggest a potential alternative/fix

Add this information to the [Documentation section](https://scikit-learn.org/dev/deve

[2022-02-27 22:50] thomasjpfan commented on #14382
Closing this issue because I agree with the assessment in https://github.com/scikit-learn/scikit-learn/issues/14382#issuecomment-512347427 and that these feature encoders are not in scope for scikit-learn.

[2022-02-27 22:50] #14382 closed

[2022-02-27 22:52] thomasjpfan commented on #14578
Closing as I agree with https://github.com/scikit-learn/scikit-learn/issues/14578#issuecomment-518854600 and that this function is not in scope for scikit-learn.

[2022-02-27 22:52] #14578 closed

[2022-02-27 23:46] VolodyaCO opened #22628 "LabelEncoder not transforming nans as expected."
### Describe the bug

When fitting a LabelEncoder with a pandas Series that contains a nan, transforming an array containing nans fails, even though nan is one of the LabelEncoder classes.

### Steps/Code to Reproduce

[code]

### Expected Results

Instead of the error, I'd expect the output to be `array([2])`

### Actual Results

[code]

### Versions

[code]

[2022-02-28 00:59] thomasjpfan commented on #22628
`LabelEncoder.transform` is not using the dtype of `y` seen during `fit`. In other words it sees `[np.nan]` as a float array, which is not compatible with the object array in `classes_`. A workaround is to cast the input to `transform` into an object array:

[code]

[2022-02-28 01:18] thomasjpfan commented on #14756
Closing because I think the issue is resolved. The [How to contribute Section](https://scikit-learn.org/stable/developers/contributing.html#how-to-contribute) now links to the [Building from source section](https://scikit-learn.org/stable/developers/advanced_installation.html#install-bleeding-edge), which includes instructions on setting up a virtualenv with conda or venv.

[2022-02-28 01:18] #14756 closed

[2022-02-28 01:38] VolodyaCO commented on #22628
Thanks! This is, however, a workaround. Is there any reason why the current behaviour is the desired behaviour and not the one that I want?

[2022-02-28 02:15] thomasjpfan commented on #22628
I think it makes sense to do. I opened https://github.com/scikit-learn/scikit-learn/pull/22629 for a quick fix.

[2022-02-28 05:16] dsandeep0138 commented on #17639
Sorry, I haven't been active on this thread. I can make a report. Can someone (maybe @jeromedockes / @[rspreafico-absci](https://github.com/rspreafico-absci)) please help me with a report template, and I can share back with details filled in?

[2022-02-28 12:50] ChristineChetty11 commented on #14214
Hi, has this gained any traction?

[2022-02-28 15:22] leo-ware commented on #22626
I would be happy to implement this. Should I just get started? (First time contributor, don't really know who I should ask.)

[2022-02-28 15:30] thomasjpfan commented on #22626
@leo-ware Maintainers need to decide if the feature should be included first. [This issue](https://github.com/scikit-learn/scikit-learn/issues/21350) is a good one to get started with.

@raymondj-pace Do you have references or papers where they show it is useful to perform different averaging strategies for KNN? We need to make sure the new feature fits [scikit-learn's inclusion criterion](https:/

[2022-02-28 16:20] jeremiedbb opened #22636 "Don't run the labeller twice on a same PR"
Do you think it would be possible for the PR labeller to only run on PRs it has not seen yet ?
Sometimes I find that the labels are not great and try to remove a  label but the bot just rush behind me to add the label again :D

ping @thomasjpfan

[2022-02-28 16:21] jeremiedbb commented on #22636
Also I did not find any label for this kind of issue. Should we make a `github` label ?

[2022-02-28 17:08] thomasjpfan commented on #22636
I feel "github" is too generic. Technically most things we do are on github. :D  The label that fits the best it "Build / CI" that is more on the CI side. I added a "workflow" label to cover workflow changes.

As for this issue, the bot was setup to run on updates because the labels can become out of date if files change in the PR. I think this situations does not happen too often, so I am okay wi

[2022-02-28 17:16] jeremiedbb commented on #22636
nice :)

[2022-02-28 18:14] raymondj-pace commented on #22626
One reference is here: https://aip.scitation.org/doi/10.1063/1.5011683
[https://aip.scitation.org/action/showOpenGraphArticleImage?doi=10.1063/1.5011683&id=images/medium/1.5011683.figures.online.highlight_f1.jpg]<https://aip.scitation.org/doi/10.1063/1.5011683>
Geometric k-nearest neighbor estimation of entropy and mutual information: Chaos: An Interdisciplinary Journal of Nonlinear Science: Vol 2

[2022-02-28 18:33] #22636 closed

[2022-02-28 19:56] marenwestermann commented on #22581
Thank you for your detailed response, @ogrisel!

Regarding your questions: I got a new computer recently (the MacBookPro with chip Apple M1 Pro that I'm using now). I backed up the repos that I had on my old computer to an external hard drive and from there copied these over to the new computer. There, in case of scikit-learn, I made sure that origin and upstream are correct, did a `git pull upstr

[2022-02-28 20:40] amueller commented on #22383
@mayer79 hm the distribution makes sense, I hadn't thought about that in my quick hack. But that should be possible with the more low-level method, right? ``_partial_dependence_brute`` has ``grid``. Or are there other differences?

[2022-02-28 21:22] thomasjpfan commented on #22581
From your logs, it looks like the compiler being used is not the conda-forge one. Can you try install the compilers first?

[code]

(An alternative is to deactivate and reactivate the environment after installing `compilers`)

[2022-02-28 21:28] #22614 closed

[2022-02-28 22:55] xiaowei1234 commented on #11566
can I get a review on my pull request that addresses this issue?

[2022-03-01 00:43] alanpeixinho commented on #22586
Working on examples/inspection/plot_partial_dependence.py

[2022-03-01 01:06] boris-shabash commented on #18205
Is this still an open issue?
I'd like to chime in with the fact I actually think estimators should have a pre-specified limit on `max_iter` for models. One example for why is the `sklearn.svm.SVC` object which when instantiated with `max_iter=-1` can get stuck if it cannot converge. This makes it difficult to employ in Jupyter notebooks where sending an interrupt to the kernel isn't enough to rega

[2022-03-01 02:20] lesnee commented on #22586
Working on examples/datasets/plot_iris_dataset.py

[2022-03-01 02:23] lesnee commented on #22586
If I am not mistaken, in `examples/manifold/plot_manifold_sphere.py`,  Axes3D is only used (as the comment inside the code indicates) for "silence pyflakes".

[2022-03-01 03:59] cmarmo commented on #21993
The winner is ....🥁 ..... "Contributor Experience Team" ! 🎉

TODO:
- [ ] change the name on github
- [ ] modify the documentation

[2022-03-01 04:54] sashank-tirumala commented on #21350
Working on  sklearn.decomposition._dict_learning.dict_learning

[2022-03-01 08:11] cherry-licongyi commented on #20629
this warning is quite annoying，How can I eliminate the warning？

[2022-03-01 14:19] mfeurer opened #22644 "Add `as_frame` to `sklearn.datasets.fetch_20newsgroups`"
### Describe the workflow you want to enable

I would like to load the 20 newsgroups dataset as a dataframe in one line of code:
[code]

### Describe your proposed solution

Add the argument `as_frame` to `sklearn.datasets.fetch_20newsgroups` to make the function behave similar to other data loading functions such as [`fetch_openml`](https://scikit-learn.org/stable/modules/generated/sklearn.datase

[2022-03-01 14:24] eghbalhosseini opened #22645 "multiple-output regression is inaccurate for many targets"
### Describe the bug

I have tested multi output regression for num_target > 1000 , and have noticed that there is a substrantial difference in the predicted values if I do the regressions serially in a for loop, vs MultiOutputRegressor(reg) . I have tried varying the number of jobs -1, 1, 2, 10. the results only agrees when the njobs=1 otherwise there is a substantial different.

### Steps/Code t

[2022-03-01 14:53] thomasjpfan commented on #22644
I think this is reasonable to add. In this case, I think the output should be a pandas Series to match the semantics of the "list of strings". As for the name of the series, it could be "post".

(Also our vectorizers do not work with 2d data yet: https://github.com/scikit-learn/scikit-learn/pull/16994)

[2022-03-01 15:36] mfeurer commented on #22644
Thanks for the prompt answer!

I don't think I understand the reasoning behind this. Why would a series be preferable from a usage point (assuming that #16994 is merged)? Ideally, I would like to do something like:
[code]
in which the 20 newsgroups dataset is now treated the same way as any other dataset that is loaded with the `sklearn.datasets` module.

[2022-03-01 15:52] Kiona0405 commented on #20629
You can suppress the warning by using catch_warnings.

[code]
The result is

[code]
I referenced [this link](https://stackoverflow.com/questions/14463277/how-to-disable-python-warnings).

[2022-03-01 16:07] thomasjpfan commented on #22644
The 20 newgroups dataset already stands out because it is a list of strings, while most of the other `sklearn.datasets` returns a 2d ndarray by default.

Assuming https://github.com/scikit-learn/scikit-learn/pull/16994 gets merged, then it possible to return a `DataFrame`. If the PR not merged, we would need to return a Series so that the snippet you provided works.

For me, I would prefer a DataF

[2022-03-01 16:16] ogrisel commented on #14106
Note that joblib has not be released yet at the time of writing but it should happen soon-ish.

[2022-03-01 16:21] ogrisel commented on #22644
We can add an `as_series=False` option that would return a pandas series in the mean time. If #16994 gets merge, we can also add an `as_frame` attribute on top.

[2022-03-01 16:40] mfeurer commented on #22644
That all makes sense, thank you for your explanation @thomasjpfan and @ogrisel

[2022-03-01 17:51] mayer79 commented on #22383
@amueller :

- Parameter `grid` will solve the problem. Unfortunately, the computational burden is tremendous because the original H-statistic uses all rows as grid (one column for the one-dimensional PDP, two columns for the two-dimensional one). The next bullet points explain two usual tricks to reduce the burden to a realistic level.
- Subsampling: Use only a sample of size m = 200 (or so) from

[2022-03-01 23:55] JacksonWuxs commented on #14947
I believe @GiilDe suggestion is right.
Most scenarios using DBSCAN work on large dataset. Thus, a progress report is necessary and meaningful.

[2022-03-02 09:30] ogrisel commented on #22581
@thomasjpfan command should work. But using mamba to create the env and install everything should even be faster:

[code]

[2022-03-02 12:59] #22540 closed

[2022-03-02 13:50] #21994 closed

[2022-03-02 14:18] #21088 closed

[2022-03-02 16:33] chukarsten opened #22655 "SimpleImputer does not support pd.NA"
### Describe the bug

Pandas' new NA type does not seem to be properly recognized as a none-type.  We currently see this when trying to use the SimpleImputer with a strategy of "most frequent".  Digging a little deeper, it seems to come to the _object_dtype_isnan() function in fixes.py being the culprit and returning a bool instead of a properly shaped mask of where the pd.NAs are.

[code]

### St

[2022-03-02 17:34] thomasjpfan commented on #22655
To recognize `pd.NA`, one needs to set `missing_values` to `pd.NA`:

[code]

If you want numerical output, you can use a numerical pandas extension dtype (which is the use case for `pd.NA`):

[code]

[2022-03-02 17:40] #22655 closed

[2022-03-02 18:47] #11102 closed

[2022-03-02 19:51] #22552 closed

[2022-03-02 20:20] marenwestermann commented on #22581
Thank you for your replies! I tried deactivating and reactivating the environment after installing `compilers` as suggested by @thomasjpfan but this again resulted in the pytest process being killed.

I cloned a new copy in a separate folder (just to be sure), then followed @ogrisel 's instructions and still got the same error trying to do `python -vvv -c "import sklearn"` with this output:

<deta

[2022-03-02 21:21] marenwestermann commented on #22581
Interestingly, when I create a venv using the python installed on my machine (3.8), I can build and import sklearn and show versions (I have clang installed system-wide):

<details>

[code]

</details>

Of course this doesn't help me in the development env since I can't actually install sklearn (due to lack of openmp I think):

<details>

[code]
</details>

It probably would be nice to figure this

[2022-03-02 21:49] thomasjpfan commented on #22581
From your [build logs](https://gist.github.com/marenwestermann/6860eff85fd264fa67f9b85f9c84a036) in https://github.com/scikit-learn/scikit-learn/issues/22581#issuecomment-1054609173 I see:

On my M1 Max, I get:

In the conda environment, can you try running `which clang`? For the build to work with conda it should point to your conda environment one (not the system one). For example, my `which cla

[2022-03-02 23:00] #22627 closed

[2022-03-03 07:29] #21945 closed

[2022-03-03 09:12] ogrisel commented on #13570
We also agreed at the meeting that it would be good idea to mark those sensitive parameters in the HTML/notebook repr of the estimators.

[2022-03-03 11:47] ogrisel commented on #22581
Note that:

[code]

cannot always be trusted. Better do:

[code]

or use:

[code]

[2022-03-03 11:50] ogrisel commented on #22581
@marenwestermann in output of your build in the Python 3.8 venv you have a warning about openmp but this is just a warning and should not prevent you from building the project (without openmp parallelism). The actual error is:

[code]

which makes me think that your system Python install is lacking some dependencies. Maybe `pip install wheel` in your venv will fix that.

[2022-03-03 11:57] ogrisel commented on #22581
Hum I tried again the instructions of https://github.com/scikit-learn/scikit-learn/issues/22581#issuecomment-1056674469 and now I can reproduce the crash. This is really weird, I am sure it did work (after running the pip install command previously).

[2022-03-03 13:06] AlanGanem opened #22664 "Add NaN handling in sklearn.preprocessing.KBinsDiscretizer"
### Describe the workflow you want to enable

I Would like to enable `KBinsDiscretizer` to handle NaNs, in order to create bins representing missing values. This is a bit awkward for ordinal encoding, but makes a lot of sense for one hot encoding, where one can have a dummy variable for NaN values or simply set all dummis of a single feature to zero, meaning the feature value is missing.

### Desc

[2022-03-03 14:18] ogrisel commented on #22581
I think it might be related to python 3.9 vs 3.10.

@marenwestermann can you please try again with:

[code]

[2022-03-03 14:39] ogrisel commented on #22581
Ok I think I found the cause. It might be the OS that's killing new processes that try to allocate too much memory when the system is already under memory pressure. See https://developer.apple.com/forums/thread/8664

I launched "Activity Monitor" and realized that might system was under pressure. I stopped firefox and then tried to launch the `python -c "import sklearn; sklearn.show_versions()"` f

[2022-03-03 14:43] ogrisel commented on #22581
No this is not it. I tried again, and this time my memory usage is fine I still get the process killed problem on a new env.

[2022-03-03 14:55] ogrisel commented on #22581
Hum, on an env that fails to import sklearn, I tried to use `otool -L` on one of the dynlibs and I get:

[code]

[2022-03-03 15:56] adrinjalali commented on #22581
I've noticed I need to install `wheel` on every new env, we probably should include it in our build dependencies and docs.

Here's what's worked so far (on @marenwestermann 's computer):

- follow advanced installation using homebrew [here](https://scikit-learn.org/stable/developers/advanced_installation.html#macos-compilers-from-homebrew)
- change the environment variables to:

[code]

Then build

[2022-03-03 16:05] adrinjalali commented on #22581
re: `which clang`, creating a new env, after `hash -r` returns:

    /Users/maren/mambaforge/envs/sklearn-env/bin/clang

and building in this env results in the same crash.

[2022-03-03 16:29] ogrisel commented on #22581
I found the culprit, it's the clang-12 compiler toolchain from conda-forge. If you install the clang-11 version, everything is fine. Just add `clang-11` to the list of package to add the constraints for the new env:

[code]

[2022-03-03 16:29] ogrisel commented on #22581
I will report to conda-forge.

[2022-03-03 16:45] adrinjalali commented on #22581
My question is why @thomasjpfan can't reproduce it then.

[2022-03-03 16:47] ogrisel commented on #22581
Here is the bug report: https://github.com/conda-forge/compilers-feedstock/issues/41

Maybe he still had a clang-11 based env activated in his path when he ran the tests. Also sometimes the problem would disappear even in my `sklearn-env` (maybe because I had additional deps that would require `clang-11` in my env?). I am not sure.

[2022-03-03 16:52] NikZak opened #22678 "GridSearchCV does not return trained estimator for each split vs cross_validate which does"
### Describe the workflow you want to enable

GridSearchCV does not return trained estimator for each split vs cross_validate which does have trained estimators for each split. Instead GridSearchCV returns best_estimator_ which is usually being refit on X and thus can not be used on X to predict test data. cross_validate returns trained estimators which can be used for prediction on test data.

Fo

[2022-03-03 17:18] jjerphan opened #22680 "TST Add option to run tests on 32bit data"
### Context

Currently most implementations are tested against 64bit datasets only. The re-factoring of some internals for computations on 32bit datasets brought the need to test user-facing interfaces on 32bit datasets (see https://github.com/scikit-learn/scikit-learn/pull/22590#issuecomment-1054546370). A few group of PRs (such as #22663) introduced a simple parametrisation on `dtype`:

[code]

[2022-03-03 17:26] ogrisel commented on #22581
If you build the env with conda-forge as explained in the doc then you don't need to install it explicitly.

[2022-03-03 17:50] thomasjpfan commented on #22678
`GridSearchCV` considers all of it's input `X` to be training data. It uses all the training data to find the best configuration with cross validation. The purpose of the models trained during cross validation is **only** for finding the best configuration. Once it finds the best configuration it refits it on all the training data to get `best_estimator_`. To have test data to evaluate `best_estim

[2022-03-03 19:03] ogrisel opened #22682 "Estimator check for dtype preservation for regressors"
### Describe the workflow you want to enable

As discussed in https://github.com/scikit-learn/scikit-learn/pull/22663#issuecomment-1058368882, we should have a common test that checks that the `predict` method of regressors preserves the dtype, similarly to `check_transformer_preserve_dtypes` for transformers.

More specifically I would expect the following to hold most of the time:

[code]

If `X

[2022-03-03 19:07] trinhcon commented on #17639
Hi there,
The implementation in the branch that mentioned this issue throws a "DeprecationWarning" as suggested by jeromesdockes. This sort of gives the best of both worlds, that it allows current functionality to still be used, but throws the warning about ndcg_score not always providing results between 0 and 1 for negative y_true values.

Feel free to suggest other changes too, if there's anothe

[2022-03-03 19:42] raymondj-pace opened #22683 "KNeighborsRegressor with a callable weights stopped working with numpy 1.22.2"
### Describe the bug

When you use a callable for the weights param you get:

AttributeError: 'list' object has no attribute 'shape'

`neigh = KNeighborsRegressor(n_neighbors=5, algorithm='brute', metric=euclidean_distance, weights=weights_p2)`

### Steps/Code to Reproduce

[code]

Change the weights to `weights='uniform'` (no callable) it will work with numpy 1.22 but with the callable weights I

[2022-03-03 19:47] jeremiedbb commented on #22680
I'm not sure there's a need to run all or almost all tests against float32.
Obviously estimators that convert data to float64 (those for which self._validate_data has dtype=np.float64) should not be tested.
For estimators that are supposed to support float32 without conversion, we need 3 tests:
  - for transformers we test that the transformed array has the same dtype as the input. This already is

[2022-03-03 21:26] reshamas commented on #21927
@thomasjpfan
I have been updating this manually. Is there a way to automate it?

[2022-03-03 21:49] thomasjpfan commented on #21927
It's possible, but require some time to develop a heuristic for figuring out which estimator a PR is working on.

For example, https://github.com/scikit-learn/scikit-learn/pull/21632 worked on multiple estimators, so the automation solution needs to either parse the diff or the description to figure out which estimator was updated.

Also, we need an automated solution to figure out "what is left t

[2022-03-04 09:12] marenwestermann commented on #22581
I can confirm that when using`clang-11` in a conda environment everything works fine. @adrinjalali and I checked whether  using `compilers=1.4.1` solves the issue but it doesn't (see [this comment](https://github.com/conda-forge/compilers-feedstock/issues/41#issuecomment-1058943472)).

[2022-03-04 13:16] fjpa121197 commented on #20129
Hello @ivandubar , were you able to solve this?

I'm having a similar issue, where after selecting the optimal number of features only (after using .transform()), the results of cross validation are different.

[2022-03-04 13:47] #22563 closed

[2022-03-04 13:57] ge93tef opened #22689 "kMeans stopped working with numpy 1.22.2"
### Describe the bug

kMeans is not working anymore with numpy 1.22.2
Probably similiar to (https://github.com/scikit-learn/scikit-learn/issues/22683) but not sure if it is the same fix

### Steps/Code to Reproduce

[code]

### Expected Results

Some fitted model

### Actual Results

[code]

### Versions

[code]

[2022-03-04 14:07] jeremiedbb commented on #22689
Hi, thanks for the report. Can you provide the output of the following commands ?
`python -c "from sklearn import show_versions; show_versions()"`
`python -m threadpoolctl -i numpy`
`python -m threadpoolctl -i sklearn`

[2022-03-04 14:32] ge93tef commented on #22689
I already downgraded my numpy to 1.21.4 to continue working on my project. (1.21.4 works with the same code)

[code]

[2022-03-04 14:57] jeremiedbb commented on #22689
That's an issue with threadpoolctl 2.1.0. Upgrading threadpoolctl 3+ should allow you to upgrade numpy as well.

If you do it, I'd be curious to see the output of the same commands, because I can't reproduce locally and it might still show that something's wrong the BLAS shipped with numpy.

[2022-03-04 19:06] gaborberei commented on #22406
Working on [examples/cluster/plot_mean_shift.py]

[2022-03-04 19:19] vappiah opened #22692 "Unexpected output from Random Forest Classifer"
### Describe the bug

I attempted to use Random Forest Classifier on a data with binarized labels. And I realized the predictions given out always had one class missing. I tried on my data and also tried on one of the scikit-learn datasets and the same observation was made. I want to plot an ROC curve at the day using the code specified on the [scikit learn page](https://scikit-learn.org/stable/au

[2022-03-04 19:59] thomasjpfan commented on #22692
In this case, the model is performing poorly because of all the noisy features. One can help with adjusting the hyperparameters for the random forest. In this case, I set `max_features=0.2`:

[code]

Note I used `RandomForestClassifier` here because it directly supports binarized targets. Also note that `RandomForestClassifier` can handle multiclass directly without needing to binarize:

[code]

H

[2022-03-04 21:06] raymondj-pace commented on #22689
I am running: threadpoolctl             3.1.0                    pypi_0    pypi

So this is not an issue with threadpoolctl 2.1

[2022-03-04 21:08] raymondj-pace commented on #22689
I have the same issue opened a few days ago.

[2022-03-04 21:17] jeremiedbb commented on #22689
@raymondj-pace it's not the same issue. There's already a proposed fix for #22683

[2022-03-04 21:34] vappiah commented on #22692
Thanks everyone.
One more question. I would like to plot an ROC Curve just like the one the [scikit page](https://scikit-learn.org/stable/auto_examples/model_selection/plot_roc.html)
Is it necessary for me to include the OnevsRest classifier  ? eg. OneVsRestClassifier(RandomForestClassifier())

[2022-03-04 22:20] thomasjpfan commented on #22692
The smallest change to get it to work is:

[code]

Note that `predict_proba` is called to get `y_score` because [roc_curve](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_curve.html#sklearn.metrics.roc_curve) requires scores:

The random forest has `predict_proba`, but not a `decision_function`.

I am closing this issue as the original issue was resolved. Thanks again for op

[2022-03-04 22:20] #22692 closed

[2022-03-04 22:42] Micky774 commented on #22683
Got a solution brewing in #22687 if anyone is interested.

[2022-03-05 02:39] lutzroeder opened #22699 "Installing scipy-wheels-nightly using pip shows error"
### Describe the bug

When installing torch from https://pypi.anaconda.org/scipy-wheels-nightly/simple the console show a warning.

### Steps/Code to Reproduce

[code]

### Expected Results

No warning is shown

### Actual Results

[code]

### Versions

[code]

[2022-03-05 09:30] vappiah commented on #22692
Thanks very much

[2022-03-05 14:26] #11793 closed

[2022-03-05 16:11] #22683 closed

[2022-03-06 00:40] thomasjpfan commented on #11566
Ridge already accepts `alpha` as an array of `(n_targets,)`. If GLMs support an array of `(n_features,)` the two APIs would be inconsistent.

[2022-03-06 00:57] jnothman commented on #11566
Can we accept shape (n_targets,), (1, n_targets), (n_features, 1) or (n_features, n_targets)?

[2022-03-06 09:46] AmarCodes-22 commented on #22406
Working on [wikipedia_principal_eigenvector.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/applications/wikipedia_principal_eigenvector.py)

[2022-03-06 16:45] weiweijin722 opened #22708 "Implement Repeated Group CV"
https://github.com/scikit-learn/scikit-learn/blob/7e1e6d09bcc2eaeba98f7e737aac2ac782f0e5f1/sklearn/model_selection/_split.py#L505

I tried to implement repeated group cv using GroupKFold and _RepeatedSplits. But it did not work unless I included `shuffle=False, random_state=None` to `def __ini__ ()`

I just want to check if I am why `shuffle=False, random_state=None` got excluded from `def __ini__

[2022-03-06 17:06] raymondj-pace opened #22709 "Create a similar class to sklearn.cluster.KMeans that uses medians instead of means"
### Describe the workflow you want to enable

I would like a new class: sklearn.cluster.KMedians (or an option to sklearn.cluster.KMeans) that allows the methods to use medians instead of means.

K-n clustering can greatly improve some instances where there are outliers. Using the median minimizes outliers.

### Describe your proposed solution

Create a new class sklearn.cluster.KMedians that work

[2022-03-06 21:12] Micky774 commented on #22709
Do you have any resources which suggest the use of median over/instead of mean? The scikit-learn [inclusion criteria](https://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms) are pretty high, since these kinds of additions will add a significant amount of maintenance overhead.

Also your proof-of-concept code and outputs would probably be better shared as a [gis

[2022-03-06 21:38] danifernandes-hub commented on #21350
Working on sklearn.datasets._base.load_linnerud

[2022-03-07 02:29] raymondj-pace commented on #22709
https://en.wikipedia.org/wiki/K-medians_clustering

https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5982597/

https://archive.siam.org/meetings/sdm06/proceedings/015andersonb.pdf

There are numerous references as to why it's used and needed. Thanks.

[2022-03-07 08:38] lorentzenchr commented on #11566
Personally, I find the multi-output story for penalties a bit unfortunate (maybe I'm blind or unaware of good use cases). Given that we can't change that (easily), what about introducing new parameters `P1` and `P2` as in https://glum.readthedocs.io/en/latest/glm.html (and as in #9405) for *penalty matrix for l1* and *penalty matrix for l2*.

In particular the `P2` would be nice to have as it gene

[2022-03-07 09:27] HevOHel commented on #16840
Hey there, with regardless of other dependencies, sklearn.preprocessing.label is used at or less than 0.21.X, and in contrast, sklearn.preprocessing._label is used as or higher than 0.22.X.
Be careful with the underscode before 'label'.

[2022-03-07 09:31] #22413 closed

[2022-03-07 09:38] #18692 closed

[2022-03-07 10:35] ogrisel commented on #22581
@marenwestermann the upstream bug has been resolved in the conda-forge packages installed via the `compilers` meta-package. I tried on my machine and confirm the fix. Let me know if it does not work for you (in a new env).

Let me close this issue. Thanks for the report.

[2022-03-07 10:35] #22581 closed

[2022-03-07 12:22] glemaitre commented on #22678
I could imagine an ensemble to make vote the 5 models instead to retrain on the full training set. Having access to these estimators could also be useful for inspection purposes. However, it should be an option to only store these models when requested.

[2022-03-07 12:34] #16048 closed

[2022-03-07 13:20] aurelQ opened #22716 "RandomizedSearchCV's training time too much longer than cross_validate function sum of training times"
### Describe the bug

I am currently working on a project and I have to make a choice between 5 machine learning algorithm's.
But my dataset is very large and I have more than 70 columns.

So to test my programs I  wanted to know the training time with a cross validation with one set of params, to see approximately how much time will it take for a set of 10 or more sets of parameters in my Randomi

[2022-03-07 13:45] zempleni commented on #22406
Working on examples/svm/plot_rbf_parameters.py

[2022-03-07 13:57] zempleni commented on #22406
working on examples/semi_supervised/plot_label_propagation_digits.py and  examples/semi_supervised/plot_label_propagation_structure.py

[2022-03-07 14:34] marenwestermann commented on #22581
I can also confirm that the issue is fixed. I created a new conda environment with `python=3.10` and everything works fine.

[2022-03-07 16:01] #22576 closed

[2022-03-07 16:25] AmarCodes-22 commented on #22406
working on [plot_rbf_parameters.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/svm/plot_rbf_parameters.py)

[2022-03-07 17:00] xiaowei1234 commented on #11566
What is `n_targets`? is that not the number of features?

[2022-03-07 17:03] thomasjpfan commented on #11566
It's the number of targets in `y`:

[code]

[2022-03-07 18:32] xiaowei1234 commented on #11566
ah ok thanks, haven't ever had the need to fit a regression w/ multiple targets before

[2022-03-08 12:22] QueSabz opened #22730 "How to use Hierarchical Navigable Small Worlds (HNSW) and LSH for Data classification rather than just retrieving Nearest neighbours"
I want to use Hierarchical Navigable Small Worlds (HNSW) and LSH for data classification. How can I modify their fit and train functions???

For example if you want to use them like ball tree or kd tree from the scikit learn library for classifying data.

[2022-03-08 13:44] Shawe82 opened #22731 "KBinsDiscretizer calling get_feature_names_out only works for encode = "onehot""
### Describe the bug

When using `KBinsDiscretizer` with encode set to anything but "onehot", calling `get_feature_names_out` on a fitted instance raises an AttributeError as shown below. It looks like as if the `self._encode` attribute is only available when `encode="onehot"`. The example below might look a bit useless, but when integrating  `KBinsDiscretizer` on a `ColumnTransformer`, I usually

[2022-03-08 14:42] ogrisel commented on #22337
I am for adding the link to the blog in its current state as it's already very readable and a nice communication tools that we lacked previously. I think the design can be improved later.

[2022-03-08 16:18] AmarCodes-22 commented on #22406
Working on [plot_calibration.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/calibration/plot_calibration.py)

[2022-03-08 19:51] jeremiedbb commented on #21308
Every item is checked. Closing. Thanks everyone !

[2022-03-08 19:51] #21308 closed

[2022-03-08 20:58] agramfort commented on #11566
I think the motivating use case is when the targets are mapping to time
samples. You want to fit one model per temporal
observations and you want to factorize some computations as X does not
depend on the target

that would work yes. But to me P1 cannot be a generic matrix as otherwise
the solvers will be a lot more complicated.
In GLUM I think it can only be a diagonal matrix.

+1

[2022-03-08 21:43] michalkrawczyk commented on #14214
@ChristineChetty11 currently code is ready and waiting for second approvement

[2022-03-09 10:47] Aditi840 commented on #21598
Hello everyone, I saw this issue open and I will like to work on it. Is there any help needed?

[2022-03-09 10:52] Aditi840 commented on #22586
Hello everyone, may I work on examples/decomposition/plot_pca_iris.py.

[2022-03-09 12:19] e-pet commented on #10812
A very late comment on this: I calculate statistics of metrics across various groups and classifiers. For some of those groups and classifiers, there might be no positive instances. Returning NaN would be (very) desirable for me, because otherwise the returned 0s will (falsely) distort the computed metric statistics. Replacing all returned NaNs by 0 is easy if that is what the user desires (also f

[2022-03-09 13:44] adrinjalali commented on #21598
@Aditi840 for now I think no more help is needed here. Thanks for offering.

[2022-03-09 16:12] bryanj1234 commented on #7848
I thought I had a similar issue, but then realized I was first reducing dimensionality by applying non-deterministic UMAP algorithm.

[2022-03-09 17:13] AmarCodes-22 commented on #22406
Working on [plot_cv_diabetes.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/exercises/plot_cv_diabetes.py)

[2022-03-09 19:10] #22731 closed

[2022-03-09 20:57] #22337 closed

[2022-03-10 02:47] abbey2017 commented on #22517
@thomasjpfan Please take a look at the [QuantileTransformer](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.QuantileTransformer.html#sklearn.preprocessing.QuantileTransformer) subsample argument. The idea is the same, it just makes sense to not use all data in order to improve the efficiency of the module.

[2022-03-10 02:58] thomasjpfan commented on #22517
There are many algorithms that can take advantage of subsampling. With that in mind, new features still need to meet scikit-learn's [inclusion criterion](https://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms). In this case, one needs to showcase the benefit of subsampling by having reproducible benchmarks or referencing work that has done this work.

[2022-03-10 03:58] cmarmo commented on #14131
The documentation has been updated in #14926. Could this be closed?

[2022-03-10 05:12] ZHCSOFT opened #22744 "random Segfaults on distance_transform_edt with Intel 12 Alder lake (E-Core enabled)"
Hi everyone

I am currently training a image segmentation network with PyTorch evaluated with hausdorff distance loss. To calculate hausdorff loss, I am using distance_transform_edt from scipy.ndimage
associated with morpholopy.py provided by scikit-learn.

My training script works well on other platforms, including PC(Intel i5-9400F, RTX 2060, Windows 10), Server 1 (AMD Ryzen 7 2700X, RTX A4000,

[2022-03-10 05:32] abbey2017 commented on #22517
@thomasjpfan The first option looks quite promising. It should be possible to show how subsampling affect the accuracy and efficiency of the imputation.

Thanks for the further clarification

[2022-03-10 09:11] jjerphan commented on #7059
Having `sklearn.neighbors.{KDTree,BallTree}` support 32bit would definitely be useful.

Yet, it all comes done to a limitation within Cython as explained by https://github.com/cython/cython/issues/3283#issuecomment-568553780.

For scikit-learn, we are currently trying to get over this problem by extending some Cython implementations to support 32bit datasets using Tempita (see #22590).

This first

[2022-03-10 09:47] ogrisel commented on #22744
Could you please run:

[code]

and report the results?

[2022-03-10 09:51] ogrisel commented on #22744
It seems that this problem is unrelated to scikit-learn because it happens in a scipy call and I cannot see any sklearn related call in the tracebacks:

[code]

but it could be related to OpenBLAS or numpy that do have CPU-specific optimizations. Hence the output of threadpoolctl might help clarify which OpenBLAS version you are using.

[2022-03-10 13:02] LazyTrader opened #22746 "PCA.fit_transform() failing"
### Describe the bug

I have data in a numpy array of shape (2970, 291) that contains `NaN` and `inf` values. `np.nan_to_num()` was called on the array prior to `fit_transform()` within the function provided below but `ValueError: array must not contain infs or NaNs` was raised instead. The issue however is not reproduceable on an array created using `np.random.rand(2970, 291)`.

### Steps/Code to

[2022-03-10 13:09] ZHCSOFT commented on #22744
Here is output of these information, maybe I should upgrade OpenBLAS to 0.3.20 ?

python -m threadpoolctl -i sklearn
[
  {
    "user_api": "openmp",
    "internal_api": "openmp",
    "prefix": "libgomp",
    "filepath": "~/anaconda3/envs/Torch/lib/python3.9/site-packages/scikit_learn.libs/libgomp-a34b3233.so.1.0.0",
    "version": null,
    "num_threads": 16
  },
  {
    "user_api": "blas",
    "i

[2022-03-10 13:15] jeremiedbb commented on #22746
It's possible that scipy has a fast check for infinit values that consist in summing all elements and check if the result is finite.
by default `nan_to_num` replaces inf by very large numbers. See the doc
[code]
Could you try the same thing but setting `posinf` and `neginf` to a fixed not too large value ? Or even 0 you you want to treat nans and infs the same way.

[2022-03-10 15:01] thomasjpfan commented on #13949
Our current release notes links to the changelog on scikit-learn.org: https://github.com/scikit-learn/scikit-learn/releases/tag/1.0.2 . I prefer linking to the website because there is a "single source of truth" to find the changelog and it brings users to the website.

It is possible to develop infrastructure to create better GitHub release notes, but I think our current solution works well enoug

[2022-03-10 15:05] thomasjpfan commented on #22366
The downside of cached properties is that the pickled object is bigger if the property is accessed. We can work around this by removing the cached property from the state used for pickling.

[2022-03-10 15:23] #22746 closed

[2022-03-10 15:42] AmarCodes-22 commented on #21350
Working on sklearn.covariance._shrunk_covariance.ledoit_wolf_shrinkage

[2022-03-10 16:08] adam2392 commented on #20819
Wanted to ping the above, since it's been awhile. In summary:

- inclusion criterion met (original RF paper > 300 citations and many empirical papers demonstrate superiority of oblique splits)
- uncertainty around maintenance if a lot of copying code is required (see below tho)
- runtime benchmarking done wrt size of the dataset
- interpretation of oblique vs axis-aligned trees are shown using iri

[2022-03-10 16:19] thomasjpfan commented on #22196
@rth What do you think the expected behavior should be?

[2022-03-10 17:07] pachoning opened #22750 "Unable to compute AgglomerativeClustering with affinity 'precomputed' and linkage 'ward'"
### Describe the bug

When trying to compute AgglomerativeClustering with affinity='precomputed', linkage='ward' I get the following error:

`ValueError: precomputed was provided as affinity. Ward can only work with euclidean distances.`
I think this is intended. What is the reason behind it?

### Steps/Code to Reproduce

[code]

### Expected Results

The resulting clusters

### Actual Results

[c

[2022-03-10 17:09] thomasjpfan commented on #22730
This is a duplicate of https://github.com/scikit-learn/scikit-learn/discussions/22738 . The issue tracker is for scikit-learn development.

[2022-03-10 17:09] #22730 closed

[2022-03-10 17:16] jeremiedbb commented on #22538
Hi, ai is it does not pass the strict inclusion criteria. However it could be seen just as an alternative solver for which the rules can be a bit bent. Still it seems that it only works when the matrix to decompose satisfies a bunch of specific hypothesis and I'm not sure this kind of very specific task fits the scikit-learn roadmap.

@TomDLT, @GaelVaroquaux Are you aware of this solver ?

[2022-03-10 17:24] glemaitre commented on #11765
It solved in `main` and I get the following output:

[code]

[2022-03-10 17:24] #11765 closed

[2022-03-10 17:27] thomasjpfan commented on #13602
Thank you @VolodymyrChapman for the response!

[2022-03-10 17:27] #13602 closed

[2022-03-10 17:30] #11781 closed

[2022-03-10 19:12] thomasjpfan commented on #22556
I agree that using `make_column_selector` when selecting a DataFrame with integer column names is not great.

As you noted `ColumnTransformer` interprets integer selection as positional indices of the DataFrame. This behavior is detailed in the [ColumnTransformer](https://scikit-learn.org/stable/modules/generated/sklearn.compose.ColumnTransformer.html#sklearn.compose.ColumnTransformer) docstring:

[2022-03-10 20:21] adam2392 opened #22753 "[MAINT] Modularize Tree code and Splitter utility functions"
From #20819 , developers expressed issues with the current tree code.

Part of that is the modularity and as a result, maintainability/upgradability of such code. I propose the following super-short refactors to the `_tree.pyx/pxd` and `_splitter.pyx/pxd` files. This would be the first in a series of PRs to demonstrate that #20819 is fairly straightforward.

### Tree class

The Tree class assumes

[2022-03-10 21:07] jeremiedbb commented on #22313
Fixed by #22318.

[2022-03-10 21:07] #22313 closed

[2022-03-10 21:09] jeremiedbb commented on #21460
I think all dependencies that needed a bump were bumped.

[2022-03-10 21:09] #21460 closed

[2022-03-10 21:10] Klas96 opened #22755 "Symmetric Mean Absolute Percentage Error"
### Describe the workflow you want to enable

Make Symmetric Mean Absolute Percentage Error available as an error metric.

### Describe your proposed solution

implement as a metric under _regresion.py

    smape = np.abs(y_pred - y_true) / np.maximum((np.abs(y_true) + np.abs(y_true))/2, epsilon)

### Describe alternatives you've considered, if relevant

_No response_

### Additional context

_No

[2022-03-10 21:23] avm19 commented on #22556
What could possibly break if you apply the same rule:

to `_get_column_indices`  ?

I skimmed through an older version of code, and I think _it used to be exactly this way_, see e.g. [this commit](https://github.com/scikit-learn/scikit-learn/commit/5f37ec1a997ec84a63739c2dc036d748bb47ae67) of #14035 . Probably some time after that, someone changed the logic: instead of checking the type of passed

[2022-03-10 21:32] thomasjpfan commented on #22753
The functions in `_splitter.px` may change and we can not guarantee that they are stable.

As part of my initiative to reduce the code in `trees`, (https://github.com/scikit-learn/scikit-learn/pull/22630 or https://github.com/scikit-learn/scikit-learn/pull/22328) functions are being removed. A concrete example `_splitter`'s `sort` which may be removed for [c++ sort](https://en.cppreference.com/w/c

[2022-03-10 21:47] jjerphan commented on #22753
I agree, and I would be in favour of making use libcpp as much as possible.

This can be through renaming and extending [`sklearn.neighbors._partition_nodes`](https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/neighbors/_partition_nodes.pyx) to define new Cython interfaces to C++ routines.

[2022-03-10 21:52] thomasjpfan commented on #22556
Selecting columns based on two different types is not well supported and would require a design discussion. It also breaks backward compatibility.

If this is a major issue, I think we could add a `use_index_directly` parameter to `ColumnTransformer` that turns off these semantics and selects from the column directly. For example:

[code]

What do you think?

[2022-03-10 22:50] avm19 commented on #22556
Your solution seems reasonable to me. I think that some users might want `ColumnTransformer` to have this parameter even if they don't use `make_column_selector` or other callables. I would also be fine even with a cautionary note in the documentation as an interim solution.

What bothers me is why `ColumnsTransformer` and `make_column_selector` use different semantics in the first place. Namely,

[2022-03-10 22:59] avm19 commented on #22556
Okay, I see why changing the default behaviour of `make_column_selector` in the future is even worse then changing it now.

After your proposed solution is implemented, I will be using the parameter `ColumnTransformer(..., use_index_directly=True)` to make the pipeline work with both str and int column _names_. If `make_column_selector` is changed after that, then I will have to remove `use_index_

[2022-03-10 23:03] lorentzenchr commented on #18248
So shall we go with the term `"log_loss"` (for negative loglikelihood of binomial as well as multinomial distribution) for:
- `GradientBoostingClassifier`: `"deviance"`
- `HistGradientBoostingClassifier`: `"binary_crossentropy"` as well as `"categorical_crossentropy"`
- `SGDClassifier`: `"log"`
- `DecisionTreeClassifier`: `"entropy"`

Then we could close this issue.

[2022-03-10 23:15] adam2392 commented on #22753
I see that makes sense and would be awesome! In that case, would it be desirable to replace the existing usage of `sort` with the c++ sort? That is the main function that needs to be used in all splitters. Everything else is utility it seems like.

[2022-03-11 00:00] danifernandes-hub commented on #21350
Working on sklearn.metrics._ranking.auc

[2022-03-11 00:58] fingoldo commented on #15722
Reporting the same problem wtih CatBoost:

`Cannot clone object <catboost.core.CatBoostRegressor object at 0x0000021CEC9C0940>, as the constructor either does not set or modifies parameter custom_metric`

[2022-03-11 01:13] thomasjpfan commented on #22753
I'm working on replacing sort all together. It requires minor refactoring of the splitter internals and benchmarks to make sure there are no performance regressions.

[2022-03-11 02:01] adam2392 commented on #22753
Oh awesome! That'll make the diff even smaller in obliquePR. Lmk if you need any help with that.

[2022-03-11 02:30] cmarmo commented on #15722
Thanks @wchill and @fingoldo: do you mind opening a new issue (unless there is already one), with a minimal reproducible example? This issue is quite old and a lot of things have changed in scikit-learn and the other libraries, making difficult to track the problem. Thanks.

[2022-03-11 02:43] cmarmo commented on #22244
If I understand correctly this has been closed in #22412. I'm closing then. Feel free to reopen if I'm wrong.

[2022-03-11 02:43] #22244 closed

[2022-03-11 03:47] cmarmo commented on #22572
Here is a list of files containing `pytest.warns(None)`.
For those willing to address this issue, please **fix only one file per pull request**.

- [ ] sklearn/cluster/tests/test_affinity_propagation.py:
- [ ] sklearn/cluster/tests/test_feature_agglomeration.py:
- [ ] sklearn/cluster/tests/test_optics.py:
- [ ] sklearn/cross_decomposition/tests/test_pls.py:
- [ ] sklearn/decomposition/tests/test_d

[2022-03-11 04:37] Diwakar-Gupta commented on #22682
/take

[2022-03-11 08:09] glemaitre commented on #22755
It is something that I was proposing there: https://github.com/scikit-learn/scikit-learn/issues/20907#issuecomment-911563939

We could make it an option to the current function most probably.

[2022-03-11 08:22] Klas96 commented on #22755
Sounds like a good idea to have it as an default off option.

[2022-03-11 10:05] rajpratyush opened #22758 "can't convert a list to lowercase list"
### Describe the bug

[code]

### Steps/Code to Reproduce

[code]

### Expected Results

ist gets converted to lowercase as well

### Actual Results

only string gets converted to lowecase

### Versions

[code]

[2022-03-11 10:10] adrinjalali opened #22759 "RFC introduce methods to get and set estimators' state"
Right now `clone` uses `{get, set}_params` to replicate an unfit estimator. These methods are designed to return esimators' hyperparameters. At the moment, we have no way of getting the state of a fitted estimator in a non-pickle format.

Pickle files are by design able to run arbitrary code, and therefore one should ideally only load a pickle file from a trusted source. This makes sharing and mov

[2022-03-11 10:24] jeremiedbb commented on #22759
There's a similar need for the callbacks API. Essentially, once fitted, all you need to save are the attributes (init params, private and fitted). Sometimes not all of them are necessary for predict, transform, ...
Then creating an instance of the estimator and setting all these attributes will be as if the estimator was fitted.

[2022-03-11 10:25] jjerphan commented on #22753
FYI, I just have opened https://github.com/scikit-learn/scikit-learn/pull/22760.

[2022-03-11 12:44] adrinjalali commented on #22759
Yes, I'd be happy if those methods raise (even an `AttributeError`) on `FunctionTransformer`.

[2022-03-11 13:07] NartayXD commented on #22716
I'm relatively new to scikit-learn and hope I can provide some help to this problem.
I tried to reproduce the bug with your given code by colab and here is the [result](https://colab.research.google.com/drive/1QjKDcff7x-ceT8ZtCvEawlG5k7Me_yx4?usp=sharing)

I tested the fitting time for 5 fold CV and 10 iters RandomizedSearchCV using a dataset of 90k samples. Five solvers were tested each using the

[2022-03-11 13:38] thomasjpfan commented on #22759
I think it makes sense to have a safer representation of the model so it is easier for people to share their models without worrying about arbitrary code execution.

Even with `get_state` and `set_state`, we can not guarantee that a model trained on one version works on another. For example, we could have added or removed private attributes.

As for implementation, I think its possible as long as

[2022-03-11 13:48] adrinjalali commented on #22759
Imagine this:

[code]

Now if in a new version `Estimator` changes, we can see if we can construct the changed/added attributes from the ones that existed in the previous version. We can even have deprecation policies/cycles for breaking changes. I was thinking of a `set_state` which does a lot more than just setting those private attributes given the values.

I don't think it's complicated to get

[2022-03-11 13:56] NicolasHug commented on #22759
I share @thomasjpfan 's concern about supporting backward-compatible serialized format. This will likely be hard, and

[2022-03-11 13:57] GaelVaroquaux commented on #22759
The point that you are raising is a point that every large project ends
up raising.

When raising it, it is important to define the goals well enough so that
the endeavor does not end up reinventing pickle. If the goals are close
to those of pickle (general persistence), the endeavor will naturally
follow along the same path. We did this is Mayavi many years ago, and it
was a maintenance nightmare

[2022-03-11 14:01] NicolasHug commented on #22759
I share @thomasjpfan 's concerns about support for backward-compatibility.

Also, (and I'm not good at asking subtle questions): is HuggingFace planning on building a scikit-learn model hub?

[2022-03-11 14:10] thomasjpfan commented on #22759
@GaelVaroquaux For me, the goal is to enable people to share models over the internet with less security concerns. For example, it is fairly common for researchers to share the weights of their deep learning models. `sklearn-onnx` is restricted to their subset of operators and runs on their own backend, which can give different results and have different performance characteristics.

In this case,

[2022-03-11 14:10] koaning commented on #22759
At the moment they support a limited, albeit impressive, [subset](http://onnx.ai/sklearn-onnx/supported.html). Is it their goal to support all of sklearn?

One issue that comes to mind with the onnx-route is that custom models, or [3rd party tools](https://scikit-lego.netlify.app/), likely won't ever be supported by their tool.

[2022-03-11 14:17] GaelVaroquaux commented on #22759
But still: do we want to share only for inference, or full sklearn estimator?

If it's only for inference, for instance for linear models, we have much less to share.

Once again, we need to pick up clear goals, and we need to look at alternatives and figure out why we think we can do better than those alternatives:
- general-purpose persistence: how do we avoid the problems of pickle?
- inference

[2022-03-11 14:26] adrinjalali commented on #22759
sklearn-onnx has a few issues:
- it supports a subset of the estimators
- it can easily be out of sync with the latest changes of estimators
- it's almost impossible for a third party developer to implement the converter for their own estimator into onnx
- one cannot read an onnx file into a scikit-learn estimator

So it's good IF the converter happens to support what the user has, and IF the only

[2022-03-11 15:12] mtanco opened #22766 "Conda install code not showing in the docs"
### Describe the bug

On the [installation page](https://scikit-learn.org/stable/install.html), when selecting the `conda` package and any operating system, the install code does not render.

**Tested Browsers**
* Chrome Version 99.0.4844.51 (Official Build) (x86_64)
* Safari Version 15.0 (16612.1.29.41.4, 16612)
<img width="1040" alt="image" src="https://user-images.githubusercontent.com/4793561/

[2022-03-11 15:15] jeremiedbb commented on #22766
Thanks for the report. Doesn't work with firefox as well.

[2022-03-11 15:41] kabartay opened #22768 "TypeError: Expected sequence or array-like, got <class 'int'>"
### Describe the bug

I built **sklearn v1.1dev0** from source following this **[here](https://scikit-learn.org/stable/developers/advanced_installation.html)**

I am not sure it's a bug or not, but I get this:

[code]

caused by

[code]

I tried to git clone the source and build it step by step and getting that some tests for **v1.1.dev0** fails with TypeError:
Please check my investigation [here]

[2022-03-11 15:59] thomasjpfan commented on #22768
I see you posted code snippets of what you are trying to do. But for us to debug this issue, we still need a [minimal bug report](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports).

BTW there is a nightly build that you can use to try scikit-learn development releases:

[code]

[2022-03-11 16:20] 123gkc commented on #13662
Reopening this as I ran into the same issue. According to my observations the issue of .predict() and argmax of .predict_proba() not tallying only comes up when class_weights are enabled. Sharing code to recreate the issue :

[code]

produces

[code]

My best hypothesis at the moment is that .predict_proba() gives raw probabilities whereas .predict() actually takes into class_weights on the output

[2022-03-11 16:48] thomasjpfan commented on #22556
Yup! That is the goal. The other benefit of `use_index_directly` is that it allows for using panda's multiindex: https://github.com/scikit-learn/scikit-learn/issues/13781

[2022-03-11 16:52] thomasjpfan commented on #22758
I see you posted code snippets of what you are trying to do. But for us to debug this issue, we still need a [minimal bug report](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports).

[2022-03-11 19:38] eschibli opened #22770 "Allow other initialization strategies for IterativeImputer"
### Describe the workflow you want to enable

I want to initialize an `IterativeImputer` using a `KNNImputer` rather than a `SimpleImputer`.

### Describe your proposed solution

Modifying `IterativeImputer` to accept instances of `_BaseImputer` as `initial_strategy`s should be fairly simple, though I'm aware it is under active development and I understand why this wouldn't be a priority. I'm happ

[2022-03-11 21:06] amueller commented on #20819
I think the citation criterion is a bit tricky because the original paper isn't cited for this algorithm, but I think it this meets criteria. If the maintenance burden isn't too crazy, I think we should try to include it.

[2022-03-11 22:36] jeremiedbb commented on #20642
The default algorithm was changed to "lloyd" which does not suffer from this performance issue.

The issue with "elkan" has always been there and does not depend on the version of numpy (only the sizes of the matrices that trigger it depends on the version of numpy). It's actually an OpenBLAS / OpenMP issue that won't be fixed on the scikit-learn side. The best way to solve probably comes from a u

[2022-03-11 22:36] #20642 closed

[2022-03-11 22:54] jeremiedbb commented on #20427
Unless I'm mistaken, it doesn't happen anymore.

[2022-03-11 22:54] #20427 closed

[2022-03-11 23:22] jeremiedbb commented on #19743
Fixed in https://github.com/scikit-learn/scikit-learn/pull/19818

[2022-03-11 23:22] #19743 closed

[2022-03-11 23:34] #22766 closed

[2022-03-12 00:04] #17794 closed

[2022-03-12 00:10] jeremiedbb commented on #17571
We are way passed 0.23 now. I guess it's not relevant anymore.

[2022-03-12 00:35] jeremiedbb commented on #15712
I'm guessing the answer was correct. And it's likely outdated anyway

[2022-03-12 00:35] #15712 closed

[2022-03-12 00:49] jeremiedbb commented on #14721
This is in progress in https://github.com/scikit-learn/scikit-learn/pull/22722

[2022-03-12 00:56] jeremiedbb commented on #14485
It seems that the proposed solution was good

[2022-03-12 00:56] #14485 closed

[2022-03-12 01:06] jeremiedbb commented on #13913
In progress in https://github.com/scikit-learn/scikit-learn/pull/22749

[2022-03-12 01:20] jeremiedbb commented on #13354
Seems like a windows limitation.

[2022-03-12 01:20] #13354 closed

[2022-03-12 02:06] jeremiedbb commented on #10036
Based on the discussion, it feels like a won't fix.

[2022-03-12 02:06] #10036 closed

[2022-03-12 02:35] jeremiedbb commented on #22709
Duplicate of https://github.com/scikit-learn/scikit-learn/issues/6454. Let's keep this one open as there are not many discussions there anyway.

[2022-03-12 02:36] jeremiedbb commented on #6454
Closing in favor of the more recent https://github.com/scikit-learn/scikit-learn/issues/22709

[2022-03-12 02:36] #6454 closed

[2022-03-12 06:30] Freed-Wu commented on #20790
I advice to use platformdirs because appdirs has stopped maintaining. See black as an example:

<https://github.com/psf/black/blob/main/src/black/cache.py#L9>

[2022-03-12 06:50] randomgeek78 opened #22774 "ColumnTransformer's get_feature_names_out does not work properly with slices"
### Describe the bug

Slices are a supported for selecting columns in `ColumnTransformer`. Also, `get_column_names_out` is supported to label generated columns. But get_column_names_out does not work with slices.

### Steps/Code to Reproduce

[code]

### Expected Results

Expecting array(['x0', 'x1', 'x2', 'x3'], dtype=object)

and

Expecting array(['c0', 'c1', 'c2', 'c3'], dtype=object)

### Actu

[2022-03-12 09:00] vnmabus commented on #22709
Maybe accepting a `centroid` callable could be considered? In that case one could use a trimmed mean, or the median (although in the last case it is not `KMeans` anymore).

[2022-03-12 09:15] vnmabus commented on #22750
Similar to  #15287.

[2022-03-12 10:52] fatimazahraegasmi commented on #21350
#21419  Was merged with a fix for sklearn.cluster._optics.cluster_optics_dbscan doc issues

[2022-03-12 10:54] fatimazahraegasmi commented on #21350
Working on sklearn.utils.graph.graph_shortest_path

[2022-03-12 11:12] sakinaOuisrani commented on #21350
Hello ! working on  sklearn.preprocessing._data.quantile_transform

[2022-03-12 11:14] fatimazahraegasmi commented on #21350
Working on label_ranking_average_precision_score

[2022-03-12 11:15] gittar commented on #20642
sounds like a good way to handle this, thanks.

[2022-03-12 12:58] marenwestermann commented on #17295
Working on `sklearn.metrics.pairwise.haversine_distances`

[2022-03-12 13:00] chagaz commented on #21350
Working on  sklearn.cluster._spectral.spectral_clustering

[2022-03-12 13:09] chagaz commented on #21350
Working on sklearn.model_selection._split.check_cv

[2022-03-12 13:14] JihaneBennis commented on #22406
Working on [plot_svm_anova.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/svm/plot_svm_anova.py)

[2022-03-12 14:13] verakye commented on #21350
Hi, working on `sklearn.metrics.pairwise.paired_euclidean_distances`

[2022-03-12 14:18] JihaneBennis commented on #11000
Working on FastICA

[2022-03-12 14:19] sakinaOuisrani commented on #21350
working on `sparse_encode` and `check_classification_targets`

[2022-03-12 14:20] chagaz commented on #22406
Working on linear_model/plot_lasso_dense_vs_sparse_data.py

[2022-03-12 14:24] MarieS-WiMLDS commented on #21350
Starting to work on `sklearn.linear_model._ridge.ridge_regression`

[2022-03-12 14:35] cdrig commented on #21350
Starting to work on sklearn.feature_selection._univariate_selection.r_regression

[2022-03-12 14:37] ducanne commented on #21350
Starting to work on sklearn.preprocessing._data.normalize

[2022-03-12 14:42] DeaMariaLeon commented on #21350
Starting to work on sklearn.datasets._samples_generator.make_classification

[2022-03-12 14:51] verakye commented on #21350
Working on `sklearn.utils.validation.check_random_state`.

[2022-03-12 14:52] cdrig commented on #21350
Starting to work on sklearn.datasets._samples_generator.make_biclusters

[2022-03-12 14:57] victoirelouis commented on #21350
Working on sklearn.cluster._optics.cluster_optics_dbscan

[2022-03-12 15:17] fkaren27 commented on #22406
I am planning to work on [examples/linear_model/plot_bayesian_ridge.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/linear_model/plot_bayesian_ridge.py)

[2022-03-12 15:46] MarieS-WiMLDS commented on #22406
Starting to work on [examples/cluster/plot_feature_agglomeration_vs_univariate_selection.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/cluster/plot_feature_agglomeration_vs_univariate_selection.py)

[2022-03-12 15:47] marenwestermann commented on #17295
Working on `sklearn.decomposition.dict_learning`

[2022-03-12 15:49] verakye commented on #22406
Starting to work on `examples/miscellaneous/plot_kernel_ridge_regression.py`

[2022-03-12 15:53] victoirelouis commented on #21350
Working on sklearn.covariance._shrunk_covariance.ledoit_wolf_shrinkage

[2022-03-12 15:56] cdrig commented on #22406
Starting to work on examples/model_selection/plot_roc_crossval.py

[2022-03-12 16:36] fkaren27 commented on #22406
Working on [examples/covariance/plot_sparse_cov.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/covariance/plot_sparse_cov.py) .

[2022-03-12 16:42] cdrig commented on #21350
Starting to work on sklearn.utils.sparsefuncs.min_max_axis

[2022-03-12 21:57] jeremiedbb commented on #11432
_pairwise has been deprecated in favor of the pairwise estimator tag (https://github.com/scikit-learn/scikit-learn/pull/18143). This is not relevant anymore.

Yet the pairwise tag is still missing in DBSCAN and TSNE. Let me close this and open a new issue for that.

[2022-03-12 21:57] #11432 closed

[2022-03-12 22:08] jeremiedbb opened #22809 "DBSCAN and TSNE are missing the pairwise estimator tag"
Both should have the pairwise estimator tag set to True when ``metric=="precomputed"``.

[2022-03-12 22:29] VigneshNk opened #22810 "A3 Bug Fix Implementation"

[2022-03-12 22:30] #22810 closed

[2022-03-12 23:50] danifernandes-hub commented on #21350
Working on sklearn.metrics._plot.confusion_matrix.plot_confusion_matrix

[2022-03-13 00:43] jeremiedbb commented on #22185
This has been fixed by https://github.com/scikit-learn/scikit-learn/pull/22635

[2022-03-13 00:43] #22185 closed

[2022-03-13 00:51] jeremiedbb commented on #21948
Fixed in https://github.com/scikit-learn/scikit-learn/pull/22027

[2022-03-13 00:51] #21948 closed

[2022-03-13 03:03] raymondj-pace opened #22811 "KNeighborsClassifier: allow p value for Minkowski calculation to be less than 1.0 (and greater than 0)"
### Describe the workflow you want to enable

I would like to be able to use the KNeighborsClassifier with something like:

`neigh = KNeighborsClassifier(n_neighbors=2, p=0.1)`

The error you get is:

[code]

Change the above line to limit minkowski p value to < 0:

`if self.metric in ["wminkowski", "minkowski"] and effective_p < 0:`

There is nothing wrong with using a p value > 0 and < 1.

### D

[2022-03-13 06:52] Diwakar-Gupta commented on #22682
@ogrisel how to add tag for float64 and float32 to regressors.

Should I add function like

to the estimator class  or something else, there are many inheritance so got a little confused.

[2022-03-13 13:56] jeremiedbb commented on #22811
The issue is that minkowski with p< 1 is not a metric (no triangular inequality). Then the question is do we want to support similarity measures that are not metrics ?

[2022-03-13 15:59] RazHoshia opened #22813 "Outdated test name in contributing page"
### Describe the issue linked to the documentation

On this page https://scikit-learn.org/stable/developers/contributing.html#contributing-code in the "Pull request checklist" section, test command `pytest sklearn/linear_model/logistic.py`.
The logistic.py file does not exist (probably renamed to  [_logistic.py](https://github.com/RazHoshia/scikit-learn/blob/main/sklearn/linear_model/_logistic.py)

[2022-03-13 16:02] thomasjpfan commented on #22813
Yes it is `_logistic.py`. Would you be interested in opening a pull request to fix the documentation?

[2022-03-13 16:08] raymondj-pace commented on #22811
Yes, I agree it's not a metric. My advisor who spent his entire life studying distance (Euclidean and non-Eucliean) would say that Minkowski < 1 has much value. I have a problem where I need to iterate over different values of p for Minkowski but  there is a way around this issue (for p < 1). I can use a callable for my own Minkowski method and pass a parameter like this.

Here "minkowski_distance

[2022-03-13 17:40] ahmadjubair33 commented on #22813
Hi, @thomasjpfan @RazHoshia  I have raised a pr for this issue please review that pr and merge. If any more changes require please do let me know I will update. Thank you

[2022-03-13 17:52] victoirelouis commented on #21350
Working on sklearn.datasets._samples_generator.make_sparse_coded_signal

[2022-03-13 18:14] ShanDeng123 commented on #22572
Hello - I'd like to help tackle this problem if that'd be alright? If someone else is already working on this please just let me know!

[2022-03-13 18:22] #22809 closed

[2022-03-13 18:23] #22813 closed

[2022-03-13 18:23] avm19 commented on #22572
Hello @ShanDeng123
As far as I understand, all the items on cmarmo's list are independent and she asked to do 1 file per pull request.
I suppose, you can write here to reserve a bunch of them (e.g., `sklearn/cluster/tests/*.*`), then take the next bunch, and so on.
I am not working on this issue.

[2022-03-13 18:27] avm19 commented on #22572
I am curious if the issue is more complex than Find-Replace... And if `pytest.warns(None)` in the existing code was always used and understood correctly.

[2022-03-13 18:28] thomasjpfan commented on #22572
For this specific case, I am okay with one PR that does a "Find and Replace" replacing all the `with pytest.warns(None) as record:` with `with warnings.catch_warnings(record=True) as record:`.

[2022-03-13 19:36] raymondj-pace opened #22818 "Change how KNeighborsClassifier handles tiebreakers"
### Describe the workflow you want to enable

I see that KNeighborsClassifier handles tie breakers by taking the mode of the classes contained with the tie. What about using the sum of the distances as the tiebreaker instead (or using the mode.)

I feel that taking the least sum of distances is a better educated guess with minimal changes to the code.

### Describe your proposed solution

Create t

[2022-03-13 21:11] ShanDeng123 commented on #22572
@avm19
Sounds good - I can look to do the first 10 in the list up until the last file under the ensemble folder, and can continue working on the others afterwards if nobody else hops on.

@thomasjpfan
I can look to merge updates for multiple files in a single PR as I go! I do want to make sure that I'm following all of the proper guidelines/precautions though as I am still a bit new to open source

[2022-03-13 21:29] thomasjpfan commented on #22572
It is not necessary to update the changelog, since it is not a public facing change.

[2022-03-14 02:45] thomasjpfan commented on #22572
Coming from https://github.com/scikit-learn/scikit-learn/pull/22822#issuecomment-1066283823 I think it's better to do this one per file.

When we write the following to test for no warnings:

[code]

I think the better solution is to replace that with:

[code]

where `EXPECTED_WARNING` is the warning we expect to **not** happen. Since this is a non-trival change, I think it's better a one PR per f

[2022-03-14 02:57] ShanDeng123 commented on #22572
Will do - I'll go back over the files with 1 PR each, and look to add the extra detail when applicable 👍

[2022-03-14 03:04] thomasjpfan commented on #22572
I opened https://github.com/scikit-learn/scikit-learn/pull/22824 as a demonstration of what the idea looks like. Let's wait to see what other maintainers think before opening more.

[2022-03-14 09:41] #13913 closed

[2022-03-14 10:05] amitmeel commented on #19953
Even after adding ```__sklearn_is_fitted__``` to the custom transformer, I'm still getting the same error.

[2022-03-14 10:09] amitmeel commented on #19953
@glemaitre can you please suggest the workaround since even after adding I'm getting the same error.

[2022-03-14 10:15] ogrisel opened #22827 "Improve tests by using global_random_seed fixture to make them less seed-sensitive"
## Context: the new `global_random_seed` fixture

#22749 introduces a new `global_random_seed` fixture to make it possible to run the same test with any seed between 0 and 99 included. By default, when `SKLEARN_TESTS_GLOBAL_RANDOM_SEED` is not set, this fixture is deterministically returning 42 to keep deterministic run by defaults and avoid any unnecessary disruption. However different CI builds

[2022-03-14 10:38] amitmeel commented on #19953
In simple, how can we pass the fitted transformer (in the above case it is ```tf_content, tf_keyphrase``` that needs to be passed to ```CustomVectorizer```) in custom transformers so that when we use it with ```RandomizedSearchCV```  or ```VotingClassifier``` it does not throw ``` NotFittedError``` and do the transformations per expectation ?

[2022-03-14 10:43] ogrisel commented on #22827
I labeled this issue as hard, as I expect some tests to be hard to upgrade. However I expect many test to be easy to convert.

[2022-03-14 10:50] adrinjalali opened #22828 "Gridsearch on TransformedTargetRegressor on pairwise data"
Reported by @jajupmochi on gitter

When working with precomputed distances/kernels, the user might still want to perform certain transformations on the input or the output in a grid searched pipeline. At the moment, this code runs fine:

[code]

And it works fine because `_safe_split` (used in `GridSearchCV`) checks if the estimator is expecting pairwise data by querying the `pairwise` estimator t

[2022-03-14 11:30] jeremiedbb commented on #20506
``if_delegate_has_method`` has been replaced by ``available_if`` everywhere except where needed for its testing. We can now deprecate it.

[2022-03-14 13:24] thomasjpfan commented on #22572
@ShanDeng123 https://github.com/scikit-learn/scikit-learn/pull/22824 has been merged. You may open a PR per file to address the other ones following the idea in https://github.com/scikit-learn/scikit-learn/issues/22572#issuecomment-1066284782 .

[2022-03-14 14:07] #21687 closed

[2022-03-14 14:15] #20483 closed

[2022-03-14 14:48] #12153 closed

[2022-03-14 14:48] #19286 closed

[2022-03-14 15:46] eschibli commented on #22811
That seems like a typical example of where it's best to allow that behaviour but raise a warning.

[2022-03-14 16:08] Permafacture commented on #4143
We've been using our own PipelineXY at work for a couple of years and wouldn't be able to do without it. In addition to data loading and data augmentation (both very useful applications), another use case for this is getting StratifiedKFold to to stratify on more than True/False.

For instance, we have several types of instruments and we need positive and negative cases from each instrument type t

[2022-03-14 16:49] GaelVaroquaux commented on #22759
I think that this is a great summary of our discussion. Thanks!!

[2022-03-14 18:19] jchazalon opened #22834 "Wrong link text in main page for PCA (name "K-Means" under "Dimentionality reduction")"
In the current main page (https://scikit-learn.org/stable/), the link to the PCA is wrongly named "K-Means" under the "Dimentionality reduction" block.
See the following picture for an illustration.
![image](https://user-images.githubusercontent.com/6526137/158235617-f46a8b6c-966a-4661-a04e-0361cbf1de33.png)

K-Means belongs to clustering and PCA to dim. red. (and the link is correct).

Erroneous

[2022-03-14 18:48] lorentzenchr opened #22836 "Formula for dual gap of elastic net in coordinate descent solver"
### Describe the bug

`enet_coordinate_descent` minimizes
[code]

### Lasso
For the pure Lasso, i.e. `beta=0`, the dual becomes [1]
[code]
with `nu = Xw - y` (=minus the residual `R`) as possible dual point. This yields the Lasso dual gap
[code]
In case of `||X'nu||_* > alpha` one uses a rescaled variable `nu` in the dual.

### Elastic Net
For the elastic net, the dual becomes, see section 5.2.3 i

[2022-03-14 18:50] TomDLT commented on #22538
The solver seems rather specific to near-separable cases, and I don't know any way to test that assumption beforehand. Is there an available implementation that we could test to see how it performs in practice ?

In terms of roadmap, I would rather focus our efforts in finishing the mini-batch solver (#16948) first.

[2022-03-14 18:54] lorentzenchr commented on #22836
@agramfort @mathurinm @TomDLT Your help would be highly appreciated to figure out the right dual gap for the elastic net. Above, I gave references and also did the computation myself. Pure Lasso seems ok. I can't make sense of the dual gap computation in scikit-learn as soon as we have a true elastic net (L1 + L2 penalty).

[2022-03-14 19:03] mathurinm commented on #22836
I think it's based on the trick where you write the Elastic net as a Lasso, with an extended design X (shape (n_samples + n_features, n_features). The Enet objective (without the n_samples dividing the datafit) is a Lasso with following design matrices and observation vector:
[code]

[2022-03-14 19:17] #22834 closed

[2022-03-14 21:21] GaelVaroquaux commented on #22759
I just want to stress that we will not be successful to implement sklearn-to-sklearn mapping in a way that is complete (all features, all models) in a secure way. This will not happen. There are too many places where we have arguments that open the door to injection (n_jobs being a string that get's evaled, all sorts of callable in many objects, scores that are classes).

[2022-03-14 21:51] vnmabus opened #22840 "Bunch object appears as :func: role in intersphinx inventory"
### Describe the bug

The `Bunch` object appears with the `:py:func:` role in the `objects.inv` file used by intersphinx to reference objects from other projects. As it is a class, I think that it should appear with the `:py:class:` role instead. Otherwise one cannot use `` :external:class:`sklearn.utils.Bunch` `` and needs to use `` :external:obj:`sklearn.utils.Bunch` `` instead to achieve the sa

[2022-03-14 21:56] rosscleung opened #22841 "KBinsDiscretizer's get_feature_name_out() does not work if encode != 'onehot'"
### Describe the bug

If the encode = 'onehot', you can get the names out as intended:
[code]
output:
array(['one_0.0', 'one_1.0', 'one_2.0', 'one_3.0', 'one_4.0'],
      dtype=object)

If the encode is NOT onehot:
[code]
output:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
 File "/home/smds/miniconda3/envs/ross_docker_py37/lib/python3.7/site-packages/sklearn/preprocess

[2022-03-14 23:15] thomasjpfan commented on #22841
Thank you for opening the issue! This issue was recently fixed in https://github.com/scikit-learn/scikit-learn/pull/22735 and will be included in the next version of scikit-learn.

[2022-03-14 23:15] #22841 closed

[2022-03-15 00:48] Alexander-philip-sage commented on #6777
I'm seeing this issue as well...

[2022-03-15 00:54] danifernandes-hub commented on #22572
Working on sklearn/metrics/tests/test_classification.py

[2022-03-15 02:43] scikit-learn-bot opened #22843 "⚠️ CI failed on Linux_Nightly.pylatest_pip_scipy_dev ⚠️"
**CI Failed on [Linux_Nightly.pylatest_pip_scipy_dev](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=39533&view=logs&j=dfe99b15-50db-5d7b-b1e9-4105c42527cf)**
- Test Collection Failure

[2022-03-15 08:19] agramfort commented on #22836
indeed !

[2022-03-15 09:30] #22843 closed

[2022-03-15 09:52] glemaitre commented on #22770
I don't think that this is a good idea in practice.

I will refer to https://github.com/scikit-learn/scikit-learn/issues/21967 and the work of @aperezlebel

Combining `IterativeImputer` with `KNNImputer` will not scale since already both imputers do not scale well in terms of computation time. `KNNImputer` is also intractable with a large number of samples.

So before considering this feature, I w

[2022-03-15 10:18] glemaitre commented on #22818
Related to https://github.com/scikit-learn/scikit-learn/issues/21006

We should as well think about the choice of the tie-breaking that could hurt performance gain that we got during the work driven by @jjerphan.

[2022-03-15 11:02] jjerphan commented on #22818
Hi @raymondj-pace, you can use `weights="distance"` for your instance. See the documentation of [`sklearn.neighbors.KNeighborsClassifier`](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html)

[2022-03-15 13:32] raymondj-pace commented on #22818
I think that flipping a coin is worse that a deterministic modal determination. I don't think running the classifier multiple times should give different responses with the exact same dataset. But the original poster left out one important feature. It is NOT just with even an number of neighbors. I can be a 3 way tie with 3 (an odd) number of neighbors, it can be a 3 way tie with 4 (an even) numbe

[2022-03-15 13:44] adrinjalali opened #22848 "KFold splitter falsely claims it supports groups"
@thomasjpfan : (taken from https://github.com/scikit-learn/scikit-learn/pull/22765/files#r825487547)

I haven't looked at how to proceed here. It certainly shouldn't claim it supports `groups` in the docs, and we need to check how to fix the API if we can.

[2022-03-15 15:02] adrinjalali commented on #17942
Something I just realized regarding how in `GridSearchCV` we modify the scorer, is that the user can't easily then reproduce the scores reported by `GridSearchCV`. Should we then just raise when there's a need to change the scorer? Hmm, not sure.

[2022-03-15 16:17] DeaMariaLeon commented on #21350
Working on sklearn.datasets._california_housing.fetch_california_housing

[2022-03-15 18:00] mbatoul opened #22855 "The fit performance of LinearRegression is sub-optimal"
It seems that the performance of Linear Regression is sub-optimal when the number of samples is very large.

[sklearn_benchmarks](https://github.com/mbatoul/sklearn_benchmarks) measures a [speedup of 48](https://mbatoul.github.io/sklearn_benchmarks/results/github_ci/master/20220315T132336/scikit_learn_intelex_vs_scikit_learn.html#linearregression) compared to an optimized implementation from sciki

[2022-03-15 18:36] thomasjpfan commented on #22855
Is there any insight on what sklearnex does for linear regression? The deepest level of the call stack I can get to here: https://github.com/intel/scikit-learn-intelex/blob/59fee38028c53bed0bcc3f259880603a997020d1/daal4py/sklearn/linear_model/_linear.py#L51-L64

[2022-03-15 18:42] jeremiedbb commented on #22855
After that it calls daal4py which is just python bindings for daal (now onedal) which is itself a c++ lib. So it's hard to follow the stack.  It's possible to give a look at their code base https://github.com/oneapi-src/oneDAL but it's not reader friendly :)

[2022-03-15 19:06] #22774 closed

[2022-03-15 20:39] ShanDeng123 commented on #22572
@thomasjpfan
Is there an intuitive way to know which error to not expect? In some cases, the error is a bit easy to see due to the function name/surrounding statements, but I'm a bit unsure on most others.

Would it be fair to say that pytest.warns(None) generally checks for [UserWarning](https://docs.python.org/3/library/exceptions.html#UserWarning) unless the surrounding statements suggest other

[2022-03-15 20:55] thomasjpfan commented on #22572
The only way to check is through `git blame`. For example, `test_feature_agglomeration` is a `DeprecationWarning`: https://github.com/scikit-learn/scikit-learn/pull/11537/

For that specific case, there is no deprecation warning anymore in the code, so I would remove the "no warnings" check all together. The PR should state the reason for removing the "no warning" check.

[2022-03-15 21:37] lorentzenchr commented on #22836
@mathurinm Thanks for the prompt reply! That's a great trick that I would have never guessed (even though I used it myself in the quantile regression). I will open a PR to document it a little better.

I'm still trying to figure out why those two formulations give different dual Lagragians, i.e. the derivation above is always finite (feasible set equal real numbers) while the Lasso trick needs `||

[2022-03-16 00:39] wchill opened #22857 "RuntimeError: "Cannot clone object ..." when cloning an estimator that copies parameters in either __init__ or get_params"
### Describe the bug

Context: https://github.com/scikit-learn/scikit-learn/issues/15722#issuecomment-893942972

Calling `clone()` on a BaseEstimator that copies parameters results in a RuntimeError, even if the parameters are otherwise equal (`estimator.param == clone(estimator).param` returns True but `estimator.param is clone(estimator.param)` returns False).

Either the documentation has an is

[2022-03-16 00:40] wchill commented on #15722
@cmarmo I've confirmed it's still an issue in 1.0.2, opened #22857 with an example.

[2022-03-16 01:55] TomDLT commented on #22855
Indeed, one can get a good speedup (x13 on my machine) with `Ridge(alpha=0)`.
[code]

Arguably, `Ridge` should always be preferred instead of `LinearRegression` anyway.

[2022-03-16 03:39] thomasjpfan commented on #21285
One issue with `display="diagram"` is how it displays on GitHub. [Here is an example](https://gist.github.com/thomasjpfan/b714fa797e24e5339992c6163a2e5872). GitHub does not let any of the CSS load, so there is no way to get the diagram representation. The fallback text displays correctly. The issue is that the HTML representation is not hidden, even when the parent HTML element is marked "hidden"

[2022-03-16 08:57] jeremiedbb commented on #21285
According to [this](https://blog.jupyter.org/rendering-notebooks-on-github-f7ac8736d686) it's intentional.
[code]

[2022-03-16 10:12] ogrisel commented on #21285
notebooks, you will see an icon that allows you to view the full notebook on nbviewer.

Unfortunately this does not seem to be the case for CSS dependent output. I cannot see such an icon on the example notebook linked by @thomasjpfan above.

[2022-03-16 10:26] #21926 closed

[2022-03-16 11:06] kaushikacharya commented on #21877
@chritter @glemaitre @thomasjpfan
IMHO

1. Its better to show the multilabel example too in https://github.com/scikit-learn/scikit-learn/blob/main/doc/modules/multiclass.rst#multioutputclassifier
  The generalized classifier example uses `make_classification` to create random dataset whereas the multi-label example uses `make_multilabel_classification`.

2. [MultiOutputClassifier](https://scikit-l

[2022-03-16 11:31] tinarooot commented on #16033
Fuck, just changing a version at random will kill people when migrating code

[2022-03-16 12:26] mathurinm commented on #22836
Here's an implementation if you want to play with it:
[code]

[2022-03-16 12:47] jnothman commented on #21285
It would be interesting if they supported an alternative MIME, like (imaginary) text/safe-html....

[2022-03-16 15:05] lorentzenchr commented on #22836
That's a great code snippet!

<details>

- `n_samples=500`, `n_features=2000`, `alpha = alpha_max / 30`, `beta = 0.1 * alpha`
  ![image](https://user-images.githubusercontent.com/15324633/158613117-99387dce-a4d6-4209-853d-fe521415a918.png)
- `n_samples=500`, `n_features=2000`, `alpha = alpha_max / 30`, **`beta = 1.0 * alpha`**
   ![image](https://user-images.githubusercontent.com/15324633/15861454

[2022-03-16 15:21] mathurinm commented on #22836
Beware when you see the blue curve suddenly dropping at the end (`figures[-2]`), it is because the solver did not converge and we infer the optimal value as `np.min(primals)`. Also I'd feel safer if the code I wrote was proofread.

Yes it makes sense to take the highest dual objective across formulations, as you say the cost of computation is that of `X.T @ R` which can be reused from one formulat

[2022-03-16 16:21] ogrisel commented on #22855
I think we need tests for this: in particular it would be great that we would call LinearRegression and Ridge on such badly conditioned learning problem and checking that warning with informative error message that suggest to use a more stable solver by its name are raised (or that the switch happens automatically with a warning message to inform the user).

[2022-03-16 16:41] ogrisel commented on #14268
This is related to #22855.

[2022-03-16 17:16] ogrisel opened #22867 "Failing nightly tests with PyPy"
Observed here:

https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=39570&view=logs&j=0b16f832-29d6-5b92-1c23-eb006f606a66&t=0cdfadab-878f-502c-9df1-54a896e98c4f

Here are the failures:

[code]

Two of those failures seems to be related to the interaction between scipy and pillow. See the details below for the versions of all libs:

<details>

[code]

</details>

The remaining f

[2022-03-16 17:19] #6242 closed

[2022-03-16 21:37] thomasjpfan commented on #22867
`scipy.misc.imsave` was removed in SciPy 1.3 (here is the [changelog entry](https://github.com/scipy/scipy/blob/8a64c938ddf1ae4c02a08d2c5e38daeb8d061d38/doc/release/1.3.0-notes.rst#scipy-interpolate-changes)). I opened https://github.com/scikit-learn/scikit-learn/pull/22743 to remove this `_pilutil` all together and use Pillow directly.

As for the automated report, it was not configured properly

[2022-03-16 21:55] jnothman commented on #17942
Please give an example of modifying the scorer in GridSearchCV @adrinjalali. I don’t get your comment

[2022-03-16 22:33] thomasjpfan commented on #22867
I opened https://github.com/scikit-learn/scikit-learn/pull/22870 to configure pypy to auto open an issue.

[2022-03-17 03:03] richardt94 commented on #22572
I'd like to work on this for the files in `linear_model`.

[2022-03-17 07:49] Stophface opened #22879 "Cannot run KDE on projected coordinates"
### Describe the bug

I want to perform a KDE on data in projected coordinates (EPSG: 25833). The result of the KDE is empty. When I run the same code on a geographic coordinate system like EPSG: 4326, the KDE works as expected.

### Steps/Code to Reproduce

 My data is in a `Geopandas` `GeoDataframe`. Currently I am doing this in geographic coordinate (`EPSG:4326`). However, I want to do this wit

[2022-03-17 11:33] prhbrt opened #22880 "Encapsulate nearest neighbor code for `sort_sparse_row_values` in a function"
### Describe the issue linked to the documentation

The [nearest neighbor code](https://github.com/scikit-learn/scikit-learn/blob/fb71eeff5a40399648d63258239079f5db7dcd76/sklearn/neighbors/_base.py#L206) often raises an `EfficiencyWarning`, particularly when using [DBSCAN](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.DBSCAN.html) on sparse precomputed distance matrices. There'

[2022-03-17 12:45] adrinjalali commented on #17942
https://github.com/scikit-learn/scikit-learn/pull/22866 is making this happen.

[2022-03-17 13:02] adrinjalali commented on #17942
@jnothman I was referring to this comment by @glemaitre : https://github.com/scikit-learn/scikit-learn/pull/17962#issuecomment-667842959, specifically:

[2022-03-17 14:24] jjerphan opened #22881 "Improve tests to make them run on variously typed data using the `global_dtype` fixture"
## Context: the new `global_dtype` fixture and `SKLEARN_RUN_FLOAT32_TESTS` environment variable

Introduction of low-level computational routines for 32bit motivated an extension of tests to run them on 32bit.

In this regards, https://github.com/scikit-learn/scikit-learn/pull/22690 introduced a new `global_dtype` fixture as well has the `SKLEARN_RUN_FLOAT32_TESTS` env. variable to make it possibl

[2022-03-17 14:49] ogrisel commented on #22881
I have tried to expand the description of this issue, but github fails to take my update into account for some reason.

Here is a copy of the edited issue description:

https://gist.github.com/ogrisel/d6867ca3c8c64e0b3d789f5a2f9ce067

[2022-03-17 15:54] adrinjalali commented on #14131
Closing this one for now. @KacperKubara feel free to ping us if you end up seeing/having a PR related to this. Thanks for the ping @cmarmo

[2022-03-17 15:54] #14131 closed

[2022-03-17 16:13] #20907 closed

[2022-03-17 16:16] lorentzenchr commented on #22755
@Klas96 May I ask for your use case? Why should this metric be in scikit-learn?

[2022-03-17 16:28] Klas96 commented on #22755
@lorentzenchr ofcourse, this is a handy metric bounded by 0 and 1 that does not become where large when y_true = 0 and y_pred != 0.

[2022-03-17 17:09] lorentzenchr commented on #22755
Could you be more specific? Your use case if possible. Is it used elsewhere? Literature? Do you have an idea what an "ideal model" wrt this metric would predict? (Eg. the conditional expectation of y given X is ideal for the squared error.)

[2022-03-17 17:16] #20506 closed

[2022-03-17 18:10] ogrisel commented on #19953
@amitmeel can you please try to make your reproducer as minimal as possible. I am under the impression that there are many unnecessary steps in your code. This makes it hard for us to understand what's causing you trouble.

https://scikit-learn.org/dev/developers/minimal_reproducer.html#minimal-reproducer

[2022-03-17 18:11] ogrisel commented on #19953
Something that I find weird in your code is that the `CustomVectorizer` meta-estimator does not call the `fit` method of its base estimators.

[2022-03-17 18:42] melgazar9 commented on #12525
For certain version of @kylegilde get_column_names_from_ColumnTransformer I get error `TypeError: decoding str is not supported`

A fix is to use .format or f string

`
def get_column_names_from_ColumnTransformer(column_transformer):

    col_name = []
    for transformer_in_columns in column_transformer.transformers_[:-1]:  # the last transformer is ColumnTransformer's 'remainder'
        print(f

[2022-03-17 20:22] kylegilde commented on #12525
@melgazar9 , good to know! Hopefully, these workarounds all go away whenever https://github.com/scikit-learn/scikit-learn/issues/21308 is merged.

[2022-03-17 20:27] glemaitre commented on #22855
I just played for a course that I will do tomorrow and indeed our `LinearRegression` is terrible.

Given the following dataset:

[code]

I did a quick comparison:

[code]

[code]

and then I though about using the Normal equation:

[code]

[code]

and finally using a L-BFGS-B solver:

[code]

[code]

I recall a discussion in the book of @ageron regarding the complexity of the `lstsq` and the gradi

[2022-03-17 21:34] hashem20 opened #22884 "SGDRegressor intercept exactly around half of the value it should be"
### Describe the bug

It seems that the recent sklearn.SGDRegressor produces intercepts half of the real values.

### Steps/Code to Reproduce

import numpy as np
from sklearn.linear_model import SGDRegressor, LinearRegression
x = np.random.randn(100,1)
y = 10 + 7 * x
X = np.c_[np.ones(100), x]
sgd = SGDRegressor(max_iter=1000, eta0=.1, tol=1e-3)
lin = LinearRegression()
sgd.fit(X, y)
lin.fit(X,y)

[2022-03-17 21:52] lorentzenchr commented on #22855
@glemaitre Could you replace `np.linalg.inv` by `np.linalg.solve`?
Next thought: lbfgs is a good reference but special linalg routines should (we expect them to) be always faster and more robust for OLS-like problems.

I would not go so far as to say `LinearRegression` is terrible. It is always a tradeoff between speed and robustness and this one is clearly on the more/most robust side.

Actionabl

[2022-03-17 22:08] drpeterfoster opened #22885 "Modified order of operations in _approximate_mode() changes function behavior"
### Describe the bug

In issue [#20774](https://github.com/scikit-learn/scikit-learn/issues/20774) and subsequent [PR #20904](https://github.com/scikit-learn/scikit-learn/pull/20904), the order of operations in the calculation of `continuous` was changed from
[code]
to
[code]

For cases where the class count values are low and number of classes is high, deficiency in float precision results in the

[2022-03-17 22:16] thomasjpfan commented on #22884
`SGDRegressor` splits the weights evenly between the constant feature and the intercept term:

[code]

With a constant feature (`np.ones`), one can pass in `fit_intercept=False` to put all the weight on the constant feature:

[code]

[2022-03-17 22:16] #22884 closed

[2022-03-17 22:21] aryamccarthy commented on #8166
No matter what, the document needs to be updated. It's leading to [incorrect inferences](https://stats.stackexchange.com/questions/531518/how-can-we-interpret-such-weird-values-of-the-adjusted-rand-index/531547#531547) about the range of values. We can't say that -1 is _the_ lower bound.

[2022-03-18 03:12] danifernandes-hub commented on #22572
I will continue working on this for the files in the metrics and preprocessing folders

[2022-03-18 05:33] NartayXD commented on #22678
Take,
I will try to implement this feature by always keeping the current best models. I don't guarantee to produce qualified code though, I am mostly doing it for learning purpose.

[2022-03-18 08:16] TimArinze commented on #17983
I am having this same issue currently I have tried everything on this thread the issue still persist

[2022-03-18 09:34] sigvaldm opened #22890 "KMeans support for complex numbers"
### Describe the workflow you want to enable

It would be nice with K-means clustering (`KMeans`) for complex-valued vectors. Today complex-valued vectors in the `fit` method throw a `ValueError`.

### Describe your proposed solution

Each element of a complex vector is associated with two axes (a real and an imaginary) in the parameter space on which to perform clustering. A way to "fake" this be

[2022-03-18 09:51] jjerphan commented on #22881
Regarding dtype preservation for fitted attributes, wouldn't it be better to introduce global checks for it with tags? I feel that we might spend a lot of time duplicating checks in many tests, potentially inserting a lot of `TODO`.

To me it seems that this would better be addressed by another meta-issue similar to https://github.com/scikit-learn/scikit-learn/issues/11000.

What do you think?

[2022-03-18 10:48] kabartay commented on #22678
@NartayXD  did you make some experiments checking performances between average / ensemble of predictions on test each N models for N folds in comparision with 1 model refit on entire data with best parameters? If yes, do you see it outperforms? Would be a good signature to see smth like that on couple of open datasets.

[2022-03-18 12:11] LaurynasGiriunas commented on #22881
will work on sklearn/neural_network/tests/test_base.py

[2022-03-18 12:23] Tom-Znk commented on #22881
Will try to fix sklearn/cluster/tests/test_k_means.py

[2022-03-18 13:06] adrinjalali commented on #21838
Do we have consensus to move forward with @thomasjpfan 's proposal?

[2022-03-18 14:09] glemaitre commented on #22890
Supporting complex numbers is outside of the scope of scikit-learn.

[2022-03-18 14:09] #22890 closed

[2022-03-18 14:37] glemaitre commented on #22855
It is what I found reading your comment afterwards :) Hoping that `LinearRegression` can forgive me for this comment :)

Regarding using the LAPACK `_gesv` with `np.linagl.solve`:

[code]

[code]

It is then as efficient than LBFGS.

[2022-03-18 15:40] ogrisel commented on #22867
I would have expected #22870 to open an issue last night about the `[doctest] sklearn.externals._lobpcg.lobpcg` failure. But apparently it no longer fails:

https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=39691&view=logs&j=0b16f832-29d6-5b92-1c23-eb006f606a66

[2022-03-18 15:40] #22867 closed

[2022-03-18 15:41] ogrisel commented on #22867
¯\_(ツ)_/¯

[2022-03-18 15:52] jeremiedbb commented on #22881
I changed it to hard because it requires some knowledge to figure out which test should use the fixture and which test should not.

[2022-03-18 16:23] #13617 closed

[2022-03-18 16:27] adrinjalali opened #22893 "SLEP006 - Metadata Routing task list"
This issue is to track the work we need to do before we can merge `sample-props` branch into `main`:

- [x] Merge https://github.com/scikit-learn/scikit-learn/pull/22083 into `sample-props`. This PR only touches `BaseEstimator` and hence _consumers_. It does NOT touch meta-estimators, scorers or cv splitters.
- [x] Work on splitters and merge that into `sample-props`: https://github.com/scikit-lea

[2022-03-18 16:47] #19578 closed

[2022-03-18 17:39] jeremiedbb commented on #13969
very unlikely to be part of 1.1, moving to 1.2

[2022-03-18 17:40] jeremiedbb commented on #16241
very unlikely to be part of 1.1, moving to 1.2

[2022-03-18 17:40] jeremiedbb commented on #15992
very unlikely to be part of 1.1, moving to 1.2

[2022-03-18 20:57] jsilke commented on #22406
Working on [examples/cluster/plot_mini_batch_kmeans.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/cluster/plot_mini_batch_kmeans.py)

[2022-03-19 06:31] amitmeel commented on #19953
@ogrisel if you closely look at the code we are passing a fitted transformer/vectorizer to a custom vectorizer.
[code]

In the above snippet, this tf_content and tf_keyphrase are fitted instances of TfidfVectorizer, that's why i'm not doing anything in ```CustomVectorizer ```  ``` fit ``` method.

When I'm running the same code in version 0.21.3 , and checking whether tf_content is fitted or not u

[2022-03-19 10:55] jnothman commented on #21285
We could add to our HTML repr a hidden statement saying: "Your browser is not rendering this as intended. Try NBViewer"?

[2022-03-19 11:08] jnothman commented on #22893
Do you see this as a collaborative effort? To what extent can we still use #20350? To what extent can we share test components? Which of these metaestimators have existing fit param routing that needs to be deprecated?

[2022-03-19 11:09] jnothman commented on #22893
Your list appears to be missing some `*CV` estimators (E.g. ElasticNetCV) that will have to route to splitters if not scorers.

[2022-03-19 11:15] jnothman commented on #22893
Also missing are functions in `sklearn.model_selection._validation`

[2022-03-19 11:30] pedroilidio commented on #4143
What about having a `Transformer` attribute like `returns_y` with values `False` (default), `True` or `"both"` that indicates whether `transform` returns transformed `X` (as usual), transformed `y` or both `X`and `y` in a tuple?

Pros I see are it seems easy to
1. convert a usual transformer to a target transformer;
2. assure compatibility with old custom transformers by assuming in `Pipeline` tha

[2022-03-19 12:31] jnothman commented on #21838
A draft SLEP is here: https://github.com/scikit-learn/enhancement_proposals/pull/67

To some extent @GaelVaroquaux's [objections](https://github.com/scikit-learn/scikit-learn/issues/5080#issuecomment-127128808) still apply, but I think the core devs find the inflexibility of clone to be a limiting/frustrating.

[2022-03-19 14:07] dmbee commented on #4143
Alternatively you could have a base class e.g. XYTransformerMixin, and use isistance()

[2022-03-19 16:19] thomasjpfan commented on #21285
I opened https://github.com/scikit-learn/scikit-learn/pull/22902 to improve the hidden statement to include the issue around GitHub rendering.

[2022-03-19 18:05] Permafacture commented on #4143
I have the transformer return a named tuple called `XyTuple` with attributes `X` and `y` and do `isinstance` on the value returned by the transformer.  I think this or the `XyTransfomer` make sense. I did both but what really matters is what the transformer returns so I opted for the named tuple rather than allowing for a possible mismatch between what the Transformer inherits from and what it doe

[2022-03-19 20:30] #17942 closed

[2022-03-20 00:42] Micky774 opened #22904 "Pytest plugins in a non-top-level conftest is no longer supported"
### Describe the bug

When running pytest, an issue pops up due to https://github.com/scikit-learn/scikit-learn/blob/7116165f493998cde7989a29458f36bdfb0a9ab5/sklearn/conftest.py#L24-L25

I was able to fix this by moving the offending line to `scikit-learn/conftest.py` instead. Not sure if this is a genuine bug, or if I had something misconfigured on my end. Edit: I was using pytest version `6.2.5`

[2022-03-20 01:32] thomasjpfan commented on #22904
Running `pytest sklearn` should resolve the issue.

When looking around our docs, we do recommend contributors to run:

[code]

For example, [the README](https://github.com/scikit-learn/scikit-learn#testing) or [Contributing guide](https://scikit-learn.org/stable/developers/contributing.html#pull-request-checklist) recommend using `pytest ___`

**Side note**: We do want `conftest.py` to be in the

[2022-03-20 01:36] #22904 closed

[2022-03-20 02:10] aaptss commented on #8451
// Just to leave it here for anyone who wants to use Anomaly detectors as one of voters.

This worked for me:
[code]

[2022-03-20 12:13] thariq-nugrohotomo opened #22907 "UserWarning is thrown when calling `HistGradientBoostingRegressor.fit` while specifying `scoring` argument"
### Describe the bug

`UserWarning: X does not have valid feature names` is thrown when calling `HistGradientBoostingRegressor.fit` using `pandas.DataFrame`.

The regressor was constructed by specifying `scoring` argument.
Also since the sample size is large, seems like `early_stopping` is automatically enabled in this case.

If I recall correctly, this warning was not thrown on version before 1.0

[2022-03-20 14:00] ntsompa commented on #22709
Hello, i would like to contribute to this one. Is it possible? Thank you.

[2022-03-20 14:59] thomasjpfan commented on #22907
Thank you for opening the bug report! I agree this is a bug with `HistGradientBoosting*` and opened https://github.com/scikit-learn/scikit-learn/pull/22908 to resolve the issue.

[2022-03-21 05:52] WilliamQue opened #22911 "Please check fetch_20newsgroups under 1.0.2"
### Describe the bug

scikit-learn 1.0.2

I found the function returning nothing under 1.0.2 but would be OK under 1.0.1, please check it.

### Steps/Code to Reproduce

[code]

### Expected Results

Anything except None

### Actual Results

None

### Versions

[code]

[2022-03-21 06:02] #22911 closed

[2022-03-21 13:07] s-banach commented on #15438
Jérémie,
Sorry if this is off-topic, but perhaps you will consider it while you're working on sample weight code.
I believe ElasticNetCV chooses its array of `alphas` without taking into account sample weights.
Is this something you would consider an issue?

Thanks.

[2022-03-21 13:36] marianna13 commented on #22857
Hi! This error comes from the fact that Sklearn compares parameters of old and new estimators with `is`. This comparison return true only if two objects are identical i.e. same (with same id). The solution may be to change this comparison to `==` and it should work. I haven't done any contributions before so I don't know how to fix this bug.

[2022-03-21 14:14] s-banach opened #22914 "Calculation of alphas in ElasticNetCV doesn't use sample_weight"
### Describe the bug

In ElasticNetCV, the first and largest value of `alpha`, call it `alpha_max`, should be just large enough to force all of the coefficients to become zero. The existing code works correctly when `sample_weight` is not specified. However, the computation of `alpha_max` does not take into account `sample_weight`.

### Steps/Code to Reproduce

[code]

### Expected Results

If the

[2022-03-21 14:15] s-banach commented on #15438
Here is the issue: https://github.com/scikit-learn/scikit-learn/issues/22914

Thanks for your time.

[2022-03-21 14:43] #21285 closed

[2022-03-21 15:40] adam2392 commented on #22881
@jjerphan just tried this for `sklearn/tree/tests/test_tree.py` and `sklearn/ensemble/tests/test_forest.py` and I don't think it works because the TreeBuilder has this conversion inside `_check_input`, which always forces the X input dtype

[code]

[2022-03-21 15:45] lorentzenchr commented on #22914
I agree, the max `alpha` should give zero coefficients.
Do you want to give it a try and open a PR?

[2022-03-21 16:16] 2357juan commented on #22406
Working on https://github.com/scikit-learn/scikit-learn/blob/main/examples/linear_model/plot_bayesian_ridge_curvefit.py

[2022-03-21 16:39] s-banach commented on #22914
I could simply modify the function `sklearn.linear_model._coordinate_descent._alpha_grid`, but I'm not sure this would be optimal. I would simply be repeating the calculation of multiplying by `sqrt(sample_weight)` which is already being done when we fit `ElasticNet`.
Personally, here is how I would approach the problem:

(1) I would always make the `ElasticNet` model call `enet_path`.  Surprising

[2022-03-21 18:19] kyle-pena-nlp commented on #22538
Thank you for your time!

I may reach out to the author of the paper for a reference implementation.  They mention it is in MATLAB.  Like you, I was unable to find a test for near-separability.

[2022-03-21 18:32] kyle-pena-nlp commented on #22538
@TomDLT - thank you for the time you spent looking this over.  I am also unaware of a way to test separability beforehand.

[2022-03-21 18:32] #22538 closed

[2022-03-21 19:37] lorentzenchr commented on #11566
the solvers will be a lot more complicated.

Correct, a 1d array for the diagonals of a `P1` matrix suffices and keeps things solvable within our codebase.

[2022-03-21 22:53] cmarmo commented on #22879
Hi @Stophface , thanks for reaching out.
When you convert from geographic coordinates to projected coordinates the scale of the coordinate variation also change.
In your example, geographic coordinates cover around a tenth of degrees, projected ones cover hundreds of thousands of meters.
The bandwidth of the kernel estimation is particularly affected by the coordinate variation, it is related to t

[2022-03-21 22:53] #22879 closed

[2022-03-21 22:58] cmarmo commented on #22879
I have linked my answer in the [discussions](https://github.com/scikit-learn/scikit-learn/discussions/22860), feel free to continue there if you still have doubts. Thanks!

[2022-03-21 23:50] jeremiedbb commented on #22689
I assume that https://github.com/scikit-learn/scikit-learn/issues/22689#issuecomment-1059234422 solved it. Closing. Feel free to reopen if you consider the issue not fixed.

[2022-03-21 23:50] #22689 closed

[2022-03-21 23:58] jeremiedbb commented on #22744
Having numpy and scipy using different versions of openblas has not been an issue so far so I don't think it has anything to do with the issue you're facing.

The backtrace and the snippet don't involve scikit-learn at all. This issue should probably be posted on the scipy issue tracker. I'm closing it here.

[2022-03-21 23:58] #22744 closed

[2022-03-22 00:42] jeremiedbb commented on #12644
There's been improvements to the stability of the algorithm. The skip has been removed for a while now and we've not seen failures since then. Closing (definitively I hope :) )

[2022-03-22 00:42] #12644 closed

[2022-03-22 10:18] #21117 closed

[2022-03-22 10:33] af358 commented on #22406
Working on examples/cluster/plot_coin_ward_segmentation.py

[2022-03-22 10:51] Quentin62 commented on #4580
I was looking for ICL in GaussianMixture. Here is my current implementation

[code]

[2022-03-22 11:05] DeaMariaLeon commented on #21350
Working on sklearn.datasets._covtype.fetch_covtype

[2022-03-22 12:43] ogrisel commented on #22881
I extended the tests of #22806 using a combination of `global_dtype` and the `global_random_seed` fixtures and it revealed numerical problem that would not be visible with the default seed. I already fixed the most obvious but I am not 100% sure if this is good enough or not. So indeed I anticipate those PRs to be hard on average.

[2022-03-22 14:43] victoirelouis commented on #21350
working on sklearn.metrics.cluster._supervised.rand_score

[2022-03-22 15:06] adrinjalali commented on #22893
Also updated the list, it should be quite complete now I think.

[2022-03-22 19:15] #15438 closed

[2022-03-22 20:34] jeremiedbb commented on #22914
I agree with that

[2022-03-22 20:39] DelgadoPanadero commented on #19294
Hi @glemaitre

Thank you for your answer. As you mention, there have been people before us who has used similar algorithms to explain the predictions from GradientBoosting and RandomForest. However our point with our work (https://doi.org/10.1016/j.ins.2021.12.111)is not just to propose just an implementation, but a mathematical demonstration to express the prediction in terms of the "feature cont

[2022-03-22 20:44] jeremiedbb commented on #22914
I think it's better to first fix the issue, if there's the possibility of a simple fix as it seems here, with a good non-regression test like you showed in your issue. Then we can think about making some small refactorings in a separate PR.

[2022-03-23 02:44] bharatkrishna opened #22922 "QuantileRegressor unable to allocate memory for large datasets"
### Describe the bug

I am using sklearn.linear_model.QuantileRegressor for a dataset with ~2.9 million datapoints.
When I use it as follows, I get a memory error.

`MemoryError: Unable to allocate 61.6 TiB for an array with shape (2909376, 2909376) and data type float64`

When I do the same with statsmodel library, I don't encounter any issues.

Would this be a known limitation of the sklarn impl

[2022-03-23 02:57] cmarmo commented on #14497
Closing this one as it is quite old, the main issue has been solved and there was no answer to the last question.
Feel free to reopen if things can be clarified.

[2022-03-23 02:57] #14497 closed

[2022-03-23 05:18] richardt94 commented on #15873
take

[2022-03-23 09:35] jjerphan commented on #22881
@adam2392: some estimators aren't preserving the provided input dtype.

In that case, it still makes sense to extend the tests adding TODO, as explained in the description of this issue:

[2022-03-23 13:05] jnothman commented on #22893
Re deprecation, one might have thought that using the old logic where there's no request makes sense... but a splitter's request for `groups` by default might mess that up...

[2022-03-23 15:09] arcarvalho-isq opened #22927 "R squared is missing in Scikit learn"
### Describe the bug

For the calculation of R squared, you need to determine the Correlation coefficient, and then you need to square the result.

Is not that R2 score with negative values...

### Steps/Code to Reproduce

from sklearn.metrics import r2_score
y_true = [1, 2, 3]
y_pred = [3, 2, 1]
r2_score(y_true, y_pred)

### Expected Results

The results is -3!!!!

R2 should be 1.

you have a per

[2022-03-23 15:34] thomasjpfan commented on #22927
scikit-learn uses the most [general definition of r2](https://scikit-learn.org/stable/modules/model_evaluation.html#r2-score-the-coefficient-of-determination):

![Screen Shot 2022-03-23 at 11 31 50 AM](https://user-images.githubusercontent.com/5402633/159736647-3203c755-dca6-4d2f-bdaf-6353432dd828.jpg)

which can also be seen as:

![Screen Shot 2022-03-23 at 11 22 30 AM](https://user-images.github

[2022-03-23 15:34] #22927 closed

[2022-03-23 15:39] arcarvalho-isq commented on #22927
Well, this says alot about scikit-learn.
What is the correlation of 1 , 2 , 3 with 3 , 2 , 1?
scikit-learn answer -3
LOL

[2022-03-23 16:15] teunpe commented on #22406
Working on [examples/cluster/plot_dict_face_patches.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/cluster/plot_dict_face_patches.py)

[2022-03-23 16:55] thomasjpfan commented on #22927
It is fairly common to use the [general definition for r2 score](https://en.wikipedia.org/wiki/Coefficient_of_determination).

For example, [R's caret package](https://rdrr.io/cran/caret/) will also output -3 when configured to use the traditional definition:

[code]

[2022-03-23 17:27] jeremiedbb commented on #22927
What is the correlation of 1 , 2 , 3 with 3 , 2 , 1?
scikit-learn answer -3
LOL

Please be respectful ([code of conduct](https://github.com/scikit-learn/scikit-learn/blob/main/CODE_OF_CONDUCT.md)) with the person that kindly take the time to explain you what you're missing.

As explained, there are several definitions of R². The most general one can yield negative values. I suggest that you read t

[2022-03-23 18:53] cmarmo commented on #14570
We have some information about label now on the [wiki](https://github.com/scikit-learn/scikit-learn/wiki/Triaging-tips) and [triage meetings](https://github.com/scikit-learn/administrative/tree/master/triage_meetings) are in place (perhaps the repo is not really up to date?). Shall we close this one?
@amueller. @thomasjpfan
Thanks!

[2022-03-23 18:55] s-banach commented on #22914
This is a possible way that the function `_alpha_grid()`  from `sklearn.linear_model._coordinate_descent.py` could be redefined.
Before I try to make my first ever PR (very scary!), could you please let me know if this looks superficially reasonable?

P.S. Since `_alpha_grid` begins with an underscore, may I conclude that it is not referenced anywhere in the sklearn codebase outside of `_coordinat

[2022-03-23 18:59] cmarmo commented on #14613
Hi @kjanko , I'm sorry your issue got lost.... Please provide [self-contained example code](https://scikit-learn.org/dev/developers/minimal_reproducer.html#minimal-reproducer), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal. Thanks for your understanding.

[2022-03-23 19:17] #14690 closed

[2022-03-23 19:19] cmarmo commented on #14671
Running the [code above](https://github.com/scikit-learn/scikit-learn/issues/14671#issue-481730488) with the current version throws no error. If this is a duplicate of #7931 it has been fixed by #14865. I'm closing it.

[2022-03-23 19:19] #14671 closed

[2022-03-23 20:52] Gonzalo933 opened #22930 "roc_auc_score, support `average=None` for multiclass labels"
### Describe the workflow you want to enable

Currently as of version 1.0.2 If you try to calculate the roc_auc_score for a multiclass `y_true`  with `average=None` you get an error:

[code]

[code]

### Describe your proposed solution

The Area under the ROC Curve can still be calculated for every group in both the ``ovr`` and ``ovo`` setting. Furthermore, it can be calculated using the current `

[2022-03-23 21:42] thomasjpfan commented on #14613
Thank you @cmarmo revisiting this issue. Here is a example of the code failing:

[code]

To resolve this, we should update the the docstring and remove "sparse matrix" from it.

[2022-03-23 21:58] jeremiedbb opened #22931 "CI: CircleCI artifact link has changed"
see https://184075-843222-gh.circle-artifacts.com/0/doc/_changed.html
or https://184079-843222-gh.circle-artifacts.com/0/doc/_changed.html

[2022-03-23 22:01] thomasjpfan commented on #14570
In the triaging meetings, we have been collectively going through the "Needs Triage" tag and doing the triaging work. We have been responding directly in the issues. So there has not been any new notes.

As for this issue, we have all the labels in place. Recently, we added more specific "Needs Decision" tags to help with organize our "needs decision" tasks.

I'm okay with closing.

[2022-03-23 22:01] #14570 closed

[2022-03-23 22:03] thomasjpfan commented on #22931
It looks like the URL changed. Here is an example of the URL to one of the PRS:

https://output.circle-artifacts.com/output/job/2a3449a2-96ea-4e27-997e-79462d4ecef7/artifacts/0/doc/_changed.html

[2022-03-24 00:10] yiyangq commented on #22572
Hi, I'd like to help with the problem. From the above discussion, no one is working on sklearn/feature_extraction/tests/test_text.py, is it ok if I start to work on this file?

[2022-03-24 00:54] s-banach commented on #22914
Sorry to be wasting so much of your time, this is very educational for me.
I will try submitting a PR if that is the easiest way for you to examine the code.
(By the way, when I posted the comment six hours ago, I forgot to use safe_sparse_dot for all my dot products, so at least I have figured out how to fix that by myself.)

[2022-03-24 02:52] scikit-learn-bot opened #22934 "⚠️ CI failed on Linux_Nightly.pylatest_pip_scipy_dev ⚠️"
**CI Failed on [Linux_Nightly.pylatest_pip_scipy_dev](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=40023&view=logs&j=dfe99b15-50db-5d7b-b1e9-4105c42527cf)**
- test_sample_weight_deviance

[2022-03-24 08:37] reidjohnson commented on #11086
FWIW regarding this issue, there is an actively maintained, scikit-learn compatible/compliant Quantile Regression Forest implementation available here: https://github.com/zillow/quantile-forest

[2022-03-24 15:32] GuillaumeSimo opened #22939 "sklearn.preprocessing.LabelEncoder: new feature to manage unknown value in `transform()` method"
### Describe the workflow you want to enable

Hi, I'm working with `from sklearn.preprocessing import LabelEncoder` and I would find interesting (and useful) to have an option to not get an error in case of when using the `transform()` method there is an unknown label as in this toy example.

Currently:

[code]

output is:
[code]

Wanted behaviour/feature:
[code]

output is something like:
[code]

[2022-03-24 16:10] GuillaumeSimo commented on #22939
Thanks for the very quick reply @thomasjpfan. I think I was wrongly using `LabelEncoder` because I'm encoding features data X and not label variable y as it's well specified [here](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html#sklearn-preprocessing-labelencoder) `This transformer should be used to encode target values, i.e. y, and not the input X.`

So I

[2022-03-24 16:10] #22939 closed

[2022-03-24 16:42] #14959 closed

[2022-03-24 18:27] MatanBendak commented on #15013
Is there an update about this topic?
Does sklearn Isotonic regression support CatBoostClassifier?
If not- Is there an easy fix for this?

[2022-03-25 02:36] yhfwww opened #22944 "AttributeError when use ‘CountVectorizer‘ with ‘preprocessor ’"
I define a preprocessing function like:

def clean_parens(text):
    text = re.sub("=","e",text)
    return text

Then, word vector extraction is defined as：

SelfDicCvB = CountVectorizer(input='filename',vocabulary=voc['word'].tolist(),
                             decode_error='ignore',
                             token_pattern="[x=_\\\?\+\-\&\#\$\(\[\{\*\/\'\"\}\.\;\,\|\^\~\<\>\`]+",

[2022-03-25 07:48] jecampagne opened #22945 "GaussianProcessRegressor (predict)"
### Discussed in https://github.com/scikit-learn/scikit-learn/discussions/22925

<div type='discussions-op-text'>

<sup>Originally posted by **jecampagne** March 23, 2022</sup>
Hello,
I am questioning the code of `predict` of the  `GaussianProcessRegressor`. The code is based on Alg. 2.1 of C. E. Rasmussen & C. K. I. Williams (2003). I have the 2006 version and I do not know if there have been a m

[2022-03-25 09:56] #22907 closed

[2022-03-25 10:09] #3702 closed

[2022-03-25 10:40] lorentzenchr commented on #3702
🎉

[2022-03-25 12:07] #8245 closed

[2022-03-25 13:55] lorentzenchr opened #22947 "BUG unpenalized Ridge does not give minimum norm solution"
#### Describe the bug
As noted in #22910, `Ridge(alpha=0, fit_intercept=True)` does not give the minimal norm solution for wide data, i.e. `n_features > n_samples`.

Note that we nowhere guarantee that we provide the **minimum norm solution**.

#### Probable Cause
For wide X, the least squares problem reads a bit different: min ||w||_2 subject to Xw = y with solution w = X'(XX')^-1 y, see e.g. htt

[2022-03-25 14:42] thomasjpfan commented on #22840
Thank you for the report! I agree this is a bug and opened https://github.com/scikit-learn/scikit-learn/pull/22948 to fix it.

[2022-03-25 15:26] thomasjpfan commented on #22848
The fix would involve either dynamically rewriting the docstring of the parent class or overriding `split` in subclasses that do not use `groups` and update the docstring.

[2022-03-25 15:32] jeremiedbb commented on #22848
The second option seems more like our usual practices :)

[2022-03-25 15:38] adrinjalali commented on #22857
So what we can do in `clone` is to do:

[code]

Doesn't seem like a controversial change since it keeps the old behavior, and falls back on `==` in case that fails. But pinging @scikit-learn/core-devs in case there's something I'm missing.

[2022-03-25 18:08] raymondj-pace commented on #22811
One is here: [Combining Minkowski and Chebyshev - arXivhttps://arxiv.org › pdf]  https://arxiv.org/pdf/2112.12549

Scroll down to page 69 - p = 0.5, 0.75.

The same diagrams for p < 1 are also on wikipedia as well: https://en.wikipedia.org/wiki/Minkowski_distance

[2022-03-25 18:43] ntsompa commented on #22709
/take

[2022-03-25 19:25] Micky774 commented on #22709
@ntsompa I believe that there hasn't been a final decision on the inclusion of this feature yet, which means that the core maintainers may decide to _not_ move forwards with inclusion. You may want to consider working on other issues instead.

[2022-03-25 19:36] thomasjpfan commented on #22944
This is a common issue with pickling a function in `__main__`. A common alternative is to use [dill](https://github.com/uqfoundation/dill) or [cloudpickle](https://github.com/cloudpipe/cloudpickle) instead of pickle.

[2022-03-25 19:36] #22944 closed

[2022-03-25 21:27] #22840 closed

[2022-03-26 00:36] danifernandes-hub commented on #22406
Working on [examples/linear_model/plot_ridge_path.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/linear_model/plot_ridge_path.py)

[2022-03-26 02:07] ntsompa commented on #22709
@Micky774 Thank you for letting me know, i will take that into account.

[2022-03-26 11:03] glemaitre commented on #22922
Could you convert your data into `sparse` format and see if it would be more memory efficient when building these matrices.

[2022-03-26 11:11] glemaitre commented on #22922
The estimator does not use the same approach in scikit-learn and statsmodels: in scikit-learn we used a linear programming solver while statsmodels uses iterative reweighted least squares.

@agramfort @lorentzenchr what are the pros/cons of linear programming vs. IRLS?

[2022-03-26 11:19] lorentzenchr commented on #22922
For the time being: Yes.
As @glemaitre pointed out, if your data is sparse, it might help to work with sparse data only. Also, with newer scipy versions, you might want to use `QuantileRegressor(solver="highs")`.

Linear quantile regression is a harder problem than OLS. The underlying optimization problem is a linear programming problem. As it is a non-smooth problem, any approach using gradients

[2022-03-26 14:58] agramfort commented on #22922
I just wrote a proof of concept IRLS solver at:

https://github.com/benchopt/benchmark_quantile_regression/pull/4

you can see the benchmark result at:

https://benchopt.github.io/results/benchmark_quantile_regression_benchmark_quantile_regression_benchopt_run_2022-03-26_15h44m40.html

[2022-03-26 16:33] sophiastr commented on #11982
Hello, i want to deal with this issue.
Do you still need help?
I am beginner, is that a problem?
I will work really hard in order to make my first contribution.

[2022-03-26 16:46] elcorto commented on #22945
Hi

You are right in noting that the noise parameter should only be used during `fit()`.

I'm no expert in sklearn's code base by any means, but as far as I read and have used the code it does the right thing because `WhiteKernel` has [kind of a special API](https://scikit-learn.org/stable/modules/gaussian_process.html#gaussian-process-kernel-api). While for all kernels `k(X) == k(X,X)`, `WhiteKer

[2022-03-26 16:46] elcorto commented on #22945
However [`predict()` also calculates `y_cov` and there it does](https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/gaussian_process/_gpr.py#L409) `y_cov = self.kernel_(X) - V.T @ V`. If the above explanation is correct, then this might indeed be a problem.

[2022-03-26 17:26] elcorto commented on #22945
However [`predict()` also calculates `y_cov` and there it does](https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/gaussian_process/_gpr.py#L409) `y_cov = self.kernel_(X) - V.T @ V`. If the above explanation is correct, then one might need to use `self.kernel_(X, X)` instead, which would be `K(X*, X*)` in R&W 2006 (eq. 2.24, 2.26, Alg. 2.1 line 6).

[2022-03-26 19:32] danifernandes-hub commented on #22572
Taking care of the utils folder

[2022-03-26 22:26] khughitt commented on #8265
Do you think it would be feasible, given the current architecture, to allow selecting terms based on such an aggregation of TF-IDF values across the dataset (e.g. `sum`, `mean`, or `median`)?

It seems like `max_features` is _not_ intended to do this, and as such, it should probably be implemented separately, if at all, but I mention it here since there has already been an active discussion about

[2022-03-26 22:58] ivinable2000 opened #22964 "Add friedman's H statistic"
Describe the workflow you want to enable
It's a relatively straight-forward measure of whether there's significant interaction between variables in a model given the marginal and pairwise partial dependence.
We don't do a lot of statistics, but arguably this is more an interpretability feature.
See https://www.firmai.org/bit/interaction.html#theory-friedmans-h-statistic

Describe your proposed sol

[2022-03-26 22:59] #22964 closed

[2022-03-26 23:33] Micky774 commented on #8063
When trying to reproduce as suggested, I get this:
![image](https://user-images.githubusercontent.com/34613774/160260379-a523236f-0e2a-4f52-af00-d0406f339d75.png)

While the behavior does change for sample sizes around `1e4`, it seems polynomial time for large enough sample sizes. For sample sizes of `1e4` and smaller it seems that the algorithm takes so little time that other sources of overhead

[2022-03-27 06:03] glemaitre commented on #22922
I propose to form a sparse matrix because we are going to create a sparse eye instead of a dense eye and thus not blow up the memory. I would try it even if your data are not sparse.

Sent from my iPhone

[2022-03-27 10:05] aadarshsingh191198 opened #22966 "Out of Fold score calculation for Cross validation"
### Describe the workflow you want to enable

What happens in cross-validation as of now:

[code]

Now, this for sure satisfies the purpose. But there should be an option to calculate the OOF score as well. (Described in the solution section)

### Describe your proposed solution

What OOF would do:

[code]

### Describe alternatives you've considered, if relevant

_No response_

### Additional con

[2022-03-27 10:07] aadarshsingh191198 commented on #22966
@amueller

[2022-03-27 10:30] jecampagne commented on #22945
Nice contrib to solve the pb, hope that sklearn experts will tell us how they proceed and if one should be careful in using the code. Thanks

[2022-03-27 10:33] TheisFerre commented on #22848
I would be up for taking this issue if it is okay with you.

Just to be sure I understand this issue correctly: We want to overwrite the split method in the KFold cross-validator. The function signature should go from ```split(self, X, y=None, groups=None)``` to ```split(self, X, y=None)```.

Additionally, I have looked at the unit tests. It seems that some of the cross-validators are tested withi

[2022-03-27 12:15] thomasjpfan commented on #22848
No, we can not change the signature as it will break backward compatibility. `KFold` should have the same signature, but the docstring for `groups` changes:

[code]

[2022-03-27 12:36] thomasjpfan commented on #22966
Thank you for opening the issue! The request feature can currently be done with `cross_val_predict`:

[code]

Since this can already be done with using `cross_val_predict`, I am -1 for adding another parameter to `cross_validate` or `cross_val_score`.

[2022-03-27 13:06] jnothman commented on #22857
I think this would be okay.

[2022-03-27 13:06] TheisFerre commented on #22848
Makes sense.

As far as I can tell, the following cross-validators should have their docstring for the `groups` argument changed.

- `KFold`

- `LeaveOneOut`

- `LeavePOut`

- `RepeatedKFold`

-  `RepeatedStratifiedKFold`

- `ShuffleSplit`

I suggest updating it to the following, as this is how it has been updated in other classes.

[code]

Also, do we want to update the docstring for both the `ge

[2022-03-27 17:08] dayoung627 opened #22967 "Why does GridSearchCV cause the computer to overheat when n_job=-1?"
In GridsSarchCV, when n_job=-1, the computer overheats and spyder disconnects.
I use TimeSeriesSplit together, but does using TimeSeriesSplit together cause this problem?

`tscv = TimeSeriesSplit(n_splits=3)
lstm = GridSearchCV(estimator=model, param_grid=parameter_space, scoring='r2', n_jobs=-1, cv=tscv)`

[2022-03-27 18:12] Micky774 commented on #22967
Setting `n_jobs=-1` specifies that `GridSearchCV` should use _all_ available processors. Depending on your hardware and set up this could lead to your system slowing/struggling, and indeed heating up since all your processors will be working on an intensive task. This is especially the case if you have a laptop.

You should set `n_jobs` to however many processors you want to dedicate to the task i

[2022-03-27 21:46] Micky774 commented on #22434
Huh, I'm actually able to reproduce this error semi-reliably. When it occurs still varies -- in one instance it started hanging on iteration 3 while in another it was on iteration 7 -- but I think there's a genuine issue here. On average one iteration would take ~25sec but after letting the stuck fit proceed for a few minutes I noticed no significant change in my system's resource usages (memory o

[2022-03-27 21:52] PanayotisManganaris commented on #19717
Hello. I'm new to this codebase, but I think -- for at least getting TSNE compliant with the transformers API -- an easy solution is just to rename fit_transform to transform. The fit_transform method could then be defined by inheriting from the TransformerMixin.

[2022-03-27 22:16] fingoldo opened #22969 "cross_validate with multiple scorers sets ALL results to nan after just one has errored"
### Describe the bug

I'm supplying `cross_validate` with `scoring = (
    "r2",
    "neg_median_absolute_error",
    "neg_mean_absolute_error",
    "neg_mean_absolute_percentage_error",
    "neg_mean_squared_log_error",
    "neg_root_mean_squared_error",
)`. On my task, regressor (catboost) sometimes predicts negative values, and **neg_mean_squared_log_error** naturally fails. But I would expect

[2022-03-27 23:13] TomDLT commented on #19717
Hi @PanayotisManganaris, thanks for the suggestion. Unfortunately, we want `transform` to apply the same transformation when given all samples together or one sample at a time. This is not possible with TSNE because it is [transductive](https://scikit-learn.org/stable/glossary.html#term-transductive). Therefore, we prefer not having the method `transform` and only having `fit_transform`, to be exp

[2022-03-28 00:21] cmarmo commented on #15140
I am under the impression that this issue received an answer. Without feedback from the author, shall we close it? Thanks.

[2022-03-28 00:36] cmarmo commented on #15150
Hi @SmokinCaterpillar , I'm sorry this issue got lost.
I have tried to reproduce the issue but the pickled models are no longer up to date with the last version of scikit-learn.
If you are still encountering this issue do you mind adding an updated minimal and reproducible code snippet? Thank you very much for your understanding.

[2022-03-28 00:53] cmarmo commented on #15275
This issue is quite old and I am under the impression that it received an answer already. I'm closing it: feel free to reopen if I am wrong.

[2022-03-28 00:53] #15275 closed

[2022-03-28 00:57] dayoung627 commented on #22967
Thank you for your comment. However, this did not happen when I previously set more parameters for GridSearchCV, and my computer has 48 cores. Is there any other way to configure multiple cores without using n_jobs?

[2022-03-28 01:14] PanayotisManganaris commented on #19717
That explains a lot. Thanks for the clarification, Tom. I'll look into using SONG in the meantime.

[2022-03-28 01:17] thomasjpfan commented on #15140
I agree. Let's close.

[2022-03-28 01:17] #15140 closed

[2022-03-28 06:14] lorentzenchr commented on #21993
Could someone with the right permissions change the name in github?

Then, I'm happy to review a PR for the documentation/website.

[2022-03-28 06:46] aadarshsingh191198 commented on #22966
Hi @thomasjpfan
I was not aware of the `cross_val_predict` function. But thanks to you, now I know.
One small doubt - In the docs, it mentions

Could you please elaborate on that? And this:

If you could answer it in context of the above two code snippets that I put, it would be really great.

[2022-03-28 07:58] jeremiedbb commented on #21993
I changed the name on github, but you should have the right permissions @lorentzenchr

[2022-03-28 08:48] lorentzenchr commented on #21993
Thanks. Either I'm too stupid (well possible) to change team names or I'm not allowed to - no big deal.

[2022-03-28 12:02] glemaitre commented on #22969
I can reproduce in `main` and I agree that this behaviour is weird.
We should be computing the other metrics.

[2022-03-28 12:06] glemaitre commented on #22967
You can always limit the number of workers to launch with `n_jobs=10` for instance.
Closing the issue since there is not really a bug here.

You can still provide us the parameters grid, maybe we can help to understand what happen there.

[2022-03-28 12:06] #22967 closed

[2022-03-28 12:11] adrinjalali commented on #22857
There's a fix here https://github.com/scikit-learn/scikit-learn/pull/22973, but it raises another issue with `ndarray`s.

[2022-03-28 12:12] glemaitre commented on #22966
`cross_val_predict` provides a prediction of the size of `X`. However, it comes from the different models trained on a different part of `X`. Therefore, computing the metric between `y_true` and the `y_pred` provided by `cross_val_predict` is not a valid statistical performance estimate.

[2022-03-28 12:14] glemaitre commented on #22966
@thomasjpfan I might be interesting to be able to return the predictions in `cross_validate`. Indeed, it might be useful in plotting displays if we provide the `cv_results` in some cases. However, it should not be returned by default and should as well come with a big warning about when to use it.

[2022-03-28 12:27] lorentzenchr commented on #13210
The hints in https://github.com/scikit-learn/scikit-learn/issues/13210#issuecomment-529724064 in the coordinate descent solvers are addressed in https://github.com/scikit-learn/scikit-learn/pull/22972.

The one about kmeans are refactored (files renamed) in #17622 and - I think - obsolete with the work before that PR.

[2022-03-28 12:45] jnothman commented on #22893
Hey @adrinjalali, how is the work on meta-estimators going? I'm wondering if we should do something crazy like pair programming on it if it's proving hard to get started?

[2022-03-28 12:49] adrinjalali commented on #22893
I spent a few days trying to write common tests for meta-estimators but that didn't go anywhere. After being stuck for a while, @thomasjpfan and I spent some time last week together and we decided to start with simple individual tests, starting for one meta-estimator, and then refactor the tests later when we find recurring patterns.

Right now I'm working on multioutput meta-estimators and should

[2022-03-28 12:54] jnothman commented on #22893
Yes, I think starting with individual tests makes sense, even if I've been curious about reusable components... I think the base components are already well enough tested that tests beyond that need not be super extensive.

[2022-03-28 13:29] thomasjpfan commented on #22966
`cross_val_predict` does what the second code snippet does. It trains different models on a training set, predicts on a test set, and combines the predictions. Afterwards a single metric is evaluated on the predictions.

Our documentation says that the method in the second code snippet and also `cross_val_predict` is not a appropriate measure of generalization error.

[2022-03-28 13:42] NicolasDS-BB opened #22974 "Variance explained by the components of an pca, zero from a certain moment"
### Describe the bug

I'm doing a PCA on data of quite large dimension (about 5000 individuals, about 3000 variables).

The problem presented does not depend on the type of data, I find it with my data but also with synthetically generated data (see example below).

I realize my pca by specifying that I wish to calculate a number of components corresponding to 90% of the explained variance, to avo

[2022-03-28 13:53] jeremiedbb commented on #11000
When making a transformer preserve float32, it's important to check that it does not introduce performance regression.

Currently, transformers that don't preserve float32 convert to float64 as a first step and work with float64 data all the way. We need to avoid keeping float32 in the beginning and end up doing a lot of copies internally in a tight loop because we are adding a float64 array and a

[2022-03-28 14:45] jeremiedbb opened #22975 "CI MacOS job pylatest_conda_mkl_no_openmp install fails"
see https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=40226&view=logs&jobId=e6d5b7c0-0dfd-5ddf-13d5-c71bebf56ce2&j=e6d5b7c0-0dfd-5ddf-13d5-c71bebf56ce2&t=83107d01-18db-5293-bb0f-49ac2bf2f625 for instance

Fails because of
[code]
This is similar to this old issue https://github.com/conda/conda/issues/10969, but for default channel.

[2022-03-28 15:11] #22975 closed

[2022-03-28 15:27] #12410 closed

[2022-03-28 16:03] jeremiedbb commented on #22974
you're rounding here. Try var=np.cumsum(pca.explained_variance_ratio_)*100

[2022-03-28 18:04] bharatkrishna commented on #22922
I'm not entirely sure how to form a sparse matrix. This is what I tried:
[code]
And it gave me the error:
`TypeError: A sparse matrix was passed, but dense data is required. Use X.toarray() to convert to a dense numpy array.`

Could someone guide me how to create a sparse matrix from my existing data, if the above is not the correct way to do it?

[2022-03-28 18:19] lorentzenchr commented on #22922
[code]
and then fit on `X_sparse` instead of `X`. This is only a hunch that is likely to fail, too - but worth a try.

[2022-03-28 18:47] bharatkrishna commented on #22922
Tried it and failed with the same TypeError:
[code]

`TypeError: A sparse matrix was passed, but dense data is required. Use X.toarray() to convert to a dense numpy array.`

[2022-03-28 19:07] samlobe opened #22977 "SequentialFeatureSelector should have a feature order attribute"
### Describe the workflow you want to enable

I want to be able to run Forward Sequential Feature Selector and know the order which it picked the features.
Right now you can only get the indices or a boolean mask of all the features you've selected. Of course, you can run it once and select 1 feature, then run it again and select 2 features, and continue this to pull out the order that features we

[2022-03-28 19:49] cmarmo commented on #22931
Cross linking the issue opened upstream : https://github.com/larsoner/circleci-artifacts-redirector/issues/8

[2022-03-28 20:20] cmarmo commented on #15617
#17335 was meant to fix this one (as the author clearly stated). So I'm closing it. Thanks @erinkhoo for your contribution.

[2022-03-28 20:20] #15617 closed

[2022-03-28 20:50] jeremiedbb commented on #4497
As decided during the dev meeting, we are safely moving it to the 1.2 milestone to give us more time for internal testing.

[2022-03-28 20:51] jeremiedbb commented on #18936
Since we to move the slep006 to 1.2, I guess it makes sense to move this as well.

[2022-03-28 20:57] kmqanda commented on #12464
Would like to check the status of this open item, having a global flag enabling negative sample weight is helpful in my use case. Alternatively, I uses a direct implementation to allow -ve weights:
[code]

[2022-03-28 21:05] nilslacroix opened #22979 "Bug in train_test_split"
### Describe the bug

I am pretty confident I found a bug in train_test_split. When using train_test_split multiple times in a row it produces wrong indexes in X_train and y_train.

### Steps/Code to Reproduce

Using this code at the first time in Jupyter notebook produced the correct result with two identical indexes.

`X_train, X_test, y_train, y_test = train_test_split(df, target, test_size=0.2

[2022-03-28 21:07] lorentzenchr commented on #11566
As discussed in the dev meeting 28 March 2022, new parameter(s) seems fine. The questions are:
1. One or two parameters?
2. Naming

#### One vs two
Having one parameter like `alpha_features` would work for pretty much all linear models. This keeps L1 and L2 penalties in sync.
Having two individual ones, like `P1` and `P2` for `||P1 * w||_1` and `||w' @ diag(P2) @ w||`, would allow more control. It

[2022-03-28 21:16] nilslacroix commented on #22979
I found that when I sort the index and print it it seems to be the index from 0 - samplesize, with a few indexes missing ....

![image](https://user-images.githubusercontent.com/56065345/160488519-6cbb2ada-d78f-4129-a620-483271092fa2.png)

[2022-03-28 21:16] lorentzenchr commented on #22922
@bharatkrishna Sparse data support for `QuantileRegression` comes in the upcoming release, see https://scikit-learn.org/dev/whats_new/v1.1.html.
In the meantime, you could install a nightly build, see https://scikit-learn.org/dev/developers/advanced_installation.html?highlight=nightly#installing-nightly-builds.

The original issue is not a bug of scikit-learn, but a known limitation. Therefore, I'

[2022-03-28 21:16] #22922 closed

[2022-03-28 21:26] GaelVaroquaux commented on #22433
Being too picky about how terms are used in a specific academic field is not helpful: score, samples are terms that have an acceptance in a statistical literature but are used differently by a wider population. I hear very often, including in academic conference "how many samples do you have" (which is one of the phrases that this issue picks upon). "number of samples" is used in very serious mach

[2022-03-28 21:55] lorentzenchr commented on #22433
Some ML references with "one sample is a data point", i.e. "a sample of features".
- "Each basis function is evaluated at each of the N **samples**" (p. 146)
  "Consider a scenario with N = 50 **samples**" (p. 245)
  Elements of Statistical Learning 12th printing Jan 2017
- "Explain how the number of available labeled training **samples** will affect your choice." (p. 66)
  "**how many samples are

[2022-03-28 22:07] jeremiedbb commented on #22979
Thanks for the report @nilslacroix. Could you come up with a minimal reproducer that exhibits the issue you're facing (https://scikit-learn.org/dev/developers/minimal_reproducer.html#minimal-reproducer) ?

[2022-03-28 22:22] avm19 commented on #22433
I'd like to add a point related to what @GaelVaroquaux wrote about wordings that "reflect those that most users would use". Scikit-learn Guides and Documentation is a gateway to machine learning for many novices (and for their audience on Medium). Thus, a vicious cycle may form. I am not saying this is the case with "N samples", but more as a general remark.

[2022-03-28 22:34] steffencruz opened #22981 "learning curve does not work in incremental mode with MLPRegressor"
### Describe the bug

It looks as though incremental learning via the learning_curve method assumes that the estimator accepts a classes argument in **partial_fit**

### Steps/Code to Reproduce

[code]

### Expected Results

Fit should be successful ass MLPRegressor has a partial fit method

### Actual Results

[code]

Note: I have intentionally replaced the full path with the alias **..virtual_en

[2022-03-28 23:03] thomasjpfan commented on #22981
Thank you for opening the issue! I agree this is a bug and opened https://github.com/scikit-learn/scikit-learn/pull/22982 to fix it.

[2022-03-28 23:06] steffencruz commented on #22981
Brilliant, so fast. Thanks Thomas.

[2022-03-29 02:45] thomasjpfan commented on #21559
Closing because this issue was fixed in NumPy.

[2022-03-29 02:45] #21559 closed

[2022-03-29 03:23] gustavo-ren commented on #21350
Hello, I would like to help out on this issue, do I need to sign some sort of Contributor License Agreement?

[2022-03-29 03:38] thomasjpfan commented on #15578
I am -1 on this. Using the total count of incorrect predictions is analogous to using the classification error. The classification error for tree splitting is not used because it is not concave.

This gives a good explanation of why classification error is not used compared to entropy: https://sebastianraschka.com/faq/docs/decisiontree-error-vs-entropy.html

[2022-03-29 03:48] cmarmo commented on #15862
I'm converting this issue as a discussion, perhaps more people in the community will be able to answer.

[2022-03-29 04:25] amueller commented on #22383
@Simar-B because our partial dependence is a bit weird about the mean and it shouldn't be included.

@mayer79 We can use the usual PDP trick for tree-based models, right? That seems more tricky, though. Having just a slow implementation to start might still be useful, though, or maybe have some "reasonable" subsampling?

[2022-03-29 04:44] thomasjpfan commented on #14449
We recently dropped 3.7: https://github.com/scikit-learn/scikit-learn/issues/21460

When it comes to minimum CPython version, we are more or less following [NEP 29](https://numpy.org/neps/nep-0029-deprecation_policy.html#support-table). Then we use the oldest NumPy version that matches [oldest-supported-numpy](https://github.com/scipy/oldest-supported-numpy/blob/main/setup.cfg) and oldest SciPy th

[2022-03-29 05:41] rohansharma777 opened #22985 "Compute centroids using median for metric = 'cosine' in NearestCentroid"
### Describe the workflow you want to enable

In the current NearestCentroid code, we get centroids computed using median only for metric = 'manhattan'.
If enabling centroids computation using median for metric = 'cosine' will help in online prediction tasks.

### Describe your proposed solution

Add 'metric' = 'cosine' for computing centroids using median of the cluster. If approved, I can work o

[2022-03-29 09:29] agramfort commented on #11566
this seems more flexible. Would you have an example in mind to illustrate
the benefit of this
on some data? I think that without a good example this feature will remain
largely hidden.

[2022-03-29 10:05] NicolasHug commented on #22977
Thanks for the proposal @samlobe . Looks like this issue is a duplicate of https://github.com/scikit-learn/scikit-learn/issues/19583.

Adding a `feature_order` might seem simple at first glance, but it can actually be ambiguous: see in particular my comment https://github.com/scikit-learn/scikit-learn/issues/19583#issuecomment-788752741

[2022-03-29 12:10] GaelVaroquaux commented on #21350
No, it is not necessary. Thanks for helping out!

[2022-03-29 16:15] adrinjalali opened #22987 "SLEP006 - metadata handling: fit, transform, fit_transform"
The question of how to handle metadata routing in `fit_transform` has come up a few times and we don't have a clear solution to it yet. This is the latest conversation: https://github.com/scikit-learn/scikit-learn/pull/22083/files#r811448325

A nice summery made by @lorentzenchr is:

1. Handle `fit_transform` as separate method with its own `set_fit_transform_requests`.
2. Merge the requests of `f

[2022-03-29 16:20] adrinjalali opened #22988 "SLEP006 - equal requests? {fit, partial_fit}, {predict, predict_proba, predict_log_proba, decision_function}"
Raised in https://github.com/scikit-learn/scikit-learn/pull/22986#issuecomment-1081773042 the question is whether these two sets of methods should always accept the same metadata:

- `fit` and `partial_fit`
- `predict`, `predict_proba`, `predict_log_proba`, and `decision_function`.

I think they should, and I suggest we add a common test for them accepting the same metadata, and only have `set_fit

[2022-03-29 17:09] lorentzenchr commented on #11566
There are several use cases:
- I might not want to penalize some coefficients at all, in particular very strong **main effects**.
- I might consider to add L1 to all coefficients, but exclude main effects from L2 which acts stronger on large coefficients.
- With two different parameters for L1 and L2, we could later allow the L2 parameter to be a 2d array. With this one can construct:
  -  L2 pena

[2022-03-29 19:14] #22541 closed

[2022-03-29 20:21] thomasjpfan commented on #22977
I am closing this issue since it is a duplicate of #19583. You are welcome to continue the discussion there.

[2022-03-29 20:21] #22977 closed

[2022-03-29 20:24] elcorto commented on #22945
I don't have the time currently, but it could be worthwhile to use some toy data and compare `y_cov` from other implementations such as `gpytorch`.

[2022-03-30 05:20] aadarshsingh191198 commented on #22966
@glemaitre

You mean "it comes from the ~different~ same models trained on a different part of `X`". And if yes, do you still hold on to the claim that " computing the metric between y_true and the y_pred provided by cross_val_predict is not a valid statistical performance estimate"
Also, what if the different parts of `X` are equal in size?

I have seen a lot of Kaggle notebooks where they report

[2022-03-30 06:55] AnuragAnalog opened #22992 "ImportError: cannot import name 'SequentialFeatureSelector' from 'sklearn.feature_selection'"
### Describe the bug

I am getting an import error whenever I try to import Sequential Feature Selector Class from the feature_selection sub-module.

I have checked the past open and closed issues too, but I couldn't find anything in them.

### Steps/Code to Reproduce

[code]

### Expected Results

No Error thrown

### Actual Results

[code]

### Versions

[code]

[2022-03-30 08:16] jeremiedbb commented on #22992
SequentialFeatureSelector was added in version 0.24. You're still using 0.23. I suggest that you upgrade your version of scikit-learn (current is 1.0)

[2022-03-30 08:30] #22992 closed

[2022-03-30 10:45] AnuragAnalog commented on #22992
@jeremiedbb I am getting another error, and I have started a discussion for that, can you check that

Discussion link is [https://github.com/scikit-learn/scikit-learn/discussions/22995](https://github.com/scikit-learn/scikit-learn/discussions/22995)

[2022-03-30 11:44] nilslacroix commented on #22979
Hi I tried to reproduce the error with another dataset but it works just fine with toy examples- I am really baffled here.
As you can see in the screenshot I feed two pandas Dataframes with a Int64Index into the function. Before I do this the indeces
are correctly aligned.

But after train_test_split is called, y_train (and y_test as well) are reindexed beginning at 0 and randomly mixed, which
res

[2022-03-30 12:49] Ben3940 commented on #14613
Hello @cmarmo & @thomasjpfan, I would like to pickup and complete this issue.

[2022-03-30 14:33] jeremiedbb commented on #12823
I don't think there's need for further investigation. We can't expect the same level of accuracy when comparing against float32. The default rtol we use to compare float64 is 1e-7. It's reasonable to use a rtol between 1e-3 and 1e-4 for float32 since precision is halved.

[2022-03-30 14:39] #9009 closed

[2022-03-30 14:44] jeremiedbb commented on #6386
This has been done in #19198. Unused atoms are resampled at random (uniformly) from the data.

[2022-03-30 14:44] #6386 closed

[2022-03-30 17:31] eduamf commented on #18621
I have successful  installation with no error using Intel channel:
`conda install -c intel scikit-learn`

[2022-03-30 17:50] Ben3940 commented on #22572
Hello, I would like to work on `sklearn/semi_supervised/tests/test_label_propagation.py` if no one is working on it.

[2022-03-30 18:04] thomasjpfan commented on #22572
@Ben3940 Go ahead. I do not see anyone working on that file.

[2022-03-30 21:05] numblr opened #23000 "completeness score (v-measure) for trivial clustering is non-zero"
### Describe the bug

If I calculate the completeness score for a trivial clustering (as many clusters as datapoints) I would expect the completness score to be 0.0, however, I get non-zero values if I have more than one class (true labels).

### Steps/Code to Reproduce

[code]

### Expected Results

0.0

### Actual Results

0.49999999999999994

### Versions

[code]

[2022-03-31 01:55] gustavo-ren commented on #21350
Thank you very much!

[2022-03-31 01:56] gustavo-ren commented on #21350
Working on sklearn.metrics.pairwise.laplacian_kernel

[2022-03-31 03:44] thomasjpfan opened #23001 "Pandas Output Proposal Outline"
With `get_feature_names_out` complete, I am currently reworking the SLEP for pandas output. I am thinking of only covering transformers in the SLEP to reduce the scope. This issue covers the complete idea for pandas output that covers all methods that return arrays: `transform`, `predict`, etc.

## API Prototype

I put together a functional prototype of this API that you can explore in [this colab

[2022-03-31 04:36] adamgonzo commented on #22572
Hello, I would like to work on sklearn/utils/tests/test_validation.py if no one is working on it

[2022-03-31 05:22] arthurmello commented on #22406
Working on [examples/linear_model/plot_theilsen.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/linear_model/plot_theilsen.py)

[2022-03-31 07:46] numblr commented on #13058
Are you sure those corrected definitions are actually correct? With the changed normalization homogeneity and completeness won't become zero anymore in case H(C) resp. H(K) != H(C,K). E.g. consider the case of degenerate clusterings, where each datapoint is put in it's own cluster or all data points are put in one cluster.

[2022-03-31 08:22] jeremiedbb commented on #23000
1/2 is the expected result, strictly applying the formula ``C = 1 - H(ypred | ytrue) | H(ypred)``.

If you take ``y_true = [0,1,2,3]`` you have more than one class and you expect the completeness score to be 1, so this intuition does not hold.

[2022-03-31 08:52] amitmeel commented on #19953
@ogrisel @glemaitre  any update on the above issue ?

1. Are we planning to support such scenario where we can pass the fitted transformers to meta estimators (like using some argument  in ```VotingClassifieror``` or ```RandomizedSearchCV``` that this is already fitted) ?

2. One possible solution for now I can think of is: save the fitted transformers and load them in the ```CustomVectorizer`` an

[2022-03-31 10:45] numblr commented on #23000
Yes, you are right about that, I'll close the issue.

[2022-03-31 10:45] #23000 closed

[2022-03-31 11:03] jecampagne commented on #22945
Hello,
I have setup a Google Collab nb [HERE](https://colab.research.google.com/drive/1zWMxgLRSEO4FsT7dQhH5wCHT7GG6faA7?usp=sharing)
You will see 4 plots (beyond the dataset):
- one showing my personal GP small-and-not-otmized lib. with the implementation of the Algo2.1
- one using the current `Sklean` lib.
- one using the current `GPy` library using the `predict` method
- and finally one using `G

[2022-03-31 11:54] aj-white commented on #21350
Working on sklearn.metrics.cluster._supervised.homogeneity_score

[2022-03-31 13:15] eangius opened #23004 "Decouple CountVectorizer => TextTokenizer + ItemCountVectorizer"
### Describe the workflow you want to enable

The `CountVectorizer` component has the responsibility of not just vectorizing term frequencies but also internally tokenizing & normalizing the input text into terms. While this functionality is convenient for NLP pipelines, it cannot be leveraged for similar type of non-NLP problems where one needs to perform tf-idf (or similar) on "document" bags of

[2022-03-31 13:30] eangius commented on #23004
If this functionality it deemed desired, attached below is a working draft of the proposed `ItemCountVectorizer` with limited functionality derived from the `CountVectorizer` that served our purposes: [ItemCountVectorizer.py.zip](https://github.com/scikit-learn/scikit-learn/files/8389759/ItemCountVectorizer.py.zip)

The `TextTokenizer` component would need refactoring out from `CountVectorizer`. A

[2022-03-31 14:37] thomasjpfan commented on #10467
Thank you for opening the issue. I am closing this issue in favor of https://github.com/scikit-learn/scikit-learn/issues/20781 because https://github.com/scikit-learn/scikit-learn/issues/20781 has more activity.

[2022-03-31 14:37] #10467 closed

[2022-03-31 16:09] ogrisel commented on #19603
As documented in https://github.com/scikit-learn/scikit-learn/pull/19716#issuecomment-1076506354 and confirmed by a new test in 62f8d457298ad9e71e668c4682d75410baae1665, there is actually no bug.

[2022-03-31 16:09] #19603 closed

[2022-03-31 17:45] #21993 closed

[2022-03-31 18:44] jsilke opened #23008 "PR #22548 breaks documentation building"
### Describe the bug

The changes made in #22548 appear to cause building the example docs with `make html` to fail (the docs build fine in the previous commit).

### Steps/Code to Reproduce

1. Setup a [development environment for scikit-learn](https://github.com/data-umbrella/event-transcripts/blob/main/2020/05-andreas-mueller-contributing.md)
1. Install [additional packages](https://scikit-lear

[2022-03-31 18:50] glemaitre commented on #23008
It is unlikely because our CI would pick up this issue.
From the error message, it looks like you need to recompile the Cython extension. Could you try to do that and then try to build the documentation.

[2022-03-31 19:07] jeremiedbb commented on #23008
maybe clean your repo first also. ``make clean`` or ``git clean -xdf``

[2022-03-31 19:14] jsilke commented on #23008
Thank you kindly @glemaitre and @jeremiedbb for your suggestions. The combination of cleaning the repo and recompiling the extensions resolved the issue!

[2022-03-31 19:14] #23008 closed

[2022-04-01 03:09] Connerrrrr commented on #16924
@scienception Any guidance of reproduce the error?

[2022-04-01 08:51] jeremiedbb commented on #22931
The link has been fixed upstream but only for the action for now (https://github.com/larsoner/circleci-artifacts-redirector-action/pull/20). It's a good opportunity to switch to using circleci-artifact-redirector as an action. PR here https://github.com/scikit-learn/scikit-learn/pull/22991

[2022-04-01 09:08] lesteve commented on #22931
Closing via #22991

[2022-04-01 09:08] #22931 closed

[2022-04-01 09:41] lorentzenchr commented on #22836
I did and checked results with `ElasticNet` and `enet_coordinate_descent`. Looks good.

[2022-04-01 12:01] antaradas94 opened #23013 "Dataframe also as a sklearn transform output"
Hi all,
i work intensively with sklearn pipeline for building ML pipelines and pre-processing. Sklearn has been really useful in this case.
The thing is post model training , i would like to know what my dataset looks like, which columns were dropped, or transformed. However, the sklearn Pipeline outputs numpy ndarray and this make its difficult.
Lets take an example, i have Imputer(), but i make

[2022-04-01 12:09] jeremiedbb commented on #23013
This issue has been raised several times. It's slowly going in that direction. See the latest thoughts on such API https://github.com/scikit-learn/scikit-learn/issues/23001

In the meantime you can access the features names through the `get_feature_names_out` of the transformers.

I'm closing this issue in favor of #23001

[2022-04-01 12:09] #23013 closed

[2022-04-01 12:19] aj-white commented on #21350
Working on sklearn.metrics.cluster._supervised.completeness_score

[2022-04-01 12:19] antaradas94 commented on #23013
AttributeError: 'FeatureUnion' object has no attribute 'get_feature_names_out'

[2022-04-01 12:23] jeremiedbb commented on #23013
What's your version of scikit-learn ? It's available in 1.0+

[2022-04-01 12:27] antaradas94 commented on #23013
Ok that maybe the reason, i am using 0.24.2, i will update and check once, thanks

[2022-04-01 12:53] jeremiedbb opened #23014 "test_ridge_regression_vstacked_X is not stable"
https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=40346&view=logs&jobId=97641769-79fb-5590-9088-a30ce9b850b9&j=97641769-79fb-5590-9088-a30ce9b850b9&t=4745baa1-36b5-56c8-9a8e-6480742db1a6

introduced in #22910.
@lorentzenchr was it tested on "all" random seeds ? (`SKLEARN_TESTS_GLOBAL_RANDOM_SEED=all`)

[2022-04-01 13:17] lorentzenchr commented on #23014
Yes, locally on my machine.

[2022-04-01 13:26] lorentzenchr commented on #23014
But for me, it fails in `test_ridge_fit_intercept_sparse[94-False-lbfgs]`, on the Azure CI link, it fails in `test_ridge_regression_vstacked_X[wide-5-True-sag]`.

[2022-04-01 13:29] mehrdadmoradii commented on #22612
Can I work on this issue?

[2022-04-01 13:49] NartayXD opened #23018 "Add Pre-fitted Model to `VotingClassifier`"
### Describe the workflow you want to enable

Allow passing trained models to `VotingClassifier`, and use these trained models directly for prediction, without refitting.

The current `VotingClassifier` requires fitting all inputted estimators on the given training data, even if these estimators have already been trained. This is inconvenient if we want to create an ensemble classifier from estima

[2022-04-01 14:00] lorentzenchr commented on #22836
It seems that when the unrestricted formulation is bad, the "L2" term dominates, i.e. `sum_j (|X_j'nu| - alpha)_+^2`. This is particular true at the first iterations when most coefficients are still zero such that `nu=R~y`.
If the unrestricted fomulation gives tighter bounds, then the `||y+nu||_2` is smaller than the `||y+nu/scale||` term of the restricted formulation.

[2022-04-01 14:29] adrinjalali commented on #22612
Of course.

[2022-04-01 15:23] iuiu34 opened #23019 "DateEncoder"
### Describe the workflow you want to enable

Would be cool to have a preprocessor that maps dates (str or unixtime) to its' respective date parts: dayofmonth, dayofweek, hour,etc.

There's any reason this is not included in sklearn?
In case not, I could do a PR

### Describe your proposed solution

DateEncoder()

array(['month','hour'])

array([ [cos(04/12), sin(04/12), cos(17/24), sin(17/24)],
[

[2022-04-01 19:10] elcorto commented on #22945
Wow, nice effort there! I think we need to separate two issues here.

* `predict` vs `predict_noiseless`
* possible bug regarding `WhiteKernel` when `y_std` and `y_cov` are calculated

Your work made me curious so I set up a similar comparison between R&W textbook equations, `GPy`, `tinygp` and `sklearn`. `tinygp` only because I finally had an excuse to take that library for a test drive :) You ca

[2022-04-01 19:26] iuiu34 opened #23025 "LabelEncoder based on value_counts"
### Describe the workflow you want to enable

sklearn.preprocessing.LabelEncoder sorts classes_ based on alphabet. Would be good to have the parameter mapping='value_counts' to sort the classes based on the number of appearences (normalized) in training sample.

If you give ok to the approach, happy to do a PR

### Describe your proposed solution

LabelEncoder()

{'paris': 0.5, 'tokyo': 0.25, amst

[2022-04-01 23:53] jeremiedbb commented on #23014
Really weird, I restarted the run and now it passes. I didn't find any anything non deterministic in test_ridge_regression_vstacked_X. Is it possible that Ridge(solver="sag") is not completely deterministic even on fixed random_state ?

[2022-04-02 02:56] #22699 closed

[2022-04-02 03:14] mohit-baliyan commented on #12952
Hello @Robinspecteur, I would love to contribute, It will be my first contribution possible. Please guide.

[2022-04-02 12:17] elcorto commented on #22945
I set up a similar comparison between R&W textbook equations (eqns. 2.23, 2.24 which lead to Alg. 2.1), `GPy`, `tinygp`, `gpytorch` and `sklearn`. You can find it in [this gist](https://gist.github.com/elcorto/6e20b7e99bd3e0e9bf9fd0a9fdc79036). The `sklearn` bits are at the very end.

I think what's happening is that

* `sklearn` `predict` = `GPy` `predict_noiseless` = Alg. 2.1 when
  `WhiteKernel

[2022-04-02 13:22] jecampagne commented on #22945
The point that is rather strange is that if your model does not include the measurement noise as it is fixed (you know that your senor as an error of 0.01 for instance) then you will not include a WhiteNoise kernel and you have a `predict` result. If now you have a little idea on the noise level as it should be around 0.01 but you prefer the model to get a better estimate, than you introduce a Whi

[2022-04-02 17:50] elcorto commented on #22945
[This](https://infallible-thompson-49de36.netlify.app) is a nice resource (linked from [here](https://distill.pub/2019/visual-exploration-gaussian-processes)) that discusses aspects of noise modeling. Using `WhiteKernel` is `sklearn`'s way to learn a noise model by optimizing `WhiteKernel`'s `noise_level` param.

One way to force a fixed `noise_level` could be to use narrow bounds, i.e. something

[2022-04-02 22:03] luhlir opened #23032 "GaussianMixture sample() ValueError on Models with 1 Component Fitted on <32 samples"
### Describe the bug

If you fit a GaussianMixture model with one component on less than 32 samples, a ValueError is thrown when trying to generate a random sample from the model. If you use a model with more than one component, you are able to fit it on as low as two samples and still generate a random sample from the model. Likewise, no ValueError is thrown if you use 32 samples to fit a model w

[2022-04-02 22:49] Micky774 commented on #23032
@luhlir Thank you for bringing this up and for providing a very nice minimal reproduction. I'm addressing this in #23034.

[2022-04-03 12:37] gustavo-ren commented on #21350
Working on sklearn.metrics.pairwise.haversine_distances

[2022-04-03 12:42] jnothman commented on #22987
I favour option 2 personally. Certainly in the current codebase, we're only really talking about parameters to `fit`; and the parameters that we imagine for `transform` would either be disjoint or identical semantically to those in `fit`, so merging makes some sense.

[2022-04-03 12:52] jnothman commented on #22988
I think it's worth clarifying that we're not talking about `return_*`, which isn't really applicable to the routing mechanism, because it's not about inputs..?

I'm okay with this at first thought... what are the risks if we have to then split them up later???

[2022-04-03 13:55] thomasjpfan commented on #22987
I prefer merging `fit` and `transform`. (Option 2)

[2022-04-03 14:05] thomasjpfan commented on #22988
I think having to distinguish between `return_*` kwarg and "input metadata" will complicated the API for third party estimator developers.

Also for classifiers, `partial_fit` accepts `classes` that we do not usually accept in `fit`. We would need to introduce `classes` to `fit` if we want `fit*` to accept the same metadata.

[2022-04-03 15:18] ZHCSOFT commented on #22744
I have confirmed that DRAM issue caused this problem, not OpenBLAS or MKL. But it shows MKL runs slower than OpenBLAS with Intel 12th CPU and linux 5.17...

Due to some compatibility reason, once I enable X.M.P. built-in memory over-clocking function on BIOS, random kernel panic and CRC error occurred when unzipping even running Windows Server.

After I turn off X.M.P. over-clocking and change DRA

[2022-04-03 15:59] Micky774 commented on #14186
One key thing, as discussed in [that paper](https://link.springer.com/content/pdf/10.1007%2FBFb0026684.pdf), is that you lose linearity. In particular, the model is no longer translation invariant. I believe this behavior would catch many people off guard, and afaik there isn't _that much_ use of fractional degree polynomial kernels in practice, though I may very well be wrong and would be curious

[2022-04-03 16:34] MarieS-WiMLDS commented on #22572
MR suggested for `sklearn/tests/test_pipeline.py`

[2022-04-03 16:39] MarieS-WiMLDS commented on #22586
Hi @Aditi840,
It looks like this one was tackled here: https://github.com/scikit-learn/scikit-learn/pull/22622

[2022-04-03 16:59] MarieS-WiMLDS commented on #21350
Working on sklearn.utils.validation.check_memory

[2022-04-03 22:12] gustavo-ren commented on #21350
Workin on  sklearn.metrics.pairwise.haversine_distances

[2022-04-03 22:37] jnothman commented on #22988
Hmmm… I suppose there are a couple of needs for the return parameters: either it is needed directly by a wrapping estimator, or it’s needed for scoring or similar and requested by the user. I had been thinking of the former case, but I suppose you are right about the latter

[2022-04-04 01:43] Micky774 commented on #10539
@jnothman @amueller
So to summarize the discussion so far: `sample` methods are inconsistent in whether they accept a `random_state` argument. Specifically, with the goal of reproducability in mind there are two major patterns:
1. Pass a `RandomState` object through `random_state` if available.
2. Fix `est.random_state` before calling `est.sample()` if `est.random_state` is exposed (not the case f

[2022-04-04 07:26] ingeliza commented on #22406
Working on examples/neural_networks/plot_rbm_logistic_classification.py

[2022-04-04 08:04] jecampagne commented on #22945
But then if one uses `WhiteKernel(noise_level=0.01, noise_level_bounds="fixed")` is treated for `predict` in a same way by  `sklearn` if
1) `WhiteKernel(noise_level=0.01)` (ie not fixed) but at the end of the hyperparameter optimisation the `noise_level` is very close to 0.01
2) `alpha` parameter of `GaussianProcessRegressor` which here would be set to 0.01.

[2022-04-04 09:47] adrinjalali commented on #22857
As noted by @thomasjpfan , it seems at some point we used to support this, then deprecated and removed it (https://github.com/scikit-learn/scikit-learn/pull/5540). The question is, do we want to reconsider?

To me, copying a given dictionary in an estimator's `__init__` is something which looks right, but we don't support it here.

[2022-04-04 09:57] lorentzenchr commented on #22987
I also favor option2, merging metadata routing for `fit` and `transform`.

[2022-04-04 12:27] ArturoAmorQ opened #23048 "Covtype dataset raises error when fetching"
### Describe the bug

When fetching the Covtype dataset
[code]

I am getting an

[code]

Renaming the folder `$HOME/scikit_learn_data` and fetching the dataset again solves the problem, so the problem must be related to an old cached version of the folder.

### Steps/Code to Reproduce

[code]

### Expected Results

Dataset should be fetched without errors

### Actual Results

[code]

### Versions

[2022-04-04 13:38] jeremiedbb commented on #9729
I've always found the default ``n_init=10`` really weird. What it does is run 10 KMeans with different random_states and pick the best. This is like a grid search (no cv) on the random_state.

I think the ``n_init`` parameter is often overlooked and I agree that most probably don't even know they are running KMeans 10 times and think it's pretty slow. It's also not consistent with our other cluste

[2022-04-04 13:41] GaelVaroquaux commented on #9729
With non convex models this makes sense.

[2022-04-04 17:53] chkoar commented on #12385
I suppose that most likely you will need the model too.
Having the model itself you would be able to exclude/include scorers.

[2022-04-04 20:42] TomDLT commented on #23014
I got an error on `test_ridge_regression_vstacked_X[long-16-False-sag]`, second time on `test_ridge_regression_vstacked_X[long-63-True-sag]`, then no error running the tests 5 times, then error on `test_ridge_regression_vstacked_X[wide-75-True-sag]`, ...

It should not be the case, so there seems to be a bug.

[2022-04-04 21:05] Ben3940 commented on #22572
I will start working on `sklearn/tests/test_base.py`

[2022-04-04 22:49] jeremiedbb commented on #23014
If `sag` uses BLAS, it's possible that rounding errors accumulate differently because of the multi-threading, (or maybe it's in the construction of the test).

[2022-04-05 08:55] #22612 closed

[2022-04-05 14:40] adrinjalali commented on #22988
If developers would want to remove an arg from the routing mechanism, the API as is allows us to do so:

    __metadata_request__fit = {'return_blah': RequestType.UNUSED}

The above code would remove `return_blah` from the whole request/routing mechanism.

So to summarize: `fit` and `fit_transform` have different input args and therefore we would have both methods: `set_fit_request` and `set_parti

[2022-04-05 15:59] ogrisel commented on #23048
By looking at the source code of `fetch_covtype`, it appears that this code is not concurrent safe: it does not use the typical "download and save to a temporary file" followed by "atomic rename to the final filepath".

This can explain that we can get corrupted covtype data, for instance by running the test with pytest-xdist.

Something similar was implemented in #21833 to make `fetch_openml` con

[2022-04-05 17:47] henrymooresc commented on #21350
Working on sklearn.feature_extraction.image.grid_to_graph

[2022-04-05 19:37] wchill commented on #22857
My main motivation is to be able to clone custom estimators and have them be independent from each other; i.e. modifying one estimator's params should not affect the other estimators. It seems much better for the param copying to be handled by the estimator rather than by the consumer of the estimator, because if many estimators are used then one would have to write code to handle each different o

[2022-04-05 19:40] deargle opened #23053 "Doc Examples Bug: `plot_column_transformer_mixed_types`, missing categorical SimpleImputer"
### Describe the issue linked to the documentation

The [`plot_column_transformer_mixed_types`](https://github.com/scikit-learn/scikit-learn/blob/582fa30a31ffd1d2afc6325ec3506418e35b88c2/examples/compose/plot_column_transformer_mixed_types.py) example says that it will use  a simpleimputer for the categorical pipeline:

https://github.com/scikit-learn/scikit-learn/blob/582fa30a31ffd1d2afc6325ec350

[2022-04-05 19:48] thomasjpfan commented on #23053
OneHotEncoder does not require SimpleImputer to add a new category. `OneHotEncoder` encodes missing categories by default. In this case, we need to update the docstring itself.

[2022-04-05 19:50] deargle commented on #23053
Oh cool

[2022-04-05 20:00] deargle commented on #23053
Indeed, I see it now in https://github.com/scikit-learn/scikit-learn/blob/main/doc/modules/preprocessing.rst:

[code]

[2022-04-05 21:44] avm19 commented on #5523
Mentioning  #23001 here, because this is the most popular issue on the topic.

[2022-04-05 22:13] srthiru commented on #22572
I can work on ```sklearn/tests/test_discriminant_analysis.py```, I did not find any other pull requests on that

[2022-04-05 22:24] jnothman commented on #12385
Yes, you're right, the estimator might be useful to determine `predict_proba` or `return_std` support.

[2022-04-05 22:42] elcorto commented on #22945
1. Yes, if the optimizer lands in the same optimum, i.e. you get the same kernel params (`length_scale` in `RBF()`) as you would when optimizing both `length_scale` and `noise_level`.

2. You can hack a fixed `noise_level` by using

[code]

   and you will get the same fit weights `GaussianProcessRegressor.alpha_` and thus the same predicted `y_mean` as with

[code]

   But `y_cov` and `y_std` wil

[2022-04-06 05:00] aadarshsingh191198 commented on #22966
@thomasjpfan @glemaitre

[2022-04-06 09:22] ogrisel commented on #18248
The main reason be consistent with very popular machine/deep learning libraries such as tensorflow, keras and pytorch.

[2022-04-06 09:54] ogrisel commented on #18248
I agree that when it is used in the context of an internal tree split criterion (not a gradient boosting loss function), the use of the term "entropy" is very common and used in most intro tutorials on decision trees. Furthermore, I don't think the tree splitting criteria are directly equivalent to a loss function:

- a loss function typically directly quantify the discrepancy between a `y_true` a

[2022-04-06 10:09] ogrisel opened #23059 "DOC Improve the docstring of log loss to cover the multiclass case"
### Describe the issue linked to the documentation

The docstring of the `log_loss` function (also known as the "cross-entropy loss") only gives the mathematical description of the loss when `y_true` is a binary variable (binary cross-entropy).

### Suggest a potential alternative/fix

We should also give the formula for the multiclass case (categorical cross-entropy) with `y_true` being one-hot e

[2022-04-06 10:11] ogrisel commented on #23059
Also we should explicitly mention the common alternative names for this loss:

- Binary cross-entropy for the binary classification case;
- Categorical cross-entropy for the multi-class case (which is a generalization).

[2022-04-06 11:40] #10850 closed

[2022-04-06 11:46] jeremiedbb commented on #14398
Fixed in #20408

[2022-04-06 11:46] #14398 closed

[2022-04-06 12:47] #22981 closed

[2022-04-06 14:47] lorentzenchr commented on #18248
True. But that's a matter of good documentation (in either direction).

Yes, they are losses. And that's why I often get confused. Most trees are regression trees with squared error criterion. To what kind of information does that correspond?&sup1;
In my point of view, the logic is as follows: The splitting criterion is a loss, usually the same as "the objective function". It is applied to a (cand

[2022-04-06 15:17] jeremiedbb commented on #21516
I faced the same issue several times. I wouldn't mind removing the `merge=union`. It often messes up the what's new (see #23060)

[2022-04-06 15:25] lesteve commented on #21516
I opened #23062 to remove gitattributes for whats_new entry, I don't it is that useful after all.

[2022-04-06 17:28] aauker opened #23065 "Propagating missing values for PolynomialFeatures() - Valid Use Case"
### Describe the workflow you want to enable

Essentially re-opening #20471 with a valid use-case for sending interaction terms with missing (nan) values to nan:

Consider the case where there's two mutually exclusive binary variables (e.g., count < 10% and count > 10%).  Their interaction term should always be 0, however, if there's missing data and the imputation method results in non-zero value

[2022-04-06 19:36] #21516 closed

[2022-04-06 20:34] mitar commented on #19603
So how can one then control randomness in shuffling?

[2022-04-06 21:11] thomasjpfan commented on #9729
In the example: [Empirical evaluation of the impact of k-means initialization](https://scikit-learn.org/stable/auto_examples/cluster/plot_kmeans_stability_low_dim_dense.html), it does show that `n_init > 1` leads to an improvement for `init="random"`. For k-means++, `n_init` does not make a difference. If we go by the example, then we can have a `n_init="auto"`, where: `n_init=1` for kmeans++ and

[2022-04-06 22:42] asmyoo commented on #11137
Problem persists in 1.0.2

Changed import line slightly
[code]

My output:
[code]

[2022-04-06 23:55] nik1097 commented on #22572
I can work on sklearn/tests/test_common.py I did not find any other pull requests on that

[2022-04-06 23:57] nik1097 commented on #22572
I can work on [sklearn/tests/test_common.py](https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/tests/test_common.py)

[2022-04-07 00:26] nik1097 commented on #22572
Hey @thomasjpfan I'm a first-time contributor, could you please review my changes? Thank you so much.

[2022-04-07 03:34] adamgonzo commented on #22572
i can work on sklearn/tests/test_naive_bayes.py

[2022-04-07 07:35] GaelVaroquaux commented on #9729
Sounds like a good idea.

[2022-04-07 07:38] rajatscibi opened #23069 "Error during installation"
### Describe the bug

![python_error3](https://user-images.githubusercontent.com/74652470/162145719-2e56415f-bad5-413d-98b6-33dddabcb34b.png)

getting error while installing pycaret

### Steps/Code to Reproduce

pip install pycaret

### Expected Results

failed to build wheels

### Actual Results

should install

### Versions

[code]

[2022-04-07 08:36] Stophface commented on #22879
@cmarmo That helps a lot, thank you very much!

[2022-04-07 09:09] glemaitre opened #23070 "Scikit-learn office hours Monday April 18, 2022 from 4 pm to 5 pm (UTC) on the scikit-learn discord channel"

[2022-04-07 12:46] nik1097 commented on #22572
I'm afraid https://github.com/scikit-learn/scikit-learn/pull/23066 already fixes this issue @adamgonzo

[2022-04-07 13:53] thomasjpfan commented on #23069
PyCaret pins scikit-learn to 0.23.2: https://github.com/pycaret/pycaret/blob/16b641a4ce99eb1495477ac6008182d712c73d51/requirements.txt#L7 which does not support Python 3.10.

I suggest using Python 3.8 if you want to use scikit-learn 0.23.2.

[2022-04-07 13:54] #23069 closed

[2022-04-07 15:29] marenwestermann commented on #21406
`ColumnTransformer`, `TheilSenRegressor`, and `TweedieRegressor` can be removed from the list.

[2022-04-07 15:35] reshamas opened #23072 "Link to logos in Community section of website"
Can we link to the scikit-learn logos in the "Community" section of the website?
Currently, the logos are buried, and I think this might make it easier for users to find it:
https://github.com/scikit-learn/scikit-learn/tree/main/doc/logos

To Do:
- [x] create a README.md file
- [x] add branding colors from blog:  https://github.com/scikit-learn/blog
- [x] add images with size info for easy referen

[2022-04-07 16:51] #18195 closed

[2022-04-07 16:54] ogrisel commented on #18248
Ok, I checked and indeed the cross-entropy (CE) of a single node classification tree (that always predict a constant value) matches the Shannon entropy (H) multiplied by the size of the dataset:

[code]

More generally, for a classification tree model with several leaf nodes indexed by `i`, each constant predictions `y_pred_i`, we have:

[code]

Here `n_i` is the number of samples that reach leaf

[2022-04-07 17:38] Micky774 opened #23074 "RidgeCV doesn't allow `alpha=0`"
### Describe the bug

RidgeCV doesn't allow any alphas to be 0, despite the underlying `Ridge` linear model allowing such behavior.

### Steps/Code to Reproduce

[code]

### Expected Results

No error thrown

### Actual Results

[code]

### Versions

[code]

[2022-04-07 17:50] agramfort commented on #18248
+1 for "Maybe we could make an exception for tree-based models and accept
both names (as aliases)?"

and clarify the docstring

[2022-04-07 18:34] cmarmo commented on #22572
Reopening as some tests still need to be modified.

[2022-04-07 19:02] nik1097 commented on #22572
@jeremiedbb this should be the last file having the outdated syntax, I've opened another PR to fix this issue. Could you please review it?

[2022-04-07 19:46] cmarmo commented on #22572
Also #22949 is still open

[2022-04-08 09:17] jeremiedbb commented on #22572
sklearn/inspection/_plot/tests/test_plot_partial_dependence.py and sklearn/tests/test_pipeline.py still have some instances of the deprecated pattern

[2022-04-08 09:44] pallgeuer commented on #16048
I just want to mention something that wasn't discussed - the text color. Using the workarounds mentioned here, e.g. `disp.im_.set_clim(...)`, you can get the shading to change, but the text colour stays the same. So squares that become quite dark based on the clim change may still have unchanged dark text, leading to bad contrast. I think this can only be remedied by having vmax as a direct parame

[2022-04-08 11:12] adrinjalali commented on #22857
Oh I see. For that all meta-estimators should be cloning the given estimator in `fit`, not `__init__`, and store it under another attribute such as `self.estimator_`.

[2022-04-08 12:48] adrinjalali commented on #22811
@scikit-learn/core-devs are we happy with the literature on p<1 here?

[2022-04-08 13:40] KoszticzaM commented on #12939
I'm experiencing the same issue even in jupyterlab under Linux.

[2022-04-08 13:56] jachymb opened #23080 "Implement Min-Cut clustering"
### Describe the workflow you want to enable

Use the exact min-cut culstering method with API similar to sklearn.cluster.SpectralClustering.

### Describe your proposed solution

Implement an algorithm to solve the min-cut problem as a means of dataset clustering.

### Describe alternatives you've considered, if relevant

In practice SpectralClustering is usally a good alternative. In fact, Spect

[2022-04-08 14:13] lesteve commented on #22586
Indeed thanks for noticing, I updated the top post description!

[2022-04-08 17:34] #11540 closed

[2022-04-08 20:48] glemaitre commented on #23019
This is a duplicate of https://github.com/scikit-learn/scikit-learn/issues/21968
I am closing since the discussion should happen on this PR.
@iuiu34 do not hesitate to let a message on the original issue with an explanation of your potential use case.

[2022-04-08 20:48] #23019 closed

[2022-04-09 00:48] gustavo-ren commented on #21350
Working on  sklearn.cluster._optics.cluster_optics_dbscan

[2022-04-09 01:06] #18567 closed

[2022-04-09 03:54] #23032 closed

[2022-04-09 11:53] NartayXD commented on #22678
@kabartay, I did a quick experiment to compare the accuracy of refit on all data and 5 Fold Ensemble, and the results are in the table below. Here, "Refit on All Data" is the test accuracy of the `best_estimator_` returned by GridSearchCV. "5 Fold Ensemble Soft/Hard" is the accuracy of the ensemble predictors consisting of 5 estimators from 5-fold cross-validation, trained with `best_params_`.

Ov

[2022-04-09 12:24] MehdiActable commented on #11463
This feature looks really nice and I also need it actually !

[2022-04-09 13:30] thomasjpfan commented on #23025
To better understand your use case, can you describe a machine learning workflow where using the counts is useful compared to the current approach of lexicon ordering?

[2022-04-09 13:56] PaulC61 commented on #20478
Hey this function is still not working for me, I don't think it's implemented

[2022-04-09 16:19] jsilke commented on #22482
I will work on this.

[2022-04-09 21:58] avm19 commented on #20696
(Side note: I assume this issue follows @thomasjpfan 's comment here: https://github.com/scikit-learn/scikit-learn/pull/18010#discussion_r667208226 )

I might not appreciate the whole multitude of considerations relevant to this question, but I must note that the current implementation of `ColumnTransformer` does the following at fit:
[code]
That is, it sets n_features_in no matter what. I am foll

[2022-04-09 22:17] avm19 commented on #20696
I'll clarify my point. SLEP010 implemented `BaseEstimator._validate_data()`, which calls `check_array()` or `check_X_y()` and assigns their output to `X` and `y`, thus modifying them. I am not sure why `ColumnTransformer` calls `_check_n_features` etc directly instead of calling `_validate_data`. But for the naive Bayes meta-estimators I am implementing, I call `_check_n_features` directly so that

[2022-04-09 23:53] Fengyunxinglu opened #23096 "When import sklearn, there is an AttributeError"
### Describe the bug

When I wrote some code as follows and click run, it was broken.
`import sklearn`

Python version: `3.8.2`
Scikit-learn version: `1.0.2`
Error Information:
[code]

### Steps/Code to Reproduce

`import sklearn`

### Expected Results

Can import sklearn and no error is thrown.
Come on!

### Actual Results
No error and sklearn can be imported.

### Versions

[code]

[2022-04-10 01:15] thomasjpfan commented on #23096
Looking at the traceback, the error is coming from `scipy`. Can you run the following and see it it works?

[code]

[2022-04-10 01:35] Fengyunxinglu commented on #23096
It also throw a error.

Traceback (most recent call last):
  File "/data/user/0/ru.iiec.pydroid3/files/accomp_files/iiec_run/iiec_run.py", line 31, in <module>
    start(fakepyfile,mainpyfile)
  File "/data/user/0/ru.iiec.pydroid3/files/accomp_files/iiec_run/iiec_run.py", line 30, in start
    exec(open(mainpyfile).read(), __main__.__dict__)
  File "<string>", line 1, in <module>
  File "/data/use

[2022-04-10 02:05] thomasjpfan commented on #23096
If reinstalling does not help, then I suggest opening an issue with SciPy.

When opening the issue in SciPy, I recommend stating how you installed SciPy. This will help them debug the issue.

[2022-04-10 06:28] iuiu34 commented on #23025
well, indeed a even better approach would be to have 2 params, `values_sort:srt=lexicon|value_count|mapper` and `mapper:dict`

if values_sort='lexicon' then is using current approax (just to clarify that i don't want to deprecate current approach, just give more options for sorting and see what fits best)
if values_sort='value_count' then sorting approach define above in this ticket
if values_sort

[2022-04-10 12:14] simonandras commented on #22969
The line 696 in `model_selection._validation.py` runs in case of an exception in the `estimator.fit`, but in the given example it is not the case, the `linear_model.LinearRegression()`s fitting raises no exception.

In the `else` case in the line 709 the `_score` function is called, which gives the `test_scores`. In the `_score` function the `scores = scorer(estimator, X_test, y_test)` raises an e

[2022-04-10 12:28] MaxwellLZH commented on #22430
take

[2022-04-10 13:14] thomasjpfan commented on #23025
`LabelEncoder` is used to encode the labels (`y`). Since you mentioned categories, I suspect this feature is more suited for `OrdinalEncoder`?

In any case, do you have a reference that demonstrates how using value count for sorting the encoding is useful in a machine learning model? Note that the reference should meet [scikit-learn's inclusion criteria](https://scikit-learn.org/dev/faq.html#what-

[2022-04-10 13:29] thomasjpfan commented on #22969
It's the most straight forward solution, but it can end up a little messy. Keep in mind that passing `error_score` to `_MultimetricScorer` means some test needs to be updated. We'll likely end up with:

[code]

Also we would need to raise a warning: "Scoring failed. The score on this train-test partition for...", where the second part "this train-test partition..." does not fit in  `_MultimetricSc

[2022-04-10 18:47] Kabiltan commented on #14641
Hi, I have been trying to work with Nystroem for precomputed kernel matrices, but no matter how I set the n_components when passing in some NxN kernel matrix, I either get an error if the n_components is not equal to N or when n_components is equal to N, the output matrix is of the same size.

[2022-04-11 04:51] toastedyeast commented on #22406
Working on [examples/decomposition/plot_pca_vs_fa_model_selection.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/decomposition/plot_pca_vs_fa_model_selection.py)

[2022-04-11 08:41] iuiu34 commented on #23025
yep, you're right, this feature is suited for `OrdinalEnconder` (`X`).

About references,
i found this kaggle repos [1](https://www.kaggle.com/code/bhavikapanara/frequency-encoding/notebook) and [2](https://www.kaggle.com/code/prashanththangavel/advanced-feature-engineering-feature-encoding/notebook)

and some results in the web [1](https://towardsdatascience.com/feature-engineering-deep-dive-into

[2022-04-11 11:15] kretes opened #23107 "`SequentialFeatureSelector` is not passing pandas df to estimator/pipeline"
### Describe the bug

`SequentialFeatureSelector` cannot be used with a pipeline that expects a pandas dataframe (e.g. a one containing a `ColumnTransformer`) as an input.

At the same time the same pipeline can be used in `cross_val_score`.

### Steps/Code to Reproduce

[code]

### Expected Results

No error is thrown and the features are selected.

### Actual Results

[code]

### Versions

[code

[2022-04-11 13:06] nilslacroix opened #23108 "Add "pre_dispatch" parameter to HalvingGridSearchCV"
### Describe the workflow you want to enable

In base GridSearchCV it is possible to set a pre_dispatch parameter, so that RAM usage by new jobs is limited.
I would like to do the same thing for the newer and arguably better versions of gridsearch.

### Describe your proposed solution

Add the pre_dispatch parameter that already exists in scikit to the new grid searches.

### Describe alternatives

[2022-04-11 13:43] iuiu34 opened #23109 "RegressionChain does not accept nans, when base_estimator does"
### Describe the bug

XGBRegressors accepts nan values. Which is defined in the tag `force_all_finite='allow-nan`
But if define
[code]
Then raises the error
[code]

 In file "C:\\lib\site-packages\sklearn\multioutput.py", line 556, in _BaseChain.fit, doing something like
[code]
would solve the problem

### Steps/Code to Reproduce

import numpy as np
from sklearn.datasets import make_regression
fro

[2022-04-11 14:45] bmreiniger commented on #22442
I run into this a bit as well: I have some generic composite estimator, a columntransformer of pipelines, especially that include feature selection steps, that I want to use on many different problems.  For some problems, the feature selection steps inside some of the columntransformer transformers remove all the features (there may have been very few that qualified for that transformer in the fir

[2022-04-11 14:47] bmreiniger commented on #21604
As Adrin said, `OrdinalEncoder` does the same thing as `LabelEncoder`, but is designed to work on `X` (and of course, it supports defining the actual order in case the data really is ordinal).

[2022-04-11 14:55] bmreiniger opened #23112 "Cache final transformer in pipeline with memory setting"
### Describe the bug

When setting the `memory` parameter of a transformer `Pipeline` (i.e., one whose last step is a transformer), the final transformer is not cached.

Discovered at https://stackoverflow.com/q/71812869/10495893.

### Steps/Code to Reproduce

[code]

### Expected Results

[code]

### Actual Results

[code]

### Versions

[code]

[2022-04-11 15:16] jjerphan commented on #22811
I think that I would rather not support it as a `DistanceMetric` since it is not a distance metric for the reason given by @jeremiedbb above.

Note that you might still define your own distance using the `pyfunc` argument to support those cases eventually, [see the documentation](https://scikit-learn.org/0.24/modules/generated/sklearn.neighbors.DistanceMetric.html).

[2022-04-11 15:22] lorentzenchr commented on #19615
I dared to check the 2nd point with https://github.com/scikit-learn/scikit-learn/pull/22910. Those are pretty tight tests.

What is left to do, is maybe decreasing (making tighter) default `tol`. From 1e-3 to at least 1e-4 (same as in most others like `Lasso`, `LogisticRegression`, ..). `tol` is irrelevant for the following solvers:
- cholesky
- svd