[2021-05-25 13:12] NicolasHug commented on #19627
Instead of deprecating `degree`, could we just extend it to also accept a tuple, i.e. `degree=(min_degree, max_degree)`?

[2021-05-25 13:35] lorentzenchr commented on #3148
Solved in #9978.

[2021-05-25 13:35] #3148 closed

[2021-05-25 13:37] lorentzenchr commented on #13612
Solved by #9978.

[2021-05-25 13:37] #13612 closed

[2021-05-25 17:03] lorentzenchr commented on #20132
Another route would be to allow for sparse input as several `linprog` methods can deal with that.

[2021-05-25 17:18] Ashvith commented on #20132
@glemaitre @RPyElec & @lorentzenchr  I am a newbie to open-source contributions. I was wondering as to how I can be a part of this?

[2021-05-26 01:11] kebabloverz commented on #20131
Oh yes, I now clearly understand the new example. Indeed by reading the previous example, my confusion came directly from the inner_cv / outer_cv usage. Your new example is perfect.

Thanks
Emmanuel

Télécharger Outlook pour Android<https://aka.ms/AAb9ysg>

________________________________
From: Nicolas Hug ***@***.***>
Sent: Tuesday, May 25, 2021 7:01:27 PM
To: scikit-learn/scikit-learn ***@***.*

[2021-05-26 01:20] kebabloverz commented on #20131
Hi again,

Actually if you plan to update the example, I would suggest an additional change : also change the first cross val, by using outer cv instead of innercv. Indeed, if you add your line "set params", you can use outer cv for both "master cross val", in my oppinion it would be simpler to understand.

Thanks again,
Emmanuel

Télécharger Outlook pour Android<https://aka.ms/AAb9ysg>

_________

[2021-05-26 07:46] cgkr commented on #20081
I've spent a couple hours looking into it @jackzyliu and the way I see it, we have the following:

- `pkgutil` will work but is slow
- `importlib.resources` [might](https://stackoverflow.com/a/58941536) work as @glemaitre suggested but only in Python>=3.7
- `importlib_resources` will work, even in Python 3.6, but will create a new dependency

Any thoughts on how we should proceed with this?

[2021-05-26 09:51] glemaitre commented on #20132
Regarding the sparse support I think that the following patch might be a good start (it passes some naive tests):

<details>

[code]

</details>

I personally do not want to open a PR right away because I already have plenty to finish up. Apart of the patch, the tests should be adapted to use some sparse input and make sure that `sparse == dense`.

[2021-05-26 11:42] lorentzenchr commented on #19627
+1 for @NicolasHug's suggestion `degree=(min_degree, max_degree)`. It seems minimal invasive and does the job in combination with `interactions_only=True` (the doc of which should be corrected anyway).

[2021-05-26 15:08] DevinShanahan opened #20135 "Memory spiking with KNeighborsRegressor"
#### Describe the bug

Memory is spiking to over 2GB while using `predict` for `KNeighborsRegressor` after upgrading to 0.24.2 from 0.23.2.
I noticed this occurring on a dataset with about 36000 rows and 20 columns. In 0.23.2 this peaks at about 4 MB.

#### Steps/Code to Reproduce

[code]

#### Expected Results
With scikit-learn 0.23.2:
Prints: 'Peak was 3.902596 MB'

Plotting the code above with

[2021-05-26 16:04] cmarmo commented on #19617
Hi @jim0421, I'm closing this issue as this is more a general question and you already received an answer. If something is still unclear feel free to open a [github discussion](https://github.com/scikit-learn/scikit-learn/discussions).

[2021-05-26 16:04] #19617 closed

[2021-05-26 16:31] #19285 closed

[2021-05-26 16:36] #19247 closed

[2021-05-26 16:58] cmarmo commented on #18946
I'm closing this one as the link is now available from the [scikit-learn documentation](https://scikit-learn.org/stable/related_projects.html#translations-of-scikit-learn-documentation).

[2021-05-26 16:58] #18946 closed

[2021-05-26 17:13] paapu88 opened #20137 "sklearn.feature_selection.SequentialFeatureSelector Select features as long as score gets better."
Dear Developers,

Currently one can give `sklearn.feature_selection.SequentialFeatureSelector`
parameter 'n_features_to_select'
to get desired number of features.

It would be desired, that instead of giving a fixed number of 'n_features_to_select' one could use it as an upper limit and select features only up to point where the score improves (so the number of selected features could be smaller t

[2021-05-26 19:30] psavery opened #20139 "Conda install fails for 0.24.2 for windows-latest on GitHub Actions"
Hi there,

We have a GitHub actions workflow that starts off by doing the following:

1. Set up miniconda via the GitHub action `conda-incubator/setup-miniconda@v2`
2. Set python version to 3.8
3. Create and activate a conda environment
4. Run `conda install anaconda conda-build`

You can see the exact setup [here](https://github.com/HEXRD/hexrd/blob/8587d783f061a1602fa37a7c59bec5b4f6e424b8/.githu

[2021-05-26 19:59] rth commented on #20139
It's more a questions to the maintainers of the anaconda (meta) package, I don't really see anything specific to scikit-learn in the log there, and the contents of `scikit-learn-post-link.bat` are again likely specific to anaconda.

I'm going to close this issue, as it's unlikely we would be of much help there.

As a side comment, why do you need to rebuild scikit-learn from sources as part of you

[2021-05-26 19:59] #20139 closed

[2021-05-26 20:34] psavery commented on #20139
Sounds good, I will look for an anaconda repo to post this issue.

If I'm building `scikit-learn` from source, it isn't intentional. Are you saying `conda install anaconda` builds `scikit-learn` from source?

[2021-05-26 20:46] rth commented on #20139
That's what the logs seem to suggest, otherwise there wouldn't be a `scikit-learn-post-link.bat` I guess. Anyway you would probably want to install explicitly the packages/versions you need instead of all of anaconda.

[2021-05-26 20:55] psavery commented on #20139
Sure, that makes sense.

Our package also depends on `scikit-learn`, though, and we also encounter the same error when installing `scikit-learn` from anaconda if we don't downgrade it.

Perhaps we should start installing `scikit-learn` from `conda-forge` instead...

[2021-05-26 23:26] joelvbernier opened #20140 "Conda package build failing for windows for v0.24.2"
#### Describe the bug

I noticed that my GitHub actions were failing for the Windows conda package for my project, [HEXRD](https://github.com/hexrd/hexrd), for which `sklearn` is a dependency.  The failure started for `sklearn=0.24.2`; downgrading to `0.24.1` seems to fix that problem.

![Screen Shot 2021-05-26 at 16 22 53](https://user-images.githubusercontent.com/1154130/119743400-a3c86080-be3e-

[2021-05-27 06:53] UnixJunkie commented on #9626
I confirm: the 'mae' criterion is about 9 times slower to train compared to the 'mse' default one
for a RandomForestRegressor.
Isn't it just a problem that the MAE function is coded less efficiently than the MSE one?

[2021-05-27 07:33] ogrisel commented on #20137
I agree. The problem is how to manage backward compat with the current behavior without introducing too many spurious deprecation warnings and too many new parameters...

@norbusan suggested the following strategy in a private conversation: add a new `tol` parameter as an absolute tolerance on the score change before and after including the new feature, with a default value of `None` that would ke

[2021-05-27 07:37] ogrisel commented on #20137
What is good with the solution above is:

- we introduce a minimal number of new parameter,
- the backward compat is preserved with no change in the default behavior

There are several things I find itchy with the solution proposed above:

- I find the `n_features_to_select` defaulting to `n_features / / 2` potentially confusing when `tol=0.`, one would rather like `max_features=n_features` in thi

[2021-05-27 07:44] cmarmo commented on #19306
For reference the character limit issue is also described [here](https://scikit-learn.org/stable/install.html#error-caused-by-file-path-length-limit-on-windows).

[2021-05-27 07:53] ogrisel commented on #20137
Maybe we could implement the following with an additional `max_features`:

- `SequentialFeatureSelector()` default is equivalent to `SequentialFeatureSelector(n_features_to_select=None, max_features=None, tol=None)` and implement the current behavior
- `SequentialFeatureSelector()` (both `n_features_to_select is None and max_features is None`) would raise a `FutureWarning` that in the future `tol=

[2021-05-27 08:25] azihna commented on #14216
@NicolasHug the test_estimator_checks are also cleaned.

[2021-05-27 08:36] #14216 closed

[2021-05-27 08:41] paapu88 commented on #20137
Just another comment which I forgot from the initial request:

It may be the case that adding one feature more will always improve score (not sure about this). So some sort of threshold how much the score must improve in order to continue adding features might be needed....

[2021-05-27 08:44] ogrisel commented on #20137
I agree, this is the purpose of the `tol` parameter I introduced above.

[2021-05-27 08:49] NicolasHug commented on #20137
@ogrisel you mentioned `tol=0`, but wouldn't `tol=0` be equivalent to `tol=None`, i.e. equivalent to the current behaviour?

I'm not sure I properly understand this point:

Regarding this one:

The current default for `n_features_to_select` is None. We can extend this behaviour to actually mean `max_feature` when `tol != None`? That would still be backward compatible and that wouldn't be confusing

[2021-05-27 09:08] MhdAlkh commented on #14338
Hi,
I'm having the error " ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached." reached.", ConvergenceWarning)".
Any conclusion on how to solve it?

[2021-05-27 09:35] ogrisel commented on #20137
`tol=0` would make it possible to switch to the new early stopping behavior while the default `tol=None` would keep the current behavior during the depreciation cycle.

[2021-05-27 09:36] ogrisel commented on #20137
That's an option.

[2021-05-27 11:44] #20047 closed

[2021-05-27 18:29] nithish08 commented on #20081
I have used `importlib.resources.files` in the PR [#20150](https://github.com/scikit-learn/scikit-learn/pull/20150). Please let me know your comments @glemaitre @jnothman

[2021-05-27 20:48] lorentzenchr commented on #19598
@mlondschien I'm fine with allowing `n_knots=None` if the knots are specified manually. Do you want to open a PR?

[2021-05-27 21:14] MonikaBarget opened #20151 "Definition of "raw text documents""
#### Describe the issue linked to the documentation

#### Suggest a potential alternative/fix

[2021-05-27 22:10] rth commented on #20151
In the documentation "raw text document" means a (regular) Python string representing a document with no preprocessing, and a corpus is a list (or an iterable) or such strings.

Don't hesitate to open a PR to clarify this in the documentation. Thanks!

[2021-05-28 00:05] mcgibbon commented on #9626
Yes, the MAE code scales as N^2 instead of N (see comment above on March 14, 2018 - I assume nothing has changed). I believe it could be improved to scale as N*log(N), by using a loss update algorithm that takes log(N) time instead of re-computing the loss in N time (see July 4, 2018 comments about tree-based sorting).

[2021-05-28 01:52] naozin555 commented on #19414
I am working on feature_selection/tests

[2021-05-28 04:12] UnixJunkie opened #20156 "RandomForestRegressor doesn't accept max_samples=1.0"
#### Describe the bug
This example from the doc works:

[code]

Just changing one line to this:

[code]

doesn't work anymore:

[code]
I believe `max_samples=None` (the default) and max_samples=1.0 should behave the same.

#### Steps/Code to Reproduce
see above

#### Versions
[code]

[2021-05-28 04:36] murata-yu commented on #20156
I am able to confirm the error in the following environment.
[code]

The cause is here. https://github.com/scikit-learn/scikit-learn/blob/309f135c3284d7db6e23ca81a87948c7066a3949/sklearn/ensemble/_forest.py#L109

Can I send a PR?

[2021-05-28 04:44] UnixJunkie commented on #20156
Well spotted, please send a PR.

[2021-05-28 05:06] murata-yu commented on #20156
sorry,,,
error message is `max_samples must be in range (0, 1) but got value 1.0` .
And, mathematically the error message seems correct .
https://en.wikipedia.org/wiki/Interval_(mathematics)
(`range (0, 1)` does not include 1)

so, I think I don't have to fix this.

[2021-05-28 05:37] UnixJunkie commented on #20156
The problem is that max_samples=1.0 and max_samples=None should behave the same.

[2021-05-28 06:02] murata-yu commented on #20156
Yes, max_samples=1.0 and max_samples=None should behave the same .
But, max_samples is not expected to be greater equal than 1.0 .
So, I think it is correct tha an error occured at max_samples=1.0 .

[2021-05-28 06:24] UnixJunkie commented on #20156
max_samples=0.0 should crash (you cannot train a model without training
samples), max_samples=1.0 should work just fine (you _can_ train a model
using all the available training samples)

On Fri, May 28, 2021 at 3:02 PM murata-yu ***@***.***> wrote:

[2021-05-28 07:33] ogrisel commented on #20156
I think accepting `max_samples=1.0` to mean `max_samples == n_samples` might have been considered problematic because we also accept `max_samples=1` to mean only one sample and that could be confusing for users that would not have observed that the type (int or float) is important.

But we do accept both `RandomForestRegressor(max_features=1.0)` and `RandomForestRegressor(max_features=1)` and they

[2021-05-28 07:42] takoika commented on #20135
By my investigation, this behaviour is expected. Different between 0.22 and 0.23 is chosen algorithm in default. 0.22 select “kd_tree” in default for the data. On the other hand 0.23 select “brute” because of the newly introduced heuristic (see #17148). Even if 0.22 when specifying “brute” the code consumes so much memory as well as 0.23

@DevinShanahan
 If you want to execute as well as before, y

[2021-05-28 08:06] ogrisel commented on #10993
Copied comment from the discussion on #20157:

I don't think we should add such a note as part of the docstring because this would be valid for any scikit-learn estimators and we don't want to make all the docstring of all the methods of all scikit-learn estimator that verbose.

Instead, I propose 2.5 things to move forward (should be addressed in distinct PRs):

- for the specific case of `spectr

[2021-05-28 08:07] ogrisel commented on #10993
I think I would be in favor of a2) over a1) myself, but I am fine with both options.

[2021-05-28 11:46] glemaitre commented on #20140
Could try to install from the `conda-forge` channel. Indeed, we are not releasing the packages on the Anaconda Default channel but only on `conda-forge` and `PyPI`. If you could install from `conda-forge` and that the problem still exists, we could investigate further on our side, otherwise, we need to bring the problem upstream to aAnaconda.

[2021-05-28 11:51] DevinShanahan commented on #20135
That makes sense, thanks! I missed that in the changelog since it didn't mention `KNeighborsRegressor` directly.

[2021-05-28 11:51] #20135 closed

[2021-05-28 12:11] glemaitre commented on #20140
I opened a PR on your CI in order to check the `conda-forge` package but I will need you to make the CI run :)

[2021-05-28 12:12] jeremiedbb commented on #20140
I can't reproduce on my windows. Installing scikit-learn 0.24.2 from the conda default channel worked fine.

[2021-05-28 12:18] glemaitre commented on #20140
Adding more info to the try of @jeremiedbb: with both Python 3.8 and 3.9

[2021-05-28 12:31] psavery commented on #20140
@glemaitre I approved the CI for hexrd/hexrd#277. Thank you for submitting that!

However, I see it is running `conda install anaconda` on the line before. Since anaconda depends on the `scikit-learn` dependency, it is installing scikit-learn `0.24.2` from `anaconda` first, and the CI fails before it reaches the `conda-forge` line.

[2021-05-28 12:35] psavery commented on #20140
@jeremiedbb Yes, I was unable to reproduce the issue on my local Windows computer as well. I have only encountered the issue so far on `windows-latest` of GitHub Actions.

[2021-05-28 12:50] psavery commented on #20140
It looks like hexrd/hexrd#277 has confirmed that it is only an issue with the `anaconda` distribution, not the `conda-forge` one.

[2021-05-28 14:28] MonikaBarget commented on #20151
Thank you, @rth . Does "document with no preprocessing" include that punctuation is necessary for the string to be recognised as a "raw text document"?

[2021-05-28 15:21] rth commented on #20151
All that `CountVectorizer` etc care about is that they receive a list (or an iterable) of Python strings. We say no "pre processing", because some pre-processing is already included in these estimators, but really that decision is up to the user.

[2021-05-28 16:01] ThomasBourgeois commented on #18540
My 2 cents here : I'm working on that subject, I found a paper mentionning two types of uncertainties when creating prediction intervals:
- model uncertainty
- data uncertainty
see : 'Probabilistic forecasting of wind power generation using extreme learning machine.'
here : https://backend.orbit.dtu.dk/ws/files/61212710/wan2013_elm.pdf

They create overall prediction intervals by summing contribut

[2021-05-28 16:11] ThomasBourgeois opened #20162 "Metrics for prediction intervals"
Yesterday, I had a dream where scikit learn has implemented main metrics for prediction intervals.

A review of typical metrics for prediction intervals can be found on this publication (p.16 to 17): 'Review of Deterministic and Probabilistic Wind Power Forecasting: Models, Methods, and Future Research' (https://www.mdpi.com/2673-4826/2/1/2)

Typically :
- PICP (Prediction Interval Coverage Probab

[2021-05-28 16:13] MonikaBarget commented on #20151
THanks, I will write this up for a documentation PR.

[2021-05-28 17:06] collinb9 commented on #7646
So unless I'm mistaken, it looks like passing `fit_params={"groups": groups}` to ``cross_validate()`` works for now?

[2021-05-28 18:46] staticdev commented on #7646
This is a serious issue for running this kind of splitting. I don't know how it took some many years and still is not fixed.

[2021-05-28 20:37] thomasjpfan commented on #20130
May you provide the code needed to reproduce your results? Also it looks like the dataset is currently private.

[2021-05-29 01:32] ClaudiaRitiu opened #20163 "Confusion Matrix method and plot"
Wondering why
sklearn.metrics.confusion_matrix(y_true, y_pred,
and
sklearn.metrics.plot_confusion_matrix(estimator, X, y_true

- return different values for TN,FP,FN,TP
- they accept different params

![Screen Shot 2021-05-28 at 6 31 17 PM](https://user-images.githubusercontent.com/2553570/120054134-065a6180-bfe3-11eb-8d67-fdb860b738da.png)
![Screen Shot 2021-05-28 at 6 31 28 PM](https://user-imag

[2021-05-29 04:37] RabeyaMuna commented on #9414
how did you do that??

[2021-05-29 07:55] PeterPirog opened #20164 "StratifiedKFold for regression"
I suggest to add function StratifiedKFold for continous Y.

1. Step 1 - concatenate X and Y into single array
2. Step 2 - clusterize XY array into m- clusters
3. Step 3 - concatenate column with cluster number
3. Step 4 - use cluster  number as category and make typical StratifiedKFold
4. Step 4 - remove cluster number column form data
5. Step 6  - separate XY data into X and Y
6. Step 7 - return

[2021-05-29 10:01] shivendra90 commented on #20130
Will add some code. Till then I've made the dataset public. Please do ensure to delete the data afterwards for me to prevent any copyright violation.

[2021-05-29 11:03] lorentzenchr commented on #20164
@PeterPirog What are your main motivations behind your proposed functionality? What use case do you have in mind?

[2021-05-29 16:36] PeterPirog commented on #20164
@lorentzenchr I want do do regression for dataset with numerical features and many categorical features with high cardinality.
There are about 900k samples and dataset is strongly imbalanced.
Thanks to large number of samples even very  rare categorical features have  about 100 samples so i think  it's sense to make cross validation with stratified k-folds.
I know that there is [SMOGN](https://git

[2021-05-29 19:06] lorentzenchr commented on #20164
@PeterPirog Thanks for explaining.
If you have 100 samples even for the most rare categorical levels, I think it's safe to just use `KFold(.., shuffle=True)`. Then, what do you mean by *imbalanced*? A target variable with large outliers (like for heavy-tailed distributions)? Or do you mean your categorical features are imbalanced, e.g. always some rare levels?

[2021-05-29 19:34] PeterPirog commented on #20164
@lorentzenchr I mean, my X_train categorical features are imbalanced. I solved problem with heavy-tailed distributions by using of quantile encoding.
My pipeline is:
1) rare labels encoding for categoricale features
2)one hot encoding for categorical features (I use  OneHotEncoder from [category_encoders](https://pypi.org/project/category-encoders/)  with handle_missing='return_nan', handle_unknow

[2021-05-30 14:53] lorentzenchr commented on #20164
@PeterPirog Sounds like a sensible preprocessing (depending on the regression model used). Are you then happy to use something as simple as `KFold(.., shuffle=True)` or do you still think that you need more ? And if so, then why?

[2021-05-30 15:20] PeterPirog commented on #20164
@lorentzenchr now I use KFold to make CV.
In the same time  i try to make some improvements in metrics for CV, for example as a metrology engineer I try to use T-distribution, confidence intervals and effective degrees of freedom for errrors in each  k-fold to beter estimate the worst case of error. but this is other topic :)

For example, mean relative error modification:
[code]

I will check res

[2021-05-30 16:00] ajcallegari opened #20167 "Enable mixed ensembles with estimators that do & don't accept the sample_weight fit_param"
I need to make a VotingRegressor ensemble with some estimators that accept sample weights during fitting and some that don't.  Currently, mixed ensembles raise an exception:
[code]
**result:**
TypeError: Underlying estimator KNeighborsRegressor does not support sample weights.

A possible solution would be to have the ensemble class (e.g. VotingRegressor, VotingClassifier, StackingRegressor, Stack

[2021-05-30 16:13] lorentzenchr commented on #20111
@thomasjpfan @ogrisel @adrinjalali @NicolasHug IIRC, you've experience with trees and might have an opinion on changing the behaviour of the default `max_features="auto"` for `RandomForestRegressors`. I thought, I'd better ask first before opening a PR....

[2021-05-30 19:02] Sandy4321 opened #20168 "add mean_pinball_loss to SVR"
#### Describe the workflow you want to enable

#### Describe your proposed solution

#### Describe alternatives you've considered, if relevant

#### Additional context

[2021-05-31 09:55] adrinjalali commented on #8642
There's been some related work done which you can check on the history of this issue, for instance here: https://github.com/scikit-learn/scikit-learn/pull/15526, figuring out what still needs to be done on these issues is the kind of help which would be appreciated as well ;)

Please check if the other PRs are stalled, and if the authors are happy for you to continue the work (or don't respond in

[2021-05-31 10:01] ogrisel opened #20170 "test_check_array_pandas_dtype_casting failed on nightly build"
sklearn/utils/tests/test_validation.py:
[code]

from: https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=28974&view=logs&j=dfe99b15-50db-5d7b-b1e9-4105c42527cf&t=ef785ae2-496b-5b02-9f0e-07a6c3ab3081

[2021-05-31 12:49] #20170 closed

[2021-05-31 15:02] ogrisel commented on #19627
Fair enough.

[2021-05-31 16:09] jeremiedbb commented on #19333
I was going for the compose module and it turns out n_features_in_ is already implemented for the TransformedTargetRegressor and ColumnTransformer, so the compose module can be removed from the list. This is done in #20175.

[2021-05-31 17:10] #20164 closed

[2021-06-01 02:23] UnixJunkie commented on #20156
I think the related PR should be merged and this issue closed.

[2021-06-01 02:32] UnixJunkie opened #20176 "API documentation: flag critical model hyperparameters"
#### Describe the issue linked to the documentation

Some models have many parameters.
Some of those parameters are very important, some others much less so.
While sklearn provides sound defaults usually, it would be nice
if a potential user sees right away which parameters _must_
be optimized in order to get a significantly better model.

#### Suggest a potential alternative/fix

For example, in

[2021-06-01 02:45] UnixJunkie commented on #20176
related to https://github.com/scikit-learn/scikit-learn/pull/17929

[2021-06-01 04:05] hakeemo opened #20177 "custom index sampling for RandomForest _generate_sample_indices"
I would like to build a RandomForestClassifier where I control how the indices are sampled. looking at the code I see `_generate_sample_indices` does this work and I would like to use my own custom function. This isn't a class method so I don't see a straight forward way of creating a class and overriding that part alone. It seems I have to copy the entire fit function. Is there an alternative way

[2021-06-01 06:21] BlackCurrantDS commented on #14214
@michalkrawczyk I am really looking forward to your addition, do you happen to have some timeline in mind?

[2021-06-01 07:26] NicolasHug commented on #20176
As you noted this will mainly be resolved by https://github.com/scikit-learn/scikit-learn/issues/17566 so I'll close this one to avoid duplicates.

[2021-06-01 07:26] #20176 closed

[2021-06-01 07:27] xiangb opened #20178 "Optional `stop_words_` attribute for CountVectorizer and TfidfVectorizer"
#### Describe the workflow you want to enable
Hi,

Refering to this message found for `sklearn.feature_extraction.text.CountVectorizer` and `sklearn.feature_extraction.text.TfidfVectorizer`:
[code]
This attribute can indeed be very large when the dataset is big (leading to out of memory error sometimes). Besides, what it contains is not used by everyone (not always).
So, it would be nice to have t

[2021-06-01 08:17] ruijpbastos commented on #18443
This look a bit stalled, maybe I could have a go at this? @nkelly13 ?

[2021-06-01 09:12] ogrisel commented on #20137
@NicolasHug do you agree with the plan above? If so we can implement it as part of  #20145.

[2021-06-01 09:28] NicolasHug commented on #20137
Yes this sounds good.

An alternative that I slightly prefer would be to directly introduce `tol=0` and instead do the deprecation on `n_features_to_select`:

- set `n_features_to_select` to 'warn' indicating that `None` is deprecated in favor of 'auto'
- Switch the default to 'auto' in 2 versions and remove `None`.

The reason the default is currently None is for consistency with RFE, but 'auto'

[2021-06-01 09:42] #19775 closed

[2021-06-01 10:52] smruti241 commented on #5175
I want to know what this error says:
Traceback (most recent call last):
  File "defrag.py", line 265, in <module>
    prediction = gnb.predict(getYPerc(testSamplesPickle[testSample]))
  File "/home/mdrcubuntu/anaconda3/envs/wisecondor/lib/python2.7/site-packages/sklearn/neighbors/classification.py", line 147, in predict
    X = check_array(X, accept_sparse='csr')
  File "/home/mdrcubuntu/anaconda3

[2021-06-01 11:11] eeezae opened #20179 "ModuleNotFoundError: No module named 'sklearn.decomposition.pca'"
• python  3.9

  • numpy  1.20.1
  • scipy 1.6.1
  • scikit-learn  0.24.1
  • matplotlib 3.3.4
  • joblib 1.0.1

Python shell executes `from sklearn.decomposition import PCA` success, but an error occurred in executing code.
[code]

[2021-06-01 11:20] foxale commented on #17675
I can confirm it's still present in 0.24.2

[2021-06-01 13:06] glemaitre commented on #20179
You are most probably try to unpickle a `PCA` model pickled with an old version of scikit-learn. Since then the module `pca` has been renamed to `_pca` and unpickling is failing. We do not support pickling/unpickling across scikit-learn version. Thus, we will not have any action to solve this issue.

[2021-06-01 13:06] #20179 closed

[2021-06-01 13:10] glemaitre commented on #20168
The loss in SVR is not tunable and we will not change `libsvm` to support this use case.

[2021-06-01 13:10] #20168 closed

[2021-06-01 13:15] glemaitre commented on #20163
Could you provide the code that generated this discrepency. It could be a bug. If you could provide a minimal reproducible example, it would really help/

[2021-06-01 14:03] ivan-marroquin opened #20182 "Error message when using chunked pairwise distances function"
#### Describe the bug

#### Steps/Code to Reproduce

[code]

#### Expected Results

#### Actual Results

#### Versions

scikit-learn --> 0.24.2
numpy --> 1.19.5
scipy --> 1.5.4
imblearn --> 0.8.0
platform --> Windows-10-10.0.19041-SP0
sys --> 3.6.5 (v3.6.5:f59c0932b4, Mar 28 2018, 17:00:18) [MSC v.1900 64 bit (AMD64)]

[test_chunked_pairwise_distances.zip](https://github.com/scikit-learn/scikit-le

[2021-06-01 14:04] jonaschn commented on #14440
@jnothman @juanluislm There is a great topic modeling tool called [tomoto](https://github.com/bab2min/tomotopy) that implements [SLDA ](https://bab2min.github.io/tomotopy/v0.12.0/en/#tomotopy.SLDAModel)among many others.
However, I doubt that the scikit-learn community will benefit from other extensions to basic (batch and online variational Bayes) Latent Dirichlet Allocation.

[2021-06-01 16:05] zachmayer commented on #17123
https://github.com/scikit-learn/scikit-learn/pull/19069/files allows OrdinalEncoder to pass through nans.

it would still be really useful to have an option to impute nans with a specific value in OrdinalEncoder

[2021-06-01 16:59] mdanb commented on #13621
@hermidalc how can I use this with GridSearchCV?

[2021-06-01 19:11] mdturp opened #20186 "ROC-AUC-SCORE fails in the `multi_class` computation when there are only two classes"
#### Describe the bug
The `roc_auc_score` fails with a ValueError in the multiclass case where we only have two classes. Essentially an input with two classes is always interpreted as a binary case eventhough multiclass parameters are set.

#### Sample Code to Reproduce

[code]

#### Expected Results
No error should have been thrown and the `roc_auc_score` should have been calculated according to

[2021-06-01 19:12] hermidalc commented on #13621
Like you would use any other CV iterator with `GridSearchCV`, pass an instance of it to the `cv` parameter during `gscv = GridSearchCV(cv=StratifiedGroupKFold())` construction and pass your group labels during `gscv.fit(X, y, groups)`

[2021-06-01 19:57] Siegallab commented on #15911
Thank you for including this solution in the installation instructions!

I was wondering whether there are any plans to change the actual filenames causing the issue? I think lifting the file path length limit can be a problem for beginner-level users, especially when scikit-learn is a dependency for another package and this issue results in an installation failure for that package.

[2021-06-02 01:36] amritasenthil opened #20187 "API documentation update for train_test_split()"
Applied `train_test_split` on the imbalanced dataset (Credit Card Fraud dataset) without setting stratify parameter (`None` by default). When we checked the test and train data, the class distribution is maintained, i.e., stratification is applied.

Though stratification is applied by default, the document says following which is confusing for users:
[code]
API documentation of `train_test_split`

[2021-06-02 09:00] joao-prg commented on #18709
Hello @ogrisel!
Do you have more developments on this?
I'm trying to solve a similar problem.

[2021-06-02 09:00] joao-prg commented on #18709
Hello @ogrisel!
Do you have more developments on this?
I'm trying to solve a similar problem.

[2021-06-02 09:12] adrinjalali commented on #20111
I would rather have the two classes having the same default values, unless there's some strong evidence for one needing a different default than the other. There also seems to be evidence that both of the new alternatives are much better than the current default.

[2021-06-02 10:02] lorentzenchr commented on #20111
@adrinjalali IIUC, you're in favor of having the same default behavior for `max_features` in `RandomForestClassifier` and in `RandomForestRegressors`.

Current default behavior:
- `RandomForestClassifier` uses `sqrt(n_features)`
- `RandomForestRegressors` uses `n_features`

Minimal Proposition:
- `RandomForestClassifier` uses `sqrt(n_features)`
- `RandomForestRegressors` uses `sqrt(n_features)`

T

[2021-06-02 11:49] harupy opened #20189 "Installing scikit-learn from the main branch fails with `scikit-learn requires numpy >= 1.14.6`"
#### Describe the bug

`pip install git+https://github.com/scikit-learn/scikit-learn.git`

fails with the following error:

[code]

#### Steps/Code to Reproduce

[code]

#### Expected Results

[code]

should successfully install the dev version of scikit-learn

#### Actual Results

#### Versions

I'm using Python 3.7.

[2021-06-02 12:02] harupy commented on #20189
Seems related to https://github.com/scikit-learn/scikit-learn/pull/20149

[2021-06-02 12:04] harupy commented on #20189
Fixing this line:

https://github.com/scikit-learn/scikit-learn/blob/6850c04186b88e88e9c8cd6eb673721af806e3da/pyproject.toml#L12

to:

[code]

might fix the issue

[2021-06-02 12:48] michalkrawczyk commented on #14214
@BlackCurrantDS Currently PR already exist (https://github.com/scikit-learn/scikit-learn/pull/20031)  , but needs some changes that will be made in next weeks.

[2021-06-02 15:01] alfaro96 commented on #20189
Cross reference: https://github.com/scikit-learn/scikit-learn/pull/20184#discussion_r643592615.

[2021-06-02 15:19] NicolasHug commented on #20187
Could you please provide an example where you observed something fishy?

That's not necessarily surprising: with enough data and if the dataset is shuffled, we should indeed observe that the class imbalance is approximately preserved in a purely random split.

[2021-06-02 15:23] NicolasHug commented on #20182
Thanks for providing the zip with the data but could you please provide a minimal reproducing example that we can just copy and paste directly from here?

[2021-06-02 15:27] NicolasHug commented on #20177
A hacky and unreliable way would be to just replace `_generate_sample_indices` with your own callable. Something like:

[code]
(You'll possibly need to take care of some underscore mangling, I'm not sure)

Could you provide more details on that?

[2021-06-02 15:50] ivan-marroquin commented on #20182
Hi @NicolasHug

Thanks for the prompt answer. In the zip file, you will also find the Python script to duplicate the incident.

Ivan

[2021-06-02 16:01] NicolasHug commented on #20182
You'll have more chance of someone replying with valuable feedback if you directly provide the script here, and if it's minimal. We're understaffed and we can barely keep track of all issues on this repo: anything that  helps removing unnecessary overhead helps.

[2021-06-02 16:18] ivan-marroquin commented on #20182
here is a short version of the script - which can be found in the attached zip file - Thanks for your help

import numpy as np
from sklearn.metrics import pairwise_distances_chunked
import multiprocessing

if __name__ == '__main__':
    available_mem= 10000

    cpu_count= 2 if (multiprocessing.cpu_count() < 4) else (multiprocessing.cpu_count() - 2)

    input_data= np.load('attribute_cube.npy')

[2021-06-02 17:36] RamziFsm opened #20195 "The number of thresholds returned by roc_curve() for loop call"
I used a one-class classification. Because of the stochastic nature of machine learning algorithms, I want to repeat the experiment several times and calculate the average of the metrics. In the code I wrote:
[code]

This error occurred in np.mean() because the shape of fpr or tpr is changed for both iterations. In other words between two calls of roc_curve there are two threshold vectors of diffe

[2021-06-02 21:06] thomasjpfan commented on #20189
Merging https://github.com/scikit-learn/scikit-learn/pull/20184 should resolve this issue. (Although it means we are deviating a little from `oldest-supported-numpy`)

[2021-06-03 01:00] tsuga opened #20197 "A wrong reference in DOC fix a reference in sklearn.ensemble.GradientBoostingRegressor"
#### Describe the issue linked to the documentation
https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingRegressor.html

In the reference ("See also" section), the RandomForestRegressor is introduced as sklearn.**_tree_**.RandomForestRegressor but it should be sklearn.**_ensemble_**.RandomForestRegressor.

#### Suggest a potential alternative/fix
I will create a PR sh

[2021-06-03 01:54] #20197 closed

[2021-06-03 02:29] eeezae commented on #20179
Thanks a lot for your reply. Is there any method that can transfer from an old pca version to the newest one?

[2021-06-03 04:17] lesteve opened #20199 "KMeans()-check_transformer_data_not_an_array test failing locally from time to time in main"
#### Describe the bug

Locally I see intermittent failures of the `KMeans()-check_transformer_data_not_an_array` test. I don't see this failures on 0.24.2.

One additional weird thing is that this is not happening in the CI and I seem to be the first to complain about it (at least I could not find it in the issues).

[code]

#### Steps/Code to Reproduce
I can reproduce this failure consistently wi

[2021-06-03 04:28] plavskin commented on #15911
Thank you for including this solution in the installation instructions!

I was wondering whether there are any plans to change the actual filenames causing the issue? I think lifting the file path length limit can be a problem for beginner-level users, especially when scikit-learn is a dependency for another package and this issue results in an installation failure for that package.

[2021-06-03 05:15] lesteve commented on #20199
I guess it would be nice if someone could reproduce first (maybe I have something special on my setup 🤔)

Otherwise `git bisect` points the finger at https://github.com/scikit-learn/scikit-learn/pull/17622. I am guessing @jeremiedbb may have insights into this.

[2021-06-03 07:49] glemaitre commented on #20179
Nothing officially supported. Maybe, one hugly trick might be to pickle the NumPy arrays of the fitted attributes (such as `components_`) using the old version of scikit-learn and then create a new `PCA` in scikit-learn 0.24 and affect these fitted attributes.

If your use case is only to use the model in production (no `fit` required), you might want to look at ONNX and more precisely [sklearn-on

[2021-06-03 10:01] jeremiedbb commented on #20199
I can reproduce locally as well. I opened #20200. It fixes it for me, let me know if it fixes it for you as well

[2021-06-03 10:15] #16924 closed

[2021-06-03 11:05] shivendra90 commented on #20130
@thomasjpfan Added the requested code (apologies for the late reply). Hope this helps.

[2021-06-03 12:28] #19866 closed

[2021-06-03 13:45] ogrisel commented on #18865
I agree this would be a good idea (assuming it's possible and it works as expected).

[2021-06-03 13:47] #20189 closed

[2021-06-03 13:59] ogrisel commented on #20189
It works (I tried in an empty python docker container).

[2021-06-03 14:41] harupy commented on #20189
Confirmed the fix works! Thanks for the quick action on this :)

[2021-06-03 14:58] europeanplaice opened #20206 "Unexpected behavior of VarianceThreshold when a threshold is negative."
#### Describe the bug

When a threshold is negative, an unexpected result returns.
For now, I'm not sure why this happens.

#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results
`(3, 4) == (3, 4)`

#### Actual Results
`(3, 5) == (3, 4)`

#### Versions

numpy --> 1.16.5
scipy --> 1.3.1

[2021-06-03 20:08] mlondschien commented on #4632
It appears that [eight years](https://github.com/scikit-learn/scikit-learn/pull/1574) of discussion have not resolved this issue. Maybe a comic helps:
![](https://imgs.xkcd.com/comics/workflow.png)
[https://xkcd.com/1172/](https://xkcd.com/1172/)

[2021-06-03 20:11] ClaudiaRitiu commented on #20163
[classification_confusion_matrix.ipynb.zip](https://github.com/scikit-learn/scikit-learn/files/6594098/classification_confusion_matrix.ipynb.zip)

[2021-06-03 20:14] ClaudiaRitiu commented on #20163
Hi Guillaume,
Let me know if the Jupiter file works/opens nicely.

[2021-06-03 20:23] ClaudiaRitiu commented on #20163
I am thinking that the .confusion_matrix() was generated using the '5' classifier and the .plot_confussion_matrix() using the entire training set and an estimator. So, values would be different? However, could not seem to use the plot method with the '5' classifier.

[2021-06-03 21:58] nithish08 commented on #20081
As per @glemaitre suggestion, I have used `importlib.resources.path`. Can you please approve PR #20150? @glemaitre @jnothman

[2021-06-03 22:35] glemaitre commented on #20163
OK there is not bug but just misusage of scikit-learn:

[code]

`cross_val_predict` will train 3 models, each of the model will be used to predict on a its respective test fold. You should never to that as mentioned in the API documentation and user guide. It does not reflect the generalization power of the model.

[code]

This call will use the `sgd_clf` *already fitted* and predict on the traini

[2021-06-03 22:35] #20163 closed

[2021-06-04 12:11] #20053 closed

[2021-06-04 13:23] #20156 closed

[2021-06-04 15:10] eitanrich opened #20210 "Documentation error in sklearn.neighbors.NearestNeighbors"
The documentation for `kneighbors_graph` says that "in ‘distance’ the edges are Euclidean distance between points." but it looks like the returned edges weights depend on the selected `metric` parameter of the `NearestNeighbors` object and are not always Euclidean.
https://github.com/scikit-learn/scikit-learn/blob/15a949460dbf19e5e196b8ef48f9712b72a3b3c3/sklearn/neighbors/_base.py#L787

[2021-06-04 15:12] RachanaGusain opened #20211 "Word n-grams for Devanagari script are not generated correctly."
#### Describe the bug

Word n-grams for Devanagari script are not generated correctly. Tokens are formed only until a modifier (maatra) is encountered, which should not be the case. It should be until you find a whitespace.

#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results

`['100', 'आई', 'उस्सै', 'और', 'गौं', 'जंगलै', 'जा', 'जाइयै', 'तरफ', 'ध्यान', 'नजदीक', 'नुहाड़ा', 'पकड़',

[2021-06-04 16:42] rossbar opened #20212 "Build dependencies in developer guide seem incorrect"
#### Describe the issue linked to the documentation

When following the docs for [building from source](https://scikit-learn.org/stable/developers/advanced_installation.html#building-from-source), numpy and scipy are [listed as runtime dependencies](https://scikit-learn.org/stable/developers/advanced_installation.html#runtime-dependencies), but not build-time dependencies. However, when following

[2021-06-04 17:54] rossbar commented on #20212
Ah - after I read more carefully we noticed the text *does* mention that these are both build + runtime dependencies; it was just the headings that were confusing. IMO removing the `Runtime Dependencies` heading would be an improvement!

[2021-06-04 23:15] aacosta13 commented on #20195
This is my first time working on open-source software, so forgive any ignorance shown, but would you be able to provide a dataset or sample of data where this did not work for you? I just attempted it myself on a toy data set and things seem to have been calculated just fine following your snippet here.

[2021-06-05 11:14] Vikram12301 opened #20213 "Training size vs error"
![img](https://user-images.githubusercontent.com/62374169/120889874-e8ad7d80-c61c-11eb-8979-8f0b45095524.jpg)

Training size vs error plot would help the users distinguish if the model has high bias or high variance.
This can help the user to update the model easily by reducing either the bias or variance correctly instead of trying random algorithms.

[2021-06-05 12:37] #20213 closed

[2021-06-05 12:39] afettouhi commented on #14638
Sadly no.

[2021-06-05 22:24] thomasjpfan commented on #20186
The docstring for `multi_class` states that "Only used for multiclass targets."

https://github.com/scikit-learn/scikit-learn/blob/f6e6ad2d9e9172c55c778392b27b69c6af87bd98/sklearn/metrics/_ranking.py#L426-L428

and in sklearn multiclass means [more than two classes](https://scikit-learn.org/stable/glossary.html#term-multi-class).

Is there a use-case where you wish to use ovo or ovr with binary ta

[2021-06-05 22:34] jnothman commented on #20211
There are options for configuring your own tokenizer. The default tokenizer
is broadly engineered for European languages, but is not very good at any
language!

[2021-06-06 09:24] lorentzenchr commented on #19304
Closed in #19836.

[2021-06-06 09:24] #19304 closed

[2021-06-06 13:58] nanshanli commented on #19414
Working on `decomposition/tests`

[2021-06-07 08:17] glemaitre commented on #20212
I don't think that we should be removing the heading but improve the first sentence:

[code]

to

[code]

It makes the "also" more explicit.

@rossbar Do you want to make a PR to improve the doc?

[2021-06-07 10:59] NicolasHug commented on #20212
Could you detail the instructions  you ran?

From our guide:

So either you did something wrong, or we broke that part again. It happens every now and then when we change the `setup.py` because we don't test against it.

[2021-06-07 11:35] rossbar commented on #20212
[code]

The last two commands correspond to [step 4 of build procedure](https://scikit-learn.org/stable/developers/advanced_installation.html#building-from-source). There is a descrepancy between the documented behavior and what is happening on my system. I see the following from the last step:

<details>
  <summary>Output of `python -m pip install --verbose --no-build-isolation --editable .`</sum

[2021-06-07 12:47] cmarmo commented on #20212
See also #18608.

[2021-06-07 12:48] madhuracj commented on #20090
I had a quick look at this.
When columns `["aaa" , "bbb"]` are passed, the remainder is a DataFrame having `["ccc", "time"]`. When `np.asanyarray()` is called on the remainder inside `np.hstack()`, it generates an ndarray of type 'object' given the two columns are of two types.
On the other hand, when columns `["aaa" , "bbb", "ccc"]` are passed, the remainder is a DataFrame having just `"time"` an

[2021-06-07 12:54] NicolasHug commented on #20212
Thanks for reproducing and for the ref @cmarmo .

This isn't the first time this happens so we should really try to test against this so this doesn't happen again. Among other things, having incorrect building instructions is a significant barrier for potential contributors.

Considering how often this happens and how bad the effects are, I feel like having a dedicated CI job for this wouldn't be

[2021-06-07 12:59] rossbar commented on #20212
:+1: we actually ran into this problem during a sprint for new contributors!

[2021-06-07 13:00] DevinShanahan opened #20216 "Inconsistent labels with KMeans using random_state"
#### Describe the bug
I am running `KMeans` with a set `random_state` which is generating the same clusters but does not always apply the same label values to the clusters. I realize that the labels have no inherent significance, but I am writing a notebook and this makes it impossible to use the label number to refer to the clusters, so it would be very helpful for this to be consistent as well.

[2021-06-07 13:05] jeremiedbb commented on #20216
This should probably be fixed by https://github.com/scikit-learn/scikit-learn/pull/20200

[2021-06-07 13:10] jeremiedbb commented on #20216
I tried your reproducible example in the branch mentioned above and couldn't trigger the issue any more.

[2021-06-07 13:13] thomasjpfan opened #20217 "Some estimator checks on meta-estimators are not invalid"
Now that we are trying to move meta-estimators to delegate validation to inner estimators, I think that some estimator checks are invalid for meta-estimators. For example, `check_complex_data` on a meta-estimator that delegates validation, actually checks that the inner estimator is validating. Should we skip the input validation checks for meta-estimators?

CC @ogrisel

[2021-06-07 13:17] cmarmo commented on #20212
The issue made its first appearance in #4164. I have checked out 62978154ba332ae3aa8a23a957691eb7dded6d00 (meant to fix the issue) and tried to build like in the current documentation. This still throws the error
[code]

[2021-06-07 13:34] ogrisel opened #20218 "Random failure in test_estimators[OutputCodeClassifier(estimator=LogisticRegression(C=1))-check_complex_data]"
I merged <del>#20192</del> #20193 too quickly and now we have random failure in `check_complex_data` for `OutputCodeClassifier` in the main branch.

The `ValueError` is not always raised for complex data for this estimator. It seems to be more frequent on Windows but can also happen on Linux...

[2021-06-07 13:35] ogrisel commented on #20218
Example failure:

https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=29157&view=logs&j=49f70b07-9eec-54da-4186-5a4fa38d566e&t=4acaf5ee-4b96-54ff-292e-f87053ca41e5

[2021-06-07 13:49] cmarmo commented on #20212
The problem is the `--no-build-isolation` option.
Running the following on `main` builds successfully.
[code]
I guess, the reasons are explained [here](https://pip.pypa.io/en/stable/cli/pip/#pep-517-and-518-support) but I need some more time to understand them ... :confused:
Perhaps @rth could help? Thanks!

[2021-06-07 13:58] DevinShanahan commented on #20216
@jeremiedbb I tried it with that branch as well and I can verify that it also wasn't triggered for me.

[2021-06-07 14:04] NicolasHug commented on #20212
The root issue probably comes from somewhere else: the `--no-build-isolation` option was introduced in https://github.com/scikit-learn/scikit-learn/pull/16244, precisely for managing build-time dependencies. And the instructions were correct at that time.

The default behavior of pip is to install the build-time dependencies in a temporary/isolated env, to not mess with the current user's environe

[2021-06-07 14:39] cmarmo commented on #20212
The issue arose here 4beb0c27fc0439c12dad244fe4063e96f8983a52.

Take

[2021-06-07 14:40] cmarmo commented on #20212
take

[2021-06-07 14:45] #19598 closed

[2021-06-07 14:54] ogrisel commented on #20218
I am not 100% sure #20192 caused the problem in the first place though, as it seems unrelated to `OutputCodeClassifier`.

[2021-06-07 16:14] ogrisel commented on #19306
I opened an issue on the pip issue tracker: https://github.com/pypa/pip/issues/10045.

Feel free to follow-up with additional details in the comments if needed.

[2021-06-07 16:15] #20218 closed

[2021-06-07 16:55] TomDLT commented on #20210
Good catch, we should have a more general phrasing.
Do you want to submit a fix ?

[2021-06-07 18:03] ivan-marroquin opened #20222 "Unable to import UnsupervisedMixin and SupervisedFloatMixin"
#### Describe the bug

#### Steps/Code to Reproduce

[code]

#### Expected Results

Be able to import UnsupervisedMixin, SupervisedFloatMixin. So I can run additional Python code

#### Actual Results

#### Versions

scikit-learn 0.24.2
Windows-10-10.0.19041-SP0
3.6.5 (v3.6.5:f59c0932b4, Mar 28 2018, 17:00:18) [MSC v.1900 64 bit (AMD64)]
numpy 1.19.5
scipy 1.5.4
imblearn 0.8.0

[2021-06-07 20:27] paris0120 opened #20223 "KMeans freezes after finishing calculation"
#### Describe the bug
KMeans freezes after finishing calculation

#### Steps/Code to Reproduce

[code]
If the code is too long, feel free to put it in a public gist and link
it in the issue: https://gist.github.com
-->

[code]

#### Expected Results

#### Actual Results
Freeze after the 10 seeds.

Initialization complete
Iteration 0, inertia 187158.15908746753
Iteration 1, inertia 134920.029408079

[2021-06-07 20:44] TomDLT commented on #20222
These mixins have been removed in #17849 since they were badly designed and (technically) private.

How did you use them ?

[2021-06-07 21:06] ivan-marroquin commented on #20222
Hi @TomDLT

Thanks for the prompt answer. I wanted to do a manual installation of scikit-hubness (https://github.com/VarIr/scikit-hubness). This package is tightly bounded to scikit-learn 0.21.3 but I have a newer version of scikit-learn. That's where I found the reported issue

Ivan

[2021-06-07 22:36] TomDLT commented on #20222
scikit-hubness adapts some scikit-learn's implementation by copying and modifying private functions. These private functions are not subject to our effort to preserve backward compatibility. I don't think there is an easy way to make scikit-hubness compatible with newer versions of scikit-learn.

[2021-06-07 23:39] #19777 closed

[2021-06-08 03:04] bmreiniger commented on #20129
The `grid_scores_` are, for each `i`, the average score of models built _independently_ for each fold; the model's may well use different sets of features. See e.g. https://stackoverflow.com/q/65554133/10495893

The `transform` method is applying a final RFE that was refitted on the entire dataset, so has a single set of features being selected.

Perhaps the docs should be more explicit. For examp

[2021-06-08 04:46] linehammer commented on #12895
Mean Squared Error ( MSE ) is defined as Mean or Average of the square of the difference between actual and estimated values. This means that MSE is calculated by the square of the difference between the predicted and actual target variables, divided by the number of data points. It is always non–negative values and close to zero are better.

[Root Mean Squared Error](http://net-informations.com/d

[2021-06-08 07:10] pfaeffli opened #20224 "AttributError when accessing `coef_` after constructor for `ElasticNet` subclasses"
#### Describe the bug
Accessing attribute `coef_` after object constructor results in an `AttributeError`.

Context: Using duck typing for scikit-learn models to test if the attribute `coef_` or `feature_importance_` is present on the object and, if not, abort early without having to call `fit()` first.

#### Steps/Code to Reproduce
Using
[code]
results in
[code]

#### Expected Results

To be disc

[2021-06-08 07:51] glemaitre commented on #20224
A `NotFittedError` is raised only when trying to call a prediction method (e.g. `predict`, `predict_proba`, `decision_function`, etc.).

When not fitted, fitted attributes are not existing and an `AttributeError` is given. We rely on the Python programming language error for that. I don't think that we should create our own exception and catch all possible misusage.

[2021-06-08 07:59] glemaitre commented on #20223
Could you provide the data such that we can reproduce the problem.

[2021-06-08 08:01] glemaitre commented on #20222
I am closing the issue then.

[2021-06-08 08:01] #20222 closed

[2021-06-08 08:05] glemaitre commented on #20217
Is not it tricky since that some meta-estimator still validate data: for instance if the meta-estimator needs to index `X` or `y`, it might require to do so).

It might be better to have a tag for this `validate_input`? As well, we saw an inconsistency in the usage of `MetaEstimatorMixin`. It would be great to use it everywhere or just remove it and use the tag instead.

[2021-06-08 08:23] glemaitre commented on #20212
I agree with that. We also have the install on MacOS that is kind of broken at each sprint that we organized :).

[2021-06-08 08:25] #20195 closed

[2021-06-08 11:26] pfaeffli commented on #20224
Thanks for the hint with `SelectFromModel`. I have a look into it.

It means there is no way of knowing what is exposed when calling `fit()` other than from the documentation. For now, I have to test for subclasses of specific classes if I want it to fail early, or live with it which would be consistent with scikit-learn.

However, a tag could be very helpful.

[2021-06-08 13:17] gmosem opened #20226 "Elastic Net Regression with Linear Constraints"
Dear Developers,
I would to ask for support for the elastic net regression with linear constraints, i.e.
`minimize 1 / (2 * n_samples) * ||y - Xw||^2_2 + alpha * l1_ratio * ||w||_1 + 0.5 * alpha * (1 - l1_ratio) * ||w||^2_2`
subject to:
`Aw=b; Cw<=d`
This kind of problems are quite common and usually are needed to impose shape constraints on the fitting function.

#### Describe your proposed solut

[2021-06-08 14:23] ivan-marroquin commented on #20222
The only disadvantage for me, it is that the function "pairwise_distances_chunked" works much better in scikit 0.24.2 than 0.21.3

[2021-06-08 18:48] hurricane642 opened #20232 "Add the ability for the user to provide specific landmarks points to approximate the Nystroem kernel approximation"
Dear developers,
I would to ask for support for the provide specific landmarks points to approximate the Nystroem kernel approximation. In the current version of the code, the points are chosen randomly. In this case it is often more convenient for the user to select them beforehand using some method and already build the approximation using this method.

Possible solution
To be presented in a sep

[2021-06-08 19:28] lorentzenchr commented on #20111
Does anyone has a recommendation how to implement [this](https://github.com/scikit-learn/scikit-learn/issues/20111#issuecomment-852894629) change? It seems tricky because

1. It does not change the default value, only the default behavior. Any deprecation cycle or warning?
2. We may need to change the default behavior of `DecisionTreeRegressor.max_features`.

Long version: Any tree ensemble method

[2021-06-08 22:26] dmeoli opened #20234 "Cannot save items in a defaultdict in the scorer of a GridSearchCV with joblib backend"
I'm trying to store some information about a training of a custom sklearn-compatible SVM in a shared `defautdict` in the context of joblib in sklearn `GridSearchCV`. So I have the following:

[code]

But with -1 option for `n_jobs`, at the end of the execution, the dictionary `train_loss_history` is empty. For `n_jobs=None`, it works.

How can I fix it?

[2021-06-08 22:59] jnothman commented on #20234
Please extend your code snippet so that it fully reproduces your issue. Include imports, etc

[2021-06-09 05:00] UnixJunkie commented on #19137
Forcing people to use conda/miniconda. Oh my god...
conda: the worst package manager I have _ever_ encountered in my life (apart from an install from scratch, it doesn't know how to do anything in a timely manner).

PS: thanks for the _workaround_ though

[2021-06-09 05:43] katosh opened #20235 "loading pytorch confuses gaussian process kernel"
#### Describe the bug
Loading pytorch, e.g., with `import torch` seems to deteriorate the accuracy of the gaussian process regression.

#### Steps/Code to Reproduce
I adopt the example from https://scikit-learn.org/stable/auto_examples/gaussian_process/plot_gpr_noisy_targets.html.

Example loading pytoch before making the kernel:
[code]
#### Example Results

#### Expected Results
![image](https://

[2021-06-09 08:01] #4521 closed

[2021-06-09 08:28] aliechoes commented on #12297
is there any update on this thread?

[2021-06-09 08:33] NicolasHug commented on #20111
Yes, we should make DecisionTreeRegressor and RandomForestRegressor consistent regarding max_features='auto'.

Regarding the deprecation, we can just raise a warning if max_feature=='auto' saying the behaviour will change in 2 versions, and tell users to explicitely use `max_features='sqrt'` or `max_features=None` to silence the warning.

BTW, I'm wondering why we even have an 'auto' default? Curr

[2021-06-09 10:01] seanbenhur commented on #19651
This issue should be closed now right!?

[2021-06-09 10:54] NicolasHug commented on #20235
Looks like something you'd want to report to `pytorch` I think

[2021-06-09 10:56] NicolasHug commented on #20234
Here's a more minimal example:

[code]

[2021-06-09 11:09] NicolasHug commented on #20234
At first sight I'm not too shocked about this: joblib will fork new processes, which means that each of these processes has a **copy** of the memory of the parent process, i.e. they each have their own version of `train_loss_history`, and only the local copies of it are modified. The parent process's version of `train_loss_history` is left untouched.

If you change the backend to threads (where me

[2021-06-09 11:17] dmeoli commented on #20234
@NicolasHug I just realized this following this [link](https://scikit-learn.org/stable/computing/parallelism.html#joblib-based-parallelism)

[2021-06-09 11:19] NicolasHug commented on #20234
I'm glad these docs are helpful <3

[2021-06-09 12:32] kilgore92 opened #20238 "Correction required in the implementation of hierarchical clustering for multicollinear features"
#### Describe the issue linked to the documentation

In the code example provided for hierarchical clustering of multicollinear features ([link](https://scikit-learn.org/stable/auto_examples/inspection/plot_permutation_importance_multicollinear.html#sphx-glr-auto-examples-inspection-plot-permutation-importance-multicollinear-py "link")), ward linkage is performed directly on the correlation matrix

[2021-06-09 13:13] michalkrawczyk commented on #19651
Issue to close with closed PR #19855

[2021-06-09 13:16] jnothman commented on #20238
This sounds appropriate. Would you be interested in opening a pull request with your suggested change?

[2021-06-09 13:20] glemaitre commented on #19333
TODO in subsequent PR:

- deprecate `n_input_features_` in `PolynomialFeatures` in favor of `n_features_in_`

[2021-06-09 13:41] kilgore92 commented on #20238
Sure. I'll do that! Thank you for the quick response :)

[2021-06-09 14:18] chkoar commented on #16705
Hey @coffenbacher and @rth, is anyone  working currently on the typing of the vectorizers?

[2021-06-09 14:20] #19651 closed

[2021-06-09 14:38] tnakae commented on #19772
@lorentzenchr
I opened PR #20231 to add positive argument to Ridge.
This feature is often needed in my job when I have to calculate positive economical impact.
I implemented it because It seems that nobody has not implemented yet.

Based on your idea, I used `lsq_linear` and `LinearOperator`, so sparse input is accepted even if `positive=True`.
I needed to add new solver  as `"trf"` when using `ls

[2021-06-10 11:42] OnlyDeniko commented on #20061
Do you expect logistic regression to always consume x2 or more memory?

[2021-06-10 13:52] glemaitre commented on #20235
@NicolasHug I am not really good with `pytorch`. Is there some patching of NumPy or SciPy at runtime?

[2021-06-10 13:56] glemaitre commented on #20235
Uhm I cannot reproduce with the following versions:

[code]

@katosh Could you just provide the version of `pytorch` for completeness, thought I think @NicolasHug is right regarding reporting the bug to `pytorch`.

[2021-06-10 14:00] NicolasHug commented on #20235
I'm not good either 😬. I don't think they patch numpy and scipy but I wouldn't be surprised if they patched *something* (like the backend or something like that)

[2021-06-10 14:04] glemaitre commented on #20234
I am moving this topic to a discussion

[2021-06-10 14:04] #20234 closed

[2021-06-10 14:55] jeremiedbb commented on #20140
I guess we can close this since we don't handle the packaging for the anaconda distribution and using the conda-forge package seems to work.

[2021-06-10 14:55] #20140 closed

[2021-06-10 15:13] o1iv3r opened #20245 "Add option to compute permutation_importance on a random subset of rows"
For very large data sets, computing the feature importance on a random subset of rows instead of all rows can spead up the calculation dramatically. Since permutation importance runs several iterations per variable, it makes sense to draw a new subset each time to cover a larger part of the data.

The change would require sklearn.inspection.permutation_importance to have an additional argument spe

[2021-06-10 16:39] jjerphan commented on #9313
I cannot reproduce:

[code]
This was fixed by #19271.

[2021-06-10 16:39] #9313 closed

[2021-06-10 18:47] glemaitre opened #20249 "MNT PR labeler failing"
It is already several time that I see the PR labeler failing:
https://github.com/scikit-learn/scikit-learn/pull/20248/checks?check_run_id=2796469912

@thomasjpfan @cmarmo Any idea why?

[2021-06-10 20:24] thomasjpfan commented on #20249
Something weird is going on with `ghapi`, I opened https://github.com/scikit-learn/scikit-learn/issues/20249 to fix it using `PyGithub`

[2021-06-10 21:52] chkoar commented on #16705
Should we relay on some package like `data-science-types` or `nptyping` in order to express arrays or we will use what we have currently?

[2021-06-10 22:31] thomasjpfan commented on #16705
`data-science-types` is currently archive because numpy now has support for [typing](https://numpy.org/devdocs/reference/typing.html). If we want the "ArrayLike" we most likely need to make it "Any" and if a new enough version of numpy (and python) is installed, use numpy's `ArrayLike` type.

That being said, we can add type hints `__init__` for vectorizers without needing "ArrayLike". I recommend

[2021-06-10 22:42] chkoar commented on #16705
I agree. I had the impression that `numpy.typing` requires 3.8. `scikit-learn-stubs` is a nice idea.

[2021-06-11 03:37] MMMMMay326 opened #20252 "Is it possible to change font in tree.plot_tree?"
Hi, I've checked the parameters of tree.plot_tree and there is no option for fonts. However, some languages, such as Chinese, cannot be displayed correctly, which is really important to me. So could anyone tell me if there is any method that I can use to change the font?

[2021-06-11 07:24] stephantul opened #20253 "TruncatedSVD transform is not equal to fit_transform"
#### Describe the bug

When fitting a `TruncatedSVD` on some random data, the output of `fit_transform` is not equal to a subsequent call of `transform` on the same data.  I would expect these to be equal. Subsequent calls to `transform` are equal. FWIW, I tested this on two systems, both gave the same output.

#### Steps/Code to Reproduce

[code]
#### Expected Results

I expect `close_1` and `clo

[2021-06-11 07:28] rth commented on #16705
That would be great. The naming style for stubs seems to be [`types-<package-name>`](https://pypi.org/search/?q=%22types-%22&o=) for a number of packages that did that.

[2021-06-11 07:31] rth commented on #16705
Also for instance, for other Flask mypy seems to be able to detect that a typing package needs to be installed,
[code]
Not sure what's the mechanism to register such packages.

[2021-06-11 07:32] stephantul commented on #20253
I did some additional test, this only pops up with the `randomized` algorithm, see the snippet below.

[code]

[2021-06-11 07:48] rgommers commented on #16705
You don't need to make it `Any`, you can do:
[code]

And this will work fine even if `numpy.typing` doesn't exist at runtime when users use an older NumPy version. SciPy has started doing this and it seems to work well.

I don't think there's any point in trying to make type annotations work with old numpy versions - you're then forced to type things as `Any` which means there is little value in h

[2021-06-11 08:17] NicolasHug commented on #16705
For completeness, we discussed this in a core dev meeting a few months ago. The conclusion was that the cons still outweigh the pros. I remember these 2 points mainly:

- introducing typing can help with input validation: not really. We have tons of conditional input validation (like a can be an int but only if b is None), and we have tons of range validation as well. Types won't help as much here

[2021-06-11 08:48] rth commented on #16705
For scikit-learn itself yes, it's unlikely that we would discover many bugs with typing. For downstream users though, code can, and is likely to be insufficiently tested (it's hard to write tests for the ML training loop). There typing could add a lot of value.

Say you have a third party notebook with some scikit-learn code. How can tell if it's valid, short of running it? At least running mypy o

[2021-06-11 16:14] EpcLoler commented on #20210
Hi! If this issue is not taken up i'd like to contribute.

[2021-06-11 16:51] katosh commented on #20235
It was run with Pytorch 1.7.1 with GPU support and I put this in the description above now. I will try this in a new env with the new Pytorch version.

[2021-06-11 17:36] dsdoermann commented on #19497
Does anyone have a solution for this yet?

[2021-06-11 18:04] gregorystrubel commented on #19497
The PR is still under review, recently approved (yesterday) but not yet merged.

[2021-06-11 18:45] katosh commented on #20235
In a new env  using the condo package `pytorch-1.8.1-py3.9_cuda10.2_cudnn7.6.5_0` I can also **not** reproduce the error. So it may just be an issue with the specific pytorch version. Thank you for considering and testing!!

[2021-06-11 18:45] #20235 closed

[2021-06-11 19:06] #20249 closed

[2021-06-11 20:56] #18865 closed

[2021-06-12 06:45] svenevs commented on #8215
This issue came up with a member of a slack group I'm in.  The brief context was they found an issue here that fixed their problem, which was needing to upgrade one of their development environments.  Both they and I were confused about the behavior they were getting with variations of `pip install --upgrade [mysterious options available here]` such as `sklearn` or `scikit-learn` after finding the

[2021-06-12 10:46] lorentzenchr commented on #20111
@NicolasHug Could we use version 1.0 as an argument to avoid that deprecation cycle? If we go for the cycle, then I would announce that `"auto"` will be removed altogether and the new default will be `"sqrt"`.

[2021-06-12 11:05] NicolasHug commented on #20111
No :/
We had some (very confusing) discussions during core-dev meetings and in https://github.com/scikit-learn/scikit-learn/issues/14386 . I have zero energy to bring this back on the table TBH :)

I don't think we should do that. The original issue only concerns the regressors here, and if we remove 'auto' we'd need to make this consistent across all estimators, including the classifiers. So this

[2021-06-12 18:31] eitanrich commented on #20210
@EpcLoler, I havn't got around to it, so please do...

[2021-06-13 00:33] #20206 closed

[2021-06-13 07:56] i-aki-y commented on #20061
Sorry for the delay in replying.

I investigated your code furthermore, and I found your code does not measure memory usage properly.
I commented out the fitting parts and got the following results.

[code]

[code]

Most percentages of the contribution to the memory usages are come from outside of the model.
This is because accessing a numpy array by indexing makes a new copy instead of a view ret

[2021-06-13 11:23] shivendra90 commented on #20130
Closing the thread since there is no response.

[2021-06-13 11:23] #20130 closed

[2021-06-13 18:17] GBR-613 opened #20256 "train_test_split() stratify parameter does not work with test_size, train_size integer"
#### Describe the bug

If parameters test_size, train_size in function sklearn.model_selection.train_test_split() are int, stratify parameter is not honored

#### Steps/Code to Reproduce

[code]

#### Expected Results

Both y_train, y_test contain values 0 and 1

#### Actual Results

Both y_train, y_test contain values 0 only

#### Versions

System:
    python: 3.7.9 (tags/v3.7.9:13c94747c7, Aug 1

[2021-06-13 21:57] thomasjpfan opened #20258 "API options for Pandas output"
Related to:

- https://github.com/scikit-learn/scikit-learn/issues/5523 pandas in, pandas out
- https://github.com/scikit-learn/scikit-learn/issues/10603 typical data science use case
- https://github.com/scikit-learn/scikit-learn/pull/20100 array out in preprocessing
- #20110 output dataframes in column transformer

This issue summarizes all the options for pandas with a normal data science use c

[2021-06-13 23:43] ZhengzeZhou commented on #20059
@glemaitre @ogrisel @adrinjalali  @NicolasHug  @thomasjpfan  @glouppe Following up on this issue

[2021-06-14 08:47] GBR-613 commented on #20256
Update to the above: the problem is not specific for int parameters, it occurs when the test_size and train size do not cover the entire data frame.
For example, the following gets the same result:
data_train, data_test, y_train, y_test = train_test_split(X, y,
       test_size=400/len(df), train_size=600/len(df), random_state=0, stratify=y)

[2021-06-14 14:31] reshamas opened #20262 "add link to Thomas video on reviewing pull requests"
#### Describe the issue linked to the documentation
Should we add a link to @thomasjpfan video on "3 Components of Reviewing a Pull Request" to the Contributing Guide?
video link:  https://youtu.be/dyxS9KKCNzA

#### Suggest a potential alternative/fix

[2021-06-14 15:43] rth commented on #20253
This was fixed in https://github.com/scikit-learn/scikit-learn/pull/18528 included in 0.24.0 release. Closing. Please comment if updating the scikit-learn version doesn't resolve it.

[2021-06-14 15:43] #20253 closed

[2021-06-14 15:51] rth commented on #20252
`tree.plot_tree` returns a list of Annotations, so you should be able to change the font for each of those individually.

For instance,
[code]

see the list of [`matplotlib.text.Text.set_font*`](https://matplotlib.org/stable/api/text_api.html?#matplotlib.text.Text.set_font) methods for more details.

Closing. Please comment if this doesn't address your issue.

[2021-06-14 15:51] #20252 closed

[2021-06-14 15:57] glemaitre commented on #20132
I just got across the following paper: https://www.jmlr.org/papers/volume7/takeuchi06a/takeuchi06a.pdf

The formulation is non-parametric, uses kernel and can be solved as a quadratic programming problem. It might possible to implement it via `libsvm` maybe.

[2021-06-14 16:01] rth commented on #20245
Wouldn't it be mostly equivalent to subsample the data before sending it to  `permutation_importance`, which wouldn't require changing the `permutation_importance` function?

[2021-06-14 16:27] o1iv3r commented on #20245
Subsampling the data before sending it to the function means calculating all statistics on this subset only, likely introducing quite a bias. Sub sampling within an iteration is cleaner imho.

An alternative is calling the function with n_repeats equal to 1 several times, manually aggregating the results.  But then the parallelisation by variable becomes quite inefficient.

[2021-06-14 16:45] adrinjalali commented on #20258
The issue with the global config is that we haven't figured how to fix that nicely in a multi process setting, have we?

I think from the user's perspective, option 2 makes more sense since it's not really a _request_.

Also, when I think about third party meta estimators, I'm not sure which option is better.

[2021-06-14 16:46] ogrisel commented on #20027
#20257 was merged to bump the pinned version to 4.0.1 instead. This is not exactly what @glemaitre suggested.

WDYT @glemaitre? I have no strong opinion on this.

[2021-06-14 17:12] adrinjalali commented on #20059
from what I understand seems like moving away from the property and having a method to give the feature importances makes more sense from the API perspective.

From the implementation, I'd be probably happy if we implement both methods, since they (seem to) be only slightly different. Things which are better in theory are not always better in practice. But I'm also not sure how to really test for

[2021-06-14 18:03] rth commented on #20245
Any thoughts on this @NicolasHug ?

[2021-06-14 20:49] Ryanglambert opened #20266 "Precision @ Recall K || Recall @ Precision K"
#### Describe the workflow you want to enable

Enable users to conveniently calculate "Precision at Recall K" or "Recall at Precision K" on the probabilities (which aren't calibrated btw) from a sklearn classifier.

[code]

or possibly

[code]

Although the first one is more inline with how most of the other metrics are used.

#### Describe your proposed solution

I propose a function `precision_a

[2021-06-15 07:45] glemaitre commented on #20027
We can close here. @rth wanted to be more conservative here which is not a super big issue. We should only be sure to update sphinx time to time ;)

[2021-06-15 07:45] #20027 closed

[2021-06-15 08:40] ogrisel commented on #20258
In the context of scikit-learn we have a workaround that works:

https://github.com/scikit-learn/scikit-learn/blob/6d67937b3ce28fd3fc966d3d417df56c08c98502/sklearn/utils/fixes.py#L187-L205

[2021-06-15 08:49] ogrisel commented on #20258
I have the feeling that option 3 would be unnecessary verbose.

Option 2 and option 2b are not necessarily mutually exclusive no?

From an implementation point of option 2b (and maybe option 2) would impose the use of a decorator on all transformers right? Or we would provide the implementation of a public `transform` method in `TransformerMixin` and ask the subclasses to implement a private `_tra

[2021-06-15 09:37] lorentzenchr commented on #20258
For larger pipelines, option 1 is my personal favorite as a user.

[2021-06-15 10:51] GLevV opened #20268 "Add "friedman_mse" to RandomForestRegressor and ExtraTreesRegressor docs"
#### Describe the issue linked to the documentation

RFR and ETR support "friedman_mse" but it is not shown in [docs](https://github.com/scikit-learn/scikit-learn/blob/0eeebb1e3d59f739f6eb9319ceb254a8486493d5/sklearn/ensemble/_forest.py#L1327).

Also regarding #18248, name should be "friedman_squared_error" or "friedman_error".

[2021-06-15 11:27] GaelVaroquaux commented on #20258
I agree with your analysis.

Would it be interesting to have a version of option 1 where the default behavior is controlled by a global flag and is overridden by passing an argument to the transformer?

[2021-06-15 11:59] MaxwellLZH commented on #20262
take

[2021-06-15 14:01] pd15ms089 opened #20270 "Extention of Gaussian Mixture Models to Wrapped and Semiwrapped Gaussian Mixture Models"
#### Fitting mixture models to data that belong to circular scales are generally performed with von Mises Fisher mixture or wrapped Gaussian mixtures. Given that scikit-learn already has a module for fitting GMMs, I wish that could be extended for wrapped and semi-wrapped Gaussians.

#### Since [wrapped Gaussian](https://en.wikipedia.org/wiki/Wrapped_normal_distribution) is a concept of wrapping t

[2021-06-15 14:07] agramfort commented on #20132
@RPyElec @avidale thinking about it I think it makes more sense to add your stochastic solver to SGGRegressor as it also has the right API for stochastic solvers and it has all the machinery. It's "just" a matter of adding one more loss in the gradient computations.

[2021-06-15 17:21] #19333 closed

[2021-06-15 17:21] ogrisel commented on #19333
Yeah!!!

[2021-06-15 18:20] lacrosse91 opened #20274 "Some of text is not reflected."
The documentation for **sklearn.feature_selection.RFE** is something wrong.
Some of the method descriptions are missing the end.

https://github.com/scikit-learn/scikit-learn/blob/15a949460dbf19e5e196b8ef48f9712b72a3b3c3/sklearn/feature_selection/_rfe.py#L172-L184

<img width="1059" alt="スクリーンショット 2021-06-16 3 05 56" src="https://user-images.githubusercontent.com/19372617/122103149-4037be80-ce51-1

[2021-06-15 18:36] TomDLT commented on #20274
Thanks for reporting this issue. It happens because the summary description uses more than one line. According to [PEP257](https://www.python.org/dev/peps/pep-0257/#multi-line-docstrings):

See also [numpydoc's style guide](https://numpydoc.readthedocs.io/en/latest/format.html#short-summary). PR welcome.

[2021-06-15 19:13] DNXie opened #20275 "`sklearn.feature_selection.chi2` outputs nan"
#### Describe the bug
`sklearn.feature_selection.chi2` outputs nan

#### Steps/Code to Reproduce
Check the [gist](https://colab.research.google.com/drive/1AKCUvzC0s0JBpurzgcZpRyUiFIsHQ-uF?usp=sharing)

[code]

#### Expected Results
Expect the chi-squared stats between each non-negative feature and class according to its document  https://scikit-learn.org/stable/modules/generated/sklearn.feature_se

[2021-06-15 19:26] ZhengzeZhou commented on #20059
Yeah I think it's a better idea to provide a method instead of having it as a property. Should I go ahead and create a pull request for the implementation, or should we discuss more on the API?

[2021-06-15 19:32] lacrosse91 commented on #20274
Thank you for reply.
I'll try it!

[2021-06-15 21:48] #20262 closed

[2021-06-15 21:56] Sandy4321 commented on #18911
hello friends
is it possible to use pinball-loss
https://scikit-learn.org/dev/modules/model_evaluation.html#pinball-loss

for other than GBM
the matter is I do have good performance for
https://scikit-learn.org/stable/modules/generated/sklearn.svm.LinearSVR.html
but performance for GradientBoostingRegressor

lets say categorical data encoded to one hot then it will be
200000 parse binary features

[2021-06-15 23:51] mcgibbon commented on #11137
This bug is back in version 0.22.1. My output:
[code]

[2021-06-16 07:17] MJimitater opened #20276 "Add 0.0 and 1.0 as floats to `test_size` in `train_test_split()`"
#### Describe the workflow you want to enable
When using `train_test_split()`, it is currently expected that `test_size` is given a float between (0,1) as a fraction of the split, or an int as a total sample number of the split. When using `train_test_split()` in loops, e.g. for iteratively increasing `test_size`, then it is not possibly to input 1.0, which suggests that `X_test` is filled with 10

[2021-06-16 09:04] adrinjalali commented on #20059
I'd wait a tiny bit. We could add this to the agenda of our next community call and discuss it with folks a little bit.

[2021-06-16 09:06] jjerphan opened #20278 "KNN-Search is not translation invariant"
#### Describe the bug

K-NN search via `neighbors.NearestNeighbors` is not translation invariant currently.

#### Steps/Code to Reproduce

[code]

#### Expected Results

No exception should be thrown.

#### Actual Results

[code]

Distances aren't equal up to a small tolerance as well but I guess this is not that/as important.

#### Comment

Working on https://github.com/scikit-learn/scikit-learn/

[2021-06-16 09:32] gitDawn commented on #12845
Any workaround? I'm training LogisticRegressionCV that fails each time because of this issue.

[2021-06-16 10:00] ogrisel commented on #20278
I don't understand what you mean. Which of the following cases happens?

- change of distances of nearest neighbors are all within expected rounding errors, in which case it's normal to observe a few rank index inversions in the nn results
- change of distances of nearest neighbors are larger than the expected rounding errors, in which case we have a real problem that cannot be explained by roundi

[2021-06-16 10:33] jjerphan commented on #20278
I should have been clearer: what I meant is that generally one is interested by identifying correctly nearest neighbors (up to a few rank inversions) rather than having exact values for their distances.

Yet, different distances give different nearest neighbors, and this is what is happening in this case, and it is not just a few rank index inversions in the results. For example, to build on top o

[2021-06-16 11:17] NicolasHug commented on #20278
Although I'm not sure whether this matters much, this doesn't account for the fact that the ties could happen at the edge of the neighborhood, like a tie between the `n_neighbors`'th neighbor and the `n_neighbors + 1`th one.

That sounds reasonably low but it could definitely explain why there are not just rank inversions

[2021-06-16 12:41] ogrisel commented on #20278
Maybe it's expected to observe neighbors rank inversions caused by near ties and rounding errors with `n_neighbors=100`. Would this test pass with `n_neighbors=10`?

[2021-06-16 12:46] NicolasHug commented on #20278
also maybe try after spreading the samples a bit?

[code]

[2021-06-16 13:11] madhuracj commented on #20256
[code]

So, no wonder a sample of 1000, contains no 1s

[2021-06-16 13:47] jjerphan commented on #20278
With both proposed changes (including a greater spreading, see eb9d406) a few tests are failing, but it's negligible.

<details>
<summary> pytest trace on eb9d406 </summary>

[code]

</details>

[2021-06-16 14:02] jjerphan commented on #20278
I propose to:
 - ignore and close this issue and #20279
 - or include #20279's tests, asserting almost rather than strict equality for nearest neighbors, allowing less than 0.1%-mismatches for instance.

[2021-06-16 14:06] GBR-613 commented on #20256
@madhuracj I would expect it is the function duty to carefully collect items with class=1 and distribute them between y_train and y_test.

[2021-06-16 14:09] ogrisel commented on #20278
Maybe it would be easier to write tests that check invariance to translation for the `pairwise_distances`  method instead of neighbors queries. This would allow us to write test that checks that big distances are invariant but ignore differences for small distances that are typically caused by rounding errors.

WDYT?

[2021-06-16 14:14] jjerphan commented on #20278
Yes, this would also scope tests to a lower level, testing not just for neighbors queries but more interfaces and use-cases built on top.

[2021-06-16 17:03] quendee commented on #20276
New contributor, can I pick this one up?

[2021-06-16 20:01] quendee commented on #20276
So this is train_size to be 100% and test_size to be 0%

[2021-06-17 01:33] gwerbin commented on #12845
Hi all, sorry for the long absence.

I dug up my old code for this task and posted the core of it as a Gist here: <https://gist.github.com/gwerbin/3e095a63169042de88c80410ceca8705>. As you can see, it's mostly docstrings and error checking; the logic itself is not complicated. I used a [Bidict](https://pypi.org/project/bidict) to maintain the label correspondence because that's what made sense to

[2021-06-17 02:21] MMMMMay326 opened #20283 "Multi-class logistic regression (one-vs-rest): How to match each coefficient with the iterations in ovr?"
I have three classes (supermarkets, convenient stores, and grocery stores) and I want to use the logistic regression for classification. I understand how does the one-vs-rest method work and why I get three coefficients by applying LogReg.coef_. But what makes me confused is, how can I match each coefficient with the iterations in one-vs-rest?

For example, one of the coefficients must match with

[2021-06-17 06:01] MJimitater commented on #20276
That's exactly the use case, 100% train_size and 0% test_size.
Thanks @quendee for picking this up and whipping up a PR so quickly! Cheers

[2021-06-17 06:16] i-aki-y commented on #20275
I think it is a mathematical result that if the input targets have identical values, the corresponding chi-square will be undefined.

Chi-square is calculated by

\sum_i (x_i -  n * p_i)^2 / n * p_i,

where x_i is a sum of features with the i-th label, n is the total sum of the feature values, and p_i is a probability of the i-th label. See also https://www.wikiwand.com/en/Chi-squared_test

In you

[2021-06-17 07:26] OnlyDeniko commented on #20061
Thanks for the answer. It became clear to me. It seems to me that the issue can be closed

[2021-06-17 07:31] adriangb commented on #17087
I closed the associated PR (#17346) for reasons described in https://github.com/scikit-learn/scikit-learn/pull/17346#issuecomment-863001388. I'm going to close this issue as well since it seems the proposed change won't be accepted. Let me know if it should be re-opened for any reason.

[2021-06-17 07:31] #17087 closed

[2021-06-17 07:52] MMMMMay326 commented on #20283
That helps a lot! I didn't realize that the estimator.classes_ can reflect the order of classes. Thanks!!!!!

[2021-06-17 07:52] #20283 closed

[2021-06-17 09:31] dschwoerer opened #20285 "https for www.scikit-learn.org"
#### Describe the bug

Going to www.scikit-learn.org fails because https is not supported, and thus the forward to scikit-learn.org isn't seen.

Allowing the browser to downgrade to http works, and I end up reaching https://scikit-learn.org

#### Steps/Code to Reproduce

1. Disable plain http (e.g. with https everywhere)
2. visit www.scikit-learn.org
3. Be notified of a network based downgrade att

[2021-06-17 10:40] quendee commented on #20081
@jnothman @glemaitre I see that this is still open, could you guys give a look to the #20284 I made?
Is this the way to go? Shall I generalize this to all the other cases?

[2021-06-17 10:48] quendee commented on #20256
@GBR-613 Even using stratify the problem is such a low percentage that the number of samples will always round to 0, I do not think this is a issue with the function itself, you might consider increasing your sample size to make sure you get 1's

[2021-06-17 11:41] rth commented on #20081
For future reference: see https://github.com/indygreg/PyOxidizer/issues/69 for more context why using `__file__` is problematic.

[2021-06-17 12:30] ogrisel commented on #20276
I don't understand the motivation for this. Can you give a concrete example? Why not just discard the test side of the split if you do need it?

[code]

[2021-06-17 12:33] Carlos1729 opened #20286 "ModuleNotFoundError: No module named 'sklearn.preprocessing.data'"
https://stackoverflow.com/questions/60305098/modulenotfounderror-no-module-named-sklearn-preprocessing-data

Referred this but no use, any help.

 return pickle.load(open(os.path.join(dir, filepath), "rb"))
ModuleNotFoundError: No module named 'sklearn.preprocessing.data'

[2021-06-17 12:55] quendee commented on #20276
@ogrisel Obviously in a single context where you do not need the test size you could just discard,
but the point is very simples example:

`splits = [0,0.1,0.2]
for split in splits:
  X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=1-split, test_size=split)
`

This is not possible with the current implementation as it will fail for split = 0

[2021-06-17 13:59] mangleddata commented on #20177
@hakeemo I too would like to build my own bootstrap sampler. Did @NicolasHug's recommendation work ? It feels like it would've been easier if the random indices being generated were part of the RandomForestClassifier class

[2021-06-17 14:17] MJimitater commented on #20276
I guess I can close this for now (due to #20282).
I understand why its not so easily possible to integrate this feature.
No worries, adjusting the pipeline slightly for the peculiar cases is fine and no biggy.
Thanks

[2021-06-17 14:17] #20276 closed

[2021-06-17 15:08] MaxwellLZH commented on #20090
take

[2021-06-17 15:25] alexsomoza opened #20288 "Error reading a pickle file for a model in different origin version."
I'm using AWS Sagemaker and reading a pickle file for a model.
When I execute the following instruction:

_**prediction = model.predict(X_norm)**_

I get this error:

_**AttributeError                            Traceback (most recent call last)
<ipython-input-14-301abaefbbff> in <module>
     50     X_norm = minmax.transform(X) # tranforma datos de entrada completos
     51
---> 52     prediction

[2021-06-17 16:53] NicolasHug commented on #20286
You're probably trying to deserialize a pickle in version X that was serialized with version Y. This isn't supported. Closing, feel free to re-open  with further details.

[2021-06-17 16:53] #20286 closed

[2021-06-17 19:13] rth commented on #20288
Hi the error is fairly descriptive. For more details see https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations

You wouldn't get that error if the scikit-learn was installed with the same version. So probably the installation wasn't successful, or some issue with virtual env. In any case, it's likely not a bug with scikit-learn. If you still encounter

[2021-06-17 19:13] #20288 closed

[2021-06-17 20:31] ogrisel commented on #20285
http://www.scikit-learn.org/ works for me: I get redirected to https://www.scikit-learn.org/ automatically by firefox.

[2021-06-17 21:14] rth opened #20296 "Fix flake8 in examples"
Now that black fixed PEP8 for most of the code base in https://github.com/scikit-learn/scikit-learn/pull/18948 it would be nice to stop running flak8 on the diff, and instead make,
[code]
work.

This requires fixing a few flake8 issues in `examples/` and `doc/`. That would correspond to just 50 LoC diff and I think it would be worth it.

<details>

Full list of errors,
[code]

</detail>

[2021-06-18 05:20] dschwoerer commented on #20285
I get this error for https://www.scikit-learn.org
[code]

Are you certain http is disabled, and http://www.scikit-learn.org/ (which should be blocked) does not forward to  https://scikit-learn.org ?

Maybe simpler reproducer, no need to disable anything:
[code]

With http I get forwared to https://scikit-learn.org (which works)

[2021-06-18 05:43] norbusan commented on #20285
I get the same as @dschwoerer
it seems that the web server serving the pages is missing a `ServerAlias www.scikit-learn.org` in the https section (that would be for apache).
The IP is correctly set to the same since www.scikit-learn.org is CNAME scikit-learn.org.

[2021-06-18 06:20] Carlos1729 commented on #20286
@NicolasHug when I try to change scikit learn to the previous version, It shows something like this

Traceback (most recent call last):
File "/anaconda3/lib/python3.8/site-packages/django/core/handlers/exception.py", line 47, in inner
response = get_response(request)
File "/anaconda3/lib/python3.8/site-packages/django/core/handlers/base.py", line 181, in _get_response
response = wrapped_callback(r

[2021-06-18 09:06] NicolasHug commented on #20296
I'm all for making `flake8 .` pass and use it as a CI check, but I think we should still support and recommend `git diff upstream/main -u -- "*.py" | flake8 --diff` for PR contributions, as it's likely to be much faster to run than `flake8 .`

[2021-06-18 09:17] rth commented on #20296
That's what pre-commit is for, it only runs checks on modified files and should be fairly fast. Also is cross plaform, unlike pipes in bash.

The issue is that flake8 passes on the diff does not imply that user is not introducing new flake8 issues https://github.com/scikit-learn/scikit-learn/issues/11336#issuecomment-613724473

[2021-06-18 09:20] rth commented on #20296
Also on a desktop with SSD,
[code]
so it's not that long. But I agree that running flake8 only on modified files is a preferred workflow anyway.

[2021-06-18 09:23] NicolasHug commented on #20296
I have an SSD too (and a beefy laptop) but on mine it takes about 1min 😬:

[code]

Sounds good, as long as we don't tell users to use `flake8 .` on all PRs

[2021-06-18 09:23] rth commented on #20296
And actually running flake8 on the diff is slower for me,
[code]
likely because of git operations.

[2021-06-18 09:28] NicolasHug commented on #20296
lol I got it reversed. Checking out #20298:

[code]

[2021-06-18 09:30] rth commented on #20296
So I just learned that flake8 is using multiprocessing by default, so it likely also depends on the number of available CPU.

[2021-06-18 09:38] NicolasHug commented on #20296
Just curious, what version do you have?

[code]

I have 16 CPUs and only one of them is being used by flake8, barely at 80%

[2021-06-18 10:07] rth commented on #20296
Exactly the same versions, on Linux. It looks like it's disabled on MacOS (https://github.com/PyCQA/flake8/issues/1337#issuecomment-843693928) and possibly on Windows https://github.com/PyCQA/flake8/issues/1140. We should tell them to use Joblib if it's installed lol :)

[2021-06-18 12:00] #20238 closed

[2021-06-18 12:02] #11441 closed

[2021-06-18 12:22] #19773 closed

[2021-06-18 13:08] ogrisel commented on #20285
Unfortunately we have no control on this. We are using github.io / github pages with a CNAME entry in the DNS for scikit-learn.org.

[2021-06-18 13:11] ogrisel commented on #20285
Ah ok, I get the error you describe if I type `https://www.scikit-learn.org/stable/` in the URL bar of firefox. I think github markdown is doing a bit of rewriting of the URLs and so I did not understand the original report.

That being said I am not sure how to fix this.

[2021-06-18 13:17] norbusan commented on #20285
Hi
I'm away from computer, but this page looks exactly what is happening: https://docs.github.com/en/pages/configuring-a-custom-domain-for-your-github-pages-site/troubleshooting-custom-domains-and-github-pages

Are the cnames properly entered?

[2021-06-18 13:29] ogrisel commented on #20285
I also found this: https://stackoverflow.com/a/58672792/163740 which seems related but looks a like a hack that could potentially break `https://scikit-learn.org/` for several hours...

[2021-06-18 13:35] NicolasHug commented on #20256
@GBR-613 There are `152152 / 4 = 38038` negative sample for each positive sample.

so on average you'll need at least `38038` samples to observe a positive sample in the split. Asking for 1000 samples is too low.

Stratifying means "respect the pos/neg ratio in the split, as much as possible". If you consistently observed negative samples with just 1000 samples, it would mean that the class imbala

[2021-06-18 13:35] #20256 closed

[2021-06-18 13:36] ogrisel commented on #20285
Here is our current DNS config:

<img width="826" alt="Screenshot 2021-06-18 at 15 34 42" src="https://user-images.githubusercontent.com/89061/122569161-c1a67100-d04a-11eb-80ca-708702f21e21.png">

So we do have 2 subdomains: `www` and `contrib`.

I can try to setup a webredir for the `www` subdomain. However it will generate an SSL certificate that is different than the one used for `https://sciki

[2021-06-18 13:43] ogrisel commented on #20285
Let me try this.  For the record. the new configuration is:

<img width="825" alt="Screenshot 2021-06-18 at 15 40 05" src="https://user-images.githubusercontent.com/89061/122569938-8a848f80-d04b-11eb-8c92-596db1809816.png">

The web forwarding rule hosted by gandi is:

<img width="1078" alt="Screenshot 2021-06-18 at 15 42 49" src="https://user-images.githubusercontent.com/89061/122570311-ebac6300-

[2021-06-18 13:51] #20274 closed

[2021-06-18 13:51] norbusan commented on #20285
Hmmm, I wouldn't do that, sounds to shacky to me.

Looking at the certificates we see that
- the cert protecting scikit-learn.org has CN=scikit-learn.org, and "Certificate Subject Alternative Names" only set to scikit-learn.org, and not to `*.scikit-learn.org` or some list of specified ones.
- the cert provided when going to `https://www.scikit-learn.org/` --- aehm --- that is not reacting at all

[2021-06-18 14:23] ogrisel commented on #20285
I did a `shift-ctrl-R` to refresh without cache on the `https://www.scikit-learn.org/stable/` with the certificate error page in firefox and I now get redirected to `https://scikit-learn.org/stable/` transparently.

So the webredir config seems to work as expected.

I agree but I suspect that other DNS providers also provide a similar service, if we ever need to change.

[2021-06-18 14:23] ogrisel commented on #20285
If you confirm that this work on your end, we can close the issue.

[2021-06-18 14:26] dschwoerer commented on #20285
Thanks, yes works great :+1:

[2021-06-18 15:37] ogrisel commented on #20285
Thanks for confirming. Closing.

[2021-06-18 15:37] #20285 closed

[2021-06-18 15:42] ogrisel commented on #20296
Reopening this as  #20298 was merged making `flake8 .` work on the main branch but the contributors documentation was not updated yet.

[2021-06-18 15:49] ogrisel commented on #20296
For reference, running `flake8 .` on the top level folder on my macbook air m1 (with ssd) takes 29s. It seems to be using a single core.

So asking people to run it on the whole code base is problematic in my opinion...

[2021-06-18 15:51] rth commented on #20296
Yes. I think the current documentation is fine. + suggest using pre-commit more.

[2021-06-18 16:02] norbusan commented on #20285
@ogrisel thanks, confirmed also from my side.

[2021-06-18 16:12] ogrisel opened #20301 "How to fix merge conflicts related to the black code style reformatting of the scikit-learn code base"
In #18948 we recently started to use [black](https://black.readthedocs.io/en/stable/) to format almost all of scikit-learn's code, so it's possible that your PR is conflicting with the `main` branch due to the new code formatting style. Here are some instructions to resolve conflict that you may encounter when merging your PR's branch with the `main` branch.

Here we assume that `upstream` is an a

[2021-06-18 16:59] ogrisel commented on #20296
I installed it, and it seems to work fine: it only run flake8 on the edited files as expected.

[2021-06-18 16:59] #20296 closed

[2021-06-18 17:07] thomasjpfan commented on #20301
I updated commit to cherry-pick https://github.com/scikit-learn/scikit-learn/commit/e8f58cddb55777e0e40195aaf64d5a890b9fdaac which adds the `target_version` into the black config.

[2021-06-18 17:37] ogrisel commented on #20245
Sounds like a valid analysis although I am not sure it would change much in practice. IMO, the main risk of subsampling once apriori and running `n_repeats` times on the same subsample is to under-estimate the uncertainty silently (smaller error bars than ideal).

I am fine with adding a `subsample=1.0` parameter as it should be easy to implement and maintain. @o1iv3r feel free to open a PR.

[2021-06-18 17:38] ogrisel commented on #20245
Ideally `max_samples` should work similarly to the `BaggingClassifier` option with the same name:

[2021-06-18 19:18] thomasjpfan commented on #18177
My comment in https://github.com/scipy/scipy/issues/13486#issuecomment-774160623 suggest to add `microsoft/graspologic` to https://scikit-learn.org/stable/related_projects.html

Scikit-learn has an [inclusion criterion](https://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms) which states:

The [ASE paper](https://scikit-learn.org/stable/faq.html#what-are-the-in

[2021-06-19 08:14] lorentzenchr commented on #20268
It is not shown in the docs because we think that it should not be used in trees or forests. It’s main purpose is for gradient boosting which on the tree module.

In #18248, there was not (yet) a consensus about renaming of friedman_mse.

[2021-06-19 08:14] #20268 closed

[2021-06-19 09:00] lorentzenchr commented on #20162
@ThomasBourgeois Dreams are allowed. Sharing them even more so.
If you calculate quantiles, you can use mean_pinball_loss with the upcoming v1.0 to assess them or compare several models predicting them.
For assessing (marginal) calibration (what you might call coverage in this context), there is no metric available that I‘m aware of. (But they are easy to implement.)

[2021-06-19 14:12] thomasjpfan commented on #20301
I just tried this approach with one of my older PRs. I think straight merging is easier. Running black yourself with the commit right before `black` introduces its own merge conflicts.

[2021-06-19 14:24] thomasjpfan commented on #20301
The best tool for the job looks to be: https://github.com/akaihola/darker , but it has a bug where I need to install it from `git`:

[code]

[2021-06-19 16:46] ThomasBourgeois commented on #20162
HI @lorentzenchr thanks for your answer !
The pinball loss clearly is one of them, also very useful to fit algorithms like gradientboostingregressor, amongst others.

However the other metrics i showed above and that I just updated with their formula provide very useful additional information : for example the ACE should be very close to 0 on a test set, for the quantiles to be "correct", that is

[2021-06-19 22:30] thomasjpfan commented on #12712
Closing because we are using `autosummary_filename_map` to resolve this issue.

[2021-06-19 22:30] #12712 closed

[2021-06-20 12:55] JingtaoWang22 opened #20305 "adjusted_rand_score cannot handle large numbers"
#### Describe the bug

The function sklearn.metrics.cluster.adjusted_rand_score doesn't work for very large inputs. I sent two lists of length around 100k and it raises an overflow error. I feel the reason is numpy.int64 data type is used in the function implementation and it cannot handle very large integers. I also give a potential solution. Hope it helps.

#### Steps/Code to Reproduce

[code]

[2021-06-20 13:12] mdturp commented on #20186
Thanks for your reply.

The use-case I can think of is one where there is no clear definition of a positive label.
(I believe the [sklearn documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html) speaks of a `greater label` for the binary case, which to me is one way of setting a positive label. Please correct me if that interpretation of the greater lab

[2021-06-20 14:41] thomasjpfan opened #20306 "Give a more informed warning message when unpickling a estimator with a different sklearn version"
I think we get this issue enough times for us to try to be more user friendly.

I propose we store the sklearn version into the estimator itself and when unpickled with another version of sklearn issue a warning with a link to https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations

[2021-06-20 15:01] thomasjpfan commented on #20061
Thank you for the help with debugging this memory issue @i-aki-y !

[2021-06-20 15:01] #20061 closed

[2021-06-20 15:15] thomasjpfan commented on #19335
Closing because all the deprecations are removed. Feel free to reopen if you see anything left.

[2021-06-20 15:15] #19335 closed

[2021-06-20 15:24] thomasjpfan commented on #19051
In this case, I think we can have `text_kwargs` and pass it into the `ax.text` call. We already do something similar in partial dependence curves.

[2021-06-20 15:39] thomasjpfan commented on #18085
Closing because the doc is already fixed on the stable release.

[2021-06-20 15:39] #18085 closed

[2021-06-20 16:22] thomasjpfan commented on #12260
With https://github.com/scikit-learn/scikit-learn/pull/20272 we are deprecating `n_features` and using `n_features_in_` which is documented.

[2021-06-20 16:22] #12260 closed

[2021-06-20 16:26] #1349 closed

[2021-06-20 17:45] thomasjpfan commented on #6378
Closing because there is no a reproducible example.

[2021-06-20 17:45] #6378 closed

[2021-06-20 21:23] Onk24 commented on #20266
This is an important suggestion.  I would like to contribute to the solution.

[2021-06-20 21:35] #10448 closed

[2021-06-20 21:56] thomasjpfan commented on #11776
Closing because https://github.com/scikit-learn/scikit-learn/pull/9597/ has been merged.

[2021-06-20 21:56] #11776 closed

[2021-06-20 22:02] thomasjpfan commented on #11854
Closing because a reproducible snippet was not provided.

[2021-06-20 22:02] #11854 closed

[2021-06-20 22:24] thomasjpfan commented on #14317
Fixed in #14539

[2021-06-20 22:24] #14317 closed

[2021-06-20 22:35] #15646 closed

[2021-06-21 00:38] thomasjpfan opened #20308 "Ensure that docstrings pass numpydoc validation"
**This issue is reserved for the [Data Umbrella Latin America Sprint](https://latam2021.dataumbrella.org/) on June 26, 2021 as a good first issue. For non-sprint contributors, please wait till June 27, 2021 to work on this issue.**

1. Make sure you have the [development dependencies](https://scikit-learn.org/stable/developers/contributing.html#how-to-contribute) and [documentation dependencies](h

[2021-06-21 02:05] jmugan commented on #16068
I came here to figure out what "Note that the samples within each split will not be shuffled." means since it wasn't clear to me. I now understand, reading the discussion.

[2021-06-21 07:00] lesteve commented on #8215
I guess maybe the 1.0 release could be an opportunity to do this cleanup + breaking change?

I am imagining something like to make the disruption a bit smoother:
- soon: uploading sklearn 0.1 on PyPI which raises an error explaining the change and allow an easy way out through an environment variable (better suggestions welcome for the easy way out)
- in combination with the scikit-learn 1.0 relea

[2021-06-21 07:30] alfaro96 commented on #20301
Should we pin this issue for future contributors?

[2021-06-21 08:49] pandeyp opened #20313 "Installation breaks on aarch64 architecture for version 0.23.2 for scipy 1.7.0 released yesterday"
Installation of scikit-learn version 0.23.2 breaks on aarch64 architecture machine  with the new release of scipy 1.7.0 when manually built from source

[code]

I get the following error:
[code]

However, if I install earlier version of scipy, scikit-learn installs without any issuses as given below:
[code]

Is is possible to pin down the scipy version to earlier releases for this scikit-learn ver

[2021-06-21 09:23] rth commented on #8215
It would be good to fix this. I think if we error we always need a way out, because some popular but no longer maintained libraries can have `sklearn` in their list of dependencies and there is not much one can do about it.

Maybe we could make 1 `sklearn` release,
 - that changes the description in https://pypi.org/project/sklearn/ to be much more verbose and explicitly say that bad things will h

[2021-06-21 09:39] rth commented on #20313
This means that you cannot pip install scipy 1.7 when building it from sources. Could you please open an issue at https://github.com/scipy/scipy with the output of,
[code]
?   It's not an issue with scikit-learn but with scipy.

[2021-06-21 09:48] ogrisel commented on #20301
It is pinned.

[2021-06-21 09:50] ogrisel commented on #20301
The problem is that it's not trivial to get this command to work on windows: it will only work in a [git bash](https://gitforwindows.org/) or a WSL command-line prompt.

[2021-06-21 09:56] ogrisel commented on #20301
Maybe it's easier to reformat the PR code with black by passing all the necessary config as command line argument, commit the result and then merge the latest main?

[2021-06-21 10:01] o1iv3r commented on #20245
Sure, I will make a PR. Good point with the same parameter from BaggingClassifier!

[2021-06-21 10:01] hugovk commented on #8215
Brownout? Compare:

https://github.blog/changelog/2021-04-29-github-actions-ubuntu-16-04-lts-virtual-environment-will-be-removed-on-september-20-2021/

[2021-06-21 10:06] rth commented on #8215
Yes, thanks. For some reason my brain only suggested [hashbrown](https://github.com/rust-lang/hashbrown) when I tried to find the term :)

[2021-06-21 10:09] pandeyp commented on #20313
Thanks for the quick reply but while installing scikit-learn 0.23.2 on instances with aarch64 architecture can't we get scikit-lean to pull in scipy < 1.7 by default and pin down that scipy version for that scikit-learn version?

[2021-06-21 10:22] rth commented on #20313
We won't make a release just for this I think. Also most people would actually want latest scipy.

While scipy is likely going to make bug fix release in the near future and so they can fix it by adding pythran to build dependencies if they are warned.

[2021-06-21 10:27] pandeyp commented on #20313
OK makes sense. Thanks for your time. I have reported the bug with scipy. The fix for my use case was to install scipy version beforehand and then install scikit-learn so that the required dependency is already satisfied while installing scikit-learn.

[2021-06-21 10:27] #20313 closed

[2021-06-21 13:43] lesteve commented on #8215
Good point, this also applies to old package versions that at one point required sklearn and unfortunately we can not fix the past 😉.

OK I am fine with this.

About the brownout, why not ... I'd rather have something simpler if possible. It feels slightly weird to have something failing and then working the next day (I do get the increasing failure frequency thing but still ...). IMO one of the r

[2021-06-21 14:07] o1iv3r commented on #20245
Anyone ever had this issue even though build tools were installed as described in the manual?

` distutils.errors.DistutilsPlatformError: don't know how to compile C/C++ code on platform 'nt' with 'mingw32.exe' compiler
`

[2021-06-21 14:38] rth commented on #8215
Brownout *is* the nudge. Other per-user notifications are not expected. PyPi did a similar thing for deprecating non SNI compatible clients https://github.com/pypa/pypi-support/issues/978. It quite suitable for situations where you want some change to happen, make sure users are aware but want to make it a hard blocker either. It also allows one to monitor the migration as it happens (in our case

[2021-06-21 15:46] divyanshudeoli commented on #20305
I am a new here
I tried merging a pull request and failed 3 checks in azure pipelines and got plenty of errors in

Linux pylatest_pip_openblas_pandas Test Library
126 failed, 20993 passed, 168 skipped, 58 xfailed, 36 xpassed, 3317 warnings in 618.68s (0:10:18)
and Windows py37_pip_openblas_32bit Test Library
= 1 failed, 19794 passed, 1126 skipped, 59 xfailed, 35 xpassed, 3702 warnings in 1012.61s

[2021-06-21 18:48] thomasjpfan commented on #20301
That would work. Is there a nice way to get all the files that the PR changed in windows? Maybe just copying and pasting is good enough?

1. `git merge-base upstream/main HEAD`
2. `git diff COMMIT_FROM_STEP_1 --name-only -- "*.py"`
3. `black -t py39 --exclude ... FILES_FROM_STEP_2`

[2021-06-21 19:35] BbChip0103 opened #20317 "RepeatedGroupKFold feature"
Regarding #13619

GroupKFold is done deterministically, it makes repeated GroupKFold impossible,
So I implemented shuffle in the GroupKFold and implemented RepeatedGroupKFold like below.

---

[code]
=== Output ===
TRAIN: [1 2] TEST: [0 3]
TRAIN: [0 3] TEST: [1 2]
TRAIN: [0 1] TEST: [2 3]
TRAIN: [2 3] TEST: [0 1]

---

I tried to implement this in a scikit-learn compatible way.
Please find below s

[2021-06-21 19:39] helper-uttam commented on #20301
hey can someone help me?
I had opened a PR in scikit-learn scorer.py, but it is not getting merged :(
I need to know that if I had done  anything wrong? or I should contribute in some other way? :(

[2021-06-21 19:43] rth commented on #20301
Will answer in https://github.com/scikit-learn/scikit-learn/pull/20316

[2021-06-21 19:48] lorentzenchr commented on #19949
Fixed in #19966.

[2021-06-21 19:48] #19949 closed

[2021-06-21 20:02] helper-uttam opened #20318 "Root Mean Square Log Error"
#### Describe the workflow you want to enable
I want to update the scorer.py and add a new function to it i.e., `root_mean_square_log_error` because I came across many contests where the main task is of finding root_mean_square_log_error(RMSLE).  And scikit-learn initially do not have such inbuilt function.

#### Describe your proposed solution
`Root Mean Square Log Error` is nothing but the squar

[2021-06-21 20:11] rth commented on #20318
I agree that it would be useful, but we could implement it the same way RMSE is currently done with [`mean_squared_error(..., squared=False)`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html).

So +1 to add a `squared` option to `mean_squared_log_error` with a default to True.

Let's wait a day or two to see if there is other feedback.

[2021-06-21 20:42] helper-uttam commented on #20318
Obviously, But I am considering  ` mean_squared_log_error`  not `mean_squared_error`!

And according to my readings ` mean_squared_log_error` has no parmaters like `squared=`. It is there in `mean_squared_error` but not in ` mean_squared_log_error` .  It will throw an error if we will try to adjust the parameter as 'squared=False'

The error will be:
mean_squared_log_error got an unexpected arguem

[2021-06-21 20:44] rth commented on #20318
Yes, but we could add that parameter.

[2021-06-21 20:48] helper-uttam commented on #20318
Yes, sure! should we wait for other's opinion? :)
then we will go accordingly for its implementation!

[2021-06-21 21:05] thomasjpfan commented on #20318
I am +1 for supporting RMSLE by adding `squared=` to `mean_squared_log_error`.

[2021-06-22 04:15] helper-uttam commented on #20318
Okay then I am moving forward to implement the `squared=`  as parameter  in `mean_squared_log_error'!

It would be great, if I can connect with someone via LinkedIn, email, etc , who will help me whenever I need help! :D

[2021-06-22 06:53] Svito-zar commented on #2089
Why is this issue closed?

[2021-06-22 07:47] rth commented on #20318
Don't hesitate to ask questions here or in your PR. Most discussion happens on Github.

[2021-06-22 08:10] rth commented on #2089
Could you please open a new issue ideally with a minimal reproducible example and the full traceback? The initial discussion from 2013 might not be fully relevant and would just add to the confusion.

[2021-06-22 08:12] rth commented on #2089
For instance https://github.com/scikit-learn/scikit-learn/issues/2089#issuecomment-502392705 could do as a minimal example in a separate issue.

[2021-06-22 08:56] ogrisel opened #20319 "[RFC] critical difference diagrams for multiple model performance comparison"
I have the impression that more and more machine learning papers use "critical difference diagrams" to summarize analysis of the predictive performance of a group of models.

In particular this method is implemented in https://github.com/hfawaz/cd-diagram under the GPLv3 license (with dependencies on pandas and networkx).

I wonder if we should not include such a plotting utility directly in sciki

[2021-06-22 09:51] rcoughlan-1980 opened #20320 "Ada boost feature_importances_ contains NaN"
Hi I posted the below in the github discussions and I also posted on Stackoverflow https://stackoverflow.com/questions/68019978/adaboost-sklearn-feature-importance-nan

The version I was using was version 0.24.2 which produced the below problem (for my own dataset and for a sklearn dataset) , however I have now downloaded an older version 0.22.2 and the error is no longer there. Not overly sure wh

[2021-06-22 12:01] helper-uttam commented on #20318
I had created a new branch named `rmsle`, and updated the code there! will you please have a look.

[2021-06-22 12:12] rth commented on #20318
Please open a PR, so I can comment on it.

[2021-06-22 13:03] helper-uttam commented on #20318
PR is opened #20322
Why the tests is being failed on CircleCI, I am not getting this problem.

[2021-06-22 14:46] #20199 closed

[2021-06-22 14:46] #20216 closed

[2021-06-22 15:02] ogrisel commented on #8215
+1 for the brownout strategy. We can setup a wiki page or an issue that documents the planned brownout schedule and announce it on twitter + the mailing list.

[2021-06-22 15:02] ogrisel commented on #8215
We should discuss this on the next core dev meeting.

[2021-06-22 16:22] glemaitre commented on #20059
I think this is a good idea to present the issue and have API discussion in
the next community meeting next week indeed.

On Wed, 16 Jun 2021 at 11:04, Adrin Jalali ***@***.***> wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2021-06-22 16:29] hfawaz commented on #20319
Hello @ogrisel
Thanks for the mention.
Indeed I agree that this is a very important feature.
I will try to answer your questions - whenever I feel confident / eligible to do so obviously

I do not have a problem with scikit-learn reimplementing. As for the original code it was inspired from [Orange3](https://orangedatamining.com/license/)

Indeed Pandas is not necessary here, however we have to wr

[2021-06-22 18:55] grisaitis commented on #19137
Haha, have you never used `pipenv`?

[2021-06-22 21:00] lorentzenchr commented on #20111
@mnwright May I kindly ask you whether you could share some more insights beyond https://arxiv.org/pdf/1804.03515.pdf about a good default for the number features (here `max_features`, `mtry` in ranger) for random forests?

[2021-06-22 21:01] lorentzenchr commented on #20111
@amueller I hope that you agree that if we were to write `RandomForestRegressor` from scratch, there would be no `"auto"` option and either `"sqrt"` or `"1/3"` would be the default.

[2021-06-22 21:22] sidhartha-roy opened #20329 "Label Encoder does not work in the new sklearn version"
https://github.com/scikit-learn/scikit-learn/blob/2beed55847ee70d363bdbfe14ee4401438fba057/sklearn/preprocessing/_label.py#L38

Tested the following algorithim:
[code]

The above code produces the following error:
    237             # because the list is converted to Unicode numpy array
    238             if isinstance(X, list) and \
--> 239                any(isinstance(elem, str) for row in X

[2021-06-22 21:49] amueller commented on #20111
@lorentzenchr I would agree that there shouldn't be ``auto``.  I wouldn't insist that the default for ``Regressor`` and ``Classifier`` are consistent, and I'm not sure if ``all`` shouldn't also be considered. Phillip Propst who did https://arxiv.org/pdf/1804.03515.pdf is closely related to the people we worked with for the paper I mentioned in https://github.com/scikit-learn/scikit-learn/pull/2025

[2021-06-22 21:53] amueller commented on #20111
Oh very related work with @Hildeweerts is in https://arxiv.org/pdf/2007.07588.pdf but it's for classification only and we tried to learn the exponent ``n_features`` basically, and couldn't beat the default in sklearn.

[2021-06-23 00:01] TomDLT commented on #20329
Thanks for reporting this issue. Could you provide a code to reproduce the bug ? Could you also provide the version you are using, with `import sklearn; sklearn.show_versions()` ?

[2021-06-23 00:36] UnixJunkie commented on #19137
I don't know pipenv.

PS: The R package manager is pretty good, in my experience.

[2021-06-23 06:21] lorentzenchr commented on #20111
It seems all cited literature (here) and citations therein only consider classification:confused:

[2021-06-23 07:04] onacrame commented on #16135
I think this is actually a good idea and I’m surprised there would be opposition to this.  One can make the same argument for not implementing RepeatedKFold i.e., you can run KFold in a loop so there’s no need for the Repeated version.  If I have a model that shows a high degree of variance across splits I may want to get an average of cross validated predictions to see the variance of predictions

[2021-06-23 07:55] glemaitre commented on #20329
Reporting the version will be important because I cannot reproduce the bug in the latest version.

[2021-06-23 09:01] glemaitre commented on #20111
I think that https://arxiv.org/pdf/1804.03515.pdf is relevant and was pointed out by @glouppe in the original issue: https://github.com/scikit-learn/scikit-learn/issues/7254#issuecomment-541827013

[2021-06-23 09:10] glemaitre commented on #20111
More precisely the paper: https://arxiv.org/pdf/0811.3619.pdf in Sect. 2.2 report some regression benchmark

[2021-06-23 10:20] ogrisel opened #20335 "New ARM64 test failure: test_loadings_converges in test_pls.py"
Observed on travis last night, possibly caused by the upgrade of numpy / scipy:

[code]

I haven't investigated the cause yet. I can probably give it a look interactively in a linux arm64 docker container on my M1 laptop.

[2021-06-23 11:22] mayer79 commented on #20111
@glemaitre : Thanks for the link.

Unfortunately, the performance is evaluated using OOB error, not through cross-validation. OOB errors are useful for quick prototyping, but in a paper that explicitly studies performance, it is between suboptimal and rubbish. As a paper referee, I would not accept this.

Just do demonstrate how different the impressions between 5-fold cross-validation and (full d

[2021-06-23 13:00] ogrisel opened #20337 "Numerical stability problems in GaussianProcessRegressor on 32 bit Python"
See the failing tests observed on 32 bit Linux with Python 3.7 or 3.8 in #20334 for details.

Those tests are skipped for now to avoid blocking the nightly build and release processes.

[2021-06-23 13:37] glemaitre commented on #20111
we are dealing with a difference of > 0.0002 in terms of MSE between OOB
and CV.
I would not call this rubbish until the standard deviation is not provided
as well.

I would not be surprised that the variance of the score/error on the OOB
being large when
the number of trees is small thought.

On Wed, 23 Jun 2021 at 13:22, Michael Mayer ***@***.***>
wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inr

[2021-06-23 13:39] ogrisel commented on #20335
I cannot reproduce. I built with numpy 1.19.3 and tested with numpy 1.21.0 and scipy 1.7.0 and Python 3.9 as on travis this test passes...

[2021-06-23 15:18] adrinjalali commented on #20301
Could we also add the git ignore command thingy here? We should have one place where all the required changes and configurations in one place. I'm quite confused now.

[2021-06-23 17:21] thomasjpfan commented on #20301
I added a small section for git blame to work locally run. i.e:

[code]

[2021-06-23 17:31] adrinjalali commented on #20301
Thanks @thomasjpfan , I updated its title, otherwise :+1:

[2021-06-23 19:56] patfla opened #20341 "Confusion_matrix: drilldown to underlying data."
I'm creating a confusion_matrix for the oxford102 UK flower dataset with the following code:

[code]

This produces a 102X102 cm that's unwieldy but not unuseful.

The problem is that this is the first time I've used a confusion_matrix and while I've stepped through some of the sklearn (and mlxtend) code I'm unsure of the mapping from the cells down onto the underlying data.  That is, can I rely o

[2021-06-24 08:51] jjerphan commented on #20278
I followed up on tests in #20279 with https://github.com/scikit-learn/scikit-learn/pull/20279/commits/7d0896791389c14dd4f6a258f1594ea62ee93759.

[2021-06-24 09:24] ogrisel commented on #20335
Cannot reproduce for now. Will reopen if it happens again with more details from #20338.

[2021-06-24 10:01] helper-uttam commented on #17595
+1 :)

[2021-06-24 11:17] helper-uttam commented on #20341
Try using `sns.seaborn` you can plot more visual `confusion_matrix` with this.  :)

[2021-06-24 12:00] glemaitre commented on #20320
The issue is in the feature importance computed in a tree. Inspecting one specific tree, we could check that one of the feature importance was `inf` by using `tree_.compute_feature_importances(normalize=False)`.

We should check what is the reason to get such an infinite number.

[2021-06-24 12:26] glemaitre commented on #20320
Indeed, the impurity at a node of the tree is `-inf` and it makes the feature importance computation going sideways.

I assume that it is a side-effect of using AdaBoost that at some points will reweight some sample with a really small weight (potentially to machine precision). Since this weight is used to normalize (by dividing by the weight), I assume that we could get an `inf` at this point.

I

[2021-06-24 14:01] thomsentner opened #20349 "`model_selection.cross_validate` doesn't pass `groups` argument to estimator"
#### Describe the workflow you want to enable
Nested cross validation is currently impossible with a grouped k-fold iterator in the inner loop. The [currently proposed workflow by sklearn](https://scikit-learn.org/stable/auto_examples/model_selection/plot_nested_cross_validation_iris.html) includes `model_selection.cross_val_score` or  `model_selection.cross_validate` in the outer loop, and `model

[2021-06-24 14:37] jnothman commented on #20349
I think we can consider doing this before Slep006 but without that fuller
solution, there will still be cases where the user might expect groups will
be passed to an embedded estimator when it won't.

[2021-06-24 14:58] jnothman commented on #16135
cross_val_predict would need a different output format to handle this and
other cases. I'd suggest returning parallel arrays for prediction, sample
index and perhaps test set index. This change in return value would need to
be available either through a parameter to flag this mode or through a
separate function. What might the parameter be called that would maximise
the feature's visibility?

[2021-06-24 15:00] jnothman commented on #19137
Try mamba. It's a more timely conda

[2021-06-24 15:44] hugovk commented on #8215
sklearn had [7,232,064 downloads](https://pepy.tech/project/sklearn) over 30 days.

I've created PRs for four packages which had a total 7,039,690 downloads over 30 days:

* https://github.com/jsonpickle/jsonpickle/pull/360: [6,714,326 downloads](https://pepy.tech/project/jsonpickle)
* https://github.com/bmabey/pyLDAvis/pull/212: [173,025 downloads](https://pepy.tech/project/pyldavis)
* https://gi

[2021-06-24 15:58] rth commented on #8215
Thanks a lot @hugovk!

[2021-06-24 16:45] bmreiniger commented on #20320
I tried to recreate the impurity calculation at one such node and didn't get `-inf`; did I do something wrong, or is it a cython-specific issue, or ...?

[code]

[2021-06-24 17:10] glemaitre commented on #20320
Since this the `-inf` is stored in the array, this might be some cython.
@bmreiniger Could you print the different statistics store at the node to see the range of the different values?

[2021-06-24 17:55] edkrueger opened #20351 "Wrong silhouette_score in Demo of DBSCAN clustering algorithm"
In the following demo, the silhouette score is not computed correctly. All anomalies are treated as if they belong to a single cluster.

Link: https://scikit-learn.org/stable/auto_examples/cluster/plot_dbscan.html#demo-of-dbscan-clustering-algorithm
Path: `scikit-learn/examples/cluster/plot_dbscan.py`

An anomaly is with respect to the silhouette score a cluster of 1 observation and the silhouette

[2021-06-24 18:36] polocorona commented on #20210
@TomDLT PR is ready.

[2021-06-24 18:54] zhenlingcn opened #20353 "Why doesn't LassoCV support the sample weight parameter?"
#### Describe the workflow you want to enable
I have noticed that since version 0.23, scikit-learn supports the sample weight parameter for Lasso. However, up to now, it seems like this parameter is still not available for LassoCV. I hope that I can assign weight values to each data sample and not lose the advantage of LassoCV. Therefore, is there any quick solution to this problem?

[2021-06-24 19:13] edkrueger commented on #20351
Here is some rough code to explain what I mean as ignore versus treat as singletons.

[code]

For the demo's problem the results are quite different.

[code]

[2021-06-24 19:20] #20210 closed

[2021-06-24 22:07] zohimchandani opened #20354 "log_loss metric"
Why doesn't the log_loss metric throw an error when p=0 given that the logarithm is -inf at that point? Is a very small negative value used instead?

https://scikit-learn.org/stable/modules/generated/sklearn.metrics.log_loss.html

[2021-06-25 01:07] scsanjay commented on #20354
It has been handled with [`numpy.clip`](https://numpy.org/doc/stable/reference/generated/numpy.clip.html) function.
![NoZM1CI](https://user-images.githubusercontent.com/13642832/123353697-b5a53c80-d57f-11eb-95a8-e326ae10295c.png)

[2021-06-25 01:52] scsanjay commented on #20266
@Onk24 Are you still working on it? If not then I will have look at it.

[2021-06-25 02:15] polocorona commented on #19352
@NicolasHug I took this issue due to stalled PRs. Can you please check PR #20355 ? Please.

[2021-06-25 07:28] #20318 closed

[2021-06-25 09:18] lesteve commented on #8215
Very nice indeed @hugovk! Out of curiosity (and in case we need to do it again in the future), how did you find the sklearn dependents with the most PyPI dowloads?

[2021-06-25 12:22] MaxwellLZH commented on #20320
Looking at the range of node values with non-finite impurity, the problem does seems to be caused by very small sample weights.
[code]
[code]

[2021-06-25 14:53] Ryanglambert commented on #20266
Since it's "new" feature, I was hoping to get buy in from someone with the
authority before working on it.

Are you perhaps that person?

On Thu, Jun 24, 2021, 9:52 PM Sanjay ***@***.***> wrote:

[2021-06-25 16:27] DNXie commented on #20275
@i-aki-y Do you mean this is the expected behavior?

[2021-06-25 16:27] DNXie opened #20362 "`sklearn.covariance.ledoit_wolf` throws ZeroDivisionError"
#### Describe the bug
`sklearn.covariance.ledoit_wolf` throws `ZeroDivisionError` when `X` is an empty array

#### Steps/Code to Reproduce

[code]

#### Expected Results
Expect handle the 0 gracefully.

#### Actual Results
[code]

#### Versions
Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
Python 3.7.10 (default, May 3 2021, 02:48:31)
[GCC 7.5.0]
NumPy 1.19.5
SciPy 1.4.1
Scikit-Learn 0.24.1

[2021-06-25 18:53] lorentzenchr commented on #20111
Curious about the effects of `max_features` in regression problems, I did an analysis (thanks @thomasjpfan for your sk_encoder_cv repo!), see https://github.com/lorentzenchr/notebooks/blob/7aa85526ddef9dac388ceabd5c01159c80a00f4a/random_forests_max_features.ipynb.

### 5-fold CV: MSE and uncertainty (std)
Smaller is better.
![image](https://user-images.githubusercontent.com/15324633/123471843-add4

[2021-06-25 19:01] lorentzenchr commented on #20111
If one invests the shorter fit time of `"sqrt"` for 200 instead of 100 trees, it does not compensate the gap in MSE, at least not for diamonds and bike sharing demands (the 2 datasets where I log transformed the target which has little impact on the above analysis).

😆Does someone want to write a paper about it😆

[2021-06-25 19:10] mayer79 commented on #20111
Wow - that *is* insightful, thanks @lorentzenchr . Interestingly, p/3 is almost always better than sqrt(p), which is in line with the defaults of the basic `randomForest` package in R (p/3 for regression, sqrt(p) for classification).

[2021-06-25 19:21] biprateep commented on #3702
I see that sample_weight is available for Lasso, is there a way to make it available for LassoCV too?

[2021-06-25 19:24] lorentzenchr opened #20365 "Black introduced a lot of interrupted strings"
PR #18948 that applied black to most of the codebase introduced interrupted strings due to a longer line length:

#### before
[code]
#### after applying black
[code]

@scikit-learn/core-devs Should we remove those?
@reshamas Removing those could be something for a sprint.

[2021-06-25 19:33] reshamas commented on #20365
Thanks @lorentzenchr.

@amueller @thomasjpfan
Should we add this issue to the list?

[2021-06-25 20:18] rth commented on #20365
Thanks for catching this!

I would say this can be fixed in 1 PR with a regexp and some manual checks resulting in ~300-400 LoC diff, and such PR might not be the best to start contributing. Also we would probably re-discuss the `black` line length in the meeting Monday, so it might be better to postpone this issue until then.

[2021-06-25 20:48] thomasjpfan commented on #20365
The following works for combining strings automatically:

[code]

For the black linter to pass, we would need to enable it by default:

[code]

XREF: https://github.com/psf/black/issues/2188

[2021-06-25 21:19] patfla commented on #20341
Thanks.

Trying seaborn out using this as a guide:

https://datatofish.com/confusion-matrix-python/

was the easy part.  The hard part is again making sense of a 102X102 confusion matrix and it remains the case that data drill-down would be very useful.

[2021-06-25 22:48] lorentzenchr commented on #3702
@biprateep #16449 addresses `LassoCV` and `ElasticNetCV`, but is not merged yet.

[2021-06-25 23:58] i-aki-y commented on #20275
Yes, I think so.

[2021-06-26 01:38] Akintola-Stephen commented on #16033
After getting that very error, of any predictions I made it keeps bringing a single result.
I tried for 20 predictions and I got the same result for the 20 samples.
Thank you.

[2021-06-26 08:33] klaagit opened #20366 "Formulas of MAE and MAPE"
I think in the docs for the modell evaluation the formulas of the MAE (section 3.3.4.3) and MAPE (section 3.3.4.6.) are wrong. I think the amount strokes (absolute value bars) are missing. Am I right?

https://scikit-learn.org/stable/modules/model_evaluation.html

Thanks!

[2021-06-26 08:43] NicolasHug commented on #20111
Thanks for the benchmarks @lorentzenchr!

You mean the gap in MSE w.r.t. what? p/3?

Regarding the fitting times: I haven't checked, but I would bet that if we replaced "fitting times" by "number of features in the dataset" we would get very similar plots. Or at least similar relative orders, since the complexity of the fitting algorithm is linear in `n_features`

Regarding the MSE: it's not clear

[2021-06-26 10:12] MaxwellLZH commented on #20366
The formula renders correctly on my laptop, maybe there's something to do with the browser setting I guess
![Screen Shot 2021-06-26 at 6 09 30 PM](https://user-images.githubusercontent.com/16646940/123509767-0fa22100-d6aa-11eb-988a-555b5818e19f.png)

[2021-06-26 10:20] klaagit commented on #20366
Alright! I haven't thought about that kind of issue. In Chrome it renders correctly on my laptop as well. Seems to be a problem of my Firefox. Thanks for your answer!

[2021-06-26 10:25] hugovk commented on #8215
I knocked up a [script](https://github.com/hugovk/pypi-tools/blob/master/dependency_finder.py) to find which sdist and wheel packages in https://github.com/DavHau/pypi-deps-db have sklearn as a dependency, and filtered out only those in the top 4k most-downloaded: https://github.com/hugovk/top-pypi-packages:

[code]

Some of these are older releases, and they've since replaced sklearn. I made PRs

[2021-06-26 10:40] rth commented on #8215
Email sent. It's only used in their extra `examples`, so most of their users probably wouldn't download it.

[2021-06-26 11:03] #19627 closed

[2021-06-26 14:46] thomasjpfan commented on #20258
@ogrisel Option 2b without the `__init__` parameter is very close to my original PR with a global config: https://github.com/scikit-learn/scikit-learn/pull/16772 . I think we decided not to go down the path of having a global config.

As for implementation, I would prefer not to hide it into a mixin and prefer something like https://github.com/scikit-learn/scikit-learn/pull/20100. The idea is to u

[2021-06-26 16:41] karen-pal commented on #17295
I'm going to be working on sklearn.metrics.check_scoring!

[2021-06-26 16:48] j3nnn1 commented on #20308
Can I take the estimator: ¨AdaBoostClassifier¨?

[2021-06-26 16:49] alinealfa commented on #20308
@marenwestermann and I are working on `RandomForestClassifier`

[2021-06-26 16:50] NicolasMillerr commented on #20308
I'd like to start off with the `StandardScaler` if possible

[2021-06-26 16:51] gloriamacia commented on #20308
@caherrera-meli and I are going for the LinearRegression

[2021-06-26 16:52] lacouth commented on #20308
@gitdoluquita and I are going for the LogisticRegression

[2021-06-26 16:52] ludigoncalves commented on #20308
I'm going with `ExtraTreeClassifier`!

[2021-06-26 16:53] #20366 closed

[2021-06-26 16:59] nicoperetti commented on #17979
Taken. cc @nestornav

[2021-06-26 17:00] pibieta commented on #20308
@g4brielvs and I are working on `KNeighborsClassifier`

[2021-06-26 17:01] Anavelyz commented on #20308
@marielaraj and me are going for `PCA`

[2021-06-26 17:01] LucyJimenez commented on #20308
@eugeniaft and me are going for `DecisionTreeClassifier`:)

[2021-06-26 17:02] trhughes commented on #20308
@napoles-uach and I are working on KNeighborsRegressor

[2021-06-26 17:03] g4brielvs commented on #20308
I'm (@g4brielvs) working on `KMeans`.

[2021-06-26 17:06] sebastiandres commented on #20308
With @leonardorocc0 will be taking this.

[2021-06-26 17:07] sofide commented on #19414
We want to take this issue with @Gleekzone

[2021-06-26 17:09] jmloyola commented on #20308
With @tomasmoreyra will be taking `TfidfTransformer`

[2021-06-26 17:10] jbsilva commented on #20308
I'm working on `BaggingClassifier`.

[2021-06-26 17:10] asnramos commented on #20308
BayesianGaussianMixture Estamos trabajando con Nico

[2021-06-26 17:11] amueller commented on #19414
There's some left in ``sklearn/metrics/tests/test_classification.py``, in ``sklearn/tests/test_base.py`` and ``sklearn/utilst/tests`` that you can go for (maybe start with one).

[2021-06-26 17:14] fbidu commented on #20308
I'm working on `DBSCAN` with @ijpulidos

[2021-06-26 17:20] GabrielBernardoMC commented on #20308
me and @joaovitormascarenhas are going for **DecisionTreeRegressor**

[2021-06-26 17:22] MattNP commented on #20308
Me and @NicolasMillerr will be working on `GaussianProcessClassifier`

[2021-06-26 17:36] sofide opened #20371 "Error with apparently non-deterministic tests"
Every time I run `pytest` some tests fail, but a different set of tests fail every time.

Here are some screenshots:

![Screen Shot 2021-06-26 at 13 37 56](https://user-images.githubusercontent.com/1953767/123521058-afe84d80-d68a-11eb-9fd2-e2da332129c2.png)
![Screen Shot 2021-06-26 at 13 36 06](https://user-images.githubusercontent.com/1953767/123521061-b24aa780-d68a-11eb-9d1f-d48135ff7f7b.png)
<i

[2021-06-26 17:38] gitdoluquita commented on #20308
@lacouth  and I are going for the `LogisticRegressionCV`

[2021-06-26 17:44] caherrera-meli commented on #20308
@gloriamacia and I will continue with DummyRegressor

[2021-06-26 18:07] genvalen commented on #20308
Going to take BernoulliNB with @j3nnn1

[2021-06-26 18:09] fisadev commented on #20083
We did some debugging with @jbsilva in the #DataUmbrella sprint, and found out that this behavior seems to be just by chance with that particular random seed (`random_state` param). After trying with some other seed values, we saw that the fall in accuracy doesn't seem to be tied to the equality between the hidden layer size and the features quantity. Also trying with other activation functions an

[2021-06-26 18:09] lacouth commented on #20308
@gitdoluquita and I are working on PoissonRegressor

[2021-06-26 18:18] karen-pal commented on #17295
I'm going to tackle the unspecified `Y=None` behaviour of `sklearn.metrics.pairwise` module.

Since that behaviour is related to the `check_pairwise_arrays` function, that would include all functions with analogous implementations:
[code]

[2021-06-26 18:19] sofide commented on #19414
@amueller It's ok if we take `sklearn/metrics/tests/test_classification.py` and `sklearn/metrics/tests/test_ranking.py`? We would like to complete this task with all the tests in `metrics` module :)

[2021-06-26 18:21] g4brielvs commented on #20308
@g4brielvs and @pibieta are working on `GaussianMixture`

[2021-06-26 18:24] amueller commented on #20371
Thanks for reporting! I'm a bit surprised by the KMeans failure as that's usually quite deterministic.

[2021-06-26 18:38] g4brielvs commented on #20308
I'm (@g4brielvs ) working on `LinearDiscriminantAnalysis`

[2021-06-26 18:40] jmloyola commented on #19414
Can me and @tomasmoreyra work with `sklearn/utilst/tests`?

[2021-06-26 18:50] amueller commented on #20341
patfla can you post a screenshot? and what kind of drill-down would you like?
This is both based on matplotlib and so any kind of interactivity will be very limited and probably beyond the scope of sklearn.

[2021-06-26 18:52] leonardorocc0 commented on #20308
I'm working on this `FeatureUnion` w/ @sebastiandres

[2021-06-26 18:58] pibieta commented on #20308
@g4brielvs and I are working on `BayesianRidge` now

[2021-06-26 19:09] alinealfa commented on #20308
@marenwestermann  and I are working on RandomForestRegressor

[2021-06-26 19:15] asnramos commented on #20308
Trabajando con @nicolas471 en **BayesianRidge**

[2021-06-26 19:18] pibieta commented on #20308
Yo también ando trabajando en ese con @g4brielvs. Tal vez puede haber un conflicto...

[2021-06-26 19:20] ijpulidos commented on #20308
Taking over `SparsePCA` one.

[2021-06-26 19:23] fbidu commented on #19414
So with @sofide working with the `metrics` module and @jmloyola working with the `sklearn/utilst/test`, I'll grab

sklearn/tests/test_base.py
sklearn/tests/test_dummy.py
sklearn/utils/_testing.py

This way we can finish this whole issue this sprint!

[2021-06-26 19:25] eugeniaft commented on #20308
@LucyJimenez and I are working on GridSearchCV

[2021-06-26 19:26] nicolas471 commented on #20308
Ok, ahi cambiamos.

[2021-06-26 19:27] melissawm commented on #13210
Should each of these be in their own PRs, or can we group (say, all the `_gemv` substitutions) to submit one big PR?

[2021-06-26 19:29] nicolas471 commented on #20308
Estamos trabajando en `Isomap` con @asnramos

[2021-06-26 19:34] NicolasMillerr commented on #20308
@MattNP And I are working on `MinMaxScaler`.

[2021-06-26 19:34] gitdoluquita commented on #20308
@lacouth  and I are working on  `AdaBoostRegressor`

[2021-06-26 19:36] amueller commented on #13210
Hm do we want benchmarks for each of them? then doing them one by one might be best.

[2021-06-26 19:44] amueller commented on #20308
I wonder if it's worth doing a regex for the return value of ``fit`` and do all of those at once? Having them be consistent might also be good and that's probably many places.

[2021-06-26 19:46] MattNP commented on #20308
@NicolasMillerr and I will be working in `TfidfVectorizer`

[2021-06-26 20:45] g4brielvs commented on #20308
I'm (@g4brielvs) working on `LatentDirichletAllocation`.

[2021-06-26 21:04] leonardorocc0 commented on #20308
working on `FastICA` w/ @sebastiandres

[2021-06-26 21:11] nicolas471 commented on #20308
working on ` OneClassSVM`

[2021-06-26 21:25] g4brielvs commented on #20308
I'm working on `OneHotEncoder`

[2021-06-26 21:35] jaglima commented on #20308
Working on Lasso

[2021-06-27 02:11] patfla commented on #20341
Screenshot:  https://imgur.com/a/GbZTNQl

I have no idea if this is possible, how difficult it would be, etc but ideally, I'd like to click on a given cell and see the data items within it.  In my case oxford102 flowers.  I'd like to see what's landed in a given bucket - in case things are getting miscategorized as I fumble around with confusion_matrices.

[2021-06-27 12:39] Ninimama commented on #19698
@cmarmo @jnothman

UPDATE:
I opened an [issue](https://github.com/scikit-learn-contrib/scikit-learn-extra/issues/93) of this on scikit-learn-extra about three months ago; however, there has been no reaction. Should I go ahead and implement it and submit a PR?  Or should I close the issue?

[2021-06-27 12:49] deepthi1107 commented on #19698
PR

On Sun, Jun 27, 2021, 6:09 PM Nima Sarajpoor ***@***.***>
wrote:

[2021-06-27 15:06] lorentzenchr commented on #3020
In https://github.com/scikit-learn/scikit-learn/issues/3020#issuecomment-650151485, the last point is *G. documentation*. What exactly is expected in order to close this issue (and  #2601)?

[2021-06-27 15:08] mayer79 commented on #20111
Some thoughts when looking through @lorentzenchr benchmark (summarized across datasets and only looking at *average* CV scores, not standard deviations):

1. p/3 is about as good as the current default p, but three times faster.
2. p/3 seems slightly better than sqrt(p), which agrees with the regression default of the original `randomForest` package in R.
3. Datasets with many features benefit fro

[2021-06-27 15:36] jaglima commented on #20308
Took RFE!

[2021-06-27 18:19] agramfort commented on #3020
I think we have already clear warning messages and good what's new
entries... :)

[2021-06-27 18:40] thomasjpfan commented on #20301
Here is a possible simplified workflow:

0. `git fetch upstream main`
1. Install black and my fork of darker:
[code]
2. `darker --revision upstream/main . -v`
3. Commit black formatted code
4. `git merge upstream/main`

My fork hard codes the configuration we are using, which means a contributor does not need to update `pyproject.toml`.

[2021-06-27 20:16] Sandy4321 commented on #17659
is it possible to add custom loss function to classification tree as well?
https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html?highlight=tree#sklearn.tree.DecisionTreeClassifier

[2021-06-27 20:17] Sandy4321 commented on #15841
is it possible to add custom loss function to classification tree as well?
https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html?highlight=tree#sklearn.tree.DecisionTreeClassifier

[2021-06-27 20:55] Sandy4321 commented on #15841
people really need it
https://stackoverflow.com/questions/54267745/implementing-custom-loss-function-in-scikit-learn

 It's tricky, but you can do it...

1) Open up your classifier. Let's use an RFC for example: https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

2) click [source]

3) See how it's inheriting from ForestClassifier? Right there in the clas

[2021-06-27 20:55] Sandy4321 commented on #17659
people really need it
https://stackoverflow.com/questions/54267745/implementing-custom-loss-function-in-scikit-learn

 It's tricky, but you can do it...

1) Open up your classifier. Let's use an RFC for example: https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

2) click [source]

3) See how it's inheriting from ForestClassifier? Right there in the clas

[2021-06-27 21:57] fbidu commented on #7308
Hey all, just and FIY, I worked on this over #20380

[2021-06-28 06:39] ThomasOfferman opened #20413 "BIRCH mentions outlier removal, DBSCAN doesn't. Is that right?"
#### Describe the issue linked to the documentation

I was reading the user guide about clustering (https://scikit-learn.org/stable/modules/clustering.html). There is a table listing features of every clustering algorithm (how it handles different geometries, different pros/cons etc). BIRCH lists outlier removal, DBSCAN doesn't.

![image](https://user-images.githubusercontent.com/14158200/12359145

[2021-06-28 07:52] NicolasHug commented on #15841
Hi @Sandy4321 , a few things:

Please avoid posting the same post in 3 different places in the repo. You also posted in https://github.com/scikit-learn/scikit-learn/pull/16908#issuecomment-869222541 and in  https://github.com/scikit-learn/scikit-learn/issues/17659#issuecomment-869222533. If you have a question or something cool to show, please open a new issue or a new discussion

You mean regular

[2021-06-28 07:53] NicolasHug commented on #17659
@Sandy4321 please see https://github.com/scikit-learn/scikit-learn/issues/15841#issuecomment-869457756. The instructions copied pasted from SO above are incorrect.

[2021-06-28 10:15] NicolasHug commented on #20111
The MAE benchmarks don't show consistent improvements from using p/3 or sqrt over p, so this doesn't warrant a pervasive change of default IMHO. I'd go with B.

[2021-06-28 12:30] defoishugo commented on #20362
Hi,

What should be the _ledoit_wolf_ behaviour when giving an empty array?
Do you except a personalized scikit-learn error?

[2021-06-28 15:01] amueller commented on #20111
Thank you so much for these benchmarks @lorentzenchr, this is awesome. Did you find all of these datasets on OpenML?

There seems to be an outlier with "medical_charges_nominal" do you know what happened there?

I think if we had 5x as many datasets we could write a paper. Maybe also run search over all other parameters lol.

I'm still tending towards B) but also open to other suggestions.

[2021-06-28 16:05] amueller commented on #20059
So the outcome of the discussion was that we need an API discussion ;)

To me the issue is that I don't like making one style of feature importance "the" feature importance. All the methods have pros and cons, and I really dislike that people show me a bar plot and label it "feature importance" because that can mean anything.

From an API perspective, some of the methods can be applied post-hoc, l

[2021-06-28 16:23] lorentzenchr commented on #20111
The decision of the [June 2021 dev meeting](https://hackmd.io/0yokz72CTZSny8y3Re648Q)(@amueller's suggestion):
- Rename `"auto"` to a more explicit name, e.g. `"n_features"`
- Users that explicitly specify `"n_features"` get no warning
- Users that don’t set `"n_features"` get no warning and the behaviour doesn’t change
- Users that explicitly specify `"auto"` get a deprecation warning
- This shou

[2021-06-28 16:40] #3020 closed

[2021-06-28 16:44] lesteve commented on #8215
Looking at https://github.com/scikit-learn/scikit-learn/issues/8215#issuecomment-867745001 I had some big hope that most (6.7M over 7.2M) `sklearn` downloads were coming from `jsonpickle` but actually `sklearn` is only in their `testing` `extras_require` (see https://github.com/jsonpickle/jsonpickle/blob/master/setup.cfg#L59) so this is quite unlikely that `jsonpickle` is the main culprit.

[2021-06-28 16:59] lorentzenchr commented on #2601
I'd say an example showing that `StandardScaler`, `Normalizer` and no preprocessing all have different effects on the optimal `alpha` of `RidgeCV` would be a nice-to-have.

[2021-06-28 17:09] lorentzenchr commented on #18911
Have a look at #18997.

[2021-06-28 17:18] ogrisel commented on #20059
I agree but it also makes it more challenging to include this as an automated feature selection step in a pipeline.

But maybe we could just add a dedicated meta-estimator for model-agnostic permutation feature importance for instance and not make it part of the RF specific discussion.

For oob-permutation importance and debiased MDI importance, I am not so sure either how to design the right API.

[2021-06-28 18:15] ogrisel commented on #19414
There are still a few more cases to fix:

[code]

[2021-06-28 18:30] Roman-Belenya opened #20420 "`sklearn.linear_model.LinearRegression` produces different results for views and copies of numpy arrays"
#### Describe the bug

I've come across this issue when running linear regression on subsets of data. When I pass a numpy view versus copy of the same data, the estimator produces different results:

[code]

If I make a copy of `x2` or convert it to simple list, the coefficients are exactly the same:

[code]

I'm not exactly sure whether this is an issue of scikit-learn or numpy, but pehaps somebo

[2021-06-28 18:31] jmloyola commented on #19414
I'm working in those. I will try to finish this week.

[2021-06-28 19:59] Gleekzone commented on #19414
Let me now if you want me to help you, so you can finish them sooner.

[2021-06-28 21:48] thomasjpfan commented on #20420
`np.array_equal` is not suitable for comparing floating point values because there are no tolerances. [np.allclose](https://numpy.org/doc/stable/reference/generated/numpy.allclose.html) is usually preferred:

[code]

[2021-06-28 21:48] #20420 closed

[2021-06-28 21:52] jnothman commented on #20059
How about constructor parameter `importance_methods` to specify which statistics to acquire at training, and `get_feature_importance(method)`? Query whether to support generic importance methods after fitting (they would need extra parameters apart from anything else). Thoughts?

[2021-06-28 22:29] Roman-Belenya commented on #20420
Thank you for the reply! On my actual dataset, the difference is sometimes as large as 0.05, but that's quite small indeed

[2021-06-29 01:49] MaxwellLZH commented on #20353
Hi @zhenlingcn, the progress of incorporating sample_weight to linear models are discussed under issue #3702.

[2021-06-29 04:16] jmloyola commented on #19414
Thanks @Gleekzone 😄
I have just opened a PR, if you want you can review it. The more eyes, the better ^^

[2021-06-29 08:18] genvalen commented on #20308
Working on Binarizer

[2021-06-29 08:54] lorentzenchr commented on #20111
How about also introducing the additional options `"p/3"` and "`0.9p`"? For instance, "`0.9p`" is always at least as good as `"p"` in the benchmark above, and `"p/3"` is a well know (even default) setting in many other packages.

[2021-06-29 08:58] NicolasHug commented on #20111
we already allow floats so that's equivalent to `max_features=.33` and `max_features=.9`:

[2021-06-29 13:23] thomasjpfan commented on #20083
Closing because https://github.com/scikit-learn/scikit-learn/issues/20083#issuecomment-869041031 shows that the performance was related to the random seed.

[2021-06-29 13:23] #20083 closed

[2021-06-29 14:29] thomasjpfan commented on #20186
In your example, `y_true` is set to `["cat", "dog", "cat"]`, which would always be interpreted as `[0, 1, 0]`. To flip the classes properly you can explicitly set 0 and 1s:

[code]

In general, `roc_auc_score` is a symmetric metric and independent on which class is positive.

[2021-06-29 16:20] TomDLT commented on #20329
It seems like this is from `doc/module/preprocessing_targets.rst`:
[code]
but I cannot reproduce the bug.

[2021-06-29 18:49] thomasjpfan opened #20427 "CI pylatest_conda_mkl_no_openmp is timing out from time to time"
Here is a [recent build log](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=30055&view=results) of this happening. The `pylatest_conda_mkl_no_openmp` can sometimes take up more than an hour and gets canceled by azure leading to a test failure.

We can update `timeoutInMinutes` for this instance, but this behavior is strange since the rest of the instances take around ~20 mi

[2021-06-29 19:47] luxedo opened #20428 "Export decision trees as dictionaries with `tree.export_dict`"
#### Describe the workflow you want to enable
In my opinion It would be great to have the `dict` representation of decision trees in the library.

#### Describe your proposed solution
The interface would be the similar to [`tree.export_text`](https://scikit-learn.org/stable/modules/generated/sklearn.tree.export_text.html#sklearn.tree.export_text), maybe `tree.export_dict`?

#### Additional context

[2021-06-30 00:40] ZhengzeZhou commented on #20059
For the unbiased measurement based on oob samples of random forests, it only requires access to the original training data and thus can be implemented as an additional method to the class (as a property just like the current feature_importances_). There is not need to add any new parameter in the fitting process either.

However, in order for this to be more general, for example to apply on gradie

[2021-06-30 03:46] jnothman commented on #16540
I think we should consider adopting `duecredit` to spit out applicable DOIs as estimators are fitted. Those injections would do nothing if duecredit was not installed. (Advantage of citation injection on fitting is to adapt to parameters. One problem with doing it at this point is that it won't be compatible with distributed computing since it relies on working directory.)

@scikit-learn/core-devs

[2021-06-30 07:42] glemaitre commented on #16540
If you use the estimator in a `cross_validate`, then it will never be fitted, isn't it?

[2021-06-30 12:29] jnothman commented on #16540
I mean that we put the duecredit code in `fit`; it has the side effect, if enabled, of adding the citation to a list of references. This will occur regardless of whether it's a clone or fitted directly.

[2021-06-30 12:32] drfraser opened #20430 "Segfault with SVC (kernel=linear) and BaggingClassifer (n_jobs>1, loky backend)"
**Description**

Using a BaggingClassifer (base classifier is SVC, kernel = linear, other params are defaults) results in joblib.externals.loky.process_executor.TerminatedWorkerError when n_jobs>1 and the backend is loky or multiprocessing.

If I change the kernel to 'rbf' or n_jobs=1 or backend='threading', then there are no problems.

**Code**

[code]

#### Expected Results
Successful completion

[2021-06-30 12:55] reneverheij commented on #19824
I second this request. I think it could be useful for those use cases where a numeric or encoded label can not be avoided.

[2021-06-30 12:59] drfraser commented on #20430
update: use this bad_data.npz, not the first one.
[bad_data.npz.txt](https://github.com/scikit-learn/scikit-learn/files/6741040/bad_data.npz.txt)

[2021-06-30 13:44] defoishugo commented on #20428
This is a nice idea.
Are you looking for someone to develop that? I can do it if the community consider this feature as useful.

[2021-06-30 14:45] luxedo commented on #20428
Great to hear!
I really like to give it a try too

[2021-06-30 14:47] o1iv3r commented on #20245
Published the PR #20431

[2021-06-30 14:51] drfraser commented on #20430
update:

I thought of something and with the backend set to 'loky', experimented with changing the max_nbytes parameter in _bagging.py/predict_proba() to different values and also to none (the default is '1M').  I also had 3 different versions of bad_data.npz (# 1, under 100k,  # 2, about 1.9MB, # 3, about 3.4 MB).

With max_nbytes set very low, e.g. 1024, even the test program with # 1 would cras

[2021-06-30 15:54] arubiales commented on #20306
Hi @thomasjpfan  is a nice idea!

Can I start to work on it? will it be added to Scikit-Learn?

[2021-06-30 16:05] NicolasHug commented on #20428
Thanks for the proposal @luxedo ,

    The inference function is very simple.
    Removes sklearn dependency for inference
    It can be easily ported to other languages
    It's very descriptive and good for educational purposes

I'm not sure these argument completely align with the purpose and the needs of scikit-learn.

Purely in terms of readability and educational purpose, this doesn't seem t

[2021-06-30 16:09] rth commented on #20306
We already have such warning added in https://github.com/scikit-learn/scikit-learn/pull/7248

I think, we should just update the error message to include the above link to the user guide.

[2021-06-30 16:16] arubiales commented on #20306
Okay @rth looks very easy is my first contribution to Scikit-Learn so it look like a good start. If you give me the okay I will go with it!

[2021-06-30 16:28] rth commented on #20306
Sure, please go ahead. When printing the warning message it might be worth adding a few newlines in there to emphasize the URL and avoid having a single line that's wrapped around potentially breaking the URL when copy pasting.

[2021-06-30 18:43] thomasjpfan commented on #20428
I see two reasons to have a dict representation:

1. Visualizations of the trees. With a dict representation, one does not need to know the inner structure of the `Tree` object to figure out how to navigate the tree for their visualization. `export_text`, `export_graphviz`, `plot_tree` can all just "clients" using the dict representation.

2. Libraries that serialize our trees such as [hummingbird

[2021-06-30 18:43] #20428 closed

[2021-06-30 20:29] luxedo commented on #20428
Thanks for the feedback! I'm sorry I didn't searched for that issue before. It is quite an easy find XP

[2021-07-01 04:17] c3-jack-lin commented on #9626
Is the bottleneck specifically here?
https://github.com/scikit-learn/scikit-learn/blob/2beed55847ee70d363bdbfe14ee4401438fba057/sklearn/tree/_splitter.pyx#L496-L526

[2021-07-01 09:06] lesteve commented on #20427
Quickly looking at it, it seems like the tests take a lot longer (roughly 3 times) than usual in these cases (i.e. it does not seem to be a weird hang somewhere). I am putting more info below hoping may have a powerful crystal ball trying to make sense of it 😉.

Successful build (tests run in ~15 minutes):
https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=30124&view=logs&j=e6d

[2021-07-01 12:22] luxedo commented on #20051
Hi! I just like to add the description of the [issue I just posted](https://github.com/scikit-learn/scikit-learn/issues/20428).

The main reason this feature would be useful for me is that I can easily port decision trees to other places. I already put some trees in web applications and microcontrollers. I would love to help if this would benefit the community as well.

[2021-07-01 16:43] noahgolmant opened #20435 "Incorrect documentation for `warm_start` behavior on BaseForest-derived classes"
#### Describe the issue linked to the documentation

The [RandomForestRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html) documentation states:

This is also true for all classes that derive from `BaseForest`, such as `RandomForestClassifier` and `RandomTreesEmbedding`.

However, the [source code](https://github.com/scikit-learn/scikit-learn/bl

[2021-07-02 01:22] Anavelyz commented on #20308
@marielaraj and me are working on `VotingRegressor`

[2021-07-02 01:36] MaxwellLZH commented on #20308
Working on `IsolationForest`

[2021-07-02 03:06] genvalen commented on #20308
Working on KNeighborsRegressor

[2021-07-02 03:50] genvalen opened #20439 "For each of the following Naive Bayes classes, cross reference the other NB classes in the ``See Also`` section."
I think we should not introduce a new empty section. Here we could cross-reference the other Naive Bayes model instead.

For each of the following classes:

[code]
have a `See Also` section that mentions the other quoting the first line of their own docstring.

_Originally posted by @ogrisel in https://github.com/scikit-learn/scikit-learn/pull/20422#discussion_r660419088_

[2021-07-02 03:51] genvalen commented on #20439
@ogrisel I will work on this PR

[2021-07-02 07:17] AsenColumbo commented on #15383
Got "CancelledError is not iterable" with JobLib 1.0.1 and Dask 2021.6.2 . It happens after a couple of successfull tasks.

`[Parallel(n_jobs=-1)]: Done 251 tasks      | elapsed:  8.4min
[Parallel(n_jobs=-1)]: Done 252 tasks      | elapsed:  8.4min
[Parallel(n_jobs=-1)]: Done 253 tasks      | elapsed:  8.4min
[Parallel(n_jobs=-1)]: Done 254 tasks      | elapsed:  8.4min
[Parallel(n_jobs=-1)]: Done

[2021-07-02 08:53] NicolasHug commented on #20435
Thanks for submitting an issue @noahgolmant ,

The current documentation is correct:

but it's lacking a few things. In particular, and I think this is where the confusion comes from, it does not specify that one needs to re-set the `n_estimators` parameter manually before calling fit a second time:

[code]

Regarding the documentation, I think we just need to link to https://scikit-learn.org/stab

[2021-07-02 12:14] jmloyola commented on #20308
Working on `MLPClassifier`

[2021-07-02 12:49] ogrisel opened #20443 "AdaBoost can underfit more with larger number of trees"
We encountered the following behavior of AdaBoost when working on the [scikit-learn mooc](https://mooc-forums.inria.fr/moocsl/t/quiz-m6-03-question-3/3128/15). Here is a script that reproduces the problem:

We compute the validation curves for 3 models with different numbers of leaf nodes in the weak learners and each time study the impact of the number of trees on the train and validation errors.

[2021-07-02 12:57] j3nnn1 commented on #20308
working on CategoricalNB

[2021-07-02 13:36] jmloyola commented on #20308
Working on `NearestNeighbors`

[2021-07-02 18:56] embandera commented on #20308
Working on GenericUnivariateSelect

[2021-07-03 03:22] genvalen commented on #20308
Working on ElasticNet

[2021-07-03 16:41] gloriamacia commented on #20308
I added MaxAbsScaler

[2021-07-03 17:08] europeanplaice commented on #20443
My suggestion is that if the prediction score is not improved compared to the previous score, we should reset `sample_weight`.

I'm not an expert but my understanding is as follows. Forgive me if I'm wrong.
Sample weights are updated so that the weak learner study intensively the data the previous weak learner can't predict well.
It means the weak learner is given challenging data more frequently

[2021-07-03 20:13] jmloyola commented on #20308
Working on `SVC`

[2021-07-03 21:03] jaglima commented on #20308
Worked on LassoCV and RFECV!

[2021-07-03 21:11] genvalen commented on #20308
Working on ``LassoLars``

[2021-07-03 21:51] jmloyola commented on #20308
Working on `NuSVC`

[2021-07-03 22:16] genvalen commented on #20308
Working on ``LassoLarsCV``

[2021-07-04 15:12] ogrisel commented on #20443
Very interesting analysis and clever fix.

I agree. But maybe we could add a flag to enable or disable this trick. @europeanplaice do you know if this problem was known in the literature? Has any paper been published in the weight-based boosting literature to analyze this problem?

For reference, I tried to run the same experiment as in the description replacing AdaBoost with gradient boosting and

[2021-07-04 17:30] genvalen commented on #20308
Working on ``LassoLarsIC``

[2021-07-04 18:13] glemaitre commented on #20443
I am not sure entirely but I kind of recall something similar with the classification problem while preparing the MOOC.

[2021-07-04 19:32] lorentzenchr commented on #20162
If you sum up the two corresponding pinball losses for alpha/2 quantile `l`, 1-alpha/2 quantile `u` and observation `y`, you get, see [Gneiting & Raftery](http://www.stat.washington.edu/people/raftery/Research/PDF/Gneiting2007jasa.pdf) Eq. (43): `(u - l) + 2/alpha (l-y) 1_{y<l} + 2/alpha (y - u) 1_{u<y}`. This penalizes wider intervals.

[2021-07-04 20:43] #19772 closed

[2021-07-04 23:25] genvalen commented on #20308
Hi @amueller. If we see that one of these return statements is worded differently, is it useful to update it to what you have here?

[2021-07-05 07:08] KianYang-Lee commented on #13117
Hi is this issue resolved? would like to take a stab at it if not

[2021-07-05 08:43] ogrisel commented on #20443
For information, I have tried:

- to plot mean squared error instead of the mean absolute error;
- clip the sample weights below 1e-12 or even 1e-7:

Those change did not impact the shape of the training error curve with `max_leaf_nodes=50`: each time, the training error starts to increase with `n_estimator > 10`.

[2021-07-05 12:28] ogrisel commented on #20430
Setting `max_nbytes` to small values will make the worker run on a readonly memory mapped version of the data.

So it might mean that the SVC implementation does not like running on readonly memory buffers for some reason?

You can try to reproduce the problem in the main process (with `n_jobs=1`) by memory mapping the array with:

[code]

[2021-07-05 13:10] europeanplaice commented on #20443
@ogrisel @glemaitre
Thank you for the additional information.
I've found a paper that seems to be related to this issue.

An Investigation into How ADABOOST Affects Classifier Diversity
http://citeseerx.ist.psu.edu/viewdoc/download;jsessionid=1B60166D882CD4D2AD3BE5F36EB94DA3?doi=10.1.1.22.9349&rep=rep1&type=pdf

According to this paper, diversity plays an important role in performance.

Also, here

[2021-07-05 13:30] ThomasBourgeois commented on #20162
Thanks, but I'm not talking losses here. I'm talking metrics. I'm sure there are many ways to make sharper intervals by taking some specific losses in our algorithms, such as the one you propose.

However, be it a wide or sharp interval, one needs to measure, with the correct metric, how sharp or wide that interval is. A metric like the PINAW shown above permits to do so.

[2021-07-05 13:44] ogrisel commented on #20443
Thanks for the reference. The paragraph you highlighted seems to accurately describe what we are experiencing. I don't understand the histograms though. Could you give more details on how they are constructed? In particular what is the x axis and what are the stacks?

[2021-07-05 13:58] ogrisel commented on #20443
For reference I also tried to decrease the learning rate (and increase the maximum number of trees): the appears later (e.g. around `n_estimator=100` for `learning_rate=0.1` but it still there. So increasing the learning rate might be a way to hide this convergence problem.

[2021-07-05 14:16] europeanplaice commented on #20443
Sorry for the lack of explanation.

https://github.com/europeanplaice/scikit-learn/blob/adaboost_with_tensorboard/sklearn/ensemble/_weight_boosting.py

This is the code that records histograms on tensorboard.
x-axis is the index number and y-axis is the index of the weak estimators.
z-axis (height of histograms ) is the count of the index that is repeatedly chosen.

The histogram was recorded at t

[2021-07-05 15:09] ogrisel commented on #15824
It really depends on the algorithm. Our OpenMP based implementation of `KMeans` can scale beautifully to 32 cores or so. Our `HistGradientBoostingClassifier` OpenMP implementation generally sees diminishing returns after 8 to 16 cores unless the dataset is huge both sample wise and feature wise in which case it can scale to large number of cores.

[2021-07-05 15:09] drfraser commented on #20430
Hi, yeah, I haven't taken a look yet at the different settings of the mmap_mode and what they might affect. I will test things out and update this issue; I've been reorganizing my code lately. There is nothing in the joblib docs that spell out exactly what those mmap modes do, but maybe I did not look hard enough.

it is something with _parallel_predict_proba - if the only backend is dask (or loky

[2021-07-05 15:15] ogrisel commented on #15824
The fundamental problems is that at the moment most (all) OpenMP runtimes ignore any [CFS CPU quota](https://www.kernel.org/doc/html/latest/scheduler/sched-bwc.html#management) typically configured by docker or other container schedulers when detecting the number of available CPUs. As a result we get bad performance cause by oversubscription whenever running an OpenMP enabled program on a machine

[2021-07-05 15:15] ogrisel commented on #15824
Since #16016 already tracks the root problem, let's close this issue.

[2021-07-05 15:15] #15824 closed

[2021-07-05 15:27] ogrisel commented on #20430
Loading with `mmap_mode` makes it possible to use shared memory between the workers for any data stored in numpy arrays. See: https://numpy.org/doc/stable/reference/generated/numpy.memmap.html

[2021-07-05 15:34] ogrisel commented on #20430
We fixed several issues related to nested joblib parallel calls with the dask backend in joblib 0.16.0 and joblib 1.0.1:

https://github.com/joblib/joblib/blob/master/CHANGES.rst#101

If you can still reproduce a deadlock with joblib 1.0.1 and dask we would be very interested in a (ideally minimal) reproducer.

[2021-07-05 21:40] indiana-nikel opened #20471 "Enable handling of missing values for PolynomialFeatures()"
I'm looking for a way to preserve missing values while adding Polynomial Features to my datasets (interaction terms and higher-power terms). Currently, I receive a `ValueError` whereas I would imagine there would be an argument allowing missing values to persist and pass through (ie. NaN * NaN (or #) = NaN).

Any appetite for a feature addition to PolynomialFeatures() and other such functions?

[2021-07-05 22:52] genvalen commented on #20308
Working on ``Lars``

[2021-07-06 02:52] jaglima commented on #20308
Worked on RFRCV

[2021-07-06 06:46] lorentzenchr commented on #20471
Which use case and which behavior do you have in mind? Secondly, what do you expect as outcome of
[code]
Also note, that you can use a `Pipeline` with something like a `SimpleImputer` before `PolynomialFeatures`.

[2021-07-06 08:05] glemaitre commented on #20471
Since we tried to make some of the transformers lenient with missing values, we could think about a strategy here.

I would usually prefer to impute data after some preprocessing where the transformation should just ignore missing values. I don't know if it would be as relevant with the polynomial transformation.

In terms of behaviour, I might expect to output a `NaN` value if one of the terms is

[2021-07-06 08:07] glemaitre commented on #20371
@jeremiedbb did you observe the issue with the `KMeans` failure?

[2021-07-06 08:47] kxytim opened #20474 "The attribute "component_indices_" of "sklearn.kernel_approximation.Nystroem" is a bit incorrect"
Hi, I am here to report a minor error about the `sklearn.kernel_approximation.Nystroem ` class.

According to the document of this class (https://scikit-learn.org/stable/modules/generated/sklearn.kernel_approximation.Nystroem.html#sklearn.kernel_approximation.Nystroem), the attribute `component_indices_` should have a dimension of `n_components`.  Since the `component_indices_` refers to the indic

[2021-07-06 08:49] ogrisel opened #20475 "`error_score=nan` issues hidden warnings in model selection utilities when n_jobs>1"
By default many model selection tools such as `cross_validate`, `validation_curves` and `*SearchCV` catch exceptions, raise a warning and score the model with `nan`. This can be a nice behavior, especially for `*SearchCV` estimators that can explore invalid hyper-parameter combinations.

However the warnings can be hidden when they are issued on the stderr of loky workers (python subprocesses), fo

[2021-07-06 08:51] lesteve commented on #20475
I'll try to take a look at this one.

[2021-07-06 09:18] ogrisel commented on #20475
It probably means we need to wrap `joblib.Parallel` into some kind of `ModelEvaluation` result object that can wrap both the traditional attributes and any warning message information with traceback info.

[2021-07-06 09:52] lorentzenchr commented on #20471
I'd like to see a use case where "NaN returns NaN" is useful. Dealing with missing values before PolynomialFeatures is beneficial in most cases and I'd like to understand where it is not.

[2021-07-06 09:55] glemaitre commented on #20471
It will be useful when our predictor will handle `NaN` values. For instance, tree-based models could at some point have such a strategy. If one is using `LightGBM` or `xgboost` then the support for missing values is natively implemented in the trees.

[2021-07-06 09:58] ogrisel commented on #16016
I think we should at least set the default limit with `_openmp_effective_n_threads` to avoid the oversubscription issue on environment running docker containers with a CPU quota of 2 cores on a machine with 32 or 64 cores as is very common on CI infrastructures.

[2021-07-06 10:02] jeremiedbb commented on #20371
I expected that https://github.com/scikit-learn/scikit-learn/pull/20200 would solve these kind of failures. Does the failures still happen with the current version of the main branch ?

[2021-07-06 10:33] lorentzenchr commented on #20471
Tree based models don't need polynomial features. They have their own way of incorporating non-linearities and interactions. In fact, I would even generally discourage such usage.

I'd say that linear models profit the most from PolynomialFeatures and they d/won't support missing values.

@indiana-nikel What use case do you have in mind?

[2021-07-06 12:10] drfraser commented on #20430
well.... To test things properly, I setup a fresh environment with just scikit-learn 0.24.2, numpy 1.21.0, and joblib 1.0.1. scipy 1.70 and threadpoolctl 2.1.0 came along automatically.

With this environment, the above test code worked as it should -- see [related joblib issue](https://github.com/joblib/joblib/issues/1199) Reconciling the difference in versions revealed the factor to be with scip

[2021-07-06 12:47] jmloyola commented on #20308
Worked on `LinearSVC`

[2021-07-06 13:38] kmedved commented on #16016
This would be appreciated. The current implementation has left HistGradientBoostingRegressor functionally unusable in my workflow. While using threadpoolctl.threadpool_limits allows some usage, that sort of wrapper is not really otherwise compatible with the rest of scikit-learn ecosystem.

[2021-07-06 14:20] graue70 commented on #16705
I think this particular case is covered by https://www.python.org/dev/peps/pep-0484/#function-method-overloading, even though the validation would basically have to be duplicated (once as type hints and once for the runtime).

[2021-07-06 14:52] drfraser commented on #20430
I'm closing this issue because it looks like it was related to something specific in my original environment - I can not recreate the segfault with my test code in a pristine one or the upgraded original one, despite changing all the possible variables.

[2021-07-06 14:52] #20430 closed

[2021-07-06 16:21] mcgibbon commented on #9626
You may want to take a look at [this commit](https://github.com/mcgibbon/scikit-learn/commit/450f3ff7355a468b71cf3db7e184712d1202fa79) where (unsuccessfully) tried to fix the issue. The issue isn't just with the sorting (maybe that is also an issue though, I apparently thought so when replying to [this](https://github.com/scikit-learn/scikit-learn/issues/9626#issuecomment-402573435)), it's that wh

[2021-07-06 16:25] c3-jack-lin commented on #9626
@mcgibbon Thank you for your reply. What you said makes lots of sense. Do you know where is the line/paragraph and any plan to improve how MAE is updated?

[2021-07-06 16:33] mcgibbon commented on #9626
That commit is written by past Jeremy who was much better informed on the issue, It's probably the best I can give you without diving into it again, which I haven't had the time for. I can also say reflecting back that I didn't succeed because I wasn't able to set up a good CI cycle for the WIP code (wasn't as familiar with Cython and testing as I am now), and because I got segmentation faults. I

[2021-07-06 16:49] manuyavuz opened #20478 "ConfusionMatrixDisplay lists `from_predictions` in docs which is not yet available"
#### Describe the issue linked to the documentation

https://scikit-learn.org/stable/modules/generated/sklearn.metrics.ConfusionMatrixDisplay.html

Here `ConfusionMatrixDisplay.from_predictions` method is listed as a possibility (not in the methods list but in the description).

However, `0.24.2` version does not have that method implemented in the code:
[code]

#### Suggest a potential alternativ

[2021-07-06 17:02] genvalen commented on #20308
Working on ``Naive Bayes`` classes

[2021-07-06 20:26] TomDLT commented on #20474
I agree. Would you like to submit a pull-request ?

[2021-07-06 21:23] ErickTalarico commented on #10404
For my project, enabling PolynomialFeatures to handle missing values is important.
I am actually using IterativeImputer, and would like it to be able to use the polynomial regression as a means for imputation, and with sklearn 0.23.1 it is not possible.

[2021-07-06 22:16] indiana-nikel commented on #20471
You're correct on both counts here @lorentzenchr, I'm looking at a linear model that would benefit from PolynomialFeatures() and you should be handling missing values prior to this sort of feature creation. I'm struggling to find another actual use case where either:
* A model can handle missingness AND will benefit from interaction terms and higher-power terms
* You would handle missingness at a

[2021-07-07 05:42] liesun1994 commented on #14485
It works, thanks~

[2021-07-07 09:05] #20306 closed

[2021-07-07 11:18] randomgambit opened #20482 "columntransformer does not handle duplicates"
Hello the great scikit-learn team!

Consider the following simple example (also posted on [SO](https://stackoverflow.com/questions/68282958/how-to-merge-two-countvectorizers-when-there-are-duplicates/68283373?noredirect=1#comment120682302_68283373))

[code]

As you can see, `text1` and `text2` share one exact word in common: `hello`. I am trying to create ngrams separately for `text1` and `text2`

[2021-07-07 14:38] ogrisel opened #20483 "Use _openmp_effective_n_threads to take cgroups CPU quotas into account into account in Elkan and Minibatch KMeans"
A partial output of `git grep prange` shows that those Cython file do not always path an explicit `num_threads` which means that those parallel loops will typically be over-subscribed in a docker container with low CPU quotas:

[code]

Similar to #20477.

[2021-07-07 14:43] jeremiedbb commented on #20483
Actually it's already done for most of them. They are in a `with parallel(n_threads=n_threads)` section where n_threads is controlled. There's only the `init_bounds` function for which it's not done yet

[2021-07-07 14:54] ogrisel commented on #20483
hum I missed that, I as too naive in my git grep.

[2021-07-07 15:55] francescamanni1989 commented on #17660
Hi everyone, I am into the same topic. I want to use gradient boosting and XGBoost with different base learners. I see this is the goal of starboost. However, as far as I understood starboost only support an sklearn base_estimator. Am I wrong?
I want to implement a customized base_learner (a NN module).

[2021-07-07 16:39] reshamas commented on #20308
Perhaps @thomasjpfan could help with this question.

[2021-07-07 16:48] jeremiedbb opened #20484 "NMF regularization should not depend on n_samples"
The objective function of NMF as described in the doc is (assuming l2 reg for simplicity)
```0.5 ||X - W.H||² + alpha ||W||² + alpha ||H||²```

Suppose I generate some datasets Xi as Wi @ H based on the same set of components H but with different n_samples. I would expect that for a same `alpha`, training a NMF model on these datasets with the same parameters would find similar components H.

Howe

[2021-07-07 17:19] ogrisel commented on #20484
Could you please put labels on the axis of the plots? ;)

[2021-07-07 17:24] ogrisel commented on #20484
It would be interesting to see the decomposition of the objective value as a stacked plot with the sum of 3 terms:

- the contribution of the data-fit term
- the contribution of the reg on the loadings
- the contribution of the reg on the components

and it we could also add as another line the data-fit term computed on an held out validation set.

This would make it possible to tune the optimal a

[2021-07-07 20:56] GaelVaroquaux commented on #20484
Right. Indeed, the optimization formula at the top of your post should be written as a sum of a term on vectors "x", which naturally would lead to an "n_samples" appearing when the sum is expanded. The NMF is sometimes formulated as such in the literature, and I agree that it is a cleaner way of doing things.

The n_features factor is, I believe less conventional. I agree it makes sense. I remembe

[2021-07-07 23:19] genvalen commented on #20308
Working on ``LarsCV``

[2021-07-08 00:00] TomDLT commented on #20484
See also #5296

[2021-07-08 01:12] DNXie commented on #20362
@defoishugo  Yeah I agree when input is an empty array the function is expected to do nothing. Perhaps the function could throw a `ValueError` rather than a `ZeroDivisionError ` so that it could exit gracefully. Thanks

[2021-07-08 13:57] rth commented on #20482
Short answer is that it's not supposed to I think.

It's non trivial to determine what constitutes a duplicate column. Column names are not a reliable indicator. Say you have a column "a". In one transformation you may square it and in another keep it unchanged, resulting in two features named "a" without them being duplicates. As to determining duplicates with the data it is costly to compute all

[2021-07-08 13:57] #20482 closed

[2021-07-08 15:45] jeremiedbb commented on #20484
@ogrisel I edited the plots to display the contributions of the 3 terms of the objective function. Everything is normalized by n_samples to be able to compare.

Here's a plot of the data fit computed on a validation set for models fitted on the 4 datasets with different n_samples, for several values of alpha, for the 2 strategies.
**Current behavior**
![nmf_objval1](https://user-images.githubuserc

[2021-07-08 16:07] jeremiedbb commented on #20484
@GaelVaroquaux I agree the n_features scaling seems less conventional but it's necessary to have a balance between the H and W regularization. One solution could be to split the regularization into `alpha_H` and `alpha_W` and let the user deals with it but it would not be very nice of us :)

Another motivation to fix it is for MiniBatchKMeans where the issue is even more problematic to me because

[2021-07-08 17:12] reshamas commented on #3270
Note:  This file (https://github.com/scikit-learn/scikit-learn/blob/506b12b2761ad88039114dec1c6c4fcec4a7a021/sklearn/neighbors/_binary_tree.pxi) has
[code]
and `log_rtol` is used after `rtol` definition.

[2021-07-08 20:09] jolespin commented on #15287
Can this condition be adapted?

https://ieeexplore.ieee.org/document/7492784?signout=success

[2021-07-08 21:55] yashs97 opened #20487 "DeprecationWarning: scipy.linalg.pinv2 is deprecated since SciPy 1.7.0, use scipy.linalg.pinv instead"
Deprecation Warning when usinh scipy 1.7.0:
[code]

#### Steps/Code to Reproduce
Use example code from cross_decompositional documentation - https://scikit-learn.org/stable/auto_examples/cross_decomposition/plot_compare_cross_decomposition.html

[2021-07-08 22:41] TomDLT commented on #20487
Thanks for reporting this bug. It has already been fixed in #20309.

To avoid the deprecation warning, please update scikit-learn to the development branch or wait for the next release.

[2021-07-08 22:41] #20487 closed

[2021-07-09 04:23] pythonometrist opened #20488 "Do cross-validation estimators like LassoCV re-estimate the model on the full training set after finding the best hyperparameters?"
#### Describe the issue linked to the documentation
The description of cross-validation estimator does not explain whether the final model parameters are estimated on the entire training set, using the optimal hyperparameter obtained through cross-validation.

Typically we use cross-validation to identify optimal hyperparameters (such as SVM or LASSO).

What needs to be clarified is, once the opti

[2021-07-09 06:17] digendrasingh87 opened #20489 "import error"
ImportError: cannot import name 'StandardScaler' from 'sklearn.model_selection' (`C:\Users\digendra\.conda\envs\tf\lib\site-packages\sklearn\model_selection\__init__.py`)

[2021-07-09 08:13] #16016 closed

[2021-07-09 09:16] jeremiedbb commented on #20484
@TomDLT, glad we came to the same conclusion :) And actually your proposition is better, i.e. `alpha * n_features * ||W||² + alpha * n_samples * ||H||²`. With my proposition the regularization does not have the same balance w.r.t. the data fit for different n_features while it does with yours. This is illustrated by the 2 figures below. It shows the data fit on a validation set (normalized by n_fe

[2021-07-09 09:28] jeremiedbb commented on #20484
Based on this discussion and on the discussion in #5296, here's what I propose:
- deprecate the `alpha` and `regularization` parameters
- add 2 new parameters, `alpha_W` and `alpha_H`, to replace the 2 deprecated ones
  They default to 0 to match the default of the deprecated ones.
  If they are non 0 and `alpha` is also non 0, we use them instead of `alpha`.
- We solve `0.5 ||X - W.H||² + alpha_W

[2021-07-09 11:05] jeremiedbb commented on #20489
StandardScaler is in the `preprocessing` module

[2021-07-09 11:54] lesteve commented on #20475
Looking a bit more at it, the first thing I am going to do is the simple case: when all the test scores are NaN raise a warning in the main process saying that something is probably wrong with the model configuration and that `error_score='raise' is a good way to debug the error.

I will leave the more complicated cases for later:
- find a way to collect the warnings from the subprocesses and rais

[2021-07-09 13:16] lesteve commented on #20475
Hmmm actually another subtility in this: `ipykernel` 6 (released quite recently on June 30 2021) fixed the subprocesses stderr not being captured so you do see the warnings inside the Jupyter notebook with `ipykernel` 6: https://github.com/ipython/ipykernel/blob/master/CHANGELOG.md#600

### ipykernel 5.5.5 (no warnings shown)
![image](https://user-images.githubusercontent.com/1680079/125083181-59d

[2021-07-09 14:04] devpramod commented on #20081
@jackzyliu Can I explore this?

[2021-07-09 15:20] duygiangdg commented on #20478
I think it is a new functionality, the code for `ConfusionMatrixDisplay.from_predictions` is in master branch but has not been released.

[2021-07-09 16:21] cmarmo commented on #20081
Hi @devpramod, I believe @jackzyliu is waiting for comments and reviews in #20297 . It could be nice if you can comment there rather than starting a new pull request. Thanks!

[2021-07-09 17:52] TomDLT commented on #20488
**Answer:** Yes, these estimators refit on the full training set. I agree this should be documented somewhere, for instance in the [glossary](https://scikit-learn.org/stable/glossary.html#term-cross-validation-estimator), and in the docstring of each class.

**Details:**
- LassoCV, ElasticNetCV, MultiTaskElasticNetCV, and MultiTaskLassoCV [refit](https://github.com/scikit-learn/scikit-learn/blob/f

[2021-07-09 18:36] #20489 closed

[2021-07-09 18:44] trantrikien239 commented on #17951
Hi, I'm working on `sklearn/semi_supervised/_label_propagation.py` to fix this problem!

[2021-07-09 20:16] trantrikien239 commented on #17951
Hi @jnothman, @AartiKare,

I have submitted a Pull Request (#20494) that I think would fix this bug while ensure backward compatibility. Please take a look. Thank you!

[2021-07-09 21:39] ogrisel commented on #16016
@kmedved #20477 was merged in the main branch. Please feel free to test the nightly build to tell us if it fixes the problem for your use case:

https://scikit-learn.org/stable/developers/advanced_installation.html#installing-nightly-builds

[2021-07-09 22:20] ogrisel commented on #20484
We could also have `NMF(alpha_W=1e-2, alpha_H="same")` to make it possible to only tune `alpha_W` in a grid search with the proposed scaling to make the 2 regularization terms balanced whatever `n_samples`.

This would make it possible to keep the convenience of tuning a single parameter which should probably be enough most of the time, but also allows for tuning `alpha_W` and `alpha_H` independen

[2021-07-10 00:57] TomDLT commented on #20413
The original Birch [paper](https://www.cs.sfu.ca/CourseCentral/459/han/papers/zhang96.pdf) does mention outliers, but I am not sure about our implementation, and it is not obvious from the documentation.

I agree DBSCAN explicitly handles outliers (through `self.core_sample_indices_`).

[2021-07-10 16:53] j3nnn1 commented on #20308
working on BaggingRegressor

[2021-07-10 17:21] alinealfa commented on #20308
@marenwestermann and I worked on RandomForestRegressor

[2021-07-10 17:22] alinealfa commented on #20308
Working on Ridge

[2021-07-10 17:41] napoles-uach commented on #20308
Working on `CCA`

[2021-07-10 19:08] manuyavuz commented on #20478
They exist in the main branch, and the 0.24.x stable branch does not include these implementations yet. But 0.24.x confusingly includes the documentation for these functions. Apparently, there has been some confusion here, and reading it in `scikit-learn.org` makes things confusing.

[2021-07-10 22:14] alinealfa commented on #20308
Working on `RidgeCV`

[2021-07-11 08:57] himanshu007-creator commented on #20488
Hi, I would like to work on this issue. Please guide me further on what needs to be done. Thanks😄

[2021-07-11 13:36] #19923 closed

[2021-07-11 13:40] adrinjalali opened #20505 "Use available_if instead of if_delegate_has_method"
https://github.com/scikit-learn/scikit-learn/pull/19948 introduces `available_if` which fixes some issues and is easier to write and understand. We should use it instead of `if_delegate_has_method` in our own codebase, and encourage third party developers to use it as well.

This issue is to let people replace the usage one module at a time, and update the documentation of `if_delegate_has_method`

[2021-07-11 14:27] jnothman opened #20506 "Deprecate if_delegate_has_method and replace with available_if"
Metaestimators use a decorator called `if_delegate_has_method` to make sure that they have, for instance, a `predict_proba` attribute if and only if their base estimator supports probabilistic prediction.

#19948 introduces a more generic helper, `available_if`, which can replace `if_delegate_has_method` with a more readable decorator. This issue is to suggest the removal of `if_delegate_has_metho

[2021-07-11 18:57] drfraser opened #20507 "Deadlock when using BaggingClassifer and SVM with Dask backend"
#### Describe the bug

When I run the test code in a dask setup of anything but an entirely local cluster on my computer (e.g. LocalCluster or externally started dask server and workers), the BaggingClassifier will not finish and gets stuck at the _parallel_predict_proba phase. The phase of _parallel_build_estimators always finishes.

#### Steps/Code to Reproduce

Dask clusters tried:

- on just l

[2021-07-11 23:21] embandera commented on #20308
Working on `Select IsotonicRegression`

[2021-07-11 23:29] allefeld opened #20508 "`isotonic_regression` modifies passed `sample_weight`"
#### Describe the bug

If an array is passed to [`isotonic_regression`](https://github.com/scikit-learn/scikit-learn/blob/2beed55847ee70d363bdbfe14ee4401438fba057/sklearn/isotonic.py#L79) as parameter `sample_weight`, at least sometimes this array is modified by the function.

Though the documentation does not make any guarantees about this, it is unexpected, and should at least be documented or,

[2021-07-12 06:25] jnothman commented on #20505
Duplicate of #20506

[2021-07-12 07:05] #20505 closed

[2021-07-12 07:10] glemaitre commented on #20508
Yes this is bad.

[2021-07-12 13:33] ogrisel commented on #10993
Anybody interested in implementing solution a2) described above?

[2021-07-12 13:39] ogrisel commented on #19414
There are still 3 occurrences to clean up in a last PR:

[code]

Once this is merged, we can close this issue, and then finally deprecate  `assert_warns` and `assert_warns_message` them-selves in another PR.

[2021-07-12 13:53] jmloyola commented on #19414
I don't believe we are going to be able to do so yet.
Unless the way the tests are run is changed.

Note that in the begging of [`sklearn/utils/tests/test_estimator_checks.py`](https://github.com/scikit-learn/scikit-learn/blob/ed3642014be412b0bda13d1ec756baeabb0dcbfe/sklearn/utils/tests/test_estimator_checks.py#L1-L3) there is a comment that warns about the use of pytest.  Hence, we won't be able

[2021-07-12 15:04] rasmuserlemann opened #20511 "Sklearn Dependency with the Latest Scipy"
#### Describe the bug
My issue is about the latest scipy version dependency with sklearn. Function PLSRegression uses pinv2 from scipy, but pinv2 is deprecated since SciPy 1.7.0.

#### Steps/Code to Reproduce

[code]

#### Expected Results

---------------------------------------------------------------------------
DeprecationWarning                        Traceback (most recent call last)
<ipytho

[2021-07-12 18:11] TomDLT commented on #20488
We should add at the top of the docstring of all the listed classes that the estimator refits the model on the full training set after finding the best hyperparameters (reminding the reader what are the hyperparameters optimized in each class). We should also add this as a general info in the glossary (see link above).

[2021-07-12 20:04] niuk-a commented on #17554
take

[2021-07-12 20:42] allefeld commented on #20508
First I thought this had to do with `_check_sample_weight`, which would have been *really* bad, but now I think it has to do with the isotonic regression algorithm itself:

[code]

Output:

[code]

It looks like the modified weights indicate "pooled violators"?

Anyway, the isotonic regression solution seems to be correct, so the workaround is to pass a copy of the weights into the function, and t

[2021-07-12 21:47] cmarmo commented on #20511
Hi @rasmuserlemann thanks for your report.
The issue has been fixed in #20309. See also #20487.
The current development version should fix your problem.

[2021-07-12 21:47] #20511 closed

[2021-07-13 00:00] jkquant opened #20516 "MLPClassifier and MLPRegressor returning different weights when trained on Linux versus windows with same class instantiation parameters and same data."
#### Describe the bug
MLPClassifier( ) is returning different weights when trained on Linux versus windows with same class instantiation parameters and same data.
parameters:- activation='relu', solver='lbfgs', random_sate=123
The same is observed when testing the MLPRegressor( )

#### Steps/Code to Reproduce

parameters:- activation='relu', solver='lbfgs', random_sate=123

[code]

#### Expected R