[2019-11-05 18:15] #4685 closed

[2019-11-05 18:17] amueller commented on #13100
This can be closed, right? We're not vendoring joblib any more and joblib fixed the issue.

[2019-11-05 18:21] amueller commented on #13171
Happy to add a license there. I would go for CC-0 but I'm not sure what others think? CC-BY?
The repo contains company logos which have different copyrights, though. Not sure how that is best handled?

[2019-11-05 18:23] amueller commented on #15019
That's not currently possible out-of-the-box.
You can write a meta-estimator to achieve that yourself, though (i.e. something that wraps the LogisticRegression and changes the threshold).
There is a more general solution in the works here: #10117

[2019-11-05 18:30] rth commented on #15443
Well we managed to install it in the end during the sprint by disabling OpenMP. Mostly opened the issue for future reference. If @LalliAcqua is willing to investigate probably best to create a separate virtual environment for it...

[2019-11-05 18:32] rth commented on #13100
Yes, it should be fixed in joblib 0.14.0.

[2019-11-05 18:32] #13100 closed

[2019-11-05 19:52] jnothman commented on #15408
I agree that I would struggle to explain why macro averages were interesting in the binary case. Either one class should be interesting, or accuracy or MCC are better choices of how the classes relate to each other in performance

[2019-11-05 20:05] NicolasHug commented on #15152
Trying that but can't get to anything

[2019-11-05 20:11] #14625 closed

[2019-11-05 21:41] LateNitePie commented on #14624
I'm having the same error on trying to install scikit-learn.  I've reinstalled XCode and Clang on my Mac.  I tried installing using Anaconda (which completed fine, but didn't get scikit-learn to work).  Would anyone know if there has been a resolution to this issue?

The exception message that I get is below,

$ pip3.8 install scikit-learn
Collecting scikit-learn
  Using cached https://files.pytho

[2019-11-05 21:48] jeremiedbb commented on #14624
@LateNitePie can you try with [these instructions](https://scikit-learn.org/dev/developers/advanced_installation.html#macos) ?

[2019-11-05 22:16] jnothman commented on #6616
Let's close it since it's no longer a general problem, but a question of specific functions?

Thanks for the great effort, @NicolasHug

[2019-11-05 22:16] #6616 closed

[2019-11-05 22:19] jnothman commented on #14338
Moving to 0.23

[2019-11-05 22:24] jnothman commented on #15152
Are we happy to close this?

[2019-11-05 23:44] NicolasHug commented on #15152
Maybe we need to decide the order of the entries, but OK for another issue

[2019-11-06 01:02] jnothman commented on #15152
How about you propose the order in a PR rather than making an issue of it.

[2019-11-06 01:05] yhfwww opened #15545 "Is there any way to use the model saved by scikit learn in C + + or JAVA?"
Is there any way to use the model saved by scikit learn in C + + or JAVA?

[2019-11-06 01:10] jnothman commented on #15545
Yes, use ONNX or PMML export.

[2019-11-06 01:10] #15545 closed

[2019-11-06 03:31] LateNitePie commented on #14624
This fixed the issue.  I tried the second option to install libomp with Homebrew.  It worked like a charm.  Thanks for your help!

[2019-11-06 04:27] stevennic opened #15546 "Use Bit Vectors for binary Vectorizers instead of float"
For vectorizers that support `binary=True` it seems excessive to use a `float` when a single bit is enough. Switching to a Bit Vector data type could increase memory efficiency by 32x compared to a `float32`, greatly improving scalability for NLP. Such a structure might not even need to be sparse. It would probably require moving away from a Numpy CSR for this case, but perhaps it's a big enough b

[2019-11-06 06:01] KafeelBasha commented on #15439
Thank you for the response.

With scaled data I am getting below output

![image](https://user-images.githubusercontent.com/22866208/68272202-e07c0d80-0088-11ea-8b61-6b885d45ddb9.png)

[2019-11-06 06:08] KafeelBasha commented on #15439
Hello

Any update on this?

On Sat, Nov 2, 2019 at 7:34 PM Arthur Böök <notifications@github.com> wrote:

[2019-11-06 07:29] jnothman commented on #15546
I get the idea of using bit vectors for dense binary data, though we aren't
likely to invest in developing an alternative to numpy arrays.

But as an alternative to sparse data seems a strange idea: usually a sparse
structure is used where a 32x memory reduction in the dense representation
is unlikely to help. Do you have any reason to believe otherwise?

Like 20 newsgroups vectorised involves 1.8

[2019-11-06 07:30] ElectronicElephant opened #15548 "Terrible Performance of jaccard_score"
#### Description

Recently I've changed from v0.19 to v0.21.3, and I soon found out that the performance of `jaccard_score`, which is the successor of `jaccard_similarity_score` is really bad.

Let's take a simple binary job (which is very common in the field of Computer Vision, i.e., calculating the iou of two masks) as an example:

[code]

Here is the output of my simple test program:
[code]

On

[2019-11-06 07:38] rth commented on #15548
Probably because `jaccard_core` works for different type of input, not only binary arrays. We could certainly add a fast path for the binary case.

The difference in performance between v0.19 and v0.21.3 would need to be investigated.

[2019-11-06 07:43] EletronicElephant commented on #15548
Thank you for your quick rely. I'm sorry that I didn't make it clear that in v0.19, I used `jaccard_similarity_score`, which was deprecated and replaced by `jaccard_score` in v0.21.3. It's understanding that `jaccard_score` is a bit slower than `jaccard_similarity_score`. Thus, the performance difference is not a big issue at all. Instead, the huge performance potential is the key. Thank you!

[2019-11-06 07:58] jnothman commented on #15548
@EletronicElephant, are you using our implementation of `jaccard_score` to evaluate machine learning algorithms? If not, it might not be the right implementation for your use case. There are certainly better ways to evaluate jaccard similarity, and better ways to represent sets in order to evaluate jaccard similarity in other applications. scipy.spatial.distance.jaccard is also an optimised option

[2019-11-06 08:59] stevennic commented on #15546
That's a good point. So there must be a density threshold where bit vectors start to win out. I'll try to calculate this for my use case and see where it sits. I think my scenario has a more constrained vocabulary than newsgroups. I'm bumping into out of memory errors trying to fit 2**18 features so I was wondering if this approach would help.

[2019-11-06 09:52] ogrisel commented on #15527
In particular the parquet format implemented in pyarrow should be able to serialize large (sparse or not) 2D numerical arrays quite efficiently.

[code]

For reference on my laptop I had:

[code]

That being said I am not opposed to a PR that would improve the speed of `dump_svmlight_file` if the code is not too complex.

[2019-11-06 10:14] panpiort8 commented on #15272
Is anyone working on that? If not, I can take it.

[2019-11-06 10:25] adrinjalali opened #15550 "Support categorical features in HistGradientBoosting estimators"
Similar to #12866 , HGBT based estimators can also natively support categorical features.

This issue is a placeholder to keep track of the discussions around the issue.

[2019-11-06 10:35] #15534 closed

[2019-11-06 10:48] ogrisel commented on #15303
label the axes "sensitivity to class 1" and "sensitivity to class 0" and
similar for other class labels....

Actually we should rather use the string class labels in the axis labels (rather than the implicitly encoded labels).

[2019-11-06 10:52] adrinjalali commented on #15272
Seems like it's available, feel free to take it @panpiort8

[2019-11-06 11:10] jnothman commented on #15303
Yes, that's what I meant. But currently we don't use any class labels in
the axis titles I think.

[2019-11-06 11:15] DanilZherebtsov commented on #15542
Thanks for the reply, but this does not answer my question:

Why at verbose = 8 on small datasets I get the expected console output [Parallel(n_jobs=-1)] Done N tasks... and on large datasets at some point in RandomizedSearchCV process I get parameters printed out to the console after each iteration?

Is there a way to control the output of these parameters prints?

[2019-11-06 12:17] TwsThomas commented on #15541
It seems to come from matplotlib 1.3.**1**
No idea how to fix it, submit the issue there https://github.com/matplotlib/matplotlib/issues/15608

[2019-11-06 13:16] jeremiedbb commented on #15443
I know but it's hard for me to test because it makes try to find how to break my environment to reproduce the issue :)

[2019-11-06 13:24] rth commented on #4468
Closing since proposed PR was closed in favor of a separate project https://github.com/scikit-learn/scikit-learn/pull/4801#issuecomment-281030887

[2019-11-06 13:24] #4468 closed

[2019-11-06 13:32] FilFilias commented on #15368
The problems seems to occur cause of PLS Regression.It return array shape (24,1) while VotingClassifier needs (24) .It works perfectly with all other models except PLS Regression.Is there any way to make it returnan (24) array instead?

[2019-11-06 13:51] rth opened #15551 "Supervised discretization"
Is there any interest to implement some supervised discretization algorithms? I would imagine that it might work better than quantile on kmeans discretization in `KBinsDiscretizer`, particularly on somewhat imbalanced classes.

There is a detailed review of supervised discretization techniques in ["A survey of discretization techniques: Taxonomy and empirical analysis in supervised learning"](http

[2019-11-06 14:05] TwsThomas commented on #15541
So according to @tacaswell

[2019-11-06 14:07] stoddardg commented on #12429
@thomasjpfan Yes, I'll get to testing it this weekend.

[2019-11-06 14:13] ogrisel commented on #15303
FPR is not sensitivity to class 0 right? TNR would be sensitivity to class 0. (I think). I am not sure how we could improve the labels.

[2019-11-06 14:57] qinhanmin2014 commented on #15303
@ogrisel @jnothman Actually I no longer regard this as a blocker. This is consistent with the repo if we think roc_auc_score is problematic (i.e., it should also support pos_label), because average_precision_score, roc_curve, precision_recall_curve do not infer pos_label automatically.
[code]

[2019-11-06 14:58] qinhanmin2014 commented on #15303
Perhaps we can simply use pos_label=1 as the default and never infer pos_label.

[2019-11-06 16:14] ogrisel commented on #15303
I am actually thinking of the opposite: https://github.com/scikit-learn/scikit-learn/pull/15405#issuecomment-550378401

[2019-11-06 18:07] lorentzenchr commented on #15438
Same for `LinearRegression`.

[2019-11-06 19:40] amueller commented on #15541
Thanks for following up, probably nothing to do for us then. We could ensure to pin to something other than 1.3.1 for the doc build but not sure that's worth it.

[2019-11-06 19:44] NicolasHug commented on #15152
Opened #15552

[2019-11-06 19:49] amueller opened #15553 "FYI/RFC: MLR Pipeline infrastructure and fit.transform vs fit_transform"
I recently talked with the authors of the MLR package for R. The just changed their pipeline infrastructure to something quite similar to ours - though they developed it independently.
See this for details: https://mlr3pipelines.mlr-org.com

I wanted to point out one particular aspect of their design.
We have been having issues with fit().transform() vs fit_transform, for example in stacking and r

[2019-11-06 20:03] amueller commented on #6616
How about the "unsure tending towards deprecation"? Should we open an issue with that list?

[2019-11-06 20:07] jnothman commented on #15303
Can we make the plot title or axes include the pos label so that at least
it is clear to the viewer?

[2019-11-06 20:09] NicolasHug commented on #6616
I think these would be part of the developer API discussion (if it happens). So yes I'd say another issue is fine

[2019-11-06 20:19] amueller commented on #15303
See my comment in https://github.com/scikit-learn/scikit-learn/pull/15405#issuecomment-550482262 please. I was a bit confused about what is happening.

[2019-11-06 20:27] amueller commented on #15368
Thanks for reporting. Unfortunately that might not be possible right now.

[2019-11-06 20:28] amueller commented on #15542
how about ``verbose=1``?

[2019-11-06 20:39] #15372 closed

[2019-11-06 21:03] jnothman commented on #15368
What version of scikit-learn are you using? Did we fix this in
VotingClassifier?

[2019-11-06 21:14] FilFilias commented on #15368
Currently 0.21.3

[2019-11-06 22:44] thomasjpfan commented on #14781
@amueller They were closed by the contributors.

[2019-11-06 22:51] thomasjpfan commented on #14559
There was someone working on something similar. We may have spoke about this IRL regarding `SparseCoder` and `self.components_`?

[2019-11-06 23:51] amueller opened #15556 "Scaling issues in l-bfgs for LogisticRegression"
So it looks like l-bfgs is very sensitive to scaling of the data, which can lead to convergence issues.
I feel like we might be able to fix this by changing the framing of the optimization?

example:
[code]
this gives convergence warnings, after scaling it doesn't. I have seen this in many places. While people *should* scale I think warning about number of iterations is not a good thing to show to

[2019-11-06 23:59] amueller commented on #14559
hm ok might have also been me. Either way, seems open?

[2019-11-07 01:50] TomDLT commented on #15439
Can you give the entire code you used to reproduce this figure ?

[2019-11-07 05:55] #15303 closed

[2019-11-07 07:08] bladeoflight16 commented on #6715
Binary classifiers are a fantastic example for consideration. These violate the "normal" expectation that multiclass problems are supported, but they can still be particularly useful for a specific problem. I'm also dealing with trying to create a classifier that has unusual class restrictions, and because `check_estimator` has no mechanism to allow for me to specify classes that meet them, I can'

[2019-11-07 07:20] KafeelBasha commented on #15439
Below is the code

[code]

Any suggestion will be helpful.

[2019-11-07 07:55] jnothman commented on #6715
Thanks for the feedback. Yes, the suite of checks has grown organically and
is not documented. The new  parametrize_with_checks in version 0.22 (and
the nightly builds) will help you list which checks are failing. Can you
please give us this list and share your use case more specifically?

[2019-11-07 08:56] #15541 closed

[2019-11-07 09:03] panpiort8 commented on #15272
Ok, I'll take it (then I suppose 'help wanted' is misleading)

[2019-11-07 09:05] ogrisel commented on #15443
I deleted the command line tools on my macOS laptop to try to build with conda-forge compilers:

[code]

and when activating the conda env with the conda-forge compilers I get the following warnings:

[code]

If I ignore the warning and try to build scikit-learn anyway I get:

[code]

So this is not the same problem as the one reported by @LalliAcqua.

I am also running macOS Mojave 10.14.6. Here

[2019-11-07 09:24] ogrisel commented on #15443
I will open a pull-request to make it explicit that we need to install the macOS command line tools first.

[2019-11-07 09:33] ogrisel commented on #15443
@LalliAcqua if you have the time I would really appreciate it if you could give us your logs (https://github.com/scikit-learn/scikit-learn/issues/15443#issuecomment-549832387) as I cannot reproduce the issue you reported even though I am running the same macOS version.

[2019-11-07 09:54] glemaitre commented on #15556
+1 we saw that when preparing the tutorial at euroscipy and make an example to highlight the importance of scaling there. We wanted to make a PR adding the issue of scaling in the warning.

[2019-11-07 09:56] glemaitre commented on #15556
@amueller do you think that changing the warning is sufficient?

[2019-11-07 10:43] ogrisel commented on #15443
Also @LalliAcqua can you please tell us the content of your `$HOME/.condarc` file if you have any?

[2019-11-07 16:14] amueller commented on #15556
If we can make the optimization more numerically stable I would prefer that. We could add to the warning for this release maybe?

[2019-11-07 16:26] mfeurer commented on #15383
I have observed the same issue on joblib==0.14.0 and created an issue over the joblib repository: https://github.com/joblib/joblib/issues/959

[2019-11-07 16:42] glemaitre commented on #15556
Yep this seems good.

[2019-11-07 17:04] 779817211 opened #15565 "DOC Equation for Bernoulli Naive Bayes"
https://scikit-learn.org/stable/modules/naive_bayes.html#bernoulli-naive-bayes

In the above link, the sixth line of the body content, the Latex formula is:
$P(x_i \mid y) = P(i \mid y) x_i + (1 - P(i \mid y)) (1 - x_i)$
But it seems like it should be like this:
$P(x_i \mid y) = P(x_i=1 \mid y) x_i + (1 - P(x_i=1 \mid y)) (1 - x_i)$
I don't know if this is correct, thank you.

[2019-11-07 17:16] glemaitre commented on #15553
Is there a bottleneck and use case for which transform will be wistful and one would only want a fitted transformer? (Most probably not in a pipeline)

[2019-11-07 21:44] yingbo commented on #15328
Do you guys have a list of supporting python version somewhere? All I can find is:

Obviously Python 3.8 >= 3.5.

[2019-11-07 22:24] TomDLT commented on #15439
You are using a RBF affinity kernel, which is directly dependent on its scale parameter `gamma`.
You need to tune this parameter. In your example, increasing gamma gives the expected result.

Similarly, when using the nearest neighbors affinity, you would need to tune the number of neighbors `n_neighbors`.

[2019-11-07 22:26] TomDLT commented on #15439
I am closing this issue since you're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-11-07 22:26] #15439 closed

[2019-11-07 22:35] adrinjalali commented on #15328
That's a fair point, no we don't. But soon we'll release one which supports 3.8. It'll take a few more weeks. You should already be able to compile from source though.

[2019-11-07 22:36] #15488 closed

[2019-11-07 22:41] #15152 closed

[2019-11-07 23:51] stevennic commented on #15546
So your example has a density of about 0.1%. I calculate that at 3% density and above, bit vectors start to be more economical than `float32`. Therefore whether it's beneficial would depend on the sparsity assumptions made by the scikit architecture.

[2019-11-08 00:25] jnothman commented on #15546
Yes, if you only want binary features. The development cost is really the
issue.

[2019-11-08 00:46] stevennic commented on #15546
Right, the proposal would be for this data structure to be an option for binary features. I understand it may be a big change. Just thought I'd offer an optimisation idea.

[2019-11-08 00:58] TomDLT commented on #14743
Should we close this one ?

[2019-11-08 01:25] NicolasHug commented on #14743
yup!

[2019-11-08 01:25] #14743 closed

[2019-11-08 05:41] KafeelBasha commented on #15439
Thanks

[2019-11-08 10:56] mfeurer commented on #15383
Is this potentially related to https://github.com/scikit-learn/scikit-learn/issues/12315 ?

[2019-11-08 12:23] ogrisel commented on #14863
Fixed by #15567.

[2019-11-08 12:23] #14863 closed

[2019-11-08 13:35] mfeurer opened #15568 "Simpler interface for Random Search over MLPClassifier number of layer and their sizes"
My goal: use `RandomizedSearchCV` to set both the number of layers and the size of each layer of the `MLPClassifier` (similar to Section 5 of [Random Search for Hyper-Parameter Optimization](http://www.jmlr.org/papers/volume13/bergstra12a/bergstra12a.pdf)). So far I've come to the conclusion that this is possible, but can be simplified. The code which I expected to work:
[code]
fails to recognize

[2019-11-08 16:08] NicolasHug commented on #14953
We only want to warn when the Categorical dtype is **ordered** right? Categories aren't necessarily ordered and this is actually pandas' default.

The current PR #15396 warns when categories aren't ordered which seems wrong to me.

(Sorry if this has been previously discussed)

[2019-11-08 16:49] thomasjpfan commented on #14953
pandas uses the lexicon order for its encoding when the categorical dtype is unordered, so it so happens that this is okay. Although I agree we should not rely on this, and warn when the category is ordered.

[2019-11-08 17:14] amueller commented on #15556
hm maybe we can still do it for the final release? do you wanna do it? I'm at a workshop...

[2019-11-08 19:19] amueller commented on #15553
For example ``KNNImputer`` might be expensive.

[2019-11-08 19:23] amueller opened #15573 "plot_precision_recall_curve and plot_roc_curve don't allow picking positive class"
In #15555 we removed the inconsistent ``pos_label`` attribute.

It would be good to allow users to specify which class is the semantically positive class and slice ``predict_proba`` or ``decision_function`` accordingly.

I'm not sure if that parameter should be called ``pos_label`` as it is somewhat semantically different. Maybe ``positive_label``? ``positive_class``? but it's not clear that that'

[2019-11-08 21:35] qinj commented on #11777
Use model.classes_ attribute

y_probs = model.predict_proba(X_test)
log_loss(y_test, y_probs, label=model.classes_)

[2019-11-09 08:16] jueweng opened #15577 "MAC OS - clang: error: unsupported option '-fopenmp'"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2019-11-09 11:42] tcerdaITBA opened #15578 "Add absolute error criterion for DecisionTreeClassifier"
# Add absolute error rate criterion for DecisionTreeClassifier

## Description
Add a new criterion with name `absolute_error` for `DecisionTreeClassifier` which defines impurity of a node as the count of incorrect classes in such node, taking into account that the correct class of a node is simply defined as the class with the maximum number of samples of such class in that particular node.

This

[2019-11-09 15:26] ahmhashesh commented on #15578
sounds like a suitable issue to start with.
Can I work on this one?

[2019-11-09 16:28] tcerdaITBA commented on #15578
Hello @ahmhashesh, I've submitted a [PR](https://github.com/scikit-learn/scikit-learn/pull/15579) for this issue and it would be great if you could review it. Still, do feel free to provide your own implementation as well ;)

Best regards

[2019-11-09 18:39] bushrahaque commented on #14624
I'm having the same issue as @LateNitePie and have chosen to install libomp with Homebrew as per the instructions for MacOS. Except when I run the command `make clean`, I get an error:

make: *** No rule to make target `clean'.  Stop.

I've tried searching for a solution but I'm new to all this so none of it really makes sense. Any help is appreciated.

[2019-11-09 18:59] jeremiedbb commented on #14624
The instructions I linked only apply when getting the source code by cloning the github repository. In that case you need to be at the top level of the repo to run the `make` commands.

[2019-11-09 19:15] monikasoni opened #15580 "Import sklearn dumps core"
I built sklearn and trying to import with Python3.7 getting core dump

[code]

Stack Trace

======
#0  0x00007fffed400d4e in PyTuple_New (size=<optimized out>) at Objects/tupleobject.c:133
#1  0x00007fffed40824e in PyType_Ready (type=type@entry=0x7fffed80fe80 <PyBaseObject_Type>) at Objects/typeobject.c:5196
#2  0x00007fffed4081d6 in PyType_Ready (type=0x7fffed808b80 <PyModuleDef_Type>) at Objects

[2019-11-09 19:28] bushrahaque commented on #14624
Thanks, it worked perfectly! Much appreciated :)

[2019-11-09 19:41] tvotan commented on #14624
@bushrahaque How did you do that? I also had the same error and I also followed the instructions by cloning the git ...

[2019-11-09 20:14] tvotan commented on #14624
Hi,
I try to follow the instructions: (https://scikit-learn.org/dev/developers/advanced_installation.html#macos)

<img width="952" alt="Screenshot 2019-11-09 at 9 10 03 PM" src="https://user-images.githubusercontent.com/39995527/68534500-9075a300-0335-11ea-9ea9-2a34a1342b48.png">

I already installed the macOS command line tools using:
`xcode-select --install`

and

I installed the LLVM OpenMP lib

[2019-11-09 22:28] bushrahaque commented on #14624
Hi, I'm a newbie to this so I'm not sure why what I did worked. I used the terminal from my Python IDE itself (PyCharm latest version). You can just copy/paste all the exports, I don't think you're supposed to see anything on the terminal when you execute it. Then `make clean` and `pip install --verbose --editable .`. My mistake was not cloning it properly.

You should complete these steps right a

[2019-11-09 22:41] jackexu commented on #14624
In terminal, type: nano ~/.bash_profile
Copy paste to it and Crtl+X save it.

[2019-11-09 22:56] amueller commented on #15556
I'm actually not entirely sure how to best solve this. This is and issue for nearly all of the solvers, I think.
There's basically two obvious solutions: be magic and scale the data, or do what the user asked and use a diagonal preconditioner (which is I think what liblinear does). The preconditioner is basically free and likely to solve the issue for lbfgs, Newton, sag and saga.
The main differen

[2019-11-09 23:01] GaelVaroquaux commented on #15556
+1: diagonal preconditioner, as we try to solve the canonical problem.

Good thinking @amueller, this will be useful!

[2019-11-09 23:27] NicolasHug opened #15581 "New plotting API, basic usage"
I was trying the new plotting API for the PDPs and was surprised that a seemingly natural pattern wasn't supported:

1. it is impossible to re-use the same `ax` object and pass it along to different displays.
2. `ax.plot...`  **will not plot anything**. This looks like a bug to me so I'm marking it as a blocker :/

@thomasjpfan

[code]

[2019-11-09 23:36] NicolasHug commented on #15581
Also, calling `ax.plot()` and then `plot_partial_dependence(ax=ax)` will overwrite the `ax.plot()` call

[2019-11-10 00:07] thomasjpfan commented on #15581
This has to do with how `plot_partial_dependence` has the ability to make multiple plots. The first call to `plot_partial_dependence` will consider the pass in axes as a space to place its many plots in. On master it makes the passed in axes invisible, which I wish to change in https://github.com/scikit-learn/scikit-learn/pull/15572

Because the first call to `plot_partial_dependence` "steals" the

[2019-11-10 00:24] NicolasHug commented on #15581
To avoid blocking the release we could simply clarify the docstring by mentioning that the `ax` parameter should not be used before / after the call to `plot_partial_dependence`.
But I think this should be made possible in the future

[2019-11-10 02:49] NicolasHug commented on #15581
BTW @thomasjpfan my actual use-case is for https://github.com/scikit-learn/scikit-learn/pull/15582/files#diff-ed86369b9f691229872522d920d3f650

[2019-11-10 08:00] amueller commented on #15556
Labeling this as a regression as we used liblinear in 0.21, which doesn't have this issue (because it uses a preconditioner).

[2019-11-10 11:42] glemaitre opened #15584 "change deprecated:: with versionchanged:: in FunctionTransformer"
We have the wrong label in the `FunctionTransformer`:

https://github.com/scikit-learn/scikit-learn/blob/8bf181415/sklearn/preprocessing/_function_transformer.py#L51

We changed the value and there is no deprecationg anymore so we can use `versionchanged::` instead of `deprecated::`

[2019-11-10 11:43] jnothman commented on #15568
We have just made randomised search a a superset of grid search
specifications and now you want to change that?
Yes there are problems with the parameter design in MLP, but I think this
solution is a bit too magical and specific to that parameter format. It may
be better to design an RV to match your needs?

[2019-11-10 11:48] glemaitre commented on #15580
Could you describe the way that you try to install scikit-learn: from source, via pip, via conda?
In case you installed it from source, could you also give the version of `Cython`.

[2019-11-10 11:51] glemaitre commented on #15577
Please refer to the install user guide: https://scikit-learn.org/dev/developers/advanced_installation.html#building-from-source

Especially, you will need to install clang with OpenMP support (not supported with vanilla system).: https://scikit-learn.org/dev/developers/advanced_installation.html#macos -> it corresponds to the 2nd steps of the installation guide above.

[2019-11-10 11:51] #15577 closed

[2019-11-10 11:53] jnothman opened #15585 "Should fetch_openml's categoricals be ordered?"
We recently added an option in fetch_openml to return a DataFrame where nominals from openml would be encoded as pandas categoricals. However please categoricals are constructed as unordered. In arff, used by openml, there is no way to specify a nominal attribute without giving its values an order, so it's possible that the nominal feature should be ordered. Should we be setting the ordered flag w

[2019-11-10 11:54] glemaitre commented on #15443
FWIW, @LalliAcqua had `conda 4.6` when trying to install the compilers from `conda-forge`. This might be one of the requirement to be able to reproduce the issue.

[2019-11-10 11:55] jnothman commented on #14953
As I noted in the pr, I would be more comfortable warning in any case
precisely because the categoricals do not have the ordered flag set by
default.

[2019-11-10 14:07] NicolasHug commented on #14953
Ordinal categories are far less common than pure nominal categories, so IMHO the pandas default makes sense, and we would be warning for no good reason in most cases.

Why would you want to warn something about the order when there is no order in the first place?

[2019-11-10 15:05] #15584 closed

[2019-11-10 15:22] beachkrp opened #15588 "CountVectorizer."
Here is an issue that I came across with Count Vectorizer and its use with Column Transformer and Pipelines

https://stackoverflow.com/questions/54541490/sklearn-text-and-numeric-features-with-columntransformer-has-value-error/57970935#57970935

I found a work around using by removing the column name to be processed directly instead of just a list.

This may be the way that it is intended to funct

[2019-11-10 15:22] beachkrp opened #15589 "CountVectorizer."
Here is an issue that I came across with Count Vectorizer and its use with Column Transformer and Pipelines

https://stackoverflow.com/questions/54541490/sklearn-text-and-numeric-features-with-columntransformer-has-value-error/57970935#57970935

I found a work around using by removing the column name to be processed directly instead of just a list.

This may be the way that it is intended to funct

[2019-11-10 15:22] beachkrp opened #15590 "CountVectorizer."
Here is an issue that I came across with Count Vectorizer and its use with Column Transformer and Pipelines

https://stackoverflow.com/questions/54541490/sklearn-text-and-numeric-features-with-columntransformer-has-value-error/57970935#57970935

I found a work around using by removing the column name to be processed directly instead of just a list.

This may be the way that it is intended to funct

[2019-11-10 19:02] plgreenLIRU opened #15591 "Conditional Distributions for Gaussian Mixture Models"
Hello,

The other day I had to find the conditional distributions for a Gaussian Mixture Model - the code and maths is here:

https://github.com/plgreenLIRU/GMM_Conditional

I don't think that sklearn's GMM has this feature? If it looks useful, I'd be happy to fork and try to integrate? First time contributor so might be a bit slow :)

Pete

[2019-11-10 19:04] Sandy4321 commented on #10793
@jnothman jnothman
"and this is not a forum for asking usage questions"
you are wrong
it is mistaken description how to pre set coeffs
for example should be warm_start = True or not
and there is no example how to pre set  coef_init
for example by joint probability of feature and  target
what would be first  to try
Moreover
there no option to start optimization for logistic regression
with pre set

[2019-11-10 21:22] jnothman commented on #14953
This comes back to what someone is using an OrdinalEncoder for... The
ordering obviously has an effect.

[2019-11-10 21:27] jnothman commented on #15588
This behaviour is intended, but probably unhelpful. Perhaps we should be
more lenient in vectorizers and allow them to take a column vector of texts
or dicts, despite this being semantically imprecise.

[2019-11-10 21:27] jnothman commented on #15589
Duplicate of #15588

[2019-11-10 21:27] #15589 closed

[2019-11-10 21:27] jnothman commented on #15590
Duplicate of #15588

[2019-11-10 21:27] #15590 closed

[2019-11-10 21:38] NicolasHug commented on #14953
Sure, but then:
- it's not really an issue for the one hot encoder so we should probably not warn there
- does it even make sense to allow the ordinal encoder for unordered categories?

[2019-11-10 21:58] #13920 closed

[2019-11-10 22:01] jnothman commented on #10793
Re the documentation of warm_start, That doesn't memorise the training
data, only the learnt coefficients.

We do not have an officially supported way to initialise the models with
arbitrary coefficients.

[2019-11-10 22:03] jnothman commented on #14953
Sigh. Yes, people use the OrdinalEncoder just to turn strings into ints so
they can be fed to a forest.

[2019-11-10 22:06] jnothman commented on #15553
But it would be rare to use KNNImputer and not want the training data
imputed, so it's okay that it's expensive.

There certainly seem to be nice things about this design.

[2019-11-10 22:30] NicolasHug commented on #14953
... which makes absolutely no sense unless those strings are ordered

[2019-11-10 23:54] monikasoni commented on #15580
I am trying to build from source, Using Cython-0.28.5
Also set env variable SKLEARN_NO_OPENMP to 0.
'export SKLEARN_NO_OPENMP=0'

[2019-11-11 00:04] glemaitre commented on #15580
You will have support for OpenMP with the version of gcc that you are using.
When compiling with Cython, do you have any issues? You can post the output of the command `make clean && make in` from the root folder.

[2019-11-11 09:59] bmgdc opened #15592 "Order of features changes k-NN's predictions"
#### Description

k-NN regressor makes different predictions for the same features if order is swapped.

A high-level description of the steps is:
1. Train and predict with some data.
2. Use the same data, but change the order of the features in training and predicting.
3. Find different results

I think this shouldn't happen because k-NN does not care about the order of the columns.

Here's some

[2019-11-11 10:05] jvel07 commented on #13621
Hi, I think it would be quite useful for medicine ML. Is it implemented already?

[2019-11-11 10:23] glemaitre opened #15593 "Wrong sphinx cross-reference in user guide of NearestCentroids"
In the following section: https://scikit-learn.org/stable/modules/neighbors.html#nearest-centroid-classifier, the `KMeans` reference is broken. One should only put the proper link to `sklearn.cluster.Kmeans` instead of `sklearn.Kmeans`.

[2019-11-11 11:51] lucaionescu commented on #15593
Hi, I'd like to pick this up!

[2019-11-11 12:27] glemaitre commented on #15593
@lucaionescu thanks ;)

[2019-11-11 12:28] #15593 closed

[2019-11-11 13:31] adrinjalali opened #15595 "sklearn/utils/_cython_blas.pyx fails to cythonize if scipy is not installed in the env"
Now that we don't cythonize before creating the sdist, using the sdist fails to properly install the package if the freshly created environment doesn't include scipy.

`pip install scikit-learnxxx.tar.gz` on an environment which has numpy and cython, will fail while trying to cythonize `sklearn/utils/_cython_blas.pyx`.

Example error:

[code]

[2019-11-11 13:33] Sandy4321 commented on #10793
So this coef_init parameter is mistake, then remove it from documents

[2019-11-11 13:47] MerienU opened #15596 "MLPClassifier falsely lowers learning rate after accidentally getting low loss early on"
Hi,
Getting used to working with scikit-learn and using the MLPClassifier. This very much feels like a bug, but i could be missing on a certain functionality

#### Description
In the .txt file below I copied part of my `stdout` and you can see that early on in the solving process `Iteration 401` hit a very low loss (around 0.13). After `n_iter_no_change = 50` the learning rate is divided by 5 (= s

[2019-11-11 14:02] NicolasHug commented on #15595
`dgemm` is cimported from scipy and if cython can't find (scipy isn't installed) it it will assume it's a python thing?

Isn't scipy a build dependency anyway?

[2019-11-11 14:30] mfeurer commented on #15568
Sorry for not being clear enough, but that's not what I actually meant. My proposal is not to change the definition, but rather to further extend the current definition of a sampling distribution to not be all on the same "level", but to allow "second-level" hyperparameters such as the neural network layer sizes (allowing both ways of specifying this).

I'm happy to do so. Would you like to have s

[2019-11-11 14:43] ML-magazine commented on #13781
Hello all,
I do not know what I am doing wrong. Could someone kindly  have a look at this. I keep getting this : ValueError: No valid specification of the columns. Only a scalar, list or slice of all integers or all strings, or boolean mask is allowed.

[Here is a link to my code](https://github.com/ML-magazine/ames-/blob/master/Iowa_HousingPrediction.ipynb)

Thank you

[2019-11-11 14:46] adrinjalali commented on #15595
the way to specify build dependencies is to use `pyproject.toml`, which we've decided not to include in this release. Should we then error and tell users to install scipy before installing from sdist?

@ogrisel, @glemaitre , WDYT?

[2019-11-11 15:11] adrinjalali commented on #15595
although technically, we should only error if the user is installing the package from source, and doesn't have scipy, otherwise they don't need scipy during setup. Not sure how to do that.

[2019-11-11 15:33] NicolasHug commented on #15595
BTW @adrinjalali whatever issues you're going through are a great opportunity to document the subtleties of the releasing process... ;)

[2019-11-11 15:36] adrinjalali commented on #15595
yeah I'm already adding to the `maintainers.rst` as I go. I'll submit a separate PR after the release :)

[2019-11-11 16:00] NicolasHug opened #15598 "plot_partial_dependence overrides feature names when passing ax"
The above snippet will overwrite the feature names to 0 and 1 even though they where passed at the first call. Not a bug strictly speaking but maybe we can make it more intuitive? CC @thomasjpfan

[code]

[2019-11-11 16:08] thomasjpfan commented on #15598
For this to work, the second call would need to check "is the x or y axes already labeled?" This can be done. Do you think this would be more intuitive?

[2019-11-11 19:00] NicolasHug commented on #15598
considering the use-cases for `plot_partial_dependence` yes I think we can safely assume that we don't want to override labels if they are already there

[2019-11-11 20:32] jnothman commented on #15592
Order of summation can affect the result. I'm not sure there's much we can
do about that, except for writing an algorithm that ensures the returned
order is deterministic when sorted distances are within a specified
tolerance... But I don't think that's worth our while.

[2019-11-11 21:17] aditya1702 commented on #13621
@amueller Do you think we should implement this, given that people are interested in this?

[2019-11-12 00:38] amueller opened #15601 "Add sample_weight support to StandardScaler (and friends?)"
Via #15583:
it would be nice to have ``sample_weight`` support in ``StandardScaler``. I don't see how to do that for sparse data right now, though (without touching the Cython code).

[2019-11-12 00:54] glemaitre opened #15602 "plot_roc_auc raise NotFittedError with pipeline"
`check_is_fitted` is not working on `Pipeline`. Passing a pipeline in `plot_roc_auc` will raise an error because of the following line:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/_plot/roc_curve.py#L168

I assume that it will be a more general issue with all the plotting function which call `check_is_fitted`

[2019-11-12 00:56] glemaitre commented on #15602
I am not sure but it could be a regression, I tagged it as a blocker for the moment.
We should probably add a common test for all these plotting methods to be sure that work smoothly with a ColumnTransformer and a Pipeline and not only with a single estimator.

[2019-11-12 01:58] glemaitre opened #15603 "[RFC] GridSearchCV on OneClassSVM"
It seems that this is pretty difficult to make some grid-search on `OneClassSVM`

I wanted to search the `C` parameter with a `RandomizedSearchCV` and give the `balanced_accuracy_score`. However, `OneClassSVM` will predict `1` and `-1` which will be different from the values in `y`.

Shall we have a specific way to encode the target for novelty and outlier detection algorithms?

ping @albertcthoma

[2019-11-12 01:59] glemaitre commented on #15602
ping @thomasjpfan

[2019-11-12 02:04] glemaitre opened #15604 "MemoryError in KNNImputer with california housing"
I was doing a simple example with california housing and the `KNNImputer` blow up into my face:

[code]

[code]

[2019-11-12 02:04] glemaitre commented on #15604
ping @thomasjpfan any idea (it is a bit late to debug now here)

[2019-11-12 02:09] glemaitre opened #15605 "The reported time for the StackingRegressor example is wrong"
The elapsed time reported in:

https://scikit-learn.org/dev/auto_examples/ensemble/plot_stack_predictors.html#sphx-glr-auto-examples-ensemble-plot-stack-predictors-py

is not really useful. Either the units are wrong or the way to compute the time.

[2019-11-12 02:26] jnothman commented on #15605
Looks like a typo

[2019-11-12 03:03] wangyexiang commented on #15604
Maybe, your dataset is too big.

[2019-11-12 03:28] thomasjhuang commented on #15603
I think this would definitely be some valuable added functionality. I'm new to open source, but I was curious if I could contribute to this since it's something I think is a good idea.

[2019-11-12 03:35] qinhanmin2014 commented on #15602
I think we can remove that check and rely on the underlying estomators to raise NotFittedError

[2019-11-12 05:42] wangyexiang commented on #9499
Dear sir, how to use `GridSearchCV `or `RandomizedSearchCV` in a huge dataset? I want to load the data in batch from disk with a generator to avoid MemoryError, then I can feed the batch data to `fit ` method.
Maybe like this:
[code]
replace:
[code]

As you can see, we can feed a generator into **tensorflow** model's `fit` method and this is pretty useful to huge dataset, like a images dataset.
Th

[2019-11-12 07:24] qinhanmin2014 commented on #15602
I guess it's impossible that only part of the pipeline is fitted, so this solution won't be expensive.

See #15606

[2019-11-12 07:41] jnothman commented on #9499
A generator is not going to work if you need to pass through the dataset
multiple times, as you do with CV. DaskML might be an appropriate solution (
https://dask-ml.readthedocs.io/en/latest/modules/generated/dask_ml.model_selection.GridSearchCV.html
).

[2019-11-12 07:51] jnothman commented on #13781
Hi Grace, this is not the right place to ask usage questions. Try
stackoverflow, or our mailing list.

[2019-11-12 07:54] jnothman commented on #10793
Hmmm... somehow I wasn't aware of these fit params to SGD models.

Whether using warm_start or coef_init, the old training data is not used.
It fits a model to the new training data. The warm start only  allows that
to happen quicker if it is a similar learning problem to the previous coefs.

[2019-11-12 07:56] glemaitre commented on #15602
Since we are using `steps` and not `steps_`, one could modify the last step with unfitted predictor.

[2019-11-12 07:59] qinhanmin2014 commented on #15602
That's seems strange, and I guess it's not a common use case? If only part of the pipeline is not fitted, we'll still get an error (perhaps after some time), and I guess that's acceptable.

[2019-11-12 08:18] viswanathanc commented on #15368
Hi,
 I am facing the same issue.. try using 'soft' in voting to have voting based on the probabilities rather the number of votes.

I used CatBoostClassifier, RandomForest and LogisticRegression in voting classifier. This problem is not occurring when i used soft voting or when i removed CatBoostClassifier. Of the two options i tried soft voting gave a better result.

Version: 0.21.3

[2019-11-12 09:23] jnothman commented on #15368
This seems related to #11031 where we decided there was a bug in
KerasClassifier

[2019-11-12 09:26] mfeurer commented on #15568
Here's the RV:
[code]
Closing this at this solves my problem. Please let me know if I should create a PR so that this RV lives in scikit-learn.

[2019-11-12 09:27] #15568 closed

[2019-11-12 10:07] albertcthomas commented on #15603
Can you elaborate a bit more?

the `OneClassSVM` has no `C` parameter

what is `y` here? are you in the unsupervised setting with no explicit `y` or do you have labelled data?

[2019-11-12 12:03] albertcthomas commented on #15603
My bad, you are in the supervised setting, but `y` is ignored by the OneClassSVM, and if `y` contains values such as `'anomaly'`, `'normal'` then the CV will fail because the outputs are `-1` and `1`.

[2019-11-12 13:12] Sandy4321 commented on #10793
Old training data should not be used
It is the point not to use old training data
But to start with predefined coefficients
Regardless to old training data
For example I know in very beginning that some feature is good one (let's say this feature has big correlation with target) , so I can start this feature with higher coefficient
Or I can start by using as coefficient for each feature,  correlat

[2019-11-12 14:21] cmarmo commented on #6390
Hello core devs, I don't know how and when but the gitter channel has been added to the [homepage](https://scikit-learn.org/dev/), so this is probably no longer an issue, right? Can we close it?

[2019-11-12 14:26] Sandy4321 opened #15609 "LogisticRegression coef_init functionality , as done for SGDClassifier"
#### Description
it is not clear at all how to pre set logistic regression coefficients
https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html
 , then optimization will start from this predefined coefficients
such an attempt is done for SGDClassifier
they do have parameter coef_init, but it is useless, since as they confess this is not working
for details pl

[2019-11-12 14:30] fcoppey commented on #13621
I'm very interested too... it would be really useful in spectroscopy when you have several replicates measures for each of your sample, they really need to stay in the same fold during cross-validation. And if you have several unbalanced classed that you are trying to classify you really want to use the stratify feature too. Therefore I vote for it too! Sorry I'm not good enough to participate in

[2019-11-12 15:08] hermidalc commented on #13621
Please look at referenced issues and PRs in this thread as work has at least been attempted on `StratifiedGroupKFold`.  I've already done a `StratifiedGroupShuffleSplit` #15239 which just needs tests but I've already used for my own work quite a bit.

[2019-11-12 15:41] NelleV commented on #6390
Indeed, this is no longer an issue. Thanks for spotting that!

[2019-11-12 15:41] #6390 closed

[2019-11-12 16:04] osma commented on #15328
The [Trove classifiers](https://github.com/scikit-learn/scikit-learn/blob/master/setup.py#L228-L231) in `setup.py` do seem to identify the supported versions (3.5, 3.6 and 3.7 currently).

[2019-11-12 16:08] DanilZherebtsov commented on #15542
verbose=1 does not show the CV parameters, indeed.

What I was saying: is that with verbose say 8 most small jobs (under 10 minutes) will run smoothly showing the number of completed tasks without printing out hundreds of rows of used parameters, but for larger jobs this same setting will clutter the console with parameters values.

With verbose=1 big jobs take a long time to complete and there is

[2019-11-12 17:41] glemaitre commented on #15603
True it was `nu` actually.

yes, I was thinking it might make sense to grid-search this parameter but it seems rather difficutl. One way is to encode the label to `1` `-1`.

[2019-11-12 17:46] #15602 closed

[2019-11-12 17:49] glemaitre commented on #15602
I thought that pipeline slicing was allowing to ease this part but we cannot fix that anyway. We can add back the `check_is_fitted` when `Pipeline` will have `features_in_` parameters.

[2019-11-12 18:08] david-cortes opened #15611 "Consider using integer random_state in IterativeImputer"
Lots of algorithms that rely on randomization offer an argument `random_state` through which it's possible to pass them RNG seeds that would ensure reproducible results. The `IterativeImputer` class will take some regressor/classifier and set their attribute `random_state` to a NumPy MT19937 object class if the object has such attribute, in such a way that this object is modified implicitly once t

[2019-11-12 19:43] #10793 closed

[2019-11-12 19:43] jnothman commented on #10793
partial_fit is closer to what you are looking for

[2019-11-12 20:57] jnothman commented on #10793
Or otherwise make sure n_iter is small to avoid overriding the initialisation

[2019-11-12 21:05] albertcthomas commented on #15603
To encode the labels to 1 and -1 we would need to know which label is considered as the outlier, encode it to -1 and encode all the other labels to 1. Something similar to the `pos_label` argument of the `roc_curve` function.

[2019-11-12 21:29] glemaitre commented on #15603
And fo you think that this use case (randomsearch) is legetimate or I was over-engineering some thinking?

[2019-11-12 21:52] themrzmaster commented on #1513
Microsoft patent has expired. Could we possibly add it to sklearn?

[2019-11-12 22:01] amueller commented on #1513
It easily clears the standard requirements, so I don't see why not. Maybe having some good/convincing examples might be interesting. ``scikit-rvm`` and ``sklearn_bayes`` seem unmaintained but might still be useful.
Probably mostly needs a champion now that actually wants to put the work in.

[2019-11-12 22:07] amueller commented on #13621
I think we should implement it, but I think I still don't know what we actually want. @hermidalc has a restriction that members of the same group must be of the same class. That's not the general case, right?

It would be good if people that are interested could describe their use-case and what they really want out of this.

There are #15239 #14524 and #9413 which I remember all having different s

[2019-11-12 22:08] themrzmaster commented on #1513
On Murphy's book he claims the RVMs performance is really similar to SVMs but has the advantage of being a true probabilistic method so it gives calibrated probabilities as answers. Here https://github.com/probml/pmtk3/blob/master/docs/tutorial/html/tutKernelClassif.html he compared the methods using a small dataset

[2019-11-12 22:12] amueller commented on #1513
Can you provide a link to the rendered version?
Also, itn's not surprising that it's on a small dataset, given that is is likely to have scalability issues.

[2019-11-12 22:15] themrzmaster commented on #1513
@amueller  http://htmlpreview.github.io/?https://github.com/probml/pmtk3/blob/master/docs/tutorial/html/tutDiscrimClassif.html

[2019-11-12 22:17] themrzmaster commented on #1513
@amueller http://htmlpreview.github.io/?https://github.com/probml/pmtk3/blob/master/docs/tutorial/html/tutKernelClassif.html

[2019-11-12 22:22] fcoppey commented on #13621
@amueller totally agree with you, I spent a few hours today looking for something between the different versions available (#15239 #14524 and #9413) but couldn't really understand if any of these would fit my need. So here is my use case if it can help:
I have 1000 samples. each sample has been measured 3 times with a NIR Spectroscopy, so each sample has 3 replicates that I want to stay together a

[2019-11-12 22:35] hermidalc commented on #13621
My use case and why I wrote up `StratifiedGroupShuffleSplit` is to support repeated measures designs https://en.wikipedia.org/wiki/Repeated_measures_design. In this use case members of the same group must be of the same class.

[2019-11-12 22:42] themrzmaster commented on #1513
I will try to work on the implementation. Any help would be highly appreciated.

[2019-11-12 23:07] amueller commented on #13621
@fcoppey For you, the samples within a group always have the same class, right?

@hermidalc I'm not very familiar with the terminology, but from wikipedia it sounds like "repeated measure design" doesn't mean the same group must be within the same class as it says "A crossover trial has a repeated measures design in which each patient is assigned to a sequence of two or more treatments, of which o

[2019-11-12 23:12] amueller commented on #13621
Actually the wikipedia article you link to explicitly says "Longitudinal analysis—Repeated measure designs allow researchers to monitor how participants change over time, both long- and short-term situations.", so I think that means that changing the class is included.
If there's another word that means that the measurement is done under the same conditions then we could use that word?

[2019-11-13 01:13] UnixJunkie commented on #1513
IIRC, one advantage of RVM over SVM, is that you can find the optimal C parameter without doing an optimization pass.
I wonder if the original author would be willing to contribute his reference implementation.

[2019-11-13 01:16] themrzmaster commented on #1513
Yes, this is a good point.

Em ter, 12 de nov de 2019 às 22:15, Francois Berenger <
notifications@github.com> escreveu:

[2019-11-13 01:46] hermidalc commented on #13621
@amueller yes you’re right, I realized I miswrote above where I meant to say in my use cases of this design not in this use case in general.

There can be many quite elaborate types of repeated measures designs, though in the two types I’ve needed `StratifiedGroupShuffleSplit` for the within group same class restriction holds (longitudinal sampling before and after treatment when predicting respon

[2019-11-13 02:06] Amir-Arsalan opened #15612 "Predicted standard deviation values of Gaussian Processes are only within [0, 1]"
I am using the Gaussian Processes of scikit-learn to estimate behavior of a black box likelihood function `f(.)`. I don't know the range of the values that this function `f(.)` produces but I know empirically that it could be as low as -Yxxxx (where Y could be any integer except 0) to 0. Therefore I cannot normalize the output values of `f (.)` since I don't know the range of the values that this

[2019-11-13 02:28] jnothman commented on #15603
It might be good to have examples / guides on how to evaluate outlier
detection relative to a ground truth, whether or not in a GSCV context.

[2019-11-13 04:43] Rookiee111 opened #15614 "Issue with scikit-learn module. Fails to import with error: "ImportError: cannot import name 'IS_PYPY'""
I installed scikit-learn 0.20+ module and when I try to import its modules in my code it fails with the following error:
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-11-0d4c27201ecf> in <module>
     15 from sklearn.compose import ColumnTransformer, make_column_transformer

[2019-11-13 05:41] jnothman commented on #15612
Can you provide an example dataset and code that illustrates your issue?

[2019-11-13 05:44] jnothman commented on #15614
Try uninstalling and reinstalling?

[2019-11-13 05:46] Rookiee111 commented on #15614
Tried the same but not working.. :(

[2019-11-13 05:55] fcoppey commented on #13621
@amueller yes always. They are replicates of a same measure in order to include the intravariability of the device in the prediction.

[2019-11-13 07:02] mandalbiswadip commented on #14364
I would like to work on this if it's still open

[2019-11-13 07:58] jnothman commented on #15601
Touching the cython code doesn't look that hard, but it would require deciding if we want to duplicate the functions to handle the weighted case, or whether we can reuse the exisiting code paths (risking loss in both efficiency and precision).

[2019-11-13 08:45] Rookiee111 commented on #15614
ok, there was mistake with the uninstallation, it was uninstalling but not from conda packages which is what I was using.. Now after uninstalling and reinstalling it worked.. Thanks!!

[2019-11-13 08:45] #15614 closed

[2019-11-13 09:34] #15595 closed

[2019-11-13 11:30] nims11 opened #15616 "OneHotEncoder incorrectly performing numerical category checks to string categories"
#### Description

If `X` in `OneHotEncoder.fit(X)` is `np.array` of strings (and hence dtype `<UXX`) it fails in some cases because it expects the categories set when initializing the transformer to be sorted, which AFAIK is only applicable to numerical categories. Things work correctly when using a simple list instead.

I have looked into the issue and it seems that `_BaseEncoder._check_X` doesn'

[2019-11-13 12:18] erinkhoo opened #15617 "Update the README file formatting"
#### Description
README Documentation is not formatted well for new readers.

Formatting can go a long way for understanding how to get started and next steps

i.e.
https://github.com/practicalAI/practicalAI (not suggesting tables are great but logo + social links are great)
https://github.com/tensorflow/tensorflow

I would like to take a first pass at standardising the headers, add graphics and s

[2019-11-13 12:21] albertcthomas commented on #15603
One thing that I have in mind when the data are highly imbalanced is that you could try a one class algorithm and compare the performance of the one class algorithm with other supervised methods. In such a setting as you have labelled samples you could also do a grid/random search to tune the hyperparameters of the one class algorithm. However I would fit the one class algorithm on the normal data

[2019-11-13 12:39] glemaitre commented on #15603
You read my mind and found my usecase :)

https://github.com/glemaitre/imbalanced-learn-presentation/blob/master/00_imbalanced_learning.ipynb

You can look at the last example. I wanted to show that you can get something out of it. Here the dataset is not higly imbalanced and thus the performance not great. But I am sure that there is something to do there.

[2019-11-13 13:09] NicolasHug commented on #15601
In #14696 we duplicate. I think it's worth it as long as the function is simple enough?

[2019-11-13 13:09] rth opened #15618 "Add Python 3.8 CI"
It would be good add an explicit CI for python 3.8

python 3.8 is on conda (default and conda-forge), also numpy, scipy and pandas have python 3.8 wheels.

I though that pylatest_conda_mkl (Azure) might be taking the latest python on conda, but it doesn't seem to be the case.

The issue for building corresponding wheels is https://github.com/MacPython/scikit-learn-wheels/issues/34

[2019-11-13 13:14] rth commented on #15617
A pull request to improve readability of the readme (without adding too much of new content that's already in the documentation) would be welcome.

[2019-11-13 13:18] rth commented on #15617
Though I'm not so keen on these two: we don't want to advertise for a proprietary product and as for companies using it there is already https://scikit-learn.org/dev/testimonials/testimonials.html although there were some talk about removing it.

[2019-11-13 13:25] adrinjalali commented on #15618
IIRC, I think we stopped the `pylatest_conda_mkl` from getting 3.8 cause it was trying to compile scipy.

We can add a 3.8 to the CI now.

But I think for the RC, we don't need this, we can release, and add the 3.8 wheels for the release, or for 0.22.1

[2019-11-13 13:51] erinkhoo commented on #15617
Thanks. I am happy to do the improved readability @rth

I am cool with tabling the idea of Colab & Company Examples.

Thanks

[2019-11-13 14:32] JanDiepenbrock commented on #14959
I might have run into the same issue. My data is (Note that this might well be normally distributed):

[code]

[code]

[code]

scikit-learn version is 0.21.2

[2019-11-13 14:34] Sandy4321 commented on #10793
Interesting , but is not clear

can you share full code examples
We clarified that initialization is not working at all

So what is sense to use n_iter?

[2019-11-13 14:36] Sandy4321 commented on #10793
As I understand partial fit is not the same , then may you share code example?

[2019-11-13 14:46] Sandy4321 commented on #10793
Why you closed case, you do have misleading promise that initialization is possible , so at least Remove this from documentation
As rule scikit learn people are honest

[2019-11-13 14:59] jeremiedbb commented on #15443
I've been able to reproduce the issue. The issue is indeed the version of conda. We need conda >= 4.7. I opened #15619

[2019-11-13 15:00] PhilipMay commented on #15408
@amueller I think the answer from @jnothman above summarises it pretty good. What do you think about this argument?

[2019-11-13 15:17] glemaitre commented on #11997
By adding the option `add_indicator` in the imputer, we also make things difficult right now.
Indeed, one will have to define a pipeline imputer+encoder. If `add_indicator=True`, we will get some extra-columns which you don't want to encode.

The workaround is to make a column transform with a MissingIndicator and set `add_indicator=False` for the imputer.

A reasonable use case would be to first

[2019-11-13 15:21] #15443 closed

[2019-11-13 15:31] Amir-Arsalan commented on #15612
@jnothman I cannot share a dataset but here's some sample values from the black box function:

`[-4235.80566, -3604.59741, -3213.72144, -4804.58789, -4196.86182, -3554.06665, -13224.94263, -4742.94287, -4827.47119, -4203.62988, -4153.28223, -3779.50610, -3929.30908, -4736.42041, -25237.54492, -4699.75781, -4815.85010, -4619.11865]`

After fitting the GP I use the `predict` function to predict some

[2019-11-13 17:05] ibraheem-moosa commented on #15616
I am also facing this issue. I am confused about the requirement of sorted categories though. Why should we require them sorted in numerical cases and why not for strings?

[2019-11-13 18:44] GregoryMorse opened #15621 "GridSearchCV does not allow errors in underlying fit function to be properly displayed (does not catch error in best estimator)"
#### Description
If the underlying fit() function constantly throws an error, GridSeachCV will raise a FitFailedWarning which does not show a stack trace and thus has destroyed any hope of getting details of the error.  Using code patterns such as `with warnings.catch_warnings` does not help as the error is already caught and the warning does not provide the stacktrace.

It will only print the sam

[2019-11-13 19:17] jnothman commented on #10793
Those params do initialise the coef. So I don't see where the "promise" is unfulfilled. There is no claim that the coef will be regarded as more important than the current sample of data. Training a model to convergence (which is what `fit` does in an iterative solver with a high enough `max_iter` and a low enough `tol`) necessarily means disregarding where the optimisation started.

If you believ

[2019-11-13 19:21] jnothman commented on #15612
Are you able to put that into a fully reproducible code snippet so that a contributor can more easily reproduce and debug it?

[2019-11-13 19:24] jnothman commented on #15616
1. because we have two different underlying encoding algorithms, and the int one assumes everything is in order
2. because an encoder which allows ints to be reordered is probably too flexible to be user-friendly.

[2019-11-13 19:28] jnothman commented on #15621
Yes, it's a difficult balance... resilience vs early failure. We of course allow the user to choose which with error_score. I agree that a traceback should be provided.

[2019-11-13 20:13] Amir-Arsalan commented on #15612
@jnothman I don't think that's the point. I cannot share that black box function stuff with you cause it's way out of the scope of the problem I am describing here but I can try to make a simpler version of the issue and post code for it. I'll try to do this soon. However, I think the code part is irrelevant and I think I've done a good job explaining the main **issue** but I feel you are just tel

[2019-11-13 20:15] lorentzenchr commented on #15601
This would also help a "sparse" solution of #3702.

[2019-11-13 20:38] amueller commented on #13621
@hermidalc yes, this case is much easier. If it's a common need, I'm happy for us to add it. We should just make sure that from the name it's somewhat clear what it does, and we should think about whether these two versions should live in the same class.

It should be quite easy to make ``StratifiedKFold`` do this. There's two options: ensure that each fold contains a similar number of samples, or

[2019-11-13 20:40] amueller commented on #15601
Actually, I'm using a numpy/scipy based helper in my PR and I think this should be fine as long as we don't need inplace?

[2019-11-13 20:41] willbarnett commented on #5884
Bump. This would be a great addition. I can't believe it has taken 4 years for a relatively simple calculation to make it into sklearn!!

[2019-11-13 20:44] amueller commented on #15408
Why are accuracy or MCC better? We actually recently added ``balanced_accuracy`` (aka macro-average recall), which in the literature was explicitly designed for binary classification.

[2019-11-13 20:46] jnothman commented on #5884
Or you could say: thanks for your dedicated persistence over four years of
volunteered effort!

[2019-11-13 21:17] willbarnett commented on #5884
You are right, sorry. I didn't mean to come across as rude. I greatly appreciate the effort. I've been using this locally for a while now, and it would be great to see it added. It's the only distance metric that I know of for mixed data types.

[2019-11-13 21:17] Sandy4321 commented on #10793
but you wrote above
"We do not have an officially supported way to initialise the models with
arbitrary coefficients."
 jnothman commented 3 days ago
dont you?

[2019-11-13 21:49] jnothman commented on #5884
Aside from the volunteer effort, and that the core devs have not considered
this urgent, there are indeed challenges around how to handle mixed types,
and around how to perform the scaling in a train-test setup.

[2019-11-13 21:54] jnothman commented on #15408
Macro recall makes sense, yes, and macro precision perhaps when you're
comparing different annotators

[2019-11-14 00:53] Amir-Arsalan commented on #15612
@jnothman Here's an example:

[code]

And here's the output:

[code]

[2019-11-14 02:33] jnothman commented on #13621
+1 for separately handling the group constraint where all samples have the same class.

[2019-11-14 02:34] jnothman commented on #10793
And "somehow I wasn't aware of these fit params to SGD models." was to serve as a retraction

[2019-11-14 02:38] jnothman commented on #15612
Thank you. That will help frame the conversation and any debugging

[2019-11-14 07:18] ibraheem-moosa commented on #15616
@jnothman  I don't understand your second point. Can you elaborate please? In what scenario can this cause a problem?

[2019-11-14 07:33] jnothman commented on #15616
In what circumstances does one genuinely want to change the order of categories represented as integers?

[2019-11-14 08:26] mohyneenm commented on #5884
Looking forward to it in sklearn.

[2019-11-14 12:20] hermidalc commented on #13621
I'm not totally understanding this, a `StratifiedGroupShuffleSplit` and `StratifiedGroupKFold` where you can have members of each group be of different classes should have the exact same split behavior when the user specifies all group members to be of the same class.  When can just improve the internals later and existing behavior will be the same?

I will add `StatifiedGroupKFold` using the "eac

[2019-11-14 12:42] maxsargent commented on #10283
This issue has come to me through a triage email.

From a brief look at Travis this issue is no longer occurring, I have tried this code with the Python version mentioned (3.6.2) and it is not reproducible outside of Travis.

Due to the extended period of time this issue has been open and the fact it cant reproduced I am suggesting it is closed out.

[2019-11-14 13:10] Sandy4321 commented on #10793
It is not enough
Pls share example to prove all works
Since code example which started this thread more than year ago shows this does not work
Or example is wrong?
You not addressed this obvious observation
Do you care at all?
May you ask help from others scikit people to get involved to resolve this issue properly please?

[2019-11-14 13:20] rth commented on #10283
Thanks @maxsargent !

+1 for closing, due to,
  - `assert_array_equal` being too strict for floating point comparison (as compared to `assert_allclose`) an can lead to false positives (as discussed in the linked scipy issue BLAS implementations can be non-deterministic within the float eps tolerance).
  - difficulties to reproduce locally even with `assert_array_equal`
  - in a similar issue https

[2019-11-14 13:20] #10283 closed

[2019-11-14 14:01] Amir-Arsalan commented on #15612
@jnothman Thanks. Did you get a chance to run the code? Also would you mind opening the issue?

[2019-11-14 15:20] ibraheem-moosa commented on #15616
The docs do not promise any particular order of the output features as far as I understand.  Even assuming that the user would not expect the order to change, they do not have any control over the order since the categories will have to be sorted anyway.

The specific order of features can be queried by the `get_feature_names` method. If you have string categories you will have to call this method

[2019-11-14 16:47] rth commented on #15611
+1 there is a related discussion in https://github.com/scikit-learn/scikit-learn/issues/14042 about dropping non integer `random_state` object input althogether.

Would you like to make a PR for IterativeImputer ?

[2019-11-14 17:27] glemaitre commented on #15581
Closed by merging #15599

[2019-11-14 17:27] #15581 closed

[2019-11-14 17:29] #12140 closed

[2019-11-14 17:48] Amir-Arsalan commented on #15612
@thomasjpfan I wonder if you can take a look at this and let me know what could be going on here?

[2019-11-14 18:06] #12941 closed

[2019-11-14 19:48] jnothman commented on #15612
Sorry, must have closed by accident. I don't have much availability at the moment, I'm sorry. But, thinking about it, I might start confirming it was a bug by standardizing the X and fitting/predicting again, and seeing if the scale of std is more or less unchanged

[2019-11-14 20:27] nims11 commented on #15616
Whether the numerical categories should be sorted is probably part of a broader discussion (although I do agree that expecting them sorted is unintuitive in various cases).

In order to fix the issue in the main post (which is about string categories being subjected to the ordinality check), I went through the various parts of the code and will put the fix into the PR. I hope it is as simple as I

[2019-11-14 20:48] jnothman commented on #10793
If you can show that fitting the same data twice with warm_start (or using coef_init) does not reduce the number of iterations to convergence, then please open a new issue.

[2019-11-14 21:27] gui-miotto opened #15627 "ColumnTransformer generates segmentation fault when X is sparse"
#### Description
Calling the fit_transform of a ColumnTransformer generates a Segmentation fault (core dumped) when X is a CSR or CSC sparse matrix. It seems to work as expected with DOK matrices, though.

#### Steps/Code to Reproduce

[code]
#### Expected Results
dok
csc
csr
end

#### Actual Results
dok
csc
Segmentation fault (core dumped)

#### Versions
Linux-4.16.3-041603-generic-x86_64-with-de

[2019-11-14 21:37] seralouk opened #15628 "Model cannot handle huge but finite numbers"
Here is an example. The `X` matrix passes `np.all(np.isfinite(X))` but the model cannot be fitted.

`sklearn.__version__`
'0.21.3'

[code]

[2019-11-14 21:40] nathanzhang3 commented on #3702
It will be very helpful to have sample_weight for ElasticNet and Lasso

[2019-11-14 23:29] bikashckarmokar commented on #15628
thank you for opening this issue. i have added the part of my data which i used during getting this problem. you can get the data from: https://github.com/bikashkarmokar/float32_bug_sklearn

[2019-11-14 23:39] bikashkarmokar commented on #15628
thank you for opening this issue. i have added the part of my data which i used during getting this problem. you can get the data from: https://github.com/bikashkarmokar/float32_bug_sklearn

[2019-11-15 00:58] jnothman commented on #15628
This is the kind of numerical precision problem we cannot really solve on
our end and indeed we're quite happy when it raises an error that is
indicative of the issue rather than either blowing up or breaking silently.

[2019-11-15 01:09] jnothman commented on #15627
Strange. I don't think we use any low level sparse API that might cause
this in ColumnTransformer. Could you add a test to reproduce this in our ci?

[2019-11-15 01:57] tdpetrou opened #15629 "Standardized input produces different prediction for decision tree than original input"
#### Description

Standardizing input should have no effect on decision trees. I fit a `DecisionTreeRegressor` on both the original and scaled (transformed with `StandardScaler`) and used it to make predictions on an unseen dataset. One of the predictions was not equal.

I believe this might be due to floating point accuracy. It seems the tree stores the decision points as float32, so one of the d

[2019-11-15 04:37] thomasjpfan commented on #15627
As a simple reproducing example, the following will fail with a seg fault (usually)

[code]

This is fixed on master by this commit: https://github.com/scikit-learn/scikit-learn/commit/992ed41ecc693f93a94ffd8cca52117af16e096e

@gui-miotto May you test your use case on the nightly builds? The nightly build can be installed as follows:

[code]

[2019-11-15 06:05] wa008 commented on #8754
I get same problem

[2019-11-15 06:40] #15628 closed

[2019-11-15 06:58] glemaitre commented on #8754
@wa008 please open a new issue with required information to help us to help you

[2019-11-15 09:37] gui-miotto commented on #15627
@thomasjpfan , tested on the nightly build. Worked every time I tried.
Should we close the issue?

[2019-11-15 10:45] glemaitre commented on #15604
#15615 will save some memory. However, I was wondering if we could have a memory-efficient `KNNImputer`. It is the first time that I'm looking at the code so maybe I did not get everything straight away.

It seems that we compute the pairwise distance matrix between `X` and `X[missing_row]`:

https://github.com/scikit-learn/scikit-learn/blob/97958c174f8b95f7e86d6a0280847be61bfc8e04/sklearn/impute/

[2019-11-15 13:16] Neeratyoy opened #15630 "Failure to detect illegal estimators in Pipeline when assigned using set_params()"
#### Description

Certain pipeline estimators support *None*, *'drop'* and *'passthrough'*.
While instantiating, the pipeline constructor appears to call `_validate_steps()` which flags the suitable error during creation.
However, this can be bypassed by creating a legal object and then using `set_params()` to assign an illegal value which gets flagged only at runtime again.

It will be helpful if

[2019-11-15 13:20] gaborbernat commented on #15618
Can we get a python3.8 wheel here? :-)

[2019-11-15 13:48] Sandy4321 commented on #10793
warm_start  and using coef_init
Is not the same
Using wrong coeffs for coef_init makes it worse even for no bugs code
Since in many practical cases function may have local minima or maxima

[2019-11-15 14:23] glemaitre commented on #14953
I think that #14984,  #15050, and #15396 might not be blockers for 0.22 and I would move them for 0.23.

I think that it could be great to have a single issue (superseded #14953, #14954) to discuss the overall behaviour for `categories` in `OneHotEncoder` and `OrdinalEncoder` and from there having several PRs which follows the discussed proposals.

[2019-11-15 14:23] glemaitre commented on #14954
I think that #14984,  #15050, and #15396 might not be blockers for 0.22 and I would move them for 0.23.

I think that it could be great to have a single issue (superseded #14953, #14954) to discuss the overall behaviour for `categories` in `OneHotEncoder` and `OrdinalEncoder` and from there having several PRs which follows the discussed proposals.

[2019-11-15 15:14] glemaitre commented on #13998
ping @agramfort

[2019-11-15 17:22] monikasoni commented on #15580
The problem is custom way my packages were being built.  We use company specific build framework and it introduced linkage with -lpython3.7m from some configuration file. When linking the dynamic library is removed import works fine. Closing to the issue now.

Thanks for your time @glemaitre.

[2019-11-15 17:22] #15580 closed

[2019-11-15 17:44] amueller commented on #15618
I think it might be good to add 3.8 wheels and conda packages to the RC. That's a pretty important thing to test in an RC.

[2019-11-15 19:35] david-cortes commented on #15611
Created a PR for setting `random_state` to an integer. Not sure if it'd be more appropriate to do this, or to avoid setting any `random_state` at all for the estimator inside `InterativeImputer`, since the estimator can also be passed a `random_state` in their initialization arguments.

[2019-11-15 19:44] glemaitre commented on #15580
Thanks for giving us the reason :)

On Fri, 15 Nov 2019 at 18:23, Monika <notifications@github.com> wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2019-11-15 19:45] amueller commented on #15618
@thomasjpfan can you maybe look into adding it to azure?

[2019-11-15 20:28] rth commented on #15358
We now need a github feature to prevent an issue from being closed by PRs..

[2019-11-15 20:36] amueller opened #15638 "index not supported as column names in plot_partial_dependence"
I took the example from the test on string features.
If you start from a dataframe, it's very natural to pass X.columns as the ``feature_names``. That breaks :(

[code]
See #15429

[2019-11-15 20:36] amueller commented on #15638
ping @glemaitre

[2019-11-15 20:37] amueller commented on #15638
It looks like in this case we might not need to pass ``feature_names`` but passing it shouldn't error.

[2019-11-15 21:17] amueller commented on #14055
the regression test breaks when updating to python3.8: #15637

[2019-11-15 21:40] glemaitre commented on #15638
`X.columns` will be a `pandas.Index`. We never supported it :). We can convert it to a list `X.columns.tolist()` will work.

I might suggest to call `asarray` on `feature_names`. WDYT?

[2019-11-15 21:48] glemaitre commented on #15638
Looking at the code, it would be more expected to call `tolist` under the hood. I will submit a PR.

[2019-11-15 22:44] glemaitre commented on #15630
This is the expected behaviour. We are checking parameters during `fit`.

[2019-11-15 22:44] #15630 closed

[2019-11-15 22:56] glemaitre commented on #15629
When searching for the best split, we are computing it by taking the middle point between `y[i-1]` and `y[i]`. Therefore, you will have some numerical imprecision leading to what you are suggesting.

We are converting`y` to `float64` so not sure that we can do anything.

[2019-11-15 23:47] tdpetrou commented on #15629
Thank you for the response. I think the issue is with that the `threshold` attribute of `dtr.tree_`

The decision in question for the tree above is at the non-scaled value of 1199. Standardizing this with the following give me:

[code]

**0.6024432924636505**

But `dtr.tree_.threshold[1]` returns **-0.6024433076381683** which is slightly less than the calculated threshold and ultimately what cause

[2019-11-16 00:07] #13936 closed

[2019-11-16 03:23] StrikerRUS commented on #15392
Just want to let you know that they actually do (except `check_estimators_nan_inf` check).

https://github.com/microsoft/LightGBM/blob/11f9682bb72dea34313758f054ccf37886dc7e6e/tests/python_package_test/test_sklearn.py#L220-L236

[2019-11-16 04:31] sarimmehdi commented on #2089
This issue is not solved. I am encountering this in the latest version of pykalman. What should I do now?

[2019-11-16 08:26] PhilipMay commented on #15408
Yes... but does F1 macro average in case of binary classification make sense?

[2019-11-16 08:48] glemaitre commented on #15627
I think so. We probably corrected the bug then. Thanks for reporting and testing.

[2019-11-16 08:48] #15627 closed

[2019-11-16 08:55] glemaitre commented on #15616
@jorisvandenbossche @jnothman are we actually supporting numpy dtype (i.e. "<Uxx"). For instance, we are not supporting it in the imputers and we require object dtype.

[2019-11-16 09:24] randolf-scholz opened #15640 "Inconsistency between LDA and QDA covariance estimation"
#### Description

LDA and QDA are inconsistent in how they estimate the class wise covariance matrix

#### Steps/Code to Reproduce

[code]

#### Expected Results
Both LDA and QDA should estimate the class variance  with he same estimator. `ddof=0` is appropriate, because the model presupposed that the classes are normally distributed and `ddof=0` is the maximum likelihood estimator in this case.

[2019-11-16 10:10] jnothman commented on #15408
Yes, for recall. See balanced accuracy

[2019-11-16 15:05] qinhanmin2014 opened #15641 "Inconsistency between partial_dependence and plot_partial_dependence"
Something annoying:
[code]
IMO plot_XXX should plot the output of XXX, it should not provide additional features.
Related issue: #15625

[2019-11-16 17:49] adrinjalali opened #15642 "README RST error while uploading to pypi"
When trying to upload the wheels to pypi, I get this error:

[code]

checking with `python3 setup.py check -r -s`, the only issue I see is:

[code]

It seems we can't have two `about us` links in the README? It doesn't make much sense to me, and I'm not sure if that's really the issue.

@jnothman have you ever had such an issue?

[2019-11-16 17:50] adrinjalali commented on #15642
@NicolasHug more fun trying to get the release done :D

[2019-11-16 18:14] NicolasHug commented on #15642
fun indeed... https://github.com/scikit-learn/scikit-learn/pull/15643 should be a fix

[2019-11-16 20:03] #15598 closed

[2019-11-16 21:04] allenweiss opened #15644 "Error on installation with Python 3.8"
I tried to install sklearn  on a brand new Macbook air.  I have Xcode installed and python 3.8 works with other modules.

#### Steps/Code to Reproduce

pip3 install sklearn

#### Expected Results
I expect to install like on another computer I have running Python 3.7

Here is the output with the error I'm getting.

Collecting sklearn
  Using cached https://files.pythonhosted.org/packages/1e/7a/dbb3

[2019-11-16 22:10] #15036 closed

[2019-11-17 02:13] #15642 closed

[2019-11-17 02:14] qinhanmin2014 commented on #15644
See #15328

We'll soon release 3.8 compatible version.

[2019-11-17 02:14] #15644 closed

[2019-11-17 04:01] qinhanmin2014 commented on #15392
cc @NicolasHug

Perhaps it's worthwhile to investigate the scikit-learn API of some famous libraries after the release (e.g., xgboost, lightgbm, catboost, keras)

[2019-11-17 09:01] agramfort commented on #15640
I doubt this makes any difference in practice. I assume one test is using
dof=1 to match results with R or matlab.

[2019-11-17 09:04] agramfort commented on #14953
@NicolasHug I would not be so sure about this. Trees can cope with
random orders provided you make them deep enough.

[2019-11-17 09:15] agramfort commented on #15609
it seems you have a way to address your need by using warm_start. Changing public API for the needs of everyone is not really an option.

[2019-11-17 10:38] rth commented on #15328
To be more specific, 0.21.3, aside for a few warnings should work with Python3.8.

However no wheels exist so far, and so one has to build from source following the documentation. The error in the gist above is about failing to build scipy due to missing BLAS. That part should be resolved now as scipy released wheels for latest version. scikit-learn will also do so soon.

[2019-11-17 10:43] rth commented on #15644
To be more specific, we will release wheels for Python 3.8 soon. You can use scikit-learn with Python 3.8 already now (there could be a few warnings or minor issues), however the installation corresponds more or less to building from source https://scikit-learn.org/dev/developers/advanced_installation.html#install-bleeding-edge

In particular, the above error means you need to install Cython manua

[2019-11-17 13:38] NicolasHug commented on #14953
True but trees aren't always deep, typically in GB

To reproduce a OHE split using OE, you would need in the worst case C - 1 splits. That's not negligible when the OHE splits multiple time on the same feature during fitting. And because of the arbitrary order, you might just not ever consider such a split because the gain is too low.

The right way to handle nominal categories in trees is still t

[2019-11-17 13:44] NicolasHug commented on #15127
This could be used for any estimator that implements early stopping, not just the GBDTs.

What would the API look like? New arguments to `fit`? How does that work out in a pipeline? Or in general for the meta estimators?

Clearly that's not a trivial decision / design ;)

[2019-11-17 13:53] Sandy4321 commented on #15609
Great thanks for answer
Do you mean use coef_ and warm_start=True and fake double fit?
So
Step 0
Set warm_start=True

Step 1
Fit model as it is - fake step
Step 2
Set coef_ to initialization what I need
Step 3
Fit model again
???

[2019-11-17 14:26] NicolasHug commented on #15392
I don't think it's up to us to tell users why they should be using our implementation rather than some other. We're quite partial ;)

For a user browsing the scikit-learn docs, the advantage is obvious: it's here. No need to install a new package.

They can just use the scikit-learn implementation, and they know it will always be fully compatible with the rest of our API.

By having our own versio

[2019-11-17 14:43] qinhanmin2014 commented on #15392
Let's leave it after the release, I'll take some time to read the code ASAP.

[2019-11-17 16:04] agramfort commented on #14953
I would not raise a warning but maybe  I assume that people know what they
are doing...

[2019-11-17 16:11] agramfort commented on #13998
yes `cv_values_` should be put in native space and fixed when using a custom scoring.

[2019-11-17 17:13] alilah commented on #9601
+1

[2019-11-17 19:14] StrikerRUS commented on #15392
I guess, for third-party packages, "fully compatible" means that they successfully pass `check_estimator` test like it's said in https://scikit-learn.org/stable/developers/contributing.html#rolling-your-own-estimator. Am I wrong?

[2019-11-17 20:03] NicolasHug commented on #15392
Unfortunately our `check_estimator` suite is far from perfect / exhaustive, so it does not guarantee full compatibility. Typically, #13679 isn't something that should happen, yet the estimator still passes the checks according to https://github.com/scikit-learn/scikit-learn/issues/15392#issuecomment-554599256

[2019-11-17 20:10] jnothman commented on #15630
This allows the user to change things in multiple calls to set_params, even
if the Pipeline is temporarily inconsistent, as long as it is consistent
when fit is called. Why do you want it different?

[2019-11-17 20:39] jnothman commented on #15629
Is there a way for us to identify after firing that this might be an issue?

[2019-11-18 00:07] NicolasHug commented on #14306
I ran some benchmarks on a machine with 2 Intel Xeon E5-2620 CPUs @ 2.10GHz (8 cores/16 threads each), so 2 NUMA nodes.

TLDR: I cannot really reproduce the "very poor scalability" reported by @SmirnovEgorRu and @ogrisel .

[code]

![bench](https://user-images.githubusercontent.com/1190450/69016367-bb7e7900-096b-11ea-8d17-3dc06f7745f0.png)

<details>

[code]

</details>

A few observations:

- Lig

[2019-11-18 02:24] StrikerRUS commented on #15392
Ah, I see! Then I think there will be good to create a meta-issue with list of all known non-covered by `check_estimator` cases and possible enhancements of the test suit and provide a link to it on that page. Seems that it will greatly help developers who want make their estimators "fully compatible" with scikit-learn.

[2019-11-18 04:45] qinhanmin2014 commented on #14886
I agree that we should deprecate cv and always use LOO in RidgeCV.

[2019-11-18 08:37] rth commented on #15612
Yes, looks indeed like a bug. In the following example, the standard deviation of `y_pred` yields identical results independently of the mean of `y` (or the `y_scale` value), even with mostly default parameters,
[code]

Someone would need to investigate why this is happening in the code. I also don't have much availability at the moment..

[2019-11-18 08:53] zeionara opened #15646 "Error when importing CountVectorizer with python3.8"
Traceback (most recent call last):
  File "get-topics.py", line 3, in <module>
    from sklearn.feature_extraction.text import CountVectorizer
  File "/home/dima/scikit-learn/sklearn/feature_extraction/__init__.py", line 10, in <module>
    from . import text
  File "/home/dima/scikit-learn/sklearn/feature_extraction/text.py", line 29, in <module>
    from ..preprocessing import normalize
  File "

[2019-11-18 09:14] jnothman commented on #15612
I regard this as high priority as uncertainty prediction is a core goal of using gps

[2019-11-18 09:35] dupuisIRT opened #15647 "Gaussian Mixture - Implementing weighted sample"
I implemented a version of Gaussian Mixture for weighted data (fixed values).
The mathematical framework can be found here (part III):
https://arxiv.org/abs/1509.01509
So if a sample has a weight _w_, it means the sample is observed _w_ times.

mixture/base.py and mixture/gaussian_mixture are modified by:
- adding the sample weights to the EM algorithm (Eq 6, 8, 9, 10 of the paper)
- adding the sa

[2019-11-18 10:02] panpiort8 commented on #15272
Could someone review above PR?

[2019-11-18 10:20] jnothman commented on #15647
A pr is welcome IMO

[2019-11-18 10:30] adrinjalali commented on #15272
We're busy mostly with the release at the moment. We should be able to focus on this more if you ping in 3 weeks ;)

[2019-11-18 10:43] panpiort8 commented on #15272
Ok, I fully understand. I'll ping soon :)

[2019-11-18 10:58] akhiadber opened #15649 "NMF with some topics/meta-features held constant"
In cases where you know in advance some of the topics/meta-features in your data, and you still wish to run NMF to find additional topics/meta-features (W matrix) and the topics/meta-features importance per sample (H matrix), you basically need to optimize over the same NMF objective, but with some columns of the W matrix held constant throughout the optimization process. In the extreme case where

[2019-11-18 12:25] jorisvandenbossche commented on #14953
Also note that you can have a pandas Categorical with a specific order without having it "ordered" (it the sense of the `ordered=False/True` attribute.

Eg:

[code]

So when people are passing this to a OrdinalEncoder, they might actually be doing it "correctly" already, even though it is not an "ordered" categorical, it just happens to have its categories in the sensible (non lexico) order.

[2019-11-18 12:29] amueller commented on #15638
thanks! We do support index for column transformer features. I would love to have index support for everything relating to feature names. Not sure how to test that, though.

[2019-11-18 12:39] #15638 closed

[2019-11-18 13:11] NicolasHug commented on #15641
I wouldn't say that `plot_partial_dependence` provides additional features. It just calls `partial_dependence` multiples times in order to display multiple subplots.

This is for historical reasons, but that makes perfect sense IMHO: it's convenient for a plotting utility, and there is no need to over-complicate `partial_dependence`, which just focuses on one "simple" thing.

[2019-11-18 13:17] qinhanmin2014 commented on #15641
Okay, I agree with you. Let's close.

[2019-11-18 14:45] Neeratyoy commented on #15630
@jnothman
I guess I'll try rephrasing what I intended to highlight.

It makes perfect sense for the validity check to happen when `fit` or `fit_transform` is called.
However, there are cases, wherein the validity check in sklearn happens *only* during the `fit` call.

[code]
`svm.fit` will now naturally give a `TypeError` as expected. However, the error is not raised on instantiation.
Unlike, the

[2019-11-18 14:57] glemaitre opened #15651 "Semantic of sample_weight in regression metrics"
Several metrics in scikit-learn are using `np.average(..., weight=sample_weight)` under the hood:

* `mean_absolute_error`
* `mean_squared_error`
* `explained_variance_error`
* `r2_score`
* `mean_tweedie_deviance`

When computing the average, `numpy` will divide by the sum of the weights. Is it the intended behaviour. For instance:

[code]

and

[code]

will lead to the same error/score. Dividing

[2019-11-18 15:47] adrinjalali opened #15653 "missing whats_new entries"
The ones missing whats_new entries:

- plot_confusion_matrix #15083 (@thomasjpfan )
- maybe ##15624 HGBT early_stopping issue (@NicolasHug )

[2019-11-18 16:04] Amir-Arsalan commented on #15612
@rth @thomasjpfan  Did you also try changing the `length_scale` parameter? It seems that it doesn't affect the posteriors.

[2019-11-18 16:12] NicolasHug commented on #15653
no need for a #15624 entry because this is a warm-start bug and warm-starting is new in 0.22.

[2019-11-18 18:08] rth commented on #14395
Thanks! Sorry I don't have the time to investigate but someone should. Possibly it's the underlying issue as reported in https://github.com/scikit-learn/scikit-learn/issues/15612

[2019-11-18 18:10] rth commented on #15612
+1. I'm surprised something as major wasn't discovered before (https://github.com/scikit-learn/scikit-learn/issues/14395 might be similar maybe). Checking this for a regression (i.e. git bisecting earlier versions, and seeing if it's reproducible) could be a start.

I haven't. Thanks for mentioning it.

[2019-11-18 18:29] rth commented on #15651
That's part of a larger issue regarding the properties we want for sample weight in estimators, will open an issue about that shortly.

[2019-11-18 19:58] jnothman commented on #15630
Yes, should only be checked during fit but we have avoided changing legacy
behaviour to this end.

[2019-11-18 20:21] TomDLT commented on #15649
Note that for historical reasons, we use the opposite names in our NMF decomposition:
[code]
In our codebase, there is no easy way to freeze part of the components in `H`. However, you can freeze the entire matrix `H`, which is what happens when you call `transform` on a fitted estimator.

If you don't want to fit an estimator since you already know the components `H`, you might be interested in t

[2019-11-18 20:45] akhiadber commented on #15649
Thanks for the note on notation, I noticed it now that I started implementing the functionality I require. I understand your note on update_H=False, but since this is only the extreme case of what I'm really after, I still need to extend the code base. I already implemented it for the 'mu' solver, though somewhat inefficiently. If this will interest anyone I'll push it when done, and if not, one u

[2019-11-18 21:11] agramfort commented on #15651
to me the sample weights should be considered "sampling weights", and not
inverse variance weights. For example if you have many more observations
than unique observations, you can compress your dataset and get the same
coefficient estimates.

Let's say have have 100,000. if I compress the dataset to 10,000 with
points with a sample weight of 10 I should aim to for similar model
parameters and sco

[2019-11-18 21:41] SmirnovEgorRu commented on #14306
@NicolasHug, the blog what I mentioned above is here now: https://software.intel.com/en-us/download/parallel-universe-magazine-issue-38-august-2019
I hope you will find smth interesting :)

[2019-11-18 23:20] NicolasHug commented on #14306
Very interesting, thanks!

If I understand correctly (please correct me if I'm wrong!), it seems that the main difference between our implementations is the histogram computation.

In scikit-learn each feature histogram is built independently (one thread per feature). For each feature, we loop through all the samples at the current node.

In contrast, XGBoost does not compute each feature histogra

[2019-11-19 00:03] rth opened #15657 "RFC Sample weight invariance properties"
*This can wait after the release.*

A discussion happened in the GLM PR https://github.com/scikit-learn/scikit-learn/pull/14300 about what properties we would like `sample_weight` to have.

First, a short side comment about 3 ways simple weights (`s_i`) are currently used in loss function with regularized generalized linear models in scikit-learn (as far as I understand),

- <img src="https://user

[2019-11-19 00:53] mjmikulski opened #15658 "Allow n_samples to be a tuple in make_circles and make_moons"
I discovered that `make_circles` and `make_moons` from `sklearn.datasets` lack ability to create unbalanced data sets. This is somehow inconsistent with `make_blobs` which allows that.

## Proposal
Allow passing directly a two-element tuple as `n_samples` argument. It would be unpacked as `(n_samples_in, n_samples_out)` and could be used like this:
[code]

This is very similar to #8617, but for ci

[2019-11-19 02:31] jnothman commented on #15651
Can you explain what you would expect if the scaling invariance would not hold for the above metrics? I can't see why mae(**x**, **y**, **w**) := ((|x1 - y1| * w1) + (|x2 - y2| * w1) + ... + (|xn - yn| * wn)) / n would be more meaningful than mae(**x**, **y**, **w**) := ((|x1 - y1| * w1) + (|x2 - y2| * w1) + ... + (|xn - yn| * wn)) / (sum(w))

[2019-11-19 02:34] jnothman commented on #15657
I'd usually think that if we design the objective function such that the regularisation coefficient is sample size invariant, then it should be invariant to the scale of sample weights.

But I've not thoroughly understood the case for L2a or similar in regression evaluation metrics.

On the other hand, in some more discrete algorithms like DBSCAN we have opted for treating the absolute value of sa

[2019-11-19 02:34] jnothman commented on #15658
Seems reasonable for consistency

[2019-11-19 02:39] jnothman commented on #15651
@agramfort are you saying that normalising by the sum of weights is correct? i.e. that the metrics should be invariant to the scale of the weights?

[2019-11-19 03:10] isaacgerg commented on #7981
Using sklearn 0.21.3, i run into this error when using DictionaryLearning when n_job>1. i.e.

[code]

[2019-11-19 03:42] qinhanmin2014 commented on #15651
If we divide by n_samples instead of sum(sample_weight), the scores will be meaningless, e.g., when MAE=1, we'll expect ``abs(y_true-y_test)`` to be around 1 for a new sample.

[2019-11-19 04:26] qinhanmin2014 commented on #15651
Note that we're normalising by n_samples in RIdgeCV. This has introduced lots of inconsistencies.

[2019-11-19 06:03] SmokinCaterpillar commented on #15150
This still keeps happening to our ML models.

[2019-11-19 06:27] huangjunru opened #15660 "Can't install scikit-learn package on Pycharm Mac"
#### Description

clang: error: unsupported option '-fopenmp'
#### Steps/Code to Reproduce
executed command: pip install scikit-learn

#### Expected Results

#### Actual Results
<img width="838" alt="Screenshot 2019-11-19 at 2 15 48 PM" src="https://user-images.githubusercontent.com/7086987/69122028-b8ed6200-0ad8-11ea-9f62-c24c93457761.png">

[2019-11-19 07:38] jnothman commented on #15660
Did you attempt to follow the instructions shown there?

[2019-11-19 08:39] rth commented on #15651
See related discussion for estimators in https://github.com/scikit-learn/scikit-learn/issues/15657

[2019-11-19 08:50] rth commented on #15657
Yes, that is one of the conclusions I would like to reach with this issue (i.e. that L_2a should be avoided). We had a discussion about it in https://github.com/scikit-learn/scikit-learn/pull/14300#discussion_r329370790 and at the time I didn't have a clear justification. In general, we don't document well how sample weight are used in the loss functions of linear models, so it's hard to tell what

[2019-11-19 08:53] wendli01 opened #15662 "fetch_openml IndexError when converting arff data"
#### Description

Some OpenML datasets cannot be fetched due to an `IndexError` when converting the arff data.

#### Steps/Code to Reproduce
This happens for multiple datasets, e.g. dataset ids 25, 46, 62.
Code to reproduce for *colic*:
[code]

#### Expected Results

Dataset Bunch is returned, e.g. for *colic*:

[code]

#### Actual Results

`IndexError` is raised in [`sklearn.datasets.openml._conv

[2019-11-19 08:56] #15618 closed

[2019-11-19 09:38] jnothman commented on #15662
Duplicate of #14340 which was fixed in master and is available in the nightly build or the forthcoming  release of 0.22.

[2019-11-19 09:38] #15662 closed

[2019-11-19 13:25] #15653 closed

[2019-11-19 13:31] #6025 closed

[2019-11-19 13:52] alanmarazzi commented on #15646
I have what I think is the same issue, the error I get is:

`AttributeError: type object 'scipy.sparse._csparsetools.array' has no attribute '__reduce_cython__'`

I'm not sure how, but this has broken EVERY environment with scikit-learn I have both on Windows and WSL

[2019-11-19 14:15] NicolasHug commented on #15657
Thanks for opening this.

To me, this is the core definition of what sample weights are (it generalizes to N being a real number). The way we should define the losses, and everything else, should derive from this definition. Not the other way around. That's how I understand SW at least, but please correct me if I'm wrong.

Regarding the losses, we should distinguish what we say in the UG, and what

[2019-11-19 14:54] rth commented on #15657
They give the same solution, only if regularization is adjusted by some scaling factor (but I think few people would do that). For a given value of regularization and sample weight, the solution will not be the same. That's why not documenting it is not very transparent.

[2019-11-19 14:57] rth commented on #15646
How did you install scikit-learn? We haven't yet made a release that officially supports Python 3.8. The error messages above likely mean that you need re-building scikit-learn from sources using a reasonably recent Cython (that is the only way of installing for Python 3.8 so far).

[2019-11-19 16:10] jeremiedbb commented on #15657
To me property 2. is what people generally think sample weight are, so we should ensure that.
Property 1 is property 2 with N=0.

I can't say much about property 3 from a use case point of view. Since I come from theoretical physics I like invariants but that's not a proper argument :)
As I understood, some estimators use L1a (e.g. lasso) and others L2a (e.g. ridge) to have a good default for the

[2019-11-19 17:24] NicolasHug commented on #15657
If we consider that 2. is the definition of what SW are, I'm not sure that 3. is something we can deduce for all estimators.

Some models are actually sensitive to this notion of "number of samples" or "sum of weights". Take for example the trees which have a `min_sample_leaf` parameter (which BTW should probably become `mean_sample_weight_leaf` if we support SW, @adrinjalali).

That parameter mak

[2019-11-19 17:31] jeremiedbb commented on #15657
Or it means `min_sample_leaf` is not well defined and should probably be "makes sure each leaf has at least x% samples (or weights)". ( mostly kidding but not entirely :) )

[2019-11-19 17:47] Shotgunosine commented on #12315
Can anyone provide suggestions for how I could test if this is what's causing scikit-learn/scikit-learn#15383?

[2019-11-19 18:24] glemaitre opened #15666 "Failure on scipy nighlty build"
To avoid duplication effort, I check the failure in the CRON job on Travis. It is related to the issue which I opened there: https://github.com/scipy/scipy/issues/11089

[2019-11-19 18:29] rth commented on #15657
I agree, Prop 3 should only apply to models that are invariant by repeating all samples. Say you take L_2a, you repeat all samples twice, you get the same loss. By virtue of Prop 2, this should be equivalent to multiplying samples by 2 of the original model: i.g. that the model is sample_weight scale invariant or Prop 3.

Or inversely, if a model is invariant by repeating all samples but doesn't v

[2019-11-19 18:32] glemaitre commented on #15660
In addition, could you:

* report the full command output given in PyCharm
* report the following info

[code]

Be aware that the official way to install scikit-learn is documented here:
https://scikit-learn.org/dev/install.html

We can exactly know which commands were executed then.

[2019-11-19 20:56] thomasjpfan opened #15667 "CCA sets condition in pinv2 to match with scipy < 1.3"
The fix in https://github.com/scikit-learn/scikit-learn/pull/15661 sets the condition in `scipy.linalg.pinv2` to match with scipy < 1.3. It would be good to update the algorithm to not need to do this.

We have ran into a similar issue in https://github.com/scikit-learn/scikit-learn/pull/14067 where we vendor the previous version of `scipy.linalg.pinvh` to keep the old condition.

[2019-11-19 21:28] lorentzenchr commented on #15651
inverse variance weights

@agramfort Can you explain more? At first sight, those seem one and the same to me.

[2019-11-19 21:33] lorentzenchr commented on #15651
I find the current behaviour wonderful. Let's consider MAE. It already has a "business unit", i.e. same as target, and with the current ``np.average(mae..., weight=sample_weight)``,  it keeps that unit. In other words, the true average lets every metric stay on its _natural_ unit. That's why I like it.

[2019-11-19 22:14] lorentzenchr commented on #15657
Sample weights might have a "unit" and therefore deeper meaning. An example are severity models for insurance claims (claim amount / number of claims), where the number of claims are the sample weights. Being able to specify `min_samples_leaf` in terms of absolute number of claims makes a lot of sense, also from a statistical point of view. I'm sure this line of reasoning also works for other busi

[2019-11-19 22:33] jnothman commented on #15657
I think we have a general sense here that *ordinarily* the three invariances should hold.

However, I think we can find a bit more clarity about the exceptions to that rule, if we flip the question on its head and say: *which parameters should be invariant to the scale of the weights (and which not)?*

And then we have three classes:

1. parameters which (should) disregard the weights and are affe

[2019-11-19 22:39] jnothman commented on #15657
I think since people have been thinking in terms of algorithms, it might take a bit of work to reframe your thoughts in terms of parameters. But testing for invariances makes this clearer. If we want `alpha` to be scale-invariant wrt weights, then we test for all three invariances. If we want it to be scale-sensitive then we test that a modification to `alpha` corresponds to a modification to weig

[2019-11-20 06:34] MDouriez opened #15670 "RandomTreesEmbedding has a max_samples parameter but no bootstrap"
#### Description

In the `__init__`, `bootstrap` is set to False: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/_forest.py#L2174. Looks like `max_samples` is never used?

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2019-11-20 07:16] sandy-shirt opened #15671 "same random_state different output"
I am trying to use train_test_split function to split the data set. However, on the different mechain, with same random_state, the output is different.
Is this situation right?

[2019-11-20 07:18] LaurentD87 opened #15672 "SelectKBest cannot deal with identically constant columns"
#### Steps/Code to Reproduce
[code]

#### Expected Results
[code]
#### Actual Results
[code]

Note that the resulting skb is unusable.

#### Versions
System:
    python: 3.7.5 (default, Oct 25 2019, 15:51:11)  [GCC 7.3.0]
executable: /home/laurent/anaconda3/bin/python
   machine: Linux-5.0.0-36-generic-x86_64-with-debian-buster-sid

Python deps:
       pip: 19.3.1
setuptools: 41.6.0.post20191030

[2019-11-20 07:35] jnothman commented on #15671
Please provide your code. It's possible that you'd learn a different model,
but you should get the same split.

[2019-11-20 07:40] sandy-shirt commented on #15671
what you mean it's possible learn a different model  with the same split
I have the exactly same code run on different mechain with same data
is that possible to learn a different moedel with same split？

[2019-11-20 11:04] jnothman commented on #15604
I'm not sure what your proposals mean.

we only calc distances for rows with at least one value missing.

yes we can probably improve memory efficiency by considering one target sample at a time, rather than the column-at-a-time approach here.

but I think we are best off seeing how this goes in practice before optimising it too much. I think the problem can be trivially chunked by receiving row.

[2019-11-20 11:31] glemaitre commented on #15604
Nop. I only have a pick of memory at 4 GB for the above example. However `X` is only taking < 2MB originally.

[2019-11-20 12:14] glemaitre commented on #15666
It will be fixed in https://github.com/scipy/scipy/pull/11092

[2019-11-20 12:14] #15666 closed

[2019-11-20 12:56] glemaitre opened #15678 "MNT artifacts links not appearing if circle if failing"
After introducing failure mode if sphinx complete with warnings (which is good thing :)), I can observe a side effect that could be solved. Even if the job fails, the artifacts are uploaded and therefore we can check `doc/_changed.html`. @larsoner introduced the GitHub app allowing redirecting to these artifacts which is really handy. However, because the job is declared as failed, the shortcut do

[2019-11-20 14:19] larsoner commented on #15678
@glemaitre can you link to a PR that has this problem?

[2019-11-20 14:36] NicolasHug commented on #15671
Please provide your code @sandy-shirt

Are you also setting the RNG random state of the estimator, if any? Are the versions of the packages on your machines equivalent?

[2019-11-20 15:49] NicolasHug commented on #15657
We should also discuss how subsampling the training set behaves w.r.t sample weights. This is relevant for any estimator that subsamples the training set, and particularly for random forests with bootstrapping.

Consider the definition of SW as 2. above:

And consider the random forests, that compute subsamples of the training set *with replacement*. If the subsampling takes SW into account (the h

[2019-11-20 17:51] randolf-scholz opened #15682 "LinearRegression does not work with 0 features"
#### Description
Trying to apply linear regression with 0 features raises an error instead of fitting the bias term.
This plays a role when for example we want to perform forward search  variable selection. Here, the constant model (or in the classification case the majority class prediction) is the initial model to consider.

#### Steps/Code to Reproduce

[code]
#### Expected Results
Fitting the

[2019-11-20 17:57] #12587 closed

[2019-11-20 18:05] ifranco14 commented on #12413
What does it do @llc8888?

[2019-11-20 18:16] NicolasHug commented on #15682
Maybe just happen a column of ones to `X` and set `fit_intercept` to False?

Note that we do have builtin variable selection tools (https://scikit-learn.org/stable/modules/feature_selection.html)

[2019-11-20 18:19] rth commented on #15682
Why not start explicitly with a `DummyRegressor` as the initial model in that case? I'm not sure this is something we would want to support in models in general, the use case is fairly specific.

In most cases when a model is fitted on data with no columns  it's better to error (as it means there are likely issues earlier in the data pipeline), than return the mean of y.

[2019-11-20 18:27] snow-abstraction commented on #15682
The suggestions by @rth @NicolasHug will of course work. But handling the empty case correctly is still valid and it will allow people to writer cleaner code.

[2019-11-20 18:37] NicolasHug commented on #15682
There is no "correct" way of handling an empty `X` / no data. Why should the mean be more appropriate than say the median, or any other aggregation like the max?

Like @rth said, an empty X means a pipeline error in 99% of the cases. It makes more sense for a library to address those 99% cases rather than the 1% (which aren't less valid, just less frequent)

[2019-11-20 18:47] NicolasHug opened #15684 "Add return_centers parameter to make_blobs"
Might be worth adding a `return_centers` parameter to `make_blobs`.

Typically useful for comparing with e.g. `GaussianMixture.means_` or `KMeans.cluster_centers_`, when the centers are randomly generated by `make_blobs`

[2019-11-20 18:49] randolf-scholz commented on #15682
@NicolasHug I am aware that a built in version exists. My use case is teaching: we often ask students to implement certain models or methods from scratch. Recently, should implement a method like `forward_search(model, X_train, Y_train, X_val, Y_val)` for variable selection. Ideally the code would work with any sklearn model since all that's really needed is the ability to call `model.fit(X[:, var

[2019-11-20 19:03] NicolasHug commented on #15682
Not in general. The mean is only really relevant if you're using the LS loss (which is your case, fair)

You'd be surprised. It's incredibly easy to write an empty slice my mistake.

I understand why you would love this feature to be supported, but from a pragmatic point of view, this isn't reasonable. As always, we have to compromise when we write an API. What makes sense from a theoretical point

[2019-11-20 19:21] glemaitre commented on #15678
@cmarmo created a use case in https://github.com/scikit-learn/scikit-learn/pull/15685

[2019-11-20 19:23] cmarmo commented on #15678
I was waiting for the output to advertise... :)

[2019-11-20 20:19] glemaitre commented on #15678
Problem solved thanks to @larsoner. Thanks :+1:

[2019-11-20 20:19] #15678 closed

[2019-11-20 22:02] glemaitre commented on #15670
Yes, this seems correct. It seems that he parameter should not have been added in the docstring and let it to None.

[2019-11-21 00:24] keanu96 commented on #14624
Hi, I I have the same problems. And I had tried [this instructions](https://scikit-learn.org/dev/developers/advanced_installation.html#macos).

But I still got the error that said I need OpenMP library.

I installed the libomp by using `brew install libomp`.

This problem waste my night, so do you guys have any other solutions? (python version: 3.8)

Thank you very much

[2019-11-21 01:25] venkyyuvy commented on #15684
Can I work on this issue?

[2019-11-21 01:42] NicolasHug commented on #15684
sure

[2019-11-21 03:06] sfujiwara opened #15690 "Validation of strategy for SimpleImputer in constructor"
#### Description

Currently `SimpleImputer` validate `strategy` option when `fit` or `fit_transform` is executed:
https://github.com/scikit-learn/scikit-learn/blob/1c546cd9b1c229cba6f076f7532fadc27066f63e/sklearn/impute/_base.py#L218-L221

I guess it's better to validate it in `__init__`.

#### Steps/Code to Reproduce

That is, I want the code below to occur an error immediately:

[code]

#### Ver

[2019-11-21 05:04] jnothman commented on #15690
Yes, this is the convention we use. See our developer docs and glossary.

[2019-11-21 05:04] #15690 closed

[2019-11-21 07:32] scripteaze commented on #15684
This issue is listed as language 'JS' not sure why

[2019-11-21 08:25] shivamgargsya commented on #15684
Hi venkyyuvy if you have not started on this can I raise PR for this issue.

[2019-11-21 10:49] jeremiedbb commented on #14624
Hi,

I can't reproduce the issue. I installed python 3.8, then ``pip install numpy scipy cython``.

Do you have a libomp directory in `/usr/local/opt/` ?

[2019-11-21 10:50] Juanlu001 commented on #13971
Same here, sklearn 0.21.3 and matplotlib 3.1.1 on Jupyter Lab 1.2.3.

[2019-11-21 11:12] cmarmo opened #15694 "Plot_tree Rotate parameter isn't taken into account"
#### Description
The `rotate` parameter has no effect in [`sklearn.tree.plot_tree`](https://scikit-learn.org/dev/modules/generated/sklearn.tree.plot_tree.html#sklearn.tree.plot_tree) function.

After checking the code the `rotate` parameter has been inherited from the  [`sklearn.tree.export_graphviz`](https://scikit-learn.org/stable/modules/generated/sklearn.tree.export_graphviz.html) but has no e

[2019-11-21 11:16] cmarmo commented on #13971
Hi everybody, I've just opened a specific issue about the `rotate` problem (#15694).
About the arrows: @jolespin, @StevenLi-DS, could you please let us know which version of matplotlib you are using? Just to understand if scikit-learn can do something here or the problem need to be investigated in the dependencies. Thanks!

[2019-11-21 12:32] shivamgargsya commented on #15684
Hi @NicolasHug  and @venkyyuvy I have created this [PR](https://github.com/scikit-learn/scikit-learn/pull/15691) it would be great if you can review it :) still feel free to give your own implementation.

[2019-11-21 12:35] regstrtn opened #15696 "Generate the pairs of most confused classes in multiclass classification"
Use case:
Multiclass classification

I think it would be helpful if the user could see the pairs of classes that are being confused most often in a multiclass classification, by calling a method `most_confused_classes(y_true, y_pred)`.
The method should return a matrix of size = `[n_pairs, 3]`.
Each row will contain `<categoryid1, categoryid2, count>` where count denotes the number of times catego

[2019-11-21 12:36] michaels011235 opened #15697 "Error when trying to install using pipenv and python 3.8"
#### Description

Error when trying to install using pipenv and python 3.8

#### Steps/Code to Reproduce

Commands:
[code]

Output:

#### Expected Results

No error is thrown.

#### Actual Results

[code]

#### Versions

OS: Ubuntu 18.04
pipenv version:
[code]

python version:
`Python 3.8.0 (default, Oct 19 2019, 20:18:31)`

[2019-11-21 16:06] jackexu commented on #14624
Did you add those to your bash_profile?

[2019-11-21 16:07] jackexu commented on #14624
yes.

[2019-11-21 18:38] tigerhawkvok opened #15699 "Scikit-Learn doesn't correctly assign version numbers to PyPI"
All SKLearn installs are marked as version 0.0, and you cannot install a specific version or specify it in a requirements file.

Attempt to install a version of SKLearn by version:

[code]

Install SKLearn fresh:

[code]

Replicates on Ubuntu and on Windows, across multiple local machines and AWS.

[2019-11-21 20:00] rth commented on #15699
Yes, because you should install `scikit-learn` not `sklearn` which is only an alias.

[2019-11-21 20:00] #15699 closed

[2019-11-21 20:42] i-j-i-j-i opened #15700 "Note/Reference for LDA eigen solver update"
**What does this implement/fix? Explain your changes.**
Note and Reference  for Linear Discriminant Analysis, eigenvalue decomposition `eigen solver` update

**Notes**

This solver is based on [1]_, **section 4.11**, pp. 121-124.

**References**

.. [1] R. O. Duda, P. E. Hart, D. G. Stork. Pattern Classification
(Second Edition). John Wiley & Sons, Inc., New York, 2001. ISBN **978-0-471-05669-0.**

[2019-11-21 21:14] jnothman commented on #15696
I think often it's better to see the most confused classes in a confusion
matrix, where you can see broader trends. But I suppose that might not be
the case if there are very many classes.

[2019-11-21 21:26] NicolasHug commented on #15700
what are you proposing @jiyech , a not in the user guide or a comment in the code? Feel free to submit a PR!

[2019-11-21 21:28] StevenLi-DS commented on #13971
@cmarmo I forgot the comment. I think the issue is not the arrows but the color of the arrows doesn't change dynamically based on the facecolor of the plot.

I can see the arrow now even with a white background, so I think it might be my IDE's issue, i.e. vscode. However, the arrows are not visible if you change the `facecolor='k'` since they don't have a white background below them like the text

[2019-11-22 00:43] TomDLT commented on #15694
I suggest a deprecation warning

[2019-11-22 02:19] keanu96 commented on #14624
Hi, I added those env config to my bash_profile.

I have had the sklearn in my env.

But there were many errors when I executed `pip install --verbose --editable .`.

Finally, it worked. I can import sklearn in my code.

But I still don't know why there were errors when I executed the command? It dose't matter?

[2019-11-22 03:55] #11513 closed

[2019-11-22 03:56] qinhanmin2014 commented on #15641
@NicolasHug I still find the API confusing
[code]

If we want ``partial_dependence`` to focus on simple things, perhaps features should be int/str or a tuple of int/str?

[2019-11-22 05:18] shivamgargsya commented on #15684
Hi @NicolasHug I have raise [PR](https://github.com/scikit-learn/scikit-learn/pull/15691) for this. It would be great if you can review this. Thanks

[2019-11-22 09:19] jeremiedbb commented on #14624
Well it's hard to tell if we don't know what you did when it did not work or what you did to make it work. It's also hard to tell without the build log. If it works now my guess is just that you missed a step in your first attempt. For instance you could have set the env variables incorrectly.

[2019-11-22 13:13] NicolasHug commented on #15641
This is already the case? (with iterables instead of tuples)

partial_dependence accepts x and plot partial dependence accepts lists of x.
x can be an int, a str, or an iterable.

In your example you're x is an int for plot_partial_dependence, while it's an iterable for partial_dependence. So it's normal that you get different results.

----

I agree the API is way too overloaded. It's legacy code

[2019-11-22 13:21] EricSpeidel commented on #15697
As far as I'm aware, there are no wheels for Python 3.8 yet. See https://github.com/scikit-learn/scikit-learn/issues/15328

[2019-11-22 13:34] NicolasHug commented on #15684
Thanks for the PR @shivamgargsya , however @venkyyuvy had already expressed interest.

@venkyyuvy Do you have a PR ready for review, or should we go with @shivamgargsya 's ?

[2019-11-22 13:36] NicolasHug commented on #15682
If there is no additional comments I think we can close the issue?

[2019-11-22 14:55] MexsonFernandes commented on #4820
Use CallibratedClassifierCV.

[code]

[2019-11-22 15:02] qinhanmin2014 commented on #15641
Hmm, sorry I didn;t notice it because the doc says ``featuresarray-like of {int, str}``

Hmm, not sure, I open this issue because as a user, I find it difficult to understand the difference between partial_dependence and plot_partial_dependence.

[2019-11-22 15:19] NicolasHug commented on #15641
users are probably only interested in `plot_partial_dep` unless they have a very specific use case e.g. more than 2-way pdp, or make different kinds of plots

[2019-11-22 15:37] glemaitre commented on #15697
@EricSpeidel is right. Then pip install scikit-learn from source and you need python to be installed.

[2019-11-22 15:37] #15697 closed

[2019-11-22 22:20] amueller commented on #12153
btw there was a discussion on this topic earlier this year and Sole Galli cited some things from the 2009 KDD competition http://www.mtome.com/Publications/CiML/CiML-v3-book.pdf:

[code]

These might provide some additional pointers / references.

[2019-11-22 22:26] amueller commented on #12502
Given that #12908 is merged, should we add an ``if_binary`` flag? Seems relatively easy, right?

[2019-11-22 23:04] glemaitre commented on #12502
Could you elaborate? Do you mean `drop='if_binary' to only drop in case of a binary feature?

[2019-11-22 23:40] rth commented on #12153
I currently have a preliminary preprocessor (e.g. a `CategoricalPreprocessor`) for infrequent categories and NaN handling that I could contribute. Though it only works with dataframes (and relies heavily on `pd.Categorical`) so maybe it would be more a thing for sklearn-extra.

It could be worthwhile having a separate estimator for this maybe, even if we keep it private in the end, if only to shar

[2019-11-23 11:12] #15682 closed

[2019-11-23 14:32] mrunibe commented on #13621
Very common use-case in medicine and biology when you have repeated measures.
An example: Assume you want to classify a disease, e.g. Alzheimer's disease (AD) vs. healthy controls from MR images. For the same subject, you might have several scans (from follow-up sessions or longitudinal data). Let's assume you have a total of 1000 subjects, 200 of them being diagnosed with AD (imbalanced classes).

[2019-11-23 14:40] ogrisel commented on #14306
Thanks. Indeed this is very interesting. /cc @jeremiedbb @glemaitre who might also be interested in this/

[2019-11-23 14:45] ogrisel commented on #14306
@NicolasHug in your benchmarks, how many physical cores (without hyperthreads) do you have on the host machine? If it's 16, then it's normal to reach a plateau at 16 openmp threads. But indeed the problem is not as bad as I remember. Still it would be interesting to re-benchmark sklearn on Higgs vs the latest xgboost master on a machine with many cores.

[2019-11-23 17:22] venkyyuvy commented on #15684
Thanks for considering my interest @NicolasHug. I had raised a PR for this.

@shivamgargsya,
Sorry for delayed response from my side.

[2019-11-23 18:48] NicolasHug commented on #14306
@ogrisel my knowledge of CPUs is quite limited. Could you explain why it's normal to plateau at 16?

[2019-11-24 06:14] wderose opened #15711 "Predict-function priority differs between StackingClassifier and CalibratedClassifierCV"
#### Description

The [`ensemble.StackingClassifier`](https://scikit-learn.org/dev/modules/generated/sklearn.ensemble.StackingClassifier.html#sklearn.ensemble.StackingClassifier) (slated for release in v0.22) `stack_method="auto"` predict-function priority does not match that of [`CalibratedClassifierCV`](https://github.com/scikit-learn/scikit-learn/blob/f1f765f476c3cb3e0a882324f8ed67763d76ed26/sk

[2019-11-24 06:46] khandelwalmohit opened #15712 "Installation error where all the dependencies are satisfied."
Error is written below
<img width="1123" alt="Screenshot 2019-11-24 at 12 14 40 PM" src="https://user-images.githubusercontent.com/43912584/69490913-296af900-0eb4-11ea-8cdd-aeb09629351c.png">
<img width="1005" alt="Screenshot 2019-11-24 at 12 15 00 PM" src="https://user-images.githubusercontent.com/43912584/69490914-296af900-0eb4-11ea-9714-c774498cc3bf.png">

[2019-11-24 08:23] qinhanmin2014 commented on #15711
Apart from consistency, do you have some other reasons?
I prefer to try predict_proba first, because we're combining the predictions of several estimators. The output of predict_proba is always in the range of [0, 1]. This will be friendly to those final estimators which are based on gradient descent (e.g., LogisticRegression, the default final estimator)

[2019-11-24 12:52] jeremiedbb commented on #15712
Hi, I'm guessing you have python 3.8. We don't have wheels for scikit-learn on python 3.8 yet (coming with the next release very soon). In the mean time you can switch to python 3.7.

[2019-11-24 16:30] fuglede commented on #11226
This one just came up as [a question on StackOverflow](https://stackoverflow.com/q/59006937/5085211) as well; might it be helpful to catch the `TypeError` and provide a friendlier error message?

[2019-11-25 04:17] shana9pm commented on #11996
Actually I think OHE is used for handling the gap between train set and test set in real data work. So when we just play with data set, we will just use pd.get_dummies(). But when new test set come and there is new type of categories, we have to make sure that the model we trained still work so we have to make this process stablea and that is why OHE is good.
In pd.get_dummies, when it encounters

[2019-11-25 09:00] glemaitre opened #15713 "Problem compiling the test_program in MacOS CI due to linking issue"
We currently have an issue with the MacOS CI: https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=10858&view=logs

ping @jeremiedbb

[2019-11-25 17:22] ni-apurata commented on #9292
I'm also having serious problems with this bug. Has there been any progress towards fixing it or finding workarounds?

[2019-11-25 21:49] DeeperDeeper opened #15717 "Silhouette score is not defined when the estimator return only 1 cluster"
https://github.com/scikit-learn/scikit-learn/blob/4f97facc3a992c6e2459c3da86c9d69b0688d5ab/sklearn/metrics/cluster/_unsupervised.py#L38
I am wondering why the silhouette score is not defined when the estimator return only 1 cluster. In this case, if we want to do Hyperparameter tuning (GridSearch) based on the silhouette score, it will crash if the estimator return one cluster. I am wondering why

[2019-11-25 21:54] talhakabakus opened #15718 "Getting "PermissionError: [WinError 32] The process cannot access the file because it is being used by another process during" during GridSearchCV"
#### Description
Getting `PermissionError: [WinError 32] The process cannot access the file because it is being used by another process during` during `GridSearchCV`.

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown.

#### Actual Results
[code]

#### Versions
[code]

[2019-11-25 22:41] cpvandehey commented on #7977
Was any version of online db scan made and pushed into SciKit Learn? Any progress? The DenStream algorithm doesn't fit all applications because data eventually gets deleted off the cluster.

[2019-11-25 22:56] jnothman commented on #15717
What is the benefit of testing the hypothesis of a single cluster if it
assigned the minimum possible score in all cases?

[2019-11-26 13:32] #15670 closed

[2019-11-26 14:19] adrinjalali commented on #15711
I think since calibration works on one single estimator, while stacking works on several of them, they don't have to follow the same logic on that priority list.

WDYT @glemaitre ?

[2019-11-26 14:48] qinhanmin2014 commented on #15711
Yes, I guess decision_function is more reasonable for calibration and predict_proba is more reasonable for stacking.

[2019-11-26 15:30] rth commented on #15718
It's an issue with joblib that is being discussed in https://github.com/joblib/joblib/issues/806

[2019-11-26 15:32] rth commented on #15700
The associated PR was closed. Should this issue be closed as well then?

[2019-11-26 16:37] #14847 closed

[2019-11-26 17:31] #15700 closed

[2019-11-26 19:20] DeeperDeeper commented on #15717
Thanks, @jnothman for your answer.
I think with MWE will be more clear. Basically, I want to use GridsearchCV() for the hyperparameter evaluation of clustering in Scikit-learn in an automatic way.
here is a working example:
[code]

[2019-11-26 20:10] jnothman commented on #15717
Yes, you are right that this may be a reasonable use case.

But I had thought we were getting best_index_ by finding the max score
disregarding NaN. Are we not?

[2019-11-26 21:32] DeeperDeeper commented on #15717
Thanks @jnothman,
I am not sure if you have reproduced the error or no. Actually, the silhouette_score will crash if the estimator return `1 cluster` or `len(data) clusters`. If you could not reproduce the error try just to play with seed.

[2019-11-26 22:28] DeeperDeeper commented on #15717
Here are two MWE to resolve the problem:
# Search the optimum clusters of KMeans
[code]
# Search the best `bandwidth` parameter for MeanShift

[code]

[2019-11-26 22:48] jnothman commented on #15717
Sorry I've not had the chance to try reproduce. Does sound like a case that
should work.

[2019-11-26 23:39] gittar commented on #9795
I think the origin of this behavior is identified:  https://stackoverflow.com/questions/58940890/message-does-not-fit-sklearn-k-means-convergence-implementation

[2019-11-27 07:21] cuixing158 commented on #14224
@glemaitre ,my computer is :
Windows-10-10.0.14393-SP0
Python 3.7.1 (default, Dec 10 2018, 22:54:23) [MSC v.1915 64 bit (AMD64)]
NumPy 1.16.5
Traceback (most recent call last):

  File "<ipython-input-15-b7ca06a60550>", line 4, in <module>
    import scipy; print("SciPy", scipy.__version__)

AttributeError: module 'scipy' has no attribute '__version__'

when i use 'conda list',show here:
scikit-le

[2019-11-27 09:39] glemaitre commented on #14224
reinstall scipy because it seems that this is broken

[2019-11-27 10:17] panpiort8 commented on #15601
I can take that issue

[2019-11-27 10:33] adrinjalali commented on #15711
Seems like we agree and the current state makes sense. I'm closing the issue, but thanks for reporting it @wderose

[2019-11-27 10:33] #15711 closed

[2019-11-27 10:42] qinhanmin2014 commented on #15711
try to ping @jnothman in case he does not agree.

[2019-11-27 12:27] mcarbajo opened #15722 "RuntimeError: "Cannot clone object ..." when using clone with an implementation of BaseEstimator that copies objects in get_params method"
#### Description

RuntimeError thrown when using `sklearn.base.clone` with estimators whose implementation of `get_params` returns copies instead of references.

Sanity check at the end of the `clone` function fails when the implementation of the estimator used, copies parameters during its initialisation or in the `get_params` method.

Either the documentation of `__init__` and `get_params` in `B

[2019-11-27 13:09] jnothman commented on #15711
I'm not entirely sure, but I've not put much thought into it. I agree that
users may get confused by this behaviour.

I wonder if we can improve it by changing 'auto' to 'prefer-proba' and
'prefer-decision' respectively?

[2019-11-27 13:11] jnothman commented on #15722
Please confirm whether this is still an issue in the latest version
(0.22rc2)

[2019-11-27 13:24] qinhanmin2014 commented on #15711
I think the main point here is that predict_proba is consistent among classifiers, thus is more friendly to some final estimators. If some estimators only support predict_proba or decision_function, users should use e.g., tree-based classifiers as final estimators, in this case, prefer_proba and prefer_decision will be the same.
Regarding inconsistency, I guess this is acceptable and seems that Ad

[2019-11-27 13:40] NicolasHug commented on #14042
I have opened a SLEP for fixing this: https://github.com/scikit-learn/enhancement_proposals/pull/24

[2019-11-27 13:44] mcarbajo commented on #15722
The error is still happening in `sklearn: 0.22rc2.post1`

[2019-11-27 14:04] NicolasHug commented on #15722
[here](https://scikit-learn.org/dev/developers/develop.html#get-params-and-set-params) we say that "get_params function takes no arguments and returns a dict of the __init__ parameters of the estimator, together with their values"

We don't explicitly say that it should not return copies though.

[2019-11-27 15:10] gaborbernat opened #15723 "wheel for python3.8"
Can we add python3.8 wheels, these are still missing under the proposed RC: https://pypi.org/project/scikit-learn/0.22rc2.post1/#files

[2019-11-27 16:39] mcarbajo commented on #15722
Is there a reason for just checking parameters by reference and not by value?

If there is a reason for maintaining the current behaviour I still think it would be a good idea to explicitly say that init params shouldn't be copied or deep copied in the `get_params` method. This information should go in the [Cloning section](https://scikit-learn.org/dev/developers/develop.html#cloning).

[2019-11-27 16:51] NicolasHug commented on #15722
My guess is that some objects may be arbitrarily nested/complex so strict equality checks are impossible. Also it's much cheaper.

Feel free to submit a PR of what you think would be an appropriate doc

[2019-11-27 16:56] mcarbajo commented on #15722
If the sanity check is not thorough due to a matter of complexity or efficiency, does it really make sense to raise an error or maybe it should be a warning?

[2019-11-27 17:05] NicolasHug commented on #15722
The check is thorough, it's just potentially too strict. `clone` assumes that `get_params` doesn't copy, so the issue is more related to the convention for `get_params` rather than for `clone`.

May I ask why you need `get_params` to return a copy in the first place?

Note that in the clone docstring, we say that "Clone does a deep copy of the model in an estimator without actually copying attache

[2019-11-27 17:51] mcarbajo commented on #15722
I didn't take the decision of returning a deep copy. I was just using the classes that the Keras package has for integration with scikit-learn and I was getting the error I describe in the issue. I was unsure whether this error was due to the sanity check of the clone function being too strict or an error in the implementation of the classes of the Keras package. I understand the decision of using

[2019-11-27 18:40] Konrad0 opened #15724 "Average path length in iForest is inaccurate for small sizes"
#### Description
The routine `_average_path_length()` for isolation forests (sklearn.ensemble.IsolationForest) gives quite inaccurate results for small sizes (`n_samples_leaf`), which propagates to the anomaly scores. For `n_samples_leaf=3` the error is around 30%. This is due to the fact that a very rough approximation mentioned in the original paper is used, which only reaches reasonable accurac

[2019-11-27 19:38] alfaro96 commented on #15672
Can I work on this issue? (In fact, I have realized that the problem is not in `SelectKBest` but in `f_regression`)

[2019-11-27 19:58] jnothman commented on #15672
Sure. How to you plan to solve it? (Or just open a pull request with a
solution)

[2019-11-27 19:59] jnothman commented on #15723
They won't be under rc3, which is about to be released.

[2019-11-27 20:16] alfaro96 commented on #15672
I will open a PR with a solution as far as I implement it. Thanks!

[2019-11-27 20:33] pvk-developer opened #15726 "OneHotEncoder generates a `2` and inconsistent data."
#### Description
When you create a `OneHotEncoder` with certain categories and then fit it with a `numpy.array` with `dtype=object`, when calling `transform` with different type of `dtype` it will generate an incoherent output.

#### Steps/Code to Reproduce
Example:
[code]
which outputs:
[code]
However if we run `values.astype(object)` we get the expected output:

[code]
[code]

#### Versions
scik

[2019-11-27 20:44] jnothman commented on #15722
We used to check for equality, but made it more strict in part to simplify
the code. Should we consider reverting that for the sake of compressively,
@amueller, or should we ask/help Keras get with the program?

[2019-11-27 21:19] J-A16 commented on #13425
@jnothman, this class has been made private, is this issue still open though?

[2019-11-27 21:59] J-A16 commented on #13425
As in should it really still be open?

[2019-11-27 22:04] glemaitre commented on #15726
I am still having the same question than in #15616: https://github.com/scikit-learn/scikit-learn/issues/15616#issuecomment-554618352

Are we supposed to handle numpy array with `<Uxxxx` dtype. I recall that imputer will raise an error:

https://github.com/scikit-learn/scikit-learn/blob/9e5819aa413ce907134ee5704abba43ad8a61827/sklearn/impute/_base.py#L245-L251

[2019-11-27 22:32] glemaitre commented on #15722
Be aware that one of the contracts in scikit-learn would be the following:

[code]

This one of the reasons that we are always creating `attribute_` to not change a mutable object defined beforehand. Then `clone` is in charge of making the copy when creating a clone.

[2019-11-28 03:07] yarikoptic opened #15727 "Promote SKLEARN_SEED for consideration in __init__.py itself"
Inspired by https://github.com/scikit-learn/enhancement_proposals/pull/24 I decided to look into either it is possible to seed RNG used by sklearn "globally". Apparently it was even me who, after a heated discussion, added treatment of `SKLEARN_SEED` environment variable within `setup_module()` fixture back in 2012 https://github.com/scikit-learn/scikit-learn/commit/4915d4dcd93a1051f4bdf9339879431

[2019-11-28 03:51] ForrestCKoch opened #15731 "pairwise_distances fails with metric='seuclidean' if input is not of type np.double"
#### Description
`sklearn.metrics.pairwise_distances` returns error when using `metric='seuclidean'` and input is not of type `np.double`.

Please see https://github.com/scikit-learn/scikit-learn/pull/15730 for my suggested fix.  I have read through the contributing page; however, this is my first contribution so please let me know if I've done something wrong.

#### Steps/Code to Reproduce
Using

[2019-11-28 04:46] jnothman commented on #15727
Is the idea that this seed would override random_state=None?

[2019-11-28 07:00] prabhat00155 opened #15732 "AdaBoostClassifier predict() gives incorrect label"
#### Description
AdaBoostClassifier predict() labels don't match up with the results of predict_proba(). Here is an example:
model.predict_proba(X_test) gives this: array([0.51176443, 0.48823557]), where as model.predict(X_test) gives 1 instead of 0.

#### Steps/Code to Reproduce

[code]

#### Expected Results
1.0

#### Actual Results
0.93

#### Versions
System:
    python: 3.6.8 (v3.6.8:3c6b436a5

[2019-11-28 09:22] gaborbernat commented on #15723
Any estimates where and how it's planned to be added? 👍

[2019-11-28 09:28] jnothman commented on #15723
There are nightly builds available for 3.8 now. For rc3 see #15715, which
is then followed by our deployment procedure.

[2019-11-28 10:52] regstrtn commented on #15696
Yes, I only felt the need for this when I was working on a problem with >1000 classes. It would have been helpful to see just the top 10 or 20 most commonly confused classes and then take corrective action.

[2019-11-28 11:31] fcharras opened #15733 "QuantileTransformer quantiles can be unordered because of rounding errors which cause np.interp to return nonsense results"
#### Description
At inference in `QuantileTransformer`, [`np.interp`](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.interp.html) is used. The documentation of this function states: `Does not check that the x-coordinate sequence xp is increasing. If xp is not increasing, the results are nonsense.` Within QuantileTransformer [`xp` are quantiles](https://github.com/scikit-learn/sc

[2019-11-28 11:43] adonizetti commented on #12960
Hi, this issue seems to exist even in version `0.21.3`.
The code doesn't raise any error nor warning, but the output values are clearly wrong (as the one shown in the previous comment). To be precise, the behavior is now consistent for the different choices of `weight` (should I open a new issue?), but it's still different from the expected results mentioned above (which would totally make sense t

[2019-11-28 13:15] jeremiedbb commented on #15713
Fixed, see explanation in #15716.

[2019-11-28 13:15] #15713 closed

[2019-11-28 13:42] jeremiedbb commented on #14624
Closing. This thread reports too many different issues. It seems all of them have been solved anyway. In most (all ?) cases, the solution comes from [https://scikit-learn.org/dev/developers/advanced_installation.html](https://scikit-learn.org/dev/developers/advanced_installation.html).

[2019-11-28 13:42] #14624 closed

[2019-11-28 15:43] adrinjalali commented on #15723
The wheels are not available under 0.22rc3 branch: https://pypi.org/project/scikit-learn/0.22rc3/#files

[2019-11-28 15:43] #15723 closed

[2019-11-28 17:26] anuprulez commented on #15732
I could reproduce this error. When I set the `algorithm` attribute of `AdaBoostClassifier` to `SAMME.R`, the error goes away.

[code]

Output: `1.0`

The `SAMME` boosting algorithm is producing this error. I need to look into the implementation of this algorithm in scikit-learn.

[2019-11-28 20:28] rafikg commented on #15717
@jnothman Can I do a pull request for thtat ?

[2019-11-28 20:32] jnothman commented on #12960
It sounds like you've got a grip on the issue. Would you be able to open a
pull request with a test and maybe one of your patches?

[2019-11-28 20:35] jnothman commented on #15717
Of course, if the people above did not intend to submit a pr

[2019-11-28 20:46] pleydier commented on #15696
Hi, I found this issue and work on it, I thought that it would be a good first issue for me to understand the scikit-learn contribution workflow.
Please let me know what you think and if a I can improve the PR, or if the feature is not useful enough to further work on it.

[2019-11-28 22:55] glemaitre opened #15738 "Bug in plot_precision_recall_curve"
#### Description

We need to add `pos_label=pos_label` when computing the `average_precision_recall`.

#### Steps/Code to Reproduce

[code]

#### Actual Results

[code]

#### Versions

on master

[2019-11-29 03:41] #15738 closed

[2019-11-29 05:36] imnotaqtpie commented on #15409
hi @rth I am interested in working on this issue.

[2019-11-29 05:40] imnotaqtpie commented on #5545
hi @ogrisel this seems like a good place to get started and since its been over a year since the last activity, is it ok for me to take this up?

[2019-11-29 06:17] vachanda commented on #15409
Hi @imnotaqtpie, Sorry about the late update. I have worked on it and have not been able to push the code and resolve a test case issue due to my travel and health issues. I will push out the PR in the next few days.

[2019-11-29 08:33] stephantul opened #15740 "CountVectorizer and TfidfVectorizer docs do not mention token_pattern gets ignored when passing a custom tokenizer"
#### Description

The documentation for the Countvectorizer and TfidfVectorizer is not clear about the interaction between `token_pattern` and passing a custom `tokenizer`. Currently, when a `tokenizer` is passed, the `token_pattern` is ignored. But the docstring entry for the tokenizer parameter only mentions `Override the string tokenization step while preserving the preprocessing and n-grams ge

[2019-11-29 08:46] plgreenLIRU commented on #14398
Hello, is this issue still open? I might be able to help.

It's certainly true that the GMM should be able to fit to this data without scaling, but it might just be a case of having to select sensible initial conditions for the covariance matrices. I'm happy to have a look?

[2019-11-29 09:38] rth commented on #15426
Yes, I would say not add versionadded before 0.10 maybe?

[2019-11-29 10:18] johannfaouzi opened #15741 "[DOC] sklearn.utils.deprecated yields indentations in HTML output"
#### Description

[sklearn.utils.deprecated](https://scikit-learn.org/stable/modules/generated/sklearn.utils.deprecated.html#sklearn.utils.deprecated) modifies the [docstring](https://github.com/scikit-learn/scikit-learn/blob/1495f69242646d239d89a5713982946b8ffcf9d9/sklearn/utils/deprecation.py#L105-L111) of a function or a class to warn users for the deprecation. However it does not seem to rende

[2019-11-29 10:51] plgreenLIRU commented on #14398
Just had a quick look... I think the problem here is that the GMM is default initialised using k-means, which **does** need scaled data. In this case, it means that the GMM is given really bad initial conditions.

This first picture shows k-means struggling to fit to the non-scaled data and the resulting poor GMM fit:

![no_kmeans_scaling](https://user-images.githubusercontent.com/42935860/6986391

[2019-11-29 11:01] GaelVaroquaux commented on #14398
That's probably a very good analysis.

Can you come up with a simple test (ie one that executes real fast) that reliably fails on the current version of the code and passes on the modified?

If so, we would welcome a PR with the fix and the test.

Thank you very much!

[2019-11-29 11:37] plgreenLIRU commented on #14398
Yep, will do :)

[2019-11-29 14:14] momouang opened #15742 "scikit-learn cannot be built with OpenMP support."
I was trying to install sklearn in python 3.8, but it won't let me go successfully

momouangde-MacBook-Pro:~ **momo$ pip3 install scikit-learn**
Collecting scikit-learn
  Using cached https://files.pythonhosted.org/packages/1e/ce/9d8c88e68af0a5b5c5d78d8d2b7bcadfd45e1d6afc863ccb9aee30765b06/scikit-learn-0.21.3.tar.gz
Requirement already satisfied: numpy>=1.11.0 in /Library/Frameworks/Python.framewo

[2019-11-29 14:20] jeremiedbb commented on #15742
Hi, we don't have wheels for python3.8 yet. But we will have for the 0.22 release coming very soon :)
In the meantime I  suggest you to switch to python 3.7

[2019-11-29 14:26] momouang commented on #15742
oh sure and is there any code example for me to lower my python level ??
i'm a beginner in python field

[2019-11-29 14:43] Passenger12138 opened #15743 "fetch_mldata mnist error"
I encountered a very strange problem when training my neural network using the MNIST dataset. I have successfully downloaded and placed my mnist-original.mat file, but he still prompts when I run my code I
Unknown pad file type, versions 34, 104
I'm very puzzled about this and would really appreciate your help,
Following is my code

from sklearn.datasets import fetch_mldata
mnist=fetch_mldata('MNI

[2019-11-29 15:01] jeremiedbb commented on #15742
The easiest and cleanest way is to use environments. I use conda environment but you can check other kinds of environment. Here's what you can do with conda:

- install conda. [https://docs.conda.io/en/latest/miniconda.html](https://docs.conda.io/en/latest/miniconda.html)
- create a conda env with python 3.7: `conda create -n myenv python=3.7 pip`
- activate your env: `conda activate myenv`
- inst

[2019-11-29 15:01] #15742 closed

[2019-11-29 15:06] jeremiedbb commented on #15742
Actually we just released a release candidate with python 3.8 support. So you can ignore my previous comment and install scikit-learn with ``pip3 install --pre -U scikit-learn``.

[2019-11-29 15:27] jeremiedbb commented on #5545
Most of the work has been done in #11524 besides a couple comments. You can take over his work (I can speak for him :) ). I advise you to read the discussion in #11524 to see why some choices have been made and how to resolve the comments that have not been addressed.

[2019-11-29 15:28] FollowKenny commented on #5545
Indeed don't hesitate, my schedule is painful and this should be merged for
ages... Thanks for your help

Le ven. 29 nov. 2019 à 16:27, Jérémie du Boisberranger <
notifications@github.com> a écrit :

[2019-11-29 17:02] #15591 closed

[2019-11-30 01:01] jh-zhu commented on #14398
Thank you for the comments. Your analysis pretty much solved my original problem!

[2019-11-30 10:32] ogrisel commented on #15573
Do you mean as a generic constructor params for all (binary) classifiers?

[2019-11-30 10:46] plgreenLIRU commented on #15612
I'm happy to take a look at this? I've seen similar problems before. Can sometimes be because the data is not zero-mean but is assumed to be zero-mean in the GP code or just overfitting? When GPs overfit they tend to go almost exactly through each training point and pretend that the 'observation noise' is really low variance - could be what's happening here.

[2019-11-30 10:51] rth commented on #15612
Thanks @plgreenLIRU ! Let us know if you find something.

Right, but I would imagine the observation noise would still not be strictly identical as the scale of the data changes..

[2019-11-30 10:58] jnothman commented on #15740
Warnings should be present in 0.23rc3. try it for us?

[2019-11-30 10:58] jnothman commented on #15426
It doesn't hurt to have for completeness.

[2019-11-30 10:59] jnothman commented on #15426
But we should label one version at a time rather than one module at a time,
I now reckon

[2019-11-30 11:09] panpiort8 commented on #15601
Computing weighted mean and variance (for non-sparse matrix) in partial_fit requires applying _incremental_mean_and_var twice (variance as weighted mean of (X-mean)**2) or developing new (to my knowledge) method similar to _incremental_mean_and_var, but with sample_weight (like [here](https://fanf2.user.srcf.net/hermes/doc/antiforgery/stats.pdf)). I believe latter option is far better and should b

[2019-11-30 13:48] Amir-Arsalan commented on #15612
@plgreenLIRU No the GP is not overfitting to the data. Even with 2-3 observations you will get a similar behavior and almost all stds are equal to the exact value of `1.0` which reflects the highest possible amount of uncertainty. You can verify this as shown below:

[code]

And here's the output:

[code]

[2019-11-30 13:51] plgreenLIRU commented on #15612
@rth @Amir-Arsalan yeah fair enough, looks like we can't blame it on overfitting. Will possibly just have to dig for a normalisation that is applied, but not un-done, in the analysis somewhere. I should be able to take a look in the next couple of days.

[2019-11-30 13:58] Amir-Arsalan commented on #15612
@plgreenLIRU Thanks for looking into this. You may look at [GPy](https://github.com/SheffieldML/GPy) for reference. Since I discovered this bug I started using that GP package and everything is done right there. The only issue I had with that package was that I ran into the issue of getting negative variance values ([GPy #253](https://github.com/SheffieldML/GPy/issues/253)) which I could temporari

[2019-11-30 14:28] stephantul commented on #15740
Sure. The warning indeed does show up, my bad for not checking it first. If you want, I can create a PR with some doc edits that state what is going on, but perhaps the warning is enough.

[2019-11-30 14:31] plgreenLIRU commented on #15612
So... What does alpha do? I think in my language alpha represents the 'noise variance' but it doesn't look like it is tuned with the other hyperparameters? Usually I'd expect to see the noise variance optimised alongside the kernel hyperparameters unless I've missed something?

GPy - yeah I used to sit next to James at Sheffield Uni actually :)

[2019-11-30 19:21] Amir-Arsalan commented on #15612
@plgreenLIRU Also, note that the `length_scale` parameter seems to have no effect on the prediction and fitting. No matter how largevor small you set it, you'll get the same result

[2019-11-30 19:34] kuabhish commented on #12720
What if I want to label encode the input feature only?
It also doesn't support unknown values in the test set.
It gets very difficult..

[2019-11-30 19:49] plgreenLIRU commented on #15612
OK I think I know what might be going on here. It's a bit tricky to see but I _think_ that none of the kernels have a vertical length scale parameter, so kernel(x,x) is always equal to 1. All the diagonal elements of K are equal to 1 (before we add the ridge to it), for example.

We can then see that the variance of the predictions can _only_ be between 0 and 1. For example, if we're predicting at

[2019-11-30 21:28] kuabhish commented on #12720
What if I want to Labelencode the input feature?
With Labelencode there is also problem with unseen  category (for e.x in the test set)
What should I do then?

[2019-11-30 21:49] lucabasa opened #15747 "Error in importing sklearn.preprocessing"
I can't import sklearn.preprocessing. The code that triggers the error is simply

`import sklearn.preprocessing`

This is the full traceback:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/lucabasa/.local/lib/python3.6/site-packages/sklearn/preprocessing/__init__.py", line 6, in <module>
    from ._function_transformer import FunctionTransformer
  File "/ho

[2019-12-01 09:31] AsherYartsevTech opened #15748 "_solve_eigen behaves not as expected"
https://github.com/scikit-learn/scikit-learn/blob/f4da713c44d9529da2d82d76e0c0c6ef7e0e4795/sklearn/discriminant_analysis.py#L335

To my understanding, Sb should reflect a sum of covariances of (m-m_i) vectors, where m is the centroid and m_i is the mean of class i. I believe the current implementation uses a slightly different algorithm than what I know from the literature: which relies on eigenva

[2019-12-01 10:28] lucasmaystre commented on #14569
I think that'd be an excellent addition to scikit-learn.

- Confusingly, the `IsotonicRegression` class in scikit-learn references a paper on isotonic _median_ (l1) regression, even though the current implementation seems to do l2 only.
- I also found [here](https://github.com/scikit-learn/scikit-learn/wiki/Past-sprints#topics-1) that l1 isotonic regression was suggested as an improvement to sciki

[2019-12-01 11:56] GregoryMorse opened #15749 "Cannot transforming unknown length data/chunked data with a Pipeline (no partial_fit/transform_fit)"
#### Description

So you have a more than can fit in memory amount of data in separate files on the disk.  There are frameworks like dask which you could use to compile them, but that's a huge amount of data copying for little benefit.  The total data length could be calculated but there is no real need to do that either.

#### Steps/Code to Reproduce

Say there are 1000 files with various rows of

[2019-12-01 12:28] VShkaberda commented on #10590
There is a problem using `datetime64[ns]` with `PolynomialFeatures` (source: [stackoverflow qestion](https://stackoverflow.com/questions/59122881/python-polynomial-regression-plotting-wrong)). When trying to use `LinearRegression` after `PolynomialFeatures` things become gross:
[code]
![Poly+LR](https://user-images.githubusercontent.com/11950122/69913883-49fff980-1446-11ea-938a-b98d574f5f16.PNG)

[2019-12-01 14:01] imnotaqtpie commented on #5545
sure thing, ill take a look at the comments and finish up what i can.
thanks

[2019-12-01 14:13] rth commented on #15749
dask and [dask-ml](https://ml.dask.org/) seems to be exactly the use case for this.

Why do you think it's going make more data copies? It shouldn't copy anything on disk unless you ask it to and copies in memory are negligible with respect to disk I/O (and scikit-learn itself does plenty of those anyway).

Even assuming you have estimators that  all support partial fit, in a pipeline the issue is

[2019-12-01 14:53] plgreenLIRU commented on #15612
OK, pretty confident it's the lack of normalisation. Here's example results for a high amplitude signal without and with the suggested change:

![without_norm](https://user-images.githubusercontent.com/42935860/69915723-2b9bfd00-144a-11ea-9792-fa6d82888a53.png)
![with_norm](https://user-images.githubusercontent.com/42935860/69915725-2dfe5700-144a-11ea-9c33-56c79f661b6c.png)

Let me know if you wan

[2019-12-01 15:36] ma7555 opened #15750 "add to_cyclical function for cyclical data transformation [enhancement] [non-trivial feature]"
#### Description
create a to_cyclical function that transforms ordinal or continous cyclical features to sine transform and cosine transform representing the reality of the feature.

example if hours is to be taken as a feature, 23 and 01 is 22 units apart but in reality they are only two units apart.

![image](https://user-images.githubusercontent.com/7144929/69916171-4d07e380-1460-11ea-9670-3ad9

[2019-12-01 16:24] agramfort commented on #14569
any PR to clarify docstring or for computational improvements is welcome

[2019-12-01 19:03] Sandy4321 opened #15752 "problem in clf.coef_ for MultinomialNB"
#### Description
if MultinomialNB there is strange behavior of clf.coef_:
clf.coef_ is the same as clf.feature_log_prob_[1]

and

clf.intercept_ is the same as only one clf.class_log_prior_

for example
clf.feature_log_prob_[0][0:3]

array([-3.63942161, -3.17296199, -4.59417863])

clf.feature_log_prob_[1][0:3]

array([-3.51935008, -3.010937  , -6.41836494])

clf.coef_[0][0:3]

array([-3.51935008,

[2019-12-01 19:06] rth commented on #15750
I agree that it's a quite useful transformation, but fairly specific to time series. scikit-learn focuses on general machine learning approaches no so much on domain specific feature extraction. We do have a few commonly used methods for time series, but I'm not sure that this would be in the scope for scikit-learn.

Let's wait for a second opinion.

[2019-12-01 20:01] GregoryMorse commented on #15749
@rth thank you for your reply.  Although I agree that dask-ml does tend to try to solve this problem, it somewhat fails in the case that you need to send many features through a transform partial fit.  It And then consolidate them with partial transforms.  Yes the partial transforms could be chained.  In fact in my case the estimator will not work on partial data so I am only doing it for a single

[2019-12-01 20:12] GregoryMorse commented on #15749
Is the addition of iterator generators for `partial_fit` and `score`, `transform` `predict` for both `X` and `y` really unachievable?  Obviously it cannot be an iterator as GridSearchCV needs to be able to construct the iterator more than once.  I think GridSearchCV could take an array of function pointers to trick it.  Then ChunkedTransformer could merely do the work and hence my proposal should

[2019-12-01 20:46] jnothman commented on #15740
The warning is new. Let's see how it goes

[2019-12-01 20:46] #15740 closed

[2019-12-01 21:57] thomasjpfan commented on #15750
I have noticed that there has been increasing interest with using scikit-learn with time series data. We kind of dipped our toes into it with `TimeSeriesSplit` and we have domain specific feature extraction for images and text. However, I have a feeling that adding time series to our scope will add quite a bit of complexity (there are quite a few details when handling time series).

As an aside, t

[2019-12-01 23:43] jnothman commented on #15747
Try installing pytest. It's our issue, though and should have been fixed in master

[2019-12-02 00:37] GregoryMorse commented on #15749
The **Chunked...** can have a parameter to either:
1. recombine chunked transforms back into the normal format.
2. have `transform` or other functions yield another iterator generator which would be used for the next `partial_fit` or other functions.

I am almost certain now the 3 classes are enough to do the job although its introducing a new notion of how data is passed around.

[2019-12-02 03:17] thomasjpfan commented on #15747
This should be fixed on master with https://github.com/scikit-learn/scikit-learn/pull/14609

@lucabasa May you try the import with the RC version of scikit-learn? You can install the RC version by running:

[code]

[2019-12-02 07:53] jnothman commented on #15743
Mldata is no longer a thing. fetch_mldata is no longer a thing. Consider moving to fetch_openml

[2019-12-02 07:53] #15743 closed

[2019-12-02 07:55] jnothman commented on #15743
Mldata is no longer a thing. fetch_mldata is no longer a thing. Consider moving to fetch_openml

[2019-12-02 07:58] jnothman commented on #14398
See #10850, #11101. I suspect this is a duplicate . Waiting for reviewer.

[2019-12-02 09:21] jnothman commented on #15601
I'm okay with the latter proposal, but I'd need to see a pull request to be
confident

[2019-12-02 10:51] konradsemsch opened #15755 "What's the recommended approach for building a complete data frame (feature values + names) after using ColumTransformer/ FeatureUnion?"
I posted a question on StackOverflow but unfortunately without any reply. Could you guys please take a quick look at this end recommend something? I have a feeling there's more people looking for a similar, clear answer which I haven't been able to find anywhere so your input would be very much appreciated!

https://stackoverflow.com/questions/58989517/whats-the-recommended-approach-for-building-a

[2019-12-02 12:44] NicolasHug commented on #15755
We don't have an API for that yet unfortunately.

Feature names propagation is something we are actively working on https://github.com/scikit-learn/enhancement_proposals/pull/18, so hopefully this should be available in a near-ish future

[2019-12-02 12:52] tirthasheshpatel commented on #15733
This issue is closely related to #11000.
I figured out that the error was due to dtype ``float32``. This can be fixed by transforming the data to ``np.float64`` by ``X.astype(np.float64)``.
Instead, a dtype parameter can be added to the ``QuantileTransformer`` class to support ``np.float64`` datatype.

[2019-12-02 12:58] glemaitre commented on #15733
I am not sure about your diagnostic. Taking the first column of the data in the gist file and computing only the `np.percentile` and `np.nanpercentile` reveals the issue with `float64` as well.

[code]

[2019-12-02 13:01] tirthasheshpatel commented on #15733
@glemaitre
It turns out that ``self.referances_`` must also be projected to ``np.float64``.

[2019-12-02 13:02] NicolasHug commented on #15752
This is by design. These are miroring the properties for the **positive class** when you're doing binary classification, which I assume is your case.

Proper documentation is however clearly lacking. Would you like to submit a PR @Sandy4321 ?

[2019-12-02 13:02] glemaitre commented on #15733
`quantile_transformer.references_*100` is already `float64` in the above snippet.

[2019-12-02 13:05] NicolasHug commented on #15748
The code mentions the following ref:

[code]

I haven't read the ref, but are you saying that the code isn't actually following it?

[2019-12-02 13:18] NicolasHug commented on #15733
@fcharras can you reproduce the issue with simply calling [np.nanpercentile](https://docs.scipy.org/doc/numpy-1.14.1/reference/generated/numpy.nanpercentile.html)?

If so, I would assume this is a bug for numpy

[2019-12-02 13:19] glemaitre commented on #15733
@NicolasHug  I try `nanpercentile` and `percentile` and I reproduce the issue. I am actually trying to debug the numpy implementation.

[2019-12-02 13:21] glemaitre commented on #15733
As a note, we need to fix the code upstream and import the fix in scikit-learn instead of doing hotfix. We could consider a hotfix if the bug upstream is actually complicated to solve quickly.

[2019-12-02 13:24] NicolasHug commented on #15733
Agreed, though the fix proposed in #15751 seems simple enough to be considered for inclusion maybe

[2019-12-02 13:33] fcharras commented on #15733
@tirthasheshpatel be careful that the issue is not easily reproducible, for example if you randomly remove a few rows in the gist I provided it's fine most of the time. So I'd be cautious to call this bug fixed without a more extensive test suite. I think the quickfix ensures that the most harmful part of this bug is dealt with.

In my opinion it is dangerous that `np.interp` assumes that the inpu

[2019-12-02 14:00] NicolasHug opened #15757 "Issues with the validation of ax in plot_partial_dependence"
The validation of the `ax` parameter to `plot_partial_dependence` is weirdly inconsistent.

- `plot_partial_dependence` only validates the length the `ax` if it's a list. But `plt.supblots` typically return an array.
- the Display object checks for `len`, while it should probably check for `size`. Typically, if I pass in an `ax` with shape = (2, 2) and only plot 2 PDPs, the display will not compla

[2019-12-02 15:07] AsherYartsevTech commented on #15748
Thanks for referencing out the source, I missed this part of the information.
I found the source, made the math, and can confirm that the implementation is valid! The line I marked simply didn't fit the formula I kept in mind, but it's just another (beautiful!) way to reach the desired Sb matrix.
Apologies for the inconvenience, if any such was caused!

[2019-12-02 15:07] #15748 closed

[2019-12-02 15:23] glemaitre commented on #15733
So the error is due that some floating-point precision error. The relevant line are [here](https://github.com/numpy/numpy/blob/v1.17.0/numpy/lib/function_base.py#L3948-L3949)

Since the quantiles are computed with some weighted scheme, we can get a precision error. I think this is difficult to actually change the code without breaking the vectorization. I am thinking that the `np.maximum.accumulat

[2019-12-02 15:33] konradsemsch commented on #15755
Thank you for your reply. Could you recommended any particular approach for working with that with the current implementation of sklearn? Any resources you could point me to?

[2019-12-02 17:17] thomasjpfan commented on #15757
This is to allow for passing multiple axes as a list for example:

[code]

Agreed

I would prefer to error in both situations. (2, 2) and (4, ).

[2019-12-02 17:23] NicolasHug commented on #15757
my point is that just checking for `list` is too loose for the check. The user may just as well pass tuples, or numpy arrays of axes. The check should also be performed is these cases

[2019-12-02 18:19] mcarbajo commented on #15722
I don't see where it is implied that you should not copy your parameters when using `get_params`. I see there are reasons for it but they are not obvious so developers may get an error when implementing classes to fit the sklearn estimator interface.

[2019-12-02 20:32] cgsavard opened #15761 "Fix documentation of default values in all classes"
#### Description
The documentation of default values in many classes is either not included, inconsistent in how it is written, or out-of-date. I would like to gather a few people to work on the default value documentation for every class as there are a ton of classes where these issues exist. I have been told that the default values should be documented as "default=<'value'>" and so I am creating

[2019-12-02 21:00] lucabasa commented on #15747
Thank you both for replying.
The issue was solved both by upgrading pytest and by installing the RC version.

[2019-12-02 21:28] Amir-Arsalan commented on #15612
@plgreenLIRU Great! Did you also figure out how to resolve the length scale parameter issue?

[2019-12-02 23:05] ma7555 commented on #15750
I understand that you might see it specific to time series, as it is most apparent in days, weeks, months or hours, minutes and seconds but in reality I don't think it is exclusive, below are some examples that it might be useful in unrelated to time:
1- Angle measurments between 2 planes/lines
2- Astrology
3- Seasons
4- Traffic lights?? (R/Y/G/Y)
5- Sea tides
6- Reincarnation
7- Casino slots mach

[2019-12-03 00:20] thomasjpfan commented on #15757
#15760 has the proper checks for array-like things which consider tuples, etc.

[2019-12-03 03:39] vachanda commented on #15761
Hello @cgsavard, I would like to work on this. Can I start looking at the AgglomerativeClustering class?

[2019-12-03 04:13] cgsavard commented on #15761
@vachanda Go for it! We can continue posting here which ones we work on so that others know.

[2019-12-03 08:13] J-A16 commented on #13425
This is what I have so far. Can someone please check this? @jnothman, @gerhajdu?

https://github.com/J-A16/scikit-learn/commit/e0d78ce4f24a0f001d05df04d7e7493351c2f411#diff-15e1ad3883740ee06b2d4e15f86cad68

[2019-12-03 08:18] plgreenLIRU commented on #15612
Yes, if I understand correctly. Changing the length-scale now alters the predictions as we'd expect. Just waiting to here whether or not it's worth me putting together a PR.

[2019-12-03 09:02] fcharras commented on #15733
I'll keep an eye on the issue but I am indeed short in time, sorry. It's awesome if you can loop.

[2019-12-03 11:12] vinaysb opened #15765 "loss function in SAG solver"
Hello, I was going though the sag implementation, and I found that the loss variable is a string, while the sag function itself expects a function, and I was not sure if this was correct. I did not run into any errors when I ran it, but was not sure why.

Also the function call seems to pass more parameters than the sag function expects with *args in the function.

https://github.com/scikit-learn/

[2019-12-03 11:23] Amir-Arsalan commented on #15612
@rth @jnothman I think @plgreenLIRU is waiting for you :)

[2019-12-03 13:00] NicolasHug commented on #15765
No, the str is later converted to an actual function in `sklearn/linear_model/_sag_fast.pyx.tp`

[2019-12-03 13:03] NicolasHug commented on #15765
Unless there are additional concerns @vinaysb I think we can close the issue?

[2019-12-03 13:37] NicolasHug opened #15766 "Acknowledge bug reports in what's new?"
We acknowledge bug-fixes in the whats new logs, bug not bug reports. Maybe we could do that?

It does take time and commitment to write a bug report (esp a good one), and it would be a way to show our community that we appreciate that kind of feedback.

e.g. `:pr:1234 by X, bug report :issue:4321 by Y`

[2019-12-03 14:42] Sandy4321 commented on #15752
How to submit PR?

[2019-12-03 14:47] NicolasHug commented on #15752
You can check out our contributing guide https://scikit-learn.org/stable/developers/contributing.html

[2019-12-03 16:34] amueller commented on #15755
@konradsemsch The point is that this requires a change to all transformers if you want it to work reliably. So you have two choices: pick a branch that implements this, like #12627 or #14238, or monkey-patch the estimators that you are using and that are missing feature names.
Often it can be as simple as doing ``StandardScaler.get_feature_names = lambda x: x`` or something like that.

[2019-12-03 17:37] rth commented on #15766
If the author of the bug report spend time investigating and in the end helped solving the issue, even without making the PR -- definitely.

For bug reports that say "running this code produces the following exception" I'm not sure that we should. Particularly that a bug can be reported multiple times (cf multiprocessing related issues back at the time).

[2019-12-03 17:54] adrinjalali commented on #15766
yeah I'm also happy to acknowledge good reporting.

[2019-12-03 17:55] adrinjalali commented on #15765
yeah I think that answers the question.

[2019-12-03 17:55] #15765 closed

[2019-12-03 17:59] adrinjalali commented on #15761
Thanks for coordinating this @cgsavard

[2019-12-03 18:07] NicolasHug commented on #15766
Sure, we can do this on a case by case basis

[2019-12-03 18:18] glemaitre commented on #15747
Thanks for reporting

[2019-12-03 18:18] #15747 closed

[2019-12-03 18:40] vinaysb commented on #15765
Yes it did, thanks a lot. I was following github's function referencing and it took me to testing folder as it din't parse cython template probably.

[2019-12-03 19:47] jnothman commented on #15755
You can also inherit from ColumnTransformer to define transform as return
DataFrame(super().transform(X), columns=self.get_feature_names()) to finish
the job... But yes there are other pieces needed to do this well.

[2019-12-03 20:14] jnothman commented on #15766
It's not very obvious how to do this fairly. Even minor code committers get acknowledged twice.

[2019-12-03 20:37] konradsemsch commented on #15755
Hi guys, thank you for your suggestions but this is kind of exactly what I meant in my original questions posted on Stack Overflow - there could be many different ways of doing it but what would be the most efficient, recommended approach of doing it in more complicated pipelines involving Feature Union/ Column Transformer? There's no clear answer to that anywhere on the net.

Would you mind respo

[2019-12-03 20:40] NicolasHug commented on #15755
@konradsemsch , the answers so far (and lack thereof) indicate that there is no such recommended approach, yet.

[2019-12-03 20:52] amueller commented on #15755
@konradsemsch well you can check the pull requests that implement them. There is not really an easier way to do it.

[2019-12-03 21:34] konradsemsch commented on #15755
Haha, ok - appreciate your honesty then! Will take a good look at the PRs and I'm looking forward to seeing eventually a native solution for that :) Thanks!

[2019-12-03 22:29] amueller commented on #15601
I think we should just use a non-cython variant as I did here:
https://github.com/scikit-learn/scikit-learn/pull/15583/files#diff-ce89de6ba5554a75729d37eca95fc24dR835

[2019-12-04 01:16] J-A16 commented on #13425
It passes pytest test_ransac.py, by the way. No errors. Inside that test file, there are weights passed to the fit method of RANSACRegressor. I did a couple tests where I edited RANSACRegressor to make it fail, but the code I posted works.

[2019-12-04 01:36] jnothman commented on #13425
The class is not private. It is publicly available for import from `linear_model`. Only the module is private.

[2019-12-04 01:40] J-A16 commented on #13425
Oh, first time dealing with private anything in Python, actually. Thanks for letting me know.

[2019-12-04 01:43] J-A16 commented on #13425
I thought since it was in a private file, maybe it was.

Do you think I need to change my code at all?

[2019-12-04 01:54] jnothman commented on #13425
If you have code, please submit a pull request for review.

I agree with @pallashadow  that it looks like the loss calculation should also be weighted... but we ideally drive this from tests. See #15657

[2019-12-04 02:13] NicolasHug opened #15771 "display.plot(ax=ax) does not plot anything in a notebook"
Not sure I'm doing it right but I noticed the following issue during interactive notebook session:

[code]

CC @thomasjpfan

[2019-12-04 02:14] NicolasHug opened #15772 "PDP display should not override ylabel"
The PartialDependenceDisplay will always override the axes' ylabel with "partial dependence".

I think that if the user already sets a ylabel, we should not override it.

CC @thomasjpfan

[2019-12-04 02:32] jnothman opened #15774 "ppc4le failure of test_pca_dtype_preservation"
From https://travis-ci.org/conda-forge/scikit-learn-feedstock/builds/620255817?utm_source=github_status&utm_medium=notification

[code]
cf. #12823

[2019-12-04 02:43] vachanda commented on #15761
@cgsavard, Is there a list of classes that have discrepancies or do we have to go through each of them and update them?

[2019-12-04 03:29] thomasjpfan commented on #15771
This behavior is consistent with other libraries. The first call creates the figure so it will show the figure. The next call does not create the figure and draws on the axes, which will not show the figure. For example in pandas:

[code]

To show the figure in a notebook one needs to output the figure itself:

[code]

[2019-12-04 03:56] thomasjpfan commented on #15774
I think we need to bump the `tol` to 2e-4. The `components_` are obtained directly from `linalg.svd` here:

https://github.com/scikit-learn/scikit-learn/blob/479548ac9b675dba10110e0ae7df2a9e1f73ade6/sklearn/decomposition/_pca.py#L447-L451

[2019-12-04 04:50] cgsavard commented on #15761
@vachanda I do not have a list, unfortunately. I have just been going through the files and seeing what needs to be updated.

[2019-12-04 06:17] cgsavard commented on #15761
I am working on AffinityPropagation, SpectralCoclustering, SpectralBiclustering,  and Birch.

[2019-12-04 07:27] jnothman commented on #15752
I think we have a recent proposal to do deprecate these attributes in NB
classifiers as they have very different interpretations from linear models

[2019-12-04 09:56] jnothman commented on #15319
This is also part of #9854

[2019-12-04 09:58] jnothman commented on #15319
Also related: #12072

[2019-12-04 09:59] jnothman commented on #15319
I think looking through our implementations to check which meta-estimators and ensembles enforce finiteness is pretty straightforward, so I've tagged this as such.

[2019-12-04 10:19] glemaitre commented on #15766
If the issue contributor is different from the PR contributor and the issue is proper, then we can acknowledge it?

[2019-12-04 10:25] jnothman commented on #15612
I'd be happy to see a pull request when we can more clearly evaluate the proposal.

[2019-12-04 10:26] larskouwenhoven opened #15781 "Using ColumnTransformer when not all specified columns present in data"
#### Description

One needs to specify columns to which certain transformers are to be applied. However, when a dataset fed is missing one of the specified columns, an error is raised. I would like to still be able to use the ColumnTransformer, even when some of the specified columns are not present in the data. Is this possible?

#### Steps/Code to Reproduce
[code]

#### Expected Results

A fitte

[2019-12-04 10:50] adrinjalali commented on #15749
I'd be happy to see a PR implementing your idea, to see concretely how it works.

Better support for `partial_fit` has been in our roadmap, but from our perspective it's a very challenging one and touches a lot of places. But I'm happy to see a prototype of your idea.

[2019-12-04 11:15] plgreenLIRU commented on #15612
OK I'll do a small PR to help illustrate the point and then we can talk about where to go from there.

[2019-12-04 12:06] NicolasHug commented on #15771
I see, closing then, thanks

[2019-12-04 12:06] #15771 closed

[2019-12-04 12:57] NicolasHug commented on #15781
you want 'five' to be imputed when it's present, and just ignored when it's absent?

Note that even if it worked, with e.g. IterativeImputer you would end up with a different imputation of the other features depending on whether 'five' is present or not.

[2019-12-04 12:59] larskouwenhoven commented on #15781
Correct, that's what I'm after

[2019-12-04 13:04] NicolasHug commented on #15319
IMHO, this is not an easy task from the perspective of new or inexperienced contributors (who are attracted by the help wanted tag).

Seeing something tagged as easy when it doesn't feel like it can be quite discouraging, and since our barrier of entry is already crazy high, I think we might want to

[2019-12-04 14:19] GregoryMorse opened #15783 "StratifiedKFold yields slightly different train and test sizes"
#### Description
Unfortunately, probably due to the stratification balancing, the train and test size can vary between iteration.  This is pretty highly undesirable and it should always rebalance to same sizes.  Otherwise combining all the folds and using efficient vectorized operations to do computations in a matrix with an extra dimension is not easily possible.

This honestly feels like a poor

[2019-12-04 14:24] thomasjpfan opened #15784 "test_cv_iterable_wrapper failed on master"
Given the random nature of `test_cv_iterable_wrapper`, it can fail randomly as seen [here on master](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=11011). This can lead to indeterministic failures for packagers.

[2019-12-04 14:29] GregoryMorse commented on #15783
Reference #10767 where @jnothman mentions the StratifiedKFold algorithm needs a complete redo and #11777 which although a different issue still involves the way it balances classes.

[2019-12-04 14:30] HertzWalter opened #15786 "DLL load failed while importing _openmp_helpers: The specified module could not be found."
#### Description

After updateing my python version and packages this error started when I tried to import sklearn.
It only happens in Python 32-bits, with the 64-bits version, everthing work.

##### with Python 3.8 (32-bits)
Python 3.8.0 (tags/v3.8.0:fa919fd, Oct 14 2019, 19:21:23) [MSC v.1916 32 bit (Intel)] on win32
Type "help", "copyright", "credits" or "license" for more information.

ImportE

[2019-12-04 14:44] GregoryMorse commented on #15783
It is not impossible to vectorize with different sizes, but it adds complications as the extra dimension will not work.  Instead the rows would be concatenated, the train and test sizes will need to be tracked so it can be split apart again.

[2019-12-04 14:57] riedgar-ms opened #15787 "Python crashes in LogisticRegression on v0.22"
#### Description

With certain input data, the `LogisticRegression` class is reliably crashing Python (without an error message) when `fit()` is called.

#### Steps/Code to Reproduce

Please see: https://github.com/fairlearn/sklearn-repro

This repository contains pickled data, the outputs of `pip freeze` and a sample script. As noted, the script successfully completes with v0.21.3, but crashes si

[2019-12-04 15:01] glemaitre opened #15788 "CRON job failing due of DeprecationWarning in NumPy"
The CRON job starts to fail due to a recent pull-request merged in NumPy. The error is the following:

[code]

Therefore, we need to go through the lines and edit the `np.array()` call to add `dtype=object`. To know which tests are failing, one can look at the log on the CRON job (e.g. https://travis-ci.org/scikit-learn/scikit-learn/builds/620654456).

Be aware that you need NumPy master (or the n

[2019-12-04 15:06] glemaitre commented on #15781
@larskouwenhoven Could you give some use case where this behaviour is an issue?

[2019-12-04 15:10] larskouwenhoven commented on #15781
I'm training on data that normally would have columns [one, two, three, four, five], but there are instances of the data for which column five is not included. I would still like the ColumnTransformer to work, for both 'versions' of data.

[2019-12-04 15:21] lobpcg commented on #6489
To my recollection, this is already fixed and can be closed

[2019-12-04 16:01] amueller commented on #14386
Since this came up again today: I'm a bit torn between wanting to have something I'm really happy with and getting a 1.0 out of the door.

I don't think the wish-list items will be done for the next release (currently called 0.22), and there's maybe a slight chance they will be done for the one after that.

If we want 1.0 do be stable in some sense, than we would really need to prioritize those is

[2019-12-04 16:40] absognety commented on #15726
switching the input for categories to `auto` is giving expected output. the handling of encoders is changed in version 0.22.
[code]
[code]

[2019-12-04 16:51] glemaitre commented on #15781
OK but I was more asking about the application use-case where such type of scenario would be common. It would help to convince us that this is actually useful for other users as well.

[2019-12-04 17:23] pvk-developer commented on #15726
But you can't use `None` in those cases.:
[code]
TypeError is being raised: `TypeError: argument must be a string or number` -> `TypeError: '<' not supported between instances of 'str' and 'NoneType'`
You can't mix `dtypes`, that's why I ended up finding that "problem".

[2019-12-04 17:38] thomasjpfan commented on #15787
May you update the repo to include the data in another format (like a csv)? Loading pickles is a little...dangerous 😅

[2019-12-04 17:45] NicolasHug commented on #15787
Also note that we typically do not provide compatibility guarantees for pickles between versions https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations

[2019-12-04 17:53] thomasjpfan commented on #15787
In @riedgar-ms's case, the data was pickled (not the model) and from the README it looks like it is a dataframe.

[2019-12-04 17:55] absognety commented on #15726
Just curious. what is the use case where you have to mix data types like `str` and `NoneType`, you can coerce all the entries to same data type and do one hot encoding and then revert them back to original data types maybe

[2019-12-04 18:10] riedgar-ms commented on #15787
Fair point about the pickles - have just pushed a change to make them into CSVs.

[2019-12-04 18:13] riedgar-ms commented on #15787
As noted in the repo, the problem appears to be due to the column of booleans. However, if this is not supported, it still shouldn't crash Python

[2019-12-04 18:18] thomasjpfan commented on #12153
@rth I really do want to see all the issues surrounding encoders resolve for 0.23. I do keep a list of all the encoder issues and PRs revolving them. Although, I think placing all the issues into one meta issue may be kind of overwhelming. I think the issue around missing value has the most overlapping PRs and ideas.

After speaking with @amueller regarding infrequent categories, I propose this AP

[2019-12-04 18:29] larskouwenhoven commented on #15781
Right, makes sense.
I have a dataset for month x. Now, for month x+1 there is an extra feature, that has disappeared again in month x+2. I would like to add this feature to the ColumnTransformer, but in that case I would receive errors for month x and month x+2. I’m not sure how often such differences in datasets occur in general, but it happens frequently here.

[2019-12-04 18:39] glemaitre commented on #15781
OK I see. Let's assume that the `ColumnTransformer` let pass your data with a missing column and that the imputers do not have the issue pointing out by @NicolasHug in its previous comment, you will feed some data with a different number of columns to your prediction model as well. In scikit-learn we have no estimator which can handle this case.

In some way, it makes more sense to have to create

[2019-12-04 18:44] pvk-developer commented on #15726
Developing a `Hyper Parameter Tuner`, where we work with `0-1` search space. Thats why we use `OneHotEncoder` for `CategoricalHyperparameter`. Then while testing, there are some models that take `None` as an option which produced the first error, which made us create a workaround, were I found the https://github.com/scikit-learn/scikit-learn/issues/15726#issue-529561254

[2019-12-04 18:53] Julian commented on #11543
(For anyone like me finding this... someone presumably has to have written a pure Python libsvm loader at some point? Will update here if I find it myself.)

[2019-12-04 19:00] rth commented on #11543
It doesn't have to be pure python. I think removing `array.array` in favor of a plain list when constructing a sparse matrix in [_svmlight_format_fast.pyx](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/datasets/_svmlight_format_fast.pyx) might not hurt performance to much, and would work with PyPy. We did similar things for text vectorizers in the past.

Would you like to give i

[2019-12-04 19:52] jnothman commented on #15783
Fixed in #14704. Please confirm that this issue is fixed in 0.22, and help us identify other related issues that can be closed. Thanks

[2019-12-04 20:34] jnothman commented on #12153
Looks reasonable

[2019-12-04 20:41] jnothman commented on #15726
Does #15763 fix this?

[2019-12-04 21:39] frances-h opened #15795 "Incorrect dtype from check_array validation with Pandas DataFrame"
#### Description

`check_array` in validation doesn't correctly convert the array when:
1) dtype is a list or a tuple and
2) all dataframe column types are valid numpy dtypes and the numpy result type of all the column types is in the `dtype` array/tuple

#### Steps/Code to Reproduce
[code]

#### Expected Results
[code]
#### Actual Results
[code]
#### Versions

System:
    python: 3.7.4 (default,

[2019-12-04 22:08] rth opened #15796 "META OHE / OrdinalEncoder: NaN support, unfrequent cat. and pd.Categorical"
There have been 3 significant improvements proposed for `OneHotEncoder` (and to a lesser extent `OrdinalEncoder`), often with an associated PR,
 - NaN handling (issue https://github.com/scikit-learn/scikit-learn/issues/11996, PR https://github.com/scikit-learn/scikit-learn/pull/13028)
 - support of `pd.Categorical` dtype (issue https://github.com/scikit-learn/scikit-learn/issues/14953, PR https://

[2019-12-04 22:17] rth commented on #12153
It would be definitely good to have this addressed for the next release. I tried to write a summary in https://github.com/scikit-learn/scikit-learn/issues/15796 but you (and other people in this thread) have spent much more time on so don't hesitate to comment/edit if I missed or misunderstood something.

[2019-12-04 23:12] TomDLT commented on #15787
Thanks for the report.

This is a subtle bug in `check_array`, when `dtype` is a tuple, and when called on pandas dataframes with mixed dtypes:

[code]

[2019-12-04 23:30] jnothman commented on #14386
We've certainly got enough content and enough quality assurance tools to suggest that we can be 1.0. If we're aiming for 1.0 we should work out what we want to include, focusing, I think, more on consistency than features. 1.0 for instance might be a good opportunity to improve some parameter name/definition consistency, scale (and sample weight) invariance in parameter definitions, etc.

FWIW, so

[2019-12-04 23:31] jnothman commented on #15717
@rafikg go ahead with a PR

[2019-12-04 23:41] jnothman commented on #15787
Right, so it's an effect of #15795?

[2019-12-04 23:41] jnothman commented on #15795
This seems to cause a "Python crash" in #15787

[2019-12-04 23:53] thomasjpfan commented on #15787
Further investigation:

[code]

[2019-12-05 00:12] thomasjpfan commented on #15787
This happens because the boolean `__array__` interface returns an numpy array with an object dtype:

https://github.com/pandas-dev/pandas/blob/9fe4cbbc1c6a1df72bef8930481d1424d54ab325/pandas/core/arrays/boolean.py#L311-L317

[2019-12-05 02:18] GaelVaroquaux commented on #14386
+1 for moving to 1.0 soonish.

Should we do the NamedArray before, though?

[2019-12-05 05:38] GregoryMorse commented on #15749
I will provide it in a few days as I need to develop my underlying Transformer a bit first.  It also looks like I will require not just row loading in chunks but also column selective loading.  I will have to see how many adapter generalizations are needed to get it all working.  But there will be concrete code for these proposed classes.

[2019-12-05 05:46] jnothman commented on #15319
I usually consider "easy" to require a grade of familiarity higher than "good first issue"

[2019-12-05 07:55] panpiort8 commented on #15601
But we want StandardScaler to compute stats in incremental (batch) manner, which is, I believe, quite different.

[2019-12-05 08:27] alfaro96 commented on #15788
Can I work on this issue?

[2019-12-05 09:01] larskouwenhoven commented on #15781
That seems to be an option. I'll see if having columns filled with NaNs influences the imputer.

[2019-12-05 11:05] jeremiedbb commented on #15786
@HertzWalter I'm not able to reproduce but I'm not sure I tried on a similar setting. I installed Python 3.8 (32 bits) on Windows (64 bits with 32 bits compat, x86_64). Then I installed scikit-learn from PyPI (pip install scikit-learn).
[code]

Can you tell me how you installed python and scikit-learn and more information about your system ?

[2019-12-05 12:01] ahowe42 commented on #14386
Looking over the issues mentioned by @amueller in July, I wouldn't be concerned about [7242](https://github.com/scikit-learn/scikit-learn/issues/7242). Ensuring that the columns used for training / testing / inference are consistent is pretty basic. Regarding [10603](https://github.com/scikit-learn/scikit-learn/issues/10603), that is a valid point, and I think it should be true for a 1.0 relase. I

[2019-12-05 12:40] NicolasHug commented on #14386
Another feature I'd personally like to see before 1.0 is native support for categorical data (in tree models, or at least some of them). Which is sort of a prerequisite for @amueller's #10603. And also make an informed decision on the randomness handling https://github.com/scikit-learn/enhancement_proposals/pull/24

I agree with most of what has been said and I'm very happy to start considering 1.

[2019-12-05 12:42] HertzWalter commented on #15786
Hi jeremiedbb, I have quite the same configuration Windows (64 bits with 32 bits compat, x86_64) and I installed Python direct from https://www.python.org/downloads/ and scikit-learn from (pip install scikit-learn).

Actually I just found the problem, somehow looks like the new version of scikit-learn (0.22) accept my MS C++ 2017 version during installation but don't work with it.
I found this out

[2019-12-05 12:53] #15786 closed

[2019-12-05 13:41] agramfort commented on #14386
I would love to see 1.0 happening and for me
https://github.com/scikit-learn/scikit-learn/issues/4143 is the closest to
my heart...

[2019-12-05 13:52] GregoryMorse commented on #15783
@jnothman, excellent sorry I did not search the PRs only the issues.  This is perfect if it preserves the train-test size and the class value distribution amongst folds.  Allows for some really clever vectorized operations to be done on all at once in certain contexts.

I realized 0.22 was just freshly released.  It is indeed working there but since I did not check class label distribution so let

[2019-12-05 14:22] qinhanmin2014 commented on #14386
+1 to release 1.0 ASAP, two questions:
(1) Is it acceptable to have experimental features in 1.0? (I guess we have to do so)
(2) We mention things like "XXX is deprecated in 0.22 and will be removed in 0.24" so we promise that there will be 0.24?

[2019-12-05 14:50] GregoryMorse commented on #15749
dask delayed does seem to solve a good deal of what I have alluded to.  Chunked data is not really needed in the known length case as dask solves this.  The problem is mainly when length computation requires evaluation and thus undoes some benefit of using dask (or a huge amount of caching would occur).  The number of features should usually be determinable without computation and not unknown (tho

[2019-12-05 15:02] NicolasHug commented on #14386
(1) ideally these would be stable by then IMO
(2) There will probably be 2 major releases between the time we decide on 1.0 and the time we release it so that might not be a problem

[2019-12-05 15:54] rafikg commented on #15717
Thanks, @jmontoyam. I'll do it today

[2019-12-05 15:59] Christopher154 commented on #15795
Can I pick this up?

[2019-12-05 16:13] glemaitre opened #15800 "Issues with joblib 0.13.2 and scikit-learn 0.22 and Python 3.8"
Installing a fresh install from conda-forge:

* python 3.8
* scikit-learn 0.22
* joblib 0.13.2

will lead to:

[code]

[2019-12-05 16:15] glemaitre commented on #15800
I mean basically `import joblib` will fail but we don't have anything preventing this version with scikit-learn of joblib.

ping @ogrisel @tomMoral @jeremiedbb

[2019-12-05 16:19] thomasjpfan opened #15801 "Support for Some Developer Utilities"
On the [Utilities for Developers](https://scikit-learn.org/stable/developers/utilities.html) page, it states:

If we want to provide utilities to support third-party estimators, we should treat some of these utilities as "first class" citizens.

For example `safe_indexing` would be extremely useful for third parties that want to support DataFrames as input. Currently, the options for third-party d

[2019-12-05 16:28] glemaitre commented on #15800
I supposed that we either need to vendor a more recent version of `cloudpickle` in the old `joblib` release or we just bump the minimum version of joblib.

[2019-12-05 16:30] thomasjpfan commented on #15795
@Christopher154 Thank you for your interest in this issue. There is already a PR working on this: https://github.com/scikit-learn/scikit-learn/pull/15797

[2019-12-05 16:31] ogrisel commented on #15800
But this is fixed in joblib 0.14 right?

[2019-12-05 16:32] ogrisel commented on #15800
It's just that joblib 0.13.2 was released before Python 3.8 so it does not support it.

[2019-12-05 16:42] glemaitre commented on #15800
But why someone installing:

* python 3.8
* scikit-learn 0.22
* joblib 0.13.2

should get an error message.

NB: This someone was even a bot for me:

https://github.com/conda-forge/imbalanced-learn-feedstock/pull/9