[2016-02-18 17:30] alexhanna opened #6398 "Error with 'soft' voting in VotingClassifier"
I'm using LinearSVC as one of my classifiers in the VotingClassifier. I'm getting this error:

AttributeError: 'LinearSVC' object has no attribute 'predict_proba'

[2016-02-18 18:06] jakevdp commented on #6397
Hi – this is more a matplotlib question than a scikit-learn question, but the answer is sort-of. You can use the [``plt.annotate``](http://matplotlib.org/users/annotations_intro.html) command to do this sort of thing by hand, but to my knowledge there's no good way to do it automatically while preventing collisions and overlap.

Another possible option would be to use [mpld3's tooltips](https://mp

[2016-02-18 18:06] #6397 closed

[2016-02-18 18:19] #6237 closed

[2016-02-18 18:31] MechCoder commented on #6398
This is because it is not straightforward to obtain probabilistic estimates for `LinearSVC` unlike `LogisticRegression` for instance where the margin can be transformed into a probabilistic estimate.``

You can set `voting=hard`, (Though I admit the error message can be made a bit more useful)

[2016-02-18 18:32] alexhanna commented on #6398
I see. Okay, thanks for clarifying.

[2016-02-18 18:32] #6398 closed

[2016-02-18 18:35] yenchenlin1994 commented on #6389
I'm using Python 2.7.10, numpy 1.8 and scipy 0.13.
Maybe there is something wrong in the newer version of numpy?

[2016-02-18 18:37] nelson-liu commented on #6389
Perhaps, I'll spin up a venv and test it then report back.

On Thu, Feb 18, 2016 at 10:36 AM Yen <notifications@github.com> wrote:

[2016-02-18 18:40] yenchenlin1994 commented on #6390
I didn't know there's a fairly active gitter room before too
Adding it to the Support page may help newcomer.

[2016-02-18 18:43] nelson-liu commented on #6390
perhaps a gitter readme badge would help as well?

[2016-02-18 20:07] vighneshbirodkar commented on #6381
The idea is that we will warn now and raise an error on 1D arrays in the future. The latest version of the code raises a warning for 1D  data asking you to reshape it (and errors later on). In this case you should do
[code]

[2016-02-18 20:20] rvraghav93 commented on #6381
So here the warning is not raised as there is an error following it... Correct? Then this should be closed!

[2016-02-18 20:35] vighneshbirodkar commented on #6381
When I tried the code the warning is raised and the error follows.

[2016-02-18 20:37] MechCoder commented on #6342
Please reshape your data (or/and) update your sklearn version.

We have deprecated support for 1-D arrays since the last version.

[2016-02-18 20:37] #6342 closed

[2016-02-18 20:38] #6381 closed

[2016-02-18 20:39] dsquareindia commented on #6389
yep even I'm not able to reproduce with python 2.7.11, numpy 1.10.2 and scipy 0.16.1

[2016-02-18 20:49] rodrigob commented on #6381
just to confirm, so the behaviour of the git head is different from the pip install --upgrade  ? possibly due to #5152 ?

[2016-02-18 20:54] vighneshbirodkar commented on #6381
#5152 was merged before the latest release. The behavior I explained should be observes after installing form pip

[2016-02-19 02:11] giorgiop commented on #6394
+ 1

[2016-02-19 02:18] nelson-liu commented on #6394
As for the contents, should the issue tracker simply remind users to not forget their scikit-learn, scipy, numpy, and python version number and use code blocks for tracebacks?
The PR template could be a bit more loose, I maybe just to remind users to prefix their PR's with the codes found here: http://docs.scipy.org/doc/numpy-1.10.1/dev/gitwash/development_workflow.html#writing-the-commit-message?

[2016-02-19 02:33] jnothman commented on #6394
For bugs, that plus platform (operating system, etc) would be useful. For
algorithm requests and contributions a pointer to our rough criteria for
acceptable additions (and how to make external compatible projects). Commit
message codes aren't so important; a note on labelling a PR with [MRG] or
[WIP] is more useful. Mention code/documentation quality guidelines; a
reminder that high-coverage test

[2016-02-19 02:59] yarikoptic opened #6402 "Just FYI, close upon your convenience"
While trying to push some stuff to my remote I have managed to push all debian tags into the primary scikit-learn repository.  I have later removed all debian/ tags to clean up after myself ;)  Sorry about that.  If you feel like I better do not have push privileges, that would be just fine with me, feel free to revoke.

[2016-02-19 03:07] nelson-liu commented on #6394
@jnothman thanks for the input. I believe that implementing templates would help keep the review process for PR's more organized and lead to quicker resolving of bug issues (e.g.no more asking contributors to supply versions numbers not in the OP)

As for scaring away new contributions, here's my two cents. I was wary of getting into open source mainly because like I felt I had no idea how to form

[2016-02-19 03:15] jnothman commented on #6394
Okay. I think it would not hurt to try, and I will welcome a first draft PR.

On 19 February 2016 at 14:07, Nelson Liu <notifications@github.com> wrote:

[2016-02-19 10:51] nelson-liu commented on #6359
@GaelVaroquaux shall we close this issue?

[2016-02-19 11:37] GaelVaroquaux commented on #6359
@nelson-liu : good point. Closing.

[2016-02-19 11:37] #6359 closed

[2016-02-19 12:24] xueyan2015 opened #6406 "Compare the use of sample weight and sampling approach in Random forest model with R and with Python"
Hi,

Please see my two questions as below
1. Is there any difference in the use of sample weight in R and in Python if I specify it?
   In R, there is an option called "classwt" which is used to specify class weight;
   In Python, there is a similar option called "class_weight"; and there is also another option called "sample_weight";  The documents says "class_weight" will be multiplied by "sampl

[2016-02-19 14:57] rubychilds opened #6408 "Issue with Document Classifying example"
It seems that documentation may need updating, as it currently fails when parsing options:
` ---> 94 (opts, args) = op.parse_args()` Full error below

https://github.com/scikit-learn/scikit-learn/blob/317dea8a05b0087f83318f318d112976e90566ff/examples/text/document_clustering.py

[code]

[2016-02-19 17:34] rvraghav93 opened #6409 "Split binary_tree.pxi into binary_tree.pyx + binary_tree.pxd and import rather than include"
There is a pxi file at `neighbors/binary_tree.pxi`

I may be wrong here, but isn't importing a `pyx` rather than including the `pxi` a better/cleaner way? Or is it just the same? (If not is there a specific reason why that won't work here?)

Also the way the [current `cythonize.py`] is setup will track for changes in pyx/pxd files alone and recythonize them if changed.

If the `binary_tree.pxi` is

[2016-02-19 21:09] agramfort commented on #6402
no worries :)

[2016-02-19 21:09] #6402 closed

[2016-02-20 04:10] BelhalK opened #6410 "Warning multi label setup"
If on

[2016-02-20 04:10] #6410 closed

[2016-02-20 10:55] ssaeger commented on #6317
Hi, I was able to reproduce this and indeed it seems to be the case that `accept_sparse=None` produces the error here.
If nobody is working on this I would like to fix the bug and and add a test to ensure `silhouette_score` works with sparse matrix.

[2016-02-20 12:26] yenchenlin1994 commented on #6317
Hello @ssaeger ,
I'm still working on this.

Does @amueller think `silhouette_score` should accept sparse matrix?
If so, I'm happy to work on this extension.

[2016-02-20 13:50] jakevdp commented on #6409
When I wrote this code, I initially started with a pyx/pxd solution, but I found that the standard inheritence scheme for some reason led to massive slowdowns in queries, because of the details of cython's vtable lookups IIRC. That was several years ago, so Cython may have improved things since then.

[2016-02-21 04:36] jumbogoose commented on #1513
@AmazaspShumik  thank you so much for your implementation. Great work :+1:

[2016-02-21 08:00] ZaixuCui commented on #1513
@AmazaspShumik

Thank you for your efforts very much.
I will definitely try this package.

Wish you all the best.

Zaixu

[2016-02-21 13:34] ssaeger commented on #6317
Hi @yenchenlin1994,
great, then good luck and just in case you stop working on it, just let me know. ;-)

[2016-02-21 14:47] ssaeger commented on #6408
I cannot reproduce this error.
Can you give a few more details to reproduce this error?
- How do you run the code?
- What versions of scikit-learn, numpy and scipy do you use? from the Traceback I guess you are using python 3.5.1, right?

At first glance it looks like the code is executed with a not existing option.

[2016-02-21 16:35] ssaeger opened #6413 "Make cython does not work"
`make cython` does not work
Following error occurs:
[code]

It seems that the `cythonize.py` script was moved to another directory.
I will provide a makefile with the fixed path in a moment.

[2016-02-21 17:43] nelson-liu commented on #6413
Ah oops, I moved cythonize.py in https://github.com/scikit-learn/scikit-learn/pull/6396 and didn't think to change this. Thanks!

[2016-02-21 18:54] siddharthswarnkar commented on #4580
I would like to work on this.
Is anyone working on this @eyaler  , @amueller ?

[2016-02-21 21:18] nelson-liu commented on #5933
@amueller this issue appears to be fixed, should we close?

[2016-02-22 04:42] yenchenlin1994 commented on #6329
Hello @kegl ,
Can you provide which few dozen classifiers you used and which dataset you evaluate on?
I've completed the algorithm and want to test its performance.

[2016-02-22 06:15] Ayyappatheegala opened #6415 "Support Vectors"
Hi

I'm using SVM for Binary classification problem and my interest is to extract the support vectors belonging to each class separately. Right now we've a function to  get all the support vectors but I'm interested in splitting  them class wise.

 Can anyone help me with this ?

Thanks in advance

[2016-02-22 07:14] btdai opened #6416 "ovr decision_function calculation from ovo case"
Dear scikit-learn developers,

I found a small bug in sklearn/svm/base.py, function decision_function, line 545. The first argument passed to multiclass._ovr_decision_function in sklearn/multiclass.py does not much with the implementation of _ovr_decision_function. The first argument from svm.decision_function is a boolean ndarray, while line 603, 604 in multiclass.py actually check if the values

[2016-02-22 10:00] yenchenlin1994 commented on #6416
Hello @btdai ,
Can you provide a minimum example script to reproduce the error?

By the way, you can use:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/base.py#L545
to refer to particular line of code in sklearn.

[2016-02-22 14:19] panisson opened #6420 "Cloning decision tree estimators breaks criterion objects"
I'm trying to implement different criterions for decision trees.
I've found that decision trees could accept a Criterion object as a criterion parameter:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/tree.py#L335
And the easiest way to implement other criterions would be to implement subclasses of tree._criterion.Criterion class.

The normal way to pass a criterion to a dec

[2016-02-22 15:35] elgehelge opened #6421 "Pipeline object does not have a `get_feature_names` method - intentional?"
The Pipeline object does not have a `get_feature_names` method. Is this intentional?

A `get_feature_names` method is useful when dealing with parallel feature extraction like in [this blog post](http://zacstewart.com/2014/08/05/pipelines-of-featureunions-of-pipelines.html) or in the short example below:

[code]
The above code example results in `AttributeError: Transformer word does not provide g

[2016-02-22 15:58] #6413 closed

[2016-02-22 16:52] ldacey commented on #5281
I am getting this error as well with pandas 0.18 and python 3.5

DeprecationWarning: inspect.getargspec() is deprecated, use inspect.signature() instead

[2016-02-22 17:38] Kiminaka opened #6422 "How do you use fit_params for RandomizedSearch with VotingClassifier?"
Hi, I'm trying to use fit_params (for sample_weight on GradientBoostingClassifier as an algorithm for VotingClassifier) for RandomizedSearch with VotingClassifier since the dataset is unbalanced. Could someone give me advice on this (possibly with code sample)? Or would it be even possible?

My current-not-working code is below:

[code]

Error:

`TypeError: fit() got an unexpected keyword argument

[2016-02-22 18:21] amueller commented on #5851
@apapanico what is your application? can you share your datasets? Also, what is your experience with the different algorithms?

[2016-02-22 18:25] amueller commented on #4691
closing as old / numpy install problems

[2016-02-22 18:25] #4691 closed

[2016-02-22 18:26] amueller commented on #5851
btw, @apapanico's implementation is here:
https://github.com/apapanico/RPCA

[2016-02-22 18:41] MechCoder commented on #6422
The `fit` method of `VotingClassifier` does not support `sample_weight` as of yet.

[2016-02-22 18:49] amueller commented on #4914
yeah still an issue: https://ci.appveyor.com/project/sklearn-ci/scikit-learn/build/1.0.5530/job/pospoyfyarw2wm76

[2016-02-22 19:12] amueller commented on #5281
pandas 0.17? how about scikit-learn? ;)

[2016-02-22 21:42] agramfort commented on #6415
you should ask this question on stackoverflow this is the bug tracker.

but you should be able to figure it out by reading the code.

[2016-02-22 21:42] #6415 closed

[2016-02-22 21:59] diego898 commented on #6355
I am a bit confused as to how the `num_components` parameter works. For a method like `PCA`, I can have a situation with `100 samples x 40 features`, which `50` to `class A` and `50` to `class B`. `PCA` can then give me a `100 x 20` representation (ignoring class labels).

I'd like to use `LDA` as a dimensionality reduction technique.

When I pass in my `100x40` X and my `40x1 Y` which contains my

[2016-02-22 22:27] Kiminaka commented on #6422
Okay thanks! I'll make a wrapper on it then.

[2016-02-22 22:28] #6422 closed

[2016-02-22 22:45] jnothman commented on #6421
Please search for prior issues before creating new ones. See #2007.

It is more nuanced than your suggestion. We will be implementing something along the lines of https://github.com/scikit-learn/scikit-learn/pull/2007#issuecomment-55266088, as per #6372 for another transformer. You're welcome to have a go at the implementation and submit a PR (eventually with tests, docs, etc.).

[2016-02-22 22:45] #6421 closed

[2016-02-23 00:35] jnothman opened #6424 "RFC generalised Pipeline.get_feature_names"
There has been some demand for `Pipeline.get_feature_names` (#2007, #5172, #6421) for the case where the last element in the pipeline is a feature extractor. Following on from #6372, we instead shall make `get_feature_names` able to transform some list of input features in the general case. I propose the following behaviour:
1. `Pipeline.get_feature_names` may be called with a list `input_features

[2016-02-23 00:39] jnothman opened #6425 "Transformative get_feature_names for various transformers"
#6372 adds `get_feature_names` to `PolynomialFeatures`. It accepts a list of names of `input_features` (or substitutes with defaults) and constructs feature name strings that are human-readable and informative. Similar support should be available for other transformers, including feature selectors, feature agglomeration, `FunctionTransformer`, and perhaps even PCA (giving the top contributors to e

[2016-02-23 02:20] absolutelyNoWarranty commented on #6242
It looks like the name for the sampled data and it probably stands for least-squares?

[2016-02-23 03:00] btdai commented on #6416
Thank you, Yen.

Do you still need me to write a piece of code to demonstrate this?

[2016-02-23 03:01] yenchenlin1994 commented on #6416
Yes please

[2016-02-23 03:07] yenchenlin1994 commented on #6425
@jnothman May I try this?

[2016-02-23 03:08] jnothman commented on #6425
On which (family of) estimator?

[2016-02-23 03:32] btdai commented on #6416
Hi, Yen,

I think i was wrong, even if I changed the variable (as 0-1 ndarrays)
passed to multiclass_ovr_decision_function, I still don't get what I
wanted. So this is not a bug between 0-1 to boolean varaible.

Please run the attached python file. The darker the color is, the higher
confidence score it should be. So we should see extreme values far from the
separating plane. However, from the vis

[2016-02-23 05:15] jnothman commented on #4473
I don't think forking in github is going to be the right solution. Github associates a fork with the original repo, and apparently does not allow you to have multiple forks of the same repo owned by the same person. We should instead suggest cloning on one's own machine, creating on github and pushing.

[2016-02-23 07:16] iamved commented on #6425
Hi @jnothman, I am interested in taking this issue. Could you please suggest how I can get started on this issue?

[2016-02-23 07:47] btdai commented on #6416
Hi, All,

After another round of investigation, I suspect there is a bug at sklearn/svm/base.py at line 545, I suggest to change it from
`return _ovr_decision_function(dec < 0, dec, len(self.classes_))`

to
`return _ovr_decision_function(dec < 0, -dec, len(self.classes_))`

The picture below shows the decision_function of ovr of the current implementation (first row), and the decision_function of

[2016-02-23 08:54] nelson-liu commented on #6425
I'll handle implementing this for `FunctionTransformer` for now, and we'll see if there's more classes to implement this in after I'm done :)

[2016-02-23 09:08] yenchenlin1994 commented on #6425
@jnothman I'll modify the `FeatureUnion`.

[2016-02-23 09:11] nelson-liu commented on #6425
@yenchenlin1994 I assume so?

[2016-02-23 09:15] yenchenlin1994 commented on #6425
@nelson-liu Thx!

If so, I would also love to implement it for `cluster.FeatureAgglomeration`.

[2016-02-23 11:16] jnothman commented on #6425
I have added an extended list of transformers where this may apply and noted the default feature naming convention (though maybe its generation belongs in `utils`)

[2016-02-23 12:25] drewgendreau commented on #5115
+1 for having this issue, happy to provide details if it would help

[2016-02-23 12:32] yenchenlin1994 commented on #6425
Hello @jnothman ,

What should `preprocessing.Normalizer` do when input_features passed into `get_feature_names` is None?

`PolynomialFeatures ` doesn't suffer from this since it set both `self.n_input_features_` and `self.n_output_features_` during `fit()`.

[2016-02-23 12:37] ogrisel commented on #5622
Closing as duplicate.

[2016-02-23 12:37] #5622 closed

[2016-02-23 12:40] ogrisel commented on #5115
@eric-czech If you are under Python 3.4 or 3.5, please try to set the following environment variable and then restart your python program:

[code]

as explained in the [joblib docs](https://pythonhosted.org/joblib/parallel.html#bad-interaction-of-multiprocessing-and-third-party-libraries)

[2016-02-23 12:41] jnothman commented on #6425
Fair question, which I don't currently have an answer for. One option is for it to just return `feature_names` even if that means returning `None`.

[2016-02-23 13:01] yenchenlin1994 commented on #6425
Oh and even if `input_features`  passed into `get_feature_names` of `preprocessing.Normalizer` is not None,
I guess what it can only do is to return `feature_names`, which is the same with `input_features` in this case?

[2016-02-23 13:22] jnothman commented on #6425
yes, trivial, as noted in the issue description

On 24 February 2016 at 00:01, Yen <notifications@github.com> wrote:

[2016-02-23 13:27] yenchenlin1994 commented on #6425
Oh okay!
I will also do scalars, normalizers and imputers and Binarizer.
Will sed a PR right away.

Thanks for your clarification.

[2016-02-23 15:38] ogrisel opened #6433 "Make GradientBoostingClassifier error message more informative"
The error message reported in this SO issue is confusing:

http://stackoverflow.com/questions/35570160/valueerror-y-contains-non-binary-labels-for-votingclassifier-with-my-gradientbo

In the event `y` only comprise a single class label (once samples with zero weights are trimmed) we should yield a more informative error message that says so explicitly.

[2016-02-23 15:47] yenchenlin1994 commented on #6433
May I try this please?

[2016-02-23 16:44] vighneshbirodkar commented on #4473
@jnothman Done. Please have a look.

[2016-02-23 18:07] GaelVaroquaux opened #6434 "When Cython is not present, the error message building the dev version is incomprehensible"
This is the error message that I am getting when building the dev version of scikit-learn on a system where Cython is not present. It's quite unclear to the user what the problem is (issue raised by a "real user", aka not me).

[code]

The specific case of Cython absent (aka an 'import Cython' not working) should be captured and a nice error message raised (while still printing the original Import

[2016-02-23 20:13] MechCoder opened #6437 "Better default min_samples for RANSACRegressor?"
`min_samples` is set by default to be `n_features+1`

This fails when `n_features + 1` > `n_samples`, since at every iteration `min_samples` iteration is required.

I don't really know what a better default would be for this case would be

[2016-02-23 20:13] nelson-liu commented on #6434
@GaelVaroquaux would you just add an informative message at https://github.com/scikit-learn/scikit-learn/blob/21418695bf3d29be0f48f68b7c40e2571f8e49c5/build_tools/cythonize.py#L64?

[2016-02-23 20:13] MechCoder commented on #6437
cc @ahojnnes

[2016-02-23 20:20] jakevdp commented on #6434
@nelson-liu I think it's more complicated than that. A person may have the ``cython`` command in their path, but not have the ``Cython`` module installed in the current Python process. I believe that's why there's a ``pass`` on ``ImportError`` here.

I think the ``OSError`` below is meant to give the message @GaelVaroquaux has in mind, but some other error is taking precedence in the ``try...excep

[2016-02-23 20:21] ahojnnes commented on #6437
@MechCoder I would raise a ValueError in this case with a meaningful message.

[2016-02-23 20:43] jakevdp commented on #6434
Ah, I see: if Cython is not installed, the subprocess [here](https://github.com/scikit-learn/scikit-learn/blob/master/build_tools/cythonize.py#L79) fails with an ``ImportError``, but because this error does not propagate from the subprocess to the current process, but rather just gives a nonzero return code.

This was introduced 10 days ago by @rgommers (see https://github.com/scikit-learn/scikit-

[2016-02-23 20:51] nelson-liu commented on #6434
Ah, got it.  thanks for your explanation of the installation /path nuance, I didn't see that at first

[2016-02-23 20:52] rgommers commented on #6434
The scipy version of this same script says ``Cython either isn't installed or it failed.``, which seems a bit more user-friendly.

[2016-02-23 21:05] jakevdp commented on #6434
I pushed a fix at https://github.com/scikit-learn/scikit-learn/pull/6438

[2016-02-23 21:26] wangz10 opened #6439 "Implement inverse_transform method for cross_decomposition ?"
Should there be a `inverse_transform` method for all classes under `cross_decomposition` sub-module? I feel like it would be very helpful.

[2016-02-23 21:42] missing-semicolon opened #6440 "GaussianNB cannot accept sparse matrix input."
Hi all,

I'm not sure if I'm missing something, but I'm working on a pipeline that feeds from TfidfVectorizer() to GaussianNB() and I receive an error stating

    238         raise TypeError('A sparse matrix was passed, but dense '
    239                         'data is required. Use X.toarray() to '
    240                         'convert to a dense numpy array.')

Does GaussianNB require a n

[2016-02-23 21:48] jakevdp commented on #6440
Hi – is there a particular reason you want to use Gaussian NB on this data? In general, Multinomial NB is generally better suited to vectorized text.

[2016-02-23 21:51] jakevdp commented on #6440
Another point: one reason sparse inputs are not implemented in GaussianNB is that very sparse data almost certainly does not meet the assumptions of the algorithm – when the bulk of the values are zero, a simple Gaussian is not a good fit to the data, and will almost never lead to a useful classification.

[2016-02-24 01:58] missing-semicolon commented on #6440
Very fair--I'm looking to do some binomial classification using a bag of words methodology. Multinomial naive bayes is working well enough but I ran into this issue when trying different approaches.

[2016-02-24 06:44] yenchenlin1994 commented on #6425
Hello @jnothman ,
about

Do you mean all classes listed here:
http://scikit-learn.org/stable/modules/classes.html#module-sklearn.feature_selection

It seems that all these classes may be put into `Pipeline` and therefore need `get_feature_names` too.
Please correct me if I'm wrong. Thanks!

[2016-02-24 09:57] jnothman commented on #6425
Yes, I mean those.

On 24 February 2016 at 17:44, Yen <notifications@github.com> wrote:

[2016-02-24 09:57] dsquareindia opened #6443 "nosetests -v sklearn/ giving errors on master"
Versions used:
 - Python 2.7.11
 - Sklearn 0.18.dev0
 - Scipy 0.16.1
 - Numpy 1.10.2

Just to add, my master is up to date with upstream/master

Following is the traceback:
[code]

[2016-02-24 12:28] maniteja123 commented on #6425
Hi everyone, if it is fine I too would like to work on this issue. Would be helpful if the estimators which are currently worked on could be mentioned, so that I can try something which does not overlap. Thanks !

[2016-02-24 12:33] yenchenlin1994 commented on #6425
I think I can also work on

@maniteja123 from `PCA` to the end of the issue description in not yet done

[2016-02-24 12:37] maniteja123 commented on #6425
@yenchenlin1994, thanks for letting me know.

[2016-02-24 14:12] maniteja123 commented on #6425
@jnothman It would be of great help if you could confirm if the output for PCA needs to have shape ``n_components`` where each element is the input feature having the maximum variance. Should the case of multiple features having high variance along one component be handled ? Thank you !

[2016-02-24 14:15] jnothman commented on #6425
I'm really not sure about PCA. Try make something useful. If you think it
will be helpful to users to have names for projection-style features,
submit a PR. There is definitely a component of art to this.

On 25 February 2016 at 01:12, Maniteja Nandana <notifications@github.com>
wrote:

[2016-02-24 14:50] maniteja123 commented on #6425
Thanks for the reply. My doubt is mainly about choosing dominant features and also that all the components are not equally significant. Since multiple features can have almost same variance along a component, there might be need for some threshold to figure out the number of input features to be considered. Anyway I will create a initial PR with just the most dominant feature along the component a

[2016-02-24 16:53] yenchenlin1994 commented on #6433
I've submitted a PR.
Would you please have a look? Thanks!

[2016-02-24 17:05] maniteja123 commented on #6425
@yenchenlin1994 one more question. I am not sure how to handle this for ``SparseRandomProjection`` and ``GaussianRandomProjection``. Have you worked already on all of these ?

 feature selection and randomized L1
 feature agglomeration
 FeatureUnion

If you have already started working, will be waiting for your PRs :) Thanks !

[2016-02-24 17:38] GaelVaroquaux commented on #6437
I think that we need a better default, because the user would be getting
an error message on a parameter that he did not set.

[2016-02-24 18:08] MechCoder commented on #6437
What is the rationale behind setting default `min_samples` to be `n_features + 1`. To make that sure that each sampling forms a determined system in case `LinearRegression` is used? Or is it something else? (I could not figure it out when I had a quick glance at the paper)

[2016-02-24 18:18] yenchenlin1994 commented on #6425
I've started, thanks!

[2016-02-24 19:23] ahojnnes commented on #6437
@MechCoder I did not implement that default. The only case where it makes sense is the LinearRegression as far as I know.

[2016-02-24 21:43] amueller commented on #6425
for PCA I'm not sure if we want ``pca0, pca1, ...`` or if we want ``0.1 * x1 + 0.7 * x2  - 1.0 * x3, ....`` I can see both being useful, but the second one can become very verbose very quickly.

[2016-02-24 22:13] amueller commented on #6425
pca currently implements both and switches using a function parameter. However, that will be hard to do in a pipeline, right? Or do we have one argument for the whole pipeline and propagate it through?

[2016-02-24 22:13] amueller commented on #6425
Should we have this for all transformers in the decomposition module? It's kinda weird to have it for PCA but nothing else...

[2016-02-24 22:15] amueller commented on #6425
(I think this will be most helpful for feature extraction and feature selection, but possibly useful beyond)

[2016-02-24 22:19] GaelVaroquaux commented on #6425
I'd actually would like to put an embargo on any of the
"get_feature_names" that are poping up everywhere, and have a design
discussion (enhancement proposal), rather than fixing things here and
there.

I am having a hard time seeing the big picture across the entirety of
scikit-learn. For instance, last week, I was struggling with feature
names and the Imputer (which was removing some features du

[2016-02-24 22:41] amueller commented on #6425
We did discuss the design in another place before. I think it's pretty straight-forward for feature extraction and feature selection. I'm unsure about the rest, but don't think that's a blocker.
There was discussion here: #5172 there seems to be decent consensus.

I think the tasks are:
* add the functionality to all transformers
* add the functionality to pipelines

the questions are:
* what do t

[2016-02-24 22:42] amueller commented on #6425
actionable input: do the "obvious" ``get_feature_names`` ones, and think about the linear / non-linear features ones.

[2016-02-24 22:47] amueller commented on #6424
agreed on 1) and 2).
For three: maybe an ``AttriubuteError``: the last step has no ``get_feature_names``

[2016-02-24 23:29] jnothman commented on #6424
Do you mean an `AttributeError` if the last step has no `get_feature_names`? The problem with the `AttributeError` is that the definition currently allows for `get_feature_names` that does not take an argument. Testing for this when doing the attribute lookup is fairly heavy.

[2016-02-24 23:39] jnothman commented on #6425
@GaelVaroquaux: Admittedly I was being a bit sneaky by putting together this issue. I suspected that embargo was inevitable, but wanted to see what contributors and review came up with rather than design without implementations to critique. I think we should avoid merging these PRs, or perhaps merge them into a branch where we can continue to refine, but use the PRs to try to get a consensus on ea

[2016-02-25 09:59] TomDLT commented on #6298
What about `clf.best_estimator_.classes_`?
I don't think we want to copy every attribute of the best estimator into GridSearcCV.

[2016-02-25 10:06] unautre commented on #6298
@TomDLT maybe we could just make a property that returns the best estimator's classes_ attribute. That wouldn't require to make a copy and still make it consistent with the estimator interface.

[2016-02-25 12:25] unautre commented on #6364
Wouldn't [StratifiedKFold](http://scikit-learn.org/stable/modules/generated/sklearn.cross_validation.StratifiedKFold.html) do exactly that ? Make sure that the split are made "by preserving the percentage of samples for each class". Just give it your labels as first argument.

[2016-02-25 15:19] rvraghav93 commented on #6284
I've written a basic [`drop_value`](https://gist.github.com/rvraghav93/75b80c76eadf6b7dfdcc) function which helps in (successively) removing an exact fraction of values according to a preset `label_correlation` value. (MNAR --> `label_correlation` is 1 and MCAR --> `label_correlation` is 0)

This was needed for my benchmarking at #5974

Suggestions welcome. (Note that this first draft is probably

[2016-02-25 16:13] Pfaeff opened #6450 "TSNE - n_iter_without_progress not working"
The `_gradient_descent ` function always uses the default value of 50 for this, no matter what you set it to be. This is bad, especially if you want t-SNE to run for a fixed number of iterations.

It can be fixed by changing the `_tsne `function as follows:

        opt_args = {"n_iter": 50, "momentum": 0.5, "it": 0,
                    "learning_rate": self.learning_rate,
                    "n_i

[2016-02-25 16:14] amueller commented on #6424
Ah, I didn't think about that. But these are two different errors, right? one is there is no post-fix with ``get_features_names`` and the other is ``feature_names`` was passed and there is no post-fix that takes ``feature_names``.

[2016-02-25 16:19] amueller commented on #6425
the underscore-prefixed version of the parameters sounds verbose but sensible. Better than anything I could come up with.
So not merge #6372?
I think this is a something we urgently need.

It looks to me all linear decomposition methods can have a common ``get_feature_names`` if they all use ``coef_`` correctly.

The discussion has been open in #5172 since 9 month, with the only disagreement on wh

[2016-02-25 16:36] GaelVaroquaux commented on #6284
+1 on the general idea.

[2016-02-25 16:47] ssaeger commented on #6450
I think you are right and additionally [line 816](https://github.com/scikit-learn/scikit-learn/blob/706b45e03e0a4e8aae08560853eba7b6c4853b5b/sklearn/manifold/t_sne.py#L816) should be:
`opt_args['n_iter_without_progress'] = self.n_iter_without_progress`.

[2016-02-25 17:04] amueller commented on #6364
usage question, not an issue. please go to the mailing list or stackoverflow.

[2016-02-25 17:04] #6364 closed

[2016-02-25 17:05] amueller commented on #6298
the question is whether ``classes_`` is public classifier API. It kinda is...

[2016-02-25 17:19] GaelVaroquaux commented on #6298
I tend to agree. It's just so useful.

[2016-02-25 17:24] aflaxman commented on #6298
+1 for exposing `classes_` in some way through the API.  I guess this issue originated from my attempt to act as if it already was.  Thanks all for your work on this amazingly useful package!

[2016-02-25 18:12] Pfaeff commented on #6450
If line 816 is wrong, then [line 815](https://github.com/scikit-learn/scikit-learn/blob/706b45e03e0a4e8aae08560853eba7b6c4853b5b/sklearn/manifold/t_sne.py#L815) probably should be changed as well. Seems like `min_grad_norm` is also not working?

[2016-02-25 18:44] ssaeger commented on #6450
I'm not completely sure if this two lines are intentional, but it seems strange to me that `self.n_iter_without_progress` and `self.min_grad_norm` are completely unused and instead there are hardcoded values without explanation (at least one of them is the same as the default for the parameter). Additionally it is not documented that these parameters are fixed if you select the "Barnes-Hut" method

[2016-02-25 19:55] #6185 closed

[2016-02-25 20:04] glouppe opened #6451 "Cloning CalibratedClassifierCV with prefit base_estimator"
I recently stumbled upon this issue, I needed to clone a `CalibratedClassifierCV` object when the latter is defined on top on a pre-fit (`cv="prefit"`) base estimator. Unfortunately, because of the semantic of the clone interface, this cannot be achieved without "unfitting" the pre-fit base estimator.

I think this is somehow related to @jnothman long standing frozen estimator discussion.

[2016-02-25 20:23] GaelVaroquaux commented on #6451
Brainstorming:
Can we have a method on CV objects that return a non CV object with the
corresponding parameters set?

[2016-02-25 21:29] agramfort commented on #6284
+1 too

[2016-02-26 00:36] erensezener opened #6452 "IncrementalPCA.partial_fit gives an uninformative error message and is possibly broken"
`IncrementalPCA.partial_fit` raises the following error when the number of samples is smaller than `n_components`:

[code]

This error can be generated via the following snippet as long as `n_samples < n_components`:

[code]

The error message is not informative because the number of input features is constant (i.e., 50)
and  `n_components` is fixed anyways.

Also, I don't see any fundamental reas

[2016-02-26 01:37] yenchenlin1994 commented on #6433
I think `pos` and `neg` here:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/gradient_boosting.py#L113-L117
can be renamed as `n_pos` and `n_neg`, which is more clear to me.

May I know your opinion on it?

[2016-02-26 05:13] jakevdp commented on #6452
Both, sort of. In standard PCA any component beyond the number of samples is ill-determined (they all have eigenvalue zero, and so are completely degenerate) and thus are useless in almost all contexts. That's probably why that corner case wasn't accounted for in ``IncrementalPCA``.

That said, you're absolutely right that this error should be more informative. I'll put together a quick PR.

[2016-02-26 05:16] jakevdp commented on #6452
Looking at the code, I think we could make it support this case by using ``full_matrices=True`` rather than ``full_matrices=False`` in the SVD. But this would potentially be much more computationally costly without much (any?) gain in usefulness.

[2016-02-26 05:33] jakevdp commented on #6452
Actually, I now see it's more complicated than that. The ``svd_flip`` function makes some assumptions about ``U`` and ``V`` that don't hold with ``full_matrices=True``. Though I believe it's possible to make this corner case work correctly, I think it might be cleaner to simply raise a more useful error. Any thoughts?

[2016-02-26 06:55] nelson-liu commented on #6452
+1

[2016-02-26 12:16] jachymb opened #6454 "Implement K-Medians clustering"
Sometimes a better alternative to K-Means.

[2016-02-26 12:43] KeironO commented on #6397
Thank you.

[2016-02-26 13:28] erensezener commented on #6452
Isn't the goal of incremental PCA being able to process the samples in batches?
So ```n_samples > n_components > batch_size``` should work, right?
But with the current setting it must be  ```batch_size > n_components```.

[2016-02-26 13:37] buchhola opened #6455 "LinearRegression: more features than samples"
Hi all,

I am using the LinearRegression method and I got the following problem.
When I include more features than samples there is no warning in the regression routine.
In fact the problem is not well defined anymore since the arising matrix of the crossproduct of features is not invertible anymore.
What does the LinearRegression routine does in this case? Does it calculate a pseudo inverse? I co

[2016-02-26 14:16] TomDLT commented on #6455
In any case, the LinearRegression calls `scipy.linalg.lstsq` (least square), which computes a pseudo inverse.

[2016-02-26 15:46] #6455 closed

[2016-02-26 15:51] amueller commented on #6451
@GaelVaroquaux how would that help?

[2016-02-26 18:17] sticken88 commented on #6095
Hi emakryo!
Did you solve the problem?

[2016-02-26 18:19] jgubern opened #6456 "GaussianProcess MSE inconsistency/error"
If multiple targets were fitted, the method "predict" in the GaussianProcess class does not return an MSE  of shape (n_eval, n_targets) . It only returns a MSE of shape (n_eval, ).  This is clear from the source code block for the MSE evaluation, batch mode or not, where MSE is initialized as np.zeros(n_eval)

Also the writeup for this method has an error. If the input X has a shape stated as (n_e

[2016-02-26 18:56] lesteve commented on #6095
Just a wild guess: this may be related to https://pythonhosted.org/joblib/parallel.html?highlight=accelerate#bad-interaction-of-multiprocessing-and-third-party-libraries.

Can you try the work-around provided in the link? Note you will need to use Python >= 3.4.

[2016-02-28 00:18] twistedcubic commented on #6454
I will work on this.

[2016-02-28 09:55] jnothman commented on #6425
Not sure you actually mean #5172 there...

By "urgently" you mean you need it merged before the book goes to press?? :p

[2016-02-28 13:59] erensezener commented on #6452
The variable names in the example I gave were not very accurate. But the following code should work in principle but it doesn't work if ```batch_size < n_components```

[code]

[2016-02-28 19:47] anntzer opened #6459 "Broken link in docs"
http://scikit-learn.org/stable/modules/isotonic.html
The image links to http://scikit-learn.org/stable/auto_examples/images/plot_isotonic_regression.html (doesn't exist) instead of http://scikit-learn.org/stable/auto_examples/plot_isotonic_regression.html

[2016-02-28 19:52] nelson-liu commented on #6459
Are you planning to raise a PR for this? Otherwise, I can.

[2016-02-28 19:53] anntzer commented on #6459
nope, go ahead.

[2016-02-28 19:53] nelson-liu commented on #6459
no problem, thanks for reporting the issue

[2016-02-28 20:00] nelson-liu commented on #6459
ah it appears to be already fixed in the [dev version](http://scikit-learn.org/dev/modules/isotonic.html)

[2016-02-28 22:33] synodinos opened #6460 "make html -> error in sklearn.utils.murmurhash"
To reproduce:
1. Clone scikit-learn
2. Enter doc
3. Execute `make html`

[code]

Environment:
- py27-pandas 0.17.1
- py27-numpy  1.10.4
- py27-scipy 0.17.0
- py27-scitools 0.9.0
- py27-scikit-learn 0.17.1
- Mac OS 10.11.3
- Python 2.7.11

[2016-02-29 08:32] OliverKramer02 opened #6464 "pyinstaller RandomForest (sklearn)"
Hello at all,

can someone tell me how to compile a python2.7 script withe the pyinstaller which includes the RandomForestRegressor modul from sklearn?

[2016-02-29 08:35] lesteve commented on #6279
I can reproduce the test failure on an Ubuntu 14.04. A snippet that reproduces the problem:

[code]

The failure happens with both python 2.7 and 3.5. Not sure why we are not seeing it on Travis. Note I wasn't able to reproduce the failure on my laptop running Ubuntu 15.10. This seems slightly weird, so I'll double-check tonight that I didn't do anything stupid.

[2016-02-29 09:03] #6459 closed

[2016-02-29 09:47] ihadanny opened #6465 "random forest should provide confidence intervals/SE for feature_importances"
Quoting from Breiman's web-page:

"the raw importance score for variable m ... If the values of this score from tree to tree are independent, then the standard error can be computed by a standard computation. The correlations of these scores between trees have been computed for a number of data sets and proved to be quite low, therefore we compute standard errors in the classical way, divide the r

[2016-02-29 09:54] glouppe commented on #6465
Hi,

We do not implement "permutation importances", but rather the "gini
importance", as described on the same page. For these, it is not clear how
to compute confidence intervals.

Best,
Gilles

On 29 February 2016 at 10:47, Ido Hadanny <notifications@github.com> wrote:

[2016-02-29 10:32] GaelVaroquaux commented on #6465
Let's close this issue, to avoid accumulation of issues in our tracker. If there is a clear way on how to implement this feature, we can reopen it.

[2016-02-29 10:32] #6465 closed

[2016-02-29 11:58] ihadanny commented on #6465
Thanks Gilles!

Can I ask for "permutation importances" then?
Or would that be too expensive computationally?

On 29 February 2016 at 11:54, Gilles Louppe <notifications@github.com>
wrote:

--
Sent from my androido

[2016-02-29 12:06] glouppe commented on #6465
It is not implemented in scikit-learn, but it is straightforward to
implement yourself.

Gilles

On 29 February 2016 at 12:58, Ido Hadanny <notifications@github.com> wrote:

[2016-02-29 13:59] jachymb commented on #2989
+1

[2016-02-29 15:17] dillonko commented on #4607
Hi I am having the same problem. I am currently using it for python 3.

parse@parse-Lenovo-Yoga-2-11 ~ $ python3
Python 3.4.3 (default, Oct 14 2015, 20:28:29)
[GCC 4.8.4] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.4/dist-packages/sklearn/__init__.py", line 5

[2016-02-29 15:24] rvraghav93 commented on #6464
Maybe you should try asking [here](https://github.com/pyinstaller/pyinstaller/issues). I am afraid that this has nothing to do with either `sklearn`/`RandomForestRegressor`.

[2016-02-29 15:27] rvraghav93 commented on #6443
Thats strange. Travis/Appveyor doesn't report any errors right? Which OS are you using?

[2016-02-29 15:30] rvraghav93 commented on #6460
In my experience this error - `ValueError: numpy.dtype has the wrong size, try recompiling` is usually due to an incompatible numpy installation. Could you try upgrading your numpy? (Also refer - [this SO answer](http://stackoverflow.com/a/18369312/3109769))

[2016-02-29 16:17] synodinos commented on #6460
Thanks for the tip that this could be binary incompatibility. Unfortunately the numpy 1.10 branch is the latest stable, and re-installing would involve uninstalling a bunch of dependencies, so I'm a little reluctant without being sure that e.g. scikit-learn is compatible to let say 1.9 or 1.8 etc.

[2016-02-29 17:16] lesteve commented on #6279
Double-checked and indeed the test pass on my Ubuntu 15.10 laptop, interesting !

[2016-02-29 17:25] mayukh18 commented on #6142
@arthurmensch I think what @amueller has said is that it is difficult to frame recommender systems as a model.

As far as I have understood so far is that as soon as we are using some matrix, we are basically storing a whole set of ratings( including the predicted ones) so it has to reform the matrix as soon as a new user or item is encountered. While it is possible to store a ML model, for recomm

[2016-02-29 17:36] tgalery commented on #6224
hey @amueller I'm experiencing a very similar error.
I'm using a custom content extractor for different languages that  does feature extraction on documents from an elastic search server. My problem is not using the vectorizer to train a classifier, but rather when using it's `.transform` method for making predictions.

[code]

Above, `content_extractor` is an object with a `__call__` method that

[2016-02-29 18:17] rvraghav93 commented on #6460
Yes scikit-learn is compatible for those numpy versions!

[2016-02-29 19:53] fburkitt commented on #5397
Can anyone tell me why I get an error in one case and no error in the second case below?  I am using a Gaussian Process Classifier with Noise - and I am trying to add the noise calculation to the observations.

When I do the array addition this way:
y += noise
I get a type error: TypeError: Cannot cast ufunc add output from dtype('float64') to dtype('int64') with casting rule 'same_kind'

When I d

[2016-02-29 19:54] fburkitt opened #6467 "TypeError: Cannot cast ufunc add output from dtype('float64') to dtype('int64') with casting rule 'same_kind'"
Can anyone tell me why I get an error in one case and no error in the second case below? I am using a Gaussian Process Classifier with Noise - and I am trying to add the noise calculation to the observations.

When I do the array addition this way:
y += noise

I get a type error: TypeError: Cannot cast ufunc add output from dtype('float64') to dtype('int64') with casting rule 'same_kind'

When I d

[2016-02-29 19:58] isacarnekvist opened #6468 "TfidfVectorizer insists on np.float64"
I tried fixing it but it ended up in an error on line 1288 in sklearn/preprocessing/data.py in normalize() because the function inplace_csr_row_normalize_l2(X) didn't seem to be able to handle float32

[2016-02-29 20:00] GaelVaroquaux commented on #6467
Please don't ask this in our tracker.

First, this is unrelated to scikit-learn. It's basic numpy array operation.

Second, it's really a question, not a bug, and a question on code that you are writing yourself, not code from a library, so it should probably not go on a tracker, but maybe on stackoverflow.

We have 669 issues opened, and we have closed 2117. Issues are work, are we are drowning u

[2016-02-29 20:00] #6467 closed

[2016-02-29 20:20] amueller commented on #6425
Maybe ;) I tried to write a book chapter that explains feature extraction without it, but I was too embarrassed by the current interface of ``PolynomialFeatures``.
But also something I'm asked for basically every time I give a talk. The two most common questions are "why are categorical variables so hard" and "why is using column names so hard". Well maybe additionally "why is inspecting models so

[2016-02-29 20:23] #6121 closed

[2016-02-29 20:34] ssaeger commented on #6468
`inplace_csr_row_normalize_l2` is implemented in cython  and can only handle `double` at the moment. To handle float32 we need to use fused types of cython, which is not implemented yet.

[2016-02-29 21:23] dsquareindia commented on #6443
Actually now I'm getting a different set of errors after pulling upstream. I'm using ubuntu 14.04. Now I'm getting 86 errors and 9 failures! Can't tell what's happening here..... It's just my system right?

[2016-02-29 21:30] dsquareindia commented on #6443
This is what happened when I tried to compile `dist_metrics.pyx`:
[code]

[2016-02-29 21:32] rvraghav93 commented on #6443
Try a `make clean`?

[2016-02-29 21:39] amueller commented on #6224
can you run a traceback or try to debug? Or can you provide code and data to reproduce?
Probably a sparse matrix indexing issue?

[2016-02-29 21:49] dsquareindia commented on #6443
Typing just `make` worked. Thanks a lot for the help! Although it still baffles me how this started failing suddenly.

[2016-02-29 21:49] #6443 closed

[2016-02-29 22:52] MechCoder commented on #6425
Sorry for nitpicking but what is wrong with RFE? It has a transform that is inherited from `SelectorMixin` right?

[2016-03-01 10:05] mvds314 commented on #2688
I recently put some [code ](https://github.com/mvds314/factor_rotation/blob/master/README.md)on Github for factor ration under a BSD license.

[2016-03-01 13:18] rvraghav93 commented on #6394
Yes! New issue is always better to have a clean conversation thread.

I am afraid that a longer/verbose PR template may be construed as a typical "Terms and Conditions" which we know how people read ;)

And the thing I dread most is the noise added by it when they don't remove those guidelines before adding their description.

So I feel we need to improve it in a way that is clean, succinct and ha

[2016-03-01 19:11] lesteve commented on #6394
The polymer [issue template](https://raw.githubusercontent.com/Polymer/polymer/master/.github/ISSUE_TEMPLATE.md) and [PR template](https://raw.githubusercontent.com/Polymer/polymer/master/.github/PULL_REQUEST_TEMPLATE.md) look great as a starting point.

I wouldn't sweat too much over the long links to be honest, you can still copy and paste them even if they span multiple lines as far as I can se

[2016-03-01 19:58] #6464 closed

[2016-03-01 21:03] amueller opened #6471 "StratifiedShuffleSplit still buggy"
[code]

this is a follow-up on #6379 and a sign that the logic is too complex. I'm doing a rewrite to fix this bug but it is not as clean as I'd like.

[2016-03-02 02:05] yenchenlin1994 commented on #6322
Hello @amueller ,
Do you think we can separate `HomogeneousTimeSeriesCV` and `HteroegeneousTimeSeriesCV` into two PR?
By far, I've already completed the `HomogeneousTimeSeriesCV` case in #6351 .

[2016-03-02 04:30] vighneshbirodkar commented on #4473
@GaelVaroquaux @jnothman @amueller @mblondel  Please have a look at. I think it is mostly done.
http://contrib.scikit-learn.org/project-template/

[2016-03-02 07:28] jamiebull1 opened #6474 "Travis CI build failure on Python 3.5 DISTRIB="scipy-dev-wheels" platform only"
When [testing a PR](https://travis-ci.org/scikit-learn/scikit-learn/builds/113052406), the run failed on [this job](https://travis-ci.org/scikit-learn/scikit-learn/jobs/113052410), but passed on the other configurations. There is a note that "This job ran on our new platform for Precise builds. Please read our blog post for more information.", but that was also the case for the previous passing te

[2016-03-02 11:24] msdw opened #6476 "Top contributing features per id/line in scikit learn models?"
Hi,

Using scikit learn, I have in output top features order by importance.
I would like this information per id/line. Why ? For business, it could be very interesting to know the top contributing features of the score by id to qualify interest/problem of customer.

How to have these informations per customer?
Thanks for your return.
M.

[2016-03-02 15:53] #6474 closed

[2016-03-02 15:53] jamiebull1 commented on #6474
Nevermind - seems to be fixed.

[2016-03-02 16:49] danstowell opened #6477 "TSNE should provide user access to the optimised cost value"
Since the t-SNE method has local optima and the result depends on initialisation, its FAQ encourages users to run t-SNE multiple times (with the same data) and to pick the best outcome. This can be done by visual inspection, but a user could also do it automatically, if they had access to the numerical cost value.

In the `_tsne()` function this is the value `error` and it can be output to screen

[2016-03-02 17:56] twistedcubic commented on #6477
I can work on storing `error` as an instance variable in t-SNE.

[2016-03-02 19:12] jakevdp commented on #6476
Hi @msdw. Did you also ask this on [StackOverflow](http://stackoverflow.com/questions/35741302/python-scikit-learn-how-do-i-get-the-most-important-features-for-each-test-clas)?

There's another stack overflow answer that seems to be exactly what you're looking for: http://stackoverflow.com/questions/30017491/problems-obtaining-most-informative-features-with-scikit-learn

[2016-03-02 19:13] #6476 closed

[2016-03-02 22:09] fgregg opened #6480 "LogisticRegressionCV cannot take two argument scoring functions"
The documentation for [LogisticRegressionCV](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegressionCV.html) suggest that scoring functions from sklearn.metrics can be used for crossvalidation. The documentation further says that the default metric will be `metrics.accuracy_score`

The arguments for `metrics.accuracy_score` are like `metrics.accuracy_score(y_true,

[2016-03-03 00:54] clamus commented on #6195
@GaelVaroquaux. I also found this result very counter intuitive. I read the paper again an kind of made sense of why this happens. Section 2.1 of Ledoit and Wolf defines the "population" optimal estimates. Using their notation, in your example \Sigma=I. Therefore \mu = 1 and \alpha^2 = 0. Using Lemma 2.1 gives \beta^2 = \delta^2. The shrinkage parameter (eq. 5) is \beta^2 / \delta^2 = 1. This kind

[2016-03-03 06:07] GaelVaroquaux commented on #6195
Indeed. I had to reread Ledoit and Wolf too to convince myself. Thanks for confirming.

[2016-03-03 07:41] Raji25 commented on #4164
from numpy.distutils.core import setup
ImportError: No module named 'numpy'

what have to be done in order to rectify the error?

[2016-03-03 07:49] ogrisel commented on #6195
Maybe the documentation of the [user guide](http://scikit-learn.org/stable/modules/covariance.html#shrunk-covariance) and the docstring of the function / estimator classcould be extended to give this intuition?

@clamus would you be interested in submitting a PR?

[2016-03-03 08:36] agramfort commented on #6480
indeed it's a doc issue. See:

https://github.com/scikit-learn/scikit-learn/blob/51a765a/sklearn/linear_model/logistic.py#L907

it should be a "scorer" as callable or a string present in SCORERS

PR welcome

[2016-03-03 09:01] clamus commented on #6195
Yes, definitely! I'll submit a PR explaining this unexpected but correct property in the user guide and docstrings

[2016-03-03 13:58] maniteja123 commented on #6480
Please have a look at the corresponding PR and let know if it clarifies the question. Thanks.

[2016-03-03 14:25] fgregg commented on #6480
Either more documentation is needed or there are two distinct bugs. `sklearn.metrics.matthews_corrcoef` is a callable with the same argument signatures as `sklearn.metrics.accuracy_score` but  using `sklearn.metrics.matthews_corrcoef` produces this errorl

[code]

[2016-03-03 14:31] maniteja123 commented on #6480
Hi, I am not an expert here but IIRC, the metrics provided in [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/scorer.py#L342) are supported as scoring metric arguments if you look at [this](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/logistic.py#L930). Hope it helps.

[2016-03-03 15:12] fgregg commented on #6480
Ah, I see so we can't use the metrics directly.

[2016-03-03 15:30] maniteja123 commented on #6480
I think we can only use the metrics given in the SCORING dict which are currently supported either by passing as a callable or string.

[2016-03-03 16:53] amueller commented on #6322
Well, imagine you have time-stamps with each data point, and you want to use time ranges instead of number of samples for the cross-validation. The time-stamps should be passed as ``labels`` attribute (maybe it could be called something else, but probably not).

Imagine you have 5 days of data , and each day has a different number of samples (each with an measurement time in seconds). You want to

[2016-03-03 22:14] clamus opened #6482 "Explanation of unexpected but correct behavior of Ledoit-Wolf covariance estimate"
This is a follow up on some comments in #6195.

Here is more or less what I am thinking on doing in regards to the explanation.  The idea is to include a version of this explanation in the documentation and docstrings related to the Ledoit-Wolf method. @ogrisel and @GaelVaroquaux, does this sound like a plan?

[code]

[2016-03-04 03:45] brucechou1983 commented on #2989
+1

[2016-03-04 05:43] btdai commented on #6416
Hi, All,

Is there anyway to get attentions from contributors for this post? I'm new to this community, thank you.

[2016-03-04 07:03] #6480 closed

[2016-03-04 07:42] stmax82 opened #6483 "GaussianProcess with batch_size gives "'float' object cannot be interpreted as an integer""
[code]

The following code:

[code]

Results in the error

[code]

Because of:

[code]

[2016-03-04 08:17] glouppe commented on #6483
`GaussianProcess` has been deprecated in 0.18. If this is possible for you, please update to the dev version, where will now find `GaussianProcessRegressor` instead.

[2016-03-04 08:17] #6483 closed

[2016-03-04 08:53] stmax82 commented on #6483
oh thanks, I didn't know the GaussianProcess class was deprecated (there's no warning anywhere).

Will there be a 0.17.2 release before 0.18? The fix would be trivial - I think replacing the division "/" by "//" should do it..

[2016-03-04 09:03] nelson-liu commented on #6483
@glouppe according to the docstring at https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/gaussian_process/gaussian_process.py#L61, it will be deprecated in 0.20. Is this an error in the docstring?

[2016-03-04 09:13] glouppe commented on #6483
No, this is correct. The new GP implementation has been added after the 0.17 release, and therefore the old implementation will be deprecated in 0.20, two release cycles after the next 0.18 release.

`GaussianProcess` is deprecated starting from 0.18 but it is still there until 0.20, where it will be entirely removied.

[2016-03-04 09:15] nelson-liu commented on #6483
ah that makes sense, thanks for the info.

[2016-03-04 14:33] AlexanderFabisch commented on #6477
It is available in the [current master](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/manifold/t_sne.py#L610). You can use `amodel.kl_divergence_`.

[2016-03-04 14:48] AlexanderFabisch commented on #6450
It was a design decision to not expose these parameters to the user. They are set to similar values in most other open source implementations of t-SNE.

[2016-03-04 14:51] twistedcubic commented on #6477
Right. Thank you @AlexanderFabisch.

[2016-03-04 15:05] danstowell commented on #6477
OK thanks. It might be handy if it were mentioned in the documentation but that aside, I guess we close this issue

[2016-03-04 15:05] #6477 closed

[2016-03-04 15:09] AlexanderFabisch commented on #6477
It is mentioned of course in the [most recent version of the documentation](http://scikit-learn.org/dev/modules/generated/sklearn.manifold.TSNE.html#sklearn.manifold.TSNE).

[2016-03-04 15:30] AlexanderFabisch commented on #6204
Did you try `init='random'`? That should make a big difference.

[2016-03-04 15:52] danstowell commented on #6477
@AlexanderFabisch thanks - I did search for that but failed to find it

[2016-03-04 15:58] jjvalletta commented on #6204
Thanks for the suggestion, but I'm afraid yes, that's what I tried originally. I've changed it to "pca" so that it matches the R implementation (script.R) and Van Maaten's implementation (Maaten_script.py).

Either way though, in this case the data is "easily" separable, so I doubt that different initial conditions would have such a "big" difference (qualitatively some degree of separation should

[2016-03-04 16:17] AlexanderFabisch commented on #6204
The best way to check whether it is a problem of stopping too early is to modify the t-SNE [implementation](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/manifold/t_sne.py) and get rid of everything that stops the optimization before `n_iter` iterations. Could you try that? You don't have to install sklearn from source to do that. You could just copy the implementation and impor

[2016-03-04 16:33] rdturner opened #6484 "fetch_lfw_people inconsistent results between systems"
fetch_lfw_people returns faces in different orders depending on the file system being used.  In the case of the "Faces recognition example using eigenfaces and SVMs" demo, this means that different faces will be in training and test depending on the system running the demo.  This will give different users much different results.

The following line is from _fetch_lfw_people in scikit-learn/sklearn

[2016-03-04 18:02] amueller opened #6485 "Isolation forest docstring missed link to user guide"
The isolation forest docstring you have a link to the appropriate section in the outlier detection user guide.

[2016-03-04 21:08] FragLegs opened #6487 "Why does _fit_and_score use print() instead of logging?"
Forgive me if this has been discussed already, but why does `sklearn.cross_validation._fit_and_score` use a `verbosity` parameter and the `print` function, rather than using python's `logging` module? As someone who is building a library that uses sklearn, it means that I have to expose that `verbosity` parameter in my code, rather than letting the user set the logging level (or even hide the logg

[2016-03-04 22:21] benrifkind opened #6488 "OneHotEncoder - add option for 1 of k-1 encoding"
Like the title says. Would it be possible to add an option, say "independent = True" to OneHotEncoder that would return a 1 of k-1 encoding instead of a 1 of k encoding. This would be very useful to me when I am encoding categorical variables since the 1 of k encoding adds an extra (non-independent) degree of freedom to the model. It would also be nice if I could specify which category to keep as

[2016-03-04 22:43] ssaeger commented on #6450
ok, I understand.
Should we then add this to the documentation? Since the used values might be of interest for some users and its not very transparent that a user can set some parameters but they are overwritten without mentioning it somewhere.

[2016-03-05 00:00] AlexanderFabisch commented on #6450
I don't think that makes sense. The parameters are not mentioned in the user documentation because they cannot be used. Everyone who wants to modify the code can read the code and docstring of the function.

[2016-03-05 02:01] nelson-liu commented on #6485
I'll work on this

[2016-03-05 02:42] giorgiop commented on #6329
@yenchenlin1994 did you open already a PR for this?

[2016-03-05 03:27] cinvro opened #6489 "LinAlgError in training spectral clustering model: leading minor not positive definite"
I am trying to fit a spectral clustering model on a 50 X 50 symmetric adjacency matrix:

[code]

And I got following error:

[code]

I follow #2924 to change liblapack to atlas implementation, it doesn't work.

The matrix X is attached as aff.pkl in following zip file for whom attempt to reproduce this error:

[aff.pkl.zip](https://github.com/scikit-learn/scikit-learn/files/159654/aff.pkl.zip)

or

[2016-03-05 07:24] giorgiop commented on #6489
What is the reason why you set `lobpcg` as solver? `arpack` gives you a solution:
[code]

By a quick look, your matrix is very low rank:
[code]
The graph is almost fully connected, with only a few edges missing. I did not investigate if this is the issue with `lobpcg`. You may take a look a the [scipy doc](http://docs.scipy.org/doc/scipy-0.16.1/reference/generated/scipy.sparse.linalg.lobpcg.html).

[2016-03-05 12:51] ssaeger commented on #6450
Good point, but I still see the problem that a user can set `n_iter_without_progress` as follows:
`model = TSNE(n_iter_without_progress=100)`
but it is never used. If `method='exact'` it is overwritten with 50 when `_gradient_descent(...)` is called and for `method='barnes_hut'` it is overwritten with 30.

If this is intended I do not see why we have this parameter, but maybe I'm missing something

[2016-03-05 13:16] yenchenlin1994 commented on #6329
Not yet, I'm now writing examples in doc.
Being busy for my exam last week ...

[2016-03-05 14:16] jnothman commented on #6329
Please submit the PR as a WIP.

On 6 March 2016 at 00:16, Yen <notifications@github.com> wrote:

[2016-03-05 16:37] cinvro commented on #6489
I run into same problem when using arpack, so I swiched to lobpcg.
It seems at some point arpack calls lobpcg, I guess switching back arpack cannot completely address this problem, maybe?
Here is another example I have in my experiments which uses arpack, it produces the same error:

[code] (https://dl.dropboxusercontent.com/u/49362521/arpack.py)
[data_matrix](https://dl.dropboxusercontent.com/u/4

[2016-03-05 18:08] hlin117 opened #6491 "Lasso documentation for "path" is not rendered properly"
The [lasso documentation for path](http://scikit-learn.org/dev/modules/generated/sklearn.linear_model.Lasso.html#sklearn.linear_model.Lasso.path) isn't rendering (or being compiled) properly.

![screenshot 2016-03-05 12 04 06](https://cloud.githubusercontent.com/assets/1865885/13549434/8f8a2ef0-e2ca-11e5-9dbe-1bd6abd1f3ac.png)

A fast grep leads me to [this function](https://github.com/scikit-lear

[2016-03-05 19:10] hlin117 commented on #6491
[ElasticNetCV](http://scikit-learn.org/dev/modules/generated/sklearn.linear_model.ElasticNetCV.html#sklearn.linear_model.ElasticNetCV.path) also has this problem.

It has to do with the fact that `path = staticmethod(enet_path)` [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/coordinate_descent.py#L1511)

[2016-03-05 19:43] hlin117 opened #6493 "Algorithm description for RandomizedLogisticRegression and RandomizedLasso is inaccurate"
The algorithm descriptions for [RandomizedLogisticRegression](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RandomizedLogisticRegression.html#sklearn.linear_model.RandomizedLogisticRegression) and [RandomizedLasso](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RandomizedLasso.html#sklearn.linear_model.RandomizedLasso) are as follows:

I don't think t

[2016-03-05 23:00] #6330 closed

[2016-03-05 23:22] ogrisel commented on #6279
Indeed, this is probably because of latest MKL used for latest numpy / scipy with conda. I tried to fix the gfortran issue on travis master in #6494 and I triggered this issue...

[2016-03-06 01:53] romaniukm commented on #6283
OK, I'm closing this issue then.

[2016-03-06 01:55] #6283 closed

[2016-03-06 02:48] clamus commented on #6493
I thought this was confusing too. After looking briefly at the code it seems that the algorithm actually does  randomization via both the W_k as well as subsampling the data. This "double" randomization is described in Remark 4 of Meinshausen & Bühlmann, and this is what they recommend.  Maybe the documentation can be extended to mention the double randomization?

[2016-03-06 03:13] hlin117 commented on #6493
I think that's a great idea, @clamus. Thanks for checking the source code. At the very least though, the documentation should mention the randomization of the weights, because that's what Meinshausen & Bühlmann defined as their "Randomized Lasso / Logistic Regression".

[2016-03-06 11:08] AlexanderFabisch commented on #6450
No, it should not be possible:

[code]

[2016-03-06 11:45] ssaeger commented on #6450
That's strange, cause I do not get an error with the latest code in master.

[2016-03-06 11:51] agramfort commented on #6493
PR welcome

[2016-03-06 13:07] AlexanderFabisch commented on #6204
I just saw that in the current master there are already some parameters of gradient descent exposed to the user (#5186) but there currently is a bug when you use barnes-hut approximation (#6450).

[2016-03-06 13:17] AlexanderFabisch commented on #6450
OK, I had an old version installed. :) The bug has been introduced either with #5186 to fix #5165 or with #4887. Would be great if you can make a pull request. We should remove this [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/manifold/t_sne.py#L800) too. I hope there are not more inconsistencies...

[2016-03-06 14:52] nelson-liu commented on #6485
Shall we close this issue?

[2016-03-06 15:53] #6485 closed

[2016-03-06 16:51] rhiever opened #6495 "Add more badges to the top of the README?"
Currently, there are four badges at the top of the sklearn repo README, and all of them communicate useful information about the build status and test coverage. It would also be useful to have badges for other things, such as the Python versions that are supported by the package (2.7, 3.5), a link to the latest PyPi package and its version, a link to the docs, the software license for the repo, an

[2016-03-06 17:16] agramfort commented on #6495
landscape is only for hearth right?

python versions and pypi version would be nice. For health +0

[2016-03-06 17:18] GaelVaroquaux commented on #6495
Agreed for python versions and pypi, but for the rest: -1.

"less is more". Adding too much information won't help the user or the
newcoming contributor get a quick glance of the package.

[2016-03-06 17:20] rhiever commented on #6495
Okay. What about a link to your [gitter channel](https://gitter.im/scikit-learn/scikit-learn)?

To the docs?

[2016-03-06 18:06] clamus commented on #6493
I'll do it if it is ok with @hlin117

[2016-03-06 18:09] hlin117 commented on #6493
@clamus. Sure, be my guest.

Can you make the docs such that it has the equation embedded in there too? Something similar to the lasso regression documentation:
http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Lasso.html

[2016-03-06 18:17] clamus commented on #6493
yep sure

[2016-03-06 19:38] ssaeger commented on #6450
ok, I will create a PR.

[2016-03-06 23:15] borisRa opened #6496 "Logistic regression with a probability response rather than number of successes/failures) rather than binary outputs"
Hi,

I have aggregated data impressions and clicks by set of features. And would like to use scikit-learn Logistic regression to estimate probability to click (CTR). I.e. the response variable is the number of clicks divided by the number of impressions (#clicks/#impressions).

More details in the following question in Stack overflow ;
http://stackoverflow.com/questions/33871615/train-a-model-with

[2016-03-07 02:05] nelson-liu commented on #6495
regarding the gitter channel, I opened a PR to add a badge to the readme / a link to the support page here at https://github.com/scikit-learn/scikit-learn/pull/6399. There's some associated discussion in the linked PR within that pr.

[2016-03-07 04:32] MechCoder opened #6499 "10000 Stars !!"
:+1: :pizza: :cake: :beer: :beers: :wine_glass: :curry: :sake: :fireworks: :rice_cracker: :100:

[2016-03-07 04:46] nelson-liu commented on #6499
:tada: :beers: scikit-learn is the 204th most starred repo on github

[2016-03-07 10:23] pixelou opened #6500 "Unwanted calls to custom pyfunc metric with DistanceMetric"
When submitting a custom metric to DistanceMetric `pyfunc = DistanceMetric.get_metric("pyfunc", func=dist_func)`, the custom metric function gets called with two 10 elements long vectors. I assume there is some testing going on here, unfortunately this prevents the use of custom metrics for fixed dimension spaces.
Below is a modified version of [scikit-learn/sklearn/neighbors/tests/test_dist_metri

[2016-03-07 11:54] WeissMichael opened #6501 "Sample_weight not supported for SVM and logisticRegression"
I have the scikit-learn library in version 0.17.1 which is supposed to support sample_weight option for SVC or Logistic Regression but these two lines won't work :

`
clf = svm.SVC( probability = True)`
`
clf.fit(train_data, train_labels,sample_weight=sample_weight)
`

Saying that argument sample_weight isn't allowed for the method svm.SVC. Similarly I get the same issue with le logisticRegression

[2016-03-07 13:38] lesteve commented on #6484
I think you got this right. A PR would be more than welcome !

[2016-03-07 13:57] rvraghav93 commented on #6499
:beers:

[2016-03-07 17:23] #6499 closed

[2016-03-07 17:24] amueller commented on #6495
+1 on version number and python versions and -0 on the rest.

[2016-03-07 17:26] amueller commented on #6283
It is the exact issue in  #4472. It's arguably a pip bug. Just follow the instructions in #4472 or just entirely remove your scikit-learn folder and try again.

[2016-03-07 17:33] amueller commented on #6496
not possibly currently. have you looked at statsmodels? That might be able to.

[2016-03-07 17:39] amueller opened #6502 "mem-mapped prediction using count vectorizer?"
For many people, loading the model from disk for each prediction is a major bottleneck, and keeping the model in memory is not always possible.
One of the main pain-points there is working with ``CountVectorizer``, which needs to load the whole vocabulary, even though each data point probably only needs very few features.
The problem can be solved by using hashing vectorizer, but then we lose inte

[2016-03-07 17:42] rhiever commented on #6495
Great! I will put in a small PR that adds the Python versions and the pypi
package this afternoon.

On Monday, March 7, 2016, Andreas Mueller <notifications@github.com> wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<https://twitter.com/randal_olson>
http://www.randalol

[2016-03-07 21:32] borisRa commented on #6496
Yes I saw this module. Does it have good integration with Scikit ? And when do you assume this feature will be ?

[2016-03-07 21:53] amueller commented on #6279
I get ``pls_.py:314: UserWarning: X scores are null at iteration 1
  warnings.warn('X scores are null at iteration %s' % k)
`` when using scaling.

[2016-03-07 22:59] amueller commented on #5851
there is a new outlier detection benchmark here: http://www.dbs.ifi.lmu.de/research/outlier-evaluation/DAMI/

[2016-03-07 23:09] amueller commented on #5851
this one might also be interesting: https://webscope.sandbox.yahoo.com/catalog.php?datatype=s&did=70

[2016-03-07 23:12] amueller commented on #6279
took me a bit to find out that the omnipotent part is failing, not the scaling part.

[2016-03-07 23:44] amueller commented on #6279
There is an 1e-17 difference on X between before and after scaling. That propagates to an 1e-17 difference in ``Y_k`` in the first iteration.
The one were scaling was applied twice has
[code]
The other one has some 1e-16 entries in the first column. So now Y_k is rank 1 and the solver doesn't do anything in the next iteration.

The test says
[code]

@arthurmensch you wrote this. can you explain?

[2016-03-08 12:35] TomDLT commented on #6454
#5085

[2016-03-08 13:52] twistedcubic commented on #6454
Thanks @TomDLT, I will wait to see what terkkila says about the PR.

[2016-03-08 14:03] ssaeger opened #6507 "TSNE sets kl_divergence wrong"
In commit 6bf63f623 `error` was replaced by `kl_divergence`, but line [850](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/manifold/t_sne.py#L850) was missed so that the final kl_divergence value is actually an old value that misses the final optimization step. This is especially a problem since people can access the kl_divergence in the current version as described in #6477.

Ev

[2016-03-08 15:17] amueller commented on #6496
there are no plans for it. What do you mean by "good integration"?

[2016-03-08 15:26] amueller commented on #6279
this is relevant: #6077

[2016-03-08 15:29] amueller commented on #6488
I guess we could do that as many people ask about it. I don't think there is that much of a point in doing that. Nearly all the models in scikit-learn are regularized, so this doesn't matter afaik.

[2016-03-08 15:30] amueller commented on #6488
@vighneshbirodkar is working on the ``OneHotEncoder``, it might be worth waiting till that is finished.

[2016-03-08 17:43] amueller commented on #4348
closed by #4349

[2016-03-08 17:45] amueller commented on #5716
fixed by #5721

[2016-03-08 17:45] #5716 closed

[2016-03-08 18:07] #6495 closed

[2016-03-08 19:20] benrifkind commented on #6488
Yup. I'm using a linear regression on categorical variables. So actually no regularization.

The regression works fine so there must be a fix for collinearity (non invertibility) in `scipy.linalg.lstsq` but I find this way of building a model a bit confusing. The solution to the least squared problem with collinearity is under determined - there is a family of solutions. And so to solve it there i

[2016-03-08 20:18] amueller commented on #6488
Why are you not using regularization? I think the main reason people don't use regularization is that they want simple statistics on the coefficients. But scikit-learn doesn't provide any statistics of the coefficients. Maybe statsmodels would be a better fit for your application.

If you are interested in predictive performance, just replace ``LinearRegression`` with ``RidgeCV`` and your predicti

[2016-03-09 03:43] dalupus commented on #3252
I ran into this issue as well.  I think this might be a bug.

From the previous persons comment:

Notice how he is taking `.mean`, so he is printing out for every loop.

The only thing I can think of is that parallel is remembering the random state across each run even though it gets reinitialized for each call to cross_val_score.  I did notice that explicitly changing the random seed inside of th

[2016-03-09 04:24] jnothman commented on #3252
It's not truly a bug; it's behaviour that is mysterious as long as you
don't understand the internals.

The question, though, is whether there is any value to the user in
random_state=None having this behaviour. Currently it's not clear how a
user should specify that they would like the random state to be different
on each clone.

We could handle None in check_random_state to make its initialisati

[2016-03-09 04:27] dalupus commented on #4627
I fully endorse adding shuffle and random_state.

It is not obvious that this is not happening when using cross_val_score and I am sure many a papers have been written with false conclusions due to this.  At the very least a warning should be added to cross_val_score that calling it multiple times will result in the same folds unless cv is overridden.

[2016-03-09 04:33] jnothman commented on #4627
So the solution is to encourage people to use the cv argument explicitly
and understand that shorthand doesn't always get what you want. If you
would like to improve the documentation, you are welcome; otherwise, please
do not expect this to change.

On 9 March 2016 at 15:27, Michael Crawford <notifications@github.com> wrote:

[2016-03-09 04:47] dalupus commented on #4627
I'd be more than happy to improve the docs.   I ran into this by accident in my own work, when I just by chance noticed that 1 fold was consistently performing better than the others.

I was simply supporting what  @amueller had said previous ("It is such a common case that we might want to expose it in cross_val_score, though") and noting that this is a non-obvious side-effect of calling cross_va

[2016-03-09 04:58] dalupus commented on #3252
The assumption would be that each call to cross_val_score would have a different random state.
For instance:
[code]

This (IMHO) should have a different random state for each call to cross_val_score (especially since I can't pass in a random state)  I would assume it takes whatever the current random state is when I call it.

The problem that I see with your proposal, is I would expect my code abo

[2016-03-09 05:01] jnothman commented on #3252
You will only ever get the same result each time when you set random_state
to an integer in each place where random_state occurs.

On 9 March 2016 at 15:58, Michael Crawford <notifications@github.com> wrote:

[2016-03-09 05:08] dalupus commented on #3252
That hasn't been my experience.  If I turn n_jobs down to 1 I can get the same result every time.
The fact that multiple clones of the same random state seems to show that.

[2016-03-09 05:10] dalupus commented on #4627
Running multiple iterations of CV is pretty much the norm in most research I have seen...
I'd almost say that rather than expand this method we simply add a new one which wraps this and that correctly does multiple iterations of cross_val_score in the appropriate manner with the shuffles and such

[2016-03-09 05:24] dalupus commented on #3252
as for a use case where you do want to turn njobs of cross_val_score up while also using random forest:  what if there are other items in your pipeline which are single threaded but take significant amounts of time?  The way it currently works is it will work through the pipeline single threaded till it gets to random forest (at-least in my experience)

[2016-03-09 05:54] dalupus commented on #3252
I think I see what you are saying though.   Even if we deterministically set the random states of the random states of the clones, there is no control over how quickly they finish and which ones will pick up the next job.  Oh well.   But I would recommend your change of trying to make sure each clone starts with a different random state.

[2016-03-09 06:13] GaelVaroquaux commented on #3252
That would surprise users in a different way: using the global seed
(np.random.seed(0)) would no longer give something reproducible.

[2016-03-09 06:21] jnothman commented on #3252
Right. Of course. Although there are already issues of reproducibility
under parallelism in that case.

On 9 March 2016 at 17:13, Gael Varoquaux <notifications@github.com> wrote:

[2016-03-09 06:23] GaelVaroquaux commented on #4627
+1 on pushing people to be explicit on the CV strategy that they use.
It's just so important to understand these choices.

[2016-03-09 06:26] jnothman commented on #4627
So much for "sensible defaults", huh? :P

On 9 March 2016 at 17:23, Gael Varoquaux <notifications@github.com> wrote:

[2016-03-09 06:31] dalupus commented on #3252
I think @jnothman point was setting a global seed already doesn't give something reproducible when using parallelism, so would have to just make sure it is only used when n_jobs is > 1 and note that if you want your results to be reproducible you have to leave n_jobs at 1.

[2016-03-09 06:34] jnothman commented on #3252
well your results are reproducible, just different when parallelised. I
forgot that people would set the global seed in this way.

On 9 March 2016 at 17:31, Michael Crawford <notifications@github.com> wrote:

[2016-03-09 06:34] GaelVaroquaux commented on #4627
Well, that's a difficult problem, as it is very cultural. I many
communities, shuffling is not expected. Hence it would surprise people.
In other communities, it is.

If your data is aquired in a sequential order, shuffling for
cross-valdidation is actually a very bad idea.

[2016-03-09 06:35] dalupus commented on #4627
I'd say the default is what you want for this method but there should be a cross_val_score_n which will do multiple iterations of cross_val_score with what would be "sensible defaults" in that use case.  In either case, need to warn that if you call cross_val_score in a loop without setting the cv strategy it probably isn't doing what you want.

I shudder to think how many published papers probabl

[2016-03-09 06:37] dalupus commented on #4627
The ootb cv method in general seems very bad for data where you need it to be sequentially ordered.  I saw there was a pull request on a cv method to handle that use case.

[2016-03-09 06:39] GaelVaroquaux commented on #4627
In that case, you really want to learn to use the cv objects, they are
really the answer that you are looking for.

[2016-03-09 06:41] jnothman commented on #4627
Shudder as much as you will. There is no reasonable way to programmatically
warn in that case. As stated, if you feel the documentation can be modified
to emphasise the lack of shuffling in the default CV strategies (which I
and others consider to be a reasonable default, but perhaps not, as Gaël
says, true of your community), then offer that modification.

I think this discussion is closed and ne

[2016-03-09 06:42] dalupus commented on #3252
I think if the person does a shuffle in the cv strategy it should in essence take care of the cloned random state issue no?  All of the cv splits would happen on the original process no?

[2016-03-09 06:46] dalupus commented on #4627
what do you mean by "use the cv objects"?

[2016-03-09 06:47] GaelVaroquaux commented on #4627
http://scikit-learn.org/stable/modules/cross_validation.html#cross-validation-iterators

[2016-03-09 06:52] dalupus commented on #4627
yeah I am using those now.   Thought you meant there was something else out there.  Sorry I'll leave this alone now and hopefully find some time to go update the documentation.

[2016-03-09 09:45] Burney222 opened #6511 "Different AdaBoostClassifier output for sklearn 0.16 vs 0.17"
I am experiencing a big difference in the output of the AdaBoostClassifier (probability of the event to belong to the signal) between the scikit-learn version 0.16 and 0.17 (see attachments). The background distributions look very different - although the signal efficiency and the purity are very similar when cutting at certain positions. The same code is used to create both plots - only the versi

[2016-03-09 14:10] usopp opened #6512 "MLP calculate improvement on more than two consecutive epochs"
I think, when using early_stopping=True improvement on validation fraction should be catlulated on more than 2 epochs and this should be able to set as param. Otherwise model may be insufficiently fitted.

[2016-03-09 14:24] borisRa commented on #6496
I mean if can use statsmodels as part the Scikit platform such as : pipelines, feature selection, grid search and et cetera.

By the way no having this feature in logistic regression is very problematic since no aggregated data can be used. In my case I have huge data set that can not be fitted in the memory but after aggregation it is very small.

[2016-03-09 16:08] benrifkind commented on #6488
Ok. I guess regularization is the way to go in scikit-learn. I do still disagree in that I think dependence shouldn't be introduced into the model by way of preprocessors (or at least there should be an option to turn this off). But maybe this is getting at the difference between machine learning and statistical modelling. Or maybe who cares about independence if we have regularization.

[2016-03-09 16:11] MechCoder opened #6513 "Some NMF tests seem to be failing on Travis master"
For the Travis build related to Python 3.5, NumPy version 1.10.2 and SciPy Version 0.16.1

[2016-03-10 02:54] hlin117 opened #6514 "Docs: Link MinMaxScaler to minmax_scale, and StandardScaler to scaler"
It would be nice if the documentation had a `see also` link from [`sklearn.preprocessing.MinMaxScaler`](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html#sklearn.preprocessing.MinMaxScaler) to [`sklearn.preprocessing.minmax_scale`](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.minmax_scale.html), and [`sklearn.preprocessing.StandardSc

[2016-03-10 04:43] hlin117 commented on #6501
I can't reproduce this error on mac OS X. Are you using an anaconda release?

[2016-03-10 05:02] MechCoder commented on #6513
See https://github.com/scikit-learn/scikit-learn/pull/6508

[2016-03-10 05:02] #6513 closed

[2016-03-10 05:22] mrosett commented on #3726
If anyone else is encountering this, I eventually solved it by doing two things:
1. I removed all other versions of python
2. I used the inplace flag: python setup.py build_ext --inplace

[2016-03-10 06:26] nelson-liu opened #6515 "Why does the "releases" link in the readme point to sourceforge?"
In the readme, the link for "releases" points to https://sourceforge.net/projects/scikit-learn/files/. It doesn't seem to be updated for 17.1, and I find it a bit odd since we also have releases on github here: https://github.com/scikit-learn/scikit-learn/releases.

Additionally, sourceforge has a pretty shady history of bundling malware with downloads. See https://notepad-plus-plus.org/news/notep

[2016-03-10 07:19] nelson-liu commented on #6501
I also cannot reproduce this error. Can you copy and paste the output of running this code snippet:

[code]

[2016-03-10 07:25] GaelVaroquaux commented on #6515
If I recall correctly, the only thing that we still need sourceforge for
is the PDF documentation, which we don't update at each release because
it is very fragile.

The right place to link too would be pypi:
https://pypi.python.org/pypi/scikit-learn

[2016-03-10 07:42] GaelVaroquaux commented on #6514
Indeed. That's a 'See Also' section to add to the docstring, as per the
numpy doc standard.

[2016-03-10 08:58] MichaelWeisss commented on #6501
@hlin117 Yes i'm using an anaconda release,

@nelson-liu Here is the outpout you asked along with the error :

Python 3.4.4 |Continuum Analytics, Inc.| (default, Jan 11 2016, 13:54:01)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
NumPy 1.10.4
SciPy 0.17.0
Scikit-Learn 0.17.1

  File "main.py", line 49, in <module>
    new_features(True)
  File "main.py", line 40, in new_features
    little_training()

[2016-03-10 09:17] hlin117 commented on #6501
I'm tempted to say that it's an anaconda bug, and not a scikit-learn bug.
Can you make a toy dataset using sklearn.datasets.make_classification and
see if you get the same errors?
On Mar 10, 2016 2:59 AM, "MichaelWeisss" <notifications@github.com> wrote:

[2016-03-10 09:37] maniteja123 commented on #6501
Hi, I am not sure if this is the reason, but it seems that this [commit](https://github.com/scikit-learn/scikit-learn/commit/80e22b3ddf51d36fb9021110b0d3287d460c3bcb) added ``sample_weight`` option to ``liblinear`` solver. It [might not be supported](https://github.com/scikit-learn/scikit-learn/blob/0.17.X/sklearn/linear_model/logistic.py#L422) as of 0.17.1. Hope it helps.

[2016-03-10 10:18] maniteja123 commented on #6514
Oops,, sorry for the noise. Accidentally created a PR to my own fork.

[2016-03-10 10:57] MichaelWeisss commented on #6501
@hlin117 I get the same error with toy datasets using sklearn.datasets.make_classification, though as pointed out by @maniteja123, logistic regression works fine when I change the solver for 'sag'.
I guess there's a need to add in the documentation that sample_weight doesn't work for 'liblinear'.

Thanks all !

[2016-03-10 11:07] maniteja123 commented on #6501
Hi @MichaelWeisss , happy to know that it works now. But it is supported with master if I understand it correctly. Though I second that it would be helpful if this information is mentioned in 0.17 docs.

[2016-03-10 14:23] maniteja123 commented on #1243
Hello everyone, this definitely is new to me but if no one is working on this, I would like to try implementing this. I have understood the idea to the best of my ability and tried a version based on the above discussion at [here](https://github.com/maniteja123/scikit-learn/tree/self_taught). I mostly have never directly implemented any algorithm in semi-supervised learning, so kindly pardon my mi

[2016-03-10 15:39] Rokicto commented on #5129
GMM.score now says log probability. So how can i improve?
Replace them with \*log normalized density\* ? Sounds better?

[2016-03-10 15:50] ogrisel commented on #6279
The bug is still there even though we temporarily hide it on travis.

[2016-03-10 17:49] chrsrds commented on #1243
I think that @amueller is referring to the Self-Training (a.k.a. Bootstrapping) algorithm
http://www.vinartus.net/spa/03c-v7.pdf

Unfortunately I did not have time for docstrings, narrative documentations and writting tests.
If anyone has time to collaborate with me I will be glad to open o WIP PR.

[2016-03-10 18:15] rhiever opened #6519 "Add update checker to sklearn?"
Would the sklearn team be amenable to adding an [update checker](https://github.com/bboe/update_checker) to the package?

Essentially, the update checker would run only once every session that a user uses sklearn. It would check their local version of sklearn and compare it to the latest version on PyPi, and output a short message to stdout indicating that their version is out of date and can be u

[2016-03-10 18:42] maniteja123 commented on #1243
Thanks for informing about the paper. I just saw the discussion above and probably misunderstood the complexity of the algorithm. Sorry. I would first read the paper carefully and if within my ability, would be glad to contribute as much as I can.

[2016-03-10 20:57] dalupus opened #6520 "ability to adjust cutoff length for _pprint in sklearn/base.py"
This is a feature request.

In the current implementation  of __pprint it is hardcoded to shorten any representation over 500.
[code]
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/base.py#L147

I'd request a way to override that if need be.  In my particular usecase I want to record the exact pipeline which was used along side of the results in a datafile so I'd like to get a re

[2016-03-11 01:44] philipperemy commented on #4619
I have the same issue and I'm also working on a mac. I don't know the fact that being on a mac is related.

[2016-03-11 01:46] philipperemy commented on #4619
@michaelbrundage Did you have any updates so far? Could you find a workaround?
The work on #4025 is still WIP.

[2016-03-11 01:47] giorgiop commented on #3930
Changes are now in master. @dengemann @eickenberg can anyone confirm we can close this issue?

[2016-03-11 01:57] michaelbrundage commented on #4619
It's an out-of-memory error, so the only workaround is to reduce your dataset size.

[2016-03-11 02:12] philipperemy commented on #4619
@michaelbrundage Thanks for your prompt answer! Just to let you know, you can use the python wrapper of the C++ implementation of the Bhtsne available on Laurent's GitHub. It tested it with (300k, 50) and it works good! Maybe not as tunable as the one in Sklearn but it does the job pretty well.

[2016-03-11 08:49] dengemann commented on #3930
Great, will check it out.

[2016-03-11 10:06] cif2cif opened #6522 "Problem with export_graphviz and expat"
I am trying to visualise a decision tree with export_graphviz, and I get a error message

"Warning: Not built with libexpat. Table formatting is not available.
in label of node 0
in label of node 1
in label of node 2
in label of node 3
in label of node 4
in label of node 5
in label of node 6
in label of node 7
in label of node 8"

and I get this picture
![iris-tree](https://cloud.githubusercontent

[2016-03-11 18:51] MechCoder opened #6523 "logistic_regression_path should be added to classes.rst"
Also, we should mention that this would offer no speedups for the liblinear solver because of no warm-start!

[2016-03-11 19:13] MechCoder opened #6524 "Warm_start for LogisticRegression?"
I think this has been discussed before and the new `LogisticRegressionCV` model limits the benefits of this but I believe it would speed up the path algorithm for the l1 penalty. For example in (https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/randomized_l1.py#L369)

Either that or we could make `_fit_liblinear` accept a `w0` parameter.

[2016-03-11 19:23] MechCoder opened #6525 "C can be an array as well in RandomizedLogisticRegression"
The documentation states that C can be a float only.

[2016-03-12 04:54] achalddave commented on #5379
Tentatively, it would be good to at least document this confusion about average precision. The overestimation of the true mAP as shown in #6377 is a rather critical bug.

[2016-03-12 09:58] amueller opened #6526 "Add minimal examples of classifier and transformer that pass check_estimator"
I just noticed that it's pretty non-trivial to pass ``check_estimator``. I think being strict is good, but we should also provide examples on how to actually pass. It took me like 10 minutes to make a trivial classifier pass.

here it is for reference:
[code]
This is a 1-nn classifier. calling ``unique_labels`` is necessary to check if y is a floating array, and having a ``classes_`` attribute is

[2016-03-12 15:27] pianomania commented on #6525
Hi, may I pick up this one for a contribution?

[2016-03-12 15:58] datomnurdin opened #6527 "Stack Overflow Questions Jobs Tags Users Badges Ask Question ValueError: Data is not binary and pos_label is not specified for roc_curve"
I'm trying to calculate roc_curve but I got this error message

    Traceback (most recent call last):
      File "script.py", line 94, in <module>
        fpr, tpr, _ = roc_curve(y_validate, status[:,1])
      File "/usr/local/lib/python2.7/site-packages/sklearn/metrics/ranking.py", line 501, in roc_curve
        y_true, y_score, pos_label=pos_label, sample_weight=sample_weight)
      File "/usr/

[2016-03-12 16:14] ssaeger commented on #6527
Seems not to be a bug.
Please check that  `y_validate` only contains binary values (0, 1) or provide a value for `pos_label` that should be considered as positive.
See also:
[Dokumentation](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_curve.html)
[Example](http://scikit-learn.org/stable/modules/model_evaluation.html#roc-metrics)

[2016-03-12 18:09] alvarouc opened #6528 "[BUG] cross_val_score with scoring='roc_auc' reports a different score as roc_auc_score function"
Linux-4.4.3-300.fc23.x86_64-x86_64-with-fedora-23-Twenty_Three
Python 3.4.3 (default, Jun 29 2015, 12:16:01)
[GCC 5.1.1 20150618 (Red Hat 5.1.1-4)]
NumPy 1.10.2
SciPy 0.16.1
Scikit-Learn 0.18.dev0

In the following snippet of code

    from sklearn.linear_model import LogisticRegression
    from sklearn.cross_validation import StratifiedKFold, cross_val_score
    import numpy as np
    from sklear

[2016-03-12 22:59] MechCoder commented on #6525
Sure!

[2016-03-13 11:28] harshilpatel opened #6529 "from sklearn import datasets"
Can't import datasets
Traceback (most recent call last):
[code]

[2016-03-13 11:37] GaelVaroquaux commented on #6529
You have a broken install of scipy. You should probably clean up you Python install, for instance by removing it and installing anaconda.

Closing, as this is not an issue with scikit-learn.

[2016-03-13 11:37] #6529 closed

[2016-03-13 17:14] agramfort commented on #6528
you have a bug. This works

[code]

[2016-03-13 17:14] #6528 closed

[2016-03-13 19:05] glouppe opened #6532 "FunctionTransformer should accept an `inverse_func` to provide `inverse_transform`"
I hit this issue today. I think it would be nice for `FunctionTransformer` to optionally accept an `inverse_func` function to implement the `inverse_transform` method. What do you think?

[2016-03-13 21:02] rvraghav93 commented on #4627
+1 I feel this issue is to be closed to prevent expanding the already huge list of parameters to `cross_val_score`

[2016-03-13 22:01] cwharland commented on #4627
Agreed. When I raised the original issue it was simply to make single split and cross val equivalent in their option to shuffle and not expand the number of params hugely. The current discussion might lead us to something like this http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html =)

[2016-03-13 22:31] dallascard opened #6533 "undefined symbol: svm_free_and_destroy_model on Stampede"
I am trying to make use of the development version of sklearn on [TACC Stampede](https://portal.tacc.utexas.edu/user-guides/stampede). There are a number of ways to do this, but the simplest seems to be using virtualenv. Unfortunately, all methods seem to result in a problem with libsvm.so.

If I run
[code]

I get the following traceback:
[code]

Version information is below:
[code]

Running
[code

[2016-03-13 22:54] nelson-liu commented on #6533
Is it only importing svm that is affected, or can you not import other modules as well?

[2016-03-13 23:03] dallascard commented on #6533
It seems to be anything that ends up importing libsvm.  So, for example, I can import datasets and metrics, but not linear_model or lda.

[2016-03-13 23:35] hlin117 opened #6535 "`cross_val_score` should link to `sklearn.metrics.make_scorer`"
[GridSearchCV](http://scikit-learn.org/stable/modules/generated/sklearn.grid_search.GridSearchCV.html#sklearn.grid_search.GridSearchCV) links to `make_scorer`, but `cross_val_score` does not.  There should be a link from the [`sklearn.cross_validation.cross_val_score`](http://scikit-learn.org/stable/modules/generated/sklearn.cross_validation.cross_val_score.html#sklearn.cross_validation.cross_val_

[2016-03-14 01:41] alvarouc commented on #6528
Not all classifiers have predict proba. Are you saying that crossvalscore uses predict proba?

[2016-03-14 01:55] yenchenlin1994 commented on #6532
I will work on it.

[2016-03-14 06:49] haikals opened #6538 "COP-KMeans Cannot Convergence"
I have a problem with my COP-KMeans, the final step in COP-KMeans cluster is must convergence

I try set iteration from 0 to 5 times, the result is still not convergence

I try again, I set iteration from 0 to 500 times, the result is still not convergence

Pattern

    pattern 1 => iterate 1 {C1=3, C2=1, C3=2, C4=2, C5=2} || iterate 2 {C1=3, C2=1, C3=2, C4=4, C5=0}

    pattern 2 => iterate 2 {C1

[2016-03-14 07:26] GaelVaroquaux commented on #6538
Where is COP-Kmeans in scikit-learn?

[2016-03-14 08:52] agramfort commented on #6528
Or decision_function

You need a continuous output

[2016-03-14 09:40] rvraghav93 commented on #4627
Haha. And we definitely don't want that ;)

[2016-03-14 11:59] pianomania commented on #6525
it seems someone have worked on it. should I go on?
BTW, I think it should check the shape of C in function `_randomized_logistic`. (only accept 1-dim array)
When I passed C=[[1,2,3], [4,5,6]], it raised "ValueError: Penalty term must be positive; got (C=array([ 1.,  2.,  3.]))" in Logistic Regression. I think it is not clear.

[2016-03-14 14:02] x3n0cr4735 commented on #6329
Yes, please open the PR. I'm also new to the open source community but have had good success with stacking/blending methods and would like to see if an ensemble method as described in Caruana et al. will work in practice. Would love to contribute to this.

[2016-03-14 14:38] yenchenlin1994 commented on #6329
Hi all, sorry for the late reply!
I've opened a PR with a code snippet to test the implementation.
Please have a look.

[2016-03-14 15:42] gerritholl opened #6541 "Error 404 in documentation section 2.7.1. Novelty Detection"
In the stable documentation, on the page for [outlier detection](http://scikit-learn.org/stable/modules/outlier_detection.html), there is an image ”Novelty detection” which links to http://scikit-learn.org/stable/auto_examples/svm/plot_oneclasse.html .  However, retrieving the latter triggers an Error 404.

[2016-03-14 16:16] ssaeger commented on #6541
I can confirm this for the dev documentation as well.
The correct link would be: http://scikit-learn.org/stable/auto_examples/svm/plot_oneclass.html

[2016-03-14 16:28] faizankshaikh commented on #5046
I am getting the same problem. @amueller Noob question: where do you search for the mixup? (ld_lib_path)

[2016-03-14 16:44] yenchenlin1994 commented on #5464
Hello @MechCoder ,
I've already go through #6430, may I take a stab at this iissue?

[2016-03-14 19:12] ohld commented on #6535
I'll do it.

[2016-03-14 20:02] hlin117 commented on #6535
@ohld Thanks. Make a post here to your PR as soon as it's ready.

[2016-03-14 20:21] ohld commented on #6535
#https://github.com/scikit-learn/scikit-learn/pull/6542

[2016-03-14 22:26] ohld opened #6544 "no module named sklearn.model_selection, sklearn.exceptions, sklearn.multioutput while building the doc"
I downloaded the repository to change something in documentation.
I tried to build the html:
`make html-noplot`
But at the beginning it says:

As far as I want to work with cross_val_score doc page I can't solve the issue #6542

So as a result some html appeared, but not all of them (including [cross_val_score](http://scikit-learn.org/stable/modules/generated/sklearn.cross_validation.cross_val_sco

[2016-03-14 22:30] hlin117 commented on #6544
Try building the documentation in a virtual environment. In your virtual environment, you should only have two packages installed:
1. `numpy`
2. `scipy`
I think you might run into that problem depending on your sphinx installation as well.

[2016-03-14 22:37] hlin117 opened #6545 "Add forward selection to scikit-learn"
I was surprised that scikit-learn doesn't have forward selection, even though it has [recursive feature elimination](http://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html). Are there plans to add forward selection into the API in the near future?

I'm referencing the stackexchange post [here](http://datascience.stackexchange.com/questions/937/does-scikit-learn-have-fo

[2016-03-14 22:44] ohld commented on #6544
Same problem.
I did all steps mentioned [here](http://docs.python-guide.org/en/latest/dev/virtualenvs/)

[2016-03-14 22:49] hlin117 commented on #6544
After you fire up your virtualenv, make sure you do
[code]
The python interpreter should lead to a sklearn installation in your virtualenv instead of the system scikit-learn.

[2016-03-14 23:57] rhiever opened #6547 "New feature preprocessor: model feature interactions"
I think it would be valuable to have a feature preprocessor that explicitly models feature-feature interactions. Currently, PolynomialFeatures is about the closest that comes to this, but in many cases some information is lost when you model the interaction as only the multiplication of the two features.

Here's an explicit example of what I'm talking about: Say you have two features and want to m

[2016-03-15 00:17] jnothman commented on #6547
This is very similar to one-hot encoding with polynomial features, although
it excludes many useless features that that pipeline would produce. I'm a
ambivalent to its addition as another preprocessor.

On 15 March 2016 at 10:57, Randy Olson <notifications@github.com> wrote:

[2016-03-15 00:41] rhiever commented on #6547
A one-hot encoding would still lose information when combined with PolynomialFeatures, right? Possible combinations:

0 * 0 = 0
0 * 1 = 0
1 * 0 = 0
1 * 1 = 1

3/4 of the interactions are mapped into a single category.

[2016-03-15 00:49] jnothman commented on #6547
So one hot encoding would map values 1,2,3 for original feature x1 to
separate features x'1, x'2, x'3. Then polynomial will multiply each of
these with the encodings of other features. Some of the new polynomial
features, like x'1*x'2 will always have a value of 0. But other features, I
think, provide just what you want.

On 15 March 2016 at 11:41, Randy Olson <notifications@github.com> wrote:

[2016-03-15 02:41] #6519 closed

[2016-03-15 02:46] rhiever commented on #6547
Right, but any time one of those features is 0, it doesn't matter what the other features are -- it maps to 0. That's lost information about the interaction between the features.

[2016-03-15 02:48] jnothman commented on #6547
In one-hot encoding that's not a problem.

On 15 March 2016 at 13:46, Randy Olson <notifications@github.com> wrote:

[2016-03-15 03:52] rhiever commented on #6547
Why is that? Maybe I'm misunderstanding the situation. The non-presence of some state for some feature combined with the presence of some state for another feature could be useful information.

[2016-03-15 03:55] mblondel commented on #6524
For warm-start to have effect, the stopping criterion is very important. However, I think the stopping criterion used by liblinear is not suitable for warm-start. In order to make `tol` less sensitive to datasets, liblinear normalizes the violation of the current iteration with the violation of the first iteration. Due to this, if the first iteration is already very good (thanks to warm-start) the

[2016-03-15 04:36] jakevdp commented on #6544
It sounds to me like you haven't installed scikit-learn yet, so that when python runs from the ``doc`` subdirectory, scikit-learn is not in your python path.

[2016-03-15 07:35] ohld commented on #6544
To i tried all again as after
[code]
is said:

[2016-03-15 07:46] hlin117 commented on #6544
Was this while you were sourced into your virtual environment?

[2016-03-15 09:20] Irene-GM commented on #4916
@amueller I was having the same problem, then found this thread, updated the scikit-learn library from 0.16 to 0.17.1, and unfortunately I am still getting the exception `"Multiple input features cannot have the same target value"`. Is the fix for this bug already available in 0.17.1? Thanks.

[2016-03-15 11:37] ohld commented on #6544
I'm sorry again, but I can't run virtualenv:
[code]

I checked pip, wheel, setuptools are up-to-date.

[2016-03-15 11:58] sebastien-forestier opened #6548 "Gaussian mixture examples: wrong ellipse size ?"
I am wondering why the ellipse sizes in all [mixture](http://scikit-learn.org/stable/modules/mixture.html#mixture) examples are computed as the eigenvalues of the covariance matrix.
In the case of a diagonal covariance matrix for instance, the eigenvalues correspond to the variances.
However, if we scale the data by 10, the variances are scaled by 100 and the ellipses get way too large.
A better v

[2016-03-15 12:33] maniteja123 commented on #4916
Hi I am not a dev, so not sure about the release date but if you want to use the development version, it is better to clone the repository from github and install following instructions from [here](http://scikit-learn.org/stable/developers/advanced_installation.html). But installing a dev version means that patches keep coming and you need to update periodically. Hope it helps.

[2016-03-15 12:55] jenifferYingyiWu commented on #2439
How to implement "estimate the means and variances of the workers' errors from the control questions, then compute the weighted average after removing the estimated bias for the predictions " by scikit-learn?

[2016-03-15 14:24] agramfort commented on #6548
ping @tguillemot

[2016-03-15 14:42] ohld commented on #6544
So I tried the same in Ubuntu and it happened without any errors. All files appeared and I'm ready to contribute to doc pages!

But I want to mention that I had to `$ python setup.py install` and `$ make` with **sudo**, otherwise it prints lots's of errors and even fail to build.

[2016-03-15 14:50] tguillemot commented on #6548
Thanks @sebastien-forestier, there is a problem indeed.
I'll correct the problem with the #6407.

[2016-03-15 15:55] hlin117 commented on #6544
Seems to me that you don't have a scikit-learn error. Follow these steps in this stackoverflow post: http://stackoverflow.com/questions/27634895/importerror-while-installing-pip-in-virtualenv

[2016-03-15 17:19] jakevdp commented on #6544
By the way, I'd strongly recommend **against** using virtualenv with any code that depends on NumPy and SciPy. Virtualenv is designed to manage Python dependencies – and does so admirably – but can cause a lot of strange issues when it comes to compiled extensions and shared libraries.

A much better tool for this is [conda envs](http://conda.pydata.org/docs/using/envs.html).

[2016-03-15 17:26] agramfort commented on #6545
LassoLARS is very similar to forward selection. Yet a tiny bit more costly.

[2016-03-15 20:37] andrewshir commented on #6514
Will try to fix this.
Also I noticed some problems with "See also" section: mixing links and arbitrary text like in  http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Will address it as well.

[2016-03-15 20:47] hlin117 commented on #6514
@andrewshir, @maniteja123 is already working on this PR, please see #6516

[2016-03-15 20:55] halsafar opened #6550 "Random State missing from calls to sklearn.svm.base._fit_liblinear"
We use sklearn heavily and have always worked around a bit of non-determinism in our unit tests that SK Learn introduces.

We force in our random seed to be the same however this still didn't fix the issue.

We then saw when examining the LogisticRegressor that calls to sklearn.svm.base._fit_liblinear are NOT passing the random state along and are creating a new seed each call.

Attached is the pa

[2016-03-15 20:57] halsafar commented on #6550
I confess I just realized we are using an older version of SK Learn and it appears fixed in recent versions.

[2016-03-15 20:57] #6550 closed

[2016-03-15 21:23] andrewshir commented on #6514
ah, ok, sorry
I noticed possible problem in "See also" in Ridge class (sklearn.linear_model.ridge): sklearn.kernel_ridge.KernelRidge class is marked as :func:, so no link because of this (see http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html).

[2016-03-15 21:35] jnothman commented on #5290
Fixed by #5492

[2016-03-15 21:35] #5290 closed

[2016-03-16 01:01] MechCoder opened #6551 "test_sample_weight_invariance in metrics/tests/test_common.py should use continuous outputs for regression_metrics"
Right now we use labelled outputs. It works but is kind of weird.

[2016-03-16 01:43] MechCoder commented on #6524
Thanks for the note! I had a quick look at the C++ code and I agree that if we decide to implement warm_start, we should compare it with the gradient at w=0 (as it is done now) and not the warm start coefficient every time warm_start is called. It should take some work but it is seems to me that a call to grad with a vector of zeros and not initializing `w` to zero when `w` is not null should do t

[2016-03-16 02:51] m860 opened #6552 "from sklearn import datasets error"
`$ python`
Python 2.7.10 (default, Oct 23 2015, 18:05:06)
[GCC 4.2.1 Compatible Apple LLVM 7.0.0 (clang-700.0.59.5)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
`$ sudo pip install -v scikit-learn`
`$ pip show scikit-learn`
Metadata-Version: 2.0
Name: scikit-learn
Version: 0.17.1
Summary: A set of python modules for machine learning and data mining
Home-page: h

[2016-03-16 03:00] maniteja123 commented on #6514
Thanks for pointing it out @andrewshir, I will also correct this in the same PR if it is okay.

[2016-03-16 04:36] dsquareindia commented on #6524
@MechCoder @mblondel If implementation of this is agreed upon, can I try this? What can be a good point to start?

[2016-03-16 06:13] m860 commented on #6552
i resolved the problem through  reinstall scikit-learn  version is 0.17 previous version is 0.17.1

[2016-03-16 06:13] #6552 closed

[2016-03-16 07:51] zuku1985 opened #6553 "export_graphviz function for tree should give ability to export both values and proportions in each node"
For now there are two choices - proportions or values, controlled by boolean proportion parameter. It would be helpful in some cases to see both of them on visualized tree.

[2016-03-16 08:57] anntzer opened #6554 "IsotonicRegression does not pass check_estimator"
Briefly, the issue is that IsotonicRegression takes (quite reasonably?) a 1D-array instead of a (n, 1) array as input.
(I ran into that issue while wrapping Tibshirani & Hoefling's near-isotonic regression (R package `neariso`) using rpy2.)

[2016-03-16 12:34] clacri commented on #5046
I am having the same problem, using pyinstaller in anaconda to compile my program. When I execute it on certain machines, it raises the above mentioned error.  In my case, if I echo $LD_LIBRARY_PATH I see a couple of paths that our system manager set for some programs to work. I tried to set it to the anaconda lib path, and to leave it empty, but it keeps producing the error.

[2016-03-16 17:21] hshteingart opened #6555 "Unsupervised Label Propogation Freezes, Memory Error or Returns NaNs"
I am trying to train a model with feature matrix of size (697526, 15). Labels are 1, 0 or -1 (unknown) with the following distribution:
-1    683795
 0     13469
 1       262
I tried both `LabelPropagation `knn or rbf and `LabelSpreading`.
For LabelSpreading I get an out of memory error (I have 32GB ram).
For LabelPropogation I get freeze both for knn and rbf and there is no verbose parameter to s

[2016-03-16 20:09] MechCoder commented on #3930
I confirm that we now store the unscaled components.

    pca = PCA(svd_solver="full", n_components=3)
    pca.fit(X)
    np.sum(pca.components_**2, axis=1)
    array([ 1.,  1.,  1.])
    pca = PCA(svd_solver="randomized", n_components=3)
    pca.fit(X)
    np.sum(pca.components_**2, axis=1)
    array([ 1.,  1.,  1.])

[2016-03-16 20:09] #3930 closed

[2016-03-16 20:40] amueller commented on #5046
I think there is a new error, I just got it on a travis instance.

[2016-03-16 21:22] amueller commented on #6554
there should be a way to tag the estimator with conditions like "does only take 1d input". Currently this is hard-coded for Isotonic in the tests.
This should be configurable exactly for your use case.
There is currently an  ``estimator_type`` attribute that does something related (declare classifiers and regressors) but that's not powerful enough. We probably need to add a ``classifier_tags`` pro

[2016-03-16 21:24] amueller opened #6556 "add indicator features in imputer"
The imputer should have an option to add a binary indicator feature (for each possibly missing feature) that indicate whether a feature was imputed or not (0 or 1).
In applications, missingness is often informative.

[2016-03-16 21:25] GaelVaroquaux commented on #6556
What kind of API do you have in mind?

[2016-03-16 21:26] amueller opened #6557 "add post-pruning for decision trees"
I frequently get asked about post-pruning. Often using single trees is important for interpretability, and post-pruning can help both interpretability and generalization performance.
[I'm surprised there is no open issue on this, but I couldn't find one]

[2016-03-16 21:35] anntzer commented on #6554
Actually, given that isotonic regression has a natural multidimensional generalization (#5744), perhaps it should be instead changed to take a 2d-input.
Still, I agree that a marker "takes only 1D input" could be generally useful (for example I certainly don't plan to write a multidimensional generalization to near-isotonic regression).

[2016-03-16 21:47] giorgiop commented on #6556
+1 . I end up implementing it by myself all the time.

[2016-03-16 21:51] clacri commented on #5046
When does your problem occur? Because in my case, I could install with conda install numpy, and did not get error messages. Afterwards, I successfully generated a one-file binary with pyinstaller. It is when actually using the executable that, at some point, a call to some Biopython code is raising the error.  So I guess you are also having the problem when testing the code, at runtime, right?

If

[2016-03-17 03:30] maniteja123 commented on #6556
Hi, if I may, I would like to work on this. If I understand it right, only in the case of ``axis=0``,  the binary indicator of size ``n_features`` is needed to indicate whether a feature was imputed. Please correct me if something else is expected here. Thanks.

[2016-03-17 06:30] nelson-liu commented on #6557
I can give this a shot :)

[2016-03-17 07:25] lesteve commented on #5046
@amueller I have seen this error:

[code]

on Travis as well. From what I could gather it was due to numpy 1.10.2 missing some mkl stuff. numpy 1.10.4 was fine. This was noted in https://github.com/scikit-learn/scikit-learn/pull/6508#issuecomment-194908920.

[2016-03-17 07:28] lesteve commented on #5046
For the record I never had to set LD_LIBRARY_PATH to build scikit-learn with anaconda (with or without MKL).

[2016-03-17 07:31] lesteve commented on #5046
@clacri is your problem related to scikit-learn at all ? If not it looks like you should ask your question to either the pyinstaller or the Biopython folks ...

[2016-03-17 07:36] lesteve commented on #5046
Here is a snippet that reproduces the problem on my machine:

[code]

[2016-03-17 08:44] clacri commented on #5046
No, you are right. I should post on their issues list. It is just that I saw the error pointed here was the same and also while using anaconda, so I thought it might be related. I already asked on the pyinstaller project, because it seems to have a similar issue with other mkl libraries.  In any case, I checked my numpy version in anaconda, and it is 1.10.4. Thanks anyway :)

[2016-03-17 10:10] clacri commented on #5046
Just for the record, browsing through your referenced comment, I found the post at Anaconda blog where they describe how to inactivate the mkl versions of the libraries (https://www.continuum.io/blog/developer-blog/anaconda-25-release-now-mkl-optimizations) and now at least I can compile a working version. Thanks!

[2016-03-18 07:46] lesteve commented on #6533
I am not sure about the level of support of icc to build scikit-learn. Searching in the issues, it seems like there has been problem in the past, for example see [this](https://github.com/scikit-learn/scikit-learn/issues/4083#issuecomment-77868844). Probably @amueller or @ogrisel know better than me.

Out of interest does it work with non development version of scikit-learn ? Also do you need to u

[2016-03-18 11:20] lesshaste commented on #6557
The title of this PR is related https://github.com/scikit-learn/scikit-learn/issues/4630 .

[2016-03-18 11:36] maniteja123 commented on #6557
This issue [#941](https://github.com/scikit-learn/scikit-learn/pull/941) also seems to be proposing prune method to the tree but the code has considerably changed in the meantime I suppose.

[2016-03-18 11:45] lesshaste commented on #6557
On the topic of interpretability, there has also been published work on creating single decision trees from random forests. As counter-intuitive as this sounds, due to the non-optimality of standard decision tree algorithms, this can apparently give single decisions tree that are both interpretable and also better classifiers/regressors than you would get otherwise.

[2016-03-18 14:41] chuan92 commented on #1625
It seems the error not fixed in #1627, the binomialdeviance is still not consistent with definition of deviance from ESLII. In [test_gradient_boosting_loss_functions.py](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/tests/test_gradient_boosting_loss_functions.py), the test case only contains large positive or negative numbers. If you test
[code]
, it will fail.

If we c

[2016-03-18 21:12] ogrisel commented on #6544
What? I use 4 or 5 virtualenvs on daily basis for 2 or 3 years both under Linux, Mac OSX and Windows and I have no issues.

[2016-03-18 21:22] ogrisel commented on #6544
@ohld I think the first problem you get (when trying to build the doc) is caused by the fact that you did no install scikit-learn prior to trying to build doc. You need to run one of the following command in the top level `scikit-learn` source folder:

- python setup install
- pip install .
- python setup develop
- pip install --editable .

The first two command will install scikit-learn once and

[2016-03-18 21:26] ogrisel commented on #6544
Actually based on the error messages you get, it seems that you have scikit-learn installed, but not the version matching your doc folder. The fix is still the same as I said above. You can check which scikit-learn is installed by doing:

    python -c "import sklearn; print(sklearn, sklearn.__version__)"

or alternatively:

    pip show scikit-learn

[2016-03-18 22:22] jakevdp commented on #6544
Fair enough. I ran into enough issues with criss-crossed library paths and other things that I gave up on virtualenvs a while ago. Also working with a few dozen students each quarter, I find that many of the most common issues they run into involve virtualenvs. But my first recommendation is always that if something is working, you should stick with it!

[2016-03-18 22:27] TamakiSakura commented on #6555
Semi-supervised method are indeed easier to run out of memory, the similarity matrix alone is at least of size 697526 *  13469 * 4 = 37GB

[2016-03-18 23:40] GaelVaroquaux commented on #6544
Same thing for me. There are probably "good" ways of using them, and bad
patterns. But if by mistake you use the bad patterns, you're in for
problems very hard to debug.

[2016-03-19 03:27] MechCoder commented on #4883
We can close this?

[2016-03-19 03:27] #4883 closed

[2016-03-19 10:44] glouppe commented on #6535
Fixed in #6542

[2016-03-19 10:44] #6535 closed

[2016-03-19 11:00] #6493 closed

[2016-03-19 17:53] ogrisel commented on #6544
@ohd, the original issue you have is trying to build the doc of the dev branch (master) with the last released version of the scikit-learn library installed in your system. To fix the issue you just have to build and install the matching dev version of the library (irrespective of the fact of doing so in your system python, in a virtualenv or in a conda environment).

Closing this. Please feel fre

[2016-03-19 17:53] #6544 closed

[2016-03-20 05:15] KeithBrodie opened #6564 "Class RFECV needs hard-coded n_features_to_select as a input parameter."
In scikit-learn 17.1 class RFECV uses a hard-coded 1 for n_features_to_select.  For some classifiers with some parameter sets, the classifier will fail with only one feature.  In addition, since RFECV takes some time, it would be helpful to allow the class to be initialized with a min_features_to_select with a value other than one that the user selects based on domain knowledge.  One may not be in

[2016-03-20 16:13] medhini commented on #2606
Has this been implemented already? Is the issue still open?

[2016-03-20 19:44] MechCoder commented on #6564
Sounds like a good idea. Would really appreciate a Pull Request!

[2016-03-20 21:06] MechCoder commented on #6564
Btw, for what estimators does `RFECV` fail according to your comment?

[2016-03-20 22:13] knakamor opened #6567 "Partial import of sklearn during the build process on Python35 Mac: can't import sklearn.neighbours"
Please try to adhere to the guidelines below as much as possible when
submitting your issue.
- Verify that your issue is not being currently addressed by other
[issues](https://github.com/scikit-learn/scikit-learn/issues?q=)
or [pull requests](https://github.com/scikit-learn/scikit-learn/pulls?q=).
- If your issue is a usage question or does not potentially require
changes to the codebase to be so

[2016-03-20 22:56] KeithBrodie commented on #6564
My comment is too broad - the only one I know it fails for is XGBoost with the colsample_bytree parameter set non-zero.  One could say that's as much a problem with XGBoost as it is with RFECV.  My other point remains though, as it stands the function requires recursive elimination down to one feature in the sweep even if that's irrelevant to the solution of interest.

I'll try my hand at the pull

[2016-03-21 01:53] StevenLOL commented on #5361
Any update?

[2016-03-21 03:14] anjishnu opened #6568 "Balanced/Weighted Sampling"
Many ML applications which deal with skewed input data - recently for several projects I've had to implement techniques to re-weight samples during training to get the best results - this can ideally be supported generically by scikit-learn in https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/cross_validation.py

In my use case I was able to get significantly better results by assum

[2016-03-21 03:26] MechCoder commented on #6568
Unless I'm missing something obvious, if you want to maintain your class frequency across all folds, you can use the `StratifiedKFold` object.

If you want to reweight your samples on the basis of classes during training, it depends on the specific model but a good number of them support `class_weights` already. For instance `LogisticRegression` (https://github.com/scikit-learn/scikit-learn/blob/m

[2016-03-21 03:40] anjishnu commented on #6568
As you pointed out - StratifiedKFold maintains class frequency, which is sort of the opposite of this use case. The class weights case is what I'm going for - but doesn't it make more sense to support this in the data processing sampling rather than reimplementing it in each model - which could make that implementation more complex?

In particular, SGD based non-linear models (*coughcoughneuralnet

[2016-03-21 05:18] MechCoder commented on #6564
You can have a look at http://scikit-learn.org/stable/developers/contributing.html#contributing-code just in case you want to mess up a little less :-)

[2016-03-21 05:58] nelson-liu commented on #6533
@dallascard You've probably figured this out / seems like you have a workaround in place, but I was just playing around with this and it appears simply running
[code]
worked perfectly fine. However, I wasn't able to create a virtualenv and install the master version due to a cython error (I did add the directory mentioned above to my PATH, perhaps I'll look further into it later). That could be a

[2016-03-21 06:34] ningchi commented on #6532
I don't know whether I understand `inverse_func` clearly, do you mean that?
`FunctionTransformer( f,  x, inverse_func=f^{-1})`
where `y= f(x)` and `x = f^{-1} (y)`.

But not all functions are invertible. And even if `f^{-1}` exits, we can invoke `FunctionTransformer` twice to get the same result we desired.
So I'm really confused, why we need it?
Thanks.

[2016-03-21 06:45] nelson-liu commented on #6532
It is correct that not all functions are invertible,hence why it's optional. Additionally,it could be useful to designate another function as the "inverse" of a function used in FunctionTransformer even though it might not mathematically hold true. Also, creating two FunctionTransformers is a hacky solution that would be inoptimal (if it even works like that, which it doesn't)

[2016-03-21 07:47] ningchi commented on #6532
@nelson-liu  Thanks.

The parameter `kw_args` is used by `transformer` function before,
when we introduce `inverse_transformer` function,
should `kw_args`  be own by `transformer` only, or shared with those two functions?
which one is better?

[2016-03-21 09:27] agramfort commented on #6568
are you talking about https://github.com/scikit-learn/scikit-learn/pull/1454
?

[2016-03-21 10:01] Borda opened #6571 "trace DeprecationWarning"
provide more detail description what is the entry point of Deprecated Warning wo be able to change usage in own code. For example warning as"

.local/lib/python2.7/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.

[2016-03-21 13:51] #6202 closed

[2016-03-21 14:26] AlexanderFabisch commented on #6507
Yes, that seems to be an error. It has been introduced during the merge of the master and Barnes-Hut SNE.

[2016-03-21 14:29] ssaeger commented on #6507
Ok, then I will create a PR to fix it. :)

[2016-03-21 14:31] dallascard commented on #6533
@lesteve @nelson-liu : Yes, the the pre-installed version (0.17) works fine, but I'm making use of a feature from the development version that I don't want to give up.

Working with virtual env is nice for a couple of reasons. The big one is that the pre-installed numpy and scipy are already properly compiled with MKL, etc, which I've found can be a pain to get working on other servers.

If icc is

[2016-03-21 16:27] anjishnu commented on #6568
Yes, that PR should cover my use case.

[2016-03-21 17:49] DSLituiev commented on #4757
Hey, is anybody working on this, or PR are welcome?
What would be be the other continuous class name?

How about just adding a kwarg for binning and otherwise treat as a factor/class?

[2016-03-21 17:55] RNAer commented on #4757
I haven't got time to work on it so far. not sure about others. I think a
PR is very welcome?

On Mon, Mar 21, 2016 at 10:50 AM, Dmytro Lituiev <notifications@github.com>
wrote:

[2016-03-21 18:33] MechCoder commented on #6568
@agramfort @anjishnu What are your thoughts about having a new class `LabelResampler`, which takes `method` as a parameter where accepts a `class` dict as a prior and does this sampling during `transform` time. This will be convenient to use in a Pipeline and gridsearch across various class priors as parameters?

On the downside, since the current API does not allow changing sample size during `tr

[2016-03-21 20:01] MechCoder opened #6573 "GaussianProcessRegressor raises error for prediction without prior fitting when `return_std` is set to True for default parameters"
[code]

This is because `self.kernel` is None during predict time. We should set `self.kernel_` to be the default `RBFKernel` (as done during fit time) and return the correlation matrix of the `RBFKernel`.

[2016-03-21 23:04] bryandeng opened #6574 "Calculation of accuracy for semi-supervised learning"
During my work on https://github.com/scikit-learn/scikit-learn/pull/6090, Travis shows a persistent failure:

[code]

This test calculates the accuracy of predictions over the training set, which should be greater than 0.83.

It's reasonable for supervised learning, but for semi-supervised learning, in which for now -1 is used as marker for unlabeled data, predictions over the training set are tra

[2016-03-22 00:43] filipe-cantarelli opened #6576 "Cheby Shev description in DistanceMetrics documentation has an extra sum call"
Chebyshev distance is being descibred as `sum(max(|x - y|))` in [doc](http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.DistanceMetric.html#sklearn.neighbors.DistanceMetric). This sum is unecessary.

[2016-03-22 03:17] dsakuma opened #6577 "Wrong information in FunctionTransformer docs (version 0.17.1)"
There is a wrong information in the current stable docs (version 0.17.1), in FunctionTransformer section [1].

In the _func_ parameter explanation there is this information: "The callable to use for the transformation. This will be passed the same arguments as transform, with args and **kwargs forwarded**".

But, the kwargs forward is implemented only in branch master yet. It does not work in vers

[2016-03-22 04:25] nelson-liu commented on #6577
hmm, is there any way to change the stable version of the docs without a release?

[2016-03-22 05:16] jnothman commented on #6577
Ordinarily we don't. In theory, we can. Alternatively, agitate for a release :p

[2016-03-22 06:24] maniteja123 commented on #6576
Hi, thanks for the report. I think it is a documentation error and also an error in the documentation [here](https://github.com/scikit-learn/scikit-learn/blob/51a765acfa4c5d1ec05fc4b406968ad233c75162/sklearn/neighbors/dist_metrics.pyx#L500) that says it to be `` d = max_i(abs(x_i), abs(y_i))`` which I suppose again contradicts the correct definition as mentioned by @filipe-cantarelli , i.e, ``D(x,

[2016-03-22 09:37] shruthism opened #6578 "ImportError: cannot import name pairwise_distances_argmin"
I got import error while executing plot_color_quantization.py code.

ubuntu@ubuntu-shr:~$ python  plot_color_quantization.py
None
Traceback (most recent call last):
  File "plot_color_quantization.py", line 11, in <module>
    from sklearn.metrics import pairwise_distances_argmin
ImportError: cannot import name pairwise_distances_argmin

[2016-03-22 09:50] maniteja123 commented on #6578
Hi could you pleaserun the following and give the output.

[code]
It seems that scikit-learn is not installed properly, but I may be wrong.

[2016-03-22 10:39] shruthism commented on #6578
Please find below output:

ubuntu@ubuntu-shr:~$ vi issue.py
ubuntu@ubuntu-shr:~$ python issue.py
Linux-3.13.0-62-generic-x86_64-with-Ubuntu-14.04-trusty
('Python', '2.7.6 (default, Jun 22 2015, 17:58:13) \n[GCC 4.8.2]')
('NumPy', '1.8.2')
('SciPy', '0.13.3')
('Scikit-Learn', '0.14.1')

On Tue, Mar 22, 2016 at 3:21 PM, Maniteja Nandana <notifications@github.com>
wrote:

[2016-03-22 10:47] maniteja123 commented on #6578
It seems 0.14.X doesn't have ``pairwise_distances_argmin`` in metrics module. Could you upgrade the scikit learn version and check if the error still occurs. Hope it helps.

[2016-03-22 15:58] nlathia commented on #6541
I've just removed the extra "e" from the URL and will submit a PR soon.

[2016-03-22 17:35] rvraghav93 opened #6580 "Exporting a single node DecisionTreeClassifier to dot graph raises error when filled is True"
Code to reproduce -

[code]

This is because the `max_impurity` and `min_impurity` are the same for a single node tree (`colors['bounds'][0]` == `colors['bounds'][1]`).

We should set the color in this case to a single value directly.

[2016-03-22 20:51] andrewshir commented on #6580
Can I take this one?

[2016-03-22 20:54] agramfort commented on #6580
go for it!

[2016-03-22 22:15] #6106 closed

[2016-03-22 23:47] DSLituiev commented on #4757
Maybe it is not the most appropriate place to ask, but:
if I need to write a helper function, is it OK to place it in `cross_validation.py`, or it must be buried in `utils.py`?

[2016-03-23 01:27] mblondel commented on #6526
Great example. I would also add inline comments to indicate what parts are important for the tests to pass.

[2016-03-23 01:35] jnothman commented on #6526
Another way to present this is with "dos and don'ts". In particular, things
like not modifying input parameters in __init__ should be stressed
somewhere (though I'm not sure that check_estimator worries about such
things at the moment.

On 23 March 2016 at 12:27, Mathieu Blondel <notifications@github.com> wrote:

[2016-03-23 07:25] anjishnu commented on #6568
I don't fully understand the behavior of this function you're describing - are you saying that this would have a fixed sized output? I think it would be relatively trivial to use it in conjunction with a separate sampler - but what are the advantages of this approach vis-a-vie #1454 or adding it as a Kfold subclass.

[2016-03-23 10:42] #6541 closed

[2016-03-23 11:32] shruthism commented on #6578
Thank you. I upgrade to 0.17. its working.

Where will the datasets be stored?

On Tue, Mar 22, 2016 at 4:18 PM, Maniteja Nandana <notifications@github.com>
wrote:

[2016-03-23 11:35] maniteja123 commented on #6578
Happy to know ! Do you mean the datasets fetched from the net like California housing dataset ?

[2016-03-23 12:49] hshteingart opened #6581 "sklearn.utils.resample"
The current implementation does not allow to resample n_samples > the number of samples in the input. This should be allowed when replace=True.

[2016-03-23 14:59] joshlk commented on #2593
Hi all,

I've got a slightly different point of view and this may be due the problem setting i'm coming from. In my situation I always want to have the same number of samples but want to test the model on how well it performs if some of the labels are unknown.

Following on from @jnothman example, say we have 10000 unlabeled samples, and 500 labeled samples. We're doing ten-fold cross-validation o

[2016-03-23 15:39] shruthism commented on #6578
kmeans algorithms

On Wed, Mar 23, 2016 at 5:06 PM, Maniteja Nandana <notifications@github.com>
wrote:

[2016-03-23 16:28] rvraghav93 commented on #6580
I am sorry. I just now realized that this issue is a duplicate of #6352 for which there is a PR #6376 ;(

@agramfort do we close this one? (There is a PR for this issue at #6582)

[2016-03-23 17:58] Irene-GM opened #6583 "GridSearchCV may not be working with the new GaussianProcessRegressor (sklearn 0.18)"
Recently I discovered that in version 0.18 of `scikit-learn` a major change will be implemented in the `GaussianProcess` class, which will be forked into two classes: `GaussianProcessClassifier` and `GaussianProcessRegressor`, so I decided so substitute my 0.17 version of gaussian processes by the 0.18 one, which is still on development. I simply renamed the version 0.17 as "_old" and pasted the 0

[2016-03-23 18:20] #6301 closed

[2016-03-23 23:10] ningchi commented on #6581
I agree with you. It bites me as well.

[2016-03-24 07:42] qmaruf commented on #6573
@MechCoder Any suggestion about how to fix this? Probably I am missing something.

[2016-03-24 12:44] HuaizhengZhang opened #6587 "ImportError: cannot import name atleast2d_or_csr"
[code]
`ImportError: cannot import name atleast2d_or_csr`
Why this happened?

[2016-03-24 12:54] ssaeger commented on #6587
Seems to be removed from the code. See also [here](https://github.com/scikit-learn/scikit-learn/issues/4457).

[2016-03-24 13:04] HuaizhengZhang commented on #6587
Thank you.It works @ssaeger

[2016-03-24 14:20] #6352 closed

[2016-03-24 14:20] TomDLT commented on #6580
closing as #6376 is merged

[2016-03-24 14:20] #6580 closed

[2016-03-24 16:58] #6587 closed

[2016-03-24 19:10] maniteja123 commented on #6096
Closing this as these tests are not failing now on master.

[2016-03-24 19:10] #6096 closed

[2016-03-24 22:20] amueller opened #6589 "mem-map failure in scorers on travis"
https://travis-ci.org/scikit-learn/scikit-learn/jobs/118275867

I'm not sure if it is a good idea to allow failures for numpy master.
Was there an issue with a test failing that was not our fault?

ping @ogrisel

[2016-03-25 04:09] nelson-liu commented on #6515
closing because question answered, thanks gael.

[2016-03-25 04:11] nelson-liu commented on #5908
closing because resolved, was improper parameters that made the problem unnecessarily hard for an example. Also, scipy.misc.face() is a lot less suited for clustering than scipy.misc.lena() because there's less contrast in the desaturated versions.

[2016-03-25 04:11] #5908 closed

[2016-03-25 20:27] amueller commented on #6515
We actually do update the PDF documentation, and we have unit tests to ensure that it doesn't break IIRC. So I don't think we need sourceforge any more.

[2016-03-25 20:28] amueller commented on #6515
only that the links to the pdf docs are dead. Pretty sure I fixed that for the last release....

[2016-03-25 21:19] Arafatk opened #6590 "Confused with documentation of Generalized linear model"
In documentation for [linear_model](http://scikit-learn.org/stable/modules/linear_model.html) the title of the page was generalized linear models.
GLM refers to models which have fewer predictors than observations, and follow a distribution from an exponential family. While lasso, ridge, etc. are used in situations when you have many more predictors than observation (and often without a distributi

[2016-03-25 22:17] ben519 opened #6591 "cosine similarity backwards?"
Forgive me if I'm making a dumb mistake but cosine similarity appears to give backwards results using `sklearn.metrics.pairwise.pairwise_distances`

[code]

[2016-03-26 01:34] maniteja123 commented on #6591
Hi, the documentation [here](https://github.com/scikit-learn/scikit-learn/blob/51a765a/sklearn/metrics/pairwise.py#L533) says that ``cosine_distance`` is ``1-cosine_similarity``. I suppose the answer expected was cosine similarity whils pairwise metric returns cosine distance. Hope it helps.

[2016-03-26 01:45] ben519 commented on #6591
Derp.  Thanks for clearing that up for me.

[2016-03-26 01:46] #6591 closed

[2016-03-26 01:51] maniteja123 commented on #6591
Happy to help !

[2016-03-26 05:00] nelson-liu commented on #6515
@amueller in that case, should i raise a quick pr to change the releases link to pypi?

[2016-03-26 07:36] agramfort commented on #6590
that's also what is used in R

https://cran.r-project.org/web/packages/glmnet/glmnet.pdf

please close if you agree.

[2016-03-26 08:56] yurii-andrieiev opened #6592 "ValueError: continuous format is not supported in RidgeClassifierCV"
If you run the following code:
[code]
You get the exception: _ValueError: continuous format is not supported_ with the stacktrace:

But, obviously, I provided a binary output so I don't expect such error here. And if you replace `RidgeClassifierCV(scoring='roc_auc')` with a `RidgeClassifierCV(scoring='roc_auc', cv=2)`, the code runs fine.

My versions:

[2016-03-26 11:02] maniteja123 commented on #6592
Hi, it seems that the values being passed to the scorer in [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/ridge.py#L998) are ``y`` and ``cv_values[:,i]`` which are supposed to ``y_true`` and ``y_score`` for ``roc_auc_score``, but in the scorer, ``_ThresholdScorer`` takes arguments ``X`` and ``y`` which now correspond to ``y_true`` and ``y_score`` in your case

[2016-03-26 15:53] #6590 closed

[2016-03-26 19:21] cphang99 opened #6594 "Testing pipeline with check_estimator"
Hi!

I've been looking at pipelines and as a first step trying to test pipeline with check_estimator. As we can only pass the pipeline object, and there are no default parameters for 'steps', the check_parameters_default_constructible check fails as a no-arg constructor is not possible.

Is it possible to modify estimator_checks to accomodate this? (possibly to cater for other custom meta-estimato

[2016-03-26 20:24] huyiqun opened #6595 "Cost function in logistic regression"
I encountered the problem as I am trying to do [this](http://stats.stackexchange.com/questions/203816/logistic-regression-scikit-learn-vs-glmnet)

It seems like the log-likelihood component is slightly different so I  re-derived the cost function of logistic regression and got something different from the one sklearn uses:

![screen shot 2016-03-26 at 4 25 11 pm](https://cloud.githubusercontent.co

[2016-03-27 17:01] kigawas opened #6596 "StandardScaler's bug when using pickle"
I use `pickle.dump` on this environment:
[code]
And use `pickle.load` on this environment:
[code]

If you dump `StandardScaler` after fitting it, just like `pickle.dump(scaler,open('scaler','wb'))` on Windows(`b` is to avoid format problem on Windows). And load it like `scaler = pickle.load(open('pickles/scaler'))` on Ubuntu, you will get a `sklearn.utils.validation.NotFittedError`.

Notice that `

[2016-03-28 02:10] Heipiao commented on #6370
same problem,how to slove it?

[2016-03-28 10:25] msequino commented on #5281
The configuration below still gets error.

Python: 3.5.1 | Anaconda: 2.4.0 (64-bit) | Pandas: 0.17.0 | Scikit-learn: 0.17.1 | Numpy 1.10.4

[2016-03-28 13:59] LumiaHuan commented on #4033
Does it be solved? I also meet the problem~~~

[2016-03-28 14:00] LumiaHuan commented on #4033
Does it be solved? I also meet the problem~~~

[2016-03-28 14:51] amueller opened #6599 "Implement estimator tags"
Currently the common test hard-code many things, like support for multi-output, or requiring positive input, or not allowing specific kinds of predictions.
That's bad design, but also a big problem for 3rd party packages that need to add to the conditions in the common tests (you need to add to the hard-coded list of estimators with a certain property).
See https://github.com/scikit-learn-contrib/

[2016-03-28 15:18] mblondel commented on #6599
+1 Now that we have the contrib, estimator tags are becoming very important.

For the specific case of `check_estimator`, `estimator_properties` could also be an argument of the function.

[2016-03-28 15:22] naileakim commented on #4033
Same here

[2016-03-28 16:38] filipe-cantarelli commented on #6576
@maniteja123 , You are right.

[2016-03-28 17:00] zygmuntz commented on #4033
Bump. That's a stinky bug.

[2016-03-28 22:05] amueller commented on #6425
@MechCoder you're right, I overlooked that.

[2016-03-28 22:06] amueller commented on #6425
@GaelVaroquaux did you have time to think about the issue?

[2016-03-29 09:51] TomDLT commented on #6595
Your before last equation is not correct:

![codecogseqn](https://cloud.githubusercontent.com/assets/11065596/14103821/29d236bc-f5a2-11e5-8457-8f1cade28f3d.gif)

A second difference is that you start with `y_i` in [0, 1], whereas in scikit-learn's doc (it might be not clear) we use `y_i` in [-1, 1].
With this subtlety, you'll see that my results are compatible with the doc.
Note that this subtlety

[2016-03-29 13:57] LindaSt opened #6600 "Installing Scikit-Learn on Cluster: "Running cythonize failed!" error"
Hi!

I have been trying to manually install scikit-learn in my home directory on a cluster. I have already installed Cython (version 0.20.1, as downloaded here: http://cython.org/). When trying to run python setup.py install --user for the scikit-learn package, I get an error:
[code]
Thanks and best regards
Linda

[2016-03-29 19:14] maniteja123 commented on #6556
@amueller Sorry for disturbing you, but since @rvraghav93 has also mentioned about this, it would be helpful if you can give some insight into what kind of approach is being expected here. Please do reply whenever it is possible. Thanks !

[2016-03-29 19:36] rvraghav93 commented on #6556
No. It is applicable for both `axis=0` or `axis=1`. The `axis` specification is only to derive the imputed value. (i.e to specify if we want a mean along all the feature values or along all the features for that sample)

What we want here is to generate a simple `is_imputed` indicator matrix which will be of shape `(n_samples x n_features)`. The `is_imputed[i, j]` will be 1 if X[i, j] was `missing

[2016-03-29 19:48] maniteja123 commented on #6556
Thanks for the clarification ! I had commented that before I have looked more into imputation methods. I understand now that axis is to just specify whether to impute along columns(features) or rows(samples). I have one doubt though, in ``transform`` method the returned matrix will be shape ``(n_samples x n_features_new)`` but the shape of the indicator matrix will be of shape ``(n_samples x n_fea

[2016-03-29 19:52] rvraghav93 commented on #6556
No. You understood it correctly! So now the returned `X` will have a shape of `(n_samples x (2*n_features))`. Whether or not this is acceptable needs to be discussed.

@giorgiop Could you elaborate your implementation please?

[2016-03-30 01:01] jnothman commented on #6556
I think what's missing here for @maniteja123 is motivation: we want the estimator that is learning from the imputed data to be able to exploit the knowledge that some values come with a higher degree of error than others.

Btw, is there any value in only adding indicator columns containing at least one 1, rather than redundant empty features?

[2016-03-30 01:19] vighneshbirodkar opened #6601 "Rewrite equations with latex mode"
Equations in doc strings can be written much more clearly using shpinx's `:math:` directive. The way equations look in the docs, [for example here](http://scikit-learn.org/dev/modules/generated/sklearn.linear_model.Lasso.html#sklearn.linear_model.Lasso) is not very readable. With the correct formatting the equations can be written to look like this.
![screenshot 2016-03-29 21 18 18](https://cloud.

[2016-03-30 01:20] rvraghav93 commented on #6556
For the example the census income data set (the original ones with the missing values is a good one). You can see how people conviniently choose not to answer some questions ;)

The other one is some bankruptcy dataset which was quoted in a paper by Ding Simonoff on handling missing values in Decision Trees. I haven't found out the link for such a dataset. Their claim is that in the dataset the pr

[2016-03-30 01:22] giorgiop commented on #6556
The motivation is the following: imputation implicitly discards the information that certain examples (rows) had missing values originally. Therefore, before imputation, we add a column for each feature that has at least one missing a value. The additional column is 0 everywhere, except that is it 1 when the corresponding value is missing.

There is no need to double the size of the input in gener

[2016-03-30 01:25] jnothman commented on #6556
I don't think `imputed_features_ = [1,2, 4, 7]` is cumbersome! Also, `get_feature_names` can help.

[2016-03-30 01:25] giorgiop commented on #6556
True. That's a case where features names #6425 would be very useful.

[2016-03-30 01:25] jnothman commented on #6556
Snap!

[2016-03-30 01:31] rvraghav93 commented on #6556
Thats an interesting issue I totally missed ;)

[2016-03-30 01:33] giorgiop commented on #6556
Must be a kind of Australian lunch-time deja-vu effect.

[2016-03-30 01:37] jnothman commented on #6556
;)

[2016-03-30 08:52] mfeurer commented on #6599
This is what we're using in [auto-sklearn for the multinomial naive bayes](https://github.com/automl/auto-sklearn/blob/master/autosklearn/pipeline/components/classification/multinomial_nb.py#L97).

    @staticmethod
    def get_properties(dataset_properties=None):
        return {'shortname': 'MultinomialNB',
                'name': 'Multinomial Naive Bayes classifier',
                'handles_re

[2016-03-30 12:03] jnothman commented on #6599
I think the auto-sklearn stuff is a good start, but that we need to be careful to define the scope of what are useful and not useful properties to annotate. Obviously, things that affect test applicability are worth annotating somehow, but working out what exact vocabulary describes the (in)applicability of tests is non-trivial. It would be, for instance, much easier in some senses to have a way o

[2016-03-30 12:29] mblondel opened #6603 "Add scikit-learn-contrib to homepage"
To attract more projects, we should add [scikit-learn-contrib](https://github.com/scikit-learn-contrib/scikit-learn-contrib/blob/master/README.md) to our homepage.

Here's where I would put it.

![sklearn](https://cloud.githubusercontent.com/assets/233706/14142016/f1813c8c-f6bd-11e5-8126-00fabdca8344.png)

Contributor welcome!

[2016-03-30 12:34] GaelVaroquaux commented on #6603
I think that we don't want to add that much to our homepage. I remember
that we want through a phase of decluttering and that it was important.

I would rather have it on top of the related_projects page, and
well-visible. And add this page in the documentation drop-down.

[2016-03-30 12:39] mblondel commented on #6603
I would like scikit-learn-contrib to be well visible, the goal being to promote the initiative.

[2016-03-30 12:40] GaelVaroquaux commented on #6603
Still, I don't think that we can add something to the front page without
removing something. @amueller was the driving force behind the clearn-up.
Opinions?

[2016-03-30 12:41] maniteja123 commented on #6556
Thanks all for the motivation ! I don't have enough exposure to practical aspects to take an initial stance. That's why I thought it would be prudent only to continue with something after taking your advice and that's how I learn from most of the discussions here. My apologies if I am slow in my understanding.

So, the idea suggested here is to append a column to each feature which had at least on

[2016-03-30 12:47] rvraghav93 commented on #6556
By "motivation", Joel refers to the motive of adding this feature. ;)

Why the `n_features_new`? Are any of the feature columns dropped at any point?

[2016-03-30 12:51] jnothman commented on #6556
Yes: motivation in an argumentative sense, not an emotional one!

[2016-03-30 12:56] maniteja123 commented on #6556
Thanks @rvraghav93 , I just wanted to mention that this is where I get to learn the practical implications and the efforts taken to satisfy various use cases and that is the reason I ask for your valuable input :)

And regarding the shape, the documentation [here](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.Imputer.html) says

When axis=0, columns which only contained mi

[2016-03-30 12:59] rvraghav93 commented on #6556
Ah I didn't know that. Well in that case yes, you are right it will indeed be `(n_samples x n_features_with_no_all_missing + n_features_with_partial_missing)`! I think you can go ahead with this discussion and send a PR!

[2016-03-30 13:10] maniteja123 commented on #6556
Thanks for the clarification. Will try implementing and get back again with doubts !

And sorry Joel if I seemed emotional. I understand what you implied :).

[2016-03-30 14:19] maniteja123 commented on #6556
Just a small doubt, in the transform method at the end, the filling is done as follows

if self.axis == 0:
                coordinates = np.where(mask.transpose())[::-1]
            else:
                coordinates = mask

            X[coordinates] = values

Wouldn't something like ``X[mask]=values`` suffice here. It is not relevant to what needs to be done but just out of curiosity.

Also regar

[2016-03-30 15:18] rvraghav93 commented on #6556
Try working with this toy problem to understand why that won't work - `Imputer(axis=0, missing_values=0).fit_transform([[0, 1, 1, 99], [1, 5, 0, 1], [5, 8, 8, 1], [8, 0, 99, 1]])`

I would prefer stacking and adding an attribute as Joel suggested to indicate which columns had missing values originally.

[2016-03-30 15:19] lesteve commented on #6589
IIRC I put numpy master in allowed failure because of some reductions on memmap objects return memmap 0d array. I have a numpy PR on https://github.com/numpy/numpy/pull/7406 that I'll try to get merged now that I am back from holidays.

[2016-03-30 15:53] maniteja123 commented on #6556
Oh thanks I understand now.. there can be rows with no missing values but that can't be the case for columns.

[2016-03-30 18:00] maniteja123 commented on #6556
I have created a PR with minimal changes in #6607. I am not sure it is the best approach but did spend my time to see if it works as expected. Please do have a look at your convenience and give your suggestions. Thanks.

[2016-03-30 18:36] rvraghav93 commented on #6556
I think it would help your PR if you ping the prospective reviewers in that PR itself...

[2016-03-30 18:41] maniteja123 commented on #6556
I didn't want to disturb you all by pinging. Will do it from next time :)

[2016-03-30 19:52] MechCoder commented on #6601
Sounds great

[2016-03-30 22:22] #6538 closed

[2016-03-30 23:08] MechCoder commented on #6596
@giorgiop Ouch!

[2016-03-30 23:29] MechCoder commented on #6596
Temporary fix. Set `scaler.scale_ = scaler.std_.copy()`

[2016-03-31 00:05] jeff1evesque opened #6609 "Add 'jeff1evesque/machine-learning' to 'related_projects.rst'"
Per https://github.com/scikit-learn-contrib/scikit-learn-contrib/issues/4#issuecomment-203689002, I will submit a pull request to add [jeff1evesque/machine-learning](https://github.com/jeff1evesque/machine-learning), to the [`related_projects.rst`](https://github.com/scikit-learn/scikit-learn/blob/9b7176dd9d033bd928ffb5f57ade5d01a6707a53/CONTRIBUTING.md).

[2016-03-31 03:26] jnothman commented on #6594
Closely related #6423. Possible solution in #6599.

[2016-03-31 07:32] lesteve commented on #6596
Hmmm I am afraid there is no guarantee that pickles created with a scikit-learn version can be unpickled with a different scikit-learn version, see http://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations:

* Models saved in one version of scikit-learn might not load in another version.

[2016-03-31 07:55] kigawas commented on #6596
@lesteve You could try `MinMaxScaler` :), which won't raise such an error.

[2016-03-31 08:04] lesteve commented on #6596
OK maybe I wasn't clear enough in my previous message, I'll try again. If you try to dump a scikit-learn estimator with one version of scikit-learn and load it in another version, it may work but scikit-learn doesn't give you any guarantee about that.

[2016-03-31 09:41] joshlk commented on #4813
I can help contribute a prob threshold meta-estimator if its still required?

[2016-03-31 16:43] sri-srinivas commented on #5851
Do you have a timeline for RPCA based outlier detection to be completed?

[2016-03-31 16:46] apapanico commented on #5851
Andreas, sorry for the slow reply.  Here is the application: http://papers.ssrn.com/sol3/papers.cfm?abstract_id=2717316
Unfortunately data is not shareable.

[2016-03-31 16:53] apapanico commented on #5851
This appears to be a scalable algorithm for solving the L+S problem.  I have not tried it out yet.
http://www.sciencedirect.com/science/article/pii/S0925231214005372

How would one envison this in the fit/predict framework of sklearn?  I was thinking that once L is extracted, and likely stored in SVD form, those components could be used in the predict stage to do out-of-sample S extraction on new

[2016-03-31 18:36] welch commented on #5851
Fit/predict isn't a very natural way to access this. Sometimes you want L (eg, face recognition), sometimes you want S (eg, static background removal).

BTW, a much faster variant of this algorithm is embedded in a subsequent paper,
   Y. Peng, A. Ganesh, J. Wright, W. Xu, Y. Ma, "Robust Alignment by
   Sparse and Low-rank Decomposition for Linearly Correlated Images",
   IEEE Transactions on Patt

[2016-03-31 22:50] betatim commented on #4813
I recently need this and constructed a pair of meta estimators that together allow you to optimise the threshold as if it was yet another hyper parameter:
[code]
The code for the two estimators is the following:
[code]

A bit more detail and part of the use case I had is in a blog post on [unbiased performance estimates](http://betatim.github.io/posts/unbiased-performance/#Threshold-optimisation).

[2016-04-01 00:43] apapanico commented on #5851
Sweet, I have read that RASL paper but I will have to check it out again.  I recall they briefly mentioned an algorithmic improvement.  I was paying attention more to the alignment part since I have in mind an application for that.  Also, I'm very interested to see your RASL implementation.

As for fit/predict, I just think once the decomposition is trained, something must be done with the decompo

[2016-04-01 03:04] MechCoder commented on #5824
Fixed by

https://github.com/scikit-learn/scikit-learn/pull/6127 and
https://github.com/scikit-learn/scikit-learn/pull/6166

[2016-04-01 03:04] #5824 closed

[2016-04-01 05:25] StevenLOL opened #6614 "ValueError in sparse_array.astype when read-only with unsorted indices [scipy issue]"
To reproduce:

[code]

Output:

ValueError: UPDATEIFCOPY base is read-only

[code]

[2016-04-01 07:09] glouppe commented on #4813
Dont listen to it! :)

In this case there is nothing wrong with the API because `X.shape[0]` does not change. Changing `X.shape[1]` is fine and we have many examples of that in scikit-learn, `PCA` is one of them.

[2016-04-01 07:52] BiaDarkia commented on #6614
I will have a look into why the error is raised.

[2016-04-01 08:20] Dinh-Hung-Tu commented on #6370
I encounter exactly the same problem with joblib 0.9.4. Can someone help how to solve this issue?
To view joblib version:
`from sklearn.externals import joblib
print(joblib.__version__)`

[2016-04-01 08:59] lesteve commented on #6370
This problem has been fixed in joblib master. It won't be fixed in scikit-learn until:
1) we do a new joblib release
2) we update scikit-learn master to have the new joblib release
3) if you are using released versions of scikit-learn, which I am guessing you are, you will have to wait until there is a new scikit-learn release

Are these warnings just a minor annoyance or do you see a lot of them?

[2016-04-01 09:01] joshlk commented on #4813
In some instances I think it be more appropriate to mark the samples whos prediction falls short of the threshold with an unclassified marker instead of removing them completely.

For instance, in the [semi-supervised context](http://scikit-learn.org/stable/modules/label_propagation.html) (`LabelPropagation` and `LabelSpreading`) unclassified samples have a `y` value of -1. You may for example wan

[2016-04-01 09:23] joshlk commented on #4813
@betatim do you mind elaborating on this point more:

I'm currently doing a lot of multi-class classification and use the micro-F1 score as my evaluation metric. Do you know how could I optimise a threshold in this context?

[2016-04-01 14:46] mblondel opened #6616 "Public vs. private utils again"
Now that we created scikit-learn-contrib, one of scikit-learn's roles is to ease the creation of new contrib projects. So we really need to sort out the public vs. private utils issue once and for all. Despite many discussions, AFAIK, we haven't reached a consensus or come up with a realistic plan.

Whether we like it or not, people do use utils and they complain when utils break.

Based on this I

[2016-04-01 14:56] mblondel commented on #6616
As a corollary of 1., we can also set some of the current utils as private but we need to apply the usual 2 release rule before.

[2016-04-01 16:00] tguillemot commented on #6074
Thanks @jmainpri, I'll correct the problem with the #6407.

[2016-04-01 16:17] agramfort commented on #6616
Ok for me

[2016-04-01 17:11] amueller commented on #5851
also notebook here by @bmcfee https://gist.github.com/bmcfee/a378bfe31a75769c583e

[2016-04-01 17:33] MechCoder commented on #6596
Closing this following @lesteve 's explanation.

[2016-04-01 17:33] #6596 closed

[2016-04-01 18:17] apapanico commented on #5851
Apologies. I've been saying fit/predict. Meant fit/transform like PCA and
the other decomposition methods.
On Apr 1, 2016 10:12 AM, "Andreas Mueller" <notifications@github.com> wrote:

[2016-04-01 18:47] betatim commented on #4813
Not sure why I didn't make it one class. Might have been because I wanted to have `PredictionTransformer` as a single step, eg do this for several different classifiers and then make a `FeatureUnion`.

Not quite sure I understand your question threshold optimisation. If you use `GridSearchCV` you can pass your own scorer, together with a set of threshold values to try. This should then pick the be

[2016-04-01 19:17] saddy001 opened #6617 "OneClassSVM infinite run + max_iter and verbose have no effect"
OneClassSVM fit seems to run infinitely on my train data for all kernels. The other args are default ones.

oc_svm = OneClassSVM(max_iter=10, verbose=True)
oc_svm.fit(X, preds_correct)
joblib.dump(X, 'X.dmp')
joblib.dump(preds_correct, 'y.dmp')
X.shape # (278217, 19)

Also, max_iter and verbose seem to have no effect.
[Xy.tar.lzma.zip](https://github.com/scikit-learn/scikit-learn/files/200202/Xy.t

[2016-04-01 19:21] rvraghav93 commented on #5463
closed in favor of #6616

[2016-04-01 19:21] #5463 closed

[2016-04-01 19:36] agramfort commented on #6617
first y is ignored during fit for such an unsupervised estimator.

second libsvm does not scale to very high number of samples as you have.
Yet you can try to scale the features in case it helps...

[2016-04-01 19:50] welch commented on #5851
that's some impressive code by @bmcfee (when does he find time to sleep?!). It has the "shrinkage-inflation" I mentioned, and seems to be even smarter about managing it.

[2016-04-01 20:10] bmcfee commented on #5851
Aw shucks :blush:

The "smarter" shrinkage-inflation method is out of the [ADMM book](https://web.stanford.edu/~boyd/papers/pdf/admm_distr_stats.pdf), section 3.4.1.

I bet you could accelerate it a bit further by using over-relaxation (section 3.4.3), but I haven't experimented with that.  [This recent paper](http://arxiv.org/pdf/1502.02009.pdf) investigates relaxation, but I haven't taken the ti

[2016-04-01 21:37] saddy001 commented on #6617
Thanks for your reply. You are right, y is not necessary here, but it also shouldn't affect the fitting process.
The features are already scaled with RobustScaler.
What do you mean with that it does not scale to very high number of samples? I'm precisely trying to reduce the number of samples with OneClassSVM by eliminating outliers.

[2016-04-01 22:15] MechCoder commented on #6568
Sorry for the delayed reply. I did not mean a function but a class `LabelResampler`. This would be similar to the custom label distribution in https://github.com/scikit-learn/scikit-learn/pull/1454

The use-case would be to tune your class priors to obtain your class prior hyperparameter. Example

    from sklearn.pipeline import Pipeline
    from sklearn.preprocessing import ClassResampler
    fr

[2016-04-01 22:23] #6576 closed

[2016-04-01 22:39] anjishnu commented on #6568
Let me go through the pipeline code to understand it better - in general yes - it seems useful - in practice I've found that maintaining overall sample size constant with prior resampling is detrimental to the majority class in certain cases (if it has a lot of variance).

That seems to be the main flaw with this approach - in most of the use cases I run into I'd end up artificially inflating the

[2016-04-02 02:07] benkamphaus commented on #6290
I tripped up on it as well before I read more carefully. I believe @pkch 's comment comes from reading the example/docstring/docs *output* as the *constructor* by mistake. For reference,  [docs page](http://scikit-learn.org/stable/modules/generated/sklearn.cross_validation.StratifiedKFold.html) and [code](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/cross_validation.py#L494-L49

[2016-04-02 06:58] #6581 closed

[2016-04-02 07:02] agramfort commented on #6617
OneClassSVM is just slow with high number of samples.

consider using :

http://scikit-learn.org/dev/modules/generated/sklearn.ensemble.IsolationForest.html

in the dev version

[2016-04-02 19:05] saddy001 commented on #6617
IsolationForest works for my purposes. Thanks.

[2016-04-02 19:05] #6617 closed

[2016-04-03 09:34] jnothman commented on #6616
Thanks for raising this. This sounds like a reasonable approach, and I
guess we'll see when there's a PR in progress whether we need exceptions to
the "make everything public API" approach. Or we may decide we want to
start deprecating some immediately. Does this include sklearn.utils.fixes,
for instance?

On 2 April 2016 at 03:17, Alexandre Gramfort <notifications@github.com>
wrote:

[2016-04-03 09:40] srikar2097 commented on #6370
Any update on this issue? I am facing same issue. updating joblib to latest does not help either.

Note its not just a warning. **Code execution stalls**. nothing happens after this warning is shown.

[2016-04-03 09:55] jnothman commented on #6370
If code execution stalls, it should be presumed unrelated to the warning.

On 3 April 2016 at 19:40, srikar <notifications@github.com> wrote:

[2016-04-03 13:07] MaxNoe commented on #4813
An easy way to optimize and validate the prediction threshold would be most welcome!

[2016-04-03 16:21] mayou36 commented on #6161
So it is an error on the website: because on the website in the API description of version 0.17, it is specified, that a module named module_selection exists, whereas in the 0.16 selection it is not (whereas the cross_validation still exists).
You may should change this API description of version 0.17 to the 0.16 version.

[2016-04-03 19:19] Hubbitus opened #6619 "LogisticRegressionCV and GridSearchCV give different estimates on same data"
I have asked on [StackOverflow](http://stackoverflow.com/questions/36271166/how-to-get-comparable-and-reproducible-results-from-logisticregressioncv-and-gri?noredirect=1#comment60268059_36271166) before and got suggestion fill issue there.

It have fully reproducible sample code on included Boston houses demo data.
Please look:

I want to score different classifiers with different parameters.

For

[2016-04-03 21:47] GaelVaroquaux commented on #6619
If you really want the same thing between between LogisticRegression and
LogisticRegressionCV, you need to impose the same solver, ie
solver='netwon-cg' for LogisticRegression in your case. This has not only
an impact on the actual solver used (which is important), but also on the
fact that the intercept is penalized with liblinear, but not with the
other sovlers.

[2016-04-04 03:14] 22csnyder commented on #6045
Came across exactly this issue today. Seems appropriate to leave this remark here as a show of interest.

[2016-04-04 04:53] mblondel commented on #6616
Indeed fixes should be removed when we no longer need them, since we want upstream packages to depend directly on SciPy. Moreover, packages that depend on scikit-learn should require at least the same version of SciPy as scikit-learn so removing the fixes doesn't seem too problematic.

[2016-04-04 05:19] GaelVaroquaux commented on #6616
I agree with the general idea of this proposal, and it feels right.

Don't you think that making everything public is a bit heavyhanded? Is
there really everything in there of general use and that we want to
broadcast to dependent packages? The problem of supporting all this is
that it may come as a burden.

I suggest that we try to import as much as possible public stuff in
sklearn/utils/__init__

[2016-04-04 07:19] betatim commented on #4813
@amueller and others any thoughts re: optimisation on exposing the threshold as yet another hyper-parameter? If we have a minimal amount of consensus that this would work (as opposed to say evaluating the scoring metric `n_samples` times or doing something smarter) I will start a PR and setup things with @joshlk so we can both add patches.

[2016-04-04 07:23] MaxNoe commented on #4813
Does this mean, you have to train again? Because this is unnecessary for the prediction threshold optimization in any case I can imagine right now.

[2016-04-04 07:44] mblondel commented on #6616
My point is that we don't know which utils people use or not and people complain when things break. We can trim down our set of public utils but we need to do it progressively through the usual two release cycle rule.

I would rather keep the hierarchy. This is important for documentation purposes.

[2016-04-04 07:48] mblondel commented on #6616
We can't do that. This will break stuff in released code (e.g. lightning).

[2016-04-04 08:14] betatim commented on #4813
Yes you would have to retrain, this is what I had in mind as a [starting point](https://github.com/scikit-learn/scikit-learn/issues/4813#issuecomment-204162467).

You could also imagine a `ThresholdClassifierCV` that runs its own optimisation loop on the inside. Then you could save yourself having to refit. You'd want this to use some form of CV to find the best threshold. When being used inside `

[2016-04-04 09:31] mackaiver commented on #4813
Looks like a good idea to me to find the threshold according to some score. Once you found it you could then use ThresholdClassifier you mentioned earlier.

@joshlk I dont know about other areas of HEP but in astroparticle related research many people use the numbers mentioned by Tim. I'm not sure if thats the right way to go when comparing between different models  (changing the prediction thresh

[2016-04-04 09:57] TomDLT commented on #6619
`LogisticRegressionCV.scores_` gives the score for all the folds.
`GridSearchCV.best_score_` gives the best mean score over all the folds.

To get the same result, you need to change your code to:
[code]
By also using the default `tol=1e-4` instead of your `tol=10`, I get:
[code]

The (small) remaining difference might come from warm starting in `LogisticRegressionCV` (which is actually what makes

[2016-04-04 11:40] lesteve commented on #6578
@shruthism would you be kind enough to close this issue now that it has been solved?

Note: it is preferable to ask usage issues on StackOverflow with the scikit-learn tag. github is supposed to be used more for bugs and feature requests.

[2016-04-04 12:17] GaelVaroquaux commented on #6616
This was private. So if people are using things that change, too bad.

And, as a data point, nilearn will be affected, so I am putting my own
work at risk too when saying this.

It's just a question of avoiding friction and burden on scikit-learn.

[2016-04-04 12:41] jnothman commented on #6616
I don't think there's much burden if we immediately mark as deprecated
anything that may have been assumed reusable but we don't want to keep that
assumption.

On 4 April 2016 at 22:17, Gael Varoquaux <notifications@github.com> wrote:

[2016-04-04 12:42] GaelVaroquaux commented on #6616
Granted. I am +1 with that approach.

[2016-04-04 13:49] mblondel commented on #6616
No, it's our fault. If it had been private, the module should have been named `_utils`.

[2016-04-04 14:15] GaelVaroquaux commented on #6616
Anyhow, I agree with Joel's comment that the burden isn't very big.

[2016-04-04 15:06] h-mayorquin commented on #988
Maybe this?

http://scikit-learn.org/stable/auto_examples/manifold/plot_mds.html#example-manifold-plot-mds-py

[2016-04-04 22:46] Hubbitus commented on #6619
@GaelVaroquaux unfortunately pass `solver='netwon-cg'` into `LogisticRegression` constructor does nothing.

@TomDLT thank you very much! It is valuable fix. Error in 5th digit after 0 is much more closer to truth.

But could you please also clarify what mean several warnings what I receive on `tol=1e-4` from both:
[code]
may it be a reason of remaining difference?
Or is it expected some deviance f

[2016-04-05 00:00] jnothman commented on #6619
Well spotted @TomDLT

[2016-04-05 00:04] jnothman commented on #6619
Error in 5th digit corresponds to a `tol` of 1e-4. The guarantee of equivalence should be: difference is less than `tol`.

[2016-04-05 00:04] #6619 closed

[2016-04-05 01:34] emerson19 commented on #4830
Solved it for me as well, thanks

[2016-04-05 12:23] GaelVaroquaux commented on #6600
You need to give us a more complete traceback. There isn't enough
information here.

[2016-04-05 12:25] lesteve commented on #6589
The numpy PR has been merged now, so this can be closed now.

The latest build on master doesn't have the error as you can see in this [Travis log](https://travis-ci.org/scikit-learn/scikit-learn/jobs/120852613).

[2016-04-05 14:32] shanmuga-cv opened #6625 "Missing input type conversion to numpy array in OneVsOneClassifier"
The `fit` function in `sklearn.multiclass.OneVsOneClassifier` fails to convert the input X to numpy array. This results in `IndexError` (with `pandas.DataFrame`) and `AttributeError` (with python list).

This can be verified using
[code]

[2016-04-05 15:34] LindaSt commented on #6600
When I type in "cython" into the terminal I get this:
_Cython (http://cython.org) is a compiler for code written in the
Cython language.  Cython is based on Pyrex by Greg Ewing.

Usage: cython [options] sourcefile.{pyx,py} ...
_
and then a list of all options for cython

when I try "python setup.py install --use" I get:
_Partial import of sklearn during the build process.
Generating cython files
C

[2016-04-05 16:19] vzocca opened #6627 "GridSearchCV with xgboost estimator hangs when n_jobs!=1"
I don't know if this is related to #6147. I am using "_The scikit-learn version is 0.18.dev0_" and I have no exception though, so this is different.

In any case, this is my code (the data I am using is the same as the data for the Santander kaggle competition, too big to attach).

  `alg = XGBClassifier(max_depth=4, min_child_weight = 1, n_estimators=1000, learning_rate=0.0202,     gamma=0, nthre

[2016-04-05 18:05] qmaruf commented on #6557
@amueller Could you please explain this issue a little bit? I want to work on this.

[2016-04-05 19:26] ender-wieczorek opened #6628 "slearn.isotonic.IsotonicRegression cannot be copied before being fit"
slearn.isotonic.IsotonicRegression cannot be copied before being fit.

`import sklearn.isotonic`
`import copy`
`x = sklearn.isotonic.IsotonicRegression()`
`copy.copy(x)`

AttributeError: 'IsotonicRegression' object has no attribute 'X_'

Scikit-Learn version: 0.16.0

[2016-04-05 19:33] maniteja123 commented on #6628
Hi, thanks for the report. I am not sure about the reason but I am able to reproduce on the dev version. Would [clone](http://scikit-learn.org/stable/modules/generated/sklearn.base.clone.html) method be able to serve the purpose here ?

[2016-04-05 21:44] vighneshbirodkar commented on #5851
This paper
http://arxiv.org/pdf/1009.5055v3.pdf

Lists an "Inexact ALM method" which seems to be faster than the one suggested by Candes

[2016-04-05 22:16] welch commented on #5851
That's the RASL paper's inner loop, without jacobians for image alignment (Ma is an author on each). It's what @apapanico, myself, and others seem to have implemented, with small differences in parameter values.

The URL in the paper lays out a nice taxonomy of related methods and applications. The RASL example code is a link off that page.

[2016-04-06 05:06] apapanico commented on #5851
The algorithm used in the Candes paper is taken directly from that Lin, Chen, Ma paper.  They cite it as such in Section 5.  My initial introduction was through Candes' Matlab code so I just ported that and it makes no adjustment of the step length parameter μ.

I don't know if this one has been suggested but another good paper on this topic, of which algorithms is just one section, is Bouwmans an

[2016-04-06 07:32] lesteve commented on #6627
This is very likely a completely different issue indeed.

Could you post the full code that you are using ? It looks like the Santander dataset from Kaggle is not that big so we could download it and see whether we can reproduce the problem. I am assuming this is the dataset you are talking about: https://www.kaggle.com/c/santander-customer-satisfaction/data.

[2016-04-06 08:11] lesteve commented on #6600
Any reason why you are using Cython 0.20.1. For a reason I haven't looked into I get the same error as you with 0.20.1 and it only works for cython versions >= 0.22.

Not sure whether you downloaded the archive from http://cython.org but I would strongly encourage you to install Cython using pip:

[code]

which will give you the latest cython version (you can use `pip install cython==0.23` if you

[2016-04-06 08:12] lesteve commented on #6628
Agreed using `sklearn.base.clone` is the right thing to do.

[2016-04-06 09:21] vzocca commented on #6627
Yes, that is the dataset.
There is not much more code besides what I posted. I do some data manipulation (removing constant columns and duplicates) but no more than that, and the issue will remain even if you don't.

So:

    #load data
    target = "TARGET"
    train_data = pandas.read_csv("Data/train.csv")
    test_data = pandas.read_csv("Data/test.csv")

    predictors = test_data.columns.value

[2016-04-06 09:38] lesteve commented on #6627
Great thanks ! General comment: the easier you make it to reproduce your problem the better the quality of feedback you'll get.

Minor comment you can use python after the triple backquotes to have syntax highlighting in your snippet, see this [link](https://help.github.com/articles/creating-and-highlighting-code-blocks/).

[2016-04-06 09:39] lesteve commented on #6290
Maybe what we should do is change the `StratifiedKFold.__repr__` to have `y=` rather than `labels=` ...
@benkamphaus PR welcome. Looks like the same thing is happening for other classes in the same file by the way so you could fix them in the same PR.

[2016-04-06 09:56] GaelVaroquaux commented on #6290
Maybe the documentation can be improved. It's not clear to me that users stumble onto this via the repr, and in general I don't really like tweeking repr to fix understanding problems.

[2016-04-06 10:05] lesteve commented on #6627
OK I am guessing you are using xgboost and there may be a bad interaction going on between the xgboost thread pool and multiprocessing from the python stdlib. You can find a bit more details there: https://pythonhosted.org/joblib/parallel.html#bad-interaction-of-multiprocessing-and-third-party-libraries

A few things you could try to see whether the issue goes away:
* use nthread=1 in XGBoostClass

[2016-04-06 10:14] lesteve commented on #6290
The only place labels is mentioned is in the doctest. It took me a little while but it does make sense when you read this sentence again:

Here is the doctest for completeness (I believe the output mentioned by @benkamphaus is the one from `print(skf)`):
[code]

On top of that, there is this general convention (although not respected in general) that repr may be evaled and return the object. For e

[2016-04-06 11:33] vzocca commented on #6627
Thank you lesteve, I removed n_jobs from the GridSearchCV call and that fixed the issue. I might try what you suggest in the future but for now I am happy as it is. I just wanted to make you aware of this issue, and possibly help others who may encounter the same problem, suggesting a possible temporary solution. Thank you.

[2016-04-06 11:44] lesteve commented on #6627
Would you be kind enough to just try whether setting nthread=1 in XGBoostClassifier fixes it as well ?

This would allow to be more confident that the source of the problem is understood. I don't have xgboost installed unfortunately and I would like to avoid spending too much time on this.

[2016-04-06 12:36] lesteve commented on #6627
Probably relevant, from https://github.com/dmlc/xgboost/tree/master/python-package#note:

[2016-04-06 13:13] vzocca commented on #6627
Of course, I'd be happy to help. Yes, that solves the issue as well (setting nthread=1). I don't have Python3 and at this point I'd rather not mess up with Python's installation. By the way, I am using MacOS and found issue #5115. Don't know enough about the system, could it be related?

[2016-04-06 13:57] BassT commented on #1393
+1 also for warning.

[2016-04-06 14:25] lesteve commented on #6627
Good to know that setting nthread=1 fixes it for you.

Don't worry about trying to test the solution proposed for Python 3. From the xgboost note mentioned above I am reasonably confident that it would work.

I am afraid you'll have to leave with the work-around for now (either setting n_jobs=1 or nthread=1). From what I understand this is a fundamental limitation of multiprocessing in python.

[2016-04-06 15:30] fabioticconi opened #6630 "Different alpha selection strategies in LinearModelCV"
LinearModelCV selects the alpha with the minimum MSE across folds:

[code]

This is not always advisable, ie we might instead want to trade a slightly "worse" alpha for a less complex model (less variables), or even a more complex one (in my case for example I'd be happy to trade a higher MSE for a few more variables selected).

Glmnet has the option to use either the min-MSE alpha, or a less comp

[2016-04-06 15:45] fabioticconi commented on #6630
Example of implementation for the case "least complex model", that is: we take the biggest alpha whose mse is less or equal to the min-alpha mse plus its standard deviation.

[code]

[2016-04-06 16:43] vzocca commented on #6627
I am happy with the work-around. I just think it is useful to document it. Thank you for your time.

[2016-04-06 16:56] LindaSt commented on #6600
I did not use pip because I am working on a university cluster that does not have it installed. So I thought it would be easier to directly install cython the archive from the irwebsite. This is the version I got from the download link on their website, indicated as the most current version 0.24. I have no idea why I ended up with version 20.1 from that...

I will check with cython abouth the vers

[2016-04-06 17:22] #6600 closed

[2016-04-06 18:12] agramfort commented on #6630
I think it would be a useful contrib

[2016-04-06 20:56] rahulrj opened #6633 "ImportError: cannot import name MLPClassifier"
Some StackOverflow answers mentioned it is available in version 0.18 dev. But i can't find where that branch is? In this repo it's only upto version 0.17.
Since i installed `sklearn` using `miniconda`, and if i clone any branch of `sklearn`, will simply putting it into `miniconda/pkgs` directory work?

[2016-04-06 21:02] nelson-liu commented on #6633
To install 18.0dev, install scikit-learn from this github repo.
's master branch.  see http://scikit-learn.org/stable/developers/contributing.html#retrieving-the-latest-code or http://stackoverflow.com/questions/8247605/configuring-so-that-pip-install-can-work-from-github

[2016-04-06 21:04] maniteja123 commented on #6633
The version 0.18 is the dev version and I suppose the module is [this](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neural_network/multilayer_perceptron.py). You can install it using the instructions from [here](http://scikit-learn.org/stable/developers/contributing.html#retrieving-the-latest-code). Hope it helps.

[2016-04-07 01:34] jnothman commented on #6630
Hmm... if it were possible to give each estimator a complexity score, the
same functionality could be provided in GridSearchCV...

On 7 April 2016 at 04:12, Alexandre Gramfort <notifications@github.com>
wrote:

[2016-04-07 02:52] Michael728 commented on #4830
solved my problem ,thanks

[2016-04-07 04:49] hlin117 commented on #1837
Progress?

[2016-04-07 04:51] jnothman commented on #1837
See https://github.com/scikit-learn/scikit-learn/pull/2759#issuecomment-198968478 for the latest!

[2016-04-07 07:41] anntzer opened #6635 "Docs of sklearn.cluster.Birch says that n_clusters defaults to None; it actually defaults to 3"
All's in the title.
Both in 0.17 and master.

[2016-04-07 08:03] jnothman commented on #6635
please submit a PR

On 7 April 2016 at 17:41, Antony Lee <notifications@github.com> wrote:

[2016-04-07 17:55] rvraghav93 commented on #6627
@lesteve should we close this? @TomDLT

[2016-04-07 20:14] braunmagrin opened #6637 "Incorrect phrasing in random forest documentation"
I believe the following text:

Would be better without the "are used", like so:

[2016-04-07 20:14] braunmagrin commented on #6637
I'll create a pull request with this change in a couple minutes.

[2016-04-07 20:27] #6637 closed

[2016-04-07 20:55] amueller commented on #5851
In terms of interface, I'd say ``transform`` projects to the low-rank part and ``score_samples`` (maybe?) produces the norm of the residuals for outlier detection?

[2016-04-08 00:17] ericmjl opened #6639 "sklearn.preprocessing.MultiLabelBinarizer not behaving intuitively"
Hi guys,

I recently ran into this interesting observation.

If I do:

[code]

Then I get the binarization done as expected.

[code]

However, I found it more intuitive to do:

[code]

In which the output is:

[code]

Is there a reason why the API was designed to use iterable of iterables, rather than a single iterable? No biggie, just curious about this design choice.

[2016-04-08 03:31] lesteve commented on #6627
I think so.

[2016-04-08 03:39] lesteve commented on #6627
If someone can edit the title to be something like "GridSearchCV with xgboost estimator hangs when n_jobs!=1" even better.

[2016-04-08 04:28] genliu777 opened #6640 "does not draw the ellipse!"
hi,
the code in http://scikit-learn.org/stable/auto_examples/classification/plot_lda_qda.html
does not draw the ellipse!

i comment out "plot_qda_cov(qda, splot)" and "plot_lda_cov(qda, splot)" in the for loop at the end of the file, and get the figure as same as which i do nothing, that means those two function does not draw the ellipse as they should!

[2016-04-08 05:09] jnothman commented on #6639
Conventionally, the input format to `fit` and `transform` is identical. It is a sequence of instances, where for this estimator an instance has a set of assigned labels. Thus `.fit(['Doom', 'Metal', 'hey', 'world'])` is interpreted as four instances, each with a set of labels. I don't see what's strange about that. The effect you want is trivial to achieve: `.fit([['Doom', 'Metal', 'hey', 'world']

[2016-04-08 07:42] Waffleboy commented on #6370
Facing the same issue, using scikit 0.18 dev version. Any ideas?

[2016-04-08 08:23] vzocca commented on #6627
Is there a list of know issues? Should this be added there or add a note somewhere with explained why it cannot be solved?

[2016-04-08 11:54] ericmjl commented on #6639
I see, so the key here is that the input format to `fit` and `transform` are identical. That helps - thanks a lot!

Could there be a "counter-example" to the examples placed on the documentation [page][1], such as the one that I made a mistake with, that illustrates what not to do? In using the API, I've found myself not being the only one who may need a reminder to encapsulate the list of labels

[2016-04-08 14:00] yarikoptic opened #6643 "sklearn.datasets.tests.test_svmlight_format.test_dump fails on arm64"
[code]

I know that the architecture is still exotic and not yet sure if issue doesn't lie somewhere within numpy's beta, but decided to make a record of it:  Debian builds on arm64 (and only there!) have failed with 0.17.1 (see e.g https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=arm64&ver=0.17.1-1&stamp=1460049734)

[code]

and here is the detail:

[code]

so feels like some alig

[2016-04-08 14:56] benkamphaus commented on #6290
I think having the `__repr__` match the keyword argument for the constructor is probably a good idea, but that's just my $0.02. Just a tiny point of clarification, users stumble upon it only indirectly from the `__repr__` - via docs. I'm happy to take a stab at a PR for this and the other classes if it's welcome, but I recognize it's the kind of PR that doesn't really solve much and could be poten

[2016-04-08 17:01] analca3 opened #6645 "Why is KNearestNeighbors slower with n_jobs > 1?"
Hi all! I've asked this on StackOverflow but I didn't get any answer :(. I can't understand why KNearestNeighbors is slower with n_jobs > 1. I've set the start method for multiprocessing to _forkserver_ but it's near 100 times slower...

[code]

I run this sample code and I post results.

[code]

Output:

[code]

Could anyone explain me this behaviour? I've tried with so much complex datasets and

[2016-04-08 19:21] alichaudry commented on #5956
Was there a resolution to this bug? I've run into something similar while doing `n_jobs=-1` on RandomizedLogisticRegression, and didn't know whether I should open a new issue here. Here's the top of my stack:

[code]

Someone ran into the [same exact problem](http://stackoverflow.com/questions/27740804/scikit-learn-randomized-logistic-regression-gives-valueerror-output-array-is-r) on StackOverflow

[2016-04-08 19:55] rvraghav93 commented on #6614
Related to #5956

Ping : @lesteve @ogrisel

[2016-04-09 10:08] jnothman commented on #6639
The idea that fit and transform/predict/etc take the same format input is
really something fundamental to the scikit-learn API. If it's not clear
enough throughout the documentation, a PR to modify the documentation is
welcome.

On 8 April 2016 at 21:54, Eric Ma <notifications@github.com> wrote:

[2016-04-09 11:01] J6767 opened #6646 "Using a class_weights vector with SVM or random forest"
My classes are unbalanced. I cannot seem to add class_weights to either of these classifiers. Note that my problem is multiclass, multilabel. Here is my code:

[code]

The training labels are arrays of 1-5, indicating the labels. e.g: [1, 2, 5] or [2, 5]. If I keep my training labels in the original format I get the error:

`ValueError: You appear to be using a legacy multi-label data representati

[2016-04-09 20:46] ixjlyons commented on #6640
The ellipses are drawn, but they're behind the data points, which are opaque and too dense to see the ellipses underneath (verify by setting opacity in plot commands in the `plot_data` function to 0.1). My guess is, assuming the ellipses were intended to be on top of the data points, it's a matplotlib issue. Perhaps the `zorder` of the ellipses should be set explicitly. Alternatively, the data poi

[2016-04-10 06:42] madclam opened #6647 "Warm start problem in gradient boosting"
[code]

When using the option warm_start = True, the following error occurs (that does not occur without this option).

[code]

[2016-04-10 15:53] iblancasa commented on #6645
I have the same problem. I don't understand this situation.

[2016-04-10 18:14] pprett commented on #6645
process or thread pool generation in python is extremely costly:

    In [7]: %timeit joblib.Parallel(n_jobs=5, backend='threading')([])
    10 loops, best of 3: 103 ms per loop

I'd assume multi-processing is equally bad or even worse.

The same issue happens when doing predictions using random forests with n_jobs>1 and you predict small batches.
I suggest if you have batches smaller than 1000 or

[2016-04-10 23:21] anntzer opened #6649 "Test failures on master with numpy 1.11.0"
numpy (openblas) 1.11.0, scikit-learn master

[code]

A quick look at travis.yml suggests that numpy 1.11.0 is not tested?

[2016-04-11 03:01] jnothman commented on #6645
What Peter said. Multiprocessing comes at a cost, and results with a tiny
dataset like Iris will tell you nothing about working at scale. Note that
parallelism is only used in Nearest Neighbors at predict time.

On 11 April 2016 at 04:14, Peter Prettenhofer <notifications@github.com>
wrote:

[2016-04-11 08:32] LIUZHENG87 commented on #6646
What's the type of your y_train?

[2016-04-11 09:59] pprett commented on #6645
i wonder what we should do: a) put a heuristic in when to use indeed a parallel backend at prediction time or b) emit a warning when predicting small batches with n_jobs > 1?

[2016-04-11 10:09] iblancasa commented on #6645
Ok, thanks.

I think best solution (and easier) is B @pprett. If you want, I could try to do it.

[2016-04-11 10:18] jnothman commented on #6645
Actually, I find users have issues related to data size -- too small or too large -- that the core devs think are obvious, quite frequently. Either pertaining to: issues of memory usage and time for fitting, model size on disk, potential benefits of parallelism, statistical reliability over small samples, etc. The memory/time requirements, benefits of parallelism and model size on disk could all b

[2016-04-11 21:01] Hubbitus commented on #6619
Thank you very much!

[2016-04-12 05:27] #6532 closed

[2016-04-12 09:33] lesteve commented on #6614
Another related, maybe more central, issue is https://github.com/scikit-learn/scikit-learn/issues/5481. IIRC estimators should avoid in-place modification of `X`, e.g. `X -= X.mean()`. cc @arthurmensch.

More explanation: when the input data is big enough, joblib use memmapping by default. This allows to share the input data across workers instead of having a copy of the input data in each worker.

[2016-04-12 09:38] lesteve commented on #6290
@benkamphaus my take on it: open a PR and see what happens. I find it slightly confusing too and I don't really see what it could break.

[2016-04-12 09:42] PCavalie opened #6650 "Problem with joblib.load ValueError "Did not recognize loaded array layout""
Hello,

I want to save a randomForest model to predict a class on new data. I use joblib to save and load data but I get this error when I use joblib.load. ValueError: "Did not recognize loaded array layout"
More information :
platform: Windows-7-6.1.7601-SP1
system: 'Python', '2.7.10 |Anaconda 2.3.0 (32-bit)| (default, May 28 2015, 17:02:00) [MSC v.1500 32 bit (Intel)]'
numpy version 1.9.2
sklear