[2017-04-11 11:40] rth commented on #8666
Following discussion in https://github.com/scikit-learn/scikit-learn/pull/8667#issuecomment-293230306, a backport to fix issue is probably not worth it, and the solution would consist in upgrading to scipy>=1.0 in the future. Closing this issue.

[2017-04-11 11:40] #8666 closed

[2017-04-11 12:14] janvanrijn opened #8727 "Illegal Tuple Names for Voting Classifier"
The following code is (correctly) blocked by an Value error:
[code]
(because 'steps' tuple name shadows the official steps parameter)

Same as this one:
[code]
(tuple name 'transformer_list' shadows parameter name)

However, this one does not get blocked:
[code]
Even though analogous to the prior cases the tuple name 'estimators' shadows the parameter name estimators.

[2017-04-11 13:01] glemaitre commented on #8717
For future reference and because I am nice ;), this is what look like a minimal example:

[code]

I am not having any error with this code. Could you try and let us know if you still have issue with this piece.

[2017-04-11 13:06] root-sudip commented on #8717
yes, you may not get any error cause You are taking only one Image. My code also working fine for 100 Images to train Dictionary but Not working for 200 Images or above.

[2017-04-11 13:41] andreh7 commented on #3628
for the parallelized tree building, is it correct that essentially the loop over features starting here https://github.com/scikit-learn/scikit-learn/blob/194c231d49286c72715d073d24d0aec6db4f551a/sklearn/tree/_splitter.pyx#L381 (ending at line 490) needs to be parallelized ?

[2017-04-11 14:40] massich commented on #8607
Just to check that I'm on the right path. The idea is to update #5181 PR (which dates from 2015) so that the parameter `balance=true` to activate the data balancing is replaced by `class_weight="something"` and create some examples to show that actually BRF is beneficial.

Here's the `class_weight` usage:
[code]

summing up, I'll place the BRF behavior under a new   `class_weight=balanced_bootstra

[2017-04-11 14:51] glemaitre commented on #8717
We think that you might have an issue with the install.
We need the output of the following.

### Tell us how did you install scikit-learn

pip or using debian repository. Checking your versions, it seems to me that you used pip but this is always good to be sure.

### Check the linking of `scikit-learn`

We need to find which library some files are linked. Enter the following commands:

[code]

Y

[2017-04-11 15:01] amueller commented on #8651
also see https://github.com/DistrictDataLabs/yellowbrick

[2017-04-11 15:01] amueller commented on #7116
Also see https://github.com/DistrictDataLabs/yellowbrick

[2017-04-11 15:33] root-sudip commented on #8717
okk Thanks for your reply. As soon as possible, I will give you reply when I will get the access of server. @glemaitre

[2017-04-11 15:47] root-sudip commented on #8717
yes sir, I have used pip. like this => ` sudo pip3 install scikit-learn`

[code]

after doing this I got this one =>
` <module 'sklearn' from '/usr/local/lib/python3.4/dist-packages/sklearn/__init__.py'>`

different because I use Python3.4.

After doing this =>
`
 ldd /usr/local/lib/python3.4/dist-packages/sklearn/linear_model/cd_fast.so`

I am getting =>
 `ldd: /usr/local/lib/python3.4/dist-packa

[2017-04-11 15:49] glemaitre commented on #8717
check with auto completion what file is the nearest of cd_fast and finished by so

[2017-04-11 15:52] root-sudip commented on #8717
ok fine, There have `cd_fast.cpython-34m.so ` file.

and the output of ldd is =>

[code]

[2017-04-11 16:16] patil16nit commented on #7626
I am also facing issue while getting MNIST dataset
my machine details are
14.5.0 Darwin Kernel Version 14.5.0: Wed Jul 29 02:26:53 PDT 2015; root:xnu-2782.40.9~1/RELEASE_X86_64 x86_64

`
mnist = fetch_mldata('MNIST original', data_home='./data')
-------------------------------
HTTPErrorTraceback (most recent call last)
<ipython-input-5-30a664411aa3> in <module>()
----> 1 mnist = fetch_mldata('MNIS

[2017-04-11 16:31] glemaitre commented on #7626
@patil16nit your problem is completely unrelated to this issue. Your are a duplicate of #8588

You should remove your comments since that this is creating some noise to that issue for nothing.

[2017-04-11 16:47] glemaitre commented on #8717
@ogrisel it seems that it was linked properly. WDYT? I would like to try the above code on a server with 200+ images.

[2017-04-11 17:13] TomDLT commented on #8720
Sounds good

[2017-04-11 18:28] ncullen93 opened #8729 "Provide your own ParameterGrid in GridSearchCV"
I'd like to add a feature request to include your own ParameterGrid for GridSearchCV. My use case is that I'd like to distribute each parameter fit across multiple GPUs (an extra hyper-parameter) without actually enumerating over all the other parameters. I don't see how to do this without a custom ParameterGrid

Example that wouldn't work:
[code]
This doesn't work because it makes 4 classifiers,

[2017-04-11 18:41] #8729 closed

[2017-04-11 18:54] jmschrei commented on #3628
Yes.

[2017-04-12 00:03] fedorzh opened #8730 "MultiOutputClassifier doesn't train on RCV1"
#### Description
MultiOutputClassifier doesn't train on RCV1
The error is
```Found input variables with inconsistent numbers of samples: [804414, 1]```

#### Steps/Code to Reproduce
[code]

#### Expected Results
Expected this to work

#### Actual Results
[code]

#### Versions
[code]

[2017-04-12 07:01] root-sudip commented on #8717
okk, please try it on your server.  Thanks @glemaitre

[2017-04-12 11:06] jnothman commented on #8266
There is an open PR: #8297

On 10 April 2017 at 19:45, Puneet Mathur <notifications@github.com> wrote:

[2017-04-12 11:10] jnothman commented on #8695
I'm sorry I know nothing about building on windows beyond what's in the docs.

An example of an estimator that fails on one of these tests is:

[code]

I'm not sure the best way to structure the tests in the current checking framework. Try one and we'll see if there's better when reviewing your pull request.

[2017-04-12 11:12] jnothman commented on #8727
I think this should be fixed in master. Could you please check and close
the issue if appropriate?

On 11 April 2017 at 22:14, janvanrijn <notifications@github.com> wrote:

[2017-04-12 11:12] jnothman commented on #8727
Should have been fixed in #7674, I think

On 12 April 2017 at 21:12, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-04-12 11:17] jnothman commented on #7116
yes, I'm still a bit cynical about making the plotting a role of
scikit-learn. Do you think adopting a documentation dependency on
yellowbrick is a happy solution???

On 12 April 2017 at 01:01, Andreas Mueller <notifications@github.com> wrote:

[2017-04-12 11:18] jnothman commented on #8720
Yes, I thought I replied to this. A pull request is very welcome.

On 12 April 2017 at 03:13, Tom Dupré la Tour <notifications@github.com>
wrote:

[2017-04-12 11:18] jnothman commented on #8729
I assume you discovered you could pass a list of dicts?

On 12 April 2017 at 04:41, NC Cullen <notifications@github.com> wrote:

[2017-04-12 11:53] jnothman commented on #8730
Data here is a list of texts. You need to perform feature extraction before
feeding to SGDClassifier

On 12 April 2017 at 10:03, Fedor Zhdanov <notifications@github.com> wrote:

[2017-04-12 13:32] patil16nit commented on #8588
I am also facing issue while getting MNIST dataset
my machine details are
14.5.0 Darwin Kernel Version 14.5.0: Wed Jul 29 02:26:53 PDT 2015; root:xnu-2782.40.9~1/RELEASE_X86_64 x86_64

[2017-04-12 15:14] fedorzh commented on #8730
Not it is not, please don't close the issue without figuring out what is actually wrong

[2017-04-12 15:48] glemaitre commented on #8717
@root-sudip Could you give us the specification of the machine regarding the RAM?

[2017-04-12 16:17] nicktimko commented on #8588
If these are just static "dumb files", someone with authority could perhaps apply for an [AWS research/educational grant](https://aws.amazon.com/research-credits/) then they could be hosted/mirrored on S3 for a bit more security.

[2017-04-12 16:27] ieee8023 commented on #8588
I think if we wanted the files available forever we should use BitTorrent and possibly http://academictorrents.com/ which coordinates hosting. The files can move between different hosting providers without changing the code and allows servers to be pooled together to handle the load and redundancy.

[2017-04-12 17:18] nicktimko commented on #8588
Would the dataset loader then need to use torrents? Break them up per-dataset?

[2017-04-12 17:45] ieee8023 commented on #8588
Ya the dataloader would need to download torrents in this case. There is a project to build a Python API for torrents without the need for any system dependancies to be installed but nothing is pushed yet: https://github.com/AcademicTorrents/python-r-api

Each dataset could be a torrent.

[2017-04-12 18:29] amueller opened #8735 "typo in GridSearchCV docstring example"
http://scikit-learn.org/dev/modules/generated/sklearn.model_selection.GridSearchCV.html#sklearn.model_selection.GridSearchCV

Is called svr, should be called svc or svm.

[2017-04-12 18:30] amueller opened #8736 "Bug in RepeatedKFold and RepeatedStratifiedKFold: get_n_splits missing"
[code]

I blame me :-/ (also the tests)

[2017-04-12 19:10] root-sudip commented on #8717
yes, sure . 500 GB Ram and 100 processors of Intel(R) Xeon(R) CPU E7-8890 v3 @ 2.50GHz. @glemaitre

[2017-04-12 19:46] amueller opened #8737 "LogisticRegressionCV doesn't calculate score as a multiclass problem"
[code]
This runs and I think it should error.
By default ``f1`` uses binary averaging, which makes no sense for multiclass IIRC.
I'm sure @jnothman knows more about this than me.
I'd argue this is a bug in the ``f1_score`` which should error if ``average='binary'`` but the targets are not binary.
Though I vaguely remember that we discussed that we want to enable this behavior to compute the f1-sco

[2017-04-12 19:48] amueller opened #8738 "f1_score documentation confusing about multi-class"
It says
"In the multi-class and multi-label case, this is the weighted average of the F1 score of each class."
at the very top.
That is quite simplifying and only somewhat true, depending on the ``average`` parameter.
It's definitely not the default behavior if doing multi-class, which currently is to report only the label with number 1 (#8737).
I think we should be more explicit here.

[2017-04-12 19:49] amueller commented on #8737
I'm even more confused by this:
[code]
now there is no class named ``1``. What's happening?

[2017-04-12 20:03] nicktimko commented on #8588
The second I try to go to academictorrents.com it exposes a massive usability problem: the site is blocked. Furthermore, many university networks block torrents. I am **strongly** against using torrents as the default/built-in dataset download method. Default should be HTTP(S).

[2017-04-12 22:22] jnothman commented on #8730
Sorry, my mistake

[2017-04-12 22:25] jnothman commented on #8730
I see. So while Onevsrest classifier may handle a dense multilabel y (not sure right now), Multipurpose Lassiter does not yet, even if they're doing the same thing for this kind of data. Patch welcome, ideally not using todense

[2017-04-12 22:29] jnothman commented on #8737
yes this sounds like we buggered up the end of deprecation

On 13 Apr 2017 5:46 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-04-12 22:29] jnothman commented on #8738
agreed, that comment is obsolete

On 13 Apr 2017 5:48 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-04-13 02:28] akshat-harit commented on #8736
I would like to work on this. This'll be my first contribution and seems like a good bug to start with.

[2017-04-13 03:01] amueller commented on #8737
@jnothman was that in 0.18.1 already?

[2017-04-13 03:02] amueller commented on #8736
@akshat-harit  go for it!

[2017-04-13 03:07] amueller commented on #8737
Ok yes I think it should be, a student showed me this and I don't think they have a dev install. grrrr!

[2017-04-13 08:15] iezepov commented on #8735
Hello! As a new contributor, I would like to fix this trivial thing :)

[2017-04-13 08:47] glemaitre commented on #8735
@iezepov go ahead

[2017-04-13 09:11] puneetmathurDS commented on #8735
Fixed code here https://github.com/puneetmathurDS/scikit-learn.git please merge with master.

[2017-04-13 09:20] glemaitre commented on #8735
@puneetmathurDS This is not working in that way. Please refer to:
http://scikit-learn.org/stable/developers/contributing.html#contributing-code

In addition, when somebody called dibs on an issue, it is usually a great idea to ping him/her to avoid several persons working on the same issue when this is not necessary, as for this PR.

[2017-04-13 09:22] glemaitre commented on #8717
So I could not reproduce but I have only a quarter of your memory and cannot run with 200 images.
I will make a try by running with the maximum number of images that I can.

In the meanwhile, we want to check which wheel did you install from pypi to be sure that there not any issue with that. Could you run:

[code]

It will verbose something like:

[code]

We are interested about this line in fact

[2017-04-13 10:20] jnothman commented on #8737
I reckon something is wrong in `LogisticRegressionCV`. `GridSearchCV(LogisticRegression(), {'C': [.1, 1, 10]}, scoring='f1').fit(iris.data, y)` correctly raises an error.

[2017-04-13 10:22] jnothman commented on #8737
Well, a small separate issue is that LogisticRegressionCV is using `SCORERS` rather than `get_scorer`

[2017-04-13 10:31] jnothman commented on #8737
Wait. Look at the structure of `lrcv.scores_`. Scores are calculated per class. I think this needs documentation under `scoring`.

`LogisticRegressionCV(scoring="f1", multi_class='multinomial').fit(iris.data, y)` on the other hand throws an error: `ValueError: could not convert string to float: 'setosa'`.

In any case, LRCV is what needs work. I wouldn't call this a blocker.

[2017-04-13 10:47] #8735 closed

[2017-04-13 10:50] kracekumar commented on #8588
[Keras](https://github.com/fchollet/keras/blob/master/keras/datasets/mnist.py) uploaded the dataset to S3. Amazon charges s3 based on incoming traffic.

Another approach is to upload the dataset in GitHub/GitLab repo and use the HTTP URL in the code.

[2017-04-13 11:55] root-sudip commented on #8717
are you telling about this line =>
` Updating cache with response from "https://pypi.python.org/packages/8a/47/b5aa0abadde24744fcdbb1f574e8b01c7a703dd094f28cc13d19241a9a1e/scikit_learn-0.18.1-cp34-cp34m-manylinux1_x86_64.whl"` @glemaitre

[2017-04-13 12:09] glemaitre commented on #8717
Thanks and can you report:

[code]

and as previously done, make an `ldd`:

[code]

[2017-04-13 12:44] gunjannaik opened #8740 "Spectral clustering for large matrix"
My affinity  matrix size is 57600 by 57600. But when I use spectral clustering for that, the function throws 'memory error'.

Why does the function throws 'memory error'? Is it because of complexity of algorithm ?

My machine has 8 Gb ram ,but no GPU.

[2017-04-13 13:27] root-sudip commented on #8717
I got two files which quite similar above you have mentioned.

for ` ldd cython_lapack.cpython-34m.so` output is =>

[code]

for  `ldd cython_blas.cpython-34m.so`  output is =>

[code]

@glemaitre

[2017-04-13 13:34] jnothman commented on #8740
Please provide a complete [MWE](https://en.wikipedia.org/wiki/Minimal_Working_Example).

[2017-04-13 14:20] glemaitre commented on #8717
I think that you might have an issue with scipy install.
Could you reinstall and as scikit-learn, we can check which wheel it takes.

[code]

You can post the output, and then post again the output of:

[code]

[2017-04-13 15:35] root-sudip commented on #8717
here is the 1st output =>

` cache with response from "https://pypi.python.org/packages/65/ab/86c8f34f336d5a28e5f0f1d53438de58a0177eedfc3890d889b6f5f53442/scipy-0.19.0-cp34-cp34m-manylinux1_x86_64.whl"`

and for` ldd cython_lapack.cpython-34m.so` output is =>

[code]

I want to tell one thing that I didn't install scipy by using `pip3`. installed it like `sudo apt-get install python3-scipy`. Now I

[2017-04-13 15:40] glemaitre commented on #8717
Could you relaunch your code and see if this is crashing now.

[2017-04-13 15:43] arjoly commented on #8607
I totally agree on this.

[2017-04-13 15:47] glemaitre commented on #8717
One strange thing:

- For Ubuntu 14.04, `python3-scipy` is pointing to [`0.13.3`](http://packages.ubuntu.com/trusty/python3-scipy).
- You reported 0.19 which is the current version in pypi repo. That is why I assumed that you installed from `pip`.

So it seems that there is something strange with your setup which seems to be better looking at the previous output that you mentioned.

[2017-04-13 15:49] arjoly commented on #5516
I think they would make good addition. However special care need to be done in the documentation to highlight what they bring to the error measurement.

[2017-04-13 16:00] root-sudip commented on #8717
may be.

okk I will run my code today night. and needs some time(min 1 day to train the dictionary). If I face any further problem then I will post here. Thank you so much for your reply @glemaitre

[2017-04-13 16:02] glemaitre commented on #8717
Come back as well to close the issue if this is solved.

[2017-04-13 16:03] root-sudip commented on #8717
yes sure, I will inform u if i don't get any problem. @glemaitre

[2017-04-13 16:08] arjoly commented on #8266
+1

[2017-04-13 16:09] arjoly commented on #8730
+1

[2017-04-13 16:55] puneetmathurDS commented on #8679
If you point me to the documentation where this has to appear  I can update it.

[2017-04-13 17:04] puneetmathurDS commented on #1978
I can try adding insights on which metric to prefer for model evaluation.

[2017-04-13 22:00] bsaghafi opened #8743 "Incorrect r2_score computed by sklearn.model_selection.permutation_test_score"
#### Description
Significant mismatch between r2 score computed by sklearn.model_selection.permutation_test_score and sklearn.metrics.r2_score

#### Steps/Code to Reproduce
[code]

#### Expected Results
0.99766066838

#### Actual Results
0.621593653548

#### Versions
Linux-2.6.32-279.el6.x86_64-x86_64-with-redhat-6.6-Santiago
('Python', '2.7.13 |Continuum Analytics, Inc.| (default, Dec 20 2016, 23

[2017-04-13 22:45] glemaitre commented on #8743
Readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages and code snippets.

[2017-04-13 22:56] bsaghafi commented on #8743
I Edited my comment.

[2017-04-14 01:05] jmcol commented on #8695
Hmm this might not be the place to ask this, but I'm having a hard time building/testing. I created a VM on my windows machine and I'm not able to use `make` in the scikit-learn directory. I'm getting the following error

ERROR: Failure: ImportError (cannot import name _hierarchical)
Traceback (most recent call last):
  File "/home/jcolfer/anaconda2/lib/python2.7/site-packages/nose/loader.py", lin

[2017-04-14 01:52] jnothman commented on #8743
`r2_sc` is the mean score using 3-fold cross-validation, i.e. `cross_val_score(lin_reg,x,y, scoring = 'r2', cv =None)`

[2017-04-14 01:52] #8743 closed

[2017-04-14 02:53] bsaghafi commented on #8743
Oh I see. I thought 'cv=None' means no cross validation is used!
Does that mean the computed p-value is also the mean value using 3-fold cv?
Which function computes p-value without using cross validation? Thanks

[2017-04-14 07:16] mschoy commented on #4468
Hi, thanks for the good package.
I would like to use your mldp package in Window platform.
Could you inform me briefly the installation guide? :)

[2017-04-14 09:02] thebeancounter opened #8744 "sklearn.svm.SVC regularization"
Hi

I can't find a way to use regularization with svm.SVC with a rbf kernel. i find lot's of stuff about the linear
model, and when i try to use penalty = "l1" i get an error

is it at all possible?

please note my[ stackoverflow question ](http://stackoverflow.com/questions/43407896/python-sklearn-non-linear-svm-penalty)

Thanks!

[2017-04-14 09:27] glemaitre commented on #8744
No. `LinearSVC` provides the `penalty` parameter. `SVC` does not provide it but it provides kernel support.

[2017-04-14 10:10] denson opened #8745 "Bug in Scikit-Learn GradientBoostingClassifier?"
#### Description
I am running a GradientBoostingClassifier from Sklearn and I am getting some strange output from the verbose output. I am taking random 10% samples from my entire dataset and most seem to be fine but sometimes I get strange output and poor results.

#### Steps/Code to Reproduce

    model = 'GBC'
    start_time = time.time()
    if model == 'ET':
        ic = ExtraTreesClassifier(

[2017-04-14 11:40] root-sudip commented on #8717
yes sir, It is working perfectly. The problem was in scipy. Thanks sir :+1:  @glemaitre

[2017-04-14 11:40] #8717 closed

[2017-04-14 11:47] glemaitre commented on #8717
great

[2017-04-14 13:18] damianobarbati commented on #7842
@GillesJ how can I install master with pip to solve this?

[2017-04-14 14:22] glemaitre commented on #8745
Could you reduce your example to a minimal piece of code with specific data such that we can focus and the real problem and try to reproduce the potential bug.

Readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages code snippets. Bonus points if you use [syntax highlighting

[2017-04-14 14:28] glemaitre commented on #7842
You will need to build from source:
http://scikit-learn.org/stable/developers/advanced_installation.html#bleeding-edge

[2017-04-14 14:39] rrherr commented on #4813
@amueller do you have an example of this? I have the same need, but haven't figured out how to do it yet.

[2017-04-14 16:28] amueller commented on #8737
I thought it was in the scoring, not LogisticRegression - then I would have thought it was blocking.

[2017-04-14 16:39] amueller commented on #8703
I did this:
[code]
but I didn't fix the random state and now I have trouble reproducing. Should be the CD solver, right?

[2017-04-14 16:40] amueller commented on #8703
I'm not crazy, right?
[code]

[2017-04-14 16:42] amueller commented on #8703
This one does it:
[code]

[code]

[2017-04-14 16:58] TomDLT commented on #8703
The violation is **not** the objective function.
It is the sum of the absolute value of the projected gradient, and it's used only as a stopping criterion.
The objective function is costly to compute, so it is not computed at each iteration.
It can be computed with `sklearn.decomposition.nmf._beta_divergence(X, W, H, beta_loss=2)`.
Maybe we need a public method to compute the objective function.

[2017-04-14 17:39] amueller commented on #8703
ah, and violation is not monotonically decreasing? alright then.

[2017-04-14 17:39] #8703 closed

[2017-04-14 17:52] amueller commented on #8694
I guess the "(padded with space on each side)"  should go into the docstring. I don't think it's there.

[2017-04-15 02:18] zhaopku opened #8747 "Confused about macro f1 score in sklearn"
I am using sklearn to compute macro f1 score and I doubt if there are any bugs in the code. Here is an example (label 0 is ignored):

[code]
The output:

[code]
As you can see, sklearn gives 0.6041666666666666 for macro f1. However, it does not equal to 2\*0.725\*0.566666666/(0.725+0.566666666), where 0.725 and 0.566666666 are macro precision and macro recall computed by  sklearn.

[2017-04-15 06:00] yxchng opened #8748 "Error in GP"
Can I know what does the following error mean and how I can solve it?

[code]

[2017-04-15 09:58] jnothman commented on #8747
Macro averaging is conventionally performed over each of p, r and for separately, so f is an average of harmonic means, not a harmonic mean itself

[2017-04-15 09:58] #8747 closed

[2017-04-15 14:18] rrherr commented on #4813
@amueller does this look right for "precision at recall=X"?

[code]

[2017-04-15 17:40] kjacks21 opened #8749 "[DOC] SGDClassifier docs missing methods predict_log_proba and predict_proba in table of contents"
#### Description

[SGDClassifier](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDClassifier.html#sklearn.linear_model.SGDClassifier) documentation does not list [predict_log_proba](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDClassifier.html#sklearn.linear_model.SGDClassifier.predict_log_proba) and [predict_proba](http://scikit-learn.org/stable

[2017-04-16 02:52] jnothman commented on #4813
Could also use precision_score(y_true, y_score > scoreatpercentile(y_score,
percentile))

On 16 April 2017 at 00:18, rrherr <notifications@github.com> wrote:

[2017-04-16 22:35] Leahelisabeth commented on #8736
is this issue still open? I would like to also try to work on it... also my first contribution. ty -L

[2017-04-17 10:05] glemaitre commented on #8736
@akshat-harit @Leahelisabeth Check together who is going for it to avoid duplicate PR.

@Leahelisabeth Check the [contributing guide](scikit-learn.org/stable/developers/contributing.html).
Then the feedbacks will come when you will submit the PR.
You will have more chance to get any quick feedback related to your PR with core developers than on the [gitter](https://gitter.im/scikit-learn/scikit-le

[2017-04-17 11:42] iezepov commented on #8713
I would like to investigate this.

[2017-04-17 12:47] punkuj opened #8754 "importError: cannot import name __check_build"
from sklearn.metrics import accuracy_score

Traceback (most recent call last):

  File "C:\Users\PUNKUJ\Desktop\Pankaj\Codes\Codeee.py", line 1607, in <module>

    from sklearn.metrics import accuracy_score

  File "C:\Users\PUNKUJ\AppData\Roaming\Python\Python27\site-packages\sklearn\__init__.py", line 56, in <module>

    from . import __check_build

ImportError: cannot import name __check_buil

[2017-04-17 20:35] aqua4 commented on #8754
Try to look at this thread: http://stackoverflow.com/questions/15274696/importerror-in-importing-from-sklearn-cannot-import-name-check-build

[2017-04-17 23:10] scottmsul opened #8755 "train_test_split fails for too many values"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

Consider the following code:

[code]

When n=10,000, I correctly obtain:
[code]

But for larger n, such as n=100,000, I get the following error:
[code]

And for n=1,000,000, I don't get an exception, instead the strange results:
[code]

Why is this? Is this a bug? Does train_test_split fail w

[2017-04-18 03:53] aqua4 commented on #8755
Hello!
Your code returns correct results without any errors on my system.
I'm using:
python 2.7.12
sklearn 0.18.1
numpy 1.11.3

[2017-04-18 06:06] punkuj commented on #8754
Thanks for the reply.I have already gone through that post and worked on the solutions mentioned, but still i keep getting the same error.

[2017-04-18 08:14] freedomzl opened #8757 "运行python process_wiki.py时报错"
E:\PycharmProjects\test>python process_wiki.py
C:\ProgramData\Anaconda2\lib\site-packages\gensim\utils.py:860: UserWarning: det
ected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")
2017-04-18 15:12:55,609: INFO: running process_wiki.py
Traceback (most recent call last):
  File "process_wiki.py", line 21, in <module>
    print

[2017-04-18 08:32] TomDLT commented on #8757
Please better describe your issue if you want us to help you.

[2017-04-18 08:32] #8757 closed

[2017-04-18 08:41] TomDLT commented on #8749
It seems related to the `@property` decorator, which was a small hack implemented in #2910

[2017-04-18 09:32] duartedenio opened #8758 "mean_squared_error for multi-target regression problem"
#### Description

When y_true and y_pred are matrix (multi-target), mean_squared_error fails becasue it calculates the mean over the mean.
First, output_errors is assigned with all target squared difference and then the mean is calculated.
If the parameters multioutput is equal to  'uniform_average' (default), the funcion calculates the average over output_errors, and it is not corretc. It should

[2017-04-18 12:01] jnothman commented on #8754
you'll need to give us more informative for any chance at helping. How did
you install scikit-learn?

On 18 Apr 2017 4:07 pm, "punkuj" <notifications@github.com> wrote:

[2017-04-18 12:01] jnothman commented on #8754
you'll need to give us more informative for any chance at helping. How did
you install scikit-learn?

On 18 Apr 2017 4:07 pm, "punkuj" <notifications@github.com> wrote:

Thanks for the reply.I have already gone through that post and worked on
the solutions mentioned, but still i keep getting the same error.

—
You are receiving this because you are subscribed to this thread.
Reply to this email di

[2017-04-18 12:03] jnothman commented on #8749
this will require a change to numpydoc and us updating to use numpydoc
directly

On 18 Apr 2017 6:41 pm, "Tom Dupré la Tour" <notifications@github.com>
wrote:

[2017-04-18 12:06] jnothman commented on #8758
do you have a reference for that? Presumably the difference is merely a
multiplicative constant per dataset, so rankings don't change or anything,
but difference venues may have different conventions for reporting

On 18 Apr 2017 7:33 pm, "Denio Duarte" <notifications@github.com> wrote:

[2017-04-18 12:24] glemaitre commented on #8754
Give us the output of

[code]

[2017-04-18 15:03] duartedenio commented on #8758
I used spotpy as reference, however I tested mse in octave and R, and you are right, the average must be calculated after the summation. So, the results are the same of sklearn mean_squared_error function, and you can ignore this issue.

Sorry for taking your time.

[2017-04-18 15:03] #8758 closed

[2017-04-18 17:22] aqua4 commented on #8720
I would like to investigate this.

[2017-04-18 17:55] punkuj commented on #8754
sir i used ... pip install scikit-learn , i reinstall it several time but
it give same error sir

PANKAJ NAYAK
*Research Scholar(Software Engg.)*
*I.E.T.,( D.A.V.V.)*

On Tue, Apr 18, 2017 at 5:32 PM, Joel Nothman <notifications@github.com>
wrote:

[2017-04-18 17:58] punkuj commented on #8754
Windows-10-10.0.15063

('Python', '2.7.13 (v2.7.13:a06454b1afa1, Dec 17 2016, 20:53:40) [MSC
v.1500 64 bit (AMD64)]')

('NumPy', '1.12.1')

('SciPy', '0.16.1')

Traceback (most recent call last):

File "C:\Users\PANKAJ\Desktop\1.py", line 5, in <module>

import sklearn; print("Scikit-Learn", sklearn.__version__)

File "C:\Python27\lib\site-packages\sklearn\__init__.py", line 57, in
<module>

from

[2017-04-18 18:16] TomDLT commented on #8720
please do

[2017-04-18 18:21] TomDLT commented on #8755
Can you ive us your configuration:
[code]

[2017-04-18 20:46] jnothman commented on #8754
Have you pip uninstalled scikit-learn? sometimes there are multiple
versions to uninstall before installing.

On 19 April 2017 at 03:58, punkuj <notifications@github.com> wrote:

[2017-04-18 21:51] eggie5 commented on #6545
@rasbt I noticed Recursive feature elimination (`RFE`) sort of does this by on models that implement the `coef_` i.e. linear models. I think it would be a lot more useful to quantify important features by a validation-set score or CV score. Then it can be used by all models, etc. I was reading about stepwise selection in "An introduction to Statistical Learning" and they suggest this method.

[2017-04-18 22:05] rasbt commented on #6545
@eggie5

The RFE uses model parameters though, whereas the SFS optimizes for an extrinsic metric (e.g., classification accuracy, ROC auc, R^2, etc.). Just glancing at the algorithms in ISLR, it looks identical to Sequential Forward/Backward selection, the just gave it another name (Forward/Backward stepwise selection); so this is what was submitted at #8684 :)

[2017-04-18 22:32] eggie5 commented on #6545
@rasbt yes, we are saying the same thing about `RFE`using: `coef_` and "model parameters". I'm looking forward to #8684 where I can do feature selection using validation set accuracy or R^2 (adjusted R^2 that is, see ISLR p 210 6.1.3)

[2017-04-18 22:39] aqua4 commented on #8720
_log_reg_scoring_path: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/logistic.py#L771
It has a bunch of parameters which can be passed to logistic regression constructor such as "penalty", "dual", "multi_class", etc., but to the constructor passed only fit_intercept on https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/logistic.py#L922.

C

[2017-04-18 22:40] jnothman commented on #8720
please submit a PR ideally with a test for correct behaviour of reach
parameter

On 19 Apr 2017 8:39 am, "Shyngys Zhiyenbek" <notifications@github.com>
wrote:

[2017-04-18 23:04] shatu commented on #8588
BTW, is the list of all the datasets hosted at mldata.org available somewhere?

[2017-04-19 01:34] freedomzl commented on #8757
是相关的，在用维基百科语料训练word2vec词向量时需要对语料进行处理，第一步是将xml文档转换成text文档，运行脚本时报错了，脚本内容如下：
#!/usr/bin/env python
# -*- coding: utf-8 -*-

import logging
import os.path
import sys

from gensim.corpora import WikiCorpus

if __name__ == '__main__':
    program = os.path.basename(sys.argv[0])
    logger = logging.getLogger(program)

    logging.basicConfig(format='%(asctime)s: %(levelname)s: %(message)s')
    logging.

[2017-04-19 05:14] punkuj commented on #8754
Successfully uninstalled scikit-learn-0.18.1
then i reinstall it but again give same error😰

PANKAJ NAYAK
*Research Scholar(Software Engg.)*
*I.E.T.,( D.A.V.V.)*

On Wed, Apr 19, 2017 at 2:17 AM, Joel Nothman <notifications@github.com>
wrote:

[2017-04-19 06:25] gunjannaik commented on #8740
Hi instead of sending a complete code, I am sending the similar methodolgy.

`import cv2`
`from sklearn.cluster import SpectralClustering`
`import numpy as np`
`from sklearn.metrics import pairwise`
`a=np.random.rand(57600,1)`
`c=pairwise.rbf_kernel(a,a,1e-5)`
`SpectralClustering(n_clusters=5,eigen_solver='arpack',affinity='precomputed',assign_labels='discretize')`
`labels=spectral.fit_predict(c)`

[2017-04-19 08:15] v3ss0n commented on #5275
The problem still exist in 0.18 , it was all ok with 0.15
Clustering just over 500000 Geo points rans out of 48 GB of ram and end up in OOM kill.
Any work around?

[2017-04-19 09:53] lesteve commented on #7842
I am going to close this one. @GillesJ please shout if you see the problem again with master.

[2017-04-19 09:53] #7842 closed

[2017-04-19 10:03] v3ss0n commented on #5275
the sample is Lat , Lon GPS data reported from Cars.
I can share you via email. Just GPS data, polled every 5 seconds.
I also tried dropping duplicates , reducing down to 145000 points , but that is still not enough for memory.

[2017-04-19 10:39] punkuj commented on #8754
i am already use anaconda but in this plateform all the classifier gave me
same accuracy but in another system it give different accuracy.

PANKAJ NAYAK
*Research Scholar(Software Engg.)*
*I.E.T.,( D.A.V.V.)*

On Wed, Apr 19, 2017 at 1:02 AM, Joel Nothman <notifications@github.com>
wrote:

[2017-04-19 11:12] glemaitre commented on #8754
It seems not. Somehow `Anaconda` should be mentioned when you checking the Python environment. Instead, you get:

[code]
I would most probably check the environment path to see if the Anaconda path is added.

This is a different story which we should put on the side now. We would need code snippet to understand the issue and it should be treated in another issue if a bug is there.

[2017-04-19 12:02] punkuj commented on #8754
sir i have anaconda..tell me how to show
C:\Python27>anaconda -h
usage: anaconda-script.py [-h] [--show-traceback] [--hide-traceback] [-v]
[-q]
                          [--color] [--no-color] [-V] [-t TOKEN] [-s SITE]
                          ...

Anaconda Cloud command line manager

optional arguments:
  -h, --help            show this help message and exit
  -V, --version         show program'

[2017-04-19 12:06] jnothman commented on #5275
Depends now on how big eps is, unless you're not using a tree based nearest
neighbours algorithm in which case there's a different solution: a sparse
precomputed neighbourhood matrix

On 19 Apr 2017 8:04 pm, "Phyo Arkar Lwin" <notifications@github.com> wrote:

[2017-04-19 12:19] glemaitre commented on #8740
For image segmentation, you should probably use `scikit-image`.

Your methodology will be a single function.
http://scikit-image.org/docs/dev/api/skimage.future.graph.html

Regarding your issue with scikit-learn, without knowing your system specification:

- Your affinity matrix is a 57,600 by 57,600 by 64 (assuming that you use np.float64). Therefore, this is accounting for 26.5 GB.
- When callin

[2017-04-19 12:30] lesteve commented on #8748
Can you provide a stand-alone script to reproduce the problem ? Please read https://stackoverflow.com/help/mcve.

Without this it is very hard for us to provide any kind of help.

[2017-04-19 12:40] lesteve commented on #8755
For the record I can not reproduce either ...

[2017-04-19 12:42] glemaitre commented on #8754
Readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages code snippets. Bonus points if you use [syntax highlighting](https://help.github.com/articles/creating-and-highlighting-code-blocks/#syntax-highlighting) with `py` for python snippets and `pytb` for tracebacks.

[2017-04-19 12:45] glemaitre commented on #8754
You have anaconda but it does not mean that it is added in your path.

Check 8. from https://docs.continuum.io/anaconda/install-windows

[2017-04-19 13:38] GaelVaroquaux commented on #8748
It not an error, it's a warning.

[2017-04-19 13:56] ageron commented on #8588
Can't find a nice list, but mldata.org is partly browsable using archive.org, for example [here](https://web-beta.archive.org/web/20140722154324/http://mlbench.org:80/repository/tags/data/slurped/).

[2017-04-19 14:27] yxchng commented on #8748
[code]

You need to download the data from GiveMeSomeCredit competition on kaggle.

The reason why I did not provide script is because I think you might not want to spend time to do the hassle of downloading the data and running the script. The warning only start to shows after a very long time, like leave it overnight.

[2017-04-19 14:27] yxchng commented on #8748
@GaelVaroquaux What does the warning mean?

[2017-04-19 14:57] remicnrd opened #8761 "Spelling mistake in Feature Extraction documentation"
...     {'city': 'Dubai', 'temperature': 33.},
...     {'city': 'London', 'temperature': 12.},
...     {'city': 'San Fransisco', 'temperature': 18.},
... ]

"San Fransisco" should be "San Francisco"

http://scikit-learn.org/stable/modules/feature_extraction.html

[2017-04-19 16:15] scottmsul commented on #8755
Here's my configuration:

[code]

I'm running Python 2.7 and on a 32-bit operating system.

[2017-04-19 17:24] #8761 closed

[2017-04-19 17:25] TomDLT commented on #8761
Thanks for the report @remicnrd

[2017-04-19 17:31] ngoix commented on #8693
+1 for more consistency

Also it would be great to remove `OutlierDetectionMixin` which is not used by any outlier detection algorithm excepting by `EllipticEnvelope`

IMHO it would be clearer to have a standardized `decision_function` method for all the algo, with an optional contamination parameter. (Except for OCSVM and Elliptic_Envelope, decision functions structurally cannot depend on the dat

[2017-04-19 19:25] clemkoa opened #8764 "Math domain error for Decomposition.NMF with sparse matrix"
decomposition.NMF.fit_transform can sometimes generate a 'Math domain error'. Turns out it is because of line 95 in `sklearn/decomposition/nmf.py`:
[code]
As said in this issue, https://github.com/numpy/numpy/issues/4126, numpy.dot doesn't prevent integer overflow, and `np.dot(X.data, X.data)` can sometimes be negative due to overflow, even if X.data is a positive array.

It would be better to rep

[2017-04-19 20:04] v3ss0n commented on #5275
would using this help?

Sparse neighborhoods can be precomputed using NearestNeighbors.radius_neighbors_graph with mode='distance'.

[2017-04-19 20:47] deto opened #8766 "Error in TSNE implementation"
I wanted to call attention to something that I believe is an error in the tSNE gradient descent implementation.  Specifically with how the updates to the delta-bar-delta 'gain' are computed.

Compare these implementations:
- [Scikit-learn](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/manifold/t_sne.py#L391)
- [C++](https://github.com/dominiek/python-bhtsne/blob/master/src/tsne.

[2017-04-19 20:48] deto commented on #7215
@iosonofabio, since you seem to know a bit about this, can you look at the issue I just submitted here.

https://github.com/scikit-learn/scikit-learn/issues/8766

I believe I have found a bug in how python updates the gain variable.

[2017-04-19 20:49] MechCoder commented on #8748
Getting the parameters of a GP involves solving a non-convex likelihood function for which we use lbfgs which assumes that the problem is convex. So there can be a number of reasons because of which the termination stops early, see (http://stackoverflow.com/a/39155976/1170730).

However, since you are essentially treating it as a black-box you need not worry too much about it. For the provided GP

[2017-04-19 20:52] MechCoder commented on #8748
From the warnings message, it seems that the variance becomes slightly negative and is implicitly set to zero. Depending upon how the variance is used, the function calling the variance can become flat everywhere.

[2017-04-19 21:20] jnothman commented on #5275
It may well. Let me know if it does not.

On 20 April 2017 at 06:04, Phyo Arkar Lwin <notifications@github.com> wrote:

[2017-04-19 21:24] iosonofabio commented on #7215
I had noticed the 0.95 oddity but never checked in detail, you might be right let me double check

On April 19, 2017 1:49:01 PM PDT, David DeTomaso <notifications@github.com> wrote:

[2017-04-19 22:39] evaristoc opened #8767 "sklearn - knn sklearn.neighbors kneighbors function producing unexpected result for text analysis?"
#### Description
I have been asked to implement a simple knn for text similarity analysis. I tried by using sklearn.neighbors module.

The file to be analysed consisted on 2 relevant columns: "text" and "name".

The knn model should be fitted with bag-of-words of a corpus of around 60,000 pre-treated text fragments of about 200 words each. I used CounterVectorizer.

As test I was asked to use the

[2017-04-19 23:40] jnothman commented on #8767
Your label encoder is not doing what you think it's doing. It's numbering things in alphabetical order, not in iloc order. So you're providing kneighbors with the incorrect query array. Passing element 3 of count_vect produces correct results

[2017-04-19 23:40] #8767 closed

[2017-04-20 02:01] iosonofabio commented on #8766
The bug is real, the code is wrong. Good catch!

[2017-04-20 02:03] deto commented on #8766
Thanks - glad to have another pair of eyes confirm it.  Ive run some data
through it using a modified gradient descent and I've noticed that it
converges much better.

I'll make a PR.

David

On Apr 19, 2017 7:01 PM, "Fabio Zanini" <notifications@github.com> wrote:

[2017-04-20 02:20] iosonofabio commented on #8766
Yes I did the same

On April 19, 2017 7:04:01 PM PDT, David DeTomaso <notifications@github.com> wrote:

[2017-04-20 02:46] deto commented on #6204
I was also having issues with convergence, and I think I found a bug.  You might be interested in the issue:

- https://github.com/scikit-learn/scikit-learn/issues/8766

[2017-04-20 03:01] AishwaryaRK commented on #8627
If this Issue isn't closed then may I please contribute to this issue, it's my first contribution in scikit-learn and this issue seems easy to solve for me.

[2017-04-20 03:42] jnothman commented on #8627
It looks available. Start by writing a test for sparse matrices with MeanShift, then fix the code to work.

[2017-04-20 03:45] AishwaryaRK commented on #8627
@jnothman thanks :)

[2017-04-20 05:17] punkuj commented on #8754
well sir, then how to add this python path i do not understand that.. plz
sir help me

PANKAJ NAYAK
*Research Scholar(Software Engg.)*
*I.E.T.,( D.A.V.V.)*

On Wed, Apr 19, 2017 at 5:45 AM, Guillaume Lemaitre <
notifications@github.com> wrote:

[2017-04-20 05:33] tendiarifin commented on #1513
any one have library RVM for PHP?

[2017-04-20 05:50] punkuj commented on #8754
Windows-10-10.0.15063
('Python', '2.7.13 |Anaconda custom (64-bit)| (default, Dec 19 2016,
13:29:36) [MSC v.1500 64 bit (AMD64)]')
('NumPy', '1.11.3')
('SciPy', '0.19.0')
('Scikit-Learn', '0.18.1')

is that added..

PANKAJ NAYAK
*Research Scholar(Software Engg.)*
*I.E.T.,( D.A.V.V.)*

On Thu, Apr 20, 2017 at 10:46 AM, Pankaj Nayak <pankajnayak1992@gmail.com>
wrote:

[2017-04-20 05:57] jnothman commented on #8754
I don't know what "is that added" means, but i hope now your import error
is resolved

On 20 Apr 2017 3:50 pm, "punkuj" <notifications@github.com> wrote:

[2017-04-20 06:04] punkuj commented on #8754
sir it is work in anaconda but did not work in IDLE😰

PANKAJ NAYAK
*Research Scholar(Software Engg.)*
*I.E.T.,( D.A.V.V.)*

On Thu, Apr 20, 2017 at 11:20 AM, Pankaj Nayak <pankajnayak1992@gmail.com>
wrote:

[2017-04-20 07:06] gunjannaik commented on #8740
@glemaitre Thanks for giving size of matrix required. I can increase my swap size for that.

As I wanted to play with kernel parameter values, I am using this function.

Can you tell me if more space will be required to perform a single value decomposition on this matrix?

[2017-04-20 08:09] glemaitre commented on #8740
‎I think that you can do the multiplication yourself. But if you wish doing image segmentation why not providing your image to the scikit image functions?

[2017-04-20 08:11] glemaitre commented on #8754
No idea to what you are referring with IDLE

[2017-04-20 08:32] jnothman commented on #8754
i know what you're referring to but can't say i am inclined to fix it!

On 20 Apr 2017 6:11 pm, "Guillaume Lemaitre" <notifications@github.com>
wrote:

[2017-04-20 08:33] #8754 closed

[2017-04-20 08:55] gunjannaik commented on #8740
Hi @glemaitre , I wanted to use Gaussian kernel for and tune its parameters for performing image segmentation, that functionality is present in scikit but not in scikit image.

Also, in scikit image only color images are considered for image segmentation for operation like ncut.

[2017-04-20 09:31] punkuj commented on #8754
thank you very much sir

PANKAJ NAYAK
*Research Scholar(Software Engg.)*
*I.E.T.,( D.A.V.V.)*

On Thu, Apr 20, 2017 at 1:33 AM, Joel Nothman <notifications@github.com>
wrote:

[2017-04-20 12:24] GaelVaroquaux commented on #8748
I am closing this issue, as it is not obviously a bug. Please reopen if there is really a problem that you can point to.

[2017-04-20 12:24] #8748 closed

[2017-04-20 12:29] GaelVaroquaux opened #8769 "LogisticRegression convert to float64"
Looking at the code of LogisticRegression, I have just noticed that it converts automatically the data to float64. I would expect at least the SAG, SAGA, newton-cg and lbfgs solvers to be able to work with float32.

Also, in a similar line of thoughts, the code converts to C-ordered data. How useful / necessary is this for solvers others than liblinear.

I am asking these questions because it seem

[2017-04-20 15:06] #8637 closed

[2017-04-20 15:18] massich commented on #8769
I can work on this

[2017-04-20 15:23] arthurmensch commented on #8769
Great! Handling float32 is not that hard: We need fused type : you can have
a look at cd_fast.pyx. Handling F ordered arrays is possible but requires
to change the way we access some arrays in place of the code where we use
explicit pointers.

On Thu, Apr 20, 2017, 5:19 PM Joan Massich <notifications@github.com> wrote:

[2017-04-20 17:20] DnzzL commented on #5115
Sorry to up this thread but I also encounter this problem.
I created a Python 3.5 kernel and defined job lib start method to forkserver but I still have the problem.

In fact it doesn't even work with n_jobs = 1. I see it computes except for the last parameter.

Is there any news ?

[2017-04-21 13:04] lesteve commented on #8755
Hmmm I can reproduce on a 32bit python (32bit miniconda installer from Continuum).

Tagging this as a bug, but to be honest I would advise you to move to a 64-bit OS. You are going to be very limited in terms of RAM for any non trivial data analysis.

[2017-04-21 19:53] MechCoder opened #8774 "Arguments of export_graphviz does not show up in the rendered documentation"
#### Description

It used to show-up pre-0.18. I assume it is because of this change https://github.com/scikit-learn/scikit-learn/pull/7390

[2017-04-21 20:37] MechCoder opened #8775 "export_graphviz should fail with a better error message if a not-fitted decision tree is provided."
#### Description
export_graphviz should fail with a better error message if a not-fitted decision tree is provided.

#### Steps/Code to Reproduce

[code]

[2017-04-21 21:35] morrme commented on #8775
I am new to your codebase but happy to try if mentoring/support is available.

Is this a matter of changing the wording, or adding a string to the standard error message for this case?

[2017-04-22 02:00] kjacks21 commented on #8775
Hi @morrme, a good place to start is by looking at the code for `export_graphviz()` [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/export.py#L70) and the [usage example](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/export.py#L152-L163). You'll see that `export_graphviz()` requires a fitted decision tree as input as opposed to simply the initia

[2017-04-22 02:06] MechCoder commented on #8775
Thanks for summarizing. You can make use of the `check_is_fitted` function imported from `sklearn.utils.validation` for this purpose. Just doing a git grep would give you some occurrences of its usage.

[2017-04-22 03:45] morrme commented on #8775
guess someone else beat me to the punch!

[2017-04-22 03:55] MechCoder commented on #8775
too bad.

[2017-04-22 09:54] jnothman commented on #8774
No, I don't see how it can result from that change. Maybe something in
sphinx or templating thereof???

On 22 April 2017 at 05:53, Manoj Kumar <notifications@github.com> wrote:

[2017-04-22 13:45] #8699 closed

[2017-04-22 19:01] puneetmathurDS commented on #8679
Thanks, In which section do you want me to add about the regression test?

[2017-04-22 20:00] hsiaoyi0504 commented on #5097
Is it already fixed? I am curious about it works for `RFECV` but doesn't work for `cross_val_score`

[2017-04-22 23:28] jnothman commented on #8679
Didn't I answer that above?

[2017-04-23 01:34] #8775 closed

[2017-04-23 09:51] andreh7 commented on #3628
While working on #8779 I noticed the following related to sklearn/tree/_splitter.pyx
(I apologize if these are obvious):

1. There seems to be quite a bit of overlap between the methods `node_split(..)`
    of the inheriting classes (`BestSplitter`, `RandomSplitter`, `BestSparseSplitter`
    and `RandomSparseSplitter`). This could probably be reduced if these classes
    just implement a method wh

[2017-04-23 10:42] glemaitre commented on #3628
Regarding 5., you have a large overlap.

We are implementing the same architecture than in XGBoost for the exact approach. Currently, @raghavrv is [cynthonizing the implementation](https://github.com/glemaitre/scikit-learn/pull/6). It should be almost ready in couple of days, in order to be benchmarked. With this implementation, it should be relatively easy to parallelize the gradient boosting, wh

[2017-04-23 11:41] puneetmathurDS opened #8780 "Add and embed code example inside the RandomForestClassifier documentation page not as a link at the end"
#### Description
There is no code example for RandomForestClassifier

#### Steps/Code to Reproduce
Take at look at this description of RandomForestClassifier:

http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

It does not have any code example please add a code example showing how to use the parameters of the Ran Forests Classifier.

#### Expected Resul

[2017-04-23 12:17] jnothman commented on #8780
There are lots of examples at the bottom of the page.

[2017-04-23 15:10] samuelweisenthal opened #8781 "Issue a warning when columns that are completely NAN are removed during imputation?"

[2017-04-23 16:36] lucianoviola opened #8782 "Error in Documentation on Ensemble Feature Importance"
I think there is an error in the documentation regarding feature importance evaluation

http://scikit-learn.org/stable/modules/ensemble.html#feature-importance-evaluation

It says the  "The relative rank (i.e. depth) of a feature used as a decision node in a tree can be used to assess the relative importance of that feature with respect to the predictability of the target variable.".

In actuality

[2017-04-23 19:35] PyAntony commented on #4935
Hello, I arrived here cause' I am having a similar problem when I use the 'predict_proba' method. It just runs too slow. There is something I want to understand (sorry, I am new to this stuff): how does the number of trees affect the speed for prediction? I totally understand that the number of trees will impact the FITTING (.fit()) phase cause that's where the trees are being generated; but shoul

[2017-04-23 20:06] jmschrei commented on #4935
When making a prediction, the sample must be run through each tree. The `predict_proba` method returns `# trees predicting this class / # trees` for each class.

[2017-04-23 20:55] tejamaripuri commented on #5364
There is a small difference in between Ridge and RidgeCV which is cross-validation. Normal Ridge doesn't perform cross validation but whereas the RidgeCV will perform Leave-One-Out cross-validation even if you give cv = None(Node is taken by default). Maybe this is why they produce a different set of results.

[2017-04-23 21:00] PyAntony commented on #4935
So, from what you say, if I generate 10,000 trees, each of my samples in training test will have to go through 10,000 trees? If this is correct, assuming I have the same number of entries in training and testing set, predict() should always take a lot longer than fit() right?

[2017-04-23 21:41] jnothman commented on #4935
no it need not. if you make your trees less deep, prediction will be faster
for instance

On 24 Apr 2017 7:00 am, "PyAntony" <notifications@github.com> wrote:

[2017-04-23 22:02] jmschrei commented on #4935
It is usually faster to predict than to split because it is faster to find the best path through a tree than it is to find the best split recursively on a dataset.

[2017-04-24 11:45] ppallesen opened #8784 "Adding L2- regualization in gradient boosting"
During a project I have been working a lot with the scikit learn and xgboost source code and I have been missing L2-regualzation in the scikit learn since my experience from xgboost is that including it gives preformance improvements. Their implimentation of this looks the following:

#Leaf calculation - param.h  line 285
 dw = -sum_grad / (sum_hess + p.reg_lambda);
#gain Calculation /imprunity_im

[2017-04-24 12:26] sixhobbits opened #8785 "cross_val_score raises large TypeError on incorrect usage"
#### Description
calling `cross_val_score(Xs, ys)` instead of `cross_val_score(classifier, Xs, ys)` creates a TypeError with a description that is very large, as it dumps the whole of Xs into the error.

This is especially problematic in e.g. Jupyter Notebook, where with large enough Xs, this causes the entire browser to crash, requiring a force quit.

I think it would be preferable to simply put

[2017-04-24 13:04] lesteve commented on #8785
My take on this is that having the parameter that was passed as part of the error message is a must. It is very useful especially if the exception happens further down in the call stack to understand which parameter in your script you have to modify. Having only the type in the error message is very often not enough information.

It is unfortunate that in this case the list `repr` is very verbose

[2017-04-24 13:48] lesteve commented on #8780
I guess this was meant more like an example as a doctest. I checked a few other estimators and they did not have doctests so I am not in favour of adding one.

I am going to close this one, @puneetmathurDS feel free to comment if you strongly disagree.

[2017-04-24 13:48] #8780 closed

[2017-04-24 13:51] sixhobbits commented on #8785
OK, more than once I've waited for quite some time for
[code]
to complete before realising that I forgot to pass the classifier in and I'm actually waiting for I/O buffers, but I guess that's just me being incompetent then. Thanks for the response.

[2017-04-24 13:51] #8785 closed

[2017-04-24 13:54] lesteve commented on #8785
"Silly mistake" is probably the term you are looking for, happens to the best of us ;-). Thanks for closing the issue.

[2017-04-24 15:26] amueller commented on #8364
This also looks weird (dots to big in original series, I think) but is not on the list: http://scikit-learn.org/dev/auto_examples/gaussian_process/plot_gpr_co2.html#sphx-glr-auto-examples-gaussian-process-plot-gpr-co2-py

[2017-04-24 17:39] rishikksh20 commented on #8364
@amueller my bad

[2017-04-24 19:16] puneetmathurDS commented on #8780
I feel if you put one example it simply makes it clear to someone who has just google "sklearn random forest classifier" that the example embedded is the way to use it otherwise I had to again go back to google and then retype "sklearn random forest classifier with example" and land into different websites than the official sklearn documentation. That I think is a bad experience for sklearn user.

[2017-04-24 19:22] ClementC opened #8786 "Performance issue with cross_val_predict using large memory-footprint estimators"
#### Description

Hi there,

I recently started to use the pipeline construct with cross_val_predict.
Since then, I noticed a large increase of processing on a chunk of my code.
After investigation, it seems that the call to [clone()](https://github.com/scikit-learn/scikit-learn/blob/14031f6/sklearn/model_selection/_validation.py#L400) in the code of cross_val_predict is the culprit.

What happens

[2017-04-24 20:29] jmschrei commented on #8780
When I google `sklearn random forest` the first page I get is the RF documentation page that has examples on the bottom. The fourth result is the general ensembles page that has several examples of random forests. If I google `sklearn random forest example` the first page is the general ensembles page with the examples, followed by several other pages with examples. I don't think that it is a prob

[2017-04-24 20:42] GaelVaroquaux commented on #8785
While I agree with you, I think that we can do slightly better by
truncating the repr when it is too long. In joblib, this is what we do:

<pre>
def pformat(obj, indent=0, depth=3):
    if 'numpy' in sys.modules:
        import numpy as np
        print_options = np.get_printoptions()
        np.set_printoptions(precision=6, threshold=64, edgeitems=1)
    else:
        print_options = None
    out

[2017-04-24 22:40] amueller opened #8787 "GradientBoosting warns for min_impurity_split even if not set"
It looks like there is an issue with the deprecation of ``min_impurity_split``. It looks to me like it raises a deprecation warning even if the user didn't set it - which it shouldn't.

[2017-04-25 00:06] jnothman commented on #8786
Interesting. But how much memory is each cloned instance consuming?

On 25 Apr 2017 5:23 am, "ClementC" <notifications@github.com> wrote:

[2017-04-25 00:41] mblondel commented on #8769
Maybe not for L-BFGS:
https://github.com/scipy/scipy/issues/4873

[2017-04-25 03:13] shuuchen opened #8788 "Cannot specify copy_X and n_jobs parameters in the construction of sklearn.decomposition.KernelPCA"
Hi there,
I find some problem when I use KernelPCA. I am eager for your help.

#### Description
Parameters copy_X and n_jobs cannot be specified, as I tried.

#### Steps/Code to Reproduce
from sklearn.decomposition import KernelPCA

pca = KernelPCA(n_components=6, kernel='rbf', copy_X=False, n_jobs=-1)
pca.fit_transform(X)

#### Expected Results
No error.

#### Actual Results
TypeError: __init__()

[2017-04-25 07:00] jnothman commented on #8788
i suspect it's not actually version 0.18.1. could you please check
sklearn.__version__ in the environment where you get the error?

On 25 Apr 2017 1:13 pm, "Shuchen Du" <notifications@github.com> wrote:

[2017-04-25 08:24] shuuchen commented on #8788
Yes, that s 0.17.1
Thanks very much!

[2017-04-25 08:24] #8788 closed

[2017-04-25 08:34] lesteve commented on #5115
This is weird and very likely not related to this issue then (which is about `n_jobs != 1`). The best way to get good feedback would be to open a separate issue with a stand-alone snippet reproducing the problem.

[2017-04-25 08:42] glemaitre commented on #8787
I am going to check it

[2017-04-25 08:52] #8744 closed

[2017-04-25 09:54] ClementC commented on #8786
Hi!
I did not profile the memory, so I don't have hard numbers on this. But I guess it's basically cv times the memory taken up by the original estimator.
Do you think I should do the profiling?

[2017-04-25 11:18] AbhishekHP2016 commented on #6787
Hello Adehgha,

         Which was the distance matric used ? I mean, How did the distance was pre-computed.
Did you use correlation ? or what function was used precompute it

[2017-04-25 12:07] thebeancounter commented on #8744
@glemaitre could you please direct me to some material about how to use kernel support for penalty purposes or just the use of kernel support?

[2017-04-25 12:15] glemaitre commented on #8744
You might want to check http://scikit-learn.org/stable/modules/svm.html#kernel-functions

[2017-04-25 12:32] lesteve commented on #8786
FWIW I don't see much improvement between your different variations on my laptop. It probably depends on how many cores and how much RAM you have. On my laptop (4 cores, 16GB RAM), it starts swapping after some time, which I am guessing is more due to the multiple `fit` in parallel (using `%memit` from `memory_profiler` a single `fit` uses ~6GB) rather than the `clone` (the pipeline model takes ro

[2017-04-25 12:47] #8787 closed

[2017-04-25 13:06] thebeancounter commented on #8744
thanks!

On Tue, Apr 25, 2017 at 3:15 PM, Guillaume Lemaitre <
notifications@github.com> wrote:

[2017-04-25 14:36] root-sudip opened #8791 "Update the Dictionary by using PCA."
I want to update my `Dictionary` using `PCA` instead of `SVD`. So, How or which portion of `dict_learning_online` code I have to change for `PCA`?

[2017-04-25 14:44] root-sudip commented on #8791
@glemaitre  can u help me for this ??

[2017-04-25 15:36] AishwaryaRK commented on #8627
@lesteve @jnothman @TomDLT I've made the changes told in the review of my previous pull request. CI pipeline is completed. Can you please review the pull request and merge it. Thank you.

[2017-04-25 17:13] ClementC commented on #8786
Hi,
I'm using a 15 processors machine with 100GB of RAM.
Thanks for the tip on the deprecated version. As you said, there's no difference right now, it's basically the same code.
Do you mean you see no improvement in terms of emory used or computing time?

[2017-04-25 18:00] jolespin opened #8792 "Feature Request | Progressbar for metrics.pairwise.pairwise_distances"
I just found out about `metrics.pairwise.pairwise_distances` and how it can use `n_jobs` to run the calculation in parallel.  I'm very into this idea b/c I am limited to prototyping ideas when the distance matrix calculation takes a long time.  This parallel methods definitely helps but it would be really useful if I could get a feel of the progress with a progressbar from `tqdm` or equivalent.  I

[2017-04-25 18:24] AishwaryaRK commented on #8736
@amueller @glemaitre ,
Hello, this issue seems open, I would like to contribute in solving this issue. Can you please give me some pointers to start with.
Thank you.

[2017-04-25 19:10] amueller commented on #8701
@TomDLT We got rid of them in the other scalers, and I think they are mostly noise. We could add a flag to the warning config to warn for all conversions. Right now this is not very useful I think.

[2017-04-25 19:11] #8701 closed

[2017-04-25 22:04] jnothman commented on #8792
fwiw, most normal use cases don't get much benefit in runtime from
parallelism in that function. so I'm not very convinced. for your own use,
you could hack the construction of Parallel to use the verbose option

On 26 Apr 2017 4:00 am, "Josh L. Espinoza" <notifications@github.com> wrote:

[2017-04-25 22:07] jnothman commented on #8736
Start by looking at other implementations of get_n_splits and where they
are tested. Write your own test and open a pull request. Write an
implementation that passes the test.

On 26 Apr 2017 4:25 am, "AishwaryaRK" <notifications@github.com> wrote:

@amueller <https://github.com/amueller> @glemaitre
<https://github.com/glemaitre> ,
Hello, this issue seems open, I would like to contribute in solvin

[2017-04-25 22:16] stuz5000 opened #8795 "roc_auc_score( sample_weight= ) has no effect"
#### Description

roc_auc_score( sample_weight=)  has no effect.

#### Steps/Code to Reproduce

[code]
... gives the same output no matter the value of sample_weight or average.

#### Expected Results

roc_auc_score should weight sample scores by w.

#### Actual Results

[code]

#### Versions

[code]

[2017-04-25 22:48] MasonGallo opened #8796 "RobustScaler does not allow sparse matrix input"
`RobustScaler` raises a `TypeError` when calling `fit` with a sparse matrix as input, despite the docs indicating that using a sparse matrix is feasible as long as `with_centering=False`. Looks like the `fit` method is blocking any sparse matrix input with an if statement:

Link to line of code that raises: https://github.com/scikit-learn/scikit-learn/blob/14031f6/sklearn/preprocessing/data.py#L10

[2017-04-25 22:56] glemaitre commented on #8796
What you are saying seems to be right. Can you provide an minimal example to be certain of the behavior.

[2017-04-25 22:56] zfrenchee opened #8797 "LogisticRegression does not have a solver for multi_class='multinomial' and penalty='l1'"
#### Description

- The solvers are  {`newton-cg`, `lbfgs`, `liblinear`, `sag`}, default: `liblinear`
- Only `liblinear` supports L1 penalty
- `multi_class='multinomial'` "Works only for the `newton-cg`, `sag` and `lbfgs` solvers."

http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

I'm not an expert...  Would it be possible to add L1 to any of these oth

[2017-04-25 23:45] stuz5000 commented on #8795
Hmm... seems like the only place sample_weight is used is:

[code]

That is... if ```y_true==0``` then the sample weight is ignored. Only one of TypeI or TypeII errors is weighted.

Shouldn't this weight both TypeI and TypeII errors?

[2017-04-26 00:11] jnothman commented on #8795
I reviewed our tests and I'm very confident in them. Then I looked at your
weighting strategy. roc score will not be affected by class weight, only by
weights uncorrelated with class.

On 26 Apr 2017 8:16 am, "Stuart Reynolds" <notifications@github.com> wrote:

[2017-04-26 00:11] #8795 closed

[2017-04-26 00:13] jnothman commented on #8796
or just submit a fix

On 26 Apr 2017 8:56 am, "Guillaume Lemaitre" <notifications@github.com>
wrote:

[2017-04-26 00:17] jnothman commented on #8795
And no, that is not the only place weight is used.

On 26 Apr 2017 9:45 am, "Stuart Reynolds" <notifications@github.com> wrote:

[2017-04-26 00:45] jolespin commented on #8792
Hacking the verbose option is a great idea.  Thanks for the suggestion!

Sent from my iPhone

[2017-04-26 00:46] stuz5000 commented on #8795
Is it a requirement that sample_weight is uncorrelated with the class?

[2017-04-26 01:51] jnothman commented on #8795
Does not need to be completely uncorrelated, but for ROC, being completely
determined by class will have no effect on the metric.

On 26 April 2017 at 10:46, Stuart Reynolds <notifications@github.com> wrote:

[2017-04-26 02:11] shuuchen opened #8798 "Differences among the results of KernelPCA with rbf kernel"
Hi there,
I met with a problem:

#### Description
When I run KernelPCA for dimension reduction for the same datasets, the results are different in signs.

#### Steps/Code to Reproduce
Just to reduce the dimension to 7 with rbf kernel:
pca = KernelPCA(n_components=7, kernel='rbf', copy_X=False, n_jobs=-1)
pca.fit_transform(X)

#### Expected Results
The same result.

#### Actual Results
The results

[2017-04-26 05:07] AishwaryaRK commented on #8627
@lesteve @jnothman @TomDLT
Here's the pull request,
https://github.com/scikit-learn/scikit-learn/pull/8771#pullrequestreview-34039225

[2017-04-26 05:08] AishwaryaRK commented on #8736
@jnothman Thanks :)

[2017-04-26 07:10] lesteve commented on #8786
Both. Basically as I tried to say above I am not convinced that `clone` is the culprit in your reproducible example.

[2017-04-26 07:58] #8627 closed

[2017-04-26 08:14] TomDLT commented on #8797
Lucky you : #8446 recently implemented a new solver for `LogisticRegression` called 'saga', which handle both multinomial loss and L1 penalty.

This improvement will be available in v0.19 (not released yet), but you can already use it if you install the master branch.

[2017-04-26 12:23] joaquinvanschoren commented on #3298
Hi @kathyxchen, @jnothman,

Any updates on the PR?

[2017-04-26 12:43] zfrenchee commented on #8797
Thanks @TomDLT

[2017-04-26 12:43] #8797 closed

[2017-04-26 12:44] ClementC commented on #8786
OK, I got it.
I added the cell 40 (`cols_choice = np.array(cols_choice, dtype=np.uint32)`) afterwards because I thought it would be cleaner.
But I did not recompute the cells below it, mainly because I didn't want to wait for another fifteen minutes. So much for reproducible code...

Anyway, if you comment that cell, you should get the same performance that I did.
Or you can just run:
[code]
which

[2017-04-26 14:07] MasonGallo commented on #8796
I'm assuming it's just removing the lines that raise the exception and adding a test? I should be able to submit a PR in the next day or two.

[2017-04-26 14:34] lesteve commented on #8786
I am sorry but your message go in way too many seemingly unrelated directions. All I can say is: if your problem has been fixed, can you please close the issue ?

[2017-04-26 17:11] amueller opened #8799 "should LatentDirichletAllocation.n_topics be called n_components?"
LDA has a components_ attribute and is in the decomposition module.
It's a bit special about the data it can be trained on, but I feel we can still stay with the standard API.

[2017-04-26 17:36] GaelVaroquaux commented on #8799
I am +1 on that.

[2017-04-26 17:52] ClementC commented on #8786
Sorry if I was not very clear, I'm not trying to make you lose your time, it's just that it was a bit hard for me to articulate things.

I'm not closing the issue because my problem was solved using a work-around.

To sum things up a bit better:
- I found a case where `cross_val_predict` is not parallel, because of `clone()`
- I wrote a reproducible example of if (correct version [here](https://gi

[2017-04-26 18:04] GaelVaroquaux commented on #8786
You should use arrays as much as possible with scikit-learn (as with any
numerical work). They are going to be converted to arrays down the line
anyhow.

In a sense, we tried playing nice with users by also accepting lists, but
the cost is that people run suboptimal code.

[2017-04-26 19:43] grfiv commented on #3831
@dswah  exactly correct; thank you very much

[2017-04-26 19:58] #8477 closed

[2017-04-26 21:17] jnothman commented on #8786
Are the lists your data or some instance parameters? If your data, I still
don't understand why clone would play a part.

On 27 April 2017 at 04:04, Gael Varoquaux <notifications@github.com> wrote:

[2017-04-26 22:15] lesteve commented on #8786
@jnothman it is an instance parameter, the pipeline is:

[code]

`cols_choice` is a 700MB list wich  takes about 1min to `copy.deepcopy`, hence the clone timings reported above. That also explains the behaviour described in the first post of this issue.

@ClementC just out of interest in your original problem with "steps including rather large chunks of data, related to a ~10M x 10M sparse matrix.

[2017-04-26 22:19] AishwaryaRK commented on #8736
@glemaitre @jnothman @amueller
 Hello, I've raised a PR for this issue, can you please review and merge it. Thank you.

https://github.com/scikit-learn/scikit-learn/pull/8802

[2017-04-27 00:21] ryanastout commented on #6353
Would it make sense to add an accessor method which returns a normalized version of components_ ? Something like model.get_topic_distributions() which returns components_ /components_.sum(axis=1) ?

[2017-04-27 00:47] chyikwei commented on #6353
The "transform" method already returns normalized component_. I think you
can just use it?
Source code:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/online_lda.py#L588-L606

On Wed, Apr 26, 2017 at 8:22 PM ryanastout <notifications@github.com> wrote:

[2017-04-27 00:59] ryanastout commented on #6353
transform() returns a normalized list of topics for the transformed
documents. This is useful because for a given document, we can see what
fraction of the words in that document are from each topic.
However, components_, as I understand it, represents the probability
distribution over words for each of the topics.

When a document is "generated", first a topic is selected from that
document's dis

[2017-04-27 01:49] chyikwei commented on #6353
oh sorry. I thought you were asking the inference function.

`components_` is parameter of Dirichlet distribution. so it doesn't have to
sum up to 1.
And since the normalization just take 1 line of code, I am not sure if we
need a separate function for it.

On Wed, Apr 26, 2017 at 9:00 PM ryanastout <notifications@github.com> wrote:

[2017-04-27 01:58] ryanastout commented on #6353
I agree that it's a one-liner to normalize and so a method isn't necessary.

Is it mathematically correct to normalize components_ ? In other words, if
I sum the numbers in components_ per topic, and then divide each element by
that sum, is the resulting the correct probability distribution over words
for that topic? If so, could this be documented somewhere? Earlier today it
was unclear to me if

[2017-04-27 02:02] williamsmj commented on #6353
Why _woudn't_ `components_` be normalized? Each row represents a probability distribution over terms in defined in Blei et al. 2003. The rows should therefore each sum to 1. There's no reason for them not to, even if it's easy for the end user to fix.

[2017-04-27 02:37] williamsmj commented on #6353
[Blei 2012](http://www.cs.columbia.edu/~blei/papers/Blei2012.pdf) presents this less formally.

The output of the `.transform()` on a (single) document is theta, i.e. a distribution over topics for that document. The distribution sums to 1. This is the cartoon histogram in Figure 1 of that paper. This is currently the correct behaviour of sklearn's implementation.

`components_` should be exactly

[2017-04-27 02:40] chyikwei commented on #6353
Please check Fig. 5 in [this reference paper](http://www.columbia.edu/~jwp2128/Papers/HoffmanBleiWangPaisley2013.pdf).

`components_` here is the `lambda_k` and we use it to approximate `beta_k` in variational inference. (note `p(beta_k|z, w)`  is also Dirichlet distribution in eq. 30.)

So `components_` are not prob distribution.
When we normalize it, it means we take the expectation of the Diric

[2017-04-27 02:46] williamsmj commented on #6353
I agree `components_` is not currently a probability distribution. My point is that should be, by symmetry with `transform()` and to match other implementations.

[2017-04-27 03:04] chyikwei commented on #6353
If it caused a lot of confusion, we should change the documentation for `components_` and return normalized value by a function. (as @ryanastout suggested)

We cannot simply normalized it after training since inference need unnormalized value.

[2017-04-27 09:33] invokerk commented on #8705
Hi, This issue seems to be open still and I would like to contribute by fixing this. Can you please give me some pointers ?

[2017-04-27 10:16] ClementC commented on #8786
Hi,

Yes, I agree it wasn't the good way to do things. Thanks for your feedback!

@lesteve yes, the original pipeline used big lists like in the example I gave. That's why I said that simply converting them to `numpy.array` solved things for me, but the problem was still there. I get that you guys have a bit of a trade-off here between performance and ease-of-use.
I also understand the need for av

[2017-04-27 11:35] kovarn commented on #8063
I tested with the suggested data generator, and the complexity is actually linear. This is the output of the benchmark test
[code]

I couldn't find any problem with the source either.

[2017-04-27 13:28] lesteve commented on #8786
I am not sure, but my instinct is that it is not an important enough use case to bother about it. Also `pickle.loads(pickle.dumps(obj))` is faster than `copy.deepcopy(obj)` for big lists like you have but not arrays of the same size for example. To sum up: your original problem has a work-around, very likely does not happen that often in practice, and there does not seem to be a simple solution.

[2017-04-27 13:35] ClementC commented on #8786
OK then! I'm closing the issue.
Thanks for your time looking at this!

[2017-04-27 13:35] #8786 closed

[2017-04-27 15:25] lesteve commented on #8798
Looks like this sign flip thing was already noticed as part of https://github.com/scikit-learn/scikit-learn/issues/5970.

Maybe using `sklearn.utils.svd_flip` may be the fix to have a deterministic sign.

Can you provide a stand-alone snippet to reproduce the problem ? Please read https://stackoverflow.com/help/mcve. Stand-alone means I can copy and paste it in an IPython session. In your case you

[2017-04-27 15:35] kirk86 commented on #4033
log_loss also doesn't support multiclass targets, especially when you have one-hot labels

[2017-04-27 16:32] glemaitre commented on #8705
@invokerk There is already a PR which was submitted #8725

[2017-04-27 18:36] deto commented on #8766
Adding to this since it'll be in the same PR:

@AlexanderFabisch found another issue - the clipping operation isn't doing anything as it currently is written.  Needs to set an output parameter.

[2017-04-27 18:36] jcrist opened #8804 "Add ability to override joblib backend for scikit-learn estimators"
Some calls to `Parallel` in scikit-learn hardcode what joblib backend to use. It would be nice if these could be overridden to use a different backend using the `parallel_backend` contextmanager. This would allow optionally using the `dask.distributed` backend in more places, which *may* provide speedups (see comment [here](https://github.com/dask/distributed/pull/1022#issuecomment-297550998)).

O

[2017-04-27 18:54] wiseman commented on #2755
I run into this issue about half the time I run a particular script:

[code]

[2017-04-27 19:01] jcrist commented on #2755
This reproduces it on (most) calls:

[code]

[2017-04-27 19:02] chyikwei commented on #6353
Look like the "Topic word distribution" in `components_` doc  is misleading. I will submit a PR to update it first. (still not sure if we need a function to return normalized `components_` though.)

[2017-04-27 20:45] ryanastout commented on #6353
Is there any reason not to add the function to return normalized
components_ ?

On Thu, Apr 27, 2017 at 2:02 PM, Chyi-Kwei Yau <notifications@github.com>
wrote:

[2017-04-27 21:31] jnothman commented on #8786
you could also define your function transformer differently to be able to
use a list of slices, if many of your features are contiguous

On 27 Apr 2017 11:35 pm, "ClementC" <notifications@github.com> wrote:

Closed #8786 <https://github.com/scikit-learn/scikit-learn/issues/8786>.

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.

[2017-04-28 02:48] jmschrei commented on #8799
I am +1 about that as well.

On Wed, Apr 26, 2017 at 10:36 AM, Gael Varoquaux <notifications@github.com>
wrote:

[2017-04-28 05:26] AishwaryaRK commented on #8736
@lesteve @jnothman @amueller @glemaitre
Hello, I've maid the changes told and push the commit. Can you please review and merge it.
Thank you.

[2017-04-28 06:01] shuuchen commented on #8798
Hi there,

Thanks for your reply! The code file is attached.

[test.txt](https://github.com/scikit-learn/scikit-learn/files/963545/test.txt)

I am afraid that the data part is too big, but small training data cannot give the phenomenon.
You can directly scroll down to the bottom of the code.
By the way, how sklearn.utils.svd_flip is used? Would you please give me some example by modifying
the code

[2017-04-28 08:40] lesteve commented on #2755
Thanks for the stand-alone snippet @jcrist. I can reproduce the problem indeed.

[2017-04-28 10:01] lesteve commented on #8798
Thanks for your stand-alone snippet, for next time remember that such a snippet is key to get good feedback.

Here is a simplified version showing the problem. This seems to happen only with the `arpack` eigen_solver when `random_state` is not set:

[code]

Output:
[code]

[2017-04-28 12:56] lesteve commented on #8618
It may be worth to retry on master once https://github.com/scikit-learn/scikit-learn/pull/8768 has been merged.

[2017-04-28 13:49] lesteve commented on #8804
Now I am wondering why using a context manager only overrides the default backend (when not specified explicitly) and not all of them.

In other words:
[code]

Should `outer_backend` have priority above `inner_backend`?

Ping @ogrisel, I seem to remember we chatted about related things but I don't remember the outcome of the discussion.

[2017-04-28 13:50] rth opened #8806 "Maximum recursion depth reached while pickling Birch clustering estimators"
Because of the highly recursive structure used in Birch clustering, the maximum recursion depth can be easily reached while pickling this estimator.

Here is minimal example,
[code]

which produces the following traceback (using Linux, Python 3.6, scikit-learn 0.18.1),
<details>
<p>

[code]
</p>
</details>

this is mostly due to the inherent pickle limitations and also occurs when using the Python

[2017-04-28 13:53] GaelVaroquaux commented on #8806
Hum, tricky problem!

If we could indeed use a less recursive structure, it would be nice.
Maybe if we can come up with a good structure, it would be use to it not
only for pickling, but as the main structure after the fit.

[2017-04-28 13:55] GaelVaroquaux commented on #8804
One problem that I see is that when the backing is threading, the code
can safely assume that there is shared memory, and use it. This is no
longer the case with other backend.

In your benchmark: did you check that the results were the same in the
different backends, or did you only compare the run-time? I don't
remember if random forest use a shared memory or not.

[2017-04-28 14:11] lesteve commented on #8804
That's a good point actually and this is going to be a problem since #8672, which was merged around a month ago relies on the threading backend. In https://github.com/scikit-learn/scikit-learn/pull/8672/files#diff-65dc1c804f310acfd90f5ea83286065cR387 the function that was passed into `Parallel` has side-effects and this only works because backend=threading.

[2017-04-28 15:15] shuuchen commented on #8798
Thanks very much!
I will check it later.

[2017-04-28 15:25] rth commented on #8806
Well I think the current structure implements quite well what is described in the original  paper on Bitch clustering.

The problem is that the hierarchical tree is doubly linked in Python: in addition to having links to  the children subclusters (via `_CFSubcluster.child_ : _CFNode`)   and  `_CFNode.subclusters_:  list of _CFSubcluster`, which is fine, it is also transversely linked with  `_CFNod

[2017-04-28 15:56] jcrist commented on #8804
I'm not sure exactly what to compare for trees, but they have the same score, and the following passes (for `RandomForestClassifier`):

[code]

That is a good point though, and would need to be considered when determining what can have overridable backends.

I don't think so, as that wouldn't allow internal code to ensure using threading. For the case of `RandomForest` we could allow fit to use an

[2017-04-29 06:36] jatiniitr commented on #3605
Facing the same Issue n_jobs=-1 freezes in Windows

[2017-04-29 09:29] jnothman commented on #8806
i think implementing a getstate/setstate to optimise for storage makes some
sense

On 29 Apr 2017 1:25 am, "Roman Yurchak" <notifications@github.com> wrote:

[2017-04-29 09:30] jnothman commented on #8804
allow_override=False?

On 29 Apr 2017 1:56 am, "Jim Crist" <notifications@github.com> wrote:

[2017-04-29 11:17] jnothman commented on #2755
Is it worth using locks as a fix for now??

[2017-04-29 11:33] #8736 closed

[2017-04-29 11:39] glemaitre commented on #3605
@jatiniitr Open a new issue with a minimal example that we can execute and reproduce the issue.
Also fill the issue template such that we can have your system and packages information.

[2017-04-29 13:14] #8662 closed

[2017-04-29 13:45] jachymb opened #8809 "Confusing error message in fit() methods using SVD"
I hope the code says all:

[code]

The array `a` obviously does not contain infs or NaNs but the method complains anyway. I think the error is actually caused by the array `a` being too small, but that's something very different. The error message should be made more relevant.

[2017-04-29 13:56] glemaitre commented on #8809
`/usr/lib/python3.6/site-packages/sklearn/cluster/bicluster.py:38: RuntimeWarning: divide by zero encountered in true_divide
  row_diag = np.asarray(1.0 / np.sqrt(X.sum(axis=1))).squeeze()`

In someway, if there is a division by zero there is some resulting `NaN`s and thus, IMO, the error makes sense.
Also, as you mentioned, the `a` matrix is a ill-posed matrix for such decomposition or processing

[2017-04-29 14:04] jachymb commented on #8809
Hello, I see - so the error is caused during normalization of the matrix inside the `SpectralCoclustering.fit` method. So the array `a` is ill-posed not because it's too small, but because it contains a column full of zeros. It works fine with `a=np.array([[1,2],[3,4]])`. I still believe the error message could be more understandable by somehow checking this property before normalization. I think

[2017-04-29 21:57] #8251 closed

[2017-04-29 22:11] jnothman opened #8810 "Drop support for old numpy etc"
as per https://github.com/scikit-learn/scikit-learn/issues/7522#issuecomment-266038646

Perhaps scikit-learn 0.19 should be the last to support numpy 1.6.1. Or we could drop it for 0.19.

From scikit-learn 0.20 we should support numpy 1.8.1, scipy 0.13.3 minimum (see https://github.com/scikit-learn/scikit-learn/issues/7522#issuecomment-251217513).

[2017-04-30 02:52] andrewxiwu commented on #5961
`from sklearn import covariance

data = [[-0.25835642, -0.53452248],
       [-0.13294068, -0.53452248],
       [-0.13294068, -0.53452248],
       [-0.13294068,  0.80178373],
       [-0.25835642,  0.80178373],
       [-0.25835642, -0.53452248],
       [-0.25835642, -0.53452248],
       [-0.25835642, -0.53452248],
       [-0.13294068,  0.80178373],
       [ 0.11789079,  2.13808994],
       [-0.25835

[2017-04-30 02:58] andrewxiwu commented on #5961
Further, if you truncate the data matrix I gave above a little bit, you can get the "singular covariance matrix" error. Any of this behavior should not happen in a faithful implementation of fast_mcd algorithm (i.e. it can handle singular covariance matrix of course).

It seems that this issue is in the process of being fixed: https://github.com/scikit-learn/scikit-learn/pull/8328

I hope that the

[2017-04-30 12:40] andrewxiwu opened #8811 "Issues with minimum covariance determinant"
With the following code using robust covariance estimation the following issues will happen:

1. Negative determinant (which is impossible in theory because covariance matrix is positive semi definite).

2. Increasing determinant in the concentration step of the fast_mcd algorithm (which is also impossible in theory. And[ the comment in the implementation](https://github.com/scikit-learn/scikit-le

[2017-04-30 20:03] puneetmathurDS commented on #8679
Thanks https://github.com/amueller @amueller I have made the changes to the contributions.rst and pushed the changes please accept and merge the Pull request.

[2017-04-30 22:27] grfiv commented on #6564
I submitted pull request 8812 before I knew of this thread; it is pending my corrections to Travis CI's PEP 8 strictures. I was was motivated by the same XGB issue and I agree it's XGB's problem but since it is also my problem and also this feature seems useful more broadly so I suggested a change to RFE/RFECV.

The code snippet you include makes the change to `n_features_to_select` which I don't

[2017-05-01 06:06] Terryhung commented on #8644
Hi, I would like to work on this! How do I start to commit it?

[2017-05-01 06:37] chengsoonong commented on #8588
mldata.org is back up.

I agree that there are challenges with keeping the response time small when it does go down though. We will talk to openml to see how we can migrate/mirror mldata there. The tricky bit is to try to retain the versions.

[2017-05-01 07:05] naoyak commented on #8619
I can replicate this.

<details><summary>scikit-learn 0.17.1</summary><p>
---
7433 function calls in 1.533 seconds

Ordered by: cumulative time

ncalls  tottime  percall  cumtime  percall filename:lineno(function)
1    0.000    0.000    1.533    1.533 {built-in method builtins.exec}
1    0.000    0.000    1.533    1.533 <string>:1(<module>)
1    0.066    0.066    1.533    1.533 dbscan_.py:249(fit)

[2017-05-01 07:54] jnothman commented on #8619
Probably due to that. How does this time increase scale?

I suspect we need to move towards something like #6816 where we have a switch to run dbscan for speed vs for memory

[2017-05-01 08:01] glemaitre commented on #8644
@Terryhung Go for it. You need to edit the docstring of:
https://github.com/scikit-learn/scikit-learn/blob/581e135/sklearn/metrics/cluster/supervised.py#L531
and edit the User Guide under mutual information
https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/clustering.rst

[2017-05-01 08:39] naoyak commented on #8810
[Ubuntu 12.04 has been EOLed as of 28 Apr 2017](https://lists.ubuntu.com/archives/ubuntu-announce/2017-March/000218.html)

Does that mean numpy 1.8.1 / scipy 0.13.3 can be imposed as minreqs for 0.19 (and hence a lot of the backports in `sklearn.utils.fixes` can be deleted per https://github.com/scikit-learn/scikit-learn/issues/6616#issuecomment-205134864)?

[2017-05-01 08:49] glemaitre commented on #8810
yep

[2017-05-01 08:57] naoyak commented on #8619
I think #6813 is the issue :)

[2017-05-01 09:46] jnothman commented on #8810
can be, unless we feel obliged to give warning. or unless we don't want to
review those changes before release

On 1 May 2017 6:50 pm, "Guillaume Lemaitre" <notifications@github.com>
wrote:

[2017-05-01 14:07] data-steve opened #8816 "profiling v0.18 model pipeline : namedtuple from ensemble costing ~90% of time"
#### Description
At working I am building an ensemble model of RandomForests model using sklearn version 0.18. See basic code below. (Sorry that I can't show most of the code as it is from work.)

[code]

We had used this same setup last year with sklearn version 0.17 on a previous project and very similar data from our production system. The model was producing `predict_proba` predictions on a 2-

[2017-05-01 14:20] glemaitre commented on #8816
We had a speed regression with joblib=1 (which is the default parameter of the RF) which has been corrected: #8186

Since joblib has been updated in master. Could you check if the issue is the same with the master version.

[2017-05-01 14:55] data-steve commented on #8816
Related to your comments in [#8186](https://github.com/scikit-learn/scikit-learn/issues/8186), we trained our model in ec2 on an [m4.16xlarge instance](https://aws.amazon.com/ec2/instance-types/) with n_jobs=-1; but when we deployed it in Flask, the same prediction I mention above took ~40 secs in 0.18 version. Also, related to the discussion on that issues, predicting on one sample per curl submi

[2017-05-01 15:25] glemaitre commented on #8816
I would make a try to deploy 0.19 and load the previous trained model. I think that their is chance that there no major changes which might break the model (even if this is not recommended to do so).

If there is no breaking, you can check the speed of prediction for one samples.

[2017-05-01 16:30] violinbeats opened #8818 "LinearRegression RSS and ESS correction"
Hi,

I noticed that in the [LinearRegression page](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html)
, under the score section, the mathematical formula for regression sum of squares and residual sum of squares are flipped.

Just wanted to submit a note!

[2017-05-01 17:18] jcrist commented on #8804
If we were to do that, my preference would be that `Parallel` backends are not overridable by default, and we set `allow_override=True` for calls that are known to work fine under non-shared memory backends.

For moving forward on this, is this something that should be an issue/PR to joblib instead of here?

[2017-05-01 17:24] GaelVaroquaux commented on #8804
I think that the notion of overrides is going to be challenging to do in
a non fragile way.

Maybe we should have a semantics in the way we specify the backends. To
give an example, what the threading backend provides is shared memory,
what it doesn't provide is parallel computing for gil.

A semantic specification might look like "backend='nogil,shared_mem'",
which would say that the code needs s

[2017-05-01 17:37] jcrist commented on #8804
Hmmm, that's an interesting idea. I will say that as a novice joblib user, I find the concept of a default backend and whether that backend can/cannot be swapped out to be simpler than a set of semantic requirements (probably simpler to implement too). It's not immediately clear to me what `nogil` means here (could mean either that my function releases the gil or that I want to compute in processe

[2017-05-01 17:40] GaelVaroquaux commented on #8804
I agree that the semantics should be made clear in documentation. I also
agree that better wording must be explored.

The question is rather: are these the good axis to explore?

Ping @ogrisel, @aabadie, @lesteve

[2017-05-01 20:26] data-steve commented on #8816
I tried it and it worked. It predicted in 0.361 secs

Here’s the %prun output. Back to cPickle.dumps it would seem.

Also, yes we’re still py27 for this project.

         232272 function calls (231871 primitive calls) in 0.361 seconds

   Ordered by: internal time

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
     3000    0.056    0.000    0.061    0.000 {method 'predic

[2017-05-01 21:39] jnothman commented on #8816
okay to close this issue?

On 2 May 2017 6:26 am, "Steve Simpson" <notifications@github.com> wrote:

[2017-05-01 22:26] jnothman opened #8819 "Common tests for CV splitters"
There should be some basic common tests of CV splitters, ensuring consistent output from `split` and that `get_n_splits` matches `split`.

[2017-05-01 22:40] data-steve commented on #8816
Yes, sorry meant to.

~ Steve

Sent via telepathy

[2017-05-01 23:39] naoyak commented on #6616
Copying #8810 - is it OK to drop `scipy < 0.13.3` and `numpy < 1.8.1` for 0.19 as Ubuntu 12.04 is officially EOLed? This would allow a lot of backport code to be deleted and obviate some of this public vs. private debate w.r.t. `sklearn.utils`.

[2017-05-02 01:20] #8816 closed

[2017-05-02 01:26] jnothman commented on #6616
I don't see how it helps with the private/public debate!

On 2 May 2017 9:39 am, "Naoya Kanai" <notifications@github.com> wrote:

[2017-05-02 02:15] naoyak commented on #8619
Tested the scaling of runtime increase (on macOS Sierra, Python 3.5.2):
[code]

![figure_1](https://cloud.githubusercontent.com/assets/3279641/25601622/492f3066-2ea2-11e7-99a2-e2b154bbe261.png)

[2017-05-02 02:20] jnothman commented on #8619
so at least it appears​ only linear. but that's not too great either.

On 2 May 2017 12:15 pm, "Naoya Kanai" <notifications@github.com> wrote:

[2017-05-02 05:15] rahulpshah commented on #8819
Hello. I would like to work on this.

[2017-05-02 11:22] VathsalaAchar commented on #8646
Does this still need doing?

I can see that the Clustering model evaluation ([3.3.5](http://scikit-learn.org/stable/modules/model_evaluation.html#clustering-metrics)) links to [Clustering and Biclustering performance metrics](http://scikit-learn.org/stable/modules/classes.html#clustering-metrics)  and there are more details of the metrics in Clustering performance evaluation ([2.3.9](http://scikit

[2017-05-02 12:41] jnothman commented on #8646
Personally I'd be tempted to split model_evaluation into multiple files, so
that there's an overview on the front page, then separate pages for
classification, regression, clustering, linked from appropriate places. but
it does invalidate a whole lot of hyperlinks...

On 2 May 2017 at 21:22, Vathsala Achar <notifications@github.com> wrote:

[2017-05-02 13:22] VathsalaAchar commented on #8646
@jnothman Okay. Let me try that this week and get back to you with how many links will get affected.

I think separate files would look cleaner and mean less searching around.

[2017-05-02 13:24] jnothman commented on #8646
by links i mean links on the web...

On 2 May 2017 at 23:22, Vathsala Achar <notifications@github.com> wrote:

[2017-05-02 14:46] Terryhung commented on #8644
Thank! I think I finish it, but how do I test it?

[2017-05-02 14:52] glemaitre commented on #8644
You need to make a PR. You can check the contributing guide to check the different steps to follow.

[2017-05-02 15:00] VathsalaAchar commented on #8501
Do you still need a contributor here?

[2017-05-02 17:17] grnlndr opened #8822 "Subclassing LassoCV causes fit() to throw KeyError"
#### Description
Subclassing LassoCV causes fit() to throw KeyError. Note that subclassing Lasso (i.e. without cross validation) in the same manner _does_ work.

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error

#### Actual Results
[code]

#### Versions

Darwin-16.5.0-x86_64-i386-64bit
Python 3.5.2 (default, Jul 28 2016, 21:28:00)
[GCC 4.2.1 Compatible Apple LLVM 7.3.0 (clang-70

[2017-05-02 17:43] 14thibea opened #8823 "Question about the computation of the lower bound in mixture.bayesian_mixture.py"
In method _compute_lower_bound of mixture.bayesian_mixture.py all the terms that should be in the lower bound aren't there.
That's normal for constant terms but for the others is there an explanation ?

(The formula in Bishop book is :

![lower_bound_formula](https://cloud.githubusercontent.com/assets/9931663/25631072/93412cb8-2f6f-11e7-938e-3ec3ce2dc0ab.png)
)

[2017-05-02 21:33] nikitasingh981 commented on #8818
Working on fixing this!

[2017-05-02 23:12] Terryhung commented on #8644
Thank! I have opened a pr and passed all the test.

[2017-05-03 16:19] amueller opened #8825 "diabetes data has no DESCR attribute"
~~I think we have the info for the diabetes data, it would be nice to include.~~ Looks like that happened in master. But we still have no DESCR.

[2017-05-03 20:32] VathsalaAchar commented on #8646
Ah, I didn't realise that was a consideration. So how best do I go about doing this then?

[2017-05-03 21:33] baharian commented on #8710
I currently do what you suggested at the end of your post: I do hyper-parameter optimization with `RandomizedSearchCV` (which by default fits the best model to the entire dataset at the end) and then calibrate this model with `CalibratedClassifierCV` using `cv = 'prefit'` argument.

[2017-05-03 21:56] jnothman commented on #8646
just change it, and do so so convincingly that we don't care about existing
links on the web!

On 4 May 2017 6:32 am, "Vathsala Achar" <notifications@github.com> wrote:

[2017-05-04 01:52] pfetsch opened #8826 "Bug with SVM with all 0 sample_weights"
The following happens if for `clf = svm.SVC` one calls `clf.fit(features, labels, sample_weight=weights)`, where `weights` is a 0 array.

The traceback is:
`  File "anaconda/lib/python3.5/site-packages/sklearn/svm/base.py", line 189, in fit
    fit(X, y, sample_weight, solver_type, kernel, random_seed=seed)

  File "anaconda/lib/python3.5/site-packages/sklearn/svm/base.py", line 256, in _dense_fit

[2017-05-04 02:52] jnothman commented on #8826
Well, your input is quite pathological! You're going to receive an error in
either case. Are you just looking for a clearer error message?

On 4 May 2017 at 11:52, pfetsch <notifications@github.com> wrote:

[2017-05-04 06:29] kolju commented on #6646
So, I researched this bug, and the conclusion is that it's not a bug.

Requirement "class_weight should be a list of dicts" is not accidental. There are several types of multiple target y: multiclass, multiclass-multioutput and multilabel-indicator. Imagine we have multiclass-multioutput, for example np.array([[1.5, 2.0], [3.0, 1.6]]). Is this case we should weigh not a column, but every value for

[2017-05-04 06:56] InonS commented on #8376
@dalmia @amueller any news on this feature? We're eagerly anticipating it ;-)

[2017-05-04 07:15] jnothman commented on #6646
Doc contributions are very welcome

On 4 May 2017 at 16:29, Lera <notifications@github.com> wrote:

[2017-05-04 07:20] jnothman commented on #8376
See also #3512, #3514

[2017-05-04 09:52] naoyak commented on #8796
The issue is clarifying class documentation of `RobustScaler` as you can only `transform()` on sparse input after `fit`ting on dense input.

http://scikit-learn.org/stable/modules/preprocessing.html#scaling-sparse-data

See also https://github.com/scikit-learn/scikit-learn/pull/4125#r30829145

[2017-05-04 11:10] ValdarT opened #8829 "SGDClassifier memory error"
RandomizedSearchCV() runs into memory error depending on number of iterations.

The following code consumes more RAM the more iterations there are (the larger the value of n_iter_search):

[code]

I cannot share the data but it is around 40 million short strings.

#### Expected Results
I would expect the peak memory usage to be almost independent of the number of iterations. I guess the memory is

[2017-05-04 12:01] jnothman commented on #8829
I don't think this relates to RandomizedSearchCV.

What does df.target look like?

On 4 May 2017 at 21:10, ValdarT <notifications@github.com> wrote:

[2017-05-04 12:01] InonS commented on #8376
For the benefit of @amueller, my [comment](https://github.com/scikit-learn/scikit-learn/pull/8380#issuecomment-299164291) on #8380:

[2017-05-04 12:12] ValdarT commented on #8829
0    0
1    0
2    0
3    1
4    1
Name: target, dtype: int64

[2017-05-04 12:45] shivamgargsya commented on #8819
Hello @jnotham I would like to work on this. As I am new to scikit, can you explain a bit more about consistent output from split because I can see there is a test similar to checking consistency of split in test_split.py inside
test_cross_validator_with_default_params()
.
.

# Test if the cross-validator works as expected even if
            # the data is 1d
            np.testing.assert_equal(li

[2017-05-04 13:00] jnothman commented on #8819
Yes, that looks to be more-or-less what I intended. hard to keep up-to-date, though, as new splitters are added :\

[2017-05-04 13:00] #8819 closed

[2017-05-04 13:00] jnothman commented on #8829
how many classes are there altogether?

On 4 May 2017 at 22:12, ValdarT <notifications@github.com> wrote:

[2017-05-04 13:02] jnothman commented on #8829
I guess the error location is a red herring. Not sure what's going on here.
Do you get different with GridSearchCV? Are you running it with n_jobs=1?

On 4 May 2017 at 23:00, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-05-04 14:22] pfetsch commented on #8826
I agree that the case is pathological. In any case, I can think of two ways to proceed:
- Check whether there are no classes left and exit with an error message. (Currently one has to check the source code or guess what the problem is.)
- Output a warning and return any classifier.

If you think that this is case is too exotic, you are welcome to close this issue. I just wanted take the chance to

[2017-05-04 14:57] ValdarT commented on #8829
Yes, it was the default n_jobs=1.
I did not try GridSearchCV but I put it running using it now. It is the end of work day here, so I'll check how it is doing and report back tomorrow morning.

[2017-05-04 18:55] knarf-hackatal2016 opened #8830 "Change the grid search order to optimize caching in the new Pipeline"
Version: current master branch (19.)

GridSearchCV fits all the classifiers on the first split, then all the classifers on the second split, etc.

This is suboptimal for caching in the pipeline, since most intermediate transformers will be fitted with same input when the grid search runs with several jobs (since no caching has been done yet).

The order should be: fit the first classifier on all s

[2017-05-04 18:55] MechCoder commented on #3628
Thanks for the ping and your great work on the quantile transformer. Sorry if this is dumb, but do you know why the quantile transformation helps in the case of a decision tree, i.e the split computation is independent of the feature scaling no?

Reg: scikit-garden, the quantiles returned are at predict time as an estimate of `P(Y|X)` at different percentiles and is not used as a preprocessing or

[2017-05-04 19:44] glemaitre commented on #3628
It will help in the approximation mode. The quantile transformer is used for binning the data later used to build the histogram. In addition, using something fitting in an int8 could allow to use the CPU more efficiently.

[2017-05-04 19:56] MechCoder commented on #3628
Ah yes, thanks!

On May 4, 2017 3:44 PM, "Guillaume Lemaitre" <notifications@github.com>
wrote:

Thanks for the ping and your great work on the quantile transformer. Sorry
if this is dumb, but do you know why the quantile transformation helps in
the case of a decision tree, i.e the split computation is independent of
the feature scaling no?

It will help in the approximation mode. The quantile tra

[2017-05-04 21:28] jnothman commented on #8826
i don't mind such validation. I'm not sure it makes sense to handle it only
for one classifier.

On 5 May 2017 12:22 am, "pfetsch" <notifications@github.com> wrote:

[2017-05-04 21:42] jnothman commented on #8830
Pull request for this at #8322

[2017-05-04 21:51] knarf-hackatal2016 commented on #8830
Woops, missed this part of the discussion.

Awesome, closing the issue. Aside from that caching is working great for me.

[2017-05-04 22:50] jnothman commented on #8830
I'd actually like this open to keep track. Thanks_

[2017-05-04 22:51] jnothman commented on #8830
Good to hear caching is working for you!

[2017-05-04 23:53] geduowenyang commented on #7109
I was employing the IncrementalPCA.partial_fit 10 times, which got ten lists of explained_variance. So, if I want to get the correct eigenvalues, should I add the ten lists of explained_variance up?

[2017-05-05 05:51] GaelVaroquaux commented on #8830
Why is this suboptimal? In other terms, what does changing the order of
traversal bring?

[2017-05-05 06:10] knarf-hackatal2016 commented on #8830
Let's say you have 2 transformers A, B and a classifier C.

Consider the pipelne: (P): A -> B -> C .

Let's use GridSearchCV on (P) with a 3 folds CV.

Let's say A will be tested with two sets of parameters A' and A'', B with B' and B'', C with C' and C''.

Let's say you have two jobs.

At start the two first jobs will fit A' -> B' -> C' and A' -> B' -> C'' on the same split. It means A' and  B' w

[2017-05-05 08:58] ValdarT commented on #8829
It seems to be fine when using GridSearchCV. (It's not finished yet but memory consumption seems relatively stable across iterations as expected.)

[2017-05-05 10:07] herilalaina commented on #8678
Hello all, is this issue still open ? I would like to work on it. To confirm, we want something like
[code]
In this case, I don't see the need of `f_inverse`. We just don't apply transformation for raw prediction.
Is it OK to implement the class at `preprocessing/data.py`

[2017-05-05 12:20] ogrisel commented on #6353
I would not be opposed to adding a new attribute (possibly a python property) to expose the normalized variant for convenience.

Possible name: "normalized_components_".

[2017-05-05 12:49] ValdarT commented on #8829
Sorry, I was too hasty with my previous comment.
The memory usage has climbed considerably between now and the previous post (from around 45% to 65% of that 128GB, judged by 'top') so the problem is not related to the CV function.

[2017-05-05 14:03] jaroslaw-weber commented on #7405
looks like it fixed, can you close?

[2017-05-05 14:31] mfeurer opened #8833 "Retrieving time to refit the estimator in BaseSearchCV"
Basically, I'm trying to figure out how much time it takes to refit the best model on the full data after doing grid/random search. What I can so far do is retrieve the time it takes to fit and score each model:
[code]
In case I run this on a single core, I could time the whole search procedure and subtract the time it took to fit the single folds during hyperparameter optimization. Nevertheless,

[2017-05-05 15:47] Celelibi opened #8834 "Reduce memory usage for spectral clustering"
This is not a bug per se, but rather a feature request.

I'm currently dealing with memory issues.
The size of my affinity matrix is around 32768 x 32768, which takes about of 8GB of memory. Having 32GB of RAM should be more than enough. Except it's not.

The spectral embedding function compute the laplacian matrix, which is the same size as the affinity matrix. This temporarily doubles the memory

[2017-05-05 15:51] GaelVaroquaux commented on #8834
Sounds like a good approach to me.

[2017-05-05 17:55] zorroblue commented on #8834
I would like to work on this :)

[2017-05-05 18:10] jmschrei commented on #8804
I think it would be good to allow users to directly specify what the input
to joblib is if they want to override it. That way they can call upon
documentation from both sklearn, joblib, and other packages built on joblib
to try to understand what is happening better. In sklearn documentation we
would want to specify why we chose what we did, for example that
'threading' is useful for trees, but no

[2017-05-06 09:34] jnothman commented on #8678
it fits better with pipeline imo, or in preprocessing.label. but i don't
understand how you'd do predict/predict_raw without having f_inverse

On 5 May 2017 8:07 pm, "RAKOTOARISON Herilalaina" <notifications@github.com>
wrote:

[2017-05-06 10:23] jnothman commented on #8834
go ahead. add a copy parameter

On 6 May 2017 3:55 am, "Rameshwar Bhaskaran" <notifications@github.com>
wrote:

[2017-05-06 23:05] herilalaina commented on #8678
I was confused by the transformation of the target before and after model fitting. But I get it now. I wil make the PR

[2017-05-07 10:35] glemaitre opened #8841 "Split 'sklearn/preprocessing/data.py' into several files"
I am currently modifying the `sklearn.preprocessing/data.py` and it starts to be quite long with almost 2500 lines.

Would it make sense to split it into different files. A first naive organisation that come to my mind is: transformer, scaler, normalizer.

@jnothman @amueller @GaelVaroquaux @ogrisel WDYF?

[2017-05-07 10:52] jnothman commented on #8841
Yes, I've considered raising this too.

I'd be okay with just pulling out scalers for now. They take up a little
over half the file length, and I don't think there are any active
enhancements to them, except insofar as QuantileTransformer and BoxCox are
a lot like them.

Could group OneHotEncoder, dummy variable and PolynomialFeatures together
as tools to re-encode/expand the feature space.

On 7

[2017-05-07 13:36] zorroblue commented on #8834
@jnothman @GaelVaroquaux I have  a question.
When I write <code>lap = -graph</code> , don't I create an additional copy of graph and do the negative? How would I work around this?

[2017-05-07 14:28] jnothman commented on #8834
You can use np.negative(graph, out=graph)

On 7 May 2017 at 23:36, Rameshwar Bhaskaran <notifications@github.com>
wrote:

[2017-05-07 16:54] zorroblue commented on #8834
Thanks @jnothman ! I am working on the PR now. I am trying to put in tests.
Could you suggest me ways to test this feature?

[2017-05-07 22:29] brucegarro commented on #5777
Backward compatability would be awesome!

[2017-05-08 01:11] aryamccarthy opened #8843 "Update copyright year in docs"
Currently, the copyright in the docs is:

© 2010 - 2016, scikit-learn developers (BSD License).

This should be extended to 2017.

[2017-05-08 01:29] themrmax opened #8844 "Add an option for shuffle=False in train_test_split"
Often my data is sorted by timestamp and I want to make a train/test split. Usually I do something like

     data[:int(len(data) * 0.75)], data[int(len(data) * 0.75):]

but I would rather do

    train_test_split(data, shuffle=False)

Any objections to adding this functionality?

[2017-05-08 01:54] themrmax commented on #8844
something like this https://github.com/scikit-learn/scikit-learn/pull/8845

[2017-05-08 02:36] #8510 closed

[2017-05-08 02:36] #8818 closed

[2017-05-08 08:02] #8825 closed

[2017-05-08 09:13] GaelVaroquaux commented on #8843
This is fixed in the development version: http://scikit-learn.org/dev/modules/linear_model.html

Closing.

[2017-05-08 09:13] #8843 closed

[2017-05-08 09:33] ValdarT commented on #8829
It did indeed eventually die again.

  File "/usr/local/lib/python3.4/dist-packages/sklearn/model_selection/_search.py", line 945, in fit
    return self._fit(X, y, groups, ParameterGrid(self.param_grid))
  File "/usr/local/lib/python3.4/dist-packages/sklearn/model_selection/_search.py", line 564, in _fit
    for parameters in parameter_iterable
  File "/usr/local/lib/python3.4/dist-packages/sklea

[2017-05-08 11:09] jnothman commented on #8829
I still have my doubts that the leak is coming from the search code.

Could you try pre-applying the vectoriser with ngram_range=(1,3) and grid
search over the SGD parameters to see if the leak is in SGD?

On 8 May 2017 7:33 pm, "ValdarT" <notifications@github.com> wrote:

[2017-05-08 15:12] chunsheng-chen opened #8846 "GridSearchCV inv_transform calls transform instead of inv_transform on best_estimator_"
#### Description

Despite what the comment says, GridSearchCV's inv_transform calls transform instead of inv_transform on best_estimator_. Seems like a bug to me.
#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2017-05-09 08:21] #6646 closed

[2017-05-09 08:38] glemaitre commented on #8846
FYI:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/grid_search.py#L543

In fact, there is not test covering this line.

[2017-05-09 11:43] jnothman commented on #8846
fix welcome

On 9 May 2017 6:38 pm, "Guillaume Lemaitre" <notifications@github.com>
wrote:

[2017-05-09 13:42] lesteve commented on #8846
Side-note: `sklearn.grid_search` has been deprecated in 0.18. `

For completeness, a similar problem existed in sklearn.model_selection` but has been fixed in master, see `https://github.com/scikit-learn/scikit-learn/pull/8348. If you look at #8348, it should be reasonably straightforward to open a PR about this one.

[2017-05-09 13:59] lesteve opened #8849 "Run more examples that do not start with plot_"
From https://github.com/scikit-learn/scikit-learn/pull/8847#issuecomment-300015905:

My proposal is to have a convention like `run_` for examples that do not produce any plots. sphinx-gallery allows to have a regex to specify which examples you want to run. It could be something like `plot_|run_`. See the [doc](http://sphinx-gallery.readthedocs.io/en/latest/advanced_configuration.html?highlight=fi

[2017-05-09 21:35] jnothman commented on #8846
thanks for the clarity, Loïc

On 9 May 2017 11:42 pm, "Loïc Estève" <notifications@github.com> wrote:

[2017-05-09 21:37] jnothman commented on #8849
but all of that, if run in a separate Travis job, would unlikely exceed the
usual test suite.

On 9 May 2017 11:59 pm, "Loïc Estève" <notifications@github.com> wrote:

[2017-05-10 05:58] GaelVaroquaux commented on #8849
Often, examples are not named "plot_*" because they take a long time to
run, or require a large download. Back when we create them, we considered
that we did not have enough horsepower with the CI to run them. Maybe we
should indeed reconsider this decision, but first we need to evaluate our
computing power in the CI.

[2017-05-10 06:04] vVv-AA commented on #8822
`
import sklearn.datasets
import sklearn.linear_model
import funcsigs

class LassoCVSubclass(sklearn.linear_model.LassoCV):
    def __init__(self, eps=1e-3, n_alphas=100, alphas=None, fit_intercept=True,
                 normalize=False, precompute='auto', max_iter=1000, tol=1e-4,
                 copy_X=True, cv=None, verbose=False, n_jobs=1,
                 positive=False, random_state=None, se

[2017-05-10 06:08] jnothman commented on #8849
If they were run as a separate travis job (and perhaps only on master),
what's the concern?

On 10 May 2017 at 15:58, Gael Varoquaux <notifications@github.com> wrote:

[2017-05-10 06:14] GaelVaroquaux commented on #8849
I think that some of them download a lot, and take a lot of time, but
this should be checked, as my memory may be wrong.

CircleCI might be a better place to run them, because there is more time
available, and because of the persistent cache.

[2017-05-10 06:17] jnothman commented on #8849
@lesteve's timings above suggests "a long time" is only relative to our
usual testing. It's still within the order of a couple of minutes, and is
unlikely to exceed Travis's allotted 120 mins. But no problem to use
CircleCI; I'm not intimate with the benefits of one over the other.

On 10 May 2017 at 16:14, Gael Varoquaux <notifications@github.com> wrote:

[2017-05-10 06:30] lesteve commented on #8849
Sory I was not clearer, I had CircleCI in mind from the start, i.e. add run more examples as part of the doc generation.

[2017-05-10 06:58] GaelVaroquaux commented on #8849
Indeed, based on the numbers, I agree that:

- Some of the examples should be turned to plot_ something. A plot is
  always nice.

- All the examples should be run on CircleCI

[2017-05-10 08:10] jnothman commented on #8849
I don't think we should run all examples in circle for PRs. I want circle
to render docs quickly for review.

I suggested travis because it's good at parallel jobs and a dedicated slow
tests job is easy there

On 10 May 2017 4:58 pm, "Gael Varoquaux" <notifications@github.com> wrote:

[2017-05-10 08:11] GaelVaroquaux commented on #8849
I am just worried about data downloads. CircleCI has a persistent cache
that will be useful.

[2017-05-10 09:10] lesteve commented on #8849
According to https://circleci.com/build-insights, the median build time of the full documentation on CircleCI is about 40 minutes. Adding all the examples but the last three (`svm_gui` should be skipped too) costs less than 2 minutes and is a no brainer IMO. The simplest thing to do is to rename these examples and add `plot_` at the beginning.

About the three slow examples, it costs ~7min. Even i

[2017-05-10 09:12] GaelVaroquaux commented on #8849
+1 with your whole suggestion, @lesteve

[2017-05-10 09:19] lesteve commented on #8810
I would be in favour of dropping it for 0.19. I don't have a strong argument for or against though, just that 0.19 will happen after 12.04 support has been dropped. Deciding to wait one more release feels a a bit too conservative.

[2017-05-10 09:40] ValdarT commented on #8829
Tried with the pipeline and without (only tuning the SGD). The problem is still there so indeed seems to be related to SGD.

[2017-05-10 10:15] #7405 closed

[2017-05-10 10:37] jnothman commented on #8849
okay

On 10 May 2017 at 19:12, Gael Varoquaux <notifications@github.com> wrote:

[2017-05-10 10:39] jnothman commented on #8810
You're probably right. I'd be happy to upgrade the requirements in CI and
docs, and then look for a contributor who wants to unroll utils.fixes.

On 10 May 2017 at 19:19, Loïc Estève <notifications@github.com> wrote:

[2017-05-10 10:49] naoyak commented on #8810
I'd be happy to pitch in as far as resolving/removing the backport dependencies goes.

[2017-05-10 14:03] jnothman commented on #8810
you'd be welcome. The changes would be helpful whether or not they are for
0.19

On 10 May 2017 at 20:49, Naoya Kanai <notifications@github.com> wrote:

[2017-05-10 14:40] AbhishekHP2016 opened #8852 "Does this implementation considers precomputed distance metric ?"
Hi,

      I would like to use your code and cite yours. So I request you to please let me know if your code is robust to hold 1000 dimension variables and accepts precomputed distance metric instead of auto- euclidean.

Thanks
Abhishek

[2017-05-10 20:48] souravsingh commented on #8846
I am looking to take a stab at this issue. How do I work on this?

[2017-05-10 21:12] jnothman commented on #8852
implementation of what?

On 11 May 2017 12:40 am, "Abhishek H P" <notifications@github.com> wrote:

Hi,

  I would like to use your code and cite yours. So I request you to
please let me know if your code is robust to hold 1000 dimension
variables and accepts precomputed distance metric instead of auto-
euclidean.

Thanks
Abhishek

—
You are receiving this because you are subscribed to this thread

[2017-05-10 21:45] jnothman commented on #8846
Start by writing a test for the behaviour you want in test_search.py

On 11 May 2017 6:48 am, "Sourav Singh" <notifications@github.com> wrote:

[2017-05-10 21:49] glemaitre opened #8853 "Different prediction of tree classifier between 32 bits and 64 bits"
#### Description

While having some test failing in `imbalanced-learn` with a 32 bits machine (we are kinda poor ;)), we got to the point that the `DecisionTreeClassifier` can return different results between a 32 and a 64 architecture.

#### Steps/Code to Reproduce

[code]

#### Expected Results

This is the result obtained in the 64 bits machine:

[code]

#### Actual Results

This is the result

[2017-05-11 07:35] jbDelafosse opened #8856 "ValueError raised when using a PLSRegression as the base_estimator in a BaggingRegressor with oob_score set to True"
#### Description
ValueError raised when using a `PLSRegression` as the `base_estimator` in a `BaggingRegressor` with `oob_score` set to ``True``

It might be linked to the fact that PLSRegression.predict returns `y_pred` with shape=(n,1) instead of (n,) as other estimators do.

#### Steps/Code to Reproduce
[code]
#### Expected Results

No error is thrown

#### Actual Results

[code]
#### Versions

[2017-05-11 07:54] lesteve commented on #8856
Thanks a lot for posting a stand-alone snippet reproducing the problem! I think that is because PLS-based estimators are slightly peculiar compared to most other scikit-learn estimators: `.fit` is called on two 2d arrays and `.predict` returns a 2d array.

I am going to close the issue, please shout if you strongly disagree.

[2017-05-11 07:54] #8856 closed

[2017-05-11 08:24] jbDelafosse commented on #8856
Thanks for your quick answer !
I strongly disagree with you though :)

From what I understand : the PLS implementation in its current state makes PLS-based estimators differents from other scikit-learn estimators. But ideally, we should strive to have all the estimators behaving in the same way !

I'll try to take a closer look at this issue later.

[2017-05-11 08:30] lesteve commented on #8796
A PR would be more than welcome.

@naoyak can you clarify what you mean by typo ?

[2017-05-11 08:30] AbhishekHP2016 commented on #8852
Hi,

 I mean implementation of DBSCAN using precomputed distance metric

[2017-05-11 09:14] lesteve commented on #8856
This is a fundamental property of PLS not anything related to scikit-learn.

[2017-05-11 09:44] jbDelafosse commented on #8856
I misread what PLSRegression actually do. I expected it to be combined with a linear regressor for whatever reason. I apologise profusely for wasting your time.

[2017-05-11 10:12] VathsalaAchar commented on #3796
Do you mind if I pick this up? I have implemented clustering in C++ years ago so I'll brush up and get back with questions.

[2017-05-11 13:34] #8852 closed

[2017-05-11 13:37] jnothman commented on #3796
I think you'd be welcome to

On 11 May 2017 at 20:12, Vathsala Achar <notifications@github.com> wrote:

[2017-05-11 13:40] IainStrachan commented on #8544
Hi, I also ran into this problem, and having looked into it I think it is an incorrect implementation of the calculation of the noise_variance_ value ( line 474 in pca.py).  According to Bishop and Tipping's paper (equation 8) this should be _average_ of the eigenvalues corresponding to a dimension higher than feature space, whereas the code simply computes their sum.  Thus it should read:

self.n

[2017-05-11 13:42] jnothman commented on #8544
You've not really broken conventions, although you might have opened a new
issue if you thought it was not the same as that above.

If you would like to propose a fix, there's plenty of documentation online
about creating a pull request to github. You should submit the fix, but
ideally also a regression test, which fails in master and succeeds with the
changed code.

On 11 May 2017 at 23:40, IainS

[2017-05-11 13:45] IainStrachan commented on #8544
Hi, I've just seen in the other referenced issue that someone else has picked up the same issue with the mean rather than the sum.

However, I think the calculation of the eigenvalues from the singular values is not addressed there.

[2017-05-11 13:45] mpt5 opened #8861 "Missing documentation for utils.compute_class_weight"
I cannot seem to find any reference to `utils.compute_class_weight` or `utils.class_weight` in the docs, although I'm able to import them on sklearn 0.18.1 (Python 3.5).

These items also appear to missing in the API page under `sklearn.utilities`.

[2017-05-11 14:34] glemaitre commented on #8861
#8827 is on its way to improve the utilities visibility.

[2017-05-11 14:37] janvanrijn opened #8862 "BaseSearchCV subclasses do not contain a 'classes_' attribute"
In the OpenML connector, we use the classes_ attribute of an estimator to map a predicted label to a label in the database.

Now there are some special cases:
- Normal estimators work fine, obviously
- In the pipeline, (which is apparently not an estimator itself, but presumably has an estimator as its last step) the classes_ attribute of the last step is automatically retrieved by sklearn.
- In B

[2017-05-11 14:41] jbDelafosse commented on #8856
I'm afraid I don't understand what you are trying to say.

Why is the `y` returned by `PLSRegression.predict()` any different than the `y` returned by `LinearRegression.predict()` for instance ? Shouldn't it be a 1D array when `y_train` is a 1D array ?

[2017-05-11 14:45] IainStrachan commented on #8541
If you're going to put in a change, I also ran into this problem and I noticed (not that it makes a huge difference) that the computation of the eigenvalues from the singular values is also incorrect (line 473 of pca.py) in that it divides the square of the singular values by n_samples, and it should be (n_samples-1).

[2017-05-11 14:55] jnothman commented on #8862
Please try in master. See #8295

[2017-05-11 15:22] essamseddik commented on #8588
Hello guys,
I used to build my dataset on Matlab. I create DESCR, data and label folders and i save them as .mat then i copy the file to **~/scikit_learn_data/mldata** and i import it into python 2.7 idle. It used to work very well.

Now i am using ipynb, Cloud Storage and Datalab (i am new to this). I am using the same command:
X = datasets.fetch_mldata("Mydataset")

but i get this error:
HTTPErr

[2017-05-11 15:26] mpt5 commented on #8861
Thanks so much @glemaitre, I'll close this one.

[2017-05-11 15:26] #8861 closed

[2017-05-11 15:42] essamseddik opened #8863 "HTTPError: HTTP Error 404: Dataset 'Mydataset' not found on mldata.org"
Hello,
I used to build my dataset on Matlab, create (DESCR, data and label) folders and i save them as one .mat file. Then i copy it to **~/scikit_learn_data/mldata** and i import it into python 2.7 idle. It used to work very well using this command:
X = datasets.fetch_mldata("Mydataset")

Now i am trying to run my code on ipynb (i am new to this) and I am using the same command but i get this err

[2017-05-11 16:06] naoyak commented on #8863
See http://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_mldata.html
`fetch_mldata` is for downloading datasets hosted on mldata.org right? I think what you're looking for is something like this:

[code]

[2017-05-11 16:38] essamseddik commented on #8863
Right. Thank you.
Well, it seems like when you put the data file into ~/scikit_learn_data/mldata it uploads it to mldata.org then fetch_mldata finds it from the web. Though i am still learning so maybe i am wrong.
loadmat definitely does the job on ipython ! I just had to upload the data file to Datalab instead of C drive.
Thank you @naoyak :)

[2017-05-11 16:38] #8863 closed

[2017-05-11 16:45] naoyak commented on #8863
mldata.org is a site hosting public datasets and I think it requires registration for uploads. The reason it worked in the past may be that by placing the data in `scikit_learn_data` you might have tricked `fetch_mldata` into thinking that it was a locally cached download. Glad that helped.

[2017-05-11 17:34] lesteve commented on #8588
@chengsoonong thanks! Closing this one.

[2017-05-11 17:34] #8588 closed

[2017-05-11 19:44] pshell1 commented on #6556
There's an easy way to know which features were included, though it's slightly different from the design you were discussing. In fact the imputer used to do this (the version that came with Anaconda 2.5). It returned a second value containing a vector of the indices of the columns that remained. The transform method still has this info; if you just change the return statement to:
   return X, vali

[2017-05-11 21:51] jsevo commented on #6665
Hi,
I read the above comments and can reproduce this. I re-ran code from a few weeks ago and now this issue appears. Here's a minimal example that now reproduces this issue:
[code]

And the output of
[code]
is

[code]
Again, changing the method to exact (`TSNE(method='exact')`) solves the issue.

More generally, I have noticed wildly different results when using sklearn's TSNE (with identitical pe

[2017-05-11 22:11] jnothman commented on #6556
which features is not the concern. but I'm quite surprised about that
statement regarding the Anaconda release

On 12 May 2017 5:44 am, "pshell1" <notifications@github.com> wrote:

[2017-05-11 23:03] glemaitre commented on #6665
Did you refer to https://github.com/scikit-learn/scikit-learn/issues/6665#issuecomment-264087057

[2017-05-11 23:30] glemaitre commented on #8501
There is no reference to a current PR and the issues pointed out by @amueller (https://github.com/scikit-learn/scikit-learn/issues/8501#issuecomment-287770866) are still there.
You will be more than welcome to solve this issue.

[2017-05-11 23:38] glemaitre commented on #8822
@grnlndr Is the solution of @vVv-AA solving your issue (personally, it looks good)
If this is the case, you can close the issue.

[2017-05-12 01:44] #8694 closed

[2017-05-12 02:35] jsevo commented on #6665
That fixed it. My apologies - I had separately uninstalled an reinstalled numpy, scikit learn and scipy, but not like in 6665.

[2017-05-12 08:30] vVv-AA commented on #8822
@glemaitre  Shouldn't it allow subclassing without having to use super's signature?

[2017-05-12 08:58] glemaitre commented on #8822
@vVv-AA you should be interested to call the `__init__` of the parent class.
I did not see at first but you probably wants to change the parameters of the parent class so you would need to slightly change your proposition to:

[code]

[2017-05-12 09:17] vVv-AA commented on #8822
Yes. I left it out because I just wanted to find the source of error. I will update my answer. Thank you. Also, any comment on allowing subclassing without having to keep the params of super?

[2017-05-12 09:31] VathsalaAchar commented on #8501
Thanks, I'll get on it then :+1:

[2017-05-12 09:45] VathsalaAchar commented on #3796
Thanks @jnothman
I saw that @vmichel has made the necessary changes for a distance threshold (and no PR?), but I was interested in the `criterion` that `scipy.fcluster` uses (mention by @eyaler) and was wondering if that would be useful along with the distance threshold. Or is it a feature of it's own?

[2017-05-12 10:12] glemaitre commented on #8822
I don't really understand. If you can give a small script (even wrong) to see what you want to attend.

[2017-05-12 10:23] vVv-AA commented on #8822
@glemaitre The code below does not currently work. What I was saying that if the get_param_names() function would look up the parameters sklearn.linear_model.LassoCV (and by extension internal classes' constructors only) instead of LassoCVSubclass (any external subclass) then OP's code would work.

[code]

But on second thought, it would be unnecessary work.

[2017-05-12 10:30] glemaitre commented on #8822
You will have to repeat the parameter in `def __init__()` if you want them to be in the `super` call.
I don't think that there is any other way (apart of `**kwargs` which is not an option in sciikit-learn).

[2017-05-12 12:33] #8846 closed

[2017-05-12 15:18] lakshayg opened #8869 "TfidfVectorizer does not have a vocabulary_ attribute"
The TfidfVectorizer class docstring states that it has a `vocabulary_` attribute but running this code
[code]
gives the following error
[code]
Perhaps, the docstring needs to be updated.

[code]

[2017-05-12 15:28] GaelVaroquaux commented on #8869
Because you didn't fit it on data.

[2017-05-12 15:28] #8869 closed

[2017-05-12 22:46] jl2922 opened #8870 "add standard deviation to linear regression"
Hi,

Could you please add a feature to also calculate standard deviation in the linear regression model?

[2017-05-13 08:51] glemaitre commented on #8870
What is this standard deviation, how do you compute it and in which context.
Please give a precise example illustrating what you want.

[2017-05-13 08:54] moon9sky commented on #6056
Can you tell me how did you solve the problem?

[2017-05-13 09:12] shivamgargsya commented on #8738
Can I work on this as the current fix removed f1score explaination for multi class and not clearified it.

[2017-05-13 12:13] jl2922 commented on #8870
Standard deviation is the half width of 68% confidence interval of the estimated coefficients. The computational method is described [here](https://en.wikipedia.org/wiki/Linear_least_squares_(mathematics)#Weighted_linear_least_squares).

I actually tried to implement this algorithm myself last night and got it work. I will submit a pr and we can track it there.

[2017-05-13 19:06] jamesBrosnahan commented on #8242
This still happens on WIndows 10 if numpy and scipy are installed.

[2017-05-13 21:03] nelson-liu opened #8876 "User Guide link for MultiTaskElasticNetCV incorrectly links to MultiTaskLassoCV"
#### Description

In the latest dev docs, it looks like clicking the "User guide" link in the page for [MultiTaskElasticNetCV](http://scikit-learn.org/dev/modules/generated/sklearn.linear_model.MultiTaskElasticNetCV.html#sklearn.linear_model.MultiTaskElasticNetCV) takes you to the section of the user guide for the `MultiTaskLassoCV`

[2017-05-13 23:34] glemaitre commented on #8242
@jamesBrosnahan commenting on a closed PR will not attract contributors and therefore it will not help you to solve your problem.
I would recommend you to open a new issue giving as much info as you can (system, python version, packages manager, and packages).

PS: I am also unsure that you will get the message error below with numpy installed, even in Windows 10.

[code]

[2017-05-13 23:53] jnothman commented on #3796
designing an api that is extensible to alternate stopping criteria may bea
good idea, but it's often good to implement one at a time

On 12 May 2017 7:45 pm, "Vathsala Achar" <notifications@github.com> wrote:

[2017-05-14 04:29] jnothman commented on #8738
Please wait for the current fix to be amended. It's only newly submitted
unless I'm much mistaken

On 13 May 2017 7:13 pm, "shivamgargsya" <notifications@github.com> wrote:

Can I work on this as the current fix removed f1score explaination for
multi class and not clearified it.

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/sc

[2017-05-14 05:52] daydayup1 opened #8878 "There was a “ValueError:array is too big...” when computing silhouette_samples of KMeans on large amounts of data"
I run the codes as follow:
`y = np.array(arr)`
  `kmeans = KMeans(n_clusters=10,  init='k-means++',random_state=None).fit(y)`
`sample_silhouette_values = silhouette_samples(y, kmeans.labels_)`

The "arr" in first line was a two-dimensional array that had 270,000 rows and 30 columns.
And I got error as follow:

`Traceback (most recent call last):`
`      File "D:\eclipse-neon64\workSpace\cluster-sk

[2017-05-14 06:46] datavinci commented on #6557
So is this been implemented or still remaining?

[2017-05-14 06:47] nelson-liu commented on #6557
@datavinci it is still remaining.

[2017-05-14 12:31] jl2922 opened #8879 "Flaky tests in logistic regression"
@glemaitre #8872

In current master branch

If you run the following commands several times

Some tests related to comparing results between two methods fail randomly.

Instead of comparing with each other, maybe we can use the following test case:
x1	x2	y
1	2	0
2	3	0
3	5	1
4	7	0
5	11	1
6	13	1
For this case, I checked in two statistical tools, a professional one, R, and a casual one, google docs,

[2017-05-14 12:34] jnothman commented on #8878
And what is the shape of your array?

On 14 May 2017 at 15:52, daydayup1 <notifications@github.com> wrote:

[2017-05-14 12:37] jnothman commented on #8879
Which tests, precisely?

On 14 May 2017 at 22:31, Junhao Li <notifications@github.com> wrote:

[2017-05-14 12:42] jl2922 commented on #8879
in the file test_logistic, the tests that compares the coef_ from two methods, like saga vs liblinear

[2017-05-14 12:42] glemaitre commented on #8879
And do you have a hint to achieve the failing condition. I tried to run 10 times but I did not succeed.

Also, if you can provide you system info:

[code]

[2017-05-14 12:48] jl2922 commented on #8879
I see. It could be a dependency issue.

Darwin-16.5.0-x86_64-i386-64bit
('Python', '2.7.13 |Anaconda custom (x86_64)| (default, Dec 20 2016, 23:05:08) \n[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]')
('NumPy', '1.9.3')
('SciPy', '0.16.0')
('Scikit-Learn', '0.19.dev0')

[2017-05-14 12:56] jl2922 commented on #8879
I just updated some packages and still got fails.

Darwin-16.5.0-x86_64-i386-64bit
('Python', '2.7.13 |Anaconda custom (x86_64)| (default, Dec 20 2016, 23:05:08) \n[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]')
('NumPy', '1.12.1')
('SciPy', '0.19.0')
('Scikit-Learn', '0.19.dev0')

[2017-05-14 14:31] daydayup1 commented on #8878
The array's shape is (270000,30).

[2017-05-14 15:37] chkoar commented on #8876
Good catch. #8880

[2017-05-14 18:47] aetilley opened #8881 "Any interest in SigClust in Sklearn?"
Two years ago I wrote a rough implementation of the SigClust  algorithm in Numpy/Scipy.

https://github.com/aetilley/sigclust

I'd be happy to convert this to fit nicely into Sklearn if it would be desirable.

See here for the original papers

[1]  Yufeng Liu, David Neil Hayes, Andrew Nobel and J. S. Marron, Statistical Significance of Clustering for High-Dimension, Low-Sample Size Data, Journal o

[2017-05-14 21:36] jnothman commented on #8878
right. could you check if #7177 fixes this?

On 15 May 2017 12:31 am, "daydayup1" <notifications@github.com> wrote:

[2017-05-14 21:38] #8876 closed

[2017-05-15 06:24] daydayup1 commented on #8878
I found "sklearn/metrics/cluster/unsupervised.py" had been modified in #7177，so I replaced old `unsupervised.py` by new `unsupervised.py` in #7177 ,and tied using `silhouette_score(y, kmeans.labels_,block_size= 200)` instead of `silhouette_samples(y, kmeans.labels_)`
As a result, I got return value successfully and no error.
So far, I have only one question：why did't  `unsupervised.py` in master b

[2017-05-15 06:54] sun-weifeng opened #8882 "how extract rules of GradientBosstingClassifier"
I want to extract rules of GradientBosstingClassifier just like "tree.export_graphviz", but I can't find it. If anyone knows of a way to do so, it will be very helpful.

[2017-05-15 07:06] rahenri commented on #7981
I just ran into this using latest version of numpy from pip.

[2017-05-15 07:20] naoyak commented on #8882
You can use `clf.estimators_` to retrieve the `DecisionTreeRegressor` objects corresponding to each boosting stage and call `export_graphviz` on them.

[2017-05-15 07:47] sun-weifeng commented on #8882
@naoyak thank you very much, it's very useful.

[2017-05-15 07:47] #8882 closed

[2017-05-15 08:04] jnothman commented on #8878
because all contributions have to be reviewed and there's a king backlog of
reviewing.

On 15 May 2017 4:24 pm, "daydayup1" <notifications@github.com> wrote:

I found "sklearn/metrics/cluster/unsupervised.py" had been modified in #7177
<https://github.com/scikit-learn/scikit-learn/pull/7177>，so I replaced old
unsupervised.py by new unsupervised.py in #7177
<https://github.com/scikit-learn/scikit-l

[2017-05-15 08:04] #8878 closed

[2017-05-15 11:08] alan97 commented on #8879
@jl2922 Confirmed that the same issue occurred on my side as well. test_saga_vs_liblinear fails ~70% of the time.

Below are my system info:

Darwin-16.5.0-x86_64-i386-64bit
Python 3.5.2 |Anaconda custom (x86_64)| (default, Jul  2 2016, 17:52:12)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]
NumPy 1.11.3
SciPy 0.18.1
Scikit-Learn 0.19.dev0

I have also extracted out a failed case (data: f

[2017-05-15 12:32] glemaitre commented on #8879
My neighbor with the following config reproduce the same error.
[code]
@jnothman @ogrisel @lesteve it seems that there is something specific with Darwin and Anaconda

[2017-05-15 13:26] agramfort commented on #8881
you could try to make it a sklearn contrib package.

https://github.com/scikit-learn-contrib/scikit-learn-contrib/blob/master/README.md

[2017-05-15 14:01] alan97 commented on #8737
Hi @amueller @jnothman I'd like to work on this.

So far what I got is that in LogisticRegressionCV, all multi-class classification will be implicitly "casted" to binary problem with the following code:

[code]

where pos_class will iterate through all possible classes. Clearly this conversion does not care whether there's a class named 1. That's why f1 score will work in above cases.

Just to che

[2017-05-15 16:02] alexmorley opened #8883 "Multiple CPUs used when n_jobs=1"
#### Description
For some reason the code below is using all available cores even though I have set n_jobs equal to 1.

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results
One CPU is used.

#### Actual Results
Multiple CPUs are used. (No problem using v0.17)

Here is the output of `time python example.py`:

Using 0.17 - just uses one core:

    real    0m8.381s
    user    0m6.387s

[2017-05-15 16:20] GaelVaroquaux commented on #8883
Most likely you are using a parallel-enabled linear algebra library (like
MKL or openBLAS). Hence, it is not scikit-learn that is doing parallel
computing, and it cannot control it (it is a component that is used
inside scikit-learn). You need to find out how to control the
corresponding computing brick.

[2017-05-15 17:31] rcamino commented on #8693
Hi all,

I've been using Isolation Forests, I have some questions regarding this issue.

I red that you have the contamination parameter in Isolation Forest for consistency.

Correct me if I'm wrong, but I think that with the approach from the original papers you can discover the proportion of anomalies in the dataset, but with the implementation of scikit learn you have to define it.

Isn't that

[2017-05-15 18:16] alexmorley commented on #8883
OK, then I'd need to rebuild scipy with a different set of lin alg libs? Thanks for your help.

[2017-05-15 18:47] alexmorley commented on #8883
Actually no worries I can just set the environment variable `OPENBLAS_NUM_THREADS` to 1.

[2017-05-15 18:55] #8883 closed

[2017-05-15 19:28] amueller opened #8884 "coclust package has much better results on benchmark datasets"
It seems that the coclust package works better than our algorithms on some benchmark datasets.
We should investigate this:
http://coclust.readthedocs.io/en/v0.2.1/examples.html

(I'm not sure if the benchmarks are on the website)

[2017-05-15 20:33] amueller opened #8885 "Missing link to sphx_glr_plot_compare_reduction.py in whats_new.rst"
In the 0.18 release notes there's a mention of ``sphx_glr_plot_compare_reduction.py``, but it should be a link to the example instead.

[2017-05-15 20:50] amueller commented on #8799
Marking it as an easy issue then.

[2017-05-15 22:03] amueller opened #8887 "test test_gridsearchcv_cross_val_predict_with_method too slow"
sklearn.model_selection.tests.test_validation.test_gridsearchcv_cross_val_predict_with_method: 51.0960s

This test takes nearly a minute to run on travis. I think we can improve that.

[2017-05-15 22:51] amueller commented on #8870
Closing in light of discussion at #8872.

[2017-05-15 22:51] #8870 closed

[2017-05-15 22:59] amueller opened #8888 "Add example dataset with missing data and string-encoded categorical variables"
I think we should add a dataset with missing data and string-encoded categorical variables.
These are really common (i.e. I rarely see a dataset that doesn't have these properties), and it would be good to have examples with best practices.

Right now these are really painful to implement with sklearn, but that will hopefully be fixed soon.
(doing separate scaling and imputation for categorical an

[2017-05-15 23:03] jnothman commented on #8888
string-valued data isn't hard with dictvectorizer, but it assumes a

On 16 May 2017 8:59 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-05-15 23:21] amueller commented on #8737
I think ``LogisticRegressionCV(scoring="f1", multi_class='multinomial').fit(iris.data, y)`` should definitely raise an error, but not the error it's raising now.

Given that ``LogisticRegressionCV`` computes the binary scores, the behavior is a bit unexpected but not wrong. I think we should just document better.

Arguably it would be better to convert it to computing overall scores, not per-class

[2017-05-16 12:09] albertcthomas commented on #8693
@rcamino I don't think the original paper gives a method to find the proportion of anomalies. Are you referring to this paragraph of the original paper?

definitely anomalies,
(b) if instances have s much smaller than 0.5, then they
are quite safe to be regarded as normal instances, and
(c) if all the instances return s ≈ 0.5, then the entire
sample does not really have any distinct anomaly.

The

[2017-05-16 12:36] rcamino commented on #8693
@albertcthomas Yes, I'm referring to that paragraph. It is true that 0.5 is not exactly defined as the threshold for anomalies, the expressions "very close to 1", "much smaller than 0.5" and "all the instances return s ≈ 0.5" need some interpretation and analysis in your dataset.

I want to analyse this with the decision_function, but I don't know exactly the range for the output scores.
Is it [-1

[2017-05-16 13:05] GaelVaroquaux commented on #8693
+1 to both suggestions.

[2017-05-16 13:16] ngoix commented on #8693
@rcamino the `contamination` parameter is only used for producing binary output (`predict` method) from the decision function. The link between our `decision_function` f and the scoring function s from the original paper is f = 0.5 - s (to respect the 'bigger is better' constraint).

[2017-05-16 13:30] rcamino commented on #8693
@ngoix Great, thank you! Do you think that small formula should be added in the decision_function documentation?

[2017-05-16 13:34] albertcthomas commented on #8693
The `score_samples` I suggested was inspired by the `KernelDensity` implementation as this also provides a decision function for anomaly detection in small dimensions.

[2017-05-16 15:34] glemaitre opened #8889 "[RFC] mRMR feature selection"
Speaking with @jorisvandenbossche IRL, we come to discuss about the mRMR feature selection among other methods.

#5372 intended at first to implement the mRMR with mutual information as a metric. However, it has been merged such that mutual information could be used in the `SelectKBest` class. It was also discuss that the mRMR mechanism could be implemented in a separate PR with the possibility to

[2017-05-16 20:15] aetilley commented on #8881
Thanks, @agramfort .  I'll look into this.

[2017-05-16 20:59] #8881 closed

[2017-05-16 21:11] aikinogard commented on #8885
I would like to help. However, I didn't find sphx_glr_plot_compare_reduction.py in the repo. Can @jnothman give a hint on where I can find this example?

[2017-05-16 21:15] glemaitre commented on #8885
https://github.com/scikit-learn/scikit-learn/blob/master/examples/plot_compare_reduction.py

`sphx_glr` is the prefix given by sphinx

[2017-05-16 21:38] aikinogard commented on #8885
@glemaitre Thanks. I will add this link into the whats_new.rst

[2017-05-16 22:15] aikinogard commented on #8885
@amueller do you want me to change it to example/plot_compare_reduction.py ?

[2017-05-17 11:13] monnedepraetere commented on #7321
Thanks that worked for me, too

[2017-05-17 12:08] jbDelafosse opened #8890 "instance of DistanceMetric as metric in KNeighborsRegressor"
Not a very important issue.

#### Description
Giving instance of sklearn.neighbors.DistanceMetric as distance in KNeighborsRegressor raises an Exception

#### Steps/Code to Reproduce
[code]

#### Expected Results

No error is thrown

#### Actual Results

[code]
#### Versions

Windows-7-6.1.7601-SP1
Python 3.5.3 |Anaconda 2.5.0 (64-bit)| (default, Feb 22 2017, 21:28:42) [MSC v.1900 64 bit (AMD64)]

[2017-05-17 13:40] eugenelyj opened #8892 "'XGBRegressor' object has no attribute 'predict_proba'"
when i use GridSearchCV for XGBRegressor, it raises a error 'XGBRegressor' object has no attribute 'predict_proba'

[2017-05-17 14:25] jnothman commented on #8892
Regressors don't have predict_proba in general.

[2017-05-17 14:25] #8892 closed

[2017-05-17 15:50] rth commented on #8890
The problem is that when a non string `metric` parameter is provided, [it expects a callable](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neighbors/base.py#L134), while `DistanceMetric` is not one,
[code]
Providing `DistanceMetric.get_metric("euclidean").pairwise` in the metric argument could work but it would  not be very efficient.

Given that documentation for the `metric`

[2017-05-17 16:41] lvpasquier commented on #6787
Hi, I'm getting in trouble with a different issue there. Though the topic is quite related !
I'm not reporting any bug for now, i'm just in a struggle to understand DBSCAN behaviour.

I have a sparse.csr similarity square matrix (with null elements on diagonal).
The thing is I need to retrieve some cluster given that matrix.

My first approach was to use `scipy.sparse.csgraph.connected_components`

[2017-05-17 18:00] GaelVaroquaux commented on #8889
What's the reference paper and how much has it been cited?

[2017-05-17 19:05] glemaitre commented on #8889
A bit more than 4500 citations:http://ieeexplore.ieee.org/abstract/document/1453511/

[2017-05-17 19:25] amueller opened #8893 "min_impurity_decrease in DecisionTreeRegressor scales with y.std()"
I'm not sure if the parametrization of ``min_impurity_decrease`` in DecisionTreeClassifier is great.
Impurity is mse, which depends on the scale of y. So scaling y changes the meaning of the parameter. In particular for a tree that seems like odd behavior.

If we rescale y by y.std(), the top node has impurity 1, and the range of ``min_impurity_decrease`` is the same as for classification. Maybe w

[2017-05-17 19:55] amueller opened #8894 "RepeatedKFold and RepeatedStratifiedKFold require n_repeats > 1"
It looks like n_repeats in RepeatedKFold is required to be >1.
I'm not sure why this is enforced. Yes, it reduces to KFold, but maybe I want to do a quick comparison of KFold and RepeatedKFold. I'm not sure why that shouldn't be allowed.

[2017-05-17 19:59] amueller commented on #8885
I think the reference will be named automatically, right?

[2017-05-18 01:35] royagustafson commented on #8894
You would also have to change `GroupKFold, RepeatedStratifiedKFold, and StratifiedKFold` to be consistent. Now, you can't do something like...
`for x in range(1, n):
     rkf = RepeatedKFold(n_splits=2, n_repeats=x, random_state=seed)
`
But if you're comparing the different types of KFolds, this also prevents you from having redundancy. I assume this is deliberate.

[2017-05-18 04:44] shivamgargsya commented on #8894
Hi I would like to work on this

[2017-05-18 05:29] jnothman commented on #8894
go ahead if Roy isn't

On 18 May 2017 2:44 pm, "shivamgargsya" <notifications@github.com> wrote:

[2017-05-18 06:05] firstprayer opened #8895 "CountVectorizer doesn't support vocabulary size larger than 2 bytes."
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_extraction/text.py#L758 shows that if the vocabulary size is larger than 65535, it will throw overflow exception, because it uses "i" when it makes array. https://docs.python.org/2/library/array.html

Is there any reason behind this design? I feel like with modern hardware it should be able to support a much larger vocabulary

[2017-05-18 07:56] jnothman commented on #8895
scipy.sparse only recently introduced support for 64-bit indices and we
should probably allow for them.

On 18 May 2017 4:05 pm, "firstprayer" <notifications@github.com> wrote:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_
extraction/text.py#L758 shows that if the vocabulary size is larger than
65535, it will throw overflow exception, because it uses "i" when it makes

[2017-05-18 07:58] jnothman commented on #8895
On the other hand, given the sparsity of language, HashingVectorizer may be
appropriate for very large vocabularies

On 18 May 2017 4:05 pm, "firstprayer" <notifications@github.com> wrote:

[2017-05-18 08:37] jbDelafosse commented on #8890
I agree. Should I just change the documentation then ?

[2017-05-18 10:02] jnothman commented on #8890
that would certainly be an improvement!

On 18 May 2017 at 18:37, jbDelafosse <notifications@github.com> wrote:

[2017-05-18 10:19] glemaitre commented on #8889
The author version: [PDF](http://home.penglab.com/papersall/docpdf/2005_TPAMI_FeaSel.pdf)

[2017-05-18 11:24] anandjeyahar opened #8896 "Implement Star(*) k-means."
#### Description
[Star(*) K-means](https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2908286)
#### Pros
 * statistically deterministic
 * No need to specify initial center
 *

#### Steps/Code to Reproduce

#### Expected Results
 Example: No error is thrown.

[2017-05-18 11:53] jnothman commented on #8896
See the FAQ about what we consider for inclusion.

[2017-05-18 11:53] #8896 closed

[2017-05-18 14:44] qinhanmin2014 commented on #8894
I try to do an experiment
First, I mask the following code:
`if n_repeats <= 1:`
`raise ValueError("Number of repetitions must be greater than 1.")`
in line 961, 962 of _split.py
Then, I run the following code:
![02](https://cloud.githubusercontent.com/assets/12003569/26207019/f5d74046-3c18-11e7-985b-f2f5dd03bd13.png)
![01](https://cloud.githubusercontent.com/assets/12003569/26207022/f85d0ec2-3c18

[2017-05-18 15:30] qinhanmin2014 commented on #8887
I think at least we can drop the following code in function `check_cross_val_predict_with_method`:
`predictions = cross_val_predict(est, X, y, method=method)`
`assert_equal(len(predictions), len(y))`
This statement run 3 times and it simply checks the shape of the prediction. The prediction here is not used for other purpose.
However, in function `test_cross_val_predict_input_types`, we have alrea

[2017-05-18 18:18] amueller commented on #8894
@royagustafson sorry, I don't understand. ``GroupKFold`` and ``StratifiedKFold`` don't have an ``n_repeats`` parameter.

[2017-05-18 18:20] amueller commented on #8894
@qinhanmin2014 how much slower? Any of these should take negligible time. It should just be a thin wrapper.

[2017-05-18 18:22] amueller commented on #8896
Feel free to create an estimator and submit it to scikit-learn-contrib, though.

[2017-05-18 18:25] amueller commented on #8887
@qinhanmin2014 I would rather not remove any test statements. Maybe we can reduce the data?

[2017-05-18 19:46] Albert65 opened #8897 "BIC/AIC"
I am not sure 100%, but looks suspicious: Function  _estimate_log_gaussian_prob(...)

**def** _estimate_log_gaussian_prob(X, means, precisions_chol, covariance_type):
    # ........
    return -.5 * (n_features * np.log(2 * np.pi) + log_prob) + log_det

It turns that the last line should be:

    return -.5 * (n_features * np.log(2 * np.pi) + log_prob **+ log_det )**

Please, have a look.

[2017-05-18 19:58] rhiever commented on #8782
I believe both you and the documentation are correct in a sense. Generally, nodes higher in the tree will lead to higher reduction in gini impurity. But the docs should say that feature importance is based on the reduction of gini impurity.

[2017-05-18 20:16] rhiever opened #8898 "Model-based feature importances for any classifier?"
sklearn currently provides model-based feature importances for tree-based models and linear models. However, models such as e.g. SVM and kNN don't provide feature importances, which could be useful.

What if we added a feature importance based on shuffling of the features? e.g.:

1) Evaluate the model accuracy based on the original dataset

2) For each feature in the dataset:

    a) Make a copy o

[2017-05-18 20:59] amueller commented on #8898
I think some of that is in eli5 https://github.com/TeamHG-Memex/eli5
Or at least there is a plan for that?

I'd say no for sklearn for now, thought I'm very interested in the feature. Sklearn contrib?
Is there a paper? Comparison with lime?

[2017-05-18 21:00] amueller commented on #8892
@eugenelyj you're probably using a ``scoring`` parameter that's not appropriate.

[2017-05-18 21:16] amueller opened #8899 "Remove / change stock market example?"
http://scikit-learn.org/dev/auto_examples/applications/plot_stock_market.html#sphx-glr-auto-examples-applications-plot-stock-market-py
is failing because the data source is down, which makes circle ci fail.

It also used the deprecated matplotlib stock interface, and has been causing some issues in the past.
I think we should either store the data ourselves and not use matplotlib to read it, or po

[2017-05-18 21:17] GaelVaroquaux commented on #8899
It might be cool to store the data ourselves: it's an example that gets
some people enthousiastic (maybe for bad reasons, but... whatever...)

[2017-05-18 21:31] rhiever commented on #8898
I'm thinking this is less for interpreting models and more for feature selection. e.g., it would be used in conjunction with SelectFromModel.

I haven't looked to see if there are papers or comparisons for the method yet.

[2017-05-18 23:02] amueller commented on #8898
Why not use #8684 if you want feature selection? I guess your proposal is less greedy and only trains n_features many models, not n_features**2

[2017-05-18 23:28] jnothman commented on #8898
No, the biggest difference between this and SFS (because you could repeat
this removing some each time) is that it does not repeatedly fit the model
for each feature subset. It investigates what is most important in a
particular model rather than a class of models.

Seems interesting to me, but probably too experimental to include.

On 19 May 2017 9:02 am, "Andreas Mueller" <notifications@github.c

[2017-05-18 23:29] jnothman commented on #8898
you might also think of it as related to dropout. It checks how resilient
the model is to noise in each feature.

On 19 May 2017 9:27 am, wrote:

No, the biggest difference between this and SFS (because you could repeat
this removing some each time) is that it does not repeatedly fit the model
for each feature subset. It investigates what is most important in a
particular model rather than a class

[2017-05-19 00:09] jnothman commented on #8898
I'd be interested to see how this empirically correlates with:
- linear coef
- tree and forest importances
- for svm, correlation with explicit polynomial or approximate RBF expansion

And re eli5 I'm sure @kmike would be interested in this thread.

On 19 May 2017 9:28 am, wrote:

you might also think of it as related to dropout. It checks how resilient
the model is to noise in each feature.

On 1

[2017-05-19 03:22] #8505 closed

[2017-05-19 03:22] qinhanmin2014 commented on #8894
@amueller Thanks for your reply. I think I made a mistake. I do the experiment for multiple times with different size of data and find that `KFold` take approximately the same time as `RepeatedKFold(n_splits=1)`. Indeed, in this case, `RepeatedKFold` only introduce a thin wrapper. Maybe we can change `if n_repeats <= 1:` to `if n_repeats < 1:`, this will influence `RepeatedKFold` and `RepeatedStra

[2017-05-19 03:57] qinhanmin2014 commented on #8887
I think I find out why `test_gridsearchcv_cross_val_predict_with_method` cost so much time.
`kfold = KFold(len(iris.target))`(line 924)
Considering `len(iris.target)=150`, it means that this is a 150-fold cross validation.
I try to use the default value(3-fold cross validation) like this: `kfold = KFold()`.
`test_gridsearchcv_cross_val_predict_with_method` only takes 0.82s(about 40s before the mod

[2017-05-19 03:59] rhiever commented on #8898
Any particular dataset in mind? Simple `make_classification`?

[2017-05-19 04:39] jnothman commented on #8898
Every dataset :)

Obviously if you're interested in non-linear SVM, you need something
non-linear, even if it's artificial.

On 19 May 2017 at 13:59, Randy Olson <notifications@github.com> wrote:

[2017-05-19 08:11] glemaitre commented on #8897
Readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages code snippets. Bonus points if you use [syntax highlighting](https://help.github.com/articles/creating-and-highlighting-code-blocks/#syntax-highlighting) with `py` for python snippets and `pytb` for tracebacks.

[2017-05-19 09:09] glemaitre commented on #8782
FYI: In a code base point of view, the feature importance computed in scikit-learn take into account the impurity improvement between a parent node and its children and as well the relative rank to normalized the impurity improvement.

[2017-05-19 12:45] xhu2016 opened #8902 "nosetest failed relating to images"
OS Version: OS X EL Capitan 10.11.6
numpy version: 1.8.0rc1
sklearn version: 0.18.1
scipy version: 0.13.0b1
[code]

[2017-05-19 13:05] glemaitre commented on #8902
Readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages code snippets. Bonus points if you use [syntax highlighting](https://help.github.com/articles/creating-and-highlighting-code-blocks/#syntax-highlighting) with `py` for python snippets and `pytb` for tracebacks.

[2017-05-19 13:32] rhiever commented on #8898
Here's another hacky demo with a dataset that has an explicit 2-way interaction between two variables.

Code:

[code]

Outputs:

[code]

So both kernel-based SVCs can correctly identify `P1` and `P2` as the predictive variables, as can the RF. Linear models, as expected, fail to do so because there is no direct correlation between `P1` nor `P2` and the binary outcome. So I suppose there's no major

[2017-05-19 14:07] JoshuaC3 commented on #8582
I am having a similar issue on my windows 8gb RAM windows pc (completely kills it dead). No such issue on my Linux Ubuntu 32gb RAM pc. Not sure what versions of sk etc are on my linux but windows is 0.18.1.

[2017-05-19 14:31] qinhanmin2014 opened #8903 "DecisionTreeRegressor and DecisionTreeClassifier document lack the explanation of parameter min_impurity_split"
In the latest version of the document(http://scikit-learn.org/dev/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.DecisionTreeClassifier), there isn't any explanation of parameter `min_impurity_split` in `DecisionTreeRegressor` and `DecisionTreeClassifier`, which still exists in the current version. In the previous version(http://scikit-learn.org/stable/modules/generated/sk

[2017-05-19 15:03] glemaitre commented on #8903
I think it should be added back and mentioned that the parameter has been deprecated:

[code]

[2017-05-19 15:20] glemaitre opened #8904 "DOC Add information regarding docstring when deprecating of parameters."
In the [documentation](http://scikit-learn.org/dev/developers/contributing.html#deprecation), there is no mention of what have to be done with the docstring a deprecated parameter.

However, I could not find clearly what is the way. I saw two patterns:

- Simply remove the docstring.
- Make a note that the parameter has been deprecated with the information related to the versions.

In the last ver

[2017-05-19 16:12] rmlopes opened #8905 "Prediction intervals for the Gradient Boosting Regressor using quantile loss"
I implemented prediction intervals as in the [example for scikit-lean's GradientBoostingRegressor](http://scikit-learn.org/stable/auto_examples/ensemble/plot_gradient_boosting_quantile.html#sphx-glr-auto-examples-ensemble-plot-gradient-boosting-quantile-py), but it does not seem to return the expected result. Take the code below, it is the same example, but with a sanity check at the end, as I hav

[2017-05-19 16:19] kmike commented on #8898
This method sounds very similar to "Mean decrease in accuracy" feature importance method implemented by some random forest packages (e.g. randomForest R package, which I haven't used).

I like the idea; it looks simple and useful. If having it in scikit-learn is not reasonable then +1 to have this method implemented in eli5.

It seems there are caveats - permuting feature values is not the same as

[2017-05-19 16:39] kmike commented on #8898
A similar method is described in the original random forests paper by Leo Brieman (https://www.stat.berkeley.edu/~breiman/randomforest2001.pdf):

the  mth  variable  in  the  out-of-bag  examples  are  randomly  permuted  and  the
out-of-bag data is run down the corresponding tree.  The classification given for
each xn  that is out of bag is saved.  This is repeated for m=1,2, ... , M.  At the end

[2017-05-19 20:00] jolespin commented on #8766
Has this been fixed in the current release? Also, I believe the author of tsne made a Python implementation with fewer parameters.  I am confused on how the additional parameters affects the performance.

https://github.com/lvdmaaten/bhtsne

[code]

[2017-05-19 21:44] shivamgargsya commented on #8645
Can I work on this.Do we need to add another example or just add a documentation which contains a small example explaining the difference between NMI and AMI

[2017-05-20 07:47] #7190 closed

[2017-05-20 07:47] #8764 closed

[2017-05-20 08:29] alialani12 opened #8906 "Import CIFAR10"
from sklearn import datasets
print "[X] downloading data..."
dataset = datasets.fetch_mldata("MNIST Original")

(trainX, testX, trainY, testY) = train_test_split(
	dataset.data / 255.0, dataset.target.astype("int0"), test_size = 0.16)

and the data was in this shape

trainX = [58000L,784L)
testX = [12000L, 10L)
trainX = [58000L,)
testX = [12000L, )

and now I am looking to import the cifar10 in th

[2017-05-20 08:32] jnothman commented on #8904
The second variant should probably be preferred, if only because it is more
apparent to users what has happened, and perhaps to enable automatic
docstring checking

On 20 May 2017 1:20 am, "Guillaume Lemaitre" <notifications@github.com>
wrote:

[2017-05-20 08:47] jnothman commented on #8645
whatever you think is clear enough

On 20 May 2017 7:44 am, "shivamgargsya" <notifications@github.com> wrote:

[2017-05-20 10:59] rth commented on #8906
There is no loader for cifar10 in scikit-learn but you could, for instance, use the [one in keras](https://keras.io/datasets/) for this.

[2017-05-20 12:04] GaelVaroquaux commented on #8906
Closing. That's a question, not a bug.

[2017-05-20 12:04] #8906 closed

[2017-05-20 21:13] KrMantavya commented on #8894
It seems, the issue is still open. can i work on this?

[2017-05-20 21:34] neerajgangwar commented on #8894
@KrMantavya Looks good. Can you create a PR?

[2017-05-20 21:42] KrMantavya commented on #8894
@neerajgangwar i think someone made a commit. is it still open? i have cloned the project so if i am raise a PR then i would need to mark it as [WIP] right?

[2017-05-20 22:21] KrMantavya commented on #8894
@neerajgangwar i cannot find where this issue is? it says the issue is in repeatedkfold or stratifiedkfold, but   there are no files with these names. can you help me out?

[2017-05-20 22:56] neerajgangwar commented on #8894
@KrMantavya Oh my bad. I missed that. @vbakshi made the commit.

You can go through this link to read more about how to contribute http://scikit-learn.org/stable/developers/index.html.

[2017-05-20 23:07] niedakh opened #8908 "Sparse binary/multiclass representation"
In multi-label classification one of the approaches is to transfor the problem to a single-label case of 1+ single-class/multi-class models. In such cases one needs to provide output / target data for the scikit-learn single-label classifier, but only dense array like formats are allowed in binary/multiclass classification.

One of the constraints happens in: `sklearn.utils.multiclass.type_of_targ

[2017-05-21 00:28] qinhanmin2014 commented on #8894
@KrMantavya @vbakshi Sorry to disturb but I`m just waiting for @amueller to reply. Maybe we need some other ways to solve this. I have opened a pull request to mark that the issue is still alive.

[2017-05-21 01:28] OptimusCrime commented on #6665
I had the same problem as reported here, and I do not use conda.

My Python version is installed via brew on macOS Sierra 10.12.4

[code]

[2017-05-21 03:07] jnothman commented on #8908
Is this assuming dense representations of binary problems will run you out
of memory??

On 21 May 2017 9:07 am, "Piotr Szymański" <notifications@github.com> wrote:

[2017-05-21 03:08] jnothman commented on #8894
yes, generally it's a good idea to open a PR. sorry though if attention is
slow. we've got a king backlog

On 21 May 2017 10:28 am, "Hanmin Qin" <notifications@github.com> wrote:

[2017-05-21 05:35] #8887 closed

[2017-05-21 06:35] KrMantavya commented on #8894
@qinhanmin2014 I'll try and work on some other issue till it is not clear how to solve this one. But the thing i am struggling with is that when i find a issue to work on. How do i find the files that i need to work. Do i need to read every module of this project?

[2017-05-21 06:43] KrMantavya commented on #8683
@MechCoder I would like to work on this. Could you tell me which files i need to work on and more about the expected behaiviour of the module?

[2017-05-21 06:55] qinhanmin2014 commented on #8894
@KrMantavya I'm also a new comer^_^. I think you may try to find some questions to contribute by going through the issues, using scikit-learn by yourself or reading the source code/document. The people here are all really kind.

[2017-05-21 07:41] KrMantavya commented on #8894
@qinhanmin2014 Thankyou. I will  start going though the source code.

[2017-05-21 10:50] niedakh commented on #8908
For a singular problem it is not that likely, but if I am transforming a large multi-label problem into a set of individual single-label binary problems, then yes, it is possible.  The output space of a multi-label problem might be large and suboptimal when densely represented, but is also usually sparse, in a large data set I would have maybe a couple % of samples having a given label attached. I

[2017-05-21 11:28] jnothman commented on #8908
I get that, but in such cases I wouldn't perform all those single-label
problems at the same time on a single machine.

On 21 May 2017 at 20:50, Piotr Szymański <notifications@github.com> wrote:

[2017-05-21 11:29] jnothman commented on #8908
I'm just a bit hesitant because supporting this universally would involve a
lot of changes.

On 21 May 2017 at 21:28, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-05-21 13:07] liquanfeng commented on #8892
I have the same problem.
`gSearch = GridSearchCV(xgbr,param_grid=params,n_jobs=4,scoring='log_loss',cv=5)`
What should I do?make_scorer?

[2017-05-21 21:03] jnothman opened #8911 "Table of scorers not rendering in dev docs"
http://scikit-learn.org/dev/modules/model_evaluation.html#common-cases-predefined-values should have a table like the [stable equivalent](http://scikit-learn.org/stable/modules/model_evaluation.html#common-cases-predefined-values).

Perhaps we need to work through doc build errors more generally.

[2017-05-21 21:03] jnothman commented on #8892
log_loss here is a classification score and should be applied to a
classifier

On 21 May 2017 11:07 pm, "liquanfeng" <notifications@github.com> wrote:

[2017-05-22 09:24] shivamgargsya commented on #8911
Hi I would like to work on this.

[2017-05-22 10:44] jnothman commented on #8911
Go ahead. I've not looked into the cause

On 22 May 2017 7:24 pm, "shivamgargsya" <notifications@github.com> wrote:

Hi I would like to work on this.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/scikit-learn/scikit-learn/issues/8911#issuecomment-303047288>,
or mute the thread
<https://github.com/notifications/unsubsc

[2017-05-22 10:46] jnothman commented on #8899
@lesteve claimed elsewhere that the Yahoo service is closed permanently

[2017-05-22 11:33] rth commented on #8895
What platform are you using?

array.array('i') should produce an array of 32 int, I think, since  `z = array.array('i'); z.append(1000000)` works fine for me. And 32 int would overflow at 2**9 which is large enough.

Here is an example of CountVectorizer processing  a text with 1 million elements in the vocabulary without errrors,
[code]

[2017-05-22 12:00] arafat-al-mahmud opened #8913 "StratifiedShuffleSplit is producing incorrect class proportions in test split"
I have 20 samples from 2 classes. 18 from class 0 and 2 from class 1. Class 0 has proportion 18/20 = .9 or 90% whereas class 1 has proportion 2/20 = .1 or 10%. So as this is stratified, we expect 10% of the samples should be from class 1 in the test split. But we see  0% data is drawn from class 1.

[code]
**Output:**

[code]

[2017-05-22 12:13] lesteve commented on #8899
From https://github.com/scikit-learn/scikit-learn/pull/8222#issuecomment-303052949:

[2017-05-22 12:18] jnothman commented on #8913
Indeed :(

`test_stratified_shuffle_split_iter` uses an `assert_array_equal` with an absolute tolerance of 1 where the absolute tolerance should be `1 / min(len(train), len(test))` or something. So the test's broken, and so is the implementation.

[2017-05-22 14:05] lesteve commented on #8902
I am not sure why you are using beta and rc versions numpy and scipy. Can you try with released versions ?

[2017-05-22 15:34] vbakshi commented on #8894
@qinhanmin2014 Sorry about it, dint read your last comment. I have not made a pull request yet. You can go ahead resolving this once Prof. @amueller replies. I will check out other issues.  :)

[2017-05-22 16:44] mfeurer opened #8916 "DummyClassifier.predict() does stricter input checking than DummyClassifier.fit()"
#### Description
``sklearn.dummy.DummyClassifier`` calls `_assert_all_finite` in `predict`, but not in `fit`.

#### Steps/Code to Reproduce
[code]

#### Expected Results
Either a ``ValueError`` in fit, or no ``ValueError`` at all.

#### Actual Results
[code]

#### Versions
Linux-4.4.0-78-generic-x86_64-with-debian-stretch-sid
Python 3.6.0 |Continuum Analytics, Inc.| (default, Dec 23 2016, 12:22:00

[2017-05-22 21:25] jcrist commented on #8804
Is there anything I can do to help expedite this issue? If I was to make an example PR showing what I think should be done, should I submit it here or joblib? Would that be a good next step?

[2017-05-22 21:56] #8911 closed

[2017-05-22 22:29] jnothman commented on #8804
if it requires changes to joblib, best to raise it there

On 23 May 2017 7:25 am, "Jim Crist" <notifications@github.com> wrote:

[2017-05-23 02:12] cqcn1991 opened #8918 "why gridsearchCV becomes much slower when migrating into model_selection?"
Originally, I used

`from sklearn.grid_search import GridSearchCV`

to perform gridsearch on KDE, part of the code would look like this:

     grid = GridSearchCV(neighbors.KernelDensity(kernel = KDE_KERNEL),
                        {'bandwidth': bandwidth_range}, n_jobs=-1, cv=4)

     grid.fit(bandwidth_search_sample)

Recently, the `scikit-learn` moved the module. It becomes

`from sklearn.mode

[2017-05-23 02:18] jnothman commented on #8918
Thanks for reporting. Can you please confirm this remains an issue for
n_jobs=1? And at master, rather than the released version?

On 23 May 2017 12:12 pm, "cqcn1991" <notifications@github.com> wrote:

[2017-05-23 02:19] jnothman commented on #8918
also what is the shape and type (eg list, array, etc) of
bandwidth_search_sample?

On 23 May 2017 12:18 pm, "Joel Nothman" <joel.nothman@gmail.com> wrote:

[2017-05-23 02:46] cqcn1991 commented on #8918
@jnothman

At n_jobs=1, the time is
Older vs New: 1min 16s vs. 5min 6s

The data is about 14608 rows;

bandwidth range is very simple:

`bandwidth_range = arange(0.7,2,0.2)`

[2017-05-23 03:46] jnothman commented on #8918
Is the data a numpy array? Or a list? or something else?

On 23 May 2017 at 12:46, cqcn1991 <notifications@github.com> wrote:

[2017-05-23 03:47] jnothman commented on #8918
Is the slow-down present in the development version of scikit-learn?

On 23 May 2017 at 13:46, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-05-23 03:49] jnothman commented on #8918
If you could provide a complete snippet to reproduce the problem, including generating or loading data, it would be much appreciated.

[2017-05-23 03:54] cqcn1991 commented on #8918
@jnothman I'm also thinking about providing the dataset. Where can I paste it? It's just 2d array

[2017-05-23 06:22] cqcn1991 commented on #8918
OK, here is the code and data for reproducing the problem

[code]

data is available at `https://gist.github.com/cqcn1991/1e63f1762a7c9c1a5a8f74a8b343a5da`

[2017-05-23 06:34] lesteve commented on #8798
@shuuchen not sure why you closed this but I reopened this. I think this is a valid issue.

[2017-05-23 06:42] #8903 closed

[2017-05-23 06:42] #8904 closed

[2017-05-23 07:52] jnothman commented on #8918
Thanks. Hopefully someone will look into this soon

On 23 May 2017 4:23 pm, "cqcn1991" <notifications@github.com> wrote:

[2017-05-23 07:54] glemaitre commented on #8918
I can reproduce a slow down:

[code]

[code]

[code]

[2017-05-23 08:16] shuuchen commented on #8798
@lesteve OK.

[2017-05-23 08:18] jnothman commented on #8918
I suppose #8322 doesn't happen to fix it?

On 23 May 2017 5:54 pm, "Guillaume Lemaitre" <notifications@github.com>
wrote:

[2017-05-23 08:22] glemaitre commented on #8918
I will make a quick profiling.

[2017-05-23 08:35] glemaitre commented on #8918
Nop

[code]

[2017-05-23 08:41] lesteve commented on #8918
From a quick look at it, I am not sure this is a intrinsic problem with `GridSearchCV`: there seems to be something special with `neighbors.KernelDensity`. Replacing it with `decomposition.PCA` or `cluster.KMeans` gives similar timings for `model_selection` and `grid_search`.

[2017-05-23 08:44] cqcn1991 commented on #8918
@lesteve and I notice that this problem exacerbate with bigger datasize, very typical for KDE method.

[2017-05-23 08:52] lesteve commented on #8918
Looks like the difference is from `return_train_score` which is `True` by default. Setting `return_train_score=False` in `model_selection.GridSearchCV` gives similar timings.

Long story short: got the hint from the profiling, which was showing that `score` were called twice as many times in `model_selection` compared to `grid_search`.

[2017-05-23 09:00] jnothman commented on #8918
cqcn1991, is there a way we can clarify this behaviour in the
documentation? otherwise we should close

On 23 May 2017 6:52 pm, "Loïc Estève" <notifications@github.com> wrote:

[2017-05-23 09:05] cqcn1991 commented on #8918
@lesteve just try it. I think this should be the answer now.
Thanks for all your help. I think we can close it now.

[2017-05-23 09:05] #8918 closed

[2017-05-23 10:11] audiofeature commented on #4675
I have the exact same use case, changing n_jobs after fitting, for predict time, cause i run the prediction on a different machine after pickling and reloading the models.

So I strongly support the possibility of setting n_jobs after fitting, trough the set_params method.

[2017-05-23 11:26] moaddeli opened #8919 "sklearn.datasets.fetch_species_distributions source link has changed"
source Link of sklearn.datasets.fetch_species_distributions dataset had been changed from
http://www.cs.princeton.edu/~schapire/maxent/datasets/samples.zip
to:
http://biodiversityinformatics.amnh.org/open_source/maxent/samples.zip
so when current function executed  HTTPError: HTTP Error 404: Not Found displayed.

[2017-05-23 12:20] lesteve commented on #8916
Given that `DummyClassifier` does not use `X` in `fit` or `predict`, I would be in favour of:
* adding a `check_array` call in `fit`. The same as is currently in `predict` but with `force_all_finite=False`
* adding `force_all_finite=False` in `predict`
* adding a test for this behaviour

Doing the same for `DummyRegressor` would be great too.

@mfeurer it would be great if you could open a PR.

[2017-05-23 12:36] lesteve commented on #8919
This has been fixed in master, see https://github.com/scikit-learn/scikit-learn/pull/8864.

Best practice: search issues and look at the code in master before creating a new issue.

[2017-05-23 12:36] #8919 closed

[2017-05-23 12:40] mfeurer commented on #8916
I'll try to find some time to submit a PR with the suggested behaviour.

[2017-05-23 12:47] lesteve commented on #8916
Thanks don't hesitate to ping me when you open the PR!

[2017-05-23 13:04] lesteve commented on #8879
Maybe some floating point difference? Maybe dependent on the linear algebra library that is being used?

@glemaitre can you kindly ask your neighbor to post the nosetests or pytest command to run one of the tests failing + the stacktrace?

[2017-05-23 13:23] #8679 closed

[2017-05-23 13:46] glemaitre commented on #8879
@dengemann  (he might to be away this week)

I asked for `nosetests sklearn/linear_model/tests/test_logistic.py`.

[2017-05-23 13:52] dengemann commented on #8879
I'm back tomorrow. I can share the stack traces with you later.

On Tue, 23 May 2017 at 15:46, Guillaume Lemaitre <notifications@github.com>
wrote:

[2017-05-23 13:55] passionato opened #8920 "multiprocessing.pool.MaybeEncodingError: Error sending result"
I am running DBSCAN on 500K data points on a machine with around 65GB RAM.

here is the output of my dbscan:

[code]

my data is in X, Y coordinates format:

[code]

what is the problem? why is not working?

[2017-05-23 14:26] lesteve commented on #8920
Can you provide a stand-alone snippet to reproduce the problem ? Please read https://stackoverflow.com/help/mcve.

[2017-05-23 14:45] Attractadore commented on #8799
I want to do this one. Sould I keep n_topics for backward compatibility or just replace it with n_components?

[2017-05-23 15:37] gaw89 opened #8923 "BaseEstimator Usage Clarification"
#### Description

[This Link](http://scikit-learn.org/stable/modules/generated/sklearn.base.BaseEstimator.html) indicates that one should not use *args or **kwargs in classes that inherit from BaseEstimator.  However, it does not say why that is.  Can someone provide clarification as to whether this is strictly a style issue or whether this actually has the potential to break something?

#### Vers

[2017-05-23 15:50] GaelVaroquaux commented on #8923
It's the API of scikit-learn. Things are not garantied to work if you do
it differently. We don't support it.

[2017-05-23 15:51] #8923 closed

[2017-05-23 15:53] gaw89 commented on #8923
Thanks so much for your very quick response.  Have a great day!

On May 23, 2017 11:51 AM, "Gael Varoquaux" <notifications@github.com> wrote:

[2017-05-23 16:28] b-carter opened #8924 "Missing LDA Link in NMF/LDA Example Script"
#### Description

I was reading [this](http://scikit-learn.org/stable/auto_examples/applications/topics_extraction_with_nmf_lda.html#sphx-glr-auto-examples-applications-topics-extraction-with-nmf-lda-py) example script and noticed that the LDA import doesn't link to the [LDA documentation](http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.LatentDirichletAllocation.html) like t

[2017-05-23 17:25] jcrist commented on #8804
See https://github.com/joblib/joblib/pull/524.

[2017-05-23 17:37] glemaitre commented on #8924
Apparently, upgrading sphinx-gallery will solve the issue #8222
cf [example](https://10348-843222-gh.circle-artifacts.com/0/home/ubuntu/scikit-learn/doc/_build/html/stable/auto_examples/applications/plot_topics_extraction_with_nmf_lda.html#sphx-glr-auto-examples-applications-plot-topics-extraction-with-nmf-lda-py)

[2017-05-23 22:06] jnothman commented on #8799
need to deprecate it so that either is accepted for a time (with a warning)

On 24 May 2017 12:45 am, "Attractadore" <notifications@github.com> wrote:

[2017-05-23 22:20] jnothman commented on #8923
see the default implementation of get_params, and clone, to get a sense of
it

On 24 May 2017 1:56 am, "gaw89" <notifications@github.com> wrote:

[2017-05-23 22:58] niedakh commented on #8908
Another problem would be if one has a large text classification space, here in a bag of words setting one would have both matrices quite sparse, the input and the output, I actually had this case when working on classification based on 25 years of slovenian press agency data, over a milion articles in a bag of words model, with a thousand labels - sparsity did speed up things a lot.

The need for

[2017-05-23 23:08] jnothman commented on #8908
i believe you're right that it'd be something hard to work around, but I'm
hesitant because of how it multiplies the possible configurations. I'd be
interesting in seeing a PR that added tests for this functionality and
showed which classifiers etc already support it

On 24 May 2017 8:58 am, "Piotr Szymański" <notifications@github.com> wrote:

[2017-05-24 06:09] ongkoonhan opened #8927 "Seeming disparity between coordinate_descent.enet_path() and cd_fast.enet_coordinate_descent() Objective function"
#### Description

The **coordinate_descent.enet_path()** method has objective function:
![image](https://cloud.githubusercontent.com/assets/24645081/26387234/6cebfc12-407e-11e7-9f12-386d38fc0fd5.png)
While the **cd_fast.enet_coordinate_descent()** method has objective function:
![image](https://cloud.githubusercontent.com/assets/24645081/26387269/b4382028-407e-11e7-91c1-4d37f4cbd759.png)
Which is

[2017-05-24 06:25] jmschrei commented on #8782
@rhiever is correct in that one could use that (and other packages do), but that sklearn uses reduction in gini impurity. Perhaps a PR would be appropriate to clarify the documentation.

[2017-05-24 06:35] jmschrei commented on #8897
The current math in sklearn actually looks incorrect. Not only should it be `0.5*log_det`, it should be `-0.5*log_det` as you mention. Can someone else confirm? We should get a PR fixing that if this is the case.

[2017-05-24 07:08] jmschrei commented on #8804
This is a really neat addition, thanks for the link. I'll be watching it.

[2017-05-24 08:09] agramfort commented on #8927
see these lines before calling the cython solver:

        l1_reg = alpha * l1_ratio * n_samples
        l2_reg = alpha * (1.0 - l1_ratio) * n_samples

[2017-05-24 08:22] #8890 closed

[2017-05-24 08:22] ongkoonhan commented on #8927
Hi Alexandre,
I understand, thank you very much.
Ong Koon Han

[2017-05-24 08:26] #8927 closed

[2017-05-24 09:09] vicknick commented on #8913
I believe that the test will fail before this at` assert_array_equal(np.unique(y[train]), np.unique(y[test]))` in `test_stratified_shuffle_split_iter()` since the number of unique classes will be unequal in both cases.

Also, this will be a real concern where there is a high class imbalance and absolute tolerance is 1
e.g. If the distribution is 95% 0's and 5% 1's, then since the tolerance detects

[2017-05-24 10:27] jnothman commented on #8913
You're right that the number of unique classes would fail in this particular case, but the point is that the tolerance is wrong in general, and the number of cases tested is few.

You're welcome to work on this, @vicknick

[2017-05-24 10:49] whitezhang opened #8930 "Can not rebuild the decision function of the oneclassSVM"
In order to learn the details of the one class model, I want to know how to reprogram the decision function in sklearn. I checked the decision function here[https://github.com/scikit-learn/scikit-learn/blob/14031f6/sklearn/svm/base.py#L419]. Followed by the function, I found svm_csr_predict_values[https://github.com/scikit-learn/scikit-learn/blob/14031f65d144e3966113d3daec836e443c6d7a5b/sklearn/sv

[2017-05-24 11:33] Attractadore commented on #8916
I have implemented this and am submitting a PR.

[2017-05-24 14:43] jnothman commented on #8582
This is actually a duplicate of #7089. I would be very keen to mentor someone in fixing this using `kneighbors_graph`.

[2017-05-24 14:44] jnothman commented on #7089
More discussion of this issue and its potential solution over at #8582

[2017-05-24 15:03] JohnNapier opened #8933 "BUG: BaggingClassifier.oob_score_ should not change with class label"
Let us compute the oob score of a bagged classifier.

[code]

Here, clf.oob_score_=0.0.

Now, you would not expect that the OOB accuracy is a function of the class labels...

[code]

Now, clf.oob_score_=1.0.

Clearly, OOB score should not be a function of the labels arbitrarily chosen for the classes.

sklearn.__version__: '0.18.1'
numpy.__version__: '1.11.3'

[2017-05-24 15:09] jnothman commented on #8582
Apart from using `kneighbors_graph` to get the neighborhoods, `joint_probabilities_nn` needs to correspondingly take a sparse matrix as input and return a sparse matrix as output. Similarly, `_binary_search_perplexity` would have to have different input/output.

Getting technical: Since the indices of the sparse neighbors don't matter to `_binary_search_perplexity`, only the distances, I could ima

[2017-05-24 15:12] zfrenchee opened #8934 "Feature Request: Partial Least Squares Discriminant Analysis macro"
Sklearn implements [Partial Least Squares Regression](http://scikit-learn.org/stable/modules/generated/sklearn.cross_decomposition.PLSRegression.html) (PLSR) but a very common use for this algorithm is a slight variation called Partial Least Squares Discriminant Analysis (PLS-DA), which is when y is categorical instead of continuous. You can pretty easily write PLS-DA using the PLSR from sklearn,

[2017-05-24 15:12] jnothman commented on #8933
I don't think BaggingClassifier uses bincount over the labels. I've not yet
grokked your issue here entirely, though

On 25 May 2017 at 01:03, JohnNapier <notifications@github.com> wrote:

[2017-05-24 15:25] JohnNapier commented on #8933
Thanks @jnothman. The numpy.bincount comment is just a suspicion.

In any case, do you agree that clf.oob_score_ should not be impacted by the chosen class labels?

[2017-05-24 15:38] JohnNapier commented on #8933
It appears the bug is here, in class BaggingClassifier(BaseBagging, ClassifierMixin):

[code]

argmax is not giving the labels but rather the positions, which doesn’t map back to the original labels.
In fact, if the labels are [0,1,27] , you’ll get a third value for oob, which is also wrong.

[2017-05-24 19:57] xhu2016 commented on #8902
Fixed. Personal experience is that instead of install all required library one by one; install them in a bundle such as anaconda is easier.

[2017-05-24 19:59] glemaitre commented on #8902
@xhu2016 package manager can make life easier sometime ;)
Can you close the issue

[2017-05-24 20:58] #8902 closed

[2017-05-24 21:05] jnothman commented on #8933
thanks, a test and a patch is welcome

On 25 May 2017 1:38 am, "JohnNapier" <notifications@github.com> wrote:

[2017-05-24 23:33] jnothman commented on #8829
I am concerned this could be related to #8570, though @tomdlt attributed the claimed memory leak there to the operating system. However, there was no `MemoryError` in that case, only an increase in reported memory usage.

[2017-05-25 06:52] ValdarT commented on #8829
Could be, although I don't quite understand why it would depend on the number of grid search iterations.
The MemoryError itself just depends on the available RAM (if limit of the amount available is reached, then error, otherwise no error), so that doesn't seem relevant.

[2017-05-25 07:36] jnothman commented on #8829
If n_jobs = 1, there should be little memory usage compounded by successive calls. If memory usage increases with successive calls, then this seems to be indicative of a leak.

Could you check whether just iteratively fitting SGDClassifier on the same problem (without *SearchCV) results in this problem?

[2017-05-25 16:42] MichaelALong commented on #8816
I am having this issue as well. What was the resolution? Loading a model generated by an old version of sklearn? Random forests in 0.17.1 are not speedy yet acceptable, but the predict() time in 0.18.1 is horrible.

[2017-05-25 16:59] data-steve commented on #8816
Go to v0.19

~ Steve

Sent via telepathy

[2017-05-25 20:38] yzliao commented on #8897
I think the implementation is correct.

The log pdf of Gaussian distribution is `-0.5*k\log(2\pi)-0.5*log_prob-0.5*log|\Sigma|`, where `k` denotes `n_features` and `\Sigma` denotes the covariance matrix. However, in the code, we use the Cholesky decomposition of the covariance matrix **inverse** (precision matrix) for computing, instead of the covariance matrix. Therefore, if letting `L` denotes t

[2017-05-26 03:46] jnothman commented on #8933
Right, so if I understand correctly, we are decoding the label encoding, but should not be (because at this point `y` is encoded.

[2017-05-26 06:08] jmschrei commented on #8816
The speed issue involving random forest predictions in 0.18.1 should have
been resolved in recent versions.

On Thu, May 25, 2017 at 10:00 AM, Steve Simpson <notifications@github.com>
wrote:

[2017-05-26 13:42] mlewis1729 commented on #8933
It would appear so.

e.g., for labels ([-1,0,1]):
print y[-5:], np.argmax(predictions, axis=1)[-5:], classes_.take(np.argmax(predictions, axis=1))[-5:]
[1 2 1 0 0] [1 2 1 0 0] [ 0  1  0 -1 -1]

[2017-05-26 18:09] shawnjhenry opened #8939 "NMF is extremely slow."
Hi,

I haven't had a chance to look at the sklearn code to figure out where the bottleneck is, but the currently implementation of NMF is vastly slower than it needs to be.  I wanted to factor a very sparse 10,000 x 50,000 matrix and left it running last night to find that it still hadn't converged this morning.  I implemented my own version using the Fast Hierarchical Least Squares algorithm from

[2017-05-26 21:12] ColCarroll opened #8940 "`DeprecationWarning: invalid escape sequence`"
#### Description
On python 3.6, there are `DeprecationWarning: : invalid escape sequence`s thrown in many places.  See https://bugs.python.org/issue27364 for details.  The warning is silent by default and, according to GvR, "we indeed need to take "several" releases before we go there."  It seems like it is usually triggered by LaTeX docstrings, and can be fixed by making those strings raw strings

[2017-05-27 03:57] BenKaehler opened #8941 "BUG: sklearn.feature_extraction.text.HashingVectorizer.fit_transform raises ValueError when it shouldn't"
#### Description
`sklearn.feature_extraction.text.HashingVectorizer.fit_transform` raises `ValueError: indices and data should have the same size` for data of a certain length. If you chunk the same data it runs fine.

#### Steps/Code to Reproduce

[code]

#### Expected Results
[code]
#### Actual Results
[code]
#### Versions
[code]
and
[code]

[2017-05-27 11:04] jnothman commented on #8940
Raw strings preferred.

PRs welcome

[2017-05-27 11:36] jnothman commented on #8941
So you're producing 13 non-zero cells per row from 18600 tokens or so. This will exceed a 32 bit index.

Yes, chunking the data would be a sufficient fix, assuming no single row produced this problem. Or else, could consider using scipy.sparse's csr_sum_duplicates directly.

PR welcome

[2017-05-27 11:52] jnothman commented on #7089
I'm so annoyed by this false advertising that I'm tempted to fix it myself. But given my lack of availability, I'm going to mark it for the sprint and hope that someone in Paris can give it a go.

[2017-05-27 20:12] BenKaehler commented on #8941
Thanks @jnothman! How would calling csr_sum_duplicates directly help? We have to return the csr_matrix at some point regardless. Wouldn't we run into the same problem regardless of when we create the csr_matrix?

[2017-05-27 21:22] jli05 opened #8943 "LDA Perplexity too big on Wiki dump"
#### Description
LDA Perplexity too big on Wiki dump

#### Steps/Code to Reproduce
I used `gensim` `WikiCorpus` to obtain the Bag-of-Words for each document, then vectorised it using `scikit-learn` `CountVectorizer`. All is from the En Wiki dump dated 2017-04-10. I'm using the latest `scikit-learn`.

The LDA used non-informative prior,

[code]

#### Expected Results
7.x - 8.x, which is what the Sp

[2017-05-28 02:02] csanhuezalobos commented on #7089
Maybe this can help to improve things.
https://github.com/DmitryUlyanov/Multicore-TSNE

[2017-05-28 02:54] jnothman commented on #8941
I mean you could call csr_sum_duplicates on a partially filled buffer
rather than the full matrix, to avoid creating a bunch of partial matrices
and then stacking. But this is almost certainly excessive premature
optimisation

On 28 May 2017 6:12 am, "BenKaehler" <notifications@github.com> wrote: