[2015-09-15 05:02] andylamb commented on #5248
Created a draft PR. Will work on test cases.

[2015-09-15 05:43] myflyinggip commented on #5267
Hi Andreas, I'm using skikit-learn 0.16.1. This is tested on two computers, one windows 7 32-bit and anaconda python 3.4.3, the other windows 7 64bit anaconda python 2.7. I'm not sure how to fix the random state that will affect the modelling/cross-validation. But it's be tested multiple times and the incorrect results seem to be quite stable (dodgy 1 always gives an AUC 0.5 while dodgy 2 AUC 0.44

[2015-09-15 09:01] larsmans commented on #5103
Closing because scipy/scipy#5158 was merged; the Hungarian algorithm will be in SciPy 0.17 as `scipy.optimize.linear_sum_assignment`.

[2015-09-15 09:01] #5103 closed

[2015-09-15 09:10] larsmans commented on #5269
64-bit indices are simply not supported at present, as they wouldn't work with `scipy.sparse` in SciPy 0.9. All indices are 32-bit.

[2015-09-15 09:13] larsmans commented on #5248
I would call scaling unexpected behavior. But I'm spoiled by `TfidfVectorizer`, which *produces* normalized data by default.

[2015-09-15 09:14] larsmans commented on #5243
+1

[2015-09-15 09:36] makemate commented on #5269
But I can store the value (72048431380967004) in a ```csr_matrix``` without warnings and when I print out the values they appear correct. And why should indices be the problem, only the values are large?

Any suggestion how I can still use ```load_svmlight_file``` for loading the file but can circumvent the overflow error?

[2015-09-15 09:49] larsmans commented on #5269
Sorry, brain fart.

[2015-09-15 09:53] larsmans commented on #5269
Confirmed that this crashes, and the error message doesn't say what exactly is going wrong.

[2015-09-15 10:00] larsmans commented on #5269
The problem is in line 83 of `sklearn/datasets/_svmlight_format.pyx`. We could change this to use 64-bit query id's by making `query` an `array("l")`. That would still not work on Windows, though.

[2015-09-15 10:24] maheshakya commented on #4917
`kneighbors(v, return_distance=False, n_neighbors=n)[0]`
@erikbern , In LSHForest, I'm not sure why you need to get the first element of first dimension when the neighbors are searched per query with `return_distance=False`. Are you considering only the first neighbor in this benchmark?

I have to agree with you that there should have been a bug in Annoy when I do my comparison. Annoy performs way

[2015-09-15 10:32] larsmans commented on #5265
This is not an issue; this is a valid way of optimizing that we already practice in many parts of the code.

[2015-09-15 10:37] larsmans commented on #5171
I don't see a memory leak here. Closing for now.

[2015-09-15 10:37] #5171 closed

[2015-09-15 10:41] jnothman commented on #4917
I'm not sure your FLANN comparison is fair there: I don't think you set it to use cosine, nor do you norm your elements so that it is cosine-equivalent. So its precision is likely understated.

[2015-09-15 11:20] makemate commented on #5269
I have Yosemite not Windows running so I just have to define ```query = array.array("l")``` and  ```query[len(query) - 1] = long(value)``` in the ```_svmlight_format.pyx``` file. Or what other changes I have to make to execute ```load_svmlight_file()``` on my system? Because the error message remains the same after this changes.

[2015-09-15 11:36] maheshakya commented on #4917
I updated the gist.

[code]

[2015-09-15 11:42] larsmans commented on #5269
Did you recompile?

[2015-09-15 12:12] erikbern commented on #4917
Thanks.

It's a bit hard to compare the algorithms in that benchmark. FLANN has roughly same query time but substantially better accuracy. Annoy has comparable accuracy but is 20-100x faster than LSHF.

[2015-09-15 12:15] erikbern commented on #4917
@maheshakya separately I'll look into why my benchmarks are doing `[0]` – don't remember

[2015-09-15 13:23] maheshakya commented on #4917
Thanks you.

Note that I have set `target_precision` of FLANN to 0.8 therefore accuracy remains roughly same, but in cost of a large index building time.

[2015-09-15 13:29] TomDLT commented on #5267
I have 0.824361495792 in the three cases.

`LogisticRegressionCV.fit(X, y)` is supposed to copy `X` if it is not in C order, so it should not be a problem to give a sliced input array. [(see this line)](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/logistic.py#L1449)
___
Can you test with `y.astype(np.float64)` instead of `y.astype(float)` ?
Can you print `X.dtype`

[2015-09-15 13:35] TomDLT commented on #5265
See for example the `check_input` parameter in private function of LogisticRegression, [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/logistic.py#L520).

[2015-09-15 13:38] jnothman commented on #5267
I can replicate. On OS X, not Anaconda py2.7, so these are fairly different
platforms.

On 15 September 2015 at 23:29, Tom Dupré la Tour <notifications@github.com>
wrote:

[2015-09-15 13:45] makemate commented on #5269
Originally I've installed scikit via pip but haven't found how to compile the package without overwriting the changed file.
I've also executed ```python setup.py install``` in the sklearn folder which had no effect.

[2015-09-15 13:54] jnothman commented on #5267
X = X.astype(np.float64) appears to fix Dodgy 1 but not Dodgy 2.

On 15 September 2015 at 23:38, Joel Nothman <joel.nothman@gmail.com> wrote:

[2015-09-15 13:58] jnothman commented on #5267
Is it possible that `<np.ndarray[np.float64_t, ndim=2, mode='c']>X` used in `liblinear.pyx` is an unsafe cast?

[2015-09-15 14:42] makemate commented on #5269
Build now the newest ```scikit``` from github (0.17.dev0). Changed the ```_svmlight_format.pyx``` like described and executed  ```python setup.py install```.
Error message is:
[code]

[2015-09-15 14:47] larsmans commented on #5269
Try `make cython` first to compile the `.pyx` file to C.

[2015-09-15 14:50] boscotsang opened #5273 "Why didn't the KNN of scikit-learn outperform my simple implementation according to the tutorial in the Internet in terms of accuracy?"
Now I implement a simple KNN which according to the tutorial in the Internet. However, when I tested on Iris, Digits datasets loaded from scikit-learn module, the accuracy of my versions are better though they took more time. Is it the KDTree or other distance algorithms have an effect on the accuracy? Thank you.

[2015-09-15 15:29] hasancansaral commented on #5089
@amueller As for the DataDimensionalityWarnings, I have suppressed all of them except for one, which I get when I run nosetest -v sklearn/neighbors but not when nosetests -v sklearn/neighbors/tests. Could you help me with that? Thanks.

[2015-09-15 16:55] makemate commented on #5269
When I try to ```make cython``` in the sklearn folder there appear many messages ``` xxx is not a valid module name```
The last examples:
[code]

[2015-09-15 17:00] stuarteberg commented on #2755
So sorry for the spam, but I just want to +1 this issue.  My app calls sklearn from multiple threads and one of my users is running into this snag. It's a shame the Python `warnings` module isn't thread-safe.

[2015-09-15 21:36] jnothman commented on #5273
No, the distance algorithms are exact. You can reopen this issue if you can provide an example of buggy behaviour.

[2015-09-15 21:36] #5273 closed

[2015-09-15 21:39] cstich opened #5275 "DBSCAN memory consumption"
Hi,

I am using DBSCAN to cluster some points of mine and I run into some possibly memory related issues. If I try to cluster something in the ballpark of 50k two-dimensional points with the haversine metric, I am running out of memory on a machine with 16GB, and I am not sure that this is supposed to happen. I mean, 50k isn't that many points, or am I wrong?

For the last two times I tried I also

[2015-09-15 23:39] jnothman commented on #5275
It's somewhat surprising that it occurs there and @larsmans might want to
investigate.

On 16 September 2015 at 07:40, cstich <notifications@github.com> wrote:

[2015-09-16 08:55] larsmans commented on #5275
Surprising indeed, since the stack inside DBSCAN cannot grow to more than 2×50k 64-bit elements in this case. That's less than a megabyte. @cstich have you got a file with the points for us (or a smaller set that reproduces the problem)?

[2015-09-16 09:09] cstich commented on #5275
I can't share the exact same file due to privacy issues. I will try to create some synthetic data that can reproduce it. I will report back in a couple of days.

[2015-09-16 10:49] jmschrei commented on #5212
I've added a new PR which cleans up criterion and will make adding caching easier.

It also means that all criteria store three pointers (node_sum, node_sum_left, and node_sum_right), which will need to be handled when multithreading happens. Another concern for multithreading is that a single thread pool cannot be built regardless of split using the current splitters, because accessing this threa

[2015-09-16 11:02] GaelVaroquaux commented on #5212
If it's simple, I will probably let you live.

[2015-09-16 14:10] jmschrei commented on #5212
Also, PR #5252, regarding merging PresortBestSplitter and BestSplitter, is still awaiting review. I would like to have both #5252 and #5278 merged before adding caching across splits.

[2015-09-16 14:38] cstich commented on #5275
I just tried and I can't reproduce the bug under sklearn 0.15. So if anybody else experiences this issue, a temporary workaround is to downgrade.

[2015-09-16 15:36] fonnesbeck opened #5281 "DeprecationWarning for inspect.getargspec in Python 3.5"
When running the current master in Python 3.5.0 (OS X 10.10), I receive `DeprecationWarning`s every time `inspect.getargspec` is used. E.g.,

[code]

Incidentally, these warnings cannot be turned off using `warnings.simplefilter` or `warnings.filterwarnings`.

[2015-09-16 15:48] andylamb commented on #5246
It looked like this was still breaking, so I created a PR.

[2015-09-16 21:35] jnothman commented on #5275
scikit-learn 0.15 didn't involve this Cython component. Still, I'm finding
it hard to reason about a case in which the stack grows out of proportion
with the input, which is what I presume must be happening.

On 17 September 2015 at 00:38, cstich <notifications@github.com> wrote:

[2015-09-16 21:42] #5239 closed

[2015-09-16 21:42] arjoly commented on #5239
Fix in #5242

[2015-09-17 02:15] naught101 opened #5285 "preprocessing.LaggedFeatures"
Similar to the `preprocessing.PolynomialFeatures()` preprocessor, it would be nice to have a simple lagged features preprocessor for use in pipelines.

It might also be nice to have a lagged window-average (average of last n steps).

Would something like this be useful in general in sklearn? I'm probably going to have to code one up for myself anyway, and can make a pull request, if it is.

[2015-09-17 02:42] ZaixuCui commented on #1513
@amueller  RVM (mainly revelance vector regression (RVR)) is pretty useful in neuroimaging data analysis. Lots of papers uses this method rather than SVR to predict. It will be perfect, if this method can be added to the scikit learn toolbox.

[2015-09-17 04:06] MechCoder commented on #5265
Except that it might make the API slightly heavier.

We had a discussion against making input validation optional here (https://github.com/scikit-learn/scikit-learn/pull/3969)

[2015-09-17 04:21] MechCoder commented on #4990
It seems that the huber estimator is less prone to outliers since it is linear after a certain value right? Can I start working on this?

[2015-09-17 04:27] jnothman commented on #5285
If I understand broadly what you're proposing, I don't really think it applies to a matrix where each row is more-or-less an independent sample, rather to time series. That would make it very unlikely appropriate for scikit-learn, while simple to do in pandas.

[2015-09-17 04:57] naught101 commented on #5285
Yeah, I figured that might be the answer. But I don't think an sklearn-style preprocessor class is going to get in to Pandas either (maybe something like https://github.com/paulgb/sklearn-pandas/ though) . I wonder if there are any scikit-learn extra packages that focus on time-series? I mean, there isn't anything in sklearn that makes it inappropriate for time-series use, but there are probably a

[2015-09-17 05:18] jnothman commented on #5285
Could you give an example of what you mean the output to be? I don't really see how this needs a dedicated transformer, given that you don't seem to propose the output being dependent on some statistics of the training data. That is, it could be performed using the new [`FunctionTransformer`](http://scikit-learn.org/dev/modules/generated/sklearn.preprocessing.FunctionTransformer.html#sklearn-prepr

[2015-09-17 05:18] #5285 closed

[2015-09-17 05:38] naught101 commented on #5285
Just something like transforming

[code]

So yes, the FunctionTransformer would probably do in that case, thanks for the pointer.

However, the more I think about it, this isn't actually going to cover all my required used-cases, which will include using the output from one time-step as an input to the next time-step. I think I can still use scikit-learn for the grunt work, especially for fitting

[2015-09-17 05:40] jnothman commented on #5285
Right. Yes, not so trivial, but not really for scikit-learn either, I
suspect.

On 17 September 2015 at 15:38, naught101 <notifications@github.com> wrote:

[2015-09-17 11:54] myflyinggip commented on #5267
`y.astype(np.float64)` doesn't fix Dodgy 1 nor Dodgy 2 on Windows 7.

Regardless of whether y is set to `float` or `np.float64`, `X.dtype` (after `StandardScaler().fit_transform(X)`) and `data.dtype` (after `np.hstack()`) are both `float64`.

[2015-09-17 12:16] asutera opened #5286 "Test failure for dataset "20_news""
Hi,

When running "make test", I have this:

    ERROR: sklearn.datasets.tests.test_20news.test_20news

Which corresponds to this:
    try:
        data = datasets.fetch_20newsgroups(
            subset='all', download_if_missing=False, shuffle=False)
    except IOError:
        raise SkipTest("Download 20 newsgroups to run this test")

    # Extract a reduced dataset
    data2cats = datasets.fetc

[2015-09-18 12:43] giorgiop commented on #5243
Any idea on how to handle the options `n_components` in `(0,1)` and `'mle'`? Those are used after computing the SVD. I also want to start supporting `scipy.sparse.linalg.svds` as a solver for truncated SVD. The issue is the same.

ValueError or something more clever?

[2015-09-18 12:56] GaelVaroquaux commented on #5243
Being clever in the 'auto' choice, and raising a ValueError for the
solver='randomized'.

[2015-09-18 20:20] amueller commented on #1677
see #2008

[2015-09-18 20:36] carrillo commented on #5229
Dear Utkarsh,

did you make any progress? If not, do you mind me taking over?

[2015-09-19 01:47] jmschrei commented on #5286
I cannot reproduce this issue on Ubuntu 14.04 with the current master branch. Try pulling the current master branch and see if that fixes the issue?

[2015-09-19 04:55] adityapatadia commented on #5281
+1

[2015-09-19 05:31] ruiEnca commented on #5281
+1 (Python 3.5.0 and Windows 10)

[2015-09-19 06:29] khalibartan commented on #5229
Actually I have done what I have written above , I'm just waiting for him to respond. Whenever @amueller  responds I'll send a pull request

[2015-09-19 06:49] agramfort commented on #4990
@MechCoder what solver do you have in mind? L-BFGS?

[2015-09-19 06:53] GaelVaroquaux commented on #4990
Correct.

I think that this would indeed be a great addition. As Alex, I think that
an lBFGS solver would probably be the right way to tackle it.

As we are a statistical learning package, I think that we should have an
l2 penalty.

[2015-09-20 00:07] andylamb commented on #4639
@pieteradejong, are you still working on this?

[2015-09-20 02:25] ogrisel commented on #5013
@arthurmensch also had a look at this specific issue as well I think.

[2015-09-20 02:31] amueller commented on #4728
Closing as duplicate of #5089.

[2015-09-20 02:31] #4728 closed

[2015-09-20 02:36] amueller commented on #4398
fixed in #5245.

[2015-09-20 02:36] #4398 closed

[2015-09-20 02:48] amueller opened #5290 "remove c files from the repo"
We should only generate C files for releases, and not distribute them with the repo, as scipy does.
It's pretty easy to find out whether you are doing an dev build and cythonize or just build the c files that are shipped with the release.

[2015-09-20 02:52] amueller commented on #4107
Update:
[code]

[2015-09-20 02:53] amueller commented on #4107
QDA and LDA need deprecations.

[2015-09-20 06:41] jmschrei commented on #5267
I can reproduce the error on Windows 8 64 bit sklearn 0.16.1. Using `X_train = X_train.astype(np.float64)` fixes both cases for me. @jnothman are you casting X_train in the lines right above fitting the model, or in the first declarations? X_train is redefined below.

[2015-09-20 13:13] jnothman commented on #5290
... at the risk of individuals being caught by Cython bugs (not that we often see them get in the way). But yes, I've also considered this recently.

[2015-09-20 13:14] jnothman commented on #5290
Cython version does become yet another variable in debugging and benchmarking however.

[2015-09-20 13:16] GaelVaroquaux commented on #5290
What would be our policy on Cython version?

Do things vary widely with different Cython versions (I believe not).

[2015-09-20 20:40] trevorstephens commented on #4324
Fixed by #4347 ya?

[2015-09-21 07:03] jnothman commented on #5281
Should we move to using `signature` and include the 30kb implementation at https://github.com/aliles/funcsigs?

[2015-09-21 16:41] andreasvc opened #5292 "LabelKFold and shuffle=True gives incorrect results"
The point of LabelKFold is that instances with the same label end up in the same fold:
[code]

However, the shuffle does not maintain this:
[code]
I believe the shuffle should be applied at an earlier stage, and should be applied to the labels as well.

[2015-09-21 18:26] PrashntS commented on #5281
+1
A dirty fix is to replace line 64 of `/usr/local/lib/python3.5/site-packages/sklearn/utils/fixes.py` (or equivalent) with
[code]

[2015-09-21 20:31] jnothman commented on #5281
I think we should try to fix this for the upcoming release...

[2015-09-22 07:28] pieteradejong commented on #4639
@andylamb yes, am working on it.

have run some searches for 'multi-class' and 'multi-label' in the source, would be happy to hear about any specific locations I should look at.

[2015-09-22 07:35] glouppe commented on #5292
Indeed, thanks for the report. I will work on a fix.

[2015-09-22 11:52] arthurmensch commented on #5013
DOUBLE is defined as `np.float64` so it should be a 64bit float on any platform. I do not have a Windows platform at hand, but the problem should come from `y.strides` itself.

[2015-09-22 13:16] GaelVaroquaux commented on #5013
It's worth trying.

[2015-09-22 13:59] ogrisel commented on #3930
Actually, if we add the `randomized_svd` solver of `RandomizedPCA` to the `PCA` class we can just deprecate the `RandomizedPCA` class and leave it unchanged: this way we do not introduce any backward compatibility issue.

[2015-09-22 14:01] giorgiop commented on #3930
It depends if the new PCA will make it to next release. Should I focus on that then?

[2015-09-22 14:03] ogrisel commented on #5281
I am working on it.

[2015-09-22 14:08] ogrisel commented on #5281
There are many occurrences of `getargspec` in our code base:

[code]

So maybe including `funcsigs` as `sklearn.externals` might indeed be a good idea.

[2015-09-22 15:16] PrashntS commented on #5281
I think this would be a good idea:

For example,
```sklearn/utils/estimator_checks.py: args, varargs, kws, defaults = inspect.getargspec(init)```
`inspect.signature` does not returns `varargs` and `kws`.

A custom implementation would be the better way to wrap over `inspect.signature`.

[2015-09-22 16:24] #4107 closed

[2015-09-22 16:26] amueller commented on #4811
Should we close as #4852 was merged? Or keep open to discuss adding more losses?

[2015-09-22 16:26] amueller commented on #896
#4852 is merged now :)

[2015-09-22 16:26] #896 closed

[2015-09-22 16:27] #4930 closed

[2015-09-22 16:39] TomDLT commented on #4811
Based on this discussion, I have worked on adding a multiplicative-update solver for NMF (more precisely Maximization-Minimization) in PR #5295.
It handles all beta-divergences, including Frobenius norm, generalized Kullback-Leibler divergence and Itakura-Saito divergence.

[2015-09-22 18:57] larsmans commented on #5290
+1

Always the most recent release of Cython?

[2015-09-23 04:25] samzhang111 opened #5298 "Verbose option on Pipeline"
Would like to see timing information for individual steps in a pipeline. Perhaps a named variable for "verbose" in the pipeline constructor?

[2015-09-23 06:35] ogrisel commented on #5281
I don't want to maintain a custom implementation just use the signature API as provided by `funcsigs` under Python 2 and the default `inspect.signature` function in Python 3.3+ and introspect the parameters to find out which is which.

[2015-09-23 11:45] jnothman commented on #5080
I note that other wrappers, such as `print_times(my_estimator)`, a solution to #5298, could be implemented similarly...

[2015-09-23 13:02] ogrisel commented on #5281
I have opened a PR in #5301.

[2015-09-23 13:04] jnothman commented on #5298
Would storing this information in the pipeline instance suffice or are you looking for realtime feedback? Obviously storing on the pipeline instance means the information disappears after a `cross_val_score` or `*SearchCV` run.

[2015-09-23 15:24] lesteve commented on #5241
I was planning to do a joblib release for this bug fix and hopefully fix this [one](https://github.com/joblibf/joblib/issues/236) too and then open a scikit-learn PR. Can someone set the milestone of this ticket to 0.17 ?

[2015-09-23 15:41] agramfort opened #5304 "cython sklearn/tree/_criterion.pyx broken"
running :

cython sklearn/tree/_criterion.pyx

on current master breaks. The .c file commited is not the one from the .pyx

cc @glouppe @arjoly

[2015-09-23 15:41] agramfort commented on #5304
cc @ngoix

[2015-09-23 15:45] GaelVaroquaux commented on #5304
Have you checked using the same Cython version that was used to generate
the .c file.

[2015-09-23 15:47] glouppe commented on #5304
Yes this was reported by @jmschrei in #5252.

@jmschrei Can you make a small and quick PR to fix this? Thanks a lot

[2015-09-23 16:30] jmschrei commented on #5304
Yes, this is my fault. I have submitted a patch for this.

[2015-09-23 16:38] olivermueller commented on #4405
I'm running into the same problem. It would be nice to have partial dependence plots for random forests (or any other classifier).

[2015-09-23 16:50] trevorstephens commented on #4405
I'll work on this one.

[2015-09-23 17:54] #5281 closed

[2015-09-23 18:05] amueller commented on #5290
For benchmarking, it is already a variable, as chances are you changed the cython code so you needed to regenerate.
+1 for latest release.

We currently have C files generated from Cython 0.16 to 0.23 in the repo.

[2015-09-23 18:36] glouppe commented on #5304
This is fixed in #5305

[2015-09-23 18:36] #5304 closed

[2015-09-23 20:04] samzhang111 commented on #5298
Realtime feedback, like the highest verbosity on `GridSearchCV`. When pipelines get long it is useful to know what stage they are at.

[2015-09-23 21:52] ogrisel commented on #5013
I am setting up valgrind in a docker container. I should be able to debug that tomorrow in the train :)

[2015-09-23 23:28] jnothman commented on #5298
I'd be okay with this.

On 24 September 2015 at 06:04, Sam Zhang <notifications@github.com> wrote:

[2015-09-24 10:03] fayeshine opened #5306 "CountVectorizer Performance Problem"
I was doing text classification task these days, and I found the CountVectorizer / TfidfVectorizer quite slow. Then I look into the source code, I found the the function CountVectorizer._count_vocab:

    def _count_vocab(self, raw_documents, fixed_vocab):
        """Create sparse feature matrix, and vocabulary where fixed_vocab=False
        """
        if fixed_vocab:
            vocabulary = se

[2015-09-24 11:14] jnothman commented on #5306
Not a stupid question. It might be that these were used and turn out to be inappropriate. However, a couple of others have raised performance issues with `CountVectorizer`: #4968 and #5922. Perhaps @ephes would like to add this concern into the benchmark there.

[2015-09-24 11:37] frank-tancf opened #5307 "Some mistake when rebuilding."
I got a mistake when I rebuilding the scikit-learn after fetch the upstream.
It returns message like this:

rm -f tags
python setup.py clean
Partial import of sklearn during the build process.
Traceback (most recent call last):
  File "setup.py", line 247, in <module>
    setup_package()
  File "setup.py", line 201, in setup_package
    from setuptools import setup
  File "/usr/local/lib/python2.7

[2015-09-24 19:35] ishank08 commented on #5105
I would like to take this issue.
Since I am new to this community, any instructions or directions would be a great help.

[2015-09-24 19:42] bjlange opened #5308 "cross_val_score can't take scoring parameters without a custom scoring function"
When using `cross_val_score`, one can choose an averaging method easily using the various `scoring` presets. But if they want to choose a pos_label like those taken by `f1`, `precision`, and `recall` (to specify scoring with respect to a specific class), they have to define a custom scoring function like this:
[code]
This obviously isn't *that* big of a deal, but it would be nice to be able to pas

[2015-09-24 20:28] amueller commented on #5103
We should document that we can remove it from sklearn, right?

[2015-09-24 20:31] amueller commented on #5248
My issue is that SGDClassifier basically doesn't work without tuning when data is not scaled properly.
We could also adopt the learning rate scheme but the current default doesn't make sense for non-normal data.

[2015-09-24 20:34] amueller commented on #5273
Were the results different for the same value of k? As @jnothman said, please provide code for us to reproduce.

[2015-09-24 20:41] amueller commented on #4895
Fixed by #4955.

[2015-09-24 20:41] #4895 closed

[2015-09-24 20:43] larsmans commented on #5103
Yes. I've been wanting to update the code, but didn't get round to it. I'll do it now.

[2015-09-24 20:44] agramfort commented on #5248
adagrad? :)

[2015-09-24 20:46] amueller commented on #5248
Well yeah we could do that too... probably should

[2015-09-24 20:53] amueller commented on #5118
Soo should we consider this fixed after #5253? It would be nice to not be slower on most machines...

[2015-09-24 20:54] amueller commented on #5298
Yeah I feel optional verbosity is usually good.

[2015-09-24 20:56] amueller commented on #5308
that is what ``make_scorer`` is for: http://scikit-learn.org/dev/modules/generated/sklearn.metrics.make_scorer.html#sklearn.metrics.make_scorer

[2015-09-24 20:56] #5308 closed

[2015-09-25 01:45] jnothman commented on #5308
The recommended approach currently might be
scoring=make_scorer(partial(precision_score, pos_label=2)).

I agree that in some ways your proposal would be an improvement: the user
needs not understand the potentially confusing parameters of make_scorer.
It would also be consistent with other places we allow a string parameter
to select among methods.

Its downsides are:
* another parameter to clutt

[2015-09-25 01:51] #5307 closed

[2015-09-25 01:53] jnothman commented on #5308
@amueller, you're right. But a user is easily tripped up by not realising
they need to both curry the scoring function, and provide make_scorer
parameters like needs_proba. So I can see from a usability perspective that
this sort of thing could benefit.

On 25 September 2015 at 06:56, Andreas Mueller <notifications@github.com>
wrote:

[2015-09-25 05:01] bjlange commented on #5308
Ah, I'm just now seeing [all the stuff about `make_scorer` in the model eval docs](http://scikit-learn.org/stable/modules/model_evaluation.html#defining-your-scoring-strategy-from-metric-functions). The docs suggest that you don't have to curry the scoring function; you just pass keyword arguments and they're passed along. That's not too bad usability wise, and it seems like storing all the releva

[2015-09-25 05:09] jnothman commented on #5308
Forgot about the **kwargs. Yes, no currying needed. Still, I think it's a
bit mean to require a user to look up the properties of the metric function
in order to use make_scorer correctly.

I wonder if one option is to allow make_scorer (or a new
altered_scorer function) to take a pre-existing scorer's string as the base
definition:

scoring=altered_scorer('precision', pos_label=2)

or even

scori

[2015-09-25 15:06] GaelVaroquaux opened #5309 "Verbosity in sparse_encode"
sparse_encode (and the code that uses it, like online_dict_learning) doesn't have a verbosity argument and doesn't report progress.

[2015-09-25 20:31] DSLituiev opened #5313 "Empty `residues_` in `LinearRegression`"
No residues returned in `residues_` attribute:

[code]

[2015-09-25 21:22] amueller commented on #5105
Feel free to work on it.

[2015-09-25 21:26] amueller commented on #5105
What is the difference between http://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/wdbc.data and http://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/wpbc.data ?

[2015-09-25 21:26] amueller commented on #5105
Is that like a training and test split?

[2015-09-25 21:42] hlin117 commented on #5313
So according to the source code in `sklearn/linear_model/base.py` and the online documentation <a href="http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html">here</a>, it doesn't actually say that `residues_` is an attribute for LinearRegressions. That being said, if you look at `LinearRegression.fit`, `self.residues_` is indeed being set.

[2015-09-25 22:00] hlin117 commented on #5313
I actually think that this output was intentional. `LinearRegression.fit` calls scipy's `lstsq` function. The <a href="http://docs.scipy.org/doc/numpy/reference/generated/numpy.linalg.lstsq.html">documentation</a> has conditions for when the residues are empty.

[2015-09-26 00:22] hlin117 commented on #5309
I would like to work on this issue, if no one has taken it. What output format would you want the progress to be?

[2015-09-26 06:15] williamkrivan opened #5314 "Round-off issues in naive_bayes.py?"
I am puzzled by the dependence of GaussianNB results on the overall magnitude of features values. I took a quick look at naive_bayes.py; it seems that log probabilities are utilized as they ought to be, and I didn't notice anything that struck my eye as a potential cause for numerical error, so I thought I post here before digging into the bowels of the naive_bayes.py source.

In my real-world pro

[2015-09-26 06:41] agramfort commented on #5314
I am not surprised that numerical code depends on scales of float numbers.
It's also recommended to scale the features in some way (z-score, min-max
etc). I am not sure GNB should do this for you implicitly as first it would
require a copy of X which can be a problem in practice.

[2015-09-26 07:17] williamkrivan commented on #5314
I couldn't agree more with what you wrote about numerical code depending on the order of the numerical values used, and you are correct about feature scaling, which can be done in various ways and which is of paramount importance for many methods such as SVMs.

In the examples I posted, however I was referring to LDA and NBC, for which the results should be independent of the overall order of the

[2015-09-26 07:29] GaelVaroquaux opened #5315 "Make Lars and LassoLars parallel on the multiple targets"
Lars and LassoLars (in least_angle.py) could have the loop on the number of targets made parallel (using joblib.Parallel, as everywhere in the codebase).

[2015-09-26 07:39] GaelVaroquaux commented on #5309
The first thing to do would be to pass the verbosity to the parallel
object in sparse_encode (line 260the parallel object in sparse_encode
(line 260).

The second would be to pass verbosity to inner solvers that
_sparse_encode uses (LassoLars, Lars), and make sure that the different
dict learning and sparse pca code pass that verbosity along.

Then, I suspect that in Lars (itself in least_angle.py

[2015-09-26 08:59] beepee14 commented on #5315
I would like to take a stab at this one.

[2015-09-26 09:20] agramfort commented on #5314
ok fair enough. +1 to have a look if we can improve numerical stability.
Maybe somebody has some time...

[2015-09-26 12:20] GaelVaroquaux commented on #5315
Feel free. Thanks

[2015-09-26 14:25] carrillo commented on #5229
I have the fix laying around for some time now. I'll make a pull request in a moment. Please ignore this request, if I'm acting out of line. I just want to get this off my desk.

[2015-09-26 17:19] hlin117 commented on #5309
Hi Gael. I'm wondering why we should pass `max(verbose - 1, 0)` into the constructors of the Parallel objects rather than `max(verbose, 0)`. Unless you would prefer that `verbose=1` have the same effect as `verbose=0`?

I'll start the PR soon. It seems that this PR is quite straightforward. (Other than my question above.)

[2015-09-26 17:44] GaelVaroquaux commented on #5309
The idea is that the verbosity is decreasing as functions are called in a nested way.

Sent from my phone. Please forgive brevity and mis spelling

On Sep 26, 2015, 19:19, at 19:19, Henry Lin <notifications@github.com> wrote:

[2015-09-26 18:24] hlin117 commented on #5309
Please check PR 5317. Thanks.

[2015-09-26 19:08] amueller opened #5318 "types in dataset bunches are inconsistent"
I just saw that iris.feature_names is a list but iris.target_names is an array. That is odd. Not sure how it is for the other datasets.
This is pretty minor but some consistency would be nice.

[2015-09-26 19:24] hlin117 commented on #5318
Would you rather have all of these types be arrays rather than lists?

[2015-09-26 19:30] amueller commented on #5318
I think arrays are better here.

[2015-09-26 19:31] hlin117 commented on #5318
I can take a look at this issue.

[2015-09-26 20:47] hlin117 commented on #5318
Please see the PR, @amueller

[2015-09-26 21:14] jnothman commented on #5318
note bunch.feature_names.index('some feature') works if a list, and not if
array. So you will probably break user code by fixing.

On 27 September 2015 at 06:47, Henry Lin <notifications@github.com> wrote:

[2015-09-26 23:39] dbtsai commented on #4990
I am working on robust regression for Spark's MLlib project based on Prof. Art Owen's paper, [A robust hybrid of lasso and ridge regression](http://statweb.stanford.edu/~owen/reports/hhu.pdf ). In MLlib/Breeze, since we don't support L-BFGS-B while the scaling factor in Eq.(6) \sigma has to be >= 0, we're going to replace it by \exp(\sigma). However, the second derivative of Huber loss is not cont

[2015-09-27 06:26] williamkrivan commented on #5314
I think the problem is the variable epsilon.

After I looked at the cited Chan, Golub and LeVeque paper from 1979 and noticed a discussion about single vs. double precision, I first suspected that epsilon may be set to an unnecessarily large value, so I set it to 1.0e-12 and saw that things improved as the discrepancy set in for features ~1.0E-7. Conversely, setting epsilon to a larger value, say

[2015-09-27 07:31] ishank08 commented on #5105
http://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/wdbc.data
is the actual dataset consisting of the complete 569 instances
http://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/wpbc.data
is probably something else as the labels are R and N ,different from M(malignant) and B(benign) in the former dataset

[2015-09-27 07:39] ishank08 commented on #5105
Actually, the former is the diagnostic data set and the latter is the prognostic data set. The first dataset classifies cancer as malignant or benign and the second dataset classifies cancer as recurrent(recurrences before 24 months) or non-recurrent.

[2015-09-27 16:22] amueller opened #5322 "Regression models should raise errors when targets are nan / inf"

[2015-09-27 19:24] andylamb commented on #5322
Would be happy to do.

[2015-09-27 19:38] andylamb commented on #5322
Which regression models don't raise an error? Just tried with `LinearRegression` and `KernelRidge`, and got

[code]

[2015-09-28 09:38] simoncos opened #5323 "cross_val_score() outputs in Linear Regression don't change after re-spliting X and y"
When I use `cross_val_score` in scikit-learn's Linear Regression, the score will not change even if you re-split `X` and `y` using `train_test_split`.

test code here:

[code]

[2015-09-28 09:42] cosmos2006 opened #5324 "FAIL: Doctest: sklearn.neighbors.approximate.LSHForest"
while buidling the scikit.learn, I encountered following error. Please have a look at it.

Regards
cosmos
[code]

[2015-09-28 09:45] TomDLT commented on #5322
I found :
[code]

[2015-09-28 10:36] cosmos2006 opened #5326 "Failure: AttributeError ('module' object has no attribute 'float16') ... ERROR"
The compilation of latest scikit-learn failed during installation on scientific linux 6. The error log is attached.
1. ********************
# Following lines were commented from setup.cfg
#cover-html = 1
#cover-html-dir = coverage
#doctest-fixtures = _fixture
*************************************
2. Compilation of scikit learn on scientific linux 6 gave the following error:
-----------------------

[2015-09-28 11:52] TomDLT commented on #5323
1. `cross_val_score` does not use the coefficients computed during the previous `fit`.
2. `cross_val_score` does not use the `X_train, X_test, y_train, y_test` split performed in the beginning of your loop.

In your code, `cross_val_score` computes 5 new splits from `(X, y)`.
For each split, it uses the `clone` functions, that constructs a new estimator with the same parameters, then it fits the m

[2015-09-28 12:28] simoncos commented on #5323
But `cross_val_score` must use the regressor fitted with a new pair of `X_train` and `y_train`, right?

[2015-09-28 12:36] TomDLT commented on #5323
No. `cross_val_score` performs a new `fit` (and even 5 actually, for the 5 different splits it generates).
Calling `fit` a second time does not use any previous fit.
It recomputes the coefficients from scratch.

[2015-09-28 12:42] simoncos commented on #5323
As far as I understand, you said that `cross_val_score` performs a new fit and recomputes the score, which in my opinion will make the score change. However it doesn't.

[2015-09-28 13:22] simoncos commented on #5323
Thank you. I understand.

[2015-09-28 13:24] TomDLT commented on #5323
`scores = cross_val_score(regressor, X, y, cv = 5)`
is deterministic and will always give the same results.

The split is done with a `KFold` without shuffling:
[code]
[code]

To add shuffling, you can call :
`scores = cross_val_score(regressor, X, y, cv=KFold(X.shape[0], n_folds=5, shuffle=True))`

[2015-09-28 14:29] #5292 closed

[2015-09-28 15:18] ogrisel commented on #5118
It's no longer "dead slow" and can apparently offer some speedup at least on two machines. Let's consider it fixed for now. We can always refine and optimize later. The big obvious performance issue as been removed by #5253.

[2015-09-28 15:18] #5118 closed

[2015-09-28 15:32] larsmans commented on #5118
Yes, fine!

[2015-09-28 15:35] larsmans commented on #5326
What does

[code]

say?

[2015-09-28 20:49] MechCoder commented on #5323
Closed after @TomDLT 's explanation about why this is the expected behavior.

[2015-09-28 20:49] #5323 closed

[2015-09-29 04:28] cosmos2006 commented on #5326
python -c "import numpy; print numpy.version.version" says
1.4.1

[2015-09-29 07:15] cosmos2006 commented on #5326
after installing numpy version 1.9.2, above error disappeared but installation failed at SKlearn. Here is the output
----------------
FAIL: sklearn.cluster.tests.test_k_means.test_fit_transform
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/local/User/lib/python2.7/site-packages/nose/case.py", line 197, in runTest
    self.tes

[2015-09-29 09:23] ogrisel commented on #5013
The error is probably caused by the fact that we are using the `y` strides to iterate over `Xy` instead of 1. (Xy is contiguous 1d array). However if I fix that I still have a bad memory access reported by valgrind. I will work on a PR once I fully understand what's going on.

[2015-09-29 09:59] zkuncheva opened #5327 "UserWarning:the number of connected components of the connectivity matrix is *>1. Completing it to avoid stopping the tree early."
I am using the latest bleeding edge version of sklearn '0.17.dev0'.

I use sklearn.cluster.AgglomerativeClustering(affinity='precomputed',connectivity=Cmat,linkage='complete')
where Cmat is a connectivity matrix.
however I keep getting the error message UserWarning: the number of connected components of the connectivity matrix is 131>1. Completing it to avoid stopping the tree early.

I thought th

[2015-09-29 16:33] GaelVaroquaux commented on #5309
Closing as fixed by #5317

[2015-09-29 16:33] #5309 closed

[2015-09-29 19:55] beepee14 commented on #5315
I have opened a PR #5328 which resolves this.

@GaelVaroquaux

[2015-09-29 21:22] AmazaspShumik commented on #1513
I implemented slow version of RVM which can use either EM or fixed-point algorithm to fit model (mainly for learning / academic purpose) and major difference between RVM and SVR that I noted from couple of examples is sparsity  i.e. number of 'support' vectors used in prediction . In many cases RVM produces results comparable with SVR with number of support vectors being only a fraction of what SV

[2015-09-29 21:27] AmazaspShumik commented on #1513
(Adding to previous comment) And obviously small number of support vectors will imply very fast prediction.
Another advantage of RVM is probabilistic treatmen. With RVM for every data point in test set you find not only point estimate but also predictive distribution

[2015-09-30 01:31] afshinrahimi opened #5329 "Division by zero using SGDClassifier with alpha=0"
When using SGDClassifier, setting alpha=0 throws division by zero warnings and underflow/overflow exceptions. This happens ignoring what the penalty term is set to.

If penalty is 'none', I think SGDClassifier should accept alpha=0.

The problem is that, when I set the penalty to 'none' and set different numbers for alpha, I get different results (shuffle is False) which I don't expect because I d

[2015-09-30 05:30] agramfort commented on #5329
+1 for either raising an error if alpha=0 or default to none automatically.
I guess the later option can make grid search param grid easier to handle...

[2015-09-30 05:44] afshinrahimi commented on #5329
@agramfort even when penalty='none' if alpha=0 the exception is thrown. So I think alpha is being used somewhere other than the regularisation term.

[2015-09-30 07:56] giorgiop commented on #3930
I should have fixed this in #5299. Could anyone confirm this is all right now?

[2015-09-30 08:56] TomDLT commented on #5329
`alpha` is currently used for computing `eta0` if `learning_rate="optimal"`.

[2015-09-30 09:25] giorgiop commented on #4475
Same as above, with cosine

[code]

[2015-09-30 11:48] arogozhnikov opened #5330 "When output of ROC-curve is longer then input?"
Hi, while testing ROC-curve I noticed that in some situations output of `roc_curve` is longer than input (exactly +1 element).
Why/when this is needed?

BTW. I found this while testing pure `numpy` implementation of ROC curve (if set `size=10`, test will fail due to this moment in implementation) https://arogozhnikov.github.io/2015/09/29/NumpyTipsAndTricks1.html#Computing-ROC-curve

[2015-09-30 12:41] myflyinggip commented on #5267
@jmschrei `X_train = X_train.astype(np.float64)` does work but it's somewhat equivalent as what I did in the 'safe' option in my original code: copying the data to a completely different piece of memory. The question here is whether such a copy should be necessary.

Also for me, `data = data.astype(np.float64)` (similar to what I did in Dodgy 2) has no effect at all. This is different from `X_trai

[2015-09-30 14:27] ogrisel commented on #4475
For the cosine metric it should be fixed a posteriori by changings negative numbers with small absolute value (e.g. smaller than `10 * np.finfo(X.dtype).eps`) to be set to zero.

For the correlation distance, it's looks like a problem in scipy's `pdist`.

[2015-09-30 16:22] agramfort commented on #5329
so we throw an error ?

[2015-09-30 17:52] williamkrivan commented on #5314
Can one of the authors please comment on this issue?

[2015-09-30 19:21] TomDLT commented on #5267
Couldn't reproduce the error on Windows 7 64 bit sklearn 0.17.dev

[2015-09-30 21:54] mhamilton723 opened #5331 "Cloning Function cannot handle dictionaries"
Hey,

I am trying to create a MetaEstimator class with parameters 'algorithm' which is a type of estimator and 'parameters' which is a dictionary of parameters for the 'algorithm' estimator. However I come across this error when I try to use this class in conjunction with bagging. Does anyone have any suggested workarounds, fixes, or ways to redesign the class?

In file sklearn/base.py line 33 it

[2015-09-30 22:29] rrohan commented on #4648
@amueller I was looking for an easy enhancement to start contributing to scikit-learn. Is this something I can pick up ?

[2015-09-30 22:46] rrohan commented on #5329
@agramfort  @TomDLT I was looking for an easy enhancement to start contributing to scikit-learn. Is this something I can pick up ?

[2015-09-30 23:18] mhamilton723 commented on #5331
This was not where the bug was

[2015-09-30 23:18] #5331 closed

[2015-10-01 01:17] JohnBoersma commented on #4803
I'd like to take care of this one if no one else is. Two questions:

1. The current order of documentation is:
Lasso
ElasticNet
Multi-Task Lasso

So, to keep the pattern going, Multi-Task ElasticNet would follow these three. Or should we group by method like this:
Lasso
Multi-Task Lasso
ElasticNet
Multi-Task ElasticNet

2. Is there a reason no separate RidgeRegression Multi-Task is in the library?

[2015-10-01 07:13] giorgiop commented on #4475
Returning `Nan` seems a chosen behaviour in Scipy and not a bug. See for example [scipy/#3728](https://github.com/scipy/scipy/issues/3728). I think we should handle those on our side.

[scipy/#3728](https://github.com/scipy/scipy/issues/3728) also discusses the problem of negative values due to finite arithmetic calculation issues. I will do some experiments.

By the way, we would get a similar is

[2015-10-01 07:17] agramfort commented on #4803
go for it !

[2015-10-01 07:34] TomDLT commented on #5329
@rrohan Excelent, go ahead !

[2015-10-01 08:40] jmetzen commented on #5314
I am not the original author but I believe that a small epsilon is added to sigma in order to avoid that sigma becomes effectively zero which would cause problems in computing the joint-log-likelihood of new data in predict (there is division by sigma). The line where epsilon is subtracted from sigma is called when partial fit is called more than once (and ensures that, in total, epsilon is only a

[2015-10-01 08:48] giorgiop commented on #4475
I have tried all the `sklearn.metric.pairwise._VALID_METRICS`, but `wminkowski` which is not compatible with t-sne. They include also scipy's ones. The only issues are with `correlation` and `yule` with `Nan` and `cosine` with negative values. The latter is the only one built in sklearn.

Regarding the negative values, we can follow what suggested by @ogrisel and it works fine. Or we could `np.ptp

[2015-10-01 12:38] Tutufa commented on #5090
this features is very much needed for generating new features in kaggle competitions!

[2015-10-01 12:45] trianta2 commented on #5090
I've actually gone ahead and implemented the change with accompanying unit tests for a project of mine. It seems to work well. I just need to get around to making the pull request.

[2015-10-01 13:21] williamkrivan commented on #5314
Thanks. Maybe it would be a good idea to multiply epsilon with some measure of the overall magnitude of the features used for training?

[2015-10-01 19:20] rrohan commented on #5329
@TomDLT Thank you. I have submitted a PR #5335 which fixes this.

[2015-10-01 20:48] #5105 closed

[2015-10-01 22:06] Fenugreek commented on #2821
OK, I took a look, since I've been working with this code recently (see PR #4974 ). This behavior comes from the initialization of the y_score before the first iteration in the NIPALS algorithm to be the first column of Y:

    y_score = Y[:, [0]]

This causes instability in the case of Y with few rows, and may not be a good choice even if there are more rows. Perhaps initial y_score should be ran

[2015-10-01 23:15] Fenugreek commented on #2821
Here is my change implementing randomized initial y_score, if people want to try it out.
https://github.com/Fenugreek/scikit-learn/tree/PLS-fit-transform
Not tested extensively, but fixes twiecki's problem above. I reproduce the new output below. In the code, I reset the random number generator seed so results are repeatable. I also fixed a couple of simple new fit_transform() bugs.

[code]

[2015-10-02 02:46] twiecki commented on #2821
@Fenugreek Ha -- serendipitous indeed! Was great to meet you!

[2015-10-02 11:32] giorgiop commented on #5235
Problematic test is [this](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/tests/test_ridge.py#L518). I am not able to make it breaking myself, but could this [line](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/ridge.py#L844) be the incriminated one? That's the only place in the file where `np.float` is used loosely.

[2015-10-02 12:29] giorgiop commented on #5150
(or you could just loop over all_estimators()).

Here a script:
[code]

Output
[code]

[2015-10-02 17:29] jakevdp opened #5338 "Bump Travis to Python 3.5?"
Currently our TravisCI build uses Python 3.4. Should we bump this to 3.5?

Also, we might want to upgrade our miniconda url to one that always points to the latest: https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh

If this sounds OK, I can put together the PR quickly.

[2015-10-02 21:13] ogrisel commented on #5013
This should be fixed by PR #5337.

[2015-10-03 01:43] pieteradejong commented on #4639
currently proceeding by looking at this file:
https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/multiclass.rst

@amueller is this the right place to look?

[2015-10-03 02:06] pieteradejong commented on #4639
@amueller there is a broken image in the URL mentioned in my previous comment;
https://github.com/scikit-learn/scikit-learn/blob/master/doc/auto_examples/plot_multilabel.html

I'd be happy to reproduce it and add it back in via PR; could you provide any instructions as to how that image was produced?

[2015-10-03 07:00] dpritsos opened #5339 "Semi-supervised HMRF Kmeans"
Hello all!

I have implemented the Semi-Supervised HMRK Kmeans from theory to python code. (The experience was great).

I have it in my GitHub Repo git@github.com:dpritsos/Djumble.git.

I would really appreciate any feedback from you, the Sklearn contributors, the ML experts. Additionally in case you think that it would be useful for the Sklearn lib please give me some guide lines in order to appe

[2015-10-03 15:24] JohnBoersma commented on #4803
Clarification question on the latex math notation:

What is the meaning of the subscript and superscript "fro", as in:

(1 / (2 * n_samples)) * ||Y - XW||^Fro_2
+ alpha * l1_ratio * ||W||_21
+ 0.5 * alpha * (1 - l1_ratio) * ||W||_Fro^2

on the API page for MultiTaskElasticNet?

Not able to locate this in any reference.

Thanks!

[2015-10-03 17:04] amueller commented on #5004
skll could also be a good resource: https://github.com/EducationalTestingService/skll

[2015-10-04 04:07] DmitriR opened #5340 "AffinityPropagation bug? RuntimeWarning: Mean of empty slice"
Slight modification of the parameters (cluster_std=0.7) in the demo code: http://scikit-learn.org/stable/auto_examples/cluster/plot_affinity_propagation.html

    X, labels_true = make_blobs(n_samples=300, centers=centers, cluster_std=0.7, random_state=0)

produces a blown-up result (fig below) and a warning:

`/anaconda/anaconda3/anaconda/lib/python3.4/site-packages/numpy/core/_methods.py:59: Run

[2015-10-04 14:24] #5329 closed

[2015-10-04 14:33] agramfort commented on #4803
fro == Frobenius

http://mathworld.wolfram.com/FrobeniusNorm.html

[2015-10-05 00:09] rrohan commented on #4883
@amueller @jnothman @ryadzenine
Is this still an open issue ? Can I take a stab at it ?

[2015-10-05 08:50] #5013 closed

[2015-10-05 14:02] terrytangyuan opened #5341 "Travis CI python-sklearn Not Available/Disallowed"
It would be awesome if you guys can submit scikit-learn to Travis CI packages for approval so that people can use scikit-learn to test in Travis CI.

[code]

[2015-10-05 14:06] terrytangyuan commented on #5341
https://github.com/travis-ci/apt-package-whitelist/issues/1350

[2015-10-05 14:35] olologin opened #5342 "Idempotency of fit and fit_transform"
Folks, i often see such questions on SO:
https://stackoverflow.com/questions/32945365/tfidf-matrix-returns-wrong-number-of-features-for-bernoullinb/32946634#32946634
https://stackoverflow.com/questions/31971761/does-sci-kit-learns-fitx-y-method-work-sequentially-if-not-how-does-it-work/31972193#31972193

And seems that everyone who uses scikit-learn first time don't know answer for such questions,

[2015-10-05 15:18] MechCoder opened #5343 "Custom warnings filter for deprecations"
It would be good to have a custom `@ignore_deprecation_warnings()` that would accept a tag parameter and would ignore the warnings only of a certain release. This will enable us to quickly filter and modify tests after the release (while making sure other warnings are not ignored).

[2015-10-06 13:43] mblondel commented on #5339
I had a quick look at the source code. You need to make a few modifications to follow the same conventions as scikit-learn. Then you can add your project to https://github.com/scikit-learn/scikit-learn/wiki/Third-party-projects-and-code-snippets. It is probably too specific for inclusion in scikit-learn.

[2015-10-06 13:43] #5339 closed

[2015-10-06 16:48] geraldstanje commented on #3516
oh that is some time ago :) i will try to test it with the newest version of osx...

[2015-10-06 17:29] cstich commented on #5275
I finally managed to get around to work on synthetic data, but I have been unable to reproduce the bug with synthetic data so far. What I have are GPS traces of people and to anonymize the traces I tried to create a random sample of all the traces of all the people. Has anyone other ideas of how to anonymize the data?

[2015-10-06 17:34] cstich commented on #5275
I also just tried to use only one GPS trace of a person and to add noise, but as soon as I add noise I can't reproduce it anymore. Any idea?

[2015-10-06 18:30] amueller commented on #4473
this looks like a great skeleton.

[2015-10-06 21:16] jnothman commented on #5275
If adding noise affects it, maybe there are issues with some boundary case (i.e. due to duplicate points)???

[2015-10-06 21:17] jnothman commented on #4473
A template for our template?

[2015-10-07 00:29] jakevdp commented on #5314
Yes, I think that scaling epsilon according to the data is probably the right thing to do here. Probably the range of the data within each axis is more pertinent; that is, we could set
[code]
I'm going to give this a try.

[2015-10-07 00:54] jakevdp commented on #5314
I pushed a fix here: https://github.com/scikit-learn/scikit-learn/pull/5349

Can you confirm that it addresses your problem?

[2015-10-07 01:01] cstich commented on #5275
That makes sense. I will try to recreate a synthetic trace with a "home" and a "work" location.

[2015-10-07 01:10] nmayorov opened #5350 "Documentation is not built correctly"
When I do `make html` I get tons of warning like:

[code]

As the result most of API sections are empty, i. e. no listed classes or functions. Few of the sections are built correctly.

I suspect it might have something to do with update to OS X El Capitan.

Can you suggest something to fix it?

[2015-10-07 01:20] jnothman commented on #5350
I doubt very much that this is a direct result of the OS X upgrade. If
you're having trouble building the documentation, could I suggest you:

rebuild scikit-learn: go back to the root directory of the repo and run
`make clean in`.

rebuild documentation: `cd doc && make clean && make html` (or
`html-noplot` for expediency)

On 7 October 2015 at 12:10, Nikolay Mayorov <notifications@github.com>
wr

[2015-10-07 01:39] nmayorov commented on #5350
@jnothman thank you for the feedback.

Turned out that I used some "particularly bad version of Sphinx", which unfortunately is the current version in anaconda. So I solved it by installing the development version.

[2015-10-07 01:39] #5350 closed

[2015-10-07 01:53] jnothman commented on #5350
Yes, that too ;)

On 7 October 2015 at 12:39, Nikolay Mayorov <notifications@github.com>
wrote:

[2015-10-07 05:00] cel4 opened #5351 "LASSO: fit_intercept - conversion logic missing?"
[code]

[code]

[2015-10-07 06:34] williamkrivan commented on #5314
Thanks much - I believe it doesn't quite fix the problem, but it will do so with a slight modification. Please see my comment in <a  href="https://github.com/scikit-learn/scikit-learn/pull/5349">#5349</a>

Please let me know about the items 1. and 2. there. Thanks!

[2015-10-07 06:36] Sarwat-Fatima opened #5352 "ImportError: cannot import name VarianceThreshold"
I am using scikit-learn version 0.16.1, python 2.7.10, and spyder 2.3.6.
As soon as I include this "from sklearn.feature_selection import VarianceThreshold"
I get following import error. .

from sklearn.feature_selection import VarianceThreshold
ImportError: cannot import name VarianceThreshold

This error does not occur if I use any other module from Feature Selection

[2015-10-07 07:29] jnothman opened #5353 "RFE/RFECV docstring should say estimator can supply feature_importances_ not just coef_"

[2015-10-07 08:22] ogrisel commented on #5235
Indeed that might be the reason. This could be confirmed by trying to launch the tests many times with `np.float32` and see if we can reproduce the failure and then switch to `np.float64` and check that the failure disappears.

[2015-10-07 08:22] ogrisel commented on #5235
I would also be interesting to understand better when the data used in that test can cause the numerical stability issue.

[2015-10-07 08:25] ogrisel commented on #3596
Reopening this issue as apparently there is no easy way to fix it at the joblib level without introducing hacks that would render joblib maintenance problematic.

Instead I am working on a PR to use different filenames for datasets in scikit-learn depending on the Python version.

[2015-10-07 08:26] rvraghav93 commented on #5235
Same as #4914. Can we close this and continue the discussions there?

[2015-10-07 08:29] rvraghav93 commented on #4914
From #5235 -

[2015-10-07 08:48] viktor61 opened #5354 "Error LDA shrinkage"
There seems to be a problem with LDA when ones wants to use shrinkage='auto'. This was not happening a few months ago. The following error is returned, and the timing seems to match the modifications performed in commit a8970fc and/or 1d98ca3 in #5092:

---------------------------------------------------------------------------
NotImplementedError                       Traceback (most recent call

[2015-10-07 09:26] ogrisel commented on #5235
closing as duplicate of #4914.

[2015-10-07 09:26] #5235 closed

[2015-10-07 09:30] arthurmensch commented on #2821
This looks sorted by PR #4893.  @Fenugreek can you check stability.

However, in current master, CCA.fit_transform does not work (easy bug). PR to come with fix + estimator_checks.py update (fit_transform was not tested correctly on Transformers) that make common_test fail on master.

I will also write a non regression test for `scale=True`.

[2015-10-07 09:43] #5246 closed

[2015-10-07 09:58] TomDLT commented on #4914
Could not reproduce it with following environment:

Windows 7 (64 bit)
Python 2.7.10 (32 bit)
Numpy 1.9.2 and Scipy 0.15.1 (from Christoph Gohlke)

[2015-10-07 10:12] giorgiop commented on #2601
Chatting with @agramfort, a strategy here could be deprecation of `normalize` to introduce a `standardize` option.

[2015-10-07 12:10] GaelVaroquaux commented on #2601
That's really a great suggestion. I am +1

[2015-10-07 13:01] rvraghav93 commented on #4914
Same here

Win 8 (64)
Py 2.7.8 (32)
Numpy 1.9.2rc1 Scipy 0.16.0 (From our rackspace wheels)

Ran about 1000+ times

[2015-10-07 13:06] giorgiop commented on #2601
There are several classes that use `center_data` internally and expose a `normalize` parameter of `fit` though. I guess we are going to deprecate those as well. They are:
- `BayesianRidge`
- `ARDRegression`
- `MultiTaskElasticNet`
- `Lars`
- `LassoLarsIC`
- `_RidgeGCV`
- `_BaseRidge`
- `BaseRandomizedLinearModel`,
- `RandomizedLogisticRegression`
- `RandomizedLogisticRegression`

And obviously we

[2015-10-07 13:08] ogrisel commented on #3596
Fixed by #5355.

[2015-10-07 14:14] rvraghav93 commented on #4914
Fix at #5356 is an attempt to resolve this. But since this failure is non-deterministic, we can close this after an year if it doesn't occur again!

[2015-10-07 14:24] cstich commented on #5275
I managed to come up with a short python script that reproduces the bug for me. I tested it on two different machines and it doesn't seem to matter whether it is Python 2.7 or 3.4.

     from sklearn.cluster import DBSCAN
     import math
     import numpy as np

     lat = 54.6997189
     lon = 13.5552837
     locationsForDBSCAN = [list(map(math.radians, [lat, lon]))
                        for i

[2015-10-07 14:36] rvraghav93 commented on #3123
@ogrisel This has been fixed by Joel's #4287

[code]

[2015-10-07 14:41] ogrisel commented on #3123
Indeed, thanks for the heads up @rvraghav93, closing.

[2015-10-07 14:41] #3123 closed

[2015-10-07 15:54] arthurmensch commented on #5136
Can you reproduce this bug with a minimal working example ?

[2015-10-07 16:36] arthurmensch commented on #2821
Should be fixed now

[2015-10-07 16:58] lesteve commented on #5136
FWIW I was able to reproduce the output from the notebook. I needed the script a little bit because the variable HVB is not defined (for no particularly good reason I decided to make it work on python 3).

The script I got is there: https://gist.github.com/lesteve/66cb8ed3b9cb4cfb40db. I didn't go further than this.

[2015-10-07 17:00] lesteve commented on #5136
Also you'll still need to download the data from the repo: https://github.com/sebconort/BUG-SKLEARN-MNB/raw/master/training_norm_light_th100_2.csv.zip.

[2015-10-07 17:00] lesteve commented on #5136
And this one too: https://github.com/sebconort/BUG-SKLEARN-MNB/raw/master/test.csv.

[2015-10-07 20:07] fraka6 opened #5361 "tsne has no transform function"
Hi guys,

I have noticed that TSNE has no transform function, only a fit_transform. Any reason why its not like any other manifold class?

Thanks,
Francis

[2015-10-07 20:32] MechCoder commented on #5351
Working on this right now.

[2015-10-07 21:04] jnothman commented on #5275
Ping @larsmans

On 8 October 2015 at 01:24, cstich <notifications@github.com> wrote:

[2015-10-07 21:34] jnothman commented on #5361
It is a transductive learner, like many clustering algorithms: the model is not really applicable beyond the data points it is fed as training.

[2015-10-07 21:34] #5361 closed

[2015-10-07 22:09] mtrbean opened #5364 "RidgeCV and Ridge produce different results when fitted with sample_weight"
[code]

gives:

[code]

If `sample_weight` is `None`, all three models give the same coefficients.

[2015-10-07 22:09] Fenugreek commented on #2821
OK, the stability issue is gone after fix in #5358. I still think, at least in cases with few datapoints, it is better to randomize initial y_score instead of setting to first column of Y. Because y_weights (in twiecki's example) now looks like this:
[code]
i.e. First column of Y gets all the weight when the first component is computed. I don't know if the R implementation has the same issue. I'll

[2015-10-08 08:17] ogrisel commented on #4914
Reopening as the issue is not fixed but could still not be reproduced outside of appveyor...

[2015-10-08 08:24] Sarwat-Fatima commented on #5352
I have tried almost everything I found on Stackoverflow. Like updating pip and spyder, changing paths and even looking into requests part of Python but still no effect. Can someone tell me what might be the problem?

[2015-10-08 10:35] jnothman commented on #5352
It's hard to say. Have you checked that the import path of Python is what you expect? Try `python -c 'import sklearn; print(sklearn.__file__)'`

[2015-10-08 11:04] #4935 closed

[2015-10-08 11:12] arjoly commented on #2752
They are now tested. Closing and opening a new issue for common tests.

[2015-10-08 11:12] #2752 closed

[2015-10-08 11:13] arjoly opened #5367 "Test sample_weight in common tests"
As discuss in https://github.com/scikit-learn/scikit-learn/issues/2752, it would be nice to test sample weight in common tests.

[2015-10-08 13:54] williamkrivan commented on #5314
Thanks everyone for getting this taken care of.

[2015-10-08 13:54] #5314 closed

[2015-10-08 15:23] boscotsang opened #5368 "Request more criterion for random forest regression"
Current random forest regressor only support for 'mse'. Can more criterions such as mean square of percentage error can be support by scikit-learn?

[2015-10-08 17:45] MechCoder commented on #5367
Wasn't there an issue for this to refactor common tests? I remember someone proposing to refactor `warm_start` etc under common tests.

[2015-10-08 18:25] rasbt commented on #5168
I was just talking about this with @rhiever and he was wondering where to find it in scikit-learn ;) So if there is more general interest, I could prepare a pull request for this (okay, I should takle #5070 first this/next weekend though). The code is actually pretty lean so far (https://github.com/rasbt/mlxtend/blob/master/mlxtend/feature_selection/sequential_backward_select.py), maybe adding an

[2015-10-08 18:57] arjoly commented on #5367
If it's already somewhere, please close this issue.

[2015-10-08 19:02] jmwoloso commented on #5168
I believe it would be a very useful addition! Though I can't speak for others :) @rasbt @amueller

[2015-10-08 19:13] rasbt commented on #5168
The concept is actually pretty simple and a lot of people may do something similar already (without necessarily calling it Sequential Backward/Forward Selection). Even so, this may be a convenient wrapper (incl. CV and GridSearch), plus it would be a different "application" than RFE (not talking about better or worse here). Whereas the RFE selects based on weights of linear models you'd select by

[2015-10-09 06:24] mblondel opened #5373 "Kernel K-means"
Several people including @NelleV  seem to be interested in merging my kernel K-means code in scikit-learn:
https://gist.github.com/mblondel/6230787

I am open to it if someone wants to work on it. This will of course need docs, tests and examples.

Note that this implementations requires the kernel matrix to fit in memory but this also the case of Kernel PCA and Kernel Ridge in scikit-learn.

[2015-10-09 07:05] ishank08 commented on #5373
I would like to work on it.

[2015-10-09 07:25] giorgiop opened #5374 "EHN: extend datasets support"
From [#5141/comment](5141#discussion_r41501988) @ogrisel:

Some well-known medium-size datasets not available in sklearn at the moment:
CIFAR 10/100: http://www.cs.toronto.edu/~kriz/cifar.html
SVHN: http://ufldl.stanford.edu/housenumbers/
STL-10: http://cs.stanford.edu/~acoates/stl10/

A list for inspiration: http://deeplearning.net/datasets/

[2015-10-09 08:18] jmwoloso commented on #5353
I've never contributed (to any project) but would love to help. I'll take this one if that's alright?

[2015-10-09 12:00] jmmcd opened #5376 "GridSearchCV documentation confusing for unsupervised methods"
There is a very nice example of using `GridSearchCV` with an unsupervised method, `KernelDensity`,  [here](http://scikit-learn.org/stable/auto_examples/neighbors/plot_digits_kde_sampling.html). It has this code:

[code]

However, the documentation for `GridSearchCV` [here](http://scikit-learn.org/stable/modules/generated/sklearn.grid_search.GridSearchCV.html#sklearn.grid_search.GridSearchCV) sugge

[2015-10-09 12:53] giorgiop commented on #2601
This is going to touch many classes. I just want to be sure that is what we want before starting a long list of deprecations and change of method's signatures.
@agramfort @ogrisel

[2015-10-09 13:50] datnamer opened #5377 "Targeted Maximum Likelihood Estimation for Generic Causal Inference from Sklearn models"
Hello,

I realize scikitlearn is focused on machine learning/prediction and not inference, but has there been thought of providing some facilities for the latter?

 For example, the inclusion of a generic TMLE module can provide statistical paremeters/ causal inference for scikitlearn models hopefully without too much extra machinery.

MIT licensed code here: https://lendle.github.io/TargetedLearn

[2015-10-09 16:52] #5377 closed

[2015-10-09 16:52] datnamer commented on #5377
Thinking over this again, it is probably out of scope.

[2015-10-09 17:03] amueller commented on #5377
I agree ;) Ideas are always welcome though.

[2015-10-09 17:08] amueller commented on #2601
I think this is what we want. Can you please also check what if the defaults are all consistent?
In which cases does the default behavior give a deprecation warning? We are not changing the default behavior, right? Only from ``normalize=False`` to ``standardize=False``, so there shouldn't be deprecations warnings with default behavior if I read it correctly.

And we want to fix "change center_data

[2015-10-09 17:10] TomDLT commented on #5373
Great @ishank08 go ahead !

[2015-10-09 17:19] amueller commented on #5376
I agree. @jakevdp had found another confusing place. Where was that? Maybe in the narrative?

[2015-10-09 17:20] amueller commented on #5376
The callable object does need that signature, though y can be ``None``, it will always be passed. The documentation for scoring should say what happens ins the ``None`` case

[2015-10-09 17:30] amueller commented on #5376
see #5378

[2015-10-09 17:46] tomsvds opened #5379 "error in average_precision_score"
I believe there is an error in sklearn.metrics.average_precision_score.  Here is a script to show the result:

[code]

What we have are essentially ten documents, nine of which are Positive.  The
example at position eight is negative.  According to my understanding (and
Wikipedia, see https://en.wikipedia.org/wiki/Information_retrieval#Average_precision
third equation for AveP down the screen), th

[2015-10-09 17:48] amueller commented on #5379
ping @arjoly @jnothman

[2015-10-09 18:30] jmschrei commented on #5212
Apologies for disappearing temporarily. I should have more time for this now.

[2015-10-09 19:08] absolutelyNoWarranty commented on #5124
http://stackoverflow.com/questions/31981453/why-estimator-weight-in-samme-r-adaboost-algoritm-is-set-to-1

[2015-10-09 19:14] amueller commented on #5353
Yes @jmwoloso, please go ahead!

[2015-10-09 19:15] amueller commented on #5374
Hm... that seems a bit redundant with https://github.com/jaberg/skdata

[2015-10-09 19:16] amueller commented on #5374
Also, having a better repository and having a single fetcher from there would be much better imho, as it would solve the problem for all languages. MLData seemed a bit complicated, but might still be worth a shot. Now there is also http://www.openml.org/. Why not upload all data there and provide a ``fetch_openml``?

[2015-10-09 19:26] absolutelyNoWarranty commented on #5354
Looking at the source you have it backwards; the problem was *fixed*. The documentation explicitly says that the default solver, 'svd', is not compatible with shrinkage, and the NotImplemented is there to reflect that. The reason it didn't "break" earlier is because the LDA would just ignore the shrinkage parameter would set with shrinkage='auto'.

[2015-10-09 19:38] absolutelyNoWarranty commented on #5379
Your script works fine if you reverse 'y_score'.
'y_score', the greater the score the **higher** the position.

[2015-10-09 20:04] #5124 closed

[2015-10-09 20:04] amueller commented on #5124
thanks @absolutelyNoWarranty

[2015-10-09 20:22] tomsvds commented on #5379
Ah, OK, that's most of the problem.  Thanks!  My bad.

But it exposes another thing that still looks wrong.  Try this even simpler example:
[code]
Average precision should be (1/1 + 2/3) / 2 = 5/6 = 0.83
a_p_s produces 0.79

Regards,
-Tom

[2015-10-09 20:58] amueller commented on #2821
@arthurmensch is there an issue for the remaining issues you mentioned?

[2015-10-09 20:59] amueller commented on #5168
@rasbt I think it would be a nice addition if you want to move it from mlxtend to sklearn :)

[2015-10-09 21:01] amueller commented on #4990
no elasticnet? ;)

[2015-10-09 21:30] jmwoloso commented on #5353
Awesome! I'll work on that tonight. Thanks Andy!

[2015-10-09 21:32] jmwoloso commented on #5168
@rasbt @amueller  Agreed!

[2015-10-09 22:24] amueller commented on #5354
Indeed. #5092 is unrelated. Shrinkage was added in #3523 and not supported using svd: https://github.com/scikit-learn/scikit-learn/pull/3523/files#diff-f093bf0acbd4866b0b558bbbb3227de2R415

If you think it is otherwise, please provide the version in which it was working.

[2015-10-09 22:24] #5354 closed

[2015-10-09 22:28] amueller commented on #5367
Not that I remember.

[2015-10-09 22:37] amueller opened #5380 "Add common tests for 1 sample and 1 feature"
Estimators should either set `min_samples` and `min_features` or work. Testing in `check_fit2d_1feature` and `check_fit2d_1sample` for a good error message is probably the way to go.

[2015-10-09 22:43] amueller commented on #5368
Is that the same as mean squared relative error? Do you have a reference?

[2015-10-09 22:53] amueller commented on #5352
how did you determine your scikit-learn version?
You can also try in spyder ``import sklearn; print(sklearn.__version__)``. I assume spyder might use a different python than the one for which you upgraded scikit-learn.

[2015-10-10 00:12] rasbt commented on #5168
Nice, I'd be definitely up to it.

mlxtend is actually just more of a "playground" for me. The stuff there should all work fine, but it is not the nicest, most efficient code; more like a "born out of need" kind of thing ;). I purposely avoid too much refactoring and spread the code over different classes since this is more for readability, and people can just copy & paste a certain function as ne

[2015-10-10 02:36] jmwoloso commented on #5353
@amueller @jnothman

So we're looking for something like this in the doc-strings for both the RFE and RFECV classes within feature_selection.rfe.py, correct?:

*Parameters*
*----------------*
*estimator : object
       A supervised learning estimator with a `fit` method that updates
      `coef_` and `feature_importances_` attributes that hold the fitted parameters. Important features
       must

[2015-10-10 02:45] jmwoloso commented on #5168
@rasbt Sounds like a busy weekend :D

[2015-10-10 02:58] jakevdp commented on #5376
I opened #5348 a few days ago addressing this issue. It seems to have flown under the radar :smile:

[2015-10-10 08:52] agramfort commented on #2601
ok for me

[2015-10-10 09:49] absolutelyNoWarranty commented on #5379
The wikipedia page says:

That formula is more of an approximation than what sklearn is doing. In your example, the precision-recall graph has points (1,1), (1, 0.5), (0.5, 0.5) and (2/3, 1) and sklearn calculates the area under the curve formed by connected those points with straight lines. Notice the upward slope in going from (0.5, 0.5) to (2/3, 1), similar to what we see here: http://scikit-le

[2015-10-10 09:51] jnothman commented on #5376
Perhaps we should make clear that the CV utils are only naturally applicable to inductive estimators, i.e. one that can score over held-out data. For instance, although one could contrive to use the same class for clustering stability selection of parameters, this is a bit awkward: it would involve defining `cv` such that test===train` for each subsample (at least if the objective metric is superv

[2015-10-10 10:09] jnothman commented on #5353
The point of this issue is that coef_ and feature_importances_ are
different ways in which a model reports the importance of different
features. Find models with each to understand their purpose and their
difference, then alter the comment.

On 10 October 2015 at 13:36, Jason Wolosonovich <notifications@github.com>
wrote:

[2015-10-10 10:10] absolutelyNoWarranty commented on #5330
It's the (0,0) point. It happens if your highest scoring instance is labelled 0.

The ROC curve starts from (0,0) but adding a (0,0) point is redundant (doesn't affect the area-under-curve) if your highest scoring instance is labelled 1. (You would have a (0,0) point and a (0, x) point.)
However if the highest-scoring is labelled 0 then the curve needs to include that (0,0) point to be complete.

[2015-10-10 10:51] arogozhnikov commented on #5330
Yes, that's what I found in source. And I also noted that is doesn't affect ROC AUC.

That was the question. It is very strange to have (0, 0) if highest-scoring is 0 and not to have otherwise.

Not having in both cases is fine. Having in both cases this point is fine too. Current behavior is strange for me, since it's simply asymmetrical.

[2015-10-10 13:01] jakevdp commented on #5376
Sure – I just think the important things are:

- no longer incorrectly saying that wrapped estimators need a ``predict`` method.
- noting that simple duck-typed estimators won't work: the grid search uses aspects of ``BaseEstiamator`` to clone the wrapped estimator within the search.

[2015-10-10 13:11] absolutelyNoWarranty commented on #5330
I think of it this way: it's a curve so there must be some y defined for all x in the range [0,1]. If the highest-scoring is 0 then the next point will be (0, x'). Leaving out the (0,0) would be leaving the y values for x in the range [0, x') undefined. So not having in both cases wouldn't be fine.
If the highest scoring is 1 then it's not a problem since the curve will start from somewhere along

[2015-10-11 03:29] #2160 closed

[2015-10-11 10:59] jmwoloso commented on #5353
Ok, let me summarize what (I think) I know thus far:

In the case of a classifier like LogisticRegression, it has the coef_ attribute which contains a weight vector for each class and each weight in the vector corresponds to a specific feature in the dataset; you can have negative values in coef_.

In the case of a classifier like RandomForestClassifier, the feature_importances_ attribute gives yo

[2015-10-11 11:13] Aaroncisa opened #5383 "failure:import sklearn"
numpy 1.10.0,scipy 0.16.0,scikit-learn 0.16.1 with python2.7 were installed,but when i tried to run the code,it always said "cannot import name __check_build".It's true that i dont have this file,but how can i get it or is there any problem in my installation?

[2015-10-11 11:39] jnothman commented on #5353
Basically that's right. coef_ tends to *be* the model, while
feature_importances_ derives from the model. RFE can now use a model that
produces either.

On 11 October 2015 at 21:59, Jason Wolosonovich <notifications@github.com>
wrote:

[2015-10-11 20:46] jakevdp commented on #5383
Can you copy and paste the full traceback?

[2015-10-11 20:51] jakevdp commented on #5383
Also, it seems this error often comes up if scipy is installed incorrectly; see #1337. What happens if you try to import scipy?

I'd suggest using Anaconda or miniconda to install the scientific stack – it makes these things much more painless.

[2015-10-11 21:41] jmschrei commented on #5368
New criteria can be supported fairly easily. They need to be added to `sklearn/tree/_crtierion.pyx`, and then have the appropriate dictionaries updated.

[2015-10-12 02:26] peterrickwood opened #5385 "Memory leak in GBM implementation when warm start is set"
I think there is a memory leak or other unnecessary data copying going on when warm_start is used for GBM's. Here is a minimal program which reproduces the issue:

[code]

[2015-10-12 02:41] boscotsang commented on #5368
@amueller https://www.kaggle.com/c/rossmann-store-sales/details/evaluation defined the RMSPE criterion.

[2015-10-12 07:05] jmwoloso commented on #5353
How about something like this (I included the original portion for completeness):

Parameters:
estimator : object

A supervised learning estimator with a fit method that updates a coef_ attribute that holds the fitted parameters. Important features must correspond to high absolute values in the coef_ array.

For instance, this is the case for most supervised learning algorithms such as Support Vec

[2015-10-12 08:05] jnothman commented on #5353
No. We can't always add NEW or things quickly stop being new. We need a
description that encompasses current behaviour.

On 12 October 2015 at 18:05, Jason Wolosonovich <notifications@github.com>
wrote:

[2015-10-12 08:23] jmwoloso commented on #5353
Ok, no problem. I'll drop the 'NEW' header. Aside from that though, I'm guessing you would like me to go further with the explanation than I have so far?

[2015-10-12 08:43] ogrisel commented on #2821
@Fenugreek would be great to open a new issue to discuss specifically whether we want to randomize `y_score` or not (assuming that the stability issues are fixed in #5358).

I have no experience with CCA / PLS and I have no intuition on the consequences of the weights concentration for practical usage of CCA. It would be great to include the results of the implementation in R for comparison too.

[2015-10-12 09:35] jnothman commented on #5353
try to simplify it, please!

On 12 October 2015 at 19:23, Jason Wolosonovich <notifications@github.com>
wrote:

[2015-10-12 11:32] #5351 closed

[2015-10-12 11:34] ogrisel commented on #4512
Fixed by @vighneshbirodkar in #5234.

[2015-10-12 11:34] #4512 closed

[2015-10-12 11:59] cstich commented on #5275
I have done some more digging and I have figured out that the memory leak must occur within the query_radius method of the respective tree. Here is the updated and simplified code:

     from sklearn.neighbors import BallTree, KDTree
     import numpy as np
     import math
     locations = [[lat, lon] for i in range(100000)]
     eps = 1
     X = np.array(locations)

     tree = BallTree(X, leaf_

[2015-10-12 13:42] jnothman commented on #5275
Well, you are effectively requesting that it output a 38GB array... Regardless of whether this is actually a bug, or something we can provide more warning for, there are a couple of mechanisms for dealing with large datasets in DBSCAN:
1. Sample weights: remove duplicates and near-duplicates and choose a representative for them that's weighted according to the population it represents.
2. At maste

[2015-10-12 14:12] cstich commented on #5275
Thanks for the feedback and that makes sense. I am still slightly confused though, I can cluster my points just fine in 0.15 but run out of memory in 0.16

[2015-10-12 14:34] hlin117 commented on #5322
Is @andylamb still working on this PR?

[2015-10-12 15:16] cstich commented on #5275
@jnothman I combed through the pull requests and I think I figured out what is going on after reading this discussion: https://github.com/scikit-learn/scikit-learn/pull/4066

It looks like that GPS data is a  real-world data case where the worst-case memory complexity actually matters.

[2015-10-12 17:35] jmwoloso commented on #5353
Alright, how about this?

Parameters:
estimator : object

A supervised learning estimator with a fit method that updates one of:
    1) coef_ attribute (i.e. weight array containing one weight vector per class) like Support Vector Classifiers and Generalized Linear Models

     2) feature_importances_ attribute (i.e. relative feature rankings where rankings are determined by ratio of  explained va

[2015-10-12 18:49] andylamb commented on #5322
@hlin117, I've been busy lately, but I should have a PR up in the next couple days. If not, I'll let you know.

[2015-10-12 19:26] amueller opened #5387 "Theil-Sen regression example doesn't show Theil-Sen results"
http://scikit-learn.org/dev/auto_examples/linear_model/plot_theilsen.html

There is is no green line in the left-hand plot. Probably because it overlaps with the red line? Maybe it's possible to make it visible or at least explain what is happening.

[2015-10-12 19:33] amueller opened #5388 "remove generated C code from the source repo"
When sticking heads together with some other python folks, @ogrisel and me recently found out that there is easy work-arounds so as to not check in the generated C code.
The idea is that the distributed source package has the generated code, but the repository doesn't.
When a dev wants to build, he needs cython (which I think is reasonable) and it will call cythonize.
when doing ``cdist`` however,

[2015-10-12 19:34] #5388 closed

[2015-10-12 19:35] amueller commented on #5290
Here is an example from @shoyer:
https://github.com/shoyer/cyordereddict/blob/master/setup.py#L44

[2015-10-12 19:35] amueller commented on #5388
Note to self: don't open issues on cold medicine. Duplicate of #5290.

[2015-10-12 19:42] amueller commented on #5353
I think the current docstring is not that great and maybe you shoudn't stick to closely to it.

A supervised learning estimator that provides information about feature importance either via a a ``coef_`` or a ``feature_importance_`` attribute. A ``coef_`` vector is interpreted as high absolute value indicating important features.
``coef_`` attributes are provided by linear models, while ``feature_

[2015-10-12 19:46] sumitbinnani commented on #4911
Just giving it a try:
### sample_weight
Samples with higher ```sample_weight``` are given more weightage while training the classifier. That is the ```recall``` for _similar samples_ will be higher.
e.g. http://scikit-learn.org/stable/auto_examples/svm/plot_weighted_samples.html

###  class_weight
Classes with higher ```class_weight``` are given more weightage while training the classifier. That i

[2015-10-12 20:15] amueller commented on #4911
interesting enough, "weightage" is an indian-english, not an american-english or british-english word, so I wouldn't use it.

The question here is a bit more on where exactly to put this. Maybe add a new section to the user guide and link to it from the quick-start guide.

[2015-10-12 20:48] jnothman commented on #5275
Yes, and maybe we need to consider a way to reduce memory consumption.

On 13 October 2015 at 02:16, cstich <notifications@github.com> wrote:

[2015-10-12 21:10] amueller commented on #2821
should we reuse this issue for tracking that or open a new one?

[2015-10-12 21:12] amueller commented on #5368
Not sure that is the most common name for that (also the formula is not really for percentages).
I think we could add that, it seems interesting. See what @jmschrei said ;)

[2015-10-12 21:23] l3link opened #5389 "Missing Documentation for Pandas DataFrame Integration with sklearn.cross_validation.train_test_split"
The current documentation (0.16.1) does not mention that you can pass in (and will get as output) pandas data frames to the train_test_split method.  This was especially unfortunate given that the change between 0.15* to 0.16 resulted in a different output when a pandas dataframe is used as input (.15 returns numpy arrays, and .16 returns a list of pandas dataframes).

[2015-10-12 21:25] andreasvc opened #5390 "LabelKFold: shuffling and preserving original order"
Currently, LabelKFold sorts samples by weight so as to create balanced folds in terms of size. However, this is at odds with shuffling. Moreover, the regular `KFold` partitions the samples without changing their order, which is useful if the order is meaningful or reflects a stratification.

My suggestion is to make the sorting for balanced fold sizes in `LabelKFold` optional, so that shuffling or

[2015-10-12 21:44] amueller commented on #5330
well why would you add it in? also, it can be smaller than ``n_samples + 1`` anyhow, so you can't really rely on it's size.

[2015-10-12 21:47] amueller commented on #5389
True. Sorry, my fault.
It says ``GridSearchCV and cross_val_score and other meta-estimators don’t convert pandas DataFrames into arrays any more, allowing DataFrame specific operations in custom estimators.`` but misses ``train_test_split``.
We could add it to the whatsnew of 0.16.

We should definitely change the train_test_split docstring. The same is true for lists, which also changed and isn't

[2015-10-12 21:50] amueller commented on #5376
you need to implement ``set_params`` and ``get_params`` as specified in the dev docs (which you can get by inheriting, but arguable don't have to).
I agree with that being the important parts, but pointing out the inductive vs non-inductive would be good at some point, too.

[2015-10-12 21:52] amueller commented on #5379
@tomsvds more questions? Or can we close?

[2015-10-12 21:54] amueller commented on #5168
I am not very familiar with the techniques but I think for sklearn it is better to err on the side of not including all options instead of including too many. (the name for SBFS is Sequential Backward I guess?)

[2015-10-12 21:59] amueller commented on #5364
I get
[code]
on master.
Not sure why it is different. But also not good.

First thought it was related to #4781 but maybe it isn't

[2015-10-12 22:01] amueller commented on #5364
ping @eickenberg?

[2015-10-12 22:01] amueller commented on #4781
should have been @eickenberg I guess ;)

[2015-10-12 22:02] amueller commented on #5361
there was some way to do it in the barnes-hut pr but it was not really adhering to the sklearn semantics. I think it might be possible to fix it, by only optimizing the new points.

[2015-10-12 22:14] eickenberg commented on #4781
thx, i can fix this during the sprint along with the other broken things

On Tuesday, October 13, 2015, Andreas Mueller <notifications@github.com>
wrote:

[2015-10-12 22:18] rasbt commented on #5168
Sure, I agree. I don't want to make it unnecessarily complex. However, I think both the "forward" and "backward" approach have useful applications. Let's say you have 100 features and want to select the "best performing" subset of 10 features.
Here, it is easier/computationally more efficient to start with an empty set and add features until you and up with 10 features. If you don't have the condi

[2015-10-12 22:25] #3596 closed

[2015-10-12 22:29] amueller commented on #5168
I have to check on the Floating versions but I agree that both forward and backward would be helpful.

[2015-10-12 22:30] amueller commented on #5168
do you have a reference for the floating version?

[2015-10-12 22:37] amueller commented on #4473
Not sure what else I would add. apart from maybe sphinx-gallery.

[2015-10-12 22:47] rasbt commented on #5168
Good point, I wanted to look for some empirical studies or maybe try to find the original papers for reference -- I implemented these algos from old notes that I took in a pattern classification class, I think the Prof may have used this paper as "reference":  http://citeseerx.ist.psu.edu/viewdoc/download;jsessionid=02CB16CB1C28EA6CB57E212861CFB180?doi=10.1.1.24.4369&rep=rep1&type=pdf

Floating ve

[2015-10-12 22:53] amueller commented on #5339
now sure which paper this is from.

[2015-10-12 22:58] amueller commented on #5343
I'm not sure this is a good idea. A deprecation could come from something used internally. Let's say one estimator uses another one internally and uses a deprecated interface. Then we want to fix the use of the deprecated interface.

[2015-10-12 23:06] amueller commented on #5342
I haven't really seen these that much. And the first one is not about fit being idempotent, is it?
The classifier was always trained on the output of HashingVectorizer and then he tries to predict using the reduced features, right?
So it should be expecting 2 ** 18, right? Not sure why it is not.

Anyhow, I don't think we should add this to the docstring for every estimator.
It's mentioned in the

[2015-10-12 23:11] amueller commented on #5341
Anyone can ask for a package to be approved by travis, right? Why do we need to do anything? You already opened the issue, right? But scikit-learn is not the name of the precise apt package. It's ``python-sklearn``.

[2015-10-12 23:11] #5341 closed

[2015-10-12 23:11] amueller commented on #5341
https://github.com/travis-ci/apt-package-whitelist/issues/1396

[2015-10-12 23:28] fraka6 commented on #5361
Quite interesting. I would love to see it implemented. Need help?
Francis
On Oct 12, 2015 6:03 PM, "Andreas Mueller" <notifications@github.com> wrote:

[2015-10-12 23:30] amueller commented on #4803
What would multi-task ridge be? That would just be separate l2 on all the coefficients, and so the same as a separate ridge for each target, right?

[2015-10-12 23:30] #4803 closed

[2015-10-12 23:38] amueller commented on #5340
What are your versions of numpy, scipy and scikit-learn?
I can't reproduce with scikit-learn master and numpy '1.9.3' and scipy '0.15.1'

[2015-10-12 23:39] amueller commented on #5338
Maybe we should add 3.5? we do have a pretty hefty built-matrix already, though.

[2015-10-12 23:40] amueller commented on #4639
multiclass.rst is the right place to look.
Can you link to where the image is broken on the website?

[2015-10-12 23:42] amueller commented on #4639
You mean the bottom right here:
http://scikit-learn.org/dev/auto_examples/plot_multilabel.html
?
There is already an issue for that: #4643

[2015-10-12 23:49] amueller commented on #5105
should we open another issue for multi-label? @arjoly ?

[2015-10-12 23:49] DmitriR commented on #5340
numpy '1.10.0'
scipy '0.16.0'
sklearn '0.16.1'

In addition to the issue described above, I also get a matplotlib warning:
[code]

[2015-10-12 23:50] amueller commented on #5150
thanks for that. You should use ``sample_weight=w``, though. Using a positional argument is what caused the SGD errors, right?

[2015-10-12 23:51] amueller commented on #5340
can you check where the ``mean from empty slice`` warning comes from?

[2015-10-12 23:58] amueller commented on #5361
Yeah feel free to pick it up. It's here: https://github.com/scikit-learn/scikit-learn/pull/4025
Part of that is merged already. It has a transform, but we need to make sure that transform doesn't change the transformation of the training set, and that it only returns a transformation of the new data.

I think that is possible with the implementation, but I haven't checked the details. There is a `

[2015-10-13 00:00] amueller commented on #4648
@rrohan sorry for the slow reply. I'm not sure this is great, because I'm not sure what the right answer is. Should we warn on unscaled data? For all kernels or just poly?

[2015-10-13 00:02] mtrbean commented on #5364
FYI I am using 0.16.1. Could be dup of #4490 ?

[2015-10-13 00:03] amueller commented on #5267
wow this is fun :-/

[2015-10-13 00:06] amueller commented on #5090
see #5127

[2015-10-13 00:07] amueller commented on #5340
hm also can't reproduce on sklearn 0.16.1

[2015-10-13 01:44] DmitriR commented on #5340
I get the same issue if I run the code from PyCharm.

The warning comes from this call:
```metrics.silhouette_score(X, labels, metric='sqeuclidean'))```

Stack trace to just before the point of the warning:

[code]

[2015-10-13 01:50] JohnBoersma commented on #4803
MultiTask Ridge does appear to be done:

http://jmlr.csail.mit.edu/papers/volume13/solnon12a/solnon12a.pdf

But of course it's not in the API and arguably is less interesting because you don't get feature selection as with a lasso / elasticnet.

[2015-10-13 01:50] DmitriR commented on #5340
... there may be more than one problem, however; the one that produces the warning, but also - why do we get 75 clusters all of a sudden?

The report (from Jupyter again) is

[code]

[2015-10-13 02:04] trianta2 commented on #5090
@amueller I created the PR for this issue. Issue 5127 is quite similar however it would require multiple fits for multiple prediction functions, whereas this PR will reuse the same estimator.

[2015-10-13 02:09] jakevdp commented on #5338
I noticed that AppVeyor builds on 3.5, so perhaps we're OK.

The main reason I thought of it is because there were a number of warnings that popped up once I upgraded to 3.5, so I wanted to make sure nothing else changed.

[2015-10-13 03:29] MechCoder commented on #5387
Also as we discussed IRL, it would be great if we have one example, that shows all outlier filtering models together (i.e TheilSen, RANSAC, SGD with Huber) and their comparison with a `LinearRegression` or `Ridge`

[2015-10-13 03:36] terrytangyuan commented on #5341
@amueller  Thanks for correcting that!

[2015-10-13 04:38] andylamb commented on #5322
@hlin117, you can take over if you like.

[2015-10-13 04:42] sumitbinnani commented on #4911
Rectified _indian-english_. Can it be included in ```Conventions``` under the sub-heading: ```Dealing with Unbalanced Dataset```?

### sample_weight
Samples with higher ```sample_weight``` are given more importance while training the classifier. That is the ```recall``` for _similar samples_ will be higher. Can be also imagined as including duplicate samples in training set for samples with higher

[2015-10-13 04:54] GaelVaroquaux commented on #5387
+1. Do you want to add another issue and label it as easy (or moderate)?
People tend to pick these up.

[2015-10-13 04:58] MechCoder commented on #5387
Sure. Do you want me to send a Pull Request, myself or just open an issue? I'm likely to touch most of these examples repeatedly this week (in pursuit of completing the `HuberRegressor` PR

[2015-10-13 04:59] GaelVaroquaux commented on #5387
Open the issue and leave it for some one else. If you have ideas on how
it should be done, you can add them as comments to the issue. I feel that
this should be addressed in a seperate step, after merging the Huber
regressor.

[2015-10-13 05:10] dougalsutherland commented on #5373
Relevant request for something like this: #1188.

[2015-10-13 05:38] olologin commented on #5342
@amueller, Oops, looks like i copy-pasted wrong first link, I've corrected it.

I haven't seen quick-start guide before

Now i feel safe :)

[2015-10-13 05:38] #5342 closed

[2015-10-13 05:41] MechCoder opened #5392 "Consistent example showing filtering of outliers by different estimators"
Right now we have two examples which are very simlar.

http://scikit-learn.org/stable/auto_examples/linear_model/plot_ransac.html#example-linear-model-plot-ransac-py

http://scikit-learn.org/stable/auto_examples/linear_model/plot_theilsen.html

It would be useful to have a single consistent example comparing the models in both the examples. (and also maybe adding the SGD with huber loss)

[2015-10-13 08:00] ogrisel commented on #5267
We should write a PR with a new non-regression test and let travis and appveyor identify the environments that can reproduce this.

[2015-10-13 08:33] mblondel commented on #5373
I am not sure #1188 would be useful for kernel K-means. Kernel k-means is just standard euclidean-distance based K-means but in a feature space implicitly induced via the kernel trick. #1188 is for using a different distance metric, which leads to a different algorithm (in particular, the centroid update is affected by the metric).

[2015-10-13 09:17] rvraghav93 commented on #4473
@amueller that link that you had posted - it doesn't seem to have a contributors documentation? does it?

(I don't understand the link properly sorry :/) We already have everything in place right... the license, the sphinx... we just need to make our contrib docs better... correct?

[2015-10-13 09:33] jnothman commented on #4473
Making tests and utils usable in public repos is a key issue.

[2015-10-13 09:43] ogrisel commented on #5390
If the labels are approximately uniformly distributed, and `n_labels` is large, then there is a high likelihood of ties and the randomization scheme implemented by @glouppe in #5300 can be useful to randomized tie breaking.

If the number of distinct labels is small (compared to the number of samples), then there is a high likelihood that the number of ties will be null and that shuffling will not

[2015-10-13 09:49] glouppe commented on #5390
(To be fair, I did not think too much about it at the time, it was merely as a fix, because it was completely broken. Feel free scrape everything or change it.)

[2015-10-13 09:56] andreasvc commented on #5390
Yes `labels >> n_folds` is common, but maybe uniformly distributed labels not as much? At least that's the dataset I work with now, where I need to keep documents by the same author in the same fold.

[2015-10-13 09:58] JeanKossaifi commented on #5390
The problem seems NP-complete and the method I used is therefore a heuristic.
 I originally didn't intend to have any shuffling at all for the reasons you mentioned. However, balance **is** important, especially for small datasets, when training certain models. More important I'd say than shuffling as usually there will be some kind of averaging of the metrics across the folds.

If you want to sim

[2015-10-13 10:57] ogrisel commented on #5390
Maybe we can scrape  the shuffling code for now and think later to a better way to do it. In particular I am thinking of:

- shuffle the labels
- do label k-fold on the shuffle labels without balancing considerations
- rebalance the worst offenders by removing labels with small number of samples from the most over-populated folds to the least populated folds.

This strategy should probably yield m

[2015-10-13 11:02] #5376 closed

[2015-10-13 11:20] giorgiop commented on #2601
Yes, you are right.

I don't see why not.

[2015-10-13 13:39] rvraghav93 commented on #4473
Oh sorry I forgot this issue is about contrib toolkit :)

[2015-10-13 14:51] dpritsos commented on #5339
I am sending you the paper. However, please read my documentation
because the final implementation is based on few more resources.

Best of Regards,

Dimitrios

On 10/13/2015 01:54 AM, Andreas Mueller wrote:

[2015-10-13 15:47] hlin117 commented on #5322
Sure, I'd like to take a stab at this.

[2015-10-13 16:20] hlin117 commented on #5322
I modified @TomDLT's script above:

    import numpy as np
    import warnings
    import sklearn
    from colorama import *
    from sklearn.utils.testing import all_estimators
    warnings.simplefilter("ignore")
    X = np.random.randn(10, 5)
    y1 = np.random.randn(10, 1) / 0.
    y2 = np.random.randn(10, 2) / 0.
    regressors = all_estimators(type_filter='regressor')
    ref = ("Input contai

[2015-10-13 16:22] hlin117 commented on #5322
I think we'd like to support `2-D` arrays for `ElasticNetCV` and `LassoCV` if the shape of `y` is `[n_samples, 1]`. Same thing for `NuSVR` and `SVR`.

However, in all of these cases, `y` shouldn't have `NaN` values.

[2015-10-13 16:35] amueller commented on #5090
Feel free to add a PR on top of #5127 that allows lists.

[2015-10-13 16:39] lesteve commented on #5136
I had a closer look at this one, and I reckon there is no bug here and this should be closed.

The problem is that your formula to compute the scores from the .predict_proba (method 3. in the original post) only works for continuous classes that start at 0 (i.e. `(classes == np.arange(len(classes)).all()`).

Rather than:
[code]

it should be:
[code]

Note that you use a different `classes=y.unique

[2015-10-13 16:49] rrohan commented on #4648
Yes, I agree. Otherwise it would just be a hack around the one reported issue.

[2015-10-13 16:52] trianta2 commented on #5090
Since this PR is a superset of #5127 in terms of functionality (handles one string or multiple strings), and passed the automated integration testing suite, would it make more sense to accept this PR instead of modifying the other?

[2015-10-13 16:57] amueller commented on #5340
Ah, the warning doesn't really have anything to do with it (or rather is caused by the issue, not the other way around). I'm not sure what causes the many clusters. Someone needs to see if they can reproduce with your exact versions.

[2015-10-13 18:07] rhiever opened #5394 "Feature order affects the performance of tree-based classifiers"
I have run into a possible bug where passing feature vectors in a different order to a tree-based classifier when training affects their performance.

![crnygcbuaaa06h7](https://cloud.githubusercontent.com/assets/1719223/10463635/b0ea8802-71b3-11e5-86a1-38b0b4faea4d.png)

I have the full minimal working example here: [link](http://nbviewer.ipython.org/urls/gist.githubusercontent.com/rhiever/7e6de0

[2015-10-13 18:09] lesteve commented on #5340
@amueller I can reproduce with the exact same versions, have you set cluster_std=0.7 in the example? Just asking because I missed it when I first went over the issue.

I am can reproduce this behaviour too.

[2015-10-13 18:45] rasbt commented on #5394
Imho this is neither a bug not issue with reproducibility, it l's basically like changing the random seed. I think what's going on here is that you build  different random forests.

E.g., you select 1 feature per decision tree, and the random forest selects this sequence of random features using your random seed. Now, your feature indices in the array are [0, 1]. Let's say you build a random fores

[2015-10-13 18:55] glouppe commented on #5394
Features order does matter for random forests because `max_features` features are drawn at random when splitting nodes.

[2015-10-13 19:21] rasbt commented on #5394
I think the only way to change that would be to be to draw the features from a pandas DataFrame. E.g., alphabetically sorting the "string" features in `df.columns` prior to drawing the random features by index position. However, I don't think it is feasible since it would require the use of pandas DataFrames.

[2015-10-13 19:23] amueller commented on #5394
Also then renaming the columns would change the outcome, which is maybe even less expected.

[2015-10-13 19:24] amueller commented on #5394
Maybe mention in the user guide that ordering of the features changes the outcomes unless ``max_features=n_features``?

[2015-10-13 19:26] amueller commented on #5340
@lesteve with my version? interesting.
I did
[code]
but maybe I'm blind to something?

[2015-10-13 19:29] EdwardRaff commented on #5373
I would like to recommend that y'all consider implementing a Kernelized version of [Elkan's k-means algorithm](http://users.cecs.anu.edu.au/~daa/courses/GSAC6017/kmeansicml03.pdf). I've implemented both a Lloyd and Elkan version of kernel-k-means and Elkan's pitfalls when doing normal k-means pretty much disappear when performing kernel-k-means. The higher rate of pruning with Elkan's over other m

[2015-10-13 19:37] rasbt commented on #5394
@amueller I only had "sorting" in mind given that column names already exist, e.g, no matter if `df.columns=['A', 'C', 'B']` or `df.columns=['B', 'C', 'A']` is feed into the algo, it would always draw the features from `df.columns=['A', 'B', 'C']` But yeah, enforcing the use of dataframes and column names that's not a good idea.

In addition, the bootstrap sampling in the random forest would also

[2015-10-13 19:40] amueller commented on #5136
Thanks for checking @lesteve!
@sebconort let us know if this doesn't solve your problem.

[2015-10-13 19:40] #5136 closed

[2015-10-13 19:43] amueller commented on #5394
@rasbt Yeah but I meant that using sorting, if you already have a df with names ``['A', 'B', 'C']``, and then run ``df.columns = ['B', 'C', 'A']`` then the result is different, because you now reorder the columns.

Anyhow, I don't think this should be "fixed" and it is not really related to pandas.

[2015-10-13 19:46] amueller commented on #5322
@hlin117 I think @GaelVaroquaux disagrees with you ;) I think accepting and warning is fine (by calling ``column_or_1d``. I don't really mind much either way. For the inf issue you should test with a 1d y).

Can you add a test to ``estimator_checks`` and fix the ones that don't error?

[2015-10-13 19:47] dougalsutherland commented on #5373
@mblondel #1188 was originally a request for allowing arbitrary distance metrics in k-means, but of course as you've noted that doesn't work for arbitrary metrics since you need to find the Fréchet mean. But if you wanted to use a distance metric corresponding to a kernel function, then kernel k-means does what was requested there. So implementing this would solve #1188 for many cases of distance

[2015-10-13 19:48] hlin117 commented on #5322
Will do!

[2015-10-13 19:48] rhiever commented on #5394
:+1:

I think at a minimum this should be clearly documented since it is not necessarily what you would expect (without having a thorough understanding of how the random forest and decision tree classifiers work under the hood). I will add a StackOverflow question/answer as well to make it easy to Google.

[2015-10-13 19:50] amueller commented on #5322
thanks :)

[2015-10-13 19:51] dougalsutherland commented on #5373
@EdwardRaff You should be able to run k-means++ initialization for kernel k-means, right? It just requires full-dataset kernel computations for each of the seed points, which you'll need on the first step of k-means anyway (and of course the scikit-learn API usually assumes you're computing a full kernel matrix).

[2015-10-13 19:51] rhiever commented on #5394
I wonder -- if we wanted to implement a method to consistently sort the feature vectors, could we sort them by the average of the feature vectors? Or perhaps sort by the tuple (average, std, max, min) or something like that to make it less likely that two feature vectors would be equal. This method wouldn't require pandas integration either.

[2015-10-13 19:52] amueller commented on #4473
What do you think is still to do for tests? There is ``check_estimator`` now. What else do we need?
The utils, yeah..... we should do a private public split but not today ;)

[2015-10-13 19:59] rasbt commented on #5394
Hm, that would work, but I am wondering if it is really necessary. I mean, why would you shuffle and/or reorder the columns in your dataset in a real use case?

It's not only the random forest, but basically everything starting with `train_test_split` in a typical data analysis pipeline. So I would suggest that to explain a little bit about random sampling in the tutorials? E.g., giving some insig

[2015-10-13 19:59] EdwardRaff commented on #5373
@dougalsutherland k-means++ initialization selects k points from the dataset to be the initial means. But in kernel-k-means, the initial means are defined by a subset of the datapoints, and the union of those subsets should be the whole dataset again.

Perhaps I'm missing something, but I don't see an obvious way to use k-means++ for the kernelized case.

[2015-10-13 20:03] rhiever commented on #5394
One thing I'm still confused about: Why does this "feature" affect decision trees as well? Isn't it just splitting on the columns that divide the classes best, regardless of their order?

[2015-10-13 20:03] amueller commented on #5342
Yeah I would like to make this more prominent and also possibly move it, see #4911.

[2015-10-13 20:05] amueller commented on #4911
there is still "weightage" but sounds good. I'm happy to have it under Conventions but maybe Conventions should be moved to a separate user guide page. @ogrisel @GaelVaroquaux ?

[2015-10-13 20:07] amueller commented on #5387
See #5392.

[2015-10-13 20:08] amueller commented on #5338
are there still? I thought we fixed (most?) of them?

[2015-10-13 20:09] rhiever commented on #5394
I can tell you how I ran across this "feature": I have a pipeline where I'm using a custom feature selection function to subset the columns that I pass into the random forest. (We discussed this pipeline/dataset last week, @rasbt.) It returns a specified number of "most predictive" columns, and (previously) didn't make sure to sort those columns before returning them from the custom feature select

[2015-10-13 20:14] tomsvds commented on #5379
Well, I can’t use the function, but I appreciate the answer and I have no more questions.

Regards,
-Tom

[2015-10-13 20:17] amueller commented on #5394
@rhiever if your results change drastically depending on the ordering of the features, you should use more trees in your forest.
By default for each split in a tree in a random forest, only ``max_features`` many features are randomly chosen, and only among these features is the best split found. If you change the ordering, you change which subset of features is looked at in each split.
But they ar

[2015-10-13 20:18] jnothman commented on #4473
Perhaps I missed check_estimator! it was committed in a period of migration
for me... Looks neat.

On 14 October 2015 at 06:52, Andreas Mueller <notifications@github.com>
wrote:

[2015-10-13 20:21] jakevdp commented on #5338
Yes, I believe they're already fixed on master.

[2015-10-13 20:26] amueller commented on #5379
why can't you use the function? Because you don't want the standard definition of average precision?

[2015-10-13 20:30] rhiever commented on #5394
Right, but what about individual decision trees (not random forests)? Use the code sample I provided and set `max_features` to 2. The classification accuracy will come out different in the two cases, even though the decision trees should be using both features.

It doesn't. :-) But it's important for a pipeline that I create to produce the same output each time I run it with the same random seed i

[2015-10-13 20:30] rasbt commented on #5394
@rhiever

In your particular case, you have 2 feature columns, let's call them `0` and `1` (representing them as indexes in your data array).

In each step in your random forest, you draw 1 feature at random (since you are using `sqrt(m)` as the default feature for `max_features`. Now, imagine this, you are growing 3 trees.

tree 1: -> split on feature idx. 0
tree 2: -> split on feature idx. 1
tre

[2015-10-13 20:33] rhiever commented on #5394
Here's the code I'm talking about:

[code]

[2015-10-13 20:33] amueller commented on #5379
We could have options "interpolated", "triangle" and "quadrature"?

[2015-10-13 20:35] rasbt commented on #5394
Actually, I'd say that it only matters if someone wants to reproduce your results. If your "results" (in terms of performance metrics) change substantially with the random seed, I'd say the model has a high variance problem, and using always the same random seed to tune your pipeline will give you an overly optimistic estimate.

[2015-10-13 20:37] amueller commented on #5394
I guess this is cause by tie-breaking? Your data is large and random. You expect the tie-breaking to be independent of the ordering of the columns? How? You could always lex-sort the data ^^ (but don't do that for SGD and don't do that before doing the training test split).

[2015-10-13 20:42] dougalsutherland commented on #5373
@EdwardRaff That's true as implemented in the gist above. But what's the problem with just doing the first steps in the other order? That is, you can view the gist as doing the following algorithm:

1. Initialization:
    * Assign points to random labels
2. Repeat until convergence:
    * Compute centers as means of the points with each label
    * Assign points to label with the nearest mean

To

[2015-10-13 20:43] amueller commented on #4803
Looks interesting. It's kind of non-obvious what they mean by multi-task ridge. Multi-task lasso is just a particular group-lasso which is a pretty straight-forward thing. Not sure how practically relevant the multitask ridge is [18 cites in the last three years].

[2015-10-13 20:45] amueller commented on #4475
@giorgiop [there is no missing values](https://www.youtube.com/watch?v=uAXtO5dMqEI)

[2015-10-13 20:49] amueller commented on #4475
Clipping to zero sounds good. For correlation, I'd say we should set the distance between constant points to zero.

[2015-10-13 20:49] rhiever commented on #5394
My suggestion was to sort the columns by the tuple (average, std, max, min) or something like that. That should produce a consistent ordering.

[2015-10-13 20:49] amueller commented on #4475
as post-processing?

[2015-10-13 20:52] GaelVaroquaux commented on #5394
You're trying to adapt the algorithm to get it to do what you want it to.
That's fine for your specific application, but scikit-learn is a standard
toolkit and we try to do as little custom modifications as possible. What
seems natural to one will surprise another.

[2015-10-13 20:52] amueller commented on #5394
it's not really any more consistent than ordering by the entries for the first sample, right?
Also, that is making a data copy.
But you should feel free to write your own transformer that does that and pipeline it with your random forest ;)

[2015-10-13 20:54] amueller commented on #5394
Or you could just make sure that your code is deterministic in the order of the columns it uses?

[2015-10-13 21:00] rhiever commented on #5394
I've already solved the issue on my end by consistently sorting the columns before passing them into the random forests/decision trees. I'm raising this issue not to customize sklearn to my purposes, but to raise the issue that providing the *same data* in a different column order produces different results when passed to tree-based classifiers.

I understand the mechanics of why it works how it w

[2015-10-13 21:02] GaelVaroquaux commented on #5394
Pull request welcomed.

"the user doesn't have to worry about it" is probably an open research
problem.

[2015-10-13 21:04] rhiever commented on #5394
Okay, thx all.

[2015-10-13 21:04] #5394 closed

[2015-10-13 21:09] amueller commented on #5338
So should we close in light of #5302? Or add to travis, too? @ogrisel ?

[2015-10-13 21:37] EdwardRaff commented on #5373
@dougalsutherland If the kernel is compact in its support, some of the data points in your schema may never get labeled.

I've also tried that strategy on toy problems with the RBF kernel, and it dose not produce the same quality results. Part of this is that the "Choose centers as random dataset points according to the k-means++ scheme" is choosing centers with respect the the normal euclidean me

[2015-10-13 21:46] amueller commented on #5266
ping @pprett ?

[2015-10-13 22:01] amueller commented on #1513
does RVR provide probability distributions, too?

Sounds like RVR and RVM are reasonable candidates for inclusion. I'm not sure about the state of the art algorithms, though. Is it http://www.miketipping.com/papers/met-fastsbl.pdf  ? That seems pretty old. The SparseBayes coding style is.... interesting, and I think it would serve better as a reference than as a basis for the sklearn implementatio

[2015-10-13 22:25] amueller commented on #5327
I'm a bit confused. ping @GaelVaroquaux
Maybe #3159 is relevant?

I'm not sure why we are trying to connect the graph in the first place...

[2015-10-13 22:28] amueller commented on #5326
which version of scipy and scikit-learn do you have? And how did you install scikit-learn?
Download a zip from master?
And how did you install scipy and numpy?

The k-means error seems odd.

[2015-10-13 22:29] lesteve commented on #5340
Yep, the same versions as you:
numpy: 1.9.3
scipy: 0.15.1
sklearn: 0.17.dev0

and doing the same change:
[code]

FWIW I can reproduce the 75 clusters with a variety of numpy, scipy and scikit-learn versions (and also Python 2 and Python 3 in case you are wondering), e.g. in no particular order:
numpy: 1.10.1
scipy: 0.16.0
sklearn: 0.16.1

numpy: 1.8.2
scipy: 0.15.1
sklearn: 0.16.1

numpy: 1.9.3
sc

[2015-10-13 22:32] amueller commented on #5340
I'm on ubuntu conda, too.... "interesting".

[2015-10-13 22:44] amueller commented on #5324
I haven't seen this one before.
I think we should set the random_state in the docstring or ignore the output. I'm not super familiar with the LSHForest. Actually I wonder how this test ever passed without setting the random_state. Ping @ogrisel @jnothman?
The result can vary widely, depending on the random state, so setting the precision differently is not really an option.

[2015-10-13 22:48] amueller opened #5397 "Numpy 1.10.1 compatibility"
I get a lot of errors when I just upgraded to numpy 1.10.1 using conda.
Mostly they are about casting:
[code]

Did I do something odd or are we just not numpy 1.10 compatible?

[2015-10-13 22:51] amueller commented on #5318
hm.... good point @jnothman. Do you think it is worth the change?

[2015-10-13 22:56] amueller commented on #5313
We should either document or deprecate. Probably document, and mention the conditions when it is empty from the numpy docs.

[2015-10-13 23:56] jnothman commented on #5324
Oh! Apparently this example is reporting the exact nearest neighbors due to very generous parameters (n_candidates, n_estimators are both high with respect to the tiny data). We should be reducing the parameters and fixing random_state.

[2015-10-14 02:40] mblondel commented on #5373
I would recommend doing things incrementally. Too ambitious PRs never get merged.

Also, keep in mind that we assume that the kernel matrix fits in memory. Does Elkan's method offer a net advantage even in this case? Can Elkan's method be implemented efficiently in pure Python / NumPy? We need to think of maintenance cost as well.

[2015-10-14 03:30] jmwoloso commented on #5353
Ok, I'll make another attempt at it :)

[2015-10-14 03:42] dougalsutherland commented on #5373
@EdwardRaff I did mean to use distances corresponding to the kernel (`d(x, y) = sqrt(K(x, x) + K(y, y) - 2 K(x, y))`). If by compact support you mean that `K(x, y) = 0` is possible, I think you may be thinking of doing the distance as `K(x, y)` (which would indeed be problematic) rather than distance in the RKHS induced by K (in which case points are at distance `sqrt(K(x, x) + K(y, y))` and still

[2015-10-14 04:06] EdwardRaff commented on #5373
@mblondel  I wouldn't consider myself skilled enough with numpy to judge if it could be implemented efficiently without having to use cython/other. Just something that I've found to show a big difference in my own testing that I wanted to make sure was considered

@dougalsutherland My bad - you are correct, tie-breaking is needed when `K(x,y)=0` is possible. It's still degenerating to the random l

[2015-10-14 05:34] GaelVaroquaux commented on #5313
I would have said: "probably deprecate". :)

[2015-10-14 07:07] lesteve commented on #5397
Yep confirmed.

[2015-10-14 07:10] giorgiop commented on #5397
Same here.

[2015-10-14 07:15] giorgiop commented on #5397
From [numpy release docs](https://github.com/numpy/numpy/blob/master/doc/release/1.10.0-notes.rst):

The only exception is object dtypes, where both 'O4' and 'O8' will still issue a deprecation warning. This platform-dependent representation will raise an error in the next release.

In preparation for this upcoming change, the string representation of an object dtype, i.e. np.dtype(object).str, no

[2015-10-14 07:46] lesteve commented on #5397
FWIW here is a Travis log with Python 3.5 and the latest numpy and scipy releases:
https://travis-ci.org/lesteve/scikit-learn/jobs/85275125

Note the NUMPY_VERSION="*" and SCIPY_VERSION="*" for the Python 3.5 distribution in .travis.yml ([here](https://github.com/lesteve/scikit-learn/commit/d75e1cf46e1a0def09cb91d17855a93e728c97ee) is the commit).

Maybe it would be worth adding an additional dist

[2015-10-14 07:59] sotlampr commented on #5380
Hi, can you elaborate please?

[2015-10-14 08:30] GaelVaroquaux commented on #5397
Numpy is probably raising genuine problems here. Our code is ugly, and we
should probably cast ints to floats expliticetly.

[2015-10-14 10:07] adijo commented on #5392
Hi, is anyone working on this? I would like to try working on it but I am new here and would probably need a bit of guidance.

[2015-10-14 10:43] zkuncheva commented on #5327
Hello Andreas,

Thank you for the reply. They are connecting the graph so that they can
complete the tree - I guess that in the case when the number of clusters is
prespecified if it is less than the disconnected components, not completing
the tree will cause the problems. Furthermore, it is also connected to the
distance values. If one disconnected component has smaller distance values
it will ge

[2015-10-14 12:08] rvraghav93 commented on #5397
Fix at #5398

[2015-10-14 14:04] andreasvc commented on #5390
@ogrisel & @JeanKossaifi I came up with a way to get both shuffling & balancing, see my pull request #5396.

[2015-10-14 14:40] GaelVaroquaux commented on #2601
Hi everybody. As pointed out by @agramfort, above, this is an issue on which we have been going in circle for a while. Indeed, normalizing or not affects the optimal alpha.

I first thought that it wasn't critical, but it turns out that standardizing (and not normalizing) makes the optimal alpha depending on the number of samples.

There are several ways of seeing this. From the empirical standpoi

[2015-10-14 15:03] amueller commented on #5327
I think if the number of clusters specified is smaller than the number of connected components, we should just bail and raise an error.

[2015-10-14 15:06] GaelVaroquaux commented on #5327
Please no. This will make that the code crashes for many people for which
connectivity is derived from data (eg from an image and thresholding).

I agree that the behaior is ill-defined, but crashing doesn't solve any
problems, and creates more.

[2015-10-14 15:08] amueller commented on #5327
Well the other option is to return more clusters. Either one is fine. But not what currently happens. That is definitely not fine. Someone recently said

[2015-10-14 15:12] GaelVaroquaux commented on #5327
That's not an argument to crash, as I said above.

Ill-defined behaviors are not something that we should try fixing, and I
am not claiming that our current fix is any better than another, but
crashing is a different thing.

Returning a number of clusters different that the number asked seems like
something too violent. It will likely cause crashes in user code and
generate a lot of questions on t

[2015-10-14 15:18] amueller commented on #5327
Exactly. There is no right thing do to, and therefore we should bail.

Anyhow, this is not the main point. We shouldn't do any completion if the number of connected components is smaller than the number of clusters.

[2015-10-14 15:19] GaelVaroquaux commented on #5327
To be fair, the code that is used to complete the matrix is code that was
written when we had only ward, and the logic used for completion is
correct only for ward.

For other linkage and for a precompute affinity it would make sense to
complete the matrix with values that are greater than the max of the
distances. This would have the expect behavior and indeed probably fix
the users problem.

I a

[2015-10-14 15:20] amueller commented on #5327
Before fixing the completion I think we should do a fix that only completes if actually necessary.

[2015-10-14 15:22] zkuncheva commented on #5327
When using the code, this is exactly what I have been doing - I am using
either the average or complete linkage and before feeding my distance
matrix in the algorithm I assign a much larger distance between all
disconnected components. Then everything works perfectly.

On Wed, Oct 14, 2015 at 4:20 PM, Gael Varoquaux <notifications@github.com>
wrote:

[2015-10-14 15:23] GaelVaroquaux commented on #5327
No. That's just like saying that when the lasso problem is degenerate we
shouldn't return an answer. Or like when there are ties in random forest.
From a mathematical standpoint it makes sense. From a user standpoint,
it's useless.

No, it's more subtle than that: how to you choose how to distributed the
number of clusters across connect components. It is not possible to run
the algorithm on a non

[2015-10-14 15:24] GaelVaroquaux commented on #5327
Excellent! Sounds right to me. Do you want to send a PR doing this fix
for linkage!='ward'? I do agree that it's a much better behavior than
what we have currently.

[2015-10-14 15:25] amueller commented on #5327
yeah that does sound like the right fix.

[2015-10-14 15:27] amueller commented on #5327
On 10/14/2015 11:23 AM, Gael Varoquaux wrote:

It sounds like we have different applications then.
I thought connectivity constraints are hard constraints. Apparently in
your application they are not.
If the user asks for hard constraints, I'd rather obey them.

[2015-10-14 15:30] amueller commented on #5380
There are test in ``estimator_checks`` that test how models behave when given exactly one feature or exactly one sample. Currently they ignore error messages that are given. They should check that the error messages hare helpful.

[2015-10-14 15:31] GaelVaroquaux commented on #5327
I think that we already had this discussion :).

Users don't ask for anything, they run a code, that generate a
connectivity matrix and they ask for a number of cluster. The problem is
that they do not fully understand all these details.

[2015-10-14 15:36] olologin commented on #4911
Also, you may note somewhere near there that generally it's not a good idea to change weights of some classes/samples, because by this you are changing class and sample frequencies in underlying distribution by this, and it may affect decision boundary.

[2015-10-14 15:36] amueller commented on #5313
Either is fine by me.

[2015-10-14 15:45] amueller commented on #4911
well that is the whole point of doing it, right?

[2015-10-14 15:50] amueller commented on #5324
"mostly" providing the nearest neighbors. It's not deterministic on my box.

@lesteve you wanna fix this one up for the release?

[2015-10-14 15:57] Sandy4321 commented on #4935
pls hep find some examples how to use RandomForestRegressor in addition to
2 examples from scikit-learn site

On Tue, Jul 7, 2015 at 8:00 AM, Wang Jianping <notifications@github.com>
wrote:

[2015-10-14 15:59] Sandy4321 commented on #5368
and

1
 lets add
http://blog.datadive.net/random-forest-interpretation-with-scikit-learn/
Random forest interpretation with scikit-learn
2
http://blog.datadive.net/prediction-intervals-for-random-forests/
Prediction intervals for Random Forests

On Mon, Oct 12, 2015 at 5:13 PM, Andreas Mueller <notifications@github.com>
wrote:

[2015-10-14 16:04] olologin commented on #4911
@amueller Hmm, yes, my mistake.

[2015-10-14 16:17] amueller commented on #4324
Indeed, thanks.

[2015-10-14 16:17] #4324 closed

[2015-10-14 16:18] amueller commented on #5286
This was fixed in current master (it was an issue with Bunch).

[2015-10-14 16:18] #5286 closed

[2015-10-14 16:18] amueller commented on #5286
[reopen if you still have trouble, also remove the data set folder]

[2015-10-14 16:24] amueller commented on #5265
We should do this whenever possible, but as @larsmans we already do.
@MechCoder if you want you can see if you find places in scikit-learn where we didn't optimize yet. We could list them here. Otherwise the issue is not very helpful and we should close.

[2015-10-14 16:48] jmschrei commented on #4935
Random Forest Regressors can be used in any regression type problem, where you're trying to predict a continuous value instead of a discrete class.

[2015-10-14 16:58] Sandy4321 commented on #4935
to predict a continuous value

may you help get more examples

On Wed, Oct 14, 2015 at 12:48 PM, Jacob Schreiber <notifications@github.com>
wrote:

[2015-10-14 17:09] jmschrei commented on #4935
If you're trying to predict something like housing price, temperature, or distance the values are continuous.

[2015-10-14 17:19] #5265 closed

[2015-10-14 19:41] absolutelyNoWarranty commented on #5340
I was able to easily generate "blown-up" results just by using different random seeds. (You can even use the original `cluster_std`=0.5).

Setting `max_iter` to a much larger value basically removes the problem -- or at least makes it much rarer -- so I think this is just a case of the clustering not having enough iterations to converge.

    # https://github.com/scikit-learn/scikit-learn/issues/5

[2015-10-14 19:43] amueller commented on #5340
yeah.... maybe the preferences=-50 is not great? The algorithm in general tends to oversegment datasets. Can you maybe try against the reference implementation and see if that is more stable?

[2015-10-14 19:43] jakirkham commented on #4069
With the relatively recent availability of a Cython API for the underlying BLAS ( https://github.com/scipy/scipy/releases/tag/v0.16.0 ), it would be possible to use this in the rewrite. Assuming this may still happen.

[2015-10-14 19:44] amueller commented on #5340
[this will never be my favourite nature paper, though]

[2015-10-14 19:45] amueller commented on #4069
We can't rely on people having the most recent scipy

[2015-10-14 19:48] jakirkham commented on #4069
Understood. One could always fallback to the Python API.

[2015-10-14 19:53] amueller commented on #4710
I guess we keep this open for the better fix? But I'll untag 0.17 as #5360 is merged.

[2015-10-14 20:05] amueller commented on #5267
#5401

@myflyinggip can you check what the test in #5401 does for you?
I couldn't reproduce so I was doing this pretty blindly. bootin' up the the old windows now to see if that will reproduce.

[2015-10-14 21:08] myflyinggip commented on #5267
Hi @amueller, I tried to run test_logistic.py in #5401, but `_logistic_grad_hess` and `_multinomial_grad_hess` cannot be resolved. I wanted to remove the corresponding parts dependent on these. But not sure whether it would affect the test. Any suggestions?

[2015-10-14 21:12] amueller commented on #5267
you can just run the test that I added, it doesn't require ``_logistic_grad_hess``.

[2015-10-14 22:04] dougalsutherland commented on #5373
@EdwardRaff The rankings are the same, but the relative distances and therefore the probabilities of sampling are not, so the seeding procedure is still different....

[2015-10-14 22:11] olologin commented on #5150
1) Should we rise warning for such input? Or maybe throw some exception? What about meta classifiers which tend to vanish weights for entire classes.
2) What should we return from predict_proba?
should it return probabilities of "correct" classes only? Or return probabilities for all classes in input, but with 0's for entire "incorrect" classes?

Now all classifiers which predict_proba method (exc

[2015-10-15 00:17] IgnacioMor commented on #5387
Hi, can I try to fix it?  The problem, as amueller mentioned, seems to be that Ransac and TheilSen are overlapping.

[2015-10-15 03:09] Fenugreek commented on #2821
@ogrisel, I'll try to take a look at the R implementation and say more next week (out of town this week).
@amueller, I am a newish contributor to comment on whether to resue this issue, but do think we should rename this issue if we reuse it (will suggest a name next week).

[2015-10-15 03:18] AmazaspShumik commented on #1513
Yes RVR provides probability distributions, however in some cases variance of predictive distribution can be smaller for data points outside the domain of the training set [example](https://github.com/AmazaspShumik/Bayesian-Regression-Methods/blob/master/Relevance%20Vector%20Machine%20%26%20ARD/rvm_prediction_problem.ipynb).
To the best of my knowledge paper you mentioned is last version of RVM it

[2015-10-15 03:23] AmazaspShumik commented on #1513
I also found interesting comparison of RVM and SVM speed in Kevin Murphy's book:
"RVM is also fastest to train. This is despite the fact that RVM code is in Matlab and the SVM code is in C". However it seems that they made comparisons for small datasets only.

[2015-10-15 04:56] GaelVaroquaux commented on #1513
I am not convinced (and I do neuroimaging). I haven't seen a good
empirical comparison.

I see the way to go is to have RVMs in a separate package, with
scikit-learn API, and encourage good empirical work to show their
usefulness. If they are useful, merge them in scikit-learn.

[2015-10-15 05:39] ZaixuCui commented on #1513
Some neuroimaging studies have used relevance vector regression (RVR)  and
made comparisons between RVR and SVR.
To list a few:
http://www.sciencedirect.com/science/article/pii/S1053811910000108
http://www.sciencedirect.com/science/article/pii/S1053811910012644
http://www.sciencedirect.com/science/article/pii/S1053811910003459
http://www.nature.com/npp/journal/v39/n3/abs/npp2013251a.html

And, the

[2015-10-15 06:08] mblondel commented on #1513
+1

[2015-10-15 07:35] lesteve commented on #5324
I can try to have a look

[2015-10-15 08:02] ogrisel commented on #5241
This should be fixed when we merge the update to joblib 0.9.2: #5399.

[2015-10-15 08:40] giorgiop commented on #5340
I can reproduce with
python 3.4.3
numpy 1.10.1
scipy 0.16.0
sklearn: 0.17.dev0

[2015-10-15 09:01] absolutelyNoWarranty commented on #5340
If you're talking about the reference implementation (in MATLAB) [here](http://www.psi.toronto.edu/index.php?q=affinity%20propagation), it's a mixed bag.

**apcluster.m vs sklearn**

Using the same parameters as sklearn's default, maxiter=200 *and damping=0.5*, it actually does terribly - we're talking every point still acting as an individual cluster.

Pushing the maxiter up to it's default of 10

[2015-10-15 09:26] absolutelyNoWarranty commented on #5340
Python:

	from scipy.io import savemat

	from sklearn.cluster import AffinityPropagation
	from sklearn import metrics
	from sklearn.datasets.samples_generator import make_blobs

	print "Max Iter:\t(default=200)\t1000"
	print "# of clusters"
	centers = [[1, 1], [-1, -1], [1, -1]]
	for seed in range(200,221) + [0,41,69,80,84,95,109]:
		X, labels_true = make_blobs(n_samples=300, centers=centers, clus

[2015-10-15 10:42] giorgiop commented on #4475
:+1:

[2015-10-15 11:39] #4455 closed

[2015-10-15 11:50] lesteve commented on #5267
I can reproduce this behaviour with scikit-learn 0.16.1 but not on master (Ubuntu 14.10, python install through conda. numpy: 1.10.1, scipy 0.16.0 although it didn't seem like numpy and versions mattered from a quick look at it)

I am currently trying to test 0.16.1 on Travis with @amueller's test from #5401 and see what happens.
My branch is [here](https://github.com/lesteve/scikit-learn/commits/

[2015-10-15 11:58] lesteve commented on #5267
Looks like they broke as expected, so at least on Linux it seems like the bug has been fixed on master. I guess others may know more about why exactly.

@myflyinggip You can find a test file that runs on both master and 0.16.1 [here](https://github.com/lesteve/scikit-learn/blob/c91657da869ef5b73873079958c3e30c7f16a155/sklearn/linear_model/tests/test_logistic_slicing_weirdness.py)

[2015-10-15 12:31] arjoly commented on #5105
+1

[2015-10-15 12:40] raghavrv opened #5403 "Add a multi-label classification task"
Add a dataset with multi-label data.

Refer #5105

Preferably the [emotions dataset](http://www.eecs.qmul.ac.uk/mmv/datasets/deap/)

[2015-10-15 12:41] rvraghav93 commented on #5105
Added at #5403

[2015-10-15 14:05] lesteve opened #5404 "Broken example: examples/applications/plot_tomography_l1_reconstruction.py"
Only numpy 1.10, error is:

`TypeError: Cannot cast ufunc add output from dtype('float64') to dtype('int64') with casting rule 'same_kind'`

[2015-10-15 14:06] lesteve opened #5405 "Broken example: examples/ensemble/plot_random_forest_embedding.py"
[code]

[2015-10-15 14:07] lesteve opened #5406 "Broken example: examples/manifold/plot_lle_digits.py"
[code]

[2015-10-15 14:08] lesteve opened #5407 "Broken example: examples/model_selection/plot_roc.py"
[code]

[2015-10-15 14:08] lesteve opened #5408 "Broken example: examples/svm/plot_rbf_parameters.py"
[code]

[2015-10-15 15:16] amueller commented on #5407
yeah... we need to interpolate for this now. the previous was not very robust. But I hope the change doesn't break many users' code. Which is not a good thing to say.

[2015-10-15 15:21] amueller commented on #5340
seems there are slight differences to the reference implementation and our parameters are not great here. Maybe we should check more closely why the results are different?

[2015-10-15 15:22] amueller commented on #5387
Yeah, please go ahead. Maybe a different line width or line style or random seed would help?

[2015-10-15 15:24] amueller commented on #5150
``predict_proba`` should return probabilities for all classes in the ``classes_`` attribute, which should be the same as ``np.unique(y_train)``
And I don't think we should raise an error.
This is a valid input, and I don't think these are "incorrect" classes. It's just a bug in SVC

[2015-10-15 16:09] olologin commented on #5150
Ok, i'll try to fix this.

[2015-10-15 16:12] amueller commented on #1513
I mean there is https://github.com/AmazaspShumik/Bayesian-Regression-Methods/blob/master/Relevance%20Vector%20Machine%20%26%20ARD/rvm.py which looks relatively compatible. needs ``set_params`` and ``get_params`` or inheriting from ``BaseEstimator``.

And there is https://github.com/jhallock7/SparseBayes-Python which could be wrapped.

@ZaixuCui why do you want it to be in scikit-learn when there i

[2015-10-15 16:39] Sandy4321 commented on #4935
may you help get more CODE examples
I need code....
samples of code how to use RandomForestRegressor

On Wed, Oct 14, 2015 at 1:10 PM, Jacob Schreiber <notifications@github.com>
wrote:

[2015-10-15 16:45] #5397 closed

[2015-10-15 16:46] amueller commented on #4935
@Sandy4321 try for kaggle or stackoverflow. Though with your approach to question asking, I'm not sure it'll help.

[2015-10-15 17:20] amueller commented on #5267
can confirm failure on 0.16.1 and working on master. Should we close as fixed? Add a regression test? When was that fixed? Anyone care to bisect?

[2015-10-15 18:16] Sandy4321 commented on #4935
I like this one
http://stackoverflow.com/questions/24803802/optimizing-randomforestregressor-for-other-metrics
optimizing RandomForestRegressor for other metrics
<http://stackoverflow.com/questions/24803802/optimizing-randomforestregressor-for-other-metrics>

On Thu, Oct 15, 2015 at 12:47 PM, Andreas Mueller <notifications@github.com>
wrote:

[2015-10-15 18:17] Sandy4321 commented on #4935
and this
http://blog.datadive.net/prediction-intervals-for-random-forests/

Prediction intervals for Random Forests

On Thu, Oct 15, 2015 at 12:47 PM, Andreas Mueller <notifications@github.com>
wrote:

[2015-10-15 18:21] Sandy4321 commented on #4935
and this
http://stackoverflow.com/questions/32103301/why-doesnt-my-python-randomforestregressor-accurately-predict-training-set-data
Why doesn't my Python RandomForestRegressor accurately predict training set
data?
<http://stackoverflow.com/questions/32103301/why-doesnt-my-python-randomforestregressor-accurately-predict-training-set-data>
now you may see why I wanted examples....

On Thu, Oct 15,

[2015-10-15 19:01] ogrisel commented on #4935
@Sandy4321 the github issue tracker is meant to ask user questions but to track bugs and their resolution.

If you have questions, please ask them on stackoverflow. Don't forget to include minimalistic reproduction code and the complete error message you get if you get and error and do not understand it.

Also make sure to read the online documentation and tutorials (not just the examples) to bett

[2015-10-15 19:18] #5406 closed

[2015-10-15 19:23] lesteve commented on #5338
This one can be closed.

Python 3.5 was included in Travis as part of #5397 which has now been merged.

[2015-10-15 19:31] #5338 closed

[2015-10-15 19:37] #5241 closed

[2015-10-15 20:02] amueller opened #5412 "odd Joblib error in test suite (not sure if we talked about that already)"
Running the unit tests outputs
[code]
at some point.
That seems odd.

[2015-10-15 20:47] #5324 closed

[2015-10-15 21:22] lesteve commented on #5267
Bisecting done, the first good commit (i.e. the first time this bug was fixed in master) is 94eb61960a13f84a8be0dd527012f929172a0d60.

Interestingly I didn't know that git bisect was designed to find the first bad commit but not the other way around. In this case we are looking for the first good commit ...

[2015-10-16 02:16] luoq opened #5415 "use class_weight='auto' and multi_class='multinomial' in LogisticRegression cause UnboundLocalError in line 637 of logistic.py"
code to reproduce
[code]

innermost exception
[code]

[2015-10-16 02:46] trevorstephens commented on #5415
What's your environment? No problem for me on Ubuntu 14.04 / python 2.7.10 / numpy (1.9.2) / scikit-learn (0.16.1) / scipy (0.16.0)

Though I do get a deprecation warning on the `"auto"` on master.

[2015-10-16 02:49] trevorstephens commented on #5415
No problem for python 3.4.3 with sklearn master branch as well for me.

[2015-10-16 04:57] luoq commented on #5415
ubuntu 12.04; python 3.4.3 (anaconda); master(2d976095594f5dbda0466f155ae19eaff76f421e)

[2015-10-16 05:00] luoq commented on #5415
y_bin is only defined at line 623, 624. When multi_class != "ovr" y_bin is not defined

[2015-10-16 05:02] luoq commented on #5415
Also in fedora 22; python 3.4.3 (anaconda); master(2d97609)

[2015-10-16 05:29] wujw13 commented on #5403
I would like to solve this issue.
Cause I have just achieved a multi-label classification using Matlab, I can try to collect data from the emotions dataset and test it using sklearn.

[2015-10-16 06:59] sumitbinnani commented on #4911
@amueller Updated the comment (edited last comment).

Should all the subheadings for ```An introduction to machine learning with scikit-learn``` be on separate pages, or just the ```Conventions```?

[2015-10-16 07:18] ogrisel commented on #5267
That might be linked to the fix in the handling of the y arrays for the OvR reduction: https://github.com/scikit-learn/scikit-learn/commit/94eb61960a13f84a8be0dd527012f929172a0d60#diff-1452d97adf1a0b794930e405aa58d64bL579

I remember @TomDLT spend quite some time in finding out how this code was indirectly causing a random segfault under Windows. This might have caused this bug too.

Closing the i

[2015-10-16 07:18] #5267 closed

[2015-10-16 07:42] lesteve commented on #5408
Seems to be linked to 6a5a2f7. @giorgiop any hints?

Is it just that a new scaler object needs to be created if you want to fit two X with different shapes?

We are doing this currently in the example:

[code]

[2015-10-16 08:33] TomDLT commented on #5267
The bug is solved with [this diff](https://github.com/scikit-learn/scikit-learn/commit/94eb61960a13f84a8be0dd527012f929172a0d60#diff-1452d97adf1a0b794930e405aa58d64bR1451).

Before this commit:
- `LogisticRegression` accepted only C-order data (and would copy otherwise)
- `LogisticRegressionCV`  accepted any order, which could lead to some bugs (I don't know exactly where).

After this commit:
- `

[2015-10-16 08:39] giorgiop commented on #5408
I think you are right. I take care of this.

[2015-10-16 08:42] rvraghav93 commented on #5403
@wujw13 Please go ahead!!

[2015-10-16 09:08] lesteve commented on #5415
Works fine on 0.16.1 and broken in scikit-learn master. Looks like a regression that should be fixed before the release.

[2015-10-16 09:50] rvraghav93 commented on #5415
I am able to reproduce it.
master / np 1.10.0 / scpy 0.16.0 / py 2.7.6 & py 3.4

[2015-10-16 10:33] dengemann commented on #1850
Did this go anywhere? It would be really nice to pass a list of metrics to cross val score and get a list of scores in the same order or a dict with metric names as keys.

[2015-10-16 11:20] lesteve commented on #5415
It looks like there is a `Y_bin` (note the capital Y) vs `y_bin` typo thing going on but even fixing that I get another exception:

[code]

[2015-10-16 12:28] rvraghav93 commented on #5404
Fixed in #5411

[2015-10-16 12:29] rvraghav93 commented on #5392
@adijo No... please go ahead and ping us when you need any help...

[2015-10-16 13:14] naught101 opened #5418 "Classification + regression?"
Is there currently a way to create a pipeline that classifies the data, then does individual regressions on the data in each class (perhaps using different features)?

This has been done before, e.g. using a SOM + linear regression (Hsu et al, 2002).

If it isn't already possible, would something like this be worth including in sklearn? Or should I just make a separate project?

Hsu, Kuo-lin, Hosh

[2015-10-16 13:14] untom opened #5419 "PCA().fit_transform changes array order"
PCA().fit_transform() apparently changes c-order arrays into f-order arrays:

[code]

prints `True // False`

[2015-10-16 13:41] rvraghav93 commented on #5415
Fix at #5420

[2015-10-16 14:31] lesteve commented on #5419
Just curious, is it a problem for you that the `y` output array is not in the same order as the `x` input array?

You could say the same of the transpose operation by the way:
[code]

[2015-10-16 14:39] rvraghav93 commented on #5405
Hmm the `RandomTreesEmbedding` doesn't seem to map the data to a higher dimensional space... `X_transformed` has a shape of `(100, 1)`...

@MechCoder ping!!

[2015-10-16 14:43] sotlampr commented on #5380
Could you please give me feedback on [this](https://github.com/sotlampr/scikit-learn/commit/a2526864faf5d9f5adaf88e8df25a57740297a50)?

[2015-10-16 14:43] rvraghav93 commented on #5405
[code]
[code]

[2015-10-16 14:51] rvraghav93 commented on #5407
@amueller Sorry I don't get you... could you please explain a bit on what to interpolate and what you mean by "the change"?

[2015-10-16 14:57] #5404 closed

[2015-10-16 15:05] amueller commented on #4911
Maybe just the convention. Can you open a PR?

[2015-10-16 15:12] untom commented on #5419
Yes, the problem is that `fit_transform` does not keep the memory order of its input. I don't know if this can be considered a bug or not, but for me it was certainly a surprise (and did cause a bug in my code).

[2015-10-16 15:14] amueller commented on #5408
I'm surprised this wasn't caught by the common tests. We should have a fit and another fit with a different number of samples.

[2015-10-16 15:18] amueller commented on #5419
You can not assume that memory order is preserved. It's not a bug. The only way to avoid changing the memory layout would be to possibly do a copy of the data at the end, which would be useless in most cases. Each algorithm should take care of the data being in the right format for the algorithm itself.

[2015-10-16 15:28] amueller commented on #5419
We should document that output ordering and sparse matrix types are not preserved by transform.
I suggest putting it in the Conventions section.

[2015-10-16 15:28] amueller commented on #5419
Or the FAQ? Should the conventions be in the FAQ? hm...

[2015-10-16 15:33] amueller commented on #5407
By change I mean #5237 and by interpolate I mean using interp like here https://github.com/scikit-learn/scikit-learn/blob/master/examples/model_selection/plot_roc_crossval.py#L72

[2015-10-16 15:35] rvraghav93 commented on #5407
Thanks! I'll give this a shot now... :)

[2015-10-16 15:39] MechCoder commented on #5405
on it

[2015-10-16 15:43] amueller commented on #5380
@sotlampr that's a good start. Did you run the tests?
If you do a PR the continuous integration will run them for you btw.

[2015-10-16 15:46] amueller commented on #5418
What do you mean by classifying and then doing a regression? SOM's are unsupervised, right?
So you want to cluster the data and then run a separate regression model on each cluster?

There is no ready-made solution for that in scikit-learn. In particular if you want to use different features, this doesn't really fit into the scikit-learn interface. Using the same features, you could easily write a

[2015-10-16 15:46] amueller commented on #5418
I think the method is too specialized to add it to scikit-learn, so closing.

[2015-10-16 15:46] #5418 closed

[2015-10-16 15:47] #5408 closed

[2015-10-16 15:57] amueller opened #5422 "logistic regression with class weight balanced"
There is some special treatment for OVR and multinomial in logistic regression for class-weight ``"auto"`` but not for ``"balanced"``. I assume that's a bug.

[2015-10-16 15:59] MechCoder commented on #5405
See https://github.com/scikit-learn/scikit-learn/pull/5423 . I did not notice that `RandomTreesEmbedding` has its own transform

[2015-10-16 16:00] amueller commented on #1850
patience ;) This is one of the highest things on my never-ending priority list. But we need to merge the ``model_selection`` refactoring before that. and before that we have to do a release

[2015-10-16 16:05] #5422 closed

[2015-10-16 17:20] absolutelyNoWarranty commented on #5340
I've submitted a pull request changing the defaults.

Turns out there's no real difference between the two implementations just that sklearn uses squared Euclidean distances by default which I forgot to do in MATLAB.

In summary the major source of error seems to be the bad default damping factor while the use of squared Euclidean distances acted as a minor source of error. Number of iterations wa

[2015-10-16 17:45] amueller commented on #5340
Thanks for the detailed checks :)

[2015-10-16 18:26] MechCoder commented on #5392
I'm closing this right now. Have a look at https://github.com/scikit-learn/scikit-learn/issues/5387 for discussions.

[2015-10-16 18:26] #5392 closed

[2015-10-16 18:30] adijo commented on #5387
I'll try and do the consistent example of RANSAC and Theil-Sen Regression. Right now two pages exist for [RANSAC](http://scikit-learn.org/stable/auto_examples/linear_model/plot_ransac.html) and [Theil-Sen](http://scikit-learn.org/stable/auto_examples/linear_model/plot_theilsen.html) each. How should the examples be structured? Should there be only one page for both of these models?

[2015-10-16 18:32] MechCoder commented on #5387
I'm thinking it is all right now to have two examples, we already have an example showing everything together http://scikit-learn.org/stable/auto_examples/linear_model/plot_robust_fit.html

[2015-10-16 18:33] wujw13 commented on #5403
@rvraghav93
I think the emotions dataset may not be used.
In its **End User License Agreement**, it suggests that "The user may not distribute the dataset or portions thereof in any way".
Is there second choice of a dataset that fits requirements?

[2015-10-16 18:35] adijo commented on #5387
Then what is to be changed exactly? #5392 was asking for a consistent example of the two right? Thanks.

[2015-10-16 18:38] MechCoder commented on #5387
Yes, I'm extremely sorry. I think that it is not necessary right now (which is why I closed it).
Please have a look at other Easy issues if you are interested in contributing.

[2015-10-16 18:41] adijo commented on #5387
Sure, no problem. Thanks!

[2015-10-16 18:45] adijo commented on #5389
Is anyone working on this? Should I pick this up? I am new and would like to start contributing. Does this issue refer to the example in [this](http://scikit-learn.org/stable/modules/generated/sklearn.cross_validation.train_test_split.html#sklearn.cross_validation.train_test_split) page?

[2015-10-16 18:49] rvraghav93 commented on #5403
Wait lets ping @arjoly or @amueller for suggestions :)

[2015-10-16 19:14] olologin commented on #5150
[code]

produces
[code]

How about such results? Confusing, but at least it looks mathematically correct. And current master already produces same output if you will run this code:
[code]
Which is the same. Because here we vanish class_weight for second class, instead of doing it through sample_weights.

[2015-10-16 19:36] amueller opened #5427 "OS X travis has old gcc?"
This build: https://travis-ci.org/MacPython/scikit-learn-wheels/jobs/85779070
uses gcc-4.2 and the broken ``-Wunreachable-code`` which makes the log so long that travis refuses to build.

[2015-10-16 19:39] amueller opened #5428 "Python3.3 compatibility"
There seems to be a single line in a test that is not 3.3 compatible. I guess we fix it.
It seems odd to provide wheels but not to CI, though.
[ImportError: cannot import name reload](https://travis-ci.org/MacPython/scikit-learn-wheels/jobs/85779068)

[2015-10-16 22:15] amueller commented on #5150
so it is just using ``"balanced"``?
Why do you say this is correct, though? shouldn't the probability for class 2 be zero?

[2015-10-16 22:33] amueller opened #5430 "std_ deprecation warnings"
I get a bunch of those in master:
[code]

[2015-10-16 22:37] amueller commented on #5427
``C compiler: gcc-4.2 -fno-strict-aliasing -Wsign-compare -Wunreachable-code -fno-common -dynamic -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -arch i386 -arch x86_64 -g`` why??

[2015-10-16 22:55] amueller commented on #5427
I actually diffed the travis output. The only difference between the 3.4 and 3.5 build are that 3.5 has some extra C compiler args. Beats me. I restarted the job to see if it was a glitch in the matrix.

[2015-10-16 23:26] amueller commented on #5427
"These lines are for demonstration purposes only; distutils users should trust that distutils gets the invocations right." thank you, [distutils documentation](https://docs.python.org/2/extending/building.html).

[2015-10-17 00:09] amueller commented on #5427
Let's see if https://github.com/MacPython/scikit-learn-wheels/commit/c3a0481d53dba102edadc5ca985ee4892b345640 doesn anything.

[2015-10-17 06:02] sumitbinnani commented on #4911
Sure! Will make the required changes ASAP.

[2015-10-17 07:04] olologin commented on #5150
@amueller,

No, i forced SVC to use any sample_weights. To obtain such results i've removed this call https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/src/libsvm/svm.cpp#L2342 And all corresponding memory allocation/deallocation. Function call at that line is removing samples from dataset, whose sample_weight is equals to zero. And if it deletes samples of entire class - svm tr

[2015-10-17 07:19] olologin commented on #5150
Maybe it's easier to just fix meta estimators, so that they wouldn't pass 0 weight samples into estimators. And throw an error for any such input. Bagging for example can can chose samples for estimator training by choosing weights (default, if estimator supports sample_weights), or subsampling from dataset.

Because in case with this bug, if you want to return 0 prob for any 'incorrect' class, yo

[2015-10-17 07:24] #5405 closed

[2015-10-17 08:39] TomDLT commented on #5415
Sorry I introduced this bug in this commit https://github.com/scikit-learn/scikit-learn/commit/94eb61960a13f84a8be0dd527012f929172a0d60#diff-1452d97adf1a0b794930e405aa58d64bR613

It should be solved in #5008

[2015-10-17 10:47] jnothman commented on #5418
For clusterers supporting predict, it's not complicated to produce something like (untested):

[code]

[2015-10-17 13:38] ogrisel commented on #5428
Fixed and backported to 0.17.X.

[2015-10-17 13:38] #5428 closed

[2015-10-17 21:08] ishank08 commented on #5373
Can you please check out https://goo.gl/gwQWGr
I am getting error  "Empty cluster found, try smaller n_cluster" while running kernel k-means on pca reduced digit dataset.

[2015-10-17 23:34] hlin117 commented on #5322
Please look at PR #5431.

[2015-10-18 08:13] giorgiop commented on #5430
I can take care of this. They come from the last changes of StandardScaler.

[2015-10-18 08:27] giorgiop commented on #5430
[for my own reminder] I will go through the examples as well.

[2015-10-18 15:27] amueller commented on #5430
thanks :)

[2015-10-18 15:50] Sandy4321 commented on #4935
ok
thanks

On Thu, Oct 15, 2015 at 3:01 PM, Olivier Grisel <notifications@github.com>
wrote:

[2015-10-18 16:02] ogrisel commented on #5412
Is it random or can it be reproduced?

[2015-10-18 16:54] amueller commented on #5412
I get it every time, I think.

[2015-10-18 17:01] amueller commented on #5412
I get it deterministically using
[code]

[2015-10-18 17:15] amueller commented on #5150
I think this should be fixed in libsvm. Do you have an explanation for the libsvm behavior? It seems highly odd to me. I guess it is a combination of how the class weights change the loss combined with the OVR approach. I don't have time to go through the math right now.

This seems to be separate from the "balanced' / "auto" issue, though, right?

[2015-10-18 17:20] amueller commented on #5389
I don't think anyone is working on this right now. We need to get it done within the next week, though.

It's not about an example, it's about the ``train_test_split`` function, and I think also GridSearchCV, RandomizedSearchCV and cross_val_score``. Though I'm not sure how important it is there. It should say in ``train_test_split`` that the output type depends on the input type and it doesn't co

[2015-10-18 19:28] amueller opened #5432 "Dataset docs don't show up"
The docs included here #4631 don't show up as far as I can see. It looks like the rst is not in the toc tree.

[2015-10-18 22:07] martin-frodl commented on #5412
Issue reproduced. Would you let me have a look into the matter and try to fix it? I am new here and would like to start contributing to the project.

[2015-10-18 22:52] naught101 commented on #5418
Thanks @jorthman, that's exactly the kind of thing I what I was talking about. I guess I could extend something like that to split the features for clustering and regression, if necessary.

[2015-10-19 04:46] jnothman commented on #5418
Now a gist: https://gist.github.com/jnothman/566ebde618ec18f2bea6

[2015-10-19 05:31] Jeffrey04 opened #5433 "MaxAbsScaler is unable to scale a 1-row sparse matrix"
Suppose I have my collection of data scaled with MinMaxScaler. Then I need to transform a new sparse matrix with one row (sparse vector?), eg.

[code]

the shape is (1, 58188)

However, if I attempt to transform the 1-row sparse matrix above (so I can do comparison with the training data), I get this assertion error

[code]

the value for scaler._scale.shape is (58188,)

The workaround to the prob

[2015-10-19 06:45] jnothman commented on #5433
I concur that fragment looks like it implements strange and undesirable
behaviour...

On 19 October 2015 at 16:31, Jeffrey04 <notifications@github.com> wrote:

[2015-10-19 06:46] jnothman commented on #5433
Ping @untom

On 19 October 2015 at 17:45, Joel Nothman <joel.nothman@gmail.com> wrote:

[2015-10-19 07:54] olologin commented on #5150
No.

Can you point at that issue? I don't know about which you are asking.

[2015-10-19 08:12] fabianp commented on #5158
This looks like solved to me after pull request #5159

[2015-10-19 08:12] #5158 closed

[2015-10-19 08:37] massil94 commented on #3450
@othersParticipantsOfParisSprint : I'm working on this one

[2015-10-19 08:38] aabadie commented on #5432
I can have a look if you agree.

[2015-10-19 08:43] giorgiop commented on #5433
Just as a note, this is MaxAbsScaler right? MinMaxScaler does not support sparse input.

[2015-10-19 08:46] KamalakerDadi commented on #3379
After discussions with Denis, I am taking over this idea to port MNE-Python files to Scikit Learn.

Links:

Main codebase:
https://github.com/mne-tools/mne-python/blob/master/mne/preprocessing/infomax_.py

Tests:
https://github.com/mne-tools/mne-python/blob/master/mne/preprocessing/tests/test_infomax.py

Work goes like this:

* I will port the code files into scikit learn decomposition repository

[2015-10-19 08:48] raghavrv opened #5434 "Remove deprecated stuff that will no longer be supported by 0.18"
Best way to find deprecated stuff is to do a `git grep "0\.18"` and see where it says "will be removed in 0.18" or "will no longer be supported from 0.18" or something similar to that and explore the file where that line is found.

Once you have removed the deprecated stuff please commit your work and send a PR similar to #5437 with the issue description that it "Partly fixes #5434".

(The [MRG] a

[2015-10-19 08:49] tomMoral commented on #4976
I will look into it today.

[2015-10-19 08:49] GaelVaroquaux commented on #4922
Closing as Fixed. Thanks!

[2015-10-19 08:49] #4922 closed

[2015-10-19 08:53] dengemann commented on #3379
Great, it's a perfect moment, with @jmontoyam we refactored the info max code and fixed a couple of bugs over the last months, it should now give the same results as the canonical MATLAB implementation shipped in EEGLAB.
See also thise PR:
https://github.com/mne-tools/mne-python/pull/2460#issuecomment-138856908

So it's ineed a great moment to port it to sklearn.

[2015-10-19 08:55] zermelozf commented on #5434
Hi, this is the first time I contribute to sklearn. I'd like to help fixing this issue.

[2015-10-19 08:58] GaelVaroquaux commented on #4735
This has been done. Closing as fixed!

[2015-10-19 08:58] #4735 closed

[2015-10-19 08:58] arthurmensch commented on #5412
I get this error from time to time using parallel and caching. Can't reproduce it on master though

[2015-10-19 09:01] Jeffrey04 commented on #5433
yes, MaxAbsScaler

[2015-10-19 09:04] MaPePeR opened #5435 "red/green scatter plots. Colorblindness friendlyness in Documentation"
I noticed this while reading the [documentation on SVMs](http://scikit-learn.org/stable/modules/svm.html), but it might also be a problem on other pages.

The plots on that documentation page make heavy use of red and green to separate different types of classes in the scatter plot.
Given that red/green is the color combination that is the most common colorblindness i consider this a very bad choi

[2015-10-19 09:06] GaelVaroquaux commented on #5435
I agree with you an it would be great to get a pull request fixing this.

[2015-10-19 09:10] Mbompr commented on #5407
I have sent a pull request for this :).
https://github.com/scikit-learn/scikit-learn/pull/5436

[2015-10-19 09:33] glouppe commented on #5368
It is easy when you have understood the codebase, but it is true that people may not know where to look at when they arrive. Maybe we could make it possible to pass Criterion object directly, as we do for Splitter? Then one would not have to hack around.

[2015-10-19 09:48] AlexandreAbraham commented on #5024
I'm working on it.

[2015-10-19 09:48] glouppe commented on #4375
Closing this as we could not reproduce the error. Please reopen if you still encounters this bug now in master, including data on which it fails.

[2015-10-19 09:48] #4375 closed

[2015-10-19 09:52] glouppe opened #5441 "Add an example showing how to extract prediction paths in forests"
As discussed in #2937, it would be nice to add an example showing how to extract prediction paths in forests and trees.

See also #1105 as we have no example showing how to plot decision trees.

[2015-10-19 09:53] saj1919 opened #5442 "Categorical feature in Tree-based classifiers"
Hi,
How categorical features are handled in sklearn ?
I have used R version which handles strings. Also AN6U5 says tree classifiers can handle categorical features (link - http://datascience.stackexchange.com/questions/5226/strings-as-features-in-decision-tree-random-forest)

But when I tried data which have city names and state names  .. I can not pass them directly. I had to use LabelEncoder so

[2015-10-19 09:56] ogrisel commented on #5433
I agree the code fragment looks wrong. @Jeffrey04 do you want to work on a PR to fix this or would you like someone else to get it fixed?

[2015-10-19 10:00] glouppe commented on #1105
Maybe this could be done as part of #5441

[2015-10-19 10:07] ogrisel commented on #5442
At the moment it cannot. In practice, RF tends to be robust to categorical features abusively encoded as integer features.

There is a PR to add proper categorical variable handling to the trees in #3346 but it needs to be updated to work with the recently refactored scikit-learn Cython code for trees.

[2015-10-19 10:09] eickenberg opened #5444 "Common test for effect of sample_weight"
Add a test for the following:

A sample weight of 2 (3, 4, 5, n) on a given sample should have the same effect as placing this sample 2 (3, 4, 5,  n) times in the data. This should hold for many estimators, especially those that fully optimize a convex loss.

[2015-10-19 10:09] eickenberg commented on #5444
working on this this afternoon

[2015-10-19 10:09] Jeffrey04 commented on #5433
It would probably take me forever as I am not very familiar with scipy/scikit-learn :P
I can try, but I can't promise
is there unit test(s) I need to pass for this?

[2015-10-19 10:34] arjoly commented on #5403
An another good choice is the "scene" dataset. I hope it is not "too" big in term of memory footprint.

[2015-10-19 10:44] glouppe commented on #4768
See also #3645

[2015-10-19 11:12] eickenberg commented on #5364
I will take a look at this during this afternoon

[2015-10-19 11:23] giorgiop opened #5447 "DOC: add example for normalization vs. standardization for linear models"
Standardize vs. normalize in linear models.
We need an example as explained [here](https://github.com/scikit-learn/scikit-learn/issues/2601#issuecomment-148071040). One can take inspiration from this [gist](https://gist.github.com/GaelVaroquaux/2465c9f3421a393b785f).

@GaelVaroquaux could you add the relevant labels please?

[2015-10-19 11:23] lesteve commented on #5412
I can reproduce and it is deterministic indeed. I'll try to understand more in detail where it is coming from.

Note: this is not a test error per se, it just shows up as some printed output.

@martin-frodl maybe not the best issue to start contributing to scikit-learn. The root cause of this lies in  joblib which is a separate project.

[2015-10-19 11:26] arthurmensch commented on #4896
This is outdated and should be close

[2015-10-19 11:28] glouppe commented on #4637
Fixed in #4636

[2015-10-19 11:28] #4637 closed

[2015-10-19 11:37] glouppe commented on #1763
`sklearn.utils` now includes `compute_sample_weight`, which can be use to reproduce what `balance_weights` did.

Actually, we could now remove `sklearn.preprocessing._weight._balance_weights`.

If somebody at the sprint wants to tackle this, it shouldnt be too hard.

[2015-10-19 11:41] TomDLT opened #5450 "LogisticRegressionCV handles class weights differently"
These two classifiers are not equivalent:
[code]
Indeed, the first one computes different `class_weights` for every folds, whereas the second one uses the same `class_weights` for every folds. That is why have [this line](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tests/test_common.py#L116)

I am working on it

[2015-10-19 11:45] sshkhrnwbie commented on #5441
Hi,
I am new to both scikit-learn and open source and have been wanting to get started with contributing to scikit-learn since a few days. I have gone through the  contributing page and was wondering if this is a suitable problem for a beginner ?

If yes, could you please guide me a little regarding this issue ?

[2015-10-19 12:49] MaryanMorel commented on #5447
I can work on this issue. Shall I add the example in `examples/calibration` ?

[2015-10-19 13:03] saj1919 commented on #5442
Thanks for the quick reply. Was getting good results with RF with LabelEncoding so got confused.

[2015-10-19 13:13] zermelozf commented on #5434
I've also started looking at:
[] `estimator_params` in `sklearn/feature_selection/rfe.py`
[] `threshold` in `sklearn/covariance/outlier_detection.py`
[] `precompute` in `sklearn/linear_models/coordinate_descent.py`

[2015-10-19 13:14] giorgiop commented on #5447
Thanks! I would rather put it in `examples/linear_model`

[2015-10-19 13:15] aabadie commented on #5434
Other deprecated code:
* _fixed_vocabulary_ property in *feature_extraction/text.py*
* _estimator_params_ in RFE ctor => *feature_selection/rfe.py*
* _precompute_ in ElasticNet ctor => *linear_model/coordinate_descent.py*

...

[2015-10-19 13:21] aabadie commented on #5434
I'll work on deprecated code in _metrics_

[2015-10-19 13:22] fabianp opened #5453 "GaussianProcess does not allow multidimensional initialization parameters"
Contrary to what is said on [the documentation](http://scikit-learn.org/dev/modules/generated/sklearn.gaussian_process.GaussianProcess.html#sklearn.gaussian_process.GaussianProcess), it does not seem like GaussianProcess allows to specify initialization parameters theta0, thetaL, thetaU to have shape (n_features,). Here is a minimal reproducing example:

    import numpy as np
    from sklearn imp

[2015-10-19 13:26] ZaixuCui commented on #1513
Because I use scikit learn to do SVR, elastic-net.
So, if there is a RVR implementation, I will not need to do use matlab when
do machine learning analysis.

Thanks very much.
Wishes you all the best

Zaixu

On Thu, Oct 15, 2015 at 11:13 AM, Andreas Mueller <notifications@github.com>
wrote:

[2015-10-19 13:28] GaelVaroquaux commented on #1513
You can use the Python code doing RVR that we pointed to in the
discussion.

[2015-10-19 13:36] rvraghav93 commented on #5434
@agramfort @ogrisel @GaelVaroquaux could you reopen this please? :) (sorry my PR description at #5437 closed this automatically :/ )

[2015-10-19 13:39] #5430 closed

[2015-10-19 13:45] ZaixuCui commented on #1513
OK，thanks

On Mon, Oct 19, 2015 at 8:29 AM, Gael Varoquaux <notifications@github.com>
wrote:

[2015-10-19 13:52] glouppe commented on #1513
Couldnt we implement this as very lightweight class based on our new Gaussian Process implementation? As a far as I understand, RVR is only the name given to a GP with a special kind of kernel.

Though this would require only minimal effort, basing the implementation of RVR on the one of GP may not be the most appropriate thing to do? CC: @jmetzen

[2015-10-19 14:03] ogrisel opened #5455 "Configure the travis cache for miniconda and pip downloads"
travis-ci can declare some folders as cached folders to limit the amount of download we do at each build and hopefully speedup the build and avoid wasting bandwidth on redundant downloads.

Our `.travis.yml` could be refactored to benefit from this for instance by taking inspiration from theano's:

https://github.com/Theano/Theano/blob/master/.travis.yml#L4

[2015-10-19 14:08] zermelozf commented on #5434
@agramfort @ogrisel I am deprecating `gamma == 0.0` and [this line](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/base.py#L179) seems to set gamma to 0.0 anyway. What is the correct behaviour in this case?

[2015-10-19 14:19] GaelVaroquaux commented on #5390
Seems that the consensus is going toward removing shuffling for 0.17 and finding a good strategy after.

[2015-10-19 14:29] waterponey commented on #4986
I wrote an yml conf file based on the nilearn example (https://github.com/nilearn/nilearn/blob/master/circle.yml).

It builds the latest sources and docs on master only. The list of the builded documentation for this version https://circleci.com/api/v1/project/waterponey/scikit-learn/15/artifacts

Also you can see here the log (and the Traceback there) https://circle-artifacts.com/gh/waterponey/sc

[2015-10-19 14:33] wujw13 commented on #5403
All right. I will check this dataset.

[2015-10-19 15:05] #4986 closed

[2015-10-19 15:05] arjoly commented on #5441
I am already working on this.

[2015-10-19 15:06] #5024 closed

[2015-10-19 15:14] martin-frodl commented on #5412
Okay, I think I figured it out. The problem seems to be in the backslash inside a docstring in sklearn/metrics/pairwise.py on line 1283:

[code]
When the backslash is removed, the error does not appear anymore.

Is it acceptable to remove the backslash, or would it break the documentation in any way?

[2015-10-19 15:17] GaelVaroquaux commented on #5412
What would be great would be to find a minimal way of reproducing the
problem with only joblib, and not the scikit-learn code, so that you can
try and fix it.

Wrt whether it breaks the doc building or not, I don't know :$

[2015-10-19 15:21] tomMoral commented on #4523
We looked into it today. Our understanding of the concensus is:
* We should add a list PAIRWISE_BOOLEAN_METRIC in pairwise.py and check for those metrics that the input array is boolean in pairwise_distances before pdist.
* Else we raise a warning and cast the array to boolean.

Is that correct? Shouldn't we switch to using the dist_metrics implementation of the metric?

[2015-10-19 15:29] amueller commented on #1105
sounds good.

[2015-10-19 15:29] lesteve commented on #5412
Good you found that the backslash in the doc was the culprit ! It would be great to reproduce the problem with joblib only as @GaelVaroquaux was saying.

I have a simple work-around that checks for tokenize.NL on top of tokenize.NEWLINE for raising an IndexError but I have to say I don't really understand the problem in depth to know whether that is the right thing to do.

The backslash is there f

[2015-10-19 15:31] amueller commented on #5412
@martin-frodl nice catch. that is slightly crazy

[2015-10-19 15:37] martin-frodl commented on #5412
@GaelVaroquaux @lesteve I will try to figure out the root cause in joblib as well if you give me a while.

[2015-10-19 15:40] GaelVaroquaux commented on #5412
That's just awesome. Thank you!

[2015-10-19 15:42] tomMoral commented on #5455
I'd like to take a shot a this one.

[2015-10-19 15:46] rvraghav93 opened #5463 "[RFC+SLEP?] Split utils into private and public parts"
Reorganize the utils into a neat hierarchy and clearly demarcate what is private and what is public.

@GaelVaroquaux @amueller to be tagged "Large scale / medium / hard?" & "API"

[2015-10-19 15:56] arthurmensch opened #5464 "Coordinate descent should work on float32 data (in addition to float64 data)"
For large scale application, constraining `ElasticNet` input to be `float64` is a waste of space, as same quality results should be obtainable with `float32` or event `float16` input.

Use of cython in coordinate descent module make the type flexibility a bit tricky, but should be doable.

[2015-10-19 15:58] GaelVaroquaux commented on #5464
We need to use fused types for this (read on cython fused types).

[2015-10-19 15:58] ogrisel commented on #5434
Setting `gamma` to `"auto"` should do the `1 / n_features` heuristic I think. I think this heuristic comes from the libsvm code base (to be checked).

[2015-10-19 16:00] amueller commented on #4986
should we have shields or quicklinks to this?

[2015-10-19 16:01] rvraghav93 commented on #5434
Hmm.. This [line](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/base.py#L179) seems to set it to 0.0 explicitly. Do you mean to say that `libsvm` does applies this heuristic after it gets set at that line?

[2015-10-19 16:01] sshkhrnwbie commented on #5441
Ok, I will see your PR and try to get some intuition.

[2015-10-19 16:03] ogrisel commented on #5434
It's likely, yes. Please check the libsvm code.

[2015-10-19 16:07] rvraghav93 commented on #5434
Okay! Will do... :)

[2015-10-19 16:10] GaelVaroquaux commented on #4986
Right now it is still a bit brittle. But hopefully yes, soon.

[2015-10-19 16:18] amueller commented on #5434
yeah libsvm sets it to ``1 / n_features`` if it is ``0.0`` which is ugly which is why we renamed it to auto

[2015-10-19 16:19] amueller commented on #5434
The line you linked to should be removed methinks and later on ``auto`` should be used instead of ``0.0``.

[2015-10-19 16:22] rvraghav93 commented on #5434
Do you mean to say upon `auto` we set it to `1 / n_features` (or pass it as `"auto"` to the liblinear?)

[2015-10-19 16:25] amueller commented on #5434
the former

[2015-10-19 16:29] ogrisel commented on #5434
+1

[2015-10-19 17:36] glouppe commented on #4578
This is now possible in the new implementation. See the kernel interface and examples for how to do that. Closing.

[2015-10-19 17:36] #4578 closed

[2015-10-19 17:40] glouppe commented on #5119
Closing. @jmetzen new implementation has been merged.

[2015-10-19 17:40] #5119 closed

[2015-10-19 17:42] glouppe commented on #3162
Closing, as a new implementation of gaussian processes has just been merged (#4270). Please reopen if the new implementation fails on the same issue, though I hope it does not.

[2015-10-19 17:42] #3162 closed

[2015-10-19 17:46] glouppe commented on #5453
Closing, this is now possible with the new implementation, though the interface is different.

[2015-10-19 17:46] #5453 closed

[2015-10-19 17:48] glouppe commented on #2520
Closing. A new implementation of gaussian process has just been merged (see #4270) and offers this feature.

[2015-10-19 17:48] #2520 closed

[2015-10-19 17:51] glouppe commented on #3650
Closing. We now have a new implementation of gaussian processes (see #4270).

Please reopen if you find similar problems with this new implementation.

[2015-10-19 17:51] #3650 closed

[2015-10-19 17:54] glouppe commented on #3138
Closing. The new implementation of gaussian processes (see #4270) now includes the Matern kernel.

See also #3885 for another implementation in the pairwise module.

[2015-10-19 17:54] #3138 closed

[2015-10-19 18:07] amueller commented on #3162
Maybe we should have tested all the issues ;) Sounds like a good task for the print? ^^

[2015-10-19 21:31] GaelVaroquaux commented on #4976
Fixed by #5445

[2015-10-19 21:31] #4976 closed

[2015-10-19 22:50] hlin117 opened #5472 "Circle CI fails to build because of missing numpy package"
Might be related to #5459?

If you take a look at <a href="https://circleci.com/gh/scikit-learn/scikit-learn/36">this build</a>, the build is failing because numpy is not installed.

[2015-10-19 22:52] GaelVaroquaux commented on #5472
You need to rebase on master, to incorporate the circleci.yml file.

[2015-10-19 22:52] #5472 closed

[2015-10-19 22:54] hlin117 commented on #5472
Embarrassing of me. Thank you.

[2015-10-19 22:56] GaelVaroquaux commented on #5472
No it's not. It's not that obvious to guess.

[2015-10-19 23:00] aewhatley opened #5473 "Approximate runtimes for sklearn functions?"
This is not an issue with any library, but something that I cannot find information that could be helpful for new users would be tables listing the approximate runtime of the different machine learning algorithms depending on the size of the input and the other specified parameters i.e. SGD, Logistic Regression, SVM, etc.

Thanks.

[2015-10-20 01:56] hlin117 commented on #5472
It that even after the rebase, the build is still failing. (<a href="https://circleci.com/gh/scikit-learn/scikit-learn/51">Here</a>.) I don't think that my latest PR is what's causing the issue. Can you see what's wrong, @GaelVaroquaux?

If I were to guess, it has to do with how Circle CI handles doctests.

![screenshot 2015-10-19 20 54 37](https://cloud.githubusercontent.com/assets/1865885/105959

[2015-10-20 05:58] GaelVaroquaux opened #5474 "Gaussian Process examples require too recent version of matplotlib"
Looks like the example are dependent on a very recent version of matplotlib, and that breaks CircleCI (our new CI infrastructure that is meant for testing the examples:):

https://circleci.com/gh/scikit-learn/scikit-learn/51

Specifically, in plot_gpc.py, there is, on line 95, plt.colorbar(label="Log-marginal Likelihood")

And the version of matplotlib that we have doesn't like the 'label' argumen

[2015-10-20 05:59] GaelVaroquaux commented on #5472
OK, that seems legit:
https://github.com/scikit-learn/scikit-learn/issues/5474

Don't worry about it, though.

[2015-10-20 06:02] hlin117 commented on #5472
Thanks. I'm glad I'm able to point out this issue to you guys.

[2015-10-20 06:22] hlin117 commented on #5474
According to the build, it looks it's installing <a href=http://packages.ubuntu.com/precise/python-matplotlib>this version</a> of matplotlib, which is 1.1.1.

It looks like matplotlib needs to be upgraded to at least 1.3.1. This is when the ColorbarBase class first gets its label parameter. (<a href="http://matplotlib.org/1.3.1/api/colorbar_api.html#matplotlib.colorbar.ColorbarBase">Docs here.</a>

[2015-10-20 06:23] GaelVaroquaux commented on #5474
Let's just not use the 'label' option. I don't think that it is worth
bumping the version of matplotlib (and thus have examples that don't run
for some people).

[2015-10-20 06:23] lesteve commented on #5474
There is another matplotlib-related error if you look more closely at the [log](https://circle-artifacts.com/gh/scikit-learn/scikit-learn/51/artifacts/0/home/ubuntu/log.txt) in plot_approximate_nearest_neighbors_hyperparameters.py:

[code]

[2015-10-20 06:25] GaelVaroquaux commented on #5474
OK, that's easy. It's a question of using

plt.legend(loc='upper left', prop=dict(size='small'))

[2015-10-20 07:06] glouppe commented on #5473
You mean, adding order of complexity for `fit` and `predict`?

[2015-10-20 07:40] adijo commented on #5389
I made the change in the `train_test_split` function documentation with pull request: #5476. If that is fine, I will work on the documentation on `GridSearchCV` as well as `RandomizedSearchCV` if that is required.

[2015-10-20 07:50] sotlampr commented on #5380
I made a new attempt at this: [#5424](https://github.com/scikit-learn/scikit-learn/pull/5424).
The tests failed (L7153 @ AppVeyor), can somebody take a look and give advice about how I should proceed?

[2015-10-20 07:52] pletelli commented on #5474
On it !

[2015-10-20 08:08] arthurmensch commented on #5290
I am currently looking at the way pandas does.

[2015-10-20 08:33] glouppe commented on #5385
Hmm, I cannot reproduce this locally. I see memory properly freed between each call.

@jmschrei Maybe we have some dangling references to X, y or X_idx_sorted somewhere in Criterion, Splitter or Builder?

[2015-10-20 08:34] rvraghav93 commented on #5447
@MaryanMorel are you working on this? :) If so @GaelVaroquaux can you remove the need contrib tag please?

[2015-10-20 08:35] MaryanMorel commented on #5447
Yes I'm almost done

[2015-10-20 08:54] sytham opened #5477 "Change default F1 score behaviour for binary classification"
The current default behaviour of the f1_score metric and similarly the 'f1' score string for model selection in binary classification is to take the f1 score of the class labeled 1.

This is a bad idea. This means a classifier that predicts all 1s can get a pretty decent score (e.g. 2/3 on perfectly balanced classes).

I suggest that either
a) the documentation should be adjusted to make this very

[2015-10-20 09:11] sumitbinnani commented on #4911
Have made the required changes but getting connection error while connecting to GIT. Maybe I changed some config of my VM. Will update asap. Sorry for the delay.

[2015-10-20 09:34] giorgiop commented on #4629
This is addressed by #5141.

[2015-10-20 09:38] rvraghav93 commented on #5373
@ishank08 Could you raise a PR so we can take a look at your code?

[2015-10-20 09:41] rvraghav93 commented on #5455
PR at #5467

[2015-10-20 09:42] rvraghav93 commented on #5432
PR at #5438

[2015-10-20 09:48] rvraghav93 commented on #5434
@aabadie Are you working on the metrics? :) if so we can remove the "Need Contributors" tag I think (since @zermelozf has fixed the rest at #5451)

[2015-10-20 09:52] jnothman commented on #5477
Precision and recall are fundamentally set-based metrics (more-or-less for binary tasks), and preferred in the case where the target for prediction is in the minority or otherwise there is a class to be ignored. If it seems in the documentation that F1 should be the default choice for all binary problems, then this unclarity should be corrected: AUC ROC (if model confidence is pertinence) or accur

[2015-10-20 10:07] GaelVaroquaux commented on #5474
Fixed via #5479

[2015-10-20 10:07] ogrisel commented on #5474
There is also:

[code]

triggered by `plot_gpc.py`.

[2015-10-20 10:08] ogrisel commented on #5474
The original bug was not fixed (only the fontsize issues).

[2015-10-20 10:12] arthurmensch commented on #5290
Following a quick review of pandas and statsmodel build structure, I think we could take inspiration from statsmodel, which uses a large quantities of pyx files in submodules, just like scikit-learn.

Doing this would involve removing setup.py files from submodules IMHO

statsmodel uses a script cythonize.py that crawl the repo looking for pyx files, cythonize pyx files only if pyx md5 has changed

[2015-10-20 10:21] peterrickwood commented on #5385
Hmmm, that's strange. When you run it do you see your memory use climb?
(over a few hours?)

It does take quite a while for the memory leak to show up (because building
each tree on the dataset in the provided code takes some time).

sklearn.__version__ is '0.16.1', btw

uname -a gives:

Darwin Peters-MBP 14.4.0 Darwin Kernel Version 14.4.0: Thu May 28 11:35:04
PDT 2015; root:xnu-2782.30.5~1/RELEA

[2015-10-20 11:17] rvraghav93 commented on #5290
+1 for a cache based setup... (This will definitely speed up our travis tests)

[2015-10-20 11:18] rvraghav93 commented on #4236
I've tried to address this at #4299 (just noting)

[2015-10-20 11:27] rvraghav93 commented on #5229
@carrillo Have you raised a PR for this?

[2015-10-20 11:32] ogrisel commented on #5464
Float16 is too low: BLAS does not support it. But float32 (in addition to float64) is a good idea.

BLAS comes in 2 flavors (for operations on real numbers as in non-complex): single precision (float32) and double precision (float64). The single precision operation are prefixed with `s` (e.g. `saxpy` and `sgemm`) while double precision operations are prefixed with `d` (e.g. `daxpy` and `dgemm`).

[2015-10-20 11:35] glouppe commented on #5060
Closed by #5084

[2015-10-20 11:35] #5060 closed

[2015-10-20 11:36] sytham commented on #5477
Thanks for the reply. To clarify, I didn't mean to say that the docs imply that F1 should be the default for all binary problems; they imply that of the F1 scores, the default F1 (i.e. 'f1' score string or f1_score without kw args) is the right one for binary classification.

I think this is not correct, though you could argue for it being the right one in case of unbalanced classes as you say. I'

[2015-10-20 11:36] #5474 closed

[2015-10-20 11:38] arthurmensch opened #5481 "Estimators should not try to modify X and y inplace in order to handle readonly memory maps"
PR #4807 reveals a variety of estimators that fails on memory mapped input, once we allow check_array to process a memory map without copying its content in memory.

Estimators failing on read only memory maps :
- the whole PLS family
- Factor analysis
- Incremental PCA
- NuSVC

Transformers :
- KernelCenterer
- MaxAbsScaler
- MinAbsScaler
- RobustScaler
- StandardScaler

Most of these should be e

[2015-10-20 11:51] ogrisel commented on #5481
For the people interested in this issue, please feel free to submit individual pull request per estimator to make the review process faster by focusing review discussions on specific estimators.

[2015-10-20 11:54] pletelli commented on #5481
I'll work on this ! May take some time to understand memorymaps & transformers better

[2015-10-20 11:57] larsmans opened #5482 "CountVectorizer with custom analyzer ignores input argument"
Example:

[code]

Same for `input="file"`. Not sure if this should be fixed or just documented; I don't like changing the behavior of the vectorizers yet again...

[2015-10-20 11:59] larsmans commented on #5482
To be sure, the current docstring says:

[code]

"Unprocessed" seems to mean that even `input=` is ignored, but this is not obvious.

[2015-10-20 12:39] aabadie commented on #5434
@rvraghav93, I have 2 PRs pending on this topic: #5457 and #5456
There are other things that someone can check in metrics/classification.py : usage of pos_label parameter has changed in 0.18. You can have a look if you want.

[2015-10-20 12:42] sygi commented on #5481
As there's quite a few estimators/transformers to work on, I'll let myself to join. I'll start with FactorAnalysis, for instance ;)

[2015-10-20 13:02] rvraghav93 commented on #5434
Thanks for the PRs!! I think we can remove the "Need contributors" tag @glouppe please? :P

[2015-10-20 13:06] jnothman commented on #5477
F1 is designed for binary classification where one only cares about one class, and doesn't care about the "negative" class. That's what I mean by sets: it is identical to the Dice coefficient. If you don't have a majority negative class, you probably shouldn't be using F1 as a first port of call.

[2015-10-20 13:07] #5477 closed

[2015-10-20 13:13] jnothman commented on #5482
I'll readily agree that's the wrong behaviour even with that docstring.

On 20 October 2015 at 22:59, Lars <notifications@github.com> wrote:

[2015-10-20 13:13] #4629 closed

[2015-10-20 13:21] amueller opened #5484 "Classifier comparison example plot looks bad"
The formatting of this plot doesn't look good any more:
http://scikit-learn.org/dev/auto_examples/classification/plot_classifier_comparison.html

Probably because some more models got added.
This example is important because it is on the landing page:
http://scikit-learn.org/dev/index.html
[and checking how it renders there would be nice]

[2015-10-20 13:22] amueller opened #5485 "plot_gp_regression was removed but is linked to in the carousel"
The carousel on the landing page uses the plot_gp_regression example that was removed of the recent gp deprecation. We should replace it, maybe by a new gp example (co2?)

[2015-10-20 13:27] glouppe commented on #5484
Maybe remove the one for single decision trees? (and keep the one for forests)

[2015-10-20 13:28] glouppe commented on #5484
Also, since GPs have an RBF kernel by default, it looks very similar to RBF-SVM.

[2015-10-20 13:30] amueller commented on #5484
we could also adjust the subplot parameters. if we want to remove something, we could also remove the lda

[2015-10-20 13:31] zermelozf commented on #4357
Is anyone working on this one in the end? If not I'd like to give it a try.

[2015-10-20 13:35] rvraghav93 commented on #4357
go for it! :D

[2015-10-20 13:37] giorgiop commented on #4357
The right reference is [this one](http://ilpubs.stanford.edu:8090/778/1/2006-13.pdf), with 1200+ citations to date.

[2015-10-20 13:42] GaelVaroquaux commented on #5484
The difference between the two is great for teaching.

Maybe the example should output 2 figures, one with the major
classifiers, and one with more.

[2015-10-20 13:43] johannah opened #5488 "NAN Errors in MDS Test on OSX El Capitan, Python 2.7"
I am seeing an error when running nosetests on a fresh developer build from commit 53bf94cdd686e41195d2ef4d9fbc3c7e83be48c1. My environments are managed with Anaconda (environment details at the bottom of this message). I have tried Scipy 0.15 and 0.16 in Python 2.7 and both presented an error message, however, the error is not present in Python 3.4. I was not able to reproduce the error on a diff

[2015-10-20 14:43] KamalakerDadi commented on #3379
@dengemann Do you think we need to change ```l_rate``` and to be prefixed to ```l_rate=0.001``` ?
Current design:
[code]
This has possibility to zero when n_features is 1 for instance.

[2015-10-20 14:46] GaelVaroquaux commented on #3379
Then we can use (n_features ** 2 + 1)  (no "2.0", as we what to use a
square function, and not and exponential function in the code path).

[2015-10-20 15:01] dballesteros7 opened #5489 "CBLAS not present but scikit does not add the local copy"
My installation with pip fails because CBLAS is not present, even though ATLAS is present and the scipy pip installation worked.

The error is:

[code]

When checking the get_info, I see:

Which indicates that NO_ATLAS_INFO is -1 so scikit-learn doesn't add its own CBLAS implementation but HAVE_CBLAS, None is indicating that it should.

Changing line 64 in sklearn/setup.py to

[code]

fixes the pr

[2015-10-20 15:06] kastnerkyle commented on #5488
@ogrisel and I were not able to reproduce, but neither one of us has El Capitan. If someone can check this on their box, it would be great.

[2015-10-20 15:07] kastnerkyle commented on #5485
+1 for co2 example - that is a classic for GP literature

[2015-10-20 15:10] kastnerkyle commented on #5481
Is PLS under a refactor right now? @arthurmensch

[2015-10-20 15:10] kastnerkyle commented on #5481
Sorry. Misclick.

[2015-10-20 15:12] kastnerkyle commented on #5481
Incremental PCA could fix this at the same time as #5173 . I see the issue but it probably means copying data per minibatch which may slow things down. And I am pretty sure @lesteve was using read only memmaps for his processing

[2015-10-20 15:32] amueller opened #5493 "document _pairwise in the dev docs"
There is a `_pairwise` attribute that some estimators have to allow cross-validation with X that is n_samples x n_samples. (for example when X is a precomputed kernel matrix).
This should be documented somewhere in the dev docs.

[2015-10-20 15:45] dohmatob commented on #5484
Yes, we can remove LDA from the bench and abbreviate "Quadratic Discriminant Analysis"
![cool](https://cloud.githubusercontent.com/assets/634068/10612719/4ffa911e-7752-11e5-9771-8d0698e5a414.png)
 to "QDA". Also we can put a title on the leftmost column.

[2015-10-20 15:48] dohmatob commented on #5484
We can also remove the inner titles in the thumbnails (they're redundant).
![cool](https://cloud.githubusercontent.com/assets/634068/10612803/ae76e512-7752-11e5-949a-f2b9689970dc.png)

[2015-10-20 15:48] heartyguy commented on #5493
I would like to take this.

[2015-10-20 15:53] amueller opened #5495 "OVR(SVC()) fails with decision_function_shape="ovr""
This fails in ``predict``:

[code]

[2015-10-20 15:55] amueller commented on #5493
@heartyguy please go ahead :)

[2015-10-20 16:02] dohmatob commented on #5473
The value of such a fine-grained report, if one got eventually implemented, is unclear to me. AFAIK, sklearn examples output  their runtime, and this gives ample information on the runtime of the underlying algorithms invoked in the respective model (i.e class).

[2015-10-20 16:09] arjoly commented on #5212
@jmschrei Do you plan to do  "Add caching of computation between different split levels to avoid recomputation"? I may find some times to work on this at the sprint.

[2015-10-20 16:12] amueller commented on #5484
@dohmatob did you open a PR?

[2015-10-20 16:17] dohmatob commented on #5495
The `_ovr_decision_function` says it requires the `confidences` param to be of shape `(n_samples, n_classifiers)`, but `(n_samples,)` is propagated instead.

[2015-10-20 16:22] dohmatob commented on #5484
Yes, https://github.com/scikit-learn/scikit-learn/pull/5494 (notified on this thread by gihub above :) )

[2015-10-20 16:29] johannah commented on #5435
I'd like to tackle this. I've identified several plots that need changes to be colorblind friendly.

[2015-10-20 16:30] amueller commented on #5473
The examples depend heavily on ``n_samples`` and ``n_features``.

[2015-10-20 16:31] amueller commented on #5484
Where? I don't see it. There is a reference to your commit, but not your PR, right?

[2015-10-20 16:35] amueller commented on #5495
Is there a test for the output shape of ``decision_function`` in ``test_common``? Is it ``(n_samples, 1)`` usually? Then that is a bug in ``decision_function_shape='ovr'`` and should be fixed and back ported.

[2015-10-20 16:39] dohmatob commented on #5495
Yes, the `decision_function` method of BaseCV needs more coverage, especially the part invoking `_ovr_decision_function`. Also, the latter should be reviewed by someone more familiar with the code base.