[2017-09-30 09:47] lesteve commented on #9856
This is a setup issue and not a scikit-learn specific one, so I am going to close this issue. I would recommend you either find someone around that can help you or you ask this kind of question on StackOverflow.

If I had to wild guess from your post, I would say try to uninstall numpy, scipy, scikit-learn, e.g. something like:

[code]

[2017-09-30 09:47] #9856 closed

[2017-09-30 10:41] cammil commented on #9827
Hi. It seems `cross_val_score` would return multiple values (one for each fold), whereas `metric(y_true, cross_val_predict(...))` would return one. So they seem to me to be obviously not equivalent. (?)

`cross-val-predict` could be used for model debugging in general (I think this is just a generalisation of your comment on visualisation of training set predictions).

I'm not sure about ensemble

[2017-09-30 12:38] Teghsummy commented on #9820
so i have the sane problem - I am assuming we just have to wait for this to be fixed externally for it to work then?

[2017-09-30 14:21] lesteve commented on #9820
You will have to wait for 0.19.1 to be released. In the mean time as a work-around you can find the file and comment out the line with the `remove(...)` call.

For example this is the stack-trace I get when trying to use fetch_california_housing on Windows:
[code]

This tells me that to work around the problem I have to comment out the line `remove_archive(path)` (line 105) in `C:\Users\lesteve\Mi

[2017-09-30 20:03] vrishank97 commented on #9543
Thanks, I took care the those PRs. I have only been working on 'easy' issues, is this something I can take up as my first larger contribution?

[2017-09-30 20:22] mehaase opened #9857 "Should not call `warnings.filterwarnings` in a library"
#### Description

Importing sklearn changes the current warning filters, making it very difficult to debug warnings using standard Python syntax, e.g `-W` command flag.

#### Steps/Code to Reproduce

The module `sklearn.cross_validation` is deprecated, and importing it results in a warning.

[code]

Okay, I'm surprised to see a DeprecationWarning — that's not supposed to happen in Python unless I

[2017-09-30 20:25] mehaase commented on #9857
This issue leads to other confusion, e.g. https://github.com/scikit-learn/scikit-learn/issues/7963

[2017-10-01 00:07] musically-ut commented on #9722
A short note: by modifying the `gamma` parameter for `laplacian` parameter to `~ [2 - 4]`, its accuracy can be made comparable to that of `rbf`, i.e. `~ 85%` accuracy.

The other dot product based kernels don't seem to improve much in performance by hyper-parameter tuning, though.

The digits dataset does not throw any warnings because the dot products of the digits and the default parameters for

[2017-10-01 03:09] jnothman commented on #9844
Don't worry about it. lgtm's check is not essential.

On 29 September 2017 at 05:54, Ariful <notifications@github.com> wrote:

[2017-10-01 03:25] jnothman commented on #9842
LabelEncoder has extensive internal use. Perhaps it should be in utils, rather than preprocessing, but that's mostly what it's used for.

names than present classes might be a reasonable solution

Pull request welcome.

[2017-10-01 03:37] jnothman commented on #8959
How do we manage your favourite option for when users run the test suite?
Notify them "skipping doctests" when their version comes back incorrect?

Would we be losing much fidelity with a global NORMALIZE_WHITESPACE with
pytest? See also #1253.

[2017-10-01 03:46] jnothman commented on #9854
I'm not sure what this means.

Perhaps what it means is: test that meta-estimators support NaN. Perhaps the same is true of some transformers (?), affinity/distance-based learners, etc.

[2017-10-01 03:50] jnothman commented on #9827
Of course they are not equivalent, but `metric(y_true, cross_val_predict(...))` is also inadvisable.

[2017-10-01 03:57] jnothman commented on #9543
That sounds like a good idea.

[2017-10-01 04:02] jnothman commented on #9857
You're right that we may be being bad citizens. We've forcibly shown the DeprecationWarnings for a long time now.

And I can't see an easy way to determine whether the user has tried to override default settings. The presence of DeprecationWarning twice in warnings.filters?

One way to change this would be to make a custom deprecation warning class that does not inherit from DeprecationWarning. Th

[2017-10-01 05:25] lesteve commented on #8959
To be honest I think I was planning to kick this one down the road for a bit. I don'am pretty sure NORMALIZE_WHITESPACE is not enough to make the doctest pass. There are two options AFAICS:
* there is a way to set the numpy array formatting to its legacy behaviour (probably the simplest option).We could add something like this in the conftest.py in the root folder for example:
[code]
* numpy was p

[2017-10-01 06:53] ashimb9 commented on #9854
Yes, estimators, transformers, metrics, what have you. My point was, if there is a well established method of handling missing value for any of these algorithms then it might make sense to actually have them capable of doing so here in sklearn. Further, my post was geared more towards things that will be added in the future since it might be relatively less work for the original author compared to

[2017-10-01 07:28] lesteve commented on #9857
@mehaase I think that is just an issue of principles vs real world and I am afraid that the latter tends to win in the long run. If there is a way to be a better citizen, given the constraints mentioned by @jnothman (look at #7963 and probably the associated PR https://github.com/scikit-learn/scikit-learn/pull/7995 for more details), then a PR is more than welcome.

If not, for the few cases where

[2017-10-01 07:39] lesteve commented on #9857
And while I am at it, let me mention this: we may be able to use the `stacklevel` argument in warnings.warn a bit better, if we were using it correctly (and with tests), the warnings would show you the offending line and you would not need to turn warnings into errors.

In @mehaase case, the warnings would point at where he imports sklearn.cross_validation, rather than sklearn/cross_validation.py

[2017-10-01 09:53] jnothman commented on #9857
It sounds like it's an issue with python, if libraries are able to (and are
forced to to set defaults) override some user discussed filters. Is there a
good way for library developers to do this?

[2017-10-01 12:50] lesteve commented on #6643
I agree with you @rth, closing this one.

[2017-10-01 12:50] #6643 closed

[2017-10-01 14:12] janvanrijn commented on #9543
@vrishank97 if you have questions about the openml side of this spectrum, you probably want to consult with @joaquinvanschoren @mfeurer or of course myself. Good luck :)

[2017-10-01 19:17] theC0der512 commented on #9856
I tried above approach it didn't solved the problem. I even tried reinstalling whole packages of anaconda & python 3.6. The approaches discussed on similar issues on stackoverflow does not lead anywhere. I really need help. I want to implement more dependent modules for my projects.

[2017-10-01 21:19] vrishank97 commented on #9543
Thanks @janvanrijn. Is a CSV file call with headers available now?

[2017-10-01 23:11] jnothman commented on #9856
Maybe someone can help you on appropriate gutter channel, or else in real
life. We really can't help you here.

[2017-10-02 11:18] PGryllos commented on #9737
Hey @jnothman I took a look at the issue yesterday and was curious to find out more about the t_sne and the trustworthiness metric so I gave it a try. Not sure about the actual gain though. It seems like a small improvement. At some point you mentioned that you can think of a better avg time algo; would that involve optimizations on the original space too?

[2017-10-02 11:58] rth commented on #9737
There are now 4 parallel PRs for this issue :/ When you create a PR for an issue, it's probably better to check that no one has created a PR for it already (the links show on the issue page). If someone has created an issue,
  * if the PR is stalled you should ask for the original author to take it over, then supersed it with your PR
  * if it is not stalled, and you still want to work on it, you

[2017-10-02 12:06] PGryllos commented on #9737
I guess you are right :) sorry, I just read a bit about the topic and saw that the other prs were not really addressing the issue and the most recent one hasn't had any update for the past 20 days :|

[2017-10-02 12:07] PGryllos commented on #9737
I guess it's a popular one because it really is a fun issue for newcomers :)

[2017-10-02 14:40] frthjf commented on #9293
I ran into the same issue recently. What's the status of this issue? @brenolf fix works for me.

[2017-10-02 21:55] PGryllos commented on #8614
Hey, if it seems like no one is working on that; can I give it a try?

[2017-10-02 22:33] akflygit opened #9864 "Improve MinCovDet.fit error when covariance is zero"
Ok this is extremely weird, can someone run this code and see if it crashes with that error?

[code]

If I change the array to this

[code]

Then it runs fine

But it seems to crash with any array where there are too many of the same values

This array crashes as well

[code]

I already checked for NANs and everything, there's nothing

Using Python 3.6.2
Pandas 0.20.3
Numpy 1.13.1
scikit-learn 0.1

[2017-10-02 23:13] jnothman commented on #8614
you're welcome to give it a go, though we often encourage new contributors
to start with something smaller to become familiar with the contribution
process. If I were you, I'd start by writing the class docstring and then
tests.

[2017-10-02 23:38] stuz5000 opened #9865 "sklearn.datasets.make_classification modifies its weights input."
#### Description

sklearn.datasets.make_classification modifies its weights parameters. Rude!

#### Steps/Code to Reproduce

[code]

#### Expected Results

weights is modified. Should be copied

#### Actual Results

Above assert is hit.

#### Versions

Current:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/datasets/samples_generator.py
[code]

Should be:

[code]

[2017-10-02 23:43] stuz5000 commented on #9865
Actually, because also:
[code]
... need to add:
[code]
... or similar at the start. (Should copy to ndarray is weights is ndarray or Series?)

[2017-10-03 00:23] ldmtwo commented on #2089
Is this getting fixed? This is also happening in RidgeCV (and I'm sure others). Thanks to this bug report, I was able to find and confirm the problem in my code.

If it helps anyone, this is the code I used to detect the problem (mean and STDEV of zero). Obviously these are useless columns if it's always zero, however a random partition/subset could just be zero in that column, so I don't want to

[2017-10-03 00:25] ldmtwo commented on #2089
Actually, here is a temporary fix. This should be made into a class, but out of laziness, this is my solution. Hope it helps someone.

def NonZeroMask(X):
    mx = np.mean(X,axis=0)+np.std(X,axis=0)
    return np.where(mx==0,False,True)

_notZero_mask_ = NonZeroMask(trainX)

def apply_mask(X):
    global _notZero_mask_
    return X[:, _notZero_mask_]

trans = FunctionTransformer(apply_mask)

print

[2017-10-03 00:28] ldmtwo commented on #2089
Actually, here is a temporary fix. This should be made into a class, but out of laziness, this is my solution. Hope it helps someone.

`def NonZeroMask(X):
    mx = np.mean(X,axis=0)+np.std(X,axis=0)
    return np.where(mx==0,False,True)

_notZero_mask_ = NonZeroMask(trainX)

def apply_mask(X):
    global _notZero_mask_
    return X[:, _notZero_mask_]

trans = FunctionTransformer(apply_mask)

prin

[2017-10-03 02:21] jnothman commented on #9865
PR including test welcome

[2017-10-03 03:25] #9844 closed

[2017-10-03 03:51] jnothman commented on #9354
So you're saying that dot is returning a less precise result than product-then-sum?

[2017-10-03 04:10] #9820 closed

[2017-10-03 06:26] ragnerok commented on #9354
No, what I'm trying to say is dot is returning more precise result than product-then-sum
`-2 * np.dot(X, Y.T) + (X * X).sum(axis=1) + (Y * Y).sum(axis=1)` gives output  `[[0.]]`
while `np.sqrt(((X-Y) * (X-Y)).sum(axis=1))` gives output `[ 0.02290595]`

[2017-10-03 07:24] reiinakano commented on #9827
I agree that it doesn't make sense for all cases, but why would it not make sense for something like accuracy?

If your CV method has imbalanced folds, for instance:

Acc: 0.67 on 20 test samples
Acc: 0.7 on 20 test samples
Acc: 0.8 on 10 test samples

simply averaging them would give the third fold disproportionate importance in the final accuracy value.

Wouldn't running `accuracy_score(y_true,

[2017-10-03 07:37] jnothman commented on #9827
On the contrary, that distribution is a good indication that either your cv
strategy is inappropriate or that you do not have enough data to get a good
estimate of generalisation error or that your generalisation error is truly
highly variable.

[2017-10-03 08:13] lesshaste commented on #9854
Methods for handing missing values with svns do exist. See e.g. http://www.sciencedirect.com/science/article/pii/S0893608005001292 .  However I don't know how good they are.

[2017-10-03 12:41] KaisJM commented on #2889
I have a similar issue with RandomizedSearchCV; it hangs indefinitely. I am using a 3 year old macbook pro, 16GB ram and core i7 and my scikit-learn version is 0.19.

Puzzling part is that it was working last Friday!!! Monday morning, I go back and try to run and it just freezes. I know from previous runs that it take about 60 min to finish, but I waited a lot longer than that and nothing happens,

[2017-10-03 13:04] jnothman commented on #2889
what is crf? just to eliminate the possibility, could you try using
return_train_score=False?

[2017-10-03 13:17] lesteve commented on #2889
It is very likely that this @KaisJM's problem is due to the well known limitation on Accelerate with multiprocessing, see our [faq](http://scikit-learn.org/stable/faq.html#why-do-i-sometime-get-a-crash-freeze-with-n-jobs-1-under-osx-or-linux).

How did you install scikit-learn?

Also for future reference, can you paste the output of:
[code]

[2017-10-03 13:27] KaisJM commented on #2889
this was working last Friday!! I done nothing since. I installed I think scikit learn is part of anaconda, but I did upgrade with pip (pip install --upgrade sklearn), but thats before I got this problem.. I ran the code fine after upgrading to 0.19.

here's the output of the above prints:

[code]

[2017-10-03 13:50] KaisJM commented on #2889
@jnothman : I am using RandomizedSearchCV from sklearn.grid_search which does not have the return_train_score parameter. I know sklearn.grid_search is depricated.. I will try the one from sklearn.model_selection, but something tells me I will have the same exact issue).

[2017-10-03 14:06] lesteve commented on #2889
Can you post the output of `conda list | grep numpy`. I would wild guess that by updating scikit-learn with pip you updated numpy with pip too and you got the numpy wheels which uses Accelerate and has the limitation mentioned above.

Small word of advice:
* post a fully stand-alone snippet (for your next issue). That means anyone can copy and paste it in a IPython session and easily try to reprod

[2017-10-03 14:07] lesteve commented on #2889
Oh yeah and BTW, sklearn.grid_search is deprecated you probably want to use sklearn.model_selection at one point not too far down the road.

[2017-10-03 14:12] KaisJM commented on #2889
output of `conda list | grep bumpy`

numpy                     1.12.0                    <pip>
numpy                     1.12.0                   py27_0
numpy                     1.13.1                    <pip>
numpydoc                  0.7.0                     <pip>

[2017-10-03 14:17] iFe1er commented on #3831
@dswah Thank you sooooooooo MUCH for solving my problem LOL

[2017-10-03 14:29] lesteve commented on #2889
Wow three numpy installed I saw two before but never three ... any way this seems indicative of the problem I was mentioning, i.e. that you have mixed pip and conda which is a bad idea for a given package.

[code]

Hopefully after that you will have a single numpy that uses MKL.

If I were you I would double-check that you don't have the same problem for other core scientific packages, e.g. scipy,

[2017-10-03 15:28] lesteve commented on #9354
It is not clear what you are doing, partly because you are not posting a fully stand-alone snippet.

Quickly looking at your last post the two things you are trying to compare `[[0.]]` and `[0.022...]` do not have the same dimensions (maybe a copy and paste problem but again hard to know because we don't have a full snippet).

[2017-10-03 15:30] KaisJM commented on #2889
the reason I resort to pip for some packages is that conda does not have some packages, which actually is very frustrating because I know mixing pip with conda is a bad idea.

[2017-10-03 16:00] ragnerok commented on #9354
Ok sorry my bad
[code]

**OUTPUT**
[code]
The first method is how it is implemented by the euclidean distance function

[2017-10-03 17:43] KaisJM commented on #2889
one thing I should've mentioned is that I installed Spyder within the python env I was working in. However, I was able to run the code after installing Spyder, both in Spyder and in Jupiter.

 I did uninstall Spyder and the numpys above, re-installed bumpy with conda (which updated scikit to 0.19) and still get the same error. Something may have happened because of the Spyder install, but then why

[2017-10-03 18:37] KaisJM commented on #2889
ok, nothing is working!! should I just create a new environment (using conda) and re-install everything there? will that solve it?

[2017-10-03 18:41] pierrewessman commented on #5884
any progress on this?

[2017-10-03 19:01] marcelobeckmann commented on #5884
I made the changes required by CI, and all the checks are passed.

[2017-10-03 19:08] rth commented on #9864
Thanks for reporting it.

 I can reproduce this error. With `np.seterr(all='raise')` the first overflow happens in ,
[code]

@akflygit could you please fix indentation in your first code block by editing your post? Thanks.

[2017-10-03 19:12] akflygit commented on #9864
Indentation fixed, thanks for pointing it out

[2017-10-03 19:28] rth commented on #9864
Thanks! The issue appears to be that the `dist_` attribute of `MinCovDet` has a lot of zeros (since you have a lot of repeated entries in your dataset), enough for `np.median(self.dist_)` to be null as well. Which in turn produces the division by zero in the line highlighted above.

 I have not read the paper cited in the implementation, but maybe it could make sense either skipping the normalizat

[2017-10-03 19:39] akflygit commented on #9864
What is the dist_a attribute? I guess I could get around this by adding a digit to any of the repeated numbers in the array but that seems too much work =/

Thanks

[2017-10-03 21:41] PGryllos commented on #8614
@jnothman that sounds good. Indeed I wouldn't try to commit the whole feature at once. I also see it as a way to become more familiar with the library. I first need to get a good grip of the requested feature though. @amueller do you maybe found the paper you mentioned?
thnx in advance

[2017-10-03 22:07] aarondbaron opened #9868 "scikit-learn/sklearn/manifold/locally_linear.py could have a parameter for metric type"
#### Description

Local Linear Embedding uses distance metrics in the calculation of nearest neigbhors.  it uses the NearestNeighbors class to do that.  There doesnt seem to be a way to pass in the type of distance metric used.  It uses a default of euclidean (or minkowski 2).  It would be nice to pass in as a parameter different metrics to try, such as jaccard for categorical or whatever one woul

[2017-10-03 22:34] DrEhrfurchtgebietend commented on #5902
I get a similar error related to the  if __name__ == '__main__': . It still calls everything above in each job. (ie print(__doc__) ) This is not the case in ensemble.RandomForestRegressor() so I suspect there is an issue there.

[2017-10-03 22:38] thechargedneutron commented on #9846
I want to take up this issue if not currently being worked upon.

[2017-10-03 22:44] jnothman commented on #3831
@iFe1er, @dswah does this issue still happen in the current release? can you provide code that reproduces it?

[2017-10-03 23:22] jnothman commented on #9354
Yes, I can replicate this. I see that doing the subtraction initially
allows the precision of the difference to be maintained. Doing the dot
product and then subtracting (or negating and adding), as we currently do,
loses this precision as the most significant figures are much larger than
the differences.

The current implementation is more memory efficient for a high number of
features. But I sup

[2017-10-03 23:24] jnothman commented on #9354
And this is of course more of a concern since we recently allowed float32s
to be more commonplace across estimators.

[2017-10-03 23:25] jnothman commented on #2889
Sounds worth a try!

[2017-10-03 23:31] jnothman commented on #9868
Yes, I agree it looks like adding 'metric' and perhaps 'metric_params'
should be possible. (but I'm not familiar with the algorithm)

[2017-10-04 01:31] tianyili2013 opened #9869 ".."
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2017-10-04 02:10] #9869 closed

[2017-10-04 02:46] qinhanmin2014 opened #9870 "Not clear error message for some metrics when the shape of sample_weight is inappropriate"
Following up @lesteve's comment in #9786

In #9786, we find that roc_auc scores will not raise an error when the shape of sample_weight is not [n_samples] for binary y_true and we actually fix the problem for both roc_auc scores and average_precision scores. (For average_precision scores, the regression test will add in #9829 after we move average_precision scores out of METRIC_UNDEFINED_BINARY)

[2017-10-04 03:02] jnothman commented on #9870
It certainly doesn't hurt to fix and make consistent. "Found input
variables with inconsistent numbers of samples:" sounds correct. Do you
want to tackle this, or leave it to a new contributor?

[2017-10-04 03:18] qinhanmin2014 commented on #9870
@jnothman Thanks. I will try to submit a PR in a couple of days :)

[2017-10-04 03:20] KaisJM commented on #2889
created a new env and installed everything with conda, still freezes indefinitely. only one copy of each package etc.

[code]

[2017-10-04 08:13] achaldave commented on #9868
Hi, I'd like to take this up as my first contribution here.

[2017-10-04 11:24] lesteve commented on #2889
Then I don't know. The only way we can investigate, is that you post a fully standalone snippet which we can just copy and paste in an IPython sesion and see if we can reproduce the problem.

[2017-10-04 11:48] jo8hua opened #9872 "Add Deep Forest model to sklearn?"
The idea is using trees to generate feature maps rather than matrix transformations. Also, a lesser dependence on parameter tuning is promised which I believe makes this a good addition to the sklearn interface.

Original paper can be found [here](https://arxiv.org/pdf/1702.08835.pdf).

[2017-10-04 12:57] KaisJM commented on #2889
will try to create a minimal example that reproduces the problem. I need to do that to debug more efficiently.

I read the FAQ entry you refer to about "Accelerate".. its not much help for me. What I took from it is that fork() NOT followed by exec() call is bad. I've done some googling on this and nothing so far even hints at a workaround. Can you point to some more information, more detail about

[2017-10-04 13:29] lesteve commented on #2889
Try this snippet (taken from https://github.com/numpy/numpy/issues/4776):
[code]

* If this freezes (i.e. it does not print Exit after one second) that means you are using Accelerate and the freeze is a known limitation with Python multiprocessing.The work-around is to not use Accelerate. On OSX you can do that with conda which uses MKL by default. You can also use OpenBLAS using conda-forge.
* If

[2017-10-04 13:58] KaisJM commented on #2889
will try to reproduce with minimal code.

[code]

[2017-10-04 15:23] TomDLT commented on #9872
[What are the inclusion criteria for new algorithms ?](http://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms)

This method seems a bit young to be considered for inclusion. Maybe in [scikit-learn-contrib](https://github.com/scikit-learn-contrib/scikit-learn-contrib) ?

[2017-10-04 15:28] #9753 closed

[2017-10-04 15:30] amueller commented on #2889
@GaelVaroquaux scikit-learn is not an app but a library in a rich ecosystem. If everybody did what we do, everything would come crashing down. That's a pretty clear signal that we need to change. And there are many environments where the opposite is true from that comment.

[2017-10-05 02:08] ledbruno commented on #9113
+1

[2017-10-05 02:10] marcusos commented on #9113
I'm also interested in this feature :)

[2017-10-05 04:30] infinite-Joy commented on #9865
Sorry if this is a silly question, but I am not able to understand why is this an issue.

[2017-10-05 04:37] stuz5000 commented on #9865
If the caller assumes the weight list is not modified, perhaps wanting pass
it to other functions or print it to the user, they’ll be very very sorry.

Generally speaking, its a poor practice to modify inputs to a function. A
better programming practice that leads to fewer bugs is to make procedures
pure functions of their inputs - returning only the result and having no
other side effects.

On We

[2017-10-05 07:19] CodipherX opened #9873 "GridSearchCV shows MemoryError when it is imported from package model_selection; it works fine when imported from package grid_search"
#### Description

I used GridSearchCV for parameter tuning of KerasClassifier object. When GridSearchCV was imported from package model_selection it showed MemoryError; However when I later imported it from depreciated grid_search package, it worked perfectly fine.
The dimension of X is (10000,23900,1) and it is a float16 numpy array
#### Steps/Code to Reproduce

[code]
#### Expected Results

No e

[2017-10-05 13:33] shaz13 commented on #9827
Hi @jnothman,
I would like to take up the issue. From the above comments, I assume that PR should have a note at http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_predict.html regarding the apt usage. Please do guide me If I missed anything.

[2017-10-05 13:47] ragnerok commented on #9354
So for this example product-then-sum works perfectly fine for np.float64, so a possible solution could be to convert the input to float64 then compute the result and return the result converted back to float32. I guess this would be more efficient, but not sure if this would work fine for some other example.

[2017-10-05 14:16] lesteve commented on #9873
So you are trying to run a GridSearchCV for a total 10^10 combination of parameters. How long are you expecting it to run for?

Assuming 1ms per fit (which seems quite optimistic), a back of the envelope computation gives me about 112 days (this is with n_jobs=1). And that is only for one fold, so you need to multiply by the number of folds which is 10.

Side-comment about your snippet, it is bett

[2017-10-05 14:40] KaisJM commented on #2889
I used a ubuntu virtual instance in google cloud compute engine. The code ran fine until I installed Gensim. This updated numpy, scipy, scikit-learn and installed few other things it needs. After that the code freezes. Doing some research I found that libblas, liblapack and liblapack_atlas were missing from my /usr/lib/, also I did not see the directory /usr/lib/atlas-base/. I don't know if they w

[2017-10-05 15:33] KaisJM commented on #2889
I used a ubuntu virtual instance in google cloud compute engine (bumpy, spicy, scikit etc were not the most up to date). The code ran fine. Then I installed Gensim. This updated numpy and scipy to the latest versions and installed few other things it needs (boto, bz2file and smart_open). After that the code freezes. I hope this gives a useful clue as to what causes this freeze.

**after installing

[2017-10-05 17:52] KaisJM commented on #2889
I think the problem is that numpy is using OpenBlas. Will switch it to ATLAS and see what happens.
[code]

[2017-10-05 19:42] jeroneandrews opened #9874 "Local outlier factor gives incorrect results"
#### Steps/Code to Reproduce
[code]
However, the result should be: [  0.875  1.333 0.875  2. ]  if you work it out by hand (assuming a sample can't be the 1st nearest neighbour to itself). So, I think there is something wrong with the LOF implementation. Could somebody confirm either way?

[2017-10-05 20:06] paulaceccon commented on #2889
Still the same problem. The following runs fine, unless I insert n_jobs=-1.

[code]

[2017-10-05 20:56] xoffey opened #9876 "cross_val_predict randomness"
#### Description
Each time I run cross_val_predict from a cold start, it gives different results. I generally run from within Spyder. Running it multiple times within Spdyer, I do get the same results. But, ewhen quitting spyder and running again, I then get different results. I even tried putting np.random.seed( 101 ) at the beginning of my calling program.

#### Steps/Code to Reproduce
[code]

#

[2017-10-06 06:23] yasserfarouk commented on #8995
In my experience, RandomizedLinearRegression() was unstable in its selection (small random variations of inputs may lead to widely different selected features), yet if its scores are combined with other classifiers, it improved the quality of selected features (as measured by the generalization accuracy score of a classifier trained on them). I believe it is still useful. May be though it should b

[2017-10-06 08:54] jeroneandrews commented on #9874
I have also just compared the scikit result with the R package 'Rlof', which also gives me a result of:
[code]
[0.875000 1.333333 0.875000 2.000000]

So there is definitely something wrong with the scikit implementation.

[2017-10-06 09:05] agramfort commented on #9872
I agree with @TomDLT

closing

[2017-10-06 09:05] #9872 closed

[2017-10-06 12:15] KaisJM commented on #2889
@paulaceccon is your Numpy installation using ATLAS or OpenBLAS?

[2017-10-06 13:17] lesteve commented on #2889
It is a bit hard to follow what you have done @KaisJM. From a maintainer's point of view what we need is a fully stand-alone python snippet to see if we can reproduce. If we can reproduce, only then can we investigate and try to understand what is happening. If that only happens when you install gensim and you manage to reproduce this behaviour consistently, then we would need full instructions ho

[2017-10-06 13:31] lesteve commented on #2889
@KaisJM by the way, this page is out-of-date, since nowadays wheels are available on Linux and contain their own OpenBLAS. If you install a released scikit-learn with pip you will be using OpenBLAS.

[2017-10-06 13:46] floperry opened #9880 "The score() method of PCA-based models"
#### Description

I want to make a cross validation with the PCA-based models just like [Model selection with Probabilistic PCA and Factor Analysis (FA)](http://scikit-learn.org/stable/auto_examples/decomposition/plot_pca_vs_fa_model_selection.html#sphx-glr-auto-examples-decomposition-plot-pca-vs-fa-model-selection-py). However when I add the KernelPCA as well as other PCA-based models except the

[2017-10-06 13:50] KaisJM commented on #2889
I don't understand this. scikit does not like OpenBlas for multiprocessing. Their instructions even say so. So why is it shipped with openblas? regardless, the instructions say use ATLAS to avoid multiprocessing freeze.. I have been trying to switch to atlas with no success so far.

[2017-10-06 13:57] KaisJM commented on #2889
@lesteve paula has posted a snippet that also has the same problem. I can see it's not complete code, but I hope it gives some clue. I can make here snippet "complete" and post for you. However, it is clear that the "out-of-date" -as you call it- instructions page may not be so out of date. The highest likelihood is that OpenBLAS is causing the fees they are talking about in that page.

[2017-10-06 14:09] kaichogami commented on #9865
Hi, I would like to work on this issue.

[2017-10-06 14:12] lesteve commented on #2889
These instructions are outdated believe me. If you read in details, it says "but can freeze joblib/multiprocessing prior to OpenBLAS version 0.2.8-4". I checked a recent numpy wheel and it contains OpenBLAS 0.2.8.18. The freeze they are referring to is the one in https://github.com/scikit-learn/scikit-learn/issues/2889#issuecomment-334155175, which you don't seem to have.

Not really no. We have r

[2017-10-06 14:16] albertcthomas commented on #9874
The LOFs of the training samples are given by `clf.negative_outlier_factor_` which gives the opposite of output you obtain with Rlof.

[code]

The **private** `_decision_function` is meant to be used on test samples.

[2017-10-06 14:18] lesteve commented on #9865
Go for it! It would be great to add a test as well.

[2017-10-06 14:23] ngoix commented on #9874
@jeroneandrews have you tried using `fit_predict` (**public**) method? LOF `predict` (**private**) method is meant to extend the use of LOF to new data, and thus consider new data as "duplicates" if they already are in the training set.

[2017-10-06 14:26] ngoix commented on #9874
...`predict`, or more precisely `decision_function` private method in your case.

[2017-10-06 14:41] lesteve commented on #9864
@akflygit I have simplified your snippet, and I agree with @rth diagnostic. I don't know much about MinCovDet and robust covariance I am afraid ... maybe @VirgileFritsch or @GaelVaroquaux?

[2017-10-06 14:50] KaisJM commented on #2889
@lesteve @paulaceccon :I took Paula's excerpt code and made a complete run-able code snippet. Just paste it into a Jupyter cell and run it. Paula: I could not get this snippet to freeze. Notice that n_jobs=-1 and runs fine. Would be great if you can take a look and post a version of it that freezes. Notice that you can switch between grid_search module and model_selection module, both ran fine for

[2017-10-06 14:50] lesteve opened #9881 "Outdated instructions in advanced installation instructions for Linux"
From http://scikit-learn.org/stable/developers/advanced_installation.html#linux

This is no longer true with wheels. This is misleading and caused confusion recently in https://github.com/scikit-learn/scikit-learn/issues/2889#issuecomment-334503082.

[2017-10-06 15:00] #7352 closed

[2017-10-06 15:41] rth commented on #9881
Also, the advanced installation instruction do not seem to mention conda at all, unlike http://scikit-learn.org/stable/install.html.

OpenBLAS  0.2.8-4 was released in August 2013, and oldest supported Ubuntu LTS (14.04LTS) [seems to have 0.2.8-6](https://packages.ubuntu.com/trusty/libopenblas-base). Maybe it could worth refactoring that part to use OpenBlas by default, only mentioning ATLAS for "

[2017-10-06 17:07] lesteve commented on #2889
@KaisJM I think it is more useful if you start from your freezing script and manage to simplify and post a fully stand-alone that freezes for you.

[2017-10-06 17:53] mppaskov commented on #9880
I believe that your current error might be in that you are starting with '0' component, which does not necessarily make sense, or at least to me. Try:
`n_components = np.arange(1, n_features, 5)`

[2017-10-06 18:13] KaisJM commented on #2889
@lesteve Agreed. I created a new python2 environment like the one I had before installing Gensim. Code ran fine, NO freeze with n_jobs=-1.

[2017-10-06 19:28] agramfort commented on #9880
I doubt it makes sense for KPCA to use such a likelihood

[2017-10-06 19:33] akflygit commented on #9864
Well I guess for now I can create an array with random numbers (divided by 1000) and just add it to my problem array so that the numbers are basically the same and different at the same time. Will try that

[2017-10-07 10:34] CoderPat commented on #9868
I wouldn't mind to work on this one as well, if @achaldave isn't already

[2017-10-07 13:38] jeroneandrews commented on #9874
@albertcthomas @ngoix
Thank you for your responses, I missed negative_outlier_factor_ in the documentation.

[2017-10-07 13:38] #9874 closed

[2017-10-07 17:22] xoffey commented on #9876
Do I need to provide clarification for this? It is my first bug report for sckit-learn, so I would appreciate any advice from the community!

[2017-10-07 17:51] hristog commented on #9341
Hi - is this being actively worked on? If not, I would like to pick it up.

[2017-10-07 22:55] jnothman commented on #9827
It might be more appropriate to include in the relevant section of the user guide

[2017-10-07 23:17] jnothman commented on #9354
converting to float64 won't be more efficient in memory usage than
subtraction.

[2017-10-07 23:19] jnothman commented on #9873
I think you should be glad you are saved from ruining an impossible job!

[2017-10-07 23:19] #9873 closed

[2017-10-08 02:35] shaz13 commented on #9827
Pushed a PR #9883. Please take a look @jnothman

[2017-10-08 03:35] YashTD commented on #9868
@jnothman isn't it as straightforward as passing two additional arguments to NearestNeightbours? If so, I'd be happy to make this quick fix.

[2017-10-08 04:25] jnothman commented on #9341
I think you are welcome to.

[2017-10-08 04:36] jnothman commented on #9868
I think so, but I'm not knowledgeable about the algorithm. You also need a
test.

[2017-10-08 09:56] antonio-fiol opened #9884 "Exception using PCA with n_components='mle' only"
#### Steps/Code to Reproduce
[code]

#### Actual Results
[code]

#### Versions
Linux-4.10.0-19-generic-x86_64-with-debian-stretch-sid
Python 3.6.1 |Anaconda 4.4.0 (64-bit)| (default, May 11 2017, 13:09:58)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
NumPy 1.12.1
SciPy 0.19.0
Scikit-Learn 0.18.1

#### Notes
With n_samples < 500 it works perfectly.
With Scikit-Learn 0.17, prior to collapsing the randomiz

[2017-10-08 14:40] qinhanmin2014 commented on #9884
I have proposed a fix in #9886. Hope that it might be in 0.19.1 since I'm going to use python3.X soon :)

@antonio-fiol I think for now you may explicitly set svd_solver='full' in PCA to run the code.

[2017-10-08 19:47] gvishal commented on #8245
Updates on this. Is this merged?

[2017-10-08 20:38] varunagrawal commented on #8245
The current functionality of average_precision has changed. I'm planning to submit a new PR for that. Will close this when the other PR is ready.

[2017-10-09 05:19] gvishal commented on #8245
The standard TREC Eval is able to compute AP and other metrics on the same data.

[2017-10-09 08:06] amueller commented on #9543
@vrishank97 yes, there is.

[2017-10-09 08:31] #9884 closed

[2017-10-09 09:10] rwolst opened #9889 "Incorrect predictions when fitting a LogisticRegression model on binary outcomes with `multi_class='multinomial'`."
#### Description
Incorrect predictions when fitting a LogisticRegression model on binary outcomes with `multi_class='multinomial'`.

#### Steps/Code to Reproduce
[code]

#### Expected Results
If we compare against R or using `multi_class='ovr'`, the log loss (which is approximately proportional to the objective function as the regularisation is set to be negligible through the choice of `C`) is in

[2017-10-09 09:22] #9742 closed

[2017-10-09 09:29] jnothman commented on #9889
Yes, just taking the coef for one class indeed seems incorrect. Is there
any way to adjust the coef of one class (and the intercept) given the other
to get the right probabilities?

[2017-10-09 11:20] TomDLT commented on #9889
Indeed, there is a difference in the way we want to compute `predict_proba`:
1. In OVR-LR, you want a sigmoid: `exp(D(x)) / (exp(D(x)) + 1)`, where `D(x)` is the decision function.
2. In multinomial-LR with `n_classes=2`, you want a softmax `exp(D(x)) / (exp(D(x)) + exp(-D(x))`.

So we **do** expect different results between (1) and (2).
However, there is indeed a bug and your fix is correct:

In

[2017-10-09 11:46] floperry commented on #9880
@mppaskov Thanks a lot for your useful advice. I corrected my script, but I got a new error like this:
[code]

[2017-10-09 12:01] rwolst commented on #9889
If it didn't cause too many further issues, I think the first solution would be better i.e. changing the API of `self.coef_` for the `multinomial` case. This is because, say we fit a logistic regression `lr`, then upon inspecting the `lr.coef_ ` and `lr.intercept_` objects, it is clear what model is being used.

I also believe anyone using `multinomial` for a binary case (as I was) is doing it as

[2017-10-09 12:25] amueller commented on #9487
@lesteve you did this, right? Where is the config for the cron job again?

[2017-10-09 12:48] jnothman commented on #9880
Clearly check_is_fitted(self, 'mean_') is not appropriate for KPCA

On 9 October 2017 at 22:46, Fenng <notifications@github.com> wrote:

[2017-10-09 12:59] jnothman commented on #9889
We already break the generalisation elsewhere, as in `decision_function` and in the `coef_` shape for other multiclass methods. I think maintaining internal consistency here might be more important than some abstract concern that "generalisation will be broken". I think we should choose modifying `predict_proba`. This also makes it clear that the multinomial case does not suddenly introduce more f

[2017-10-09 13:01] TomDLT commented on #9889
I agree it would make more sense to have `coef_.shape = (n_classes, n_features)` even when `n_classes = 2`, to have more consistency and avoid special cases.

However, it is a valid argument also for the OVR case (actually, it is nice to have the same `coef_` API for both multinomial and OVR cases). Does that mean we should change the `coef_`  API in all cases? It is an important API changes which

[2017-10-09 13:08] lesteve commented on #9487
Yep, this was done in https://github.com/scikit-learn/scikit-learn/pull/9803. I was probably not aware that there was an issue for it, closing.

The cron job is defined in .travis.yml (same way as all the others). You just have the condition type=cron for the cron job.

The frequency the cron job is run at is defined via the Travis UI at https://travis-ci.org/scikit-learn/scikit-learn/settings. At

[2017-10-09 13:08] #9487 closed

[2017-10-09 13:49] rwolst commented on #9889
Another option could be to always use the `ovr` method in the binary case even when `multiclass` is set to `multinomial`. This would avoid the case of models having exactly the same coefficients but predicting different values due to have different `multiclass` parameters. As previously mentioned, if `predict_proba` gets changed, the `multinomial` prediction would be particularly confusing if some

[2017-10-09 13:51] jnothman commented on #9889
Changing the binary coef_ in the general case is just not going to happen.
If you want to fix a bug, fix a bug...

On 10 October 2017 at 00:05, Tom Dupré la Tour <notifications@github.com>
wrote:

[2017-10-09 13:53] jnothman commented on #9889
Are the learnt probabilities then equivalent if it changes to ovr for 2
classes? Seems a reasonable idea to me.

[2017-10-09 13:56] #9711 closed

[2017-10-09 14:00] rwolst commented on #9889
Thinking about it, it works with no regularisation but when regularisation is involved we should expect slightly different results for `ovr` and `multinomial`.

Maybe then just change `predict_proba` as suggested and a warning message when fitting a binary model with `multinomial`.

[2017-10-09 14:11] amueller opened #9891 "Test failure on master - might be related to my cache?"
[code]

[2017-10-09 14:15] amueller commented on #9891
whoops wrong org

[2017-10-09 14:15] #9891 closed

[2017-10-09 15:35] ragnerok commented on #9354
Oh yeah you are right sorry about that, but I think using float64 and then doing product-then-sum would be more efficient computationally if not memory wise.

[2017-10-09 15:37] ragnerok commented on #9354
And the reason for using product-then-sum was to have more computational efficiency than memory efficiency.

[2017-10-09 16:56] dima74 opened #9893 "Function `sample_gaussian` returns nothing"
Could you say, please, why [function `sample_gaussian` in file `mixture/gmm.py`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/mixture/gmm.py#L78-L108) returns nothing?
I think there is keyword `return` missing.
Thanks anyway.

[2017-10-09 18:30] csbrown opened #9895 "Allowing more sparse matrices in KNeighborsClassifier"
#### Description
`KNeighborsClassifier` seems to work for various sparse matrices, but the various formats are disallowed in the code for some reason

#### Steps/Code to Reproduce

From the source code:
[code]

However, I can fool the classifier into accepting a `dok_matrix`:

[code]

And it just works.  Is there some good reason to disallow users from using other sparse matrix formats?  Specifica

[2017-10-09 19:24] csbrown commented on #9895
Now having poked through the code, it seems like a big job to fix, so I'll just monkey patch `check_array` and `check_X_y` to do nothing.  IMHO these functions are not pythonic and should not exist anyway.

[2017-10-09 19:24] #9895 closed

[2017-10-09 20:50] rth commented on #9895
Probably, additional complexity and maintenance effort in the implementation without the clear advantage that could justify it..

Maybe in the case of KNeighborsClassifier it is too restrictive, and could be somewhat relaxed but as you noted the CSR checks are deeply enrooted in all the underlying code.  In this example for instance, `KNeighborsClassifier` with those parameters would end up callin

[2017-10-09 21:04] prubbens commented on #8995
I have also been using this method recently, and have seen that,  as @yasserfarouk says, the final performance of a classifier can be increased, selecting features in function of the score the method gives rise to. And indeed, the final score can be quite sensitive for certain parameters and initialization values, but this is not (necessarily) bad? But I agree that maybe it should be in a differen

[2017-10-09 21:27] jnothman commented on #9889
why the warning? what would it say?

[2017-10-09 21:56] jnothman commented on #9354
sure, but I don't believe there is any reason to assume that it is in fact
more computationally efficient except by way of not having to realise an
intermediate array. Assuming we limit absolute working memory (e.g. by
chunking), why would taking the dot product, doubling and subtracting norms
be much more efficient than subtracting and squaring?

Provide benchmarks?

[2017-10-09 21:58] rth commented on #9893
That sounds like a typo in https://github.com/scikit-learn/scikit-learn/pull/6957 unless I misunderstand something.

 Still, it is deprecated, and not used anywhere in scikit-learn anymore; only [`_sample_gaussian`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/mixture/gmm.py#L111) is used internally..

[2017-10-09 22:52] jnothman commented on #9895
I believe that if a custom metric is passed, we should minimise validation
and coercion (see also #4228 and #9212; ping @ashimb9). If not, we can be
as restrictive as we like to make sure that it will work with our
algorithms and datastructures.

On 10 October 2017 at 07:50, Roman Yurchak <notifications@github.com> wrote:

[2017-10-09 22:53] jnothman commented on #9895
Note that when we don't use validation functions, we accidentally break
users' code with changes. Validation functions allow supported usage to be
more-or-less predictable.

[2017-10-09 22:57] jnothman commented on #9893
Hot-fixed in 6f076d3 and to be backported into 0.19.1. Thanks.

On 10 October 2017 at 08:58, Roman Yurchak <notifications@github.com> wrote:

[2017-10-09 23:45] jnothman opened #9896 "Circle CI doc build broken by matplotlib upgrade"
Matplotlib 2.1.0 was released a week ago. It causes our doc build to fail. https://github.com/matplotlib/matplotlib/issues/9320#issuecomment-335319053

[2017-10-09 23:58] #9896 closed

[2017-10-10 02:00] paulaceccon commented on #2889
@KaisJM  I'm running the same snippet here (windows) and it freezes.

[code]

I know that it's awkward but it didn't froze when running with a _custom_ metric.

[2017-10-10 02:26] floperry commented on #9880
@agramfort
Thanks for your advice! In fact, I just want to make some analysis with different PCA-based models on a specific data set. But I failed at this step. Do you have any idea with this problem?

[2017-10-10 02:29] floperry commented on #9880
@jnothman
Thanks a lot! Yeah, I checked it as you said. I think I get stuck in this problem. Do you have any suggestions to help me? I just want to make some analysis with different PCA-based models on a specific data set.

[2017-10-10 03:05] howardbandy commented on #6322
For models of financial time series, as in stock market predictions, there are two techniques for defining the training period (referred to as "in-sample" in the trading system world).  One is "anchored" where the initial date of the training period is held constant and the length of the training period expands.  The second is "rolling" where the length of the training period is held constant and

[2017-10-10 03:42] jnothman commented on #9880
Why do you believe it should work?

[2017-10-10 09:27] #9865 closed

[2017-10-10 09:33] VasLem opened #9898 "sklearn object argument to allow its bypass"
I don't know if I should post feature proposals here. A long awaited feature (which I am currently implementing by inheriting the requested object in a class modifier), is the ability of an sklearn object to accept as input flag one with a name like 'ignoreNone', which, if set True, would cause the object to ignore any samples that are None vectors and return (if needed) a None vector, dimensional

[2017-10-10 10:04] jnothman commented on #9898
Could you please give an example? It is hard to understand what you mean by
"None vectors".

[2017-10-10 11:13] VasLem commented on #9898
Ok here is a real life example. Let's say I have a video and I analyze activities. Actions are temporal, so a buffer of features is needed. Buffers that are invalid are set to be nan vectors. My request is that the classifier in which I feed the features ignores such vectors. This can be done programmatically, but I lose all the fun of performing this inside a pipeline. Ultimately, I would like to

[2017-10-10 11:26] amueller commented on #9632
if the issue is about adding a new fetcher I think we should close it. Adding an openml fetcher will make it unnecessary.

[2017-10-10 11:38] pierreglaser opened #9900 "New feature: correlation matrix generation"
I was thinking it might be a good idea to enrich the positive-definite matrix generation part, by adding correlation matrix generation.

**Interest of covariance matrices**: Covariance and correlations matrices are cool because from them we can generate multi-variate data sampled from specific laws (example, mutltivariate gaussian)

 **Why correlation matrices**:  Now we can generate covariance ma

[2017-10-10 12:02] amueller commented on #9543
ok so if someone has used a dataset before, they probably want to be able to use it again without internet. But we don't know whether they address it by id or by name, and we don't know the correspondence (unless we store that locally).
I don't see a better way then keeping a (name,version)->id dictionary... hm.

[2017-10-10 13:18] rwolst commented on #9889
The issue is that the values of `coef_` do not intuitively describe the model in the binary case using `mutlinomial`. If someone fits a binary logistic regression and receives back a 1D vector of coefficients (`W` say for convenience), I would assume that they will think the predicted probability of a new observation `X`, is given by

    exp(dot(W,X)) / (1 + exp(dot(W,X)))

This is true in the `o

[2017-10-10 14:24] samuelefiorini opened #9901 "learning_curve throws a TypeError if the estimator is a Pipeline"
#### Description

I tried to use the `learning_curve` function using a `Pipeline` object as estimator but this results in a `TypeError`.

#### Steps/Code to Reproduce

[code]

#### Expected Results

#### Actual Results

`TypeError: 'tuple' object does not support item assignment`

#### Versions

[code]

[2017-10-10 14:28] albertcthomas opened #9902 "Type of predictions for clustering and outlier detection estimators"
It seems that for clustering estimators, `fit_predict(X)` (or `labels_`) always returns integers in the range [0, ..., n_clusters - 1] except for `DBSCAN` where there is also a label -1 for outliers. Do we want to enforce this behavior and add a common test?

**EDIT**: Should we at least ensure that clustering estimators predict integers?

What about outlier detection estimators where the predicte

[2017-10-10 14:35] lesteve commented on #9901
Duplicate of #9587, closing.

For next time, remember to look in issued before creating a new one ;-).

[2017-10-10 14:35] #9901 closed

[2017-10-10 15:35] samuelefiorini commented on #9901
Ops, sorry. I did look for similar issues but I didn't find any of it. I must have used the wrong keywords.

[2017-10-10 16:18] albertcthomas commented on #9864
In this case, the estimated covariance matrix of the support data is equal to 0 and therefore the determinant is equal to 0. We thus have the minimum covariance Determinant and the algorithm should stop as explained in the original paper.
The covariance is equal to 0 in your case because the support data are the ones with the same values... If there are fewer ties you have different values in the

[2017-10-10 17:27] lesteve commented on #9901
No worries, a small tip while I am at it:  You can have syntax highlighting in your snippet,  look at [this](https://help.github.com/articles/creating-and-highlighting-code-blocks/#syntax-highlighting) for more details. You can use `py`  for python snippets and `pytb` for tracebacks.

[2017-10-10 17:31] lesteve commented on #9901
Also by default, github only show the open issues, you need to be careful to look at closed ones as well.

[2017-10-10 17:38] lesteve commented on #9864
Thanks @albertcthomas for pitching in! Would it be worth raising an error if we detect a zero covariance matrix, saying something like "try to use a higher `support_fraction`" or are there many other reasons why the covariance could be zero?

[2017-10-10 18:52] narendravardi commented on #9881
@jnothman @lesteve can i work on this?

[2017-10-10 20:52] jnothman commented on #9898
So I think all you want is a classifier that takes a usual rectangular feature matrix, but ignores training instances with NaN, and at prediction time outputs some default prediction for them?

[2017-10-10 21:00] VasLem commented on #9898
Yes, just for completely nan rows (not rows with partially missing values)

[2017-10-10 22:22] yurijvolkov commented on #9739
@jnothman @espg Can It be assigned to me as first contribution?

[2017-10-10 23:13] jnothman commented on #9543
Maybe just have an option memory=True, which defaults to using a
joblib.Memory directory within the data dir. It caches all the HTTP
requests and hence includes name mappings and data.

[2017-10-11 01:37] jnothman commented on #9889
I think it would be excessive noise to warn such upon fit. why not just
amend the coef_ description? most users will not be manually making
probabilistic interpretations of coef_ in any case, and we can't in general
stop users misinterpreting things on the basis of assumption rather than
reading the docs...

[2017-10-11 02:16] jnothman commented on #9902
There is now (or is it in PR still?) a degenerate case where affinity
propagation can predict -1 too. Yes, this seems a reasonable thing to test
in common.

[2017-10-11 03:10] fedorzh opened #9904 "jsonpickle doesn't work with sgdclassifier"
#### Description
Error given

#### Steps/Code to Reproduce
[code]

#### Expected Results
get the same clf2 as clf

#### Actual Results

[code]

#### Versions
[code]

[2017-10-11 03:25] fahd09 opened #9905 "sklearn should warn user when using multiclass labels in target variable (instead of encoded integers)"
Hi All,

So I have a classification problem with multiple target categories, i.e., (['axis1', 'axis2', .. etc]). I have used this as target variable when fitting a logistic regression (and a LinearSVM) classifiers. I got quite bad results as some model variations of those two have accuracies below chance!

I only today figured out that I must encode the target as integers (just like the iris datas

[2017-10-11 06:13] jnothman commented on #9881
You would be welcome to, thanks

[2017-10-11 06:32] jnothman commented on #9898
It should not be hard to write a wrapper which has a default prediction, a
condition when to apply it and a predictor to use otherwise. I don't think
you should expect it to appear in the core library, but maybe another
contrib will chime in and say "I need this every day"...

[2017-10-11 06:50] jnothman commented on #9904
why do you believe this is our problem, not jsonpickle's?

[2017-10-11 07:01] jnothman commented on #9905
this doesn't sound right. y with strings and with integers should result in
the same model. could you provide a self-contained code example that
illustrates that this is not the case?

[2017-10-11 08:31] vrishank97 commented on #9543
I'm currently implementing a fetcher similar to the one we have for MLdata, where we store all datasets used locally. Thanks @jnothman,  I'll try using joblib.Memory.

[2017-10-11 08:34] wdevazelhes opened #9906 "sklearn.manifold.t_sne.trustworthiness should use an inverted index for neighbors lookup"
#### Description
As suggested by @jnothman in https://github.com/scikit-learn/scikit-learn/issues/9737#issuecomment-330742610, using an inverted index in trustworthiness could replace a O(n_samples^2 * n_neighbors) computation by a O(n_samples^2 + n_samples * n_neighbors) computation. Indeed, it would allow to lookup the rank of neighbors in the original space instead of using np.where for each ne

[2017-10-11 08:35] vrishank97 commented on #9543
Is there any alternative to joblib? I don't think we can use joblib as it's not a requirement.

[2017-10-11 08:53] albertcthomas commented on #9864
If covariance is equal 0 the algorithm should stop so I suggest to add a condition to make it stop with a warning that the covariance is 0 and to try a higher `support_fraction` if that's not wanted.

I will investigate the case det(cov) = 0 a bit more. There is a section about it in the original paper.

[2017-10-11 09:11] lesteve commented on #9864
To be honest, just saying "det(cov) = 0, try to increase support_fraction" may be a good enough error message. PR more than welcome!

[2017-10-11 09:18] #9870 closed

[2017-10-11 09:19] lesteve commented on #9906
Please use links to comments, which make it a lot easier to see what you are referring to, rather than just linking to the issue. See [this](https://stackoverflow.com/questions/25163598/how-do-i-reference-a-specific-issue-comment-on-github) for more details.

I have edited your post accordingly, try to remember next time.

[2017-10-11 09:25] wdevazelhes commented on #9906
Allright, thanks for the modification, I will do this from now on.

[2017-10-11 10:24] #2723 closed

[2017-10-11 10:59] rwolst commented on #9889
Fair enough. My only argument to the contrary would be that using `multinomial` for binary classification is a fairly uncommon thing to do, so the warning would be infrequent.

However I agree in this case that if a user is only receiving a 1D vector of coefficients (i.e. it is not in the general form as for dimensions > 2), then they should be checking the documentation for exactly what this mean

[2017-10-11 11:24] TomDLT commented on #9889
So to sum-up:
 - update `predict_proba` as described in https://github.com/scikit-learn/scikit-learn/issues/9889#issuecomment-335129554
- update `coef_`'s docstring
- add a test and a bugfix entry in `whats_new`

[2017-10-11 11:30] TomDLT commented on #9904
[We recommend joblib to save scikit-learn's estimators to disk.](https://stackoverflow.com/questions/10592605/save-classifier-to-disk-in-scikit-learn/11169797#11169797)

[2017-10-11 12:13] NiklasKeck commented on #1179
I just came across a similar problem if I understand @aldanor correctly.
It can be solved without introducing changes to sklearn, but requires pandas.
Just pass the y_pred as a pandas series, where the index represents the weights (or any other data required to calculate the score).
This also works with a MultiIndex to pass multiple weights.

[2017-10-11 12:19] amueller commented on #9543
@vrishank97 joblib is a requirement. we are actually shipping it in ``external/`` right now. I have been working on this a bit in #9908. If you have time to work on this, feel free to pick up there. I'm with the openml people this week, so I'd really like to finish it up this week, because that will make it much easier to fix any issues.

[2017-10-11 12:20] amueller commented on #9543
@jnothman yeah that's probably a better idea.

[2017-10-11 12:24] amueller commented on #9543
@jnothman is there a particular reason why you want to do it optional?

[2017-10-11 13:25] lesteve commented on #9904
I'd be curious as well to hear about the advantages of jsonpickle.

[2017-10-11 13:27] #9893 closed

[2017-10-11 13:52] andreasnoack commented on #7200
I think the use of *regressor* here is really unfortunate. There is a very long tradition in statistics for using the term *regressor* for **right** hand side variables and what separates a regression tree from a classification tree is the **left** hand side variable.

[2017-10-11 14:07] lesteve commented on #9898
I am going to close this one because I think this is quite unlikely that this functionality will be provided inside scikit-learn.

[2017-10-11 14:07] #9898 closed

[2017-10-11 14:13] lesteve commented on #9893
@dima74, maybe you have seen that but this function is deprecated and will be removed in 0.20.

[code]

[2017-10-11 14:15] VasLem commented on #6079
Hey all. I have a problem with including a wrapped estimator in GridSearchCV. It gives an error while trying fit:

[code]
Is it natural to get such error after the above fixes?

[2017-10-11 14:17] lesteve commented on #9893
Actually looking at it a bit closer, the full `sklearn.mixture.gmm` module is deprecated and will be removed in 0.20. You should use `sklearn.mixture.gaussian_mixture instead`.

[2017-10-11 14:42] dima74 commented on #9893
@lesteve yes, i saw it, thank you anyway. Actually I use [hmmlearn](https://github.com/hmmlearn/hmmlearn/), which used `sample_gaussian` function. Looks like that they stopped using `sample_gaussian` recently, but no new release of hmmlearn was since there. Thanks anyway!

[2017-10-11 15:27] pseth opened #9911 "Use splitting classes to break data into more than train/test data chunks"
I came across a situation where I needed to split my data into more than 2 groups, and realised that this can't be done that simply with sklearn's splitter classes as it stands. I note that stack overflow has several similar questions from other users.

One can repeatedly apply splits, but this seems quite clunky given that the code seems to be readily extensible to handle `n_groups > 2`. Was the

[2017-10-11 16:29] fahd09 commented on #9905
I just reproduced the problem in my work computer!

Here is the code:

[code]

And here is the system/version information of my work computer:

And this one for my personal computer:

[2017-10-11 16:30] VasLem commented on #9898
Before closing it, I will be posting some code that allows this to happen, if anyone wants to have a wrapper for pretty much everything in sklearn. _ClassModifier is the factory that modifies the input classes. The class CustomClassifier implements what I asked, only with some small caveats: 1.The input data is a list and not a numpy array, thus the nan rows are represented by a single None.  2.Al

[2017-10-11 16:34] fahd09 commented on #9905
Here is one more thing, if you use

`y_labels = np.repeat(['a','b','c','d'],25).astype(np.object)
`

it will return True for both tests! So a one letter behavior looks like analogous to using integer codes.

[2017-10-11 17:18] fedorzh commented on #9904
@jnothman I actually filed the issue to both as I wasn't sure who is at fault: after debugging it seemed the serialization only doesn't work with scikit, but works with numpy/scipy. @davvid from jsonpickle team fixed the issue: https://github.com/jsonpickle/jsonpickle/issues/184 . I suspect scikit is doing something which converts a one-dimensional numpy array into a float.

@TomDLT, @lesteve  We

[2017-10-11 17:18] #9904 closed

[2017-10-11 17:56] lesteve commented on #9904
Recommendation for next time: please say you have opened an issue in the other project tracker and add a link.

[2017-10-11 18:50] jmschrei commented on #7200
While unfortunate that different fields use different terminology, I agree generally with @nelson-liu and @jnothman that the naming convention is both consistent with other models and makes sense, as it is a decision tree where the decision is the continuous value to predict, instead of a class.

[2017-10-12 03:30] lesteve commented on #9737
OK I looked a bit at this and run a quick benchmark to see where most time is spent. To reproduce, first run the tnse benchmark:

[code]

Then
[code]

Output (shortened) on master at the time of writing:
[code]

The most inefficient and optimizable bit seems to be `ind_X_embedded = np.argsort(dist_X_embedded, axis=1)[:, 1:n_neighbors + 1]` that is sorting the full X_embedded but only keeps the top

[2017-10-12 06:22] lesteve commented on #9911
Can you detail your use case and/or link to StackOverflow questions so we get a better idea of why this is needed?

[2017-10-12 06:57] amueller commented on #9652
so now there's "help wanted" and "good first issue" tags that github suggests to newcomers. Maybe we should use those somehow?

[2017-10-12 06:58] amueller commented on #9652
We could just rename "easy" to "good first issue" and then actually use it so that it's good first issues, and tag other things as "small" maybe that are easy but require knowledge? And we could rename "needs contributor" to "help wanted"?

[2017-10-12 07:04] pierrewessman commented on #5884
@marcelobeckmann great work! you might want to change row 659 to something like:
`ranges_of_numeric[col] = (1 - min / max, 0)[max == 0] if (max!=0 and min!=0) else 0.0`

Im getting division by zero-warnings in your second test case otherwise.

[2017-10-12 08:02] lesteve commented on #9652
Hmm... one problem with prefixing the labels is that links to https://github.com/scikit-learn/scikit-learn/issues?q=is%3Aopen+label%3AEasy+is%3Aissue

+1 for using `good first issue` and `help wanted`. 0.19.1 may be a good occasion to rename the label so that the stable doc points to the right issue search.

[2017-10-12 08:56] rwolst commented on #9889
Sure, I'll do it.

[2017-10-12 12:00] #9737 closed

[2017-10-12 12:06] kienerj opened #9913 "Learning Curve and SVC: throws ValueError if y is sorted"
#### Description
When creating a learning curve using SVC and the array y with classes is sorted, a `ValueError` is thrown:

	C:\Program Files\Anaconda3\lib\site-packages\sklearn\svm\base.py in _validate_targets(self, y)
	504             raise ValueError(
	505                 "The number of classes has to be greater than one; got %d"
	506                 % len(cls))
	507
	508         self.classes_

[2017-10-12 15:05] FrugoFruit90 commented on #2034
@jnothman I am trying to fix my use case using your example at the top of the thread. I modified your GetItemTransformer class as follows:

[code]

This is the pipeline that I currently have:
[code]
Each one of  'xgb', 'nn' and 'svm' is a pipeline (additionally wrapped with ModelTransformer, as otherwise I get the following error: "All estimators should implement fit and transform. (...) (type <cl

[2017-10-12 20:54] lesshaste commented on #9911
The most obvious use case is splitting data into train/validate/test sets.  https://stackoverflow.com/questions/38250710/how-to-split-data-into-3-sets-train-validation-and-test Is an example SO question.

[2017-10-12 22:03] katastrofa999 opened #9917 "Error in description of KMeans.inertia_ on the website"
#### Description
Description of KMeans.inertia_ on http://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html#sklearn.cluster.KMeans is slightly wrong. It says:

It should say:

#### Steps/Code to Reproduce
Visit http://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html#sklearn.cluster.KMeans

#### Expected Results

#### Actual Results

#### Versions

[2017-10-12 23:21] kamathhrishi commented on #9900
I am a first time contributor to open source in general. But, I have good experience using Python and sklearn. I would like to take up this issue.

[2017-10-13 01:01] pierreglaser commented on #9900
I suggest that before taking any actions, we should assess whether or not there is an actual demand for such a feature. If yes, I already coded this myself, as I needed it on other projects, and it's pretty mature.

[2017-10-13 02:07] kamathhrishi commented on #9900
Oh. okay , I would assess it and come back to you if there is a some good use of it.

[2017-10-13 02:09] kamathhrishi commented on #9868
I would like to make my first contribution on this.

[2017-10-13 06:40] lesteve commented on #9917
Good catch, PR more than welcome.

This happens in multiple places, here is a hacky `git grep` that should list most of them:
[code]

[2017-10-13 06:52] lesteve commented on #9913
Some classifiers can be fit on a data with a single class (although I am not sure if there is a strong reason behind it and whether the result is really meaningful). SVC can not and RandomForestClassifier can.

One of your training fold has a single class. When you shuffle the data, you are lucky and this does not happen. I am not sure what the recommendation is here, either lower `cv` or have mor

[2017-10-13 07:18] amueller commented on #9913
Increasing CV or number of samples won't really help, right? the learning curve doesn't shuffle and starts splitting from the start of the data. So by definition it'll fail on sorted data, right?

[2017-10-13 08:00] kienerj commented on #9913
Exactly. If the input is sorted, it fails for SVC. I dived in the code a bit but it's hard to follow how the cv splits for the curve are actually done. I think at least a hint in the documentation is need because for RandomForest it's obviously even worse because it doesn't fail but the curve is generated from "weird" CV folds.

[2017-10-13 08:21] amueller opened #9919 "implement / benchmark loguniform distribution for randomized search"
Most of our standard grid searches use logarithmic scales. For the randomized search we approximate that using the exponential distribution. It might be quite a bit better to use an actual log uniform distribution. It would be great if someone could benchmark that and possibly add the log uniform distribution (to the utils?).

[2017-10-13 08:23] amueller commented on #9919
Log uniform should look like:
[code]
(though it needs a slightly different API for use in RandomizedSearchCV)

[2017-10-13 08:31] lesteve commented on #9913
I think you are right. I was naively expecting a StratifiedKFold strategy to be used to do subsets of the training data, apparently not ...

[2017-10-13 08:33] #9864 closed

[2017-10-13 08:38] amueller commented on #9913
stratifiedkfold is used for the cv part, but not for the learning curve part. It used to randomize, but there was an issue about using it on time series, and I think we decided not to shuffle by default. We should probably add a sentence to the docs that you should think about whether you want to shuffle or not. We don't shuffle in CV by default, so I think not shuffling is consistent, but maybe w

[2017-10-13 08:39] amueller commented on #9913
I suggest adding a "note" to the user guide (like a red box) and add a sentence to the docstring.

[2017-10-13 08:52] lesteve commented on #9868
@kamathhrishi there is already a PR on this one as you can see just above your post. Feel free to find another issue to work on, we have plenty of them ;-).

[2017-10-13 09:11] TomDLT commented on #9905
The explanation lives in the alphabetical sorting of the classes:
[code]
The coefficients in `LinearSVC` and `LogisticRegression` are ordered in the same order as the classes.
[code]
To fix your example:
[code]

[2017-10-13 11:52] kamathhrishi commented on #9868
Thank you for your response.Z S

On 13 Oct 2017 2:23 p.m., "Loïc Estève" <notifications@github.com> wrote:

[2017-10-13 13:32] lesteve commented on #9911
Makes sense, did you have another use case in mind @pseth?

[2017-10-13 14:54] ianlcassidy opened #9921 "metrics.ndcg_score is busted"
#### Description

`metrics.ndcg_score` is busted

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown.

#### Actual Results
[code]

#### Versions

[code]

[2017-10-13 17:25] fahd09 commented on #9905
I totally missed that. Thanks a lot!

[2017-10-13 17:26] #9905 closed

[2017-10-13 17:26] rosscleung commented on #8995
I also had used this method in my past projects and I compared the frequently selected features against feature_importance rankings from a randomforest. While there are 1-2 features that are different between the two model's feature rankings, the top selected features are  comparable if not the same. I use randomized lasso as another "check" to see if there's any discrepancies with RandomForest's

[2017-10-13 17:28] ianlcassidy commented on #9921
So, I believe this is because the following code snippet
[code]
is adding a bunch of extra all 0 columns to `binarized_y_true` and can be fixed by then removing those columns using
[code]

[2017-10-13 19:26] cdagnino opened #9923 "Bug with TimeSeriesSplit as a CV generator?"
#### Description

`TypeError: object of type 'generator' has no len()` thrown when trying to use `TimeSeriesSplit` as an iterator in `GridSearchCV`

#### Steps/Code to Reproduce

[code]

#### Expected Results

I expected no error to be thrown.
The [docs for `GridSearchCV`](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html) state I can use the `cv` argument

[2017-10-14 14:14] cdehaan opened #9924 "Sample code missing plt.show() at end"
The example code at:
[SVM: Separating hyperplane for unbalanced classes](http://scikit-learn.org/stable/auto_examples/svm/plot_separating_hyperplane_unbalanced.html)
should obviously have the line
`plt.show()`
at the end, to show the plot that is being created.

[2017-10-14 15:31] jeromedockes commented on #9921
I think this is the error:

        lb.fit(np.arange(max(np.max(y_true) + 1, len(y_true))))

the number of features for the binarizer should be bigger than the biggest label in y_true, and bigger than the number of outputs in y_score. so above len(y_true) should read y_score.shape[1], len(y_true is irrelevant). But actually the number of labels should be equal to the number of columns in y_score,

[2017-10-14 16:09] cdehaan commented on #9924
Also, a comment is wrong, a copy/paste hold-over from the last example, saying "# we create 40 separable points" when really we make 1000 and 100.

Is there a way I can edit these myself? Or download > edit > offer?

[2017-10-14 19:20] JanzenLiu commented on #7192
Hey I also encounter the problem you described in training with some large dataset using RadiusNeighborsRegressor. How did you solve it then, or did you solve it?

[2017-10-15 04:00] sauln commented on #9924
I implemented the fix.  In the future, check out these guides for contributing:

[New contributors](http://scikit-learn.org/stable/developers/contributing.html#new-contributors)
[Contributing](http://scikit-learn.org/stable/developers/contributing.html)

[2017-10-15 04:56] sauln commented on #9919
I'd like to handle this issue!

[2017-10-15 05:49] jnothman commented on #9543
if it's all stored, then there's no point to our discussion on what to do
if a newer version exists. But the interface can be finessed in the PR.

[2017-10-15 05:51] jnothman commented on #6079
sounds like you're somehow calling get_params on the class rather than the
instance.

[2017-10-15 08:30] sauln commented on #9919
I spent some time digging into this and couldn’t find the exponential distribution the issue refers to.  Any direction would be appreciated.  Otherwise I’ll stick with the Easy tags for now.

[2017-10-15 08:56] qinhanmin2014 opened #9926 "Ensure that the shape of sample_weight is checked in all the functions"
proposed by @lesteve in https://github.com/scikit-learn/scikit-learn/pull/9786#issuecomment-332662498 and https://github.com/scikit-learn/scikit-learn/pull/9903#issuecomment-335709523

After going through all the public functions, it seems that the following functions do not check the shape of sample_weight and rely on certain statement to block the code from running through. (See https://github.c

[2017-10-15 09:07] adam-haber commented on #9900
I think this would be very useful for many users.

[2017-10-15 09:35] jnothman commented on #9889
Thanks

[2017-10-15 09:41] jnothman commented on #2034
One of your errors sounds like it results from passing a pipeline class
rather than instance somewhere?

yes, we did add an example to the gallery.
http://scikit-learn.org/stable/auto_examples/hetero_feature   _union.html

[2017-10-15 10:10] jnothman commented on #9911
I think this is worth thinking about a little. Apparently train_test_split
is one of the most used offerings of our library. In that context, we
should probably support a validation set.

The question is whether we should support splitters more generally
generating both validation and test sets, so that one can do a grid search
and get a measure of performance for the best parameters without
retra

[2017-10-15 12:19] jnothman commented on #9923
Thanks for the report, though a more complete traceback would be helpful.

You should be using `sklearn.model_selection`'s `GridSearchCV`, not `sklearn.grid_search`'s (deprecated). There both `cv=TimeSeriesSplit(n_splits=2)` (recommended) and `cv=my_cv` should work.

[2017-10-15 12:19] #9923 closed

[2017-10-15 12:26] jnothman commented on #9921
Hmm... Thanks for reporting. I agree, @jeromedockes, it looks like len(y_true) should be irrelevant there.

Whatever the cause, a patch including a test is very welcome.

[2017-10-15 12:27] #9924 closed

[2017-10-15 13:27] ianlcassidy commented on #9921
@jeromedockes, @jnothman i propose something like this as a fix:
[code]
there is an edge case here for `LabelBinarizer` if you have two labels because the output of the transform will be a single column matrix; e.g.,
[code]
but, we really want it to output this:
[code]

[2017-10-15 15:26] qinhanmin2014 commented on #9921
Personally, I might not agree with @ianlcassidy's code. It seems really difficult to understand.
So there seems two problem:
(1)The shape of binarized_y_true is not correct. It seems that this can be solved by using y_score.shape[1]
(2)For LabeBinarizer, Binary targets transform to a column vector (because it is designed for labels). An alternative solution might be using OneHotEncoder?
So I might

[2017-10-15 19:03] ianlcassidy commented on #9921
@qinhanmin2014 I agree that using `OneHotEncorder` is much less hacky than what I suggested 😄.   If we go with that approach, we'll probably also want a check to make sure the number of unique labels in `y_true` is less than or equal to the number of columns in `y_score` before the `OneHotEncoder` fit/transform code is called.  So, how about this:
[code]
In terms of the implementation, it seems co

[2017-10-15 19:13] AbhayKoushik opened #9927 "cross_val_score() does not terminate"
#### Description
Using KerasClassifier for the estimator function of cross_value_score() as shown in the following code,

classifier=KerasClassifier(build_fn=build_classifier,batch_size=10,epochs=100)
accuracies=cross_val_score(estimator=classifier,X=X_train,y=y_train,cv=10,n_jobs=-1)

only the following four lines are printed:

Epoch 1/100
Epoch 1/100
Epoch 1/100
Epoch 1/100

and the process does

[2017-10-15 19:26] AbhayKoushik commented on #9927
![screenshot from 2017-10-16 00-07-12](https://user-images.githubusercontent.com/17530993/31588227-9080a56a-b20c-11e7-90a1-197359dd1885.png)
This is how the non terminating process looks like on the termial.

[2017-10-15 20:53] jnothman commented on #9927
why do you believe this is a problem with cross_val_score? how long does
fitting a single estimator take? how much memory does it consume? how big
is your data?

On 16 Oct 2017 6:26 am, "Abhay Koushik" <notifications@github.com> wrote:

[2017-10-16 00:41] jeromedockes commented on #9921
I completey agree. NDCG is meant to evaluate a ranking with respect to the true scores of the scored entities.

(see the wikipedia page,
 Järvelin, K., & Kekäläinen, J. (2002). Cumulated gain-based evaluation of IR techniques. ACM Transactions on Information Systems (TOIS), 20(4), 422-446.,
or  Wang, Y., Wang, L., Li, Y., He, D., Chen, W., & Liu, T. Y. (2013, May). A theoretical analysis of NDCG r

[2017-10-16 00:59] AbhayKoushik commented on #9927
@jnothman
Hello Joel,
A single estimator using only keras, fits my data in an elapsed time of 82.28 seconds.
[code]
My dataset is Churn_Modelling.csv available online, which is a 668.81 Kb file.
The number of features as input dimensions, is 11, and there are 10000 datapoints.

I have waited and verified it for more than 25 minutes for this cross_val_score() to terminate, but no sign of success. I

[2017-10-16 01:18] qinhanmin2014 commented on #9921
@ianlcassidy @jeromedockes Thanks a lot for the detailed reply :)
So seems that current ndcg is just a copy-past from kaggle by the original author.
I agree with @jeromedockes. It seems not suitable to take a kaggle kernel as our reference, especially considering that the kernel is actually designed for certain competition. @ianlcassidy you actually don't answer my question. What's the meaning of

[2017-10-16 01:27] #9714 closed

[2017-10-16 01:56] #9917 closed

[2017-10-16 02:25] jeromedockes commented on #9921
This is true. However, I imagine in most cases the user will want to score a
bunch of predictions rather than just one, hence the 2d arrays. I'd be happy to
open a PR either way (1d / one sample or 2d / several samples).

detail: to avoid the division by zero, [Järvelin, K., & Kekäläinen, J. (2002)]
(the original paper) don't apply the discount to i=1. They also don't apply the
discount for indice

[2017-10-16 02:53] jnothman commented on #9921
I've not read all of the commentary here yet, but I don't see the relevance
of NDCG to 1d predictions...

[2017-10-16 03:10] jnothman commented on #9921
So without reading too deeply into the above discussion, the problem stems from the fact that ndcg is apparently the first metric we have implemented which supports multiclass (not multilabel or binary) classification with a score, and we've just not implemented it right.

I think using `binarized_y_true = label_binarize(y_true, np.unique(y_true))` will work in the case that all classes used to tr

[2017-10-16 03:21] jnothman opened #9929 "ndcg_score and dcg_score are not present in common tests"
They should be included in `sklearn/metrics/tests/test_common.py` but are not.

Note that adding ndcg_score to common tests may not be sufficient: think it differs from existing metrics in that it is multiclass with scores per class. This may entail the modification of common tests.

The implementation should build upon #9928 (or wait until it is merged).

[2017-10-16 03:23] jnothman commented on #9921
@ianlcassidy and @jeromedockes, please check that #9928 fixes your cases, at least where all classes are present in `y_true`. Thanks.

[2017-10-16 03:24] jnothman opened #9930 "ndcg_score should have a lablels parameter or similar to specify class-column mapping"
`ndcg_score` receives `y_true` as an array-like of class labels, which may be ints or strings. These are implicitly mapped to columns in `y_score`, but it should be possible for the user to explicitly provide a classifier's `classes_` attribute which maps class labels from training to columns in its output `predict_proba` or `decision_function` score matrices. Elsewhere in metrics, a `labels` para

[2017-10-16 03:27] jnothman commented on #9927
Okay. This sounds strange then. I assume, from the output, that you have 4 CPU cores.

Please update your code above to include loading the `Churn_Modelling.csv` data so that we can easily attempt to reproduce the issue.

[2017-10-16 03:58] jeromedockes commented on #9921
NDCG is not for classification; y_score and y_true should have the same shape

[2017-10-16 04:18] jnothman opened #9931 "NDCG and DCG have no narrative docs"
There should be documentation in `doc/modules/model_evaluation.rst`

[2017-10-16 04:27] jnothman commented on #9921
I think you're misunderstanding what ndcg_score is trying to achieve in our implementation, though I agree that it is somewhat obscure and it is vastly under-documented (hence #9932). It is interpreting multiclass classification as "each class is to receive a score ranking it, and only one class is relevant". I think this could be extended to multilabel binary relevance evaluation.

I don't think

[2017-10-16 04:27] jnothman commented on #9931
The docstring should also clarify that ndcg_score as implemented here is for multiclass classification evaluation. See https://github.com/scikit-learn/scikit-learn/issues/9921#issuecomment-336777461

[2017-10-16 05:29] jeromedockes commented on #9921
I see, sorry about that. both the name and the implementation are a bit confusing then, nothing is being cumulated and the normalizing constant is always 1

[2017-10-16 06:16] jnothman commented on #9921
yes, I was also surprised to see it's not multilabel. Do you agree that
having a ndcg implementation for multilabel ground truth would at least be
useful?

I am not certain, but I think the original PR was merged by mistake
(without review and consensus) and I think removing it in 0.19.1 is the
sanest way to put out the fire.

[2017-10-16 06:41] jeromedockes commented on #9921
NDCG for a multilabel would be useful. In this case, the interface and
implementation would be identical as for the general case (multilabel would
simply correspond to the special case where relevance scores are binary), and
since some of the motivation for NDCG was to start using non-binary relevance
scores ("highly relevant documents are more valuable than marginally relevant
documents"), it wou

[2017-10-16 06:42] jeromedockes commented on #9921
This sounds perfectly reasonable; a discussion about wether it should be
included and what scikit-learn users would use it for can always be reopened. It
is very easy to implement and takes only a few lines of code, and the current
version is clearly flawed.

[2017-10-16 06:42] AbhayKoushik commented on #9927
Yes, you are right. 4 CPU cores.
The updated code is available in my repository. The link is attached herewith. All the code work except for the ones in the section "Evaluating the ANN". That section contains cross_val_score() function.
[ANN](https://github.com/AbhayKoushik/ANN/blob/master/ann.py)

[2017-10-16 08:18] Naereen commented on #7051
Hi,
No update for this for more than one year?

[2017-10-16 09:09] jnothman commented on #9900
Sounds interesting, but it's certainly not my area. Within scikit-learn, we only seem to use make_spd_matrix in testing GMMs. Would you see a more generic correlation matrix generator as being used to present an example of some machine learning technique, or test some machine learning technique? Try to clarify how it fits into the needs of ML practitioners.

[2017-10-16 09:09] jnothman commented on #9900
Also have you searched for FOSS implementations of such algorithms?

[2017-10-16 09:15] jnothman commented on #9898
I would have done something more like (untested):

[code]

[2017-10-16 09:34] snovik75 commented on #2889
I have a similar problem. I have been running the same code and simply wanted to update the model with the new month data and it stopped running. i believe sklearn got updated in the meantime to 0.19

[2017-10-16 10:18] chungtv93 commented on #7562
how modeling  the people???

[2017-10-16 11:06] RyanCarey opened #9933 "Votingclassifier uses arithmetic mean. Should be taking a mean of log odds."
#### Description
I notice that [VotingClassifier](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.VotingClassifier.html#sklearn.ensemble.VotingClassifier
) with voting='soft' takes averages of the predicted probabilities. But the way it should work is by taking the mean of the log odds (logits).

Think of it as a Bayesian... If I think the probability is 1 (infinite evidence in f

[2017-10-16 11:39] jnothman commented on #9933
this sounds well motivated. in order to maintain backwards compatibility we
may need to offer it as an option rather than replace the current
implementation.

[2017-10-16 13:45] lesteve commented on #7051
I think this was fixed but not closed, closing now.

[2017-10-16 13:45] #7051 closed

[2017-10-16 14:23] #9393 closed

[2017-10-16 14:31] FrugoFruit90 commented on #2034
Thanks for the example @jnothman  !

Does it really allow specifying the underlying parameters, though? (I understood that this was the initial motivation, at least in September 2013 😉)

I tried to check that, and changed the TextStats estimator to simulate having to specify a parameter at the moment of fitting (as is e.g. with Keras callbacks) :

[code]
I then called the fit method on pipeline to

[2017-10-16 14:34] lesteve commented on #9926
Clearer error messages is always better, so I would fix the problems you found and add tests.

[2017-10-16 14:46] agramfort commented on #9921
(without review and consensus) and I think removing it in 0.19.1 is the
sanest way to put out the fire.

mea culpa... no objection to revert and remove in 0.19.1. Sorry again.

I still think though that it is good to have a "validated" standard
implementation
in scikit-learn.

[2017-10-16 15:03] qinhanmin2014 commented on #9926
Thanks :)

You mean to assign it to yourself? Otherwise, I think I'll try it recently. Or you can also tag it to attract others since my work on it will not start too soon.

[2017-10-16 16:19] srajanpaliwal commented on #9889
Hi @rwolst,
if you are not working on this issue. I can take it up.

[2017-10-16 17:07] jeromedockes commented on #9921
I can open a PR if you think it is useful. I think the snippet I posted above is
a correct implementation of the standard definition of NDCG. Again, I think that
any implementation suiting the sklearn API should accept 2d arrays of the same
shape; NDCG is a ranking metric and the user should provide the true scores and
predicted scores for all candidates. In the kaggle airbnb competition the
previ

[2017-10-16 18:33] jmschrei commented on #9933
+1 for Joel's suggestion. I agree that it makes a lot of sense
conceptually, but I also don't think it's a great option to suddenly change
everyone's results.

On Mon, Oct 16, 2017 at 4:40 AM, Joel Nothman <notifications@github.com>
wrote:

[2017-10-16 18:38] craic opened #9935 "test_multi_output_classification_partial_fit_parallelism fails on Ubuntu/VirtualBox/Mac with 1 processor"
#### Description
Test failure on Ubuntu virtual machine running under VirtualBox on Mac when configured with one processor in VirtualBox - passes when configured with 2 processors

test_multioutput.py", line 171, in test_multi_output_classification_partial_fit_parallelism

Appears to involve an incorrect assessment of the number of processors or a failure when there is only one processor

This may

[2017-10-16 19:36] AlJohri commented on #4816
just linking the latest attempt at this here for reference: https://github.com/scikit-learn/scikit-learn/pull/8960

[2017-10-16 19:50] VasLem commented on #9898
Thanks for getting into the trouble of writing this snippet of code, it is pretty much what I asked, without generalizing it.
UPDATE: I ended up abbandoning the one I proposed, due to a couple of reasons:

- The limitations of the pickling mechanism (I found out that I cannot pickle dynamically modified classes, so any sklearn class that includes such mechanism for processing, particularly multith

[2017-10-16 20:36] jnothman commented on #2034
why do you want a parameter to fit rather than a class parameter?

[2017-10-16 20:39] jnothman commented on #9926
I don't think @lesteve's intention was to assign it to himself

[2017-10-16 20:44] jnothman commented on #9921
I think a PR would be welcome, but it should focus on uses in the kinds of
machine learning tasks scikit-learn deals with: rectangular features,
rectangular targets.

[2017-10-16 20:53] kevin-coder opened #9936 "plot_stock_market.py error with Python 2"
#### Description
When I am trying to make latexpdf, it will raise following exceptions:
Exception occurred:
[code]
#### Steps/Code to Reproduce
1. Install the necessary libraries.
2. Enter into the doc directory by typing cmd: cd/root_scikit_learn_source/doc
3. Typing cmd: make latexpdf
4. Wating for building procedure finish, however, the exceptions raise out.

#### Expected Results
 It should no

[2017-10-16 21:20] #9653 closed

[2017-10-16 21:22] jnothman commented on #9935
I think this is fixed in master. please confirm

[2017-10-16 21:59] jnothman commented on #9936
it looks like this has nothing specifically to do with LaTeX, but are
issues with building the docs in python 2, which we do not currently do in
continuous integration testing.

Patches for these issues are welcome

[2017-10-16 22:04] jnothman opened #9937 "CI should test that examples work in python 2."
We currently use Travis to run unit tests with various versions of dependencies, including python 2. But we only run the examples when building the docs in python 3 with Circle CI. #9936 shows that this allows incompatible example code to be introduced, and I expect this to increase as more developers use python 3 though we still support python 2. Perhaps we should add a Travis run that builds the

[2017-10-16 22:34] #9921 closed

[2017-10-16 22:34] #9929 closed

[2017-10-16 22:34] #9930 closed

[2017-10-16 22:34] #9931 closed

[2017-10-16 23:15] oirewaldsknf commented on #8632
Using scikit 0.18.1, I worked around this by setting `init_params='random'`, which is also done in the working scikit example code.  This suggests there's an issue with the default kmeans init.

[2017-10-17 01:12] kevin-coder commented on #9936
@jnothman, I will try to fix this issue.

[2017-10-17 01:37] jnothman commented on #9936
Thank you.

On 17 October 2017 at 12:12, Zhenqing Hu <notifications@github.com> wrote:

[2017-10-17 04:20] jnothman commented on #9876
If the problem is caused by quitting and reentering spyder, are you sure it is not due to randomisation in the data loading? I.e. is `X_train` identical each time?

[2017-10-17 04:27] jnothman commented on #9293
The PR at #9304 is awaiting review by a second core dev

[2017-10-17 07:44] FrugoFruit90 commented on #2034
Well e.g. in the XGBoost API there are some arguments that are sent to fit rather than being set as class parameters, e.g. eval_set, eval_metric etc.:
http://xgboost.readthedocs.io/en/latest/python/python_api.html#module-xgboost.sklearn

[2017-10-17 07:46] lesteve commented on #9926
No it was only a recommendation ;-).

[2017-10-17 07:46] jnothman commented on #2034
Yes, but we think that's a bad idea. Parameters to fit should be aligned
with the data (e.g. arrays with n_samples elements in their first
dimension).

[2017-10-17 08:00] FrugoFruit90 commented on #2034
OK, so the kind of thing I am trying to do is and will be impossible, right?
Thank you for your time anyway, always very educational.

[2017-10-17 08:05] qinhanmin2014 commented on #9926
Thanks to you all for the instant reply :)
I think for this issue, it is not hard to fix the code. The core issue here is how to test it elegantly. If we only add test for specific estimators, it will be quite simple and the test will be regression test, but I'm afraid it might be a bit awkward. I recently find that we are attemping to add common test for sample_weight in #5367, #5515, so we might

[2017-10-17 08:14] jnothman commented on #2034
not necessarily impossible, but not necessarily supported!

[2017-10-17 08:22] FrugoFruit90 commented on #2034
Well, if you or anyone else could think of a workaround for now, even the most hacky one, I would love to see it.

[2017-10-17 08:58] rwolst commented on #9889
@srajanpaliwal I'll have a pull request this evening.

[2017-10-17 09:33] VasLem opened #9938 "Allow pipeline.Pipeline to accept batches of data in fit"
When handling inhomogeneous data,  such as the lines of a set of a documents, each document should have a different normalization ratio for its lines.  This means that the data should be handled in batches, with each batch being normalized in a different way. In the present pipeline.Pipeline fit() method does not seem to support such implementation, forcing me to separate the features extraction p

[2017-10-17 10:27] jnothman commented on #9938
it sounds like you're not thinking about this the right way. You can fit a
pipeline on a list of documents of variable length, but (if it's being fed
into a scikit-learn predictor at least) at some point each document must be
represented as a vector of fixed length.

What you may want to do (something I have recently done for work) is
translate each sentence within your document-instance into a ve

[2017-10-17 10:42] VasLem commented on #9938
I think I did not provide you with enough information. The problem is that I am processing reach documents, so each phrase is represented by a list of dictionaries including fields like "word font color", "word font family", "word height", "word style", "word vertical distance from top one" etc. These are the features that I extract, not sklearn ones, like tfidf or bags of words (trying to segment

[2017-10-17 11:32] lesteve commented on #9937
Rather than trying to do it with Travis (I think that Travis limit on build times are too small to have the time to run all the examples) it may be useful to look at CircleCI [workflows](https://circleci.com/docs/2.0/workflows). The idea would generate the html documentation without error for both Python 2 and Python 3 (but only upload the doc generated with Python 3).

If we do that, it would see

[2017-10-17 11:35] lesteve commented on #9936
Sorry I am the one that introduced the problem. Rather than `min(dates, default=default)` you can probably use something along the lines of:
[code]

[2017-10-17 11:53] lesteve commented on #9935
Looking at the code I agree with this, closing. @craic please shout if you can reproduce the problem on master and we will reopen.

[2017-10-17 11:53] #9935 closed

[2017-10-17 12:27] maschulz opened #9941 "ValueError in t-SNE"
t-SNE throws `ValueError: array must not contain infs or NaNs` if n_components is increased over a certain point.

[code]

[code]

[2017-10-17 14:01] maschulz commented on #9941
Seems to be fixed in master / `0.20.dev0`.
I should have checked that.

[2017-10-17 14:01] #9941 closed

[2017-10-17 14:35] seralouk commented on #8956
I can reproduce the problem on MacBook Pro, High Sierra 10.13

[2017-10-17 14:44] xoffey commented on #9876
The data is certainly the same each time.

      From: Joel Nothman <notifications@github.com>
 To: scikit-learn/scikit-learn <scikit-learn@noreply.github.com>
Cc: xoffey <mcoffey@yahoo.com>; Author <author@noreply.github.com>
 Sent: Monday, October 16, 2017 9:22 PM
 Subject: Re: [scikit-learn/scikit-learn] cross_val_predict randomness (#9876)

If the problem is caused by quitting and reentering s

[2017-10-17 15:26] pierreglaser commented on #9900
The purpose of all of this is the further generation of data following a structure that the user will
be able to specify. The user should end up with a n-dimensional input dataset X following a correlation matrix M, as well as an output y with a correlation vector V linking y to X. M and V will try to fit the user needs in terms of data structure (paragraph "The Feature" in the original post)

[2017-10-17 17:00] Borda opened #9943 "Kmeans and memory overflowing"
#### Description
I am wondering if clustering with kmeans for 250000 samples into 6000 cluster is a too hard problem to compute because it kills even server with 12 cores, 258GB RAM and 60GB swap.

Similar "questions":
 * [python memory error for kmeans in scikit-learn](https://stackoverflow.com/questions/35973698/python-memory-error-for-kmeans-in-scikit-learn)
 * [Memory Error when fitting the da

[2017-10-17 20:12] amueller commented on #9943
try ``algorithm="full"``

[2017-10-17 20:13] amueller commented on #9943
(if this solves the problem, please add this as a suggestion to the documentation)

[2017-10-17 20:16] amueller commented on #9876
can you provide data to reproduce or can you reproduce with synthetic data?

Also: does is still happen with ``n_jobs=1``?

[2017-10-17 20:21] amueller commented on #9938
Changing the number of samples in a pipeline is indeed not supported right now. I'm curious whether that's actually the problem you run into, though. Is the issue that you can't feed the right y?

[2017-10-17 20:26] iaroslav-ai opened #9944 "Pipeline in Pipeline seems to not work well with setting of parameters using `.set_params`"
#### Description
Using Pipeline in Pipeline in GridSearchCV fails sometimes at random. Use a snippet of code below to reproduce (fails ~50% of the time).

#### Steps/Code to Reproduce
[code]

#### Expected Results
The code should work without exceptions.

#### Actual Results
Sometimes I get an error of the form
[code]

#### Reason for the issue

It appears that order in which parameters are set is

[2017-10-17 20:42] amueller commented on #9944
Lol I was trying to reproduce and couldn't, and I think I know why. I'm using Python3.6 where all dicts are ordered.
I think we need to make the iteration ordered in BaseEstimator.set_params, that should fix it.

[2017-10-17 20:50] iaroslav-ai commented on #9944
Yup can confirm, works fine with python3.6 :)

[2017-10-17 21:27] amueller commented on #9944
also: good catch! Btw, do you want a job?

[2017-10-17 22:18] jnothman commented on #9938
I think that you are saying that each page is a sample, but is represented
by a feature space that is structured and hard to represent as a fixed-size
vector. Still it should be possible to handle with pipeline as long as you
consider each entry in the list or array output by your transformers to
correspond to one page. Each can still have a structured representation.

[2017-10-17 23:22] VasLem commented on #9938
You are close but a point is missed : the output of the classification should be a categorical description of each **line** . Thus , one cannot consider as a sample the page throughout the pipeline, as the awaited output is a list of predicted categories, each for a different line. In other words, what is not currently supported in sklearn is the possibility to acquire multiple subsamples from a s

[2017-10-17 23:22] Gitman-code opened #9947 "Feature Request: Hellinger split criterion for classificaiton trees"
Currently tree classifiers like sklearn.tree.DecisionTreeClassifier have two options for split criterion,  “gini” and "entropy". These are sensitive to imbalanced datasets. I would like to request the addition of the Hellinger split criterion since it is insensitive to imbalanced datasets. The documentation and motivation is outlined in the following papers.

https://www.researchgate.net/publicati

[2017-10-17 23:27] jnothman commented on #9652
Renaming "needs contributor" to "help wanted" would be very welcome. Again, I'm annoyed that there's no way to make the links future-proof if we decide to rename things (unless we use a URL redirection service elsewhere).

I'm okay with adding "good first issue" but I'm not certain if this is synonymous with "easy" as currently used.

[2017-10-17 23:33] jnothman commented on #9938
I now see what you mean, but I still do not see how partial_fit solves it.

I think essentially that you should consider your dataset to be a list of
lines, however each line has associated with it some metadata that needs to
be used in preprocessing (e.g. how long the document is, or which document
ID it belongs to). While we do not have a very friendly way to do this (and
may under the 'sample p

[2017-10-17 23:35] jnothman commented on #9947
The papers you reference are not highly cited. Are there alternatives that
have garnered greater interest?

Perhaps it is possible for you to implement these criteria and publish them
in a package external to scikit-learn, as we try to stick to popular
algorithms that have shown the test of time, in order to avoid excessive
maintenance burden.

On 18 October 2017 at 10:22, DrEhrfurchtgebietend <no

[2017-10-17 23:38] #9621 closed

[2017-10-17 23:46] VasLem commented on #9938
Technically yes, although those properties are ideally to be retrieved in the stage of the feature extraction, not before inserting them in the pipeline... Nevertheless this is easier bypassed. The reason why I am mentioning partial fit is that this method can accept sequentially partial training data as input (the input I end up  providing right now after the feature extraction step) and train th

[2017-10-18 00:03] jnothman commented on #9938
well I think our discussion was helpful, but this issue is too
abstract/unclear for us to be able to make anything of it. So I'm closing
it.

if you can come up with a more concrete use case, it might be appropriate
to raise an issue that we should provide an example of such a usage.

[2017-10-18 00:04] #9938 closed

[2017-10-18 01:02] jnothman commented on #9944
As the author of `_BaseComposition._set_params`, I think this case should have been handled there. It should have set `a__b` before `a__b__alpha`. Both `b` and `b__alpha` should be passed to `Pipeline.set_params` (and thence to `_BaseComposition._set_params`), but only `b__alpha` should be forwarded onto `BaseEstimator.set_params`. Could you check whether/why this is not the case?

[2017-10-18 01:10] qinhanmin2014 opened #9948 "Several fixed issues/PRs that might be closed"
I'm not doing this intentionally. Below are just my findings this year when searching for issues/PRs and reading other's code. So not sure how serious the problem is.

https://github.com/scikit-learn/scikit-learn/pull/4964 might be closed.
It is fixed in https://github.com/scikit-learn/scikit-learn/pull/6841
https://github.com/scikit-learn/scikit-learn/pull/5839 might be closed.
It is fixed in htt

[2017-10-18 01:23] jnothman commented on #9944
I see what's wrong. #9945 is the wrong fix (even if the determinism might
be good and fix this particular case).

More generally the issue is that BaseEstimator.set_params forwards one
parameter at a time, rather than forwarding all parameters with a
particular prefix at the same time. Fix welcome.

[2017-10-18 01:28] jnothman commented on #9948
Yes, we're not very good at closing PRs. We also don't have as much regular personnel availability as some/all of those projects. We are used by a more focused (and more applied) user group, so don't get the same contributor pool or quality, necessarily.

I don't think having excess open issues/PRs is terrible, though. Why do you consider it important?

We have periodically gone through issues. PR

[2017-10-18 01:40] qinhanmin2014 commented on #9948
no specific reason, maybe just the increasing cost of keeping track of so many issues/PRs from your side.

I hesitate a lot before posting this issue, so if there is something inappropriate, kindly regret me, at least my intention is not bad :)

[2017-10-18 02:54] jnothman commented on #9944
This is why the nested pipelines were necessary for the issue to occur. Thanks for finding it @iaroslav-ai: I used this kind of nested pipeline a lot (and created http://searchgrid.readthedocs.io/ in part to help me do so).

I've updated #9945 with an appropriate fix. Though perhaps I should have opened a new PR.

[2017-10-18 07:06] jwu-aa commented on #8376
It will be very useful for me, https://github.com/sebastinsanty when will it be available :)

[2017-10-18 07:17] samuelefiorini commented on #9901
thanks for the tips

[2017-10-18 07:38] iaroslav-ai commented on #9944
thanks @amueller . Do you mean making a PR on this or do you have positions available? :) I am on the look for a job.
@jnothman So you mean that `set_params` should handle itself the correct order or or any other custom logic, so as to not bring this into base class?
Yes, searchgrid seems pretty neat! It was when I was experimenting with it I discovered the whole pipeline in pipeline thingy.

[2017-10-18 08:00] lesteve commented on #9948
My personal take on this: github issues are like google search results. If you are not in the first page, it is pretty much the same as not existing. If an issue/PR is really important someone will bump into it creating some activity and the issue will be back on the first page.

Yes it would feel a bit better to have issues closed when appropriate (I generally insist on using "Fix #issueNumber" i

[2017-10-18 08:03] #7861 closed

[2017-10-18 08:05] lesteve commented on #3506
Closed by #8066.

[2017-10-18 08:05] #3506 closed

[2017-10-18 08:08] lesteve commented on #9948
I closed the PRs you mentioned, closing.

[2017-10-18 08:08] #9948 closed

[2017-10-18 08:37] jnothman commented on #9944
yes, if there is a priority within the keys to set_params, the estimator
should have a custom implementation to handle it. which pipeline does. only
I failed to realise that set_params would forward one at a time in the
nested context...

On 18 Oct 2017 6:38 pm, "Iaroslav Shcherbatyi" <notifications@github.com>
wrote:

[2017-10-18 08:38] #9902 closed

[2017-10-18 09:01] qinhanmin2014 commented on #9948
Thanks :) I think at some point, we might consider to improve contributor guide or even PR template to tell contributors to use Fixes and Closes to point to relevant issues / PRs. I sometimes imagine if I am at your point, I'll be so frustrating to merge something like 7910 because I need to manually close 3 issues/PRs. Anyway, ignore the message if everything seems fine from your perspective.

[2017-10-18 10:01] harryscholes opened #9949 "decomposition.PCA has no attribute 'singular_values_'"
#### Description
The `singular_values_` attribute of `PCA` is broken.

#### Steps/Code to Reproduce
The docstring for `PCA` contains the following example:

[code]

#### Expected Results
From the docstring:

[code]

#### Actual Results

[code]

#### Versions
[code]

[2017-10-18 10:07] lesteve commented on #9944
Note to reproduce on Python 3.6 similar to what @jnothman did in one of the PR test:

[code]

[2017-10-18 10:17] rth commented on #9949
The `PCA.singular_values_` attribute was added in 0.19 (in https://github.com/scikit-learn/scikit-learn/pull/7685), it [doesn't exist](https://github.com/scikit-learn/scikit-learn/blob/0.18.X/sklearn/decomposition/pca.py#L191) in 0.18.1. Please update your scikit-learn version.

[2017-10-18 10:30] #9949 closed

[2017-10-18 10:59] harryscholes commented on #9949
My apologies! I didn't realise I was out of date :)

[2017-10-18 11:51] jnothman commented on #9948
PR welcome.

[2017-10-18 12:57] lesteve commented on #9652
I added the "help wanted" label and move all the "Need contributor" issues to the new label (for the record I did it using https://github.com/stephencelis/ghi, since I could not find a way to select more than 25 issues with the web UI). Note "help wanted" is part of the [default github labels](https://help.github.com/articles/about-labels/#using-default-labels) so I am hoping this is not too likel

[2017-10-18 15:47] elsander commented on #9937
I can take a look at this issue, unless @kevin-coder is planning to add this functionality in the process of resolving #9936.

[2017-10-18 17:00] lesteve commented on #9937
I have started to look at this one actually. I am not entirely convinced this is a great issue to get started unless you are already familiar with CircleCI and our CI setup. Feel free to look at other Easy issues, we have plenty of them :-).

[2017-10-18 17:11] elsander commented on #9937
I'm familiar with CircleCI (although not your setup per se), but I'll look for a different ticket since you're working on this one.

[2017-10-18 18:06] amueller commented on #9938
to me this sounded analogous to what I had in computer vision: you have a collections of entities in the beginning, but the data points for classification are actually some sub-parts of these entities, and the separation of the data points and feature extraction should be part of the pipeline.
In its simplest form this would require changing the number of samples (which we can't).
A possibly bette

[2017-10-18 19:00] VasLem commented on #9938
I understand your reasoning and thank you for your proposal, I guess an HMM or a CRF would excel in such a problem, although I did not implement such mechanism as I found it to be an overkill. In addition the discontinuity of the pages properties would still not be able to be represented by a sequence model. Indeed most real life datasets involve a sample augmentation, to incorporate the spatiotem

[2017-10-18 20:15] xoffey commented on #9876
Thanks for the replies!

Turns out, I was exaggerating when I said the data is certainly the same each time. I seem to be having a problem with pandas DataFrame sample method, even though I pass the same non-zero random_state argument each time.

[2017-10-18 20:51] crawles opened #9952 "Decision Tree plotting with graphviz issue"
#### Description
Unicode feature names makes the decision tree plot incorrect.

If you replace

[code]

with

[code]

the issue is resolved. It's due to the `u`

#### Steps/Code to Reproduce

[code]

#### Expected Results
![download 1](https://user-images.githubusercontent.com/5091145/31741956-20dc9722-b424-11e7-9cd8-59c96677bdd7.png)

#### Actual Results
![download](https://user-images.githubuser

[2017-10-18 20:52] jnothman commented on #9652
you can rename labels, for future reference. i don't know if that creates
redirects or anything

On 18 Oct 2017 11:57 pm, "Loïc Estève" <notifications@github.com> wrote:

[2017-10-18 21:17] jnothman commented on #9876
Then I shall close this issue and you can reopen or raise another if you find a more specific, reproducible problem.

[2017-10-18 21:17] #9876 closed

[2017-10-18 21:40] #9944 closed

[2017-10-18 22:03] hristog opened #9953 "Scatter Separability Criterion (SSC) for clustering algorithms"
I don't think I've seen references to the _Scatter Separability Criterion_ (SSC) metric anywhere yet - neither in the Issues section here, nor on the mailing list.

Has it been ever considered and if yes, what are the reasons it hasn't made its way into the _sklearn_ module yet?
Would a potential PR be encouraged?

**References:**
- Dy, J. G., and Brodley, C. E. (2004), "Feature selection for unsu

[2017-10-18 22:12] jnothman commented on #9953
I don't think it's been suggested before.

[2017-10-18 22:12] jnothman commented on #9953
Sounds interesting.

[2017-10-19 05:03] DrEhrfurchtgebietend commented on #9947
Yes this has not gathered a lot of citations in general but a typical amount for a good paper in this subfield.

There are other solutions to the issue of imbalanced data. The "class_weight" method which is already implemented is a traditional but inferior solution. Other methods which receive comparable results are much more complicated to explain and implement. These are mostly ensemble method w

[2017-10-19 05:51] qinhanmin2014 opened #9956 "DOC several .rst files missing from toctree"
Below are extracted from Circle CI log.
[code]
At least the first one and the third one deserves a fix.
This means that we can not get access to kddcup99.rst and dp-derivation.rst unless we type the url.

[2017-10-19 07:28] #9718 closed

[2017-10-19 09:08] apacha commented on #4558
Sorry for bringing this issue up again, but is the documentation really right? And is there any progress on just simply forwarding the `average` parameter from [`classification_report`](https://github.com/scikit-learn/scikit-learn/blob/45d1dd2e99b4b813f9710a33b1351b43a949f2af/sklearn/metrics/classification.py#L1428) to [`precision_recall_fscore_support`](https://github.com/scikit-learn/scikit-lear

[2017-10-19 09:40] manikbhandari opened #9957 "Default 'solver' in LogisticRegressionCV is different from the one mentioned in the docs"
#### Description
In the [documentation](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegressionCV.html) for LogisticRegressionCV, the source code at the top reads

whereas under the solver section it is written that the default is 'liblinear'. I was wondering which is the actual default and if I could send a PR to fix it!

[2017-10-19 10:01] jnothman commented on #4558
see where it averaged the scores below. The documentation is correct.
Except for computation time, passing an average parameter would work fine.

[2017-10-19 10:02] jnothman commented on #9957
The one up top is correct. fix welcome

[2017-10-19 10:36] tereshin-pmi51 commented on #9953
it's interesting feature.
sorry, I am starting my career in open-source community and i'd like to be a contributor of scikit project=) @jnothman, could you give me chance to write that functionality, please?
Unfortunately I don't know how to reserve that feature correctly and writing here. Sorry if it doesn't work in that way.

[2017-10-19 10:46] hristog commented on #9953
@tereshin-pmi51, @jnothman: Sorry, I thought it was implied already implied in my original message, that I would like to contribute this feature, if it's considered a potentially valuable addition.
I've used this metric in a couple of MATLAB projects of mine and that's why I was surprised that it wasn't available in *sklearn* (whilst, I view it as somehow traditional metric in the aforementioned c

[2017-10-19 10:47] tereshin-pmi51 commented on #9953
oh, sorry

[2017-10-19 11:37] PGryllos commented on #8614
just to give an update. I went through the mentioned issues and got a better understanding of what the task is. Now I think I can start implementing the api of the class. But I could still use some help on what the exact threshold decision should be based on. Maybe as @amueller said provide all of three options and let the user decide which one to use?

[2017-10-19 14:00] lesteve commented on #9952
I can only reproduce with Python 2 and I get an error rather than an incorrect-looking graph:
[code]

[2017-10-19 14:06] qinhanmin2014 opened #9958 "DOC Inconsistent between checklists in CONTRIBUTING.md and contributing.rst"
In both CONTRIBUTING.md and doc/developers/contributing.rst, we have a checklist which list the things to check before submitting a pull request. (See the list in [CONTRIBUTING.md](https://github.com/scikit-learn/scikit-learn/blob/master/CONTRIBUTING.md#pull-request-checklist) and [contributing.rst](https://github.com/scikit-learn/scikit-learn/blob/master/doc/developers/contributing.rst#contributi

[2017-10-19 14:10] lesteve commented on #9952
Hmmm actually I updated my pydot version (current version is 1.2.3) and I can not reproduce the problem, even on Python 2. @crawles can you try updating your pydot version?

[2017-10-19 14:39] lesteve commented on #9958
Just to state the obvious, straight copy and pasting will not work because one is markdown and the other one is reST. In my mind CONTRIBUTING.md is a subset of contributing.rst, that aims to be more concise and to the point than contributing.rst. Other core devs may disagree on that.

Maybe CONTRIBUTING.md could be rewritten in a nicer way with less text and more links to the dev doc (that is scik

[2017-10-19 15:03] qinhanmin2014 commented on #9958
@lesteve Thanks a lot for the instant reply :)
In the long run, I personally agree with your suggestions to improve CONTRIBUTING.md. But currently, I might still think it necessary to make the two list consistent (at least add what's missing from .rst file from .md file because we want .rst file to contain all the information).
If you are sure that we don't need any discussion, please close it dir

[2017-10-19 15:39] ragnerok commented on #9354
Ok so I created a python script to compare the time taken by subtraction-then-squaring and conversion to float64 then product-then-sum and it turns out if we choose an X and Y as very big vectors then the 2 results are very different. Also @jnothman you were right subtraction-then-squaring is faster.
Here's the script that I wrote, if there's any problem please let me know

[code]

[2017-10-19 15:41] apacha commented on #4558
Oh, yes. I see. But wouldn't it be better to use a default-parameter with average='weighted' and remove those averagings? Like this:

[code]

[2017-10-19 15:58] apacha commented on #4558
Ok, I admit. It is not that straight forward, but nothing that can not be fixed in a couple of more lines. Check this out: https://github.com/apacha/MusicSymbolClassifier/blob/master/ModelTrainer/reporting/sklearn_reporting.py

I've tested it with `average=None`, `average='micro'`, `average='macro'` and `average='weighted'`.

The outputs are

[code]

[2017-10-19 17:31] thomberg1 commented on #2889
Running GridSearchCV or RandomizedSearchCV in a loop and  n_jobs > 1 would hang silently in Jupiter & IntelliJ:

[code]

Followed @lesteve recommendation & checked environment & removed numpy installed with pip:

Darwin-16.6.0-x86_64-i386-64bit
Python 3.6.1 |Anaconda custom (x86_64)| (default, May 11 2017, 13:04:09)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]
NumPy 1.13.1
SciPy 0.19.1
S

[2017-10-19 17:49] thomberg1 commented on #2889
@paulaceccon your problem is related to

The following will run your code:
[code]
with external.py

[code]
Results running on 8 cores

Fitting 3 folds for each of 54 candidates, totalling 162 fits
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    7.1s
[Parallel(n_jobs=-1)]: Done 162 out of 162 | elapsed:   30.5s finished
{'class_weight': {0: 0.51891309, 1: 13.71835531}, 'criterion': 'gini',

[2017-10-19 18:53] gustavodemari commented on #9957
The default is lbfgs, check the link below.

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/logistic.py#L1558

[2017-10-19 18:56] crawles commented on #9952
@lesteve yup, it was fixed after upgrading to 1.2.3. The version I had before that caused the issue was 1.2.2

[2017-10-19 20:51] rspadim opened #9960 "Tree Optimal split - from LightGBM"
implement split logic, like LightGBM
Optimal split: https://media.readthedocs.org/pdf/lightgbm/latest/lightgbm.pdf

lightgbm commits: https://github.com/Microsoft/LightGBM/pull/762

---

Optimal Split for Categorical Features

We often convert the categorical features into one-hot coding. However, it is not a good solution in tree learner. The reason is, for the high cardinality categorical featur

[2017-10-19 21:05] #9589 closed

[2017-10-19 22:31] jnothman commented on #8614
Start with one?

[2017-10-19 22:35] jnothman commented on #9354
it's worth testing how it scales with the number of samples, not just the
number of features... taking norms may have the benefit of computing some
things once per sample, not once per pair of samples

On 20 Oct 2017 2:39 am, "Osaid Rehman Nasir" <notifications@github.com>
wrote:

[2017-10-19 22:38] jnothman commented on #4558
yes, not hard as long as we don't mind duplicating the computation.

PR welcome in any case. Please include tests

[2017-10-20 03:24] jnothman commented on #9952
Is there somewhere we can improve the documentation, or should we just
close this?

[2017-10-20 03:52] kevin-coder commented on #9936
@lesteve , never mind, this should not be a big issue :)

[2017-10-20 06:04] #9652 closed

[2017-10-20 08:24] lesteve commented on #9952
It's Python 2 only and depends on the pydot version so I am not sure this is easy to document. Also this is fixed in the latest pydot release. I am going to close this one.

[2017-10-20 08:24] #9952 closed

[2017-10-20 09:30] glemaitre commented on #9947
I think that we could integrate it in imbalanced-learn if it shows some improvement.

The criterion in the tree in scikit-learn are classes; therefore I think that we could implement our own criterion on our side. We will just need scikit-learn to allow us for duck-typing.

@jnothman Do you think this is something reasonable?

[2017-10-20 09:33] glemaitre commented on #9953
@tereshin-pmi51 There plenty of other scikit-learn issues waiting for you :)

[2017-10-20 09:37] tereshin-pmi51 commented on #9953
@glemaitre - could you show me link with question what people currently need in scikit? because I can't find currently hot issues...

[2017-10-20 10:33] lesteve commented on #9957
PR more than welcome for fixing the docstring:
https://github.com/scikit-learn/scikit-learn/blob/e0a29977cfdca42a467d0be24cdf79f8c3053b5a/sklearn/linear_model/logistic.py#L1417-L1419

[2017-10-20 13:02] #9957 closed

[2017-10-20 14:22] jacobdang commented on #7332
Any update on this issue? I believe this issue should be assigned as a high priority bug.  Incorrect evaluation metrics could mislead many people in interpreting and reporting their experimental results.  I may consider submitting a patch if no one else is going to work on it.

[2017-10-20 14:23] TomDLT commented on #9960
Categorical split in tree-based methods is definitely a feature we want.

There has been a lot of work about it in #4899 (and also #8030).

[2017-10-20 14:43] lesteve commented on #9960
cc @glemaitre.

[2017-10-20 18:04] stefansimik opened #9963 "mean_squared_log_error - accepts targets with negative values"
#### Description
I found problem, where mean_squared_log_error() function does not catch error.

#### Steps/Code to Reproduce

Imagine simple situation, where regression model predicts negative value:
[code]
This happened, when my regression model predicted 1 negative value (among thousands of positive values).

#### Expected correct behavior:

Expected behavior is, that exception:
_ValueError("Me

[2017-10-20 19:52] zorroblue commented on #9956
I would like to work on this :)

[2017-10-20 20:32] zorroblue opened #9964 "Documentation building fails"
#### Description
`make html` and `make html-noplot` fails on docs/

#### Steps/Code to Reproduce

`cd docs`
`make html`

#### Expected Results

Should build without errors

#### Actual Results

Sphinx version: 1.4.4
Python version: 2.7.6 (CPython)
Docutils version: 0.11 release
Jinja2 version: 2.7.2
Last messages:

Loaded extensions:
Traceback (most recent call last):
  File "/usr/local/lib/python

[2017-10-20 20:55] amueller commented on #9963
or we could change and to an or, right? but I guess the operator precedence is unclear. So PR with regression test welcome. I think your version is more clear.

[2017-10-21 09:48] jnothman commented on #9947
I think it's very reasonable if we consider the Criterion API public...

[2017-10-21 09:51] jnothman commented on #9953
GitHub recently establish the "help wanted" label as a standard way to find issues where a project wants help. But I suggest you also find something more straightforward than this. Please read our contributor guide.

@hristog, an unsupervised feature selection approach would be appreciated from my perspective. PR welcome.

[2017-10-21 10:00] jnothman commented on #9964
Duplicate of #9936

[2017-10-21 10:08] hristog commented on #9953
@jnothman, thanks for your confirmation. I'll try to get out a PR asap.

[2017-10-21 12:05] jnothman commented on #7332
Yes, probably. PR welcome

[2017-10-21 12:08] jnothman commented on #9354
anyway, would you like to submit a PR, @ragnerok?

[2017-10-21 13:03] ragnerok commented on #9354
yeah sure, what do you want me to do ?

[2017-10-21 15:20] qinhanmin2014 commented on #9958
@jnothman Could you please share your opinion on this? Do we need to make the two checklists consistent? Thanks.

[2017-10-21 17:59] alexlenail opened #9967 "Group Lasso and Sparse Group Lasso"
These two methods are part of the conventional set of basic methods I think belong in a project like scikit-learn.

### Group Lasso

- [Wikipedia](https://en.wikipedia.org/wiki/Lasso_(statistics)#Group_lasso)
- [Original Paper](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.366.4278&rep=rep1&type=pdf) - Cited by 4219
- [Possible implementation](https://gist.github.com/fabianp/1423373)
-

[2017-10-21 19:25] DrEhrfurchtgebietend commented on #9947
That is a great solution. It would allow to have all the imbalanced classification tools in one package. It would seem the change to Scikit-learn is relatively small. Could a ticket for this change be made to supplant this one and this be passed to imbalanced learn? What is the release schedule like? Would getting this into 0.19.1 be possible?

[2017-10-21 22:57] amueller opened #9969 "requirement of regression tests not very explicit in the developer doc"
The code review mentions tests, but the rest of the instructions are not very clear. it's relatively rare that there's any code contribution that will not require adding a new test, so we should mention that explicitly, possibly in multiple places.

[2017-10-22 01:20] donigian commented on #9969
please have a look at [this](https://github.com/scikit-learn/scikit-learn/pull/9970) PR

[2017-10-22 01:38] gustavodemari commented on #9739
@jnothman What you want is something like this?

![Classifiers](https://i.imgur.com/UUW3As7.png)

If you say yes, I will try to replicate to clusters and submit an PR.

[2017-10-22 03:13] jnothman commented on #9354
provide a more stable implementation, also a test that would fail under the
current implementation, and ideally a benchmark that shows we do not lose
much from the change, in reasonable cases.

[2017-10-22 03:18] jnothman commented on #9958
I'm not a big fan of contributing.md. I suspect it is read much less often than the one rendered on the web site. I would much rather work improving the rst one to make the other redundant, or simplifying CONTRIBUTING.md, renaming it to CONTRIBUTING.rst and ideally including it in the docs directly.

[2017-10-22 03:20] jnothman commented on #9964
Actually this is a different bug building docs in py2

[2017-10-22 03:22] jnothman commented on #9967
I don't think there's a reason not to support it. Generally we do not handle heterogeneity among features much at the moment

[2017-10-22 03:25] jnothman commented on #9947
it would not be appropriate for a bug fixes release, and 0.19.1 should be
released today

On 22 Oct 2017 6:25 am, "DrEhrfurchtgebietend" <notifications@github.com>
wrote:

[2017-10-22 03:48] qinhanmin2014 commented on #9958
@jnothman Thanks for the reply :)

For myself, I read the contributing.rst website. But recently I (surprisingly) find out that ISSUE_TEMPLATE.md, PULL_REQUEST_TEMPLATE.md and part of README.rst all choose to link to CONTRIBUTING.md file instead of contributing.rst website.

Anyway, this PR only focus on the two PR checklists. They are almost the same, but each side is missing something from the o

[2017-10-22 04:32] maksimt opened #9971 "All clustering metrics should accept contingency matrix as input label:easy"
### Reason:
It allows the user to compute these metrics on soft classifications. E.g. let Y be a (n,k) ndarray, where each row is a probability distribution over classes. Let C be a (n,c) ground truth ndarray, each row is a probability distribution over classes. Then A = np.dot(Y.T, C) is the expected contingency matrix.

### Example of a function where it's currently implemented:
`mutual_info_sco

[2017-10-22 04:58] jnothman commented on #9739
There is actually already a PR, but it's stalled, in part because it's too
large in either direction. your comment there is welcome.

[2017-10-22 05:02] jnothman commented on #9971
Duplicate of #8103. I can't recall the status of the PR at #8107 but you could at least help review

[2017-10-22 05:02] #9971 closed

[2017-10-22 09:25] ragnerok opened #9972 "Incorrect formatting in AUTHORS.rst"
#### Description

If you look at [AUTHORS.rst](https://github.com/scikit-learn/scikit-learn/blob/master/AUTHORS.rst) you'll realise that the some of the names under People section are supposed to be hyperlinks but aren't

I guess it can be fixed by removing the line `.. hlist::`

[2017-10-22 09:47] zorroblue commented on #9964
Yes @jnothman

[2017-10-22 09:56] jnothman commented on #9964
have you tried upgrading sphinx-gallery?

[2017-10-22 13:58] zorroblue commented on #9964
I upgraded to Sphinx 1.6.4 and also removed the numpy_ext/ and sphinx_gallery/ directories in doc/sphinxext/. Build is running successfully now.
I think we should delete these folders too in `make clean`. What do you think @jnothman ?

[2017-10-22 14:56] lesteve commented on #9964
Glad you got it working, closing. `doc/sphinxext/numpy_ext` and `doc/sphinxext/sphinx_gallery` folders don't exist in master any more so there is no point deleting them in `make clean`.

[2017-10-22 14:56] #9964 closed

[2017-10-22 16:03] lesteve commented on #9958
A link to CONTRIBUTING.md is shown by github each time you open an issue or PR (probably only in a repo you have not contributed to, I haven't tested this extensively). Here is a snapshot to give an idea:
![snapshot](https://user-images.githubusercontent.com/1680079/31863400-91e6cf6a-b74d-11e7-91a8-73bd0dd11dfc.png)

As such I would bet that new contributors are way more likely to read CONTRIBUTIN

[2017-10-22 16:12] zorroblue commented on #9972
Yeah, you are right. I'll fix this.

[2017-10-22 16:24] qinhanmin2014 commented on #9958
@lesteve Thanks a lot for the detailed reply :) Closing this one since the issue seems trivial.
I agree with your notes so if needed, you might instruct me to submit issue/PR for that.
Thanks again and sorry for wasting your precious time.

[2017-10-22 16:24] #9958 closed

[2017-10-22 16:31] ragnerok commented on #9972
To be honest, I wanted someone to give their views on it first, the line must have been there for a reason !

[2017-10-22 16:58] zorroblue commented on #9972
Really sorry, my bad. :) I mistook it as a .md file in a hurry and fixed it.
 I don't think there's an error with this. Infact http://scikit-learn.org/stable/about.html is generated from this.
Anyways, let's wait for a more knowledgeable person then :)

[2017-10-22 18:48] #9936 closed

[2017-10-22 20:56] jnothman commented on #9964
The problem @lesteve is that if there are files left in those directories,
git won't remove them upon checkout. They can then interfere with doc
building.

We've previously cleaned up reminded directories in sklearn for this
reason. Could do same for doc. To be safe could only remove pyc and similar
files.

[2017-10-22 20:59] #9956 closed

[2017-10-22 21:02] jnothman commented on #9958
feel free to submit PRs. they're much easier to handle than discussion in
abstract, though @lesteve's response here is great.

[2017-10-22 21:35] avidale commented on #3148
I added classical quantile linear regression in the pull request above. Please review it!

[2017-10-22 22:06] jnothman commented on #9972
if there is a simple way to render both correctly, then fix welcome.
otherwise, scikit-learn.org is a higher priority

[2017-10-23 03:47] RyanCarey opened #9979 "Disagreement between LogisticRegression and LogisticRegressionCV"
I think LogisticRegression and LogisticRegressionCV are fitting the intercepts very differently. Possibly LogisticRegression is regularizing the intercept? When you have an imbalanced dataset, you generally don't want the intercept to be subject to regularization, so I figure this is a bug, and LogisticRegression should behave like LogisticRegressionCV?

#### Steps/Code to Reproduce
￼
import numpy

[2017-10-23 03:54] jnothman commented on #9979
For legacy reasons, liblinear is the default solver in `LogisticRegression`. In this case, yes, the intercept is regularised. See the `intercept_scaling` parameter.

Perhaps we should be changing the default solver in `LogisticRegression` but is it worth it to break people's code? Perhaps this could be documented more clearly. Otherwise, this is a non-issue.

[2017-10-23 03:54] #9979 closed

[2017-10-23 03:56] jnothman commented on #9979
Perhaps changing the default solver should be seriously considered. Having
the intercept regularised is a pain, and one users wouldn't identify
readily.

[2017-10-23 09:23] TomDLT commented on #9967
GaelVaroquaux commented on Jun 15, 2016 (https://github.com/scikit-learn/scikit-learn/pull/947#issuecomment-226225683)

to me that it is a bit of niche model: it's not useful for many people. I
somewhat came to the conclusion that it couldn't a priority for
scikit-learn.

[2017-10-23 10:41] jnothman commented on #9967
is there an implementation hanging around in contrib et al?

[2017-10-23 12:28] gxyd commented on #8507
I'll try to fix the issue then.

[2017-10-23 12:32] lesteve commented on #8507
I *think* (although 100% sure) that this issue is specific to nose. We are going to switch to pytest in the not so far future (probably a few weeks time I would say). If this is nose-specific this is not really worth investigating.

As per https://github.com/scikit-learn/scikit-learn/issues/8507#issuecomment-286056356, I did not understand what this issue was about last time I looked.

[2017-10-23 12:40] gxyd commented on #8507
Initially I was a little sceptical to choose the issue, since I am looking for easy to fix core sklearn issue. I'll look for some other issue. I'll leave this.

[2017-10-23 13:06] gxyd commented on #9633
Can I try this one? No PR seems to have been submitted. I'll take sometime, but I do want to fix the issue.

[2017-10-23 13:56] zfrenchee commented on #9967
@jnothman I believe there may be an implementation in https://github.com/scikit-learn-contrib/lightning...

@TomDLT I don't think this is a niche model, with so many cites.

[2017-10-23 14:06] TomDLT commented on #9967
[lightning](https://github.com/scikit-learn-contrib/lightning/search?utf8=%E2%9C%93&q=%22group+lasso%22&type=) implements the group lasso in three algorithms: SGD, FISTA, and primal-CD.

[2017-10-23 21:38] PGryllos commented on #8614
Ok I have to admit I am still pretty stuck :$ I looked at that the `CalibrationClassifier` in the calibration module which seems like it's tacking a very similar problem.  #6663 and https://github.com/scikit-learn/scikit-learn/pull/4822 also work on calibrating probability threshold. I am not sure how exactly the proposal fits in and I find it difficult to find my way around the problem. I would l

[2017-10-24 02:01] yarikoptic commented on #9393
FWIW, this issue still happens on 32bit debian stretch with 0.19.1
[code]

[2017-10-24 02:42] jnothman commented on #9393
It looks like that PR was not copied across correctly to 0.19.1. My fault.

Should be working in master, though, and seeing as the solution was simply
to lower the threshold to 0.85, I don't think we're going to make another
bug-fix release. Feel free to patch for Debian.

On 24 October 2017 at 13:01, Yaroslav Halchenko <notifications@github.com>
wrote:

[2017-10-24 02:43] jnothman commented on #9393
You can cherry-pick 6c99d797 if you wish.

[2017-10-24 03:20] raamana opened #9986 "Can I completely disable any parallelization within GridSearchCV?"
#### Description

Hi All, I am running into similar issues (as in https://github.com/scikit-learn/scikit-learn/issues/8210 ) when I try to parallelize a loop containing `GridSearchCV` in each iteration (think of repeated shufflesplit, with large num of repetitions like 250, and each repetition contains a grid search on the training set). I tried to parallelize outer loop using the builtin multipro

[2017-10-24 03:29] jnothman commented on #9986
Not specifying n_jobs will mean no parallelism from scikit-learn, although potentially some through numpy accelleration.

[2017-10-24 03:29] #9986 closed

[2017-10-24 03:57] raamana commented on #9986
Thanks Joel, will give that a try.

[2017-10-24 04:26] raamana commented on #9986
Just gave this a quick try (not setting n_jobs), and it seems the code is still entering sklearn/externals/joblib/parallel.py (I issued ctrl+c in the middle of a loop to arrive at the state shown below). What I would prefer is a way to completely bypass any joblib computation/interaction - is that possible?

[code]

[2017-10-24 04:51] jnothman commented on #9986
No, you can't. Why would you need that?

If you look at line /home/hpc3194/.conda/envs/py36/lib/python3.6/site-
packages/sklearn/externals/joblib/_parallel_backends.py:111, you will see
that there is indeed no parallelism.

[2017-10-24 06:53] jianlianggao opened #9987 "ValueError: Cannot vectorize empty sequence."
Hi,

Tried to run plot_out_of_core_classification.ipynb but got the errors:
ValueError: Cannot vectorize empty sequence.
due to X_test_text is empty returned from
```X_test_text, y_test = get_minibatch(data_stream, 1000)```

What's wrong?

Thanks,
Best regards,
Jianliang

#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

Python 2.7
Scikit-Le

[2017-10-24 06:57] jnothman commented on #9987
what do you get from stream_reuters_documents()?

[2017-10-24 07:40] agramfort commented on #9967
I am also a heavy user of group Lasso but as the maintenance of linear
models is already
a challenge, I would say that if lightning does the job well let's
advertise (and improve)
this implementation.

[2017-10-24 08:17] jianlianggao commented on #9987
generator object stream_reuters_documents at 0x08BA5648

[2017-10-24 08:29] jnothman commented on #9987
And what does iterating over the first few entries with next return?

On 24 Oct 2017 7:17 pm, "Jianliang" <notifications@github.com> wrote:

[2017-10-24 08:57] jianlianggao commented on #9987
I think the problem is that the dataset is not downloaded. The stream_reuters_documents() doesn't print out the expected message
[code]

[2017-10-24 09:29] rth commented on #9987
If it was not (properly) downloaded , I think an exception would have been raised [when untarring it](https://github.com/scikit-learn/scikit-learn/blob/32fcc364ab1a4cd920b3ef9181f2718d67dbae4d/examples/applications/plot_out_of_core_classification.py#L180) .

Maybe try deleting `~/scikit_learn_data/reuters` to download it again.

Just rerun the example on 0.19.1 with Python 2.7 on Linux, I can't re

[2017-10-24 09:31] rth commented on #9987
This would suggest you already downloaded it before. Try removing the `reuters` folder (cf above) to re-download it.

[2017-10-24 10:30] gxyd commented on #9633
I am not able to reproduce the issue on my system:
[code]

Am I doing something wrong?

[2017-10-24 10:39] bringtree opened #9988 "is it a bug?"
#### Description
an err output, In my train_output, it does not exist [0,0]
#### Steps/Code to Reproduce

[code]

#### Expected Results

[[ 0.  1.]
 [ 0.  1.]
 [ 0.  1.]
 [ 0.  1.]
 [ 1.  0.]
 [ 1.  0.]
 [ 1.  0.]
 [ 1.  0.]]

#### Actual Results

[[ 0.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 1.  0.]
 [ 1.  0.]
 [ 1.  0.]
 [ 1.  0.]]

#### Versions

Darwin-16.7.0-x86_64-i386-64bit
Python 3.6.1 (v

[2017-10-24 10:41] bringtree commented on #9988
i can't paste the code
[code]

[2017-10-24 10:48] jianlianggao commented on #9987
Thank you very much. I have it sorted. The cause was that jupyter notebook had no write permission to my home folder as my terminal window wasn't run as administrator.

[2017-10-24 10:48] #9987 closed

[2017-10-24 13:20] mfeurer opened #9991 "GradientBoostingClassifier: sparse data and warmstarting do not work together"
#### Description
Using warmstarting and sparse data for gradient boosting do not work together.

#### Steps/Code to Reproduce
[code]

#### Expected Results
[code]

#### Actual Results
[code]

#### Versions
Linux-4.4.0-96-generic-x86_64-with-debian-stretch-sid
Python 3.6.2 |Continuum Analytics, Inc.| (default, Jul 20 2017, 13:51:32)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
NumPy 1.13.3
SciPy 0.19.1
S

[2017-10-24 13:22] mfeurer commented on #9991
Nevermind, I misread the what's new.

[2017-10-24 13:43] jnothman commented on #9991
What's the difference between your expected and actual results?

[2017-10-24 13:46] mfeurer commented on #9991
My bad, there was none in the snippet I pasted here. I fixed the snippet. It should be
[code]

[2017-10-24 14:28] #9846 closed

[2017-10-24 16:22] zfrenchee opened #9993 "Rename GraphLasso to GraphicalLasso to avoid ambiguity."
**Graphical Lasso** is a method for sparse inverse covariance estimation.

- [Paper](http://statweb.stanford.edu/~tibs/ftp/graph.pdf)
- [Sklearn method](http://scikit-learn.org/stable/modules/generated/sklearn.covariance.GraphLasso.html#sklearn.covariance.GraphLasso)

**Graph Lasso** is a method for sparse regression where the features lie on a graph.

- [ICML Paper](http://www.machinelearning.org

[2017-10-24 19:10] agramfort commented on #9993
I would just add a note in docstring to avoid painful deprecation cycle

[2017-10-24 20:53] jnothman commented on #9991
So there's a silent crash??

[2017-10-24 21:04] amueller commented on #9991
yes!? (could reproduce)

[2017-10-24 21:07] amueller commented on #9993
ugh... but we don't want to promote a wrong name, as people pick up our naming schemes.

[2017-10-24 21:15] amueller commented on #9988
if only we had #9251....

[2017-10-24 21:20] amueller commented on #9988
![image](https://user-images.githubusercontent.com/449558/31968512-611c73ba-b8df-11e7-8817-fe5f0e2997ad.png)
![image](https://user-images.githubusercontent.com/449558/31968517-63e31cb6-b8df-11e7-8150-58192bd9ca3a.png)

No. It's a tie-breaking mechanism. I think we actually always break ties to the smallest class, not randomly. I'm not sure if that is ideal, but either way, this is not bug.

I don'

[2017-10-24 21:21] amueller commented on #9633
@gxyd you're not calling fit?

[2017-10-24 21:28] amueller commented on #9393
there was apparently also a 32bit failure on windows for 0.19.1, but I don't think it was this one.

[2017-10-24 21:31] amueller commented on #8614
Maybe start with implementing a wrapper that picks the point on the P/R curve that's closest to the top right. Try to understand what that would mean doing it on the training set (or using a "prefit" model).
Then, do the same, but inside a cross-validation loop, and take the average (?) of the thresholds.

[2017-10-24 21:37] amueller commented on #8614
This seems relevant: https://www.ncbi.nlm.nih.gov/pubmed/16828672 (via Max Kuhn's book) but I haven't really found more?

[2017-10-24 21:46] amueller commented on #8614
There's some info here: http://ncss.wpengine.netdna-cdn.com/wp-content/themes/ncss/pdf/Procedures/NCSS/One_ROC_Curve_and_Cutoff_Analysis.pdf

and maybe looking at rocr helps: http://rocr.bioinf.mpi-sb.mpg.de/

but I haven't actually found anything explicitly describing a methodology.

[2017-10-24 21:47] amueller commented on #8614
this seems closer? https://cran.r-project.org/web/packages/OptimalCutpoints/

[2017-10-24 21:58] amueller commented on #9979
Also, having OVR as default is pretty strange...

[2017-10-24 22:04] amueller commented on #9972
That's basically github messing up rst rendering and rendering it as markdown, right? I don't think we should fix that.

[2017-10-24 22:16] aarondbaron opened #9994 "scikit-learn/sklearn/manifold/isomap.py could have a metric parameter for the nearest neighbors algorithm"
#### Description

This is similar to issue #9868.  There might be more to find, but the gist of the issue is that the manifold learning methods that make use of nearest neigbhors algorithm should also have a parameter for metric type.  Nearest Neighbors accepts  these:

Valid values for metric are:

    from scikit-learn: [‘cityblock’, ‘cosine’, ‘euclidean’, ‘l1’, ‘l2’, ‘manhattan’]
    from scipy

[2017-10-24 22:57] jnothman commented on #9993
no strong opinion. in practice is there much ambiguity? i.e. would they
often be used in the same problems.

Start with a clarification in the docs in any case as that will have
unanimous support, then we can consider if deprecation is worthwhile.

[2017-10-24 23:09] jnothman opened #9995 "LogisticRegression see also should include LogisticRegressionCV"
See also section is in the class docstring but lacks this obvious reference. The reference should be reciprocal, and it might be worth checking other CV estimators for similar cross-references

[2017-10-24 23:29] jnothman commented on #9993
Thinking about it a bit more, I would be +1 for the name change. I don't
think this is among the top-used estimators, and having it more clearly
named might help users research/understand if it is appropriate to their
needs.

[2017-10-24 23:31] jnothman commented on #9972
No, it's a sphinx extension receiving default handling by GitHub's renderer.

[2017-10-24 23:37] jnothman commented on #9994
Well in solving #9868 we confirmed that it should not allow different
metrics, and will be raising an error if a NearestNeighbors instance is
provided that does not use euclidean (#9888). Are you certain other metrics
are applicable to IsoMap? After saying the wrong thing regarding LLE, I
want to be a bit guarded in any statements, but it does seem that the
training data is only used to calculate

[2017-10-25 02:08] jnothman opened #9997 "change LogisticRegression default solver to lbfgs and multiclass to multinomial?"
The current defaults are so for historical reasons. It may make sense to change them to more consistent and theoretically sound options.

[2017-10-25 07:04] pseudotensor opened #9998 "Bug in regression metric"
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/regression.py#L313

E..g, wrong in case y_true>0 but y_pred<=0.  One should have:

if not (y_true >= 0).all() or not (y_pred >= 0).all():

or

if not ((y_true >= 0).all() and (y_pred >= 0).all()):

[2017-10-25 07:13] jnothman commented on #9998
Duplicate of #9963. Thanks

[2017-10-25 07:13] #9998 closed

[2017-10-25 07:16] qinhanmin2014 commented on #9495
Curious about the status on this one. It really make some of the dev doc(e.g., GridSearchCV) difficult to read. (Also strange why 0.19.1 is fine, is it because we are still using numpydoc in master?)

[2017-10-25 07:37] mfeurer commented on #9991
@jnothman please excuse my description missing THE relevant information. Here's the full output:
[code]

[2017-10-25 07:44] jnothman commented on #9495
it's fixed in numpydoc master. I'm working towards a numpydoc release, but
would benefit from @amueller or one of the numpy devs taking a look at my
PRs there.

[2017-10-25 08:54] #9963 closed

[2017-10-25 09:44] agramfort commented on #9979
change from ovr to multinomial by default and to 'lbfgs' for L2 and keep
liblinear for l1?

[2017-10-25 09:47] jnothman commented on #9979
Good point re l1. Obviously would need ovr there too :\

[2017-10-25 09:47] jnothman commented on #9979
Default to saga?

[2017-10-25 09:57] agramfort commented on #9979
saga is not a good idea if n_features > n_samples

[2017-10-25 09:59] agramfort commented on #9993
ok fair enough....

[2017-10-25 10:21] TomDLT commented on #9997
+1

It will break some code, but the regularized intercept in `solver='liblinear'` is not clean.

[2017-10-25 11:17] mfeurer opened #10000 "Using warmstart in GradientBoostingClassifier produces inferior solution"
#### Description
Using the warmstart flag for the `GradientBoostingClassifier` results in an inferior solution compared to fitting all base models at once. From how the docs regarding the warmstarting are written, I expect the results to be equal.

#### Steps/Code to Reproduce

[code]

#### Expected Results
Two equal scores.

#### Actual Results
0.605263157895
0.657894736842

#### Versions
Linux-4

[2017-10-25 11:34] jnothman commented on #9997
I think we've not quite resolved what needs doing. We possibly need a
solver='auto' mode which will continue to default to 'liblinear' where
penalty='l1'. Then we'd need to deprecate the default solver and change to
auto.

 to do with multiclass default? Perhaps we shouldn't change it, just for
simplicity. It may not be as big a deal as the intercept handling in
liblinear.

[2017-10-25 11:46] GaelVaroquaux commented on #9993
I am -1 on this. We'll never get the namings wrong, and I don't think that it really helps our users to change names for purity reasons. As mentioned above, there is probably not big ambiguity.

I'll plead guilty to this error, by the way. I am willing to take blame for it forever if it may help users :).

This is a weak -1: I don't think that the project will collapse or that the users will lead

[2017-10-25 12:04] jnothman commented on #9993
Okay. We should document the eternal blame :p

On 25 Oct 2017 10:46 pm, "Gael Varoquaux" <notifications@github.com> wrote:

[2017-10-25 13:17] TomDLT commented on #10000
I don't reproduce
[code]
#### Versions
Linux-3.16.0-4-amd64-x86_64-with-debian-8.9
Python 3.6.2 |Continuum Analytics, Inc.| (default, Jul 20 2017, 13:51:32)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
NumPy 1.13.1
SciPy 0.19.1
Scikit-Learn 0.20.dev0

[2017-10-25 13:19] mfeurer commented on #10000
Very interesting. Would you mind trying various random seeds for the train/test split?

[2017-10-25 13:20] mparada opened #10002 "Sparse matrices for LDA and QDA (discriminant analysis)"
#### Description

LDA and QDA do not accept (scipy) sparse matrix.
#### Steps/Code to Reproduce

[code]

Is this a bug or an unimplemented feature?

#### Versions

[code]

[2017-10-25 13:20] bringtree commented on #9988
@amueller Thanks. But the result [0,0] does not exist in my train output.
When i don't use the one-hot encoder, this situation will not appear.

[2017-10-25 13:27] zfrenchee commented on #9993
Before we finalize this decision, I'd like to explain why I made the issue just a little more:
- When I google "Graph Lasso Python" looking for a python implementation of Graph Lasso (not Graphical Lasso) all I can find has to do with Graphical Lasso because of this naming decision.
- It may be that this misnaming is percolating out from this library, as @amueller suggests is possible.
-  I was in

[2017-10-25 13:34] TomDLT commented on #10000
It has been fixed in #7071, at least for `GradientBoostingClassifier`, where we added:

https://github.com/scikit-learn/scikit-learn/blob/102620f8d122d244dd08ccaa015d67a97d8a28ae/sklearn/ensemble/gradient_boosting.py#L1025-L1026

[2017-10-25 13:56] GaelVaroquaux commented on #9993
@zfrenchee : I understand the logic, and I think that it has a lot of sense.

I would think that an actual graph lasso would probably be out of the scope of the library, so I guess that the last point is not crucial.

I would also worry about the poor naming (blame me) percolating out of the library. I think that it would be very using to submit a PR mentioning the confusion in the docstrings and

[2017-10-25 14:21] lesteve commented on #10000
Same thing here. Other comments:
* I can not reproduce with ExtraTreesClassifier on 0.19.1.
* it would help if you could post a snippet with SGDClassifier and PassiveAggressiveClassifier. They do not have a `n_estimators` parameters so it is not a straight replacement in your snippet.

[2017-10-25 14:36] zfrenchee commented on #9993
@GaelVaroquaux I think your plan is a very good one. For now, adding a new GraphicalLasso object (which does the same as the current GraphLasso object), updating the docs to point to GraphicalLasso first instead of GraphLasso, and putting a message in the docs / docstrings of GraphLasso makes sense to me, as well as maybe throwing a warning when people use GraphLasso saying "this will eventually b

[2017-10-25 15:31] reiinakano opened #10003 "Add sklearn.metrics.cumulative_gain_curve and sklearn.metrics.lift_curve"
#### Description

I recently added `plot_cumulative_gain` and `plot_lift_curve` methods to https://github.com/reiinakano/scikit-plot. To do this, I built an adhoc version of `sklearn.metrics.cumulative_gain_curve` closely following the `plot_roc_curve` interface. Let me know if this is something you'd be interested in adding into scikit-learn. I could add example docs for plotting gain and lift cu

[2017-10-25 16:08] agramfort commented on #9993
it's low priority for me. But if someone has the bandwidth why not. I
however think we have more burning issues.

[2017-10-25 18:14] mfeurer commented on #10000
Thank you @lesteve and @TomDLT for checking this issue. I can confirm that the issue with the GradientBoostingClassifier is solved in the development branch. Please excuse me not checking whether it is solved there. Also, I must admit that I cannot change my code any more in a way to make the ExtraTreesClassifier fail.

Here's a snippet for the SGDClassifier. I might use the `warm_start` wrong, bu

[2017-10-25 20:02] jnothman commented on #10002
this is an unimplemented feature, not a bug. not every model can be
efficiently learnt from a sparse matrix, even if they can predict with one.
unless you have good reason to believe LDA and QDA can (straightforward to
implement efficiently) and should (the methods are appropriate for large
number of features) support sparse, you should probably close this.

[2017-10-25 20:20] jnothman commented on #9988
you shouldn't be one-hot encoding targets for multiclass classification

[2017-10-25 20:45] amueller commented on #9988
encoding the targets as one-hot indicates to the estimator that you want it treated as a multi-label problem.

[2017-10-25 20:51] amueller commented on #9997
while in practice the ovr might not be a big deal, I think it's perceived as a red flag by anyone coming from a stats angle.

I prefer deprecations to FutureWarnings. And yes, we need an "auto" solver. We also need benchmarks to see what heuristic would be good for "auto".

[2017-10-25 20:52] amueller commented on #9997
This might be a good opportunity to also add "auto" to LinearSVC.

[2017-10-25 21:45] amueller commented on #9993
I'm happy with a long deprecation cycle and docs for now.

[2017-10-25 21:47] PGryllos commented on #8614
@amueller thanks for taking the time.

If I have understood if the base_estimator is not prefit we should hold out part of the training set to calibrate the threshold and the rest to fit the classifier otherwise we can use the whole training set for calibration of the decision threshold. The same as in `CalibratedClassifierCV` class.

What I am actually still not 100% sure is how is this wrapper g

[2017-10-25 21:49] jnothman commented on #10000
sorry if this was another fix I should have included in 0.19.1, but did not
realise. This is the trouble of slow release cycles... too much to keep
track of.

[2017-10-25 22:06] jnothman commented on #9997
I don't get the relevance to LinearSVC: there's no choice of solver
there... I'd understand rolling LinearSVC into SVC with an auto solver...

On 26 Oct 2017 7:52 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-10-25 22:08] jnothman commented on #8614
Yes, that may be an appropriate solution. See also #4822 where something
like this is implemented. Needs review

[2017-10-25 22:31] jennaliu opened #10006 "Incorrect Documentation For EllipticEnvelope.predict"
It returns an array of 1's and -1's instead of what is documented.

[2017-10-26 00:34] bringtree commented on #9988
oh, thanks

[2017-10-26 00:34] #9988 closed

[2017-10-26 00:58] jnothman commented on #9991
The bug here is that predict_stages
(_predict_regression_tree_stages_sparse) expects (but does not assert) a
CSR matrix, which predict, decision_function will give it, but `fit` is
ordinarily agnostic to sparse format (but not with warm_start)
.

[2017-10-26 03:22] flylin0911 opened #10007 "bagging"
https://github.com/scikit-learn/scikit-learn/blob/f3320a6f1ab2d060fd49c94a6e3386291a684ec7/sklearn/ensemble/bagging.py#L429

[2017-10-26 03:29] flylin0911 commented on #10007
"""Bagging meta-estimator."""

# Author: Gilles Louppe <g.louppe@gmail.com>
# License: BSD 3 clause

from __future__ import division

import itertools
import numbers
import numpy as np
from warnings import warn
from abc import ABCMeta, abstractmethod

from ..base import ClassifierMixin, RegressorMixin
from ..externals.joblib import Parallel, delayed
from ..externals.six import with_metaclass
from

[2017-10-26 03:29] flylin0911 commented on #10007
"""Bagging meta-estimator."""

# Author: Gilles Louppe <g.louppe@gmail.com>
# License: BSD 3 clause

from __future__ import division

import itertools
import numbers
import numpy as np
from warnings import warn
from abc import ABCMeta, abstractmethod

from ..base import ClassifierMixin, RegressorMixin
from ..externals.joblib import Parallel, delayed
from ..externals.six import with_metaclass
from

[2017-10-26 03:29] #10007 closed

[2017-10-26 05:59] lesteve commented on #10000
#7071 (early stopping for Gradient boosting) was probably too big a change for a minor release. Given how you pushed 0.19.1 forward and made it happen, I really don't think there is anything you should be sorry about.

[2017-10-26 06:05] gxyd commented on #9552
I want to try to fix the issue. But there is already a PR #9573  which has stalled , what should I do?

[2017-10-26 06:28] mparada commented on #10002
Thanks for the answer. I don't know if they can support sparse matrices, but I would say they should, since they are used for dimensionality reduction too. But, as I said, I don't know if they can be implemented efficiently so I'll close the issue.

[2017-10-26 06:28] #10002 closed

[2017-10-26 06:34] gxyd commented on #7332
@jacobdang polite ping. Are you still working? It is very much fine if you are still working but if you are not, then this is looks like a really good issue I would like to work on.

[2017-10-26 06:37] lesteve opened #10008 "Remove sklearn.utils.testing._assert_all_close"
`np.testing.assert_allclose` has been added in numpy 1.5, we now require numpy >= 1.8.1, so we can get rid of our `_assert_all_close` backport:
https://github.com/scikit-learn/scikit-learn/blob/8472350e5c2fc0a13f7900214adcfc1a69b58735/sklearn/utils/testing.py#L345

[2017-10-26 06:53] lesteve opened #10009 "Test invalid values of parameters in BaseGradientBoosting"
According to the codecov [report](https://codecov.io/gh/scikit-learn/scikit-learn/src/master/sklearn/ensemble/gradient_boosting.py#L853) we do not tests exceptions for invalid parameter values of values for `alpha`, `max_features`, and `n_iter_no_change`. Adding some tests using assert_raise_message would be nice.

[2017-10-26 07:02] jnothman commented on #10000
So if this issue was present in 0.18 we should close it. If it is a regression from 0.18 to 0.19 we should diagnose it and work out if it deserves a bug-fix release

[2017-10-26 07:05] jacobdang commented on #7332
@gxyd I am catching a deadline so may not be able to work on it immediately. So if you could help that will be highly appreciated. Thanks. :+1:

[2017-10-26 07:32] mfeurer commented on #10000
I just checked, The issue was already present in 0.18. Shall I close this and open a new isssue for SGD giving different results?

[2017-10-26 07:44] jnothman commented on #10000
Yes I suppose a new issue would make this cleaner.

[2017-10-26 08:08] qinhanmin2014 opened #10010 "Different(wrong?) meaning of pos_label=None"
Currently, in scikit-learn, we have multiple definitions of pos_label=None, which might confuse users.
(1)precision/recall/f1/fbeta: do not support pos_label=None
(2)brier_score_loss: default pos_label=None, means the greater of two values (the implementation currently under fix by me in #9562)
(3)precision_recall_curve/roc_auc_curve: default pos_label=None, means pos_label=1

According to @jnothm

[2017-10-26 08:09] albertcthomas commented on #10006
This will be fixed in PR #9015. See [here](https://github.com/scikit-learn/scikit-learn/pull/9015/files#diff-d7f61aa6a8deb9bcd3dc2eebb5eed0fcR168) for the correction.

[2017-10-26 08:25] jnothman commented on #10006
Closing essentially as a duplicate

[2017-10-26 08:25] #10006 closed

[2017-10-26 08:26] jnothman commented on #10006
Thanks for raising the issue, @jennaliu

[2017-10-26 08:40] mfeurer opened #10011 "SGDClassifier warm_start results in different score than when training in one go"
#### Description
When using the `warm_start` argument to the SGDClassifier together with a for-loop for increasing the `max_iter` argument, this results in a different score than when simply setting the `max_iter` to a high value and not using `warm_start`.

#### Steps/Code to Reproduce

[code]

#### Expected Results
Only a few dots indicating that the code snippet is running.

#### Actual Results

[2017-10-26 08:40] mfeurer commented on #10000
Okay, I opened #10011. Thanks for looking into this.

[2017-10-26 08:40] #10000 closed

[2017-10-26 09:40] zorroblue commented on #10009
@lesteve I would like to work on this. I haven't had much experience in writing tests at scikit-learn, so this should be a good opportunity :)

[2017-10-26 09:52] jnothman commented on #10009
go for it

thanks

[2017-10-26 10:21] TomDLT opened #10012 "Wrong default learning_rate in SGDRegressor docstring"
Default `learning_rate` in `SGDRegressor` is 'invscaling', but the doc says it's 'optimal'.
The docstring needs to be updated.

(By the way, do you known why default is 'invscaling' in `SGDRegressor` and 'optimal' in `SGDClassifier`?)

[2017-10-26 11:53] TomDLT commented on #10011
Two reasons for that:

- The learning rate is by default dynamic, it changes depending on the number of samples already seen. The counter is stored in `self.t_`. Calling `fit` a second time resets the counter, even with `warm_start=True`. We might want to fix this. Note that the counter does not restart when calling `partial_fit`.
To isolate this first issue, we can use `learning_rate='constant'`.

[2017-10-26 11:57] sursu opened #10014 "MinMaxScaler"
I've been reading the documentation for [MinMaxScaler](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html).
And a fragment there says:
[code]
Could it be that in the last line should be `X_scaled = X_std * (max - min) - min` ?
I have not read the source code. Easy to get lost. Does it do what it is supposed to do?

[2017-10-26 12:04] mfeurer commented on #10011
Thank you for isolating these issues @TomDLT. Regarding the first issue, this should in my opinion either be changed or documented. It would be great if the second issue could be fixed am I'm happy to do this if this is wanted.

Regarding `max_iter` together with `warm_start`, the code is intended the way it is, meaning that I want to dynamically increase the number of maximally allowed iterations

[2017-10-26 13:00] albertcthomas commented on #10014
I think the documentation is correct. X_std is in (0, 1), X_std * (max - min) in (0, max-min) and therefore X_scaled in (min, max).

[2017-10-26 13:35] TomDLT commented on #10011
I fixed the first issue in #10016.

The second is not easy to fix since the random state is "stored" inside the `SequentialDataset` object which accesses the data in SGD solver. The random state is contained in the shuffled sample order, which change after each iteration. Therefore, we don't have access to the random state of the shuffling, except by storing the entire permutation. I don't see an

[2017-10-26 13:36] #10014 closed

[2017-10-26 13:50] lesteve commented on #10000
Let's just hope that all issues will be like #10000 from now on: a fully stand-alone snippet to reproduce the problem and closed under a day ;-) !

[2017-10-26 14:13] VinodKumarLogan commented on #10008
Hi lesteve, I would like to work on this issue.
Are we supposed to port the function to support numpy >=1.8.1 or have 2 alternatives, i.e. one for 1.5 and another one for >=1.8.1 or remove the function completely?

[2017-10-26 14:15] #9633 closed

[2017-10-26 15:10] lesteve commented on #10008
Remove `_assert_all_close` completely.

[2017-10-26 15:17] lesteve commented on #10012
@TomDLT we are trying to use "good first issue" for this kind of things rather than "Easy". See https://github.com/scikit-learn/scikit-learn/pull/9950 for more details.

[2017-10-26 15:30] mfeurer commented on #10011
Isn't the seed passed to the SGD function and then used when calling dataset.shuffle (https://github.com/scikit-learn/scikit-learn/blob/ac1b04875331fc291a437025a18ddfefd4051d7c/sklearn/linear_model/sgd_fast.pyx#L618)? Or do you mean that the current shuffling gets lost in a second call to `fit` because a new `SequentialDataset` object is created?

The reason I'm using SGD like this is when invokin

[2017-10-26 15:39] TomDLT commented on #10011
Exactly

Indeed, after all it is a stochastic algorithm.

I agree.

[2017-10-26 16:00] bodhwani commented on #10012
I will look into it! :)

[2017-10-26 16:20] amueller commented on #10007
@flylin0911 ?!

[2017-10-26 16:23] amueller commented on #10012
Is this a bug or a documentation issue? I guess changing it without good reason is no good, so let's fix the docs for now.

[2017-10-26 16:31] bodhwani commented on #10012
@TomDLT Can you please mention where you think doc needs to be updated?
Because in <a href="https://github.com/bodhwani/scikit-learn/blob/master/doc/modules/sgd.rst">DOC</a>, it is clearly mentioned that for classification, the learning rate is optimal, and for regression, the learning rate is invscaling.

[2017-10-26 16:33] amueller commented on #10012
https://github.com/bodhwani/scikit-learn/blob/master/sklearn/linear_model/stochastic_gradient.py#L1259

[2017-10-26 17:02] amueller commented on #9972
oh, I didn't realize hlist was sphinx specific.

[2017-10-26 17:04] MaxPowerWasTaken commented on #9293
Hey thanks for the work on this, I'm running into the same issue.

In the meantime until this gets merged, a user on Stack Overflow suggests using `functools.partial` to redefine the predict step in a pipeline to a predict function which does pass along the required keyword arg.
https://stackoverflow.com/a/25532575/1870832

Until this change is merged, is there any downside to using this approach?

[2017-10-26 17:44] srajanpaliwal commented on #9991
Hi,
I will try to solve this.
Thanks

[2017-10-26 19:57] #9552 closed

[2017-10-26 21:50] amueller commented on #10011
I think @mfeurer's expectation is ok for ``partial_fit``, but not for ``warm_start``.

[2017-10-26 21:51] amueller commented on #10011
Was there a reason for using ``warm_start`` instead of ``partial_fit``? Though I guess the use-case is more semantically similar to ``warm_start``, and for the tree-based methods we have that warmstarts yield the same models... hm...

[2017-10-26 22:05] amueller opened #10021 "Common test for inverse_transform"
Add a common test that ``inverse_transform`` if present does all the standard input validation (sparse data, missing values, dtype). We might want to have some checks on ``est.inverse_transform(est.transform())``. I'm not sure what. Definitely shape. Is it reasonable to expect that ``est.transform(est.inverse_transform())`` is the identity?
Maybe we could do
[code]
and then check
[code]
But I'm no

[2017-10-26 23:31] jolespin opened #10023 "Feature request: Parallel/Multicore implementation of t-SNE"
**Has there been any discussion on implementing a multicore version of t-SNE in sklearn?**

The fastest version that I have seen/used is https://github.com/claczny/VizBin/tree/master/src/backend/bh_tsne .

I think a few simple addition would be to change:

line 160 of https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/manifold/t_sne.py from:

`pdist(X_embedded, "sqeuclidean")`
to the

[2017-10-27 02:34] jnothman commented on #9293
that should work, but monkeypatching isn't necessary if you create a
subclass instead

On 27 Oct 2017 4:04 am, "MaxPowerWasTaken" <notifications@github.com> wrote:

[2017-10-27 02:38] jnothman commented on #9991
thanks.

[2017-10-27 02:47] jnothman commented on #10021
many transformations are lossy, so no we cannot assume reversibility

[2017-10-27 02:48] jnothman commented on #10021
yes, that test seems to be sensible for many lossy cases, e.g. discretizing

[2017-10-27 07:15] mfeurer commented on #10011
The reason why I used `warm_start` is because worked well for tree-based models, so I thought I just refactor all models in auto-sklearn to work in a similar way. Having figured this out, I will go back to using `partial_fit`, but use it without `warm_start`. As @TomDLT already mentioned the docs need to be updated. Shall I go ahead and add some lines to the `SGDClassifier`, `SGDRegressor` and pro

[2017-10-27 08:34] lesteve commented on #10023
This is likely to make the distance computation slower, see https://github.com/scikit-learn/scikit-learn/issues/8216 for more details.

The best thing to do is to profile the code and spot bottlenecks that can be improved. Maybe @ogrisel and @tomMoral have suggestions of the top of their head, since they worked on this code recently.

Maybe you can be more precise about what you mean by "larger da

[2017-10-27 08:39] lesteve commented on #10023
While I am at it: you have better ways to link to code than saying file link + line number. See [this](https://help.github.com/articles/creating-a-permanent-link-to-a-code-snippet/) for more details.

[2017-10-27 08:54] lesteve commented on #7981
There is a limitation of cython that typed memoryviews does not work with read-only data. Maybe we can fix this in scikit-learn, PR more than welcome in this case.

[2017-10-27 08:55] lesteve commented on #7981
There is a limitation of cython that typed memoryviews does not work with read-only data. ~~Maybe we can fix this in scikit-learn, PR more than welcome in this case.~~ **Edit**: quickly looking at the stacktrace, probably not.

[2017-10-27 09:26] TomDLT commented on #10011
please do :)

[2017-10-27 11:06] pseth commented on #9911
I was also keen on splitting data in stratified and non-stratified ways into larger number of divisions (i.e. >3, up to say 10), run my analysis on each of these, and then meta-analyse the resulting individual analysis.

[2017-10-27 11:10] #9995 closed

[2017-10-27 13:53] artiemq commented on #9993
If nobody works on it I'd like to handle this issue.

[2017-10-27 15:35] amueller commented on #9911
@pseth can you explain the motivation for that? Why is it important that they don't have overlap? The classical way to do this would be bootstrap, the ML way would be cross-validation...
You could do
[code]
for your use-case, right?

Doing a validation set is indeed a bit clunky with the current interface. I'm not sure @GaelVaroquaux wants to add a functionality to save one line, though ;) Though

[2017-10-27 16:20] GaelVaroquaux commented on #9911
While classes seems overkill, I could picture a
train_test_validation_split function.

[2017-10-27 16:21] amueller commented on #9911
how about just adding a ``validation_size`` to ``train_test_split``? Or do you think that'd be confusing?

[2017-10-27 16:33] waltaskew opened #10028 "Exception When Calling cross_val_predict with Multi-Output Estimators and Methods Besides 'predict'"
#### Description
ValueError thrown when calling cross_val_predict on multi-output models when the method is one of 'decision_function', 'predict_proba' or 'predict_log_proba'

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown.

#### Actual Results
[code]

#### Versions
Python 3.6.2 (default, Jul 29 2017, 00:00:00)
[GCC 4.8.4]
NumPy 1.13.3
SciPy 1.0.0
Scikit-Learn 0.19.1

[2017-10-27 17:12] jolespin commented on #10023
What VizBin does is take in DNA sequences, counts the occurrence of overlapping words of window-size K (i.e. k-mers, in this case 5), normalized the counts, feeds that into PCA to get the first 50 components, then inputs those eigenvectors into t-SNE for 1000 iterations.  That entire process for 26,583 sequences/data-points took 1:12 minutes.  The actual t-SNE time measurements are below.  The ent

[2017-10-27 17:42] amueller commented on #10028
So that's the same issue as reported in #8773 right?

[2017-10-27 17:45] amueller commented on #10023
This looks pretty bad:
![image](https://user-images.githubusercontent.com/449558/32117643-191def86-bb1d-11e7-8557-7c5c98b1d7cf.png)

[2017-10-27 17:50] amueller commented on #10023
ah, that's 0.18.0

[2017-10-27 18:38] baharian commented on #9927
I have had issues that were similar to this, in the sense that the program would stop outputting things after a while. It turned out that some implementations (and/or algorithms) don't like to be run in parallel (for me, it was `AdaBoostClassifier` and `MLPClassifier`). Have you tried a single-threaded run by removing `n_jobs = -1` from your function call to `cross_val_score()`?

[2017-10-27 18:40] jolespin commented on #10023
I'm hosting the data files in my Google Drive at the following location:
https://drive.google.com/drive/folders/0Bx2FlTJ8g3XRbFBGb0tlUmUtMms?usp=sharing

Here is the parallelization edit to the original code in this version (he also added a random seed):
https://github.com/claczny/VizBin/blob/master/src/backend/bh_tsne/ptsne.cpp

![image](https://user-images.githubusercontent.com/9061708/32119508-

[2017-10-27 19:36] amueller commented on #9927
yeah looks like a parallelization issue to me...

[2017-10-27 19:49] waltaskew commented on #10028
Ah, sorry -- you're right -- different manifestation of the same issue.

[2017-10-27 19:49] #10028 closed

[2017-10-27 20:08] amueller commented on #10011
It's a bit weird that the behavior is different between trees and linear models, though ... but I guess the use-cases are different, too. Working on hyperband these days? ;) did you see https://github.com/zygmuntz/hyperband ?

[2017-10-27 20:55] muayyad-alsadi opened #10031 "`embedding_vectors_` in `LocallyLinearEmbedding` only exists in documentation"
#### Description

`embedding_vectors_` in `LocallyLinearEmbedding` only exists in documentation, it never get assigned to

quote from documentation:

http://scikit-learn.org/0.18/modules/generated/sklearn.manifold.LocallyLinearEmbedding.html#sklearn.manifold.LocallyLinearEmbedding

https://github.com/scikit-learn/scikit-learn/blob/0.19.X/sklearn/manifold/locally_linear.py#L588

#### Steps/Code to

[2017-10-27 20:58] amueller commented on #10031
Thanks for reporting. Should be ``embedding_`` in the docs. Looks like that's still wrong in 0.19.1 and development version.
Feel free to send a PR for fixing the docs, or someone else can take it up.

[2017-10-27 22:07] #10031 closed

[2017-10-27 22:45] Borda commented on #9943
it seems to help with memory usage but on the other hand, it seems to freeze somewhere after initiation with zero CPU usage like it would freeze on synchronization...

[2017-10-28 07:18] AbhayKoushik commented on #9927
@baharian  and @amueller
You are right, it is a parallelization issue. Thank you very much for your insights!
`n_jobs=1` does the job.
How can we improve and debug this parallelization issue?

[2017-10-28 09:58] jnothman commented on #7981
huh what solution are you proposing @lesteve?

[2017-10-28 10:05] jnothman commented on #9993
I don't think it's being worked on. you are welcome to

[2017-10-28 10:14] pseth commented on #9911
@amueller The main issue at the moment is the overlap. I can't have any overlap between the splits as that would render the metaanalysis across the individually-analysed samples statistically incorrect and even invalid.

I agree that metaanalyses are not part of a typical ML workflow, but I think that the scikit-learn library, with (minor?) extensions, would still be very useful.

[2017-10-28 10:16] jnothman commented on #9911
hmm I had the impression that there were standard practices in predicting
over time series that that generated a series of train/val/test splits. but
it was only an impression.

whether a separate function or a validation_size='none' parameter, this
seems like something we should offer. It is certainly in line with best
practices.

[2017-10-28 10:24] GaelVaroquaux commented on #9911
A typical rule of API design is that the kind of output arguments of a
function shouldn't vary as a function of input arguments. Makes the
function easier to use in a programmatic way.

That makes me think that such choice wouldn't be the best.

[2017-10-28 10:56] petmo opened #10034 "Need better error when n_components is float (was: TypeError when fitting GridSearchCV)"
#### Description
Hello! I'm trying to run some code written a year ago or so, but I seem to run into an error when I run try to fit the data provided to GridSearchCV. I tried running the same data through a randomized parameter optimizer, and got the same error. Changing the entries in ytest to integers instead of strings doesn't seem to helper either.

#### Steps/Code to Reproduce
[code]

#### Ex

[2017-10-28 12:03] jnothman commented on #10034
I can't see at a glance what's going on... but you or someone should at
least help us by identifying which version this did work in...

[2017-10-28 12:16] petmo commented on #10034
I cant seem to figure out exactly what version it was, but the directory wast last updated 9 months ago if thats any help. Is any of the procedures used outdated? I tried digging into the documentation but all guidelines seems to be followed as far as I can see.

[2017-10-28 16:47] raamana commented on #9606
Also, am I correct in thinking the default value for feature_importance in Tree type estimators is zero, and is not configurable by the user? It seems to me that way digging into the code : https://github.com/scikit-learn/scikit-learn/blob/f3320a6f1ab2d060fd49c94a6e3386291a684ec7/sklearn/tree/_tree.pyx#L1066-L1067

This can interfere with proper interpretation, some features that may never have be

[2017-10-29 02:53] jnothman commented on #9606
if you're talking about an ensemble not selecting some features for
training, there are other attributes to determine that, no?

[2017-10-29 03:17] raamana commented on #9606
Not to my knowledge - I don't think so, although I would like to be shown otherwise.

Although being able to establish which features were never selected for training (is helpful), but still does not solve the interpretability issue of importance values being zero - meaning of 0 is ambiguous is here and doesn't convey its true status..

[2017-10-29 03:35] julian-ramos opened #10036 "Inconsistency of attributes and methods for clustering algorithms"
I have been using several different clustering algorithms and usually have to make cases for each because the methods and attributes are not the same. As an example is some of them you can get the centroids by accessing .means_ while in others you get them through .cluster_centers_. Others do not even have this option and although I understand they may not be part o the method itself centroids are

[2017-10-29 03:44] jnothman commented on #9606
feature_importances_ doesn't purport to tell you which features are most
important in a dataset, only which are most important to a model. It is
correct to say that a feature never considered by a model has no importance
to it, and that a feature rejected by a model has no importance to it. yes,
the 0 is ambiguous, but that doesn't mean that feature_importances_ is the
right place to help a user w

[2017-10-29 04:05] jnothman commented on #10036
Thanks for your comments.

You never need to use fit_predict, you can always use fit and labels_, and
perhaps it is unhelpful to have it there. predict is not available where
the algorithm is only suitable for making predictions on the training data.

 It is not appropriate to describe models by their centres in particular
when those centres are irrelevant to the cluster shape (as in dbscan etc),

[2017-10-29 05:44] jnothman commented on #10036
Note that there are similarly outlier detection and manifold decomposition
estimators that cannot make predictions on unseen data.

[2017-10-29 08:36] christianbraune79 opened #10037 "make_circles always generates an even number of samples"
#### Description

```sklearn.datasets.make_circles``` always generates an even number of samples, even when specifically asked for an uneven number.

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results
No Assertion Error should be thrown (in the example) OR the amount of data points generated should match the value supplied to the function OR a warning should be given.

Possible fi

[2017-10-29 13:21] raamana commented on #9606
I agree with you that feature_importances_ should not more than what its name implies, and what I meant to suggest is think about a way to remove the ambiguity! A good way IMHO is NaN.

Would that be something that might be possible? I can give it a try, but this requires deep changes in  the Tree class itself (which affects many models), so it's important to get it consulted widely.

[2017-10-29 15:31] qinhanmin2014 commented on #10034
@petmo Below are my observations, please kindly confirm them :)
(1)It seems that the core reason for your problem is that you pass a float to n_components in PCA. Below are minimal script to reproduce your problem:
[code]
(2)Your code work in Python2, but not in Python3, the core reason is below:
[code]
So simply change `np.around(feature_len/5)` to `int(np.around(feature_len/5))` in params dict a

[2017-10-29 16:16] #9456 closed

[2017-10-29 18:25] TemetNosce95 opened #10039 "Error trying to fit Abalone data"
Hello everyone! I was trying to fit [Abalone Dataset](https://archive.ics.uci.edu/ml/datasets/abalone) using scikit-learn k-means implementation. I had:

When the script reaches this line into scikit-learn package code:
https://github.com/scikit-learn/scikit-learn/blob/9e3ebd43e76b8f2f99dbd94afb7e385183c7ea12/sklearn/cluster/k_means_.py#L1235

I wrote a script to find all possible NaNs or Infs in

[2017-10-29 18:43] PGryllos commented on #8614
@jnothman @amueller I am thinking about how should the calibrated predict work in the case of multilabel classification.

i.e. we have 3 labels `[1, 2, 3]` and the thresholds we found after calibration are `[.6, .3, .7]`

* for sample 1 `predict_proba` predicts condifence values `[.5, .4, .6]`. In this case only the confidence for label `2` is above the threshold so calibrated predict should retur

[2017-10-29 19:28] PGryllos commented on #8614
also the way I see it the threshold calibration functionality should be offered through the `CalibratedClassifierCV` class (mainly because the name is so broad that covers all calibration practises), which currently offers probability estimation calibration, and one should be able to choose whether to use the threshold calibration or the probability calibration or both. What do you think?

[2017-10-29 20:23] #10008 closed

[2017-10-29 20:27] jnothman commented on #9606
but there is only ambiguity if what you want is not what
feature_importance_ measures. Start a new issue clarifying exactly the sort
of enhancement you would like. give an example of the code and desired
output (a test case in essence) so that we can understand your needs. But
the present issue does not pertain.

[2017-10-29 20:32] jnothman commented on #10034
good diagnosis work. yes I suppose it's worth fixing in this sort of case,
but being an easy issue and low priority, I'd rather open it to a beginner
contrib

[2017-10-29 20:34] petmo commented on #10034
Yes, that did indeed fix it! Thanks a lot 👍

[2017-10-29 21:34] CoderPat commented on #10034
I can handle this one if no one has started
Just to confirm, just need to add explicit checks for the type of `n_components` in the functions that verify its correctness (ie: `_fit`, `_fit_full` and `fit_truncated`) and add tests for this right?

[2017-10-29 22:07] jnothman commented on #8614
in multilabel you should calibrate each output column independently.

On 30 Oct 2017 6:28 am, "Gryllos Prokopis" <notifications@github.com> wrote:

[2017-10-29 22:12] jnothman commented on #8614
I think this should maybe be a separate class but I'm not sure. I'm not
really familiar with the algorithms. CalibratedClassifierCV already defines
predict in the multiclass case as the argmax over calibrated probabilities.
I suppose we could choose threshold calibration without probability
calibration in that class with a method switch, but the fact that one
handles multiclass and the other is on

[2017-10-29 22:18] jnothman commented on #10034
I think just _fit. Thanks!

[2017-10-30 00:34] qinhanmin2014 commented on #10034
@CoderPat Thanks for the contribution :)
@jnothman Personally, I might want to add the check in _fit_full and _fit_truncated(also we are doing copy-paste), because all the sanity check of n_components are their and I think splitting the sanity check of a parameter here and there might make the code hard to read. WDYT? Thanks.

[2017-10-30 00:47] CoderPat commented on #10034
Ye although it saves some code, i agree it may be more legible to put it in the two separate methods since most verifications are made there. Will fix it in the morning if @jnothman agrees.

[2017-10-30 00:50] jnothman commented on #10039
Could you please provide a full, reproducible code snippet (ideally
including the data download)? Thanks.

[2017-10-30 00:59] jnothman commented on #10039
I'm using this without a problem:
[code]

[2017-10-30 08:24] PGryllos commented on #8614
do you mean that the threshold calibration should be used only for binary classification?

[2017-10-30 10:56] CoderPat commented on #9933
I can work on this one if no one has.
Basically add a parameter to the `Voting Classifier` to pick between average of predicted probs or mean of logits (when voting type is soft ofc).

[2017-10-30 10:59] jnothman commented on #8614
does it make sense beyond binary and multilabel classification? only in
those do we tend to predict by threshold

[2017-10-30 12:20] PGryllos commented on #8614
@jnothman sorry I was using `multilabel` interchangeably with `multiclass`. When earlier I asked about multilabel I really meant multiclass. So I guess the threshold classification will not concern multiclass problems but only binary and mutilabel. So to answer the original question I made some comments above In the later case the classifier may also predict no label, if no threshold is being met.

[2017-10-30 13:00] rth commented on #10037
Thanks for opening the issue. I can confirm this. Also `make_circles` doesn't seem to have any specific unit tests. It is always called with an even `n_samples` in the existing scikit-learn code base.

 A pull request to fix this issue (and add some unit tests) would be welcome..

[2017-10-30 13:03] RokoMijic commented on #4143
I'm interested in postprocesssing y-values, in my case I want my y-values from an SVR regressor to be restricted to the range [0,4], which I want to do with a fixed custom function. It would be very convenient to be able to throw that in as the final stage of a pipeline, so that all the data processing I do can be recorded in a single pipeline object.

I don't think it's critical for my applicatio

[2017-10-30 14:13] baharian commented on #9927
^ not sure if *we* can do much. see [this](http://scikit-learn.org/stable/faq.html#why-do-i-sometime-get-a-crash-freeze-with-n-jobs-1-under-osx-or-linux).

[2017-10-30 14:20] ogrisel commented on #8798
I do not reproduce the issue when fixing the `random_state`:

[code]

[2017-10-30 17:42] iFe1er commented on #4757
hey all, are there any progress on this?

[2017-10-30 17:44] amueller commented on #9943
can you monitor the memory? This sounds more like it's swapping. Can you try ``n_jobs=1``?
The full distance matrix is computed, which will be 6000x 250000. With double that's 11GB. You do 20 of those in parallel. So that will kill your 258GB of RAM. If you run only a couple in parallel, it will be fine. Or you can run ``MiniBatchKMeans`` which will take even less ram (and be potentially less accu

[2017-10-30 17:48] amueller commented on #4757
@iFe1er looking for references. Feel free to do the literature search or provide benchmarks.
I feel like it's a "sensible" thing to do, so I'm not sure what exactly our requirements should be. But I would rather use a sorting based approach, not a binning based approach.

@jnothman do we have references on stratified k-fold for classification?

[2017-10-30 17:49] amueller commented on #10037
My bad!

[2017-10-30 17:57] amueller opened #10044 "Speed issues in t-SNE"
There seem to be some odd speed issues in our t-SNE:
https://github.com/DmitryUlyanov/Multicore-TSNE/issues/29#issuecomment-340287827

Benchmarks for comparison are here:
https://github.com/DmitryUlyanov/Multicore-TSNE/blob/master/MulticoreTSNE/examples/test_sklearn.py
https://github.com/DmitryUlyanov/Multicore-TSNE/blob/master/MulticoreTSNE/examples/test_py_bh_tsne.py

Todo: ensure these are sens

[2017-10-30 19:01] amueller commented on #4143
@RokoMijic There is #9041 which would allow your use case but with a wrapper, not a pipeline. There is no current plan to extend pipelines to do transformations after ``predict`` afaik.

[2017-10-30 19:04] amueller commented on #8798
@shuuchen can you confirm setting the random state solves the problem?

Also: did someone in Paris manage to script @lesteve?

[2017-10-30 19:39] Borda commented on #9943
no, I am saying that the "full" helps to fit into reasonable memory usage (less then 10GB), without pre-computed distances. but it freeze with zero CPU usage without any result... From my perspective it is waiting for thread sync but not found, not sure how to show on log or performance screenshot?

[2017-10-30 19:49] amueller commented on #6747
Ok, send a message to the authors of the AutoML  paper to ask them to clarify (though one of them immediately bounced :-/). @rhiever is there any other paper that does multi-class balanced accuracy?

[2017-10-30 20:09] rhiever commented on #6747
I only know of [this paper](https://link.springer.com/article/10.1007/s12065-015-0128-8) that introduces balanced accuracy for multiclass problems, under Section 2.1.18. Of course, we've used it heavily in the work in our lab since that paper, but we just refer to that paper for the detailed metric description.

[2017-10-30 20:31] jnothman commented on #9933
yes. add a test, and we'll see how it looks in review

On 30 Oct 2017 9:56 pm, "Patrick Fernandes" <notifications@github.com>
wrote:

[2017-10-30 20:32] TemetNosce95 commented on #10039
I used an script to change abalone sex column for categorized integer values, later I use:

[code]

for loading data. Later i call

[code]

"data/abalone-normalized.data" is exactly the same array that you obtains with ` X.sex = X.sex.cat.codes`

[2017-10-30 20:36] TemetNosce95 commented on #10039
I'm not sure what it was but I created another isolated python virtual environment and my original script now runs. I believe it could be due an electrical failure that happened some days ago.

[2017-10-30 20:36] #10039 closed

[2017-10-30 20:39] TemetNosce95 commented on #10039
Thanks a lot @jnothman :smiley:

[2017-10-30 21:21] amueller commented on #6747
thanks!

[2017-10-30 21:24] amueller commented on #6747
That one has 15 citations, 3 of which are you ;)

[2017-10-30 21:41] amueller commented on #9943
I'm not sure what the "no" is in response to. My calculation assumes "full".

When is the freeze? before or after the algorithm runs? I'd suspect allocating the memory for the multiple processes (which could be up to 220GB as I said above) is the issue.

Unless you changed the configuration, KMeans uses multiprocessing, not multithreading, from what I can see.

[2017-10-30 21:44] rhiever commented on #6747
I'm not claiming that the paper introducing the multiclass balanced accuracy is a 1k+ citation paper, but it is a useful metric that's widely used in our area.

[This paper](http://onlinelibrary.wiley.com/doi/10.1002/gepi.20211/full) is more commonly cited for balanced accuracy, though only for binary classification problems.

[2017-10-30 21:46] amueller commented on #9933
Is there a reference for people using this?
The arithmetic mean is motivated by bagging.

Multiplying probabilities would be well-motivated if we assume them to be independent, right?
I'm hesitant to add a feature because it "sounds good".

[2017-10-30 21:48] amueller commented on #9933
I'm not sure if there's a formal reason for the arithmetic mean, but I'm pretty sure people are using it. Bagging works if the variance across estimators is "large enough", it doesn't require independence.

[2017-10-30 21:50] amueller commented on #6747
It would be good if we had some evidence that it's widely used in the multi-class setting.

[2017-10-30 21:59] amueller commented on #8614
I think we should have a separate class for this and only do binary classification. I think in R I saw some stuff that n-dim thresholds but I'm not convinced (yet) that it's useful.

[2017-10-30 22:00] rhiever commented on #6747
I don't have traditional academic evidence (i.e., papers with high citation counts) for that.

[2017-10-30 22:16] jnothman commented on #4757
I'm sure we can find a textbook reference for the classification case. But
I think the principle is well understood (although I have met people who
are against it because it gives an unrealistically optimistic estimate of
error).

[2017-10-30 22:29] jnothman commented on #10044
@ogrisel does this match your earlier benchmarks?

[2017-10-30 22:32] jnothman commented on #4143
yes, pipelines need to remain conceptually simple. but you can extend your
SVC through a wrapper or through inheritance

[2017-10-30 22:39] jnothman commented on #10039
no problem. good to know there was no issue on our side, though I think the
error is still a bit mysterious. it's always a good idea to report an issue
only after you have a script that minimally and consistently produces the
unexpected behaviour. this helps assure both you and us that it's a real
issue.

[2017-10-30 22:43] jnothman commented on #9933
I suppose it would be interesting to see if it had any effect, but it's
hard to construct a good suite of test instances for VotingClassifier

[2017-10-31 00:18] CoderPat commented on #9933
@amueller although I don't have a reference for people using this, I did find [this paper](https://arxiv.org/pdf/1302.0540.pdf) that I linked in the PR that had a game theoretical explanation for why using the log odds is the optimal voting procedure (although it assumes independence of the classifiers). It doesn't provide a way to actually estimate the probability, but @RyanCarey approach seems w

[2017-10-31 01:29] amueller commented on #9933
I totally believe that if you assume independence that multiplying is the right thing to do. VotingClassifier is mostly a commonly used hack to combine multiple models, and from what I know that's usually done with arithmetic mean.
In a way you could argue the same thing for RandomForestClassifier. That would probably be easier to run a test for. I would be quite surprised if multiplication made t

[2017-10-31 01:35] qinhanmin2014 commented on #5656
Closing since it has been resolved in #9233

[2017-10-31 01:35] #5656 closed

[2017-10-31 01:41] qinhanmin2014 commented on #7947
Closing since it has been resolved in #8742

[2017-10-31 01:41] #7947 closed