[2015-11-17 01:44] kastnerkyle commented on #5851
From what I understand, TGA is incredibly fast (much more so than other
approaches) - I think it should be the baseline implementation. The other
Robust PCA methods I have used are fairly slow, and use what seem like
fairly unique optimizers (to me) to find solutions.

I did a blog post on some of this
http://kastnerkyle.github.io/posts/robust-matrix-decomposition/ a while
ago, but the methods I i

[2015-11-17 01:46] ekkus93 commented on #4711
Added pull request #5864.  20news-bydate.pkz was getting downloaded while processing "working_with_text_data.rst".  It probably shouldn't be downloaded there but in test_20news.py instead. If the file is actually there, the test get run and it fails with issues with the Bunch class.

[2015-11-17 10:06] Eickho opened #5866 "LDA example crashes kernel"
Hi,

the following example reproducibly crashes the kernel after printing the topics. I do not get any error message.

Example in question:
http://scikit-learn.org/stable/auto_examples/applications/topics_extraction_with_nmf_lda.html#example-applications-topics-extraction-with-nmf-lda-py

My input and output:
http://pastebin.com/UPEfbynB

This occurs using python 2.7.10 64bit and scikit-learn 0.17

[2015-11-17 13:01] lucasdavid opened #5867 "Nearest Neighbors search parallelism on Isomap algorithm."
Apparently `NearestNeighbors` can be paralleled with `n_jobs` argument, but when used on `Isomap`, it is never called with the `n_jobs` argument, leaving it with the default value `1`:

On `Isomap._fit_transform` method (isomap.py, line 109):
[code]

And on `kneighbors_graph` function (graph.py, line 111):
[code]

Can't `Isomap.__init__` method take the `n_jobs` argument and propagate it to `Neare

[2015-11-17 13:09] GaelVaroquaux commented on #5867
Sounds good. Do you want to do a PR?

[2015-11-17 13:22] dan-vine opened #5868 "LogisticRegressionCV fails when labels are strings"
While LogisticRegression can handle string labels, LogisticRegressionCV fails when labels are strings with `ValueError: could not convert string to float`
I guess the problem comes from calling
`y_test = check_array(y_test, dtype=np.float64, ensure_2d=False)`
within function _log_reg_scoring_path in file logistic.py

[2015-11-17 15:06] lucasdavid commented on #5867
Yes. Just a moment.

[2015-11-17 17:08] betatim commented on #5686
Is `missing = np.arange(X.shape[(self.axis+1)%2])[invalid_mask]` a good enough solution? I can't think of a nicer one but don't like this one.

[2015-11-17 17:28] mth4saurabh commented on #5868
I think the error is in old version. I successfully recreated the error with the old version of scikit I had, I then updated it and I am not getting the error anymore, thoughts?

[2015-11-17 17:34] raghavrv opened #5870 "[RFC] Missing values in RandomForest"
So far, we have been using our `preprocessing.Imputer` to take care of missing values before fitting the `RandomForest`. Ref: [this example](http://scikit-learn.org/dev/auto_examples/missing_values.html)

<hr>

**Proposal:** It would be beneficial to have the missing values taken care of by all the Tree based classifiers / regressors natively...

<hr>

Have a `missing_values` variable which will b

[2015-11-17 17:37] GaelVaroquaux commented on #5870
Am I wrong, but I thought that random forest (or trees in general) could
be made to naturally deal with missing data in one sample by ignoring
this missing data when doing the split criterion.

[2015-11-17 17:42] rvraghav93 commented on #5870
Sorry for my lack of clarity... that is what I meant by the second approach... :)

[2015-11-17 17:43] GaelVaroquaux commented on #5870
OK. That's the one that I am interested in.

[2015-11-17 17:47] glouppe commented on #5870
Indeed, @GaelVaroquaux is correct. There are built-in ways to handle missing values when building a tree. I am -1 for the proposed approaches.

In my opinion, a nice way of handling missing value is to find the best child to which the missing values should be put into. More specifically, a split would be composed of three pieces of information (instead of two as currently in master):
- feature id

[2015-11-17 17:58] glouppe commented on #5870
be made to naturally deal with missing data in one sample by ignoring
this missing data when doing the split criterion.

This would work indeed for finding a split, but still, this would not work at prediction time. You indeed need to decide where to go in case you encounter a split defined on a missing feature for a sample.

[2015-11-17 18:29] MechCoder opened #5871 "Sample weight support for RANSAC"
RANSAC should support sample_weights if the base estimator can

[2015-11-17 20:31] mfrodl commented on #5585
So, if I understand correctly, what we need is a function (named, say, `_svd()`) that will be called from `PCA._fit_full()` and `PCA._fit_truncated()` (perhaps even directly from `PCA._fit()`) and depending on the value of `PCA.svd_solver`, it will call one of `scipy.linalg.svd()`, `sklearn.utils.arpack.svds()` or `sklearn.utils.extmath.randomized_svd()`.

I am currently considering two options wh

[2015-11-17 21:20] giorgiop commented on #5585
I think the idea was even more general. This utility function should be used by all classes and functions in scikit-learn that require SVD factorizations, as a unique interface. Use `git grep` to search in the code base. PCA is only one of those. Therefore a good place would be `extmath`, unless somebody has better ideas.

[2015-11-17 22:48] GaelVaroquaux commented on #5585
In extmath, because it may be used outside of the scope of a PCA.

[2015-11-17 22:48] GaelVaroquaux commented on #5585
+1

[2015-11-18 00:12] rvraghav93 commented on #5868
@GaelVaroquaux I also confirm that it is no longer a problem @ master... @GaelVaroquaux  can be closed...

[2015-11-18 00:37] MechCoder commented on #5824
@mblondel Isn't fitting a model independently for different outputs different from multioutput? I thought in multioutput all the weights are constrained together.

[2015-11-18 00:48] mblondel commented on #5824
@MechCoder This is usually called multi-task.

[2015-11-18 00:54] MechCoder commented on #5824
Oh yes. I always confused.
On Nov 17, 2015 7:48 PM, "Mathieu Blondel" <notifications@github.com> wrote:

[2015-11-18 01:08] rvraghav93 commented on #5824
A small note for this issue please make sure that `partial_fit` is possible...

And while you are at it... you might also want to fix #4167 as it is closely related... :)

[2015-11-18 01:10] rvraghav93 commented on #5824
@jinzhaoj That one is for single output multiclass... This issue is about multi output {single|multi}class...

[2015-11-18 09:33] fabioticconi opened #5873 "KFold within LassoLarsCV may incorrectly divide X and Y"
..or at least that is my rough guess of the following error.

It doesn't happen often, but still it does happen. I have datasets made of many more features than samples, if that changes anything.

In this case, these were the data shapes passed to model.fit and .predict (90% of the other experiments, with the same data, succeeded):

x_train: (39, 5000)
y_train: (39,)
x_test: (9, 5000)

the Y is a

[2015-11-18 13:29] dan-vine commented on #5868
setting multi_class='multinomial' it fails also on master for me. Check the following example
[code]

[2015-11-18 13:52] lesshaste commented on #5870
I don't know if it might be helpful to compare how `rpart` from R supports missing values https://cran.r-project.org/web/packages/rpart/vignettes/longintro.pdf .  An explicit (if perhaps not that up to date) discussion of how to handle missing values at prediction time can be found at https://archive.nyu.edu/bitstream/2451/27813/2/CPP-06-07.pdf .

[2015-11-18 14:18] rvraghav93 commented on #5868
Ermm... sorry for suggesting to close this issue... the label encoder was not properly used... fix at #5874

[2015-11-18 14:29] rvraghav93 commented on #5870
@lesshaste Thanks a lot for the links... I'll look into it :)

[2015-11-18 16:32] rohanp opened #5875 "Rename Spectral Embedding to Laplacian Eigenmaps"
From what I understand from [this](http://sas.uwaterloo.ca/~aghodsib/courses/f06stat890/readings/smdr_ssl05.pdf) and [this](https://lvdmaaten.github.io/publications/papers/TR_Dimensionality_Reduction_Review_2009.pdf) paper on dimensionality reduction, spectral embeddings refer to any technique that conducts an eigendecomposition of an affinity matrix, not just Laplacian Eigenmaps. Those papers, an

[2015-11-18 19:24] Sentient07 commented on #5871
@MechCoder can you please elaborate a little more ?

[2015-11-18 19:27] amueller opened #5876 "Website: link to lda broken in example"
In the topic model example, the LDA class should link to the API docs, but it doesn't:
http://scikit-learn.org/dev/auto_examples/applications/topics_extraction_with_nmf_lda.html#example-applications-topics-extraction-with-nmf-lda-py

Not sure what the problem is.

[2015-11-18 19:30] amueller opened #5877 "Confusing n_samples, n_features variables in example"
This example defines ``n_features`` and ``n_samples`` in the beginning but doesn't use them (as far as I can see):
http://scikit-learn.org/dev/auto_examples/applications/topics_extraction_with_nmf_lda.html#example-applications-topics-extraction-with-nmf-lda-py

[2015-11-18 19:31] amueller commented on #5877
Actually ``n_features`` is used for NMF but not LDA, but ``n_samples`` is never used.

[2015-11-18 19:32] amueller opened #5878 "LDA doesn't have link to user guide"
http://scikit-learn.org/dev/modules/generated/sklearn.decomposition.LatentDirichletAllocation.html#sklearn.decomposition.LatentDirichletAllocation
The LDA docstring doesn't have a link back to the user guide on LDA.

[2015-11-18 19:34] amueller opened #5879 "LatentDirichletAllocation doesn't explain parameters in user guide"
The LDA user guide doesn't explain any of the parameters, and only uses the greek letter notation, not the actual parameter names.
http://scikit-learn.org/dev/modules/decomposition.html#latent-dirichlet-allocation-lda

[2015-11-18 20:26] amueller commented on #5875
From the literature (and the paper title of the reference) and Laurens van der Maaten's review, I tend to agree.
We can't just rename, we need to deprecate, though.

Alternatively, we could leave the class name and say explicitly in the docs "this class implements laplacian eigenmaps". Though the more explicit name is probably a better idea.

[2015-11-18 20:50] amueller commented on #4711
hm we should also fix the problem in the bunch class :-/

[2015-11-18 23:15] frickp opened #5881 "sklearn won't import in virtual environment"
I'm trying to get my dependencies saved in "requirements.txt" in a virtual environment. I can't get sklearn to import in python

So for example, I'm running:

[code]
Then, I go to python (Python 2.7.10) and numpy and scipy will work, but not scikit-learn.
[code]
Trying to import sklearn gives this error:

[code]
Can anyone help? I've been trying to get this to work for hours...

[2015-11-19 05:22] pieteradejong commented on #5879
I'd be happy to to work on this.

[2015-11-19 06:54] lesteve commented on #5881
Looking at the traceback, the problem comes from the scipy.sparse.linalg import:
[code]

so it looks like scipy hasn't been installed properly. Maybe just try uninstalling and reinstalling scipy:

[code]

and then make sure you can import `scipy.sparse.linalg`.

If that fails, I would recommend using conda (you can use conda environments which are similar to virtualenvs). This makes installing sci

[2015-11-19 06:56] GaelVaroquaux commented on #5881
I don't know how you installed scipy, but I would recomment never to use
pip for scipy. There are too many non Python dependencies, and it is
likely to fail.

[2015-11-19 07:40] LeiG commented on #5877
This seems to be a good start task. I would like to take on it.

[2015-11-19 09:09] mth4saurabh commented on #5583
* 1) and 2) seems to be resolved [here, in the dev module](http://scikit-learn.org/dev/auto_examples/index.html#neural-networks)

* Wouldn't mind working on 3) if anyone else is not working on it.

[2015-11-19 10:16] absolutelyNoWarranty commented on #5814
It seems when `alpha=0.0` and the data has features which never change, `feature_log_prob_` has `-inf` which causes the calculations down the line to become all `nan`.

Given
	X = np.array([[1, 0],[1, 1]])
	y = np.array([0, 1])

Compare

	nb = BernoulliNB(alpha=0.)
	nb.fit(X, y)
	nb.predict_proba(X)

    Out[135]:
    array([[ nan,  nan],
           [ nan,  nan]])
and

	nb = BernoulliNB(alpha=1e-1

[2015-11-19 10:51] RobinVogel commented on #5765
I just tried to install Anaconda on a fresh VM and did all of my install as sudo using only conda and everything worked fine this time, and I could correct my installation ! I think I used pip back then.

Thank you

[2015-11-19 15:04] rvraghav93 opened #5884 "Implement Gower Similarity Metric"
As suggested by @lesshaste

Paper - http://cbio.ensmp.fr/~jvert/svn/bibli/local/Gower1971general.pdf

I can implement this if there is sufficient interest?

@jnothman @amueller @agramfort

[2015-11-19 15:15] lesshaste commented on #5884
Thanks.

This documentation from R might be relevant too https://stat.ethz.ch/R-manual/R-devel/library/cluster/html/daisy.html .

[2015-11-19 15:35] agramfort commented on #5884
suggested where? in what context?

[2015-11-19 15:39] lesshaste commented on #5884
@agramfort  I suggested it on gitter. The main interest for this coefficient is when the variables have mixed types (that is categorical, numerical, ordinal) .

[2015-11-19 15:42] agramfort commented on #5884
is there a benchmark or convincing example that would motivate this?

[2015-11-19 15:54] lesshaste commented on #5884
@agramfort  I think it's more that we have no other way of calculating a dissimilarity coefficient for mixed data types currently and this appears to be the standard one. I can find lots of examples and question/answers online where people explain what the Gower coefficient is but nothing I could call a benchmark yet.  The original paper has been cited 2298 times according to Google scholar.

[2015-11-19 16:56] amueller opened #5888 "TfIdfVectorizer doesn't document vocabulary_ attribute"

[2015-11-19 17:09] agramfort commented on #5884
ok I am convinced :)

[2015-11-19 17:27] frickp commented on #5881
Thanks for the feedback, I'm able to import sklearn now in python. Based on your advice, I think I'll switch to a conda environment.

[2015-11-19 17:27] #5881 closed

[2015-11-19 17:28] lesshaste commented on #5884
@agramfort  Great!   This change would complement https://github.com/scikit-learn/scikit-learn/pull/4899 nicely which introduces native categorical variable support for trees.

Having said that, I now realise that scikit-learn has no support for ordinals at all currently so this part of my suggestion would be slightly ahead of its time.

[2015-11-19 17:38] #5765 closed

[2015-11-19 17:41] amueller commented on #5583
1) and 2) refer to the user guide:

http://scikit-learn.org/dev/modules/neural_networks_supervised.html#neural-networks-supervised
which doesn't include the examples currently.

[2015-11-19 17:43] amueller commented on #5583
@kumarSC all the changes need to be made to this file https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/neural_networks_supervised.rst

[2015-11-19 18:32] mth4saurabh commented on #5583
@amueller : Thank you for that clarification.

[2015-11-19 19:51] amueller commented on #5832
closed via #5834

[2015-11-19 19:51] #5832 closed

[2015-11-20 01:42] lucasdavid commented on #5867
I just realized `NearestNeighbors` is being constructed with `n_jobs=1` in many different places (not counting comments or test modules):

[code]

Should I go ahead and add 'n_jobs' to some of these?

[2015-11-20 03:20] fayeshine commented on #5888
I'll work on this.

[2015-11-20 04:17] fayeshine commented on #5888
I have pushed #5891 to solve this.

[2015-11-20 06:58] agramfort commented on #5867
go for it.

[2015-11-20 07:42] Aunsiels commented on #5812
I installed scikit-learn from the community repository of archlinux. It seems that I have the version of master (I have 0.17-1) installed for python3. I check on master and the code is the same.

[2015-11-20 08:54] maruware commented on #5622
This problem happen again with 0.17.

[2015-11-20 09:28] rvraghav93 commented on #5873
Did your inputs contain `NaN` or `Inf` (or empty elements?)

From this line -
[code]

`X[train]` will contain the same no of elements as `y[train]` (unless the inputs are malformed?)

Your version of numpy, scipy, scikit-learn?
Could you share a minimal code with (fake) data, that can reproduce this?

[2015-11-20 09:30] rvraghav93 commented on #5884
@amueller To be tagged with `[New Feature]`...

[2015-11-20 09:48] glouppe commented on #5857
Fixed in #5858

[2015-11-20 09:48] #5857 closed

[2015-11-20 09:49] glouppe commented on #5808
Thanks for the report @ktrnka. We just merged a fix in #5858, which might have solved the issue. Could you update to the dev and run your script again to check whether the issue you report has been fixed or is due to something else? Thanks

[2015-11-20 13:13] rvraghav93 commented on #5622
This is a known issue see #5115

@agramfort could you close this one?

[2015-11-20 15:22] PandaStabber commented on #4945
Hi guys, this actually isn't fixed. What the dtsmith wants is to redefine the classes to use feature importance as a proxy for rank. I stumbled across this somewhere and have adapted it to other methods as well. Just put these statements before you call RFECV and then redefine the estimator i.e., AdaBoostRegressorWithCoef(n_estimators = 200...etc.)

Here are a few (make sure you indent properly):

[2015-11-20 15:28] dtsmith2001 commented on #4945
Dtsmith is me.

Before anyone uses RFECV, I would recommend studying it first to make sure it’s useful in your specific case. Random forests do their own feature selection, making RFECV much less useful (thanks to Gilles Louppe for his dissertation). I am going the direction of hyperparameter search rather than feature selection when using ensembles of trees. But I’m interested in hearing about al

[2015-11-20 15:40] PandaStabber commented on #4945
Hi Dale,

I'm not aware that random forests have any feature selection, save for the number of features to consider when looking for the best split. This doesn't affect how the model it trained, however. That said, random forests do provide feature importance, which is important in understanding which features are critical to prediction, but features of low importance are not preferentially remove

[2015-11-20 15:42] dtsmith2001 commented on #4945
I’m referring to the splits during training, which is where the feature selection takes place. Features which are ignored or not used except in a few nodes are candidates for removal.

Dale Smith, Ph.D.
Data Scientist
​
[http://host.msgapp.com/Extranet/96621/Signature%20Images/sig%20logo.png]<http://nexidia.com/>

d. 404.495.7220 x 4008   f. 404.795.7221
Nexidia Corporate | 3565 Piedmont Road, Bui

[2015-11-20 15:54] PandaStabber commented on #4945
In random forests, the split that is picked is the best split among a random subset of features when growing trees (unless all the all the features are used features [max_features=None]) (see: http://scikit-learn.org/stable/modules/ensemble.html#random-forests). I agree though, the features of low importance are candidates for removal, but RFECV is a nice, pre-packaged manner to identify and remov

[2015-11-20 16:30] manugarri commented on #5281
+1. tpot is going insane

[2015-11-20 19:30] GaelVaroquaux commented on #5281
I don't understand your comment, @manugarri : this issue has been fixed via a PR merged a while ago.

[2015-11-20 19:49] ktrnka commented on #5808
Sure. I tried cloning the repo and installing Cython into a virtualenv to use for building but it seems like Cython doesn't respect the virtualenv and tries to install to the shared environment.

Would it be a fair test if I copy gradient_boosting.py and manually import the modified version?

[2015-11-20 20:51] #5640 closed

[2015-11-20 21:23] amueller commented on #5848
PR at #5850

[2015-11-20 21:28] amueller commented on #5844
thank you so much for investigating :)

[2015-11-20 21:41] amueller commented on #5774
indeed. Please have a look at #3550, too. I am a bit too busy at the moment to follow up on this.

[2015-11-20 22:30] amueller commented on #5444
closing as duplicate.

[2015-11-20 22:30] #5444 closed

[2015-11-20 23:59] ktrnka commented on #5808
I took just gradient_boosting.py cause of the Cython/virtualenv issues. I'll try to run some more tests over the weekend but it seems that it's actually faster than 0.16.1 now!

50k x 61 dataset, 3 threads and not using computer much
* 0.17: 10.2 min, 10.3 min
* #5858 : 6.0 min, 6.1 min (1.69x vs 1.49x for 0.16.1-0.17)

200k x 61, 1 thread cause I wanted to do work without affecting the test
* 0.1

[2015-11-21 00:13] jmschrei commented on #5808
Excellent. It's good to know all our hard work this summer was nullified by one incorrect line in an unrelated PR.

[2015-11-21 00:53] fayeshine commented on #5888
changed to #5896

[2015-11-21 13:12] aakashjain opened #5897 "LogisticRegression documentation contradicts on multi_class and solver"
`LogisticRegression`'s documentation says of the `multi_class` attribute that `'newton-cg'` and `'lbfgs'` solvers can handle multinomial loss, while `'sag'` and `'liblinear'` are limited to ovr. But the explanation for the `multi_class` attribute says that `'multinomial'` works only with `'lbfgs'`.

[2015-11-21 15:45] betatim commented on #5789
This is being worked on in #5815

[2015-11-21 17:06] srikar2097 opened #5898 "Precision Recall values per Hold out instance"
My use-case is I want to fix a threshold on number of samples (rather than model score threshold). i.e. by considering only top n samples I can expect A precision with B recall.

I am trying to get Precision-Recall values for each holdout data instance. Current scikit implementation gives on model thresholds, I want to plot Precision-Recall values for each instance of hold-out set. I suppose this

[2015-11-21 20:33] lucasdavid commented on #5867
Okay, I think I covered all of them now. Still, there's the chance that there are other algorithms that can run in parallel, but they aren't, currently, because they are being called without `n_jobs`.

I don't know if that has already been discussed or not, but just tossing out some ideas:
* I'm not sure, but I feel what happened with `NearestNeighbors` is that it was firstly implemented single-th

[2015-11-22 07:48] agramfort commented on #5867
I personally don't want to have all my CPUs used if I did not ask for it.

[2015-11-22 12:29] manugarri commented on #5281
hmm you sure? Im using v 0.16.1 and p3.5 and still showing the error. Maybe it's just fixed in 0.17?

[2015-11-22 12:32] manugarri commented on #5281
Actually, just updated to 0.17 and the warning is gone. Please close :)

[2015-11-22 13:39] lucasdavid commented on #5867
Ok. Memory is a good point.

[2015-11-22 15:11] mihirfk commented on #5090
Is this issue resolved? I have implemented exactly this and was going to contribute but looks like this has already been done.

[2015-11-22 15:24] mihirfk commented on #1362
Hey I've been using scikit learn for quite some time and would like to start contributing.
I'd like to give this issue a shot.

[2015-11-22 17:15] glouppe commented on #5808
Great! Closing :)

[2015-11-22 17:15] #5808 closed

[2015-11-22 19:34] mihirfk opened #5901 "Modified Adsorption for Label Propagation"
The following paper provides an algorithm to perform label propagation:
http://talukdar.net/papers/adsorption_ecml09.pdf [89 citations]

 Would scikit-learn be a good place for this algorithm? If yes, I'd like to work toward implementing it.

[2015-11-22 21:45] jelmelk opened #5902 "BaggingClassifier n_jobs issue"
I have been experimenting with the BaggingClassifier, and for that I've been setting `n_jobs=4` on my own computer. The program runs fine if I'm doing it through Spyder and I run each cell separately. However, when I try to run the file as a whole it hangs, no errors pops up and a code that should take few mintues takes hours.

I ran the debug on PyCharm, as the Spyder one didn't help, which gave

[2015-11-23 01:29] napsternxg opened #5903 "Segmentation fault with TSNE fit_transform"
I am trying the following piece of code with sklearn version 0.16.1 and am getting segmentation fault error.

[code]

The same code for PCA works correctly.
[code]

My library versions are:
sklearn = 0.16.1
numpy = 1.10.1
scipy = 0.16.1
OpenBLAS 0.2.16.dev

[2015-11-23 01:34] napsternxg opened #5904 "ImportError: Numerical Python (NumPy) is not installed."
I am trying to upgrade my sklearn from version 0.16.1 to the latest using pip however the `sudo pip install sklearn --upgrade` command fails with the following message:

[code]

I already have numpy 1.10.1 installed as found in
[code]

My pip version is also up to date
[code]

I manually installed numpy from source using OpenBLAS 0.2.16.dev using the pip command from the source directory.

[code]

[2015-11-23 02:53] rvraghav93 commented on #5904
Try `sudo pip install numpy`

[2015-11-23 03:16] nelson-liu commented on #5781
I'd be happy to work on this, but I'm a bit confused as to where to mention it. Many elements of scikit-learn use random seeds, but it might be a bit repetitive to talk about the random seeds in every documentation page of these elements. Is there some sort of overarching page that talks about scikit learn configurations like this?

[2015-11-23 04:33] srinivasreddy commented on #5904
@napsternxg  Please post in Pip issues. https://github.com/pypa/pip/issues

[2015-11-23 05:37] pieteradejong commented on #5878
this seems fixed by #5892 ?

[2015-11-23 05:39] nelson-liu commented on #5739
I've been working on this, and have managed to get all the scripts working with a grayscale racoon instead of lena. However, I'm not sure what to do with some of the docs. e.g., the file (https://github.com/scikit-learn/scikit-learn/blob/master/doc/themes/scikit-learn/layout.html) has a reference to lena on lines 163-164. Is merely editing the path in this file enough, or is there somewhere specif

[2015-11-23 06:28] GaelVaroquaux commented on #5904
Appartently the setup.py of scikit-learn fails to import numpy. I do not
know why. Are you sure that, in the above commands, 'pip' and 'python'
denote the same Python install?

[2015-11-23 06:45] napsternxg commented on #5904
@GaelVaroquaux How to determine if the pip and python are from same python install ?

Here is all I could find:

[code]

Also, I can find `numpy` in the following location: `ls /usr/local/lib/python2.7/dist-packages/
`, but can't find it in `/usr/lib/python2.7/dist-packages/`

Also, `numpy, scipy and sklearn` can all be imported from inside of python run from command line.

[code]

[2015-11-23 07:24] GaelVaroquaux commented on #5781
No. Maybe in the FAQ, but I suspect that people won't read it. @amueller,
what do you think?

[2015-11-23 07:38] GaelVaroquaux commented on #5904
If you look at your earlier traceback, you'll see that pip is most likely
using also /usr/bin/python.

This is very, very strange. I tried installing scikit-learn 0.17 with pip
to see if I could reproduce, but I cannot.

[2015-11-23 07:40] GaelVaroquaux opened #5905 "Original traceback in setup.py should be displayed"
In get_numpy_status and get_scipy_status, the original traceback when the import of numpy or scipy fails should be displayed, to be able to debug issues like #5904

[2015-11-23 07:53] rvraghav93 commented on #5904
Since you are running pip with elevated privileges (`sudo pip`) for installing scikit-learn, but check for `numpy` without sudo, I think `numpy` may not have been installed for root? (just a wild guess) If that is the case `sudo pip install numpy` *may* fix this...

[2015-11-23 07:55] GaelVaroquaux commented on #5904
Good idea. Could you check the imports when running as root.

[2015-11-23 07:56] napsternxg commented on #5904
Already did that.
[code]

[2015-11-23 08:03] rvraghav93 commented on #5904
Ok could you try this? (sorry I am just curious ;))

[code]

[2015-11-23 09:57] fabioticconi commented on #5873
I will try to get a minimal working example, although I find it difficult as I see no pattern yet (that is, the experiments for which it does work and it doesn't work look similar to me).

[2015-11-23 09:59] lesteve commented on #5881
pip install conda

Glad you got it sorted out. For the record in order not to mess with your system python I would advise installing Anaconda from https://www.continuum.io/downloads or, if you want to take a more minimalistic approach, miniconda from http://conda.pydata.org/miniconda.html.

[2015-11-23 12:58] vighneshbirodkar commented on #5903
I believe the TSNE code is leaking memory.
#5689 has been a nightmare so far. I'm consistently getting an unrelated failure.

[2015-11-23 14:23] Eickho commented on #5866
Oh well, there is an exit() after the first topic model in the example. Might want to remove that.

[2015-11-23 14:29] GaelVaroquaux commented on #5866
Duplicate of #5767

Which has been fixed. I think that we should close this.

[2015-11-23 14:29] #5866 closed

[2015-11-23 16:16] fabioticconi commented on #5873
Also another point of interest: exactly the same data and setup but using ElasticNetCV does not cause the problem, ever.

[2015-11-23 16:21] mihirfk commented on #4816
Can I take this up ?? (long time sklearn user but never contributed before)

[2015-11-23 16:47] nelson-liu opened #5908 "Spectral Clustering Example modifications gives Segmentation Fault - 11 on OSX"
Hi!
As part of https://github.com/scikit-learn/scikit-learn/issues/5739, I'm changing existing scikit-learn issues to work with the scipy.misc.face() image instead of scipy.misc.lena(). I've gotten all the scripts to work properly except one (plot_lena_segmentation.py, at http://scikit-learn.org/stable/auto_examples/cluster/plot_lena_segmentation.html), which causes a segmentation fault. Perhaps t

[2015-11-23 19:52] ermakovpetr commented on #4391
https://github.com/scikit-learn/scikit-learn/pull/5900

[2015-11-23 23:19] amueller commented on #4737
@shoyer do you have a decent workaround? We are currently using old sphinx. Sphinx master should have a fix. I couldn't get the "'imported-members'" option to work.

[2015-11-23 23:23] shoyer commented on #4737
I'm still pinning sphinx to v1.2.3. Not much else we can do until they issue a bug fix release.

[2015-11-24 03:10] tuliocasagrande opened #5911 "Website: broken links to older versions"
The support page has a list for documentation of older and unavailable versions.
http://scikit-learn.org/dev/support.html#documentation-resources

[2015-11-24 08:15] Russell-Jones commented on #5904
@napsternxg what're in `~/.local/lib/python2.7` and `~root/.local/lib/python2.7` ?

[2015-11-24 10:44] fayeshine commented on #5911
Yes, only 0.15 is available.

[2015-11-24 14:46] arthurmensch opened #5915 "Cross validation module should allow the user to provide its own (X_train, X_test) generators"
The whole cross validation / parameter search relies on sample masks rather than train / test physical datasets. This is not convenient if we need for example to remove some features /sample from a sparse dataset to evaluate reconstruction. More flexibility would be possible if we were able to provide an iterator of `(X_train, X_test)` to `GridSearchCV` / `cross_val_score`.

[2015-11-24 14:54] rvraghav93 commented on #5915
We can do that with [`PredefinedSplit`](http://scikit-learn.org/dev/modules/generated/sklearn.model_selection.PredefinedSplit.html) right?

[2015-11-24 15:09] arthurmensch commented on #5915
I am hacking scikit learn to be able to do recommender systems. Cross validation implies taking a sparse matrix `X` `(n_samples, n_features`), with missing values, and to remove e.g. `20%` of the features (different for each sample) for the training set, keeping them for the test test. Working with sparse matrix require specific construction of `(X_test, X_train)` for efficiency, so it would be gr

[2015-11-24 17:10] amueller commented on #5903
The code has change A LOT since 0.16.1 its a completely different algorithm. Can you try 0.17?

[2015-11-24 17:32] napsternxg commented on #5903
@amueller I cannot install 0.17 because of #5904

[2015-11-24 19:49] vighneshbirodkar opened #5916 "TSNE memory leak"
TSNE code is failing due to some unrelated changes. See #5689 . Here is the error from running valgrind.
[code]
Here is the complete unsupressed log
https://gist.github.com/vighneshbirodkar/6e19d5a7ef2c105ad735

[2015-11-24 20:31] jmschrei commented on #5870
A concern I have is how to handle missing values themselves. How do you handle missing values in a buffer of doubles?

[2015-11-24 20:45] napsternxg commented on #5904
@rvraghav93 I don't have permissions to run python as sudo so can't present some of the results in your script. But this is ourput from what I can run with my current permissions.

[code]

Some extra information which I can provide about the sudo and non sudo versions of pip are the following:

Using `sudo pip`:

[code]

Using `pip` without sudo:

[code]

[2015-11-24 21:03] agramfort commented on #5870
np.nan ?

[2015-11-24 21:21] jmschrei commented on #5870
How is np.nan represented at the buffer level, when the gil is released?

[2015-11-24 21:25] GaelVaroquaux commented on #5870
I don't think that it works as there are several ways a nan can be
represented as a floating point (that's the ieee standard):

<pre>
In [5]: a = np.zeros(1)*np.nan

In [6]: a
Out[6]: array([ nan])

In [7]: str(a.data)
Out[7]: '\x00\x00\x00\x00\x00\x00\xf8\x7f'

In [8]: a = np.zeros(1) / 0
/usr/bin/ipython:1: RuntimeWarning: invalid value encountered in divide
  #! /usr/bin/python

In [9]: a
Out[9

[2015-11-24 22:13] rvraghav93 commented on #5904
Could that be the reason? (since `(sudo )pip` does `(sudo )python setup.py`?

Also any specific reason why you don't do `pip install --upgrade scikit-learn`? If you get an error while doing so can you post it here?

[2015-11-24 22:32] ahirner commented on #5482
@jnothman @larsmans commit is pending on the docstring side of things.. after looking at the code, I think one would need to introduce a parameter like preprocessing="none" to not break old code. If supplying a custom analyzer and using inbuilt preprocessing is no boundary case, this should become a feature request?

[2015-11-24 23:09] vene commented on #5870
So, boolean masks?

[2015-11-24 23:30] rvraghav93 commented on #5870
how about `np.inf`?

[2015-11-24 23:32] napsternxg commented on #5904
@rvraghav93

[code]

And here is for `sudo pip install`
[code]

[2015-11-24 23:59] jmschrei commented on #5870
I think a boolean mask would have to be the way to go. Testing at the python level seems simpler than trying to test at the cython level. I'm concerned this will bog down the tree implementation, though.

[2015-11-25 00:02] rvraghav93 commented on #5904
Ah! Try this?

[code]

I think this should work (assuming you are able to run `chown` with elevated privileges...)

[2015-11-25 00:39] rvraghav93 commented on #5870
What is the drawback of checking for nan at cython level?

https://github.com/astropy/astropy/blob/master/astropy/convolution/boundary_extend.pyx#L13

[2015-11-25 00:40] jmschrei commented on #5870
I suppose I'm wary about added a is_nan check at every comparison. I wasn't aware that you could pass along nan values in a type-casted buffer, but you should speed test that and see how it performs.

[2015-11-25 00:41] jmschrei commented on #5870
Or, as an initial speed test, see what happens when you add that in without the rest of the tree functionality, just to see how much of a cost it incurs.

[2015-11-25 03:25] rvraghav93 commented on #5870
That is a great idea... I'll raise a PR for this issue in a day or two and will add bench for that...

[2015-11-25 06:36] glouppe commented on #5870
Not that, assuming the same interface as `Imputer`, NaN may not necessarily be the placeholder of missing values, but something that the user defined (e.g., -1)

[2015-11-25 06:38] GaelVaroquaux commented on #5870
It's probably slow at the CPU level.

[2015-11-25 09:14] agramfort commented on #5870
ok but nan is the standard way of coding for missing values. How about
handling it internally? eventually with a data copy. User passes nan and
then in the fit the nan are replaced with specific code that is fast while
building the tree?

[2015-11-25 09:30] GaelVaroquaux commented on #5870
What do you mean standard? Missing data are in no recognized standard (eg
IEEE). It would be great to get them there, but currently there is no
standard, and that's what we fight with. Nan encoding numerical errors,
not missing data. R has a specific nan to encode missing data (there are
many different nans possible in the IEEE standard).

That's OK with me. I would even say that as in the Imputer

[2015-11-25 09:34] agramfort commented on #5870
ok with me.

how does pandas handle it?

[2015-11-25 09:43] cle1109 commented on #5679
@amueller all changes seem to be there now, so I guess this issue can be closed?

[2015-11-25 09:47] lesshaste commented on #5870
http://pandas.pydata.org/pandas-docs/stable/missing_data.html

[2015-11-25 09:49] GaelVaroquaux commented on #5870
The most important question is: how to they do is internal. AFAIK,
testing for nan is much more costly than testing for equality. Thus for
an implementation like trees, which is very tuned for speed, we might
want to avoid that.

[2015-11-25 10:57] lesshaste commented on #5870
@GaelVaroquaux  It seems that for floats pandas uses IEEE 754 NaNs.  I think comparisons should be very fast in that case. I am not sure what it does for other types. I'll update this post if I find out.

[2015-11-25 17:53] rvraghav93 commented on #5915
Ah! You want cross validation with missing values... sounds interesting...

You can do

[code]

And in the `train_indices` you could specify you train matrix indexing

Since internally `GridSearchCV` trains on `X[train]`, you can specify `train_indices` to be anything that is acceptable by numpy's slice notation...

[2015-11-25 18:17] rvraghav93 commented on #5870
@GaelVaroquaux I think there are only 2 representations for NaN (sNaN for signal NaN for unexpected results from computations) which is your second example and aNaN for quiet NaN, your first example)...

 If what I understand from below tests is correct, I don't think there will be a performance issue as `np.isnan` is much faster than `np.isinf`?

[code]

[2015-11-25 21:09] nelson-liu commented on #5739
Addressed this issue in https://github.com/scikit-learn/scikit-learn/pull/5920

[2015-11-26 01:39] napsternxg commented on #5904
@rvraghav93 sorry don't have privileges for running chown. Also can you edit your last comment to remove my username from it. Thanks.

[2015-11-26 01:40] napsternxg commented on #5904
BTW I also ran the following command which ensures that Numpy is indeed installed for root python as shown below:

[code]

[2015-11-26 01:56] napsternxg commented on #5904
Some more information:

I wrote a small package of my own with similar numpy check as the one used in Sklearn. My setup.py file looks like the following:
[code]

When I install the following using `sudo pip install . -v` from the folder of the package, I see the same message saying `Couldn't import Numpy.`. Here is the full install message:

[code]

I do believe it is some issue on my side and not

[2015-11-26 01:56] #5904 closed

[2015-11-26 02:48] auroua opened #5921 "the mask property in plot_segmentation_toy.py"
[code]
When set the mask to None the results is quit different from the  example. Is this correct?

![figure_1](https://cloud.githubusercontent.com/assets/2869412/11413977/a24d0b50-942a-11e5-9671-3b0b1b5df211.png)
![figure_2](https://cloud.githubusercontent.com/assets/2869412/11413979/a71b4688-942a-11e5-8148-ced56ab2cf3d.png)
This is the modified code:
[code]

[2015-11-26 02:49] rvraghav93 commented on #5904
:+1: good luck :)

[2015-11-26 05:32] napsternxg commented on #5904
Fixed this issue by:
1. Uninstalling numpy
2. Adding `openblas.conf` in `/etc/ld.so.conf.d/`
3. Installing numpy
4. Install other packages like scipy and scikit-learn.

[2015-11-26 06:31] GaelVaroquaux commented on #5921
The example is actually correct, as the mask serves to mask out the background, and the clustering serves to separate the disks in the foreground.

I do agree that this is not specified well in the example. I'll make it clearer.

[2015-11-26 06:31] #5921 closed

[2015-11-26 06:37] GaelVaroquaux commented on #5904
Please do report your conclusions here, however, so that we learn a bit
the kind of problems our users have.

[2015-11-26 06:39] GaelVaroquaux commented on #5904
I really don't understand a thing. Maybe it's because the installs of
numpy that you had were missing a .egg-info? It used to be that installs
of numpy via Linux distributions didn't play well with Python packaging
tools. But I thought that this was mostly over.

[2015-11-26 07:38] auroua commented on #5921
@GaelVaroquaux
thanks

[2015-11-26 13:05] #5878 closed

[2015-11-26 13:35] #5877 closed

[2015-11-26 14:35] omarcr opened #5924 "cross val predict not returning total of predictions of CV estimators"
The cross val predict method:
http://scikit-learn.org/stable/modules/generated/sklearn.cross_validation.cross_val_predict.html#sklearn.cross_validation.cross_val_predict

Returns one estimated prediction. I asssume is for 1 of the n cross validation estimators.
It should return the sum of predictions per class considering al cross validation estimators.

[2015-11-26 19:21] clementlefevre opened #5926 "module model_selection in tutorial text_analytics/exercise_01_language_train_model"
Hi,
i am using the Anaconda 2.3.0
Is it me or the scikit-learn modules **model_selection**  and **gaussian_process** are  not in it ?
I changed the module name to **cross_validation** to use the **train_test_split** method.

Ibid for **GridSearchCV** in exercise_02_sentiment.

Please let me know what i did wrong.

Best regards,

CL.

[2015-11-27 01:52] SumedhArani commented on #5481
I understood what needs to be done and was working on robust scaler, and when I tried to import it, it gave me a import error but the class robust scaler does exist in data.py in sklearn.preprocessing. I tried to even run the plot_robust_scaling.py given in the examples folder. Could you let me know what to do?
I'm a new comer to scikit!

[2015-11-27 02:30] nelson-liu commented on #5926
the modules model_selection and gaussian_process were added in scikit-learn version 0.18.dev0 (http://scikit-learn.org/dev/modules/classes.html). I'm not sure which version Anaconda 2.3.0 comes with, but I'm presuming you are on the latest stable version (http://scikit-learn.org/stable/modules/classes.html, which does not include the model_selection and gaussian_process modules). As a result, it i

[2015-11-27 03:10] nelson-liu commented on #5781
I attempted to address this in https://github.com/scikit-learn/scikit-learn/pull/5927, could you let me know what you think when you have a chance?

[2015-11-27 08:25] rvraghav93 commented on #5781
@GaelVaroquaux @nelson-liu We could also add a line in tutorial?

[2015-11-27 08:45] davidavdav commented on #3808
Just want to support @MartinLion --- I am a scikit-learn newbie and have just have spent a frustrating time going thought the docs, and I can't find anywhere how to read my own data (and not a prepared toy dataset), and what the python format of data is.

[2015-11-27 10:25] rvraghav93 commented on #3808
Kindly refer -

* [How do I load my data to work with scikit-learn?](http://stackoverflow.com/q/21492726/3109769)
* [How to load data from CSV file?](http://stackoverflow.com/q/11023411/3109769)

[2015-11-27 11:05] GaelVaroquaux commented on #3808
We should add these in the FAQ.

[2015-11-27 14:41] languitar commented on #5523
:+1:

[2015-11-27 14:43] rvraghav93 commented on #3808
should we instead add as a section in the tutorial [here](http://scikit-learn.org/stable/tutorial/basic/tutorial.html#loading-an-example-dataset)?

[2015-11-27 14:44] rvraghav93 commented on #3808
Also could you tag this "Question", "Documentation"?

[2015-11-27 14:46] rvraghav93 commented on #3808
Also could you tag this "Question", "Documentation" and also reopen it?

[2015-11-27 14:50] GaelVaroquaux commented on #3808
We should reference it. But I don't see this as tutorial material because
it is outside the scope of scikit-learn. We can only give pointers

That's an answer that the users really don't want to hear, because there
point of view is that they have a lump of data and they want it inside
scikit-learn. The answer is: this is not a problem that scikit-learn
solves, go see pandas if you have CSV, scikit

[2015-11-27 16:43] danechitoaie opened #5928 "Installing the latest release"
From http://scikit-learn.org/stable/install.html

Is this about the installation process? That it will take longer as you need to compile everything thus will take more time? Or it's about how numpy will run after you installed? As in it will run slower due to some missing configuration on compile?

[2015-11-27 16:45] GaelVaroquaux commented on #5928
That option. It's easy to get the compilation of numpy wrong.

[2015-11-27 16:45] #5928 closed

[2015-11-27 18:37] MartinLion commented on #3808
Well, take it easy!!!

I don't know whether you are one of scikit-learn staff or not, but I need
to say that your way of talking is harming both scikit-learn staff and
users (us), due to the two reasons:

First reason, criticizing people (like what you did) and assuming that they
are novice in Python so they don't know how to work with scikit-learn,
means you or the staff are trying to blind their

[2015-11-27 18:55] souravsingh commented on #5876
I would like to work on this.

[2015-11-27 20:45] GaelVaroquaux commented on #5876
Go ahead. Thanks a lot!

[2015-11-27 20:48] rvraghav93 commented on #3808
Hey Martin,

Kindly don't be offended.

He did not criticize :) He, being one of the top contributors to scikit-learn has to make tough decisions as to what will go into our codebase and what will not, as a more verbose documentation or tutorial might not be preferable for a lot of people. Gael has in fact contributed a lot of user guides himself to scikit learn to help users.

The reason why he w

[2015-11-27 21:09] emmanuelle commented on #3808
Hello @MartinLion ,

we understand your eagerness to solve your problem, and your frustration when it is not solved.

However, you seem quite misinformed about what is scikit-learn, how it works, and how the project is developed. Therefore, I would like to make some points clear for you. As you can see from
http://scikit-learn.org/stable/about.html, scikit-learn is a community effort that is devel

[2015-11-27 22:45] nelson-liu commented on #5781
@rvraghav93 where in the tutorial were you thinking?

[2015-11-27 23:08] rvraghav93 commented on #5781
Whoa! The github api that I used to reply to your question somehow succeeded travelling back in time and posting my answer before your question!

Anyway the answer to your question is above... ;)

[2015-11-27 23:13] AlexanderFabisch commented on #3808
Maybe we should make clear that scikit-learn is a Python **library**. It does not have the same scope as WEKA or RapidMiner. It fits perfectly into the [scientific Python ecosystem](http://www.scipy-lectures.org/) but you should be willing to program if you want to use it.

[2015-11-27 23:20] MechCoder commented on #5916
cc: @AlexanderFabisch

[2015-11-28 06:47] hlin117 opened #5930 "Letting OneHotEncoder encode y?"
I think the original use case for OneHotEncoders were to encode features, but it would be nice if they were able to encode `y`'s as well. The current functionality is as follows:

[code]

Right now it's interpreting `y` as a single sample; the desired behavior is by letting `y = np.array([0, 1, 1, 0]).reshape(-1, 1)`, and then running the OneHotEncoder.

What do you guys think?

[2015-11-28 06:47] hdmetor commented on #5720
This is being addressed here:
https://github.com/scikit-learn/scikit-learn/pull/5730

[2015-11-28 07:58] lesshaste opened #5931 "The two example images for Nearest Centroid Classification appear to be identical."
@robertlayton and @MechCoder

The two images at http://scikit-learn.org/stable/auto_examples/neighbors/plot_nearest_centroid.html#example-neighbors-plot-nearest-centroid-py look identical to me. Are they meant to be different?

That is should changing `shrink_threshold` make some visible difference to the decision boundary in this case?

[2015-11-28 08:10] agramfort commented on #5870
have a look at:

https://github.com/jcrudy/py-earth/pull/88

[2015-11-28 08:42] AlexanderFabisch commented on #5916
@cemoody wrote the Barnes-Hut extension but I could take a look at this in the afternoon

[2015-11-28 09:32] davidavdav commented on #3808
Perhaps I should elaborate on my original frustration, to give you some context.

I've been programming in Python almost exclusively for a year now (I am a late convert), and am fairly familiar with the ecosystem---I've done lot's of webservice related things, but also manipulation of resources related to automatic speech recognition.  I do my scientific work in [Julia](http://julialang.org/) sinc

[2015-11-28 09:58] GaelVaroquaux commented on #3808
@davidavdav

I agree that loading data is a difficult and important thing. However, it is a domain-specific problem. You have a particular type of data. I have another. My data is medical images of brain activity. I can tell you how I organize my data and load them. I can even tell you that we have written a whole package about this, with its own documentation. But that will probably not help you.

[2015-11-28 10:21] GaelVaroquaux commented on #5781
I'd rather not. We need to keep these focussed on the essential.

[2015-11-28 11:37] olologin commented on #5930
You can use MultiLabelBinarizer to achieve similar results, but again, it will work only on iterables over iterables.
i.e.

	from sklearn.preprocessing import MultiLabelBinarizer
	mlb = MultiLabelBinarizer()
	mlb.fit([[0],[1],[1],[0]])
	mlb.transform([[0],[1],[1],[0]])
	array([[1, 0],
	       [0, 1],
	       [0, 1],
	       [1, 0]])

[2015-11-28 19:30] souravsingh opened #5933 "Clicking on Contributing Documentation leads to 404 error."
I was trying to look into the documentation and found that clicking on Contributing in the Documentation drop-down menu leads to a 404 error.Is it due to the sphinx build?

[2015-11-28 20:53] rvraghav93 commented on #5933
Hey @souravsingh! The page seems to be working from my end - http://scikit-learn.org/stable/developers/contributing.html

[2015-11-28 21:29] souravsingh commented on #5933
It happened when I tried the drop-down menu in Documentation.![Error Image] (http://imgur.com/tHU1qcO)

[2015-11-28 21:41] souravsingh commented on #5933
If I click on Contributing on the drop-down list in Documentation.It redirects to this [link](http://scikit-learn.org/stable/developers.html) which is where the error shows up.

[2015-11-28 21:44] nelson-liu commented on #5933
Seems like my comment did not post, but I can indeed verify that there is a dead link. I'm looking into why it is so right now.

[2015-11-28 21:52] nelson-liu commented on #5933
Weird, seems like on my machine building the local HTML uses a different layout.html than the current live site on the web. When building it locally, there is no 404 but the link headers are outdated. Is the current live webpage using this as its theme (https://github.com/scikit-learn/scikit-learn/blob/master/doc/themes/scikit-learn/layout.html) ? It does not seem as if it is.

[2015-11-28 22:01] nelson-liu commented on #5933
ah, seems like there's a dev version of the site (see: https://github.com/scikit-learn/scikit-learn/pull/5890). Probably just a matter of missing ```/index``` (```developers``` vs ```developers/index```). @rvraghav93 could you let me know if I am correct?

[2015-11-28 22:14] rvraghav93 commented on #5933
Ah I see... The dropdown box link points to http://scikit-learn.org/stable/developers.html, instead of http://scikit-learn.org/stable/developers/contributing.html

[2015-11-29 09:02] benjaminabel opened #5934 "Documentation: switch to bootstrap 3/4"
As bootstrap 4 is [coming](blog.getbootstrap.com/2015/08/19/bootstrap-4-alpha/) and documentation is using an old bootstrap 2 we may consider uprading bootstrap to a newer version.
I can help on this, however are you interested or are you planning to switch to another framework?

[2015-11-29 10:35] GaelVaroquaux commented on #5934
What would this give us? Is bootstrap 2 going to slip into unsupported
mode? What would unsupported mean for such a component? I am sorry, maybe
these are naive questions, but I have the feeling that I am not grasping
fully the stackes at hold.

Probably not, mostly out of laziness. I tend to prefer purecss to
bootstrap, which I find lighter and better suited to our needs. But I am
not sure that a

[2015-11-29 18:06] AlexanderFabisch commented on #5916
I would need some help here @cemoody. It seems like there are some problems in the code that could cause memory leaks.

Most of the problems come from these two functions:

[code]

* I see that all the malloced attributes of the root node's children are freed recursively but the attributes of the root node are never freed. You would have to add something like this to `free_tree()`:
[code]
I don't

[2015-11-29 18:23] AlexanderFabisch commented on #5916
Mmh... now I don't have any problems without changing anything. Maybe someone could verify that? My test program is

[code]

and I call valgrind with `valgrind --leak-check=full --track-origins=yes python test_tsne.py`. The hotfix is [here](https://github.com/AlexanderFabisch/scikit-learn/commit/05c83665ddaf23cfcecf15b1f593f47561cd603c).

[2015-11-29 18:25] benjaminabel commented on #5934
First it would permit to have a bootstrap code that is still maintaned by opposition to bootstrap2, secondly frontend tech goes fast and it would permit to have support for newer navigators(but maybe drop support for older ones like IE8)

Usage of bootstrap is limited on the docs(grid, dropdown, carousel, maybe more that I haven't seen), but his grid system is really helpfull for responsivness. It

[2015-11-29 18:57] lucasdavid opened #5935 "Landmark ISOMAP"
Silva and Tenenbaum described in the paper [Global versus local methods
in nonlinear dimensionality reduction](http://web.mit.edu/cocosci/Papers/nips02-localglobal-in-press.pdf) an extension of ISOMAP called L-ISOMAP: the idea that `n` randomly selected samples could be extracted from `X` and used to create the low-dimensional embedding. All samples' dissimilarities would then be used to triangula

[2015-11-29 22:39] hugobowne commented on #5824
tapping in to let you know that @mrchristophrivera & I are still working on this. thanks, @rvraghav93 , will check out #4167 at some point. will also looking into partial_fit after having sorted out basics

[2015-11-29 23:49] mblondel commented on #5824
I would address partial_fit in a separate PR. Smaller PRs are faster to merge :)

[2015-11-30 12:49] olologin commented on #5903
Ubuntu 15.10, 0.17 - everything works as expected.

[2015-11-30 13:01] rohanp commented on #5935
I agree, Landmark Isomap is a pretty significant reduction technique.

[2015-11-30 13:06] rohanp opened #5937 "sklearn.manifold should accept "mle" for n_components parameter."
The intrinsic dimensionality of a dataset is usually not known a priori. Because of this, intrinsic dimensionality estimation techniques have been developed so that one can choose how many components to keep after running a dimensionality reduction technique non-arbitrarily. Scikit-learn has already implemented one such technique, MLE, and has allowed the [PCA module](http://scikit-learn.org/stabl

[2015-11-30 13:59] fayeshine opened #5938 "should we import libfm in sklearn?"
Since factorization machine is quite useful and won many kaggle competitions, should we import this?

[2015-11-30 14:01] fayeshine commented on #5888
@amueller This has been merged, should close it.

[2015-11-30 14:19] vighneshbirodkar commented on #5916
@AlexanderFabisch I cannot thank you enough! I am checking if this fix resolves my issue

[2015-11-30 14:48] MathiasDesch opened #5939 "Specifiy lambda for latent dirichlet allocation"
It would be interesting to be able to specify lambda (`components_`) in LDA constructor and begin fit until convergence with this lambda instead of random one.

At the moment, `fit` method is randomly initializing : [here]( https://github.com/scikit-learn/scikit-learn/blob/c957249/sklearn/decomposition/online_lda.py#L502)

[2015-11-30 15:13] vighneshbirodkar commented on #5916
@AlexanderFabisch The problem persists
https://travis-ci.org/scikit-learn/scikit-learn/builds/93952478

[2015-11-30 16:14] TomDLT commented on #5938
ogrisel commented on Nov 15, 2014 (https://github.com/scikit-learn/scikit-learn/pull/2387#issuecomment-63196535)

See also:
http://sourceforge.net/p/scikit-learn/mailman/message/30697138/

[2015-11-30 17:29] ahoyosid opened #5940 "StratifiedShuffleSplit in cross_validation module only uses the test_size"
Hello, I'm aware that the cross_validation module is going to be deprecated in the next version, but anyhow I'd like to point out a bug that cost me some time (with respect to simulations).
The StratiffiedShuffleSplit only uses the test_size parameter.

Here an exaple:

import numpy as np
from sklearn.cross_validation import StratifiedShuffleSplit

y = np.array([-1, -1, -1,  1,  1, -1,  1, -1,  1,

[2015-11-30 21:31] yavvsy opened #5941 "sklearn.cross_decomposition example needs to be fixed"
In http://scikit-learn.org/dev/auto_examples/cross_decomposition/plot_compare_cross_decomposition.html#example-cross-decomposition-plot-compare-cross-decomposition-py reference to PLSCanonical has been removed creating holes.

for example:
`from sklearn.cross_decomposition import , PLSRegression, CCA`
should be:
`from sklearn.cross_decomposition import PLSCanonical, PLSRegression, CCA`

Then:
[cod

[2015-11-30 22:41] nelson-liu commented on #5941
PLSCanonical still seems to be there on my side? Do you mean in the example script on the webpage?

[2015-11-30 22:54] nelson-liu commented on #5940
It seems like when you do not specify the test_size parameter, it defaults to .1 instead of becoming the complement of the train_size as the documentation specifies. Will look into it and submit a PR.

[2015-11-30 23:25] rvraghav93 commented on #5940
This is the expected behaviour :)

When `train_size` is set to `0.5` (The `test_size` remains at the default value of `0.1`, unless you explicitly set it to `None`. Only then it takes the complement).

It is not possible to change this behaviour as you would not know if `test_size`  value is set to 0.1 by user or is set by default. And if you set default value of `test_size` to `None`, you won't b

[2015-11-30 23:29] nelson-liu commented on #5940
@rvraghav93 ah i see, that makes sense. thanks for the explanation!

[2015-11-30 23:34] yavvsy commented on #5941
Yes,  Web site example is missing PLSCannonical.

[2015-11-30 23:36] nelson-liu commented on #5931
They're definitely not the same, although the difference is quite minute. I made an animation to illustrate the difference: http://gfycat.com/MaleLegitimateFrigatebird

[2015-11-30 23:39] nelson-liu commented on #5941
Here is a screenshot of what I see; PLSCanonical seems to be there? <img width="857" alt="screen shot 2015-11-30 at 3 37 49 pm" src="https://cloud.githubusercontent.com/assets/7272031/11488051/6bfd0e28-9778-11e5-8102-8f802a806842.png">

[2015-11-30 23:59] rvraghav93 commented on #5696
Fix at #5697

[2015-12-01 01:50] mblondel commented on #5938
In the meantime, there are two FM related projects compatible with scikit-learn:
https://github.com/scikit-learn/scikit-learn/wiki/Third-party-projects-and-code-snippets

[2015-12-01 01:50] #5938 closed

[2015-12-01 02:19] lesshaste commented on #5931
You are right there is a (tiny) difference.

Maybe an example with a clearer difference would be more informative. I also noticed the  script output is

None 0.813333333333
0.1 0.813333333333

Overall the example would benefit from some explanatory text.

[2015-12-01 07:08] amueller opened #5943 "doc: make_pipeline doesn't say it lower-cases the class-name in the docs"
The docstring should be a bit more explicit about how ``make_pipeline`` works.

[2015-12-01 07:22] amueller commented on #3888
landscape.io now uses the status API, so it might be worth reinvestigating: https://github.com/landscapeio/landscape-issues/issues/108

[2015-12-01 11:14] mth4saurabh commented on #4643
@amueller Interestingly I am getting different error when I change `random_state` to 10, last line of the traceback:
[code]

[2015-12-01 13:19] rvraghav93 commented on #5924
When you do `cross_val_predict`, it returns the predictions for all the samples calculated from all the `n` iterations. For each iteration of cv, the model is trained on the training set and the test set is predicted using that model.

For example if you want a 3-fold cross-validated prediction on a sample dataset with 5 samples -

[code]

Also refer [this documentation.](http://scikit-learn.org/d

[2015-12-01 13:40] rvraghav93 commented on #5940
@ahoyosid If you are convinced, you might want to close this issue? ;)

[2015-12-01 14:37] GaelVaroquaux commented on #5940
Yeah

+1 for a more explicite documentation.

Other option: deprecate one of the two parameters, train_size and
test_size. The use cases for using them separatel is fairly marginal, and
I fear more user error.

[2015-12-01 15:19] yavvsy commented on #5941
When I go to the page mentioned in my email:
`http://scikit-learn.org/dev/auto_examples/cross_decomposition/plot_compare_cross_decomposition.html#example-cross-decomposition-plot-compare-cross-decomposition-py`

I definitely get:

[code]

[2015-12-01 15:25] #5940 closed

[2015-12-01 16:11] halwai opened #5947 "Regarding New ML algorithm :: Heat diffusion on Undirected Weighted Graph"
Hi
I would like to propose an addition in the scikit - learn ML  algorithm:: heat diffusion on un-directed weighted graph

 It is used in a semi-supervised setup and can be used at problems requiring local and global scales of information using some sort of label transfer but not limited to this

Graph Diffusion based transductive learning is finding many applications such as in Page Rank Algorith

[2015-12-01 17:09] raghavrv opened #5948 "[DOC+RFC] Enhance `test_size` and `train_size` docs"
Clarify that setting `train_size` will not change the default value of `test_size` (`0.1`), unless you explicitly set it to `None`.

Only if `test_size` is explicitly set to `None`, the value is set to the complement of `train_size`, not otherwise. This should be made more explicit in the documentation.

@GaelVaroquaux suggested that we could deprecate one of them (preferably `train_size`?). I fee

[2015-12-01 17:42] willettk commented on #5146
Finally! Very useful - thank you, @laghaout. Just posting the trace that I had (that the `conda` install fixed) in case it's helpful for anyone else Googling the same error messages.

[code]

[2015-12-01 18:18] nelson-liu commented on #5948
+1 to deprecate train_size. I don't really see a reason for preferring test_size over train_size, so it should be an easy fix for any scripts affected. Additionally, its likely that those who are using train_size are not aware of its unclear interaction with test_size, and switching might fix a bug they didn't know they had.

[2015-12-01 18:19] nelson-liu commented on #5941
Can i get a screenshot of what you see? Tell me more about your setup: what OS, browser, etc?

[2015-12-01 19:01] kshitij10496 commented on #5403
I would like to work on this issue if no one is working on it

[2015-12-01 23:36] MechCoder commented on #5930
Why can you not just use a LabelBinarizer, unless I'm missing something?
Not allowing 1-D inputs was explicitly done here (https://github.com/scikit-learn/scikit-learn/pull/5152)

[2015-12-01 23:48] hlin117 commented on #5930
So, the LabelBinarizer works to some extent:

[code]

But this isn't the desired result:

[code]

PS: I didn't know LabelBinarizer existed. A separate PR should also link the OneHotEncoder page to the LabelBinarizer page.

[2015-12-01 23:58] hlin117 commented on #5930
I think @olologin has a good solution, to use the `MultiLabelBinarizer`. From what @MechCoder mentioned, 1D `y` into OneHotEncoders is going to be deprecated as well.

Maybe a better idea would be to state on the OneHotEncoder docs that OneHotEncoders are meant to be used for features (`X`), and to use LabelBinarizers for `y`.

Is a PR welcome to open up this sort of documentation?

[2015-12-02 00:09] MechCoder commented on #5930
The reason why it does not produce the expected result for a LabelBinarizer for binary y is that because it is kind of implied what the second column should be. For example, see https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/logistic.py#L634

Well, the documentation in the classes already states that OneHotEncoder is meant for "features" and LabelBinarizer is meant f

[2015-12-02 00:18] hlin117 commented on #5930
Yeah, that's true. Maybe it's just the strange workflow that I'm working with which requires the output `y` to be a 2D array =X

Oh man, didn't see this:

To be fair though, I guess it doesn't discuss how to encode labels. I think a good PR would be to refer users to the other encoders to do one hot encoding for labels. (I'll add this into my bucket list of things to do after my latest research sp

[2015-12-02 09:56] sieben commented on #5933
@rvraghav93 If you do a make linkcheck inside /doc you can see all the broken/redirect links (internal and external)

[2015-12-02 13:45] crbrinton opened #5950 "IncrementalPCA: explained_variance_ratio_ exceeds 1.0 after 5 iterations"
I'm using IncrementalPCA.partial_fit within a loop over a large array that I read in from a file sequentially to avoid memory limitations. After 5 iterations, I'm getting an explained variance ratio of just the first component of 31.8... Each iteration of partial_fit uses 500 samples with 840 features. IncrementalPCA is initialized to keep 100 components.

code snippet:

[code]

output snippet:

P

[2015-12-02 15:06] yavvsy commented on #5941
Hi Nelson,

Here is the screenshot:
![screen_pls_example](https://cloud.githubusercontent.com/assets/13950307/11534242/bdc75b14-98db-11e5-8513-d6bb93a11258.jpg)

BUT I think it's resolved.  When I cleared cache, the disappearing function is back!  I don't know why I was seeing the version with missing callbacks, but I guess I can now safely close this issue.  Must have been some change that I was

[2015-12-02 15:06] #5941 closed

[2015-12-02 15:36] halwai commented on #5943
Hello...I am a new contributor to scilit-learn. I think i need to change the docstring of this method https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/pipeline.py#L368
Please let me know if i am correct.
http://pastebin.com/VRysqwSD
Thanks!

[2015-12-02 21:06] EricFalkenberg commented on #5943
Here's a pull request that adds in the necessary documentation.
https://github.com/scikit-learn/scikit-learn/pull/5952

[2015-12-02 22:05] #5934 closed

[2015-12-03 01:10] rvraghav93 commented on #5943
@halwai #5944 Fixes this... Could you look at some other issue to work on? :)

[2015-12-03 01:35] rvraghav93 commented on #5933
Whoa!! This needs to be fixed! @nelson-liu Would you like to take that up and fix them too?

[2015-12-03 01:37] nelson-liu commented on #5933
Sure, I'd be happy to help. Is there a different live site and development
site though?

On Wed, Dec 2, 2015, 5:36 PM Raghav R V <notifications@github.com> wrote:

[2015-12-03 01:41] rvraghav93 commented on #5933
Yes the ["dev" site](http://scikit-learn.org/dev/) (is supposed to) update every 1 hour from master and the ["stable" site](http://scikit-learn.org/stable/) is based on the last stable version released...

[2015-12-03 01:43] nelson-liu commented on #5933
Ah, got it. That explains a lot. Thanks for the info, and I'll take up this
task.

On Wed, Dec 2, 2015, 5:42 PM Raghav R V <notifications@github.com> wrote:

[2015-12-03 04:56] halwai commented on #5943
@rvraghav93  sure

[2015-12-03 08:34] lesteve opened #5953 "datasets.fetch_california_housing broken because http://lib.stat.cmu.edu is down"
[code]

http://lib.stat.cmu.edu seems to be down, and it has been down for at least a couple of days. Not sure how to check whether it will be fixed back up eventually.

A possible fix would be to fetch the datasets from somewhere else, for example:
~~https://archive.ics.uci.edu/ml/datasets/Housing.~~ **Edit**: actually this link is actually the Boston housing dataset.

Full traceback:
[code]

[2015-12-03 08:41] GaelVaroquaux commented on #5953
We could add both URLs and try them in succession.

[2015-12-03 08:59] lesteve commented on #5953
I think the slightly annoying thing is that the format is not exactly the same, one is gzip the other one isn't, one has some documentation that needs to be skipped inside the file the other hasn't.

I tried to contact the webmaster from stats.cmu.edu to know a little bit about the change.

For the record, this breaks one of the example as noted in #5925, namely examples/ensemble/plot_partial_depe

[2015-12-03 09:10] nelson-liu commented on #5931
@rvraghav93 @GaelVaroquaux thoughts on this? Should we rework the example to have a more clear change in decision boundary?

[2015-12-03 13:24] kshitij10496 commented on #5403
Ping @rvraghav93 @arjoly @amueller
I just want to make sure whether we are going to add the yeast dataset or something else ?

[2015-12-03 15:36] TomDLT commented on #5897
Done in #5251

[2015-12-03 15:40] rvraghav93 commented on #5403
@kshitij10496 Yes please go ahead and add the yeast dataset. Refer #5325

[2015-12-03 16:17] kshitij10496 commented on #5403
@rvraghav93 Thanks
I am working on it

[2015-12-03 17:57] MechCoder commented on #5931
please go ahead

[2015-12-03 18:01] lesteve commented on #5953
From the first response I got, it does sound like a temporary thing, trying to know a little bit more about when it is expected to be back up online.

[2015-12-03 19:15] jelmelk opened #5955 "SGD classifier prediction probabilities"
Is there a reason why [`predict_proba`](https://github.com/scikit-learn/scikit-learn/blob/c957249/sklearn/linear_model/stochastic_gradient.py#L724) and [`predict_log_proba`](https://github.com/scikit-learn/scikit-learn/blob/c957249/sklearn/linear_model/stochastic_gradient.py#L801) not listed in the top part of the **Methods** section of the docs?

Is it because they're only used for log and Huber

[2015-12-03 19:50] bnmnetp commented on #3594
FYI, I have a perfectly good version of libjpeg installed but I was still getting this message.

In my case I was able to fix it by upgrading to the latest version of Pillow.  this ensures that ``imread`` is loaded from Pillow and not from scipy.

[2015-12-03 22:09] alexfields commented on #5744
OK, I cleaned it up and uploaded it as [alexfields/multiisotonic](https://github.com/alexfields/multiisotonic)

It's pretty light-weight but it works. Construction of the partial ordering could probably be made more efficient, especially for sparse features (which are currently unsupported).

Feel free to add to the list of related projects.

[2015-12-04 03:13] coldfog opened #5956 "ValueError: assignment destination is read-only, when paralleling with n_jobs > 1"
When I run `SparseCoder` with n_jobs > 1, there is a chance to raise exception `ValueError: assignment destination is read-only`. The code is shown as follow:

[code]

The bigger `data_dims` is, the higher chance get. When `data_dims` is small (lower than 2000, I verified), everything works fine. Once `data_dims` is bigger than 2000, there is a chance to get the exception. When `data_dims` is bigg

[2015-12-04 08:26] agramfort commented on #5744
"you" feel free so send us a PR with the link added to related projects
section :)

[2015-12-04 09:57] kootenpv opened #5958 "sklearn mask for onehotencoder does not work"
See also:

http://stackoverflow.com/questions/34089906/sklearn-mask-for-onehotencoder-does-not-work

On:

Mac OS El Capitan, Python 3.5, `sklearn.__version__=='0.17'`, `scipy.__version__=='0.16.1'`
Mac OS El Capitan, Python 2.7.10, `sklearn.__version__=='0.17'`, `scipy.__version__=='0.16.1'`

[2015-12-04 11:11] ChristianSch opened #5959 "type_of_target failing on list vs np.array"
Hi!

For reference, see this issue: https://github.com/scikit-multilearn/scikit-multilearn/issues/25

While trying to get scikit-multilearn's label powerset and binary relevance strategies to work with k-fold cross validation, as the PR for label powerset here is stalled for a long time, I noticed that they don't work with each other for a simple reason.

My targets have the format of np.array / `

[2015-12-04 15:28] kastnerkyle commented on #5950
Can you reproduce with a subset of your data then share? It could be a numerical instability issue

[2015-12-04 17:07] vighneshbirodkar commented on #5916
@AlexanderFabisch I can see one remaining issue when I build on Python 3.5
[code]

[2015-12-04 17:36] Chris7 opened #5961 "Negative values for fast_logdet"
For outlier detection, I am using the EllipticalEnvelope approach. I have noticed however, I often get the following error message:

sklearn/covariance/robust_covariance.py:161: RuntimeWarning: Warning! det > previous_det (-13.868172040727313 > -inf)
  % (det, previous_det), RuntimeWarning)

I have tracked this down (well, the -inf case) to be resulting from the use of fast_logdet in _c_step (in r

[2015-12-04 18:48] #5897 closed

[2015-12-04 22:38] AlexanderFabisch commented on #5916
The behavior seems to be very nondeterministic. At the moment, I have no clue what could be the reason.

[2015-12-04 22:53] alexfields commented on #5744
#5962
I hope I put it in the right spot

[2015-12-05 08:59] #5744 closed

[2015-12-05 10:49] nelson-liu commented on #5933
@sieben is there any way to run make linkcheck without running the examples?

[2015-12-05 12:14] sieben commented on #5933
I'm not sure.i have a fix for broken links and redirected. But i don't know
how to make Travis check broken links without too much false negatives

Le sam. 5 déc. 2015 11:49, Nelson Liu <notifications@github.com> a écrit :

[2015-12-05 15:08] lucasdavid commented on #5935
Hey guys. I've implemented a sketch of the L-Isomap algorithm and [pull-requested](https://github.com/scikit-learn/scikit-learn/pull/5964) it.

First, some comments: the insane performance gain in my comment above is due to an implementation mistake of mine. I was basically training Isomap with a subset of the data set and encoding the rest, but what L-Isomap does is to calculate the nearest-neigh

[2015-12-05 22:07] raamana opened #5965 "Stratifying Across Classes in ShuffleSplit"
Hello sk'ers,

**Great work guys** in developing scikit-learn!

An under-appreciated and yet an important issue is the class imbalance during the training of the classifier [1,2,3]. SVM in particular is sensitive to this [1]. Class-imbalance is not uncommon, esp. in my world of NeuroImaging datasets where sample sizes are small, it can be difficult to let go of data to stratify the classes. I have

[2015-12-05 22:10] nelson-liu commented on #5933
@sieben sorry I'm not understanding how you got the output you linked. Did you just go to the doc folder and run 'make linkcheck'?

[2015-12-05 22:21] nelson-liu commented on #5933
@rvraghav93 @sieben when attempting to run linkcheck, I get the following error: 'IOError: [Errno 2] No such file or directory: u'/Users/nelsonliu/Documents/Github/scikit-learn/doc/_build/linkcheck/searchindex.js'' Perhaps it is related to: https://github.com/scikit-learn/scikit-learn/issues/3830?

[2015-12-05 23:01] TomDLT commented on #5943
fixed #5944

[2015-12-05 23:01] #5943 closed

[2015-12-05 23:27] acganesh commented on #5955
It also appears that there isn't a link to the source of the `predict_proba` and `predict_log_proba` methods in the [SGD documentation](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDClassifier.html#sklearn.linear_model.SGDClassifier.predict_log_proba) (though these links are present for the other methods.)

[2015-12-06 04:18] IrvicRodriguez opened #5967 "GridSearch Errors With Unexpected Key Argument"
I am trying to use grid search to find the parameters for some models I am trying out but Grid Search is giving an error when invoked. The same code was used last week  with similar data and grid search was working fine.

RFC = RandomForestClassifier(n_jobs=-1, n_estimators=64)

parameters = {'criterion': ['gini', 'entropy'], 'max_depth': np.linspace(1, 20, 10), 'min_samples_leaf': np.linspace(1,

[2015-12-06 06:08] jnothman commented on #5959
Now that the list of lists format is gone, we could consider accepting array-like indicators. But that's never before been accepted in scikit-learn as a multilabel structure. However, multi-output decision function output formats throw another spanner in the works.

[2015-12-06 06:11] jnothman commented on #5965
To make this explicit, could you please submit a PR that modifies `StratifiedShuffleSplit` and includes a test of the sought behaviour that distinguishes it from the current behaviour?

[2015-12-06 07:08] rvraghav93 commented on #5967
Could you share ur numpy / scipy / scikit learn versions?

[2015-12-06 08:34] agramfort commented on #5955
indeed that needs a fix

[2015-12-06 09:28] maniteja123 commented on #5876
Hi devs, I was just browsing for a easy topic to start of contribution to scikit learn.

While trying to add ``LatentDirichletAllocation`` to the page by inclusing ``class:`sklearn.decomposition.LatentDirichletAnalysis` ``, the link is not pointing to the page of Latent Dirichlet Allocation. But it is working for other class in ``sklearn.decomposition``.

Since I am not that accustomed to sphinx,

[2015-12-06 11:28] sieben commented on #5933
@nelson-liu Let's go fix this on a PR. I did some work #5968 let's move the discussion there.

[2015-12-06 15:19] raamana commented on #5965
Sure, I would be happy to. Just wanted to get your input before going ahead with it. Basically it would boil down to this: suppose say you have two classes of sizes 100 and 30 (large class imbalance!), and the user chooses 90% training size for StratifiedShuffleSplit, current behaviour would dictate training the classifier on 90% from class 1 (which is 90) and 90% from class 2 (which is 27), and t

[2015-12-06 15:20] fayeshine commented on #5967
seems like anaconda 2.3? numpy 1.09, sklearn 0.16
did u run "conda update"?

[2015-12-06 18:08] dshieble commented on #4453
Hi @amueller, does this issue still need someone? I'd be happy to work on this.

[2015-12-07 00:55] yenchenlin1994 commented on #5879
Hello @pieteradejong, what's the status thus far?
I'm a beginner looking for an issue to contribute to.

[2015-12-07 02:20] hlin117 opened #5970 "Precision errors in KernelPCA"
The following triggers an error. The random state is set, but there are still some precision errors.

[code]

---
## Old version of issue, without using random state.

The following is raising an error below, but I don't think it should be:

[code]

You could see some signs are flipped, some numbers rounded off, etc. Unless I'm confused about the theory of Kernel PCAs, this shouldn't be raising an

[2015-12-07 09:27] arthurmensch opened #5973 "Add fused type to Cython files"
Now that we have .c files generation embedded in the build system, we can try adding fused type to various cython based module. Any thoughts on where to begin, on priorities and excepted challenges ?

[2015-12-07 13:05] rvraghav93 commented on #5876
Where exactly is that link inside?

`sklearn.decomposition.LatentDirichletAllocation.rst` is indeed found inside the `doc/modules/generated`... If you have any changes made, specific to some issue, you could raise a PR with your changes so we can have a look at it?

[2015-12-07 17:59] rvraghav93 commented on #5967
@fayeshine I'm very curious how you figured that out ;)

[2015-12-07 18:04] IrvicRodriguez commented on #5967
it is Anaconda 2.4, Pandas 0.17.0, Numpy 1.10.1.

I opened a new Jupyter notebook and re did the above code. it now works with no problems.

The previous notebook is the one giving this error for all grid searches.

[2015-12-07 19:12] amueller commented on #4737
alright. works in master, so let's wait for that release..

[2015-12-07 20:32] thenomemac opened #5975 "Poisson, gamma and tweedie family of loss functions"
I would like sklearn to support Poisson, gamma and other Tweedie family loss functions. These loss distributions are widely used in industry for count and other long tailed data. Additionally, they are implemented in other libraries such as R: GLM, GLMNET, GBM ext. Part of implementing these distributions would be to include a way for offsets to be passed to the loss functions. This is a common wa

[2015-12-07 20:50] rs86 opened #5976 "KDTree's query & query_radius methods have inconsistent return values"
Hi,

In sklearn.neighbors.KDTree:

query_radius returns a (indices, distance) tuple while query returns (distance, indices); this might unfortunately be a hard one to fix because it breaks existing code.

Docs: http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KDTree.html#sklearn.neighbors.KDTree

(BallTree might suffer from the same issue.)

[2015-12-07 21:54] amueller opened #5977 "Odd docstring for CountVectorizer analyzer"
It says "If a callable is passed it is used to extract the sequence of features out of the raw, unprocessed input. Only applies if analyzer == 'word'." I think the last part should be deleted.

[2015-12-08 00:52] hlin117 opened #5979 "Incorrect default parameters for KernelPCA"
In <a href="http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.KernelPCA.html#sklearn.decomposition.KernelPCA">here</a>, the constructor says that `remove_zero_eig=False`, but the docstring says that `remove_zero_eig=True` by default.

When I get a chance, I'd like to revise some of the docstring for KernelPCA.

[2015-12-08 01:06] dshieble commented on #5977
I'll handle this

[2015-12-08 01:53] seales commented on #5979
I can take it.I can take it.

[2015-12-08 02:02] hlin117 commented on #5979
That was a quick fix =]

@mblondel, should the default parameter for `remove_zero_eig` be True or False?

[2015-12-08 04:02] fayeshine commented on #5967
@rvraghav93 usually anaconda2.4 installed as anaconda2/  or anaconda3/ in disk, anaconda 2.3 is anaconda/. However he is 2.4, maybe it is different in windows.

[2015-12-08 07:26] shoyer commented on #4737
Sphinx 1.3.3 was released just a few days ago, so things should be working now!

[2015-12-08 07:55] ytsaig commented on #5953
In case no one caught it, https://archive.ics.uci.edu/ml/datasets/Housing is the Boston housing dataset, not the California housing data. The first hit I get on when googling "California housing data" is http://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html, which is a mirror of the StatLib data, but I'm not sure how reliable it is.

[2015-12-08 08:00] maniteja123 commented on #5876
Hi, sorry for the lack of clarity. I added this to the [file](https://github.com/scikit-learn/scikit-learn/blob/master/examples/applications/topics_extraction_with_nmf_lda.py) which renders the [page](http://scikit-learn.org/dev/auto_examples/applications/topics_extraction_with_nmf_lda.html#example-applications-topics-extraction-with-nmf-lda-py).

I couldn't find the ``sklearn.decomposition.Latent

[2015-12-08 08:04] mblondel commented on #5979
As far as I see, this just makes the model more compact in case the specified n_components is larger than the actual rank of the kernel matrix. I think we could potentially remove the option and always implement this behavior.

@larsmans IIRC, you introduced this option. WDYT?

[2015-12-08 09:55] mverzett opened #5985 "Dropping training data on serialization"
Dear experts,

I have just started working with sklearn using simple decision trees algorithms and it looks like the training data are stored together with the classifier, as the pickle file size grows three times when training on three times more data.

Is there a way to store the bare decision tree(s) without storing the data too?

Thank you!

training and saving snippet
[code]

[2015-12-08 12:20] tuliocasagrande commented on #5876
I think this not solve the trick, @maniteja123. It's not that introduction paragraph that lacks the link. It's the import line. Usually the classes are already linked, but sometimes they aren't.

Here are others broken links, [FeatureUnion](http://scikit-learn.org/stable/auto_examples/feature_stacker.html) and [LabelBinarizer](http://scikit-learn.org/stable/auto_examples/plot_multilabel.html).

[2015-12-08 15:15] lucasdavid commented on #5935
Hey guys. I've modified Dijkstra's algorithm to only compute the shortest-paths for the landmarks (when requested) and modified `LandmarkIsomap` to keep a `n_landmarks x N` distance matrix; this improved things a lot. The results bellow were created by using 10 landmarks.
![iso_l_iso_3](https://cloud.githubusercontent.com/assets/1595030/11659098/9239d086-9dad-11e5-8021-8da4cc8b7461.png)

[2015-12-08 17:57] amueller opened #5986 "Reorganizing algorithm requirements in FAQ"
I think my snappy formulation of the FAQ makes is unhelpful.
Maybe the "can I add a new algorithm" and "can I add this old algorithm" section should be summarized into a "what are the inclusion criteria for algorithms".

See http://scikit-learn.org/dev/faq.html#can-i-add-this-new-algorithm-that-i-or-someone-else-just-published

wdyt?

[2015-12-08 18:34] rvraghav93 commented on #5986
+np.inf ! This is the most FAQ...

I suggested this on gitter -

((Will a lot of people who already use sklearn benefit from this?) || (Will it help bring *a lot* of new people to sklearn?, if its a completely new feature)) && (Does it fit well within our API?) && !(Will it make life tougher for the existing users)

Not sure how correct I am with that statement... but I think we need a quite detai

[2015-12-08 19:14] GaelVaroquaux commented on #5986
+1

[2015-12-08 20:38] kaichogami commented on #4167
@rvraghav93 I would like to fix this issue if no one else is working on it.

[2015-12-08 20:39] jakevdp commented on #5976
Thanks – this has been brought up before, but I can't find the relevant issue right now.

[2015-12-08 20:44] AlexanderFabisch commented on #5916
I cannot find any problems with the fix @vighneshbirodkar . I am using python 2.7.6 and cython 0.23.4. Maybe it has to do something with python 3.5?

[2015-12-08 20:56] agramfort commented on #5986
I like it too

[2015-12-08 21:31] vighneshbirodkar commented on #5956
I am taking a look at this

[2015-12-08 22:18] amueller commented on #4643
@mth4saurabh that is a bit odd, but that just means your training set had only a single class. The error is in ``plot_hyperplane``, right?

[2015-12-08 22:21] amueller commented on #5986
was the +1 to the issue or the proposal by @rvraghav93 ?

I don't think that "a lot of new people" is a good thing to include. I think the first two are "will it be widely usefull?" and your boolean statement in fact doesn't include anything about maintenance cost.

[2015-12-08 22:27] amueller commented on #5985
The data is not stored. We used to store the indices that were sampled in the bootstrap for each tree, but we fixed that in 0.17 (#4783). Try updating to see if the problem persists.

[2015-12-08 22:27] #5985 closed

[2015-12-08 22:29] amueller commented on #5979
Changing the shape of data depending on the data might be tricky for some users maybe?

[2015-12-08 22:53] amueller commented on #5935
it would be nice to have some results on data other than swiss roll. maybe the examples we have?
A common (though weird) kind of evaluation for manifold learning techniques is to see how well 1NN classification works in the embedded space. Maybe use that to measure how much worse it gets with ``n_landmarks``?

[2015-12-08 22:54] amueller commented on #5935
also ping @jakevdp who might be interested.

[2015-12-08 23:10] amueller commented on #5967
well which version of numpy and scikit-learn did you get an error? And can you provide code to reproduce?

[2015-12-08 23:10] amueller commented on #5977
fixed by #5980.

[2015-12-08 23:10] #5977 closed

[2015-12-08 23:13] amueller commented on #5975
I think we should at least add a poisson regression, though I'm not super familiar with it.
Do you have open example datasets?
What kind of data is gamma loss used on?

Can you elaborate on the offset?

These would all be separate models in ``linear_model``, I think. I'm not sure if they are usually learned using l-bfgs or if people use CD solvers? Maybe @mblondel or @larsmans or @agramfort know m

[2015-12-08 23:27] amueller commented on #4737
hurray, it is!

[2015-12-08 23:27] #4737 closed

[2015-12-08 23:35] amueller commented on #5973
the main benefit is saving memory using 32bit float, right? So we should look into algorithms that currently only have 64bit, and I guess that are commonly used? Maybe also the ones that are often memory limited? Trees are always 32 bit, SVMs are C++ anyhow and we don't want to touch. How about the neighbors trees (probably tricky)? or DBSCAN or other clustering algorithms?

[2015-12-08 23:52] amueller commented on #5933
fixed in 0e5c194

[2015-12-08 23:54] amueller commented on #5933
now someone only needs to rebuild the 0.17 website and upload it again....

[2015-12-08 23:55] amueller commented on #5933
hm why don't we do that automatically btw?

[2015-12-09 00:00] amueller opened #5987 "Make circleci build stable website"
As I commented on in #5459, I think it would be nice if we could have circle ci build the stable website.
It is often nice to fix up minor things (like the adding of the contributors PR, or #5933).

Just building from the branches shouldn't be an issue. We can always build to the version folder, and just change the symlinks when doing a release.

[2015-12-09 00:03] amueller commented on #5933
hm maybe leave it open until we rebuild the website.

[2015-12-09 00:09] amueller commented on #5955
it's because they are properties. Is this a bug or a feature of sphinx?

I noticed that in GridSearchCV for example, the methods are properly listed, even though they use decorators. Maybe we should use a different decorator mechanism here. Not sure if the sphinx issue is worth it, though.

[2015-12-09 00:09] amueller commented on #5955
(I'm sure the same happens in other places)

[2015-12-09 00:09] amueller commented on #5955
ping @jnothman possibly?

[2015-12-09 00:26] amueller opened #5988 "regression in silhouette score"
Apparently I introduced a last minute regression here: https://github.com/scikit-learn/scikit-learn/commit/f0f174b74fd9684748e7c425b74909272e6ab22d#commitcomment-14775170

Not sure if that deserves a backport / bugfix release?

[2015-12-09 00:28] amueller commented on #3594
scipy doesn't have an imread, it is always in pillow... but your previous pillow wasn't compiled with libjpeg support.

[2015-12-09 00:34] amueller commented on #5934
maybe we should update. It will probably give us bugfixes and maybe speedups?

[2015-12-09 00:47] rvraghav93 commented on #4167
@kaichogami Please go ahead... let me know if you need any help!

[2015-12-09 00:48] amueller commented on #5908
is the image substantially larger than how lena was used before?
Are the other solvers working?

[2015-12-09 00:55] amueller commented on #5973
see #5932

[2015-12-09 00:56] amueller commented on #5948
one could argue that people might use it for subsampling...

[2015-12-09 00:57] nelson-liu commented on #5908
It is actually much smaller, but the problem just seems Ill suited for
spectral clustering.

On Tue, Dec 8, 2015, 4:48 PM Andreas Mueller <notifications@github.com>
wrote:

[2015-12-09 00:57] amueller commented on #5948
it seems to be a much easier interface when deprecating one, though.

[2015-12-09 01:00] amueller commented on #5947
Can you give a reference of a paper using this in a machine learning application? Also, have you checked our inclusion criteria in the faq? http://scikit-learn.org/dev/faq.html#can-i-add-this-new-algorithm-that-i-or-someone-else-just-published

[2015-12-09 01:00] amueller commented on #5679
is #5216 there? I didn't do anything about that.

[2015-12-09 01:02] #5924 closed

[2015-12-09 01:08] amueller commented on #5938
we should most definitely not import libfm. We might implement factorization machines at some point. Is there another reference apart from "Steffen Rendle (2012): Factorization Machines with libFM," ?

[2015-12-09 01:11] amueller commented on #5939
What is the application? I guess we could add this as a feature if it is something that might be useful for many users

[2015-12-09 01:12] #5888 closed

[2015-12-09 01:14] amueller commented on #5937
we could make the ``mle`` feature public, so that people could use it. I'm not sure it is very helpful, though. This is MLE for a PCA model, not for a manifold learning model. Most manifold learning algorithms are not probabilistic, so there is no MLE.
Additionally, manifold learning is usually used for visualization, so ``n_components=2`` ;)

If you have references for MLE for included models or

[2015-12-09 01:14] #5937 closed

[2015-12-09 01:16] amueller commented on #5781
there is a PR for a "conventions" section or something like that. It should go there. Not sure if people will read it, but we should have it ;)

[2015-12-09 03:08] mblondel commented on #5979
Then I guess the default should be False ;-)

[2015-12-09 03:13] jblackburne opened #5989 "Incorrect unit test test_no_sparse_y_support"
The unit test `sklearn/tree/tests/test_tree.py:test_no_sparse_y_support` does not work as intended. It is a repeat of the preceding test.

I'll submit a quick PR to fix it.

[2015-12-09 03:53] mblondel commented on #5938
Indeed, FMs are easy to implement so no need to wrap libfm.

I suggest we wait a bit more for inclusion since the area is evolving fast.

[2015-12-09 04:13] rvraghav93 commented on #5986
That was just me hoping that it would negatively correlate with "Does it fit well within our API?" :P

Probably for the issue... I just added this here to voice my thoughts on this. This would definitely not be good enough for the FAQ!

[2015-12-09 06:20] thenomemac commented on #5975
The poisson distribution is widely used for modeling count data. It can be shown to be the limiting distribution for a normal approximation to a binomial where the number of trials goes to infinity and the probability goes to zero and both happen at such a date that n*p is equal to some mean frequency for your process. Gamma can be theoretical shown to be the time till a poisson event occurs. So f

[2015-12-09 07:54] MathiasDesch commented on #5939
The application would be to interact with the lambda after an initial convergence. An expert could modify the topics to be more coherent (delete a topic, delete irrelevant words), before relaunch convergence. All of this in order to get a local optima more pleasant for human understanding and/or coherence

I know that this might be done using `partial_fit` and some hacking around it, but since `pa

[2015-12-09 08:02] halwai commented on #5986
Can I work on it ?

I think something like this should  work
http://pastebin.com/UqvWu0Lv

I will change the format if the wording looks good

[2015-12-09 08:04] cle1109 commented on #5679
Yes, it's there.

[2015-12-09 08:37] rvraghav93 commented on #5986
Could you raise a PR instead? It would be easier to suggest modifications over there...

[2015-12-09 09:50] arthurmensch opened #5991 "PERF : StratifiedShuffleSplit is slow when using large number of classes"
When using large number of classes (e.g. > 10000, e.g for recommender systems), `StratifiedShuffleSplit` is very slow when compared to `ShuffleSplit`. Looking at the code, I believe that the following part:

[code]

`l. 1070` in `sklearn.model_selection._split` is suboptimal : we should build an index matrix holding the indices for each class in the dataset (implying to do a single pass over data,

[2015-12-09 09:59] lesteve commented on #5953
Nice catch, I definitely missed that.

[2015-12-09 10:00] mth4saurabh commented on #4643
Yes the error is in ```plot_hyperplane```. As for training single set having single class, ```n_classes``` is set to 2, but on increasing it to larger number I no longer get any error.

[2015-12-09 11:20] acganesh commented on #5911
Can we replace the broken references with links to the PDF guides [here](http://sourceforge.net/projects/scikit-learn/files/documentation/)?

[2015-12-09 12:48] lucasdavid commented on #5935
On it.

[2015-12-09 13:04] rvraghav93 commented on #5915
Could you confirm if I had understood your comment correctly?

[2015-12-09 13:15] #5989 closed

[2015-12-09 13:37] rvraghav93 commented on #5948
@nelson-liu Please proceed with deprecating the `train_size` after you get a confirmation from @amueller?

[2015-12-09 13:39] mth4saurabh commented on #1568
@amueller I want to finish this, should I just continue work done in Pull Request #2591 ?

[2015-12-09 14:20] halfak opened #5992 "Precision/Recall AUC scoring function"
I'd like to run GridSearch optimizing for area under the precision/recall curve.  It's great that "roc_auc" is readily available, but I'd like to be able to optimize for "pr_auc" too.  See http://pages.cs.wisc.edu/~jdavis/davisgoadrichcamera2.pdf for a discussion of the meaningful differences between PR_AUC and ROC_AUC.

See also [precision_recall_curve()](http://scikit-learn.org/stable/modules/ge

[2015-12-09 15:33] lesteve commented on #5956
Is it not related to #5481, which seems more generic?

[2015-12-09 15:57] amueller commented on #5915
That's where the problem lies. Recommender systems don't really fit in the sklearn API ;)

[2015-12-09 16:11] amueller opened #5995 "Release broke dev doc updates"
The dev documentation has not been updated since the release. I guess the circle CI that does the upload doesn't do a reset to origin/master before trying to commit a new version.

[2015-12-09 16:44] halwai commented on #5986
@rvraghav93  sure

PR is here [ #5996](https://github.com/scikit-learn/scikit-learn/pull/5996)

[2015-12-09 17:40] amueller commented on #5987
I just realized that #5578 wasn't merged yet, so we build the the docs since #5459 but don't upload them?

[2015-12-09 17:42] amueller commented on #4986
err this issue should still be open, right? we don't upload the website yet.

[2015-12-09 17:51] vighneshbirodkar commented on #5481
Shouldn't `SparseCoder` also be in the list to be considered ? See #5956

[2015-12-09 17:51] amueller commented on #3330
closing for too little context / no reply.

[2015-12-09 17:51] #3330 closed

[2015-12-09 17:53] amueller commented on #3298
@jnothman @arjoly there has been a lot of progress on the averaging front. How hard is it to implement this now?

[2015-12-09 17:57] amueller commented on #957
fixed in #958.

[2015-12-09 17:57] #957 closed

[2015-12-09 18:33] vighneshbirodkar commented on #5956
It is, but `SparseEncoder` is not an estimator

[2015-12-09 19:32] maniteja123 commented on #5876
Thanks. Apologies for tackling in wrong way. I understand the ``classes.rst`` file has the list of classes in various modules. It would be helpful if anyone can shed some light on how these links in imports of the code snippets will be linked to relevant pages. I am not sure how to proceed since I am not that aware of this process and couldn't find any particular place that explains link generatio

[2015-12-09 21:23] amueller commented on #2237
I think we should fix this and I am happy to dispatch a student for it.
We are changing the meaning of ``coef_`` here. I'm not sure if we ever had a similar issue where we changed the meaning of an attribute. Maybe in the scalers recently.

I see two options:

a) raise a FutureWarning now if the user directly accesses ``coef_``. The user has to explicitly silence the warning if they know what they

[2015-12-10 01:37] lucasdavid commented on #5935
I've added the results for iris, digits and breast-cancer data sets. I'll try to run tests with regression data sets as well by the end of this week.

[code]

[2015-12-10 03:07] raamana commented on #5992
Have you looked at `sklearn.metrics.make_scorer` ?

There is an example also:

[code]

[2015-12-10 07:43] agramfort commented on #2237
if coef contains probabilities maybe call it coef_proba_ and add a
coef_logodds_
then with a param you can with a @property have coef being one or the
other. Make this param None and raise a warning in that case

makes sense?

[2015-12-10 08:01] lesteve commented on #5956
Not that it matters but SparseCoder is an estimator:

[code]

[2015-12-10 14:41] rvraghav93 commented on #5606
Please go ahead!

[2015-12-10 14:46] rvraghav93 commented on #5298
There is an active PR at #5321

[2015-12-10 14:47] rvraghav93 commented on #5269
Fix at #5580

[2015-12-10 14:53] rvraghav93 commented on #5029
To be closed as this has been fixed in #5293

[2015-12-10 15:38] thenomemac commented on #5975
Okay, I'm working on implementing this. I'm adding the three distributions noted above and offsets. I'd appreciate feedback from the general sklearn audience on how to implement the offsets. I'm planning on adding a new argument to the GradientBoostedRegression call 'offset=None' where offset would be a vector like object with length n (number of samples). My main question is whether I should add

[2015-12-10 16:48] vighneshbirodkar commented on #5734
I am taking a look at this.

[2015-12-10 17:08] amueller commented on #2237
sounds ok

[2015-12-10 17:16] halfak commented on #5992
Ahh yes.  In fact, I am using make_scorer and a custom implementation of pr_auc right now.  Here's my code (feedback welcome).

[code]

It just seems to me that, if roc_auc is directly available and it's easy to implement, pr_auc should be available too.

[2015-12-10 17:24] amueller commented on #5928
wonder if we could clarify the wording.

[2015-12-10 17:28] amueller commented on #5995
meh we are still not using circleci as #5578  is not merged yet.

[2015-12-10 17:33] vighneshbirodkar commented on #5685
@amueller What about convergence warnings ?

[2015-12-10 17:35] amueller commented on #5987
actually, if we make it build all the X.X branches, we could have it build the old releases, too. which would fix #5911.

[2015-12-10 19:08] #5979 closed

[2015-12-10 20:06] amueller commented on #5685
if we expect them, we should catch them. But I feel like there shouldn't be convergence warnings on toy datasets. If we decreased the number of iterations to speed up tests, it's fine to catch them.

[2015-12-10 20:31] #5738 closed

[2015-12-10 21:31] amueller opened #6000 "LogisticRegression with L1?"
I just realized we haven't implemented logreg with L1 (apart from SGDClassifier).
Are people just not using this?
If we do implement it, it seems we would need an "auto" solver, I guess, to pick the solver that supports the combination.

[2015-12-10 21:32] amueller opened #6001 "doc issues in LogisticRegression"
the "solver" parameter doesn't document it's default in the docstring as far as I can see.

[2015-12-10 21:33] amueller commented on #6000
never mind liblinear does. not sure why it didn't work on the first try.

[2015-12-10 21:33] #6000 closed

[2015-12-10 21:33] GaelVaroquaux commented on #6000
A lot of people are. It's just that we have been relying on the liblinear
solver.

What kind of solver do you have in mind?

[2015-12-10 21:44] amueller commented on #4643
the training set having a single class doesn't mean ``n_classes`` is set to zero. It means your random state was "unlucky" and you didn't get any samples of the negative class, I think.

[2015-12-10 21:51] #5029 closed

[2015-12-10 21:57] amueller commented on #5975
I was more asking for practical use-cases, as in data-sets or publications. I know what the distributions do ;)

It would probably be a good addition, though I can't guarantee you that your contribution will be merged. It would probably be good to discuss it more broadly before you jump in. Unless you just want to implement it for your self and don't care if we merge it ;)

So I take it you are mo

[2015-12-10 21:57] amueller commented on #5992
that is "average_precision" right?

[2015-12-10 21:58] amueller commented on #5992
http://scikit-learn.org/stable/modules/generated/sklearn.metrics.average_precision_score.html

(the curve is not interpolated btw, see #4577)

[2015-12-10 21:58] #5992 closed

[2015-12-10 22:14] yavvsy opened #6002 "Problems with data scaling in sklearn.cross_decomposition.PLSRegression"
I am trying to fit some spectral data using PLS, and am having difficulties with the module.

Essentially, when I use the default value of `scale=False`, I get a prediction, BUT all my predictions are scaled, and I just cannot figure out how to convert back to my original data space.  The same is true for the example code.  As you see, the scaled prediction is just off.  I assumed that I should be

[2015-12-10 22:18] amueller commented on #5939
Actually, with partial_fit you don't need any hacking around, do you?
And what it the problem with doing a for-loop? The partial-fit would give you more latent variables and correspond more to a warm-start than what you suggest, right?
You could add a ``warm-start`` option if you like, too.

[2015-12-10 22:27] amueller commented on #1568
@mth4saurabh the main issue was that I couldn't show that it actually helps. If you can demonstrate that, please go ahead. Maybe using minibatch k-means would help? I'm not sure.

[2015-12-10 22:30] halfak commented on #5992
Oh great!  I did not realize that.  Thank you for pointing it out.

From [the docs](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.average_precision_score.html):

[2015-12-10 22:45] amueller commented on #4453
there is a pull request at #dshieble. You can see if you can help there, though.

[2015-12-10 22:47] amueller commented on #5608
hm was there a PR for this? and should we just change the doc? That is easiest, right?

[2015-12-10 22:49] amueller commented on #4551
It's still open. But the solution is unclear. Removing the easy tag maybe?

[2015-12-10 22:51] amueller commented on #5489
@lorentzenchr could you check if my fix would also work for you?

[2015-12-10 22:59] amueller opened #6003 "File header in affinity propagation slightly outdated"
See:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/cluster/affinity_propagation_.py#L1

[2015-12-10 22:59] thenomemac commented on #5975
I'm interested in integrating it all around but mostly tree ensembles
first. Either way they be a fair amount of duplicate work as random forest
and GBM both have different ABC for each loss function. So I can just do
the work once and have it work in both unfortunately.  I can also get some
datasets. What does the process look like for merging this what process
should I follow. I'm new to contrib

[2015-12-10 23:00] amueller commented on #5589
@rvraghav93 are you still working on this or do you want to hand it over to someone else?

[2015-12-10 23:03] amueller commented on #5549
@jmetzen Just a friendly ping (I have been out for ever, so don't worry if you can't look into it this year ;)

[2015-12-10 23:05] amueller commented on #5547
This is already done in #5551.

[2015-12-10 23:07] amueller commented on #5447
@MaryanMorel do you have a PR?

[2015-12-10 23:07] leosartaj commented on #6003
I will like to pick this up. :smile:

[2015-12-10 23:10] amueller commented on #6003
go ahead!

[2015-12-10 23:18] amueller commented on #4545
It would be more robust to the user to provide a constant classifier. Not really a bug though...

[2015-12-10 23:19] amueller commented on #4545
Maybe we should have a common tests that checks for constant regression targets and sees what happens? We do have that for classification. I don't think all classifiers actually support single classes, so maybe we shouldn't consider this a bug.

[2015-12-10 23:30] hlin117 commented on #6001
I'll take this.

[2015-12-10 23:41] hlin117 commented on #6001
Alright, I added PR #6006.

[2015-12-10 23:41] amueller commented on #5620
well we could go through a deprecation cycle if it is worth it?

[2015-12-10 23:49] amueller commented on #5709
what do you mean by "but does not happen with libpython installed from conda." ? The log above uses conda, right? (Sorry for the late reply)

[2015-12-10 23:52] amueller commented on #5639
@ogrisel close?

[2015-12-10 23:53] amueller commented on #5702
closed by #5706

[2015-12-10 23:53] #5702 closed

[2015-12-10 23:56] amueller commented on #6002
Possibly related to #2821?

[2015-12-10 23:57] amueller commented on #5975
It would be nice to have some input from our GBM experts that I pinged above, but you can also write to the mailing list asking if people would be interested in the addition.

[2015-12-10 23:57] #6003 closed

[2015-12-11 00:04] amueller commented on #5948
@jnothman @ogrisel @agramfort opinions?

[2015-12-11 00:06] amueller commented on #5614
maybe we should make the completion optional @GaelVaroquaux ? This has come up a bunch of times.

[2015-12-11 00:08] amueller commented on #5715
yeah we should probably have metrics accept pandas series and add a common test for that. If ``check_array`` is called, that shouldn't be a problem.

[2015-12-11 00:10] GaelVaroquaux commented on #5614
It was pointed out that completion is not done right for something else than ward. This should be fixed. However, I don't think that it can be made optional: the clustering is impossible when the graph is not complete. The best we could do is crash, but I don't think that this will solve the users' problem.

[2015-12-11 00:17] amueller commented on #5750
``kernel_approximation`` and ``KernelPCA`` use the ones provided by ``metrics.pairwise``.

So there are currently four places: pairwise, KernelDensity, SVM and GP.
However:

``neighbors.KernelDensity`` is actually a different usage of the word ``Kernel`` (it's the filtering sense).

The svm kernels are implemented in libsvm, which avoids computing the full kernel matrix. Making the SMO solver in l

[2015-12-11 00:21] amueller commented on #1596
@vruusmann we actually added that to the related projects, though the dev doc build is currently stalled: https://github.com/scikit-learn/scikit-learn/blob/master/doc/related_projects.rst

[2015-12-11 00:21] halwai commented on #5986
Updated PR is here #5996 (https://github.com/halwai/scikit-learn/commit/6db0ed40b48ac9ac0d8ffc4c5393bb96af93d00c)

[2015-12-11 00:22] amueller commented on #5614
hm... ok, seems I need to think about that before opening my mouth again....

[2015-12-11 00:23] GaelVaroquaux commented on #5614
There's so much going on, and you are on top of such much, than just
pretending to blame you would be ridiculous.

That said, it is true that we should fix the completion for non ward
types of linkages.

[2015-12-11 00:24] amueller commented on #5023
@lvrzhn do you have a pull request?

[2015-12-11 00:25] amueller commented on #5614
;)

[2015-12-11 00:26] amueller commented on #3841
@mcculloh you think that is related to the server error? Maybe not going via the redirect would be more stable, so only one server can fail ^^

[2015-12-11 00:47] yavvsy commented on #6002
Sounds at least a bit similar.   I will do a deeper dive over the next few days and report back.   At least I have somewhere to start now.   Thanks!

[2015-12-11 00:52] toddpi314 opened #6007 "MiniBatchKMeans Predict Label Indexing"
When training batches of data using partial_fit, replaying those same values back using predict often returns labels that are a single index off.

That is, training:
[1,2,3]
[2,3,4]
[2,3,4]
[5,6,7]
[5,6,7]

Will return predict results like:
 [1,2,3] => 1
[2,3,4] => 1
[2,3,4] => 2
[5,6,7] => 2
[5,6,7] => 3

This is a simplified example but we have been seeing this sporadically for larger datasets.

[2015-12-11 00:54] giorgiop commented on #5639
Why closing?

[2015-12-11 02:29] toddpi314 commented on #6007
This is an odd one.

The partial_fit obviously computes centroids correctly, but the labels using predict after a large scale batch training session are just shifted.

The work around right now is to manually re-compute the last record label and update the overall labels set manually:
[code]

[2015-12-11 02:43] crbrinton commented on #5950
OK. I discovered that I had numerous duplicated columns in the matrix without realizing it. There were 840 columns, but it was really 60 unique columns duplicated unintentionally.  So, I do expect that it was a numerical instability issue. Seems like the sum over the explained_variance_ratio_ still should not exceed 1.0, but I'm no longer having the problem after correctly populating the matrix.

[2015-12-11 04:14] xxthermidorxx commented on #4546
#6009

Hi.

Recently I have also encountered this bug and suffered a wrong value of log_loss().
It seems no one is assigned to this issue, so now I have sended a pull-request.
However, according to test_label_binarizer() in sklearn.preprocessing.tests.test_label.py,

[code]

It seems this one-class case is already considered.
Therefore it may be preferable to add a some-kind of warning
instead of

[2015-12-11 04:28] chiragnagpal opened #6010 "LDA Default Parameters"
The LDA model doc says it defaults to alpha of 1/ n_topics

Incase of JGibbLDA, they use 50/n_topics and refer to the paper http://www.pnas.org/cgi/reprint/0307752101v1.pdf

Personally also, most implementations of LDA I have come across in literature default to a value, an order greater than 1/n_topics.

I think this needs to be looked at.

[2015-12-11 04:34] chiragnagpal commented on #5879
@amueller request review fb479e0

[2015-12-11 05:09] chiragnagpal commented on #4587
@amueller are we still looking at adding an example of this to the documentation? I could work on this. Any pointers on the kind of clustering or classification or dataset to use?

[2015-12-11 07:56] acganesh commented on #5931
There's more explanatory text in [the documentation](http://scikit-learn.org/stable/modules/neighbors.html#nearest-shrunken-centroid) for the Nearest Shrunken Centroid classifier.

It looks like there may be a mistake in the description, though.  It's written that "using a small shrink threshold increases the accuracy of the model from 0.81 to 0.82."  Looking at the output of the above script, the

[2015-12-11 08:12] nelson-liu commented on #5931
@acganesh I've been working on a pr to change example to have a clear change in boundary (one that can be seen easily in a side by side analysis). I'll also be heavily modifying the documentation for this example after doing so

[2015-12-11 08:47] acganesh commented on #5931
Great - thanks for taking care of this.

[2015-12-11 09:06] arthurmensch commented on #5956
I guess the error wasn't detected in #4807 as it is raised only when using `algortihm='omp'`. It should be raised when testing read only data on `OrthogonalMatchingPursuit` though.

[2015-12-11 09:07] arthurmensch commented on #5481
I am taking over this

[2015-12-11 09:31] arthurmensch commented on #5915
The way I finally went was to use `OneHotEncoder`, split data, and go back to CSR matrix. @rvraghav93 the problem with this approach is that we work with sparse matrix, for which such indexing breaks the sparse structure

[2015-12-11 09:33] rvraghav93 commented on #5589
If I don't send a PR within 2 days I'll notify you to add the "Need Cont." tag!

(Sorry for acting like a kid unwilling to give up any of his toys despite not playing with them :P)

[2015-12-11 09:44] davidthaler commented on #5023
Is anybody on this? If not, I'd like to take a shot at it. Also, is this supposed to be fixed at 0.17x or 0.18? This part of the code changed a lot between those milestones.

[2015-12-11 10:10] rvraghav93 commented on #5986
You could just add a comment in the PR itself pinging the reviewer that you have made the suggested changes and it is ready for another round of review!

[2015-12-11 13:17] rvraghav93 commented on #5589
BTW this one is a duplicate of #5641 could you close that?

[2015-12-11 13:33] rvraghav93 commented on #5879
@chiragnagpal Could you send a PR instead? Or is that commit a part of an existing PR?

[2015-12-11 13:33] rvraghav93 commented on #5879
Ah never mind the PR is #6008

[2015-12-11 13:43] agramfort commented on #5975
do you also plan to support coordinate solvers with L1/L2 penalties
like *glmnet
?*

[2015-12-11 14:20] FRidh commented on #5813
Thanks for the pointer. The issue was somehow resolved, no idea why. Thanks again.

[2015-12-11 14:20] #5813 closed

[2015-12-11 14:26] rvraghav93 commented on #5958
As you can see from the documentation [here](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html#sklearn.preprocessing.OneHotEncoder.fit), it accepts only an array of integer...

I am not very sure if this use case warrants a change in the implementation... @amueller @GaelVaroquaux thoughts?

[2015-12-11 14:35] amueller commented on #6002
(and it's totally possible that there is a bug in the scaling unfortunately)

[2015-12-11 15:02] celiafish opened #6014 "Examples using precomputed distance matrix for clustering"
Hi, I want to use clustering methods with precomputed distance matrix (NxN). I found DBSCAN has "metric" attribute but can't find examples to follow. Can you please help. Examples for other clustering methods are also very helpful. Thanks.

[2015-12-11 16:31] kaichogami commented on #4167
@rvraghav93 I have been going through the code base and I am having trouble understanding how exactly an estimator's `fit` method works. What would be a good place to understand about `fit' and `partial_fit` that are used in different algorithms?
Also I am quiet new to machine learning field, and it might take a while before I understand and add those changes. I hope that's alright.

[2015-12-11 16:39] rvraghav93 commented on #4167
No hurry! You could take a look at the tutorial [here](http://scikit-learn.org/stable/tutorial/) and read through the first 2 sections to gain a bit of clarity on how things work... You could come to [our gitter chat](gitter.im/scikit-learn/scikit-learn) and ping me if you need any help regarding this issue!

[2015-12-11 16:51] chiragnagpal commented on #5879
@rvraghav93 I have opened another PR #6015

[2015-12-11 19:17] lvrzhn commented on #5023
David, I'm on it. Will do pull request today.

On Fri, Dec 11, 2015, 01:45 David Thaler <notifications@github.com> wrote:

[2015-12-11 20:28] amueller commented on #5724
#0  0x00007ffff522ddf1 in dlaswp_plus () from /home/andy/anaconda3/lib/python3.4/site-packages/numpy/core/../../../../libopenblas.so.0

[2015-12-11 20:29] amueller commented on #5724
segfault in openblas in GraphLasso. I'm so happy.

[2015-12-11 20:31] amueller commented on #5724
So n_jobs=1 but still joblib and openblas are not happy. That shouldn't be the case, right? ping @lesteve @ogrisel ?

[2015-12-11 20:44] amueller commented on #6014
what part are you unclear about?
use metric="precomputed" and provide a as X a precomputed similarity matrix.
See http://scikit-learn.org/dev/auto_examples/manifold/plot_mds.html for an example using MDS.

[2015-12-11 20:44] #6014 closed

[2015-12-11 20:49] amueller opened #6016 "plot_out_of_core_classification.py uses deprecated color_cycle"

[2015-12-11 21:05] amueller commented on #5953
http://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html is not a mirror, right? The file is not in the same format.

[2015-12-11 21:16] dsquareindia commented on #6016
@amueller Hi I'm new here. Just a little help needed.
Should I just replace color_cycle with prop_cycle as mentioned here: http://matplotlib.org/api/api_changes.html#color-cycle-deprecated
Thanks!

[2015-12-11 21:17] amueller commented on #5953
I pushed f9ae546a6757e445a9d3c880862fd6308e665540 because I want circleci to build the website, and I couldn't find an actual mirror.

[2015-12-11 21:18] amueller commented on #6016
Can you check when ``prop_cycle`` was introduced? We need to support matplotlib 1.1.1.

[2015-12-11 21:25] amueller commented on #5641
closing as duplicate of #5589.

[2015-12-11 21:25] #5641 closed

[2015-12-11 21:34] dsquareindia commented on #6016
This was added in matplotlib 1.5... Can't really use it here.

[2015-12-12 06:28] ytsaig commented on #5953
@amueller you're right, it's not a mirror. I couldn't find an exact mirror when I looked.

[2015-12-12 10:12] lucasdavid commented on #5935
@amueller I've added comparisons for iris, digits, cancer, boston, diabetes, the s-curve, the swiss-roll (with `noise=0` and `noise=.8`). Overall, the results seem pretty close to me, although L-Isomap performed worse on the noisy manifolds.

[2015-12-12 14:45] TomDLT commented on #5685
+1

[2015-12-12 15:21] toastedcornflakes opened #6019 "Pipeline is always verbose under python3"
The following script has two different outputs on python2 and 3

	import numpy as np

	import sklearn
	from sklearn.neighbors import KNeighborsRegressor
	from sklearn.decomposition import PCA
	from sklearn.pipeline import Pipeline
	from sklearn.model_selection import cross_val_score

	from sklearn import datasets

	print("Version:", sklearn.__version__)

	# import some data to play with
	iris = da

[2015-12-12 17:59] versae commented on #4656
Any update on this? I am also interested in BNS for text classification.

[2015-12-12 21:01] RyanRosario commented on #4988
I am facing the same issue when calling a pairwise metric computation, which itself calls normalize.

[2015-12-13 02:13] lucasdavid commented on #5970
I don't think so, `ARPACK`'s result depends on the initial guess. Have you tried to test this passing `random_state=0` or `eigen_solver='dense'`? What happens then?

[2015-12-13 05:58] dsquareindia commented on #6016
@amueller any way I can fix this?

[2015-12-13 11:40] naileakim opened #6021 "A progress bar for scikit-learn"
Hello,

Is there any way to include a progress bar to the fit/predict steps in scikit-learn?
If yes, can you provide an example ?

Many thanks !

[2015-12-13 13:37] mblondel commented on #6021
Nope the fit method doesn't provide any mechanism for getting feedback between start and finish.

(Please use the ML for questions; this is the issue tracker)

[2015-12-13 13:37] #6021 closed

[2015-12-13 13:41] mblondel commented on #5970
I agree with @lucasdavid that this is most likely the culprit.

[2015-12-13 20:09] amueller opened #6022 "split labels in export_graphviz are not didactic"
The splits in the tree visualization are labelled as `X[feature] <= threshold`.
However, `X[feature]` is the `feature`th row of X. I think we should write either `x[feature] <= threshold` indicating that it is a sample, or write `X[:, feature]` indicating that it is the second axis.

Maybe @arjoly and @glouppe or @trevorstephens have opinions?

[2015-12-14 00:05] trevorstephens commented on #6022
That was a carry-over from the original implementation. If we want to change this, I think lower-case `x` would be less confusing for the purposes of communicating information effectively to less-technical people. Slice notation is not widely understood outside of analysts, perhaps not even outside of Py-folks... and my main motivations for enhancing the function were to make "pretty" plots for cu

[2015-12-14 00:17] trevorstephens commented on #6022
Of course, specifying `feature_names` overrides all the subscript/slice notation as well, and I'd generally use that for a "real" plot.

[2015-12-14 00:18] trevorstephens commented on #6022
What do you mean by "a sample"?

[2015-12-14 06:43] xchmiao opened #6023 "The multi-threading issues on RandomForestClassifier"
Hi,

I'm using RandomForestClassifier to train a model on Ubuntu14.04 with python2.7.11 thru anaconda package. Below is the core coding:

rf = RandomForestClassifier(n_jobs = -1, random_state = seed)
parameters = {'n_estimators': [2000],
              'criterion': ['entropy'],
              'max_depth': [10],
              'min_samples_leaf': [3],
              #'oob_score': [False, True],

[2015-12-14 09:53] lesteve commented on #6019
I am afraid I can not reproduce it, i.e. I don't get the additional output with python3.

Do you get the same problem with scikit-learn 0.17? You will need to fix your cross_val_score import to be `from sklearn.cross_validation import cross_val_score` for your snippet to run under 0.17.

Also you probably know that already but you don't need the semicolons at the end of a line in Python.

[2015-12-14 10:26] olologin commented on #6023
Could you provide your dataset?

[2015-12-14 15:12] ethanluoyc commented on #5756
Ok, I guess we can close this issue in favor of #4497

[2015-12-14 15:16] toastedcornflakes commented on #6019
I was prototyping in a jupyter notebook where the output of matplotlib diagrams is dependent on the semicolon, hence my error.

I reinstalled from git in a clean virtualenv and couldn't reproduce. Either the bug was fixed in master or I missed something when installing it the first time.

Thank you for your time

[2015-12-14 15:16] #6019 closed

[2015-12-14 16:07] alvarorrol opened #6024 "Feature relevance using permutation"
Hi there,
I have been reading the code for tree and for the moment only Gini feature relevance is implemented. Is there any plan to add other metrics for feature relevance? Are there any reasons against adding new ones?
Thanks!

[2015-12-14 16:14] amueller commented on #6022
I meant ``x`` stands for a single data point, while ``X`` stands for the whole dataset.

[2015-12-14 16:16] amueller commented on #6022
sorry what does "special_characters" do again?

[2015-12-14 16:19] trevorstephens commented on #6022
Some outputs, like pdf I think, don't support HTML style dot files. Using `special_characters` makes the <= into its single character symbol, puts subscripts on X instead of in square brackets, stuff like that.

[2015-12-14 16:20] trevorstephens commented on #6022
(these things require the HTML style dot files)

[2015-12-14 16:22] amueller commented on #4587
Often a 2d dataset is good for illustration purposes. You can also try something like digits, which might lead to interesting visualizations.

[2015-12-14 17:20] xchmiao commented on #6023
Hi @olologin,

My data is from a Kaggle contest (Homesite). You could download from https://www.kaggle.com/c/homesite-quote-conversion/data

Btw, the config of my computer is 4-CPU with RAM 6400MB, OS is Ubuntu 14.04.

Thank you very much for your help.

Regards,
Xiaochang

[2015-12-14 17:27] amueller commented on #5995
fixed. dev docs were just updated.

[2015-12-14 17:28] amueller commented on #5953
hotfix in 37c8d0297be0f63cf5ceea55259eed3629023885 works for building the docs. I mailed the lab about the server being down, but didn't get a response.

[2015-12-14 18:29] hlin117 commented on #5970
@lucasdavid: Well, it looks like passing in `eigen_solver="dense"` doesn't work =\

[code]

Also, it looks like <a href="http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.KernelPCA.html#sklearn.decomposition.KernelPCA">KernelPCA</a> doesn't accept the `random_state=None` keyword argument! @mblondel: You think this would be a good feature request?

[2015-12-14 18:51] amueller opened #6025 "Make sphinx build without warnings, let circle IO error on warnings"
We should fix the remaining sphinx warnings here:
https://circleci.com/gh/scikit-learn/scikit-learn/1629

and then make circle IO error if there are any warnings (grep'ing for `WARNINGS` I guess?).

This way we immediately see if someone broke anything in the docs.

[2015-12-14 18:52] khs26 opened #6026 "Comparing instances of clustering algorithms"
I posted [an issue](http://stackoverflow.com/questions/34274094/testing-unpickled-dictionary-in-python) on StackOverflow, in which I'd tried to test the successful pickling of a `sklearn.cluster.k_means_.MiniBatchKMeans` instance by comparing the result of loading what I'd just dumped in pickle. It seems that this isn't currently possible, as this doesn't implement or inherit `__eq__`.

Would addi

[2015-12-14 20:23] malzantot commented on #6016
What about adding  a condition statement that checks the current matplotlib version and choses an API accordingly between `prop_cycle` and `color_cycle` ?

[2015-12-14 21:42] mrshu commented on #6025
@amueller Which sphinx warnings do you have in mind? There seem to be quite a few of them:

[code]

There are also things like

[code]

which I do not think is really a good reason for breaking a build.

In any case I am happy to implement whatever you decide would is best!

[2015-12-14 21:51] amueller commented on #6025
these are easy to fix failures.
Why do you think these are not good things to fail on?

The current mode is that these errors accumulate and before the release I spend half a week on fixing these.

There is things like "[u"cross_val_predict(estimator, X, y=None, labels=None, cv=None, n_jobs=1, verbose=0, fit_params=None, pre_dispatch='2*n_jobs')", u':module: sklearn.model_selection', u'', u'', u''

[2015-12-14 21:53] mrshu commented on #6025
@amueller Those errors you pointed out are probably easy to fix but I am not sure how to fix problems with document not being included in any toctree.

Thanks for the clarification, I'll start by fixing those easy issues and updating the test script.

[2015-12-14 21:56] amueller commented on #6025
there is some issue about how the datasets are included. there is a part in the index that has a hidden toc for inclusion.

[2015-12-14 23:29] mblondel commented on #5970
That would be nice, thanks.

[2015-12-14 23:54] lucasdavid commented on #5970
The docs seem to be outdated, if you look at the [code](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/kernel_pca.py#L112) you'll see the parameter already exists.
Also, I've noticed that you are asking for `n_components=53`, but circles only have two features. I think it would be a cleaner test to run one of them with `n_components=1` and the other with `n_componen

[2015-12-15 00:04] hlin117 opened #6031 "Precision errors in LDA.explained_variance_ratio_"
This surfaces the discussion in #5216. Here are some precision differences than @JPFrancoia and I are looking at:

[code]
[code]

Besides the fact that `lda_eigen` has the wrong number of components for the `explained_variance_ratio_` (according to the docs, it should have only `n_components=5`), there are numeric differences as well.

[2015-12-15 00:13] hlin117 opened #6032 "LDA.explained_variance_ratio_ is of the wrong size"
The docs say that <a href="http://scikit-learn.org/stable/modules/generated/sklearn.discriminant_analysis.LinearDiscriminantAnalysis.html#sklearn.discriminant_analysis.LinearDiscriminantAnalysis">LDA.explained_variance_ratio_</a> should have only `n_components_`. But it doesn't.

It looks like this bug only exists when we use the `eigen` solver, not the `svd` solver.

[code]

Looks like we fix eit

[2015-12-15 00:18] Jezzamonn opened #6033 "Locally Linear Embedding manifold doesn't work with integer inputs"
An error occurs when you try to use `manifold.LocallyLinearEmbedding` with an integer array as the input if you have certain values of the method parameter. I'm running the latest version of scikit-learn (I got this error, updated through conda, and the error still occurs).

    Traceback (most recent call last):
      File "C:/Users/jswanson/Downloads/plot_compare_methods.py", line 63, in <module

[2015-12-15 00:23] hlin117 commented on #5970
Thanks for the check, @lucasdavid.

I wanted to use `n_components=53` to capture a lot of the output in the data. the `10` numbers i chose to pick were totally arbitrary.

I think the negative values in that test are permissible. According to the <a href="http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html">PCA docs</a>:

However, I'm still getting precision errors from

[2015-12-15 03:27] GaelVaroquaux commented on #6026
No, I would rather not add an __eq__. These things are very difficult to
get right, and one should not expect a library to implement __eq__ on
complex objects.

One thing that you can do, is use joblib.hash to compute an MD5 hash of
the object, and use this for comparison.

[2015-12-15 03:27] #6026 closed

[2015-12-15 05:57] olologin commented on #6023
Hmm, yo didn't provide your code, but i'm guessing that it looks like:

    from sklearn.ensemble import RandomForestClassifier
    from sklearn.grid_search import GridSearchCV
    from sklearn.model_selection import StratifiedKFold
    import pandas as pd
    import numpy as np

    df = pd.read_csv("train.csv")
    y_train = np.asarray(df.pop("QuoteConversion_Flag"))
    x_train = df.as_matrix()

[2015-12-15 06:47] xchmiao commented on #6023
Hi @olologin,

Thank you very much for your reply and assistance. You have a good guess to complete the code :+1:
I just have one more question regarding the RAM. Right now I'm using RAM = 6400MB, wouldn't that be enough for the training?

What capacity of RAM do you suggest? I could change the config of my cluster. Thank you very much!

Regards,
Xiaochang

[2015-12-15 07:36] MaPePeR commented on #5995
Not sure if this is related, but it seems that the LaTeX/Math/Formula rendering is broken in the documentation...
Or is that a problem in my browser that was caused by a recent update?
(Looking at http://scikit-learn.org/dev/modules/neural_networks_supervised.html )

[2015-12-15 08:12] hlin117 commented on #6001
We should probably close this issue.

[2015-12-15 08:14] hlin117 commented on #5970
Does this issue seem worthy of the "bug" label?

[2015-12-15 08:20] jmetzen commented on #5549
I am looking into it. Before changing anything: What is the desired way of doing this kind of non-trivial initialization? I could move it to `__call__` but that would cause a (small) overhead for every call.

[2015-12-15 08:34] hlin117 commented on #6010
Hey @chiragnagpal,

First, you could probably change LDA to "LatentDirichletAllocation". LDA can refer to two things, "LatentDirichletAllocation" and "LinearDiscriminantAnalysis". (Which is why scikit-learn is renaming LDA - linear discriminant analysis - in its 0.18.0 release.)

Anyways, thanks for being aware of this. I think because of backwards compatibility, it would probably be easier to jus

[2015-12-15 08:37] jmetzen opened #6038 "Bad GP prediction in plot_compare_gpr_krr.py"
The GP prediction in the [GP vs. KRR example](http://scikit-learn.org/dev/auto_examples/gaussian_process/plot_compare_gpr_krr.html) in the doc looks quite bad currently. It should actually have a longer length-scale and look similar to KRR.

When running the example on my local machine, the prediction looks ok (similar to KRR, see below). I believe this is an issue resulting from limited numerical

[2015-12-15 09:02] JPFrancoia commented on #6032
Yep sorry, this is my fault, as I said in #5216 , explained_variance_ratio_ should have a length of n_components.

the code should be:
[code]

But this is an API change.

[2015-12-15 09:41] hlin117 commented on #6032
@JPFrancoia: Yes, it is indeed an API change.

I'm concerned because there are two routes we can go from here:

1. Make a change to the docs. Which is easy, but it might seem counterintuitive to some that `explained_variance_ratio_` is not of length `n_components`
2. Make a change to the source code. This is the ideal solution. However, this would limit backwards compatibility.

I'm waiting for th

[2015-12-15 09:58] JPFrancoia commented on #6032
Yep I agree.

The thing is, ```explained_variance_ratio_``` is length ```n_components``` for the svd solver, but not for the eigen solver. So changing the doc would be problematic.

I think the "less worse" solution is to go for the code. But this is my opinion, the call should be to the package owner.

However, it is not a huge problem, because explained_variance_ratio_ is generally not used in c

[2015-12-15 10:10] mfeurer commented on #5004
I just saw that the reference to ParamSklearn points to my old repository; the up-to-date version is in my groups repository [https://github.com/automl/paramsklearn/](https://github.com/automl/paramsklearn/)

[2015-12-15 11:20] GaelVaroquaux commented on #5995
Probably because there is no latex + dvipng installed on CircleCI. It
might be useful to check out the nilearn CircleCI for this purpose:
https://github.com/nilearn/nilearn/blob/master/circle.yml

[2015-12-15 12:28] davidthaler commented on #6038
I get what you have:
![figure_1](https://cloud.githubusercontent.com/assets/12852502/11810551/c3b7694e-a2e3-11e5-860f-3e33283c2420.png)

[2015-12-15 12:39] GaelVaroquaux commented on #6001
Indeed. Closing as fixed by #6006

[2015-12-15 12:39] #6001 closed

[2015-12-15 13:05] davidthaler commented on #6023
@xchmiao ,
I see you are using parallelism at 2 levels: njobs=-1 on the RF, and njobs=4 on the GridSearch. I think that sometimes causes some problems. Does this problem still occur if you set njobs=1 in GridSearch?

[2015-12-15 13:58] rvraghav93 commented on #6016
Wait I thought I fixed this o.O

[2015-12-15 16:06] amueller commented on #5995
See #6040. Not sure how to test that without pushing. Do I need a circleci account? @waterponey ?

[2015-12-15 16:07] amueller commented on #5995
[I'm not happy with the dev website being not build properly, but I'm also pretty swamped]

[2015-12-15 18:56] olologin commented on #6023
@xchmiao

Honestly, i don't know, in ipython i can see:
    x_train                  ndarray    260753x298: 77704394 elems, type `object`, 621635152 bytes (592.8374786376953 Mb)
    y_train                  ndarray    260753: 260753 elems, type `int64`, 2086024 bytes (1.9893875122070312 Mb)
But still 6Gb of ram is not enough :)

I see this in detailed log:

	usr/local/lib/python3.4/dist-packages/s

[2015-12-15 19:09] xchmiao commented on #6023
@olologin

yes, I applied the following code to convert all the object type features to numeric type.

for col in df.columns:
    if df[col].dtype == 'object':
        print col
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(df[col].values))
        df[col] = lbl.transform(list(df[col].values))

But will this affect the requirement on the capacity of RAM?

Also, when I check the s

[2015-12-15 19:16] #3647 closed

[2015-12-15 20:44] MechCoder commented on #6021
You might find the `verbose` option in some of the estimators useful, though

[2015-12-15 22:38] mrshu commented on #5725
@amueller since #5852 got merged should this issue be closed?

[2015-12-15 22:38] xchmiao commented on #6023
@davidthaler

Hi David,

Thank you very much for your comment. I tried with your suggestion, but it doesn't solve the problem. I think it's more or less related to the insufficient RAM capacity issue as mentioned by Ganiev@olologin. If I trained with 1000 data sets (or observations), there is no problem.

But I will still appreciate if anyone could give me some guidance of the needed RAM capacity.

[2015-12-15 22:41] MechCoder opened #6043 "Travis-build doesn't remove cached pyc files in between commits of a PR"
It seems that since caching was enabled in Travis, in between commits if a python file is completely removed, it can still try to import from that.

For instance in https://github.com/scikit-learn/scikit-learn/pull/5372/ `mutual_info.py` is renamed to `mutual_info_.py` but still it tries to import from the compiled `mutual_info.pyc` files

[2015-12-15 22:42] MechCoder commented on #6043
cc: @arthurmensch

[2015-12-16 00:47] mrshu commented on #5715
@sidps @amueller  Would you mind providing an example that should work and does not in the current state?

[2015-12-16 02:16] davidthaler commented on #6016
I'm going to suggest testing rcParams for the existence of ```axes.prop_cycle``` instead of testing the version: ```if rcParams.has_key['axes.prop_cycle'] ```...use it, else, use ```rcParams['axes.color_cycle']```.

[2015-12-16 03:07] ysk24ok opened #6045 "Accept multiple values for one categorical feature"
Hello,

I think it is convenient to accept `list` as a value of `dict` in `DictVectorizer.fit()`
to accept multiple values for one categorical feature.

Assume that we use the category of movies as a feature,
and this category can be 'action', 'love-comedy', 'science-fiction', etc...
Some movies match some of these categories,
'The Matrix' can be both 'action' and 'science-fiction', for example.

[2015-12-16 06:30] zhengqm opened #6047 "Bug in mini batch kmeans example"
In the [example](http://scikit-learn.org/stable/auto_examples/cluster/plot_mini_batch_kmeans.html#example-cluster-plot-mini-batch-kmeans-py) comparing kmeans and mini batch kmeans:

[code]

k is used inside the loop instead of l, which misses 2/3 of the points that are labelled differently between the two algorithms.

[2015-12-16 06:47] aewhatley opened #6049 "Calling preprocessing.scale on individual pandas series leads to ValueError being thrown"
The following code causes a ValueError from svm.SVC() (and probably other sklearn functions as well, which I have not checked):

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\Alexander\Anaconda\lib\site-packages\sklearn\svm\base.py", line
 151, in fit
    y = self._validate_targets(y)
  File "C:\Users\Alexander\Anaconda\lib\site-packages\sklearn\svm\base

[2015-12-16 07:03] davidthaler commented on #6049
I don't think this a bug...check_classification_targets looks like this:
[code]
and for `type_of_target(df[2])`, I get `'continuous'`, which is not in that list, so a value error should get thrown. Its because the label is a float, basically. That's fine for regression, but classification labels should be discrete.

[2015-12-16 07:58] ogrisel commented on #5953
I found this: http://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.tgz

I think the code need to be adapted to extract from a tarball and check that the content is still consistent by re-rerunning the examples and checking the resulting plots.

[2015-12-16 10:03] phdowling opened #6052 "Allow sparse "distance" matrix for DBSCAN precomputed input"
I'm trying to cluster a fairly large number of high-dimensional data points using `TruncatedSVD` for dimensional reduction and  `DBSCAN` for clustering. I'm able to use `LSHForest` to efficiently prepare a graph of nearest neighbors, however this graph is a sparse CSR matrix, where a value close to 1 indicates semantic closeness, rather than distance (which would be close to 0 in the same case).

[2015-12-16 10:21] MathiasDesch commented on #5939
I felt a for-loop was less nice than having a warm-start. I will try to use with partial-fit and I might do a PR if I feel a warm-start would be smoother.

[2015-12-16 10:21] #5939 closed

[2015-12-16 11:22] ghost opened #6053 "OneHotEncoding - Defining a reference category"
In order to avoid multicollinearity in modelling, the number of dummy-coded variables needed should be one less than the number of categories. Therefore, it would be very code if OneHotEncoding could accept a reference category as an input variable.

[2015-12-16 13:59] aman3d opened #6054 "problem ruuning http://scikit-learn.org/stable/auto_examples/applications/face_recognition.html"
I face problem running the example :
http://scikit-learn.org/stable/auto_examples/applications/face_recognition.html
 the back trace is below:
Traceback (most recent call last):
  File "F:\tmp_datamining\face_recognition\face_recognition.py", line 111, in <module>
    clf = clf.fit(X_train_pca, y_train)
  File "C:\Anaconda\lib\site-packages\sklearn\grid_search.py", line 596, in fit
    return self

[2015-12-16 14:07] aman3d commented on #6054
solved by replacing the word 'balanced' with 'auto'

[2015-12-16 14:07] #6054 closed

[2015-12-16 14:54] mblondel commented on #6038
@jmetzen Could this be a random_state problem?

[2015-12-16 18:02] jmetzen commented on #6038
I don't think so, GPR is not randomized when `n_restarts_optimizer=0` and the data is generated for a fixed random seed. I don't see how randomness should affect this example.

[2015-12-16 20:11] yavvsy commented on #6002
I have played with the code a bit more, and it's definitely a bug, and some lack of documentation.  It looks like centering (subtraction of the column mean)  is done on both X and Y regardless whether `scale=True` or `scale=False.`  Scale corresponds only to scaling by the standard deviation.  When predicted y is given back, it is always corrected for the mean centering but not scaled back.

I am

[2015-12-16 22:09] jnothman commented on #6052
You should upgrade to use the latest version of scikit-learn, wherein "[for precomputed metric,] X may be a sparse matrix, in which case only “nonzero” elements may be considered neighbors for DBSCAN."

[2015-12-16 22:09] #6052 closed

[2015-12-16 23:02] Lila14 opened #6056 "ValueError: Invalid mode, expected 'c' or 'fortran', got fort"
I am creating 3-D embeddings for a dissimilarity matrix, disMat, which is a symmetric 100x100 Numpy array. For every Manifold object other than TSNE and MDS, I get the following error:

ValueError: Invalid mode, expected 'c' or 'fortran', got fort

Code example:

[code]
Traceback:

File "mds_norm.py", line 227, in <module>
    main(numPoints, numIterations, n)
  File "mds_norm.py", line 201, in ma

[2015-12-16 23:08] #6056 closed

[2015-12-17 05:21] dsquareindia commented on #5608
@lesteve @amueller I'll work on it then.

[2015-12-17 05:43] dsquareindia commented on #5608
Only a doc change is needed right? Or even in the case of transpose it should be according to u and not v?

[2015-12-17 06:29] dsquareindia commented on #5608
@amueller @lesteve is only a doc change required? Or should it be according to u in both cases of transpose?

[2015-12-17 08:45] mbillingr commented on #6031
Do you still see these differences with data where `n_samples >> n_features`?

Btw, should `lda_svd` have five components instead of three?

[2015-12-17 09:55] lesteve commented on #5608
There is  no PR as far as I know, at least I haven't worked on it since I opened the issue.

The problem with changing the doc is that by default transpose='auto' so you don't really know whether the flipping is based on u or v.

Personnally I'd rather fix the code to always flip based on u and add a test.

[2015-12-17 10:30] dsquareindia commented on #5608
@lesteve thanks for the input! Fine I'll work on the code then.

[2015-12-17 12:09] eyaler opened #6059 "error in cv example standard error"
in http://scikit-learn.org/stable/auto_examples/exercises/plot_cv_diabetes.html

np.array(scores) + np.array(scores_std) / np.sqrt(len(X))

should be:

np.array(scores) + np.array(scores_std) / np.sqrt(3)

since the we have 3 folds

[2015-12-17 12:09] eyaler commented on #1940
see also https://github.com/scikit-learn/scikit-learn/issues/6059

[2015-12-17 12:28] agramfort commented on #6059
indeed

[2015-12-17 14:16] rvraghav93 commented on #6059
You mean `np.array(scores) + np.array(scores_std) / np.sqrt(len(X) / 3)` correct?

[2015-12-17 14:20] eyaler commented on #6059
no. the standard error is the stdev divided by the number of samples used for the the mean = number of folds

[2015-12-17 14:23] rvraghav93 commented on #6059
Ahh! Okay got it! Thanks :) Would you like to raise a PR? If you do could you also improve the plot (by adding axis labels etc) please?

[2015-12-17 15:38] JPFrancoia commented on #6031
@mbillingr , actually, the numerical differences are due to the non squared S matrix. With your suggestion in #5216 , we solved it. NOw we square this matrix and it's all right. See https://github.com/scikit-learn/scikit-learn/pull/6027#issuecomment-165275888

Also, ```lda_svd``` should have 5 components here. It is just a type here I think:

[code]

If you use 5 instead of 3, it's all right.

[2015-12-17 15:47] mbillingr commented on #6031
OK, thank you. I missed this in the discussion of the PR :)

[2015-12-17 20:22] dsquareindia commented on #5608
@lesteve just needed some clarification here. In randomized_svd  `U, V = svd_flip(U, V)` is called as it is independent of whether transpose is done or not. So in all cases it is flipping on the basis of U (as `u_based_decision` is True by default). But while returning from `randomized_svd` we are returning (U, s, V) if not transpose and (V.T, s, U.T) if transpose. So in your above code `u_flipped

[2015-12-18 00:47] davidthaler commented on #5876
There are a fair number of these. In addition to the 2 found by tuliocasagrade, the first section of examples has: [euclidian_distances](http://scikit-learn.org/dev/auto_examples/plot_johnson_lindenstrauss_bound.html#example-plot-johnson-lindenstrauss-bound-py) in the Johnson-Lindenstrauss example and [learning_curve](http://scikit-learn.org/dev/auto_examples/plot_kernel_ridge_regression.html) in

[2015-12-18 06:55] chiragnagpal commented on #4587
@amueller check out if http://chiragnagpal.com/blog/inductive_learning.. its an ipython notebook with what im trying to do.
Let me know if im on track

[2015-12-18 07:47] chiragnagpal commented on #4587
+ i think the right terminology for what we are trying to achieve here is "transductive learning" rather than "inductive learning"

[2015-12-18 11:02] maniteja123 commented on #5876
@davidthaler @tuliocasagrande thanks for these references. Just to add, I found that these things are being occurred in the ``auto_examples`` section, might be just a coincidence.

[2015-12-18 14:30] arthurmensch opened #6063 "KFold on large data yields overlapping train and test sets"
When using a large number of samples, `train` and `test` in `_fit_and_score` and thus memory-mapped within the `Parallel` loop. I have found out that in this case, `train` and `test` can be overlapping, while they are generate by a `KFold(3, shuffle=False)`. I suspect some collisions in joblib there. I discovered this by seeing that some of my scores were unexpectedly low in the `grid_scores_` pas

[2015-12-18 14:37] arthurmensch commented on #6063
There it goes

[code]
Out :
[code]

[2015-12-18 15:11] vsaase opened #6064 "Bug in Huber loss?"
Hi,
is this a bug in the Huber loss?
In the example x = y so I would expect a perfect fit of the regression with slope=1.
The slope changes with epsilon.
[code]
![image](https://cloud.githubusercontent.com/assets/378021/11899713/3ec8b75e-a5a1-11e5-84cf-c31bc0b1dcf0.png)

[2015-12-18 15:52] vsaase commented on #6064
ok, if I set n_iter to a higher value the problem is resolved

maybe there should be a more robust default value for n_iter

[2015-12-18 15:52] #6064 closed

[2015-12-18 19:54] maniteja123 commented on #5715
I just came across this and would like to work on it. If anyone is working on it, please let me know. I would be happy to step aside !

For this issue, I suppose a modification like this of the doc example would break the code

     a = [[.1, .9], [.9, .1], [.8, .2], [.35, .65]]

     0.21616187468057912
     a = np.array( [[.1, .9], [.9, .1], [.8, .2], [.35, .65]])

     0.21616187468057912

[2015-12-18 21:04] ndingwall commented on #5379
I just submitted a [pull request](https://github.com/scikit-learn/scikit-learn/pull/6065) to change the interpolation from linear to a sort of step function (for reasons I explain in some detail the comments of the pull request!) I'd support making linear interpolation an option, but using it as a default is (IMHO!) fatally flawed.

[2015-12-19 04:19] lucasdavid commented on #5970
I'm not seeing where the second row of your `x` array starts, but considering this is happening for me, I'm going to assume that you're getting the same `alphas_` for the first two columns. That is, `assert_array_almost_equal(kpca.alphas_[:, :2], kpca2.alphas_[:, :2])` passes, whereas `assert_array_almost_equal(kpca.alphas_[:, :3], kpca2.alphas_[:, :3])` fails:
[code]

I'm haven't studied KernelPC

[2015-12-19 04:46] raamana commented on #6063
I was curious about this and ran some more tests, and I can confirm K-fold is producing overlapping training and testing sets, with memory mapping. The output numbers are not exactly reproducible, but what is clear is there is overlapping. More extensive testing is needed - **I am planning to add a unittest** based on this to make sure newer updates wouldn't pass with this bug.

Here is the code:

[2015-12-19 05:59] raamana commented on #6063
More checks using sklearn.externals.joblib:
https://gist.github.com/raamana/382927a527c87746b1ef

[2015-12-19 16:17] IsaacHaze opened #6066 "LSH Forest link to WWW05 paper is broken"
The link to the LSH Forest paper is broken, as found on the Nearest Neighbor page in the user guide (for both stable and dev): http://scikit-learn.org/dev/modules/neighbors.html

[2015-12-19 16:44] #6066 closed

[2015-12-19 19:06] arthurmensch commented on #6043
Should we clean .pyc files at the end of each Travis build?
Le 16 déc. 2015 12:17 AM, "Manoj Kumar" <notifications@github.com> a écrit :

[2015-12-19 22:05] cottrell commented on #4916
It seems like this has not actually been resolved. I see that commenting out the lines around 307 of gaussian_process.py (and adjust nugget params) produces reasonable behaviour (as of e2f8cd2). Anyone know why this assertion was not removed/modified?

[2015-12-20 03:49] MechCoder commented on #6043
Thinking over it again, I'm not sure that would work.

I think we can delete the files that are in `sklearn_build_${NAME}` but not in `GIT_TRAVIS_REPO` before the rsync command

[2015-12-20 04:37] #6047 closed

[2015-12-20 08:41] arthurmensch commented on #6043
Doing that would remove all build artifacts isn't it?
Le 20 déc. 2015 04:49, "Manoj Kumar" <notifications@github.com> a écrit :

[2015-12-20 09:27] GaelVaroquaux commented on #6043
Yeah...

We certainly should wipe all the .pyc files.

The remaining files that can cause problems are things like the .so
files, and removing these might defeat the purpose of caching (although
it might not, given that intermediate ".a" files are stored in the build
directory.

[2015-12-20 10:21] alison985 opened #6070 "Code of Conduct"
Hi,

I'm just wondering what your code of conduct is for this project?

Thanks,
Alison

[2015-12-20 10:34] GaelVaroquaux commented on #6070
Hi Alison,

As @mitsuhiko replied to a similar question on https://github.com/mitsuhiko/flask/issues/1660 : we do not have an official code of conduct. We have found over the years that a code of conduct was not necessary, and that respect and friendliness arises without.

We strive to be a friendly community. Openness is a core value, as well as respect. Our exchanges are based on the technical v

[2015-12-20 10:37] maniteja123 commented on #6070
Hi,

I am not a developer, but I suppose the mailing lists and documentation are the best places to answer the question appropriately. If I understood the question correctly, the contributing guide is found [here] (http://scikit-learn.org/stable/developers/contributing.html#contributing-code) and the mailing lists can be registered to [here](https://lists.sourceforge.net/lists/listinfo/scikit-lear

[2015-12-20 14:30] agramfort commented on #5931
closed by #6068

[2015-12-20 14:30] #5931 closed

[2015-12-20 15:11] fayeshine opened #6071 "use sklearn to build a recommend system on github?"
I noticed that there's no repo recommendation on github.
However, I really like to explore interesting and powerful projects on github. I don't know how you guys search for good projects? For me, I go to see the github showcase, github trend, or just search for interesting topics.

If we can add a recommend system on github, it will be quite great. I definitely would like to spend more time on git

[2015-12-20 15:46] rvraghav93 commented on #6071
I think this is a feature request you will have to send to github. Try [contacting](https://github.com/contact) them. Could you kindly close this issue? :)

[2015-12-20 15:58] #6071 closed

[2015-12-20 18:32] nelson-liu commented on #5948
ping @rvraghav93 @amueller any further thought about this?

[2015-12-20 20:44] rvraghav93 commented on #5948
@vene your thoughts?

[2015-12-20 22:45] belevtsoff opened #6073 "What about Gaussian Mixture Regression?"
It's strange that scikit learn doesn't have a GMM based regression model. Is there a reason for this? If that's simply because no one had time/interest to do it, I can put up a PR.

[2015-12-21 00:41] jmainpri opened #6074 "Displaying 2D Gaussians with Ellipses"
In the GMM examples, 2D gaussian distributions are displayed using ellipses by scaling the axes with the eigen values of the covariance matrix. But the scaling should be done with the square root of the eigen values, shouldn't it?

https://en.wikipedia.org/wiki/Multivariate_normal_distribution

see [Geometric interpretation] in the wikipedia article

[2015-12-21 01:29] MechCoder commented on #6043
Ok, I was thinking the .pyc files will be recreated during run-time. I don't really know how Travis works

[2015-12-21 02:27] genliu777 opened #6075 "what is effect of the statement of " if " in the example of 'Image denoising using dictionary learning'"
in the page " http://scikit-learn.org/stable/auto_examples/decomposition/plot_image_denoising.html#example-decomposition-plot-image-denoising-py"

almost at the end of the code, there is TWO same IF statement, just like this:

if 'threshold' == transform_algorithm:  # normalization
        patches -= patches.min()
        patches /= patches.max()

i comment out the FIRST one and just leave the 2nd

[2015-12-21 04:25] rvraghav93 commented on #6059
Nevermind #6072 fixes this!

[2015-12-21 06:27] Sentient07 commented on #5988
@amueller Can i open a PR for this ?

[2015-12-21 08:18] agramfort commented on #6073
never heard of this. Do you have a ref?

[2015-12-21 08:25] maayan-jether opened #6076 "bug in QuantileLossFunction"
I think there is a bug in the computation of the quantile loss:
diff = y - pred
mask = y > pred
loss = (alpha \* diff[mask].sum() +(1.0 - alpha) \* diff[~mask].sum()) / y.shape[0]

Specifically, for the instances with ~mask the diff should be set with a minus sign, i.e. pred - y.

[2015-12-21 10:39] belevtsoff commented on #6073
It's tough to find isolated reference, but Section II.A from [Toda 2007](https://www.cs.cmu.edu/~pmuthuku/mlsp_page/lectures/Toda_VC.pdf) gives a review. It's quite popular for spectral mapping. The idea is to model the joint pdf p(x, y) with GMM and then predict y as an expectation of a conditional distribution p(y | x), i.e. \hat{y} = E[p(y | x)]. In essence, this is a smooth piecewise-linear tr

[2015-12-21 11:16] agramfort commented on #6073
interesting trick. I am not sure it satisfies the constraints for adding a
new method to sklearn but If I were you I would make my code a gist on
gist.github.com and point  to it here. At least for now.

[2015-12-21 11:45] belevtsoff commented on #6073
@agramfort alright then. Once it's ready, it can also be discussed through the mailing list

[2015-12-21 12:10] arthurmensch commented on #6043
There is logic in the build system that removes orphaned .so files already
Le 21 déc. 2015 2:30 AM, "Manoj Kumar" <notifications@github.com> a écrit :

[2015-12-21 12:39] rvraghav93 commented on #6063
I am getting a Memory error ;( What configurations do you guys have? Are you running this on cloud?

[2015-12-21 12:47] rvraghav93 commented on #5988
Please go ahead!

[2015-12-21 13:46] rvraghav93 commented on #6063
Also `KFold` does the splits serially while the overlap function is done in parallel correct? Which would mean the problem is with memmapping of joblib? (Sorry if I misunderstood)

[2015-12-21 14:53] raamana commented on #6063
I haven't done exhaustive testing yet in serial mode (when #jobs = 1), but it seems to me that bugs are with memory mapping. This deserves either test case to make sure it doesn't happen, **or at the least assertion to make sure its not run in parallel**, whence it can produce overlapping splits.

[2015-12-21 16:55] rvraghav93 commented on #6063
Indeed!

[2015-12-21 20:33] OlaPaw commented on #6002
I have modified the pls_.py code and it's now a pull request if you'd like to take a look.

[2015-12-21 20:39] OlaPaw commented on #6002
I've changed the `pls_.py` file to reflect some scaling modifications.  Also added new comments showing that although `scale = False`, cenering of data still occurs.

Finally, removed unnecessary scaling of `self.coef_` which provided wrong coefficients.

[2015-12-21 21:00] Sentient07 commented on #5988
@rvraghav93 quick confirmation, i need to get that return statement back and ensure all the tests passes, right ?

[2015-12-21 21:03] rvraghav93 commented on #5988
That + a regression test which will raise an error in master but not in ur branch :)

[2015-12-21 21:22] davidthaler commented on #5485
I submitted a PR to fix this. It uses the Mauna Loa example and link in place of plot_gp_regression.

[2015-12-22 02:04] vene commented on #5948
Subsampling sounds like a valid use case, but it's not a straightforward/obvious API at all. +1 for deprecating train_size. The gain in code complexity should be well worth it, IMO.

[2015-12-22 02:12] rvraghav93 commented on #5948
Thanks Vlad for the feedback! @nelson-liu, I think you can start with a PR!

[2015-12-22 08:34] DemonHades commented on #5777
Hi mblondel，
I met the same problem.
You suggest "load the pickle model with the same version".
Can you explain it in detail?
Which model and which version should I load ?
Is it work on Python 2.6?

[2015-12-22 11:15] mblondel commented on #5777
If your model was trained with scikit-learn 0.16.1 you need to load it with scikit-learn 0.16.1.

[2015-12-22 12:18] duboism opened #6078 "Bug for some scorer"
Some scorers (the ones derived from the confusion matrix: `recall_macro`, `precision_macro`, etc.) are defined with `functools.partial`. Partial functions have no `__name__` which creates problems:

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/usr/lib/python2.7/dist-packages/sklearn/metrics/scorer.py", line 49, in __repr__
         % (self._score_fu

[2015-12-22 23:40] nelson-liu commented on #5948
@rvraghav93 great, thanks for letting me know!

[2015-12-23 06:41] jmschrei commented on #6023
I know that there are issues with nested multithreading, but I am unaware what specifically the issues are. Try doing cross validation with a single job, and using all your processing at the RF fitting level.

[2015-12-23 19:09] chanansh opened #6079 "MetaEstimators hard-coded in common tests."
I am trying to inherit from `BaseEstimator` and `MetaEstimatorMixin` to create a wrapping for a `base_estimator` but I am facing problems. I was trying to follow the `base_ensemble` code in the repository but it didn't help. I get `TypeError: get_params() missing 1 required positional argument: 'self'` when running the test below which calls `check_estimator(Wrapper)`. According to documentation I

[2015-12-23 21:09] jnothman commented on #6079
The standard way of passing an estimator to a wrapper is to accept an *instance* not a *class* of that estimator. I suspect the error is occurring where some test code is triggering `LogisticRegression.get_params()`; the appropriate invocation is `LogisticRegression().get_params()`. `_make_estimator` should instead be cloning a passed instance (ensuring that hyper-parameters, but not model paramet

[2015-12-23 21:11] GaelVaroquaux commented on #6079
I don't really think that we want that: we want to push people to use
instances, in order to be able to specify their parameters. The right way
is to use an instance, and to call "clone" on it where the constructor
would be called.

[2015-12-23 21:12] jnothman commented on #6078
Thanks for the report. I suspect some other string should be in there, even just a `repr` of the `partial` object, to show that it's not the unadulterated metric.

[2015-12-23 22:12] jnothman commented on #6079
Perhaps more to the point, we've not yet found cases where that is undesirable.

Should we somehow identify this case, then, and provide a better error message, or is too specialised?

[2015-12-24 02:46] fayeshine commented on #6078
you mean use "self._score_func.__repr_" to replace "self._score_func.__name_"?

[2015-12-24 06:42] Radren opened #6082 "Can't import sklearn"
Win 7, x64, Python 2.7,  scikit-learn 0.17 installed with "conda install scikit-learn"

Try to import sklearn obtain: "ImportError: No module named datasets"

What did I wrong?

[2015-12-24 06:54] nelson-liu commented on #6082
how are you doing the import?
Try something like:
[code]

[2015-12-24 07:00] Radren commented on #6082
Ofcouse, my code stars with

import numpy as np
from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer
from sklearn.cross_validation import cross_val_score

It is a very start of some example from scikit-learn site.

Pycharm hilight words "sklearn" in this import and write "Import r

[2015-12-24 07:03] nelson-liu commented on #6082
can you verify that wherever conda installed scikit-learn is in your $PATH?

[2015-12-24 07:06] nelson-liu commented on #6082
can you run
[code]
and verify you are running the correct environment by executing:
[code]
You also shouldn't have PYTHONPATH or PYTHONHOME set for using conda packages, so also check that the values of those environment variables when running conda info -a

[2015-12-24 07:25] Radren commented on #6082
I've obtained this answers:

    # conda environments:
    #
    root                  *  C:\Anaconda2

    # import sys
    # In[3]: print(sys.prefix)
    C:\Anaconda2

About Paths:

    PYTHONHOME: <not set>
    PYTHONPATH: <not set>

And other:

    CIO_TEST: <not set>
    CONDA_DEFAULT_ENV: <not set>
    CONDA_ENVS_PATH: <not set>
    PATH: C:\Anaconda2\Library\bin;.......;C:\Anaconda2;C:\Anac

[2015-12-24 07:30] nelson-liu commented on #6082
hmm, interesting. maybe try reinstalling scikit-learn and paste the log here?

[2015-12-24 07:43] Radren commented on #6082
Done

    C:\****\test>conda install scikit-learn
    Fetching package metadata: ....
    Solving package specifications: .....................
    Package plan for installation in environment C:\Anaconda2:

    The following NEW packages will be INSTALLED:

        scikit-learn: 0.17-np110py27_1

    Proceed ([y]/n)?

    Linking packages ...
    [      COMPLETE      ]|###########################

[2015-12-24 07:50] nelson-liu commented on #6082
can you try just running
[code]
in your python interpreter and paste the output?

[2015-12-24 07:50] Radren commented on #6082
There is no output. It is imported.

[2015-12-24 07:53] nelson-liu commented on #6082
can you navigate to the install directory and check if the datasets directory is there? It should be in the sklearn/ folder

[2015-12-24 07:54] Radren commented on #6082
Yes, I have this folder

    C:\Anaconda2\Lib\site-packages\sklearn\datasets

and a lot of files there.

[2015-12-24 07:57] Radren commented on #6082
O, I just figured out smth. If I write

    import sklearn
    import sklearn.datasets

Then I can use

    a = sklearn.datasets.load_boston()

[2015-12-24 08:00] nelson-liu commented on #6082
hmm, that's really bizarre. If you remove the import of datasets in your above code does it throw an error 'no module named sklearn.ensemble?'

[2015-12-24 08:00] Radren commented on #6082
Sorry, it is only in shell, this trick doesn't work in a programm.

[2015-12-24 08:09] nelson-liu commented on #6082
Can you check your AppData and ensure that there are no site-specific packages that conda might accidentally be importing?

[2015-12-24 08:15] Radren commented on #6082
Ok, what have I do for it?

[2015-12-24 08:17] nelson-liu commented on #6082
If there are site-specific directories for scikit-learn, remove them and try again. Did you check that it also fails when importing ensemble?

[2015-12-24 08:57] Radren commented on #6082
Thank you for your help. I figured out why I have this problem. My python file is called "sklearn.py".

Now it is work.

[2015-12-24 08:58] #6082 closed

[2015-12-24 09:00] nelson-liu commented on #6082
haha, glad you got it figured out :) :+1:

[2015-12-24 11:44] RPGOne opened #6083 "sklearn.py"

[2015-12-24 14:29] dsquareindia commented on #5608
@amueller could you please clarify this? Thanks!

[2015-12-24 16:44] GaelVaroquaux commented on #6083
What is this issue? No content is given. I will close it unless details are added.

[2015-12-24 17:52] chanansh commented on #6079
Hi All,
First thank you for taking the time to address this issue. The inspiration to pass the class and not the instance is coming from the signature of `class BaseEnsemble(BaseEstimator, MetaEstimatorMixin):` where it seems as if it gets the class and the parameters as variables:
[code]
Moreover, I found that if I pass an instance rather than the class I get a different error which may stem from

[2015-12-24 18:44] chanansh commented on #6079
Hi,
I would really appreciate your help here. I cannot make a simple wrapper pass the `check_estimator` .

[2015-12-24 20:14] jnothman commented on #6079
Yes, that is an issue. I didn't realise check_estimator was considered
public yet.

On 25 December 2015 at 05:45, chanansh <notifications@github.com> wrote:

[2015-12-24 20:59] chanansh commented on #6079
thanks @Joel, what is the recommended design for a wrapping class for a
classifier which will work with the framework?

*HS*

On Thu, Dec 24, 2015 at 10:15 PM, Joel Nothman <notifications@github.com>
wrote:

[2015-12-24 22:48] jnothman commented on #6079
The recommended design is as we have suggested: accept a constructed
estimator and `clone` it as necessary. The question is how we should allow
testing exceptions to be specified in `check_estimator`. It is trivial, for
instance, to allow the user to pass a list of "check names" to be excluded,
or a regex. But I'm not sure whether the check names are consistent enough
for that approach to handle t

[2015-12-24 23:43] chanansh commented on #6079
How about testing for inheritance from the Meta Mixing?

*HS*

On Fri, Dec 25, 2015 at 12:48 AM, Joel Nothman <notifications@github.com>
wrote:

[2015-12-25 00:01] jnothman commented on #6079
Currently there are classes that inherit from MetaEstimatorMixin, but which
should be tested, such as ensembles with a default base estimator instance.
Yes, this seems to be an apparent contradiction in terminology; in any
case, it means we need something more precise to control testing exceptions.

On 25 December 2015 at 10:44, chanansh <notifications@github.com> wrote:

[2015-12-25 06:13] dsquareindia commented on #6076
Hmm so just flipping the sign for `diff` for the instances of `~mask` should work then....

[2015-12-25 08:46] GaelVaroquaux commented on #6083
Closing. Feel free to add more details here.

[2015-12-25 08:46] #6083 closed

[2015-12-25 10:40] xueyan2015 opened #6086 "Compare RandomForest models in R and in Python. It seems there is some difference in model results."
Hi,
I am trying to compare the results of random forest model using R and using Python. The key measurement on model performance that I am using is AUC (The Area Under an ROC Curve). I did find some notable difference in AUC values.

In summary, I splitted the input data into a training data set (2008 samples) and a testing data set (335 samples). I trained RF model on training data and then appli

[2015-12-25 23:31] duboism commented on #6078
@fayeshine I've seen your PR. If you think it's the correct option that's fine.

However, I was thinking that we could simply pass the arguments used in partial as the kwargs in `make_metric` which are then stored in the object and used in `__call__`. If I'm correct the resulting call is the same and the arguments will be shown in `__repr__` (and we don't need  `partial` anymore). I have written a

[2015-12-26 12:22] fayeshine commented on #6086
This may need a comparison on the implementation code. Even the BLAS library may give different results. However, can I ask the training time of R and Python?

[2015-12-26 16:14] arthurmensch commented on #6063
I can confirm that KFold with parallel fails as well when using memory mapping (which is triggered automatically for > 1M test and train index sets).

[2015-12-26 18:09] rvraghav93 commented on #6025
Fix in #6030. "Need Contrib" tag to be removed

[2015-12-26 18:47] Sentient07 commented on #5988
@rvraghav93 , i got nan instead of 1 as described in the comment, but upon reverting the specified code, ```silhouette_samples``` returned 0. So i've written the test to check if it's not "nan"

[2015-12-27 02:48] fayeshine commented on #6078
@duboism Yes, this seems better. We don't need 'partial' in this case.

[2015-12-27 03:20] pkch opened #6091 "MLPClassifier: using warm_start breaks adam algorithm?"
Related to discussion in #5214.

These comments are about `MLPClassifier`. Gradient descent and other optimizers might be used in models other than neural networks, but I don't know enough about them to say whether my comments might be relevant there.

Given that there's no perfect all-purpose stopping rule, users might want to implement their own stopping rule (for example to stop after a certain

[2015-12-27 17:31] arthurmensch commented on #6075
It's a bug, the first if should not be there as it is useless. Do you want to fix this in a PR ?

[2015-12-28 02:01] pkch opened #6094 "MLPClassifier: softmax / cross-entropy vs sigmoid / mse in the output layer"
Currently, `MLPClassifier` makes an automatic decision based on the shape of the target data. If the target is 2D with more than one column, it assumes that it is multi-label and automatically uses sigmoid/mse (even if each row contains only a single `1`). If the target is 1D or 2D with one column, it assumes that it is multi-class, and automatically uses softmax / cross-entropy (same as multinomi

[2015-12-28 02:02] pkch commented on #6091
I confirmed that `partial_fit()` applied to the same data set `n` times works precisely the same as `fit(max_iter = n)` for `adam`. This allows a user to implement custom stopping rules (including time-based).

However:

1) `partial_fit()` doesn't work with `l-bfgs` because it was originally intended for fitting part of the training set at a time and `l-bfgs` only works as a full-batch approach. T

[2015-12-28 02:40] xueyan2015 commented on #6086
Hi, fayeshine
Thank you very much for your reply.
The training time of R and Python should be a little long (24 hours or shorter than that in R or in Python? sorry I could not really remember the exact number). There are over 10 thousand different combinations of hyper paramters values. BTW, All R/Python codes are available at https://github.com/xueyan2015/Python_R.

------------------------
fayes

[2015-12-28 06:01] emakryo opened #6095 "Segmentation fault with GPy"
I executed the following code and met segmentation faults

[code]

Without importing GPy, with fitting less data or with running only one job the above code ran successfully.
I executed the code under following environment.

* OS X 10.10
* Python 2.7
* scikit-learn 0.17
* GPy 0.8.8

[2015-12-28 10:55] maniteja123 opened #6096 "Nose tests failing on current master"
Hi devs, I was working on adding the issue regarding pandas series input to ``log_loss`` method and while running the ``nosetests -exe sklearn``, the following tests were being failing.

This is the traceback.
[code]

I was unable to debug the first failure with my knowledge, but seemed to be platform dependent, since it has some EPS value.

The second is a [doctest](https://github.com/scikit-lear

[2015-12-28 12:36] yanovskishai commented on #5281
I'm using pandas 0.17.0 with python 3.5.0.final.0 and for some reason I'm still getting the warning
at sklearn/base.py:175
[code]

Is that an expected behavior ?

[2015-12-28 15:39] #6016 closed

[2015-12-28 22:27] #6078 closed

[2015-12-29 07:32] usptact opened #6098 "The word 'a' is removed by default in CountVectorizer"
Hi,

It looks like CountVectorizer removes by default the stopwords like 'a'. This is regardless the parameter stop_words=None. To me this is an unexpected behaviour. The word 'a' and other stopwords can be perfectly legitimate input which is not text per se.

Thanks

[2015-12-29 07:56] davidthaler commented on #6098
From the [docs](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html), the token pattern is `\b\w\w+\b`, which requires at least 2 characters for a match.

[2015-12-29 08:10] usptact commented on #6098
I just found a solution: just use custom tokenize() function and everything will be as expected. In my case the tokenize() function just splits the string into tokens by space.

[2015-12-29 08:10] #6098 closed

[2015-12-29 10:15] maciejgryka opened #6099 "DictVectorizer.fit should raise an exception when one feature has multiple types"
It'd be useful to validate that all elements passed into `DictVectorizer.fit` have consistent types. For example:

[code]

is IMO confusing and should raise an exception. (The feature `'two'` being both a `float` and `str` creates a weird situation.) For backwards compatibility the checks could be done only when an additional parameter is given to `fit`.

I'm happy to create a PR if this is deemed

[2015-12-29 19:02] usptact opened #6100 "The "fractional_matrix_power()" function can be more efficient."
According to the documentation, the algorithm to compute fractional power of matrices is based on
Nicholas J. Higham and Lijing lin (2011) “A Schur-Pade Algorithm for Fractional Powers of a Matrix.” SIAM Journal on Matrix Analysis and Applications, 32 (3). pp. 1056-1078. ISSN 0895-4798

The same authors have published an improved algorithm which is more accurate and more efficient in:
Nicholas J.

[2015-12-30 04:56] aflaxman opened #6101 "GradientBoostingClassifier.fit accepts sparse X, but .predict does not"
I have a sparse dataset that is too large for main memory if I call `X.todense()`.  If I understand correctly, `GradientBoostingClassifier.fit` will accept my sparse `X`, but it is not currently possible to use `GradientBoostingClassifier.predict` on the results.  It would be great if that were not the case.

Here is a minimal example of the issue:
[code]

[2015-12-30 12:49] mth4saurabh commented on #5715
@maniteja123 the referenced commit should resolve the issue, why haven't you made  a pull request yet?!

[2015-12-30 13:18] maniteja123 commented on #5715
Hi, I suppose this would solve the issue but wanted to take the opinion on the fix. Also many other tests were failing on master on my local machine, as I showed in issue #6096 which would probably be happening in Travis too. That is why I didn't create a PR until someone experienced gave the go ahead.

[2015-12-30 13:56] toastedcornflakes commented on #6100
Isn't this actually implemented upstream by SciPy?

http://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.linalg.fractional_matrix_power.html

[2015-12-30 16:41] usptact commented on #6100
@toastedcornflakes According to the comments, it looks like it is implemented according to the algorithm in 2011 publication. The publication in 2013 is improving it further.

[2015-12-30 16:44] toastedcornflakes commented on #6100
@usptact Sorry, my wording wasn't very clear. My point is that `fractional_matrix_power()` is, AFAIK, implemented in scipy and not in scikit-learn, so this bug doesn't belong to scikit-learn's issues.

[2015-12-30 17:21] #6100 closed

[2015-12-31 04:10] MechCoder opened #6106 "Fit_prior and class_prior arguments for GaussianNB?"
GaussianNB seems to lack these arguments for no apparent reason.

[2015-12-31 16:59] dojeda commented on #4546
I recently got bit by this bug. Considering that this was reported in April, I imagine that this is not a very important bug, but consider the following situation:

I am using `LogisticRegressionCV` to calculate the best (L1-) regularization parameter on a test dataset, where only classes [0,1] exist.
I chose to use a Leave-One-Out folding strategy, and I decided to decide on the best log_loss sco

[2015-12-31 17:36] maniteja123 commented on #5715
Sorry, I think I didn't name the commit message properly to automatically close this issue. Kindly close the issue if all the problems raised are fixed.

[2015-12-31 17:41] GaelVaroquaux commented on #5715
Indeed, this should be fixed. I am closing the issue. Thanks a lot @maniteja123

[2015-12-31 17:41] #5715 closed

[2015-12-31 17:45] maniteja123 commented on #6096
Hi, the tests that I mentioned are still failing on my system. But when I submitted the PR, none of the builds failed. Probably I am missing something here. Kindly look into this and please close this issue if it is irrelevant. Thanks !

[2016-01-02 09:14] mth4saurabh commented on #5606
@amueller @jnothman how about using ```**kwargs``` in ```check_X_y``` to avoid these simple input validation issues? (I have seen atleast 2-3 so far) or just implement something new (and similar) for taking care of conversion requirements?

[2016-01-02 10:10] olologin commented on #6101
Confirmed, small rework of https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/_gradient_boosting.pyx is needed.

[2016-01-02 13:28] Sentient07 commented on #6106
@MechCoder more insight into this issue, please ? If not anyone is working on this, i'd like to take it up

[2016-01-03 07:30] mth4saurabh commented on #1665
@amueller all the errors seen in traceback are from doctests, so I ran ```nosetests -v --with-doctest``` on ```sklearn/datasests```, there was no error. So I think introduction of ```test_home_data``` resolved the error. I am not sure though, what do you think?

[2016-01-03 08:51] bthirion commented on #1807
Getting back to that one: see https://gist.github.com/bthirion/834b78c274e7f411665d
What sklearn's gcv  computes is actually the mse, BUT in a setting (fit_intercept=False, pre-centered data), that gives trivial and misleading results as soon as n_features >= n_samples - 1

My suggestion is to change this to make the gcv results equivalent to a setting where fit_intercept=True.
Any opinion ?

[2016-01-03 14:06] maniteja123 commented on #1975
Hi, it seems that the issue has been fixed for ``AgglomerativeClustering``. But the issue seems to be still persisting for ``_LearntSelectorMixin`` and seems for ``SparsePCA`` in [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/sparse_pca.py#L133). In case anyone is working on this, I would gladly step aside !

In the ``_LearntSelectorMixin``, the threshold par

[2016-01-03 14:40] xueyan2015 commented on #6086
@fayeshine

[2016-01-03 14:49] jnothman commented on #1975
_LearntSelectorMixin is deprecated, so not applicable either.

On 4 January 2016 at 01:06, Maniteja Nandana <notifications@github.com>
wrote:

[2016-01-03 14:55] maniteja123 commented on #1975
Thanks. I realized that it was not exposed on the public API but thought that it needs to be fixed since it is being used in other places. Sorry for not thinking over it.

[2016-01-03 16:24] tchakravarty opened #6109 "California housing data URL broken"
The link to the [California housing dataset](http://lib.stat.cmu.edu/modules.php?op=modload&name=Downloads&file=index&req=getit&lid=83) appears to be broken.

[code]

[2016-01-03 16:52] maniteja123 commented on #5824
Hi @hugobowne , wanted to ask if you guys are working on this issue. Please let me know if you are on it. Else I would like to try working on this. Thanks !

[2016-01-03 17:54] agramfort commented on #1807
sounds good to me

[2016-01-03 21:31] rvraghav93 commented on #5824
(copying from gitter, to allow @mblondel or anyone else to correct me if I am wrong)

The outline of what needs to be done here is -
* Make `n_outputs` numbers of single output estimators
* Train using `X (n_samples x n_features)`, `y (n_samples x n_outputs)`
* Predict using `X(n_samples x n_features)`
* For `output_i` in `range(n_outputs)` --> `y_predicted_i = estimator_i`, where `y_predicted_i`

[2016-01-03 22:09] hugobowne commented on #5824
We are working on it. Pretty much done. Just a slight lull currently due to
holidays. Hope to issue pull request soon

[2016-01-03 22:11] hugobowne commented on #5824
@maniteja123 see comment above. We are currently working on it

[2016-01-04 00:03] davidthaler commented on #6109
I believe this has been reported at #5953, and fixed at #6055.

[2016-01-04 05:00] maniteja123 commented on #5824
@hugobowne. Thanks for letting me know. Waiting to see the PR :-)

[2016-01-04 10:16] raghavrv opened #6110 "Fix docstring signature mismatch in cython code"
Similar to #2062, but for cython code. I am not sure how easy it is to find those.

[2016-01-04 10:17] rvraghav93 commented on #6110
To be tagged `"Easy"`, `"Need Contributor"` & `"Documentation"`

[2016-01-04 10:27] rvraghav93 commented on #6099
Yes it would be a good idea to raise an exception. Please go ahead with a PR! Thanks.

[2016-01-04 10:53] #5953 closed

[2016-01-04 10:53] ogrisel commented on #5953
Fixed in 3daab8a99862674514735a3caadd45cc542b43c1

[2016-01-04 11:57] ogrisel commented on #6109
Fixed in 3daab8a99862674514735a3caadd45cc542b43c1.

[2016-01-04 11:57] #6109 closed

[2016-01-04 13:20] #5810 closed

[2016-01-04 15:48] #5720 closed

[2016-01-04 15:51] #5725 closed

[2016-01-04 15:54] AnishShah commented on #6110
will work on this ..

[2016-01-04 16:14] dojeda commented on #4546
BTW, here is a workaround for anyone interested: add observations of all possible class values, with a correct prediction. The log loss should not change (it sums two elements that give 0, since they are correct), but the `LabelBinarizer` object should work correctly. This is an example for a binary class:
[code]

In my case, I was using `LogisticRegressionCV`, so I needed to set the parameter `sc

[2016-01-04 16:14] rvraghav93 commented on #6110
Thank you!

[2016-01-04 19:24] mjbommar commented on #3841
@amueller, my bucket offer is still on the table.  I'd be happy to share creds with you or another maintainer outside of the repo to keep it up-to-date.

[2016-01-05 01:46] Fenugreek commented on #6002
OlaPaw -- I can't find the pull request? I am away on vacation but can take a proper look in two weeks time. I have been working with this code recently and happy to contribute another pair of eyes.

[2016-01-05 08:24] RominYue commented on #1188
Oooops, that is to say we would implement our own K-means method with user-defined distance matrix........... sad..........

[2016-01-05 13:44] wfbradley opened #6113 "Weights in RANSAC?"
I'm interested in using the RANSAC regressor when the base estimator has weights (e.g., I'd like to use the sample_weight keyword with LinearRegression.fit()).  I can't figure out how to pass the sample_weights through RANSAC to the base estimator.  Am I overlooking something, or is this a missing feature?

[2016-01-05 14:31] TomDLT commented on #6113
I think so. Also reported in #5871.

[2016-01-05 14:34] #6075 closed

[2016-01-05 16:46] AndreRoehrig opened #6115 "ImportError with numpy 1.10.2"
The issue goes away when numpy 1.10.1 is used (and scipy 0.17 reinstalled).

[code]

[2016-01-05 19:11] amueller opened #6117 "shape of target in fetch_lfw_pairs docs is wrong"
should be 2200

[2016-01-05 19:12] amueller commented on #6117
actually it depends on the subset, and that is true for the other returned values as well. should be consistent though.

[2016-01-05 20:58] Qwasser commented on #6117
Can I contribute on this one?

[2016-01-05 20:58] rvraghav93 commented on #6117
@Qwasser Please go ahead!

[2016-01-05 21:19] amueller opened #6118 "NMF has no inverse_transform"
This strikes me as odd.
You can just multiply by W to get the inverse transform, right?

[2016-01-05 21:19] napsternxg commented on #5903
Updated to new version. Fixed.

[2016-01-05 21:19] #5903 closed

[2016-01-05 21:37] davidthaler commented on #6118
I'll get to work on this.

[2016-01-05 21:44] Qwasser commented on #6117
Edited the docstring in https://github.com/scikit-learn/scikit-learn/pull/6119
Is it still worth to write the shape even if it could be different from actual?

[2016-01-05 21:52] amueller opened #6120 "Eigenface example is confusing"
There is an example comparing decomposition methods on the olivetti faces:
http://scikit-learn.org/dev/auto_examples/decomposition/plot_faces_decomposition.html

It prints something like

[code]

The "top 6" is wrong for everything but PCA, sparse PCA and FA, I think.
It's not the "top 6" nmf components. They are not ordered. And if you gave it more components, they would look very differently. Sa

[2016-01-06 06:21] MagicYoung opened #6121 "StratifiedShuffleSplit generates overlapping train and test indices"
Why there is overlap between `dev_idx` and `t_idx` in the following code? It should have been no overlap.

<pre>
[code]
</pre>
The second `assert_equal()` test prompted a error as follows:
[code]

[2016-01-06 07:14] genliu777 commented on #6075
oh! it is a bug! even not serious!
by the way, as a beginner, i do not know what is PR!

[2016-01-06 07:23] genliu777 opened #6122 "how to know which feature is selected by FeatureUnion?"
i run the code of,
http://scikit-learn.org/stable/auto_examples/feature_stacker.html#example-feature-stacker-py
and with the following code,

[code]

with data put into FeatureUnion, i want to know which feature is selected. in the doc of FeatureUnion, there is a funtion `get_feature_names()` which gets all the names from all the transformer. so just call this function and get error like this,

[c

[2016-01-06 07:42] ogrisel commented on #6063
I understand the source of the pbm: the automatic memmaping feature of joblib is confused by the reuse of the same id() on recently garbage-collected arrays in the iterator. I am working on a test to reproduce the issue in joblib.

[2016-01-06 08:19] lesteve commented on #6115
If you look carefully at your stacktrace this looks like a scipy problem, you should be able to reproduce it just using `from scipy.sparse.linalg import lsqr as sparse_lsqr`.

Try uninstalling + reinstalling scipy.

[2016-01-06 08:42] lesteve commented on #6121
Could you put together a standalone example, so that we can try to reproduce the problem ?

[2016-01-06 09:21] TomDLT commented on #6075
PR = [pull request](https://help.github.com/articles/using-pull-requests/)
It is a request to modify the code, but it has already been done by @toastedcornflakes, and his PR is now merged in the code.

[2016-01-06 09:24] jnothman commented on #6122
I agree that there should be a way to see which features belong to which
components, and I have long ago proposed this, but I don't think it's
currently possible.

On 6 January 2016 at 18:23, genliu777 <notifications@github.com> wrote:

[2016-01-06 09:52] AndreRoehrig commented on #6115
Yes, as I mentioned reinstalling scipy with numpy 1.10.1 solves this. The issue is, why is this so and (because this seems to be an issue for scipy) should there be a hint to use sklearn with numpy 1.10.1 (or maybe i just haven't found it)?

[2016-01-06 10:26] lesteve commented on #6115
Sorry, I am going to try to be clearer:

* the problem you are encountering seems, with a probability very close to one, to be a scipy install problem on your machine.
* scipy and for that matter scikit-learn works fine with numpy 1.10.2 to the best of my knowledge.

The advice I was trying to give you was to try uninstalling + reinstalling scipy while keeping numpy 1.10.2, for example if you use

[2016-01-06 11:07] TomDLT commented on #6118
multiply by **H**, we use a different notation than a lot of papers.

Also, would it be a problem to have `nmf.inverse_transform(nmf.transform(X)) != X` ?

[2016-01-06 11:10] AndreRoehrig commented on #6115
Still the same problem with numpy 1.10.2 .
A different user on a different machine and os (i use arch) had the same problem:

http://askubuntu.com/questions/712485/installing-scikit-learn-with-python3-superlu-cpython-34m-so-undefined-symbol

[2016-01-06 12:19] lesteve commented on #6115
A different user on a different machine and os (i use arch) had the same problem:

Fair enough, it may be a genuine problem, hard to tell. I didn't manage to reproduce this in a fresh conda environment using `pip install scipy`. In any case this seems like a scipy specific problem and the scikit-learn bug tracker may not be the best place to discuss it.

For the record I am using conda and I don't

[2016-01-06 12:34] AnishShah commented on #6118
Hi @amueller ,
I will try to work on this issue...

[2016-01-06 13:43] genliu777 commented on #6122
why currently impossible!? you know, FeatureUnion gives the function `get_feature_names()`,  and it also should work!

[2016-01-06 14:35] AnishShah commented on #6118
@TomDLT I don't think `nmf.inverse_transform(nmf.transform(X)) != X` should be a problem as factorization is not unique.

[2016-01-06 14:37] GaelVaroquaux commented on #6118
No, it's already the case for many models (for instant a PCA without full
rank).

[2016-01-06 14:57] rlgc79 opened #6124 "Prediction with partial least squares"
I think there is a bug in the method predict of the class _PLS. More specifically, if I choose to scale the dataset during training (scale=True), then the method "predict" does not seem to reverse the scaling operation:

(line 435 of the source code available at https://github.com/scikit-learn/scikit-learn/blob/c957249/sklearn/cross_decomposition/pls_.py#L437)

I believe that the we should first r

[2016-01-06 15:13] FedericaLionetto commented on #4497
Hi all,
I saw there is an ongoing discussion on how to include the sample_weight option into RFECV, but I'm not sure to understand what the current status is.
I'm working at my PhD thesis and I need to apply event-by-event weights to a given sample when using RFECV, in order to take the mis-modeling of the generated events into account.
I attach an example of what I would like to do (which is not

[2016-01-06 18:26] MagicYoung commented on #6121
Please check with the reproducible example. Thanks.

[bugs_sklearn.zip](https://github.com/scikit-learn/scikit-learn/files/80192/bugs_sklearn.zip)

[2016-01-06 19:04] amueller opened #6126 "SpectralBiclustering.fit doesn't return self"
need to check for coclustering, too.

[2016-01-06 19:14] maniteja123 commented on #6126
Hi can I work on this issue ? Thanks.

[2016-01-06 19:14] amueller commented on #6126
you sure can :)

[2016-01-06 20:21] maniteja123 commented on #6126
Needed to clarify small thing. Basically this [fit](https://github.com/scikit-learn/scikit-learn/blob/c957249/sklearn/cluster/bicluster.py#L112] method of the base class needs to return self. And since it calls the corresponding ``fit_`` method depending on biclustering or coclustering, they needn't be touched.

And my laptop just stopped working. So looked into the issue from my phone. Please let

[2016-01-06 23:27] vinayak-mehta commented on #6126
@maniteja123 That should work. But for chaining purposes, I think we might need to `return self` from `SpectralBiclustering.fit` too. (same for coclustering)

[2016-01-07 02:10] hugobowne commented on #5824
PR issued: https://github.com/scikit-learn/scikit-learn/pull/6127

FYI I will heading into the Australian bush in the next couple of days so when edits need to be made, I have asked @mrchristophrivera to field them, if necessary.  Otherwise, @maniteja123 might care to jump in

[2016-01-07 03:31] chenmin1107 opened #6128 "Test RBF kernel, matrix for cholesky is not positive definite which depends on the input data"
I was trying to write a simple test for RBF kernel. I found that my tester fails depending on the input data I gave. Below are two pieces of source code I used, they only differs on the input data for training. But the first one succeed, the second one leads to not positive definite matrix error.

source code 1:

[code]

source code 2:

[code]

The source code above only differs on the input data.

[2016-01-07 04:56] maniteja123 commented on #6126
@vinayak-mehta Thanks for the response. But presently ``fit`` calls ``self._fit`. According to this change, ``fit`` should be returning ``self._fit`` which in turn returns ``self``. But since these are methods of the same class, wouldn't it be better to call ``self._fit`` and then return self in ``fit`` ?

[2016-01-07 07:00] fayeshine opened #6129 "mean_absolute_error gives out negative result"
from sklearn import *
model = linear_model.LinearRegression(n_jobs=8)
%time cross_validation.cross_val_score(model, feature, label, scoring='mean_absolute_error')

Out[16]: array([-0.13273084, -0.13613474, -0.13891673])

[2016-01-07 07:34] davidthaler commented on #6129
Its been discussed before (#5023). Those scores are -1*MAE. All of the loss metrics get negated.

[2016-01-07 09:53] lesteve commented on #6121
I can reproduce it, here is a stand-alone snippet that reproduces the problem:

[code]

The output:

[code]

[2016-01-07 09:54] lesteve commented on #6121
Also I tested this issue happens on master, 0.17 and 0.16. I didn't bother to check older versions.

[2016-01-07 10:03] lesteve commented on #6121
@MagicYoung can you tweak the title so that it is self-explanatory, e.g. something like StratifiedShuffleSplit generates overlapping train and test indices ?

[2016-01-07 14:32] rvraghav93 commented on #5824
@mblondel should we have a single class `MultiOutputEstimator` for both regressor/classifier? (I don't see why it should differ apart from handling the `classes` arguments in `partial_fit`).

[2016-01-07 14:50] candesic opened #6130 "pairwise_fast.so is not linked against ATLAS or BLAS"
I'm trying to use scikit-learn on a cluster running Red Hat Enterprise Server 7.1. I can load either openBLAS or Atlas libraries (both compiled under GCC). I've opted for Atlas because numpy gave some dire warning about openBLAS.

pip install scikit-learn completes with no errors. But then,
[code]

OK, so pairwise_fast.so isn't linked to some library - Atlas by the sounds of it?
[code]
No sign of

[2016-01-07 14:53] candesic commented on #6130
Also for fun tried switching `-lcblas` out for `-latlas`... no change with ldd, but also no error.

[2016-01-07 16:24] dsquareindia commented on #6076
@glouppe just wanted to confirm this bug with you once. I'll start working on this then. Thanks!

[2016-01-07 17:11] rlgc79 commented on #6002
I've just found this post, and I believe that it is related to issue #6124, which I posted yesterday. I would be interested to know whether the fix is the one I've proposed there.  I cannot find the pull request...

[2016-01-07 17:35] MagicYoung commented on #6121
I did not check with the implementation of StratifiedShuffleSplit, but I guess the issue is relevant to the sample distribution of the array.

@lesteve  Title has already been changed.