[2016-10-04 15:27] Erotemic opened #7574 "[Feature Request] Progress Bars"
I'm currently working with a fork of sklearn where I include progress bars in long running Estimators (particularly MiniBatchKmeans). It takes up to 9 hours to run some of the algorithms and having an estimated time remaining has been quite helpful to see when I should come back and look at the results.

I was wondering if it would be worthwhile to compile some of these into a pull requests and ad

[2016-10-04 16:02] sidgupta234 commented on #7528
Should I create a NotADataframe class in the estimate_check file?

[2016-10-04 16:14] vibrantabhi19 commented on #7521
@nelson-liu I am up

[2016-10-04 16:26] jasmainak commented on #7364
Hi guys, it might still be worth updating the documentation [here](http://scikit-learn.org/stable/modules/grid_search.html). I just spent an afternoon trying to figure out if there was a way to make `RandomizedSearchCV` give deterministic outputs with scipy before stumbling upon this issue. A simple note stating that it's possible to have deterministic outputs with the new `sklearn.model_selection

[2016-10-04 17:43] amueller commented on #7364
@jasmainak there is a note in red there under RandomizedSearchCV, right?

[2016-10-04 17:46] amueller commented on #7574
I think we would prefer a design that adds callbacks to the estimators, and not bake in the progress bar.
Better logging / callbacks would be great, though.
Then we can talk about whether we actually want progress bar functionality in scikit-learn.

How the callback or logging mechanism should work is a pretty big design decision. I'm not sure if there is any discussion on that anywhere.

[2016-10-04 17:46] amueller commented on #7574
sorry misclick.

[2016-10-04 17:51] jasmainak commented on #7364
Umm ... do you mean the warning? I was suggesting that you could add to this warning that `random_state` can in fact be set for scipy 0.16 onwards. It's not super obvious that this is possible

[2016-10-04 17:54] amueller commented on #7364
oh whoops, misread, you are right. Do you want to fix that?

[2016-10-04 18:20] jasmainak commented on #7364
see: https://github.com/scikit-learn/scikit-learn/pull/7577

[2016-10-04 18:30] Erotemic commented on #7574
I think it would be extremely useful to monitor the progress of algorithms beyond the current verbosity measures. Does anybody know of any other libraries that use a robust logging / callback system that can be used for inspiration / ideas? I'd certainly be willing to help on this. How would this system ideally work with existing verbosity messages? These messages are already baked in, and althoug

[2016-10-04 19:44] #7521 closed

[2016-10-04 19:44] nelson-liu commented on #7521
thanks @vibrantabhi19

[2016-10-04 20:26] jnothman commented on #7562
I proposed hacky solutions to multiple metric support years ago, and it
seems like everyone's been hacking their own (including me). Oh well.

One annoyance with another placeholder, e.g.
sklearn.model_selection.NOT_SET or even numpy.ma.MASKED (!) is that we lose
pandas-in-one-command value :(

On 5 October 2016 at 01:28, Dave Challis <notifications@github.com> wrote:

[2016-10-04 20:52] amueller commented on #7562
If we use a value, not a type, I think we can just pass that to pandas as the missing value. I'm not sure if that works with types.

[2016-10-04 20:58] amueller commented on #7574
We are sometimes somewhat conservative (or slow?) in adding entirely new functionality because it's hard to remove anything without breaking user code or at least annoying them. And if we add a lot of custom logging and displaying of logs, it's easy to get feature creep and hard-to-understand code.

If you want to add this reusable class, it still needs some form of interface, right?

We have a ``

[2016-10-04 21:04] amueller commented on #7574
Btw, there's an issue over here: #78

[2016-10-04 21:07] amueller commented on #7574
It's a bit unclear to me if logging is the right solution for what you want, because we need to know what 100% is for a progress bar. Some algorithms have multiple stopping criteria, which makes it kind of tricky to use a bar. And even if there is a single stopping criterion, we sometimes stop when the change in objective is smaller than some threshold. How does that translate to a progress bar?

[2016-10-04 22:33] jnothman commented on #7574
Improving verbosity is okay, but it would be better to provide structured objects to a logger that the user can configure. The logger then knows how to include timestamps in display.

[2016-10-04 23:26] staubda commented on #7091
A bit late to the conversation here, but with `numpy.__version__ = 1.11.2` the sklearn custom solution appears to be faster than `np.permutation` when `ratio < 0.01` or `ratio > 0.99` (approximately).

Benchmark graphs using `n_steps = 100` with zoomed in views close to 0.0 and 1.0:
![scikit-learn_sample_w o_replacement_benchmark_results](https://cloud.githubusercontent.com/assets/6806542/19096090

[2016-10-05 00:23] jnothman commented on #7562
I don't know what you mean by a type. But yes, it would be a fixed value.
Using numpy.ma.MASKED would be a little more compatible with the released
version, but a bit dodgy!

On 5 October 2016 at 07:52, Andreas Mueller <notifications@github.com>
wrote:

[2016-10-05 00:26] jnothman commented on #7574
Structured logging, with things like {"context": ['RandomForests.fit'],
"progress": 35, "out_of": 100} or {"context": ['SGDClassifier.fit'],
"objective": 1.100, "target_range": [-.005, .005]} might work... Main
problem is that it's essentially another spec that needs designing and
documenting.

On 5 October 2016 at 08:07, Andreas Mueller <notifications@github.com>
wrote:

[2016-10-05 00:28] jnothman commented on #7091
But is it worth it for those edge cases, where the difference in relative
time is small for the big proportions and the difference in absolute time
is small for the small proportions?

On 5 October 2016 at 10:26, David Staub <notifications@github.com> wrote:

[2016-10-05 01:00] staubda commented on #7091
In general I'd guess that it's not worth it, but the framework for choosing a sampler based on the ratio is already part of the code so it's pretty simple just to add the numpy version in there.

[2016-10-05 01:15] jnothman opened #7578 "Common test: predict_proba as a monotonic transformation of decision_function"
We should have a common test ensuring that, if both `decision_function` and `predict_proba` are available on an estimator, their outputs have perfect rank correlation.

[2016-10-05 01:16] jnothman opened #7579 "Common test: predict_proba transformation as predict_log_proba"
We should have a common test that ensures the relationship between `predict_proba` and `predict_log_proba` is upheld where both are provided.

[2016-10-05 05:30] nelson-liu commented on #7237
this should be closed, no? fixed in https://github.com/scikit-learn/scikit-learn/pull/7260

[2016-10-05 05:52] jnothman commented on #7237
Thanks.

[2016-10-05 05:52] #7237 closed

[2016-10-05 07:53] tguillemot commented on #7462
As I don't have your data I can't reproduce the error. Can you confirm is still a problem ?
`GaussianMixture` (sklearn v 0.18) is more stable than `GMM` and you can also use the regularisation parameter `reg_covar`.

[2016-10-05 07:58] tguillemot commented on #5129
On the new `GaussianMixture` class, it's [log-likelihood](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/mixture/base.py#L309).
Everyone agrees ? Can we close the issue ?

[2016-10-05 08:03] tguillemot commented on #3813
Solved by #6666.
Now score sample returns [log-responsabilities](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/mixture/base.py#L306) and have a [predict_proba method](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/mixture/base.py#L342)

[2016-10-05 10:06] #7364 closed

[2016-10-05 10:42] raghavrv commented on #7562
I have a bit convoluted approach in mind. We could store the data and mask separately and then reconstruct the `MaskedArray` on fly... WDYT @jnothman @amueller ?

It would look something like this -

[code]

[2016-10-05 10:49] davechallis commented on #7562
@raghavrv I guess if pickling is the only issue with it, one option could be to move the code above into the class's `__getstate__` and `__setstate__` methods, so the transforms to/from masked arrays only happen when necessary (i.e. at [un]pickle time), rather than during general class usage.

[2016-10-05 11:19] jnothman commented on #7528
You should be testing whether `X2 = pandas.DataFrame(X)` works the same as `X` for some array `X` in various contexts.

[2016-10-05 11:20] jnothman commented on #7536
Yes, of course, if `cv_pipeline` isn't actually a pipeline :) Sorry about my skim reading.

[2016-10-05 11:23] jnothman commented on #7536
Yes, set_params isn't working because you're modifying the base estimator of the grid search, not the one that is cloned as the `best_estimator_`. Yes, this is a hack.

And writing out the loop is not a hack and does fine.

[2016-10-05 11:26] jnothman commented on #7572
So it seems that this is a case of floating point 0 not being exactly the same as 0. I'm not sure if it's worth explicitly handling this case.

[2016-10-05 11:30] jnothman commented on #7570
`FeatureUnion` has bad parameter names, IMO. I'm not sure that's enough to motivate changing them and breaking people's code, though. I don't object to shared base classes: we've just introduced `_BasePipeline`. However, we tend to avoid refactoring when clarity is at stake.

I'll have to take another look at this when I'm more awake.

[2016-10-05 12:38] jnothman commented on #7562
I'm now wishing we just used a placeholder instead of MaskedArrays, but I suppose there are (minimal) benefits to the latter, apart from backward compatibility to our broken release :/

You're right, though, @raghavrv and @davechallis, this is solvable: it's just a choice of which ugly method to prefer :( Whoever submits a PR first gets the most say on which choice is uglier :P

[2016-10-05 12:47] #6837 closed

[2016-10-05 12:51] ivallesp commented on #7578
Could I participate here as a contributor?

[2016-10-05 12:53] ivallesp commented on #7579
Could I work on it?

[2016-10-05 13:30] amueller commented on #7562
I meant that if we define our own placeholder class, I'm not sure if that plays well with pandas. But if we use a string like "notSet" we can just pass that as the empty value to pandas.

I'm still thinking maybe going to a place holder is not totally out of question.
@raghavrv's solution is as incompatible as that. We could do the ``__getstate__`` ``__setstate__`` thing.

Or maybe we monkey-patch

[2016-10-05 13:31] GaelVaroquaux commented on #7562
What would pandas do by default with "None" (as the object, not the
string)? It seems like something natural to me to use is such a
situation.

-1. That will probably lead us to trouble.

[2016-10-05 13:52] amueller commented on #7562
GaelVaroquaux: But "None" is also a valid option for parameters, right?

[2016-10-05 14:01] raghavrv commented on #7562
Such a patch would fix the numpy bug. But I wasn't able to come up with a good patch for that. The pickling / unpickling of np.ndarray of dtype object seems to be handled in the c-level code which is where this error is raised in the first place... :(

[2016-10-05 14:05] raghavrv commented on #7562
I'll investigate more but as a stopgap we could have this fix in `__setstate__`, `__getstate__` of the `GridSearchCV`... @davechallis Do you want to make a PR? :)

[2016-10-05 14:09] amueller commented on #7562
@raghavrv I meant we could overwrite it with some python level code (we probably actually would need to inherit and then overwrite to not mess with other uses of masked arrays)

[2016-10-05 14:45] nelson-liu opened #7581 "20_news docs not rendering correctly"
#### Description
The docs of the 20 newsgroups dataset is not rendering correctly, missing information about default for its parameters / extra colons at the end. See http://scikit-learn.org/dev/modules/generated/sklearn.datasets.fetch_20newsgroups.html#sklearn.datasets.fetch_20newsgroups

[2016-10-05 14:58] bluemonk482 opened #7582 "REGRESSION: StratifiedShuffleSplit errors on list y"
Just updated sklearn:

[code]

Now receiving errors for importing model_selection modules:

[code]

[code]

[2016-10-05 15:08] bluemonk482 commented on #7582
`from sklearn.cross_validation import train_test_split` works but shouldn't 0.18 version be updated now?

[2016-10-05 15:21] amueller commented on #7582
How did you install and update scikit-learn?
If you install with conda and update with pip, there will be left-over files. I recommend uninstalling, removing the folder entirely, and reinstalling.

[2016-10-05 15:29] Irene-GM commented on #6583
I just saw the version 0.18 of sklearn-stable is already available! I upgraded the package with pip and now the code is working. Thanks.

[2016-10-05 15:29] #6583 closed

[2016-10-05 15:30] amueller commented on #5326
closing as no reply

[2016-10-05 15:30] #5326 closed

[2016-10-05 15:37] amueller commented on #3298
@joaquinvanschoren interestingly that paper didn't discuss any of the multi-class AUC papers mentioned above, in particular not the Fawcett paper from 2005.

[2016-10-05 15:45] amueller commented on #3298
so currently we only have multi-label, and so we want to add multi-class with 1vs1 and 1vsRest and they each have weighted and unweighted variants.
I don't really understand how the ``sample`` and ``micro`` averaging work for AUC :(

So... I propose we add a parameter ``multi-class`` to AUC and that can be ``ovo`` or ``ovr``, and will consider the weighting parameter. I'm not sure we want to allow

[2016-10-05 15:51] amueller commented on #3298
The summary of the paper @joaquinvanschoren cited also says that all the AUC versions give pretty much the same results.

[2016-10-05 15:54] amueller commented on #7581
because there are no spaces before the ``:`` is my guess.

[2016-10-05 15:58] amueller commented on #7558
Ugh I should remember that. Should we add that to the docs somewhere?

[2016-10-05 16:00] amueller commented on #6451
Not sure but in a recent discussion I though "hey there is no way this works with current API"... and then today I see this issue that I totally forgot about that.

[2016-10-05 16:07] jkarno commented on #7581
I could take a look at this

[2016-10-05 16:08] nelson-liu commented on #7581
great, thanks!

[2016-10-05 16:09] Borda commented on #6191
I am just looking into the code
def label_binarize(y, classes, neg_label=0, pos_label=1, sparse_output=False): ...
and I do not understand the philosophy of having option neg_label, pos_label with restriction of neg_label < pos_label while the positive and negative is already given by order of classes which is required... Could it depreciate this to variables and so introduce an option to have eve

[2016-10-05 16:16] chenhe95 commented on #6711
I will take a look into this.

[2016-10-05 16:19] raghavrv commented on #7562
Yohoo I fixed it at https://github.com/numpy/numpy/pull/8122... We could copy that fix to `utils.fixes` like you described ?

[2016-10-05 16:22] amueller commented on #6191
Hm actually ``neg_label`` and ``pos_label`` mean something different here than the ``pos_label`` in the metrics. Check out the docstring.

[2016-10-05 16:31] bluemonk482 commented on #7582
Yes, forgot I installed with conda. Thanks, issue closed.

[2016-10-05 16:35] Borda commented on #6191
I see only description, no reasonable example
[code]
which doe not justify why neg_label < pos_label for me...
Well, looking to the co I understand what it does :)

[2016-10-05 16:37] amueller commented on #6191
Actually, I'm not sure why we enforce that here. @arjoly ?

[2016-10-05 16:41] amueller commented on #7562
@GaelVaroquaux said -1 on that above but github swallowed his comment.

[2016-10-05 17:07] amueller commented on #7579
go for it @ivallesp

[2016-10-05 17:07] amueller commented on #7578
@ivallesp try one of them at a time ;)

[2016-10-05 17:13] Borda commented on #6191
I made some particular correction and extend doc string, such that it should not influence previous usage... just wondering how to test weather it works fine (calling this new function not previous already installed) do you have hit, I was  looking at http://scikit-learn.org/stable/developers/contributing.html#contributing-code

[2016-10-05 17:27] raghavrv commented on #7562
Ah sorry I missed that comment. It doesn't show up in github. @GaelVaroquaux Are you still -1 for that even if that fix gets merged into numpy?

So we have 3 options -

1. Wait for the fix to be merged, patch it by subclassing (not monkey-patching) the `MaskedArray` - Compatible with sklearn 0.18.0
2. Patch our `GridSearchCV.__setstate__` with the fix that I described above...
3. Avoid `MaskedArra

[2016-10-05 17:31] bluemonk482 commented on #7582
With `from sklearn.model_selection import train_test_split` I am getting IndexError for splitting Pandas DataFrame:
[code]

[code]

With the old version `train_test_split`, I get no error and resulting splits are correct. Is there any differences between the old and the new that caused the IndexError? Thanks.

[2016-10-05 17:32] raghavrv commented on #7562
If we don't use `MaskedArray`, pandas does not do type sniffing for us.

[code]

[2016-10-05 17:43] shoeffner opened #7584 "(Incremental)PCA's Eigenvectors are not transposed but should be?"
#### Description
When doing PCA manually I would create the eigenvectors of the covariance matrix either using eig/eigh/svd etc. When doing it with scikit learn, I get inconsistent results.

Please refer to [stackoverflow][sto] for details if the description below is not enough. You can find a full working example of the jupyter notebook [here (gist)][gist] ([nbviewer][nbv]).

#### Steps/Code to R

[2016-10-05 17:52] ivallesp commented on #7578
Cool, good idea. So I choose the other one!

[2016-10-05 18:48] amueller commented on #7584
You should compare against what is produced by the ``transform`` method.
You can pretty clearly see from the shape of ``components_`` and the code of ``transform`` that you need to transpose the ``components_`` array before the dot product:
https://github.com/scikit-learn/scikit-learn/blob/412996f09b6756752dfd3736c306d46fca8f1aa1/sklearn/decomposition/pca.py#L697

[2016-10-05 18:55] amueller commented on #7582
No, there shouldn't have been a change there.
I'm not sure that ``stratify`` is tested with a dataframe. What's the shape of ``meds``?

[2016-10-05 18:58] amueller commented on #7572
So options are skip on this platform or add an epsilon to the test in ``matthews_corrcoef``?
Maybe just skip that test there.

[2016-10-05 19:12] amueller commented on #5129
yes

[2016-10-05 19:12] #5129 closed

[2016-10-05 19:13] #3813 closed

[2016-10-05 19:17] amueller commented on #7091
There's still no PR, right? I'll ask my students.

[2016-10-05 19:26] amueller commented on #2639
Should we summarize and close and make a new issue? This one got pretty carried away lol

[2016-10-05 19:28] amueller commented on #7574
Might. What's the generic interface that the logger implements? This is additional complexity but I think we need to do this at some point.

[2016-10-05 19:33] bluemonk482 commented on #7582
Ah ok `meds` is a list. After converting to numpy array, it now works. Thanks!

Interestingly the 0.17 version `stratify` works with list.

Issue closed.

[2016-10-05 19:37] amueller commented on #7582
That is strange and shouldn't happen. Can you confirm that exactly the same code worked on 0.17? Then that is a regression :(

[2016-10-05 19:41] amueller commented on #7582
@raghavrv there's a check on y missing, maybe ``check_Xy``? Would you mind seeing if that is also the case for other stratified models or other grouped models? We should accept lists everywhere.

[2016-10-05 19:44] amueller commented on #7582
I changed the title to reflect the actual issue which we should fix asap.

[2016-10-05 19:46] amueller commented on #7522
@jnothman I have no idea how you keep up... Major props.

[2016-10-05 19:50] amueller commented on #7522
So, do we want to be conservative and wait till Ubuntu drops support for 1204? I think @jnothman it looks like you thought we were tracking 1004, but we're actually tracking 1204 if I see this correctly.

[2016-10-05 19:52] amueller commented on #7563
Can you please add code to reproduce the error, ideally on a synthetic dataset?

ping @jmetzen who will soon regret ever having heard about  the sklearn project lol

[2016-10-05 19:53] amueller commented on #6627
We added something to the FAQ sometimes. Or we could actually have a list of known problems.

[2016-10-05 19:54] amueller commented on #6130
@cbjorgol try updating anaconda. Some versions of conda have linking issues which they might have fixed already. ``conda update anaconda`` should do the trick.

[2016-10-05 20:01] amueller commented on #7568
``exp_var_diff`` is set to zero in some places, and then we divide by it... that seems like a bad idea.
Pretty sure there is a math bug.

[2016-10-05 20:10] amueller commented on #3754
@GaelVaroquaux can you elaborate? That seems like a pretty killer feature.

[2016-10-05 20:45] bluemonk482 commented on #7582
@amueller Yes, can confirm. Error is reproduced on my home machine. 0.17 works with `stratify = list` then 0.18 installed and now does not work.

[2016-10-05 20:45] GaelVaroquaux commented on #3754
This is still speculation and work in progress. In addition, there is a mistake in my comment above: I should have said "distributed" and not "dask". The two are related, but dask is higher-level than distributed, as so far we are unable to use the benefits that come from it's high-level aspects (mainly the smart scheduler).

The latest joblib enables backends for parallel computing (and we're wor

[2016-10-05 20:47] amueller commented on #3754
hm have you talked with @mrocklin?

[2016-10-05 20:49] GaelVaroquaux commented on #3754
Yes, quite a lot actually. He is the one who coded the distributed backend.

[2016-10-05 20:49] elliott2081 opened #7586 "Broken Link on Bleeding Edge installation instructions web page"
#### Description

In the bleeding-edge installation instructions there is a link to the Nose testing package.

https://somethingaboutorange.com/mrl/projects/nose/

but that page appears to be missing possibly permantly. I think it should be this -> http://nose.readthedocs.io/en/latest/

the original page on sci-kit.org is here -
http://scikit-learn.org/stable/developers/advanced_installation.html#

[2016-10-05 20:51] nelson-liu commented on #7586
Could you help us open a PR to fix this ?

[2016-10-05 20:51] raghavrv commented on #7582
Could you give me a reproducible sample code? The following seems to work for me

[code]

[2016-10-05 20:51] GaelVaroquaux commented on #3754
The distributed backend lives in distributed. The IPython backend lives in IPython. The vision is for extensibility of the computation framework without. I like to call it "using infrastructure without buying into it".

I'll discuss this a bit at the end of my ODSC keynote in London https://www.odsc.com/london. @pprett will be there :). @mrocklin couldn't come, unfortunately.

[2016-10-05 20:53] amueller commented on #3754
damn should have come ;)

[2016-10-05 20:59] GaelVaroquaux commented on #3754
Slides are here: https://filesender.renater.fr/download.php?files_ids=675641
People, please don't tweet them: the talk is still in a few days.
Beside, they were done in a rush, and the first two parts are very much reused material. I am happy to take feedback, but I cannot modify them.

The vision is also a bit exposed in my europython keynote (slides http://www.slideshare.net/GaelVaroquaux/scient

[2016-10-05 21:01] jnothman commented on #6583
Thanks for coming back to check and closing the issue!

On 6 October 2016 at 02:29, Irene <notifications@github.com> wrote:

[2016-10-05 21:02] bluemonk482 commented on #7582
@raghavrv Ah I think the error is caused by the stratify list having strings. So
[code]

[2016-10-05 21:08] mrocklin commented on #3754
The dask.distributed scheduler can probably handle the orchestration involved here.  The dask.distributed joblib backend could still use some work.  It was the most naive thing we could build in a short time that worked.  I agree that this is a cheap way to explore nested parallelism within sklearn.  We would probably want to do some more serious testing and cross development within joblib and das

[2016-10-05 21:10] shoeffner commented on #7584
So `components_` are in fact not the real components but their transpose. Is there a reason why? Otherwise it seems more reasonable to store the right version already rather than transposing it before each transformation. In that case it would also be more approachable to actually get the correct components, for e.g. visualizing them.

But I guess there's a reason to have them transposed there, so

[2016-10-05 21:17] GaelVaroquaux commented on #3754
That's probably an assumption that we can relax.

I agree that we should do a joint sprint. It would be fun and productive.

OK, you can try that:
https://filesender.renater.fr/?s=download&token=30d84354-6294-a661-a311-ac34da428a90

[2016-10-05 21:32] amueller commented on #7584
I'm not sure what you mean by "real components" and "right version"? It's a question of whether they are stored as row or as column vectors. You assumed they were stored as column vectors, but we store them as row vectors. We usually store data as row vectors, so that seems somewhat more natural, and makes it easier for users to access the components, like, for visualizing them ;)

The way you can

[2016-10-05 21:58] nuffe commented on #7551
@agramfort okay I see, but I thought in the ridge case, which has a closed form solution, the entire regularisation path is computed in one go, making the addition of a CD solver unnecessary?

[2016-10-05 22:01] gpkc commented on #7549
Can I try doing this?

[2016-10-05 22:11] amueller commented on #7549
shure, go ahead :)

[2016-10-05 22:27] amueller commented on #7475
I like sensible defaults. I don't like deprecations but I think scikit-learn will be around long enough that we should get rid of weird behaviors where we can now.

[2016-10-05 23:15] Mikelew88 opened #7587 "Segmentation Fault after import Python 2.7.12"
#### Description

#### Steps/Code to Reproduce

[code]

#### Expected Results
No error is thrown.

#### Actual Results
[code]

#### Versions
Linux-3.13.0-74-generic-x86_64-with-debian-jessie-sid
('Python', '2.7.12 |Continuum Analytics, Inc.| (default, Jul  2 2016, 17:42:40) \n[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]')
('NumPy', '1.11.1')
('SciPy', '0.18.0')
[1]    35822 segmentation fault (core dump

[2016-10-05 23:16] jnothman commented on #3754
I noticed this issue a few weeks ago and didn't have the time to gather my thoughts together. Apart from distributed potentially allowing an elastic number of nodes, joblib currently calculates the meaning of `n_jobs=-1` etc from `multiprocessing.cpu_count()`. Sometimes, such as when batching up chunks an array for parallel processing, the user may divide their task into some number of objects, a

[2016-10-05 23:18] jnothman opened #7588 "Documentation should mention the Need Contributor label"
The docs currently suggest new contributors find Easy issues. This is still a good idea, but increasingly we're using the "Need Contributor" label for issues regardless of the difficulty of the issue (which is often hard to estimate). We also use "Need Contributor" to mark Pull Requests that the original contributor has abandoned, i.e available for someone to pick up where they left off.

This lab

[2016-10-05 23:19] nelson-liu commented on #7587
how did you install scikit-learn? Have you tried removing and reinstalling?

[2016-10-05 23:19] jnothman commented on #7588
Tagging this as 0.18.1 to encourage backporting :)

[2016-10-05 23:21] jnothman commented on #7522
Yes, I suppose we'll be conservative on scipy and numpy and wait for a year..? Although I don't really see the harm in running a little ahead of Ubuntu LTS.

[2016-10-05 23:24] Mikelew88 commented on #7587
I have tried uninstalling and reinstalling with both conda and pip.

[2016-10-05 23:26] jnothman commented on #7558
Perhaps we should document it; perhaps we should ensure it's tested; and it should at least be commented.

[2016-10-05 23:31] jnothman commented on #7562
Noooo don't monkey-patch numpy! Anything but that!

And don't use None as a placeholder!

[2016-10-05 23:32] jnothman commented on #7562
Actually, if we only need to monkey patch `__getstate__`, and not `__setstate__`, maybe it's not so bad. Great work, @raghav!

[2016-10-05 23:34] jnothman commented on #7562
It's still a bit problematic, but at least it's backwards compatible.

[2016-10-05 23:34] jnothman commented on #7562
The problem is users creating code that depends on our monkey patch and then being surprised that it breaks when sklearn isn't loaded.

[2016-10-05 23:36] raghavrv commented on #7562
Ofcourse! I suggested subclassing and overrideing the `__getstate__` instead of monkeypatching. I'm also -1 for monkey-patching for the same reasons... :)

[2016-10-06 00:28] agramfort commented on #7551
CD can be quite fast and has a very low memory footprint. It basically has
an O(n_samples) memory usage. It would need to be evaluated in terms of
perf that's true.

Quick fix is for now to throw an error if l1_ratio=0.

can you send a PR?

[2016-10-06 03:01] #7581 closed

[2016-10-06 03:07] #7329 closed

[2016-10-06 05:16] GaelVaroquaux commented on #3754
I agree. I thought that I had brought this up during review of the
backend protocol.

Anyhow, I created an issue for that:
https://github.com/joblib/joblib/issues/410

[2016-10-06 06:40] yxtay commented on #7475
My view on this is that normalizing whitespaces in required for `analyzer='char_wb'` due to the use of whitespaces to detect word boundaries. However, this step is not relevant at all if `analyzer='char'`. Hence, it should be removed completely.

If the user would want to have a special handling of whitespaces, he can still do the preprocessing beforehand or pass in the preprocessing function into

[2016-10-06 07:46] nuffe commented on #7551
I can send a PR where I just raise a `ValueError` if `l1_ratio == 0.0` [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/coordinate_descent.py#L1065), is that ok?

[2016-10-06 08:31] lesteve commented on #7587
Wow nice, I don't remember seeing a segmentation fault at import time to be honest!

Try uninstalling/reinstalling numpy + scipy as well. Mixing conda and pip for the same package is not recommended. If you are using conda, I would strongly recommend to stick to conda for packages that are available through conda, which includes scikit-learn.

Executes this snippet (maybe a few times to make sure

[2016-10-06 08:42] Borda commented on #6191
I made some particular correction and extend doc string, such that it should not influence previous usage... just wondering how to test weather it works fine (calling this new function not previous already installed) do you have hit, I was  looking at http://scikit-learn.org/stable/developers/contributing.html#contributing-code
I tried to run the particular file in debug mode, but it crash on rela

[2016-10-06 08:47] lesteve commented on #7582
Confirmed. Here is an updated snippet that can be run under both 0.17 and 0.18:

[code]

[2016-10-06 09:36] jnothman commented on #7475
The question is not about appropriateness, but about how to maintain
backwards compatibility.

On 6 October 2016 at 17:40, YuXuan Tay <notifications@github.com> wrote:

[2016-10-06 09:36] jnothman commented on #7475
And how not to over-complicate something that's too complicated already and
marginal to scikit-learn's scope.

On 6 October 2016 at 20:36, Joel Nothman <joel.nothman@gmail.com> wrote:

[2016-10-06 09:39] jnothman commented on #6191
You can run particular files, if you're sure that's what you want to do,
with something like python -m sklearn.preprocessing.label

On 6 October 2016 at 19:42, Jirka Borovec <notifications@github.com> wrote:

[2016-10-06 09:45] yxtay commented on #7475
I understand where you are coming from, which is why I am not suggesting a change in the interface of the vectorizer classes. The `preprocessor` argument already exists in the current interface. Users can specify custom preprocessing function to be applied on the documents through that argument.

[2016-10-06 10:19] GSzpak commented on #7558
I can add it to `test_pipeline_init ` (or add a separate test) if you don't mind.

[2016-10-06 11:01] jnothman commented on #7558
Perhaps as a separate PR. I'd rather merge the fix first.

[2016-10-06 15:10] elliott2081 commented on #7586
I did. As I noted in the PR, this has been fixed before. I can't find a commit that reversed the change. But the current branch code definitely is using the broken link.

[2016-10-06 15:12] raghavrv commented on #7582
@bluemonk482 @lesteve Thanks for confirming... I've made a PR at #7593 that fixes this.

[2016-10-06 16:15] shoeffner commented on #7584
It makes sense from a numpy point of view (row-major), I agree. Thank you for clearing this up!

[2016-10-06 16:15] #7584 closed

[2016-10-06 16:20] #7587 closed

[2016-10-06 16:20] Mikelew88 commented on #7587
Conda update -all resolved issue.

[2016-10-06 17:18] kgilliam125 commented on #7588
Hey @jnothman I can take this one on. I could change `doc/developers/contributing.rst` to have something like:

### New Contributors

#### Easy Issues
Current Easy Issues text

#### Need Contributor
explanation of what the Need Contributor tag means for sklearn, based on your comment above.

[2016-10-06 17:27] nelson-liu commented on #7588
@kgilliam125 that sounds good ; feel free to open a PR and we can discuss further there :)

[2016-10-06 17:28] amueller opened #7595 "Moved exceptions need to inherit from old ones?"
So I just talked to someone at vw and their tests broke upgrading to 0.18.
They imported the NotFittedError from the old location and checked that it was raised by an estimator. The estimator raised the new one now though, so the test fails.
Inverting the inheritance relation should fix this, but that would break people raising the old one and using our check_estimator, I think. So I'm not sure wh

[2016-10-06 19:39] kchen17 commented on #3298
@amueller: Had a chance to read your comment again, and I'm a little confused about this part:

I was going to modify the `roc_auc_score` to incorporate a `multiclass=['ovo', 'ovr']` parameter. If OvR is default (`roc_auc_score(y_true, y_score, multiclass="ovo" ... )`), but Hand & Till is OvO, what do I do w.r.t addressing the OvR part of the implementation?

[2016-10-06 21:20] jnothman commented on #7558
Thanks for catching and fixing this, @GSzpak

[2016-10-06 21:20] #7558 closed

[2016-10-06 21:21] jnothman commented on #7595
Can't we just import exceptions.NotFittedError into Validation? Not sure
why we didn't in the first plae.

On 7 October 2016 at 04:28, Andreas Mueller <notifications@github.com>
wrote:

[2016-10-06 22:20] #4639 closed

[2016-10-07 09:20] #7436 closed

[2016-10-07 09:24] #7586 closed

[2016-10-07 10:18] lesteve commented on #7522
They will stop 17/10: https://wiki.ubuntu.com/LTS

For the sake of completeness 12.04LTS is supported until April 2017 (and not October) https://wiki.ubuntu.com/#Releases

| Released (Current & Stable) | Version | Release Schedule | Support Date |
|-----|----|----|----|
| Precise Pangolin | 12.04 LTS | April 26, 2012 | Supported until April 2017 |

[2016-10-07 10:40] denis-bz opened #7596 "except KeyboardInterrupt: pass in neural_network/multilayer_perceptron.py"
#### Description
in 0.18, neural_network/multilayer_perceptron.py  _fit_stochastic has

    try:
    ...
    except KeyboardInterrupt:
        pass

Looks like a late-night patch ?

[2016-10-07 11:00] kingfengji commented on #7554
I updated my conda and all the trouble suddenly gone..
Sorry for the trouble in a hazz.....its the weather to be blamed.
Thanks!

[2016-10-07 11:00] #7554 closed

[2016-10-07 12:46] minoriwww opened #7597 "In some pages the nav-trigger bar move to a wrong position"
![default](https://cloud.githubusercontent.com/assets/17930733/19189768/517c4ef2-8ccc-11e6-8d6f-965f7c86b054.PNG)
![1](https://cloud.githubusercontent.com/assets/17930733/19190000/8541aff6-8ccd-11e6-91f8-107d18fa6623.PNG)

Maybe a mistake by sphinx? It's really confusing.

[2016-10-07 13:46] Rendiere opened #7598 "BUG: Using GridSearchCV with scoring='roc_auc' and GMM as classifier gives IndexError"
When performing grid search using GridSearchCV using ootb scoring method 'roc_auc' and ootb GMM classifier from sklearn.mixture.GMM I get an index error.
Code to reproduce:

[code]

Sorry if the format is incorrect. First time I am posting.

ERROR:
  File "*/python2.7/site-packages/sklearn/metrics/scorer.py", line 175, in **call**
    y_pred = y_pred[:, 1]
IndexError: index 1 is out of bounds for

[2016-10-07 14:14] Rendiere commented on #7598
Updated to 0.17.1 and issue persists ( Changing GMM to GaussianMixture)

[2016-10-07 14:51] dhimmel commented on #7536
Okay here is what I came up with. This function assumes every selection step of the pipeline starts with the name `select` (not sure whether there is a better way to discriminate selection steps).

[code]

[2016-10-07 15:59] makmanalp commented on #5523
Has anyone thought about the mechanics of how to pass the names around, from transformer to transformer, and perhaps how to track the provenance? Where would one store this?

A friend of mine, @cbrummitt , has a similar problem, where each column of his design matrix is a functional form (e.g. x^2, x^3, x_1^3x_2^2, represented as sympy expressions), and he has transformers that act similarly to Po

[2016-10-07 16:28] amueller commented on #7598
The error is strange, but GMM is not a supervised model, so AUC doesn't really make sense.

[2016-10-07 16:30] amueller commented on #7596
Not really? It stops the training on ctrl-C.

[2016-10-07 16:30] amueller commented on #7595
If we import it, it doesn't raise a deprecation warning. I'm not sure there's actually a solution that works in all cases and raises a warning :(

[2016-10-07 16:42] amueller commented on #5523
see #6425 for the current idea.

[2016-10-07 16:43] amueller commented on #7536
Cool. I mean the real fix is to implement #6425 which requires a write-up of how it'll all work in the end.

[2016-10-07 16:44] amueller commented on #7522
Then their graph looks kinda wrong... huh.

[2016-10-07 16:49] amueller commented on #7558
@GSzpak if you like you can open an issue and/or PR for the tests and doc. That would be much appreciated.

[2016-10-07 16:51] amueller commented on #3298
Sorry, I was expecting you to implement both ``ovo`` and ``ovr`` ;) I think that should be fairly straight-forward.

[2016-10-07 16:58] amueller commented on #7475
@yxtay yeah but how would you change the current behavior in a backward compatible way without introducing another option?

[2016-10-07 17:18] amueller commented on #7432
We can't really use pandas for now anyhow. They have their own custom category type, I wouldn't be surprised if that's faster.

[2016-10-07 17:22] tetraptych opened #7600 "Incorrectly Specified Error Message"
#### Description

In lines 300-310 of ensemble/partial_dependence, an error message is incorrectly specified:

[code]

Note that the index error can only be thrown by `feature_names[i]`, not `features[i]` as the error claims. Initially, I expected the `feature_names` array to correspond to the`features` array (in particular, that they'd be the same length). Since I was only interested in partial d

[2016-10-07 17:27] amueller commented on #7451
+1. Can this be done with a bookmarklet? ^^

[2016-10-07 17:28] amueller commented on #7600
PR welcome.

[2016-10-07 17:29] nelson-liu commented on #7451
Perhaps, though I'm not sure if people would use it. Tag as easy / need contributor ?

[2016-10-07 17:31] #5385 closed

[2016-10-07 17:34] amueller commented on #7439
They mean the 95% mass of the per-class gaussian. I think we should change the title of the example and explain what the ellipses mean. PR welcome.

[2016-10-07 17:46] amueller commented on #5935
@lucasdavid sorry for not following up on this. Is there still a PR for this feature?

[2016-10-07 17:51] amueller commented on #6031
The numeric issues seem to be fixed in master but the ``explained_variance_ratio_`` still have different sized :(

[2016-10-07 17:59] amueller commented on #1975
@jnothman should we close this? Or first check if any models still have that with ``inspect``?

[2016-10-07 18:03] JPFrancoia commented on #6031
Yes, this is because of #6032 . The problem is well defined, but fixing the bug is an API change.

[2016-10-07 18:06] JPFrancoia commented on #7439
I can change the title and the text, but I don't know what "95% mass of the per-class gaussian" means, so I can't really explain what the ellipses mean. I someone can quickly answer here, I'll make the PR.

[2016-10-07 18:09] amueller commented on #6031
Ok closing this as duplicate of #6032 then

[2016-10-07 18:09] #6031 closed

[2016-10-07 18:10] amueller commented on #6032
I vote this is a bugfix and the change is ok. Was the attribute introduced in 0.18 or before?

[2016-10-07 18:11] rth commented on #7513
OK, I finally looked a bit more into this, here is the classification accuracy and the relative error between the inner product in the hashed space vs the one before hashing, as a function of the hashing table size, for 3 cases,
  - `non_negative=False`: with the "alternating sign" / collision compensation mechanism
  - `non_negative=True`: same as above + absolute value of the result
  - `non_neg

[2016-10-07 18:13] amueller commented on #7439
Oh actually, it might be only one standard deviation of the Gaussian, sorry. But I'm not entirely sure what the best way to phrase it is. Either say it's visualizing the covariance or the standard deviation?

[2016-10-07 18:20] amueller commented on #6190
fixed in master.

[2016-10-07 18:20] #6190 closed

[2016-10-07 18:21] JPFrancoia commented on #6032
It was merged in master on the 11 Sep 2015

[2016-10-07 18:23] lucasdavid commented on #5935
That's alright @amueller. Yes, [pull 5969](https://github.com/scikit-learn/scikit-learn/pull/5969) and I think it's ready for merging.

[2016-10-07 18:29] JPFrancoia commented on #7439
If I'm not wrong, they are plotting the standard deviation, because:

[code]
and

[code]

They are taking the square root here, so I think it's the std.

[2016-10-07 18:30] amueller commented on #6231
+1 on adding ``labels`` to all metrics.

And I agree this is an issue with the current design of the scorers. I think the classifiers should actually pass the ``classes_`` to the scorer. There is even more issues with this, if this happens in cross-validation, for example, as different folds might have different classes, so we might want to tell all classifiers what the classes are (but that propo

[2016-10-07 18:33] amueller commented on #6246
Can you provide code to reproduce this error - even if not deterministically? Sorry for the late reply.

[2016-10-07 18:35] amueller commented on #6231
I feel this is pretty important, as currently results can be pretty wrong if not all classes are present in a test set.

[2016-10-07 20:23] mgoldwasser opened #7603 "When min_samples_split and min_samples_leaf are greater than or equal to 1.0 and 0.5, no error is thrown."
#### Description
This is a silent bug in version 0.18.0, as a result of the following change: "Random forest, extra trees, decision trees and gradient boosting estimator accept the parameter min_samples_split and min_samples_leaf provided as a percentage of the training samples. By yelite and Arnaud Joly."

The bug is that no error is thrown when large float values are passed. In theory, it would

[2016-10-07 20:38] nelson-liu commented on #7603
yeah, seems like the problematic line of code is https://github.com/scikit-learn/scikit-learn/blob/da118d0cb406c5a968cdeef6416c7b681022329c/sklearn/tree/tree.py#L261.

Note that we only want to check if it is between (0.0, 1.0) if float or greater than 2 if not a float (in the case of min_samples_split) --- no errors are thrown if you provide an integer that is greater than `n_samples`. In this ca

[2016-10-07 20:41] nelson-liu commented on #7603
Also the logic is wrong here, `self.min_samples_split` is not the same as `min_samples_split`

[2016-10-07 20:49] nelson-liu commented on #7603
I can open a PR to fix it

[2016-10-07 21:02] mgoldwasser commented on #7603
Thanks! I appreciate it

[2016-10-07 21:25] amueller commented on #7597
thanks for the report. Probably our issue, not sphinx. What's your browser and OS?

[2016-10-07 21:27] amueller commented on #6420
ping @jmschrei @glouppe @arjoly ?

[2016-10-07 21:33] amueller commented on #5570
Sorry for the slow reply. It's true that for non-linear models, R^2 doesn't need to be >0, but it's always <= 1.
We're basically always using the wikipedia definition without taking the model into account:
https://en.wikipedia.org/wiki/Coefficient_of_determination

This is somewhat non-standard but unfortunately it's a bit hard to change. In particular when using a test set, it's a bit unclear to

[2016-10-07 21:37] amueller commented on #6679
I missed this issue but recently changed the default.

[2016-10-07 21:37] #6679 closed

[2016-10-07 21:38] amueller commented on #6701
This is for the old GP, right?

[2016-10-07 21:38] amueller commented on #7299
In 0.18, the result of ``transform`` is normalized. Sorry for the slow reply. Please reopen if this doesn't answer your question.

[2016-10-07 21:38] #7299 closed

[2016-10-07 21:42] amueller commented on #5853
I think this is a good idea. Many people have asked for this. The question is a little bit in which format the categorical variable should be. I guess not yet one-hot-encoded, so the groupings are clear. And then a boolean matrix or indices need to be provided to specify which columns to encode.

This is "easy" but it's a new estimator, so probably not for a first time contribution.

[2016-10-07 21:44] amueller commented on #6456
I think we decided not to fit errors in the old GaussianProcess any more because there are too many issues. Please try the new ``GaussianProcessRegressor``. Sorry for the slow reply.

[2016-10-07 21:44] #6456 closed

[2016-10-07 21:45] amueller commented on #7326
Duplicate of #7299, fixed in master.

[2016-10-07 21:45] #7326 closed

[2016-10-07 21:45] amueller commented on #6378
Any update on this @groceryheist ?

[2016-10-07 21:46] amueller commented on #1183
I think this is still interesting but it seems to clutter the API a lot.
On the other hand, this keeps coming up in all kinds of places.

[2016-10-07 21:47] amueller commented on #6502
Closing this as wontfix for now. A friend implemented this using SQL but I don't think this is something we need to worry about in scikit-learn for now.

[2016-10-07 21:47] #6502 closed

[2016-10-07 21:48] amueller commented on #4799
the current setup is ok and we'll soon move to py.test. closing

[2016-10-07 21:48] #4799 closed

[2016-10-07 21:50] amueller commented on #6643
This is the same as for 0.18, right?

[2016-10-07 21:54] amueller commented on #5948
Also see #4621 #4618

[2016-10-07 21:56] amueller commented on #6406
Sorry for the slow reply. I think there's a standard definition of bootstrap and we implement that.
In scikit-learn, the class weight or the sample weight will weight the sample in a way that is equivalent to adding as many additional samples to the data.
Does that answer your question?

[2016-10-07 21:59] amueller commented on #6500
Can you please try again with master? Sorry for the slow reply.

[2016-10-07 21:59] amueller commented on #6915
What do you mean by "V" parameter?

[2016-10-07 22:00] amueller commented on #5510
closed by #7453.

[2016-10-07 22:00] #5510 closed

[2016-10-07 22:01] amueller commented on #6520
I think ``__repr__`` is the worst possible way to try to extract the pipeline. use ``get_params`` instead.

[2016-10-07 22:01] #6520 closed

[2016-10-07 22:04] amueller commented on #5898
So you want ``precision@k`` and ``recall@k``? See #4975.

[2016-10-07 22:08] amueller commented on #6571
You  can set ``warnings.filterwarnings('raise', category=DeprecationWarning)`` to raise errors instead, which will give you a traceback. Warnings don't come with tracebacks.

[2016-10-07 22:08] #6571 closed

[2016-10-07 22:10] amueller commented on #4817
I agree, that would be nice to have.

[2016-10-07 22:16] amueller commented on #6845
Orthogonal projections to latent structures (O‐PLS) by J Trygg, S Wold?
No current plans. We could. First we fix up our current PLS / CCA, though.

[2016-10-07 22:18] amueller commented on #6834
fixed in #5762.

[2016-10-07 22:18] #6834 closed

[2016-10-07 22:19] amueller commented on #6487
duplicate of #78.

Answer: no-one implemented it, also it makes it more complicated for the average user.
If you make a good case, a PR might be accepted.

[2016-10-07 22:19] #6487 closed

[2016-10-07 22:22] amueller commented on #6128
Can you check on current master or 0.18? I tried your snipet and get an import error for ``SquareExpWithBool``

[2016-10-07 22:23] amueller commented on #4343
I think actually we might want OneHotEncoder to take a mask.

[2016-10-07 22:23] #6733 closed

[2016-10-07 22:41] amueller commented on #6240
I think we should actually not implement ``predict_proba`` if we don't train with log-loss and raise an ``AttributeError`` instead.

[2016-10-07 22:44] amueller commented on #6247
Actually, gensim will soon implement a scikit-learn compatible interface! :)

[2016-10-07 22:49] amueller commented on #2077
@kaichogami was there a PR for this?

[2016-10-07 22:56] amueller commented on #6033
Fixed in #6282

[2016-10-07 22:56] #6033 closed

[2016-10-07 22:59] amueller commented on #6500
See #6288

[2016-10-07 23:08] #5844 closed

[2016-10-07 23:08] amueller commented on #6245
actually, I think it's very plausible. It's just a question of when and how ;)

[2016-10-07 23:10] amueller commented on #6265
Is this fixed by #7356 ?

[2016-10-07 23:10] amueller commented on #4223
Is this fixed by #7356?

[2016-10-07 23:15] amueller commented on #6326
Well the pos_label needs to correspond to the positive label of the classifier, which is determined by the ordering of the labels (lexicographic in this case). Without the rest of the code it's hard to say what's going on. Please reopen if this doesn't answer your question.

[2016-10-07 23:15] #6326 closed

[2016-10-07 23:17] kgilliam125 commented on #7600
I can take a look at it today/tomorrow. I'll set up a [WIP] PR when I get started if one doesn't exist already.

[2016-10-07 23:24] amueller commented on #6323
Someone want to add a PR for removing the default values?

I feel like having in there whether the model is fitted or not would be nice, but I'm not entirely sure how to achieve that. We currently have the ``check_is_fitted`` in ``predict`` but that requires data to call. We could move that to a private method that can be called without data but that seems like a big change.

I'm not sure how to i

[2016-10-07 23:36] amueller opened #7608 "RFC binary operators on estimators"
So maybe this is not that bad an idea?

https://gist.github.com/amueller/643f812a275a9e0c75048aab6988a92c

@jnothman can you maybe point me to what you meant?

[2016-10-07 23:52] amueller commented on #6350
@Gunjan21 do you know if svmlight accepts that format? It seems trickier to parse.

[2016-10-07 23:54] mannby commented on #6245
Note that https://github.com/scikit-learn/scikit-learn/pull/6448 not only provides parallelization of multi-class linear regression, but also manages the memory better than a naive parallelization would, since liblinear creates unnecessary copies, which become highly problematic on large datasets.

I've been using the patch (6448) for a long time now, and it's robust.

[2016-10-08 00:07] amueller commented on #6361
I think such an example in the narrative docs would be great.

[2016-10-08 00:07] amueller commented on #6361
actually there is one for ShuffleSplit.. never mind.

[2016-10-08 00:07] #6361 closed

[2016-10-08 00:08] amueller commented on #6341
I think this is a good candidate for scikit-learn-contrib, rather than scikit-learn itself.

[2016-10-08 00:09] #6341 closed

[2016-10-08 00:12] amueller commented on #6259
@agramfort why not get this into scikit-learn?

[2016-10-08 00:13] amueller commented on #6259
@AmazaspShumik do you want to get this into scikit-learn-contrib? https://github.com/scikit-learn-contrib/scikit-learn-contrib/blob/master/README.md

[2016-10-08 00:15] amueller commented on #6276
This is indeed a very frequent question.

[2016-10-08 00:18] amueller commented on #6346
@yenchenlin are you working on this?

[2016-10-08 00:23] amueller commented on #6402
lol I pushed them back last week. Because I'm smart!

[2016-10-08 00:31] amueller commented on #6259
Also see #1513

[2016-10-08 00:40] amueller commented on #6408
closing as no reply

[2016-10-08 00:40] #6408 closed

[2016-10-08 00:41] amueller commented on #4580
@siddharthswarnkar It would be good to see how this compares against the existing AIC and BIC for finding the number of clusters.

[2016-10-08 00:42] #5933 closed

[2016-10-08 00:45] amueller commented on #6355
``n_components`` can be at most ``n_classes - 1`` and imho should not influence prediction but only transformation of the data. The transformation should use the top ``n_components`` many components, similar to PCA.

[2016-10-08 00:46] amueller commented on #6355
I think this behavior is totally intended.

[2016-10-08 00:46] #6355 closed

[2016-10-08 00:48] amueller commented on #6242
ping @glouppe ?

[2016-10-08 00:58] amueller commented on #6245
@mannby I think there is issues if people try to also use joblib because it currently doesn't support nested parallelism. I'm not sure what the right issue is to track that. maybe https://github.com/joblib/joblib/issues/256 or #3754? @ogrisel and @GaelVaroquaux know more ;)

[2016-10-08 01:05] amueller commented on #6440
I agree with @jakevdp that this doesn't make a lot of sense. Closing.

[2016-10-08 01:05] #6440 closed

[2016-10-08 01:10] amueller commented on #6437
We could at least do something like ``min(n_features + 1, n_samples)`` but probably want to look at the literature more closely?

[2016-10-08 01:11] amueller commented on #6298
#6449 is stalled, I'll add the tag again.

[2016-10-08 01:18] amueller commented on #6452
I agree, it should be possible to do this with ``n_samples > n_components > batch_size ``. It's a bit tricky from an API perspective though in the first step. Also, you don't know n_samples in the first step...
If you can store the components, I think you should be able to increase batch_size, too. So maybe it's not worth covering this edge case, and we should just raise an error and suggest incre

[2016-10-08 01:51] minoriwww commented on #7597
I met it in (a bit enlarged page)chrome49，win7
thx and look forward to a better doc :)

[2016-10-08 02:36] kgilliam125 commented on #7600
@tetraptych I tried to reproduce using your example code, but did not get the error you were expecting. Instead, I got `ValueError: BinomialDeviance requires 2 classes.` . Any chance there was an issue with the example?

[2016-10-08 02:43] nelson-liu commented on #7600
@kgilliam125 try:
[code]

[2016-10-08 03:00] amueller commented on #6032
that's too bad. I still would probably change it.

[2016-10-08 03:07] amueller commented on #6460
Can you import scikit-learn without building the docs?
I have never tried building the docs of the dev branch with a stable release. Have you set your path to the dev branch by any chance?

[2016-10-08 03:34] amueller commented on #7289
Just looked at #6423 and came to the same conclusion you did here.
I think in the easiest case we need a way to provide a factory method to create one estimator. Or an iterator if we want to specify multiple configurations.
Where does that live, though? And that's a question both in the code and in the namespace.

I'm not good with programming patterns. My ideas would be to either add a global reg

[2016-10-08 03:36] amueller commented on #6416
@btdai sorry, there is a huge backlog of issues.

[2016-10-08 03:36] amueller commented on #6416
I find it extremely hard to judge what you're saying from the hues. Can you maybe provide a simple numeric example?

[2016-10-08 03:46] amueller commented on #3252
@dalupus yeah the cross-val-scores that you did all use the same splits. I'm not sure if that was intentional. By default no shuffling is done. If you use StratifiedKFold with shuffle=True, the results will be very different. If you want, you can even pass an integer random_state to the cv that is different in each run of the loop, but already they will all be different.

[2016-10-08 03:47] amueller commented on #6496
@borisRa you could use SGDClassifier?

It's very easy to wrap statsmodels in a scikit-learn compatible way.

[2016-10-08 03:49] amueller commented on #6488
Sorry for the slow reply. I'm ok with adding an option to turn this off. But as I said, OneHotEncoder is still being refactored.

[2016-10-08 08:22] JPFrancoia commented on #6032
Shall I open a PR ?

[2016-10-08 10:02] jnothman commented on #7598
Do you really mean updated to 0.17.1, not 0.18?

On 8 October 2016 at 03:28, Andreas Mueller <notifications@github.com>
wrote:

[2016-10-08 10:03] jnothman commented on #7596
perhaps it should pass only after a warning

On 8 October 2016 at 03:30, Andreas Mueller <notifications@github.com>
wrote:

[2016-10-08 10:03] jnothman commented on #7595
Fair enough. Yes, inherit from the one in exceptions.

On 8 October 2016 at 03:30, Andreas Mueller <notifications@github.com>
wrote:

[2016-10-08 10:07] jnothman commented on #5523
All you want is a mapping, for each transformer (including a pipeline of
transformers), from input feature names to output feature names (or some
structured representation of the transformations, which I suspect is more
engineering than we're going to get). That's what #6425 provides.

On 8 October 2016 at 03:42, Andreas Mueller <notifications@github.com>
wrote:

[2016-10-08 10:28] jnothman commented on #1975
Apart from a number of `copy` instances, a `git grep 'def transform'` quickly shows one remaining:
[code]

[2016-10-08 10:53] jnothman commented on #7513
Thanks for this, and fair enough. The inner product preservation only seems
relevant to me in the case where features are not all positives, i.e. not
relevant for text.

I've looked at #909 where this was introduced. Apart from the case of
binary data, where it might be beneficial to preserve binarity (although
this can be done another way), I agree that it's better to avoid this sign
alternation

[2016-10-08 10:57] jnothman commented on #6231
I'd be interested in seeing scorers access classes_ to pass that on to
capable metrics...

On 8 October 2016 at 05:30, Andreas Mueller <notifications@github.com>
wrote:

[2016-10-08 11:19] jnothman commented on #6420
[code]
`clone` relies on `copy.deepcopy`:
[code]

[2016-10-08 11:47] jnothman commented on #6323
I've been wondering about custom HTML display code for a little while...

On 8 October 2016 at 10:24, Andreas Mueller <notifications@github.com>
wrote:

[2016-10-08 11:51] jnothman commented on #7608
In what way is it not a bad idea? :P

The concern I commented on is that
[code]
then with a pipeline needs adjustment:
[code]
This adjustment is much less obvious with operators...

Why `__mul__` not `__add__`?

[2016-10-08 11:56] jnothman commented on #6350
In https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/multilabel/read_sparse/read_sparse_ml.c is the line:
[code]
when reading labels.

Suggests this is not supported.

[2016-10-08 11:56] #6350 closed

[2016-10-08 13:29] GaelVaroquaux commented on #6323
The drawback is that they are then harder to discover.

+1. It also matches the description of what repr and str should be

It's good to keep in mind that __repr__ of an estimator is what's going
to be used in some thing like warnings or error messages. Hence it should
not be too verbose (which goes in the direction of removing default
arguments, and hence contradicts my position above :$ ).

[2016-10-08 13:38] jnothman commented on #6416
decision_function's value should be greater if farther from separating hyperplane. Is that what you're suggesting here?

[2016-10-08 14:00] GaelVaroquaux commented on #6402
It's OK :). I once deleted all files in the Mayavi SVN, a long time ago
:O

[2016-10-08 14:32] kchen17 commented on #3298
@amueller: Noted and that will be incorporated as well! Also wanted to ask: is there any advice on how to detect the difference between multiclass and multilabel? At first, I was just checking the dimensions of `y_score` but very quickly realized this would not be sufficient.

[2016-10-08 15:48] btdai commented on #6416
Dear Andreas and Joel,

I really appreciate your replies on this issue, and understand the huge
backlog of issues.

What Joel said is right. In the case of binary classification, the
decision_function should give 0 at the separating hyperplane, and the
further it is from the hyperplane, the greater the absolute value of
decision_function gives.

For the decision_function in ovr (one vesus rest) ca

[2016-10-08 15:50] joaquinvanschoren commented on #3298
Multilabel means that multiple labels are predicted at once: you get a
vector of predictions per instance. Multiclass means you get a single
prediction but that prediction can have more than two values (it is not
binary).

Sometimes, people solve the multiclass case by binarizing the output, hence
you get multiple binary values per instance (hence multilabel) and this
often causes confusion.
On Sa

[2016-10-08 15:59] maniteja123 commented on #3298
Hi, I hope [type_of_target](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/multiclass.py#L176) could solve the purpose of differentiating between ``multi-label`` and ``multi-class`` output. HTH

[2016-10-08 16:44] ivallesp commented on #7579
I just made a pull request #7612

[2016-10-08 17:45] amueller commented on #7608
Should probably be ``__add__``

I would argue that just shows how bad our GridSearchCV interface is ;) I suggested at some point attaching the parameters to the estimator, that would get rid of the problem.

[code]

But I guess that remains a pipe-dream ;)

[2016-10-08 17:52] amueller commented on #6032
@JPFrancoia go for it :)

[2016-10-08 18:06] amueller commented on #7596
It should probably at least say that it's interrupting training.

[2016-10-08 18:11] amueller commented on #7595
Sorry I didn't follow? Either way of inheriting will brake in some situation.

I thought for a moment that we could import it in ``validation`` and call ``deprecated`` on it but that would basically monkey-patch the original class and so that wouldn't help :(

[2016-10-08 18:18] amueller commented on #3298
using ``type_of_target`` is a good idea. Though in scikit-learn the dimensionality of ``y`` is actually the indicator whether we want to do multi-label or multi-target. If you binarize the output as @joaquinvanschoren suggested scikit-learn will always assume multi-label.

[2016-10-08 18:22] amueller commented on #6416
I don't see any code attached. It would be great if you could provide a numerical example with like 5 data points. Arguing about hues is tricky.

[2016-10-08 18:24] amueller commented on #6323
Actually I might take a stab at this this weekend (if I ever finish my talk).
I think my first draft would allow the user to configure if they want the full parameters or the changed parameters or additional info or not.
We can indeed also use ``__repr__`` vs ``__str__`` vs jupyter html to distinguish these....

[2016-10-08 18:32] amueller commented on #6323
Hm ok maybe ``__repr__`` is the changed parameters and ``__str__`` is the additional info for a first try.
I would include in the additional info for all classes (if they have it):
``classes_``, ``n_outputs_``, ``n_features``, maybe add ``n_features`` everywhere - possibly via a property.
And if any of these are set, we know it was ``fit``. If not, it was not and the ``__str__`` is just the ``__re

[2016-10-08 18:34] amueller opened #7613 "Tree-based models are very hard to introspect"
Currently it's really hard to understand tree-based models imho.
If I train a random forest with default parameters, I might want to know how deep it is or how many leaves it has so that I know how to prune it. That's pretty tricky to do, given that these are very fundamental properties of the model. Do you think these would be helpful to make more accessible?
Ping @glouppe @arjoly @jmschrei?

[2016-10-08 18:34] GaelVaroquaux commented on #6323
I am a bit worried that the str is going to become very long. But I guess
that it's fine because that's not what's used in things like error
messages.

[2016-10-08 18:37] amueller commented on #6323
That's why I was thinking about making it optional and maybe off by default. ``sklearn.set_print(verbose=True)``?

[2016-10-08 18:42] amueller commented on #6350
@jnothman thats libsvm, not svmlight. I'm not sure if the multi-label format is supported in svmlight, though...

[2016-10-08 18:46] amueller commented on #6420
So deepcopy of criteria is broken?

[2016-10-08 18:55] amueller commented on #6547
If you have two variables, with 3 states each, you one-hot encode each to a 3dim vector. If you do polynomial feature interactions, you get a 9dim vector which is a one-hot encoding of all possible interactions.

[2016-10-08 18:55] #6547 closed

[2016-10-08 18:57] amueller commented on #6545
Theres forward and one-step-ahead backward selection in mlxtend by @rasbt. I would kind of like to add all of them, but I would also like to see some empirical evidence (or reference) that they are actually useful.

[2016-10-08 18:59] amueller commented on #6554
see #6599.

[2016-10-08 19:17] kgilliam125 commented on #7597
@minoriwww Can you provide me with some instructions to reproduce this? I've tried various things in Chrome53 (latest as of today) and MS Edge38 on Win10 and can't get it to happen. I sadly don't have a Win7 image to test it with.

It could have been a Chrome issue I suppose. Are you able to update to Chrome53?

[2016-10-08 19:18] rasbt commented on #6545
Happy to contribute/port my [SequentialFeatureSelector from mlxtend] -- I could simplify it a bit and send a PR. As reference, maybe

- [Ferri, F., et al. "Comparative study of techniques for large-scale feature selection." Pattern Recognition in Practice IV (1994): 403-413.](https://books.google.com/books?hl=en&lr=&id=sbajBQAAQBAJ&oi=fnd&pg=PA403&dq=comparative+study+of+large+scale+feature+select

[2016-10-08 19:24] amueller commented on #6545
Was it also compared to lasso and, say random forest based approaches?

[2016-10-08 19:28] bbirand commented on #7485
I see, thanks for clearing things up. I should have done a better job RTFM. But in my (slight) defense, I thought the `XXX_score` functions all took the predicted values, which I assumed to be the convention. A very minor point, but maybe something to keep in mind for the documentation.

Thanks again!

[2016-10-08 19:30] rasbt commented on #6545
No, it wasn't. Spontaneously, I'd say that it's different enough from either of them to be useful in many applications. I.e., Lasso does not let you control the number of features -- sometimes that's desired. Random forests' feature importance interpretations has problems when there's a high covariance between features. Furthermore, sequential feature selection can be applied to/with any model. So

[2016-10-08 19:31] amueller commented on #6545
True. It would be nice to have a recent study, but maybe that's a paper to write lol.
Also lasso totally let's you control the number of features. A bit indirectly, but still...

[2016-10-08 19:37] rasbt commented on #6545
we should do some search, but I think this is one of these "trivial" ideas that no one really writes about.

haha, empirical benchmark studies sound like a lot of work but are generally easy to write I'd say :D.

hm, yeah, but it's not like "hey, I tell me the 3 most important features in combination." Also, it's for linear models only.

[2016-10-08 19:40] amueller commented on #7608
Oh you created an issue for that even #5082 ... it's been a while

[2016-10-08 19:46] amueller commented on #5080
I actually think we should go the opaque way for now, simply so we can move forward in fixing things like #6451.
The meta-estimator only accesses the standard sklearn interface, and the ``FrozenEstimator`` can wrap that. Btw, we can just "freeze" an estimator by deleting its ``get_params`` right? Then clone will use a deepcopy on it when it encounters it as a parameter of some meta-estimator.
That

[2016-10-08 20:04] JungeAlexander commented on #7533
Looks like a feasible first contribution, I'd like to look into this.

[2016-10-08 20:29] GaelVaroquaux commented on #6323
Something like this sound about right. It's also consistent with things
in pandas and numpy.

[2016-10-08 20:49] jnothman commented on #7595
I don't get when inheriting from the new exception would break.

[2016-10-08 20:50] jnothman commented on #3298
type_of_target is fine to distinguish between the y_trues, @amueller

On 9 October 2016 at 05:18, Andreas Mueller <notifications@github.com>
wrote:

[2016-10-08 20:51] jnothman commented on #6350
Oh, right. I searched for svmlight but that was the first result wiht the
answer ... for different software :/

On 9 October 2016 at 05:42, Andreas Mueller <notifications@github.com>
wrote:

[2016-10-08 20:53] jnothman commented on #6420
Yes, though I've not worked out why, despite spending some time tracing `deepcopy`.

[2016-10-08 21:07] jmschrei commented on #7613
Yes. I think what might be a good overall idea is if we have either a summary method for every estimator, or a summary function which takes in an estimator, and it prints out the vital information about it. For linear regression this could be the coefficients, for trees this could be the size, for ensembles it could be the max/min size of each tree, and so on. Basically, provide a uniform way to i

[2016-10-08 21:31] jnothman commented on #7608
I wonder whether we should have an Epic tag for such things, perhaps instead of SLEPS...

[2016-10-08 21:39] jnothman commented on #5080
How do you intend to delete an estimator's `get_params`? Or do you just mean that the wrapper will not implement `get_params`? That won't work for memoization where you need the ability to get and set parameters... It also won't work with `clone(est, safe=True)`, I think.

I still think opacity/indirection, not just in terms of parameter underscore prefixing, but in terms of getting fitted attribu

[2016-10-08 21:39] jnothman commented on #7533
go for it

[2016-10-08 21:41] jnothman commented on #6323
True that it's consistent with pandas and numpy.

On 9 October 2016 at 07:29, Gael Varoquaux <notifications@github.com> wrote:

[2016-10-08 21:46] JPFrancoia commented on #6032
The PR will fix the issue. However we still have a problem: ```explained_variance_ratio_```, for the svd solver, does not have the right length either !

[code]

With the svd solver, ```explained_variance_ratio``` will have a length of maximum n_classes (3 here). Three classes possible because of this line:

[code]

```explained_variance_ratio_``` should be of length 5, because we asked for 5 comp

[2016-10-08 21:46] jnothman commented on #7613
ah, how we creep towards Weka :P

On 9 October 2016 at 08:07, Jacob Schreiber <notifications@github.com>
wrote:

[2016-10-08 21:53] amueller commented on #7613
@jmschrei also see #6323 ;)

@jnothman I was thinking more R. I guess I should use more weka for inspiration? ;)

[2016-10-08 21:55] jnothman commented on #7613
weka was cool before R. :)

On 9 October 2016 at 08:53, Andreas Mueller <notifications@github.com>
wrote:

[2016-10-08 22:53] ruiokada commented on #7539
@KhaledTo I think you're right. In `modules/clustering.html` if you output `{{ rellinks }}` you just get:

    [(u'modules/decomposition', u'2.5. Decomposing signals in components (matrix factorization problems)', 'N', u'next'), (u'modules/clustering', u'2.3. Clustering', 'P', u'previous')]

In `layout.html` it says `rellink[1:]` was used to get rid of the index page but it doesn't seem to appear

[2016-10-08 22:58] amueller opened #7617 "None of the Neighbors estimators document their attributes"
The classifiers like KNeighborsClassifier inherit attributes from NeighborsBase and these should be documented.

[2016-10-08 23:03] amueller commented on #7608
well we now each have a list of pets ;)

[2016-10-08 23:48] amueller commented on #6032
n_components an be at most n_classes in LDA.

[2016-10-08 23:53] amueller commented on #7595
That is what we're currently doing and it is what was breaking in their code.
They have
[code]
that worked before, but breaks on updating because now our estimator raises the new error, which is not an instance of the old error.

[2016-10-08 23:56] amueller commented on #7485
@bbirand where should we have documented that for you to find it?

[2016-10-09 00:00] jnothman commented on #7595
It is an instance via inheritance. Is that not a problem with `assert_raises`?

[2016-10-09 00:03] amueller commented on #7595
The old error is a subclass of the new error, so the inheritance is the other way around:

[code]

[2016-10-09 00:24] jaypeedevlin opened #7619 "Documentation Build Fails"
I am presuming this is an error on scikit-learn's side and not sphinx's.  Apologies if it's not.

#### Description
`make html` fails from latest master

#### Steps/Code to Reproduce
[code]

#### Error output
(occurs in the step *Preparing carousel images*)

[code]

#### Versions
Darwin-15.6.0-x86_64-i386-64bit
Python 3.4.4 (v3.4.4:737efcadf5a6, Dec 19 2015, 20:38:52)
[GCC 4.2.1 (Apple Inc. build 5

[2016-10-09 00:30] minoriwww commented on #7617
May I have a try? I am doing sth for sklearn's Chinese doc translation recently so I'd like to look into this.

[2016-10-09 00:34] nelson-liu commented on #7619
the first failure is temporary due to an inability to download data; see line 16 of http://scikit-learn.org/stable/auto_examples/gaussian_process/plot_gpr_co2.html (`data = fetch_mldata('mauna-loa-atmospheric-co2').data`).
I had an attempt to fix this sort of thing at https://github.com/scikit-learn/scikit-learn/pull/7429

I can't reproduce the second failure on the latest master, but your version

[2016-10-09 00:42] nelson-liu commented on #7619
hmm, the version of the file in the 0.18 branch (https://github.com/scikit-learn/scikit-learn/blob/0.18.X/examples/linear_model/plot_lasso_model_selection.py) is not the same as the file in the stable docs (http://scikit-learn.org/stable/auto_examples/linear_model/plot_lasso_model_selection.html) (note line 141). Interestingly, this was changed yesterday on master in a PR @ https://github.com/scik

[2016-10-09 00:44] nelson-liu commented on #7619
seems like youre trying to build the dev docs with scikit-learn version 0.18, which is what causes the issue.

[2016-10-09 00:50] jaypeedevlin commented on #7619
Thanks nelson for the quick response

That's exactly what I'm doing.  Do I need to revert to the 0.18 commit to build the 0.18 docs with my version?

[2016-10-09 00:54] nelson-liu commented on #7619
Nope, there is a separate 0.18.X branch. So `git checkout 0.18.X` should do
the trick for you.

On Sat, Oct 8, 2016 at 5:51 PM, Josh Devlin <notifications@github.com>
wrote:

[2016-10-09 00:55] jaypeedevlin commented on #7619
Thanks Nelson!

[2016-10-09 00:55] #7619 closed

[2016-10-09 04:38] minoriwww commented on #7597
@kgilliam125 I try in a large scale(about 180%) to show this page to another guy, and this unexpected problem is appeared. Also my firefox have this little problem. I guess it is possibility because the responsive of the nav-trigger bar?
I would try Chrome53 later. Hope I could help :)

[2016-10-09 04:52] aashil commented on #7369
I am working on this one. To be clear the change needs to be made in sklearn/metrics/tests/test_common.py file, right ?

[2016-10-09 06:52] yxtay commented on #7475
Hmm, by being backward compatible means having the results being **exactly** identical? I'm not sure whether that is possible without modifying the interface then...

[2016-10-09 07:10] JPFrancoia commented on #6032
Ok, I updated my PR then. It should be ok now. I also updated the non regression test.

[2016-10-09 08:08] kmike commented on #7613
@jmschrei we've started something like that recently: https://github.com/TeamHG-Memex/eli5; it is still in infancy though.

[2016-10-09 08:12] kmike commented on #7613
See also: https://github.com/andosa/treeinterpreter

[2016-10-09 09:47] lesshaste commented on #7613
@kmike eli5 looks awesome and I am looking forward to trying it out. One related topic I am interested in is creating a single decision tree from a random forest with better classification performance than you would get from creating the decision tree directly. That is another way to aid interpretability. Is that something you have looked at?

[2016-10-09 10:52] JungeAlexander commented on #7533
Before looking into moving the `*_n_iter` tests, could someone please have a look at my commit linked above and tell me if I am roughly on the right track? Especially regarding the seemingly redundant test for the `get_params` attribute that I removed.

[2016-10-09 11:06] denis-bz commented on #7596
Won't an interrupt in the middle of updating leave data corrupt, unusable ?

For a clean split between an optimization engine and the user's outer loop,
I'd prefer callbacks as in scipy.optimize:

    for ... optimization loop:
        ...
        if self.callback is not None:
            if self.callback( locals() ):
                break

so the user can print / plot locals, change parameters, b

[2016-10-09 11:22] jnothman commented on #6323
I'd be interested in experimenting with a jupyter-friendly HTML rendering of estimators, with the benefit of that being more flexible:

* interactivity that does not advantage either the beginner/expert;
* visual rather than textual markup;
* not affecting doctests;
* unlikely to upset people if enhanced/changed from version to version

After mocking that up, or even merging it, we can then see wh

[2016-10-09 11:23] jnothman commented on #7595
oh. duh. We can only fix that by raising the old error until deprecation is
finished.

On 9 October 2016 at 11:03, Andreas Mueller <notifications@github.com>
wrote:

[2016-10-09 11:30] jnothman commented on #7617
Go ahead, thanks!

On 9 October 2016 at 11:30, minoriwww <notifications@github.com> wrote:

[2016-10-09 11:38] jnothman commented on #7597
you're saying it breaks under zoom?

On 9 October 2016 at 15:38, minoriwww <notifications@github.com> wrote:

[2016-10-09 11:43] jnothman commented on #7475
Okay. Let's make some concessions, seeing as we all agree this is not pleasant behaviour, but we don't want to complexify this beast.

I'd consider deprecation of the current approach, telling the user to use preprocessing if they want to achieve backwards-compatible results. That is, for the next version we raise a warning that behaviour will change, or perhaps more radical, has changed.

[2016-10-09 12:11] minoriwww commented on #7597
yea, specifically it happens when I zoom in.

[2016-10-09 13:19] jnothman commented on #7533
I suppose that elsewhere we practically require estimators to have `get_params`, so I suppose that's fine. Your change LGTM.

[2016-10-09 13:32] #7579 closed

[2016-10-09 13:39] #7603 closed

[2016-10-09 14:36] kmike commented on #7613
@lesshaste it is easy to use a decision tree instead of a linear classifier in LIME approach (i.e. replace LogisticRegression with DecisionTreeClassifier [here](https://github.com/TeamHG-Memex/eli5/blob/9b9a4557e3559c6dce1b71cb661191bd8b113ebf/eli5/lime/lime.py#L124), to explain a single prediction of a random forest as a locally fit decision tree). But I haven't tried it, and I don't have an intu

[2016-10-09 15:06] fukatani commented on #7491
I'm sorry for slowly response.
First I extracted all `hasattr` calling in scikit learn.
And calling in test code is removed.

Result is here.
https://docs.google.com/spreadsheets/d/1PYXnP5vf4ahEuXV-fUG-EuAEc1pjJ_z5KngcXQDp-jg/pubhtml?gid=0&single=true

[2016-10-09 15:17] mrecachinas commented on #6189
@amueller If this needs a contributor, I'd like to tackle it. I'm confused though why this is different than what is being proposed in #6217.

[2016-10-09 15:20] fukatani commented on #7491
Next, I extract all attributes which `@property` is defined.
And I also check these attributes existence is checked by `hasattr`.

https://docs.google.com/spreadsheets/d/1PYXnP5vf4ahEuXV-fUG-EuAEc1pjJ_z5KngcXQDp-jg/pubhtml?gid=1304236032&single=true

[2016-10-09 15:39] fukatani commented on #7491
So next, we have to check `@property` calculation cost which attribute is checked by hasattr.
Listed here.

- [ ] multiclass.py(379) coef_
- [ ] pipeline.py(510) classes_
- [ ] cluster\hierarchical.py(839) fit_predict
- [ ] ensemble\voting_classifier.py(213) predict_proba
- [ ] linear_model\ridge.py(797) classes_
- [ ] linear_model\ridge.py(1320) classes_
- [ ] linear_model\stochastic_gradient.py(

[2016-10-09 16:11] aashil commented on #7528
@sidgupta234 Are you still working on this or I can take this ?

[2016-10-09 16:38] sidgupta234 commented on #7528
Sure, you take this :)
On Oct 9, 2016 9:42 PM, "Aashil" <notifications@github.com> wrote:

[2016-10-09 17:05] lesshaste commented on #7613
@kmike Thank you that is interesting but it isn't quite what I meant. I meant to a single decision tree that replaces the entire random forest rather than just explaining a single prediction. Clearly this decision tree won't in general be as good as the random forest was a classifer (or regressor).  I realise this isn't at all what LIME is for but wondered if it was something you already knew abou

[2016-10-09 18:01] fukatani commented on #7488
Hmm... The paper using maxout with batch-normalization .

Or this paper refered maxout network as the-state-of-art neural networks. (Dec, 2014)
https://arxiv.org/abs/1412.7024

This paper is published after dropconnect.

[2016-10-09 21:25] GSzpak commented on #7558
Sure, will do:)

[2016-10-09 21:33] amueller commented on #6323
that sounds interesting but also somewhat fragile. And as I said, we currently don't even have a way to see if something was fitted or not. I guess you could check if there are any trailing underscore attributes?
I think going in small steps is good. And I agree, jupyter-based changes are less likely to break anyones code. My changes are all optional. We could limit them to ``_repr_pretty_`` if yo

[2016-10-09 21:36] amueller commented on #6189
@mrecachinas I need to look more deeply into that but it doesn't seem to touch ``_weighted_percentile``

[2016-10-09 21:39] amueller commented on #7613
@lesshaste not entirely a tree but similar: https://arxiv.org/abs/1606.05390

[2016-10-09 21:40] amueller commented on #7488
I think the jury is still out on this, which is a good sign that it's to early for us to decide.

[2016-10-09 21:50] amueller commented on #7595
But that will raise a deprecation warning?

We could add another class that both inherit from and raise that? That seems going a bit overboard, though...

[2016-10-09 22:04] amueller commented on #7596
@denis-bz no that should be fine. It's SGD aver all.
Having a better call-back mechanism would be great. Does scipy actually provide all locals? That's interesting... Also see #7574.

This was kind of me punting on writing a callback-framework. It works really well in many cases ;)
How would you interactively break with the callback, though? You need a separate process to control the execution, ri

[2016-10-09 22:11] amueller commented on #7596
actually callbacks in scipy only get the current iterate.

[2016-10-09 22:12] jnothman commented on #7613
@kmike It would be interesting indeed to see whether a local DTC in LIME yields meaningful feature combinations in practice...

Actually, just looks at eli5. This looks like a great idea; I had been wondering when someone would make LIME more usable. (Although your approach may still be largely limited to text.) I wonder if there is a way to direct contributors to scikit-learn ecosystem projects l

[2016-10-09 22:12] amueller commented on #7574
Hm @denis-bz suggested [here](https://github.com/scikit-learn/scikit-learn/issues/7596#issuecomment-252479982) to just pass ``locals()`` to the callback, and it could return a dict of whatever....

[2016-10-09 22:16] amueller commented on #7613
I'm not sure I understand what eli5 is doing... @kmike can you explain a bit?

[2016-10-09 22:20] jnothman commented on #7491
`classes_` should be trivial. `predict*` and `partial_fit` must be designed in a way that they're cheap, as they're only expensive once they've got arguments.

It's worth checking the `coef_`s but they're likely to not be outrageously expensive.

[2016-10-09 22:20] jnothman commented on #7491
thanks

[2016-10-09 22:23] jnothman commented on #7595
won't raise the deprecation warning if you wrap it with an ignorer...?

On 10 October 2016 at 08:50, Andreas Mueller <notifications@github.com>
wrote:

[2016-10-09 22:23] jnothman commented on #7574
That would have to be faked in Cython

[2016-10-09 23:38] fukatani commented on #7491
I got it.

[2016-10-10 00:43] Spikhalskiy commented on #7598
Getting the same error with
[code]
Log:
[code]

[2016-10-10 01:20] jnothman commented on #7598
It looks there like you might have been training your `DecisionTreeClassifier` on a single class... what does the `y` you pass to `GridSearchCV.fit` look like?

Yes, this error message is not very helpful.

[2016-10-10 01:25] btdai commented on #6416
Hi, Andreas,

I used the iris dataset, which is about 150 data points. There are three classes, so there are two ovo for each class. For example, if we are looking at the red class, there are two ovo, which are Red v.s. Green and Red v.s. Blue, so the ovr classifier actually combines these two binary classifier, however, for points that are further from the hyperplane, we shall see the value furth

[2016-10-10 01:31] btdai commented on #6416
the 3 figures in the top row is what ovr decision function gives

the 3 figures in the bottom row is what I think is intuitive.

[2016-10-10 05:12] JungeAlexander commented on #7533
Great, thank you for the feedback! I'll continue here.

[2016-10-10 07:17] pixelou commented on #6500
It doesn't look like you have merged the PR yet. I have run my test case above on @jakevdp's branch and it seems to behave as expected.

[2016-10-10 08:15] kmike commented on #7613
@jnothman it seems for non-text data some kind of density estimation is needed; original LIME code uses binning with bins of the same size for non-text data, which is more limited. I've opened https://github.com/TeamHG-Memex/eli5/issues/13 with some links, but haven't started working on it yet; better ideas are welcome.

@amueller eli5 is not related directly to your ticket description, sorry for

[2016-10-10 08:40] matalab opened #7623 "Some questions regarding old VBGMM, DPGMM vs. new BayessianGaussianMixture"
1. Why there is no BIC and AIC attributes for BayessianGaussianMixture? There were BIC and AIC available for VBGMM and DPGMM...
2. Is "weight_concentration_prior" parameter in BayessianGaussianMixture the same thing as "alpha" parameter in VBGMM and DPGMM? If not, how are they related?
3. I used to exploit formula alpha = 2/math.log(len(transformed_features)) for automatic inferring alpha paramete

[2016-10-10 09:08] ogrisel commented on #7462
@georgid can you please tell us if you can reproduce the same problem with the GaussianMixture class in 0.18? Or at least provide a minimal reproduction code snippet with randomly generated data? Otherwise we will close this issue.

[2016-10-10 09:15] #7318 closed

[2016-10-10 09:15] Borda commented on #6191
Maybe I have some more difficulty how to correctly compile it for testing, I did following
[code]
but still I am getting
[code]

[2016-10-10 09:35] jnothman commented on #6191
As stated:
[code]

You have not used `install --inplace`

[2016-10-10 09:40] Borda commented on #6191
I tried, but with `python setup.py install --inplace`
it returns `error: option --inplace not recognized`

[2016-10-10 09:51] b52 opened #7625 "QUESTION: Computing decision tree features on demand, rather than upfront"
This is more of a question then a bug report, at most it might be a feature request: Is it possible to compute the features, supplied to a decision tree during prediction, on demand rather than upfront?

For a few problems a feature space might be of high dimensionality, but for a given sample only a few features are actually used. So I'm wondering if it is possible to compute these features on a

[2016-10-10 09:55] lesshaste commented on #7613
@kmike That's a really interesting paper and it cites "inTrees" too which I notice has an R package https://cran.r-project.org/web/packages/inTrees/inTrees.pdf . Would be great if these things had python equivalents :)

[2016-10-10 09:58] jnothman commented on #6191
Sorry. Confused a few different ways of doing this.

It's `python setup.py build_ext --inplace`

Or just `make in`

On 10 October 2016 at 20:40, Jirka Borovec <notifications@github.com> wrote:

[2016-10-10 10:09] jnothman commented on #7625
Not possible, no.

Even the simpler case of using feedback from a feature selector to reduce feature extraction effort currently has no built-in solutions. It is possible enough to engineer this in specific cases, but designing an API for the general case is way beyond what we're currently doing here...

The conditional extraction based on traversing some path in a tree is more complicated. But no

[2016-10-10 10:09] #7625 closed

[2016-10-10 10:20] TomDLT commented on #7623
@tguillemot

[2016-10-10 10:50] Borda commented on #6191
Thanks, the `python setup.py build_ext --inplace` works, but `python setup.py` doe not know command `make` or `make in`

[2016-10-10 11:21] jaquesgrobler commented on #7517
Nice one fixing this.. It needs to be propogated to 0.18 though as currently it's only on 0.19 dev version as far as I can tell. Else we're gonna have a broken search until the next release 😛

[2016-10-10 11:32] pprett commented on #6240
@piskvorky @ogrisel @amueller I used this probability estimate with `modified_huber` in the past too -- after reading about it in a paper by Tong Zhang or one of his students (~2003).
Did anybody check the reference in the docstring? https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/stochastic_gradient.py#L760

I'm sure @mblondel has something to add here too.

[2016-10-10 11:36] pprett commented on #6240
@amueller I think @piskvorky argument is solely about how we handle ties in predict_proba and not about the way we compute probabilies for modified huber, right?

[2016-10-10 11:37] b52 commented on #7625
In this case a small follow up question: Is it possible to use the cython class `Tree` in cython in my code-base, without using the wrapping code but the direct cython definitions?

[2016-10-10 11:50] jmetzen commented on #7563
Sounds a bit strange that the error would only occur if you set the argument "warm_start" of  BayesianGaussianMixture equal to true. Would be curious about the specific combination of BayesianGaussianMixture and GPR that causes the problem. Could you provide a minimal example that causes the crash?

[2016-10-10 12:02] jnothman commented on #6191
`make` is GNU make, which will call `python setup.py` for you.

On 10 October 2016 at 21:50, Jirka Borovec <notifications@github.com> wrote:

[2016-10-10 12:07] jnothman commented on #7625
Not sure what you mean. Are you asking whether the API is to be presumed
stable?  More or less...

You should be able to include the pxd in your own cython code.

But if you're generating features on the fly, you're unlikely to get much
relative benefit out of the Cython definition of `apply`. Use a Python
reimplementation of `apply` until you find out that's where optimisation is
needed.

On 10 O

[2016-10-10 13:06] b52 commented on #7625
I wanted to implement my own evaluation of a tree path by looking at the `Tree` structure and the `Node`s in pure cython. That should be quite efficient, given that I can compute only the required features using cython, assuming that I can `cimport` the `Tree` and `Node` structs.

[2016-10-10 14:01] tguillemot commented on #7623
@matalab

1. I have removed the BIC and AIC from the BayesianGaussianMixture because I wasn't sure about their definition for that case.

2. The `weight_concentration_prior` is similar to the previous parameter `alpha`. We've changed the name to be more explicit of the influence of the parameter. [Please refer to the doc for more information about `weight_concentration_prior`](http://scikit-learn.

[2016-10-10 14:46] srivatsan-ramesh opened #7626 "Error when using PCA on MNIST dataset"
#### Description

I tried to use PCA with default configuration on MNIST dataset, It gave memory allocation error. The code given below worked well in the previous version of scikit-learn(0.17). The PCA class chooses the randomised svd solver for this dataset, whereas in the previous version it was just svd_solver='full'. If I give explicitly svd_solver='full', it works fine, but when I leave it t

[2016-10-10 15:05] matalab commented on #7623
Hi @tguillemot, thanks for clarifications, do you think that the formula
weight_concentration_prior = 2/math.log(len(transformed_features)) is suitable for optimum parameter value inferring?

[2016-10-10 15:06] b52 commented on #7625
Seems like `_tree.pxd` is not bundled in the build package. Would it be possible to distribute it as well?

[2016-10-10 15:07] GaelVaroquaux opened #7627 "Add a "filename" attribute to datasets that have a CSV file"
For datasets that are associated to a CSV file, I'd like to suggest adding a "filename" attribute to the data Bunch returned. This would enable demoing using something like pandas to load the data during a tutorial, and hence hopefully help people understanding how to get their data in scikit-learn.

Steps:
- [ ] Add the filename attribute to load_iris, load_boston, load_breast_cancer
- [ ] Add a

[2016-10-10 16:48] Klamann opened #7628 "`SelectPercentile` and multi-label classification"
#### Description

I can't use certain transformers like `SelectPercentile` or `SelectKBest` in combination with multi-label classification problems.

#### Steps/Code to Reproduce

[code]
If you remove the second step from the pipeline, the code runs just fine.

#### Random guess about the issue

Now here's the fun part: if you run this code in a debugger, open [sklearn.utils.validation](https://gi

[2016-10-10 17:35] zhihongzeng commented on #7527
After restarting my computer, the problem is gone.
@matthew-brett  and  @amueller, thank you so much for immediate responses

[2016-10-10 19:18] amueller commented on #7574
Do we want the monitor in Cython? I guess so. I would have left it at Python for now.

[2016-10-10 19:26] amueller commented on #7595
So whereever we raise a ``NotFittedError`` we'll wrap it in an ignore? Alright. Seems a lot of hassle :(

[2016-10-10 19:29] amueller commented on #7626
Thanks for the report. And that worked on the same machine? I'm surprised the randomized solver takes more memory. ping @giorgiop

[2016-10-10 19:32] srivatsan-ramesh commented on #7626
Yes, I tried both on the same machine.

[2016-10-10 19:33] #7562 closed

[2016-10-10 19:35] amueller commented on #7626
How much ram to do you have?

[2016-10-10 19:38] amueller commented on #7613
I'd actually be interested to have more uniform introspection in scikit-learn. We recently discussed adding a plotting module ;)

[2016-10-10 19:39] amueller commented on #7517
It's tagged 0.18.1 ;)

[2016-10-10 19:42] srivatsan-ramesh commented on #7626
8GB

[2016-10-10 19:42] amueller commented on #7627
+1.
And add a remark to the datasets stuff that we recently added about loading data.
I had some trouble with unicode and loadtxt in the past but this seems to work:
``np.loadtxt("sklearn/datasets/data/iris.csv", delimiter=",", skiprows=1)``

[2016-10-10 19:45] #7527 closed

[2016-10-10 19:51] amueller commented on #7628
What is is "works as expected"? How is the p-value calculated for multi-class? I'm pretty sure the heuristics like fdr would need adjustments.
I think basically no-one thought about what the univariate tests should do in a multi-label case and so we didn't enable them without understanding the math.

[2016-10-10 19:53] amueller commented on #7625
@b52 it's on github...

[2016-10-10 20:02] GaelVaroquaux commented on #7625
And it starts with an underscore: it's an unsupported API, it's private, and we want to be able to modify the API in the future.

[2016-10-10 20:03] amueller opened #7630 "contrib docs should mention +1 +2"
The docs here should explain MRG + 1 and MRG + 2:
http://scikit-learn.org/dev/developers/contributing.html#contributing-pull-requests

And that two approvals are necessary for merge.

[2016-10-10 20:12] amueller commented on #6500
Yeah sorry I though it was merged but than saw that it wasn't, sorry about the confusion.

[2016-10-10 20:37] MLWave opened #7631 "Duplicate of #7540: Old documentation pages give 404 instead of redirecting"
is a duplicate of #7540. Sorry.

[2016-10-10 20:40] nelson-liu commented on #7631
seems like a duplicate of https://github.com/scikit-learn/scikit-learn/issues/7540

[2016-10-10 20:43] #7631 closed

[2016-10-10 20:58] rasbt commented on #6545
Here's another study by Kohavi & John that may be relevant: [Wrappers for feature subset selection](http://www.sciencedirect.com/science/article/pii/S000437029700043X)

[2016-10-10 21:58] themrmax opened #7635 "Parallelize transformers?"
As raised in http://stackoverflow.com/questions/39948138/sklearn-featurehasher-parallelized/39951415 many (all?) transformers could be made parallel, would this make sense as a `ParallelTransformerMixin`, something like

[code]

[2016-10-10 21:59] aashil commented on #7630
Thank you for creating an issue based on our conversation in PR #7620. I will add this to the docs.

[2016-10-10 22:10] amueller commented on #7630
thanks :)

[2016-10-10 22:10] giorgiop commented on #7626
I cannot replicate with the same version of the libraries. Not a memory problem since I am running on 4GM memory.

[2016-10-10 22:14] amueller commented on #7626
@srivatsan-ramesh have you tried if you can reproduce it? Maybe some other memory-hungry job was running?

[2016-10-10 23:08] amueller commented on #6454
k-medians and k-medoids are two very different algorithms, right?

[2016-10-10 23:08] jnothman commented on #7595
*Shrugs*. I guess so.

[2016-10-10 23:10] jnothman commented on #7631
We don't want redirection, but perhaps we could do with showing deprecated
classes' api ref as a "this has been deprecated. go somewhere else" page.

On 11 October 2016 at 07:40, Nelson Liu <notifications@github.com> wrote:

[2016-10-10 23:11] amueller commented on #6501
This should work or SVC for 0.17 and LogisticRegression for all solvers in 0.18 IIRC.
Please reopen if that's not the case.

[2016-10-10 23:11] #6501 closed

[2016-10-10 23:13] jnothman commented on #7635
It would need to override `__init__` and `get_params`, but maybe...

[2016-10-10 23:13] amueller commented on #6525
Both PRs that try to address this are stalled.

[2016-10-10 23:32] amueller commented on #1625
@pprett can you have a look again?

[2016-10-10 23:33] amueller commented on #6555
closing as "out of memory" Not sure if a sparse matrix is feasible for this.

[2016-10-10 23:33] #6555 closed

[2016-10-10 23:46] amueller commented on #6577
0.18 got relased ;)

[2016-10-10 23:46] #6577 closed

[2016-10-10 23:47] amueller commented on #4757
helper functions are fine in ``_split.py`` if they are only used there.

[2016-10-11 00:02] amueller commented on #6515
@nelson-liu please :)

[2016-10-11 00:05] amueller commented on #6592
"roc_auc" is a classification or ranking metric, not a regression metric. So it doesn't accept continuous y.

[2016-10-11 00:05] #6592 closed

[2016-10-11 00:16] amueller commented on #7289
Hm, we could also change the common tests to accept instances, not classes...

[2016-10-11 00:17] nelson-liu commented on #6515
@amueller sure, see https://github.com/scikit-learn/scikit-learn/pull/7637

[2016-10-11 00:25] amueller commented on #6568
``ClassResampler`` can not exist with our current pipeline as you can not change ``y``. @anjishnu also check out https://github.com/scikit-learn-contrib/imbalanced-learn which hacked the pipeline to make this possible.

[2016-10-11 00:28] makmanalp commented on #5523
We'll look into this, thank you!

[2016-10-11 00:36] amueller commented on #4813
Btw the way I picked thresholds usually is by specifying a slice on the roc-curve, either precision or recall, and then define a metric "precision at recall=X" and grid-search that. Internally that can find the right threshold.

[2016-10-11 00:38] #6578 closed

[2016-10-11 00:51] amueller commented on #1393
fixed in master.

[2016-10-11 00:51] #1393 closed

[2016-10-11 00:52] amueller commented on #6630
this is actually a pretty frequently requested feature for GridSearchCV.

[2016-10-11 01:01] amueller commented on #6646
This is likely a bug in how we handle class-weights.

[2016-10-11 01:03] amueller commented on #6645
I think we discussed adding computational and memory complexity to all the models. Which would be nice. Should we open an issue with a checklist consisting of all estimators? ....?

[2016-10-11 01:08] amueller commented on #6290
wow I didn't realize this was called ``labels``, too. glad we did the ``groups`` rename.
Also, I think this is irrelevant with the new API. There is no constructor argument for y any more.

[2016-10-11 01:08] #6290 closed

[2016-10-11 01:11] amueller commented on #6649
closing as solved.

[2016-10-11 01:11] #6649 closed

[2016-10-11 01:25] amueller commented on #6650
Can you check what ``state`` is, in particular the dtypes of the different arrays?

[2016-10-11 01:32] #3536 closed

[2016-10-11 01:38] amueller commented on #6681
Closing as there is a work-around. Can you explain why you would want to do robust scaling in the feature direction, though?
btw
[code]

[2016-10-11 01:38] #6681 closed

[2016-10-11 01:39] amueller commented on #36
I would say "don't do this". closing.

[2016-10-11 01:39] #36 closed

[2016-10-11 01:46] themrmax commented on #7635
hmm get params looks pretty gnarly ... sure we can't just leave `n_jobs` as an argument to `transform`?

[2016-10-11 01:52] amueller commented on #6673
It looks like no-one is working on this, so I added a "Need Contributor" tag. Btw, I really don't like VarianceThreshold. When is it supposed to work?

[2016-10-11 02:02] amueller commented on #6725
Thanks for the report. I feel like we should try to make this numerically more robust by using a cut-off but I'm not sure if that will actually work.... Scaling your data before-hand would be a good idea, too...

[2016-10-11 02:20] #6287 closed

[2016-10-11 02:24] amueller commented on #2606
@jnothman but our KNN is multi-label, right? Even multi-output multi-class. Or is this about something else?

[2016-10-11 02:28] amueller commented on #6827
[code]
granted, a bit of a mouth full. Maybe add to the docs?

[2016-10-11 02:31] jnothman commented on #7289
Yes, I think accepting instances would be more consistent with the rest of
the API, but we should check whether there's any reason not to.

On 11 October 2016 at 11:16, Andreas Mueller <notifications@github.com>
wrote:

[2016-10-11 02:32] jnothman commented on #7289
Of course that presumes that clone works

On 11 October 2016 at 13:31, Joel Nothman <joel.nothman@gmail.com> wrote:

[2016-10-11 02:33] jnothman commented on #6568
(But you can create a class-resampling CV splitter...)

[2016-10-11 02:38] amueller commented on #6734
@thomasaarholt I'd also suggest just computing the fit like @denadai2 said. Is that an issue?

[2016-10-11 02:38] jnothman commented on #7635
Ideally not...

[2016-10-11 02:43] jnothman commented on #2606
I didn't look through clearly enough. https://github.com/scikit-learn/scikit-learn/issues/2606#issuecomment-30601518 above suggests ML-KNN differs in its use of bayesian priors, but I suppose bayesian priors is independent of the multilabelness? I haven't looked into the bayesian priors issue, but it looks interesting. Presumably, though, this issue adds little.

[2016-10-11 02:44] #7630 closed

[2016-10-11 02:45] jnothman commented on #2606
Or does ML-KNN model covariance between the multiple labels? I think someone will need to read to work out if this is valuable.

[2016-10-11 02:45] amueller commented on #6500
fixed in #6288 (now merged)

[2016-10-11 02:45] #6500 closed

[2016-10-11 02:46] jnothman commented on #6827
so much of a mouthful that you're missing a parenthesis.

[2016-10-11 02:49] themrmax commented on #7613
One option would be to use `export_graphviz` to visualise the trees (you would probably want to remove most of the text and arrange them in a grid to be more suitable for models with lots of trees):

[code]
![image](https://cloud.githubusercontent.com/assets/8220288/19257199/60e92aa0-8fb9-11e6-8730-ee8abbf763c1.png)

[2016-10-11 02:54] amueller commented on #6738
@mblondel is there an alternative to "iterative solvers"?
You won't get exactly the unregularized option, right?

@Kodiologist why do you want this?

[2016-10-11 02:57] amueller commented on #6788
I think we had this discussion before, though I don't remember when / where exactly. maybe @GaelVaroquaux remembers? I think having dendrograms in sklearn would be nice.

[2016-10-11 02:58] Kodiologist commented on #6738
You're asking why would I want to do logistic regression without regularization? Because (1) sometimes the sample is large enough in proportion to the number of features that regularization won't buy one anything and (2) sometimes the best-fitting coefficients are of interest, as opposed to maximizing predictive accuracy.

[2016-10-11 03:01] amueller commented on #6738
Yes, that was my question.

(1) is not true. It will always buy you a faster solver.

(2) is more in the realms of statistical analysis, which is not really the focus of scikit-learn. I guess we could add this but I don't know what solver we would use. As a non-statistician, I wonder what good any coefficients are that change with a bit of regularization.

[2016-10-11 03:03] srivatsan-ramesh commented on #7626
I closed all the processes, even restarted my laptop but still I get the same error. I don't know why @giorgiop didn't get the error.

[2016-10-11 03:06] amueller commented on #7613
With many trees that's not really feasible. I mean all the information is there, but it's hard to access. We could add methods like ``get_max_depth()`` or ``get_n_leaves()`` or something?

[2016-10-11 03:08] amueller commented on #6827
Fixed. Can I hire you as my linter?

So do you think adding this in some built-in way is a good idea or just providing an example or adding it to the docs?
Having this copy-and-pasteable might be valuable.

[2016-10-11 03:09] Kodiologist commented on #6738
I can't say much about (1) since computation isn't my forte. For (2), I am a data analyst with a background in statistics. I know that scikit-learn focuses on traditional machine learning, but it is in my opinion the best Python package for data analysis right now, and I think it will benefit from not limiting itself *too* much. (I also think, following Larry Wasserman and Andrew Gelman, that stat

[2016-10-11 03:15] amueller commented on #6726
So you want the splits to be random, but consistent across all parameters?
And that was the case in 0.17 but not any more in 0.18... That is indeed a bit strange.
I think I agree with moving the ``check_random_state``.

If only I read this before the release :-/ (also, we merged ``model_selection`` in April already? I'm getting so old...)

ping @jnothman @raghavrv for their opinions.

[2016-10-11 03:27] AmazaspShumik commented on #6259
@amueller @agramfort @AlexYurasov

Hi,

I will be more than happy to contribute. I am on vacation now so if it is ok I can start working on it on Monday.

[2016-10-11 03:30] jnothman commented on #6827
Yes, I think having it in the docs under model evaluation is worthwhile.
Emphasise that we can't always solve everyone's problems with an
out-of–the-box solution, etc.

On 11 October 2016 at 14:08, Andreas Mueller <notifications@github.com>
wrote:

[2016-10-11 03:38] jnothman commented on #6726
Yes, it is a problem that `split()` is run in GridSearch et al per parameter setting. Yuck.

We should call `splits = list(cv.split(X, y))` once.

Whether or not we also move the random_state initialisation to `__init__` is a separate issue. But certainly our current usage of this is bad.

(And yes, you can create the list and should not need to copy or deepcopy in most cases.)

Maybe we needed th

[2016-10-11 04:42] GaelVaroquaux commented on #6827
+1

[2016-10-11 04:44] aplavin opened #7639 "Timings in crossvalidation"
#### Description

Currently when doing cross-validation and `verbose` set, it prints the time for each fold. However, the time printed is just the score time, not score + fit as one would expect: see [here](https://github.com/scikit-learn/scikit-learn/blob/412996f09b6756752dfd3736c306d46fca8f1aa1/sklearn/model_selection/_validation.py#L268). After changing `logger.short_format_time(score_time)` to

[2016-10-11 05:04] jnothman commented on #7639
Thanks. Oversight of mine in reviewing, sorry.

[2016-10-11 05:05] jnothman commented on #7639
PR welcome

[2016-10-11 05:12] amueller commented on #5827
Done in master

[2016-10-11 05:12] #5827 closed

[2016-10-11 05:16] amueller commented on #6726
I have to think about this issue again, I think I didn't really understand it. Not sure how the behavior was before.
I'm starting a new job November first (hopefully - or get kicked out of the country), so doing 0.18.1 in October would work better for me.

[2016-10-11 05:18] jnothman commented on #7639
maybe we should test fit_time > score_time usually...

[2016-10-11 05:41] srivatsan-ramesh commented on #7626
Maybe this error occurs only with the GCC on Mac?

[2016-10-11 06:08] srivatsan-ramesh commented on #7639
I can make a PR, I have to just change it to `fit_time + score_time` right?

[2016-10-11 08:08] tguillemot commented on #7623
To be honest it's the first time I see this formula to compute the optimum. I don't see why it will work better in the general case.
If it was working for your data before, you can try to use the same value now.

[2016-10-11 08:11] tguillemot commented on #7623
As propose by @ogrisel on stackoverflow :

[2016-10-11 08:43] thomasaarholt commented on #6734
Hey guys, thanks for your help. We've essentially moved on to other things, so this can be closed. Sorry for keeping it open so long!

[2016-10-11 13:05] raghavrv commented on #6726
@jnothman Unless the user is using a cv which will produce different train test sets for each `split()` call I don't see the problem here. It was like that before in `cross_validation` and we decided to preserve it as such.

[code]

And you will observe the same behavior with `KFold` too...

[code]

It *does* give consistently shuffled indices (see above code snippet for proof) now *only because*

[2016-10-11 13:12] denis-bz commented on #7596
Andreas
  yes, callbacks in scipy.optimize don't pass locals(), but should --
makes it easy to print / plot / save stuff without changing the source.

On callback frameworks / general optimization frameworks:
different thread, tell me more (on a scipy.optimize forum ?)
Do you have a rough description of what you mean, or a model to copy
< matlab optimization toolbox :)
It's a seductive idea, lot o

[2016-10-11 13:16] iver56 commented on #6650
@amueller I ran the snippet that @PCavalie provided, and set a breakpoint on line 1217 in pickle.py. Here's what `state` is. Hope it helps.
![image](https://cloud.githubusercontent.com/assets/1470603/19271600/9e9ec312-8fc5-11e6-9fb2-55c25e2771d1.png)

[2016-10-11 13:20] iver56 commented on #6650
More details on the dtypes:
![image](https://cloud.githubusercontent.com/assets/1470603/19271723/2d66c982-8fc6-11e6-819e-6c080d159cc9.png)

[2016-10-11 13:32] raghavrv commented on #7639
`_fit_and_score` returns the fit time and score time separately now, but the verbose message was not updated to print the `fit_time + score_time`. Sorry for that :/

[2016-10-11 14:38] hiemal commented on #6600
I solved the same problem by upgrading cython. Thanks.

[2016-10-11 18:16] Klamann commented on #7628
I did some more testing and it seems like changing the value of `multi_output` doesn't actually make the pipeline "work as expected", it just delayed the issue and didn't raise exceptions for trivial examples like this one. Now I'm confused, because I was using feature selection in a multi-class / multi-label text classification problem with sklearn 0.15. Time to dig up some legacy code and see ho

[2016-10-11 18:30] JungeAlexander commented on #7533
Commit above moves `check_transformer_n_iter` and I will soon continue with moving `check_non_transformer_estimators_n_iter`.

[2016-10-11 18:39] nirizr opened #7642 "sklearn.decomposition.PCA svd_solver='auto' should default to "arpack" for sparse input"
_I'm using sklearn version 0.18_

When using `sklearn.decomposition.PCA` on a `scipy.sparse`, the value provided in the `svd_solver` parameter must be "arpack" (which is the only algorithm supporting sparse input).

the default `svd_solver` value, "auto" presumes to pick an appropriate default value depending on other input parameters (such as matrix shape and `n_components`).

It would be helpful

[2016-10-11 18:52] amueller commented on #7642
Actually, randomized should also work. Anything but full would be fine. So the "auto" method should be fixed (not sure if arpack or full is more appropriate as default) and the error message should be fixed as you indicated.

ping @giorgiop who knows all about the benchmarks ;)

[2016-10-11 19:00] nirizr commented on #7642
Did you mean "randomized" where you've used "full" in your previous message?

[2016-10-11 19:06] amueller commented on #7642
@nirizr in one place, yes. I fixed it.

[2016-10-11 19:10] amueller commented on #4103
@lmcinnes the MST is not O(n log n). There are "data dependend constants". I like the algorithms but it's not worst-case O(n log n) unfortunately :(

Have you done any benchmarks @lmcinnes?

Also @jakevdp I think a PR would be great ;)

[2016-10-11 19:20] nirizr commented on #7642
Actually, it looks like `sklearn.decomposition.PCA` doesn't nicely support sparse matrices.

It ends up getting to [this](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/pca.py#L375) piece of code:

[code]

Which forces `X` to become dense.

[2016-10-11 19:28] amueller commented on #7642
D'oh. You should use TruncatedSVD and with any setting PCA should tell you not to use it with sparse data. The warning should tell you to use truncatedSVD though.

[2016-10-11 19:33] nirizr commented on #7642
Oh, I didn't see that, thanks and sorry for the trouble!

[2016-10-11 19:34] Mougatine opened #7643 "rfecv: verbosity: Set threshold low bound from 2 to 1"
#### Description

To activate the verbosity for the method `fit` of the class `RFECV`, you have to set the verbosity level to **2** (or more).
It would be more logical to just set it to **1** (or more) like it is in every other sklearn's cases.
#### Steps/Code to Reproduce

[code]

At verbosity **1**, nothing is printed on stdout.
#### Expected Results

The expected behavior should be:
0       =>

[2016-10-11 19:34] amueller commented on #6800
This could be done as a meta-estimator, but not as a transformer. I don't see this as being generally useful though and easy to implement, so I'd rather not bother adding it.

[2016-10-11 19:34] #6800 closed

[2016-10-11 20:38] amueller commented on #7642
I guess we could provide a better error. PR welcome.

[2016-10-11 20:40] gabit opened #7645 "HashingVectorizer slow in version 0.18 on Windows"
#### Description

After upgrading to scikit-learn 0.18 HashingVectorizer is about 10 times slower.

Before:

[code]

After upgrade:

[code]
#### Steps/Code to Reproduce

[code]
#### Expected Results

vectorization should take about 5 seconds, as in version 0.17
#### Actual Results

vectorization takes 42 seconds in version 0.18
#### Versions

scikit-learn 0.18. Numpy 1.11.2. Python 3.5.2 AMD64

[2016-10-11 21:01] amueller commented on #5975
I think this would still be valuable.

[2016-10-11 21:03] amueller commented on #6884
@eickenberg I'm not sure what you mean. can you elaborate?

[2016-10-11 21:05] amueller commented on #6256
@kno10 you can always write it in cython ;)
Closing as "wontfix" - at least on this side.

[2016-10-11 21:05] #6256 closed

[2016-10-11 21:11] amueller commented on #3628
I think this is open to people who want to try the "multiclass" parallelization, though I agree with @ogrisel that that might not be that useful. We are convinced by benchmarks though.

Also still open for a brave soul to parallelize the tree on cython level.

[2016-10-11 21:12] amueller commented on #6890
@TomDLT you mean StandardScaler, I think ;)

[2016-10-11 21:12] amueller commented on #6888
closing as no reply. feel free to reopen with self-contained example or more details.

[2016-10-11 21:12] #6888 closed

[2016-10-11 21:15] davidslater opened #7646 "GroupKFold fails in nested cross-validation (similar to #2879)"
#### Description

groups parameter in model_selection.cross_val_score() is not propagated in to RandomSearchCV.fit() call. This is similar to #2879 and probably best addressed in #4497.
#### Steps/Code to Reproduce

[code]
#### Expected Results

When StratifiedKFold is used, the output is [ 0.8  0.7]. In general, it should be an array of 2 floats.
#### Actual Results

[code]
#### Versions

Darwin-

[2016-10-11 21:18] davidslater commented on #7646
In particular, the estimator.fit(X_train, y_train, **fit_params) call in model_selection._validation.py does not include "groups" in fit_params, so it defaults to None.

[2016-10-11 21:20] amueller commented on #2688
Should this be an option of PCA and FA? (I guess ICA wouldn't make sense).
Or should this be a stand-alone model?

@mvds314 your example doesn't really explain what's happening. I think we're still open to a more full-fledged example.

[2016-10-11 21:39] b52 commented on #7625
I settled with using the numpy arrays provided by the `Tree` structure in Python land. Works flawlessly so far. Thanks for all the comments.

[2016-10-11 22:49] bbirand commented on #7485
I think what I was expecting is that all XXX_score functions to be interchangeable, and all of them accepting the predicted values as an argument (as opposed to the probabilities, in this case).

This is a very minor point, and please feel free to ignore it, but maybe indicating in the name of the function that it takes probabilities would help. This was also confusing when running `cross_val_scor

[2016-10-12 01:40] giorgiop commented on #7642
Yeah, PCA should state clearly that it doesn't support sparse inputs. I am going to make a PR.

[2016-10-12 07:26] mvds314 commented on #2688
@amueller: If I understand you correctly, the example shows how the code works, but you want to understand what happens. This is explained in detail in docstring of the [rotate factors function](https://github.com/mvds314/factor_rotation/blob/master/factor_rotation/_wrappers.py). This file also contains some references to papers. The short summary is that the factors are rotated according to some

[2016-10-12 08:27] robkoper commented on #2688
@amueller '_Should this be an option of PCA and FA?_ '
I would prefer the code to be available to both, although there is a debate about the question whether the result of rotated PCA is still PCA. But this is largely a dispute about the definitions of PCA and FA. See for more info this post: http://stats.stackexchange.com/questions/612/is-pca-followed-by-a-rotation-such-as-varimax-still-pca

[2016-10-12 08:47] lesteve commented on #6650
The 'nodes' dtype seems a bit weird with the 'f3' and 'f7' additional columns. What does do you get if you execute this snippet:

[code]

Not sure why the 'left_child' and others are 32bit ints. Are you using a 32bit python, i.e. what do you get if you do:

[code]

[2016-10-12 09:04] iver56 commented on #6650
This is what I get when executing those two snippets:
[code]

[2016-10-12 09:32] lesteve commented on #6650
I was able to reproduce with a 32 bit Python and numpy 1.10.4. The problem goes away with numpy 1.11.

[2016-10-12 09:38] lesteve commented on #6650
@iver56 you should really consider using a 64bit Python. IIRC there is a 2GB limit on memory on Windows 32bit processes which is very limiting when you start looking at reasonably sized data. Unless your machine is very very old it should be a 64bit machine.

Alternatively if it's not convenient for you to move to a 64bit Python, it looks like upgrading numpy to 1.11 will fix your problem.

Person

[2016-10-12 09:40] lesteve commented on #4053
I am closing since this is a duplicate of #6650.

[2016-10-12 09:40] #4053 closed

[2016-10-12 10:48] iver56 commented on #6650
Upgrading to numpy 1.11.2 didn't fix the problem for me, given that I still use a 32-bit version of Python

[2016-10-12 11:26] lesteve commented on #7645
I can reproduce the behaviour on a Windows VM: 0.17 takes 4s and 0.18 takes 32s. I am using conda so both 0.17 and 0.18 are using MKL and that does not seem to be the root cause of the problem.

[2016-10-12 11:29] ogrisel opened #7650 "A plan to safely support OpenMP in our Cython code base"
This is an informational roadmap issue.

At the moment it is not safe to use OpenMP for low overhead thread based parallelism in our Cython code base because of a bad interaction between `multiprocessing.Pool` (worker processes are necessarily created by fork without exec under Python 2) and the openmp runtime library libgomp used in GCC. This can cause the program to silently freeze.

A workaroun

[2016-10-12 11:53] gabit commented on #7645
here is the profiler result from

python -m cProfile -s cumulative tmp_hashing.py >profile.txt

[profile.txt](https://github.com/scikit-learn/scikit-learn/files/524299/profile.txt)

Looks like most of the time is spend in {sklearn.feature_extraction._hashing.transform}

[2016-10-12 11:58] rth commented on #7645
Very strange, there isn't that many changes in the code between 0.17/0.18 for the HashingVectorizer that could explain such a difference in performance, particularly on Windows only (see [0.17-0.18_HashingVectorizer.diff](https://github.com/scikit-learn/scikit-learn/files/524287/diff.txt) ). The only change in the `_hashing.pyx` Cython code is an additional `if isinstance(v, string_types)` check,

[2016-10-12 12:47] #6450 closed

[2016-10-12 12:52] iver56 commented on #6650
I upgraded to

* python 2.7.12 (64-bit)
* scikit-learn 0.18
* scipy 0.18.1

and that solved the problem for me

[2016-10-12 13:47] agramfort commented on #6259
no objection to move this into sklearn but it's easier to start with an
outside package.

[2016-10-12 13:51] lesteve commented on #7645
Agreed ! Since it what I tried originally did not make much sense (going back to 2e4aafd which was still ~30s and where the only difference compared to 0.17 was the removal of an email address in a comment), I ran a brute-force git bisect and it looks like the culprit is the removal of .C generated files in 986fb60947f91306d9dcf8d09a321ba52f4417af. Trying to debug further the problem to see whethe

[2016-10-12 14:00] jnothman commented on #6726
I don't think that you should assume most users set `random_state`, but may have assumed that results across folds for different grid search parameter settings will be comparable. Formerly, all in-built CV iterators were designed to be invariant for each call to `__iter__`, so this assumption was uphelp, for those iterators at least. So in this sense, setting `shuffle=True` without fixing `random_

[2016-10-12 14:01] jnothman commented on #6726
Being practical about timescale, @amueller, doing 0.18.1 in October means releasing in November. There are two weeks of October left

[2016-10-12 14:09] jnothman commented on #7628
Univariate feature selection does not support multilabel. (I don't think
Randomized L1 does either, but perhaps this can be fixed.) Yes, that should
be more clearly documented.

RFE and SelectFromModel depends the underlying model having
feature_importances_/coef_ and multilabel support. The tree family satisfy
those criteria.

On 12 October 2016 at 05:16, Sebastian Straub <notifications@github.co

[2016-10-12 14:29] raghavrv commented on #6726
Ah. I understand the issue... Thanks for the clarification.

So IIUC. This + documenting that without `random_state` set the splitters will not be consistent and users will have to do list(cv.split...) to get consistent splits would fix all the concerns raised in this issue fully correct? I'll send a PR soon...

[2016-10-12 15:22] campustrampus commented on #6484
PR submitted

[2016-10-12 15:35] rasbt commented on #6545
I did some more search yesterday, and I found dozens of papers when looking for the terms "forward selection" and "backward elimination." However, these papers were mostly about "new" or "alternative" ways of doing feature selection, i.e., these kind of tiny tweaks or improvements where researchers showed that it *could* perform better on certain datasets. However, I still think that the idea sequ

[2016-10-12 15:59] riastrad opened #7652 "DictVectorizer: Add FlatDict for Nested Dict Objects"
Currently if you try to vectorize a dictionary object that has nested values, DictVectorizer throws an error.

**Example:**
[code]
**Result:** TypeError: float() argument must be a string or a number, not 'dict'

Recommended enhancement (to improve ease of use with NoSQL databases or .json dataobjects) would be to incorporate [FlatDict](https://flatdict.readthedocs.io/en/latest/) or a similar func

[2016-10-12 16:44] lesteve commented on #6650
The important thing was the numpy update. I am guessing that you needed to recompile scikit-learn after the numpy update, that's maybe why you thought the numpy update did not fix it.

[2016-10-12 17:32] chrisorm opened #7653 "Build Error on 64 bit windows in k_means_elkan"
#### Description

I get an error relating to the K means c code when I try and build the scikit learn source on windows.

Windows 10, python 2.7, 64 bit.

I have followed religiously the instructions at http://scikit-learn.org/stable/developers/advanced_installation.html#id2.
#### Error Message

sklearn\neighbors\typedefs.pyx has not changed
sklearn\svm\liblinear.pyx has not changed
sklearn\svm\li

[2016-10-12 17:57] iver56 commented on #6650
I used [wheel binaries](http://www.lfd.uci.edu/~gohlke/pythonlibs/) and seemingly didn't have to recompile scikit-learn after swapping numpy 1.10.4 for numpy 1.11.2

[2016-10-12 19:42] srivatsan-ramesh commented on #7626
I tried to run this program on a Virtual Machine with Ubuntu (1 GB RAM), It executed without giving any error. The memory allocation error comes only when I try to run it on Mac OS, even though it has 8GB RAM.

[2016-10-12 20:12] jnothman commented on #6726
Well, it's clear there are a few ways to define the problem. I think that
solution is good, under the assumption that we always want the same splits
to be used in parameter searches.

On 13 October 2016 at 01:30, Raghav RV <notifications@github.com> wrote:

[2016-10-12 20:15] jnothman commented on #7652
I don't think it's at all obvious that we want to support nested dicts. But
I appreciate that this stems from the popularity of JSON as an interchange
format.

(... I continue to wonder why we have a dictvectorizer when we want a
"sequence-of-tuples vectorizer"...)

On 13 October 2016 at 02:59, Josh Erb <notifications@github.com> wrote:

[2016-10-12 21:52] lesteve commented on #7645
So the result of the investigation is that the regression seems to have been introduced by cython 0.21.2.

The differences between sklearn/feature_extraction/_hashing.c generated by cython 0.21.1 and 0.22.2:
[code]

More details, in case someone want to reproduce:
I first ran a clean build on master with cython 0.24 and then hacked build_tools/cythonized.py like this:
[code]
This way the pyx don't

[2016-10-12 22:07] giorgiop commented on #7626
Thanks for the report! I was running on Mac OS too, though.

[2016-10-12 22:27] alex-33 commented on #7627
Hi Gael,

Could you please elaborate about the last point. Do you speak about this section in tutorial:
* http://scikit-learn.org/stable/tutorial/basic/tutorial.html#loading-an-example-dataset

?

Alex

[2016-10-13 01:03] bxb100 opened #7658 "pca problem"
Windows-10-10.0.14393
('Python', '2.7.12 |Anaconda 4.1.1 (64-bit)| (default, Jun 29 2016, 11:07:13) [MSC v.1500 64 bit (AMD64)]')
('NumPy', '1.11.1')
('SciPy', '0.17.1')
('Scikit-Learn', '0.18')
when i fit some data want to transform some data like this

|      |Fresh     | Milk   |Grocery   | Frozen | Detergents_Paper  |Delicatessen|
|:--:|:--:|:--:|:--:|:--:|:--:|:--:|
|0|  9.492884 | 7.086738

[2016-10-13 01:07] jnothman commented on #7658
Ping @giorgiop?

On 13 October 2016 at 12:03, John Bi <notifications@github.com> wrote:

[2016-10-13 01:49] giorgiop commented on #7658
They only change the sign by column correct?
This is not a bug and it comes from the fact that eigenvectors are defined up to a change of sign. The behaviour of the SVD factorization was somewhat "non-deterministic" before and it has been changed recently. I am sorry for the surprise.

There is a discussion on this somewhere but I cannot find it right now. Maybe @lesteve @GaelVaroquaux ?

[2016-10-13 02:00] jnothman commented on #7658
Perhaps we need a section in what's new saying "the output of the following estimators may differ from the previous version"... Thanks for the clarification.

[2016-10-13 02:00] #7658 closed

[2016-10-13 02:34] jnothman commented on #7540
I've made a start on this, for a contributor to finish the details, at #7659.

[2016-10-13 02:37] raghavrv commented on #6726
PR at #7660

[2016-10-13 05:00] agramfort commented on #6545
to me forward / backward selection techniques where decision of inclusion
of new variable is based on p-values would be better in statsmodels

my 2c

[2016-10-13 05:17] rasbt commented on #6545
Typically, it's just using the predictive performance (accuracy, F1, R2, etc.) of the fitted model to include or eliminate features. In my particular implementation these are the average k-fold performances (I think back in the day, resubstitution error or holdout was used more often). I'd think the p-values would be more of an addon. I.e., post-selection / re-evaluation of the feature sets genera

[2016-10-13 08:33] Klamann commented on #7628
OK, thanks for the clarification.

I did some more testing with the code base I wrote using scikit-learn 0.15.2 and apparently it actually was possible to use `SelectPercentile` in combination with a multi-label text classifier. The model did actually get smaller (file size of pickle dumps) when I entered a lower percentile and the classification results did improve.

Please have a look at this ex

[2016-10-13 08:41] yguo18 commented on #7522
u can try  ubuntu(1604LTS)...or install Anaconda

[2016-10-13 08:53] agramfort commented on #6545
+0 to add it ie. neutral

[2016-10-13 12:12] jnothman commented on #7628
Yes, I see how this used to work, and suppose it may be valid mathematically.

@amueller it's another over-aggressive application of `check_X_y` in `_BaseFilter`, unfortunately. The `score_func` should be allowed to take whatever `y` form it likes. And, specifically,  `chi2` should be tested with multilabel.

[2016-10-13 12:52] jnothman commented on #7646
Thanks for the report @davidslater. I'm not sure if this is to be fixed for 0.18.1 (it only applies to 0.18, but AFAIK this kind of nested CV wasn't possible before, so it's not exactly a regression), but I've labelled as such.

[2016-10-13 13:32] jnothman commented on #6420
Need Debugger label?

[2016-10-13 14:10] GSzpak commented on #7558
@amueller I opened a PR #7633.

[2016-10-13 14:22] #7539 closed

[2016-10-13 14:36] #7369 closed

[2016-10-13 15:48] amueller commented on #3831
@damienrj  with which version?

This works for me
[code]

Please open a new issue if you still see this error.

[2016-10-13 15:50] amueller commented on #6919
I think the place in the docs that @TomDLT should be fixed so that it's clear that this refer's to Ridge's alpha, and maybe we should add a warning note on the linear models page somewhere along the first l1 penalized model (I guess lasso)?

[2016-10-13 15:56] amueller commented on #6747
we can always call it macro_average_accuracy (that's what we're talking about, right?) and say that "balanced accuracy" can mean "macro average accuracy" or "macro average recall" depending on who you ask.

[2016-10-13 15:58] amueller commented on #6920
@hmf our RFE is model-based. There is a discussion to add "sequential forward selection" and "sequential backward selection" from mlxtend here: #6545

[2016-10-13 16:01] amueller commented on #6929
somewhat related #78

[2016-10-13 16:12] amueller commented on #6603
Sorry for slow reply on the initial issue. I think it would be great to have scikit-learn-contrib more visible, but I also don't want to clutter the page up that much.
We could possibly change the current center part? I don't find it that helpful. It's more a nice space filler or advertising.

We could add another link to "more machine learning" and not only link to "related projects" but also to

[2016-10-13 16:23] amueller commented on #6915
ah, this is for the mahalanobis in the trees, I guess.

[2016-10-13 16:30] amueller commented on #5875
I think we should mention the name laplacian eigenmap more prominently, though.

[2016-10-13 16:38] amueller commented on #6955
I guess there is no harm in storing S.

[2016-10-13 16:38] #6960 closed

[2016-10-13 16:41] amueller commented on #6766
@HimaVarsha94 yes but that seems to be a different issue.

[2016-10-13 16:43] amueller commented on #5481
@rousseau no.

[2016-10-13 16:49] amueller commented on #7113
@paulcoursaux Ah, so you want to have an option to change the SVD algorithm used by ARPACK by passing it to scipy? Can you try again with current scipy or provide the scipy version that's failing and scikit-learn 0.18? We could add another option to PCA, or add ``algorithm="full-gesvd"`` but I'd rather keep the complexity low if we can.

[2016-10-13 16:55] amueller commented on #7173
ping @jakevdp possibly?

[2016-10-13 16:55] amueller commented on #7173
@cossatot can you try scikit-learn 0.18 please?

[2016-10-13 17:54] jkarno commented on #7091
@amueller Sorry for the delay, but I can work on this. It seems like the agreed solution to use is np.random.permutation?

[2016-10-13 17:58] amueller commented on #6420
is need debugger the same as need contributor or as need reviewer or something else? lol

[2016-10-13 18:09] kchen17 commented on #3298
Hi all, I just wanted to let you know that I submitted a "preliminary" PR. I am interested in hearing some feedback on implementation (e.g. I'm sure there are ways to leverage numpy/etc. in a better way than I am doing right now), along with best practices for adding new tests, documentation wording, etc.

Thank you for all of the help so far!

[2016-10-13 18:13] amueller commented on #7426
@GarrettHoffman have you looked into this?

[2016-10-13 18:15] amueller commented on #2751
@giorgiop @mblondel reopen then?

[2016-10-13 18:25] amueller commented on #6211
done in #7636. A link to a good rebasing doc was added in #7541. Closing this and #6176.

[2016-10-13 18:25] #6211 closed

[2016-10-13 18:27] #5734 closed

[2016-10-13 18:27] amueller commented on #5734
closing as can't reproduce.

[2016-10-13 18:55] amueller commented on #7091
@jkarno indeed. Go for it. It would be great if you could finish this up soon-ish, it should be relatively easy. Then it can go into the 0.18.1 release.

[2016-10-13 18:59] amueller commented on #7596
Sorry, I don't fully understand your comments.
So I'm training a neural network and I want to stop it and look at the results. How would you do that?

[2016-10-13 18:59] #7588 closed

[2016-10-13 19:05] amueller commented on #3808
fixed in #7516

[2016-10-13 19:05] #3808 closed

[2016-10-13 19:27] aterrel commented on #6603
@amueller  I can certainly put you in touch with the designer that redid http://pydata.org/ for us.

[2016-10-13 19:33] amueller commented on #7475
The problem with these kind of messages is that the user can't turn them off (except by wraping the call in an ignore warning, which might ignore more warnings than just that).

@yxtay yes, that's what "backward compatible" means.

[2016-10-13 19:57] amueller commented on #6416
I find the plots still hard to read, but I think you're right. I'm surprised our tests don't cover that. Do you want to submit a PR with a non-regression test?

[2016-10-13 20:08] #6515 closed

[2016-10-13 20:14] amueller commented on #7650
wow you rock :)

[2016-10-13 20:15] amueller commented on #6568
(or a meta-estimator ;) - and reference #5972 for your idea...

[2016-10-13 20:20] amueller commented on #7635
This is very closely related to #7448 which proposed the same for ``predict``.

I'm not sure how this would work as a mixin. Would all transformers get it? Then it should be in ``TransformerMixin``, right?

This wouldn't work in pipelines, unless we add this to pipelines...

Why not do it as a meta-estimator? That way we don't have to mess with ``Pipeline``.

[2016-10-13 20:23] amueller commented on #6738
I'm not opposed to adding a solver without regularization. We can check what would be good, or just bail and use l-bfgs and check before-hand if it's ill-conditioned?

Yes, all coefficients change with regularization. I'm just honestly curious what you want to do with them afterwards.

[2016-10-13 20:47] amueller commented on #7533
thanks @JungeAlexander. You can already create a pull request and keep iterating on that branch.

[2016-10-13 20:59] amueller commented on #2688
@mvds314 the scikit-learn documentation and examples try to explain what's happening. Check out the examples gallery:
http://scikit-learn.org/stable/auto_examples/index.html

Your example doesn't say anything about what is happening. It should provide at least some explanation and illustration.
I studied linear algebra and group theory for quite some years, but I have never heard of "oblimin" and

[2016-10-13 21:13] amueller commented on #6259
There is a package, though it doesn't fulfil our testing and doc standard. I haven't check api compatibility.
@AmazaspShumik can you include ``check_estimator`` in your test-suite? You don't have continuous integration set up, do you?

I kind of want all these models but maybe @agramfort is right about going to scikit-learn-contrib first.
Maybe @GaelVaroquaux and @jnothman have opinions?

[2016-10-13 21:25] amueller commented on #7653
I would recommend not trying to build on windows unless you absolutely have to ;) Do you want to develop or use the development version?
You have not lapack/atlas/mkl installed, which means you will likely end up with an unusably slow library.

So this is the error:

C:\Users\Chris\Anaconda\include\pystate.h(137) : see declaration of 'PyGILState_STATE'

Similar issue here:
https://github.com/sciki

[2016-10-13 21:29] amueller commented on #6650
Gohlke's say they are linked against 1.11-mkl so it only makes sense to use 0.18.1 and 1.11 together.

Close as "fixed by update"?

[2016-10-13 21:29] cammil commented on #7628
Hi All. I'm looking to contribute if possible. This would be my first contribution, so not sure of the process. The contrib guidelines suggest I pick an 'easy' issue, so here I am! Anything I should know before I get started?

[2016-10-13 21:30] amueller commented on #7652
maybe it was intended for json initially" @ogrisel ?
I would rather not implement that in scikit-learn, though. We could recommend ``FlatDict`` in the dataset import docs?
@riastrad is there a problem with calling that before passing the data to scikit-learn?

[2016-10-13 21:32] iver56 commented on #6650
Sounds good to me

[2016-10-13 21:33] GaelVaroquaux commented on #7652
+1.

[2016-10-13 21:34] amueller commented on #7645
@lesteve wow that's some commitment.
Is that fixed in the newer cython? Otherwise, we should report upstream, right?

[2016-10-13 21:47] #6650 closed

[2016-10-13 21:51] riastrad commented on #7652
@amueller understand the hesitation to incorporate it. Would definitely be useful to have an idea of where to look when you need to convert an array of nested dictionary objects. When I modified my data with FlatDict and then applied DictVectorizer(), I encountered a 'ValueError' later in my pipeline - so I don't know that it solves the issue in the way I had initially assumed.

[2016-10-13 21:53] cossatot commented on #7173
Thanks for looking into this.

I just tried with the following setup, and got the same results.
[code]

[2016-10-13 22:05] amueller commented on #7658
@jnothman I kinda wanted to do that... but then didn't :(

[2016-10-13 22:08] AmazaspShumik commented on #6259
Hi @amueller @agramfort  @GaelVaroquaux

1) I do not have continuous integration (but I plan to include it, I actually tried to do it before with
    Travis CI )

2) I will update test suite. However, I used check_estimator and all regression and classification
    algorithms (with the exception of RVR ) that are currently included in sklearn-bayes package
    pass check_estimator.

In case you ar

[2016-10-13 22:14] amueller commented on #7522
@yguo18 come again?

[2016-10-13 22:27] GarrettHoffman commented on #7426
I have the test code with the fix but got caught up in a bunch of stuff at work and Pushed the fix yet. I can get to this this weekend.

[2016-10-14 01:02] jnothman commented on #7628
make sure you understand what needs to be solved. thanks! looking forward
to your PR

On 14 October 2016 at 08:29, cammil <notifications@github.com> wrote:

[2016-10-14 02:16] StevenLOL opened #7665 "Should Multioutput classification example use MultiLabelBinarizer ?"
[In 1.12.6 Multioutput classification](http://scikit-learn.org/dev/modules/multiclass.html#multioutput-classification)

Should the training target in MultiLabelBinarizer transformed format ?  eg [ 1 1 1] or [1 1 0] ... etc instead of [2, 1, 0] ,[2,2,0]...

[2016-10-14 04:21] jnothman commented on #7665
Multilabel is a special case of multioutput where each output is binary. While this could be stated somewhere (pull request welcome), the example is fine. From the perspective of prediction, multilabel be handled by a more general multioutput classifier. Because multilabel can be interpreted as a set per sample, it is a popular learning problem, and can utilise specific evaluation metrics.

[2016-10-14 04:21] #7665 closed

[2016-10-14 05:02] kokostek opened #7666 "cross_val_score fails with Pipeline and FunctionTransformer"
#### Description
I use the subclassed FunctionTransformer to remove some features from dataset by hand. Call to .fit() method works ok, but cross-validation fails with ValueError.

#### Steps/Code to Reproduce

[code]

#### Expected Results
No error is thrown.

#### Actual Results
[code]

#### Versions
Windows-7-6.1.7601-SP1
Python 3.5.1 |Anaconda custom (64-bit)| (default, Feb 16 2016, 09:49:46)

[2016-10-14 06:07] itraveribon commented on #7645
Hi guys,

thank you for your work. I have the same problem in Linux with Cython 0.24.1 and sklearn 0.18. Coming back to sklearn 0.17.1 would solve the problem?

In my case fit_transform needs 22 minutes for HashingVectorizer(n_gram=(3,5)) and only 2 minutes for CountVectorizer(n_gram=(3,5)).

[2016-10-14 06:16] jnothman commented on #7666
I won't debug your code, but clearly your function is producing a 3d array.
That's obviously not what you intended, and likely has nothing to do with
cross_val_score. So throw away the cross_val_score and debug...

On 14 October 2016 at 16:02, kokostek <notifications@github.com> wrote:

[2016-10-14 06:17] GaelVaroquaux commented on #7666
It seems to me that you're violating the scikit-learn API is several ways. First your using 3D arrays. Second, you have an init with logic that is more than setting its parameters.

[2016-10-14 06:17] #7666 closed

[2016-10-14 06:38] kokostek commented on #7666
Sorry, guys, but i really don't see a 3d array here:
[code]
It seems like the problem was in subclassing FunctionTransformer, because this fixes the issue:
[code]
Anyway, thanks for replies!

[2016-10-14 06:43] mblondel commented on #6603
@amueller Alright, let's add a "scikit-learn-contrib" link in the community section. I would have preferred more visibility but that will do it for now. polylearn has only 30 followers and that's a shame :/

[2016-10-14 06:52] GaelVaroquaux commented on #6603
Given that the donate button hasn't generated that much money and moreover seems to have slowed down, we could simply replace it with a link to scikit-learn contrib. I am strongly -1 on a list of projects, because that would add a lot of clutter, but a link might be good. That doesn't preclude adding more clear info in "related projects".

[2016-10-14 06:55] GaelVaroquaux commented on #6259
It seemed to me that these types of models has mostly lost steam lately.

[2016-10-14 07:00] jnothman commented on #7666
Right. I something that might be the issue: your columns selector is probably not clonable because of how it uses the cols param.

[2016-10-14 07:25] mvds314 commented on #2688
@amueller: the code of Bernaards and Jennrich has has no license. So, I asked the authors for their permission to publish my code on Github under a BSD license. Furthermore, my code is not a direct port, but a is more like a reimplementation of the algorithm in Python . Conclusion: the license should be no obstacle to include it in scikit-learn.

For the example, I am not sure what you are asking

[2016-10-14 07:47] robkoper commented on #2688
I agree that a detailed explanation of the rotation methods will be too technical and not needed for most users of FA. I used many different tools in the past for FA, they all support factor rotation and in any introductory text book about FA they are explained to a certain extend. There are essentially two different types of rotations (each with different implementation methods):
a. Orthogonal ro

[2016-10-14 08:45] madcat1991 opened #7667 "MLPClassifier stuck in cross_val_predict with n_jobs=-1"
#### Description

The code below freezes on the cross_val_predict function when a pass  n_jobs=-1 to the function. This problem occurs only with MLPClassifier (other classifiers are ok). The code is running in ipython notebook, but I do not get any errors/warning both in notebook or in the terminal.

Moreover, the process can't be stopped with "interrupt kernel" button, the only way to stop it is

[2016-10-14 09:25] lesteve commented on #7645
@itraveribon this issue is Windows specific and only about HashingVectorizer but your problem may be related, it is hard to tell (I found [this SO answer](http://stackoverflow.com/a/26904535) that although old is saying that HashingVectorizer should be faster than CountVectorizer).

The best would be to create a new issue with a stand-alone snippet reproducing the problem, ideally on toy data so t

[2016-10-14 09:52] rth commented on #7645
Nice work on finding the issue @lesteve !

It would have been great to have some kind of automatic benchmarks (e.g. with [airspeed velocity](https://asv.readthedocs.io/en/latest/)) to detect such major performance  regressions, but I guess it would require a lot of additional work and won't solve all the problems (variations in dependency versions / OS, regressions in the dependencies, scaling to

[2016-10-14 11:38] Klamann commented on #7628
@cammil thanks for looking into this. If you find an easy solution to this, could you report it here? I'd like to write a monkey patch for this issue that I can use in my project until the actual patch makes it into the stable branch.

[2016-10-14 12:40] aterrel commented on #6603
I'm not sure I follow the logic of removing the button. The button was producing several $1000 in revenue a year then it was moved and no longer producing. I would suggest moving it back above the fold. The numfocus web page saw a dramatic increase in support when we put the button as a fixed element on the bottom of all our pages.

But maybe this discussion should be another thread.

[2016-10-14 12:43] GaelVaroquaux commented on #6603
What do you mean that it was moved? I have gone back till August 2014,
and as far as I can see it was always at the same place.

[2016-10-14 12:50] aterrel commented on #6603
Okay I was given the impression from the discussion that the button was pushed below the fold by the cleanup. That could be incorrect.

I would just like to submit that the placement of the button on the page is not working. Removing it will clean up the page but ensure it never works.

[2016-10-14 12:53] GaelVaroquaux commented on #6603
It's a question of priorites. $1000 isn't much money. My institute spends
more than 100 times more than that in scikit-learn per year. Is it worth
the cost, in terms of attentional load to the visitor? We need to choose
the messages that we want to pass on about scikit-learn.

[2016-10-14 13:02] aterrel commented on #6603
@GaelVaroquaux That is fair. If scikit-learn is adequately funded then we should focus fundraising on parts of the ecosystem that are not.

[2016-10-14 13:06] GaelVaroquaux commented on #6603
Adequate funding is a point of view. It's used incredibly heavily, and
the user support drains a huge amount of resources. The institute that
are funding it, whether it's Inria, Telecom Paritech, or NYU, are
basically doing a big gift to the community. The volunteers that
dedicating unpaid time are maybe doing an even bigger one.

[2016-10-14 13:06] TomDLT commented on #7667
Can you reproduce with generated data so that we can try it?
(e.g.:
[code]
)

[2016-10-14 13:21] aterrel commented on #6603
@GaelVaroquaux I'm sorry if I'm not communicating correctly here. It seems you object to the word "adequately funded". Is that correct? Or is the sentiment that I should focus energy on other priorities incorrect?

I took from your previous message that growing a revenue stream through individual donations was not a priority for your community. Or at least the pixel space was more appropriately us

[2016-10-14 13:35] lesteve commented on #7645
Not fixed in the latest cython. I am trying to put together a stand-alone example before reporting to the cython folks.

[2016-10-14 15:41] thommiano commented on #4405
Any status updates on this?

[2016-10-14 15:43] DonBeo commented on #4405
I think partial dependency plot should be a general function available for every class with a predict function.

[2016-10-14 16:38] amueller commented on #6545
I'm +1. @GaelVaroquaux @ogrisel @jnothman or anyone else have opinions?

[2016-10-14 16:41] amueller commented on #7646
I agree we need #4497 to fix this, and I don't see how we could do it for 0.18.1 - except special-casing the ``groups`` parameter to be passed to the cross-validation but not the estimator.

[2016-10-14 16:41] amueller commented on #7646
"need contributor"? I don't think we agree on a fix, do we?

[2016-10-14 17:59] amueller commented on #7652
@riastrad what was the ValueError?

[2016-10-14 18:00] amueller commented on #7173
@cossatot thanks for checking. I'm not an expert on this, but we'll investigate.

[2016-10-14 18:01] amueller commented on #7426
much appreciated @GarrettHoffman and no rush :)

[2016-10-14 18:21] amueller commented on #6259
@GaelVaroquaux in academia but not in industry, I think. I haven't seen an extensive comparison but people really like linear models.

[2016-10-14 18:25] GaelVaroquaux commented on #6259
I really like linear models :). I was more thinking of the Bayesian
thing. Is it still used in the industry? I thought that it never had been
used.

I do know some cases where it has an edge (sparse recovery with a noise
with known covariance, and the covariance is injected in the model), but
AFAIK they are rare.

[2016-10-14 18:34] riastrad commented on #7652
@amueller
`ValueError: Input contains NaN, infinity or a value too large for dtype('float64').`

[2016-10-14 18:36] amueller commented on #2688
An example like the one above would be great, but I haven't looked into it in much detail and need to study it more.

It's indeed not necessary to explain everything in detail. But we should have some good default options that are helpful for most users and we should provide references for the rest. If the options are not worth explaining, are they worth having?

[2016-10-14 18:39] amueller commented on #6259
I think ARD is helpful in particular with unknown covariance. I talk to people and they tell me they use a thing because... you know it works? I think people rarely take the time to do full comparisons. My boss at Amazon was really into EP ;) And I think it was a hedge fund that recently asked me if we want their implementation for EP.

[2016-10-14 19:06] robkoper commented on #2688
Hi Andreas,

To answer your last question: they are a 'must have', and integral part of any use of FA. All statistical tools that implement FA have it, all text books describe it, all scientific articles using FA in the research use rotation. To turn the argument around: having FA without rotation is useless (PCA is another story). However, it can be explained in a couple of lines as is done in th

[2016-10-14 19:19] amueller commented on #7628
@jnothman I'm happy to relax if it's tested and makes sense. I think ``check_X_y`` and ``check_array`` was applied in a way that assured all tests pass, not that all possible use-cases were covered, so we can be more explicit about what we support.
Not tested means broken after all ;)

[2016-10-14 19:20] amueller commented on #7628
@larsmans do you have experience with chi2 and multi-label?

[2016-10-14 19:22] amueller commented on #7667
Maybe this? http://scikit-learn.org/dev/faq.html#why-do-i-sometime-get-a-crash-freeze-with-n-jobs-1-under-osx-or-linux

[2016-10-14 19:27] amueller commented on #7645
@lesteve awesome!

@rth we tried that in the past kind-of: https://github.com/scikit-learn/scikit-learn-speed
It would be awesome, but is unfortunately really hard to do right. Help / ideas are appreciated. We didn't use airspeed velocity. One problem with scikit-learn is that things tend to take a really long time. Most algorithms are optimized for the large-sample regime, and testing that is not

[2016-10-14 19:49] amueller commented on #4520
OK so the todo here is: add ``metric_params`` to ``DBSCAN``. It looks like ``metric_params`` and ``p`` are separate parameters for the neighbors classes, and ``p`` get's special treatment.

I actually don't consider this a bug any more, more a usability issue with metrics that require a parameter.

[2016-10-14 19:58] #7146 closed

[2016-10-14 20:15] amueller commented on #7238
The same is true for the other label transformers btw.

[2016-10-14 20:16] amueller commented on #7652
And did it?

[2016-10-14 21:19] amueller commented on #7517
fixed in #7560.

[2016-10-14 21:19] #7517 closed

[2016-10-14 21:21] amueller commented on #7552
@lesteve you tagged this 0.18.1. When are you planning to release and backport? I would like to do 0.18.1 within the next two weeks.

[2016-10-14 21:40] riastrad commented on #7652
Sorry, nope - not to my knowledge.

[2016-10-15 03:57] rasbt commented on #7517
Has the patch been applied to the web version, yet? I just cleared my browser caches (Safari and Chrome) and still having this issue, but maybe it's just my machine(s)?

![screen shot 2016-10-14 at 11 55 43 pm](https://cloud.githubusercontent.com/assets/5618407/19407244/e54df66a-9269-11e6-88a9-940b10dcf2ee.png)

[2016-10-15 04:02] Ajackster commented on #7517
@rasbt The fix is queued up for the 0.18.1 release

[2016-10-15 04:04] rasbt commented on #7517
Oh I see, no worries then :)

[2016-10-15 07:43] affanv14 commented on #7628
I'll try this out too.This is my first contribution as well.

[2016-10-15 08:51] kmike commented on #7613
@amueller @lesshaste thanks for the links, sounds interesting!

@amueller as for inspection, I'm not sure what to add to scikit-learn API other than get_feature_names for transformers, pipelines, etc. We'll try to experiment with some ideas in eli5. One such experiment is a set of classes to recover feature names for HashingVectorizer and FeatureHasher (https://github.com/TeamHG-Memex/eli5/blob/ma

[2016-10-15 09:37] jnothman commented on #6603
By "at the bottom of each page" you mean a "position:fixed" overlay at the
bottom of the screen for numfocus. It's besides the point for this issue,
but maybe we do have other options for where to put the fundraising button.

On 15 October 2016 at 00:21, Andy R. Terrel <notifications@github.com>
wrote:

[2016-10-15 09:39] jnothman commented on #7646
Or just some kind of routing parameter specific to CV, seeing as we already
accept a groups param to GridSearchCV.fit?

On 15 October 2016 at 03:41, Andreas Mueller <notifications@github.com>
wrote:

[2016-10-15 10:42] #6101 closed

[2016-10-15 12:07] JungeAlexander commented on #7533
Currently some tests fail. Some hints:

[code]

Will look into this later. Please let me know if you have a better idea than skipping the test for specifically those estimators where it fails right now

[2016-10-15 12:38] gioelelm opened #7678 "TSNE is ignoring n_iter_without_progress parameter"
#### Description
TSNE with method="exact" is ignoring the **n_iter_without_progress** parameter.
My insight is that it never gets passed to _gradient_descent:
opt_args['n_iter_without_progress'] is only set for barnes_hut and not for "exact"

#### Steps/Code to Reproduce

[code]

#### Expected Results
[t-SNE] Iteration 225: **did not make any progress during the last 400 episodes**. Finished.

###

[2016-10-15 13:30] jnothman commented on #7678
Fixed in master (#6497). Will be released in 0.18.1

[2016-10-15 14:07] #7678 closed

[2016-10-15 14:28] aflaxman commented on #6101
So cool, thanks all!

[2016-10-15 21:25] jnothman commented on #6545
I agree feature selection is important and that this kind of approach is common in practice. To the extent that scikit-learn should be a Kaggler's best friend, it should perhaps be included.

At the same time, I'm feeling the growing maintenance burden of the project. It's becoming urgent that we have a way to help people find estimators outside of the core project that suit their needs. Part of t

[2016-10-15 21:26] GaelVaroquaux commented on #6545
It's a classic, eventhough it feels a bit old. I am +1 if the implementation is simple and readable.

[2016-10-15 23:05] zym1010 opened #7679 "Wrong shrinkage implementation in `sklearn.neighbors.NearestCentroid`?"
It seems that the normalizing factor for std error of difference between class mean and total mean is `1/n_k + 1/n`, as shown in https://github.com/scikit-learn/scikit-learn/blob/412996f/sklearn/neighbors/nearest_centroid.py#L148. This is what's said in the original PNAS paper (Diagnosis of multiple cancer types by shrunken centroids of gene expression), but I think actually the equation in the pa

[2016-10-16 10:41] karmagamer commented on #7627
I can try to PR. Could you explain last point as alex said.?

[2016-10-16 11:54] olologin commented on #7230
Do you want to change default behaviour (Default output of transform), or just want to change it when

is activated?

I can work on this, anyway I changed this class recently.

[2016-10-16 16:18] olologin commented on #6420
Looks like I found the problem, np.array object returned from __repr__ doesn't own underlying memory, so unerlying memory gets freed after ClassificationCriterion is destroyed.

here we get __reduce__ result from copy, and then copy object is removed, after this reduce result is filled with garbage.

Also, there are some other funny problems, like:

    gini = tree._criterion.Gini(n_outputs=1, n_c

[2016-10-16 18:38] olologin commented on #6420
@panisson, Could you check your original problem on this branch https://github.com/scikit-learn/scikit-learn/pull/7680 ?

[2016-10-16 23:22] raghavrv opened #7681 "We should raise an error message when n_groups > actual number of groups"
In `LeaveOneGroupOut` and `LeavePGroupsOut`, when the `groups` supplied at `split` time has fewer than or equal to `n_groups`, we should raise an error.

[code]

This was like that before in the `cross_validation` module too. I think we should raise an appropriate error message in both cases (`LeavePGroupsOut` and `LeaveOneGroupOut`)?

@amueller @jnothman

[2016-10-16 23:32] raghavrv commented on #7243
@jmschrei I think #7305 could be one way to introduce such API?

For this issue can we proceed with our general `GridSearchCV` like approach? Is there sufficient interest in this for me to proceed on this?

[2016-10-16 23:33] cossatot commented on #7173
OK, I'll give the source a look.  I don't really understand how tree-based KDE works, as I'm really only familiar with Fourier-based methods, so no promises on finding anything, but it'll probably be interesting nonetheless...

[2016-10-17 02:28] polmauri commented on #7681
Can I give it a try?

[2016-10-17 05:05] neerajgangwar commented on #7406
Observation:
The trees with feature importance sum 0 have only 1 node which is being caused by the following [code](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/_tree.pyx#L228-L229)
`is_leaf = (is_leaf or (impurity <= min_impurity_split))`

For estimator number 710
`impurity = 0.00000010088593634382
min_impurity_split = 0.00000010000000000000`

For estimator number 711 (wh

[2016-10-17 05:51] rasbt opened #7684 "`AttributeError` / issue with sklearn.neighbors.ball_tree.BallTree when importing from `neighbors`"
#### Description

`AttributeError: type object 'sklearn.neighbors.ball_tree.BallTree' has no attribute 'valid_metrics'` when importing `KNearestNeighborsClassifier`

#### Steps/Code to Reproduce

`from sklearn.neighbors import KNeighborsClassifier`

#### Expected Results

Shouldn't throw an `AttributeError`

#### Actual Results

[code]

#### Versions

Darwin-16.0.0-x86_64-i386-64bit
Python 3.5.2 |

[2016-10-17 07:30] jln-ho commented on #6915
Yes, sorry, VI was what I meant. Here's an example of how I would want to auto-tune the `n_neighbors` parameter for a `KNeighborsClassifier` using `GridSearchCV`:

[code]

This produces an error because the `VI` parameter is not set. Even if you set it on an instance of `KNeighborsClassifier` before passing it into `GridSearchCV` it won't work because `GridSearchCV` will create new instances of th

[2016-10-17 07:33] GaelVaroquaux commented on #6915
+1. Do you want to do a pull request?

[2016-10-17 07:49] jln-ho commented on #6915
Yes, I'd be glad. Don't know exactly how long it will take, though. It should be an easy fix so if anyone wants to jump in for me, go right ahead! I probably won't start working on this before the weekend anyway.

[2016-10-17 08:19] GaelVaroquaux commented on #7646
I really do think that we need #4497 to address this. It's an issue that
is very dear to my heart, by I don't think that rushing it is a good
idea. This is probably material for a sprint discussion.

[2016-10-17 08:49] GaelVaroquaux commented on #7627
@karmagamer : @alex-33  is already on this, and doing good progress in #7627 .

@alex-33 : indeed, http://scikit-learn.org/stable/tutorial/basic/tutorial.html#loading-an-example-dataset is a good place. I would add a "..topic" block, mentioning loading from a CSV file.

[2016-10-17 08:51] karmagamer commented on #7627
@GaelVaroquaux . Sorry. I didn't check. I just saw the label. My bad.

[2016-10-17 08:58] GaelVaroquaux commented on #7627
@karmagamer no worries

[2016-10-17 09:26] madcat1991 commented on #7667
Here is the full example

[code]

Probably the issue is the one described in the link provided by @amueller .
However, if I set `n = 1000` everything works fine.

[2016-10-17 10:39] Klamann commented on #7628
huh, looks like setting `multi_label=True` is sufficient after all (at least in my case). If the solution is that simple, here's the monkey patch for scikit-learn 0.18.0:
[code]

[2016-10-17 13:28] tomlof commented on #6955
I needed this in my work, so I fixed this issue and have sent a pull request. I added it to PCA, RandomizedPCA and TruncatedSVD.

It could also be added to SparsePCA, but the singular values are not computed in the fit, but only in the transform, so I left it out of my fix. They could be added to the fit, but that would increase the computational load of the fit method.

[2016-10-17 14:33] tguillemot opened #7686 "Update ml_map.png"
As we have deprecated the GMM and VBGMM classes we must modify the [`ml_map.png`](http://scikit-learn.org/stable/tutorial/machine_learning_map/).
To modify it correctly, you know where I can find the original file (gimp file, ...) ?

[2016-10-17 14:57] tguillemot commented on #7623
@matalab I think we can close this issue ?

[2016-10-17 15:25] #7623 closed

[2016-10-17 15:53] amueller commented on #7613
@kmike Definitely the feature names, but I would also like to know the max depth or number of leaves. How am I supposed to set parameters of a grid-search otherwise?

I feel like trying to get the features back from the hashing models defeats the purpose. I would rather try implementing the cuckoo hash if that's your goal: alex.smola.org/data/kdd2015/Cuckoo.pdf

[2016-10-17 16:08] jmschrei commented on #7243
I agree with @amueller that we want a _fit_more or _fit_next method which would be overridden by the specific estimator. I think the way xgboost does it is that it tries to see whether or not adding the next best leaf is better than starting with another tree, allowing you to optimize over both features at the same time, so trees should basically be one axis (complexity of forest).

@raghavrv I'm

[2016-10-17 16:47] kmike commented on #7613
@amueller yeah, I meant what to add other than your proposed changed, no fresh ideas from me.

A nice link!

I still think getting feature names back from hashing vectorizer is helpful - it has memory/cpu overhead neither at training time nor at run time - you pay the price only if you inspect the model (well, you may need to store a sample dataset). It is also helpful if one wants to inspect a si

[2016-10-17 17:05] rth commented on #7679
So this would only affect `NearestCentroid` with a `shrink_threshold` different from None (default) . There is some unit tests with shrinkage [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neighbors/tests/test_nearest_centroid.py#L73) that do pass: the current version does not seem to produce completely wrong results.

I tried to change the sign as you suggested and for th

[2016-10-17 17:20] MarDiehl opened #7687 "sklearn.neighbors.KDTree complexity for building is not O(n(k+log(n))"
### Description

Building a kd-Tree can be done in O(n(k+log(n)) time and should (to my knowledge) not depent on the details of the data. However, the KDTree implementation in scikit-learn shows a really poor scaling behavior for my data. I cannot produce this behavior with data generated by sklearn.datasets.samples_generator.make_blobs
### Steps/Code to Reproduce

download numpy data (search.npy)

[2016-10-17 17:26] amueller commented on #6545
@jnothman I agree. Though what many people like about python /sklearn compared to R is the "one implementation to rule them all" approach. It's not scalable (without more maintainers), but I think for core methods we should stay with it. The question is what "core" means ;)

[2016-10-17 17:28] amueller commented on #7679
@zym1010 can you provide a non-regression test? I'm willing to believe ESL ;)

[2016-10-17 17:32] amueller commented on #7230
We can't change the behavior now, that would break backward compatibility. So I think introducing ``flatten_transform`` and warning that it's default will change from ``False`` to ``True`` in the future with a deprecation cycle makes most sense.

[2016-10-17 17:40] rasbt commented on #6545
@jnothman Yeah, cluttering the library with non-core stuff is definitely a problem to avoid. I could set up a contrib project for feature selection if that's a better fit (if there isn't already one). I thought that this may be one of these non-fancy "classics" or "essentials," which is why I thought it may be useful to have it in core. I can definitely see the pros and cons on both sides though.

[2016-10-17 18:00] zym1010 commented on #7679
@amueller I'm not sure, as I think this scaling it a little incorrectly won't make any difference in practice, but I just think it's good to make the implementation correct. I can show you why it's `1/n_k-1/n`.

![screen shot 2016-10-17 at 1 59 57 pm](https://cloud.githubusercontent.com/assets/4273204/19449067/2003ee18-9472-11e6-8a81-a1802654f28c.png)

[2016-10-17 20:26] amueller commented on #7679
@zym1010 it would be great if you could come up with a test that could prove the current formula is wrong, so that we can make sure we don't go back to the bad code at some point in the future. I'll check out your argument later, I have too look back at the paper.

[2016-10-17 20:26] amueller commented on #6545
Does the "floating" help in practice?

[2016-10-17 20:47] rasbt commented on #6545
Yeah, it can potentially be better because it is a tad closer to exhaustive search, yet the trade-off is that it is also a bit more expensive. Btw. I finally found the original paper:

- Pudil, Pavel, Jana Novovičová, and Josef Kittler. "[Floating search methods in feature selection.](http://ac.els-cdn.com/0167865594901279/1-s2.0-0167865594901279-main.pdf?_tid=43173e6e-94a9-11e6-ad86-00000aacb35e&

[2016-10-17 20:54] amueller commented on #7681
@polmauri can you sent a PR please?

[2016-10-17 20:56] amueller commented on #7406
ping @jmschrei maybe?

[2016-10-17 20:59] weixuanfu opened #7689 "AgglomerativeClustering with metric='cosine' broken for all-zero rows"
Original title: ***"Cosine" affinity type in FeatureAgglomeration somehow casue memory overflow in a particular dataset***

#### Description

Please carefully test the codes below! Using "cosine" affinity type in FeatureAgglomeration, the codes will cause memory overflow with a particular dataset ([Download here](http://gleason.case.edu/webdata/tpot/)). It is all right with other affinity types. A

[2016-10-17 21:00] jmschrei commented on #7406
If the gini impurity at the first node is that low, you're not gaining anything by having more trees. I am unsure if this is a bug, except that it should maybe only look at the impurity of trees where a split improves things.

[2016-10-17 21:03] raghavrv commented on #7681
PR @ #7683

[2016-10-17 21:04] amueller commented on #7681
damn I didn't see the link between the commits.

[2016-10-17 21:10] amueller commented on #7684
I'd say a screwed installation? Did you completely remove the conda install before pip installing? Can you upgrade to 0.18 and check if you can still reproduce?

[2016-10-17 21:21] lesteve commented on #7552
I was planning to do a joblib bugfix release indeed. I can do it this week and do a PR in scikit-learn.

[2016-10-17 21:24] amueller commented on #6915
I don't understand why passing it to ``KNeighborsClassifier`` doesn't work:

[code]

[2016-10-17 21:27] amueller commented on #6915
So if you want to have a V that depends on the particular split of the data, that's more tricky, so if you want ``V`` to be created dynamically based on the training part of the cross-validation split, I'm not sure how to do that.
For that you could do
[code]
though. That should be what you want, right?

[2016-10-17 21:29] amueller commented on #7667
@madcat1991 have you tried the fix described there?

[2016-10-17 21:30] amueller commented on #7628
@Klamann I'm not sure if that patch is a good idea. ``check_X_y`` is used in a LOT of places ;)

[2016-10-17 21:53] amueller commented on #7686
vectorgraphic here: https://gist.github.com/amueller/4642976

[2016-10-17 22:02] rasbt commented on #7684
What I did was:

- had this AttributeError issue in sklearn 0.18 through conda
- removed scikit-learn 0.18 completely from conda, reinstalled 0.18; AttributeError issue
- removed it again and installed 0.17
- everything fine in 0.17, upgraded to 0.18: AttributeError
- removed 0.18 from conda, installed via pip: had this AttributeError issue again
- removed 0.18 from pip, installed 0.17, which was

[2016-10-17 22:02] #7684 closed

[2016-10-17 22:11] amueller commented on #7687
I'm trying to download the data but your sever is sloooow and has an invalid SSL certificate ;) Maybe use figshare or dropbox or drive the next time?

[2016-10-17 22:24] amueller commented on #6545
I haven't read the paper (should) and I'm kinda on the fence about floating. Isn't "Branch-and-Bound" optimal?

[2016-10-17 22:26] amueller commented on #7689
And with another affinity that's not a problem?
How large is the dataset?

[2016-10-17 22:29] amueller commented on #7552
that would be sweet. Releasing sklearn next week would be ideal but might be somewhat optimistic.

[2016-10-17 22:37] #6589 closed

[2016-10-17 22:38] amueller commented on #6347
that's not the right PR but it's fixed in master...

[2016-10-17 22:38] #6347 closed

[2016-10-17 22:39] amueller commented on #5987
fixed in master

[2016-10-17 22:39] #5987 closed

[2016-10-17 22:40] weixuanfu2016 commented on #7689
Yep, other affinity types have no problem. The training dataset have more than 4000 features and a sample size of ~900

From my iPhone

[2016-10-17 22:46] amueller opened #7690 ""Contributing" link on document page doesn't link to contributing docs"
Instead, it leads to the "development docs" which contain the contributing docs.
I find this somewhat confusing.
Maybe we should just rename the link "Development" ?

[2016-10-17 23:01] amueller commented on #7687
I can reproduce with master:
[code]

[2016-10-17 23:16] amueller commented on #7687
Also ping @jakevdp

[2016-10-17 23:36] amueller commented on #7687
I think the algorithms is not very efficient for your particular data. Actually, just running it on the last dimension or the last two dimensions, you can see the issue.

I'm trying to understand what's happening in ``partition_node_indices`` but I don't really get it.
It looks like it has complexity n ** 2 if the data is sorted?

[2016-10-17 23:40] jakevdp commented on #7687
From what I recall, the main difference between scipy and sklearn here is that scipy splits the tree using a midpoint rule. This leads to very fast builds (because all you need is to compute (max - min)/2 to find the split point) but for certain datasets can lead to very poor performance and very large trees (worst case, at every level you're splitting only one point from the rest).

In sklearn, w

[2016-10-17 23:41] jakevdp commented on #7687
But I've not looked at any of this code in a couple years, so there may be details I'm forgetting

[2016-10-17 23:58] jakevdp commented on #7687
@MarDiehl a couple quick diagnostics: what is the range (i.e. max - min) of each of your dimensions? Second, if you first randomly shuffle the data, does the build time change?

[2016-10-18 00:00] ferria commented on #7690
I'll take a look at this.  Just have to take a look at the pull request guidelines.

[2016-10-18 00:20] ferria commented on #7690
The page it links to says Developer's Guide so I could also rename it to that.

[2016-10-18 00:52] ferria commented on #7690
I made the change but I was going through the make and make flake8-diff tests from the website and it looks like I got some errors/warnings even though I didn't change anything besides the README.rst

[2016-10-18 01:41] mblondel commented on #7635
Only transformers where `fit` doesn't do anything besides input checking (i.e., stateless transformers).

[2016-10-18 04:18] MarDiehl commented on #7687
Thanks for the very quick reply and taking care of the issue.
For faster download, the file is now available on https://www.dropbox.com/s/eth3utu5oi32j8l/search.npy?dl=0
Shuffling helps and give a good scaling, i.e. after `np.random.shuffle(search_raw_real)` I get

data shape (240000, 5)
delta [ 2.14497909  2.14495737  2.14499935  8.86612151  4.54031222]
sklearn.neighbors (ball_tree) build finishe

[2016-10-18 04:34] jakevdp commented on #7687
If you have data on a regular grid, there are much more efficient ways to do neighbors searches. Sounds like this is a corner case in which the data configuration happens to cause near worst-case performance of the tree building.

[2016-10-18 04:48] rasbt commented on #6545
Ah, you are right, since they already have the bounds, that makes sense! Have to read the paper (again) as well, has been a few years (I went through it in a class a few years ago). Although the floating versions are certainly appealing based on the performance, I'd also suggest focussing only on regular forward and backward selection for simplicity (simpler implementation and less confusing docum

[2016-10-18 05:05] themrmax commented on #7635
@mblondel i think it should work with stateful transformers too

[code]

[2016-10-18 05:44] MarDiehl commented on #7687
@jakevdp only 2 of the dimensions are regular (dimensions are a * (n_x,n_y) where a is a constant 0.01<a<0.5 and n_x,n_y is the number of points, typically 40<n_x/n_y<10000). The other 3 dimensions are in the range [-1.07,1.07] and not regular. What I finally need (for DBSCAN) is a sparse distance matrix.
Shuffle the data and use the KDTree seems to be the most attractive option for me so far or c

[2016-10-18 06:50] yuachen opened #7692 "Wrong implementation in sklearn.linear_model.LassoLarsIC?"
#### Description
In the sklearn.linear_model.LassoLarsIC implementation, it seems that log should not be taken on the mean squared error on line 1482, see here
https://github.com/scikit-learn/scikit-learn/blob/412996f/sklearn/linear_model/least_angle.py#L1482.

If we take the AIC definition and work on likelihood function, the log should be taken on the likelihood function. However, for linear mod

[2016-10-18 07:57] tguillemot commented on #7686
Thanks @amueller. I will change that fastly.

[2016-10-18 08:15] madcat1991 commented on #7667
Nope, the described fix is for Python 3.4+. I use 2.7.10

[2016-10-18 09:43] GaelVaroquaux commented on #6545
+1. There is a huge value to the tight integration that sklearn is
providing. It really makes things much easier for non advanced users. But
it does come with a big cost on our side...

It's all a question of tradeoffs...

[2016-10-18 09:51] GaelVaroquaux commented on #7667
Have you considered upgrading to a more recent Python. Python 2.7 is a
legacy environment. Not every problem can be fixed on this environment.

[2016-10-18 10:34] jpauwels opened #7695 "StratifiedKFold fails with one-hot labels"
#### Description
StratifiedKFold does not work together with one-hot labels created by LabelBinarizer.

#### Steps/Code to Reproduce
[code]

#### Expected Results
Stratified train & test folds

#### Actual Results
[code]

#### Versions
[code]

[2016-10-18 11:40] lesteve commented on #7552
@amueller I released a new joblib version and created a PR: #7696.

[2016-10-18 12:05] jnothman commented on #7695
One-hot labels represent multilabel data, for which we have no method to binarise.

[2016-10-18 12:06] jnothman commented on #7695
Why are you using the one-hot transformation, rather than letting OvR do it?

[2016-10-18 13:13] jpauwels commented on #7695
The OvR method is just to make a standalone example. My real use-case is to use one-hot labels with neural networks, but I wanted to make a stand-alone example using only scikit-learn. Feel free to add a better toy example.

[2016-10-18 13:38] jnothman commented on #7695
If you want to use one-hot representation within a learner, but are treating this as a multiclass (not multilabel) problem, then the transformation should be done within the learner. Metrics, for instance, differ in their treatment of multilabel and multiclass.

[2016-10-18 13:38] #7695 closed

[2016-10-18 13:41] jakevdp commented on #7687
DBSCAN should compute the distance matrix automatically from the input, but if you need to compute it manually you can use [kneighbors_graph](http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.kneighbors_graph.html) or related routines.

[2016-10-18 13:43] raghavrv commented on #7695
Could the related PR #7697 be closed too?

[2016-10-18 14:01] panisson commented on #6420
This branch solves my original problem. Thanks!

[2016-10-18 14:13] amueller commented on #7687
I wonder whether we should shuffle the data in the tree to avoid degenerate cases in the sorting.

[2016-10-18 14:38] lesteve commented on #7645
FYI I opened an issue on the cython repo: https://github.com/cython/cython/issues/1492.

[2016-10-18 14:39] jakevdp commented on #7687
My suspicion is that this is an extremely infrequent corner-case, and adding computational and memory overhead in every case would be a bit overkill.

[2016-10-18 15:09] emir-munoz opened #7698 "Multilabel ranking coverage error formula"
#### Description

The formula for `sklearn.metrics.coverage_error` in multilabel ranking presented in the [documentation](http://scikit-learn.org/stable/modules/model_evaluation.html#coverage-error) does not match with the one in the referenced paper "Tsoumakas, G., Katakis, I., & Vlahavas, I. (2010). Mining multi-label data. In Data mining and knowledge discovery handbook (pp. 667-685). Springer

[2016-10-18 16:59] budavari opened #7699 "No Bessel correction in PCA"
#### Description

No big deal just missing Bessel's correction
#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2016-10-18 18:04] maxcw opened #7700 "boundary points not always included in radius_neighbors"
#### Description
Doing a radius query using radius_neighbors does not always return points on the boundary. Using the attached sample data or 400 points, the code below gives inconsistent results when finding the closest neighbors to the first point. Oftentimes, the boundary point(s) are captured, but in this example, they are not. The result does not depend on the exact algorithm.

#### Steps/Cod

[2016-10-18 18:32] amueller commented on #7699
I just checked Murphy, Hastie/Tibshirani/Friedman, Bishop and Shalev-Shwartz/Ben-David (selected by being within arms reach) and none of them include the Bessel's correction in their PCA formulation.
So it seems rather non-standard. Which definition of PCA are you using?

[2016-10-18 18:34] amueller commented on #7698
thanks for the report.

[2016-10-18 18:35] amueller commented on #7687
I think the case is "sorted data", which I imagine can happen. Maybe checking if we can make the sorting more robust would be good.

[2016-10-18 18:42] jakevdp commented on #7687
I suspect the key is that it's gridded data, sorted along one of the dimensions. The combination of that structure and the presence of duplicates could hit the worst-case for a basic binary partition algorithm... there are probably variants out there that would perform better. Anyone take an algorithms course recently? 😎

[2016-10-18 19:02] amueller commented on #7692
ping @agramfort @GaelVaroquaux?

[2016-10-18 19:05] amueller commented on #7667
(I remember someone getting angry last time I called python2 legacy python lol ;)

[2016-10-18 19:31] agramfort commented on #7692
this is a dupe of #6080

this other PR needs an extra pair of eyes and to fix the failing tests.

[2016-10-18 20:32] cammil commented on #7628
Without having checked very much at all, here's a monkey-patch that _seems_ to work:

[code]

I've just copy and pasted _BaseFilter.fit and added multi_output=True. I really don't know the full consequences of this yet, and even if it makes any sense, so please do use with caution.

[2016-10-18 21:03] jnothman commented on #7700
This probably depends on floating point errors. I suggest you explicitly expand or contract the radius by a small margin of tolerance if you are particular about such things. If you think this should be mentioned in the documentation, please submit a pull request. But really, floating point error is something every quantitative engineer needs to expect.

[2016-10-18 21:03] #7700 closed

[2016-10-18 23:00] nirizr commented on #7642
I guess this can be closed now?

Thank you @giorgiop!

[2016-10-18 23:02] giorgiop commented on #7642
Yes. Thanks for spotting this!

[2016-10-18 23:13] nirizr commented on #7642
Alright. closing. Thanks again guys!

[2016-10-18 23:13] #7642 closed

[2016-10-18 23:15] jnothman commented on #7628
Not looking for a monkey-patch. Looking for a fix. See #7676. Dropping
check_X_y is a valid fix, IMO, as score_func should do any necessary
validation. But we need a test, @affanv14 <https://github.com/affanv14>.

On 19 October 2016 at 07:32, cammil <notifications@github.com> wrote:

[2016-10-18 23:16] #7690 closed

[2016-10-18 23:37] ljwolf opened #7701 "GaussianMixture.sample(n) occasionally returns incorrectly-sized samples"
#### Description

`GaussianMixture.sample(n)` occasionally returns incorrectly-sized samples possibly due to rounding error.

#### Steps/Code to Reproduce

[code]

#### Expected Results

I'd expect that if `n_samples` are requested, `n_samples` are provided, even when `n_samples` is not an even multiple of the number of mixture distributions.

#### Actual Results

Instead, it appears that my expec

[2016-10-19 00:53] michael-sloma commented on #6437
I'm interested in doing this.

I think think that taking `min(n_features + 1, n_samples)` will not work because RANSAC needs a sub-sample of data. `min(n_features + 1, n_samples - 1)` would be better but from my understanding of RANSAC it's important that the sample size relatively small compared to the number of examples. Also, I don't know of any regression where it is reasonable to have fewer s

[2016-10-19 01:06] btdai commented on #6416
hi, Andreas,

Sorry for the late reply. How to submit a PR to the contributors? Thanks.

[2016-10-19 01:37] jnothman commented on #6416
Do https://help.github.com/articles/creating-a-pull-request/ and http://scikit-learn.org/stable/developers/contributing.html help you?

[2016-10-19 05:43] btdai commented on #6416
Thank you @jnothman

[2016-10-19 06:10] neerajgangwar commented on #7406
So should these extra trees (containing only one node) be considered while computing feature importance?

[2016-10-19 06:23] neerajgangwar commented on #7698
@amueller Can I work on this?

[2016-10-19 06:58] maniteja123 commented on #7698
Hi welcome, thanks for the interest. I suppose you can work on any issue unless someone is actively working on it.

[2016-10-19 07:34] btdai commented on #6416
Hi, Andreas, @amueller

I created this 6-points test dataset with choosing 2 points for each class (each of red, green, blue), one nearer to the decision boundaries, and the other further from the decision boundaries.

The 6 points are labelled by the values from decision functions, for the respective ovr classifier, e.g., the values in the two figures of the first column represent the decision fu

[2016-10-19 07:48] lesteve commented on #7701
Thanks a lot for the very detailed issue! Not an expert on Gaussian mixtures, but it seems like a problem indeed. The `GaussianMixture.sample` docstring does say that the returned array should have `n_samples` rows:

[code]

@tguillemot @ogrisel what do you think?

[2016-10-19 08:09] tguillemot commented on #7701
There is a problem indeed and your solution solves it.
Thanks @ljwolf.

[2016-10-19 11:01] BarneyGordon opened #7705 "KMeans IndexError when using >4 clusters"
#### Description

Fitting a (20242848, 5) numpy array using any more than 4 clusters results in IndexError
#### Steps/Code to Reproduce

[code]

(20242848, 5)

[code]

(20242848,)

[code]

[code]

#### Expected Results

(20242848, )
#### Actual Results

#### Versions

Windows-7-6.1.7601-SP1
('Python', '2.7.11 |Anaconda 4.0.0 (64-bit)| (default, Feb 16 2016, 09:58:36) [MSC v.1500 64 bit (AMD64)]')

[2016-10-19 13:08] michael-sloma commented on #6437
After taking a look, the current behavior is already to raise ValueError with a reasonable message.

[2016-10-19 13:54] cammil commented on #7628
@jnothman Yep. I haven't given up on a fix! See [#7676 comment](https://github.com/scikit-learn/scikit-learn/pull/7676#issuecomment-254818548)

[2016-10-19 14:21] jakevdp commented on #7699
This is interesting. Thinking about it, though, I could see where it might be applied or not applied based on the particular application. The bessel correction decreases the bias in inferred parameters at the expense of increasing the mean squared error. In a statistical modeling context (where you're attempting to, say, find an unbiased estimator of a standard deviation) this makes sense. In a ma

[2016-10-19 14:35] raghavrv commented on #7094
Could I kindly dearly gently but adamantly re-request that the travis cache be disabled until we fix it to not fail on PRs that work perfectly?!! :) This wastes the developer's time in [searching for a solution that does not exist](https://github.com/scikit-learn/scikit-learn/pull/7680#issuecomment-254066186).

We save a maximum of 10 minutes by caching the compilation, but appveyor builds typical

[2016-10-19 18:14] amueller commented on #7406
@Naereen skipping them would be fine I guess, and would make them sum to one again?

[2016-10-19 18:18] amueller commented on #7698
@neerajgangwar you can totally work on this. The first step would be to confirm that it's a bug - I didn't look at the paper yet.

[2016-10-19 18:23] amueller commented on #7705
Can you please provide a full traceback?

[2016-10-19 18:41] raghavrv commented on #7094
I *think*, I know why this fails, so our `cythonize.py` re-cythonizes only the changed cython files. Now when the generated c for that file exists and has been compiled before, `ccache` doesn't re-compile it.

The problem happens at a particular class in a file A has dependencies in another file B that has been edited/recythonized and hence re-compiled. I think file A is not re-cythonized and henc

[2016-10-19 18:42] amueller commented on #6437
We could do ``min(n_features + 1, 0.1 * n_samples)``? We could look at the ransac literature to see if that would be appropriate? I feel if ``n_features ~ n_samples`` ransac is probably a bad choice anyhow, though. Maybe add to the ValueError that it's a bad idea @GaelVaroquaux ?

From the wikipedia page I gather that "n_features + 1" is chosen as the "minimum number of samples needed to fit a lin

[2016-10-19 18:47] amueller commented on #7699
@jakevdp do you think it warrants a parameter in PCA? We don't even have one in ``StandardScaler``...

[2016-10-19 18:51] amueller commented on #7094
what do you mean by dependency?

I'm pretty sure travis is often the bottle neck and changing cython is relatively rare to the number of all PRs. Fix welcome though ;)

[2016-10-19 19:09] BarneyGordon commented on #7705
---------------------------------------------------------------------------
JoblibIndexError                          Traceback (most recent call last)
<ipython-input-6-ca6246854ed1> in <module>()
      1 k_means = KMeans(n_clusters=5, n_jobs=-1, random_state=10)
----> 2 k_means.fit_predict(X)
      3 labels = k_means.labels_
      4
      5 print labels.shape

C:\Users\hummingbird\Anaconda2\lib\s

[2016-10-19 19:11] nelson-liu commented on #7094
I think raghav is on the right track, several times I've modified tree cython files and gotten this error in gradient boosting.

[2016-10-19 19:17] raghavrv commented on #7094
Not sure I used the right term here but I mean `splitter.pyx` needs to be recompiled if there is a change in `criterion.pyx`...

[2016-10-19 19:24] amueller commented on #7705
This could be an issue with the cumsum implementation.
Is your data float32 by any chance?
Can you try running with master, where we recently fixed the precision in cumsum?

If that doesn't help, could you please report
[code]
Thanks!

[2016-10-19 19:46] jakevdp commented on #7699
Perhaps, but in the vast majority of cases it's not going to make much difference at all, so I'd be tempted to leave it as-is, perhaps with a note in the docstring.

[2016-10-19 19:48] amueller commented on #7699
yeah ok lets add a note to the docstring.

[2016-10-19 20:02] mpg85 opened #7707 "Make pipeline steps be bypassed"
Sometimes when using grid search or randomized search one has the necessity to enable or disable some preprocessing steps. For example, I might decide to see whether my model performs better if I scale my features or not.
I think a simple way to obtain that would be to add a `bypass` argument to the transformers.
As an example, think of a setup where a LogisticRegression model is selected through

[2016-10-19 20:24] jnothman commented on #7707
Introduced in 0.18: "Individual steps may also be replaced as parameters, and non-final steps may be ignored by setting them to None:" http://scikit-learn.org/stable/modules/pipeline.html

[2016-10-19 20:24] #7707 closed

[2016-10-19 20:25] jnothman commented on #7707
I hope that solves your issue.

[2016-10-19 20:31] mpg85 commented on #7707
Absolutely. And it is also clearer than my solution. Somehow I skipped the new feature when reading that page.

Thank you.

[2016-10-19 20:37] michael-sloma commented on #6437
I've done a little literature reading, and the correct sample size seems to strongly depend on the estimator. Also, the algorithm is known to be finicky and require tuning the hyperparameters to get good results.

The most common "real" application for this algorithm is computer vision applications where it's used to find homography, i.e. a mapping of pixels between stereo images. In this case, th

[2016-10-19 20:39] raghavrv commented on #7094
For anyone who wants to quickly verify if the travis cache is the reason for failure try this

[code]

and push to your branch.

[2016-10-19 20:57] raghavrv commented on #7094
Ah wait this patch is better. This will delete the `cythonize.dat` from cache and force a recythonizing of all the cython files.

[code]

and push to your branch. (Make sure to delete this commit later and force push again.)

[2016-10-19 22:42] ahojnnes commented on #6437
Because of computational complexity, the number of samples to estimate the model should usually always be minimal, i.e. N for an N-dimensional linear model. If you don't choose a minimal sample, the required number of iterations "explodes", if you want any guarantees on getting an outlier free solution with some probability. Exceptions are when there is lots of noise in the inlier observations and

[2016-10-19 23:10] #6420 closed

[2016-10-20 02:06] #7474 closed

[2016-10-20 03:37] victoriastuart commented on #6161
This issue was closed in Jan 2016, but it is still relevant (Oct 2016).  Solution:

<pre>
## [2016-Oct-19] Python 3.5 virtual environment

(py35) [victoria@victoria ~]$ conda install scikit-learn
    ...
    The following NEW packages will be INSTALLED:
    scikit-learn: 0.18-np111py35_0
    ...

(py35) [victoria@victoria ~]$ conda list | grep scikit
    scikit-learn    0.18    np111py35_0

## Pyt

[2016-10-20 03:46] nelson-liu commented on #6161
hmm, I don't seem to have the problem you have @Sandy4321

[code]

[2016-10-20 04:04] victoriastuart commented on #6161
@nelson-liu: thank you for your suggestion ...  Yes: I was working in my Python 3.5 virtual environment the whole time (terminal; Python).  Working now, per my answer.  :-)

[2016-10-20 04:56] neerajgangwar commented on #7698
There is a `-1` in the original formula given in the research paper but going by the definition (as in the research paper)

I can't seem to understand the relevance of `-1`.

Comments, please?

[2016-10-20 05:44] #7552 closed

[2016-10-20 06:40] lesteve commented on #7094
A quick stop-gap solution would be to always do `make clean` on Travis, this way you always recythonize from scratch and you don't have this dependency issue.

Cythonization of all files takes 40s on my machine so I agree the caching is not that crucial. Looking at timings on Travis most build take 8-12 minutes so you are looking at saving at most 8% of build time for each individual build.

[2016-10-20 08:20] BarneyGordon commented on #7705
Thanks for your help, I just checked and the data is float32
Changing to uint16 fixes the issue!

I'll try running from the master to see if cumsum fixes the precision issue.

Thanks!

[2016-10-20 10:16] emir-munoz commented on #7698
The relevance comes from the border values for coverage. First, coverage is used as an evaluation metric for multi-label example-based ranking, and evaluates how many steps are needed, on average, to move down the ranked label list so as to cover all the relevant labels of the example [1].

For coverage, the smaller the metric value the better the system's performance. Its optimal value is of

![i

[2016-10-20 11:11] eickenberg commented on #6884
As far as I remember, the existence of `[estimator]CV` is only justified if they do something other than wrap `[estimator]` in a `GridSearchCV`. However, some branches in the decision path in `RidgeCV` lead to this.

[2016-10-20 14:07] #6298 closed

[2016-10-20 14:16] amueller commented on #6161
@victoriastuart Pretty sure this happened to you (see big red box):
http://scikit-learn.org/dev/install.html#canopy-and-anaconda-for-all-supported-platforms

Don't try to upgrade a package with conda that you installed with pip. it will not work. It's a setuptools bug.

[2016-10-20 14:21] amueller commented on #7705
I would rather recommend doing ``float64``, but glad we found the issue :)

[2016-10-20 15:01] victoriastuart commented on #6161
Here's the thing: I'm in a CONDA installed venv: at the outset I 'm pretty sure sklearn was not present (I haven't used it previously in this venv, so it wouldn't have previously been installed, e.g. via pip; regardless, I always prefer conda over pip -- first, in my venv -- using pip as a last resort):

<pre>
(py35) [victoria@victoria ~]$ conda install scikit-learn
Fetching package metadata .....

[2016-10-20 15:06] nelson-liu commented on #6161
the issue was actually that a stackoverflow answer referenced code that was not published to conda/pip yet (we just did so 2 weeks ago, so naturally the code didn't work on conda/pip-installed versions until then). Your issue seems a bit unrelated, but I'm glad you got it working regardless.