[2015-10-20 16:40] amueller commented on #5229
@khalibartan yeah that is the fix that I was thinking off.

[2015-10-20 16:41] amueller commented on #5229
@carrillo's pr is here: #5316

[2015-10-20 16:42] arjoly commented on #5313
Done in #5452

[2015-10-20 16:42] #5313 closed

[2015-10-20 16:43] giorgiop commented on #5435
I can do human testing here.

[2015-10-20 16:43] amueller commented on #5290
@arthurmensch as I said IRL, this sounds awesome :)

[2015-10-20 16:43] carrillo commented on #5229
Sorry, I haven't updated the PR yet. If you have fixed it, go ahead. I won't be able to work on it within the next week or so...

[2015-10-20 16:52] heartyguy commented on #5485
I want to take this. You are guys referring to Predicting Carbon Dioxide Concentration using Gaussian Processes.

[2015-10-20 16:59] #5387 closed

[2015-10-20 17:51] jmschrei commented on #5212
I'm halfway through the PR. However, research has struck temporarily, and so I've had far more limited time than I expected to work on this.

[2015-10-20 18:28] MechCoder opened #5496 "NaN handling of the targets in check_X_y should be documented"
`check_X_y` has an optional `force_all_finite` parameter that checks for finite values on X.

It seems that input checking for y is done anyway.

    X = np.random.randn(10, 10)
    y = np.random.randn(10)
    y[0] = np.inf
    check_X_y(X, y, force_all_finite=False)
    ValueError: Input contains NaN, infinity or a value too large for dtype('float64')

This should be either documented or improved

[2015-10-20 18:40] MechCoder commented on #5444
Actually duplicated by https://github.com/scikit-learn/scikit-learn/issues/5367

[2015-10-20 18:44] MechCoder commented on #5028
This can be closed?

[2015-10-20 19:19] Fenugreek commented on #2821
OK, I did some research. The [R implementation of CCA](http://www.rdocumentation.org/packages/candisc/functions/cancor) uses the generalized SVD algorithm rather than NIPALS. The [two references on Wikipedia](https://en.wikipedia.org/wiki/Non-linear_iterative_partial_least_squares) that describe NIPALS do use one column of the Y matrix as the initial seed, rather than a random column vector.

So u

[2015-10-20 19:26] jmschrei commented on #5385
It is possible, but I don't know why that would cause a steady increase, as they're just references to the same underlying dataset, not copies. A possibility is that new sample weights aren't being removed properly, and that it's the sample weights which are accumulating and causing the steadily increasing memory usage. This could be fixed by just freeing that array at the end of the fitting proce

[2015-10-20 19:28] jmschrei commented on #5212
I should be able to finish it this weekend though.

[2015-10-20 19:29] arjoly commented on #5212
@jmschrei Great!!! I can't wait to review your pull request.

[2015-10-20 19:30] MechCoder commented on #4740
Working on this right now.

[2015-10-20 21:10] MechCoder commented on #5464
I can work on this, if noone is already!

[2015-10-20 21:30] giorgiop commented on #5028
Definitely.

[2015-10-20 21:33] #5028 closed

[2015-10-20 21:43] arthurmensch commented on #5464
Sure, but we need to remove c files from the repository before, so as not
to blow repository size with generated c files from fused type.
Le 20 oct. 2015 23:11, "Manoj Kumar" <notifications@github.com> a écrit :

[2015-10-20 21:49] MechCoder commented on #5464
Oh the idea is to make the build script generate c from pyx files locally instead of them being the repository?

[Sorry, if there was a discussion but I missed it]

[2015-10-20 21:57] arthurmensch commented on #5464
Yes, checkout PR #5492

[2015-10-21 02:26] hlin117 commented on #5496
Do you want documentation added directly in the source code?

[2015-10-21 04:25] MechCoder commented on #5496
Ah, I see its already mentioned.

However, I think a line over here (https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/validation.py#L475) would also be good. wdyt?

[2015-10-21 04:35] hlin117 commented on #5496
Sounds good to me. It seems like a one line docstring addition. I could take up the PR.

[2015-10-21 06:14] #5432 closed

[2015-10-21 06:21] glouppe commented on #5290
PR at #5492

[2015-10-21 06:24] glouppe commented on #5106
Closing, as @amueller did not actually closed it :)

[2015-10-21 06:24] #5106 closed

[2015-10-21 06:28] glouppe commented on #5078
@hlin117 What is the status of #5079 and #5001?

[2015-10-21 06:29] GaelVaroquaux commented on #5106
2011??? The paper does seem to describe the right algorithm. But in image
processing these things have been done for much longer.

[2015-10-21 07:02] #5484 closed

[2015-10-21 07:33] amueller opened #5500 "GP plot doesn't render nicely in docs"
The plot in http://scikit-learn.org/dev/auto_examples/gaussian_process/plot_compare_gpr_krr.html
doesn't look good on the website (and is referred to in the user guide).
The legend is not really readable. Needs some tweaking with the legend position.

[2015-10-21 07:36] eickenberg commented on #5367
@MechCoder thanks for making the link to #5444 - I had only heard talk about this being something that needs doing. Hadn't seen the issue. A PR is open, but running into difficulties because general assumptions on effect of sample weights turned out to be pretty weak.

[2015-10-21 07:41] SumedhArani commented on #5481
I'm new to scikit and would wish to contribute to this issue. I'll have to go through memory maps, estimators and transformers. I'll stick to NuSVC and will get to the end of the problem as soon as possible

[2015-10-21 08:12] amueller commented on #5023
Maybe we can discuss this at the sprint. This is really bad: https://github.com/scikit-learn/scikit-learn/pull/5498/files#diff-ff4438be9ee77932848f5abfcec060efR690

[2015-10-21 08:26] ogrisel commented on #5023
Initially I was in favor of having an explicit flag to state whether higher is better. I think I still prefer this solution over the `neg-` prefix.

[2015-10-21 08:40] dohmatob commented on #5495
Shouldn't the for loops (on the 'classifiers') written in the `_ovr_decision_function` be in `OneVsRestClassifer.predict` method instead ? sklearn only invokes `_ovr_decision_function` with `n_classes = 2`.  The `OneVsRestClassifer.predict` and the `_ovr_decision_function`  function need to be reconciled (they seem incoherent as they stand).

[2015-10-21 08:47] amueller opened #5502 "RobustScaler scaling one row (and scaling sparse matrix)"
Scaling a single row in RobustScaler doesn't work as expected.
See #5433 and #5449.
ping @untom @Jeffrey04

I think also we should raise a ``ValueError`` in ``transform`` if ``issparse(X) and self.with_centering``.

[2015-10-21 08:51] kastnerkyle commented on #5485
Yes - that is the one. Can be seen here
http://scikit-learn.org/dev/auto_examples/gaussian_process/plot_gpr_co2.html

On Tue, Oct 20, 2015 at 12:53 PM, heartyguy <notifications@github.com>
wrote:

[2015-10-21 08:53] kastnerkyle opened #5503 "Fix formatting on GP examples in documentation"
Some of the plot titles / legends seem to overrun the margins of the plots and get cut off.

See the narrative documentation here http://scikit-learn.org/dev/modules/gaussian_process.html for a start

[2015-10-21 08:56] kastnerkyle commented on #5503
Closing  - duplicate of #5500

[2015-10-21 08:56] #5503 closed

[2015-10-21 08:58] amueller commented on #5407
Fixed via #5436

[2015-10-21 08:58] #5407 closed

[2015-10-21 08:58] amueller commented on #4911
no worries.

[2015-10-21 09:09] ogrisel opened #5504 "Document when a new function / class / method / attribute was introduced for the 0.17 release"
Sphinx makes it possible to declare when a new feature was added using thie `versionadded` directive:

http://sphinx-doc.org/markup/para.html#directive-versionadded

We should review all the  classes / functions / methods / attributes introduced in 0.17 (see the changelog) and add a `..versionadded:: 0.17` declaration in the docstring for those elements.

It's also a good opportunity to add the mi

[2015-10-21 09:10] ogrisel commented on #5504
I will open a sister issue to do the same work for features added in the future 0.18 release.

[2015-10-21 09:11] ogrisel opened #5505 "Document when a new function / class / method / attribute was introduced for the 0.18 release"
Sphinx makes it possible to declare when a new feature was added using thie `versionadded` directive:

http://sphinx-doc.org/markup/para.html#directive-versionadded

We should review all the  classes / functions / methods / attributes introduced in 0.17 (see the changelog) and add a `..versionadded:: 0.17` declaration in the docstring for those elements.

It's also a good opportunity to add the mi

[2015-10-21 09:13] ogrisel commented on #5505
Once this issue and #5504 are tackled we can open additional issues to go back in time and do the same work for past releases (e.g. 0.13 and 0.14). I don't think it's worth doing it for very old releases though.

[2015-10-21 09:22] amueller commented on #5505
Hehe I'd do 0.16 before 0.13 but ok ;)

[2015-10-21 09:27] amueller commented on #5495
I'm not sure I understand your last comment.
for the use with  ``OneVsRestClassifier`` the ``_ovr_decision_function`` is invoked with only two classes. But in general that is not true.

[2015-10-21 09:30] ogrisel commented on #5505
I made a mistake. Fixed my description. Anyways 0.17 has the priority.

[2015-10-21 09:33] ogrisel commented on #5504
To people deciding tackling this: don't hesitate to open an early pull request with a `[WIP]` tag in the title of the pull-request (on github, not in the commit message) so that reviewers can give you feedback early on how to do that. This is the first time we do it on this project so expect a bit of discussion on the best practices that will emerge ;)

[2015-10-21 09:39] RachitKansal commented on #5500
Hey I'm new to this community, can I take this up :)

[2015-10-21 09:42] #5433 closed

[2015-10-21 09:46] amueller commented on #5500
thanks @RachitKansal :)

[2015-10-21 09:47] amueller commented on #5500
Make sure that it works on "old" matplotlib, I think  1.1.1 is what we try to support. See #5474

[2015-10-21 09:53] jnothman commented on #5504
Perhaps this will help:

[code]

(Perhaps it won't!)

[2015-10-21 09:53] amueller commented on #5435
It would be nice if we could use ``viridis``. Maybe we should backport it? [ducks]

[2015-10-21 09:59] johannah commented on #5435
I think ```viridis``` would be ideal. Currently digging around to see if back porting is feasible.

[2015-10-21 10:06] amueller commented on #5435
https://github.com/matplotlib/matplotlib/pull/4707/files#diff-893cf0348279e9f4570488a7a297ab1eR774 well it's not hard. but @GaelVaroquaux doesn't like including colormaps it seems ;)

[2015-10-21 10:53] amueller commented on #5464
@MechCoder but you can work on it independently. We just need #5492 be done before merging this.

I didn't realize you could do ``if typeof(x) is double`` with fused types, but apparently that's the way to do it.

[2015-10-21 11:04] KamalakerDadi commented on #5504
Anybody on this one ?I want to try.

[2015-10-21 11:19] dohmatob commented on #5495
Sorry, the comment is confusing indeed. Repaired.

[2015-10-21 11:19] dohmatob commented on #5495
I'll look at this issue. See WIP here:  PR #5508

[2015-10-21 11:31] amueller commented on #5504
go ahead @KamalakerDadi :)

[2015-10-21 11:49] dohmatob commented on #5495
BTW, this is a detailed traceback:

/home/elvis/CODE/FORKED/scikit-learn/sklearn/multiclass.pyc in _ovr_decision_function(predictions, confidences, n_classes)
    480     for i in range(n_classes):
    481         for j in range(i + 1, n_classes):
--> 482             sum_of_confidences[:, i] -= confidences[:, k]
    483             sum_of_confidences[:, j] += confidences[:, k]
    484

[2015-10-21 11:49] larsmans opened #5509 "NMF interface unclear"
There seem to be two intended entrypoints to NMF: the class `NMF` and the function `non_negative_factorization`. The latter is not exported from `sklearn.decomposition`, but I guess it should be (?).

Also, the function has a parameter `regularization` that the class doesn't have. In the class, it's hardwired to `"both"`. Is there a reason for that? I actually want to get some sparse components fr

[2015-10-21 12:05] amueller commented on #5403
yeast is smaller, right?

[2015-10-21 12:10] amueller commented on #5450
I guess this is the reason why you have the computation of ``class_weight`` in fit. I'm not sure this is a bug...

[2015-10-21 12:22] amueller commented on #5150
this one.

[2015-10-21 12:32] dohmatob commented on #5495
The issue turned out to be caused by the fact that `_ovr_decision_function` was being called in binary classif scenario.

[2015-10-21 12:38] mblondel commented on #5509
The idea was to simplify the class interface while giving more flexibility to power-users via the function. What do you think?

[2015-10-21 12:39] TTRh commented on #5385
I ran this program for around 2 hours on my laptop. Memory consumption seems quite stable during the loop. Can you give some figures about the leak ? Here is the code i use :

[code]

[2015-10-21 12:42] amueller commented on #5489
hm... I think we should be using `` 'NO_ATLAS_INFO' in  [x[0] for x in blas_info.get('define_macros', [])[0]]`` simliarly to what we do in ``get_blas_info``

[2015-10-21 12:43] TomDLT commented on #5509
I think it should

[2015-10-21 12:45] ogrisel commented on #5481
FYI the list of estimators that are expected to do something inplace should be found via:

[code]

[2015-10-21 12:49] amueller commented on #5488
Can you give us the content of ``similarities``? and whether there are ``nan`` or ``inf`` in that?
And what is X? What are the largest and smallest values?

[2015-10-21 12:51] larsmans commented on #5509
I had actually expected the function to be just an alternative API for the class, but with the additional export I have the tools I need right now :) I'll put it in.

[2015-10-21 12:52] amueller commented on #5488
So X should be between 0 and 1 and is float32 and ``euclidean_distances(X)`` becomes ``NaN`` of ``Inf``. That seems odd.

[2015-10-21 12:53] pletelli commented on #5481
The TODOs :
[] check that for all Estimators given a readonly array, fit doesn't raise (even if copy = False in the init)
[] remove explicit ValueError raise
[] check that there is never a check_array(copy=self.copy) if copy is not useful (which means if no inplace transformation is executed)

[2015-10-21 12:56] amueller opened #5510 "smacof calls argument similarities but is called with dissimilarities"
Maybe I messed this up? ping @NelleV
I think we changed the name in ``MDS`` but not in ``smacof``

[2015-10-21 12:56] johannah commented on #5435
I've included a few problem plots that I have updated manually to emulate Matplotlib's new colormap, ```viridis```.

I am using the Firefox extension, [Colorblind Design](https://addons.mozilla.org/en-us/firefox/addon/colorblind-design/) to view the images with colorblind simulator. You may also upload images [here](http://www.color-blindness.com/coblis-color-blindness-simulator/) to view without

[2015-10-21 13:48] TTRh commented on #5482
I'm a new contributor, i'm interested to work on this issue. To be sure, what is expected is improving the docstring on that behavior ?

[2015-10-21 13:50] larsmans commented on #5482
I'm not at all sure. The behavior is probably a bug, but it has stood for so long that it's very hard to fix without breaking someone's code.

[2015-10-21 14:18] TomDLT commented on #5509
Excellent

[2015-10-21 14:40] arjoly commented on #5403
yes it's a bit smaller. yeast can be easily obtain using mldata.

[2015-10-21 14:54] pletelli opened #5514 "In Imputer transform() method check_array() might be performed twice"
transform() makes calls to:
* `as_float_array()` [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/preprocessing/imputation.py#L314)
* `check_array()`

However, if `isinstance(X, np.matrix) or (not isinstance(X, np.ndarray) and not sp.issparse(X))`, `as_float_array()` already returns `check_array()` [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils

[2015-10-21 15:00] fraka6 commented on #5361
I Andreas,

Thanks a lot for the pointer. David Huggins Daines and I will take a look
at it as a side project.

Francis

---------- Forwarded message ----------
From: Andreas Mueller <notifications@github.com>
Date: 2015-10-12 19:58 GMT-04:00
Subject: Re: [scikit-learn] tsne has no transform function (#5361)
To: scikit-learn/scikit-learn <scikit-learn@noreply.github.com>
Cc: fraka6 <fpieraut@gmail

[2015-10-21 15:12] #5496 closed

[2015-10-21 15:55] languitar opened #5516 "Please add FP, TN, FN rates as metrics"
It would be nice if these rates would be included in the metrics module:
* False positive rate (Fall-out)
* False negative rate (Miss rate)
* True negative rate (specificity)

[2015-10-21 15:59] amueller commented on #5514
It is pretty weird to call ``as_float_array`` **before** ``check_array`` I think.

[2015-10-21 16:01] GaelVaroquaux commented on #5514
+1, we should probably use 'check_array(..., dtype=FLOAT_DTYPES').

[2015-10-21 16:02] amueller commented on #5516
there is ``confusion_matrix``

[2015-10-21 16:03] amueller commented on #5361
cool :)

[2015-10-21 16:22] rvraghav93 commented on #5089
There are some QDA and LDA warnings in tests... (Not sure if someone is already working on it...)

[2015-10-21 16:25] ainafp opened #5518 "[BUG?] CalibratedClassifierCV is not marked as a meta-estimator"
[code]

[2015-10-21 16:28] amueller commented on #5518
yeah I think it should be... but then we shouldn't have a default ``estimator`` argument, right? or should we?

[2015-10-21 16:29] arjoly commented on #4366
closing as I think @glouppe comment is correct

[2015-10-21 16:29] #4366 closed

[2015-10-21 16:32] amueller commented on #4523
@tomMoral yeah I think that is right (your summary of the consensus)

[2015-10-21 16:36] amueller commented on #5089
There are? Only at the very beginning for the import, right? I don't think we can get rid of these.

[2015-10-21 16:43] giorgiop commented on #5502
But do we want to keep the possibility to `transform` sparse input even if it is not possible to fit it?
Notice, the same behaviour in implemented in `MinMaxScaler`.

[2015-10-21 16:43] amueller commented on #5502
yeah why not?

[2015-10-21 18:48] olologin commented on #5150
Ah, sorry, now i understood. Yep, it isn't related to balanced/auto.

[2015-10-21 19:06] DmitriR commented on #5340
Very cool! Looks like all is resolved; has the PR been accepted? Then the issue can be closed.

Yet I wonder where this thing came from: "RuntimeWarning: Mean of empty slice" if the issue was merely a suboptimal clustering.

[2015-10-21 20:40] languitar commented on #5516
Right, I used this to implement on of these rates that I needed. But still, why shouldn't everyone be able to calculate these rates directly? Pulling the data from the unlabled confusion matrix is also error-prone.

[2015-10-21 21:11] jnothman commented on #5516
Would an example of getting these from the diagonal and marginals of the
confusion matrix suffice?

On 22 October 2015 at 07:40, Johannes Wienke <notifications@github.com>
wrote:

[2015-10-21 22:54] jmschrei commented on #5442
If you hot encode a variable A with three options 'happy', 'sad', 'mad' into three binary variables x1, x2, x3, having the decision rule A == 'happy' is basically the same as x1 <= 0.5. It is computationally more expensive to do the hot encoding, but like you noticed, you will get good performance.

[2015-10-21 22:57] jmschrei commented on #5368
This is true. What do you mean pass Criterion object directly?

[2015-10-21 23:43] mblondel commented on #5509
Alright, closing then.

[2015-10-21 23:43] #5509 closed

[2015-10-22 04:18] jpopham91 opened #5520 "FeatureUnion handling for 1D transformations"
Feature unions fail to concatenate (hstack) their outputs if any of its transformers yield an (n,) shaped result.

If all m transformers yield one dimensional results, the combined output is shape (n*m,) instead of (n,m).

[2015-10-22 04:29] jpopham91 commented on #5520
https://github.com/scikit-learn/scikit-learn/pull/5521

this isn't the most elegant fix but it works.

[2015-10-22 05:09] yinsong1986 opened #5522 "sklearn.base.clone cannot clone estimator with pandas data frame parameters"
I am trying to create an estimator with [pandas] (http://pandas.pydata.org/) data frame as one of the parameters, and find sklearn has problem for cloning this estimator by sklearn.base.clone. The sample code is as following:

    from sklearn.base import BaseEstimator, TransformerMixin
    import pandas as pd
    from sklearn.base import clone

    class DummyEstimator(BaseEstimator, TransformerM

[2015-10-22 05:14] jpopham91 commented on #5520
Actually, it looks as this should be handled on the transformers end.  PCA explicitly outputs a [nfeatures,nsamples] shaped array, my custom class did not.

[2015-10-22 05:14] #5520 closed

[2015-10-22 05:43] naught101 opened #5523 "Pandas in, Pandas out?"
At the moment, it's possible to use a pandas dataframe as an input for most sklearn fit/predict/transform methods, but you get a numpy array out. It would be really nice to be able to get data out in the same format you put it in.

This isn't perfectly straightforward, because if your Dataframe contains columns that aren't numeric, then the intermediate numpy arrays will cause sklearn to fail, bec

[2015-10-22 06:33] jnothman commented on #5523
Scikit-learn was designed to work with a very generic input format. Perhaps the world around scikit-learn has changed a lot since in ways that make Pandas integration more important. It could still largely be supplied by third-party wrappers.

But apart from the broader question, I think you should try to give examples of how Pandas-friendly output from standard estimators will differ and make a d

[2015-10-22 06:40] naught101 commented on #5523
Yep, off the top of my head:

- the index can be really useful, e.g. for creating timed lagged variables (e.g lag 1 day, on daily data with some missing days)
- sklearn regressors could be used transparently with categorical data (pass mixed dataframe, transform categorical columns with LabelBinarizer, the inverse_transform it back).
- sklearn-pandas already provides a nice interface that allows y

[2015-10-22 06:51] jnothman commented on #5523
I don't think it can be implemented nicely as a transformer. It would be
one or more metaestimators or mixins. I think they should be initially
implemented externally and demonstrated as useful

On 22 October 2015 at 17:40, naught101 <notifications@github.com> wrote:

[2015-10-22 07:28] giorgiop commented on #5502
I guess in principle is all right, although it seems to me a non-common use case.
In any case, we should also fix the documentation of the `transform` to make explicit which kind of data we can handle.

[2015-10-22 07:59] sebconort commented on #5136
Thanks a lot for the investigation and sorry for the time spent.
I understand the subtility here.

[2015-10-22 08:30] agramfort commented on #5518
what's our definition of meta-estimator ?

[2015-10-22 09:49] dohmatob commented on #5522
This is a bug. The  equality check in the `clone` function can be improved. Of course, this is not completely trivial to implement.

[2015-10-22 10:02] dohmatob commented on #5522
Changing the code snippet doing the checks to

            if new_obj_val is params_set_val:
                equality_test = True
            else:
                equality_test = new_obj_val == params_set_val

will handle more cases (including the "dataframe" case that triggers the issue above).

[2015-10-22 10:15] dohmatob commented on #5522
This [WIP] PR https://github.com/scikit-learn/scikit-learn/pull/5525 addresses the issue.

[2015-10-22 10:32] yinsong1986 commented on #5522
Well done, thx mate!

[2015-10-22 10:44] #5450 closed

[2015-10-22 11:17] KamalakerDadi commented on #5504
So, here is the case. To make sure that we agree to one particular space alignment to the ```versionadded``` or ```versionchanged``` which looks like ```New in version 0.17``` and ```Changed in version 0.17```

Here are the few snapshots of how it looks like.

- ```Class``` case
![versionadded](https://cloud.githubusercontent.com/assets/11410385/10663784/657ef288-78be-11e5-9f28-cbfc642a1672.png)

[2015-10-22 11:31] #1105 closed

[2015-10-22 11:33] glouppe commented on #5441
Fixed in #5487

[2015-10-22 11:33] #5441 closed

[2015-10-22 11:55] martin-frodl commented on #5412
Okay, first of all I partly take back what I wrote earlier in https://github.com/scikit-learn/scikit-learn/issues/5412#issuecomment-149245245. The backslash itself is innocent, there are many many more different ways to seemingly fix and break the code by just messing around with the docstrings with no apparent logic.

Here is a minimal reproducer using purely Joblib functionality:
[code]

[code]

[2015-10-22 11:58] GaelVaroquaux commented on #5412
It's awesome that you have reproduced the problem with a simple code.
Maybe it is now time to move this discussion in the joblib tracker? Ie
open an issue there, and look at how to fix it.

[2015-10-22 12:20] giorgiop commented on #5367
+1 to this. See #5526

[2015-10-22 12:35] GaelVaroquaux opened #5529 "Remove the LDA reference in related packages now that we have it in scikit-learn?"
I think that we should remove the pointer to LDA in
http://scikit-learn.org/dev/related_projects.html

What do people think?

[2015-10-22 12:39] amueller commented on #5504
I would always put it at the very bottom of the docstring.  So I would do it differently for ``labels``.
I don't exactly know what I would do for solver.
Maybe
[code]
put I'm open for discussion on this.

I think that the version info is "for the interested expert user" and shouldn't stop the flow of reading the docstring too much.

[2015-10-22 12:42] amueller commented on #5518
I can think of two: "inherits from ``MetaEstimatorMixin``" (which I added basically for the common tests as a tag), and "is not default constructible, but can be constructed with an estimator as first init parameter)".  Or maybe it just is "Takes an estimator as an ``__init__`` parameter"?

[2015-10-22 12:48] fabianp commented on #4357
Implementation for this available in PR #5530

[2015-10-22 13:06] amueller commented on #5412
I agree. Close here?

[2015-10-22 13:08] lesteve commented on #5412
Go for it and we will take over on the joblib side.

[2015-10-22 13:09] #5412 closed

[2015-10-22 13:22] agramfort commented on #5518
ok then  CalibratedClassifierCV is a meta estimator

[2015-10-22 13:28] amueller commented on #5529
That one uses a collapsed gibbs sampler, ours is variational. We should change the reference to be explicit about that. ping @ariddell

[2015-10-22 13:30] gempain opened #5533 "plot_robust_fit.py crashes when under load"
Hello,

First let me thank you for this amazing framework.

I get a random error (not always at the same iteration) when running [an adapted version of plot_robust_fit.py](https://www.dropbox.com/sh/38y8ommc9518zba/AACcwojxrIQeLSGwZ-ZdwXsNa?dl=0). The script uses [two CSV samples](https://www.dropbox.com/sh/38y8ommc9518zba/AACcwojxrIQeLSGwZ-ZdwXsNa?dl=0) (both required for it to work).

Traceback

[2015-10-22 13:36] FRidh opened #5534 "Tests: bunch of failures with 0.17b1 i686 on Nix"
Numpy 1.10 + sklearn 0.17b1 on i686 resulted in a bunch of tests failing.
Here's the log for the case Python 3.4 was used:
http://hydra.nixos.org/build/26933536/nixlog/1/raw

See also #5177 for a discussion on how and whether to handle i686 tests.

[2015-10-22 14:15] ariddell commented on #5529
I didn't know there was a reference. Thanks!

The algorithms (Gibbs vs. VB) are very different.

[2015-10-22 14:25] lesteve commented on #5533
Can reproduce with 0.16.1. This is very likely related to https://github.com/scikit-learn/scikit-learn/issues/4907.

On scikit-learn master you get a more user-friendly exception:
[code]

[2015-10-22 14:28] amueller commented on #5534
Thanks for testing the beta and reporting :)

[2015-10-22 14:32] amueller commented on #5534
to summarize the log:
* TSNE has mismatching types when calling the cython code
* there are a bunch of numeric precision issues
* Doctests fail because of the print statements stuff in #5177

The first seems the worst, the others are not good as well. Ping @ogrisel

[2015-10-22 14:33] amueller commented on #5529
Do you want to sent a PR that explains the difference in one or two sentences? It is more for the interested expert, I guess.
Otherwise we'll find someone to do it ;)

[2015-10-22 14:49] gempain commented on #5533
Is there any fix (i.e what am I supposed to do) ?
Why does running crashed samples separately work fine, even if all ran together ?

[2015-10-22 14:50] amueller commented on #5004
maybe also at https://github.com/hyperopt/hyperopt-sklearn

[2015-10-22 15:15] amueller commented on #5533
as the friendly error tells you, set a higher threshold.
I'm not sure if I understand your second question, but as this is an outlier detection method, different samples will be considered outliers if you change the data distribution.

[2015-10-22 15:47] MaPePeR commented on #5435
I really like the new versions

[2015-10-22 15:53] GaelVaroquaux commented on #5435
@johannah : could you please reference the PR in this issue. Thanks!

[2015-10-22 16:01] Bordbonen opened #5536 "sklearn.preprocessing.LabelEncoder transform wrong output"
Python 3.4
Windows 7
Metadata-Version: 2.0
Name: scikit-learn
Version: 0.16.1

Trying to use labelEncoder() to label mulltiple classes. But, when using le.transform('something'), often the wrong values are received.
Thouhgt that it maybe has to do with my encoding, but you can see it doesnt matter.

Thanks in Advance!

Example code:

Python 3.4.3 (v3.4.3:9b73f1c3e601, Feb 24 2015, 22:44:40) [MSC v

[2015-10-22 16:01] giorgiop commented on #5435
Good job!

[2015-10-22 16:06] gempain commented on #5533
Sure, I will try that :)
Concerning the second question:
Let's say cluster `1`  is responsible for crashing the fitting. If I change `steps[] = range(0,len(clusters_id))` to `steps = [1]`, then the script works fine, and that without touching the threshold or any other parameter.  In addition, sometimes, the warning from Theil-Seng saying it exceeded 300 iterations doesn't stop the script. It cont

[2015-10-22 16:24] GaelVaroquaux opened #5539 "Find a new bar for tonight"
How about we go at a different bar tonight?

[2015-10-22 16:26] giorgiop commented on #5539
+1.

I will be busy tonight but I suggest this one. And it's not even a joke:
http://www.timeout.com/paris/en/bars-pubs/dirty-dick

[2015-10-22 16:28] GaelVaroquaux commented on #5539
I think that I'd like something not too busy and loud. To grab some food
and to talk.

[2015-10-22 16:30] #5205 closed

[2015-10-22 17:17] NelleV commented on #5539
Where have you been so far?

[2015-10-22 17:41] srt19170 commented on #4627
I'd like to suggest adding "random_state" at the same time as "shuffle" for what should be obvious reasons.  I'm using this to implement repeated CV:

    allscores = np.empty((0))
    for i in xrange(3):
        scores = cross_val_score(clf, dobj.data, dobj.getSpclColumn(target_name), cv=10,
                                                  scoring='mean_squared_error',

[2015-10-22 17:52] glouppe commented on #4627
-1 for overloading the API more options.

Advanced CV schemes can be achieved by passing the corresponding object to the `cv=` parameter, instead of passing an int (e.g., `cv=KFold(len(X), n_folds=10, shuffle=True, random_state=1)`).

[2015-10-22 19:05] GaelVaroquaux commented on #5539
Blabla bar! Tonight we just did a small restaurant with not too many people.

Sent from my phone. Please forgive brevity and mis spelling

On Oct 22, 2015, 19:17, at 19:17, Nelle Varoquaux <notifications@github.com> wrote:

[2015-10-22 19:50] GaelVaroquaux commented on #5539
Everybody is tired and gone home (too much hacking these last days). Closing!

[2015-10-22 19:50] #5539 closed

[2015-10-22 19:50] gempain commented on #5533
@amueller see updated [reg.py](https://www.dropbox.com/sh/38y8ommc9518zba/AACcwojxrIQeLSGwZ-ZdwXsNa?dl=0). If you run the script, the same error as above appears because of the 15th cluster (index 14). RANSAC doesn't find any inliers, which makes sense when you look at the graph (uncomment line 137 to do so. You will have to close the graph for the next iteration to start). If you replace `[13,14]

[2015-10-22 20:29] jnothman commented on #5539
LGTM?

On 23 October 2015 at 06:50, Gael Varoquaux <notifications@github.com>
wrote:

[2015-10-22 20:44] sniemi commented on #4405
+1, this would be very valuable. Any update?

[2015-10-22 20:46] trevorstephens commented on #4405
I expect to be pushing a WIP PR this weekend.

[2015-10-22 21:42] MechCoder commented on #5539
Nope, I think this is more of a "Won't fix".

[2015-10-23 07:18] amueller commented on #5536
That looks odd. thanks for reporting...

[2015-10-23 07:22] amueller commented on #5500
Fixed via #5506

[2015-10-23 07:30] amueller commented on #5523
Making "pandas in" better was kind of the idea behind the column transformer PR #3886. Maybe I should have looked more closely into what sklearn-pandas is already doing. I'm not entirely sure what the best way forward is there.

The other thing that would be nice would be preserving column names in transformations / selecting them when doing feature selection. I don't find the issue where we discu

[2015-10-23 07:33] GaelVaroquaux commented on #5523
Not only input validation: every transform would have to describe what it
does to the input columns.

[2015-10-23 07:41] amueller commented on #5523
True, but that I think would be nice ;)

One question is maybe whether we want this only in pipelines or everywhere. If we restrict it to pipelines, the input validation surgery would be less big. But I'm not sure how useful it would be.

[2015-10-23 07:43] ariddell commented on #5529
Sure. I'll write a sentence or two. I need to add a link to the sklearn
implementation anyway (in the lda repo) for those who want to use VB.

On 10/22, Andreas Mueller wrote:

[2015-10-23 07:44] giorgiop opened #5545 "ENH: make consistent interface for scipy's eigs, eigsh and svds with random start"
Recent PRs #5012 #5243 introduce random seeding for those scipy calls to ARPACK, that are otherwise non-deterministic. We should make them consistent across the code base. Somewhere in `sklearn.utils` is the place.

The interface should also be extended to every call we make to those functions in sklearn.

[2015-10-23 07:45] giorgiop commented on #5545
Ping @yanlend in case you would like to take care of this. #5243 is yet to be merged though.
Ping @ogrisel for discussion.

[2015-10-23 07:47] languitar commented on #5516
Why not just add them as new metrics or loss functions?

[2015-10-23 08:58] #5455 closed

[2015-10-23 09:02] amueller opened #5547 "VBGMM mutates alpha in ``__init__``"
We should probably fix this. this means ``set_params`` was broken.

I think an easy fix that doesn't break backward compatibility would be:
introduce a property ``_alpha = alpha / n_components`` and then use ``_alpha`` instead of ``alpha`` everywhere.

That would mean behavior stays the same for people not using ``set_params`` / ``clone``.

[2015-10-23 09:06] amueller opened #5549 "Gaussian Process Kernels have logic in ``__init__``"
The RBF kernel does some things (like casting to float for example) in ``__init__``.
That means that calling ``set_params`` and ``cloning`` can have unexpected effects.

@jmetzen can you maybe look into this? I'm not sure if this has an actual impact on the GP.

I'm working on a simplification in ``clone`` to make it much safer in #5540. It would be great if we could have an ``__init__`` without l

[2015-10-23 11:14] glouppe commented on #5435
For ease of reuse and consistency, what are your opinions about defining styles somewhere globally and then import them in the examples? I am thinking about something like `plt.xkcd()` but for color blindness. Opinions @NelleV @GaelVaroquaux @amueller?

[2015-10-23 11:36] BoZenKhaa opened #5554 "Failed import in scikit-learn/sklearn/base.py ClassifierMixin class."
I am trying to write a classifier that inherits the `score` method from [ClassifierMixin](https://github.com/scikit-learn/scikit-learn/blob/a95203b/sklearn/base.py#L267).

However, the import fails in my module because of the "." in `from .metrics import accuracy_score`. (At least that is what I think is happening)

Could this import be done on top of the file or be fully qualified?

[2015-10-23 11:41] GaelVaroquaux commented on #5435
I think that we need to wait a bit for the evolutions of matplotlib. It's
getting better and better for these problems. And maybe their current
evolutions on the defaults will help.

[2015-10-23 11:41] lesteve commented on #5554
Would you be kind enough to paste the full traceback, please? Without it, it is very hard to help you.

Wild guess: it is rather unlikely that your problem is due to scikit-learn per se.

[2015-10-23 12:20] arthurmensch opened #5557 "Cython 0.22 fails on cythonizing cvm/liblinear.pyx"
Blame commit 9d8d7e42 @MechCoder

[code]

Blocker for PR #5290

[2015-10-23 12:31] dohmatob opened #5558 "GaussianProcess input parameters modified. Shouldn't we do an appropriate attr instead ?"
For example

            # Initialize under isotropy assumption
            if verbose:
                print("Initialize under isotropy assumption...")
            self.theta0 = check_array(self.theta0.min())
            self.thetaL = check_array(self.thetaL.min())
            self.thetaU = check_array(self.thetaU.max())
            theta_iso, optimal_rlf_value_iso, par_iso = \
                se

[2015-10-23 12:43] BoZenKhaa commented on #5554
Thank you for a quick response, sorry, full the traceback is here:

[code]

`net` is an instance of the classifier I am trying to write.

I posted the issue in light of the comments posted under the [question](http://stackoverflow.com/questions/33300986/method-inherited-from-different-module-uses-import-that-fails) at stack overflow. I did not mean to imply that the problem was not at my end, I ju

[2015-10-23 12:46] zermelozf commented on #5004
I think 's probably best if wait until #4294 is merged before adding the dict (in `_constants.py` as suggested by @rvraghav93).

[2015-10-23 12:58] glouppe commented on #5558
You are referring to the old implementation.

[2015-10-23 13:00] rvraghav93 commented on #5004
From discussions IRL, I feel `_constants.py` won't be added... You might want to start your work on some foo_bar.py file and after #4294 gets merged, move it into the `model_selection` module...

[2015-10-23 13:02] lesteve commented on #5554
No worries, it's not about who should be blamed it's about giving the right amount of context so you have the best chance of getting a useful answer. In this case, linking to the Stack Overflow question would have helped at least a little.

Can you share your ann package source or even better put together a simple reproducible example, with some stripped-down version of your code that reproduces t

[2015-10-23 13:10] dohmatob commented on #5558
Well, it's part of the code base. Is this dead code ?

[2015-10-23 13:24] amueller commented on #5023
We  just had a discussion and agreed on the ``neg-`` fix

[2015-10-23 13:24] dohmatob commented on #5558
OK, ignore previous comment. just spoke with @ogrisel.

[2015-10-23 13:48] BoZenKhaa commented on #5554
Ok, I am having trouble replicating the issue on my PC, it seems to be only happening when I run the code on the server.

Thank you very much for your help, I have to leave now, but I will look into this further either on Sunday or Monday.

[2015-10-23 13:58] amueller commented on #5554
this is a relative import, which only works in the sklearn package. in your own package you need to do ``from sklearn.metrics import accuracy_score``

[2015-10-23 13:58] #5554 closed

[2015-10-23 14:00] amueller commented on #5558
interesting that this didn't fail when I tested the ``clone`` changes...
close?

[2015-10-23 14:18] arjoly opened #5562 "Ridge classifier supports multi-label classification, but doc and tests are lacking"
To solve, one would need to update the class docstring and add tests to ensure correctness of the implementation.

[2015-10-23 14:18] amueller commented on #5557
So why are we only using cython 0.22?
Still failing on "0.23.4" : https://travis-ci.org/scikit-learn/scikit-learn/jobs/87009018

[2015-10-23 14:29] amueller commented on #5557
I think @MechCoder didn't run cython on this code. I tried 0.20 and 0.21 and 0.23

[2015-10-23 14:31] amueller commented on #5495
fixed in #5508. Thanks

[2015-10-23 14:31] #5495 closed

[2015-10-23 14:37] ogrisel opened #5563 "clone should not really deepcopy constructor parameters"
As of now, `clone` systematically triggers a copy of the input parameters:

[code]

This could be inefficient on large input datastructures (e.g. for a vocabular with 100k+ tokens instead of  4 as in the previous example).

Furthermore, it forbidden to have estimators that mutate the input params datastructures and we actually have a hash-based check in our official tests:

[code]

So I as sklearn

[2015-10-23 14:40] amueller commented on #5563
I want to have an ``is`` based test in the clone and nothing else.
That works for all scikit-learn estimators apart from VBGMM (which is a bug) and GP kernels (not sure if a bug).
It might fail for people's custom code, which is why I want a deprecation cycle.

we can also have an ``is`` test after fit. Or is there a reason not to?

[2015-10-23 14:42] amueller commented on #5004
+1 on what @rvraghav93 said. git moving the file later is no problem.

[2015-10-23 15:23] amueller commented on #5557
See #5565.

[2015-10-23 15:24] #1848 closed

[2015-10-23 15:28] dohmatob commented on #5558
OK, it seems this is a non-issue. Closing.

[2015-10-23 15:28] #5558 closed

[2015-10-23 15:43] amueller commented on #5502
I thought that was already mentioning sparse data?

[2015-10-23 15:49] giorgiop commented on #5502
No `transform` or `inverse_transform` mention sparsity in that module. This probably should be fixed for all scalers.

[2015-10-23 15:51] amueller commented on #5516
usually you want to compute all four, right? Or do you want to use only a single one and select a model using FPR? That would seem a bit odd to me.

[2015-10-23 15:53] rvraghav93 commented on #1837
I take the full blame for not having finished this during my GSoC... :)

Now that #4294 is merged, I will start working on it shortly and hope to get this merged ASAP!!

[2015-10-23 15:58] amueller commented on #5533
can you please create a minimal example that produces the error?

[2015-10-23 16:04] amueller commented on #5520
I think you meant ``[n_samples, n_features]``. And yes, it should be that the transformer outputs a 2d array.

[2015-10-23 16:07] amueller commented on #4896
@ogrisel close?

[2015-10-23 16:11] languitar commented on #5516
Right now I only need them for debugging purposes, so I don't select models at all using this. I wouldn't care much if there are 4 different methods or just a single one. However, the current metrics interface usually just computes a single score. So having four separate methods would be more consistent to my mind.

[2015-10-23 16:13] dohmatob commented on #5562
Do you mean `RidgeClassifier` supports multi-label classification without being embedded in a`sklearn.multiclass.OneVsRestClassifier` call ? How does the user trigger this feature (being new to the code base, I don't see how) ?

[2015-10-23 16:19] jpopham91 commented on #5520
correct. i was wrapping the models so that they had a transform method aliased to predict, so that i could pipe the predictions of several base models into a meta-classifier.  The issue I was having is that predict outputs an array by default, while the feature union was expecting a column vector.

[2015-10-23 16:20] arjoly commented on #5562
You can do something like:

[code]

The weird thing is that the predict method doesn't work. :-/ (ping @amueller )

[2015-10-23 16:23] waterponey opened #5567 "Plot in plot_robust_fit issue with matplotlib <1.3"
similar to issue #5474 there is a Traceback here https://circle-artifacts.com/gh/scikit-learn/scikit-learn/511/artifacts/0/home/ubuntu/log.txt due to the use of the fontsize argument here : https://github.com/scikit-learn/scikit-learn/blob/master/examples/linear_model/plot_robust_fit.py#L85

[2015-10-23 16:43] drei34 opened #5570 "r2_score metric incorrect?"
Hello,

The r2_score metric is something that many functions in sklearn use but right now I think it generally is set as 1 - RSS/SYY, which would the right formula to use if you run a regression with an intercept.

If you did not use this, however, and ran a regression with no intercept then the r2_score should be equal to (y_pred^2).sum()/(y_true^2).sum() and notice that we do not  demean.

Moreo

[2015-10-23 16:43] amueller commented on #5516
``precision_recall_fscore_support`` computes three ;) Well we can add four new methods, or we could add a ``normalize`` option to the confusion matrix.

[2015-10-23 16:45] amueller commented on #5567
you wanna go for it?

[2015-10-23 17:28] kastnerkyle commented on #5523
You can always do a pipeline with just one thing in it, right? So we *kind of* handle all cases (though it is hacky in the limit of 1) by restricting to pipeline at first...

[2015-10-23 21:12] amueller commented on #5557
Fixed via #5565

[2015-10-23 21:12] #5557 closed

[2015-10-23 21:28] amueller opened #5581 "Example using warmstart in MLP doesn't actually use warmstart"
see file:///home/andy/checkout/scikit-learn/doc/_build/html/stable/modules/neural_networks_supervised.html#more-control-with-warm-start

[2015-10-23 21:38] physhik commented on #5488
I have the same problem with El Capitan and python2.7

I had two decades of errors with gaussian process before installed the development version. They've all gone but this test error remains.

[2015-10-23 22:09] sinhrks commented on #5523
+1. Starting with pipeline sounds nice, and cover all transformer in next step.

I also have an impl with pandas and sklearn integration, which can revert columns info via ``inverse_transform`` (dirty hack though...)

http://pandas-ml.readthedocs.org/en/latest/sklearn.html

[2015-10-23 22:53] bhargav commented on #5547
I would like to take this up.

[2015-10-24 00:08] hlin117 commented on #5322
We should probably close this issue.

[2015-10-24 00:11] hlin117 commented on #4545
Should LassoLars raise a ValueError if X.std() == 0?

[2015-10-24 02:34] #5322 closed

[2015-10-24 06:26] gclenaghan commented on #1763
Hi, @glouppe, I've just submitted a PR to remove it. Let me know if this isn't what you wanted!

[2015-10-24 07:20] GaelVaroquaux commented on #5581
Other link (for same problem):
http://scikit-learn.org/dev/modules/neural_networks_supervised.html#more-control-with-warm-start

[2015-10-24 07:38] GaelVaroquaux opened #5583 "MLP docs are messing "practical intuitions" and simple messages"
1. There should be one or two images linking to the pictures of the MLP examples
   http://scikit-learn.org/dev/auto_examples/index.html#neural-networks
   Maybe http://scikit-learn.org/dev/auto_examples/index.html#neural-networks and/or http://scikit-learn.org/dev/auto_examples/neural_networks/plot_mnist_filters.html
2. The "topic" box in the example page linking to the examples is not complete (

[2015-10-24 07:44] agramfort commented on #4545
does it break the code or do you get just a warning?

[2015-10-24 08:05] hlin117 commented on #4545
Here is the code to replicate the error:
[code]

The error message:
[code]

To be honest, I think this is expected behavior. Is this really a bug?

[2015-10-24 08:13] GaelVaroquaux commented on #5523
I am a bit stupid, but aren't talking about something in the sample
direction here, rather than the feature direction?

OK, but that's all at the level of one transformer that takes Pandas in,
and gives a data matrix out, isn't it? Rather than attempting a
modification on all the objects of scikit-learn (which is a risky
endeavior), we could first implement this transformer (I believe that
@amuell

[2015-10-24 08:43] naught101 commented on #5523
Yep.

Yep, that's what I was thinking to start with. I would be more than happy with a wrapper that dealt with `X` and `y` as dataframes. I don't see an obvious reason to screw with sklearn's internals.

[2015-10-24 08:45] GaelVaroquaux commented on #5523
Then we are on the same page. I do think that @amueller has ideas about
this, and we might see some discussion, and maybe code soon.

[2015-10-24 09:13] kumarSC commented on #5583
Hi @GaelVaroquaux ,  I am a mobile developer and a starter on open source projects. I want to contribute to open source starting with small things as I learn.I found this issue on github with tag documentation.Could you please suggest how I can get started on this issue?

[2015-10-24 09:38] amandeepgautam commented on #5514
If anyone has not taken it up yet, would like to work on this. It would be my first attempt at contributing, so would appreciate if anyone could guide on time line that we have to meet once the bug is assigned.

[2015-10-24 10:12] jmetzen commented on #5549
Yes, I will look into this (but probably not during the next days).

[2015-10-24 10:35] jnothman commented on #5523
#5172

[2015-10-24 10:56] giorgiop commented on #5545
The interface could be at higher level for different SVD solvers. See https://github.com/scikit-learn/scikit-learn/pull/5299#issuecomment-150626913

[2015-10-24 10:58] giorgiop opened #5585 "ENH: interface for SVD solvers"
We could make an interface for the different SVD solvers available. See https://github.com/scikit-learn/scikit-learn/pull/5299#issuecomment-150626913. See also #5545.

[2015-10-24 16:37] #1763 closed

[2015-10-24 20:15] languitar commented on #5516
I would be against having to pull the numbers from the confusion matrix as their are no named entries in this matrix and it is easy to mix up the indices. So you end up with a metric you didn't intend to compute.

[2015-10-24 21:00] jnothman commented on #2904
Is this resolved?

[2015-10-24 21:02] jnothman opened #5589 "Example of nested cross-validation"
We recently merged a change to cross-validation generators that allows, e.g. KFold to be performed within the training of an outer KFold operation. This should be illustrated with an example. Be creative!

[2015-10-24 21:16] arjoly commented on #2904
I think the doc is not yet merged.

[2015-10-24 21:35] arjoly commented on #5516
Why not, we can add those if there is good explanation on what they bring compare to what we already have.

[2015-10-24 22:07] pieteradejong commented on #4639
@amueller Yes, I think that's the one. Glad to see there's an existing issue.
Will propose some changes to multiclass.rst.

[2015-10-25 06:41] glouppe commented on #5589
This should illustrate why model selection and model evaluation should remain separated. and explain why using tuned CV scores to report generalization estimates is wrong.

[2015-10-25 06:43] #5500 closed

[2015-10-25 07:38] GaelVaroquaux commented on #5589
Maybe some ideas can be grabbed from this notebook:
https://github.com/GaelVaroquaux/sklearn_ensae_course/blob/master/rendered_notebooks/05_measuring_prediction_performance.ipynb

Toward the end.

[2015-10-25 09:01] absolutelyNoWarranty commented on #5536
Why doesn't your `le.classes_` come back sorted? The transforms you give would be correct if your `le.classes_` was sorted like it should be.

[2015-10-25 13:21] jakevdp commented on #5536
I cannot reproduce this – the ``LabelEncoder`` internally sorts the labels, and thus produces the correct results (I'm on Python 3.4.3 and scikit-learn 0.16.1)

[code]

@Bordbonen – can you confirm that ``le.classes_`` are **not sorted** after you run the algorithm?

[2015-10-25 13:22] languitar commented on #5516
For me there is a paper which used on of these rates and I want to compare against that.

[2015-10-25 20:46] rvraghav93 commented on #5589
I am working on this and will send a PR shortly!

[2015-10-25 21:55] Sandy4321 commented on #5589
cool looking forward

On Sun, Oct 25, 2015 at 4:46 PM, Raghav R V <notifications@github.com>
wrote:

[2015-10-25 21:58] mfrodl commented on #5585
I would like to work on that if you let me.

[2015-10-25 22:00] Sandy4321 commented on #5385
thanks

On Wed, Oct 21, 2015 at 8:40 AM, Pierre Houssin <notifications@github.com>
wrote:

[2015-10-25 23:02] peterrickwood commented on #5385
Very strange. I run it for 20 minutes or so on my laptop, and after 6 iterations, memory use has climbed from ~2.5 GB to 13 GB. This is the output from ‘ps’ showing the 13 GB virtual memory use:

USER              PID  %CPU %MEM      VSZ    RSS   TT  STAT STARTED      TIME COMMAND
s85047          81928 100.0 14.0 12859060 2348288 s002  R+    7:53am  11:42.34 python testGBMLeak.py

However, the mem

[2015-10-26 00:49] MechCoder commented on #5536
I cannot reproduce this as well on sklearn master.

[2015-10-26 08:42] IshankGulati commented on #5536
Tested on Python 3.4.3 and Python 2.7.10 with scikit learn 0.16.1. Label encoder is working as it should.

[2015-10-26 09:26] giorgiop commented on #5585
Go ahead @mfrodl , thanks!

[2015-10-26 09:53] Bordbonen commented on #5536
@all: forgot to mention that i got scikit from http://www.lfd.uci.edu/~gohlke/pythonlibs/
will try to install from git/master and see what happens then

@jakevdp tried it again:
It is indeed not sorted!
I am using

Python 3.4.3 (v3.4.3:9b73f1c3e601, Feb 24 2015, 22:44:40) [MSC v.1600 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

array(['PLACE', 'J

[2015-10-26 10:14] arthurmensch opened #5595 "Contributing page should mention existence of common tests"
The existence of `estimators_checks.py` and common infrastructure for testing estimators in scikit learn should be mentioned in the contributing page IMHO @ogrisel

[2015-10-26 10:35] giorgiop commented on #1389
This is probably related to #5526

[2015-10-26 11:34] Bordbonen commented on #5536
Well this was quite use full :)
To reinstall everything i finally started using Conda (really nice!!!)
I used Conda for Python 3.4.3 win32, because scipy only has offical support for win32
Now the list gets sorted:

[py3_win32] C:\Users\Dunc>python
Python 3.4.3 |Continuum Analytics, Inc.| (default, Mar  6 2015, 12:08:17) [MSC v.1600 32 bit (Intel)] on win32
Type "help", "copyright", "credits" or "

[2015-10-26 13:12] lorentzenchr commented on #5489
I had the same problem. According to https://www.centos.org/forums/viewtopic.php?f=47&t=48723, ATLAS 3.10 has put the libraries libatlas.so, libcblas.so and libf77blas.so into one library: libsatlas.so (I found no reference to this on the official webpage http://math-atlas.sourceforge.net/). There are two solutions:
1) Modify scikit-learn-0.16.1\sklearn\_build_utils.py line 27:
   #27 old:
   cbla

[2015-10-26 14:54] jakevdp commented on #5536
not sorted – that is very strange!! Could tell us the output of this command in the environment that is showing the bug?
[code]

[2015-10-26 15:24] gempain commented on #5533
@amueller Sure, I will do this ASAP (sorry for the delay).

[2015-10-26 15:30] Bordbonen commented on #5536
So with the old 64bit Python:

Python 3.4.3 (v3.4.3:9b73f1c3e601, Feb 24 2015, 22:44:40) [MSC v.1600 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

array(['PLACE', 'JOBTITLE', 'CONCEPT', 'ORGANISATION', 'PERSON', 'EVENT',
       'WORK'],
      dtype='<U12')

With the new 32-bit build in Anaconda, it works:

Python 3.4.3 |Continuum Analytics, Inc.|

[2015-10-26 15:36] jakevdp commented on #5536
What numpy version is running on the old Python? It seems the bug is there.

[2015-10-26 15:39] jakevdp commented on #5536
I think you must have a *very* old numpy version. My guess is it's related to this 2008 change in the codebase: https://github.com/numpy/numpy/commit/8b54222dbd5890df1480d769a51f1f8541f9a06f

[2015-10-26 15:46] Bordbonen commented on #5536
Not so old i think!

C:\Users\Dunc\Work\Skynet\runScikit>pip show numpy
---
Metadata-Version: 2.0
Name: numpy
Version: 1.9.3
Summary: NumPy: array processing for numbers, strings, records, and objects.
Home-page: http://www.numpy.org
Author: NumPy Developers
Author-email: numpy-discussion@scipy.org
License: BSD
Location: c:\python34\lib\site-packages

[2015-10-26 17:02] jakevdp commented on #5536
I would submit this as a bug to the numpy issue tracker. The output of ``np.unique`` should be sorted, and if it is not then it is a bug in numpy.

[2015-10-26 20:56] vortex-ape commented on #5502
I can work on this. I was wondering why this is tagged Moderate as the fix for this would be quite similar to #5449? (with an additional test for checking if the `ValueError` is raised or not) Or maybe I'm missing something. :sweat_smile:

@giorgiop said:

But `MinMaxScaler` doesn't let us transform giving a `NotFittedError`.

[2015-10-26 23:22] TomDLT opened #5598 "App_veyor failure on master, in test_logistic_regression_sample_weights"
Appveyor seems to fail on master (ex: [here](https://ci.appveyor.com/project/sklearn-ci/scikit-learn/build/1.0.3299), [here](https://ci.appveyor.com/project/sklearn-ci/scikit-learn/build/1.0.3302), or [here](https://ci.appveyor.com/project/sklearn-ci/scikit-learn/build/1.0.3206)), with always the same error:
[code]
I couldn't reproduce the error on the following environment:
Windows 7 (64 bit) Pyt

[2015-10-27 06:22] kyledef opened #5600 "Unable to perform cross validation on clustering methods"
Was trying to do some cross validation between KMeans, BIRCH and DBSCAN, however the methods used by cross_validation.cross_val_predict amd cross_validation.cross_val_score are not consistent between these estimators.

Maybe the cross_val_predict should check for predict first and then fall back to predict first. I understand the need for the difference.

Also why is there a score for only KMeans?

[2015-10-27 07:53] olologin opened #5601 "Error in SVC documentation, dual problem"
http://scikit-learn.org/stable/modules/svm.html#svc

Look at dual problem, it states that each element of Q matrix is K(x_i, x_j), and it seems wrong, because it should be multiplied by y_i and y_j.

Or in other case, if we assume that alpha_i =  alpha_i * y_i, "subject to" section for that formulation becomes wrong.

Just look at wiki formulation https://en.wikipedia.org/wiki/Support_vector_machi

[2015-10-27 08:59] giorgiop opened #5602 "BUG: StandardScaler partial_fit overflows"
The recent implementation of `partial_fit` for `StandardScaler` can overflow. A use case there is to transform indefinitely long stream of data, but that is problematic with the current implementation. The reason is that to compute the running mean, [we keep track](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/extmath.py#L788) of the sample sum.

Here the code to reproduce

[2015-10-27 09:14] BoZenKhaa commented on #5554
Thank you very much for your help. I am quite sure that this was not the issue. However, after reinstalling all the involved packages, the problem is gone and inheritance from ClassifierMixin works perfectly.

[2015-10-27 09:41] giorgiop commented on #5602
A simple way to fix the issue is to keep track of the sample mean itself, instead of the sample sum. However, there is caveat: the computation of the sample variance is less numerically accurate.
[code]
while on `master` the last print is 0.

[2015-10-27 09:44] giorgiop commented on #5602
[code]

[2015-10-27 09:53] giorgiop commented on #5602
Notice that while in the first code snippet I use large numbers to simulate the online stream, in the second case the lenght of the stream does not matter. Its the absolute value of the mean itself that is problematic. Indeed, if you run the second script with smaller `max_f`, everything is smooth. [This is the offending step](https://gist.github.com/giorgiop/31cb638abe529ebec246#file-gistfile1-tx

[2015-10-27 10:38] agramfort commented on #5601
indeed doc is wrong.

PR welcome

[2015-10-27 12:49] souravsingh commented on #4551
Is the issue open?If so,I would like to work on it

[2015-10-27 12:51] ogrisel commented on #5534
I have tried to build and run the tests of scikit-learn 0.17b1 on a 32 bit Ubuntu 14:04 (Using the ggrandes/ubuntu32 docker container) with Python 3.4, openblas and numpy 1.10.1 and scipy 0.16.0 built from source (using pip). I also get test failures but not all are the same as those found on the nix build. I get failures only for tree based models:

https://gist.github.com/ogrisel/3bd954be0b6da72

[2015-10-27 12:53] ogrisel commented on #5534
@FRidh we don't want to support running the doctests on a 32 bit infra because that would render most of the doc examples harder to read by human and the main purpose of the docstring is human teaching (we just use the doctests to check that the doc examples remain in-sync with the code). Running only the python-based tests is enough to check the library it-self.

[2015-10-27 13:02] glouppe commented on #5534
@ogrisel Yeah, these are due to numerical errors of the architecture. These can be "fixed" by either increasing the number of trees or increasing the threshold (from `0.001` to `0.005`).

[2015-10-27 14:50] ogrisel commented on #5534
Are you sure? they look quite important to me. 1e-3 is not 1e-7 (typical precision level for 32 bit float).

Also the same tests pass under 32 bit Python under Windows.

[2015-10-27 15:07] giorgiop commented on #2751
There is actually no need for the Newton method. Weighted regularized least square (= weighted Ridge regression) has a [closed form solution](https://en.wikipedia.org/wiki/Tikhonov_regularization#Generalized_Tikhonov_regularization). Let `W = np.diag(sample_weight)`. Then the optimal solution is
`(X^T W X + alpha I)^(-1) * X^T W y` (why there is not math support on github?)

Newtow's would obtain

[2015-10-27 16:28] mblondel commented on #2751
One step of the Newton method *is* the closed form solution. You just simplified the expression. Feel free to send a PR with the simplified test.

[2015-10-27 16:37] giorgiop commented on #2751
That's a way to see it :)

[2015-10-27 17:34] yarikoptic opened #5604 "a collection of test failures on 32bit of 0.17.0~b1+git14-g4e6829c"
all full logs for the rebuilds across debian/ubuntus are at
http://neuro.debian.net/_files/_buildlogs/scikit-learn/0.17.0~b1+git14-g4e6829c

but major problem seems to be failures on 32bit:

[code]

[2015-10-27 19:48] hlin117 opened #5605 "Link to "Efficient BackProp" on documentation page is broken"
The link to Yan Lacun's tutorial on efficient backpropogation ("Efficient BackProp") is broken on <a href="http://scikit-learn.org/stable/modules/sgd.html">this page</a>.

See the link near <a href="http://scikit-learn.org/stable/modules/sgd.html#tips-on-practical-use">this anchor tag</a>.

[2015-10-27 20:10] agramfort commented on #5600
I am not sure of what you want to achieve here. Was is the score you plan
to use here?

[2015-10-27 20:50] jnothman commented on #5600
Do you mean to `fit_predict`? I don't think it's quite so simple: the scoring mechanism currently expects an estimator to have been fitted.

If an estimator supports `predict` it can be scored, but many clustering algorithms do not have a straightforward inductive interpretation; clustering is transductive by nature. It's not just clustering, either, but other transductive learners. See #4301, whi

[2015-10-27 20:50] #5600 closed

[2015-10-27 21:04] olologin commented on #5601
@agramfort, Oops, Q is an n by n positive semidefinite matrix

[2015-10-27 21:04] #5601 closed

[2015-10-27 21:07] agramfort commented on #5601
see a PR for the fix please.

[2015-10-27 21:15] olologin commented on #5601
Sorry for disturbing you, i thought for a second that broke this line:

But even after redefining Q with y's it holds this property, because Q is Gramian matrix in any case.
So everything ok.

Thanks.

[2015-10-27 22:27] jakevdp opened #5606 "Using a pandas Series for ``sample_weights`` leads to an error:"
[code]

result is this:

[code]

If you instead use `sample_weights=weights.values`, the error does not occur.

[2015-10-27 23:06] #5340 closed

[2015-10-28 00:40] jnothman commented on #5606
It looks like check_array is never called on sample_weight. but we should
add some common tests for Pandas compatibility.

On 28 October 2015 at 09:27, Jake Vanderplas <notifications@github.com>
wrote:

[2015-10-28 01:59] hlin117 commented on #5605
Link also appears here:
http://scikit-learn.org/dev/modules/neural_networks_supervised.html#more-control-with-warm-start

[2015-10-28 07:58] giorgiop commented on #5605
Thank you for reporting.

[2015-10-28 08:00] #5605 closed

[2015-10-28 08:02] glouppe commented on #5604
Thanks for the report! I am however closing this issue, as the same errors were reported in #5534.

[2015-10-28 08:02] #5604 closed

[2015-10-28 08:03] glouppe commented on #5567
Fixed in #5597.

[2015-10-28 08:03] #5567 closed

[2015-10-28 09:03] lesteve opened #5608 "randomized_svd flip sign according to v and not u when transpose=True"
From the randomized_svd doc:
[code]

Looking at svd_flip the sign flip is done by column so that the maximum of the column is ensured to be positive (u_based_decision is True by default).

Here is an example that shows that it is not the case when transpose=True (I guess in this case the svd_flip is according to v and not u):

[code]

Output:
[code]

[2015-10-28 10:23] khalibartan commented on #5606
I would like to take up this issue .
I tried reading the script, but I couldn't find what caused this error.Can someone tell me ?

[2015-10-28 12:45] giorgiop opened #5609 "MAINT: unified treatment of MACHINE_EPSILON and np.finfo in the code base"
`np.finfo` is used often in the code base to judge numerical imprecisions or to write sensible stopping criteria.
[code]

It may be nice to have a uniform way to refer to those numbers, better than a case by case approach. This may help new contributors too. Perhaps to add to `utilities.rst`.

[2015-10-28 14:37] srt19170 opened #5610 "ensemble.GradientBoostingRegressor fails if initial estimator is provided"
ensemble.GradientBoostingRegressor has an option to provide a base estimator:

If a base estimator is provided, an error occurs:

    File "C:\Anaconda\lib\site-packages\sklearn\ensemble\gradient_boosting.py", line 981, in fit
      begin_at_stage, monitor)
    File "C:\Anaconda\lib\site-packages\sklearn\ensemble\gradient_boosting.py", line 1041, in _fit_stages
      random_state)
    File "C:\Ana

[2015-10-28 16:41] onaclov2000 opened #5611 "KMeans ValueError"
When attempting to fit KMEANS on a large numpy array for some reason I'm seeing

    Traceback (most recent call last):
      File "..\School\GeorgiaTech\Assignment_3\live_pca.py", line 167, in <module>
        k_means_results('Live No Feature Selection', [X,y], [X_test, y_test], colormap = False)
      File "..\School\GeorgiaTech\Assignment_3\live_pca.py", line 60, in k_means_results
        fit_

[2015-10-28 16:43] onaclov2000 commented on #5611
The problem also occurs in the fit_transform of Standard Scalar. I am attempting to scale my data, then run PCA on it.

    Traceback (most recent call last):
      File "Y:\tbailey\School\GeorgiaTech\Assignment_3\live_pca.py", line 180, in <module>
        X_pca = stdsc.fit_transform(X)
      File "C:\Python27\lib\site-packages\sklearn\base.py", line 433, in fit_transform
        return self.fit(

[2015-10-28 16:44] onaclov2000 commented on #5611
Also happens in PCA fit_transform and assume anywhere that the validation.py is ran where that portion of code is ran.

[2015-10-28 16:47] khalibartan commented on #5606
I couldn't find what caused this error. Can someone tell me which section of code caused this error?

[2015-10-28 16:52] ogrisel commented on #5563
+1 for no copy of the parameters (if `is` test on the params after fit in addition to the existing hash-based test that checks that the parameter values are not internally mutated).

+1 also for a deprecation cycle: we will need to add a new param e.g. `deepcopy=None` that triggers a ChangedBehaviorWarning by default and that is set to False explicitly in our usage as part of the CV tools to avoid

[2015-10-28 17:00] ogrisel commented on #4212
I have not seen in a while. Closing. Let's reopen if we see it again.

[2015-10-28 17:00] #4212 closed

[2015-10-28 17:02] ogrisel commented on #5534
@FRidh do you have a quick and easy way to reproduce those failures with nix under OS X or Ubuntu? I tried a bit but when into weird troubles (no space left on device in /run/user/1001/...) building scipy in such a setup. If you have a `shell.drv` at hand :)

[2015-10-28 17:16] ogrisel commented on #5534
@amueller I don't understand the following part of your comment:

It seems we only get a small numerical precision issue in the doctests. The unittest are not breaking so I don't think this is a real issue.

[2015-10-28 17:54] FRidh commented on #5534
@ogrisel
If you create the file `shell.nix` with contents
[code]
in the root of your scikitlearn source tree, then you can simply run `nix-shell` to build a Python 3.4 version of scikitlearn. If you want another Python version, just change 34 to say 27 or 35. All dependencies are automatically downloaded and/or build.

As you can see, the original description on how to build scikitlearn is overrid

[2015-10-28 17:58] FRidh commented on #5534
Note that there are different channels. E.g., there is the stable channel (15.09), and the unstable channel (16.03pre.....). The link to the description in nixpkgs that I gave you is the master branch. Unstable is always build from this branch, although unstable lags master anywhere between a day and sometimes a couple of weeks. I recommend you make sure nix tracks the unstable channel. As root, `

[2015-10-28 18:03] jmschrei commented on #5610
This is a known issue. I submitted a patch in #5221, but there wasn't a consensus on what the appropriate thing to do was.

[2015-10-28 18:39] srt19170 commented on #5610
Sorry, my search didn't turn that up.

[2015-10-28 18:40] #5610 closed

[2015-10-28 19:02] jmschrei commented on #5610
No problem! The PR has been idle for over a month, so maybe it needs another push.

[2015-10-29 04:21] michaelbernier opened #5614 "Ward FeatureAgglomeration: Userwarning n_component, causes ward to be unstructured"
When using FeatureAgglomeration with Ward linkage on a 3d dataset, I setup with adjacency matrix with grid_to_graph ( output seems fine ). However, when running the FeatureAgglomeration, this warning is issued:
"UserWarning: the number of connected components of the connectivity matrix is 158 > 1. Completing it to avoid stopping the tree early."

The 158 number is odd, but everything runs well, ex

[2015-10-29 05:35] michaelbernier commented on #5614
Additionally, I tried to input the connectivity matrix as an array instead (connectivity= connectivity.toarray()); the UserWarning is not there anymore, but the outputted labels are still unstructured...

[2015-10-29 06:32] sumitbinnani commented on #4911
I am not sure how the ``convention.rst`` is supposed to be link with the rest of the documentation.
Kindly guide. @amueller?

[2015-10-29 06:45] giorgiop commented on #5611
Could you provide a *minimal* code snippet able to reproduce to problem?

[2015-10-29 08:11] ogrisel commented on #5534
I cannot get it to work:

[code]

Here is my setup:

[code]

[2015-10-29 08:15] ogrisel commented on #5534
I did an update and an explicit checkout of the `nixos-unstable` branch in the `nixpkgs` git repo and now I get:

[code]

[2015-10-29 08:26] agramfort commented on #5614
if you mask your array the grid_to_graph will not always return a single
connected component. Your mask certainly contains isolated blobs.

[2015-10-29 09:48] FRidh commented on #5534
I'm not really familiar with Nix on other operating systems.
You did the following?
[code]

[2015-10-29 10:10] jthiem opened #5616 "Classifier where each class is represented by a GMM"
Hello, I am not sure if this should be considered a change request, a feature request, or (most likely) "educate the noob" request.

I wanted to create a classifier where the samples in each class can be described by a GMM.  The documentation is not clear on how to do this; there is no supervised training in mixture.GMM.fit(), and the "classes" in that context are simply single gaussians?

So I cr

[2015-10-29 11:25] gempain commented on #5533
@amueller here is a - drastically - simplified version of the script. Sorry for the delay, work got in the way :)

Run it from one to eight times in a row. You get errors the first few times, but after at the fifth or sixth run, it works.

[code]

[2015-10-29 11:28] rvraghav93 commented on #5595
+1 This would make it closer to our goal of #4473

[2015-10-29 12:14] giorgiop commented on #5595
+1

[2015-10-29 13:32] omarcr opened #5618 "access individual estimators in OneVsRestClassifier"
I have a 3-class dataset.
I am training a SVM estimator per class using OneVsRestClass
I don't think that I can access the individual estimator objects per class.
I want to access the predict method of the estimators of the classes. can this be implemented?

[2015-10-29 13:52] pauljacksonrodgers commented on #4405
The partial dependence can be computed efficiently for GBMs, but estimating the partial dependence for a generic model (by actually simulating predictions) would be slow without some sampling...is the suggestion here to use some efficient method to calculate the PDP efficiently on random forests and decision trees, or to implement a "naive" but slow method to estimate the PDP for any model?

The l

[2015-10-29 13:53] michaelbernier commented on #5614
So in order to compute, the mask must not contains isolated blobs, or else the "fix_connectivity" method will try to find a connection within these blobs?

Is there a way to somehow "penalized" these made up connection, or ward only accept "true" or "false" connections?

[2015-10-29 14:03] #5618 closed

[2015-10-29 14:03] omarcr commented on #5618
solution for this:
    est0 = clf.estimators_[0]

[2015-10-29 15:35] GaelVaroquaux commented on #5614
Ward will only work with 'true' or 'false'.

[2015-10-29 15:48] rvraghav93 commented on #5115
I haven't read the above conversation but I'd like to note that this minimial test fails under the Python 2.6 build of travis but passed under a similar configuration in my PC... (suggesting it fails when `n_jobs = -1` is set under a single core machine for old python/joblib/scipy versions?)

[code]

[2015-10-29 16:38] khalibartan commented on #5611
you should upload the code and data. I believe there might be some issues in your data.

[2015-10-29 17:22] jakevdp commented on #4103
Here's an implementation I'm working on using scipy's minimum spanning tree: https://github.com/jakevdp/mst_clustering

[2015-10-29 17:34] jakevdp commented on #5616
I opened a PR a while ago which does this kind of generative classification: https://github.com/scikit-learn/scikit-learn/pull/2468

It's a bit more general than the snippet you have here, in that it allows *any* density estimator to be used as a class model.

The PR stalled out mainly because nobody could think of a good way to parametrize the class-wise density models in a way that is compatible

[2015-10-29 17:36] onaclov2000 commented on #5611
You are right, for some reason I have data that is a bunch of columns, but in one line for some reason there are more columns of data, which seems to be problematic. The error was not very clear (to me anyways), thank you!

[2015-10-29 17:36] #5611 closed

[2015-10-29 20:00] MechCoder opened #5620 "Should sparse_output default to True in LabelBinarizer?"
See: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/multiclass.py#L187

(I haven't tested it thought)

[2015-10-29 20:00] MechCoder commented on #5620
cc: @arjoly

[2015-10-29 21:11] amueller commented on #5611
I agree the error is not super informative for someone not familiar with numpy. I don't think we should try to catch it, though. Maybe it should be changed upstream? Not sure what it should be, though.

[2015-10-29 21:53] amueller opened #5621 "Link to user guide broken in RANSAC"
http://scikit-learn.org/dev/modules/generated/sklearn.linear_model.RANSACRegressor.html#sklearn.linear_model.RANSACRegressor
should link to http://scikit-learn.org/dev/modules/linear_model.html#ransac-random-sample-consensus

[2015-10-30 06:15] maruware opened #5622 "GridSearchCV with parallel doesn't finish when exec HTTP Request"
I'm encounteing a mysterious situation.

GridSearchCV doesn't finish when exec HTTP Request.
This code is a minimum implements.

[code]

Above code works fine when
* Comment out urllib.request.urlopen part.
* Delete n_jobs option.
* Decrease sample_num to 1300.

So I guess this problem is caused by  parallel and http request.
What's happening?

### Environment
* Python 3.4.3
* scikit-learn 0.16.1

[2015-10-30 06:28] maruware commented on #5622
I'm sorry.
I try to use 0.17b1, then this problem doesn't happen.

[2015-10-30 07:34] FlorianWilhelm commented on #2601
@GaelVaroquaux Thanks for this rigorous explanation! I think having a bit more documentation is the right way for a user reading the source code to understand what is going on. Thanks!

[2015-10-30 08:40] arjoly commented on #5620
No, this would break backward compatibility.

[2015-10-30 09:33] ogrisel opened #5623 "joblib new forkserver default mode fails on interactively defined callables"
Reported initially in joblib/joblib#263.

The long term fix is to use dill in joblib to be able to pickle functions by value instead of by reference (with `recurse=True`).

I think we should revert to the default fork server mode for now. We need to release 0.9.3 with that stopgap and re-sync into scikit-learn and backport to 0.17.X before the release.

[2015-10-30 13:30] ogrisel commented on #5415
#5008 has been merged to master and @amueller backported it to 0.17.X as 289c0a3bb759d8685fd38aefdd8180f44eb665df. Closing.

[2015-10-30 13:30] #5415 closed

[2015-10-30 13:43] ogrisel commented on #5427
https://github.com/MacPython/scikit-learn-wheels/commit/c3a0481d53dba102edadc5ca985ee4892b345640 seemed to have fixed/hidden the issue. Let's remove the `Blocker` label.

Shall we close? The problem  does not happen on recent clang so it's unlikely to impact many users.

[2015-10-30 14:22] ogrisel commented on #5598
I have enabled the "Rolling builds" option on the sklearn-ci account on appveyor. This should automatically cancel all intermediate queued build on the same branch when pushing a new change to a PR. Hopefully this should decrease the significantly pressure to appveyor. I also did some manual cancelling of redundant queued jobs that where scheduled prior the enabling of the "Rolling builds" option.

[2015-10-30 14:28] TomDLT commented on #5598
cool, I 'll look into it !

[2015-10-30 14:49] ogrisel commented on #5598
Don't forget to configure the "default branch" option to be able to trigger manual builds in a specific branch e.g. after a manual cancellation.

[2015-10-30 14:55] TomDLT commented on #5598
This is great by the way !

[2015-10-30 15:39] ogrisel opened #5625 "Test failure in test_logistic_regression_class_weights undex OS X with Accelerate"
Under OS X 10.11:

[code]

I can make them pass by changing the decimals precision to 4:

[code]

Will open a PR.

[2015-10-30 15:41] ogrisel commented on #5625
This is weird because test passed on my OS X laptop on Monday. I am not sure what recent change could have caused that. Maybe @TomDLT knows?

[2015-10-30 16:15] ogrisel opened #5627 "Appveyor failure on 0.17.X branch on Python 2 only"
Here is a failure we currently have on the 0.17.X branch:

https://ci.appveyor.com/project/ogrisel/scikit-learn/build/job/5x1jj8tdg7w30ay2

[code]

This test seems to be old. I don't understand what has changed beween 0.17b1 (where it worked) and the current branch that could trigger this issue.

[2015-10-30 16:16] ogrisel commented on #5627
@TomDLT if you can reproduce on your windows machine it would be great to `git bisect` to the commit that cause this.

[2015-10-30 16:19] ogrisel commented on #5627
Actually this `raise msg` by @arthurmensch in 8888a9892a3c3ffe066a65fd527469def4f74865 is suspicious. Looks like a debug statement that should not have been commited in the first place.

[2015-10-30 16:21] ogrisel commented on #5627
Will backport a6c2a17bed7f60db64db7ba92f7620e7d2a00570 to 0.17.X.

[2015-10-30 16:22] ogrisel commented on #5627
Done as fa8b1a25fa574473b169ab461ed5913a48cfa305. Will push it to my own appveyor queue to check that this fixes the issue.

[2015-10-30 17:02] ogrisel commented on #5627
Ok this fixed the issue on my appveyor queue:

https://ci.appveyor.com/project/ogrisel/scikit-learn/build/job/q37m30e1cjdm6m1t

closing.

[2015-10-30 17:02] #5627 closed

[2015-10-30 18:19] ogrisel commented on #5623
Fix merged and backported to 0.17.X.

[2015-10-30 18:19] #5623 closed

[2015-10-30 18:39] amueller opened #5639 "Tests run much slower after sprint"
According to @ogrisel
Needs investigation.

[2015-10-30 18:50] ogrisel commented on #5534
I made some experiment running the following script from my 32 bit Python docker vs 64 bit Python on my host system (both on the master branch of scikit-learn, I shared my source folder with `-v` option of docker):

[code]

Here are the results for 64 bit Python:

[code]

here are the results for 32 bit python

[code]

So even the score changes quite significantly when rescaling the sample weight

[2015-10-30 19:25] amueller commented on #5604
Thanks for running the beta @yarikoptic much appreciated!

[2015-10-30 19:28] amueller commented on #5534
we also see #5164 here btw.

[2015-10-30 19:29] amueller commented on #5534
@ogrisel

Looking at the log above, it errors for some tests when trying to call the cython code:
[code]

[2015-10-30 19:30] amueller commented on #5164
@trevorstephens do you have any time to check this? It seems to fail consistently on 32bit linux, see #5534 and #5604. It would be great to fix this for the release.

[2015-10-30 19:35] amueller commented on #5534
@glouppe @arjoly do you have any insights concerning @ogrisel's last analysis? I guess this goes under "numeric instability" ?

[2015-10-30 19:39] amueller commented on #5627
hm I thought I backported that... odd.

[2015-10-30 19:39] amueller commented on #5627
thanks @ogrisel

[2015-10-30 20:13] trevorstephens commented on #5164
OK, will look into it tonight @amueller ...

[2015-10-30 20:19] amueller commented on #5427
I have no idea if that fix did anything. It doesn't pop up any more, closing.

[2015-10-30 20:19] #5427 closed

[2015-10-30 20:27] giorgiop commented on #5639
I would like to take a look at this.

[2015-10-30 20:29] amueller commented on #5639
thanks :)

[2015-10-30 20:48] amueller opened #5640 "Add MLP to whatsnew"
As @jnothman points out in #5587, the mlp is not in whatsnew.
Maybe we overlooked more?
We should add the MLP under new features and check.

[2015-10-30 20:52] amueller opened #5641 "Add example using nested cross-validation"
To track the issue, even though @rvraghav93 said he'll work on it ;)

Nested cross-validation was possible before, but not when providing a custom cv object and either stratification or the number of samples not being divisible by the number of folds.
Maybe StratifiedShuffleSplit would be a good example.

[2015-10-30 20:52] amueller commented on #5641
see #5587

[2015-10-30 21:05] amueller commented on #5639
see #3402

[2015-10-30 21:13] amueller commented on #5595
It mentions ``check_estimator`` here: http://scikit-learn.org/dev/developers/contributing.html#rolling-your-own-estimator
But it should probably also mention that these are automatically run under http://scikit-learn.org/dev/developers/contributing.html#apis-of-scikit-learn-objects.

Or what did you have in mind?

[2015-10-30 21:14] amueller commented on #5595
[expert blind spot here]

[2015-10-30 21:23] amueller commented on #5639
[code]

So there are many very slow GP tests, the svd solver test is slow and something fishy is happening with spectral embeddings. Not sure if that was there before.

ping @jmetzen

[2015-10-30 21:24] amueller commented on #5639
@giorgiop can you check if there is a regression in spectral embedding or if that was like that before?
It would also be nice to time the whole test suite on 0.16.2, 0.17 and master.

[2015-10-30 21:25] amueller commented on #5606
@jnothman what kind of tests are you thinking of? We test for ``X`` currently. We should probably also test for ``y``, which we don't I think, well and obviously ``sample_weights``.

[2015-10-30 21:27] amueller commented on #5606
I could swear there was an open issue on pandas sample weights.

[2015-10-30 21:36] amueller commented on #5595
We should probably also say something about the organization and how to add a new test.
For a new developer that might be a bit daunting. See for example #5642 ^^

[2015-10-30 23:14] dwysocki commented on #3702
I too use the Lasso for timeseries analysis, and have inputs with measurement uncertainties. Weights would be invaluable.

Just how difficult would it be to implement? I'd be willing to try my hand at it, if nobody else is (reading suggestions would be welcomed).

[2015-10-30 23:34] ogrisel commented on #5639
For people interested in reproducing those timings, you can do:

[code]

BTW I think we should do this by default on travis.

[2015-10-31 10:47] agramfort commented on #3702
it's related to @giorgiop PR on sample weights fix for linear models. Once
this is fixed it should be straight forward to implement.

[2015-10-31 11:59] ogrisel commented on #5164
@huzq if you can reproduce the issues, please check whether you are using 32 bit python or 64 bit python with the following command:

[code]

[2015-10-31 14:15] jmetzen commented on #5639
test_gpc.test_custom_optimizer and test_gpr.test_custom_optimizer (these are the slowest) can be sped up by reducing the number of iterations of the "dummy optimizer" from 1000 to a smaller value (e.g. 100).

[2015-10-31 15:17] shawpan commented on #5621
dont know if I missed anything but both of the links working fine. Can you provide more insights? newbie here @amueller

[2015-10-31 15:22] shawpan commented on #5621
got it , the user guide hyperlink is not working here, will try to push the fix soon @amueller

[2015-10-31 17:31] Franck-Dernoncourt commented on #2089
I am having a similar issue (scikit-learn 0.16.1):

[code]

-->

[code]

I use `2.7.10 |Anaconda 2.3.0 (64-bit)| (default, May 28 2015, 16:44:52) [MSC v.1500 64 bit (AMD64)]`.

[2015-10-31 17:34] shawpan commented on #5621
PR created https://github.com/scikit-learn/scikit-learn/pull/5650/files @amueller

[2015-10-31 17:53] enoonIT opened #5651 "Is it possible to reduce StandardScaler.fit() memory consumption?"
**The issue:**
When applying StandardScaler to a big matrix, the memory requirements are expensive.

**Example:**

[code]

I guess it uses some lookup tables to speed the standard deviation computations, but double the required RAM might be too much in some cases. A flag to enable a, slower, but less memory intensive version, would be nice.
Is there any solutions to reduce memory consumption?

[2015-10-31 18:12] olologin commented on #5651
Hmm, try to enable "copy" parameter of constructor.
I can't test it now on my machine.

[2015-10-31 18:18] dwysocki commented on #3702
You're referring to #5526?

I wonder if I can help somehow...

[2015-10-31 18:50] enoonIT commented on #5651
As far as I've seen, the copy parameter is useful for the transform() method rather than the fit() one.

[2015-10-31 18:58] enoonIT commented on #5651
I just noticed that simply using numpy's implementation of std, the memory consumption can be reduced by half:

    big = np.random.random([495982, 4098]) //this is around 8GB
    std = big.std(0) //this _only_ requires another 8GB
    mean = big.mean(0)
    scaler = StandardScaler(copy=False)
    scaler.std_ = std
    scaler.mean_ = mean
    big = scaler.transform(big)

This works, and while it m

[2015-10-31 19:20] giorgiop commented on #5651
This is correct.

If your goal is just to scale big matrices without allocating too much memory, [0.17](http://scikit-learn.org/dev/modules/generated/sklearn.preprocessing.StandardScaler.html#sklearn.preprocessing.StandardScaler.partial_fit) has now `partial_fit` methods.

[2015-10-31 19:48] giorgiop commented on #3702
Yes. Still working on it. This might actually not be a real bug, but I will be touching the base classes of linear models to simplify and clean the code in #5357.

A weighted version of Lasso is very welcome. I suggest not to wait until the PRs get merged, it may take a while.

[2015-10-31 20:02] dwysocki commented on #3702
I see. Godspeed!

[2015-10-31 20:08] giorgiop commented on #3702
I think a weighted lass/lars would be welcome. I suggest not to wait until my work get merged, it may take a little while.

[2015-10-31 20:37] dwysocki commented on #3702
Oh? I got the impression the bug you're working on was blocking this.

Are there any pitfalls to watch out for then?

[2015-11-01 01:23] trevorstephens commented on #4405
@pauljacksonrodgers Yes, the partial plots on a generic model can take some time on 2D plots, but I should have a WIP PR up tomorrow that helps with an "estimated" option that runs rather quickly on any model. Almost there! A bit more involved than I originally expected, but one week late in open source is essentially really, really. really, ridiculously early :-)

current %timeit implementation o

[2015-11-01 10:21] eickenberg commented on #2089
@arthurmensch since you looked at this part of the codebase last, are you familiar enough to recognize what could be happening here?

[2015-11-01 14:06] enoonIT commented on #5651
@giorgiop Thanks, good to know.

[2015-11-01 16:17] shawpan commented on #5621
@amueller Not sure enough that this very simple PR meets the required development flow though I followed all the guidelines provided. Really interested to move on to other issues once I get response of this one.

[2015-11-01 16:59] Sandy4321 commented on #5368
so when it will be done?
lets do it pls!!

On Wed, Oct 21, 2015 at 6:58 PM, Jacob Schreiber <notifications@github.com>
wrote:

[2015-11-01 20:12] arthurmensch commented on #2089
It looks like a stability issue from pinv, it should be fixed in 0.17.
@Franck-Denoncourt have you given it a try?
Le 1 nov. 2015 13:22, "eickenberg" <notifications@github.com> a écrit :

[2015-11-01 21:03] Franck-Dernoncourt commented on #2089
Looks like there is the same issue in `0.18.dev0`:

[code]

[2015-11-01 21:32] jmschrei commented on #5368
I think that is kind of the wrong attitude to have. If there's a particular feature you'd like, you should attempt to submit a PR incorporating it, or be very specific about which criterion you'd like and maybe someone will take it up for you.

[2015-11-01 21:39] MechCoder opened #5656 "RFE doc should mention that the estimator can also have a feature_importances_ attribute"
Right now it is mentioned that RecursiveFeatureElimination works only when the estimator has a `coef_` attribute. However, that is not the case.

[2015-11-01 22:39] amueller commented on #5621
Thanks, merged it. Closed by #5650.

[2015-11-01 22:39] #5621 closed

[2015-11-01 23:05] amueller commented on #5598
Fixed by #5636

[2015-11-01 23:05] #5598 closed

[2015-11-01 23:06] amueller commented on #5625
fixed by #5626

[2015-11-01 23:06] #5625 closed

[2015-11-01 23:51] amueller commented on #5504
@KamalakerDadi did you end up working on this? Any partial work would be appreciated for the 0.17 release.

[2015-11-02 00:15] amueller commented on #5164
graphvis error fixed in #5644.

[2015-11-02 00:19] amueller opened #5660 "sklearn.tree.tests.test_tree.test_huge_allocations sometimes hangs on 32 bit"
Needed to be killed in one of two runs on this 32bit vagrant box:
 http://files.vagrantup.com/precise32.box

[2015-11-02 00:34] amueller commented on #5534
For the precision issues (not only in the trees), we can probably not do that much.
I see the following options:
1) have the tests fail on 32bit (meh)
2) decrease precision
3) make tests conditional (make a ``@skip_if_32bit`` decorator?)

[2015-11-02 00:55] amueller commented on #5164
Not sure about

[code]

[2015-11-02 00:56] amueller commented on #5164
Ok wait, this is no good:

[code]

[2015-11-02 00:58] amueller commented on #5164
yeah ok that is actually also a floating point precision issue. leaning more towards introducing the decorator. Maybe not in all places, but at least in some.

[2015-11-02 00:59] amueller commented on #5164
ping @ogrisel @GaelVaroquaux @jnothman ? @agramfort ?

[2015-11-02 01:00] amueller commented on #5164
argh wrong issue, meant to comment on #5534.

[2015-11-02 01:00] #5164 closed

[2015-11-02 01:02] amueller commented on #5534
Not sure about

[code]

and

[code]

These are also floating point issues and at least for those we should do the decorator, methinks.

[2015-11-02 01:02] amueller commented on #5534
ping @ogrisel @GaelVaroquaux @jnothman ? @agramfort ?

[2015-11-02 02:48] amueller opened #5662 "neural network tests print"
The tests for the MLPClassifier print stuff.
It is good to test the verbosity, but the output should be caught, similarly to here: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/cluster/tests/test_k_means.py#L305

[2015-11-02 02:51] amueller commented on #5502
@vortex-ape feel free to fix this. It should be quite simple, I think. But I'd like to have it done in the next 1 or 2 days. If I don't hear from you, I'll do it myself for the release.

[2015-11-02 02:52] amueller commented on #5089
closing as I think all are fixed.

[2015-11-02 02:52] #5089 closed

[2015-11-02 02:58] amueller commented on #5536
I'm closing this as indeed the result of unique should be sorted. Please open an issue in the numpy issue tracker if this is indeed happening on 1.9.3. Maybe try 1.10?

[2015-11-02 02:58] #5536 closed

[2015-11-02 03:06] amueller opened #5663 "Gaussian process uses string comparison on arrays"
The new GP raises a lot of "FutureWarning: elementwise comparison failed" in the tests.
This should be avoided by checking if the parameter is a string, as done here:
https://github.com/scikit-learn/scikit-learn/pull/5413/files#diff-a84a355d447d21d71c4f82afbeba65edR647

[2015-11-02 03:08] amueller opened #5664 "Global seterr statements in some tests [was: Gaussian process raises many underflow warnings]"
running the tests the new GP raises a whole lot of underflow warnings.
Not sure what to think about that.
ping @jmetzen

[2015-11-02 03:35] amueller opened #5669 "test_validation raises many warnings"
There are a lot of warnings in test_validation, mostly about using sparse ridge, convergence warnings, and stratification.

ping @rvraghav93

[2015-11-02 03:37] amueller opened #5670 "MLP batch size warning"
The mlp tests raise many warnings. In particular, they warn because the default batch-size is larger than some datasets.
I suggest setting the default batch-size to "auto" which is ``min(whateveritisnow, X.shape[0])``. Raising a warning about our default value makes no sense to me.

[2015-11-02 03:39] amueller opened #5671 "OneHotEncoder uses misshapen boolean mask"
There are some concerning warnings about shape mismatch of ``X[~mask]`` in the preprocessing tests of ``OneHotEncoder``.
ping @vighneshbirodkar if you have any time.
Otherwise I'll investigate tomorrow.

[2015-11-02 03:43] amueller opened #5672 "IsolationForest max samples warning"
The same as #5670 only for IsolationForest and ``max_samples``.
Unless the user sets ``max_samples``, I don't think it makes sense to warn. So the default should be ``min(256, n_samples)``

[2015-11-02 03:48] vighneshbirodkar commented on #5671
@amueller Can you tell me where you saw those warnings ?

[2015-11-02 03:52] amueller commented on #5671
[code]
with numpy 1.10 (and python 3.4 but that's probably not important)

[2015-11-02 05:25] arthurmensch commented on #2089
Stability fix was in 0.17 and has been back ported to 0.18a two hours ago.
Le 2 nov. 2015 00:03, "Franck Dernoncourt" <notifications@github.com> a
écrit :

Looks like there is the same issue in 0.18.dev0:

ubuntu@sk:~/scikit-learn$ python test_plsr3.py
The scikit-learn version is 0.18.dev0.
/home/ubuntu/scikit-learn/sklearn/cross_decomposition/pls_.py:55:
RuntimeWarning: invalid value encountered

[2015-11-02 05:39] Franck-Dernoncourt commented on #2089
Looks like there is the same issue in 0.17b1 (installed with ``git clone -b 0.17.X https://github.com/scikit-learn/scikit-learn.git` + `python setup.py build_ext --inplace`):

[code]

[2015-11-02 07:19] KamalakerDadi commented on #5504
I am half done in PR #5511 . The other half I will finish by this evening.

[2015-11-02 07:43] AlexanderFabisch opened #5674 "Confusing GMM documentation"
GMM is a clustering algorithm. Labels (y) are not used at all. There is an example which suggests that the labels will be used to train a classifier and the docstrings don't really help to clarify this. This might be very confusing especially for users that are new to machine learning.

* http://scikit-learn.org/stable/auto_examples/mixture/plot_gmm_classifier.html
* http://scikit-learn.org/stable

[2015-11-02 08:30] MMKrell commented on #5674
Would it not even make sense to go to the extreme and move the code to the cluster package? At least I think, it would be good to add the GMM to the very nice script with the clustering examples. I would support Alexander Fabisch with handling the potential pull request.

[2015-11-02 08:32] agramfort commented on #5672
ping @ngoix

[2015-11-02 08:36] agramfort commented on #5674
indeed. We should not use the word "classification" with GMM in the doc

PR welcome

[2015-11-02 09:42] betatim commented on #5672
I started looking at this, if this is ok with you @ngoix.

I was going to start a PR but then realised I don't know what the scikit-learn style is for detecting that a parameter is set to its default value. I usually use `foo=None` to mean use argument `foo`'s default value and then check for `foo is not None` but in sklearn the default values are set with `foo=42`. Thoughts?

[2015-11-02 09:58] agramfort commented on #5672
use the string "auto" when parameter is set automatically.

[2015-11-02 10:02] ngoix commented on #5672
I just noticed that the `max_depth` parameter (defined L110) is not changed in fit() in the case `max_samples` changes, whereas it is defined as

[code]
  We'll need to change the _fit() method in BaseBagging, to change the value of `self.base_estimator.max_depth` in that case.

Also, if `max_samples='auto' `, there is a problem to set `max_depth` L110.

[2015-11-02 10:19] olologin commented on #5150
So as i suspected, it's not a bug, i asked about it https://github.com/cjlin1/libsvm/issues/50#issuecomment-151299763

If someone didn't understand what they said there:
alphas of j-th class bounded from above with C value, if C (or values of entire sample_weights vector) of some class is equal to 0 — __y.T*alphas = 0__ constraint forces other alphas to be 0's. Thus you don't even have any support

[2015-11-02 10:23] ngoix commented on #5672
@betatim maybe I should handle this bug and add corresponding test before you deal with the 'auto' parameter? Or do you also want to deal with the bug?

[2015-11-02 10:36] betatim commented on #5672
I can take care of both if that is ok with you.

Recalculating `max_depth` in `BaseBagging._fit()` feels a bit dirty because this is something specific to the iForest no? Why not set `self.base_estimator.max_depth` in iforest's `fit()`?

[2015-11-02 10:41] ngoix commented on #5672
Yes you are right. If it passes the tests (there are tests to check that parameters don't change during fitting).

[2015-11-02 11:02] IshankGulati commented on #5662
Isn't it already implemented here: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neural_network/tests/test_mlp.py#L466

[2015-11-02 11:19] MMKrell commented on #5674
In the same context it makes sense to make the variable 'cluster_centers_' available and integrate the GMM in the clustering tutorial graphic.

http://scikit-learn.org/stable/modules/clustering.html

Currently, GMM is the only clustering algorithm which is mentioned in the tabular but NOT in the graphic. With

gmm = mixture.GMM(n_components=2)

it could be easily integrated in the script.

[2015-11-02 11:28] MichelleLochner opened #5676 "MLPerceptron results highly dependent on random state"
Firstly, thanks for adding MLPerceptron in scikit-learn, it's really great!

My only problem is I'm finding it's highly dependent on the random state. I get ranges in AUC from 0.65 to 0.92 without changing any parameters. Is this expected with neural networks or is something else going on?

[2015-11-02 11:38] MichelleLochner commented on #5676
Nevermind, I forgot to scale the data. It's a lot more stable now. Thank you!

[2015-11-02 11:38] #5676 closed

[2015-11-02 12:06] ngoix commented on #5672
If it doesn't pass the tests, the idea I proposed was to add a parameter `max_depth` to _fit() and to _parallel_build_estimators in bagging.py as was done with `max_samples`. This max_depth parameter should be indeed setted in the iforest fit().

[2015-11-02 12:12] glouppe opened #5677 "Linear models crash on non-integer values for y"
This crashes, while it properly works for estimators outside of `sklearn.linear_model`.

[code]

[2015-11-02 12:23] dohmatob commented on #5677
Confirmed. Seems the `Ridge` estimator is also affected.

[2015-11-02 12:25] GaelVaroquaux commented on #5677
This is a regressor, so it makes sense that it doesn't work. I agree that
the error message could be more clear.

[2015-11-02 12:28] glouppe commented on #5677
Oh oops indeed, I should have used `RidgeClassifierCV`, my bad...

[2015-11-02 12:28] #5677 closed

[2015-11-02 12:28] dohmatob commented on #5677
On Mon, Nov 2, 2015 at 1:25 PM, Gael Varoquaux <notifications@github.com>
wrote:

But these regressors don't say anything about the input type. With the
present signature, throwing strings at the estimators is just fine.

--
DED

[2015-11-02 12:29] GaelVaroquaux commented on #5677
No. Strings are not numbers, thus the notion of regression on string does
not exists.

[2015-11-02 12:31] dohmatob commented on #5677
These are semantics...

The docstring says:

`
        X : array-like, shape = [n_samples, n_features]
            Training data

        y : array-like, shape = [n_samples] or [n_samples, n_targets]
            Target values
`

[2015-11-02 15:32] cbrnr opened #5679 "LDA bugfix #5092 lost in refactoring"
I noticed that #5092 did not make it into the refactored code in `discriminant_analysis.py` (line 58).

[2015-11-02 16:33] amueller commented on #5679
Thanks for pointing that out!

[2015-11-02 16:34] amueller commented on #5679
I wonder how that passed the regression test. I guess that was also lost...

[2015-11-02 16:47] amueller commented on #5674
I wouldn't say GMM is a clustering algorithm (only). It also provides density estimates.

[2015-11-02 17:03] amueller commented on #5677
We can make it "continuous target values" for all regressors. PR welcome.
In general it is somewhat assumed that we only support operations that make semantically sense.

For Ridge Classifiers, this should definitely work. There is a common test for that!

[2015-11-02 17:03] amueller commented on #5677
We can add a common test for the regressors to give sensible error messages

[2015-11-02 17:05] amueller opened #5681 "In API docs, neural network module only links to unsupervised, not supervised docs"
Needs to be fixed in classes.rst

[2015-11-02 17:06] amueller commented on #5676
hm didn't we want to normalize features automatically? I guess we decided against that... hm...

[2015-11-02 17:07] amueller commented on #5662
True. Then there is another verbose somewhere.

[2015-11-02 18:04] amueller commented on #5389
Fixed in #5658

[2015-11-02 18:04] #5389 closed

[2015-11-02 18:05] amueller commented on #5534
I guess I'll explicitly skip these tests for now, given no comments. Doesn't seem like a nice solution, but don't know what else to do.

[2015-11-02 18:08] amueller commented on #5679
See #5680

[2015-11-02 18:31] amueller opened #5683 "Boolean mask misshape in GaussianNB"
Warning in test sklearn.tests.test_naive_bayes.test_gnb under numpy 1.10 looks suspicious.

[2015-11-02 18:47] kastnerkyle commented on #5676
The problem with normalizing automatically is - which normalization do we
do automatically? mean/std normalization for example totally destroys
performance on MNIST/digits, but is usually fine for other tasks.

On Mon, Nov 2, 2015 at 12:06 PM, Andreas Mueller <notifications@github.com>
wrote:

[2015-11-02 19:02] amueller commented on #5609
Probably related:
[code]
It seems interesting that this always underflows....  I thought the point was to give the next representable one...

[2015-11-02 19:04] amueller commented on #5609
I can not reproduce the undeflow when running in ipython... hm...

[2015-11-02 19:05] amueller commented on #5609
and not when running just one test... but deterministically on 0.17 and master when running all tests?

[2015-11-02 19:08] amueller opened #5685 "Aim to raise warnings as errors in test suite"
Going through the fun of seeing all the deprecated usages of numpy in master and 0.17, I think it would be nice to let nose break on warnings.
I don't think there should be any warnings when running the tests, and that would put the effort much more on the contributors, instead of the maintainers.

[2015-11-02 19:09] amueller opened #5686 "running estimator_checks on Imputer gives boolean indexing warning"
the common tests (or running estimator checks) produce:

/home/andy/checkout/scikit-learn/sklearn/preprocessing/imputation.py:344: VisibleDeprecat
  missing = np.arange(X.shape[not self.axis])[invalid_mask]

[2015-11-02 19:12] amueller opened #5687 "Floating point indexing in MiniBatchDictionaryLearning"
Running the common tests on MiniBatchDictionaryLearning (or using ``check_estimator``) yields
[code]

[2015-11-02 19:26] giorgiop commented on #5685
+ 1

[2015-11-02 20:01] amueller commented on #5502
see #5688

[2015-11-02 20:44] jnothman commented on #5523
A note: I had wondered if one would only want to wrap the outermost estimator in an ensemble to provide this functionality to a user. I think the answer is: no, one wants to wrap atomic transformers too, to allow for dataframe-aware transformers within a pipeline (why not?). Without implementing this as a mixin, I think you're going to get issues with unnecessary parameter prefixing or else proble

[2015-11-02 21:02] cle1109 commented on #5679
I think more things were discarded in the refactoring process, I checked the commit history and e.g. #5216 didn't make it either...

[2015-11-02 21:12] amueller commented on #5679
Hm that is no good. We need to check that.

[2015-11-02 21:22] dohmatob commented on #5677
Yeah, such a change would greatly clarify things. I think this is better done by a core developer. There are potentially up to 50 classes and 23 or so files concerned; I'm unsure such a PR will easily go through :)

[2015-11-02 22:30] amueller opened #5693 "Learning Curve is missing from the user guide?"
I can't find the learning curve in the user guide. ping @rvraghav93

[2015-11-02 22:43] amueller commented on #5150
basically: using class-weights with OVR is not a great idea without calibration. Or is there another conclusion?
That should maybe be mentioned in the docs.
However, the original issue still persists

[2015-11-02 23:08] amueller opened #5694 "Gaussian process docs are missing reference"
The gaussian process narrative repeatedly references RW2006 but never defines it.

[2015-11-02 23:32] equialgo opened #5696 "Using a Pandas Series/DataFrame with `permutation_test_score` results in error."
[code]

Results in the following error:

---

[code]

[2015-11-03 09:18] giorgiop commented on #5609
I confirm the exact same behaviour here. Not reproducible even when nose-testing all `sklearn/preprocessing`

[2015-11-03 09:26] giorgiop commented on #5609
A possible reason of this "non-determinism" [is here](http://stackoverflow.com/questions/13543291/adding-to-numpy-nextafter-float-returns-unexpected-result).

[2015-11-03 11:35] bhargav commented on #5670
I'd like to take this up.

[2015-11-03 11:41] hrjn commented on #5694
I guess it's from this book:
**Gaussian Processes for Machine Learning**
Carl Edward Rasmussen and Christopher K. I. Williams
*MIT Press, 2006*

Link to the official page of the book [here](http://www.gaussianprocess.org/gpml/). Note that a free PDF version of the book is available for download [on that same page](http://www.gaussianprocess.org/gpml/chapters/RW.pdf).

[2015-11-03 11:46] giorgiop commented on #5651
I have done some memory profiling. You are right, we are doubling memory consumption calling `fit`, even when `copy=False`. Although, `numpy.var` is the reason. Look here:
[code]
![figure_1](https://cloud.githubusercontent.com/assets/2871319/10907219/8a90dbe0-8228-11e5-913e-0dd7336a1025.png)

and indeed your example above doubles the memory requirement too:
[code]

![figure_2](https://cloud.github

[2015-11-03 12:08] enoonIT commented on #5651
Hi,
how  do you profile memory consumption?

Could you try:
@profile
def enoonIT_fit_example():
    shape = (2 ** 16, 2 ** 12)
    big = np.random.RandomState(0).uniform(-1, 1, size=shape) # ~2000 MiB
    scaler = StandardScaler(copy=False).fit(big) # this should add another 4000MiB
    big = scaler.transform(big)

Thanks!

[2015-11-03 12:13] giorgiop commented on #5651
You can use [memory profiler](https://pypi.python.org/pypi/memory_profiler). You last code only doubles the memory. The additional 4000 are required if you call with `copy=True` (second plot below).

![figure_3](https://cloud.githubusercontent.com/assets/2871319/10907673/8a318cfe-822c-11e5-8c86-ba76a4b1f97b.png)
![figure_4](https://cloud.githubusercontent.com/assets/2871319/10907686/ae824756-822c-

[2015-11-03 13:43] arthurmensch commented on #5595
I was thinking about making it more explicit in `Rolling your own estimator`. But it turns out that it has already been done in dev branch ! I believe that more emphasis should be put on it though

[2015-11-03 14:17] Sentient07 opened #5702 "UndefinedMetricWarning: No negative samples in y_true, false positive value should be meaningless"
I came across this warning message while running tests.
/home/ramana/project/scikit-learn/sklearn/metrics/ranking.py:523: UndefinedMetricWarning: No negative samples in y_true, false positive value should be meaningless
  UndefinedMetricWarning)
ok

[2015-11-03 15:19] giorgiop commented on #5639
[code]

[2015-11-03 15:55] rvraghav93 commented on #5669
All fixed! Please take a look at #5703 ;)

[2015-11-03 16:14] rvraghav93 commented on #5693
[I can](http://scikit-learn.org/dev/modules/learning_curve.html#learning-curve) ;) or do you mean something else?

[2015-11-03 17:09] amueller commented on #5693
Where do I have to click to get there?
http://scikit-learn.org/dev/user_guide.html

[2015-11-03 17:43] shawpan commented on #5702
forgot to test warnings here fixing soon @Sentient07

[2015-11-03 17:52] Sentient07 commented on #5702
@shawpan  I'd like to give it a try, to fix this. Is someone working on it ?

[2015-11-03 17:56] shawpan commented on #5702
I already created a PR @Sentient07 :)

[2015-11-03 18:26] #5671 closed

[2015-11-03 19:04] amueller commented on #5639
git bisect?

[2015-11-03 19:06] #5502 closed

[2015-11-03 19:33] Sentient07 commented on #5683
@amueller , some elements in the array "class_count_ array" happens to be 0, to which np.log is applied ( l:415 in scikit-learn/sklearn/naive_bayes.py ) and thus the RuntimeWarning. Would it be a correct fix if I replace the 0s with 1s for computing  log ?

[2015-11-03 19:48] Sentient07 commented on #5683
@amueller , Tests pass, No RuntimeWarning. Please have a look at this at your convenience, https://github.com/scikit-learn/scikit-learn/pull/5707

[2015-11-03 19:55] amueller commented on #5683
Sorry, that was not the warning I meant. The warning is the boolean mask warning you get under numpy 1.10

[2015-11-03 20:28] Sentient07 commented on #5683
Sorry, I will take a look at that.

[2015-11-03 21:38] Sentient07 commented on #5683
@amueller fixed the "VisibleDeprecationWarning". Please have a look at your convenience :)

[2015-11-03 23:28] denfromufa opened #5709 "msvc compiler - building on win7-64bit, python-2.7-32bit"
Why do I get this error on Windows when building from master?

This error appears with Microsoft Visual C++ Compiler for Python 2.7, but does not happen with libpython installed from conda.

http://www.microsoft.com/en-us/download/confirmation.aspx?id=44266

[code]

more details here:

[code]

[2015-11-04 03:31] #5687 closed

[2015-11-04 08:11] giorgiop commented on #5639
[code]

[2015-11-04 08:13] srikris opened #5710 "micro average is the same for precision, recall, f1_score, fbeta_score"
For the multi-class case, the `micro` average option seems to result in mathematically equivalent definitions for `precision_score` and `recall_score` (and as a result equivalent `f1_score`, and `fbeta_score`, and `accuracy_score`).

Am I missing something? Here is my argument:

For the multi-class setting, let p_m and r_m denote the micro precision. If we define
[code]
where `tp, fp, tn, fn` are

[2015-11-04 09:02] giorgiop commented on #5639
Never tried, something new to learn there. I am moving to the PR.

[2015-11-04 09:43] jnothman commented on #5710
As is written in the documentation: "Note that for “micro”-averaging in a
multiclass setting will produce equal precision, recall and [image: F],
while “weighted” averaging may produce an F-score that is not between
precision and recall."
http://scikit-learn.org/stable/modules/model_evaluation.html

But if you drop a majority label, using the labels parameter, then
micro-averaging differs from acc

[2015-11-04 09:43] #5710 closed

[2015-11-04 14:23] rvraghav93 commented on #5693
[Oops](https://github.com/scikit-learn/scikit-learn/commit/f67e9111241702be75de638ed5110e571db846a3#diff-d22db8a160d941596c052b982b3a0594L14) :/ Fixed in #5714 !

[2015-11-04 14:49] #5681 closed

[2015-11-04 17:31] #5562 closed

[2015-11-04 17:37] TomDLT commented on #5514
@amandeepgautam your help would be much appreciated, yet this issue seems to be already solved in #5519. :)
You can look for other issues labeled as "Easy" and "Need Contributor", and write a comment to tell us that you are working on it.

[2015-11-04 17:37] #5514 closed

[2015-11-04 18:41] sidps opened #5715 "metrics.log_loss : checking for isinstance np.ndarray"
metrics.log_loss currently checks if y_pred isinstance of np.ndarray, with an error message saying it should be an array of floats. This prevents using pandas series inputs. Perhaps this should be changed to check for dtype instead?

[2015-11-04 19:02] amueller commented on #5660
Hm seems to be hanging on the vagrant box consistently now. Ping @larsmans (@glouppe @arjoly ?) Not sure this is good for the release.

[2015-11-04 19:33] amueller opened #5716 "deprecation warnings in examples in 0.17"
Many, but hard to find :-/

[2015-11-04 19:48] max-moroz opened #5717 "Bug in DummyClassifier predict_proba"
In DummyClassifier, it seems there's a bug that causes predict_proba to fail with MemoryError when strategy is "most_frequent".

        for k in range(self.n_outputs_):
            if self.strategy == "most_frequent":
                ind = np.ones(n_samples, dtype=int) * class_prior_[k].argmax() # here
                out = np.zeros((n_samples, n_classes_[k]), dtype=np.float64)
                ou

[2015-11-04 20:19] amueller commented on #5717
Can you give an example of data, together with the wrong output and the expected output?

[2015-11-04 20:34] amueller opened #5719 "RandomProjections need better default n_components"
Currently ``n_components`` is not data dependent. Should it always warn on low-dimensional data?
Or should we try to adjust ``n_components``?

Arguably using it on low-dimensional data is a user mistake, so maybe the warning is ok?
But we do use it in our examples on low-dim data....

[2015-11-04 20:38] amueller opened #5720 "examples/applications/plot_prediction_latency.py reimplements train_test_split"
in the ``generate_dataset`` there is a lot of lines that could be killed by using train_test_split and ``StandardScaler``.

[2015-11-04 21:04] Sandy4321 opened #5722 "ExtraTreeRegressor -> estimators_ list of DecisionTreeRegressor is broken"
there is mentioning of  in
http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.ExtraTreesRegressor.html
but in
http://scikit-learn.org/stable/modules/generated/sklearn.tree.ExtraTreeRegressor.html
so it is not clear if this estimators_ list of DecisionTreeRegressor may be used.
It does not work when I try it -> all trees give the same output!!!
when this option for RandomForestRegres

[2015-11-04 21:11] keyboard-naptime commented on #5717
Actually, it seems to work fine when it works. But it doesn't work for any non-trivial size input - not sure why.

[code]

Resulting printout with the original code:

41.44107590734585 seconds
[[ 0.  0.  0. ...,  0.  0.  1.]
 [ 0.  0.  0. ...,  0.  0.  1.]
 [ 0.  0.  0. ...,  0.  0.  1.]
 ...,
 [ 0.  0.  0. ...,  0.  0.  1.]
 [ 0.  0.  0. ...,  0.  0.  1.]
 [ 0.  0.  0. ...,  0.  0.  1.]]

Printou

[2015-11-04 21:21] amueller commented on #5716
See #5721

[2015-11-04 21:24] #5504 closed

[2015-11-04 21:30] hdmetor opened #5723 "cosine_similarity is not linked from the docs"
In the list of [pairwise metrics](http://scikit-learn.org/stable/modules/classes.html#module-sklearn.metrics.pairwise) `cosine_similarity` is not listed. Also in the [metrics module](http://scikit-learn.org/stable/modules/metrics.html) there is no link to the documentation page.
The documentation page itself

http://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.cosine_similari

[2015-11-04 21:52] amueller opened #5724 "applications/plot_stock_market.py segfault with openblas and n_jobs=1"
Not sure if I should delay the release for this, but this example is broken.
``quotes_historical_yahoo`` was moved to ``quotes_historical_yahoo_ochl`` or ``quotes_historical_yahoo_ohlc``. I don't know which is the right one, but they both give me segfaults.
That could just be my broken setup, though.
Can anyone with a new matplotlib try?

[2015-11-04 22:01] amueller commented on #5724
ok works for @vighneshbirodkar with the new function (no segfault).
So the question is just ``ochl`` or ``ohlc``

[2015-11-04 22:08] amueller commented on #5724
Actually, the file says ``This module is deprecated in 1.4 and will be moved to `mpl_toolkits`
or it's own project in the future.`` So I don't know how good of an idea it is to keep using these functions anyhow...

[2015-11-04 22:09] amueller commented on #5724
ok, ``ochl`` it is: https://github.com/matplotlib/matplotlib/commit/48b8e6bacdc819d0b72aafe60b87e8ee132a46cc

[2015-11-04 22:10] amueller commented on #5724
see #5721 for a fix

[2015-11-04 22:14] amueller commented on #5685
It would also be nice to check warnings in the examples. We use deprecated things from matplotlib, and we should fix them when they are deprecated, not when they break.

[2015-11-04 22:17] amueller opened #5725 "String to array comparison in RandomizedLasso"
here: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/randomized_l1.py#L333

[code]
This popped up in the examples, but not in the tests as far as I can tell. Which probably means it is not covered in the tests.
ping @agramfort ;)

[2015-11-04 22:17] amueller commented on #5725
[I don't tag this for the release because I want to release at some point]

[2015-11-04 22:20] amueller opened #5726 "Use of deprecated "ax.set_color_cycle" (deprecated in matplotlib 1.5)"
examples/linear_model/plot_lasso_coordinate_descent_path.py:ax.set_color_cycle(2 * ['b', 'r', 'g', 'c', 'k'])
examples/linear_model/plot_lasso_coordinate_descent_path.py:ax.set_color_cycle(2 * ['b', 'r', 'g', 'c', 'k'])
examples/linear_model/plot_lasso_coordinate_descent_path.py:ax.set_color_cycle(2 * ['b', 'r', 'g', 'c', 'k'])
examples/linear_model/plot_ridge_path.py:ax.set_color_cycle(['b', 'r',

[2015-11-04 22:20] agramfort commented on #5725
grrr

should just be

if isinstance(alpha, six.string_types) and alpha in ('aic', 'bic')

?

[2015-11-04 23:09] amueller commented on #5725
yeah, but I thought it might be worth checking coverage.

[2015-11-04 23:17] amueller commented on #5723
and ``cosine_distance``. It would be nice if someone could go through the pairwise module and check it against classes.rst.

[2015-11-05 00:00] amueller commented on #5609
hm not sure I understand how that is related.

[2015-11-05 00:05] amueller commented on #5679
(removing the blocker as the release critical part has been merged)

[2015-11-05 00:33] amueller commented on #5724
hm downgraded to matplotlib 1.4.3, still segfault....

[2015-11-05 00:40] amueller commented on #5724
so the segfault is only when I try to build the docs, not when I run the example on its own.

[2015-11-05 02:37] amueller opened #5729 "unusable target reference when doing pdf doc build"
When building the pdf documentation ("make latexpdf") there are many "unusable target reference" warnings. I think they are all dead links. At least some of them seem to be.
It would be great to check / fix them all.

[2015-11-05 03:30] hdmetor commented on #5720
Also used `sklearn.utils.shuffle`

[2015-11-05 06:34] betatim opened #5732 "IsolationForest(max_features=0.8).predict(X) fails input validation"
When subsampling features `IsolationForest` fails the input validation when calling `predict()`.

[code]

gives the following:

[code]

In `predict` one of the individual fitted estimators is used for input validation: `self.estimators_[0]._validate_X_predict(X, check_input=True)` but it is passed the full `X` which has all the features. After looking into it a bit, `bagging.py` sub-samples the fe

[2015-11-05 10:18] Jeffrey04 opened #5734 "pairwise_distances returning error with n_jobs > 2"
Given the shape of `X = (1, 58181)` and `Y = (2497564, 58181)`, where X and Y are both sparse matrix returned by tfidf_transformer, and X is a query. So the problem is when these are passed into the pairwise_distance function as follows

[code]

I get these errors https://gist.github.com/Jeffrey04/0fcd73aef4229a49665d

So it works properly for n_job=1, and n_job=2, but any bigger value it returns

[2015-11-05 10:20] Jeffrey04 commented on #5734
I am on
[code]

 and my python version is
[code]

OS is
[code]

[2015-11-05 12:15] absolutelyNoWarranty opened #5735 "roc_auc_score does not handle nans/infs well"
Normally when given scores which are the same `roc_auc_score` will return 0.5, but in the case of all `nan/inf` it seems to return the AUC for the labels if ranked in the order given.

	In [8]: roc_auc_score([0,0,1,1], [np.inf, np.inf, np.inf, np.inf])
	c:\WinPython-64bit-2.7.9.1\python-2.7.9.amd64\lib\site-packages\numpy\lib\function_base.py:1114: RuntimeWarning: invalid value encountered in subt

[2015-11-05 12:22] GaelVaroquaux opened #5736 "Introduce a solver="auto" for LogisticRegression"
Logistic regression has many different possible solvers. Choosing the best is difficult and requires expert knowledge.

I think that it would be useful to introduce a 'solver="auto"' that tries to make a good guess on the best approach. It would have to be tuned using heaving benchmarks on many different problems.

A good place to start is using the script bench_rcv1_logreg_convergence.py in bench

[2015-11-05 12:33] dohmatob commented on #5736
Good idea.

[2015-11-05 15:33] #5534 closed

[2015-11-05 16:07] agramfort commented on #5732
ping @ngoix

[2015-11-05 16:16] amueller opened #5737 "Use detected OS to give installation instructions."
See example https://circle-artifacts.com/gh/nilearn/nilearn/287/artifacts/0/home/ubuntu/nilearn/doc/_build/html/introduction.html#installation
and discussion here:
https://github.com/scikit-learn/scikit-learn/pull/5257#issuecomment-154098632

[2015-11-05 16:17] #4742 closed

[2015-11-05 16:28] #5693 closed

[2015-11-05 19:24] amueller opened #5738 "Python3.3 compatibility"
There is still a bug in #5429 :-/
There should be an ``else`` before the import.

[2015-11-05 19:53] Sentient07 commented on #5723
@amueller , i could find link to sigmoid_kernel also missing. Should I also add that to classes.rst ?

[2015-11-05 20:13] perimosocordiae opened #5739 "Remove/replace usage of scipy.misc.lena"
In the upcoming 0.17 release of scipy, the "lena" image has been removed: https://github.com/scipy/scipy/pull/5162

In scikit-learn, [several examples and tests](https://github.com/scikit-learn/scikit-learn/search?l=python&q=lena) rely on the Lena image. These should be updated to maintain compatibility with scipy.

[2015-11-05 20:34] amueller commented on #5739
we should use either one of the "example_images" that already ship with scikit-learn, or maybe use the racoon or the astronaut (from scikit-image).
Using the example images is probably easiest.
Since which version is the racoon there?

[2015-11-05 20:38] perimosocordiae commented on #5739
Looks like it was added in v0.12: https://github.com/scipy/scipy/pull/351

[2015-11-05 20:45] amueller opened #5741 "Link to pdf broken"
The pdf is moved to scikit-learn-docs.pdf, not user_guide.pdf.

[2015-11-05 21:35] MechCoder commented on #5736
+1

[2015-11-05 21:40] jnothman commented on #5741
did I change the file name and also add the link? whoops

[2015-11-05 21:43] amueller commented on #5741
;)

[2015-11-05 21:46] jnothman commented on #5741
(I've once or twice tried to use sphinx's link checker only to be overwhelmed by the number of broken links...)

[2015-11-05 21:47] amueller commented on #5741
there are sooo many. you can see them when you build the pdf. How do you run the link checker?

[2015-11-05 21:48] jnothman commented on #5741
no, i mean external links: http://sphinx-doc.org/_modules/sphinx/builders/linkcheck.html

[2015-11-05 21:49] amueller commented on #5741
ah.
Well we should run that one, too ;)

[2015-11-05 21:51] amueller commented on #5741
hm as you're around: I get a http 500 error after each file uploaded to pipy. Do you know why that could be?

[2015-11-05 22:03] amueller commented on #5729
this might also be helpful: https://github.com/scikit-learn/scikit-learn/issues/5741#issuecomment-154203564

[2015-11-05 23:03] Sentient07 commented on #5723
https://github.com/scikit-learn/scikit-learn/pull/5743

[2015-11-05 23:47] FedericoV commented on #5736
I think that's an excellent idea.

What are the things that have to be taken into account?

- The obvious are: number of samples, number of features, sparsity

After that:

- Colinearity (but how to efficiently estimate it?  do a PCA and look at cumulative explained variance?)
- Presence or absence of one hot encoded features

Anything else that jumps to mind?

[2015-11-05 23:48] alexfields opened #5744 "Multidimensional isotonic regression"
In its current form, scikit-learn's implementation of isotonic regression only fits functions of one variable. I have written a multidimensional analog; would there be any interest in incorporating it into scikit-learn?

My implementation relies on [the python interface to the igraph library](http://github.com/igraph/python-igraph), in case that poses a problem.

Background on multidimensional iso

[2015-11-06 01:34] mblondel commented on #5736
Let's build a classifier which predicts the best classifier from the data characteristics!

[2015-11-06 02:42] genliu777 opened #5746 "'GradientBoostingClassifier' object has no attribute 'apply'"
hi,
when i run the code on the webpage: http://scikit-learn.org/stable/auto_examples/ensemble/plot_feature_transformation.html, the compiler gets the error as the title mentioned. i turn to the webpage which describes main info of GradientBoostingClassifier, and i find actually there is the "APPLY" function!!

why!??
by the way, my sklearn is version of  64bit, and 0.16.1

[2015-11-06 06:01] GaelVaroquaux commented on #5736
Multi colinearity will be expansive to estimate, I fear. Unless someone has a good idea (maybe based on a randomized PCA very low rank.

[2015-11-06 06:03] GaelVaroquaux commented on #5746
The apply method was added in 0.17.

[2015-11-06 06:18] glouppe commented on #5746
Indeed, see https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/gradient_boosting.py#L1227

You should now be able to update to 0.17 (it was released only a few hours ago).

[2015-11-06 06:18] #5746 closed

[2015-11-06 07:47] alvations opened #5747 "A very critical error on the documentation (I think)"
On the [installation page](http://scikit-learn.org/stable/install.html), it says:

"**We don’t recommend installing scipy or numpy using pip on linux**, as this will involve a lengthy build-process with many dependencies. Without careful configuration, building numpy yourself can lead to an installation that is much slower than it should be. If you are using Linux, consider using your package mana

[2015-11-06 07:51] #5747 closed

[2015-11-06 07:52] alvations commented on #5747
Sorry for posting it on the wrong repo, created new PR on scikit-learn/scikit-learn.github.io#3

[2015-11-06 07:52] GaelVaroquaux commented on #5747
It was the right repo. But the fix is wrong, as the phrasing is the
intended one.

[2015-11-06 10:32] giorgiop commented on #2751
@mblondel do you have any idea why the last test above breaks if it loops over `intercept=False`?

[2015-11-06 12:29] giorgiop commented on #5609
Ahm. I think I misunderstood the explanation from stackoverflow. I googled a bit but I still have no idea about this underflow.

[2015-11-06 12:41] giorgiop commented on #5609
Anyway, that part of the test can be written and another way avoiding any call to `nextafter`.

[2015-11-06 13:16] ngoix commented on #5732
Yes we can't apply `X_test` to the base estimators `self.estimators_` because `X_test` has a full number of features, whereas base estimators are built on a smaller number of features.

The original Isolation Forest algorithm does not consider sub-sampling features. We let this argument because it was supposed to be an easy extension. Seems that it is not the case. I vote for removing `max_feature

[2015-11-06 13:22] glouppe commented on #5732
To me the issue comes from the fact that the validity of `X` is checked through one its sub-estimators
(See `X = self.estimators_[0]._validate_X_predict(X, check_input=True)` at line 194). This is not the correct way to do it.

[2015-11-06 13:26] ngoix commented on #5732
Yes but even if you replace this line by just `X = check_array(X)`, you get error in predict when doing (L202)

[code]

[2015-11-06 13:29] glouppe commented on #5732
Yes, because you should not do that either. Since you inherit form `BaseBagging`, you need to iterate over `zip(self.estimators_, self.estimators_features_`) and then compute `leaves_index = tree.apply(X[:, features])`. Sorry for not catching that in the initial review...

[2015-11-06 13:32] mblondel commented on #2751
@giorgiop Not sure what you mean. This works on my machine:
[code]

[2015-11-06 13:39] ngoix commented on #5732
Ok great! I didn't know about `self.estimators_features_`. So it is indeed an easy extension, and I withdraw my vote for removing `max_features` ;)

[2015-11-06 14:15] giorgiop commented on #2751
Thanks, you are right. I was working with some changes that made it failing. I am isolating the issue in LinearRegression.

[2015-11-06 15:30] FedericoV commented on #5736
We should obviously use this very efficient implementation: http://www.oneweirdkerneltrick.com/rank.pdf :p

[2015-11-06 16:20] glouppe opened #5750 "[RFC] Common interface for kernels?"
With recent improvements and additions, I have come to realize that the codebase starts accumulating several implementations or occurrences of kernels, most of which are not directly interoperable or do not share a common and simple interface.

So far, we have kernels (or usages of) in
- `gaussian_process.kernels`
- `metrics.pairwise`
- `svm`
- `neighbors.KernelDensity`
- `kernel_approximation`
-

[2015-11-06 18:00] giorgiop commented on #5736
+1

[2015-11-06 18:33] jakevdp commented on #5750
Chiming in here: the ``BallTree``/``KDTree``-related functionality in ``sklearn.neighbors`` has its own implementation of kernels and distance metrics. While this does duplicate things in ``sklearn.metrics``, the reason they're re-implemented is because the functions have to be called within inner cython loops. So to share code here, we'd need a good way to share cython code between submodules. I'

[2015-11-06 18:37] MartinDelzant commented on #5726
It seems that a new requirement of matplotlib 1.5.0 is the package "cycler".
See here : http://matplotlib.org/api/api_changes.html#color-cycle-deprecated
But "timeline for removal has not been set"

[2015-11-06 18:55] jmetzen commented on #5750
As for `gaussian_process.kernels` and `metrics.pairwise`, the bridge actually goes in both directions:  GP kernels can be used as `metric` in `pairwise_kernels()`. I am not sure if there is that much potential for code-sharing between the two modules at the moment (the RBF kernel is the only overlap that I see currently), but if someone has an idea how interoperability could be improved, I would b

[2015-11-06 21:34] agramfort commented on #5744
having a dependency on igraph is not an option but the model is interesting.

I would create a side project that we can add to the list of related
projects on the web site.

make sure you use the check_estimator function to check that your object
meets the requirement of sklearn estimators.

[2015-11-06 22:42] MechCoder commented on #4357
Yes, seems like it. On my review list for next week :P

It looks like the selling point of the paper is the parallelizabilty, i.e when k is large, instead of finding k centers iteratively, you find l * r centers totally, ie l centers across i.e r parallel jobs, and its now OK since you are distributing the work. Now you recluster these l * r centers back to K which is again OK since `l * r` is typ

[2015-11-07 03:50] hlin117 opened #5751 "Add more documentation to PCA?"
I'm teaching a class where students are learning about PCA, so I pointed them to scikit-learn's implementation of PCA. However, reading the docstring, I realized that some information was missing:

* Are the components in `pca.components_` sorted by eiganvalues?
* How do you obtain the eiganvalues corresponding to each of the components?

It turns out that <a href="http://stackoverflow.com/a/27829

[2015-11-07 03:59] genliu777 commented on #5746
waaa!! it is ver.0.17!!! i think i still read the User-Guide of 0.16.1!!! thanks!!

[2015-11-07 04:04] hlin117 commented on #5751
Maybe it'll be nice to add an explanation (or even a feature) to produce X-hat, shown in this picture.

(Q is the matrix of eiganvectors, and Y is the projection of X onto the eiganvectors.)

<img width="577" alt="screenshot 2015-11-06 22 02 27" src="https://cloud.githubusercontent.com/assets/1865885/11013405/16c79396-84d2-11e5-8114-857d8c83b0bb.png">

Taken from <a href="http://acsweb.ucsd.edu/~d

[2015-11-07 09:26] manipalsingh013 commented on #5729
I would like to solve this issue but I'm not able to understand about which pdf documentation are u trying to build.

[2015-11-07 23:38] rvraghav93 commented on #5726
Fix at #5754

[2015-11-08 03:38] ethanluoyc opened #5756 "extra inverse_transform key arguments for sklearn.pipeline"
Hi I am new to sklearn.

Is it possible to parse extra key argument to inverse_transform of the pipeline? This may need to work so that some components of the pipeline can use the extra kargs to inverse_transform properly

[2015-11-08 04:15] IshankGulati commented on #5662
I have fixed the issue. Please review it as per convenience.

[2015-11-08 07:25] usptact opened #5758 "KMeans clustering of data with provided cluster centers"
Hi,

I am given a set of cluster centers for the data and some large dataset to cluster. Is it possible to build the kmeans object with the provided cluster centers and then use it's predict() facilities for data clustering?

Thanks

[2015-11-08 08:53] racaljk commented on #5736
@mblondel  but it's a recursive problem

[2015-11-08 09:52] agramfort commented on #5758
you can pass the centers in the init parameter
and do one iteration only.

next time please don't use the bug tracker but the mailing list or stackoverflow for such questions

[2015-11-08 09:52] #5758 closed

[2015-11-08 10:49] prophile opened #5759 "Truncated output on `print <classifier>` is surprising"
Having trained a classifier (a pipeline involving a `CountVectorizer` and a `RandomForestClassifier`) with `GridSearchCV`, I had a `print clf.best_estimator_`. To my dismay, after running for two days it printed:

[code]

with a `...` in place of all the parameters I was trying to train. If there's not a compelling case for the truncation, IMO it's much less surprising to print everything.

[2015-11-08 13:32] DieterDePaepe opened #5760 "SVM documentation mentions unsupported parameter decision_function_shape"
Fragment from section 1.4.1.1 of the [SVM documentation](http://scikit-learn.org/stable/modules/svm.html#multi-class-classification):

[code]

Executing this code results in an error:

[code]

[2015-11-08 13:55] Sentient07 opened #5761 "Error 404, "Page not found" in contributing section"
When I tried navigating to "contributing" section from the homepage, I got the following error
"404
File not found.The site configured at this address does not contain the requested file. If this is your site, make sure that the filename case matches the URL. For root URLs (like http://example.com/) you must provide an index.html file."

[2015-11-08 14:40] Sentient07 commented on #5738
https://github.com/scikit-learn/scikit-learn/pull/5763

[2015-11-08 19:30] RobinVogel opened #5765 "Linear discriminant analysis yields numpy version error"
Hello,

I apologize in advance if this behavior is because of a mistake I made. I really don't understand this issue.

I'm on Anaconda 2.4.0 (Python 3.4.3) with scikit-learn 0.17 and numpy 1.10.1, I wanted to try the linear discriminant analysis and got this error. (I typed from sklearn.discriminant_analysis import LinearDiscriminantAnalysis )

![error_lda](https://cloud.githubusercontent.com/asse

[2015-11-08 22:55] amandeepgautam commented on #5298
I would like to take this up, if it is still available.

[2015-11-08 23:11] samzhang111 commented on #5298
For some reason the appveyor build on my PR failed, but Circle and Travis passed. The errors looked to be located outside my PR. If there's any additional work that needs to be done for a merge, feel free to help out.

[2015-11-09 01:05] hlin117 commented on #5761
It might be related to #5741.

[2015-11-09 01:37] bhargav commented on #5760
By looking around at the code, from version 0.18.0 the decision_function_shape will change from 'ovo' to 'ovr'. We will have to update the documentation accordingly.

[2015-11-09 03:12] hlin117 opened #5766 "Excess code in PCA plotting tutorial"
I'm concerned that there is excess code in the PCA plotting tutorial <a href="http://scikit-learn.org/stable/auto_examples/decomposition/plot_pca_iris.html">here</a>. It seems that the following lines of code don't do anything to the plot:

[code]

[2015-11-09 04:34] amueller opened #5767 "Exit in NMF / LDA topic extraction"
There is a call to ``exit`` in the topic extraction example. I didn't have time to blame but that seems odd.

[2015-11-09 04:43] amueller opened #5768 "bench_plot_nmf not python3 compatible"
more a note to self than an issue, there is an iteritem that should use six and I need sleep.

[2015-11-09 05:12] amueller opened #5769 "FunctionTransformer docstring is missing link to user guide"

[2015-11-09 05:20] amueller opened #5770 "formatting issues in cross-validation docs"
The "warning" after LOLO has some formatting issues:
http://scikit-learn.org/dev/modules/cross_validation.html#leave-one-label-out-lolo

[2015-11-09 15:18] KaffeLatte opened #5772 "Error thrown when using t-SNE with 'cosine' as metric"
Hi,

When I use 'cosine' as metric for sklearn.manifold.tsne I get the following error:
"ValueError: All distances should be positive, either the metric or precomputed distances given as X are not correct".

As the codomain of cosine distance is [-1,1] all output from pairwise comparison will not be positive.

For euclidean distance there is a hard coded solution for keeping distances positive by

[2015-11-09 15:21] giorgiop commented on #5772
Can you check if some of your inputs are constant vectors? I am fixing a very similar issue on `correlation` (https://github.com/scikit-learn/scikit-learn/issues/4475) on this PR https://github.com/scikit-learn/scikit-learn/pull/5333

[2015-11-09 15:35] KaffeLatte commented on #5772
What do you mean by constant vectors?

[2015-11-09 15:36] KaffeLatte commented on #5772
This is exactly what my input looks like:
array([[ 0.09167306,  0.09066585],
       [ 0.09133385,  0.09077385],
       [ 0.09176718,  0.09076084],
       [ 0.09245387,  0.09060492],
       [ 0.09150095,  0.09072065],
       [ 0.0967673 ,  0.08904389],
       [ 0.09183362,  0.09067974],
       [ 0.09125591,  0.09079867],
       [ 0.09250068,  0.0914137 ],
       [ 0.0909817 ,  0.09088597],
       [

[2015-11-09 16:22] amueller commented on #5761
no, it's not. It's just a left-over from restructuring the docs. We might want to fix that on the stable website.

[2015-11-09 16:24] #5741 closed

[2015-11-09 16:25] amueller commented on #5760
@DieterDePaepe This is the documentation for 0.17, which added this option as the documentation explains: http://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html#sklearn.svm.SVC
You probably have an older version, 0.17 was released last week.

[2015-11-09 16:25] #5760 closed

[2015-11-09 17:42] giorgiop commented on #5772
In your case, see for example the line `[ 0.09090909, 0.09090909]`, which is a constant row.
The issue is in `pairwise_distances` and not in T-SNE. If I load your example in an array X:
[code]

[2015-11-09 17:42] giorgiop commented on #5772
Thanks for reporting. This is likely to be fixed in #5333

[2015-11-09 19:06] amueller commented on #5759
You can use ``best_params_``
Not storing the results of a two-day computation doesn't seem like a good idea.

Constructor parameters can be arrays. I think that is the main reason for truncation. Also some algorithms have many parameters.

I don't have a strong opinion on truncation. We could easily just truncate arrays I think. But I'm not sure using the ``__repr__`` is a good way to inspect any

[2015-11-09 19:16] amueller commented on #5736
@mblondel I was thinking that it is pretty close to meta-learning

@racaljk not really... your dataset for training the meta learner must "just" be large enough ;)

I think it's a good idea. Would you include only the ones that are in ``LogisticRegression``, though?
The benchmark that possibly inspired this issue was comparing against vw, for which SGDClassifier is a closer match.

Sometimes we ma

[2015-11-09 20:33] musically-ut opened #5774 "BUG: clamping is implemented incorrectly in sklearn.semi_supervised.LabelSpreading"
The code [which does clamping in `sklearn.semi_supervised.LabelSpreading`](https://github.com/scikit-learn/scikit-learn/blob/e5f71e7f5e0ff789fed7bdea475223b8ff6a5576/sklearn/semi_supervised/label_propagation.py#L230) appears to be incorrect:

[code]

This does the following:
1. If `i`th sample is labeled, then: `y_new[i] = 1.0 * M * y_old[i] + (1 - alpha) * y_init[i]`
2. If `i`th sample is unlabel

[2015-11-09 23:37] datnamer opened #5775 "Tensorflow backend"
IIRC, [Tensorflow](http://tensorflow.org/) is supposed to be a general ML library, not just for deep learning.

Any opportunity here for scikitlearn integration?

It has cool stuff like symbolic graph optimization and differentiation, multithreading and soon distributed computation and more.

[2015-11-10 00:15] kastnerkyle commented on #5775
sklearn-theano exists for Theano integration with the scikit-learn
interface - I think someone could certainly do the same for TensorFlow. But
it almost certainly will not be integrated into scikit-learn in any
official capacity beyond a "friend repo".

On Mon, Nov 9, 2015 at 6:37 PM, datnamer <notifications@github.com> wrote:

[2015-11-10 00:33] elanmart opened #5776 "Add float32 support for SGDClassifier and SGDRegressor"
Hi,

I was wondreing why `sklearn` does not allow me to specify the `dtype` I'd like to use.

I'm working with rather large dataset, which fits into my RAM as float32, but when I'm trying to train a simple SGD on it, the model tries to copy my data into float64, causing MemoryError.

I can change this in my local sklearn build, but I guess there is a good reason why this is not a free parameter?

[2015-11-10 02:10] #5775 closed

[2015-11-10 02:10] datnamer commented on #5775
Makes sense.

[2015-11-10 02:59] lampts opened #5777 "sk 0.17: failure of loading trained gradient boosting trees from joblib"
I have trained Gradient Boosting Classifier and dumped to pkl file using joblib. However, It's not able to be loaded in joblib of sk 0.17. Loading is fine in sk 0.16.1

Detail logs:

[code]

[2015-11-10 07:11] mblondel commented on #5777
This a known issue. You need to load the pickled model with the same version as you used to create it. Closing since we don't have immediate plans to fix this.

[2015-11-10 07:11] #5777 closed

[2015-11-10 07:26] mblondel opened #5778 "Discretizer"
`Binarizer` transforms continuous values to two states (0 or 1). It would be nice to generalize this to an arbitrary number of states K.

This preprocessor would produce a scipy sparse matrix of shape (n_samples, K \* n_features) using the one-of-K encoding. The K thresholds could be chosen uniformly between the min and max of each feature or using the K-quantiles.

For example, using uniformly ch

[2015-11-10 07:56] jnothman commented on #5778
See also #4468, #4901 which offer an information-theoretic discretisation. Tree-based discretisation is also suggested there.

It's not clear why you want a one-hot matrix initially rather than ordinal features. "Unary" is another possible encoding.

[2015-11-10 08:33] mblondel commented on #5778
I think the one-hot encoding makes sense for cross-product features. Ordinal features would be useful to remove noise but not for cross-product features.

[2015-11-10 08:55] jnothman commented on #5778
Yes but we provide tools to transform ordinal into one-hot

On 10 November 2015 at 19:33, Mathieu Blondel <notifications@github.com>
wrote:

[2015-11-10 09:15] mblondel commented on #5778
Good point. I think I could live with a tool that produces ordinal features then :)

[2015-11-10 10:08] rvraghav93 commented on #5778
Implementation at #4801

[2015-11-10 10:18] rvraghav93 commented on #4225
An attempted fix at #4354 (waiting for sparse y to be supported in trees to continue).

[2015-11-10 10:50] rvraghav93 commented on #5212
I'll be working (directly or helping complete an existing PR) on the last 3 TODOs + 1 more in the following order...

- [ ] Support categorical variables - at PR #4899
- [ ] Support missing values - Once #4899 is done, I'll start an issue for discussing the implementation, as advised by @agramfort
- [ ] Adding sparse y support to trees to extend the same to GridSearch too
  - - [ ] and help @betat

[2015-11-10 12:29] mblondel commented on #5778
#4801 is not an implementation of what I proposed. Maybe we could have a `strategy` option (uniform, quantile, mdlp) in a `Discretizer` class.

[2015-11-10 12:32] jnothman commented on #5778
MDLP is optionally supervised, iirc.

On 10 November 2015 at 23:29, Mathieu Blondel <notifications@github.com>
wrote:

[2015-11-10 13:39] musically-ut commented on #5774
I just noticed that the definition of `self.alpha` in the documentation does not align with the implementation either. For labelled inputs, `clamp_weights[i]` for should be `1 - self.alpha` and the `y_static[i]` should be `self.alpha * y_init[i]`, not `self.alpha` and `(1 - self.alpha) * y_init[i]`, respectively.

For example. if we set `alpha = 1.0`, which means that the labels for the labelled d

[2015-11-10 16:49] pkch opened #5781 "random_state impossible to set for the entire run?"
For testing/replicability, it is often important to have the entire execution controlled by a seed for the pseudo-random number generator. In pure python, it can be done with `random.seed(s)`. In numpy with `numpy.random.seed(s)`. It seems that sklearn requires this to be done in every place separately; it's rather troublesome, and especially so since it's not immediately obvious where it's needed

[2015-11-10 18:04] hlin117 commented on #5778
@jnothman : Yes, MDLP is supervised, based upon class labels.

I'll be willing to work on #4801 if there is more interest in it. I've gotten more familiar with the scikit-learn source code since I started the PR, and I'm willing to polish the code up.

[2015-11-10 18:10] hlin117 commented on #5778
I also opened up #5003 a long while ago.

[2015-11-10 19:35] MechCoder opened #5782 "check_classification targets should print out y_type not y for wrong y_type"
from sklearn.utils.multiclass import check_classification_targets
    y = np.array([0.0, 1.1, 2.0, 3.0])
    check_classification_targets(y)
    ValueError: Unknown label type: array([ 0. ,  1.1,  2. ,  3. ])

[2015-11-10 22:36] vruusmann commented on #1596
I would like to inform all participants about my [sklearn2pmml] (https://github.com/jpmml/sklearn2pmml) project, which also tackles the export of Scikit-Learn ML workflows to Predictive Model Markup Language (PMML) documents.

The conversion logic is actually provided by the [JPMML-SkLearn] (https://github.com/jpmml/jpmml-sklearn) library. Python objects are transported from Python platform to Jav

[2015-11-10 23:41] mblondel commented on #5003
Closing in favor of #5778 since it's more detailed.

[2015-11-10 23:41] #5003 closed

[2015-11-11 01:19] jnothman commented on #5778
Thanks @hlin117. It seems the jury is still out on the advantages of MDLP over simpler methods, or methods reusing existing scikit-learn estimators like trees. As @amueller said there, it needs a motivating example to show that it is useful.

[2015-11-11 01:47] hlin117 commented on #5778
That's fine, I understand, @jnothman.

It seems that the @mblondel's discretization description is very similar to a function in R called <a href="https://stat.ethz.ch/R-manual/R-devel/library/base/html/cut.html">cut</a>. (cut is a function in R's standard library.)

[code]

The difference is that the user has to designate where the breaks are placed. If the user passes in an integer `k` for `brea

[2015-11-11 01:56] hlin117 commented on #5766
Is there any favor of me opening up a PR to remove this code?

[2015-11-11 04:09] jmschrei commented on #5212
Great! I have been slacking recently, glad that someone else is contributing.

One thing to keep in mind is that eventually Criterion have to become more functionality oriented (stateless) so that they can allow for multithreaded individual tree building. Keep this in mind if you add more stored memory to that class.

[2015-11-11 07:16] betatim opened #5786 "isinstance(x, (numbers.Integral, np.integer)) vs isinstance(x, six.integer_types)"
During #5678 it came up that one should prefer `isinstance(x, six.integer_types)` to detect that a variable contains an integral number over `isinstance(x, (numbers.Integral, np.integer))`. There are a few occurrences of the latter spread around the code base according to a quick grep. Switching those would make a nice first contribution.

[2015-11-11 09:00] agramfort commented on #5766
indeed x_surf is not used. PR welcome

[2015-11-11 12:45] aakashjain opened #5787 "Usage of model_selection module in text_analytics tutorial solutions"
doc/tutorial/text_analytics/solutions/exercise_01_language_train_model.py line 18:
[code]
causes:
[code]
since train_test_split is now in sklearn.cross_validation

Edit: Also occurs in
doc/tutorial/text_analytics/solutions/exercist_02_sentiment.py line 18, line 20:
[code]

[2015-11-11 13:27] #5787 closed

[2015-11-11 13:28] aakashjain commented on #5787
Nevermind, just realized I was using an old build on this computer. How embarrassing :)

[2015-11-11 13:46] aakashjain commented on #5786
I'd like to do this.

[2015-11-11 14:03] glouppe commented on #5672
Fixed as part of #5678

[2015-11-11 14:03] #5672 closed

[2015-11-11 14:10] glouppe opened #5789 "Expose base_estimator interface in isolation forest"
As a followup of #5678, it is clear that it is very important to have a fine control over the tree structure of the base estimators in the forest. For now, the only way to tune this is through `max_samples`, which both acts on the effective number of training samples and on the `max_depth` value of the trees. I believe we should decouple this and make it possible to adjust `max_samples` without ne

[2015-11-11 14:34] aakashjain commented on #5786
Did this, and 1 test failed.
[code]
This occurred due to changing the following function in feature_extraction/hashing.py, which already had a relevant comment:
[code]

I found that, for the numpy int types, `isinstance(x, six.integer_types) == True` only for `numpy.int, numpy.int0, numpy.int64, numpy.intp`. All other `numpy.int*` and all `numpy.uint*` types give `False`.

So maybe this isn't such

[2015-11-11 15:58] hlin117 commented on #5766
I'm new to modifying documentation for scikit-learn. I've done a `git ls-files | iris` to try finding where `plot_pca_iris.html` is, but I haven't found it. Where is the location of the file that I need to modify?

[2015-11-11 16:59] abhishekkrthakur opened #5790 "RandomizedLasso doesn't accept sparse matrix"
The documentation or randomized lasso states that fit function accepts sparse matrices, but it doesnt.

"""
  File "/usr/local/lib/python2.7/dist-packages/sklearn/linear_model/randomized_l1.py", line 100, in fit
    estimator_func, params = self._make_estimator_and_params(X, y)
  File "/usr/local/lib/python2.7/dist-packages/sklearn/linear_model/randomized_l1.py", line 337, in _make_estimator_and_p

[2015-11-11 17:17] betatim commented on #5786
ping @agramfort, any thoughts about this?

[2015-11-11 17:40] agramfort commented on #5786
just revert this one.

[2015-11-11 18:08] aakashjain commented on #5786
@agramfort, to clarify, you mean to leave the occurrence in hashing.py and change all other occurrences to `six.integer_types`?
If so, should there be some sort of guideline for the future to specify when `(numbers.Integral, np.integer)` should be used instead?

[2015-11-11 21:11] MartinDelzant opened #5792 "lbfgs solver running on all CPU's (with LogRegCV)"
Hello,

I was testing LogisticRegressionCV on a dataset, and wanted the cross validation to run on a single core.
But It actually ran on all my cores ...
Here is the model I launched the "fit" method on :
[code]

If it's of any help, I'm on Ubuntu 14.04, with latest release of scikit-learn (0.17).

Do not hesitate to ask me some more details on my issue, if needed.

Thanks,

Btw : I don't think th

[2015-11-11 21:19] alvarouc opened #5793 "Voting classifier, why do you need the name of each classifier?"
In line 124 of the voting classifier code, you ignore the name. Then why should it be needed?

[2015-11-11 21:25] glouppe commented on #5793
The reason was to have an API similar to the API of Pipeline and FeatureUnion.

[2015-11-11 21:26] glouppe commented on #5793
Therefore it is possible to grid-search the parameter of the provided estimator using the `name__param` syntax.

[2015-11-11 22:34] max-moroz commented on #5717
Confirmed that the bug is still present in version 0.17.

[2015-11-12 04:07] joshuacook commented on #5729
@manipalsingh013 Are you still working on this? I believe I can pick it up.

[2015-11-12 05:01] shreyo opened #5795 "cannot import name array2d"
I cannot find array2d in the utils in the current version of scikit

[2015-11-12 06:12] aakashjain commented on #5786
I don't think this should be done at all unless we don't need to support numpy ints:
Please have a look at these ipython notebooks:
[Python2](https://gist.github.com/aakashjain/579a20cae165f2ec7be6)
[Python3](https://gist.github.com/aakashjain/3bc4563119e2653ff7d5)
This shows that `six.integer_types` doesn't work for numpy ints.
Also, instead of `(numbers.Integral, np.integer)`, simply `numbers.In

[2015-11-12 06:23] GaelVaroquaux commented on #5717
I think that the proposed change is indeed correct and more memory
efficient. A pull request would be welcomed.

[2015-11-12 06:45] GaelVaroquaux commented on #5795
Indeed, array2d no longer exists. You can use check_array with the option
"ensure_2d".

[2015-11-12 06:45] #5795 closed

[2015-11-12 06:52] betatim commented on #5786
I agree that some recommendation/guidance would be good. When I created the issue I had assumed that `six.integer_types` was the recommendation, maybe that isn't true after all.

[2015-11-12 08:28] agramfort commented on #5792
you're likely to use a multithreaded linear algebra library.

if you use mkl do:

[code]

[2015-11-12 10:40] Korijn opened #5797 "Clarify n_jobs for gridsearch in docs"
`GridSearchCV`'s parameter `n_jobs` appears to indicate the amount of jobs that the work should be split up into, but it's actually the amount of jobs that can run in parallel. Looking at the docs for joblib's `Parallel` class, the explanation is much clearer than the one in sklearn's docs:

Can that be clarified in the docs?

[2015-11-12 10:43] GaelVaroquaux commented on #5797
I think that you should send us a pull request with the proposed change.

[2015-11-12 10:55] Korijn commented on #5797
OK, I will!

[2015-11-12 11:55] #5717 closed

[2015-11-12 11:59] agramfort commented on #5790
PR welcome to update the doc.

[2015-11-12 12:03] MartinDelzant commented on #5792
I'm not using such a library, but I'll have a look on mkl in the future. Thanks

I think I found where the error comes from :
the scipy.optimize.fmin_l_bfgs function is using all cores.

Maybe it should be mentioned somewhere in the docs ?

[2015-11-12 12:12] agramfort commented on #5792
how does it do this?

at the fortran level?

[2015-11-12 12:16] agramfort commented on #5766
examples/decomposition/plot_pca_iris.py

[2015-11-12 12:28] MartinDelzant commented on #5792
No clue. I just ran scikit's command :
[code]
And got all my cores running 100%.
![image](https://cloud.githubusercontent.com/assets/6804915/11118314/42a50598-8941-11e5-9870-3746c94ac90a.png)

[2015-11-12 14:37] GaelVaroquaux commented on #5792
This function comes from scipy, and not us.

Like @agramfort, I suspect that it is your linear algebra pack that is
using all the cores, and nothing to do with scikit-learn.

[2015-11-12 14:49] MartinDelzant commented on #5792
Thanks for your answers.

I'll check my linear algebra lib but I don't remember installing something special ...
Thanks,

[2015-11-12 14:49] #5792 closed

[2015-11-12 15:01] giorgiop opened #5799 "BUG: linear model inputs are not normalized when fit_intercept=False"
From #5357 as a separated issue. The problem in the code is [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/base.py#L130): `normalize` is not used in the branch of `fit_intercept=False`.

Proposed strategy, rielaborated from a discussion with @agramfort:
- write test that would fail
- add a boolean option to the helper for centering data, such that it can be us

[2015-11-12 15:32] agramfort commented on #5799
sounds like a plan

[2015-11-12 16:15] hlin117 commented on #5766
Thanks. I was grepping for `plot_pca_iris.html`, not `plot_pca_iris.py`.

[2015-11-12 16:18] hlin117 commented on #5766
Thanks. I was looking looking through the doc folder. I should have `git
ls-files | grep plot_pca_iris` in the root folder.

On Thu, Nov 12, 2015 at 6:16 AM, Alexandre Gramfort <
notifications@github.com> wrote:

--

*Henry Lin, Research AssistantM.S. Computer ScienceUniversity of Illinois
at Urbana-Champaign 2016847-769-8729 | halin2@illinois.edu
<halin2@illinois.edu>*

[2015-11-12 18:04] amueller commented on #5776
PR welcome ;)
It would be great to have both 32 and 64 bit everywhere, I think.
This means using fused types everywhere in Cython.

One of the reasons not to do that was the explosion in the generated C code, but I think with #5492 we need to be somewhat less careful about that.

[2015-11-12 18:28] #5766 closed

[2015-11-12 18:38] #5793 closed

[2015-11-12 18:40] varun-kr commented on #5789
I will do a PR . Should I raise a warning message if max_height > ceiling(log2 max_samples) ?

[2015-11-12 18:41] glouppe commented on #5789
No, I dont think it is necessary.

[2015-11-12 18:43] alvarouc opened #5803 "Error when using VotingClassifier on data with more than 2 classes"
the error comes from the np.bincount, the prediction array is float but according to numpy's manual on bin count. http://docs.scipy.org/doc/numpy/reference/generated/numpy.bincount.html

I fixed this by manually downcasting the prediciton array as in the following pull-request
https://github.com/scikit-learn/scikit-learn/pull/5802

[2015-11-12 18:51] jachymb opened #5804 "Unify errors for 1 class dataset"
If I train a classifier on a dataset with y_train[i] = 1 for each i, I get different Exceptions for different classifiers.

For example:
AdaBoost raises ZeroDivisionError
RandomForest does not raise an exception
SVC raises ValueError.

I'd be better if the error would be the same, so they don't have to be caught separately, if one is trying different classifiers for a given task.

Alternatively, t

[2015-11-12 19:14] varun-kr commented on #5789
Is it correct description ?

max_depth : int or float, optional (default="auto")
        The max_depth of the tree.
            - If int, then maximum height is `max_depth`.
            - If float, then maximum height is  `max_depth * X.shape[0]`.
            - If "auto", then `max_depth = ceiling(log2 max_samples).

[2015-11-12 19:51] glouppe commented on #5789
The description should be identical to http://www.jmlr.org/papers/volume7/meinshausen06a/meinshausen06a.pdf + the `"auto"` parameter

[2015-11-12 20:25] hlin117 commented on #5778
Is a PR welcome for this? We can discuss how we could like the class to be structured in the PR.

[2015-11-12 22:52] joshuacook commented on #5729
@amueller @manipalsingh013  I did significant investigation into this issue. This is what I found. First, there was a link to a dead website associated with one of the project's contributors. This is an easy enough fix. I found a current website for that contributor and swapped it out. The rest of these warnings, however, 233 of them, are caused by a single validation check that is part of the lat

[2015-11-12 23:06] felipegerard opened #5807 "Wrong predictions on SVC with radial kernel"
When training an svm with SVC to predict the MNIST dataset  (with 'ovr' method), I get the "right" (ie. expected) predictions for the _indices_ of the test set which are also on the training set. For instance, suppose I train with 300:600 of the training set. Then _only_ the predictions of the 300 to 600th rows of test are as expected. All the others are constant (even the decision_function result

[2015-11-12 23:07] felipegerard commented on #5807
I am quite convinced it is a bug because I am using numpy arrays (which don't have indices aside from the usual integers) instead of pandas DataFrames.

[2015-11-12 23:53] ktrnka opened #5808 "GradientBoostingClassifier 40-50% slower in 0.17 vs 0.16.1"
I've run several tests with 0.17 and found that GradientBoostingClassifier takes 40-50% longer to run.

50k x 61 dataset:

* 0.16.1: 7.6 min
* 0.17: 11.0 min, 11.6 min

200k x 61 dataset:

* 0.16.1: 43.9 min
* 0.17: 62.3 min

I tried adding feature scaling but that doesn't help. I tried disabling presort but it runs slower (good sign at least).

Another strange part is that my accuracy improved sl

[2015-11-13 03:13] genliu777 opened #5810 ""grid_resolution" setting of function "partial_dependence""
when i run the project on the webpage: http://scikit-learn.org/stable/auto_examples/ensemble/plot_partial_dependence.html#example-ensemble-plot-partial-dependence-py

i try to change the value of 'grid_resolution', which is the parameter of function 'partial_dependence()',

i find and can not understand the following situation:

the original value of grid_resolution is 50, when changed to values l

[2015-11-13 04:02] #5807 closed

[2015-11-13 04:02] felipegerard commented on #5807
I had to use a smaller gamma ^^

[2015-11-13 06:04] trevorstephens commented on #5810
Please provide an example? There are two calls using grid_resolution, do both fail? What line fails? What value of `grid_resolution` causes a failure?

I'm currently working on enhancing the function in #5653 and could potentially push a fix into that PR if I can trace what the problem is.

[2015-11-13 14:05] aaronbarzilai opened #5811 "Grid/RandomizedSearchCV output verbose messages to Jupyter Notebook"
Scikit-learn with Jupyter notebooks is a great workflow. Scikit-learn with parallel jobs is also wonderful.  Verbose messages provide valuable status messages when running through the Search.

Unfortunately, the messages that appear when RandomizedSearchCV or GridSearchCV run in Jupyter notebooks with n_jobs = 1 do not appear in the notebook in the same way when n_jobs specifies running jobs in pa

[2015-11-13 14:13] GaelVaroquaux commented on #5811
I suspect that this is a limitation of the Jupyter Notebook: the messages
are output by subprocesses of main process, and capturing their output is
harder.

[2015-11-13 14:22] Aunsiels opened #5812 "Problem in sklearn.mixture.VBGMM (dpgmm.py) with alpha"
Hi,

I found a problem while using VGGMM. Here is the code that does not work :

            clf = mixture.VBGMM(n_components=2)
            clf.fit(X_train, y_train)
            # create a k-fold cross validation iterator of k=5 folds
            cv = KFold(X_train.shape[0], 5, shuffle=True, random_state=33)
            #scores = cross_val_score(clf, X_train, y_train, cv=cv, scoring='accuracy')

[2015-11-13 17:10] FRidh opened #5813 "Segmentation fault with OpenBLAS 0.2.15"
On Nix we recently updated to OpenBLAS 0.2.15. Since then a segmentation fault occurs when building scikit-learn. The issue occurs with both 0.17b1 and 0.17.0. The [log](http://hydra.nixos.org/build/27432158/nixlog/1/raw) for 0.17b1 shows more details.

https://github.com/NixOS/nixpkgs/issues/10983

If I am correct, you're testing with Travis using conda, which uses 0.2.14.

[2015-11-13 20:03] gg42554 opened #5814 "Multinomial Bayes issue"
Given the digits dataset (available in sklearn.datasets), we split it into train and test set.
We fit a MultinomialNB classifier on the train set, and generate predictions on that same train
set. When this is done without smoothing, the classification performance is rather low.
This is contrary to expectations, as the classifier has already seen all possible feature values.
So not including smooth

[2015-11-14 04:40] staranjeet opened #5816 "Is pep8 compatibility necessary for this project?"
When I ran a pep8 test over the project, I found out over 3k warnings. I was thinking of submitting a PR for this, but I thought that I should first gather opinion from all.
Let me know if pep8 compatibility is required. I am willing to work on this and submit a PR.

[2015-11-14 06:38] aakashjain commented on #5786
Any suggestions?

[2015-11-14 08:06] agramfort commented on #5816
don't. The diff will be terrible. We fix pep8 errors in each PR when they touch a file.

[2015-11-14 08:06] #5816 closed

[2015-11-14 08:08] agramfort commented on #5814
please send a PR so the diff is readable

[2015-11-14 10:31] betatim commented on #5786
From a brief discussion with @glouppe I think the answer is "it depends". If the thing you are checking the type of is a hyper-parameter `six.integer_types` is probably the right thing, however if it is related to numpy arrays using `np.integer` and/or `numbers.Integral` is better. For the moment I'd just be patient until we get some feedback.

[2015-11-14 13:58] gg42554 commented on #5814
Might be a silly question but where do i send it :)? The scikit-learn-issues mailing list?
Thanks.

[2015-11-14 16:52] agramfort commented on #5814
I mean open a pull request (PR) on github.

[2015-11-14 17:31] amueller commented on #5816
We (I?) would prefer everything to be pep8, but it is not worth creating a giant amounts of conflicts with the existing pull requests.

[2015-11-14 17:34] GaelVaroquaux commented on #5816
Define pep8 compatibility. I am for compatibility with regards to the
pep8 document, on python.org. But I am not for application of automatic
linters. Indeed, depending on the linter used, or the version of the
tool, interpretations may vary.

[2015-11-14 17:35] staranjeet commented on #5816
yeah i was thinking of working file by file. since the project is huge, touching more than one file will create a mess, but it will be easy if this is dealt per file basis.

[2015-11-14 17:36] amueller commented on #5816
@staranjeet it would still result in conflicts with existing PRs.
@GaelVaroquaux it depends ;)

[2015-11-14 17:36] GaelVaroquaux commented on #5816
I would rather not have PR just to fix pep8. I would rather impose pep8
on modifications.

[2015-11-14 17:38] staranjeet commented on #5816
what about those files which are not touched or wont be touched in near time?

[2015-11-14 17:39] GaelVaroquaux commented on #5816
There is no such thing, I believe.

[2015-11-14 17:40] amueller commented on #5813
Have you checked this: http://scikit-learn.org/dev/faq.html#why-do-i-sometime-get-a-crash-freeze-with-n-jobs-1-under-osx-or-linux ? It should be fixed in this OpenBLAS version you are using but maybe there was a change again?

[2015-11-14 17:42] amueller commented on #5811
We could probably work around that. The question is how hard that would be and whether it would be worth it (in sklearn  master -- or how we can provide a way to do it)

[2015-11-14 17:43] amueller commented on #5812
Which version of scikit-learn are you using?
I think this should be fixed in master.
It seems odd that you get an error, though. How did you install?

[2015-11-14 17:44] GaelVaroquaux commented on #5811
It's not obvious to me. Do you have something specific in mind?

[2015-11-14 17:45] amueller commented on #5811
a trivial ugly fix would be to write it to append output to a file and print that inside jupyter.

[2015-11-14 17:46] GaelVaroquaux commented on #5811
Wow...

[2015-11-14 17:47] amueller commented on #5811
I'm not suggesting doing that ;)

[2015-11-14 17:54] aaronbarzilai commented on #5811
Anything that could be provided would be helpful. Even if it's just status
on jobs dispatched( eg 100 of 300 so 33%). Time remaining even better, and
if possible to return the error of the sub processes/reroute the while
subprocess output even better.

I definitely miss the feedback when I switch from one process to parallel
processing.

Thanks
Aaron

On Saturday, November 14, 2015, Andreas Muelle

[2015-11-14 17:55] amueller commented on #5808
ping @jmschrei @glouppe @arjoly

[2015-11-14 17:57] amueller commented on #5808
Thanks for reporting, we should definitely investigate.

[2015-11-14 17:59] amueller commented on #5804
Hm that is odd. That should be caught here:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/estimator_checks.py#L910

Which version are you using?

[2015-11-14 18:00] amueller commented on #5767
Closed via #5806

[2015-11-14 18:00] #5767 closed

[2015-11-14 18:09] amueller commented on #5729
@joshuacook thanks for investigating. Can you create a PR for the simple fix?
Why do these checks fail? What is the cause? I had the feeling that direct html links are used when rest references should be used.

[2015-11-14 18:18] amueller commented on #5765
there is likely a mismatch between your numpy, scipy and scikit-learn.
Did you use pip at any point? Maybe try reinstalling all three using conda.

[2015-11-14 18:21] amueller commented on #5756
We really try to avoid keyword args for methods whenever possible.
If you want to specify a "per sample" property, then this is on the roadmap: #4497
If it is something like an option of the estimator, the solution is probably to set an attribute in the estimator.

[2015-11-14 18:22] amueller commented on #5751
``X_hat = pca.inverse_transform(pca.transform(X))``, right?

A PR to add details to the doc is more than welcome.

[2015-11-14 18:44] amueller commented on #5811
actually, I do get the output in the notebook. But only after all jobs finished.

[2015-11-14 18:47] aaronbarzilai commented on #5811
Right. Why is that given the serial runs output in the middle of the
execution. Can the process scheduling them give some sort of status along
the way?  Or somehow read the sub process output and send that to the
notebook?

Thanks,
Aaron

On Saturday, November 14, 2015, Andreas Mueller <notifications@github.com>
wrote:

[2015-11-14 18:56] #5782 closed

[2015-11-14 19:42] agramfort commented on #5786
I agree with @glouppe . I think six.integer_types or np.integer should do the trick depending on context.

[2015-11-14 19:54] jmschrei commented on #5808
There were a great number of changes to trees in the last patch. However, all of the benchmarks seemed like they were beneficial.

An immediate suspect is the MSE criterion, as MSE is used in gradient boosting, but not in random forests. This would explain the accuracy issue as well, since a more numerically stable version of the MSE criterion is used in 0.17.

[2015-11-14 20:50] #5726 closed

[2015-11-15 00:40] rohanp opened #5818 "Add the Diffusion Map Dimensionality Reduction Technique"
The diffusion map is a dimensionality reduction technique that uses a transitional probability as its "distance" measure. It is noise-resistant and non-linear. Moreover, the algorithm itself is fast and scalable (I've used it with 50k+ samples). I wrote a quick implementation [here](https://gist.github.com/rohanp/2b950640c94c8e293c40).

It has been of interest in numerous scientific fields:
[Diffu

[2015-11-15 06:58] hlin117 commented on #5488
I'm having the same bug as well.

[2015-11-15 07:23] hlin117 commented on #5488
I think the bug is occurring on <a href="https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/manifold/mds.py#L404">line 404</a> of mds.py. I ran nosetests with the pdb debugger option on, and found something really strange.

Line 404 computes a `euclidian_distance(X)`. The first few lines look like this:

![screenshot 2015-11-15 01 12 28](https://cloud.githubusercontent.com/assets/186

[2015-11-15 07:49] agramfort commented on #5818
I would say why not, but the doc should try to explain in what case one
should use diffusion map or something else.

[2015-11-15 08:34] olologin opened #5820 "What's the point in this line and this function?"
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/bagging.py#L344

I understand that it slices list of tasks into batches, but why do we need it if joblib provides ability to automatically adjust batch size (from list of tasks), and it automatically groups your tasks into batches for each process. Even if you don't want to waste time onto automatic adjustion process - you c

[2015-11-15 10:06] GaelVaroquaux commented on #5820
Joblib didn't have the automatic batching back when this code was
written. It may not be necessary anymore these days. However, before
removing it, we would need careful benchmarking.

[2015-11-15 10:13] olologin commented on #5820
Yes, i sources now and this function is used only from two files, bagging.py and forest.py, in last case it's used only for computing minimal number of threads:
```n_jobs, _, _ = _partition_estimators(self.n_estimators, self.n_jobs)```

Not a big deal, as it turned out.

[2015-11-15 10:14] GaelVaroquaux commented on #5818
Diffusion maps are very related to spectral embedding. To the point where
I have never had my head clear on what the difference was. @satra has
been over the time stressing that there is a difference, and I must
confess that I have failed following him (my bad).

Relevant discussions and PRs:
https://github.com/scikit-learn/scikit-learn/pull/734
https://github.com/scikit-learn/scikit-learn/pull/27

[2015-11-15 10:44] GaelVaroquaux commented on #5811
Related to https://github.com/joblib/joblib/issues/266

The joblib team concluded that it was a jupyter bug: jupyter is not
implementing properly the semantics of stderr, which is that messages
should be immediately displayed, with no delay. Not saying that it is
easy, though.

The corresponding jupyter issue is the following:
https://github.com/jupyter/notebook/issues/700

[2015-11-15 12:37] olologin commented on #5820
[code]

Results of current master, 100 trees
[code]

Automatically adjusted batch sizes from this branch https://github.com/olologin/scikit-learn/blob/bagging_refactoring/sklearn/ensemble/bagging.py
[code]

[2015-11-15 13:05] chenjun0210 opened #5821 "AttributeError: 'module' object has no attribute '_view_is_safe'"

[2015-11-15 13:07] gg42554 commented on #5814
Since it's my first time submitting an error report I'm completely lost :(

It says [here] (https://help.github.com/articles/using-pull-requests/) that PR-s are used to tell others about changes I pushed to a repository. I didn't push anything O_o, nor do I want to. The demo script I submitted (via pastebin link) doesn't fix the issue, or change  anything in sklearn code. It's just there to reprod

[2015-11-15 14:07] GaelVaroquaux commented on #5821
Could you put a full traceback and give us steps to reproduce, as well as which version of scikit-learn you are using and how you installed it.

[2015-11-15 18:17] hlin117 commented on #5488
I can't replicate this bug if I do `python setup.py install && make`. On the other hand, only running `make` caused the errors previously.

[2015-11-15 19:31] amueller commented on #5811
@ellisonbg said we should check if we are flushing the buffer, and otherwise ping @minrk

[2015-11-15 21:11] max-moroz opened #5822 "cross_val_score needs random_state?"
Currently, there's no way to specify `random_state` for `cross_val_score`; wouldn't that be something useful (it seems pretty simple to pass it on to the `check_cv`, and then to `KFold` or `StratifiedKFold`)?

Also the documentation for cross_val_score has a typo:

should be "if the estimator is not a classifier".

[2015-11-15 22:45] rvraghav93 commented on #5822
Why do you need to? If the cv class needs that `random_state`, you build the `cv` object with the `random_state` set and pass this to `cross_val_score`.... or if the estimator needs the `random_state` you build the `estimator` object with the `random_state` set and pass it...

Wops! My bad... Thanks for reporting! :)

[2015-11-15 23:24] hlin117 commented on #5781
Most algorithms that have a randomized component allow a `random_state` parameter to be passed in. Have you considered

[code]

and having `state` be passed into your functions?

[2015-11-16 01:08] genliu777 commented on #5810
hi, thanks first!
about the example i should provide is on the webpage:http://scikit-learn.org/stable/auto_examples/ensemble/plot_partial_dependence.html#example-ensemble-plot-partial-dependence-py.

the following is the codes with problem in my pycharm:
    target_feature = (1, 5)
    pdp, (x_axis, y_axis) = partial_dependence(clf, target_feature,
                                               X

[2015-11-16 03:01] mblondel commented on #5778
@hlin117 That would be nice, thanks!

[2015-11-16 03:42] hlin117 commented on #5778
Thanks for the support, @mblondel. I'll work on this PR.

[2015-11-16 03:46] mblondel commented on #2904
Can this be closed now?

[2015-11-16 03:54] mblondel opened #5824 "Meta-estimators for multi-output learning"
I think it would be useful to have meta-estimators for turning a classifier or a regressor into a multi-output classifier or regressor. It's a recurrent pattern and I find myself reimplementing it every once in a while.

This is of course useful for estimators that don't have native multi-output support but even for those that have like RF, I find that estimating a model independently for each out

[2015-11-16 04:09] mblondel commented on #5778
I would start simple (only uniform binning) and add more strategies in other PRs.

[2015-11-16 05:56] GaelVaroquaux commented on #5824
+1

[2015-11-16 06:54] hlin117 commented on #5778
Please check the PR in #5825. Thanks!

[2015-11-16 07:23] GaelVaroquaux commented on #5781
No it doesn't. You can still set the global random states, as
scikit-learn uses them by default. However, as with any globals, you are
not robust to any form of side effects.

Should I close this issue, or transform it to a documentation problem?

[2015-11-16 07:54] arjoly commented on #5824
Agreed, expect that I would use a class name related to their multi-output strategies.

[2015-11-16 08:30] mblondel commented on #5824
Do you have name suggestions?

[2015-11-16 10:06] enoonIT commented on #5651
Thanks for the clarification and sorry if I couldn't answer sooner.
I think my confusion was due to the documentation regarding the copy parameter and fit method:
Copy parameter:

And fit()

It doesn't say explicitly that the copy parameter will also influence the fit() function, which I personally would't expect to make copies of the data.
Maybe this could be better explained in the docs?

[2015-11-16 10:08] max-moroz commented on #5822
Ah I meant if the `cv = 10` behaves differently depending on `random_state`; on second thought I'm not sure it does - but even if it does, I guess I could pass a `cv` object instead as you suggest.

[2015-11-16 10:08] #5822 closed

[2015-11-16 10:23] max-moroz commented on #5781
Oh that's very useful to know! I think it would be really useful to add to the documentation - along with the clarification about whether scikit-learn uses `random.seed()` or `np.random.seed()` by default (or both) - and also a brief mention of side effects (presumably thread safety, and not sure what else).

[2015-11-16 10:41] rvraghav93 commented on #2904
Yes!

[2015-11-16 10:45] GaelVaroquaux commented on #2904
Hurray!

[2015-11-16 10:45] #2904 closed

[2015-11-16 11:22] rvraghav93 commented on #5824
For this we need to have `multioutput.py` similar to `multiclass.py` correct?

[2015-11-16 11:30] GaelVaroquaux commented on #5820
This looks promising. Ping @glouppe @arjoly

[2015-11-16 11:47] arjoly commented on #5824
I would use something like `IndependantOutputClassifier` (this is known as binary relevance with multi-label data) and `IndependantOutputRegressor`.

[2015-11-16 11:52] mblondel commented on #5824
Yes, this is what I would do

I guess this depends whether we want to add more elaborate strategies in the future.

[2015-11-16 12:37] glouppe commented on #5722
I dont really understand what you are saying.

One important thing, you should not mistake `ensemble.ExtraTreesRegressor` (with an `s`, this is the ensemble class) from `tree.ExtraTreeRegressor` (without `s`, this is for a single tree).

[2015-11-16 12:37] #5722 closed

[2015-11-16 14:27] olologin commented on #5820
I should say that in current forest.py from master all code which works with joblib is written in the same manner.
I.e:

        n_jobs, _, _ = _partition_estimators(self.n_estimators, self.n_jobs)
        ... = Parallel(n_jobs=n_jobs, verbose=self.verbose,
                             backend="threading")(

[2015-11-16 14:32] glouppe commented on #5820
Can you make the same benchmarks on much larger datasets? The reason behind writing things this way was to minimize overhead by transferring function arguments (i.e., copying X and y) only once per core.

[2015-11-16 14:35] olologin commented on #5820
Digits dataset is big enough?

Hmm, interesting, i thought that joblib automatically serializes them only once.

[2015-11-16 15:35] olologin commented on #5820
import numpy as np

	from sklearn.ensemble import BaggingClassifier, BaggingRegressor

	from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
	from sklearn.model_selection import train_test_split
	from sklearn.datasets import load_digits, load_boston
	from sklearn.utils import check_random_state

	from scipy.sparse import csc_matrix, csr_matrix

	rng = check_random_state(0)

	# al

[2015-11-16 17:00] amueller opened #5827 "Add contributors to whatsnew for 0.17 and 0.16"
Using git shortlog we should add all contributors to the whatsnew, though without commit count and ordered alphabetically. You can get the names using something like ``git log <last_release>.. | git shortlog -s -n``

[2015-11-16 17:37] aruch commented on #5739
I'll try and switch this over in the sprint today

[2015-11-16 17:51] welch commented on #5581
Is this as simple as adding the warm_start flag to the constructor call in the docs example? I'll take it if so.

[2015-11-16 17:52] hugobowne opened #5830 "advanced installation page: most letters are lower case"
from here down, many letters are in lower case, inclding the beginning of sentences, proper nouns, etc...

http://scikit-learn.org/stable/developers/advanced_installation.html#install-bleeding-edge

[2015-11-16 18:03] hugobowne opened #5832 "Cython to be added to to requirements in documentation for development"
In the documentation, it needs to be stated that Cython is required to build scikit-learn for development:

https://github.com/scikit-learn/scikit-learn/blob/master/README.rst

[2015-11-16 18:03] hugobowne commented on #5832
i'll do this now.

[2015-11-16 18:03] hallr commented on #5827
Working on this for code sprint

[2015-11-16 18:18] pieteradejong commented on #4639
working on this now

[2015-11-16 18:25] scottandrews commented on #5830
I'll take this one

[2015-11-16 18:34] lazarillo commented on #5770
I can fix this.

[2015-11-16 18:34] lazarillo commented on #5770
in a code sprint doing it now

[2015-11-16 18:36] NTBlok commented on #5827
Thought I'd start here as well.  @hallr how far have you gotten?

[2015-11-16 18:41] hallr commented on #5827
Working on the git log syntax to get the contributors. Happy to work together. I'm at the first long table on the left as you look at the screen.

[2015-11-16 18:42] mcculloh commented on #5686
Looks like numpy would like the mask to be qualified with a where().

[2015-11-16 18:45] papadopc commented on #4805
Picking this up for the code sprint

[2015-11-16 18:51] rvraghav93 commented on #5770
@lazarillo Thanks... but this issue is already taken care of by #5771... You could [find more issues to work on here](https://github.com/scikit-learn/scikit-learn/labels/Easy). :)

[2015-11-16 18:57] rvraghav93 commented on #4533
I think this can be closed!

[2015-11-16 18:59] hugobowne commented on #5832
OK! it also needs to be added here:
http://scikit-learn.org/stable/developers/advanced_installation.html#install-bleeding-edge

i'm going to do this now.

[2015-11-16 18:59] welch commented on #5505
i'll take this one.

[2015-11-16 18:59] maxlikely commented on #5606
I can take a stab at this!

[2015-11-16 19:06] #5770 closed

[2015-11-16 19:13] yanndupis commented on #5488
I have the same error as johannah and the same setup even if when I do "python setup.py install && make"

[2015-11-16 19:22] GaelVaroquaux commented on #5811
AFAIK, semantics of stderr do not require flushing.

Anyhow, I have added force flushing to my local version of joblib, but it
didn't solve the issue: stderr gets displayed only after the run is
finished.

Simple code to reproduce:

<pre>
from joblib import Parallel, delayed
from time import sleep

def func(x):
    sleep(.5)
    return x

Parallel(n_jobs=-1, verbose=49)(delayed(func)(x) for x in r

[2015-11-16 19:23] MrChristophRivera commented on #5827
@hallr and @NTBlok NTBlok can I work on this with you?

[2015-11-16 19:24] mattgiguere commented on #4711
I can take a look at this now.

[2015-11-16 19:32] fbrundu opened #5838 "Meaning of oob_score_ in RandomForestClassifier"
Hi all,
I am using the RandomForestClassifier (http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html)

I know what is the out-of-bag error (https://www.stat.berkeley.edu/~breiman/RandomForests/cc_home.htm#ooberr)

However, I am unable to tell if the oob_score_ attribute of the RandomForestClassifier is a measure of error (to be minimized) or the complement (

[2015-11-16 19:34] MrChristophRivera commented on #5656
I will work on this issue in the documentation.

[2015-11-16 19:39] Steph-Query commented on #5725
We will take a stab at this one at the code sprint (11-16-2015)

[2015-11-16 19:39] MechCoder commented on #5656
Please go ahead.

[2015-11-16 19:40] lvrzhn commented on #5023
Working on this now.

[2015-11-16 19:41] amueller commented on #5768
see #5779

[2015-11-16 19:41] OmidSaremi commented on #5023
Working on it with @lvrzhn

[2015-11-16 19:42] amueller commented on #5724
is someone could reproduce / investigate the segfault that would be great.

[2015-11-16 19:43] mcculloh commented on #5488
Running the test by itself seems to cause the error. But when I run it on os x 10.11.1 as "make test" any issues seem to get swallowed.

[2015-11-16 19:44] #5694 closed

[2015-11-16 19:44] amueller commented on #4533
yeah I agree.

[2015-11-16 19:44] #4533 closed

[2015-11-16 19:49] amueller opened #5842 "Check if all changes in master are actually in whatsnew."
Someone should check whether all changes that happened since the 0.17 branch split from master are actually present in the whatsnew.rst file.
See also #5640

[2015-11-16 19:52] hugobowne commented on #5804
we're going to look into this now (at the code sprint) @mattgiguere

[2015-11-16 19:52] rvraghav93 commented on #4711
@mattgiguere Please do :)

[2015-11-16 20:11] joshuacook opened #5844 "Image links to examples not created as part of a Latex build."
The same links **are** created as part of an html build. Sample of errors thrown.

[code]

I believe that this is related to this bug in Sphinx: https://github.com/sphinx-doc/sphinx/issues/372

Originally posted here: https://github.com/scikit-learn/scikit-learn/issues/5729

[2015-11-16 20:55] JeremyNixon opened #5848 "Out of Bag Score Documentation for Random Forest is Ambiguous"
Many have been confused about whether the score represents the model's accuracy or its error, examples in issue 'Meaning of oob_score_ in RandomForestClassifier #5838' and Stack overflow post here: http://stackoverflow.com/questions/31438476/parameter-oob-score-in-scikit-learn-equals-accuracy-or-error.

I propose a slight change to the documentation to remove the ambiguity, and will work on it mys

[2015-11-16 21:00] jingzhaoj commented on #5824
Has this already been implemented? http://scikit-learn.org/stable/modules/multiclass.html

[2015-11-16 21:05] vighneshbirodkar commented on #4920
Yes. But I am waiting for the merge of #5270

[2015-11-16 21:18] justinvf commented on #5364
Looking into this. If you pass in cv=N (so that it does standard cross validation, it works). The issue is down in the _RidgeGCV class, and only shows up with weights.

Simplified code to show issue:

[code]

Output
[code]

[2015-11-16 21:21] pieteradejong commented on #5419
@amueller where is the Conventions section? is it specific to PCA, or fit_transform, or is there an overall Conventions section?

[2015-11-16 21:22] welch commented on #5505
what should be done with wholly new files or modules?

[2015-11-16 21:25] TTRh commented on #5482
Please go ahead, i didn't produce anything on it !

[2015-11-16 21:27] amueller opened #5851 "Robust PCA"
I think it would be great to add robust PCA.
The original algorithm is here http://statweb.stanford.edu/~candes/papers/RobustPCA.pdf
There is an implementation here: https://github.com/dfm/pcp by @dfm

This paper using Trimmed Grassmann Average promises better performance: http://files.is.tue.mpg.de/black/papers/RGA2014.pdf
@glennq implemented it here: https://github.com/glennq/tga

It is a bit un

[2015-11-16 21:29] eickenberg commented on #5364
sample_weights for RidgeGCV has been broken since the beginning. They
weight the eigenspaces of the gram matrix. I made a PR to fix it, but dont
have access to github right now (phone) to find the number

On Monday, November 16, 2015, Justin Vincent <notifications@github.com>
wrote:

[2015-11-16 21:31] codevig commented on #5724
I will try to reproduce for the sprints.

[2015-11-16 21:31] scottandrews commented on #5830
Made PR #5849

[2015-11-16 21:32] NTBlok commented on #5724
Hi @codevig . Would you like some collaboration here at the code sprint?

[2015-11-16 21:34] codevig commented on #5724
Sure, I'm in brown big data shirt.

[2015-11-16 21:39] justinvf commented on #5364
Your branch fixes this:

[code]

I think we should close and mark as a dupe of #4490

[2015-11-16 21:40] NTBlok commented on #5724
Sorry, can't find you.  I'm sitting near the screen,

[2015-11-16 21:45] codevig commented on #5724
@amueller ok, I am getting deprecation warning on matplotlib 1.43. Otherwise, code works for me.

[code]

[2015-11-16 21:50] fluxtransport commented on #5724
We tested plot_stock_market.py with matplotlib 1.4.3 and it worked. Then we upgraded to matplotlib 1.5 and reproduced the error.
We confirm replacing quotes_historical_yahoo with quotes_historical_yahoo_ohlc made it work again.

[2015-11-16 21:55] maxlikely commented on #5851
I'm down for trying this.

[2015-11-16 22:09] codevig commented on #5724
@tacaswell In trying to replicate this issue during code sprints, I noticed that matplotlib 1.4.3 is the latest version available for linux?

[2015-11-16 22:14] juanshishido commented on #5739
@aruch What's the status thus far? Looking for an issue to contribute to.

[2015-11-16 22:20] papadopc opened #5853 "CountFeaturizer for categorical data"
I have used a data transformation based on count data with some success on kaggle:
https://www.kaggle.com/c/sf-crime/forums/t/15836/predicting-crime-categories-with-address-featurization-and-neural-nets

This is similar to what Azure does: https://msdn.microsoft.com/en-us/library/azure/dn913056.aspx
I've also found that adding an extra column that gives the frequency of each individual label over

[2015-11-16 22:22] tacaswell commented on #5724
Available where?  There is a 1.5.0 tarball on https://pypi.python.org/pypi/matplotlib and http://sourceforge.net/projects/matplotlib/files/matplotlib/matplotlib-1.5.0/ and binaries and available through anaconda.

[2015-11-16 22:23] hugobowne commented on #5824
we're attempting to work on this now at code sprint with @mrchristophrivera , @lazarillo

[2015-11-16 22:24] codevig commented on #5724
Sorry, there was some path issue. We got it working. Thanks!

[2015-11-16 22:31] ccolburn commented on #5851
+1 ... This would be great.

[2015-11-16 22:40] joshuacook commented on #5724
Works for me with all versions.

[2015-11-16 22:45] mcculloh opened #5857 "GradientBoostingRegressor always sets presort to auto"
In the call to super inside __init__() GradientBoostingRegressor does not pass thru the presort variable to the superclass:

        super(GradientBoostingRegressor, self).__init__(
            loss=loss, learning_rate=learning_rate, n_estimators=n_estimators,
            ...
            max_leaf_nodes=max_leaf_nodes, warm_start=warm_start,
            presort='auto')

[2015-11-16 22:53] amueller commented on #5857
ping @jmschrei @glouppe @arjoly
 again ;)

[2015-11-16 22:57] pieteradejong commented on #5769
@amueller seems @sshkhrnwbie fixed this - can be closed?

[2015-11-16 23:05] jmschrei commented on #5857
I'm suspecting that that PR introduced both of the issues. I think there is a check_X_y call which is causing the other issue which I missed since I was using smaller datasets. I've been swamped with a few presentations I have to do this week, but I'll be available to take a look at both soon.

[2015-11-16 23:11] mcculloh commented on #5857
I added a second commit. It looks like the logic to activate the presort would only actually work if you explicitly set the parameter to 'True' . Since the super() call clobbers this, I don't know that it ever actually got turned on.

[2015-11-16 23:11] amueller commented on #5724
@joshuacook which version of matplotlib, numpy and scipy?

[2015-11-16 23:11] amueller commented on #5724
maybe I should just try debugging on my machine

[2015-11-16 23:12] amueller commented on #5851
it would be great to have some applications where we can benchmark what we want from the algorithms.

[2015-11-16 23:38] amueller commented on #5851
Also see the improved PCA / Randomized pca from #5299. That should probably be the baseline for experimenting with the pcp implementation (unless you want to use fbpca).

[2015-11-16 23:47] amueller commented on #5769
We'll close when it's merged. But I removed the "need contributor" tag.

[2015-11-16 23:51] justinvf commented on #3637
This is caused by a hash collision. Minimal reproducing example:

[code]

abs(hash(`"investigation"`)) % 2**20  == abs(hash(`"need records"`)),

but the signs are different, so that `FeatureHasher.sum_duplicates` makes the sum zero.

One easy fix would be to add

[code]

after we do `sum_duplicates`.

[2015-11-16 23:53] mattgiguere commented on #4711
@racheltho and I looked into this, and this error seems to have been related with the Bunch class. I could recreate the error in 0.17, but it appears to have been fixed in 0.18. I suggest closing this issue.

[2015-11-17 00:09] pieteradejong commented on #4639
@amueller does MultiLabelBinarizer also convert the other way, that is, from a binary matrix to a list of tuples? for example, from:
array([[0, 0, 1, 1, 1],
       [0, 0, 1, 0, 0],
       [1, 1, 0, 1, 0],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 0, 0]])

to:
y = [[2, 3, 4], [2], [0, 1, 3], [0, 1, 2, 3, 4], [0, 1, 2]]

[2015-11-17 00:15] MauricioRoman commented on #5851
Great. Here is our plan of attack

1. Define use cases
   -- Background removal
   -- Anomaly detection
2. Assemble test data sets
   -- General, see data/framework in https://gist.github.com/giorgiop/4203a6bd8560b32a1b9e
   -- For Background removal, see data
   -- For Anomaly Detection see: https://github.com/numenta/NAB

3. Inventory existing implementations in Python for Robust PCA (see https:

[2015-11-17 00:41] joshuacook commented on #5724
@amueller
[code]

[2015-11-17 00:44] pieteradejong commented on #4639
@amueller are you looking for any comments to be added specifically to 1.12.1, 1.12.2 or both? It seems pretty clear in the former, that you're doing multi label classification since that is the title of the section?

On the other hand, the multilabel section in OneVsRest could use some more comments perhaps?