[2016-04-12 09:46] rvraghav93 commented on #6614
Thanks for the lucid explanation Loic!

[2016-04-12 09:48] lesteve commented on #5956
@alichaudry I just commented on a similar issue [here](https://github.com/scikit-learn/scikit-learn/issues/6614#issuecomment-208815649).

[2016-04-12 11:16] rvraghav93 commented on #5053
Does this mean `LabelKFold` should be renamed to `GroupedKFold`?

@jnothman @amueller @vene

[2016-04-12 11:27] lesteve commented on #6649
I can not reproduce these errors but I am using conda with mkl, so it may be related to which linear alebra package numpy is linked against. How did you install numpy and scipy? Also could you post the output of `python -c 'import numpy; print(numpy.__config__.show())'`?

FWIW, scikit-learn is tested with numpy master and we don't see these errors. Look at these Travis [log](https://travis-ci.org/

[2016-04-12 11:31] rvraghav93 commented on #5053
Also could we rename `p` to `p_samples`?

[2016-04-12 11:31] rvraghav93 commented on #5053
or `n_test_samples` or `n_test`?

[2016-04-12 17:07] anntzer commented on #6649
These are the Arch Linux recipes for numpy/scipy with openblas:
https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=python-numpy-openblas
https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=python-scipy-openblas
(I did a trivial modification to update to 1.11.0)

The config is
[code]

[2016-04-12 20:16] davidwarshaw opened #6652 "Redundant References to brier_score_loss in Classification Metrics Documentation"
Redundant references to `metrics.brier_score_loss` in `Classification metrics` documentation. See lines 804 & 821: https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/classes.rst

[2016-04-12 21:24] #6652 closed

[2016-04-12 22:32] pambot opened #6654 "Add more unsupervised clustering metrics"
Hello,

I noticed that most of the [clustering metrics](http://scikit-learn.org/stable/modules/classes.html#module-sklearn.metrics.cluster) available in scikit-learn are for supervised clustering, with only the Silhouette score for unsupervised cases. Do you think it might be useful if I added one or more unsupervised clustering metrics as features? I would also be happy to write examples and non-

[2016-04-12 22:33] jnothman commented on #6654
Unfortunately it's not yet at the merge stage, but see #4301.

[2016-04-12 22:34] #6654 closed

[2016-04-12 22:36] jnothman commented on #6654
Sorry for giving such a short response to your long insightful discussion, but you really should check for open issues on the topic you're posting about: we have many of them! You may be welcome to help conclude that PR, improve its API or its documentation. SDbw is not covered as yet, and maybe you could make a case for its inclusion.

[2016-04-13 00:17] jnothman commented on #6654
Thanks.

[2016-04-13 09:57] lesteve commented on #6649
Do you know which version of openblas you used? It looks like 0.2.18 has just been released so you want to make sure that you are using it because some bug were fixed in this release.

[2016-04-13 09:59] ogrisel commented on #6649
Can you also please try to re-rerun the tests on your machine in a pyvenv / virtualenv with the following experimental binary packages:

[code]

[2016-04-13 12:56] jnothman commented on #5053
Personally, I much prefer `GroupedKFold` over `LabelKFold` as a description.

[2016-04-13 12:57] jnothman commented on #5053
I think leave `p` alone. It's a bit weird that `KFold` doesn't just have a parameter `k`.

[2016-04-13 12:59] rvraghav93 commented on #5053
Pun intended? ;)

[2016-04-13 13:04] jnothman commented on #5053
I'm missing the pun. And I make dad jokes all the time.

On 13 April 2016 at 22:59, Raghav R V <notifications@github.com> wrote:

[2016-04-13 13:06] rvraghav93 commented on #5053
Nevermind ;) (I thought `LeavePOut` --> Leave `p` alone :P )

[2016-04-13 13:40] lesteve commented on #6650
Thanks a lot for providing a stand-alone snippet. Unfortunately I wasn't able to reproduce the problem on a Windows VM with identical numpy, scipy and scikit-learn versions.

It looks like other have had similar problems, e.g. https://github.com/scikit-learn/scikit-learn/issues/4053 or http://stackoverflow.com/questions/27524939/saving-random-forest. All of them happen on Windows.

Since you use A

[2016-04-13 14:23] jingsliu07 opened #6656 "var.monotone option in GradientBoosting"
Hi, is it possible to add the equivalent of the var.monotone option in R GBM package to the GradientBoostingClassifier/Regressor? Sometimes it is really useful when we know/want some factors to have monotonic effect to avoid overfitting and non-intuitive results.

Thanks!

[2016-04-13 17:39] danjump opened #6657 "How do Multidimensional kernels work for gaussian_process.GaussianProcessRegressor?"
I'm doing Gaussian process regression with 2 input features. I just upgraded from the stable 0.17 to 0.18.dev0 to take advantage of GaussianProcessRegressor instead of the legacy GaussianProcess. It's not clear to me, however, how the new GaussianProcessRegressor handles multi-dimensional inputs.

I want an anisotropic fit in the two dimensions (separate kernel hyper-parameters for each dimension)

[2016-04-13 17:43] anntzer commented on #6649
I was using openblas 0.2.17, updating to 0.2.18 didn't solve the issue.
Using the numpy and scipy your provided (and sklearn master) did work though.

[2016-04-13 17:52] danjump commented on #6657
Well, 10 minutes later and I think I answered my own question. Sorry about that.

I dug in to the code a bit more and saw in gaussian_process/kernels.py that there's lots of mention of anisotropy. I guess the multidimensional is in fact wrapped up in the kernel. Can anyone confirm for me then if the following is the proper implementation of an anisotropic kernel relative to my previous examples?

[2016-04-13 19:17] #6657 closed

[2016-04-13 23:12] Zelazny7 commented on #6656
+1 for this feature. It is what allows me to use GBM for regulated credit risk models

[2016-04-14 08:21] BiaDarkia commented on #6614
Would it be possible to add an optional parameter to estimators that sets max_nbytes=None when accessing joblib.Parallel when set to True? It shouldn't be too hard to implement and fix the issue.

[2016-04-14 11:31] rvraghav93 commented on #5053
BTW on a similar note should we also rename `"Leave*LabelOut"` --> `"Leave*GroupOut"`?

[2016-04-14 12:46] lesteve commented on #6614
A more proper fix would to modify `sklearn.svm.base.BaseLibSVM._sparse_fit` so that it doesn't modify X in place.

Looking at this problem more closely I found a work-around in case it is useful:

[code]

This is based on the fact that the in-place modification only happens when the output of the TfidfVectorizer doesn't have its indices sorted.

[2016-04-14 12:55] GaelVaroquaux commented on #5053
n_samples? I don't understand p_samples? Or maybe n_features?

[2016-04-14 12:57] GaelVaroquaux commented on #5053
But we shouldn't be renaming things just for cosmetics (consistency is a
valid argument, though). It uses a lot of energy both for our developers
and our users.

[2016-04-14 13:06] rvraghav93 commented on #5053
I think the motivation for renaming `labels` --> `groups` is to demarcate clearly what we mean by `labels`. (As `labels` can also mean the target or class labels). Thanks for the comment! Could you also express your views at #6660 please?

[2016-04-14 14:03] vene commented on #5053
That's my view as well. `labels` was a weird, overloaded word in this context. I was personally very confused about what `LeavePLabelOut` did for a while, because I was thinking of `y` as labels. I thought it's some sort of zero-shot learning evaluation.

Groups is much better; though there could be confusion with, say, GroupLasso.

Such breakage is annoying on two accounts. (a) user code will nee

[2016-04-14 14:18] rvraghav93 commented on #5053
@vene Could you copy the comment to #6660 please?? :)

[2016-04-14 17:33] MechCoder commented on #6556
Done in https://github.com/scikit-learn/scikit-learn/pull/6607

[2016-04-14 19:08] MarkRConway commented on #6147
Issues with cross_val_score too

ValueError: scoring must return a number, got 0.9762644725410562 (<class 'numpy.core.memmap.memmap'>) instead.

sklearn.externals.joblib.my_exceptions.JoblibValueError: JoblibValueError

[2016-04-14 19:58] gustavmortberg commented on #1346
Shouldn't this be closed since it was fixed in #6232? Hopefully i'm not in the wrong.

[2016-04-15 00:45] jskDr commented on #5046
Because of the same problem to me, I turn off mkl by conda install nomkl. I am now happy. If this problem is fixed, please share with us so that I can turn on again. Thank you for elaborating this problem.

[2016-04-15 06:10] lesteve commented on #6147
@MarkRConway what's your scikit-learn version? It should be fixed in 0.17.1.

[2016-04-15 06:36] lesteve commented on #1346
Yes it should. @rvraghav93 @TomDLT can one of you close this one?

[2016-04-15 08:32] #1346 closed

[2016-04-15 11:45] joelkuiper opened #6665 "t-SNE fails with array must not contain infs or NaNs (MKL specific and likely CPU specific)"
[code]

When trying to run a t-SNE

[code]

However

[code]

Full Stack Trace:

[code]

[2016-04-15 11:59] imadie commented on #4717
Hi, the above code fixes the error, but the behavior is different I think. I am running [this](https://github.com/jakevdp/sklearn_pycon2015/blob/master/notebooks/04.3-Density-GMM.ipynb) tutorial code but after I reshape the input data, I can not reproduce the plot.

Is there something I can change (parameters, maybe) so that I can have the same result? Thanks!

[2016-04-15 12:12] MarkRConway commented on #6147
Yes, it is fixed. Thank you.

[2016-04-15 12:18] joelkuiper commented on #6665
Same with ('Scikit-Learn', '0.18.dev0')

[2016-04-15 14:03] tsterbak commented on #4816
I've implemented a stackingClassifier. There will be some work to do, but i will PR soon.

Regards,
Tobias

[2016-04-15 22:58] ender-wieczorek commented on #6628
I actually want to copy a class that contains the estimator as one of its attributes, so `sklearn.base.clone` doesn't help.

[2016-04-16 19:23] dwyatte opened #6668 "DictVectorizer().inverse_transform() does not handle continuous zero-valued features correctly"
d = [{'thing': 'a', 'number': 2}, {'thing': 'b', 'number': 1}, {'thing': 'c', 'number': 0}]
vec = DictVectorizer(sparse=False)

vec.fit_transform(d)
\# array([[  2.,   1.,   0.,   0.],
\#           [  1.,   0.,   1.,   0.],
\#           [  0.,   0.,   0.,   1.]])

vec.inverse_transform(vec.fit_transform(d))
\# [{'number': 2.0, 'thing=a': 1.0},
\#  {'number': 1.0, 'thing=b': 1.0},
\#  {'thing=c': 1

[2016-04-16 21:35] iver56 commented on #6650
I have the same problem, and these are the versions I use:
OS: Windows 10
Python 2.7.10
numpy 1.10.4
scikit-learn 0.17.1
scipy 0.17.0

The problem also applies to ExtraTreesClassifier

[2016-04-17 07:11] KeyKy commented on #6665
Do you mind sharing your data X with me?

[2016-04-17 08:56] joelkuiper commented on #6665
Sure, where and in what format would you like it?

[2016-04-17 09:06] KeyKy commented on #6665
My email is 370846270@qq.com
As i know, there is a function numpy.save for saving an array to a binary file in .npy format~~

[2016-04-17 10:26] jnothman commented on #6668
`DictVectorizer` does not require/assume the set of keys in each instance to be identical, assuming all unspecified features take value 0.

While I can imagine a setting to handle the case where you want this, it's hard for me to consider it a bug, or agree with your contention of what should "ideally" happen. Perhaps others disagree, but I'm going to take the executive decision to close this as "

[2016-04-17 10:26] #6668 closed

[2016-04-17 14:31] mblondel opened #6670 "Add return_tuple option to data loaders that return a Bunch"
It would be nice to be able to return a tuple rather than a bunch:
[code]

[2016-04-17 18:02] maniteja123 commented on #6670
Can I try to take a stab at this if it is okay ? Thanks !

[2016-04-17 18:39] gustavmortberg commented on #6670
It could be interesting to look into using [namedtuples](https://docs.python.org/3/library/collections.html#namedtuple-factory-function-for-tuples-with-named-fields), which (if i'm not mistaken) combines the advantages of regular tuples as well as a container class (such as the Bunch class).

Thoughts? Are there other advantages to the Bunch class which i don't see?

[2016-04-17 22:14] welch commented on #5851
I put up my RASL implementation this weekend: https://github.com/welch/rasl
(as mentioned above, this uses a variant of the RPCA being discussed here,
in the file inner.py)

[2016-04-18 01:10] KeyKy commented on #6665
I test your data in ubuntu 14.04 LTS with
Python==2.7.6
scikit-learn==0.17.1
numpy==1.8.2
scipy==0.13.3
It is fine and doesn't raise the ValueError. The test code is:
`import numpy
a = numpy.load('/root/test.npy')
print a.shape
print numpy.isnan(a).all()  #False
print numpy.isfinite(a).all() #True
print numpy.isinf(a).all() #False

from sklearn.manifold import TSNE
proj = TSNE().fit_transform(a) #

[2016-04-18 03:01] mblondel commented on #6670
That 'd be nice but let's wait for more opinions first.

In my example, we want to unpack only X and y and not all the additional metadata.

[2016-04-18 03:15] jnothman commented on #6670
maybe return_X_y is clearer?

On 18 April 2016 at 13:01, Mathieu Blondel <notifications@github.com> wrote:

[2016-04-18 03:53] hlin117 opened #6673 "More scoring flexibility for SelectKBest / SelectPercentile"
# Issue 1: Allow scoring function to be a function that does not need to return pvalues

`SelectKBest` and `SelectPercentile` both require that the return value be a pair of arrays `(scores, pvalues)`. But this prevents functions that return only one array of scores for each feature, such as
- [mutual_info_regression](http://scikit-learn.org/dev/modules/generated/sklearn.feature_selection.mutual_i

[2016-04-18 04:05] hlin117 commented on #6673
I also notice that the newly added [`mutual_info_regression`](http://scikit-learn.org/dev/modules/generated/sklearn.feature_selection.mutual_info_regression.html#sklearn.feature_selection.mutual_info_regression) and [`mutual_info_classif`](http://scikit-learn.org/dev/modules/generated/sklearn.feature_selection.mutual_info_classif.html#sklearn.feature_selection.mutual_info_classif) has this problem

[2016-04-18 07:38] tsterbak commented on #4816
I implemented a model now. There is something to do, e.g. I want to add a special gridsearch method as static method to tune the ensemble.
**Please check it out!**

[2016-04-18 09:48] agramfort commented on #6673
we could detect if the output is a tuple of size 2 to allow return of just
a score function.

[2016-04-18 09:50] agramfort commented on #6670
I also like the return_X_y option

[2016-04-18 22:00] MechCoder commented on #6673
`SelectKBest` and `SelectPercentile` allow functions that return just the score in current master.

    def dummy_func(X, y):
        return np.ones_like(y)

    skb = SelectKBest(dummy_func)
    skb.fit(X, y)
    skb.scores_

For your use-case, we would need to allow y to be None.

[2016-04-18 23:23] mrahim opened #6675 "Add BoxCox Transform"
It would be nice to have the BoxCox transofrm as a preprocessing feature :

[code]

[2016-04-18 23:28] GaelVaroquaux commented on #6675
+1

[2016-04-19 01:06] MechCoder commented on #6670
+1

[2016-04-19 01:21] maniteja123 commented on #6675
Hi, sorry for my ignorance but IIRC box-cox transformation is done on 1D array. So, should it be only for the preprocessing of positive predictor variables. What is the approach for the negative predictor values and also multiclass outputs ? Thanks!

[2016-04-19 11:31] fkrasnov commented on #5956
I confirm that there is an error and it is floating in nature.

sklearn.decomposition.SparseCoder(D, transform_algorithm = 'omp', n_jobs=64).transform(X)

if X.shape[0] > 4000 it fails with ValueError: assignment destination is read-only
If X.shape[0] <100 it is ok.

OS: Linux  3.10.0-327.13.1.el7.x86_64
 python: Python 2.7.5
 numpy: 1.10.1
 sklearn: 0.17

[2016-04-19 17:15] GaelVaroquaux commented on #6675
We have it in mind for univariate preprocessing of a feature to transform
its marginal distribution to standard Gaussian. Think of it as a
higher-degree version of the standard scaler.

[2016-04-19 17:57] maniteja123 commented on #6675
Thanks for the explanation. I understand that this transformation is used to convert to standard normal distribution and also remove skew. But could you please explain what is meant by ''higher degree version of standard scaler" ?

[2016-04-19 18:18] GaelVaroquaux commented on #6675
Exactly this.

[2016-04-19 18:22] maniteja123 commented on #6675
Oh okay, thanks ! So IIUC the approach should be something like applying box cox transform on each of the features.

[2016-04-19 19:23] yarikoptic opened #6679 "restrict 3rd part apps by default"
NB Although someone could consider it "paranoid", I am treating this as "tidy and more secure"

ATM scikit-learn organization has suboptimal (insecure?) policy for 3rd party apps.
I could be wrong BUT I think that originally there were no granular way to grant or revoke permissions on per organization level whenever authorizing 3rd party services to access github repos, thus all old organizations

[2016-04-19 23:02] amilgeorge commented on #6675
Does it make sense to use the same value of 'lamda' for all the features in a multidimensional data?

[2016-04-19 23:57] dwarrier commented on #6675
My guess is that it doesn't make sense to do this. The example [here](https://en.wikipedia.org/wiki/Power_transform#Box.E2.80.93Cox_transformation) shows how using a Box-Cox helps us in a case of non standard variance. I think that we would want different values of lambda for different dimensions, since they would have different log likelihood curves for each dimension. However, I don't know how t

[2016-04-20 00:01] dwarrier commented on #6675
[this](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.32.1271&rep=rep1&type=pdf) is a more informative link that specifically refers to the Box-Cox transform in a multivariate situation.

[2016-04-20 03:53] dipanjanS opened #6681 "Axis arguments for feature scaling Classes"
While we have the ability to pass axis arguments for the functions in the `preprocessing` module like `scale`, is there any way to pass the same when building scalers using the classes like `RobustScaler`?

Currently the following is mentioned in the API docs but I didn't see an option to pass the same. It could be I am missing something obvious.

Any help would be appreciated!

[2016-04-20 06:12] hlin117 commented on #6635
This PR looks merged. We should probably close it.

[2016-04-20 06:27] #6635 closed

[2016-04-20 06:27] jnothman commented on #6635
ta

[2016-04-20 08:14] AlexanderFabisch opened #6683 "Barnes-Hut SNE fails on a batch of MNIST data"
Description
-----------
AssertionError thrown when calling TSNE.fit on a specific subset of the MNIST data (reported on the [mailing list](https://sourceforge.net/p/scikit-learn/mailman/message/35021771/))

Steps/Code to Reproduce
-----------------------

[code]

Expected Results
----------------
No error is thrown.

Actual Results
--------------

[code]

Versions
--------
[code]

[2016-04-20 11:43] DelightRun commented on #5046
Same problem

[2016-04-20 13:03] raghavrv opened #6686 "[RFC] Better Format for search results in model_selection module."
An attempt to solve this - #6697

##### Currently we store -

`grid_scores_` - For both `GridSearchCV` and `RandomizedSearchCV`. This holds a list of `_CVScoreTuple`s.

The `_CVScoreTuple` holds the `parameters` (parameter setting dict for one candidate), `score` (aggregated) and `all_scores` for all the cv splits for that setting as a numpy array.

##### What I propose -

Could we have a separate

[2016-04-20 13:25] arogozhnikov commented on #6616
That's it.

I always assumed that utils were created public to be used by side projects as well.

And then - voila - no `check_arrays`, all the code fails without precaution / deprecation / whatever (not only mine code).

At this moment I have no idea why not to keep that old functions permanently, but marked as deprecated.
This will protect scikit-learn devs from using deprecated functions, old t

[2016-04-20 13:28] GaelVaroquaux commented on #6616
Because we'll have to maintain them. Because the more code in a project,
the harder it is to understand the codebase.

[2016-04-20 14:02] rvraghav93 commented on #6686
I am hoping this is not a complex solution, as we store all the scores, times and sizes as separate compact numpy arrays, saving time and space.

But expose the list of dict format that we want users to see as a property or a generator function.

[code]

[2016-04-20 14:38] mblondel commented on #6616
We definitely can't keep old functions permanently but we plan to use the same two-release deprecation cycle as in the rest of the code base (this includes when deleting, changing or moving a function).

[2016-04-20 14:40] GaelVaroquaux commented on #6675
Probably not.

[2016-04-20 15:35] pgrandinetti opened #6687 "Segmentation fault with SVC polynomial, degree 5"
Hello,

I am running some test with this database http://archive.ics.uci.edu/ml/datasets/Online+News+Popularity

First I load it

`import pandas as pd`
`import numpy as np`
`df=pd.read_csv('OnlineNewsPopularity.csv', skipinitialspace=True)`
`popular = df.ix[:,60] >= 1400 # or df.shares`
`unpopular = df.ix[:,60] < 1400`
`df.loc[popular,'shares'] = 1`
`df.loc[unpopular,'shares'] = 0`
`X = df[list(df

[2016-04-20 16:01] msoelch opened #6688 "ROC functions break down with low scores variance."
#### Description
The ROC functionality reduces its workload by first extracting forward differences between scores and then discarding potential thresholds that are too close together by calling [`utils.isclose.fixes`](https://github.com/scikit-learn/scikit-learn/blob/51a765a/sklearn/utils/fixes.py#L221). The problem is that this happens without notification of the user (or any chance to intervene

[2016-04-20 16:23] jnothman commented on #6688
I think this has been raised before. Yes, tolerance could be a parameter,
but should best be 0.0 by default. Could you work on a PR?

On 21 April 2016 at 02:01, Maximilian Soelch <notifications@github.com>
wrote:

[2016-04-20 16:30] boechat107 commented on #5774
@musically-ut I have done some tests with your code and it seems to be correctly clamping the labels. Do you have plans to submit a PR soon?

[2016-04-20 17:20] hlin117 opened #6689 "Add a SelectKBest feature for Models?"
I notice that the current [SelectKBest](http://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectFromModel.html) doesn't allow a user to select the `k` best features from a model. Are there any thoughts about adding a `k`-best feature selection using a model?

Related: #6673.

[2016-04-20 17:44] trchan opened #6690 "ImportError: image not found after install of dev version"
#### Description

Installed dev version for first time.  I get an import error when I try to load any tool.

#### Steps/Code to Reproduce

from sklearn.ensemble import RandomForestRegressor

#### Expected Results

No error.

#### Actual Results

[code]

#### Versions

Darwin-15.4.0-x86_64-i386-64bit
('Python', '2.7.11 |Anaconda custom (x86_64)| (default, Dec  6 2015, 18:57:58) \n[GCC 4.2.1 (Apple

[2016-04-20 17:58] maniteja123 commented on #6690
Searching for previous issues, #3606 seems relevant. Even I am not aware of the internals, but please let us know if it helps.

[2016-04-20 18:53] trchan commented on #6690
Hi, after trying a lot of things, this seemed to work (credit goes to Dennis Engermann who posted this on https://groups.google.com/a/continuum.io/forum/#!topic/anaconda/F8Q-8xyvrks)

Symbolically linking all anaconda libraries...
for lib in ~/anaconda/lib/*; do ln -s $lib /usr/local/lib/$(basename $lib); done

[2016-04-20 19:21] amueller commented on #6686
I think we should create a dict of arrays that the user can call ``pd.DataFrame`` on as I said elsewhere.
@jnothman brought up the fact that if we have lists of grids in the grid search, not all models share parameters. (I think the list of grids is the only case that can happen, right?).

Your list of dict doesn't have that problem. But what is the result of ``get_my_panda``? That would have the

[2016-04-20 19:24] amueller commented on #6686
Looks promising: http://pandas.pydata.org/pandas-docs/stable/dsintro.html#from-a-series

So why not a dict of masked arrays? I think actually having masks is a "rare" case, so most people don't have to worry about it too much. And if people actually convert to data frames, it should all be fine.
We need to make sure that pandas doesn't map ``np.NaN`` to the same missing type. If it does, we need t

[2016-04-20 20:14] musically-ut commented on #5774
@boechat107 Great to know and good to have some independent verification. :)

Just to be clear, I am assuming that you tested `musically-ut/semi_supervised`?

The primary problem before I make a PR is coming up with good tests. The current tests, for example, work with the current code, but it is not clear that they are _obviously_ correct (and, indeed, my code produces different results on some o

[2016-04-20 20:20] bb-blud commented on #4033
I'm also running up against this.

[2016-04-20 21:24] jnothman commented on #6689
Perhaps SelectFromModel should be able to do this, and it currently is not.

On 21 April 2016 at 03:20, Henry Lin <notifications@github.com> wrote:

[2016-04-20 22:36] hlin117 commented on #6673
Another option would be to make a wrapper around functions that score a feature wrt a response. (Which might be `None`.) This would allow us to wrap functions like [`spearmanr`](http://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.spearmanr.html) or [`spearmanr`](http://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.pearsonr.html), which takes feature vectors as

[2016-04-21 06:27] GaelVaroquaux commented on #6673
It feels pretty fragile.

[2016-04-21 07:19] agramfort commented on #6673
true but I don't see any other option to do a selectkbest with a function
that just returns a score.

or we have a str to callable mapping that knows how many outputs to
expect... so I think I have my solution :)

[2016-04-21 08:05] lesteve commented on #6683
Runs fine for me with the exact same numpy, scipy and scikit-learn versions.

[2016-04-21 08:50] AlexanderFabisch commented on #6683
It was probably not the same scikit-learn version. I updated sklearn to the latest state of the master and the bug disappeared. I'm not sure which change is responsible for that.

[2016-04-21 09:52] lesteve commented on #6687
I can reproduce the segmentation fault. Here is the full snippet for easier debugging:

[code]

The segmentation fault happens in the libsvm C++ code. With my modest gdb skills I was able to trace it back to:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/src/libsvm/svm.cpp#L743

`j = -1` in:
[code]

so it looks like we are hitting an edge case in `select_working_set`. Not f

[2016-04-21 10:01] HTCode opened #6694 "Scaling features using MinMaxScaler makes DPGMM always have one cluster"
I have noticed that if I scale my dataset using MinMaxScaler() then if I use DPGMM with whatever value for alpha, it will always create one cluster (label). This might be related to some numerical precision issue.

If I don't rescale the data or if instead of the MinMaxScaler() I use StandardScaler(), then this problem does not occur (i.e., the DPGMM creates more than one cluster).

Is this a bug

[2016-04-21 12:55] tsterbak commented on #6656
+1, I would love to use this!

[2016-04-21 13:00] MechCoder commented on #6673
@agramfort `SelectKBest` allows functions that return just a score since https://github.com/scikit-learn/scikit-learn/pull/5372. You were the one who reviewed it!!

[2016-04-21 13:01] #6683 closed

[2016-04-21 14:30] agramfort commented on #6673
arffff... so what's the pb???

[2016-04-21 14:53] MechCoder commented on #6673
The issue is to allow a scoring function independent of `y`, for instance the variance across a feature

[2016-04-21 14:54] agramfort commented on #6673
just write a callable that ignores the y?

[2016-04-21 14:58] MechCoder commented on #6673
And allow `y=None` in the `fit` of SelectKBest.

[2016-04-21 14:59] boechat107 commented on #5774
@musically-ut Yes, I used the code from the repo you maintain.

I didn't notice this detail about the graph and I think you are correct. Your implementation seems to fix this too, assuming it is another bug.

But what do you think about fixing one issue at a time? It seems clear that you fixed the label clamping (I'm going to check `LabelSpreading`'s theory too), although I agree that better test

[2016-04-21 15:28] amueller commented on #6694
Yes, there are probably bugs in DPGMM. Search the issue tracker for DPGMM and you'll find a few.
They are hopefully fixed here: #6651

[2016-04-21 15:54] rvraghav93 commented on #3536
@jnothman @amueller Should this be closed?

[2016-04-21 16:15] rvraghav93 commented on #6686
Thanks heaps for your comments!

Ok if I understand your comment correctly, are you suggesting we have one axis for one parameter and whichever point (combination of parameters) doesn't make sense we mask it to `nan`?

Indeed this would make gathering statistics much easier.

[2016-04-21 16:23] amueller commented on #6686
one key in the dictionary or one column in the dataframe for each parameter. And if the parameter is not set, this is masked (not NaN).

[2016-04-21 16:46] rvraghav93 commented on #6686
You mean left to the default value?

[2016-04-21 16:48] vene commented on #6686
I'm guessing @amueller means "when a parameter is not a part of the parameters being used in this current iteration", a case that can emerge when using lists-of-dicts.

[2016-04-21 16:54] rvraghav93 commented on #6686
Oh so we are trying to capture the grid/random search process? (This way we can stop early or warm start too?)

i.e. Are you suggesting that we do -

[code]

In this case why not simply repeat 'bar' in that ndarray? (So as to preserve the information that we are not changing that parameter?)

[2016-04-21 17:05] rvraghav93 commented on #6686
@vene Ah your edited comment explains it clearly! Thanks!

[2016-04-21 17:15] uacharya opened #6695 "iforest predict method gives AttributeError: 'super' object has no attribute '_fit'"
I am using iforest from this repository for the purpose of anomaly detection. But when i fit my model with the training data , i am getting this error "AttributeError: 'super' object has no attribute '_fit' ". Can anybody tell me if i am doing something wrong of it is a bug that needs to be resolved.

[2016-04-21 17:21] maniteja123 commented on #6695
Can you please give a minimal example to reproduce the error and also mention versions of python and scikit learn so that it will be easier to trace back ? Thanks.

[2016-04-21 18:04] uacharya commented on #6695
Thanks for the reply. I am using python version 2.7 and scikit learn 0.17.1. What i did is copied the file iforest.py from the repository and put it inside ensemble folder of sklearn and running it on eclipse. The code looks like this.

 # opening the file for training
    file_open = open(file_path, "r");
    read_from_file = pd.read_csv(file_open, sep=",", header=0);
    data = np.array(read_fro

[2016-04-21 22:29] jnothman commented on #3536
Either closed, or made more specific: the radius_neighbors case is not parallel, IIRC.

[2016-04-22 00:40] maniteja123 commented on #6695
Sorry for the delay. But I suppose isolation first is added in 0.18. So it should be directly installed from source as shown [here](http://scikit-learn.org/stable/developers/contributing.html#retrieving-the-latest-code). Simply copying the files won't work always since there could be changes even in the other files. For example, I think the ``_fit`` method is not present in ``bagging.py`` of 0.17

[2016-04-22 00:52] maniteja123 commented on #6695
Also for splitting the data , you could use [train_test_split](http://scikit-learn.org/stable/modules/generated/sklearn.cross_validation.train_test_split.html) which comes handy than manually splitting the X and y for train and test data.

[2016-04-22 01:14] uacharya commented on #6695
Thanks for the reply. I thought i checked if BaseBagging class in bagging.py in the repository had the _fit method or not as IsolationForest was extending this class. But it turned out it had that method , how did i even not see that yesterday. My fault, now i shall do as you said and clone the repository so that i don't run against any more issues. Also, correct me if i am wrong. From what i read

[2016-04-22 01:16] nelson-liu commented on #6695
Correct. See http://scikit-learn.org/dev/modules/generated/sklearn.ensemble.IsolationForest.html and http://scikit-learn.org/dev/auto_examples/ensemble/plot_isolation_forest.html#example-ensemble-plot-isolation-forest-py

[2016-04-22 01:23] maniteja123 commented on #6695
Even I am not aware of the details, but a quick glance at the ICDM 08 paper seems that it is indeed unsupervised. But looking at the documentation, [here](http://scikit-learn.org/dev/modules/generated/sklearn.ensemble.IsolationForest.html), the ``y`` is optional in ``fit``. You can also see the example at the bottom of the same page.

[2016-04-22 01:28] uacharya commented on #6695
@nelson-liu  and @maniteja123 . Guys can you guide with one more thing ? My data only has categorical values and right now i have pre processed the data by giving each category a number for each feature. I had to do this to train SVM using onehotencoder . But based on the paper of IsolationForest if i train iTree using this form of data, i think the model will consider data as being continuous val

[2016-04-22 01:41] nelson-liu commented on #6695
Giving each category your feature can assume a number isn't one hot encoding, but I'll assume that you misspoke. I think you are correct in your intuition that you do not want to onehotencode here as iforest isolates observations through random selection of a feature (but i'm not sure, you should try both and see what happens), but you definitely do not want to convert your numbers back to string

[2016-04-22 02:00] uacharya commented on #6695
What i meant was onehotencoder() function gave me an error while trying to encode string values for each feature so i had to give them numbers. Just what i thought, as iTree does not work with strings wouldn't giving values of my feature as number make it as if my feature was continuous. For example:- if i have "good","bad","neutral" as my categories for my feature "health" , representing them as

[2016-04-22 02:04] maniteja123 commented on #6695
Yeah. Onehotencoder works for only categorical integer variable IIRC. Coming to the split, I am not aware of the implementation, but looking at the tests, it uses the Boston dataset which surely has categorical input value. So I suppose it is worth a try to directly give the input without onehotencoding them.

[2016-04-22 06:14] lesteve commented on #6647
Could you provide a snippet that reproduces the error?

[2016-04-22 08:08] tguillemot commented on #6694
Yes, I've noticed this issue with the old DPGMM class.
It seems that there is a numerical problem indeed.
The new code will normally solve this problem.
Thank you @HTCode for the report.

[2016-04-22 11:49] #6695 closed

[2016-04-22 11:51] TomDLT commented on #6690
I close the issue, thanks for sharing this solution

[2016-04-22 11:51] #6690 closed

[2016-04-22 12:58] rvraghav93 commented on #6686
One question. Why do we need a masked array? Why can't we use nan in those places?

[2016-04-22 13:20] rvraghav93 commented on #6686
Could we also have a dict element `'candidate_rank'` to rank the parameter settings (candidates)?

[2016-04-22 14:28] maniteja123 commented on #6681
Hi, from the documentation, it definitely seems that there is no ``axis`` support for classes like ``RobustScaler``, but as seen [here](https://github.com/scikit-learn/scikit-learn/blob/51a765a/sklearn/preprocessing/data.py#L1104) in the implementation for ``robust_scale`` function, could ``transpose the input and then transpose the output back`` be a possible workaround here for your use case ? I

[2016-04-22 16:05] MechCoder commented on #6686
No strong opinion but that should be pretty straightforward to do if you have a column that has the `mean_validation_score` no?

[2016-04-22 16:11] MechCoder commented on #6686
I haven't had a deep thought about any possible disadvantages, but in any case @amueller 's proposal on the dict of masked_arrays seems great.

As for masked arrays, if someone wants to operate on `search_results_` directly rather than on the converted dataframe, then...

[2016-04-22 17:25] vene commented on #6686
@MechCoder is right, we absolutely don't want to require pandas, and nans confuse argmin/argmax computation. That, plus the same reasons we ran into in the missing value representation discussion, make nans not a fun choice IMO.

[2016-04-22 17:33] rvraghav93 commented on #6686
Thanks @MechCoder @vene for the inputs!!

[2016-04-22 19:45] dipanjanS commented on #6681
You are right, I did see that but it won't work in a standard prediction workflow where the scaler object has already been created with `fit()` or  `fit_transform()` on the training data and I need to scale the test data with the same scaler created earlier using `transform()`. The `robust_scale()` function creates a scaler object internally but just returns the scaled data, hence I can't reuse th

[2016-04-22 20:19] bmorris3 commented on #4103
I'd like that @jakevdp!

[2016-04-22 20:55] uacharya opened #6699 "ImportError libmkl_intel_lp64.dylib Referenced from: /Users/Uzwal/anaconda/lib/python2.7/site-packages/sklearn/metrics/pairwise_fast.so Reason: image not found while running IsolationForest even while using scikit-learn version 0.18.dev0.."
I installed scikit-learn 0.18.dev0 successfully inside my anaconda distribution. But when i running IsolationForest now i am getting the following error
"ImportError: dlopen(/Users/Uzwal/anaconda/lib/python2.7/sitepackages/sklearn/metrics/pairwise_fast.so, 2): Library not loaded: libmkl_intel_lp64.dylib
Referenced from: /Users/Uzwal/anaconda/lib/python2.7/site-packages/sklearn/metrics/pairwise_fas

[2016-04-22 23:37] MechCoder opened #6701 "Bug in testing gradients in GaussianProcess.kernels"
It seems to me that, the gradients compared in `test_kernel_gradient` are not equal.
1. `K_gradient` is the gradient with respect to the hyperparameter.
2. `_approx_fprime` calculates the gradient with respect to theta, which is `log(hyperparameter)`

I was running into issues while using `_approx_fprime` to test the correctness of my custom kernel, while setting the scale fixed it. But I am not s

[2016-04-23 05:56] qmaruf commented on #6689
I am interested to work on it.

[2016-04-23 08:14] agramfort commented on #6699
run this:

install_name_tool -change libiomp5.dylib $HOME/anaconda/lib/libiomp5.dylib
$1
install_name_tool -change libmkl_intel_lp64.dylib
$HOME/anaconda/lib/libmkl_intel_lp64.dylib $1
install_name_tool -change libmkl_intel_thread.dylib
$HOME/anaconda/lib/libmkl_intel_thread.dylib $1
install_name_tool -change libmkl_core.dylib
$HOME/anaconda/lib/libmkl_core.dylib $1

where $1 is: /Users/Uzwal/anac

[2016-04-23 12:19] jorcox commented on #36
Y

[2016-04-23 17:16] hlin117 commented on #6689
Try adapting the code from SelectKBest into SelectFromModel.

[2016-04-23 18:55] hlin117 commented on #6673
From what I gather from the conversation above, the interface should be able to do the following:

[code]

It's unclear to me how we would integrate `VarianceThreshold` into this framework (even though I did mention it above). `VarianceThreshold` is a standalone object; it isn't a callable. Would `np.var` be used in this case?

[2016-04-23 21:00] uacharya commented on #6699
I don't know may be i am doing it wrong but can you help me run this script you are giving me. A little bit of detail how should i run. I am using mac and pasting it directly in shell but don't seem to get right output. Help would be much appreciated @agramfort

[2016-04-23 21:16] nelson-liu commented on #6699
try this
[code]
also, see this comment for more https://github.com/scikit-learn/scikit-learn/issues/3606#issuecomment-54490326

[2016-04-23 21:19] uacharya commented on #6699
I figured it out and its working for IsolationForest thanks anyways. Now i am having trouble using SVM so i am following the same script formulating it in the way i am getting the error. So does it mean i can use the same script to resolve similar kind of error in the development version installed in anaconda ? Isn't there a single script that can resolve all of the issues ?

[2016-04-23 23:37] MechCoder commented on #6673
Well. in that case you need to wrap around  `VarianceThreshold().variances_` in a callable.

    def variance(X, y=None):
        return VarianceThreshold().fit(X).variances_

I don't see any other obvious solution.

PR welcome to allow `y=None` in the fit of `SelectKBest`, if you have the time.

[2016-04-23 23:48] hlin117 commented on #6673
@MechCoder: I proposed above having a wrapper around a function around other univariate statistics like [spearmanr](http://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.spearmanr.html) and [pearsonr](http://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.pearsonr.html). What did you think of that? `np.var` could also fit in this framework (if we apply `np.var` acr

[2016-04-23 23:52] MechCoder commented on #6689
`SelectFromModel` currently has a threshold parameter that removes the features if `coef_` and `feature_importances_` are smaller than a particular threshold.

That is done [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_selection/from_model.py#L202) . Now if we need to accept k as a parameter, you would need to modify the `_calculate_threshold` function in the same

[2016-04-24 00:02] hlin117 commented on #6689
My impression of this function was that if `k` were passed in, the
`threshold` parameter would be ignored. Is this not the case?

On Sat, Apr 23, 2016 at 6:53 PM, Manoj Kumar <notifications@github.com>
wrote:

--

*Henry Lin, Research AssistantM.S. Computer ScienceUniversity of Illinois
at Urbana-Champaign 2016847-769-8729 | halin2@illinois.edu
<halin2@illinois.edu>*

[2016-04-24 00:04] MechCoder commented on #6689
Yes. I was speaking about the internals.

I meant that the "threshold" used to filter out the features would be obtained from the minimum of the "top-k features"

[2016-04-24 00:12] MechCoder commented on #6673
Ah, I see. These are two independent issues. Could you update the issue title to suggest a new helper function that wraps around functions that take in `(1-D array, 1-D array)` /  `(1-D array, None)` as inputs?

[2016-04-24 01:42] hlin117 commented on #6673
@MechCoder: I updated the issue and its title. It seems that we might want to split this issue into two separate tickets.

[2016-04-24 01:50] #6699 closed

[2016-04-24 06:57] hongguangguo commented on #6670
ok, I can do it, use return_X_y?

[2016-04-24 07:16] snv2 opened #6703 "Log_loss is calculated incorrectly when only 1 class present"
#### Description
Log_loss uses LabelBibarizer to transform only original y_true, but not to transform y_pred.
Hence array y_true=[1,1,1]  is transformed into [0,0,0], while y_pred is unchanged. This makes the result to be quite different from expected.

#### Sample code
[code]
#### Expected Results
34.5395759923
34.5395759923

#### Actual Results
9.99200722163e-16
34.5395759923

#### Versions
Wind

[2016-04-24 12:17] jnothman commented on #6670
That seems to be consensus.

On 24 April 2016 at 16:57, hongguangguo <notifications@github.com> wrote:

[2016-04-24 13:25] hrushikesh198 opened #6706 "ValueError: numpy.dtype has the wrong size, try recompiling"
I am seeing `ValueError: numpy.dtype has the wrong size, try recompiling`  With `numpy-1.11.0 scikit-learn-0.17.1 scipy-0.17.0` on `OSX 10.11, Python 2.7.10` .
I installed those using `pip install numpy scipy scikit-learn --user -U`.

[code]

[2016-04-24 13:46] maniteja123 commented on #6706
By any chance, is any older versions of numpy installed ? It might be one reason this kind of error occurs.

[2016-04-24 13:50] hrushikesh198 commented on #6706
This is the output of  `$ pip freeze`
[code]

[2016-04-24 13:50] maniteja123 commented on #6706
If so can you try uninstalling and reinstalling numpy. Hope it helps.

[2016-04-24 13:52] hrushikesh198 commented on #6706
I have tried uninstalling and installing. No luck.

[2016-04-24 13:54] maniteja123 commented on #6706
Oh okay, just out of curiosity, is it the same versions of numpy and scipy when you try to import in python interpreter ?

[2016-04-24 14:03] hrushikesh198 commented on #6706
@maniteja123 You pointed in the right direction. THANKS!

[code]
with `python -v` when I `import numpy` it shows `import numpy # directory /System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/numpy
`. This is the older installation of numpy which I removed using `pip unistal`.

How can I completely remove this old `numpy`?

[2016-04-24 14:07] maniteja123 commented on #6706
I think it is okay to remove the old folder from the site packages directory. [The folder mentioned on ``numpy.__file__``. Maybe back it up just in case. Then check for the version again.

I mentioned the steps suggested in http://stackoverflow.com/a/29321298

[2016-04-24 14:11] maniteja123 commented on #6706
I am not accustomed to MacOS but I think removing the library folder from the ``System/Library..`` might help to sort out this issue.

[2016-04-24 14:11] hrushikesh198 commented on #6706
I have moved `numpy` and `scipy` directory from `/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/`. Now I am getting no `ValueError`.
Closing the issue.
Thank you.

[2016-04-24 14:11] #6706 closed

[2016-04-24 14:13] maniteja123 commented on #6706
Happy to know it solved the issue. But I suppose it would be better to delete them rather than move. And also stack overflow might provide a faster response sometimes than issue tracker :-)

[2016-04-24 18:15] GaelVaroquaux commented on #6699
Oh fuck. What a mess. Does this mean that our build procedure is not
working well under MacOSX?

[2016-04-24 19:43] agramfort commented on #6699
no idea. I've had to do this since I updated to "el capitan"

the issue has been reported on many other projects (caffe etc.)

[2016-04-25 00:27] soliz commented on #4033
Just got that error :)  Fun
ValueError: y_true and y_pred have different number of classes 5, 2

[2016-04-25 00:38] jnothman commented on #4033
@amueller, I don't think we have any other multiclass ranking metrics.
log_loss's second argument should be called y_score, not y_pred, to be
clear and consistent, too. There is no `classes` parameter in any metrics
atm, though the `labels` parameter to the precision/recall/fscore family
serves a similar purpose if, for instance, you're doing macro-averages, and
the current CV sample lacks a parti

[2016-04-25 02:06] soliz commented on #4033
[code]
[1 0 0 ..., 3 4 0]
[0 0 4 ..., 0 4 0]

[code]
[1 0 3 4 2]
[0 4 3 2 1]

[code]
(26825L,)
(26825L,)

[code]
<type 'numpy.ndarray'>
<type 'numpy.ndarray'>
---------------------------------------------------------------------------
`log_loss(y_pred, y_true)`
ValueError: y_true and y_pred have different number of classes 5, 2

[2016-04-25 06:06] saiwing-yeung commented on #6640
I was looking into this and I can create a PR if no one is working on this. In addition to setting the z-order and opacity, I also recommend:

1. removing the edge color of the markers to make the plot less busy.
2. giving the ellipses a border to make them more stand out.

[2016-04-25 06:09] saiwing-yeung commented on #6640
Forgot to attach the mock-up.

Also, I think changing the false positives from '.' to '*' makes the plot easier to read, given the above changes.

![lda_qda](https://cloud.githubusercontent.com/assets/12464429/14775113/1ec5daaa-0aef-11e6-9b4f-f9bdc15a3316.png)

[2016-04-25 06:10] nelson-liu commented on #6640
@saiwing-yeung sure, that seems reasonable. Not too sure about removing the edge color of the markers / giving the ellipses a border, so it would be great if you could include a comparison of those in your PR as well.

[2016-04-25 06:40] saiwing-yeung commented on #6640
How about I do the comparison here?

All plots have the these modifications: 1) modified ellipses z-order, 2) marker alpha, and 3) * for false positive (instead of .). The plot above has also both A) no-border marker and B) thicker-border ellipses. Here are three additional plots with A and/or B left out.

i) Base plot (mods 1, 2, and 3).
![star](https://cloud.githubusercontent.com/assets/12464429

[2016-04-25 06:59] agramfort commented on #6640
I would use a yellow line for both ellipses

[2016-04-25 07:52] ogrisel commented on #6694
Thanks for the report. We should make this a non-regression test for the new implementation of DP Gaussian Mixtures.

[2016-04-25 07:57] lesteve commented on #6687
Look like this has been fixed in https://github.com/cjlin1/libsvm/commit/745fdb02bf392b28a033921984901d24038472f7.

With the fix applied in svm.cpp, the segmentation fault goes away.

Is there some kind of policy to synchronize the libsvm code with upstream ?

[2016-04-25 08:09] hlin117 commented on #6633
I think we could close this issue.

For future use-related questions, please post to the scikit-learn mailing list:
scikit-learn-general <scikit-learn-general@lists.sourceforge.net>

[2016-04-25 08:36] ogrisel opened #6709 "Alternative parametrization for GaussianMixture covariance for faster inference"
By reading the new `GaussianMixture` code, I think it might be interesting to parameterize the full covariance models in terms of precision matrices instead of covariance matrices.

This would allow us to skip the call to `linalg.solver_triangular` in `_estimate_log_gaussian_prob_full` which is called both by the E-step and the `score_samples` / `score` methods.

Note that this change will not spe

[2016-04-25 08:39] ogrisel commented on #6709
Ping @tguillemot @xuewei4d @agramfort: WDYT?

In particular I have not checked the source of pomegranate but I wonder if @jmschrei does it this way or not.

[2016-04-25 08:41] ogrisel commented on #6709
I label this issue with the 0.18 milestone because if we do the change it will impact the public API. As `GaussianMixture` has been merged before 0.17 and 0.18 we will not have to implement complex backward compat if we do the change before the 0.18 release.

[2016-04-25 09:12] #6633 closed

[2016-04-25 09:18] tguillemot commented on #6709
Promegranate doesn't seems to store the covariance in that way. It stores explicitly the covariances + the precision matrices as d^2 arrays and the determinant.
The precision matrix is computed with `numpy.linalg.inv` as you can see [here](https://github.com/jmschrei/pomegranate/blob/master/pomegranate/distributions.pyx#L2268).

In other gmm libs, it's the covariance matrix which is generally stor

[2016-04-25 09:20] ogrisel commented on #6709
I think the opposite: you need the precision matrix to compute the (log-)likelihood of new samples w.r.t. a multivariate Gaussian distribution.

[2016-04-25 09:22] ogrisel commented on #6709
I can have a look at that if you want.

I would experiment with the switch to precision matrix first and run benchmarks (both for `fit`, which should not be impacted significantly and for `score_samples` should should be much faster because we could skip the call to inverse the covariance matrices to precision matrices to compute the likelihoods).

[2016-04-25 09:23] ogrisel commented on #6709
That would be great thanks. I would prefer to make a decision on this issue prior to the 0.18 release.

[2016-04-25 09:31] tguillemot commented on #6709
I was thinking about the visual point of view in fact (which is clearly not the main use of the GMM).

We will see that after the test of the GMM but for the VBGMM and DPGMM it could be also interesting to have a look a that.

[2016-04-25 09:32] TomDLT commented on #6703
Thanks for reporting this. Do you want to propose a fix?

[2016-04-25 09:50] ogrisel commented on #6709
BTW, if decide to store the determinant, I think we should instead store logdet for numerical stability reasons (the sign of the determinant is guaranteed to be `+` as the covariance / precision matrices are symmetric positive definite).

[2016-04-25 10:06] tguillemot commented on #6709
Of course ;)

[2016-04-25 11:10] jnothman commented on #6703
Is this not a duplicate of #4546 and closely related to #4033?

[2016-04-25 11:56] jnothman commented on #6045
I think we've generally been avoiding making `DictVectorizer` too complex. It was developed as a bare-bones general solution after `text.CountVectorizer` blew out. I personally think this is reasonable functionality; but once we've introduced it into `DictVectorizer`, we need similar support in `FeatureHasher`.

[2016-04-25 13:05] tguillemot commented on #6709
After reflections, I'm not so sure of the efficiency of that solution.

Maybe I'm wrong but `linalg.solve_triangular` has a quadratic complexity and is numerically more stable than directly compute `inv(A)X`.

By comparing complexity during the training : this solution will add an inverse computation per components at each iteration.
For the complexity during a call to score : this solution avoid

[2016-04-25 13:12] ogrisel commented on #6709
I never intended to use `linalg.inv`. My suggestion was to also use Cholesky decomposition of the responsibility weighted empirical covariance matrices in the M-step and then call `solve_triangular` invert that decomposition to get the Cholesky decomposition of the precision matrices for use in the E-step (and `score_samples`).

It that clearer?

[2016-04-25 13:14] ogrisel commented on #6709
That way we only need to store the Cholesky decomposition of the precision matrices.

[2016-04-25 13:16] ogrisel commented on #6709
And `logdet(C)` is `-log(sum(diag(L)))` where `L` is the Cholesky decomposition of `P`, the precision matrix.

[2016-04-25 13:20] ogrisel commented on #6709
I think that sklearn GaussianMixture with full covariance is faster than pomegranate for large `n_features` precisely because we use `linalg.solve_triangular` on the result Cholesky decomposition instead of `linalg.inv`. I do not intend to loose that optimization.

[2016-04-25 13:40] tguillemot commented on #6709
Yes I have understood. Nevertheless by computing the invert of the Cholesky decomposition using `linalg.solve_triangular` you still do a useless inversion for me.

That's true but we can also just keep the Cholesky of the covariance.

If you are ok I will try the two option to be sure.

[2016-04-25 14:08] IraKorshunova opened #6711 "kaggle AUC != sklearn AUC"
I've written code to compare Kaggle's and sklearn's ROC AUC, and they appear to be very different.
The code to reproduce my results you can find here:
[https://github.com/IraKorshunova/metrics_test](https://github.com/IraKorshunova/metrics_test)
It gives:
[code]
AUC package in R gives the same score as Kaggle.

[2016-04-25 14:13] jnothman commented on #6688
Btw, I think this is a duplicate of #3684

[2016-04-25 14:13] jnothman commented on #6688
Closing as duplicate, actually.

[2016-04-25 14:13] #6688 closed

[2016-04-25 14:14] jnothman commented on #4864
Appears to be a duplicate of #3864. Would someone like to summarise, there, the discussion here?

[2016-04-25 14:14] #4864 closed

[2016-04-25 14:17] jnothman commented on #3864
Duplicate issues in #4864, #6688, perhaps #6711. It seems that reverting #3268 might be the best solution (as discussed at #6693). As @jblackburne states there:

This is only somewhat true given that the main source of data for metrics is the output of our estimators without the opportunity for tweaking, and that, as @GaelVaroquaux says above:

[2016-04-25 14:17] jnothman commented on #6711
May be due to #3864.

[2016-04-25 14:49] bmcfee opened #6713 "NearestNeighbor exception with metric='seuclidean', algorithm='ball_tree'."
#### Description

`sklearn.neighbors.NearestNeighbor` throws exceptions at me when I use `metric='seuclidean'`.  This seems to come down to a problem within `BallTree`, as it works normally if I set `algorithm='brute'`.

#### Steps/Code to Reproduce
[code]
#### Expected Results

It should work.

#### Actual Results

[code]

#### Versions

[code]

[2016-04-25 15:03] ogrisel commented on #6709
At each M-step we need to update the parameters of the Precision matrix from the empirical covariance hence we need to invert it (actually invert its Choleskly decomposition).

To sum up, in master we currently have:

- M-step: compute covariance matrices and store them on the estimator
- E-step (and `score_samples`): compute `cholesky` + `triangular_invert` for each covariance matrix to be able t

[2016-04-25 15:54] amueller commented on #6713
duplicate of #4520, methinks.

[2016-04-25 15:56] amueller commented on #6711
or interpolation? but probably not. Would be nice to know the definition of AUC that kaggle uses without diving into the code...

[2016-04-25 15:57] bmcfee commented on #6713
quite right -- sorry for the dupe!

[2016-04-25 16:06] Xndr7 commented on #5589
I am looking to contribute to this project and, as a beginner, is this a good issue to start with? or has it been solved already?
Cheers!:)

[2016-04-25 16:08] rvraghav93 commented on #5589
@Xndr7 Yes please go ahead!

[2016-04-25 16:12] IraKorshunova commented on #6711
it's here: [https://github.com/benhamner/Metrics/blob/master/Python/ml_metrics/auc.py](https://github.com/benhamner/Metrics/blob/master/Python/ml_metrics/auc.py)

[2016-04-25 16:34] jmschrei commented on #6709
As was mentioned before, pomegranate stores both the covariance matrix and the inverse covariance matrix. It stores sufficient statistics for the mean and covariance matrix as it sees parts of the data (using summarize), and uses those to calculate the covariance matrix, the inverse covariance matrix, and the log of the determinant of the covariance matrix in the M step. In the E step it uses thes

[2016-04-25 16:39] ogrisel commented on #6709
My point was about: https://github.com/jmschrei/pomegranate/blob/master/pomegranate/distributions.pyx#L2268 : instead of computing and slogdet (which does some kind of decomposition internally) + a `linalg.inv`, you could do a Cholesky decomposition + `linalg.solver_triangular`. To get the logdet you can sum the logs of the diagonal of the results of the Cholesky decomposition.

[2016-04-25 16:49] jmschrei commented on #6709
Oh, that's interesting. I think that you're certainly right that calculating the Cholesky decomposition for each E step is a bit overkill when it could be stored.

[2016-04-25 17:08] qmaruf commented on #6689
`return sorted(importances, reverse=True)[k-1]` should do the work. Right?

[2016-04-25 17:11] hlin117 commented on #6689
@qmaruf We need to follow the framework already laid out by the source code. Please see the source code for `SelectKBest` and `SelectBestModel`.

[2016-04-25 17:12] hlin117 commented on #6689
On another note, `sorted` is not a numpy vectorized function. It wouldn't perform well for arrays with many features.

[2016-04-25 17:52] jakevdp opened #6715 "check_estimator is not sufficiently general"
I've been writing a lot of scikit-learn compatible code lately, and I love the idea of the general checks in `check_estimator` to make sure that my code is scikit-learn compatible. But in nearly all cases, I'm finding that these checks are not general enough for the objects I'm creating (for example: [`MSTClutering`](https://github.com/jakevdp/mst_clustering), which fails because it doesn't suppor

[2016-04-25 17:54] fabioticconi commented on #5489
I just had this problem, too, on a CentOS system. @dballesteros7 fix worked.

[2016-04-25 18:20] maniteja123 commented on #6673
Hi, just a small question. According to the PR description, it is mentioned that ``SelectKBest`` needs array of ``(scores, pvalues)``. But as @MechCoder mentioned above, it does support only scores right ?
Also regarding using ``np.var``, is it along each feature as in Variance threshold or is the function to be directly applied as in Issue 2 ?
Sorry if I am missing something obvious here.

[2016-04-25 18:41] qmaruf commented on #6689
@hlin117 Please check, whether the implementation is ok or not. [Here](https://github.com/qmaruf/scikit-learn/commit/ea25aa3db140acd56d12e6ca801489e4c0b26667) is the code.
Besides, while running `nosetests -v sklearn/`, I get the following error. How can I fix this?

[2016-04-25 18:56] hlin117 commented on #6689
Did you install and make the package?

On Mon, Apr 25, 2016 at 1:42 PM, Quazi Marufur Rahman <
notifications@github.com> wrote:

--

*Henry Lin, Research AssistantM.S. Computer ScienceUniversity of Illinois
at Urbana-Champaign 2016847-769-8729 | halin2@illinois.edu
<halin2@illinois.edu>*

[2016-04-25 20:22] hlin117 commented on #6673
@maniteja123 Yes, there's a code path in master that supports only scores (with some small modifications needed.)

`np.var(X, axis=0)` computes the variance along each feature. I omitted that from the PR description.

[2016-04-26 01:17] maniteja123 commented on #6673
@hlin117 thanks for the explanation. Just one more question. Then I suppose ``mutual_info_regression`` should be able to work with the current master since it takes X and y in fit. But in [here](https://github.com/scikit-learn/scikit-learn/issues/6673#issuecomment-213805625), you mentioned that ``y=None`` in fit. Thanks again and sorry for pestering so much.

[2016-04-26 01:44] jnothman commented on #5973
I consider this to replicate the wishes of #2969 and #5776, seeing as we have no other fused type use-cases so far. I am closing.

[2016-04-26 01:44] #5973 closed

[2016-04-26 02:58] hlin117 commented on #6673
You're right, `mutual_info_regression` is supervised. I'll update that comment.

[2016-04-26 03:27] badbye commented on #4931
Not fix yet in 1.7.1 version, just comment to remind.😃

[2016-04-26 05:20] MechCoder commented on #6689
Please open a pull request

[2016-04-26 05:30] hlin117 commented on #6689
@qmaruf You have your code on your own fork, but you didn't open up a PR. Open up a PR so the package managers can officially review your code.

[2016-04-26 05:36] jnothman commented on #6689
Also please add tests.

[2016-04-26 05:37] qmaruf commented on #6689
Ok. Actually, I wanted to make sure that the procedure is ok before opening a PR.

[2016-04-26 05:42] hlin117 commented on #6689
@MechCoder Do you think that this issue should be given the `easy` label?

[2016-04-26 05:46] MechCoder commented on #6689
@qmaruf The "procedure" involves opening a PR ;)

@hlin117 Maybe not, I just removed it.

[2016-04-26 05:47] hlin117 commented on #6689
Thanks for removing it, @MechCoder.

How do you feel about reusing the code from `SelectKBest` into this pull request? I'd like to reduce the code duplication as much as possible.

[2016-04-26 05:48] jnothman commented on #6689
I suggest you submit a PR from what you've got, work on testing, and wait for further redviews.

[2016-04-26 09:26] mblondel commented on #6715
Agreed that the estimator checks are not completely ready yet.

The plan is to address this using estimator tags
https://github.com/scikit-learn/scikit-learn/issues/6599

[2016-04-26 09:47] jnothman commented on #6715
The point is, perhaps, to make clearer at scikit-learn-contrib that
estimator_checks is a work in progress. That's why I suggested we note at
scikit-learn-contrib that necessary failures should be reported as
scikit-learn issues.

On 26 April 2016 at 19:26, Mathieu Blondel <notifications@github.com> wrote:

[2016-04-26 13:30] jnothman opened #6718 "Cythonized expected_mutual_information disagrees with former version"
[This SO post](http://stackoverflow.com/questions/36865542/adjusted-mutual-information-scikit-learn) appears to highlight a long-standing bug introduced in 9cf5f00eb20cefbd9160ed8ac6be76ec1c8ea51e, shortly after `expected_mutual_information` was rewritten in cython. See #1334

Using the SO poster's data:
[code]

output prior to 9cf5f00eb20cefbd9160ed8ac6be76ec1c8ea51e: 0.000307845374016.

output s

[2016-04-26 13:36] jnothman commented on #6718
Huh. Now I can't replicate it. Might not be due to 09714bc; might have been a recompilation problem.

[2016-04-26 17:11] mitchellsuter commented on #6298
Came across this thread when searching for the exact application. Would love to see `classes_` with GridSearchCV

[2016-04-26 17:38] brooksjd opened #6719 "Bug in LogisticRegressionCV when using the liblinear solver"
There seems to be a bug with LogisticRegressionCV when using the liblinear solver. Namely, if I train an LR model on a set of data, that model has vastly different performance than a model trained on the _same dataset_, but with a different ordering of columns. I've demonstrated the issue in this code snippet:

<pre><code>
import numpy
from sklearn.datasets import load_iris
from sklearn.linear_mod

[2016-04-26 17:46] Xndr7 commented on #5589
@rvraghav93 since this is my first contribution here, if you could guide me about the procedure with respect to this issue and also a few hints as to how to proceed, it would be much appreciated.
PS:I have read the docs related to contributing and documentation and also have seen the link Gael posted above.

[2016-04-26 17:47] GaelVaroquaux commented on #6719
In the iris dataset, I seem to remember that Y is ordered: ie all class
zero comes first, followed by all class 1, ... Are you sure that you are
not giving very few elements of one class during training?

[2016-04-26 18:47] brooksjd commented on #6719
No I'm taking every third example to make the test set to avoid this:
[code]

Also, I'm demonstrating this problem with the iris_dataset, but its been consistent with every dataset I've tested so far. Additionally, note that rand_train and train_X have the exact same ordering of examples, just a different ordering of columns, so they result in drastically different models.

[2016-04-26 20:31] maniteja123 commented on #6298
Hi, it seems #6449 is a WIP attempt to address this issue.

[2016-04-26 20:49] MechCoder opened #6721 "`order=None` is not documented in sklearn.utils.validation"
#### Description
NumPy's default order is "K", which means if copy is False, nothing is guaranteed. If copy is True, the order of the copied array is kept as close as possible to the original array. This should be documented in `check_array`. See https://github.com/numpy/numpy/pull/7525

[2016-04-26 21:52] uacharya opened #6722 "Why does Mulitnomail Logsitic Regression outputs n classes coefficients instead of n-1 classes coefficients ?"
Just a question understanding Multinomial Logistic Regression in sklearn. When i read how multinomial regression is performed in wikipedia, i saw it runs k-1 against the pivot class(base class) binary classifiers where k is number of classes. But while using sklearn implementation of multinomial logistic regression when i try to print coef_ for classifier, i get n coefficient vector instead of n-1

[2016-04-26 23:07] MechCoder opened #6723 "LabelBinarizer single label case"
1. It should be documented that in case of a single label, doing a `fit_transform` returns an array of negative labels, i.e the majority class is set to `neg_label` by default.
2. Also

        lb = LabelBinarizer()
        lb.fit([0])
        lb.transform(["p"])
        array([[0]])

this seems to be a bug to me.

[2016-04-27 07:38] saiwing-yeung commented on #6640
That's a good idea. I made two prototypes, either setting the line width of the border to 2 or 1 (default).

Line width = 2
![star ellipses-border-y2](https://cloud.githubusercontent.com/assets/12464429/14844895/4e51c3e8-0c8d-11e6-92f4-34c74113bce9.png)

Line width = 1 (default)
![star ellipses-border-y1](https://cloud.githubusercontent.com/assets/12464429/14844900/55f7192c-0c8d-11e6-8400-c96957f7

[2016-04-27 07:41] agramfort commented on #6640
+1 for line 2

On Wed, Apr 27, 2016 at 12:38 AM -0700, "Saiwing Yeung" <notifications@github.com> wrote:

That's a good idea. I made two prototypes, either setting the line width of the border to 2 or 1 (default).

Line width = 2

Line width = 1 (default)

I think I prefer the one with a line width of 2 a little better. But I think both works.

—
You are receiving this because you commented.
Reply

[2016-04-27 08:00] agramfort commented on #6719
running your code I get:

Accuracy of original: 1.0
Accuracy of permuted set: 1.0

so I don't see any bug.

[2016-04-27 08:23] tguillemot commented on #6074
Fix with @6666.
@TomDLT can you close this issue.

[2016-04-27 08:23] tguillemot commented on #6548
Fix with @6666.
@TomDLT can you close this issue.

[2016-04-27 09:15] #5090 closed

[2016-04-27 09:16] jnothman commented on #5090
Fixed in #6671

[2016-04-27 11:33] #6074 closed

[2016-04-27 14:01] #6387 closed

[2016-04-27 15:49] TomDLT commented on #6722
As the probabilities of each class must sum to one, we can either define `n-1` independent coefficients vectors, or `n` coefficients vectors that are linked by the equation `\sum_c p(y=c) = 1`.

The two parametrization are equivalent.
See also in Wikipedia [Multinomial logistic regression - As a log-linear model](https://en.wikipedia.org/wiki/Multinomial_logistic_regression#As_a_log-linear_model).

[2016-04-27 17:35] planetmarshall opened #6725 "Normalization in SVD solver for LinearDiscriminantAnalysis can produce large scaling coefficients"
#### Description

The SVD solver contains the following code

[code]

This can result in very large scaling coefficients if std contains small values not exactly zero.

#### Steps/Code to Reproduce

Example:
[code]

[code]

The scaling value resulting from the normalization could ( and does ) result in poor classification performance. I haven't as yet checked this with other implementations to com

[2016-04-27 17:48] uacharya commented on #6722
Ok i got it. But still these probabilities are not the expected probabilities of a class given the coefficient right ? They are still the relative probabilities ?

[2016-04-27 18:16] TomDLT commented on #6722
These probabilities **are** the expected probabilities of a class given the coefficients.
They can be computed with `predict_proba`:
[code]

[2016-04-27 18:31] uacharya commented on #6722
Sorry , i formulated the question wrongly. I mean for b1 in the coefficient vector for class 1, does e to the power b1 give the increase in the logged outcome of a class 1 in multinomial case. I know it does in binomial logistics regression. Sorry if i am being too asky but i want to interpret the coefficient's influence on the classes,therefore i am clarifying myself.

[2016-04-27 18:56] #6713 closed

[2016-04-27 19:33] DSLituiev opened #6726 "[architectural suggestion] Move random number generator to initializer in model_selection._split"
This suggestion concerns random shuffling in the new `model_selection` module.

I faced a challenge in the following set up. I do a grid search with CV, and I want the CV reshuffling to be consistent for each parameter I am looping through. Now it seems impossible to do with `model_selection.KFold`, as `copy.copy()` and `copy.deepcopy()` lead to an error when called in following sequence:

[code]

[2016-04-27 19:37] DSLituiev commented on #6726
Note that the functionality I describe is already available in `cross_validation` module:

[code]

[2016-04-27 19:51] TomDLT commented on #6722
I am not sure to get what you ask, but again, in Wikipedia [Multinomial logistic regression - As a log-linear model](https://en.wikipedia.org/wiki/Multinomial_logistic_regression#As_a_log-linear_model), it is clear that for a class `c`, we have a probability `P(y=c) = e^{b_c.X} / Z`. This is very similar to [the binary case](https://en.wikipedia.org/wiki/Logistic_regression#log-linear_model).
I ho

[2016-04-27 20:39] uacharya commented on #6722
I will give one more try. For example: dataset has 3 features x1 ,x2 and x3 and three are three classes 1,2,3. So if the model generates classifier for class 1 with the coefficient vector as {b1,b2,b3} and similarly different classifiers and set of vectors for class 2 and 3 . Now does that mean if b1 is positive,then it increases the probability of a new instance belonging to class 1 ? And does it

[2016-04-27 22:06] planetmarshall commented on #6725
R handles this by raising an error. Using the `lda` function from the R MASS library on the same data:

[code]

[2016-04-27 22:31] TomDLT commented on #6722
Please consider the left plot in [this example](http://scikit-learn.org/dev/auto_examples/linear_model/plot_logistic_multinomial.html).
[![example](http://scikit-learn.org/dev/_images/plot_logistic_multinomial_001.png)](http://scikit-learn.org/dev/auto_examples/linear_model/plot_logistic_multinomial.html)

In this example there are 3 classes a, b, c and 2 features `x0`, `x1`. The class is noted `y

[2016-04-27 22:40] jnothman commented on #6722
This is not an issue. It belongs on the mailing list or, perhaps, on stats.stackexchange.com

[2016-04-27 22:40] #6722 closed

[2016-04-27 23:32] MechCoder commented on #6689
Just a FYI, I personally would love this feature as well for a class project. I am using a `RandomForest` as a preprocessing step to do feature selection and I would like to tune the number of features. Right now I am doing it manually.

[2016-04-28 00:36] blucena commented on #4223
With respect to precision_recall_curve() - since we are dealing with empirical data (not a theoretical distribution), there are 3 possibilities as to what the most extreme point of the curve should be (i.e. the point with the highest, most sensitive threshold)

1) The unique point with the highest score is "in-class".  Then recall = 1/(number of in-class cases) and precision = 1 for that threshold

[2016-04-28 02:40] hongguangguo commented on #6723
Add warning in code when single label or add lables option?

[2016-04-28 02:41] zhugejun commented on #5046
Same problem. Don't know how to deal with that.

[2016-04-28 02:42] perhapszzy opened #6728 "Bug in loss function in SquaredEpsilonInsensitive?"
https://github.com/scikit-learn/scikit-learn/blob/acdaeaf5dd2577855b09a23862489d7b10faeaa3/sklearn/linear_model/sgd_fast.pyx#L322

Shouldn't this line be ```z < -self.epsilon``` (add the "-" before self.epsilon)

[2016-04-28 02:48] MechCoder commented on #6723
It would be really helpful of you to completely address https://github.com/scikit-learn/scikit-learn/pull/6714 first. (Because there are a huge number of pull requests to review)

[2016-04-28 03:35] ulyssesrr commented on #6628
While doing some (unusual) experimentation I got the same error when using IsotonicRegression with `cross_val_predict(..., n_jobs=-1)` disabling parallelism solved it.

[2016-04-28 03:58] jnothman commented on #6723
I think this is a strange way to describe this behaviour. The case of a single label is a bit weird and I'm not sure to what extent it needs to be documented.

However, the binary case should be better documented: the positive label is given to the class with the greater value (i.e. later in lexicographical sort order).

Also the `parameters` and `returns` description in `fit_transform` are incorr

[2016-04-28 04:00] jnothman commented on #6723
Regarding the second issue, see #3483, which I assume is open for adoption.

[2016-04-28 05:54] lesteve commented on #6628
This is  more of a problem indeed. I'll open a PR to fix this.

[2016-04-28 06:33] jskDr commented on #5046
It was solved now at least to me. You can try with new numpy 11.
On Wed, Apr 27, 2016 at 10:42 PM gjzhu <notifications@github.com> wrote:

--

Sungjin (James) Kim, PhD

Postdoc, CCB in Harvard

sungjinkim@fas.harvard.edu

[Web] http://aspuru.chem.harvard.edu/james-sungjin-kim/

[Linkedin] https://www.linkedin.com/in/jamessungjinkim

[Facebook] https://www.facebook.com/jamessungjin.kim

[alternativ

[2016-04-28 07:24] saiwing-yeung commented on #6640
If there are no other opinions I will do it with a yellow line with width = 2 and create a PR in a day or so.

[2016-04-28 08:14] #6628 closed

[2016-04-28 10:18] tguillemot commented on #6709
You can find a comparison of the different implementations here : [ipython-notebook](https://github.com/tguillemot/gaussian_mixture_benchmark/blob/master/implementation_comparison.ipynb).
If you want to check the different implementation, you can find : [here](https://github.com/tguillemot/scikit-learn/tree/GMM-compare/sklearn/mixture)

Without any surprise, use Cholesky decomposition of the preci

[2016-04-28 12:03] raghavrv opened #6731 "[RFC / SLEP?] Enhance scorer (objective) interface and deprecate the `greater_is_better` attr."
I have a few (probably stupid) suggestions to get this discussion started -

* Rename `make_scorer` to `make_objective`, deprecate the `greater_is_better` / `scorer` attributes and instead use `loss_func` and `score_func` and document it well to note that `loss_func` is minimized while `score_func` will be maximized. (If both are given, throw an error)

[code]

* In `make_objective`, when loss fun

[2016-04-28 13:19] meixingdg commented on #6601
I think would be really helpful for doc readability. Can I help out with this?

[2016-04-28 14:03] TomDLT commented on #6726
What about the `random_state` parameter?
[code]

[2016-04-28 14:05] MechCoder commented on #6601
Yes please!

[2016-04-28 14:12] meixingdg commented on #6601
I'm new to contributing (though certainly not new to scikit-learn). How do I assign this to myself, and also when would this issue be considered closed, since there are countless equations throughout all the docs?

[2016-04-28 14:38] MechCoder commented on #6601
Oh, you could do it on a file-by-file or module-by-module basis. You could just claim that you are working on that particular module here.

[2016-04-28 15:47] zygmuntz opened #6733 "RandomForestClassifier + random_state / sample_weights"
When using `RandomForestClassifier` with `random_state` set, I get the exact same predictions whether passing sample weights to `fit()` or not. Is this to be expected?

[2016-04-28 15:51] nelson-liu commented on #6733
It could conceivably happen; really depends on what your data and what your weights are.

[2016-04-28 16:22] #6625 closed

[2016-04-28 16:39] thomasaarholt opened #6734 "Re-incorporate `residues_` in LinearRegression"
Please see the original issue #5313 and PR #5452.
I'd like to make a case for re-opening this and considering documenting it instead of deprecating it. It is currently being deprecated because it returns an empty array in some [cases](https://docs.scipy.org/doc/numpy/reference/generated/numpy.linalg.lstsq.html).

The methods provided by [`linear_model.LinearRegression`](http://scikit-learn.org/dev

[2016-04-28 20:36] brooksjd commented on #6719
Updating scikit seemed to fix the problem.

[2016-04-28 20:36] #6719 closed

[2016-04-28 22:46] dbricare commented on #6647
I came across this issue from a google search. I had the same problem but was able to resolve it.

I believe this is an issue with the data fed into the estimator. Check the data array [`flags`](http://docs.scipy.org/doc/numpy-1.10.1/reference/generated/numpy.ndarray.flags.html)  to make sure `C_CONTIGUOUS : True`. If the value is False, use [copy](http://docs.scipy.org/doc/numpy-1.10.1/reference/

[2016-04-28 23:01] dbricare commented on #6647
I can reproduce @madclam error with a Fortran-contiguous array:
[code]

[code]

A C-contiguous array does not raise an error:
[code]

Also, without warm_start, an F-contiguous array does not raise an error:
[code]

[2016-04-29 00:46] MechCoder commented on #6723
I agree it is weird and ideally, we should raise an error. But that breaks code in some estimators where it is OK to have `y` with a single class.

Just curious as to why we chose to return an array of `(n_samples X 1)` instead of `(n_samples X 2)` when `LabelBInarizer` was born?

[2016-04-29 00:54] MechCoder commented on #6723
Also, I was quoting @arjoly from [here](https://github.com/scikit-learn/scikit-learn/issues/4546#issuecomment-92247015) (without his permission)

[2016-04-29 15:12] tosandip commented on #6522
I am having the same issue.

[2016-04-29 18:07] ArtyomKaltovich opened #6736 "AttributeError: module 'sklearn' has no attribute 'datasets'"
I installed it by pip install sklearn. And this directory exist in site-packages dir
localhost.root.#pts/0 /usr/lib64/python3.5/site-packages/sklearn: ls -l
total 704
drwxr-xr-x 3 root root   4096 Apr 23 03:12 __check_build
-rw-r--r-- 1 root root   3036 Apr 23 03:12 __init__.py
drwxr-xr-x 2 root root   4096 Apr 23 03:12 __pycache__
-rw-r--r-- 1 root root    895 Apr 23 03:12 _build_utils.py
-rwxr-x

[2016-04-29 18:11] ArtyomKaltovich commented on #6736
I got it
import sklearn.datasets

[2016-04-29 18:11] #6736 closed

[2016-04-29 19:40] amueller commented on #4577
Actually, the pascal score is just pretty wrong:
http://pages.cs.wisc.edu/~jdavis/davisgoadrichcamera2.pdf

We can implement it as an option, but we should probably do the achievable interpolation, as explained in the paper above.

[2016-04-29 19:56] amueller opened #6737 "Average precision documentation lacking"
I think the documentation of average precision in the user guide could be improved.
It should at least say that it is between 0 and 1, that higher is better, and that with random predictions, the AP is the fraction of positive samples.

[2016-04-29 22:08] #6721 closed

[2016-04-30 01:41] xyguo commented on #6675
Is there any one working on this issue? If not, I'd like to take it.

Basically I have two questions:

1. Since there is already an `boxcox` from SciPy, what's the main purpose we re-implementing it here? Extending to multi-dimension arrays?

2.  Which file should the function be added to, the `preprocessing/data.py`?

[2016-04-30 01:47] maniteja123 commented on #6675
Hi, I was interested working on this but was waiting for a final opinion on the multivariate approach and not just about extending to multi dimensional arrays. If you don't mind, can you please work on other open issue. In case I am unable to proceed, will let you know about it. Thanks.

[2016-04-30 06:37] robkoper commented on #2688
This is already an old topic, but FA needs rotation methods and it is still not implemented in scikit learn. Are there any concrete plans to implement the code above?

[2016-04-30 07:28] agramfort commented on #2688
I don't see any objection to add such a feature as it's not much code. The
biggest job is to write a convincing example and the doc.

[2016-04-30 09:41] jnothman commented on #6731
Huh? I don't get it. Of all the problems with the scoring API, I don't see what's being solved here. Does this bifurcation of `cross_val_score` have to apply to `GridSearchCV` or do we there just have `best_score_`/`grid_scores_` and `best_loss_`/`grid_losses_` alternately available?! For what was a usability problem (#2439), I think this would be a real detraction to both maintainability and usab

[2016-04-30 10:18] mvds314 commented on #2688
Examples and documentation are included in the factor rotation [code](https://github.com/mvds314/factor_rotation/blob/master/README.md) I put on Github. Since a whole bunch of ration methods are supported, it is a bit more code though.

[2016-04-30 14:33] rvraghav93 commented on #5023
@davidthaler @lvrzhn Could I take up this issue?

[2016-04-30 14:49] jnothman commented on #5023
it looks like the PR at #6028 had been accidentally closed. I've reopened it on the basis that there was no indication it should be closed. @lvrzhn are you still intending to fix it up?

[2016-04-30 14:53] rvraghav93 commented on #5023
Ah! Sorry I missed that PR!

[2016-04-30 15:11] Kodiologist opened #6738 "Suggestion: Add support for unpenalized linear regression"
`LinearRegression` provides unpenalized OLS, and `SGDClassifier`, which supports `loss="log"`, also supports `penalty="none"`. But if you want plain old unpenalized logistic regression, you have to fake it by setting `C` in `LinearRegression` to a large number, or use `Logit` from `statsmodels` instead.

[2016-04-30 19:28] rvraghav93 commented on #5589
Apologies for the delay in response!

You need to make an example where you show how nested cross-validation is done using our new `model_selection`'s cross-validation objects. (which are from 0.18 not tied to data and hence can be passed to grid search/`cross_val_score` without having to worry about the size of data used in the inner loops).

I'm not sure if this would genuinely help you or just

[2016-04-30 20:47] bjlkeng commented on #5975
Any updates on this issue?  I'd like to see a Poisson regression added into `linear_models` so I don't have to venture outside of using `sklearn`.  If no one is actively working at it, I can take a stab at implementing it.

[2016-05-01 01:08] DSLituiev commented on #6726
I do use `model_selection`. This is actually a trick I am using now. But it looks more like a trick than a good practice. When I need different random states, I have to specify them now every time. The seed does not depend on data `y`, and I see no reason not to factor it out into the initializer.

[2016-05-01 08:02] agramfort commented on #5975
no one AFAIK.

don't hesitate to give it a try and share a WIP implementation.

[2016-05-01 12:17] thenomemac commented on #5975
I was going to work on this and am still going too. If I do it though I
need a clean way to add offsets to the api. I was thinking about adding an
offset kwarg and the default could be None and throw a warning if loss
isn't poisson.  I mainly use poisson for insurance modeling where the
offset is log(earned exposure) I know from experimentation and distribution
theory that for sparse count data yo

[2016-05-01 18:11] bjlkeng commented on #5975
@thenomemac Do you have a WIP implementation that I could take a look at?

For offsets, couldn't you just require the user to divide their counts through by the offset/exposure to make the "y" value a rate instead of a count (https://en.wikipedia.org/wiki/Poisson_regression#.22Exposure.22_and_offset)?  R's GLM package has a great interface for specifying models (including specifying offsets) but n

[2016-05-01 21:56] ageron commented on #3956
For what it's worth, I use this hack to work around this issue:

[code]

Then I can use a `DataLabelEncoder` in a `Pipeline`. I agree that a better solution would be to improve `OneHotEncoder`, though.

[2016-05-02 01:24] ssktotoro commented on #6514
@maniteja123 are you still working on this?  I've made fixes/ have compiled html for it.

[2016-05-02 02:43] tomtung opened #6740 "K-Means: Should subtract X_means from initial centroids iff it's also subtracted from X"
#### Description

The bug happens when X is sparse and initial cluster centroids are given. In this case the means of each of X's columns are computed and subtracted from init for no reason.
#### Steps/Code to Reproduce

[code]
#### Expected Results

Both asserts should pass.
#### Actual Results

The second assert fails.
#### Versions

Darwin-15.4.0-x86_64-i386-64bit
Python 2.7.11 (default, Jan 22

[2016-05-02 03:07] maniteja123 commented on #6514
Hi, I haven't continued on it because I couldn't properly build the compiled docs on my system. If you don't mind, could you try to pull my branch in #6516 and see if it correctly solves. If not, please feel free to send a new PR and I will close the old PR. Thanks.

[2016-05-02 03:10] ayanamirei00 opened #6742 "Number of thresholds of sklearn.metrics.precision_recall_curve"
#### Description

The output of the thresholds of sklearn.metrics.precision_recall_curve is different than expected (also it is different from that of roc curve, where all probs are used). In the following example, only 3 thresholds are returned, why 0,1 is not used ?
I am unsure if it is a usage question.
#### Steps/Code to Reproduce

following the example [here](http://scikit-learn.org/stable/mo

[2016-05-02 03:19] jnothman commented on #6742
This is expected behaviour. See the documentation, which says thresholds has "shape = [n_thresholds <= len(np.unique(probas_pred))]". Redundant points are not reported. And you don't have scores 0 and 1 in your data.

[2016-05-02 03:19] #6742 closed

[2016-05-02 08:17] mblondel commented on #6728
Agreed. PR welcome!

[2016-05-02 08:18] mblondel commented on #6738
What's the problem with that approach?

[2016-05-02 08:31] mblondel commented on #6711
I think small differences are to be expected although here the difference seems large.

BTW, in our unit tests, we test our implementation against this alternative implementation:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/tests/test_ranking.py#L87

[2016-05-02 08:48] IraKorshunova commented on #6711
The alternative gives AUC, which is very close to Kaggle's:
[code]

[2016-05-02 09:29] mblondel commented on #6711
Could you plot the ROC curve?

[2016-05-02 09:54] IraKorshunova commented on #6711
![figure_1](https://cloud.githubusercontent.com/assets/3956298/14951912/87e18616-105c-11e6-9d61-84db3473fe3d.png)

[2016-05-02 13:12] Kodiologist commented on #6738
I assumed that it's inexact and slower than a direct implementation of unpenalized logistic regression. Am I wrong?

I notice that setting `C` too high, as in the following, will cause `LogisticRegression.fit` to hang. But I don't know if this is a bug or just an inherent property of the algorithm and its implementation on a 64-bit computer.

[code]

[2016-05-02 14:07] mblondel commented on #6738
Yes this is to be expected as the problem becomes ill-posed when C is large. Iterative solvers are slow with ill-posed problems.

In your example, the algorithm takes forever to reach the desired tolerance. You either need to increase `tol` or hardcode `max_iter`.

[2016-05-02 15:22] amueller opened #6744 "SelectPercentile doesn't document default value for score_func"
The documentation doesn't mention the default value for score_func. I think it should also be made more obvious that the default only works with classification. Maybe the same problem exists in other Select* estimators.

[2016-05-02 16:35] ssktotoro commented on #6514
The branch is missing some documentation for classes and hasn't fixed the issue @andrewshir pointed out.  I'll send a new PR in a bit later today.

[2016-05-02 16:40] hlin117 commented on #6514
@ssktotoro Thanks for your contribution. Post here with the PR number when it's ready.

[2016-05-02 16:46] maniteja123 commented on #6514
Thanks for checking out. I do have some changes in my local branch but I am unable to properly build docs. So it would be better to rather close my PR.

[2016-05-02 18:13] amueller opened #6746 "Weird / unhelpful "number of power iterations" message"
When running PCA it is possible to get at "The number of power iterations is increased to 7 to achieve higher precision." message. I think that might be from #5299?

This is completely useless to a user of PCA that probably didn't even choose the *algorithm* explicitly.
~~If the number of power iterations was not provided explicitly, I think there should be no warning.~~ If the user called PCA wit

[2016-05-02 18:52] amueller opened #6747 "add balanced accuracy metric"
I've recently see more people using "balanced accuracy" for imbalanced binary and multi-class problems. I think it is the same as macro average recall. If so, I think we might want to create an alias, because it is not super obvious, and maybe add a scorer.
Also see https://github.com/rhiever/tpot/issues/108

[2016-05-02 19:14] ssktotoro commented on #6514
@hlin117 its PR 6748
https://github.com/scikit-learn/scikit-learn/pull/6748

[2016-05-03 03:32] pianomania commented on #6744
I want to work on it.

[2016-05-03 09:40] tguillemot commented on #6709
The PR is ready : #6743.

[2016-05-03 09:53] cammil opened #6751 "Potential error in beginner's tutorial"
Potential error in tutorial:

http://scikit-learn.org/stable/tutorial/statistical_inference/settings.html
Section: An example of reshaping data would be the digits dataset
...

...

However, pylab does not appear to have the imshow method.

[2016-05-03 09:58] jnothman commented on #6751
I suspect we should be removing all pylab references.

On 3 May 2016 at 19:53, cammil <notifications@github.com> wrote:

[2016-05-03 10:09] jnothman commented on #6747
Of course it is. Why didn't I think of that.

I think creating an alias (and a scorer) is a good idea, with the constraint that it applies to binary problems. It could also be calculated per-label for multilabel problems (and then potentially macro-averaged...).

[2016-05-03 10:12] jnothman commented on #6747
I think this is *moderate* seeing as it involved that data type checking and narrative docs.

[2016-05-03 10:38] cammil commented on #6751
Yes. Seems to be more pylab related issues as I scan the docs.

[2016-05-03 10:41] tjof2 commented on #5851
What's the status of this (since I mentioned it [here](https://github.com/hyperspy/hyperspy/issues/972))? My suggestion might be:

- IALM or ADMM as a "baseline" implementation
- Online Robust PCA [see paper here](https://papers.nips.cc/paper/5131-online-robust-pca-via-stochastic-optimization.pdf) as a low-memory alternative

[2016-05-03 12:06] agramfort commented on #6751
+10

[2016-05-03 12:39] jnothman opened #6754 "Remove all pylab references from the documentation"
While most have been removed, since `pylab` is no longer a recommended way to use matplotlib, some references to `pylab` remain in scikit-learn. These need to be changed, usually to equivalent `pyplot` invocations.

[2016-05-03 12:39] jnothman commented on #6751
Issue tracked in #6754

[2016-05-03 13:50] lesteve commented on #6647
I can reproduce the problem with scikit-learn 0.17.1 and master.

[2016-05-03 15:24] alinabee commented on #5046
`conda install numpy`
Fixed the error for me

[2016-05-03 18:47] parthpankajtiwary commented on #6754
Hey @jnothman,

Can I get involved in this? I do have some experience with programming in python with sci-kit learn but this will be my first open source contribution. Do let me know if I can.

Thanks,
Parth

[2016-05-03 19:00] maniteja123 commented on #6754
Hi, welcome. I understand that any of the core devs should reply but it generally is perfectly fine to work on open issues like this. In general, I suppose any contributions are welcome but it is preferable to let others know you are working on it, which you already did !

[2016-05-03 19:15] parthpankajtiwary commented on #6754
Hi @maniteja123,

Thanks a lot for replying. I haven't started working on it yet, I am setting up the environment and building documentation to see if everything is fine with the setup. Once done with that, I can start with the task. I do have couple of question to put forth, can I get back to you once I get my setup running?

Thanks,
Parth

[2016-05-03 19:19] maniteja123 commented on #6754
Hi, feel free to take your time to setup the proper environment. There is always someone who would be able to answer the questions, if you have at any point of time. Cheers.

[2016-05-03 23:12] parthpankajtiwary opened #6759 "FAILED Test after installation (Assertion Error)"
Hello there,

I have been trying to "make" scikit-learn to be able to start contributing but I am getting an Assertion Error (Arrays are not almost equal to 6 decimals). I have traced a similar issue [#2741](https://github.com/scikit-learn/scikit-learn/issues/2741) but the fix mentioned there doesn't seem to apply here. Is there a fix for this or can this be ignored?

Thanks,
Parth

==============

[2016-05-04 02:58] maniteja123 commented on #6759
Hi, I am unfortunately unable to reproduce this on master. Could you please try pulling the latest changes from master and try running the test suite again ?

[2016-05-04 06:19] jnothman commented on #6759
Maniteja: the version in OP is the current dev version, and PLS has not
been modified since the latest release. It's unlikely an issue of pulling
from master. It is possible (but unwanted) for tests to get different
results on different platforms or otherwise in different runs.

On 4 May 2016 at 12:58, Maniteja Nandana <notifications@github.com> wrote:

[2016-05-04 06:22] jnothman commented on #6759
But it is related to a recent change, #5358. @arthurmensch could you take a look, please?

[2016-05-04 09:42] yupbank commented on #6740
I think the problem is because, the order of cluster center changed

you can try to sort the n_center first and then the test would pass.

[2016-05-04 10:06] parthpankajtiwary commented on #6759
Hi @maniteja123 @jnothman,

Well, as suggested by you I pulled the latest changes from the master, I ran the tests again and it does fine this time. But still I am not able to find an explanation as to why the test failed in the first place? and how does pulling latest changes from the master fix it?

Thanks,
Parth

[2016-05-04 11:11] maniteja123 commented on #6759
Hi, I am sorry for overlooking your version. It just occurred that it might be a reason. I am unsure about why tests are passing after pulling the master and also it seems no change since the last release as jnothman pointed above.

[2016-05-04 11:12] maniteja123 commented on #6759
My system is Ubuntu 14.04 32 bit virtual machine. As jnothman mentioned above, there is an possibility of tests giving different results on various platforms.

[2016-05-04 12:58] jnothman commented on #6368
Duplicate of #6045

[2016-05-04 12:58] #6368 closed

[2016-05-04 14:46] lmcinnes commented on #4103
It's worth noting that in the case of metric space data (particularly in low dimension) you can do MST computations in O(n log n) using March's Dual Tree Boruvka algorithm as kd-trees or ball-trees. This is a significant win asymptotically, and is definitely worth implementing if possible -- I have an implementation of it for Robust Single Linkage: https://github.com/lmcinnes/hdbscan

I would be h

[2016-05-04 15:52] parthpankajtiwary commented on #6759
Hi @maniteja123,

Thank you for all the help. I guess @arthurmensch might be able to better understand the issue. I should get back to working on the previous issue, as the setup is up and running.

Thanks,
Parth

[2016-05-04 16:33] rvraghav93 commented on #6599
Just noting that if we can collect all the names of the fit attributes for an estimator in that 'tag', `check_is_fitted` could be simplified and refactored into base estimator!

[2016-05-04 17:42] tomtung commented on #6740
I think that the center being re-ordered in the previous example is just the symptom of the problem. Since the iris data is low-dimensional, close to `(0,0)`, and we provided the correct `n_clusters`, it's likely that even the provided init centers are not handled correctly we will converge to the same result anyways.

The root problem is that, when `X` is sparse, the provided init centers are **e

[2016-05-05 07:29] arthurmensch commented on #6759
Should be fixed by #6279 ? @lesteve

[2016-05-05 07:44] #6640 closed

[2016-05-05 08:55] xyguo opened #6763 "`make doctest` in the 'doc/' directory failed due to doctest unregistered"
#### Description

when I modify the documents and trying to do a doctest, the command
[code]
failed with
[code]

#### Steps/Code to Reproduce

[code]

#### Expected Results

I don't know since I failed to run the doctest

#### Actual Results

[code]
#### Versions

* Sphinx (sphinx-build) 1.3.5
* Python 3.4.4 :: Anaconda 4.0.0 (x86_64)
* scikit-learn version: 0.18.dev0

[2016-05-05 19:19] amueller opened #6766 "TfidfVectorizer documentation doesn't track TfidfTransformer"
There are important details of the tf-idf transformation in the TfidfTransformer that are not reflected in the TfidfVectorizer's docstring. I think they should be added there.
Also, I think the formula that is used should be added to the narrative.

[2016-05-05 19:21] amueller commented on #6766
Actually, I'm not entirely happy with the documentation of TfidfTransformer.
Finding out what the actual formula is it uses by default is non-trivial.

[2016-05-05 19:27] amueller commented on #6766
also see #4391, #2998

[2016-05-05 19:29] amueller commented on #6766
and neither documents the default value of "norm".

[2016-05-05 19:32] amueller commented on #6766
slightly unrelated: the ``_document_frequency`` function is badly misnamed. It computes document counts, not frequencies.

[2016-05-06 09:08] mfeurer opened #6767 "Imputer(with add_indicator_features=True) can create arrays of different shape in transform()"
[code]
#### Expected Results
(2, 3)
(2, 3)

#### Actual Results
(2, 3)
(2, 2)

#### Versions
Linux-3.13.0-54-generic-x86_64-with-Ubuntu-14.04-trusty
Python 3.4.3 (default, Oct 14 2015, 20:28:29)
[GCC 4.8.4]
NumPy 1.11.0
SciPy 0.17.0
Scikit-Learn 0.18.dev0

[2016-05-06 11:40] maniteja123 commented on #6767
Hi, thanks for the report. In the documentation for the imputer, it is mentioned

If True, the transformed X will have binary indicator features appended. These correspond to input features with at least one missing value marking which elements have been imputed.

So in the present use case, in the first case there is one feature with a missing value, hence an additional column is appended. And in

[2016-05-06 11:57] mfeurer commented on #6767
Sorry, the actual problem is not clearly visible from the way I posted the issue.

The python code I posted aren't two use cases, they are the same use case, namely fitting a machine learning pipeline and using that later on to predict for unseen values. What's happening is that after calling fit_transform(), I have more features than after calling fit(), something which breaks a classifier used a

[2016-05-06 13:04] maniteja123 commented on #6767
Sorry if I am understanding it wrong here. But the fit_transform is called on X_train while the transform is called on X_test, at least in the above mentioned snippet. Is there a case where fit_transform and transform are giving different shapes for the same input ? If so, that is definitely wrong and can you kindly give a reproducible example demonstrating that behaviour ? Thanks.

[2016-05-06 13:06] maniteja123 commented on #6767
And sorry if I treated them as separate use cases. I understand that fit and transform are part of the pipeline and the example was on that lines. But the part I was referring to is that the input being transformed are different in the two imputations being performed. Hope I got it right now.

[2016-05-06 13:25] mfeurer commented on #6767
No, there is no case where it happens that the same input leads to different output shapes. After looking at the code, and the use case I see for the Imputer, what I'm trying to say is that the array `imputed_features_` should be set in the `fit` method and then be re-used in the `transform` and `fit_transform` method. This ensures that each call to `transform`, for different inputs X, results in

[2016-05-06 13:26] mfeurer commented on #6767
EDIT: I updated the title to make the issue more descriptive.

[2016-05-06 14:12] maniteja123 commented on #6767
Thank you so much for the clarification. I understand that custom code needs to be written since the output shape depends basically on the array being transformed rather than the one being used for fit. As you rightly pointed out, the array used for fit is just used to calculate the statistics and the array used for transform decides the shape of the output since it is the one being imputed. This

[2016-05-06 15:58] mehaase opened #6768 "Why aren't `numpy` and `scipy` listed as dependencies?"
Try `pip install scikit-learn`. First reaction: yay, there are Linux wheels! Second reaction: boooo, they don't work:

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/usr/local/lib/python3.4/dist-packages/sklearn/__init__.py", line 57, in <module>
        from .base import clone
      File "/usr/local/lib/python3.4/dist-packages/sklearn/base.py", line

[2016-05-06 18:46] ivanychev commented on #5115
Have the same issue on both OS X 10.11.4 and Ubuntu 14.04 with the latest software installed.

[code]

Actually, this code doesn't freeze only if `n_jobs=1`.

[2016-05-06 23:31] rhiever commented on #6747
Following from https://github.com/rhiever/tpot/issues/108

Balanced accuracy is where you calculate accuracy on a per-class basis, then average all of those accuracies.

Here is a paper that introduces it: http://onlinelibrary.wiley.com/doi/10.1002/gepi.20211/abstract

[2016-05-07 01:46] aakashpatel25 commented on #5318
Is this still open?

[2016-05-07 01:56] hlin117 commented on #5318
@aakashpatel25 The code is still sitting in my branch.

If we were to move forward with the PR, it would be necessary to add deprecation warnings to any type that we change.

[2016-05-07 02:02] hlin117 commented on #5318
@aakashpatel25 I'll let you write the deprecation warnings if we move forward with this PR.

[2016-05-07 07:32] agramfort commented on #6768
my personal feeling is that you can do

pip install numpy scipy scikit-learn

if you know you need numpy as scipy.

I've seen so many efficient numpy builts broken by pip.
My numpy is built with mkl for speed and getting slow numpy just because
there is a new version on pypi is not what I want.

my 2c

note that this might change soon with gotoblas wheels but I have not tested
personally.

[2016-05-07 12:24] jnothman commented on #6767
Indeed, the output shape needs to depend on the array it was *fit* on, not the array being transformed. Thank you for the bug report @mfeurer, and sorry we somehow missed this in the implementation of `add_indicator_features`. And apologies to @maniteja123 if you were led to believe this was correct operation.

[2016-05-07 12:30] jnothman commented on #6747
But by "accuracy" on a per-class basis, you must mean "recall"; and we're still only considering the binary classification case.

[2016-05-07 12:59] mfeurer commented on #6767
@jnothman No problem. Should I work on this on Monday?

[2016-05-07 13:31] jnothman commented on #6767
If you would like to. It may be easier for @maniteja123 to fix it up as the original implementer.

[2016-05-07 13:48] rhiever commented on #6747
Here's the definition that we use: https://github.com/rhiever/tpot/blob/master/tpot/tpot.py#L1207

In the multiclass case, we simply consider the current class we're calculating accuracy for to be `1` and the other classes to be `0`, i.e., a one-vs-all configuration.

Indeed most of the papers that discuss balanced accuracy do so only in the context of binary classification, but it seems reasonabl

[2016-05-07 14:04] jnothman commented on #6747
At a first glance, I don't think that multiclass definition is really appropriate. But I'll think about it at little. I suspect macro-averaged recall reflects better the intentions of balanced accuracy.

[2016-05-07 16:09] maniteja123 commented on #6767
Hi, thanks @jnothman for clarifying. It is me who needs to apologise for misinterpreting the function of imputed feature indicator. Thanks @mfeurer for detailed explanation for the correct implementation. Please feel free to fix the issue but I would be glad to get it done if it fine by you. Thanks.

[2016-05-07 16:27] aakashpatel25 commented on #5318
@hlin117 Sure. Thanks.

[2016-05-07 17:53] mfeurer commented on #6767
I'm totally fine if you fix this @maniteja123

[2016-05-07 21:17] jnothman commented on #6767
In general Maniteja, the number of features output by `transform` must be
the same as `fit_transform`

On 8 May 2016 at 03:53, Matthias Feurer <notifications@github.com> wrote:

[2016-05-08 04:07] maniteja123 commented on #6767
Thanks @mfeurer and @jnothman for giving clarity over the issue. Basically, IIUC the statistics along with the indicator_features mask should be evaluated at the fit time. Is it fine if I fix it by tomorrow ?

[2016-05-08 04:14] jnothman commented on #6767
That'd be great, thanks!

On 8 May 2016 at 14:07, Maniteja Nandana <notifications@github.com> wrote:

[2016-05-08 08:28] GaelVaroquaux commented on #6768
As @agramfort mentioned, the issue is made difficult because, if you're not careful, pip installing numpy can install a broken or slow numpy and scipy (because of their C dependencies). Things are improving with the manylinux wheels, but this is only the case because the Python packaging system is continuously evolving and getting better.

Closing this issue. We might revisit it in a couple of yea

[2016-05-08 08:28] #6768 closed

[2016-05-08 16:35] lesteve commented on #6759
Yes, the error message is exactly identical. @parthpankajtiwary you should be able to get rid of the error by updating your master. Try `git pull upstream master` or `git pull origin master` depending on how you set up  your remote. Please close this issue if you don't have any error.

[2016-05-08 17:12] parthpankajtiwary commented on #6759
Thanks a lot for all the help and support. The issue has been resolved.

[2016-05-08 17:12] #6759 closed

[2016-05-08 22:05] #6737 closed

[2016-05-09 04:05] jskDr commented on #5046
Good. It also works for me as I noted before.

On Tue, May 3, 2016 at 11:26 AM alinabee <notifications@github.com> wrote:

--

Sungjin (James) Kim, PhD

Postdoc, CCB in Harvard

sungjinkim@fas.harvard.edu

[Web] http://aspuru.chem.harvard.edu/james-sungjin-kim/

[Linkedin] https://www.linkedin.com/in/jamessungjinkim

[Facebook] https://www.facebook.com/jamessungjin.kim

[alternative email] jamessu

[2016-05-09 09:28] AxeldeRomblay commented on #4816
Hi,

I am also working on a class StackingClassifier and StackingRegressor. Maybe you can have a look at my script and leave me some comments. I would like to contribute to the github as well...
For the gridsearch method you would like to implement, I think it is worth using hyperopt package instead to tune all the parameters...

Regards,
Axel

[stacking.zip](https://github.com/scikit-learn/scikit

[2016-05-09 13:20] maniteja123 commented on #6767
Hi, just have a question regarding the case when ``axis=1``. Since the statistics are calculated during the transform time rather than fit, what is the approach to be taken to build the indicator matrix in this case ? Thanks.

[2016-05-09 14:38] nelson-liu commented on #4816
We shouldn't be needlessly adding new dependencies to scikit-learn, especially when we have a grid search framework already in the library

[2016-05-09 22:28] jnothman commented on #6767
Unless I'm mistaken, in the `axis=1` case, the existing imputer already does nothing with the fit-time statistics. They tell us nothing about the test data.

[2016-05-10 00:33] maniteja123 commented on #6767
Yeah yeah you are right. Sorry for not being clear, but to build the mask the statistics are used. But how can I do that at fit time if statistics are evaluated during transform ?

[2016-05-10 00:52] jnothman commented on #6767
You don't do it at fit time in the axis=1 case.

[2016-05-10 00:55] maniteja123 commented on #6767
Sorry for pestering you, but just one last question - the shape of transformed output in axis=1 will be independent of input during fit but dependent on the input during transform, right ?

[2016-05-10 01:00] jnothman commented on #6767
Hmm... Interesting question. The shape of transformed output needs to be
invariant from transform to transform. So I guess you must add an indicator
for every input column, regardless of whether you've seen values missing
there on the current transform. There should be a test to that effect.

On 10 May 2016 at 10:55, Maniteja Nandana <notifications@github.com> wrote:

[2016-05-10 01:01] jnothman commented on #6767
I don't really get why we're supporting axis=1 imputation anyway, but let's
go with it.

On 10 May 2016 at 11:00, Joel Nothman <joel.nothman@gmail.com> wrote:

[2016-05-10 01:12] maniteja123 commented on #6767
Thanks for clarifying. So IIUC the size of imputer ma is always (n_samples, n_features) then right ?

[2016-05-10 01:13] jnothman commented on #6767
not sure what "imputer ma" is, but probably...

[2016-05-10 01:14] maniteja123 commented on #6767
Sorry typing from phone, typo !

[2016-05-10 01:17] maniteja123 commented on #6767
Thanks, will change the behaviour, modify tests and also add new tests if necessary. I will try to send a PR as soon as possible. Hope it is okay.

[2016-05-10 04:27] lqdc opened #6773 "Confidence intervals for linear models"
Hey guys,

This is a proposal to add confidence intervals to linear models in scikit-learn.

This would be useful for people because stats-models only works on small datasets and is not as user friendly.
Useful in situations where one has to put more trust the estimated probabilities. Particularly where very low FP rate or FN rate is desired.

This is a rough example of how to do it with Logistic

[2016-05-10 05:26] GaelVaroquaux commented on #6773
I am afraid that this is out of scope for scikit-learn for two reasons:

First the scope of scikit-learn is really predictive models, whereas the
confidence intervals, p-values and related are in the scope of
statsmodels.

Second, as far as I know, the research on the topic of confidence
intervals and p-values in high dimension is still very much open.

[2016-05-10 06:56] lesteve commented on #6763
It looks like you need to load an extension, see http://www.sphinx-doc.org/en/stable/ext/doctest.html. Feel free to open a PR.

[2016-05-10 07:11] lqdc commented on #6773
Is there something special about higher dimensional data w.r.t. confidence intervals? It seems like the same assumptions hold for 5 dimensions as for 5000.

Stats-models already provides CI, but requires more work from the user for out-of-sample predictions + doesn't work as well with higher dimensional data.

Perhaps I can do it as a "bolt-on" lib that's usable with sklearn.

[2016-05-10 07:32] #6728 closed

[2016-05-10 09:44] TomDLT commented on #6751
solved in #6762

[2016-05-10 09:44] #6751 closed

[2016-05-10 09:47] TomDLT commented on #6754
There is no more pylab in master, except this line in `doc/sphinxext/gen_rst.py`:
`matplotlib._pylab_helpers.Gcf.get_all_fig_managers()`

Should we close this issue?

[2016-05-10 10:25] SeanBE opened #6775 "add better validation for scoring params"
I passed in the function log_loss instead of the string 'log_loss' as a scoring param to GridSearchCV accidentally. This resulted in the error message found below (You can use the test to recreate). I know that people should read the docs to avoid this from happening.

Since some validation is missing, the error is caught much later that it should be (i.e. since I passed in a score_func, y_true be

[2016-05-10 10:47] maniteja123 commented on #6514
Hi, I suppose this issue can be closed with #6748 being merged.

[2016-05-10 11:25] GaelVaroquaux commented on #6754
Yes! Thx

[2016-05-10 12:06] maniteja123 commented on #6767
Sorry one more question, what should ``imputed_features_`` be representing now ? Thanks

[2016-05-10 12:29] #6754 closed

[2016-05-10 13:29] jnothman commented on #6775
That's an interesting problem. I know many people are rightly confused between metrics and scorers. It's not immediately apparent to me what condition we should use to check for an error. Is it worth actually fitting the estimator on a small portion of the data for validation? Are there use-cases where this would be severely inappropriate?

As a rule, it's a good idea to run whichever estimator on

[2016-05-10 13:30] jnothman commented on #6767
I don't think imputed_features_ is applicable to the axis=1 case.

On 10 May 2016 at 22:06, Maniteja Nandana <notifications@github.com> wrote:

[2016-05-10 13:32] maniteja123 commented on #6767
Thanks. So will make it available only for axis=0 case.

[2016-05-10 14:33] #6709 closed

[2016-05-11 00:21] #6773 closed

[2016-05-11 05:29] ivan-krukov commented on #6665
Reproduced for 3.5 with anaconda under OS X El Capitan.
[code]

[code]

[2016-05-11 05:44] GaelVaroquaux commented on #6773
Yes, absolutely.

For standard statistics to be valid, you need typically (as a ballparc
estimate) as the number of data points to scale as the squared number of
parameters (Cramer Rao bounds). This means that if you have CIs that you
trust for 5 dimensions, you need a million time more data.

Finding answers to these questions is an active field of research known
as "high-dimensional statistics".

[2016-05-11 06:10] jnothman commented on #6665
Thanks @ivan-krukov, but I'm failing to replicate in Python 3.3. Will try 3.5

[2016-05-11 06:39] kevin-coder opened #6776 "Running tests in latest development code will crash under Windows platform"
#### Description

Running tests in latest version code will crash.

#### Steps/Code to Reproduce

1. Update the code to latest version
2. Install sklearn in command line by: python setup.py install
3. Runing tests from command line: nosetests -v sklearn

#### Expected Results

Tests should be fine, at least the running process should not be crash..

#### Actual Results

Tests running crash, with f

[2016-05-11 07:02] kevin-coder commented on #6776
I will investigate this issue.

[2016-05-11 10:14] pgrandinetti commented on #6687
Do I need to replace the sklearn/svm/libsvm.so with the .so generated with the fix? And what about the libsvm_sparse.so ?

[2016-05-11 10:59] yanirj commented on #5046
Hi,

Just wanted to note that Anaconda 4.0.0, shipped with mkl enabled by default, has this issue.
The problem is indeed with Anaconda, as it can be reproduced with the python sklearn test suggested above by @pcgreat.

The actual issue is that Anaconda linked with mkl, but not with libmkl_core.so, thus it has a missing symbol, and can be seen by running:

[code]

I didn't want to uninstall mkl, as

[2016-05-11 12:39] lesteve commented on #6687
There is a pending PR that will fix this problem. Once this PR is merged, you can update your scikit-learn master and install scikit-learn from source. Look at http://scikit-learn.org/stable/developers/contributing.html#git-repo for more details.

[2016-05-11 13:11] rvraghav93 commented on #6687
Fixed in #6708

[2016-05-11 14:25] lesteve commented on #6746
This one should be closed now that #6479 has been merged.

[2016-05-11 14:28] maniteja123 commented on #6767
Sorry for the delay. In case of the indicator matrix, it should be of the whole input, but again for axis=1, the fit is also being done during transform. So, then it depends on X given as input of transform. Can you please let me know how to proceed here ? Thanks.

[2016-05-11 16:08] ivan-krukov commented on #6665
This does not apply to `linux` (4.4.0-21, Ubuntu 16.04) with the same packages under 3.5.

[2016-05-11 16:19] amueller commented on #6746
thanks.

[2016-05-11 20:29] nicodv commented on #6675
+1

[2016-05-11 21:29] lqdc commented on #6773
Sure, what you are saying is that the lower bound for variance and therefore CI tends to be higher the more dimensions you have for the same number of samples.  I didn't say the CI is going to be the same if you have more dimensions. So we agree there.

What I am saying is the equation for CI doesn't make any assumptions on the number of IVs. In fact, if we are allowing to do LR at all on datasets

[2016-05-11 21:57] jnothman commented on #6767
You can presume that the X input to each successive transform has an
identical number of features.

On 12 May 2016 at 00:28, Maniteja Nandana <notifications@github.com> wrote:

[2016-05-11 22:06] ZelphirKaltstahl commented on #6522
I have the same warning message, but the result is reversed: I see the tree with a lot of information in it, but I don't even get the coloring. How do you get the coloring? Could it be because I show it in a notebook?

[2016-05-11 22:28] jnothman commented on #6665
I'm on El-Capitan, but I'm failing to get a Python 3.5 installation up and running.

[2016-05-12 00:50] maniteja123 commented on #6767
Oh okay, even if we assume the shape to remain consistent, the contents of the matrix will now be populated with the mask for the input of transform then ?

[2016-05-12 00:55] maniteja123 commented on #6767
Sorry, unnecessary question. I suppose that will be the case now. But still the fact that input of fit is totally disregarded for axis=1 is just a bit confusing. Wouldn't it be better to more explicitly document this behaviour ? Thanks.

[2016-05-12 03:00] jnothman commented on #6767
You're welcome to document that fact. Most people using an imputer will use
it in a pipeline, so they want it to behave sensibly with respect to
fitting and predicting/transforming in an entire pipeline. Not doing
anything on fit for axis=1 is sensible.

On 12 May 2016 at 10:55, Maniteja Nandana <notifications@github.com> wrote:

[2016-05-12 06:52] kevin-coder commented on #6776
After investigation, seems that it is a bug introduced from SciPy.
The test crash at following line:
=================================================================
    with open(filename, 'rb') as matlab_file:
        matlab_dict = io.loadmat(matlab_file, struct_as_record=True)   <== crash here!
=================================================================
io is imported form SciPy. Moreove

[2016-05-12 07:35] pgrandinetti commented on #6687
I have installed the master with

`pip install git+https://github.com/scikit-learn/scikit-learn.git`

but I still get the segmentation fault.

P.S. I also get this warning
/usr/local/lib/python2.7/dist-packages/sklearn/cross_validation.py:43: DeprecationWarning: This module has been deprecated in favor of the model_selection module into which all the refactored classes and functions are moved. Als

[2016-05-12 08:19] rvraghav93 commented on #6687
Apologies for the miscommunication. I meant there was a fix at that PR. It is not merged yet.

[2016-05-12 12:12] ZelphirKaltstahl commented on #6522
I have a workaround for now: http://stackoverflow.com/questions/37176024/sklearn-tree-export-graphviz-alternatives
What I do is the following:

[code]

This gives me the colored version with the numbers as labels and that annoying output:

[code]

Then in the cell below I do, what is on stackoverflow:

[code]

**Note**: This is done in a Jupyter notebook.

[2016-05-12 16:27] amueller opened #6777 "Perplexity not monotonically decreasing for batch Latent Dirichlet Allocation"
When using the batch method, the perplexity in LDA should be non-increasing in every iteration, right?
I have cases where it does increase. If this is indeed a bug, I'll investigate.

[2016-05-12 22:02] SeanBE commented on #6775
It blows up before considering the data. A nasty hack of a condition could be checking the first parameter of the function signature == 'estimator' given that it doesn't inherit the internal _BaseScorer class. Custom scorers would need to follow the signature in the docs..

[2016-05-13 01:31] jskDr commented on #5046
It is so wonderful solution thought.

On Wed, May 11, 2016 at 7:00 AM yanirj <notifications@github.com> wrote:

--

Sungjin (James) Kim, PhD

Postdoc, CCB in Harvard

sungjinkim@fas.harvard.edu

[Web] http://aspuru.chem.harvard.edu/james-sungjin-kim/

[Linkedin] https://www.linkedin.com/in/jamessungjinkim

[Facebook] https://www.facebook.com/jamessungjin.kim

[alternative email] jamessungjin.kim@g

[2016-05-13 01:31] jnothman commented on #6775
Checking parameter names is not okay, but I'm not sure I get that proposal anyway. We're trying to exclude metric-like functions.

[2016-05-13 02:34] StevenLOL opened #6778 "Feature request, stacked generalization"
Hi, all

Always saw this [stacked generalization](http://machine-learning.martinsewell.com/ensembles/stacking/) in machine learning competition, one implementation is [here] (https://github.com/dustinstansbury/stacked_generalization), is it a good idea to include stacked generalization as one of the ensemble method?

[2016-05-13 08:27] wjagers commented on #6130
I encounter similar issues.
- pairwise_fast.so: undefined symbol: ATL_dasum
- arrayfuncs.so: undefined symbol: ATL_srot

Versions used:
- python 2.7.10
- atlas 3.10.2
- numpy 1.9.3
- scipy 0.16.1
- scikit-learn 0.17

All builds and tests succeed, except the sklearn tests, as mentioned above.

[2016-05-13 09:26] kevin-coder commented on #6776
Update about the investigation:
Seems that try-catch mechanism is useless here because the crash happens inside the SciPy, it is out of control from sklearn side.
BTW, the crash location is in mio5_utils.pyd file, and the root cause is in following invoke:
**mdtype, byte_count = self._file_reader.read_full_tag()  <== Crash!**
in the above statement, the object _file_reader does not contain method

[2016-05-13 10:12] yosuah commented on #5046
I had the same problem, despite using the latest available packages. Turns out the solution was easier than I thought: for whatever reason Anaconda installed the MKL-enabled versions of the numpy/scipy stack, but did not actually install `mkl` itself. I have seen this when building Docker images based on the [Jupyter minimal notebook stack](https://github.com/jupyter/docker-stacks/tree/master/mini

[2016-05-13 10:20] kevin-coder commented on #6776
This issue can be closed here since I believe this is introduced from SciPy side, since if I type: nosetests -v scipy, it will crash, too.

[2016-05-13 10:20] #6776 closed

[2016-05-13 17:28] maniteja123 commented on #6767
Sorry but it is getting a bit confusing here, what should be the indicator matrix and imputer features be when the input for fit has a column of all missing values and axis=0 ?

[2016-05-13 17:32] maniteja123 commented on #6675
Hi, just pinging to ask if there is a consensus on the multivariate approach to be taken here, in particular whether to apply independent BoxCox transform on each feature or to consider some other approach. Sorry if I am missing something here but learnt about this preprocessing method from here and would like to work on it. Thanks.

[2016-05-13 19:47] agramfort commented on #6675
it should be univariate so done feature by feature.

[2016-05-13 21:43] rpadmanabhan commented on #5046
I was opening an ipython terminal with the library preloaded and run into the following error :
/home/rp2801/anaconda2/bin/python: symbol lookup error: /home/rp2801/anaconda2/lib/libmkl_core.so: undefined symbol: mkl_serv_get_max_threads

when i run one of the pca routines.
I opened my ipython terminal as
$ LD_PRELOAD=/path/to/libmkl_core.so ipython

[2016-05-13 23:32] maniteja123 commented on #6675
Thank you for the clarification.

[2016-05-14 00:48] sschnug opened #6779 "MiniBatchDictionaryLearning: partial_fit with wrong behaviour?"
Hi,
first-time i'm posting an issue here and i hope i don't screw it up :-).

As all _online-capable_ methods in _sklearn_, [MiniBatchDictionaryLearning](http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.MiniBatchDictionaryLearning.html#sklearn.decomposition.MiniBatchDictionaryLearning) supports the `partial_fit`-method. The User-guide on this method [here](http://scikit-learn

[2016-05-14 06:29] agramfort commented on #6779
ping @arthurmensch

[2016-05-14 09:35] mblondel opened #6780 "Possible issue in MLP code"
I was surprised to see that the regularization term is divided by n_samples. This is not standard.

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neural_network/multilayer_perceptron.py#L125

This doesn't seem to correspond to the objective documented in
http://scikit-learn.org/dev/modules/neural_networks_supervised.html

[2016-05-14 11:02] jnothman commented on #6767
... then you want to keep current behaviour: drop the column.

[2016-05-14 11:25] maniteja123 commented on #6767
Thanks but then the column will be dropped during transform but the approach we want to fit the indicator features during fit. That was my confusion here ?

[2016-05-14 11:48] jnothman commented on #6767
Yes, it will be dropped during transform, and it will have no indicator
feature column. I think there should be a RuntimeWarning if there are any
non-missing values in that column at transform time.

I hope you're writing test cases along with asking these questions.

On 14 May 2016 at 21:25, Maniteja Nandana <notifications@github.com> wrote:

[2016-05-14 11:50] maniteja123 commented on #6780
I am not an expert but looking at [this](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neural_network/multilayer_perceptron.py#L229) line shows that it happens in the L2 regularisation term in the backpropogation algorithm. Also, it seems to be ``0.5 * alpha * (sum of weights)`` instead of ``alpha * (sum of weights)`` in the documentation. Though I suppose this is common, it sho

[2016-05-14 11:54] maniteja123 commented on #6767
Thanks for patiently answering and apologies for too many questions. I
needed to clarify this since now the method to generate indicator features
will change because during fit time the column with all missing values will
still be existing in the input array.

And I will make sure to cover all these scenarios in the test cases.
On 14 May 2016 5:18 pm, "Joel Nothman" <notifications@github.com> wrot

[2016-05-14 12:02] jnothman commented on #6767
I don't get what you mean. The column with all missing features should be dropped in `fit_transform`, or in `transform`.

[2016-05-14 12:10] maniteja123 commented on #6767
Sorry, I meant in case the feature has non-missing values, you said it should be RunTimeWarning. But if there are non-missing values, the ``features_with_missing_values`` generated during transform will have that column but ``valid_idx`` won't have it since it depends on statistics, generated during fit time. [This](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/preprocessing/imp

[2016-05-14 13:07] maniteja123 commented on #6767
I have pushed the changes temporarily at https://github.com/maniteja123/scikit-learn/commit/e015eca52b93d73bc1c73a0e2e403ed3e5a14e69. As of now, the ``valid_idx`` is generated from statistics, which discards the feature with all missing values, but ``features_with_missing_values_`` will not take that into account since it is done during fit when the column is not yet dropped from X. Hope I am able

[2016-05-14 13:14] maniteja123 commented on #6675
I have tried a simple implementation at #6781 . Please do have a look at your convenience and would appreciate any suggestions or corrections. Thanks.

[2016-05-14 13:55] #6718 closed

[2016-05-14 14:56] jnothman commented on #6767
Please just submit a PR. Unless I'm mistaken, *of course* you should make `features_with_missing_values` discard that feature in such a case.

Again, the principle is: the data input to `fit` and `transform` will look similar (same `shape[1]`), and the data output from `fit_transform` and every subsequent will look similar `transform`. You collect whatever statistics you need in `fit` (although th

[2016-05-14 17:04] maniteja123 commented on #6767
Thanks again for patiently bearing with my questions. Apologies for wasting so much of your time. But the changes needed me to change many parts of the code and I was hoping to do it with minimal digression from the present behavior and code flow. I have submitted a PR at #6782 . Kindly have a look at it and let me know if it fixes this bug and functions as expected. Thanks.

[2016-05-14 17:55] srviest commented on #6130
same problem as well...does anyone know the workaround?

[2016-05-15 03:29] mblondel commented on #6780
Yes the objective value and the gradient both divide the regularization term by n_samples but this is not correct. Only the loss term should be divided by n_samples. By the way, here n_samples correspond to the mini-batch size. Basically this means that there is a mismatch between the documentation and the implementation (alpha is effectively scaled down by the mini batch size).

[2016-05-15 05:53] proinsias opened #6783 ""scoring must return a number" error with custom scorer"
#### Description

I'm encountering the same error (`ValueError: scoring must return a number, got [...] (<class 'numpy.core.memmap.memmap'>) instead.`) as #6147, despite running v0.17.1. This is because I'm creating my own scorer, following the example in this [article](http://bigdataexaminer.com/data-science/dealing-with-unbalanced-classes-svm-random-forests-and-decision-trees-in-python/).

####

[2016-05-15 08:12] jnothman commented on #6783
I'm not sure what's going on here. But I thought I'd point out that calling `perc_diff_score_cutoff(cutoff)` isn't doing what you think it's doing. The `cutoff` in `perc_diff_cutoff` is the global variable named `cutoff`, not the one passed into `perc_diff_score_cutoff`. You'd be better off using functools.partial to pass in `cutoff` as an extra argument to `perc_diff_cutoff`

[2016-05-16 04:19] afshinrahimi opened #6784 "OneVsRestClassifier accept multioutput-continuous as target value"
#### Description

Is it possible to adopt OneVsRestClassifier to accept multioutput-continuous as target value?
My training sample has a [n_samples x n_classes] matrix as y and each sample's label is a continuous probability distribution over all labels.

Currently the LabelBinarizer doesn't accept such data and even if the data is passed as a csc_matrix the check_classification_targets in sklearn

[2016-05-16 04:32] jnothman commented on #6784
Hi Afshin. [MultiOutputRegressor](http://scikit-learn.org/dev/modules/generated/sklearn.multioutput.MultiOutputRegressor.html) was recently merged into master. I think that does what you're looking for.

[2016-05-16 04:32] #6784 closed

[2016-05-16 04:36] afshinrahimi commented on #6784
Thanks Joel. I'll try the MultiOutputRegressor and report back.

[2016-05-16 06:22] GaelVaroquaux commented on #6779
I got lost in the issue. I am not sure what the question is. I note a few things that I can reply to:

* Iterations printed are the outer loop

* batch_size differs in the partial_fit as the complete "X" is treated as a batch.

* I agree that the default batch_size of 3 is a bit small. Some between 10 and 100 would be better. @agramfort , @arthurmensch : any opinion on how we go about changing tha

[2016-05-16 10:00] agramfort commented on #6779
option 1 : set batch_size to None, raise a warning if None + set to 3
saying that it will default to 100 in the next release.
option 2 : do it with a renaming eg n_samples_batch

I prefer 1

[2016-05-16 11:08] sschnug commented on #6779
I'm still puzzled and show you some code to be more precise:

    from sklearn.datasets import load_iris
    from sklearn.decomposition import IncrementalPCA, MiniBatchDictionaryLearning
    from sklearn.linear_model import SGDClassifier
    from sklearn.utils import shuffle
    import numpy as np

    data = load_iris()
    X = data.data
    y = data.target

    def online_incPCA(X, y, batch_size

[2016-05-16 11:09] GaelVaroquaux commented on #6779
Indeed, that's a bug, IMHO.

[2016-05-16 11:18] sschnug commented on #6779
Further evidence, that this is not correct:

![Image of Yaktocat](http://i.imgur.com/7lpc3pT.png)

![Image of Yaktocat](http://i.imgur.com/iflVN0m.png)

[2016-05-16 11:53] sschnug opened #6786 "scikit-learn 0.18.dev0: LinearSVC broken"
This happens when using ```LinearSVC``` on current master (hash: 417788c6a54c39614b82acf1a04b1f97f8a32199):

    from sklearn import datasets
    from sklearn.svm import LinearSVC, SVC

    import platform; print(platform.platform())
    import sys; print("Python", sys.version)
    import numpy; print("NumPy", numpy.__version__)
    import scipy; print("SciPy", scipy.__version__)
    import sklear

[2016-05-16 12:12] rvraghav93 commented on #6786
Could you provide more info on your scikit-learn/numpy/scipy/python/os versions.

You can get all the info by running the following script

[code]

[2016-05-16 12:25] sschnug commented on #6786
Okay... i made a fresh python-env and now it's working:

    Linux-3.19.0-32-generic-x86_64-with-debian-jessie-sid
    Python 3.5.1 |Continuum Analytics, Inc.| (default, Dec  7 2015, 11:16:01)
    [GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
    NumPy 1.11.0
    SciPy 0.17.1
    Scikit-Learn 0.18.dev0

Maybe something was broken due to unclean installs, maybe it was because of incompatible numpy/scipy v

[2016-05-16 12:25] #6786 closed

[2016-05-16 14:25] adehgha opened #6787 "Passing a pre-computed distance matrix to the dbscan algorithm does not seem to work properly."
#### Description
Passing a pre-computed distance matrix to the dbscan algorithm does not seem to work properly.

#### Steps/Code to Reproduce
from sklearn.cluster import DBSCAN
import sklearn
import numpy as np

data = np.load('./clusterable_data.npy')
AA = sklearn.metrics.pairwise.euclidean_distances(data, data)
db = DBSCAN(metric="precomputed").fit(AA)
print db.labels_

The "clusterable_data.npy

[2016-05-16 14:33] jnothman commented on #6787
The `labels_` are the same for `DBSCAN(metric="euclidean").fit(data)`, so it's presumably not an issue with "precomputed". Not looking into it yet, why do you think there should be 5 clusters?

[2016-05-16 14:36] jnothman commented on #6787
I'm going to be bold and say this is not a problem with the implementation (until you identify a more specific failure), and close the issue.

[2016-05-16 14:36] #6787 closed

[2016-05-16 14:36] jnothman commented on #6787
But please do attempt to clarify your understanding and ask questions here or in other forums (mailing list, stack overflow, etc.)

[2016-05-16 14:39] jnothman commented on #6787
In your dataset, all points have at least min_samples=5 points in a radius of eps=0.5; hence all are core samples. And the graph with edges between points within .5 has a single connected component. So it's working correctly.

[2016-05-16 14:41] jnothman commented on #6787
To find more clusters, decrease `eps` and increase `min_samples`. Good luck.

[2016-05-16 14:46] adehgha commented on #6787
@jnothman : Thanks for your quick reply. That makes perfect sense.

[2016-05-16 15:22] Arnold1 opened #6788 "dendrogram question"
Hi,

I'm running a AgglomerativeClustering algorithm. For further analysis, I would like to plot a dendrogram, but scikit-learn currently does not provide a dendrogram plot. How would you suggest to plot the dendrogram and cut the dendrogram to get x number of clusters/groups?

Thanks,
Arnold

[2016-05-16 15:50] sschnug commented on #6788
For the plotting-part, Michael Waskoms [seaborn](https://stanford.edu/~mwaskom/software/seaborn/examples/structured_heatmap.html) could be interesting.

[2016-05-16 16:37] proinsias commented on #6783
@jnothman: Thanks! That was next on my list to understand!

[2016-05-16 17:11] proinsias commented on #6370
@srikar2097 , @Waffleboy – I used the below workaround mentioned on [StackOverflow](http://stackoverflow.com/questions/36373266/change-in-running-behavior-of-sklearn-code-between-laptop-and-desktop/37259431#37259431). Does this work for you?

[code]

[2016-05-16 23:52] jnothman commented on #6783
So I think we don't have enough information to tackle this issue. What is the dtype of `X`?`

[2016-05-17 03:24] proinsias commented on #6783
I've updated the example to include dummy data that trigger the bug on my machine.

X=X_train is originally an ndarray of float64's. When we call _fit_and_score() in cross_validation.py, X is now a memmap.

[2016-05-17 11:35] AlexanderFabisch commented on #6788
[This](http://docs.scipy.org/doc/scipy-0.14.0/reference/cluster.hierarchy.html#module-scipy.cluster.hierarchy) should help you.

[2016-05-17 13:25] Arnold1 commented on #6788
@AlexanderFabisch thanks, how can i calculate of each cluster? and how can see which feature/s represents that specific cluster (for all clusters)?

[2016-05-17 14:38] simonm3 opened #6791 "onehotencoder example code does not work"
Test code in the docs says:

[code]

I run this and get "tuple index out of range"

[2016-05-17 14:48] maniteja123 commented on #6791
Hi, could you please provide the complete traceback of the error ?

[2016-05-17 14:50] simonm3 commented on #6791
Restarted python and it works. Not sure why it was not working before

[2016-05-17 14:50] #6791 closed

[2016-05-18 02:14] kennetham opened #6792 "ValueError: invalid literal for float(): 25:13:15"
Hi, I am running my own dataset with scikit-learn. My dataset contains '2016/02/28', '20:12:22', '100' and 'string', Date, time, integer and string.

I have successfully parsed the data with Pandas and have reached CLF using SVM to test out.
However, upon _clf.fit(X, y)_, an error was returned `ValueError: invalid literal for float(): 25:13:15`, apparently in my dataset, there is a time of 25:13:1

[2016-05-18 02:18] jnothman commented on #6792
Scikit-learn generally deals only with numeric arrays for features. Please use Pandas to convert all your data to floats. This is a Pandas usage question, not a scikit-learn issue. You should raise it in a forum like stack-overflow, not a bug tracker.

[2016-05-18 02:18] #6792 closed

[2016-05-18 10:07] mbatchkarov opened #6793 "NMF incorrectly raises ValueError"
#### Description
NMF raises the following error: `ValueError: Number of components must be positive; got (n_components=10)`.

There are two problem that I can see:

- [this line](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/nmf.py#L750) checks the type of `n_components`, but ignores the possibility that it might be something like `np.int64`. The next two checks (`

[2016-05-18 11:55] lesteve commented on #6793
It seems like using `numbers.Integral` would be fine for this. Do you want to open a PR? It'd be great if the message explicitly says that the number of components must be a positive integer or something like this.

While you are at it, bonus points if you fix the other places where six.integral_types is used sklearn/ensemble/iforest.py.

[2016-05-18 11:59] mbatchkarov commented on #6793
I'm happy to open a PR, but it I won't be able to do it for another 10 days or so. If it hasn't been resolved by then I'll do it.

[2016-05-18 14:19] daviddaileo opened #6794 "partial_fit not consistent with global clustering in BIRCH"
#### Description

I was trying to use `partial_fit` of `BIRCH` in a streaming data scenario, following the [instruction](http://scikit-learn.org/stable/modules/clustering.html#birch).
#### Steps/Code to Reproduce
[code]

#### Expected Results
As suggested in the [instruction](http://scikit-learn.org/stable/modules/clustering.html#birch), after training all data by multiple calls to `partial_fit`,

[2016-05-18 15:55] gioelelm opened #6795 "LogisticRegressionCV with class_weights='balanced'"
When calling LogisticRegressionCV fit method after setting class_weight as 'balanced', I get the following error:

The code below should replicate the issue:

[code]

A quick look at the source suggests me that the problem is that the class_weight get passed to logistic_regression_path after being transformed into a dictionary, therefore the line 600 at logistic.py will always evaluate as True:

`

[2016-05-18 16:40] amueller opened #6796 "Make confusion matrix example more copy-pastable"
Plotting confusion matrices is a pretty common thing, and having a useful example that you can copy and paste would be cool.
We have [this one](http://scikit-learn.org/stable/auto_examples/model_selection/plot_confusion_matrix.html) but I think it could be improved in two ways:
* make the class names a parameter of the function
* plot the actual numbers inside the matrix

something like
[code]

[2016-05-18 16:57] amueller opened #6797 "deprecation warning in model selection"
using GridSearchCV.score from the model selection module raises:

[code]
Actually, I don't think we need to raise a changed behavior warning here at all, because we just moved the module and everything changed anyhow.

[2016-05-18 17:00] rvraghav93 commented on #6797
Whoa I just found and fixed this at #6798 and you beat me by 2 minutes ;)

[2016-05-18 17:04] amueller commented on #6797
I'd argue your fix is not the right one, though ;) Unless there is a different use of the ChangedBehaviorWarning in this file.

[2016-05-18 17:08] rvraghav93 commented on #6797
Indeed I didn't notice that this issue was about removing it...

[2016-05-18 17:09] rvraghav93 commented on #6797
Anyway that one is ready for merge ;)

[2016-05-19 00:45] jnothman commented on #6794
Well your code is broken because you mix `data` and `X`; and call `partial_fit` before the loop.

But your main mistake is in using `labels_` during fit. The following works for me as an illustration of how `partial_fit` and `fit` are indeed equivalent:
[code]

[2016-05-19 00:45] #6794 closed

[2016-05-19 06:06] agramfort commented on #6795
@gioelelm would you have time to send us a PR with a simple unit test?

[2016-05-19 06:44] naught101 opened #6800 "Return NaN for rows with missing values"
At the moment, there are only two recommended way to deal with missing values, either delete the incomplete rows, or use the imputer preprocessor.

Another useful method would be to have an sklearn estimator return an all NaN row when ever it encounters an incomplete row. I think this could basically be handled as a preprocessor transform: check all rows for completeness, retain an appropriate ind

[2016-05-19 06:50] #6797 closed

[2016-05-19 11:30] GaelVaroquaux commented on #6800
This is right now impossible as a pipeline step because it requires
modifying the number of samples (see the enhancement proposal:
https://github.com/scikit-learn/enhancement_proposals/pull/2)

[2016-05-19 12:54] spaceboot commented on #6647
@dbricare How did you get around the other error? I'm encountering the same issue after using your solution.

[2016-05-19 13:19] daviddaileo commented on #6794
Sorry that I did not indicate that `X` was assigned to `data`.
Why it is a main mistake to use `par_birch.lables_` during the partial fit? I think one advantage we can take during the partial fit is to monitor the `par_birch.lables_` and get a feeling about the incoming data (are they similar to the previous one or they are new species).

[2016-05-19 14:12] jnothman commented on #6794
Perhaps it needs further documenting (or `labels_` should not be set in the `partial_fit` case), but it just doesn't make sense to use this way: labels are not a consistent space across `partial_fit` calls. If `n_clusters=None` they correspond to subclusters, but these subclusters will change distructively (not just monotonically expanding) in `partial_fit` in the general case.

[2016-05-19 16:02] mfeurer opened #6804 "FastICA uses print"
FastICA uses print to tell a user about that the number of components is larger than the number of available features ([https://github.com/scikit-learn/scikit-learn/blob/51a765a/sklearn/decomposition/fastica_.py#L296](https://github.com/scikit-learn/scikit-learn/blob/51a765a/sklearn/decomposition/fastica_.py#L296)). This makes it unnecessarily hard to catch the output and redirect it to a logger.

[2016-05-19 16:10] GaelVaroquaux commented on #6804
Will these still be printed by default? How will they display in an
IPython notebook?

My issue with the logger is that for interactive work or script-based
data analysis it makes everything harder.

[2016-05-19 16:18] mfeurer commented on #6804
I don't propose to use a logger here, it would be too much for most use cases. I propose to use `warnings.warn`, which can be redirected to the logger with the following code:

[code]

Warnings in IPython:

![ipython](https://cloud.githubusercontent.com/assets/5320498/15400952/c4f0700a-1ded-11e6-935d-f6f62a779dae.png)

As far as I know, warnings are shown by default, together with their line numbe

[2016-05-19 16:40] GaelVaroquaux commented on #6804
Sorry, I missread. I am :+1: on warnings.warn.

[2016-05-19 16:44] jakevdp commented on #6804
+1

[2016-05-20 01:33] Arnold1 commented on #6788
@AlexanderFabisch thanks, from the dendrogram i see which samples is within which cluster. a sample has multiple features... how can i see which feature is the most crucial one?

[2016-05-21 21:02] amueller commented on #6557
actually maybe the first thing to do would be to add a stopping criterion based on mutual information...

[2016-05-21 21:03] amueller commented on #6557
@lesshaste can you give a citation? (I had been thinking about that recently, damn, obviously it has been done ^^)

[2016-05-21 21:30] lesshaste commented on #6557
@amueller  It has been a long time since I looked at this but:

Section 2.2 of
"Rule Extraction from Random Forest: the RF+HC Methods" by Morteza Mashayekhi  and  Robin Gras has all the relevant citations I know. Please let me know if you don't have access to this paper.

On an only slightly related note, I remember looking at http://blog.datadive.net/interpreting-random-forests/ with some interes

[2016-05-22 02:01] samyhhu commented on #6796
@amueller Do you mind clarifying what you mean by "making the class names a parameter of the function"?

[2016-05-22 02:08] nelson-liu commented on #6796
I'm presuming the vision is a drop in function that you just need to copy
and paste into your code then pass in data and class names to use. I
recently did this exactly, I'd be happy to submit a PR.

On Sat, May 21, 2016, 7:02 PM samyhhu <notifications@github.com> wrote:

[2016-05-22 06:38] hlin117 opened #6808 "Cohen Kappa Score not documented in API reference"
The Cohen Kappa Score (source code [here](https://github.com/scikit-learn/scikit-learn/blob/51a765a/sklearn/metrics/classification.py#L260)) is not listed under the API's reference for classification metrics. (Over [here](http://scikit-learn.org/stable/modules/classes.html#classification-metrics).)

Related: #5052.

[2016-05-22 07:59] hlin117 opened #6809 "More helpful error message with non-finite inputs into metrics"
I think the error message could be improved here by a call to `sklearn.utils.validation._assert_all_finite`:

[code]

Likewise, using `np.inf`, we have

[code]

Thoughts?

[2016-05-22 13:14] jnothman commented on #6808
I don't get why this is an issue, not a PR!

[2016-05-22 22:14] #6609 closed

[2016-05-23 02:29] hlin117 commented on #6808
I made a pull request in #6811. @jnothman, please answer some of my questions there. Thanks!

[2016-05-23 06:50] lesteve commented on #6804
This should be closed now that #6807 has been merged.

[2016-05-23 06:58] mfeurer commented on #6804
Yes, thanks a lot @lesteve for pointing out that this is a duplicate.

[2016-05-23 06:58] #6804 closed

[2016-05-23 16:53] maniteja123 commented on #1243
Hi, I have recently come across [this](http://ufldl.stanford.edu/tutorial/selftaughtlearning/SelfTaughtLearning/) exercise and also read the ICML paper related to this. I was hoping to work on this if there is sufficient interest and would be within my capabilities to implement it. Please let me know if you have any suggestions or anything else which I could refer to better understand the algorith

[2016-05-23 23:07] robertlayton opened #6815 "Direct contact to developers"
I get regular emails from people asking for help, due to the fact that I wrote some parts of scikit-learn and my email is listed on the top of the page (I'm sure everyone who has worked on open source has similar).

While I don't normally mind helping, it would be more useful if these questions (which are often quite similar) were public on stackovervlow or similar.

My suggestion is to add the fo

[2016-05-23 23:10] nelson-liu commented on #6815
+1. Not sure if mailing list or stackoverflow would be better...I personally never answer questions on SO, but its not difficult to imagine that there is a wide community of scikit-learn users that do. Mailing list is also a bit noisy.

[2016-05-23 23:18] rvraghav93 commented on #6815
Better yet would be to not include your email alone (like @larsmans recently did.) I'm -0.5 for this. Thoughts @gaelvaroquaux?

[2016-05-24 06:06] agramfort commented on #6815
@robertlayton remove your email from the code base as @larsmans did.

I personally just ignore such emails.

[2016-05-24 07:31] dlsun opened #6816 "Unnecessary import in DecisionTree documentation"
http://scikit-learn.org/dev/modules/tree.html#classification

The first snippet of code that uses export_graphviz contains the import `from sklearn.externals.six import StringIO`, but this import doesn't seem to be necessary for that example.

[2016-05-24 10:56] grayben opened #6818 "HashingVectorizer.fit_transform appears completely broken"
#### Description
HashingVectorizer.fit_transform _appears_ to be **completely broken**

#### Steps/Code to Reproduce

[code]

#### Expected Results

[code]
is True
#### Actual Results

[code]
is True

#### Versions

Darwin-15.2.0-x86_64-i386-64bit
('Python', '2.7.11 (default, Mar  1 2016, 11:12:23) \n[GCC 4.2.1 Compatible Apple LLVM 7.0.2 (clang-700.1.81)]')
('NumPy', '1.10.4')
('SciPy', '0.17.0')

[2016-05-24 11:19] jnothman commented on #6818
As expected. Feel free to construct `HashingVectorizer(n_features=9)` but that would be an abuse of the hashing trick; or read [the documentation](http://scikit-learn.org/stable/modules/feature_extraction.html#vectorizing-a-large-text-corpus-with-the-hashing-trick).

[2016-05-24 11:19] #6818 closed

[2016-05-24 11:25] grayben commented on #6818
Thanks Joel, I hadn't seen that documentation, which clears this up a lot.
I'll have to play around with the size so that I can make my downstream
code swallow the matrix.
On 24 May 2016 9:20 PM, "Joel Nothman" <notifications@github.com> wrote:

As expected. Feel free to construct HashingVectorizer(n_features=9) but
that would be an abuse of the hashing trick; or read the documentation
<http://sci

[2016-05-24 11:26] jnothman commented on #6818
If you want to benefit from the hashing trick for a large, sparse feature
space, you're best off making the downstream code support CSR matrices
directly.

On 24 May 2016 at 21:25, Ben Gray <notifications@github.com> wrote:

[2016-05-24 11:51] dukebody opened #6819 "Documentation about Ridges' alpha regularization parameter is misleading"
#### Description

The [documentation for the `alpha` parameter in `Ridge`](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html#sklearn.linear_model.Ridge) is:

I believe the sentence "Small positive values of alpha improve the conditioning of the problem and reduce the variance of the estimates" is misleading (it certainly mislead me), because it makes you think that s

[2016-05-24 13:21] TomDLT commented on #6819
Can you do a pull-request?

[2016-05-24 15:45] wjagers commented on #6130
Going back to numpy 1.9.2 (as was suggested to help at http://comments.gmane.org/gmane.comp.python.scikit-learn/14497) doesn't help for me.

Same issue using sklearn versions 0.16.1 and 0.16.0, as well. Very strange.

[2016-05-24 16:14] krishnateja614 opened #6820 "GridsearchCV error "Access is denied" after finishing all folds of cv but before the final fit and joblib error in the next run."
Hi , I am running gridsearchcv on a 16 core and 112GB RAM Azure VM (rdp). While the same code works fine on my PC with 16 cores and 8GB RAM, I am getting the following error on the VM inconsistently like 8 out of 10 times.The shape of the train data is 800000 * 20. The grid search model is fitting all the folds as I can see from verbose(=10) but before calculating the "best_score_" and "best_estim

[2016-05-24 16:26] srviest commented on #6130
@wjagers
Finally I solved it by installing sklearn in different path (along with atlas)

[2016-05-24 16:52] maniteja123 commented on #6820
Hi, sorry for being of any help here but from the traceback it looks like the joblib being unable to fork new child processes though haven't seen this issue before. And suppose it would be better to post this on the [issue tracker of joblib](https://github.com/joblib/joblib).

[2016-05-24 16:58] krishnateja614 commented on #6820
Thanks for the link, I'll post there as well. Joblib error only comes after I get windows error 5. It never came before that.

[2016-05-24 19:40] amueller opened #6821 "information ratio criterion for trees?"
I was just playing around with rapidminer and they have an additional splitting criterion for decision trees, which is also the default. Using their default settings, I get a tree of depth 2 that is as good as our tree of depth 8 or something. I think we should check out the splitting criterion.

[2016-05-24 22:34] rvraghav93 commented on #6821
I call dibs on this ;)

[2016-05-25 07:33] bhaveshoswal commented on #2606
@mchangun Can you give me the ML-KNN code it will be a great help to me as i am working on Multi-Label Problem Thanks

[2016-05-25 07:43] jnothman commented on #2606
The issue is still open, @medhini, it has not been implemented (the implementation at #970 is not multi-label); and no, we don't have code for you, @bhaveshoswal .

[2016-05-25 08:32] ogrisel commented on #4016
AppVeyor tests pass:

https://ci.appveyor.com/project/sklearn-ci/scikit-learn/history

This seems to be an issue with multiprocessing (at least in Python 2.7):

http://stackoverflow.com/questions/17076679/windowserror-access-is-denied-on-calling-process-terminate

I never observed it myself when debugging stuff under windows.

[2016-05-25 08:41] ogrisel commented on #4016
In Python 3.5, the problem seems to be less likely has the timeout has been set to 1.0 second, here is the end of the `multiprocessing/popen_spawn_win32.py` file:

[code]

Under Python 2.7, the corresponding code (`multiprocessing/forking.py` at line 312) is not as robust as the time is 0.1s:

[code]

I will try to see if I can put a workaround in joblib.

[2016-05-25 12:12] medhini commented on #2606
I would like to take up this issue and implement MLKnn. Can it be assigned to me ?

[2016-05-25 12:42] jnothman commented on #2606
As far as I can tell, @medhini, you would be welcome. We've rarely used the 'assignee' feature, but please write some tests, perhaps, open a WIP pull request and show us it's actually going to happren.

[2016-05-25 12:47] EmanSalameh opened #6822 "array must not contain infs or NaNs in SOMpy"
#### Steps/Code to Reproduce
import sompy as sompy
from sklearn import neighbors
from sklearn.externals.joblib import Parallel, delayed, load, dump

data = np.genfromtxt('attack-traffic.csv', dtype=float, delimiter=',', names=True)
b = data.view(np.float64).reshape(data.shape[0], -1)
som = sompy.SOMFactory.build(b, mapsize, mask=None, mapshape='planar', lattice='rect', normalization='var', initial

[2016-05-25 12:54] jnothman commented on #6822
That error report does not look complete, nor does it to be an issue with scikit-learn.

[2016-05-25 12:57] rodya-mirov commented on #5442
The problem is when your categorical variable can take a lot of values; performance of the RF with this encoding tends to be worse than in R (for example) where the categorical data is handled more naturally.

[2016-05-25 13:07] #6795 closed

[2016-05-25 13:18] thenomemac commented on #5975
@bjlkeng I don't have a WIP implementation complete yet. I started a while back then got distracted. I don't think divide through by exposures to get a poisson rate. The offset=log(exposure) in the gradient is an additive factor. So, you're effectively giving more weight to "areas" with a higher exposure. Not 100% sure if you can get back to the correct gradient at each iteration of fitting the ba

[2016-05-25 13:22] jnothman commented on #5442
There is a candidate implementation at #4899, but only supporting up to 64 categories per feature.

[2016-05-25 13:23] #6822 closed

[2016-05-25 16:04] krishnateja614 commented on #6820
The issue seems to be resolved by changing the timout value in multiprocessing/forking.py from 0.1 to 1.0. This has been suggested by @ogrisel in https://github.com/scikit-learn/scikit-learn/issues/4016#issuecomment-221509853 . Another work around is to migrate from python 2.7 to 3.5.

[2016-05-25 16:04] #6820 closed

[2016-05-25 22:01] hlin117 opened #6827 "Allow cross_val_score to return model from each fit?"
It would be nice to return the model fitted using each fold from the `cross_val_score`. When we use models such as GridSearchCV, LassoCV, *CV, we might be interested in what parameters were found from their `fit` method.

Maybe a `return_fitted` parameter could be appropriate here.

Related: #6697. @raghavrv, do you have any opinions?

[2016-05-25 22:53] hlin117 commented on #6827
My implementation of the feature is [here](https://github.com/hlin117/scikit-learn/commit/15439701c206a8480d7ef9f060f0414d0890291b). I could polish it up with documentation if this issue seems like a good idea.

[2016-05-26 00:57] #6816 closed

[2016-05-26 01:16] #6687 closed

[2016-05-26 01:21] raghavrv commented on #6731
Selfnote: also refer https://github.com/scikit-learn/scikit-learn/pull/2759#issuecomment-218361786

[2016-05-26 03:10] jnothman commented on #6827
It's been discussed an age ago. There was some sense of "is it so hard to roll your own if you actually need the fitted model?". Or: it might be better in many cases use memoisation so that these things get written to disk instead, but can be reacquired by supplying the same training data and parameters without refitting...

[2016-05-26 03:38] hlin117 commented on #6827
I think one of the advantages of `cross_val_score`, besides being able to succinctly perform cross validation, is that it interfaces joblib. So, in terms of "writing your own", it's an easy for loop, but it would lose the functionality of joblib there.

[2016-05-26 04:55] lesteve commented on #6687
@pgrandinetti the PR has been merged, the scikit-learn version installed from the pip line above should not yield a segmentation fault. Let me know if the problem persists.

[2016-05-26 07:16] pgrandinetti commented on #6687
@lesteve  I still get the segmentation fault with the code you posted on 21st April (2nd message of this conversation).
[code]

[2016-05-26 07:28] lesteve commented on #6687
My guess is that you haven't got the latest version, try:
[code]

[2016-05-26 07:37] pgrandinetti commented on #6687
Oh, yes, I had run the second without the first line. I do not have the error now.
Thanks.

[2016-05-26 07:40] lesteve commented on #6687
Glad to hear that ! To be perfectly I am not too sure how pip deals with version when installing from git. So uninstalling and reinstalling was the safest option.

[2016-05-26 07:45] pgrandinetti commented on #6687
No clue, indeed.
BTW, thanks for you hard work.

Cheers

[2016-05-26 11:51] #6793 closed

[2016-05-26 12:41] ogrisel commented on #5709
We use numpy's distutils instead of setuptools to build the compiled extensions. It does not detect the MS Visual C++ Compiler for Python 2.7 automatically. Instead you can try to setup a build environment manually by following the 3 steps described here:

http://stackoverflow.com/a/28618559/163740

Please let us know if that fixes the problem for you.

[2016-05-26 13:50] cvanwynsberghe opened #6828 "Weighting the Smacof MDS algorithm"
Hi!

My name is Charles, and I would like to share my very first contribution to open-source project.

#### Smacof from sklearn rules ! It only lacks the weighting

I regularly need the use of SMACOF algorithm, for sensor localization. In this field (and others), the weighting is mandatory to give more or less importance to pairwise distances. I send you to a well-known paper about it : [Costa2006

[2016-05-26 14:00] cvanwynsberghe commented on #6828
PS a last point: this weighting would concern only the case when dissimilarity matrix is 'precomputed'. I don't know if it would be make sense in another way (ie with a n_samplexn_feature input data)

[2016-05-26 15:00] amueller opened #6829 "link to user guide missing in LinearDiscriminantAnalysis"
http://scikit-learn.org/dev/modules/generated/sklearn.discriminant_analysis.LinearDiscriminantAnalysis.html#sklearn.discriminant_analysis.LinearDiscriminantAnalysis

[2016-05-26 15:18] nadya-p commented on #5709
@ogrisel Unfortunately the result is the same
[code]

[2016-05-26 15:23] nadya-p commented on #5709
However, updating the Python packages via
[code]
will lead you to yet another error message ```error: Unable to find vcvarsall.bat```
You can resolve this second one with the following [hack](http://stackoverflow.com/a/10558328/4600536).
This worked out nicely for me (Win7 x64, MSVC 2012, Anaconda2).

[2016-05-26 15:28] denfromufa commented on #5709
works fine for me:

[code]

On Thu, May 26, 2016 at 10:24 AM, nadya-p <notifications@github.com> wrote:

[2016-05-26 15:59] amueller opened #6830 "make LinearSVC(dual=None) default"
I think the ``dual`` variable in LinearSVC and LogisticRegression should be set based on the ``penalty`` and ``loss`` parameters. (not sure if there is already an issue for that).

[2016-05-26 16:20] bobcolner commented on #2989
+1, also random forest imputation would be great. https://cran.r-project.org/web/packages/missForest/missForest.pdf

[2016-05-26 22:54] raghavrv commented on #6809
+1 Could you submit a PR?

[2016-05-27 03:21] hlin117 commented on #6809
Issue addressed in #6833.

[2016-05-27 07:15] HaiQW opened #6834 "User-specific Kernel of LabelPropagation"
#### Description

some function is not a valid kernel. Only rbf and knn are supported at this time

I wonder that if some user-specific kernel could be added to two semi-supervised algorithms, LabelPropagation or LabelSpreading. Currently only 'rbf' and 'knn' are supported. *I think it is possible
to set the kernel(or weights matrix) manually by user, i.e., kernel=weights_matrix*

#### Related Cod

[2016-05-27 09:35] nadya-p commented on #5709
@ogrisel Should we document the workaround for ```error: Unable to find vcvarsall.bat``` in _scikit-learn\doc\developers\advanced_installation.rst_? This might be a temporary issue that will be addressed in a future release of Python 2.7, so I'm not sure whenever documenting it explicitly is appropriate.

[2016-05-27 12:41] ogrisel commented on #5709
There will be no future release of Python 2.7. But maybe a future version of numpy.distutils will be updated to work correctly with "Visual C++ Compiler for Python 2.7" instead of the original "VS 2008 Express".

The current documentation is correct if you use "VS 2008 Express" to build scikit-learn with Python 2.7. If instead of the original "VS 2008 Express", the user decide to try to build with

[2016-05-27 13:43] josef-pkt commented on #5975
(aside I found the link to this issue on stats.stackexchange

statmodels GLM has offset and exposure (exposure only for log link)

In master there is now an elastic net option for GLM and a few other models, implemented via apython loop for coordinate descend (uses generic maximum likelihood with offset)

In master there is now also Tweedie family for GLM. However, it doesn't use the full loglikel

[2016-05-27 14:13] agamemnonc commented on #6829
I am happy to take that, but not sure what exactly needs to be done? Just add the above link inside the function? Where should it go?

[2016-05-27 14:55] cvanwynsberghe commented on #6828
Hi again!

I just finished to add the weight options, with added doc. The 3 tests in sklearn/manifold/tests/test_mds say OK.

[2016-05-27 14:57] denfromufa commented on #5709
pip install from source detects correctly "Visual C++ Compiler for Python 2.7", like I showed above.

Note that importing setuptools in setup.py monkey-patches distutils to detect  "Visual C++ Compiler for Python 2.7".

more here:

https://blogs.msdn.microsoft.com/pythonengineering/2016/04/11/unable-to-find-vcvarsall-bat/#comment-515

[2016-05-27 16:27] maniteja123 commented on #6829
Hi, the link to the [user guide](http://scikit-learn.org/dev/modules/lda_qda.html) about the discriminative analysis is missing in the above link and also the quadratic discriminative analysis. It should be something similar to the one in [here](http://scikit-learn.org/dev/modules/generated/sklearn.linear_model.ARDRegression.html#sklearn.linear_model.ARDRegression) above the parameters section. Ho

[2016-05-27 16:31] agamemnonc commented on #6829
Thanks for the clarification. I am happy to be assigned this task.

[2016-05-27 16:34] maniteja123 commented on #6829
I suppose issues aren't generally assigned to anyone in particular, but it would be great if you can send a PR with the fix !

[2016-05-27 20:08] hadi-ds opened #6837 "possible bug in NearestNeighbors algorithm with user defined metric"
I have a set of ~100k vectors (150 dimensional ones) for which I use 'NearestNeighbors' to find 10 closest vectors. I have my own metric and it is the inner (dot) product of vectors. Since number of vectors is large, brute algorithm runs out of memory and I use 'auto' instead (I think it chooses 'ball_tree' since KDtree dones't work by user defined metric). I get different answers with "algorithm=

[2016-05-27 22:37] hadi-ds commented on #6837
Trying with a smaller number of vectors, I noticed that if I set n_neighbotrs=#vectors (instead of 10 or so), it works fine and sorts all vectors properly. But then this doesn't work on large data set.

[2016-05-28 21:03] arcolife commented on #6829
@amueller does this fix it for you? https://github.com/scikit-learn/scikit-learn/pull/6838

[2016-05-28 22:21] krishnakalyan3 commented on #6766
@amueller I may I take up this task?. As far as I understand, the scope of this task is to update the TfidfVectorizer's docstring.
(http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfTransformer.html)
a) Default Value of norm
b) tf-idf computation (being tf * idf )
(Issue being fixed https://github.com/scikit-learn/scikit-learn/pull/5900)

Please let me know inca

[2016-05-28 23:17] jnothman commented on #6766
@krishnakalyan3 go ahead, but @amueller suggested `TfidfTransformer` needs some more detail, and `TfidfVectorizer` should have much of that too (or at least refer clearly to where the user can read about the parameters). Familiarise yourself with the options and write up as clearly as you can...

[2016-05-28 23:46] krishnakalyan3 commented on #6766
Thanks for the reply @jnothman. Another quick question for the TfidfTransformer documentation below
(http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfTransformer.html)
`The actual formula used for tf-idf is tf * (idf + 1) = tf + tf * idf, instead of tf * idf. ` is mentioned.
As far as I understand https://github.com/scikit-learn/scikit-learn/pull/5900 is changi

[2016-05-29 10:55] krishnakalyan3 commented on #6766
@amueller @jnothman please let me know if I have missed anything out.

[2016-05-29 13:49] jnothman commented on #4391
I think the addition of 1 to `idf` is not only non-standard, but seems to be inappropriate for machine learning. One might argue that in a retrieval context (i.e. Lucene's similarity score) a heavily weighted term that appears in (almost) every document should still match documents in which that term is heavily weighted.

I'm not very happy with the current default behaviour, but I understand that

[2016-05-29 20:51] arogozhnikov opened #6842 "roc_auc_score computation is wrong for large samples"
Hi, we've recently found some strange inconsistency in the behavior of `roc_auc_score`. After long digging @tata-antares found out that it is wrongly computed for large data samples *if weights passed are float32*.

### Minimal example
[code]

The value when dtype=float64 is correct, but in the case we investigated after passing float32 metric returned a regular number, which is very different fro

[2016-05-29 20:53] nelson-liu commented on #6842
maybe related to https://github.com/scikit-learn/scikit-learn/issues/6711 and https://github.com/scikit-learn/scikit-learn/issues/3864?

[2016-05-29 20:59] arogozhnikov commented on #6842
#3864 is due to clipping, may be related to #6711, but seems no weights there.

[2016-05-30 07:17] arita37 opened #6843 "New Model random Forest:"
Just wondering, if there is a model to handle very high dimensionnal, co-linear feature in Random Forest like this:

Classifying Very-High-Dimensional Data with Random Forests of Oblique Decision Trees

or this one Ranger
http://arxiv.org/abs/1508.04409

[2016-05-30 09:40] mattilyra commented on #6471
I can add a few more test cases to this. With the following data

    import sklearn.cross_validation
    from sklearn.datasets import make_blobs
    X, y = make_blobs(n_samples=1000, n_features=2, random_state=42, cluster_std=5.0)

All manner of crazy things happen
    split = sklearn.cross_validation.StratifiedShuffleSplit(y, test_size=0.09, train_size=0.1)
    train_idx, test_idx = next(iter(sp

[2016-05-30 10:12] mattilyra commented on #6471
Right, so the problem is this line

    test.extend(missing_idx[-(split.n_test - len(test)):])

https://github.com/scikit-learn/scikit-learn/blob/51a765a/sklearn/cross_validation.py#L1005

If `split.n_test - len(test)` is 0, meaning that we already have to correct number of test indices, we end up adding _all_ of the missing indices to the test set, including those that went to `train`. The simple

[2016-05-30 13:21] bernhard2202 commented on #6821
@raghavrv do you need help on this?
Also @amueller for clarification you mean the criterion "gain_ratio" from this [documentation](http://docs.rapidminer.com/studio/operators/modeling/predictive/trees/parallel_decision_tree.html)?

[2016-05-30 15:45] KeironO opened #6845 "Orthogonal projection to latent structures discriminant analysis."
Are there any plans to implement O-PLS in Sklearn?

Thank you,

Keiron.

#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2016-05-31 01:38] KelseyJustis commented on #4717
@imadie

in the tutorial referenced change following lines to :

clf = GMM(4, n_iter=500, random_state=3)
x.shape = (x.shape[0],1)
clf = clf.fit(x)

xpdf = np.linspace(-10, 20, 1000)
xpdf.shape = (xpdf.shape[0],1)
density = np.exp(clf.score(xpdf))

[2016-05-31 02:20] mblondel commented on #6603
Any opinion on this @amueller? I think it wouldn't hurt to promote scikit-learn-contrib for a while, since not so many people know about it yet.

[2016-05-31 07:51] agramfort commented on #6603
+1 for adding a section below Who uses scikit-learn?

[2016-05-31 08:41] wjagers commented on #6130
@srviest
Thanks for the update. Could you elaborate on what you've done exactly ?
My atlas is somewhere within /opt, and I've been trying sklearn installs within my python install as well as in specific locations.

[2016-05-31 12:03] lesteve commented on #6471
Sorry, I may have missed something here. Have you found a bug that has not already been fixed in master or that was not the one for which the issue was created?

[2016-05-31 13:17] bernhard2202 commented on #6819
I think this can be closed now with #6844

[2016-05-31 13:23] dukebody commented on #6819
@bernhard2202 yes, thank you! You beat me. :)

[2016-05-31 13:23] #6819 closed

[2016-05-31 14:23] wjagers commented on #6130
I seem to have it sorted as well.

- recompiled atlas using both `--prefix` at configure time _and_ `DESTDIR` at install time. For some reason atlas kept looking in `/usr/local/atlas` otherwise. (Inspiration at http://www.python-forum.org/viewtopic.php?f=10&t=14267)
- as my atlas shared libs are libsatlas.so and libtatlas.so, I appended `tatlas` to `cblas_libs` in all corresponding setup files:

[2016-05-31 23:14] jnothman commented on #6842
I can confirm getting "UndefinedMetricWarning: No negative samples in y_true, false positive value should be meaningless" but I'm not able to replicate the `nan`. Is there a reason you did not report the rest of your platform details?

[2016-05-31 23:14] jnothman commented on #6842
Scratch that. I do get nan. Just wasn't reading output correctly.

[2016-05-31 23:31] jnothman commented on #6842
This is what it comes down to:
[code]
Cumsum is losing precision, even when a float32 sum does not. This might be a numpy bug. If so, it lies in `np.add.accumulate`:
[code]

We can solve here by always passing `dtype='float64'` to cumsum, or doing so if the number of samples is high or something. There might also be a way to do cumsum in batches in a way that reduces the issue. Certainly we can id

[2016-05-31 23:35] jnothman commented on #6842
@arogozhnikov, please let me know if you report a bug to numpy.

and @nelson-liu, this is entirely independent of those other bugs.

[2016-06-01 00:33] jnothman opened #6847 "Examples shouldn't use weighted macro-averaged P/R/F"
We've moved away from the default precision/recall/f-score being a prevalence-weighted macro-average (`average="weighted"`) to requiring the user to specify an option, on the basis that the weighted average is somewhat non-standard / not in textbooks. The example at `examples/model_selection/grid_search_digits.py` still uses the weighted average, as do some docstrings. We should identify if a more

[2016-06-01 02:13] nelson-liu commented on #6842
@jnothman ah ok, sorry I didn't look super closely into it; I just remembered seeing those other two threads and xref'd them here. thanks for letting me know.

[2016-06-01 06:17] MechCoder commented on #6778
See: https://github.com/scikit-learn/scikit-learn/pull/6674

[2016-06-01 06:26] #6744 closed

[2016-06-01 08:47] KeironO commented on #6843
If you look [here](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html), you can find related documentation.

[2016-06-01 09:09] jnothman commented on #6843
I think the answer you're looking for is: no.

[2016-06-01 09:09] #6843 closed

[2016-06-01 09:13] jnothman commented on #6843
We're also unlikely to implement those relatively recent inventions, unless they're minor extensions to our current implementation. And the user can customise split criterion and approach as it is, so if it fits into that modularity, it can be implemented as an extension to scikit-learn.

[2016-06-01 13:34] jnothman commented on #6828
@NelleV are you able to briefly comment here or at #6836?

[2016-06-01 15:17] dcbb commented on #6665
Is there any update on this?

I have the issue on a dataset of mine, on Anaconda, Py 3.5, sklearn 0.17.1. And I can reproduce the error with the example provided by @ivan-krukov .

[2016-06-01 15:27] raghavrv commented on #6821
@bernhard2202 Your help would be more than welcome. Thanks!

[2016-06-01 16:48] agamemnonc opened #6848 "LinearDiscriminantAnalysis predict probability bug"
I am pretty confident there is a bug introduced in commit
7c1101d7c26ba0b77184cce9c0b9be79adb526de

Concretely, line 518 of the current version
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/discriminant_analysis.py
should be removed as it yields wrong results.

There is no reason why constant 1 should be added to the computed probability after exponentiation and before inversion

[2016-06-01 17:48] raghavrv opened #6849 "Document why we need `*/tests/__init__.py`"
Add a line of comment to all the `*/tests/__init__.py` saying the `__init__.py` is needed to make it discoverable to nosetests when run outside the source directory.

See #6274

@nelson-liu could you take a look at this pl?

[2016-06-02 00:30] jnothman opened #6851 "Remove remaining references to class_weight='auto'"
`class_weight='auto'` was deprecated in #4347, with `'balanced'` as an alternative. However it appears that there are a few residual uses of it in documentation:

* doc/modules/grid_search.rst
* sklearn/svm/classes.py

Clean them up.

[2016-06-02 06:34] #6783 closed

[2016-06-02 08:46] youyanggu commented on #6665
Same issue. Python 2.7.6 on OS X El Capitan on 0.17. Tried the same code on Linux using Python 2.7.6 and 0.17, and it works.

[2016-06-02 10:29] krishnakalyan3 commented on #6851
@jnothman I found following occurrences of `auto`

sklearn/svm/classes.py
line 591,594
`
591     class_weight : {dict, 'auto'}, optional
592         Set the parameter C of class i to class_weight[i]*C for
593         SVC. If not given, all classes are supposed to have
594         weight one. The 'auto' mode uses the values of y to
595         automatically adjust weights inversely proportional to

[2016-06-02 12:29] krishnakalyan3 commented on #6851
Sorry you are right. Will fix it. Thanks

[2016-06-02 13:58] #6851 closed

[2016-06-02 17:36] ericfrederich commented on #5489
I am having this issue as well on a RHEL/CentOS system.
@lorentzenchr 's first solution worked for me, I didn't want to try his second solution.
Also @dballesteros7 's solution worked.

Note that while this bug has been opened for a while things have moved.
@lorentzenchr 's solution is now in a different file `sklearn/_build_utils/__init__.py` and a different line `30`
@dballesteros7 's solution m

[2016-06-02 17:37] zeckalpha commented on #5493
@heartyguy, any progress?

[2016-06-03 00:35] nileracecrew opened #6855 "base.clone fails if estimator has dia_matrix as a parameter"
#### Description

If an estimator has a scipy.sparse.dia_matrix as a parameter, the equality test in clone fails. It looks like this is because dia_matrix.data is a (1,n) ndarray, while most (all?) other sparse types are (n,) ndarrays.

#### Steps/Code to Reproduce

[code]

#### Versions
[code]

[2016-06-03 02:11] jnothman commented on #6855
Could use param.data.flat here to include diagonal and bsr matrices. That fix won't suffice, I think, for LIL or DOK.

[2016-06-03 06:16] jnothman commented on #6766
@amueller

Apart from not being sure what distinction you make between 'count' and 'frequency', "document frequency" is jargon in Information Retrieval, meaning specifically, "the number of documents a particular term appears in".

[2016-06-03 17:29] aakashpatel25 commented on #6847
I can take it if it is not already taken. Thanks.

[2016-06-03 17:47] arogozhnikov commented on #6842
@jnothman
it's not a bug, it is an expected behavior, since this code
[code]
gives the same (wrong) result.

`np.sum` is a different story — one can change order of summation there in any possible way.
As for `np.cumsum`, this will drive to doubling number of computations (even for optimal implementation).

[2016-06-03 18:56] amueller opened #6857 "GaussianMixture class missing from the api documentation"
The new GaussianMixture class needs to be added to references.rst.

[2016-06-03 19:47] amueller opened #6858 "Add tree plotting function"
Currently plotting a decision tree is a pretty big pain, in particular given how easy it could be in a notebook. jupyter actually has built-in support for showing graphviz graphs.
I suggest we add a function with a lazy graphviz import to return a graphviz graph, instead of writing to a file (it's one call to ``graphviz.Source()``).
Alternatively we could add an option to ``export_graphviz`` to re

[2016-06-03 23:11] #6778 closed

[2016-06-04 06:13] avinashthangali commented on #6502
I'd like to take a crack at working on this if it isn't taken aready

[2016-06-04 06:32] MechCoder commented on #6778
Feel free to continue the PR. It seems like it is not being worked on currently.

[2016-06-04 07:48] jnothman commented on #6847
You're welcome

On 4 June 2016 at 03:30, aakashpatel25 <notifications@github.com> wrote:

[2016-06-04 07:52] jnothman commented on #6842
I don't find your claim to be true:
[code]

[2016-06-04 07:53] jnothman commented on #6842
whoops forgot astype. stupid.

[2016-06-04 07:55] jnothman commented on #6842
you're right.... though that's really quite nasty.

[2016-06-04 09:30] mattilyra commented on #6471
@lesteve no, after adding the comments I noticed that on the upstream master the issue has been fixed, so this should probably be closed.

The link above is to the 0.17 sources (linked to from the API docs). Sorry for the confusion.

[2016-06-05 14:20] viswaraavi commented on #6858
I will work on this. so what you are saying is to import graphviz inside export_graphviz function and and use the library to build the graph and to return a graphviz object without writing to a file. But if this is the case then there will be no need of file argument. so are we not changing the prototype of function.

[2016-06-05 18:46] ghimiremukti commented on #6857
This would be my first contribution. Could you put more lights into it so that I can contribute. Sorry if I am annoying you.

[2016-06-05 19:41] EricSchles opened #6859 "exit() in code Latent Dirichlet Allocation example on topic modeling"
#### Description
 LatentDirichletAllocation example found here: https://github.com/scikit-learn/scikit-learn/blob/master/examples/applications/topics_extraction_with_nmf_lda.py and here: http://scikit-learn.org/stable/auto_examples/applications/topics_extraction_with_nmf_lda.html#example-applications-topics-extraction-with-nmf-lda-py

has an `exit()` on line 60
#### Steps/Code to Reproduce

simply

[2016-06-05 20:40] Jan-Ko commented on #6821
Hey, I hop I may add some references here. The "Data Mining and knowledge discovery Handbook" by Maimon and Rokach, provides a definiton of gain ration in section 9.3.8. Moreover, in section 9.3.7. further normalized impurity based criteria like the distance measure in section 9.3.9 are suggested.

Maybe one of those additional measures might be interesting to implement. E.g. the AUC-splitting cri

[2016-06-06 01:49] raghavrv commented on #6858
@amueller there is an existing PR (#6380) which needs review!

[2016-06-06 07:27] yingwei13mei opened #6860 "[Question]When excuting "make html" to generate the full web page of "http://scikit-learn.org", it pops up ERROR"
I wanted to generate the full web page of "http://scikit-learn.org" under the guide of "scikit-learn-master\doc\README.md", there are the error messages:
 D:\scikit-learn-master\doc>make html
 Running Sphinx v1.3.1

Exception occurred:
 File "D:\Anaconda3\lib\subprocess.py", line 1220, in _execute_child
 startupinfo)

FileNotFoundError: [WinError 2] 系统找不到指定的文件。
The full traceback has been saved in

[2016-06-06 07:53] glouppe commented on #6557
An easy addition would be to stop the construction when ``p(t) i(t, s*) < beta``, i.e. when the weighted impurity ``p(t) i(t, s*)`` for the best split ``s*`` becomes less than some user-defined threshold ``beta``.

[2016-06-06 08:15] ogrisel commented on #6557
I think this can also be beneficial for some ensemble algorithms like (gradient) boosting although it's typically not increasing the predictive accuracy for bagging-style ensembles (e.g. random forests).

Pruning might also be useful to save some memory and decrease prediction times a bit.

[2016-06-06 09:02] nvdv commented on #6858
There's another related issue  #6261

[2016-06-06 09:05] krishnakalyan3 commented on #6120
@amueller Can I take up this task?. Images with 12 components can be seen at the link http://imgur.com/a/s04G5.

I was wondering if the print message below is okay?
[code]

[2016-06-06 12:07] lesteve commented on #6120
@krishnakalyan3 for the record, you can include images inside github comments, no need to use imgur.

[2016-06-06 12:41] krishnakalyan3 commented on #6120
Thanks @lesteve added images below
Images below
![cluster centers - minibatchkmeans](https://cloud.githubusercontent.com/assets/4648995/15822196/9e8e087c-2bf4-11e6-8657-90059266164f.png)
![eigenfaces - randomizedpca](https://cloud.githubusercontent.com/assets/4648995/15822197/9e8e822a-2bf4-11e6-9126-9906e0e7555f.png)
![factor analysis components - fa](https://cloud.githubusercontent.com/assets/464

[2016-06-06 12:44] lesteve commented on #6849
I may be wrong but I think it's not really to make it discoverable by nosetests but more that if the tests folder doesn't have a `__init__.py` then it is not installed in site-packages so when you run `nosetests sklearn` outside of the source tree after doing `python setup.py install` you will find only the tests that have been installed in site-packages.

For example for scikit-learn 0.17.1 (and

[2016-06-06 12:57] raghavrv commented on #6849
Thanks for the clarification...

[2016-06-06 14:52] kingjr opened #6862 "sample_weight in LinearSVR .fit"
Is there any reason why there's no `sample_weight` param for `LinearSVR.fit` ?

[2016-06-06 15:10] TomDLT commented on #6862
`_fit_liblinear` started handling `sample_weight` only recently in #5274, and this pull-request only updated `LogisticRegression` for merging simplicity.
Adding them to `LinearSVC` should not be too difficult.

[2016-06-06 18:15] amueller commented on #6859
It's fixed in the dev version: http://scikit-learn.org/dev/auto_examples/applications/topics_extraction_with_nmf_lda.html#example-applications-topics-extraction-with-nmf-lda-py

[2016-06-06 18:15] #6859 closed

[2016-06-06 23:16] amueller commented on #5669
thanks :)

[2016-06-06 23:16] #5669 closed

[2016-06-07 05:28] sagarkar10 commented on #6849
Modified the pull request. Please verify the change. @lesteve @raghavrv

[2016-06-07 09:47] stefdoerr opened #6863 "DeprecationWarning MiniBatchKMeans"
I am trying to cluster using MiniBatchKMeans and I am getting around 20 deprecation warnings every time. It's a bit annoying in a jupyter notebook as it fills the screen. Can you confirm this is happening for you as well?

[code]

[code]

[2016-06-07 10:01] jnothman commented on #6863
I think this has been fixed in master. Please confirm.

[2016-06-07 10:02] jnothman commented on #6863
Actually, yes, fixed in #6697 6712

[2016-06-07 10:02] #6863 closed

[2016-06-07 10:02] stefdoerr commented on #6863
Ok thanks, will wait for next release then :)

[2016-06-07 12:31] tillahoffmann opened #6864 "Segmentation fault upon import"
The following code creates a segfault on my machine.

[code]

Here are some details about the system.

[code]

[code]

[2016-06-07 12:34] GaelVaroquaux commented on #6864
You probably have incompatible libraries (most likely in the math /
linear algebra stack). However, it's impossible to debug without a
C-level stack trace.

[2016-06-07 12:51] tillahoffmann commented on #6864
The problem arose because I created a conda environment with

```conda create -n testenv numpy```

 and installed sklearn with pip. Reinstalling numpy with pip fixed the problem.

[2016-06-07 12:51] #6864 closed

[2016-06-07 13:18] someuser89 opened #6865 "Wrong reference in Latent Dirichlet allocation"
Hi, I think the reference to lambda is wrong in online_lda class LatentDirichletAllocation attribute documentation: https://github.com/someuser89/scikit-learn/blob/master/sklearn/decomposition/online_lda.py#L227

I think it is called phi instead lambda. See http://www.jmlr.org/papers/volume3/blei03a/blei03a.pdf there is no lamba but a phi for word distribution topics.

Maybe there is a paper in wh

[2016-06-07 13:47] jnothman commented on #6865
I think this notation is taken from the Hoffman et al (2013) paper cited there. The comments and variable naming in the code make this a little more obvious. I think it may be best to remove that note to avoid confusion, since both φ and λ appear to be introduced as part of the optimisation approach rather than the model itself.

[2016-06-07 20:10] JnBrymn-EB commented on #5904
I was having similar trouble today and noticed a potential problem with sklearn's setup.py. According to [python setuptool docs](https://docs.python.org/2/distutils/setupscript.html#relationships-between-distributions-and-packages) you need to include the `requires` keyword argument and list `numpy`. Searching for "requires" in the sklearn [setup.py](https://docs.python.org/2/distutils/setupscript

[2016-06-08 00:11] amueller opened #6867 "New GP doesn't link back to the user guide"

[2016-06-08 01:16] amueller opened #6868 "GaussianProcesss: active_dims?"
When doing kernel engineering, you often want different parts of the kernel to operate on different features (like some on time and some on space and some on whatever).
From what I can see, this is not currently possible with sklearn.
GPy implements that with a ``active_dims`` option for each kernel.
That seems relatively easy, and I think it would be pretty cool. ping @jmetzen (also @jnothman and

[2016-06-08 06:38] jnothman commented on #6849
Copying my comment from https://github.com/scikit-learn/scikit-learn/pull/6861#issuecomment-224501416:

I'm finding this whole venture a bit weird, like it's the wrong solution to the issue of #6274. Surely the objective is to ensure new subpackages *have* an `__init__.py`, not to document and motivate the presence of `__init__.py`. This seems to be like an awareness campaign when we can address t

[2016-06-08 06:43] jnothman commented on #6849
@sagarkar10 would you like to debug my test and make that PR instead?

[2016-06-08 06:47] lesteve commented on #5904
There are arguments both ways. Look at https://github.com/scikit-learn/scikit-learn/issues/4164#issuecomment-71550942 and related issues/PRs for example about why we decided to do it this way.

[2016-06-08 11:08] sagarkar10 commented on #6849
@jnothman yes i would definitely want to do that..... but i will need some guidance.

[2016-06-08 11:13] edevil commented on #6665
Same issue.
OSX El Capitan Python 3.5.1
scikit-learn==0.17.1
scipy==0.17.1

[2016-06-08 11:20] jnothman commented on #6849
It is, admittedly, much more technically demanding. If you don't feel you can do it, perhaps let someone else. It involves creating a test, probably in `sklearn/tests/test_common.py`, a bit like the one I wrote above, but you'll have to debug why it's currently failing, i.e. listing some subpackages as being untested...

[2016-06-08 11:45] sagarkar10 commented on #6849
if someone else want to do it, its fine.... i will try my best to address the problem. No doubt i am beginner in this field, I still want to try.

[2016-06-08 13:40] jnothman commented on #6849
Sorry, it appears the only reason that test is failing is because I didn't compile scikit-learn correctly... whoops. I think actually, I'm going to submit a patch for this one myself.

[2016-06-08 14:04] EricSchles commented on #6859
Yay!

[2016-06-08 15:46] flyingpoops opened #6870 "parallelism with n_jobs=-1"
Hi,

I am new to parallelism. When I run ensemble methods with n_jobs=-1. Does the program use all the cores in my computer? (For example, if I have a Desktop with 4 cpu and 2 cores each, then the program use 8 cores together)

Thanks in advance

[2016-06-08 17:30] maniteja123 commented on #6870
Hi, as far as my understanding goes, when n_jobs = -1 number of jobs run in parallel is set to the number of cores in the system. So it should be 8 jobs in the above case. Hope  it helps.

[2016-06-08 17:47] jmetzen commented on #6868
Yes, adding this should be relatively straightforward. We could either specify active_dims by a boolean mask (active_dims=[False, True, True, False, True]) or by indices (active_dims=[1, 2, 4]), or allow both. Any preferences?

Another question is if we add the active dimension code to each kernel separately or if we write a WrapperKernel, which encapsulates the logic of dimensionality selection.

[2016-06-08 19:17] raghavrv commented on #6870
Kindly avoid raising an issue for such usability related questions that are documented well please.

The `n_jobs` documentation clearly states

[code]

The number of cores in your case seems to be 8.

[2016-06-09 00:39] #6870 closed

[2016-06-09 01:01] rhiever commented on #6747
Just to note: The auto-sklearn folks implement balanced accuracy similar to how I was describing: https://github.com/automl/auto-sklearn/blob/master/autosklearn/metrics/classification_metrics.py#L117

The only difference is that they scale the result at the end, but otherwise it's the same.

[2016-06-09 12:14] jolaem opened #6871 "“Cannot import name check_arrays” while importing sklearn.svm"
Sklearn throws an error "Cannot import name check_arrays" when importing sklearn.svm.

I have searched the issue and another question suggested that check_arrays has been replaced with check_array. It seems like the old check_arrays is used by some code called form svm.

I have tested this and replacing imports (from check_arrays to check_array) in:
  * /usr/local/lib/python2.7/dist-packages/sklea

[2016-06-09 12:24] jnothman commented on #6871
The thing is, that `bicluster` directory doesn't exist in 0.17.1: https://github.com/scikit-learn/scikit-learn/tree/0.17.1/sklearn/metrics/cluster. So it's a problem of not having a clean install.

[2016-06-09 12:24] #6871 closed

[2016-06-09 13:08] kavehtp opened #6872 "Positive number returned when calling score_samples() from neighbors.kde.KernelDensity"
Hi,

When I call score_samples() from KernelDensity class, it sometimes returns **positive** values for **log(density)** if the bandwidth is **small** (e.g. 0.05). Is this normal? I was expecting getting negative values all the time. Here is an example:
[code]
Output:
[code]

System specs:
[code]

[2016-06-09 13:43] agramfort commented on #6872
prob with densities are not always between 0 and 1. Think of a Gaussian
with a very tiny \sigma

[2016-06-09 14:11] kavehtp commented on #6872
You're right. Silly question :)

[2016-06-09 14:11] #6872 closed

[2016-06-09 17:26] amueller commented on #6868
yeah I'd be fine with the second, and I think indices are ok.

[2016-06-09 17:28] amueller opened #6873 "roc_auc_score doesn't have a pos_class attribute"
I think we should add support for that.
Though it's still tricky when using it in grid-search because that requires a custom scorer (via make_scorer) every time :-/

[2016-06-09 19:13] tswr commented on #6873
Do you mean pos_label and just forward it to roc_curve? If so, I'm on it.

[2016-06-09 21:10] MechCoder commented on #6868
+1. I will be happy to review or even better implement it myself.

I would need it for this https://github.com/scikit-optimize/scikit-optimize/pull/62#issuecomment-213405855

[2016-06-10 05:58] alpcakno opened #6875 "Installation WIndows Upgrade Issues"
#### Description
Permission failed when upgrading from 0.16 to 0.17 in Windows

1) Method 1: in Spyder, Ipython:
     !pip install scikit-learn --upgrade --no-deps

IOError: [Errno 13] Permission denied: 'd:\\_devs\\python01\\winpython-64-2710\\python-2.7
.10.amd64\\lib\\site-packages\\sklearn\\_isotonic.pyd'

2) Method Under Admin CMD Windows:
  pip install scikit-learn --upgrade --no-deps

IOErr

[2016-06-10 08:15] kritkaran94 commented on #6867
@amueller I am ready to work on this. However, I am new to this community. So, please provide more details.

[2016-06-10 12:22] lesteve commented on #6875
Readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages and code snippets.

Not a Windows expert but I am betting that your problem happens because something on your system is using the sklearn.isotonic and having a lock on _isotonic.pyd. This may be your spyder session so th

[2016-06-10 14:44] Chaitya62 commented on #6875
I tried installing version 0.16 as i had 0.17
using
   pip install scikit-learn==0.16
in Windows powershell
and than when I upgraded it using
pip install scikit-learn --upgrade
in Windows powershel
I encountered no issue!