[2019-10-04 22:56] alexshacked commented on #14713
After reading the issues and PRs reference here and also studying the spectral clustering implementation, I understand that this enhancememt's goal is to refactor the logic for chosing an eigen solver in function spectral_embedding() located in manifold/spectral_embedding.py
I opened a  [WIP ] PR #15136, where I show an inital suggestion for refactoring spectral_embedding(). My intention is just t

[2019-10-05 00:49] #15056 closed

[2019-10-05 04:44] PyExtreme commented on #15133
Hi @pspachtholz , I would like to work on this. I am interested to contribute to scikit-learn and I think this can be a good starting point for me.

Thanks

[2019-10-05 06:19] PyExtreme commented on #15132
Hi @qinhanmin2014 , This seems to be a nice idea. I would like to work on this.
It would be great if you could please send me some references for the task.

Moreover, On seeing the code _of the predict function_ here at : https://github.com/scikit-learn/scikit-learn/blob/1495f6924/sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py#L644
, the predictions are not parallelized and the task

[2019-10-05 08:14] pspachtholz commented on #15133
@PyExtreme Thank you for offering your help. But I already suggested a fix in the pull request. I think a good place to start might be to check out #3846, which lead me to this issue.

[2019-10-05 08:32] pspachtholz commented on #3846
This is the current list of classes that might need examples:
[code]

[2019-10-05 10:29] PyExtreme commented on #3846
Hi @pspachtholz  @MechCoder , I would like to work on this. I am interested to contribute to scikit-learn and think that this can be a good starting point.

Thanks

[2019-10-05 10:49] pspachtholz commented on #3846
@PyExtreme I think you can just go ahead, select one/more classes from the list that you find interesting and add examples. I would then post what youre working on here to avoid duplicate work. For guidance you can take a look at previously merged pull requests.

[2019-10-05 11:32] PyExtreme commented on #3846
@pspachtholz , I am picking up ExtraTreesClassifier initially and after making commit, I would like to pick up in batches.

Thanks

[2019-10-06 12:32] fermat97 commented on #8500
Hi I have 5994 classes and my original feature dimension is 300, and I have 1092008 samples, when I put n_components=200 it gives me dimension of 33? Do you have some idea?

[2019-10-06 13:13] lordsoffallen opened #15139 "Shape Error on GradientBoostingClassfier.loss_ function"
#### Description
I am trying to calculate the error at each step for GradientBoostingClassifier with loss_ function object  but I am getting the error below:
`operands could not be broadcast together with shapes (2947,6) (2947,)`
I checked the source code and it appears that while function input expects both input with the same size (n_samples,) then it converts the actual labels to one-hot encodi

[2019-10-06 15:29] cod3licious commented on #9136
It would be great to add this for the tree-based methods as well. E.g., calling DBSCAN with a custom/non-sklearn distance function can take quite a while for a larger dataset and it seems to be because of the BallTree...

[2019-10-06 15:53] cod3licious opened #15140 "custom pairwise distance: absolute correlation / cosine - DBSCAN too slow"
I would like to use DBSCAN to identify clusters of strongly correlated OR anti-correlated points. However, calling it with a custom metric to compute the absolute correlation takes forever and uses a lot of memory, i.e., this:
[code]
is not practical for large datasets. With the RAM on my laptop I also can't afford to precompute the whole matrix and use that as input.
Is there a way to make DBSCAN

[2019-10-06 17:09] Nisza25 commented on #2439
The idea is that cross_val_score should entirely focus on the absolute value of the result. In my knowledge, importance of negative sign (-) obtained for MSE (mean squared error) in cross_val_score is not predefined. Let's wait for the updated version of sklearn where this issue is taken care of.

[2019-10-06 18:04] amogh-jrules opened #15141 "Implement cluster-mean attribute in DBSCAN"
Similar to the existing labels_ and core_samples_indices_ attributes, I want to add a cluster_mean attribute which will return the mean value of the clusters.
I have felt the need for such an attribute multiple times when dealing with this clustering algorithm

[2019-10-06 18:06] petibear commented on #14977
That's what I tried to imitate, but I do not have the dataset (generator) they used (Mulcross data generator). I'm thinking of redoing also something similar to what is shown in the Figure 12 however comparing using AUC different setups of iForest (e.g. those above).

[2019-10-06 23:33] jdhil commented on #7254
Hello, can we quickly revisit this?

The cited journal article is focused on Extremely Randomized Trees, not necessarily Random Forests. Based on my reading, section 3.1 documents that `max_features=n_features` is good for Extremely Randomized Trees. But I cannot spot where `max_features=n_features` is supported for Random Forests.

In fact, the paper leans away from that choice, since it explicit

[2019-10-07 01:50] jnothman commented on #15141
What for? It would be inappropriate for non-Euclidean metrics and
non-Gaussian clusters. And it's not hard to calculate yourself...

[2019-10-07 01:51] jnothman commented on #15140
Calculate a sparse distance matrix outside dbscan and pass it in with
metric='precomputed'

[2019-10-07 06:08] amogh-jrules commented on #15141
Well, I guess you are right. Thanks for your time.

[2019-10-07 06:08] #15141 closed

[2019-10-07 09:02] kiankd opened #15144 "TruncatedSVD.fit(X).transform(X) is not the same as .fit_transform(X)"
#### Description
Recall that SVD(X) decomposes X into three matrices, U, Sigma, and V^t.

In scikit-learn, TruncatedSVD treats .fit().transform() differently from .fit_transform(). On the one hand, .fit(X).transform(X) will return X @ V. On the other hand, .fit_transform(X) will return U * Sigma. If this is intended behaviour, I believe it should be detailed in the documentation.

#### Steps/Code

[2019-10-07 09:04] kiankd commented on #15144
Refer to the code source for TruncatedSVD at https://github.com/scikit-learn/scikit-learn/blob/1495f6924/sklearn/decomposition/truncated_svd.py#L197

[2019-10-07 09:41] cmarmo commented on #7023
If I may... @amueller this one can be closed?
The installation link is now available from the main menu.

[2019-10-07 09:43] rth commented on #7023
Thanks @cmarmo !

[2019-10-07 09:43] #7023 closed

[2019-10-07 09:44] alexshacked commented on #14713
After we finish the refactoring and achieve a clear code, there are a couple of candidate for improving the algorithm. I found those by reading the issues referenced here. For now I have 2 ideas base on @lobpcg comments.

1. call  scipy.linalg.eigh() always  if n_nodes < 5 * n_components.
Meaning, if number of samples is smaller than the (number_of_requested_eigen_vectors x 5)
https://github.com/s

[2019-10-07 10:34] rth commented on #15144
Thanks for the report.

If `X = U @ Sigma @  V.T` with `U`, `V` unitary matrices, then `X @ V` should be exactly equal to `U @ Sigma`, so we are are dealing with approximate solution in the randomized solver I think.
For instance with `algorithm="arpack"`, the norm of the difference above is `6e-14`

In `.transform(X)` we don't have a choice it has to be `X @ V`. In `.fit_transform(X)` using `U @

[2019-10-07 12:03] ogrisel commented on #15144
Indeed. Maybe we should do the projection for `X_transformed` whenever `algorithm="randomized"` or when `algorithm="arpack"` with `tol > 0`.

[2019-10-07 14:24] jejjohnson commented on #13605
I propose modifying the algorithm such that we get the proper terms for the GP regression algorithm. In the standard GP literature we typically have the following:

- `alpha` - this is the likelihood noise found for the GP model. Typically this is a learned parameter.
- `jitter` - this is the jitter that is needed to ensure that the cholesky decomposition of the kernel matrix is stable. I believe

[2019-10-07 15:35] TimotheeMathieu opened #15147 "Robust learning algorithms"
Hello,

I hope that I am posting at the right place.

I am currently working on Robust Machine learning and I want to try and add something to scikit-learn on this subject. I want to know if some of you are interested in it and if it would be interesting to implement this new feature.

**The project**

The idea is to have a correct classification even when there are outliers and we want to be able

[2019-10-07 15:55] amueller commented on #15147
Hey.
interest yes, but these don't meet our inclusion requirements:
https://scikit-learn.org/dev/faq.html#what-are-the-inclusion-criteria-for-new-algorithms

Why do you say Huber is not robust in both ways? The point of the huber loss is to be robust in targets. I'm not actually sure what robust in sample space means tbh.

[2019-10-07 15:59] rth commented on #15147
Naive question: isn't that somewhat equivalent to having a loss function that's less sensitive to outliers ?

[2019-10-07 16:04] rth commented on #14312
Maybe if we had a general validation tool for docstring such as proposed in https://github.com/numpy/numpydoc/issues/213 things would be a bit easier for contributors. Although I agree that it doesn't fully address the fact that some attributes are public while they shouldn't be.

[2019-10-07 16:13] TimotheeMathieu commented on #15147
Ah, Ok I didn't see this. Sorry. Most robust algorithms are quite new so I imagine I will have to wait. Well, even though they don't present an algorithm, this algorithm would solve something like what is proposed in this article from the annals of stats https://projecteuclid.org/euclid.aos/1444222083 so it is more than 3 years old. But the old algorithms I know of are not tractable.

Well Huber i

[2019-10-07 16:36] rth commented on #14168
Yeah, it's a lot. It was there before.

When I run this locally in Py3.7 and latest numpy I get `rtol=2e-2` needed.

I'm not quite sure where why this would fail with `py35_conda_openblas`. Note that it hasn't failed for a while, and just now we got another failure on master.

I don't this that increasing tolerance further is a solution. Increasing the data size might be one, or maybe we could sid

[2019-10-07 18:25] NicolasHug opened #15149 "Parameter searches: folds used in evaluate_candidates aren't consistent across calls"
If I use a custom CV iterator with `suffle=True, random_state=None`, then different folds will be generated for each call to `evaluate_candidates()`.

This isn't an issue for GridSearchCV or RandomizedSearchCV since these only call `evaluate_candidates()` once. But this is fundamentally wrong for e.g. Successive Halving #13900, which repeatedly call `evaluate_candidates` but assumes the folds to b

[2019-10-07 19:50] SmokinCaterpillar opened #15150 "Feature importances and node impurity of an ExtraTreesRegressor are NaN after fitting the model"
#### Description
All feature importances of an `ExtraTreesRegressor` become `NaN` in case a single feature importance of a single `ExtraTreeRegressor` is `NaN` after calling `fit`. This, in turn, may be caused by an already `NaN` node impurity. The cause of the `NaN` node impurity is unclear. We, @nicoring and I, believe this might be a result of very small sample weights (1e-15 and smaller) that

[2019-10-07 20:28] #14893 closed

[2019-10-07 20:34] jnothman commented on #15149
Yes, I did note this before. (Couldn't point to where.) I'd be happy to see this fixed

[2019-10-07 20:48] NicolasHug commented on #15149
Do you imagine this fixed by re-working the BaseSearch API (i.e. design something different from `evaluate_candidates()`), or by e.g. raising an error if the CV has `suffle=True, random_state=None`? Or even by adopting a more general solution e.g. one that could result from solving #14042 ?

[2019-10-07 21:21] jnothman commented on #15149
Also related is the fact that without a fit method, splitters behave
surprisingly with random_state when compared to estimators: The state is
checked in __init__.

[2019-10-07 21:41] NicolasHug commented on #15149
You mean in ``split()``?

[2019-10-07 21:52] jnothman commented on #15149
Yes, I suppose you're right. Uhhh. I think I mean the problem is that the
random state may be mutated by calls to split

[2019-10-08 03:35] jnothman opened #15152 "Add Release Highlights for several features in 0.22"
We recently merged https://github.com/NicolasHug/scikit-learn/blob/master/examples/release_highlights/plot_release_highlights_0_22_0.py to summarise the highlights of 0.22, to be released in early November.

More release highlights, briefly demonstrating the new thing in action, belong in that example doc:

* [x] Permutation based feature importance
* [x] HistGradientBoostingClassifier with missin

[2019-10-08 03:35] jnothman commented on #15152
Contributors: please only add one at a time.

[2019-10-08 03:39] #15093 closed

[2019-10-08 07:12] pspachtholz commented on #3846
Worked on gradient boosting.

[2019-10-08 08:13] meghanabhange commented on #10772
Hi,
Is this issue still active? Has the course of action been decided on?

[2019-10-08 11:17] ohadle commented on #7834
I'm realizing that this line:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/model_selection/_validation.py#L1254

Effectively means using `TimeSeriesSplit` CV with the default parameters (specifically `shuffle=False`) means that training data in all folds will be identical - just the data in the first fold. Validation still happens on (increasingly distant) validation folds.

Th

[2019-10-08 11:50] amueller commented on #7834
@ohadle Not sure what the relation to the shuffle parameter is. This never "works", independent of what you pass as shuffle.
What was the behavior you expected?

I think we should just raise an error for now if someone tries to do this. I don't see how this could have reasonable semantics. Then people can still shoot themselves in the foot with custom CV iterators but there's very little we can do

[2019-10-08 11:52] amueller commented on #7834
What would you have used?

[2019-10-08 13:14] ohadle commented on #7834
My current thought is to try to "shoot myself in the foot" ;) with a custom iterator that gives consecutive train-val sets. i.e.: split the data into `k+1` disjoint intervals with the same number of samples, and for each fold take one interval as "train" and the following as "val".
I could probably come up with something more sophisticated, as there's no need for train and val to be of the same si

[2019-10-08 13:27] deckbsd opened #15153 "Custom transformer problem"
#### Description
Hello,

If i use a custom transformer i have an error when i'm using model which don't like nan, inf value, but normally there shouldn't be there.

The error is :
**Input contains NaN, infinity or a value too large for dtype('float64').**

If i remove this line : **('addfeature', SimplifyNumericalFestureAdd())** (and the ',' before of course ^^ ) in the code below, it works like a

[2019-10-08 13:30] davidrpugh commented on #14468
Whether or not MiniBatchGD is useful in practice it would definitely be _super_ useful for teaching purposes.  I would be interested in working on this.

[2019-10-08 13:38] apptimise opened #15154 "Transform target when using SelectFromModel"
#### Description
I am using `SelectFromModel` and `LassoCV` for feature selection. `LassoCV` uses cross-validation, so it calculates the mean square error for the test set on each fold. Now, since my final model uses y-transformation, I'd like to be able to do the same when selecting features. How can I do that?

The example code shows that it is not possible to pass a `TransformedTargetRegressor`

[2019-10-08 14:09] PyExtreme commented on #3846
Picking up `neural_network.MLPClassifier` & `neural_network.MLPRegressor`

[2019-10-08 14:12] NicolasHug commented on #15149
If that's not an intended feature by design, we should definitely forbid None and instances then??

[2019-10-08 14:50] thebooort commented on #15152
Hey there!, stackingclassifier and stackingregression have some examples in their definition. May I edit them a little bit and add them ( in one or two PR's) to the file?

[2019-10-08 15:38] amueller commented on #15154
This is not possible with ``SelectFromModel`` right now unfortunately.
Also see #9606 and #15075 for related issues on feature selection.

A simple fix would be to add a ``feature_importances_`` attribute to all meta-estimators (or the meta-estimator mixin).

I guess the main question is that if we have a meta-estimator, do we want to allow default delegation of feature importances. I think our cu

[2019-10-08 15:43] amueller commented on #15153
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

Also, creating a minimum example would help you identify the issue. You should always try to create a minimum exam

[2019-10-08 15:43] #15153 closed

[2019-10-08 17:54] deckbsd commented on #15153
Hello,

I'm really sorry about the post at the wrong place. But thanks a lot for your help. It's really kind of you. I missed the right behavior of FeatureUnion. Thank you a lot.

[2019-10-08 18:01] deckbsd commented on #15153
But if i replace my FeatureUnion with a pipeline i'm getting this error :
**only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices**

Anyway it is not the good place. Thanks again for your help.

[2019-10-08 19:22] aditya1702 commented on #15144
@ogrisel Is anyone working on this? Or is this still an open bug?

[2019-10-08 21:35] NicolasHug opened #15161 "Do we want to keep the Passive Agressive estimators?"
We support the PassiveAggressive [classifier](https://scikit-learn.org/dev/modules/generated/sklearn.linear_model.PassiveAggressiveClassifier.html#sklearn.linear_model.PassiveAggressiveClassifier) and regressor, which simply are BaseSGD with hinge loss and a specific learning rate schedule (+ some regularization).

**I'm wondering whether we actually have a compelling reason to keep them around?**

[2019-10-08 21:42] GaelVaroquaux commented on #15161
I don't know. I haven't had much success with them, but maybe people have
had a different experience.

[2019-10-09 06:03] atorch commented on #7254
I posted a question about this at https://stats.stackexchange.com/questions/324370/references-on-number-of-features-to-use-in-random-forest-regression -- the answers and comments may be helpful.

[2019-10-09 07:32] qinhanmin2014 commented on #14468
@amueller Are you opposed to it? Can we go ahead? thanks

[2019-10-09 08:17] ogrisel commented on #15144
As far as I know, yes: there is no linked PR.

[2019-10-09 08:55] rth commented on #14468
I wouldn't be surprised if muni-batch SGD was more CPU cache friendly, than SGD but I wouldn't bet on it. Surprisingly couldn't find any clear literature on that after a quick look (aside from people implementing their own variations).

Anyway linking to some preliminary (pure python) implementation and providing some benchmarks could be a start.

[2019-10-09 14:04] #14974 closed

[2019-10-09 16:43] NicolasHug commented on #9250
I'm working on `mixture` and `svm`

[2019-10-09 17:13] TomDLT commented on #15152
@thebooort Please do :). I think one short example is enough.

[2019-10-09 17:30] thomasjpfan commented on #9606
In the context of `SelectFromModel` and `prefit=True`, are you suggesting we calculate permutation importance in `transform`?

This is most likely the best route for us to take.

[2019-10-09 18:03] jdhil commented on #7254
Thank you @atorch, this is helpful. If I am reading correctly, stackexchange broadly matches my comment above. So we now have at least 4 people in agreement (me, you, @odusseys, stackexchange answerer).

Let's wait a few days and see if any original member of this 2016 PR has a strong feeling either way. If not, I can raise this further. At a minimum I am happy to start with documentation changes,

[2019-10-09 20:12] agramfort commented on #13637
this question has be asked before and was considered out of scope for
sklearn that is targeted for prediction.

[2019-10-09 20:16] agramfort commented on #15161
I never used it

[2019-10-09 22:26] jnothman commented on #10772
I think the pull request is stalled and amueller's suggestion there seems
reasonable.

[2019-10-09 22:31] jnothman commented on #15149
At the time the splitters were given this general design, we found
ourselves inconsistent and chose this as the safest policy without
redesigning the API.

Only allowing int is one solution. Storing the random state is another.

[2019-10-09 22:40] jnothman commented on #15154
Adding feature_importances_ to Pipeline would be hard. Adding a
importance_getter param to SelectFromModel, allowing the user to get around
this limitation with a custom callable, might be simpler.

[2019-10-10 00:39] qinhanmin2014 commented on #15152
this is already included? (Native support for missing values for gradient boosting)

[2019-10-10 00:45] thomasjpfan commented on #15152
Yup! https://github.com/scikit-learn/scikit-learn/pull/13911

[2019-10-10 01:01] qinhanmin2014 commented on #9606
I guess calculating premutation importance during transform is not a good idea, because it's very time-consuming and we don't want to do it for multiple times? If we only want to support fitted estimators (like what we've done in ``permutation_importance``), it's easy to calculate it in ``fit``.

If we want to support estimators which are not fitted, things will be difficult, because we need a tra

[2019-10-10 01:31] qinhanmin2014 opened #15169 "Avoid Calculating feature importance for multiple times in SelectFromModel"
Currently, in SelectFromModel, we calculate feature importance during ``transform``. If users do feature selection based on the training set and transform both the training set and the testing set, they'll need to calculate feature importance for multiple times. Actually calculating feature importance is sometimes time-consuming (e.g., a large xgboost model), so I think we should figure out a way

[2019-10-10 01:37] qinhanmin2014 commented on #14468
our SGD is based on cython, so prehaps we can implement mini-batch SGD based on cython.
Maybe add a paramter to SGD (e.g., ``batch_size``)? Not sure whether it's practical.

[2019-10-10 04:39] jovo opened #15171 "add a sponsor button"
https://help.github.com/en/articles/displaying-a-sponsor-button-in-your-repository

[2019-10-10 05:30] AlexanderZatserkovnyy commented on #14624
The same problem (linux).
Looks like it's the result of an error in  sklearn/_build_utils/openmp_helpers.py
For me the test program ./test_openmp.c works as expected, but not in the building Scikit-learn process.

So, I just replace False to True in the line 111 in openmp_helpers.py  (sed -i -e '111s/False/True/' e.g.). As a result, I get normal building of Scikit-learn 0.21.3

[2019-10-10 07:52] jnothman commented on #9606
validation_fraction? Or take the first (last?) split returned by cv?

[2019-10-10 09:31] cmarmo commented on #5696
Hello core-devs,
if I may... this one could probably be closed...
If I understand correctly
`from sklearn.cross_validation import permutation_test_score`
has been replaced by
`from sklearn.model_selection import permutation_test_score`
and the code provided above run without errors using master.

[2019-10-10 10:33] rth commented on #14624
I think we should revisit whether we want to have OpenMP enabled by default.
I think most of people building it from sources just want to contribute and don't care about OpenMP, while this makes installation significantly more painful on MacOS at least.

For wheels and conda-forge is easy enough to enable it with an env variable, and if its documented enough people building for the main conda chan

[2019-10-10 10:50] qinhanmin2014 commented on #15169
Any examples in scikit-learn? I agree that it's a good idea but we can only add/modify attributes in ``fit``?

[2019-10-10 10:52] qinhanmin2014 commented on #9606
Perhaps we should allow users to specify the validation set manually (In this case, the validation set can be the same as the training set). Also see #15127

[2019-10-10 11:16] rth commented on #14624
Another point is that the error message can be misleading and doesn't necessary mean that issue is with OpenMP https://github.com/scikit-learn/scikit-learn/issues/15129

[2019-10-10 11:19] jnothman commented on #14624
Disabling with builds from source and appending a warning might be okay

[2019-10-10 11:20] jnothman commented on #15169
I thought you were talking about the expense of retrieving
feature_importances_ ... That's the attribute I mean which can be
implemented as an expensive property... What expense are you referring to?

[2019-10-10 11:22] rth commented on #14624
The issue is warnings (and any other stdout output) are hidden when pip installing something https://github.com/pypa/pip/issues/2933#issuecomment-290407667
Maybe we should suggest installing with a `-v` option, though personally I never do that.

[2019-10-10 11:46] ogrisel commented on #9606
We can also run permutation importances for several CV splits and aggregate (average) the resulting importances. This is more compute intensive.

Maybe we could also support `cv=0.2` meaning that it would do a single iteration of `(Stratified)ShuffleSplit` with `test_size=0.2`.

[2019-10-10 11:49] ogrisel commented on #9606
+1 for this solution as well.

[2019-10-10 12:25] NicolasHug commented on #15149
Can you expand on "storing the random state"?

I assume you mean storing a seed coming from the random state at `__init__`, and then use this seed in `split`?

If you mean storing `self.random_state = check_random_state(random_state)` in `__init__`, I think the problem is still present.

[2019-10-10 12:48] jeremiedbb commented on #14624
What about raising a warning in sklearn init if the build has been done without openmp support ?

[2019-10-10 12:53] AlexanderZatserkovnyy commented on #14624
I work with Gentoo.

I just turn off the check in openmp_helpers.py (replace False to True). Other parts of the build works as expected with the workaround.

I have built gcc with openmp and the C code from openmp_helpers.py works on my linux.

The openmp_helpers.py trap exceptions, so I get the message from the openmp_helpers.py .
"It seems that scikit-learn cannot be ..." when the check is turne

[2019-10-10 12:55] ogrisel commented on #14624
+1, including a link to the documentation that explains how to build scikit-learn from source with OpenMP enabled.

[2019-10-10 13:00] AlexanderZatserkovnyy commented on #14624
import sklearn

In [2]: sklearn.show_versions()

System:
    python: 3.6.9 (default, Oct 10 2019, 20:39:20)  [GCC 8.3.0]
executable: /usr/bin/python3.6
   machine: Linux-4.19.66-gentoo-x86_64-Intel-R-_Core-TM-_i5-8300H_CPU_@_2.30GHz-with-gentoo-2.6

Python deps:
       pip: None
setuptools: 41.2.0
   sklearn: 0.21.3
     numpy: 1.16.5
     scipy: 1.1.0
    Cython: 0.29.4
    pandas: 0.24.2

[2019-10-10 13:01] jnothman commented on #15149
I meant storing a seed, or else RandomState.get_state()

[2019-10-10 13:04] jeremiedbb commented on #14624
@AlexanderZatserkovnyy do you build sklearn from cloning the repo or from getting the source files from pypi ?

[2019-10-10 13:06] AlexanderZatserkovnyy commented on #14624
I don't use conda. Just customized ebuild from older version scikits_learn.
It's build scikit-learn from the scikit-learn-0.21.3.tar.gz

[2019-10-10 13:09] qinhanmin2014 commented on #9606
We can support this in permutation_importance and eli5 supports it. I'm not a big fan of it because this will be very computationally expensive.

Not sure, seems confusing.

[2019-10-10 13:09] AlexanderZatserkovnyy commented on #14624
SRC_URI="mirror://pypi/${MYPN:0:1}/${MYPN}/${MYP}.tar.gz"
...
The only change to the ebuild:
sed -i -e '111s/False/True/' sklearn/_build_utils/openmp_helpers.py || die "Sed failed!"

[2019-10-10 13:13] qinhanmin2014 commented on #15169
Yes, so we should avoid retrieving feature_importances for multiple times. For those classes who use ``@property``, we need to calculate feature importance every time we access feature importance.

Sorry I can't understand this part.

[2019-10-10 13:14] ogrisel commented on #14624
It's not going to impact many people I think. So I am fine with the runtime warning.

[2019-10-10 13:15] ogrisel commented on #14624
Maybe we could only warn when fitting estimators that would actually benefit from OpenMP parallelism (e.g. HistGradientBoosting and the future KMeans) and not at import time.

[2019-10-10 13:17] ogrisel commented on #9606
A short hand for single train validation split would be very useful to quickly run a grid/random parameter search on medium to large datasets where CV split variability is low.

[2019-10-10 13:23] qinhanmin2014 commented on #9606
Not sure, seems confusing.

Maybe I should clarify my comment:
I don't mean calculating permutation importance based on a validation set is confusing, I mean ``cv=0.2`` (i.e., ``cv=validation_fraction``) is confusing.

[2019-10-10 13:23] jeremiedbb commented on #14624
But if you need to start fitting to get the warning, it's kind of too late. Or do you mean when importing the modules containing those estimators ?

[2019-10-10 13:30] jeremiedbb commented on #14624
@AlexanderZatserkovnyy Could you replace lines 110 and 111:
[code]
by
[code]

and report the exception here ?

[2019-10-10 13:30] jnothman commented on #15169
Oh right. I forgot things. I raised a related discussion in #7491

[2019-10-10 13:32] jeromedockes commented on #14185
sorry for the late reply, yes that is correct. gcv (the default) does not use a tol, nor do the default solvers of `Ridge` (cholesky and sparse_cg)

[2019-10-10 13:36] rth commented on #14624
https://github.com/gentoo/gentoo/blob/master/sci-libs/scikits_learn/scikits_learn-0.19.0.ebuild is seriously outdated (starting from the name https://bugs.gentoo.org/665482), I wouldn't use it. I'm not sure where to find people interested in updating it.

[2019-10-10 13:39] ogrisel commented on #9606
Alright. My point is having a short-hand for `check_cv(0.2) == StratifiedShufflesplit(n_splits=1, test_size=0.2)` could be handy in sklearn, both for permutation importances but also for GridSearchCV / RandomizedSearchCV. But maybe it's too implicit and does not provide a natural way to control for `random_state`.

[2019-10-10 13:41] rth commented on #14624
@AlexanderZatserkovnyy Would you mind opening a separate issue somewhere maybe at https://bugs.gentoo.org/ and cc me, as your issue is fairly a different problem form the OP. Thanks!

[2019-10-10 13:44] NicolasHug commented on #15149
I'd be happy with that.

[2019-10-10 13:48] #13322 closed

[2019-10-10 14:07] anbai106 opened #15173 "sklearn SVC ignore sample_weight when input data dimension is high"
Hi,

I found that SVC ignore **sample_weight** when input data dimension is high.

For instance, my input is **n_subjects * num_feautre**: 100 * 230000. Based on feature selection, the **n_features_to_select** was set to be  **a) 200** and **b) 1000**

#### Steps/Code to Reproduce
[code]

#### Expected Results
The two different sample weights should obtain different results for both case a and b
#

[2019-10-10 14:23] angelaambroz commented on #2746
✋ I'd be happy to work on this as my first sklearn PR. To summarize my understanding:
- We need to add a noise kwarg to the `LassoLars.fit()` function.
- Two options on the noise's distribution: uniform and bounded by the param; or Gaussian with the param being its variance. I can implement uniform to start with and make the PR, we can discuss further there.
- Probably a test of some kind... I can

[2019-10-10 14:44] jeremiedbb commented on #14624
I opened #15174

[2019-10-10 15:18] kwunlyou commented on #12297
Another scenario is that some models are expensive to get. They could be trained by using something like `dask`. In the ensemble stage, it is not necessary and is time-consuming to train them again.

Btw, is there any plan to resolve this issue recently? Thanks.

[2019-10-10 15:19] harsh020 commented on #15110
Well, I don't think this feature has a great importance so, I'll be closing it.

[2019-10-10 15:19] #15110 closed

[2019-10-10 17:26] thomasjpfan commented on #5696
Thank you @cmarmo. This original issue is fixed and this issue can be closed.

[2019-10-10 17:26] #5696 closed

[2019-10-10 17:55] thomasjpfan commented on #15149
I would prefer storing the seed. The `RandomState.get_state()` tuple is quite big (compared to a seed). [numpy reference](https://numpy.org/devdocs/reference/random/generated/numpy.random.RandomState.get_state.html)

[2019-10-10 20:34] jnothman commented on #2746
The new param should probably be to the class constructor rather than fit
in our convention.

[2019-10-10 20:35] jnothman commented on #9606
Yes, I think it's too implicit, even as I agree it's a pity we don't have a
nice syntax for this.

[2019-10-10 20:37] jnothman commented on #15173
It's surprising that the size of the data will affect the applicability of
weights. Please provide a fully reproduce code snippet that a reader can
copy, paste and run.

[2019-10-10 22:40] AlexanderZatserkovnyy commented on #14624
Command './test_openmp' returned non-zero exit status 139.

But , if run the openmp_helpers.py code in ipython  (e.g.)
 check_openmp_support() returns True.

So, it's a side effect of Gentoo  building in sandbox.

------------------------------------------------------------------------------
the ebuild output

 * python3_6: running distutils-r1_run_phase python_compile
python3.6 setup.py build con

[2019-10-11 00:40] AlexanderZatserkovnyy commented on #14624
!!!
Have found the reference to https://github.com/stefantalpalaru/gentoo-overlay/blob/master/sci-libs/scikits_learn/scikits_learn-0.21.3.ebuild in https://bugs.gentoo.org/675212 .

It assembles scikits_learn-0.21.3 for me without the problem with openmp.
I'm not sure what the root of the problem (non-zero exit status 139) with updated 0.19.ebuild, but it's not important. Thanks!

[2019-10-11 02:41] vinitrinh commented on #15112
I think this points to a wider issue with the quantile strategy, not just for this particular 2 bin case.

At any K number of bins, as long as there are more repeats that $1/K$ repeats, the output would be quite different from expected results. I'd define expected behaviour as the obvious intuitive result (if such a result exists). In the dummy case here, there would clearly and intuitively be 3 b

[2019-10-11 10:09] kwunlyou opened #15181 "multilabel for VotingClassifier"
Saw this piece of code when reading the implementation of `VotingClassifier`

[code]
Is this due to some blocker or challenge? Thanks

[2019-10-11 12:48] jeromedockes commented on #14672
@minggli are you still plannning to work on this?

[2019-10-11 13:12] jeromedockes opened #15182 "_RidgeGCV stores LOO predictions even when not required"
even when `store_cv_values` is `False`, `_RidgeGCV` allocates an array of size (number of samples x number of outputs x number of hyperparameters), which can be large, just to compute its mean along the hyperparameter axis.

https://github.com/scikit-learn/scikit-learn/blob/86aea99159c944fae1f519ac61c8b8c484449130/sklearn/linear_model/ridge.py#L1461

[2019-10-11 13:13] venkyyuvy commented on #14672
Hi Contributors,
Thanks for your interest.
I had raised an PR for this issue and waiting for reviews. Kindly check my PR above for more info.

[2019-10-11 13:31] rth commented on #15182
That seems non ideal indeed. PR would be welcome to improve it.

[2019-10-11 16:27] thomasjpfan commented on #15128
Thank you @shakhat for raising this issue.

@ogrisel With `git bisect` this issue first appeared here:

[code]

Which corresponds to: https://github.com/joblib/joblib/commit/a41bd5a71a1889a46fb635831fdf2767e2dc89fe

[2019-10-11 16:34] hermidalc commented on #13621
Another use case for Stratified GroupShuffleSplit and GroupKFold is biological "repeated measures" designs, where you have multiple samples per subject or other parent biological unit.  Also in many real world datasets in biology there is class imbalance.  Each group of samples has the same class.  So it's important to stratify and keep groups together.

[2019-10-11 16:39] rth commented on #15128
Thanks for investigating @thomasjpfan !

Which correspond to the update to  loky 2.6 in joblib cc @tomMoral

[2019-10-11 17:09] tomMoral commented on #15128
With the new release of `joblib`, we change some stuff that do not allow us to resize the pool of workers anymore. Thus, what you see here is probably the fact that you need to respawn a new pool of workers each time you call `test` with a different value.

Could you try to add a call to test before timeit to warm start the workers?

[2019-10-11 22:06] Borda opened #15185 "Travis: Build config did not create any jobs"
I have merge last mater to my fork and it does not trigger Travis build.
https://travis-ci.org/Borda/scikit-learn/requests?requestId=183561046
[code]

[2019-10-12 08:21] rjuer commented on #3846
I'll be working on `ensemble.GradientBoostingClassifier`

[2019-10-12 08:31] janjagusch commented on #3846
I'm on `svm.LinearSVC`

[2019-10-12 08:37] rjuer commented on #3846
I'm working on `sklearn.multioutput.MultiOutputClassifier`

[2019-10-12 08:38] rth commented on #15185
We are no longer using Travis CI and migrated CI to Azure Pipelines mostly.

[2019-10-12 08:46] darioka commented on #3846
Hi, I'll be working on `mixture.BayesianGaussianMixture` and `mixture.GaussianMixture`

[2019-10-12 08:47] federicopisanu commented on #3846
I'm on `feature_extraction.text.TfidfTransformer`. Wish me good luck!

[2019-10-12 08:57] Pawelbure commented on #3846
also working on it - Maybe we can share examples?

[2019-10-12 08:57] jorahn commented on #3846
picking up `ensemble.ExtraTreesClassifier`

[2019-10-12 08:59] steinfurt commented on #3846
I'm picking the `ensemble.BaggingRegressor`

[2019-10-12 09:00] corriebar opened #15186 "test_bayes.py fails"
#### Description
Testing failed for the test `test_ard_accuracy_on_easy_problem` in test_bayes.py

#### Steps/Code to Reproduce
[code]

#### Expected Results
All tests pass

#### Actual Results

[code]
#### Versions
System:
    python: 3.7.4 (default, Aug 13 2019, 20:35:49)  [GCC 7.3.0]
executable: /home/corrie/.pyenv/versions/anaconda3-2019.03/bin/python
   machine: Linux-5.0.0-31-generic-x86_64-

[2019-10-12 09:02] DatenBergwerker commented on #3846
I'm working on `feature_selection.SelectFromModel`

[2019-10-12 09:02] tkowpt commented on #3846
I am picking neighbors.KernelDensity

[2019-10-12 09:02] SimonCW commented on #3846
I'm on `ensemble.IsolationForest`

[2019-10-12 09:04] veerlosar commented on #3846
on `multiclass.OneVsRestClassifier`

[2019-10-12 09:04] corriebar commented on #3846
Hey, I'll be working on the Gaussian Process kernels, starting with `gaussian_process.kernels.RBF` and then do the rest with @thorbenjensen

[2019-10-12 09:07] flaviomorelli commented on #3846
Working on `ensemble.GradientBoostingClassifier`

[2019-10-12 09:12] zioalex commented on #3846
Working on `Perceptron`

[2019-10-12 09:17] ThorbenJensen commented on #3846
I am starting with ```feature_selection.SelectFromModel```

[2019-10-12 09:18] LBrummer commented on #3846
Working on `ensemble.GradientBoostingRegressor`

[2019-10-12 09:19] jorahn commented on #3846
Next up `tree.ExtraTreeClassifier`

[2019-10-12 09:22] mschaffenroth commented on #3846
working on ensemble.GradientBoostingRegressor

[2019-10-12 09:26] #15185 closed

[2019-10-12 09:38] jorahn commented on #3846
taking a look at `multiclass.OutputCodeClassifier`

[2019-10-12 09:41] deeplook commented on #3846
Looking at `neighbors.LocalOutlierFactor`.

[2019-10-12 09:53] timnon commented on #3846
working on `ensemble.RandomTreesEmbedding`

[2019-10-12 09:55] PyExtreme commented on #3846
Hi @jorahn , I have already submitted a PR on that.
Please feel free to pick another module.

[2019-10-12 09:55] pspachtholz commented on #3846
I suggest looking through the comments before to see if someone is already working on a class to avoid duplicated work.
For some classes there are already some (possibly stale) mrg requests, where we could ask the authors whether they are still actively working on it.

@flaviomorelli @LBrummer @mschaffenroth I did the ensemble gradient in this PR already #15151

[2019-10-12 09:57] pspachtholz commented on #3846
Really cool btw to see that this is picking up speed :-)

[2019-10-12 10:02] jorahn commented on #3846
oh, didn't see that on this issue. so we now have two PRs for that

[2019-10-12 10:18] zioalex commented on #3846
Perceptron is already documented.

[2019-10-12 10:22] th0rwas commented on #3846
working on `tree.ExtraTreeRegressor`

[2019-10-12 10:26] FollonSaxBass commented on #15186
Same problem here, I'm getting the exactly same value of abs_coef_error.

**Version**

System:
   machine: Linux-4.15.0-62-generic-x86_64-with-Ubuntu-16.04-xenial
executable: /home/riccardo.folloni/Documents/open_source/scikit_contrib/bin/python
    python: 3.5.2 (default, Oct  8 2019, 13:06:37)  [GCC 5.4.0 20160609]

Python deps:
    pandas: 0.24.2
       pip: 19.2.3
matplotlib: 3.0.3
    joblib:

[2019-10-12 10:28] flaviomorelli commented on #3846
working on `impute.IterativeImputer`

[2019-10-12 10:37] PyExtreme commented on #3846
@jorahn , I had already been working on it since 1 week.

[2019-10-12 10:51] zioalex commented on #3846
Working on OneVsOneClassifier.

[2019-10-12 11:10] steinfurt commented on #3846
I'm going for the `metrics.RocCurveDisplay`

[2019-10-12 11:19] ThorbenJensen commented on #3846
working on ```multioutput.RegressorChain```

[2019-10-12 11:26] ThorbenJensen commented on #3846
working on ```multioutput.ClassifierChain```

[2019-10-12 11:34] zioalex commented on #3846
Working on `PriorProbabilityEstimator`.

[2019-10-12 12:06] sbehren commented on #3846
Working on multioutput.MultiOutputRegressor

[2019-10-12 12:20] veerlosar commented on #3846
taking `neighbors.BallTree`

[2019-10-12 12:22] narudarurarasya commented on #15025
@thomasjpfan  I updated the docstring to reflect this. Please review :)

[2019-10-12 12:25] tlienart commented on #15025
nice, thanks!

[2019-10-12 12:29] zioalex commented on #3846
`PriorProbabilityEstimator` is deprecated in version 0.21 and will be removed in version 0.23. Not working on this.

[2019-10-12 12:29] qinhanmin2014 commented on #15169
@jnothman do you think it's possible to store feature importance after we calculate it? This seems like a good idea.

[2019-10-12 12:30] LBrummer commented on #3846
Working on `covariance.OAS`

[2019-10-12 12:30] zioalex commented on #3846
`SelectPercentile` already documented.

[2019-10-12 12:30] andreamalhera commented on #3846
working on 'ensemble.ExtraTreesRegressor'

[2019-10-12 12:32] veerlosar commented on #3846
there are some examples for BallTree and `compose.ColumnTransformer` already

[2019-10-12 12:33] zioalex commented on #3846
`RANSACRegressor` already documented.

[2019-10-12 12:33] veerlosar commented on #3846
taking `decomposition.SparseCoder`

[2019-10-12 12:35] zioalex commented on #3846
`SelectKBest` already documented.

[2019-10-12 12:45] timnon commented on #3846
`SpectralClustering` already documented

[2019-10-12 12:47] zioalex commented on #3846
Working on `IsolationForest`

[2019-10-12 12:51] SimonCW commented on #3846
Hi @zioalex, I already have a PR for this: #15205. Happy to take suggestions and comments :smile:

[2019-10-12 13:12] qinhanmin2014 commented on #15112
What's your expected result?
``strategy='quantile'`` means that we bin the dataset according to the quantiles. When two of the quantiles are the same, it's reasonable that one bin will be larger than the other ones.

[2019-10-12 13:13] alexandracraciun commented on #3846
Working in `neighbors.DistanceMetric`.

[2019-10-12 13:15] timnon commented on #3846
working on `multioutput.RegressorChain`

[2019-10-12 13:26] zioalex commented on #2801
Hi guys, I was searching a good easy issue where to start. This seems already done to me. Can I help here some how?

[2019-10-12 13:31] andreamalhera commented on #3846
working on `exceptions.ConvergenceWarning`

[2019-10-12 14:00] andreamalhera commented on #3846
working on `exceptions.ChangedBehaviorWarning`

[2019-10-12 14:04] zioalex commented on #14312
`TfidfVectorizer, SpectralEmbedding, SparseRandomProjection` are updated.

[2019-10-12 14:04] PythonLinks opened #15217 "Scikit-Learn Lightning talks Needed"
In order to provide publicity for SciKit-Learn, I am looking for related lightning talks, maybe one overall, and one for each sub-library.

I run https://PythonLinks.info.   It  is a catalogue of the best Python Lightning talks. People love lightning talks, but if you go to YouTube, they often have 12 lightning talks in a single video.  So each talk is not documented, you cannot search for a singl

[2019-10-12 14:30] andreamalhera commented on #3846
After taking to @adrinjalali, we concluded it is better not to work on this one since it is release dependent. And it probably will be moved somewhere else.

For your peace of mind be like us, do not work on `exceptions.ChangedBehaviorWarning`

[2019-10-12 14:39] venkyyuvy commented on #14856
@NicolasHug

Can I raise a PR for this issue?

`

[2019-10-12 14:54] flaviomorelli commented on #3846
Working on exceptions.DataDimensionalityWarning

[2019-10-12 15:10] NicolasHug commented on #14856
Yes of course. Maybe even fix it in your other PR directly since this is essentially the same bug

[2019-10-12 15:22] deeplook commented on #12953
I'd recommend using `mypy` more even without type annotations, as I'm doing here: https://github.com/scikit-learn/scikit-learn/pull/15220.

[2019-10-12 17:13] NicolasHug opened #15222 "Better documentation for random_state"
Sort of like https://github.com/scikit-learn/scikit-learn/issues/14228, but for random_state.

For any public object that accepts a `random_state` parameter, we should document what parts of the algorithm are randomized. It's not always obvious what is and what isn't randomized. We should also always link to the [glossary](https://scikit-learn.org/stable/glossary.html#term-random-state), where the

[2019-10-12 17:28] notmatthancock commented on #7254
I agree that this is worth revisiting.

As far as I can tell the Extra Trees paper does not perform a search over the `max_features` parameter for the Random Forest method. Basically, we'd need something like Figure 2 from that paper but for Random Forests in order to have a justification for using `max_features=n_features` as the default for RF. This means that (to the best of my knowledge, anyho

[2019-10-12 17:37] notmatthancock commented on #7254
My current opinion is that in the absence of more robust experimental evidence, we should prefer the defaults recommended by Hastie in *Elements*. I am referring of course to only RFC and RFR, not ExtraTrees.

[2019-10-12 17:42] notmatthancock commented on #7254
@glouppe would you reconsider your decision to close this?

[2019-10-12 18:49] mschaffenroth commented on #15222
The script from #14228 adapted for the random_state parameter got the following results:

- [ ] [sklearn/multioutput.py](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/multioutput.py) - [561](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/multioutput.py#L561), [721](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/multioutput.py#L721)
- [ ] [skle

[2019-10-12 20:23] NicolasHug commented on #6616
I don't know how to deprecate  `sklearn.utils.testing.* [except all_estimators]`.

We cannot move `all_estimators()` to `utils.__init__` because it causes lots of circular imports. And the `sklearn` module needs to be imported explicitly.

I would propose to make it private like the rest.

[2019-10-13 06:13] matsmaiwald commented on #15222
Just had a brief look at this.

It seems that approporiate documentation is already in place, for e.g. these two:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/base.py
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/ridge.py

[2019-10-13 06:49] glouppe commented on #7254
Hi, this was a personal recommendation from Pierre Geurts (author of the ExtraTrees paper) from a few years ago. I know this default setting was determined from a suite of 10-20 benchmarks. I am forwarding this thread to him.

[2019-10-13 08:35] tkowpt commented on #7492
I am going to create some more examples to investigate this issue in more detail

[2019-10-13 09:32] sbehren commented on #11991
I am working on sklearn/datasets/base.py

[2019-10-13 12:11] sbehren commented on #11991
Working on sklearn/ensemble/tests/test_forest.py

[2019-10-13 12:40] #15025 closed

[2019-10-13 14:49] deeplook commented on #11816
I've written a hackish, not finished MR to give this a second try, see https://github.com/scikit-learn/scikit-learn/pull/15238. Comments welcome, but I won't have the time to work much on this over the next immediate days so don't expect this to be finished, shortly.

[2019-10-14 05:26] PyExtreme commented on #14228
@NicolasHug , I would like to work on sklearn/linear_model/stochastic_gradient.py and sklearn/linear_model/coordinate_descent.py just for the start.
Later, I would like to pick on batches.

Thank you

[2019-10-14 06:41] vinitrinh commented on #15112
3 bins as specified and visualized.
I guess it reasonable as a matter of 'quantiles', but as a matter of binning, the end result may not be sensible.
The current logic, if you look at the 2 examples above, returns a single bin in the first example, and in the second example, 2 bins binning [0,1], [20, 20, ..., 90, 100]).

Anyway, I have used the solution you mentioned with ```pd.cut```. I'll close

[2019-10-14 06:42] #15112 closed

[2019-10-14 07:17] awsmsaurabh opened #15240 "In TfidfVectorizer the tfidf result does not give proper result"
I was trying to custom implement TfidfVectorizer and match my result with the scikit-learn result.
In this process, I found that in the transform function when l = len(row) then the result matches the scikit-learn result but it should be l=len(row.split()).

https://github.com/awsmsaurabh/custom-implementation-of-TfidfVectorizer/blob/master/Scikit-learn%20bug%20report.ipynb

Windows-10-10.0.18362-

[2019-10-14 07:44] rth commented on #15240
Please provide code for a standalone, minimal reproducible example of the issues with `TfidfVectorizer` https://stackoverflow.com/help/minimal-reproducible-example

[2019-10-14 09:16] ITBOX-ITBOY opened #15241 "twenty_newsgroups.py问题"
sklearn包下的datasets包中的twenty_newsgroups.py
文件中的这个_download_20newsgroups方法，
是否应该判断一下，scikit_learn_data默认的目录下有没有这个数据集，
      1.如果有了就不去下载了
      2.如果没有在去下载

现在代码的状态是不管你有没有这个数据集我都去下载，这个样的方式效率不高。
sklearn 版本 0.21.3

[2019-10-14 10:48] albertcthomas commented on #15222
+1 for this, thanks for the report @mschaffenroth!

It was already done for [sklearn/svm/classes.py](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/classes.py) - [90](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/classes.py#L90), [544](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/classes.py#L544) and [750](https://github.com/scik

[2019-10-14 11:30] Maocx opened #15242 "MemoryError when using NMF's multiplicative update solver"
#### Description
MemoryError when using NMF's multiplicative update solver with method="Kullback_leibler". The program tries to assign a matrix with size (# nonzero elements, rank) in function _special_sparse_dot (in decomposition/nmf.py) and sums the columns. On my machine, this results in a MemoryError. The dot product, however, could be calculated element-wise, requiring less memory and allowin

[2019-10-14 13:17] jeremiedbb commented on #14905
It seems that the new version of conda-forge::compilers works and without having to set any env var. I tried on a ci job in #14968 and it works.

Is anyone willing to try locally ? the goal is that only the following 2 instructions are necessary:
[code]

[2019-10-14 13:25] rth opened #15244 "Add d2_tweedie_score"
As discussed in https://github.com/scikit-learn/scikit-learn/pull/14300#discussion_r329370799 it might be useful to add the `d2_deviance_score` that is a generalization of `r2_score` to non normal error distributions. In the same way as `mean_tweedie_deviance` (introduced https://github.com/scikit-learn/scikit-learn/pull/14263)  is a generalization of `mean_squared_error` .

[2019-10-14 13:47] NicolasHug commented on #14228
@PyExtreme thanks! Feel free to start new PRs (Please reference this issue when you do)

Tip: you can filter PRs by author and you'll see that @kwinata does not seem to have opened anything yet.

[2019-10-14 15:38] vnherdeiro opened #15247 "Should sklearn include the Equal Error Rate metric?"
Hi there,

I have recently looked into using sklearn for biometric security models. In this field one of the most common metrics is equal error rate (EER). Surprisingly it's not out of the box in sklearn despite the long list of scores and metrics shipped with https://scikit-learn.org/stable/modules/classes.html

I have coded a piece of code to compute the EER in different contexts, such as optimi

[2019-10-14 15:43] rth commented on #15241
@ITBOX-ITBOY You should communicate in English on Github.

If I understand the question correctly with a translation service, it was about `_download_20newsgroups` being always called even if the data was already present in cache. That's not the case, because if the cache exists data will be loaded from it [here](https://github.com/scikit-learn/scikit-learn/blob/3c134503fea13a327b87b79bd7e105f021b

[2019-10-14 16:24] agcala opened #15248 "Multioutputregressor NotFittedError: No booster found. Need to call fit beforehand."
**I am running the following code**

    reg = lgb.LGBMRegressor(boosting_type='gbdt',
                            objective='regression',
                            metric='l2',
                            device='gpu',
                            verbose=1)
    m = MultiOutputRegressor(reg).fit(X_train,y_train)
    m.estimator.booster_.feature_name()

And I get the error

    sklearn.exceptions

[2019-10-14 17:14] abhi526691 opened #15249 "Related to fit transform for one hot Encoder"
`from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[:, 3] = labelencoder_X.fit_transform(X[:, 3])
onehotencoder = OneHotEncoder(categorical_features = [3])
#X = onehotencoder.fit_transform(X).toarray()
#X = X[:,1:]
X = onehotencoder.fit_transform(X)`

The Error it shows is

E:\programfiles\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:4

[2019-10-14 17:58] glouppe commented on #7254
Hi, Pierre tells me he only compared max_features=sqrt(d) vs max_features=d at the time. He would not be surprised that max_features=d/3 is a better default. He also pointed me to https://arxiv.org/pdf/1804.03515.pdf which studies default values.

[2019-10-14 19:07] jaganadhg commented on #15247
There is an SO discussion here
[1] https://stackoverflow.com/questions/28339746/equal-error-rate-in-python
and a blog post here
[2] https://yangcha.github.io/EER-ROC/

[2019-10-14 19:55] project-delphi opened #15250 "Better Documentation for Density Estimation"
Sort of like #14228

scikit-learn/doc/modules/density.rst

Would be great to have references and some exposition/examples of `feature engineering` , `data modelling` and `unsupervised learning` and their relationship to density estimation.

[2019-10-14 22:53] jaganadhg commented on #15248
I think it is coming from the LIGHTGBM package .

May be more relevant here https://github.com/microsoft/LightGBM

[2019-10-15 01:46] notmatthancock commented on #7254
Hmm. After a skim over that paper, I do not see anything that suggests using a particular value as the default, other than p/3 suggested by Hastie. The literature review mentions this default, as well as some bits about lower and higher values for higher and lower dimensional problems, respectively.

IMO, I think we should just go with p/3. Ultimately, it's just a default, and people are expected

[2019-10-15 01:50] TomDLT commented on #15242
That is indeed a bug, thanks for the report and the short reproducing example.
PR most welcome !

[2019-10-15 03:45] thomasjpfan commented on #7254
I see two options with enabling this feature:

1. Add a `one-third` option to use `p/3`.
2. Support a callable to have greater flexibility. (We can still do a check to make sure the return of the callable is valid)

[2019-10-15 05:37] datajanko opened #15253 "Jaccard score has unexpected behavior in mulitlabel, `average=None` case"
I haven't found this issue before, so I hope this is not known.
#### Description
When reducing the number of columns to 1 in the [usage examples ](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.jaccard_score.html#sklearn.metrics.jaccard_score) we still get the Jaccard similarity for two columns(?)  instead of 1.
From my interpretation, in the multilevel average=None case, we com

[2019-10-15 06:05] kwinata commented on #14228
Yes @PyExtreme feel free to work on them. I have been busy for this past few weeks. Currently I will work on the `cluster` algorithms.

[2019-10-15 06:10] Shihab-Shahriar commented on #7981
Encountered this today with the `apply` function of Random Forest Classifier

[2019-10-15 07:40] amueller opened #15254 "Skip empty column slices in ColumnTransformer"
I think ColumnTransformer should skip any transformer with an empty slice.
We might have discussed this earlier but I think this would really make things a lot simpler. For a lot of AutoML applications, it's nice to be able to run the same pipeline on several models.
Right now that's not possible because if a dataset has no categorical variables, but the pipeline has processing for categorical var

[2019-10-15 08:03] ogrisel commented on #15123
Duplication was bearable so far but personally I would like to extend Tweedie regression to HistGBRT (and probably classical GBRT as well) and MLP and for this loss family we probably need to factorize command private functions as they are significantly more complex than (half) least squares.

[2019-10-15 08:59] Jakobhenningjensen opened #15256 "Future request: NaN instead of zeros when cossine_similairty is computed on a zero vector"
#### Description
When you have a dataframe with a zero vector and you apply `cosine_similarity` to that, the zero-vector will give 0 similarity, when it should be NaN. I think there is a big difference getting a zero-similarity or a NaN

#### Versions
sklearn: 0.21.3
Platform: Linux-4.15.0-52-generic-x86_64-with-debian-9.9
Python: 3.7.3
NumPy: 1.17.2
Scipy:1.3.1

[2019-10-15 10:04] vnherdeiro commented on #15247
Yeah I saw these examples, and refactored them to this code:

[code]

From which you can use a sklearn scorer with:
[code]

For instance used in grid search optimization:
[code]

[2019-10-15 13:58] DeLaRiva commented on #10900
What does this warning actually mean?

[2019-10-15 14:06] jnothman commented on #15253
This behaviour is in line with recall_score etc. whether or not we want to consider it a bug.

It treats a column vector as a binary problem, and reports scores for both of the two classes....

[2019-10-15 14:11] ogrisel commented on #14979
At the moment we do not use threadpoolctl in joblib so it's not included in joblib itself.

[2019-10-15 14:19] JeanBaptisteScellier opened #15259 "FeatureAgglomeration documentation error"
I was reading the doc of the FeatureAgglomeration function of the cluster module. In the parameters section, description of linkage, case 'single', there seems to have a mistake.
The description is: 'single uses the minimum of the distances between all observations of the two sets.'
I think it is the distances between all **features** of the two sets.
It may have been a confusion with Agglomerativ

[2019-10-15 14:52] datajanko commented on #15253
Thanks for the answer. That's what I feared. It's irritating that when you come from a matrix with multiple columns and reduce to 1 column. This reminds me off the definition of 0^0. I will close the issue as things have been clarified.

[2019-10-15 14:52] #15253 closed

[2019-10-15 15:46] TimotheeMathieu commented on #15147
I close the issue as it seems it does not respect scikit-learn rules.

[2019-10-15 16:31] NicolasHug opened #15261 "New OneFoldCV splitter?"
How would you welcome the addition of a `OneFoldCV` splitter that would basically be `train_test_split` wrapped as a CV iterator? This way it could be used in GridSearch etc.

There are ways to achieve this already (e.g. `PredefinedSplit`) but this is a bit cumbersome and it's not explicitly documented.

I feel like this kind of splitter may be useful when you have lots of data, or e.g. in Success

[2019-10-15 16:57] thomasjpfan commented on #15261
Are you thinking of something similar to https://rasbt.github.io/mlxtend/user_guide/evaluate/RandomHoldoutSplit/ ?

[2019-10-15 17:06] NicolasHug commented on #15261
yes

[2019-10-15 17:11] shahules786 opened #15262 "Why no train & validation split size in Kfold ?"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2019-10-15 19:38] jdhil commented on #7254
This is great, thanks everyone for these replies and useful info. Overall, `p/3` appears to be gathering steam as a consensus recommendation. Some specific comments:

***

@glouppe - Nice, so Pierre Geurts is also open to `p/3`. Very much appreciate you contacting him.

I looked through the [Probst 2019](https://arxiv.org/pdf/1804.03515.pdf) paper that Pierre shared. Unfortunately, the paper's emp

[2019-10-15 19:45] thomasjpfan commented on #7254
Ah yes, this is already supported.

[2019-10-15 19:56] notmatthancock commented on #7254
@jdhil I wouldn't sweat it too much. I don't think there's a silver bullet default value that will work the *best* across all regression problems. Even if one were to perform a large scale study across every regression problem, we'd only find the default value that works best *on average*. Users would still need to conduct tuning for their particular problem.

[2019-10-15 20:40] jnothman commented on #15256
What is your use case? Are you using the distance matrix for machine
learning? I agree there's a big difference, but how does the NaN get used?

[2019-10-15 20:55] lorentzenchr opened #15263 "Mixed feature interaction preprocessing"
#### Description
While it is possible to create feature interactions with the same individual preprocessing in `ColumnTransformer` via `PolynomialFeatures`, I find no (convincing) solution for interactions of features with different individual preprocessing, e.g. categorical column with a continuous numerical column.
Such interactions might improve model from `sklearn.linear_model`.

#### Code Exa

[2019-10-15 21:17] dbauer9 commented on #12980
#15264

[2019-10-15 21:18] dbauer9 commented on #12980
I opened a pull request to better explain the source of randomness. I thought it would make a good first issue for me. See PR #15264.

[2019-10-15 22:22] jnothman commented on #15263
Why can't you Pipeline a ColumnTransformer into a PolynomialFeatures? Or do
you only want the interaction terms?

[2019-10-15 22:30] jnothman commented on #15262
Can you expand on your question? Why do you need a split size when you know the number of splits?

[2019-10-15 22:31] jnothman commented on #15261
ShuffleSplit(1) isn't explicit enough?

[2019-10-15 22:32] jnothman commented on #15261
Or is shuffling undesirable?

[2019-10-15 23:39] bmgdc opened #15266 "MLP Classifier produces different results for the same data despite random seed"
#### Description

The MLP classifier produces different predictions for the same data and the same random number generator, depending on whether it is run before or after a logistic regression.

A high-level description of the steps is:

1. Fit a logistic regression model;
2. Fit a MLP classifier model;
3. Make and compare predictions;
4. See that MLP's predictions change.

Some additional informa

[2019-10-15 23:46] thomasjpfan commented on #7981
I just tested this issue with the master version of Cython using const fused memoryviews and the issue was resolved.

[2019-10-16 02:18] #15262 closed

[2019-10-16 07:44] YannDubs commented on #7743
@GaelVaroquaux @amueller what is the idea behind having a `transform` for k-means but not GMM ? It seems to me that if one has it the other should also ? Could you give examples where people would want to do something else than component likelihood in a GMM transform ?

[2019-10-16 08:00] rth commented on #15147
@TimotheeMathieu I think there is interest and https://github.com/scikit-learn-contrib/scikit-learn-extra would be a good place for it. Would you be interested in making a PR?

I couldn't actually see your implementation in https://github.com/scikit-learn/scikit-learn/compare/master...TimotheeMathieu:RobustIterativeWeighting the example imports from `sklearn.robust` but that module doesn't exist t

[2019-10-16 08:18] AlexanderFabisch commented on #6073
A little bit late, but I made this library about 5 years ago because GMR would not fit perfectly to sklearn's estimator interface: https://github.com/AlexanderFabisch/gmr

![gmr](https://raw.githubusercontent.com/AlexanderFabisch/gmr/master/gmr.png)

I could move it to scikit-learn-contrib. I don't know if it covers all use cases of GMR though. It was sufficient for my application.

[2019-10-16 10:41] lorentzenchr commented on #15263
@jnothman Yes, one often wants only certain interactions. Passing everything from `ColumnTransformer` into `PolynomialFeatures` can generate a lot of features. Fist, this may blow up memory. Second, a feature selection method like L1 penalty might be needed, which slows down fitting (or is not available). Third, sometimes, one really only wants some specific interactions.

Based on your suggestion

[2019-10-16 10:56] jnothman commented on #15266
Thanks for the report.
Does the same happen if you directly set the MLPClassifier's random_state
to an int?

[2019-10-16 11:00] jnothman commented on #15266
Sorry, I've now seen that you change whether or not you run logistic first,
and this is the independent variable which results in the variation in
result. This is expected behaviour since LogisticRegression changes the
global random state and by not paying a random_state to MLPClassifier, it
will use that modified global state.

[2019-10-16 11:19] smujjiga opened #15269 "Wrong order of parameters in the example"
In the example given in page

https://scikit-learn.org/stable/auto_examples/compose/plot_column_transformer.html

the function `classification_report` is called with wrong parameters (ordering).

For `classification_report` the first parameter is the ground truth and the second parameters is the predictions. However in the example the arguments are swapped.

Should I fix it ?

[2019-10-16 11:30] jnothman commented on #15269
Yes please

[2019-10-16 11:37] bmgdc commented on #15266
Nope, they're consistent then.

Ohh. Months ago, when I first encountered this behavior, I suspected that could be the case and even dove into the source code to support this idea, but it was way over my head, I couldn't get to any conclusion. In any case, I just modified the function used the script above to account for this
[code]
The results support what you claim. Thank you very much.

I just

[2019-10-16 11:52] bmgdc commented on #15266
How would go about knowing what other models and algorithms will modify the random instance? Is it recommended to set the seed prior to fitting?

[2019-10-16 11:55] NicolasHug commented on #15261
Ah, I forgot about this one. Never mind then

[2019-10-16 11:55] #15261 closed

[2019-10-16 12:44] vbelz commented on #10054
Same issue happened to me

[2019-10-16 12:55] TimotheeMathieu commented on #15147
Ah, something like scikit-learn-extra also exists. I didn't know of this possibility, thank you for pointing it out. And I am also not so familiar with git, indeed I forgot to git add the most important code which is in sklearn.robust, I still don't fully understand how to do branching. It is done, it should work.

Absolutely, I would be interested in making a PR after some more work. It is not ve

[2019-10-16 13:44] maxibor opened #15272 "sklearn MDS vs skbio PCoA"
[Multi Dimensional Scaling](https://en.wikipedia.org/wiki/Multidimensional_scaling) (MDS) and Principal Coordinate Analysis (PCoA) are two names for the same dimension reduction technique*.

In [scikit-learn, MDS](https://github.com/biocore/scikit-bio/blob/master/skbio/stats/ordination/_principal_coordinate_analysis.py) is implemented with the SMACOF algorithm while in other Python libraries (such

[2019-10-16 17:18] adrinjalali commented on #15272
I'd be happy to have the other implementation as an alternative, and a parameter to set is as the `algorithm`.

[2019-10-16 17:53] Vidyapreethaam opened #15275 "Feature Importance - Isolation Regression Forest"
I am running an isolation regression forest on a set of data that I get automated on a daily basis. The application is set that any feature can be used as the inputs of the model as it is dynamic pertaining to the use case.

So, if I want to know which feature have contributed more to the anomalous behavior, is it possible? I cannot train the data based off the output as the algorithm can be used

[2019-10-17 08:57] allanchua101 opened #15281 "[Question] Is there an XGBoost component inside scikit-learn? If no, will you guys add it?"
Alot of people working on ML are looking for ways to incorporate XG Boost. However, installing it requires challenges and IHMO, it would really be awesome to include it on default packages as it is quite popular and performing well in a lot of use-cases.

[2019-10-17 09:05] jnothman commented on #15281
See https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.HistGradientBoostingClassifier.html#sklearn.ensemble.HistGradientBoostingClassifier for our alternative.

[2019-10-17 09:05] #15281 closed

[2019-10-17 09:09] allanchua101 commented on #15281
Thanks @jnothman ! :)

[2019-10-17 09:30] agcala commented on #15248
Okay I am moving it to there. Thanks.

[2019-10-17 09:30] #15248 closed

[2019-10-17 10:37] remykarem commented on #10856
Shameless plug but while waiting for `CategoricalNB`, I wrote a library called Mixed Naive Bayes, written in NumPy. It can assume a mix of (only) **Gaussian** and **categorical** (multinoulli) distributions on the training set features.

https://github.com/remykarem/mixed-naive-bayes

The library is written such that the APIs are similar to scikit-learn's.

In the example below, let's assume that

[2019-10-17 10:49] FlorianWilhelm commented on #10856
@remykarem We don't you extract the Mixed part and provide a PR for Scikit-Learn? As you can read above, the maintainers are looking for someone to provide a `GeneralNB`. It would be great if you could help out.

[2019-10-17 11:00] qinhanmin2014 commented on #10856
see #15077. I think CategoricalNB itself is not very useful and we implement it as part of GeneralNB.

Seems that sometimes people want to combine other naive bayse classifiers (see #12957)

[2019-10-17 13:41] amueller commented on #15272
related to https://github.com/scikit-learn/scikit-learn/pull/4485 ?

[2019-10-17 14:02] amueller commented on #15272
What's the relation between PCA and PCoA? They seem quite similar but I'm not really familiar with MDS and have never heard the term PCoA

[2019-10-17 14:58] amueller commented on #8642
retagging, doesn't seem critical for .22

[2019-10-17 15:04] amueller commented on #6725
I argued to remove the warning lol: #14486

I'm not sure if this is related to the initial issue, though.

i need to think more about it.

[2019-10-17 15:33] GaelVaroquaux commented on #8642
This was requested by the dask team. I was hoping that they would help implement it.

[2019-10-17 17:39] hermidalc opened #15282 "How to create a custom transformer where you need some test sample metadata to transform test with learned train parameters"
scikit-learn provides in the API the ability to pass arbitrary training sample metadata to custom transformers during `fit` using `**fit_params` and it works as expected within `Pipeline` and cross-validation such as `GridSearchCV`.  But for some common transformation use cases, such as batch effect correction, you need to also pass some test sample metadata during `transform` to transform the dat

[2019-10-17 18:49] NicolasHug commented on #9250
Working on `covariance`

[2019-10-17 19:12] NicolasHug commented on #9250
working on `cross_decomposition`

[2019-10-17 20:33] jnothman commented on #15282
Passing metadata such as a group identifier along with each sample, through
meta estimators, is the subject  #4497. It turns out to be hard to find a
happy solution to.
https://github.com/scikit-learn/enhancement_proposals/pull/16 is the latest
attempt, but it needs a concerted effort from core developers to pull
through to a vote.

[2019-10-17 23:44] jdhil commented on #7254
@notmatthancock Yes absolutely. What you are saying makes perfect sense, I agree. If I do get around to any simulations, they would not block this thread. Instead, they would be a side quest to satisfy my own puzzlement about the history of `p/3`.

With that in mind, is the next step then for me to propose a PR to `p/3`? Thanks a ton.

[2019-10-18 00:55] hermidalc commented on #15282
@jnothman though in a all of these discussions I’m only seeing how to update API design to consistently attach sample metadata during estimator `fit` and `transform` on training data, which honestly you I already can do now with the existing API using `**fit_params`. Am I missing something is there also discussion how to attach test sample metadata to test `transform` calls?

[2019-10-18 01:22] notmatthancock commented on #7254
@jdhil, [see value deprecation guidelines](https://scikit-learn.org/stable/developers/contributing.html#change-the-default-value-of-a-parameter) and [the recent change to `n_estimators`](https://github.com/scikit-learn/scikit-learn/blob/1495f69242646d239d89a5713982946b8ffcf9d9/sklearn/ensemble/forest.py#L243-L246) for example.

[2019-10-18 05:59] cynthia opened #15287 "[AgglomerativeClustering] should be lax about precomputed distances"
#### Description

Precomputed distances are treated as "unsupported" by AgglomerativeClustering, regardless of the provenance. (e.g. sklearn.metrics.euclidean_distances)

This restriction makes it impossible to pass a off-memory (e.g. memory mapped) precomputed distance matrix, even if it is valid Euclidean distance.

#### Steps/Code to Reproduce

[code]

#### Expected Results

This probably a bit

[2019-10-18 06:49] jnothman commented on #15282
Good point. It would be helpful if you could comment on this use case in
the SLEP pull request.

One of the challenges with transform is determining routing in
fit_transform.

[2019-10-18 07:08] jnothman commented on #15287
Ward linkage is the only linkage that has this constraint, and for good
reason. The others only require inter-sample distances, while Ward needs to
work in feature space.

[2019-10-18 08:15] amueller commented on #15005
A major company recently did a giant github scrape and analyzed sklearn usage. I asked them whether they can share their results.

[2019-10-18 13:42] cmarmo commented on #7597
@thomasjpfan (pinging you as it's related to responsiveness... hope you don't mind), I think this one can be closed thanks to the new design of the documentation.

[2019-10-18 13:51] albertcthomas commented on #15275
Scikit-learn does not support feature importance for outlier detection.

The issue tracker is mainly for bugs and new features so this is not the best place to ask your question. [This paper](http://delivery.acm.org/10.1145/3240000/3230666/a1-siddiqui.pdf?ip=185.176.78.178&id=3230666&acc=ACTIVE%20SERVICE&key=5A3314F2D74B117C%2E5A3314F2D74B117C%2E4D4702B0C3E38B35%2E4D4702B0C3E38B35&__acm__=15714066

[2019-10-18 14:15] thomasjpfan commented on #7597
I remember this amazing bug in the UI. Yes this issue can be closed.

[2019-10-18 14:15] #7597 closed

[2019-10-18 14:17] petibear opened #15290 "documentation error - (multiclass) balanced_accuracy_score"
#### Description
#10587 added multiclass support for `balanced_accuracy_score()`. With that, the [3.3.2.3. Balanced accuracy score](https://scikit-learn.org/stable/modules/model_evaluation.html#balanced-accuracy-score) section of the user guide was amended. The PR however missed updating the overview in [3.3.2. Classification metrics](https://scikit-learn.org/stable/modules/model_evaluation.html#c

[2019-10-18 14:30] maxibor commented on #15272
PCoA is essentially a PCA, but starting for a distance matrix (which doesn't need to be euclidean).
It seems indeed, that is mostly what #4485 is implementing.

[2019-10-18 14:34] rth commented on #15272
@maxibor You would be very welcome to continue that PR.

[2019-10-18 15:10] adrinjalali commented on #15125
I agree that warm starting with `RandomizedSearchCV`, has a lower probability of being useful, but still you can sort the parameter sets and use warm start if it applies.

I checked the SH PR out, and I understand the issue better now.

I'm not sure why we allow users to have their own `_run_search` but not their own `evaluage_candidates`.

Generally, in order to support `warm_start` in GS and sti

[2019-10-18 15:24] NicolasHug commented on #15125
Indeed, the main constraints are imposed by `evaluate_candidates`. But changing the nature of `evaluate_candidates` also comes with other issues, see https://github.com/scikit-learn/scikit-learn/issues/9499#issuecomment-538105150

[2019-10-18 15:28] #14877 closed

[2019-10-18 19:01] adarob commented on #14485
Have there been any updates on this? I'm hitting this issue as well.

[2019-10-19 10:14] jnothman commented on #15275
In theory permutation importance could be used for this

[2019-10-19 10:14] elDan101 opened #15297 "NearestNeighbor with BallTree cannot compute squared euclidean distance"
#### Description

#### 1

The `NearestNeighbors` with settings `algorithm="ball_tree", metric="sqeuclidean"` raises an error

[code]
The [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.BallTree.html), however, states:

#### 2

After looking at `sklearn.neighbors.VALID_METRICS['ball_tree']` I realised there is no `sqeuclidean`, so I changed the metric to `seuclid

[2019-10-19 11:05] jnothman commented on #15297
Seuclidean is not squared, but standardized. It takes an additional
parameter (see
https://docs.scipy.org/doc/scipy-0.16.0/reference/generated/scipy.spatial.distance.seuclidean.html
)

[2019-10-19 11:13] elDan101 commented on #15297
Ok, sorry, I should have looked this up, I wasn't aware. I will update the issue to highlight for the sqeuclidean only.

[2019-10-19 11:18] jnothman commented on #15290
Pull request welcome

[2019-10-19 11:21] elDan101 commented on #15297
Actually I close this issue. It seems, that the `kd_tree` and `ball_tree` simply do not support `sqeuclidean` (only `brute` supports this). The documentation together with error raised is a bit misleading IMHO, but now it makes sense to me.

[2019-10-19 11:21] #15297 closed

[2019-10-19 13:14] jvesely opened #15298 "Undeclared build dependency on cython"
#### Description
`pip install scikit-learn --no-binary :all:` fails to install scikit because of missing cython build dependency. Once cython is installed manually the above command works and installs scikit-learn.

#### Steps/Code to Reproduce
`pip install scikit-learn --no-binary :all:`
it's also the case for python implementations that don't have scikit-learn wheels available (PyPy3, Python3.8)

[2019-10-19 13:42] sara-es commented on #15222
Hi, I am new to contributing and would like to help out with this. I have done the two instances mentioned by @albertcthomas in the svm module above and can continue working through the above list.

[2019-10-19 16:59] petibear commented on #15290
ok, will do

[2019-10-19 17:06] lesteve commented on #15298
Indeed I can reproduce.

I seem to remember we included the .c files (generated from the Cython files) in the .tar.gz for source distribution (`sdist`). Maybe the problem is that we still go through the Cython route, even if we already have the .c files ... this needs to be double-checked.

[2019-10-19 17:35] nikolaosmparoutis commented on #12980
I have to do the two hypothesis and validate or reject them (and i would ask your inspection because the issue is not trivial):
For may features and big data if the random_split set to a fixed number then the randomness of the features selection will be deterministic. This will affect the overall result because the number of the selected features and data follows the law of large numbers so the fi

[2019-10-19 21:11] harrysalmon commented on #15124
I believe the issue is that classes_ was not lexigraphically sorted, the transform method relies on this being the case when called:

    be sorted. Importantly, this is not checked but assumed to already be
    the case. The calling method needs to ensure this for all non-object
    values.

https://github.com/scikit-learn/scikit-learn/blob/1495f69242646d239d89a5713982946b8ffcf9d9/sklearn/preproc

[2019-10-19 22:02] jnothman commented on #15222
I think it would be helpful, @nicolashug, to give some examples of what this should look like. Thanks for continuing this work.

[2019-10-19 23:52] thomasjpfan commented on #15290
Addressed by https://github.com/scikit-learn/scikit-learn/pull/15302

[2019-10-19 23:52] #15290 closed

[2019-10-20 11:43] adrinjalali commented on #15171
@amueller @GaelVaroquaux our paypal link refers to NumFocus's account as far as I can see. Do we want to keep that? Shouldn't this be the foundation maybe?

[2019-10-20 14:22] amueller opened #15303 "plot_roc_curve doesn't correctly infer pos_label"
[code]
[code]

I would argue that ``pos_label=lr.classes_[1]`` is the right choice here.

cc @thomasjpfan

[2019-10-20 14:56] amueller opened #15305 "plot_partial_dependence should label y-axis only on left-most plot"
Right now each plot is labeled inidually:
![image](https://user-images.githubusercontent.com/449558/67161400-634b5b80-f35a-11e9-9db4-74ababc91762.png)

That wastes a lot of space. We should only label the left-most plot.
That's a bit trickier if there's also 2d plots :( maybe if there's a 2d plot label everything in that row?
![image](https://user-images.githubusercontent.com/449558/67161390-4f075

[2019-10-20 21:37] NicolasHug commented on #9250
working on metrics and metrics/cluster

[2019-10-20 22:06] #15269 closed

[2019-10-20 22:10] #14168 closed

[2019-10-20 22:30] rth commented on #7442
Thanks @cmarmo! Closing, please comment if it's still relevant.

[2019-10-20 22:30] #7442 closed

[2019-10-20 23:00] thomasjpfan commented on #9250
I'll work on datasets

[2019-10-21 01:25] qinhanmin2014 commented on #15241
we won't download the dataset if it exists.
please use English when reporting an issue.

[2019-10-21 01:25] #15241 closed

[2019-10-21 01:28] qinhanmin2014 commented on #15249
These are warnings, not errors. It's recommended to update the code according to log.

[2019-10-21 01:28] #15249 closed

[2019-10-21 01:49] qinhanmin2014 commented on #15303
Maybe we should drop parameter ``pos_label`` in ``plot_roc_curve``, because we do not have parameter ``pos_label`` in ``roc_auc_score``.  In ``roc_auc_score``, for binary y_true, y_score is supposed to be the score of the class with greater label.

[2019-10-21 03:10] thomasjpfan commented on #9250
Working on decomposition

[2019-10-21 09:19] #5737 closed

[2019-10-21 09:29] ogrisel opened #15308 "Add a non-selectable shell prompt ($) to static shell blocks throughout the sphinx doc"
The installation instructions have been improved by @cmarmo to use a contextually generated shell commands (#15156). This features a non-selectable `$` prompt inserted via CSS.

It would be great to generalize this to other statically defined shell code blocks, both in the installation instructions and in the advanced installation instructions pages (and maybe other pages with shell commands).

In

[2019-10-21 10:47] venkyyuvy opened #15309 "Formatting issue in dev documentation page for OneVsRestClassifier"
#### Description

The Examples section of the OneVsRestClassifier section is not rendered properly. I am not sure whether this is a know issues.

[Reference](https://scikit-learn.org/dev/modules/generated/sklearn.multiclass.OneVsRestClassifier.html#sklearn.multiclass.OneVsRestClassifier.set_params)

#### Snapshot:

![image](https://user-images.githubusercontent.com/20812407/67199177-3b253080-f41e-

[2019-10-21 11:05] mikkelam opened #15310 "TransformedTargetRegressor forces fitting"
#### Description
It's simple, the TransformedTargetRegressor forces you to fit. I'm in a scenario where i want to multiply the outputted value by some number, but i don't want to check my test scores with the transformed targets, so when deploying my model I wrap it in TransformedTargetRegressor.

Yet, that forces me to fit, my transformer and my estimator (which they already are). Does it make se

[2019-10-21 11:26] qinhanmin2014 commented on #15309
thanks, please submit a PR.

[2019-10-21 11:28] venkyyuvy commented on #15309
Sure, I will create a PR.

[2019-10-21 11:43] jeremiedbb commented on #14624
@sundaycat have you managed to solve your issue ?

If not, can you tell me how you download the source files of sklearn ? I mean do you clone the repository from github or do you get them by downloading scikit-learn-<version>.tar.gz ?

[2019-10-21 12:12] venkyyuvy opened #15312 "Compatability issue with TransformeredTargetRegressor and RFECV"
#### Description

Based on [this ](https://stackoverflow.com/questions/58155778/target-transformation-and-feature-selection-in-scikit-learn/58274933#58274933) SO post.

`TransformedTargetRegressor` is not working with `RFECV` because `coef` or `feature_importance` is not exposed directly in `TransformedTargetRegressor`.

#### Steps/Code to Reproduce

[code]

#### Expected Results

No error is thro

[2019-10-21 12:13] venkyyuvy commented on #15312
Can we expose those attributes directly in `TransformedTargetRegressor`?

[2019-10-21 13:19] #15309 closed

[2019-10-21 14:00] #14714 closed

[2019-10-21 14:13] jeremiedbb commented on #14784
I opened #15174 to make the build succeed by default (but with openmp disabled if necessary). It seemed to be the behavior wanted by most of you (including discussions in #14624). But the reviewers of the PR are not the ones who expressed this change so I think we need to find a consensus here before moving forward in the PR.

When OpenMP is not supported, the proposed behavior is the following:
-

[2019-10-21 14:45] NicolasHug commented on #8370
@GaelVaroquaux @jnothman :) ?

[2019-10-21 14:47] adrinjalali commented on #8370
Do we really want a frozen SVC to pretend it's and SVC and yet its `fit` does nothing?

[2019-10-21 15:13] thomasjpfan commented on #9250
Working on manifold

[2019-10-21 15:23] NicolasHug commented on #14784
I think that 3 is not helping sprint attendees, which is the initial intent. So I'd rather still fail (considering that building on Mac is easier now with conda), or not raise warnings in `__init__`.

Longer version here https://github.com/scikit-learn/scikit-learn/pull/15174#issuecomment-544511570

[2019-10-21 15:49] thomasjpfan commented on #9250
Working on semi_supervised

[2019-10-21 15:55] thomasjpfan commented on #9250
Working on neighbors

[2019-10-21 17:08] thomasjpfan commented on #9250
Working on gaussian_process

[2019-10-21 17:09] remykarem commented on #10856
@FlorianWilhelm and @qinhanmin2014, sure I'd be more than happy to provide a PR for `GeneralNB`. I think we could implement it below like how @FlorianWilhelm suggested.

[2019-10-21 17:15] adrinjalali opened #15319 "Make sure meta-estimators are lenient towards missing data"
This item is in our roadmap, and I don't totally understand it. Trying to kinda track the progress of those items, I'm creating this issue. Not sure who wrote it. @amueller maybe you could elaborate? (feel free to edit the description of the issue).

[2019-10-21 17:20] thomasjpfan commented on #9250
Working on feature_extraction

[2019-10-21 17:32] thomasjpfan commented on #9250
Working on inspection

[2019-10-21 17:46] thomasjpfan commented on #9250
Working on preprocessing

[2019-10-21 17:53] thomasjpfan commented on #9250
Working on linear_models

[2019-10-21 20:01] agramfort commented on #15171
the Inria foundation does not know how to get such money.

[2019-10-21 20:04] GaelVaroquaux commented on #15171
I would rather avoid funnelling all the money via the Inria foundation.
Not that I am opposed to it, but I'd rather have as much as possible
multiple actors.

One problem though is that I do not know how to spend money that we might
have in NumFocus's account. :).

[2019-10-21 20:58] lorentzenchr commented on #3702
Is anyone working on this? If not, I might give it a try.
As originally suggested by @szs8, I think a simple rescaling of `X` and `y` by `sqrt(sample_weight)` suffices (maybe up to a scaling factor like n_sample/np.sum(sw)), as is done for ridge: https://github.com/scikit-learn/scikit-learn/blob/5c9f0906102e4677b045744a24228b6c57a6c471/sklearn/linear_model/ridge.py#L437
Or am I missing something?

[2019-10-21 23:31] srggrs commented on #15005
Hi guys,
I did some preliminary analysis for @jnothman using AST and these are the results for the [aggregated](https://docs.google.com/spreadsheets/d/1adlFib_xdbuUZMH83A0mMDHwtCOw8fiaGty3qOwMD0E/edit?usp=sharing) data and analysis related to the [repo/file](https://docs.google.com/spreadsheets/d/1RAw0p4JC2lGb4bWawBgN3h79fL3KR6B-RxbdYCV1Hg8/edit?usp=sharing).

Let me know if you have any questions

[2019-10-22 01:29] thomasjpfan commented on #15005
@srggrs Thank you for the analysis!

It looks like `nr_pos_args` is bounded below by 1. Does this mean that all estimators uses at least one positional argument?

[2019-10-22 02:59] zacbrannelly opened #15328 "Install via pip fails using Python 3.8"
#### Description
Installation fails when installing scikit-learn via pip in Python 3.8
Occurred on both Windows and Linux (Docker image `circleci/python:latest`)

#### Steps/Code to Reproduce
1. Install Python 3.8
2. Run `pip install scikit-learn`

#### Expected Results
No error is thrown and scikit-learn is installed successfully.

#### Actual Results
See the output in this gist:
https://gist.git

[2019-10-22 03:20] qinhanmin2014 commented on #10856
Yes, you can refer to the API of ColumnTransfomer.
Let's discuss GeneralNB in #15077

[2019-10-22 06:28] yash64 commented on #12494
Thanks for this insight. I am also facing the same issue. But how to handle this problem in production. I actually am trying to write my script such that it goes live in production and as you said there is a possibility of new categories in new data. What can be done in such scenarios?

[2019-10-22 09:01] glemaitre commented on #15310
This is related with the API issue/enhancement proposed in #8370 where we want to freeze the estimator such that `fit` does nothing.

[2019-10-22 09:39] my2019-arch commented on #8500
@fermat97 I have similar problem too. Did you manage to solve it? Thanks

[2019-10-22 09:48] adrinjalali commented on #15328
Thanks for the report.

We have not released a 3.8 compatible version yet. It's in the making.

[2019-10-22 09:48] #15328 closed

[2019-10-22 11:46] glemaitre commented on #15319
I think that we developed some meta-estimators which would call `check_X_y` and not allowing missing-values. However, this check can be done by the underlying estimator instead.

Let's give an example: If `BaggingClassifier` with an `HistGradientBoostingClassifier` as a base estimator. The gradient boosting will natively manage missing values. If the `BaggingClassifier` already raises an error at

[2019-10-22 11:51] glemaitre commented on #15312
One way would be to create properties to expose `coef_` and `feature_importances_` if they are implemented by the underlying regressor.

[2019-10-22 11:52] glemaitre commented on #15312
I think that it makes sense to add this feature

[2019-10-22 12:08] #14728 closed

[2019-10-22 12:11] xingfengzhang commented on #9636
dear,can IsolationForest model save to PMML file? I got that the estimator only can be "classifier" or "regressor",but how about anomaly detection algorithm like iforest?should it like this,iforest = PMMLPipeline([("classifier",iforest)])?please

[2019-10-22 12:31] mikkelam commented on #15310
Ah that looks like a great suggestion. I will close this issue then

[2019-10-22 12:31] #15310 closed

[2019-10-22 12:41] cmarmo opened #15331 "DOC: Sphinx WARNING: autodoc: failed to import function from module"
This is the last Sphinx warning:
`WARNING: autodoc: failed to import function 'cholesky_delete' from module 'arrayfuncs'; the following exception was raised:
No module named 'arrayfuncs'`
It was already raised in #13380.

Thanks to @grisel and @jeremiedbb the responsible has been identified.
Apparently the cython type of the `cholesky_delete` function (fused function) makes sphinx misbehave with r

[2019-10-22 14:03] jnothman commented on #15312
We don't do this in pipeline... rather, RFECV should possibly be more
flexible in how it gets feature importances, e.g. by allowing the user to
specify a callable.

[2019-10-22 14:42] glemaitre commented on #15312
True.

Do you expect from a user to give a specific callable for all meta-estimators/pipeline? Or rather, we should internally introspect which type is it and delegate to the right fitted estimator?

[2019-10-22 15:44] thomasjpfan commented on #15331
I am okay with removing `cholesky_delete` from the documentation.

[2019-10-22 16:11] ezyang commented on #14485
check https://github.com/pytorch/pytorch/issues/2575#issuecomment-523657178

[2019-10-22 16:23] jmwoloso opened #15336 "Add Sparse Matrix Support For HistGradientBoostingClassifier"
### Description
Hi!

I'm receiving the error below when attempting to pass a sparse matrix to `HistGradientBoostingClassifier`. The matrix is the result of using `CountVectorizer` and `TfidfTransformer` on input text.

In my case, the size of the text prohibits converting the sparse matrix to a dense one (I run out of memory).

#### Steps/Code to Reproduce

[code]

#### Expected Results
No error i

[2019-10-22 16:33] thomasjpfan commented on #15336
Thank you for posting this feature request. We can discuss what kind of semantics we want for sparse matrix support. I.E. we can treat zero as missing or a literal zero. [LightGBM](https://lightgbm.readthedocs.io/en/latest/Advanced-Topics.html#missing-value-handle) uses a parameter to decide which semantic to use.

[2019-10-22 16:46] jmwoloso commented on #15336
No problem. Without knowing the full extent of what is required, I'd be happy to try and tackle it with your guidance on where to look, etc.

[2019-10-22 19:51] Vidyapreethaam commented on #15275
Hi Im not able to access the link. Also for feature importance does it make sense to add PCA and get the most important features for the first principal component for the isolation forest?

[2019-10-22 22:40] jnothman commented on #15336
Zero semantics would be consistent with every other estimator (except for
pairwise data).

[2019-10-22 23:07] fermat97 commented on #8500
@my2019-arch I think the problem is the LDA toolbox of the Scikit-Learn automatically remove "unnecessary" components (very small eigenvalues I suppose). I couldn't fix the problem. However, I have applied LDA to some other type of features (which are more Gaussian I think) and it works. So I assume it is very sensitive to the type of features you use. Could you try some Gaussianization?

[2019-10-23 00:44] albertcthomas commented on #15275
The paper is called “Sequential feature explanations for anomaly detection” by Siddiqui et al.

Using PCA prior to using Isolation Forest could be used to do a dimension reduction as a preprocessing step.

[2019-10-23 01:09] xingfengzhang commented on #9636
dear,can IsolationForest model save to PMML file? I got that the estimator only can be "classifier" or "regressor",but how about anomaly detection algorithm like iforest?should it like this,iforest = PMMLPipeline([("classifier",iforest)])?please

[2019-10-23 01:18] pswpswpsw opened #15340 "Future request: for supporting complex array in multitask-elastic-net"
Current version of scikit-learn doesn't support complex array for multi-task ElasticNet. I believe it can be fixed easily. In many tasks complex signals are more natural to real signals.

[2019-10-23 01:40] jnothman commented on #15312
Firstly note that there is a parallel issue open for SelectFromModel
(#15154) the solution might be #9606.

What I'm proposing as a simple solution is that RFE and SelectFromModel add
a param `importance_getter` which can be a callable ((fitted_est,) ->
importances), and otherwise defaults to the current logic.

[2019-10-23 05:53] venkyyuvy commented on #15312
I like this idea. Can I create a PR for this?

[2019-10-23 08:41] adrinjalali commented on #15171
I'll talk to Leah to figure it out then.

[2019-10-23 08:52] adrinjalali commented on #15005
Also, `nr_pos_args max` seems to be 1 for many estimators, which looks pretty odd to me.

[2019-10-23 09:25] adrinjalali commented on #8370
I'm not sure what you mean by that @jnothman

[2019-10-23 10:09] glemaitre opened #15341 "Missing file in .gitignore following privatisation of some module"
I see the following file poping up in my git status in master:

[code]

I think that they should be added in the `.gitignore`.

[2019-10-23 10:09] glemaitre commented on #15341
@thomasjpfan @NicolasHug could you confirm that I don't misdiagnose the issue here.

[2019-10-23 10:21] jnothman commented on #8370
I mean that being an instance of the frozen type is not necessarily
important as long as it has all attributes of the frozen type.

[2019-10-23 10:46] qinhanmin2014 commented on #15341
also encountered this locally.

[2019-10-23 12:41] NicolasHug commented on #15341
Basically these files don't exist anymore.

The template `seq_dataset.pxd.tp` (same for .pyx) have been renamed to `_seq_dataset.pxd.tp`.

So now the file `seq_dataset.pxd` is not generated at all. The file that is generated is `_seq_dataset.pxd` (and it's in the gitignore).

If you cloned the repo you would not see the files in your git status.

No strong opinion but you should just remove them l

[2019-10-23 12:45] glemaitre commented on #15341
OK so basically they are reappearing when switching PR when it was not synchronized with master.

[2019-10-23 13:33] glemaitre commented on #15341
closing then

[2019-10-23 13:33] #15341 closed

[2019-10-23 13:35] GaelVaroquaux commented on #15171
Great! That's the best solution in my eyes.

[2019-10-23 13:35] glemaitre commented on #9250
@thomasjpfan From the list, I only did not review the PR for the decomposition. I did not open a PR because you seem to have work on it. Could you open a PR?

[2019-10-23 14:10] remykarem commented on #15077
@qinhanmin2014, here is my preliminary suggestion. The implementation for `GeneralNB` is slated for the 5 naive Bayes algorithms that sklearn has `GaussianNB`, `BernoulliNB`, `MultinomialNB`, `ComplementNB` and `CategoricalNB`.

An sklearn user would expect to use GeneralNB in this manner:

[code]

In general how I would implement the `GeneralNB.fit()` function is to run `fit()` on the respective

[2019-10-23 14:16] qinhanmin2014 commented on #15077
Thanks, I think this is what we want.
Actually there's an annoying blocker #14444, but you can start to draft a PR. It's not likely to be included in the next release so please be patient.

[2019-10-23 14:21] remykarem commented on #15077
Got it, I will start working on it.

[2019-10-23 14:52] thomasjpfan opened #15346 "Add __getitem__ to `ColumnTransformer`?"
Now that we have `pipeline['preprocessor']` do we want to extend this to `ColumnTransformer`. For example:

[code]

Currently we would have to do
[code]

[2019-10-23 18:02] thomasjpfan commented on #14953
It would be nice to have support for this now and not wait till 0.24. Is adding option in `categories` a good idea? (I do not have a good idea what this new option would be called. `categories=use-pandas-categories-if-avaliable`?)

[2019-10-23 21:03] jnothman commented on #14953
categories='dtype'?

[2019-10-24 00:32] hermidalc commented on #5523
I have a use-case where I need pandas dataframes preserved through each step in a `Pipeline`.  For example a pipeline with 1) feature selection step filtering features based on data, 2) data transformation step, 3) another feature selection step to filter for specific feature column names or original indices, 4) standardization, 5) classification.

Step 3) I believe is currently not possible in sk

[2019-10-24 08:28] Chamara-g opened #15351 ""from sklearn.metrics import mutual_info_score" accuracy error"
**The mutual information score is correct for values between 1 and 2 with two decimal places.** The mutual information score will be 1 for any value other than that and with more number of decimal places than 2.

Example:

**from sklearn.metrics import normalized_mutual_info_score**

mi = normalized_mutual_info_score(labels_a, labels_b, "max")
print(mi)

labels_a = np.array([1.25, **1.255**, 1.73]

[2019-10-24 10:50] hermidalc commented on #5523
Thanks for confirmation, yes being able to pass around feature names (or other feature properties) to fit methods and have them properly sliced during each feature selection step would be fine for this use case.

Earlier I read through their docs and maybe I'm not seeing it but most (or all) of their features are obsolete now in scikit-learn 0.21 with `sklearn.compose.ColumnTransformer`?  Also it

[2019-10-24 12:15] jnothman commented on #5523
(I wonder whether supporting Pandas out in feature selection would break
much...)

[2019-10-24 12:20] panpiort8 commented on #14312
I was wondering about taking that issue as my first one, but after some random picking of submodules listed by script, the only classes I found as uncorrectly documented are PLS* classes. But they live in _pls_.py file, which seems to be non-public. Should I work on them or find another good first issue?

[2019-10-24 13:03] jnothman commented on #15005
Because the analysis here is limited to class constructors (next version should not, I think, have this limitation), the first arg is always self, and so the lower bound of 1 makes sense.

[2019-10-24 13:03] GuillaumeDesforges commented on #5523
Just checking briefly the code, there are all sorts of checks that happen arbitrarily at many place, using for instance https://github.com/scikit-learn/scikit-learn/blob/939fa3cccefe708db7a81c5248db32a1d600bf8d/sklearn/utils/validation.py#L619

Plus many operations use indexing in a numpy fashion that wouldn't be accepted by pandas dataframe.

Keeping pandas in/out would be a must for day-to-day d

[2019-10-24 13:04] cmarmo commented on #14969
For ICE discussion see #14126.

[2019-10-24 13:14] GaelVaroquaux commented on #5523
Good numerics are hard to implement on pandas dataframes. They are just
not meant for that, in particular for multivariate operations (numerical
operations across columns).

Machine learning is mostly mutlivariate numerics.

[2019-10-24 13:17] NicolasHug commented on #14312
As long as the actual classes are public, they qualify. The public classes are listed in `doc/modules/classes.rst`. The PLS* classes are there so feel free to document them

[2019-10-24 13:36] hermidalc commented on #5523
That decision should be left up to the user?  In my experience using scikit-learn extensively over the past two years I think two core and important functionalities that are missing and are a must have for a lot of ML use cases is support for passing sample and feature metadata.  Full pandas dataframe support is a natural and elegant way to deal with some of this.

These kind of core functionaliti

[2019-10-24 13:55] #13380 closed

[2019-10-24 13:55] #15331 closed

[2019-10-24 13:59] jnothman commented on #15351
The labels here should be discrete cluster indices, usually integers. Why
are you using floats/reals?

[2019-10-24 14:03] GaelVaroquaux commented on #5523
Well, the user is not implementing the algorithm.

mlr3 is in R, the dataframes are quite different from pandas dataframe.
Maybe this makes it easier to implement.

I agree that better support for feature names and heterogeneous data
types is important. We are working on finding good technical solutions
that do not lead to loss of performance and overly complicated code.

[2019-10-24 14:09] hermidalc commented on #5523
I think your approach of sticking with numpy arrays and at least supporting passing feature names or even better multiple feature metadata would work for many use cases.  For passing training sample metadata you already support it in `**fit_params` and I know there is an effort to improve design.  But I mentioned in https://github.com/scikit-learn/enhancement_proposals/pull/16 that there are use c

[2019-10-24 14:13] hermidalc commented on #5523
Computational scientists in life sciences research are usually very comfortable with both python and R and use both together (myself included).  I'm pretty sure a significant percentage of the scikit-learn user base are life sciences researchers.

[2019-10-24 14:24] GuillaumeDesforges commented on #5523
not meant for that, in particular for multivariate operations (numerical
operations across columns).

Maybe I am missing something, but wouldn't it be possible to unwrap the DataFrame (using `df.values`), do the computations and then wrap back to a new DataFrame ?

[2019-10-24 14:31] GaelVaroquaux commented on #5523
In general no: it might not work (heterogeneous columns), and it will
lead to a lot of memory copies.

[2019-10-24 15:01] GuillaumeDesforges commented on #5523
I think that Column Transformers and such can handle it indicidually.

I understand that there are difficult design & implementation choices to make, and that is a sound argument.

However, I don't understand why you would argue that it is not a good idea to improve the way sklearn supports column meta data.

Allowing for instance to ingest a df with features, add a column thanks to a predictor, d

[2019-10-24 15:27] adrinjalali commented on #14905
hmm, it doesn't work on my machine.

[2019-10-24 15:33] jeremiedbb commented on #14905
it seems that you also need conda-forge::llvm-openmp in some cases. We updated the documentation, see [https://scikit-learn.org/dev/developers/advanced_installation.html#mac-osx](https://scikit-learn.org/dev/developers/advanced_installation.html#mac-osx)
Can you tell me if the documented instructions work for you ?

[2019-10-24 15:57] adrinjalali commented on #14905
Yes it works, except that it needs to be Cython, not cython, see https://github.com/scikit-learn/scikit-learn/pull/15356

[2019-10-24 20:05] jnothman commented on #5523
Leaving things up to the user to decide requires clearly explaining the
choice to the user. Most users do not read the documentation that would
explain such choices. Many would try what they think might work, and then
give up when they find it slow, not realising that it was their choice of
daraframe that made it so.

 So we need to step with some care here. But we do need to keep solving
this as

[2019-10-24 21:08] #15305 closed

[2019-10-24 21:18] prosaicpudding commented on #14528
I am going to see if I can make progress on this issue.

[2019-10-24 21:40] NicolasHug opened #15358 "Use _check_sample_weight to consistently validate sample_weight"
We recently introduced `utils.validation._check_sample_weight` which returns a validated `sample_weight` array.

We should use it consistently throughout the code base, instead of relying on custom and adhoc checks like `check_consistent_lenght` or `check_array` (which are now handled by `_check_sample_weight`).

Here's a list of the estimators/functions that could make use of it (mostly in `fit`

[2019-10-25 05:23] hermidalc commented on #5523
I think the best solution would be to support pandas dataframes in and out for the sample and feature properties and properly passing and slicing them into train and test fit/transform. That would solve most uses cases while keeping the speed of the data matrix X as numpy arrays.

[2019-10-25 05:52] venkyyuvy opened #15359 "Improving the example for get_feature_names in OneHotEncoder"
#### Description

The example given for `get_feature_names` is not helpful to understand its complete functionality.

https://github.com/scikit-learn/scikit-learn/blob/846e6a38b032c46490e3556cf9550a4563525e8d/sklearn/preprocessing/_encoders.py#L244-L245

Something like the following would be more helpful.
[code]

Another feedback is that code block is divided into two, because of skip line in the

[2019-10-25 05:58] venkyyuvy commented on #15346
Can I work on this issue?

[2019-10-25 07:38] adrinjalali commented on #5523
One important point missing from this arguments is that pandas is moving towards a columnar representation of the data, in a way that `np.array(pd.DataFrame(numpy_data))` will have two _guaranteed_ memory copies. That's why it's not as easy as just keeping the dataframe and using `values` whenever we need speed.

[2019-10-25 12:37] hermidalc commented on #5523
I hope I was clear in my previous post.  I believe scikit-learn doesn't currently need to support pandas dataframes for X data, keep them as speedy numpy arrays.  But what would solve many use cases is full support through the framework for pandas dataframes for metadata, i.e. sample properties and feature properties.  This shouldn't be a performance burden even for memory copies as these two data

[2019-10-25 12:38] #10873 closed

[2019-10-25 12:44] adrinjalali commented on #5523
Yes, those changes do help in many usecases, and we're working on them. But this issue is beyond that: https://github.com/scikit-learn/scikit-learn/issues/5523#issuecomment-508807755

[2019-10-25 12:47] NicolasHug commented on #5523
@hermidalc are you suggesting we let `X` be a numpy array, and assign the meta data in other dataframe object(s)?

[2019-10-25 13:18] hermidalc commented on #5523
Yes, full for sample properties and feature properties as pandas dataframes.  Discussion is already happening on sample properties and feature names in other threads.

[2019-10-25 14:31] thomasjpfan commented on #15346
I would wait for input from the other core devs and see what they think the proposal.

[2019-10-25 14:53] mayhewsw commented on #4391
Old thread is old, but I also had this problem. Not only is it not standard, but it privileges term frequencies far too much, so common tokens like "the" and "." tend to be ranked at the top. I'd vote for @hannawallach's suggestion also, but in the meantime, one workaround is to set `sublinear_tf=True`, which deprivileges tf to some extent.

[2019-10-25 14:56] oke-aditya opened #15362 "Website Broken, not loading"
Hey folks,
It's been a pleasure to use scikit-learn.
The development site is giving a 404 error please check.

[https://scikit-learn.org/dev/documentation.html](url)

![image](https://user-images.githubusercontent.com/47158509/67581464-b0b63700-f765-11e9-91f3-5b075264f313.png)

[2019-10-25 14:57] FilFilias opened #15363 "ValueError: could not broadcast input array from shape (24,1) into shape (24)"
![image](https://user-images.githubusercontent.com/56596236/67581377-31fed100-f748-11e9-9093-7053358ba72c.png)

So, when i try to predict from my test set, i get the:
 ValueError: could not broadcast input array from shape (24,1) into shape (24)

even though my target (Y) size is (n_sample,).What should i do?

[2019-10-25 14:59] calebralphs commented on #10108
I would also like this feature of bounded KDE. I've been working with positive definite data where optimal bandwidth is 15, but min value is 1. Really hoping this feature is out there, seems pretty trivial to implement.

[2019-10-25 15:49] rth commented on #15362
Thanks for the report. How did you end up there? Overall the dev documentation was accessed at https://scikit-learn.org/dev/

Looks like that particular page was removed not sure if that was intentional cc @thomasjpfan .

We should probably run a crawler to check that there are no broken links on the new website.

[2019-10-25 15:55] thomasjpfan commented on #15362
It was intentional: https://github.com/scikit-learn/scikit-learn/pull/15121

Made a PR to have a page there just to redirect to the main page: https://github.com/scikit-learn/scikit-learn/pull/15364

[2019-10-25 16:38] rth commented on #4391
Re-opening. https://github.com/scikit-learn/scikit-learn/pull/14748 would partially address this, by allowing to at least use standard itf-df weighting.

[2019-10-25 16:52] agramfort commented on #15363
@FilFilias please share code to replicate bugs not screenshots. thanks

[2019-10-25 16:52] #15363 closed

[2019-10-25 19:59] oke-aditya commented on #15362
Okay, let me put another image that shows. How I reached there.
![image](https://user-images.githubusercontent.com/47158509/67600555-fd166c80-f78f-11e9-80b7-ba3646da402b.png)

- Clicking here made me reach the above 404 Error.

[2019-10-25 20:01] oke-aditya commented on #15362
- Maybe you should redirect to

[https://scikit-learn.org/dev/](url)

- Instead of

[https://scikit-learn.org/dev/documentation.html](url)

[2019-10-25 20:57] FilFilias opened #15368 "ValueError: could not broadcast input array from shape (24,1) into shape (24)"
import pandas as pd
import numpy as np
from sklearn.model_selection import RepeatedKFold
from sklearn.cross_decomposition import PLSRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.ensemble import RandomForestClassifier,VotingClassifier
from sklearn.metrics import roc_auc_score,make_scorer
from imblearn.over_sampling import SMOTE

e_auc=[]

df=pd.read_ex

[2019-10-25 22:11] thomasjpfan commented on #14304
Fixed in https://github.com/scikit-learn/scikit-learn/pull/15049

[2019-10-25 22:11] #14304 closed

[2019-10-25 22:17] thomasjpfan commented on #13979
This was fixed in https://github.com/scikit-learn/scikit-learn/pull/14849

[2019-10-25 22:17] #13979 closed

[2019-10-26 03:56] thomasjpfan commented on #13614
Recently spoke to someone that is running into this issue. He fitted a transformer on unlabeled data and they he created a metaestimator to wrap this transformer in order to freeze it (by overwriting `fit` to do nothing). Next, he placed it into a `ColumnTransformer` as one of the transformers. Since `ColumnTransformer` will clone its transformers, the metaestimator that he wanted to freeze lost i

[2019-10-26 04:04] thomasjpfan commented on #13048
Fixed in https://github.com/scikit-learn/scikit-learn/pull/14767

[2019-10-26 04:04] #13048 closed

[2019-10-26 04:12] thomasjpfan commented on #12728
Resolved by https://github.com/scikit-learn/scikit-learn/pull/14549

[2019-10-26 04:12] #12728 closed

[2019-10-26 07:01] profwacko commented on #14582
I'd like to help out with fixing some of those broken refs, will check out `contributing.rst`

[2019-10-26 11:20] jnothman commented on #13614
Yes, cloning is precisely why freezing needs a specialised solution. It's
very hard for a user unfamiliar with scikit-learn internals to fix.

[2019-10-26 12:12] #15147 closed

[2019-10-26 12:19] jnothman commented on #15359
PR welcome

[2019-10-26 12:31] jnothman commented on #15346
Fairly ambivalent here... Except it's useful to consider how this looks
when there is cloning involved....

[2019-10-26 14:21] thomasjpfan commented on #15013
Closing this issue as `CatBoostClassifier` does not satisfy our api.

(As a quick fix, one can subclass `CatBoostClassifier` and define `classes_`.)

[2019-10-26 14:21] #15013 closed

[2019-10-26 14:30] thomasjpfan commented on #14836
Closing due of inactively. Feel free to reopen if you wish to continue this discussion.

[2019-10-26 14:30] #14836 closed

[2019-10-26 14:31] thomasjpfan commented on #14834
Closing due of inactively. Feel free to reopen if you wish to continue this discussion.

[2019-10-26 14:31] #14834 closed

[2019-10-26 14:33] thomasjpfan commented on #14826
Closing due of inactively. Feel free to reopen if you wish to continue this discussion.

[2019-10-26 14:33] #14826 closed

[2019-10-26 14:55] thomasjpfan commented on #14730
Closing due of inactively. Feel free to reopen if you wish to continue this discussion.

[2019-10-26 14:55] #14730 closed

[2019-10-26 15:10] thomasjpfan commented on #14568
Closing due of inactively. Feel free to reopen to continue this discussion.

[2019-10-26 15:10] #14568 closed

[2019-10-26 15:18] thomasjpfan commented on #14497
How would you want to update the example?

[2019-10-26 15:19] thomasjpfan commented on #14467
Closing due of inactively. Feel free to reopen to continue this discussion.

[2019-10-26 15:19] #14467 closed

[2019-10-26 20:59] thomasjpfan commented on #13964
I am +1 on a python>=3.7 solution that would break older versions.

[2019-10-26 21:48] thomasjpfan commented on #13637
Closing this issue as it is out of scope for sklearn.

[2019-10-26 21:48] #13637 closed

[2019-10-26 21:54] thomasjpfan commented on #13595
Closing because issue was resolved in https://github.com/scikit-learn/scikit-learn/pull/13607

[2019-10-26 21:54] #13595 closed

[2019-10-26 22:07] thomasjpfan commented on #13032
Closing due of inactively. Feel free to reopen to continue this discussion.

[2019-10-26 22:07] #13032 closed

[2019-10-26 22:15] anttttti opened #15371 "Strict identity parameter check in sklearn.base.clone"
I'm trying to add sklearn-compatibility to Cython-based estimators. Running clone() on these requires a custom get_params(), that copies values to new c-objects instead of copying references.

clone() validation doesn't accept this, since it's using reference comparison "is" instead of value comparison "==" to check for equality. Shouldn't this validation be checking for values instead of referenc

[2019-10-27 02:08] jnothman commented on #15371
@amueller argued for using `is` instead of equality a couple of years ago.

I will admit that I can't think of any reason I'd implement the API of an
estimator (rather than its underlying implementation) in cython and am
curious about this design choice.

Can you give a minimal example of what you think should work but doesn't,
and what you need to do to get around it?

[2019-10-27 04:55] anttttti commented on #15371
In general any estimator that calls clone() with parameters that actually get copied will fail the current validation. This line is in conflict with the current "is" reference validation:

https://github.com/scikit-learn/scikit-learn/blob/67ea25df1f199a279dd68f91a322e951b59b35f4/sklearn/base.py#L58

This deepcopy will create a new reference. So for example, if you pass a float variable as one of t

[2019-10-27 05:18] phunehehe commented on #13656
I think I'm running into the same issue. Here's as minimal as I can get it:

[code]

Output:

[code]

Note how:

- I need to use an input much larger than the output to make the problem easy to see.
- The prediction results in the second and forth runs are worse than the first and the second.
- According to the histogram the prediction results bounce back and forth between 2 buckets.

[2019-10-27 07:05] jnothman commented on #15371
Does the estimator otherwise pass check_estimator?

It would still be much clearer with an example of code rather than talking
in the abstract.

[2019-10-27 07:32] #15362 closed

[2019-10-27 07:51] oke-aditya commented on #15362
- It is not fixed yet.
- I still find the 404 Issue.

[https://scikit-learn.org/dev/documentation.html](url)

![image](https://user-images.githubusercontent.com/47158509/67631445-a65a8100-f8bc-11e9-9506-ec290e111691.png)

[2019-10-27 07:52] oke-aditya commented on #15362
![image](https://user-images.githubusercontent.com/47158509/67631456-cab65d80-f8bc-11e9-9adb-df80bf7b6c99.png)

- This link is the problem.

[2019-10-27 08:01] rth commented on #15362
The documentation hasn't finished building yet. That link from stable docs will no longer be relevant once a new scikit-learn version is released.

[2019-10-27 09:10] jnothman commented on #15362
Works now for me

[2019-10-27 13:38] thomasjpfan commented on #12488
Tensorflow datasets are not supported in sklearn. (Closing due of inactively. Feel free to reopen to continue this discussion.)

[2019-10-27 13:38] #12488 closed

[2019-10-27 13:57] thomasjpfan commented on #12429
This may have been resolved in  https://github.com/scikit-learn/scikit-learn/pull/12983 (in the code snippet in the original post now works without error on master).

@stoddardg May you test this by installing [the dev build](https://scikit-learn.org/dev/developers/advanced_installation.html#installing-nightly-builds)?

[2019-10-27 15:49] oke-aditya commented on #15362
- Works now. Great

[2019-10-27 17:14] thomasjpfan commented on #12121
Closing due of inactively. Feel free to reopen to continue this discussion.i

[2019-10-27 17:14] #12121 closed

[2019-10-27 21:18] NicolasHug commented on #13964
You meant would *not* break @thomasjpfan ?

[2019-10-27 21:37] #15242 closed

[2019-10-27 21:51] jnothman commented on #7931
closed by #14865

[2019-10-27 21:51] #7931 closed

[2019-10-27 21:57] jnothman commented on #11908
Is someone available to look into these things (specifically determinism in logistic regression)?

[2019-10-27 22:02] thomasjpfan commented on #13964
Yes I meant not break.

[2019-10-27 22:05] #11696 closed

[2019-10-27 22:07] jnothman commented on #14959
It would be great if we could at least raise an error here. Anyone want to solve it?

[2019-10-27 22:20] jnothman commented on #12652
I think this is inconsistent, but fairly innocuous... do we want to fix it?

[2019-10-27 22:23] jnothman commented on #7492
thanks @tkowpt

[2019-10-27 22:23] #6334 closed

[2019-10-27 22:52] jnothman commented on #4545
I'm going to close this given https://github.com/scikit-learn/scikit-learn/issues/4545#issuecomment-150773753

[2019-10-27 22:52] #4545 closed

[2019-10-27 22:59] jnothman commented on #14338
I don't think this is a blocker. Certainly not as long as iterative imputer is regarded as experimental

[2019-10-28 01:39] thomasjpfan commented on #12652
I would want to fix this to have a consistent API. The most conservative fix would be to issue a `FutureWarning` at first and then move the validation into `fit`.

Personally, I would prefer moving the validation into `fit` and consider this a bug fix.

[2019-10-28 03:38] arkanoid87 opened #15372 "imputation_order "ascending" and "descending" are inverted in IterativeImputer"
https://github.com/scikit-learn/scikit-learn/blob/58289bc306f5547790d3bbc2190bdbbb5c582321/sklearn/impute/_iterative.py#L420

_ImputerTriplets in fitted imputation_sequence_ lists are appended according to imputation_order, but order is inverted

[2019-10-28 03:48] #15359 closed

[2019-10-28 04:44] jnothman commented on #15372
patch welcome

[2019-10-28 04:44] jnothman commented on #15372
(and good catch!)

[2019-10-28 07:53] #14738 closed

[2019-10-28 10:17] thomasjpfan commented on #11908
I will look into this.

[2019-10-28 11:45] kwunlyou opened #15374 "VotingClassifier.named_estimators_ has a wrong value if some estimator is None"
#### Steps/Code to Reproduce

[code]

#### Expected Results
[code]

#### Actual Results

[code]

#### Versions
System:
    python: 3.6.8 (default, Oct  7 2019, 12:59:55)  [GCC 8.3.0]
executable: /usr/local/bin/python
   machine: Linux-4.15.0-1039-aws-x86_64-with-Ubuntu-18.04-bionic

Python deps:
       pip: 19.3.1
setuptools: 41.5.0
   sklearn: 0.21.3
     numpy: 1.17.3
     scipy: 1.3.1
    Cytho

[2019-10-28 13:29] jorisvandenbossche commented on #14953
This duplicates https://github.com/scikit-learn/scikit-learn/issues/12086 somewhat, there is some discussion there as well (but basically what @jnothman is proposing here to introduce a warning for it). Will close the other issue.

I agree with @thomasjpfan that it would be nice to already have the new behaviour now, but I was wondering if we cannot combine that we the changes in OrdinalEncoder fo

[2019-10-28 13:30] jorisvandenbossche commented on #12086
Closing this in favor of https://github.com/scikit-learn/scikit-learn/issues/14953, which has some more recent discussion.

[2019-10-28 13:31] #12086 closed

[2019-10-28 13:34] jorisvandenbossche commented on #14953
The question is also: what default behaviour do we want in the long run?
Personally, I think the default should become to use the categorical's dtype ordering/categories. If we want that, having this behaviour for `categories='auto'` (instead of a new `categories='dtype'`) might be nicer.

[2019-10-28 13:41] thomasjpfan commented on #14953
In the long run I would want `auto` to mean `dtype`. The question is how we get there. If we want to maintain backward compatibility, we need to warn stating that `'auto'` will now respect categorical dtypes. With this warning, it would be nice to say that "you can use the `categorical='dtype'` option now to enable this behavior. When 'dtype' becomes the new 'auto', we would need to deprecated 'dt

[2019-10-28 13:49] jorisvandenbossche commented on #14953
Yes, I was mainly trying to think if we can't do it with a shorter path, without having a new option that afterwards becomes obsolete. But yeah, as edited my comment above, it's difficult to do that in a fully backwards compatible way ..

[2019-10-28 14:10] kwunlyou commented on #15374
it seems the issue is due to [this code block](https://github.com/scikit-learn/scikit-learn/blob/0.21.X/sklearn/ensemble/voting.py#L104:L106)

[code]
`self.estimators` should be replaced by something like `self.estimators_no_none`

[2019-10-28 14:11] qinhanmin2014 commented on #9250
ping @NicolasHug @thomasjpfan what about sklearn.feature_selection?

Is #15367 a blocker?

[2019-10-28 14:13] jorisvandenbossche commented on #12147
This was actually solved by https://github.com/scikit-learn/scikit-learn/pull/13253 (handling a DataFrame column by column, preserving the column's dtypes)

[2019-10-28 14:13] #12147 closed

[2019-10-28 14:24] qinhanmin2014 commented on #15303
@amueller if you want to infer pos_label and allow users to specify pos_label manually, one possible solution is to define default pos_label=None as follows:
when y_true is in {-1, 1} or {0, 1}, pos_labe is set to 1, otherwise pos_label is set to the greater label.

This is consistent with brier_score_loss. Also see #10010 #13628

[2019-10-28 14:26] NicolasHug commented on #9250
Thanks I missed this one

Yes but it's tracked by another issue

[2019-10-28 14:49] qinhanmin2014 commented on #15303
ping @thomasjpfan please share your opinion since it's a blocker, thanks :)

[2019-10-28 15:27] kwunlyou commented on #15181
a duplicated one, see #14648

[2019-10-28 15:27] #15181 closed

[2019-10-28 16:31] #15374 closed

[2019-10-28 18:23] adrinjalali opened #15381 "Make sure the CI fails on Deprecation and Future warnings"
Sometimes the CI passes eventhough these warnings are raised in our tests. We should make sure they fail and the issues are caught.

[2019-10-28 18:32] NicolasHug commented on #6616
@amueller the "private" list is now complete, except for `@deprecated`. I personally don't mind keeping it public?

[2019-10-28 19:37] Shotgunosine opened #15383 "Dask parallel_backend produced CancelledError with nested cross validation"
#### Description
When using the dask parallel backend on a nested grid search I receive a `CancelledError`. The grid search works fine without using a dask backend. The problem is slightly itermittent, but I have a notebook and data set that reliably reproduce the error. @mrocklin has responded to similar issues in the past with the suspicion of version issues between different workers, but I don'

[2019-10-28 19:49] jnothman opened #15384 "Missing from what's new v0.22"
I've tried to reconcile the commits in 0.21.3..master with the PR and Issue IDs in the change log. The following appear to be missing from `doc/whats_new/v0.22.rst` and entries should be added for them:
reconciled and found

* [ ] ENH faster polynomial features for dense matrices (#13290)
* [ ] ENH Adds roc weighted scorers to SCORERS (#14417)
* [ ] ColumnTransformer input feature name and count v

[2019-10-28 20:04] NicolasHug commented on #14959
opened https://github.com/scikit-learn/scikit-learn/pull/15385 @jnothman

[2019-10-28 20:18] TomAugspurger commented on #15383
Does this reproduce with joblib 0.14.0? This may be fixed by https://github.com/joblib/joblib/pull/914 (which I think was in joblib 0.14.0).

[2019-10-28 20:32] Shotgunosine commented on #15383
I've pip installed joblib==0.14.0 and the error still reproduces, though it seems to be somewhat more intermittent. If you are trying to reproduce you may need to run the last cell a few times before the error is thrown. I've updated the github repo to use 0.14.0 if you'd like to try to reproduce the error yourself.

[2019-10-28 23:31] GregoryMorse opened #15388 "metrics.confusion_matrix far too slow for Boolean cases"
#### Description
When using metrics.confusion_matrix with np.bool_ cases (e.g. with only True/False values), it is far more fast to not use list comprehensions as the current code does.  numpy has sum and Boolean logic functions to deal with this very efficiently to scale far better.
Code found in: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/_classification.py which us

[2019-10-29 00:04] jackexu commented on #14624
Have same issue by using pip on Python 3.8

[2019-10-29 00:21] kyleabeauchamp opened #15389 "Negative Log Loss metric fails in LogisticRegressionCV when class is unobserved in CV fold"
#### Description
When LogisticRegressionCV is called on a multi-class dataset with a "low-data" class, some CV folds are forced to drop the rare-class entirely.  This propagates through to the `neg-log-loss` metric as an exception:

#### Steps/Code to Reproduce

[code]

#### Expected Results
I would expect this to run without an exception, or raise an exception before model training is attempted.

[2019-10-29 03:00] #9250 closed

[2019-10-29 06:57] rth commented on #15388
Thanks for the report! What data size are you using? With `n_samples=4096` from the example, it takes 2ms on my laptop per iteration.  With `n_samples = 10_000_000` it takes 6s per iterations, which is still not that slow.

We can make a specialized faster solution for boolean, but even better would be to improve the current generic one. I have quickly looked at the code and couldn't see obvious b

[2019-10-29 12:18] qinhanmin2014 opened #15391 "Rename files with trailing underscore"
Since we're making lots of files private, I think we can make use of this chance to get rid of some files with trailing underscore.
[code]
OK with this? @thomasjpfan

[2019-10-29 12:27] qinhanmin2014 opened #15392 "Document the advantage of our new GBDT"
I think it will be useful to document the advantage of our new GBDT (perhaps along with some benchmarks), so that users know when to use it.

Some insights from Nicolas:
- as guillaume said we can 100% control how they interact with the scikit-learn ecosystem (cross-validation, grid search etc.). This isn't the case for the other libraries which may only support part of it. Typically I'm not sure

[2019-10-29 12:47] suvofalcon commented on #13228
How will n_jobs=-1 will work or will it at all work, if you run your tensorflow backend on gpu?

[2019-10-29 13:01] adrinjalali commented on #15005
I'm happy to have in 0.22 if you still think we can have it in 0.22 @jnothman

[2019-10-29 14:39] #9857 closed

[2019-10-29 14:42] #10063 closed

[2019-10-29 14:49] venkyyuvy commented on #15372
The existing tests are failing because the default `imputation_order` is `ascending` and the `tol` values are not achieved with that.

Let me know if I am missing something or do we need to change the thresholds in the test.

[2019-10-29 15:56] thomasjpfan commented on #15391
I am okay with this.

[2019-10-29 19:59] jnothman commented on #15005
I don't think it's worth rushing this into 0.22. more important to ship the
release.

[2019-10-29 20:04] jnothman commented on #15372
Change the imputation order to descending in the breaking tests for a quick
fix...

[2019-10-29 20:21] NicolasHug commented on #15384
I'm on

[2019-10-29 20:43] NicolasHug commented on #15384
I think we will also need to update the highlighst to mention all the new plotting utilities, not just the roc_curve one (cc @thomasjpfan )

[2019-10-29 22:05] trabbart commented on #12442
I would like to work on this.

[2019-10-30 02:10] cgsavard commented on #3846
I would like to work on a few. I will start with isolation forest.

[2019-10-30 02:36] #15391 closed

[2019-10-30 03:50] stvmachine commented on #13869
Can 0.21rc2 be released as 0.21.0 as a patch and when the fix is available it will not affect any external dependency?

There is a lot of different platforms that just install as sub dependency this library.

Thanks for the good work 👍

[2019-10-30 04:11] GregoryMorse commented on #15388
I was using it with batches of about 4096 but doing it a great many times as part of a modeling algorithm for generic detection of Boolean formulas (sort of a variant of a decision tree classifier).  I realized whenever I Ctrl+C'ed it was always sitting in confusion_matrix, a sort of poor man's performance bottleneck finder while debugging - always in a list comprehension.  Seriously empirical dat

[2019-10-30 04:42] jnothman commented on #13869
This should be fixed... What issue are you running into @stvmachine?

[2019-10-30 04:45] #15076 closed

[2019-10-30 07:02] GregoryMorse commented on #15388
Update: 1 logical AND with 3 sums version added as its even more efficient.

[2019-10-30 07:29] jnothman commented on #15388
Also consider, if x and y are Boolean:
[code]

[2019-10-30 07:29] GregoryMorse commented on #15388
Using Ctrl+C with:
[code]

[code]

[code]

[code]

So the list comprehension based on this rather silly performance testing (but nevertheless legitimate and has been highly useful in the past in dramatically reducing bottlenecks), is one of the key bottlenecks compared to numpy arrays.  Also going through the labels when they are known to be booleans.

[2019-10-30 07:30] jnothman commented on #15388
Consider using the ipython %timeit to benchmark

[2019-10-30 07:32] GregoryMorse commented on #15388
Thanks for the advice, will look into ipython.  In the meantime:

[code]

```31``` so slightly faster - thank you very much for that serious improvement!!!

[2019-10-30 07:47] jnothman commented on #15388
But note that our API entails overhead in each call so we will never reach
the efficient of your solution in any case.

[2019-10-30 07:49] jnothman commented on #15388
Note also that breaking in list comprehension does not mean it is the
slowest, only that it might be the slowest *interruptible* process. Many
numpy operations can't be interrupted

[2019-10-30 07:52] GregoryMorse commented on #15388
Yes I realize that a generic solution cannot be as efficient as a special built one.  But since the data type is detected at least appeared to be in code, I think this particular case could be handled differently using your optimized code.

Also a good point, so more detailed profiling might be needed.  But anything which is not vectorizable and requiring iteration is the most likely candidate for

[2019-10-30 08:10] GregoryMorse commented on #15388
For the curious, this scenario derived from a binary classification problem.  I want to take a Boolean matrix to classify data against a Boolean vector.  However here is where it gets interesting.  Obviously decision trees come to mind immediately.  But the goal is not to classify the data as the dataset is far to chaotic to do that.

Rather the goal is to find Boolean combinations (AND/OR) of col

[2019-10-30 11:04] ogrisel commented on #15303
The current error message is confusing because the data is binary (but has ambiguous string labels). But I think that automatically inferring `pos_label=est.classes_[1]` is arbitrary for string labels.

I think we should improve the error message but not try to automatically infer the positive class when we get string labels.

[2019-10-30 11:32] ogrisel commented on #15303
I am working on a PR.

[2019-10-30 11:35] qinhanmin2014 commented on #15303
there's a PR :) #15316

[2019-10-30 14:19] kwunlyou opened #15406 "an assert issue in test_voting"
[code]

[the code block](https://github.com/scikit-learn/scikit-learn/blob/132ad993680bc19bb4b07492615f4fb5e1a05750/sklearn/ensemble/tests/test_voting.py#L184:L186) checks the prediction which is an array.

Should it be as follows? Otherwise, the assertion can be always true even `clf1.fit(X, y).predict(X))` and `[1, 1, 1, 2, 2, 2]` are not equal.

[code]

[2019-10-30 14:40] ogrisel commented on #10010
I think we should only do `pos_label` inference for binary classification with non-ambiguous integer classes, that is `{-1, 1}` or `{0, 1}`.

For instance the labels in `y_true` are string/object valued, we should require the caller to pass an explicit value for `pos_labels`.

In particular `roc_auc_score` should not internally label encode `y_true` otherwise it hides the issue: the positive label

[2019-10-30 14:41] ogrisel commented on #15303
Sorry I had not seen it.... My PR #15405 is taking a different stand on the issue: refusing to infer when there is ambiguity.

[2019-10-30 15:31] PhilipMay opened #15408 "Issue with F1 macro average for binary classification at classification_report"
The `sklearn.metrics.classification_report` prints a metric called F1 macro average
even in case of binary classification. See below where hate is the
positive (rare case) and nohate the negative case. From my point
of view the F1 macro average metric is only useful and valid in case
of multi class classification.

[code]

1. What do you think about the usefulness of F1 macro average in
case of bi

[2019-10-30 15:49] rth opened #15409 "Add dtype parameter to KBinsDiscretizer"
It would be useful to add the `dtype` parameter to `KBinsDiscretizer`, in particular to allow returning float32 output to save memory.

Related to https://github.com/scikit-learn/scikit-learn/issues/11000

[2019-10-30 15:52] glemaitre opened #15410 "Use train_test_split in plot_digits_classification.py instead of slicing"
The example `examples/classification/plot_digits_classification.py` use manual slicing instead of `train_test_split()`. We should update the example using our splitter function.

[2019-10-30 16:26] GaelVaroquaux commented on #15149
Why is the fact that different results are returned at each call "fundamentally wrong": the differences are not significant?

Does not setting the seeds fix the problem?

[2019-10-30 16:52] NicolasHug commented on #15149
That would work too, though I don't think we should prevent users from using a RandomState instance or None. It's convenient to just define an instance at the top of your file and pass it down to each call, e.g. `random_state=rng`.

[2019-10-30 17:04] rth commented on #15406
Thanks for spotting that. Yes, it looks wrong (written 5 years ago). PR welcome to fix it!

[2019-10-30 17:26] GaelVaroquaux commented on #15149
I would not mind erroring on this with a good error message.

[2019-10-30 19:57] jnothman commented on #15303
Maybe instead of "true positive rate" and "false positive rate" we should
label the axes "sensitivity to class 1" and "sensitivity to class 0" and
similar for other class labels....

[2019-10-30 21:35] anttttti commented on #15371
Another fix would be changing the current validation error to a warning. This way users can have estimators that make their own object references when cloned, but there will be a warning if this is unintended.

This would be easier to set up than deep inspection to check if the objects have equal values, with some clever shortcuts for cases where objects have same references.

[2019-10-30 21:49] rth commented on #15122
I think using logging overall makes sense, and https://docs.python.org/3/howto/logging.html#configuring-logging-for-a-library is an interesting read.

If I understand the problem correctly we would like to use logging but that means that messages below the level of `WARNING` (i.e. `INFO` and `DEBUG`) will be hidden from the user unless they manually set the logging level. For instance, to give an

[2019-10-30 21:57] jnothman commented on #15122
We don't need the  verbose parameter to work as before, as long as all
instances of the same class should share the same verbosity... we would
just define a logger name for each verbose estimator that matches the
public import path of the class.

[2019-10-30 22:12] rth commented on #15122
Does than mean deprecating the `verbose` parameter altogether?

Or alternatively setting `verbose` parameter would then set the logging level for the logger from its module? There is then a question of what happens for the inter-module logging. Say TSNE(verbose=1) uses `neighbors` module for a large part of the runtime. You could just pass `verbose` parameter there, but then does that mean that th

[2019-10-30 22:25] rth commented on #15122
Another data point, is that joblib is using logging for inter-process logging, but progress messages from the `verbose` parameter are still printed directly to stdout/stderr as far as I can tell.

[2019-10-30 22:48] stvmachine commented on #13869
I don't understand how can be solved if a library which sub-dependencies
still point to this version still fails.

I got this problem with `tensorflow/magenta` and `jupyter`.

On Wed, 30 Oct 2019 at 15:44, Joel Nothman <notifications@github.com> wrote:

[2019-10-30 22:51] stvmachine commented on #13869
I don't understand how can be solved if a library which sub-dependencies
still point to this version still fails.

I got this problem with `tensorflow/magenta`.

[code]

[2019-10-31 02:49] vachanda commented on #15308
Hi @ogrisel, can you add a link to the documentation page with the above issue? It'd help people to navigate to the issue with documentation code blocks.

Thanks!

[2019-10-31 03:03] vachanda commented on #15409
Hi @rth, I am interested in working on this issue.

[2019-10-31 03:31] vachanda commented on #15127
Hi @qinhanmin2014, just to clarify you are talking about the [BaseHistGradientBoosting](https://github.com/scikit-learn/scikit-learn/blob/0eebade2642b7f6c5105538eedada5b731998cc2/sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py#L83) class where the validation split is taking place?

P.S. I want to work on this and just needed the clarification.

[2019-10-31 03:43] qinhanmin2014 commented on #15127
Yes, something like xgb/lgb/ctb. Be careful, there's only +1 from me (we need +2 before making the decision)

[2019-10-31 04:19] mina1987 commented on #11579
Has anyone followed worked on this? I would like to work on this in Nov 2 WIML SF sprint.

[2019-10-31 05:32] jnothman commented on #13869
It should be very rare for a library to point to a specific patch release.
It should be pointing to the minor release.

[2019-10-31 06:16] jnothman commented on #11579
I think you could work on it @mina1987.

One tricky decision is how to handle the cache if the vectorizer is cloned

[2019-10-31 07:35] rth commented on #15409
Sure, thanks @vachanda !

[2019-10-31 13:13] glemaitre opened #15415 "[RFC] Feedback after scikit-learn module privatization"
I want to give back some feedback regarding the scikit-learn module privatization which we need to handle in `imbalanced-learn`.

### Imports triggering some errors in imbalanced-learn

So here is the list of the different imports which were currently failing in scikit-learn:

* `from sklearn.ensemble.base import _set_random_states`
* `from sklearn.ensemble.forest import _parallel_build_trees`
* `

[2019-10-31 13:54] NicolasHug commented on #15415
I agree we should update the `__all__` in most places (or even just remove it everywhere?). `__getattr__` is a 3.7 only feature so I wouldn't go for that.

So that's an unmaintained project then?

[2019-10-31 13:59] kwunlyou opened #15418 "inconsistent predict_proba of estimators with multioutput support"
An estimator with multioutput support can be used for multilabel problems such as [`RandomForestClassifier`](https://github.com/scikit-learn/scikit-learn/blob/ee328faa3601b40944ad43e28bce71860d39f2de/sklearn/ensemble/forest.py#L758). Its [`predict_proba`](https://github.com/scikit-learn/scikit-learn/blob/ee328faa3601b40944ad43e28bce71860d39f2de/sklearn/ensemble/forest.py#L564) methods returns

htt

[2019-10-31 14:04] glemaitre commented on #15415
This was an idea of @rth and he mentioned that there is a backport which is a single file which could be located in `externals`.

Not really. Project have different release scheme. If a project released some new features in between scikit-learn releases, this might not be time for them to make a new release. Scikit-learn just for them to have an unwanted release (they will not have time for RC for

[2019-10-31 14:12] thomasjpfan commented on #15415
There is a third option where we `inspect.getmembers` the module and import all the functions and classes.

[2019-10-31 14:14] rasbt commented on #15415
Good points, and thanks for thinking of us contrib-package developers :). I would not worry about these private modules too much as a blocker; they are clearly marked as private and come with an "use with care" implication. Developers of external/contrib packages are usually pretty code-savy (compared to the majority scikit-learn users) and could address issues related to changes in these via a "p

[2019-10-31 14:14] rth commented on #15415
Yeah, there is a backport of https://github.com/facelessuser/pep562 that seems pretty lightweight and we would only need to use it in auto-generated deprecated modules.

I think ideally anything that was imported with a public import path should not start erroring now. We will only know once contrib starts to test scikit-learn master or the future RC. I think there is a way to fix this with either

[2019-10-31 14:56] NicolasHug commented on #15415
One condition to all those depreciations was that whatever was public should still be for at least 2 versions, so I agree this is a blocker. I don't think we should worry too much about the private ones, but Maybe it's time to think of a developer's API (or bring back that topic if it was ever raised)

I'm happy to go with the backport. Could we maybe also use it to have better error import errors

[2019-10-31 15:38] GaelVaroquaux commented on #15415
I think that an official developer API would

On Oct 31, 2019, 11:01, at 11:01, Nicolas Hug <notifications@github.com> wrote:

[2019-10-31 15:41] kwunlyou opened #15420 "failed test_ard_accuracy_on_easy_problem using specific seed"
#### Description
the test failed using `seed=45`, however, it will pass if other seeds are used such as `46` or `47`

#### Steps/Code to Reproduce

[code]

-->

#### Expected Results
pass

#### Actual Results
asser error

#### Versions
[code]

[2019-10-31 16:13] glemaitre opened #15421 "DOC syntax error for reference in plot_cost_complexity_pruning.py"
The example https://github.com/scikit-learn/scikit-learn/blob/master/examples/tree/plot_cost_complexity_pruning.py as a syntax error in line 17 with an extra backtick which break the referencing.

[2019-10-31 16:32] NicolasHug commented on #15415
@GaelVaroquaux I think you didn't finish your

[2019-10-31 16:57] GregoireMialon opened #15422 "warm_start for LinearSVC"
Hi ! I was wondering if there was a particular reason for the absence of a warm_restart argument in LinearSVC (SGDClassifier won't be useful in my setting), so that I can maybe try to implement it myself ?

Thanks for this library !

[2019-10-31 17:25] GaelVaroquaux commented on #15415
...be nice.

I must apologize for not finishing my

[2019-10-31 18:56] NicolasHug commented on #15152
Depending on the length of the final file, we might want to have a TOC at the top for a quick glance

[2019-10-31 19:38] jnothman commented on #15415
Yes, I think we should consider providing assert_allclose_dense_sparse...

[2019-10-31 19:44] jnothman commented on #15418
IMO it was a mistake to support multilabel in OneVsRestClassifier. What it
does in that case is not called OvR, but binary relevance. Instead use
MultiOutputClassifier which is more consistent with those other classes.

Do you think we should deprecate multilabel support in OneVsRestClassifier?

[2019-10-31 19:46] jnothman commented on #15420
Some tests are reasonably expected to work with any seed, some are more
like a "proof of existence" and only need to test one seed. Why do you
think this should be the former?

[2019-10-31 19:51] #15109 closed

[2019-10-31 19:55] #15421 closed

[2019-10-31 23:12] hoffm386 commented on #12971
Hi @jnothman I'm interested in working on this!

Should each of the bullet points you suggested be its own commit within the PR?

[2019-10-31 23:29] jnothman commented on #15418
I think this can be regarded as a duplicate of #9650. Please close it if you agree.

[2019-10-31 23:33] jnothman commented on #12971
Hi @hoffm386, This one has been more or less resolved in #13229, but there are some small comments that need addressing there. You're certainly welcome to finish that off (or reimplement the patch if you'd like the exercise)!

We would usually not be concerned about how a PR is structured in terms of commits (just keep appending commits until you're done). A PR usually gets squashed into a single

[2019-10-31 23:53] GregoryMorse commented on #15388
I probably should open another issue since its fundamentally different.  But using pure Boolean values is pretty limiting when dealing with very large data due to memory waste.  np.array will use 1 byte per Boolean which although better than 4 or 8, is still 8 times waste.

Easy enough to pack the Boolean value np.array as bytes (np.uint8):
[code]

Then & and | provide bitwise operations already.

[2019-11-01 00:16] jnothman commented on #15388
I don't think you're going to find that kind of optimisation on our
roadmap, sorry. Such data representation is not supported in numpy, apart
from anything else.

[2019-11-01 00:32] GregoryMorse commented on #15388
Yes the primary problem would be endless indexing oddities `(1 << bitoffset) & value`, along with `if set: value |= (1 << bitoffset)`.  But a lot of things are already implicitly supported.

I suppose this first belongs over at numpy as a feature request before it moves here :-).  Thanks for the advice.

[2019-11-01 02:33] jnothman opened #15426 "Label docstrings with versionadded / versionchanged"
We should be using Sphinx's versionadded and versionchanged directives to indicate when classes, functions, methods and parameters are added or modified in their semantics. We are not very good at ensuring this labelling is done.

Towards the upcoming release of v0.22, it would be useful if some contributors (or sprinters) scoured the change log and identified whether any added/changed parameters/

[2019-11-01 02:36] GregoryMorse commented on #15388
@jnothman Apparently we can do even better...in fact milliseconds no longer would be an appropriate timing mechanism but microseconds might be good:

[code]

I suppose numba is not used in scikit-learn currently, is there a reason any good reason why not to go this route?  E.g. platform support (because its native C apparently going through a complicated LLVM optimization pipelines), extra depende

[2019-11-01 02:40] hoffm386 commented on #12971
Ok, thanks @jnothman!

Since the other PR had a merge conflict, I wasn't sure how much trouble it would be to get it working, so I was considering reimplementing it from scratch.  But it turns out it wasn't too bad to get it merged.

[2019-11-01 02:42] jnothman commented on #15426
@rth, please feel free to add a Sprint tag if you think this is suitable...

Btw, these classes appear to lack a versionadded... not sure though that we want to add to all of them (and I've not filtered private classes out): ARDRegression, AdaBoostClassifier, AdaBoostRegressor, AdamOptimizer, AdditiveChi2Sampler, AffinityPropagation, AgglomerationTransform, BaggingRegressor, BaseBagging, BaseCross

[2019-11-01 02:59] GregoryMorse commented on #15388
@jnothman Apparently we can do even better (at least twice better)...in fact milliseconds is almost no longer an appropriate timing mechanism but microseconds might be good:

[code]

I suppose numba is not used in scikit-learn currently, is there a reason any good reason why not to go this route?  E.g. platform support (because its native C apparently going through a complicated LLVM optimization

[2019-11-01 04:08] rth commented on #15426
Thanks @jnothman !

[2019-11-01 04:29] jnothman commented on #15388
Yes, a cython solution may also be fast, but this is really not the bottle
neck in most people's machine learning pipelines

[2019-11-01 11:07] DeLaRiva commented on #7834
I'm stuck on this issue for two days until I stumbled over this thread here. I'm also trying to use a learning_curve with a TimeSeriesSplit and when doing so, I only have a very small amount of data available.
Tbh, I didn't understand why many think the combination is not meaningful. From my pov it is :) But anyhow, is there any remedy atm?

[2019-11-01 11:22] kwunlyou commented on #15418
@jnothman

Yes. I agree with you. "it was a mistake to support multilabel in OneVsRestClassifier"

Yes.

[2019-11-01 11:22] #15418 closed

[2019-11-01 12:09] jdhil commented on #7254
As a quick check-in, I am traveling but will get back on this when I return in a few weeks. All the best, hope it's no rush.

[2019-11-01 12:46] #15406 closed

[2019-11-01 14:48] kwunlyou commented on #15420
@jnothman what I mean is `seed=45` can cause a failure on some flatform such as mine but it succeeds on others such as https://travis-ci.org/scikit-learn/scikit-learn

[2019-11-01 16:46] #15063 closed

[2019-11-01 16:46] #7061 closed

[2019-11-01 16:51] lesteve commented on #11499
Should this be closed now that #15299 has been merged (and we are not using Google Custom Search in the dev doc)?

Do we want to insist that Google Custom Search should be removed on the website for all the scikit-learn versions before this issue can be merged?

[2019-11-01 20:12] mina1987 commented on #14650
Any update? Would like to submit a PR for this

[2019-11-01 23:15] lorentzenchr commented on #3702
The sparse case with `fit_intercept=True` seems to be more involved. I can't figure out a solution without modifying https://github.com/scikit-learn/scikit-learn/blob/53082e92af18d533061f62d457e781c3c3617a4d/sklearn/linear_model/_cd_fast.pyx#L255

[2019-11-02 00:30] lorentzenchr opened #15438 "Bug in sparse in Ridge with sample weights"
#### Description
`Ridge` with sample weights gives wrong results for sparse input.

#### Steps/Code to Reproduce
[code]

#### Expected Results
No AssertionError is thrown.

#### Actual Results
Last two assertion statements throw AssertionError.

#### Versions
System:
    python: 3.7.2
sklearn: 0.22.dev0
commit 9caf8350e7cf09fa3d59c8f34758f0dae819398c
Author: Thomas J Fan <thomasjpfan@gmail.com>
Da

[2019-11-02 00:35] lorentzenchr commented on #15438
In PR #14300 @rth implemented some good consistency tests for `sample_weight`. I copied them over to PR #15436. It might be a good idea to have them for (nearly) all linear models with sample_weights.

[2019-11-02 04:57] KafeelBasha opened #15439 "Spectral clustering returns mismatched labels"
Hello

I have generated random points on circumference of a circle with radius 1 and 2.5 respectively, 100 points each. After apply Spectral clustering points on each circle has different labels.

Code used
[code]
Below images represents the data before and after the spectral clustering.
![spec](https://user-images.githubusercontent.com/22866208/68066252-4865e780-fd5b-11e9-8bc1-476c66b6bb6d.PNG)
!

[2019-11-02 09:16] rth opened #15440 "Apply numpydoc validation to docstrings"
It would be useful to enforce docstrings style with [numpydoc](https://github.com/numpy/numpydoc). Currently only a small fraction of docstring pass that validation.

To improve docstring see steps below,

0. Install scikit-learn from sources (see contribution guide).

1. install numpydoc master with,
[code]
2. Run the docstring validation on all docstrings,
[code]
   and choose an estimator with

[2019-11-02 09:20] glemaitre opened #15441 "Update the Python badge on the README file"
The python badge on the readme file is out of date (Python 3.5). We can actually have a dynamic badge using something like:

.. |PythonVersion| image:: https://img.shields.io/pypi/pyversions/scikit-learn.svg
.. _PythonVersion: https://img.shields.io/pypi/pyversions/scikit-learn.svg

[2019-11-02 10:18] tolaa001 commented on #15440
I am working on the doctoring for `LogisticRegression` estimator

[2019-11-02 10:25] norvan commented on #15440
Taking a shot at docstrings for `sklean.pipeline.Pipeline`.

[2019-11-02 10:59] James-G-Hill commented on #12035
I will modify the documentation.

[2019-11-02 11:07] LalliAcqua opened #15443 "installation of compilers for macOS from conda forge doesn't work"
I followed the instructions from:
https://scikit-learn.org/dev/developers/advanced_installation.html#macos-compilers-from-conda-forge

and I got the following error:

[code]
I have macOD Mojave Version 10.14.6

[2019-11-02 11:20] #15441 closed

[2019-11-02 11:20] LalliAcqua commented on #15440
I am working on the doctrings for TSNE

[2019-11-02 11:23] gbroccolo commented on #15440
looking to improve docstrings for `sklearn.neighbors.KNeighborsClassifier`

[2019-11-02 11:25] paoloturati commented on #15440
working on `RadiusNeighborsClassifier`

[2019-11-02 11:32] tolaa001 commented on #15440
working on `MinMaxScaler`

[2019-11-02 11:54] Soumirai commented on #15440
Working one OneHotEncoder

[2019-11-02 12:04] paoloturati commented on #15440
Working on `LabelBinarizer`

[2019-11-02 12:21] r-build commented on #15440
Working on `DecisionTreeClassifier`

[2019-11-02 12:32] paoloturati commented on #15440
Working on `IsolationForest`

[2019-11-02 13:00] jnothman commented on #14650
Please do @mina1987

[2019-11-02 13:50] lorentzenchr commented on #15358
@NicolasHug I could give it a try. Furthermore, should `_check_sample_weight` also guarantee non-negativeness and sum(sw) > 0 ?

[2019-11-02 14:02] ArthurBook commented on #15439
I can pick this up!

[2019-11-02 14:20] Yinglr commented on #15440
Working on sklearn.cluster.MiniBatchKMeans

[2019-11-02 14:28] rth commented on #15358
I think for the above mentioned estimators @NicolasHug intended this as an easier refactoring issues for new contributors, but if you want to look into it feel free to open PRs.

@lorentzenchr  Your expertise would certainly be appreciated there. As you mention https://github.com/scikit-learn/scikit-learn/issues/15438 there is definitely work to be done on improving `sample_weight` handling consis

[2019-11-02 14:29] James-G-Hill commented on #13659
I will take a look at fixing this.

[2019-11-02 14:36] LalliAcqua commented on #11000
Checking Isomap for this issue #11000

[2019-11-02 14:40] ArthurBook commented on #10529
I am adding a warning message in case any score is non-finite!

[2019-11-02 14:51] glemaitre commented on #15443
ping @jeremiedbb

[2019-11-02 14:52] lorentzenchr commented on #15358
In that case, I will focus on `_check_sample_weight` and on linear models. So new contributors are still welcome 😃

[2019-11-02 14:53] Soumirai commented on #15440
Working on OrdinalEncoder

[2019-11-02 14:55] bbuluttekin commented on #15440
Working on `LinearRegression`.

[2019-11-02 14:59] lbfin commented on #15440
Worked on Lasso.path

[2019-11-02 15:00] NicolasHug commented on #15358
Thanks @lorentzenchr .

BTW @rth maybe we should add a `return_ones` parameter to `_check_sample_weights`. It would be more convenient than protecting the call with `if sample_weight is not None:...`

[2019-11-02 15:37] #12035 closed

[2019-11-02 15:42] amueller commented on #15358
Should sample_weights be made an array in all cases? I feel like we have shortcuts if it's ``None`` often and I don't see why we would introduce a multiplication with a constant array.

Also: negative sample weights used to be allowed in tree-based models, not sure if they still are.

[2019-11-02 15:44] NicolasHug commented on #15358
No hence my comment above

[2019-11-02 15:46] amueller commented on #15358
Oh sorry didn't see that ;)

[2019-11-02 17:03] norvan commented on #13045
Taking a look at this one during the Man hackathon

[2019-11-02 17:05] mina1987 commented on #11579
I will start working on this!

[2019-11-02 17:16] gitsteph commented on #10733
Hi!  I'd like to work on adding `as_frame=True` for the California housing dataset.  It doesn't seem to have anyone working on it yet, so I'll just get started with it now at the sprint.  :)

[2019-11-02 17:18] kesshijordan commented on #14088
working on this with @akeshavan at wimlds sklearn sprint

[2019-11-02 17:18] ltcguthrie commented on #10733
I'd like to work on this by adding as_frame=True to the load_diabetes loader.

[2019-11-02 17:23] amueller commented on #14784
also see #15443 for a new issue, yay

[2019-11-02 17:25] amueller commented on #14624
@jackexu which issue?

[2019-11-02 17:28] MDouriez commented on #14094
@theoptips and I want to work on this one

[2019-11-02 17:30] sam-dixon commented on #15440
Working on `KernelDensity`

[2019-11-02 17:31] salliewalecka commented on #15358
@fbchow and I will pick up the fix for BaseDecisionTree for the scikitlearn sprint

[2019-11-02 17:31] alexdesiqueira commented on #15440
Working on `PCA`

[2019-11-02 17:32] kesshijordan commented on #14088
The variable name, itself, is also misleading since it implies that the label gets "flipped", not set randomly, but changing the variable name will cause problems with backwards compatibility. Is it adequate to change the description of the variable and keep the variable name `flip_y` constant, or is changing the variable name to something like `percent_random` an option?

[2019-11-02 17:34] harini-sridhar commented on #8642
@drajan and I are working on this for the Bay area sprint.

[2019-11-02 17:34] MZeej commented on #14364
Working on this as part of WiMLDS 2019 SF Sprint.

[2019-11-02 17:34] theoptips commented on #14094
Working with @MDouriez adding myself as a participant. #scikitlearnsprint

[2019-11-02 17:36] akeshavan commented on #14088
The current description is: "The fraction of samples whose class are randomly exchanged. Larger
        values introduce noise in the labels and make the classification
        task harder."

We are suggesting: "The fraction of samples whose class is **assigned randomly**. Larger
        values introduce noise in the labels and make the classification
        task harder."

Any suggestions?

[2019-11-02 17:37] mvdoc commented on #12542
Does #13806 close this or is there something more to address?

[2019-11-02 17:39] wconnell commented on #10733
I'll work on this by adding `as_frame=True` to the load_wine loader!

[2019-11-02 17:41] natashaborders commented on #15426
I'll work on AdaBoostClassifier, AdaBoostRegressor.

[2019-11-02 17:41] alekslovesdata commented on #15426
Started working on labels for ARDRegression

[2019-11-02 17:42] reganconnell commented on #10733
I will work on this by adding as_frame=True to the load_breast_cancer.

[2019-11-02 17:46] hailey0huong commented on #15440
Working on `TfidfVectorizer`

[2019-11-02 17:48] poorna-kumar commented on #15440
Working on `sklearn.linear_model.SGDClassifier`

[2019-11-02 17:49] lakrish opened #15464 "Failure of doctest for sklearn.cluster._bicluster.SpectralCoclustering on osx."
#### Description
DocTest failure on osx when testing master.

_________________________________________________________________________________________ [doctest] sklearn.cluster._bicluster.SpectralCoclustering __________________________________________________________________________________________
253         The bicluster label of each column.
254
255     Examples
256     --------
257     >>> f

[2019-11-02 17:49] MZeej commented on #14364
After review, we suggest not implementing these changes with the following comments:

- These variables already follow expected naming conventions with trailing "_" indicating variables of lesser interest to user
- No true private class exists in python [see python docs](https://docs.python.org/3/tutorial/classes.html#tut-private)

[2019-11-02 17:55] xun-tang commented on #15440
Working on `sklearn.ensemble.GradientBoostingRegressor` and `sklearn.ensemble.GradientBoostingClassifier`.

[2019-11-02 17:55] MZeej commented on #14781
I think this is closed.

[2019-11-02 18:00] loftiskg commented on #12941
I think that I can take this on as my first pull request.

[2019-11-02 18:01] abbiepopa commented on #15440
I am working on sklearn.cluster.KMeans

[2019-11-02 18:02] lbfin commented on #15440
Worked with RidgeClassifier docstring

[2019-11-02 18:03] kesshijordan commented on #15358
@fbchow we will do DBSCAN for the wmlds scikitlearn sprint (pair programming @akeshavan)

[2019-11-02 18:06] TomDLT commented on #14088
I think we would prefer not changing the variable name, and just improve the documentation.

[2019-11-02 18:07] Tiffany8 commented on #15440
Working on VotingRegressor

[2019-11-02 18:07] go-bears commented on #15440
working on VotingClassifier

[2019-11-02 18:12] harini-sridhar commented on #15426
@drajan and I are working on AdamOptimizer.

[2019-11-02 18:12] lakrish commented on #15358
working on BaseBagging for the wmlds sprint with Honglu Zhang (@ritalulu)

[2019-11-02 18:14] trista-paul commented on #10733
I'm working on this today by adding as_frame=True to load_linnerud(). Afterwards, I will look into the same for one of the real life datasets.

[2019-11-02 18:14] lotusea commented on #15426
@geoninja @lotusea are working on LinearRegression

[2019-11-02 18:19] EricaXia commented on #15426
@EricaXia @mzeej are working on TfidfTransformer, TfidfVectorizer, TheilSenRegressor, TimeSeriesSplit, TransformedTargetRegressor, TruncatedSVD

[2019-11-02 18:22] samskruthireddy commented on #5516
I am working on this issue

[2019-11-02 18:23] wconnell commented on #10733
Hey guys I think we should write a general `_bunch_to_dataframe()` function that can be called in all of these loaders. Instead of writing separate code in each loader, are we on the same page?

[2019-11-02 18:25] #14088 closed

[2019-11-02 18:27] trista-paul commented on #10733
Yes, I had thought that was the request originally.

[2019-11-02 18:30] amueller commented on #14094
So I'm not sure if this change will be beneficial. Why should VarianceThreshold have different behavior from other feature selection methods?
You could argue the same for other feature selectors, right?

I'm also not sure I understand the semantics of looking at reconstruction error in feature selection. @Sycor4x can you explain why you're doing this or what the interpretation of this is?

@jnothm

[2019-11-02 18:31] trista-paul commented on #10733
I'd like to claim it if no one else that recently posted before me doesn't (or doesn't respond soon).

[2019-11-02 18:32] pujaarajan commented on #4994
Working on this at the Bay Area WiMLDS  2019 Scikit Sprint

[2019-11-02 18:32] alexdesiqueira commented on #15440
Working on `DecisionTreeClassifier`

[2019-11-02 18:36] wconnell commented on #10733
I think we have made some progress already if you don't mind!

[2019-11-02 18:36] geoninja commented on #15426
@geoninja is working on 'Normalizer' and 'OneHotEncoder'

[2019-11-02 18:37] amueller commented on #12941
@loftiskg go for it!

[2019-11-02 18:38] amueller commented on #14364
@MZeej the convention for ``_`` in sklearn is not "lesser interest", it's "estimated from data", so all the important attributes have a trailing underscore.

[2019-11-02 18:39] trista-paul commented on #10733
Okay

[2019-11-02 18:46] LalliAcqua opened #15474 "Support for float32 in `KDTree` and `BallTree`"
#### Description
Relates to #7059 and #11000.

The conversion from float32 to float64 in Isomap leads to cython class BinaryTree

#### Steps/Code to Reproduce
Debug example:

[code]

The change of data type occurs in line 157 of isomap when calling function:

[code]

which leads to class KNeighborsMixin in _base.py, method kneighbors (line 531):

[code]

here, X is dtype float32, `chunked_results`

[2019-11-02 18:46] theoptips commented on #15358
@mdouriez and I will work on the GaussianNB one

[2019-11-02 18:47] kesshijordan commented on #15358
Working on BaseGradientBoosting for wimlds spring (pair programming @akeshavan)

[2019-11-02 18:49] abbiepopa commented on #15440
Submitted PR for KMeans: https://github.com/scikit-learn/scikit-learn/pull/15473

Now working on sklearn.ensemble.AdaBoostClassifier

[2019-11-02 18:49] theoptips commented on #12587
[WIP] Clarified with @amueller will working on it.

[2019-11-02 18:55] ritalulu commented on #15358
Working on BaseForest for wimlds sprint (pair programming @lakrish)

[2019-11-02 18:58] ltcguthrie commented on #10548
I will work on multiclass.py.

[2019-11-02 18:59] GaelVaroquaux commented on #15474
Good investigation job! You can explore if cython's fused type enable to solve this. If not, you'll have to resort to templates, but that's more work and less elegant.

Thanks for doing this!

[2019-11-02 19:04] harini-sridhar commented on #15426
@drajan and I are working on PLSCanonical, PLSRegression, PLSSVD, PatchExtractor, Pipeline, PowerTransformer, PredefinedSplit.

[2019-11-02 19:04] LalliAcqua commented on #15440
working on sklearn.svm._classes.py SVC and LinearSVC classes

[2019-11-02 19:08] g0g0gadget commented on #15440
I'm working on the Random Forest Classifier.

[2019-11-02 19:10] amueller commented on #15358
often the check is within a ``if sample_weights is not None:`` so we wouldn't need to add an argument

[2019-11-02 19:12] pwalchessen commented on #14312
Does it make sense to alphabetize all of the attributes as well? I think it would provide structure to the section and make the section easier to read.

[2019-11-02 19:12] amueller commented on #14312
@pwalchessen I agree, sounds like a good idea. As mentioned in person, I would also add that to the test.

[2019-11-02 19:15] louishuynh commented on #15440
I'm looking at neighbors.NearestNeighbors

[2019-11-02 19:19] gitsteph commented on #10733
Referencing the example from the linked issue's implementation #13902, which adds `as_frame` to `fetch_openml` -- it seems that these datasets at times have different formats that require custom handling.  For example the openml dataset has an ARFF file format, while the one I'm working on uses RST.

I agree that it'd be good to follow a standard and generalized naming convention and pattern, thou

[2019-11-02 19:22] natashaborders commented on #15426
Going to work on BaggingRegressor, BaseBagging, BaseCrossValidator, BaseDecisionTree, BaseDiscreteNB, BaseEnsemble, BaseForest, BaseGradientBoosting, BaseHistGradientBoosting, BaseLabelPropagation, BaseLibSVM, BaseLoss, BaseMixture, BaseNB, BaseRandomProjection, BaseSGD, BaseSVC, BaseSearchCV, BaseShuffleSplit, BaseSpectral, BaseWeightBoosting.

[2019-11-02 19:24] MZeej commented on #15426
@MZeej @EricaXia Going to work on:

 CheckingClassifier, ClassificationLossFunction, ClassificationLossFunction, ClassifierChain, ComplementNB, ConvergenceWarning, CountVectorizer

[2019-11-02 19:24] rth commented on #15474
Thanks @LalliAcqua !

It's a bit complicated than that in this particular case, see https://github.com/scikit-learn/scikit-learn/issues/7059 for earlier discussion on this topic.

 The neighbor trees code needs in depth refactoring in general. Some of it was started in https://github.com/scikit-learn/scikit-learn/pull/4217 a long time ago and part of that was applied more recently in https://githu

[2019-11-02 19:27] amueller commented on #10733
@gitsteph not sure I follow. I think for many of the cases (thought not for openml probably) we can use the existing bunch to create a dataframe. The bunch has numpy arrays and standardized ways to name features.

[2019-11-02 19:40] gitsteph commented on #10733
@amueller it seems cleaner to create the frame before the bunch, and add it to the bunch as I do in PR #15486 -- and more consistent with what happens in the existing merged example for openml.

Though I'm open to revising what I have there already, especially if you're already noticing that most cases can use the same method/are often in the same formats.

[2019-11-02 19:47] amueller commented on #10733
Just an FYI for everybody: the decision was to include the target into the dataframe.

[2019-11-02 19:47] rebekahkim opened #15488 "MultiOutputClassifier has predict_proba attribute for base classifiers without predict_proba"
#### Description
`MultiOutputClassifier` has `predict_proba` attribute when even when base classifier does not have `predict_proba`.

Improvement from PR #12222

#### Steps/Code to Reproduce

[code]

#### Expected Results
`hasattr(multi_target_linear, "predict_proba") ` returns `False` before fit and `ValueError` after fit.

#### Actual Results
`hasattr(multi_target_linear, "predict_proba") ` retu

[2019-11-02 20:16] MZeej commented on #15426
Please see ongoing list of items which versioning is being added during the WiMLDS sprint:

https://tinyurl.com/y57jsvbg

I think we should merge all our changes into one branch and submit a single PR to the reviewers from the account of someone who can commit to addressing any comments the reviewers have.

[2019-11-02 20:20] amueller commented on #14781
@MZeej I don't think so, can you double check? There was no fixed merged, right?

Looks like it's still there on master:
[code]

[2019-11-02 20:27] MZeej commented on #15426
Claiming MultinomialNB

[2019-11-02 20:29] TomDLT commented on #15464
Cannot reproduce on my machine:
[code]

[2019-11-02 20:37] salliewalecka commented on #15358
@fbchow and I will move onto DummyClassifier.

[2019-11-02 20:47] wconnell commented on #10733
It seems to me that each dataset loader massages the data into an appropriate format for a data bunch...a simple function to return a dataframe from this structure is trivial

[2019-11-02 20:52] lakrish commented on #14124
Picking this up during the scikit-learn WiMLDS Bay Area Sprint.

[2019-11-02 20:53] theoptips commented on #4143
Added transform y section to faq.rst Issue #12587  Discussion and Fix #15484

[2019-11-02 20:57] rsanjabi commented on #15440
RandomForestClassifier feature_importances_ is creating an error in the test_docstrings script:

We are no longer working on this estimator.

[2019-11-02 20:58] hailey0huong commented on #15440
I ran this command `python maint_tools/test_docstrings.py sklearn.feature_extraction.text.TfidfVectorizer.fit` and received this error " - YD01: No Yields section found" but this function does not need a `yield`. Is it a bug for the test code?

[2019-11-02 21:00] EricaXia commented on #15426
Working on DataConversionWarning, DataDimensionalityWarning, DictVectorizer , DummyRegressor

[2019-11-02 21:01] reganconnell commented on #10733
[code]

So add the following code into the dataset loaders, not including image datasets:

[code]

This doesn't include metadata for feature_names or DESCR in the final dataframe.

[2019-11-02 21:01] theoptips commented on #15358
[WIP] Working on DummyRegressor

[2019-11-02 21:04] amueller commented on #10733
the ``target_names`` are names of the categories in classification, not different columns, right?

[2019-11-02 21:06] natashaborders commented on #15426
LocalOutlierFactor

[2019-11-02 21:07] wconnell commented on #10733
Yes, except for the [linnerud datatset](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_linnerud.html#sklearn.datasets.load_linnerud) which is for multiple multivariate regression. There are 3 target columns which are named under `target_names`.

[2019-11-02 21:07] gitsteph commented on #10733
🤔 Hmm... I think I might be a bit confused.
Are we _only_ returning the dataframe, or a Bunch containing the frame if `as_frame=True` (as you see in the merged OpenML example)?  I implemented it to be the latter, for consistency with that other merged example.

[2019-11-02 21:09] amueller commented on #14559
@thomasjpfan do you remember someone (you? sprint?) working on this? I have some vague memories.

[2019-11-02 21:10] jnothman commented on #15439
It looks like it is inclining towards detecting a separate cluster around the origin.... I'm not sure but scaling your data might help for rbf kernel

[2019-11-02 21:11] gitsteph commented on #10733
That's what I meant by saying it was confusing to me that we'd convert `bunch_to_dataframe`.  The way I've implemented it in the above PR, when `as_frame=True`, I provide `data` and `target` as pandas objects (instead of np arrays) and also provide a `frame` that isn't None, all wrapped in a returned `bunch`.

[2019-11-02 21:12] amueller commented on #10733
@wconnell yeah that sounds about right.

@gitsteph yes we should return a bunch containing a dataframe I think.

[2019-11-02 21:13] natashaborders commented on #15426
QuantileTransformer

[2019-11-02 21:15] amueller commented on #10733
linnerud probably needs it's own thing, but most of the rest should be able to share a function.

[2019-11-02 21:18] natashaborders commented on #15426
ClassifierChain

[2019-11-02 21:23] jnothman commented on #12542
Fixed in #13806

[2019-11-02 21:24] EricaXia commented on #15426
Hi Natasha, see above ^ we have worked on ClassifierChain. Thank you!

[2019-11-02 21:27] natashaborders commented on #15426
I'm so sorry! I was in the version 0.19 changelog and they had a list of new classes so I went through them all and didn't see the comment. Apologies!

[2019-11-02 21:28] jnothman commented on #14094
I meant a temporary parameter. in the class I suppose. Not exactly elegant.
But yet, need to confirm if it will solve the issue.

[2019-11-02 21:29] alekslovesdata commented on #15426
Happy to volunteer if no one else has. I have the ongoing pull request open and have been adding to it.

https://github.com/alekslovesdata/scikit-learn/tree/adding_version

[2019-11-02 21:31] poorna-kumar commented on #15440
Running into a linter issue with `SGDClassifier.loss_functions` like so:

[code]

[2019-11-02 21:38] ritalulu commented on #15358
Working on the isotonic_regression one

[2019-11-02 21:38] kesshijordan commented on #14472
Working on this for the wmlds scikit learn sprint (pair programming with @akeshavan)

[2019-11-02 21:39] EricaXia commented on #15426
@alekslovesdata I submitted a pull request to your repo to merge our changes. Thanks!

[2019-11-02 21:46] alekslovesdata commented on #15426
Just merged it!

[2019-11-02 21:49] MDouriez commented on #11993
The title indicates that the request for the sample size is at the node level but comments lean towards the tree level.
If at a tree-level, it seems that https://github.com/scikit-learn/scikit-learn/pull/14682 resolved the issue no? It introduced a `max_samples`parameter: `If bootstrap is True, the number of samples to draw from X to train each base estimator.`

[2019-11-02 21:50] skubatur commented on #8967
The following code reproduces the issue:
# ElasticNet
from sklearn import linear_model
from sklearn.datasets import fetch_california_housing
from sklearn.utils import shuffle
import numpy as np

data = fetch_california_housing()
X = data.data
y = np.concatenate([data.target.reshape(data.target.shape[0], 1), data.target.reshape(data.target.shape[0], 1)], axis = 1)
clf1 = linear_model.MultiTaskElast

[2019-11-02 21:51] abbiepopa commented on #15440
I will work on sklearn.cluster.Birch

[2019-11-02 21:54] jph00 commented on #11993
Yes thanks @MDouriez that does resolve the issue at tree level! A node-level option would also be very helpful though... :)

[2019-11-02 21:55] #13045 closed

[2019-11-02 21:58] lakrish commented on #15464
Just updated numpy and Cython, still get the error.
[code]

Could this be a Clang vs GCC issue? Also, see some strangeness reported with Spectral Clustering in this issue  https://github.com/scikit-learn/scikit-learn/issues/15439

[2019-11-02 22:03] sam-dixon commented on #12031
I just submitted #15503 which does something similar to what @Jwink3101 suggested. If `nu == np.inf`, the kernel and gradient are computed just as they would be in the RBF kernel.

Not sure if it's better to handle this issue in this way or to just change the docs, but this seems like a fairly straightforward solution to me.

[2019-11-02 22:06] amueller commented on #10733
#15486 has a good helper

[2019-11-02 22:07] mina1987 commented on #11579
I am trying to understand this issue. The purpose is to store doc to token mapping to be used by possibly next similar documents, right?

[2019-11-02 22:12] sam-dixon commented on #15440
Picking up `RandomForestClassifier` (and probably `RandomForestRegressor` while I'm at it).

[2019-11-02 22:12] rsanjabi commented on #15440
Working on OPTICS

[2019-11-02 22:12] salliewalecka commented on #15358
Picking up KernelDensity with @fbchow

[2019-11-02 22:13] amueller commented on #14781
@thomasjpfan can you remind me why these were closed without getting merged? The deprecation still seems reasonable and necessary.

[2019-11-02 22:24] amueller commented on #14312
These seem still open and kinda obvious:
[code]
and a bunch more...

[2019-11-02 22:31] axiezai commented on #10863
I think `covariances_` already returns the actual covariance matrix:

running the current example and then calling `estimators['full'].covariances_` outputs:
[code]
Maybe I'm still misunderstanding the issue, do we want to change `covariances_` to store the internal representation? And then add `get_covar` to replace the current `covariances_`?

[2019-11-02 22:36] amueller commented on #10863
well if it's ``'full'`` it contains the covariance matrices, otherwise it doesn't.

There's two parts of the issue:
a) make the example nicer/easier
b) potentially add a method to get the covariance matrix.

[2019-11-02 22:52] amueller commented on #12542
I think the *SearchCV are still missing, right?

[2019-11-02 23:11] thomasjpfan commented on #15426
Do we need a policy regarding really old version? I do not know if `versionadded: 0.5` is helpful.

[2019-11-02 23:28] salliewalecka commented on #15358
In case people are wondering the ones left up for grabs are

CalibratedClassifierCV
KernelRidge
BaseDiscreteNB

[2019-11-02 23:51] MDouriez commented on #15358
I took care of CalibratedClassifierCV (https://github.com/scikit-learn/scikit-learn/pull/15491) and KernelDensity (https://github.com/scikit-learn/scikit-learn/pull/15493) already:

[2019-11-03 00:03] amueller commented on #8967
Thanks @skubatur that looks like reproducing a significant change. So maybe let's add a message to the docs. Alternatively we could shuffle the data, but I'm not sure if it's worth it. @agramfort thoughts?

[2019-11-03 00:23] salliewalecka commented on #15358
@MDouriez  Ooops sorry was just looking through the comments and didn’t see the PRs

[2019-11-03 00:38] louishuynh opened #15523 "Remove unnecessary **kwargs parameter from NearestNeighbors constructor."
#### Description
As part of updating documentation for #15489 it appears NearestNeighbors constructor contains all parameters of NeighborsBase and also has an unnecessarily **kwargs being passed through.

[code]

[2019-11-03 01:11] amueller commented on #8967
Oh, this is probably not to related to the solver at all, it's just related to cross-validation. I can't remember/find the issue right now but that was an issue why none of the CV estimators can be sample order invariant.

[2019-11-03 01:11] GregoryMorse commented on #15388
Just for fun, I provide the best solution I could find for packed byte confusion matrices even though I understand such a format is not currently properly supported by numpy where such a change would need to start.  First approach is similar to bincount but uses vectorized bit twiddling to achieve it, and the other approach uses 3 vectorized bit sums and a bitwise AND operation.  I am thinking to

[2019-11-03 04:37] cai-lw opened #15527 "dump_svmlight_file is slow and not Cython-optimized"
### Description
I use `dump_svmlight_file` frequently to send large amount of preprocessed and transformed training data to a third-party machine learning program. Its inefficiency has become the bottleneck of the pipeline.

After a quick look at the source code, I found that `load_svmlight_file` is [optimized with Cython](sklearn/datasets/_svmlight_format_fast.pyx) while `dump_svmlight_file` is [

[2019-11-03 05:57] jnothman commented on #11579
Yes it move help with repeated content, but more likely when it is fitting
or transforming the data across multiple cross validation folds. Hence the
need for the cache to be maintained when the estimator is cloned.

[2019-11-03 06:06] agramfort commented on #8967
Yes I doubt it’s the silver. It’s just the folds that are ordered. Use a cv based on many shuffled splits and it will stop depending on the order

[2019-11-03 06:21] mina1987 commented on #11579
How about having the cache as input/output of fit transform vectorizer?

[2019-11-03 13:08] Ryan4Reed commented on #9953
Hi @hristog, has any progress been made in implementing the scatter separability criterion u mentioned above in 2017?

[2019-11-03 16:14] loftiskg commented on #8967
@agramfort @amueller  Here is an example adapting @skubatur code without the use of the CV version.
[code]
And the output of the shuffled and non-shuffled data are pretty much the same as suggested.

[2019-11-03 16:54] cai-lw commented on #15527
This doesn't seem very complicated. I am willing to write this my self. But I just want to double check whether this is feasible and/or tried before.

[2019-11-03 17:23] jigna-panchal commented on #14312
Updated list of outstanding attributes that need to be added.

- [ ] BayesianGaussianMixture
    - [x] mean_precision_prior
    - [ ] mean_precision_prior_
- [ ] BayesianRidge
    - [ ] X_offset_
    - [ ] X_scale_
- [ ] BernoulliNB
    - [ ] coef_ array
    - [ ] intercept_
- [ ] Birch
    - [ ] fit_
    - [ ] partial_fit_
- [ ] CCA
    - [ ] coef_ array, shape (1, n_features) or (n_classes, n_fe

[2019-11-03 17:35] agramfort commented on #8967
Let’s close then.

[2019-11-03 19:01] rth commented on #15523
Thanks @louishuynh, yes sounds like a bug. At least removing them doesn't make any unit tests fail. Also there are already `metric_params` for arbitrary kwargs passed to the metric.

I think it may be OK to remove them without a deprecation warning as, anyway currently non empty `kwargs` would produce an error, since `NeighborsBase` would reject them.

Would you be interested in making a PR? If yo

[2019-11-03 19:05] #15440 closed

[2019-11-03 20:40] mjbommar commented on #14376
In the 5 years since I first proposed this in https://github.com/scikit-learn/scikit-learn/issues/3202, this question has come up at least 50 times in conversations teaching or applying.  @saninstein , did you make a decision about whether to push for inclusion here or -contrib?  I would love to help if there is anything you need assistance with to get this over the line (somewhere).

[2019-11-03 22:08] rth commented on #15523
Nevermind, I see you already made a PR..

[2019-11-03 22:59] rth commented on #9926
Closing as I think this is superseded by `_check_sample_weight` (https://github.com/scikit-learn/scikit-learn/issues/15358) that does more general checks than `check_consistent_lengths` (and there have been a number of PR on that lately).

[2019-11-03 23:13] rth opened #15531 "Enforce positive sample weight"
As discussed in https://github.com/scikit-learn/scikit-learn/issues/12464#issuecomment-433815773 and https://github.com/scikit-learn/scikit-learn/issues/15358#issuecomment-549048650 in some specific use-cases negative `sample_weight` may be meaningful, however in most cases they should never happen.

So we may want to
 - add `force_positive=None` parameter to `_check_sample_weights`.
 - add a `ass

[2019-11-04 02:46] wconnell commented on #10733
Waiting for #15486 to merge so I can apply this function to the builitin data loaders. Although I am curious if there is a good way to work with the new code from this PR locally so I can begin without this being officially merged? Would I have to clone @gitsteph branch and then set upstream? Or is this a bad idea and patience a better virtue in this case?

[2019-11-04 07:04] jnothman commented on #11579
I'm not sure what you mean. A pull request or code snippet would make your
proposal more concrete

[2019-11-04 07:11] jnothman commented on #15527
Do you have a use case where this needs to be an order of magnitude faster?
I mean there are serialisation formats that are designed for writing
efficiency, but this is not one of them, so I don't see why spending a
second on a matrix with 100k elements is surprising or problematic...

[2019-11-04 07:12] #8967 closed

[2019-11-04 09:08] #15415 closed

[2019-11-04 09:36] jnothman commented on #15531
The global config is an interesting approach. Seems reasonable to me at
first glance

[2019-11-04 09:40] rth commented on #14057
I think the following common tests should run for any `X_types`:

[code]

[2019-11-04 12:58] lorentzenchr commented on #15531
I think, zero should always be allowed as a valid value for sample weights, but sum(sw) > 0 should hold.

For our dear hep friends, who want negative sw, often in linear models, they are implemented via scaling X and y by sqrt(sw). This makes supporting negative values difficult.

[2019-11-04 14:00] NicolasHug commented on #15531
I like the config, but do we currently have a need for the first parameter? If we don't, maybe it's not worth implementing it (now).

Also, erroring by default on negative sw would technically be a backward incompatible change, though we may disguise it as a bug fix

[2019-11-04 14:48] dabana commented on #4143
Quoting @jnothman from #15484:

My team and I have build such a meta-estimator for our application. But one problem remained: **how can we use Scikit-learn's cross-validation tooling (GridCVSearch, etc...) on this estimator?** Indeed, Scikit-learn's conventional evaluation metrics does not do the trick. Here are the two main concerns we had:

1. Evaluating estimators that transform `y` WITHOUT app

[2019-11-04 14:48] #15410 closed

[2019-11-04 14:54] NicolasHug commented on #15381
You mean you want all the CIs to fail? I like that we just have 2 of them checking the warnings. If they're the only ones failing which happens quite often, you know the fix is simple.

[2019-11-04 15:00] glemaitre commented on #15531
It would depend on the estimator. Some estimator should support negative sample weights and some others are currently erroring or should error (as SVM which was failing to validate the weights). We should probably have a common test and a specific tag that could indicate whether or not an estimator is supporting negative weights or not.

This said I am not against being able to activate/deactivate

[2019-11-04 15:02] adrinjalali commented on #15381
I don't mind if not all of them fail. Ideally the all would, since some warnings may be present only under certain circumstances, but don't mind.

I opened the issue because we have seen cases where the CI simply doesn't fail even when those warnings are there, as in, none of them fails.

[2019-11-04 15:08] glemaitre commented on #15474
@Thanks @LalliAcqua, at least we know where to start from :)

Since this is a Cython class, we will not be able to use the fused types so we would need to go for the tempita solution.

[2019-11-04 16:08] #14472 closed

[2019-11-04 16:28] adrinjalali commented on #15531
If an there are estimators which support negative sample weight, then it should be an estimator tag, and not a global config. @glemaitre which ones logically support a negative sample weight now?

[2019-11-04 16:35] NicolasHug commented on #15531
I think the config still makes sense since negative sample weights don't make sense in the vast majority of applications. You really want to know what you're doing when using negative SW.

Whether estimators can support them is another thing, independent of the application.

[2019-11-04 16:39] adrinjalali commented on #15531
Another issue with the global config is that `assume_positive_sample_weights=False` kinda implies that negative sample weights are okay and we support them, but we don't.

[2019-11-04 16:43] rth commented on #15531
It's the same idea as the `assume_finite` global config parameter. That only removes one check, it does not add any expectation that models would work with infinite input there (or negative sample weights here).

[2019-11-04 16:47] rth commented on #15531
See https://github.com/scikit-learn/scikit-learn/issues/3774#issuecomment-95693810 for more context.

This issue is really about adding checks that would benefit the vast majority of users, while avoiding breaking existing functionality for a small faction of users in HEP.

We definitely don't want support for negative sample weights in more models (unless someone has a very compelling argument fo

[2019-11-04 17:36] adrinjalali commented on #6616
How much of this is left @NicolasHug ? Mostly done I guess?

[2019-11-04 18:13] NicolasHug commented on #6616
See comment just above

[2019-11-04 18:14] adrinjalali commented on #6616
I did, it was cryptic and I didn't understand it :P

[2019-11-04 18:43] NicolasHug commented on #6616
It refers to https://github.com/scikit-learn/scikit-learn/issues/6616#issuecomment-516479413

[2019-11-04 19:41] SamDuan commented on #9341
Just wonder if there is any update on this?
I was trying to use KBinsDiscretizer on data containing NaNs, and NaNs can be placed into their own bucket.

[2019-11-04 21:44] jnothman commented on #9341
Nothing merged yet, unfortunately. Help with the open work is welcome, thanks @SamDuan

[2019-11-04 21:55] SamDuan commented on #9341
I see. Let me look into it.

[2019-11-04 22:24] NicolasHug commented on #9341
This is actually already implemented but in the private ensemble/hist_gradient_boosting/binning API.

We could think of some ways to unify both classes

[2019-11-04 22:50] jnothman commented on #9341
I don't think it's hard to implement here, but I think it has been waiting
on OHE supporting nan.

[2019-11-05 00:34] #10821 closed

[2019-11-05 00:34] #10985 closed

[2019-11-05 00:44] jnothman commented on #15384
Fixed by #15398

[2019-11-05 00:44] #15384 closed

[2019-11-05 01:43] amueller opened #15534 "regression in input validation of clustering metrics"
[code]
ValueError: could not convert string to float: 'b'

while
[code]
works with a warning?

this worked in 0.21.1 without a warning (as I think it should)

Edit by @ogrisel: I removed the `.astype(object)` in the second code snippet.

[2019-11-05 01:57] amueller commented on #15534
broke in #10830

[2019-11-05 02:42] tbenst opened #15536 "Tests fail when building with MKL"
#### Description
When I try to build scikit-learn on NixOS with numpy/scipy compiled with MKL, the build succeeds but tests fail:

[code]

#### Steps/Code to Reproduce
Using nix, can reproduce with:
[code]
full output: https://gist.github.com/tbenst/f32351229c0330edf3aefa003e6c1053

Thanks for any tips / pointers!

#### Versions
python: 3.7.5
scikit-learn: 0.21.2
numpy: 1.17.3
scipy: 1.3.1

[2019-11-05 03:18] jnothman commented on #15536
I think this is a duplicate of #12676, which has been resolved. Could you please check if this is resolved when you install the nightly build, and close this issue?

[2019-11-05 03:31] tbenst commented on #15536
@jnothman great thanks for the tip! Do you know if #14460 made it into 0.21.3?

[2019-11-05 04:49] tbenst commented on #15536
can confirm 0.21.3 resolves this issue. Thanks!

https://github.com/NixOS/nixpkgs/pull/72817

[2019-11-05 04:49] #15536 closed

[2019-11-05 10:05] #15523 closed

[2019-11-05 13:54] TwsThomas opened #15541 "Matplotlib rendering issues on rendering problem on the confusion matrix example"
There is a problem on the master branch, visible on:
https://scikit-learn.org/dev/auto_examples/model_selection/plot_confusion_matrix.html
![image](https://user-images.githubusercontent.com/9698757/68213534-0dbeb200-ffdc-11e9-8842-99e78ed69396.png)

Note that on the stable documentation, the rendering is ok:
https://scikit-learn.org/stable/auto_examples/model_selection/plot_confusion_matrix.html
!

[2019-11-05 13:54] jeremiedbb commented on #15443
@LalliAcqua can you show us the build log in a [gist](https://help.github.com/en/github/writing-on-github/creating-gists) ?

Here's the command to build and dump the log in a file that you can include in the gist:
``pip install -v -e . &> log.txt``

[2019-11-05 14:05] jeremiedbb commented on #15443
After that you can try the following.

It's possible that you need the command line tools:
``xcode-select --install``

Then try to rebuild using the same instructions.

[2019-11-05 14:22] #12303 closed

[2019-11-05 17:09] DanilZherebtsov opened #15542 "How can one disable printing the parameters combinations during RandomizedSearchCV?"
#### Description

When RandomizedSearchCV runs for a long time (on a big dataset), regardless of the verbose settings the console prints the parameters combinations that I don't want to see in the console while the code executes.

This does not happen on the small datasets when the RandomizedSearchCV is executing within a reasonable amount of time (<15 minutes)!

#### Steps/Code to Reproduce

'''U

[2019-11-05 18:07] amueller commented on #15542
change the verbose option to a lower number.

[2019-11-05 18:07] #15542 closed

[2019-11-05 18:08] amueller commented on #15541
thanks for reporting. Do you want to try a fix?
#15083 might also solve this (cc @thomasjpfan)

[2019-11-05 18:11] amueller commented on #15368
Readability can be greatly improved if you [format](https://help.github.com/articles/creating-and-highlighting-code-blocks/) your code snippets and complete error messages appropriately. For example:

[code]
generates:
[code]
And:

[code]
generates:
[code]
You can edit your issue descriptions and comments at any time to improve readability. This helps maintainers a lot. Thanks!

Please provide [se

[2019-11-05 18:11] amueller commented on #15408
Why do you think it's not useful?

[2019-11-05 18:15] amueller commented on #4685
I think we can close this for now. This helps for object and string stuff I think.