[2022-08-02 19:00] #24080 closed

[2022-08-02 20:28] tathey1 opened #24086 "Add other connectivity definitions to grid_to_graph function"
### Describe the workflow you want to enable

The current grid_to_graph function only defines voxel neighbors with the 6-connectivity definition. I would like to add 18 and 26 connectivity. (https://en.wikipedia.org/wiki/Pixel_connectivity#26-connected)

### Describe your proposed solution

I already made a [PR](https://github.com/scikit-learn/scikit-learn/pull/16405#event-7047878910) that address

[2022-08-02 20:36] thomasjpfan commented on #24086
Thank you for opening this issue. The `feature_extraction.image` module is one of the least maintained modules in scikit-learn. The module was added ~11 years ago and mostly remain unchanged.

For me, I prefer not to add more features to the `feature_extraction.image` module. That being said, I am open to seeing what other maintainers think.

[2022-08-03 06:06] amanmdesai commented on #24078
Thanks @MaxwellLZH

[2022-08-03 12:45] Vincent-Maladiere commented on #23462
Working on
[code]

[2022-08-03 13:22] rprkh commented on #23462
Hey @Vincent-Maladiere I had made a PR #24033 for `Lars` and `LarsCV`, which was later expanded to include `LassoLars`, `LassoLarsCV` and `LassoLarsIC`.

[2022-08-03 16:49] anandhakrishnanaji commented on #24037
@glemaitre, can you take a look at this PR?

[2022-08-03 17:08] Olle-Lukowski commented on #23462
Working on `CalibratedClassifierCV`

[2022-08-03 19:05] jonathan-taylor commented on #22836
Not sure why it should raise a warning. Coordinate descent works fine on this problem (it's strongly convex). Also, the issue raises a huge number of warnings in the `ElasticNet.path`. For a single value, sure `RidgeRegression` is fine.

[2022-08-03 21:07] ThomasBourgeois opened #24102 "Pb in example for spectral coclustering"
I think there is a missing final transposition missing in the example demo for spectral coclustering here :
https://scikit-learn.org/stable/auto_examples/bicluster/plot_spectral_coclustering.html

It should be :

[code]

[2022-08-03 21:38] thomasjpfan commented on #24102
I think the current representation correct as is. The cluster labels found by `SpectralCoclustering` does not necessary match the order of the original clusters.

One way to see that the transpose is not needed is to break the symmetry when generating the biclusters:

[code]

In this case, the first figure that shows the data has width 500 and the last figure with the clusters found by coclusterin

[2022-08-03 21:38] #24102 closed

[2022-08-03 21:48] ThomasBourgeois commented on #24102
Sorry, but with a score of 1.00, the final figure of the example should be exactly the same as before the shuffling. And that is what would happen *with* the transpose. I don't get your example. I'm talking about that specific example I'm mentioning in the the link.

[2022-08-03 21:58] thomasjpfan commented on #24102
If I adjust the example with 500 columns and use the suggested transpose:

[code]

Figure 1:

![Figure_1](https://user-images.githubusercontent.com/5402633/182719672-e7c7972c-16aa-4d2e-86cb-70efd17ba994.png)

I get Figure 3:

![Figure_3](https://user-images.githubusercontent.com/5402633/182719643-d0ebaa8e-2905-47f3-ad8a-e4719f09ebe1.png)

Flipping the axis on the last figure does not match the fir

[2022-08-03 22:16] thomasjpfan commented on #24102
With the code in `main`, here is what I think the mapping is between Figure 1 and Figure 3:

![Screen Shot 2022-08-03 at 6 07 21 PM](https://user-images.githubusercontent.com/5402633/182721350-642333f7-2739-421d-9481-567c4d0fa204.jpg)

Note that the `consensus_score` is computed against the shuffled data and the biclusters, which was also trained on the shuffled data. I do not see now `SpectralCoc

[2022-08-04 04:04] lucyleeow commented on #13533
@thomasjpfan maybe this could be closed now too (now that https://github.com/scikit-learn/scikit-learn/pull/13660 is closed)

[2022-08-04 04:52] scikit-learn-bot opened #24105 "⚠️ CI failed on Wheel builder ⚠️"
**CI is still failing on [Wheel builder](https://github.com/scikit-learn/scikit-learn/actions/runs/2801198918)** (Aug 05, 2022)

[2022-08-04 06:55] jjerphan commented on #23653
For reference, [some relevant discussions on the Scientific Python Discuss Forum regarding sparse arrays status and future directions](https://discuss.scientific-python.org/t/scientific-python-and-sparse-arrays-scipy-summary-future-directions/368).

[2022-08-04 08:39] ThomasBourgeois commented on #24102
Hey thanks for the very clean explanation, I get it now.
Maybe we could use a word about that shuffled order in the labels in the text of the example.

[2022-08-04 08:59] cottrell opened #24107 "Gaussian Process regression get_params set_params does not yield same predictor?"
### Describe the bug

This is on version 1.1.1

I *think* the example below is the correct way of setting GPR params saved from a previous .fit() tuning via the optimizer. Reading through the code I don't yet understand why the parameters `self.L_` and `self.alpha_` are not being updated but maybe am missing something in my reading.

See below for the example. Everything passes except the last lin

[2022-08-04 11:26] Olle-Lukowski commented on #23462
Working on `ClassifierChain`

[2022-08-04 12:38] OBgoneSouth opened #24113 "Installation fails on MacOS 10.11 El Capitan with Python 3.10"
### Describe the bug

There is a **scikit_learn-1.1.1-cp310-cp310-macosx_10_13_x86_64.whl** Wheel available on PyPi, but nothing compatible with earlier versions of MacOS running Python 3.10

As a result, pip attempts to compile from source. This fails as below.

Numpy and SciPy are already installed.

[code]

### Steps/Code to Reproduce

[code]

### Expected Results

Something like

`Downloading

[2022-08-04 13:52] thomasjpfan commented on #24105
For the failing test `SpectralEmbedding()-check_pipeline_consistency`, it looks like the columns are flipped:

[code]

[2022-08-04 14:19] jjerphan commented on #12167
@jnothman: should we reintroduce LGTM in PR checks?

[2022-08-04 18:31] thomasjpfan commented on #12167
LGTM.com checks are already in the PR checks: https://github.com/scikit-learn/scikit-learn/pull/24051/checks under: "LGTM.com".

The LGTM.com check breaks CI from time to time because of C++ analysis and the way it needs the base branch to build correctly. For example, https://github.com/scikit-learn/scikit-learn/pull/23493 fixes C++ analysis, but LGTM.com fails because the `main` branch does not

[2022-08-04 22:15] kasmith11 commented on #24085
I can work on this if still available.

[2022-08-05 00:06] Micky774 commented on #24085
Seems like a simple fix. Note that a similar change was made in PR #23034, addressing an error reported in #23032.

[2022-08-05 07:10] #23830 closed

[2022-08-05 07:10] #24113 closed

[2022-08-05 07:11] #24082 closed

[2022-08-05 10:28] glemaitre commented on #24105
Uhm. Could we have a non-deterministic change of components or something like that.

[2022-08-05 12:12] giedriusblazys commented on #11893
`TimeSeriesSplit.split()` is a perfectly valid split case with `n_splits=1`. Why is this not supported and requires to perform workarounds when `n_splits=1`?

[2022-08-05 12:59] PerformanceDetect opened #24124 "RandomForestClassifier RAM memory increase on newer versions"
### Describe the bug

I tested the performance of my program on different sklearn versions. I found that the program uses more memory when sklearn is on the latest version compared to older versions.
[code]
By the way, there is no effect on the evaluation of program execution time and output results.

### Steps/Code to Reproduce

[train.zip](https://github.com/scikit-learn/scikit-learn/files/92688

[2022-08-05 13:45] #23390 closed

[2022-08-05 14:27] #16845 closed

[2022-08-05 18:36] #13533 closed

[2022-08-05 18:44] HomeBoyReady opened #24127 "The documentation search is broken."
### Describe the issue linked to the documentation

When searching for methods, it gives an empty page in response to any request

### Suggest a potential alternative/fix

_No response_

[2022-08-05 20:50] thomasjpfan commented on #24127
Thank you for the bug report. I am working on a fix in #24128.

[2022-08-06 02:54] scikit-learn-bot opened #24131 "⚠️ CI failed on Linux.ubuntu_atlas ⚠️"
**CI is still failing on [Linux.ubuntu_atlas](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=46059&view=logs&j=0a287ed6-22f4-5cb4-88b1-d5fcdc4d8b7e)** (Aug 30, 2022)
- Test Collection Failure

[2022-08-06 04:34] #24105 closed

[2022-08-06 07:41] glevv opened #24133 "Add Hannan-Quinn IC to LassoLarsIC"
### Describe the workflow you want to enable

Hannan–Quinn information criterion was originally described to be an alternative model selection criterion for autoregressive models, but it could be used in other cases too. Unlike AIC it also penalizes model's number of parameters, but unlike BIC it imposes a smaller penalty on complex models in large samples, which is beneficial when working with la

[2022-08-06 09:24] lorentzenchr commented on #16641
#20567 and #22548 resolve this issue.

[2022-08-06 09:24] #16641 closed

[2022-08-06 09:43] lorentzenchr commented on #18159
Update: https://github.com/scikit-learn/scikit-learn/pull/24027 will solve this issue.

[2022-08-06 09:59] lorentzenchr commented on #10157
The current documentation at https://scikit-learn.org/stable/modules/model_evaluation.html#log-loss gives binary and multiclass formulae. It think the original question is answered.
I'll close. If there is still an issue with multi-label classification, I suggest to open a dedicated new issue.

[2022-08-06 09:59] #10157 closed

[2022-08-06 10:05] kshitijkapadni commented on #21350
Working on sklearn.svm._bounds.l1_min_c

[2022-08-06 11:00] rprkh commented on #21323
Working on this

[2022-08-06 11:03] lorentzenchr commented on #22755
Closing as discussion seems to have stopped. Also, I'm leaning towards -1 for inclusion.

[2022-08-06 11:03] #22755 closed

[2022-08-06 12:56] zachmayer commented on #18159
awesome!

[2022-08-06 16:22] MrinalTyagi commented on #23967
Would love to pick this up if no one is working on this.

[2022-08-06 16:24] MrinalTyagi commented on #23896
@MocktaiLEngineer Do let me know if you are working on this otherwise I would like to pick this up.

[2022-08-06 16:26] MocktaiLEngineer commented on #23896
@MrinalTyagi Please feel free to take over.

[2022-08-06 16:44] PerformanceDetect opened #24138 "sklearn.svm.SVR use more RAM memory on newer versions"
### Describe the bug

Hi, I've previously reported a bug that [RandomForestClassifier](https://github.com/scikit-learn/scikit-learn/issues/24124) consumes more memory on newer versions, and I've also noticed that the svm API also consumes more memory on newer versions. The detailed test information is as follows.
|Memory| Version|
|--|--|
|274MB|1.0.1|
|276MB|0.20.3|
|180MB|0.19.2|

### Steps/Code

[2022-08-06 17:26] stefmolin commented on #23462
`SelectFromModel` is blocked by https://github.com/scikit-learn/scikit-learn/pull/24048 &ndash; PRs open for the others. Working on `FeatureHasher`, `FunctionTransformer`, `HashingVectorizer`, `Isomap`, and `PolynomialFeatures`

[2022-08-07 01:01] replacementAI commented on #23967
@MrinalTyagi Do you think this would require a seperate estimator? Or could it be implemented in an existing one by specifying ```n_clusters='auto'```?

[2022-08-07 02:06] MrinalTyagi commented on #23967
Just adding auto as param in n_clusters would be a better option i feel considering the api structure of scikit learn

[2022-08-07 03:48] GLevV commented on #24138
Could be connected to #8361 and calculating `std` on entire dataset when `gamma=scale`. If true, I don't think there is anything that could be done

[2022-08-07 03:51] GLevV commented on #24124
Could be connected to addition of `max_samples` feature that generates several ints arrays on each iteration, but I'm not sure

[2022-08-07 04:22] Jalanjii commented on #12937
@LPugens Hi, I can't find @VinceFab DBCV implementation, do you still have it? I also couldn't find your Colab comparison notebook, do you still have it? I really need this if it's available.

[2022-08-07 07:23] glemaitre commented on #24138
I am not sure that this SVR that takes more memory since you are using a `BaggingClassifier`.
It would be better to have the smallest reproducible possible to investigate. And it would be interesting to split the `fit` and `predict` code.

[2022-08-07 07:25] glemaitre commented on #24138
You can have a look to the following to craft the minimal example: https://scikit-learn.org/dev/developers/minimal_reproducer.html

[2022-08-08 06:42] lesteve commented on #23823
The core reason is KMeans uses OpenMP, Python multiprocessing use fork (by default) and OpenMP (to be precise GNU OpenMP) is not fork-safe, see https://bisqwit.iki.fi/story/howto/openmp/#OpenmpAndFork or https://gcc.gnu.org/bugzilla/show_bug.cgi?id=52303 for more details.

A simpler snippet that reproduces the issue (you get a TimeoutError):
[code]

Possible work-arounds:
- use joblib loky backend

[2022-08-08 06:42] #23823 closed

[2022-08-08 09:30] #23904 closed

[2022-08-08 12:54] lesteve commented on #24131
Seems like a real issue for global_random_seed=20. On my Ubuntu 20.04 machine (making sure atlas is used by chosing atlas with `sudo update-alternatives --config libblas.so.3-x86_64-linux-gnu`) I get an error rather than a crash:

[code]

With an error like this:
[code]

Trying to debug a bit further the code in fastica https://github.com/scikit-learn/scikit-learn/blob/b571d64066dd13b6f9b5eae399c6

[2022-08-08 15:58] jjerphan commented on #24085
Hi @kshitijgoel007, thank you for reporting this.

Do you by change have a minimal reproducible example where this incorrect weighting cause problem?

[2022-08-09 04:59] #24127 closed

[2022-08-09 06:30] lucyleeow opened #24148 "DOC LeaveOneGroupOut description confusing"
### Describe the issue linked to the documentation

The description for [`LeaveOneGroupOut`](https://scikit-learn.org/stable/modules/cross_validation.html#leave-one-group-out) in the user guide:

the samples according to a third-party provided array of integer groups. This
group information can be used to encode arbitrary domain specific pre-defined
cross-validation folds.

and in the docstring:

[2022-08-09 13:56] vnmabus commented on #19649
I actually wanted a similar thing for k-NN when optimizing the value of k: one could search for the maximum number of neighbours and then eliminate them one after the other without having to refit anything.
Maybe it would be good to have some API that could be implemented by estimators to receive a set of parameter combinations and return a dict of cloned and fitted estimators for each (or some la

[2022-08-09 15:54] coolmian opened #24151 "joblib Object is not serializable"
### Describe the bug

When I add these code
[code]
And when used with joblib.dump or pickle.dump, an error will occur

### Steps/Code to Reproduce

[code]

### Expected Results

no error

### Actual Results

[code]

### Versions

[code]

[2022-08-09 16:15] Soham-West commented on #24151
Which file is this happening to?

[2022-08-09 16:18] adam2392 commented on #24000
In order to move #22754 along, and possibly get it into a state that can be easily refactored for a stand-alone scikit-learn-contrib package, just wanted to see if there was any consensus on this?

[2022-08-09 16:41] thomasjpfan commented on #24148
I agree the term "third party" is confusing here. I am in favor with your suggestion of using "domain specific groups"

[2022-08-09 19:06] yurivict opened #24154 "joblib and threadpoolctl dependencies are missing in setup.py and pyproject.toml"
### Describe the bug

README.rst lists them as dependencies, but they aren't in setup.py and pyproject.toml

### Steps/Code to Reproduce

n/a

### Expected Results

n/a

### Actual Results

n/a

### Versions

[code]

[2022-08-09 19:16] kanxu526 opened #24155 "LogisticRegression doesn't have an offset option"
### Describe the workflow you want to enable

Like in R, can we add an option of offset in sklearn so that we can fix the value of some coefficients for logistic regression?

For those who don't know offset, offset is defined as a fixed feature with coefficient being 1. Therefore, if $y=g(x\beta + z\alpha)$ and we want to choose some pre-determined value $\alpha_0$, we can just pass $z\alpha_0$ to

[2022-08-09 19:29] thomasjpfan commented on #24154
The dependencies are in `setup.py` through:

https://github.com/scikit-learn/scikit-learn/blob/f0cbdc15f5031f0595ffcc8f822e5318a2335349/setup.py#L276

which uses dynamically imports https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/_min_dependencies.py to get dependencies for install. Currently, `_min_dependencies` is the "single source of truth" for all our dependencies.

Strictly sp

[2022-08-09 19:40] yurivict commented on #24154
I am not familiar with dynamic imports of install_requires, but that's fine if this works.

Because ports should know what does the package depend on. For example, FreeBSD ports have RUN_DEPENDS line that has to be populated. If not from pyproject.toml, how can it be populated?

[2022-08-09 20:07] TomDLT commented on #19649
For k-NN, a workaround is to precompute the graph with the largest number of neighbors considered, and give the precomputed graph to a subsequent estimator. For example:
[code]
Then, the pipeline can be optimized with `GridSearchCV`, changing `n_neighbors` in `KNeighborsRegressor`, and using the caching option to save intermediate transforms in the pipeline:
[code]

[2022-08-09 21:47] thomasjpfan commented on #24154
Before `pyproject.toml` existed, I think most package managers list out the build and runtime dependencies themselves by looking at the `README`. For example, [ubuntu's APT](https://packages.ubuntu.com/jammy/python3-sklearn) lists out scikit-learn's dependencies themselves and [Arch linux](https://archlinux.pkgs.org/rolling/archlinux-community-aarch64/python-scikit-learn-1.1.1-1-aarch64.pkg.tar.xz

[2022-08-09 21:57] yurivict commented on #24154
No. setup.py had/has tags install_require, test_require, etc.

[2022-08-09 21:58] yurivict commented on #24154
This is a very uncommon behavior in scikit-learn. Most others list them in setup.py and pyproject.toml

[2022-08-09 22:07] cmarmo commented on #1614
This issue is quite old and BallTree and BinaryTree have been refactored since this was opened.
Is this issue still relevant? (perhaps @jjerphan might comment? Thanks)

[2022-08-09 22:09] thomasjpfan commented on #24154
scikit-learn already populates the dependencies in `setup.py` dynamically. When we build a wheel for PyPI, this metadata is injected into the wheel.

[2022-08-09 22:25] thomasjpfan commented on #24154
I do not think there has been a common standard to specify this information. In other libraries I have seen dependencies in `setup.cfg`, `setup.py`, `pyproject.toml`, and `requirements.txt` (and then dynamically loaded into `setup.py`).

That being said, I am in favor of moving dependencies and other information into `pyproject.toml`.

[2022-08-09 23:00] cmarmo commented on #5435
The following examples still display RGB - like colormap
- [ ] [Adjustment for chance in clustering performance evaluation](https://scikit-learn.org/dev/auto_examples/cluster/plot_adjusted_for_chance_measures.html#sphx-glr-auto-examples-cluster-plot-adjusted-for-chance-measures-py)
- [ ] [Demo of affinity propagation clustering algorithm](https://scikit-learn.org/dev/auto_examples/cluster/plot_aff

[2022-08-10 04:39] scikit-learn-bot opened #24160 "⚠️ CI failed on Wheel builder ⚠️"
**CI is still failing on [Wheel builder](https://github.com/scikit-learn/scikit-learn/actions/runs/2837268478)** (Aug 11, 2022)

[2022-08-10 05:45] jjerphan commented on #1614
Thank you for the heads-up, @cmarmo. Yes, this can be closed: the proposed changes have been implemented.

I should probably spend some time looking at the oldest issues related to Cython implementations.

[2022-08-10 05:45] #1614 closed

[2022-08-10 08:10] jjerphan commented on #24000
I would say that maintainers have not discussed and agreed in modularizing those implementations yet. Ideally, it should be modular, but I do not think that's on the agenda on any maintainer: it's not that we are against it, it's just that the few maintainers working on this part of the code-base are busy with other maintenance aspects.

If you want https://github.com/scikit-learn/scikit-learn/pul

[2022-08-10 09:34] fcharras commented on #21350
Working on sklearn.datasets._lfw.fetch_lfw_people

[2022-08-10 09:50] fcharras commented on #21350
Working on sklearn.datasets._species_distributions.fetch_species_distributions

[2022-08-10 09:52] fcharras commented on #21350
Working on sklearn.datasets._svmlight_format_io.load_svmlight_file

[2022-08-10 10:00] ArturoAmorQ commented on #5435
I am currently working on the [Adjustment for chance in clustering performance evaluation](https://scikit-learn.org/dev/auto_examples/cluster/plot_adjusted_for_chance_measures.html#sphx-glr-auto-examples-cluster-plot-adjusted-for-chance-measures-py) in https://github.com/scikit-learn/scikit-learn/pull/23708. It would be natural to make the modifications there.

I use the default `matplotlib` color

[2022-08-10 11:44] fcharras commented on #21350
Working on sklearn.datasets._svmlight_format_io.load_svmlight_files

[2022-08-10 16:10] crcastillo commented on #17390
@cakemountain I've found cloudpickle (>=2.0.0) addresses your use case. You just need the additional function cloudpickle.register_pickle_by_value().

`from cloudpickle import dump
from processing import vectorizer

cloudpickle.register_pickle_by_value(processing)
with open("vectorizer.pkl", "wb") as pkl_file:
        dump(vectorizer, pkl_file)`

[2022-08-10 17:17] #8166 closed

[2022-08-10 18:18] cmarmo commented on #5435
... not really... :) ... sorry ... but you might want to have a look to #5555, it contains some examples of acceptable colormaps.

[2022-08-10 19:44] thomasjpfan commented on #24151
I recommend opening an issue in https://github.com/intel/scikit-learn-intelex, because the issue only happens when `sklearnex` patches `scikit-learn`. With that in mind, I am closing this issue because it is not actionable in this repository.

[2022-08-10 19:44] #24151 closed

[2022-08-11 02:15] coolmian commented on #24151
OK. Thank you for your advice

[2022-08-11 08:32] PGijsbers commented on #15828
Just leaving a message that I ran into this on MacOS, [this StackOverflow thread](https://stackoverflow.com/questions/27835619/urllib-and-ssl-certificate-verify-failed-error) describes why it is happening and how to fix it. After running `/Applications/Python\ 3.10/Install\ Certificates.command` my problem was resolved.

[2022-08-11 09:37] lesteve commented on #24131
Hmmm the latest failure is a separate one:
[code]

Maybe related to https://github.com/scikit-learn/scikit-learn/pull/23865, cc @jjerphan for more visibility.

I can reproduce both failures on a Ubuntu 20.04 box with atlas with GLOBAL_RANDOM_SEED=72 (for some reason with 80 only the parallel_on_X one fails ...):
[code]

<details>
<summary>Full pytest failure</summary>

[code]

</details>

[2022-08-11 10:06] lesteve commented on #24160
`test_estimators[SpectralEmbedding()-check_pipeline_consistency]` fails on Windows, maybe related to https://github.com/scikit-learn/scikit-learn/issues/24105 although this time rather that columns being flipped the column 0 seems seems slightly off while the column 1 seems to match:

[code]

I'll merge https://github.com/scikit-learn/scikit-learn/pull/24125 to see whether it fixes this error as w

[2022-08-11 10:14] #19051 closed

[2022-08-11 12:16] ItamarMushkinPagaya commented on #18982
Just want to add a +1 to this very useful feature (came across this git issue while looking for monotonic constraints in Random Forest Classifiers)

[2022-08-11 14:33] stellalin7 commented on #23462
working on SpectralBiclustering

[2022-08-11 23:34] obiii opened #24171 "27 GB Gigantic joblib file from scikitlearn pipeline"
Hi,

I have a scikit learn pipeline that consists of a custom transformer, custom estimator (statsmodel.OLS) and two lambda functions. The data I have is 50MB (Although I have 50 targets and I pivot the dataset so it might increase the size). The training is done in 2 hours but it gets stuck in saving joblib, it produces joblib of 27GB!!.

I have tried gzip, lzma as well, but it keeps stuck in sav

[2022-08-12 03:31] zadilkhwaja commented on #21350
Working on sklearn.decomposition._nmf.non_negative_factorization

[2022-08-12 04:36] #24160 closed

[2022-08-12 06:59] morrisalp opened #24172 "SGDClassifier initial lr undocumented"
### Describe the issue linked to the documentation

The [documentation for SGDClassifier](https://scikit-learn.org/stable/modules/sgd.html#sgd) says that with `learning_rate='optimal'` the initial learning rate `t0` is chosen with a heuristic proposed by Léon Bottou that "can be found in `_init_t` in BaseSGD".

However currently this method [does not exist in BaseSGD](https://github.com/scikit-lea

[2022-08-12 07:50] kno10 commented on #21729
`make_blobs` is *poor* benchmark data.

While it is true that k-means mostly makes sense on such data, its not interesting to use k-means on this.

Instead maybe benchmark with some embedding vectors etc. without a clear structure. Make sure to set `tol=0`.

The reason is as follows:

If you have well separated blobs, and initialize with, e.g., k-means++, then the algorithms can converge in just 1

[2022-08-12 09:03] #24078 closed

[2022-08-12 10:54] ageron commented on #21729
Mmh, you make really good points, @kno10. 👍  A better benchmark should probably tackle a variety of real-life problems. May I suggest that you update the Colab I shared above to run the benchmark on a few datasets instead of just `make_blobs`? Note that I got similar results with the `digits` dataset, IIRC, which may be because it's also fairly easy to cluster. The question is: should the default

[2022-08-12 11:29] ak04p commented on #21350
Working on `sklearn.inspection._partial_dependence.partial_dependence` and `sklearn.utils.sparsefuncs.inplace_swap_row`

[2022-08-12 13:05] lorentzenchr commented on #22383
@fractionalhare It is usually best practice to open a PR even if the implementation is only work in progress. This way, it is visible that you are working on it, and you might even get some early review comments preventing work in wrong directions (depending on reviewer capacity, of course).

[2022-08-12 15:42] nitinramvelraj commented on #23462
I will work on OneVsRestClassifier

[2022-08-12 19:18] joaocmd opened #24176 "AgglomerativeClustering's distance_threshold is misleading"
### Describe the issue linked to the documentation

According to the [documentation regarding `AgglomerativeClustering`](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.AgglomerativeClustering.html#sklearn.cluster.AgglomerativeClustering), the `distance_threshold` is "the linkage distance threshold above which, clusters will not be merged".

However, in the [code](https://github.

[2022-08-13 08:30] symeneses commented on #21350
I would like to work on `sklearn.utils.sparsefuncs.mean_variance_axis` 🙌🏽

[2022-08-13 12:40] kno10 commented on #21729
Well right now it seems that the naive algorithm is not consequently outperformed by the scikit-learn implementation of Elkans because of the mentioned code optimization issues. So for now, it is probably okay to default to the naive algorithm.
It may be worth including alternate implementations in the benchmark. E.g., ELKI, shogun, mlpack, R.

Maybe have a look at the mlpack benchmarking system,

[2022-08-13 16:52] reshamas commented on #21350
@thomasjpfan
The 11th item in the checklist is this one:   sklearn.cluster._optics.cluster_optics_dbscan
It looks like this PR addressed that:  #21419
Perhaps the PR title needs to be adjusted.
From:
DOC ensure that cluster_optics docstring_dbscan passes numpydoc validation
To:
DOC ensure that cluster._optics.cluster_optics_dbscan passes numpydoc validation

[2022-08-13 17:30] stefmolin commented on #23462
`Isomap` is also blocked by https://github.com/scikit-learn/scikit-learn/pull/24048 (along with `SelectFromModel`). Working on `IterativeImputer`, `LabelPropagation`, `LabelSpreading`, `LatentDirichletAllocation`, and `PolynomialFeatures`.

[2022-08-13 21:52] rcurtin commented on #21729
We haven't touched that repository in quite a while---it's a lot of work to keep a benchmark system up to date!  I agree entirely with @kno10 that `make_blobs` is not a great benchmark.  In my experiments on various data and my uses of k-means in practice, I find that a tree-based approach works well for low-dimensional data; and like was pointed out earlier in the thread, Elkan's algorithm (and a

[2022-08-14 08:18] idanmoradarthas opened #24182 "sklearn.compose.ColumnTransformer do not keep transformers` desired dtype of output"
Hi,

We are using ColumnTransformer as our unified preprocessor to transform the data. We have the following transformers:

[code]

From them we create our ColumnTransformer object:
[code]

When we use the ```transform``` method the desired dtypes of output for  ```categorical_transformer``` and ```ordinal_transformer``` that should be ```np.int8``` isn't kept. What we are receiving is numpy's nda

[2022-08-14 09:08] zadilkhwaja commented on #21350
working on sklearn.metrics.cluster._supervised.adjusted_rand_score

[2022-08-14 14:44] thomasjpfan commented on #24182
The column transformer takes into account the dtypes of every transformer to determine the desired dtype. In your case, the categorical features are outputting `np.int8`, but the numerical features are `np.float64`. For this to fit in one ndarray, `hstack` needs a dtype that can hold both `np.int8` and `np.float64`, which is `np.float64`. It's basically doing this to determine the type:

[code]

I

[2022-08-14 20:16] Mehgarg commented on #23462
Working on `RidgeCV`

[2022-08-14 21:03] ShehanAT commented on #24107
The reproducible code snippet contains a slight typo:
[code]

But yes I'm running into the initial issue as well.

Although, I've found that allowing for a minimum absolute tolerance of `0.88` passes the assertion:
[code]

[2022-08-15 06:09] idanmoradarthas commented on #24182
Thanks @thomasjpfan for the quick response.

So right now we have no other way but to run the transformers one by one?

When are expecting to see the solution of slep018 in scikit-learn?

[2022-08-15 07:25] cmarmo commented on #17925
I'm under the impression that this issue can be closed: the three PRs #22148, #22149 and #22150 superseded the one meant to close this issue. The three have been merged. Perhaps @thomasjpfan, who approved them, can confirm? Thanks!

[2022-08-15 07:46] cottrell commented on #24107
Yes but these should be copies of the values, or at least args that go in stateless functions. Everything should agree exactly.

[2022-08-15 11:18] RaviKrrish commented on #24182
That's a very good explanation @thomasjpfan  even I too faced this issue . Hopefully in SLEP018 we could find an alternate solution.

[2022-08-15 11:55] pokecheater opened #24186 "Reverse Transform and a intelligent skip non existent columns for transformer and pipelines"
### Describe the workflow you want to enable

I have almost implemented a wizard that will preprocess the data a user puts in. Than the training of Tensorflow networks will be done and also a integration REST API flow comes out. But here is the catch:

We implemented a auto feature preprocessing transformer and wanted to do so with a pipeline. This works very well as long as the input data has not

[2022-08-15 15:10] kanxu526 commented on #24155
Yes, please! I don't know well how it should work. But thanks for volunteering!

[2022-08-15 19:25] SD-13 commented on #23462
I will work on `RegressorChain`

[2022-08-15 20:22] thomasjpfan commented on #17925
Thank you for the ping @cmarmo. I agree we can close this issue because the original issue was resolved.

[2022-08-15 20:22] #17925 closed

[2022-08-15 21:11] NiklasMelton opened #24187 "Incremental versions of Existing Clustering Indices (metrics)"
### Describe the workflow you want to enable

There currently exists 3 CVIs (cluster validity indices) in the main branch. These metrics are very useful for indicating performance of unsupervised clustering methods and add value to the module. However, these methods suffer from high computational complexity which can make them intractable for large datasets and online implementations. Silhouette,

[2022-08-16 08:40] lesteve commented on #24107
I think the misunderstanding is in the lines below. Calling `gp.fit` will start from scratch and recreate the kernel from its constructor parameters. It will override what you were trying to do with `gp.kernel_.set_params`:

[code]

You can add print statements before and after the `fit` to convince yourself.

[2022-08-16 11:21] zadilkhwaja commented on #23462
Hi! I want to know what are the valid types and values for the parameters of the estimator. Where do i get them from?

[2022-08-16 13:46] cottrell commented on #24107
No, that fit with optimizer set to None does not redo things. It might re-calculate the kernel but it should not set new hyper params.

And everything should be full deterministic here.

I have also tried setting np.random.seed again.

[2022-08-16 15:14] thomasjpfan commented on #24131
As noted in https://github.com/scikit-learn/scikit-learn/issues/24131#issuecomment-1211756677, this was fixed in #24168

[2022-08-16 15:46] thomasjpfan commented on #24131
Ah I see, there are two issues. I'm okay with keeping this open.

[2022-08-16 15:54] lesteve commented on #24107
All I am trying to say is that your second `gp.fit` will disregard the changes to `gp.kernel_` you made. `gp.L_` will be exactly the same after the first `gp.fit` and after the second `gp.fit`. Not taking into account data-dependent attributes (i.e. ending with `_`) is a general behaviour of `fit` in scikit-learn unless there is a `warm_start` parameter see
https://scikit-learn.org/dev/glossary.ht

[2022-08-16 18:01] gwerbin commented on #12845
Sorry again for bumping this, but I think I had meant to cross-link this with https://github.com/scikit-learn/scikit-learn/issues/11777 back in 2018 when I first posted the two issues.

[2022-08-16 20:24] lorenzomad commented on #21350
I would like to work on sklearn.utils.validation.check_is_fitted

[2022-08-17 05:50] BoudewijnKlijn commented on #17140
@amrhitch maybe you can do this sequentially? First impute many columns by using the KNNImputer. (Use ColumnTransformer to only apply it to selected columns.) Thereafter use the imputed columns to impute other columns.

[2022-08-17 10:14] ogrisel commented on #23626
Thank you @lesteve for the final push!

[2022-08-17 10:14] #23626 closed

[2022-08-17 12:53] FrancojFerrante commented on #16135
I would appreciate this feature too! My use case is, like @onacrame, get an average of multiple metrics of cross validate predictions to see the variance, and be able to plot the ROC curve and score distribution.

[2022-08-17 13:13] reshamas commented on #23839
@amueller @thomasjpfan
I wonder if there is a way to add categories (to the left navigation or somewhere else), rather than the full question.  Example:
- project name
- contributing
- adding new algorithms

[2022-08-17 16:04] lesteve commented on #23626
Nice to see this one green!

[2022-08-17 20:43] adam2392 commented on #24000
Hey @jjerphan thanks for the reply!

I think for me I'm faced with a few obstacles and I'm hoping for some clarity here. Happy to discuss at OH whenever they restart...

The original issue #20819 has a few concerns that were cleared up: i) citation criterion and ii) maintainability due to stiffness of the tree code. I addressed i) and then I spent a lot of time figuring out how to make Oblique Tre

[2022-08-17 20:49] EdAbati commented on #23462
Working on `NeighborhoodComponentsAnalysis`

[2022-08-18 06:57] asberk opened #24196 "sklearn implementation of the square-root LASSO"
### Describe the workflow you want to enable

The unconstrained LASSO is currently implemented in `lasso_path`. However, the parameter for unconstrained LASSO is sensitive to the measurement noise. Instead, the square-root LASSO has objective norm(Ax-b) + alpha * norm(x, 1) and its parameter, alpha, is insensitive to the noise level. I would like an `sklearn` interface (with `fit`, `predict`, etc.

[2022-08-18 07:00] asberk commented on #24196
Note that the characterization of srLASSO as a second-order conic programming (SOCP) problem is given in [2]

[2] Belloni, A., Chernozhukov, V. and Wang, L. Square-Root LASSO: Pivotal recovery of sparse signals via conic programming https://arxiv.org/pdf/1009.5689.pdf

[2022-08-18 10:29] lorentzenchr commented on #24196
@asberk Thanks for proposing this new estimator.
A few remarks: Without penalty, taking the square root of the sum of squares makes no difference (in minimization).
Then it is clear, that only the (effect of) the penalty changes. While the theoretical arguments of the linked paper seem valid, in practice, one has to choose a penalty strength (alpha). But the formulae for the penalty strength in th

[2022-08-18 10:58] agramfort commented on #24196
I agree with @lorentzenchr. it can simplify model selection as the regularization does not depend of the noise level but you still need a search. Now it can be of interest in skglm

cc @mathurinm

[2022-08-18 16:29] adrinjalali commented on #21706
https://github.com/scikit-learn/scikit-learn/pull/24027 will fix this issue.

[2022-08-18 16:36] adrinjalali commented on #20610
@BenjaminBossan I think this is fixed with your PR in https://github.com/scikit-learn/scikit-learn/pull/24126 (or was fixed before). Could you please confirm?

[2022-08-18 16:40] JulienB-78 commented on #20610
I confirm.

  Le jeu., août 18, 2022 à 18:36, Adrin ***@***.***> a écrit:

@BenjaminBossan I think this is fixed with your PR in #24126 (or was fixed before). Could you please confirm?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-08-19 03:03] scikit-learn-bot opened #24203 "⚠️ CI failed on Linux_Nightly.pylatest_pip_scipy_dev ⚠️"
**CI failed on [Linux_Nightly.pylatest_pip_scipy_dev](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=45706&view=logs&j=dfe99b15-50db-5d7b-b1e9-4105c42527cf)** (Aug 19, 2022)
- test_pandas_arff_parser_strip_single_quotes[_pandas_arff_parser]
- test_pandas_arff_parser_strip_double_quotes[_pandas_arff_parser]
- test_pandas_arff_parser_strip_no_quotes[_pandas_arff_parser]
- tes

[2022-08-19 07:47] rth opened #24204 "Upload a Python wheel for sklearn package"
As you know a number of people install scikit-learn via `pip install sklearn` (or specify `sklearn` in their dependencies) which works due to the [`sklearn`](https://pypi.org/project/sklearn/#files) package alias. So far we still have no solution to let users know they shouldn't do this https://github.com/scikit-learn/scikit-learn/issues/8215

The problem is that if users try to install a package

[2022-08-19 08:35] symeneses commented on #23839
I would like to work on this issue 🙋🏽‍♀️

I think the easiest way is to use [Dropdowns from sphinx-design](https://sphinx-design.readthedocs.io/en/latest/dropdowns.html) for each question, which would be an extension more.

Then we can have the categories/sections as headers as @reshamas and @amueller suggested, so only they will be shown on the left.

Let me know if that sounds good to proceed.

[2022-08-19 09:51] moi90 opened #24205 "explained_variance_ratio_ > 1.0"
### Describe the bug

`PCA.explained_variance_ratio_` is larger than 1.0

### Steps/Code to Reproduce

[code]

### Expected Results

I would expect the sum of `explained_variance_ratio_` to be max 1.0 (like explained in the [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html)).

### Actual Results

Explained variance ratio: 111.91%

### Versions

[code]

[2022-08-19 11:06] lesteve commented on #24204
I don't know what else to say but :sob:.

Maybe some additional motivation to revisit the brownout strategy discussed in #8215.

For good measure I will do a PR on the package that depends on `sklearn` that was found by your pyodide issue.

[2022-08-19 12:38] lesteve commented on #24205
This seems weird. It would help a lot if you could put together a standalone snippet, in particular some data that triggers this behaviour, so that someone can try to reproduce. You can have a look at https://stackoverflow.com/help/mcve for more details.

Also I see that you are using sklearn 0.20.4, maybe you can try with a more up-to-date scikit-learn version (latest release is 1.1.2) to see if

[2022-08-19 13:04] ogrisel commented on #24204
What would the wheel hold? nothing but a dependency on the true scikit-learn package?

I we want to go through the brownout strategy, the wheel might be a problem because there is no way to raise a warning or error at install time, only at import time. But that that would mean that the wheel would hold a fake yet importable `sklearn` top level module but this would collide with the true scikit-lea

[2022-08-19 13:58] rth commented on #24204
Yes, indeed, I forgot about the brownout idea. And it would indeed not work once a wheel is uploaded, so probably better not do that.

Closing this won't fix it then, thanks for the feedback. At some level, offending packages should fix it. And the worst-case scenario we could hardcode the alias during dependency resolution in Pyodide.

[2022-08-19 13:58] #24204 closed

[2022-08-19 15:02] thomasjpfan commented on #23839
I'm not convinced about the dropdown. For me, I link to the [inclusion criterion](https://scikit-learn.org/dev/faq.html#what-are-the-inclusion-criteria-for-new-algorithms) most often and adding another step for the contributor to get the information is not great to me.

As for sections, I'm okay with this idea if we can come up with section names for the FAQ items. For example, I think "adding new

[2022-08-19 15:52] #24203 closed

[2022-08-19 19:28] PolarSprings opened #24207 "Unable to import scikit-learn modules"
### Describe the bug

Multiple imports unable to be imported within the imblearn and scikit-learn package.  Since there is no imblearn github repo, posting here.  Using scikit-learn version 1.1.2 and imbalanced-learn 0.9.1

Error:
ImportError                               Traceback (most recent call last)
<ipython-input-21-72be5dca49c0> in <module>
      2 from sklearn.pipeline import Pipeline

[2022-08-19 19:58] thomasjpfan commented on #24207
For the first issue, spelling is [RepeatedStratifiedKFold](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.RepeatedStratifiedKFold.html) i.e:

[code]

As for the second error, [RandomUnderSampler](https://imbalanced-learn.org/stable/references/generated/imblearn.under_sampling.RandomUnderSampler.html?highlight=randomundersampler#imblearn.under_sampling.RandomUnderSampler)

[2022-08-19 19:58] #24207 closed

[2022-08-19 21:22] user799595 opened #24208 "SequentialFeatureSelector html repr throws an exception"
### Describe the bug

SequentialFeatureSelector html repr throws an exception. (Non-html repr is OK)

### Steps/Code to Reproduce

[code]
into ipython or jupyter.

### Expected Results

No exception

### Actual Results

[code]

### Versions

[code]
[code]

[2022-08-19 21:32] user799595 commented on #24208
Oops, my bad.

Working version:
[code]

[2022-08-19 21:32] #24208 closed

[2022-08-20 14:10] lorentzenchr commented on #22811
This functionality is available via `scipy.spatial.distance.cdist(X, Y, "minkowski", p=0.1)` and `KNeighborsClassifier` accepts a callable as parameter.
I'm fine with either the current behaviour (not allowing p<1) or at least throwing a warning.

[2022-08-20 14:12] jjerphan commented on #24000
Hi @adam2392,

Thank you for this long comment. I will add your contributions to discussion to [the next core-developer meeting](https://calendar.google.com/calendar/event?eid=MjFhbDVhdDNoZ3BodXV0aDdpdGkwYnV0NWUgc29jaWFsLnNjaWtpdGxlYXJuQG0&ctz=UTC). You should be able to join it freely.

[2022-08-20 16:13] lorentzenchr commented on #24196
@asberk I'll close and suggest to follow @agramfort's proposal: Open a new issue for this feature in https://github.com/scikit-learn-contrib/skglm.

[2022-08-20 16:13] #24196 closed

[2022-08-20 17:26] stefmolin commented on #23462
Working on `MiniBatchDictionaryLearning`, `PatchExtractor`, `PolynomialCountSketch`, and `QuadraticDiscriminantAnalysis`.

[2022-08-22 02:54] scikit-learn-bot opened #24221 "⚠️ CI failed on Linux_nogil.pylatest_pip_nogil ⚠️"
**CI failed on [Linux_nogil.pylatest_pip_nogil](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=45748&view=logs&j=67fbb25f-e417-50be-be55-3b1e9637fce5)** (Aug 22, 2022)
- test_kernel_gradient[kernel11]

[2022-08-22 08:20] lesteve commented on #24221
I can not reproduce this one locally, let's see if it happens consistently in the CI ...

[2022-08-22 08:22] lesteve commented on #20640
It seems like it was still necessary last time I tried (March 2022) but maybe worth revisiting at one point, see https://github.com/scikit-learn/scikit-learn/pull/22535#issuecomment-1044823693.

[2022-08-22 10:13] ogrisel commented on #24221
Note that this test also has `@fails_if_pypy` (without any comment unfortunately on the what or the why) so it might trigger some a low-level quirkiness.

[2022-08-22 14:04] ogrisel commented on #24221
Ok, so apparently this not deterministic. It could be a race condition of some sort though but given that it's not easy to reproduce, I think we can close for now. If it shows up again we will give it a higher priority to try to investigate the root cause.

[2022-08-22 14:04] #24221 closed

[2022-08-23 04:49] ShisuiUzumaki commented on #23462
Working on BayesianRidge

[2022-08-23 05:40] ShisuiUzumaki commented on #23462
Working on BayesianRidge

[2022-08-23 05:46] jihan-yin opened #24228 "Balltree's node_data radiuses seems to be incorrect"
### Describe the bug

The node data from constructing a BallTree seems to be incorrect. Each parent node's radius should always be greater than or equal to both its child's radiuses, since the radius is that of the smallest hypersphere containing all the points within that node, and the children of a node is just a subset of that node. Therefore if a child's radius is higher than its parents, it c

[2022-08-23 06:26] jihan-yin commented on #24228
It also appears to me that the distance calculations seem to be incorrect. An example here:

[code]

This prints
[code]

We get an sklearn calculated radius of 6.58, but by taking the furthest distance between the points and their center, we lower that bound to 1.185.

In general, playing with the different nodes here, I find that the lower the balltree gets (the smaller the spheres), the more inc

[2022-08-23 11:25] lesteve commented on #24221
I looked a bit more into this one, I can reproduce the failure with pypy. We are using code like:
[code]

`result[denominator == 0]` values are undefined when using this. For CPython it seems like the `np.empty` allocated for the return value reuses the temporary array created for `denominator != 0` in the where argument so that `result[denominator == 0]` only contains 0.

A snippet to reproduce a

[2022-08-23 17:23] ShisuiUzumaki commented on #23462
Working on DictionaryLearning

[2022-08-23 17:56] ghnunes commented on #15722
Hello guys, I'm trying to do some tests with GridSearch, but I have this error, could you tell me why?

**in clone raise TypeError("Cannot clone object '%s' (type %s): "
TypeError: Cannot clone object '<keras.engine.functional.Functional object at 0x7f330fe610a0>' (type <class 'keras.engine.functional.Functional'>): it does not seem to be a scikit-learn estimator as it does not implement a 'get_pa

[2022-08-23 19:47] PolarSprings opened #24238 "AttributeError: 'NoneType' object has no attribute 'split'"
### Describe the bug

I am oversampling using SMOTE on a binary classification dataset (churn or not). When I use SMOTE for multi-label, it is fine, but when I use the same function on a binary dataset it fails with the following error:

[code]

My code is a simple call and fit:

from imblearn.over_sampling import SMOTE

[code]

Does anyone know why this error keeps popping up?

### Steps/Code to

[2022-08-23 21:53] he7d3r commented on #5898
See also issue https://github.com/scikit-learn/scikit-learn/issues/7343.

[2022-08-24 02:56] scikit-learn-bot opened #24240 "⚠️ CI failed on Linux_Docker.debian_atlas_32bit ⚠️"
**CI failed on [Linux_Docker.debian_atlas_32bit](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=45837&view=logs&j=aabdcdc3-bb64-5414-b357-ed024fe8659e)** (Aug 24, 2022)
- test_fastica_simple[79-float32-False]

[2022-08-24 08:00] matthiasschuurmans opened #24243 "TimeSeriesSplit add skip parameter"
### Describe the workflow you want to enable

Dear sklearn community, I want to make an hour ahead forecast on a timeseries of at least a year with an interval of 5 minutes. To do CV, I can use TimeSeriesSplit with test_size = 12. I want to do this for many different times of the day, so I could use n_splits = 24 and have a split for each hour of the day. Then I want this for multiple days, so I c

[2022-08-24 09:10] lesteve commented on #24238
Looks like an issue with threapoolctl and not scikit-learn. For future reference can you show the version of dependencies like this:

[code]

Maybe try to update the version of threadpoolctl to see whether the issue persists?

[2022-08-24 12:29] arvkevi opened #24247 "Add RepeatedStratifiedGroupKFold"
### Describe the workflow you want to enable

Building off conversation #13621 and work already done in #18649, I'd like to add an implementation of `RepeatedStratifiedGroupKFold`.

### Describe your proposed solution

See the implementation in #24227. Then `RepeatedStratifiedGroupKFold` could be used similar to below:

[code]

### Describe alternatives you've considered, if relevant

_No response

[2022-08-24 12:38] glemaitre opened #24248 "Issue with class template with 2 semi columns instead of a single one"
### Describe the issue linked to the documentation

In the documentation, it appears that the section has 2 semi-columns instead of a single one:

![image](https://user-images.githubusercontent.com/7454015/186420230-489d6e13-9355-4e36-b89a-600bb6879842.png)

Not sure where it comes from.

### Suggest a potential alternative/fix

_No response_

[2022-08-24 13:25] OmarManzoor commented on #23462
I would like to work on RidgeClassifierCV

[2022-08-24 13:53] 3lLobo opened #24249 "Docstring typo 📜"
https://github.com/scikit-learn/scikit-learn/blob/36958fb240fbe435673a9e3c52e769f01f36bec0/sklearn/feature_extraction/text.py#L421

Typo makes docstring unclear and ambiguous:
[code]

I suggest:
[code]

[2022-08-24 14:03] glemaitre commented on #24249
Thanks for reporting. Do you want to open a PR to solve this issue.

[2022-08-24 14:05] glemaitre commented on #22160
Closing since we cannot reproduce

[2022-08-24 14:05] #22160 closed

[2022-08-24 14:28] cottrell commented on #24107
I think it's a bit confusing with non-parametric models like GPR. "Train" for me means set the kernel hyper-params. "fit" is really just a pre-compute step for doing inference ... i.e. P(y* | X*, y, X).

So there is "Train -> fit -> inference". So one wants to be able to save/serialize/avoid the train and fit steps optionally. To do this requires a .load, .set or whatever you want to call it for e

[2022-08-24 14:48] lesteve commented on #24248
Maybe https://github.com/sphinx-doc/sphinx/issues/10594?

[2022-08-24 14:56] lesteve commented on #24248
We also have this in `doc/themes/scikit-learn-modern/static/css/theme.css` which may need to be removed?

[code]

[2022-08-24 15:01] PolarSprings commented on #24238
That worked, thank you!

[2022-08-24 15:01] #24238 closed

[2022-08-24 15:06] lesteve commented on #24248
I opened #24252.

We are using sphinx 5.1.1 (which has the fix above depending on docutils version) so it should be fine I think.

For reference, we are also using docutils 0.19 > 0.18.

[2022-08-24 15:59] lesteve commented on #24240
This will be fixed by #24244

[2022-08-24 16:19] #24148 closed

[2022-08-24 17:58] aribenjamin commented on #22709
This would be useful and would find application in clustering binary data. There is already an implementation in sklearn_extra: https://scikit-learn-extra.readthedocs.io/en/stable/generated/sklearn_extra.cluster.KMedoids.html

[2022-08-24 18:28] mcarbajo opened #24253 "KMeans `predict` method fails when run in ray remote function due to in-place modification of `cluster_centers_` attribute"
### Describe the bug

When KMeans object is passed to a ray remote function, calls to method `predict` fail with the following error:

[code]

The root cause of the issue is the fact that the `predict` function is trying to do an in-place modification of `self.cluster_centers_`.

The `predict` function passes self.cluster_centers_ to `_labels_inertia_threadpool_limit` that passes it to `_labels_in

[2022-08-24 18:31] mcarbajo commented on #24253
My knowledge of the KMeans algorithm might be limited but I find it strange that the `predict` method tries to modify an object attribute.

[2022-08-24 19:49] bchen1116 opened #24254 "adjusted_mutual_info_score takes a long time with lists containing many unique values"
### Describe the bug

The runtime of `adjusted_mutual_info_score` jumps significantly when we have large amounts of unique values in the two lists. Hovering around 6k total unique values (ie 2 columns of 3k unique values) keeps the runtime around a minute, but when we increase the number of unique values, the runtime shoots up.

### Steps/Code to Reproduce

[code]

### Expected Results

small or l

[2022-08-24 20:53] velezbeltran opened #24255 "Random Forest Neighbors"
### Describe the workflow you want to enable

Random Regression forests allow for an interpretation where the values at a new point  `x`  is a weighted linear combination of the values observed in the dataset
<img width="188" alt="image" src="https://user-images.githubusercontent.com/61052993/186520968-88e824ed-77c1-4bf8-b7be-9885c288778e.png">
I think it would be helpful if one could obtain these

[2022-08-24 22:50] calebbuffa commented on #23462
Working on Isomap

[2022-08-25 01:01] tejavenkatk opened #24257 "How can I perform multiple transformations of columns with some columns being same across the transformations"
For my usecase, I wanted to perform target encoding for some columns (say c1, c2,c3) and I also want to perform imputation for a column (c4) and I now wanted to perform standardscalar (once the previous target encoding and imputation are performed) for all these and more columns (c1,c2,c3,c4,c5,c6,c7,c8).

Note I also have more columns that I need to perform, say  OHE, but those columns are disjoi

[2022-08-25 01:24] #24248 closed

[2022-08-25 02:18] raymondj-pace commented on #22709
Not the same. K-medoids uses an actual data point. K-means is different.

Raymond Jennings III
914.330.5074

On Aug 24, 2022, at 1:58 PM, aribenjamin ***@***.***> wrote:

﻿

This would be useful and would find application in clustering binary data. There is already an implementation in sklearn_extra: https://scikit-learn-extra.readthedocs.io/en/stable/generated/sklearn_extra.cluster.KMedoids.html<

[2022-08-25 02:36] thomasjpfan commented on #24253
When `update_center=False`, predict does not actually write to `cluster_center`.

https://github.com/scikit-learn/scikit-learn/blob/feaf3829969b640594a145029e3adcffd2db0999/sklearn/cluster/_kmeans.py#L808

The "buffer source array is read-only" happens because the `lloyd_iter_chunked_dense` does not accept readonly array as centers. The best solution would be to use `const floating[:, ::1] centers

[2022-08-25 02:48] vitaliset commented on #21350
Working on `sklearn.metrics._ranking.top_k_accuracy_score` :)

[2022-08-25 05:57] trendelkampschroer commented on #19608
I can confirm the existence of this problem. The `max_nbytes` argument or more specifically a descriptive version of this argument, e.g. `memmap_threshold_bytes`, could be added to GridSearchCV to alleviate this problem. I am happy to issue a PR if this is desired. My feature request is based on the following observations:

Disk space usage may increases steadily until termination/completion of a

[2022-08-25 06:51] trendelkampschroer commented on #19608
These are the numbers observed with the example above, `max_nbytes = '1M'` is the default for `joblib.Parallel`. Numbers are rounded to entire secs and 10s or 100s MB of disk usage.

We can see that we can completely prevent "disk leak" by setting `max_nbytes = '4M'` with only a small penalty in runtime increase. Completely disabling memory mapping severely increases the runtime of the grid-search

[2022-08-25 08:23] glemaitre commented on #24257
Moving this into a discussion

[2022-08-25 08:45] jjerphan opened #24262 "MAINT Simplify some `KMeans` routines' signatures"
Looking at the [scikit-learn's `_kmeans_single_lloyd`'s routines](https://github.com/scikit-learn/scikit-learn/blob/7bdd426704fc49316b3273fb33de7f6931c22692/sklearn/cluster/_k_means_lloyd.pyx), some of their signatures can be simplified.

For instance:
 - `x_squared_norms` must be passed (and hence computed before-hand as done here) for the routines to be usable (as it's typed as a memoryview but

[2022-08-25 09:02] ogrisel commented on #24131
@jjerphan to help understand the nature of the failures found by `assert_argkmin_results_quasi_equality` it would help to report the original distances (before rounding) for the nighbor indices in the 2 rounded dist groups in the `AssertionError` message.

[2022-08-25 09:46] Bartoliinii opened #24263 "Problem with ransac predictions."
I think I have encountered a bug in sklearn.linear_model.RANSACRegressor.

I was using it to simplify OpenCV contours, on the occupancy grid map. Unfortunately, RANSAC was pretty bad at detecting almost straight points perpendicular to the x axis. I have checked it on a simpler training sample, but still, it's doing the same thing (my RANSAC settings were much more complex than what you can see he

[2022-08-25 14:19] rusdes commented on #24262
Hello, is anyone working on this?

[2022-08-25 14:41] jjerphan commented on #24262
Hi @rusdes,

@Vincent-Maladiere or @fcharras might. Please do indicate if it is the case here.

This issue description is rather brief, and there might be several points to treat. In that case, each of you should be able to solve one of them independently. I might update the PR description with more points and will let you know.

[2022-08-25 16:36] lorentzenchr opened #24265 "Rename OneHotEncoder option sparse to sparse_output"
### Task
Introduce new parameter `sparse_output` in `OneHotEncoder` and deprecate the then old `sparse` parameter.

### Background
Several estimators have an option to return sparse output.
- `RandomTreesEmbedding(sparse_output=True)`
- `LabelBinarizer(sparse_output=True)`
- `MultiLabelBinarizer(sparse_output=True)`

`OneHotEncoder(sparse=True)` seems to be the only one to deviate from `sparse_out

[2022-08-25 16:38] lorentzenchr commented on #24265
@ogrisel @thomasjpfan As you suggested in https://github.com/scikit-learn/scikit-learn/pull/24145#discussion_r940333030.

[2022-08-25 19:36] rusdes commented on #24265
Hello, is anyone working on this? I would like to help with this.

[2022-08-26 00:50] thomasjpfan commented on #19608
@trendelkampschroer Thank you for sharing your results. It looks like the defaults for `Parallel` is not sufficient in some cases and it would be good to allow users to adjust `Parallel`'s `max_nbytes` from `GridSearchCV`.

Given that [joblib.Parallel](https://joblib.readthedocs.io/en/latest/generated/joblib.Parallel.html) I agree with the solution in https://github.com/scikit-learn/scikit-learn/i

[2022-08-26 00:57] thomasjpfan commented on #23108
I am closing this issue because there was no response to https://github.com/scikit-learn/scikit-learn/issues/23108#issuecomment-1171404045.

[2022-08-26 00:57] #23108 closed

[2022-08-26 02:38] scikit-learn-bot opened #24269 "⚠️ CI failed on macOS.pylatest_conda_forge_mkl ⚠️"
**CI failed on [macOS.pylatest_conda_forge_mkl](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=45966&view=logs&j=97641769-79fb-5590-9088-a30ce9b850b9)** (Aug 26, 2022)
Unable to find junit file. Please see link for details.

[2022-08-26 06:18] jjerphan commented on #24131
That's a good suggestion. I've added an item in the description of https://github.com/scikit-learn/scikit-learn/issues/22587.

[2022-08-26 07:29] SonicStark commented on #11441
@DanBenHa

From an algebraic point of view, the actual implementation goes like this

<img width=500 src="https://user-images.githubusercontent.com/50692172/186846951-7b0c57bc-a078-43b6-a209-d2c3820896bc.png" />

_**References**_
A Tutorial on Spectral Clustering, 2007 Ulrike von Luxburg http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.165.9323

[2022-08-26 08:23] adrinjalali commented on #19953
We still don't have a minimal reproducible here.

You can use `__sklearn_is_fitted__` to check if the sub-estimator is fitted and return true. But your code above loads stuff from a file which it shouldn't that should be done in `fit`. I'm closing this, will re-open once we have a minimal reproducible example.

[2022-08-26 08:23] #19953 closed

[2022-08-26 08:24] adrinjalali commented on #15346
Looks like a good idea to me. pinging @scikit-learn/core-devs for a decision.

[2022-08-26 08:37] glemaitre commented on #15346
Why not

Cloning will induce an unfitted estimator meaning that we cannot call `get_feature_names_out` on it.

@adrinjalali do you have a use case where you want to access those "inner" feature names without looking at the "outer" column transformer feature names with the name of the transformer prepended?

[2022-08-26 09:38] adrinjalali commented on #15346
I personally don't, but I can see why people would use it and it's not a complex thing to implement, so maintainability is not an issue.

[2022-08-26 12:25] trendelkampschroer commented on #19608
@thomasjpfan thanks a lot for your quick reply. Quickly reading the discussion in #18030 I get the impression that exposing `Parallel` kwargs is decided on a case by case basis. I think given the "trouble" that not having access to `Parallel`'s `max_nbytes` argument can get you in when running a grid search I'd say this is a good case for exposing it.

Happy to issue a short PR and move the ensuin

[2022-08-26 14:16] glemaitre commented on #24263
Moving this in discussion for the moment.

[2022-08-26 14:24] glemaitre opened #24274 "Histogram GBDT can segfault if categorical contains negative categories"
Histogram GBDT can segfault if they contain negative categories.

Indeed, we documented that they should all be positive in `[0, max_bins]` but segfaulting is probably not the best error message.

I triggered the problem on my Mac M1 with the following code:

[code]

It is not obvious that it will always segfault (it did not do that on Linux).

I got the following traceback on a similar code snipp

[2022-08-26 15:48] #24050 closed

[2022-08-26 17:00] NimaSarajpoor opened #24275 "small typo on webpage"
### Describe the issue linked to the documentation

There is a typo in https://scikit-learn.org/stable/modules/clustering.html#bisect-k-means

_Please notice the bold font below._

### Suggest a potential alternative/fix

_No response_

[2022-08-26 17:06] thomasjpfan commented on #24275
Thank you for opening this issue. Do you want to open a pull requests to fix the typo?

[2022-08-26 17:18] NimaSarajpoor commented on #24275
@thomasjpfan
Sure. Could you please provide me with the link that takes me to the corresponding file?

I found `https://scikit-learn.org/stable/_sources/modules/clustering.rst.txt` by clicking on "show this page source" on the bottom-right of the page. However, I cannot find it on GitHub.

[2022-08-26 17:21] thomasjpfan commented on #24275
Here is the file and the lines with the typo:

https://github.com/scikit-learn/scikit-learn/blob/c01fad4fb47c8963c365491880aa4a54e9f03482/doc/modules/clustering.rst?plain=1#L782-L783

[2022-08-26 17:33] 3lLobo commented on #24249
Sure, I got this 😆

[2022-08-27 02:50] scikit-learn-bot opened #24279 "⚠️ CI failed on Linux_Docker.debian_atlas_32bit ⚠️"
**CI is still failing on [Linux_Docker.debian_atlas_32bit](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=46030&view=logs&j=aabdcdc3-bb64-5414-b357-ed024fe8659e)** (Aug 29, 2022)
Unable to find junit file. Please see link for details.

[2022-08-27 03:54] scikit-learn-bot opened #24280 "⚠️ CI failed on Linux_Nightly_PyPy.pypy3 ⚠️"
**CI is still failing on [Linux_Nightly_PyPy.pypy3](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=46030&view=logs&j=0b16f832-29d6-5b92-1c23-eb006f606a66)** (Aug 29, 2022)
Unable to find junit file. Please see link for details.

[2022-08-27 10:03] julien-blanchon opened #24281 "Feature Request - Parallel Coordinates Plot for GridSearch result analysis"
### Describe the workflow you want to enable

GridSearch result are hard to analyze expecially when `param_grid` is very large.

The current documentation show usages of:
- [matrix_plot/pivot](https://scikit-learn.org/stable/_images/sphx_glr_plot_successive_halving_heatmap_001.png). That can visualize the relationship beetween 2 params for 1 metrics (2D).
- [line plot](https://scikit-learn.org/sta

[2022-08-27 14:32] thomasjpfan commented on #24274
The workaround to get your code working is to use `np.nan` as the unknown value.

I opened https://github.com/scikit-learn/scikit-learn/pull/24283 as a fix by treating the negative values as unknown.

[2022-08-27 20:30] gunkaynar commented on #24037
Could you please check my pull request? #24285

[2022-08-28 08:16] IvanLauLinTiong commented on #21350
Working on `sklearn.cluster._optics.cluster_optics_dbscan`, `sklearn.decomposition._dict_learning.dict_learning_online`, `sklearn.feature_selection._univariate_selection.f_oneway`.

[2022-08-28 13:19] heytanay commented on #24133
Hi! I would like to work on this. Can I proceed?

[2022-08-28 13:34] GLevV commented on #24133
This suggestion was not checked, discussed and green-lighted by the maintainers yet, so there is no need for PR right now.

[2022-08-28 14:02] msuzen opened #24287 "Enhance and support the common-pitfalls page with referred published references."
### Describe the issue linked to the documentation

The documentation comes with a guide called  [Common pitfalls and recommended practices](https://scikit-learn.org/stable/common_pitfalls.html). However, there are no single references on why things are right or wrong, instead presented the practitioner's best practices guide.

### Suggest a potential alternative/fix

References to primary academi

[2022-08-28 14:48] GaelVaroquaux opened #24288 "Add plotting AUC plotting tools to "plot_roc" example"
### Describe the issue linked to the documentation

The following example:
https://scikit-learn.org/stable/auto_examples/model_selection/plot_roc.html
does not use sklearn.metrics.plot_roc_curve or any of the related plotting tools.

### Suggest a potential alternative/fix

We should either:
- Reference the corresponding functionality on this example
- [preferably]use this functionality on this ex

[2022-08-28 14:48] GaelVaroquaux commented on #24288
Cc  @ArturoAmorQ : this might be good for you to work on.

[2022-08-28 15:04] ArturoAmorQ commented on #24288
I am currently working on such example in #24200. There I do implement the [`sklearn.metrics.RocCurveDisplay`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.RocCurveDisplay.html#sklearn.metrics.RocCurveDisplay.from_predictions) for the visualizations.

[2022-08-28 15:05] GLevV commented on #24133
Quick tests with toy regression datasets
Random seed 1, cross validation 4 folds, standard scaler before linear model, Friedman problems with `noise=1.0`, other parameters are default

|      _R2_    |       aic |       bic |      hqic |
|:-----------|----------:|----------:|----------:|
| diabetes   | 0.483646  | 0.482667  | **0.485867**  |
| boston     | **0.126936**  | 0.124746  | 0.117854  |
|

[2022-08-28 15:29] GaelVaroquaux commented on #24288
Ok. Are you making sure that you extend the existing example, rather then creating a new one?

We have too many examples.

On Aug 28, 2022, 17:04, at 17:04, Arturo Amor ***@***.***> wrote:

***@***.***>

[2022-08-28 15:50] ArturoAmorQ commented on #24288
Yes.

[2022-08-28 16:18] GaelVaroquaux commented on #24288
Yey!!! You're on top of things, it's awesome 👌

On Aug 28, 2022, 17:50, at 17:50, Arturo Amor ***@***.***> wrote:

***@***.***>

[2022-08-28 16:28] andportnoy commented on #12794
I recently ran into needing this, and would like to resurrect implementation by taking over https://github.com/scikit-learn/scikit-learn/pull/18689 or staying close to the same approach of using `LinearOperator` as a black box input to ARPACK/LOBPCG/PROPACK/RandomizedSVD which @lobpcg suggested and @atarashansky implemented a POC for using @pavlin-policar's implicit centering trick.

Here's a demo

[2022-08-28 17:23] IvanLauLinTiong commented on #21350
For `sklearn.cluster._optics.cluster_optics_dbscan` and `sklearn.feature_selection._univariate_selection.f_oneway`, they had already been removed from ` FUNCTION_DOCSTRING_IGNORE_LIST` and when I ran `pytest` on them, all tests are passed:
![image](https://user-images.githubusercontent.com/23013350/187086645-9d1397fd-d754-48a4-9e3f-c37b5a283dd1.png)

![image](https://user-images.githubusercontent.

[2022-08-29 09:35] OmarManzoor commented on #23462
I am working on **MultiTaskElasticNet** and **MultiTaskLasso**

[2022-08-29 13:17] #24275 closed

[2022-08-29 16:20] #24280 closed

[2022-08-29 16:20] #24279 closed

[2022-08-29 21:24] kno10 commented on #21729
Improved benchmark, with real data (color histograms, c.f., https://doi.org/10.5281/zenodo.6355684 ), but still effectively only a single data set:
[code]
on colab, this gives (still running for the larger data sets)
[code]
which appears to align with earlier results that Elkan is better for high dimensionality, and low k (because of the many bounds). For larger k, Hamerly and its improvements are

[2022-08-30 05:50] anubhavde opened #24303 "Cannot import 'DistanceMetric' from 'sklearn.metrics'"
### Discussed in https://github.com/scikit-learn/scikit-learn/discussions/24302

<div type='discussions-op-text'>

<sup>Originally posted by **anubhavde** August 30, 2022</sup>
# **ImportError: cannot import name 'DistanceMetric' from 'sklearn.metrics' (/home/linux/miniconda3/envs/python_ai/lib/python3.8/site-packages/sklearn/metrics/__init__.py)**

I know **DistanceMetric** can be found in ```skl

[2022-08-30 08:47] cmarmo commented on #24249
Hi @3lLobo, I have assigned this issue to you. However, you have opened a pull request to your own main branch, and a number of old commits are in there.
You might have a look at the [contributing documentation](https://scikit-learn.org/dev/developers/contributing.html#how-to-contribute): the steps to open a pull request to scikit-learn are described in details.... and if you spot any inconsistenc

[2022-08-30 09:33] anubhavde commented on #24303
Here is the output for ```sklearn.show_versions()```:
[code]

As you can see my sklearn version is 1.1.2, still I'm facing this issue.

[2022-08-30 10:16] 3lLobo commented on #24249
Hi @cmarmo ,
Yes I noticed all the obsolete changes in the pr, thus kept it on my local branch.
Tomorrow I will make time to correct the pr and open it in origin :)

[2022-08-30 11:49] adrinjalali commented on #22811
So should we document this one instead of implementing it?

[2022-08-30 12:41] Micky774 commented on #24133
While the paper that the method was introduced in has enough citations per usual consideration criteria, my only worry is whether it is used commonly enough to warrant addition. In particular, it seems very similar to AIC/BIC and often cited as an "alternative". If it has enough usage in the field as a primary statistic, then it would make sense to include, but otherwise I'm not sure it would be w

[2022-08-30 12:43] Micky774 commented on #24176
I'm in favor of improving the wording to, perhaps "...at or above which..."

@joaocmd Would you be interested in opening a PR for this?

[2022-08-30 14:34] glemaitre commented on #24303
Uhm it does not make sense to me (apart from if something went wrong during the installation).

Can you check if you have the file: `/home/linux/miniconda3/envs/python_ai/lib/python3.8/site-packages/sklearn/metrics/_dist_metrics.pxd`?

And what is the output of:

[code]

If the file exists and the grep shows something like

[code]

Then, I assume that the `so` file might be wrong and I would just

[2022-08-30 14:41] glemaitre commented on #12616
We are dealing with this issue now with the parameter validation: some stateless estimators would like to validate the validity of some input parameters, usually done at `fit` even though we will not learn anything on `X`.

I would be in favour of always having to call `fit` to validate those parameters and keep the `stateless` meaning for the estimator not extracting information from the training

[2022-08-30 14:55] lorentzenchr commented on #24265
@rusdes Go on. We would welcome a PR. Let us know if you need direction or help.

[2022-08-30 15:37] anubhavde commented on #24303
Yes. I do have the file.

Yes, the output shows exactly like what you have shown.

I tried this 2 times before also (when I first faced this particular issue) and once again now. It still didn't work. However I seemed to have found a **workaround** for this issue. As I had mentioned that ```DistanceMetric``` was working with  ```sklearn.neighbors``` but not ```sklearn.metrics``` so I copied the ``

[2022-08-30 15:37] #24303 closed

[2022-08-30 21:08] Micky774 commented on #24255
Hey there @velezbeltran! Scikit-learn has some strict [inclusion criteria](https://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms) for new features. To that end, do you have any resources/papers you could link to which use/justify this technique?

[2022-08-30 21:40] Micky774 commented on #22709
I'm not personally familiar with how widely-used K-medians is in practice. In essence it's an $L^1$ variant of K-means, but would require scouting an efficient/scalable algorithm and would come with its own significant maintenance overhead.

Evidently there is some interest, as seen in both this issue and the one before it (https://github.com/scikit-learn/scikit-learn/issues/6454). I slightly favo

[2022-08-31 02:12] zhar97 opened #24305 "Progress bar for BaseSearchCV and its inheritors to track iterative progress more conveniently"
### Describe the workflow you want to enable

When `verbose>0`, the fitting is shown as a progress bar including the average time/pace and last fit attempted time.

### Describe your proposed solution

Implement `tqdm`-like or `keras`-like (familiar to epoch tracking) progress bar such that the feature can be enabled through an argument of `verbose`. This proposal is under the assumption that the

[2022-08-31 07:58] hanzigs commented on #20092
I am getting the error
It was working fine, suddenly after a while its throwing the error, not sure why
May I get any inputs
[code]

[2022-08-31 09:41] AndrewJamesTurner commented on #19030
Hi @giuliolovisotto - would it be possible for you share / link to your implimentation of entropy for a GMM? It would be useful for a project I'm curently working on.

[2022-08-31 12:51] utkarshg1 commented on #22689
Tried above No resolving

[2022-08-31 14:23] 3lLobo commented on #24249
@cmarmo fine this way? PR #24309

[2022-08-31 15:55] Micky774 commented on #23462
@jeremiedbb I know this meta-issue is nearly complete, but would it be worth including a list of the helper constraints for new contributors?

[2022-09-01 01:32] hanzigs opened #24310 "AttributeError: 'NoneType' object has no attribute 'copy'"
I am using natureInspiredSearchcv for tuning randomForest classifier, while tuning min_impurity_decrease I am getting following error, May I have some help please
[code]
Is this due to randomForest classifier parameters value issue, like min_impurity_decrease not getting proper values

[2022-09-01 07:20] hanzigs commented on #24310
Yes, It is due to randomForest classifier parameters value issue,
min_impurity_decrease was tuned separately
Thanks

[2022-09-01 07:20] #24310 closed

[2022-09-01 09:12] ogrisel opened #24312 "Coordinate with other scientific python projects to use shared tools and policy to upload nightly build wheels"
See the motivation in this discussion: https://discuss.scientific-python.org/t/interest-in-github-action-for-scipy-wheels-nightly-uploads-and-removals/397

- Draft shared Github Actions config: https://github.com/matthewfeickert/example-nightly-wheels
- New github dedicated org/repo: https://github.com/scientific-python/nightly-wheels/

[2022-09-01 10:33] gknilsen opened #24313 "BayesianRidge prediction standard deviation affected by uniform sample weights"
### Describe the bug

The standard deviation of predictions obtained by setting return_std=True on predict(), is clearly affected by uniform sample_weight vectors on fit(). A uniform sample_weight vector will act as a constant on the likelihood function, and I am therefore questioning the effect it has on the standard deviation of predictions. As shown below by the example, the scale (1 vs. 20) of

[2022-09-01 13:47] ogrisel commented on #24312
For reference, at the moment, we configure the upload of the nightly builds in this config file:

- https://github.com/scikit-learn/scikit-learn/blob/main/.github/workflows/wheels.yml#L202-L228

that calls this script:

- https://github.com/scikit-learn/scikit-learn/blob/main/build_tools/github/upload_anaconda.sh

[2022-09-01 14:20] mendelson commented on #22689
Same here. `threadpoolctl` on 3.1 did not solve my problem.

[2022-09-01 14:30] markemus commented on #17983
Same issue here after installing with conda. Can we reopen this issue please? Rebuilding the whole environment is not a fix.

[2022-09-01 15:28] Micky774 commented on #24008
Closing for now since this does not meet inclusion criteria.

[2022-09-01 15:52] namandalsania commented on #17983
+1

[2022-09-01 22:48] gsiisg opened #24315 "log_loss giving nan when input is np.float32 and eps is default"
### Describe the bug

When input has values that are numpy array of np.float32, 1-eps (with default eps=1e-15) results in 1.0, and log_loss() when calculating log(1-p) with p=1.0 results in nan.

### Steps/Code to Reproduce

[code]

### Expected Results

not nan

### Actual Results

with eps=1e-15 (default): nan

[code]

### Versions

[code]

[2022-09-01 22:51] gsiisg commented on #24315
traced the behavior from np.clip not giving the correct answer for 1-eps, where if the input is numpy array of np.float32, 1-eps = 1.0, which caused log(1-p) with p=1.0 gives the nan.  I initially went to report this to numpy but they say scikit is not supporting array of np.float32 properly.  Please see:
https://github.com/numpy/numpy/issues/22192

[2022-09-02 00:21] Micky774 commented on #24315
Seems reasonable enough. Would you like to open a PR updating the value to the float32 epsilon (i.e. `np.finfo(np.float32).eps`)?

[2022-09-02 01:32] Micky774 commented on #24305
Closing since this is a fairly common request being worked on [here](https://github.com/scikit-learn/scikit-learn/pull/22000) and is a duplicate of several prior issues (e.g. https://github.com/scikit-learn/scikit-learn/issues/7574, https://github.com/scikit-learn/scikit-learn/issues/78).

[2022-09-02 01:32] #24305 closed

[2022-09-02 04:46] Safikh commented on #23462
I would like to take up RANSAC Regressor

[2022-09-02 05:33] ShisuiUzumaki commented on #23896
If this issue is still free, I would like to try it

[2022-09-02 08:10] ogrisel commented on #5435
For the line plots, that need more than the 3 default colors (blue, orange, red), the fourth color is green with the default color map of matplotlib

Two options:

- either add markers (cross, square, upper and lower triangles, ...);
- alternatively, use the `"seaborn-colorblind"`.

[code]

Or you could do both at the same time, as was done in #23708.

https://scikit-learn.org/dev//auto_examples/c

[2022-09-02 08:14] mrastgoo commented on #23462
I would like to work on `Nystroem`

[2022-09-02 08:16] hristo-vrigazov commented on #23462
I am working on `RidgeCV`, `RidgeClassifierCV`

[2022-09-02 08:17] MisaOgura commented on #23462
I'm working on `MultiTaskElasticNet`

[2022-09-02 08:19] MisaOgura commented on #23462
I'd like to work on `RANSACRegressor`

[2022-09-02 08:19] svenstehle commented on #11000
Hi, I checked `GaussianRandomProjection`.
In the `DONT_TEST` list this is referenced as `GaussianRandomProjectionHash` - maybe a typo?

It seems `GaussianRandomProjection` was already fixed in [#22114](https://github.com/scikit-learn/scikit-learn/pull/22114)
The tests introduced in this PR also cover `GaussianRandomProjection`, since it is part of the tested estimators `all_RandomProjection`. Runn

[2022-09-02 08:21] MisaOgura commented on #23462
Working on `OAS`

[2022-09-02 08:22] jeremiedbb commented on #23462
@hristo-vrigazov there's an existing PR for that already. You can check what are the open PRs here https://github.com/scikit-learn/scikit-learn/pulls?q=is%3Apr+is%3Aopen+label%3AValidation

[2022-09-02 08:23] jeremiedbb commented on #11000
@svenstehle Thanks for looking into that. Would you like to open a PR ?

[2022-09-02 08:30] hristo-vrigazov commented on #23462
Oh ok, sorry :D

[2022-09-02 08:33] francesco-tuveri commented on #23462
Working on `OneVsRestClassifier`

[2022-09-02 08:34] svenstehle commented on #11000
Working on `GenericUnivariateSelect`

[2022-09-02 08:44] hristo-vrigazov commented on #21350
Working on ` sklearn.metrics._ranking.coverage_error` with @TheDevPanda

[2022-09-02 08:55] svenstehle commented on #11000
`Birch` was fixed in [#22968](https://github.com/scikit-learn/scikit-learn/pull/22968/files)

[code]

[2022-09-02 08:57] IvanLauLinTiong commented on #11000
Working on `FeatureAgglomeration`.

[2022-09-02 09:04] svenstehle commented on #11000
`BernoulliRBM` was fixed in [#16352](https://github.com/scikit-learn/scikit-learn/pull/16352)

[code]

`MiniBatchDictionaryLearning` seems to have been fixed with PRs [#22002](https://github.com/scikit-learn/scikit-learn/pull/22002) and [#22428](https://github.com/scikit-learn/scikit-learn/pull/22428); but @jeremiedbb pls double-check if that is correct

[code]

[2022-09-02 09:10] betatim commented on #5435
I'm looking at [Empirical evaluation of the impact of k-means initialization](https://scikit-learn.org/dev/auto_examples/cluster/plot_kmeans_stability_low_dim_dense.html#empirical-evaluation-of-the-impact-of-k-means-initialization)

[2022-09-02 09:57] svenstehle commented on #11000
Continuing work of @thibsej on `FactorAnalysis` in [#13303](https://github.com/scikit-learn/scikit-learn/pull/13303/files)

[2022-09-02 09:58] d-kleine commented on #16153
I found an interesting insight to above issue:

[code]

When using plot_tree(), it does not show the "True"/"False" labels for the threshold:
[code]

But the "True"/"False" labels will be printed when using export_graphviz:
[code]

Seems like export_graphviz() is creating "True"/"False" labels for the first condition, but plot_tree() does not.

[2022-09-02 10:48] MisaOgura commented on #11000
Looking at `LocallyLinearEmbedding`

[2022-09-02 11:52] maikia opened #24328 "DOC deprecate is updating a docstring against numpydocs rules"
### Describe the issue linked to the documentation

`sklearn.utils.deprecate` is updating the docstring within `_update_doc()`
This causes the numpydocs to fail during the test with the error:

`GL09: Deprecation warning should precede extended summary`

After discussing with @glemaitre and @ogrisel : the `_update_doc()` should be removed from `sklearn.utils.deprecate` ensuring that the appropriat

[2022-09-02 11:55] Jakobhenningjensen commented on #15256
@thomasjpfan The issue is that if a user have zero items it returns 0 (and not NaN).

[2022-09-02 12:47] ichko commented on #21350
Working on `sklearn.metrics._regression.mean_pinball_loss`

[2022-09-02 13:54] #24253 closed

[2022-09-02 13:57] ogrisel commented on #24328
I agree. This needs a manual inspection of all occurrences to make sure that the deprecated parameters are correctly documented though.

[2022-09-02 14:14] betatim commented on #11000
I think we can tick `SkewedChi2Sampler` in the list as `pytest sklearn/tests/test_common.py -k "SkewedChi2Sampler and check_transformer_preserve_dtypes" -v` says it passes the test.

[2022-09-02 14:35] jeremiedbb commented on #11000
@betatim not yet: this test only runs on float64 by default. To trigger the test on both float64 and float32, you need to set the `"preserve_dtype": [np.float64, np.float32]`.

[2022-09-02 14:54] JesperDramsch commented on #15641
I wanted to cleck this issue, since `plot_partial_dependence` will be deprecated in 1.2 and was replaced by `PartialDependenceDisplay` specifically with the `from_estimator` method.

I think the documentation of `partial_dependence` and `PartialDependenceDisplay` could use some work generally, but it seems to me that the main confusion in this issue is now resolved by the API change:

[code]

[2022-09-02 15:43] bela127 opened #24340 "BUG: GaussianProcessRegressor.predict inplace modifies input X, when passed via kernel"
### Describe the bug

In line 425, 426 of /sklearn/gaussian_process/_gpr.py (inside the predict method) y_var is modified in place:

[code]

If a kernel (e.g. a custom kernel) is used that returns X when diag(X) is called (X[:,0] == var == diag(X)) this leads to the modification of the original X vector.
So now X == y_var - np.einsum("ij,ji->i", V.T, V).

A simple but dirty fix for me is to always

[2022-09-02 15:46] rusdes commented on #24265
@lorentzenchr I'm working on this. I was confused about what warning message to display.
''sparse" was renamed to sparse_output in version 1.x and will be removed in 1.y.

What version numbers should I mention?

[2022-09-02 19:08] jeremiedbb commented on #23462
Each estimator is done. We can now close this big meta-issue. Thanks to every contributor and reviewer who worked on this issue !

[2022-09-02 19:08] #23462 closed

[2022-09-03 04:56] Safikh commented on #21350
Working on `consensus_score`

[2022-09-03 05:33] ryuusama09 commented on #23840
hi , is this issue still open ? . if yes then i am ready to help you

[2022-09-03 07:35] lorentzenchr commented on #24265
Have a look at https://scikit-learn.org/stable/developers/contributing.html#deprecation and also search in the code base for other deprecations that are already in place.

We should aim to deprecate with version 1.2.0 and removing with 1.4.0. Let's see if we make it into the next release.

[2022-09-03 08:55] glemaitre commented on #24328
Thanks @maikia for opening this.

[2022-09-03 17:13] Safikh commented on #24315
Hi, Can I take this?

[2022-09-03 21:01] cmarmo commented on #23840
Hi @ryuusama09 a pull request is already open. Feel free to pick any other [good first issue](https://github.com/scikit-learn/scikit-learn/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) to start contributing.

[2022-09-04 04:13] ryuusama09 commented on #23896
@glemaitre is this issue still open ? . if yes then i would like to contribute !

[2022-09-04 05:54] rprkh commented on #11000
Working on `SkewedChi2Sampler`

[2022-09-04 07:51] glemaitre commented on #24340
Yep, it seems that `diag` will take a copy or a view depending on the NumPy version.
We should trigger a copy then.

@bela127 Do you want to make a PR and add a non-regression test?

[2022-09-04 12:48] Micky774 commented on #24315
Yes, go ahead :)

[2022-09-04 14:24] Safikh commented on #24315
@Micky774  We would face the same issue, if we give a default epsilon of np.finfo(np.float32).eps and the user provides a float16 input.
So, should that be handled as well by having a different eps value for every type? Or going for float16 epsilon by default as that would be the largest epsilon?

[2022-09-04 14:29] Micky774 commented on #24315
Afaik we don't generally support FP16 and hence it would be preferable to keep with FP32 epsilon.

[2022-09-04 15:08] markuswnuk91 opened #24353 "BUG: MLLE implementation does not yield expected results"
### Describe the bug

The implemented manifold learning method Modified Locally Linear Embedding (MLLE) in /sklearn/manifold/_locally_linear.py line 403 ('method==modified') does not produce the expected results, see attached img.

From the reference [3] it is clear that MLLE should reconstruct a lower dimesional manifold which preserves local geometric characteristics of the higher-dimensional in

[2022-09-04 16:51] b0rxington commented on #21350
working on ```sklearn.utils.sparsefuncs.count_nonzero```, ```sklearn.utils.sparsefuncs.csc_median_axis_0```, ```sklearn.utils.sparsefuncs.incr_mean_variance_axis```

[2022-09-04 19:13] abmyii opened #24355 "`type_of_target` returns `unknown` for valid arrays of dtype `object`"
### Describe the bug

`sklearn.utils.multiclass.type_of_target` returns unknown for arrays of integers if they have a dtype of `object`, when it should instead return a valid type.

I would be happy to contribute a fix, but I'm not entirely sure how the failing condition should be corrected:
https://github.com/scikit-learn/scikit-learn/blob/45756377c748d84aa52f66950b8d9eeefc31456c/sklearn/utils/mu

[2022-09-04 22:23] gsiisg commented on #24315
https://github.com/scikit-learn/scikit-learn/pull/24356

- added check to see if input is np.float32 or np.float16
- if detected, change eps to satisfy input precision
- added documentation describing the change
- added warning message to user when this happens

The change @Safikh  proposed would fix my immediate problem (Thank you!), but...
- does not fix np.float16 (may not be an issue if everyo

[2022-09-05 00:17] gsiisg commented on #24315
Not sure how to fix this in the pull request
<img width="451" alt="Screen Shot 2022-09-04 at 5 16 02 PM" src="https://user-images.githubusercontent.com/19766295/188339179-4a38df02-a854-47d3-beeb-8dc03e6d75b1.png">

[2022-09-05 09:42] OmarManzoor commented on #21350
Working on sklearn.metrics.cluster._bicluster.consensus_score and sklearn.metrics.cluster._supervised.adjusted_mutual_info_score

[2022-09-05 10:00] glemaitre commented on #23896
@ryuusama09 I think that @ShisuiUzumaki is working on it.
Please sync together.

[2022-09-05 10:26] ShisuiUzumaki commented on #23896
@ryuusama09 feel free to take this issue since I am a bit busy.

[2022-09-05 11:55] lorentzenchr commented on #17784
I'm trying to conclude this issue.
First, the proposed feature is available in scikit-lego, https://scikit-lego.netlify.app/api/dummy.html (@koaning, thanks for that packages btw).
Second, a constant prediction (mean or quantile) is usually a better reference model than pure random predictions which could be arbitrarily bad (in terms of loss/score).
Third, for regression tasks there are just so ma

[2022-09-05 11:55] #17784 closed

[2022-09-05 12:13] drskennedy commented on #10201
On Mac with Python 3.10, a similar solution as suggested by @AEDWIP worked:

`% sudo /Applications/Python\ 3.10/Install\ Certificates.command`

[2022-09-05 12:53] #24249 closed

[2022-09-05 14:23] ryuusama09 commented on #23896
alright, although can you update me with what youve done till now ?

[2022-09-05 14:47] glemaitre commented on #24355
[code]

This is quite a twisted use case. `series` was created to be an `object` array used for strings. However, you are reassigning manually integers within this `object` container. Therefore, instead of having an integer NumPy array (would we be fine), you have an `object` series containing some integer.

I assume that in this case, we could try to specify better the error message by checking w

[2022-09-05 14:54] abmyii commented on #24355
Hmm, perhaps. I understand it's not the greatest way of doing things, but this wasn't my code - I used the following example (https://github.com/serengil/tensorflow-101/blob/master/python/Ensemble-Face-Recognition.ipynb), where the initial values ("No", "Yes") are changed to (`0`, `1`) for training, definitely a conceivable use-case.

Even that would definitely be very helpful!

[2022-09-05 14:55] glemaitre commented on #24315
Just mentioning what @ogrisel proposed in one of the PR.

It would be better to introduce a `"auto"` solution that will switch depending on the dtype using: `np.finfo(y_pred.dtype).eps`.

[2022-09-05 14:57] glemaitre commented on #24355
Oh I forgot this part of my answer. Indeed, you can pass directly the string to a scikit-learn classifier because it will be internally encoded. The second possibility is to use the `LabelEncoder` that will properly do the transform intended (and to invert the transform as well).

[2022-09-05 15:07] abmyii commented on #24355
Yup, that is certainly a very useful feature! I'm not sure if LightGBM can also handle string labels though - which is what is being used in the notebook. If so, then I guess the author wasn't aware of that.

Regarding the issue, perhaps the parameters could be converted to lists before the attempting to infer the type?

[2022-09-05 15:47] abmyii commented on #24355
Ah, I see. Even just an error mentioning that the dtype is `object` would be really useful for pointing users in the right direction.

[2022-09-05 16:22] thomasjpfan commented on #22425
In https://github.com/scikit-learn/scikit-learn/pull/24363, we had to manually undo the pypy environment and the conda defaults environment. I think the future bot should open one PR for each environment. This way an issue with one environment does not block other environments from updating. If this ends up to be too many PRs, we get the bot to auto merge, or configure GitHub to only auto-merge th

[2022-09-05 16:30] Josuerinho opened #24364 "Deprecated is_first_col() function"
https://github.com/scikit-learn/scikit-learn/blob/36958fb240fbe435673a9e3c52e769f01f36bec0/examples/decomposition/plot_varimax_fa.py#L72

The is_first_col function was deprecated in Matplotlib 3.4 #40714 (https://github.com/pandas-dev/pandas/issues/40714). Could you change the function by get_subplotspec().is_first_col() instead? Thanks!

Josu

[2022-09-05 16:45] thomasjpfan commented on #24364
I agree that we should update the example. Do you want to open a pull request with your suggestion?

[2022-09-05 18:18] lorentzenchr commented on #17978
I tried the gist
<details>

[code]

</details>
and can't reproduce with the current version 1.1.2.

[2022-09-05 18:34] #22575 closed

[2022-09-05 20:00] ogrisel commented on #22811
I am fine with allowing p<1.0 it in KNNClassifier without a warning when using the bruteforce method as it's perfectly fine to compute the datapoints with the lowest pseudo-metric values.

But we should still raise an exception when using ball-tree because then the triangle inequality is required to return correct results.

The `DistanceMetric` subclasses could expose an additional attribute `true

[2022-09-05 20:07] ogrisel commented on #22811
Actually a pseudo metric would still satisfy the triangular inequality. It's just that d(x, y) = 0 does not imply the identity x = y.

But still the `KNNClassifier` results would still be correct if the neighbors are computed with the bruteforce method. I would just document that it's not a metric for p<1.0 in the docstring.

[2022-09-05 20:15] #24262 closed

[2022-09-05 21:00] adam2392 commented on #24000
Hi @jjerphan sorry about logging in late. Today was Labor Day in the USA, so I was actually traveling during this time. I tried joining a bit after the meeting had started, but the Google meets needed someone to "let me in". I think the meeting probably ended cuz I wasn't let in, so left after a few minutes.

Wanted to follow up to see what I could do to help out with making trees more modularizab

[2022-09-05 21:37] jeremiedbb commented on #22811
Actually minkowski with p<1 does not satisfy triangle inequality (take points (0,0), (1,1) and (0,1), example from wikipedia)

[2022-09-06 03:57] zadilkhwaja commented on #21350
Working on  sklearn.utils.shuffle

[2022-09-06 05:07] ryuusama09 commented on #23896
regarding these changes , In what file are they to be made . Actually i am a beginner and have no good idea as in what to do so if could guide me a bit ?

[2022-09-06 05:53] lucyleeow opened #24369 "DOC Clarify documentation writing guideline"
### Describe the issue linked to the documentation

The ['Guidelines for writing documentation'](https://scikit-learn.org/dev/developers/contributing.html#guidelines-for-writing-documentation) section seems to be specifically about docstrings and the suggestions don't seem to be as relevant for other types of documentation, e.g., example, tutorial, usage pages.

### Suggest a potential alternative

[2022-09-06 07:20] #21525 closed

[2022-09-06 10:54] Micky774 commented on #24353
Thank you for pointing this out @markuswnuk91. I think this is just due to the use of `modified_tol=0.8` in the plotting demo. Allowing it to use the default value of `1e-12` instead of manually setting it to ` 0.8` seems to fix this:

![download](https://user-images.githubusercontent.com/34613774/188617474-33cc96fd-1e83-4a50-a475-fd5893d90715.png)

Would you be interested in opening a PR to corre

[2022-09-06 13:51] x110 commented on #23896
@ryuusama09 Please note that I have submitted a pull request for this issue, waiting for it to get reviewed.

[2022-09-06 15:49] ogrisel opened #24378 "DOC: new example on feature engineering for time-series forecasting with prediction intervals"
For EuroScipy 2022, I gave a tutorial on how to use pandas-engineered lagged and windowed features for time series forecasting with scikit-learn regressors.

Here is the notebook:

- https://nbviewer.org/github/ogrisel/euroscipy-2022-time-series/blob/main/plot_time_series_feature_engineering.ipynb

I think it might be worth investing some effort to reuse some of that material to turn it into a tut

[2022-09-06 15:59] ogrisel commented on #15750
Note that we now have `SplineTransformer` with the cyclical extrapolation option which can be used to somehow address this use case as explained in this example:

https://scikit-learn.org/dev/auto_examples/applications/plot_cyclical_feature_engineering.html

In particular in the example we show how to use a function transformer to do trigonometric feature engineering manually and further show that

[2022-09-06 16:00] ogrisel commented on #15750
I didn't mean to close this issue right away. Let's give it a bit more time for people to react to my last comment and close it after a while if not further feedback.

[2022-09-06 17:02] hsorsky commented on #16426
Another point on this in favour of NOT dropping columns of all NaNs at fit time is that it makes calculation of output feature names (via `get_feature_names_out`) possible pre-fit, assuming we pass in a valid `input_features`.

[2022-09-06 21:00] giuliolovisotto commented on #19030
Hi @AndrewJamesTurner, I have not touched this further since opening the issue but I can share this [gist](https://gist.github.com/giuliolovisotto/6be0d5630e0ffad354e33491bfacecb9) which should contain what you need.

There's two functions to compute the entropy lower and upper bounds given a fit `sklearn.mixture.GaussianMixture`. Hope the rest is clear enough.

[2022-09-07 05:47] a-parida12 opened #24381 "Inconsistency in AUC ROC and AUPR API"
### Describe the bug

When only one class is present on the groundtruth. The function `roc_auc_score` throws an `ValueError` and exits while the `average_precision_score` returns `-0.0`. I feel that both functions should return similar output in this case.

### Steps/Code to Reproduce

[code]

### Expected Results

auc_roc = roc_auc_score(y_true, prob) >> throws `ValueError: Only one class present

[2022-09-07 09:58] ogrisel commented on #24369
I don't think this is limited to docstrings. What makes you think so?

[2022-09-07 10:34] lucyleeow commented on #24369
Fair, reading it again I can see how it has more general tips than I originally thought, though maybe not necessarily relevant for all types of documentation.

I think the problem may better be described as it seems very prescriptive, i.e., too specific in detailing exactly what to include and the order, e.g.
1. hand-waving explanation
2. why method is useful and when it should be used
3. figure
4

[2022-09-07 11:16] adrinjalali commented on #15750
I quite agree that it seems we now support this. So happy to have it closed and re-open if still needs more work.

[2022-09-07 11:16] #15750 closed

[2022-09-07 12:47] lorentzenchr commented on #22811
What's our conclusion?
1. Do not allow p<1 and raise an error (current behaviour).
   Action: Improve error message and close this issue.
2. Allow it and raise a warning.
   Action: PR to allow p<1 with warnings and tests.

I'll vote for 1. as I don't have seen a convincing use case to allow it, and on top of it, it is available via passing `scipy.spatial.distance.cdist(X, Y, "minkowski", p=0.1)`

[2022-09-07 12:50] ogrisel commented on #22811
1. is definitely simpler to implement and maintain but is somewhat artificially limiting the potential use cases for this class.

`scipy.spatial.distance.cdist(X, Y, "minkowski", p=0.1)` is a potential work around be would not benefit from the optimized / chunked / parallel Cython implementation of the  pairwise distance + reduction computation.

[2022-09-07 12:53] jeremiedbb commented on #22811
I would allow it for brute force and raise for KD/ball-tree, but no strong opinion.

[2022-09-07 12:55] lorentzenchr commented on #22811
@ogrisel What is your favorite option for which you would vote?

[2022-09-07 13:09] jeremiedbb opened #24387 "Deprecate n_features_ in PCA"
When n_features_in_ was introduced for all estimators, some estimators already had a `n_features_` attribute that was deprecated in favor of n_features_in_. It should have been done for PCA and RFE as well, but we must have missed it. We need to deprecate in 1.2 for removal in 1.4 now.

[2022-09-07 13:13] ogrisel commented on #22811
+1.

[2022-09-07 13:32] GLevV commented on #24381
`average_precision_score` is not an area under precision-recall curve, it's a different metric though

[2022-09-07 13:38] lorentzenchr commented on #22811
I could live with that. What do the others think? @raymondj-pace, @jjerphan, @adrinjalali @eschibli?

[2022-09-07 13:47] a-parida12 commented on #24381
@GLevV isn't it an discrete estimation of the area under the PR curve?
https://glassboxmedicine.com/2020/07/14/the-complete-guide-to-auc-and-average-precision-simulations-and-visualizations/

[2022-09-07 14:24] jjerphan commented on #22811
Works for me. :+1:

[2022-09-07 14:39] SebGruber1996 opened #24390 "Example performs data preprocessing before train-test split occurs"
### Describe the issue linked to the documentation

[This example](https://scikit-learn.org/stable/auto_examples/classification/plot_classifier_comparison.html#sphx-glr-auto-examples-classification-plot-classifier-comparison-py) uses the following code

    X = StandardScaler().fit_transform(X)

    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.4, random_state=42

[2022-09-07 17:01] IvanLauLinTiong commented on #24387
Hi @jeremiedbb , can I work on this issue?

[2022-09-07 17:35] jeremiedbb commented on #24387
Sure, go ahead !

[2022-09-07 19:06] houhashv opened #24392 "StackingClassifier crashes with stack_method="predict""
### Describe the bug

I trained a StackingClassifier with 8 estimators and logistic regression final estimator, with stacking method of "predict" and after the fit, when i try to do predict i get this error:

Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/root/anaconda3/lib/python3.9/site-packages/sklearn/ensemble/_stacking.py", line 627, in predict_proba
    re

[2022-09-08 06:50] OmarManzoor commented on #24340
@glemaitre Can I work on this issue?

[2022-09-08 07:52] x110 commented on #24381
Actually, they are different.
Check [sklearn.metrics.precision_recall_curve](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_recall_curve.html#) for PRcurve

[2022-09-08 07:54] houhashv commented on #24392
it was my bug

[2022-09-08 07:54] #24392 closed

[2022-09-08 08:51] glemaitre commented on #24387
We should have a separate PR for these 2 estimators. For `RFE`, I think that we should rename the attribute because it is a misleading name. It should be something like `n_features_selected_` that is different from `n_features_in_`. Indeed, it would correspond to `n_features_out_`.

[2022-09-08 08:55] jeremiedbb commented on #24387
As pointed out by @glemaitre, n_features_ in RFE is not equivalent to n_features_in_, so let's deprecate it only in PCA for now. we'll deal with RFE when introducing n_features_out_

[2022-09-08 09:10] glemaitre commented on #24340
Feel free to submit a PR.

On Thu, 8 Sept 2022 at 08:51, Omar Salman ***@***.***> wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2022-09-08 09:20] glemaitre commented on #24390
I don't think that we should be using the estimator API here. If we use the estimator API then, we should show the usage of the `Pipeline` directly.

I would rather add a small block of code that could be part of the data generation that uses `sklearn.preprocessing.scale` with an explicit comment that for simplicity we use it but in practice, one needs to define a ML model where the preprocessing

[2022-09-08 09:57] NicolasHug commented on #24390
Maybe we could stick to a pipeline by just wrapping the `classifiers` list?

[code]

[2022-09-08 15:53] jeremiedbb opened #24401 "RFC bump up dependencies for 1.2"
This is an issue to discuss what will be the min versions of our dependencies for the 1.2 release, targeted in november.

Here's the list of our current min versions
[code]

Following [NEP 29](https://numpy.org/neps/nep-0029-deprecation_policy.html), we should keep support for python 3.8 for this release, and drop support for numpy 1.19.

Looking at the ``fixes`` module, we could benefit from
- th

[2022-09-08 17:34] bela127 commented on #24340
I would leave the PR for @OmarManzoor, as he seams eager to contribute, and I think everything is straight forward.

I'm happy to have helped 😉.

[2022-09-09 02:36] mauriciocramos commented on #8587
Can we know why that default is 2 chars?  Any reference. Thanks.

[2022-09-09 05:13] Kshitij68 commented on #24401
Hi @jeremiedbb ,
I'd love to contribute for this. I think individual PRs to update each requirement should be the way to go.

Would it be possible to already start or should we wait for the full list?

[2022-09-09 05:27] Kshitij68 commented on #21350
Working on `sklearn.metrics._plot.precision_recall_curve.plot_precision_recall_curve`

[2022-09-09 05:37] OmarManzoor commented on #24340
Thank you very much.

[2022-09-09 08:04] adrinjalali commented on #22811
Sounds like a good resolution to me.

[2022-09-09 08:13] jeremiedbb commented on #24401
@Kshitij68 we first need to agree on the min versions. For instance, we don't always strictly follow NEP28.

[2022-09-09 08:38] #24390 closed

[2022-09-09 09:21] #9104 closed

[2022-09-09 09:22] betatim commented on #20320
I think this was solved in #20415 so we can close this issue.

I tried the digits based example given in the first comment and on the current `main` there are no more NaNs in `feature_importances_`.

[2022-09-09 09:36] ogrisel commented on #24401
To clarify the reasoning behind applying NEP 29 strictly:

If we release in 2022-11, 24 months prior is 2020-11.

Here are the main runtime dependencies projects history:

- https://pypi.org/project/numpy/#history
- https://pypi.org/project/scipy/#history

So that would indeed mean Python 3.8, numpy 1.19 and scipy 1.5.

We can be a bit more conservative and support numpy 1.18 and scipy 1.4. I assu

[2022-09-09 09:44] glemaitre commented on #20320
Thanks @betatim to point this out.
Closing.

[2022-09-09 09:44] #20320 closed

[2022-09-09 11:38] OmarManzoor commented on #11000
@jeremiedbb, @glemaitre
Is there any part of this issue that is remaining and can be worked on or all of them are taken or complete?

[2022-09-09 11:49] ogrisel commented on #18553
Related discussion: #23436.

[2022-09-09 11:51] ogrisel commented on #23436
There is a stalled open PR for `drop="most_frequent"` here: #18679.

[2022-09-09 12:00] glemaitre commented on #11000
I don't see any PR for `Isomap`.

[2022-09-09 12:10] OmarManzoor commented on #11000
I see. It is mentioned above along with the issue https://github.com/scikit-learn/scikit-learn/issues/15474. Does that issue need to be completed first in order to work on Isomap within the current one?

[2022-09-09 12:14] glemaitre commented on #11000
It seems so.

[2022-09-09 13:50] piklev opened #24409 "GridSearchCV does not seem to recognize whether estimators from StackingClassifier are fitted or not"
### Describe the bug

There seems to be a bug with the combination of `GridSearchCV` and `StackingClassifier` when the parameter `cv` of  `StackingClassifier` is set to 'prefit'. With this option, the estimators of the `StackingClassifier` should be fitted before fitting the stacked model, and only the final_estimator would then be fitted. When including the `StackingClassifier` within `GridSearch

[2022-09-09 16:34] thomasjpfan commented on #24254
Thank you for opening the issue. One would need to profile the implementation to see what the slow parts are to move forward on this issue.

[2022-09-09 16:42] thomasjpfan commented on #24247
From the triaging meeting, we think this would be a good inclusion. Although, there are already many splitter classes in API: https://scikit-learn.org/stable/modules/classes.html#splitter-classes, adding a new splitter for "repeated" is the current status quo.

[2022-09-09 16:52] morganmcg1 commented on #24281
Hey @julien-blanchon! I work at wandb, curious what you meant by:

I think it should be possible to create your own parallel coordinates plot with wandb no? Or is it the sklearn & wandb integration that isn't working for you? Happy to see if I can help here :)

[2022-09-09 17:14] thomasjpfan commented on #24281
During the triaging meeting, we decide that this feature is interesting, but not high priority. We do welcome upvotes on this issue to gauge interest. On this note, the PR https://github.com/scikit-learn/scikit-learn/pull/23740 has [an example](https://output.circle-artifacts.com/output/job/8735e9ab-a82e-4503-8715-ba42ed222f88/artifacts/0/doc/auto_examples/model_selection/plot_grid_search_text_fea

[2022-09-09 18:12] ducvinh9 opened #24411 "MLPRegressor - Validation score wrongly calculated"
### Describe the bug

In MLPRegressor, if the option early_stopping is set as True, the model will monitor the loss calculated on the validation set in stead of the training set, using the same loss formulation which is the mean squared error. However, as implemented in the line 719 in the source code:
[code]
The function "score", returns (to confirm) the coefficient of determination, is used.  Th

[2022-09-09 19:03] rusdes commented on #24265
@lorentzenchr Shouldn't it be `OneHotEncoder` instead of `OrdinalEncoder`? This comment https://github.com/scikit-learn/scikit-learn/pull/24145#discussion_r946532252 talks about making changes to `OneHotEncoder`.

I've gone ahead and added `sparse_output` to `OneHotEncoder`. Let me know if I missed anything.
Thanks!

[2022-09-09 20:08] amueller commented on #21838
Amazing I didn't realize there was progress on this! I slightly prefer the protocol version, but having either is going to be really amazing.

I don't think current clone is simple, me and @thomasjpfan were discussing its behavior right now, and we both needed to read the source code to understand the behavior. If neither of us could remember what it does, I don't think it's simple.

[2022-09-09 20:49] cmarmo commented on #2601
@ogrisel, @lorentzenchr and @agramfort [comments](https://github.com/scikit-learn/scikit-learn/issues/3020#issuecomment-869178132) suggest that this issue can be closed. Am I wrong?

[2022-09-09 21:15] cmarmo commented on #4795
@smarie , due to the lack of answer to your last comment and the merge of #12069, do you think this one can be closed? Thanks!

[2022-09-09 21:18] AP6YC commented on #24187
Here is the current development repository/package for the batch and incremental CVI implementations: https://pypi.org/project/cvi/

[2022-09-10 01:20] #16853 closed

[2022-09-10 05:24] rprkh commented on #23254
Working on this

[2022-09-10 08:28] #24364 closed

[2022-09-10 13:02] #23254 closed

[2022-09-10 15:46] andportnoy commented on #12794
I started PR #24415, will try to make slow but steady progress on the weekends.

[2022-09-10 16:01] andportnoy commented on #12794
Does anyone know why it makes sense to run a sparse SVD algorithm on dense data?

Current PCA implementation clearly only accepts dense data:
https://github.com/scikit-learn/scikit-learn/blob/f3f3a804d7386e80003655c44d0a9faa707a618f/sklearn/decomposition/_pca.py#L468-L472

And yet it calls `scipy.sparse.linalg.svds` if `method='arpack'` is specified:
https://github.com/scikit-learn/scikit-learn/bl

[2022-09-10 16:02] julien-blanchon commented on #24281
Hi @morganmcg1, sklearn wandb integration work well ! I was talking about the Hyperparameter Sweeps integrated parallel coordinates chart (https://wandb.ai/site/articles/introduction-hyperparameter-sweeps). It doest the jobs but I need "extensive" work to make it work and you need wandb (which a bunch of other things) anyway to visualize your parallel plot. My proposition was more like adding a sm

[2022-09-10 16:03] andportnoy commented on #12794
`git blame` points to @giorgiop, but don't know if he'd be able to remember given how long ago that change was made.

[2022-09-10 16:13] julien-blanchon commented on #24281
Hi @thomasjpfan, I'm happy to ear news !
The PR https://github.com/scikit-learn/scikit-learn/pull/23740 has [an example](https://output.circle-artifacts.com/output/job/8735e9ab-a82e-4503-8715-ba42ed222f88/artifacts/0/doc/auto_examples/model_selection/plot_grid_search_text_feature_extraction.html) is excellent  solution. However it's still plotly. I wanted to make a matplotlib solution at the first

[2022-09-10 16:31] lobpcg commented on #12794
Of course, as soon as it is faster and/or takes less memory, which typically happens for very large data sets while only a small fraction of singular vectors is computed. Also, sparse solvers are matrix-free, i.e., the data does not even need to fit the available memory.

[2022-09-10 17:00] andportnoy commented on #12794
I see. I'll have to check but the fear is that a sparse algorithm converts dense inputs to a sparse representation, which would be... inefficient.

[2022-09-10 18:17] lobpcg commented on #12794
It doesn't. All svds sparse algorithms in SciPy are matrix-free, i.e., they don't modify the data matrix M in any way, so the matrix access is read only to perform products by M.

[2022-09-10 18:55] andportnoy commented on #12794
Got it, thank you.

[2022-09-11 13:41] agramfort commented on #2601
Yes now that normalize is gone we can close.

[2022-09-11 13:41] #2601 closed

[2022-09-11 16:50] symeneses commented on #23839
Thanks @thomasjpfan and @reshamas for your comments. I opened the PR #24420 which includes the recommended changes. 3 generic categories were created to avoid categories with one or few questions.

[2022-09-11 23:01] Kshitij68 commented on #21876
Going through comments in here and in #22312, here are my findings:-
- Suggested by @thomasjpfan  was to directly using `KNeighborsClassifier`. This is non-trivial as `KNeighborsClassifier` expects both X and Y values ( while the fit call for `LocalOutlierFactor` does not actually use `y` argument at all)
- Using composition to circumvent using `KNeighborsMixin` as parent class is possible, but I

[2022-09-11 23:33] bmreiniger commented on #24409
I believe this is because the search clones its estimator `stack`, and that in turn clones the base `stack.estimators` so that indeed they are not fitted when each hyperparameter setting attempts to fit.  This is called out (indirectly) in the [Glossary entry for metaestimators](https://scikit-learn.org/stable/glossary.html#term-metaestimators):

See also the broader issue #8370.

Is there precede

[2022-09-12 00:05] Kshitij68 commented on #24387
Hi @jeremiedbb @glemaitre ,
I have picked up this issue and raised PR

[2022-09-12 03:05] scikit-learn-bot opened #24424 "⚠️ CI failed on Linux_Nightly.pylatest_pip_scipy_dev ⚠️"
**CI is still failing on [Linux_Nightly.pylatest_pip_scipy_dev](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=47587&view=logs&j=dfe99b15-50db-5d7b-b1e9-4105c42527cf)** (Oct 13, 2022)
- test_searchcv_raise_warning_with_non_finite_score[GridSearchCV-specialized_params0-True]
- test_searchcv_raise_warning_with_non_finite_score[RandomizedSearchCV-specialized_params1-True]

[2022-09-12 03:53] zadilkhwaja commented on #21350
Working on sklearn.utils.safe_mask and sklearn.utils.safe_sqr

[2022-09-12 06:53] lesteve commented on #24424
One of the issue is a DeprecationWarning because `scipy.misc.face` has moved to `scipy.datasets.face`
https://scipy.github.io/devdocs/reference/generated/scipy.misc.face.html
![image](https://user-images.githubusercontent.com/1680079/189590901-d59d2941-dd20-4f26-8a53-c6bdaa0fe172.png)

I guess we need a `utils.fixes` for this. There may be other issues, not 100% sure.

[2022-09-12 08:16] agramfort commented on #21876
then the solution to me is to introduce a new mixin class that LOF would not inherit from.

[2022-09-12 08:19] AndrewJamesTurner commented on #19030
Hi @giuliolovisotto - Thank you for taking the time to send this over, much appreciated!

[2022-09-12 08:30] glemaitre commented on #24409
Indeed, the issue comes from cloning where any nested estimator will be cloned regardless of some parameters of the meta-estimator. Here, the `cv="prefit"` should indicate to the cloning that it should not try to clone the `estimators`.

We should be able to overwrite the cloning for such case. I think that the following SLEP would be relevant: https://github.com/scikit-learn/enhancement_proposals

[2022-09-12 10:32] OmarManzoor commented on #22893
Hi @adrinjalali Can I work on this issue?

[2022-09-12 11:52] #24340 closed

[2022-09-12 12:48] smarie commented on #4795
Yes @cmarmo good suggestion - let me close it now. @huibinshen please come back to us if the above answer did not remove your doubts.

[2022-09-12 12:48] #4795 closed

[2022-09-12 14:17] adrinjalali commented on #22893
@OmarManzoor you can give it a try, but beware the work in this issue is very involved, I would probably recommend something less involved at this point for you, but giving it a try doesn't hurt :)

[2022-09-12 15:03] levkovalenko commented on #18669
Hi guys, I'm actually have this problem. Will there be a solution soon?

[2022-09-12 17:36] bmreiniger commented on #24381
The documentation here confirms that it is a particular kind of estimation of the area under the PR curve (or rather, that the PR curve itself needs to be interpolated between discrete points):

See also the Notes from the `PrecisionRecallDisplay`:

---

As to the behavior, I get 1.0 instead of 0.0 when running your code.  If I make the only class something other than 1 (the default positive class

[2022-09-13 02:59] Masatsugar commented on #7834
The same issue happened to me. This is because the sample size varies depending on a type of split.

https://github.com/scikit-learn/scikit-learn/blob/36958fb240fbe435673a9e3c52e769f01f36bec0/sklearn/model_selection/_validation.py#L1517

In the case of `TimeSeriesSplit()`, the training sample will be smaller. Instead, it should be simply modified to

`n_max_training_samples = len(cv_iter[-1][0]))`

[2022-09-13 04:28] MaxwellLZH commented on #24411
Hi @ducvinh9 , thank you for reporting the issue.

The coefficient of determination is calculated as `1 - u / v`, where `u` is sum of square errors `((y_true - y_pred) **2).sum()` and `v` is the total sum of squares `((y_true - y_true.mean()) **2).sum()` .

Therefore a larger coefficient of determination is equivalent to smaller mean squared error.

[2022-09-13 05:35] cmarmo commented on #20245
If I'm not mistaken this issue can be close as solved by #20431.
@knoam feel free to open a new one with your proposition. Thanks!

[2022-09-13 05:35] #20245 closed

[2022-09-13 06:19] EpicWink opened #24427 "Python 3.11 wheels"
### Describe the workflow you want to enable
Installing scikit-learn for Python 3.11

### Describe your proposed solution
Add Python 3.11 `python: 311` to cibuildwheel CI job matrix

### Additional context
Likely you'll want to wait for scipy/scipy#16851 to land

[2022-09-13 06:48] cmarmo commented on #20740
@ArturoAmorQ , if I understand correctly, you reworked the example and it seems to me that this issue can be closed.
Could you please confirm? Thanks!

[2022-09-13 07:00] woctezuma commented on #20740
The plot looks good.

![Plot](https://i.imgur.com/9HJRHTM.png)

[2022-09-13 07:04] ArturoAmorQ commented on #20740
Yes, I confirm that the issue has been fixed.

[2022-09-13 07:35] ducvinh9 commented on #24411
Hi @MaxwellLZH,

Thank for your reply. It is true that a larger coefficient of determination is equivalent to smaller mean squared error, but I think we should not use them interchangeably for the the following reasons:

- With neural networks, one wants to model a non linear model. And R-squared is not a valid metric in this case. See the following links for more details: [link1](https://statisti

[2022-09-13 08:05] jjerphan commented on #24427
@cmarmo: would you be interested to work on this? :slightly_smiling_face:

[2022-09-13 09:55] #24387 closed

[2022-09-13 10:34] MuellerSeb commented on #19038
@rth The haversine metric is basically derived from the great-circle distance on the sphere, which is the shortest distance between two points a and b on a sphere. If the triangle inequality wouldn't hold for a counter-example that would mean, going from a to b over c is shorter than going from a to b directly following a great circle and this is a contradiction to the defining property of the gre

[2022-09-13 11:13] Masatsugar commented on #7834
I noticed this issue when I tried to compare the  score of `cross_val_score()` with that of `learning_curve()` with `TimeSeriesSplit()`.

As @indianajensen wrote, in order to use full training set in learning_curve, it seems that the simple solution to it is to modify the line 1517

https://github.com/scikit-learn/scikit-learn/blob/36958fb240fbe435673a9e3c52e769f01f36bec0/sklearn/model_selection/_

[2022-09-13 12:23] OmarManzoor commented on #22893
I tried checking out LogisticRegressionCV. On comparing it with the other meta-estimators whose PRs have been created and going through the overall mechanism of routing, this one seems a bit different as it does not seem to contain any child estimators. Instead it inherits from LogisticRegression and calls the functions _log_reg_scoring_path and _logistic_regression_path. Moreover it seems that th

[2022-09-13 14:15] amano-takahisa opened #24428 "`MinMaxScaler.fit_transform()` overflow when input array is `float16`"
### Describe the bug

I often use `float16` array to save working memory, but when I use `MinMaxScaler.fit_transform()`, some values overflow and become `inf`.
This occurs even if the transfomed values can fit to the range of float16.

### Steps/Code to Reproduce

[code]

### Expected Results

[code]

### Actual Results
With warnings `/home/takahisa/miniconda3/envs/sklearn_latest/lib/python3.8/sit

[2022-09-13 14:22] ogrisel commented on #24427
Cross-referencing a related discussion on scientific-python.org for inter-project coordination:

- https://discuss.scientific-python.org/t/spec-4-nightly-wheels/474/3

[2022-09-13 14:31] MuellerSeb commented on #19038
But I still think, there are other reasons, why the haversine metric should be used with caution with KD-Trees:
https://stackoverflow.com/a/38211329/6696397

[2022-09-13 14:45] Jakobhenningjensen opened #24429 ""StackingClassifier" throws ValueError when cv = "prefit""
### Describe the bug

When I use the `StackingClassifier`, I get the error "ValueError: Expected cv as an integer, cross-validation object (from sklearn.model_selection) or an iterable. Got prefit."  when calling the `.fit` method

### Steps/Code to Reproduce

[code]

### Expected Results

Expected to fit the model. According to the [docs](https://scikit-learn.org/stable/modules/generated/sklearn.

[2022-09-13 15:27] ryuusama09 commented on #20435
Hi @cmarmo , I am a beginner and I would like to help

[2022-09-13 15:35] GuillemGSubies opened #24430 "`cross_val_score` crashes with `StackingRegressor`"
### Describe the bug

I'm trying to make a simple stacking and getting the cross validation score but an error raises:

`NotFittedError: This RandomForestRegressor instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.`

### Steps/Code to Reproduce

[code]

### Expected Results

It should work fine if I am understanding everything right.

### Actual Results

[2022-09-13 16:30] thomasjpfan commented on #24430
Thank you for opening this issue! Overall, this is a limitation of scikit-learn's API. `cross_val_score` will clone the estimator when performing cross validation. This means the pre-fitted estimator in `StackingRegressor` will "reset" and lose it's fitted properties.

https://github.com/scikit-learn/enhancement_proposals/pull/67 is the enhancement proposal that can fix this. There are two ways th

[2022-09-13 18:12] cmarmo commented on #20435
@ryuusama09 , welcome! If you are willing to work on this issue please have a careful look to @NicolasHug [comment](https://github.com/scikit-learn/scikit-learn/issues/20435#issuecomment-872835169).
Also, in the [contributor guide](https://scikit-learn.org/dev/developers/contributing.html#contributing-code) you will find all the information you need to start contributing.

[2022-09-13 18:46] cmarmo commented on #24427
@jjerphan: yes, if I am allowed to experiment a bit, but please don't expect a quick PR, it seems to me that some details should still be fixed in a number of dependencies.

[2022-09-13 20:20] rth commented on #19038
My math on the sphere is pretty bad, and it sounds like you are right :)

Thanks for investigating! Probably safter to keep it closed then?

[2022-09-13 21:04] petergaultney commented on #7981
This has bitten us within a GridSearchCV.

The workaround suggested by @lesteve did a great job; we ended up having to subclass `joblib.LokyBackend`, hack its `configure` method to set `max_nbytes=None`, and then use the `joblib` facilities for setting the backend directly. Kind of a disaster, but it works.

[2022-09-13 22:14] thomasjpfan commented on #21895
As noted in https://github.com/scikit-learn/scikit-learn/pull/21925#issuecomment-1246002997, I think this is more of a documentation issue on how we rank ties. A long term solution would be to have a callable to allow users to specific how they want to rank the results.

[2022-09-14 06:16] GuillemGSubies commented on #24430
Thanks for the fast response! What you say makes sense, indeed.

Would changing that clone for a deepcopy work as a workaround?

[2022-09-14 06:25] GuillemGSubies opened #24432 "StackingRegressor does not allow classifiers as estimators (and vice versa)"
### Describe the workflow you want to enable

I'm facing an ordinal regression problem. In these kind of problems, both a classifier or a regressor can be used as a naive approach.

I'm trying to stack both of them, however sklearn does not allow me to do that. The error is raised from the next line:

https://github.com/scikit-learn/scikit-learn/blob/36958fb240fbe435673a9e3c52e769f01f36bec0/sklear

[2022-09-14 07:48] Jakobhenningjensen opened #24434 "Different dataset for different models when using StackingClassifier"
### Describe the workflow you want to enable

Since stacking is a combination of different models, the different models might have different features i.e is is rather often that the same dataset does not fit different models (or it is a sub-optimal dataset for one of the models).

E.g a "LightGBM" classifier can handle categorical values by it self, where we in LogisticRegression have to handle th

[2022-09-14 09:14] cmarmo commented on #24427
I have started to work on this on my [fork](https://github.com/cmarmo/scikit-learn/tree/wheel-python-311), to avoid using scikit-learn gh-action time.
- The two MacOS wheels are failing during the build with the same error (see eg the [x86_64 build](https://github.com/cmarmo/scikit-learn/actions/runs/3050969258/jobs/4918659784)): I don't know why, if someone has any idea about that, I would be hap

[2022-09-14 11:35] jeremiedbb commented on #24428
Hi @amano-takahisa, thanks for the report. Please provide the unscaled array in your snippet so that we can try to reproduce.

[2022-09-14 11:39] amano-takahisa commented on #24428
Oh, I forgot paste that line.
[code]
I update my code in **Steps/Code to Reproduce** section.

[2022-09-14 12:28] ogrisel commented on #24427
As far as I know, there is no released version of our dependencies that targets 3.11-rc for now. Let's wait for stable releases to be published before bumping up the Python version in our `-latest` CI entries.

I think we should not make development versions part of the default CI jobs running in pull requests to avoid annoying contributors with failures that might come from changes in the unrelea

[2022-09-14 12:29] ogrisel commented on #24427
I would rather not publish wheels with broken tests, even for nightly builds.

[2022-09-14 12:31] ogrisel commented on #24427
For the failing assertion on rank, replacing:

[code]

by:

[code]

should give us more information on what's happening and allow us to report an issue upstream if this is a regression in numpy or Python.

[2022-09-14 12:35] ogrisel commented on #24427
@jeremiedbb I am milestoning this issue for 1.2 because we will need to fix the build on 3.11 before releasing. This might even be considered a blocker for the 1.2 release.

[2022-09-14 14:53] jeremiedbb commented on #24428
thanks @amano-takahisa, I can reproduce. The overflow comes from the fact that some intermediate computations do overflow because we scale X and then translate, so the first scaling ends up out of range.

However I'm not sure we can always guarantee that intermediate computations won't overflow. If we first translate and the scale for instance we can trigger an overflow as well with a different ar

[2022-09-14 15:23] amano-takahisa commented on #24428
@jeremiedbb, thank you for your comment. I understood that it is difficult to calculate always without overflow.

I also confirm that overflow happen with `float32` array.

[code]
[code]

When the input `array` is integer, such as `uint8`, `int32`, etc., the array is scaled without overflow, and output array is `float64`.
I have not read the source code so I am guessing, but I think it is probably

[2022-09-14 15:23] #24428 closed

[2022-09-14 15:26] jeremiedbb commented on #24428
this is expected since ``scale`` is never an integer, so the result can't be an integer array

[2022-09-14 15:26] betatim commented on #21289
I'll take a look at this.

[2022-09-15 03:19] zadilkhwaja commented on #21350
Working on **sklearn.utils.sparsefuncs.count_nonzero** ,,
**sklearn.utils.sparsefuncs.csc_median_axis_0** &
**sklearn.utils.sparsefuncs.incr_mean_variance_axis**

[2022-09-15 06:55] cmarmo commented on #24427
I am having an issue with pandas: it is a dependency for the tests, but there are no pandas wheels for python 3.11.
On linux the source is downloaded and compiled, on Windows the source is downloaded but the compilation fails with
[code]
May I suggest to skip tests depending on pandas for now? I don't feel like it is worth it to reinstall a compiler into the window docker image for a border line s

[2022-09-15 07:36] ogrisel commented on #24427
+1 for skipping the tests depending on pandas (or other optional dependencies) on the dev builds while they do not provide nightly builds for CPython dev.

[2022-09-15 07:36] ogrisel commented on #24427
About the other tests failures with numpy / scipy dev, our bot has automatically open this issue to track them: #24424

[2022-09-15 08:29] glemaitre commented on #24434
I don't think that we need this feature.

For the categorical features, `LogisiticRegression` will generally require a one-hot encoding of the features while `LightGBM` (or equivalently `HistGradientBoostingClassifier`) would require ordinally encoded features to internally deal with them. Therefore, it only boils down to creating a different pipeline for each model and passing it to the model.

E

[2022-09-15 08:29] #24434 closed

[2022-09-15 08:38] glemaitre commented on #24430
Closing since this a duplicate of https://github.com/scikit-learn/scikit-learn/issues/24409

It will be super messy but it might work. I don't know if you might potentially get into trouble since you are going to fit estimators with some unexpected internal states.

[2022-09-15 08:38] #24430 closed

[2022-09-15 08:51] glemaitre commented on #24411
I agree that usually, we should monitor the loss instead of the final metric. This is indeed the default in other estimators such as gradient boosting. We could think of adding a `scoring` keyword allowing us to switch to another score and by default, it uses the loss as in `HistGradientBoosting`.

[2022-09-15 14:06] prakharsinghch commented on #21289
@betatim can i try my hand at this, I'm new to open source contribution and could use your guidance on how to start with open source contribution....

[2022-09-15 15:38] ogrisel commented on #21406
This was the last! Thank you everybody!

[2022-09-15 15:38] #21406 closed

[2022-09-16 00:56] cmarmo commented on #24424
@lesteve for `test_grid_search_failing_classifier` could the reason be https://github.com/scipy/scipy/pull/16406 merged after your fix in #24141?

[2022-09-16 01:45] Gabine321 commented on #9113
+1. Is there another solution to implement this class_weight function for MLPClassifier except under-sampling and over-sampling technology before fitting?

[2022-09-16 03:53] jacktang commented on #23574
Hello, I am facing the same issue

[code]

OS is macOS Monterey 12.5.1

[2022-09-16 04:40] rprkh commented on #24355
Working on this

[2022-09-16 06:21] lesteve commented on #23574
It would be very helpful if you could:
- post the output of `conda list` for future reference
- try if the problem persists in a new `conda` environment using the `conda-forge` channel, `conda create -c conda-forge scikit-learn`
- try to use a `gdb` or `ldb` to get a stack-trace from the segmentation fault, see https://github.com/scikit-learn/scikit-learn/issues/23574#issuecomment-1152379936 for g

[2022-09-16 06:47] lesteve commented on #24424
Yep, it seems like we need to replace nans by `np.inf` before calling `scipy.stats.rankdata`.

In scipy 1.10.dev, now `scipy.stats.rankdata` returns only NaNs as soon as there is a single NaN:

[code]

[2022-09-16 07:28] lorentzenchr commented on #20258
Can we close as [SLEP018](https://scikit-learn-enhancement-proposals.readthedocs.io/en/latest/slep018/proposal.html) was accepted?

[2022-09-16 07:28] ogrisel commented on #24424
Why not just call `nan_policy="omit"` explicitly instead of the new default `nan_policy="propagate"`?

To support older versions of scipy without the `nan_policy` argument, we could have `sklearn.util.fixes` that implements the previous behavior.

[2022-09-16 08:05] Luyang12345 opened #24449 "The loss squared_error is not supported for SGDRegressor"
### Describe the bug

Hi I'm using SGDRegressor for OLS regression but encountered this error:

ValueError: The loss squared_error is not supported.

### Steps/Code to Reproduce

from sklearn.linear_model import SGDRegressor
clf = SGDRegressor(loss="squared_error")
X = het_data[:, [1,3,4,5,7,8,9]]
Y = het_data[:, 6]
clf.fit(X, y)
# het_data is the prepared data

### Expected Results

No error

###

[2022-09-16 08:32] jeremiedbb commented on #24449
You are using an old version of scikit-learn 0.24.1 while the latest version is 1.1.2. `"squared_error"` has been added in more recent versions. For old versions you can use `"squared_loss"`, but I'd advise to upgrade to a more recent version.

[2022-09-16 09:23] psteinb opened #24451 "Legend confuses lines in the logistic regression example"
### Describe the issue linked to the documentation

The plot in the logistic regression example is incorrect. Current version from [here](https://scikit-learn.org/stable/auto_examples/linear_model/plot_logistic.html#sphx-glr-auto-examples-linear-model-plot-logistic-py) looks like this:

![image](https://user-images.githubusercontent.com/1465603/190603890-2ab46825-d02e-497d-ab7c-5e714ca584f3.png)

[2022-09-16 10:07] #14735 closed

[2022-09-16 11:35] #17979 closed

[2022-09-16 11:42] #21289 closed

[2022-09-16 11:46] #24265 closed

[2022-09-16 13:31] yuanx749 commented on #21350
Working on ` sklearn.utils.validation.check_is_fitted`

[2022-09-16 14:54] #24449 closed

[2022-09-16 14:57] #24451 closed

[2022-09-17 14:46] muhammadanas0716 opened #24458 "Please change Confusion Matrix Heatmap cmap."
The current **cmap** is `viridis` is un-readable. This really needs to be changed to a much better, and readable cmap.

[2022-09-17 17:48] Micky774 commented on #24458
When using `metrics.ConfusionMatrixDisplay` you can directly set the `cmap` to whatever you prefer through the `cmap` parameter passed to any of its plotting methods. `viridis` is a strong default since it is one of the more accessible and colorblindness-friendly cmaps.

[2022-09-17 20:59] cmarmo commented on #24312
@ogrisel, may I ask what "help wanted" means in this specific case?
If I understand correctly https://github.com/scientific-python/nightly-wheels/issues/1 is now the issue looking for contributors. This issue could stay open as reference to that one.... is that right?

[2022-09-18 01:57] muhammadanas0716 commented on #24458
Absolutely. I'm glad you checked it out!

[2022-09-18 01:57] #24458 closed

[2022-09-18 02:26] Corpsecreate opened #24462 "Implement p-value splitting criterion for Decision Trees"
### Describe the workflow you want to enable

The current list of valid criterions for Decision Trees are:

{“squared_error”, “friedman_mse”, “absolute_error”, “poisson”}

With regard to regression problems, I have run into numerous situations where I would very much like to make splits on the data based on a t-test statistics comparing the means between the two split subsamples.

The primary issu

[2022-09-18 05:24] vitaliset opened #24464 "DOC See Also descriptions do not match for multiple functions/classes"
### Describe the issue linked to the documentation

While working on a docstring-related pull request (#24259) I noticed that, sometimes, the See Also description for the same function/class does not match. For instance, the `accuracy_score` description was different depending on the class I looked at:

https://github.com/scikit-learn/scikit-learn/blob/feaf3829969b640594a145029e3adcffd2db0999/skle

[2022-09-18 18:34] seljaks commented on #21350
Working on `sklearn.utils.graph.graph_shortest_path` and `sklearn.utils.graph.single_source_shortest_path_length`

[2022-09-19 04:48] lucyleeow opened #24469 "DOC Mention pandas dataframe support in `ColumnTransformer` in FAQ"
### Describe the issue linked to the documentation

FAQ question: [Why does Scikit-learn not directly work with, for example, pandas.DataFrame?](https://scikit-learn.org/stable/faq.html#why-does-scikit-learn-not-directly-work-with-for-example-pandas-dataframe) - I think it would be worthwhile to mention pandas dataframe support in [`ColumnTransformer`](https://scikit-learn.org/stable/modules/gener

[2022-09-19 05:11] Dev-Khant commented on #23328
Hello all, I am getting started in Open Source contribution. Can I solve this issue?

[2022-09-19 05:15] Dev-Khant commented on #24037
Hi everyone, I am starting in Open Source and willing to contribute. Can I work on this issue and can anyone help to get started?

[2022-09-19 08:09] ogrisel commented on #24469
I agree this is a good suggestion.

[2022-09-19 08:17] ogrisel commented on #24312
To attract potential contributors who would be interested in contributing to the underlying tools or to update our CI setup to use the shared tools.

[2022-09-19 09:02] ogrisel commented on #11000
No this is the opposite: we need to make Isomap preserve the float32 and then update the tests accordingly.

[2022-09-19 13:18] joaocmd commented on #24176
Create a PR now. Have noticed now that @rusdes had already opened a similar one. However, it seems like they missed one reference to that issue. Will reference it on my PR nonetheless.

[2022-09-19 14:34] #24176 closed

[2022-09-20 00:09] TomDLT commented on #24432
I agree we could mix estimators in stacking (but not in voting). The implementation is rather straightforward, with a different `_validate_estimators` in `_BaseStacking` and `_BaseVoting`. PR welcome.

In the meantime, one could use:
[code]

[2022-09-20 02:53] lucyleeow commented on #24037
@Dev-Khant there is already an open PR to address this issue. Maybe you could consider another 'good first issue' ?

Check our contribution guideline for help: https://scikit-learn.org/dev/developers/contributing.html

[2022-09-20 05:31] Dev-Khant commented on #24469
I am new to Open Source can I work on the issue?

[2022-09-20 07:54] lucyleeow commented on #24469
Feel free to open a PR for this issue. See the contributing guide for help: https://scikit-learn.org/dev/developers/contributing.html#documentation

[2022-09-20 08:19] yuanx749 commented on #21350
Working on `incr_mean_variance_axis`

[2022-09-21 03:28] DSLituiev opened #24486 "GroupShuffleSplit chokes on pd.Int16Dtype() with a cryptic error"
### Describe the bug

`GroupShuffleSplit` chokes on `pd.Int16Dtype()` with a cryptic error.
It looks like internally the data series gets converted to a list, and list comparison returns a scalar, while an iterable is expected

### Steps/Code to Reproduce

[code]

### Expected Results

e.g. `[0,1,3]` and `[2,4]`

### Actual Results

Example

--------------------------------------------------------

[2022-09-21 03:35] DSLituiev commented on #24486
A hacky workaround:

[code]

[2022-09-21 04:32] cmarmo commented on #16113
Related to #22406.

[2022-09-21 07:43] idanmoradarthas commented on #24182
Hey @thomasjpfan
Any news?

[2022-09-21 08:33] #22341 closed

[2022-09-21 10:19] Pro-Coder04 commented on #20435
I'm ready to solve this issue if no one has yet started working on it
@NicolasHug could you please tell me what are the exact changes you are expecting?

[2022-09-21 10:37] Pro-Coder04 commented on #23394
I would like to work on this issue but since I'm new to open source I require a bit more information to make the required changes.

[2022-09-21 13:46] ogrisel opened #24491 "Weekly CI run with NVidia GPU hardware"
Now that #22554 was merged in `main`, it would be great to find a a way  to run a weekly scheduled job to run the scikit-learn `main` test on a CI worker with an NVidia GPU and CuPy.

In case of failure, it could create a report as [dedicated issues](https://github.com/scikit-learn/scikit-learn/issues?q=is%3Aissue+%22%E2%9A%A0%EF%B8%8F+ci+failed+on%22+) as we do for other scheduled jobs:

- https:

[2022-09-21 13:49] ogrisel commented on #24491
Other opensource projects like dask and numba have accounts on https://gpuci.gpuopenanalytics.com/ for instance. Not sure what is the procedure to get scikit-learn accepted there (even with a limited quota of a few GPU hours per month).

[2022-09-21 14:55] #14860 closed

[2022-09-21 14:55] #18611 closed

[2022-09-21 16:02] jeremiedbb commented on #24401
I plan to bump min dependencies as follow:
[code]

As discussed irl with @ogrisel, the plan for dependencies that are not python/numpy/scipy is to support up to 3 years old major versions, but keeping the latest minor version for them.

@scikit-learn/core-devs are you ok with this plan ? Do you need leter versions for some of these packages to be able to use more recent features ?

[2022-09-22 07:37] jjerphan commented on #24401
I cannot think of something that is blocker except the release of Cython 3.

On a side-note (you probably already have seen): [SPEC 0](https://scientific-python.org/specs/spec-0000/) aims at specifying minimum supported versions in the ecosystem. There is [a thread in Scientific Python's forum](https://discuss.scientific-python.org/t/spec-0-minimum-supported-versions/33) to discuss this SPEC.

[2022-09-22 15:49] jeremiedbb commented on #23897
The snippet reported in #10832
[code]
expects 3 clusters, with labels [0,1,1,2]. It actually has nothing to do with float32 or float64: it breaks for some random seeds whether k is float64 or float32.

I'm not familiar with this estimator so I don't know if this clustering should be expected regardless of the noise added during fit.

[2022-09-22 18:07] #23753 closed

[2022-09-22 22:10] fmohr opened #24499 "Reference for sklearn.feature_selection.chi2"
### Describe the issue linked to the documentation

Hi folks,

I am somewhat in doubt that the `sklearn.feature_selection.chi2` function is implemented correctly. At least, checking the source code, it is entirely unclear to me why that kind of scoring would make sense.

Best,
Felix

### Suggest a potential alternative/fix

 Is there any reference that justifies the computation in the implemented

[2022-09-23 00:13] mauriciocramos opened #24500 "learning_curve() returning wrong (accumulated) times across parallel n_jobs"
When running `learning_curve()` with parallel processing (`n_jobs` > 1) it wrongly returns `fit_times` and `score_times` as sums of their respective duration across all parallel jobs of `_fit_and_score()` rather than a meaningful, let's say, average.

This wrong aggregation seems to be caused by `_aggregate_score_dicts()` which is unpacking all parallel job times as a single vector.

https://githu

[2022-09-23 01:29] mauriciocramos opened #24501 "plot_learning_curve.py should not sort the fit time axis before plotting"
Dears,

About 10 months ago, the `plot_learning_curve.py` example was changed by Mr. @thomasjpfan to sort the `fit_time` plot axis.

In my humble opinion, that's wrong because a learning curve is train-size ascending regardless the time it spent training.  For very small train sizes/intervals one can se a slightly smaller train size taking a slightly longer time to fit.

Furthermore, a computer pe

[2022-09-23 06:02] betatim commented on #24491
Ive started looking into this

[2022-09-23 06:04] CyrilPWong commented on #24491
您好！王书为已经收到您的邮件，我会尽快回复的

[2022-09-23 07:00] jnothman commented on #23928
The increased verbosity in simple cases indeed makes me a bit sad.

`AdaBoostClassifier` is a bit unusual because the meta-estimator _needs_ to send `sample_weight` to the base estimator, regardless of whether weights are passed in. As such, `AdaBoostClassifier` might be seen as a _consumer_ of the `sample_weight` which it then modifies. What it is doing with relation to its base estimator and `sa

[2022-09-23 07:03] jnothman commented on #23928
The cases where, to me, we're increasing verbosity unnecessarily are cases where the metaestimator always has one destination. For example, `MultiOutputRegressor`. This is eligible for the "simple routers" treatment, which is simple precisely because it's not routing, just passing.

[2022-09-23 09:29] Gabine321 commented on #9113
Hi,  Robert.

       Thanks for your reply. I have tried to use SMOTE function from the module imblearn.over_sampling. It works as expected in resampling data. I will still focus the effect on the module by this way and check whether oversampling can bring the better precision of the module than undersampling.

Gabine
+086 18701916104

At 2022-09-21 14:54:13, "Robert Pollak" ***@***.***> wrote:

@

[2022-09-23 13:51] jeremiedbb commented on #11506
Given the recent improvements about pairwise distances + reductions, which are memory efficient and fast, I think the subject of this issue is getting out of date. pairwise_distances_chunked, pairwise_distances_argmin(_min) are destined to disappear at some point.

[2022-09-23 13:51] #11506 closed

[2022-09-23 16:23] betatim commented on #20678
The original example for reproducing this problem doesn't reproduce the problem anymore, because `RandomForestClassifier` now raises an exception when you pass in `-10` for `max_depth`. Instead an exception is raised. This happens independently of whether you set `error_score` to the default value or `np.nan`.

Maybe we can close this?

[2022-09-24 02:33] scikit-learn-bot opened #24505 "⚠️ CI failed on Linux_Nightly_ICC.pylatest_conda_forge_mkl ⚠️"
**CI failed on [Linux_Nightly_ICC.pylatest_conda_forge_mkl](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=47016&view=logs&j=8628a494-79d0-53fa-274c-1b00464f7121)** (Sep 24, 2022)
Unable to find junit file. Please see link for details.

[2022-09-24 09:47] hsorsky opened #24507 "Support usage of `predict_params` and `predict_proba_params` in cross validation"
### Describe the workflow you want to enable

We can currently pass `predict_params` and `predict_proba_params` to `Pipeline`s, predictors, etc., at predict time when performing "manual" calls. When performing cross validation, however, there is no way to pass down any params to `estimator` to use when calling `predict`/`predict_proba`. I believe this to be a limitation of the library and think al

[2022-09-25 21:29] thomasjpfan commented on #24505
The failing CI tests was because of a random network issue. I think this is safe to close.

[2022-09-25 21:29] #24505 closed

[2022-09-26 01:33] thomasjpfan commented on #24401
I'm okay with the proposed version bumps in https://github.com/scikit-learn/scikit-learn/issues/24401#issuecomment-1253914428.

[2022-09-26 01:34] thomasjpfan commented on #20258
I agree, we can close this issue.

[2022-09-26 01:34] #20258 closed

[2022-09-26 02:23] jonahpearl opened #24508 "Sparse random projection description is incorrect in docs"
### Describe the bug

See: https://scikit-learn.org/stable/modules/generated/sklearn.random_projection.SparseRandomProjection.html#sklearn-random-projection-sparserandomprojection

The docs say that if s = 1 / density, then the weights for drawing the values of the sparse matrix should be 1/(2s), 1 - 1/s, and 1/(2s). However, the reference gives weights 1/(2\*density), etc. The sklearn docs should

[2022-09-26 02:41] jonahpearl commented on #24508
Sorry, I am wrong -- just got confused by all the fractions!

[2022-09-26 02:41] #24508 closed

[2022-09-26 07:38] GaelVaroquaux commented on #24401
Works for me. Thanks!!

[2022-09-26 09:58] glemaitre commented on #20678
@betatim we better validate parameters nowadays so the simple example in the original post would not fail. However, the problem still exists and could happen in some cases: https://github.com/scikit-learn/scikit-learn/issues/20678#issuecomment-892803903

I can think of a SearchCV with the adult census where you have a single data point with the Dutch nationality that would trigger some failure at

[2022-09-26 13:39] glemaitre commented on #23839
Solved by @24420

[2022-09-26 13:39] #23839 closed

[2022-09-26 14:42] cverrier commented on #21350
Working on [`sklearn.utils.sparsefuncs.inplace_swap_row_csc`](https://github.com/scikit-learn/scikit-learn/blob/f9a856d72c0d754323f1023e0a97639f7177c9f3/sklearn/utils/sparsefuncs.py#L267).

[2022-09-26 14:58] LOVE-DOCTOR commented on #24238
I am currently using threadpoolctl version 3.1.0 and I still get the same error above when using SMOTE

[2022-09-26 16:46] adrinjalali commented on #23839
Noticing the title of the issue, the navigation on our FAQ is now the _best_ lol

[2022-09-26 16:51] adrinjalali commented on #24507
https://github.com/scikit-learn/scikit-learn/pull/24027 will fix this.

[2022-09-26 18:38] hsorsky commented on #24507
Amazing, thank you!

[2022-09-26 18:45] neolaand commented on #21350
Hello, I will be working on `sklearn.utils.extmath.density`

[2022-09-26 19:24] lorentzenchr opened #24515 "BUG log_loss renormalizes the predictions"
### Describe the bug

`log_loss(y_true, y_pred)` renormalizes `y_pred` internally such that it sums to 1. This way, a really bad model, the predictions of which do not sum to 1, gets a better loss then it actually has.

### Steps/Code to Reproduce

[code]

### Expected Results

[code]
Result: `1.2039728`

### Actual Results

Result: `0.5108256237659907`

### Versions

[code]

[2022-09-26 19:30] cverrier commented on #21350
Working on [`sklearn.utils.sparsefuncs.inplace_swap_row_csr`](https://github.com/scikit-learn/scikit-learn/blob/f9a856d72c0d754323f1023e0a97639f7177c9f3/sklearn/utils/sparsefuncs.py#L297).

[2022-09-26 20:08] jeremiedbb opened #24519 "Deprecate the kwargs argument of utils.extmath.density"
The function ``density`` from sklearn.utils.extmath accepts extra kwargs but completely ignore them. I suggest we deprecate this.

Here's a guide on how to proceed: https://scikit-learn.org/stable/developers/contributing.html#maintaining-backwards-compatibility

A future warning should only be raised if an extra kwarg is actually passed to the function.

[2022-09-26 20:11] nxorable commented on #17234
How about with the multiple imputations use case?

[2022-09-26 22:56] clytaemnestra commented on #24519
/take

[2022-09-27 07:02] adrinjalali commented on #23928
Can you elaborate a bit? The sub-estimator of a `MultiOutputRegressor` can always be a pipeline.

In general, we can't check for signature as we're doing now. Signature checks are a hack which kinda work, but are quite error prone.

What you're suggesting, to me sounds like option (2) in the post above, where you'd like to have two classes of routers, simple and complex ones. Simple ones always ro

[2022-09-27 07:31] peartobear commented on #19137
Any updates on this?

[2022-09-27 08:34] #24353 closed

[2022-09-27 13:14] #21323 closed

[2022-09-27 16:47] FinAminToastCrunch opened #24524 "Add TQDM progress bar to .fit"
### Describe the workflow you want to enable

There is no cohesive way of knowing when a classifier will finish training. What is shown by `verbose = True` is not consistent across models.

### Describe your proposed solution

I propose wrapping all most/all `.fit()` functions in tqdm.

### Describe alternatives you've considered, if relevant

_No response_

### Additional context

_No response_

[2022-09-27 19:03] jeremiedbb commented on #24524
Hi @FinAminToastCrunch, this has been asked several times, for example in https://github.com/scikit-learn/scikit-learn/issues/7574, and is part of the more general question of having callbacks in sklearn. There's ongoing work on this subject in https://github.com/scikit-learn/scikit-learn/pull/22000.

I'm closing this issue as duplicate.

[2022-09-27 19:03] #24524 closed

[2022-09-27 19:42] kastnerp commented on #24238
Same problem with the [official KMeans example ](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html) and `threadpoolctl==3.1.0`.

[2022-09-27 21:39] thomasjpfan opened #24525 "Should we continue to support compiler=intelem?"
I have an build refactor removing `distutils` and `numpy.disutils` and only uses `setuptools` that successfully builds our wheels and passes tests. I think it is best to move to a pure `setuptools` implementation first, because there are still some lingering issues `meson`. For example, no editable wheels with `meson`: https://github.com/FFY00/meson-python/issues/47.

`setuptools` does not make it

[2022-09-27 22:28] jeremiedbb commented on #24525
Specifying ``--compiler=intelem`` is only possible using ``numpy.disutils`` (https://github.com/numpy/numpy/blob/main/numpy/distutils/intelccompiler.py). Since numpy.distutils is deprecated I guess it's natural that we stop supporting it as well.

To the question of supporting custom compilers, I'd be fine with making it simple at first and then see if we can add support later once our new build s

[2022-09-27 22:28] jeremiedbb commented on #24525
That's great !

[2022-09-28 04:26] cverrier commented on #21350
Working on [`sklearn.metrics.pairwise.pairwise_distances_chunked`](https://github.com/scikit-learn/scikit-learn/blob/681ab94222a9ba5f7b39f768f0ab92873905541a/sklearn/metrics/pairwise.py#L1694).

[2022-09-28 11:39] yana25 opened #24529 "Saved model"
Hi,

I have saved a model of RandomForestClassifier from previous version (0.21.3).
now, if i try to load it in a new version i get the following error: No module name 'sklearn.ensemble.forest'

How can I transfer my previous saved model to a new version?

[2022-09-28 13:36] jeremiedbb commented on #24529
Hi @yana25,

Loading a model saved in a previous version is not supported. You can find more information here
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations

in particular:
[code]

[2022-09-28 14:38] glemaitre commented on #24529
I am moving this issue into the discussion section

[2022-09-28 15:51] adam2392 commented on #24000
THIS IS A WIP. I will edit it and ping when finalized.

Following up on our discussion in dev meeting:

#### Scikit-survival

IIUC, this package cannot subclass `BaseDecisionTree` rn because of fundamental differences in `y` variable implemented in scikit-survival. The Criterion changes, but that can be passed in directly to the Decision Tree class. Another change is the structure of the `y` label

[2022-09-28 18:46] mauroantonioserrano commented on #21350
Trabajamos en sklearn.cluster._optics.cluster_optics_dbscan

[2022-09-29 01:07] replacementAI commented on #23967
`
# load dataset
iris = datasets.load_iris()

# define input data
points = iris.data
y = iris.target
label = y

# define parameters
thres = 0.1
beta = 1
gamma = 1
rate = 0

# initializations
cluster_n = points.shape[0]
clust_cen = points + 0.0001
alpha = np.ones((1, cluster_n)) * 1 / cluster_n
err = 10

t_max = 100

c_history = []

while cluster_n > 1 and err >= thres:
    rate = rate + 1

    # S

[2022-09-29 01:22] replacementAI commented on #23967
I converted the authors MATLAB code to Python using Copilot
[code]

[2022-09-29 08:15] JoostKooijman opened #24537 "Segmentation error when calling .fit()"
### Describe the bug

Hey all,

I'm currently busy working on a solution for a classification problem using LogisticRegression from sklearn.linear_model. I'm training multiple classifiers at the same time with the same hyperparameters and only slightly different input. The largest difference is coming from the number of unique labels.

I don't have any issues fitting data on a model with size 1.50

[2022-09-29 09:33] GuillemGSubies commented on #24432
@TomDLT I sent a PR, the idea is implemented but I have some doubts that I commented there

[2022-09-29 10:53] maronjan opened #24540 "Exit Code -1073741819 when doing K-means++ clustering"
### Describe the bug

Unfortunately I am getting an exit code in Pycharm when doing clustering with k-means++.
I tried nearly everything. Setup new Pycharm project try using different versions of numpy or sklearn.

### Steps/Code to Reproduce

link to distributions_file: [https://1drv.ms/u/s!AnXHFg5uRwyWpQEFbsJ8mCKHzmbt?e=rAxWlu](url)

distributions_filename: str = "distributions.json"
with open(d

[2022-09-29 11:28] maronjan commented on #24540
As I found out, this only happens since 1.1 changed the algorithm from auto->elkan and full->lloyd to lloyd and elkan. Since I used as it seems auto in the past and now since 1.1 the lloyd algorithm it exits the code. So I guess there is something wrong with the lloyd algorithm because with elkan everything works fine still.

[2022-09-29 12:00] CarlaFernandez commented on #16055
Hello @ogrisel, is this still not merged? It would be really useful for my current use case. Thank you!

[2022-09-29 12:55] glemaitre commented on #24540
Could you provide what is `__cluster`?

[2022-09-29 12:57] maronjan commented on #24540
from sklearn.cluster import KMeans

def __cluster(num_clusters: int, data: list[list[float]]):
    km = KMeans(n_clusters=num_clusters)
    return km.fit_predict(data)

[2022-09-29 12:58] maronjan commented on #24540
def cluster(num_clusters: int, data: list[list[float]]):
    km = KMeans(n_clusters=num_clusters, init="k-means++", algorithm="elkan")
    return km.fit_predict(data)

is working, as I previously mentioned due to using elkan instead of lloyd

[2022-09-29 14:56] jnothman commented on #23928
But then we can still pass whatever args are given to MultiOutputRegressor.fit to is base estimator. If it's a Pipeline it will know how to route those args.

Not sure if that's the elaboration you sought

[2022-09-29 18:48] replacementAI commented on #23967
@MrinalTyagi

I tried converting the above code into a class. Have 0 domain knowledge of any of this so I don't even know if this is going with the paper, would appreciate your input to see if this fits.

[code]

[2022-09-29 18:58] glemaitre commented on #24501
I assume we do so to have a more regular graph due to the resources used to run the example and build the documentation. Basically, we have a tiny sample size and we could be in the error bar and unluckily we could have a swap that would not be understandable in practice.

I agree with you that we should not do this in real-world cases. I am wondering if we could come up with a middle ground where

[2022-09-29 18:58] glemaitre commented on #24501
@mauriciocramos Do you wish contributing to fix this issue?

[2022-09-29 19:10] gbrookshire opened #24545 "Error when returning embedded transformers in Jupyter notebook"
### Describe the bug

When creating a custom transformer object that includes a transformer type as an instance, a `TypeError` is thrown if the object is returned at the end of a Jupyter cell. This does not cause an error in the terminal, but raises an error during the conversion to an HTML object for Jupyter notebooks. Weirdly, the object is created and returned, but an error is thrown when Jupyt

[2022-09-29 19:29] glemaitre commented on #24500
The `_aggregate_score_dicts` only transforms a list of dictionaries into a dictionary of NumPy array. It does not alter or make any computation.

I don't think that there is any problem since the parallelism does not affect the fit or score time. We use parallelism to parallelize the cross-validation tasks. Thus, we would expect the fit and score time to remain the same whether we us `n_jobs=-1` o

[2022-09-29 19:29] #24500 closed

[2022-09-29 19:41] glemaitre commented on #24545
I assume that we always thought to get an instance of a class and not the class object directly. This is the reason why it fails here.

I assume that we should detect this case and not call `get_params` on it and show just the name fo the class.

In the meanwhile, you can deactivate the HTML display to make the code work.

[code]

[2022-09-29 20:15] gbrookshire commented on #24545
A similar error appears when using an embedded transformer in a `Pipeline`.  This one is a bit more serious, since it actually means we can't fit the models -- it's not just related to the Jupyter display.

Would it be better to submit this as a new issue, or leave it here?

Here's a minimal working example:

[code]

And here's the full traceback:
[code]

[2022-09-29 21:47] glemaitre commented on #24545
Actually, this is showing that the estimator is not following our estimator's API: https://scikit-learn.org/dev/developers/develop.html

For the grid-search to work, we would require to pass an instance and not a class object. Basically the grid-search would need to clone the object and set the parameter. Since a class object is passed, then the parameters cannot be set (i.e. we need to set the pa

[2022-09-29 22:01] thomasjpfan commented on #24545
With https://github.com/scikit-learn/scikit-learn/pull/22856#issuecomment-1258087942, I think it's best not to error. With the default being `display="diagram"`, I think raising any error with the HTML repr is a bug. I would go as far as catching any error and falling back to a simple HTML that wraps `str(estimator)`.

[2022-09-29 22:41] thomasjpfan commented on #24501
The original sorting was done to resolve https://github.com/scikit-learn/scikit-learn/issues/21643

Maybe we can keep the order from the training sizes and use error bars instead?

[code]

![Screen Shot 2022-09-29 at 6 40 15 PM](https://user-images.githubusercontent.com/5402633/193154698-4e84d425-36e6-44f9-94a5-b82b9b598856.jpg)

[2022-09-29 23:10] mauriciocramos commented on #24501
@glemaitre,

I appreciate your feedback.

IMHO, there would be no improvement other than change the example code not to sort the time vector in that example.  Despite it currently seems conceptually wrong, even with a big dataset (400K rows and thousands of columns) I've seen bigger sample sizes (100%) fitting in less time than smaller sample sizes (80%).  It frequently happens when the `learning_

[2022-09-29 23:18] mauriciocramos commented on #24501
Hi @thomasjpfan,

Maybe I still don't understand the former issue https://github.com/scikit-learn/scikit-learn/issues/21643 but in my understandibg what it calls bad error regions, are really bad, but not wrong: the example would need more data to appears not bad.

[2022-09-29 23:59] sophieatalt commented on #13614
was anyone able to find a solution to this?

[2022-09-30 10:31] tevfikaytekin opened #24549 "There seems to be an unnecessary operation in _mutual_info.py"
Hi,
In file `scikit-learn/sklearn/feature_selection/_mutual_info.py`, there seems to be an unnecessary operation.

At line 140 there is:
`m_all = np.array(m_all) - 1.0
`
But then when m_all is used at line 146
`np.mean(digamma(m_all + 1)
`
1 is added again.

This substraction and then addition of 1 seems to be unnecessary.
Thanks.

[2022-09-30 11:59] ArturoAmorQ commented on #21350
@mauroantonioserrano: `sklearn.cluster._optics.cluster_optics_dbscan` was addressed in #21419
I am sorry we haven't updated it yet.

[2022-09-30 12:04] adrinjalali commented on #23928
So with that, you're arguing for option (2) in my top post. I don't mind it, and we do have the tools to support it. As mentioned above, I just worry about the education part, since it creates two classes of meta-estimators. But I'm happy to go down that route if you think it makes sense.

ping @scikit-learn/core-devs

[2022-09-30 12:18] adrinjalali commented on #24525
Been worried about the whole distutils issue. I think this makes sense. Thanks for the work @thomasjpfan

[2022-09-30 12:58] #24274 closed

[2022-09-30 13:10] vijayvarma392 opened #24552 "PolynomialFeatures: allow separate degrees for individual features"
### Describe the workflow you want to enable

[PolynomialFeatures](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.PolynomialFeatures.html#sklearn.preprocessing.PolynomialFeatures) allows a degree parameter, but the same parameter is used for all features.

Let's say I have three features [x1, x2, x3] and I want to allow up to cubic terms in x1 and x2, but only quadratic te

[2022-09-30 13:14] lorentzenchr commented on #23928
What about a 4th option: Not a helper function, but a helper method
[code]
Or `set_all_request(sample_weight=True)`.
Name to be discussed.

[2022-09-30 14:40] thomasjpfan commented on #24401
For joblib, we are getting a security alert: https://github.com/scikit-learn/scikit-learn/security/dependabot/2 which is related to https://github.com/joblib/joblib/issues/1128#issuecomment-1258420240.

Should we make our min joblib version `1.2` or try to get `joblib` to backport the fix in https://github.com/joblib/joblib/pull/1321 to a `1.1.1` ?

[2022-09-30 14:49] lorentzenchr commented on #24401
https://github.com/scikit-learn/scikit-learn/issues/24401#issuecomment-1253914428 also works for me.

I've no special requirements. https://github.com/scikit-learn/scikit-learn/pull/24145 would benefit from scipy 1.10, but that has to wait.

[2022-09-30 14:50] adrinjalali commented on #24401
How was that alert created? Somebody must have been watching that issue?

Security concerns seem to be becoming more of a mainstream kind of thing these days. It might make sense to backport that change in joblib. I'm not sure if we want to depend on joblib>=1.2 here, not sure how dependencies of other libraries on joblib are set.

[2022-09-30 14:56] thomasjpfan commented on #24401
I think so. Someone was watching it and created [CVE-2022-21797](https://nvd.nist.gov/vuln/detail/CVE-2022-21797). According to the CVE's metadata, the source was [Snyk](https://security.snyk.io/vuln/SNYK-PYTHON-JOBLIB-3027033).

[2022-09-30 14:56] gbrookshire commented on #24545
In the real custom transformer I'm using, I started with the class object because I'm instantiating multiple versions of that class internally to work on different parts of the data. But it also works for me to pass in an instance, and then deepcopy that instance.

This fixes the problem -- thank you!

Would it be helpful to include an error message if the grid-search encounters an un-instantiated

[2022-09-30 15:42] GaelVaroquaux commented on #24401
I worry that between the 1.1 release of joblib and the 1.2, we have removed the deprecated "cachedir" argument (it was deprecated for years, but apparently some people were still using it). Hence bumping the requirement could force people to upgrade joblib, which might break code...

The joblib team should consider making a 1.1.1 release, I guess.

[2022-10-01 08:38] adrinjalali commented on #24545
Keeping this open for https://github.com/scikit-learn/scikit-learn/issues/24545#issuecomment-1262860318 to be resolved.

[2022-10-01 23:46] DDBB9988 opened #24558 "SelfTrainingClassifier: use of warm_start in base_estimator"
### Describe the issue linked to the documentation

Hi,
I construct an instance of SelfTrainingClassifier with a base_constructor having warm_start set as True. When calling fit in SelfTrainingClassifier, is the classifier trained incrementally, or at every fit information of previous training is overwritten? I tried to figure out in documentation, but I didn't find whether re-use previous trainin

[2022-10-03 15:40] AmeenUrRehman opened #24564 "convert builtin module import to supported form"
### Describe the bug

convert builtin module import to supported form

### Steps/Code to Reproduce

import builtins as builtins

### Expected Results

No error is thrown

### Actual Results

import builtins as builtins

### Versions

[code]

[2022-10-03 17:34] adam2392 opened #24565 "ENH Avoid memoryviews' slicing for `KMeans` Cython implementations"
### Summary

Addresses issues raised in https://github.com/scikit-learn/scikit-learn/issues/17299

The proposal is to modify the LOC here: https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/cluster/_k_means_common.pyx#L155-L159. There are currently three places where the `_euclidean_sparse_dense` Cython function is used and can be optimized.

The issue with the current implementation i

[2022-10-03 17:34] adam2392 commented on #24565
Label: Cython, Clustering

[2022-10-03 17:53] jjerphan commented on #24565
Thank you for opening this issue and proposing a PR, @adam2392.

Yes — cross-referencing https://github.com/scikit-learn/scikit-learn/issues/17299.

I think 1-D slicing comes with some overhead. This is present in k-means' internals here for instance:

https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/cluster/_k_means_common.pyx#L155-L159

but it might not be as costly.

I think we ca

[2022-10-03 18:04] awinml commented on #21350
Working on `sklearn.utils.extmath.safe_sparse_dot`

[2022-10-04 03:43] awinml commented on #21350
Working on `sklearn.utils.extmath.weighted_mode`

[2022-10-04 06:19] lorentzenchr commented on #16321
Having read through the issue, I recommend to add a note to the UG as suggested by @NicolasHug in https://github.com/scikit-learn/scikit-learn/issues/16321#issuecomment-648969310, and close this issue without further action.

I think that it is in fact a non-issue. Isotonic regression is doing well in predicting constant values for monotonicity violating points. It has very desirable properties wh

[2022-10-04 07:51] adrinjalali commented on #24558
`SelfTrainingClassifier.fit` clones `base_estimator` to ensure calling fit twice results in the same model. If you need to have `warm_start` for `base_estimator` you can write a custom estimator which loads your model and calls fit on top of it, and pass that as the `base_estimator` to your `SelfTrainingClassifier`.

Happy to have a link to our meta-estimators glossary item where this is also expl

[2022-10-04 08:04] adrinjalali commented on #24564
Not enough info here to act. Happy to reopen if you leave more info.

[2022-10-04 08:04] #24564 closed

[2022-10-04 10:24] adrinjalali commented on #10882
https://github.com/scikit-learn/scikit-learn/pull/24027 should fix this.

[2022-10-04 10:28] adrinjalali commented on #20557
So can one say we can remove validation here, just use `_safe_indexing` and solve the issue? (putting it as an easy help wanted one, unless there's something I'm missing)

[2022-10-04 10:31] adrinjalali commented on #23109
Marking as duplicate of https://github.com/scikit-learn/scikit-learn/issues/20557

[2022-10-04 10:31] #23109 closed

[2022-10-04 12:49] fsamaraie opened #24573 "NaNs and Infs when decomposing EDS"
### Describe the bug

![image](https://user-images.githubusercontent.com/115000993/193821091-c81abc88-3d20-4267-9c41-6742ce558f04.png)

### Steps/Code to Reproduce

![image](https://user-images.githubusercontent.com/115000993/193821217-41c152ce-fa8d-4d03-a5f0-970b4ea27584.png)

### Expected Results

I have ran the code before and it worked fine but I am unsure about why it is giving me the NaNs an

[2022-10-04 12:57] PierrickPochelu opened #24574 "KNearestNeighbors dedicated API for unsupervised anomaly detection"
### Describe the workflow you want to enable

All unsupervised anomaly detection algorithms share a similar API  (e.g., IsolationForest, OneSVM) but not KNearestNeighbors... And yet, KNN is one of the most used and robust method. (https://arxiv.org/pdf/2206.09426v2.pdf).

Having different API makes it challenging to loop and compare different anomaly detection algorithms... Example: https://scikit

[2022-10-04 13:05] adrinjalali commented on #24573
Thanks for reporting the issue. Could you please also include a [minimal and reproducible example](http://sscce.org/) for us to better diagnose the problem?

Ideally we should be able to copy/paste your code to reproduce the issue.

Closing unless you can provide us the reproducer.

[2022-10-04 13:05] #24573 closed

[2022-10-04 14:55] AmeenUrRehman opened #24575 "Remove parsar parameter from fetch_openml()"
### Describe the workflow you want to enable

data = fetch_openml("mnist_784", as_frame=True, parser="pandas") It cause error while running the
sklearn/benchmarks/bench_mnist.py file

### Describe your proposed solution

data = fetch_openml("mnist_784", as_frame=True) It is running smoothly.

### Describe alternatives you've considered, if relevant

_No response_

### Additional context

_No respo

[2022-10-04 15:06] AmeenUrRehman commented on #24575
check my pull request #24576

[2022-10-04 18:25] adrinjalali commented on #24575
I'm not sure what error you're referring to. Closing.

[2022-10-04 18:25] #24575 closed

[2022-10-04 18:27] adrinjalali commented on #24573
Please note that a reproducible must be in text, we should be able to copy paste it, and run it and get the same error as you do.

[2022-10-04 18:56] adam2392 opened #24577 "[REFACTOR] Modularize 'Criterion' class inside tree submodule to allow 3rd party extensions for data-based criterion"
### Summary

There exists other criterions, where additional arguments would need to be passed in. The current `Criterion` class is not actually a generic Criterion class since it explicitly assumes that the Criterion is supervised-learning based and does NOT require the data `X` itself. The `init(...)` function explicitly passes in `y`.

I am trying to implement and subclass `Criterion` to implem

[2022-10-04 20:40] suryakapurothu commented on #21350
@ogrisel is this issue still open?

[2022-10-04 20:43] suryakapurothu commented on #21350
Working on ` sklearn.metrics.pairwise.pairwise_kernels`

[2022-10-04 21:37] haiatn commented on #12167
Hi,
for new ones wanting to help there are currently 8 errors to fix here:
https://lgtm.com/projects/g/scikit-learn/scikit-learn/alerts/?mode=list&severity=error

Note that LGTM is shutting down on December 16th 2022

[2022-10-04 21:37] choo8 commented on #20435
take

[2022-10-04 21:52] thomasjpfan commented on #24545
With https://github.com/scikit-learn/scikit-learn/issues/24545#issuecomment-1262860318 in mind, I can not find a way to trigger an error that does not involve forcing `str(estimator)` to fail as well. If `str(estimator)` fails, then I think it is okay to error because it is consistent with `display="text"`. Note that if `get_params` fails then `str(estimator)` fails.

For now, I think it safe to c

[2022-10-05 04:20] 1Aditya7 commented on #24558
Hi, I'm new to open source contributions and I'd like to work on this, Could you please assign this to me?

[2022-10-05 07:03] adrinjalali opened #24580 "Migrating from LGTM, or removng it"
### Discussed in https://github.com/scikit-learn/scikit-learn/discussions/24578

<div type='discussions-op-text'>

<sup>Originally posted by **haiatn** October  4, 2022</sup>
Hi,
I read LGTM will shut down and we have all PRs scanned by it,
It could be replaced with Github Code Scanning:
https://docs.github.com/en/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and

[2022-10-05 07:05] adrinjalali commented on #24580
Seems like they've moved everything to github: https://github.blog/2022-08-15-the-next-step-for-lgtm-com-github-code-scanning/

But I'm not sure how much we've actually used the results of LGTM, I don't remember a single instance myself. Should we just remove them?

[2022-10-05 07:12] adrinjalali commented on #24558
Hi @1Aditya7 , feel free to work on it.

[2022-10-05 07:29] haiatn commented on #24580
According to this issue https://github.com/scikit-learn/scikit-learn/issues/12167 it was ignored for several months when we didn't know that it stopped working.
But later when it started again it should've alerted on errors before merging and also people did open PRs to fix existing errors.

[2022-10-05 07:32] 1Aditya7 commented on #24558
@adrinjalali Thanks! Will get back to you.

[2022-10-05 07:43] mansi1597 commented on #21350
Working on sklearn.utils.extmath.svd_flip

[2022-10-05 08:02] adrinjalali commented on #24580
cc @thomasjpfan @jjerphan

Thomas thinks they're useful, I'm curious as when such an incident has happened :P

[2022-10-05 08:10] mansi1597 commented on #21350
Working on `sklearn.utils.fixes.linspace`

[2022-10-05 08:15] awinml commented on #21350
Working on ` sklearn.utils.extmath.fast_logdet`

[2022-10-05 08:20] awinml commented on #21350
Working on `sklearn.utils.extmath.randomized_svd`

[2022-10-05 08:32] irene000 commented on #21350
Working on `sklearn.utils.metaestimators.available_if`

[2022-10-05 11:51] fsamaraie commented on #24573
%matplotlib qt5
import hyperspy.api as hs
import numpy as np

import h5py

import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from matplotlib.colors import to_rgb, LinearSegmentedColormap
from matplotlib import cm

import scipy
from scipy import ndimage as ndi

import skimage as ski
from skimage.segmentation import random_walker
from skimage.feature import peak_local_max
from

[2022-10-05 11:51] fsamaraie commented on #24573
The data (.raw and .rpl) can be found here
Below is a portion of the code that cause the NaNs and INFS. The data that I used can be found from the link below. https://gla-my.sharepoint.com/:f:/g/personal/2473984k_student_gla_ac_uk/EoKdBatML29MlynRwf_igkoBOjTTrFW4G_xxWU5wNFwbQw?e=7p5XjI

[2022-10-05 11:55] fsamaraie commented on #24573
%matplotlib qt5
import hyperspy.api as hs
import numpy as np

import h5py

import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from matplotlib.colors import to_rgb, LinearSegmentedColormap
from matplotlib import cm

import scipy
from scipy import ndimage as ndi

import skimage as ski
from skimage.segmentation import random_walker
from skimage.feature import peak_local_max
from

[2022-10-05 13:47] thomasjpfan commented on #24580
From the pass 3-4 years, I think LGTM has not helped too much A lot of the warnings or errors are patterns we are okay with. For example, this error is something we are okay with:

![Screen Shot 2022-10-05 at 9 37 42 AM](https://user-images.githubusercontent.com/5402633/194074180-0c427cdf-c388-4444-af06-4b6eeba6b51f.jpg)

From looking through all the current [errors and warnings on LGTM](https://l

[2022-10-05 15:31] haiatn commented on #24580
If so, I suggest removing it and if a need comes up we can open an new issue with alternatives

[2022-10-06 09:51] adrinjalali commented on #24573
Thanks for all the input, but for a good report, you need to do:

- reduce the code to only the part which creates the error. I don't think plotting has much to do with the issue here for example.
- Create a minimal dataset which wouldn't require loading a file to trigger the issue.

[2022-10-06 11:10] #12167 closed

[2022-10-06 11:10] #24580 closed

[2022-10-06 12:45] laghaout opened #24593 "Erroneous use of chi2 in the documentation"
### Describe the issue linked to the documentation

The [documentation page](https://scikit-learn.org/stable/modules/feature_selection.html#univariate-feature-selection) for univariate feature selection suggests that the [`sklearn.feature_selection.chi2`](https://github.com/scikit-learn/scikit-learn/blob/36958fb24/sklearn/feature_selection/_univariate_selection.py#L168) function could be used to r

[2022-10-06 15:53] lorentzenchr commented on #22243
https://github.com/scikit-learn/scikit-learn/pull/24465#issuecomment-1256999323 lists the rough criteria for `Ridge`. Having this info in the docstring would be added value, IMHO.

[2022-10-06 16:19] jjerphan commented on #24577
cc @Vincent-Maladiere and @ogrisel who potentially might be interested in this regarding extension `Criterion` in 3rd party scikit-learn-like packages.

[2022-10-06 18:49] MSchmidt99 commented on #22523
I have created a class for this in the past for my own usage in personal projects where the calculations for max_train_size and test_size are done automatically given the number of splits desired and the proportion of the window allocated to validation. The calculation works out that the window size is equal to the number of samples times the reciprocal of `1 + (validation proportion * (n_splits -

[2022-10-06 19:59] adam2392 commented on #24000
In general, I have written up a more lengthy proposal for improving/simplifying the tree submodule. I have summarized it in this hackmd doc. Feel free to comment and take a look...

https://hackmd.io/@-5q0aS6xT4Sq6RULDW8EVw/HkpsR9hMi

cc: @thomasjpfan @jjerphan @ogrisel @glemaitre

[2022-10-06 20:00] adam2392 commented on #24577
FYI, I have also written up a more lengthy proposal on improving tree submodule. See https://github.com/scikit-learn/scikit-learn/issues/24000#issuecomment-1270611258

[2022-10-06 20:02] rmanak commented on #20162
+1 to this (I may be able to open a PR for it if I feel inspired) Thomas, please note that in ACE, the "Average" needs to be performed across multiples levels of the prediction intervals, aka CE is PICP - PINC then in literature often ACE is defined as average of the absolute value of this error across multiple PIs such as [45,55] [40, 60], [35,65] ... [5,95]. For example see eq ACE on page 4 here

[2022-10-06 20:51] replacementAI commented on #23967
I'm not sure if we need to:
1. make a new MixIn or Base class
2. create an option for n_neighbors== 'auto'
3. create a new estimator

[2022-10-06 20:55] replacementAI commented on #23967
in class KNeighborsMixin:
[code]
I doubt this fits the sklearn standard tho

[2022-10-06 23:08] replacementAI commented on #23967
Considering that this is an unsupervised model instead of a supervised model, I think this should be its own estimator. If we could get someone to weigh in on this, that would be great. @cmarmo @Micky774 if either of you could give an opinion or recommend someone to

[2022-10-07 06:42] mshavliuk opened #24596 "`LabelEncoder` is not compatible with `Pipeline`"
### Describe the bug

Using the `LabelEncoder` inside a pipeline leads to errors.

The possible solution could be to introduce an auxiliary parameter to the `fit_transform` function, similarly as it was done for `OneHotEncoder`:
https://github.com/scikit-learn/scikit-learn/blob/8694eb00f8a3c0dede331fe60c0415bfaafef631/sklearn/preprocessing/_encoders.py#L794-L806

### Steps/Code to Reproduce

[code

[2022-10-07 07:06] mshavliuk commented on #24596
Meanwhile I can suggest the following workaround:
[code]

[2022-10-07 07:21] glemaitre commented on #24596
A `LabelEncoder` is not supposed to be applied on `X` (only on `y` as a preprocessing) and therefore should not be included in a `Pipeline`. Use a `OneHotEncoder` for this purpose.

[2022-10-07 07:22] glemaitre commented on #24593
I recall a similar issue some time ago: https://github.com/scikit-learn/scikit-learn/issues/21455#issuecomment-977968841

[2022-10-07 07:40] jjerphan opened #24597 "Remove `sum_over_features` from `sklearn.metrics.manhattan_distances`"
`sklearn.metrics.manhattan_distances` with `sum_over_features=False` does not return distances, looks unused, and is also unlikely used by users.

I think the behavior for `sum_over_features=True` should be the unique one for `manhattan_distances`; in this case, `sum_over_features` would be removed this from the public API after [a deprecation cycle](https://scikit-learn.org/stable/developers/cont

[2022-10-07 09:07] jeremiedbb commented on #24549
Indeed. Thanks for the report @tevfikaytekin

[2022-10-07 09:07] #24549 closed

[2022-10-07 09:43] jeremiedbb commented on #24597
+1

[2022-10-07 09:45] #24519 closed

[2022-10-07 13:26] epplef opened #24601 "Linear Regression performs different on sparse matrix"
### Describe the bug

`linear_model.LinearRegression` performs different on sparse matrix than on numpy arrays. The built-in unit test `test_linear_regression_sparse_equal_dense` works well with two features, but not with other feature counts, e.g. `n_features=**14**`. Other combinations of `n_sample` and `n_features` lead to even higher discrepancies.

There was a similar issue (https://github.co

[2022-10-07 14:40] adrinjalali commented on #10003
@jnothman , what @GuillemGSubies provides is convincing to me. Given the utility of these metrics and its usage, which seems to be used, I'm leaning towards accepting this feature.

[2022-10-07 15:10] lorentzenchr commented on #10003
From Ling & Li 1998

From wikipedia:

[2022-10-07 16:36] aniray2908 commented on #20435
Hi, if no one is currently working on it, I'd like to contribute. Could you please assign it to me?

[2022-10-07 16:45] lorentzenchr commented on #10003
#### TLDR
+1 for inclusion. Naming should reflect different strands of literature: cumulative accuracy profile (CAP) [2], concentration curve [3]. It should work for binary classification as well as regression (models for the expectation).

#### Some more background
The cumulative gains curve is the same as the Cumulative Accuracy Profile (CAP), see [1].
From [2]

References:
[1] Tasche 2006 "Vali

[2022-10-07 16:51] choo8 commented on #20435
Hi @cmarmo, I've submitted a pull request (https://github.com/scikit-learn/scikit-learn/pull/24579) based on @NicolasHug's comments in https://github.com/scikit-learn/scikit-learn/issues/20435#issuecomment-872835169. Could you help me take a look at it? Thanks!

[2022-10-07 19:35] horaceklai commented on #14176
take

[2022-10-08 02:50] choo8 commented on #23400
Hi, I am new to contributing to open source projects. Can I take this up?

[2022-10-08 06:26] VincentHk6 opened #24604 "Not able to install on python 3.10 with pip"
### Describe the bug

[code]
I'm not able to resolve dependencies issue while trying to install scikit-learn below the error output i get:

[code]

### Steps/Code to Reproduce

[code]

### Expected Results

To have scikit-learn install on python 3.10

### Actual Results

successful installation output

### Versions

[code]

[2022-10-08 11:11] Pilex1 opened #24606 "MiniBatchDictionaryLearning confusion over U,V"
### Describe the issue linked to the documentation

https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.MiniBatchDictionaryLearning.html

The optimization problem in the documentation is described as

$$
\arg\min \frac12 \Vert X-UV\Vert_F^2+\alpha \Vert U\Vert_1
$$

such that $\Vert V_k\Vert_2\leq 1$ for all $k$.

This is very confusing, because generally $U$ is the dictionary

[2022-10-08 11:27] Pilex1 commented on #24606
On further thought, I think the documentation as written is correct; however it is confusing in that $V$ is actually the dictionary matrix and $U$ is the representation matrix (I would expect it to be the other way around).

[2022-10-08 14:14] thatgeeman commented on #21350
Working on `sklearn.utils.gen_even_slices`

[2022-10-08 14:15] thatgeeman commented on #21350
Working on `sklearn.utils.gen_batches`

[2022-10-08 16:17] thatgeeman commented on #21350
Working on `sklearn.feature_selection._univariate_selection.f_oneway`

[2022-10-08 17:54] jeremiedbb commented on #24606
Hi @Pilex1, your confusion probably comes from the fact that X, the dictionary and the representation are sometimes transposed in the litterature compared to scikit-learn. In sklearn we have the general convention to have X of shape (n_samples, n_features), the dictionary (n_components, n_features) and the representation (n_samples, n_components).

[2022-10-08 18:55] andportnoy commented on #12794
I have randomized SVD now working along with ARPACK, though the code is still at the proof of concept stage.

Apparently `__matmul__` is not supported when a `LinearOperator` is on the RHS. Meanwhile `A @ B`, where `A` is a NumPy array and `B` is a `LinearOperator`, is used in the randomized SVD implementation (specifically the part where `X` is projected onto the small random space with basis giv

[2022-10-08 20:28] lobpcg commented on #12794
@andportnoy  Yes, I am sure that  LinearOperator must be on the LHS. Your workaround looks reasonable.

If you start using LOBPCG in addition to ARPACK, make sure to specify also matmat, not just matvec, if the definition of the LinearOperator

Please file a bug report if you believe that this is a bug:
"LinearOperator has its nd (number of dimensions) struct field equal to 0 when the object is in

[2022-10-09 00:48] andportnoy commented on #12794
Got it, thanks. Going to work on @lobpcg next (and PROPACK as well).

I'll spend some more time trying to root cause the error (why isn't this struct field populated? is that expected? can it be fixed?). Will file a bug report in SciPy.

[2022-10-09 02:01] saldanha3193 opened #24610 "Predicted labels get reversed for HistogramGradientBooostingClassifier"
The predicted labels get reversed when a model trained using the sklearn HGBC is applied on the full dataset/new data.

[2022-10-09 04:45] Generalized opened #24611 "A note about documentation on the logistic regression."
### Describe the issue linked to the documentation

Dear Authors.
First of all, let me express my respect for your hard work and success, acclaimed and used by thousands of ML specialists.
I would like to report a small issue in the documentation, providing a justification for my concern and proposal.

The documentation [says](https://scikit-learn.org/stable/modules/linear_model.html#logistic-regr

[2022-10-09 05:14] scikit-learn-bot opened #24612 "⚠️ CI failed on Wheel builder ⚠️"
**CI is still failing on [Wheel builder](https://github.com/scikit-learn/scikit-learn/actions/runs/3278795901)** (Oct 19, 2022)

[2022-10-09 08:47] rusdes commented on #24597
I'd like to take this up. Should I just check whether the `sum_over_features` parameter is being used by the user and if it is, just display a deprecation warning and continue to return output for `sum_over_features=True`, irrespective of what the user set its value to? Or should I keep the function behavior the same and just display a deprecation warning if the user has used the parameter?

[2022-10-09 11:50] adrinjalali commented on #24610
Please provide a minimal reproducible with the error, otherwise I'm flagging this as spam.

[2022-10-09 11:50] #24610 closed

[2022-10-09 18:03] Tribhuvan0 commented on #24558
Hey, @adrinjalali I want to work on this issue but I am a new to open source contributions, I have some knowledge in machine learning. I want to contribute to this repo. Can you please guide me and assign me this issue

[2022-10-09 21:20] thomasjpfan commented on #20557
It's a bit more involved because `RegressorChain` creates a new `X_aug` with `X`, which includes `y`:

https://github.com/scikit-learn/scikit-learn/blob/4ee3fdd85c8d78da24c166a4127e8bc7bc8dd469/sklearn/multioutput.py#L607-L613

Which it will later slice:

https://github.com/scikit-learn/scikit-learn/blob/4ee3fdd85c8d78da24c166a4127e8bc7bc8dd469/sklearn/multioutput.py#L633

To pass a DataFrame to `

[2022-10-09 21:26] thomasjpfan commented on #24486
Scikit-learn does not support `nans` are group labels. For example, if we use `np.nan`:

[code]

I do agree that the error message for `pd.NA` is bad and should be improved.

[2022-10-10 00:10] m7142yosuke opened #24614 "GLM doesn't have an offset option"
### Describe the workflow you want to enable

As described at #24155, GLM should also support the offset option.

### Describe your proposed solution

For example
[code]

### Describe alternatives you've considered, if relevant

_No response_

### Additional context

_No response_

[2022-10-10 04:18] NickBrecht opened #24615 "Inconsistent Results For Logistic Regressions across multiple computers"
### Describe the bug

Hey all -

I'm working on teaching some students some logistic regressions and noticed different computers can produce slightly different intercepts/coefs. At first I thought it was maybe environment differences, but I have been able to reproduce the variances when accounting for the various packages/interpreters.

I can create a new environment on computer 1 (windows 10, int

[2022-10-10 11:07] epplef commented on #24601
Further tests indicate that the problem has to do with tolerances in [scipy.sparse.linalg.lsqr](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.lsqr.html). Take the following code and try different values für `atol` and `btol`. Standard tolerances `1e-6` lead to a failed unit test , `1e-9` lead to satisying accuracy.

[code]

The problem, however, is to determine `atol` an

[2022-10-10 12:58] ogrisel commented on #24401
The 1.1.1 release is online. We can bump up the dependencies.

[2022-10-10 13:19] glemaitre commented on #24615
Could you set the `random_state` since `liblinear` as some randomness in the algorithm?

[2022-10-10 13:35] jjerphan commented on #24597
Thanks for this proposal, @rusdes.

The suitable way to go through a deprecation cycle, that is to support `sum_over_features=False` for two more minor releases whilst raising a warning in this period.

Regarding introducing a deprecating cycle, see:
 - [this section of documentation](https://scikit-learn.org/stable/developers/contributing.html#deprecation) for a comprehensive overview
 - https://

[2022-10-10 13:38] lesteve commented on #23727
I put together a repo to run the scikit-learn inside Pyodide. I listed the issues I have spotted now there, but this will need more investigation. Any feed-back, let me know!

https://github.com/lesteve/scikit-learn-tests-pyodide

[2022-10-10 14:01] ogrisel commented on #24612
The main problem that causes the windows test runs to fail seems to be a missing compiled extension:

[code]

[2022-10-10 14:17] JaimeArboleda opened #24622 "Proposal for creating a SwitchCase"
### Discussed in https://github.com/scikit-learn/scikit-learn/discussions/24619

<div type='discussions-op-text'>

<sup>Originally posted by **JaimeArboleda** October 10, 2022</sup>
New operator in `sklearn.compose` for creating *branches* or *switch-cases* in the whole pipeline.

I think an operator like this one would be handy for hyperparameter tuning:

[code]
In particular, it would make it ea

[2022-10-10 14:33] adrinjalali commented on #24622
You can already do this with `GridSearchCV` and other search estimators:

[code]

which outputs:

[code]

For more info: https://scikit-learn.org/stable/modules/compose.html#usage

Closing, happy to re-open if this doesn't satisfy the usecase you're seeking to solve.

[2022-10-10 14:33] #24622 closed

[2022-10-10 14:36] jjerphan commented on #24612
The absence of compiled extension is the source of failure for the Windows 64bit wheels only, that is:
https://github.com/scikit-learn/scikit-learn/blob/fd0e8158a408b79bc7c43b4de7891640bb0fe809/.github/workflows/wheels.yml#L58-L69

The other Windows 32bit wheels, that is:
https://github.com/scikit-learn/scikit-learn/blob/fd0e8158a408b79bc7c43b4de7891640bb0fe809/.github/workflows/wheels.yml#L71-L79

[2022-10-10 14:54] ogrisel commented on #24612
Thanks. It's weird because there is a 32 bit windows build for scipy 1.9.1 but not for 1.9.2:

https://pypi.org/project/scipy/1.9.1/#files

I am pinning 1.9.1 for the regular CI in #24621 but I guess we will need something similar for the wheels or maybe we can temporarily stop building wheels for 32 bit windows while scipy does not support it.

[2022-10-10 14:58] ogrisel commented on #24612
This point still needs investigation though.

[2022-10-10 15:46] ogrisel commented on #24612
As discussed in #24621, we probably should find a way to let pip use `--prefer-binary` when installing the build and test dependencies. Not sure how to do that with `cibuildwheel` though.

[2022-10-10 17:17] NickBrecht commented on #24615
@glemaitre Of course - I should've included that in the code example.

Setting `random_state = 42` and removing the `test_train_split` to just pass the entire data, I get these results:

| values | Computer 1 | Computer 2 |
|---|---|---|
|Intercept| -11.494120788531475 | -12.301872604999168 |
|Age |	-0.064421 | -0.035942 |
|Experience |	0.072901 | 0.045021 |
|Income |	0.059754 | 0.060148  |
|Famil