[2022-01-17 02:35] fangzhouli opened #22230 "Reproducibility with GridSearchCV and RandomForestClassifier and both n_jobs=-1"
### Describe the bug

With `GridSearchCV(..., n_jobs=-1)` and `RandomForestClassifier(..., n_jobs=-1)`, the results seem not to be deterministic.

Probably because the copy of RandomState in subprocesses within subprocesses is not working as expected. This seems to only occur with a huge number of GridSearchCV candidates (in my case 1000), and I'm using 128 cores.

Although practically, since the

[2022-01-17 04:25] cmarmo commented on #11440
Based on how other project have managed similar issues ([matplotlib#5743](https://github.com/matplotlib/matplotlib/pull/5743), [astropy-sphinx#5](https://github.com/astropy/sphinx-astropy/issues/5)) and the effort put in #21350, I believe this one can be closed.

[2022-01-17 07:00] GaelVaroquaux commented on #11440
Sounds good with me. I'm closing it.

[2022-01-17 07:00] #11440 closed

[2022-01-17 11:03] pcm135 commented on #21995
Hi, @glemaitre!
I want to work on this issue. May I go for it?
Thanks :)

[2022-01-17 11:14] pcm135 commented on #21876
Is this issue still open?
If yes may I work on this?
Thanks

[2022-01-17 12:37] pcm135 commented on #21945
Hi @ogrisel!
I am new to OpenSource, it will be a great opportunity if you could allow me to work on this.
Thanks : )

[2022-01-17 13:59] thomasjpfan commented on #21995
I labeled this issue as "hard" because we do not have a clear path forward on how to resolve this issue. Some options are:

1. Do it ourselves - create another page that links to examples that we want to show case, like a "mini-gallery"
2. Restructure the examples into "narrative driven examples" and "old style examples" so we can link to the new "narrative driven examples".
3. Wait for [sphinx-ga

[2022-01-17 14:50] pcm135 commented on #21995
Thanks @thomasjpfan
Sure I will start my journey from #21350

[2022-01-17 15:13] mariokostelac opened #22231 "chi2 significantly slower for np.ndarray (of bools/ints) compared to pd.DataFrame (of bools/ints)"
### Describe the bug

I've accidentally discovered that passing a pd.DataFrame to `feature_selection.chi2` is significantly faster than passing the same data as np.ndarray.

Given that many pipeline transformers return np.ndarray even when pd.DataFrame is passed as `X`, it might be good to investigate why is that happening.

Digging a bit with `%lprun` showed that 95%+ of time is spent in [safe_sp

[2022-01-17 15:19] Micky774 opened #22232 "Sphinx docs don't build correctly on Windows 10"
### Describe the bug

I'm on Windows 10. The scikit-learn contributor docs prescribe the following to build the docs (after necessary installs):
![image](https://user-images.githubusercontent.com/34613774/149794271-b07390d7-5c60-4c21-b7c5-3f6a69565222.png)

However, in practice, running `make` only results in:
![image](https://user-images.githubusercontent.com/34613774/149794451-91c7aa44-2020-46eb

[2022-01-17 15:20] Micky774 commented on #22232
As an additional comment, the contributor docs should also probably be updated to include the fact that on Windows 10 you can't just run `make` to have it minimally compile the docs.

[2022-01-17 15:26] thomasjpfan commented on #22232
I think we can fix `doc/make.bat` so that building docs on windows work the same way as in unix systems. Basically copying the batch commands from "html-noplot" into:

https://github.com/scikit-learn/scikit-learn/blob/1d1aadd0711b87d2a11c80aad15df6f8cf156712/doc/make.bat#L12

[2022-01-17 15:35] Micky774 commented on #22229
Just to add context, it looks like the author of this [post](https://medium.com/@samuel.monnier/cross-validation-tools-for-time-series-ffa1a5a09bf9) has an [implementation](https://github.com/sam31415/timeseriescv) that is already close to scikit-learn API. This may make implementation, if deemed worthwhile, simpler.

[2022-01-17 16:06] mariokostelac commented on #22231
A colleague found that it's coming to the fact that pandas DF gets converted to float. You can verify that by observing that

[code]

is as performant as

[code]

[2022-01-17 16:20] glemaitre commented on #22231
I assume that in the case of `float` NumPy can do some SMID operation because the CPU times are really close.

[2022-01-17 16:27] giorgiovisani commented on #18888
Hello, is there any news on it?

[2022-01-17 16:29] mariokostelac commented on #22231
@glemaitre seems like that.

I understand that this comes down to numpy (or lower level) implementations of matmul, but it's confusing to me (sklearn user) that passing "the same" data as pd.DataFrame or np performs very differently, in terms of speed.

In case it brings some useful context, the way I've discovered that was by running a pipeline like

[code]

In order to avoid such behaviour, I'd

[2022-01-17 16:43] glemaitre commented on #22231
Basically, we always convert an array into a NumPy array. This is the job of the internal `check_array` function. I think that there are two things that are problematic here:

- I would expect the `dtype` to be preserve similarly for the dataframe and NumPy array but bool are converted in to float the latter
- We did not anticipate that we would not benefit from the optimization provided by NumPy

[2022-01-17 16:46] thomasjpfan commented on #5533
I ran the script from https://github.com/scikit-learn/scikit-learn/issues/5533#issuecomment-152151382 on scikit-learn 1.0, 200 times and was not able to reproduce the original issue.

Feel free to open another issue if the issue still persist for you on the latest version of scikit-learn.

[2022-01-17 16:46] #5533 closed

[2022-01-17 17:10] glemaitre commented on #22230
The following piece of code is how to properly write the grid-search and it is deterministic.

[code]

Seeding with `np.random.seed` is not a good practice in general. You might want to have a closer look to https://scikit-learn.org/stable/common_pitfalls.html#controlling-randomness

[2022-01-17 17:10] #22230 closed

[2022-01-17 17:14] thomasjpfan commented on #22231
It's when its mixed:

[code]

Now that I think about it, I think it's better to override this behavior and just treat the bool dtype as a bool and let `np.result_type` do the correct thing.

[code]

I think the above is okay as long as we do something slightly special for boolean extension arrays.

[2022-01-17 17:22] glemaitre commented on #22231
Yep, I think so as well.

[2022-01-17 17:37] fangzhouli commented on #22230
Thanks @glemaitre . Just one more questio, in https://scikit-learn.org/stable/common_pitfalls.html#getting-reproducible-results-across-multiple-executions, it is passing `rng` to `StratifiedKFold` and `RandomForestClassifier`. You are passing `N_SEED` instead. Was it expected?

[2022-01-17 17:55] glemaitre commented on #22230
Yes because I am sure that internally we will create a random number generator from this seed that will always be the same across execution. Basically, I am not anymore sure if sharing the random number generator between classes/functions in a parallel setting is safe (it might be backend dependent). However it has the drawback highlighted in the next section (getting unlucky or lucky) -> https://

[2022-01-17 18:03] thomasjpfan commented on #22231
With respect to the original issue, I think we can adjust the `check_array` call in `chi2`, to convert `X` to float64 since we will convert `observed` to float anyways in `_chisquare`:

https://github.com/scikit-learn/scikit-learn/blob/0c65bbfe8ce816a181780d2a249c94dd653e115a/sklearn/feature_selection/_univariate_selection.py#L157]

Opened PR here: #22235

[2022-01-17 18:42] fangzhouli commented on #22230
Thank you so much!

[2022-01-17 19:10] fangzhouli commented on #22230
@glemaitre If I do not include `random_state` in `param_grid`, the result is different for each run.

[2022-01-17 21:03] JimQ312 commented on #11647
Has this been done? I'm interested in this implementation or if someone can point me in the right direction for a similar mob() package for python.

[2022-01-17 21:24] SparklePigBang commented on #21350
The type description `tuple if ``return_X_y`` is True`, which I replaced in my PR, appears in 14 other places. I would like to replace all of these in the same way, so that it's consistent. Can I go ahead and put all these into one PR, or should I submit a separate PR for each function?

[2022-01-18 03:42] PSSF23 commented on #18888
@giorgiovisani If you want to use the code you can install from my `sklearn` fork: https://github.com/PSSF23/scikit-learn-stream/tree/stream. There is also continuous development on an ensemble approach: https://github.com/neurodata/SDTF.

[2022-01-18 06:54] michen00 commented on #22207
Thanks for your response. I have submitted my first pull request according to your suggestion.

I worked around the issue temporarily by varying some random seeds earlier in the pipeline. It's good to know I can avoid this behavior reliably by using a different solver.

[2022-01-18 06:54] #22207 closed

[2022-01-18 08:09] jjerphan commented on #22173
@NicolasHug: using `max_leaf_nodes=255` and `min_samples_leaf=1` gives similar proportions.
![Screenshot 2022-01-18 at 09-08-28 py-spy profile - speedscope](https://user-images.githubusercontent.com/13029839/149896301-546933f6-8026-4d6f-aaf5-f0407681feaa.png)

[2022-01-18 09:57] #22142 closed

[2022-01-18 11:03] r-matsuzaka commented on #22229
But it is no more maintained.
I contacted author.
And most of test codes do not work.
So I need to refactor it if I utilise it.
If this feature does not match concept of scikit learn, I will close it.

[2022-01-18 16:23] thomasjpfan commented on #21350
After the review for https://github.com/scikit-learn/scikit-learn/issues/21350 is done, we can apply those to other PRs. As for updating 14 at once, that could delay reviewing. I would be okay with doing 4 at a time, if the changes are mostly the same.

[2022-01-18 16:38] reshamas commented on #21350
@thomasjpfan
Wanted to check, are folks working on 14 items?
We have this information up at the top:

[2022-01-18 16:49] thomasjpfan commented on #21350
No one is doing 14 items.

Okay, let's keep this policy for this issue, and restrict it to 3 at a time.

[2022-01-18 17:27] #21973 closed

[2022-01-18 18:53] SparklePigBang commented on #21350
Ok fair enough. I was just motivated to do everything in a consistent way. But I'll limit myself to two further PRs. :)

[2022-01-18 21:30] genvalen commented on #20724
@reshamas this is the traceback from the REPL for:
`clf1 = LogisticRegression(multi_class='multinomial', n_jobs=0)`
`clf1.fit(X,y)`

[code]

[2022-01-19 01:04] dpoznik commented on #21511
Nice. Just a heads-up that the badge at the top of [README.rst](https://github.com/scikit-learn/scikit-learn/blob/main/README.rst) does not yet reflect 3.10 support :)

[2022-01-19 02:49] thomasjpfan commented on #20724
Since we pass `n_jobs` directly to joblib's `Parallel` which does the validation, I do not think we need to validate `n_jobs` in scikit-learn itself.

[2022-01-19 04:47] GitTorres commented on #14959
Looking forward to this fix as well.  Appears that the PR merge failed some tests back in early December.  It's not clear if it's actively being looked at.

[2022-01-19 09:16] BrandonKMLee commented on #11369
@cmarmo Thanks for the RFC.
Also for external indices, I have noted some other table for external evaluation (which is suitable for clustering and community detection) https://github.com/GiulioRossetti/cdlib/issues/147#issuecomment-869373628

[2022-01-19 09:28] #22193 closed

[2022-01-19 09:31] markusloecher opened #22242 "import trees/forests from other software"
### Describe the workflow you want to enable

I would like to import a tree/forest which was trained in e.g. R into the corresponding sklearn framework.

### Describe your proposed solution

If there was a `tree.import_text` function (in analogy to the existing `tree.export_text `) I would be able to write code in R that exports trees grown in R to the desired format.
For forests, there would have

[2022-01-19 11:14] sanjaradylov opened #22243 "Clarification of stopping criteria `tol` of iterative solvers"
### Describe the issue linked to the documentation

Documentations of several supervised-learning models omit details about their tolerance-based early stopping. Some examples include [`LogisticRegression`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html#sklearn.linear_model.LogisticRegression) and [`RidgeClassifier`](https://scikit-learn.org/stable/m

[2022-01-19 19:55] PurnaChandraMansingh commented on #21350
Hi @thomasjpfan

Are there only 14 items remaining for new contributors?
I am new to open source and I am very much interested to work on this.
I can see only 42 tasks are completed out of 229, can I pick any issue from the remaining to wark?

[2022-01-19 19:56] pavopax commented on #10603
**Is anyone able to briefly summarize the latest progress and/or solutions towards the above?**

---
As far as I can say, we have:

* Given: a pipeline with one-hot encoder (OHE) and other transformers including, say, a classifier in the last step, for data with both numeric and categorical columns
* Need: transformed column names, to match up with coefficients or importances from the classifier

[2022-01-19 20:23] genvalen commented on #21350
@PurnaChandraMansingh you can pick any of the remaining  229 tasks. Look at the previous comments first (and also look through the open pull requests), to make sure no one is actively working on the one you select.

[2022-01-19 20:32] thomasjpfan commented on #10603
To get the feature names that are inputted into the final step, one can slice the pipeline and call `get_feature_names_out`. For example, the following works on 1.0:

[code]

This works as long as all the transformers in `ColumnTransformer` supports `get_feature_names_out`.

As for scikit-learn, we are in the process of adding `get_feature_names_out` to all transformers here: https://github.com/sc

[2022-01-19 20:33] PurnaChandraMansingh commented on #21350
Thanks @genvalen
I will follow the same

[2022-01-19 22:17] NightMachinary opened #22244 "`sklearn.dataset.make_blobs` takes too much RAM"
### Describe the bug

`sklearn.dataset.make_blobs`  consumes an unusual amount of memory.

### Steps/Code to Reproduce

[code]

### Expected Results

The max memory consumption should be around `10**(4+4)*8=800000000 bytes = 763MB`.

### Actual Results

The max memory consumption is `2426524 kilobytes = 2.4GB`. (The `time` command returns the result in kilobytes.)

### Versions

[code]

[2022-01-19 22:22] NightMachinary commented on #22244
Strangely enough, when I use:
[code]

I get `1709112 KB = 1.7GB`. The results are robust across multiple runs.

[2022-01-20 00:47] ThomasWolf0701 commented on #21949
The Error was Not in the Code snippet. This was provided/done to get an Idea what was the reason. And was giving a warning from the beginning.

The Error I copied in above Shows up when I use catboost in SelectFromModel as Part of a Pipeline in Combination with Caching. When the Feature selection is reloaded from Cache the Error from above occurs.

[2022-01-20 04:42] thomasjpfan commented on #21949
The original reproducible example provided was about the interaction between `get_feature_names_out` + `CatBoost`, which the bug fix was for. From what I can tell, the original reproducible example does not contain pipeline caching or hyper-parameter tuning.

I can see that the issue's text speaks of pipeline caching + tuning. May you provide code to reproduce your caching + hyper parameter tuning

[2022-01-20 05:34] DennisOsei commented on #21350
Working on  sklearn.datasets._base.load_breast_cancer

[2022-01-20 08:41] MaxwellLZH commented on #22244
Running with memory_profiler on MacOS and latest scikit version gives the following result:

[code]

[2022-01-20 12:22] PurnaChandraMansingh commented on #21350
Working on sklearn.datasets._base.load_boston

[2022-01-20 14:53] glemaitre commented on #22244
Basically, we create a temporary array and then concatenate:

https://github.com/scikit-learn/scikit-learn/blob/ddbf5b37d41b75823203f2e7df4f3e7d471af733/sklearn/datasets/_samples_generator.py#L933-L949

We could avoid the temporary arrays by generating the random data directly within a pre-allocated empty NumPy array.

In your computation, you are missing that we need to allocate `y` and the `cent

[2022-01-20 15:12] glemaitre commented on #22244
A potential alternative implementation would be:

[code]
I am getting the following memory increase:

[code]

which is closer to what you would expect.

[2022-01-20 15:30] #21765 closed

[2022-01-20 16:56] thomasjpfan commented on #21308
@MrinalTyagi Are you working on `cluster`? If not, we can open it up for other contributors.

[2022-01-20 17:02] MrinalTyagi commented on #21308
Sorry for not updating. Got busy in something else. Would love to see someone else initiate to complete the task.

[2022-01-20 21:10] NyW8 commented on #22095
I'm curious about this feature, are you asking about adding a single point to an existing tree or combining two existing trees?

[2022-01-20 21:20] NightMachinary commented on #22244
Yes, the increment is totally reasonable, but why is the peak memory have an extra GB? I generally don’t like memory_profiler (which the memit magic uses under the hood); its results are weird and dependent on the interpreter state (e.g., if it has memory claimed from OS that it has not used). Using the time command is completely reliable, on the other hand.

If the total memory usage should be ar

[2022-01-20 22:41] cakemountain commented on #17390
@mariyamiteva @avinashpancham @Ben-Epstein did you ever end up figuring this out? I'm also having this issue, even when I use `cloudpickle` (or `dill` for that matter) to serialize the Pipeline: `ModuleNotFoundError: No module named '<needfulmodule>'`. If at all possible I would *really* like to not have to duplicate code to get this working; otherwise what's the point of even using serialization/

[2022-01-20 22:46] Ben-Epstein commented on #17390
@cakemountain are you asking if the _entire_ external python package can be pickled with your object? That's a new feature of cloudpickle I believe. It certainly makes sense that it would not be the default, otherwise all pickled objects would be pretty enormous. It's also quite hard to recursively figure out every package that a module depends on.

Nonetheless, it's an extremely useful feature wh

[2022-01-21 00:53] andygmu commented on #7834
So this is how I was able to get the Train and Test Learning curves considering that Im using Time Series Split Cross Validation
`
from sklearn.model_selection import TimeSeriesSplit,  cross_val_score
import pandas as pd

Number_of_Splits = 20
time_split = TimeSeriesSplit(n_splits= Number_of_Splits)

#TRAIN and VALIDATE SIZES
SIZES = [(el[0].shape, el[1].shape) for el in time_split.split(x_train_n

[2022-01-21 01:00] jckkvs opened #22256 "cross_val_predict does not accept GridSearchCV (CV = GroupKFold)"
### Describe the bug

I will double-cross-validation with GroupKFold, LeaveOneGroupOut.
[What Is Nested Cross-Validation](https://machinelearningmastery.com/nested-cross-validation-for-machine-learning-with-python/#:~:text=The%20use%20of%20two%20cross-validation%20loops%20also%20leads,evaluating%20the%20fit%20model%20on%20the%20holdout%20fold.)

In the example of KFold, Double-CV can be executed b

[2022-01-21 01:15] DennisOsei commented on #21350
@thomasjpfan I am currently working on  sklearn.datasets._base.load_breast_cancer and I am getting "return value has no description" error. I was wondering if there's a place to get these descriptions or am I suppose to come up with them. And if I'm suppose to come up with them is there a standard for writing these descriptions. Thanks.

[2022-01-21 02:53] scikit-learn-bot opened #22257 "⚠️ CI failed on Linux_Nightly.pylatest_pip_scipy_dev ⚠️"
## Closed issue because CI is no longer failing! ✅

[Successful run](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=37230&view=logs&j=dfe99b15-50db-5d7b-b1e9-4105c42527cf)

## Previous failing issue

**CI Failed on [Linux_Nightly.pylatest_pip_scipy_dev](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=37205&view=logs&j=dfe99b15-50db-5d7b-b1e9-4105c4252

[2022-01-21 03:05] PurnaChandraMansingh commented on #21350
Hi @DennisOsei
I was also getting the same message after reading others PRs I got to know that we have to add a certain description under the Return section.

My way of fixing the error message is as follow

**Before**

`
    Returns
    -------
    data : :class:`~sklearn.utils.Bunch`
        Dictionary-like object, with the following attributes.

        data : ndarray of shape (506, 13)

[2022-01-21 04:43] DennisOsei commented on #21350
@PurnaChandraMansingh I'm still getting the errors but I'm going to make a PR anyways and see what @thomasjpfan thinks. Thanks for the help

[2022-01-21 04:44] DennisOsei commented on #21350
@atharvapatil123 Thanks for the info.

[2022-01-21 07:05] #22231 closed

[2022-01-21 07:22] PurnaChandraMansingh commented on #21350
Working on sklearn.datasets._base.get_data_home

[2022-01-21 08:07] mariokostelac commented on #22231
Thanks a lot for fixing this ❤️.

On Fri 21 Jan 2022 at 08:06, Julien Jerphanion ***@***.***>
wrote:

--

.mk

[2022-01-21 08:46] PurnaChandraMansingh commented on #21350
PR failing "Check Changelog / A reviewer will let you know if it is required or can be bypassed (pull_request)"

How to solve this error?

[2022-01-21 09:50] PurnaChandraMansingh commented on #21350
Working on sklearn.covariance._shrunk_covariance.shrunk_covariance

[2022-01-21 10:03] jckkvs commented on #22256
It was confirmed that GroupKFold can be realized by rewriting _fit_and_score and _fit_and_predict as follows.

`

    X_train, y_train = _safe_split(estimator, X, y, train)
    X_test, y_test = _safe_split(estimator, X, y, test, train)

    groups_np = np.array(groups)

    if groups is not None:
        groups_train = groups_np[train]
        groups_test =  groups_np[test]
    else:
        group

[2022-01-21 13:20] k3ybladewielder opened #22261 "AttributeError: 'RFE' object has no attribute 'support_'"
### Describe the bug

When using RFE to search for the best features using GridSearchCV, this error occurred in which it says that rfe does not have the "support_" attribute.
[code]

### Steps/Code to Reproduce

Exemple:

[code]

### Expected Results

find the error

### Actual Results

AttributeError: 'RFE' object has no attribute 'support_'

### Versions

System:
    python: 3.9.7 (default, Sep

[2022-01-21 14:13] thomasjpfan commented on #22261
Thanks for opening the issue!

`GridSearchCV` does not modify `rfe`. It stores the best estimator internally as `best_estimator_`. Here is a  short example on how to get the `support_`:

[code]

[2022-01-21 14:13] #22261 closed

[2022-01-21 15:13] francoisgoupil opened #22262 "Failing test test_quantile_estimates_calibration with q=.9"
### Describe the bug

Hello,

I built the source of the main branch and ran the tests. The quantile estimates calibration test is failing after 2 mins 33 sec and a lot of processor usage.

Thanks!

### Steps/Code to Reproduce

I launched the test in my dev folder with:

[code]

### Expected Results

Test passed

### Actual Results

[code]

### Versions

System:
    python: 3.10.2 | packaged by con

[2022-01-21 15:40] EnderWiggin14 opened #22265 "Unclear documentation for sklearn.manifold.MDS"
### Describe the issue linked to the documentation

There seems to be contradictory documentation with regards to the `MDS.fit_transform()` `init` argument and the `init` argument in the `sacof()` function the `fit_transform()` calls. The `fit_transform()` documentation claims a shape of ((n_samples , )), but the `smacof()` documentation claims a shape of ((n_samples, n_components)).

[MDS link](h

[2022-01-21 16:49] ogrisel commented on #22262
This is weird. This test pass in less than 2s on my machine and passes successfully on all our CI hosts, including the nightly build. It's also using a recent version of scipy from conda-forge.

I was thinking we could try to change the code to `solver_options={"lstsq": True}` to make it more stable but on my machine this would make the test much too slow...

@lorentzenchr any idea on the cause of

[2022-01-21 16:59] francoisgoupil commented on #22262
Here is the result of
```lscpu```

Architecture:                    x86_64
CPU op-mode(s):                  32-bit, 64-bit
Byte Order:                      Little Endian
Address sizes:                   39 bits physical, 48 bits virtual
CPU(s):                          8
On-line CPU(s) list:             0-7
Thread(s) per core:              2
Core(s) per socket:              4
Socket(s):

[2022-01-21 17:00] ogrisel commented on #22262
On my machine (where I cannot reproduce the problem) I have:

[code]

[code]

[2022-01-21 17:05] francoisgoupil commented on #22262
The test is passed with:
[code]

[2022-01-21 17:37] glemaitre commented on #22244
The RAPIDS version of this function does accept the dtype, so I think it’s a reasonable API choice. I can open another issue if it’s out of scope for this one.

Since it might be more and more common to use `np.float32` as dataset, we could provide such option.

[2022-01-21 17:39] glemaitre commented on #22244
Do you want to propose a PR to fix it? I could then provide a first approval on the 2 approvals requested.

[2022-01-21 17:51] #21977 closed

[2022-01-21 18:07] NightMachinary commented on #22244
Okay, I’ll open a PR. Should I put both the memory fix and the dtype option into a single PR?

---

I also have another unrelated idea: It would be great if the dataset generation APIs had an API to write big datasets (that don’t fit in the memory) to disk. In the case of make_blobs, I think this can be achieved by first generating the centers, and then generating a part of the big dataset, concat

[2022-01-21 18:11] NightMachinary commented on #22244
Another matter came to my mind; is there a way to add a unit test to ensure that there wouldn’t be a regression in memory usage in the future? Would it be a good idea to add such a test in my PR?

[2022-01-21 20:50] cakemountain commented on #17390
Thanks @Ben-Epstein, I appreciate the link. I spent a lot of time looking for exactly that and was unable to find it. Agreed, obviously pickling an entire module by default wouldn't make sense, but for the use case I described above it's nice to not have to copy-paste files across repositories (🤮) in order to get a deserialized Pipeline to work.

[2022-01-22 07:20] sameer12year opened #22267 "Adittion of a new merge/filter logic for Dataframes"
Suppose there are 2 pandas DataFames A & B. We want to keep only those rows in A which are uncommon with DataFrame B. Currently there's no easy way to perform this operation directly although a function should be there to handle this operation. This is a challenge that I face quite often while using pandas and this can be easily implemented in the source code.

[2022-01-22 13:30] thomasjpfan commented on #22267
This feature request is [pandas](https://github.com/pandas-dev/pandas) specific and is out of scope for scikit-learn's issue tracker.

[2022-01-22 13:30] #22267 closed

[2022-01-22 16:23] lorentzenchr commented on #22173
@jjerphan Does your profiling indicate other room for improvements?

We could at least remove the TODO comment hinting at this issue.

[2022-01-22 16:41] jjerphan commented on #22173
Yet, we might be able not to rely on the `median` from `numpy` and have it made parallel (we just need to try).

For what I recall of my exploration of the OpenMP parallel sections (namely `GOMP_parallel`, as shown above which are large portions of the profiling report) a few months, it seems that they can't really be improved much (those are `nogil`-context and the instructions are simple and opt

[2022-01-22 17:36] MohamedBsh commented on #20558
This is an interesting issue. I thought np.dot was faster than np.einsum in execution time because np.dot uses (if I am not mistaken) OpenMP threads. A PR has been made for this issue.

[2022-01-23 02:57] #22257 closed

[2022-01-23 12:07] kuraga commented on #21173
@BeyondCloud , I'm facing the same issue.

Moreover, the same if `y_score.shape[1] <= 2`.

Reopen, please?

[2022-01-23 14:22] ChuanXu1 opened #22277 "proxy_impurity_improvement in MSE"
### Discussed in https://github.com/scikit-learn/scikit-learn/discussions/22276

<div type='discussions-op-text'>

<sup>Originally posted by **ChuanXu1** January 23, 2022</sup>
Hi sklearn team,

For the proxy impurity improvement in regression tree, shouldn't it be negative?

https://github.com/scikit-learn/scikit-learn/blob/7e1e6d09bcc2eaeba98f7e737aac2ac782f0e5f1/sklearn/tree/_criterion.pyx#L900

[2022-01-23 15:07] ChuanXu1 commented on #22277
alright, I figure it out, it is right, the SS is -(Σy2/n-nbar2) to positive

[2022-01-23 15:07] #22277 closed

[2022-01-23 17:38] thomasjpfan commented on #21173
For the original issue, `y_score` is being treated as multi class because it has two axes and `y_true` only has two labels. One can include the `labels` argument to specify the labels directly:

[code]

If `y_score.shape[1] <=2`, then it is the binary case. You can pass in the probabilities of the positive class directly:

[code]

If you still think there is a bug, please open a new issue.

[2022-01-24 09:14] ogrisel commented on #22262
@francoisgoupil maybe you could try to run the numpy and scipy test suites on your machine. It might be the case that your CPU generation (Tiger Lake) is not yet be very well supported by OpenBLAS there might be numerical issues with it, although the 0.3.19 release itself does not mention anything related to Tiger Lake:

https://github.com/xianyi/OpenBLAS/releases

Also note that OpenBLAS 0.3.19 h

[2022-01-24 10:16] glemaitre commented on #22244
It would be best to split. We might want to discuss a bit more about the `dtype` because it should also be included in other generators I think.

I don't know if it should be the job of scikit-learn here. I would think that `dask` and `dask-ml` would be better suited in these cases.

We can discuss it in the PR when it will be reviewed. It would be great to indeed have a non-regression test as you

[2022-01-24 10:19] glemaitre commented on #21949
@ThomasWolf0701 it seems another bug, unfortunately. I would suggest opening a new dedicated issue on top of the suggestion provided by @thomasjpfan.

[2022-01-24 10:54] NightMachinary commented on #22244
‍`dask` seem to be more about distributed GPU workloads? The big data generation can happen just fine on a single CPU. I

[2022-01-24 14:59] kuraga commented on #21173
@thomasjpfan , thanks for reply!

I think it is a bug or have to be documented.

Because if you mean multilabel (`is being treated as multi class`) then documentation says: `Note that the multilabel case isn’t covered here.`.

Let's just reopen and ping somebody?

[2022-01-24 15:06] thomasjpfan commented on #21173
I meant multiclass.

It is best to open another issue. This way you can provide a code snippet on where you think the bug is or where the documentation can be expanded.

[2022-01-24 15:11] thomasjpfan commented on #21173
From a glance, I think the error messages can be improved. But before we do that, it would be good to see where you are running into issues with a code example.

[2022-01-24 15:43] kuraga commented on #21173
@thomasjpfan , Ok, but then:

I don't understand. Help, please!

If we have 2 labels, how exactly is it treated?

If we have 2 objects, how exactly is it treated?

Thanks!

[2022-01-24 15:55] glemaitre commented on #21876
@PurnaChandraMansingh The issue is till open and you can go forward deprecating the methods.

[2022-01-24 15:57] thomasjpfan commented on #21173
Do you mean `len(np.unique(y_true)) == 2`, `len(labels) == 2`, `len(y_true) == 2` or something else?

Do you mean `y_score.shape[0] == 2`, `y_score.shape[1] == 2` or something else?

It's still best to provide a code example so I understand your question/issue.

One way to figure out how things are currently behaving is to look at the source:

https://github.com/scikit-learn/scikit-learn/blob/449d

[2022-01-24 15:57] dpoznik commented on #21511
I submitted #22251 to do so. Sorry, I should have updated this thread at the time.

[2022-01-24 15:59] glemaitre commented on #21511
Ups sorry I did not check this one (I am actually back to my unread emails :)). Let me review and merge your PR if the rendering is fine.

[2022-01-24 16:28] mathurinm opened #22283 "BUG? LinearSVC with hinge loss and L2 penalty, solver='liblinear' seems to get stuck compared to other solvers"
### Describe the bug

Compared to a vanilla coordinate descent on the dual, liblinear plateaus at a higher objective value.

### Steps/Code to Reproduce

import warnings
import numpy as np
import matplotlib.pyplot as plt
from numba import njit
from numpy.linalg import norm
from sklearn.svm import LinearSVC

from sklearn.exceptions import ConvergenceWarning
warnings.filterwarnings('ignore', categor

[2022-01-24 17:53] PurnaChandraMansingh commented on #21876
Thanks @glemaitre

[2022-01-24 18:00] mathurinm commented on #22283
testing 50 seeds (`random_state` argument of `LinearSVC`), 2 of them yield convergence, so this hints at a liblinear bug:
![image](https://user-images.githubusercontent.com/8993218/150838404-03756379-f518-4bc9-8b32-59649b685b4e.png)

[2022-01-24 22:41] ebatty opened #22289 "Add Lasso regularization to PoissonRegressor"
### Describe the workflow you want to enable

Linear and logistic regression allow l1, l2, or elasticnet regularization. However, the Poisson regression class (which is amazing to have!) only allows L2 regularization.

### Describe your proposed solution

Enable flexible regularization choices for the Generalized Linear Models

### Describe alternatives you've considered, if relevant

_No response

[2022-01-25 01:49] darrencl opened #22291 "GridSearchCV multiprocess (n_jobs=-1) high verbose not working in Jupyter notebook"
### Describe the bug

In Jupyter notebook, high verbosity, e.g. `verbose=10`  is currently not working when setting the multiprocessing, e.g. `n_jobs=-1`. It seems the output I got were only from the main thread/process, i.e.

[code]
![image](https://user-images.githubusercontent.com/21291776/150895279-611f577d-fae2-4e16-9ffa-9e6bcc28bfea.png)

The output from process was not propagated correctly.

[2022-01-25 15:07] kuraga commented on #21173
@thomasjpfan , oh, now I see, [`'binary'` in terms of `type_of_target`](https://github.com/scikit-learn/scikit-learn/blob/1.0.2/sklearn/utils/multiclass.py#L218).

Thank you for #22284  and #22285 PRs! BTW, every target type will be considered after that patches?

Thanks!

[2022-01-25 15:08] SamuelRansau commented on #18289
Hi everyone,

I was just wondering what is the status on this issue.
VotingClassifier supporting multioutput would be very useful.

[2022-01-25 16:10] thomasjpfan commented on #21173
It's still only `binary` and `multiclass`. (`multiclass` is also in terms of `type_of_target`)

#22284 is mostly to raise a better error message, so no new feature.

#22285 is to enable case 2 in https://github.com/scikit-learn/scikit-learn/issues/21173#issuecomment-1020289149 i.e. binary `y_true` and 2d `y_score`.

[2022-01-25 18:57] Hind-M opened #22301 "Wrong 'cache' argument description in sklearn.datasets.fetch_openml doc"
### Describe the issue linked to the documentation

In sklearn.datasets.fetch_openml [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_openml.html):
The cache argument is described as the following:
[code]
But when looking at the source code, I couldn't find where joblib is used for cache. I only found that `shutil.copyfileobj `is used coupled with wrapper/de

[2022-01-25 19:13] thomasjpfan commented on #22301
Currently, `fetch_openml` is not using joblib. There is a PR that is working on this https://github.com/scikit-learn/scikit-learn/pull/14855

Do you want to open a PR to update the documentation?

[2022-01-25 22:27] #2328 closed

[2022-01-25 22:39] thomasjpfan commented on #11926
In the latest stable version, the method signatures are now [correctly shown](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.LocalOutlierFactor.html#sklearn.neighbors.LocalOutlierFactor.fit_predict). We recently moved to actually defining the method and using `available_if` to raise `AttributeError`s.

[2022-01-25 22:39] #11926 closed

[2022-01-25 22:44] thomasjpfan commented on #11709
Closing since this issue is old and there has not been any recent issues regarding `make html` or `make html-noplot`. Feel free to open another issue if the problem persist.

[2022-01-25 22:44] #11709 closed

[2022-01-25 22:49] thomasjpfan commented on #12288
Closing since the issue was fixed in https://github.com/scikit-learn/scikit-learn/pull/21832

[2022-01-25 22:49] #12288 closed

[2022-01-25 22:51] thomasjpfan commented on #13014
Closing since we now run `pypy` test on azure which has a `[pypy]` marker.

[2022-01-25 22:51] #13014 closed

[2022-01-26 00:07] rchereji opened #22303 "ExtraTreesRegressor prediction is not reproducible"
Hi,
I'm running a little experiment, training an ExtraTreesRegressor model and then using the model to predict some out-of-sample data. Although I'm using a `random_state` to initialize the model, I've found that the predictions are not quite deterministic, and some small differences appear between consecutive predictions for the same features/out-of-sample data (see attached screenshot).
![Screen

[2022-01-26 01:29] thomasjpfan commented on #12271
This issue is not actionable without a stand-alone snippet to reproduce.

[2022-01-26 01:29] #12271 closed

[2022-01-26 01:33] thomasjpfan commented on #20564
Closing because this issue is not actionable without a reproduce snippet.

[2022-01-26 01:33] #20564 closed

[2022-01-26 07:35] AnkitKumar2698 commented on #21350
working on sklearn.datasets._samples_generator.make_blobs

[2022-01-26 08:42] colintravisbrown commented on #18083
I'm having the same issue, and I'm a bit confused as to why a first component being close to constant would represent an 'ill-posed' problem. This indicates that the graph is fully connected, and this is mentioned in the comments of the spectral clustering module, which is set to always return the first eigenvector. The spectral embedding function itself also prints a warning if you do not provide

[2022-01-26 10:07] lesteve commented on #22291
I see the verbose output in Jupyter notebok. Can you make sure you have ipykernel >= 6. There were fixes made to capturing output from subprocesses in ipykernel 6, see https://github.com/ipython/ipykernel/blob/main/CHANGELOG.md#600

I am going to close this one because I am fairly confident this is the underlying issue, feel free to reopen if that's not the case.

[2022-01-26 10:07] #22291 closed

[2022-01-26 10:45] Hind-M commented on #22301
Thanks for your reply. I created a PR, I hope that will do!

[2022-01-26 13:32] Pittsie72 commented on #17983
I'm having the same issues. I tried everything in this thread and still the same issue :/

[2022-01-26 13:49] glemaitre commented on #22303
`ExtraTreesRegressor(random_state=42)` will lead to a deterministic result.

[2022-01-26 13:49] #22303 closed

[2022-01-26 13:52] #22186 closed

[2022-01-26 13:56] #22301 closed

[2022-01-26 14:16] thomasjpfan commented on #16888
Currently, `_score` does not accept sample weights. Adding `sample_weights` to `_scores` may or may not work, depending if the scorer itself accepts sample weights.

This topic of weighted scoring during cross validation is related to https://github.com/scikit-learn/scikit-learn/issues/4632 and is something [SLEP006](https://scikit-learn-enhancement-proposals.readthedocs.io/en/latest/slep006/propo

[2022-01-26 14:43] rchereji commented on #22303
That's what I thought, but as you see in my example that is not the case. The regressor has it's random seed set (in cell 102 you can see that `random_state=42`), but the results still vary when `model.predict()` is run multiple times (with the same inputs).

[2022-01-26 16:51] glemaitre commented on #22303
The diff that you are observing could be due to some floating point error rounding. I would not expect to get zero.
For instance:

[code]

[2022-01-26 17:41] thomasjpfan commented on #9706
`partial_fit` is now a method and it appears as a [method in the docs](https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html#sklearn.neural_network.MLPClassifier.partial_fit)

[2022-01-26 17:41] #9706 closed

[2022-01-26 17:56] page200 commented on #22117
Gaussians overlap, whereas this method is for clusters that are well separated.

A toy dataset with separate clusters is for example `np.stack((np.random.rand(N,1),np.random.rand(N,1)+3))` (maybe transposed, depending on the conventions). When `N` is sufficiently large and the hyperparameters (batch size and threshold) are optimized, this method seems to outperform all methods from `sklearn` in te

[2022-01-26 18:12] thomasjpfan commented on #21798
I think this issue was fixed in https://github.com/scikit-learn/scikit-learn/pull/21833

[2022-01-26 18:12] #21798 closed

[2022-01-26 19:53] thomasjpfan commented on #13599
With [SLEP010](https://scikit-learn-enhancement-proposals.readthedocs.io/en/latest/slep010/proposal.html) all estimators now have a `n_features_in_` which represents how many features a model was trained on.

[2022-01-26 19:53] #13599 closed

[2022-01-26 20:10] thomasjpfan commented on #8077
With our recent switch to using `avaliable_if`, `predict_proba` are now methods and the docs render them correctly.

[2022-01-26 20:10] #8077 closed

[2022-01-26 20:26] rchereji commented on #22303
The problem is that the prediction of ExtraTreesRegressor seems to be non-deterministic:
![Screen Shot 2022-01-26 at 3 19 44 PM](https://user-images.githubusercontent.com/2169084/151241111-2dc3b860-a887-4d08-9432-215fca8515c7.png)
This is not the case for simpler model, e.g. LinearRegression:
![Screen Shot 2022-01-26 at 3 22 32 PM](https://user-images.githubusercontent.com/2169084/151241451-662ee7

[2022-01-26 20:28] thomasjpfan commented on #21939
Closing because https://github.com/scikit-learn/scikit-learn/pull/22073 resolves this issue.

[2022-01-26 20:28] #21939 closed

[2022-01-26 22:26] Micky774 commented on #22117
Gaussians don't necessarily overlap, or at least, that strongly. See below.

`np.random.randn` pulls from a standard normal, i.e., gaussian distribution. This is along the lines of what I meant by constructing a toy dataset out of a gaussian mixture model. Gaussian distributions with means placed sufficiently far apart (e.g. 3 standard deviations) are usually "well separated".

If you could provid

[2022-01-26 23:26] page200 commented on #22117
I proposed `rand`, not `randn`. But `randn` (with enough separation) seems fine, too. A tiny fraction of the points might end up in the middle of the wrong cluster, but overall I agree with you.

I don't know when I'll do this, so anyone interested is welcome to do this. With a very large number of points, other algorithms fill my RAM and pretty much freeze the computer for probably hours (so meas

[2022-01-27 02:02] Micky774 commented on #22117
My bad, I misread that the first time. Updated my comment to reflect. Ty for pointing it out!

[2022-01-27 06:46] PurnaChandraMansingh commented on #21876
Hi @glemaitre, I am a little bit confused about this case, could you please guide me on how to proceed.
Thanks

[2022-01-27 08:38] ogrisel opened #22308 "Circle CI doc upload fails after warning on large files"
The `git push` command after building the doc on the `main` branch now fails with:

[code]

For instance:

https://app.circleci.com/pipelines/github/scikit-learn/scikit-learn/22449/workflows/0146e80f-49a9-45f7-824b-d659273aa72d/jobs/172651

[2022-01-27 08:44] glemaitre commented on #21876
As mentioned in the summary, one needs to inherit from `NeighborsBase` and not `KNeigborsMixin`. This will remove the two methods. However, we don't want to remove the methods but instead warn that in 2 versions, no one will be able to use them using a deprecation cycle.

Regarding how to deprecate a method/function/variable in scikit-learn, please refer to the contribution guide: https://scikit-l

[2022-01-27 08:45] ogrisel commented on #22308
Actually the large file problem is just a warning. So maybe this is not the problem. The actual error is:

[code]

[2022-01-27 08:46] ogrisel commented on #22308
Let me try to re-run from failed.

[2022-01-27 08:49] glemaitre commented on #22303
You should not use `np.equal` due to the floating point precision issue. Could you try with `np.isclose` instead.

[2022-01-27 08:50] PurnaChandraMansingh commented on #21876
Thanks @glemaitre

[2022-01-27 08:53] ogrisel commented on #22308
Ok false alert, this works again:

https://app.circleci.com/pipelines/github/scikit-learn/scikit-learn/22449/workflows/5a3208f1-0a27-4e3e-bf86-e48fd401ae9c/jobs/172672

Probably a concurrent git push to the doc, although I am not sure how this can happen with only commit in `main`.

[2022-01-27 08:53] #22308 closed

[2022-01-27 08:59] ogrisel opened #22310 "Random Windows wheel build error: failed with exit status 1158"
The nightly windows builds randomly fail with the following error:

[code]

https://github.com/scikit-learn/scikit-learn/runs/4961291550?check_suite_focus=true

The above happened with `cp310-win_amd64` but apparently this can happen with other Python versions. Generally restarting the build is enough to get it to work again.

Let's try to collect below which config and file fail, to see if there

[2022-01-27 09:30] glemaitre commented on #22229
It is weird to me to have a time series split that uses future data.

Also, I think that scikit-learn should be limited to `TimeSeriesSplit` since we are not currently tackling properly forecasting or providing a preprocessor to make time-series classification or regression.

[2022-01-27 11:39] PurnaChandraMansingh commented on #21876
Hi @glemaitre, I have added deprecation cycle to kneighbors and kneighbors_graph method which generated the HTML file as below
![image](https://user-images.githubusercontent.com/42216008/151350731-a4615b35-3b3c-4a5e-9ae8-74a6b6222613.png)

![image](https://user-images.githubusercontent.com/42216008/151350794-8d451e31-589c-426c-8f44-e145c2eb34de.png)

but when I run "`pytest .\sklearn\tests\test_co

[2022-01-27 13:04] rchereji commented on #22303
I understand that `np.close` says the results are close to each other, but my question is: Is it possible to force `ExtraTreesRegressor` to output deterministic predictions (bit by bit equality) if I run `model.predict()` in identical simulations?

[2022-01-27 13:06] adrinjalali opened #22313 "check_estimator running tests which shouldn't run when non_deterministic: True"
The following code would fail:

[code]

with the following failed tests:

[code]

But since the `non_deterministic` tag is set, these two tests shouldn't be running.

Related to third party estimators and checks @thomasjpfan @glemaitre

[2022-01-27 13:09] glemaitre commented on #22313
Yep, we should catch them then.

[2022-01-27 13:22] glemaitre commented on #22303
The numerical errors that vary between runs can be due to parallelism. Using `n_jobs=1` will ensure that all operations creating the small numerical errors will happen always in the same order and thus result in the same ensemble. With `n_jobs>1`, we cannot control this problem and thus the (2e-17) numerical errors.

[2022-01-27 13:26] ogrisel commented on #22303
I am not entirely sure why parallelism would yield a non-deterministic outputs for this algorithm. I think the averaging of the tree prediction should always happen in the same order, independently on the completion order of  the predictions for each tree in the ensemble... but maybe I am missing something.

[2022-01-27 13:26] glemaitre commented on #22303
However, note that you should never to exact equality between floating-point numbers:

https://randomascii.wordpress.com/2012/02/25/comparing-floating-point-numbers-2012-edition/

This is the reason of using `np.isclose` with small tolerance (you can always tune them).

[2022-01-27 13:36] r-matsuzaka commented on #22229
Thank you very much for commenting.

For financial problems, return or loss is defined with the value at different time points.
That may cause data leakage.
So purging is needed to avoid over-fitting.

Ok. If this implementation is beneficial for limited people, I will close it.

[2022-01-27 13:38] glemaitre commented on #22229
However, I think that we have a couple of PR or issues related to `TimeSeriesSplit` that could at least be beneficial if you want to have a look.

[2022-01-27 13:52] #7510 closed

[2022-01-27 13:52] r-matsuzaka commented on #22229
Could you tell me?
I can help to solve issue.

[2022-01-27 14:15] taha-yassine commented on #18567
I think I found the bug and I believe it is unrelated to the value of `k` being greater than `N/2` which shouldn't cause any issue. The problem actually comes from the following line (551):
`inverted_index = np.zeros((n_samples, n_samples), dtype=int)`
Here the array is initialized with `dtype=int`. Further down in the code a sum is performed using `np.sum`. In Numpy's docs it is mentionned that `

[2022-01-27 14:19] rchereji commented on #22303
I understand that sometimes you don't need deterministic results or don't care about differences in the 18th decimal place, but I actually need deterministic/reproducible results (bit by bit equality), so that's why I've asked the question.
Thanks though for looking into this!

[2022-01-27 14:33] ogrisel commented on #21876
This is not what @kno10 suggested. He suggested to use composition instead of inheritance:

However, is this really a problem to expose those methods? I am not sure this is worth the hassle of refactoring this `LocalOutlierFactor` with a deprecation cycle and all.

[2022-01-27 15:38] Vandinimodi1595 commented on #22289
Hey @ebatty, I would like to contribute to this issue. It would be my first contribution. Can you assign this to me?

[2022-01-27 16:41] Vandinimodi1595 commented on #22289
@thomasjpfan, Could you assign that issue #21350 for me then?

[2022-01-27 16:46] thomasjpfan commented on #22289
That issue can not be assigned to a single person because it is a long list of items around the same issue. There has already been around ~ 30 people working on the issue. You can read the issue to see how to begin working on it.

[2022-01-27 16:48] Vandinimodi1595 commented on #22289
Thank you @thomasjpfan, I will look into it.

[2022-01-27 17:47] kuraga commented on #21173
@thomasjpfan ,

Do we need to warn in other cases?

[2022-01-27 17:58] henrymooresc commented on #21350
Working on sklearn.decomposition._dict_learning.dict_learning

[2022-01-27 19:22] thomasjpfan commented on #21173
`top_k_accuracy_score` will continue to error for the other cases.

[2022-01-27 19:44] lorentzenchr commented on #22289
This is a duplicate of #16637 and definitely on my longer roadmap. #21808 is an important step in that direction as it will enable to compute Hessians for linear models, which will enable 2nd order coordinates descent, like glmnet.
@ebatty Thanks for your feedback on the PoissonRegeessor and opening this issue.

[2022-01-27 19:44] #22289 closed

[2022-01-27 21:06] thomasjpfan commented on #22313
I agree, we should not run those two tests when `non_deterministic` is True`.

[2022-01-27 22:19] thomasjpfan commented on #22310
Could be related to https://github.com/pypa/setuptools/issues/2212

A race condition would explain why it happens randomly on different files and on different instances.

[2022-01-28 03:09] hosjiu1702 commented on #14217
agreed.

[2022-01-28 05:28] Micky774 commented on #22265
Indeed, as seen in this code snippet:
[code]
It looks like `fit_transform()` documentation shows an incorrect shape of `(n_samples, )` while it does require `(n_samples, n_components)`. This might be a good first PR!

"We view multidimensional scaling as a problem of statistical fitting--the **dissimilarities are given**, and we wish to find the configuration whose **distances** fit them best" --

[2022-01-28 10:00] Paoletta commented on #21985
Adding to the list of issues, I would like to mention that reading from the documentation, it seems that the logistic loss is not scaled in the number of samples.. Is it an error in the documentation ?

[2022-01-28 10:39] #16254 closed

[2022-01-28 13:03] #21919 closed

[2022-01-28 13:29] #22038 closed

[2022-01-28 14:05] #21568 closed

[2022-01-28 15:40] #20488 closed

[2022-01-28 15:55] reshamas opened #22321 "add link to blog"
Reference files are here:
https://github.com/scikit-learn/scikit-learn/issues/21236

These are the files that need to be updated:

README.rst https://github.com/scikit-learn/scikit-learn/blob/main/README.rst
index.html https://github.com/scikit-learn/scikit-learn/blob/main/doc/templates/index.html

cc:  @laurburke

[2022-01-28 15:55] reshamas commented on #22321
take

[2022-01-28 16:44] thomasjpfan commented on #22310
So https://github.com/pypa/distutils/pull/6 was opened to fix pypa/setuptools#2212 which did not work with `numpy.distutils`. NumPy was updated with a fix here: https://github.com/numpy/numpy/pull/20640

The fix in https://github.com/numpy/numpy/pull/20640 was backported to 1.22, but since we build with older versions of NumPy the windows build will sometimes error out because of the original link

[2022-01-28 16:55] YashAtwal commented on #22321
I'd like to take this issue

[2022-01-28 17:06] glemaitre commented on #22321
@YashAtwal you should first check if someone is assigned to the issue (here @reshamas assigned herself to this issue).
You can take any other issue in the issue tracker and assign yourself using the string "/take".

[2022-01-28 17:53] reshamas commented on #22321
Tagging this #OpenSourceEtiquette for later.

[2022-01-28 18:00] YashAtwal commented on #22321
@glemaitre Thanks for the info, pardon me I am new to open source contribution.

[2022-01-28 18:24] thomasjpfan commented on #18083
From triaging meeting: We can detect the ill posed problem and raise a warning with the reproducible snippet in https://github.com/scikit-learn/scikit-learn/issues/18083#issuecomment-839089523

[2022-01-28 18:29] thomasjpfan commented on #10177
Closing because `SimpleImputer` support strings now.

[2022-01-28 18:29] #10177 closed

[2022-01-28 18:41] thomasjpfan commented on #19572
From triaging meeting: Let's raise a better error message for this situation.

[2022-01-28 18:54] thomasjpfan commented on #21006
From triaging meeting:  There are performance concerns with adding a tie breaking mechanism. For now, I am marking the issue as low priority and we may revisit in the future.

[2022-01-28 19:34] #11817 closed

[2022-01-28 19:48] #22321 closed

[2022-01-28 20:03] Diwakar-Gupta commented on #21350
Working on  sklearn.covariance._graph_lasso.graphical_lasso

[2022-01-28 21:30] Diwakar-Gupta opened #22325 "GraphicalLasso incorrect description"
In this page https://scikit-learn.org/stable/modules/generated/sklearn.covariance.GraphicalLassoCV.html#sklearn.covariance.GraphicalLassoCV

description of GraphicalLasso is copy of description of GraphicalLassoCV.
![img](https://user-images.githubusercontent.com/39624018/151624023-1110cb73-36eb-488a-8aaa-71903f406d2e.png)

### Suggest a potential alternative/fix

Just change description of Graphi

[2022-01-28 23:09] soma2000-lang commented on #22325
@Diwakar-Gupta Please assign me this issue

[2022-01-28 23:10] soma2000-lang commented on #22265
@EnderWiggin14  Can I work on this issue??

[2022-01-29 01:44] EnderWiggin14 commented on #22265
@soma2000-lang

Feel free to address the issue!

[2022-01-29 04:58] thomasjpfan commented on #22325
@soma2000-lang You are welcome to open a PR to address this issue.

[2022-01-29 12:35] MrinalTyagi commented on #22170
I would like to work on this issue

[2022-01-29 12:41] glemaitre commented on #22256
This is a known limitation and we are currently working on a SLEP (https://scikit-learn-enhancement-proposals.readthedocs.io/en/latest/slep006/proposal.html#nested-grouped-cross-validation-with-searchcv) to actually resolve this problem.

The inner issue is a more complex than what it looks like at first :)
Closing this issue because this is a duplicate of the broader sample-property meta-issue.

[2022-01-29 12:41] #22256 closed

[2022-01-29 12:44] glemaitre commented on #22242
While this could certainly be a cool feature, it will be a burden to implement and maintain it in comparison with its usage.
Thus I would consider it outside of the scope of the library.

[2022-01-29 12:44] #22242 closed

[2022-01-29 12:45] glemaitre commented on #22229
One such example: https://github.com/scikit-learn/scikit-learn/issues/14257

[2022-01-29 12:45] #22229 closed

[2022-01-29 13:47] r-matsuzaka commented on #22229
Thanks

[2022-01-29 14:20] EKivutha commented on #22313
@adrinjalali  Please assign this issue

[2022-01-29 14:29] adrinjalali commented on #22313
@EKivutha we don't necessarily assign in this repo, as long as somebody else is working on it, they're basically assigned to it, which is the case here.

[2022-01-29 15:06] thomasjpfan commented on #22170
@MrinalTyagi Before working on it, it's best to discuss and make sure that the feature is something we want to include.

@Krasner What is your use case for having `partial_fit` in the `ColumnTransformer`? Specifically, what transformers are you using with `partial_fit` and are in a `ColumnTransformer`? Having some use cases will help us decide on inclusion.

For reference, `Pipeline` does not have

[2022-01-29 15:28] aman19875 commented on #21350
Working on  sklearn.datasets._california_housing.fetch_california_housing

[2022-01-29 15:48] Krasner commented on #22170
Hi thank you for addressing this issue. I would like to use partial_fit in a online learning setting. My data comes in pandas dataframes - different columns are normalized using StandardScaler() or RobustScaler() before being sent to a neural network. As data comes in during streaming, I would like those input feature statistics to be reevaluated without having access to the original data that was

[2022-01-29 16:46] rahul145hub commented on #21350
working on sklearn.metrics.pairwise.paired_manhattan_distances

[2022-01-29 19:24] Dev514 commented on #21350
Working on sklearn.datasets._twenty_newsgroups.fetch_20newsgroups

[2022-01-29 19:31] Diwakar-Gupta commented on #21350
Working on sklearn.covariance._robust_covariance.fast_mcd

[2022-01-29 20:34] Dev514 commented on #21350
Working on sklearn.datasets._samples_generator.make_sparse_spd_matrix

[2022-01-29 22:20] soma2000-lang commented on #22243
@sanjaradylov Please assign me this .I would like to work on it

[2022-01-29 23:09] GaetanDu opened #22335 "LinearDiscriminantAnalysis method fit_transform needs x and y"
### Describe the issue linked to the documentation

It is says that "fit_transform" from LinearDiscriminantAnalysis can be used as unsupervised transformations by omitting or setting y as None.

![image](https://user-images.githubusercontent.com/73899890/151680269-3bb4fe98-3b7b-4a7f-b9f1-2e7a6d10d1f3.png)

Which is not possible because we need a trained lda.

### Suggest a potential alternative/fi

[2022-01-30 00:27] cmarmo commented on #11676
This is issue is quite old and probably made obsolete by recent versions. I'm going to close it. Feel free to open a new one, if needed, with updated information.

[2022-01-30 00:27] #11676 closed

[2022-01-30 08:24] cmarmo commented on #11778
The documentation this issue is referring to is [here](https://scikit-learn.org/stable/modules/clustering.html#drawbacks).

[2022-01-30 10:27] Tirbo06 opened #22336 "AttributeError: module 'sklearn.linear_model' has no attribute 'SGDOneClassSVM'"
### Describe the bug

WINDOWS 10
IDE: VSCODE today's version
Jupyter NB + python3.8

When :
`
from sklearn import linear_model
linear_model.SGDOneClassSVM()
`

Out:
`AttributeError: module 'sklearn.linear_model' has no attribute 'SGDOneClassSVM'`

### Steps/Code to Reproduce

When :
`
from sklearn import linear_model
linear_model.SGDOneClassSVM()
`

Out:
`AttributeError: module 'sklearn.linear_mod

[2022-01-30 13:15] PurnaChandraMansingh commented on #22335
may I work on this?

[2022-01-30 13:48] thomasjpfan commented on #22335
This is an issue with using `TransformerMixin ` and applies to all estimators that uses the mixin. Traditionally the solution has been to override the method and rewrite the docstring but the almost defeats the purpose of the mixin.

@PurnaChandraMansingh Since there is no clear path forward, we need to discuss what the solution is before someone can work on it.

[2022-01-30 13:53] thomasjpfan commented on #22336
`SGDOneClassSVM` was introduced in scikit-learn 1.0. Your issue should be resolved by updating to scikit-learn 1.0.

[2022-01-30 13:53] #22336 closed

[2022-01-30 15:40] reshamas opened #22337 "Add Blog to top menu bar"
## About
References #21689

I would like to add a new menu item to the top of main scikit-learn homepage, named either "Blog" or "Community", which would link to (to show the blog more prominently):
https://blog.scikit-learn.org

Possibly after the menu item "Examples". What are your thoughts on this?

cc:  @laurburke @thomasjpfan

[2022-01-30 15:44] reshamas opened #22338 "add link to Calendar in the social media section"
Reference files are here:
https://github.com/scikit-learn/scikit-learn/issues/21236

These are the files that need to be updated:
README.rst https://github.com/scikit-learn/scikit-learn/blob/main/README.rst
index.html https://github.com/scikit-learn/scikit-learn/blob/main/doc/templates/index.html

cc:  @laurburke

[2022-01-30 15:44] reshamas commented on #22338
take
I am working on this issue.

[2022-01-30 15:52] Tirbo06 commented on #22336
Okey really thought i was up to date,
Sorry for that !
👍

[2022-01-30 16:48] adrinjalali commented on #22337
I love the idea, but I think the blog looks a little bare right now. I'd be happy to have the link there once it looks a bit neater. Unfortunately I don't know much about UX design to help there, but I believe we could improve the template we have.

[2022-01-30 16:58] reshamas commented on #22337
@adrinjalali Are there specific recs you have?

I don't think the blog is too bare.  I think it has enough info for users to find of value, without being too cluttered or overwhelming.

[2022-01-30 17:03] reshamas commented on #22337
In general, I would like to move projects forward with "is it working?" rather than "is it perfect?"
Otherwise these discussions can become prolonged, unnecessarily.

[2022-01-30 17:18] reshamas commented on #21350
@thomasjpfan I am a bit confused.  Should this issue still be open?

[2022-01-30 18:11] adrinjalali commented on #22337
So this is how it looks like on my screen (firefox, with privacy related adons active):

![Screenshot from 2022-01-30 19-05-53](https://user-images.githubusercontent.com/1663864/151711836-d8be14c0-1f45-4ec0-8bd3-42682db9ac2c.png)

The twitter issue should be fixable, I don't see it, that side looks much better on a chrome with no privacy preserving adons active. For the posts themselves, I think h

[2022-01-30 18:30] reshamas commented on #22337
@adrinjalali
Here are options for blogs, as in the original issue:  https://github.com/scikit-learn/scikit-learn/issues/21689#issue-1054904514

OK, I hadn't verbalized this in the past.  But this was my thinking:
- Jekyll blogs are mainly free, and would done by a volunteer on the team, with whatever experience they can bring.
- Whoever can set up something up, let's go with it.
- We could hire a

[2022-01-30 19:19] Sandy4321 opened #22341 "add which solver was used in sklearn Ridge regression : add clf.get_params(solver)"
### Describe the issue linked to the documentation

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html

solver{‘auto’, ‘svd’, ‘cholesky’, ‘lsqr’, ‘sparse_cg’, ‘sag’, ‘saga’, ‘lbfgs’}, default=’auto’
Solver to use in the computational routines:

‘auto’ chooses the solver automatically based on the type of data.

### Suggest a potential alternative/fix

add how to find

[2022-01-30 21:37] thomasjpfan commented on #22341
If we want to expose the selected solver, I see are two options:

1. Set a `chosen_solver_` that makes it clear what the chosen solver was.
2. Document what "auto" means. The solver selection logic is not too complex:

https://github.com/scikit-learn/scikit-learn/blob/0dfaaadfe2d0e0b4fd9d2ba22a75b7b1b1903049/sklearn/linear_model/_ridge.py#L493-L502

To help motivate the new feature, what is your u

[2022-01-31 06:18] genvalen commented on #20724
Working on `ensemble/_stacking.py`.
Includes:
`StackingRegressor`,
`StackingCalssifier`.

[2022-01-31 08:24] #22338 closed

[2022-01-31 08:43] lirus7 commented on #16188
I wanted to understand the correctness of the above method. Is there enough clarity on it?

[2022-01-31 08:57] ogrisel commented on #16515
Yes this is basically the way do it. Here is how you can wrap the two steps
together with a pipeline:

[code]

If not all features are categorical (e.g. the data has a mix of numerical and categorical features) then it's possible to use a columntransformer as explained in the doc:

https://scikit-learn.org/stable/modules/compose.html#column-transformer

[2022-01-31 08:57] #16515 closed

[2022-01-31 10:07] cottrell commented on #16188
It probably needs some testing and cleaning up. A while ago I put it here and have put some notes/reminders about DE in the readme. Haven't gone back to it as have not really used any MI stuff since then.

https://github.com/mutualinfo/mutual_info

[2022-01-31 10:15] glemaitre commented on #22313
But you can self-assigned using commenting with the single string `/take`

[2022-01-31 13:37] glemaitre commented on #22341
I think that we should first document it. We could make a table in the User Guide and our docstring could refer to it.

[2022-01-31 13:44] glemaitre commented on #22335
Uhm I'm a bit dubious here. How does LDA work in an unsupervised manner? I always thought that it is a supervised method that required the target to compute the intra- and inter-target covariance.

API wise, it is true that getting or not the target for an algorithm that can be both supervised and unsupervised is indeed an issue, even more, when it is inside a `Pipeline` (I recall something like t

[2022-01-31 13:54] glemaitre commented on #22243
I think that there are two things to do here:

- Improve the documentation regarding the criterion. It would be a rather complicated discussion for adding in the docstring. We should probably add this information in the User Guide. However, since the optimizer are shared across models, it would make sense to have a common place in the documentation. I assume that we should emphasize what are the c

[2022-01-31 14:35] soma2000-lang commented on #22243
/take

[2022-01-31 15:47] adrinjalali opened #22348 "KNeighborsClassifier not accepting a DistanceMetric"
Using a `DistanceMetric` metric in `KNeighborsClassifier` raises. Our [documentation](https://scikit-learn.org/dev/modules/generated/sklearn.metrics.DistanceMetric.html#sklearn.metrics.DistanceMetric) of the class says:

From that documentation, I would expect the following code to work. I'm not sure if we want to fix the documentation or the code.

[code]

Pinging @jeremiedbb @lorentzenchr and ma

[2022-01-31 16:11] anntzer opened #22349 ""Determinant has increased; this should not happen" in EllipticEnvelope"
### Describe the bug

Fitting the dataset given in the example below prints the following RuntimeWarning:

RuntimeWarning: Determinant has increased; this should not happen: log(det) > log(previous_det) (-6.080855240649472 > -46.216908559817156). You may want to try with a higher value of support_fraction (current value: 0.520).

It is not clear whether this is effectively an assertion error ("thi

[2022-01-31 17:00] xiaowei1234 opened #22350 "Allow GeneralizedLinearRegressor to use parameter level regularization parameter instead of a scalar for all parameters"
### Describe the workflow you want to enable

Currently the GeneralizedLinearRegressor module only allows a scalar `alpha` regularization parameter to be used for all parameters. However, sometimes the modeler would like to input different amounts of regularization on certain parameters, either for interpretation or some other prior knowledge.

### Describe your proposed solution

The alpha parame

[2022-01-31 17:03] ogrisel commented on #22348
I am not sure why the `DistanceMetric` class was ever made public, but it is. And so far we have not deprecated it. Maybe it's useful to some people to directly compute a distance between 2 vectors without going through the `pairwise_distances` python function.

The docstring of the neighbors classes on the other hand do not say that they accept instances of subclasses of  `DistanceMetric`. Furthe

[2022-01-31 17:07] ogrisel commented on #22348
To make it explicit that we only expect the name of the metric we could change the docstring of the `metric` parameter in https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html to:

[code]

[2022-01-31 17:16] HassanRahim26 commented on #22348
@adrinjalali, @ogrisel I would like to work on this issue. Can you please tell me ways to get started?

[2022-01-31 17:57] laurburke commented on #22337
Most of suggestions relate to the ability to customize the theme we are using for the blog. The Jekyll theme we're using currently, Minimal Mistakes, is just that - minimal. It is very popular for blogs since it is free to use and basic, but allows for some customization.

For example, I don't believe we can display post image cards in the queue with the Minimal Mistakes theme - I looked into this

[2022-01-31 19:21] lirus7 commented on #16188
@cottrell, Are you sure the implementation is correct because looks like for multivariate,
You do a summation of all entropies and subtract the joint entropy, which is not correct.

[2022-01-31 20:01] lorentzenchr commented on #22350
@xiaowei1234 Thanks for opening this issue. It is a duplicate of #11566, so I'm closing.

[2022-01-31 20:01] #22350 closed

[2022-01-31 21:35] Sandy4321 commented on #22341
@glemaitre  thank you very much for taking care

it is very important to know which solver actually was used

for example to analyze prediction properties

no one scikit method hides so important details

scikt it try to do it as open as possible ...

[2022-02-01 00:37] andrewkrawczyk commented on #21598
As far as /examples/linear_model/plot_sparse_logistic_regression_mnist.py goes, I agree with @ojeda-e in https://github.com/scikit-learn/scikit-learn/issues/21598#issuecomment-991752050. I ran some timing tests, and the largest time taken by far is data fetching from OpenML:
![Section timings](https://user-images.githubusercontent.com/80863684/151895343-e45ceca6-40f5-4c6a-8090-70915b8811a1.jpg)

M

[2022-02-01 01:58] jckkvs commented on #22256
Thanks.

As you said, using groupKFold with cross_val requires more modifications than I wrote in the comments. I apologize for omitting it.
I understand that there are some more difficult barriers, and I was relieved to hear that they were draft-implemented.

[2022-02-01 02:47] thomasjpfan opened #22352 "Path for Adopting Array API spec"
I have been experimenting with adopting the [Array API](https://data-apis.org/array-api/latest/index.html) spec into scikit-learn. The Array API is one way for scikit-learn to run on other hardware such as GPUs.

I have some proof of concepts on my fork for [LinearDiscriminantAnalysis](https://github.com/thomasjpfan/scikit-learn/pull/102) and [GaussianMixture](https://github.com/thomasjpfan/scikit

[2022-02-01 04:55] HassanRahim26 commented on #22348
/take

[2022-02-01 08:03] GaelVaroquaux commented on #22352
Thanks @thomasjpfan , this is definitely a direction that I feel is important for scikit-learn, and your summary is super useful. The speed-ups are quite interesting (looking at factors 8 to 10 speed up).

I have a few questions / comments:

1. Do you think that in the long run, we could get away without the config flag "set_config(array_api_dispatch=True)" ?
2. The fact that numpy and the array A

[2022-02-01 09:10] jjerphan commented on #22348
What is a reason for using `DistanceMetric`? I agree with @ogrisel: I do not think `DistanceMetric` should be public.

I think we should stick to the contract of the docstring and only accept strings or a callable.

[2022-02-01 09:10] glemaitre commented on #21598
We are aware of the slow `fetch_openml` function and we have a separate PR to address it: https://github.com/scikit-learn/scikit-learn/pull/21938

[2022-02-01 09:15] ogrisel commented on #22348
If we make `DistanceMetric` private (with a deprecation cycle), we should move the list of supported metrics to a public page somewhere in the userguide.

But a short term fix would be to improve the docstrings for the metric parameter of all the neighbors parameters as I explained in https://github.com/scikit-learn/scikit-learn/issues/22348#issuecomment-1026005180.

@HassanRahim26 feel free to to

[2022-02-01 09:16] ogrisel commented on #22348
Note that from the above list,

[code]

is a false positive :) This is private API and probably the only place so far where we would accept an instance of `DistanceMetric` in scikit-learn.

[2022-02-01 09:38] #19152 closed

[2022-02-01 10:25] #21407 closed

[2022-02-01 10:26] ogrisel commented on #21407
Thanks everyone for contributing to accelerate the runtime time of the scikit-learn test suite!

[2022-02-01 13:48] lorentzenchr commented on #11566
How do we want the API?
1. Allow to specify an array-like for the penalization strength? Same for `l1_ratio`?
2. Could we already permit to work with feature names? Then a dict could work `{"featue_1": 0.5, "features_2": 2.5}`

Among the estimators are:
- `LogisticRegression(C=, l1_ratio=)`
- `Lasso(alpha=)`
- `ElasticNet(alpha=, l1_ration=)`
- `Ridge(alpha=)`

What do we do with the CV variants?

[2022-02-01 13:56] lorentzenchr commented on #21308
5 to go ... we are getting close.

[2022-02-01 15:59] agramfort commented on #11566
one issue I foresee is the ambiguity between an array of alpha with one
alpha for each output task
and one alpha per feature.... hum... otherwise the alpha as array of length
n_features is the simplest

[2022-02-01 16:10] ogrisel commented on #22352
In previous experiments with [NEP 18](https://numpy.org/neps/nep-0018-array-function-protocol.html) (accepted) / [NEP 37](https://numpy.org/neps/nep-0037-array-module.html) (more powerful but still draft and probably subsumed by the Array API effort), we identified estimators that might benefit from an Array-API aware implementation:

- PCA with dense data using the full/lapack and randomized solv

[2022-02-01 16:20] lorentzenchr commented on #22352
I have the same question as @GaelVaroquaux

From the Array API doc, I would have expected the following:
[code]

[2022-02-01 16:27] ogrisel commented on #22352
What is the current behavior when passing a CuPy array to `LinearDiscriminantAnalysis` in scikit-learn 1.0?

- a `ValueError`?
- or a silent copy to a numpy array to main memory?

If this is the latter, then we need an explicit flag to turn-on the new behavior explicitly, at least during the experimental phase.

[2022-02-01 18:18] thomasjpfan commented on #22352
It either `TypeError` or `ValueError`, depending on which CuPy array you pass in.

If one passes in an "Array API compatible CuPy array", a `ValueError` is raised. `check_array` calls `numpy.asarary` which wraps the array into an object:

[code]

If one passes a "normal cupy array" the `asarray` will fail with a TypeError because cupy does not allow silent copies:

[code]

The errors raised are ve

[2022-02-01 18:21] ogrisel commented on #22352
I 100% agree. Thanks for the detailed answer.

[2022-02-01 18:37] amy12xx commented on #22348
Just to add some context, I raised this issue (in Gitter) when I was trying to pass different metrics to the validation_curve function for comparing KNN performance, but with non default parameters (different norms). So I could not directly use the string. But I got around this issue, by varying the parameter "p" instead.

[2022-02-01 19:36] thomasjpfan commented on #22352
From my understanding, many of the choices made in the Array API spec were to drive consensus between the array libraries. In the case of `unique`, the polymorphic return values were painful for array libraries as described here: https://github.com/data-apis/array-api/issues/212

For scikit-learn, the biggest blockers are no `unique` and [no boolean indexing](https://data-apis.org/array-api/latest

[2022-02-01 20:19] Micky774 commented on #21117
Gave an initial implementation in PR #22356 if anyone is interested in taking a look!

[2022-02-01 20:38] Micky774 commented on #22335
Ditto

[2022-02-01 21:28] NumberPiOso commented on #21350
Working on `sklearn.metrics._classification.f1_score`

[2022-02-01 21:53] impiyush commented on #22341
agreed that making the update as suggested by @thomasjpfan and also adding/updating proper documentation would help here

[2022-02-01 23:34] alexcombessie commented on #19137
Hi,

Any updates of this - for folks like me who don't want conda, just pip ?

Cheers,

Alex

[2022-02-02 03:58] sunilshah commented on #19137
On Mac OS 12.2, I have been running scikit-learn 1.0.2 in native mode.  Scipy 1.7.3 and python 3.9.10 were installed using homebrew.  I used ``` pip3 install -U --no-use-pep517 scikit-learn```

[2022-02-02 04:32] Micky774 commented on #10988
So I'm a _bit_ confused on this one -- isn't the point of `TruncatedSVD` that it only computes up to `k` components of `SVD`? So to calculate the distribution of explained variance (to determine how many components to keep), we'd first have to compute a _full_ `svd` decomp, calculate the explained variances, find the cutoff amount, and retain the selected components right? That's at least how PCA

[2022-02-02 08:44] rth commented on #10988
Yes, it looks like in PCA a float n_compontents only works if svd_solver="full" (i.e. a full SVD is computed) while the TruncatedSVD doesn't have the algorithm="full". So if we wanted to implement this we would need to add it. I'm not sure overall it would be worth it.

Since it's an issue from 2018 and there wasn't much interest in it from users since, closing as won't fix. Thanks for investigati

[2022-02-02 08:44] #10988 closed

[2022-02-02 13:13] JohannesWiesner commented on #4757
I think something like this is implemented in the `verstack` library?

https://verstack.readthedocs.io/en/latest/#stratified-continuous-split

Here's the blogpost:
https://danilzherebtsov.medium.com/continuous-data-stratification-c121fc91964b

[2022-02-02 14:30] rth opened #22360 "Support per target sample_weight in MultiOutputRegressor and MultiOutputClassifier"
For multi-label label training if one of the targets has a NaN value, the row (with all the other targets) has to be discarded which is a bit problematic if there is a fair number of NaN in the targets.

A way around this could be to support  sample_weight to be not only a vector but also an array (n_samples, n_targets), same as y in the case of multi-label training. Then sample_weight could be us

[2022-02-02 15:22] #21467 closed

[2022-02-02 15:49] impiyush commented on #22341
@glemaitre @thomasjpfan let me know if you both agree on adding this feature. I can look into it

[2022-02-02 17:16] #17657 closed

[2022-02-02 18:46] vbelis opened #22363 "Improving the runtime efficiency of the SVC for a precomputed kernel during inference"
### Describe the workflow you want to enable

When one wants to use a custom kernel in the `svm.SVC` class ([docs](https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html)) there are two options: either to define a custom function and pass it as a callable to `svm.SVC` or to pre-compute the kernel matrix and use the `kernel=precomputed` argument of `svm.SVC`. From my understanding,

[2022-02-02 21:16] jjerphan commented on #21993
Gentle up to pursue with the discussions:  "Contributor Experience Team" has been mentioned several time and seems the define the role of this team quite well based on aforementioned resources.

@scikit-learn/triaging-team: shall we chose this naming?

[2022-02-02 21:37] jmloyola commented on #21993
I like both names: "Contributor Experience Team" and "Developer Advocate".
What do you think if we make a poll to gather the responses?
Unless there is another formal way of voting for this kind of decisions.

[2022-02-02 22:50] cottrell commented on #16188
@lirus7 Not sure at all sure. I remember there were some issues with this stuff (see the notes in the README) and what the actual target of the estimation was. The original gist was not invariant to some things it should been maybe. I think it is basically some estimator of a kind of divergence and should satisfy some invariance properties https://en.wikipedia.org/wiki/Differential_entropy ... if

[2022-02-02 22:57] shenoy-anurag commented on #15752
Shouldn't this issue be closed now that @pierremillet has his PR approved and the related issue is closed?

[2022-02-02 23:23] cmarmo commented on #15752
Indeed, `coef_` and `intercept_` will be removed in the next release. I'm closing this issue. Thanks @shenoy-anurag for checking.

[2022-02-02 23:23] #15752 closed

[2022-02-03 02:44] thomasjpfan commented on #12384
Closing because #18170 had added the feature.

[2022-02-03 02:44] #12384 closed

[2022-02-03 02:55] scikit-learn-bot opened #22364 "⚠️ CI failed on Linux_Nightly.pylatest_pip_scipy_dev ⚠️"
**CI Failed on [Linux_Nightly.pylatest_pip_scipy_dev](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=37833&view=logs&j=dfe99b15-50db-5d7b-b1e9-4105c42527cf)**
- test_check_memory

[2022-02-03 09:52] JRitmeester commented on #13408
Has there been any progress on this?

[2022-02-03 15:42] dimadgo11 opened #22366 "Add attribute with target class pairs of each estimator in OneVsOneClassifier"
### Describe the workflow you want to enable

I'd like to suggest to add attribute to `OneVsOneClassifier` that will store pairs of classes used to train each estimator in `estimators` attribute. In this case it will be easier to map each estimator to it's target.

### Describe your proposed solution

As a solution, I propose to add attribute `target_pairs` or any other more suitable name that wil

[2022-02-03 17:37] AnkitKumar2698 commented on #21350
working on sklearn.datasets._samples_generator.make_checkerboard

[2022-02-03 18:30] thomasjpfan commented on #10226
Closing since the terms are now correct and consistent on `main`:

https://github.com/scikit-learn/scikit-learn/blob/9f85c9d44965b764f40169ef2917e5f7a798684f/sklearn/feature_extraction/text.py#L2045

https://github.com/scikit-learn/scikit-learn/blob/9f85c9d44965b764f40169ef2917e5f7a798684f/sklearn/feature_extraction/text.py#L2061

[2022-02-03 18:30] #10226 closed

[2022-02-03 18:46] jmloyola commented on #21350
Working on `sklearn.metrics._scorer.make_scorer`

[2022-02-03 19:01] jolespin commented on #15272
Has there been any progress on this recently? Looking forward to decreasing my reliance on `scikit-bio` for `PCoA`.

[2022-02-03 21:25] lorentzenchr commented on #22360
Sample weights having the same shape as a multi-target y makes sense to me. In principle, however, sample weight should be a weight per data row.

[2022-02-04 13:17] lpryszcz commented on #16517
I'm behind `eif_new.py`. I'm glad there is an interest and I'd be more than happy to contribute the code to scikit-learn.

As for `numba`, the code can run without it, but would be much slower (I can dig examples if needed).
There are only couple of very simple functions that use numba. Those could be implemented in Cython. Unfortunately, I'm not fluent enough with Cython to write those functions

[2022-02-04 19:56] ArturoAmorQ commented on #21945
I am currently working on a PR. Any feedback and collaboration will be really welcomed!

[2022-02-04 19:59] ArturoAmorQ commented on #21945
/take

[2022-02-04 22:21] amueller opened #22383 "Add friedman's H statistic"
### Describe the workflow you want to enable

It's a relatively straight-forward measure of whether there's significant interaction between variables in a model given the marginal and pairwise partial dependence.
We don't do a lot of statistics, but arguably this is more an interpretability feature.
See https://www.firmai.org/bit/interaction.html#theory-friedmans-h-statistic

### Describe your pro

[2022-02-04 22:42] stanleyjs opened #22384 "Standardize sklearn.metrics args"
### Describe the workflow you want to enable

I am writing a pipeline that automates training and taking metrics over various classifications/clusterings of the data. I would like the user to be able to specify the metric function(s) from `sklearn.metrics`. However, as the module currently stands, not all metrics accept the same standard set of args. Some are supervised, and only take `y_true, y_p

[2022-02-05 00:27] amueller commented on #22383
Something like this?
[code]

having the means in the partial dependence plot makes it a bit weird but I think this should be about it?

![image](https://user-images.githubusercontent.com/449558/152620398-145b3b16-d41e-49e8-9ea3-64c13bd8af46.png)

[2022-02-05 00:45] thomasjpfan commented on #22384
This is an anti-pattern for scikit-learn. By ignoring some `**kwargs` it will be harder to tell from reading the code which parameters are being ignored.

Changing the names to be be more consistent is nice, but it will require a deprecation cycle. We have to decide if it's worth doing a deprecation cycle before doing this. (For example, #22188 is the work required to change the name of a paramete

[2022-02-05 00:51] stanleyjs commented on #22384
What about adding X=None (or labels_true=None, whatever is missing) and
documenting that the argument is only included for standardization and is
ignored?

On Fri, Feb 4, 2022, 6:45 PM Thomas J. Fan ***@***.***> wrote:

[2022-02-05 01:32] thomasjpfan commented on #22384
Adding many parameters that will be ignored inflates the function signature. This leads to:

1. Autocomplete harder to parse.
2. We enforce that all function parameters need a description, which means the API docs will grow
3. It is unsustainable because if a new metric has a unique parameter, we would need to add that to all other metrics.

In summary, I think adding parameters or `**kwargs` to a

[2022-02-05 01:37] stanleyjs commented on #22384
So what do you suggest for my use case, then? I'm trying to parse a list of
metrics passed as a list of function handles, and pass them the arguments
correctly and return the scores. If the user doesn't wrap everything in
lambda functions, it will throw exceptions when the arguments don't match.
If they wrap them in lambda functions, all the function
attributes/dunders/etc is lost to an uninterpre

[2022-02-05 01:52] stanleyjs commented on #22384
What about a decorator in sklearn.metrics that decorates all of the metrics by inspecting the decorated function and only passing the arguments specific to that function? Using functools @wraps, the docs and dunders everything wouldn't change for the functions, the functions would still be called by their original signature, and they could also be called with the expanded signature. This could be

[2022-02-05 02:08] thomasjpfan commented on #22384
I can see many ways to implement the feature you requested, but I still think it ends up with a poor API. If we start ignoring parameters, then we start allowing for something like this:

[code]

where `eps`, `k` and `labels` are not used. It becomes harder to understand what is going on here. In general, I think this is bad API design for any software library.

[2022-02-05 02:14] Micky774 commented on #22384
This sounds like the way to go. See example:

[code]

[2022-02-05 04:46] jacobmardian commented on #8043
I'm also facing the same issue, has there been any efforts to allow cross_val_predict to return predictions if some observations are not in the test dataset? As @LarsHanegraaf mentioned above, I'm looking for an implementation of walk forward validation in sklearn, analogous to caret's time slicing functionality that returns predictions.

[2022-02-05 17:35] Anaphory opened #22391 "Documentation is silent about non-metric MDS 0's being interpreted as missing data"
In the single SMACOF step, the core of the non-metric multi-dimensional scaling algorithm, it states

https://github.com/scikit-learn/scikit-learn/blob/7e1e6d09bcc2eaeba98f7e737aac2ac782f0e5f1/sklearn/manifold/_mds.py#L108-L109

This detail is quite relevant, and sadly missing from the documentation, to the confusion of people (myself included, but also https://stackoverflow.com/questions/43541330

[2022-02-05 23:02] Micky774 commented on #21985
Working on this now in #22382 if anyone would like to give some feedback over there!

[2022-02-06 02:27] avm19 commented on #15565
Currently $P(i\mid y)$ is used as a shorthand for $P(x_i=1 \mid y)$. Whether to implement the suggested change or to **close the issue** is a matter of taste, not a matter of correctness.

[2022-02-06 04:05] DennisOsei commented on #21350
Working on sklearn.datasets._base.load_digits

[2022-02-06 04:09] avm19 commented on #21525
I see 3 reasons for rejection:

- According to [Google Scholar ](https://scholar.google.com/scholar?q=A+Hybrid+Naive+Bayes+Approach+for+Information+Filtering), the paper has received only 4 citations since 2008, of which at most 3 are genuine.
- The term "hybrid" in the name is confusing.
- Your elegant implementation demonstrates that the model can be effortlessly implemented using current scikit

[2022-02-06 08:17] cmarmo commented on #12598
Could this issue be closed as solved in #12613? If I understand correctly all items in the description are solved or rejected.

[2022-02-06 09:08] #12598 closed

[2022-02-06 13:04] pranjal-joshi opened #22393 "Incompatible Target Arch - x86_64 and arm64"
While using GitHub Actions to compile and build executable binaries for macOS `(Platform: macOS-10.16-x86_64-i386-64bit)`, the following error is occurred
[code]
The same script was built successfully on Linux and Windows hosts, however, the macOS throws an error. Is this something related to new Apple M1 Arch design changes? How to Fix and build for legacy x86_64 macOS?

Failure logs for above bu

[2022-02-06 14:18] thomasjpfan commented on #22393
This looks to be an issue with SciPy 1.8.0 release. Can you try pinning scipy to 1.7.3 and see if that resolves your issue?

Since this is a SciPy specific issue it would be good to report it on https://github.com/scipy/scipy .

[2022-02-06 14:51] pranjal-joshi commented on #22393
Thank you very much @thomasjpfan

Downgrading to `scipy==1.7.3` fixed this.

[2022-02-06 14:51] #22393 closed

[2022-02-06 19:18] niranjankrishna-acad commented on #22383
@amueller I'm adding the pull request for this feature

[2022-02-06 20:16] zachmayer commented on #16517
@thomasjpfan  just to be clear, you'd be open to a random hyperplane splitter, if it could be used for isolation forests, extra trees, and random forests?

Only splitting along an axis is a major limitation of tree-based algorithms, especially for anomaly detection.  It'd be really nice to have this functionality in sklearn.

[2022-02-07 01:20] thomasjpfan opened #22396 "Enable pytest to work with >=7.0"
We recently pinned pytest to 6.2.5 in https://github.com/scikit-learn/scikit-learn/pull/22389 because `pytest=7.0` stalled the CI.

[2022-02-07 06:12] jolespin opened #22399 "Do not deprecate tuple support for feature names: [FutureWarning: Feature names only support names that are all strings Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.]"
### Describe the workflow you want to enable

I want to be able to use `MutliIndex` Pandas columns for feature names. These are interpreted as tuples.

### Describe your proposed solution

To allow tuples and MutliIndex` Pandas columns for features.

### Describe alternatives you've considered, if relevant

Converting to strings each time I use sklearn but this seems very backwards since tuples ca

[2022-02-07 06:56] humana commented on #16962
This is needed especially for time-series test_train_split when you want to sort your data based on a timestamp and then get a test/train split stratified on something, e.g. user_id.  I require this exact functionality at the moment for splitting interaction data for a recommendation system.  Can you create PR for this?

[2022-02-07 07:56] Kim2212 commented on #21350
Working on `sklearn.metrics._ranking.ndcg_score`

[2022-02-07 08:30] phetdam commented on #22363
Seems like [#790](https://github.com/scikit-learn/scikit-learn/issues/790) validates your assumption about the computation effects of using precomputed vs. callable as kernel. However, to implement your suggest, at the very least the way that scikit-learn binds to LIBSVM must be significantly changed; it is possible that your suggestion may not be implementable simply based on how LIBSVM itself is

[2022-02-07 09:15] glemaitre commented on #22399
`MultiIndex` does not work with `ColumnTransformer`, isn't it?

[2022-02-07 10:30] oulenz opened #22402 "Default hyperparameter values for novelty detection with LocalOutlierFactor and OneClassSVM"
[Not sure whether this should be an issue, feel free to change it into a 'discussion'.]

We recently published a paper where we established optimal default hyperparameter values for a number of novelty detection algorithms, on the basis of 246 novelty detection problems derived from 50 UCI datasets.

https://arxiv.org/abs/2101.11037

For LocalOutlierFactor, we got the highest mean AUROC by using M

[2022-02-07 11:17] mevol opened #22403 "Adding "zero_division" to "cross_val_score" to pass to the scorer"
### Describe the workflow you want to enable

This is related to the following Stackoverflow question:
https://stackoverflow.com/questions/69134325/undefinedmetricwarning-precision-is-ill-defined-and-being-set-to-0-0-due-to-no

I have encountered the same issue.

I am using cross_val_score to get some cross-validated scores during training for precision, recall and F1-score.
However, if this resul

[2022-02-07 13:36] GaelVaroquaux opened #22404 "Add Positive Likelihood Ratio (and negative) to metrics"
### Describe the workflow you want to enable

For severely imbalanced binary classification settings, the Positive Likelihood Ratio (or negative) are classic performance metrics of a test used for instance in medicine / public health:
https://en.wikipedia.org/wiki/Likelihood_ratios_in_diagnostic_testing#positive_likelihood_ratio

They come with the benefit of being interpretable in terms of the pr

[2022-02-07 14:56] glemaitre commented on #22403
We already can tweak these parameters by providing a custom scorer using `make_scorer`:

[code]

[2022-02-07 14:56] #22403 closed

[2022-02-07 16:14] thomasjpfan commented on #16962
I think adding `shuffle=False` to `StratifiedShuffleSplit` where the class name contains **Shuffle** can be a bit confusing.

As the documentation states, `train_test_split` was originally designed for shuffling:

The `shuffle=False` was added in https://github.com/scikit-learn/scikit-learn/pull/8845 and feels a bit of a hack onto `train_test_split`.

The current `shuffle=False` & `stratify=False`

[2022-02-07 16:44] GaelVaroquaux opened #22406 "Fix notebook-style examples"
### Describe the issue linked to the documentation

Many legitimate notebook style examples have been broken, and specifically by the following PR
https://github.com/scikit-learn/scikit-learn/pull/9061

### List of examples to update
**Note for maintainers**: the content between begin/end_auto_generated is updated automatically by a script. If you edit it by hand your changes may be reverted. The

[2022-02-07 16:55] stanleyjs commented on #22384
Thanks @thomasjpfan and @Micky774 . I'll just write my own function that uses inspect like we've discussed. I'm going to close this unless there are any objections.

I do feel like it would be good to get the parameters renamed into a deprecation cycle at some point, but it's obviously not urgent.

[2022-02-07 16:55] #22384 closed

[2022-02-07 17:20] Kim2212 commented on #21350
Working on `sklearn.covariance._shrunk_covariance.ledoit_wolf`

[2022-02-07 18:16] Micky774 commented on #22391
This looks like it should be a pretty easy task for new folks that want to get some experience with the scikit-learn contribution workflow. @Anaphory would you be interested in opening a PR for this?

[2022-02-07 18:30] mayer79 commented on #22404
This seems to be just any of the zillion measures derived from the confusion matrix, see https://en.wikipedia.org/wiki/Confusion_matrix for more of them. Do we really need more of these?

I would rather love to see scikit-learn advertise the use of strictly proper scoring rules like the LogLoss or the Brier score.

[2022-02-07 19:47] reshamas opened #22408 "Deprecate the parameter `**kwds` in function `def paired_distances` since it is unused"
Reminder from discussion with @glemaitre:
open up an issue:
Deprecate the parameter `**kwds` in function `def paired_distances` since it is unused:
`def paired_distances(X, Y, *, metric="euclidean", **kwds):`

_Originally posted by @reshamas in https://github.com/scikit-learn/scikit-learn/issues/22380#issuecomment-1031844726_

[2022-02-07 19:53] jolespin commented on #22399
I'm not sure but one more point to note is that other immutable objects are also very useful. For example, in [Nabwera & Espinoza et al. 2021](https://www.thelancet.com/journals/ebiom/article/PIIS2352-3964(21)00437-0/fulltext) I do sample-specific network analysis where the undirected edges are represented as `frozenset` objects and I use a series of `scikit-learn` classifiers on the networks to p

[2022-02-07 20:01] GaelVaroquaux commented on #22404
These are two very different question: a strictly proper scoring rule can be useful for model selection, but a metric such as the positive likelihood ratio will be useful to conclude on whether a model gives a useful prediction for low prevalence.

Out of all the metrics built from the confusion matrix, I suggested this specific one because of its interpretation in terms of pre-test versus post-te

[2022-02-07 21:26] thomasjpfan commented on #22399
I think we had this discussion while designing `feature_names_in_`. In my opinion, if a pandas DataFrame with non-string columns was passed in, then we can turn off `feature_names_in_` all together. This would not break code that use to work with non-string columns such as a `MultiIndex`.

[2022-02-07 21:32] jolespin commented on #22399
This is a good idea since it won't break previous code. I think I missed the discussion but what were the main reasons for wanting to assert string features?

[2022-02-08 05:00] thomasjpfan commented on #22399
Looking through the original PR, there was a lot of discussion that concluded with: https://github.com/scikit-learn/scikit-learn/pull/18010#issuecomment-896561811

With that in mind, I think we should adjust the behavior for non-string columns. I think the warning should appear only when the dtype is string + another type. Otherwise, there is no warning and no error in the future. I opened https:/

[2022-02-08 05:40] jolespin commented on #22399
@thomasjpfan thank you very much for looking into this.

[2022-02-08 07:02] soma2000-lang commented on #22406
Working on this

[2022-02-08 09:41] jsosulski opened #22411 "Pooled variance for LDA estimators"
### Describe the workflow you want to enable

We use LDA a lot in ERP-BCI research. So far we use our custom implementation of LDA as it makes use of pooled variance, i.e., subtract class-wise means from `X` and use all data to calculate the within class covariance matrix. In practice, this often leads to better performance, especially when classes are unbalanced and only few data is available.

#

[2022-02-08 09:51] adrinjalali commented on #22408
Why is `kwargs` not passed to `metric` when callable?

[2022-02-08 10:00] lesteve commented on #22406
I have added a list of examples that uses a pattern like `# #####` for comments. I think it is best to create one PR by example, this will make it easier to review changes.

[2022-02-08 11:28] DeepOde opened #22413 "ValueError when a key present in class_weight is not found in labels"
### Describe the bug

While using `sklearn.ensemble.RandomForestClassifier` with a custom dictionary specified for `class_weight` parameter, a `ValueError` is raised when a key (label) present in `class_weight` is not found in any of the labels. I got this error while using `TimeSeriesSplit`. Specifically, if a split is such that training data doesn't have a label specified in `class_weight`, a `V

[2022-02-08 11:47] ss-is-master-chief commented on #22406
@GaelVaroquaux Do you mean that we wish to standardize (`# %%` (preferred), or `# ##`) the block splitter across all relevant scripts?

[2022-02-08 11:49] ss-is-master-chief commented on #22406
/take

[2022-02-08 12:46] GaelVaroquaux commented on #22406
I believe that "# %%" should be preferred, but I would not do a PR
changing this systematically. Rather on a file-by-file basis.

[2022-02-08 13:01] ss-is-master-chief commented on #22406
@GaelVaroquaux Make sense! How would you recommend that I help with this?

[2022-02-08 13:53] lesteve commented on #22406
@ss-is-master-chief I have added a "Pieces of advice if you are interested in working on this issue" section in the top post to help you (and potentially other interested people to get started). If something is not clear let us know!

[2022-02-08 14:49] zuggernautt commented on #22406
I want to help.

[2022-02-08 15:00] Dittner commented on #14058
It's a non-obvious behavior:
[code]
this solution looks also ugly:
[code]

[2022-02-08 15:17] thomasjpfan commented on #14058
With `get_feature_names_out` in 1.0, this works now:

[code]

By default `ColumnTransformer` is verbose and includes the transformer's name. To remove the verbose option, one can pass the `verbose_feature_names_out=False` option:

[code]

[2022-02-08 15:26] ogrisel commented on #22404
Also both of those metrics are independent of the value of the cut-off for hard-predictions at 0.5. A user might be interested in using a different value for that cut-off based on a metric that has more business/scientific meaning than the log loss of the conditional probabilistic model.

Also log loss / Brier score are not defined for non-probabilistic models such as SVMs with the hinge loss for

[2022-02-08 17:36] glemaitre opened #22420 "Y_trans is not equal to y_scores_ in PLSRegression"
### Describe the bug

The documentation that `Y_trans` obtained from `fit_transform` should be equal to `y_scores_` fitted attribute but this is not the case.

We should investigate if this is normal or not

### Steps/Code to Reproduce

[code]

### Expected Results

`Y_trans` should be equal to `y_scores_`.

### Actual Results

[code]

### Versions

[code]
[code]

[2022-02-08 18:14] #22399 closed

[2022-02-08 18:49] Micky774 commented on #15272
@jolespin Current progress is in PR #22330 which provides and SVD implementation to the metric MDS context.

[2022-02-08 19:06] Micky774 commented on #22420
Looks like the `transform` method takes `TS` where `T` is the _normalized_ `Y` matrix, and `S` is the rotation matrix for `Y`, accessible as `y_rotations_`, which is consistent with the [user guide](https://scikit-learn.org/stable/modules/cross_decomposition.html#transforming-data) so I'm inclined to believe that the documentation should be updated.

In fact, it looks like the documentation actual

[2022-02-08 19:47] Micky774 commented on #22413
So the specific code that causes this is: https://github.com/scikit-learn/scikit-learn/blob/5900e2660f4293b52ea57bf830e7bff312779036/sklearn/utils/class_weight.py#L61-L66

To me, it would make sense to simply _ignore_ instances where the `class_weights` dict defines weights for unobserved classes, exactly for the kind of workflow mentioned. A simple change could be:

[code]

@DeepOde would you pot

[2022-02-08 19:53] Micky774 commented on #22411
I'm not a core maintainer, but this does sound interesting! Fair warning though, you'll likely need to provide benchmarks to verify that it is indeed an improvement, at least in certain cases. The standards for inclusion are fairly high due to the induced overhead and long-term maintenance costs.

Overall, aside from a core implementation, you'd also benefit from having:
1. Benchmarks which demons

[2022-02-08 20:00] Micky774 commented on #22408
I guess it stays consistent w/ the other paired metrics, since they each only take `(X,Y)` as input, w/ no `**kwargs`. In general if it's a callable, I imagine it'll be sufficient to define any potential `**kwargs` in the actual body of the callable, or even use `functools.partial` if needed.

If it really is the case that the user is expected to pass in a callable that specifically does not _rely

[2022-02-08 20:24] glemaitre commented on #22420
Actually we want only to deprecate these attributes for all PLS algorithms apart from the PLSRegression. So I assume we can update the documentation and fix the test in the deprecation PR.

[2022-02-09 01:40] jckkvs opened #22422 "Identity Mapping"
### Describe the workflow you want to enable

Introduce the identity element to the sklearn processing system.
When creating a program that allows you to select the pipeline of sklearn with the GUI, you may be asked to select whether or not to select explanatory variables.

When selecting explanatory variables, it can be described as follows.
SelectKBest () * RandomForestRegressor ()
However, sinc

[2022-02-09 02:13] MaxwellLZH commented on #22406
working on [examples/linear_model/plot_lasso_and_elasticnet.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/linear_model/plot_lasso_and_elasticnet.py)

[2022-02-09 02:29] thomasjpfan commented on #22422
Pipeline allows "passthrough" to be a step which functions as "do nothing":

[code]

If you need an estimator, [FunctionTransformer](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.FunctionTransformer.html#sklearn.preprocessing.FunctionTransformer) is an identity transformation by default.

[2022-02-09 02:29] #22422 closed

[2022-02-09 07:21] DeepOde commented on #22413
@Micky774 Sure, I'd love to open a PR for this.

[2022-02-09 08:49] MaxwellLZH commented on #17321
@NicolasHug  I noticed that If I reduce `n_samples` to 4, I was also able to get 4 in the sample, which is kind of unexpected.

[code]

[2022-02-09 10:35] lesteve opened #22425 "Pin dependencies version in CI with lock files with a bot that auto-updates the lockfiles"
### Motivation

- avoid CI breakage due to dependencies updates (recent examples: setuptools update, pytest7 update, coverage 6.3 update, very likely others ...)
- avoid painful debugging when a breakage happens to figure out what is the cause of the problem and generally end up after some time that a dependency has changed
- avoid breaking everyone PRs which is confusing for contributers

### Ide

[2022-02-09 11:09] jeremiedbb opened #22426 "Performance regression in MiniBatchDictionaryLearning"
Detected by the asv benchmark suite. Impacts the fit and transform methods of MiniBatchDictionaryLearning
https://scikit-learn.org/scikit-learn-benchmarks/#decomposition.MiniBatchDictionaryLearningBenchmark.time_fit
https://scikit-learn.org/scikit-learn-benchmarks/#decomposition.MiniBatchDictionaryLearningBenchmark.time_transform

The regression seems to be due to the support of float32 by this es

[2022-02-09 12:20] vnmabus opened #22427 "Improve the metrics API"
### Describe the workflow you want to enable

Currently metrics in scikit-learn have several shortcomings:
- Although it is possible to pass custom metrics as callables, they are called for each pair of inputs. This makes impossible to create custom metrics with the same performance as the existing ones (#22219).
- Every metric has different additional parameters. This requires that methods using

[2022-02-09 12:24] GauravChoudhay commented on #21350
working on ### sklearn.metrics._classification.precision_recall_fscore_support

[2022-02-09 12:25] GauravChoudhay commented on #21350
working on `sklearn.metrics._classification.precision_recall_fscore_support`

[2022-02-09 12:47] #22364 closed

[2022-02-09 12:48] jeremiedbb commented on #21460
joblib min version has been bumped to 1.0.0 https://github.com/scikit-learn/scikit-learn/pull/22365

[2022-02-09 12:55] adrinjalali commented on #22425
We should make sure the contributing docs stay up to date with the pinned versions.

[2022-02-09 14:40] tofetpuzo commented on #22341
hi everyone, i am new. I will love to contribute. How can I help?

[2022-02-09 14:52] thomasjpfan commented on #22341
I agree with documenting the behavior as suggested in: https://github.com/scikit-learn/scikit-learn/issues/22341#issuecomment-1025747472

Contributing to this issue involves knowing [some rst](https://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html) + [scikit-learn's contributing workflow](https://scikit-learn.org/stable/developers/contributing.html#how-to-contribute) +  [buildings

[2022-02-09 16:13] jeremiedbb commented on #22427
I like the idea of metrics being instances. It's already the case privately in the nearest neighbors and we are currently trying to make them usable more generally (but it's for internal use only). It's not harmless to the sklearn API though because it makes it more verbose to instanciate a model since you first have to instanciate a metric object.

Being able to have custom metrics be efficient w

[2022-02-09 17:04] glemaitre opened #22430 "GPR `sample_y` enforce `n_targets=1` before calling `fit`"
In `GaussianProcessRegressor`, sampling in the prior before calling `fit` via `sample_y` will assume that `y` is made of a single target. However, this is not necessarily the case. Therefore, the shape of the output of `sample_y` before and after `fit` is different.

In order to solve this inconsistency, we need to introduce a new parameter `n_targets=None`. Before calling `fit` this parameter sho

[2022-02-09 17:17] tofetpuzo commented on #22341
@thomasjpfan Thank you for replying, oh yes I am familiar with scikit-learn; true story scikit learn was what I used for my thesis, practically saved my life :) ... I will be more than grateful if you will have me. OK i will wait for @impiyush reply.

[2022-02-09 19:01] thomasjpfan commented on #22425
I agree with having CI bump the dependency versions.

I think we can start with a `environment-latest.yml` with pinned direct conda and pip dependencies. I wouldn't go with lock files just yet since they are platform specific.

We also need to have a `min-environment.yml` that needs to be in sync with [_min_dependencies.py](https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/_min_depend

[2022-02-09 19:10] thomasjpfan commented on #22425
I think it will be cleaner to have the environments described in a `environment.yaml`. For incremental steps I see:

1. Move a CI job to a `environment.yaml` file without pinning.
2. Pin dependencies and GitHub actions to bump the versions.

Feel free to experiment with one of the CI jobs.

[2022-02-09 19:50] thomasjpfan commented on #22413
I think the error message was designed to prevent user error:

[code]

Currently, we `class_weight` is defining all the classes and we are enforcing that all classes appear in `y`.

We can switch it around and let `y` define all the classes. In other words, we ignore class weights that is not in the `y`, but still error if `y` has a class that is not in `class_weight`.

We have to be careful about

[2022-02-10 03:07] brendo-k commented on #22406
Working on [examples/model_selection/plot_train_error_vs_test_error.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/model_selection/plot_train_error_vs_test_error.py)

[2022-02-10 03:21] NartayXD commented on #22406
Working on [examples/feature_selection/plot_feature_selection.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/feature_selection/plot_feature_selection.py)

[2022-02-10 06:54] WenjieZ opened #22432 "Some ideas for a developer-level API"
Scikit-Learn developers have long been debating about improving the developer utilities (see #15801 and #20657). The current discussion revolves around the adoption of a **specific syntax** to differentiate the develop API from the common user API. Here, I'd like to propose an alternative solution: **package layering**.

The idea is to break scikit-learn into 2 separate packages, `sklearn` and `sk

[2022-02-10 08:05] lesteve commented on #22425
Thanks a lot for your inputs!

Just to be clear, in my mind the lock files would be generated from their respective environment file (e.g. with [conda-lock](https://github.com/conda-incubator/conda-lock)). This is OK to be platform-specific since the lock files would only be used in the CI. Users would use environment.yml file as you mention.

How do you see the environment.yml update working? I g

[2022-02-10 08:14] jsosulski commented on #22411
Thank you for your input! I understand the need for documentation benchmarks etc. Currently I can see better performance for our spatiotemporal eeg data, but the data is, even for only a single subject, 650MB, so I will try to find generated data that has similar properties.

I will try to wrap up a draft PR in the next few days where I propose data / benchmarks. I think the actual implementation

[2022-02-10 13:39] glemaitre commented on #22432
Naming wise, `sklearn-dev` would make more sense than `sklearn-core` to me. Indeed, with this subset of tools, you are not going to have anything working.

Having 2 packages could be fine but it should not come with 2 repositories. Otherwise, the maintenance will be hell. I see that `dask` is having a single repository and it is just a matter of organizing the setup with the `packages` parameter.

[2022-02-10 15:19] lorentzenchr opened #22433 "DOC correct use of SAMPLE"
### Describe the issue linked to the documentation

The word "sample" in statistics means

see https://en.wikipedia.org/wiki/Sample_(statistics). Thus, a "single sample" (usually) already consists of several data points or observations (rows), i.e. a sample is a dataset.

In the scikit-lean documentation, however, "samples" is often used to denote the single data points (rows) in a given dataset.

[2022-02-10 15:31] thomasjpfan commented on #22425
If the lock files make it easier for updating then I am okay with lock files. I did a little testing with how `conda-lock` works for updating. (Note that `--update` was added in https://github.com/conda-incubator/conda-lock/pull/124 so one needs to install from source.)

A possible workflow with lock files is to start with environment file that pins we care about, and minimum dependencies for ever

[2022-02-10 15:53] purna135 commented on #22325
Hello, @soma2000-lang. Are you still working on this? If not, I'll submit a PR.

[2022-02-10 15:54] soma2000-lang commented on #22325
@purna135 yes working

[2022-02-10 16:11] Diwakar-Gupta commented on #22366
/take

[2022-02-10 16:15] ogrisel commented on #22366
It could be stored as a numpy array named `target_pairs` with shape `(n_classes * (n_classes - 1) // 2, 2)`.

[2022-02-10 16:17] ogrisel commented on #22366
This issue was discussed at today's triage meeting with @thomasjpfan, @glemaitre and @lesteve and we agreed that this is a good idea.

[2022-02-10 16:22] ogrisel commented on #22427
I think that would be nice but scikit-learn also requires Cython-level API in nearest neighbors to be CPU and memory efficient so this would not be easy to implement and would require to define a stable Application Binary Interface (ABI) if we want to allow for 3rd party code to provide custom metrics.

[2022-02-10 16:35] thomasjpfan commented on #22408
During the triage meeting, we decided to not deprecated `**kwd` as it may be useful for metrics with kwrags such as `minkowski` in the future.

For now, we can document that it is unused for the current list of supported metrics.

[2022-02-10 16:38] jeremiedbb commented on #22363
maybe linked to #21410 and #21312

[2022-02-10 16:44] ogrisel commented on #22363
Maybe a better strategy would be to allow SVC to accept kernel object that can compute efficiently pairwise kernel matrix in chunks in batch like the Gaussian Process estimators. This would be a lot of work though.

[2022-02-10 16:46] adrinjalali commented on #22408
We can also fix the code and actually pass it to the callable metric

[2022-02-10 16:53] ogrisel commented on #22402
I haven't read the paper yet, but arent't the current default close enough to the recommendations of your paper?

If we change the default for `OneClassSVM` but do not change those for `NuSVC` / `NuSVR` then it might confuse users. I am not sure it's worth it.

[2022-02-10 16:53] IlyaKachan opened #22434 "PCA hangs occasionally when applied to data that fits in memory"
### Describe the bug

When trying to `fit` PCA with a large enough array that fits in memory (approximately `300 000 x 750`) with an aim to make about 3 times reduction, unstable results are obtained: in most cases the *fit succeeds*, but occasionaly it *hangs "forever"*.

Random seed is fixed, but unfortunalely it does not help in this case.
The `svd_solver` option is left at the default. Looks l

[2022-02-10 17:03] thomasjpfan commented on #22136
@lorentzenchr What do you think of this metric?

[2022-02-10 17:12] thomasjpfan commented on #22172
Is there a paper or a reference that describes how to perform `ARDRegression` with a positive constraint?

[2022-02-10 17:24] lorentzenchr opened #22435 "FEA post-fit calibration option in HGBT"
### Describe the workflow you want to enable

The histogram gradient boosted decision trees usually do not fulfil the so called *balance property* on the training data, i.e. `sum([proba]predictions) == sum(observations)`. A simple "post-fit" step could ensure this condition. This will usually decrease the in-sample performance, but I observed in practise that is is quite beneficial for the out-of-

[2022-02-10 17:26] Diwakar-Gupta commented on #22366
@ogrisel can you please tell me what version to put in versionadded for target_pairs attribute.

[2022-02-10 17:49] #11877 closed

[2022-02-10 18:14] thomasjpfan commented on #22366
For a new feature, it is the next release version which is currently 1.1.

[2022-02-10 19:26] douglasmason opened #22442 "StandardScaler and PolynomialFeatures fail on zero-feature inputs during fit (should become passthrough)"
### Describe the bug

If you use StandardScaler or PolynomialFeatures (or other transformers, these are the two that hit me first) as elements in  a complex pipeline, an issue comes up if you ever fit these transformers on data that has no features (empty data). This happens a lot when you build a complex pipeline and you don't know what the features will be in advance. For example, in reinforceme

[2022-02-10 19:28] lorentzenchr commented on #22136
I think the authors should have read [Elkan 2001 "The Foundations of Cost-Sensitive Learning"](https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.29.514&rep=rep1&type=pdf) or [ Granger and Pesaran 1999 "Economic and Statistical Measures of Forecast Accuracy"](https://www.repository.cam.ac.uk/bitstream/1810/421/1/gp1999.pdf) (which might have been much harder to find at that time and in a di

[2022-02-10 20:32] amueller commented on #22352
Also, for these two algorithms, do we need unique anywhere apart from preprocessing ``y`` in LDA? We might be able to support dask and Jax partially by casting to numpy for that and doing the rest in the array library?

[2022-02-10 21:30] glemaitre commented on #22442
I don't think that we should handle this corner case.
Would it not be better on your side to avoid calling fit if `X.empty()`?

[2022-02-10 21:42] glemaitre commented on #22434
I cannot reproduce with the following system and packages version:

[code]

[2022-02-10 21:42] douglasmason commented on #22442
Handling empty data is similar to working with any identity object (zero for summation or one for multiplication). We need to be able handle the data turning on or off or it dramatically hampers the ability to build robust complexes, which is kind of the point for the Pipeline API. Other transformers handle empty data just fine and it should not be the developers job to create special pathways for

[2022-02-10 21:46] douglasmason commented on #22442
For example, a lot of the reason you use the fit method on a pipeline is precisely because you don’t know in advance how many features you will have at any step in the pipeline. Having to code special cases for “zero” output features makes the code unwieldy and difficult to work with.

[2022-02-10 21:59] ogrisel commented on #16794
@ckastner if you have access to a real ppc64le host, could you please tell us if the scikit-learn tests pass when you install them from the conda-forge distribution?

[code]

I tried locally with qemu via docker and installing scikit-learn ppc64le from conda-forge.

[code]

here is the output:

[code]

so I cannot reproduce in my case. Maybe there is a problem with the build config?

For reference

[2022-02-10 22:18] asmeurer commented on #22352
@GaelVaroquaux the array API spec adds completely new functions for getting unique values `unique_all`, `unique_counts`, `unique_inverse`, and `unique_values` (see https://data-apis.org/array-api/latest/API_specification/set_functions.html). This should make it possible to add these functions to NumPy without affecting the compatibility of the existing `unique` (which is not present in the spec).

[2022-02-10 22:47] thomasjpfan commented on #22352
@asmeurer I'm overall +0.5 on it. With `__array__` in `numpy.array_api` Array using `numpy.asarray` works, but it could be confusing for those who are adopting the API. One may expect that `cupy.asarray` would also work on the `cupy.array_api` Array.

Yes, if the NumPy namespace can adopt the all Array API functions, it will become easier for scikit-learn to adopt the spec.

I agree with @amueller

[2022-02-10 23:41] asmeurer commented on #22352
Perhaps cupy just hasn't backported https://github.com/numpy/numpy/pull/20527. CuPy generally tries to match NumPy exactly wherever possible. In general, though, the "proper" way to wrap/unwrap is something we're still discussing, as I mentioned.

Now calling *numpy*.asarray on a cupy array (or cupy.array_api array) is a different story. That's entirely up to CuPy if it wants to support that. The

[2022-02-10 23:43] ckastner commented on #16794
@ogrisel, sorry this took me a while. I now had the chance to run the full test suite using our 1.0.1 build on native ppc64le, and I'm happy to say that there was only one failure, and it was unrelated to the architecture. I tested this with Python 3.9 and 3.10.

I guess this bug can be closed now. Thank you for your patience.

On a side note:

This turned out to be a GCC bug affecting numpy.

[2022-02-11 02:03] douglasmason commented on #22442
My apologies I didn’t mean to just pass through X but to return an empty array of length equivalent to what was sent into the transformer. It comes up because I use ColumnTransformer to extract features, transform them, and then concatenate them back together. I create the transformer_list attribute programmatically and sometimes a part of the pipeline will end up receiving empty arrays if there w

[2022-02-11 02:28] 392781 opened #22445 "Adding a White Kernel to GP Regressor makes predictions all 0"
### Describe the bug

When using a White Kernel as part of multiple concatenated kernels, GP Regressors predictions get zeroed out and I have no idea what is causing this. WhiteKernel should be taking the variance into account

### Steps/Code to Reproduce

[code]

### Expected Results

Predictions should NOT be 0.  Once you remove the White Kernel, proper results are outputted by the predictions:

[2022-02-11 02:41] cmarmo opened #22446 "`test_y_multioutput`in Gaussian Process is failing on Debian 32bit"
### Describe the bug

On 32bit systems on debian the test `test_y_multioutput` is failing.

The test will probably be just skipped during the build, this is not urgent, but maybe something underlying multioutput and Gaussian Process is hidden here (see #19995).

### Steps/Code to Reproduce

[code]

### Expected Results

The test passes.

### Actual Results

[code]

### Versions

[code]
[code]

[2022-02-11 09:57] glemaitre commented on #22446
I don't think it is linked to #19995. Currently, we consider mulitoutput such that each target is independent and indeed it is not that straightforward.

Here, the test is failing for numerical reasons when optimizing the kernel hyperparameters.

We should probably investigate that the initial kernel in both models is the same.

[2022-02-11 10:10] smarie commented on #21993
I like "Contributor Experience Team". I even prefer "Contribution Facilitators", which could be simpler to understand for newcomers

[2022-02-11 10:20] lesteve commented on #22425
I don't think we absolutely need to use `--update`, I was thinking of recomputing the lock file from scratch i.e. just rerunning the `conda-lock lock` command. It seems like `--update` is useful if you only want to update one package.

This way a PR could update all the dependencies at once, I don't think this is a big problem, and if we run this often (e.g. once a day) it probably won't happen th

[2022-02-11 10:34] glemaitre commented on #22442
In the `ColumnTransformer`, I think that our current behaviour would be to error if a column that is requested is not available. I don't know if it would make sense to have a lenient strategy than to skip the transform if the columns are not present.

For sure, we will want to have a consistency between `fit` and `transform` to ensure that we have the same data ordered.

[2022-02-11 10:44] glemaitre commented on #22445
In your example, you are multiplied by a `WhiteKernel` instead of adding it:

[code]

[code]

[2022-02-11 10:45] #22445 closed

[2022-02-11 10:46] 392781 commented on #22445
Yikes, that's an embarrassing oversight.  Thanks lol

On Fri, Feb 11, 2022, 02:45 Guillaume Lemaitre ***@***.***>
wrote:

[2022-02-11 10:46] oulenz commented on #22402
For `OneClassSVM`, the difference is indeed maybe not that large. I can't compare `gamma`, because the default value changes with the variance, and `nu=0.5` is just outside our search area, but if I take our optimal value for `gamma` and compare `nu=0.2` with `nu=0.4`, the difference is ~0.002 in terms of mean AUROC across datasets.

For `LocalOutlierFactor`, the current default `n_neighbours=20`

[2022-02-11 11:21] glemaitre commented on #22445
It even happens to the best of us :)

[2022-02-11 17:18] tupui opened #22453 "Sensitivity Analysis function"
## Proposal
Add a Sensitivity Analysis (SA) function.

The function would compute _Sobol'_ indices [1,2]. Consider a function `f` with parameters `x1`, `x2` and `x3`. Hence `y=f(x1,x2,x3)`. We are interested to know which parameter has the most impact, in terms of variance, on the value `y`.

I believe scikit-learn, and the wider scientific community, would greatly benefit to have such tool. I bel

[2022-02-11 18:09] douglasmason commented on #22442
Thank you for giving me a window into the development side of this stuff as I get more practice articulating the problem I'm facing. Here's a better reproduction code exploring both success and failure. The idea here is that I create an empty ColumnTransformer, and then chain it to different subsequent transformers. The whole process is fine if I use passthrough transformers or Function transforme

[2022-02-11 18:13] jeremiedbb commented on #13570
In #14942, many devs expressed disagreement with raising a warning in that case. It seems that most people would be fine with updating the descriptions of these parameters. Should we go with this option ? If so let's start a list of such parameters and maybe ask for new contributors to do it.

[2022-02-11 21:18] avm19 commented on #15077
take

[2022-02-12 00:45] avm19 commented on #22433
As a user and an aspiring contributor I can relate the expressed concern. At times, the usage of "sample"/"samples" becomes especially confusing, as, for example, in [GaussianMixture](https://scikit-learn.org/stable/modules/generated/sklearn.mixture.GaussianMixture.html#sklearn.mixture.GaussianMixture
):

Here "sample" is used once as a verb, once in the strict sense (meaning a group), and 3 times

[2022-02-12 03:22] Simar-B opened #22455 "add which solver was used in sklearn Ridge regression : add clf.get_params(solver)"
### Describe the issue linked to the documentation

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html

solver{‘auto’, ‘svd’, ‘cholesky’, ‘lsqr’, ‘sparse_cg’, ‘sag’, ‘saga’, ‘lbfgs’}, default=’auto’
Solver to use in the computational routines:

‘auto’ chooses the solver automatically based on the type of data.

### Suggest a potential alternative/fix

add how to find

[2022-02-12 03:24] Simar-B commented on #22455
Sorry, this was posted here by mistake.

[2022-02-12 03:24] #22455 closed

[2022-02-12 13:04] QuadV commented on #21350
working on sklearn.neighbors._graph.kneighbors_graph

[2022-02-12 13:12] aditya172926 commented on #22406
Working on [examples/applications/plot_stock_market.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/applications/plot_stock_market.py)

[2022-02-12 19:39] QuadV commented on #21350
working on sklearn.neighbors._graph.radius_neighbors_graph

[2022-02-12 20:33] Micky774 opened #22463 "Workflow Improvement/Clarification: Issue vs. PR"
## Problem
~The scikit-learn [contribution docs](https://scikit-learn.org/stable/developers/contributing.html) do not address the relationship between issues and PRs at all~. While the docs _do_ indeed mention the [relationship](https://scikit-learn.org/stable/developers/contributing.html#pull-request-checklist) between PRs and Issues it doesn't require issues for any type of PR. I've observed tha

[2022-02-12 22:40] thomasjpfan commented on #22366
I think this is a good candidate for [cached_property](https://docs.python.org/3/library/functools.html#functools.cached_property), this way we do not need to have a parameter to store it.

Because `cached_property` was introduced in Python 3.8, we would need to vendor it. The code for `cached_property` is not that big, so it wouldn't be too bad for vendoring: https://github.com/python/cpython/blo

[2022-02-12 23:48] AngelosSE opened #22466 "The weighted average should be replaced with a weighted sum?"
https://github.com/scikit-learn/scikit-learn/blob/7e1e6d09bcc2eaeba98f7e737aac2ac782f0e5f1/sklearn/metrics/_regression.py#L454

[2022-02-13 01:15] thomasjpfan commented on #22466
This was asked before in https://github.com/scikit-learn/scikit-learn/issues/8758. The comment there applies here too: https://github.com/scikit-learn/scikit-learn/issues/8758#issuecomment-294809889

multiplicative constant per dataset, so rankings don't change or anything,
but difference venues may have different conventions for reporting

For me, I am -1 for changing this average because it is b

[2022-02-13 03:38] thomasjpfan commented on #19566
Closing because [r_regression](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.r_regression.html#sklearn.feature_selection.r_regression) was added in 1.0 to return the correlation.

[2022-02-13 03:38] #19566 closed

[2022-02-13 04:22] alpinho commented on #19566
Thanks!

[2022-02-13 06:47] sharmadharmpal commented on #21350
Working on sklearn.datasets._base.load_wine

[2022-02-13 11:20] Shubham1450 commented on #21350
Hi, I am working on sklearn.datasets._california_housing.fetch_california_housing.

[2022-02-13 11:21] Shubham1450 commented on #21350
I am going to work on sklearn.datasets._california_housing.fetch_california_housing.

[2022-02-13 11:37] UgoM commented on #21350
Hi, I am working on sklearn.utils.validation.assert_all_finite

[2022-02-13 16:36] mayer79 commented on #22383
Good idea! The partial dependence values are to be calculated not on a grid but rather on a random sample from the empirical distribution. There are some other tricky aspects like how to use case weights

[2022-02-13 16:49] wafiqsyed opened #22473 "Model Persistence page is missing side navigation contents"
### Describe the issue linked to the documentation

Under User Guide, when you click the Model Persistence page, the left parent navigation contents is missing.
Link: https://scikit-learn.org/stable/modules/model_persistence.html

I noticed the Model Persistence page is under Modules, which is why the `:parenttoc: True` won't work.

![image](https://user-images.githubusercontent.com/39132687/15376

[2022-02-13 16:51] wafiqsyed commented on #22473
This is an example of when you click a different user guide section. The parent contents remains
![image](https://user-images.githubusercontent.com/39132687/153765572-c8fac836-34a0-4878-917c-e58e70d3aa95.png)

[2022-02-13 17:20] lorentzenchr commented on #22453
@tupui Thanks for proposing this functionality. I would see it as part of the inspection module, another way of looking at feature importance.

I‘d be interested in the connection to other feature importance measures and whether it is possible to generalize it from "variance explained" to "metric/score explained", e.g., consider explaining a classifier.

[2022-02-13 18:06] AngelosSE commented on #22466
The minimum of the coded function is the same as the minimum of what is typically defined as mean square error, since, as stated, the difference is only a constant factor. However, it is confusing to give a method a name which has a well-defined meaning and then code something else.

[2022-02-13 21:37] cmarmo commented on #22463
Hi @Micky774, thanks for bringing up this point about documentation.

The contribution guide [explicitly asks](https://scikit-learn.org/stable/developers/contributing.html#pull-request-checklist) for linking pull requests to existent and relevant issues or pull requests. I agree with you this is not always applied by contributors.

Indeed this is not clarified in the documentation: I think this is

[2022-02-13 22:13] Micky774 commented on #22463
Ah, thank you for bringing that up! That's entirely correct, and I've updated the original comment to reflect this.

These are very good points. If a strict pipeline of issue --> PR isn't maintainable for these reasons, then I think even just strongly encouraging that issues be opened up for sufficiently complex PRs if they don't already have one would go a long way towards addressing some of the

[2022-02-13 23:22] Micky774 commented on #18941
From when I was looking at #11102 I noticed that the `randomized` solver significantly outperforms `arpack` in this one instance:
[code]
with

[code]
and
[code]

Wanted to share in case it could help inform the future direction of investigation.

System info:

[code]

[2022-02-13 23:40] matiasrvazquez commented on #21350
Hi, I am working on sklearn.isotonic.isotonic_regression

[2022-02-14 01:03] Micky774 commented on #11102
# Current situation
After looking into this for a while, I believe that extra memory footprint is generated by `pca` calculating and storing
[code]
Now, two observations:
1. We only ever use `total_var.sum()`, not the entirety of `total_var` itself.
2. That is the last time we use `X` in that method.

# Potential solution
So I wonder if we could potentially replace `np.var().sum()` with some metho

[2022-02-14 02:30] cmarmo commented on #5435
The matplotlib default are now colorblind friendly, if I understand correctly (see #16808).

[2022-02-14 03:58] startakovsky opened #22477 "Clarification around `cross_val_predict` cross validator."
### Describe the issue linked to the documentation

This is not necessarily true for [cross_val_predict](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_predict.html), right?:
_Each sample belongs to exactly one test set..._

For example, what if your cv was a version of `ShuffleSplit`?

### Suggest a potential alternative/fix

I think either this should be omit

[2022-02-14 04:24] startakovsky commented on #22477
Nevermind ~~ documentation still potentially unclear, but here is a new suggestion discovered only when reading the User Guide.... refer to this to confirm that cv cannot be ShuffleSplit: https://scikit-learn.org/stable/modules/cross_validation.html#obtaining-predictions-by-cross-validation

[2022-02-14 07:25] agramfort commented on #11102
what is the shape of X you used here?

[2022-02-14 07:54] ss-is-master-chief commented on #22413
@thomasjpfan @Micky774 If anyone is not working on this at the moment could I take this up?

[2022-02-14 08:07] SMEISEN opened #22478 "DummyRegressor converts some params to NumPy after fit()"
### Describe the bug

The parameters of the DummyRegressor get converted into NumPy-format after calling .fit(). This is disadvantageous if the parameters are to be extracted and written in a JSON format, e.g., to save configurations.

### Steps/Code to Reproduce

[code]

### Expected Results

After fitting the DummyRegressor, params are not converted into NumPy format.

before fit
[code]

after f

[2022-02-14 08:32] glemaitre commented on #22478
Indeed, this is against our API as well. If required at predict, we should store the validated value in a private attribute.

[2022-02-14 08:47] tupui commented on #22453
Thank you for having a look @lorentzenchr

That sounds sensible.

I am not sure how to make the bridge. Although there is a direct link with `sklearn.metrics.r2_score`. If you make a model and you get a R2 (Q2 in my field) of 0.8, then your model explains 80% of the variance. If on top you compute Sobol' indices and it says one variable is responsible for 50% of the variance. It in fact can be sai

[2022-02-14 09:02] glemaitre commented on #22477
Yep you cannot pass a `SuffleSplit`. It will raise an error.

[2022-02-14 09:02] #22477 closed

[2022-02-14 09:20] bijilsubhash commented on #22406
Working on [https://github.com/scikit-learn/scikit-learn/blob/main/examples/linear_model/plot_ard.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/linear_model/plot_ard.py)

[2022-02-14 09:46] ArturoAmorQ commented on #22463
I agree that sometimes it is easy to overlook the documentation. Maybe the simplest solution in this case is to edit the PR template to briefly mention what @Micky774 proposes. Something similar to:

[code]

What do you think?

[2022-02-14 10:17] #22061 closed

[2022-02-14 10:45] glemaitre commented on #16794
Thanks a lot, @ckastner for the feedback. One can close for now.

[2022-02-14 10:45] #16794 closed

[2022-02-14 11:11] glemaitre commented on #22366
Or wait for dropping support for Python 3.7

[2022-02-14 11:13] glemaitre commented on #22366
It would be a nice thing indeed. Would we have any issue with pickling?

I know that pandas relies on those quite extensively.

[2022-02-14 14:22] ogrisel commented on #11499
- On `main`, the client side GA settings are:

[code]

https://github.com/scikit-learn/scikit-learn/blob/main/doc/themes/scikit-learn-modern/javascript.html#L2-L8

`/stable` and `/dev` are now both using anonymized IP (since 0.22).

However, older versions of the website still use old configs of the GA script:

For instance, https://scikit-learn.org/0.18/user_guide.html has the following DOM node

[2022-02-14 14:38] hildeweerts opened #22482 "Deprecate normalize parameter in `calibration_curve`"
### Describe the workflow you want to enable

Similar to the behavior of `calibration_curve`, I would like to be able to set `CalibrationDisplay.from_predictions(normalize=True)`.

### Describe your proposed solution

Add a keyword argument `normalize` to `CalibrationDisplay.from_predictions` and pass it to `calibration_curve`.

### Describe alternatives you've considered, if relevant

I could man

[2022-02-14 15:45] Micky774 commented on #11102
`X.shape = (num_samples, num_features)`

[2022-02-14 15:46] rgommers commented on #22352
This makes a lot of sense, and I think it's feasible. For context: immediately having NumPy support the array API standard in its main namespace was the initial goal when we started writing NEP 47. There were a few incompatible behaviors in the `ndarray` object that made this hard in the short term (casting related for example), so we reluctantly switched to a separate `numpy.array_api` namespace.

[2022-02-14 16:12] ogrisel commented on #22352
Do you have pointers for this specific point?

[2022-02-14 16:36] seberg commented on #22352
Sorry to barge in.  I do not disagree with bending NumPy towards that slowly and carefully.  I have always believed in making NumPy as consistent and clear as possible as a way to ease transitions to any future implementation or alternatives.  However, I disagree that NumPy should do this for the sake of allowing a pattern of `try: ns = get_array_module(x); except: ns = np`.

The `ndarray` object

[2022-02-14 16:50] rgommers commented on #22352
https://discuss.scientific-python.org/t/poll-future-numpy-behavior-when-mixing-arrays-numpy-scalars-and-python-scalars/202/13 is a recent poll by @seberg which is relevant. Overall it's a thing that's now possible because of all the dtype-related infrastructure/feature work by @seberg. I don't think there's a single tracking issue, but it's been discussed in community meetings.

[2022-02-14 17:28] Micky774 commented on #11102
This was something I only observed for very large sample sizes and feature counts. Specifically, I was testing around `(20000, 16384)` as originally suggested, but observed this even for sample sizes and feature coutns an order of magnitude smaller. I haven't spent too much time checking out the mem profile of many different shape configurations, though I do note that the effect doesn't seem that

[2022-02-14 18:16] thomasjpfan commented on #11499
I opened https://github.com/scikit-learn/scikit-learn.github.io/pull/19 to resolve this issue with a simple Python script.

[2022-02-14 20:59] matiasrvazquez commented on #21350
Hi, I am working on fetch_openml

[2022-02-14 21:18] #22174 closed

[2022-02-14 21:18] #22175 closed

[2022-02-14 22:54] DennisOsei commented on #21350
Working on sklearn.datasets._base.load_linnerud

[2022-02-14 22:56] douglasmason commented on #22442
What I see is either we can raise an error in ColumnTransformer and FeatureUnion if they produce zero-column output, or make behavior of the transformers on zero-column input more consistent, to help these issues in the future

[2022-02-14 23:03] matiasrvazquez commented on #21927
Hi all!
I'd like to contribute to this issue. It seems all classes in the list "classes to update" have someone working on them, so I looked for some other estimators to work on.

I will be working on `sklearn.linear_model._bayes`, which includes the classes `BayesianRidge` and `ARDRegression`

[2022-02-15 01:50] thomasjpfan commented on #22413
@ss-is-master-chief You are welcome to open a PR. Note that the PR will require a non-regression test for this issue and another test for `compute_sample_weight` as we are adjusting it's behavior.

[2022-02-15 04:24] thomasjpfan commented on #15731
Closing since the bug was fixed in #15730

[2022-02-15 04:24] #15731 closed

[2022-02-15 07:55] matiasrvazquez commented on #20724
Hi all. I will be working on `sklearn.linear_model._bayes`, which includes the classes `BayesianRidge` and `ARDRegression`

[2022-02-15 09:31] mariokostelac opened #22488 "OneHotEncoder creates non unique column names, when values None (NoneType) and "None" (str) are both present"
### Describe the bug

OneHotEncoder creates non unique column names when values None (NoneType) and "None" (str) are both present in the same column.

Such policy creates downstream problems (e.g. ColumnTransformer raising because of non unique column names).

It's not 100% clear to me what's the expectation of a transformer.
Should every transformer emit unique names for features?
Why does the Co

[2022-02-15 10:54] glemaitre commented on #22488
Indeed, the expected behaviour would be to get 2 different names there.
I could imagine that we could have the same bug with names reserved in Python (e.g. True vs "True").

It should be possible to detect the collision since the `repr` of `None` and `"None"` will differ.
However, I don't know if we should error or make some magic under the hood.

[2022-02-15 10:59] glemaitre commented on #22482
Yep, it seems to be a legit request since this is just forwarding a keyword to the underlying call to `calibration_curve`.
@lucyleeow @ogrisel When creating this display, was there any discussion to omit this parameter on purpose?

[2022-02-15 11:33] glemaitre opened #22489 "Should not use `collections.abc.Sequence` to ducktype `ndarray`"
We have a bug in all estimators that are using `Sequence` to duck-type array-like. Such `collections.abc.Sequence` does not work for `ndarray`.

[code]

It boils down to:

[code]

where we wrongly use `Sequence` on `ndarray`.

[2022-02-15 11:34] MaxwellLZH opened #22490 "main branch has failing test case for tree module"
### Describe the bug

The current main branch has a failed test case in the tree module

tests: `sklearn/tree/tests/test_tree.py`

### Steps/Code to Reproduce

[code]

### Expected Results

No failing test cases.

### Actual Results

[code]

### Versions

[code]

[2022-02-15 12:29] mariokostelac commented on #22488
@glemaitre that's a good point on repr.

I've gone around the issue (in private codebase) by prepending the `type(v).__name__`, but it's not great since it adds many characters, and often very little/no information. It's not bulletproof by any means (two types could have the same name).

Another way to go around it would be to allow passing a function to transform `(column, value)` tuple into feat

[2022-02-15 12:50] agramfort commented on #11102
can you share a full code snippet to replicate easily eg using random data?

On Mon, Feb 14, 2022 at 6:28 PM Meekail Zain ***@***.***>
wrote:

[2022-02-15 13:10] glemaitre commented on #22490
ping @ogrisel @lorentzenchr I think this is a test that we tweak recently. Shall make it less flaky by changing the thresholds?

[2022-02-15 13:31] GaelVaroquaux opened #22492 "Expose "neg_root_mean_squared_error" in the "scoring" parameter"
### Describe the workflow you want to enable

I would like users to be able to do:
[code]
This is currently possible by specifying "neg_mean_squared_error" and taking the squared root (negating the sign).

I would like to make this easier, because I think that the RMSE should be used more, as it gives a result in the same units as the units of y (for instance dollars if y is in dollars).

### Desc

[2022-02-15 14:01] #22492 closed

[2022-02-15 14:06] glemaitre commented on #22492
One problem that I spot with the metric is that it is only listed once without explanation and used in one example.

It could be worth improving our documentation in the MSE section to point out this parameter and why RMSE is used.
@GaelVaroquaux Do you want to reopen the issue and repurpose it to a documentation improvement?

[2022-02-15 14:18] glemaitre commented on #22430
I see that we have the same issue with `predict` indeed.

[2022-02-15 14:29] GaelVaroquaux commented on #22492
Yes, it's a documentation problem actually. I had missed it.

[2022-02-15 15:37] thomasjpfan commented on #22489
I think the full solution is in https://github.com/scikit-learn/scikit-learn/pull/22154

[code]

Usually our "array-like" means "array-like" but not a numpy scalar or a string.

[2022-02-15 16:05] Micky774 commented on #11102
[code]
I'm using `scalane` for memory profiling, although my graphs were generated using `memory_profiler`
Between trials for comparison I am changing the code in `_pca.py` to reflect the changes proposed in my comments

[2022-02-15 16:35] #21964 closed

[2022-02-15 16:46] #22478 closed

[2022-02-15 17:03] Kaysera commented on #21350
Working on sklearn.utils.tosequence

[2022-02-15 17:10] GaelVaroquaux commented on #22492
This is an error between the chair and the keyboard. Sorry, the documentation is correct.

[2022-02-15 17:46] combscCode commented on #21350
Working on sklearn.linear_model._least_angle

[2022-02-15 18:37] kungfudeuce commented on #21350
I am working on  sklearn.covariance._shrunk_covariance.ledoit_wolf

[2022-02-15 20:07] Edakksm commented on #7848
I get different results for same values of DBSCAN parameters. I am not shuffling the dataset. Is DBSCAN not deterministic?
<img width="839" alt="Screen Shot 2022-02-15 at 3 04 27 PM" src="https://user-images.githubusercontent.com/32203344/154140648-42b157d2-6f2b-4341-9b99-0e26f2109a25.png">
<img width="865" alt="Screen Shot 2022-02-15 at 3 06 16 PM" src="https://user-images.githubusercontent.com/3

[2022-02-15 20:52] #22489 closed

[2022-02-15 22:29] TomDLT commented on #22466
I am -1 for this change as well. Note that for consistency, such a change would affect not only `mean_squared_error` but also most other scoring metrics in `sklearn/metrics/_regression.py`.

The difference is a constant factor that can be easily implemented by the user. The name of the function actually starts with "mean", so I find it more intuitive to do `squared_error.mean(axis=0).mean(axis=0)`

[2022-02-15 22:43] thomasjpfan commented on #22488
I think the suggested solution for a callable in `ColumnTransformer` would be the most flexible. It would also help resolve other issues such as https://github.com/scikit-learn/scikit-learn/issues/16593

[2022-02-16 01:59] lucyleeow commented on #22482
@glemaitre we had some comments about this: https://github.com/scikit-learn/scikit-learn/pull/17443/files#r670597315

Essentially, we thought that `from_estimator` should only accept estimators with a `predict_proba` method, and we are sure `predict_proba` will output a true probability. We had also decided that we did not want to pass output of `decision_function` to `calibration_curve`, which pr

[2022-02-16 02:03] thomasjpfan commented on #22366
I do not see an issue:

- If the property was computed and cached it will be placed in `__dict__` which will end up in the pickle.
- If the property was not computed, then it's not in the pickle.

[2022-02-16 05:39] damienlancry commented on #6614
Thanks for the workaround, I am no longer getting the error "ValueError: UPDATEIFCOPY base is read-only"
However I am now getting
[code]
The code to reproduce is the following:
[code]
Where X is a (1375308, 80614) scipy sparse matrix obtained with a CountVectorizer() and Y is a (1375308, 157) binarized label matrix.

I am using a machine with 72 CPU cores and 252 GB of RAM. I previously ran the sa

[2022-02-16 06:04] combscCode commented on #21350
Working on sklearn.linear_model._omp.orthogonal_mp

[2022-02-16 07:02] mariokostelac commented on #22488
@thomasjpfan I'll prepare the PR today or tomorrow so we have a starting implementation to discuss.

[2022-02-16 07:14] tillea opened #22503 "AdaBoostRegressor doctest failure for arm64, ppc64el, s390x, ppc64 and risc64"
### Describe the bug

Hi,
I've just uploaded version 1.0.2 to Debian unstable.  In Debian we have an autobuilder infrastructure where code is compiled for several architectures. The code builds fine and passes the test suite for amd64, i386 and may be less interesting but luckily for the architectures hppa and m68k.  However on the architectures arm64, ppc64el, s390x, ppc64 and risc64 there is a s

[2022-02-16 07:22] tillea opened #22504 "Second build failure for s390x and ppc64"
### Describe the bug

Hi,
besides issue #22503 I've observed an _additional_ error in the test suite for the architectures s390x and ppc64.

### Steps/Code to Reproduce

[code]
You can find a [full build log for arm64](https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=s390x&ver=1.0.2-1&stamp=1644952396&raw=0) where you can seek for the string above to see the start of the test proce

[2022-02-16 09:49] hildeweerts commented on #22482
If I understand correctly from the thread, the intuition behind the decision is that one should not rely on simple scaling because it is not proper calibration? I think that makes sense. Though it is a bit annoying for lazy me,  even with manual scaling, `CalibrationDisplay` saves me more lines of code compared to `calibration_curve`.

I'm not sure if it matters, but I was specifically referring t

[2022-02-16 09:49] jeremiedbb commented on #10944
I agree with @TomDLT. The documentation and examples are coherent and coherent with the code.

It's just not the same convention as in the reference paper. But should we change all scikit-learn because X is transposed ? in the literature X is often (n_features, n_samples).

Changing W and H means changing many public functions, args, objects, names, ... which I think would bring even more confusio

[2022-02-16 10:53] glemaitre commented on #22482
OK, I went into the discussion in the PR and discussed it as well with @ogrisel IRL.

Methodologically, a calibration curve should only be used with a probability. Using `calibration_curve` with `normalize=True` is equivalent to a naive linear calibration with additional clipping for value above/under max/min.

So I think that we don't want people using this type of naive calibration without doing

[2022-02-16 11:30] NicolasHug commented on #22482
I agree

[2022-02-16 12:29] lorentzenchr commented on #22482
+1 for deprecation of `normalize` in `calibration_curve` as well. BTW, this is a suprising twist on this stage: the request turned into a deprecation decision 😄

[2022-02-16 12:36] hildeweerts commented on #22482
lol, happy to help :smile:

[2022-02-16 12:59] NonlinearNimesh commented on #13791
Hi, i am trying to implement this below link
[code]
but at line number 259 i.e.
[code]
i am getting this below error
[code]
can anyone please help me how i can get rid of this.

[2022-02-16 13:04] ogrisel commented on #10944
I edited the description to link to the paper. I agree with @amueller that scikit-learn uses swapped notation for W and H and that this is confusing because inconsistent with the literature in general and the reference paper in particular.

However fixing this is even more complex since scikit-learn 1.0 because we introduced `alpha_W` and `alpha_H` as the 2 regularization parameters in the public

[2022-02-16 14:17] mariokostelac commented on #22488
I've created a PR linked above (https://github.com/scikit-learn/scikit-learn/pull/22506) that provides one way to fix it.

[2022-02-16 15:40] ckastner commented on #16443
@noloader, the last build on PowerPC doesn't seem related to SIGBUS though? There's just one test failure not related to the above. SIGBUS seems to be an issue only on 32-bit ARM.

In any case, I agree that it's probably an alignment issue, and @glaubitz already discovered a build process issue that needs to be fixed first. If that doesn't resolve the issue, then it's time to follow the steps you

[2022-02-16 16:12] #22490 closed

[2022-02-16 21:52] cmarmo commented on #12960
The issue is still present in 1.0.2 as described by in the [previous comment](https://github.com/scikit-learn/scikit-learn/issues/12960#issuecomment-559461923).

[2022-02-16 21:57] cmarmo commented on #12985
The issue is still present in 1.0.2.

[2022-02-16 22:40] cmarmo commented on #13043
Related to #19085.

[2022-02-16 22:48] cmarmo commented on #13075
Issue still present in 1.0.2

[2022-02-16 22:53] cmarmo commented on #13105
It seems that this issue has been solved. I'm closing it. Feel free to open a new one with updated info if needed.

[2022-02-16 22:53] #13105 closed

[2022-02-16 23:00] cmarmo commented on #13121
I'm under the impression that this question has been answered. I'm closing the issue.

[2022-02-16 23:00] #13121 closed

[2022-02-16 23:18] cmarmo commented on #13168
I have run the snippet with version 1.0.2 and viable results are returned in both cases.
I'm closing this issue. Feel free to reopen with updated information if needed.

[2022-02-16 23:18] #13168 closed

[2022-02-17 01:35] josephdviviano commented on #5516
Looks like this feature is awaiting approval here: https://github.com/scikit-learn/scikit-learn/pull/19556

[2022-02-17 02:23] soma2000-lang commented on #22473
@wafiqsyed  working on this issue

[2022-02-17 02:49] scikit-learn-bot opened #22510 "⚠️ CI failed on Linux_Nightly.pylatest_pip_scipy_dev ⚠️"
**CI Failed on [Linux_Nightly.pylatest_pip_scipy_dev](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=38201&view=logs&j=dfe99b15-50db-5d7b-b1e9-4105c42527cf)**
- {'title': 'Test Collection Failure', 'body': '../1/s/sklearn/_build_utils/__init__.py:14: in <module>\n    from .pre_build_helpers import basic_check_build\n        LooseVersion = <class \'distutils.version.LooseVer

[2022-02-17 02:54] thomasjpfan commented on #22473
Sorry @soma2000-lang, it looks like we were looking into the issue around the same time.

I opened #22511 which moves the `model_persistence` page up so the TOC shows on the left. The PR also redirects from the old page to the new location, so old links still work.

[2022-02-17 03:54] mpoemsl commented on #21350
Working on sklearn.metrics._ranking.precision_recall_curve

[2022-02-17 05:15] #19269 closed

[2022-02-17 07:05] abbey2017 opened #22517 "Add new feature to use only a sample of training data in KNNImputer"
### Describe the workflow you want to enable

I would like the team to add an argument(s) for using only part of the entire dataset to train the KNNImputer.

### Describe your proposed solution

This will require adding new argument(s) to the KNNImputer that allows the user to train the imputer with only part of the training data. This will save a significant amount of time as the current version

[2022-02-17 10:11] lorentzenchr commented on #18353
Without further details like the traceback of the segfault, I guess we can close.

[2022-02-17 10:11] #18353 closed

[2022-02-17 10:15] lorentzenchr commented on #20672
Is this issue resolved with the now merged #22134?

[2022-02-17 10:42] ogrisel commented on #20672
#22134 was about optimizing the brute force k-NN queries (for high dimensional data). Here this issue is about kd-tree and ball-tree that are more efficient for structure low dim data.

[2022-02-17 10:56] ogrisel commented on #20672
Not sure because as you seen in this loop, the index of the next sample to consider is discovered dynamically. So computing the neighborhoods on the fly would not benefit from chunking contiguous data in parallel via threads anymore.

[2022-02-17 10:58] norbertryc opened #22519 "Tolerane parameter definiton in KMeans"
### Describe the issue linked to the documentation

KMeans documentation says:

But if we look into the code for stopping criterion (both in _kmeans_single_lloyd and _kmeans_single_elkan) we can see:

So it seems that stopping criterion is **nominal/direct** tolerance with regards to Frobenius norm instead of **relative**? Or maybe I am misinterpreting the code?

### Suggest a potential alternativ

[2022-02-17 11:36] priamai commented on #20672
Thanks for looking into this again, what would happen if we make it single thread in this case?

[2022-02-17 14:21] ogrisel commented on #22503
I wonder if Adaboost does not have some fundamental numerical stability problems. We would probably need to have a look at the magnitude of the weights at each iteration on this dataset to see what's going on.

While probably not directly related, we already observed unexpected behaviors when the number of iterations increases in #20443.

[2022-02-17 14:32] #22510 closed

[2022-02-17 14:33] thomasjpfan commented on #22517
This seems reasonable to do. scikit-learn does not usually include techniques unless it is backed by another source. Do you have a reference such as a paper that looks into sampling the training set for KNN imputing?

[2022-02-17 16:42] Mecil9 opened #22522 "apple silicon m1 can't importing sklearn package."
I have been finished install Tensorflow env step by step from "https://developer.apple.com/metal/tensorflow-plugin/"
Tf is working! but when i import sklearn package, have an error message like this:

[code]

![image](https://user-images.githubusercontent.com/2948534/154528617-80c89cd3-f74c-4d94-a7a9-154fafd9c882.png)

How to fix it?

pip list
[code]

[2022-02-17 17:00] thomasjpfan commented on #22522
From your error message, it looks like the SciPy import failed. Can you see if the following fails?

[code]

On my M1 machine, the following works:

[code]

[2022-02-17 17:09] #19305 closed

[2022-02-17 17:09] norbertryc commented on #22519
I see. But if relative is referring to the scale of data, doesn't it mean that the part of description "...of two consecutive iterations..." is wrong? Like you wrote - I would expect something like:
`(center_shift ** 2).sum() / (centers ** 2).sum() <= tol`

But the fact of scaling which come up is another confusing issue. The same effect (stopping with regard of scaled data) can be achieved just b

[2022-02-17 18:25] cmp1 opened #22523 "Add rolling window to sklearn.model_selection.TimeSeriesSplit"
### Describe the workflow you want to enable

I wanted to ask whether any plans exist to implement a rolling/sliding window method in the TimeSeriesSplit class:

![68747470733a2f2f692e6962622e636f2f4b576b665137712f6e6577706c6f742e706e67](https://user-images.githubusercontent.com/28893120/154545460-d1629e8a-22a4-494d-affc-2df3cb95ade7.png)

 Currently, we are limited to using the expanding window t

[2022-02-17 18:29] jeremiedbb commented on #22519
I agree. I guess the original intention was to have a ``tol`` parameter independant of the scale of the data such that the default value would be reasonable in most cases.
I also agree that this formulation ``(center_shift ** 2).sum() / (centers ** 2).sum() <= tol`` does not suffer from scaling and to me it should be preferred.

If you're interested, feel free to open a PR to change the behavior t

[2022-02-17 21:16] glemaitre commented on #22522
As well on my M1.

[2022-02-17 22:56] Micky774 opened #22524 "Pytest collection error"
### Describe the bug

As of  6a16763c008446953ed9380e084ed70a285a9f7e attempting to run `pytest` on any file or directory returns a collection error (see below). I do not know if this has affected CI/CD but will check soon.

### Steps/Code to Reproduce

Run `pytest` .
This works when targeting a specific file as well (at least on the few I tested).

### Expected Results

No error is thrown and tes

[2022-02-17 23:01] jeremiedbb commented on #22524
you probably need to clean and rebuild.
[code]

[2022-02-17 23:04] Micky774 commented on #22524
That solved it, thanks!

[2022-02-17 23:04] #22524 closed

[2022-02-18 00:10] avm19 commented on #12957
take

[2022-02-18 04:09] bijilsubhash commented on #22406
Working on [examples/classification/plot_lda_qda.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/classification/plot_lda_qda.py)

[2022-02-18 06:34] jayasuryajsk commented on #22406
working on examples/svm/plot_svm_regression.py

[2022-02-18 08:39] ogrisel opened #22530 "Wheel builder broken for Python 3.7 and 3.8 on Windows (64 bit)"
The [scheduled windows builds](https://github.com/scikit-learn/scikit-learn/actions/workflows/wheels.yml?query=event%3Aschedule) have been failing with the following error:

See for instance:

[code]

Note that this problem does not happen for Python 3.9 and later and it does not happen for 32 bit Windows images either.

[2022-02-18 08:41] ogrisel commented on #22530
We really don't care about fixing 3.7 because we want to drop Python 3.7 support for 1.1 release. Python 3.8 is annoying though.

[2022-02-18 08:47] sameermahajan opened #22531 "DBSCAN running out of memory and getting killed"
### Describe the bug

I am passing data normalized using MinMaxScaler to DBSCAN's fit_predict. My data is very small (12 MB, around 180,000 rows and 9 columns). However while running this, the memory usage quickly climbs up and the kernel gets killed (I presume by OOM killer). I even tried it on a server with 256 GB RAM and it fails fairly quickly.

Here is my repro code:

[code]
and [here](https:

[2022-02-18 09:04] ogrisel commented on #22310
So we just have to wait and restart the failing builds during the release process and hope for the best.

It it really becomes too frequent we can maintain our own backport of the fix as a monkey patch but since we plan to switch the build system to meson, it's probably not worth investing time in a monkeypatch maintenance.

[2022-02-18 12:01] thariq-nugrohotomo commented on #18671
I encounter that error as well.

Code:
[code]

Error:
[code]

After doing some investigation, looks like the solver doesn't like duplicate feature rows. Once I add small noise to the features, the error disappear.

[2022-02-18 12:08] jeremiedbb commented on #22531
DBSCAN has a worst case memory complexity O(n^2), which for 180000 samples corresponds to a little more than 259GB.
This worst case situation can happen if eps is too large or min_samples too low, ending with all points being in a same cluster.

However it does not seem to be the only issue here. Your dataset contains **a lot** of duplicates. This also increase the memory consumption because all t

[2022-02-18 15:01] thomasjpfan commented on #12995
Closing because the original issue regarding consistency between `X` and the output is fixed on `main`:

https://github.com/scikit-learn/scikit-learn/blob/8d6d7d9f408642ae7394801f2d44db62aa0d5b0c/sklearn/neighbors/_classification.py#L574-L581

[2022-02-18 15:01] #12995 closed

[2022-02-18 17:35] SparklePigBang commented on #21350
Working on sklearn.utils.get_chunk_n_rows

[2022-02-18 17:41] dmnapolitano commented on #12939
Per @tomMoral 's comment, if you don't want to completely disable warnings for everything, this "resolves" the issue with Python 3.10, sci-kit learn 1.0.2 on Ubuntu 20.04:

[code]

Hope this helps someone 😄

[2022-02-18 18:05] kyle-pena-nlp opened #22538 "Implementation of XRAY solver for NMF per Kumar 2013"
### Describe the workflow you want to enable

I was inspired by this talk [https://www.youtube.com/watch?v=kSfwY68gQ9I](url) to attempt an implementation of the XRAY solver for NMF per Kumar 2013: [https://arxiv.org/pdf/1210.1190.pdf](https://arxiv.org/pdf/1210.1190.pdf) and [https://arxiv.org/pdf/1312.7167.pdf](https://arxiv.org/pdf/1312.7167.pdf)

The talk and the paper make some pretty extraord

[2022-02-18 18:46] dhalpern opened #22540 "RidgeCV replacement for normalize=True gives different results"
### Describe the bug

Running RidgeCV with `normalize=True` results in a Future Warning that provides the new preferred method for normalizing prior to fitting a regularized regression:
FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:
[

[2022-02-18 19:22] cmarmo opened #22541 "Link to the latest Developer's guide rather than to stable."
### Describe the issue linked to the documentation

The scikit-learn website links to the stable version of the [Developer's guide](https://scikit-learn.org/stable/developers/index.html), while [CONTRIBUTING.md](https://github.com/scikit-learn/scikit-learn/blob/main/CONTRIBUTING.md) links to the development version (latest) of the same guide.
This is inconsistent and makes contributors miss recent

[2022-02-19 09:32] jona-sassenhagen commented on #16148
I've been running into this issue and ended up doing this:

[code]

[2022-02-19 11:08] jnothman commented on #16148
It still makes a lot of sense to solve this, but it's not obvious whether the right thing to do is #16994 where we support a single text column, or something like SageMaker's extension which replicates TFIDFVectorizer with the given parameters for each column, or a generic wrapper like `PerColumnTransformer(TFIDFVectorizer())`

[2022-02-19 11:16] #6734 closed

[2022-02-19 11:35] #6780 closed

[2022-02-19 14:33] SparklePigBang commented on #22406
Working on examples/linear_model/plot_ols_3d.py

[2022-02-19 16:00] thomasjpfan commented on #22541
If we go this open, then I think it is best to open a new page when we link to the dev version of the developer guide. If we go directly without a new page, a user would be on the dev page, which has unreleased API, etc.

The alternative is to be proactive in merging documentation changes into the release branch so that the `stable` site updates.

[2022-02-19 16:45] jeremiedbb commented on #22540
The warning seems to be missing ``"Set parameter alphas to: original_alphas * n_samples. "`` which is intended to be displayed for RidgeCV, see [here](https://github.com/scikit-learn/scikit-learn/blob/0a01f90b9258402f962ed0c1d64670cd22a6d6cc/sklearn/linear_model/_base.py#L128).
So in your case you should set alphas=[1,10,100] the pipeline.

The issue is that this message is not issue by RidgeCV bu

[2022-02-19 17:08] SparklePigBang commented on #18338
@sharyar Are you still working on this? If not I'd like to make a pull request.

[2022-02-19 17:53] dhalpern commented on #22540
Interesting, thanks for looking into this. This does seem to work to make the intercept and predictions the same but it does not make the coefficients the same. Is that because the weights get scaled in the normalize=True version somehow?

new code:
`from sklearn.datasets import make_regression
from sklearn import linear_model
from sklearn.pipeline import make_pipeline

X, y, w = make_regression(

[2022-02-19 19:50] #14874 closed

[2022-02-19 20:20] zachmayer commented on #16148
I've used SageMaker's TFIDFVectorizer and I like it.  It's nice and simple.  Doesn't support all the parameters of TFIDFVectorizer in sklearn though which is annoying

[2022-02-19 21:02] cmarmo commented on #22541
Please do not add a new page. This will just add more confusion.
The dev version is already linked in CONTRIBUTING.md, a big banner is warning that the dev version is displayed.
The Contributor guide should be the updated list of actions a contributor should be aware of in contributing to main, where the last changes already apply.
Two small examples:
- the "take" -> "\take" change,
- the bump of

[2022-02-19 21:11] thomasjpfan commented on #22541
I suggested to **open** a new page. In other words using the "blank" target in the anchor. For example, this opens a new page to the scikit-learn repo:

[code]

[2022-02-19 21:15] cmarmo commented on #22541
Thanks for clarifying. I don't see the advantage, but if you feel more comfortable with that I have no preferences.

[2022-02-19 21:19] thomasjpfan commented on #22541
Now that I am clicking around, I am okay with linking directly to the development page as you originally suggested.

[2022-02-19 21:32] thomasjpfan commented on #22541
I opened #22550 to link to the latest developer guide directly as suggested. I think the big banner red banner is enough.

[2022-02-19 21:42] lorentzenchr commented on #21993
I like "Contribution Facilitators" and "Developer Advocates".
How do we come to a decision? For me, it would be fine if the team members of this to be named team, currently triage team, votes.

[2022-02-19 22:03] GaelVaroquaux commented on #21993
+1. I think that this is the right way to come to this decision.

[2022-02-19 22:10] cmarmo commented on #21993
I'm going to create four comments:
- "Contribution Facilitator Team"
- "Contributor Experience Team"
- "Developer Advocate Team"
- "Triage Team"
Then @scikit-learn/triaging-team and @scikit-learn/core-devs will vote with thumbs-up on the comment they prefer.
Can we finalize the vote by the end of February? Thanks.

[2022-02-19 22:11] cmarmo commented on #21993
"Contribution Facilitator Team"

[2022-02-19 22:11] cmarmo commented on #21993
"Contributor Experience Team"

[2022-02-19 22:11] cmarmo commented on #21993
"Developer Advocate Team"

[2022-02-19 22:11] cmarmo commented on #21993
"Triage Team"

[2022-02-19 22:59] thomasoliveira opened #22551 "LinearRegression in User Guide seems to have $w_0=0$"
From the documentation of https://scikit-learn.org/stable/modules/linear_model.html#ordinary-least-squares, one could understand that LinearRegression fits a model where the intercept $w_0$ is absent, that is, where $w_0=0$.

To prevent this misinterpretation, I suggest rephrasing (i) "LinearRegression fits a linear model with coefficients $w = (w_1, ..., w_p)" as "LinearRegression fits a linear m

[2022-02-19 23:42] Micky774 opened #22552 "Deferred calculation of expensive fitted attributes"
### Describe the workflow you want to enable

Transformers may perform expensive (w.r.t. memory/computational time complexity) calculations of fitted statistics during `fit_transform` calls. I believe this is potentially problematic in the case where a user would prefer to simply apply a fitted transform _without_ calculating related fitted statistics.

A prime example of this use case is #11102,

[2022-02-20 01:37] Micky774 commented on #22551
Not a core maintainer, but I agree with this assessment and the general direction of the proposed solution

[2022-02-20 03:16] thomasjpfan commented on #22551
Thank you for opening this issue! I agree the documentation can be improved here. I would also adjust remove the `w =` slightly above to avoid confusion:

https://github.com/scikit-learn/scikit-learn/blob/998e8f2068c7d9f43a30d997b63e4875688d0b1a/doc/modules/linear_model.rst?plain=1#L16-L17

Are you interested in opening a PR to adjust the documentation?

[2022-02-20 05:17] avm19 opened #22556 "Integer column index in dataframes unexpected behaviour and error (column selectors vs _get_column_indices)"
### Describe the bug

Unexpected behaviour when using integer column index in a DataFrame, other than natural ordering [0, 1, ...].

[code]

The only difference between `df1` and `df2` is that the type of column index. In my opinion, the results for these dataframes must be similar, but an error is raised for the latter.

As far as I could see, the problem stems from semantic ambiguity, as to when

[2022-02-20 18:42] AmarCodes-22 commented on #22406
Working on [examples/cluster/plot_affinity_propagation.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/cluster/plot_affinity_propagation.py)

[2022-02-20 19:38] ferraridamiano opened #22560 "[RANSACRegressor] Strange behaviour with rectangular regions"
### Describe the bug

I'm using sklearn in order to find a line that best fits a rectangular region using the `RANSACRegressor`. In general RANSAC works pretty good but it seems to have some problem with vertical rectangular regions.

### Steps/Code to Reproduce

[code]

### Expected Results

I expected that in 1000 trials the regressor finds the vertical line (or at leasts one of the diagonal of

[2022-02-20 20:47] thomasoliveira commented on #22551
@thomasjpfan , thanks. I have opened the PR #22561 to adjust the documentation.

[2022-02-21 01:14] rickhg12hs opened #22563 "Visualizations examples in documentation don't work"
### Describe the issue linked to the documentation

The examples at https://scikit-learn.org/stable/visualizations.html don't work as shown.  Both produce error messages and no graphics.

### Suggest a potential alternative/fix

Modify documentation examples so they work.

[2022-02-21 04:31] sameermahajan commented on #22531
When I try DBSCAN with similar data - 180000 rows but 42 columns and most of them belonging to one cluster (the actual cluster distribution is given below) - it converges pretty quickly on a machine with even 16 GB RAM (of course, I notice it using some swap as actual memory usage of the underlying python process climbs up much beyond that during the execution).

[code]

I can share my data for wh

[2022-02-21 04:37] Mecil9 commented on #22522
it's working, after i reinstall
[code]
conda reinstall numpy , scipy, scikit-learn
Machine learning extensions are not well supported on Apple silicon.
And for opencv, I haven't figured it out yet!
M1's configuration environment is too complex

[2022-02-21 04:51] thomasjpfan commented on #22563
The docs on stable are for the latest stable version, which is currently 1.0.

Can you try updating to scikit-learn 1.0 and try to run the code again?

[2022-02-21 04:53] #22522 closed

[2022-02-21 12:22] AmarCodes-22 commented on #22406
Working on [examples/cluster/plot_dbscan.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/cluster/plot_dbscan.py)

[2022-02-21 15:19] jeremiedbb commented on #22531
The issue is not many points belonging to 1 cluster, but many points being in the neighbourhood of each other. It's not the same thing.

[2022-02-21 15:28] jeremiedbb commented on #22540
ping @agramfort maybe you'll explain more clearly, I wasn't part of the 'normalize' deprecation.

[2022-02-21 17:40] kantarcise commented on #22406
Working on [examples/cluster/plotplot_mini_batch_kmeans.py](https://github.com/scikit-learn/scikit-learn/blob/main/examples/cluster/plot_mini_batch_kmeans.py)  :relaxed:

[2022-02-21 21:36] agramfort commented on #22540
I will look more closely next week but even this breaks:

[code]

now what is clear is that you cannot compare the coef_ of before and after as the new coef_ are now defined in the "scaled" space.

[2022-02-21 23:48] rickhg12hs commented on #22563
[code]

[2022-02-22 00:01] avm19 opened #22572 "pytest warnings due to deprecation of pytest.warns(None)"
Pytest issues warnings about using `pytest.warns(None)` context manager, where the `None` part is now being deprecated.

For example,
```>>> pytest ./sklearn/tests/test_naive_bayes.py ```
results in `79 passed, 4 warnings`. After commenting out `--disable-pytest-warnings` key in `[tool:pytest]` section of `setup.cfg`, I could see that _some_ of the warnings are:

See https://docs.pytest.org/en/lat

[2022-02-22 00:09] thomasjpfan commented on #22563
Thanks for the clarification. Are you interested in opening a PR to add `load_wine`?

[2022-02-22 00:25] thomasjpfan commented on #22572
Thanks for opening the issue! Since `pytest.warns(None)` is deprecated,  It makes sense to update our tests to use `warnings.catch_warnings(record=True)`.

[2022-02-22 02:06] cmarmo commented on #13319
My understanding (see #2328) is that there is no interest in improving this scheme.
Also #18257 suggests to rework the tutorial in a comprehensive manner.
I'm closing this one: feel free to reopen if I'm wrong.

[2022-02-22 02:06] #13319 closed

[2022-02-22 02:48] rickhg12hs commented on #22563
Even after specifying `X, y` and making `y` binary, there are still problems with the second example (`RandomForestClassifier`).

[2022-02-22 04:20] sameermahajan commented on #22531
@jeremiedbb thanks for the clarification. How is the neighbourhood defined to determine whether some other data point lies in the neighbourhood of a data point or not?

[2022-02-22 10:00] jeremiedbb commented on #22531
That's the `eps` parameter. See https://scikit-learn.org/stable/modules/generated/sklearn.cluster.DBSCAN.html

[2022-02-22 10:10] dre-hh opened #22575 "label_ranking_average_precision_score does not allow csr_matrix for y_true input"
### Describe the bug

The `label_ranking_average_precision_score` in `sklearn.metrics` according to the doc must allow a csr_matrix as input

[code]

The bug was introduced by removing the `check_arrays` method in favor of `check_array`
https://github.com/scikit-learn/scikit-learn/commit/6e2a83b4e184f0e51aead75d5c82fc0284fa6233#diff-2f5f868973c3d214e0d76fc01ff1e31b48fa8b839cf294e788ac46ae984f9e1aL

[2022-02-22 11:30] goncaloperes commented on #18685
Direct link to SKTime documentation: https://www.sktime.org/en/stable/api_reference/auto_generated/sktime.performance_metrics.forecasting.MeanAbsoluteScaledError.html

[2022-02-22 11:42] ClaudioSalvatoreArcidiacono opened #22576 "Inconsistent behaviour between `check_X_y` and `check_requires_y_none`"
### Describe the bug

When implementing custom Regressors, the `check_X_y` util can be used to check the input.

The function `check_X_y` raises a ValueError with message `y cannot be None` when y=None is passed as input.

The function `check_requires_y_none` checks the behaviour of an estimator when y=None is passed as input and raises a warning when the error message does not contain one of the

[2022-02-22 16:03] #17955 closed

[2022-02-22 18:15] ogrisel commented on #22540
More general remark, the default grid of alphas for `RidgeCV` is too coarse and narrow.

[code]

I think we should use something like `np.logspace(-6, 6, 13)`:

[code]

or even `np.logspace(-6, 6, 25)` since `RidgeCV` scales very well with the cardinality of `alphas`.

By using a fine and wide grid, the dependency on the scaling of the optimal `alpha` should mostly go away.

[2022-02-22 18:31] ogrisel commented on #22540
Indeed. You can to recover the scaled coef with:

[code]

If you combine that with a wider grid for `alphas`, and since `X.shape[0]` is exactly 10, you can recover the expected matching coefs:

[code]

[2022-02-22 19:13] #16556 closed

[2022-02-22 20:42] agramfort commented on #22540
thanks @ogrisel !

[2022-02-22 20:53] marenwestermann opened #22581 "Unable to successfully install scikit-learn development version with MacBookPro with chip Apple M1 Pro"
### Describe the bug

I installed the development version of scikit-learn on my computer (MacBookPro with chip Apple M1 Pro). When I ran pytest I got the following error:
[code]

I investigated what's going on an this is the result:
https://gist.github.com/marenwestermann/9ffddb7a2f0ef6798d350f3595997ed1

I'm using a conda environment. I used the Miniforge3-MacOSX-arm64 download from here: https:/

[2022-02-22 21:00] thomasjpfan commented on #22581
This could be an issue with the latest version of `pytest`. Can you try downgrading to `pytest==6.2.5` and see if you get the same error?

[2022-02-22 21:51] thomasjpfan commented on #7242
We now validate feature names by default and raise a warning if the column names are not in the same order. In 1.2, we will start raising an error.

[2022-02-22 21:51] #7242 closed

[2022-02-22 22:23] felixjchen commented on #22413
Sorry for opening another PR. I was just holding onto my code for a couple nights as I was struggling with opening a PR (I was using a private fork...).

I followed this in my PR, but I used `classes` as a source of truth as I understand it shouldn't have duplicates like `y`.

[2022-02-22 22:48] dre-hh commented on #22575
I will try to open one by end of week

[2022-02-22 23:12] 392781 commented on #8445
@chrishmorris Were you planning to do a PR on this or is there still discussion happening with @amueller concerning implementation?

If no one is working on this anymore, I'd be happy to look into it and work on a PR for this.

[2022-02-23 03:42] i-aki-y opened #22584 "`sklearn.neighbors.VALID_METRICS['brute']` has duplicate keyword: "cosine"."
### Describe the bug

The constant:`sklearn.neighbors.VALID_METRICS['brute']` returns duplicate "cosine" keyword.
It seems harmless, but I think it should return a unique keyword list to avoid unnecessary confusion.

The constant is defined here:

https://github.com/scikit-learn/scikit-learn/blob/691972a7cf04e7a8918b907556b4e9904f82bd0c/sklearn/neighbors/_base.py#L40-L69

Removing `cosine` from th

[2022-02-23 06:06] rgommers commented on #22352
This was the initial goal when we started to write NEP 47, and it seems that it would have major practices advantages - which is why multiple scikit-learn maintainers comment on this point. So asserting that there's no reason is kind of odd. I'll take the rest offline and over to the NumPy community meeting / mailing list, which is where this discussion belongs.

[2022-02-23 09:04] ogrisel commented on #22540
After talking with @jeremiedbb I realized that the warning message for `RidgeCV` is missing the critical information about the scaling of alpha that only appears in the deprecation warning message of `Ridge`. We should indeed fix the deprecation warning message of `RidgeCV` to be consistent with the message of `Ridge`.

[2022-02-23 09:27] lesteve opened #22586 "Fix Axes3D matplotlib deprecation warning in examples"
See in #22547

[code]

We need to replace a line like this:
[code]

by:
[code]

For matplotlib < 3.2 (matplotlib 3.1.2 is our minimum supported version of matplotlib) we need to have this import:
[code]
see https://github.com/scikit-learn/scikit-learn/pull/22594#issuecomment-1050127303 for more details.

### List of examples affected
through `git grep Axes3D examples`:
- [x] examples/cluster/plot_

[2022-02-23 09:44] marenwestermann commented on #22581
I tried using `pytest==6.2.5` but it didn't resolve the issue.

I can also confirm that I have the same issue with `compilers=1.4.0` and `llvm-openmp=12.0.1`. I made sure to run `git clean -xdf` before make to have a fresh compile.

Here's the -vvv log for the older versions (`compilers=1.3.0` and `llvm-openmp=12.0.1`):

<details>

[code]

</details>

[2022-02-23 09:46] jeremiedbb commented on #22584
Thanks @i-aki-y for the report. The union of sets approach seems good. Would you like to submit a PR ?

[2022-02-23 10:07] jjerphan opened #22587 "PERF `PairwiseDistancesReductions` initial work"
`PairwiseDistancesReductions` have been introduced as a hierarchy of Cython classes to implement back-ends of some scikit-learn algorithms.

Pieces of work include:

 - https://github.com/scikit-learn/scikit-learn/pull/22134
 - https://github.com/scikit-learn/scikit-learn/pull/22320
 - https://github.com/scikit-learn/scikit-learn/pull/23865
 - Support sparse-dense data-sets pairs:
   - https://git

[2022-02-23 10:50] DevanshSharma58 commented on #22586
Please assign the problem to me. Will try my best for sure ;)

[2022-02-23 10:56] lesteve commented on #22586
Hi, I think it is best if you chose one of the file and start working on a PR modifying only this file. Mention which file you are working on so that different people can work on this issue in parallel!

[2022-02-23 10:56] i-aki-y commented on #22584
@jeremiedbb OK, I will make a PR.

[2022-02-23 11:40] MaxwellLZH commented on #22586
working on `examples/manifold/plot_manifold_sphere.py`

[2022-02-23 20:09] Valavanca commented on #22586
working on `examples/manifold/plot_compare_methods.py`

[2022-02-23 20:17] nathansquan commented on #22586
I'll work on ` examples/cluster/plot_cluster_iris.py`

[2022-02-23 20:49] thomasjpfan commented on #22413
Sorry if I was not clear. Functionally `compute_sample_weight` should use `classes`.

(In the end, `classes` is defined by `y`, so `y` is still indirectly the "source of truth")

[2022-02-24 08:01] cmarmo commented on #13617
With [current main version](https://github.com/scikit-learn/scikit-learn/commit/b6bc5599ae063a90c27c9c1fef1940d620b5a206), the script becomes
[code]
The result is still
[code]

[2022-02-24 08:04] cmarmo commented on #13674
The [current main version](https://github.com/scikit-learn/scikit-learn/commit/b6bc5599ae063a90c27c9c1fef1940d620b5a206) still has the same behavior.

[2022-02-24 09:28] SaiArja opened #22601 "If “auto”, then max_features=sqrt(n_features). in https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html"
Hi Scikit-learn community,

in the Documentation, https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html

it is given that If **“auto”, then max_features=sqrt(n_features).**

as per the decision tree it shold be If “auto”, then max_features = (n_features).

Correct me if iam wrong. Or help in adding the change the documentation

![image](https://user-images.gith

[2022-02-24 09:46] cmarmo commented on #13622
I have rerun the script with the current version and there is no Warning anymore.
I'm closing this one.

[2022-02-24 09:46] #13622 closed

[2022-02-24 11:30] MaxwellLZH commented on #22601
Hi @SaiArja , if `max_features` is set to `"auto"`, then it will be set to `sqrt(n_features)` for classification trees and `n_features` for regression trees.

[2022-02-24 13:18] adrinjalali commented on #20967
I'm really not sure how to move forward with this, but it does sounds like a good idea.

[2022-02-24 15:00] thomasjpfan commented on #20967
I've seen the specializing issues/expcetions issue pop up from time to time, so there is a demand for them. I think it's common for a Python library to have specialized warnings and exceptions.

The only documentation we have for exceptions are in the [API docs](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.exceptions). The last specialized warning we added was `PositiveSpect

[2022-02-24 15:10] thomasjpfan commented on #22601
As noted in https://github.com/scikit-learn/scikit-learn/issues/22601#issuecomment-1049765295, the documentation is correct for `DecisionTreeClassifier`.

[2022-02-24 15:10] #22601 closed

[2022-02-24 15:47] #22584 closed

[2022-02-25 07:48] lorentzenchr commented on #15123
Meanwhile, the new loss module is used for HGBT #20811 and in LogisticRegression #21808.

Open are:
- [ ] GLM / TweedieRegressor #22548
- [ ] Gradient boosting (the old one without histograms)
- [ ] SGD if feasible / beneficial
- [ ] MLP if feasible / beneficial

[2022-02-25 09:24] markub3327 opened #22609 "train_test_split returns `ValueError` after `np.reshape`"
### Describe the bug

Hello,

  after I apply a `np.reshape` on my dataset `train_test_split` cannot split the dataset. Without `np.reshape` works all good, but I need it.

Thanks.
Have a nice day.

### Steps/Code to Reproduce

[code]

### Expected Results

signals: (41564, 300, 6)
labels: (41564, 300)

### Actual Results

[code]

### Versions

[code]

[2022-02-25 15:03] thomasjpfan commented on #22609
Thank you for opening the issue!

scikit-learn's `train_test_split` can not stratify for multilabel targets. For example:

[code]

There are libraries such as [scikit-learn-multilearn](http://scikit.ml/stratification.html) implements a method for stratifying multilabel targets that could be better suited for your problem.

[2022-02-25 15:03] #22609 closed

[2022-02-25 15:37] joshua00214 opened #22612 "SVC parameter decision_function_shape states "However, one-vs-one (‘ovo’) is always used as multi-class strategy.""
### Describe the issue linked to the documentation

Documentation should be changed to reflect that one-vs-rest is possible.

[code]
ovr's shape is indeed (n_samples, n_classes)
and ovo's shape is (n_samples, n_classes * (n_classes - 1) / 2)
looking at the documentation for SVC,
"**decision_function_shape{‘ovo’, ‘ovr’}**, default=’ovr’
Whether to return a one-vs-rest (‘ovr’) decision function of s

[2022-02-25 15:42] ogrisel commented on #22581
I can reproduce  in the following env I create a few days ago. I build scikit-learn from scratch (`make clean in`) but did not install it.

<details>

[code]

</details>

In this env, if I run pytest I get the killed python error:

[code]
[code]

When trying to debug this with lldb to get a post-mortem backtrace I got the surprise that running this in lldb got the lldb process itself to get killed

[2022-02-25 15:43] ogrisel commented on #22581
Maybe there was a transient problem in one of the packages that was updated between the 2 envs.

[2022-02-25 16:01] lorentzenchr commented on #4632
While there is no theoretical result that I'm aware of to prefer CV with or without sample weights, the ability to use sample weights in CV will become available with #22083.

[2022-02-25 16:05] lesteve opened #22614 "joblib development version breaks `sklearn.show_versions()`"
When we release joblib (soonish let's say a matter of weeks) we will break `sklearn.show_versions()`. We may need to do a bug-fix release of scikit-learn.

To reproduce:
[code]

This is a mixture of different things:
1. `python -c 'import pip; import setuptools'` breaks
[code]
3.  `python -c 'import setuptools; import pip'` gives you only a warning about setuptools replacing distutils
4. importing

[2022-02-25 16:32] lesteve commented on #22614
After chatting a bit with @ogrisel, it may be that the most pragmatic way of tackling this issue would be to reintroduce an unused `import distutils` in `joblib`.
Pros:
- avoid unnecessary disruption (people with weird errors when using `sklearn.show_versions()`, telling them to update scikit-learn or downgrade joblib, or giving them manual instructions to get the info we need)
- avoid the work of

[2022-02-25 16:56] lesteve commented on #21460
To try to remember to do it: using `importlib.metadata` in `sklearn.show_versions` to avoid importing `pip` (xref #22614)

[2022-02-25 17:52] thomasjpfan commented on #22614
If joblib devs are okay with this, then I think this is the best path forward.

If `joblib`  does not want to import distuils all the time, joblib can check the version of scikit-learn and then import `disutils` only if `scikit-learn < 1.1`.

[2022-02-25 19:47] cmarmo commented on #13757
I'm closing this one as scikit-learn is already at 0.23.2 in Ubuntu.
Feel free to open a new issue with updated information if the test is still failing in the last available build. Thanks!

[2022-02-25 19:47] #13757 closed

[2022-02-25 20:08] cmarmo commented on #13781
I'm under the impression that #13790 was closed as this feature were not accepted for inclusion.
@thomasjpfan do you mind confirming, and perhaps closing this one? Thanks!

[2022-02-25 20:22] cmarmo commented on #13836
With
[code]
the results are
[code]
and
[code]
I'm closing this one.

[2022-02-25 20:24] gwerbin commented on #13781
Hi, I forgot about this issue.

Yes, I think specifically accepting _tuples_ to support multiindex columns is a useful thing to support, because multiindexes are a really useful advanced pandas feature.

I think for the most part people tend to avoid numbers, booleans, tuple literals, etc. as column names, because they have questionable built-in support in Pandas anyway. So you definitely don't ne

[2022-02-25 20:38] cmarmo commented on #13952
It seems that the issue is solved upgrading.

[2022-02-25 20:38] #13952 closed

[2022-02-25 20:58] thomasjpfan commented on #13781
Looking over the PR, I think that `tuple` was too permissive https://github.com/scikit-learn/scikit-learn/pull/13790#issuecomment-490141672.

Looking at this now, I think we can support MultiIndex selection if we become restrictive and require the MultiIndex itself. Here is my proposed API:

[code]

Essentially, we do no processing when a pandas Index object is used for selection. (We can have the

[2022-02-25 20:58] GaelVaroquaux commented on #4632
In the context of causal inference, we are seeing a need for such practice (paper to come).

However, in practice, even with weights added in scikit-learn cross-validation framework, I think that the scheme that we need would be too complex for the existing framework and that we should write our own (I am not suggesting to adapt scikit-learn's framework: it would probably be unreasonably complex).

[2022-02-25 21:51] gwerbin commented on #13781
It is a bit verbose, but I understand the desire to avoid confusion over "sequence" types. Maybe at least you could allow a specification like this: `[('a', 1), ('a', 2)]`, which shouldn't be confusing or ambiguous as far as I can tell.

However the problem is that neither specification allows you to select a _single_ multiindex'ed column. Maybe that's fine and it's just a limitation/tradeoff to a

[2022-02-25 21:59] thomasjpfan commented on #13781
Here are all the use cases I am thinking of:

[code]

I think using the mulitindex can specify a single column. Is there another use case I am missing?

[2022-02-25 22:34] gwerbin commented on #13781
This produces a "single column", but if you use it with `DataFrame.loc` it returns a `DataFrame` of one column, rather than a `Series` representing that one column.

The difference isn't that big, and the only cost is that it might require you to write a wrapper for your transformer that converts between `DataFrame` and `Series`. So it's a question of making the "sub-transformers" more complicated

[2022-02-25 22:42] jeremiedbb commented on #13836
Actually, normalized_mutual_info_score behavior changed in 0.22. to reproduce the issue, one should use
``normalized_mutual_info_score(x, y,  average_method='geometric')``
With that I can still reproduce the issue.

[2022-02-25 22:59] ogrisel commented on #22614
I think we can just keep on importing distutils for nothing in joblib for one year to ensure a safe overlap.

But we need to switch to `importlib.metadata.version`-based version introspection in scikit-learn's `show_versions()` before releasing 1.1.

[2022-02-26 16:21] je-kr commented on #22586
Working on examples/cluster/plot_ward_structured_vs_unstructured.py

[2022-02-26 19:21] markub3327 commented on #22609
@thomasjpfan
It's single label problem - Softmax.

The first dim is batch, the second dim is timestep and the last one is features. It is seq-to-seq multi class single label classification problem.

Thanks.

[2022-02-26 21:45] DarpanGanatra commented on #9104
@trujillo9616 may I ask which ones you've finished / are working on? Looks like the above list of TODOs are a bit behind

[2022-02-27 10:16] chrishmorris commented on #8445
Go ahead - I'm not planning to work on a PR. Thanks to arosen93 for bug fixes.

[2022-02-27 11:40] marctorsoc opened #22625 "Add zero_division None or np.nan"
### Describe the workflow you want to enable

This would be an extension of my previous addition https://github.com/scikit-learn/scikit-learn/pull/14900, where I added the parameter `zero_division` for precision, recall, f1. Afterwards, it was added for jaccard as well.

Here, we would return np.nan when the metric is undefined. For the user to force this, she would pass `zero_division=None` or `z

[2022-02-27 14:07] tofetpuzo commented on #22341
Hi @thomasjpfan @glemaitre @impiyush , I have not heard anything about this I was hoping we could take this on.

[2022-02-27 14:29] thomasjpfan commented on #22341
@tofetpuzo You are welcome to work on this issue.

[2022-02-27 21:22] raymondj-pace opened #22626 "Add an average callable parameter to sklearn.neighbors.KNeighborsRegressor"
### Describe the workflow you want to enable

For some algorithms of kNN it is desired to use other calculations at the end of this method besides using the mean. In some cases using a geometric average or arithmetic-geometric average is needed instead of the regular average.

### Describe your proposed solution

Add a parameter to the KNeighborsRegressor class, for computing the average at the en