[2015-07-29 01:59] jnothman commented on #3956
@mkneierV, That particular case happens to work fine with `CountVectorizer`. See also #4920, but as you note the description of "work with strings" is underspecified: in general, I think we must require 2d input for `OneHotEncoder`. So it could encode `[['cat'], ['dog'], ['cat'], ['ferret']]` as above `[['cat', 'cat'], ['dog', 'dog'], ['cat', 'cat'], ['ferret', 'ferret']]` as the same duplicated h

[2015-07-29 02:53] amueller commented on #5045
Ha, I didn't introduce this one, it was ``np.atleast_2d`` before, so it was always broken :-/

[2015-07-29 06:39] agramfort commented on #5046
how did you iinstall it?

it's pretty automatic as for me I just need to add a license file and run
conda upgrade (or something like that)

[2015-07-29 06:44] jmetzen commented on #5045
Yes, it was 2d before. I was always wondering, why that should be the case. But changing it now might break some external code that relies on the 2d structure. Thus, we should probably leave it as it is.

[2015-07-29 07:35] mgabel-stratoscale commented on #5040
Hi amuller. This is not related to the random seed or the random data. It reproduces every time (for me), regardless to what is plotted or what the data is (my original code uses fixed random state and data generation is much more complicated).

Here, now the code is deterministic:
[code]

The output of the above:
[code]

I know it looks like an error from matplotlib but (at least here) this is 10

[2015-07-29 07:38] glouppe commented on #5044
Thanks for raising the issue @arogozhnikov ! In general, I agree we should improve the API on the loss functions used within our GBRT implementation. This is something I have been thinking about lately as well and I agree we should make it easier for people to plugin new functions if they need to. Currently, doing that is quite cumbersome... I have no opinion yet on how to best do that however --

[2015-07-29 08:11] arjoly commented on #5044
I agree that loss should be estimator.

I have a private boosting implementation with loss being regressor. The fit and predict method correspond to the initial estimate of the gradient boosting algorithm. It allows to fix a lot api issue due to the fact that initial estimator is a mix of inconsistent and non-api compliant of estimators.

However, @pprett raised previously that fixing that would b

[2015-07-29 09:08] mgabel-stratoscale commented on #5040
One more update:
I've managed to narrow down the problem to the call to ``eigh`` in ``scipy.linalg.decomp``, lines 155-156 in ``sklearn/decomposition/kernel_pca.py``:

[code]
Replacing this with the morally equivalent code below (using numpy) avoids the problem:
[code]

Important caveats follow:

1. The signs of columns of alphas (the eigenvectors) returned by numpy's ``eigh`` can be different fro

[2015-07-29 09:19] untom commented on #5028
I agree. I don't see how this could best be done for `RobustScaler`, but the rest should be easy. If any help is needed, just ping me.

[2015-07-29 10:29] chrsrds commented on #1243
Right. One option is to keep few labels per class (arbitrary number or percentage) on the training dataset and drop the rest. Next, we have to compare the accuracy of the self trained model and the supervised model using only the labeled examples.

[2015-07-29 11:08] jmschrei commented on #5044
My thoughts are similar to @arjoly . I am unsure how to handle the backwards compatibility issue, however. I may have a more informative response when I get to that section of the code (still in _tree.pyx).

[2015-07-29 14:04] amueller commented on #5046
I did that too, and that gives me numpy with mkl. But if I then try to compile sklearn I get linking errors on import.

[2015-07-29 14:39] kastnerkyle commented on #5040
Why are we using eigh instead of SVD there? Anyone know why kernel PCA
would be different than "regular" PCA for the solver?

In general I don't trust eigh as much as SVD

On Wed, Jul 29, 2015 at 5:08 AM, Mickey Gabel <notifications@github.com>
wrote:

[2015-07-29 14:41] arjoly commented on #5044
For the backward compatibility with serialisation, it's better to have it. But in practice, we make modifications if there are some benefit. Preserving serialisation between versions is a lot of trouble and huge maintenance burden.

For the backward compatibility in term of interface, we have the rules to be backward compatible for 2 version to allows users to adapt and raise deprecation where app

[2015-07-29 14:56] amueller commented on #5040
Interesting. I can't reproduce. And you say that even crashes with ``range``?
What is ``range(10)`` then? It looks like it contains ``NaN``.

unrelated to eigh vs pca, this looks like a bug in either scipy or matplotlib.

Do you see the same error if you use ``matplotlib.pyplot`` instead of ``matplotlib.pyplab``?

[2015-07-29 15:02] amueller commented on #1243
exactly, and maybe compare against label propagation and label spreading, too. (though I am not convinced by our implementation).

[2015-07-29 15:03] amueller commented on #5028
For robust scaler, this could probably be done approximately by binning, we don't really need to do that now, though.

[2015-07-29 15:14] amueller commented on #3956
+1. Currently this can only be done by using (the not merged) FunctionTransformer and a FeatureUnion :-/

This should really work for arbitrary categorical matrices (and mixed type data).

[2015-07-29 15:18] amueller commented on #474
I am not entirely sure if the GP based method is better than SMAC, and implementing both is probably a hassle.
It would be nice to first find a use-case in scikit-learn. GP based methods don't really handle tree-based structures, so I'm not sure what a good application would be. Do you have any in mind?

[2015-07-29 15:20] GaelVaroquaux commented on #474
Balasz Kegl recently told me (private communication) that SMAC didn't
work that well, and he wasn't convinced that any of the published
empirical evaluations were to be trusted.

So I would say that we should go for the simplest to implement.

[2015-07-29 15:33] amueller commented on #474
It's all open source and I'm pretty sure they published the code to reproduce their experiments.

[2015-07-29 15:34] kastnerkyle commented on #474
I think GP based is certainly the most well documented in literature, there
are also a bunch of implementations around to look at. Ultimately I think
TPE (tree of parzen estimators), SMAC, and GP based all have advantages and
disadvantages, there was a paper comparing all of them somewhere I can dig
up if interested. For our purposes GP based should be sufficient, though I
am personally interested

[2015-07-29 15:34] GaelVaroquaux commented on #474
And Balazs has used it.

[2015-07-29 15:34] kastnerkyle commented on #474
I have not seen the SMAC code but would interested to take a look

On Wed, Jul 29, 2015 at 11:34 AM, Kyle Kastner <kastnerkyle@gmail.com>
wrote:

[2015-07-29 15:37] kastnerkyle commented on #474
Mainly I like pybo cause it seems to have less dependencies, though
auto-sklearn is probably the best to experiment with to try to understand
API issues
https://github.com/automl/auto-sklearn/blob/master/source/index.rst

And the aforementioned paper
http://www.cs.ubc.ca/~hutter/papers/13-BayesOpt_EmpiricalFoundation.pdf

On Wed, Jul 29, 2015 at 11:34 AM, Gael Varoquaux <notifications@github.com>

[2015-07-29 15:39] amueller commented on #5030
The issue is that your pipeline is expensive and you don't want to recompute the cross-validation to get the ensemble?

Keeping the predictions is a bit tricky, as we parallelize the GridSearch. That makes it hard to only keep the best predictions. the splitting up into tasks is done in joblib. For keeping only the best predictions, we would need to either keep all and then discard (which likely r

[2015-07-29 15:42] amueller commented on #474
auto-sklearn is SMAC.

I think we really need to decide what our application is. Something like auto-sklearn doesn't really work with GPs, as the parameter space is tree-shaped (contains a lot of contitionals). GPs can't handle that.

[2015-07-29 15:42] sds-dubois commented on #474
It's true that SMAC handles tree-based structures but a GP-based method is definitely easier to implement (at least for me) and I think in most cases we don't really need the tree structure. And as @kastnerkyle said, they are complementary so why not implementing both ?

Here is an example of application :
![deepmining_workflow](https://cloud.githubusercontent.com/assets/7746635/8961796/a6562892-3

[2015-07-29 15:42] amueller commented on #474
Or are we catering to people that do deep learning with a sklearn-like interface?

[2015-07-29 15:44] GaelVaroquaux commented on #474
I don't think so. These people don't really worry about complexity of
install, and so they can use hyperopt.

[2015-07-29 15:45] amueller commented on #474
alright. It's not like I'm against it ;) please go ahead.
You should think about whether you want to use the current GP (probably not) or the rewrite #4270 (probably yes). I'm not entirely sure about the status. I think it was basically ready to go. Talk to @jmetzen. Also ping @cangermueller who might want to help you :)

[2015-07-29 16:04] bpajusco opened #5051 "Header error issue when attempting to download California housing dataset"
In accessing *sklearn.datasets.fetch_california_housing* I got the following error message: **Error -3 while decompressing data: incorrect header check**. I'm not familiar with zlib and why the download fails and would love to be able to access the data.

Thanks,
Bruno

[2015-07-29 16:08] jmetzen commented on #474
Regarding the GP: the GP regression part of the PR #4270 should be pretty mature. The GP classification part does not support multi-class classification yet (only binary), that's why the PR is still in the WIP status. But since only regression matters in Bayesian Optimization (BO), it should be alright to use the GPs from the PR.

Regarding the GP-based BO: I have already some private code that pe

[2015-07-29 16:10] jmetzen commented on #474
Ah, I see, you want to randomly sample candidates in the parameter space rather than optimizing the acquisition function directly. That's ok for the start, I guess.

[2015-07-29 16:37] sds-dubois commented on #474
Yes, I guess it's the most straightforward way to deal with categorical parameters / integers, and that will still provide a great improvement from the randomized search. But indeed directly optimizing the acquisition function can be added later.
Is it fine for you if I write the code with sklearn's current GP and then you update the 3/4 lines where the GP API is called ?

[2015-07-29 16:42] amueller commented on #474
Ah, I also didn't catch that you wanted to sample the space. That is probably fine for the start. Jasper Snoek mentioned he just seeds a grid and then does local optimization (gradient based?) from there.

[2015-07-29 16:42] amueller commented on #474
If you can make it work with the current GP, sure. I'm not sure how easy it will be to specify the kernels you need.

[2015-07-29 16:49] amueller commented on #5051
just remove the data from your ``scikit_learn_data`` folder and try again.

[2015-07-29 16:57] amueller commented on #5029
All inputs and outputs X should be 2ndim arrays to adhere to sklearn conventions.
The transformers should take care of this, not the pipeline, though, and we want people to use pipelines with "arbitrary" data.

[2015-07-29 17:13] amueller commented on #5029
The line is not covered in the tests.....

[2015-07-29 17:14] amueller commented on #4752
Thanks :)

[2015-07-29 17:19] amueller commented on #4973
sorry for the slow reply. I think there might be several installations of sklearn on your machine.
Which version did you use and how did you install?

[2015-07-29 17:20] kastnerkyle commented on #474
A list of a bunch of implementations, courtest of @craffel

https://gist.github.com/craffel/e25177a212d3528e30e1

also he mentions https://github.com/claesenm/optunity

No votes for or against, but surveying currently available tools is
important so that we can figure out what functionality we *don't* care
about.

On Wed, Jul 29, 2015 at 12:42 PM, Andreas Mueller <notifications@github.com>
wrote:

[2015-07-29 17:30] pprett commented on #5039
@jmschrei there should not be any randomization in the GBRT except the schedule how features are probed in _tree -- so i guess best impurity ties could make a difference.

what happens if you set the random_state?

[2015-07-29 17:31] pprett commented on #5039
@jmschrei can you please provide a full script for reproducibility

[2015-07-29 18:22] kegl commented on #474
"Balasz Kegl recently told me (private communication) that SMAC didn't
work that well, and he wasn't convinced that any of the published
empirical evaluations were to be trusted."

Gael, I don't recall being so blunt, so let me elaborate. SMAC is certainly one of the best Bayesian optimization algorithms out there. What I might have meant is that in general there is no slam dunk experimental resul

[2015-07-29 18:23] bpajusco commented on #5051
The error prevented me from downloading the data and I checked once more
but I don't have it in the folder

On 29/07/15 17:50, Andreas Mueller wrote:

[2015-07-29 18:28] GaelVaroquaux commented on #474
The good thing about saying something grossely inexact in public, is that
I get corrected!

Thanks Balazs

[2015-07-29 18:42] amueller commented on #474
Thank you for your input @kegl. I think we are mostly in agreement. If there are useful applications inside scikit-learn, I would consider adding something to scikit-learn, but it is clear that this is still a field very much in flux and I would not like to move too quickly here.

[2015-07-29 19:03] amueller commented on #5051
can you give the full traceback?
I think the unpacking is after downloading, but maybe it is before storing. Have you tried again?

[2015-07-29 19:05] amueller commented on #5051
oh, yeah it is indeed before storing the file. I would just try calling it again. Does it keep happening?

[2015-07-29 20:19] agramfort commented on #5046
hum I don't know. Maybe a conflict with your local python and anaconda
during setup :(

[2015-07-29 20:41] amueller opened #5053 "[RFC] Changes to model_selection?"
Once #4294 is merged, we might want to think about changing some of the api / default behaviors of the contents of this module.

There are several breaking changes that I'd like to make, and this might or might not be a good opportunity:

* changing the default ``n_folds`` to 5, as it is already in some of the cv objects (3 seems really low).
* rename ``grid_scores_`` to be consistent with ``Rando

[2015-07-29 21:01] amueller commented on #5046
hm, maybe i need to set LD_LIBRARY_PATH or something?

[2015-07-29 21:15] kastnerkyle commented on #5046
I have mine set to something like

LS_LIBRARY_PATH=${LD_LIBRARY_PATH}:/u/kkastne/miniconda/lib/

though ordering may be important if it finds other libraries from other
python installs first.

On Wed, Jul 29, 2015 at 5:01 PM, Andreas Mueller <notifications@github.com>
wrote:

[2015-07-29 21:52] amueller commented on #5046
it was a combination of mixing up system numpy and the LD_LIBRARY_PATH... always good fun.... sorry for the noise.

[2015-07-29 21:52] #5046 closed

[2015-07-29 22:51] amueller commented on #5034
Not really. There is "MaxAbsScaler" in master. The problem with MinMaxScaler is that there is not really a good way to not break sparsity by default. The ``MaxAbsScaler`` probably solves your problem. (reopen if not)

[2015-07-29 22:51] #5034 closed

[2015-07-30 00:41] sonnyhu commented on #4752
Sorry, got really busy most recently. Should catch up mid of Aug.

[2015-07-30 05:42] enfeizhan commented on #4701
Thank you @amueller for redirecting to the numpy issue. I can reproduce the error in numpy/numpy#5533. Finger crossed this will be solved in numpy's new release.

[2015-07-30 06:40] bpajusco commented on #5051
It does indeed. Here is the full traceback, as requested.

---------------------------------------------------------------------------
error                                      Traceback (most recent call last)
<ipython-input-26-01835141bb68>  in<module>()
       1  from  sklearn.datasets.california_housingimport  fetch_california_housing
       2
----> 3  california_housing=  sklearn.datasets.ca

[2015-07-30 06:51] jmschrei commented on #5039
The full script is below. However, setting the random_state seems to fix the issue. I had been setting random seeds globally and thought that would fix the issue.

[code]

[2015-07-30 06:55] glouppe commented on #5039
Yeah, I suppose it is because of ties and the ordering of the features being different when you use a global seed (which makes the initial random states of the two runs being different). Closing.

[2015-07-30 06:55] #5039 closed

[2015-07-30 09:27] joewreschnig commented on #5029
Yes, I can't figure out what the specific purpose of the line is, and if I take it out all the tests still pass. If I understand your comment, individual transformers for X data are supposed to be able to handle this as needed, which means 306-307 are redundant and should just be removed.

If this is the case I can prepare a pull request that just removes those lines and adds a variation of the ab

[2015-07-30 09:40] lesteve commented on #5051
I think what @amueller meant was remove `~/scikit_learn_data` folder i.e. `$HOME/scikit_learn_data`.

The fact that you have:

[code]

in your traceback seems to indicate that you haven't removed the folder ...

[2015-07-30 09:42] lesteve commented on #5051
Forgot to add the link to the [code](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/datasets/california_housing.py#L104) in relation with the traceback.

[2015-07-30 09:50] bpajusco commented on #5051
Thanks Loic. Removing the data did the trick indeed!

On 30/07/15 10:41, Loïc Estève wrote:

[2015-07-30 11:26] lesteve commented on #5051
Great, feel free to close the issue then.

[2015-07-30 11:53] #5051 closed

[2015-07-30 14:52] amueller opened #5055 "SelectKBest default and parameter name"
The default parameter of features to select in SelectKBest is 10.
This is not a reasonable default. Maybe it should be 10%? Or 50%? But 10 leads to it crashing when there are less then 10 features. And it rarely seems reasonable.

Also, the name is ``k``. Usually we don't like single letter names. Maybe it should be ``n_selected``? I don't have a good idea really :-/

[2015-07-30 14:54] arjoly commented on #5055
for the name, we could use `max_features` and have the same semantics as in the bagging module.

[2015-07-30 14:57] GaelVaroquaux commented on #5055
SelectKBest should not be used in general. SelectPercentile would be
better (and the default makes sense there).

However, you point out something more profound, that is that the whole
set of univariate selection objects is waky. One of the reasons is that
it is easy to misuse them (for instance by using a regression score on
classification).

I would suggest adding 2 new classes, SelectFeatureCla

[2015-07-30 15:02] arjoly commented on #5055
This seems to be [`GenericUnivariateSelect `](http://scikit-learn.org/dev/modules/generated/sklearn.feature_selection.GenericUnivariateSelect.html#sklearn.feature_selection.GenericUnivariateSelect)

[2015-07-30 15:03] amueller commented on #5055
Hum, you are right, the entire interface is not great and there are way to many classes.
Maybe ``SelectFeaturesClassifier`` though? ``Classif`` sounds odd.
We already have the ``Generic`` selector, but that is also not that great.

So
```SelectFeaturesRegression(mode : {‘percentile’, ‘k_best’, ‘fpr’, ‘fdr’, ‘fwe’}, param)```
and
```SelectFeaturesClassification(mode : {‘percentile’, ‘k_best’, ‘fpr’

[2015-07-30 15:15] sreenivasraghavan71 commented on #5040
I tried to replicate the code and I am unable to reproduce the any errors. In the code, n_component default value is Set to None and still I am not getting any error message.

x = np.random.randn(30,18)
kpca = KernelPCA(n_components=None,kernel='rbf')
z = kpca.fit_transform(x)
pl.plot(np.random.rand(10))
pl.show()
![a](https://cloud.githubusercontent.com/assets/12978193/8986876/e17ced04-36fb-11e5-

[2015-07-30 15:30] GaelVaroquaux commented on #5055
Andy: agreed for parameter for the classification case. But at least we use
a sane default. Also, I would support only percentile (or fraction?) and
k_best. The others are never used in practice.

Arnaud: in a sense yes, but lighter, with better names and better defaults.
We could advertise it easier and more.

On Thu, Jul 30, 2015 at 5:03 PM, Andreas Mueller <notifications@github.com>
wrote:

[2015-07-30 15:37] amueller commented on #5055
I ran into this when trying to teach a tutorial and make people built a pipeline with feature selection. It failed by default. I don't like this.

[2015-07-30 15:39] GaelVaroquaux commented on #5055
Good for me.

[2015-07-30 15:40] amueller commented on #5040
You probably need the exact scipy (and possibly matplotlib) version. Which version of sklearn are you using @mgabel-stratoscale ?

[2015-07-30 15:56] amueller opened #5058 "Inconsistent output shapes for Regressors"
We have inconsistent output shapes for regressors when ``y.ndim == 2``.
We support but warn on ``y.shape == (n_samples, 1)`` (consistently after #5057).
But the output shape is sometimes ``(n_samples, 1)`` and sometimes ``(n_samples,)``.

I'm actually not sure if we are even consistent if ``y.shape == (n_samples,)`` :-/

[2015-07-30 16:09] amueller commented on #5029
Yes, please do a PR that removes the lines and adds an as simple as possible test.

[2015-07-30 16:32] amueller commented on #4883
So integer types are assumed to be continuous in DictVectorizer, right? Not ideal but I guess we'll do the same in FeatureHasher then?

[2015-07-30 16:36] amueller commented on #4898
I'm closing for now. The profiling doesn't show set_oob_scores to be a bottle neck as far as I can tell. Feel free to reopen with more info.

[2015-07-30 16:36] #4898 closed

[2015-07-30 16:38] amueller commented on #4474
@avszg4 hum, I thought that was fixed in 0.16.1. You shouldn't worry too much about it. Are you on 32 or 64 bit python? And what is your operating system? Thanks

[2015-07-30 17:10] amueller commented on #4916
I agree with @jmetzen.
Btw, what is the status of #4270? Just reviews missing? Or multi-class in the GPClassifier?

[2015-07-30 17:20] amueller opened #5060 "Use type_of_target in all classifiers to reject regression targets"
I think we should use ``type_of_target`` / ``unique_labels`` in all classifiers to reject regression targets. Also adding a common test, clearly.

wdyt? @arjoly  @jnothman  @GaelVaroquaux might be interested.

[2015-07-30 17:20] amueller commented on #4976
I agree. We should actually do this for clustering and classification metrics and also for all classifiers using ``type_or_target``.

[2015-07-30 17:20] amueller commented on #4976
See also #5060

[2015-07-30 17:21] amueller commented on #4976
Fixing this occurrence is pretty easy, but I think we should fix it "once and for all".
For the metrics there are also common tests, where we should check this.

[2015-07-30 18:51] amueller commented on #5060
The following classifiers run on regression targets (and do garbage and possibly run very long)
[code]

BaggingClassifier
DecisionTreeClassifier
ExtraTreeClassifier
ExtraTreesClassifier
GradientBoostingClassifier
KNeighborsClassifier
LabelPropagation
LabelSpreading
LinearSVC
LogisticRegression
LogisticRegressionCV
NearestCentroid
RadiusNeighborsClassifier
RandomForestClassifier
SVC

[2015-07-30 19:10] amueller commented on #4930
The problem is that ``init_grad`` is very large with random initialization, so the actual tolerance is very large.
A possible fix would be to do rescale ``init_grad`` somehow by the scale of ``X``. Or to do a better job at initializing?

[2015-07-30 19:57] amueller commented on #4930
We could change the scale of the initialization to ``np.sqrt(X.std()) / self.n_components_ ** (1. / 4)``, that would probably make it better.

[2015-07-30 20:07] amueller commented on #4930
Seems to work better:
[code]
![random_init_nmf](https://cloud.githubusercontent.com/assets/449558/8993774/091fec98-36d5-11e5-9594-f9761f58b167.png)

[2015-07-30 20:26] vwyart opened #5062 "Failed nosetests from stable release 0.16.1 under OSX 10.10"
Hello all,

I have installed scikit-learn 0.16.1 on OSX 10.10 (Yosemite) but cannot get the nosetests to pass without 6 errors (Python 2.7.10, numpy and scipy both installed):

Note that retrieving the source code for the latest development version using git, compiling it and installing it manually (`python setup.py install`) resulted in the exact same errors in the nose tests.

I am attaching the

[2015-07-30 20:34] amueller commented on #5033
I can reproduce on master.
Bagging allows COO input but actually crashes on it. The simple fix would be to remove ``coo`` from the ``check_X_y`` statement. Looks like a hole in the common tests, too :-/

ping @glouppe @arjoly

[2015-07-30 20:48] amueller commented on #5033
See #5063.

[2015-07-30 20:53] amueller commented on #5062
This is because of changes in scipy 0.16: #5045. See the issue for fixes.
You shouldn't be worried by this.

[2015-07-30 20:53] #5062 closed

[2015-07-30 20:55] amueller commented on #5023
I'd prefer to flip the sign back (which needs an additional line in GridSearchCV and friends).
As we can't seem to be able to get a consensus for that, I guess we have to go with some prefix like that.

[2015-07-30 21:01] amueller commented on #5024
The scipy stuff all works only on sparse matrices, right? A cython version for checking whether a dense matrix is connected is probably pretty short. Is it worth it?

@rudimeier is this really the bottleneck? How large is your matrix? I would imagine that even if we improve this particular part, there are other parts that will take more memory.

[2015-07-30 22:07] amueller commented on #4985
This looks fishy. Thanks for the report and sorry for the slow reply.

[2015-07-30 22:15] amueller commented on #4985
Ping @larsmans b37791bab9610026f1fe185bc0c9ae357872bd13 ?
The behavior seems intentional, which is confusing. Also: how did this ever work?

[2015-07-30 22:25] amueller commented on #4914
For RidgeClassifierCV I get
[code]

[2015-07-30 22:31] amueller commented on #5015
Could we just add 1 to the seed or wouldn't that solve the problem? Or would it be too expensive?

[2015-07-30 22:38] amueller commented on #4970
Fixed in #4992.

[2015-07-30 22:38] #4970 closed

[2015-07-30 22:55] amueller commented on #5022
hm... or we could directly go all the way and do a validation set? ;)

[2015-07-30 22:56] amueller commented on #5022
but yeah, first doing ``max_iter`` is probably a good idea.

[2015-07-31 05:33] jmetzen commented on #4916
Regarding #4270: Multi-class GPClassifier is still missing. I will try to work on it and also consider some of the unaddressed comments; after that, we can start review

[2015-07-31 08:57] larsmans commented on #4985
Hm. `out[:] = 0.` should be `out[out_rows] = 0` and the test isn't catching this.

[2015-07-31 09:00] #4985 closed

[2015-07-31 09:38] ndawe commented on #5058
Right, for ``y.shape == (n_samples, 1)``:

[code]

[2015-07-31 09:53] ndawe commented on #5058
Are you planning to fix this in #5057?

[2015-07-31 11:21] lesteve opened #5066 "sklearn.utils.tests.test_sparsefuncs.test_densify_rows Travis failure on master"
It looks like they started failing for Python 3 three days ago [here](https://travis-ci.org/scikit-learn/scikit-learn/builds/72944542).

And there is a new failure introduced more recently [here](https://travis-ci.org/scikit-learn/scikit-learn/builds/73520687).

I started looking into this because the error in #4974 didn't seem at all related to the PR changes.

[2015-07-31 11:30] lesteve commented on #5066
Just for completenessy I can reproduced the failures locally.

[2015-07-31 12:15] arthurmensch commented on #5066
So do I

[2015-07-31 12:20] TomDLT commented on #5066
For the first failures, see issue #5045, solved in PR #5047 and #5049 (not merged).
The new failure has not been addressed yet. I can reproduce it locally too.

[2015-07-31 12:28] lesteve commented on #5066
The new failure has not been addressed yet. I can reproduce it locally too.

Next time I promise I'll look more carefully at the issues ... I renamed the title to make it more obvious there is a newer failure on top on #5045.

[2015-07-31 14:31] kumaran-5555 commented on #5034
MaxAbsScaler is perfect ! Thanks.

[2015-07-31 14:32] amueller commented on #4985
Thanks for the fix. I'm wondering if we could have a regression test for kmeans, but these are usually tricky.

[2015-07-31 14:37] amueller commented on #5058
not really because this is a backward-incompatible change. I'm not sure what to do about this.

[2015-07-31 14:44] amueller commented on #5066
the new failure is cec3bf98f292bfe486c68ee6ffccab9dc4288c1a. I think it should just be a "assert_almost_equal".

[2015-07-31 14:45] amueller commented on #5066
reviews on the other fixes would really be good. not being able to count on travis is a pain :-/

[2015-07-31 15:00] amueller opened #5068 "Add more extensions and related packages to related_projects.rst"
I think we should extend this: http://scikit-learn.org/dev/related_projects.html

with (at least)
auto-sklearn
nolearn
https://github.com/rasbt/mlxtend
https://github.com/yandex/REP

there are bunch more repos with helper functions that I think might be useful, but I don't remember them all :-/

[2015-07-31 15:02] amueller commented on #5068
Maybe even sacred https://github.com/IDSIA/Sacred

[2015-07-31 15:03] kastnerkyle commented on #5068
shameless plug for sklearn-theano
http://sklearn-theano.github.io/

On Fri, Jul 31, 2015 at 11:02 AM, Andreas Mueller <notifications@github.com>
wrote:

[2015-07-31 15:04] amueller commented on #5068
It's already on there :P

[2015-07-31 15:06] kastnerkyle commented on #5068
Reading comprehension / ctrl-F fail... :D

On Fri, Jul 31, 2015 at 11:04 AM, Andreas Mueller <notifications@github.com>
wrote:

[2015-07-31 15:07] kastnerkyle commented on #5068
I agree on these other additions for sure

On Fri, Jul 31, 2015 at 11:06 AM, Kyle Kastner <kastnerkyle@gmail.com>
wrote:

[2015-07-31 15:07] amueller commented on #5068
hum or maybe typo in the link? should be sklearn-theano? or not?

[2015-07-31 15:08] kastnerkyle commented on #5068
well the import is sklearn_theano so it is fine by me to have it that way

On Fri, Jul 31, 2015 at 11:07 AM, Andreas Mueller <notifications@github.com>
wrote:

[2015-07-31 16:36] amueller commented on #4996
True... and that is inconsistent between ``roc_curve`` (which includes all thresholds) and ``precision_recall_curve``. Maybe we should just add the smallest values as threshold for ``precision_recall_curve``, too?

That would be backward-incompatible but would actually do what the docs say.

[2015-07-31 16:39] amueller commented on #3213
Please have a look at #4789.

[2015-07-31 16:46] RolT commented on #3213
I stopped working on that feature. I did an python implementation following the scikit-learn API, but I did not intergrate it.

[2015-07-31 16:46] #3213 closed

[2015-07-31 19:32] larsmans commented on #4985
I should have written this test when I first committed the code. This was a really stupid mistake.

[2015-07-31 23:07] amueller commented on #5045
Fixed! Thanks for the reviews, folks!

[2015-07-31 23:07] #5045 closed

[2015-07-31 23:08] GaelVaroquaux commented on #5045
Yay!

[2015-07-31 23:43] adamzjw opened #5073 "Bugs in metrics.ranking.precision_recall_curve"
Current code for precision_recall_curve assumes the curve always passes through (recall=0, precision=1). However this is not the case.

For instance,
pred_proba = [0.8, 0.8, 0.8, 0.2, 0.2]
true_value = [0, 0, 1, 1, 0]
metrics.precision_recall_curve(true_value, pred_proba) will return
precision = [ 0.4         0.33333333  1.        ]
recall = [ 1.   0.5  0. ]
![index](https://cloud.githubuserconten

[2015-08-01 01:19] preems commented on #5068
I think gensim deserves to be on the list
https://radimrehurek.com/gensim/

[2015-08-01 01:39] preems commented on #4667
Is this issue still open ? I can work on this if its still not closed.

[2015-08-01 07:43] agramfort commented on #5073
how would you fix this? what test would you use to check that we do it the
right way?

[2015-08-01 18:01] amueller commented on #4667
It's done in #4790 which is not reviewed yet.

[2015-08-01 18:01] amueller commented on #5068
True.

[2015-08-01 18:34] adamzjw commented on #5073
I found this problem because I found a baseline model had a AUC score high then my expectation.
The baseline model returned a result similar to my example above. The tie in the first threshold is the root cause.

My suggestion is use the point (0, precision of the first threshold) as the most left end. (0,1) will over-estimate the AUC, while (0, 0) will under-estimate it.

The current metrics.prec

[2015-08-01 19:08] Barbarrosa commented on #4830
@lesteve Thanks! This solved an issue I was having.

[2015-08-01 20:51] PGryllos commented on #5068
Hello guys, I am new to scikit-learn and I am looking for ways to contribute. I think I can do this, If that's ok with you.

[2015-08-02 14:22] rvraghav93 commented on #5053
*This comment is WIP*

**MAJOR**
*
**MINOR**
* `test_check_is_permutation` should be stronger - Refer https://github.com/scikit-learn/scikit-learn/pull/4294#discussion_r34417327

[2015-08-02 17:11] mgabel-stratoscale commented on #5040
Hi! Sorry for intermittent contact, as I'm traveling this month.

One at a time:
@amueller:
* I am using sklearn 0.16.1 and matplotlib 1.4.3 as bundled in WinPython-64bit-2.7.10.1
* ``range(10)`` is just standard Python 2:     ``[0,1,2,3,4,5,6,8,9]``
* I will try to reproduce it on a different machine and let you know.

@kastnerkyle :
I am hardly an expert, but as I understand it the SVD formulati

[2015-08-02 17:41] mgabel-stratoscale commented on #5040
I have tried to reproduce the issue on two other machines using the same software, and I am unable to.
This is odd, because the problem is 100% consistent on the original machine. Sadly, I am traveling and won't have access to the original machine until September.

At this point, I am not so sure whether it is a bug in scipy at all. The issue could conceivably be with the original machine itself..

[2015-08-03 01:04] hlin117 opened #5078 "docstring for SGDClassifier and SGDRegressor are misaligned"
Some docstring for SGDClassifier:

<img width="637" alt="screenshot 2015-08-02 16 42 17" src="https://cloud.githubusercontent.com/assets/1865885/9029045/c1d8d570-3940-11e5-88cb-7a4355943126.png">

<img width="637" alt="screenshot 2015-08-02 16 42 28" src="https://cloud.githubusercontent.com/assets/1865885/9029046/c4b98b54-3940-11e5-8f47-3a3db351605b.png">

Some docstring for SGDRegressor:

<img wi

[2015-08-03 01:09] jnothman commented on #5053
Defaulting `n_folds` to 5 is hard because it affects all `*CV` classes, not just things in `model_selection`.

This was postponed until we have a solution for multiple metrics and/or training scores, which may mandate changing the format, too: namedtuples are user-friendly but inflexible to versioning.

Having a clearer delineation of "labels" and "groups" would certainly be nice...

[2015-08-03 01:37] jnothman commented on #5030
https://github.com/jnothman/scikit-learn/commits/remember allows you to wrap nearly any estimator in `remember_model` for its `fit` state to be memoized (to disk). Unfortunately, it requires a small change to `sklearn.base`, which I should probably just make a PR for.

With `remember_model` you can wrap your predictor, run it through a grid search, then set the base estimator's params to the best

[2015-08-03 01:39] jnothman commented on #5023
Prefix could just be `-` of course...

[2015-08-03 01:47] jnothman commented on #5004
I think this would be very handy for newcomers to an algoritgm. Also, I think the process of enumerating these will be revealing in itself, and remind us (and our users) that some parameters are dependent on sample size or number of features... In general we should remind users that "good grids" are applicable to e.g. centred, scaled features.

[2015-08-03 01:57] jnothman commented on #4949
I think I have written elsewhere about an alternative to `__` that would allow users to construct:
[code]
`undersorify` could be used by `GridSearchCV` to allow `param_grid={(dtc, 'max_depth'): [1, 2, 3]}`.

A key advantage here is the ability to add intermediate layers without changing how the grid is specified:
[code]

Either way, the user would have to read the documentation; and AdaBoost's `se

[2015-08-03 03:02] jnothman opened #5080 "Polymorphic clone"
`sklearn.base.clone` is defined to reconstruct an object of the argument's type with its constructor parameters (from `get_params(deep=False)`) recursively cloned.

There are cases where I think the One Obvious Way to provide an API entails allowing polymorphic overriding of clone behaviour. In particular, my [longstanding implementation](https://github.com/jnothman/scikit-learn/tree/remember) of

[2015-08-03 03:16] kastnerkyle commented on #5004
Agreed, nice defaults could be a big benefit

On Sun, Aug 2, 2015 at 9:47 PM, jnothman <notifications@github.com> wrote:

[2015-08-03 05:25] GaelVaroquaux commented on #5080
The value of a codebase, and an object model, is to be able to understand
what's going on. That's what enables users to have expectations about it,
and developers to tract it.

clone has a simple contract: flush everything and make the object new
again. What you're talking about would open the door to violations of
this contract. I haven't really understood why it was necessary for clone
to violat

[2015-08-03 05:32] GaelVaroquaux commented on #5004
:+1:

[2015-08-03 05:55] jnothman commented on #5080
The question is how to make it easy to freeze / memoize *any* estimator (and potentially other wrapper-type behaviours), because it is usually properties of the data/application, rather than properties of the estimator alone that make this appropriate. I'm not sure how your comments address that, although a memoization mixin/decorator may be possible, if ugly. Are you suggesting *every* estimator

[2015-08-03 06:00] GaelVaroquaux commented on #5080
It seems for me that it's usecase for copy.deepcopy, and not clone.

I disagree it's ugly. It's explicit, simple, and can be made robust.

The nice think of doing it this way, is that it is possible to choose
what's being cached and what is not. As a result, it is possible to cache
only the parts that are expensive to compute.

The goal of clone is to make sure that there is no leakage of data acr

[2015-08-03 06:36] jnothman commented on #5080
I don't understand the relevance of this to the case where a wrapped estimator needs to be used in CV tools that will attempt to clone it.

Fair but it doesn't give the user the choice to memoize all models by the same means until we implement it for all models, which frankly is a big task that clutters up the documentation and API.

If a user explicitly wants to freeze a model (e.g. an unsupervis

[2015-08-03 07:31] jnothman commented on #5053
In new style CV splitters, the constructor no longer differs between stratified and unstratified splitters. Should `stratified` become a constructor parameter so that we are not proliferating pairs of classes with parallel APIs?

[2015-08-03 12:27] arjoly commented on #5080
For the memoization, I have done something similar. However I don't need to have my own version of clone https://gist.github.com/arjoly/8386742c66cbd6cf6c89

[2015-08-03 13:16] GaelVaroquaux commented on #5080
So you do want to change that :).

Agreed, but I don't think that modifying clone is the right way to do
this. I'd much rather having a 'caching' meta-estimator that uses a
memory object to cache the fit of the estimator.

How about parallel computing? And also, users make mistakes all the time.
Developers also. I do too. Clone is a safety net. Over the time we have
actually made it more strict on

[2015-08-03 13:18] jnothman commented on #5080
One reason I selected freezing above is that it's much easier to explain the need for a changed `clone`.

For the memoization case, you're right, it's possible to do if we're willing to suffer indirection:
* additional `base_estimator__` prefix
* additional `.base_estimator` before accessing attributes
* need to create delegator methods for things like `kneighbors()`, statically or dynamically

Tr

[2015-08-03 13:24] jnothman commented on #5080
It provides a loophole, yes, but one that needs only be used rarely.

[2015-08-03 13:50] lesteve commented on #5066
This has been fixed in https://github.com/scikit-learn/scikit-learn/commit/9127fac2f5984e94cb10780be35b87c056990bb7.

[2015-08-03 13:50] #5066 closed

[2015-08-03 15:42] amueller commented on #5040
In the deterministic code according to the backtrace there is a ``NaN`` in ``range(10)`` (after scaling).
That's what I found curious.

I'm not sure why we use scipy and not numpy here, probably an optimization?

I'll close this for now as not reproducible. Feel free to reopen when you are back at your machine. You could debug the value error and see where it comes from.

[2015-08-03 15:43] #5040 closed

[2015-08-03 15:58] amueller commented on #5053
True, changing ``n_folds`` is problematic :-/
For the stratified option: That might be interesting. I think we should also think about how this relates to stratifying in the regression case, see the discussion at #4757.

[2015-08-03 16:06] amueller commented on #4949
unfortunately ``underscorify`` only works when parameter are unambiguous, right?
Most people I talked to would prefer an interface where parameters are attached to the estimators (before building the pipeline).

I think this should be possible.
It will be a bit harder with meta-estimators but possible.

[code]

With the correct changes to AdaBoostClassifier:
[code]

[2015-08-03 16:42] amueller commented on #5080
It seems to me that something like ``BaseLazy`` should be able to achieve what you want... Let us know how it goes :)

[2015-08-04 00:36] jnothman commented on #5080
@amueller, it does not -- and cannot readily -- achieve model freezing. Just think about what happens when `base_estimator` contains a model you want to keep. As long as `base_estimator` is a parameter, it will undergo cloning, removing its frozen model. As long as it's not a parameter, cloning the metaestimator will not restore the base estimator.

And it does not achieve memoization transparentl

[2015-08-04 00:42] jnothman commented on #4949
It's no less ambiguous than you approach, but I agree that attaching parameters directly to estimators is nicer from an API perspective, if less modular. I think we should do it, or at least see how it looks in practice.

[2015-08-04 00:43] jnothman commented on #4949
I'll open an issue for that and close this one as Won't Fix (as such)

[2015-08-04 00:43] #4949 closed

[2015-08-04 00:54] jnothman opened #5082 "Setting search parameters on estimators"
The underscore notation for specifying grid search parameters is unwieldy, because adding a layer of indirection in the model (e.g. a `Pipeline` wrapping an estimator you want to search parameters on) means prefixing all corresponding parameters.

We should be able to specify parameter searches using the estimator instances. The interface proposed by @amueller at https://github.com/scikit-learn/sc

[2015-08-04 02:31] amueller commented on #5082
Thank you for opening this issue and a great summary.

Sorry I misunderstood your approach of using the estimator instance to search in the parameter tree.
It is indeed at least as general as the one I mentioned.

Attaching the parameters to the estimator gets partially rid of the "parallel dictionaries" that you lamented elsewhere.

I took the liberty to enumerate you questions.
1. I would say ye

[2015-08-04 02:41] amueller commented on #5080
Hm.... I see...
You could pass a serialized version as a parameter ;)

@arjoly get's around this by not freezing but building an estimator that remembers... but that's not cloneable either, right?

[2015-08-04 05:33] GaelVaroquaux commented on #5080
I would much prefer a version around this design than a modification of
clone (I am aware that clone will flush the serialized model by default,
so it would need an extra level of indirection to protect it).

[2015-08-04 07:51] arjoly commented on #5080
The idea of my lazy estimator is to delay fitting time at prediction time to save memory in the context of ensemble method. In order to avoid the time consuming, you can memoize method calls. I could also memoize the estimator fitting, but this wasn't interesting in my use case.

[2015-08-04 09:48] larsmans commented on #3560
Is this issue resolved?

[2015-08-04 10:01] vermouthmjl commented on #5060
I can try this.

[2015-08-04 12:01] agramfort commented on #5073
can you report how it is done in other standard packages? eg. in R for
example.

It would be great to agree on this.

[2015-08-04 13:21] Nikeshbajaj commented on #2723
What I can understand is, roc_auc_score works for binary, 0, 1, does not understand 'yes' and 'no' as negative and positive class, which will make confusion for computation of true/false positive/negative, which to be treated what??

-----------try this instead ------This works-------
import numpy as np
np.random.seed(13)
#classes = np.array(['yes', 'no'])
#y = classes[np.random.randint(2, size=10

[2015-08-04 15:45] amueller commented on #3560
yes, closed by #4798 / #5059.

[2015-08-04 15:45] #3560 closed

[2015-08-04 15:46] amueller commented on #5060
sure, go for it :)

[2015-08-04 16:45] vermouthmjl commented on #5060
https://github.com/scikit-learn/scikit-learn/pull/5084

[2015-08-04 20:43] VivekSrinivasan commented on #4916
Thanks @jmetzen and everyone for the responses! Adding a large nugget seemed to do the trick.

[2015-08-04 20:43] #4916 closed

[2015-08-04 22:52] Sandy4321 opened #5086 "CountVectorizer for analyzer='char', for "Bernoulli - Naive Bayes" not detect trigrams from training set"
count_vectorizer = CountVectorizer(binary=False, analyzer='char', ngram_range=(3,4), stop_words=None) #binary='true')

for file

1	someone	en	Bulldog
1	someone	en	Bulldog
1	someone	en	Bulldog
1	someone	es	QQQQ
1	someone	es	QQQQ
1	someone	es	QQQQ
1	someone	es	QQQQ

so I train

    print("Bernoulli - Naive Bayes")
    classifier = BernoulliNB().fit(x_train,y_train)
    y_predicted = classifier.predi

[2015-08-05 01:21] qqwjq opened #5087 "Creating a sequential validation dataset for adaptive SGD"
I'm implementing an adaptive SGD algorithm as in this paper, which suggests splitting data into training and validation, and alternate between SGD step for parameters and penalty parameter.

Steffen Rendle (2012): Learning Recommender Systems with Adaptive Regularization, in Proceedings of the 5th ACM International Conference on Web Search and Data Mining (WSDM 2012), Seattle.

I noticed that an i

[2015-08-05 06:09] mblondel opened #5088 "Problem with fetch_20newsgroups_vectorized"
I was using the 20 newsgroups dataset on a custom estimator and the accuracy was really crappy. It took me a while to realize that the problem was not in my estimator but in `fetch_20newsgroups_vectorized`. I already had the data serialized on disk and it used to work fine, as far as I remember. I deleted the data to force a rebuild and now it works fine.

Were there changes in the loader or in jo

[2015-08-05 06:33] mblondel commented on #5087
I think this might be related to the fact that CSRDataset doesn't keep a reference to the data.
From Python's point of view, X appears like it's not used anymore and so gets garbage collected.

The problem is fixed in this PR:
https://github.com/scikit-learn/scikit-learn/pull/4738/files#diff-0cd8bf0fd114c7c361fe6ab76cee08e3R183

but the PR is not merged yet.

A quick fix would be to add a referenc

[2015-08-05 06:56] larsmans commented on #5086
It's not clear to me what your training set looks like. Please show a [complete script](http://www.sscce.org/) that we can use to reproduce the error.

[2015-08-05 08:31] mblondel commented on #5058
The consistent change with #5057 would be to flatten predict's output if `y.ndim == 2` at fit time and the regressor doesn't support multiple outputs. However, one question is what happens if we add multiple output support to a regressor that used to not support it. The regressor's behavior will change. This makes me think that, at fit time, if a regressor doesn't support multiple output, we shoul

[2015-08-05 12:08] agramfort commented on #5058
what's natural to me is to impose with Exception y.ndim == 1 if
multioutput is not supported and to never flatten silently.

[2015-08-05 15:00] mblondel commented on #5088
I managed to reproduce the issue on another machine which has the old cached data as well.
git bisect says that the problem was introduced in e4b9ff6c9868c3211c1da716d76248115c11feec. If I go back to the parent commit, which is 75a0d2c43134c0dd347e5e04af91ff2c906586c3, for some reason, the cache fails to load and a re-download is triggered:

[code]

The script I used for git bisect:
[code]
Prints

[2015-08-05 15:12] mblondel commented on #5053
+1

[2015-08-05 15:29] mblondel commented on #5088
It seems to be a combination of e4b9ff6c9868c3211c1da716d76248115c11feec and earlier changes that causes the problem. It's hard to find which changes, because for earlier commits, a re-download is triggered and the old cached data is overwritten... It's a strange bug. I get an X and a y of the correct shapes but the data inside seems wrong.

[2015-08-05 15:40] amueller commented on #5058
That would be different from the classifier behavior, though. The flattening is not silent, but with warning.

[2015-08-05 15:41] amueller commented on #5058
@agramfort also you said +1 on #5057 ;)

[2015-08-05 15:50] amueller commented on #5088
Hum... interesting. This was to fix #4435. Before "all" was just the test set (sometimes?)

[2015-08-05 15:55] amueller commented on #5088
I guess in the pickled version ``data['train']`` and ``data.train`` are inconsistent and unpickling them breaks because they need to be the same. We could possibly overwrite ``__setstate__`` on the Bunch and check if err ``self`` and ``self.__dict__`` (?!) are consistent?

[2015-08-05 15:59] agramfort commented on #5058
arfff OK... fair enough

[2015-08-05 16:44] mfeurer commented on #5004
Another source of hyperparameters and their values might be [mlr](https://github.com/mlr-org/mlr)

[2015-08-05 16:54] jayflo commented on #4976
If this is not included in the fixes for #5084, I will take a look after the pull requests are merged.

[2015-08-05 17:29] jayflo commented on #4996
I can try this one.

Can you expand on "Maybe we should just add the smallest values as threshold for `precision_recall_curve`, too?"?

[2015-08-05 18:18] amueller opened #5089 "Fix deprecation warnings in tests"
There are way too many warnings in the test suite, see https://travis-ci.org/scikit-learn/scikit-learn/jobs/74122431
* [ ] Function decision_function is deprecated [decision_function was removed from regressors]
* [ ] DataDimensionalityWarning in random_projection. Not sure if the test should just ignore those or we should have different defaults? ping @ogrisel
* [ ] "Default 'multioutput' behavio

[2015-08-05 18:20] amueller commented on #3404
closing as this was removed and there no longer are warnings in master.

[2015-08-05 18:20] #3404 closed

[2015-08-05 18:21] amueller commented on #5089
the ``decision_function`` and ``decision_function_shape`` ones should be pretty straight-forward.

Also hunting for more is always possible ;)

[2015-08-05 18:22] amueller commented on #5089
to be clear: there should definitely be know "DeprecationWarnings" in the tests, and ideally there would be no warnings.

[2015-08-05 18:25] amueller commented on #4996
well the smallest score value seems to be dropped from threshold. We could not drop it.

[2015-08-05 18:31] jayflo commented on #4996
my fault, i misread the `0.1` as `1.0` and did not understand the "smallest" part in your statement.  taking a look now.

[2015-08-05 19:52] trianta2 opened #5090 "As a user I want a function similar cross_val_predict which instead returns probabilities"
### Intro
cross_val_predict is useful because it returns the predicted targets (opposed to cross_val_score) and hides the parallelization logic behind a simple interface. There should be a similar function for predicting the probability distribution (predict_proba) over classes.

### Discussion
1. Would this be a welcomed new feature?
2. Should this feature be a flag for cross_val_predict (e.g. pr

[2015-08-05 20:55] jayflo commented on #4930
Should this be closed in light of #4852 and your comments in #5061?

[2015-08-06 02:35] jnothman commented on #5053
A minor change that could be included directly in #4294: drop `grid_search.fit_grid_point`.

[2015-08-06 02:37] jnothman commented on #5053
Half kidding: Is now also the time to rename `get_params` and `set_params` to `get_config` (as in keras) and `set_config` so as to avoid the confusion of parameters vs hyperparameters etc??

[2015-08-06 03:41] jnothman commented on #5089
To be clearer: we may retain tests that use deprecated behaviour to ensure that deprecated contracts are still maintained for backwards compatibility, but any warnings should be silenced. Otherwise, we shouldn't be using deprecated constructs from our own or imported libraries in any testing or tested code.

Sorry, I don't know anything about `variance_weighted`.

[2015-08-06 04:05] mblondel commented on #5088
But I do get an X and a y. It's just that the data is wrong. One possible reason would be that `X` and `y` don't use the same shuffling and so the labels don't match the right instances. This could be the case because `y` is loaded from the raw data every time, while `X` is pickled to disk. So maybe my old pickled `X` is not shuffled the same way as `y`.

[2015-08-06 07:48] arjoly commented on #5089
We have deprecated the old default behavior in favour of the new one which is more intuitive. Setting manually the new or olds strategy will allow to remove those warnings.

[2015-08-06 07:50] arjoly commented on #5089
Those were added since people are supposed to do dimensionality reduction with random projection. There is also nothing to have more projection than in the original output space.

[2015-08-06 14:52] amueller commented on #5089
@jnothman I agree, but I think that most tests that hit deprecated behavior are actually not the ones for the class / function that was deprecated, but in other parts of the code. And they shouldn't be using deprecated behavior. Having tests that the backward-compatibility still works is obviously a good idea.

[2015-08-06 14:54] amueller commented on #5089
@arjoly the problem is that there is no way to manually set the strategy when using the ``score`` method of an estimator, right?

And for the random_projections: It is just a bit odd that the tests seem to be throwing so many warnings. That means either the defaults are not sensible or the tests are odd. If the warnings are expected, they should be caught. If they are not expected, something needs

[2015-08-06 14:56] amueller commented on #5089
Also, I feel it is the responsibility of the person deprecating / changing a behavior to make sure that the tests still do something sensibly and that warnings are caught when they are expected (I'm guilty of not doing this properly for both regressor decision_functions and the svm decision_function it seems).

[2015-08-06 16:56] amueller commented on #4942
possibly related, found by valgrind (in one-class but not SVC)
[code]

[2015-08-06 16:58] amueller commented on #4942
does the problem in OneClassSVM have a ``y``? (maybe @fabianp knows something?)

[2015-08-06 17:04] amueller commented on #4942
It looks like for the one-class SVM ``y`` is just ``[]`` [see here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/classes.py#L1014)

[2015-08-06 17:08] amueller commented on #4942
I should use valgrind more often. This took not even half an hour.

[2015-08-06 17:09] arjoly commented on #5089
It's possible to set the proper keyword in the mixin.

The default is inferred using the JL-lemma which is stated for many dimension and not for a few.

[2015-08-06 17:17] amueller commented on #5089
That would be a backward incompatible change, though.

Is that a sensible default? I would imagine this to be a conservative estimate. Or should we just catch them all in the tests because the tests are not really in the normal range this would be applied to?

[2015-08-06 17:20] amueller commented on #5090
I think it would be nice.
I think having ``probability=True`` would not be good because then you can't get the ``decision_function``. We could do add a ``predict_function`` argument that could be either ``predict``, ``decision_function``, ``predict_proba`` or anything else (implemented via ``getattr``).
That is a simple interface that is still pretty general. Wdyt?

[2015-08-06 17:20] amueller commented on #4942
See #5093.

[2015-08-06 17:38] amueller commented on #5053
is there a confusion about that? I wasn't aware.

[2015-08-06 17:40] amueller commented on #4930
It should be closed when #4852 is merged.

[2015-08-06 18:14] jayflo commented on #3020
I think I can handle this one, but has a final decision been made on this?

[2015-08-06 18:37] trianta2 commented on #5090
I think parameterizing the function itself is a good move. However a potential limitation is if the user wants a combination of `predict`, `decision_function`, and/or `predict_proba` as outputs.

Consider someone who wants to use metrics from predictions (e.g. f1) as well as the decision function (e.g. ROC). If the `predict_function` parameter can only be one method per call, then the user would n

[2015-08-06 19:59] amueller commented on #3020
I think renaming normalize to standardize is the way to go (using a deprecation) and then making it normalize no matter what the value of ``fit_intercept`` is.
If we do this renaming, we need to make sure that afterwards we have consistent behavior in all linear models.

[2015-08-06 20:00] amueller commented on #5090
I think this is a legitimate use-case and I was also wondering about this. so checking whether ``isinstance(list)`` and ``isinstance(string)``?
That sounds reasonable to me.

[2015-08-06 20:35] jayflo commented on #3020
Got it.  Also, when making a fix that requires a deprecation, do you:

- submit a pull request having just the deprecation warning (stating the change to be enacted in two releases)
- get that pr merged (and afterward...)
- make the actual changes on the same branch which will be merged in the appropriate release

Thanks again.

[2015-08-06 21:53] adamzjw commented on #5073
R has several packages to plot PR curve.

According to the doc of PRROC (https://cran.r-project.org/web/packages/PRROC/vignettes/PRROC.pdf), the PR curve are starting from neither (0,0) or (0,1).

The source code is like a mess, I'm not really understanding what they are doing there.

[2015-08-06 21:56] amueller commented on #3020
no, deprecation and fix should be in the same PR.

[2015-08-07 03:15] jnothman commented on #5053
Well, the confusion is only when discussing the models, rather than being an inherent API problem. It's irrelevant; it's a silly thing to change, certainly as long as we call function/constructor arguments "parameters".

[2015-08-07 14:30] olologin opened #5095 "OneClassSvm sparse matrix return different result than dense"
I tried to solve this problem: http://stackoverflow.com/q/31856501/1030820
And seems it's a bug, i'm not sure but maybe somewhere in svm_csr_train. Can somebody confirm this?

[2015-08-07 14:55] amueller commented on #5095
Looks like a bug. Could you please check that it still appears in this branch: #5093 ?

[2015-08-07 15:16] TomDLT commented on #5095
I can reproduce the bug on master, and **it is solved** in #5093.

[2015-08-07 16:11] olologin commented on #5095
Yep, in #5093 all works as expected. Thanks.

[2015-08-07 16:11] #5095 closed

[2015-08-07 16:18] sds-dubois commented on #474
Hi all,

So I've worked a bit on this, please check it on [my copy of sklearn](https://github.com/sds-dubois/scikit-learn) on the gp_hyperopt branch.
I've made two examples based on the [Iris dataset](http://scikit-learn.org/stable/auto_examples/datasets/plot_iris_dataset.html) and the [20 newsgroups dataset](http://scikit-learn.org/stable/tutorial/text_analytics/working_with_text_data.html#loadin

[2015-08-07 18:55] amueller opened #5097 "Bug in cross-val-score?"
[code]

        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.])

Maybe the single sample in the LOO is not interpreted correctly? :-/

[2015-08-07 19:17] jmetzen commented on #474
The curves looks promising for initial results. It would be interesting to illustrate also the performance on a holdout test set. For the x-axis, as an alternative to the number of iterations, the computation time would be a more realistic metric.

Could you create a PR such that we can directly comment code and see if unittests are ok? It would also be nice if you could check pep8 conformity; thi

[2015-08-07 20:54] amueller commented on #5095
It is an interesting coincidence that a bug that was probably there for a long time is reported for the first time the day after it is fixed ^^

[2015-08-07 21:48] jhallock7 commented on #1513
Hi everyone,

I recently translated Mike Tipping’s freely-available SparseBayes MATLAB program, which mainly implements the RVM, from MATLAB into Python. It can be found here: https://github.com/jhallock7/SparseBayes-Python . I contacted Mike Tipping, and he said that Microsoft’s patent is only for the original slow algorithm, whereas the SparseBayes program uses the faster one found here: http://

[2015-08-08 07:22] TomDLT commented on #5095
:)

[2015-08-08 13:57] jnothman commented on #5097
`r2_score` is returning 0 for any two arrays of shape `(1,)`. According to http://scikit-learn.org/dev/modules/model_evaluation.html#r2-score, this case should rather involve a zero-denominator, but in any case determining the mean `y` from a single sample is blatantly problematic.

I have wondered for a while if there are cases where the cross validation score should be micro-averaged, i.e. calcu

[2015-08-08 14:05] agramfort commented on #5097
there used to be a  way to do that with a horrible parameter name called
iid... @mblondel argued to remove it AFAIK.

[2015-08-08 14:07] agramfort commented on #5073
honestly I don't know what's the best way to go. I acknowledge we certainly
do something wrong here.

[2015-08-08 15:32] amueller commented on #5097
I did not realize that is what ``iid`` is for. I rarely do regression so I didn't know about this behavior of the r2_score. It is quite counter-intuitive :-/

[2015-08-08 15:38] #4942 closed

[2015-08-08 15:41] amueller commented on #5095
@olologin would you be interested in adding a non-regression test for the dense/sparse case? I failed to do so in my fix.

[2015-08-08 15:45] amueller commented on #1513
Thanks for wanting to contribute and also thanks for checking the patent status.
There is another question though, which is if this algorithms is widely useful.

I haven't looked at the algorithm and its use since I last read Bishop's book, which is a while ago.
I think an interesting example would be to show that it either gives better uncertainty then calibrating
an SVM, or that it is faster (ca

[2015-08-08 15:48] amueller commented on #474
It would also be nice to compare against grid-search. (and yes, please do a PR)

[2015-08-08 17:45] olologin commented on #5095
@amueller, ok.

[2015-08-08 20:28] amueller commented on #5082
Not entirely related, but something that would be really cool is to create a dask-graph out of the pipeline and parameters. If we had an interface that would support this....

[2015-08-09 01:21] jnothman commented on #5097
It's not what iid does in my memory, but it might have done so in
prehistory. iid selects between unweighted or sample-size-weighted average
over scores per fold.

I haven't worked with r2 scores before; I might have thought that the
y-mean could be better estimated from the training set.

On 9 August 2015 at 01:32, Andreas Mueller <notifications@github.com> wrote:

[2015-08-09 01:25] jnothman commented on #5097
And iid was introduced by Gaël in a9e73ad, it seems with current semantics.

[2015-08-09 04:02] aewhatley opened #5100 "Loading user made datasets"
Based on a reading the documentation, it seems that the only way to perform the machine learning operations on a dataset is if the dataset is already affiliated with scikit in some way, such as if it were made with randomization through a sklearn function, or if it were loaded from some database. Is there a way for a user to create a dataset by themselves that they can load into the function, and

[2015-08-09 05:39] jnothman commented on #5100
A dataset is usually given by `X`, a 2d numpy array (or scipy sparse matrix, or just nested lists with same structure) with first dimension being samples and second being features, and for supervised learning `y`, usually a 1d array of class labels or regression targets. (These can also be imported using libraries like `scipy.io` and `pandas.io`)

Seeing as almost all code snippets in the user gui

[2015-08-09 05:39] #5100 closed

[2015-08-09 06:10] mblondel commented on #5097
`iid` is still in `GridSearchCV`. I didn't even know there used to be `iid` in cross_val_score.

[2015-08-09 15:32] dukebody commented on #3956
This is bitting me too. I constantly have to one-hot-encode string features. Since these features usually come from a Pandas dataframe, I don't see why should we force users to transform the columns to a dictionary to be able to use the `DictVectorizer`.

I guess one should never mix label transformers (which usually expect a single 1-dimensional argument) and data transformers, but I think people

[2015-08-09 17:24] larsmans opened #5101 "LatentDirichletAllocation has superfluous attributes"
It has `dirichlet_component_` (undocumented) and `exp_dirichlet_component_` (exponential of same). I propose to get rid of at least the latter.

[2015-08-09 18:27] amueller commented on #5097
I think r2_score should at least raise a warning with a single sample, if not a ValueError.

And we should probably have a look at what R does here, so we could work around it.
Getting the y-mean from the test data seems slightly odd indeed.

[2015-08-09 22:23] anntzer opened #5103 "Publicly document implementation of the Munkres (Hungarian) algorithm?"
sklearn provides an implementation of the Munkres (Hungarian) algorithm in `sklearn.utils.linear_assignment_` which turns out to be very efficient: on moderate size problems (n=20), it is ~5 times faster than the original (B. Clapper) implementation and ~15 times faster than the networkx implementation (which I guess would be the first place most people would look for an implementation).

I unders

[2015-08-10 01:09] jnothman commented on #5097
It's not going to be much better with 2 samples!

On 10 August 2015 at 04:28, Andreas Mueller <notifications@github.com>
wrote:

[2015-08-10 01:09] jnothman commented on #5097
And getting the y-mean from anything other than the test data makes an
interesting use-case for our scorer API!

On 10 August 2015 at 11:09, Joel Nothman <joel.nothman@gmail.com> wrote:

[2015-08-10 01:27] sreenivasraghavan71 commented on #3536
Instead of GIL, Can I use multiprocessing library as it is easier to understand, code and maintain?

[2015-08-10 08:18] larsmans commented on #5103
I think we could transfer the function to SciPy.

[2015-08-10 12:32] giorgiop commented on #5028
I have open #5104

[2015-08-10 13:55] amueller commented on #5097
I agree with both your statements.  Relabeling as API bug. We should ask a statistician ^^

[2015-08-10 14:01] amueller commented on #3956
I agree. The solution is to improve ``OneHotEncoder`` I think. See #4920. There was also a related issue that I can't find any more (we should be able to encode multiple string-valued columns. Maybe @jnothman remembers?

[2015-08-10 20:43] amueller opened #5105 "Add a (classical?) binary classification task"
There is not really any real-world binary classification dataset in scikit-learn.
I find this a bit frustrating because it means that every time I want to explain AUC I have to make one of the datasets binary, which seems very unnatural.

Does anyone have a good idea for a binary dataset? Should we include one from UCI?

I know we already have too many loaders, but this seems like such a basic thi

[2015-08-11 00:18] wangsix opened #5106 "Reference for the agglomerative clustering with connectivity constraints"
Sorry if this is not the right place to ask, but I can`t find a contact email for the sklearn team.

My question is is there a paper or scientific source where the agglomerative hierarchical clustering with connectivity constraints is from? I am currently using that algorithm and would like to cite it properly and also study it in more depth.

Any pointer is appreciated.

[2015-08-11 02:15] mblondel commented on #5101
+1

[2015-08-11 06:59] adamzjw commented on #5073
Yeah, but average should be a reasonable solution, since it's an expected value of y axis.

[2015-08-11 14:37] larsmans opened #5107 "LatentDirichletAllocation's number of iterations"
When I amend `examples/applications/topics_extraction_with_nmf_lda.py` to print `lda.n_iter_` after fitting, it reports 81. That's clearly more than `max_iter=5`.

[2015-08-11 15:12] agramfort commented on #5106
not sure there is a general paper on this. It is just an obvious way to
avoid the N^2 complexity of HC by looking for merges in a subset of options.

[2015-08-11 15:33] jayflo commented on #3020
Do methods which are public to a module but not to the containing package need to support the old name (`normalize`) for the next two releases?  E.g. the method `linear_model.base.sparse_center_data` accepts `normalize` as an argument, but this can be changed to `standardize` while still supporting the old functionality by preprocessing these arguments in the caller.

Of course this would break an

[2015-08-11 15:41] beepee14 commented on #5107
I am new around here and would like to take this up.

[2015-08-11 15:57] larsmans commented on #5107
Cool, go ahead!

[2015-08-11 16:11] larsmans commented on #5101
Actually on second thought I guess we should get rid of the other one. It's only used in the `score` method and in perplexity calculations.

[2015-08-11 16:20] jayflo commented on #3020
The issue is that this is not just a renaming.  Since the behavior of `standardize` is slightly different, we will need all public classes/methods which accept `normalize` to also accept `standardize`.  Once `normalize` is officially deprecated, it can be removed from the code.  Until then, we will only be able to remove `normalize` from internal code by preprocessing the `normalize` and `standard

[2015-08-11 16:29] gavelino opened #5109 "scikit-learn Truck Factor"
As part of my PhD research on code authorship, we calculated the Truck Factor (TF) of some popular GitHub repositories.

As you probably know, the [Truck (or Bus) Factor](https://en.wikipedia.org/wiki/Bus_factor) designates the minimal number of developers that have to be hit by a truck (or quit) before a project is incapacitated. In our work, we consider that a system is in trouble if more than 5

[2015-08-11 16:58] wangsix commented on #5106
It also changes the results quite huge if the connectivity constraint is not associated with the metric used during clustering but something more like a prior knowledge, e.g. sequential relations of time series, neighboring pixels of a image, etc.

http://cvl.ice.cycu.edu.tw/meeting/2008.09.23.pdf

This paper is the closet thing I can find but still quite different from the algorithm in sklearn.

[2015-08-11 18:00] rvraghav93 commented on #5105
how about this one? http://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+%28Diagnostic%29

[2015-08-11 18:02] rvraghav93 commented on #5105
or this one http://archive.ics.uci.edu/ml/datasets/Adult

[2015-08-11 18:02] rvraghav93 commented on #5105
lets call it the census income dataset?

[2015-08-12 01:38] beepee14 commented on #5107
As far as I can understand the problem arises due to improper naming of the variable "n_iter_" .
"n_iter " is expected to store the number of times lda has been executed for all of the n samples
whereas it currently stores,
the number of iterations of the _em_step.
The _n_iter is used to update the value of weight in each iteration of the _em_step.

I suggest having a different variable for updati

[2015-08-12 02:56] lemonviv opened #5110 "Gaussian Mixture Model, probability of one sample greater than 1"
I am using GMM to clustering. However, I encounter a problem.
If the covariance matrix is small, the pdf of a sample may greater than 1.
i.e.
mean= matrix([0,0,0])
x = matrix([0.17415538, 0.1454399, 0.1139146])
sigma = matrix([[0.04627429, 0.03724902, -0.00255609],
                          [0.03724902, 0.08551931, -0.00566166],
                          [-0.00255609, -0.00566166, 0.02302563]])
si

[2015-08-12 02:57] #5110 closed

[2015-08-12 03:04] chyikwei commented on #5107
@beepee14 @larsmans yeah. The variable is iteration of EM steps. So in online update, it is the number of mini-batch updates, not number of iterations. We should rename it.

[2015-08-12 03:49] chyikwei commented on #5101
yes.  `dirichlet_component_` is not used in the training process.
we can get it from `component_` variable when we need to compute perplexity.
I will send a pull request for this.

[2015-08-12 06:43] beepee14 commented on #5107
@chyikwei @larsmans Renamed the n_iter variable. I have opened a pull request for the same. Please have a look.

[2015-08-12 06:45] larsmans commented on #5107
@beepee14 Please post a link: # and then the number of the PR. That automatically posts a link at the PR to this issue.

[2015-08-12 10:50] beepee14 commented on #5107
Opened pull request #5112  .

Thanks @larsmans for your suggestion.

[2015-08-12 11:01] rvraghav93 commented on #5109
This is not an *'issue'*. Kindly use our mailing list to ask such questions.

(PS: Indeed we would be interested in participating... but mailing list please ;) )

[2015-08-12 11:02] rvraghav93 commented on #5109
Mail address for our mailing list - scikit-learn-general@lists.sourceforge.net

[2015-08-12 17:21] #5109 closed

[2015-08-12 17:47] eric-czech opened #5115 "GridSearchCV freezes indefinitely with multithreading enabled (i.e. w/ n_jobs != 1)"
I've been intermittently running into this issue (in the subject) with GridSearchCV over a year now, across python 2.7, 3.3, and 3.4, two jobs, several different mac osx platforms/laptops, and many different versions of numpy and scikit-learn (I keep them updated pretty well).

I've tried all of these suggestions and none of them **always** work:

https://github.com/scikit-learn/scikit-learn/issue

[2015-08-12 17:59] eric-czech commented on #4080
One workaround that always fixes this for me (I've hit it across several python versions) is altering or overriding the GridSearchCV source code to use a different parallel backend.  If you change the call to sklearn.grid_search.Parallel used in GridSearchCV to include an argument like "backend='threading'", GridSearchCV will stop doing that.

[2015-08-12 18:28] wangsix commented on #5106
I found this paper which had the description of the algorithm and by my understanding should be the first paper proposing such setup.

http://sites.stat.psu.edu/~jiali/pub/sam11.pdf

[2015-08-12 19:53] agramfort commented on #5105
I would go for Breast Cancer as it's small for demos and a fairly
common dataset.

[2015-08-12 23:06] amueller commented on #5105
Yeah, adult is too large to just add to the repo. Breast Cancer sounds fine.

[2015-08-13 06:22] jnothman commented on #5115
Do you have problems consistently on that platform??

In terms of multithreading: there are some estimators for which multithreading will likely give substantial gains, those where most of the work are done in numpy or Cython operations with no GIL. Really, I don't think this has been evaluated much; `backend='threading'` is quite a recent thing.

The real question is: what more can we do to ident

[2015-08-13 06:26] jnothman commented on #5103
I think transferring to SciPy is a good idea.

Further note: I've used this implementation in https://github.com/wikilinks/neleval/ giving results much more quickly than an equivalent Perl evaluation tool. However, further substantial gains were made in this case because the similarity matrix was sparse, and hence Kuhn-Munkres could be run independently on each strongly connected component. Perhap

[2015-08-13 08:27] arjoly commented on #5105
A multi-label dataset such as emotion would also be nice.

[2015-08-13 14:50] larsmans opened #5118 "Multicore LatentDirichletAllocation is dead slow"
On my box, fitting LDA to all of 20news with `n_jobs=-1` or `n_jobs=4` is twice as slow as doing it single-core. I see one Python process taking up 49% of one core, and a few more doing next to nothing. Will investigate further.

[2015-08-13 16:59] amueller commented on #3536
@sreenivasraghavan71 see the discussion at #4009

[2015-08-13 18:10] amueller commented on #5105
I don't know emotion, I always use "scene" or "yeast" but they are both not great.
But yeah, having actual datasets for the different cases would be good

[2015-08-13 18:12] amueller commented on #4080
basically you want #4706?

[2015-08-13 18:36] amueller commented on #3020
yeah, it is a bit tricky. So you say it is not worth trying to remove the ``normalize`` from internal functions?
Functions should be either public or explicitly made private by a leading underscore. That ``sparse_center_data`` is public is not great.

[2015-08-13 19:38] jayflo commented on #3020
It's looking like it is possible (so far) to remove `normalize` from internal functions, but it would need remain in public classes/methods along size `standardize` for compatibility.  Once we deprecate `normalize`, we can then do the renaming and remove any other logic used for compatibility.

My question here is whether `sparse_center_data` is even considered public.  It is not public "to the pu

[2015-08-13 19:57] eric-czech commented on #5115
@jnothman By platform do you OSX 10.9.5?  If so, then yea it's not the first time I've had that problem.

One possibly major detail I omitted before though was that I'm always using IPython notebooks when I have problems.  I've got a kernel for a notebook loaded right now where if I add a "scoring" argument with n_jobs != 1 then GridSearchCV hangs forever but if I remove that argument, all is fine

[2015-08-13 20:00] eric-czech commented on #4080
Yea I think so, didn't see anyone mention that specifically there but I can understand why you guys might try to keep the backend out of the arguments if possible.

I filed this with a little more context in case it helps: https://github.com/scikit-learn/scikit-learn/issues/5115

[2015-08-13 20:28] amueller commented on #5115
Do you use numpy linked against the accelerate framework?

[2015-08-13 20:35] amueller commented on #3020
I think you we should rename ``sparse_center_data`` to ``_sparse_center_data`` and deprecate the old one and remove ``normalize`` from the new private one.
Not sure it is worth the :dancer: though.
It should be considered public if it didn't start with an underscore.

[2015-08-13 20:41] amueller commented on #5106
For reference, the mailing list is scikit-learn-general@lists.sourceforge.net and directly at the bottom of the website. Closing this as not an issue to keep the issue tracker clean. Maybe @GaelVaroquaux cares to comment, feel free to ask again on the mailing list.

[2015-08-13 20:59] amueller commented on #5103
Should we open a scipy issue?

[2015-08-13 21:11] #5107 closed

[2015-08-13 21:23] larsmans commented on #5055
SelectKBest is very useful for tasks where the number of features is not known up front (any NLP problem), but the size and training time of models down the pipeline should be constrained.

There's quite a bit of example code out there that is using it (with chi2 for text classification), so I'm not too happy about changing the API here. (If we must, then please call the estimators Select{Classifi

[2015-08-13 21:40] amueller commented on #5055
Hm.... the thing about example code is certainly true. But I feel passing the ``f_regression`` and ``f_classif`` pretty cumbersome, and the default ``k`` is really odd.

[2015-08-13 21:40] larsmans commented on #4776
It's not, AFAIK. A df ≥ 100% filter is neither effective, nor reliable: it never catches much and you only need one document that is spam/bad OCR/in a different language/empty for it to completely fail.

I really don't think this is much of an issue :)

[2015-08-13 21:46] amueller commented on #4776
alright, I'll trust your experience.

[2015-08-13 21:46] #4776 closed

[2015-08-13 21:55] eric-czech commented on #5115
Nope, unless I'm missing something.  I thought that the numpy version installed changes when you do that or at the very least that the accelerate package would be present:

(research3.4) eczech$ pip freeze | grep numpy
numpy==1.9.2
(research3.4)eczech$ conda update accelerate
Error: package 'accelerate' is not installed in /Users/eczech/anaconda/envs/research3.4

Forgive my ignorance in not being

[2015-08-13 21:57] larsmans commented on #5055
I never pass `f_classif`, I always pass `chi2` which doesn't have a regression counterpart :)

I don't think there is a reasonable default for `k` that works across problems. The crashing can be solved by just passing the input through unchanged if `n_features < k`.

[2015-08-13 22:00] amueller commented on #5055
yeah, maybe a pass-through would be best. still ``k`` is probably the last single-letter parameter apart from ``C``....

Well, I don't like it if I have to pass ``f_regression`` because otherwise it wouldn't do anything sensible....

[2015-08-13 22:03] amueller commented on #5115
conda accelerate is not the same as apple accelerate:
http://docs.continuum.io/accelerate/index
https://developer.apple.com/library/mac/documentation/Accelerate/Reference/AccelerateFWRef/

conda accelerate is MKL accelerated versions of packages, apple accelerate is their alternative to MKL.

can you give us ``numpy.__config__.show()``?

[2015-08-13 22:04] amueller commented on #5115
multiprocessing doesn't work with accelerate IIRC. ping @ogrisel

[2015-08-13 22:06] amueller commented on #4711
I also got that at some point. Did we change what we download? Or what happened?

[2015-08-13 22:06] eric-czech commented on #5115
certainly:

atlas_3_10_blas_threads_info:
  NOT AVAILABLE
atlas_info:
  NOT AVAILABLE
atlas_3_10_info:
  NOT AVAILABLE
atlas_threads_info:
  NOT AVAILABLE
atlas_3_10_blas_info:
  NOT AVAILABLE
blas_opt_info:
    extra_compile_args = ['-msse3', '-DAPPLE_ACCELERATE_SGEMV_PATCH', '-I/System/Library/Frameworks/vecLib.framework/Headers']
    extra_link_args = ['-Wl,-framework', '-Wl,Accelerate']
    de

[2015-08-13 22:10] amueller commented on #5115
Yeah so that is a known issue that I can't find in the issue-tracker. Accelerate doesn't work with multiprocessing.

I'm a bit confused. The threading backend only does something when the GIL is released, right?

[2015-08-13 22:17] eric-czech commented on #5115
Gotcha, do you know how I should go about rebuilding numpy then?  Should I just pip install it instead of using the conda package for it?  Or would I be better off to build from source and ensure those apple accelerate arguments aren't present?

Sounds like this is a bit of a nonstarter of an issue regardless.  Close away if it's just beating a dead horse.

[2015-08-13 22:19] amueller commented on #5115
if you can get the conda accelerate, it would work ;)

[2015-08-13 22:20] amueller commented on #5115
maybe we could try to bail in ``joblib``?

[2015-08-13 22:36] eric-czech commented on #5115
Ah great, continuum must have paid apple to do that haha.

Got any $0 suggestions?  And thanks for the insight either way.

[2015-08-14 00:59] jnothman commented on #4996
My explanation in https://github.com/scikit-learn/scikit-learn/pull/5091#issuecomment-130905053. TLDR: documentation not precisely correct, but code is.

[2015-08-14 04:16] jnothman commented on #5103
Noted at https://github.com/scipy/scipy/issues/4482#issuecomment-130959787

[2015-08-14 07:13] jnothman commented on #5080
Your `LazyClassifier` remains opaque in the sense that you need to prefix all reference to attributes and methods. You can't just wrap an existing estimator with `LazyClassifier` and in most contexts expect it to work. Maybe if we could get around the parameter name prefixing along the lines of #5082, that wouldn't matter as we could implement `__{get,set}attr__` to make it transparent for everyth

[2015-08-14 07:28] arjoly commented on #5105
I was thinking about emtions as it is smaller in size.

[2015-08-14 09:51] Padarn opened #5119 "Gaussian Process parameter optimisation incorrect?"
I've just been trying to get a handle on the GP code, and I feel like I've found a bug in the ``_arg_max_reduced_likelihood_function`` function of ``gaussian_process.py``. The code minimises this function:

    def minus_reduced_likelihood_function(log10t):
        return - self.reduced_likelihood_function(
                    theta=10 ** log10t)[0]

However, the function ``reduced_likelihood_func

[2015-08-14 11:06] eric-czech commented on #5115
Oh and also I know this has been asked before, but is the fact that I'm only having this issue on my current platform when using a custom scoring function something to go on?  For the life of me I can't see what could possibly be problematic about that given the grid_search.py source code, but might it having something to do with pickling of the custom function?

And somewhat unrelated to that, I

[2015-08-14 12:58] kastnerkyle commented on #5119
There is a lot of new work happening on the GP (thanks to @jmetzen 's hard
work) which will clean up a ton of API stuff. I don't know if it is a bug
or not - would need to dig into the math to see. Do you have any reference
on the mathematical derivation of reduced_likelihood_function_value ? It
seems "likelihood -ish" to me but that is handwavy

On Fri, Aug 14, 2015 at 5:51 AM, Padarn Wilson <not

[2015-08-14 13:17] Padarn commented on #5119
No.. I couldn't quite tell where this comes from, but it doesn't look significantly different from the standard likelihood function? Is there a PR that I should look at that @jmetzen is working on?

[2015-08-14 13:30] kastnerkyle commented on #5119
#4270 has it

https://github.com/scikit-learn/scikit-learn/pull/4270

It is really, really close IMO

On Fri, Aug 14, 2015 at 9:18 AM, Padarn Wilson <notifications@github.com>
wrote:

[2015-08-14 14:47] amueller commented on #5115
You can link against atlas, but that will be slower [apple] accelerate, methinks.
Maybe there is a free MKL linked numpy out there?

[2015-08-14 14:49] amueller commented on #5115
[if you are an academic, continuum accelerate is free btw]

[2015-08-14 16:45] larsmans commented on #5043
Fixed by a7081d797f42aab3b9f76145431b56c679702df1, closing.

[2015-08-14 16:45] #5043 closed

[2015-08-14 16:47] #5101 closed

[2015-08-14 17:22] amueller commented on #4996
Why is that the correct behavior? I find it surprising, and it seems to be inconsistent with ``roc_curve``.

[2015-08-14 17:26] amueller commented on #4996
Inspecting the output of the code you gave, never more then one value is dropped (but maybe just because it is very unlikely?)

[2015-08-14 17:32] amueller commented on #5115
I'm pretty sure this is entirely unrelated to using a custom scoring function.
Can you give self-contained sniplets that break with a custom scoring function but not without?

[2015-08-14 17:34] amueller commented on #5105
Yeah that makes sense. Does doing multi-label things actually help on it?

[2015-08-14 17:54] jayflo commented on #4996
`len(thresholds)` depends both on the unique values in `y_scores` and the index of the final `y_scores` value that is a true positive (after `y_scores` has been sorted desc.).  When `y_true` values are generated randomly, it's likely that even indices with low `y_scores` can have `True` positives which  keeps `len(y_scores) - len(thresholds)` small.

[2015-08-14 18:20] amueller commented on #4996
right, ``len(np.unique(y_scores)) - len(thresholds)`` can be arbitrary. but ``len(precision) - len(thresholds)`` will always be 1.
I thought this wasn't about discrepancy between the unique scores and thresholds but between precisions and thresholds. I understand that we don't give the last threshold, I just don't understand why, and I feel that should be consistent between roc and precision_recal

[2015-08-15 10:05] jnothman commented on #4736
Not replicated

[2015-08-15 10:05] #4736 closed

[2015-08-15 10:07] jnothman commented on #5073
I assume this is a duplicate of #4223 (and no doubt others!)

[2015-08-15 10:13] jnothman commented on #4996
Yes, we possibly should be consistent, but it depends in part on how auc
should be calculated for each, which is disputed elsewhere (e.g. #4223).
The difference in size might indeed be considered a historical quirk, but I
don't think it's harmful as long as documentation is sufficient.

On 15 August 2015 at 04:21, Andreas Mueller <notifications@github.com>
wrote:

[2015-08-15 10:15] jnothman commented on #5115
Maybe the fact of the custom scoring function is relevant (e.g. pickling issues or nested parallelism may be pertinent). Could we see the code?

[2015-08-15 10:16] jnothman commented on #5115
Or do you just mean a standard metric with `make_scorer`?

[2015-08-15 10:29] jmetzen commented on #5119
It's been a while since I looked into the details of the `reduced_likelihood_function`, so take everything I say here regarding it with some care. I believe that it returns a positive likelihood-like value and not a negative one (even though there is minus in the formula). It is like a likelihood in that it should be maximized for the same hyperparameters as the likelihood. However, combining it w

[2015-08-15 13:29] jnothman commented on #5080
(Some minor thoughts on this: if a mixin is deemeed appropriate, a syntax like `memoized_estimator(SomeEstimator())` could be achieved by dynamically defining the mixed-in class. While magic already, making this pickleable would require `__reduce__` magic, too.)

[2015-08-15 13:34] larsmans commented on #4414
(I have a feeling I've had this discussion at least twice before...)

This is easy to work around in client code, as you noted. It's also possible to "fix" this in scikit-learn, but every option that I've evaluated introduces some arbitrary convention that needs documentation and may or may not suit users' expectations.

[2015-08-15 13:35] jnothman commented on #5082
I think we should not rule out needing to support nested grid search. Trying to think of cases, I could imagine OvR or similar having a grid search within it so that hyperparams are not tied across labels in a multilabel problem, but potentially a grid search outside of that too...?

I'm not sure how to proceed on this.

[2015-08-15 13:36] eric-czech commented on #5115
Certainly, here's a relevant portion and it looks like things are fine with make_scorer but not with a custom function:

[code]

I'll work on a self-contained version that involves some version of the data I'm using too (but it will take longer).  In the meantime though, pickling of those custom functions sounds like a good lead -- I've tried it several times again to be sure and it hangs 100% of

[2015-08-15 13:39] #4996 closed

[2015-08-15 13:40] jnothman commented on #4996
I'm considering this a duplicate of #4223, #5073  and closing it, while quick-fixing the documentation to say <= instead of := in 749f2a9.

[2015-08-15 13:51] jnothman commented on #5115
And is that in __main__ (i.e. the top-level script being interpreted) or an
imported module?

On 15 August 2015 at 23:37, Eric Czech <notifications@github.com> wrote:

[2015-08-15 13:52] jnothman commented on #5115
Oh, it's ipynb. Hmmm interesting. Yes, pickling could be an issue..?

On 15 August 2015 at 23:51, Joel Nothman <joel.nothman@gmail.com> wrote:

[2015-08-15 13:52] eric-czech commented on #5115
That's in a notebook

[2015-08-15 13:52] eric-czech commented on #5115
I'll try to import it from a module instead and see how that goes

[2015-08-15 13:57] eric-czech commented on #5115
Hmm what do you know, works fine when defined outside the notebook.

I have essentially the same code running in python 2.7 (I needed a lib that's older) as well as this code in python 3.4 and while I have the hanging issue in 2.7 regardless of whether or not it's a custom function or something using make_scorer, I think that solves all my problems in the newer version so I can just live with work

[2015-08-15 14:34] jnothman commented on #5115
Well, we'd like to understand:
* is pickling and unpickling generally a problem for locally-defined functions on that platform, or are we hitting a particular snag?
* why, if pickling is a problem, is it hanging rather than raising an exception? Could you please try monkey-patching or similar, to see if replacing the `pickle.dumps(function)` check https://github.com/scikit-learn/scikit-learn/blob/

[2015-08-15 14:34] jnothman commented on #5115
@ogrisel might be interested in this.

[2015-08-16 06:07] yangj1e opened #5124 "Why estimator_weight in SAMME.R AdaBoost algorithm always returns 1?"
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/weight_boosting.py#L530

In `_boost_real` method, `estimator_weight` is computed, but in the return statement,

[code]

`estimator_weight` is not returned, instead it always returns 1. Why is that? Is this a bug?

[2015-08-16 09:52] Padarn commented on #5119
Looking more closely, I think you're right. The upper limits of the examples parameter search just make it choose these limits because the maximum likelihood is outside of the range.

But it sounds like your changes will make all of this a bit irrelevant anyway ;-)

[2015-08-16 11:40] Anjum48 opened #5125 "Negative R2 scores in SVR"
Hi,

I'm getting negative R2 values when using the score method for support vector regression (using 0.16.1):

[code]
Output: `-0.1824106150808722`

Here's my data from `test.csv`. Each x variable is a lagged version of the previous (it's from a time series)
[code]

[2015-08-16 12:57] agramfort commented on #5125
see the doc

http://scikit-learn.org/dev/modules/generated/sklearn.metrics.r2_score.html

it's just that your prediction is not so great.

[2015-08-16 12:57] #5125 closed

[2015-08-16 17:35] adamzjw commented on #5073
Yeah, exactly.

[2015-08-17 01:32] jnothman commented on #5073
Closing as duplicate.

[2015-08-17 01:32] #5073 closed

[2015-08-17 01:39] jnothman commented on #4223
Also reported in #5073. Let's get some resolution here. Ideally we'd like some confirmation from other implementations.

With or without confirmation, we could provide an option `precision_at_0` (to `precision_recall_curve` and `average_precision`; maybe it should be `precision_at_infinity`, depending on whether we're talking recalls or thresholds). The current behaviour would be replicated by `pr

[2015-08-17 02:35] jnothman commented on #4223
FWIW, Weka introduces a "fake" point at (0, 0) in `ThresholdCurve.getCurve`, (although the fact that precision is 0 in this context may only be an artefact of code reuse). However in `getPRCArea` (comparable to `average_precision`), it comments "start from the first real p/r pair (not the artificial zero point)". The same data is used for their ROC calculation, although there the "artificial zero

[2015-08-17 21:28] amueller opened #5129 "PCA.score is log *density* right?"
The docstring says it's log-likelihood.
Same for score_samples.
KDE correctly says log-density.
@xuewei4d GMM also now says log-density, right?

[2015-08-17 22:05] amueller opened #5130 "link to silhouette score example in user guide at silhouette score"

[2015-08-17 22:07] xuewei4d commented on #5129
I defined the ```score``` in ```GaussianMixture``` in #4802 as the mean of the log-probabilities of data points, which is the normalized likelihood over the number of data points.

I think the ```score``` describes how the model fits the data. It's the measure of performance of the model, so I prefer likelihood. @amueller

[2015-08-18 05:23] jnothman opened #5132 "cross_val_predict should work for sparse `y`"
Currently it uses `np.concatenate` to merge predictions, but predictions could be sparse matrices.

[2015-08-18 05:28] chiragnagpal commented on #5130
@amueller I'll do this, could you give me the link to the silhoutte score example?

[2015-08-18 07:17] agramfort commented on #5129
It's the probability under the estimated density during fit. It's also a
likelihood. I'd stick to likelihood.

[2015-08-18 10:52] beepee14 commented on #5132
I would like to take this one up. Should I go ahead with this?

[2015-08-18 11:03] jnothman commented on #5132
Sure, thanks

On 18 August 2015 at 20:53, Buddha Prakash <notifications@github.com> wrote:

[2015-08-18 14:27] amueller commented on #5129
Maybe I'm missing something.
The probability of single points under continuous densities is always zero, right?
And the density can be an arbitrary positive number. I just feel if we say it is a probability and it can be greater than 1, that is confusing.

[2015-08-18 14:33] amueller commented on #5129
I guess likelihood is used for both density and probability. I wouldn't use ``probability`` anywhere for continuous distributions.
And it would be nice if the generative models were consistent in their naming of what ``score`` does. Which I guess will get better with #4802.

[2015-08-18 14:53] amueller commented on #5130
http://scikit-learn.org/dev/auto_examples/cluster/plot_kmeans_silhouette_analysis.html#example-cluster-plot-kmeans-silhouette-analysis-py

You can find it by clicking on "examples" on the website and searching for "silh"

[2015-08-18 14:58] amueller commented on #5125
you need to adjust the parameters of SVR for it to work well.

[2015-08-18 15:20] amueller commented on #5115
From what I saw on windows, notebooks have weird interactions with multiprocessing.

Have you tried just pickling and unpickling the function defined in the same notebook?

[2015-08-18 15:37] kastnerkyle commented on #5129
I think likelihood is ambiguous - log-density makes it clear this is a
point estimate, and as such is not bounded between 0 and 1 for non-discrete
distributions.However, as long as it *doesn't* say probability I guess it
is ok - just need to be explicit that this is not bounded between  0 and 1
(and maybe provide a reference)

On Tue, Aug 18, 2015 at 10:34 AM, Andreas Mueller <notifications@github

[2015-08-18 15:55] amueller commented on #5129
@kastnerkyle but you agree it shouldn't say probability in #4802, right?

[2015-08-18 15:58] amueller commented on #5082
I've been speaking to the auto-sklearn folks. They really want nested grids. I'm not saying we should to that now, but we should keep it in mind.

[2015-08-18 16:23] jagapiou opened #5134 "LogisticRegression.predict_proba is incorrect when multiclass='multinomial'."
Looking at the code for LogisticRegression.predict_proba it seems to assume that multiclass='ovr': it does sigmoid(wTx+b) and then normalizes over the classes. I think that when multiclass='multinomial' is used it should use softmax instead.

[2015-08-18 16:28] Anjum48 commented on #5125
Thank very much guys. I'll have to try and get my head around what "arbitrarily worse" actually means in a numerical sense, but i'll try improving the input dataset and adjusting the parameters

[2015-08-18 17:24] kastnerkyle commented on #5129
yes

On Tue, Aug 18, 2015 at 11:55 AM, Andreas Mueller <notifications@github.com>
wrote:

[2015-08-18 21:10] soufanom opened #5135 "Suggestion to Have multiclass.py allow prediction over one sample only !"
Greetings Guys,

I came through the contributed implementation to multiclass.py in Scikit-learn. I just have a suggestion for you to consider the case when only one testing sample is passed to decision_function "Decision function for the OneVsOneClassifier". As for the current implementation, an undesirable output comes since  n_samples = X.shape[0] will take a number larger than one when X is onl

[2015-08-18 21:24] amueller commented on #5135
linearSVC should really complain here :-/ I guess the decision function is called... hum... Not sure we can actually fix it without #4511.

[2015-08-19 06:50] agramfort commented on #5134
indeed... that's ugly. Thanks for the bug report.

any volunteer to fix this? @MechCoder @TomDLT ?

[2015-08-19 06:58] agramfort commented on #5129
for PCA and FactorAnalysis it is a true proba between 0 and 1. So the log
proba is always negative.

[2015-08-19 07:20] MechCoder commented on #5134
OK, I can fix this up tonight.

[2015-08-19 10:22] sebconort opened #5136 "Bug in predict_proba of MultinomialNB when fitted with .fit but not when fitted with .partial_fit"
Hello,

I can provide a IPython notebook where I test the accuracy calculation via three methods for a MultinomialNB.
1/ .score method
2/ .predict method and then computing the mean of predictions being equal to y
3/.predict_proba and the computing of preditcions with argmax and then computing the mean of predictions being equal to y

All three are equals (as expected!) when I fitted the Multinomi

[2015-08-19 13:36] agramfort commented on #5136
please share the notebook

[2015-08-19 15:10] sebconort commented on #5136
I am not at ease with github.
Can you help on the best way to share with you my .ipynb + 2 .csv files (data used)?

[2015-08-19 15:21] amueller commented on #5068
ok done I think.

[2015-08-19 15:21] #5068 closed

[2015-08-19 15:42] amueller opened #5137 "Add "don't make a bunch" to FAQ"
A frequently asked question is "how do I make a bunch".
The answer is: don't make a bunch. They are not part of the scikit-learn API. They are just a way package some numpy arrays. You only ever need numpy arrays to put data into scikit-learn.

[2015-08-19 16:19] NoonienSoong commented on #5137
got it.

[2015-08-19 17:05] amueller commented on #5004
ping @NoonienSoong

[2015-08-19 17:06] amueller commented on #5004
I think the actual package for @mfeurer's parameters is here:
https://bitbucket.org/mfeurer/paramsklearn

See for example here:
https://bitbucket.org/mfeurer/paramsklearn/src/8c4f3368db1e8e65bc123ea94cc2bdac6b7b5faa/ParamSklearn/components/classification/?at=master

[2015-08-19 22:03] mavillan opened #5142 "Uniform LBP with scikit local_binary_pattern function"
I'm using the local_binary_pattern from scikit.feature with uniform mode like this:

    [[  0.00000000e+00   1.57210000e+04]
     [  1.00000000e+00   1.86520000e+04]
     [  2.00000000e+00   2.38530000e+04]
     [  3.00000000e+00   3.23200000e+04]
     [  4.00000000e+00   3.93960000e+04]
     [  5.00000000e+00   3.13570000e+04]
     [  6.00000000e+00   2.19800000e+04]
     [  7.00000000e+00   2.4

[2015-08-19 23:09] #5142 closed

[2015-08-20 00:57] NeverNude commented on #1596
Hey @lesn-v, @ngould, I've been contributing to https://github.com/alex-pirozhenko/sklearn-pmml.  Has support for DecisionTree, GradientBoosted RandomForest.  Another guy is looking at adding support for SVM etc... if you guys have any interest in contributing.  Has automated integration tests with the BSD licensed version of JPMML

[2015-08-20 03:12] jnothman commented on #1596
My concern is trying to translate our transformation pipeline model into PMML. If anyone would like to take on that task.

I'm also concerned that a library doing this has a way to check the consistency of the exported model (using a pre-existing PMML predictor) with scikit-learn's predictions. That testing framework is another subproject that would be great to see.

[2015-08-20 03:14] jnothman commented on #1596
But of course it's great to see you making progress on this, @NeverNude. (Let's just hope it's the right choice of technology!)

[2015-08-20 18:16] NeverNude commented on #1596
@jnothman what transformation pipeline model are you referring to specifically?  Are you referring to pipeline http://scikit-learn.org/stable/modules/pipeline.html or something else?

[2015-08-20 23:06] jnothman commented on #1596
I'm referring to that Pipeline, but iirc, PMML doesn't have an idea of
"pipeline" so much as a declarative description of how each feature was
compiled. So it depends on supporting the translation of individual
transformers (e.g. scalers, PCA, selectors) to PMML in a feature-wise
manner.

On 21 August 2015 at 04:17, Evan <notifications@github.com> wrote:

[2015-08-21 10:30] iblasi opened #5145 "Linear Ridge output Weight vector(s) not correct"
I have make a simple example to check the ridge output weight vectors for polynomial features created from a simple concept and the result is giving wrong coefficients.

The code proposed is simple. X and Y points inside [-1,1] range and predict the radius creating polynomial features and ridge linear regression.

As the radius is $\sqrt{X^2+Y^2}$ it fits the coefficients of the polynomial to try

[2015-08-21 11:15] jagapiou commented on #5134
I think this might be an issue other places too: e.g. sklearn.lda.LDA.

[2015-08-21 11:41] laghaout opened #5146 "What are ImportErrors?"
Hi,

I installed scikit-learn from Anaconda without any apparent errors since I get a confirmation that the package is up to date:
[code]
However, whenever I actually try to use it, I get the recurring error message:
[code]
I ran `nosetests` to check the installation of sklearn and the same error about this 'doccer' thing comes up. Just what are these import errors and how can I fix them? I have u

[2015-08-21 12:25] lesteve commented on #5146
Next time, could you give the full stacktrace? This may seem like complete rubbish to you but it is actually very useful to understand where the error comes from.

Googling around doccer seems to be a scipy thing (`scipy.misc.doccer`, see [this](http://stackoverflow.com/questions/24596594/cant-import-scipys-io) for example), so it looks like something went wrong during your scipy install.

The sim

[2015-08-21 15:04] ngould commented on #1596
@NeverNude @jnothman Sweet, thanks for bring it to my attention. I am still interested in helping out. I'll take a closer look over the weekend.

[2015-08-21 17:52] david-hoffman opened #5147 "Randomly thrown ValueError when running RANSACRegressor.fit"
I've been using the RANSAC algorithm to detrend image data containing Gaussian shaped peaks. Basically I assume that the underlying data can be accurately modeled as inliers and outliers where the inliers are the background and can be described by a low order polynomial and the outliers are represent the peak I'm interested.

However, every once in a while the RANSACRegressor's fit method will thr

[2015-08-22 00:09] hanzhang opened #5148 "RandomForestClassifier errors when class_weight parameter is included"
rf_model = RandomForestClassifier(random_state=42, class_weight='auto')

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-77-11f1894d820d> in <module>()
----> 1 rf_model = RandomForestClassifier(random_state=42, class_weight='auto')
      2 rf_model.fit(x_train,y_train)
      3 y_p

[2015-08-22 00:33] afzal commented on #3808
HI all,
I wrote the following code:

import pandas as pd
data= pd.read_csv(open(home/maxinet/Desktop/1.csv))

and i got this error:
File "<ipython-input-10-dd0ba70fe93f>", line 2
    data= pd.read_csv(open(home/maxinet/Desktop/1.csv))
                                                                              ^
SyntaxError: invalid syntax

could you plz guide me.

[2015-08-22 02:10] hanzhang commented on #5148
I retract this error. I needed to use conda to update scikit-learn. Apparently, I was not using the latest version.

[2015-08-22 06:11] AlexanderFabisch commented on #3808
We could tell you what the problem is but I think in this case you will learn more from it if you find it on your own. You should read the error message carefully. It is a Python syntax error.

[code]

[2015-08-22 08:03] MartinLion commented on #3808
On 22 Aug 2015 08:33, "samira afzal" <notifications@github.com> wrote:

I recommend you finding another tool where you can work with easily without
headache yourself with this particular one. This is what I did myself.

Good luck
Martin

[2015-08-22 09:12] #5146 closed

[2015-08-22 10:33] jnothman commented on #3808
To be clear, these previous posters are saying that being somewhat
comfortable with the Python language is a prerequisite to using
scikit-learn. You have missed some quotes around a string. This shows great
unfamiliarity with Python (and a characteristic of most programming
languages), and scikit-learn is probably not the best place to start.

On 22 August 2015 at 18:04, MartinLion <notifications@

[2015-08-23 17:09] beepee14 commented on #5132
Sorry for the late reply, I got caught up with some other work.

@jnothman Can you please clarify.
"predictions could be sparse matrices"

Can you provide an example dataset so that I can reproduce this case?
When is the returned variable "pred_blocks" in the sparse format.

[2015-08-23 22:54] jnothman commented on #5132
Currently we use sparse format optionally as output of multilabel
classification. So OneVsRestClassifier is the most straightforward example.

On 24 August 2015 at 03:09, Buddha Prakash <notifications@github.com> wrote:

[2015-08-24 07:02] arjoly commented on #5105
It depends on the metric, base estimator and the multi-label strategy.
See this paper [An extensive experimental comparison of methods for multi-label learning](http://www.sciencedirect.com/science/article/pii/S0031320312001203) for some comparisons.

PS: sorry for the paywall

[2015-08-24 07:20] arjoly commented on #5148
thanks for reporting

[2015-08-24 07:20] #5148 closed

[2015-08-24 09:04] #3594 closed

[2015-08-24 20:22] amueller commented on #5089
some should be fixed here #5143

[2015-08-24 20:31] amueller commented on #5147
I think you ran into an issue where there is no inliers, and we fixed the error message for that, but only in the development version. Can you try increasing ``residual_threshold``?

[2015-08-24 20:33] amueller commented on #5134
Yes, looks to be the case.... argh :-/

[2015-08-24 20:37] amueller opened #5149 "LinearDiscriminantAnalysis predict_proba should use softmax"
It uses an OVR normalization for multi-class for some unknown (to me) reason.
See #5134.

[2015-08-24 20:41] amueller commented on #1596
@jnothman what do you think about adding this to the related project list? It seems of interest to a number of people.

[2015-08-24 21:39] amueller commented on #5145
Can you be more precise about what you think is a bug?
You say " when I check the real values and predicted the plot shows that the error has to be much higher." What do you mean by that?

Also, can you reduce your example to something that just shows what you believe to be a bug?

[2015-08-24 21:39] amueller commented on #5145
Btw, are you familiar with RidgeCV and GridSearchCV? both / either would reduce your code quite a bit.

[2015-08-24 22:18] amueller commented on #5136
go to https://gist.github.com/ , create a gist repository, clone it, put the files in, and push.

Or copy/paste ;)

[2015-08-24 22:19] jnothman commented on #1596
that's definitely the right place for it

On 25 August 2015 at 06:41, Andreas Mueller <notifications@github.com>
wrote:

[2015-08-24 22:24] olologin opened #5150 "Dense svm and zeroed weight for samples of entire class"
This bug appears in current master, and for any dense svm class.

[code]
Output:

[code]

Here we see that svmlib internally have lost 2nd class, at the same time sklean's wrapper class keeps all class labels inside, that's why predict_proba returns matrix of shape (n_samples, 2) instead of (n_sample, 3). I understand that it's insane use of weights by itself, but together with bagging, and datase

[2015-08-24 22:27] amueller commented on #1596
See #5151. Should we close this one? PMML is unlikly to go to master. ping @ogrisel

[2015-08-24 22:29] amueller commented on #5129
@agramfort could you elaborate? How is it a probability? This is using a Gaussian latent state model, right? I'm probably just being slow right now.

[2015-08-24 22:39] amueller commented on #5150
Yeah that looks like a bug. I wonder if this shows in any other models or just the svm. If you are interested, could you maybe add a test to the common tests in ``utils/estimator_checks.py`` to see if this happens elsewhere?

(or you could just loop over all_estimators()).

[2015-08-24 22:40] amueller commented on #5150
We could just fix it by handing all points to libsvm but that's probably not what we want to do, right? Does libsvm handle them efficiently?
Could you maybe do a benchmark?

[2015-08-25 01:16] jnothman commented on #1596
I think that the title of this issue is fulfilled as an external contribution, so yes, we should close it, and specific issues for sklearn-pmml should move to that project.

[2015-08-25 01:16] #1596 closed

[2015-08-25 01:17] jnothman commented on #1596
Except that it currently only supports (single-output?) classification, without regression etc.

[2015-08-25 01:51] littmus commented on #4475
It also happens when using cosine metric.

[2015-08-25 02:09] david-hoffman commented on #5147
Yup that does the trick, thanks.

[2015-08-25 03:19] huntzhan opened #5153 "Why not hardcoded dependencies in setup.py?"
`pip instasll scikit-learn` fails since `setup.py` of `scikit-learn` requires `numpy` and `scipy` to be pre-installed, but do not declare them in `install_requires` keyword argument of `setup` function.

What kind of reason do you guys decide not declaring dependencies `numpy` and `scipy` in `setup.py`? It's a bug or it's a feature?

[2015-08-25 03:25] jnothman commented on #5153
Feature. scipy and numpy are usually best not installed by pip. Instructions were recently added to setup.py in https://github.com/scikit-learn/scikit-learn/commit/f41f2e47. See http://scikit-learn.org/stable/install.html

[2015-08-25 03:25] #5153 closed

[2015-08-25 06:41] huntzhan commented on #5153
@jnothman thanks.

[2015-08-25 07:37] agramfort commented on #5129
PCA and FA lead to parameters of a multivariate Gaussian (mean +
covariance/precision). You can therefore truly estimate the probability
between 0 and 1 of a sample. ok?

[2015-08-25 12:59] licode opened #5155 "Statistics output from regression models"
Is there any way to output t-value, p-value and confidence interval from OLS/Ridge or other regress models?

[2015-08-25 13:10] GaelVaroquaux commented on #5155
You need to look at statsmodels for this. Scikit-learn is focused on
prediction.

[2015-08-25 13:10] #5155 closed

[2015-08-25 13:57] amueller commented on #4475
@littmus can you give a small example?

[2015-08-25 13:57] #5147 closed

[2015-08-25 14:13] amueller commented on #5129
The probability of any point under a continuous distribution like the Gaussian is zero, right?

[2015-08-25 15:57] rmsouza01 opened #5156 "Random Forest Problem - v0.14.1 and v0.16.1"
Hi,

I am running a Random Forest script using sklearn. In version 0.14.1 I run my code and I get ~0.85 accuracy, but after I updated to v0.16.1 I obtained ~0.37 of accuracy.

I didn't alter the code, and I have no idea why I get such drastic change in the results.

Here is the code:

[code]

[2015-08-25 16:07] amueller commented on #5156
Can you try "skf = cross_validation.StratifiedKFold(labels, n_folds=10, shuffle=True)``
Also, you could just do
[code]

[2015-08-25 16:30] rmsouza01 commented on #5156
Thanks,  you are absolutely right. The results improved to ~.80, it is still 5% away of the results I used to get before. My samples are not IID.

[2015-08-25 16:30] #5156 closed

[2015-08-25 16:59] iblasi commented on #5145
@amueller, I will try to be more clear on my explanation.

There are 2 initial features in the example X and one target y, which is the radius.
[code]

There can be created more polynomial features from these 2 initial ones
[code]
So now, there are 21 features to describe the target, i.e., there is a polynomial that try to describe the physical equation of the system to achieve the target. Each po

[2015-08-25 17:14] amueller commented on #5145
MAE is an error, as the "error" part of the name suggests. Low values are good. The figure shows that there are values of .2, which are okish and values of .02 which are really good. So it correctly picks the really good 0.02.

Looking at the last plot, is indeed does a very good job.
When creating the first plot, you forgot to add the intercept (theta_0), which is why everything is shifted downwa

[2015-08-25 17:14] #5145 closed

[2015-08-25 17:23] iblasi commented on #5145
@amueller that is what it seems, but check the weight vectors "coeff_" on my example:
[code]
The plot uses all the coefficients, also theta_0, which is 0. So that is why it doesn't shift it.
Maybe the constant is the one which is not correctly calculated.

[2015-08-25 17:24] amueller commented on #5145
as I said, the constant is in the intercept.

[2015-08-25 17:24] amueller commented on #5145
the fact that you added another constant feature doesn't mean the intercept will not be used.

[2015-08-25 17:29] iblasi commented on #5145
@amueller, I see the option:
[code]
Sorry for the mistake.

[2015-08-25 17:37] iblasi commented on #5145
@amueller just one thing. The attribute ```intercept_``` does not appear on the documentation of Ridge:
http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html
However in other linear models it does:
http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html
Maybe it should be included

[2015-08-25 17:39] amueller commented on #5145
It should definitely be included. Thank you for pointing this out, sorry for that.

[2015-08-25 19:55] arthurmensch opened #5158 "sparse_encode does not check input order"
Following https://github.com/scikit-learn/scikit-learn/commit/393d651e67378fb20558e8178cadc911320c9f41, `sparse_encode` does not check that `dictionary` and `X` are Fortran arrays, while it is necessary using `Lasso.fit(check_input=False)`.

Sorry I forgot that...

[2015-08-25 20:00] jackzhang84 commented on #5132
Hey guys, I am also interested in taking a stab at this and am not sure either what the problem exactly is. It looks like the current implementation is able to handle sparse y. This is the code I ran:

               allow_unlabeled = True, return_indicator = True, random_state = 1)

This does generate a reasonable cross-validated prediction of 'y' in a sparse form. I'm not sure if I am missing an

[2015-08-25 21:13] amueller commented on #4414
@larsmans do you remember where the discussion was?
superficially is seems like explicitly storing keys and values as @jnothman suggests would fix this.

[2015-08-25 21:14] amueller commented on #4414
I fear that OneHotEncoder will be the next monster, and I don't know what to do about it :-/

[2015-08-25 22:02] agramfort commented on #5129
ok I mean you get a normalized value from a proper probability
distribution... there is no unknown partition function or this type of
issue.

[2015-08-26 00:38] jnothman commented on #5132
Running you snippet, both y and predicted are plain numpy arrays, not scipy
sparse martrices. use make_multilabel_classification(..., sparse=True)

On 26 August 2015 at 06:00, jackzhang84 <notifications@github.com> wrote:

[2015-08-26 02:17] beepee14 commented on #5132
Opened a pull request #5161
@jnothman Please have a look, I use scipy.sparse vstack for concatenating the sparse matrices.

@jackzhang84 The problem is that np.concatenate() doesn't support concatenation of sparse matrices and hence cross_val_predict gives an error for sparse prediction matrix.

[2015-08-26 12:29] mblondel commented on #5149
AFAIK there are several variants of LDA in the multiclass case.

@cle1109 @kazemakase Which one do we implement?

[2015-08-26 12:44] cle1109 commented on #5149
We actually didn't change anything in `predict_proba`, but looking at the code I see that the implementation is a bit strange (or at least I don't understand why it's done like this). For example, why are there two arguments for `np.exp` and `np.reciprocal`?

Anyway, the code is identical to the one in logistic regression, so I guess we're doing the same thing here. Since @MechCoder is working on

[2015-08-26 14:10] mblondel commented on #5149
`np.exp(a, a)` is equal to `np.exp(a, out=a)`. The named argument is not supported with older versions of NumPy.

The way to compute predict_proba may depend on the variant of multiclass LDA we're using. Since there are several variants, the code may be wrong or it may be correct.

@amueller What makes you think softmax is the right way to compute predict_proba here? Any reference?

[2015-08-26 14:19] cle1109 commented on #5149
I see. I would have used `a = np.exp(a)`, which is unambiguous because I don't have to look up the arguments.

Regarding the LDA variant, we're computing discriminant functions for each class. The class with the highest value will be selected for a particular sample (this is inherited from `LinearClassifierMixin`). Is that what you mean by variant of LDA?

[2015-08-26 14:25] mblondel commented on #5149
The point is to save a memory allocation by doing the operation in place but I agree this is not big deal.

From C. Bishop's book: "There are now many possible choices of criterion (Fukunaga, 1990)"

This sounds to me like the current code (compute each proba then normalize) is correct then.

[2015-08-26 15:00] amueller commented on #5129
yeah, the integral is normalized, but it is a density, and therefore can be any positive number. The point of the issue was that I feel we should take more care of distinguishing densities and probabilities because "probabilities > 1" are confusing.

[2015-08-26 15:52] ajing opened #5163 "DBScan for 1M data points with user defined distance function"
I have a dataset with 1M data points and I defined the distance function like the following.

[code]

However, it already runs for more than 1 day. Should I change to a more powerful machine with more cores or use Mini Batch K-Means in this situation? Could I define the distance function in Batch K-Means also?

..OK, K-Means won't support customized distance function. I guess DBScan is the best be

[2015-08-26 16:28] huzq opened #5164 "After build and install scikit-learn, test will fali"
Pre-requisitions:
1. Ubuntu 15.10, Python 2.7.10, gcc version 5.2.1 20150808 (Ubuntu 5.2.1-15ubuntu2)
Reproduce steps:
1. Git clone latest version of code from github.
2. Install dependencies
3. Build and install the scikit-learn from latest code.
4. Execute test via command: nosetests -v sklearn

Output Result:
[code]

[2015-08-26 17:05] leopd opened #5165 "t-SNE should expose convergence criteria"
In sklearn.manifold.TSNE, the parameter "n_iter_without_progress" is in the _gradient_descent method https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/manifold/t_sne.py#L114 is defaulted to 30, and there's no way through the public interface to change it.

On my data sets, this often causes it to stop too early, resulting in poor embeddings.  For example, I often observe identical i

[2015-08-26 17:53] izLHC opened #5166 "RedHat 6 install: "nosetests -v sklearn" produced "FAILED (SKIP=20, errors=6)""
I installed scikit-learn on a RedHat 6 machine using conda. Below is the output of install testing command

nosetests -v sklearn > sklearn.test.log.txt 2>&1

less all "... ok" lines

"LOCAL-MINICONDA-DIR" is the path to my root conda directory that also has Python 2.7.10 installed in it.

Questions:
1. How can I get rid of the errors?
2. Are these errors critical to running Naive Bayes components

[2015-08-26 20:58] agramfort commented on #5129
ok point taken. I think we agree more than we disagree ...

[2015-08-26 23:20] ajing commented on #5163
Is that possible to do multithreaded MiniBatchKMeans?

[2015-08-27 02:04] amueller commented on #5149
I don't have my bishop here, we should check the reference.
It just seems like a very odd formula.
I was assuming that this is just p(y|x) under the probabilistic model where p(x|y) is gaussian with shared covariance.

[2015-08-27 02:08] amueller commented on #5166
This is caused by #5045. Changes in scipy 0.16 broke some things in scikit-learn. They are fixed in master but not released.
You can used the scikit-learn development version if you want to get rid of the errors.
They are not critical for anything except maybe gaussian processes.

[2015-08-27 02:08] #5166 closed

[2015-08-27 02:35] #5033 closed

[2015-08-27 03:39] amueller commented on #5164
diff tells me: the fill color of two of the nodes is different.
![diff_json_graph](https://cloud.githubusercontent.com/assets/449558/9512090/c1041c04-4c4b-11e5-8282-25f11c35559f.png)

[2015-08-27 03:40] amueller commented on #5164
looks like a difference in rounding?

[2015-08-27 03:42] amueller commented on #5164
maybe @trevorstephens cares to have a look?

[2015-08-27 03:43] amueller commented on #5164
@huzq thanks for the report. I'm sorry to say that your tree visualizations will look imperceptible different then we intended ;)

[2015-08-27 03:57] jmwoloso opened #5168 "RFECV with SVC & kernel != 'linear' == ValueError"
I'm not even sure this is an issue worth mentioning, but thought I'd put it here in case anyone else ran into it. If you're specifying that SVC be used as the 'estimator' for RFECV and you have the SVC 'kernel' set to 'rbf', you'll get: "ValueError: coef_ is only available when using linear kernel". I haven't tested this with any other kernel setting like poly or sigmoid (my model is still running

[2015-08-27 03:57] jnothman commented on #5163
DBSCAN doesn't currently support parallel computation. What I would like it to support for this sort of case is a precomputed distance array where only sparsely many near neighbors are included, like the output of `NearestNeighbors.radius_neighbors_graph`. This would allow you to compute the radius distances over the entire dataset in your own time (or using scikit-learn's `pairwise_distances` whi

[2015-08-27 03:59] amueller commented on #5168
This is by design. It's not possible to use RFE with SVC with any other kernel. Maybe a good reason to add SBS http://rasbt.github.io/mlxtend/docs/feature_selection/sequential_backward_selection/ ?

[2015-08-27 03:59] #5168 closed

[2015-08-27 04:03] jmwoloso commented on #5168
Ok, cool. Sebastian's Ensemble Classifier from mlxtend sure is handy, so I have no doubt this would also be a fine addition! Thanks Andy!

[2015-08-27 04:06] trevorstephens commented on #5164
Interesting. I'm currently setting up a new box, but should be able to take a look some time this w.e. The difference is on the transparency calculation as it's the final two hex digits. Be handy to know the pip freeze versions on your system @huzq

[2015-08-27 04:07] amueller commented on #5168
he contributed the ensemble classifier to sklearn btw ;)

[2015-08-27 04:08] trevorstephens commented on #5164
I believe I used a base python implementation of hex byte encoding as py3 had deprecated the built in function that did it automagically. That might have some instability in it as a first thought.

[2015-08-27 04:09] jmwoloso commented on #5168
I know :D +1 for the addition! Haven't had a chance to take it out for a test drive...yet!

[2015-08-27 04:37] ajing commented on #5163
Yes, if sparse matrix is possible, the code won't have serious memory issue.

My implementation of distance function could be a possible bottleneck. If I can compute a sparse distance matrix, the distance function could just return some large value for most pair of points.

[2015-08-27 09:33] bruderjakob12 opened #5169 "sklearn.datasets.dump_svmlight_file multilabel support documentation"
Currently the class label must be an integer or a float. Lists as used for multilabel classification cause an exception.

Starting with line 289 I currently use this workaround:

         if hasattr(y[0], '__iter__'):
             line_pattern = u("%s")

     if query_id is not None:
         line_pattern += u(" qid:%d")
     line_pattern += u(" %s\n")

     if comment:
         f.write(b("# Gener

[2015-08-27 10:30] huzq opened #5170 "When make latexpdf, error will raise up"
Pre-requisitions:
Ubuntu 15.10 and 15.04
Reproduce steps:
1. Enter into "doc" folder by type cmd: cd scikit-learn/doc
2. Type cmd: make latexpdf
When building, following error will be pop up and the building process will halt to waiting users' input:
Error Information:
=========================================================
Overfull \hbox (14.79999pt too wide) in paragraph at lines 13509--13509

[2015-08-27 11:21] arthurmensch opened #5171 "LinearRegression memory leak"
Code :
[code]

Running either
[code]
or
[code]
the first time yields :
[code]
and the second time :
[code]
This is strange as it behaves differently the first time and the second time. We do not observe this increase in memory with `Ridge`. Could that be a memory leak ?

[2015-08-27 11:58] rsnape opened #5173 "Unexpected MemoryError from IncrementalPCA used with memmap"
Prompted by a [question asked in Stackoverflow chat](http://chat.stackoverflow.com/transcript/message/25344627#25344627), I investigated why a user would encounter a MemoryError when using the following minimal code:

[code]

I found that the MemoryError was called by [this call to `check_array`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/incremental_pca.py#L167

[2015-08-27 13:22] #5132 closed

[2015-08-27 14:13] ogrisel commented on #4811
There is also:  The Diagonalized Newton Algorithm for Nonnegative Matrix Factorization by Hugo Van hamme (http://arxiv.org/abs/1301.3389) [mentioned by @vene](https://github.com/scikit-learn/scikit-learn/pull/2540#issuecomment-29470426).

[2015-08-27 14:23] ogrisel commented on #5163
If you use a large enough `batch_size` (say couple of hundreds or thousands samples) and if you have built numpy and scikit-learn against an optimized BLAS implementation (e.g. OpenBLAS, MKL or a custom tuned ATLAS) you should be able to use all your CPUs when fitting a MiniBatchKMeans model. You can check with the `top` command.

[2015-08-27 14:28] kastnerkyle commented on #5173
git blame points the finger right back on me

@lesteve did you have any issues with this for nilearn?

I am probably OK with loosening the check_array to only run on things which
have dtypes which are not in {float16, float32, float64} though I am not
sure what the numerical implications are for 16bit - might not be enough
precision to get numerically identical results to true PCA.

On Thu, Aug 27

[2015-08-27 16:14] ajing commented on #5163
So I have to install OpenBLAS, and then build numpy and scipy.

[2015-08-27 18:16] vene commented on #4811
In my comment I claimed that this algorithm was shown to outperform CD. It doesn't look like that is accurate, the comparisons are only against multiplicative updates. No idea why I said that. Maybe I thought CD meant something else? Sorry!

[2015-08-27 20:27] amueller commented on #5170
I think we haven't had a clean latex build for a while....

[2015-08-27 20:30] ajing opened #5175 "Is there any way to avoid check_array()?"
This is not a bug, but I wonder whether there is a way to get around this..

I have a numpy X matrix with size (1455715, 2048). The numpy matrix X is in boolean, so it can fit into the memory of a 16G machine. I used MiniBatchKmean for the clustering, but it seems to do some conversion or create a variable in check_array() function. Is there any way to avoid this error? Or, I should switch to a ma

[2015-08-27 22:00] GaelVaroquaux commented on #5175
Most of the algorithms require floating point operations. So they do need
floats as input: they will not work with ints or boolean.

[2015-08-27 23:41] jnothman commented on #5175
I don't think this is a case of "most algorithms", rather that the specific
implementation of MBKM uses a Cython implementation that requires float64.
You could try modifying the Cython code for your problem, but I think we
would rather not generate and test code for all possible dtypes in the main
codebase.

On 28 August 2015 at 08:00, Gael Varoquaux <notifications@github.com> wrote:

[2015-08-27 23:55] jnothman commented on #5170
Actually, I think this should be working now.

On 28 August 2015 at 06:27, Andreas Mueller <notifications@github.com>
wrote:

[2015-08-28 00:54] huzq commented on #5164
@trevorstephens in case you need my pip freeze versions, I think I didn't install it on my machine, but I will have a check, however, I am out of office these days and did not take my Linux machine with me, so maybe you need wait for a few days... I will update the pip version ASAP. Thanks!

[2015-08-28 01:02] jnothman commented on #5163
Something else worth noting with DBSCAN is that it supports sample_weight.
If many of your points are nearly identical, you can represent them by
their centroid and weight the point in fitting DBSCAN clusters.

On 28 August 2015 at 02:14, ajing <notifications@github.com> wrote:

[2015-08-28 01:38] jnothman commented on #5170
Nothing to do with latexpdf. Problem of example using deprecated attribute that was recently removed. Fixed in 2ba124b

[2015-08-28 01:38] #5170 closed

[2015-08-28 03:26] amueller commented on #5170
really? after your toc fix? before it compiled but not without errors.

[2015-08-28 03:44] jnothman commented on #5170
IIRC, I fixed more than just TOC, but it certainly helps make the output
sane. The only "error" I get is "LaTeX Warning: There were multiply-defined
labels." which I assume is true of HTML as well... Some of the example
generation (also in the API ref) is a bit messy, but I have patches for
that coming soon.

On 28 August 2015 at 13:26, Andreas Mueller <notifications@github.com>
wrote:

[2015-08-28 05:37] akxlr opened #5176 "LogisticRegression assumes OvR for probability estimates when using cross-entropy error in multiclass problems"
When using `LogisticRegression` for multi-class classification with `multi_class='multinomial'` (i.e. cross-entropy error rather than OvR), I am finding that `predict_proba` gives incorrect probability estimates.

The weights are learned correctly but I think `predict_proba` assumes an OvR scheme and calculates the 2-class probability for each boundary using a sigmoid function and then normalises.

[2015-08-28 07:27] agramfort commented on #5176
for @TomDLT or @MechCoder

[2015-08-28 08:00] FRidh opened #5177 "0.16.1: Failing doctests on i686"
When using scikit-learn 0.16.1 with numpy 1.9.2 on i686 system certain doctests fail. They don't seem to fail on x86-64 systems though. I haven't tested with master.

In all cases what's missing is the dtype of the array. Here's an example:
[code]
and here's the log
http://hydra.nixos.org/build/25129295/nixlog/1/raw

[2015-08-28 10:49] rsnape commented on #5173
Hmmm, there may be deeper issues...  I was going to submit a PR based on patching like this (following your comment)

    check_type = np.float
    if X.dtype in (np.float16,np.float32,np.float64):
        check_type = X.dtype.type
    X = check_array(X,check_type)

This allows `memmap` objects of the three specific float `dtype`s to be checked without making a copy, while preserving the same func

[2015-08-28 11:08] phdowling opened #5178 "SGDClassifier performs worse when trained using partial_fit"
Not sure if this is really a bug, but it seems to be a tricky detail in the implementation of the SGDClassifier (possibly also others, haven't checked).

Calling `fit` on an `SGDClassifier` internally calls `self._partial_fit` with `n_iter=5`. When calling `partial_fit` straight away, `n_iter` is set to 1 on the internal `self._partial_fit` call (as one would expect). This leads to significantly w

[2015-08-28 11:36] kastnerkyle commented on #5173
Try reducing the minibatch size by setting the parameter batch_size to
something like 1000. It sounds like the default batch size is still too big
in this case but maybe I am reading the error wrong.

If the check array is an issue on the full, we could easily do it on a "per
minibatch" basis.

On Fri, Aug 28, 2015 at 6:49 AM, J. Richard Snape <notifications@github.com>
wrote:

[2015-08-28 12:43] rsnape commented on #5173
Ah - excellent suggestion. With the patch to the call to `check_array` and then setting explicit `batch_size` and `n_components`, the small example above works.  Without the suggested patch to respect the `dtype` in the original data, the call to `check_array` still fails (even with `batch_size` specified).

But once we're past that, it seems the `batch_size` setting ensures the `svd` works OK and

[2015-08-28 13:28] kastnerkyle commented on #5173
It is easier to just check at the start - if someone needs it per minibatch
we can move it then, since it should be equivalent. But (IMO)
IncrementalPCA of bool/int values is a poor idea anyways and upfront checks
are much more straightforward. inside the minibatch we might have to do a
lot of testing to be sure that calls to partial fit with different dtypes
give the same results...

Kyle

On Fri

[2015-08-28 14:35] lesteve commented on #5173
Sorry to be late on this one, but I don't remember getting this kind of issue

[2015-08-28 14:42] audiofeature commented on #4083
@mjbommar You said you suspect the reason for this problem is "You might have the Intel compiler installed and set as a default in environments like academic clusters. ". I have the same problem on a Scientific Linux release 6.6 (Carbon) system.
So what instead needs to be installed/configured, so I can tell the sys-admin to do so?

[2015-08-28 15:14] amueller commented on #4143
After my jab at this in #4552, I don't think this is a good idea any more.
The subsampling case can much easier be dealt with using a meta-estimator, and I haven't really found any other good application.
Most features, like the one OP asks for are very specific, and I feel these are better suited using meta-estimators. For the "preprocessing and postprocessing" of ``y``, you would need to attach

[2015-08-28 15:17] amueller commented on #3130
Not sure I understand this. Is it just calling ``np.clip`` but also with sparse matrix support?

[2015-08-28 15:18] amueller commented on #2575
closing as unspecific and we have voting classifier

[2015-08-28 15:18] #2575 closed

[2015-08-28 15:23] amueller commented on #896
should we close this in favor of #4811?

[2015-08-28 15:25] amueller commented on #389
I think we kind of decided on not changing that, right? @mblondel would be ok to close?

[2015-08-28 19:20] choldgraf opened #5180 "Allow LeavePLabelOut to stop early"
Right now LeavePLabelOut takes a set of labels as input, and goes through all iterations possible leaving `p` labels out. This can result in a LOT of possible permutations if you have lots of labels or if you're leaving lots of labels out on a given iteration.

It might be useful to have an `n_iter` parameter to stop the iteration after a certain number of goes in case the user basically just want

[2015-08-29 09:27] jnothman commented on #5180
See #4583 for something with the same intentions, but randomised.

[2015-08-29 12:43] mblondel commented on #896
Let's close it when #4852 is merged :)

[2015-08-29 12:44] mblondel commented on #389
Alright, closing :)

[2015-08-29 12:44] #389 closed

[2015-08-29 14:13] choldgraf commented on #5180
Ah that is precisely the behavior I was looking for. Thanks :)

[2015-08-29 14:13] #5180 closed

[2015-08-29 16:07] mblondel commented on #5169
This is possible in master:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/datasets/svmlight_format.py#L344

The docstring should be improved, though.

[2015-08-29 16:12] mblondel commented on #5171
See also #3762

[2015-08-29 16:23] christophebourguignat opened #5183 "Add a preprocessing.SumDiffFeatures()"
### Context

preprocessing.PolynomialFeatures exists, but there is no function to produce sums and differences of features. This is a type of classical feature engineering, sometimes used.

Would this be a welcomed new functionality ?

### Usage

Usage would be inspired by  preprocessing.PolynomialFeatures() :

class sklearn.preprocessing.SumDiffFeatures(sum=True, diff=True, include_bias=True)

Ge

[2015-08-29 20:43] sds-dubois commented on #474
Sorry for the delay..
I created the PR [#5185](https://github.com/scikit-learn/scikit-learn/pull/5185)

[2015-08-30 00:24] jnothman commented on #5183
I probably haven't worked in the right spaces to have seen this technique.
Could you use references to give me a sense of (a) its
popularity/commonness and; (b) how standardised the algorithm is?

On 30 August 2015 at 02:23, Christophe Bourguignat <notifications@github.com

[2015-08-30 09:47] olologin commented on #5115
Isn't it related to https://pythonhosted.org/joblib/parallel.html#bad-interaction-of-multiprocessing-and-third-party-libraries ?
Maybe you should just upgrade to python 3.4 or newer?

[2015-08-30 09:52] sebconort commented on #5136
sorry for the delay

https://github.com/sebconort/BUG-SKLEARN-MNB.git

[2015-08-30 11:57] eric-czech commented on #5115
Sorry went on a long vacation.  To answer your questions though:

1. re @jnothman : I put ```pickle.loads(pickle.dumps(function))``` in parallel.py and a print statement after it to make sure it was executing cleanly, and there were no problems there.  To be clear, GridSearchCV.fit called from the notebook still got stuck just as before with no change (except for the print statement I added showin

[2015-08-30 12:25] #5165 closed

[2015-08-30 13:11] #4296 closed

[2015-08-30 13:18] #3554 closed

[2015-08-30 15:44] agramfort commented on #5183
Same comment. Have you observed a real benefit of this on some data?

I also fear blowing up the size of the feature size when doing this, even
for mini batch learning.

[2015-08-30 16:17] christophebourguignat commented on #5183
Thank you for your comments. I would say it is not an academic algo, but more a "black art" empirical technic sometimes used during Kaggle competitions.

It can be used during an automated and systematic features generation phase. It is generally followed by a feature selection step, to remove correlated features (see references).

However, not so many people use it indeed, and this trick doesn't

[2015-08-30 16:32] glouppe commented on #5183
@christophebourguignat I think we should rather point to gplearn (e.g. https://gplearn.readthedocs.org/en/latest/examples.html#example-2-symbolic-tranformer), which implements this kind of algorithm using genetic programming.

[2015-08-30 20:44] #5176 closed

[2015-08-30 20:56] christophebourguignat commented on #5183
@glouppe Good catch. gplearn is more general, and should to the job (will try it).

And indeed gplearn developer is precisely the author of the first reference I mentioned : @trevorstephens  ;)

[2015-08-30 21:13] trevorstephens commented on #5183
:smile:

`gplearn` needs some attention for high memory use on larger datasets and/or larger symbolic equations (stick with heavy parsimony for now). I need more time in the day! v0.1.1 has been on the todo for a couple of months now. If you do try it out and have some feedback, please let me know on my repo's issue tracker.

On the original topic, I did find that brute-force feature creation help

[2015-08-30 22:21] arnavsharma93 commented on #1837
Any update on this?

[2015-08-31 01:50] jnothman opened #5191 "Missing from what's new @ August sprint?"
Some or all of these may have been merged in yesterday's sprint but not added to what's new (sorry, I don't have time to do it now).

* #5182 [MRG + 2] predict_proba should use the softmax function in the multinomial case 5 hours ago
* Merged #4881 [MRG + 1] add sample_weight into LinearRegression 10 hours ago
* Merged #4312 [MRG + 1] Friendly error on KNeighbors(n_neighbors=0 or not convertible t

[2015-08-31 05:59] hlin117 opened #5192 "Can't import PCA"
I apologize ahead of time if this bug exists only on my system. This has got to be the most odd error I've ever gotten. I can't figure out why I can't import PCA:
[code]
The current branch I am using is the master branch I have forked <a href="https://github.com/hlin117/scikit-learn">here</a>. There are no changes between my forked master branch and my local version of scikit-learn. Furthermore, m

[2015-08-31 15:40] amueller commented on #5177
Maybe we shouldn't be using ``np.int``. @larsmans you opened an issue about that, right?

[2015-08-31 15:44] amueller commented on #4549
closed in #5037

[2015-08-31 15:44] #4549 closed

[2015-08-31 15:50] larsmans commented on #5177
#5032, but it won't solve the problem. It looks like NumPy prints `int32` even when that is the native integer width...

A solution would be to pin the dtype to either int32 or int64. That would ease serialization as well. However, indexing might be slower on either 32-bit or 64-bit boxes.

[2015-08-31 16:07] amueller commented on #5177
Yeah, true. So just ``#doctest +ELLIPSIS``.

[2015-08-31 16:08] amueller commented on #5177
also, looks like we need 32bit CI. cc @ogrisel @GaelVaroquaux ;)

[2015-08-31 16:29] amueller commented on #5192
you need to call ``make`` in the main folder after checking out.

[2015-08-31 16:29] #5192 closed

[2015-08-31 16:55] hlin117 commented on #5192
Truly embarrassing that I totally forgot to do that. Thanks.

[2015-08-31 18:26] amueller commented on #5191
I just noticed LDA is missing from whatsnew, too :-/

[2015-08-31 18:35] amueller commented on #1837
same as in july ;) getting there.

[2015-08-31 19:11] amueller commented on #4083
@audiofeature you can always install a local version of anaconda for you own use.

[2015-08-31 19:21] amueller commented on #5178
Yes, this is desired behavior.
Comparing ``partial_fit`` and ``fit`` doesn't really make that much sense. Why do you use ``partial_fit`` if you can call ``fit``? ``partial_fit`` is meant to be called multiple times with multiple subsets of the data.
And you don't want to iterate over this subset of the data before moving to the next subset.

[2015-08-31 19:21] #5178 closed

[2015-08-31 19:23] amueller commented on #5183
I think ``FunctionTransformer`` is also a good way to go to implement these in a pipeline.
For other feature engineering, having a patsy formula interface would be nice, I don't think we want very specific transformers like these. I vote for close.

[2015-08-31 19:27] amueller commented on #5183
Some people love brute force function creation. But do you do it iteratively using feature selection?
It might be something interesting to add, but the transformer probably needs to be supervised, right?

[2015-08-31 19:56] amueller commented on #5171
The first time reads the ``y`` from disk, right? That should increase the memory (maybe not that much?). The second time it is already in memory.

Why do you think this is evidence for a memory leak?

[2015-08-31 23:30] jnothman commented on #1837
I think the elided "now that GSoC has concluded" might have been intended!

On 1 September 2015 at 04:35, Andreas Mueller <notifications@github.com>
wrote:

[2015-09-01 01:30] #5163 closed

[2015-09-01 04:54] GaelVaroquaux commented on #5171
For this to really qualify as a leak, you should repeat it many times and
see the memory increasing. What you may just be seeing is a small
difference on the way that the temporaries are handled and the memory is
garbaged collected.

If you repeat this, does the memory keep increasing?

[2015-09-01 06:23] GaelVaroquaux commented on #5183
+1

[2015-09-01 06:23] #5183 closed

[2015-09-01 12:12] garbas commented on #5177
@amueller or you can start using Nix :) ... i've fixed doctests on i686 at #5197

[2015-09-01 13:38] garbas opened #5198 "one test failing for i686"
any idea what could be wrong?

[code]

[2015-09-01 15:24] amueller commented on #5198
which version of scikit-learn are you using? Your path says 0.16.1 but this test is only included in the development version as far as I know. Maybe you have two versions installed?

[2015-09-01 15:50] garbas commented on #5198
@amueller sry should have been more specific. i have took 0.16.X branch (from github) and apply #5197 patch .. now i get above error

[2015-09-01 16:31] jackzhang84 commented on #5169
hi guys, I added a pull request:
added comments for y in dump_svmlight_file() method #5200
not sure how to link it to this post, so just leaving it here.

my apologies but this is my first-time contribution, so trying to learn here:)

[2015-09-01 18:29] #5175 closed

[2015-09-02 10:43] jnothman opened #5202 "Build process should check numpy and scipy meet minimum version requirements"
While we don't allow setuptools to automatically install numpy and scipy, and we recently (f41f2e47) inserted custom error checking for the case that they are not installed, we should also error out of the setup process if the minimum version requirements are not met.

[2015-09-02 17:49] amueller commented on #5175
Well, we have test code for many dtypes, but the default conversion is to float32. Most of the popular algorithms have Cython / C behind them.

[2015-09-02 18:00] amueller commented on #5177
Nix?

[2015-09-02 21:57] jakevdp opened #5205 "super() or no super()?"
I was trying to figure out whether I wanted to use super() or not in one of my projects, and decided to see how scikit-learn does it. I found the following:

[code]

That is, ``super(Base, self).__init__`` is used in 70 places in scikit-learn's core, while ``Base.__init__(self)`` is used in ten cases.

There seems to be broad disagreement about whether ``super()`` is [harmful](https://fuhm.net/sup

[2015-09-03 00:56] garbas commented on #5177
http://nixos.org/nix/

[2015-09-03 05:01] agramfort commented on #5205
i would use super unless I inherit from multiple classes

[2015-09-03 05:58] GaelVaroquaux commented on #5205
That's a funny answer. The whole point of super is to deal with multiple inheritance.

I don't have a strong opinion on whether to use super or not.

What I do believe is to strongly avoid multiple inheritance with methods present in both paths. In other words only rely on mixins. In such situations the usage of super or not does not matter.

For multiple inheritance with collisions, using super a

[2015-09-03 08:55] alexandreyc opened #5209 "Add apply method to GradientBoostingClassifier"
Hello,

Does it make sense to add apply method to GradientBoostingClassifier ? If so, is someone working on it ? I searched in issues and PR but found nothing...

Thanks !

[2015-09-03 13:38] jakevdp commented on #5205
Regardless of which side of the ``super()`` debate you come down on, everything I've read concedes that you should stick with one or the other. Any opposition to changing the stray dozen non-super cases to super to make things more consistent?

[2015-09-03 21:01] JPFrancoia opened #5210 "Get loadings factors from the LDA class"
For the class sklearn.decomposition.PCA, there is an attribute "explained_variance_ratio_ " which gives the percentages of the components.
In scientific publications, the percentages are often displayed along the axis, when the data are plotted.

Unfortunately, there isn't the same attribute for the sklearn.lda.LDA class, and I need them absolutely for a publication.

Is there a way to get them ?

[2015-09-04 08:01] arjoly commented on #5137
closed by https://github.com/scikit-learn/scikit-learn/pull/5144/files

[2015-09-04 08:01] #5137 closed

[2015-09-04 08:37] huzq commented on #5164
@trevorstephens so sorry that my Linux machine had crashed... Maybe I would not provide this information any longer, but I will still try it in other Linux machine and if still has issues, I will update this record.

[2015-09-04 10:02] ogrisel commented on #5177
We already have 32 bit builds on appveyor. I intentionally decided to not enable the docstests there because I did not want to have to manage platform specific print statements in doctests. Under windows we also have a different notation for long scalar integers: 1L vs 1 depending on the platform under Python 2. I don't think it's worth making our doctests unreadable or skip them on all the platfo

[2015-09-04 12:22] jmschrei opened #5212 "tree module improvements"
I am planning on submitting several PRs in an attempt to merge #5041 in slowly, with the ultimate goal being a clean implementation of multithreaded decision tree building so that Gradient Boosting can be faster. This means my PRs will be split between simplifying the code and including speed improvements.

The following are separate PRs which I'd like to merge in the near future.

- [ ] Add proxy

[2015-09-04 14:34] rsilvaco opened #5213 "Applying weights for two separate samples"
This is probably a very naive question, but I haven't been able to assign weights for specific samples.
Specifically, I have two root files (signal and background) which I transform into arrays using 'root2array'. These sample are then concatenated using 'X = np.concatenate((signal, backgr))'. The problem is that for the signal samples I have some weights that I calculated event-by-event that I wa

[2015-09-04 15:15] glouppe commented on #5212
I am +1 for your two first proposals.

I think more code should be factorized for sure. However I am not convinced about merging them. There is convenience in having different splitting strategies decoupled into different objects/methods/functions/whatever, but sharing with a common API. Having multiple strategies mixed into the same code is not a good thing in my opinion. For example, in addition

[2015-09-04 15:20] arjoly commented on #5212
This part is useful for tree built in depth-first wise with datasets having categorical features  or sparse features.

[2015-09-04 15:20] glouppe commented on #5212
Another thing that I would like to do, once @arjoly is done with #5203 and his next PR, is to split this huge `_tree.pyx` file into several files, so that it becomes easier to understand and review. I am adding that your list.

[2015-09-04 15:22] arjoly commented on #5212
+1

[2015-09-04 15:39] arjoly commented on #5212
I would add to your list all the criterion optimizations that you have done in #5041:
- pre-computing w * y_ik * y_ik and w * y_ik for MSE and friedmanMSE
- avoiding to re-compute total statistics
- avoiding to re-compute total weight .

All the 5 splitters has some common codes such as choosing which features to test for the next update, partitionning the sample array when a split is found or com

[2015-09-04 18:44] jmschrei commented on #5212
I have updated my list. I think it is appropriate to tackle each issue with a single corresponding PR sequentially. I will submit a PR for the reorganization as soon as #5203 is merged (which I will review tonight)

@arjoly my benchmarks have shown that constant feature caching makes building a single decision tree up to 20% slower on many datasets including MNIST and covtypes. However, I have not

[2015-09-04 20:32] olologin opened #5215 "NuSVC predict_proba result does not agree with predict results"
Something weird, i know that predict and predict_proba results is independent in NuSVC implementation, but i don't know if this is normal behaviour. Because sometimes predict_proba returns maximum probability not for same class that was returned by predict:
[code]
(array([ 50, 147, 208, 283]),)

[2015-09-04 21:10] olologin commented on #5150
I've tested all classifiers that have sample_weights parameter in fit, and have predict_proba method.
Looks like only SVC affected. NuSVC uses same implementation, but it will always throw exception "ValueError: specified nu is infeasible" if total sample weight of some class equals zero.

[2015-09-06 07:51] agramfort commented on #5215
probability for svm is done using random splits and sigmoid/platt
calibration. So it's expected.

[2015-09-06 09:16] #5215 closed

[2015-09-06 12:25] mattilyra opened #5217 "BaggingClassifier `decision_function` does not accept sparse matrix"
The docs for `ensmble.BaggingClassifier` say that `decision_function` takes an array like or sparse matrix as the `X` shape however passing in a sparse matrix throws a `TypeError` in `utils.validation.check_array`.

[2015-09-06 12:27] mattilyra commented on #5217
This seems like a relatively simple thing to fix and I'm happy to do it, but I'm not entirely sure what the best way of doing it is. I don't see any way of getting the accepted sparse matrix types from the `base_estimator`. Would a single call to `base_estimator.decision_function` inside a `try catch` do the trick, maybe passing in a small random matrix that has the same sparse type as `X`.

[2015-09-07 06:53] glouppe commented on #5217
It is not too difficult, but not so trivial either, because depending on the parameters you may have to subsample rows and/or columns from `X`.

[2015-09-07 07:43] mattilyra commented on #5217
The subsampling is already implemented. Both the `self.estimators_` and `self.estimator_features_` contain, as far as I can tell, index lists used for fancy indexing `X` in `_parallel_decision_function` and fancy indexing is supported by `csr` and `csc` sparse matrices, so it should be just a case of passing the `X` along to `_parallel_decision_function`.

Am I missing something?

[2015-09-07 08:15] glouppe commented on #5217
Yes, this is used for the dense case, and could indeed be reused here. Question is: how to do that efficiently while avoiding making too many copies of the data?

[2015-09-07 08:16] glouppe commented on #5217
(In particular, fancy indexing on sparse matrices is only supported on one the dimensions, right?)

[2015-09-07 08:48] mattilyra commented on #5217
No both `csr` and `csc` support fancy indexing on both dimensions.

    In [2]: X = sp.rand(10, 10, format='csr')
    In [3]: X[[0, 4, 7], [4, 2, 9]]
    Out[3]: matrix([[ 0.,  0.,  0.]])

    In [4]: X = sp.rand(10, 10, format='csc')
    In [5]: X[[0, 4, 7], [4, 2, 9]]
    Out[5]: matrix([[ 0.,  0.,  0.]])

    In [8]: X = sp.rand(10, 10, format='csc')
    In [9]: X[:, [3,5,9]]
    Out[9]:

[2015-09-07 08:56] glouppe commented on #5217
No okay, it should be fine then and the changes should be quite easy to do to add support of sparse format in Bagging.

At the time this was implemented, I was under the impression that fancy indexing was not supported on both dimensions, but obviously I was wrong (though, you should make sure this is indeed true for SciPy >= 0.9). I dont remember why we skipped the sparse support.

[2015-09-07 08:59] glouppe commented on #5217
Hmmm, looking at it more closely:

In [3]: X[[0, 4, 7], [4, 2, 9]]
Out[3]: matrix([[ 0.,  0.,  0.]])

Why is not a 3x3 matrix?

[2015-09-07 09:09] mattilyra commented on #5217
Cool I'll start a new branch for this then. Will need to get old versions of scipy installed though, which might prove to be a pain.

[2015-09-07 09:14] glouppe commented on #5217
@mattilyra Or may simply check that it works from the Travis build.

[2015-09-07 13:28] jmschrei commented on #5209
Hi alexandreyc

I have submitted a PR (#5222) addressing this issue.

[2015-09-07 16:20] mattilyra commented on #5217
Ok, I'm closing this issue as there is now a PR for it.

[2015-09-07 16:20] #5217 closed

[2015-09-07 16:47] andylamb commented on #5029
Is this still an open issue? Looks like the P.R. wasn't merged?

[2015-09-07 17:15] andylamb commented on #4687
This is still open?

[2015-09-07 21:37] jnothman commented on #5029
I think it's unclear what the benefits in fixing it are.

[2015-09-07 21:38] jnothman commented on #5029
(While fixing it may break current uses, however awkward.)

[2015-09-08 04:04] andylamb commented on #4921
Does this still need to get fixed?

[2015-09-08 05:57] glouppe commented on #5212
Please go ahead :)

[2015-09-08 05:57] naught101 opened #5226 "Reliable method of hashing a pipeline with intialisations and fit parameters?"
I'm trying to store a database of model metrics in a selection process, and it would be nice to have a way to create a unique ID for the model pipeline associated with each prediction, including initialisation parameters and fit parameters. It doesn't need to include the actual parameters in the ID - a hash would be fine, but I've tried hashing a pipeline with `hash()`, and it doesn't seem to prod

[2015-09-08 05:59] GaelVaroquaux commented on #5226
joblib.hash

[2015-09-08 06:19] naught101 commented on #5226
Ah, thanks. Is the reason they're non unique something to do with that numpy arrays are unhashable?

[2015-09-08 06:19] #5226 closed

[2015-09-08 08:54] atemysemicolon opened #5227 "extending Random Forest"
I would like to change the splitter, and instead of having a simple thresholding operation on the nodes, I would like to put an SVM in there. [As in http://refbase.cvc.uab.es/files/mvl2013b.pdf]

How do I go about doing this?
[Also forgive my obvious lack of concepts]

[2015-09-08 15:01] amueller commented on #5227
You can implement a splitter class in Cython.
But for this setup, it might be easier to implement the trees from scratch for your application.

[2015-09-08 15:01] #5227 closed

[2015-09-08 15:01] amueller commented on #5227
Also, please don't use the issue tracker for questions, you can use stackoverflow with the scikit-learn tag or the mailing list.

[2015-09-08 15:31] amueller commented on #4921
looks like it.

[2015-09-08 15:45] TomDLT commented on #4672
merged

[2015-09-08 15:57] amueller opened #5229 "Don't hard-code kernel parameters in Nystroem"
The current Nystroem kernel approximation interface is bad as it assumes some default parameters for certain kernels. It should get a dictionary of kernel_args instead, I think.
See #5211. This needs a deprecation.

[2015-09-08 17:33] #4672 closed

[2015-09-08 17:51] MechCoder commented on #5134
This was fixed

[2015-09-08 17:51] #5134 closed

[2015-09-08 18:14] MechCoder commented on #5213
You could maybe just use `weights = np.concatenate((weights, np.ones(background.shape[0])))` assuming that the signal and background are weighted similarly initially before you do the event-by-event weight calculation?

[2015-09-08 18:15] glouppe commented on #5044
Ping @jmschrei @arjoly : This is something to keep in mind with respect to #5212

[2015-09-08 18:42] amueller commented on #5177
I take your point. But test failures are bad. And 32bits doesn't seem that big of a deal to support.
I think the ellipsis are not that bad.

Does that mean you are -1 on this PR?

[2015-09-08 18:47] pieteradejong commented on #4639
Is there till a need for someone to take this on? If so, it seems like a great way to get started with scikit-learn - any pointers?

[2015-09-08 19:49] amueller commented on #5130
Fixed in #5167.

[2015-09-08 19:49] #5130 closed

[2015-09-08 19:56] amueller commented on #5205
I agree with @GaelVaroquaux on everything (that must be a first ^^). I'd be happy with removing the stray ones.

Not calling super implies to me that you want to be explicit because there is inheritance with collision.

[2015-09-08 21:01] amueller commented on #5191
Who was at the sprint? We definitely need to fix these before the sprint. I'll try to add some of them.
Btw, should we link the whatsnew entries to issues? Some projects do that, and it might be nice...

[2015-09-08 21:04] amueller commented on #5213
+1 for @MechCoder's solution.
Also, please ask question on stackoverflow with scikit-learn tag or on the mailing list.

[2015-09-08 21:04] #5213 closed

[2015-09-08 21:26] amueller commented on #5150
Thanks for checking.

[2015-09-08 22:00] amueller commented on #4639
@pieteradejong feel free to get started on this. Start by reading the multi-class and multi-label documentation and make sure to understand the differences  between multi-class and multi-label.

[2015-09-09 08:26] arjoly commented on #5023
Recently, I met one more people that was bitten by this. This person was very frustrated after loosing hours to understand what was happening.

[2015-09-09 08:39] mblondel commented on #5023
We could quickly implement both strategies (prefix and flipping sign back) in a branch and try them on an actual use case. This will probably help make our mind.

[2015-09-09 14:49] amueller commented on #4512
Unfortunately this didn't get fixed in #5152, as this is inside a function. High time we have common tests for functions [or deprecate them?].
@vighneshbirodkar would you mind giving this the same treatment as you did in #5152?
The warning should be adjusted and the behavior should be deprecated.

[2015-09-09 14:52] amueller commented on #5135
This is somewhat fixed in #5152. But the current behavior is still non-sensical. I think we should put a stop-gap in master for the next release.

[2015-09-09 14:54] amueller commented on #4877
Fixed via #5152.

[2015-09-09 14:54] #4877 closed

[2015-09-09 14:58] amueller commented on #4252
Fixed via #5152.
For the record, this now refuses 1d X in all estimators.
We don't have common tests for all functions, so functions might still do weird things, see #4512.

Should we close this, as it is fixed for classes? Having common tests for functions is a bit non-trivial.

[2015-09-09 15:09] amueller commented on #5023
well we had flipping the sign back in master. The main criticism was that it requires one line of code in GridSearchCV iirc.
I'm not sure implementing the prefix will help us decide, because it is more about user perception. The implementation is pretty straight-forward, right?
The question is just if users will be confused that we don't have mse, but instead negative_mse / -mse

[2015-09-09 16:59] mblondel commented on #5023
We should A/B test our API :)

I didn't know, when?

[2015-09-09 18:05] amueller commented on #5023
When we introduced the scoring. I thought you removed it in the refactoring.

[2015-09-09 18:15] mblondel commented on #5023
Strange, I'm my self +1 for flipping the sign back.

[2015-09-09 18:19] amueller commented on #5023
My bad, it was @larsmans https://github.com/scikit-learn/scikit-learn/commit/393b99636b7e151518134a4ee504d9aca5ae8408#diff-b1caa89fb43c7835879f68a3ec494560

[2015-09-09 18:29] larsmans commented on #5023
Yeah, that was me... +1 on the `neg_` prefix, I think I suggested that somewhere, too.

[2015-09-09 19:05] glouppe commented on #5212
Looking back at our implementation of GBRT, I realize that for most cases, when the loss is not the squared error loss, all values and statistics calculated at leaves are mostly calculated for nothing because they are anyway overridden by subsequent calls to `_update_terminal_region` in the loss functions.  This is certainly something to investigate to make boosting faster, but it may require chan

[2015-09-09 19:13] glouppe commented on #5212
In addition, I am under the impression that implementations of `_update_terminal_region` are not always very optimal -- the complexity of each leaf update is lower bounded by the total number of samples in the training set rather than the number of samples in that leaf, typically because of `terminal_region = np.where(terminal_regions == leaf)[0]`. I dont know if this is a real issue though. An op

[2015-09-09 19:41] amueller commented on #5173
``check_array`` now supports lists of dtypes: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/validation.py#L288
So the change is just ``X = check_array(X, dtype=[np.float64, np.float32, np.float16])``

[2015-09-09 19:55] amueller commented on #5169
closed via #5200.

[2015-09-09 19:55] #5169 closed

[2015-09-09 20:12] amueller opened #5235 "Ridge class weight failure on appveyor"
https://ci.appveyor.com/project/sklearn-ci/scikit-learn/build/1.0.2018/job/8tf9xbl5i9j2dcyp

[2015-09-09 20:20] amueller commented on #4701
closing as numpy error.

[2015-09-09 20:20] #4701 closed

[2015-09-09 20:21] amueller commented on #4646
Fixed by #5093.

[2015-09-09 20:21] #4646 closed

[2015-09-09 22:29] amueller commented on #4546
@arjoly close?

[2015-09-09 22:32] amueller commented on #4509
Fixed by #5152 (somewhat). It warns to use 2d X now and then breaks. I don't think we should back-fix this.

[2015-09-09 22:32] #4509 closed

[2015-09-09 22:33] amueller commented on #4466
Fixed by #5152.

[2015-09-09 22:33] #4466 closed

[2015-09-09 22:40] amueller commented on #4895
So still not sure what the preferred solution is. Just raise a ``TypeError`` on dictionaries? As long as the user didn't pickle, they worked fine, though.

[2015-09-09 22:45] amueller commented on #3728
Closing.

[2015-09-09 22:45] #3728 closed

[2015-09-09 22:46] amueller commented on #3641
Closing as no feedback in a year.

[2015-09-09 22:46] #3641 closed

[2015-09-09 22:47] amueller commented on #3616
Fixed via #4057.

[2015-09-09 22:47] #3616 closed

[2015-09-09 22:48] amueller commented on #3516
This looks fixed. Should we close?

[2015-09-09 22:50] amueller commented on #3252
Not sure why I labelled this "bug". This looks like a user error. Closing.

[2015-09-09 22:50] #3252 closed

[2015-09-09 22:54] amueller commented on #4732
Also see #1665.

[2015-09-09 22:56] amueller commented on #4415
Fixed via #4427 and #4428. If not, please reopen.

[2015-09-09 22:56] #4415 closed

[2015-09-09 23:26] amueller commented on #5004
@NoonienSoong are you still interested in working on this?

[2015-09-09 23:53] amueller commented on #5013
My new friend valgrind tells us
[code]

[2015-09-10 00:09] amueller commented on #5013
does the enet_coordinate_descent work on fortran and c ordered data and on data that is neither?
The function header doesn't specify any order. My first guess is that something with odd strides is passed in? cc @agramfort.

[2015-09-10 00:36] amueller commented on #5023
https://issues.apache.org/jira/browse/SPARK-10097 ^^

[2015-09-10 00:39] jnothman commented on #5023
They managed to close the issue in under 24 hours. Lol.

[2015-09-10 00:40] amueller commented on #5023
@larsmans why don't you like the other approach?

[2015-09-10 00:41] amueller commented on #5023
@jnothman They seem to be slightly more efficient then us lol. But I think they also have a couple of people full time on it.

[2015-09-10 06:53] arjoly commented on #4546
Maybe we should add either a test to ensure that there is at least two class in the test for binary classification or a label parameter to handle the case given above.

[2015-09-10 07:02] arjoly opened #5239 "Unstable test with random failure"
In `sklearn/ensemble/tests/test_forest.py`, we have the following test

[code]

This test is unstable and fails sometimes. There are two issues: the `random_state` is not fixed
and the test fails probably due to the bootstrap.

[2015-09-10 07:26] ogrisel commented on #4252
It's fixed for estimators which was the subject of this issue. Let's close.

[2015-09-10 07:26] #4252 closed

[2015-09-10 07:48] ogrisel commented on #5135
What stopgap do you have in mind?

On the current master we now have:

[code]

This looks fine to me, right?

[2015-09-10 07:56] ogrisel commented on #5135
BTW I fixed the deprecation message in 250507ffa6169a48da330e923872f93a28e1a92b.

[2015-09-10 09:32] arthurmensch opened #5241 "Merge joblib dtype + string hashing bugfix"
Would it be possible to merge joblib current master for 0.17 ? It contains a bugfix for cache invalidation with string/dtype containing objects, that would be very useful for projects built over scikit-learn with complex use of caching.

[2015-09-10 09:39] jmschrei commented on #5209
PR #5228 has been merged into master. To use the apply method, please checkout the master branch. Good luck!

[2015-09-10 09:45] larsmans commented on #5023
Because it requires adding attributes on functions, which at the time I deemed to hacky and complicated for custom metrics. However, I'm willing to drop that concern. We need to solve the issue one way or another.

[2015-09-10 12:20] #5209 closed

[2015-09-10 13:01] giorgiop opened #5243 "Collapsing PCA and RandomizedPCA"
Following discussions in #5141 we may want to collapse RandomizedPCA as an alternative solver into PCA with a `svd_solver='auto'` that would use `randomized_svd` whenever `n_components + n_oversamples < 0.8 * min(n_samples, n_features)`.

This reflects the implementation of [fbpca](https://github.com/facebook/fbpca).

[2015-09-10 13:09] giorgiop opened #5244 "add randomized_svd as a solver in IncrementalPCA"
Following discussions in #5141, we may want to add `randomized_svd` as an alternative solver to `IncrementalPCA`. In theory, this should speed up the decomposition batch by batch.

[2015-09-10 13:36] arjoly commented on #5212
I am updating the list to add the test about importance computations.

[2015-09-10 13:53] amueller commented on #5243
+1

[2015-09-10 13:59] kastnerkyle commented on #5243
I think it is a good idea - +1

On Thu, Sep 10, 2015 at 9:53 AM, Andreas Mueller <notifications@github.com>
wrote:

[2015-09-10 14:12] aesuli opened #5246 "Second call to SGD partial_fit fails in multiclass setup with averaging turned on"
Test code:

[code]

this last call fails with exception

[code]

This happens because est.standard_intercept_ is of size one instead of size three, as needed by the multiclass setup of the test case.

I have found the issue originates from [_fit_multiclass function in stochastic_gradient.py, line 485](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/stochastic_gradient

[2015-09-10 14:12] jakevdp commented on #5243
+1 – though of course we'd want to leave ``RandomizedPCA`` around as a wrapper for a couple releases.

[2015-09-10 14:19] amueller commented on #5135
It seems this got fixed somewhere between 0.16.1 and now. I don't know where, though, it is a bit odd. But let's close it.

I'm surprised by the number of deprecation warnings. I would have expected two, not six.

[2015-09-10 14:19] #5135 closed

[2015-09-10 14:21] jmschrei commented on #5212
[code]

Removing constant features caused things to slow down, but also caused a gain in accuracy for random forests. The difference could be due to changes to the features being randomly generated, as I changed `f_j = rand_int(n_drawn_constants, f_i - n_found_constants, random_state)` to `f_j = rand_int(f_i, n_features, random_state)`. I do get a 10-15% speed up on datasets which do not have cons

[2015-09-10 15:28] amueller commented on #4546
a ``pos_label``?

[2015-09-10 15:58] amueller commented on #5246
confirmed on master.

[2015-09-10 16:10] amueller opened #5248 "Add scaling to SGDClassifier"
SGDClassifier only really works well with scaled data. I think we should add some scaling to it by default.

[2015-09-10 17:21] amueller commented on #5241
in principle yes. @ogrisel opinions?

[2015-09-10 20:53] arjoly commented on #4546
I think that @jnothman in favor of a flexible labels argument.

[2015-09-11 06:11] glouppe commented on #5212
Thanks for checking!

[2015-09-11 07:10] arjoly commented on #5212
Thanks for checking @jmschrei !

[2015-09-11 09:15] TomDLT commented on #5013
The call to `cblas_ddot` that fails is [this one](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/cd_fast.pyx#L592):
[code]
It is strange that it uses `n_tasks` (which is based on `y`) for `q`.

[code]

Is it possible that `sizeof(DOUBLE)` changes on windows?
`y.itemsize` may be more robust.

[2015-09-11 11:30] jmschrei commented on #5212
A style question I have is why we are using SIZE_t, DTYPE_t, DOUBLE_t, double, UINT32_t, INT32_t, unsigned char, and int, as different datatypes in these modules. It seems excessively confusing. Would it be useful for one of these PRs to merge all these datatypes into SIZE_t for ints, DTYPE_t for 32 bit floats, and DOUBLE_t for 64 bit floats?

[2015-09-11 13:09] giorgiop commented on #3930
Is this still open? I am happy to take a look at this since I am working of some of those classes.

[2015-09-11 13:33] giorgiop commented on #5244
@kastnerkyle, wouldn't we already get a speedup using `scipy.sparse.linalg.svds` with `k=self.n_components_` instead of numpy's in `IncrementalPCA`, or am I missing something?

[2015-09-11 14:05] kastnerkyle commented on #5244
Maybe, I have not checked. If you are seeing a speedup and the numerical
accuracy tests pass then it is worth investigating. Also don't know how far
back svds goes, scipy version wise. Or if there is a switch point if
n_components is very close to the number of features, vs. when you only
keep one or two.

On Fri, Sep 11, 2015 at 9:34 AM, Giorgio Patrini <notifications@github.com>
wrote:

[2015-09-11 14:18] jmschrei commented on #5212
@arjoly I think I might've deleted your addition to the list about feature computations. If I did, can you re-add it at your convenience please?

[2015-09-11 14:27] giorgiop commented on #5244
I can find it implemented back in [scipy 0.9](https://github.com/scipy/scipy/blob/maintenance/0.9.x/scipy/sparse/linalg/eigen/arpack/arpack.py).

[2015-09-11 15:16] amueller commented on #5013
I'm not very familiar with that part of the code. It would be great if you could investigate. I'm sure @agramfort or @GaelVaroquaux know more.

[2015-09-11 15:27] ogrisel opened #5254 "Random failure of multiprocessing tests on AppVeyor"
Here is an example:

https://ci.appveyor.com/project/sklearn-ci/scikit-learn/build/1.0.2089/job/d3ftyxakgj8q0vgo

[code]

It happens both on Python 2.7 and Python 3.4, both with 32 bit and 64 bit, but randomly...

[2015-09-11 15:28] amueller commented on #5118
We should probably fix this for the release :-/

[2015-09-11 15:45] amueller commented on #3930
Yes, it is still open and needs a fix.
The problem is that I'm not sure what the deprecation path is for this. We probably don't want to just change the behavior.

[2015-09-11 15:51] eickenberg commented on #3930
+1

when I changed the behaviour of PCA, fixing what clearly was a bug, there
was feedback about how it broke a ZCA workflow ... So the deprecation needs
to be made very clear.

On Fri, Sep 11, 2015 at 5:46 PM, Andreas Mueller <notifications@github.com>
wrote:

[2015-09-11 17:06] h4k1m0u opened #5256 "Memory Error when fitting clustering algorithms to a large population (500M samples with just 8Go of Ram)"
Hi,

I'm trying to apply `k_mean` clustering and many other clustering methods (`gaussian mixture model`, `Mean shift`) included with `sklearn` on a large number of samples (500M), but I always get a `Memory Error` maybe because these algorithms requires data to be in `float 32` format which takes a lot of space.

Here is the error I get when I try to fit the `gaussian mixture model`:

[code]

Not

[2015-09-11 17:38] amueller commented on #5256
It depends on the number of clusters for k-means and the dimensionality of the data points.
Try MiniBatchKMeans and Birch.
Please ask questions like these on stackoverflow with scikit-learn tag or on the mailing list.
The issue tracker is for bug reports.

[2015-09-11 17:38] #5256 closed

[2015-09-11 19:23] amueller commented on #5191
Fixed in #5236

[2015-09-11 19:23] #5191 closed

[2015-09-11 19:25] amueller commented on #4888
Fixed in #4893.

[2015-09-11 19:25] #4888 closed

[2015-09-11 19:57] amueller commented on #406
Fixed in #4550

[2015-09-11 19:57] #406 closed

[2015-09-11 19:57] amueller commented on #1324
Fixed by #4828.

[2015-09-11 19:57] #1324 closed

[2015-09-12 07:15] glouppe commented on #5212
These are defined based on Numpy own types, not based on C types. I would not change that, since internal changes in Numpy might therefore lead to errors in our implementation.

[2015-09-12 07:47] jmschrei commented on #5212
I didn't mean physical merge them. I meant change all integers to be of type SIZE_t, rather than INT32_t, UINT32_t, unsigned char*, and int as well, and change all doubles to be of type DOUBLE_t or DTYPE_t appropriately. We'd use the numpy types.

[2015-09-12 07:59] glouppe commented on #5212
I would not do that systematically. In particular, SIZE_t should be used only for indexing arrays and cannot hold negative values.

What are the parts of the code that you find inconsistent? (In most cases, types were chosen for a good reason, but there may still be some places left were better types could used)

[2015-09-12 11:03] mattreid9956 opened #5259 "Dimensionality in GMM fit function"
Hi, I have been using mixture.GMM function as of sklearn 15.2. When I moved to 16.1, i found that my code no longer worked. I will paste an example of unexpected result.

[code]
Leading to:
Traceback (most recent call last):
  File "example.py", line 25, in <module>
    clf.fit( df[ "A" ] )
  File "/usr/local/lib/python3.4/dist-packages/sklearn/mixture/gmm.py", line 435, in fit
    (self.n_compone

[2015-09-12 17:26] amueller commented on #5259
Sorry for the breakage, that is on me.
Support for 1d input was inconsistent and we will deprecate it in 0.17.
Some functions interpreted 1d as features, others as samples. In the future, the user will need to be explicit which one they mean.
Doing  ``X.reshape(-1, 1)`` doesn't seem that bad to me (though I agree, if we consistently could do it automatically that would have been my choice).

[2015-09-12 17:28] #5259 closed

[2015-09-12 18:51] mattreid9956 commented on #5259
Thanks for the heads up, now i know that it will have to be done manually no problem at all. Seems a shame this cant be automatic as a simple if statement at the top of the fit function call would solve it
[code]
I am sure if it was that simple though you would have done it. Thanks again for your quick reply, really enjoying using sklearn! Awesome stuff.

[2015-09-12 22:52] jnothman commented on #4917
Btw, your code appears to be assuming that the default metric is euclidean. Currently `LSHForest` only supports cosine, so preprocessing by norming each vector isn't helpful!

[2015-09-12 23:18] jnothman commented on #4917
@maheshakya @daniel-vainsencher do you have any insight into why precision is so poor or what we could do about it? While we're trying (perhaps succeeding) to improve efficiency in #5099, the inability to obtain reasonable precision is a bit of a deal breaker. (Perhaps @amueller's right that this just hasn't been a success and we should cancel the project and instead ensure support / present examp

[2015-09-13 03:12] amueller commented on #5259
The problem is that some algorithms did the reshape the other way around and we can't really invert their meaning.

[2015-09-13 04:35] rvraghav93 commented on #5053
@amueller @vene @jnothman sorry for going back and forth (- wrt to a discussion at gitter) on this, but how does grouping `LabelKFold` and `KFold` sound to you?

i.e `LabelKFold === KFold.split(X, y, labels)` and `KFold === KFold.split(X, y, labels=None)`? (similarly for `ShuffleSplit`? )

Also if this sounds okay... we should think about how `StratifiedKFold` with labels should be considered? (Th

[2015-09-13 06:03] maheshakya commented on #4917
One major problem could be the generation of random hyper planes. At the moment, what we do is just call `GaussianRandomProjection` to generate hyper plane without considering anything about the data density and some of the hyper planes can be entirely useless. Maybe we should use some method to get hyperplanes where they could reside around the actual data points.

[2015-09-13 06:20] jnothman commented on #5053
I think a separate class. It's not just an option.

On 13 September 2015 at 14:35, Raghav R V <notifications@github.com> wrote:

[2015-09-13 06:22] jnothman commented on #4917
Given that LSH has so frequently built on random hyperplanes (and it allows
your model to be unaffected by changes in the space over time), it seems
strange that the competing approaches should get their gain from non-random
hyperplanes.

On 13 September 2015 at 16:03, Maheshakya Wijewardena <
notifications@github.com> wrote:

[2015-09-13 06:41] maheshakya commented on #4917
But it could have an impact on the precision, all the searches the algorithm does can be useless if majority of data points are at the same side of the hyper planes, and there's a high probability that some of the neighbors it produces could be just random points.

[2015-09-13 13:33] khalibartan commented on #5229
I would like to take up the issue if no one is assigned.

[2015-09-13 14:35] amueller commented on #5229
go ahead.

[2015-09-13 15:22] dnlbunting commented on #4688
Okay I created pull request for this (#5264). Is there a way to link the pull request with the issue?

[2015-09-13 15:50] amueller commented on #4688
you did by mentioning it there and here ;)

[2015-09-13 15:52] amueller commented on #5053
I also think a separate class would be good, if nothing else for visibility.

[2015-09-13 16:36] andylamb commented on #5248
Would scaling by default be unexpected behavior?

[2015-09-13 16:41] andylamb commented on #5248
Maybe add a `scaler` param that can be a function or object?

[2015-09-13 17:21] amueller commented on #5248
It's hard to know what users expect. It changes the meaning of the regularization parameter, but not much else.
@agramfort do you remember where the discussion of the normalize in the linear_models is? I currently only see #2601.

For the user to provide functions or objects is a bit inconvenient. Usually we would do strings or objects, so that the most common ways would be easily accessible.
Othe

[2015-09-13 17:22] amueller commented on #4989
closing as no feedback and likely broken installation.

[2015-09-13 17:22] #4989 closed

[2015-09-13 17:38] amueller commented on #4917
somewhat OT: I didn't mean to imply this can't be made to work. My concern was only that we promise something to the user and don't deliver. And we should either deliver, which might mean a significant amount of work [that I can't commit] or remove the promise. If someone has the time and expertise to improve performance, great. I only followed what happened superficially but it seems to be tricky

[2015-09-13 17:49] andylamb commented on #5248
With strings or objects (vs. a boolean), users could provide different scalers, like `MinMaxScaler`.

[2015-09-13 18:00] amueller commented on #5248
yeah that is why it would be nicer ;)

[2015-09-13 18:01] amueller commented on #5248
also it's unclear what to do with sparse / dense input. Not sure how that is done in the other linear models?
Maybe sparse is just not scaled? We could use MaxAbsScaler as default...

[2015-09-13 18:40] andylamb commented on #5248
`MinMaxScaler` should work for sparse input. Do other linear models include an option to scale? Didn't find any.

[2015-09-13 18:46] khalibartan commented on #5229
Actually I'm new to the community, so If you could help me out in this one.
I was thinking what I need is to get input parameters using a dictionary. Also raise an error if necessary parameters are not passed ? Also I was thinking of leaving random_state having a default value none because that will not affect anything as far as I have read.
Or is there other things I need to look into.

[2015-09-13 18:53] khalibartan commented on #5229
Actually I'm new to the community, so If you could help me out in this one.
I was thinking what we need is to get input parameters using a dictionary. Also raise an error if necessary parameters are not passed ? Also I was thinking of leaving random_state having a default value of none.

[2015-09-13 23:08] rvraghav93 commented on #5053
Okay! Thanks!

[2015-09-14 02:07] copyconstructor commented on #5202
@jnothman Looks like this issue's been fixed. I was wondering if this issue could be closed so that it doesn't show up when filtering for the need contributor label? Thanks!

[2015-09-14 02:39] andylamb commented on #5248
One more question is how this would work with `partial_fit`. I suppose it might make sense, depending on how large the initial dataset was.

[2015-09-14 03:22] MechCoder commented on #5248
Currently in the linear_models of scikit-learn is that the input data is normalized only if both fit_intercept and normalize is set to True. Also the normalize isn't `(X - X_mean) **2 / n`  but just `(X - X_mean) ** 2` (https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/base.py#L89). This was attempted to be fixed by @jnothman and me at https://github.com/scikit-learn/sc

[2015-09-14 03:32] MechCoder commented on #5248
Yes, they are provided in the `fit_intercept` and `normalize` option.

[2015-09-14 04:11] #5202 closed

[2015-09-14 04:26] MechCoder opened #5265 "Internally used functions and methods should have a private variant that does not do input validation"
Sometimes input validation is expensive and consumes a major portion of the time.

It might be helpful to have private methods that do not do any input validation with the public methods doing input_validation and wrappers around these private methods.

Example:
If we find `check_X_y` is consuming a major portion of time in `A` and is being used in B. It might be helpful to do this.

    def _A(X,

[2015-09-14 04:26] MechCoder commented on #5265
A good example would be https://github.com/scikit-learn/scikit-learn/issues/3807

[2015-09-14 07:03] mblondel commented on #5210
Solved for the eigen solver in #5216 but still need to be implemented for the SVD solver.

[2015-09-14 07:50] giorgiop commented on #5244
[Quick runtime test](https://gist.github.com/giorgiop/4b52f16163bd983828ce) on MNIST. There is margin for improvement for both the features, i.e. `randomized_svd` and `svds`1.

[code]

[2015-09-14 07:57] khalibartan commented on #5229
Actually I'm new to the community , so if you could help me out.
I was reading the metrics.pairwise script and I found that parameters for different kernels also have default value.
So do I need to raise  type error if certain parameters for specific kernel are not specified for example like gamma for rbf kernel because if user doesn't enter the value then default value given to arguments in pairw

[2015-09-14 08:27] jmschrei opened #5266 "gradientboosting loss function negative gradient"
I'm having some trouble understanding the `negative_gradient` method of the loss functions. They take in sample weights when they are called on line 746, but don't actually use them in the calculation, except for HuberLossFunction. Sample weights are also not an explicit parameter, instead being passed in as one of the arbitrary keyword arguments they take in. Is this correct behavior? Perhaps the

[2015-09-14 09:19] jmschrei commented on #5266
These loss functions also do not have unit tests written, and appear to be scaled incorrect (by a factor of 2) in several cases. Looking at `LeastSquaresError`, the squared error between 1 and 2 is 1, but the gradient should be 2. The negative gradient function returns -1, but the numerical calculation of the gradient (using machine precision) gives the correct negative gradient, -2.

[code]

Writ

[2015-09-14 09:21] glouppe commented on #5266
@jmschrei In general, the gradient boosting files need a lot of love :) This part of the codebase has been much less reviewed and improved than the tree and forest implementations. So yeah, unfortunately, don't be surprised that you find this kind of things.

[2015-09-14 09:52] arjoly commented on #5266
Good idea @jmschrei !

[2015-09-14 11:32] ogrisel commented on #5254
The problem disappeared in other pull requests over the WE so it's likely that the issue was caused by an infrastructure issue on the CI side. Closing for now. Let's reopen if that same error occurs again.

[2015-09-14 11:32] #5254 closed

[2015-09-14 12:05] vassilisp commented on #4864
Same here, using it for ROC curves, isclose groups all scores bellow a certain level creating plots with missing values below a certain fpr (below 1% for me)
This can be seen in the picture bellow, looking at the NB curve.

![t3-svm-p true -pro288955_sliding50100250_roc_curvelog](https://cloud.githubusercontent.com/assets/6600381/9849246/41bec636-5ae9-11e5-8d8d-a841aa454d8b.png)

I haven't found o

[2015-09-14 12:07] maheshakya commented on #4917
Was there any particular reason that we avoided vectorizing `searchsorted` in the binary search happening in `_find_matching_indices` function? It can be vectorized across queries AFAIK.

[2015-09-14 12:25] daniel-vainsencher commented on #4917
Sorry, I am missing some context. This is an *approximate* neatest
neighbour search datastructure, so presumably some level of error is
implied. Is there a particular benchmark (in high dimension) where we are
not on the pareto curve between precision and speed?
On Sep 12, 2015 7:19 PM, "Joel Nothman" <notifications@github.com> wrote:

[2015-09-14 12:57] TomDLT commented on #5246
[code]
In this line, `intercept` seems to be a mistake, since it is only the last values out of the loop [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/stochastic_gradient.py#L455).
It seems to be a copy-paste of [the binary case](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/stochastic_gradient.py#L433).

Based on that (and not

[2015-09-14 13:19] myflyinggip opened #5267 "Problem in Using LogisticRegressionCV"
Hi guys,

Not sure if anyone has experienced this, but LogisticRegressionCV seems to have some problems when the predictor matrix for training (e.g., X_train) is sliced from some bigger matrix. Apologies that I might be using some incorrect code markdown below but I'm trying to attach my example code. The code uses the digits data from sklearn. I put three possible ways of getting X_train and feed

[2015-09-14 13:32] daniel-vainsencher commented on #4917
Sorry, now I see the benchmark. At gsoc time, I seem to recall Lshforest
was competitive with annoy at dimensions 500-1000: I considered that a
significant success. But the current benchmarks are around 100, where doing
fewer comparisons helps less.

Is the implementation tested competitive with the end of GSoC one? Have you
tuned the number of candidates and number of indices?

Also, I have offer

[2015-09-14 13:47] arjoly commented on #4864
I would be in favour of removing the isclose. Other opinion ? (@jnothman)

[2015-09-14 14:07] jmschrei commented on #5266
Quick patch for the LeastSquaresError proposed in #5268.

As for the negative gradient, I can understand why there is no functional difference between using the sample weights or not, as the sample weights get passed into the tree anyway. Since the gradient of each point is independent of the gradient of the other points, it doesn't matter if you calculate them all and then ignore them later on. I

[2015-09-14 14:25] makemate opened #5269 "Overflow error with sklearn.datasets.load_svmlight_file()"
Scikit-learn version: 0.16.1 OS X Yosemite 10.10.5

I've created a SVMlight file with only one line from a pandas dataframe:

[code]

When I open the file in an editor the result looks like this:

0 qid:72048431380967004 0:1440446648 1:72048431380967004 2:236784985

When I try to load the file with query_id=True I get an overflow error.

[code]
OverflowError: signed integer is greater than maximum

[2015-09-14 14:36] ogrisel commented on #3596
Fixed by joblib 0.9.0b3 sync.

[2015-09-14 14:52] vassilisp commented on #4864
Correct me if I am mistaken, but just dropping the isclose can create a mess when dealing with big data sets (fpr and tpr arrays could become extremely large making almost certainly impossible to plot without some processing).

If people need to deal with such low score values, I can see 3 viable solutions taking into consideration that only a small percentage of users would ever hit that limit. G

[2015-09-14 15:01] erikbern commented on #4917
There was a "bug" in Annoy that was fixed later that may have caused the comparisons to show better performance than Annoy. Basically GCC 4.7+ would optimize away a loop and this would lead to garbage results in many cases – meaning it was pretty easy to beat Annoy. I'm quite sure that bug was present in these comparisons: http://maheshakya.github.io/gsoc/2014/08/17/performance-comparison-among-ls

[2015-09-14 15:08] andylamb commented on #5248
I think using a `scaler` property is a little bit more transparent than `fit_intercept` and `normalize`? Turning it on by default for `SGDClassifier` breaks tests though, so maybe not scale by default, but have the option. Other linear models don't scale by default, correct?

[2015-09-14 15:17] Gerenuk commented on #4864
Certainly 3) seems to be the cleanest solution. If you want to solve the plotting issue, then solve the plotting issue. Do not mess with the values beforehand. The plotting issue can be solved with different independent way. I believe Bokeh can even handle it without any user adjustment.

[2015-09-14 16:02] MechCoder commented on #5248
Sure. But is there any other advantage that I'm overlooking that can be done along with a Pipeline using StandardScaler?

[2015-09-14 17:38] daniel-vainsencher commented on #4917
@erikbern Maheshakya's comparisons you link to never show LSHForest competitive with anything at d=100; this is completely consistent with the results you got. What LSHF does (or did) well (dimensions around 1000), your datasets do not measure (though 1000 is in the range your principles specify). Speaking of datasets, a quick look does not tell me how many entries are in each dataset. LSHF did we

[2015-09-14 17:45] erikbern commented on #4917
That's a good point – I can review higher dimensional data too. I've been looking at word vector data – usually 1M words, 100 dimensional vectors. One aspect of that data is the distribution of vectors typically have a much lower "intrinsic" dimension and I think LSHForest doesn't pick that up as well as Annoy. If you looked at normally distributed synthetic data, in 100+ dimensions, I bet Annoy w

[2015-09-14 17:56] #4921 closed

[2015-09-14 20:58] amueller commented on #5267
All three variants give me an AUC of 0.824361495792.
Which version of scikit-learn are you using, what is your operating system, and can you try again with a fixed random_state?

[2015-09-14 21:28] mblondel commented on #5265
Or we could an option `input_validation=False`.

[2015-09-15 02:42] maheshakya commented on #4917
@daniel-vainsencher I can run the benchmark I used and let you all know.

[2015-09-15 04:01] andylamb commented on #5248
No, seems like it would be mostly for convenience.

[2015-09-15 04:15] MechCoder commented on #5248
Feel free to submit a pull request. Or if you are too busy, I can submit one and we can carry on the discussion from there.