[2020-06-04 13:31] danielpaz6 opened #17447 "Why the fill function doesn't work when using increasing the Y values"
I found this example:

[code]

And it creates this plot:

<img src="https://i.imgur.com/Owd18jD.png" />

But when changing the `f(x)` from:

[code]

to:

[code]

The standard-deviation of the predictive distribution isn't being displayed:

<img src="https://i.imgur.com/65lVC4B.png" />

But the amount of uncertainty should increase.

Why does it happen and how can I fix that problem to show valid S

[2020-06-04 13:32] glemaitre commented on #17436
I also thought that we made the header available such that it is easy to inherate and create a criterion. However, we did not document it and do not officially support it to still be able to make breaking changes at the low-level criterion.

[2020-06-04 13:46] rth commented on #17439
yes, I think keeping a `verbose` parameter working would still be useful.

I think it would be useful to think of logging in terms of callback (https://github.com/scikit-learn/scikit-learn/pull/16925). This is for instance done that way in keras as far as I can tell e.g. [here](https://github.com/keras-team/keras/blob/1cf5218edb23e575a827ca4d849f1d52d21b4bb0/keras/engine/training_generator.py#L89)

[2020-06-04 13:52] glemaitre commented on #3628
This level of parallelization would be a `prange` with `openmp` so it would be 2 levels of parallelization.
A potential use case is to use dask as a backend on the outer layer and use the underlying resources for the second layer.

I agree that HGBDT is the algorithm to use. However, the improvement would impact the three classes so, if the GBDT can be speed-up for "free" by having a `prange`, I d

[2020-06-04 14:57] adrinjalali commented on #3628
Yeah I think this should rather happen after the refactoring of the tree code, and I think once we get to doing that, we would also add the parallelization at the same time. So this can stay closed, but I don't think we'll get rid of the tree code or the old ensembles.

[2020-06-04 14:59] adrinjalali commented on #14582
I agree, I think the main objective of this issue has been achieved, and we can always further improve both of those documents.

[2020-06-04 14:59] #14582 closed

[2020-06-04 15:06] SyrusBG commented on #16701
Encountered the error as well. Updating to version 0.23 resolves the issue.
I first had version 0.21. And then upgraded it with:
pip install -U scikit-learn

[2020-06-04 20:57] TomDLT commented on #17447
The fill function does work. The reason it is not displayed is because the standard deviation is small. Now the question is "why is the standard deviation not scaled with `y` ? ". This is because the standard deviation is not directly computed based on `y`, but depends on the hyperparameters. If you scale `y`, you need to change the hyperparameter as well to get the same results.

Changing the ker

[2020-06-04 20:57] #17447 closed

[2020-06-04 21:23] koaning commented on #17374
I would to mention that I am happy to hear you folks are considering to add us as a related project.

I'll clarify the history a bit. A year ago me and @Mbrouns figured we should open source some of our tools. We'd been sharing notes for a while and found that we were both writing similar components at our clients. After a while we had created a small suite of tools inside of the project that were

[2020-06-04 22:07] aldee153 commented on #3846
HI, I will try to take on 'gaussian_process.kernels.Hyperparameter'.

[2020-06-04 22:52] Pimpwhippa commented on #14257
@getgaurav2  All checks have passed also on my PR https://github.com/scikit-learn/scikit-learn/pull/16464!
So now, besides waiting for the core-dev to come see, I can try to call the function in my test code? What else can I do?

[2020-06-05 03:11] minji-o-j opened #17451 "No module named experimental"
I want to use `HistGradientBoostingClassifier`
so I wrote a code like

![image](https://user-images.githubusercontent.com/45448731/83832709-3d29ce80-a725-11ea-9cb0-7c0b1e65fc41.png)

<br>

I found the `HistGradientBoostingClassifier` needs experimental module,

![image](https://user-images.githubusercontent.com/45448731/83832760-5894d980-a725-11ea-8d7a-c79b7b04ba70.png)
but the error occured...

<

[2020-06-05 03:21] jnothman commented on #17451
Are you sure that those installation commands are running in the same Python environment?

You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2020-06-05 03:21] #17451 closed

[2020-06-05 03:48] chutcheson commented on #13488
I think that this would be a really helpful change. Given the choice of a default virtual encoding for unseen values, I would rather it be the first value as opposed to the last value.

I feel that this is intuitive because you always know where the first value is without looking (e.g. if the default encoding were -1 or 0).

On a practical use case, I am converting categorical data to numeric data

[2020-06-05 05:20] getgaurav2 commented on #14257
@Pimpwhippa Let's call the function in your test cases and check for any failures - Thanks .

[2020-06-05 08:44] adrinjalali commented on #17439
My question is why would we need a `LogingCallback` if `logging` provides what we need?

[2020-06-05 08:45] lucyleeow commented on #10733
@cmarmo sprint?

[2020-06-05 08:59] adrinjalali commented on #15761
Figuring out what's left is probably a good place to start helping :)

[2020-06-05 09:04] nuka137 commented on #3846
Hi, I will work `linear_model.*`.

* linear_model.PoissonRegressor
* linear_model.TweedieRegressor
* linear_model.GammaRegressor

[2020-06-05 09:10] cmarmo commented on #10733
Yes! Except that I would be happier with a more accessible list of the remaining tasks: @ogrisel do you mind to link your comment in the description? Thanks!

[2020-06-05 09:13] rth commented on #17439
Well you need 1 object to call in estimators for printing / logging. Logging exposes several such objects including formatter, stream handler, logger. So we would need some container around it, unless we want to have them in the root namespace, and expect users to monkeypatch/update that for customization.

It also happens that do something like progress bars or convergence plots, would need callb

[2020-06-05 09:19] rth commented on #17439
Since none of the models currently use logging, maybe this is rather a stdout vs stderr issue. I'll try to investigate.

[2020-06-05 10:17] koaning commented on #17374
If folks agree that our package is can be mentioned on your list, @Mbrouns and myself would love to make the initial PR.

It deserves mentioning that @amueller reached out to us earlier (https://github.com/koaning/scikit-lego/issues/361), suggesting that we might be able to contribute some ideas back to sklearn. We're definately still considering this but @Mbrouns is currently swamped with organis

[2020-06-05 11:21] pgithubs commented on #15761
Hi, I've been looking through to see what's left, I think there are still some updates to make in some of the modules looked at previously.
I was going to work through these, starting with the cluster module and could raise a PR for each module as I go along?
This is my first contribution so please let me know if I'm not following the process correctly etc.
Thanks!

[2020-06-05 12:22] cmarmo commented on #10257
I'm closing as the PowerTransformer example doesn't exist anymore: @amueller feel free to reopen if I'm wrong.

[2020-06-05 12:22] #10257 closed

[2020-06-05 12:52] alfaro96 commented on #15761
This is the list of functions, classes and modules left to fix:

- [ ] `sklearn.feature_selection.SelectorMixin`
- [ ] `sklearn.config_context`
- [ ] `sklearn.set_config`
- [ ] `sklearn.calibration.CalibratedClassifierCV`
- [ ] `sklearn.cluster.OPTICS`
- [ ] `sklearn.cluster.SpectralClustering`
- [ ] `sklearn.cluster.affinity_propagation`
- [ ] `sklearn.cluster.cluster_optics_dbscan`
- [ ] `sklear

[2020-06-05 13:01] lucyleeow commented on #10529
@cmarmo sprint? :sweat_smile:

[2020-06-05 13:20] AnilKumarTeegala commented on #17417
I'm working on this

[2020-06-05 13:34] cmarmo commented on #10529
Hi @lucyleeow let's just wait one more day if @ArthurBook will answer, would you? Thanks for your help!

[2020-06-05 13:54] thomasjpfan commented on #17417
@AnilKumarTeegala If you are a part of the [sprint](https://github.com/data-umbrella/2020-sklearn-sprint/) (June 6th 2020), feel free to work on this.

If you are not part of the sprint, please wait to see if this issue is still open after the sprint.

[2020-06-05 14:11] thomasjpfan commented on #10733
This may be slightly harder since we usually block the `fetch_*` from running on the CI in pull requests.

[2020-06-05 14:47] AnilKumarTeegala commented on #17417
@thomasjpfan I'm part of sprint-2020

[2020-06-05 15:08] thomasjpfan commented on #17417
Which one are you working on? For starting off, it is recommended to have a small PR first to get use to how things work.

[2020-06-05 15:42] AnilKumarTeegala commented on #17417
Previously I've experience of creating PR's but it was my first PR in scikit learn and thought of this as easy like only updating the links to objects in docstrings can I work on it😊

[2020-06-05 15:57] thomasjpfan commented on #17417
You can work on this.

Please leave a comment on which estimator you are working on so others do not work in it as well.

[2020-06-05 16:29] AnilKumarTeegala commented on #17417
I'll work on the first four
[code]

[2020-06-05 19:51] jovo commented on #17341
i don't know if this is the same issue as you are pointing out @NicolasHug , but
https://scikit-learn.org/stable/modules/classes.html#module-sklearn.covariance
shows two copies of each function with different names.

[2020-06-05 20:54] bumblebee96 commented on #16558
![Screenshot from 2020-06-05 15-46-51](https://user-images.githubusercontent.com/28771246/83921782-c0a6e800-a744-11ea-8754-7b1aaa74aea2.png)

Would it be acceptable to just change the name in the "More" drop down menu from "Other Versions" to "Download Docs" that might make it easier to find.

[2020-06-05 20:54] Rodvi opened #17458 "fit_intercept=False in Ridge, Lasso and ElasticNet may be described better"
#### Describe the issue linked to the documentation

In Ridge model the description of `fit_intercept` parameter is the following:

1. I tried to fit several dense Ridge models with `fit_intercept=False` and it seems that the result doesn't depend on whether `y` is centered or not, if `X` is centered. It seems that Ridge centers `y` forcibly if `X` is centered.
Below is one of my experiments:

inp

[2020-06-05 21:00] Mariam-ke commented on #16951
I am going to work on this

[2020-06-05 21:59] TomDLT commented on #16558
I like that !

[2020-06-05 22:11] JosephTLucas commented on #12520
I'd like to do this for the June 6th Sprint.  Is it already solved with [PR 17414](https://github.com/scikit-learn/scikit-learn/pull/17414)?

[2020-06-05 22:24] thomasjpfan commented on #12520
Yes is it being worked on at #17414

[2020-06-05 23:06] JosephTLucas commented on #17345
Can I work on this for the June 6th Sprint?  I can do all three or just take one if other participants want to work on the others.  If I take one, I'll take [shuffle](https://scikit-learn.org/stable/modules/generated/sklearn.utils.shuffle.html).  It sounds like I would add random_state, and n_samples as keyword args.

If this is available, just let me know whether I should only do shuffle or can t

[2020-06-06 00:23] thomasjpfan commented on #17345
@JosephTLucas Let's do `shuffle` first. It would make it easier to review and it would be a good way to get started.

[2020-06-06 13:12] rtavenar commented on #14057
Would that be of interest if I opened a PR trying to implement this idea of dataset factory?

If so, should that factory be handled as a tag?

[2020-06-06 13:37] rth commented on #14057
Thanks for investigating @rtavenar ! I think a prototype implementation could be useful.

I imagine we could do something like,
 1. add `dataset_factory=None` parameter to all `check_*`
 2. define `default_dataset_factory(X_types="2darray", multioutput=False)` function (parameters to be determined) that would be used by default when `dataset_factory==None`. X_types value is obtained from estimator

[2020-06-06 14:04] rtavenar commented on #14057
Great ! I ll work on it and come back to you as soon as I have something.

[2020-06-06 14:25] martinoywa commented on #17417
Hi, can I work on the remaining three? I'm also part of the Sprint.
`sklearn.ensemble.BaggingClassifier`
`sklearn.ensemble.BaggingRegressor`
`sklearn.linear_model.RANSACRegressor`

[2020-06-06 14:49] amy12xx commented on #17197
Can I work on this one?

[2020-06-06 14:55] da-woods commented on #17299
FYI I don't think https://github.com/cython/cython/pull/3617 will really help with speed here - it just makes

    for xi in X:
	f(xi)

equivalent (speed-wise) to

    for i in range(n_samples):
	f(X[i])

You'd still be better off using your second version if you really need the best performance.

[2020-06-06 14:57] cmarmo commented on #17197
Hi @amy12xx, there is an open and active PR for this issue.
You can check the linked pull request ref on the right side of the page to verify if PRs are already linked.
![image](https://user-images.githubusercontent.com/1662261/83947369-c0771d00-a816-11ea-94e2-a0a7d4659435.png)

[2020-06-06 15:05] saurabhsjain commented on #17302
I'm working on this.

[2020-06-06 15:09] adrinjalali commented on #17302
Please choose a few of them, like a module or so, and comment and say which one you take @saurabhsjain

[2020-06-06 15:13] saurabhsjain commented on #17302
@adrinjalali  I can work on these modules:
* sklearn/impute/*
* sklearn/linear_model/*

[2020-06-06 15:17] kohakukun commented on #15761
Hi. I'll go try make a pass in the feature_selection documentation

[2020-06-06 15:40] saurabhsjain commented on #17302
@adrinjalali Completed sklearn/impute/* , sklearn/linear_model/*

Now working on:

* sklearn/metrics/_scorer.py
* sklearn/neighbors/_kde.py
* sklearn/preprocessing/*
* sklearn/svm/_classes.py

[2020-06-06 15:55] pardeep-singh commented on #17302
Hey, @adrinjalali I 'm working on the following modules:

-  sklearn/experimental/*
-  sklearn/feature_selection/*

[2020-06-06 15:57] krumeto commented on #17402
I am working on this starting from maxabs_scale and minmax_scale in sklearn/preprocessing/_data.py

[2020-06-06 15:58] muokicaleb commented on #17300
Hey, I'm working on this issue...

[2020-06-06 16:00] amy12xx commented on #9285
Can I pick this up for 6th June sprint? Is the acceptable solution raise a warning or an error for mixed types?

[2020-06-06 16:01] saurabhsjain commented on #17302
Completed:
* sklearn/preprocessing/*
* sklearn/metrics/_scorer.py
* sklearn/neighbors/_kde.py
* sklearn/svm/_classes.py

Now picking up:
* examples/decomposition/plot_beta_divergence.py
* examples/decomposition/plot_sparse_coding.py
* examples/ensemble/plot_gradient_boosting_early_stopping.py
* examples/ensemble/plot_

[2020-06-06 16:12] saurabhsjain commented on #17302
@adrinjalali Completed the following:
* examples/decomposition/plot_beta_divergence.py
* examples/decomposition/plot_sparse_coding.py
* examples/ensemble/plot_gradient_boosting_early_stopping.py
* examples/ensemble/plot_gradient_boosting_regression.py
* examples/ensemble/plot_isolation_forest.py
* examples/ensemble/plot_stack_predictors.py

Now picking up:
 * doc/datasets/index.rst
 * doc/develope

[2020-06-06 16:13] cmarmo commented on #9285
Hi @amy12xx , this is a quite old PR, I think that checking the behavior of the code snippet with the current version will be already really helpful! Then, you could probably start with raising a warning and see what core-devs will say. Thank you for tackling this!

[2020-06-06 16:14] Shuyib commented on #17304
Overall the getting started guide is okay. But In terms of consistency there are `Transformers and pre-processors` code snippet. It doesn't have comments like other examples especially the method fit() and transform() part.

[2020-06-06 16:14] amy12xx commented on #9285
ok I can do that

[2020-06-06 16:15] bsipocz commented on #10733
@lucyleeow and @cmarmo - do your comments about suggesting this issue for the sprint, or saying that you're planning to work on it?

[2020-06-06 16:15] NicolasHug commented on #17302
@saurabhsjain please make sure to submit the PRs before taking on new files ;)

[2020-06-06 16:16] saurabhsjain commented on #17302
@NicolasHug Ok. Doing it now.

[2020-06-06 16:19] amueller commented on #17442
You probably also don't want to install scipy from source, and should try to figure out why there is no wheel for your platform.

[2020-06-06 16:20] pardeep-singh commented on #17302
@adrinjalali Completed following and raised a pull request with changes:

- sklearn/experimental/*
- sklearn/feature_selection/*

PR: https://github.com/scikit-learn/scikit-learn/pull/17466
Can you please take a look at this?

Thanks!

[2020-06-06 16:20] cmarmo commented on #10733
Suggesting for the sprint. :)

[2020-06-06 16:25] rachel-fischoff commented on #17303
@NicolasHug @amueller I was thinking of changing the https://scikit-learn.org/stable/auto_examples/cross_decomposition/plot_compare_cross_decomposition.html#sphx-glr-auto-examples-cross-decomposition-plot-compare-cross-decomposition-py to the Matplotlib default colors. I wasn't sure if that's what was decided from the communication above. Thanks! This is also my first contribution to an open sourc

[2020-06-06 16:26] Shuyib commented on #17303
Hi, is this a matter of removing the c parameter to default? Also, could changing the transparency of the points help?

[2020-06-06 16:29] NicolasHug commented on #17304
thanks @Shuyib , would you like to submit a PR that adds a comment?

[2020-06-06 16:30] bsipocz commented on #10733
ok, then @tianchuliang and I would take this for the sprint

[2020-06-06 16:32] NicolasHug commented on #17303
@rachel-fischoff yes this one should be fine since there are only 2 colors you can go ahead! (comment below if you do please)

[2020-06-06 16:32] rachel-fischoff commented on #17303
I am working on this! https://scikit-learn.org/stable/auto_examples/cross_decomposition/plot_compare_cross_decomposition.html#sphx-glr-auto-examples-cross-decomposition-plot-compare-cross-decomposition-py

[2020-06-06 16:32] loldja commented on #17345
Take `make_pipeline`

[2020-06-06 16:33] thomasjpfan commented on #10733
When testing be sure to set `SKLEARN_SKIP_NETWORK_TESTS=0` and the fixtures in `sklearn/datasets/tests/conftest.py`.

[2020-06-06 16:34] violetr commented on #15761
We take the sklearn.mixture part

[2020-06-06 16:35] jaketae commented on #17345
Take `make_union`

[2020-06-06 16:37] amueller commented on #17303
I don't think this works for two colors if scatter is used:
[code]
![image](https://user-images.githubusercontent.com/449558/83949540-6f553200-a7f2-11ea-83d1-79366ae81f01.png)

[code]
![image](https://user-images.githubusercontent.com/449558/83949553-82680200-a7f2-11ea-9133-5650eaaf0ba3.png)

[2020-06-06 16:41] asubramaniyan commented on #17345
Take shuffle

[2020-06-06 16:41] amueller commented on #17303
The 'real' solution to using tab10 is:
[code]
![image](https://user-images.githubusercontent.com/449558/83949650-0e7a2980-a7f3-11ea-90d4-e1c969e0fce2.png)

which I think is ugly and hard to understand. I prefer the the current solution.

[2020-06-06 16:43] NicolasHug commented on #17303
`plt.scatter(X[:, 0], X[:, 1], c=y)`

that looks fine to me

[2020-06-06 16:43] thomasjpfan commented on #17345
all of the issues are taken here for now.

(Although there may be more that I have not found)

[2020-06-06 16:43] rachel-fischoff commented on #17303
I just removed the blue and red colors from https://scikit-learn.org/stable/auto_examples/cross_decomposition/plot_compare_cross_decomposition.html#sphx-glr-auto-examples-cross-decomposition-plot-compare-cross-decomposition-py and changed to the defaults. Was going to submit a PR. Just wanted to double check @NicolasHug @amueller
![Screen Shot 2020-06-06 at 12 41 57 PM](https://user-images.githubu

[2020-06-06 16:44] ab-anssi commented on #17345
We are already working on shuffle with @JosephTLucas .

[2020-06-06 16:45] amueller commented on #17303
That's fine with me. How did you do that? My method or another one?

[2020-06-06 16:45] asubramaniyan commented on #17402
Take normalize

[2020-06-06 16:46] ezebunandu commented on #9285
take sprint table 14 working on this.

[2020-06-06 16:46] NeilBotelho commented on #17402
Take quantile_transform

[2020-06-06 16:51] teonbrooks commented on #12542
it looks like the related PR is stale. I will build on this PR and take this for the sprint

[2020-06-06 16:52] kohakukun commented on #15761
Taking cross_decomposition part

[2020-06-06 16:53] Shuyib commented on #17303
I tried this as well. If you remove the colors set in the c parameter. That was the result. Here's for another example on LDA https://scikit-learn.org/stable/auto_examples/classification/plot_lda_qda.html#sphx-glr-auto-examples-classification-plot-lda-qda-py @amueller @NicolasHug
<img width="713" alt="Screen Shot 2020-06-06 at 19 49 21" src="https://user-images.githubusercontent.com/12908522/83949

[2020-06-06 16:54] amy12xx commented on #9285
@cmarmo we found the same issue persists.

Python 3.8.3 (default, May 19 2020, 06:50:17) [MSC v.1916 64 bit (AMD64)] :: Anaconda, Inc. on win32

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder().fit([1, 2, 'a', 'b'])
le.inverse_transform([0, 1, 2, 3])
array(['1', '2', 'a', 'b'],  #dtype='<U11')

Shall we go ahead and add a warning message to it?

[2020-06-06 16:54] CatChenal commented on #17402
Take robust_scale

[2020-06-06 16:55] emdupre commented on #14228
hi ! @annejeevan and I will work on documenting `n_jobs` for [forest models](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/_forest.py) as part of the data umbrella sprint.

[2020-06-06 16:56] mobigelow commented on #15761
For the 2020 Scikit-Learn Sprint, we're taking the sklearn.random_projection part

[2020-06-06 16:56] rachel-fischoff commented on #17303
thanks! I'm just running the test now. like @Shuyib I just removed the c parameter and it using its default colors.

[2020-06-06 16:57] cmarmo commented on #9285
Feel free to go with the warning... be ready to be asked for some changes... :)... that's life... Thanks!

[2020-06-06 16:58] NicolasHug commented on #17303
@rachel-fischoff since you made a change to an example you don't need to run the tests (we don't test the examples) so feel free to submit the PR right away.

[2020-06-06 17:12] Shuyib commented on #17304
Sure. I can work on that.

[2020-06-06 17:14] rachel-fischoff commented on #17303
I am working on this! https://scikit-learn.org/stable/auto_examples/linear_model/plot_logistic_multinomial.html#sphx-glr-auto-examples-linear-model-plot-logistic-multinomial-py

[2020-06-06 17:14] erodrago commented on #10733
take

[2020-06-06 17:16] thomasjpfan commented on #10733
@erodrago I believe @bsipocz and @tianchuliang is working on this.

[2020-06-06 17:16] violetr commented on #15761
@adrinjalali we completed sklearn/mixture

[2020-06-06 17:17] cmarmo commented on #10733
@bsipocz, @erodrago there is a number of function left, do you mind to specify on which one you are working? Thanks!

[2020-06-06 17:19] tianchuliang commented on #10733
@cmarmo @bsipocz and I will basically split 4 half and half; I will work on first 2, @bsipocz works on the second 2

[2020-06-06 17:22] parthsuresh commented on #15761
Working on the sklearn.linear_model for the sprint

[2020-06-06 17:23] abbiepopa commented on #17402
Take power_transform

[2020-06-06 17:23] tianchuliang commented on #10733
@cmarmo can we each make a PR since our tasks is pretty well divided? Or do you suggest one combined PR for this issue?

[2020-06-06 17:28] erodrago commented on #10733
@thomasjpfan sorry I picked it up since it was still on the to do pane.. okay will leave you guys to work on it

[2020-06-06 17:29] cmarmo commented on #10733
@tianchuliang @bsipocz I think that one PR per dataset fetcher will be easier to review. Thanks!

[2020-06-06 17:29] rachel-fischoff commented on #17303
Looks like the above example uses blue, red, yellow (bry) as the three main colors. See code below:

<img width="646" alt="Screen Shot 2020-06-06 at 1 28 26 PM" src="https://user-images.githubusercontent.com/59700665/83950560-ab3fc580-a7f9-11ea-8d35-aae8454366ea.png">

I'm not sure what other colors you'd like to use or what the three main defaults would be.

[2020-06-06 17:31] ab-anssi commented on #9193
We are going to work on this issue with @JosephTLuca. #DataUmbrella

[2020-06-06 17:32] krumeto commented on #17402
Can we agree on a template to use, so that we have consistency. I propose the following, but feel free to improve/propose something else:

    .. warning:: Risk of data leakage

        Consider using :ref:`Pipeline <pipeline>`. Using :func:`~sklearn.preprocessing.scale`
        *before* splitting data into training and test sets may lead to over-estimating
        the generalization performance o

[2020-06-06 17:32] erodrago commented on #12621
take

[2020-06-06 17:33] NicolasHug commented on #17402
I proposed a template above @krumeto ?

[2020-06-06 17:35] krumeto commented on #17402
@NicolasHug I thought it is more of a general guideline. OK, we will use it accordingly. Thanks and apologies if I caused confusion!

[2020-06-06 17:39] bsipocz commented on #10733
@erodrago - I've started to work on the 20newsgroup one, if you want to pick up `fetch_rcv1` just let me know so I don't duplicate the effort

[2020-06-06 17:41] NicolasHug commented on #17402
No worries @krumeto  your version is great but yes, let's stick to one

[2020-06-06 17:44] pardeep-singh commented on #3846
Hi, We will take ensemble.GradientBoostingClassifier

[2020-06-06 17:45] amueller commented on #17402
This warning doesn't apply to ``normalize``.

[2020-06-06 17:46] ab-anssi commented on #9193
@amueller :
Where should we add the example ?
In the [documentation of the train_test_split function](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) ? We think it is strange to add the example here since there will be no call to the train_test_split function. What do you think ?

[2020-06-06 17:48] pardeep-singh commented on #3846
We will take

This one already has an example.

[2020-06-06 17:49] pardeep-singh commented on #3846
This one already has an example.

We are now taking feature_selection.SelectorMixin

[2020-06-06 17:50] amueller commented on #9193
I would have added it to the user guide. Maybe at the end of https://scikit-learn.org/dev/modules/cross_validation.html#cross-validation-iterators though I'm not sure.
Maybe it could also be in https://scikit-learn.org/dev/modules/cross_validation.html but I think the first place is better.

[2020-06-06 17:52] tianchuliang commented on #10733
I've started workingon the first one, fetch_covtype

[2020-06-06 17:52] ab-anssi commented on #9193
Thanks @amueller ! we will look at your proposals.

[2020-06-06 17:54] jaketae commented on #10733
Hi, can we start working on `fetch_rcv1`? Just wanted to make sure there is no duplicate work being done before we begin.

[2020-06-06 18:00] JosephTLucas commented on #9193
Thanks, @amueller, after further investigation, we felt unqualified to create and place accurate documentation to close this issue.  Open for others to address!

[2020-06-06 18:00] bsipocz commented on #10733
@jaketae  go for it!

[2020-06-06 18:00] CatChenal commented on #17402
https://github.com/scikit-learn/scikit-learn/issues/17402#issue-628427452
Shouldn't this warning [listing all the given functions] be also placed in doc\modules\preprocessing.rst?

[2020-06-06 18:01] thomasjpfan commented on #10733
Be sure to look at https://github.com/scikit-learn/scikit-learn/issues/10733#issuecomment-640086273 when working on this locally.

[2020-06-06 18:04] NicolasHug commented on #17402
It should @CatChenal , but we'll take care of the User Guide later as the change will be a little more involved than just adding a warning

[2020-06-06 18:09] bsipocz commented on #10733
@thomasjpfan - a contextual question:

I'm not sure I fully understand what the desired data structure should look like.

[2020-06-06 18:15] asubramaniyan commented on #15761
Take sklearn.calibration.CalibratedClassifierCV

[2020-06-06 18:23] GeorMurk commented on #17300
Are all the issues solved or there's a pending one?

[2020-06-06 18:27] neinkeinkaffee commented on #15761
Working on this for sklearn.utils.validation

[2020-06-06 18:30] neinkeinkaffee commented on #15761
Next we'll be tackling sklearn.utils.random

[2020-06-06 18:32] mobigelow commented on #15761
working on sklearn.imputer

[2020-06-06 18:34] pardeep-singh commented on #3846
Hey @adrinjalali , Can you check the PR? Thanks!

[2020-06-06 18:35] annejeevan commented on #3846
@emdupre and I will work on below as part of the data umbrella sprint.

- neighbors.BallTree
- neighbors.DistanceMetric
- neighbors.KDTree

[2020-06-06 18:35] krumeto commented on #17374
I take that one as part of the June online sprint.

[2020-06-06 18:37] loldja commented on #11993
@jph00 Can you clarify how node-level would be useful? Is there literature on this you can point to?

[2020-06-06 18:43] madelgi commented on #15761
Working on `sklearn.tree.plot_tree`

[2020-06-06 18:44] tianchuliang commented on #10733
FYI: Started working on adding as_frame for fetch_kddcup99

[2020-06-06 18:50] amueller commented on #17445
tags?

[2020-06-06 18:57] Shuyib commented on #15761
I'm working on sklearn.preprocessing.StandardScaler, sklearn.preprocessing.RobustScaler and sklearn.preprocessing.RobustScaler

[2020-06-06 19:02] annejeevan commented on #3846
Hello @adrinjalali, Seems like we can already see some examples for below.  It's not updated in the todo list. Please suggest.

- neighbors.BallTree
- neighbors.DistanceMetric
- neighbors.KDTree

[2020-06-06 19:03] jaketae commented on #10733
@thomasjpfan Should the returned DataFrame have labeled columns? As noted in the comments above, I'm not entirely sure where to get the column labels (words) for the dataset.

[2020-06-06 19:04] madelgi opened #17497 "Formatting of multi-type arguments"
#### Describe the issue linked to the documentation

The current standard in the documentation is to separate the argument type parameters from the default values with a comma. However, this leads to confusion when there are more than two allowed argument types which are also comma separated -- for an example, see the `class_names` argument in the [`plot_tree` function](https://scikit-learn.org/st

[2020-06-06 19:22] thomasjpfan commented on #17445
I am not sure if we should do this. I am +0.5

[2020-06-06 19:24] amueller commented on #9285
The problem is that the dtype information is not available after initially converting the list to a numpy array. Generally we ignore this issue in sklearn and assume that it's fine to interpret whatever the user gave us as ``np.asarray(X)``. What we could do is call ``np.asarray`` here and if that returns a string array instead explicitly convert to dtype object. That would allow us to raise an er

[2020-06-06 19:25] amy12xx commented on #15761
Table 14 will take sklearn.neural_network

[2020-06-06 19:35] asubramaniyan commented on #15761
Take sklearn.kernel_approximation

[2020-06-06 19:36] icoder18 commented on #15761
Taking `sklearn.inspection`

[2020-06-06 19:50] amy12xx commented on #15761
Table 14 will take sklearn.preprocessing

[2020-06-06 20:18] mobigelow commented on #15761
Taking Config_Context

[2020-06-06 20:33] amy12xx commented on #15761
Taking sklearn.mixture #17509

[2020-06-06 20:36] alfaro96 commented on #15761
List updated.

Thanks you all!

[2020-06-06 20:48] parthsuresh commented on #10863
@genvalen and I would like to work on this. Any advice for where to start?

[2020-06-06 21:02] martinoywa commented on #17300
Hi, is it possible to get an updated list?

[2020-06-06 21:04] amueller commented on #10924
@kno10 kd-trees only work well in low-dimensional spaces though, right?

[2020-06-06 21:11] amueller commented on #9285
also see #17294

[2020-06-06 21:12] amueller commented on #12621
related to #17294 I think.

[2020-06-06 21:15] parthsuresh commented on #10924
I would like to work on this issue.

[2020-06-06 21:19] amueller commented on #10924
@kno10 So Pelleg shows that in 6 or more dimensions the naive algorithm is faster than theirs, and Kanungo doesn't report runtimes in more than 4 dimensions. Which makes sense, and using these kind of data structures in low dimensions makes a lot of sense, but the work I'm referencing above works also in higher dimensions.

[2020-06-06 21:34] CeeThinwa commented on #14228
Take sklearn/pipeline.py with @krumeto

[2020-06-06 22:08] genvalen commented on #15761
Taking sklearn.metrics for sprint

[2020-06-06 22:12] kohakukun commented on #15761
Taking model_selection module

[2020-06-06 22:33] don-prog opened #17514 "Consistent ColumnTransformer for intersecting lists of columns"
I want to use `sklearn.compose.ColumnTransformer` consistently (not parallel, so, the second transformer should be executed only after the first) for intersecting lists of columns in this way:

[code]

So, I want to use `SimpleImputer` for `'a'`, `'b'`, then `log` for `'b'`, `'c'`, and then `StandardScaler` for `'a'`, `'b'`, `'c'`.

But:

 1. I get array of `(4, 7)` shape.
 2. I still get `Nan` in

[2020-06-06 22:40] NicolasHug commented on #17300
Looks like it's all done! Thanks everyone!

[2020-06-06 22:40] #17300 closed

[2020-06-06 22:53] jnothman commented on #17514
You should use a Pipeline containing a ColumnTransformer, but we do
currently have the problem that the names of the columns are lost, so for
now you need to resort to numeric indexation of columns...

[2020-06-06 23:03] don-prog commented on #17514
@jnothman thanks for the quick reply! Please, can you provide a small example for the described case?

[2020-06-06 23:24] thomasjpfan commented on #10733
Let's not work on `fetch_rcv1` since the words are difficult to get.

[2020-06-07 04:40] thomasjpfan commented on #16845
For context, this should be updating:

https://github.com/scikit-learn/scikit-learn/blob/74b445efb7919571deeaf9c7df69ecce2a8d3fa8/sklearn/utils/validation.py#L570-L573

[2020-06-07 04:41] genvalen commented on #16845
take

[2020-06-07 09:19] Mariam-ke commented on #3846
Hi I will work on:

- decomposition.DictionaryLearning (#16907)
- decomposition.MiniBatchDictionaryLearning (#16907)
- decomposition.SparseCoder (#15233)

[2020-06-07 14:01] justmarkham commented on #17514
@don-prog Here's an [example](https://nbviewer.jupyter.org/github/justmarkham/scikit-learn-tips/blob/master/notebooks/37_pipeline_diagram.ipynb) of a Pipeline containing a ColumnTransformer. Here's a [separate example](https://nbviewer.jupyter.org/github/justmarkham/scikit-learn-tips/blob/master/notebooks/02_select_columns.ipynb) of selecting columns by integer position. Perhaps that will be helpf

[2020-06-07 14:34] nickcorona commented on #13488
That's not true though. Often times people use ordinalencoder because onehotencoder would expand the feature array too much and so filling in a variable with arbitrary numbers is a more space-efficient option that doesn't make too much of a difference in tree ensembles.

[2020-06-07 16:35] 9444819790 commented on #13228
@negrinij I updated my Anaconda and Spyder to the said versions, still, the same error persists for me. It does seem to be a problem with Ipython/spyder

[2020-06-07 17:30] justmarkham commented on #17514
@don-prog I think I understand what you are trying to do. Here's the code I would use:

[code]

I don't 100% follow what you mean by "static", "dynamic", and "intersect", so I might not be addressing your specific use case.

Hope this is helpful!

[2020-06-07 18:27] ollikahnstex opened #17524 "`max_features` parameter of BaseDecisionTree class rounds float to floor integer"
Class `BaseDecisionTree` allows parameter `max_feature` to be float. In this case `max_feature` shows the fraction of all features of training data. But the product is a real number, so the `int()` method is applied, which rounds the calculated result to the **floor** integer.

For example, if I got `11` features in trainng data and set fraction `max_feature = 0.25`, the product will be equal to `

[2020-06-07 23:03] yagi-3 opened #17525 "ValueError in SimpleImputer for string input with strategy='most_frequent'/'constant'"
#### Describe the bug
* List of strings raise ValueError in SimpleImputer with strategy='most_frequent' (also 'constant')

#### Steps/Code to Reproduce

[code]

#### Expected Results
[code]
#### Actual Results
[code]

#### Versions
[code]

[2020-06-08 09:45] MINIMALaq opened #17527 "Using lots of RAM in 0.23.1"
I was using sklearn 0.23.1 and most of the classification tasks failed because of exceeding usage of RAM. So I downgraded sklearn to 0.21.3 and everything works with this version of sklearn.

![Screenshot from 2020-06-08 14-09-33](https://user-images.githubusercontent.com/48186423/84016083-060c2500-a992-11ea-8c53-0c4da5546453.png)

[2020-06-08 10:14] rth commented on #17527
Please provide more information on the estimators you are using and the data size they are trained on.

[2020-06-08 10:18] frostymidwinter commented on #17426
Thank you for the support, but using the code you suggest it keeps returning the same error:

[code]
I keep thinking that should be a bug in the function.

[2020-06-08 10:18] alfaro96 commented on #17525
I can reproduce the error. Since the documentation says that `fit` and `transform` methods allow `array-like` (`list` or `ndarray`) as input, I suspect that this is a bug.

[2020-06-08 10:30] MINIMALaq commented on #17527
I have a bag of words. This is the shape of X_train_tfidf = 586513, 992015. The classifier = LogisticRegression. But I had the same problem with other classifiers like SVM and MultinomialNB.

I disabled swap and this is the usage of RAM with sklearn 0.21.3 is :
![Screenshot from 2020-06-08 14-56-55](https://user-images.githubusercontent.com/48186423/84020617-571f1780-a998-11ea-9736-88fed717a6ca.pn

[2020-06-08 10:38] rth commented on #17527
For logistic regression see https://github.com/scikit-learn/scikit-learn/issues/17125

Which estimator exactly? There are several for SVM.

[2020-06-08 10:43] MINIMALaq commented on #17527
This is the detail of using SVM:
text_clf_svm = Pipeline([('tfidf', TfidfVectorizer(ngram_range=(1, 3))),
                         ('clf-svm', SGDClassifier(loss='hinge', penalty='l2',alpha=1e-3, max_iter=5, random_state=42))])

[2020-06-08 11:20] yagi-3 commented on #17525
@alfaro96 Thank you for your comment!

I tried to fix the issue at PR #17526.
I would be grateful if you could check the PR when you have time. m(_ _)m

Any suggestion is welcomed:)

[2020-06-08 12:08] NiMaZi commented on #17382
Hi @glemaitre , thanks for replying. I understand that this is not exactly what the algorithm was designed & developed for. I just want to bring this problem to the record, since there might be other people struggling to debug when this behavior happens.

I would also suggest, if it is not a big trouble, that a simple declaration/warning can be added to the documentation of OneClassSVM, to make th

[2020-06-08 14:21] #17182 closed

[2020-06-08 15:18] lorentzenchr commented on #17411
@jdprusa I like your proposal.
I see a use case when data is aggregated/grouped (example: n=100 trials with feature X=1 and success rate 0.8, n=50 trials with feature X=2 and success rate 0.7, ...) which makes it hard to use with current `LogisticRegression`.
At first sight, I see the following options:
1. Implement _logistic regression_, as @jnothman suggests, with the help of `class GeneralizedL

[2020-06-08 16:14] #12542 closed

[2020-06-08 16:47] elliothershberg opened #17531 "Add additional notes to MacOS build instructions"
#### Describe the issue linked to the documentation

I followed the [instructions](https://scikit-learn.org/stable/developers/advanced_installation.html#macos) for building scikit-learn from source on MacOS so that I could be set up to make contributions. My build succeeded, but with `--verbose` flag, I got a huge amount of information and deprecation warnings on my console during compilation.

In

[2020-06-08 18:44] don-prog commented on #17514
@justmarkham unfortunately this is not what I want :(
Let's try it differently. Here is another way to do what I want, but it causes an error.

[code]
Output:
[code]
How can I make this work?

[2020-06-08 18:52] amueller commented on #17283
ok let's close then.

[2020-06-08 18:52] #17283 closed

[2020-06-08 19:00] amueller commented on #5736
wanted to link this to #14269 which is basically the same for `Ridge`

[2020-06-08 19:05] amueller commented on #17438
Not sure who added the example, @GaelVaroquaux maybe? Not sure if I'm missing something or if we should just change it.

[2020-06-08 19:16] justmarkham commented on #17514
@don-prog In `ct2`, specify the `cols_3` columns by integer position, not by name.

[2020-06-08 19:23] alfaro96 commented on #17374
Should be this closed?

[2020-06-08 19:37] acharles7 commented on #17524
The `round()` itself return `int` when we omitted `ndigits` argument  of `round()`  function. we don't need to cast the result in `int`

[2020-06-08 19:49] amueller commented on #17527
That's somewhat surprising. Can you reproduce that on a public dataset?

[2020-06-08 19:51] amueller commented on #14338
I think the problem is that no-one has an idea how to solve it, right?

[2020-06-08 19:52] #17374 closed

[2020-06-08 19:59] sergeyf commented on #14338
I would also vote for (b), and add my previous conclusion: `My intuition is that we should switch to the L2 version and raised the default tol.`

[2020-06-08 20:04] GaelVaroquaux commented on #17438
Looks clearly wrong to me. Thanks for flagging it. f_regression should be changed to f_classif

[2020-06-08 20:39] don-prog commented on #17514
@justmarkham thanks, it works!

[2020-06-08 21:31] ngojason9 commented on #10863
I'm an MLH Fellow and would love to work on this as my first PR for scikit-learn! @amueller

[2020-06-08 21:36] kylegilde commented on #12525
Here is my contribution to the short-term solution. It coerces all the different array types to lists, and it handles the case of SimpleImputer(add_indicate=True). It's also a little more verbose.

def get_column_names_from_ColumnTransformer(column_transformer):
    col_name = []

    for transformer_in_columns in column_transformer.transformers_[:-1]: #the last transformer is ColumnTransformer's

[2020-06-08 22:01] ngojason9 commented on #8695
hey is someone working on this? Can I pick this up?

[2020-06-08 22:15] thomasjpfan commented on #17524
This is about how we interpret `max_features`. If  `max_features` is 2.75, then I would consider this my upper bound and the algorithm would not go above this value. This in case, since we are restricted to integers, the upper bound would be 2.

As for the forest case, I think we are not consistent with our rounding behavior. For the `RandomForest*`, it would be worth it to put in the docstring th

[2020-06-08 22:35] thomasjpfan commented on #17531
Given that building from source is developer focused, I think the `--verbose` is useful for developers. Without this flag, `pip install ...` outputs almost nothing.

On OSX, the deprecation warnings could be valid https://github.com/cython/cython/issues/3474 . Furthermore, the `--verbose` allows us to see compile time warnings that is useful for developers.

[2020-06-08 23:11] don-prog commented on #17514
@justmarkham also, a problem may arise when the columns change their order. So, I want to use `FunctionTransformer` for columns selection:

[code]

But get this output:

How can I fix it?

[2020-06-08 23:13] ollikahnstex commented on #17524
Yes, really, `round()` will be enough! I edit the issue

[2020-06-08 23:16] elliothershberg commented on #17531
Got it. So do you use this flag each time you build from source?

[2020-06-08 23:26] thomasjpfan commented on #17531
Yes, it can be shorted to `pip install --no-build-isolation -v -e .`

(If I want to rebuild C/Cython modules: `python setup.py build_ext -i -j 7`)

[2020-06-08 23:28] ollikahnstex commented on #17524
Thanks for this kind of view!
As for `max_samples`, did I understand you correctly that it should be left as is, but the docstrings should be clarified?

[2020-06-08 23:31] elliothershberg commented on #17531
Alright, sounds like this isn't an issue then. Thanks for the response 👍

[2020-06-08 23:31] #17531 closed

[2020-06-09 00:24] acharles7 opened #17538 "Redundant int() method"
#### Describe the workflow you want to enable
Right now, In [sklearn/ensemble/_forest.py](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/_forest.py#L106)
[code]
Python's inbuilt [`round()`](https://docs.python.org/3/library/functions.html#round) function `round(number[, ndigits])` returns int (after rounding) when we omitted `ndigits` argument. we don't need to cast the

[2020-06-09 02:15] thomasjpfan commented on #17524
Yea, I would not expect my bootstrap sample to go above the `max_samples` limit. Although, I feel like it would not be worth it to change the behavior, so an update to the `max_samples` docstring would make it more clear.

(Changing the behavior results in different models being trained when a user updates scikit-learn)

[2020-06-09 03:23] #17063 closed

[2020-06-09 05:48] hdkjain commented on #17458
I would like to work on this issue. Should I proceed?

[2020-06-09 06:29] 2796gaurav commented on #17286
Hi @jnothman @glemaitre i think we should provide better examples in the documentation. Let me know if you really want this. I can make PR

[2020-06-09 06:54] #6779 closed

[2020-06-09 07:48] 2796gaurav opened #17540 "Doc: empirical covariance is biased but in doc it says unbiased"
Raised in #17119 but I think it needs to be addressed.

If its right I can make PR

[2020-06-09 08:19] adrinjalali commented on #14338
We could also:
- allow a callable stopping criterion for users to fine tune it
- accept an `iteration_hyperparams` parameter which gives the hyper parameters to the base estimator at each iteration, based on the iteration number and loss maybe? This can be a list of length `n_iter` of dict of params or a callable giving the new hyper parameters at each iteration.

Wouldn't that be flexible enough?

[2020-06-09 08:57] kunfuster commented on #10533
Hello all,

Could someone please summarize what the workaround for this issue?

I am experiencing a similar situation as the one mentioned at the beginning of the post.

I saw that someone could workaround it with the information on this link:
https://github.com/scikit-learn/scikit-learn/compare/master...bogdad:updating_external_joblib_to_1c57c18e9?expand=1

%env LOKY_PICKLER='cloudpickle'
import

[2020-06-09 09:10] #17538 closed

[2020-06-09 10:15] GaelVaroquaux opened #17542 "plot_tree is brittle to changes in mpl.rcParams"
The output of sklearn.tree.plot_tree can be made unreadable by some changes to the matplotlib params.

The most blatant view of this problem is after importing pandas_profiling, which alters significantly the rcParams:
[code]
The first plot is legible
![image](https://user-images.githubusercontent.com/208217/84135829-bc334580-aa4a-11ea-9d4f-b5f7a19571e8.png)
but not the second one
![image](https:/

[2020-06-09 10:21] GaelVaroquaux commented on #17542
To debug the problems, the following code to figure out what is changed in the rcParams might be useful:
[code]

[2020-06-09 10:37] fuster-10 opened #17543 "Python hangs while exploring a GridSearCV with n_jobs=-1"
Dear all,

I have been encountering the issue mentioned in the description for a while and as the [10533](https://github.com/scikit-learn/scikit-learn/issues/10533) where the issue is discussed does not present a clear **solution for Windows**, I decided to post it here.

Firstly, **the piece of code that runs in two the issue** is the following:
`    qrf = RandomForestQuantileRegressor(n_jobs=-1)

[2020-06-09 10:38] cmarmo commented on #17542
Hi @GaelVaroquaux , just to confirm, are you using the development version from master? #17187 was meant to fix some similar problems (in particular with seaborn).

[2020-06-09 11:48] GaelVaroquaux commented on #17542
Indeed! I had messed up my venvs and had pulled in the latest release instead of dev. It's much better: this now looks like:
![image](https://user-images.githubusercontent.com/208217/84143978-c6a80c00-aa57-11ea-824d-c4ae993e0adf.png)

I don't know if the above is acceptable, and we should close this issue, or if we want to improve (I find the lines too thin, and I think that I would prefer having

[2020-06-09 11:56] glemaitre commented on #17442
I am closing then

[2020-06-09 11:56] #17442 closed

[2020-06-09 12:36] kunfuster commented on #17543
I addition to what I said previously, now Jupyter notebook presents a more stable behaviour. If I shutdown the Kernel it responds quite fast and the CPU usage decreases to a normal level unlike to what was happening previously.

[2020-06-09 13:54] lucyleeow commented on #17303
FYI the 3rd and 4th colours for 'tab10' are green and red and are not very colour deficient friendly. This is the simularted appearance for deuteranomaly. The colours are the first 4 from 'tab10':
![image](https://user-images.githubusercontent.com/23182829/84155912-31157800-aa69-11ea-8ba8-55f0482afdeb.png)

(from https://github.com/scikit-learn/scikit-learn/pull/17443#issuecomment-640460465)

Dark

[2020-06-09 14:06] #17525 closed

[2020-06-09 14:09] reshamas commented on #15761
@glemaitre Can we update the description of this to include it would be best to submit one file at a time?

[2020-06-09 15:44] kno10 commented on #10924
Yes, the k-d-tree based approaches do not seem to be competitive in high-dimensional data. But in low-dimensional data, they can run in less than _N*k_ distance computations (that is not O notation). K-means++ initialization can take longer than these algorithms on low-dimensional large data.

[2020-06-09 16:21] alfaro96 commented on #17417
Hey @thomasjpfan!

Since all docstrings are already linked to their objects, I think that this issue should be closed.

[2020-06-09 16:41] don-prog commented on #17514
@justmarkham the error says that I can't use callable, but according to the docs I can use it with a `make_column_transformer`. So, what should I do?

[2020-06-09 16:57] thomasjpfan commented on #17417
Thank you everyone for working on this issue!

[2020-06-09 16:57] #17417 closed

[2020-06-09 17:07] alfaro96 commented on #17497
IMHO, I do not think that the current standard to specify argument types leads to confusion. However, let us see what other people think about.

[2020-06-09 17:31] cmarmo commented on #8589
Hi @jnothman, I was trying to resume #8601 and merging conflicts led me to #12803 from @thomasjpfan. My understanding is that this issue and #12309 addressed the same problem, now solved. Am I wrong? Thanks for your patience.

[2020-06-09 18:02] #17320 closed

[2020-06-09 18:08] justmarkham commented on #17514
@don-prog It sounds like you have some specialized needs that I don't quite understand, so I won't be able to provide the code you are looking for. However, here are a few tips that may be relevant:

- Now that ColumnTransformer exists, I can't think of a case in which writing a custom `select_col` function is necessary, so I don't recommend pursuing that path.
- If you are going to pass a callabl

[2020-06-09 18:29] acharles7 commented on #17524
@ollikahnstex If you don't mind can I take this for PR else you can make PR. So we can close this issue.

[2020-06-09 18:46] Fish-Soup commented on #13106
Do you think we could extend this to gradient boosted model trees.

I found the following papers/git hub repos

[https://github.com/ldv1/LinXGBoost](https://github.com/ldv1/LinXGBoost)
[https://arxiv.org/pdf/1710.03634.pdf](https://arxiv.org/pdf/1710.03634.pdf)

[2020-06-09 18:47] don-prog commented on #17514
[code]

Output:
[code]

[2020-06-09 19:02] don-prog commented on #17514
@justmarkham
[code]

Output:
[code]

1. In the beginning df has three columns: `a`, `b`, `c`.
2. I want to apply `OneHotEncoder` on the, for example, column `a`.
3. After that I want to apply  `StandardScaler` on the columns `b` and `c`, but I can't do it correctly because after One hot encoding I can't promise that columns have the same order.
And, as you can see, `ct2` has been applied on the wr

[2020-06-09 19:49] PhilipMay commented on #15408
Ok. Thanks.

[2020-06-09 19:49] #15408 closed

[2020-06-09 20:08] ollikahnstex commented on #17524
Yes, of course, make PR! Thank you!

[2020-06-09 20:21] acharles7 commented on #17524
Thank you

[2020-06-09 22:29] jnothman commented on #8589
Yes, looks like it was resolved, at a glance. Thanks for your efforts to tie up these loose ends!

[2020-06-09 22:30] #8589 closed

[2020-06-09 22:35] jnothman commented on #17497
Can you give specific examples of concern here, please? The link shows a
different format of type specification

[2020-06-09 22:47] don-prog commented on #17514
@jnothman I'm trying to add additional intermediate steps in pipeline for feature name restoring, but get

Could you suggest something?

[2020-06-09 22:57] rithvikrao commented on #14268
To summarize, this would involve the following tasks?

1. changing the `scipy.linalg.lstsq` call in `LinearRegression` to include the `check_finite=False` param
2. benchmarking `lapack_driver` choices for `scipy.linalg.lstsq` (should there also be an optional user param to choose `lapack_driver`?)
3. factoring out some `Ridge` code such that something like `Ridge(solver="cholesky", alpha=0)` can b

[2020-06-10 00:24] justmarkham commented on #17514
@don-prog Given your latest example and explanation, here is what I would do:

[code]

Regarding get_feature_names, that now supports passthrough transformers as of scikit-learn 0.23.

I won't be monitoring this issue further (in order to focus on other issues), but I wish you the best of luck!

[2020-06-10 06:38] AWNystrom opened #17554 "Cython code for PolynomialFeatures should use int64s for indices."
#### Describe the workflow you want to enable
The code in preprocessing/_csr_polynomial_expansion.pyx produces the components of a CSR matrix with column values represented as int32s. For inputs with a sufficiently large number of columns, this can cause overflow, which leads to negative indices in the resulting CSR matrix.

Here's an instance of a user running into this problem:
https://stackover

[2020-06-10 07:34] #14888 closed

[2020-06-10 08:12] jjerphan commented on #17125
It seems that much of the memory usage might come from [managing the bounds in `_minimize_lbfgsb`](https://github.com/scipy/scipy/blob/a4c74a59b047b359d7f4871d89c496594fd07217/scipy/optimize/lbfgsb.py#L281-L290)

Modifying the code using `memory_profiler`, for:
[code]

We get, using @rth example,:

[code]

where `bounds` is actually a list of pair of `None`.

[2020-06-10 08:27] jjerphan commented on #17125
And then, much of the memory is used by the `wa` array:
[code]
Inspecting memory usage after its allocation gives:
[code]

[2020-06-10 08:47] rth opened #17555 "Documentation website: impove text preview in search results"
Right now when searching for specific estimators a page preview does not show properly. e.g.

Searching for `CountVectorizer scikit-learn` produces,

in DuckDuckgo
![Screenshot_2020-06-10 CountVectorizer scikit-learn at DuckDuckGo](https://user-images.githubusercontent.com/630936/84246367-d29ed700-ab06-11ea-9c79-0d85b4bf62bd.png)

This would suggest that [`robots.txt` is misconfigured](https://sta

[2020-06-10 11:25] jnothman commented on #17555
Happy to have Google determine the description? Do other numpydoc libraries
do the same?

[2020-06-10 11:33] rth commented on #17555
Well others don't seem to have a description field and overall it appears to work better,
![Screenshot_2020-06-10 numpy concat at DuckDuckGo](https://user-images.githubusercontent.com/630936/84262850-a68f5000-ab1e-11ea-81bf-f3ca7f3b7b0b.png)

![Screenshot_2020-06-10 numpy concat - Google Search](https://user-images.githubusercontent.com/630936/84262838-a2fbc900-ab1e-11ea-80e6-789f5a4caebc.png)

an

[2020-06-10 11:35] jnothman commented on #17554
Sounds reasonable, though since it should be possible to estimate which
size is needed, we should be able to use fused types to support both. Would
that be worthwhile?

[2020-06-11 00:02] amueller commented on #13106
Btw it might be interesting to compare this to SPORF:
https://github.com/neurodata/SPORF

This is much newer but basically much faster because you do sparse multiplications instead of full linear models.

[2020-06-11 02:18] maraujo commented on #16701
@SyrusBG  The problem persists in version 0.23.1

[2020-06-11 02:38] txntxn opened #17561 "dictvectorizer inverse_transform should have a parameter to recover discrete keys"
#### Describe the workflow you want to enable
dictvectorizer.inverse_transform(X)

the default might give

[code]

dictvectorizer.inverse_transform(X, recover_discrete_keys=True)

would give

[code]

#### Describe your proposed solution

One of the limitations of this solution is that if sep is already in a key that is NOT discrete, there will be problems.
Here is some code that works, if only one

[2020-06-11 04:39] txntxn opened #17563 "KBinsDiscretizer.inverse_transform should have different options"
#### Describe the workflow you want to enable

KBinsDiscretizer.inverse_transform uses the middle point of the edge ranges.
However, for discrete values this is poor, and we would prefer to pick the median value
of points trained in the range, and perhaps also the mode.

[code]
v.inverse_transform(est.inverse_transform(est.transform(X), bin_strategy='median'))

[code]

[2020-06-11 08:55] #16701 closed

[2020-06-11 09:11] glemaitre opened #17565 "plot_precision_recall_curve should expose pos_label"
I think that we should expose the `pos_label` as one of the parameters of `plot_precision_recall_curve`. I even think that we should issue a warning in case of class imbalance and that the positive class considered is the one with most samples. In most of cases, you are reporting the wrong part of your result but it might be what we give as a result with defaults.

[code]

![pr_curve](https://user

[2020-06-11 09:12] glemaitre commented on #17565
I would even say this is a bug because I don't have any way to change the plot indeed :)

[2020-06-11 12:33] adrinjalali commented on #17527
@MINIMALaq we won't be able to easily reproduce your issue if we don't have a minimal reproducing code which includes the data. Please feel free to reopen the issue if you can give us a reproducing example.

[2020-06-11 12:33] #17527 closed

[2020-06-11 12:53] adrinjalali opened #17566 "API split "model" parameters from "config" params."
We can think of our estimators' parameters as two different types:
- model hyper-parameters which influence the end result, accuracy, complexity, etc., e.g. SVM's `nu` or the number of trees in a random forest.
- config parameters which control other aspects of an estimator such as verbosity, copy_X, return_xyz, etc.

We could split these two types of parameters and have _model hyperparams_ as `__

[2020-06-11 12:55] keldenddorji1997 opened #17567 "How to use scikitlean's regression model"
I want to write a machine learning algorithm that predicts future prices of bitcoin. However I am facing a couple of issues such as:

`ttributeError: 'numpy.int64' object has no attribute 'columns' `

The following is my code:
`import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection i

[2020-06-11 12:56] rth commented on #17567
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2020-06-11 12:56] #17567 closed

[2020-06-11 14:11] thomasjpfan commented on #17566
I agree, having an estimator tag, `config_params`, to mark config parameters is useful.

Can you provide a code snippet on what the configure args will look like?

[2020-06-11 14:31] rth opened #17568 "Reduce the size of some images in the documentation"
The documentation repository is becoming quite large (https://github.com/scikit-learn/scikit-learn/pull/17564#issuecomment-642626922) and in particular there are 66MB of images. It might be worth checking if the size of lagest ones couldn't be reduced a bit by adjusting matplotlib options in examples. In the `_images/` folder,
[code]

[2020-06-11 15:24] glemaitre commented on #17565
related to #15573

[2020-06-11 15:27] ogrisel commented on #15573
@claramatos we first need to agree on what's need to be done. I am not sure what @amueller has in mind.

[2020-06-11 15:28] glemaitre commented on #17565
I am closing this issue because the discussion needs to happen in #15573

[2020-06-11 15:28] #17565 closed

[2020-06-11 15:30] glemaitre commented on #15573
**Initial post in #17565**

I think that we should expose the `pos_label` as one of the parameters of `plot_precision_recall_curve`. I even think that we should issue a warning in case of class imbalance and that the positive class considered is the one with most samples. In most of cases, you are reporting the wrong part of your result but it might be what we give as a result with defaults.

[cod

[2020-06-11 16:27] sturlamolden commented on #17411
This would be a case of “generalized linear model“ with logistic link function and normal instead of binomial probability family. IIRC, it is already available in statsmodels.

https://www.statsmodels.org/stable/glm.html

[2020-06-11 16:52] lorentzenchr commented on #17200
@ogrisel Sorry, couldn't resist 😏

Just to clarify for others, the question is how to choose the parameter `p`, i.e. the variance power of the [Tweedie familiy](https://en.wikipedia.org/wiki/Tweedie_distribution), i.e. E[Y|X] = μ(X), Var[Y|X]=phi/weight * μ(X)**`p`, which enters `sklearn.linear_model.TweedieRegressor(...,power=p)`. It also enters `sklearn.metrics.mean_tweedie_deviance(..., power=q

[2020-06-11 16:54] c3-ali opened #17571 "SpectralBiclustering returns different results in 0.23 and 0.20"
Running SpectralBiclustering with the same exact arguments produce different results in 0.23 and 0.20. This change of behavior is not documented in the changelogs.

#### Steps/Code to Reproduce
[code]
#### Expected Results
Version 0.20.3
[code]

#### Actual Results
Version 0.23.1
[code]

#### Versions
Version 0.23.1
[code]
Version 0.20.3
[code]

[2020-06-11 16:54] lorentzenchr commented on #17200
We might also super kindly ask some real experts like @bbolker or @gksmyth, if they could share some insides.

[2020-06-11 17:18] jph00 commented on #11993
Sorry I don't have any literature I can point to - just my own research over the last few years, which I never got around to writing up, unfortunately.

[2020-06-11 17:26] bbolker commented on #17200
I don't consider myself an expert on Tweedie regression: @kaskr implemented this in glmmTMB, I believe.  I have always gone with #1 (use MLE).  The tricky question is whether the estimation is stable enough to try to estimate p simultaneously with the rest of the parameters (which is what glmmTMB does, I think), or whether it is better to profile over p (i.e., do a one-dimensional optimization and

[2020-06-11 19:04] glemaitre opened #17572 "Issue in `roc_auc_score` which make wrong assumption of positive class"
Currently, it is not possible to specify a specific positive class in `plot_roc_curve` as already mentioned in #15573. The only way around currently is to use `roc_curve` and `roc_auc_score` to get a similar score. However, there is something fishy with the `roc_auc_score`:

[code]

![roc_curve](https://user-images.githubusercontent.com/7454015/84427809-cc534c80-ac25-11ea-929f-fc5580ee2834.png)

S

[2020-06-11 19:35] lorentzenchr commented on #17200
@bbolker Thank you very much for sharing your insights.

[2020-06-11 21:09] jjerphan commented on #17543
Have you tried no to set a number of jobs for the algorithm? That is:
[code]

[2020-06-12 01:28] TomDLT commented on #17568
If the goal is to reduce the doc repo, we should not necessarily focus on large images, but rather on images that change at each build. Images can change at each build because of different random states or because of different run durations. For example, `plot_prediction_latency_001.png` is about 32.5 KB, but it is updated with a change of 1-2 KB at each commit, which can lead to much higher diff

[2020-06-12 09:04] mjboos opened #17574 "Allow different alphas for different targets in RidgeCV"
#### Describe the workflow you want to enable
Hi all,
I regularly have to estimate Ridge regressions with a large number of different targets and vastly different signal-to-noise ratios across targets. The optimal regularization per target therefore differs quite a lot. RidgeCV currently estimates the optimal regularization **across all targets**, which can lead to quite sub-optimal performance in

[2020-06-12 11:11] huntr-helper opened #17576 "Security Notice & Bug Bounty - Remote Code Execution - huntr.dev"
# Overview
[scikit-learn](https://pypi.org/project/scikit-learn/) is a Python module for machine learning built on top of SciPy and is distributed under the 3-Clause BSD license.

Affected versions of this package are vulnerable to Remote Code Execution (RCE). It can unserialize and execute commands from an untrusted file that is passed to the joblib.load() function, if __reduce__ makes an os.syst

[2020-06-12 11:17] kunfuster commented on #17543
Hello,

Yes, I have tried that and it works. But that is not the point of this since the data is too large, I have to find a way to speed up the training of the model.

Thus, I would like to find what is the reason and find a possible workaround.

[2020-06-12 12:10] rth commented on #17576
As indicated in its docstring `joblib.load` is a wrapper around https://docs.python.org/3/library/pickle.html  that does allow arbitrary code execution by design. There is nothing we can do about it, aside from warning users.

Closing. Please don't auto-generate issues, particularly when they are false positives.

[2020-06-12 12:10] #17576 closed

[2020-06-12 13:54] adrinjalali commented on #17566
It's really the same as `set_params`, returning `self`, except that it raises on anything which is not on `config_params`. So the user would construct and configure the estimator with:
[code]
We could potentially have a decorator which sets the `configure` signature to accept the actual parameters, but that's probably too much magic.

[2020-06-12 14:01] GaelVaroquaux commented on #17566
It seems to me that this add user-facing complexity, while its original motivation (https://github.com/scikit-learn/scikit-learn/pull/17441#discussion_r435447166) is really related to solving an internal problem.

I fear that it will decrease usability for little gain for the user. The loss of usability will come from making things more complex (two methods instead of one), and from having to keep

[2020-06-12 15:32] ogrisel commented on #17566
I have the feeling that the distinction between config and hyper params will have grey elements.

For instance, for the `cache_size` parameter of SVM, one my still be interested in using it in `GridSearcCV` to see the impact on the `fit_time`  of this parameter cross-producted with "regular" hyperparams such as `C` and `gamma` for instance.

[2020-06-12 15:52] NicolasHug commented on #17566
I feel like we might have additional motivations to https://github.com/scikit-learn/scikit-learn/pull/17441#discussion_r435447166 for having model/config params. Distinguishing between those parameters that may impact a model's predictions from those that can't can be valuable to users who don't really know where to start.

Also we might want to consider merging this discussion with that of having

[2020-06-12 16:01] gioxc88 commented on #5523
I am also very interested in this feature.
It would solve infinite problems. Currently this is the solution I am using.
I wrote a wrapper around the `sklearn.preprocessing` module, which I called `sklearn_wrapper`

So instead of importing from `sklearn.preprocessing` I import from `sklearn_wrapper`.
For example:

[code]

Below the implementation of this module. Try it out and let me know what you

[2020-06-12 16:17] jeremiedbb commented on #17566
I agree that having a way to distinguish between hyperparams and config params is valuable. I think we can have that without removing them from the __init__, keeping the current simplicity of the API.

We could have a dict as class attribute of all estimators which stores for each param what type and values it can take and if it's a hyper param or not. This way we can easily:
- have machine readab

[2020-06-12 16:23] rth commented on #17566
Some of that can probably be done with type annotations, as well.

[2020-06-12 17:21] alfaro96 opened #17579 "DOC Long code samples produce webpage do not render properly on mobile devices"
#### Describe the issue linked to the documentation

I have noticed that some webpages with long code samples make the webpage to not render
properly on mobile devices. For example, for the [installation instructions](https://scikit-learn.org/stable/install.html):

![2020-06-12 19 08 55](https://user-images.githubusercontent.com/32649176/84528650-5d86f980-ace0-11ea-9dba-f6d8dc5e6b2c.jpg)

the hamb

[2020-06-12 18:16] Junting-Wang commented on #3298
@fbrundu Thank you for sharing! I tried your code. But when I call this function, I meet a problem saying "Multioutput target data is not supported with label binarization". Then I remove the code "pred=lb.transform(pred)" in the function. However, I meet another problem that "Found input variables with inconsistent numbers of samples: [198, 4284]".

May I ask if you could help me solve this? Than

[2020-06-12 18:35] claramatos commented on #15573
@glemaitre I was thinking about implementing it as you are suggesting, exposing the pos_label (having 1 as default)
if it is ok with you (and @amueller) I'll start to work on that

[2020-06-12 22:01] zachmayer commented on #12071
I've having the same issue: i have a selector function that's returning all False, which should be equivalent to an empty list.

But "all false" from the selector function is not being treated equivalent to "empty list from explicit column names".

I'll post code to reproduce later.

[2020-06-12 22:09] zachmayer commented on #12071
@jnothman
[code]

The working pipeline skips the simple imputer.  The broken pipeline tries to impute with no data, resulting in `ValueError: at least one array or dtype is required`.

[2020-06-13 00:00] Pimpwhippa commented on #14257
Hi @getgaurav2,

The first two tests failed because ValueError: Cannot have more folds than groups. The third test passes because that’s what it supposes to say. The fourth one got AssertionError, not sure yet why. The last test on max_train_size also failed on the same ValueError.

I summarize all my points so that I check my understanding, and for us to discuss them further.

1. let’s say groups

[2020-06-13 08:05] yangmingli1 commented on #6557
do you have any code for this?
Thanks

[2020-06-13 15:54] NeilBotelho opened #17582 "Pytest gives segmentation fault on fresh clone"
#### Describe the bug
on running pytest on a fresh clone of the scikit-learn repository in a virtual env(properly setup), I get
[code]

#### Steps/Code to Reproduce
1. clone the scikit-learn repository
2. python3.7 -m venv venv
3. source venv/bin/activate
4. run ``` pip install -e``` in the scikit-learn repo.
5. run pytest

Platform:
Debian 10
4gb RAM
python 3.7

#### Expected Results
pytest runs

[2020-06-13 16:13] rth commented on #17582
Thanks for the report. Could you please re-run pytest with the `-v` option to see which test segfaults exactly?

[2020-06-13 16:41] NeilBotelho commented on #17582
It seems like its failing in
[code]
Full output: [pytest-v__output.txt](https://github.com/scikit-learn/scikit-learn/files/4774995/pytest-v__output.txt)

[2020-06-13 17:47] Skandagn opened #17583 "Is there any way to know how much memory the countvectorizer object will allocate in advance with dataset size?"
I am working on a NLP project...

I wanted to know how much memory does a CountVectorizer object takes. getsizeof() returns 56 where the vocab itself is of 22000 bytes which is much more than thee object. So I wanted to understand the data structure of the countvectorizer object and how it is allocated in memory

from sklearn.feature_extraction.text import CountVectorizer
vec = CountVectorizer()
m

[2020-06-13 22:20] jnothman commented on #17583
The feature names will grow with the number of distinct tokens; the matrix
with the number of tokens altogether. Using min_df will reduce the memory
once fitted, but intermediate memory can still be high.

[2020-06-13 22:31] jnothman commented on #14257
In time series cross validation, some training data cannot be used
elsewhere as test data, since we require that all test data follows (though
not necessarily immediately) its corresponding training data in time.
n_folds is really counting the number of data subsets to use in the various
splits, including some training data to be unused for testing.

You should understand the need for this algorit

[2020-06-13 22:32] jnothman commented on #12071
@zachmayer thanks for the clear report, but could you please open a new issue for better visibility and tracking?

[2020-06-14 00:20] zachmayer opened #17586 "Inconsisent behaivor in ColumnTransformer with "all False" vs "empty list""
#### Describe the workflow you want to enable
I have a selector function I'm using in a `ColumnTransformer` that's returning all False, which should be equivalent to an empty list.

But "all false" from the selector function is not being treated equivalent to "empty list from explicit column names".

"all False" should skip the transformer, in the same way an empty list does: https://github.com/sc

[2020-06-14 00:21] zachmayer commented on #12071
@jnothman for sure! Here you go: https://github.com/scikit-learn/scikit-learn/issues/17586

[2020-06-14 11:29] RafeyIqbalRahman opened #17588 "No attribute to compute explained variance in t-SNE"
#### Describe the workflow you want to enable

I want to be able to know how much variance has been preserved in t-SNE. In PCA, this can be easily done by `pca.explained_variance_ratio_`.

#### Describe your proposed solution

`tsne.explained_variance_ratio_`

#### Describe alternatives you've considered, if relevant

PCA provides a useful insight into how much variance has been preserved, but PCA

[2020-06-14 13:13] hermidalc opened #17589 "BaseSearchCV _fit_and_score should move scoring into try/except as some scorers can raise an error for particular CV splits"
Some scorers can fail due to the nature of a specific CV split, therefore during model selection the same thing should happen as the fit failing and the score being set to zero.  For example, I've had this happen with scikit-survival's `concordance_index_censored` https://github.com/sebp/scikit-survival/issues/117 on read-world datasets.  Instead of only failing for the CV split with a warning and

[2020-06-14 13:22] txntxn opened #17590 "MissingIndicator.inverse_transform and SimpleImputer.inverse_transform needed"
#### Describe the workflow you want to enable

When using MissingIndicator and SimpleImputer, I need to inverse the transform. If a missing indicator is present, the missing value should be used.

[2020-06-14 13:30] jnothman commented on #17589
Sounds reasonable.

[2020-06-14 13:35] glemaitre commented on #17582
@NeilBotelho Are you running on an ARM architecture?

[2020-06-14 13:36] jnothman commented on #17566
This is a documentation issue, not an API issue. Now that we are using kwargs, I think it would be good to change numpydoc so that a project can have custom "* Parameters" sections. The "Parameters" section made sense when everything was positional.

[2020-06-14 13:37] glemaitre commented on #17590
It seems to be a feature quite accessible to implement.

[2020-06-14 13:49] jnothman commented on #17571
It's true that it is not noted in the documentation. An update to the
change log is welcome. Most likely this is due to the rewrite of KMeans.

[2020-06-14 13:55] NeilBotelho commented on #17582
No. I've got an AMD A6-7310

[2020-06-15 00:09] FredericoCoelhoNunes opened #17592 "DecisionTreeClassifier doesn't explain how tie breaks are decided"
#### Describe the issue linked to the documentation

The documentation for the DecisionTreeClassifier does not explain how a final class is assigned to a leaf where there are the same number of elements for each class. I have been looking at the tree code, but I know very little about Cython and couldn't find it.

I assume that it is random and tied to the random state, but on the other hand, ther

[2020-06-15 07:02] glemaitre commented on #15573
@claramatos You can open a PR. IMO, `pos_label` is fine but it might be changing during the review process but I really think that we should solve this issue. In the meanwhile, I will address #17572.

I already opened #17569 before to find this issue. So you can focus on the `plot_roc_curve` function.
You can use a similar test than in #17569 to ensure that we plot the proper curve.

[2020-06-15 11:44] #14126 closed

[2020-06-15 12:09] adrinjalali opened #17595 "Question: Changing the default branch (`master`) to `main`?"
In the wake of recent events, a good part of the git-using community is converging to use `main` as the name for the _default_ branch instead of `master`. Some related discussion:

https://twitter.com/mislav/status/1270388510684598272?s=21
https://mail.gnome.org/archives/desktop-devel-list/2019-May/msg00066.html

And github seems to be changing the default branch to `main`: https://twitter.com/nat

[2020-06-15 13:17] ogrisel commented on #17102
I think you need numpy dev to build scikit-learn with Cython 3. So it's not possible to test scikit-learn buit with Cython 3 in conjunction with older versions of numpy.

[2020-06-15 14:21] Pimpwhippa commented on #14257
@jnothman Thank you for dropping by to give the guidance.

[2020-06-15 14:22] JamieSlome commented on #17576
Thanks for letting us know - we have closed the bounty! 🍰

[2020-06-15 16:14] #17524 closed

[2020-06-15 16:24] #17555 closed

[2020-06-15 17:06] zachmayer commented on #16972
I've seen a lot of people struggle with this too

I think Amazon had a lot of employees struggle with this as well, and the ended writing their own solution for the problem in their sagemaker_sklearn_extension package.

[2020-06-15 17:17] zachmayer commented on #16148
@jnothman @amueller Here's an example pipeline I was debugging today.  It follows a common failure pattern I've seen a few times now:

1. Categorical preprocessing handles multiple columns
2. Numeric preprocessing handles multiple columns
3. Text preprocessing ~~handles multiple columns~~ *oops*

[code]

I fixed this bug by replacing `TfidfVectorizer` with `sagemaker_sklearn_extension.feature_extr

[2020-06-15 17:35] d3b0unce commented on #17590
Hi @glemaitre, I would like to work on this

[2020-06-15 17:41] alfaro96 opened #17596 "Use information gain as default criterion for decision trees"
#### Describe the workflow you want to enable

Actually, the default criterion for decision trees is the Gini impurity used by the CART (classification and regression trees) algorithm. I propose to use the information gain criterion used by the ID3 (Iterative Dichotomiser 3), C4.5 (successor of ID3) and C5.0 (successor of C4.5) algorithms which (IIRC) are improvements of the CART algorithm.

####

[2020-06-15 18:46] TomDLT commented on #17588
I am not sure one can easily define something corresponding to the explained variance in tSNE.

Let's note `X` the original data, `X_p` the projected data in the smaller space, and `X_p_r` the reconstruction of the projected data in the original space. A reasonable goal of data embedding is to minimize the error of the reconstructed data, e.g. minimizing `|X_p_r - X|^2`. In the case of a linear pr

[2020-06-15 18:59] TomDLT commented on #17582
May be related to misaligned arrays in joblib (https://github.com/joblib/joblib/issues/563).

Numpy checks for misaligned data in every function, so it is not a problem in most estimators, but C expects arrays to be aligned to a multiple of their size. NuSVC might directly call C code, hence the segfault.

[code]

[2020-06-15 19:09] amueller commented on #16468
Done in #16622.

[2020-06-15 19:09] #16468 closed

[2020-06-15 19:11] amueller commented on #12805
closed with SLEP 009

[2020-06-15 19:11] #12805 closed

[2020-06-15 19:34] glemaitre commented on #17590
you can go for it.

On Mon, 15 Jun 2020 at 19:35, Srimukh <notifications@github.com> wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2020-06-15 19:41] lucyleeow opened #17597 "Should n_features_in_ in pipeline delgate to first step?"
#### Describe the bug
Some transformers do not have the attribute `n_features_in_`, e.g., `DictVectorizer`, thus if first in a pipeline would give error when trying to access `pipeline.n_features_in_`.

For reference, found when addressing: https://github.com/scikit-learn/scikit-learn/pull/17546#discussion_r440111513

#### Steps/Code to Reproduce
For example the code below:
[code]
gives the error:

[2020-06-15 20:18] glemaitre commented on #17597
We should at least set `n_features_in_` to `None` in this case? ping @NicolasHug

[2020-06-15 20:23] NicolasHug commented on #17597
IMHO delegating to the first step is the expected behavior for a pipeline.

Regarding None vs no attribute, as far as I remember we considered both and decided to use the latter. From the SLEP:

[2020-06-15 20:32] lucyleeow commented on #17597
It does make sense that these estimators don't have this attribute. And even in a pipeline, that attribute wouldn't make sense.
I guess it's more to make it play nicely with e.g., `CalibratedClassifierCV`, though I guess we can just have it return an error if that attribute is accessed. Thanks, closing.

[2020-06-15 20:32] #17597 closed

[2020-06-15 21:52] rithvikrao opened #17602 "Pip install failing"
#### Describe the bug

When I run `pip install --no-build-isolation --editable .` locally, I receive the following error:

[code]

#### Versions

[code]

[2020-06-15 22:57] davidychow87 commented on #17013
Bumping this issue. Also seeing similar errors

[2020-06-16 07:37] alfaro96 commented on #17602
You have to install the `wheel` package:

[code]

Then:

[code]

Should work without issues.

I hope this solves your problem.

[2020-06-16 07:43] andrzejnovak commented on #10108
Looks like long enough has passed since last activity to bump this. Sadly pyqt_fit seems to be poorly maintained overall.

[2020-06-16 07:44] d3b0unce commented on #17590
Is the expected behavior of `inverse_transform` such that it returns a new array with the imputed values replaced with the original `missing_values`?

Something like this?
[code]

[2020-06-16 07:46] glemaitre commented on #17590
yes

On Tue, 16 Jun 2020 at 09:44, Srimukh <notifications@github.com> wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2020-06-16 08:01] d3b0unce commented on #17590
The `inverse_transform` functionality make sense when we're using `fit_transform` - when the arrays on which an imputer is fit and transformed are the same. If we fit an array `X1`, we would have a missing indicator mask for `X1`. It wouldn't make sense to then use this mask to apply`inverse_transform` on a different array `X2`, would it? Am I missing something?

[2020-06-16 08:49] adrinjalali commented on #10108
This could also go in https://github.com/scikit-learn-contrib/scikit-learn-extra/

[2020-06-16 10:36] glemaitre commented on #17595
I would be for the change. Certainly, I will confuse contributors in the near future the same way I did it when we switch from "rebase master" to "merge master". So I will get accommodated to "merge main" soon :)

The main implication will be indeed the CIs (ours and others).

[2020-06-16 11:19] #17438 closed

[2020-06-16 12:13] #15409 closed

[2020-06-16 14:33] RafeyIqbalRahman commented on #17588
So it seems that

So it seems there is no way to compute variance ratio in t-SNE.

[2020-06-16 15:03] N8Brooks commented on #12752
Hey, Is semi-supervised able to work with a regression now?

[2020-06-16 16:09] alfaro96 commented on #17345
I think that all the issues have been already merged (#17472, #17474, #17477).

Close?

[2020-06-16 17:55] TomDLT commented on #17588
Right, at least not an obvious way.

[2020-06-16 17:55] #17588 closed

[2020-06-16 18:29] thomasjpfan commented on #17345
There was one more than I missed: `make_column_transformer`. (Added to the list)

[2020-06-16 18:32] #17602 closed

[2020-06-16 20:03] jaketae commented on #17345
I'll take a jab at `make_column_transformer`, unless it's already been worked out.

[2020-06-17 00:42] thomasjpfan commented on #17345
Yup you can work on this.

[2020-06-17 04:07] dsandeep0138 commented on #17589
@jnothman I'm looking at this, and made the suggested changes. However, while running the tests, test_score_memmap doesn't throw ValueError for non-scalar score. It instead assigns the test_scores with np.nan. What is the expectation for this test case now? Should it still throw ValueError exception or should I modify the test case to check for the fit failed warning?

[2020-06-17 04:17] jnothman commented on #17589
yes, check for the warning, thanks.

[2020-06-17 05:31] dsandeep0138 commented on #17589
@jnothman Modified, please review and let me know if you have any comments. Thanks!

[2020-06-17 05:53] dsandeep0138 commented on #17592
From what I understand, the final class is calculated by calling np.argmax on the class probabilities. So, if there is a tie-break, i.e., if the class probabilities are [0.5, 0.5], then np.argmax([0.5, 0.5]) would give 0. Therefore, in case of tie breaks, class 0 would be selected.

@jnothman Can you please confirm or correct this? Thanks.

[2020-06-17 07:17] glemaitre commented on #15573
@claramatos did you have time to work on the issue related to the `plot_roc_curve`?

[2020-06-17 09:46] cmarmo commented on #16558
@bumblebee96 are you interested in proposing a pull request with your solution? Thanks!

[2020-06-17 10:20] TaiChiTiger opened #17618 "Apply `StandarScaler` transformation before splitting data in “Varying regularization in Multi-layer Perceptron”"
#### Describe the issue linked to the documentation

#### Suggest a potential alternative/fix

[2020-06-17 10:22] TaiChiTiger opened #17619 "Apply `StandarScaler` transformation before splitting data in “Varying regularization in Multi-layer Perceptron” Documentation"
#### Describe the issue linked to the documentation

In the document titled "[Varying regularization in Multi-layer Perceptron](https://scikit-learn.org/stable/auto_examples/neural_networks/plot_mlp_alpha.html#sphx-glr-auto-examples-neural-networks-plot-mlp-alpha-py)",  you apply a  `StandarScaler` transformation before splitting the dataset, it will make information about the distribution of the

[2020-06-17 10:23] #17618 closed

[2020-06-17 10:31] rth commented on #17595
If so, maybe let's wait a bit for this to happen, to avoid the situation where we renamed to `main`, and then Github renamed to the default master to `default` and then we have to switch to `default`.

Generally it would be good to have this discussion at the scientific python community level because if part of the projects rename to `main`, others to `default` and others still keep `master` it wi

[2020-06-17 12:05] cmarmo commented on #7980
@lesteve, is this issue still relevant? Also, is the related PR a reusable solution for someone willing to help on this? Thanks for your help!

[2020-06-17 12:59] lesteve commented on #7980
I think it is still somewhat relevant but the cost/benefit ratio seems to be in favour of a "won't fix":
- not that easy to fix without some significant effort
- the benefit does not seem worth it since the problem only happens when using beta or development versions of dependencies (numpy, scipy, etc ...).
- no that many issues linked for the past 2 years so probably not often encountered in prac

[2020-06-17 13:20] jnothman commented on #17619
You're right, the code there isn't correct. But scaling also happens for
within the classifier, so I'm a bit unsure that this is needed at all.

[2020-06-17 13:56] #14202 closed

[2020-06-17 14:07] #7563 closed

[2020-06-17 14:10] adrinjalali commented on #6128
Closing as "no response given".

[2020-06-17 14:10] #6128 closed

[2020-06-17 14:11] adrinjalali commented on #5750
Closing this one for now, I don't think we'd be fixing this [any time soon].

[2020-06-17 14:11] #5750 closed

[2020-06-17 14:32] #17579 closed

[2020-06-17 14:40] adrinjalali commented on #17595
Opened a thread here: https://discuss.python.org/t/communitys-take-on-changing-master-branch-to-main/4462

[2020-06-17 15:56] amsinha9 opened #17621 "Error in Graphical Lasso implementation"
#### Describe the bug
Graphical Lasso implementation in scikit-learn 0.23.1 seems off.

#### Steps/Code to Reproduce
[code]

#### Expected Results
Estimated covariance matrix should be same as covariance of identity matrix

#### Actual Results
Estimated covariance matrix elements don't match covariance of identity matrix

Output:

[code]
#### Versions

Python dependencies:

Python 3.6.5 : : Anacon

[2020-06-17 17:10] alfaro96 commented on #17619
IMHO, I do not think that the `StandardScaler` transformer is required before dividing the dataset in training and test. In fact, data leakage is avoided using the `StandardScaler` within the `Pipeline`.

@TaiChiTiger Do you mind to submit a PR with the suggested change?

I would be happy to review the PR.

[2020-06-17 17:58] #16818 closed

[2020-06-17 19:09] #17345 closed

[2020-06-17 19:09] SB6988 opened #17624 "BayesianRidge fails when input and output data are of very different sizes"
Example 1 (working):
[code]
#### Expected Results
1,1

####Results for OLS and BayesianRidge:
1.0000000000000004  0.9999999999999998
0.9988917252390923  1.0005536752418909

Example 2 (not working):
[code]
#### Expected Results
1000000, 1000000

####Results for OLS and BayesianRidge:
1000000.0000000005 999999.9999999997
7.692319353001738e-07 1.2307710964802638e-06

Please notice that the only diffe

[2020-06-17 20:23] amueller opened #17625 "inconsistent treatment of None and np.NaN in SimpleImputer"
Doing constant imputation treats only the "missing_value" as missing, so a ``None`` by default stays there:
[code]
[code]
However, using strategy='mean' coerces the None to NaN and so both are replaced:
[code]
[code]
I don't think the definition of what's missing should depend on the strategy. @thomasjpfan argues that the current constant behavior is inconvenient because it means you have to imput

[2020-06-17 21:02] rth opened #17626 "PERF Consider using argpartition in ndcg_score"
As reported by @karlhigley,

Would you like to propose a PR to improve it?

[2020-06-17 21:14] rth commented on #17626
Other places where we might also use it,
[code]
We would probably need to benchmark that using it has a measurable impact though.

[2020-06-17 23:26] jnothman commented on #17626
Needs benchmark. I've not looked into whether argpartition selects an
algorithm based on the data, but introselect, while having smaller
asymptotic complexity, is often going to be slower than timsort...

[2020-06-18 00:39] acharles7 commented on #17619
I would love to make PR if you don't mind @TaiChiTiger

[2020-06-18 02:17] karlhigley commented on #17626
For context, I am training models on the MovieLens 25M dataset and would like to compute a learning curve for NDCG on the validation set as training progresses. IIRC, that involves computing ~160k NDCGs over ~60k items each. Doing so takes much longer than training 10-20 epochs, which makes it cost prohibitive.

I don’t actually need to sort all 60k items to compute NDCG@100 though; I just need to

[2020-06-18 05:21] TaiChiTiger commented on #17619
Thanks, I'm trying to create a new pull request.

[2020-06-18 05:24] TaiChiTiger commented on #17619
Thank your for your reply, I'm a novice on github, wait for a few minutes

[2020-06-18 05:29] acharles7 commented on #17619
Please go ahead and make PR. Contributions always welcome from new members

[2020-06-18 05:56] TaiChiTiger commented on #17619
In `scikit-learn`, I haven't found any classifier contain scaling in their own script. Maybe some other packages implement it, such as `catboost`. If you make a pipeline, it will like this:
[code]
You will see the mean and std of the scaler is the same as `X_train` dataset's. So scaling in the pipeline also happened after splitting the dataset.

[2020-06-18 05:58] d3b0unce commented on #17625
So the idea is to treat `None` as a missing value implicitly along with the one passed via the `missing_values` parameter?

[2020-06-18 08:25] glemaitre commented on #17625
I agree with this. We should have at least the same behaviour across all strategies.

I think I went across a similar use case where you would need to impute twice. It would be handy to be able to pass a list of `missing_values` sometimes.

[2020-06-18 08:29] glemaitre commented on #17596
I don't know if this is worth changing it. We will have to change the default in all algorithms using the `DecisionTreeClassifier` and I am not sure that it will influence the performance there (eg. RandomForestClassifier).

Until the performance change is not dramatically worse, I think that we could be conservative instead of issuing warnings :)

[2020-06-18 09:47] alfaro96 commented on #17596
You are right @glemaitre, this change will issue a lot of warnings (`FutureWarning`) in meta-estimators using `DecisionTreeClassifier` or `DecisionTreeRegressor` as `base_estimator, and this should be avoided.

Closing!

[2020-06-18 09:47] #17596 closed

[2020-06-18 10:54] aitiolog opened #17630 "Multilabel hinge_loss bug"
#### Describe the bug

Multilabel hinge_loss fails if not all labels are present in y_true despite all the labels being explicitly provided using external labels argument (as defined in the function description).

#### Steps/Code to Reproduce

Example:
[code]
#### Expected Results
The first example (y_true): function returns 1.5
The second example (y_true_fail): function should return 2.0

#### Ac

[2020-06-18 11:31] jeremiedbb commented on #17625
`mean` and `median` only support numeric arrays, so it's converted in data validation and None becomes np.nan. In this case passing a list of missing values won't work. Maybe we could issue a warning when the array has to be converted ?

[2020-06-18 12:15] jnothman commented on #17626
Thanks for clarifying. It's certainly worth trying argpartition here. It
might make little difference for small datasets and a lot for big datasets.

[2020-06-18 12:36] imanirajian opened #17631 "Using make_scorer() for a GridSearchCV scoring parameter in a clustering task"
#### * Workflow:
1- Consider `make_scorer()` below for a **clustering** metric:
[code]
2- Consider the simple method **optics()**:
[code]
Running the `optics()` led to this error:
**`TypeError: _score() missing 1 required positional argument: 'y_true'`**

Even by using `grid_search_cv.fit(data, labels)` instead of `grid_search_cv.fit(data)`, another exception rised:
**`AttributeError: 'OPTICS' obj

[2020-06-18 14:32] karlhigley commented on #17626
Yeah, that's what I'd generally expect. Shouldn't be a big change in any direction for small datasets, and for a real system, there would generally be a candidate selection step of some kind to narrow the list down before computing NDCG. I generally wouldn't try to compute NDCG over a list this long, because I usually wouldn't try to optimize a single model to perform both candidate selection and

[2020-06-18 15:38] amueller commented on #17625
My feelings towards conversion warnings right now is that they are mostly annoying and I'm not sure if it'd help. However, @jeremiedbb  is right, unless we hack ``check_array`` not to convert ``None`` to ``np.NaN`` when converting to floats, we can't actually support doing something else in the ``"mean"`` case.

I think trying to hack around numpy casting rules is probably a bad idea, which would

[2020-06-18 15:45] amueller commented on #17595
I'm happy to change it but I agree with @rth that it might be easiest if we wait for something "official". I assume if github changes it then most projects will do the change and we should change as well.

[2020-06-18 15:54] amueller commented on #17566
I think it will be quite hard to agree on a definition. @thomasjpfan and me discussed this to some length because of the hyper-parameter specification project he's working on.

I think having better documentation and/or machine-readable versions while still keeping it in ``__init__`` would be valuable, but I'm also skeptical that we can find a clean definition. ``n_jobs`` can potentially change th

[2020-06-18 16:01] amueller commented on #17631
There's maybe 2 or 3 issues here, let me try and unpack:
- You can not usually use ``homogeneity_score`` for evaluating clustering usually because it requires ground truth, which you don't usually have for clustering (this is the missing ``y_true`` issue).
- If you actually have ground truth, current GridSearchCV doesn't really allow evaluating on the training set, as it uses cross-validation. You

[2020-06-18 17:32] rth commented on #7980
yes, it is. Just run into it today. And after digging through CPython issues https://bugs.python.org/issue14894 it doesn't look like distutils.version.LooseVersion is ever going to be fixed, so we shouldn't use it.

Yeah, setuptools is already a build dependency. I'm also undecided between making it a runtime dependency or vendoring the part from pkg_utils/packaging under `sklearn.externals`. Neit

[2020-06-18 17:35] joshuacwnewton commented on #9602
Hello! MLH intern here. I'd like to take on this stalled issue (as mentioned in the Discord). Thanks!

[2020-06-18 17:35] joshuacwnewton commented on #9602
Take

[2020-06-18 18:28] parthivc commented on #1940
I'll take this!

[2020-06-18 18:56] imanirajian commented on #17631
@amueller
* I've tried all clustering metrics from `sklearn.metrics`.
* It must be worked for either case, with/without ground truth.
* This is a limitation, and either `make_scorer()` or `GridSearchCV.fit()` can handle this scenario.

[2020-06-19 03:51] lesteve commented on #7980
I did not think of this and this sounds a very reasonable approach indeed!

So something like this somewhere in sklearn/utils could be a start:
[code]

After that you would need to replace all the LooseVersion and other ways we compare versions in scikit-learn (see my old comment https://github.com/scikit-learn/scikit-learn/pull/8301#issuecomment-280419515 which may still be relevant).

A bit tedi

[2020-06-19 06:55] rth commented on #7980
Yes, I think we could just adapt #8301 I imagine most of the replacements there are still relevant.

[2020-06-19 09:27] marenwestermann commented on #17302
I'm working on the `examples/applications/*` modules.

[2020-06-19 10:23] adrinjalali commented on #17566
Another way to look at it, is _common_ config vs _advanced_ config. We're increasingly adding functionalities which would be easier to implement if we didn't have to make the choice of adding an `__init__` param to every single estimator or putting it as the global `sklearn` configuration.

It would also make it easier for users to start with the library since they wouldn't be flooded with informa

[2020-06-19 10:36] rth commented on #17626
asymptotic complexity, is often going to be slower than timsort..

Even for smaller arrays, it looks relatively faster,
[code]
for larger ones the difference is up to x10,
[code]
for N=1e6 @ K=100, argsort takes 100ms and argpartition 12ms.

Overall though this is still very fast, unless one has a use case as @karlhigley where one computes 100k of NDCG and where a dedicated evaluation library migh

[2020-06-19 11:35] marenwestermann commented on #17302
I'm working on the remaining unclaimed modules which are:
- examples/cluster/plot_optics.py
- examples/compose/plot_column_transformer_mixed_types.py
- examples/covariance/plot_covariance_estimation.py
- examples/impute/plot_iterative_imputer_variants_comparison.py
- examples/impute/plot_missing_values.py
- examples/linear_model/plot_sgd_early_stopping.py
- examples/linear_model/plot_sgd_loss_func

[2020-06-19 13:14] pwl commented on #16863
Can this be merged?

[2020-06-19 13:53] karlhigley commented on #17626
It’s super-cool that y’all noticed my post and created this issue, and I hope there’s a worthwhile performance optimization here! Probably doesn’t make that much difference for the average user, but might help the worst case users (e.g. me.) 😆

[2020-06-19 15:12] dmelis opened #17639 "ndcg_score fails for negative scores"
**Description**

The method ndcg_score from sklearn.metrics fails when the true relevance scores are negative.

**Steps/Code to Reproduce**

[code]

**Expected Results**

The documentation doesn't explicitly state that y_true or y_score should be non-negative. The cited [Wikipedia article](https://en.wikipedia.org/wiki/Discounted_cumulative_gain) for DCG doesn't seem to mention a non-negativity as

[2020-06-19 17:02] clmbst commented on #15761
Hello I would like to contribute. It is my first time though ... And it is not clear for me how I can know on which module there is still work to be done ? Thanks !

[2020-06-19 17:06] alfaro96 commented on #15761
https://github.com/scikit-learn/scikit-learn/issues/15761#issuecomment-639461778 contains the list of modules left to fix.

[2020-06-19 17:10] clmbst commented on #15761
Thanks. Take sklearn.decomposition then.

[2020-06-19 20:12] joshuacwnewton commented on #9602
After looking into this issue further, I believe this issue is part of a larger problem in ML terminology:

 * There are at least 5 "multilearning" descriptive terms: 'multiclass', 'multilabel', 'multioutput', 'multitarget', and 'multitask'. They can also be combined together, e.g. 'multioutput-multiclass'.
 * The inconsistent usage of these terms causes confusion -- not just in sklearn's document

[2020-06-20 09:01] adrinjalali commented on #13188
https://github.com/scikit-learn/scikit-learn/pull/17593 is merged now, so the documentation is there. We can either open a new issue or edit this one to tackle the bot idea?

[2020-06-20 11:45] claramatos commented on #15573
@glemaitre I'm planning to work on it over the weekend

[2020-06-20 11:59] claramatos commented on #15573
I was looking into `plot_precision_recall_curve` and `plot_roc_curve` and there are some pieces that are common. Should I take the opportunity and move them to base.py?

[2020-06-20 14:20] amueller commented on #17009
So I'm not convinced this is in scope. Are there any methods in scikit-learn where this is easily applicable? I guess if there are samples with uncertainty then any of the things that work on pre-computed metrics could work?

[2020-06-20 14:35] amueller commented on #17229
I don't think this is true, given that the validation score is computed using sample weights.
However, the splitting off of the early stopping is clearly not working correctly.
I think maybe the splitting off of the early stopping set should take the sample weights into account, that might be a potential fix?

[2020-06-20 15:19] amueller commented on #17009
Also see https://github.com/scikit-learn/scikit-learn/pull/17310#issuecomment-647005018:
It's unclear how to pass uncertainty around within scikit-learn, which makes this quite hard to use.

[2020-06-20 16:10] amy12xx commented on #11435
@psendyk  @adrinjalali Do you know of other metrics that still need this fix? metrics.explained_variance_score maybe?

[2020-06-20 16:23] MilesCranmer commented on #17009
Exactly: things like k nearest neighbors. My use case would be for clustering with DBSCAN, where the datapoints sometimes have large uncertainties attached to them.

It's up to you if you think this is worth integration. I think as sklearn is used more in science (which has noisy data), working with uncertainties will become more important, and thus the Wasserstein distance will become more releva

[2020-06-20 19:23] Cristinamulas commented on #15761
I am working on 'sklearn.isotonic.isotonic_regression'

[2020-06-20 20:07] Cristinamulas commented on #15761
I am working on 'sklearn.multiclass.py'

[2020-06-20 23:53] #17197 closed

[2020-06-21 00:05] jnothman commented on #9602
I don't think the terminology is quite as inconsistent as you claim it to
be. The main inconsistency I know of is the mixed use of multioutput and
multitarget and multitask.
And the inconsistent API for probabilistic output for multilabel, which
mostly comes down to OVR inappropriately handling multilabel rather than
multiclass. This duplication of function serves a purpose of making it
trivial fo

[2020-06-21 00:07] jnothman commented on #17639
Silently producing bogus results is certainly not acceptable behaviour.
Thanks for the report!
I don't see a reason to refuse negative scores in ranking.

[2020-06-21 04:16] jenniferjang opened #17650 "DBSCAN too slow and consumes too much memory for large datasets: a simple tweak can fix this."
#### Describe the workflow you want to enable

Currently, DBSCAN is very slow for large datasets and can use a lot of memory, especially in higher dimensions.

For example, running sklearn.cluster.DBSCAN on a size 745k dataset with 411 features took over 6 days to finish running on a powerful cloud machine, and running on a size ~1M dataset with a reasonable setting of epsilon for that dataset ran

[2020-06-21 05:54] marioguy08 commented on #16519
Hey,
I see that the issue is still open and was wondering if I could take a crack at it? Thanks!

[2020-06-21 10:00] gan3sh500 commented on #17639
What would be fix for this. Even the Wikipedia page says how negative scores can change the ndcg from being in 0 to 1 range to negative value to 0 range.

[2020-06-21 12:21] cmarmo commented on #13188
+1 for closing this one. The 'take' action has also been merged in #16197. If a bot is still needed I think it would be helpful to precise its goal in a new issue.

[2020-06-21 12:22] cmarmo commented on #16519
Hi @marioguy08 there is an open pull request ( #17192) for this issue.... don't worry there are plenty of them available... :(

[2020-06-21 15:59] joshuacwnewton commented on #9602
@jnothman Sorry about that! I agree that there isn't as much of an issue as I had initially thought, and wish I hadn't made the comment in the first place. I deleted my comment on GitHub soon after I had made it. But, I think because of email replying, it still reached your inbox.

[2020-06-21 18:19] joshuacwnewton commented on #12401
Seeing that #12419 is stalled, I'm interested in picking this up.

I see that the `help wanted` tag was removed by @adrinjalali, though. Is this enhancement still wanted? Thanks! :)

[2020-06-21 19:36] yashika51 commented on #17458
I am interested in working on this issue.

[2020-06-21 19:37] yashika51 commented on #17458
Take

[2020-06-21 22:34] jnothman commented on #9602
It did indeed reach my inbox. I don't think there was anything wrong with
posting your comment; it displayed how difficult it is to deal with the mix
of terminology. But hopefully there aren't terribly many problems to solve
here.

[2020-06-21 22:37] jnothman commented on #17639
Indeed. I'd forgotten that dcg uses more than just the ranks in all
cases... It is not a metric I have used in years.

[2020-06-21 22:44] jnothman commented on #17650
We have already for several years supported downsampling the data and
applying sample_weight, or constricting an approximate neighbourhoods
matrix and passing it in precomputed. Your solution would be a more
explicit interface and likely much more user friendly. It would not allow
us to reuse our paired distances or nearest neighbours code, however.

[2020-06-22 00:09] t-kusanagi2 commented on #3846
Hi, I will work on:
* ` gaussian_process.kernels.CompoundKernel`

[2020-06-22 02:51] marioguy08 commented on #16519
AH ok i didnt see, thanks!

[2020-06-22 07:46] glemaitre commented on #17639
@jeromedockes You might be the only person that I know that used it. Do you have any advise on this issue.

[2020-06-22 08:23] kilianshi opened #17654 "Polynomial regression with big numbers changes the model"
When using `PolynomialFeatures` and `LinearRegression` to create a polynomial regression, the result is different if the predictors are too big or too small.

Then this leads people to say that scaling is necessary (as we can read [here](https://www.robertoreif.com/blog/2017/12/16/importance-of-feature-scaling-in-data-modeling-part-1-h8nla)), whereas in theory, it should have no effect.

I have th

[2020-06-22 09:22] Ailsorxd opened #17655 "GridSearchCV's fir function doesn't accept a list of inputs"
I have a Siamese Neural Network which requires two inputs and in Keras this is allowed by passing a list of inputs in the fit function, however when I tried to do a grid search on my model I got a Value Error as GridSearchCV doesn't seem to accept multiple inputs in the fit function.

This means I'm not able to use grid search on any model with multiple inputs and therefore I would suggest adding

[2020-06-22 10:36] tasawor commented on #16152
try this, it should solve your problem
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan , strategy = 'mean')
imputer = imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

[2020-06-22 11:32] dsandeep0138 commented on #17639
This is what I think of this issue. Please let me know your comments.

``NDCG`` is a metric that should be a value between 0 and 1. This is given by ``NDCG = actual DCG / Ideal DCG``. Rephrasing it, ``NDCG`` is actually a measure of where our DCG is on a scale of 0 and Ideal DCG. This is because, min DCG is always assumed to be 0, which might be true in other cases, but not in a case where we have

[2020-06-22 12:15] jnothman commented on #17655
Please give code illustrating how you would do this in Keras. I think we would probably insist that the two inputs be structured as, for example, a list of input pairs.

[2020-06-22 12:17] jnothman commented on #17654
Is this a practical use case? Do you actually benefit from an explicit
polynomial expansion to the 9th degree?

No, in theory this might not be a problem, but we are writing software for
computers working with finite precision representations, not theoretical
representations.

[2020-06-22 12:17] adrinjalali commented on #11435
Not off the top of my head, but I'd say figuring out which metrics would need it would be a nice place to start and contribute on this issue if you're up for it @amy12xx

[2020-06-22 12:20] Ailsorxd commented on #17655
In keras I'm able to put a list of input pairs in the fit function

This is my code with the keras model:

`model.fit([tr_pairs[:, 0], tr_pairs[:, 1]], tr_y,
          batch_size=32,
          epochs=200)`

where the shape of tr_pairs[:, 0] and tr_pairs[:, 1] is (1054, 6) and tr_y is (1054,) while tr_pairs is (1054, 2, 6).

I tried a similar thing with the gridsearch:

`model = KerasClassifier(bui

[2020-06-22 12:23] jnothman commented on #17655
No, we don't support that. I'd suggest that you pass tr_pairs as is, and
use a FunctionTransformer in a Pipeline to then split it into the format
required by Keras.

[2020-06-22 12:35] #13188 closed

[2020-06-22 12:41] adrinjalali commented on #12401
Feel free to take it @joshuacwnewton . The label was removed in 2018, and this issue was just never triaged after that :D

[2020-06-22 13:12] Ailsorxd commented on #17655
Could you possibly advise me on how to do that?

My createMod function is:

[code]

And the base network is:

[code]

[2020-06-22 13:30] lmphcs opened #17657 "Affinity Propagation fails on the datasets that were clusterable in version 21.3"
Hi,

We found that in versions 22 and 23. Affinity Propagation works differently than in 21.3. In some cases it raises "ConvergenceWarning" any clusters, though it was possible in the earlier version.
Setting random_state explicitly to zero does not change this behaviour.

That happens with big datasets, so to reproduce it you would need to download the dataset from here:
https://drive.google.com/

[2020-06-22 13:58] kilianshi commented on #17654
Thank you for your answer @jnothman, I agree with you that in most cases, it is not useful/meaningful to with a polynomial of 9th degree.

Since we see a difference with `polyfit` from `numpy` this made think if there was a difference in terms of methodology, or if it is just because of big numbers. So now if I understand well, it is just the way of handling big numbers?

If it is the case, then m

[2020-06-22 14:23] yashika51 commented on #10863
I am working on this issue.

[2020-06-22 14:29] jeromedockes commented on #17639
I think the metric you describe is meaningful, but I have not seen NDCG defined like this (for example not in Wikipedia nor in either of the three references cited in the docstring). Therefore it would be a useful metric, but it is not NDCG (and will almost never coincide with it; note that the min dcg will usually not be 0).

So far I could not find a reference addressing the problem of negative

[2020-06-22 14:29] jnothman commented on #17654
polyfit is doing an altogether different thing. It is performing a univariate polynomial fit for some vector x to a vector y.

Here we are performing a polynomial expansion of some feature space X in order to represent high-order interaction terms (equivalent to learning with a polynomial kernel) for a multivariate fit.

[2020-06-22 14:29] #17654 closed

[2020-06-22 14:32] jeromedockes commented on #17639
maybe `roc_auc_score` or `label_ranking_loss` for example?

[2020-06-22 14:33] jeromedockes commented on #17639
If we choose that solution I can open a PR raising an exception when `y_true` contains negative values

[2020-06-22 14:40] joshuacwnewton commented on #12401
Take

[2020-06-22 15:01] dmelis commented on #17639
Unfortunately both of those expect binary (or multi-class, discrete) `y_true` labels, but in my problem the true scores are real-valued.  For now, I think I'll go with @dsandeep0138's approach, which indeed might not be formally NDCG, but seems quite sensible.

As for the issue, raising an exception for negative values of `y_true` seems like a good compromise solution.

Thank you all for your help

[2020-06-22 15:28] kilianshi commented on #17654
Thank you @jnothman.

The fact that the scaling of the features gives a different result. Do we agree that it is because of the handling of the big numbers? Because in theory, the scaling should not have any effect on the model.

I am trying to understand what I actually do, when I create models. In this case: what causes the difference in the final polynomial regression with or without scaling? I

[2020-06-22 16:21] FloWPs opened #17658 "Inconsistency between coef_ and coef_path_ in LassoLars"
#### Describe the issue linked to the documentation

Hello, the coef_ attribute from LassoLars returns the array of coefficients for the value of alpha given in parameter (1 by default). The coef_path_attribute is described in the doc as follow : "The varying values of the coefficients along the path".
However, **the last column of the coef_path_ doesn't match the values of the coef_ attribute**,

[2020-06-22 19:48] jenniferjang commented on #17650
Thanks for the speedy response!

One way to implement this is to have a function that takes in the feature matrix, eps, and sampling rate and outputs a sparse subsampled eps-neighborhood matrix. This function can then be hooked up to DBSCAN's precomputed codepath.

Even if this function is not integrated into DBSCAN, we could mention in the documentation that such an option is available. It would

[2020-06-22 20:03] kilianshi commented on #17654
For `polyfit`, the [numpy documentation](https://numpy.org/doc/stable/reference/generated/numpy.polyfit.html) says:

It seems to me that it is multivariate fit, with the same loss function used for linear regression.

[2020-06-22 21:31] jnothman commented on #17654
Yes, big numbers will not be stored precisely. Polyfit may not need to explicitly store the values.

 The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2020-06-22 21:37] jnothman commented on #17650
It sounds reasonable to me. I'd even consider including the subsampling
direct in dbscan, although the user would benefit from be being able to
diagnose and reuse it. Really, subsampled pairs is just a naive approximate
nearest neighbours approach.

And I'm not sure this needs implementation in cython for efficiency: our
paired_distances function goes most of the way, but only for a handful of
met

[2020-06-22 21:55] zachmayer opened #17659 "[Feature Request] Custom loss functions for GradientBoostingRegressor/Classifier and HistGradientBoostingRegressor/Classifier"
#### Describe the workflow you want to enable
In Xgboost and LightGBM, you can specify a custom objective function (as well as gradients for that objective): https://xgboost.readthedocs.io/en/latest/tutorials/custom_metric_obj.html

It would be pretty cool if Sklearn supported that too

#### Describe your proposed solution
Use Xgboost / LightGBM instead of sklearn, but who wants to do that 😁

####

[2020-06-22 22:04] thomasjpfan commented on #17659
We opened this up for `HistGradientBoosting` in https://github.com/scikit-learn/scikit-learn/pull/16908 and we discussed it in https://github.com/scikit-learn/scikit-learn/issues/15841

[2020-06-22 22:09] zachmayer commented on #17659
Oh awesome!  I'm sorry I missed that, that's very cool!

[2020-06-22 22:14] zachmayer opened #17660 "[Feature Request] Arbitrary base learners for GradientBoostingRegressor/Classifier and HistGradientBoostingRegressor/Classifier"
#### Describe the workflow you want to enable / Describe your proposed solution
add an `base_estimator` argument to GradientBoostingRegressor/Classifier and HistGradientBoostingRegressor/Classifier, allowing them to do gradient boosting on any sklearn base estimator that supports weights, while also supporting GradientBoostingRegressor like early stopping, custom objective functions, and early sto

[2020-06-23 03:39] amy12xx commented on #11435
I'll take a look at it

[2020-06-23 03:40] zbw0046 opened #17663 "Requires-Python is missing in PKG-INFO of the version 0.23.1"
In the version 0.23.1, `Requires-Python` is missing in the `PKG-INFO` file in `scikit-learn-0.23.1.tar.gz` (https://bytedpypi.byted.org/tos/pkg/pypi/scikit-learn/scikit-learn-0.23.1.tar.gz#sha256=e3fec1c8831f8f93ad85581ca29ca1bb88e2da377fb097cf8322aa89c21bc9b8).

This behavior violates [PEP508](https://www.python.org/dev/peps/pep-0508/#environment-markers) and will cause that some package manager

[2020-06-23 06:40] ogrisel commented on #1940
I would be in favor of using (+/- 1 std) by default everywhere. I believe it's the simplest (least surprising) way to report variability.  1.96 * sem would make the code more verbose for little benefit. People who are actually interested in precise confidence intervals would need to check of the parametric assumption hold or use the booststrap if they have enough samples.

[2020-06-23 06:48] ogrisel commented on #7980
I have tried to create a new conda env with `conda create -y -n tmp python=3.6` (oldest supported version as we speak) and `pkg_resources` is installed.

I have also tried to install  a `python3.x-minimal` on ubuntu and again `from pkg_resources import parse_version` works as well.

Same in `docker run --rm -ti python:3.6 bash`.

So I am pretty sure that at least 99% of our our users will have the

[2020-06-23 08:16] sdpython commented on #9193
I explored this topic too and ended up with the following functions: http://www.xavierdupre.fr/app/pandas_streaming/helpsphinx/api/rdf.html#complex-splits. I also implemented a split where every observation has a different weight.

[2020-06-23 08:48] lesteve commented on #14312
A good option would also be to try to look at open PRs that have not been merged and try to finish them.

As a rule of thumb, if a PR hasn't got some activity for more than 2-3 weeks, it is fine to try to take it over and try to finish it.

[2020-06-23 08:52] jeremiedbb commented on #17657
A `random_state` parameter was added recently. The behavior of 0.22 is the same as using `random_state=0` now. Could you try with `random_state=0` to confirm that you get the same results as before ?

It's possible that it does not converge for some random states. In that case you can try to increase the number of iterations.

[2020-06-23 08:57] lucyleeow commented on #16321
This would solve the problem but we would have to make clear that we are not strictly doing isotonic regression.

I had a look at what R does. While the core stats package and a number of external packages implement isotonic regression but none seem to deal with this issue.

There is also few mentions of this in literature (that I could fine). ['Predicting accurate probabilities with a ranking los

[2020-06-23 09:23] kilianshi commented on #17654
thank you @jnothman. And well for me, to some extent, this can be considered as a bug.

I strongly agree with you that it is not meaningful to generate such big numbers. But then, if it is the case, maybe it should throw an error, or a warning? Because the fact that a model is found without any warning, seems to say that the model is correct, whereas, it is not.

For me, it is confusing to see tha

[2020-06-23 09:28] sdpython commented on #14312
In case your are interested in such solution, there is a way to implement an extension for sphinx which checks that parameters are all documented or not mispelled (you can see an example here: https://github.com/sdpython/pyquickhelper/blob/master/src/pyquickhelper/sphinxext/sphinx_docassert_extension.py). Maybe it can be useful to add a custom one to scikit-learn documentation.

[2020-06-23 09:37] cmarmo commented on #14312
@sdpython, that would be wonderful! If you are not working on something else, perhaps you could propose a draft PR? Thanks!

[2020-06-23 09:38] lesteve commented on #14312
Interesting!

IIRC we have a common tests that check that all attributes are documented. It was added in https://github.com/scikit-learn/scikit-learn/pull/16286. Also I seem to remember that mne-python had something similar.

I don't have an informed opinion on which approach is preferable but I would say that documenting the missing parameters is probably higher priority than deciding how we want

[2020-06-23 09:40] hs-nazuna commented on #7980
I want to tackle this issue.

The approach is to add code like the following (mentioned by @lesteve):
[code]
and fix lines using version comparison function.

Is it good?

[2020-06-23 09:47] rth commented on #14312
The issue with doing that in sphinx that in our case building a documentation takes a long time (due to generating all the examples) so a unit test or standalone tool would be easier to use. Note that we have previously used [numpydoc validation](https://numpydoc.readthedocs.io/en/latest/validation.html) in https://github.com/scikit-learn/scikit-learn/issues/15440 and some validation of the docstr

[2020-06-23 09:48] ogrisel commented on #7980
@hs-nazuna yes!

[2020-06-23 09:50] agramfort commented on #3020
ok so after a long discussion with @maikia and @glemaitre here is our summary.

# Initial problem

we want dense and sparse cases to match for linear models (eg Lasso) in the case were we standardize the features.

# Proposal from @rth

Use a `Pipeline(StandardScaler, Lasso)`.
Problem I saw is that StandardScaler does not behave the same way for sparse and dense (no centering for sparse) hence `Pi

[2020-06-23 09:55] maikia commented on #3020
thanks @agramfort for the explanation. I will work on this

[2020-06-23 10:13] rth commented on #7980
@hs-nazuna The idea is to define a `parse_version` function in `sklearn.utils` with those contents. Then continue PR https://github.com/scikit-learn/scikit-learn/pull/8301 where after conflicts are resolved most changed aside from the function definition should still be correct.

[2020-06-23 10:23] hs-nazuna commented on #7980
@rth Thank you for your comment. I will do so.

[2020-06-23 11:09] lmphcs commented on #17657
Neither of this helps. I still believe that's a bug.

[code]

[2020-06-23 12:13] ogrisel commented on #14312
I like the ability to use pytest to check the results, for instance:

[code]

so maybe it's not necessary to change our sphinx build for this.

[2020-06-23 12:26] lesteve commented on #7980
@hs-nazuna hard to tell which strategy is the best without actually doing it, but if I were you, I would create a PR from scratch since #8301 has a lot of conflicts and it may be a bit painful to fix all of them.

If you feel more optimistic than me, the alternative is to try to rebase #8301 on master and try to fix conflicts for 15 (maybe 30) minutes. If you don't succeed in this much time, start

[2020-06-23 12:34] cmarmo commented on #3846
Closing this as all the PRs have been merged and there is no more relevant classes without examples.
Thanks @j2heng for helping in triaging during the sprint!

[2020-06-23 12:34] #3846 closed

[2020-06-23 12:34] rth commented on #7980
I would say more like 10. It's much better to merge master in to sync, rather than rebase as that leads to fewer conflicts that needs to be resolved. With rebase one would need to fix conflicts for each commit in that PR..

[2020-06-23 12:35] hs-nazuna commented on #7980
I think so too. And now I am trying to create a new PR.

[2020-06-23 12:36] glemaitre commented on #3846
Oh really. The list on the top is out-of-date?

[2020-06-23 12:37] glemaitre commented on #3846
Oh yes I merged the other PR.

[2020-06-23 14:30] jeremiedbb commented on #17657
I think I found what's happening. There was a fix 8 months ago when AP did not converge. Previously, when it did not converge you'd still get `labels_` and `cluster_centers_` but now when it does not converge `labels_` are filled with -1 and `cluster_centers_` are empty as it was documented.

I can reproduce what you observed with the following:
[code]

Could you run your example once again with `

[2020-06-23 14:54] glemaitre opened #17673 "Deprecate n_classes_ in GradientBoostingRegressor"
Working on https://github.com/scikit-learn/scikit-learn/pull/17671, it appears that `GradientBoostingRegressor` has an attribute `n_classes_` which does not make any sense. We already had something similar in `DecisionTreeRegressor` some time ago and we deprecate it. I think that we should do something similar here to be sure that we don't have `n_classes_` in regressor.
I would almost think that

[2020-06-23 15:12] lesteve opened #17674 "Some Scipy version checks for old Scipy version should be removed"
Minimum Scipy supported version is 0.19.1. We have some code that tests against older versions:

Here are is an excerpt from a git grep command showing at least two matches
[code]

[2020-06-23 15:25] yasmina-altair opened #17675 "pandas dtypes "boolean" not supported in classification target"
#### Describe the bug
Pandas has extended NumPy's dtypes and these dtypes extensions are not all supported as targets in a sklearn classifier. In particular, if the target y is a Pandas "boolean" dtype, a classifier such as LogisticRegression fails whereas if the target is a numpy "bool" dtype, the classifier will not fail.

#### Steps/Code to Reproduce
[code]

#### Expected Results
[code]
#### Ac

[2020-06-23 15:48] ogrisel commented on #17674
For the contributor feel free to split the work in individual PRs, e.g. on per source file for instance, so as to make the review faster.

[2020-06-23 17:23] alfaro96 opened #17680 "Tests in "datasets" module are not skipped if pillow and pandas are not installed"
#### Describe the bug

The `sklearn/datasets/tests/test_common.py::test_common_check_return_X_y[fetch_lfw_people-fetch_lfw_people]`  and `sklearn/datasets/tests/test_covtype.py::test_fetch_asframe` tests are not skipped if `pillow` and `pandas` are not installed, respectively.

This gives raise to the [wheel builder](https://dev.azure.com/scikit-learn/scikit-learn/_build?definitionId=3) to fail be

[2020-06-23 17:24] mottese opened #17681 "pairwise_kernel and SpectralClustering.affinity_matrix_ give different answers"
#### Describe the bug
`SpectralClustering` uses `pairwise_kernels` to compute an affinity matrix. However, the `affinity_matrix_` stored in an instance of `SpectralClustering` after calling `fit` is different than the matrix that results from calling `pairwise_kernels` directly.

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results
I would expect the `sc_am` and `pk_am` variables to

[2020-06-23 17:53] lmphcs commented on #17657
You are right -- it returns that warning.

[code]

But wouldn't it be better still return these clusters?

[2020-06-23 18:03] jeremiedbb commented on #17663
Thanks for the report @zbw0046

I proposed to fix that in #17683

[2020-06-23 18:40] thomasjpfan commented on #17102
Opened https://github.com/MacPython/cython-wheels/pull/4 to have the latest build of Cython to be uploaded on the index.

[2020-06-23 18:42] mottese commented on #17681
In fact, the values in `affinity_matrix_` (excluding the diagonal) are the values from `pairwise_kernels` divided by `e` (2.71828183...)

[2020-06-23 19:24] #8213 closed

[2020-06-23 19:50] rth opened #17684 "PERF Optimize dot product order"
When multiplying 3 or more matrices, the order of parathesis doesn't impact the results but it can have a very significant impact on the number of operations and on performance see https://en.wikipedia.org/wiki/Matrix_chain_multiplication

For matrix multiplication of dense arrays there is [numpy.linalg.multi_dot](https://numpy.org/doc/stable/reference/generated/numpy.linalg.multi_dot.html) and we

[2020-06-23 22:22] yashika51 commented on #10903
I'm working on this issue.

[2020-06-23 22:22] yashika51 commented on #10903
Take

[2020-06-23 22:23] #17659 closed

[2020-06-23 22:30] NicolasHug commented on #17660
The non-hist `GradientBoosting` estimators support this via the `init` parameter. Unfortunately I think I'm -1 on this for the `HistGradientBoosting` estimators because it causes various issues:

- it makes fast PDPs impossible to compute (we would need to remember the training data)
- third party libraries that compile GBDTs into something else (like `hummingbird` or `treelite`) cannot convert th

[2020-06-23 22:41] NicolasHug commented on #17660
oops sorry I completely misunderstood >< please disregard my previous comment

Basically, this is impossible for the Histogram-based decision trees: the implementation is entirely tied to the assumption that the base estimators are trees (no trees -> no histograms).

For non-hist GBDTs, this is in theory possible but would require a big API change since right now, all the tree parameters (like max

[2020-06-23 22:44] zachmayer commented on #17660
XGboost supports linear predictions, and I've definitely seen cased where it builds a useful model.

What I really want to do is boost smoother non-linear models (e.g. a kernel svm).  Adaboost works for now, but I like the GBM algorithm better. Understood re: Histograms. I'll update the title of this request.

[2020-06-23 23:19] NicolasHug commented on #17660
don't we end-up with a linear combination of linear predictors, i.e. another linear predictor which we could have obtained without boosting?

I'm open to the idea regarding the regular GB estimators... let's see what others think

[2020-06-23 23:40] #16413 closed

[2020-06-24 03:58] jenniferjang commented on #17650
Thanks for your response. Regarding the intuition about s: we found that on large (>1M points)  datasets, we could choose s as small as 0.001 to 0.02 and still have comparable or better performance to DBSCAN. As for smaller datasets, we were able to use s between 0.01 and 0.3.
One reason why we're both theoretically and empirically able to use a small s is that DBSCAN finds the connected component

[2020-06-24 04:31] thomasjpfan commented on #17650
Having a separate approximate nearest neighbors transformer may be useful for other estimators such as TSNE. An example of using annoy for approximate nearest neighbors can be seen in [exmples/neighbors/approximate_nearest_neighbors.py ](https://github.com/scikit-learn/scikit-learn/blob/master/examples/neighbors/approximate_nearest_neighbors.py). Furthermore, It could also benefit [hdbscan](https:

[2020-06-24 07:59] lesteve opened #17690 "Documentation failing on master (most likely because of scipy 1.5.0)"
Documentation on master has been failing for a few builds
[Failing build log](https://app.circleci.com/pipelines/github/scikit-learn/scikit-learn/4338/workflows/72a4aca6-37bb-49fb-a5cb-5a79c9ea3542/jobs/108734)
scipy 1.5.0

[Succesful build log](https://app.circleci.com/pipelines/github/scikit-learn/scikit-learn/4313/workflows/6852667f-d82e-4f9a-9629-395fb4d6f192/jobs/108656) 16 hours ago.
scipy 1

[2020-06-24 08:03] glemaitre opened #17691 "MNT remove FutureWarning and raise AttributeError"
I think that this is time to modify `get_params`:

https://github.com/scikit-learn/scikit-learn/blob/683b3e51ee346cc3c7bb37b4ba4a132906396c0d/sklearn/base.py#L202-L210

We should raise an `AttributeError` from now on.
@NicolasHug if I recall well you did a bunch of handling the deprecation, is there a reason for not touching this one or it just felt between the cracks?

[2020-06-24 08:06] alfaro96 commented on #17691
I work on this issue in #17448, but we are facing a few of issues.

[2020-06-24 08:23] glemaitre commented on #17691
Oh cool, could you link the issue number in your PR to see that this is
work in progress?
I will put a milestone and make it a blocker.

On Wed, 24 Jun 2020 at 10:06, Juan Carlos Alfaro Jiménez <
notifications@github.com> wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2020-06-24 08:57] Lyonid opened #17693 "Incremental PCA - ValueError: array must not contain infs or NaNs"
I'm trying to use IncrementalPCA from sklearn.decomposition. My code couldn't really be simpler:

[code]
but this is how it finishes when launched:

[code]
I already checked:

- There is no NaN, infinite or negative anywhere in my data
- I had scikit-learn v0.22.2.post1, I updated to 0.23.1, no difference
- If I use PCA instead of IncrementalPCA leaving everything else the same, everything works f

[2020-06-24 09:10] #9602 closed

[2020-06-24 09:15] glemaitre commented on #17690
take

[2020-06-24 10:35] #17690 closed

[2020-06-24 10:59] jnothman commented on #17660
Are other boosted models used much in practice?

[2020-06-24 11:03] jnothman commented on #17660
Sorry I hadn't seen your comment, Zach. If there are compelling use cases,
I think it would be reasonable to support, except that we have made it
difficult to name this meta estimator when we have already used
GradientBoostingClassifier.

[2020-06-24 11:35] #7980 closed

[2020-06-24 11:45] rth opened #17700 "Add 32 bit support to neural_network module"
Related to https://github.com/scikit-learn/scikit-learn/issues/11000 it would be good to add support for 32 bit computations for estimators in the `neural_network` module. This was done for `BernoulliRBM` in https://github.com/scikit-learn/scikit-learn/pull/16352  Because performance is bound by the dot product this is going to have a large impact (cf https://github.com/scikit-learn/scikit-learn/p

[2020-06-24 12:00] jeremiedbb commented on #17657
Yes that's what we usually do. Maybe we should have kept the behavior and changed the doc instead of the opposite in #15512. @amueller and @adrinjalali you reviewed that, what do you think ?

also ping @GaelVaroquaux

[2020-06-24 12:06] GaelVaroquaux commented on #17657
As mentioned on discord to @jeremiedbb : I am in favor of returning the clusters even when there is early stopping.

[2020-06-24 12:50] jeremiedbb commented on #17693
Thanks for the report. Are you on Python 2 ? Can you paste the output of
[code]

[2020-06-24 13:15] Lyonid commented on #17693
I'm on Python 3.8.
[code]

[2020-06-24 13:20] jeremiedbb commented on #12401
I have a naive question here but why would squaring the distance matrix be useful ?
For euclidean it makes sense because we first compute the squared distance matrix and then take the square root.

[2020-06-24 13:31] jeremiedbb commented on #17693
On windows the default type for numpy arrays is int32, which makes the operation `(self.n_samples_seen_ * n_samples)` overflow. We should compute the division before the multiplication to avoid the overflow here [https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/_incremental_pca.py#L292](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/_in

[2020-06-24 13:41] Lyonid commented on #17693
Nice. I'll temporary move to Linux and wait for it to be fixed. Thank you

[2020-06-24 13:49] jeremiedbb commented on #17693
With your dataset, reducing the batch_size should also work. Basically you need to make sure that
`batch_size * n_samples < 2**31 - 1` so around 1000 should be fine.

[2020-06-24 13:52] jnothman commented on #12401
We don't take the square root in tsne, do we? We calculate a probability
matrix in _joint_probabilities_nn given a squared distance matrix and
nearest neighbourhood graph.

It possibly deserves looking into, but the implication would be that the
current implementation, given a non-Euclidean metric is calculating
probabilities in accordance with the square root of those distances??

[2020-06-24 13:54] mottese commented on #17681
Resolved. It turns out that `SpectralClustering` uses the default `gamma = 1.0` whereas `pairwise_kernels` uses default `gamma = 1.0 / n_features`. [Line 507](https://github.com/scikit-learn/scikit-learn/blob/fd237278e/sklearn/cluster/_spectral.py#L507) of the `SpectralClustering` source code sets this value. I was mistaken thinking that this line was not executed.

[2020-06-24 13:54] #17681 closed

[2020-06-24 14:02] t-kusanagi2 commented on #17673
Does the following quick test help you in any way?
I don't know much about these areas, so I'm sorry if I'm saying anything weird.

[code]

[2020-06-24 14:35] jeremiedbb commented on #12401
We don't. You're right, for euclidean we compute probas given squared distance matrix and for other metrics we compute probas given vanilla distance matrix. I'm not familiar with the maths but at some point t-sne calls `_binary_search_perplexity` which seems to expect a matrix of squared distances.

Thanks for the clarification. Now I'm not sure we even want to keep the current behavior but replac

[2020-06-24 14:49] thomasjpfan commented on #17572
Issue raised by @ogrisel regarding GridSearchCV here: https://github.com/scikit-learn/scikit-learn/pull/17594#issuecomment-648857982

In the current implementation, if `y_true` is in `{0, 1}`, inverse encoding of the `y_true` seems like a bug.

[2020-06-24 14:58] adrinjalali commented on #17657
@GaelVaroquaux doesn't that deceive people of having "clustered" their data where they actually haven't and the method hasn't converged? I would think that's a bit misleading for the user, don't you think?

[2020-06-24 15:17] Lyonid commented on #17693
Yes it worked. Thank you. Will watch the issue to know when it is fixed

[2020-06-24 15:25] GaelVaroquaux commented on #17657
Convergence is a bit of an arbitrary choice: where do you stop?

My logic is the following: suppose that you have a data-processing pipeline running in production, and one day, data comes along that is a bit less well conditioned. Bang, failure of convergence, the output drastically changes, and the production engine crashes. In such a situation, the operational cost of a small change in the data

[2020-06-24 15:35] jeremiedbb commented on #17657
It's true that before convergence, the number of clusters might be really different than at convergence, and since the optimal number of clusters depends on the `preference` param, stopping earlier might lead to a clustering with a number of clusters that do not reflect `preference`. However it still a valid clustering in some sense.

For other iterative algos, if we don't converge before max_iter

[2020-06-24 15:37] adrinjalali commented on #17657
Ok, fair. I'm happy to return those labels then.

[2020-06-24 17:34] NicolasHug commented on #17700
I was under the impression that we decided to stop providing new features / improvements to the NN module?

[2020-06-24 17:44] rth commented on #17700
Stop providing features yes, performance improvements no, I think. As we do include it, people will use in some simple cases where installing pytorch/tensorflow is a hassle and there is no reason to keep our implementation slower that it can be.

Here we are talking about easy changes to half a dozen lines( similar to https://github.com/scikit-learn/scikit-learn/pull/16352) with a clear performanc

[2020-06-24 17:47] NicolasHug commented on #16321
Should we just add a note in the UG, something like

Slightly related, it would be interesting to discuss in the UG when one might prefer sigmoid vs isotonic. I personally have no idea.

[2020-06-24 17:52] lucyleeow commented on #16321
I am happy to add this to the doc. This was explained in some of the papers I looked at.

[2020-06-24 17:53] NicolasHug commented on #16321
please ping me on the PR :)

[2020-06-24 19:12] rth commented on #17674
Closing as resolved.

[2020-06-24 19:12] #17674 closed

[2020-06-24 19:13] jenniferjang commented on #17650
This sounds good. Breaking down into two steps:

1. Implement subsampled nearest neighbors function as a separate function
2. Integrate into DBSCAN

I’ll start working on the first step and we can revisit the second step afterwards.

Thanks!

[2020-06-24 21:11] thomasjpfan commented on #16321
I am curious if this can be worked into our `IsotonicRegression`. We can have it as an option if it adds too much computational cost.

[2020-06-24 23:56] aldee153 commented on #17693
Hi, I will work on this.

[2020-06-25 01:02] jnothman commented on #12401
by always square :)

yes, non-square would be a legacy behaviour

[2020-06-25 03:18] jnothman commented on #17650
sklearn.neighbors.SubsampledNeighborsTransformer? Sounds interesting!

[2020-06-25 04:45] ponnsundar opened #17714 "Upgrade jQuery to version 3.5 to solve CVE-2020-11022"
In jQuery versions greater than or equal to 1.2 and before 3.5.0, passing HTML from untrusted sources - even after sanitizing it - to one of jQuery's DOM manipulation methods (i.e. .html(), .append(), and others) may execute untrusted code. This problem is patched in jQuery 3.5.0.

[2020-06-25 08:40] rth commented on #14251
I keep running into the fact that with `remainder="drop"` and named columns, transform requires same columns or more than fit even when they are not used (also https://github.com/scikit-learn/scikit-learn/issues/15085). I think it would be worth fixing this, even it if means special casing the all named columns case.

The use case is either,
 - during experimentation when one can create temporary

[2020-06-25 08:56] sjosund commented on #16998
One simple way to produce this error is by running `classification_report(y_true=[], y_pred=[], output_dict=True)`.

[2020-06-25 09:06] rth commented on #14251
Filtered columns on train now getting,

it is quite annoying, because it means that the promise that a pipeline is a end to end solution between raw data and predictions doesn't hold. Now you need to prefilter/order columns in a consistent way both during train and predict. Re-opening this.

[2020-06-25 09:13] rth commented on #14251
BTW, some of the complexity is due to the fact that we are supporting both positional and named based indexing for dataframes. One could argue that ColumnTransformer should only support slices via __getitem__ which would correspond to positional indexing for ndarray and named based indexing for dataframes. Though this would certainly raise other concerns though.

[2020-06-25 09:56] rth commented on #17714
Thanks! Would you be interested in submitting a PR?

[2020-06-25 10:03] d3b0unce commented on #17684
Turns out `multi_dot` can be slower<sup>[1]</sup> than `dot` depending on the size and variation in the size of the arrays. However, `multi_dot` uses a much simpler logic to identify the right order if it is a triple dot product<sup>[2]</sup>. Considering that most of the nested dot products in the code seem to be triple dot products, maybe `multi_dot` can provide performance gains.

[1] https://s

[2020-06-25 10:18] adrinjalali commented on #14251
I think I definitely wouldn't want to do that in `ColumnTransformer`. I'd be happy to have a `ColumnSelector` which would do some loose validation and select the columns and return the same object type as the one given to it. But since it's quite different from the other transformers we have, I rather have that either as an example or something in sklearn-extra, WDYT?

[2020-06-25 10:22] rth commented on #14251
You mean named only columns for dataframe or handling better remainder="drop" with named columns? For the former, it was just a though, I'm not particularly attached to it.

[2020-06-25 10:28] adrinjalali commented on #14251
I mean, I'm happy with `ColumnTransformer` being very strict about the input, and having another transformer to handle _loose_ kinda input.

[2020-06-25 10:43] rth commented on #14251
OK, take a simple example,
[code]
so you would say, OK have a model that works let's serialize it and make predictions on new data. Except no, that won't work because new data doesn't have the `'target'` column and so a this pipeline would fail once deployed. Yes, it's possible to fit on `df_train.drop('tagret', axis=1)` but it's just an another example illustrating the issue.

Now as a user I don

[2020-06-25 11:24] adrinjalali commented on #14251
I'm saying the user should take care of what the data exactly looks like when they feed it to an sklearn pipeline. I just don't think it's in the scope of sklearn to handle random and varying input shapes and columns, and I think doing so would result in silent bugs. I would very much rather have users write something like:

[code]

I think of not doing so as bad practice, and I'd discourage peopl

[2020-06-25 11:38] rth commented on #14251
I disagree. For me that's exactly what `ColumnTransformer` is for: i.e. select some columns from the data which can have plenty irrelevant columns and extract features from them. As long as the columns used by the model are there, it should work. IMO the point of a pipeline is to take raw input and return the prediction. Having additional column ordering/selection step outside of the pipeline is a

[2020-06-25 11:53] rth commented on #17684
Yes, indeed, that's why benchmarking is useful in any case.

[2020-06-25 12:13] RosieClegg commented on #10236
Hi,
I am getting the exact same issue. Did you find a resolution when working in Anaconda for lbfgs output using verbose from the MLP regressor?
Thanks

[2020-06-25 12:24] jnothman commented on #16998
PR with test and fix welcome, thanks for the report @sjosund!

[2020-06-25 12:27] #16597 closed

[2020-06-25 12:37] ogrisel commented on #16321
sigmoid is parametric and strongly biased (assume the calibration curve of the un-calibrated model has a sigmoid shape) while isotonic calibration is non-parametric and does not make this assumption.

In general, the non-parametric calibration would tend to overfit on dataset with a small number of samples while the parametric sigmoid calibration can underfit if the assumption is wrong.

TL;DR: si

[2020-06-25 12:40] ogrisel commented on #16321
Not all application of isotonic regression are for probabilistic calibration of classifiers. For the calibration use case it might make sense to further impose strict monotonicity.

This could be a non-default option for the `IsotonicRegression` class it-self but that would be enabled by default in `CalibratedClassifierCV` when using the isotonic method.

[2020-06-25 12:42] ogrisel commented on #16321
Maybe @dsleo has suggestions for how to deal with this issue :)

[2020-06-25 13:14] jnothman commented on #14251
It seems like ColumnTransformer is different things to different people!
I don't mind it having a bit more flexbilility in input, if named columns
are always used.

[2020-06-25 13:34] thomasjpfan commented on #14251
From a user point of view, I think having more flexibility with named columns would be nice.

[2020-06-25 13:51] hs-nazuna commented on #14228
I opend the PR for `_permutation_importance.py` too.

[2020-06-25 14:13] #17590 closed

[2020-06-25 14:35] jnothman commented on #14338
Flexible enough but not usable enough? I like the idea of having the user specify a hyperparam path or something. If it existed: (a) would it achieve the goal of improving the chance of meaningful convergence; and (b) would it be clear how a user should use it?

[2020-06-25 14:57] ogrisel commented on #9146
t-SNE is precisely one such algorithms that is currently written in Cython. But other estimators such as preprocessors that only use pure numpy functions could potentially use one of NEP-18 / NEP-35 / NEP-37 or a combination to accept non-numpy inputs (e.g. CuPy arrays) and avoid forcing the arrays to be converted to a numpy array. See: #16196 and #16574 for instance.

[2020-06-25 16:11] morawi opened #17727 "Error in sklearn.cluster import MeanShift when bin_seeding is true"
** bin_seeding = True causes a problem;  bin_seeding = False is OK. Just try this simple code:**

[code]
**Generated Error:**
ms.fit(zz)
C:\ProgramData\Anaconda3\envs\Pytorch\lib\site-packages\sklearn\cluster\_mean_shift.py:223: RuntimeWarning: divide by zero encountered in true_divide
  binned_point = np.round(point / bin_size)
C:\ProgramData\Anaconda3\envs\Pytorch\lib\site-packages\sklearn\clust

[2020-06-25 16:20] joshuacwnewton opened #17728 "Restructure "Section 1.12. Multiclass and multilabel algorithms" to make distinctions between concepts clearer"
#### Describe the issue linked to the documentation

Understanding the subtle distinctions between multi-learning problems can be difficult. "How is multilabel different than multioutput? What format should target `y` be in for each problem type?" The answers to these questions are not always clear; see the inconsistent answers provided in [this discussion](https://www.researchgate.net/post/What_i

[2020-06-25 16:20] joshuacwnewton commented on #17728
Take

[2020-06-25 17:09] d3b0unce commented on #17684
I replaced the the nested `dot` products in a few modules with `multi_dot` without further inspection, and did a basic speed comparison on a single core machine. The dataset is fairly large.

The code in my Jupyter notebook looks something like this:
[code]

|Module  | dot | multi_dot
|--------|-----|----------
|FastICA | 229 ms ± 6.57 ms per loop (mean ± std. dev. of 20 runs, 1 loop each) | 240 m

[2020-06-25 17:58] hsorsky opened #17729 "Add Feature Importance to logistic regression"
#### Describe the workflow you want to enable
Add ``feature_importances_`` attribute to the ``LogisticRegression`` class, similar to the one in ``RandomForestClassifier`` and ``RandomForestRegressor``.

#### Describe your proposed solution
Use the coefficient magnitude, normalized by the relevant variable's standard deviation.

#### Describe alternatives you've considered, if relevant
N/A

#### Ad

[2020-06-25 19:29] rth commented on #17684
Thanks for checking @d3b0unce! So it might be worth it for `BayesianRidge`.  Please feel free to open a PR. It could also be worth benchmarking ridge maybe on a dataset with something like `20k samples, 30 features` which would be more typical.

For the first occurrence in _samples_generator I did see a small performance improvement when I benchmarked it earlier.

[2020-06-25 21:05] #8675 closed

[2020-06-25 21:05] #16336 closed

[2020-06-25 21:09] rth commented on #17729
You can use [permulatation_importance](https://scikit-learn.org/stable/modules/permutation_importance.html#permutation-importance) with any model, which is also generally [more reliable than impurity based feature importance in trees](https://scikit-learn.org/stable/modules/permutation_importance.html#relation-to-impurity-based-importance-in-trees).

Likely there are some related discussion in htt

[2020-06-25 21:52] acharles7 opened #17733 "Dataset Request: Heart Disease Dataset"
#### Describe the workflow you want to enable

[Heart Disease Dataset](http://archive.ics.uci.edu/ml/datasets/Heart+Disease)
This dataset contains 13 attributes and labels of heart disease from 303 participants from Cleveland.

This dataset featured in many ML and DS tutorials, one of them, [StatQuest with Josh Starmer](https://www.youtube.com/watch?v=q90UDEgYqeI&t=460s) (a famous machine learning

[2020-06-26 00:13] thomasjpfan commented on #17729
We have been resisting adding `feature_importances_` in any estimators. We closed an issue requesting it for `HistGradientBoosting*` https://github.com/scikit-learn/scikit-learn/issues/15132.

[2020-06-26 00:29] jnothman commented on #17728
Note though that multioutput includes regression targets, so work out where that fits into the story.

[2020-06-26 00:35] #11816 closed

[2020-06-26 00:52] jnothman commented on #17733
Usually, our justification for including a dataset is that it allows us to
demonstrate a feature in an example that we otherwise struggle to
demonstrate. Even then we often would prefer to download the dataset with
fetch_openml than add bulk and maintenance costs by distributing the
dataset. Why would having it in openml not be sufficient?

[2020-06-26 00:55] jnothman commented on #17729
I do like the idea of normalising coefficient by variance, where we
currently have places that assume the raw coef_ indicates feature
importance (e.g. SelectFromModel), but perhaps it's right to suggest using
permutation_importance in any case?

[2020-06-26 01:08] jnothman opened #17735 "Actions: Label new Pull Request with "Documentation" if it contains /\bDOC\b/"
We'd need to use a different PR labeller to the current one, such as https://github.com/marketplace/actions/condition-based-pull-request-labeler when it supports file-based labelling, hopefully in version 0.3 (it has a PR open).

[2020-06-26 01:24] thomasjpfan commented on #17735
I made a [fork](https://github.com/thomasjpfan/labeler) of the original labeler for it to work nicer with a cron job, because pull requests do not have enough permissions to label.

XREF: https://github.com/srvaroa/labeler/issues/3

[2020-06-26 01:26] thomasjpfan commented on #17735
And also another adjustment to place a upper limit on how many labels can be placed on a PR.

[2020-06-26 01:50] jnothman commented on #11336
I think transitioning could look like:
1. Make a PR to blacken master.
2. Update documentation and potentially adopt pre-commit.com's black runner.
2. Add a commit to all open PRs, automatically applying black.

I'm not yet sure about applying black to examples, where we'll often want to make the example visually clear. I'm thinking about the layout of a 2d matrix input specifically.

[2020-06-26 01:56] chkoar commented on #11336
That's an understandable point but probably is something that we are used to it.
IMHO having just `black .` removes the mental complexity on how to format the code.

[2020-06-26 02:24] thomasjpfan commented on #17658
The `coef_` is normalized to the scale of `X`:

[code]

`lasso.coef_ * X_scale` gives:

[code]

which is the last entry of `lasso.coef_path_`. This happens when `fit_intercept=True`. Maybe the documentation could be more clear with this.

[2020-06-26 02:39] thomasjpfan commented on #11336
If we are doing this, I would try to push for a slightly higher line-length (maybe 100). I recall that @adrinjalali was not happy with changing the line length.

[2020-06-26 03:55] thomasjpfan commented on #10236
Here is a code snippet that reproduces this issue:

[code]

On OSX, this displays nothing, but on linux it displays the iterations.

[2020-06-26 04:45] thomasjpfan commented on #17735
Depending on what feature we want, I can most likely add it into our labeler. The regex based on title is not too difficult. Do you think the [PR size](https://github.com/marketplace/actions/condition-based-pull-request-labeler#pr-size) feature is interesting?

[2020-06-26 06:25] rth commented on #11336
Also Gaël I think. 100 would be a bit too large even on my laptop I think. I would prefer either the default (88) or 79.

Yeah, asking contributors to rely on pre-commit for code changes except for examples where they would need to manually do it can be confusing.

Sounds like a plan.

Yes, that would indeed be ideal. Something like,
[code]
we would need to think about how to make that a) maybe in

[2020-06-26 06:29] acharles7 commented on #17733
Yes, you're right. I thought it would be easier to use if `from sklearn.datasets import heart_disease`
I got your point, Nevermind

[2020-06-26 07:55] d3b0unce commented on #17684
Hi @rth,  I tested again with a (20000, 30) dataset, on a multi-core machine.

The dataset was created like this
[code]

`multi_dot` seems to be faster or on-par with nested `dot` products for these classes. We can use multi_dot for all these I think.

Should I commit the changes for the classes below as a part of PR #17737?

| Class        | dot

[2020-06-26 08:01] RosieClegg commented on #10236
OK, thanks. Different OS needed then.

[2020-06-26 08:58] rth commented on #17684
Great!

Yes, please it would be easier for reviewers to evaluate if it's in one branch..

[2020-06-26 09:41] jeremiedbb commented on #17684
We should benchmark when using sparse data as well. btw do you understand this ?
[code]

[code]

[2020-06-26 10:00] rth commented on #17684
`multi_dot`  only applies to dense data I think. All of the places where we use `multi_dot` should use dense data exclusively, otherwise it's heuristic based on shapes doesn't make sense.

Yeah, I guess it doesn't work on sparse, and doesn't raise a clean exception either.

[2020-06-26 10:37] Blessing988 opened #17741 "AttributeError: 'ColumnTransformer' object has no attribute '_check_n_features'"
I am a beginner and started learning data science some days ago. My  feature data set has some categorical features and I was trying to preprocess in order to convert them into numbers.  I was trying to use the **ColumnTransformer** from the sklearn compose module but had an error when  I used the **fit_transform( )** parameter>

[code]

## These are the details of the error:

[code]

[2020-06-26 11:19] glemaitre commented on #17741
Could you provide information about your scikit-learn version:

[code]
It looks like there is something fishy there.

[2020-06-26 11:26] d3b0unce commented on #17684
Yes, that makes sense. I got these errors when I changed them in the wrong places, such as in `_ridge.py`.

I pushed the changes for FastICA, NMF, BayesianRidge, and ARDRegression in #17737. Do you want the changes for other modules that have not been benchmarked yet to go in a separate PR?

[2020-06-26 11:32] glemaitre commented on #17733
@acharles7 If you upload the dataset to https://www.openml.org/ then you will be able to use `fetch_openml("heart_disease")`
This is more maintainable for us and offers you the requested feature.

[2020-06-26 11:32] #17733 closed

[2020-06-26 11:39] rth commented on #17684
Sounds good. Let's merge that one first, I'll try to review in a day or so.

[2020-06-26 11:46] jeremiedbb commented on #17727
Thanks for the report. Your example is a bit degenerate and the estimated bandwidth is 0 which causes a bug in the binning. #17742 fixes it

[2020-06-26 11:49] clmbst commented on #17402
Hello, could I work on maxabs_scale ?

[2020-06-26 11:56] morawi commented on #17727
My bad for not reporting the bandwidth `bw` I used.
In fact, the problem happens when I used `bw=None`.
I have double checked it just now. Furthermore, `bw=None` is the defualt value.  I am not sure if 0 is translated to `None`.

[2020-06-26 11:57] jeremiedbb commented on #17727
I assumed it was None. If None the bandwidth is estimated internally. In your example it's estimated to 0.

[2020-06-26 12:25] maikia commented on #3020
As this is a quite large PR, after discussing with @glemaitre we decided it is better to subdivide it to smaller PRs.
Here is how I suggest to subdivide it:

- [ ] A. _coordinate_descent.py:

1. ElasticNet
2. Lasso
3. LassoCV
4. ElasticNetCV
5. MultiTaskElasticNet
6. MultiTaskLasso
7. MultiTaskElasticNetCV
8. MultiTaskLassoCV

- [ ] B. _base.py:

9. LinearRegression

- [ ] C. _bayes.py:

10. Bayes

[2020-06-26 12:26] morawi commented on #17727
I see. So, when the variance of the input is small and when the bandwidth is None,  the latter is estimated to 0. I wonder if there is any estimate, or threshold, on the input variance to probably handle this, by for example, setting `bin_seeding` to False.
All goes well when  `bin_seeding` is False

[2020-06-26 12:39] jeremiedbb commented on #17727
A bandwitdh of 0 is equivalent to bin_seeding=False.

Not entirely, it's based on a knn with an estimated number of neighbors depending on n_samples.  You can see it [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/cluster/_mean_shift.py#L68).

The estimation of the bandwidth is based on hardcoded params that you can't change directly in the constructor of MeanShift. However

[2020-06-26 12:45] adrinjalali commented on #14338
I think good documentation should be good enough to handle the usability. Also, for both of these parameters I'm suggesting some accepted literals which would be used by non-advanced users. It would also allow us to have some magical defaults which _usually_ converge, and if not, the user has enough flexibility to fine tune the imputation.

[2020-06-26 14:06] gbolmier commented on #17341
Thx @NicolasHug, `sklearn/utils/testing.py` also need to be removed

[2020-06-26 15:12] marenwestermann commented on #14312
I checked which attribute docstrings are still missing (the list above is out of date). These are the ones I found:

BayesianGaussianMixture, [mean_precision_prior]
BayesianRidge, [X_offset_, X_scale_]
BernoulliNB, [coef_, intercept_]
Birch, [fit_, partial_fit_]
CCA, [x_mean_, x_std_, y_mean_, y_std_]
DecisionTreeRegressor, [classes_, n_classes_]
DummyClassifier, [output_2d_]
DummyRegressor, [outp

[2020-06-26 15:18] NicolasHug opened #17748 "Indicating None as an option in docstrings of n_jobs and random_state"
For `random_state` and `n_jobs`, `None` has a very specific meaning so I think we should explicitly mention it as an option in the docstring:

`random_state : int, RandomState instance or None, default=None`

and

`n_jobs : int or None, default=None`

We should not just write ``n_jobs : int, default=None`` because this suggests that the default is that there is no jobs.

The meaning of `None` for

[2020-06-26 15:59] cmarmo commented on #14312
Thanks @marenwestermann!

[2020-06-26 16:31] rth commented on #17748
It's true that there can be some confusion between,
 - None as False
 - None as "auto"

for instance in `GridSearchCV`, `cv=None` or `scoring=None` similarly doesn't mean that there are no scoring or CV. Though as long as the docstring explains the meaning of None it should fine no?

We could indeed improve the type in the docstring, but then either we can always reflect the type (i.e. always put

[2020-06-26 16:38] rth commented on #17748
Also the semantic is the same in the sense that's it's missing. What the code then does when the input is missing can be different, but I would say there are more than 2 classes there? e.g.
 1. random_state=None => don't fix it,
 2. n_jobs=None -> =1
 3. sample_weight=None -> =np.ones(n_samples)
 4. etc

I can't really say that 1, 2 belong in the same class but not 3.

[2020-06-26 16:57] Blessing988 commented on #17741
@glemaitre

Python 3.8.3 (default, May 19 2020, 06:50:17) [MSC v.1916 64 bit (AMD64)]
NumPy 1.18.1
SciPy 1.4.1
Scikit-Learn 0.22.1

[2020-06-26 16:57] #10055 closed

[2020-06-26 17:02] joshuacwnewton commented on #12401
I'm having trouble coming up with a justification for including `square_distance=False`.

`square_distance='legacy'` already covers the legacy behaviour, so having `False` as an additional option implies that there's a valid reason to intentionally not square the distances. But, is there?

[2020-06-26 17:30] NicolasHug commented on #17748
I think these are slightly different because you definitely expect to have some CV strategy when doing GridSearch. So `cv=None` surely can't correspond to "no cross-validation". Though I agree that having `5` or `'auto'` as a default would be better.

In contrast for e.g. `random_state`, users that aren't familiar with our convention may assume that `random_state=None` means "no random state", i.e

[2020-06-26 18:12] rth commented on #17748
Well it could also be interpreted as "don't use any job/processes" aside from the process you are running in. I agree that `n_jobs=1` would have been clearer there, but I think it's not possible as that one wouldn't be able to overwrite backend in the n_jobs e.g. with dask then. So we are stuck in with None.

I'm not opposed to re-add None to docstring, I'm just saying this classification can be d

[2020-06-26 18:18] joshuacwnewton commented on #17728
Sorry to bother, but I'm new to Sphinx, and I'm having trouble understanding good practices for this directive.

[code]

Since this section covers both `sklearn.multiclass` and `sklearn.multioutput`, how would I handle this directive? I've checked [the relevant Sphinx documentation](https://certik.github.io/sphinx/markup/desc.html), but it seems to be written for the case of "1 page = 1 module".

[2020-06-26 18:26] joshuacwnewton commented on #17728
Actually, on that note, why is it that `sklearn.multiclass` covers multilabel classification?

Current:
 * [`sklearn.multiclass`](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.multiclass): Multiclass and multilabel classification
 * [`sklearn.multioutput`](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.multioutput): Multioutput regression and classificati

[2020-06-26 18:30] glemaitre commented on #17741
So the original traceback shows some code from scikit-learn 0.23.1 while your import shows scikit-learn 0.22.1 which explains that there is something fishy.

Could you update/resinstall scikit-learn 0.23

[2020-06-26 18:38] joshuacwnewton commented on #17728
Ah, actually, I believe `OneVsRestClassifier` is the only class in [`sklearn.multiclass`(https://scikit-learn.org/stable/modules/classes.html#module-sklearn.multiclass) that performs multioutput classification.

With the recent change in #17646, perhaps now is the time to fully split the two categories/modules apart.

[2020-06-26 18:41] #17680 closed

[2020-06-26 18:57] glemaitre opened #17751 "MNT MatplotlibDeprecationWarning by using `use`"
I just saw locally that we have a `MatplotlibDeprecationWarning`:

[code]

We might need to edit our `conftest` to handle this deprecation to avoid some surprises.

[2020-06-26 19:54] joshuacwnewton opened #17752 "FileNotFoundError for `-lowercase.rst` when building docs locally"
#### Describe the bug

Building the documentation raises a FileNotFound error.

#### Steps/Code to Reproduce

* Checkout 563257a14119dbb3c45945dc9369392cf0ae1082 (or any recent commit, but this was where I branched from when I encountered the error)
* `cd doc`
* `make`

#### Expected Results

The documentation builds successfully.

#### Actual Results

[code]

#### Versions

[code]

#### Suspected

[2020-06-26 19:57] IsabellaRO commented on #17751
@glemaitre Hi! Can you give me an example of what you executed that raised this error?

[2020-06-26 20:09] joshuacwnewton commented on #17752
Apologies, I had previously built the documentation and not removed the existing build files. Please disregard.

[2020-06-26 20:09] #17752 closed

[2020-06-26 20:32] glemaitre commented on #17751
It will be any test using the `pyplot` fixture due to the following line:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/conftest.py#L23
We should check the deprecation warning and how to use `matplotlib.use`
across matplotlib  version knowing that we are supporting matplotlib >=
2.1.1

On Fri, 26 Jun 2020 at 21:57, Isabella Oliveira <notifications@github.com>
wrote:

--
Guillaum

[2020-06-26 22:11] dsleo commented on #16321
Thanks @lucyleeow for the references and the upcoming additions to the doc !

The solution of the second reference seems a bit expensive. Regarding the first reference

It's not clear to me what this means - wouldn't that possibility break monotonicity by substituting calibrated probabilities by their original predicted probabilities ?

We can extend @ogrisel hack with another by adding linear int

[2020-06-26 22:52] #17663 closed

[2020-06-27 02:40] #14567 closed

[2020-06-27 06:59] acharles7 commented on #17751
Can I work on this?

[2020-06-27 08:56] #16799 closed

[2020-06-27 11:29] jnothman commented on #17728
`.. currentmodule` is only there to allow for shorthand references to classes/functions in that module, e.g. `:class:`OneVsRestClassifier`. It makes little material difference.

I'm happy to keep them in one chapter of the user guide together, even if it references two modules, thus allowing the preface to distinguish them.

[2020-06-27 11:30] jnothman commented on #12401
I'm fine to have `square_distance='legacy'` and then change default after deprecation period.

Indeed, we could rename it to `sqrt_distance` reflecting the implication of the current behaviour.

Or maybe users wouldn't mind too much if we just changed behaviour as a bug fix???

[2020-06-27 11:32] jnothman commented on #17735
That PR size link is broken.

The srvaroa labeller has been released with `file` matching.

[2020-06-27 12:06] d3b0unce commented on #17700
@rth, I've tried passing `dtype` as a parameter to MLP something like this -
[code]
Internally, I cast all the network parameters to this `dtype`. A basic speed comparison of `_fit` shows that `float32` is faster than `float64`, as expected.

[code]

The dataset is something like this:
[code]

[2020-06-27 13:19] glemaitre commented on #17751
Go ahead :)

On Sat, 27 Jun 2020 at 08:59, Charles Patel <notifications@github.com>
wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2020-06-27 13:41] timokau opened #17756 "Init parameter check of estimator_checks overly restrictive"
#### Describe the bug

I'm working on a custom estimator that needs an optimizer as one of its hyperparameters. I'm using the pattern of passing in an uninitialized optimizer and its parameters separately, i.e.

[code]

which will then initialize the optimizer as needed. I'm attempting to verify this with the `check_parameters_default_constructible` test, but it fails due to this assertion:

https

[2020-06-27 14:26] thomasjpfan commented on #17735
https://github.com/srvaroa/labeler#pr-size

[2020-06-27 14:49] rth commented on #17700
Great! I was hoping that it would be a bit more significant, I but I guess it also depends on the CPU vectorization support.

Maybe let's not add the dtype parameter after all, but rather do as in https://github.com/scikit-learn/scikit-learn/pull/16352: run,
[code]
first and then use `X.dtype` for the creation of new arrays. That would probably be more consistent with other estimators. Would you l

[2020-06-27 15:22] jnothman commented on #17735
I suppose that's really a question of how core devs would use labels to
review. Not sure if pr size would be helpful to me.

[2020-06-27 15:46] joshuacwnewton commented on #12401
That's where my thoughts were heading too! If we don't see a reason for `False`, and the default eventually becomes `True`, then why give a parameter at all? :)

[2020-06-27 16:04] d3b0unce commented on #17700
Sure @rth, will open a PR in a bit.

[2020-06-27 23:09] jnothman commented on #12401
The parameter was only intended for backwards compatibility. So the
question is whether users are depending on backwards compatibility for
non-Euclidean metrics with tsne, and whether this change universally
provides non-negative improvements. Because it's hard to argue this, it
might be safer to implement a parameter for a few versions

[2020-06-28 02:01] lucaszanella opened #17760 "import nltk gives TypeError: an integer is required (got type bytes) when scikit-learn is installed"
importing nltk when scikit-learn (latest, 0.23.1 but also tried 0.21-2) is installed gives this:

[code]

Steps to reproduce: Docker:

[code]

then run

`sudo docker run -it docker_image_name /bin/bash python3`

then simply do

`import nltk`

to get import error `... TypeError: an integer is required (got type bytes) `

Simply do `pip3 uninstall scikit-learn` fix the error

[2020-06-28 03:00] Blessing988 commented on #17741
Yeah thanks
I have done that

[2020-06-28 03:16] bmreiniger commented on #17675
It's because in `utils.multiclass.type_of_target`, [the casting](https://github.com/scikit-learn/scikit-learn/blob/76ef8b0ef07f9c03b97d29a51e1543be7720e85a/sklearn/utils/multiclass.py#L253) `y = np.asarray(y)` converts to `object` dtype.  But since dtype `boolean` allows the `pd.NA` and is experimental, I'm not sure how sklearn should deal with it.

[2020-06-28 04:55] jnothman commented on #17675
I think as long as it does not contain NA, we should probably support it.

[2020-06-28 05:36] acharles7 commented on #17751
@glemaitre one thing we can do is to remove both keywords arguments (`warn, force`) since we are using their default arguments as mentioned in [matplotlib.use()](https://matplotlib.org/_modules/matplotlib.html#use)
Do you have any other suggestion?

[2020-06-28 06:41] d3b0unce commented on #17675
Does it make sense to handle it like this in `_validate_data`? I think we'll need to check for the `dtype` by string comparison since we don't import pandas.
[code]

[2020-06-28 08:45] jnothman commented on #17675
check_array would be a more appropriate place to handle it, I think.

[2020-06-28 10:58] Kiona0405 commented on #17624
It is not a bug. It is caused by a bad assumption of prior distribution.

BayesianRidge make two assumption.

- lambda(weights factor) is come from gamma distribution <- it is key for you
- alpha(noise factor) is come from gamma distribtuion

Both distribution have two parameters(alpha_1, alpha_2, lambda_1, lambda_2).
These parameters is set before training.
And default value is 1e-6.

This defaul

[2020-06-28 11:10] amy12xx commented on #11435
I looked the regression metrics, and it looks like all of them need this fix, since all are based on central tendency measures (mean / median / variance). metrics.max_error could potentially be a case that might not need this.

Here's the current behavior on an example:

[code]

[2020-06-28 13:16] AaronX121 opened #17763 "Problems with the parameter `learning_rate` in HistGradientBoostingClassifier"
#### Describe the bug
Setting the argument learning_rate to a value larger than 0.1 in HistGradientBoostingClassifier encounters large performance degradation.

#### Steps/Code to Reproduce

[code]

#### Expected Results
I expect the performance of HistGradientBoostingClassifier with learning_rate=0.3 to be slightly different from the case with learning_rate=0.1, either better or worse, instead of

[2020-06-28 15:16] johnny-mueller commented on #17693
@jeremiedbb
I have the same problem too. I iterate over 5000 arrays that each have the following shape (2704, 128) and are each float32.
After about 700 iterations I get the following error message:

I also changed the code of _incremental_pca.py by the pull request of @aldee153  on my local version, but this was not successful.

I work with Windows 10, python 3.6.8, sklearn 0.23.1

[2020-06-28 15:25] Lyonid commented on #17693
@johnny-mueller did you try expliciting batch_size such that `batch_size * n_samples < 2**31 - 1` ?

[2020-06-28 15:30] johnny-mueller commented on #17693
@Lyonid
I tried it but it didn't work for me.
My batch_size is 2704 and the n_samples were 5000, that means 2704 * 5000 < 2**31 - 1

I currently only see the problem if I do not work with the test data set but with the whole data set containing 180000 arrays.

[2020-06-28 15:40] Lyonid commented on #17693
@johnny-mueller then it could be a similar but different problem. What I suggested worked for me and is in line with what jeremiedbb noticed. I strongly suggest you

[2020-06-28 15:42] johnny-mueller commented on #17693
@Lyonid Thanks for the hint. I had mentioned it in the message but forgot to add the error message

[2020-06-28 16:22] #16862 closed

[2020-06-28 16:24] joshuacwnewton commented on #12401
Thank you for sharing your perspective! It's been helpful for understanding sklearn's philosophy on adding/removing parameters. :)

The only thing I'm concerned about is the code written by users in the interim period. With the current `FutureWarning` as included in #17662, users are nudged into explicitly setting `square_distance=True` to suppress the warning.

Say in a future version, sklearn re

[2020-06-28 17:08] avinashpancham commented on #17390
+1. Currently facing the same issue...

[2020-06-28 20:20] Ben-Epstein commented on #17390
@avinashpancham I figured it out, you can use cloudpickle. Then you can unpickle with regular pickle when you want to use it.

[2020-06-28 20:20] #17390 closed

[2020-06-28 20:59] jdraines commented on #13488
I encountered a similar need. I was hoping to use sklearn to encode categorical features prior to passing them to an Embedding layer in keras. In this case, the order of the categorical features does not matter, and it would be helpful to have the ability to make any unknown categories encountered at `transform` time be encoded by the same integer.

My solution for myself was to make a new encoder

[2020-06-28 21:46] NicolasHug commented on #17763
What were the results for LightGBM and XGBoost?

Getting bad results when increasing the learning rate can be expected depending on the dataset

Also note that default parameters aren't necessarily the same between libraries so comparisons might not be relevant. You might want to use https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/_hist_gradient_boosting/utils.pyx#L16

[2020-06-28 22:14] avinashpancham commented on #17390
Thanks, that indeed works :)

[2020-06-28 23:45] jnothman commented on #11435
While I appreciate that these are about central tendency, I expect users
would apply MSE, MAE, etc in the context of leave-one-out cross validation,
to just measure squared or absolute error. It would be inappropriate to
break their usage for the sake of theory, so please let's be more careful
about this.

[2020-06-28 23:49] jnothman commented on #12401
Yes, it's an an issue. We would similarly remove the parameter with a
deprecation period to soften the blow.

[2020-06-29 00:59] AaronX121 commented on #17763
Hi @NicolasHug, thanks for your kind suggestions. I will use it in the future.

Below are the results for different GBDT libs, using the script above with different learning rates.

* **Learning_rate=0.1**
XGBoost: 93.86% | LightGBM: 94.90% | HistGradientBoostingClassifier: 95.74%
* **Learning_rate=0.3**
XGBoost: 95.02% | LightGBM: 95.82% | HistGradientBoostingClassifier: 6.16%
* **Learning_rate=0

[2020-06-29 06:37] chkoar opened #17765 "A bug in the tests of forests"
#### Describe the bug
It seems that there is a bug in the unit tests of forests. In [`check_oob_score`](https://github.com/scikit-learn/scikit-learn/blob/430c2080e81dbf9aacc99dfd83d958030a7c4d07/sklearn/ensemble/tests/test_forest.py#L374) the same thing is been checked twice in the if and the else blocks.

#### Steps/Code to Reproduce
[code]

[2020-06-29 06:44] glemaitre commented on #17751
You have to take into account that we wanted some specific behaviour by
having these arguments so you need to keep the exact same behaviour in the
future. I doubt that removing the arguments will be enough.

On Sun, 28 Jun 2020 at 07:36, Charles Patel <notifications@github.com>
wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2020-06-29 06:49] acharles7 commented on #17751
removing arguments will keep the same behavior as before.
Should I make PR with removing those arguments?

[2020-06-29 07:17] glemaitre commented on #17751
OK go-ahead

On Mon, 29 Jun 2020 at 08:49, Charles Patel <notifications@github.com>
wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2020-06-29 07:23] glemaitre commented on #17765
Let's say it is not a bug but we don't need the `if` statement anymore. Here we are just ensuring that the test and OOB score are closed in the same manner. One thing that we could introduce is a lower bound in terms of accuracy and r2 depending of the case.

@chkoar do you want to make a quick PR to fix it

[2020-06-29 07:25] glemaitre commented on #17763
@NicolasHug @ogrisel But here it seems like a bug :)

[2020-06-29 07:28] chkoar commented on #17765
Sure. The solution would be to remove the if-then-else and keep just the `assert abs(test_score - est.oob_score_) < 0.1`?

[2020-06-29 07:31] glemaitre commented on #17760
The error is actually raised by `cloudpickle` rather than `scikit-learn`.

@pierreglaser Since you know the internal of `cloudpickle` (here this is version vendored in `joblib`), do you have any idea what could cause the issue.

ping @ogrisel

[2020-06-29 07:36] glemaitre commented on #17756
The way to go would be:

[code]

[2020-06-29 07:44] pierreglaser commented on #17760
Woah, I'm realizing using `scikit-learn` using the vendored `joblib` and `Python 3.8` is not possible indeed, as `joblib` vendors a `Python < 3.8` version of `cloudpickle`.
It the combinaison `Python 3.8` + vendored `joblib` officially supported?

[2020-06-29 07:52] glemaitre commented on #6189
@lorentzenchr I just found this old issue.
Basically, I think that we are going to solve the issue in https://github.com/scikit-learn/scikit-learn/pull/17377
It has some effect in the GBDT and I think that we will be limited regarding the implementation with assumption that we do about the `sample_weight`.

[2020-06-29 07:55] glemaitre commented on #17760
Uhm no `scikit-learn` does not vendor `joblib` anymore. I think the traceback just show that `joblib` is a normal dependence but `cloudpickle` is vendored in `joblib`, isn't it?

[2020-06-29 08:03] pierreglaser commented on #17760
Yes you're right. And actually my remark was incorrect, `joblib` does vendor `cloudpickle_fast.py` (the `Python 3.8+` version of `cloudpickle`). Sorry for the noise.

@lucaszanella do you know which version of `joblib` is used in your `docker` image.

[2020-06-29 08:11] lucaszanella commented on #17760
I forgot to paste `requirements.txt`:

[code]

[2020-06-29 08:12] lucaszanella commented on #17760
Also the docker container should not uninstall scikit-learn to reproduce the error:

[code]

[2020-06-29 08:18] pierreglaser commented on #17760
Thanks a lot @lucaszanella. Indeed `joblib==0.13.2` is not compatible with `Python 3.8`. You need to use `joblib==0.14` or a later version.

[2020-06-29 08:20] glemaitre commented on #17765
yes and quickly check to have

[code]

just to be sure that the accuracy or r2 are actually not bad. Maybe we can have a single threshold for regressor and classifier. we need to check that

[2020-06-29 08:27] #17741 closed

[2020-06-29 08:27] glemaitre commented on #17741
Happy that it works closing

[2020-06-29 08:40] chkoar commented on #17765
@glemaitre are you sure that regressors can get above 0.8 under the tested dataset? It seems that RF can get arround 0.74.

[2020-06-29 08:46] chkoar commented on #17765
@glemaitre if I am not mistaken currently least oob in regression is around .74 and in classification around .93. So >0.7 could be used for both situations. No?

[2020-06-29 11:07] jeremiedbb commented on #17693
@johnny-mueller can you paste the traceback of that failure too ? It's possible that we have an overflow elsewhere.

You're calling partial_fit on 5000 batches of 2704 samples. This means the total number of samples is 13520000.
After 294 iteration you've seen 294 * 2704 samples = 794976.
The batch size is 2704, so `n_samples * batch_size = 794976 * 2704 = 2149615104 > 2**31 - 1`.
It really looks

[2020-06-29 11:10] ogrisel commented on #16321
Thanks @dsleo! I would be in favor of exploring that solution in a PR.

[2020-06-29 11:26] johnny-mueller commented on #17693
@jeremiedbb Thanks for the clarification. I guess I'll have to switch to Linux. Just as a short note: The fix created above did not show any change in my local problems.

[2020-06-29 11:29] jeremiedbb commented on #17693
Please paste the traceback of the failure when you apply the proposed fix. We might have missed another overflow

[2020-06-29 11:30] glemaitre commented on #17765
yes it seems good to me

On Mon, 29 Jun 2020 at 10:47, Christos Aridas <notifications@github.com>
wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2020-06-29 11:49] NicolasHug commented on #17763
I cannot reproduce your results @AaronX121 : much like sklearn, lightgbm gets very degraded performance when using a learning rate higher than 0.1 (I haven't tried XGBoost) and when setting comparable hyperparameters with `get_equivalent_model`

I suspect that the discrepancy you have comes from different ways of handling early stopping though I haven't looked in details.

Also, note that 0.1 seem

[2020-06-29 13:28] Sandy4321 commented on #13488
Great idea
But what scikit learn people resistant to do it?
Why to do against?

[2020-06-29 13:57] glemaitre opened #17771 "Sphinx issue with autosummary"
@thomasjpfan By building the documentation from scratch I have the following issue:

[code]
Since we are only reporting diff of change file, not all PRs are failing but the following is an example: https://github.com/scikit-learn/scikit-learn/pull/17743

In the PR there are no changes regarding fastica/oas.

[2020-06-29 14:30] joshuacwnewton commented on #12401
Based on your feedback, then, I think I like keeping the proposal for introducing (then removing) a `square_distance` parameter with options `{True, 'legacy'}`.

One other upside of a slow rollout is that once a version with a `FutureWarning` is deployed, users will have a chance to provide feedback if they object to the change. Perhaps a researcher intimately familiar with niche use-cases of t-SN

[2020-06-29 14:52] johnny-mueller commented on #17693
Now that I have uninstalled and reinstalled everything including the change of the push request. The error is really not present any more. Thanks for the feedback

[2020-06-29 15:01] thomasjpfan commented on #17771
The glossary warnings is fixed in https://github.com/scikit-learn/scikit-learn/pull/13022

The autosummary issue is a little harder. We may need to revert https://github.com/scikit-learn/scikit-learn/pull/13022

Maybe https://github.com/scikit-learn/scikit-learn/pull/17564 would be okay if the files are generated on linux and it was possible to view it correctly on OSX.

[2020-06-29 15:32] joshuacwnewton commented on #12401
Actually, this could be a reason to have `'True'`, `'warn'`, and `'legacy'`. In that case, explicitly setting ``legacy`` would be another way to suppress the warning.

With just `True` and `legacy`, then there would be no way to suppress the warning and still keep legacy behavior.

[2020-06-29 15:35] AaronX121 commented on #17763
I also observe a huge performance degradation on LightGBM and XGBoost after using ``get_equivalent_model`` to pass parameters. If this is the expected behavior, this issue can be closed :-).
Thanks.

[2020-06-29 15:37] ngojason9 commented on #8480
hi @amueller , if the input is nominal, can we just pass the input through OrdinalEncoder and use `SelectKBest(score_func=chi2)`?

Otherwise, for the OneHot case, can we add an attribute to the `OneHotEncoder` class, mapping from the original variables to the encoded variables? I'm thinking of something like
[code]
where the keys are original features and the value lists are the encoded features.

[2020-06-29 15:38] ngojason9 commented on #8480
oh also, @yashika51 and I are interested in working on this issue.

[2020-06-29 15:41] joshuacwnewton commented on #17728
This was also echoed by @NicolasHug in the WIP PR I made, so I'm happy to keep the 1-page structure. :)

[2020-06-29 15:45] aldee153 commented on #17693
Glad the change worked. I'm still working on writing some tests before submitting another push.

[2020-06-29 15:54] #17763 closed

[2020-06-29 18:08] #17765 closed

[2020-06-29 18:26] napsternxg commented on #16998
@sjosund thanks for the test case suggestion.
@jnothman I have sent a PR.

[2020-06-29 19:08] funnell commented on #16517
Considering the problematic bias, maybe it would be better to have the "extended" algorithm replace the original, unless you can conceive a situation where you'd still want the original. The extended algorithm looks consistently better in the paper.

[2020-06-29 20:12] Sandy4321 commented on #16515
so when you do it?

[2020-06-29 20:14] Sandy4321 opened #17778 "NB can not treat new values in test data"
#### Describe the bug
https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.CategoricalNB.html#sklearn.naive_bayes.CategoricalNB

NB can  not treat new values in test data
it is bug since real data has new values

[2020-06-29 20:22] txntxn opened #17779 "MinMaxScaler should have a `strict` mode"
#### Describe the workflow you want to enable

On held-out data not used to fit the transform, `MinMaxScaler` can return values outside the `feature_range`. This is a problem when all data *must* be within a particular range.

#### Describe your proposed solution

`MinMaxScaler` should have a parameter `strict`, which will clip all transformed values to the `feature_range`

#### Describe alternati

[2020-06-29 20:30] rithvikrao commented on #17125
@rth Is there consensus on whether `ovr` should be reverted to for sparse datasets when `multi_class = 'auto'` / whether more benchmarking is needed here? I'm interested in taking this on.

[2020-06-29 21:34] jnothman commented on #12401
Well the user that needs sqrt distances can provide them precomputed in any
case?

[2020-06-29 21:42] jeromedockes commented on #17639
@glemaitre and others what do you think? should I open a PR forbidding negative values in `y_true` ? and if so, should it raise a DeprecationWarning and keep returning the same results for now, or start raising a ValueError right away?

[2020-06-29 21:57] albertcthomas commented on #17624
Thanks for the explanation @Kiona0405. @SB6988 let us know if this solves your issue.

[2020-06-29 22:11] parthivc commented on #1940
@ogrisel What's your reasoning for one standard deviation each way? I would think that a 95% confidence interval would be more beneficial than a 68% confidence interval

[2020-06-29 22:11] jnothman commented on #16515
I don't understand

[2020-06-29 22:13] jnothman commented on #17778
Closing as duplicate of #16028

[2020-06-29 22:13] #17778 closed

[2020-06-29 22:38] thomasjpfan commented on #1940
1.96 * std implies 95% confidence interval only if the random variable is normal. Since we set cv=5 by default, we do not have a central limit theorem to fall back on and we can not make any other assumption about the random variable.

Secondly, I would want to avoid the concept of "confidence interval" unless we formulate the problem with statistical inference in mind. I have seen many misinterpr

[2020-06-29 23:06] Sandy4321 commented on #16028
are you going to fix this bug?

[2020-06-29 23:07] rasbt commented on #1940
Like you just edited, I think most people are indeed referring to the error of the CV mean accuracy, but it is often misinterpreted as you say.

Often people use the term confidence interval when reporting ML model accuracy in the context of a normal approximation interval (https://en.wikipedia.org/wiki/Binomial_proportion_confidence_interval), where each prediction is considered a Bernoulli trial

[2020-06-29 23:08] jnothman commented on #17779
Sounds fair enough. Call the parameter `clip`?

[2020-06-29 23:10] Sandy4321 commented on #16515
Polynomial expansion after one-hot-encoding might be very similar to what
you're looking for.
but PolynomialFeatures is not good for categorical features
as 0 1 = 10
but "01" not = "10"
0*1 = 0
1*0 = 0
but 0 and 1 is "01"
1 and 0 is "10"

also not binary categorical data  is not :Polynomial expansion after one-hot-encoding might be very similar to what
you're looking for.

[2020-06-29 23:21] jnothman commented on #16028
There is a pull request open for it. You're always welcome to test it and
comment on whether it works for you.

[2020-06-29 23:24] apptimise opened #17782 "RFECV to provide the average ranking_ and support_"
#### Describe the workflow you want to enable
Currently, `RFECV` searches for the optimal number of features to provide the best score. It then fits an `RFE` on the whole training set: [L566](https://github.com/scikit-learn/scikit-learn/blob/fd237278e/sklearn/feature_selection/_rfe.py#L566)

So, the score is the cross-validated score, but the `ranking_` is for the whole set of data. Isn't this mis

[2020-06-29 23:27] jnothman commented on #16515
If you have two binary categorical variables, with variable one having
values (a,b) and variable two having categories (c,d) then one hot encoding
will represent a as [1,0], b as [0,1], similar for c and d. For all pairs
in the Cartesian product of the two variables, at least one value will be
non zero in the polynomial expansion.

[2020-06-29 23:56] joshuacwnewton commented on #12401
That's a good point!

I guess what I meant was, this hypothetical person might be able to better prove why/why not squaring is necessary if they happened to raise an issue about it. Perhaps that's wishful thinking, though! :)

[2020-06-30 03:12] jnothman commented on #17771
I'd have thought the extension was parallel read safe... It does not rely on stored state across documents being processed. Its use of monkeypatching would not be safe, if `os.path.join` was shared across parallel jobs. But since the parallelism in Sphinx uses multiprocessing, shouldn't the monkeypatching be isolated within each process?

[2020-06-30 03:20] jnothman commented on #17782
I understand that the RFECV uses CV only to determine the best k, not the
set of features. The attributes returned are therefore correct, and
reporting averages would be inappropriate when features have interactions
(e.g. collinearity). Providing the rankings produced by each split's RFE
would provide additional information about the stability of the model, but
not a better model.

[2020-06-30 08:25] koaning opened #17784 "Add Sampling Strategy to DummyRegressor"
#### Describe the workflow you want to enable

To me, the best dummy regressor is to just sample labels randomly. If you can't beat that benchmark, it's time to go home.

This is why I've [added it to scikit-lego](https://scikit-lego.readthedocs.io/en/latest/api/dummy.html), an scikit-learn compatible library that I maintain. A year after I made the tool I got [this message](https://github.com/koa

[2020-06-30 08:35] yashika51 commented on #17779
This sounds interesting, I'll make a PR for this.
To confirm, we want to clip values such that any value greater than the max value of range should be equal to the maximum value
 and any value less than the minimum value of the range should be equal to the minimum value?

[2020-06-30 09:26] shriyakak opened #17786 "Gaussian Process regressor - Sklearn 0.23 version"
Q1)  I using Gaussian process regressor on sensor data to estimate human pose.  while predicting on the test data I am getting std deviation same for all the values. Is it normal to get standard deviation same as I have used Standscaler() for scaling the data.

Q2) Secondly, I want to improve my score on test data, currently it performs poorly with score 0.27.
whenever I am trying to use mixture o

[2020-06-30 09:47] hewenkui opened #17788 "There is a conflict between matplotlib and PCA"
Using sklearn.decomposition.PCA, if the matplotlib library is used to draw a picture, there will be an exception ( numpy.linalg.LinAlgError)

The test code(windows x64, matplotlib==3.2.2,  scipy==1.5.0, numpy==1.19.0):

[code]

[2020-06-30 10:15] jeremiedbb commented on #12401
Here's the part in the original paper where the distance matrix is converted in a similarity matrix:
[code]
<a href="https://www.codecogs.com/eqnedit.php?latex=p_{j|i}&space;=&space;\frac{exp(-||x_i&space;-&space;x_j||^{2}/2\sigma_i^{2})}{\sum_{k\neq&space;i}exp(-||x_i&space;-&space;x_k||^{2}/2\sigma_i^{2})}" target="_blank"><img src="https://latex.codecogs.com/gif.latex?p_{j|i}&space;=&space;\fra

[2020-06-30 11:30] apptimise commented on #17782
Thanks.

That's why I think providing the selected set of features or their rankings using the whole set can be confusing (because that's not what the algorithm does)

Also, let's consider a voting-based approach. Why would it be wrong (even if collinearity exists)? consider 3 folds with the following `ranking_`s:
[code]
The sum is: `[4 6 9 11]` therefore, the true `ranking_` can be considered as

[2020-06-30 12:18] FloWPs opened #17789 "lars_path should not overwrite X when copy_X=True and Gram='auto'"
#### Describe the bug
Hello, when calling the lars_path from _sklearn.linear_model_ with ``` copy_X=True```  and ``` Gram='auto'``` , my input X was overwritten when it shouldn't have been.  For the record, the problem doesn't seem to occur for all matrices.

#### Steps/Code to Reproduce
[code]

#### Expected Results
X is not overwritten.
[code]
#### Actual Results
X is overwritten (columns are ac

[2020-06-30 13:17] brcharron commented on #16798
There is also an issue in [`check_estimators_partial_fit_n_features`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/estimator_checks.py#L1582).
If `centers` is not specified, `make_blob` create 3 centers which results in 3 classes being provided to the estimator, regardless of `binary_only`.