[2018-10-09 22:06] amueller commented on #11058
this is fixed by #8773 (which is not merged yet) right?

[2018-10-09 22:11] GaelVaroquaux commented on #12322
Yes, some nesting will be unavoidable, though delayed doesn't add one
level of nesting currently. We might be able to boil down joblib.Parallel
to only one level of nesting in the sequential case.

I just found, back in the days, that writing my own code to special case
no parallelism would lead me to do mistakes, and the resulting bugs were
hard to debug because they would happen only in one of t

[2018-10-10 00:17] Apelsin commented on #12226
@nklein9 same here
[code]
Any ideas?

[2018-10-10 00:49] amueller commented on #2889
@PGTBoos this is fixed in scikit-learn 0.20.0

[2018-10-10 00:50] amueller commented on #12334
@anjalibhavan sure go for it!

[2018-10-10 00:51] amueller commented on #10054
That's not the same issue. There might be an issue open for this one already, though. cc @ogrisel ?

[2018-10-10 00:55] jnothman commented on #10054
The user is providing a function that isn't picklable. Please put `rmsle` into a module that can be imported.

[2018-10-10 01:07] yyb1995 commented on #12226
The only difference is my cloudpickle version is 0.5.6. Maybe you can try this version. Not sure whether it will help.

[2018-10-10 01:20] qinhanmin2014 commented on #12312
If you don't like ``make_scorer``, then we need to define ``pos_label=None``. The difficult thing is how to define it when there's only one label (i.e., should we treat it as positive label or negative label?).

Seems that you don't worry about getting nan, so I'm going to close this one. For pos_label related discussions, we have an issue #10010.

Reopen if you disagree.

[2018-10-10 01:20] #12312 closed

[2018-10-10 01:57] jnothman commented on #12337
Which version of scikit-learn?

[2018-10-10 02:01] jnothman commented on #12337
Not that I can think of any reason why this behaviour should happen.

[2018-10-10 02:14] #12332 closed

[2018-10-10 02:14] jnothman commented on #12332
I missed that the problem wasn't the MLP overflow, but the wasted
computation. Yes, error_score=NaN will be default for this kind of reason.

[2018-10-10 03:08] jnothman commented on #12339
It's not very nice, is it!! I don't know what to do...

[2018-10-10 03:18] niedakh opened #12342 "LogisticRegression does not accept multiple targets in output"
#### Description
According to documentation, [LogisticRegression can accept multiple output targets](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html#sklearn.linear_model.LogisticRegression.fit):

Yet passing an (n_samples, n_targets) array like to fit causes a `ValueError: bad input shape ` exception.

#### Steps/Code to Reproduce
Test case:
[code]

##

[2018-10-10 04:05] amueller commented on #12342
This is an error in the docs, we don't actually support this.

[2018-10-10 04:06] amueller commented on #12339
we said we might break it... I feel this is a good reason to?
Basically either that or I have to add to my book (and every tutorial I ever give) "but be careful, they go in a different order for some reason"

[2018-10-10 04:11] amueller commented on #10010
I recently feel that maybe that the user doing ``y == pos_label`` is easier and more explicit in many cases instead of us providing a lot of machinery. I think of the scorers as the primary API (because I like grid-search and CV) and defining the pos-label there requires some extra hoops. We could either try to guess ``pos_label``, which is risky (because we have to guess consistently on the train

[2018-10-10 10:05] jnothman commented on #12342
But I also don't think we support continuous values in y.

[2018-10-10 10:15] adrinjalali commented on #12339
Breaking in 0.20.1 has the benefit of fewer people having had used them by the time of the release of the change.

[2018-10-10 10:16] #12331 closed

[2018-10-10 10:56] fx86 commented on #10054
I feel, this is an important caveat when writing a custom scoring function
and it could be mentioned in
http://scikit-learn.org/stable/modules/model_evaluation.html#defining-your-scoring-strategy-from-metric-functions

The only other way I would have found is with a site-search on google or on
stackoverflow.

On Wed, Oct 10, 2018 at 8:54 AM Joel Nothman <notifications@github.com>
wrote:

[2018-10-10 10:59] jnothman commented on #10054
Would you like to submit a pull request?

[2018-10-10 11:57] #12342 closed

[2018-10-10 15:53] SachinTen11 commented on #12337
Thanks for getting back.

The scikit-learn version I am using is is 0.19.1.

[2018-10-10 16:04] NicolasHug commented on #12337
Try updating to the latest version (0.20) and see if the problem persists

[2018-10-10 16:41] stmax82 commented on #8158
I just got a task where I have to implement a custom metric that needs additional data per sample, like this:

[code]

Using this in a GridSearchCV:

[code]

... fails with the following error in line `np.average(y*y_pred*k)` because **k** is longer than **y** and **y_pred** during cross validation:

[code]

I actually found a workaround by using pandas data frames / series and abusing their index

[2018-10-10 16:51] stmax82 commented on #1179
I think that's related to #8158 ?

[2018-10-10 17:03] mattip opened #12346 "`np.asscalar` will be deprecated in the next NumPy release"
A "heads up" from NumPy - numpy/numpy#12123 deprecated `np.asscalar(a)`, and recommends using `a.item()` instead. The `item` method is tested and more flexible. It seems there is one use of `np.asscalar` in the code base.

[2018-10-10 17:16] fx86 commented on #10054
Yes, I would. Is there a target date you guys are looking at for this ?

[2018-10-10 18:14] mrocklin opened #12347 "HashingVectorizer fails when data has None values"
#### Description

HashingVectorizer fails when data has `None` values, such as comes up with missing values.  It could be that this is out of scope for HashingVectorizer and that users should handle this separately, but I didn't find a related issue on this topic (surprisingly) so thought I'd bring it up just in case.

#### Steps/Code to Reproduce

[code]

#### Expected Results

A scipy.sparse mat

[2018-10-10 19:28] amueller commented on #10054
@fx86 whenever you can ;) No rush

[2018-10-10 19:30] amueller commented on #12346
It seems that it's in a "fix" for numpy <1.10, so I don't think it should be an issue.

[2018-10-10 19:30] #12346 closed

[2018-10-10 19:30] amueller commented on #12346
Thanks for the heads-up!

[2018-10-10 19:32] amueller commented on #8158
@stmax82 this is #4497. It's a known issue that's on the long-term roadmap.

[2018-10-10 19:36] amueller commented on #12339
I agree, I'd favor 0.20.1

[2018-10-10 19:56] #12290 closed

[2018-10-10 20:06] Deba-tintin opened #12348 "Multinomial Naive Bayes + neg_log_loss + Machine Learning + Python: How to use neg_log_loss with cross_val_score()"
I am finding the optimal value of hyperparameter alpha for my Multinpmial Naive Bayes model which uses cross validation and neg_log_loss as metric. I wrote this code:

[code]

How can I make it work?

[code]

[2018-10-10 21:40] jorisvandenbossche commented on #12339
And which of the two would you change?

We discussed this several times (at least, I remember raising the question several times about what to do with this consistency, or whether we are fine with it), and I think we also swapped a few times the order during the lifetime of the PR.

As far as I remember, the reason is that for `make_column_transformer`, this is the logical order, and for `ColumnTr

[2018-10-10 22:41] jnothman commented on #9606
#12326 is another example of needing to configure a norm for the `coef_`, where that configuration needs to be passed through a metaestimator (as in RFE and SelectFromModel also).

[2018-10-10 22:57] jnothman commented on #12347
Why are the options of `pd.fillna` and `SimpleImputer(strategy='constant')`
and `HashingVectorizer.preprocessor = blah` insufficient?

[2018-10-10 23:19] #7613 closed

[2018-10-10 23:29] jnothman commented on #12339
Right now I can't recall why this is the logical order for `make_column_transformer`...

[2018-10-11 00:27] lobpcg opened #12349 "possible bug in scikit-learn\sklearn\utils\extmath.py the transpose='auto' option in randomised_svd"
#### Description
In scikit-learn\sklearn\utils\extmath.py the transpose='auto' option in randomised_svd apparently makes the eigenvalue problem larger, rather than smaller.  I believe the goal is to make matrix_size = min (n_samples, n_features), not max. It needs double-checking. The result should be the same either way, just takes longer to run for no good reason.

The current code is

    if tr

[2018-10-11 06:09] jnothman commented on #12339
If we change the order in `make_column_transformer`, maybe we can use some magic (i.e. heuristics) to make it backwards compatible to 0.20.0, with a warning.

I.e.
[code]

[2018-10-11 07:07] jnothman commented on #12348
Use make_scorer to pass extra params to log_loss, and pass labels with all anticipated labels

[2018-10-11 07:08] jnothman commented on #12348
As a usage question, rather than a software development issue, it is best to ask such questions on something like stack overflow.

[2018-10-11 07:08] #12348 closed

[2018-10-11 09:52] AlphaRandom commented on #10533
Hi all, I've encountered same issue by using GridSearchCV with n_jobs = -1 . Below the message I got : Attempting to do parallel computing '
                'without protecting your import on a system that does '
                'not support forking. To use parallel-computing in a '
                'script, you must protect your main loop using "if '
                "__name__ == '__main__'"

[2018-10-11 09:59] rth commented on #10533
@AlphaRandom The error message is pretty explicit, you need to put your code under,
[code]
see [joblib docs](https://joblib.readthedocs.io/en/latest/parallel.html#old-multiprocessing-backend) for more information. Alternatively upgrading to scikit-learn 0.20 (which includes joblib 0.12) should make this unnecessary.

[2018-10-11 10:27] ogrisel commented on #12347
HashingVectorizer is meant to be used as the first stage element of a pipeline

[code]

and in particular does not work with a 2 input array:

[code]

On the other hand SimpleImputer is not meant to work directly on a collection of unvectorized text content:

[code]

So I believe is no natural way to combine those two in the right order.

The preprocessor option should work, although it might not

[2018-10-11 10:37] AlphaRandom commented on #10533
Yes, many thanks. I figured out later my question :) ....I only hope to speed up my computations without keeping on my pc for days :) ...At the moment in the task manager I can see cpu at 100% and a number of threads as expected

[2018-10-11 10:38] BlackboX2821 opened #12354 "DeprecationWarning : imp module"
#### Description
I got a DeprecationWarning with the imp module since i update my python version to python 3.7.
Here is the message

#### Steps/Code to Reproduce
`import sklearn`

#### Possible corrections
modify cloudpickle.py file and replace following lines by following values
- l.47: `import importlib`
- l.937: `mod = types.ModuleType(name)`
- l.1138: `file, path, description = importlib.util.

[2018-10-11 11:41] mrocklin commented on #12347
They're sufficient.  I ended up going with `pd.fillna` after I found that this wasn't doable within `HashingVectorizer`.  This felt like a rough edge though so I decided to raise it.  I'd be entirely fine if it gets closed as "won't fix" or "not a bug".

I also ran into this

I ended up doing this with a column transformer as you suggest.

[2018-10-11 13:29] qinhanmin2014 commented on #12354
Duplicate of #12226, please see the discussions there.

[2018-10-11 13:29] #12354 closed

[2018-10-11 13:51] adrinjalali commented on #12339
the `hasattr(tup[1], 'fit')` part seems fine to me, but I'd worry about checking for string literals since it'll introduce a bug if the user passes `('drop', 'passthrough')` as the tuple.

I also don't think we'd need to keep this until v0.23, since it is indeed marked as experimental.

[2018-10-11 17:02] senderle commented on #7058
Might make sense to reopen this. LargeVis will be three years old soon, and the original paper has 90 citations (according to google scholar) with increasing citation velocity (more than 40 in 2018, which isn't over yet).

[2018-10-11 18:30] amueller commented on #12339
Yeah I remember the back-and-forth but I didn't remember that the outcome is inconsistent - or maybe then I didn't think it was that bad? Explaining it seems pretty awkward, though....

[2018-10-11 18:31] amueller commented on #7058
how does it compare to umap? https://github.com/lmcinnes/umap

[2018-10-11 18:34] amueller commented on #7058
also see https://github.com/lmcinnes/umap/issues/6 maybe?

[2018-10-11 18:36] amueller commented on #12226
btw this is a warning so really there is no issue to fix...

[2018-10-11 18:43] amueller commented on #12349
I feel like we had this problem before and switched this around once more? ugh :-/ Needs investigating.

[2018-10-11 18:55] amueller commented on #12327
Is this important for 0.20.1? It's not a regression, right?

[2018-10-11 18:57] amueller commented on #12234
anyone looking into this for 0.20.1?

[2018-10-11 19:02] rth commented on #12327
It's not a regression, and not a blocker for 0.20.1 (please feel free to untag it), but it still fairly annoying as it means we get `PendingDeprecationWarning` when using the latest scipy and it's better to fix that as soon as possible.

[2018-10-11 19:03] amueller commented on #12289
so we close this? Or wait for new joblib to be released / merged to scikit-learn? or wait for unvendoring? I'm not sure what to do with the rapid joblib changes wrt to releasing 0.20.1

[2018-10-11 19:03] senderle commented on #7058
Good question; looks comparable if somewhat newer (and so further from the [inclusion criteria](http://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms)). If I have a moment I'll run some tests.

[2018-10-11 19:06] amueller commented on #7058
Yes, it's further from the inclusion criteria. But the point of the inclusion criteria is that something stood the test of time so as to not immediately be replaced by something newer and better. So if UMAP makes largevis obsolete, we shouldn't include largevis, and probably shouldn't include umap either, and point people to both of them. If no-one comes up with something better soon and either of

[2018-10-11 19:07] amueller commented on #12256
what's the status on this? Anyone working on it? Do we need someone to pick it up for 0.20.1?

[2018-10-11 19:10] rth commented on #12256
I was considering the idea, somewhere between this week and the next. If someone can work on it earlier they should take it.

[2018-10-11 19:20] glemaitre opened #12358 "[RFC] Support sparse input in OneHotEncoder"
Currently the `OneHotEncoder` is not supporting sparse input. I see that it was mentioned in #1285 and actually I don't see why we cannot handle this case. Moreover, it seems a possible use case, isn't it?

[2018-10-11 19:35] amueller commented on #12339
I was thinking about 3 but don't have a strong preference between 2 and 3.
I guess what's more natural depends on your mental model and whether you think the primary object is the transformer or the columns (and I'm not surprised that @jnothman and me possibly think of the transformer as the primary object and you think of the columns as the primary object ;).

But really not a strong preference f

[2018-10-11 19:40] amueller commented on #12358
I think with the ColumnTransformer design it doesn't make a lot of sense. I haven't seen any use-case. Can you provide an example?
It might also be hard to support. I don't know much about sparse dataframes.

[2018-10-11 19:42] #8508 closed

[2018-10-11 19:51] glemaitre commented on #12358
A dataset with a mix of sparse numeric data and categorical (numerically encoded) data all aggregated inside a sparse matrix. When using the ColumnTransformer, I don't think that you want to force a user to densify the categorical part. I also agree that encoding categories with floats is probably not good but I don't know if there is an alternative.

To be honest, I am thinking about it by review

[2018-10-11 19:52] amueller commented on #12358
Does ``ColumnTransformer`` support sparse matrix input?

[2018-10-11 19:56] glemaitre commented on #12358
Yes and it seems that the PR will also support the `inverse_transform` with sparse outputs.

[2018-10-11 23:13] fingoldo commented on #12325
True, I did not think about parallel aspect of this. Then looks like, with that option enabled, EVERY trained model should be pickled into some temp directory along with its computed CV performance? Name of that temp dir could be displayed/logged at the beginning of the gridsearch process so that the user could, in the event of crash, later walk that dir manually and restore best solution.
We also

[2018-10-12 00:49] dsaxton commented on #11904
@lorentzenchr Interesting.  I'm not familiar with how your PR works, but would be curious to hear how it could put a proportional odds model into a generalized linear context.  Elastic net penalties would certainly be very nice.

The choice to use a sigmoid link function was really just for ease of implementation (fewer options and easier differentiability) while not really sacrificing much in my

[2018-10-12 03:32] joaak opened #12360 "Error: 'MultiTaskLasso' object has no attribute 'coef_' when warm_start = True"
#### Description

'MultiTaskLasso' object has no attribute 'coef_' with warm_start = True. The code is reproduced from the [scikit-learn MultiTaskLasso example notebook](http://scikit-learn.org/stable/auto_examples/linear_model/plot_multi_task_lasso_support.html#sphx-glr-auto-examples-linear-model-plot-multi-task-lasso-support-py) with warm_start set to true.

#### Steps/Code to Reproduce

[code]

[2018-10-12 08:04] wiltswong opened #12362 "sklearn.linear_model.LinearRegression.fit(...) crash when it is run in a child process and skimage.io is imported"
#### Description
Using multiprocessing.Process(...) and calling LinearRegression.fit(...) in the child process.  If skimage.io is also imported, the child process crash.  Original code is quite complex, but I narrow it down to reprocess the error with the following code snippet.

#### Steps/Code to Reproduce

[code]

The code above run with the 10 iterations finished successfully.  If the line "im

[2018-10-12 08:26] glemaitre opened #12363 "Including _criterion.pxd in the wheel to dervive new criterion"
PR #10325 make it possible to derive a new criterion by exposing the `RegressionCriterion` and `ClassificationCriterion`. However, it seems that this PR does not make available the header file `_criterion.pxd` in the wheel. I was thinking that `MANIFEST.in` who do that but apparently not.

Checking `scipy`, I think that we should add the following `sklearn/tree/setup.py`

[code]

Is it the right w

[2018-10-12 08:36] adrinjalali commented on #12362
Could you please try with scikit-learn v0.20 (latest stable)? Your example doesn't crash on master.

[code]

[2018-10-12 10:09] tomasprinda opened #12365 "Missing handle_unknown parameter in OrdinalEncoder"
#### Description
When trying to fit OrdinalEncoder with predefined string categorical values it raises an expection of
[code]

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown.

#### Actual Results
[code]

#### Versions
[code]

[2018-10-12 11:45] jorisvandenbossche commented on #12365
@tomasprinda Thanks for the report!

`OrdinalEncoder` has no `handle_unknown` keyword on purpose (at least in the initial version), but there is some shared code with OrdinalEncoder that does not take care of that fact.

[2018-10-12 12:42] phsheth commented on #1940
Yes sir @rasbt , I agree - this methodology is specifically for cross-validation step.

[2018-10-12 12:46] mcepl opened #12369 "Testsuite failing with incorrect number of arguments"
#### Description
There is number of failing tests (e.g., ``sklearn.tests.test_random_projection.test_basic_property_of_sparse_random_matrix``) which fails with ``<some function> takes exactly 1 argument (0 given)``:
[code]

[Completely build log](https://github.com/scikit-learn/scikit-learn/files/2473040/osc-build-log.txt)

#### Steps/Code to Reproduce
Run
[code]

#### Expected Results
All tests p

[2018-10-12 12:59] jeremiedbb commented on #12369
parametrized tests don't work with nose. you should use pytest instead.
Anyway, nose is not maintained anymore, so the new recommended way for testing in sklearn is to use pytest.

[2018-10-12 13:10] mcepl commented on #12369
Of course, you are right. Except:
[code]

[2018-10-12 14:58] mcepl commented on #12369
It builds and tests on both python 2.7 and python 3.6 (building package for openSUSE). https://build.opensuse.org/package/show/devel:languages:python:numeric/python-scikit-learn

[2018-10-12 15:14] qinhanmin2014 commented on #10010
I used to like pos_label, but now I've changed my mind.
pos_label has introduced lots of problems. It's hard to define things like pos_label=None. If we use pos_label=1, then users will need to use make_scorer, and maybe y == pos_label is an easier solution.
I think I need to spare some time to read through all related issues and think about it carefully. Hope that we can figure out a solution for

[2018-10-12 15:26] GaelVaroquaux opened #12370 "Spurious cv FutureWarning with cross_val_score and LeaveOneGroupOut"
The following code raises a FutureWarning:
<pre>
from sklearn.model_selection import LeaveOneGroupOut, cross_val_score
cv = LeaveOneGroupOut()
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
from sklearn import datasets
X, y = datasets.load_iris(return_X_y=True)
groups = np.arange(len(y)) % 10
cross_val_score(model, X, y, groups=groups)
</pre>
Ouput:
<pre>
/home/varoquau/dev/scikit

[2018-10-12 15:39] nklein9 commented on #12226
@ivan-marroquin Thank you! I'll be working on it later today and will come back with results.

@amueller my ide (komodo) stops completely. The error message says it's a warning but the ide treats it as an error and flags it as such. I tried running the code is vscode as well and got a similar result.

[2018-10-12 15:44] amueller commented on #12370
how is that spurious? You're not using cv, right?

[2018-10-12 15:46] amueller commented on #12369
@mcepl that's not really related. The question is whether you installed the version you're running the tests on in the environment you're running the tests in.

[2018-10-12 15:50] sergeyf commented on #6284
Re: merging. My git-fu is not good. I'll let @jnothman chime in.

Re: defaults. A common way to specify contingent defaults is to specify `None` by default and then in the code check

[code]

Re: binary search. I don't think I understand the second question. Can you provide more details about it? Why is it sufficient to only run the binary search once?

[2018-10-12 15:53] amueller commented on #12226
@nklein9 Either you have an option set to treat all warnings as errors (which would be kinda weird), or the issue is unrelated.

[2018-10-12 16:02] GaelVaroquaux commented on #12370
Yes. And adding the cv fixes the problem. Sorry for the noise.

@KamalakerDadi : this is not the problem in nilearn.

[2018-10-12 16:02] #12370 closed

[2018-10-12 16:48] KamalakerDadi commented on #12370
I meant even if you specify cv. For instance, specifying ```cv=LeaveOneGroupOut()```

[2018-10-12 16:50] KamalakerDadi commented on #12370
Nope. I don't think so. Sorry.

[2018-10-12 16:50] lobpcg commented on #12164
@jnothman @ogrisel  My coding is completed for this issue. Please see #12316 and react.

[2018-10-12 16:53] GaelVaroquaux commented on #12370
I tried, and couldn't reproduce on the code above. Can you can a small
example that reproduces?

[2018-10-12 16:54] lobpcg commented on #12079
@aishgrt1 @jnothman @amueller
Our coding for this issues and #12080 has been completed, please see PR #12319 and react.

[2018-10-12 17:33] wiltswong commented on #12362
Updated to scikit-learn 0.20 and problem still the same

[code]

Comment the line "import skimage.io" and the result is something like:
[code]

If I import skimage.io, the child process died after showing the gelsd driver error, and calling p.is_alive() from the main process in the debugger returns False.   Sometimes MacOS also pops up a crash report and I am attaching one such report FYI.

Thanks

[2018-10-12 18:42] grassknoted commented on #12327
Hey, could I take this issue up?

[2018-10-12 19:10] KamalakerDadi commented on #12370
Here it is. May be it shouldn't be used this way ?

[code]

[2018-10-12 19:30] KamalakerDadi commented on #12370
Thanks @adrinjalali it makes sense.

[2018-10-12 21:17] esterwang1181 opened #12372 "PredefinedSplit not working properly for GridSearchCV"
I am using GridSearchCV (and BayeSearchCV) to tune my hyper-parameters. My train and validation sets are predefined, and I do NOT need folds. According to the documentation: I set the index for training set as "-1" and validation set as "0". However, on a toy example, GridSearchCV does not work properly (attached program output below).

[code]
When I set "my_test_fold[-100:-50]=0", then cv_results

[2018-10-12 21:20] wiltswong commented on #12362
Some updates.

The problem seems to happen only with scikit-image 0.14.0.  If I update it to scikit-image 0.14.1, then it runs properly.

I also have the same crash if I import matplotlib.pyplot.

[2018-10-12 21:35] mcepl commented on #12369
Well, the section of the SPEC file running the test suite is:
[code]
(that macro stuff makes the test suite run twice, one with python2.7 and second time with python3.6)

[2018-10-12 21:42] rth commented on #12362
Interesting, the detailed crash reports shows that it segfaults in a call to BLAS -- seems like a distribution/packaging issue.

I also can't reproduce on Linux. Do you remember how you installed scikit-learn, numpy and scikit-image (i.e. with pip, conda or something else)? Could you also please provide the output of `sklearn.show_versions()`?

[2018-10-12 22:37] wiltswong commented on #12362
All packages are installed using pip.

sklearn.show_versions() output:
[code]

[2018-10-12 23:59] nklein9 commented on #12226
The downgrade to cloudpickle 0.5.6 worked. Thanks everyone.

[2018-10-13 00:09] zhiweige opened #12373 "error: '_CFSubcluster' object has no attribute 'centroid_'"
Hi， I found the code in this
https://github.com/scikit-learn/scikit-learn/blob/bac89c253b35a8f1a3827389fbee0f5bebcbc985/sklearn/cluster/birch.py#L212 line would cause this error.
  Because new_subcluster1, new_subcluster2  created by
new_subcluster1, new_subcluster2 = _split_node(
closest_subcluster.child_, threshold, branching_factor)
are constructed with
new_subcluster1 = _CFSubcluster()
new_sub

[2018-10-13 07:40] GMarzinotto commented on #12147
If there is no-one working on this issue I can do it.

By the way, I believe pandas supports one hot encoding found [this](https://stackoverflow.com/questions/37292872/how-can-i-one-hot-encode-in-python) on StackOverflow

What are your thoughts on detecting that it is a pandas dataframe and using pandas native encoder ?

[2018-10-13 07:50] jorisvandenbossche commented on #12147
I don't think we want to use `pd.get_dummies` for now (assuming you are referring to that). Even apart from the question if we would want to depend on it, it does not give us everything that would be needed for the OneHotEncoder (eg specifying categories per column, handling unknown values, etc).

But feel free to work on this!

[2018-10-13 07:51] jenstroeger opened #12374 "LinearDiscriminantAnalysis.fit() fails if #samples == #labels."
#### Description

The [LinearDiscriminantAnalysis.fit()](http://scikit-learn.org/stable/modules/generated/sklearn.discriminant_analysis.LinearDiscriminantAnalysis.html#sklearn.discriminant_analysis.LinearDiscriminantAnalysis.fit) method throws an exception if number of samples and number of labels is the same, i.e. each label has exactly one sample.

#### Steps/Code to Reproduce

[code]

#### Expe

[2018-10-13 08:01] mcepl commented on #12369
Of course, I did build it. This is just a standard SPEC file for openSUSE. You can see [on your own](https://build.opensuse.org/package/view_file/devel:languages:python:numeric/python-scikit-learn/python-scikit-learn.spec?expand=1). ``%check`` section is of course run only after ``%prep``, ``%build``, and ``%install``.

[2018-10-13 08:02] GMarzinotto commented on #12147
Perfect I'll work on this !

[2018-10-13 10:50] rth commented on #12362
Another instance of this can be found in
   - https://github.com/scikit-image/scikit-image/issues/1088
   - https://github.com/joblib/joblib/issues/310

with much older versions. It looks like the issue is in the interaction between the Accelerate BLAS on Mac OS and CPython multiprocessing. Now I'm not sure why you would be getting the Accelerate BLAS -- I was under the impression that numpy, scip

[2018-10-13 10:50] #12362 closed

[2018-10-13 11:10] rth commented on #12362
No it looks like only scipy did. Numpy still has some patches for it [here](https://github.com/numpy/numpy/blob/464f79eb1d05bf938d16b49da1c39a4e02506fa3/numpy/_build_utils/src/apple_sgemv_fix.c), however the Mac OS wheel does come with openblas in `numpy/.dylibs/libopenblasp-r0.3.0.dev.dylib`.

If you are using that BLAS, you should be getting this library in the "crash report", I think, while you

[2018-10-13 13:53] adrinjalali commented on #12373
Hi @zhiweige,

Thanks for the report. To make it easier for us to help you, it'd be nice if you could provide a minimal reproducible example (http://sscce.org/) which would result in the error you're encountering.

[2018-10-13 14:36] zhiweige commented on #12373
@adrinjalali Thanks for your reply. I tuned the parameters of branching_factor & threshold, when I changed the branching_factor from 50 to 200, there is no this kind of issue. I will try to reproduce this issue again and extract the training example.

[2018-10-13 19:45] #12365 closed

[2018-10-13 20:17] rth commented on #12373
It's a duplicate of https://github.com/scikit-learn/scikit-learn/issues/6172
A minimal example would definitely help.

[2018-10-13 21:29] jnothman commented on #12349
@lobpcg it might help the investigator if you can write out runnable code illustrating your argument.

[2018-10-13 23:29] jnothman commented on #12358
It would be strange to encode sparse 0 as 1s. I think requiring an explicit
densification makes some sense in that context. An option to accept sparse
and drop 0 makes some sense??? But our OneHotEncoder is starting to get
complicated.

[2018-10-14 00:57] #12090 closed

[2018-10-14 01:05] jnothman commented on #12360
Is this a regression, i.e. did it work in 0.19?

[2018-10-14 01:07] jnothman commented on #12363
I suspect so

[2018-10-14 01:57] qinhanmin2014 opened #12375 "OPTICS Reconsider whether there're unnecessary parameters"
In OPTICS (_extract_optics), we include several parameters which do not appear in the original paper (Automatic Extraction of Clusters from Hierarchical Clustering Representations), including ``rejection_ratio``, ``significant_min`` and ratio of points in the child we check (not exposed to users). I can't understand why we need these parameters. I think we take these code from https://github.com/a

[2018-10-14 02:06] qinhanmin2014 opened #12376 "OPTICS Return all the clusters found by the extraction algorithm"
In OPTICS, the automatic extraction algorithm actually returns all possible clusters, but currently we only provide users with the clusters on the leaves. I guess we can provide users with an option to get all these clusters. (R provides clusters_xi attribute).
ping @espg @adrinjalali (I think it's even more important for extract_Xi)

[2018-10-14 02:26] qinhanmin2014 opened #12377 "Matplotlib warnings (cannot show the figure on non-GUI backend) in Circle"
We get couple of warnings from matplotlib (219 appearance in latest Circle CI log) after switching to matplotlib 3.X.
[code]
I'm unable to reproduce locally so questions are:
(1) Will users get these warnings?
(2) Can we get rid of these warnings?

[2018-10-14 02:54] jnothman commented on #10010
What I think we would benefit from is a tool that constructed a bunch of
scorers for a task, returning a mapping that could be used directly in
scoring. It gets around the user having to specify things like labels and
pos_label while giving other advantages.

The issue of pos_label=None is related to that of passing around
classes/labels. It generally relates to the need to pass around metadata,
o

[2018-10-14 03:06] RoopamSharma commented on #12363
Hi, I would like to work on this issue. I am contributing for the first time.

[2018-10-14 03:46] jnothman commented on #12079
I know there are several PRs awaiting review around PCA. I'm very busy at
the moment and am trying to focus on staying on top of the email, releasing
0.20.1, and longstanding issues. Please be patient, but do ping again in a
few weeks if need be.

[2018-10-14 04:28] sidps opened #12378 "`MultiLabelBinarizer` requires calling the `fit` method even if `classes` is provided during initialization"
#### Description
`MultiLabelBinarizer` requires calling the `fit` method even if `classes` is provided during initialization. This may be the expected behavior, but then:
(a) It would be redundant because the `fit` method logic still uses the `classes` attribute supplied during initialization to set the `classes_` attribute https://github.com/scikit-learn/scikit-learn/blob/51a765a/sklearn/preproce

[2018-10-14 05:59] jnothman commented on #12374
What is appropriate behaviour?

[2018-10-14 06:18] #12150 closed

[2018-10-14 06:32] jnothman commented on #12363
Thanks. Please open a pull request.

[2018-10-14 06:52] jnothman commented on #12378
Those _-suffixed attributes are always set during fit in scikit-learn. See
http://scikit-learn.org/0.20/glossary.html#term-attribute

Generally we require transformers to be fit before use, and although
MultiLabelBinarizer
is a bit special, I'm not sure we should make an exception

[2018-10-14 07:51] sidps commented on #12378
Fair enough. So it seems like calling `fit_transform`, rather than `transform`, would produce the "expected" behavior when `classes` is supplied during initialization. Will close this, thanks!

[2018-10-14 07:51] #12378 closed

[2018-10-14 13:00] rth commented on #12377
If they have a X server (i.e. some graphical environment), they shouldn't I think. In that case, either tk or qt5 backend will be used by default I think.

After a quick look at the logs, I wasn't able to determine which example triggers it. Sounds like some example uses interactive capabilities of matplotlib which are not supported by the agg backend. Honestly I don't think it's too critical.

[2018-10-14 13:06] qinhanmin2014 commented on #12377
@rth Feel free to close if you are confident :)

[2018-10-14 13:13] rth commented on #12377
Yes, the warning is raised in [`Figure.show()`](https://github.com/matplotlib/matplotlib/blob/b424c850076c0292dd3f9b83c78f81808241ab73/lib/matplotlib/figure.py#L437) when the GUI backend is headless (such as on CI), which makes sense as it cannot show the figure then. Not much we can do about it..

[2018-10-14 13:13] #12377 closed

[2018-10-14 13:17] qinhanmin2014 commented on #12377
Sigh, so that ruins our plan to get rid of all the warnings in Circle CI (forever?) I'm fine with closing though.

[2018-10-14 13:35] qinhanmin2014 commented on #12377
Fair enough, I'll approve such a PR, or we can wait since there're many other warnings there.

[2018-10-14 14:10] minggli commented on #12234
Hi, if this issue is still open for a fix, will try to look at this issue and produce a PR. :)

[2018-10-14 15:44] adrinjalali commented on #12376
Both `extract_sqlnk` and `extract_xi` provide a hierarchy of clusters. I've already put `return_clusters` as a parameter to `extract_xi` in #12077. We can also extract the cluster hierarchy from the tree constructed by sqlnk.

I'd say we can add `store_cluster_hierarchy` (or something) to the `OPTICS`'s init, and store the hierarchy in `fit` accordingly.

[2018-10-14 16:05] qinhanmin2014 commented on #12376
Thanks. I've gone through your PR and this issue is for so-called sqlnk
We've correct our RD and I'll submit a PR to correct CD in a couple of days. At this point, an important thing in my mind is to decide the API design of OPTICS. If we use extract_method, then if users want to extract clusters with different methods, they'll need to refit the model (i.e., compute CD and RD again).

[2018-10-14 16:10] qinhanmin2014 commented on #12376
And another thing is the way we extract labels for each sample from the hierarchy structure. In sqlnk, we only consider the leaves, and I doubt whether it's correct. E.g., I guess there might be some unexpected behavior if one leaf of a node is pruned. AFAIK, R dbscan also consider the parent node. I'll need some time to think about it carefully and your insights on these questions are deeply appr

[2018-10-14 16:12] #11186 closed

[2018-10-14 16:16] Adurden commented on #12099
Is there any more information I can add to this to help it me looked at more easily?

[2018-10-14 21:08] #12261 closed

[2018-10-14 22:00] jnothman commented on #12376
different methods, they'll need to refit the model (i.e., compute CD and RD
again).

See #12044

[2018-10-14 22:02] jnothman commented on #12099
It's relatively hard to go look at a notebook. If you can include the code
for a minimal example that replicates the issue here, that will make it
much easier to investigate.

[2018-10-14 23:14] LucianaMarques commented on #12334
Hi, are there any news on this issue? Has a Pull Request been made? I would like to contribute too!

[2018-10-14 23:30] LucianaMarques commented on #1149
Hi there,

Still needing any help with this one? I would like to give this a try if there's still need for it (I didn't understand if it was resolved in this last link)

[2018-10-14 23:47] joaak commented on #12360
It doesn't work for 0.19 either.

[2018-10-15 01:17] qinhanmin2014 commented on #12044
I think we need to make decision here ASAP since we've promised OPTICS in 0.21.

My main points for API design are as follows:
(1) Users don't need to calculate RD/CD again if they want to extract clusters with different methods/different parameters.
(2) If possible, provide users with a way to only calculate RD/CD (e.g., method=None). Actually, OPTICS itself only returns RD/CD.

Regarding ``warm_

[2018-10-15 07:03] jnothman commented on #12044
I think we need to provide fit_predict and labels_ for API consistency and
just note that this is something we do poorly. (I hope we are already aware
that we have a problem of efficiently reusing sufficient statistics with
different aggregates through a constant interface. We have seen similar API
problems in scoring, feature importances, grid searches over transformation
pipelines, etc. This is

[2018-10-15 07:36] jnothman commented on #12334
Yes there is a pr in #12353

[2018-10-15 07:39] jnothman commented on #1149
I think you would be welcome to submit a pull request, @LucianaMarques

[2018-10-15 09:29] jnothman commented on #12044
Caching would not affect most other classes, in part because they will
often be run with all sorts of parameters changed. joblib.Memory can do the
caching, but does unwanted things like actually writing the data to dish...

No, I don't think we have generally needed/wanted to check for identical
data in other warm_start cases. But warm_start has defaulted to false with
the assumption that the user

[2018-10-15 09:55] onacrame opened #12384 "Passing fit parameters to base estimator in CalibratedClassifierCV"
As the title states, is there any way to pass a fit parameter from CalibratedClassifierCV to the base estimator?  Below is a toy example.

[code]

In this case I'm using LGBMClassifier which requires the "categorical_feature" argument to be passed in as a fit parameter.  The above code yields the following error:

[2018-10-15 10:19] jnothman opened #12385 "Function to get scorers for task"
I would like to see a utility which would construct a set of applicable scorers for a particular task, returning a Mapping from string to callable scorer. It will be hard to design the API of this right the first time. [Maybe this should be initially developed outside this project and contributed to scikit-learn-contrib, but I think it reduces risk of mis-specifying scorers, so it's of benefit to

[2018-10-15 10:20] jnothman commented on #12349
Yes @amueller, reversing the comparator happened in 838570cc to fix #4455.

[2018-10-15 12:54] adrinjalali commented on #12376
The R OPTICS extract_xi has an option where you can tell if it should use the smallest clusters or also use the parent clusters when assigning the labels. The `_xi_cluster` in #12077 puts the clusters from smallest to largest in the reported cluster list, that's why `_extract_xi_labels` works fine. It'll be easy to also include the larger clusters in labeling if we want to. But that can also be se

[2018-10-15 16:14] amueller commented on #12325
I think it's not super natural to use the scorer as the canonical way to do a callback, but it would mean not introducing another interface.
If this is the suggested solution, we should probably write an example for that.
This seems like a very natural use-case.

[2018-10-15 16:16] amueller commented on #12325
Though if you want to log training and test error to disk, that's very hard inside the scorer. I need to review the verbosity PR... I feel allowing a callback somewhere in there might be better as a long-term solution?

[2018-10-15 16:16] amueller commented on #12325
(If you use the scorer and have ``return_train_score`` you might save the same model twice unless you add extra logic to avoid that).

[2018-10-15 16:31] lobpcg commented on #12349
I am trying to check it running some tests. I may be wrong here. Please hold the discussion. When I am sure, I'll report here.

[2018-10-15 19:32] agramfort commented on #12384
not what is happening but is LGBMClassifier passing the check_estimator
test?

if no see if you can wrap it in a class that passes check_estimator and it
should then work.

[2018-10-15 20:57] glemaitre opened #12389 "Possible regression in nested parallelism"
I think that we have a possible regression linked to the nested parallelism. Let's take the following minimum example:

[code]

In 0.19.2, `htop` shows activity for all processors. In 0.20, a single core is active. Is it link to the heuristic to avoid to over-subscription?

Can anyone try to reproduce it? ping @tomMoral @ogrisel @pierreglaser

[2018-10-15 21:27] jnothman commented on #12389
I've not checked the details, but is this the same or the opposite of
#12289??

On Tue, 16 Oct 2018, 7:57 am Guillaume Lemaitre, <notifications@github.com>
wrote:

[2018-10-15 21:31] glemaitre commented on #12389
The opposite actually.

#12289 was due to default setting `n_jobs=-1` internally in `joblib` from what I understand in the bugfix.

[2018-10-15 21:42] jeremiedbb commented on #12389
It won't fix the bug, but in the meanwhile you can still do
[code]

[2018-10-15 21:48] glemaitre commented on #12389
I checked with `joblib` master by enabling the site version and the bug is still there.

Since this is just for a course on computer with 4 cores, it would be OK to do so. However, people with 48 cores computer will be a bit disappointed :)

[2018-10-15 22:06] tomMoral commented on #12389
This looks like an issue with `SequentialBackend`, which set by default `SequentialBackend` as a nested backend.... (see [here](https://github.com/joblib/joblib/blob/master/joblib/_parallel_backends.py#L187)).

It should actually not set a nested backend when nesting level is `0`, as this disable multithreading in this case. Nice catch, this should be fixed.

[2018-10-15 22:46] eddbrown commented on #12374
https://github.com/scikit-learn/scikit-learn/pull/12390/files Proposed fix. The number of samples should be more than the number of classes.

[2018-10-16 03:17] jnothman commented on #12376
Return the leaves but store the hierarchy on the estimator??? Return at a specified max depth according to some parameter?

[2018-10-16 07:08] #12333 closed

[2018-10-16 07:44] jnothman commented on #12384
The only fit parameter supported by CalibratedClassifierCV is
sample_weight. I think we could probably support all the fit params
supported by cross_validate until something more comprehensive is
implemented (PR welcome!) But this might not interact nicely with the
example you give were categorical_features passed to fit.

The problem you are currently seeing, where categorical_features is being
p

[2018-10-16 07:53] daten-kieker commented on #3846
@andreanr are you working on the classes in `ensemble.gradient_boosting`, too? Otherwise, I'd like to work on that.

[2018-10-16 08:12] vnmabus opened #12392 "Target column names in datasets provided by Sklearn"
As far as I know, Sklearn does not provide a way to get the names of the "columns" corresponding to the target. It would be useful to choose an standard name for this data, so that Sklearn-compatible datasets can provide this information.

This has been asked before in StackOverflow:
https://stackoverflow.com/questions/50877785/how-to-obtain-target-feature-name-from-a-sklearn-bunch
but I have not

[2018-10-16 08:39] whiletruelearn commented on #12385
@jnothman Trying to understand. Can this be implemented by maintaining separate dict of scorers as in
https://github.com/scikit-learn/scikit-learn/blob/a1d0e96791ec6b4404303c5821e305caf6a5f777/sklearn/metrics/scorer.py#L501-L521
for different tasks such as classification , regression, clustering etc.

[2018-10-16 08:51] ogrisel commented on #1149
The description is still in contradiction with the plot.

[2018-10-16 09:33] jnothman commented on #12392
You're right that we are not outputting this data from fetch_openml and
perhaps we should. I would be okay with target_name.

[2018-10-16 09:39] vnmabus commented on #12392
"target_names" is already used by the class labels. That is why I propose "target_feature_names" as an alternative (they are the names of the response features). The plural form is necessary for considering multi-output datasets in the future.

[2018-10-16 10:03] sergeirubinsky opened #12394 "Possibility of setting weight coefficients in OPTICS algorithm."
We are very interested in your efforts on development and enhancement of OPTICS program sklearn implementation. It would be very important in our job (github.com/alashkov83/hydrocluster) to have possibility of setting weights, as it has been made in  DBSCAN. Please inform us about your further plans.
                                                  A.Laskov, S.Rubinsky

[2018-10-16 11:38] adrinjalali commented on #12339
If you're not working on it, I could give this a try. Are we going for option 2 then? I'd probably prefer `transformer, columns` since `columns` is probably the longest/most variable input parameter, and having it at the end helps with the readability of the code, and it's less change from the status quo of the code, but absolutely no hard feelings.

[2018-10-16 12:30] jnothman commented on #12385
No, while related to that:
1. this needs to be a function of other parameters, such as a single or multiple classes of interest.
2. this needs to exclude inappropriate scorers, such as those for regression or clustering tasks when performing classification.

[2018-10-16 12:35] jnothman commented on #12376
??? is an expression of uncertainty.

[2018-10-16 12:36] jnothman commented on #12392
Oh. Right. target_feature_names is a bit awkward. I'd consider
target_outputs?

[2018-10-16 12:36] jnothman commented on #12392
target_output_names?

nomenclature is a nuisance :|

[2018-10-16 12:39] adrinjalali commented on #6172
Do we have a working example for the error? I can't reproduce it:

[code]

[2018-10-16 12:49] jnothman commented on #12394
This sounds useful. I wonder if, like in DBSCAN, the only thing that really needs to change is the determination of core points (or perhaps core distances too).

(I'm also chuffed that something I wanted for my own work at the time I proposed and implemented - sample_weight in DBSCAN - is being so appreciated!)

[2018-10-16 12:53] jnothman commented on #12339
Let's go with that. Thanks!!

[2018-10-16 13:18] dillongardner opened #12395 "OneHotEncoder throws unhelpful error messages when tranform called prior to fit"
#### Description

OneHotEncoder throws an `AttributeError` instead of a `NotFittedError` when tranform is called prior to fit

- if `transform` is called prior to being fit an `AttributeError` is thrown
- if `categories` includes arrays of of unicode type

#### Steps/Code to Reproduce

[code]

#### Expected Results

`NotFittedError: This OneHotEncoder instance is not fitted yet. Call 'fit' with ap

[2018-10-16 13:50] thoo commented on #12394
@sergeirubinsky  If you are not working on it, I would like to give a try. Thanks!!!

[2018-10-16 13:53] adrinjalali commented on #12394
@thoo there are some major changes in the pipeline to OPTICS in progress. You probably should wait for those to get in first.

[2018-10-16 13:55] thoo commented on #12394
@adrinjalali  Thanks. I wiil.

[2018-10-16 14:01] andreanr commented on #3846
@daten-kieker go ahead!

[2018-10-16 15:30] amueller commented on #12395
Thanks for the report. Do you want to work on a fix?

[2018-10-16 15:34] amueller commented on #12392
I'm not sure I fully understand what is being asked. The semantics of the target?
So that would be ``"species"`` for iris? Why not always ``"target"``?

[2018-10-16 15:41] amueller commented on #10802
Why don't we just allow scorers to return dictionaries and create a multi-metric scorer?

[2018-10-16 15:52] amueller commented on #12327
@grassknoted are you working on this? otherwise maybe @NicolasHug could pick it up?

[2018-10-16 16:16] NicolasHug commented on #12327
Ok, I'll pick it up unless @grassknoted updates soon.

[2018-10-16 16:32] glemaitre commented on #12339
I pretty much like 1. Using it, I got the same feeling but actually I find the current transformer more human readable while the change will not be (at least imo).

[2018-10-16 16:55] vnmabus commented on #12392
Well, the same reasoning could be used to not provide any column information at all. The objective is to provide all the information that is available in the original datasets. In most cases this information is used in visualization (e. g. naming axis in plots). Also, it would allow providers of datasets that want to remain compatible with Sklearn to provide this information under a standard name.

[2018-10-16 17:29] amueller commented on #12392
Well for features the point is to identify which is which. And yes, that argument also works for multi-output datasets (you can already use yeast, at least you could with the mldata fetcher iirc).
You can name the axis "target" right?
Anyway, I would really discourage people from using a ``bunch`` object.
What exactly do you mean by "compatible with sklearn" here? The scikit-learn interface for da

[2018-10-16 17:32] amueller commented on #12339
I don't like 1 because it's inconsistent and hard to explain. It puts additional cognitive load on users for no reason. It makes it harder to change code.

@glemaitre you mean you find the current ``make_column_transformer`` more human readable, right? The ``ColumnTransformer`` doesn't change.

[2018-10-16 19:17] amueller opened #12397 "add note that Normalizer implements "Spatial Sign""
Apparently l2 normalizing the input data is also known as "spatial sign":
https://pubs.acs.org/doi/pdf/10.1021/ci050498u

We should maybe add this to the user guide and/or docstring?

[2018-10-16 19:18] amueller commented on #12397
..though it looks like spatial sign usually used standardization before this, which Normalizer doesn't apply, so spatial sign might be more accurately be ``make_pipeline(StandardScaler(), Normalizer())`` but I'm not sure.

[2018-10-16 19:31] vnmabus commented on #12392
You could. In fact, you could manually put whatever name you like. But I do not see providing the semantic information of your problem in a standarized way as a bad thing.

Why? Do you know a better way to providing this information (and that does not require pandas or xarray as dependences)?

I meant "providing functions for obtaining datasets using an API familiar for people that uses Sklearn".

[2018-10-16 19:48] RajatGarg97 commented on #12397
Hi I'm a noobie here. May I attempt to resolve this issue?

[2018-10-16 20:04] dillongardner commented on #12395
Sure, I am happy to.

[2018-10-16 20:53] minggli commented on #9602
is help still wanted for this OvR documentation? if yes then happy to help.

[2018-10-16 23:16] jnothman commented on #12394
But you are welcome to investigate the algorithm and what would be needed,
and write notes here.

[2018-10-17 03:18] amueller commented on #10802
Can you say what you mean by the general case?

And the dicts of multi-scorers is a good question. I would say "no" but I guess I would look at how the deprecation implementation looks like and how hard it would be to support?

I had renewed interest in this because some automl stuff I was working on was spending most of its time in scoring.

[2018-10-17 04:03] jnothman commented on #10802
The "general case" was me tersely saying that users can still provide
multiple scoring functions as long as we don't deprecate the current
interface.

Note that  #12385 is also related (particularly to the automl issue), and
having a dict-returning scorer could perhaps make that more straightforward
conceptually...

[2018-10-17 07:16] scopegeneral commented on #12397
@amueller I think it need not be the case that standardization should be done. One just might use it to bring the outliers towards the majority of the data.

A short extract from the [Applied Predictive Modelling book](http://appliedpredictivemodeling.com/):

[2018-10-17 07:54] vnmabus commented on #12392
I think that `bunch` objects (or at least dictionaries) are useful to provide as much information of the original dataset as you can, allowing datasets that do not have all the information. Also, they do not require an external dependency.

Why do you discourage the use of `bunch` objects? Are you planning to change the dataset API of Sklearn?

[2018-10-17 08:38] vnmabus commented on #12392
In fact, the rcv1 dataset, which is multi-output, uses `target_names` to put this information (the target column names). Thus, we have two different usages for the same attribute name. I think it is better to use a different name for each thing.

[2018-10-17 09:00] jnothman commented on #9602
@minggli, the pr by @kbrose in #9675 appears stalled. Yes, the documentation is inaccurate to say OvR and binary relevance are the same, and we should improve this (or even deprecate the use of OneVsRestClassifier for multilabel data if certain the same capabilities are fulfilled with MultiOutputClassifier). Help is welcome.

I'm not sure that @kbrose is quite right to assume that the binary outpu

[2018-10-17 09:11] sergeirubinsky commented on #12394
We ourselves work on bioinformatics and would be glad you to try the problem.

[2018-10-17 09:41] wendingp commented on #2807
Hmm it's been 4 years...

[2018-10-17 09:45] glemaitre commented on #12339
Actually, looking at it again, I am split. I certainly find the current implementation of the `make_column_transformer` more natural.

So by changing `ColumnTransformer` it is only surprising if you are expecting that the estimator should come in second position alike in `Pipeline`. But anyway those two classes are different so it might not be that bad if actually they look different. So (2) would

[2018-10-17 09:49] glemaitre commented on #12389
Yep. Everything is fine. Shall we close now or when we release 0.20.1 with the new vendored joblib?

[2018-10-17 10:17] jnothman commented on #12339
I suspect this decision is fairly arbitrary. Users will consider natural whatever we choose. This will be far from the biggest wtf in our API!!

[2018-10-17 12:20] ribes96 opened #12398 "DecisionTreeClassifier doesn't distinguish between numerical and categorical data"
#### Description

The DecisionTreeClassifier's User Guide says that

but official CART algorithm distinguishes between categorical and continuous variables. This is explained in the original Breiman's definition of CART [Classification and Regression Trees](https://books.google.es/books/about/Classification_and_Regression_Trees.html?id=JwQx-WOmSyQC&redir_esc=y)
and also in [Wikipedia](https://en.w

[2018-10-17 12:34] grassknoted commented on #12327
Hey, sorry about the delayed response. I'm working on this.

[2018-10-17 12:37] nerolite commented on #8995
It is a shame to see this go.

[2018-10-17 13:29] amueller commented on #8995
I think it got pulled into a separate project (if not, you can pull it to scikit-learn-contrib if you want).

[2018-10-17 13:32] amueller commented on #12398
We currently do not support categorical variables. I think we're happy to accept a pull request that adds a remark that we're implementing CART but don't provide categorical variable support for now.

[2018-10-17 13:34] amueller commented on #12339
I don't have a strong opinion as long as it's consistent and the name comes first.
@jnothman now I'm curious what you consider the biggest wtf ;)

[2018-10-17 13:36] amueller commented on #12389
we fix if it's closed in sklearn master usually...

[2018-10-17 13:41] nerolite commented on #8995
@amueller Appreciated!

[2018-10-17 13:43] amueller commented on #12392
As I tried to say earlier, there is no "dataset API" in scikit-learn. There is nothing in scikit-learn that uses the structure of the bunch object, so it's really not part of the API. The ``load_X`` and ``fetch_X`` are public API but there's nothing in scikit-learn that uses this format.
I'm not surprised that there is inconsistencies (actually I know that some attributes are sometimes lists and s

[2018-10-17 13:57] amueller commented on #12397
@scopegeneral yeah maybe not. I actually added this issue while reviewing the same authors new book, where he emphasizes the need for scaling lol

[2018-10-17 14:04] amueller commented on #10802
Yeah #12385 was what got me to comment.

My idea was that "most users" that use multi-metric scoring (if there are any lol) would use lists of strings. From that I would construct a single dict-returning scorer.
If someone provides a dictionary that contains scorer objects, that's another story.
I don't see a straight-forward way to create a multi-score scorer from scorer objects with this route.

[2018-10-17 14:32] kbrose commented on #9602
Not sure about the literature, but wikipedia uses the terminology to distinguish between the two cases:

https://en.wikipedia.org/wiki/Multiclass_classification
https://en.wikipedia.org/wiki/Multi-label_classification

Either way I've certainly not put effort into this, @minggli feel free to work on this.

[2018-10-17 20:12] jnothman commented on #12339
Well looking at ColumnTransformer construction alone, I'm sure users will wonder why weights are a separate parameter, and why they need these tuples in the first place, rather than having methods that allow them to specify `add(transformer=Blah(), column=['foo', 'bar'], weight=.5)` (after all, such a factory approach would almost make `make_column_transformer` redundant)...

[2018-10-17 20:14] jnothman commented on #12339
One small argument in favour of 2 is that "ColumnTransformer" is a mnemonic for `(column, transformer)`.

[2018-10-17 22:49] jnothman opened #12401 "tSNE with non-Euclidean metric should be able to square the distances"
Our tSNE implementation uses squared Euclidean distances by default, but does not square the distances when other metrics, or precomputed data, are provided. We had no certainty about whether the theory underlying tSNE was even valid for non-Euclidean metrics (which was raised in the partial rewrite before version 0.19) but if it is valid I would think using a matrix of squared pairwise distances

[2018-10-17 23:53] pulkitmaloo commented on #12401
I'd like to work on this.

[2018-10-18 02:07] jnothman commented on #10802
Well #10979 and similar previous work have ways of combining base scorers. Memoizing prediction methods would also be sufficient in many cases including non-trivial base scorers.

[2018-10-18 02:19] jnothman commented on #12401
I'm not sure that we have consensus from the core devs that this is the
right solution, but I'd be happy for you to work on it if you're confident
on what to do and how to test it.

[2018-10-18 04:28] yucc2018 opened #12408 "Sklearn.svm.SVC,the "predict" method predict all samples to same one label, which is wrong."
#### Description
I want to use sklearn.svm.SVC to predict probality of each label. However, when I use the method of "predict", the SVC estimator will predict all samples to the same label whether I set the probablity to True or False.
When I replace SVC with LinearSVC, the result becomes normal.
the following "Expected Results" was run by replacing the SVC(probablity=True) with LinearSVC().

####

[2018-10-18 06:48] #12398 closed

[2018-10-18 08:02] adrinjalali commented on #12408
`probability=True` is not supposed to change your hyperplane (i.e. the way the model is trained) AFAIK. What it does, is to give you two functions, `predict_proba` and `predict_log_proba`, which would give you probabilities of each given input being of each target class.

The reason you're getting different results from the two models, is that they have very different objective functions to optimi

[2018-10-18 08:15] adrinjalali commented on #12339
So is that a consensus now? Should I change it?

[2018-10-18 08:45] yucc2018 commented on #12408
Thanks for your answer. Maybe I didn't describe the problem clearly before.  I have a clear understanding of the principle of svm and the kernel. I have doubts about SVC's predict method.

when I run the following code, There are some problems here.

[code]
the outputs are as following:

[code]
I print the top ten samples' true label, predicted label from the SVC's predict method, probablity from

[2018-10-18 09:18] yucc2018 commented on #12408
code is as the following
[code]
the data is as the followings(need to unzip):

[test.zip](https://github.com/scikit-learn/scikit-learn/files/2491140/test.zip)

my work environment is as below :

Versions
System
machine: Windows-10-10.0.17134-SP0
python: 3.5.6 |Anaconda, Inc.| (default, Aug 26 2018, 16:05:27) [MSC v.1900 64 bit (AMD64)]
executable: D:\ProgramData\Anaconda3\envs\py35\python.exe

BLA

[2018-10-18 09:42] ribes96 commented on #12398
Thanks. I was going to do it and also to ask if maybe the remark should recommend using sklearn.preprocessing.OneHotEncoder for those variables.

[2018-10-18 10:02] adrinjalali commented on #12408
Interesting.

The issue here is that the `argmax(decision_function)` doesn't agree with `argmax(predict_proba)`. Aside from the issue that your data is not centered and scaled, this still shouldn't be the case.

For your case, the following code produces expected results (I just added the scaler preprocessing, and use dense arrays since SandardScaler doesn't like sparse), and  `argmax(decision_fun

[2018-10-18 10:02] jnothman commented on #12398
For a decision tree you shouldn't get such different results with/without
one-hot encoding.

[2018-10-18 10:15] yucc2018 commented on #12408
Without scaler, the accuracy of the argmax of predict_proba method is about ~80% in the data and the accuracy of the predict method is about ~30%(predict all samples to the same label).
I notice that the same problem happens  when I replace SVC with NuSVC.
Thanks.

[2018-10-18 10:16] ribes96 commented on #12398
Well, with classes 1,2,3, it is impossible to split in (2 / the rest), since they are cast to float (in a single split), but with OneHotEnconding you would have variables X1, X2, X3 in {0,1}, and hence you could split it in (X2 < 1, X2 == 1)
But I'm not sure about this

[2018-10-18 10:19] MotoRZR commented on #12384
Thanks all.  Will follow up with the LGBM forum

[2018-10-18 11:13] alisandra opened #12410 "PLSRegression does expose `coef_` in the same manner than linear model"
First, thank you, I'm really enjoying learning to use sklearn!

#### Description
I tried to run recursive feature elimination (feature_selection.RFE) with partial least squares regression (cross_decomposition.PLSRegression), and it ran, but not correctly. I appreciate that this is a questionable combination, but I'm also pretty sure the observed behavior is not intended.

Specifically, regardless

[2018-10-18 11:49] nehamalik2018 opened #12411 "exception"
while running below statement i am getting exception:
for i, c in enumerate(clusters):
  print('Cluster {} has {} members: {}...'.format(i, len(c), c[0]))

Exception:
---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
~/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/base.py in get_loc(se

[2018-10-18 14:30] rth commented on #12327
@grassknoted Yes, see https://github.com/scikit-learn/scikit-learn/issues/12327#issuecomment-427969043

[2018-10-18 14:41] ozancaglayan commented on #10605
I just discovered this by looking at the source code of PCA. It's not documented at all that PCA does this in terms of its `fit` method. I think at least, this should be documented.

If removed, a warning can be issued to make people aware of the difference in behavior.

[2018-10-18 14:54] lesteve commented on #12411
The error seems to happen in pandas, closing.

[2018-10-18 14:54] #12411 closed

[2018-10-18 15:53] aishgrt1 opened #12412 "Model pickling independent of byte ordering"
#### Description

I am trying to train and save the model in a little-endian system, pickle it and load it in big-endian machine, but I am facing issues with loading it.

Digging deeper into pickle formatting revealed that pickle is independent of byte ordering for inbuilt python data types, but for 3rd party data types like sklearn pipeline, picking is done differently. Can you help me on how to

[2018-10-18 15:54] aishgrt1 commented on #12412
@jnothman

[2018-10-18 16:01] TomDLT opened #12413 "Serialization error when using parallelism in cross_val_score with GridSearchCV and a custom estimator"
Minimal example:
[code]
Full traceback in details.

Interestingly, it does not fail when:
- calling `cross_val_score` with `n_jobs=1`.
- calling `cross_val_score` directly on `dummy`, without `GridSearchCV`.
- using a imported classifier, as `LogisticRegression`, or even the same `Dummy` custom classifier but imported from another file.

This is a joblib 0.12 issue, different from #12289 or #12389

[2018-10-18 16:09] rth commented on #12412
Are you using CPython `pickle` or `joblib.save/load`? In the latter case please open this issue at https://github.com/joblib/joblib. A minimal example wouldn't hurt.

[2018-10-18 16:13] rth commented on #12412
I believe, scikit-learn pipelines have nothing that special as far as pickling is concerned: it's just some Python objects, with numpy arrays (and I'm not sure what happens with C/Cython extensions). So it's mostly a matter of how those are handled by the underlying pickling libraries which is unrelated to scikit-learn.

[2018-10-18 17:20] aishgrt1 commented on #12412
Thanks @rth  I am using pickle dump and load

[2018-10-18 17:36] rth commented on #12412
Try joblib's one, the discussion in https://github.com/joblib/joblib/issues/279 might be relevant. The basic issue may be the byte ordering of numpy arrays cf https://docs.scipy.org/doc/numpy-1.15.0/user/basics.byteswapping.html: so I would start by checking that pickling numpy arrays works across your systems.

Closing, as there is not much we can do about it on the scikit-learn side. An alternat

[2018-10-18 17:36] #12412 closed

[2018-10-18 17:54] albertcthomas commented on #12413
I had the same issue a few days ago with a custom estimator. Thanks for the minimal example @TomDLT

[2018-10-18 19:17] RajatGarg97 commented on #12397
So what should I do now?

[2018-10-18 19:45] amueller commented on #10802
I hadn't seen #10979 and it also looks like a nice solution. It seems slightly more hacky since we construct the scorers and then disassemble them again basically.
So having the logic in the scorer seems more natural to me.
I haven't really thought it through, though.

[2018-10-18 20:45] daten-kieker commented on #9428
@amueller Did you mean to add a mention of `pairwise_distances`? Please see [PR 12416](https://github.com/scikit-learn/scikit-learn/pull/12416). (I kept the [WIP] prefix until you confirm this is what is required here).

[2018-10-18 20:59] lorentzenchr commented on #11904
@dsaxton difficult to answer without math notation. In short, you formulate it as a multinomial regression/classification with category specific intercepts. Having c+1 categories r, dummy encoding for the response gives y<sub>r</sub>=1 if Y=r and  y<sub>c+1</sub>=1-y<sub>1</sub>-y<sub>2</sub>-...
Those dummy encoded y<sub>r</sub> are multinomial distributed with probabilites p<sub>r</sub>. The tri

[2018-10-18 21:32] jorisvandenbossche commented on #12339
Just to answer to this argument. I think this quite depends on how your code is written, because it can perfectly be the other way around. Eg on the slides of Oliver about the new features, there was a fragment like:

[code]

So here, it is actually the transformer that is longer. But of course, you can perfectly define those before the `make_column_transformer` as well. But so just saying that th

[2018-10-18 23:51] janvanrijn opened #12417 "MissingIndicator Documentation & Interface"
Today I discovered a huge mistake in my experimental pipeline, mostly due to me making too many and in particular the wrong assumptions. In order to prevent other people from making the same assumptions, I think the `MissingIndicator` documentation can be slightly improved. In particular, it was unclear to me that it transforms the input array into missing indicator variables, rather than adding t

[2018-10-19 02:10] jnothman commented on #12417
If you want to transform all features, FeatureUnion is more appropriate
than ColumnTransformer. But yes, pr welcome. I think an example in the
narrative docs would be appropriate more than in the example gallery

[2018-10-19 02:39] jnothman commented on #12398
It takes two nodes to split (2 / the rest) without OneHotEncoding, and 1
with. But it needs to decide among many more variables with OneHotEncoding.

[2018-10-19 02:45] jnothman commented on #10605
PR welcome to improve documentation where you find it is needed.

[2018-10-19 04:06] ankapale commented on #12401
I am not sure if tSNE should be used for non-Euclidean distances. Could not find anything
 in the literature. Nevertheless, if there is agreement to the steps you suggested, then you can take a look at my PR.
I have marked it WIP until a common consensus is reached. Will add pytests and more documentation if the approach seems okay.

Thanks!

[2018-10-19 08:55] tr0217 opened #12420 "Wrong equation in the doc for mean shift of updating centroid."
For the equation of m(x_i) is as fellow:

m(x_i) = \frac{\sum_{x_j \in N(x_i)}K(x_j - x_i)x_j}{\sum_{x_j \in N(x_i)}K(x_j - x_i)}

Given a candidate centroid x_i for iteration t, the candidate is updated according to the following equation:

x_i^{t+1} = x_i^t + m(x_i^t)

The right equation should be:

x_i^{t+1} = m(x_i^t)

[2018-10-19 10:20] ribes96 commented on #12398
OK, you're right. So no OneHotEncoding.
By the way, is there a good reason for not supporting categorical variables? Is it a work in progress?
Decision Tree is THE method for coping with categorical variables, it seems designed to work with them. It looks strange not supporting precisely those.

[2018-10-19 13:46] #12276 closed

[2018-10-19 14:31] kaburelabs commented on #10449
I am doing a kernel on Kaggle and I have the same issue when using xgbclassifier

[2018-10-19 14:43] qinhanmin2014 commented on #10449
@kaburelabs Please update to 0.20. If the problem still exists, please open an issue with a reproducible script.

[2018-10-19 14:45] amueller commented on #12417
Yeah PR welcome, and I agree, should to to the narrative and some additions to the docstring are good, too.
There's also #12294, which will probably mean less people would use the ``MissingIndicator`` directly. Maybe you want to do that so your pipeline gets simplified.

[2018-10-19 15:13] jeremiedbb opened #12422 "[BUG] row_norms return dtype is always np.float64 for sparse input"
I can't see any reason why the norms returned by `csr_row_norms` must have float64 dtype. Especially since `row_norms` returns the same dtype as the input for dense input. See below:
[code]

[2018-10-19 15:30] amueller commented on #12398
It's a work in progress, see #4899. Right now there is no support for categorical variables in any model, only in the OneHotEncoder and OrdinalEncoder.

[2018-10-19 16:28] jeremiedbb commented on #12422
It will be fixed in #11950

[2018-10-19 16:44] soodoku opened #12425 "Feature Request: Optimal Cut-offs for F1 score, accuracy for multi-class"
Dear All,

For multi-class classifiers, we do not know what probability value will maximize the accuracy or F1 score. Or any metric for which you need to trade-off between FP and FN. So we wrote a small script that uses a brute force optimizer to find that value for the metrics.

https://github.com/soodoku/optimal_classification_cutoffs

It may be a useful thing to add to the core functions.

####

[2018-10-19 16:49] espg commented on #12375
I don't have an answer for this, but I would like to see improvement in the area... For my own personal work, I've had cases where the reachability graph simply isn't able to be processed by the automatic clustering method. I'll run the OPTICS clustering method, get a recursion error after the graph is built and passed to auto_cluster, and then do the extraction via extract_dbscan. I'm not sure th

[2018-10-19 16:51] espg commented on #12376
We should absolutely provide a way to encapsulate multiple cluster hierarchies. I don't know how to do it, especially within the current sklearn API, but I certainly support enabling it as a feature...

[2018-10-19 16:53] amueller commented on #12425
See #10117. Feedback there welcome.
How do you combine this with cross-validation?

[2018-10-19 16:57] grassknoted commented on #12327
Thank you, I'm on it.

[2018-10-19 20:43] daten-kieker commented on #4687
it seems the [PR](https://github.com/scikit-learn/scikit-learn/pull/5224) by @andylamb is almost finished. Unfortunately, his repository is gone.

Should I pick up the PR?

[2018-10-19 21:05] amueller commented on #4687
sure go for it!

[2018-10-20 04:55] daten-kieker commented on #4687
@amueller thanks. It’s [done](https://github.com/scikit-learn/scikit-learn/issues/12427)

[2018-10-20 08:38] qinhanmin2014 commented on #12044
I have to admit that I can't understand the importance of (such a strict) API consistency now. Following Joel's decision, I think I'm fine with things like #12087 (i.e., provide a ``extract_method`` parameter so that we can provide ``labels_`` after ``fit``/``fit_predict``, and provide function ``extract_XXX`` to users so that they can easily try different methods without calculating RD again.)
WD

[2018-10-20 09:10] qinhanmin2014 commented on #12044
And maybe we can provide ``extract_method = None`` (i.e., doesn't return labels after ``fit``, raise an error for ``fit_predict``). This will enable users to get CD/RD quickly and make it easier for us to benchmark the algorithm.

[2018-10-20 11:46] qinhanmin2014 commented on #12044
Why will ``extract_method = None`` break the API? I think it's acceptable that when certain param is set to certain value, certain attribute will not be available (e.g., store_cv_values in RidgeClassifierCV).

How will you implement it?

My solution is something like:
[code]

[2018-10-20 12:32] adrinjalali commented on #12044
To me, `OPTICS` is a "clustering" algorithm, and I expect to be able to use any such model in a pipeline where using any clustering is apt. For instance, I would expect to be able to easily use it in a grid search, with a Silhouette score to optimize hyperparameters. That means I expect the object to be in a _valid_ state after a call to `fit`, which for a clustering object means to have `labels_`

[2018-10-20 12:45] qinhanmin2014 commented on #12044
I see, seems that both solutions are similar. I think they're all acceptable from my side.

[2018-10-20 14:10] rth commented on #12420
Thanks for reporting it. Checking [the paper referenced in the MeanShift docs](http://scikit-learn.org/stable/modules/clustering.html#mean-shift) this looks correct. The confusion may have been that the paper defines `m(x_i) = Weighted_sum - x_i` in which case we would indeed get `x_i^{t+1} = x_i^t + m(x_i^t)` but we use a different definition for `m(x_i)`.

Would you like to make a PR to fix it?

[2018-10-20 19:05] daten-kieker commented on #3888
**tl;dr** I think `landscape.io` is no longer operating reliably and this issue should be closed.

Longer Version:

To test I tried to set up `landscape.io` for my sklearn fork. Since 10 hrs it claims to be setting up the necessary [webhooks](https://landscape.io/repository/800261/status). [Apparently I am not alone](https://github.com/landscapeio/landscape-issues/issues/293), since Nov 2017 simil

[2018-10-20 19:13] rth commented on #3888
Thanks for checking @daten-kieker !

It appears to be mostly equivalent to `flake8` with `--max-complexity` option. More convoluted cases might currently be detected by LGTM.com.

Closing. Thanks.

[2018-10-20 19:13] #3888 closed

[2018-10-20 21:59] arrayslayer commented on #12420
Hello,
Can I work on this if OP isn't going to take it up?

[2018-10-21 02:05] qinhanmin2014 commented on #12375
@espg What's your opinion about the 4 points mentioned above? I really want to see the reason for these add-ones. Should we contact Amyzhang? From your comments, seems that you're saying the automatic extraction method is not so mature and not so important, so should we retreat it?

[2018-10-21 02:28] qinhanmin2014 commented on #12375
And I am surprised that we're using number of points when checking whether a point needs to be moved, apparently that's wrong right? We should use RD.
[code]

[2018-10-21 04:54] jnothman commented on #12397
Create a pull request noting this name in the docs and referencing the source

[2018-10-21 05:47] jnothman commented on #12422
Until recently (0.18,0.19) a lot of our functions cast up to float64.
Maintaining 32 input was only done when necessitated by an estimator.

[2018-10-21 05:49] jnothman commented on #12339
Make it match the name I reckon: column-transformer.

[2018-10-21 08:43] #12360 closed

[2018-10-21 08:45] adrinjalali commented on #12044
In #12077, the `_xi_cluster` extracts the hierarchy of clusters, then `_extract_xi_labels` extract the labels from the hierarchy. Right now it assigns labels according to what would be `minimum=True` in [R's `extractXi`](https://rdrr.io/cran/dbscan/man/optics.html). Implementing the equivalent of `minimum=False` is almost trivial. Same goes for `extract_sqlnk`.

Another aspect to assigning labels

[2018-10-21 08:50] jnothman commented on #6284
But the function is stateless, so in that unusual case, one could use a
FunctionTransformer and its kw_args

[2018-10-21 08:58] qinhanmin2014 commented on #12044
Thanks @adrinjalali , I'll take some time to look at R, but I think we should use a same strategy to extract labels in extract_xi and extract_sqlnk.

Regarding #12087, I'd like to see #12421 in first to avoid unnecessary conflicts.
One thing bother me is the correctness of extract_sqlnk (See #12375, apart from some mysterious params, I also find a bug). I'm now considering whether we should revert

[2018-10-21 15:29] espg commented on #12375
@qinhanmin2014 The normalization of reachability values is something that I added, so we can probably get rid of `significant_min`. In general, Amyzhang will know more about the extraction method, so you may want to check with her. `rejection_ratio` should probably be kept, as it has a pretty clear impact on the clustering when you change it, and is a way to adjust how many points go to noise vs c

[2018-10-21 15:37] espg commented on #12044
This may not have much bearing on sklearn's API, but I would point out that the OPTICS algorithm itself is defined to **just** produce Reachability and Ordering, not labels... of course, clustering modules in sklearn are expected to produce labels, hence why we default to an extraction

[2018-10-21 15:49] qinhanmin2014 commented on #12044
This is why I don't like to provide labels in ``fit`` :) But seems that Joel cares about API consistency, so maybe we'll still provide labels after ``fit``.

[2018-10-21 15:50] qinhanmin2014 commented on #12375
ping @amyxzhang according to @espg 's suggestion. Your helps are deeply appreciated here.

[2018-10-21 15:55] qinhanmin2014 commented on #12375
+1 to get rid of it

Why is ``maxima_ratio`` not enough? In the original paper, there's only ``maxima_ratio``.

So what's the relationship between ``min_cluster_size`` and ``min_samples``, should we get rid of min_cluster_size?

[code]

[2018-10-21 15:57] qinhanmin2014 commented on #12375
And @espg your helps on the OPTICS-related issues/PRs are deeply appreciated. There're still couple of things to do if we want to release OPTICS in 0.21.

[2018-10-21 16:17] grassknoted commented on #12327
I'm sorry, but I'm new to Scipy, and I've spent the past two days reading the documentation, but I'm unable to find where exactly to make the changes to solve this issue. Any pointers to the files would be really appreciated.
Thank you for being patient with me.

[2018-10-21 16:50] escherghost commented on #8500
this is due to the fact that LDA returns a number of components equal to k-1, where k is the number of classes

[2018-10-21 18:56] glemaitre commented on #12413
Duplicate of #12250

[2018-10-21 22:16] stoddardg opened #12429 "GradientBoosting fails when using `init` estimator parameter."
#### Description
Passing any estimator to the `init` parameter in `GradientBoostingClassifier` (or `GradientBoostingRegressor`) causes errors when fitting. I'm including one example below as a MWE but I've fiddled with this issue for a while and get a number of different errors even if I can get past one. My guess is that this part of the code (the `init` estimator part) hasn't been shown any love

[2018-10-22 05:46] thoo commented on #12327
@grassknoted   Just to remove the warnings, you can just squash with `warnings` module. I am not sure what @rth  has in mind.

[2018-10-22 07:04] rakeshskc commented on #11367
I have been facing the same issue,  Has anyone solved this issue?

[2018-10-22 10:21] rakeshskc commented on #11367
#Made changes in your code, I have highlighted in bold

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

train_set = ["president of India","machine learning is awesome", "python is awesome", "thanks for reading"]

tfidf_vectorizer = TfidfVectorizer()
**tfidf_matrix_train =

[2018-10-22 12:43] #12186 closed

[2018-10-22 13:03] RajatGarg97 commented on #12397
I m on it😀

[2018-10-22 13:14] jeremiedbb opened #12430 "MiniBatchKMeans partial_fit uninformative error message when number of features changes"
I find the error message, raised when the number of features changes between calls to partial_fit in MiniBatchKMeans, a bit uninformative. See
[code]
I understand that the error comes from a shape mismatch somewhere but it could be more informative (what is Y here ?), or am I just being too picky ?

[2018-10-22 13:20] NicolasHug commented on #12327
That would not remove the warnings per se, that would just filter them out and we don't want that.

Like @rth said, when some mathematical computation is being done on a sparse matrix, we need to convert it first to an array in order to avoid the warning.

To be fair the 'easy' tag is a bit misleading because when I looked at it, it wasn't obvious at all where to make the matrix-to-array conversio

[2018-10-22 15:15] jeremiedbb commented on #12422
So is it fine to assume that since 0.20, maintaining 32bit input should be not when possible ?

[2018-10-22 15:18] NicolasHug commented on #12327
Of course it helps a lot but it still takes some judgment to decide what should be changed.

For example the first failing test is in a doctest example:
``sklearn/random_projection.py:601``: ``np.mean(transformer.components_ != 0) ``
Do we want to do the conversion in the example only, or upstream?

Another one is e.g. `test_birch_predict` which fails on
``assert_almost_equal(v_measure_score(neare

[2018-10-22 15:31] #4687 closed

[2018-10-22 17:09] amueller opened #12433 "Add built-in dataset with missing values and categorical data?"
Follow up on #12424:
We don't have a built-in dataset with missing values and/or mixed feature types. I think it would be good to have one to have non-synthetic examples for the column transformer and imputation strategies.
While I like to reduce the number of custom fetchers and would like to use ``fetch_openml`` as much as possible, I think there's a benefit to having a built-in dataset so that

[2018-10-22 17:13] amueller commented on #12433
hm not sure why I thought adult was 4mb, looks like 400k which might be doable?
https://www.kaggle.com/uciml/adult-census-income

[2018-10-22 17:46] jeremiedbb commented on #12433
You want a dataset with missing values completely at random ? Patterns in missing values could be interesting too.

[2018-10-22 17:49] amueller commented on #12433
I guess I would be most interested in not missing at random. The main point was to have a non-trivial amount of missing data and possibly across multiple features.

[2018-10-22 19:05] AlexRiggs opened #12434 "Cloudpickle.py, the imp module is deprecated in favor of importlib"
#### Description
A deprecation warning is thrown when using sklearn. Recently cloudpickle was updated to do away with this warning, the sklearn version needs to be updated accordingly.

#### Steps/Code to Reproduce
I imagine this occurs anywhere cloudpickle is imported. I am getting it from:
`from sklearn.ensemble import RandomForestRegressor`
and using said Regressor

#### Expected Results
No dep

[2018-10-22 19:06] AlexRiggs commented on #12434
See joblib pull:
https://github.com/joblib/joblib/pull/788

[2018-10-22 19:43] gokul-uf opened #12435 "sklearn.neighbors.NearestNeighbors accepts non-int values for n_neighbors without failing"
#### Description
`sklearn.neighbors.NearestNeighbors` has `n_neighbors` arg for the constructor, which according to the [docs](http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.NearestNeighbors.html#sklearn.neighbors.NearestNeighbors) should accept only `int` as a value. Unfortunately, the following code runs without raising an error and fails only when calling `.fit`

#### Steps/

[2018-10-22 19:55] jeremiedbb commented on #12435
In scikit-learn, there's is no validation of the parameters in the constructor. All the validation of the parameters is done in the fit. So what you see is the intended behavior.

[2018-10-22 20:10] gokul-uf commented on #12435
Ah, I see. Closing this issue as it seems to be the intended behaviour. I'm curious to know why this is the case @jeremiedbb :)

Thanks!

[2018-10-22 20:10] #12435 closed

[2018-10-22 20:36] amueller commented on #12435
because it's possible to change the value between ``__init__`` and ``fit`` and we don't want to check in both places, and there's little benefit in checking in both.

[2018-10-22 21:02] amueller commented on #12429
So is this not a duplicate of #2691? And yes, no-one has taken the time to fix that afaik. I don't think people thought it was an important use-case.

[2018-10-22 21:04] jeremiedbb commented on #12429
This issue was also reported here #10302.

It seems that there are 2 issues. Both come from the line
[code]
- If the prediction on a single label, y_pred will have shape (n_samples,) and this causes a failure later. It should be reshaped.
- Then, if y has an integer dtype, y_pred will also have one, and this also causes a failure later due to unsafe casting. It should be cast to float.

a simple f

[2018-10-22 21:05] amueller commented on #12420
I think the current docs look ok. What was the change you wanted to see @rth?

[2018-10-22 21:41] jeremiedbb commented on #12429
It seems to be a duplicate of #2691. The code snippet is almost the same (different init classifier but the issue is for all classifiers)

[2018-10-22 22:07] rth commented on #12420
@amueller from https://en.wikipedia.org/wiki/Mean_shift (and same in the original paper),
![screenshot_2018-10-22 mean shift - wikipedia](https://user-images.githubusercontent.com/630936/47321901-7f88bf80-d656-11e8-8701-5d9b3a80220b.png)

while in [the docs](http://scikit-learn.org/stable/modules/clustering.html#mean-shift) we have,
![screenshot_2018-10-23 2 3 clustering scikit-learn 0 20 0 docume

[2018-10-22 22:10] rth commented on #12434
Thanks for the information! That's a limitation if vendoring code unfortunately.

We will sync with the latest joblib before releasing 0.20.1 which should fix it.

[2018-10-22 22:36] AlexRiggs commented on #12434
Sounds great! Just wanted to make sure the team was aware, looking forward to not seeing the warning. Thanks for the otherwise awesome tool.

[2018-10-22 23:00] jnothman opened #12437 "Estimators with metric='euclidean' default but supporting metric_params and p should instead have metric='minkowski'"
Where estimators can be configured for metric, the point of providing a parameter `p` is that it should be possible to switch between Manhattan and Euclidian and other Minkowski distances just by modifying `p` (without changing `metric`). However this is not possible where `metric='euclidean'` by default. Rather, where `p` is available, `metric` should be 'minkowski' by default.

We should change

[2018-10-23 00:55] amueller commented on #12437
which estimators are those?

[2018-10-23 00:56] amueller commented on #12420
Ah, fair enough. Btw we implement this without a kernel IIRC

[2018-10-23 00:56] robert-dodier opened #12438 "StandardScaler documentation details missing"
Hi, I'm reading: http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

(1) It says "Standardize features by removing the mean and scaling to unit variance" but a formula should be stated to make it explicit. Not everyone will understand what it means to say "removing the mean and scaling to unit variance".

(2) The documentation for scale_ doesn't say how it i

[2018-10-23 01:18] qinhanmin2014 commented on #12438
PRs to improve the doc are always welcomed.

[2018-10-23 01:39] qinhanmin2014 commented on #12437
+1 to change the default in OPTICS (without deprecation cycle), especially considering that our euclidean is not robust.

[2018-10-23 02:00] qinhanmin2014 commented on #12434
Duplicate of #12226, please see the discussions there.

[2018-10-23 02:00] #12434 closed

[2018-10-23 07:02] jnothman commented on #12044
So let's provide an optics_distances function that just produces RD/CD. Or
an optics function for same but rename the class to OpticsClustering or
OPTICSClustering. The main point of the class interface for estimators is
to provide API consistency around diverse underlying functional forms. It
is appropriate to make the estimator API for OPTICS satisfy the clustering
API by default.

[2018-10-23 07:05] #12374 closed

[2018-10-23 07:09] qinhanmin2014 commented on #12044
So that's actually @adrinjalali 's solution, are you fine with it @jnothman :
[code]
I'll vote +1 at this point. We can have a try if you approve.

[2018-10-23 09:37] TomDLT commented on #12437
[code]
[code]

So we have:
- `DBSCAN`. Interestingly, the function uses different defaults: `dbscan(p=2, metric='minkowski')`. we should probably fix this.
- `OPTICS` (#12439)
- `TSNE` if we want to add parameter `p` (#12387).
- `KernelDensity` if we want to add parameter `p`.
- `MDS` is not concerned.
- other estimators already have `metric='minkowski'` as default.

[2018-10-23 09:47] jnothman commented on #12437
Hmmm.... @qinhanmin2014 has implied that this isn't the full story. Where `sklearn.metrics.pairwise` is used, unlike `sklearn.neighbors`, the implementation of minkowski(p=2) is not the same as the the implementation of euclidean.

Should pairwise_distances be special-casing the minkowski(p=2) case as equivalent to euclidean (and similar for manhattan)? Perhaps we should only do this after we've s

[2018-10-23 12:46] dariosena opened #12440 "Fetching Olivetti dataset loads Covertype DESCR"
Fetching Olivetti dataset loads Covertype DESCR:

![screenshot from 2018-10-23 09-44-19](https://user-images.githubusercontent.com/348842/47361420-4416e100-d6a8-11e8-809b-4bc77437463c.png)

Best regards,
Emanuel D R Sena

[2018-10-23 12:59] amueller commented on #12395
@dillongardner have you started working on this? We want to release a bugfix version relatively soon.

[2018-10-23 12:59] jeremiedbb commented on #12440
Thank's for the report. That's on me :/
I fixed it in #12441

[2018-10-23 13:43] #12440 closed

[2018-10-23 13:46] TomDLT commented on #12401
I agree.

[2018-10-23 14:35] qinhanmin2014 opened #12442 "OPTICS Benchmark and improve the performance"
Our OPTICS is now O(n^2). We can improve it to O(n * logn) with a heap (See ELKI and dbscan).
Open this issue for us to benchmark our implementation and (maybe) try to improve it in the future.

Related comments:
* (from kno10) It is worth noting that because of this operation, the current OPTICS in scikit-learn obviously needs n² operations, while using a heap here would reduce this to n*O(log n)

[2018-10-23 15:03] stoddardg commented on #12429
Thanks all for the responses.

Its not an exact duplicate of https://github.com/scikit-learn/scikit-learn/issues/2691 if only for the reason that there are more errors than just the `too many indices for array` error. For example, if I use the `init_clf` as defined in https://github.com/scikit-learn/scikit-learn/issues/12429#issuecomment-432001203, another issue is thrown

[code]

If you want to g

[2018-10-23 15:18] #11980 closed

[2018-10-23 16:37] amueller commented on #12433
I just realized the biggest problem with this issue: we can either return a weirdly typed numpy array or loading the dataset will have a soft requirement on having pandas installed....

[2018-10-23 17:02] dillongardner commented on #12395
A bit more nuanced than expected. Sorry for the delay.

[2018-10-23 18:06] klinnell opened #12444 "GPR not optimizing"
#### Description
When using GPR, it currently does NOT optimize the hyperparameters when kernel is set to "None" as it says it is should. (GaussianProcessRegressor from gpr.py)

#### Steps/Code to Reproduce
The code below should produce some GPR interpolation, but if you change the y values you can notice that the kernel doesn't change. This is because the optimization step is not being performed

[2018-10-23 18:43] jeremiedbb commented on #12429
Hum this is because the estimator you provided does not support sample weights. But one should be able to do that as long to as he does not try to fit the gradient boosting with sample weights. I'll fix that too in my PR.

Have you encounter other kinds of bugs related to that ?

[2018-10-23 19:25] pswpswpsw opened #12445 "[BUG!] elasticNet and multiElasticNet result in wrong model, while enet_path give the right one"
#### Description
`linear_models.enet_path` give the right sparse model while `linear_models.ElasticNet` and `linear_models.MultiTaskElasticNet` give wrong models.

#### Steps/Code to Reproduce
I am using `Python2.7`.

please go to my github
`git clone https://github.com/pswpswpsw/test_on_sklearn_elasticNet.git`

`python test.py`

**If you don't have the time to check the code, read this**:

Do you

[2018-10-23 19:30] pswpswpsw commented on #12445
## How about glmnet?

The glmnet version provided in pip which follows the **stanford version**: https://web.stanford.edu/~hastie/glmnet/glmnet_alpha.html, **gives you the right model the same as enet_path**

[2018-10-23 19:30] tuliocasagrande commented on #12438
Hello @qinhanmin2014, I've created #12446 addressing these issues.
Please let me know if I can help with something else.
Thanks!

[2018-10-23 20:03] RajatGarg97 commented on #12397
@amueller  Can you pl. locate the file in the repository

[2018-10-23 20:43] agramfort commented on #12445
what do you say is the right model?

ElasticNet  uses enet_path

did you check the parametrization?

[2018-10-23 21:02] rth opened #12447 "[RFC] Define future dependence on joblib"
This is a request for comments to define how the integration / dependence on joblib could evolve (or not evolve) in the future. There was some earlier discussion about this in https://github.com/scikit-learn/scikit-learn/issues/8494 and https://github.com/scikit-learn/scikit-learn/pull/12345

## Vendoring vs defining joblib as a dependency

Currently, we are vendoring joblib under `sklearn.utils.j

[2018-10-23 21:03] pswpswpsw commented on #12445
the right model is the one correctly optimize the target.

The parameterization that I write is the same.

Please go check out my code.

[2018-10-23 21:17] jnothman commented on #12447
I think joblib issues landing up in our tracker will happen anyway.
And I think you've missed a pro: when people are using different supported versions of joblib, issues will be hard to debug.

But I've not read fully yet

[2018-10-23 22:14] amueller commented on #12447
I don't think that's an actual argument as it's unlikely to impact users in any way.

Unless they set ``SKLEARN_SITE_JOBLIB``.

You missed a disadvantage: Incompatibility with site joblib.
If someone has a site joblib they might use that *and* the vendored joblib and that will break pickles (and will probably lead to issues if these are different versions).

I see the main disadvantage to be that

[2018-10-24 01:59] jnothman commented on #12422
I think maintaining 32 bit should be done, or an option, when possible.

[2018-10-24 05:02] GaelVaroquaux commented on #12447
I don't have a fundamental issue with that, but I'd like to hear the
exact reasons for it.

Indeed, I see the main benefit of vendoring joblib that it enables us to
have extremely tight coupling of the development of the two libraries.
Basically, we change joblib for scikit-learn. This means a very tight
control on the dependency (ie a tight version number). Such a tight
control is a major pain in

[2018-10-24 07:38] #8657 closed

[2018-10-24 07:39] cdluminate commented on #10561
I encountered the same problem on power8.

[2018-10-24 07:48] rth commented on #10561
@cdluminate What value do you get instead of 0 in that test-- also a few 1e-7?

Does the assert in https://github.com/scikit-learn/scikit-learn/issues/10561#issuecomment-361910233 also fails?

[2018-10-24 07:56] cdluminate commented on #10561
Yes.

[code]

I will test that snippet later.

[2018-10-24 08:43] cdluminate commented on #10561
@rth

[code]

[2018-10-24 09:11] cdluminate opened #12448 "[ppc64el/0.20.0] test_logistic_regression_multi_class_auto[lbfgs-est1] failure"
[code]

[2018-10-24 09:35] mrzyzhaozeyu opened #12449 "from sklearn.svm import SVC rise issue about unexpected keyword argument"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-10-24 09:36] mrzyzhaozeyu commented on #12449
from sklearn.svm import SVC

Traceback (most recent call last):
  File "/Users/zzy/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2963, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-2-0bf0ba5f6bdd>", line 1, in <module>
    from sklearn.svm import SVC
  File "/Applications/PyCharm.app/Contents/helpers/pydev/_pydev_bundle/pyd

[2018-10-24 10:06] #12449 closed

[2018-10-24 10:08] agramfort commented on #12445
enet_path does not solve the same problem as MultiTaskElasticNet

if you have more than 1 task.

MultiTaskElasticNet uses a group lasso (L1/L2) norm across tasks.

[2018-10-24 10:08] #12445 closed

[2018-10-24 10:12] cdluminate commented on #12448
I'm trying to diagnose build issues for Debian pacakge. https://buildd.debian.org/status/package.php?p=scikit-learn

I'll try to get the `show_versions()` result later.

[2018-10-24 10:18] pswpswpsw commented on #12445
The documentation clearly states the same objective function, when you have more than one task.

——-
Multi-task ElasticNet model trained with L1/L2 mixed-norm as regularizer
The optimization objective for MultiTaskElasticNet is:
(1 / (2 * n_samples)) * ||Y - XW||_Fro^2
+ alpha * l1_ratio * ||W||_21
+ 0.5 * alpha * (1 - l1_ratio) * ||W||_Fro^2
Where:
||W||_21 = sum_i sqrt(sum_j w_ij ^ 2)

For multi

[2018-10-24 11:09] mblouin02 commented on #10054
Hi,

note that this issue is also present when using k-fold validation with scikit-learn, using function cross_val_score().

This has been reported to the sclearn team, and the target to fix it is in the next version, 0.20.1.

See here for more info: https://github.com/scikit-learn/scikit-learn/issues/12413

[2018-10-24 13:35] agramfort commented on #12445
ok so yes enet_path is also using ||W||_21 you're right. Now running your code I read:

[code]

enet_path is using a warm_start strategy to converge faster. This can explain why supports are different.

you can try to use warm_start=True and lower the tol. But it **must** work as MultiTaskElasticNet do use the same coordinate descent cython code.

[2018-10-24 14:57] tuliocasagrande opened #12453 "scale should use StandardScaler under the hood"
Hello!
I apologize if this was discussed previously, but I couldn't find anything related.

I understand that scale is equivalent to StandardScaler without the estimator API, but they have different implementations. Shouldn't scale use `StandardScaler.fit_transform()` under the hood, such as `power_transform`: https://github.com/scikit-learn/scikit-learn/blob/ebe77d6936c352bc7688e8ae83f80752da8453

[2018-10-24 16:19] amueller commented on #12453
It might be good for consistency and to minimize code. Can you check if it would be any slower? I think ``StandardScaler`` probably does a little more work maybe?

Also, it's hard to ensure they are consistent right now so if we make them consistent we might break people's code.

[2018-10-25 07:37] ogrisel commented on #12327
There is no need to filter warnings triggered by scipy itself since those will already be filtered by the next scipy version: scipy/scipy#8887.

[2018-10-25 08:51] mfaggin commented on #11198
Dear experts,

I take the chance of this post to ask a question.
Is there a way to use the sklearn_evaluation.plot.grid_search function (look at https://blancas.io/sklearn-evaluation/user_guide/grid_search.html) using the new `cv_results_` function in place of `grid_scores_`?

Thanks

[2018-10-25 11:47] jeremiedbb commented on #12453
+1 for consistency ! But I'm confused. Shouldn't it be in the other way ? I thought that the fit method should call the function.

The result is the same but if the point of having a simple function achieving the same task bypassing the whole estimator api, it feels weird to use that such api inside this function.

[2018-10-25 12:46] piyush-kgp opened #12458 "K Means Clustering with custom distance function"
Hi, I want to add a module for K Means clustering with custom distance function at `sklearn/cluster`. It will have a class called `CustomKMeans`. This class will take a `distance_function` as argument in its `__init__`. The end user will need to define a distance function and use it in this way:
[code]
The API will be similar to `KMeans` except for the distance function part. We can have Euclidean

[2018-10-25 14:13] jeremiedbb commented on #12458
This is not as straightforward as you may think. see #1188.
The main issue is the M step of KMeans. Taking the usual mean of the samples assigned to a cluster don't work for other distances.

[2018-10-25 14:52] tuliocasagrande commented on #12453
@glemaitre I agree the behaviour is different:

[code]

But I've seen in the API both versions working fine, e.g. **minmax_scale**:

https://github.com/scikit-learn/scikit-learn/blob/e50fc2af940203226a9a83836a14d679c94a7486/sklearn/preprocessing/data.py#L459-L466

[2018-10-25 16:44] lesshaste commented on #12442
Heaps are fast in practice and easy to implement. If n is ever more than 10,000, say, then this will definitely be worthwhile.

[2018-10-25 19:54] pkomiske opened #12460 "TSNE input requirements too strict?"
I'm trying to run TSNE with a custom metric function. My data is represented a list of numpy arrays of different length (which my metric function is perfectly capable of handling). However, TSNE throws a `ValueError` at me from line 693 of `t_sne.py` because my data cannot be made into a numpy array with dtype `np.float32` of `np.float64`.

I don't see any fundamental reason for this requirement,

[2018-10-25 19:57] ZWMiller opened #12461 "SkLearn `.score()` method generating error with Dask DataFrames"
When using Dask Dataframes with SkLearn, I used to be able to just ask SkLearn for the score of any given algorithm. It would spit out a nice answer and I'd move on. After updating to the newest versions, all metrics that compute based on (y_true, y_predicted) are failing. I've tested `accuracy_score`, `precision_score`, `r2_score`, and `mean_squared_error.` Work-around shown below, but it's not i

[2018-10-25 20:09] TomAugspurger commented on #12461
Some context: dask DataFrame doesn't know it's length. Previously, it didn't have a `shape` attribute.

Now dask DataFrame has a shape that returns a `Tuple[Delayed, int]` for the number of rows and columns.

FYI @ZWMiller that's exactly what was occurring previously. Personally, I don't think relying on this is a good idea, for exactly the reason you state.

In `_num_samples` scikit-learn simply

[2018-10-25 20:15] pkomiske commented on #12460
The same sort of thing could be said for `NearestNeighbors` (and probably other classes), given that I just tried that with my data and ran into a similar issue.

[2018-10-25 22:31] parthspatel opened #12463 "Imp module depreciated in cloudpickle"
#### Description

In scikit-learn/scikit-learn/blob/master/sklearn/externals/joblib/externals/cloudpickle/cloudpickle.py,
```import imp```
 should be changed to
``` import importlib```

[2018-10-25 22:35] rth commented on #12463
Thanks for the heads up. This was fixed and in cloudpickle upstream and should get fixed in scikit-learn once the vendored version is updated for the next bug fix release 0.20.1.

[2018-10-26 03:01] RunningHorseSoochow commented on #5442
Spark ML has the optional argument of category features.

[2018-10-26 03:03] RunningHorseSoochow commented on #5442
I am also confused about the good result of LabelEncoding in RF, but  it make no sense when reducing the candidate splits from 2^M to M. So do you have ideas about this ?

[2018-10-26 09:28] rth commented on #12461
The fix looks straightforward enough and a smoother integration with dask is definitely nice to have.

I have not realized that providing a dask dataframe into LinearRegression would just work (i.e. without using dask-ml). Though I guess internally `check_array` would just convert it to a regular numpy array which would defeat the purpose of using dask somewhat?

[2018-10-26 09:43] agramfort commented on #12460
how about using *metric=’precomputed' ?*

[2018-10-26 11:10] TomAugspurger commented on #12461
That's correct.

On Fri, Oct 26, 2018 at 4:28 AM Roman Yurchak <notifications@github.com>
wrote:

[2018-10-26 12:01] agamemnonc opened #12464 "Issues with negative values in sample_weight"
#### Description
I am not sure what the interpretation of a negative value in `sample_weight` might be and why this should be supported, but I believe that there should be constraints in using non-negative values in several cases; the use of negative ones can lead to some very strange results.

See an example below for `r2_score` where the use of negative weights yields a value larger than one, wh

[2018-10-26 14:20] xhlulu opened #12466 "GridSearchCV lacking documentation for cv parameter"
If this issue has been raised before or is out-of-context, please let me know and I will close this.

GridSearchCV documentation: http://scikit-learn.org/dev/modules/generated/sklearn.model_selection.GridSearchCV.html

User Guide: http://scikit-learn.org/dev/modules/cross_validation.html#cross-validation

#### Description

The current parameter description for `cv` is given as such:

However, it i

[2018-10-26 15:13] amueller commented on #12461
Ok so there's no benefit in actually supporting dask DataFrames as they will be materialized? If we want to easy dask integration (which I wouldn't actually make a priority right now), we could do stricter duck-typing, but I would also raise a warning when converting a dask dataframe into a numpy array as it completely defeats the purpose.

[2018-10-26 15:17] amueller commented on #12466
We could say ``An `scorer` object`` which will then link to the glossary with the new default role hopefully? And we could clarify saying ``an iterable yielding train, test splits as arrays of indices`` (boolean masks might work in some cases but I don't think we officially support that any more?)

[2018-10-26 15:17] amueller commented on #12466
thanks for opening the issue btw!

[2018-10-26 15:20] amueller commented on #12460
@pkomiske in theory you're right, I think in practice what will happen is to just compute the full distance matrix. I don't think the trees will actually be fast with a custom metric.

[2018-10-26 15:31] amueller commented on #12464
We had people from high energy physics argue strongly in the other direction.
I think for most people negative sample weights make no sense.
A possible way around this could be to add a global flag that optionally allows sample weights and deprecate the use of negative sample weights if the flag is not set.

[2018-10-26 15:32] amueller commented on #12464
Original issue in #3774. Maybe @ndawe is still around and could say if he still thinks the feature is useful and if having to explicitly enable it with a global flag would be acceptable.

[2018-10-26 15:33] amueller commented on #12464
also ping @alexpearce

[2018-10-26 15:51] agamemnonc commented on #12464
Apologies I missed that other thread; I did a quick search but it didn't show up.

Please feel free to close this issue and continue the discussion on the other one should you wish to.

[2018-10-26 16:19] amueller commented on #12463
duplicate of #12434.

[2018-10-26 16:19] #12463 closed

[2018-10-26 16:50] hermidalc opened #12468 "Univariate feature selection methods should allow passing kwargs to score_func callable"
Univariate feature selection methods, SelectKBest/Percentile/Fdr/Fpr/Fwe and GenericUnivariateSelect does not have functionality to allow passing of score_func kwargs, some of which are important.

One thought too is that an implementation should be GridSearchCV compliant such that score_func kwargs parameters can be searched.

[2018-10-26 17:07] amueller commented on #12468
agree, for ``mutual_info_classif`` for example the kwargs seem important.
I think any natural implementation would allow for it being grid-searchable.
Btw, you can work around this using
[code]
but maybe doing it more directly would be nice.

[2018-10-26 19:06] dakl commented on #5298
Anything to report on this? It would be useful.

[2018-10-26 19:37] pkomiske commented on #12460
It's not as easy as removing the check in TSNE because that sort of check happens through `NearestNeighbors` all the way down to `BallTree`, which is as far as I've tracked it. This is why I can't even try out `BallTree` to see how it performs.

I'm not the right person to make a PR for this many parts of sklearn (involving Cython, etc.) but it seems really unfortunate that arbitrary metrics aren'

[2018-10-26 21:20] alecglassford commented on #12278
Gentle nudge on this issue, @ogrisel, since it seems to have been set aside. From the discussion above, it seems like this can be accomplished with a small tweak when you have time. Many of us who use the site regularly will be very grateful! 😊

[2018-10-26 21:29] taylor-chen commented on #12442
Hey, first time contributor here. Interested in taking a go at benchmarking and improving this!

[2018-10-26 21:30] xhlulu commented on #12466
That seems like a good idea, thank you for the input! I believe predefined split is used for train-test splits.

[2018-10-26 21:36] istorch opened #12469 "isolation forest fit function uses way too much memory when n_jobs != 1"
#### Description

Consider a fake data set of 1M points and 500 features, which takes up ~4 GB in memory. When I try to fit an `IsolationForest` to this dataset with just 2 estimators, and I try to leverage parallel computing by setting `n_jobs = -1`, the memory usage nearly doubles. In contrast, when I set `n_jobs = 1`, the memory usage only increases by 18 MB (see memory profiler results below).

[2018-10-26 22:41] amueller commented on #12469
Thanks for the report!

[2018-10-26 22:42] amueller commented on #10533
@kimardenmiller see #12250

[2018-10-26 22:44] amueller commented on #12460
There's a very clear reason not to support arbitrary metrics in the trees: they are slow. Unless you defined them on cython level, the python call overhead will likely kill any speedup the trees will give you.

[2018-10-27 08:38] GMarzinotto opened #12470 "OneHotEncoder ignore unknown error when categories are strings"
#### Description

This bug is very specific, but it happens when you set OneHotEncoder to ignore unknown entries.
and your labels are strings. The memory of the arrays is not handled safely and it can lead to a ValueError

Basically, when you call the transform method it will sets all the unknown strings on your array to OneHotEncoder.categories_[i][0] which is the first category alphabetically so

[2018-10-27 13:48] hermidalc commented on #6023
As of 0.19.2 this issue doesn't appear to be fixed?  I encountered it not with GridSearchCV but using RF wrapped in RFE.  I get the exact same strange behavior where parallel CPU usage starts like it should at 100% and then steadily decreases to low numbers while system CPU usage (in Linux shown in top) increases to 10-15% CPU per core which is not normal.  This simple pipeline will reproduce this

[2018-10-27 20:24] tkrabel opened #12472 "Feature Request: Random tree depth injection in Gradient Boosting Framework"
In my master's thesis, I was experimenting with a new feature in Friedman's Multiple Additive Regression Trees algorithm, namely randomizing base learners' depths. I figured out that this is actually a quite nice add-on and I called the resulting algorithm **Random Boost** (just so that it has a neat name).

My master's thesis is not publicly accessible since I was mainly working on a real busines

[2018-10-27 20:57] kimardenmiller commented on #12250
Is [my error](https://github.com/scikit-learn/scikit-learn/issues/10533#issuecomment-433532584) going to be the same as above?
[code]

My custom `Experiment` class is in fact imported.

[2018-10-27 21:52] jnothman commented on #12044
optics_distances should be a function, not a method, by comparison to other
APIs here.

On Tue, 23 Oct 2018 at 18:09, Hanmin Qin <notifications@github.com> wrote:

[2018-10-27 23:29] jnothman commented on #12472
Our policy, in order to make maintenance manageable, is to usually only consider mature, stable, popular learning algorithms. See our FAQ.

[2018-10-27 23:29] #12472 closed

[2018-10-28 01:46] qinhanmin2014 commented on #12044
APIs here.

Fine from my side, though I'm unable to figure out why you said "we should".

[2018-10-28 03:38] xhlulu commented on #12466
If someone wants to try this out as a first contribution please go ahead! Else I'll open a PR sometimes next week when I'll have some free time.

[2018-10-28 04:42] jnothman commented on #12433
I think if we make it possible to get data frames from fetch_openml, and we
have a way to insert missing values in some way that is not completely at
random.

[2018-10-28 05:45] jnothman commented on #12444
I think the docs are a bit ambiguous, but I don't think we have any
motivation to change the behaviour. Please feel free to submit a pull
request clarifying the documentation.

[2018-10-28 07:07] amey-ghate commented on #12466
I will pick it up.

[2018-10-28 07:09] jnothman commented on #10561
We may need to merely increase the tolerance?

[2018-10-28 14:03] cchorn opened #12474 "imp module is deprecated in favour of importlib"
#### Description
I have the same error as indicated on stack overflow (https://stackoverflow.com/questions/43964166/imp-module-is-deprecated-in-favour-of-importlib)
And, Khushhalm's answer on this page does fix the problem; but I'm wondering if this could be fixed permanently. Thanks.

importing sklearn modules ..
[code]
generates this error

/usr/local/lib/python3.6/dist-packages/sklearn/external

[2018-10-28 19:34] amueller commented on #12474
duplicate of #https://github.com/scikit-learn/scikit-learn/issues/12434
I guess we can keep this one open as people don't seem to search closed issues.

Btw, this is not an error, it's a warning, so you do get your expected results of no errors.

[2018-10-28 21:34] amueller commented on #6023
@hermidalc please open an new issue with complete code to reproduce and your system specs. Also, please upgrade to version 0.20

[2018-10-28 21:35] amueller commented on #12250
the "create_compiled_model" function is not, though.

[2018-10-28 22:55] rpalmeida commented on #12250
@glemaitre solution of importing the class works for me.
In the mean time, I analysed the runtimes and it is slower to run the RFECV with n_jobs=-1 than it is with n_jobs=1.
@ogrisel may this be due to the joblib detection failure you mentioned?

[2018-10-28 23:22] FredYao opened #12477 "Is there any encoder for rare events?"
Very much like OneHotEncoder, but will have a parameter for setting threshold. If a feature value occurs more than the specified threshold, then it will get encoded like OneHotEncoder. Otherwise, feature values occurring fewer than the threshold, they will get encoded into the last bit of the encoded array.

[2018-10-28 23:29] mfaggin commented on #11198
@jnothman yes this is basically what I did but I was wondering whether there is an easy way to go on using the mentioned package sklearn-evaluation as it is
It's a pity not to be able to use it any more with an up-to-date version of scikit

[2018-10-29 01:28] jnothman commented on #12453
I don't see the value of this  standard scaler has different requirements.

[2018-10-29 01:28] #12453 closed

[2018-10-29 01:34] amueller commented on #11198
@mfaggin no-one here is related to sklearn-evaluation as far as I know. you should ask there.

[2018-10-29 01:37] amueller commented on #12433
@jnothman Sorry I don't think I understood your statement.

[2018-10-29 01:37] amueller commented on #12477
Duplicate of #12153. Aka it's planned but not implemented yet. I think it would be really useful.

[2018-10-29 01:37] #12477 closed

[2018-10-29 05:55] shreyassks commented on #2439
model = Sequential()
keras.layers.Flatten()
model.add(Dense(11, input_dim=3, kernel_initializer = keras.initializers.he_normal(seed = 2),
                kernel_regularizer = regularizers.l2(2)))
keras.layers.LeakyReLU(alpha = 0.1)
model.add(Dense(8,  kernel_initializer = keras.initializers.he_normal(seed = 2)))
keras.layers.LeakyReLU(alpha = 0.1)
model.add(Dense(4,  kernel_initializer = keras.ini

[2018-10-29 07:46] alexpearce commented on #12464
Thanks for the ping @amueller.

I still think the feature is very useful. Samples with negative weights play a critical role in the area of high energy physics that I work in. But one does need to understand that one can easily arrive at nonsensical results when using them, so having a warning/error is probably a good sanity check for many use-cases.

I think a global flag is a nice idea, as then

[2018-10-29 09:32] koushiksaha89 opened #12480 "haversine distance for OPTICS"
When i am trying to run `OPTICS(min_samples=2, max_eps=epsilon, metric='precomputed', algorithm='ball_tree', rejection_ratio=0.1 , n_jobs=3).fit(distance_matrix)` i am getting **Metric 'precomputed' not valid. Use sorted(sklearn.neighbors.VALID_METRICS['ball_tree']) to get valid options. Metric can also be a callable function.** where `distance_matrix` is a numpy array of harvesine distances.

Aga

[2018-10-29 09:37] koushiksaha89 commented on #12480
possible duplicate of #11954.
Hence closing this.

[2018-10-29 10:11] adrinjalali commented on #12480
Not all tree algorithms accept a `precomputed` distance matrix. You can change the algorithm to `brute` if you still want to give a precomputed matrix.

[2018-10-29 11:09] musically-ut commented on #9292
Since some other people have also faced this issue (personal communication), I think it would be best to take the following steps:

 1. Produce a warning if `np.any(normalizer == 0)` for either `LabelPropagation` or `LabelSpreading` which tells the user to either increase `n_neighbors` (for `knn` kernel) or decrease `gamma` (for `rbf` kernel).
 2. Replace `label_distribution_[:, idx]` if `normaliz

[2018-10-29 14:18] hermidalc commented on #6023
Hi @amueller - will do, although I cannot upgrade yet to 0.20 since I use a dependency, scikit-survival, that needs 0.19.x.  I put in an ticket on that project to add support for 0.20 but it might take a while.

[2018-10-29 14:58] qinhanmin2014 commented on #12480
Note that our OPTICS is experimental. The API is likely to be changed in the future and there're some known issues (especially related to the extraction methods). So be careful when using it.

[2018-10-29 15:49] hermidalc opened #12482 "RandomForestClassifier parallel issues with CPU usage decreasing over run"
#### Description

Related or identical to issue #6023 but it seems as of 0.19.2 it's not fixed even though that issue is closed.  I encountered it not with GridSearchCV but with RFE wrapping RF.  I get the exact same strange behavior where parallel CPU usage starts like it should at 100% and then steadily decreases to low numbers while system CPU usage (in Linux shown in top) increases to 10-15% C

[2018-10-29 15:53] amueller commented on #12447
Roman gave several above to which I added mine. Can you be more specific?

[2018-10-29 15:55] #12420 closed

[2018-10-29 16:21] gamazeps commented on #10802
I am more than happy to redo #10979 with another approach if you like.

However there seems to be various ideas on the API and I must confess not being familiar enough with the codebase to chose the best one :/

For what it's worth, I am located at Alan Turing so this can be discussed around a coffee, and transcribed here afterwards.

[2018-10-29 16:46] amueller commented on #12482
As I said, please try with current scikit-learn, i.e. 0.20.0

[2018-10-29 18:18] GaelVaroquaux commented on #12447
Indeed, sorry for not getting back on this. I asked this because I now that Roman is working on supporting scikit-learn on pyodine (which I think is absolutely awesome) and had difficulties with parallel computing in the process. Hence I was suspecting that he had very specific challenges. We had a lunch-time discussion on this topic, but I didn't report back here, which is bad.

# Summarizing the

[2018-10-29 20:11] pkgw opened #12483 "Test suite segfault on Linux/x86_64/Python 3.7 with old GCC"
#### Description

In the conda-forge project, we see a segfault in the test suite when building scikit-learn packages against Python 3.7 using an older GCC. [Here](https://github.com/conda-forge/scikit-learn-feedstock/issues/77) is the related issue report.

#### Steps/Code to Reproduce

This failure comes up in our CI-based automated build system. [Here is the build info](https://circleci.com/gh/

[2018-10-29 20:21] janvanrijn commented on #9919
@amueller @stsievert This PR is still very relevant to our projects. Is there anything I can do to facilitate or help moving this PR forward?

[2018-10-29 20:43] amueller commented on #9919
I would have liked to see benchmark that this actually is good if we want to recommend using that, but it looked like @jnothman didn't mind that much? Right now there's merge conflicts. If we want to merge without adding benchmarks that's the main issue. @janvanrijn if you want to provide benchmarks that this is better than expon (or tell one of our students to do that) I think that would be inter

[2018-10-29 20:49] janvanrijn commented on #9919
I'm happy to add the benchmarks.

You mean compare the added distribution with [this distribution](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.expon.html)?

[2018-10-29 20:57] amueller commented on #9919
yeah. I actually thought we had used that in the docs but it looks like we didn't because it didn't work well lol.

[2018-10-29 20:59] amueller commented on #12483
likely related to memmap=True. This is 0.20.0 release right? not any branch or something. We had one of these before. We're probably trying to write to a memmapped array.

[2018-10-29 21:03] amueller commented on #12483
Makes me think of #11133. Maybe check if doing ``np.require(something, requirements="W")`` like in #11133 helps.
Is this deterministic?

[2018-10-29 21:04] pkgw commented on #12483
Yes, 0.20.0. Yes, deterministic.

For what it's worth, in my detailed debugging there were *other* tests that had `readonly_mmap=True` that passed without segfaulting. But perhaps for this particular build environment, something subtle gets triggered that causes the generated code to try to write to the array.

[2018-10-29 21:10] sam-s opened #12484 "RFE: more average_method's for normalized_mutual_info_score"
#### Description

It would be nice if [`normalized_mutual_info_score `](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.normalized_mutual_info_score.html) could compute [uncertainty coefficient, AKA proficiency](https://en.wikipedia.org/wiki/Uncertainty_coefficient).

#### Implementation

E.g., `average_method` can be `labels_true` to compute proficiency.

#### Expected Results

`

[2018-10-29 21:11] aishgrt1 commented on #12484
@jnothman  Shall I take this?

[2018-10-29 22:21] jakirkham commented on #12483
FWIW here is [the C code in SciPy 1.1.0]( https://github.com/scipy/scipy/blob/14142ff70d84a6ce74044a27919c850e893648f7/scipy/spatial/src/distance_wrap.c#L258-L282 ), which is responsible for defining `pdist_euclidean_double_wrap` (along with various other `pdist` functions all `double` precision).

[2018-10-29 22:55] rth commented on #12483
I can also reproduce this with the `condaforge/linux-anvil` Docker image and the following setup,
<details>

[code]
</details>

It appears to be happening during a call to `scipy.cluster.hierarchy.ward` in `ward_tree` [here](https://github.com/scikit-learn/scikit-learn/blob/f6b0c67290d3cbc8b099eb7559b4f42b84af2584/sklearn/cluster/hierarchical.py#L233). At this point the scipy `ward` function as `(

[2018-10-29 23:16] jnothman commented on #12461
+1 for raising a warning when dask types are passed.

[2018-10-29 23:20] jnothman commented on #12468
A score_params parameter?

[2018-10-30 01:47] #9428 closed

[2018-10-30 01:47] jnothman commented on #12442
I don't mind someone giving this a go, but as noted in the comment
referenced above, the increased code complexity and the risk that the
overall algorithm will be no faster in practice may result in this change
never being adopted.

[2018-10-30 02:00] jnothman commented on #12469
Would using a multithreading backend be a sufficient and appropriate
solution?

Although if the dataset is large, shouldn't joblib be memory mapping it?

[2018-10-30 02:33] jnothman commented on #12397
sklearn/preprocessing/data.py

[2018-10-30 02:33] jnothman commented on #12397
Or probably doc/modules/preprocessing.rst

[2018-10-30 02:35] jnothman commented on #12044
Where did I say "we should"?

[2018-10-30 02:37] jnothman commented on #12466
Not a scorer, but a [CV splitter](http://scikit-learn.org/stable/glossary.html#term-cv-splitter)?

[2018-10-30 02:49] jnothman commented on #12433
Yes, my statement was not a complete sentence.

I was basically saying I don't think we especially need a real-world dataset with missing values at this point.

I think we should make it possible to fetch Titanic as a dataframe (#11875).

And I think we should make it possible to insert missing values in a not-completely-at-random fashion (#6284).

[2018-10-30 03:10] qinhanmin2014 commented on #12044
Apologies, I mean I can't understand why optics_distances "should be" a function. So we'll have ``cluster.OPTICS``, ``cluster.optics`` and ``cluster.optics_distances``, right?

[2018-10-30 07:19] jnothman commented on #9292
Is 1/n more reasonable than the empirical distribution of known labels?

[2018-10-30 07:25] stephane-archer opened #12488 "GridSearchCV is taking all the memory when trying to fit a Tensorflow dataset"
The dataset can't feet in memory but when accessing dataset[0] the first element is change in memory then is delete when the element is not accessed anymore.

When using with GridSearchCV it looks like sklearn is trying to access all the elements at the same time and the program take to much memory.

How to avoid that?

[2018-10-30 07:35] jnothman commented on #12480
But perhaps we should be defaulting to algorithm='auto'. @espg, why are we
defaulting to ball_tree?

[2018-10-30 07:59] jnothman commented on #12447
I think that made sense when scikit-learn 0.20 was to be shipped with joblib 0.11. But then we changed to shipping with joblib 0.12 which was not mature enough given the default loky/cloudpickle. Unless we are confident we can iron out many of the teething problems in joblib very soon, I think allowing users to adopt joblib 0.11 is a must.

[2018-10-30 09:50] GaelVaroquaux commented on #12447
It may be the case that we are not able to iron bugs in joblib fast
enough when we do a joblib release and that as a result we need to
support multiple joblib versions in scikit-learn. In which case, I think
that we should unvendor, as we are loosing the main benefit of vendoring.

[2018-10-30 09:59] adrinjalali commented on #12044
@qinhanmin2014 , in #12087, we first had `extract_xxx` as methods, then moved them out as functions. So the API with the latest version of that PR would then more or less look like:

[code]

For the sake of consistency, it makes sense to have all those functions either in, or outside the class, all together. I suppose that's what @jnothman means.

[2018-10-30 10:32] jnothman commented on #12044
What is cluster.optics? I don't think we need a function to do distance
calculation plus clustering.

Why not a method? Well your proposed method changes the state of the
estimator and is not called fit_*, so that's a problem in my eyes.
Secondly, it doesn't help to separate out the functional structure of the
components here, while module level functions make clear what is
input/output to what. T

[2018-10-30 10:36] jnothman commented on #12044
Regarding the verbs. `optics_distances` sounds like `euclidean_distances`.
I might rather `optics_sort` or `sort_optics` or `optics_order` or
something. I'm also not sure that `extract` is better than `cluster`.

[2018-10-30 10:41] g1t-h1j4ck3r commented on #4597
I have the same problem with OneClassSVM using GridSearchCV with n_jobs > 1

[2018-10-30 10:43] jnothman commented on #12044
I should note that I only really have a strong opinion on not having a
public method other than fit on OPTICS to calculate distances. I don't mind
having both functions and methods for extraction.

[2018-10-30 10:50] adrinjalali commented on #12044
1) so you'd be fine with having both `fit` and `fit_optics_order` methods?
2) I agree in principle with having both functions and methods for extract methods, although you didn't seem to like the part of the code checking for given `None` parameters and replace them with the values in `self`, that's why we removed the methods in the first place. I know it has nothing to do with the actual code, bu

[2018-10-30 11:10] shilinng opened #12489 "pca score/score_samples function throw ValueError when n_samples is less than n_features"
#### Description
When doing PCA on samples with n_samples<n_features, if n_components is not specified (or when n_components is set to equal to n_samples), an ValueError will be thrown:
ValueError: array must not contain infs or NaNs

#### Steps/Code to Reproduce
The following codes will throw an error. n_samples is 5, error can be avoided by setting n_components<5.
[code]

#### Expected Results

[2018-10-30 11:28] jnothman commented on #12484
It seems reasonable enough given that we are supporting various normalizers, and seeing as this makes the normalization independent of `labels_pred`. @sam-s, is this used often in practice for clustering evaluation?

[2018-10-30 11:34] qinhanmin2014 commented on #12044
calculation plus clustering.

+1

I'll vote -1 for your solution @adrinjalali, at least now, because I don't think it's good to introduce ~5 functions for a single algorithm.

@jnothman @adrinjalali Is it possible to let ``cluster.optics`` return CD/RD/order/predecessor so we'll only have ``cluster.optics`` (calculate RD) and ``cluster.OPTICS`` (calculate RD and provide clusters based on extractio

[2018-10-30 12:45] hermidalc commented on #12137
Actually @jnothman @RahulDamineni @alexsieusahai I don't think we should provide a parameter for the norm to make coef_ values non-negative, RFE and RFECV do not.  We should use the exact same code as what is there, at least as a first implementation: https://github.com/scikit-learn/scikit-learn/blob/bac89c253b35a8f1a3827389fbee0f5bebcbc985/sklearn/feature_selection/rfe.py#L181-L195

[2018-10-30 13:05] ogrisel opened #12490 "KBinsDiscretizer.transform mutates the _encoder attribute"
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/preprocessing/_discretization.py#L234-L270

I think we should call `self._encoder.transform` instead of `self._encoder.fit_transform`.

[2018-10-30 13:12] ysig opened #12491 "check_estimator not valid for vectorizers"
[`check_estimator`](https://github.com/scikit-learn/scikit-learn/blob/f6b0c67290d3cbc8b099eb7559b4f42b84af2584/sklearn/utils/estimator_checks.py#L273) is a really powerful tool for deciding scikit-compatibility of estimators through automated checking.

Although this is true, it restricts estimators that do not expect as input `numpy arrays of shape [n_samples, n_features]`, but vector of objects

[2018-10-30 13:15] ogrisel opened #12492 "KBinsDiscretizer(strategy='quantile') should subsample the training data when n_samples > 1e5"
For large `n_samples` the univariate CDFs estimated on a large enough subsample should be accurate enough and it should protect us from the n log(n) complexity of sorting each column.

We already do that in `QuantileTransformer`.

Maybe we should also do that for `strategy='kmeans'`.

[2018-10-30 13:44] sam-s commented on #12484
I use it all the time.
The _proficiency_ metric measures the proportion of information in the target distribution recovered by the classifier, so, unlike all the other normalizations, it has a clear interpretable meaning.

[2018-10-30 13:48] sam-s commented on #12484
BTW, it would be nice to be able to specify the `average_method` for `scoring` in [`cross_validate`](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_validate.html). Something like `'normalized_mutual_info_score/average_method=labels_true'` instead of [`make_scorer(lambda y,yh: normalized_mutual_info_score(y,yh,average_method='labels_true'))`](http://scikit-learn.org/

[2018-10-30 13:48] rth commented on #12491
That is a known limitation. https://github.com/scikit-learn/scikit-learn/issues/11622 might provide a short term solution to this (the long term would be the estimator tags).

A PR to allow optionally disable certain checks of `check_estimator` as outlined in the above issue would be welcome.

[2018-10-30 14:13] ogrisel commented on #12490
Yes, although I am not sure it's necessary because we pass the categories to the constructor so the `_encoder` should be stateless. To be investigated.

[2018-10-30 14:32] qinhanmin2014 commented on #12490
I think our ``OneHotEncoder`` can't ``transform`` without ``fit``, even though we've provided it with sufficient information.

I'm wondering why this is not detected by the common test but I don't have time to investigate now. So contributors here please try to investigate our common test.

[2018-10-30 14:40] amueller commented on #12483
I don't understand why this is platform specific but better safe than sorry?

[2018-10-30 14:57] stoddardg commented on #12429
Sorry for the late reply but I haven't noticed any other bugs. The workaround we identified has been working for me and I'm excited to see the finished product.

Also, I just wanted to say that I really appreciate the work that you (and other folks) have done on this. I've been keeping an eye on the PR and resulting discussion and its been educating/fun to watch. I'll try to pay it forward in the

[2018-10-30 15:00] amueller commented on #12484
``make_scorer(normalized_mutual_info_score, average_method='labels_true')`` works, right?
we could add a named scorer, we have done that for the different precision/recall averages.

[2018-10-30 15:02] ysig commented on #12491
I think it is not about disabling checks but transforming them.

For example, in the case when you want to see that an [estimator pickles](https://github.com/scikit-learn/scikit-learn/blob/bac89c2/sklearn/utils/estimator_checks.py#L1196), the whole test depends on the input initialization:

By observing other tests (in order to bring them in the terms of my package) I witnessed that the most of th

[2018-10-30 15:11] amueller commented on #12491
@rth how does #11622 solve this?

FYI this is the PR @rth mentioned: #8022

[2018-10-30 15:15] sam-s commented on #12484
@amueller right, thanks, missed that.

[2018-10-30 15:28] amueller commented on #12491
The current PR doesn't actually implement running the checks for texts, but it adds the mechanisms for it. There's an input type tag that will be text for a vectorizer, but the tests in the PR will just not run tests that don't want numpy array input.
A next step would be to generate the test data conditional on the model, as you suggest.

[2018-10-30 15:54] j1c opened #12493 "adjusted_rand_score PendingDeprecationWarning"
#### Description
Using `adjusted_rand_score` gives me a PendingDeprecationWarning as seen below:

[code]

#### Steps/Code to Reproduce
Example:
[code]

#### Versions
System
------
    python: 3.6.5 (default, Jun 17 2018, 12:26:58)  [GCC 4.2.1 Compatible Apple LLVM 9.0.0 (clang-900.0.39.2)]
executable: /usr/local/Cellar/python/3.6.5_1/bin/python3.6
   machine: Darwin-16.7.0-x86_64-i386-64bit

BLAS

[2018-10-30 15:59] jakirkham commented on #12483
Think it is compiler specific (not platform specific). Using a newer version of GCC on Linux fixes the issue.

[2018-10-30 16:31] amueller commented on #12493
Thanks for reporting. Duplicate of #12327.

[2018-10-30 16:31] #12493 closed

[2018-10-30 17:16] grassknoted commented on #12490
Hey, I'd like to work on this if no one else has taken it up yet!

[2018-10-30 19:46] rth commented on #12491
Well, given than e.g. `check_estimator(CountVectorizer)` fail, if individual tests were exposed a crude first first step could have been to at least skip those that fail for `CountVectorizer` and keep e.g. pickling checks etc.

I agree though estimators tags would be more general.

Well the problem is that this would add quite a lot of complexity. Most of checks assume that input is 2D arrays and

[2018-10-30 20:10] aishgrt1 commented on #12492
Shall I take this ?

[2018-10-30 23:32] srividhyaprakash commented on #3846
Hi,

Is there anything left that I could contribute to?

Thanks.

[2018-10-31 00:01] rth commented on #12327
Thanks for investigating! Agreed. Closing.

[2018-10-31 01:08] Adrian-Q opened #12494 "Custom Pipeline problem"
#### Description
I have got a problem with Pipelines. It looks like Pipeline doesn't work properly with OneHotEncoder if you have nested Pipelines (something wrong with synchronization):

#### Steps/Code to Reproduce
[code]

I have got error like this:
_**ValueError: Found unknown categories ['Membran', 'Metal'] in column 14 during transform**_

But if i check categories it looks fine (column 14 h

[2018-10-31 01:59] jnothman commented on #12460
I haven't read all the discussion here.

Support for sparse precomputed distances in #10482 will become the
recommended way to handle this case in version 0.21, I hope (i.e. pending
review and approval)

But yes, nearest neighbours should not enforce constraints on the input
that the distance metrics do not when algorithm='brute' (or 'auto' where
not handled by our spatial trees). I'm not able to

[2018-10-31 06:07] daten-kieker commented on #3846
@srividhyaprakash I only added examples for estimators in `ensemble.gradient_boosting`. You could have a look at the other classes.

[2018-10-31 06:42] srividhyaprakash commented on #3846
@daten-kieker, Thanks for your reply. This is my first time in a public well-maintained repo. Could you please guide me on a possible starter guide to commit style and format for the example?
Thanks.

[2018-10-31 07:32] rth commented on #12327
Yes, the next scipy release is expected in a month or so https://mail.python.org/pipermail/scipy-dev/2018-October/023132.html so it shouldn't be too long.

[2018-10-31 08:39] #12363 closed

[2018-10-31 09:05] jnothman commented on #12044
I think it would be confusing to offer a function named optics that did not
do the clustering if OPTICS does

[2018-10-31 10:20] TomDLT commented on #12492
Sure go ahead !

[2018-10-31 10:30] TomDLT commented on #12494
This is weird indeed, thanks for the report.

As a side note, you may find the new (0.20) `ColumnTransformer` quite handy to have different pipelines on different sets of column (e.g. see [this example](http://scikit-learn.org/stable/auto_examples/compose/plot_column_transformer_mixed_types.html)).

[2018-10-31 10:40] TomDLT commented on #12494
The problem comes from the cross-validation in `GridSearchCV`.
The data is split internally, and some categories are only found in the validation set, making the `OneHotEncoder` raise an error.
The error is not raised in `cat_pipeline.fit_transform(X_train)` since there is no cross-validation split here.

To fix your problem, you can use `OneHotEncoder(handle_unknown='ignore')`.

[2018-10-31 10:40] adrinjalali commented on #3846
@srividhyaprakash , you can start by going through what you find in the [developer's guide](http://scikit-learn.org/stable/developers/index.html). You can also ask on [gitter](https://gitter.im/scikit-learn/scikit-learn) if you have questions getting started. I wish you a joyful contribution journey here.

Once you start on this particular issue, you can check some of the pull requests you see on

[2018-10-31 10:41] #12494 closed

[2018-10-31 11:17] jnothman commented on #12491
I think the point is that we are on top of this, but it is a slow and
difficult change. Once our checks are more flexible we can consider
particular classes of variant estimators

[2018-10-31 11:28] qinhanmin2014 commented on #12044
I guess we have solution 3:
[code]

I'll vote +1 for 2 and 3. I'll vote -1 for solution 1, because I don't want to introduce ~5 functions for a single algorithm (but if Joel strongly agree with it or someone else agree with it, then let's do it).

Another thing is to decide whether we need ``cluster.optics``. Maybe we can remove that, because in OPTICS, we actually wants to try multiple extraction

[2018-10-31 13:32] #12234 closed

[2018-10-31 13:42] bpben commented on #9285
Is there a way something to handle mixed types could be added? I find myself having to layer transformation classes on top of one another to handle this case (somewhat common for me).  I imagine something like the hash table that Pandas uses.  I haven't contributed before, but I could potentially take a stab at this.

[2018-10-31 15:04] nixphix commented on #12281
May I add the images?
Should I add the same image that @amueller user or is there a style guide for creating images.

[2018-10-31 16:22] agamemnonc commented on #9245
@jnothman just to clarify, by multi-output you mean multi-class, right? Because I feel that the convention that is currently used is that multi-output == multi-label.

Anyway, I confirm that this is currently causing issues, especially given that the outputs of `MultioutputClassifier` and `ClassifierChain` `predict_proba` are not compatible; the former returns a list of length `n_outputs` where ea

[2018-10-31 17:28] jwlm-home commented on #11165
I repro this bug using the iris dataset:

[code]
yields
[code]

but yields

[code]

This causes behavioral discrepancies when attempting to rewrite the decision tree prediction code using numba to improve performance on machines on which Parallel is very slow. (Rewriting can speed computation up by 3-4 orders of magnitude.)

[2018-10-31 19:40] mllobera commented on #4394
(scikit learn v0.20.0) Using 'score_samples()' function after fitting a kernel density with 'sample_weight' in Jupyter notebook forces the kernel to restart constantly (it does produce any output). I used  a numpy array with shape (2305, 2) for the training dataset and a numpy array with shape (2305,) for the weights.  I am able to get results (see image below) when using the the same function wit

[2018-10-31 20:33] jnothman commented on #4394
I'm not sure why you would think this was a known bug. Please open a new
issue with examine code

[2018-10-31 21:16] mllobera opened #12500 "Weighted Kernel Density restarts kernel jupyter notebook"
#### Description
Jupyter notebook constantly resets kernel when calculating weighted kernel density.

#### Steps/Code to Reproduce
When using kde.score_samples() after fitting the following kernel density

[code]
where *xy_train* is a (2305, 2) array that with values similar to these:
[code]
*weights* corresponds to a (2305,) array with values like these:

[code]

and *xy_sample* is a (1076420, 2)

[2018-10-31 22:42] jnothman commented on #12492
Hmmm... What obligation do we have to backwards compatibility?

[2018-11-01 02:36] amueller opened #12502 "RFC Behavior of OneHotEncoder on binary features"
Right now OneHotEncoder expands every bindary feature into two features afaik.
I'm not sure if this is a great/convenient behavior. I think it might be nicer if (optionally?) it'd use a single column - that's particularly natural if the feature was already ``0`` and ``1``
Otherwise that either makes the ColumnTransformer people have to use more complicated, or creates redundant features.
One might

[2018-11-01 04:03] aishgrt1 commented on #12502
I agree. Using a single feature in case of binary makes sense. In the multinomial case, as far as I have read, models like linear regression and GLM, which uses maximum likelihood will have issues due to singularities. There are LeaveOneOut encoders for handling such model requirements. I think, keeping just one feature for binary features would be a good idea here.

[2018-11-01 04:29] aishgrt1 commented on #12468
Shall I take this?

[2018-11-01 08:20] ogrisel commented on #12492
I proposed to use the traditional `FutureWarning` strategy in the review of #12501.

[2018-11-01 08:52] qinhanmin2014 commented on #12490
We also need it in ``inverse_transform``, so I guess we still need to store it.

[2018-11-01 10:00] jonas-schulze opened #12504 "MNIST classification example seems to be broken"
#### Description
I cannot reproduce the [MNIST classfification using multinomial logistic + L1](http://scikit-learn.org/stable/auto_examples/linear_model/plot_sparse_logistic_regression_mnist.html#sphx-glr-auto-examples-linear-model-plot-sparse-logistic-regression-mnist-py) example.

#### Steps/Code to Reproduce
I copied the whole code, as is, into a Jupyter Notebook.

#### Expected Results
No err

[2018-11-01 18:11] lobpcg commented on #12080
@aishgrt1  All the coding for this issue, including comprehensive internal testing, is already done in PR #12319.  Could you please have a look at PR #12319 and comment there? I would love to have this finished while I may still remember the details.

[2018-11-01 22:33] jrbourbeau commented on #11883
I think this issue was resolved in #12328

[2018-11-02 02:15] christinebuckler opened #12505 "MLPClassifier supports fitting on multilabel output but cannot be used with partial_fit"
#### Description
Performance is much worse when using partial_fit method on multilabel y than using fit on the same data. I suspect that the issue is partial_fit supports multi-class but not multi-label. Why is this the case when fit supports multi-label?

#### Steps/Code to Reproduce
[code]

#### Expected Results
precision score is 0.635 when using just fit.
#### Actual Results
precision score is

[2018-11-02 03:22] nicholastoddsmith opened #12506 "KMeans cluster_centers_ Occasionally Don't Match label_ Results"
#### Description
Occasionally the cluster_centers_ attribute of KMeans do not agree with the attribute labels_. That is, if the cluster_centers_ are compared to the centroids manually computed using labels_, they occasionally are different. Based on my understanding of Lloyds algorithm, this looks like an issue. It looks greater than simply rounding error.

I stumbled on this issue when I was work

[2018-11-02 08:43] adrinjalali opened #12507 "`make doc` fails on master."
[code]

[code]

[2018-11-02 14:46] thomasjpfan commented on #12294
To have full control over the missing indicators, `features` and `error_on_new` would need to be added to `SimpleImputer`. Would this create too much bloat to the `SimpleImputer` API?

[2018-11-02 17:11] ogrisel commented on #12250
@rpalmeida yes we are working on a new version of joblib that will always use the cloudpickle pickler by default instead of our broken heuristic.

[2018-11-02 20:05] SantiagoOrdonez commented on #12480
So if I want to cluster lat/lng points, OPTICS is not a good approach because it does not support haversine?

[2018-11-02 21:01] datajanko commented on #12153
Sorry for the long delay here and not pushing the discussion further.
I just had some time to modify my approach to a single class:
[code]
This approach supports `min_count`, `min_freq` and `top_n`. This is still work in progress and I'm not optimizing for other array dtypes like int and float.

With
[code]

we obtain
[code]

and

[code]

Right now, I'm just collecting if the "other"-group name is

[2018-11-03 04:20] thoo opened #12512 "Copy button for code block"
Can we get a copy for code block like the following?

![](https://farm5.staticflickr.com/4904/30750438027_c948743196_b.jpg)

Tensorflow has it and I just submitted PR for `scikit-image` and I would love to submit PR for `scikit-learn` using this [sphinx-copybutton](https://github.com/choldgraf/sphinx-copybutton) extension.

[2018-11-03 13:36] jnothman commented on #9285
Could you explain why it is useful to mix strings and integers in a single
column?

[2018-11-03 13:47] jnothman commented on #9245
Yes, I mean multioutput multiclass. And we know that there are
inconsistencies in predict_proba for multilabel, although that's better
described with respect to decision_function:
http://scikit-learn.org/0.20/glossary.html#term-decision-function

Yes, I think we should ideally be working towards a more consistent
probability representation for multilabel, beginning with deprecating
OneVsRestClassi

[2018-11-03 13:51] jnothman commented on #11165
Note that others have written transpilers of scikit-learn trees/forests to
C...

[2018-11-03 17:09] sandeepeecs commented on #2606
Can you share a link to your implementation?

[2018-11-03 19:09] stsouko commented on #10743
I forked #10868.
@mohamed-ali's code refactored.
 todo: user guide. will be soon.

[2018-11-04 00:16] samwaterbury commented on #12506
The important code is:
[code]
I can reproduce the error on the current release of scikit-learn but not on the most recent development version from this repo. I know that some work was done on `fetch_openml` not long ago, so I believe the issue has been resolved. However, if someone else could confirm that would be great.

[2018-11-04 00:18] samwaterbury commented on #12504
The important code is:
[code]
I was able to reproduce the error on the current release of scikit-learn but not on the most recent development version in this repo. I know some work was done recently on `fetch_openml` so I believe the issue has been resolved. However, if someone else could confirm that would be great.

[2018-11-04 03:41] qinhanmin2014 commented on #12490
@ogrisel  I eventually recall that we choose to fit the OneHotEncoder in transform because we only determine the bins in fit. We need to put data into different bins before feeding it to OneHotEncoder.
(1) The common test fail to detect it because we use ``.copy()`` to copy the dictionary (See https://github.com/scikit-learn/scikit-learn/pull/12514#issuecomment-435637837).
(2) There's another bug

[2018-11-04 09:58] qinhanmin2014 commented on #12490
FYI I proposed an awkward solution in #12514 without refactoring the code.

[2018-11-04 12:46] ogrisel commented on #12490
I don't understand what you mean here.

[2018-11-04 13:11] qinhanmin2014 commented on #12490
@ogrisel Previously, we'll get an error if we try something like (though maybe uncommon):
[code]
because we fit the OneHotEncoder in ``transform``. This will be fixed in #12514

[2018-11-04 15:12] #12438 closed

[2018-11-04 15:16] qinhanmin2014 commented on #12375
ping @espg any updates?

[2018-11-04 17:18] Amir-Arsalan opened #12515 "Does the GaussianProcessRegressor class do the fitting in a parallelized manner?"
Sorry that I'm asking this question here. I couldn't find an answer by searching online. I also looked at the [code](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/gaussian_process/gpr.py) but could not find out whether the `fit()` function in `gpr.py` eventually does its operations in parallel or not, although it looks like that it does not. I personally do not notice any perfor

[2018-11-04 17:53] samwaterbury commented on #12512
I would be happy to work on this!

[2018-11-04 19:51] espg commented on #12480
@jnothman I think that ball_tree provides the best performance on large datasets, and also has the best compatibility with various distance matrices. It's probably more consistent to have it default to 'auto' on the assumption that it will infer when it is appropriate to use ball_tree based on distance metric and data size, and also for compatibility moving forward as additional neighbors algorith

[2018-11-04 19:56] espg commented on #12480
@SantiagoOrdonez OPTICS does support haversine if the ball_tree algorithm is used. If you supply 'haversine' as the metric type, the 'auto' algorithm should default to something that supports that distance metric (i.e., 'ball_tree'), but you could also be explicit in the function call and specify both 'ball_tree' and 'haversine' if you like. I have used 'haversine' and also custom distance metrics

[2018-11-04 20:04] espg commented on #12375
@qinhanmin2014 sorry, was there something specific that you need help with? Is there a list of 0.21 issues that you can point me to re: OPTICS?

[2018-11-04 21:19] thoo commented on #12512
@samwaterbury Go ahead but I think there are  a few things needed to be addressed because this change will affect every example page.

1. There is already a button for `Hide the prompts ..` but not all code block has it. So it might be a good idea to put the copy button at the corner and reorient `Hide the prompts`.
2. You might also want to have both button in similar dimensions to be aesthetical

[2018-11-04 23:12] bpben commented on #9285
It's not that it's useful, it's just sometimes how data comes in.  Pandas handles mixed types with [get_dummies](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html), I guess I was just hoping to swap in one of sklearn's encoders in place of that operation.

But, on second thought, I could see how it makes sense to just keep things as-is.  It still seems like a more info

[2018-11-05 01:11] qinhanmin2014 commented on #12512
I think it's fine but I need a PR to check the output from Circle CI.

@thoo Will you take it yourself or leave it to a contributor? I'd prefer to see your PR to avoid duplicate work, since you've already provided the rendering.

[2018-11-05 01:33] qinhanmin2014 commented on #12375
@espg

The five questions in the PR description. The code is introduced by you so I guess you'll take responsible of it.

Things we must do to publish OPTICS in 0.21 in my mind (without these, I won't vote +1 for OPTICS in 0.21):
(1) API design of OPTICS (#12044), we need to ensure that users can try different extraction methods without calculating RD again.
(2) Correctness of _extract_optics (thi

[2018-11-05 02:01] #11883 closed

[2018-11-05 02:18] jnothman commented on #12505
I think there is some behaviour around `partial_fit` that is poorly documented if not buggy:

* partial_fit [breaks after a single iteration](https://github.com/scikit-learn/scikit-learn/blob/a028416609a347c93bcd27b052cf4ad2c8b82a21/sklearn/neural_network/multilayer_perceptron.py#L556) rather than performing up to max_iter iterations
* the `n_iter_no_change` is essentially disregarded in `partial_

[2018-11-05 02:29] jnothman commented on #12294
We could consider allowing `append_indicators=[feature1, feature2]` but I think that's excessive for an initial implementation.

[2018-11-05 03:43] irrhuh commented on #12504
Just encountered the same error.

Not sure how to resolve it too.

[2018-11-05 03:50] samwaterbury commented on #12505
I can investigate this if nobody else already is.

[2018-11-05 07:17] rst0git opened #12516 "Optional 'groups' parameter in GroupKFold().split()"
In the documentation of [`GroupKFold().split()`](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GroupKFold.html#sklearn.model_selection.GroupKFold.split) the parameter `groups` is indicated as _optional_.

However, the following example fails with: `The 'groups' parameter should not be None.`
[code]
Is this a documentation issue or a bug?

[2018-11-05 07:33] jnothman commented on #12153
if we support NaN in OneHotEncoder and OrdinalEncoder, I would consider
making the other group NaN by default, as its handling downstream would be
similar to missing values.

Btw your code will not be deterministic for breaking ties in identifying
the top n.

I'm not yet convinced by this separate transformer. It makes things
somewhat less convenient than just handling the usual min_freq (absolute

[2018-11-05 07:52] datajanko commented on #12153
Of course you are right about the non-determinism when breaking ties. I just wanted to show how it could look like.

One Enhancement of the GroupingEncoder, as I had in mind, would be to pass something like: `{'label_a': grouped1, 'label_b': 'grouped1', 'label_c': 'grouped_2', 'label_d': 'grouped_2'}`
However, this could be done at other preprocessing steps.

So is the real issue then, to implemen

[2018-11-05 08:36] rth commented on #12504
Thanks for the report, I can reproduce this with 0.20.0 and can confirm this is fixed on master.

The current workaround is either to use the latest development version or wait for the 0.20.1 release which should happen soon.

[2018-11-05 08:43] rth opened #12517 "fetch_openml migration between 0.20.0 and 0.20.1"
There have been quite a few changes in `fetch_openml` since the 0.20.0 release. It would be helpful to check that our code to read cached responses from OpenML is backward compatible between 0.20.0 and master.

For instance when loading MNIST for https://github.com/scikit-learn/scikit-learn/issues/12504 and switching between 0.20 and master I got,
[code]
I'm not sure if this is due to the fact tha

[2018-11-05 08:58] rth commented on #11872
Also related, handling the case when the cached response cannot be opened https://github.com/scikit-learn/scikit-learn/issues/12517

[2018-11-05 09:10] pierreglaser opened #12518 "BUG SGDClassifier.fit segfaulting under loky and multiprocessing backend"
Fitting a `SGDClassifier` instance in a multi-class setting involves modifying in-place its`coef_` attribute in the workers created by a `joblib.Parallel` call. However, this Parallel call is not requiring shared memory. For this reason, calling `SGDClassifier.fit` from a context manager with a `loky` or a multiprocessing backend (where workers are processes, and memory is not shared) is causing a

[2018-11-05 13:13] rth opened #12519 "Disable LGTM.com comments"
Could someone with admin rights please disable LGTM.com comments on PRs? Cf section "Configuring pull request integration" in https://lgtm.com/help/lgtm/managing-pr-integration

Maybe there was an earlier issue about this, but searching for `LGTM.com` in issues just produces noise at this point (because of automated LGTM.com comments).

These repeated comments in WIP PRs are quite annoying. https:

[2018-11-05 14:38] #12518 closed

[2018-11-05 15:12] lobpcg commented on #12519
It is very annoying, but I am unsure how to disable it myself. As far as I can see, the comments are coming from scikit-learn/scikit-learn so the one needs to be the owner of scikit-learn/scikit-learn

[2018-11-05 15:31] qinhanmin2014 commented on #12519
I guess I've disabled the comments.
![2018-11-05_232956](https://user-images.githubusercontent.com/12003569/48007522-cbf1f600-e152-11e8-98a4-63604ce113d4.png)
Reopen if I'm wrong.

[2018-11-05 15:31] #12519 closed

[2018-11-05 16:09] rth commented on #12519
Hah, I guess I could have done it -- didn't understand that it was in the integration tab :)

Thanks @qinhanmin2014 !

[2018-11-05 16:09] sebastiantiesmeyer opened #12520 "non_negative_factorization's 'regularize' parameter is lost in the OO interface"
#### Description
The function 'non_negative_factorization' in decomposition/nmf.py has a nice parameter 'regularization' where the regularization can be specified towards one of the product factors. There is however no way to access this feature when using an NMF object. Could be solved easily by carrying over the parameter to the constructor of the NMF object and creating a field 'self.regularize

[2018-11-05 16:15] ThomasChauve commented on #7173
Hello

I am running into the same problem. Did you find a solution to this ?

You can find [here](https://github.com/ThomasChauve/Erreursklearn_neighbors_KernelDensity/blob/master/Erreur.ipynb) a notebook running on my github reproduicing the issue. I use data that are homogeneously distributed on the sphere surface. I took the data [here](http://neilsloane.com/icosahedral.codes/)

Thank
Thomas

[2018-11-05 16:47] phausamann opened #12521 "clone fails for parameters that are estimator types"
#### Description

`clone` fails when one or more instance parameters are estimator types (i.e. not instances, but classes).

I know this is a somewhat unusual use case, but I'm working on a project that provides wrappers for sklearn estimators (https://github.com/phausamann/sklearn-xarray) and I'd like to store the wrapped estimators as their classes - not their instances - as a parameter inside o

[2018-11-05 16:50] ThomasChauve commented on #7173
OK sorry. I found my mistake. it messed up when I compute theta anf phi. Now it is working.

[2018-11-05 17:16] milongo commented on #9994
I know it's been a while since this was opened, but I also need what @aarondbaron is describing. @jnothman asks whether other metrics are applicable to Isomap, and they do.

The original article, "A Global Geometric Framework for Nonlinear Dimensionality Reduction", describes how the Isomap algorithm takes as input distances between all pairs of points "measured in either Euclidean space or in som

[2018-11-05 18:18] skearnes opened #12523 "Vendored joblib includes python 3-specific features that break python 2"
Specifically, BrokenPipeError, which is new to Python 3:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/externals/joblib/externals/loky/backend/semaphore_tracker.py#L110

[2018-11-05 18:19] thomasjpfan commented on #12517
The reading error comes the fact that `0.20.0` does not include the following:

https://github.com/scikit-learn/scikit-learn/blob/6d9acd7de67fcdcddbf4e2a462270e2ef90f39c9/sklearn/datasets/openml.py#L81-L88

If the response is not gzipped, it is not gzipped before it is cached. In `master`, it is assumed that all files in the cache are gzipped. In this case, it will try to uncompress a file that is

[2018-11-05 20:18] jnothman commented on #12517
Oh... I thought we were storing gzipped files in both versions, so I don't
see why it's logically necessary that it should break :/

I don't mind adding cache='refresh', but @rth might be right that we should
handle this case for 0.20.0-1 incompatibility

[2018-11-05 20:34] thomasjpfan commented on #12517
One way to handle this as is as follows: When there is a read error, remove the local cached file and retry the download once. This way the file can be correctly cached.

This would also handle issues where the cache can not be read for other reasons.

What do you think of this solution?

[2018-11-05 20:47] jnothman commented on #12519
They are annoying, but I don't think there is any other obvious indicator
that a pr has produced a new alert. It would be better if they did not
repeat comments from one commit to the next.

[2018-11-05 21:33] rth commented on #12517
It might be due to the fact that the loading of MNIST failed in 0.20.0 and then I'm not sure what state the downloaded files are in.

Yes, the dataset download cache is just there to save some bandwidth, I don't see the point of adding some code for smooth migration between versions (both scikit-learn versions and and possible changes to the OpenML API) At the slightest doubt about cache validity,

[2018-11-05 22:42] jnothman commented on #12515
You might get some low-level parallelism if your numpy is set up to use multiple threads. But it may not have much practical effect here.

[2018-11-05 22:42] #12515 closed

[2018-11-05 22:43] jnothman commented on #9285
Informative warnings are usually very welcome!

[2018-11-05 22:44] jnothman commented on #12512
Is there a modular way to add this to sphinx, or did you just intend to do DOM hacking with javascript?

[2018-11-05 22:52] jnothman commented on #12153
If integer + NaN, convert to float! I think/hope it should be a relatively safe cast in this context...

However, this could be done at other preprocessing steps.

A big -1 from me. What we don't need is more stateless transformers to do arbitrary preprocessing. That's what FunctionTransformer is for. We can't hope to provide an API for a vast range of data transformation needs. It's just not main

[2018-11-05 23:03] amueller commented on #12153
Happy to have this in the OHE transformer. Sorry I've been busy.

[2018-11-05 23:04] amueller commented on #12153
Basically conditioned on the fact that we can have a lightweight API ;)

[2018-11-05 23:07] amueller commented on #12506
If tol>0, why should the result be consistent? You either have to have an E-step or an M-step at the end. At some point I made sure that ``labels_`` matches predict (which means fit_predict matches fit().predict()), which I found more natural than ``cluster_centers_`` matching the cluster centers.

[2018-11-05 23:09] thoo commented on #12512
@jnothman  I am thinking of using this sphinx extension: https://github.com/choldgraf/sphinx-copybutton . Current I am just trying to get a copybutton looks and feels similar to the current button `>>>`.

[2018-11-05 23:13] rth commented on #12519
I think it is shown in the CI commit status
![screenshot_2018-11-06 mrg add lobpcg svd_solver to pca and truncatedsvd by lobpcg pull request 12319 scikit-learn sc](https://user-images.githubusercontent.com/630936/48032604-99e39280-e158-11e8-9aae-a82eabd7d36c.png)

but you are right that the CI status is still green even when there are new alerts.

[2018-11-05 23:58] jnothman commented on #12521
I'm not certain that we want to support this case: why do you want it to be
a class? Why do you want it to be a parameter? Why is this better as a
wrapper than a mixin?

[2018-11-06 00:00] jnothman commented on #9994
Submit a pull request, @milongo?

[2018-11-06 00:51] qinhanmin2014 commented on #12519
Yes, we now need to check the LGTM status manually, but I guess it's worthwhile, since the comments from LGTM seems annoying.

[2018-11-06 01:47] christinebuckler commented on #12505
@jnothman How much sample data do you think would be needed? Am I able to attach a small csv?

[2018-11-06 01:49] jnothman commented on #12480
Let's switch the default to auto, please.

[2018-11-06 02:30] samwaterbury commented on #12505
I believe the following generated data reproduces the problem. (Let me know if this does not look the same as your problem in some way.) Otherwise, I am still investigating.
[code]
The output from this code is:
[code]

[2018-11-06 02:59] jnothman commented on #12505
Attaching a small CSV should be fine.

[2018-11-06 03:28] pjgao opened #12525 "Cannot get feature names after ColumnTransformer"
When I use ColumnTransformer to preprocess different columns (include numeric, category, text) with pipeline, I cannot get the feature names of the final transformed data, which is hard for debugging.

Here is the code:
[code]
1.  `preprocesser.get_feature_names()` will get error:
`AttributeError: Transformer numeric (type Pipeline) does not provide get_feature_names.`
2. In `ColumnTransformer`，`t

[2018-11-06 04:20] shilinng commented on #8165
If it's eigenvectors it should be orthogonal. My guess is sklearn LDA is projecting to mean_{between}/Cov. mean_{between} for different classes is not generally orthogonal

[2018-11-06 05:09] jupiters1117 opened #12527 "Clone fails if the estimator has a dict parameter"
#### Description

[clone](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/base.py#L70) will fail if the estimator has a parameter of **dict** datatype. In such case deepcopy will be performed as shown [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/base.py#L51), and thus the cloned dict will not pass the [sanity check](https://github.com/scikit-learn/scikit

[2018-11-06 06:50] jnothman commented on #12525
This is not an issue about ColumnTransformer.

1. is about Pipeline. Note that [`eli5`](https://github.com/TeamHG-Memex/eli5) implements a feature names function that can support Pipeline.

Re 2. perhaps you're right that it's unfriendly that we don't have a clean way to apply a text vectorizer to each column. I'm not sure how that can be cleanly achieved, unless we simply start supporting multipl

[2018-11-06 08:11] phausamann commented on #12521
The idea is the following: Suppose we have some

    Estimator(param1=None, param2=None)

that implements `fit` and `predict` and has a fitted attribute `result_`

Now the wrapper, providing some compatibility methods, is constructed as

    EstimatorWrapper(estimator=Estimator, param1=None, param2=None)

This wrapper, apart from the `estimator` parameter, behaves exactly like the original `Estima

[2018-11-06 08:47] rth commented on #12527
Could you please provide a simple example to illustrate this?

[2018-11-06 10:44] #12490 closed

[2018-11-06 10:46] #12461 closed

[2018-11-06 10:57] rth commented on #12523
Reported upstream in https://github.com/tomMoral/loky/issues/185

[2018-11-06 10:58] jnothman commented on #12521
I'll have to think about this more another time.

I don't have any good reason to reject cloning classes, TBH...

[2018-11-06 11:02] jnothman commented on #12527
We used weaker equality tests which were deprecated in favour of testing identity in 0.18. Perhaps this is indeed inconsistent with using deepcopy or copy at all... @amueller?

[2018-11-06 11:08] ivannz commented on #12250
@ogrisel and team, thank you for your hard work and exceptional effort you put into scikit!

Regarding this issue, I found that patching the line [643](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/model_selection/_search.py#L643) of `_search.py` in `model_selection` submodule of `scikit` with explicit regression to `backend="multiprocessing"` seems to have solved the issue for

[2018-11-06 11:11] pjgao commented on #12525
Thanks for your kind reply!
As I know, when I preprocess a column using methods which can change one column to multi-columns such as  `OneHotEncoder`,`CountVectorizer`, I can get the new data column names from pipeline last step's transformer by function `get_feature_names`, when using methods which not create new columns,  can just set the raw columns name.
[code]
Using above code, I can get my `

[2018-11-06 11:12] pjgao commented on #12525
Thanks for your kind reply!
As I know, when I preprocess a column using methods which can change one column to multi-columns such as  `OneHotEncoder`,`CountVectorizer`, I can get the new data column names from pipeline last step's transformer by function `get_feature_names`, when using methods which not create new columns,  can just set the raw columns name.
[code]
Using above code, I can get my `

[2018-11-06 11:12] TomDLT commented on #12527
The following example works, what did I miss?
[code]

[2018-11-06 11:35] adrinjalali commented on #12507
I tried the clean master, it complains about `make_column_transformer`, which would be fixed it its relevant PR. I'll reopen if it still fails after that's merged.

[2018-11-06 11:35] #12507 closed

[2018-11-06 11:39] adrinjalali commented on #12044
@qinhanmin2014 please note that something close to option 2 is what I initially had in #12087 , and then we changed it to what you see now. It'll be nice if you could put your counter arguments beside the arguments which resulted in the change in that PR.

[2018-11-06 11:43] adrinjalali commented on #12375
FWIW, I don't think (1) is a blocker to release the algorithm. Adding the option would be a backward compatible enhancement, which can be introduced at any time.

Regarding (3), I don't think R dbscan uses SQLNK anyway, it uses extract_xi, and the way it extracts the labels are the way I've put in #12077

Regarding the comparison of the eps and max_eps, I also have a note to self to test the equiv

[2018-11-06 12:05] qinhanmin2014 commented on #12044
@adrinjalali I think the core issue here is whether extract_XXX should be public functions or public methods. I'll vote -1 for functions because It will be difficult for users to use these functions, e.g., users will need to extract RD/CD/ordering/predecessor from the fitted model and pass them into the function along with other parameters. Instead, if extract_XXX are methods, users will only need

[2018-11-06 12:08] qinhanmin2014 commented on #12375
Yes, it's not. I put it here because it's painful to change the API after we release the algorithm.

[2018-11-06 13:20] temuller opened #12530 "Gaussian Procces with binned data"
I was wondering if there is an implementation or a way to use the existing tools to do GP with binned data for bins with irregular shapes. I want to do something similar to what is discussed here https://arxiv.org/pdf/1809.02010.pdf, but for any kernel and non-rectangular bins.

[2018-11-06 14:13] robguinness commented on #1674
+1 for the idea of making use of warm-start in GridSearchCV. #1626 doesn't seem to address this directly, and considering that there hasn't been any movement on it in 5 years, would you be willing to reopen this issue, or should I submit a new related one?

My use case is to make use of the warm_start option for RandomForestClassifier. This would require some coordination of the jobs sent to run i

[2018-11-06 16:13] christinebuckler commented on #12505
@jnothman Yes the above code reproduces the problem with one exception. y is multi-label in my case, meaning that more than 1 class can be positive at a time. The following would generate similar multi-label data.

[code]

[2018-11-06 16:18] ankapale commented on #12401
Hi Joel,

I have made the respective changes as per your recent comments, but I am struggling with unit tests as there are a few unit tests failing in K-means which are completely unrelated to my changes. I have been trying to solve them for last week but couldn't get any luck.

Could you suggest me what is the required course of action here? Should I just upload my changes and wait for the other

[2018-11-06 16:35] christinebuckler commented on #12505
@jnothman Another issue: sample_weight is not a parameter option in the fit or partial_fit method but available for the score method. Should I raise this one separately or can it be tied here since we are addressing the partial fit method?

[2018-11-06 16:46] ogrisel commented on #12469
Memory mapping will do one copy to memory map the array: the original array is still in memory.

If you have `n_jobs=2`, `n_jobs=3` or `n_jobs=4`, you should always have only 2 copies of the data: the original array in the main process, and the memory mapped one shared by all the workers processes.

That being said we should check whether using the threading backend by default would make sense for

[2018-11-06 16:55] #12483 closed

[2018-11-06 17:35] ogrisel commented on #12469
Once #12350 is merged, I can probably submit a quick PR to use threads by default for IsolationForest.

[2018-11-06 19:11] istorch commented on #12469
@ogrisel Using my example above with `n_estimators = 20` and varying `n_jobs`, it looks like you are correct that ~2x memory is used, independent of `n_jobs`. That's not too bad, actually. For some reason I thought it was worse.

Also, I can confirm that with threading backend and `n_jobs = 20`, the memory increases by only ~4%. I thought I had checked that earlier, but I may have been using an ol

[2018-11-06 20:19] jnothman commented on #1674
@robguinness, #8230 might be the sort of thing you're looking for... not that we have come to consensus on how much we like it.

[2018-11-06 20:46] amueller commented on #8182
@timc13 there is:
[code]

[2018-11-06 20:49] amueller opened #12535 "change double backtick to single backtick do take advantage of default role?"
Should we change the double backticks to single backticks in the docs to make use of the new default role (#11186). That way we get more links to the glossary. Do we want to link to the glossary at every mention of ``fit``?

[2018-11-06 21:01] timc13 commented on #8182
@amueller that doesn't seem to work no matter when I do it (before or after importing this lib) I believe because it's in `sklearn/__init__.py` and so there's no chance to introduce any other filters before sklearn code is run.

[2018-11-06 21:08] amueller commented on #8182
if you do
[code]
it should work.
Because then it's run after ``__init__.py``.

[2018-11-06 21:22] timc13 commented on #8182
I think the problem is that I am using https://github.com/mailgun/talon which calls sklearn internally and no matter how I try to filter the warning, it will get raised in the talon library.

[2018-11-06 21:34] fissehab opened #12536 "cannot import name 'OPTICS'"
I want to perform clustering using OPTICS in sklearn and I started with the example, but I am getting an error that I cannot import OPTICS. Any suggestions. [Here](http://scikit-learn.org/dev/auto_examples/cluster/plot_optics.html#sphx-glr-auto-examples-cluster-plot-optics-py) is the example

`from sklearn.cluster import OPTICS`

<pre> ImportError: cannot import name 'OPTICS' </pre>

[2018-11-06 21:37] adrinjalali commented on #12536
OPTICS is still experimental and only available on master, and is not released yet. You should take extreme caution using it, and expect bugs and major changes in the API by the time it gets released.

We hope to have it out by v0.21.

[2018-11-06 22:12] #12536 closed

[2018-11-06 22:14] jnothman commented on #12525
With respect to eli5, see transform_feature_names (used by explain_weights)

[2018-11-06 22:30] jnothman commented on #12401
I have no idea why unit tests might be failing in k-means. There are no such failures in master on our continuous integration servers. I do think you should upload your changes so that we can see what fails on Travis and can help you resolve them. (Please discuss further pull request related discussion at #12524, not here.)

[2018-11-06 22:55] jnothman commented on #9630
There is a plan towards a solution in #3855, and you are welcome to help
implement it.

[2018-11-06 23:33] amueller commented on #9630
@averri it's very easy to implement this as a meta-estimator btw, which would allow using all the grid-search and cross-validation tools.
[code]

Where ``OutlierMeta`` implements the outlier detection (I'm not gonna give an implementation of that here, but it should be less than 20 lines).

That does break the nice linear flow of the pipeline, though.

Also, it would be interesting if you could sh

[2018-11-06 23:38] amueller opened #12538 "Add successive halving for search?"
It's pretty fresh still but successive halving (aka simplified hyperband) has become a pretty popular search strategy. It might be interesting to provide a drop-in replacement for gridsearchcv, if not in sklearn then maybe in some well-published sklearn-contrib project?

[2018-11-07 00:30] amueller commented on #8182
It should really not, unless talon changes the registry.
Can you give a minimal example? Also, you should open an issue with talon. They shouldn't use deprecated behavior.

[2018-11-07 00:38] amueller commented on #12525
1 is a duplicate of #6425, right? I want to write a slep on that.
I think supporting multiple text columns is pretty easy with ``ColumnTransformer``. It's not the most pretty code but you could just add a CountVectorizer for each text column.

And your snippet doesn't really solve the issue because no ``get_feature_names`` doesn't mean you can just use the column names.

[2018-11-07 01:01] hdmetor opened #12539 "confusion_matrix returns wrong shape on perfect classiffier"
#### Description
Per documentation, `confusion_matrix` should return a `array` with  `shape = [n_classes, n_classes]`
In case of a perfect classifier this is reduced to a (1, 1) array instead

#### Steps/Code to Reproduce

[code]

#### Expected Results

```array([[3, 0], [0, 0]])```

#### Actual Results

```array([[3]])```

#### Versions
From a fresh virtualenv

[code]
### Note
I found this has be

[2018-11-07 01:51] jnothman commented on #9630
I have a meta-estimator coded above: https://github.com/scikit-learn/scikit-learn/issues/9630#issuecomment-325202441

[2018-11-07 02:10] pjgao commented on #12525
yes, after a pandas DataFrame feeds in a preprocess pipeline,  It's better to get feature names so that can know exactly what happened just from the generated data.

[2018-11-07 02:55] jupiters1117 commented on #12527
The problem actually comes from Keras, not SKL. My bad.
Please close this issue.

[2018-11-07 02:55] #12527 closed

[2018-11-07 04:28] #12506 closed

[2018-11-07 07:15] jnothman commented on #12539
Please use the labels parameter

[2018-11-07 07:15] #12539 closed

[2018-11-07 07:31] Y-oHr-N opened #12542 "Add a score_samples method to Pipeline and *SearchCV"
Hello,

scikit-learn 0.20 provides more consistent outlier detection API.

- covariance.EllipticEnvelope
- svm.OneClassSVM
- ensemble.IsolationForest
- neighbors.LocalOutlierFactor

So I would like to use `Pipeline`, `GridSearchCV`, and `RandomizedSearchCV` that have a `score_samples` method.

Thank you.

[2018-11-07 08:02] #12250 closed

[2018-11-07 08:02] #12413 closed

[2018-11-07 08:02] #12474 closed

[2018-11-07 08:02] #12523 closed

[2018-11-07 08:05] ogrisel commented on #12469
Thanks for the confirmation @istorch . It's not a false alarm as there is still an opportunity for further optimization. I will open a PR.

[2018-11-07 09:13] ogrisel commented on #12469
I opened #12543. Feel free to try it.

[2018-11-07 09:43] ogrisel commented on #12278
I did it. It seems to work! :tada:

[2018-11-07 09:43] #12278 closed

[2018-11-07 09:50] hopefulp opened #12544 "pytest error after installation: no module name 'rejoin'"
#### Description
After developing version installation, pytest shows error of no-module named "rejoin"

#### Steps/Code to Reproduce
$cd scikit-learn
$pytest sklearn

#### Expected Results
No error message

#### Actual Results
 ==================================================== ERRORS ====================================================
________________________________ ERROR collecting sklearn/t

[2018-11-07 10:53] ogrisel commented on #12482
I tried with the following on today's scikit-learn master and everything looks fine:

[code]

CPU usage is 100% green on 4 CPUs in htop. Memory usage is constant. I ran it only for a couple of minute before interrupting.

With a smaller dataset, (1e3 samples, 100 features) CPU usage cannot reach 100% because probably because individual trees are too fast to fit and scheduling overhead and the sequ

[2018-11-07 11:01] ogrisel commented on #12544
Which version of distributed have you installed?

distributed is an optional dependency of joblib. pytest should ignore that module if distributed is not installed. The error you get is probably because you installed an old version of distributed. Can you please confirm?

[2018-11-07 11:34] mikkelam opened #12545 "ColumnTransformer with array of dicts"
Love the new columntransformer and using it.

However i'd like to be able to use it in a production environment with arrays of python dicts or similar so i dont have to install pandas in production, this does not seem possible currently, are there any plans to support it?

[2018-11-07 12:07] ogrisel commented on #12395
I a fixed list of categories are passed to the constructor maybe we could also not raise any exception at all as the estimator should be stateless in that case, no?

[2018-11-07 12:10] ogrisel commented on #12389
This was fixed by merging joblib 0.13.0. I just checked on master and @glemaitre's code snippet causes all CPUs to be used at 100% as expected.

[2018-11-07 12:10] #12389 closed

[2018-11-07 12:15] ogrisel commented on #12289
This was fixed by merging joblib 0.13.0 (I have just tried all the cases reported and by @TomDLT's snippet and they behave as expected).

[2018-11-07 12:15] #12289 closed

[2018-11-07 13:50] #12469 closed

[2018-11-07 15:21] amueller commented on #12525
ok, closing as duplicate.

[2018-11-07 15:21] #12525 closed

[2018-11-07 15:23] amueller commented on #12278
yay!

[2018-11-07 15:30] #11872 closed

[2018-11-07 17:50] amueller commented on #9606
I'm not sure if having a ``get_feature_importances`` method will solve this.
Unless that function gets a callback somehow?

If I have a generic way to compute feature importances, say permutation importance, how will this be done with ``get_feature_importances``?
Or is that an orthogonal use-case?
Maybe ``SelectFromModel`` was not the right abstraction? We could have used ``SelectKBest`` and just

[2018-11-07 18:01] Sai-Macharla opened #12546 "Parallalism in gridsearcCV is ending up with a permission error"
#### Description - Parallelism(n_jobs =-1) in grid search cv is stopping with a permission error.

#### Steps/Code to Reproduce -

[code]

#### Expected Results : No error is expected

#### Actual Results

[code]

#### Versions
Windows-10-10.0.17134-SP0
Python 3.6.3 |Anaconda custom (64-bit)| (default, Oct 15 2017, 03:27:45) [MSC v.1900 64 bit (AMD64)]
NumPy 1.15.2
SciPy 1.1.0
Scikit-Learn 0.20.0

[2018-11-07 18:29] amueller commented on #8277
@adrinjalali and then change the default value? Or keep it inconsistent by default?

[2018-11-07 18:42] Sai-Macharla commented on #12546
@amueller Thanks for the reply, do you mean to update the version? I dont know what is meant by current master.

[2018-11-07 18:55] amueller commented on #12546
Yes, update the version to the development version that's on github right now.

[2018-11-07 20:58] jnothman commented on #12395
I'm fine with not requiring fitting if categories is provided. (There's an
estimator tag for that!)

[2018-11-07 21:18] adrinjalali commented on #8277
@amueller I know it's not ideal, but my intuition says:

1- argmax of decision function is much slower than predict, which is why I'd see why in most usercases people would prefer to just ignore the tie breaking issue.
2- in practice, ties happen very rarely, therefore the inconsistency is actually not that big of an issue (we'd be seeing more reported issues if that was happening more often and p

[2018-11-07 21:34] amueller commented on #9606
(I made some edits to my last post as it wasn't making sense entirely)

[2018-11-07 21:56] raamana commented on #9606
You're proposing a solution similar to `eli5` as noted above, which is model agnostic!

I support uniform interface for estimating feature importances, with options to select score function and type of importance etc.

[2018-11-07 22:07] amueller commented on #9606
So what's the downside of doing that in sklearn (apart from the fact that we need an API change)?

[2018-11-08 00:58] ryanpeach commented on #3956
Hey so, I was wondering, what if we made pipeline allow y transformations? It would look like this:

[code]

On fit it would do:
clf.fit(Xtransform1.fit_transform(X), Ytransform1.fit_transform(y))

On predict it would do:
Ytransform1.inv_transform(clf.predict(Xtransform1.transform(X), Ytransform1.transform(y)))

The one big positive I see to this is if you save the model, it could be provided natu

[2018-11-08 02:09] samwaterbury commented on #12505
Alright. For reference, I am using variations of this code snippet in my experiments:

[code]

First, I can definitely confirm that the poor performance with `partial_fit` comes from the fact that it breaks after a single iteration. This is clear from the code, and by setting `max_iter=1` you can see that the score will be identical for both `fit` and `partial_fit`. This probably makes sense, sinc

[2018-11-08 02:11] hopefulp commented on #12544
I have downloaded latest version using git
git clone git://github.com/scikit-learn/scikit-learn.git
The scikit version was written above, 0.21.dev0

I have installed joblib but the error message is the same.

[2018-11-08 02:24] yarikoptic opened #12548 "2 test failures on Debian stable (stretch) amd64"
Sorry no show_versions output (yet to add to `debian/rules`, numpy 1.12.1), and I just wanted to possibly seek ideas/clues before digging deeper or skipping those tests - everything seems to be ok on more recentish systems:
## 1
[code]
re `assert_true` submitted #12547 - but anything sounds familiar?

## 2
[code]
so this one is particularly mysterious ;)

<details>
<summary>show_versions()</summar

[2018-11-08 02:40] Sai-Macharla commented on #12546
I actually remembered that this is happening since i upgraded to version to 0.20 so i downgraded it and its working now. Thanks for the help

[2018-11-08 02:40] hopefulp commented on #12544
I have just commented the rejoin
    from distributed import get_client, secede  #, rejoin
#        if hasattr(thread_state, 'execution_state'):
#            rejoin()

[2018-11-08 03:54] amueller commented on #12548
1 could be any sort of warning and/or the warning registry doing something weird.

2 is saying we're not documenting ``utils.fixes.divide`` correctly. I didn't think we'd be running these tests on utils.
Also, this shouldn't fire with numpy 1.12.1 but I'm not entirely sure how the docstrings are extracted.
This can definitely be safely ignored either way.

[2018-11-08 03:54] hopefulp opened #12549 "two test failures of developing version in centos 7: /manifold and /semisupervised"
#### Description
two test errors of developing version in centOS: one is sklearn/manifold/tests/test_t_sne.py
and the other is sklearn/semi_supervised/tests/test_label_propagation.py

#### Steps/Code to Reproduce

#### Expected Results

No error (failure)
#### Actual Results

___________________ test_preserve_trustworthiness_approximately ____________________

    def test_preserve_trustworthiness

[2018-11-08 03:58] amueller commented on #12548
We are trying to test the docstrings in ``utils.fixes``, but I suggest we stop doing that because running these tests consistently is painful because they are by definition version-dependent. So the upstream fix for 2 will be to add either this function or whole module to ``_DOCSTRING_IGNORES``.
Maybe @NicolasHug remembers something about this?

[2018-11-08 04:19] amueller commented on #12549
thanks for the report. The first one might be a numeric error, the second one is an unexpected FutureWarning from numpy. We might want to filter taht in ``assert_no_warnings`` but I also haven't seen that one.

This is with an intel compiler? Given that it's dev I assume you're building it?

[2018-11-08 04:40] hopefulp commented on #12549
I am testing both Intel and gnu compiler for other purpose. It just happened that scikit was compiled with Intel if it uses BLAS. I didn't intend it. I am just installed dev version for future interest that I might modify sources.

[2018-11-08 07:29] jnothman commented on #8277
Adding a parameter would certainly make more users aware of this issue, and
it is somewhat like other parameters giving efficiency tradeoffs.

[2018-11-08 07:39] jnothman commented on #9606
The simplest case that a method handles is a way to compute importances where there are alternative model-specific approaches (e.g. in forests, or multiclass linear models). Yes, the idea would be that the method would have one or more parameters to suggest the feature importance approach assuming these can be computed without re-fitting the model. Then meta-estimators requiring feature importance

[2018-11-08 09:19] jnothman commented on #3956
Something similar is available in TransformedTargetRegressor, but it's
focused on regression. Many people commenting on this feature were not
hoping to transform y, but to transform a string feature space as
OneHotEncoder and OrdinalEncoder now do.

[2018-11-08 10:11] mikkelam commented on #12545
Yeah both ways would be fine. I didn't know about structured numpy arrays, which would be totally fine in my use case.

I'm serving my pipeline in a AWS lambda instance, and there's a very strict max size of these packages. My API endpoint is basically run 1 at a time predictions, and it hurts to have to include 25 MB of pandas just to wrap a dict in a DataFrame. I'm already bundling numpy of cour

[2018-11-08 13:33] datajanko commented on #9630
Would it make sense to put this somewhere in the documentation?

[2018-11-08 14:19] qinhanmin2014 commented on #12271
I guess we can close since there's not enough information and we've updated joblib.
@halxp1 Please reopen with self-contained example code.

[2018-11-08 15:18] dgrahn opened #12550 "Redirect imblearn webpages."
#### Description
Redirect imblearn webpages. For instance http://contrib.scikit-learn.org/imbalanced-learn/stable/generated/imblearn.over_sampling.SMOTE.html

#### Steps/Code to Reproduce
Search for imblearn on Google. Most of the pages 404.

#### Expected Results
Redirect to the new pages.

#### Actual Results
404

[2018-11-08 15:31] qinhanmin2014 commented on #12550
Not related to scikit-learn. Please report to https://github.com/scikit-learn-contrib/imbalanced-learn.

[2018-11-08 15:31] #12550 closed

[2018-11-08 16:36] christinebuckler commented on #12505
Thank you @samwaterbury for digging into this. I would much prefer a working partial_fit method over the warm_start. Seems like this would be more intuitive. Would the max_iter need to be set in order to run the partial fit data more than once or will it always only run once?

[2018-11-08 17:01] samwaterbury commented on #12505
I'm open to hear what other people think. In my mind though, it seems like the most intuitive route is for `partial_fit` to run for a single round (and for this to be documented behavior) and `fit` to always run for `max_iter` rounds, even if `warm_start=True`.

[2018-11-08 18:08] yarikoptic commented on #12548
FWIW - added show versions (collapsed) output in the initial msg

[2018-11-08 18:13] NicolasHug commented on #12548
I'm not sure what you're referring to? I never really played with doctest much ^^

[2018-11-08 19:08] ryanpeach commented on #3956
Just curious, does that work for Classifiers?

It does look like my target usecase.

[2018-11-08 23:10] jnothman commented on #9630
An example illustrating how to do this would be welcome in the gallery.

[2018-11-09 02:02] #12544 closed

[2018-11-09 02:03] #12549 closed

[2018-11-09 04:48] corymayer commented on #9913
I'm not sure how long it has been there,  but learning_curve now has a `shuffle` parameter. Setting this to `True` fixed the problem for me.

[2018-11-09 04:59] samwaterbury commented on #12516
Seems like a documentation error to me. I'm not sure what the use of this class would be if `groups` was not specified. It looks like `LeaveOneGroupOut` lists it as an optional parameter too, despite the example on [its documentation page](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GroupKFold.html#sklearn.model_selection.GroupKFold.split) explicitly stating that it i

[2018-11-09 06:17] EthanZhangYi opened #12551 "FutureWarning: numpy not_equal will not check object identity in the future."
#### Description
Warning when import sklearn
![selection_003](https://user-images.githubusercontent.com/13479831/48246325-0a750280-e42a-11e8-9776-ef9abdaf3eb1.png)
How to fix it or hide this warning?
#### Versions
![selection_004](https://user-images.githubusercontent.com/13479831/48246334-12cd3d80-e42a-11e8-91d1-b632c0f423b1.png)

[2018-11-09 06:26] rth opened #12552 "Support Haversine distance in NearestNeighbors"
Related to https://github.com/scikit-learn/scikit-learn/issues/4453

Currently using the Haversine distance with the default `NearestNeigbors` parameters produces an error,
[code]
and yet, [`haversine` is a valid metric for `ball_tree`](https://github.com/scikit-learn/scikit-learn/pull/4458#issuecomment-99217770),
[code]

This means something is wrong in the input validation for `algorithm='auto'`