[2019-09-04 18:49] #11772 closed

[2019-09-04 19:09] NicolasHug opened #14885 "Some scorers strings aren't listed in the user guide"
(Pretty much exactly the same as https://github.com/scikit-learn/scikit-learn/issues/9183)

`roc_auc_ovr` and `roc_auc_ovo` aren't in the [list of scorers](https://scikit-learn.org/dev/modules/model_evaluation.html#common-cases-predefined-values) , maybe some others are missing too.

[2019-09-04 19:46] amueller commented on #14835
this seems unrelated to sklearn though, right?

[2019-09-04 19:47] amueller commented on #9453
@IvoMerchiers yes that is probably useful, but also requires a deprecation cycle. Also, I think we should really support 1d y, which we currently don't.

[2019-09-04 19:48] amueller commented on #14836
I think you want ``TransformedTargetRegressor``.

[2019-09-04 19:50] amueller commented on #14826
Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal, for example not containing any Keras code.

[2019-09-04 19:53] amueller commented on #14729
closing as solved

[2019-09-04 19:53] #14729 closed

[2019-09-04 19:54] amueller commented on #14044
fixed by #14884

[2019-09-04 19:56] amueller commented on #14044
@rth to answer your question
[code]

[2019-09-04 20:01] NicolasHug commented on #14885
I think this was fixed in #14417

[2019-09-04 20:02] #14885 closed

[2019-09-04 20:10] TomDLT commented on #14835
It's related to scikit-learn importing scipy, but I guess it is more a scipy problem.

[2019-09-04 20:49] amueller opened #14886 "RFC Deprecate RidgeCV(cv=cv)?"
I think we should deprecate ``RidgeCV`` for ``cv!=None``. It adds weird code paths and doesn't add anything over GridSearchCV. Also, changing ``cv`` radically changes the behavior in this estimator.
I think deprecating ``cv`` here would make the behavior much clearer, and probably alert some people to the fact that they are just doing standard grid-search.

[2019-09-04 21:04] jnothman commented on #14721
if_delegate_has_method needs to be magical. It requires an understanding
of descriptors and hasattr. I don't think its existence justifies
widespread use of decorators.

[2019-09-04 21:05] jnothman commented on #14876
average_precision_score works differently, and for good reason. If you'd
like to open a pull request we will review it...

[2019-09-04 22:41] dliu2223 commented on #10201
Thanks, code from nfrik worked

[2019-09-04 22:41] thomasjpfan commented on #14721
What do you think of having utility that checks the range and raises `ValueError`? This utility can be called something like: `_check_in_range` for numerical range checks.

[2019-09-04 23:32] #11795 closed

[2019-09-05 00:33] jnothman commented on #14721
Definitely fine with that. I'm not particularly opposed to decorators, but
thought the point of readability ease needed to be raised.

[2019-09-05 03:58] qinhanmin2014 commented on #14876
no, see
https://github.com/scikit-learn/scikit-learn/blob/96bfae69ce497eb217722ec5b5bce3a0b23d06c5/sklearn/metrics/ranking.py#L568
https://github.com/scikit-learn/scikit-learn/blob/96bfae69ce497eb217722ec5b5bce3a0b23d06c5/sklearn/metrics/ranking.py#L478

[2019-09-05 03:59] qinhanmin2014 commented on #14876
generally safer to report a lower bound on a metric than an upper bound :)

could you please provide more details? @jnothman

[2019-09-05 05:27] jnothman opened #14888 "Add `fetch_openml(..., as_frame='auto')` option"
We recently added `fetch_openml(..., as_frame=True)`. We should allow the user to specify `as_frame='auto'` which would return X as an array if all attributes are numeric, and as a DataFrame if any are strings or nominal/categorical.

This should eventually be the default value. (Categoricals might not be handled appropriately by scikit-learn estimators, so this may be risky. Given the "experiment

[2019-09-05 05:33] rth commented on #14888
I find it not optimal for the return type to be de determined at run time (i.e. not necessarily knowing what output one will get).

 Even with numeric attributes a dataframe is useful. Can't we change to `as_frame=True` by default which would return a dataframe, except for non sparse data?

[2019-09-05 07:11] ll-DS opened #14889 "Tiny syntax error"
scikit-learn / sklearn / linear_model / stochastic_gradient.py
line 127
raise ValueError("validation_fraction must be in ]0, 1[")
[0, 1]

[2019-09-05 07:54] dr-geeno commented on #14839
I looked at the code before opening the issue, but since some parts are written in cython (which I am not familiar with), I don't think I am able to do it (also, I am a newbie for programming).

[2019-09-05 08:21] qinhanmin2014 commented on #14876
if y_true and y_pred are all negative: return 1.0 + warning (if zero_division=1) otherwise 0 + warning
if y_true all negative, y_pred some positive, return 0 as usual as TP=0 and FP>0, no warning
if y_pred all negative, y_true some positive, return 0.0 + warning (no matter zero_division value). This is my choice but I'm open to change it. This makes f1 no more prec*rec/ (prec + rec), but the value

[2019-09-05 08:37] qinhanmin2014 commented on #14889
please submit a PR, thanks

[2019-09-05 09:37] #14665 closed

[2019-09-05 12:37] thomasjpfan commented on #14889
This could be bourbaki notation: https://hsm.stackexchange.com/questions/142/why-is-american-and-french-notation-different-for-open-intervals-x-y-vs-x/193#193

[2019-09-05 13:08] qinhanmin2014 commented on #14889
I think ``[]`` is more commonly used in the repo.

[2019-09-05 13:21] mfcabrera commented on #13349
@jnothman created a simple PR for this. I had already something written locally. By passing straight the fit_params we can support the pipelines as well using the `<component>__<parameter>` approach. Should I add a test for this?

[2019-09-05 14:06] thomasjpfan commented on #14889
Fro this specific case, we should use an open interval: `validation_fraction must be in (0, 1)`

[2019-09-05 14:33] amueller commented on #14889
yeah it should definitely not be ``[0, 1]``. I prefer ``]0,1[`` but ``(0, 1)`` is also fine, maybe saying "(open interval)" additionally might help. But I think it's fine as-is.

[2019-09-05 14:38] #14044 closed

[2019-09-05 14:39] amueller commented on #14044
The original issue is fixed in #14884, but I am tempted to open another issue to discuss mixins vs base classes.

[2019-09-05 15:46] jnothman commented on #13349
Sure, why not?

[2019-09-05 17:18] dstanner commented on #10642
Agreed, but I'm still curious how that `feature_importances_`  attribute vector is actually being populated. It's saved in the estimator class, so it's getting computed from something.

[2019-09-05 17:40] danna-naser opened #14893 "ZeroDivisionError in _sparse_fit for SVM with empty support_vectors_"
#### Description
When using sparse data, in the case where the support_vectors_ attribute is be empty, _fit_sparse gives a ZeroDivisionError

#### Steps/Code to Reproduce
[code]
#### Expected Results
No error is thrown and  `self.dual_coef_ = sp.csr_matrix([])`

#### Actual Results
[code]

#### Versions
[code]

[2019-09-05 18:58] agramfort commented on #14886
I also don't like that RidgeCV calls GridSearchCV under the hood. Everytime
we have ModelCV it's because it's faster than using GridSearchCV. Now I
think that for certain Ridge solvers you can gain some time by precomputing
LUs, using warmstarts in conjugate gradient etc. Of course this would need
some work ... :-/

[2019-09-05 19:00] agramfort commented on #2237
+1

Naive Bayes models are not linear models (without extra non classical
constraints).

[2019-09-05 19:03] agramfort commented on #14882
if you use max_iter=5 (not 20) it will be faster and maybe it's good enough
for good predictions?

not there what to expect here. Add a remark to the doc?

[2019-09-05 19:07] agramfort commented on #14839
maybe you can find some code you can hack eg:

https://gist.github.com/vene/fab06038a00309569cdd

sorry that we cannot help more.

[2019-09-05 19:07] #14839 closed

[2019-09-05 19:55] tirthajyoti commented on #14882
Current documentation on this gives a clear (and perhaps wrong) impression that as the size of the training set increases (both features and samples), the analytic closed-form solution, involving matrix inversion, as employed by `LinearRegression` or `Ridge` methods, will perform worse (computationally) than a local greedy search like gradient descent.

This is probably true in general.

But the c

[2019-09-05 21:41] marctorrellas commented on #14876
I agreed to go with a 1 for the "open to change" cases :)

[2019-09-05 22:11] NicolasHug opened #14897 "Should we make most functions private?"
We have a lot of functions referenced in our [API reference](https://scikit-learn.org/dev/modules/classes.html).

For our own sanity, I would like to propose to make private any function that either:

- has an obvious estimator equivalent, e.g. `k_means` or `fastica`. There should be one obvious way to do things. (Some of them might be subject to debate, like `scale` which is arguably convenient.)

[2019-09-06 00:03] kellycarmody commented on #14703
Sounds good, thanks!

[2019-09-06 00:33] marctorrellas commented on #14876
I started to do this and found a small problem in which I see two options. So prefer to ask. Method `_prf_divide` is used in `precision_recall_fscore_support` to obtain both `precision` and `recall`. It is easy to set them to `zero_division` when there is a zero division :D

The problem comes with the warning message, which goes along the lines:

"Precision and F-score are ill-defined and being se

[2019-09-06 01:07] jnothman commented on #14876
How about if zero_division != 'warn', we give no warning. But we set 'warn'
by default and say "spam is I'll defined and being set to 0. Use the
zero_division parameter to control this behavior"

[2019-09-06 03:28] joxxperez commented on #14831
Could I work on this as well?

[2019-09-06 05:04] dr-geeno commented on #14839
Don't worry. Thanks for taking the time to answer me.

[2019-09-06 05:17] qinhanmin2014 commented on #14897
cluster_optics_xi enables users to obtain clusters according to different "thresholds" without recalculating some statistics.

[2019-09-06 06:33] shubhambmehta commented on #14831
Hey, @joxxperez this is my first contribution. I am already working on it. I plan to submit a PR in 2-3 days.

[2019-09-06 06:47] lesteve opened #14903 "Error could be improved with DummyClassifier constant strategy when constant value not in training data"
[code]

Error:
[code]

We could add in the error message what constant value was provided (in this case `not-in-dataset`) and what the possible values are. This could be something like this (improvement more than welcome):

[code]

Context: this was seen during the EuroScipy tutorial. The adult census dataset classes has a space in it at the beginning  ` <=50K` and the provided value did not have

[2019-09-06 07:06] LakshKD commented on #14903
ok, I am looking at this issue

[2019-09-06 08:21] albertcthomas commented on #14897
In the [robust_covariance.py](https://github.com/scikit-learn/scikit-learn/blob/1495f69242646d239d89a5713982946b8ffcf9d9/sklearn/covariance/robust_covariance.py) I would like to deprecate the first `c_step` function as well as the `select_candidates` function. I do not think anyone use them...

[2019-09-06 08:22] lesteve commented on #14903
@LakshKD we are having the scikit-learn sprint at EuroScipy. Unless you are here too, would you mind trying to find another issue to work on?

Hopefully you don't mind too much. Basically I think this issue is ideal for someone who is getting started with scikit-learn and I see you are already a scikit-learn contributor.

[2019-09-06 09:26] martinagvilas commented on #14903
I'm working on this

[2019-09-06 09:34] trbedwards commented on #14889
I'll tackle this issue

[2019-09-06 09:52] trbedwards commented on #14672
I'm going have a go at tackling this issue

[2019-09-06 09:57] LakshKD commented on #14903
@ martinagvilas

Cool Go Ahead

[2019-09-06 09:58] LakshKD commented on #14903
ok no problem

[2019-09-06 10:18] JesperDramsch commented on #3846
Taking on GroupShuffleSplit

[2019-09-06 10:23] #14889 closed

[2019-09-06 10:26] #13349 closed

[2019-09-06 10:31] lesteve commented on #14903
Thanks a lot for your understanding @LakshKD!

[2019-09-06 10:33] rth commented on #14784
Can confirm that installing on Windows and MacOS during a sprint is a pain.

[2019-09-06 10:41] massich opened #14905 "Trying fresh installation for development purposes."
When trying to run the test-suite on a fresh installation it breaks.
Long story short, doctests require `PIL` and `test_lda_predict` fails as well.

This has been done in a Linux machine. @martinagvilas can you replicate in mac? thx.

cc: @lesteve

Here is what we did:

[code]

Here is the full pytest output

<details>

[code]
</details>

Here is the output of `conda list`

<details>

[code]

</de

[2019-09-06 10:48] martinagvilas commented on #14905
trying to replicate in `osx` I cannot even compile it.

here is the trace:

[code]

[2019-09-06 11:07] NicolasHug commented on #14897
But is it really useful? Is it worth to publicly support it?
If we keep it, the function should be documented, at the very least in the user guide.

Tools like that which aren't in the user guide are virtually impossible to be discovered.

[2019-09-06 11:55] massich commented on #13360
Then this is not sklearn related. closing.

[2019-09-06 11:55] #13360 closed

[2019-09-06 12:00] massich commented on #14784
I open #14905 without realizing about this thread.

[2019-09-06 12:32] adrinjalali commented on #14905
This is more or less a duplicate of #14784, but we can track the macos issue here I guess.

[2019-09-06 12:34] KateMorf commented on #6249
Recently I could observe a weird error similar to this. But this article gives some light: http://blog.rtwilson.com/got-multiple-values-for-argument-error-with-keyword-arguments-in-python-classes/
The author explains how functions in python expect the 'self' as an argument of the functions

[2019-09-06 13:05] ogrisel commented on #11463
Another use case, being able to use `ColumnTransformer` to preprocess a multi-column target `y` using `TransformedTargetRegressor`.  `TransformedTargetRegressor` requires its underlying transformer to implement `inverse_transform` to be able to make predictions.

This use case was first reported to me IRL by @trbedwards.

[2019-09-06 13:11] adrinjalali commented on #14897
It would be very useful if the user knows what they're doing. I agree that they should be documented, but I think they're useful and should be public. We had quite long discussions about having those functions, so I think they were justified.

[2019-09-06 13:12] VarIr commented on #14231
Below is a list of tests that contain missed lines in the codecov report.
I added my first impression of whether these are actual problems.

I suggest we could mark lines that need not be covered by tests by something like # pragma: no cover

I'll create a PR with changes according to this list. In any case I will need feedback by someone more familiar with the specific tests.

    cluster/tests

[2019-09-06 13:15] NicolasHug commented on #14897
Ok. Let's document them then please.

[2019-09-06 13:16] rth commented on #14231
@VarIr PR would welcome to improve it, and I'm also +1 for `# pragma: no cover` when it's expected. It will be probably simpler to discuss in a PR, please ping me there.

[2019-09-06 13:29] rth commented on #14897
Having a `KMeans` and a stateless function `k_means` was an explicit design choice at the time as far as I understood. Maybe @agramfort would have some comments on it.

[2019-09-06 14:28] thomasjpfan commented on #14889
I would be okay with it saying `must be in range (0, 1)` so it is not confused with a tuple.

[2019-09-06 14:32] rth commented on #14889
cc @dakotagrusak if you are still interested.

[2019-09-06 14:33] dakotagrusak commented on #14889
Ya, I'll make the change. Thanks

[2019-09-06 16:00] maincarey opened #14917 "Import issue with sklearn in juypter dependency on spicy"
Import issue with sklearn in juypter dependency on spicy

Cannot import and use sklearn in juypter.  Is there a path issue or dependency issue.

Using Ubuntu 18.04 Juypter virtual on Windows 10
Python 2.7.15+
and
Python 3.6.8
installed

In Juypter
checking path

import sys
sys.executable
'/home/maincarey/qvirtual/quantumj/bin/python3'

!/usr/bin/python3 -m pip install scipy
Requirement already sat

[2019-09-06 17:02] martinagvilas commented on #14905
@adrinjalali help me fix it with `homebrew`

Here is what happens when I try it again this time using `conda install -c conda-forge compilers` approach

[code]

[2019-09-07 07:22] guo18306671737 opened #14922 "In the cv_results_ of the GridSearchCV, how to pass in the training set and the test set at the same time,and predict the test set at each training time,rather than just dividing the training set into predictions"
Hello, after fitting the model on the training set of each set of parameters, I want the prediction result of the model on the test set. What can I do? The fit function seems to put only the training set data, not the test set data.

[2019-09-07 09:55] marctorrellas commented on #14876
I update the PR description so that we have all cases clear. In the dev of this, I've found that f-score can fail if lists are passed instead of np.arrays. Do you want me to fix this as part of this PR?

Example:

[code]

[2019-09-07 12:13] agramfort commented on #14897
yes it was a design decision from the early days. core algorithms were
supposed to be available without the object API. It's for example why you
have ridge, lasso, fastica, etc... exposed as plain functions. Basically objects
should wrap the plain functions to have the "scikit-learn API".

[2019-09-07 12:16] agramfort commented on #14882
it's not fair to compare with RF. Running time is not the only issue.

I would recommend to have a look at:
https://engineering.fb.com/ai-research/test-of-time-award/
https://papers.nips.cc/paper/3323-the-tradeoffs-of-large-scale-learning.pdf

[2019-09-07 12:30] NicolasHug commented on #14897
What is the reason for that? Is it just for convenience?

Do you think it is possible to reconsider whether it's worth having them?

As mentioned earlier, a lot of them are designed in such a way that it is impossible to change the estimator without breaking backward compatibility of the function.

[2019-09-08 00:23] jnothman commented on #14897
I think that backwards compatibility issue is only really true if the
estimator calls the public function. It does not need to be true if the
public function and estimator both call some shared, private routines.

[2019-09-08 00:25] jnothman commented on #14876
No, see #14865.

[2019-09-08 03:52] alexrindone commented on #7801
I'm having this same issue, is there a fix for it?

[2019-09-08 09:34] adrinjalali commented on #14897
@NicolasHug could you maybe give an example? I can't easily think of a case where moving the logic implemented in the function to the class and just using the class from that function wouldn't solve the issue. It's how the optics function was implemented (although it was removed in later revisions).

[2019-09-08 09:49] adrinjalali commented on #14905
@martinagvilas did you try to set those environment variables again, before trying to compile? You either need to set them every time, or to set them in your bashrc or something.

[2019-09-08 14:16] sameshl commented on #14216
@adrinjalali Another update to the checklist of completed :
* `sklearn/cluster/tests/`(https://github.com/scikit-learn/scikit-learn/pull/14649)
* `sklearn/metrics/cluster/tests/`(https://github.com/scikit-learn/scikit-learn/pull/14707)
* `sklearn/metrics/tests/`(https://github.com/scikit-learn/scikit-learn/pull/14715)
* `sklearn/neural_network/tests/`(https://github.com/scikit-learn/scikit-learn/p

[2019-09-08 15:13] GaelVaroquaux opened #14925 "Examples require matplotlib 3.1.x"
Several examples use plt.stem with the option "use_line_collection". This option was added in the last release of matplotlib (3.1), released mid May 2019. IMHO, this is a too recent version to require, in particular given that this option does not seem crucial

Ref:

* plt.stem as of v3.1.1 https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.stem.html
* plt.stem as of v3.0.2 https://matplot

[2019-09-08 16:02] cipri-tom commented on #7891
Oh man, that's a bummer :( ... I wanted to do prediction on a raspberry pi, but obviously I don't want to train there as it is extremely slow. Do I really not have any option :( ?

[2019-09-08 16:06] rth commented on #14925
I would have expected the CircleCI `doc-min-dependencies` job [with matplotlib v1.5.1](https://github.com/scikit-learn/scikit-learn/blob/813b601e9e212251e9ac1e3d5f85fdcb9aa80457/.circleci/config.yml#L15) to fail in that case. Do we know why it didn't?

[2019-09-08 16:10] rth commented on #7891
@cipri-tom You can serialize models to ONNX see https://scikit-learn.org/dev/modules/model_persistence.html#model-persistence

[2019-09-08 17:12] adrinjalali commented on #13518
I think we can close this one, since we now have the banner on the website warning the user of the new versions.

[2019-09-08 17:12] #13518 closed

[2019-09-08 17:23] stefan-matcovici commented on #14788
Is it still the case? I can only see n_support_ and it's in SVC and NuSVC classes

[2019-09-08 17:47] MozarellaMan commented on #14131
I've had a go at adding a notice to the BinaryTree docstring. If anyone has better ideas for making this topic clear, please do, no problem. Just thought I'd do this since this issue has been quiet.

[2019-09-08 17:54] stefan-matcovici commented on #14829
Is there a call that we can make to OpenML to get all the versions for one dataset?

[2019-09-08 19:06] thomasjpfan commented on #14925
I believe that matplotlib 1.5.1 silently ignores keywords that it does not recognize.

[2019-09-08 19:16] GaelVaroquaux commented on #14925
Let's bump our lowest-supported version of matplotlib. Matplotlib 1.5.1
is too old (y'all never thought that you'd hear that from me, right!)

[2019-09-08 19:44] Irfanwustl opened #14927 "SVR for multiple target"
I have searched stack overflow and it seems SVR of scikit learn does not work for multiple targets (matrix of targets) though other algorithms like LinearRegression works. Am I missing something? Is there any way to use SVR with multiple targets?

[2019-09-08 20:23] NicolasHug commented on #12927
I have opened https://github.com/scikit-learn/scikit-learn/pull/14913 that renames `rbm.py` into `_rbm.py` and `multilayer_perceptron.py` into `_multilayer_perceptron.py`.

Imports from `neural_network.rbm` and `neural_network.multilayer_perceptron` are still supported but deprecated.

I would like to do that for **all** modules. Please comment whether you'd like to see this happen.

----

Advanta

[2019-09-08 20:28] GaelVaroquaux commented on #12927
+1 for this happening, with appropriate deprecation cycle.

[2019-09-08 20:48] NicolasHug commented on #14897
Indeed, that would solve the issue, but some classes are designed the other way around.

That's a good first step but I'd like to go one step further and just make private anything that isn't obviously useful. The problem then disappears.

[2019-09-08 20:48] jnothman commented on #12927
Please note that this approach will break pickles once the deprecation ends.

[2019-09-08 20:49] jnothman commented on #12927
(not that we care so much about pickle compatibility, but that we should be
aware that users will)

[2019-09-08 21:12] #14927 closed

[2019-09-08 21:12] jnothman commented on #14927
It would be equivalent to using a MultiOutputRegressor(SVR()). Use that.

[2019-09-08 21:16] jnothman commented on #14829
You can get metadata for all versions of a given name (subject to
pagination?). Note that "versions of a given name" may not in any way
indicate the same dataset in much the same way that Donald Trump is not
just another version of Donald Duck (or is he?).

[2019-09-08 22:30] stefan-matcovici commented on #14829
But from what I understand, this is the only way we can find out somehow all the versions of our dataset, right?

[2019-09-08 23:06] jnothman commented on #14829
Well, not in the sense that versions of a dataset may have different names
too... So this is really just a question of how people reference a dataset
by name.

[2019-09-08 23:20] rth commented on #14829
pagination?)

There is another issue (not solved in https://github.com/scikit-learn/scikit-learn/pull/14855) in the fact that now we get metadata (and list of datasets) and by default cache it forever, even it changed on the server. Adding some form of cache expiration duration could be a way around it.

[2019-09-09 03:19] ingrid88 commented on #14851
For what it is worth, I am not able to reproduce this error in `scikit-learn 0.22.dev0` which is the development versions.

[2019-09-09 03:36] ingrid88 commented on #14741
Are you referring to the space in this: `sklearn.metrics.pairwise. pairwise_kernels` -- I see this in all of the documentation renderings. So this issue should be redefined in a more general way, or closed if there is already something discussing that. Do you have a more specific example of this issue?

[2019-09-09 07:04] albertcthomas commented on #14925
We had a related discussion in PR #13435, see [this comment](https://github.com/scikit-learn/scikit-learn/pull/13435#discussion_r265400880) and [this one](https://github.com/scikit-learn/scikit-learn/pull/13435#issuecomment-472834454).

[2019-09-09 11:29] rth commented on #14917
This means you have not installed scikit-learn properly. Please re-install it https://scikit-learn.org/stable/install.html

That's is completely unrelated to scikit-learn. Generally this is a usage question about installation, Stackoverflow would be a better place to ask such questions. We use Github mostly for tracking bugs/feature requests with the code.

[2019-09-09 11:29] #14917 closed

[2019-09-09 11:31] rth commented on #14216
Done. Thanks!

Note that `sklearn/utils/estimator_checks.py` should be excluded, as we can't import pytest therE.

[2019-09-09 11:34] rth commented on #14888
Though I suppose that could as well be `as_frame="auto"`..

[2019-09-09 12:20] cmarmo commented on #11533
Some warnings are still present on current master:
[code]
I'm just opening a PR to fix them (together with similar issues)

[2019-09-09 12:29] jnothman commented on #14876
I think at one point (before 2013?) the behaviour was somewhat inconsistent, or there was debate about what the right behaviour should be. We settled on a warning strategy, and a conservative approach to awarding score: don't award perfect precision to a system just because it gave no positive labels for that class/sample.

[2019-09-09 12:29] jnothman commented on #14876
Uhh,... it seems I'd forgotten to send that reply, @qinhanmin2014

[2019-09-09 12:50] yvanlebras opened #14932 "species distribution modeling example data not downloadable anymore"
In that [page](https://scikit-learn.org/stable/auto_examples/applications/plot_species_distribution_modeling.html#sphx-glr-auto-examples-applications-plot-species-distribution-modeling-py) The downlodable [Jupyter notebook](https://scikit-learn.org/stable/_downloads/plot_species_distribution_modeling.ipynb) is not usable "as is" as the data are automatically donwloaded from https://www.cs.princeto

[2019-09-09 14:19] antopolskiy opened #14934 "`inverse_transform` of the OneHotEncoder: specified behaviour is not default"
The current docstring of `inverse_transform` specifies the following behaviour of the in case the all-zero labels:
https://github.com/scikit-learn/scikit-learn/blob/1495f69242646d239d89a5713982946b8ffcf9d9/sklearn/preprocessing/_encoders.py#L734-L738

However, this is not the default behaviour of the class, instead by default in case of all-zero labels, the first category is assumed:

[code]

Outp

[2019-09-09 14:34] martinagvilas commented on #14905
@adrinjalali you are right, I forgot this step. Now installing the developer version through conda works if I run the following:

[code]

The installation using `conda-forge` works as well, and so does the `pip` installation described [here](https://scikit-learn.org/stable/install.html). Let me know if there is something else you want me to try out.

[2019-09-09 14:45] thomasjpfan commented on #12927
+1 on moving forward with this.

[2019-09-09 14:49] amueller commented on #12927
I proposed this in 2017 (#9250) and I'm still in favor.

[2019-09-09 16:11] ganeshtata opened #14937 "Ambiguous class labels in function docstring"
In the [train_test_split](https://github.com/scikit-learn/scikit-learn/blob/1495f69242646d239d89a5713982946b8ffcf9d9/sklearn/model_selection/_split.py#L1998) function, the `stratify` parameter is defined as  -
[code]
What is `this` in `using this as the class label`?

[2019-09-09 16:29] #14937 closed

[2019-09-09 17:20] amueller commented on #14886
Yeah there's certainly ways to make RidgeCV behave more like the other EstimatorCVs. But right now it does something entirely different.
Another option that might be even better would be to remove the current functionality and replace it by a warm-starting functionality and remove the LOO functionality?

[2019-09-09 19:36] thomasjpfan commented on #14741
I think @glemaitre is referring to this:

![Screen Shot 2019-09-09 at 3 35 43 PM](https://user-images.githubusercontent.com/5402633/64560945-8fb19800-d317-11e9-91c8-fe8809c1977f.png)

[2019-09-09 20:12] jakirkham commented on #14036
cc @ogrisel (as we discussed this during EuroSciPy)

[2019-09-09 20:29] agramfort commented on #14897
if we have functions that call the objects internally for me it should
never have been the case (at least in theory...)

objects should call plain public functions and not the other way around

[2019-09-09 20:45] jnothman commented on #14934
Thanks for the report.

[2019-09-09 20:46] NicolasHug commented on #14897
But that's precisely what makes it hard to change anything to the object. I don't understand the benefit of this design? Our first class citizens are the objects, not the functions.

[2019-09-09 20:47] #13773 closed

[2019-09-09 20:49] jnothman commented on #14905
note that the test_lda_predict issue is #14547

[2019-09-09 20:59] #14903 closed

[2019-09-09 21:50] jnothman commented on #13773
Thanks Sergey!

[2019-09-10 00:04] #14351 closed

[2019-09-10 00:09] jakirkham commented on #11447
Was just about to open an issue like this. Thankfully someone beat me to it by a year. 😄

Simply replace Dask with CuPy and dask-ml with cuML to get the issue I'm encountering.

Agree it would be great to support array-like things in scikit-learn. What would be our next steps here?

[2019-09-10 00:15] mrocklin commented on #11447
My guess is that @jnothman 's [comment](https://github.com/scikit-learn/scikit-learn/issues/11447#issuecomment-403216541) is likely still valid.

For testing my guess is that we could use dask.array as a stand-in for numpy-array-like and that that would probably satisfy things for CuPy.

[2019-09-10 01:02] jakirkham commented on #13210
Other potential candidates include...

https://github.com/scikit-learn/scikit-learn/blob/5f0263fe7f1ce66a91a3af01a54caad7ac546443/sklearn/linear_model/cd_fast.pyx#L499

https://github.com/scikit-learn/scikit-learn/blob/5f0263fe7f1ce66a91a3af01a54caad7ac546443/sklearn/linear_model/cd_fast.pyx#L588-L589

https://github.com/scikit-learn/scikit-learn/blob/5f0263fe7f1ce66a91a3af01a54caad7ac546443/sklea

[2019-09-10 05:05] kwinata commented on #14934
Hi! Can I try to work on this? @jnothman

[2019-09-10 06:39] kwinata commented on #14934
Hi,

Because of the [`_argmax`](https://github.com/scikit-learn/scikit-learn/blob/1495f69242646d239d89a5713982946b8ffcf9d9/sklearn/preprocessing/_encoders.py#L795), the value of labels is always the first `1` or if all is the same (especially if all is zero) then it's `0`.

But the all-zeros are checked again in the [if](https://github.com/scikit-learn/scikit-learn/blob/1495f69242646d239d89a571398

[2019-09-10 07:11] kwinata commented on #14934
Or if we want to address only the case of `all_zero` as unknown (ignoring the case for more_than_one_set_bit or probably put it in a separate issue), then to change the result from using the first_value to raise error, what we can do is probably just to add one more case as `else` statement such that it becomes
[code]

[2019-09-10 08:20] adrinjalali commented on #14897
I also don't understand why. I just wanted to fix something in DBSCAN, and it has the same issue, and I'd rather move the logic to the class and have the function just use the class.

[2019-09-10 10:51] JackyG38 opened #14941 "Can you evaluate using sklearn metric package if multilabel-indicator format & a multiclass-multioutput format are present"
Is there any way of measuring the accuracy metrics between a multilabel-indicator format & a multiclass-multioutput

I am training a multilabel classification and my predicted values from classifier are multilabel-indicator while my x_test data is in the format of multiclass-multioutput .

So when I try to evaluate the accuracy values I get the error saying
1 frames
/usr/local/lib/python3.6/dist-p

[2019-09-10 11:00] #14941 closed

[2019-09-10 11:00] jnothman commented on #14941
You've not provided enough information, and this is not the right place for
questions, but I'm pretty sure your predictions and true y arrays have
different shapes.

[2019-09-10 12:55] FritzPeleke opened #14943 "i can't get thesame results with the early stopping parameter of SGD regeressor"
[code]

[2019-09-10 14:59] one-two-one-two opened #14944 "Memory builds up with OneHotEncoder"
#### Description

Running OneHotEncoder in loop of millions/day. Process Memory slowly builds up. ~40k / 1000 calls.

#### Steps/Code to Reproduce

Example: For input data, see a.txt file below
[code]
#### Expected Results

I would expect memory usage to be flat over time

#### Actual Results
Memory usage in M-Byte:

![Figure_1](https://user-images.githubusercontent.com/46920594/64622428-9f001680-

[2019-09-10 15:28] lesteve commented on #10624
A PR has been recently been merged in cython to allow `const` with fused type memoryviews: https://github.com/cython/cython/pull/3118. It would be great if someone could give it a go and give feed-back.

[2019-09-10 16:44] GaelVaroquaux commented on #14835
I think that we can close.

[2019-09-10 16:57] amueller commented on #11447
Also see #14702 for us going in the opposite direction ;)

@jakirkham can you provide an example for estimators that you're interested in?
I assume that for 90% of scikit-learn this would make no sense. Some of the preprocessing methods might work, but I would be surprised if any of the machine learning would work with cupy. Even if it did, it would be much much slower than the GPU-based implement

[2019-09-10 17:02] amueller commented on #14943
please make sure to format your code correctly (I did that for you), provide a self-contained example (you're missing imports) and describe your problem.

[2019-09-10 17:10] #14835 closed

[2019-09-10 18:01] #14741 closed

[2019-09-10 18:07] amueller commented on #14905
So what's left of the original issue? The PIL dependency in the doctest? Should we make sure that's documented in the dev docs or try to fail more gracefully?

[2019-09-10 18:13] amueller commented on #14944
Can't reproduce on ubuntu.
[code]

If you replace ``encoder`` by a call to creating a ``np.random.normal`` matrix, do you see the same behavior?

This seems like a garbage collection issue, right?

[2019-09-10 18:19] amueller commented on #14897
@agramfort I'm pretty sure we have it going both directions.
What is that theory that you speak of?
I know there's some public functions that are used as implementation details, and those are usually not well-tested. There's also some functions that are shortcuts (in the scalers for example) that reuse the estimators.

I find the shortcuts that use the estimators useful, but I have never called th

[2019-09-10 19:02] adrinjalali commented on #9250
Since #14939 is merged, we seem to be deprecating them already for 0.22. This now seems like an easy one for some of the upcoming sprints. Although if we want it done before the end of october, we should do it ourselves maybe.

[2019-09-10 19:14] rhenwood-arm commented on #13073
FYI: Drone.io ( https://drone.io/ ) have an AArch64 and AArch32 build service that might be helpful.

[2019-09-10 20:01] NicolasHug commented on #9250
Below is the list of the folders whose files need to be preceded by an underscore. The procedure is pretty straightforward:

- rename `file.py` into `_file.py` and create a new `file.py` with a similar content that raises a deprecation warning (like `neural_network/rbm.py`)
- update `__init__.py`
- update test parametrization of `sklearn/tests/test_import_deprecations.py`

### Folders

- [X] compo

[2019-09-10 20:02] NicolasHug commented on #9250
ping @thomasjpfan 	@glemaitre 	@adrinjalali 	let's pick one each and review each-other? this shouhld go relatively fast

I'll pick `cluster`

[2019-09-10 20:16] sloev opened #14947 "feature: verbose flag in cluster.DBscan"
would it be possible to get *verbose* "back" as a flag in DBscan. seems like it was there in earlier releases:

https://ogrisel.github.io/scikit-learn.org/sklearn-tutorial/modules/generated/sklearn.cluster.DBSCAN.html

[2019-09-10 22:04] #10802 closed

[2019-09-10 23:33] jnothman commented on #14947
What verbosity would you like to see?

Also @ogrisel it's not wonderful that people can land up seeing this
version of the docs

[2019-09-11 07:42] Freakwill opened #14950 "Do we need post-processing"
Do we need post-processing, the preprocessing method for Y (not for X).

## Description
Is there some method, preprocessing for y (the output variable)? We have had preprocessing methods for X, applied in piplines. Sometimes we may need it for Y, for example in the regression problem `Y = a exp(b X)`, we need trasform Y = log Y, before doing linear regression.

## Code
I define a function (decorat

[2019-09-11 08:16] #14950 closed

[2019-09-11 08:16] jnothman commented on #14950
Use TransformedTargetRegressor

[2019-09-11 09:15] ogrisel commented on #14905
For information, @jeremiedbb has been experimenting with using `conda install conda-forge::compilers conda-forge::llvm-openmp` as an alternative to homebrew to install an openmp enabbled compiler on macOS. He will open a pull request to improve the documentation soonish.

[2019-09-11 09:18] rth opened #14951 "Text vectorizers clean-up / TfidfVectorizer deprecation"
As mentioned by @jnothman in https://github.com/scikit-learn/scikit-learn/pull/14748#issuecomment-530160881,

benefit over a pipeline and creates much confusion. I've seen users do
weird stuff like compare TfidfVectorizer to CountVectorizer but use
different params.

+1 on my side to deprecate it.

I would also deprecate `norm` parameter (for removal) in `HashingVectorizer` as its combination with

[2019-09-11 09:21] rth commented on #6972
Repening since https://github.com/scikit-learn/scikit-learn/issues/14951 proposes a way to solve this by deprecating the norm parameter in `HashingVectorizer`.

[2019-09-11 09:35] ogrisel commented on #14925
I am also in favor of upgrading the min doc requirements to a more recent matplotlib.

matplotlib 1.5.3 was released in December 19, 2016.

What about 2.1.2 released in February 2018? Alternatively 2.0.2 released in May 10, 2017.

[2019-09-11 09:44] rth commented on #14449
On a related topic, do we intend to drop Python 3.5 support for the next release? It's been 4 years since the 3.5.0 release which is 6 month longer than the NEP timeline (+ some time before we actually release).

Python 3.8 is going to be released in October, and I think it would be good to test it (at least the rc), while supporting 4 python versions is probably too much.

[2019-09-11 09:45] rth commented on #14925
On a related topic, any thoughts when we should drop Python 3.5 support https://github.com/scikit-learn/scikit-learn/issues/14449#issuecomment-530306508 ?

[2019-09-11 09:56] adrinjalali commented on #14449
Travis already supports python 3.8 latest beta, we could add that to the cron job?

[2019-09-11 10:02] ogrisel commented on #14449
I have been testing Python 3.8b4 manually and all tests pass (we just need to make a new joblib release which we are working on at the moment).

[2019-09-11 10:02] jeremiedbb commented on #14905
I'm asking them to be sure to do the right thing. And currently it still involves setting environment variables (less but still). I opened https://github.com/conda-forge/compilers-feedstock/issues/15 on conda-forge.

[2019-09-11 10:03] ogrisel commented on #14449
+1 for supporting 3 python versions and Mari Kondo-ing older CPython version as we go (hoping that PyPy will not accumulate too much lag).

[2019-09-11 10:06] rth commented on #14449
??

[2019-09-11 10:14] ogrisel commented on #14449
https://www.youtube.com/watch?v=qo2v645STW0

[2019-09-11 10:20] smujjiga opened #14952 "Documentation: Size of intercept_ in LDA should be (n_classes)"
## Description
Documentation: Size of intercept_ in LDA should be (n_classes)

https://github.com/scikit-learn/scikit-learn/blob/1495f6924/sklearn/discriminant_analysis.py#L189

In a mutliclass LDA classification the size of

- Weights (coeff) are `n_classes x n_features`
- Intercept is `n_classes`

In documentation for intercept it is given as `shape (n_features,)` which I thing is wrong.

[2019-09-11 11:06] jnothman opened #14953 "Handle pd.Categorical in encoders"
In `sklearn.preprocessing._encoders._BaseEncoder`, columns with pd.Categorical dtype are converted to arrays.

https://github.com/scikit-learn/scikit-learn/blob/03ea20db0f9585fa0d44f4d3cae4b4c4a7c7f235/sklearn/preprocessing/_encoders.py#L60

If the `categories` ordering is explicitly specified by the user to the constructor of `OneHotEncoder` or `OrdinalEncoder`, then this is fine... but if 'auto'

[2019-09-11 11:13] jnothman opened #14954 "OrdinalEncoder: Deprecate automatically assuming lexicographic ordering"
Currently, using OrdinalEncoder with a string-valued feature, and without `categories` explicitly specifying an order, means that OrdinalEncoder will number the categories according to their lexicographic ordering.

This is not appropriate if the categories have a natural ordering (e.g. ['Green', 'Amber', 'Red']) that can be harnessed by the downstream estimator.

Rather, we should allow the user

[2019-09-11 11:14] jnothman commented on #14563
I'm replacing this by #14954 (and #14953) given some consensus around https://github.com/scikit-learn/scikit-learn/issues/14563#issuecomment-521480568. Hope that's okay @NicolasHug

[2019-09-11 11:14] #14563 closed

[2019-09-11 11:33] Francis-Hsu opened #14955 "LogisticRegressionCV : scores_ not reshape properly when applying elasticnet"
#### Description
Arrays in `scores_` attribute of `sklearn.linear_model.LogisticRegressionCV` may be in wrong order when tuning elastic net with `C` and `l1_ratios` together. For example, with binary classification `scores_` contains one array, with shape `(n_folds, n_cs, n_l1_ratios)` according to the document. Hence if mean is taken across CV folds then the resulting 2D array should have columns

[2019-09-11 11:38] d-goldin commented on #14547
This failure also happens on NixOS (current master branch) with numpy 1.17.2 and scikit-learn 0.21.2.

[2019-09-11 11:40] massich opened #14956 "fetch_california_housing fails in CI on master"
#11213 CI no longer passes and it only touches documentation. We run the following with @lucyleeow:

[code]
And apparently 15f24f25d broke the CI.

Here's the bisect log:
[code]

[2019-09-11 11:44] rth commented on #14956
Fixed in 411455ec8ece6a8da09e554ec9a96142bb53a892 cf discussion in https://github.com/scikit-learn/scikit-learn/commit/15f24f25d031d21a46fdfbe0a4806a3af7684a49#r35036896 )

[2019-09-11 11:49] massich commented on #14956
GREAT!! can you ping @lucyleeow once is fixed in master, so that she can merge master and fix the PR? Thx.

[2019-09-11 11:51] #11533 closed

[2019-09-11 12:03] agramfort commented on #14897
well my understanding of the philosophy is the following:
- it's different skillsets to write and maintain an API with object
hierarchy etc... than it is to write efficient numerical code
- if I am a numerical guy used to fortran / matlab  or whatever then I
optimize / edit plain functions
- if i want a fast kmeans / fastica I just rely on the functions that also
tend to do less input checks than

[2019-09-11 12:06] jnothman commented on #14956
Apologies!

[2019-09-11 12:15] rth commented on #14956
Hmm, now `fetch_california_housing` fails with an SSL error on master. Unrelated to commits on master. re-opening.

[2019-09-11 13:22] emsi opened #14957 "roc_auc_score documentation does not specify order of returned values for average=none"
`roc_auc_score` documentation does not specify order of returned values when called with `average=none`
For example:
[code]

Returns an array:
[code]

It's not specified in documentation what is the order of classes and thus returned values.
Since `auc` has no `reorder` any more it is not even clear if the order as returned by `roc_auc_score` is compatible with previous versions (it seems so). It

[2019-09-11 13:54] jnothman commented on #14957
In this case, the order is determined by (and available in the attributes of) `LabelBinarizer`.

`reorder` had nothing to do with the order of the values returned by `roc_auc_score`.

[2019-09-11 13:59] rth commented on #14956
So the error is
[code]

figshare seems fine (https://status.figshare.com/ is also fine). So my guess is either something changed in conda or in Azure VMs. Looking for a fix in https://github.com/scikit-learn/scikit-learn/pull/14958

[2019-09-11 14:09] emsi commented on #14957
This answer does not reflect the question.

[2019-09-11 14:43] NicolasHug commented on #14897
I agree with all these points @agramfort 	but this is not the kind of functions we are dealing with here.

The `k_means()` function does **all** the work, including input checking. It is not at all faster than the estimator in any way.

I think you are talking about fast helpers e.g. cythonized routines, which are private anyway (or not explicitly exposed, at least). But this is not the problem we

[2019-09-11 16:02] adrinjalali commented on #9250
I'm taking the `tree` and `ensemble`, since they're interrelated.

[2019-09-11 16:23] bcbrock opened #14959 "PowerTransformer 'divide by zero encountered in log' + proposed fix"
#### Description
PowerTransformer sometimes issues 'divide by zero encountered in log' warning and returns the wrong answer.

#### Steps/Code to Reproduce

[code]

#### Expected Results

The result after my proposed fix detailed below.

[code]

#### Actual Results

[code]

#### Versions

I installed the GitHub master branch as of this morning.

[code]

#### My Analysis and Proposal

I don't claim

[2019-09-11 16:43] thomasjpfan commented on #14449
We have to say thank you before we trash it. 🤗

[2019-09-11 16:51] rth commented on #14042
+1 to deprecating the support of `RandomState` instance. Numpy now has a new RNG API with `numpy.random.Generator` and there is a chance people start using that, so instead supporting neither is probably simpler.

I'm not sure how `random_state=None` would be handled in that case though.

[2019-09-11 17:36] thomasjpfan commented on #14956
I was able to reproduce this error locally. Going from openssl 1.1.1d to 1.1.1c resolves the issue on posix systems.

On the CI, Windows works fine with openssl 1.1.1d.

[2019-09-11 19:48] amueller commented on #10823
I think this is fixed by #14593, please comment if you disagree

[2019-09-11 19:48] #10823 closed

[2019-09-11 20:45] jnothman commented on #14957
Then reword it because the question is patently unclear, or else you have not understood the answer. You say

You have passed in a matrix of binary class indicators (produced by LabelBinarizer) and another of scores. Each is shaped (n_samples, n_classes) and you get a score returned for each class.

If you really think the documentation can be improved please open a pull request doing so.

[2019-09-11 21:04] jnothman commented on #14957
When you reply dismissively without attempting to clarify, and without respecting the effort volunteered to assist you, it appears as very ungrateful and unpleasant behaviour.

[2019-09-11 21:04] #14957 closed

[2019-09-11 22:52] dakotagrusak commented on #14959
@jnothman, I can help with this. Can a PR for the above changes be made before the remaining issues are addressed?

[2019-09-11 23:45] jnothman commented on #14959
I've not looked into this yet, just did preliminary triage

[2019-09-11 23:52] jnothman commented on #14959
I've not looked into this yet, just did preliminary triage.

@bcbrock have you reported this to scipy?

@dakotagrusak I'm a little concerned by issue 1. The implication here is that the _yeo_johnson_transform is not numerically stable. This is not entirely surprising given how large and varied the numbers on the OP dataset are. It might be worth investigating if we can make the transform stable.

[2019-09-11 23:59] bcbrock commented on #14959
@jnothman - No, I have not reported this to spicy, but I will within the next 24 hours

[2019-09-12 01:40] venkyyuvy commented on #14954
Can I work on this?

[2019-09-12 02:31] jnothman commented on #14954
Yes, but there might be some dispute among core developers about what the
correct API looks like. If you give it a go and open a pull request, that
at least gives us something tangible to consider.

[2019-09-12 04:16] sayakpaul opened #14962 "MultiLabelBinarizer gives individual characters instead of the classes"
Hi.

I am working on a Multi-label text classification problem. In order to encode the labels, I am using `MultiLabelBinarizer`. The labels of the dataset look like -

![image](https://user-images.githubusercontent.com/22957388/64753547-42b10a00-d541-11e9-80b2-f0a9245df327.png)

When I am using

[code]

I am getting -

![image](https://user-images.githubusercontent.com/22957388/64753625-78ee8980-d

[2019-09-12 04:27] jnothman commented on #14962
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-09-12 04:27] #14962 closed

[2019-09-12 04:28] sayakpaul commented on #14962
Thanks.

[2019-09-12 15:56] glemaitre opened #14969 "Enhancement for partial dependence plot"
The partial dependence plot function could be improved

- [ ] Add support for categorical columns (https://github.com/scikit-learn/scikit-learn/pull/18298)
- [x] Once the support for the dataframe is merged (#14028), we should make `feature_names` optional when `X` is a dataframe. (#15429)
- [x] Once the support for the dataframe is merged (#14028), we could simplify the to automatically infer the

[2019-09-12 20:34] DrGFreeman opened #14970 "RepeatedKFold and RepeatedStratifiedKFold do not show correct __repr__ string"
#### Description

`RepeatedKFold` and `RepeatedStratifiedKFold` do not show correct \_\_repr\_\_ string.

#### Steps/Code to Reproduce

[code]

#### Expected Results

[code]

#### Actual Results

[code]

#### Versions
[code]

[2019-09-13 08:20] ogrisel commented on #14042
## About the `random_state=None` case.

We would still need to use the numpy singleton rng to get a new seed at each time, no? Otherwise it's not easy to have a python program that gives different outcome whenever you launch it.

So the questions boils down to two options:

A. do what we do now: instantiate an RNG instance at each call to fit

B. grab an int seed from the singleton at construction

[2019-09-13 08:31] ogrisel commented on #14034
+1 for storing a seed as fit param and reuse that to seed an rng in fit only when `warm_start=True`.

AFAIK, `np.random.RandomState` accept `uint32` seed only (between `0` and `2**32 - 1`). So the correct way to get a seed from an existing random state object is:

[code]

[2019-09-13 08:39] rth commented on #14042
Why does it have to be at construction time? Can't we do it in `.fit` only the first time (i.e. when `random_state=None`), in following calls it will be an int, and we can then initialize an RNG as a local variable from it.

Which should satisfy both conditions I think?

[2019-09-13 08:42] ogrisel commented on #14042
But then it would mean than `fit` does not forget previous calls to `fit` (even when `warm_start=False`) which breaks the contract for `sklearn.base.clone`.

[2019-09-13 08:48] rth commented on #14042
Hmm, I suppose it's about which rules we are happy to relax. So if I understand correctly with C) if you init an estimator then clone it, the .fit is not going to use the same RNG on the clone. So in that sense it's somewhat similar to A).

Maybe mutating `__init__` for random state is OK then I don't know. Do you remember the initial motivation for not allowing it?

[2019-09-13 08:52] ogrisel commented on #14042
Because we want to have `__init__` and `set_params` to behave consistently to ease the assumption we can make about parametrize model and integration with hyperparam selection tools. But maybe we can special case `random_state=None`.

[2019-09-13 09:41] cmarmo opened #14974 "[RFC] Update of the 'Funding' page on scikit-learn.org"
The [sponsor](https://scikit-learn.org/stable/about.html#funding) page on the scikit-learn website needs to be updated in particular with references to the scikit-learn Consortium, but probably other recent funding are missing?
The logo footer on the homepage probably needs to be updated too?

WDYT?

Do you mind if I collect the necessary information and propose a PR?
SVG logos are also welcome...

[2019-09-13 12:00] lucyleeow commented on #14956
I think this can be closed, #11213 is green now.

[2019-09-13 12:51] glemaitre commented on #14970
The `__repr__` is not defined in the `_RepeatedSplit` class from which these cross-validation are inheriting. A possible fix should be:

[code]

We would need to have a regression test to check that we print the right representation.

[2019-09-13 12:57] glemaitre commented on #14959
So we should port the scipy fix for the boxcox and write/propose/sync a fix for yeo-johnson.

[2019-09-13 12:58] #14956 closed

[2019-09-13 13:58] glemaitre commented on #14955
I think that you are right. From what I can see the function `_log_reg_scoring_path` will return scores as an array of `n_Cs`. `Parallel` is called on `_log_reg_scoring_path` to get the different `l1_ratio` and the outer loop is the `n_folds`. `Cs` being the most inner part, the array `scores_` should be reshaped as a `(n_folds, n_alphas, n_Cs)` array.

This diff should be a fix:

[code]

Then, we

[2019-09-13 13:59] cmarmo opened #14975 "[DOC] WARNING: citation not found"
#### Description
While building the documentation two citations could not be found
[code]

#### Steps/Code to Reproduce
Build the documentation

#### Comments
Two similar references are available in the text, maybe a typo?
- [RR2007](https://www.robots.ox.ac.uk/~vgg/rg/papers/randomfeatures.pdf)
- [B1999] L. Breiman, "Pasting small votes for classification in large
         databases and on-line",

[2019-09-13 13:59] glemaitre commented on #14955
FYI this is an array order but only a wrong reshaping.

[2019-09-13 14:01] glemaitre commented on #14955
We would also need a regression test.

[2019-09-13 14:09] glemaitre commented on #14975
F1999 refers to this article: https://statweb.stanford.edu/~jhf/ftp/stobst.pdf

[2019-09-13 14:17] glemaitre commented on #14975
And the other one was:

 .. [R2007] G. Ridgeway, "Generalized Boosted Models: A guide to the gbm package", 2007

[2019-09-13 14:28] cmarmo commented on #14975
Thanks @glemaitre I will add the fix in the next bunch of doc fixes.

[2019-09-13 15:12] DrGFreeman commented on #14970
Hi @glemaitre, I'm interested in working on this fix and the regression test. I've never contributed here so I'll check the contribution guide and tests properly before starting.

[2019-09-13 15:35] rth commented on #14974
+1 . Also that pages states,

Last changed by Gael 6 years ago. The situation probably is more complex now.

Btw, that page currently shows a SSL security warning because some of the images are load over plain HTTP. That might be worth improving as well.

[2019-09-13 15:40] petibear opened #14977 "iForest - support for height limit (`hlim`) evaluation parameter"
The current fitting & predicting with iForest follows the original ["Isolation paper" paper from 2008](https://cs.nju.edu.cn/zhouzh/zhouzh.files/publication/icdm08b.pdf). Every iTree is allowed to grow to maximum of `ceil(log_2(nr_samples))` levels implemented by [setting](https://github.com/scikit-learn/scikit-learn/blob/dd6e5f8a0ce6b498f2704adb2f9989769903d462/sklearn/ensemble/iforest.py#L273) t

[2019-09-13 15:43] glemaitre commented on #14970
Thanks @DrGFreeman, go ahead.

[2019-09-13 15:45] minggli commented on #14547
Hi happy to look at this issue and propose a fix :)

[2019-09-13 15:56] thomasjpfan commented on #14547
I have seen this test fail randomly from the time to time in our PRs.

BTW replacing `assert_array_almost_equal` with `assert_allclose` and adjusting the `rtol=1e-6` should resolve this issue and #14513

[2019-09-13 16:25] ogrisel commented on #14897
I am also not so sure about the actual value those functions (`k_means`, `fastica`) bring to the user.

This actually brings some value to the user on the other hand.

Let's have a look at the estimator-related functions documented in our official public API:

https://scikit-learn.org/dev/modules/classes.html

- For covariance matrix estimation, it kinds of makes sense to provide a function that d

[2019-09-13 16:30] trbedwards commented on #14672
Sorry for the inactivity on this one, feel free to pick up this issue, I'll work on other issues for now!

[2019-09-13 17:02] minggli commented on #14547
raised #14978 , pre-packaged numpy seems fine passing the test.

[2019-09-13 17:20] #14664 closed

[2019-09-13 17:38] jeremiedbb opened #14979 "Vendor threadpoolctl"
As discussed in #11950 and #14265, we need a way to control at runtime the number of threads OpenMP or BLAS are allowed to use. This is to prevent oversubscription in nested parallelism of the form
[code]

(Note the backend='loky' case should/will be handled by loky itself)

With @ogrisel and @tomMoral, we've been working on [threadpoolctl](https://github.com/joblib/threadpoolctl) to solve this is

[2019-09-13 17:47] rth commented on #14979
Could you remind me what was the argument for vendoring it in scikit-learn as opposed to joblib? Given that it's very parallelism dependent.

[2019-09-13 18:23] thomasjpfan commented on #11463
Thank you for your input @ogrisel and @arkanoid87 .  I'll update the PR with a motivating example and see if there are any improvements to the implementation.

[2019-09-13 18:47] thomasjpfan commented on #14851
@ingrid88 Thank you for testing this issue!

@hr0109 May you make your code snippet deterministic, by using `RandomState(123).randint(...)`, so we can reproduce the issue?

[2019-09-13 20:10] thomasjpfan commented on #14952
You are correct. Do you want to submit a PR to resolve this issue?

[2019-09-13 20:20] thomasjpfan commented on #14977
Given the number of citations (308) and that it is the original authors this should be in scope.

One way to implement this is to add a `hlim` parameter to `IsolationForest` which will set `max_depth` to `None`. During prediction, `IsolationForest._compute_score_samples` would need take `hlim` into consideration.

[2019-09-13 20:49] thomasjpfan commented on #8447
Work was done here: https://github.com/scikit-learn/scikit-learn/pull/8474 but it was decided to be not in scope of scikit-learn.

[2019-09-13 21:20] thomasjpfan commented on #14042
state in fit rather than mutating it.

This option can also be used to deal with `random_state=None` or our current situation. Although this would mean storing `RandomState.get_state`, which contains 624 unsigned ints.

[2019-09-13 21:57] petibear commented on #14977
Thanks @thomasjpfan , I'd then happily give it a go.

The approach sounds good & thanks for the hints. I'd have one more question though: would it be OK if besides a default `None` (implying the current behavior) and an explicit integer value  also something like `'auto'` was allowed for `hlim` ? The latter would imply setting `hlim` automatically to `nr_samples-1` (i.e. the suggested default in t

[2019-09-13 22:01] cibic89 opened #14981 "Provide an option to turn off value sorting when fitting LabelEncoder"
#### Description
Current implementation sorts labels internally and this is not always ideal.

#### Steps/Code to Reproduce
[code]

#### Expected Results
Fit model

#### Actual Results
The last command will return this: "XGBoostError: [01:56:51] ./xgboost-win64_release_0.90/src/objective/multiclass_obj.cu:110: SoftmaxMultiClassObj: label must be in [0, num_class)."

#### Versions
[code]

[2019-09-13 23:46] thomasjpfan commented on #14977
`auto` sounds reasonable.

Before you dive too deep, it would be good to hack together a prototype and show an example when this can be useful. The paper suggest this is useful when the anomalies are clustered. Figure 11 seems to suggest that `hlim=1` is good.

[2019-09-14 02:11] DrGFreeman commented on #14970
After adding the `__repr__` method to the `_RepeatedSplit`, the `repr()` function returns `None` for the `n_splits` parameter. This is because the `n_splits` parameter is not an attribute of the class itself but is stored in the `cvargs` class attribute.

I will modify the `_build_repr` function to include the values of the parameters stored in the `cvargs` class attribute if the class has this at

[2019-09-14 08:15] qinhanmin2014 commented on #14897
+1, why can't we make k_means private? Maybe we should encourage users to use classes instead of functions? (except for some special cases, e.g., make_pipeline, scale)

[2019-09-14 09:04] glemaitre commented on #14970
It would be easier to discuss if you open a PR (we can checkout the code and try locally)
Be aware that modifying `_build_repr` will affect the other representation of the cross-validation.

[2019-09-14 15:06] johannfaouzi commented on #14034
I did something that is not as good for HGBDT:
https://github.com/scikit-learn/scikit-learn/blob/06632c0d185128a53c57ccc73b25b6408e90bb89/sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py#L142
It would probably be worth changing this as well.

I can work on this if there is no one.

[2019-09-14 17:40] sayakpaul commented on #14962
@jnothman, I have posted this on [StackOverflow](https://stackoverflow.com/questions/57917936/multilabelbinarizer-gives-individual-characters-instead-of-the-classes) as well.

[2019-09-14 20:00] #14513 closed

[2019-09-14 20:00] #14547 closed

[2019-09-14 21:40] #12649 closed

[2019-09-14 22:04] Francis-Hsu commented on #14955
As I check `sklearn.linear_model.ElasticNetCV` does not seem to have this issue.

[2019-09-15 12:01] moshgreene commented on #14059
I'm having the same issue as @khangpng.
scikit-learn==0.22.dev0

[2019-09-15 12:18] glemaitre commented on #14955
It does not use the same code under the hood.

[2019-09-15 12:53] NicolasHug commented on #14034
PR welcome @johannfaouzi :)

Also instead of having `_small_trainset_seed` and `_train_val_seed` maybe we can just have one single seed. And I just realized that seed should also be passed to the binmapper that will also subsample.

[2019-09-15 13:07] agramfort commented on #8447
this code from #8474
<https://github.com/scikit-learn/scikit-learn/pull/8474> could eventually
be moved to https://github.com/scikit-learn-contrib/scikit-learn-extra

[2019-09-15 14:44] ptocca commented on #14304
I have submitted PR #14986 with (a first attempt at) the proposed changes.

[2019-09-15 17:06] agramfort commented on #14897
I buy the argument of avoiding to duplicate input checks. I've seen before
a copy done in the fit method and then in the subsequent plain function.

it's also not a great option have a public parameter validate=True | False.
It's nicer to have a private function in that case that does no input
validation as for a cython function call.

I would consider the context manager that skips all checks but

[2019-09-15 17:19] NicolasHug opened #14988 "Inconsistency between fastica and FastICA"
`fastica` returns `W` which is, according to the docs "the unmixing matrix"

`FastICA` has a `components_` attribute which is also "the unmixing matrix"

But they are not equal when `whiten` is True:

[code]

I don't know whether this is a bug (I hope it is), but if it's not the doc should be updated.

ping @agramfort

[2019-09-15 17:26] NicolasHug commented on #14897
As a first step I would be happy with starting to deprecate all the functions of `cluster` that have an obvious equivalent.

[2019-09-15 20:06] borislav-milkov commented on #14888
Could I work on this?

[2019-09-15 21:10] albertcthomas commented on #14977
@petibear you can have a look at PR #5815 where this has been discussed and partially implemented. As said by @thomasjpfan we would first need a benchmark showing that this parameter would be useful, keeping in mind that it is hard to perform model selection for anomaly detection.

[2019-09-15 21:19] jnothman commented on #14888
I don't think we have quite reached consensus on what the right behaviour
is. Which doesn't mean you shouldn't try, particularly if you have a
reasoned opinion.

[2019-09-15 23:06] jnothman commented on #14981
It would be helpful if you could clarify your use case

[2019-09-16 05:55] smujjiga commented on #14952
Yes I will do.

[2019-09-16 06:49] Mjfreder opened #14990 "scikit-learn agglomerative clustering problem with varying cluster numbers and caching"
We are trying to run agglomerative clustering (Wards) on a range of cluster numbers (i.e. N=2-9) without having to rerun the tree for each individual value of N, by using the cache. In other words run fit over different values of N, without re-clustering every time. However, we are getting syntax errors and not able to call up the labels for any of the clusters stored in cache afterwards.  Code lo

[2019-09-16 07:43] cmarmo commented on #14974
Indeed..
The two mixed content images are
http://www.svi.cnrs-bellevue.fr/wikimedia/images/Logo_svi_inp.png
http://www.fnrs.be/en/images/FRS-FNRS_rose_transp.png
no longer available on-line, used in the [2013 Paris sprint](https://scikit-learn.org/stable/about.html#the-2013-paris-international-sprint)... is this paragraph still relevant?

[2019-09-16 08:09] albertcthomas commented on #14977
Also related was the original issue opened by @glouppe #5789. PR #5815 was recently closed because there was no consensus on whether it was useful to add the height limit parameter. This is why we would first need to have a benchmark.

[2019-09-16 08:19] jnothman commented on #14990
inputDF{2} is not valid python.
This issue tracker if for the us to manage bugs and new features.. Usage
questions belong in forums like stack overflow

[2019-09-16 08:19] #14990 closed

[2019-09-16 09:10] rth commented on #12927
I'm wondering about the effect on merge conflicts of this. If it was just a rename, git would probably handle it fine, but we are both moving `file.py` to `_file.py` and re-creating `file.py` to raise the deprecation warning there. I think that would result in quite bad conflicts. For instance https://github.com/scikit-learn/scikit-learn/pull/10665  that changes `neural_network/multilayer_perceptr

[2019-09-16 09:31] cibic89 commented on #14981
Hi Joel,
Thank you for getting back. There are times where changing the labels in the response variable to control the label enconder's ordering isn't ideal e.g. due to agreed business requirements. Another reason, that is more common, is for machine learning where some ML algorithms such as xgboost can't have a gap between encoded labels. Usually this happens when one of the response labels is a

[2019-09-16 10:21] jnothman commented on #14981
In what case do you need to change the labels on order to control the label
ordering. I can't think of cases where are learning algorithms are
intentionally dependent on order. Metrics are, but they can be configured
reasonably easily.

[2019-09-16 10:41] cibic89 commented on #14981
Which part of "xgboost throwing an error because there is a missing label" isn't clear?

[2019-09-16 11:05] jnothman commented on #14981
You said "another" so I asked about the first.

how does not sorting fix xgboost?

[2019-09-16 11:08] jnothman commented on #12927
Or maybe what we need is a tool to help solve such merge conflicts. It's
still the same patch, it just needs to be applied with respect to a
different path.

[2019-09-16 11:58] #14970 closed

[2019-09-16 12:44] ogrisel commented on #14897
I don't have a strong opinion. I think we should do an audit on github on how many times those functions are used by other projects / code snippets and notebooks that use scikit-learn.

It seems that it is non-zero but it's hard to write a specific github search query to only display the function calls.

[2019-09-16 12:48] cibic89 commented on #14981
Basically I have a labels as such:
[Label1, label2, label3, missing_label_val, label5]
Encoded as such:
[0, 1, 2, 3, 4]

I can order things as I want to have the label I'm going to take out for ML at the end but if label encoder sorts them internally, in my case its always label 3 leaving the labels as 0,1,2,4 causing an error in xbgoost.

[2019-09-16 13:09] #14952 closed

[2019-09-16 13:12] jnothman commented on #14981
I think you're going to need to demonstrate with a runnable code snippet.
It sounds like maybe you can be using the encoder differently.

[2019-09-16 13:25] NicolasHug commented on #14897
BTW, public object using public function = ugly code and API like that of `fastica` (below): need to add a `return_blahblah` parameter every time you want to add a new attribute to the object.

<details>

[code]

</details>

I've opened PRs to put them in the correct order, but I'm stuck by this potential bug so please take a look at #14988 	.

[2019-09-16 13:27] glemaitre commented on #14981
I have 2 remarks/questions regarding the issue:

* I was not aware that xgboost could handle semi-supervised learning. Are you feeding data with a missing label or do you filter your data. In the second scenario, filtering before or after the encoding would be the same burden, so I don't think that not having the feature would be an issue.
* We have some semi-supervised algorithm in scikit-learn.

[2019-09-16 14:20] NicolasHug opened #14995 "mean_shift and MeanShift don't have the same API"
I'm trying to make `mean_shift` call `MeanShift.fit` (related to #14897 )

but `mean_shift` has a `max_iter=300` parameter and `MeanShift.fit`  uses the default, so I cannot preserve backward compatibility without adding `max_iter` to `MeanShift`.

Should I just do that?

[2019-09-16 14:29] IlyasAzeem opened #14996 "Survey on Pull Request Prioritization"
Dear Pull Requests integrators,
We are an international group of researchers investigating Pull Requests management activities. We implemented an automated approach, named CARTESIAN, for prioritizing Pull Requests (PRs) received by an open-source project according to the likelihood of acceptance/response. We would like to evaluate whether CARTESIAN can help integrators when reviewing PRs.
As we no

[2019-09-16 14:47] harsh020 commented on #14614
@thomasjpfan Sorry for commenting again, but I have been wondering about this issue for a long time now. If any other imputer tends to use `MissingImputer` internally, and we did have a precomputed metric,

- it may be that the imputer using `MissingImputer` might have imputed missing values already.

Moving on, say we had a parameter `precomputed` that were to be used only internally, then we cou

[2019-09-16 15:30] harsh020 commented on #14953
@jnothman Hi, I am a bit new to open source and would like to work on this issue, if available.

Let me know if I got things correct,

if any of the above point hold true we need to raise warning.

Few queries,
- should we raise the warning in the `__init__` , or during `fit` or the `_fit` of the base class.
- could you please explain a bit on the third point, i.e,

Few queries in general, if you

[2019-09-16 15:44] thielepaul opened #14997 "QDA Classifier: divide by zero if data not of full rank"
#### Description
When using the QDA classifier with data that is not of full rank, matching does not work and and a divide by zero error is raised. An example dataset can be found in the code below.

#### Steps/Code to Reproduce
[code]

#### Expected Results
No divide by zero errors occur and the prediction works correctly.

#### Actual Results
Prediction fails for all the samples in the class and

[2019-09-16 15:52] thielepaul commented on #14997
If additional code is added to `discriminant_analysis.py` that checks that `S` is never zero (e.g. `S[S < self.tol] = self.tol`) the problem is resolved for me. However, I am not sure if this is the correct fix for the issue.

[2019-09-16 16:41] NicolasHug commented on #12927
I agree that the conflicts aren't as trivial as I thought.

The solution I could come up with so far is that the PR authors must create a commit where they rename `file.py` into `_file.py` and create a new empty `file.py` (or better check it out from master).

Then the merge with master is easy.

But the process isn't necessarily obvious yeah

[2019-09-16 18:21] Catadanna opened #14998 "Error : cannot import name OrdinalEncoder"
Hallo,

I have a problem importing OrdinalEncoder.
I do:

[code]
Now, other classes from `sklearn.preprocessing` like `StandardScaler` or `LabelBinarizer` can be imported but not this one.

I use :
Ubuntu 18.04.3
Scikit version : 0.19.1
Python version: 3.6.8
Jupyter Notebook

I have both Python2 and Python3 on my computer, and the Jupyter Notebook file is a Python3.

#### Description
When I run th

[2019-09-16 19:46] thomasjpfan commented on #14998
`OrdinalEncoder` was added in sklearn 0.20

[2019-09-16 20:25] glemaitre commented on #14998
I'm closing then.

[2019-09-16 20:25] #14998 closed

[2019-09-16 20:27] glemaitre commented on #14996
Please use the mailing list for such enquiry. This is an issue tracker.

[2019-09-16 20:27] #14996 closed

[2019-09-16 20:30] glemaitre commented on #14944
closing then

[2019-09-16 20:30] #14944 closed

[2019-09-16 20:40] glemaitre commented on #14932
The data are downloaded from figshare and the link that you are mentioning:

https://github.com/scikit-learn/scikit-learn/blob/1495f69242646d239d89a5713982946b8ffcf9d9/sklearn/datasets/species_distributions.py#L58-L70

I tried the binder link and the example is working. Our CIs did not fail as well.

[2019-09-16 20:40] #14932 closed

[2019-09-16 20:56] glemaitre commented on #14943
Your code is not representative of what is happening internally. The split for validation is different than the one in SGDRegressor leading to different results anyway.

NB: be aware that `clone` does not copy the internal parameters of a fitted estimator. It will just make a new clean instance. If you are using this to store a copy of the estimator, it will not work. Probably making a deepcopy is

[2019-09-16 20:56] #14943 closed

[2019-09-16 21:01] glemaitre commented on #14922
`model.fit(X_train, y_train).predict(X_test)`

Be aware that this is an issue tracker. Please send an email to the mailing list of scikit-learn, ask question on stack-overflow or to the scikit-learn gitter.

[2019-09-16 21:01] #14922 closed

[2019-09-16 21:02] jnothman commented on #14953
I think check_array treats pandas categoricals as strings for now. You can
try!

And the condition for warning is that all of the above hold, not any.

[2019-09-16 21:07] petibear commented on #14977
Thx, @albertcthomas. I've read the two PRs, and they're indeed related, however they speak about the existing `max_depth` and not so much about the `hlim` _evaluation_ parameter, which I suggest to add here. But, yes, they too are very related.

Anyhow, I've started working on a rough implementation in order to produce a comparison between:

- two runs with the current logic with a small and a hig

[2019-09-16 21:11] glemaitre commented on #14888
I'm not quite sure what's best here. I have the same feeling than @rth that getting different output type might be surprising.

[2019-09-16 21:19] glemaitre commented on #14886
+1

Does it mean that `warm_start` could be added in `Ridge` then?

If `RidgeCV` does not benefit from having an internal `GridSearchCV`, it should make sense to remove the `cv` parameter.

[2019-09-16 21:40] glemaitre commented on #14882
Probably a key parameter in `SGDRegressor` is the `early_stopping`.

Modifying a bit the code, `SGDRegressor` would actually converge after 1 iteration (+ the iteration of the patience).

This said maybe a complementing the documentation would be nice. By the way in the following section:

https://scikit-learn.org/stable/modules/sgd.html#tips-on-practical-use

we should use a pipeline instead of a

[2019-09-17 01:04] cibic89 commented on #14981
Edited post with a reproducible example.

[2019-09-17 01:08] cibic89 commented on #14981
Not sure how not having responses in the the test-set data and not including them in machine learning is semi-supervised learning? Anyway, try the provided example I posted please and it will make more sense.

[2019-09-17 04:17] IlyasAzeem commented on #14996
Dear @glemaitre,

Thanks for your comment. If you don't mind could you please let me know how to get the mailing list of the integrators in our project? I shall be very thankful to you.

Best wishes

[2019-09-17 04:24] guo18306671737 commented on #14922
@glemaitre  Hi,the model you're talking about is the model after GridSearchCV.,but I want the result predicted on the test set of each parameter model in the search process, not just the prediction of the optimal parameter model.

[2019-09-17 05:01] jnothman commented on #14996
Scikit-learn user and developer mailing list <scikit-learn@python.org>

[2019-09-17 06:08] agramfort commented on #14886
yes if you use iterative solvers eg CG for sparse data.

it still sets automatically a good default grid of alpha so removing it
seems a regression

[2019-09-17 06:14] agramfort commented on #14988
sources = np.dot(self.components_, X.T) with the current code (always and
no matter what is the value of whiten)

It does apply the unmixing transformation to the data (taking into account
the whitening done prior to calling the fastica code).

are you still confused?

[2019-09-17 07:08] Catadanna commented on #11997
A suggestion: assign 0 only for missing values, and starting encoding from 1 (and not from 0 as it is done now), even when there are no missing values in the data set. Such a normalization could help identifying the preceding missing values more easier (in order to handle them).

[2019-09-17 07:18] glemaitre commented on #14886
seems a regression

But the RidgeCV using the LOO will still use this grid of alpha

[2019-09-17 07:23] glemaitre commented on #14922
`GridSearchCV` will not allow you to do that.

You might want to have a look at `cross_validate` where you can set additional option (e.g, `return_estimators`). Combined with `ParameterGrid` you will be able to store all estimators which would be created during a `GridSearchCV` and predict with them.

[2019-09-17 07:42] glemaitre commented on #14981
So your example does not follow a proper supervised-learning workflow.
You should get a fully annotated dataset for training and a non-annotated dataset for testing and this even before to start coding anything with scikit-learn. This is some data wrangling.

To be more specific:

[code]

[2019-09-17 08:07] glemaitre commented on #14981
@jnothman WDYT about the second bullet point of https://github.com/scikit-learn/scikit-learn/issues/14981#issuecomment-531776190

[2019-09-17 08:08] #8976 closed

[2019-09-17 08:14] massich commented on #8976
@glemaitre. Thx

[2019-09-17 10:37] cibic89 commented on #14981
1. Xgboost handles missing values which is cool because I can leave my test-set with an np.nan however LabelEncoder does not accept missing values as a new class/category meaning I have to have a missing value replacement for things to work smoothly.

2. Like I mentioned earlier, you need to prepare a DMatrix (xgboost data format) in the same way as you train set and yes you can do them separately

[2019-09-17 10:45] cibic89 commented on #14981
Supporting missing values in LabelEncoder will definitely fix this issue.

[2019-09-17 11:57] Catadanna commented on #14998
Thank you!

[2019-09-17 12:36] NicolasHug commented on #14988
Sorry I'm still confused. This is unrelated to `sources` as far as I understand.

The problem is that both `W` from `fastica()` and `components_` from `FastICA` are documented as "the unmixing matrix", but they are clearly not the same thing. They don't even have the same shape.

`est.components_` is equal to `W.dot(est.whitening_)` when whiten is True.

<details>

[code]
</details>

[2019-09-17 13:22] glemaitre commented on #14981
This might be an issue concerning the scikit-learn API. We will not allow to pass testing data at `fit` time. In your example, this is actually the `DMatrix` constructor which is dropping the rows with missing targets.

In fact, you can use the scikit-learn compatible API from xgboost:
https://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.XGBRFClassifier

In this case, you can pr

[2019-09-17 14:08] glemaitre commented on #14881
Looks good

[2019-09-17 14:37] #14857 closed

[2019-09-17 15:23] albertcthomas commented on #14977
I agree. But to be closer to the scikit-learn tree API we could think about exposing the `max_depth` parameter which is used for both training and evaluation. The drawback is that if you want to test different `max_depth` values for evaluation you need to retrain the trees... Unless I am missing something I think this is also true for tree estimators such as the `DecisionTreeRegressor`.

[2019-09-17 17:32] thomasjpfan commented on #14306
@ogrisel Have you experimented with `OMP_PROC_BIND`?: https://gcc.gnu.org/onlinedocs/libgomp/OMP_005fPROC_005fBIND.html

[2019-09-17 18:16] agramfort commented on #14988
fastica estimates an unmixing matrix (square) from whitened data
(K.dot(X.T))

now if I give you X and you want to know what is the linear operator to go
from X
to independant sources you are asking me what is the unmixing matrix (it
unmixes
the X to get unmixed / independant sources). This matrix that we call
components_
in FastICA contains the whitener times the fastica output obtained from
whte

[2019-09-17 19:22] harsh020 commented on #14953
@jnothman Thanks.
Just one more thing the last point

Do we have lexicographically sorted feature list? And what is feature's `dtype.categories`
Thanks.

[2019-09-17 19:55] NicolasHug commented on #14988
OK so:

1. the docs are wrong and must be updated

2. `fastica` and `FastICA` do not have the same API: it is impossible to retrieve `W` (as returned by `fastica`) if you use `FastICA`.

Feel free to disagree but I see that as a problem.

[2019-09-17 20:19] narendramukherjee opened #15004 "Numpy float32 giving buffer mismatch error (as double) in Cython code of Isotonic regression"
#### Description
The `_make_unique` method in `_isotonic.pyx` throws buffer mismatch error (only when using float 32, which seems to be recast as double). The error doesn't come up when using float64

(Larger story: I am using CalibratedClassifierCV with isotonic calibration with the probabilities produced by an XGBoost model (which are in float32). CalibratedClassifierCV does not check for float6

[2019-09-17 20:49] jeremiedbb commented on #15004
a and b should have same dtype.

the issue is in `isotonic.py`, in `IsotonicRegression.fit`:
[code]
y should be checked with `dtype=X.dtype`.

[2019-09-17 21:03] thomasjpfan commented on #15004
There is a PR on this: https://github.com/scikit-learn/scikit-learn/pull/14902

[2019-09-17 21:05] cibic89 commented on #14981
What do you mean? I'm the one deipping the test set before I construct the dmatrix. If python and sklearn is meant for making prototyping products then doing your task with as little code as possible is ideal no?

Yes you can but the same error will occur and you have less flexibility to use a custom model performance metric that is fast enough to work with xgboost.

I guarantee you that the given

[2019-09-17 22:36] petibear commented on #14977
I fully agree. I've looked a bit how this evaluation parameter would have to be implemented. In fact, one would need to go to the cython code of [`tree._tree`](https://github.com/scikit-learn/scikit-learn/blob/ef97ab2db4ae6f5e32e11fe4d28e4233ac41338f/sklearn/tree/_tree.pyxx) and add to its [`decision_path()`](https://github.com/scikit-learn/scikit-learn/blob/ef97ab2db4ae6f5e32e11fe4d28e4233ac41338

[2019-09-17 23:27] jnothman opened #15005 "Implement SLEP009: keyword-only arguments"
[SLEP009](https://scikit-learn-enhancement-proposals.readthedocs.io/en/latest/slep009/proposal.html) is all but accepted.

It proposes to make most parameters keyword-only.

We should do this by first:
* [x] Merging #13311
* [x] Perhaps getting some stats on usage of positional arguments as per https://github.com/scikit-learn/enhancement_proposals/pull/19#issuecomment-514671933
* [ ] applying the

[2019-09-17 23:52] jnothman commented on #14881
+1 in general. Let's progress to a specific proposal.

[2019-09-18 00:58] jnothman commented on #14981
You're welcome to contribute with a pull request, but I think more
specification would help here. Handling missing values in LabelEncoder is
interesting and is applicable to our semi supervised learners.

But making a tool more versatile is definitely not something you do without
guards. Expanding the project's scope, and the variations its API accepts,
introduces lots of maintenance risk: it beco

[2019-09-18 01:04] jnothman commented on #14953
I mean that if we use the current encoding logic, we sort the feature's
values. But if the feature has a categorical dtype, it also specifies an
ordering (x.dtype.categories where x is a feature column).

[2019-09-18 03:59] thomasjpfan commented on #14888
I am okay with all numeric = numpy array and anything tabular as a pandas dataframe.

Currently to download anything with strings, a user would run `fetch_openml` which will raise an error. Seeing the error, they set `as_frame=True`. Then, finally, a dataframe is returned.

With `as_frame='auto'`, we will be returning "the best way to represent the data". If there are strings or categories -> data

[2019-09-18 04:53] orivej opened #15006 "0.20.4 sources on PyPI include generated .c files from 0.21.x or master"
[scikit-learn-0.20.4.tar.gz](https://files.pythonhosted.org/packages/20/a0/5ec20d7e460d8ebde9ec5e40cda4339c5f546871c3a5bf9228f615b25618/scikit-learn-0.20.4.tar.gz) on [PyPI](https://pypi.org/project/scikit-learn/0.20.4/#files) includes `sklearn/utils/_cython_blas.c` and `sklearn/preprocessing/_csr_polynomial_expansion.c` (without corresponding `.pyx`). This does not cause any issues using scikit-l

[2019-09-18 05:44] #14868 closed

[2019-09-18 06:50] agramfort commented on #14988
let's say they must be clarified....

ok. If you want to use FastICA in fastica you need to add 2 attributes to
FastICA:

unmixing_matrix_
whitener_

and clarify that components_ is the "linear operator to apply to the data
to get the independent sources. Made using unmixing_matrix_.dot(whitener_)
if whiten is set to True"

or something like that

[2019-09-18 06:55] agramfort commented on #14886
sure but If I want to use Ridge with CV=3 to compare estimators that have
the same folds
then I need to "know" what is a good alpha grid when using GridSearchCV

[2019-09-18 06:57] jnothman commented on #15006
Okay... so maybe we need to invest in automatic releases ;)

I assume that running setup.py does not attempt to compile these, in which case I think it's a fairly innocuous error on my part.

[2019-09-18 07:23] rth commented on #15006
Somewhat related to https://github.com/scikit-learn/scikit-learn/issues/14863

We could add another CI job for that in the wheels CI?

[2019-09-18 07:50] jnothman commented on #15006
We can use Azure to have a deployment Pipeline with automatic and manual
gates, rather than needing the separate wheels repo at all...

[2019-09-18 08:18] rth commented on #15006
We could, I agree.

[2019-09-18 08:42] rshah1990 opened #15008 "Segmentation fault with SVC with probability = True and degree 3"
I am using SVC with predict proba with below hyper-parameter on large data set. it is giving segmentation fault error. code works well for smaller data set.
I don't think its memory issue we are using 96 GB RAM. I have also monitored system using htop during run & I didn't gave impression of memory issue.

**hyper-parameter** :
SVC(kernel='poly',gamma=100,C=10,degree=3,decision_function_shape='ovo

[2019-09-18 08:45] adrinjalali commented on #15005
Realistically, this should be in 0.23. We already have too much on our plate, I think.

[2019-09-18 08:55] rth commented on #14888
Most users would likely want a dataframe irrespective of whether there are strings or not. If only for column labels. I certainly would.

How about `as_frame='auto'` returns a frame when possible, i.e. unless data is sparse?

[2019-09-18 08:58] albertcthomas commented on #14977
Yes exactly, maybe @thomasjpfan can confirm this. And let's first try to have a benchmark.

[2019-09-18 08:59] rth commented on #14888
Also bool, int and float are all numeric, but it doesn't mean that casting them all to float64 is a good idea in general.

[2019-09-18 09:08] cibic89 commented on #14981
If that's the case then no API changes just incorporate under the hood handling of missing values automatically.

If I was to do a pull request and do the change what happens next?
________________________________
From: Joel Nothman <notifications@github.com>
Sent: Wednesday, September 18, 2019 1:59:43 AM
To: scikit-learn/scikit-learn <scikit-learn@noreply.github.com>
Cc: George J <gjnet@live.com>

[2019-09-18 09:47] jnothman commented on #15005
Hmmmm... I don't see why, if the release target is November.

[2019-09-18 10:29] jnothman commented on #14888
(IIRC OpenML uses an ARFF nominal for bool features.)

[2019-09-18 11:05] jnothman commented on #14981
It gets reviewed iteratively, and needs to achieve lazy consensus among
core developers... Two approvals and no vetos.

[2019-09-18 11:15] melnikovsky commented on #10873
Support for the sample weights in the primal problem seems to be easy, see the patch attached.
[L2R_L2LOSS_SVC.sample_weight.txt](https://github.com/scikit-learn/scikit-learn/files/3626035/L2R_L2LOSS_SVC.sample_weight.txt)

Dual problem is not that straightforward.

[2019-09-18 11:25] cibic89 commented on #14981
Someone beat me to it: [https://github.com/scikit-learn/scikit-learn/pull/15009](url)

[2019-09-18 13:20] qinhanmin2014 commented on #15005
I'm wondering whether it's easy to decide which patameters should be positional, e.g., do we think ``PCA(2)`` is reasonable? At least I don't like it.

And how shall we make the decision? I guess we don't want to open a vote for every class/function, right? So is +2 enough, or do we need +3?

[2019-09-18 13:56] rth commented on #15005
It's about leaving some of this to the user discretion, or forcing them to use what we think best. Yes, `PCA(2)` is bad, while `PCA(n_components)` is reasonable. At least I wouldn't object to a PR using it, would you? Users can resent a limitation of their freedom (when to use or not position args) in cases when what there is no overwhelming reason for it.

I would say +2 since the SLEP was accept

[2019-09-18 14:02] qinhanmin2014 commented on #15005
I don't like it but I'm not opposed to it.

Hmm, not sure, but the SLEP is passed?

[2019-09-18 14:09] rth commented on #15005
Let's put in another way. Imagine currently I have a few 1000 lines of perfectly fine code that uses `PCA(n_components)` (and other comparable use cases). If tomorrow it's going to start raising warnings to change it to `PCA(n_components=n_components)`  and require me to do maintenance work without good reason, personally I would be unhappy and will complain about it to whatever project did that.

[2019-09-18 14:29] rth opened #15012 "IsotonicRegression with 2D input and n_features=1"
`IsotonicRegression` works only on 1D data, however I think it should not fail when provided a 2D input with `n_features=1`.

**Example**

In other words the following example (from the docstring) should work without having to flatten `X`,
[code]

[2019-09-18 14:35] rth commented on #15012
BTW `IsotonicRegression` is currently the only estimator that has `{'X_types': ['1darray']}` estimator tags, where `1darray` is never used in common tests, so they check nothing I imagine.

Though supporting 2darray with only `n_features=1` in common tests might also be non trivial.

[2019-09-18 14:40] jnothman commented on #15005
There's no reason to have a higher standard of review here than any other
deprecation, after the SLEP is accepted. The SLEP would have been accepted
if Andy was around.

[2019-09-18 15:50] amueller commented on #15005
@agramfort explicitly argued for accepting ``PCA(n_components)``.

I really think the point made on the mailing list about allowing users to have clear expectations is important. If we can't write down a simple rule it's hard for users to have clear expectations.

Doing some quick stats:
[code]

There's 61 different first arguments in our estimators.

<details>
{'n_components': 25,
 'alpha': 12,

[2019-09-18 16:20] amueller commented on #15012
Right now any ``X_types`` that's not ``2darray`` basically amounts to a "skip".
There's a PR somewhere with ``enforce_estimator_tags_X`` that ideally would enforce this tag.

[2019-09-18 16:20] amueller commented on #15012
#14705

[2019-09-18 16:38] amueller commented on #15008
Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal.

[2019-09-18 16:40] amueller commented on #10873
@melnikovsky do you want to send a PR with a test?

[2019-09-18 16:40] amueller commented on #10873
Don't we have common tests for sample weights? This seems really bad :-/

[2019-09-18 16:56] zoj613 opened #15013 "CalibratedClassifierCV doesn't work well with CatBoostClassifier . Gives wrong output."
#### Description
Problem:
When trying to calibrate the class probability estimates with scikit-learn's `CalibratedClassifierCV`, all I get are 1's for the negative target and 0's for the positive target in a binary classification problem. If I use `CatBoostClassifier` indipendently I get normal looking probabilities. This leads me to believe that this Classifier is not compatible with the calibrat

[2019-09-18 17:36] thomasjpfan commented on #15005
Agreed.

I prefer narrowing the list down to just clustering, decomposition, and meta estimator parameters: 'n_components', 'estimator', 'base_estimator', 'n_clusters', 'n_neighbors', 'steps', 'regressor', 'transformers'

[2019-09-18 17:55] harsh020 commented on #14953
https://github.com/scikit-learn/scikit-learn/blob/03ea20db0f9585fa0d44f4d3cae4b4c4a7c7f235/sklearn/preprocessing/_encoders.py#L85

@jnothman Hey, I thought of doing it as -
In the lines above in line 85, within the if condition we can just check whether the other two conditions are true, that is whether `X_list[i]` is a categorical dtype and then we can check `cats` variable has same order as that

[2019-09-18 18:17] amueller opened #15014 "add explanation to CountVectorizer ngram_range"
See https://stackoverflow.com/questions/20300479/scikit-learn-ngram-range-purpose-in-vectorizers/20310935?noredirect=1#comment101702527_20310935

it might be helpful to add my sentence to the docstring looking at the upvotes and comments on SO.

[2019-09-18 18:18] amueller commented on #15013
sigmoid calibration doesn't usually work well for tree-based models (as mentioned in the documentation). Do you observe the same with isotonic regression?

[2019-09-18 18:19] amueller commented on #15005
Hm that's deprecating ``LogisticRegression(0.01)`` and RandomForestClassifier(100)`` ... I'm not super opposed but also could see some resistance?

[2019-09-18 18:33] #2792 closed

[2019-09-18 18:36] #14703 closed

[2019-09-18 18:39] #14760 closed

[2019-09-18 19:22] jnothman commented on #15005
LogisticRegression(0.01) isn't a thing: the first parameter is penalty

[2019-09-18 19:29] amueller commented on #14953
I agree with the proposed behavior, but I doubt this issue will be easy ;) [also this issue is tagged easy *and* moderate?]

[2019-09-18 19:42] jnothman commented on #15005
I might try get someone to help tackle this (either trying to gather the
usage statistics, or to put the APIs into a form where all can be
considered) over the next couple of days. Is someone else working on it?

[2019-09-18 19:51] amueller commented on #9250
pretty sure folks have not been using ``git move`` correctly. Try doing a single commit that does the move and commit that, before adding anything else. Your PRs don't show files as moved, which means that something went wrong.

[2019-09-18 19:56] zoj613 commented on #15013
I get the same behavior regardless of the parameter I pick. All other tree-based classifiers I have used work as expected. This is the only one producing this bug.

[2019-09-18 20:06] #4816 closed

[2019-09-18 20:07] jnothman commented on #9250
Squash merges will also mess that up.

[2019-09-18 20:30] fhaase2 commented on #15014
I would like to work on this!

[2019-09-18 20:30] rth commented on #12927
Closing as a duplicate of https://github.com/scikit-learn/scikit-learn/issues/9250

If interested, please subscribe to that issue, as currently the conversation is split between here and there, which is confusing to follow.

[2019-09-18 20:30] #12927 closed

[2019-09-18 20:36] amueller commented on #15014
@fhaase2 go for it!

[2019-09-18 21:10] amueller commented on #12800
I agree that we should make it a scipy sparse matrix. Should densifying be considered a bug? also cc @thomasjpfan as a potential todo.

[2019-09-18 21:34] fhaase2 commented on #15014
I provided a PR, with changes also for the TfidfVectorizer and the HashingVectorizer, that also have the ngram_range parameter.

[2019-09-18 21:35] amueller commented on #14265
I would argue that this is a bug that was introduced in joblib when I wasn't looking. It has horrifyingly terrible performance consequences for anything using BLAS, and not also for gradient boosting.
Also, it was a backward-incompatible change made at some point without even a mention in whatsnew, i.e. many people's code got drastically slower.

I find your "name of parameter" summary hard to und

[2019-09-18 21:55] petibear commented on #14977
Now that I have prepared something and think of it ... perhaps this is not what you meant by benchmark, but anyhow ... I have now an [initial implementation](https://github.com/petibear/scikit-learn/blob/iforest_max_depth_benchmark/sklearn/ensemble/iforest.py) and an [example plot](https://github.com/petibear/scikit-learn/blob/iforest_max_depth_benchmark/examples/ensemble/plot_isolation_forest_max

[2019-09-18 22:31] #15014 closed

[2019-09-18 23:12] #7426 closed

[2019-09-18 23:13] TomDLT commented on #9691
Fixed in #10482

[2019-09-18 23:13] #9691 closed

[2019-09-18 23:13] TomDLT commented on #7426
Fixed in #10482

[2019-09-18 23:13] TomDLT commented on #9994
Fixed in #10482

[2019-09-18 23:13] #9994 closed

[2019-09-18 23:14] TomDLT commented on #13596
Fixed in #10482

[2019-09-18 23:14] #13596 closed

[2019-09-18 23:18] TomDLT commented on #8611
It is now possible to give a neighbors graph to spectral clustering (see #10482)

[2019-09-18 23:18] #8611 closed

[2019-09-18 23:19] TomDLT commented on #10463
Solution A was implemented and merged in #10482

[2019-09-18 23:19] #10463 closed

[2019-09-18 23:56] tjdurant commented on #5516
Just commenting that I am looking for a false positive rate for a specific academic use case. So, just one more person that would find it useful. Thanks for all the work on this great package : )

[2019-09-19 01:37] #13887 closed

[2019-09-19 01:54] jnothman commented on #5516
Consider using the multilabel_confusion_matrix to compute FPR yourself. But
maybe we will include a scorer for it in the future.

[2019-09-19 06:26] MotoRZR commented on #13619
Hi any update on this one.  I’ve achieved this in a hacky way by assigning a random number to each group and using that random number as the actual “group” to split on.

There are real world uses where this comes into play.  I work in finance where a lot of the data is panel data such as a customer’s loan payment history.  In my case smaller customer IDs in how long the customer has been on the co

[2019-09-19 06:31] aatish-kayyath opened #15017 "Spectral Clustering error : array must be 2-dimensional and square"
[code]

#### Description

#### Steps/Code to Reproduce

#### Expected Results
<"Should give a silhouette_score">

#### Actual Results

#### Versions

[2019-09-19 07:43] glemaitre commented on #15017
Can you provide a stand-alone script to reproduce the problem ? Please read https://stackoverflow.com/help/mcve.
Also for future reference, can you paste the output of:

[code]

[2019-09-19 07:51] jnothman commented on #13619
As mentioned above, assigning a random label to each group will not have
any effect if the groups have different sizes. There has been little work
here. Perhaps it just needs a confident champion.

[2019-09-19 08:19] ogrisel commented on #14265
We thought that we had implemented oversubscription protection in joblib 1.2 (in the case Python with nested OpenMP/BLAS) but it's actually not the case because of the way the worker processes are started and their runtime initialized (more details in joblib/joblib#880).

@tomMoral has recently been working in improving the way loky starts its worker processes to have more control (tomMoral/loky#2

[2019-09-19 09:05] rth commented on #15008
There were known segfaults in the polynomial SVC kernel in the past https://github.com/scikit-learn/scikit-learn/issues/6687 that should have been resolved, but maybe not everything was.

[2019-09-19 09:39] jeremiedbb commented on #14265
Why should the user care whether we use multithreading via Cython or BLAS? We don't have a parameter to set OMP_MAX_THREADS every time we call np.dot. So why should we have it in other places?

That was exactly the 5th solution proposed at the top of this thread, but no one seemed to prefer it so I did not mention it in the summary. I agree that it's a legit solution which maybe deserved more atte

[2019-09-19 10:40] cibic89 commented on #14981
UPDATE: figured out how to use xgboost built in metrics using the sklearn API and it does sort of solve the problem. Errors from the sklearn API are super unintuitive. It's guesswork to try and solve the bugs even with python API experience.

[2019-09-19 10:40] #14981 closed

[2019-09-19 10:56] tjdurant commented on #5516
@jnothman thanks for the response. However, I wasn't sure if that was possible to do in the context of cross_val_score. Is it?

[2019-09-19 11:04] tjdurant opened #15019 "cross_val_score threshold adjustment"
Apologies if this has been brought up before but a search through current and closed issues didn't return anything to indicate it had.

I have a use case wherein I have picked an optimal decision threshold based on the intersection of sensitivity and PPV when plotted as a function of the decision threshold. The point of intersection corresponds with a decision threshold of 0.3. I would like to run

[2019-09-19 11:24] jnothman commented on #5516
With make_scorer or your own function, sure it is. Though it's not entirely
trivial to do. And cross_validate may be a better option to give you
multiple different scores.

[2019-09-19 11:48] jnothman opened #15021 "Allow scoring callable to return a dict {name: score}"
Following on from #14593, and an enabler for #12385.

A user is currently able to specify multiple metrics for scoring in cross validation or model selection, by setting `scoring` to a dict, mapping names to scoring functions/callables. We also allow for the shorthand of specifying multiple predefined scorers by a list of names.

Following on from #14593, it should be relatively easy to allow the

[2019-09-19 11:50] jnothman commented on #14981
Specific examples of code that triggers super unintuitive error messages
are the only way we can work towards improving them.

Glad you found an answer.

[2019-09-19 11:52] adrinjalali commented on #9250
I did move, as you see in this commit https://github.com/scikit-learn/scikit-learn/pull/14964/commits/df7f54d4d5ec4bef7c9ad8f315967cfa45af9558 but once you create a file with the same name, github gets confused.

[2019-09-19 11:54] KimDoubleB opened #15022 "Indexing error when using fit, score"
Hi. This is my first open source issue.

#### Description

Error name: `IndexingError: Too many indexers`

After creating a model with scikit-learn, an `IndexingError` occurs in the `fit` and `score`. I used `LogisticRegression`, `DecisionTreeClassifier` and `SVC` as models.
The input data for `fit` and `score` was used as pandas DataFrame (using iloc). Input data is put into `df.iloc[train, :]` a

[2019-09-19 12:05] rshah1990 commented on #15008
![image](https://user-images.githubusercontent.com/37735152/65242425-956f6080-db03-11e9-9a1c-ecf3ae47bfa1.png)

import numpy as np
features = np.random.rand(1424506,768)
target = np.random.randint(500000, size=1424506)
from sklearn.svm import SVC
svc = SVC(kernel='poly',gamma=100,C=10,degree=3,decision_function_shape='ovo',probability=True,random_state=42,verbose=True)
svc.fit(features,target)

[2019-09-19 12:06] xachigami opened #15023 "ImportError: DLL load failed (when fitting a k-means model)"
when I import sklearn I get the following error

[code]

[code]

Here is the env I am using:
[code]

[2019-09-19 12:21] tlienart opened #15025 "[docs] Attributes for GradientBoostingClassifier should not include oob_improvement"
#### Description

The current list of attributes for GradientBoostingClassifier in [the docs](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingClassifier.html#sklearn.ensemble.GradientBoostingClassifier) mentions `oob_improvement_` however that attribute is not set:

[code]

last line will error `no attribute 'oob_improvement_'`

#### Solution

~~Remove `oob_impro

[2019-09-19 12:36] cibic89 commented on #14981
Basically:
`import pandas as pd
from sklearn.preprocessing import LabelEncoder as le
from xgboost import XGBClassifier

## Make a dummy dataframe
df1 = pd.DataFrame(
    {"x1": [0,4,2,5],
     "x2": [10,14,12,15],
     "x3": [20,24,22,25],
     "y": ["a", "b", "missing", "z"]}
)
for i in range(15):
    df1 = df1.append(df1, ignore_index = True)
print(df1.shape)
display(df1.head()) # can't remove "

[2019-09-19 12:36] KimDoubleB commented on #15022
Oh, sorry. Error occured in pandas. I try to find solution in pandas.

[2019-09-19 12:36] #15022 closed

[2019-09-19 12:39] glemaitre commented on #14981
Can you provide the full traceback? I wonder if it comes from scikit-learn or xgboost.

[2019-09-19 12:51] glemaitre commented on #15023
This is an issue with your SciPy install.
I would suggest to reinstall it.

[2019-09-19 12:51] #15023 closed

[2019-09-19 12:51] thomasjpfan commented on #15025
`oob_improvement_` is defined when `subsample < 1.0`:

[code]

The docstring for `oob_improvement_` should be updated to reflect this.

[2019-09-19 13:08] gurupavan12 commented on #14110
I have the same issue. Using n_job=1 helped, however, when I run on the same machine and same conda environment on a jupyter notebook instead of spyder, njob=-1 works. What could be the issue?

[2019-09-19 13:12] e3vela commented on #12939
If you are using logs, a workaround would be using the `logging` module to [capture warnings](https://docs.python.org/3/library/logging.html#logging.captureWarnings) and set a filter:

[code]

Other types of warnings will be printed on the console.

[2019-09-19 13:21] adrinjalali commented on #14110
@gurupavan12 we need a reproducible example to investigate the issue. Closing since there doesn't seem to be enough information for us to go on with it. Happy to reopen if you can give us more info to investigate.

[2019-09-19 13:21] #14110 closed

[2019-09-19 13:26] cibic89 commented on #14981
[code]

[2019-09-19 13:49] glemaitre commented on #14981
Indeed, it is raised by the wrapper from `xgboost`. Nothing that we can do regarding improving the error message. However, I am sure that the `xgboost` dev would appreciate a PR with something more explicit.

[2019-09-19 14:01] thomasjpfan commented on #15021
Thank you for making this an issue!

I have an implementation of this that I want to polish up before submitting a PR. I am hoping to enable this feature while making the multimetric code easier to maintain.

Note: Another thing is how `refit` can be a string, which could be passed to `_fit_and_score` so it can check dynamically if the key is in the dictionary returned by the callable. (Trigger an

[2019-09-19 14:03] rshah1990 commented on #15008
![image](https://user-images.githubusercontent.com/37735152/65251035-382fdb00-db14-11e9-87f4-e281cf585caf.png)

Dummy code

import numpy as np
features = np.random.rand(2100000,768)
target = np.random.randint(low =100000,high=500000, size=2100000)
from sklearn.svm import SVC
svc = SVC(kernel='poly',gamma=100,C=10,degree=3,decision_function_shape='ovo',probability=True,random_state=42,verbose=True)

[2019-09-19 14:37] harsh020 commented on #14953
@amueller Thanks for the heads up, I won't be opening any PR until I make sure that the approach is correct and get it reviewed by you guys.

And from your reply I conclude that this approach won't be any good. Still working on it.

Thanks.

[2019-09-19 14:50] adrinjalali opened #15030 "circleci doc build fails on master"
https://circleci.com/gh/scikit-learn/scikit-learn/74950?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[code]

[2019-09-19 14:58] jeremiedbb commented on #15030
It's due to intel-openmp 2019.5, see #15020 and ContinuumIO/anaconda-issues#11294

[2019-09-19 15:09] ogrisel commented on #15030
I had canceled the circle doc build in #15020 because I thought it would be useless. But actually not so I pushed a new empty commit.

[2019-09-19 15:31] harsh020 commented on #14953
@jnothman I was going through the `check_array` function, please correct me if wrong, the function converts any type of object passed to it to an array of features with `string` values.

If, so I think we need to verify the three conditions to raise the warning in the `check_array` function itself.

Thanks.

[2019-09-19 15:42] johannfaouzi commented on #14034
Hmm this issue was about the non-histogram-based version of GBDTs, so #14999 did not do anything about this. I intentionally did not use keywords so that this issue would not be closed.

However I've just been starting working on a fix for this issue :)

[2019-09-19 16:04] amueller commented on #14265
@jeremiedbb sorry I should have started from the top ;)

[2019-09-19 16:07] amueller commented on #14265
@ogrisel the point is that sklearn behavior drastically changed, so that should be documented in the sklearn changelog, right? At least as long as we were vendoring joblib?

[2019-09-19 16:10] amueller commented on #14265
I guess my question for 1-4 would be what "when underlying parallelism is handled by OpenMP" means. Are we inspecting whether the blas we use was built with OpenMP and if so check if there's any call to the blas in the function?

[2019-09-19 16:20] jeremiedbb commented on #14265
No it means our OpenMP based cython code. Let's say you have an estimator with a parallel implementation (based on OpenMP), e.g. HGBT. The question is which one of the following solutions do we want ?
- HGBT should have a `n_jobs` parameter, which defaults to use as many cores as possible
- HGBT should have a `n_jobs` parameter, which defaults to single threaded
- HGBT should have a `n_threads` pa

[2019-09-19 16:24] amueller commented on #14265
But why does the user need to care if we wrote cython code or we're calling blas? How is that relevant to the user?

If we replaced a call to ``dot`` with an OpenMP based implementation of our own the behavior in terms of multithreading wouldn't change (or I might be missing something?) but because we wrote the code we would provide a different interface?

[2019-09-19 16:24] jeremiedbb commented on #14265
I agree that the 5th solution is the more consistent. We let BLAS do what it wants, we should do the same for OpenMP based multithreading.

But having the possibility to get some control on the number of threads is nice, especially for estimators for which the OpenMP parallelism is not in a small part of the algo but at the outermost loop like in my KMeans PR.

[2019-09-19 16:27] amueller commented on #14265
Again, you looked at this way more than I did. But OpenBLAS (optionally?) uses OpenMP under the hood, right?

[2019-09-19 16:29] jeremiedbb commented on #14265
the OpenBLAS shipped with numpy and scipy does not (but you can build it to use OpenMP and link numpy against that). MKL uses OpenMP.

[2019-09-19 16:31] jeremiedbb commented on #14265
I totally agree with that. For small bits of code using OpenMP it's what makes the most sense.

My motivation is for estimators like KMeans for which the parallelism happens at the outermost loop.

[2019-09-19 16:31] amueller commented on #14265
Ok. So that's why I find the phrase "OpenMP based multithreading" quite confusing. Because what you really mean is "OpenMP base multithreading where we wrote the call into OpenMP in Cython".

And maybe there's a qualitative difference in how you use OpenMP in KMeans vs how it might be used in Nystroem but at least to me that is not obvious (sorry if that has been discussed above).

[2019-09-19 16:32] amueller commented on #14265
Can you maybe say a bit more about that difference?

[2019-09-19 16:38] jeremiedbb commented on #14265
I can't I don't know how it would be used in Nystroem :/

the idea is if it's a bit of code that is parallel (with OpenMP in our cython code), we'd like it to behave as BLAS, i.e use as many cores as possible. On the other hand if it's the whole algorithm which is parallel (still OpenMP in our cython code), at the outermost loop, maybe we'd like to provide some control.

[2019-09-19 16:39] amueller commented on #14265
Nystroem is just a call to SVD which I assume is handled entirely by blas ;)

[2019-09-19 17:14] siddhajj opened #15033 "OneHotEncoder's categories argument comparing numpy array with string"
#### Description
ValueError thrown when passing categories as numpy array to OneHotEncoder.

#### Steps/Code to Reproduce
[code]

#### Expected Results
It should return a one hot encoder fit with the given categories

#### Actual Results
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-i

[2019-09-19 17:17] glemaitre commented on #10873
The fix in #15018 is right. I also think that we should raise a `NotImplementedError` for the configurations which are not supporting `sample_weight` for the moment. If someone knows how to handle `sample_weight` solving the problem in the dual, we could make it.

[2019-09-19 17:26] rth commented on #14265
I also think that `with parallel_backend("loky", inner_max_num_threads=2):` without exposing thread control in scikit-learn would be a good idea. That would sidestep this whole `n_jobs` / `n_threads` discussion, and leave us the possibility to change it later if needed, while still exposing a mechanism for controlling n_threads for advanced users.

As a side note, about using all threads by defaul

[2019-09-19 18:19] yiorgos1973 commented on #14626
I have this error frequently when using all processors or almost all processors. Anaconda IDEs have a little matter in memory allocation and I suspect that this has also to do with that. Of course it is not an error and the results are not alterd.

[2019-09-19 18:26] amueller commented on #14265
The decorator seems reasonable.
Though if that doesn't apply to BLAS, I'm sure we'll get questions by confused users, and it'll basically mean there's two ways to control the number of threads, right?

[2019-09-19 18:34] amueller commented on #15013
Feel free to reach out to the CatBoost authors as well, not sure if any of us have time to look into this.

[2019-09-19 18:40] GaelVaroquaux commented on #14265
I agree. In our experience, the default scaling to all CPUs is a bad idea on large computers for multiple reasons:

* When multiple processes runs like this (which often happens in Python), it leads to huge oversubscription, which can even freeze the box. One examples is n_job=-1 + openMP using all the threads, on a box with n CPU, it uses n**2 CPUs, which leads to disasters if n is largish

* Tho

[2019-09-19 18:57] zoj613 commented on #15013
I did several days ago, no one replied to the issue there. Hence why I decided to also post it here hoping that someone might have a workaround.

[2019-09-19 20:52] #15030 closed

[2019-09-19 22:02] jnothman commented on #15021
Because it's such an exceptional thing for the user to pass a callable that
does not give consistent keys, I'd focus more on usability than being
adamant that an error is the way to go.

[2019-09-19 23:06] TomDLT commented on #15017
When using `affinity='precomputed'`, you need to give a precomputed affinity matrix, which has to be **square**. The matrix you give to `fit` is not squared, and the name (`X_pca`) suggests that this is not an affinity matrix.

You may try with `affinity='rbf'` instead.

Closing as this is not a bug but a usage question, which belongs to StackOverflow.

[2019-09-19 23:06] #15017 closed

[2019-09-20 08:23] #14858 closed

[2019-09-20 08:28] sabyUWO opened #15035 "Siamese network X in (X,y) parameters in GridSearchCV"
I was wondering how do I pass two inputs simultaneously in gridsearchcv(X,y), where X has to be two inputs in case of siamese networks. Is there any technique or example?

[2019-09-20 09:03] #14596 closed

[2019-09-20 09:04] #14871 closed

[2019-09-20 09:19] adrinjalali commented on #14905
@martinagvilas could you maybe check if this would work?

- remove the brew installed libomp
- conda install `llvm-openmp` in the environment
- try to compile

[2019-09-20 10:52] dgrahn opened #15036 "check_array forces finite values for non-numeric data"
####  Description
When `check_array` is given `dtype=None`, it still tries to force finite values.

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown. Values are not checked for finiteness.
_or_
No error is throw. Values are checked for finiteness.

#### Actual Results
[code]

#### Versions
[code]

[2019-09-20 10:56] rth commented on #15036
The object you are passing is,
[code]
so it's expected that it would error. Did you mean to do,
[code]
instead?

[2019-09-20 11:00] dgrahn commented on #15036
@rth It was intended. `dtype=None` should preserve the data type, and you can't force finite values on an object.

[2019-09-20 11:13] tlienart opened #15037 "[docs] Missing attributes for KNeighbors*"
Both KNeighborsClassifier and KNeighborsRegressor don't have an "attributes" part in the docs:

* https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html#sklearn.neighbors.KNeighborsRegressor
* https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html#sklearn.neighbors.KNeighborsClassifier

### solution

For the classifier, I

[2019-09-20 11:29] rth commented on #15036
If you really want to do it, you could get it with,
[code]
as stated in the docstring,
[code]

unless you are suggesting that it should work with default value of `force_all_finite=True` ?

[2019-09-20 12:02] dgrahn commented on #15036
@rth Yes. It should either throw an appropriate warning, skip the tests, or work with the default.

I'm using this through Imbalanced Learn

https://github.com/scikit-learn-contrib/imbalanced-learn/issues/605

[2019-09-20 12:05] rth commented on #15036
I guess force_all_finite doesn't make much sense with object dtype, but maybe I am missing something. cc @glemaitre

[2019-09-20 12:07] glemaitre commented on #10873
liblinear/libsvm provides a version supporting sample_weight:
https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/#weights_for_data_instances

We should indeed synchronize our code to these versions for the sample_weight support

[2019-09-20 12:19] tomMoral commented on #14265
With the next release of `joblib` (which should happened soon), the over-subscription problem should be reduced. It will provides two improvements:

- By default, `max_num_threads` for the BLAS in child processes will be set to `cpu_count() // n_jobs`, which is a sensible value to avoid over-subscription. This should tackle the main problem which is that when `numpy` is used in an estimator with `

[2019-09-20 13:36] martinagvilas commented on #14905
@adrinjalali I tried doing the following:

[code]

... but same error:

[code]

[2019-09-20 13:41] jeremiedbb commented on #14905
You still need the environment variables:
[code]

[2019-09-20 13:55] martinagvilas commented on #14905
@jeremiedbb right, but I thought that the idea was to try to find a way of doing the installation without setting the enviornment variables. If not, I can try with setting the environment variables.

[2019-09-20 13:59] jeremiedbb commented on #14905
Sure but just installing llvm-open won't fix that. It's just another way to install libomp but the system clang still don't know where to look for openmp headers and runtime

[2019-09-20 14:00] jeremiedbb commented on #14905
And this env var
```export CPPFLAGS="$CPPFLAGS -Xpreprocessor -fopenmp"````
is unavoidable if we want to use system clang

[2019-09-20 14:11] adrinjalali commented on #14905
@jeremiedbb we can install conda's clang, which is installed by `compilers` anyway. I don't understand why the conda packages wouldn't work well together

[2019-09-20 14:17] jeremiedbb commented on #14905
Yes but that's not what you asked @martinagvilas to do. You just told him to install llvm-openmp  (which is just libomp) :)

[2019-09-20 14:18] jeremiedbb commented on #14905
I'm trying to do an install with compilers in #14968 but with no success for now :(

[2019-09-20 14:41] thomasjpfan commented on #14888
I guess I am okay with this. The cases where a dataframe does not make sense are a little rare. Imagine mnist in a dataframe.

[2019-09-20 14:45] NicolasHug commented on #14955
I"m on it

[2019-09-20 14:53] adrinjalali commented on #14905
True, but I just remembered that she had the compilers installed. Anyhow, I also tried on a fresh system, and with conda's clang and llvm-openmp, doesn't work. I would say if those two are installed, the compiler should know where to find `omp.h`, but it doesn't.

[2019-09-20 14:54] TwsThomas commented on #15033
from the docs of OneHotEncoder:

In your code, categories should be a list of one element (which contains your uniques categories).
e.g. (note the `[ ]` around np.unique(x))

[code]

[2019-09-20 15:06] jeremiedbb commented on #14905
Yes that's why I opened https://github.com/conda-forge/compilers-feedstock/issues/15 in the first place :)

[2019-09-20 15:20] ogrisel commented on #14265
That will also apply to BLAS. Currently we plan to set MKL_NUM_THREADS, BLIS_NUM_THREADS, OPENBLAS_NUM_THREADS and OMP_NUM_THREADS.

[2019-09-20 16:20] #15033 closed

[2019-09-20 18:31] dhbrand commented on #12546
Changing the backend to 'threading' worked for me:

[code]

[2019-09-20 18:33] thomasjpfan commented on #14614
Setting `precomputed` in `MissingImputer.__init__` will keep the API consistent with the rest of the library, which makes it easier to maintain.

As stated in the OP:

To tackle this, one needs to think deeply about how masks for sparse matrices are used in each imputer, and how to pass that information into `MissingImputer`.

[2019-09-20 18:56] thomasjpfan commented on #15006
Related to https://github.com/scikit-learn/scikit-learn/issues/13949

[2019-09-20 20:00] NicolasHug commented on #9857
If I'm using `cool_package` that in turn is using `scikit-learn` in `do_some_stuff()`, then I have zero way to filter out the deprecation warnings from sklearn when I use `cool_package.do_some_stuff()`.

The only way to avoid the deprecation warnings from sklearn is to filter them out after `sklearn` is imported, and only `cool_package` can do that.

----

As previously mentioned we can make the i

[2019-09-20 20:10] amueller commented on #9857
If we add a new class, we don't need to add a filter, right? Unless we inherit from DeprecationWarning? That might make it unnecessarily tricky though.

[2019-09-20 20:12] NicolasHug commented on #9857
Oh you're right we don't need the filter.

I'm not sure we can do what we want and inherit from DeprecationWarning though.

[2019-09-20 20:35] amueller commented on #9857
I don't think we do.

[2019-09-20 21:22] amueller opened #15047 "Update gridsearch example for multimetric scoring"
I think this example should use multimetric scoring:
https://scikit-learn.org/dev/auto_examples/model_selection/plot_grid_search_digits.html#sphx-glr-auto-examples-model-selection-plot-grid-search-digits-py

That would mean that we have to specify "refit" though, and we would refit only based on one of them. We could technically reuse the same grid-search results and refit another time as an alter

[2019-09-20 21:23] bgx90 opened #15048 "GridSearchCV.fit() causes memory leak"
### Description
When I run `GridSearchCV.fit()` it causes a memory leak that eventually consumes all physical memory (16 GB) and causes my python process to be killed.

#### Steps/Code to Reproduce

1. Create a python file that contains the code below
2. Download this csv file [Churn_Modelling.csv.txt](https://github.com/scikit-learn/scikit-learn/files/3637641/Churn_Modelling.csv.txt), remove the

[2019-09-20 21:37] amueller commented on #15048
What's the size of the dataset, and why do you think it's a memory leak?

[2019-09-20 22:02] bgx90 commented on #15048
The original dataset is 10,000 rows X 14 columns.  After preprocessing, the data set used for training is 8,000 rows X 14 columns.  I think it is a memory leak because I used the `top` program to monitor my memory usage after my python process was automatically killed the first time.  From `top`, I could see that the python process running this code was steadily using up all available memory as th

[2019-09-21 09:00] albertcthomas commented on #12546
@dhbrand 'threading' suffers from the Python Global Interpreter Lock.

[2019-09-21 12:52] hr0109 commented on #14851
`from sklearn.decomposition import IncrementalPCA
import numpy as np

pca = IncrementalPCA(n_components=3)
np.random.seed(123)
for i in range(100):
    x = np.random.randint(0, 255, [10000, 9], dtype=np.uint8)
    print(i,end=',')
    pca.partial_fit(x)`

This error occurs when i=22

[2019-09-21 14:05] jnothman commented on #14953
No, modifying check_array sounds like a bad idea. you might ratherneed to
do some checking (or setting flags) before the call to check_array.

[2019-09-21 23:01] pratikpc commented on #15047
How would we go about doing this?
If we were to run it say, twice in a loop wouldn't we end up doing the same thing as before except with the added cost of running the GridSearchCV again for Two Different scorers?

[2019-09-22 00:58] jnothman commented on #15035
This would need to be supported by an underlying estimator from another package: it is out of scope here. Our grid search will split any list of samples.

Otherwise:
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https

[2019-09-22 02:21] kyleengel commented on #4497
Solution here for those interested: https://stackoverflow.com/questions/49581104/sklearn-gridsearchcv-not-using-sample-weight-in-score-function

Basically, you can define your own scorer and do index matching to get the right weights inside that function. GridSearchCV / RandomizedSearch won't do the splitting for you (yet...)

[2019-09-22 04:53] jnothman commented on #4497
Yes, that's quite a neat pandas-based hack. Another solution would put the
weights as a column in X then have a transformer that drops them for
training....

[2019-09-22 05:46] PyExtreme commented on #15037
Hi @tlienart , I am interested to work on this. However, I could not understand it fully. Could you please elaborate so that I can understand it since I am new to open source.

Thanks

[2019-09-22 05:49] PyExtreme commented on #14954
Hi, @venkyyuvy , Are you still working on this? Since, I am also interested to contribute.

Thanks

[2019-09-22 05:52] PyExtreme commented on #14714
Hi @amueller , is this stll an open issue since I am interested to contribute?

[2019-09-22 06:43] venkyyuvy commented on #14954
yes @PyExtreme
I had raised a PR already, waiting for reviews!

[2019-09-22 07:38] jnothman commented on #15048
Yes, it sounds like you might just not have enough memory. We have no
reason to believe that GridSearchCV might be leaking. Try fitting the model
without a grid search.

[2019-09-22 10:14] annapaux opened #15055 "roc_auc_score: rename y_score to y_predict"
I find it confusing that the inputs for the roc_auc_score metric are called 'y_true' and 'y_score'. 'y_true' for the true label and **'y_pred' for the prediction** would be more intuitive and more consistent with other metrics (e.g. [accuracy score](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html))

**Current definition:**
sklearn.metrics.roc_auc_score(y_true,

[2019-09-22 10:50] tlienart commented on #15037
Hello @PyExtreme

If you have a look at https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html you'll see that there's an "Attributes" part  with `coef_` and `intercept_`. If you look at the code https://github.com/scikit-learn/scikit-learn/blob/1495f69242646d239d89a5713982946b8ffcf9d9/sklearn/linear_model/base.py#L396-L405 you'll see where this is written.

T

[2019-09-22 12:41] KonstantinKlepikov opened #15056 "VotingClassifier and roc_auc TypeError: Cannot cast array data from dtype('float64') to dtype('int64') according to the rule 'safe' and"
#### Description
VotingClassifier
TypeError: Cannot cast array data from dtype('float64') to dtype('int64') according to the rule 'safe'

#### Steps/Code to Reproduce
[code]

scikit-learn  0.21.2  anaconda

[2019-09-22 13:41] thomasjpfan commented on #15056
`Ridge` and `LinearRegression` are not classifiers, which makes them incompatible with `VotingClassifier`.

[2019-09-22 13:44] thomasjpfan commented on #15037
This is was addressed on master:

### KNeighborsClassifier

https://github.com/scikit-learn/scikit-learn/blob/89332d3e90e8643bef63bc05986cc922d7d718e5/sklearn/neighbors/regression.py#L94-L105

### KNeighborsRegressor

https://github.com/scikit-learn/scikit-learn/blob/89332d3e90e8643bef63bc05986cc922d7d718e5/sklearn/neighbors/classification.py#L91-L109

[2019-09-22 15:55] rth commented on #15056
+1 though maybe we should return a better error message.

[2019-09-22 17:35] harsh020 commented on #14614
@thomasjpfan Okay, please tell me if I got it right -

If the mask passed to `MissingImputer` is a dense matrix then we might not have a problem, but if it is a sparse matrix is passed then the mask of this mask is same as that of `MissingImputer`'s mask of the main data array?

Thanks.

[2019-09-22 20:10] #15037 closed

[2019-09-22 22:49] jnothman commented on #14614
Is passing a precomputed mask the same as passing a Boolean array or sparse
matrix X with missing_values=True? If so this is partially about creating a
fast path for Boolean dtype when getting the mask, isn't it?

[2019-09-23 03:10] bgx90 commented on #15048
I tried manually performing a manual grid search with loops with the following code:
[code]
I ran into the same problem.  It ran for two hours and ran out of memory.  I am able to do cross validation on one model with `epochs=500`.  It uses a lot of memory, but it completes. The problem seems to be that memory is not being deallocated when objects are no longer referenced, but I do not understand

[2019-09-23 08:32] glemaitre commented on #15036
What about the following?

[code]

[2019-09-23 09:21] rth commented on #15036
That behaves consistently IMO, i.e. raises an error on NaN since `force_all_finite=True`, and doing that by default in a string array makes sense I think.

The question is whether we need to change the behavior for more complex object dtypes -- seems likely.

[2019-09-23 09:33] glemaitre commented on #15036
If I take reported in `imbalanced-learn`, I think that this our implementation which fails. We just need to turn the flag off.

Since that our primary use case of object dtype is string, I think that we the current defaults are OK.

[2019-09-23 09:55] rth commented on #15048
Could be an issue in Tensorflow (used by Keras). In general, if Tensorflow allocates some memory in C++ and doesn't release it, Python garbage collector can't do much about it.

One thing to try could be to change the Keras backend to CNTK or Theano and see if it's still reproducible. In any case it's likely that this is unrelated to scikit-learn.

[2019-09-23 10:30] minggli commented on #14672
Hi, if no one is looking at this issue, I'm happy to investigate and possibly produce a PR. reverting.

[2019-09-23 11:49] ogrisel commented on #15056
Shall we check the base estimators with `sklearn.base.is_classifier` in the `VotingClassifier.__init__` or `fit` and raise a `ValueError`?

[2019-09-23 12:16] kemalty commented on #2807
Actually this is the original paper: https://link.springer.com/article/10.1023/B:MACH.0000008084.60811.49
Has more than 2.5k citations

[2019-09-23 12:24] adrinjalali opened #15063 "website search should be in the current version"
The search bar searches in the stable release, even when the user is in the dev branch.
Also related to #7061.

Ping @thomasjpfan

![bug](https://user-images.githubusercontent.com/1663864/65425183-affc4f00-de0d-11e9-9e75-1c48ef11824c.png)

[2019-09-23 13:32] anbai106 commented on #10873
@glemaitre  I have encountered the same issue, LinearSVC ignores the sample_weight, which should be fixed as in libsvm [https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/#weights_for_data_instances](url).

[2019-09-23 14:43] anbai106 opened #15064 "SVC with linear kernel returning errors"
#### Versions

HI, I want to use **sample_weight** with sklearn. At the beginning, I tried the **LinearSVC** (liblinear implementation, better scale with data sample). However, I found that it ignores the parameter **sample_weight** and always return the same results. Other consideration is that I can define the problem setting (dual or primal) and also the regularization type (l1 or l2).

[code]

[2019-09-23 15:32] thomasjpfan commented on #15063
That search goes into `conrib.scikit-learn.org` as well. I will check if there is a way to restrict the domain it is searching through.

[2019-09-23 15:49] #14975 closed

[2019-09-23 17:33] harsh020 commented on #14614
@jnothman Hey, I was thinking the same thing that why don't we just use the imputer say, `SImpleImputer` and then use the`_get_mask()` to get the mask again and use this mask to construct the `MissingIndicator` mask. But they say that the if the data happens to be `sparse`, it might create a problem. I don't follow it.

Thanks.

[2019-09-23 18:06] skearnes opened #15068 "Unacceptable license for tree/_reingold_tilford.py"
I maintain sklearn at Google, and `tree/_reingold_tilford.py` uses the WTFPL, which is not allowed at Google. For now I'm going to remove this from our internal implementation, but I wonder if it's possible to reach out to the author to get this re-licensed? Thanks.

[2019-09-23 18:14] rgranit commented on #7848
Is there a reason why DBSCAN yields results that are a bit different in each run of the exact same data (in the exact same order)? is there a setting that needs to changed to force it to be deterministic?

Thanks

[2019-09-23 18:14] amueller commented on #15068
Why would that not be allowed? It's basically public domain.
Though generally having less heterogeneous licensing is certainly beneficial.

@llimllib would you be willing to relicense it to BSD?

@sklearnes Since you folks probably have some lawyers, does the WTFPL allow us to republish the file under BSD? It says "whatever you want"...

[2019-09-23 18:19] skearnes commented on #15068
IANAL; I can't comment on the reasoning here.

[2019-09-23 18:20] skearnes commented on #15068
But see this article for more: https://opensource.google.com/docs/thirdparty/licenses/#wtfpl-not-allowed

[2019-09-23 18:22] amueller commented on #15068
Thanks! Let's see if @llimllib replies to the ping, otherwise I can email him.
In the case of no reply, you'd have the option of a rewrite.

I'm not entirely convinced this is the best algorithm to use here in any case, I'm also open to alternatives (but I figure you have other things to do ;)

[2019-09-23 18:35] amueller commented on #15064
Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal.

[2019-09-23 18:40] anbai106 commented on #15064
@amueller
I found the issue, it is because that a certain class, the **sample_weight** to be all 0.

Just another question (not a bug), with SVC, can we specify the problem setting, **dual** or **primal** and the regularization type, l1 or l2?

Thanks

[2019-09-23 19:22] amueller commented on #15064
yes, there's settings for both. Though I'm not sure if the dual respects class_weights right now (which would be a bug if it didn't).

[2019-09-23 19:22] #15064 closed

[2019-09-23 19:24] thomasjpfan commented on #14977
It looks like exposing `max_depth` has been discussed since 2015. The thing holding it back is "how do we choose a good `max_depth`". We most likely need to answer that question before this feature can be introduced.

The ["Isolation-based Anomaly Detection" paper from 2012](https://cs.nju.edu.cn/zhouzh/zhouzh.files/publication/tkdd11.pdf) paper may have insight into this.

[2019-09-23 19:26] anbai106 commented on #15064
@amueller Thanks for your reply.

However, I did not see the choice to choose those parameters: the dual or primal, l1 or l2 for penalty in the class of **SVC**.

[2019-09-23 19:27] amueller commented on #15064
I don't know what you mean by "did not see". They are in the documentation:
https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html

[2019-09-23 19:29] amueller commented on #14265
@ogrisel sorry, I'm not sure I understand your statement.
What will apply to what?
You're saying that loky will set these environment variables, right? But what if the user already set those variables in a script or on the command line or however they launched a job on their cluster?

And so will the default of, say, 10 be enforced in loky or in sklearn?

[2019-09-23 19:35] anbai106 commented on #15064
I saw your documentation. Which parameter indicates the type of regularization that you used by default?  If the **kernel : string, optional (default=’rbf’)** has been set, does this mean this is set to be a dual problem? So with SVC, I can not solve primal problem?

I am a little confused, I just want to check the possibility in SVC, something like in the documentation of LinearSVC (parameters fo

[2019-09-23 19:45] petibear commented on #14977
Thanks. From the section 4.5: "In the normal usage of iForest, the default value of evaluation height limit is set to maximum, i.e. ψ−1, so that the anomaly score has the highest granularity"

[2019-09-23 19:49] #15035 closed

[2019-09-23 19:49] amueller commented on #15064
Oh right, SVC can not solve the primal (because that doesn't make sense).
You might also be interested in trying ``SGDClassifier``.

[2019-09-23 20:08] llimllib commented on #15068
Of course I'm happy to relicense! let me know how I can help. Do I have to do anything other than yell into the ether that I accept the terms of the BSD license?

[2019-09-23 20:12] skearnes commented on #15068
If you could send a PR to make the change in your file(s) that would be ideal. There's probably a standard somewhere, but I notice that several files have headers like this:

[code]

[2019-09-23 20:13] llimllib commented on #15068
I find that a little weird as I've never contributed to this project! But if that will do it I am happy to do so

[2019-09-23 20:14] amueller commented on #15068
@llimllib thank you so much for the very quick reply to a request about your 7 year old code!

I'm not a lawyer either but I feel like yelling in the ether should be sufficient.

I think we should change the header in the file in our repo to mention BSD and your authorship. I think anyone could do that, though I guess it would "look best" if it's @llimllib doing the change if you don't mind the ha

[2019-09-23 20:25] thomasjpfan commented on #14977
If that is the recommendation, should have a less flexible parameter: `max_depth` can be 'log' or 'minus_one'?

[2019-09-23 20:35] amueller commented on #15055
I'm not sure if that would be better. It requires a different input than ``accuracy_score``, and a very common error is to provide the output of ``predict`` to ``roc_auc_score``, which is wrong. You need to pass the values from ``decision_function``.

I am not sure if we are consistent about that, but for example ``average_precision`` also uses ``y_score``.

You can see that the docstring for ``ac

[2019-09-23 20:47] #15068 closed

[2019-09-23 20:49] rth commented on #7848
@rgranit It shouldn't. If you observe that, please open a new issue with a reproducible example.

[2019-09-23 21:32] anbai106 commented on #15064
Thanks for your recommendation! I think ideally, I would like to use LinearSVC (liblinear based), which scales quadracally with the number of subjects. However, the stable version of Sklearn does not solve the bug for the **sample_weight**. Anyway, thanks very much for your help!

[2019-09-23 22:00] bgx90 commented on #15048
@rth is correct.  This is issue is caused by Tensorflow.  After changing the Keras backend to Theano, my original code using `GridSearchCV` ran with memory consumption staying at 368 MB for the process. Likewise, the  memory consumption for the code with nested loops stayed under 329 MB. After seeing this, I did some investigation into Tensorflow and found that the memory consumption I was seeing

[2019-09-23 22:00] #15048 closed

[2019-09-24 02:32] jnothman commented on #15055
y_proba_or_score ???????

[2019-09-24 06:32] kennedyCzar commented on #14882
From a theoretical standpoint, i would expect SGD to perform better than Ridge since its take **O(N^3)** to compute the matrix inverse of **(X.tX + /lamda I)** like you mentioned @tirthajyoti .

However i believe the SGD regressor from sklearn needs some tweaking to get it to perform as fast as Ridge or even better.

An implementation of Ridge implementation from my side takes approximately the sa

[2019-09-24 07:21] thielepaul commented on #14997
Relevant code in `discriminant_analysis.py`: https://github.com/scikit-learn/scikit-learn/blob/d2476fb679f05e80c56e8b151ff0f6d7a470e4ae/sklearn/discriminant_analysis.py#L688

[2019-09-24 08:03] glemaitre opened #15073 "Rendering issue of set_params example in classes inheriting from _BaseComposition"
The documentation for the `set_params` is not well shown in the html documentation:

https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.VotingClassifier.html#sklearn.ensemble.VotingClassifier.set_params

This is the case for all classes inheriting from `_BaseComposition`.

[2019-09-24 08:30] petibear commented on #14977
Well, the authors say it is their default, but it does not seem very prominent in the paper (and they use other settings too). My (perhaps spurious) comparisons did not persuade me very much (although it shows some differentiation) and  the fact that scikit-learn implementation has been fine without this also speaks volumes.

Nevertheless, I'd still make `max_depth` configurable, but keep the defa

[2019-09-24 09:09] albertcthomas commented on #14977
By `'log'` you mean the `ceil(log_2(nr_samples))`? I think this is a good default as this is the one that has been used until now and there have not been many (any?) complains about it. And as you said this will be better for backward compatibility.

Actually we want to try to make the best choice when working on this feature to avoid a deprecation cycle in the future.

@thomasjpfan IMO the questi

[2019-09-24 10:06] qinhanmin2014 opened #15075 "Feature selection based on permutation importance"
We now support permutation importance, maybe it's reasonable to support feature selection method based on it (e.g., remove features whose premutation importance < 0).

[2019-09-24 10:11] qinhanmin2014 opened #15076 "Stacking: add an option to use the original dataset when training final_estimator"
I think it will be readonable to add an option to use the original dataset when training final_estimator. This seems reasonable and has proved to be useful in some Kaggle competitions.

Reference: implementation from mlxtend
http://rasbt.github.io/mlxtend/api_subpackages/mlxtend.classifier/#stackingcvclassifier

use_features_in_secondary : bool (default: False)
If True, the meta-classifier will be

[2019-09-24 10:15] qinhanmin2014 opened #15077 "Implement GeneralNB"
Open an issue to discuss the implementation of GeneralNB (combine different naive bayes estimators to support different types of features)
Related issue: #10856 #12957

[2019-09-24 10:15] #10856 closed

[2019-09-24 10:43] rth opened #15078 "Oversubscription in HistGradientBoosting with pytest-xdist"
When running tests with pytest-xdist on a machine with 12 (physical) CPU machine, the use of OpenMP in HistGradientBoosting seem to lead to significant over-subscription,

[code]
for me takes 0.85s. This runs 2 docstrings on training GBDT classifier and regressor on iris and boston datasets respectively.

- Running thin on 2 parallel processes with (`-n 2`) takes 56s (and 50 threads are created).

[2019-09-24 11:23] rth commented on #14882
Thanks for the detailed analysis.

Profiling it (needs to be [enabled in cython as well](https://cython.readthedocs.io/en/latest/src/tutorial/profiling_tutorial.html)) for 1 epoch on the above example could be a start.

[2019-09-24 11:39] rth commented on #10044
Some other FFT based ideas to make TSNE faster can be found in https://github.com/KlugerLab/pyFIt-SNE  (and possibly https://github.com/pavlin-policar/openTSNE/)

[2019-09-24 12:43] alexshacked commented on #14713
Hi @amueller. I would like to take a shot at this. I can see it's demanding but would still like to take a look. Is it OK, or is someone already looking at it?

[2019-09-24 12:44] #15004 closed

[2019-09-24 12:52] daidai21 opened #15079 "import error about `HistGradientBoostingRegressor`"
#### Description

import error

#### Steps/Code to Reproduce

[code]

#### Expected Results

#### Actual Results

[code]

[2019-09-24 13:01] #15079 closed

[2019-09-24 13:10] jnothman commented on #14614
_get_mask currently produces a mask only of the sparse matrix's `data`
attribute. But you could construct a proper csr_matrix from that.

[2019-09-24 14:01] vasilismsr opened #15081 "MultiTaskLassoCV with fit_intercept=True returns wrong results"
There is something wrong with `MultiTaskLassoCV` and binary features. It always returns the same mse for all the alphas and hence chooses a huge regularization zeroing out all coefficients. The same holds for `MultiTaskElasticNet` too. However, this doesn't happen with `LassoCV`. Moreover it doesn't happen if I set `fit_intercept=False`, or if I generate random normal features.

I am working on an

[2019-09-24 15:07] rth commented on #10044
Running `NearestNeigbours.kneighbours` in parallel as proposed in https://github.com/scikit-learn/scikit-learn/pull/15082 should yield a ~3.5x speedup for scikit-learn's TSNE on MNIST with `n_jobs=12`.

Though the above optimizations ideas about a better `algorithm='auto'` etc. are certainly still worth exploring.

[2019-09-24 16:08] skearnes commented on #15068
Thanks!

[2019-09-24 16:26] glemaitre commented on #15076
I think that I added this in the early stage of the PR and we ruled this out.

[2019-09-24 17:22] glemaitre commented on #15056
We have something similar for the StackingClassifier and StackingRegressor.

Actually, these 2 classes shared something in common by having `estimators` parameters. In some way they are an ensemble of "heterogeneous" estimators (i.e. multiple estimators) while bagging, RF, GBDT is an ensemble of "homogeneous" estimator (i.e. single "base_estimator").

We could have a separate base class for each t

[2019-09-24 18:01] harsh020 commented on #14614
@jnothman Just a confusion, the sparse matrix that our model receives it is a full sparse matrix, right, i.e it consists of full matrix with the missing value as `nan`s  and the non missing values as well or is it a csr kind of matrix.

If it is the first one, I made a 3x3 example of sparse and implemented what I stated above and am attaching the results -
![Screen Shot 2019-09-24 at 11 30 57 PM](

[2019-09-24 18:45] hacktuarial opened #15085 "ColumnTransformer throws ValueError inappropriately"
#### Description
I am using `ColumnTransformer` with `remainder="drop"`. I expect that columns present when calling `.fit`, but not referenced in the list of transformers, will not be required when calling `.transform`.

#### Steps/Code to Reproduce
[code]

#### Expected Results
I expect `ct.transform(df_fit) == ct.transform(df_transform)` to be equal, since they have the same values of `x0, x1`,

[2019-09-24 19:22] amueller commented on #15085
The behavior you're seeing is the expected behavior, see #14251 for a discussion.
The problem with ignoring columns that are not mentioned is that in some places (for example when specifying "remainder") we use positional information about the columns. If new columns appear or some columns are missing, the positional information will no longer be accurate.

[2019-09-24 20:12] agramfort commented on #15081
see https://github.com/scikit-learn/scikit-learn/pull/15086/files

thanks for the bug report !

[2019-09-24 20:28] rth commented on #8213
Re-opening as while I agree this is not a trivial task, I think we can do better than the current `algorithm="auto"` setting.

To give an example, TSNE on MNIST (n_samples=60_000, n_features=64) uses kd_tree as the auto-determined algorithm for NN search. In that case it takes 68 min to run TSNE single threaded (https://github.com/scikit-learn/scikit-learn/pull/15082). Using `algorithm='brute'` co

[2019-09-24 20:35] rth commented on #10044
Fully agree. The current choice to use kd_tree for `algrorithm='auto'` by default, is not ideal. For instance on MNIST using NearestNeighbors with `algorithm='brute'` is an order of magnitude faster https://github.com/scikit-learn/scikit-learn/issues/8213#issuecomment-534734434

[2019-09-24 20:50] jnothman commented on #15076
I agree that it existed at one point. I think it can be considered now in
any case.

[2019-09-24 20:57] glemaitre commented on #15076
`use_feature_in_secondary` might be a long name. At that time, I named it `passthrough`.

[2019-09-24 20:57] glemaitre commented on #15076
Would it be better.

[2019-09-24 23:01] DGrady opened #15087 "strip_accents_unicode fails to strip accents from strings that are already in NFKD form"
#### Description

The `strip_accents="unicode"` feature of `CountVectorizer` and related does not work as expected when it processes strings that contain accents, if those strings are already in NFKD form.

#### Steps/Code to Reproduce

[code]

#### Expected Results

`s1` and `s2` should both be normalized to the same string, `"n"`.

#### Actual Results
`s2` is not changed, because `strip_accent_u

[2019-09-24 23:11] jnothman commented on #15087
Good catch. Are you able to provide a fix?

[2019-09-24 23:18] jnothman commented on #14614
We are talking about a mostly-zero sparse matrix with some values set to
NaN (though tbh I don't think this a very common use case for imputation).

I'd find communication here clearer if you opened a pull request and the
code explained your thinking.

[2019-09-24 23:21] #9494 closed

[2019-09-24 23:23] DGrady commented on #15087
It looks like we should just remove the `if` branch from `strip_accents_unicode`:

[code]

If that sounds good to you I can put together a PR shortly.

[2019-09-24 23:47] jnothman commented on #15087
A pr with that fix and some tests sounds very welcome.

[2019-09-25 00:44] TomDLT commented on #10044
Note that two speed improvements on the TSNE gradient descent have been merged in Feb 2018, (-40%) #10593, and (-25%) #10610.

[2019-09-25 01:02] lmcinnes commented on #10044
It seems like the merged PRs @TomDLT mentions, in combination with #10482, should significantly narrow the gap. It is probably worth benchmarking again to see how things look now. Of course OpenTSNE should probably be a point of comparison as well. I'll try to do this if I get some time, but other are certainly welcome to try as well.

[2019-09-25 01:17] harsh020 commented on #14614
Yes, I am aware that sparse matrix has mostly nans, this was just a representational example. What I meant was will the ‘X.data’ array contain the nans or will it only contain the only then data that is non missing.

Sure I’ll open a PR. Sorry about that.

Thanks.

[2019-09-25 04:00] kwinata commented on #14228
Based on the script:
[code]

I got this lists:
- [ ] [sklearn/multiclass.py](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/multiclass.py) - [160](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/multiclass.py#L160), [465](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/multiclass.py#L465), [675](https://github.com/scikit-learn/scikit-learn/blob/m

[2019-09-25 04:08] kwinata commented on #14228
For example, [this doc](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/multiclass.py#L160) is added (chronogically) after the discussion in  #10415 in [this commit](https://github.com/scikit-learn/scikit-learn/commit/9b8fd0b0d0efee2ba85e4273f3adf9912bd0aaa7).

But IMO, seems like the explanation of the parameter is still a bit generic, especially if we assess it based on @Nicolas

[2019-09-25 04:52] jnothman commented on #14614
No, the sparse matrix contains mostly zeros, not nans, and the nans are
present in X.data.

[2019-09-25 07:11] adamlin859 commented on #15013
It think this issue is cause by the `CatBoostClassifier` classifier have a empty classes_ attribute after fit.  You can see this by the code below:

[code]

This is causing `idx_pos_class` to be empty so no classifier is actually being fit.

https://github.com/scikit-learn/scikit-learn/blob/d6d1d63fa6b098c72953a6827aae475f611936ed/sklearn/calibration.py#L313-L316

[2019-09-25 07:56] harsh020 commented on #14614
Okay, thanks that’s what I was confused about that the zeros in sparse represent missing data. Buts it’s actually the nans in X.data that represents the missing data.

Thanks.

[2019-09-25 07:58] tomMoral commented on #14265
@amueller @NicolasHug We just merged this over-subscription mitigation feature in `joblib:master`, could you give it a try and see if it matches what you would expect? You can find some explanation about this new feature in [joblib documentation](https://joblib.readthedocs.io/en/latest/parallel.html#avoiding-over-subscription-of-cpu-ressources).

[2019-09-25 08:05] tomMoral commented on #14265
The current implemented behavior gives:
- If the user do nothing and uses `n_jobs` parallel processes for computation, the call to native libraries with inner threadpools (OpenBLAS, MKL, OpenMP, ..) will be restricted to `cpu_count // n_jobs` (**default**).
- If the user set an environment variable such as `*_NUM_THREADS=n_thread`, this limit is passed in the child process and we do not change the

[2019-09-25 08:12] rth commented on #14265
@tomMoral Looks great! Just a question, say I want to restrict the number of BLAS threads without using any other parallelism. Could something like `with joblib.parallel_backend(None, inner_max_num_threads=n_thread)` or should I use directly  the vendored threadpoolctl in that case? It would be nice if there was a single API for it.

Also I guess if you explicitly create thread based parallelism s

[2019-09-25 08:27] tomMoral commented on #14265
If you want to restrict the number of thread in a process, you need to either set the env var `*_NUM_THREADS` before starting your process or use `threadpoolctl`. For now, we only rely on the former as we still have some major issues with `threadpoolctl`. In particular, it is quite unreliable. We found multiple ways to create deadlock by using it because of bad interaction between multiple native

[2019-09-25 10:47] ogrisel commented on #14265
To be more specific it seems that introspecting or changing the size of the threadpools dynamically can be problematic in some case for programs linked with multiple openmp runtimes at the same time. For instance there is a case under investigation here: https://github.com/joblib/threadpoolctl/pull/38

So for now I would rather use threadpoolctl as little as possible until we understand better the

[2019-09-25 11:47] ogrisel commented on #15087
Indeed this is a bug and the solution proposed seems correct. +1 for a PR with a non-regression test.

[2019-09-25 12:01] NicolasHug commented on #14228
Thanks for the script @kwinata!

That could definitely be improved: "The number of jobs to use for the computation" is very vague and doesn't say what is parallelized. Users should get a sense of how much faster their code may be when they change `n_jobs`.

[2019-09-25 14:13] kwinata commented on #14228
Welcome @NicolasHug

Sure then, I would be happy to work on improving those cases!

[2019-09-25 17:30] amueller commented on #14997
Thanks for the report. I can reproduce.
However, I think it's not always a problem if the data doesn't have full rank. If the class is not axis parallel the problem doesn't happen (which is a bit strange since QDA should be rotation-invariant).
So
[code]
doesn't give the same error... hm

[2019-09-25 17:31] amueller commented on #15075
Yes, I think so. There is discussion about this in #9606.
I'm not aware of any literature on this, though?

[2019-09-25 17:36] amueller commented on #14713
@alexshacked please go for it!

[2019-09-25 18:23] danhitchcock opened #15093 "MaxAbsScaler Upcasts Pandas to float64"
#### Description
I am working with the Column transformer, and for memory issues, am trying to produce a float32 sparse matrix. Unfortunately, regardless of pandas input type, the output is always float64.

I've identified one of the Pipeline scalers, MaxAbsScaler, as being the culprit. Other preprocessing functions, such as OneHotEncoder, have an optional `dtype` argument. This argument does not

[2019-09-25 19:18] alexshacked commented on #14713
Thank you, I will have a design based on #10715 (comment), #14647 (comment), #10720 (comment) in a couple of days

[2019-09-25 20:11] NicolasHug commented on #14959
I'm on it

[2019-09-25 20:46] jnothman commented on #15093
It should probably be preserving dtype. It doesn't look like this issue
should result from check_array, which looks like it is set up to preserve
dtype in MaxAbsScaler.

Can you please confirm that this is still an issue in scikit-learn 0.21
(you have an old version)?

[2019-09-25 20:58] thielepaul commented on #14997
Thank you for looking into it!
In your example (X2) the singular value is not numerically 0 and therefore the problem does not not occur. Instead, it is 1.3e-16, which means that the algorithm does still work as no division by zero happens.
However, epsilon for floats is 2.2e-16, which is in the same magnitude as the results and probably it is just a numeric issue that it is not exactly 0.

[2019-09-25 21:35] danhitchcock commented on #15093
Thanks for the quick response!
Same issue with 0.21.3

[code]

Upon a closer look, this might be a bug in check_array, though I don't know enough about its desired functionality to comment. `MaxAbsScaler` calls `check_array` with `dtype=FLOAT_DTYPES` which has the value`['float64', 'float32', 'float16']`. In `check_array`,  pandas dtypes are properly pulled but not used. Instead, `check_array` pul

[2019-09-25 21:47] jnothman commented on #15093
It shouldn't be going down that path... It should be using the "no dtype
conversion required" path

[2019-09-25 21:47] amueller commented on #14997
Hm I was wondering if it would make sense to drop the zero variance directions. It's a bit weird since it means the Gaussian is on a lower-dimensional subspace and so you can't really compare the densities between it and the other ones.
So maybe your check makes more sense.
I would suggest you create a PR.

[2019-09-25 21:54] amueller commented on #15093
Can confirm it's a bug in the handling of pandas introduced here: #10949
If dtypes has more then one entry we need to figure out the best cast, right?
Here we're in the simple case where ``len(unique(dtypes)))==1`` which is easy to fix.

[2019-09-25 22:04] amueller commented on #15093
Fixed in #15094. (I should be writing grants, in case that's not obvious)

[2019-09-25 22:53] danhitchcock commented on #15093
Y'all are awesome, thanks!

[2019-09-26 07:31] thielepaul commented on #14997
I am hesitant to create a merge request with the workaround mentioned earlier, as I am not sure about its mathematical background.
However, I found another workaround, while looking further into the code of `discriminant_analysis.py`:
if `reg_param` is set to a value != 0, then the problem is solved as well.

[code]

https://github.com/scikit-learn/scikit-learn/blob/d2476fb679f05e80c56e8b151ff0f6d

[2019-09-26 07:36] agramfort commented on #14997
yes use
https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.VarianceThreshold.html
or reg param

[2019-09-26 09:20] rshah1990 commented on #15008
Any update on this ? are you guys able to re-produce the issue?

[2019-09-26 10:45] rth commented on #15008
Yes, I can reproduce the segfault with the above example. The backtrace is,
[code]

more investigation is needed though to understand what is exactly wrong in `sklearn/svm/src/libsvm/svm.cpp:sigmoid_train`

[2019-09-26 10:47] rth commented on #15008
Given that it segfaults on random data with different initial seeds my guess it has more to with the large size of the data.

[2019-09-26 11:29] thielepaul commented on #14997
I think VarianceThreshold won't help, as features can have a high variance over the complete dataset, but 0 zero variance within a class, e.g. a feature that is binary could be useful for estimation but have 0 variance over the samples in a class and therefore lead to the demonstrated problem.

[2019-09-26 11:30] #15081 closed

[2019-09-26 11:48] rshah1990 commented on #15008
We have tried on r5a.24xlarge (96 core,768 GiB) machine available on ec2 instance. gave same issue.

[2019-09-26 12:10] agramfort commented on #14997
indeed. Then reg is the key

[2019-09-26 12:27] rth commented on #15008
I mean not an issue with hardware but that 2million*768 is will overflow for an int32. So maybe some index need to be changed from `int` to `long` somewhere in the C++ libsvm code. I have not looked at the code in detail, so it's only a guess though.

[2019-09-26 12:30] NicolasHug commented on #14959
The fix that was used for boxcox cannot be used here for yeo-johnson (see https://github.com/scipy/scipy/issues/10821)

I doubt we can except to have a fix before 0.22, so I'd remove the tag (also let's remove the help wanted because this issue is better tracked on scipy.)

In your particular case @bcbrock since your values are all positives, you could just use the boxcox transform.

[2019-09-26 12:54] rth commented on #12460
recommended way to handle this case in version 0.21, I hope (i.e. pending
review and approval)

#10482 is now merged and is the way to address this. Closing.

[2019-09-26 12:54] #12460 closed

[2019-09-26 15:00] rth commented on #10023
PR proposed in https://github.com/scikit-learn/scikit-learn/pull/15082

[2019-09-26 15:15] amueller commented on #15008
@rth that would be my hunch as well.

[2019-09-26 15:18] amueller commented on #15008
There's also 400000 classes in the synthetic dataset. Does it still error with, say 2 or 10?

[2019-09-26 15:51] rth commented on #15008
The stdout before the segfault was,

[code]

so I imagine it means that the first 5 classes when through fine.

[2019-09-26 16:29] amueller commented on #8737
@jnothman sorry I'm not sure I follow entirely. Are you saying this is solved?

[2019-09-26 16:31] amueller commented on #8737
the original example errors now (as I think it should be), so we might be able to close this?

[2019-09-26 16:35] amueller commented on #8737
the structure of the scores doesn't make sense for ``multi_class='multinomial'`` because it looks like it's ovr scores but they are actually multiclass scores and not per-class.

[code]
works, which makes sense, but then ``res.score`` errors, which is the right thing to do; but a bit weird.

Do we want to change the structure of ``scores_`` depending on whether it's ovr or multinomial? That also s

[2019-09-26 16:39] amueller commented on #15013
If ``classes_`` is indeed empty, ``CatBoostClassifier`` doesn't satisfy our api and doesn't pass ``check_estimator`` so I think we can close?

[2019-09-26 16:43] amueller commented on #8583
This is fixed and released. Closing. Please feel free to comment or reopen if it's still happening in 0.21.3.

[2019-09-26 16:43] #8583 closed

[2019-09-26 16:43] amueller commented on #10063
@PedroGFonseca could you ever reproduce?

[2019-09-26 16:52] amueller commented on #10063
Ah, I understand now: the one that is selected will be refit, so ``grid.cv_results_['param_regressor'][0]`` is the one fitted on the last fold in cross-validation, while ``grid.cv_results_['param_regressor'][1]`` is actually ``grid.best_estimator_``.

There should definitely be some cloning here somewhere (cc @thomasjpfan lol)

[2019-09-26 17:59] amueller commented on #14959
can we raise an error and propose a fix to the user instead of reporting wrong results?

[2019-09-26 19:01] amueller commented on #12958
closing as no reply in the PR. I don't think it's worth doing. Feel free to reply /reopen.

[2019-09-26 19:01] #12958 closed

[2019-09-26 20:42] #14988 closed

[2019-09-27 08:51] Christilut commented on #12817
Is this issue fixed? I seem to have this problem on OSX.

I'm building a binary with pyinstaller for Windows and OSX (High Sierra currently). On Windows I don't have this problem. But my binary on OSX creates child processes that never end.

[2019-09-27 09:14] rth commented on #7059
Maybe the finishing the refactoring such as https://github.com/scikit-learn/scikit-learn/pull/4217 would help. I started some of it in https://github.com/scikit-learn/scikit-learn/pull/15097

Another blocker is read-only fused memory-views https://github.com/scikit-learn/scikit-learn/issues/10624 that will be only available in the future Cython 3.0.

In any case, this would likely apply to float64

[2019-09-27 12:17] adrinjalali commented on #14449
So are we dropping python 3.5 now? According to the NEP it was supported until Feb. 2019. I don't think we wanna be supporting pythons which are not supported by our dependencies.

[2019-09-27 14:33] cmarmo commented on #13971
Hi,
I can't reproduce the arrow problem...
About the rotation: after checking the code, I think that this option is available only for DOT exportation.
See the [sklearn.tree.export_graphviz()](https://scikit-learn.org/stable/modules/generated/sklearn.tree.export_graphviz.html) function.

[2019-09-27 16:11] amueller commented on #14314
Is that really that common? This was an issue in very early versions in StandardScaler and KMeans and we fixed it (by casting to float).

Btw, right now int32 is cast to float64 if you pass FLOAT_DTYPES, as discussed in #15093 and I think we should fix that.

Why are you saying there's no difference in precision between int32 and int64?

[2019-09-27 19:17] amueller commented on #13971
what version of matplotlib are you using?

[2019-09-27 19:45] amueller commented on #14449
@adrinjalali I'm happy to drop 3.5 but " I don't think we wanna be supporting pythons which are not supported by our dependencies." is not a good argument imho. Our dependency is numpy 1.11.0, which I imagine supports 3.5

[2019-09-27 22:04] amueller commented on #10139
Btw, I'm not convinced this would be nice as it makes it easier to replace a StandardScaler with a RobustScaler.

[2019-09-28 08:46] rth commented on #14580
Solved in https://github.com/scikit-learn/scikit-learn/pull/14602

[2019-09-28 08:46] #14580 closed

[2019-09-28 11:25] #14831 closed

[2019-09-28 13:00] pspachtholz commented on #3846
I would work on dummy (DummyClassifier, DummyRegressor).

[2019-09-28 13:12] albertcthomas commented on #14977
@petibear, is it easy for you to reproduce Figure 7 in [the paper of 2012](https://cs.nju.edu.cn/zhouzh/zhouzh.files/publication/tkdd11.pdf)? I think their example makes it obvious that there is a change for the small cluster of anomalies. And using this same example can you also plot the result that you obtain when using the current default `ceil(log_2(nr_samples))`?

[2019-09-28 16:27] StevenLi-DS commented on #13971
@cmarmo @amueller I just tried with Jupyter Lab and it seems like there is something wrong with VS code. If I set `facecolor='k'` in Jupyter Lab, it will look like this:
![download](https://user-images.githubusercontent.com/33796896/65819473-00e3bd00-e1eb-11e9-844b-6ed62f416d7e.png)

Maybe there should be a little boundary around those arrows?

[2019-09-28 19:07] thomasjpfan opened #15109 "Use linting to for a requirement for some jobs on azure"
Now that there are 8 jobs on azure, may we use linting as a dependency on some of these jobs to save resources? For example the following will always run:

1. `Linux32 py35_ubuntu_atlas_32bit`
2. `Linux pylatest_pip_openblas_pandas`
3. `macOS pylatest_conda_mkl`
4. `Windows py37_conda_mkl`

The rest will run linting first, and only when lint passes, the rest of the tests will run.

I hope this pro

[2019-09-28 20:14] seeM commented on #14766
Isn't this closed by https://github.com/scikit-learn/scikit-learn/pull/15028?

[2019-09-28 20:19] NicolasHug commented on #14766
Indeed! Thanks for the reminder @seeM

[2019-09-28 20:19] #14766 closed

[2019-09-28 20:43] harsh020 commented on #14468
@qinhanmin2014 Hey, I don't see any PR open for this, I was thinking of building a Mini Batch GD anyways, could I take it up?

Just a quick question though, as far as I have studied Mini-Batch Gradient Descent is an Optimization Algorithm, but we need to implement it here as a model, right? Then should we consider using an RMS cost function?

Thanks.

[2019-09-29 15:35] NicolasHug commented on #15109
+1

We may even just run one of them? Linting is very easy to check/fix locally

[2019-09-29 16:36] harsh020 opened #15110 "Tabulated confusion matrix."
#### Description

I think it would be nice if `confusion_matrix` function would have a boolean parameter `tabulate` and if the user passes it to be `True` then the function :
A.) Either prints a `tabulated` matrix and return a `ndarray` of `confusion matrix` as well.
B.) Return just the tabulated object.

I think A option is better as it provides more flexibility and reusability.

If the members a

[2019-09-30 05:41] raels0 commented on #11463
Question, since we have access to the underlying steps for each column (or group of), couldn't we check if the pipeline consists of reversible steps, if so inverse that column. Where it isn't possible to do so for all, that would be an error case.

[2019-09-30 08:32] rth commented on #13762
Can confirm failure in `Linux pylatest_conda_mkl` job in https://github.com/scikit-learn/scikit-learn/pull/14300 which is pretty close to master, as far as spectral coclustering is concerned.

The error is exactly the same as above.

[2019-09-30 09:17] sloev commented on #14947
i would like to see progress reports like this i guess:
https://stackoverflow.com/a/51876268/5324953

[2019-09-30 19:33] jolespin commented on #13971
I'm getting the same error with mine.  Have you found a fix for this?

[2019-10-01 06:24] vinitrinh opened #15112 "Unstable KBinDiscretizer"
#### Description

KBinsDiscretizer(strategy='quantile') does not seem to bin float variables consistently. In the code snippet below, ALL observations are placed in a single bin.

However, oddly enough, when commenting out the last [0] in the array, the observations are binned perfectly.

#### Steps/Code to Reproduce

[code]

#### Expected Results

[code]
#### Actual Results

[code]
#### Versions

[2019-10-01 07:43] ogrisel commented on #14265
FYI: joblib 0.14.0 (with the fixed version of overscription for the case Python process vs native threadpools) is out: https://pypi.org/project/joblib/0.14.0/

[2019-10-01 10:15] beachkrp commented on #15085
It this related to this issue?  Or it another issue that i could report.

https://stackoverflow.com/questions/54541490/sklearn-text-and-numeric-features-with-columntransformer-has-value-error/57970935#57970935

[2019-10-01 10:30] roya0045 commented on #14959
Greetings, I'm having this issue with my datasets and I wanted to know if there is an ETA or a workaround until a fix is implemented. Thanks @bcbrock for creating this issue.

[2019-10-01 10:58] NicolasHug commented on #14959
There's no ETA and no fix so far. @roya0045 is your dataset small enough so we can reproduce the issue as well?

[2019-10-01 12:20] #13187 closed

[2019-10-01 18:53] NicolasHug commented on #14265
OK so my current understanding is the following:

- `joblib.Parallel` will set the `OMP_NUM_THREADS` env variable of the spawned child processes to a value that avoids over-subscription by default
- Users can still control the number of openMP threads by either setting `OMP_NUM_THREADS` (which will take precedence), or by using `joblib.Parallel` as a context manager and passing `inner_max_num_thre

[2019-10-01 19:46] jeremiedbb commented on #14265
There's one limitation. It does not include the threading backend. This is why we are working on threadpoolctl.

Based on last meeting, option 5 sees to be the preferred option for most places where we want to introduce `pranges`.

So I think I can close this discussion and we can open new ones for specific estimators like hgbt or kmeans. Feel free to re-open if you disagree.

[2019-10-01 19:46] #14265 closed

[2019-10-01 20:31] NicolasHug commented on #14265
I'll open a PR soon for documentation

[2019-10-01 20:43] roya0045 commented on #14959
@NicolasHug sadly no, I could possibly export it before encoding if you need something to test. Thought I wont have expected results. Some of the data are positive floats while some others are both negative and positive. But there is a huge amount of preprocessing to agglomerate the data and I was hoping that the powertransform would help since a part of my data follows a generalized extreme value

[2019-10-01 22:11] jnothman commented on #14314
I presume because the mantissa is 32 bits

[2019-10-02 01:11] jnothman commented on #15110
By tabulated do you mean an external package? I think we are very unlikely to accept this kind of dependency. I'd stay by making it easier for users to construct (or get) a daraframe with rows and columns labelled... But I suspect there is already an issue for that (haven't looked)

[2019-10-02 01:17] jnothman commented on #15109
I'm okay with this

[2019-10-02 01:19] jnothman commented on #14947
That doesn't clarify what info you would like for dbscan

[2019-10-02 02:22] david-waterworth opened #15117 "Inconsistent fit + transform and fit_transform for FeatureUnion"
Is there a reason why the `FeatureUnion` method signature `fit_transform` accepts `fit_args` but neither `fit` nor `transform` do? It seems to go against the pattern that `fit_transform()` is the same as calling `fit().transform()`?

https://github.com/scikit-learn/scikit-learn/blob/1495f69242646d239d89a5713982946b8ffcf9d9/sklearn/pipeline.py#L895

https://github.com/scikit-learn/scikit-learn/blob

[2019-10-02 02:52] qinhanmin2014 commented on #15075
Ahh, I saw the comment from @thomasjpfan  https://github.com/scikit-learn/scikit-learn/issues/9606#issuecomment-503827838

No, but
(1) It's straightforward and reasonable IMO
(2) eli5 talks about it in their doc https://eli5.readthedocs.io/en/latest/blackbox/permutation_importance.html#feature-selection
They make use of SelectFromModel by introducing a class ``PermutationImportance``. Permutation

[2019-10-02 02:57] qinhanmin2014 commented on #9606
I don't think so, sometimes we fit the model using the traning set and calculate the permutation importance based on a validation set.

Can we have a seperate class (e.g., ``SelectFromPermutationImportance``)?

[2019-10-02 03:11] qinhanmin2014 commented on #15076
Could you please summarize the reason? thanks @glemaitre

[2019-10-02 03:38] sshivaditya2019 commented on #11165
Are you still facing the same problem

[2019-10-02 03:56] jrcoutinho opened #15118 "[Feature suggestion] Extend VarianceThreshold with additional dispersion metrics"
The `VarianceThreshold` class currently has limited applicability for data sets with features in different units/scales beyond acting as a zero-variance filter, due to a unified variance threshold being unlikely to work well.

I would like to suggest enhancing this class with the option of alternative dispersion metrics. More specifically, I have in mind the [coefficient of variation](https://en.w

[2019-10-02 07:21] ailurus1991 commented on #15112
Your `X.shape[0]` is 11 and the median is `0.`, so that the bin_edges is [0., 0., 80] which means only one bin will be generated.
If you comment the last `0.`, and then `X.shape[0]` is 10 and the median is `10.`, so that the bin_edges is [0., 10., 80] which is great.
I think you should notice the warning like `UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Co

[2019-10-02 07:44] ailurus1991 commented on #15075
Feature selection by permutation is common in Kaggle and other tabular data competition. This
 method has been introduced on 《ESL 2nd》page 593. https://web.stanford.edu/~hastie/Papers/ESLII.pdf

[2019-10-02 08:30] jnothman commented on #15112
The assumption behind that warning, that a small bin should be removed
rather than expanded, might be wrong.

The point is that the user expected approximately half of the training data
to be in one bin, and approximately half to be in the other. I'm not really
sure how to do this, however.

[2019-10-02 09:40] trungnghia2009 commented on #13228
I also got the same problem on spyder (work only with n_jobs = 1), but on vscode it worked well.
Using windows platform for the tutorial

![paralell computing](https://user-images.githubusercontent.com/39518917/66034334-42e66900-e533-11e9-86ab-862b3ac7daa1.PNG)

[2019-10-02 10:14] glemaitre commented on #15076
The reason was to make the PR simpler from what I am reading now.
So I think that we can go ahead to make a new PR.

[2019-10-02 10:47] qinhanmin2014 commented on #15076
Let's use this name.

[2019-10-02 10:55] HabeebullahEbrahemi commented on #10503
I got the same error would anyone suggest something I am using a multi-label data set

[2019-10-02 11:56] #9919 closed

[2019-10-02 11:58] adrinjalali commented on #15112
We could try to check if there is any data (or enough data) in those small bins before removing them.

[2019-10-02 12:08] harsh020 commented on #15110
I meant either of the way would suffice, i.e. either by using an external package, or by returning a well constructed dataframe (properly labelled columns and indexes).

Well, if the feature is already being developed then I guess I'll close this issue.

Thanks.

[2019-10-02 12:42] ogrisel commented on #15078
There is something weird. On my laptop (2 cores, 4 hyperthreads):

- `pytest -v  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py` => 0.70s (no xdist)
- `pytest -v -n 1 sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py` => 1.46s (1 xdist worker)
- `pytest -v -n 2 sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py` => 11s to 48s (2 xdist workers)
- `OMP_NUM_THREA

[2019-10-02 12:44] ogrisel commented on #15078
I have also tried to use `-d --tx 2*popen//python=python` instead of `-n 2` and I get similar results.

[2019-10-02 12:45] jcusick13 commented on #15076
Hi all --  I'd be glad to take a stab at putting a PR in for this.

[2019-10-02 12:48] ogrisel commented on #15078
I have also tried to add `-k Classifier` to only run the classification test and even with `OMP_NUM_THREADS=4` and 2 xdist workers the run time does not go beyond 1.5s (because there is only 1 worker running the test, the other is idle.

[2019-10-02 12:58] ailurus1991 commented on #15112
@adrinjalali if we keep those narrow bins, how do we handle them in the transform part? I mean the `eps` should be removed and add `right=True` in `np.digitize`?

[code]

[2019-10-02 13:20] qinhanmin2014 commented on #15075
I don't think ESL mention feature selection based on permutation importance? It only mentions permutation importance based on RF (and that'a actually different from the permutation importance we've implemented.)

[2019-10-02 13:25] ogrisel commented on #12546
My intuition is that pandas is generating cyclic references to the memmapped large numpy array which is therefore collected with a delay. Let me try to write a minimal reproduction test.

[2019-10-02 13:26] qinhanmin2014 commented on #15075
Maybe we can go ahead to discuss how to implement it.
Thomas prefer to integrate it into SelectFromModel, but I think that will be difficult, because sometimes we fit the model using the traning set, and calculate the permutation importance using the validation set.
Perhaps we can introduce a new class (e.g., ``SelectFromPermutationImportance``, or a shorter name).

[2019-10-02 13:35] glemaitre commented on #15076
@jcusick13 Go for it :)

[2019-10-02 13:52] albertcthomas commented on #12546
@ogrisel This [comment above](https://github.com/scikit-learn/scikit-learn/issues/12546#issuecomment-456864702) contains a reproduction case, but we might be able to have a smaller one, only involving joblib.

[2019-10-02 13:53] ogrisel commented on #15078
I don't see any easy way to workaround this issue. I think we should just set the OMP_NUM_THREADS=1 / OPENBLAS_NUM_THREADS=1 / MKL_NUM_THREADS=1 environment variables in the CI configuration.

[2019-10-02 13:54] ogrisel commented on #12546
Yes this is what I am looking for.

[2019-10-02 14:07] albertcthomas commented on #12546
I cannot reproduce the error in the reproduction case above with the scikit-learn 0.21.3 and joblib 0.14.0...

[2019-10-02 14:09] rth commented on #15078
Thanks for investigating @ogrisel and @tomMoral !

I know, it's not really a big issue, more some evidence about how things could go wrong when using different parallelism mechanisms is seemingly innocuous settings.  It's also interested that this happens with OpenMP in gradient boosting but not threading in BLAS.

Closing as "wont fix", with the solution being to use a smaller `OMP_NUM_THREADS` a

[2019-10-02 14:09] #15078 closed

[2019-10-02 14:13] ogrisel commented on #15078
The fact that is so catastrophic even on a small number of cores is intriguing though. @jeremiedbb @NicolasHug maybe you have an idea why this is happening more specifically for HistGradientBoostingClassifier/Regressor?

I wonder why we don't have a similarly scaled over-subscription problem with MKL or OpenBLAS thread pools.

[2019-10-02 14:20] ogrisel commented on #9699
This was fixed a while ago (#12011) without closing this issue.

[2019-10-02 14:20] #9699 closed

[2019-10-02 15:25] NicolasHug commented on #15078
I can reproduce everything on my laptop.

[code]

As noted by Olivier commenting out one of the tests will make it run fast.

Note that LightGBM estimators also have a big slow-down with `-n 2`, but much less (about 10s).

[2019-10-02 15:27] streetr0ck commented on #13228
Thank you very much @trungnghia2009 for the answer.

[2019-10-02 15:41] ogrisel commented on #15078
I observed a huge variability across oversubscribed runs, typically between 10s and 50s with `-n 2` and `OMP_NUM_THREADS=4` on my laptop with 2 cores 4 hyperthreads.

[2019-10-02 15:43] thomasjpfan commented on #15078
I am considering using a `pytest.mark` to label tests as "serial" and run `pytest` with and without `-n`.

Reference: https://github.com/pytest-dev/pytest-xdist/issues/385#issuecomment-444545641

[2019-10-02 15:45] NicolasHug commented on #15078
Regardless of oversubscription, I observed a pretty high variability in the hist estimators too. Typically when running one of the benchmarks (higgs for example), the first few runs are always significantly slower than the subsequent ones :/

It's not the case for the LGBM estimators

[2019-10-02 15:49] #14774 closed

[2019-10-02 15:52] ogrisel commented on #15078
That's a possibility indeed.

Note that I have just encountered another issue with pytest-xdist in this PR #14264.

[2019-10-02 17:22] ogrisel commented on #12546
I have set-up a windows VM to debug this but unfortunately I cannot get: https://github.com/scikit-learn/scikit-learn/issues/12546#issuecomment-456864702 to fail on this machine which is going to make things harder to debug and fix on my end.

I will still try to come up with a blind minimal reproducing example with the reference cycle hypothesis.

[2019-10-02 18:05] NicolasHug commented on #8370
Discussing this with @thomasjpfan : why do we want `isinstance(freeze(obj), type(obj)) == True`?

If I freeze an SVC, I shouldn't expect it to behave like an SVC... so why do we want this?

(asking because this seems to be the main reason for rejecting one of the PRs which is otherwise pretty solid)

[2019-10-02 19:05] #15117 closed

[2019-10-02 20:16] albertcthomas commented on #12546
Yes I cannot reproduce the error either. I also tried with previous scikit-learn versions (0.20 and 0.19).

[2019-10-02 21:32] jnothman commented on #15110
I can't find an open issue for it

[2019-10-03 01:15] harsh020 commented on #15110
Well, if you find this feature feasible, I can work on it.

Thanks.

Sent from my iPhone

[2019-10-03 07:04] mdickinson opened #15122 "Please don't configure logging in the top-level __init__.py"
`import sklearn` creates a `StreamHandler` and attaches it to the `sklearn` logger:

https://github.com/scikit-learn/scikit-learn/blob/0eebade2642b7f6c5105538eedada5b731998cc2/sklearn/__init__.py#L24

I'm not sure what the motivation for this is, but it's a deviation from the normal "best practices" for logging, namely that libraries should restrict themselves to issuing log messages, but let the

[2019-10-03 07:25] qinhanmin2014 commented on #15112
I think it's difficult to define the expected behaviour here. The bin edges are [0, 0, 80] and it's reasonable to place all the observations in a single bin.

to be in one bin, and approximately half to be in the other.

It's impossible because more than half of the datasets are 0. If you want to specify the bins manually, you can use ``pd.cut`` (e.g., ``pd.cut(arr, [-np.inf, 10, np.inf])``).

[2019-10-03 07:35] mdickinson commented on #15122
See #9240 for discussion leading to the introduction of this log configuration.

[2019-10-03 07:39] qinhanmin2014 commented on #14468
We'll support all the loss functions in SGD.  If you want to help, maybe you should first try to provide some references & benchmarks here to show that it's useful.

[2019-10-03 07:51] jnothman commented on #15122
Yes, that change flew under my radar. It seems it was intended for python 2
compat (see
https://github.com/scikit-learn/scikit-learn/pull/9240#discussion_r130809777)
so we should just remove it.

[2019-10-03 07:59] #14955 closed

[2019-10-03 08:58] ogrisel commented on #12546
The fact that I cannot reproduce with a VM might be caused by the fact that memory mapped files might behave differently in a VM.

I will try to reproduce with a CI worker in this PR: https://github.com/joblib/joblib/pull/942

[2019-10-03 12:28] rth opened #15123 "A common module for losses"
Currently each model that needs it defines their own losses, it might be useful to put them all in one place to see if anything could be re-used in the future.

In particular, losses are defined in,
 - HistGradientBoosting: `sklearn/ensemble/_hist_gradient_boosting/loss.py`
 - GradientBoosting: `sklearn/ensemble/_gb_losses.py`
 - SGD: `sklearn/linear_model/sgd_fast.pyx`
 - GLM: https://github.com/

[2019-10-03 12:59] NicolasHug commented on #15123
I'd be happy to unify everything... But that looks like a hard problem.

The first thing that we can reasonably unify are the `__call__` methods. But even here, implementations differ on small details. For example, for the old GBDTs the LS loss is a proper LS loss, while for the histogram-based GBDTs it's a half LS (makes the rest of the code simpler).

If we want to unify more things, the problem

[2019-10-03 13:10] rth commented on #15123
I agree that it's not a trivial problem, maybe even more so for GBDT, and I'm not sure that everything can indeed be unified. But say unifying MLP losses with SGD losses should be relatively easy I think; we could start there.

As long as everything is private, moving incrementally could be doable.

[2019-10-03 13:30] NicolasHug commented on #15123
Briefly looking at it, MLP defines a half LS loss for numpy arrays in pure Python, while the SGD losses are point-wise Cythonized methods (also a half LS).

[2019-10-03 13:40] rth commented on #15123
Indeed. Well we could have one cdef method for scalar nogil calls and one cpdef for vectorized ones in the same class. That would also help make sure they are consistent.

[2019-10-03 14:09] NicolasHug commented on #15123
I agree this is a bit annoying to have all those implementations in different places, but OTOH writing losses is in general pretty easy and bugs are easily caught.

So I wouldn't make it a high priority right now maybe

[2019-10-03 14:38] #15087 closed

[2019-10-03 14:56] albertcthomas commented on #12546
I think we can close this issue as I cannot reproduce on Windows (with scikit-learn 0.21.3, pandas 0.25.1 and joblib 0.14.0) and the associated test was not failing on Appveyor in the related joblib PR (see joblib/joblib#942).

[2019-10-03 15:52] keyianpai commented on #15076
@glemaitre  i think original is better, `passthrough`  is hard to understand, pass through what, pass through original features.

[2019-10-03 18:01] RylanSteinkey opened #15124 "LabelEncoder encodes multiple classes to the same number."
#### Description

LabelEncoder will label multiple classes to the same number when le.classes_ is accessed.

#### Steps/Code to Reproduce
[code]
Classes <=1.0000 and >=32.0000 are both labelled as 5
Classes 2.0000 and 16.0000 are both labelled as 0

My class Counter:
```Counter({'<=1.0000': 3823, '>=32.0000': 817, '8.0000': 509, '16.0000': 377, '2.0000': 273, '4.0000': 54})```
My Label Counter:
``

[2019-10-03 18:20] glemaitre commented on #15076
#response_container_BBPPID{font-family: initial; font-size:initial; color: initial;}IMO it is to long

[2019-10-03 20:01] NicolasHug commented on #9499
@jnothman , what was the motivation for passing `evaluate_candidates()` to `_run_search` versus e.g. just making it a private method?

[2019-10-03 22:04] NicolasHug opened #15125 "Notes on warmstarting GridSearchCV and SuccessiveHalving"
Throwing some thoughts on warm starting, grid search and successive halving (#13900 ). In particular: warm-starting in grid search is very different from warm-starting in SH. Details below.

I think this could be of interest to @jnothman , @amueller, @adrinjalali  and @ogrisel .

# Warm start in GridSearchCV

GridSearchCV currently does not support warm-starting, which is a shame since it wastes r

[2019-10-03 22:05] NicolasHug commented on #15125
This is a complex issue... I'm happy to chat if anyone wants to discuss it.

[2019-10-04 00:27] jnothman commented on #15124
We provide no guarantee on behaviour when attributes (ending `_`) are set.

[2019-10-04 00:27] jnothman commented on #15124
What made you think this would work?

[2019-10-04 00:27] jnothman commented on #15124
and be valid, supported usage?

[2019-10-04 00:29] jnothman commented on #15076
We use "passthrough" with similar semantics in ColumnTransformer

[2019-10-04 00:29] jnothman commented on #15076
(albeit with different syntax and context: it's not a parameter there)

[2019-10-04 00:34] jnothman commented on #9499
If a method, how would `evaluate_candidates` be provided the other variables  it needs to do its job? `evaluate_candidates` is a closure over several other variables available in `_fit`. If it were a method, then those variables would need to be stored on the object. This is a cleaner functional abstraction (but maybe it's more functional paradigmatically than a lot of code in scikit-learn)

[2019-10-04 06:07] vijaysinghkadam commented on #15008
.

[2019-10-04 07:43] ogrisel commented on #12546
Indeed it seems that it's no longer possible to reproduce the original issue with the latest version. We will still work on a redesign of how the temporary folder cleanup happens in joblib with the loky backend so as to fix the two minimal reproducing examples reported as  joblib/joblib#942 joblib/joblib#944.

[2019-10-04 07:43] #12546 closed

[2019-10-04 08:01] qinhanmin2014 opened #15127 "GBDT support custom validation set"
Is it reasonable to support custom validation set in GBDT? Currently we do train_test_split internally but I think sometimes users want to do train_test_split themselves (e.g., sometimes we want to use first 80% of the dataset as training set and the rest of the dataset as validation set.).
xgboost, lightgbm and catboost all support custom validation set.

[2019-10-04 10:28] shakhat opened #15128 "Performance degradation with joblib==0.14.0"
#### Description
There is a significant performance degradation in multi-core mode with joblib 0.14.0 comparing to joblib 0.13.2

#### Steps/Code to Reproduce
The following code can be used to demonstrate the issue. The code is executed with concurrency 1, 2, 4 and 8 and prints time consumed.

[code]

#### Expected Results
It's expected that there is no difference between running with joblib 0.13.

[2019-10-04 10:57] reifba commented on #13438
I think that adding, a tag of _idempotency_ can tighten and help the estimator checks when building estimators.

if should support something like:
[code]

`StandardScaler` is one such estimator.

[2019-10-04 11:39] adrinjalali commented on #15125
That's not true. Especially since we sample the parameters at the beginning, we can take the sample, and the sort them according to what's needed to do warm start, and then continue.

could you please elaborate? I think it shouldn't be too hard to handle both cases if we support something like `estimator.clone(for_warm_start=True)`, which could be used in certain places in SH. Or possibly I'm not

[2019-10-04 11:47] rth opened #15129 "Building scikit-learn with gcc 9.2 in a conda env fails"
When building scikit-learn in a clean conda environement,
[code]
with gcc 9.2, I get the following error,
[code]
with,
[code]

if I remember correctly, @tomMoral was getting the same error on Arch also with a recent gcc.

I would rather not install conda compilers as a workaround, build should work with recent system gcc..

The root cause is that conda ships its own `ld` that doesn't work with rec

[2019-10-04 13:17] qinhanmin2014 opened #15132 "Support feature importance in HistGradientBoostingClassifier/Regressor"
Maybe we should support feature importance in HistGradientBoostingClassifier/Regressor?

[2019-10-04 13:24] qinhanmin2014 commented on #12614
Is it possible to shuffle by default in KFold/StratifiedKFold?
I guess some people are not aware that we do not shuffle the dataset by default?

[2019-10-04 13:57] #14995 closed

[2019-10-04 14:08] NicolasHug commented on #15125
About warmstarting a Random search:

This is hard to explain succinctly... Hope this picture will make it clearer. To warmstart a parameter `b`, you need some structure/regularity on the rest of the parameters. Such structure doesn't exists in general in `RandomizedSearchCV`.

![IMG_20191004_100449](https://user-images.githubusercontent.com/1190450/66213818-830e2e80-e68e-11e9-9fed-58595a946a16.jpg

[2019-10-04 14:09] NicolasHug commented on #15125
I don't think we need to change anything to clone regarding the issues discussed here

Supporting warm-start in SH requires `evaluate_candidates()` to:
- accept estimators as input (and not clone them)
- return the fitted estimators

This way, the SH class can pass in the survivors for the next iteration.

That's what I mean by "hacky and not backward compatible."

What I mean is that unless an es

[2019-10-04 19:28] helloiamivan commented on #13637
happy to work on this. I think we should have include the common results which statsmodels provide.
[https://www.statsmodels.org/stable/generated/statsmodels.regression.linear_model.RegressionResults.html?highlight=regressionresults#statsmodels.regression.linear_model.RegressionResults](url)

[2019-10-04 20:15] pspachtholz opened #15133 "Improving API documentation for CalibratedClassifierCV"
#### Description
When reading the API documentation of CalibratedClassifierCV I had a hard time understanding how it works and how to properly use it without actually looking at the code.

The main reasons were:
1) that the suffix CV made me think (as in other cross-validation estimators) cross-validation is used to either evaluate a metric or tune hyperparameters, while
in this case it is used to