[2019-01-22 10:50] jnothman commented on #13027
No, actually, they are defined quite differently. Bernoulli assumes that each feature is drawn from an independent bernoulli, each feature with its own parameter. Multinomial is defined such that each counted event is independent, and the features are together drawn from a single multinomial distribution. So where the parameters for each feature are p_1, p_2, ... p_m, the probability of some sampl

[2019-01-22 10:50] #13027 closed

[2019-01-22 10:52] jnothman commented on #13027
(I think the above calculation might suggest they would be identical if the number of features is 2)

[2019-01-22 10:53] jnothman commented on #13027
Sorry, ignore that. Only valid if each row sums to 1

[2019-01-22 11:37] Yanjiayork commented on #13027
@jnothman  Hi Joel, thank you for the quick reply. I don't understand what do you mean by each row sums to 1. My understanding is for BernoulliNB, the probability is
<img width="358" alt="screen shot 2019-01-22 at 11 01 47" src="https://user-images.githubusercontent.com/36036634/51531427-4f0f1800-1e35-11e9-8ea1-266efc4260f1.png">
For this example, it will calculate that P (X1 = 1 | Y= 0) = 3/6, P(

[2019-01-22 13:39] jnothman commented on #13027
In multinomial, the parameter associated with feature X1 is 3/30 (before smoothing), but this is not `P(X1 = 1 | Y= 0)`. It is, rather, the probability that if a single event/feature-count occurs it is X1. I don't think it is simple to compute `P(X1 = 1 | Y= 0)` or  `P(X1 = 0 | Y= 0)` as such.

This is no longer a bug report and I think you should seek further assistance from a question answering

[2019-01-22 14:19] timbicker commented on #12957
I personally would appreciate it, if the general/mixed naive Bayes classifier would also work with the other NB classifiers and not only with Gaussian and Bernoulli.
I am not sure if there is a use case to combine Multinomial with other NB classifiers, but I think categorical does make sense.

[2019-01-22 14:28] xadupre opened #13030 "SVC decision_function does not produce independant outputs"
#### Description
Output of SVC.decision_function for one observation depends on the other observations --> it is not independant.

#### Steps/Code to Reproduce

[code]

#### Expected Results

decision_function should verify:

decision_function(X1) == decision_function(X1X2)[:1]

#### Actual Results

[code]

#### Reasons

decision_function calls _ovr_decision_function which normalizes outputs based

[2019-01-22 16:11] amueller commented on #10158
730   /home/andy/checkout/scikit-learn/sklearn/metrics/regression.py:545: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
    414   /home/andy/checkout/scikit-learn/sklearn/linear_model/sag.py:334: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
    134   /home/andy/checkout/scikit-learn/sklearn/svm/base.py:929: ConvergenceWarni

[2019-01-22 16:55] thomasjpfan commented on #13016
The following fixes the issue for common metrics testing: (with `pytest-xdist` installed)

[code]

And to run all tests:

[code]

[2019-01-22 17:07] jarednielsen commented on #12957
I agree, we should make the general NBC as, well, general as possible :) Let me know when you've merged PR #12569!

[2019-01-22 19:31] amueller commented on #13030
Duplicate of #9174

[2019-01-22 19:31] #13030 closed

[2019-01-22 19:35] amueller commented on #13016
wanna send a PR to see if it'll kill our CI? Or maybe we can just put it into the makefile?

[2019-01-22 19:59] thomasjpfan commented on #13016
I am looking into taking advantage of this in our CI. I will send a PR after ironing out an issue with running `pytest-cov`.

In reference to https://github.com/scikit-learn/scikit-learn/issues/12986, if Azure pipelines has more cores to take advantage of this, I am tempted to write an Azure configuration.

[2019-01-22 20:07] thomasjpfan commented on #13016
A bunch of our tests uses sets to as pytest parameters. We could set their order by running `sorted` on these sets. This way their order is deterministic.

[2019-01-22 20:09] rth commented on #13016
I think Travis CI, Circle CI and Appveyor VMs have 2 cores, which is a start. I wasn't able to find that information on Azure pipelines..

[2019-01-22 21:05] amueller opened #13031 "Machine readable definition of parameters"
Related to #5004.
For automl purposes and automatically using scikit-learn more programmatically, it would be helpful for some to specify allowed parameters in a machine-readable format. Right now they are only available via the documentation, which doesn't allow us to actually test them and might be hard to parse.

Considerations are how to specify hyper-parameters. We could use the Python type s

[2019-01-22 21:18] #13021 closed

[2019-01-22 21:38] #13009 closed

[2019-01-22 21:39] rth commented on #13009
Yes, it turns out I was trying to build numpy 1.5 (from 2010) with PyPy...  Instead of 1.15 -- makes sense it didn't work and was attempting to run 2to3 (presumably to get Python 3.1 compatible code) :)

Should be fixed in https://github.com/scikit-learn/scikit-learn/pull/13018

[2019-01-22 21:45] warn4n commented on #12278
getting the certificate error again today

[2019-01-22 21:52] jnothman commented on #12957
I don't think #12569 is a prerequisite for this. I would consider an
interface a little like ColumnTransformer that specifies the naive Bayes
estimator for each set of columns. Ideally GeneralizedNaiveBayes would
share code with ColumnTransformer for handling heterogeneous features.

[2019-01-22 22:04] kiran-kate opened #13032 "PCA fails on digits dataset with n_components >60, solver='arpack' and whiten=True"
#### Description
PCA fails on digits dataset with n_components >60, solver='arpack' and whiten=True

#### Steps/Code to Reproduce
To test this with test_pca.py, I modified the third line from test_pca_score_with_different_solvers() as follows:

[code]

#### Expected Results
No error and the test should pass.

#### Actual Results

[code]
#### Versions
System:
    python: 3.6.5 |Anaconda, Inc.| (def

[2019-01-22 22:05] kiran-kate commented on #13032
Please note that I see the same error when n_components = None.

[2019-01-22 22:39] jnothman commented on #13031
This broad goal of enabling Auto ML is not something we have on our roadmap
iirc, and probably should be. Another aspect of parameter use that might
deserve machine readable annotation is which parameters can be varied for
warm_start (and in what order).

[2019-01-22 23:48] Robinspecteur commented on #12952
Just figured out how to find the variance; just had to compute it (and store it) for each class :-)

[2019-01-23 00:05] dirkpadfield commented on #12952
Yes, I agree that it needs to be stored for each class separately.  In GaussianNB, it accomplishes this by doing the calculations in the method _update_mean_variance and calling that method for each class separately.  You may want to do something similar.

For testing, you probably want to run a computation with the full data and compare the results to using partial data built up over time.  The r

[2019-01-23 00:08] Robinspecteur commented on #12952
Yes, you should be able access it [on my repo](https://github.com/Robinspecteur/scikit-learn/blob/partial_centroid/sklearn/neighbors/nearest_centroid.py)

[2019-01-23 00:17] dirkpadfield commented on #12952
I just took a quick look.  You're probably going to want to move the "manhattan" code back up into the "fit" method.  Right now, there's no path to using the "manhattan" metric because it's implemented in partial_fit but there is a check that doesn't allow the code to get into the partial_fit method when the metric is "manhattan".

[2019-01-23 00:21] Robinspecteur commented on #12952
Are you sure? Because test_manhattan_metric() runs without failure

[2019-01-23 03:34] mitar commented on #13031
In the [d3m](https://gitlab.com/datadrivendiscovery/d3m) project we have a [language to describe parameters using Python classes](https://gitlab.com/datadrivendiscovery/d3m/blob/devel/d3m/metadata/hyperparams.py). We have decided not to use Python typing because of its strange focus on using `Type[Arg]` syntax which means that everything is a class and not an instance so then you have to program w

[2019-01-23 04:42] altieresdelsent opened #13034 "Why coef_ cannot be sparse when fitting data?"
I am trying to use LinearSVM and SDGClassifier and all of them requires a dense matrix, my input are n-grams from small text with many classes ( more than (1 thousand), my data has 18 millions features ( n-grams) each sample has on average 13 features, my X is very, very sparse. when I use SDGClassifier to fit it uses 25 GB of RAM, when I call sparsify it goes to 50mb, when I try LinearSVM it uses

[2019-01-23 06:52] jnothman commented on #13031
Our convention is to set those "parameters" attributes during the fit
method. I don't see how it would be an improvement to change that rather
than, say, add the type annotations for them like those you have
constructed, and enforce them in tests.

[2019-01-23 09:18] lucascolz commented on #12546
Is there a solution for this issue?

@amueller @albertcthomas I am working with the downgraded version 0.19.2, as mentioned by @Sai-Macharla, and so far so good. But both for 0.20.1 and .2 this issue wasnt resolved, right?

[2019-01-23 09:43] albertcthomas commented on #12546
I don't think it's resolved in either 0.20.1 or 0.20.2.
Is it possible for you to give us a reproducible example?

[2019-01-23 09:48] albertcthomas commented on #12546
Also I don't know what makes it work in 0.19.2 but not in 0.20.2? The default joblib backend is now loky but this seems to be an issue related to memmaping.

[2019-01-23 10:03] jnothman commented on #12546
Currently that code in disk.py catches `(OSError, WindowsError)`. Would it be reasonable (even without understanding the source of the problem) to just add `PermissionError` so that at least this is handled with a retry rather than immediate failure?

[2019-01-23 10:21] albertcthomas commented on #12546
Actually `PermissionError` is an `OSError` (according to [python doc](https://docs.python.org/3/library/exceptions.html#os-exceptions)) and the `PermissionError` is raised after 5 attempts to delete the folder according to the user warning:

[code]

From what I experimented you sometimes need to wait a few minutes before being able to delete the folder, see [this comment](https://github.com/joblib

[2019-01-23 11:51] lucascolz commented on #12546
I am working with the [APS SCANIA dataset](https://www.kaggle.com/uciml/aps-failure-at-scania-trucks-data-set/version/2)

[code]

This returns me the following error:

[code]

[2019-01-23 12:13] albertcthomas commented on #12546
Thanks a lot @lucascolz!

[2019-01-23 13:20] baluyotraf opened #13035 "MissingIndicator failed with non-numeric inputs"
#### Description

```sklearn.Imputer.MissingIndicator``` fails with string and object type numpy arrays

#### String Types

##### Steps/Code to Reproduce
[code]

##### Expected Results

[code]

##### Actual Results

[code]

#### Object Types

##### Steps/Code to Reproduce
[code]

##### Expected Results

[code]

##### Actual Results

[code]

#### Versions

[code]

[2019-01-23 13:40] mitar commented on #13031
So how would one automatically inspect an estimator? It seems that currently the idea is that you create an instance of the estimator, provide hyper-parameters, and then read what are params/state ... how? So if flags are dynamic and depend on hyper-parameters, params are as well. But I am not sure if I want to fit the estimator just to figure out what state it might have and populate the AutoML d

[2019-01-23 13:44] jnothman commented on #13031
What do you use the parameter annotations for?

[2019-01-23 13:48] mitar commented on #13031
The idea is that you can have more insight into what the state is and be able to inspect how, what, and how much changes during fitting. It is an ongoing research area. But I agree that those "params" in our view (state) is not as important as "hyper-parameters" in machine readable format.

[2019-01-23 14:50] rowedenny commented on #8834
Dear all, I am dealing with spectral clustering with the affinity matrix size of 60000 x 60000, unfortunately, as you can expect, sklearn reports 'out of memory'.

When google the solution, I happen to find this issue proposed more than one year ago.

I am wondering if it is possible to solve the problem, if so what parameter I should specify?

Thank you all :)

[2019-01-23 16:17] albertcthomas commented on #12546
Interestingly,
[code]
always fails (never at the first iteration of the for loop). Note the use of a pandas dataframe for X_train.

However when X_train is a numpy array
[code]
does not fail.

[2019-01-23 16:21] albertcthomas commented on #12546
@lucascolz do you see the error every time you run your code?

Can you try by passing numpy arrays instead of pandas dataframes?
[code]

[2019-01-23 16:50] olebole opened #13036 "[0.20.1] Test failures on non-x86 (Debian) platforms"
There are a number of failures on our non-intel platforms, which currently prevent scikit-learn from migration to the upcoming "buster" release.

The logs can be found [here](https://buildd.debian.org/status/logs.php?pkg=scikit-learn&ver=0.20.1%2Bdfsg-3&suite=sid).

Relevant Debian bug is [Debian#919918](https://bugs.debian.org/919918).

 test_estimate_bandwidth_1sample
===========================

[2019-01-23 17:39] MatthewK100000 opened #13037 "I don't understand why dual=False doesn't work in LinearSVC"
Hello,

I'm trying to fit my MNIST data to the LinearSVC class with dual='False' since n_samples >n_features. I get the following error:

[code]
I've tried all 4 combinations for the loss and penalty parameters and none of them work. I have no clue what the problem is. If anyone could illuminate me on that, I'd be grateful. The following is the code I ran:

#### Steps/Code to Reproduce
[code]

Her

[2019-01-23 21:05] jnothman commented on #13036
Thanks. It's possible the first was fixed in 0.20.2.
test_decode_anneal looks like it could be a real issue.

The others look insignificant but would be good to fix.

[2019-01-23 21:05] zzygyx9119 commented on #9913
This is kind of confusing to me. When using some random state such as 0,100, 80, the learning_curve worked perfectly. However, in case of some random state such as 10, 20 (of course, this depends on my specific dataset), I got the error message. Setting "shuffle" parameter to True didn't help either. The above observations were done using cv=ShuffleSplit. When using cv=StratifiedKFold, it seemed t

[2019-01-23 21:09] jnothman commented on #13035
This may be a problem for #11886 given that SimpleImputer now handles
non-numerics

[2019-01-23 21:11] jnothman commented on #13031
Right. So it might allow your auto ml engine to learn which "hyper"
parameters actually affect the fit. Interesting, although prediction should
often tell you that too.

[2019-01-23 21:19] olebole commented on #13036
What about the bus error on armhf (`testlof.py`)? armhf is a bit picky about alignment, so this could be a hint that something was unaligned.

[2019-01-23 21:21] zzygyx9119 commented on #9913
Sorry I forgot to mention I used SVM as estimator. Also, y in my dataset is also sorted. Will randomizing  the dataset solve this issue? If yes, I was wondering why the learning_curve function can not be revised to work on the dataset with sorted y. Thanks!

[2019-01-23 21:31] jnothman commented on #13037
You are passing the string 'False' not the bool False.

[2019-01-23 21:32] mnarayan commented on #12228
1. Some information pertinent to the above comments.
   - You can find more mathematical justification for a graphical elastic net in Allen's [dissertation, 2.3.1](http://www.stat.rice.edu/~gallen/giallen_thesis.pdf)
   - Rothman also formulated a slightly different objective to ensure positive semidefinite in [Positive definite estimators of large covariance matrices](https://doi.org/10.1093/biom

[2019-01-23 22:39] jnothman commented on #13036
Sorry, must have overlooked that on my phone.

[2019-01-23 22:54] jnothman commented on #9913
What does your y look like? Can you share it?

[2019-01-24 00:48] zzygyx9119 commented on #9913
The y before doing shuffling looks like this:
[code]

I tried shuffling the dataset, so the shuffled y looks like:

[code]

Conclusion :  Prior shuffling doesn't solve the problem.

However, I solved my problem by replacing "train_sizes=np.linspace(.05, 1., 40)" with
 "train_sizes=[0.1,0.2,0.4,0.6,0.7,0.8]" in the learning_curve() function.

Hopefully my solution is helpful.

[2019-01-24 02:51] kjacks21 opened #13040 "DOC: sklearn.manifold.TSNE perplexity docstring potentially misleading"
#### Description

The documentation for [sklearn.manifold.TSNE](https://scikit-learn.org/stable/modules/generated/sklearn.manifold.TSNE.html) on the `perplexity` parameter has the following sentences:

Given personal experimentation with the parameter, sklearn docs examining how [perplexity impacts shape](https://scikit-learn.org/stable/auto_examples/manifold/plot_t_sne_perplexity.html#sphx-glr-au

[2019-01-24 03:07] jnothman commented on #13040
tsne perplexity example was added in ae8223356b (Apr 2017). "The choice is
not extremely critical" comes from 6a0ba6c1b98 (Feb 2014). I'm guessing
it's outdated. Please submit a PR correcting it.

[2019-01-24 10:17] lucascolz commented on #12546
@albertcthomas
I tried today the same code I have provided and also both codes you have provided with and without the use of a dataframe structure.
All of them ran without errors in a different computer, which is strange.

When I am able to use again the same computer, I can tell if the error persists.

[2019-01-24 10:52] albertcthomas commented on #12546
thanks @lucascolz.

[2019-01-24 17:00] FangzhengHu commented on #12971
I was wondering if this issue has been solved? Can I work on this? @souvik3333 @rth

[2019-01-24 17:15] thomasjpfan commented on #12167
LGTM has been red on master for a while: https://lgtm.com/projects/g/scikit-learn/scikit-learn/overview/ They all have the same error regarding C/C++.

[2019-01-24 18:14] zjpoh opened #13043 "precision_recall_curve should raise UndefinedMetricWarning when there are no true samples"
#### Description

When `precision_recall_score` is calculated with no true samples, a `RuntimeWarning` due to division by 0 is raised and `nan` is returned.  However, when `recall_score` is calculated with no true labels, a `UndefinedMetricWarning` due to no true samples is raised.

For consistency, I think `precision_recall_score` should raise the same error and return 0.

#### Steps/Code to Repr

[2019-01-24 22:50] fdas3213 commented on #12806
@AshwinB-hat I’ve already created a PR for my commits. Please let me know if there is additional work that I need to finish. Thank you

[2019-01-24 23:02] lucascolz commented on #12546
@albertcthomas Thanks for providing the snippets.
By me both pieces of code, with numpy arrays and dataframes I get an error.

With dataframe as X_train:

[code]

The run with numpy arrays:

[code]

In scikit-learn 0.19.2, I tried running the code you provided, so:

[code]

It runs the random search without error.

Have to check the library dependancies, as in another computer it run smoothly with

[2019-01-24 23:14] zzygyx9119 commented on #9913
I just want to mention that choosing "train_sizes=[0.1,0.2,0.4,0.6,0.7,0.8]" apparently didn't stop the error  messages from popping out for some chosen random_state.

In such cases, it helps to try to play around the "test_size" parameter in ShuffleSplit() function when generating cv. Reducing the value of "test_size" will help.

[2019-01-24 23:16] glemaitre commented on #13035
The issue is that `check_array` convert to `float64` object array. We need to turn `dtype=None` in case of `string` or `object` dtype to avoid the conversion.

[2019-01-24 23:17] glemaitre commented on #13035
It needs to be solved for the PR #12583 then.

[2019-01-25 06:33] jnothman commented on #13043
I think #8280 is meant to fix this, but it got stuck somewhere. Mind giving it a look?

[2019-01-25 08:32] albertcthomas commented on #12546
@lucascolz just to confirm: on your other computer you are also using Windows?

[2019-01-25 08:54] lucascolz commented on #12546
@albertcthomas Yes, I am using Windows 10 64 bits in all machines.

[2019-01-25 09:57] albertcthomas commented on #12546
Actually when **in the same ipython session** I first run the snippet with `X_train` as a pandas dataframe and then the snippet with `X_train` as a numpy array I get the error for both. But if quit the ipython session, restart a new one and run the snippet with `X_train` as a numpy array I don't have an error.

[2019-01-25 11:44] lucascolz commented on #12546
This tends to happen to me also. I think I will stick to the numpy array structure for as long as I can, or use the 0.19. I wasnt able to debug why exactly this problem happens.
Thanks @albertcthomas for your time.

[2019-01-25 12:38] albertcthomas commented on #12546
So you are saying that when you use numpy arrays you don't have the permission error?

Thanks @lucascolz for helping us investigating this issue

[2019-01-25 13:30] glemaitre commented on #12502
I think that we should drop one of the columns by default.

[2019-01-25 14:42] albertcthomas commented on #12546
This might be useful information for joblib dev @ogrisel @tomMoral

[2019-01-25 16:12] zjpoh commented on #13043
Sure.

[2019-01-25 17:08] MatthewK100000 commented on #13037
Thank you! How silly of me not to notice that!

[2019-01-25 17:09] #13037 closed

[2019-01-25 20:44] jiajiexiao opened #13045 "sklearn: 0.20.2-OverflowError: signed integer is greater than maximum when calling selector.fit_transform:"
#### Description
The "OverflowError: signed integer is greater than maximum" error messages occurred when calling selector.fit_transform() to select significant features from a large (millions to billions of samples and hundreds of thousands of features) sparse dictionary vector.

#### Steps/Code to Reproduce

[code]
protein_vec = DictVectorizer(sparse=True, dtype=np.uint16).fit(protein_in_pairs)

[2019-01-25 23:42] samlanning commented on #12167
@thomasjpfan Thanks for pointing that out. We've taken a look and have got the LGTM analysis working again now.

[2019-01-25 23:46] samlanning commented on #12167
Further info on fixes here: #13044

[2019-01-26 05:56] pswpswpsw commented on #12445
@agramfort Thanks for the info. Here is my [link](https://github.com/pswpswpsw/example_sensetivity_initial_guess_MultiTaskElasticNet) to the FINAL ANSWER of this issue. I have code for you to run and demonstrate and everything is clear and resolved.

Short answer: it turns out that, the `warm_start` really matters and perhaps the only thing that matters, AND, one have to warm_start in the way from

[2019-01-26 13:19] albertcthomas commented on #12546
@Sai-Macharla could you let us know if you were working with pandas dataframe or numpy arrays (for `X_Train_Vectors` or `X_Test_Vectors`) when you had the PermissionError?

[2019-01-26 13:33] jnothman commented on #13036
#10561 reports the first issue; #12548 reports two on amd64. I think the first issue is likely fixed in 0.20.2, but apparently there is no Debian build of 0.20.2?

The bus error is certainly surprising. Is it reasonable to believe this was not caused by test_lof.py?

It might be best to raise a separate issue for each of these. But it would be much more helpful if we were offered access to machine

[2019-01-26 13:40] olebole commented on #13036
We are still on 0.20.1; however (if there is no veto from our science team) I would upgrade first and see which failures are left. I will then move the remaining bugs into separate issues. Let's then see how to proceed.

[2019-01-26 13:52] jnothman commented on #13036
I only know of the first having had an attempted fix. And it would be good
to know if it is fixed, as there is another issue open.

[2019-01-26 14:02] albertcthomas commented on #12546
Actually even if `X_Train_Vectors` is a pandas dataframe, `X_Train_Vectors_Std` should be a numpy array...

[2019-01-26 17:15] #13007 closed

[2019-01-26 20:51] jnothman commented on #9913
doing 40 splits over data with 33 of the smallest class is going to be a problem...

[2019-01-26 21:42] glemaitre commented on #13035
Yes so no support for numpy string.

[2019-01-27 00:17] #12762 closed

[2019-01-27 06:10] jnothman commented on #13045
Please provide a minimal verifiable example including data (artificial or real)?

[2019-01-27 06:13] jnothman commented on #13045
Actually this is straightforward. DictVectorizer currently uses integer indices, not long integer. We recently changed to supporting long ints in CountVectorizer, and should make a similar change here too.

[2019-01-27 09:18] MarcoGorelli commented on #7206
@renewang are you still working on this?

If not, could I take it over, if it still needs doing?

[2019-01-27 09:50] qilicun opened #13048 "p-value and confident intervals with logistic regression?"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

Hi,
Could it be possible to get p-value and confident intervals with logistic regression? If not, how could I get them? I tried with Logit in statsmodel, but it always output NAN value for coefficient and p-values. Thanks a lot!

[2019-01-27 09:54] olebole opened #13049 "[0.20.2] test_decode_anneal fails on ARM processors"
Splitting #13036: On arm64 and armel platforms (ARM, 32 and 64 bit, little endian) and on alpha, I get the following failure in version 0.20.1 and 0.20.2:

[code]

[2019-01-27 10:06] olebole commented on #10561
As a follow-up on #13036, this is still unfixed in 0.20.2.

[2019-01-27 10:12] olebole opened #13050 "[0.20.2] on arm64, test_dump fails"
Splitting #13036: The following test fails on arm64 (only):

[code]
Maybe the required accuracy is a bit too tight?

[2019-01-27 10:23] olebole opened #13051 "[0.20.2] test_non_meta_estimators fails on Powerpc 64 bit little endian"
Splitting #13036:
Test failure for `test_non_meta_estimators[KernelPCA-KernelPCA-check_pipeline_consistency]`:
[code]
Similarly for  `test_non_meta_estimators[LocallyLinearEmbedding-LocallyLinearEmbedding-check_pipeline_consistency]`:
[code]
and for `test_non_meta_estimators[LocallyLinearEmbedding-LocallyLinearEmbedding-check_transformer_data_not_an_array]`:
[code]
and for `test_non_meta_estimator

[2019-01-27 10:31] olebole opened #13052 "[0.20.2] On armhf, test_novelty_true_common_tests() leads to a segfault"
Splitting #13036: On armhf, test_novelty_true_common_tests() probably leads to a segfault. I will try to get a backtrace.
Commenting this out leads to the [next segfault](https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=armhf&ver=0.20.2%2Bdfsg-3&stamp=1548629879&raw=0):
[code]
and [the next is](https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=armhf&ver=0.20.2%2Bdfsg

[2019-01-27 10:40] olebole commented on #13036
I split this in several issues and therefore close it.

[2019-01-27 15:16] olebole commented on #13051
BTW, I just found that a similar issue is #12448.

[2019-01-27 23:15] xiaoj12 commented on #13045
Sorry, I'm only an sklearn user so far and not quite familiar with its development. In order to avoid the errors, should I just force the index type to be np.uint64:

        indices = np.frombuffer(indices, dtype=np.intc) -> indices = np.frombuffer(indices, dtype=np.uint64)
        indptr = np.frombuffer(indptr, dtype=np.intc) ->  indptr = np.frombuffer(indptr, dtype=np.unit64)

[2019-01-28 02:01] jnothman commented on #13045
I think you might need to change the declaration of the array.array above,
to pass it "l"

[2019-01-28 07:09] rth commented on #13045
Or rather "q" to get int64 on Windows (only for indptr).

In text processing, we have kept [indices as int32 while upgrading indptr as int64](https://github.com/scikit-learn/scikit-learn/blob/1deb95a13e774050a0fb7ff1d896465e2bf937c1/sklearn/feature_extraction/_hashing.pyx#L37) which doesn't have a significant impact on memory while addressing the most common int overflow.

[2019-01-28 08:39] audiofeature commented on #9193
I would like to have such a StratifiedGroupShuffleSplitor too

[2019-01-28 08:43] Abonia1 opened #13055 "Mismatch size of labels and classes"
I get following error in classification_report
    "parameter".format(len(labels), len(target_names)):
ValueError:Number of classes, 5, does not match size of target_names, 10. Try specifying the labels parameter.

[2019-01-28 09:43] adrinjalali commented on #13055
Thanks for reporting the issue. Could you please also include a [minimal and reproducible example](http://sscce.org/) for us to better diagnose the problem?

[2019-01-28 09:54] hafezmg48 opened #13056 "FastICA whitening problem (Bug)"
#### Description

When performing FastICA using whiten=True attribute, the resulted unmixed signals have a variance of 1/len(data). this can be handled by multiplying the unmixed signals by sqrt(len(data)) in source code before returning it. Also, the unmixing matrix and its inverse must be changed properly to fit the corrected signals

#### Steps/Code to Reproduce

    chnum = eeg_signal.shape[0]

[2019-01-28 10:58] mariolovric opened #13057 "RFECV inconsistent"
Following https://stackoverflow.com/questions/54398353/sklearn-rfecv-inconsistent-results-for-feature-selection

#### Description
RFECV inconsistent in returning selected features

#### Steps/Code to Reproduce
from sklearn.datasets import make_regression
from sklearn.feature_selection import RFECV
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegress

[2019-01-28 11:15] Abonia1 commented on #13055
yeah i do get this error while i use to calculate classification report for text classification.In my code i have manually mentioned the 10 categories and while try to build report for these 10 i got error like it only have 5 labels which doesn't match with my categories(target_names)

May be you have already closed the same issue in 2016
https://github.com/scikit-learn/scikit-learn/issues/7751
 b

[2019-01-28 11:19] mariolovric commented on #13057
Going further: Results heavily depend on RFECV parameters: step, cv, random_state of regressor.

[2019-01-28 12:34] GaelVaroquaux commented on #13056
No strong opinion: I think that this is indeed a quirk (arguably a bug) that has no good reason. Not having this behavior would probably be desirable.

I don't think that it is a blatant bug that can be changed without some form of smooth evolution to avoid breaking users code.

[2019-01-28 12:36] royklip opened #13058 "Incorrect calculations of homogeneity, completeness and v-measure"
#### Description

Calculations of homogeneity, completeness and v-measure are now based on the original paper of Rosenberg & Hirschberg 2007. However, while I was doing research on fuzzy clustering evaluation techniques, I found the following paper of Utt et al. 2014 (http://www.lrec-conf.org/proceedings/lrec2014/pdf/829_Paper.pdf) which explained in a footnote that the original definitions of hom

[2019-01-28 12:56] jnothman commented on #13055
labels should correspond to the values actually found in y_true and y_pred.
target_names should map `labels` to names for display. Yes, this could be
clearer in documentation or naming.

But you've not really given us enough code to do more than guess at your
usage.

[2019-01-28 13:02] jnothman commented on #13057
A random forest will naturally be random. RFECV performs a greedy search over a non-convex space. The behaviour is therefore expected, unless your dataset is exceptional. If you want to make it deterministic, fix the random_state to an int.

[2019-01-28 13:02] #13057 closed

[2019-01-28 14:03] Abonia1 commented on #13055
@adrinjalali @jnothman  Really thanks to both of you for trying to fix this error but I just updated scikit and it works fine now ...but still don't know what's the reason for that error...anyways now its working fine :)

[2019-01-28 15:46] xiaoj12 commented on #13045
Thanks a lot for your replies, @jnothman @rth. It looks I had to change "i" to "l" and specify int64 in the np.frombuffer function in order to make the sparse dictionary vector work. Otherwise, it will complain about different types of indices.

Moreover, I wonder if there is a more generalized way to have sklearn enable long integer indices for the sparse dictionary vector. For example, after mod

[2019-01-28 17:05] rohan-varma commented on #13045
I'd like to work on this if no one has taken it on.

From the looks of it,` DictVectorizer` attempts to switch to 64-bit indexing if the last value of `indptr` would overflow for 32 bit ints (https://github.com/scikit-learn/scikit-learn/blob/701144559f0448e7b140fead0384b9cba99af096/sklearn/feature_extraction/text.py#L963).

It looks like we would need something similar in the implementation of `Co

[2019-01-28 18:17] dirkpadfield commented on #12952
You're right: I was reading the code wrong.

When running the tests, one is failing because of the change.  You can see it using

python3 -m pytest sklearn/tests/test_common.py

The error is:
AssertionError: ValueError not raised : The estimator NearestCentroid does not raise an error when the number of features changes between calls to partial_fit.

[2019-01-28 18:21] avi-eko commented on #9193
One potential reason why there is no `StratifiedGroupShuffleSplit` currently is that depending on the dataset it may not be possible to group and stratify. For example, say certain labels only occur in certain groups. In that case, one would probably want grouping to be done strictly and stratification done approximately. Oversampling (or another form of data augmentation) could be used to improve

[2019-01-28 20:05] hafezmg48 commented on #13056
Thanks for your help and considerations guys.
In my opinion, anyone who has used this function and didn't consider the bug, maybe had nothing to do with the scaling of the ICA components. The users of the function are mainly digital signal processing experts whose work is to decompose some combined voices or revealing a binary digital signal in a noisy environment. In these cases, the gain level o

[2019-01-28 20:14] rth commented on #13045
In a few words, `scipy.sparse.csr_matrix` indexing can be 64bit or 32bit. 64bit `indices` is a waste of memory most of the time because `indptr` (which takes very little space) will generally overflow way before.

In the code you mention, `indices` indices uses Python `int` then depending on whether `indptr` would need 64 bit, casts it appropriately to avoid a copy from 32bit to 64bit that would h

[2019-01-28 20:45] glemaitre commented on #9174
#10440 give consistent results.

[2019-01-28 21:03] rth commented on #13045
Forgot to add, that we do that because in CountVectorizer, we use a list (instead of array.array) to store indices because performance wise that was comparable. Now that I think about it with `sizeof(python int) >= 24 bytes` that migh not have been a good decision memory wise.

I think, using  `int64 indptr` and `int32 indices` in an `array.array` (and let `scipy.sparse` convert it to the right dt

[2019-01-28 21:19] rth opened #13062 "Re-evaluate memory usage in CountVectorizer"
In https://github.com/scikit-learn/scikit-learn/pull/7272 (that was a mix of different PRs aiming to optimize text vectorizers) among other things, the intermediary storage of `X.indices` (where `X` is the document term matrix) was moved from `array.array('i')` to `List[int]`.

There were benchmarks suggesting that overall after that PR, less peak memory was used to vectorize documents. However, n

[2019-01-28 21:53] xiaoj12 commented on #13045
The problem may not be just about the indexing in the sparse features in CountVectorizer or DictVectorizer. Other modules such as /sklearn/utils/validation.py need to support int64 as well.

[2019-01-28 22:00] sanketchavan08 commented on #12413
hii thank you for posting this but if we put n-jobs = 1, it will take much more right?
because n_jobs = -1 uses all the processors ....
did you find found any way to solve this issue
OR do we need much more powerful pc

[2019-01-28 22:12] albertcthomas commented on #12413
You should not have such an error with the last version of scikit-learn. Which version are you using?

[2019-01-28 22:25] jnothman commented on #12952
So this just requires a check for changed number of features.

[2019-01-28 22:31] albertcthomas commented on #12413
This is solved in versions > 0.20.1.

[2019-01-28 22:36] sanketchavan08 commented on #12413
I really appreciate you help thank u
i will check after updating if that solve the problem

[2019-01-28 23:51] dirkpadfield commented on #12952
Also, I think you (Robin) should add your name to the "authors" header as the contributor of the partial_fit method.

[2019-01-29 01:58] SuyuanLiu commented on #8583
May I asked what does it mean 'master'? How can I use master?

[2019-01-29 03:05] jnothman commented on #13045
We already have support for large sparse matrices in most places, released
in version 0.20

[2019-01-29 08:56] royklip commented on #13058
Well, I did some tests yesterday and it seems that the joint entropy does not differ that much with the 'single' entropy, because the conditional one is relatively small. This led only to a difference in score numbers after 2 decimal places.

[2019-01-29 09:20] okz12 commented on #13058
I'd like to take up the issue once the backwards compatibility question is resolved.

[2019-01-29 10:07] jnothman commented on #13058
It would be best if we included test cases designed from the paper. So do they give formulas that say one thing but examples that use the other calculation? (I've not yet looked)

It's a bit messy to maintain backwards compat here, but I suppose we can.

[2019-01-29 10:21] royklip commented on #13058
So far, it looks like they used the single entropy for their examples, at least the calculations give back the same scores. If I use the joint entropy the results differ by quite a bit.

I used the following code, which is fairly the same as the one in sklearn expect for the joint entropy addition:

[code]

[2019-01-29 11:58] jnothman commented on #13049
So this feature should come out of _arff.py entirely filled with NaN, but it is being decoded in the test as if it consists of 0.

Has _arff.py been patched at all??

[2019-01-29 12:32] azrdev commented on #11956
seems like this had already been reported as #10882

[2019-01-29 12:59] jnothman commented on #11956
Yes, it  seems it has. That issue deserves a PR.

[2019-01-29 12:59] #11956 closed

[2019-01-29 16:30] amueller commented on #13052
Is this python2.7? Is this reproducible under 3.6 or 3.7?

[2019-01-29 16:38] olebole commented on #13052
That is 2.7. I will check tomorrow (or so) how it behaves under 3.7.

[2019-01-29 17:25] dirkpadfield commented on #12952
I recommend moving the two "deepcopy" calls on lines 192, 193 into the "if self.shrink_threshold" conditional on line 228.  This way you only compute them when needed.

        old_nk = deepcopy(self.nk_)
        old_centroids = deepcopy(self.true_centroids_)

[2019-01-29 17:48] dirkpadfield commented on #12952
As a user, I find the warning on lines 214-217 to be quite annoying.  This code was present in the original implementation, but it might make sense to move it to the "init" instead so the user only gets the warning once.  Or we could move it to the "if _refit or _check_partial_fit_first_call(self, classes)" conditional on line 173.  Previously, we only received the warning when calling "fit", whic

[2019-01-29 19:37] thomasjpfan commented on #9485
I like the idea of using a docker image on circleci to build the nightly-builds. Depending on what flags we want in the builder, we can create a custom Docker image to meet our needs.

We can deploy straight to pypi on circleci: https://circleci.com/blog/continuously-deploying-python-packages-to-pypi-with-circleci/ On pypi, we can use a create a package named: `scikit-learn-nightly`, similar to wh

[2019-01-29 20:36] WilliamTambellini commented on #11041
onnx seems to move forward time after time and exporting is now be default supported by pytorch, mxnet, TF (via plugin) ...
Would scikit-learn to offer a native export to onnx (without the need for ONNXMLTool) makes more sens now ?
kind

[2019-01-29 22:11] JamesTrick commented on #13048
Hi @rth

I'm happy to take up this documentation change if you want?

Cheers
James

[2019-01-29 22:44] jnothman commented on #11041
What's wrong with going via onnxmltools? Yes, we could and should advertise
it better, but I think it is alright as an externally-maintained project.

[2019-01-30 00:12] #12988 closed

[2019-01-30 00:33] jnothman commented on #13052
My cythonised version of _criterion.pyx doesn't have code on line 6785. Could you provide the pyx context @olebole?

[2019-01-30 00:36] jnothman commented on #12952
@dirkpadfield: Please comment on the PR, #13033, if it's about code.

[2019-01-30 02:13] thomasjpfan commented on #9485
proposes to build the wheels, but does not twine them to pypi yet. What is
the benefit of docker here?

[MacPython](https://github.com/MacPython/scikit-learn-wheels) uses [multibuild](https://github.com/matthew-brett/multibuild) which uses Docker to build the wheels. The [manylinux Docker image](https://github.com/pypa/manylinux) provides a set of tools to make it easier to build images for pypi.

[2019-01-30 02:18] jnothman commented on #9485
Cool, if you're interested, I don't think anyone will be offended if you
want to finish that PR, though someone else will need to configure
Travis/Appveyor with pypi credentials, yeah?

[2019-01-30 02:19] jnothman commented on #9485
Or I suppose if we're making a new scikit-learn-nightly on pypi, new
credentials can be generated.

[2019-01-30 05:47] mllobera commented on #12500
I just re-ran the code I had with the same train set (an array of 2000+,2) and a reduced sample set (2000+,2). It actually ran,... I think that it is just very, very slow ( I typically operate with arrays with at the very least dimensions (250000, 2). Bottom line, it works it is just painfully slow!

[2019-01-30 08:36] ogrisel commented on #9485
I guess I am fine with either of the following options:

- configure a circle cron job to upload to pypi directy under the scikit-learn-nightly name but only for Linux  / Py37
- configure a cron job on our existing MacPython wheels to upload to rackspace / http://wheels.scipy.org/ under the usual name, either for a restricted subset of platforms / python versions or for all of them.

Note that the

[2019-01-30 08:40] ogrisel commented on #9485
For the second option this should be pretty straightforward, everything is in place as far as I know. We just need a bash script that will make sure to use the master branch of scikit-learn when run from a travis cron job while the manually fixed tags is still respected when we prepare a stable release in a PR for instance.

[2019-01-30 08:47] ogrisel commented on #9485
The following is not too complex either:

[code]

[2019-01-30 08:48] ogrisel commented on #9485
To clarify, scipy.wheels.org is the public URL of the rackspace container.

[2019-01-30 08:57] ogrisel commented on #9485
What I don't like about uploading nightlies to pypi is that it's keeping a large history of binaries and that feels like a waste of resources, see e.g.:

https://pypi.org/project/tf-nightly/#history

I am not sure if there is a way to delete old pypi releases.

[2019-01-30 09:19] adrinjalali commented on #9485
the pypi UI allows easy deletion of old releases, there must also be a way to clear them using their API, but I couldn't find one at a first glance.

[2019-01-30 11:50] rth commented on #9485
I'm also not so keen on uploading nightly wheels to PyPi. Personally, I often visit `https://pypi.org/project/<project-name>/#history` to see when the last releases happened for some project. Having that page mostly contain noise from nightly wheels is not great. Maybe directly suggesting devs to install nightly releases from some Rackpace container would we enough?

Even if it's possible, I doubt

[2019-01-30 13:01] jnothman commented on #13052
Does this happen when you run test_novelty_true_common_tests alone?

I don't get how this arises from that test, which shouldn't use
sklearn/tree at all.

[2019-01-30 13:05] jnothman commented on #9485
The proposal for PyPI upload is to upload to project scikit-learn-nightly,
not scikit-learn. So it won't litter the scikit-learn page, but I don't
think there's much loss to uploading to scipy.wheels. Either way the user
will need to be aware of their existence.

[2019-01-30 13:31] hsafer opened #13068 "Misleading documentation for precision_recall_fscore_support"
#### Description
In the documentation of precision_recall_fscore_support, the explanation of the micro value of average is misleading.

The documentation says "Calculate metrics globally by counting the total true positives, false negatives and false positives." Since these three numbers are only really meaningful in binary classification, the sentence implies that true negatives are not used to c

[2019-01-30 13:39] drorata commented on #12327
I just updated scikit and numpy to 0.20.2 and 1.16.0, respectively, and the warning still shows up. It is indeed merely a warning, but still a disturbing one. Any recommendation?

[2019-01-30 13:44] jnothman commented on #13068
Precision, recall, f-score are naturally defined for binary or binarised problems. The terms micro- and macro-average are most naturally applied to multilabel, not multiclass, problems. Multiclass problems are transformed into multiple binary problems in order to apply any of these metrics. The true negatives are never explicitly counted, and with `labels` set to a subset of classes, micro-averagi

[2019-01-30 13:44] #13068 closed

[2019-01-30 15:47] rth commented on #12327
Could you please confirm you are also using scipy 1.2 ? I agree we should fix this.

[2019-01-30 16:02] drorata commented on #12327
I don't think I installed scipy explicitly rather it is installed as a dependency. I could verify this tomorrow.

[2019-01-30 18:04] samiller25 opened #13070 "GaussianMixture predict and fit_predict disagree when n_init>1"
#### Description
When `n_init` is specified in GaussianMixture, the results of fit_predict(X) and predict(X) are often different.  The `test_gaussian_mixture_fit_predict` unit test doesn't catch this because it does not set `n_init`.

#### Steps/Code to Reproduce
[code]

#### Expected Results
[code]
No exceptions.

#### Actual Results
[code]

#### Versions
[code]

[2019-01-30 20:58] jnothman commented on #13052
Right. I only see now that you edited the description.

test_check_estimator_pairwise doesn't have any trees either, but could be related to the LOF issue?

[2019-01-30 21:34] bsipocz commented on #9485
Just to confirm it, I'm perfectly happy with the suggestion here: https://github.com/scikit-learn/scikit-learn/issues/9485#issuecomment-458861028

[2019-01-30 21:44] NicolasHug commented on #12327
There is some strange interaction with pytest going on.

https://github.com/scipy/scipy/pull/8887 should have fixed most (if not all) warnings.

[code]

Run this with `python` and get no warning. Run this with `pytest`, and get the deprecation warning.

I have no idea what's going on...

[2019-01-30 23:34] Mn-Saleh opened #13072 "help wanted"
Could someone please help me with a problem, when I run this code
reg = fit_model(X_train, y_train)
print("Parameter 'max_depth' is {} for the optimal model.".format(reg.get_params()['max_depth']))
this came up
___________________________________________________________
C:\Users\Mona Saleh\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:542: FutureWarning: From version 0.22, err

[2019-01-30 23:46] jnothman commented on #13072
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-01-30 23:46] #13072 closed

[2019-01-31 00:59] LarsDu commented on #12129
@timpal0l 'Fraid not. I opted to roll my own custom VotingClassifier that doesn't have these issues (it's not too difficult in principle)

[2019-01-31 03:51] SherlockQiu commented on #6828
@cvanwynsberghe Hi, I tried to turn to your code for weighted MDS implemented in python instead of R. However, I found that if the weight is a matrix full of 1 the result is different from the original cMDS results of the sklearn method. Do I need to normalize or somehow adjust the weight matrix before I call your modified weighted MDS?

[2019-01-31 03:51] BHuntington7 commented on #12891
Hey Thanks for this! It was super helpful!

[2019-01-31 05:12] SherlockQiu commented on #6828
sorry for disturbing, i solve it after uniform the random seed.

[2019-01-31 07:48] olebole commented on #13052
If that was a question to me, then I didn't understant what you want ;-)

[2019-01-31 08:13] drorata commented on #12327
@rth I can confirm that I have scipy@1.2.0

[code]

@NicolasHug I can also confirm that your example behaves the same way on my env.

[2019-01-31 08:27] glemaitre opened #13073 "RFC/CI: use Shippable for testing on ARM v8 architecture"
I recently checked the [Shippable](www.shippable.come) CI service which offers some ARM architecture to test on. I tested it on my fork to check the required configuration and so on. However, there is a timeout of an hour, and currently, we are encountering this limit. Here, this is the log of such build:

https://app.shippable.com/github/glemaitre/scikit-learn/runs/24/1/console

On ARM 32 bits, w

[2019-01-31 09:36] barrydebruin opened #13074 "average_precision_score() overestimates AUC value"
#### Description
The average_precision_score() function in sklearn doesn't return a correct AUC value.

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results
AUC without interpolation = (0.294 - 0.235) * 0.800 = 0.472
AUC with trapezoidal interpolation = 0.472 + (0.294 - 0.235) * (0.833 - 0.800) / 2 = 0.0482

#### Actual Results
This is what sklearn implements for AUC without interpo

[2019-01-31 10:00] jnothman commented on #13073
Can we use one Cron job to package a wheel and save the environment
somewhere, and another to run the tests?

[2019-01-31 11:01] rth commented on #12327
Ahh, that would explain it @NicolasHug . It looks like https://github.com/scipy/scipy/pull/8887 also ignores these warnings in pytest sessions -- maybe we should do the same (though it's problematic for downstream projects).

@drorata Thanks for following up on this. Are you seeing those warnings in a pytest session or during interactive use. If the latter, are you modifying warning filters in any

[2019-01-31 11:53] drorata commented on #12327
@rth I face the warnings while running tests.

Isn't it a real problem ignoring these warnings once the deprecation actually happens?

[2019-01-31 12:03] jnothman commented on #13074
See also #6065, #7356, #9618, #9017 and other issues about
average_precision_score. It has been discussed and considered to death. So
please be sure of your case with respect to some of the prior discussion!

[2019-01-31 12:35] glemaitre commented on #13073
It seems something feasible.

[2019-01-31 12:36] glemaitre commented on #13073
You can clear the cache of the build when building and cache it at the end of the job and reuse the cache after.

[2019-01-31 12:49] jnothman commented on #13073
So if the cached wheel is less than n hours old, use it to run the tests,
and if more than n hours, compile a new one?

[2019-01-31 13:12] glemaitre commented on #13073
Kinda but without automation.

I would set up 2 distinct CRON jobs with a 1-hour difference. The first one to build (erasing the cache first), the second one to test the version which has been stored in the cache.

[2019-01-31 14:36] rth commented on #12327
It will probably happen eventually, but for now there are only very preliminary plans to do that (https://github.com/scipy/scipy/issues/8162) and more importantly no viable alternatives to `scipy.sparse` (for scikit-learn at least ) see https://github.com/scipy/scipy/pull/8887#issuecomment-409415065

So this warning can be safely ignored for now, there is nothing we can do short of silencing it.

[2019-01-31 14:40] wdevazelhes commented on #12228
Four our package http://github.com/metric-learn/metric-learn, we would be really interested in having a more robust Graphical Lasso too, as we use it for the `SDML` algorithm. Right now, we also have an issue with graphical lasso, but skggm seems to fix it (see PR https://github.com/metric-learn/metric-learn/pull/162). Note that in our case we sometimes need to find a sparse (SPD) precision matrix

[2019-01-31 15:00] NicolasHug commented on #12327
Opened https://github.com/scipy/scipy/issues/9734

[2019-01-31 15:43] wdevazelhes commented on #12228
Here is a first snippet to show that with an `SPD` input matrix, the new version of sklearn's graphical_lasso does not seem to work contrary to an older version:

## With sklearn's current version (master)

[code]
[code]

## With sklearn's older version:

[code]

[code]

[2019-01-31 16:11] bellet commented on #12228
Maybe it is good to add skggm's `quic` for comparison?

[2019-01-31 16:58] dibya-pati commented on #12774
hi, I would need some more time before I could start working on this. I don't want to hold this

[2019-01-31 18:15] Olamyy commented on #11041
@jnothman If no one has taken this up yet, can I take a stab at it?

[2019-01-31 19:05] gatl opened #13075 "NuSVC hangs in some occasions"
#### Description
When fitting certain data to the NuSVC classifier, there is a probability of the function halting (i.e. it never returns).

#### Code to Reproduce
[code]
#### Actual Results
The loop never finishes and halts at some point (usually after very few iterations). ^C is unable to terminate the script and the interpreter must be terminated through other means (SIGTERM).

#### Versions
Li

[2019-01-31 19:14] dylan-smith commented on #13016
FYI the Azure Pipelines hosted agents have 2 cores, 7GB RAM.  Details here: https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azdevops&tabs=yaml#capabilities-and-limitations

There is the ability to parallelize tests across multiple agents in the same build also - requires a bit more work to setup/configure.

[2019-01-31 21:53] #12500 closed

[2019-01-31 23:22] jnothman commented on #12774
Okay. I think we would like to see a patch soon to consider. Let's keep it open

[2019-02-01 00:20] albertcthomas commented on #13075
Could you please check if this still persists with scikit-learn 0.20.2?

[2019-02-01 09:34] wdevazelhes commented on #12228
I agree, I just update my comment with skggm's `quic` (only for the new sklearn's and python version, because I didn't manage to install skggm on the older environment (see https://github.com/skggm/skggm/issues/119). I chose `cov_init=np.eye(A.shape[0])` (identity) which is the default for skggm, so that we can compare both (I use identity and not covariance because for the non SPD case I'll use t

[2019-02-01 09:39] gatl commented on #13075
I can confirm it still occurs.

[code]

I have tracked the problem to `BaseLibSVM.slibsvm.fit()` in file svm/base.py. That call never returns.

[2019-02-01 09:49] adrinjalali commented on #13075
There are two related points here:
- setting the `random_state` would make the _sometimes hangs_ either hang, or not. For instance, in your example `random_state=42` always hangs, and `random_state=0` never does.
- A larger `nu` would kinda guarantee that the function never returns (except for trivial inputs). libsvm itself usually doesn't even try if it thinks `nu` is too large and returns with a

[2019-02-01 09:58] bellet commented on #12228
Actually not, the current sklearn version finds 1 instead of 6 for the lower right value

[2019-02-01 10:31] wdevazelhes commented on #12228
Ah yes that's right, I looked too fast

[2019-02-01 10:33] wdevazelhes commented on #12228
Here is an example with a non SPD matrix given as input:
[code]

[2019-02-01 10:47] wdevazelhes commented on #12228
It's as if scikit-learn's graphical lasso would estimate a covariance matrix that is similar to the original matrix except the right bottom coeff, which is the same as the upper left one (like in the last case)

[2019-02-01 10:53] wdevazelhes commented on #12228
Here is an example a bit different that confirms the above (I just switched the sign on the diagonal):

[code]

We see that scikit-learn estimated covariance is not SPD (which is problematic for SDML's case but for a real covariance case I agree the input should be SPD)

[2019-02-01 10:57] wdevazelhes commented on #12228
Also, in both last cases (non SPD input matrix), old scikit-learn would return:

[code]

[2019-02-01 11:11] gatl commented on #13075
Thank you for your insights, @adrinjalali. I wonder what `random_state` impacts within the algorithm that would cause this behaviour.

I came across this issue when using `RandomizedSearchCV`, where I did not set the arguments directly.

Personally, I would be happy if the documentation would provide more hints or references on what would constitute a good (and safe) range for the parameters. `coe

[2019-02-01 14:38] wdevazelhes opened #13077 "Be more tolerant in check_array for CalibratedClassifierCV"
For our package http://github.com/metric-learn/metric-learn, the function `CalibratedClassifierCV` is very convenient for Weakly Supervised Learners, as it can make PairsClassifier estimators return a probability for a pair of points to be labeled as similar or dissimilar, when those return a decision function.

However, we currently cannot use it because our inputs can be 3D (example: `pairs=[[[2

[2019-02-01 21:03] elayden commented on #12413
I am still encountering this problem when using either scikit-learn versions 0.20.1 or 0.20.2.

[2019-02-02 00:14] albertcthomas commented on #12413
@elayden could you post a reproducible example of the error?

[2019-02-02 00:46] sanketchavan08 commented on #12413
Here I am sharing my complete code:
`from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from keras.models import Sequential
from keras.layers import Dense
def build_classifier():
    classifier = Sequential()
    classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))
    classifier.add(Dense(uni

[2019-02-02 10:19] rth commented on #12327
This was fixed for scikit-learn in https://github.com/scikit-learn/scikit-learn/pull/13076 however keeping this issue open as this is still an issue for all projects that depend on scikit-learn (when running their test suites), unless they manually filter out the warning. I'm hoping someone comes up with some solution to avoid these manual changes.

[2019-02-02 22:44] daniel-cortez-stevenson commented on #10733
Hey y'all,

Seems like this has gone cold. I'd be keen to take care of the last bit.

Currently, this change requires modifying each `load_*()` function. What are y'alls thoughts on creating an abstract class `DataSetLoader` that is subclassed concretely for each dataset like
- `Iris`
- `Digits`
- `BreastCancer`
- and so on

The abstract class `DataSetLoader` would have a method `load(return_X_y=F

[2019-02-03 02:07] #11618 closed

[2019-02-03 03:57] #13035 closed

[2019-02-03 04:43] jnothman commented on #13077
I think if removing it results in tests passing, I'm fine with it. I'd be
more surprised if prediction works than fitting.

[2019-02-03 09:30] #12779 closed

[2019-02-03 10:35] daniel-cortez-stevenson commented on #10733
And here's a preview of the suggested API - which could replace the `load_wine` and `load_iris` functions:

[code]

[2019-02-03 17:49] souvik3333 commented on #12870
Hi, I was wondering if this issue has been solved. Can I work on this? @qinhanmin2014 @RonLek

[2019-02-03 17:56] souvik3333 commented on #13048
Hi @JamesTrick, are you working on this?

[2019-02-03 19:55] JamesTrick commented on #13048
Hi @souvik3333 , no I'm not currently - so go for it!

[2019-02-03 21:45] chenkxyz opened #13085 "add SVRG to logistic regression problem"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2019-02-03 21:45] chenkxyz commented on #13085
I want to use Stochastic Variance Reduction gradient scheme instead of other approaches in library.
How can I add it? Or even is there any demo for me to use?

[2019-02-03 22:11] jnothman commented on #13085
The issue tracker is for bugs and new features. We will not consider svrg as a new feature as it is not mature enough (see our FAQ). For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-02-03 22:11] #13085 closed

[2019-02-03 22:13] souvik3333 commented on #13048
Thanks, @JamesTrick.
Can I work on this @rth as no one is working? Also as I am new here, can you please tell me where to update the documentation?

[2019-02-03 22:22] srcole opened #13086 "Feature request: support for arbitrary bin spacing in calibration.calibration_curve"
#### Description
I was using [`sklearn.calibration.calibration_curve`](https://scikit-learn.org/stable/modules/generated/sklearn.calibration.calibration_curve.html), and it currently accepts an `n_bins` parameter to specify the number of bins to evenly partition the probability space between 0 and 1.

However, I am using this in combination with a gradient boosting model in which the probabilities

[2019-02-03 23:00] jnothman commented on #10733
I haven't yet had time to properly evaluate the benefits of an object
interface. I am not readily convinced that this particular feature
requirement necessitates the redesign: until we have to worry about
heterogeneous dtype, a DataFrame can be constructed from a Bunch, can't it?

[2019-02-03 23:38] daniel-cortez-stevenson commented on #10733
@jnothman Yes I agree that the OO API isn't strictly *necessary* to implement returning dataframes. However, without an OO API, each function would need to be individually modified.

IMO Refactoring the API would make a change like this trivial, and I see it as a good opportunity to refactor the API rather than add weight and complexity to the current functions.

Refactoring the datasets API is ge

[2019-02-04 00:53] qinhanmin2014 commented on #12870
The decision has not been made here.

[2019-02-04 03:01] fferrin commented on #13056
Hi! I fixed this one. It would be great if @hafezmg48 can help me with more test cases.

I created test cases in `decomposition.tests.test_fastica` but when I run them using pytest I can not see the warning message:

`pytest test_fastica`

Any ideas? Do you suggest me that let Travis run the tests instead?

[2019-02-04 05:46] jnothman commented on #13086
It actually sounds like the problem is not the number of bins, but that
bins should be constructed to reflect the distribution, rather than the
range, of the input. I think we should still use n_bins as the primary
parameter, but allow those bins to be quantile based, providing a strategy
option for discretisation (
https://scikit-learn.org/stable/auto_examples/preprocessing/plot_discretization_st

[2019-02-04 05:47] jnothman commented on #13086
Quantile bins seem a good default here...

[2019-02-04 06:04] srcole commented on #13086
Yup, quantile bins would have my desired effect. I just thought it would be nice to allow more flexibility by allowing a `bins` parameter, but I suppose it's not necessary.

I think this still satisfies "calibration curve." I don't see any reason that a "calibration" needs to have evenly-spaced bins. Often it's natural to do things in a log-spaced manner.

[2019-02-04 07:07] jnothman commented on #13086
I'm happy to see a pr for quantiles here

[2019-02-04 07:15] srcole commented on #13086
Sweet. I'll plan to do work on it next weekend

[2019-02-04 10:35] walk-to-work opened #13088 "find not exist attribute on bayesian_gaussian_mixture.py"
#### Description

There is 'means_prior_' in [bayesian_mixture.py](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/mixture/bayesian_mixture.py#L269) Attributes.

[code]

But, There is no other 'means_prior_' but there are 'mean_prior_'.
I think that this is correct.

[code]

[2019-02-04 10:39] jnothman commented on #12870
I don't know why the zenodo release webhook doesn't seem to have been
working.

[2019-02-04 10:42] jnothman commented on #13088
Would you like to offer a pull request changing it? Thanks

[2019-02-04 10:49] walk-to-work commented on #13088
Yes, I would!!

[2019-02-04 12:05] wdevazelhes commented on #13077
I just tested and the following checks in `test_non_meta_estimators` do not work (the rest of scikit-learn's tests work): `check_sample_weights_pandas_series`, `check_estimators_empty_data_messages`, `check_classifier_data_not_an_array`, `check_classifiers_train`, `check_classifiers_train(readonly_memmap=True)`, `check_supervised_y_no_nan`. However, if I add `allow_nd=True` in the `check_array`, e

[2019-02-04 12:48] jnothman commented on #13056
show us by submitting a PR

[2019-02-04 13:55] TSchattschneider commented on #7332
This problem in scikit-learn has just recently caused some big headache for me in my research.
I work with segmentation and was surprised to see how scikit-learn understands the jaccard index metric.

[2019-02-04 14:44] rth commented on #11818
Just to give some feedback on this as a user. Tried to load https://www.openml.org/d/1461 which is heterogeneous dataset with `fetch_openml`. It can be represented nicely with a DataFrame and can be read from the orignal `csv` with one line of `pd.read_csv`.

When using `fetch_openml` function, categorical features are encoded as ordinals and than cast to float (since we want an array). From my pe

[2019-02-04 15:01] dimimal commented on #7332
@TSchattschneider I feel you. I remember how frustrated I was. I had the same problem. This bug should be flagged in the documentation, unless is fixed.

[2019-02-04 15:07] #13088 closed

[2019-02-04 15:41] jeremiedbb commented on #11638
There is a small(?) obstacle to this. We don't make calls to BLAS only from cython but also from C++, in `sklearn/svm/src/liblinear/tron.cpp` to be precise. There we can't use scipy cython bindings of BLAS functions.

One solution would be to port `tron.cpp` to cython. The file is not too big. Would you consider it worth ?

I don't know if there's an other way. Do you have any idea ?

[2019-02-04 16:07] jeremiedbb commented on #11638
I saw that but to do that you have to embed python into c, which would cause a huge overhead I guess.

[2019-02-04 16:15] rth commented on #11638
Yeah, taking `time python -c "import numpy"` as a benchmark, I would guess `100-200 ms` to get the interpreter started. Doesn't sound great indeed.

[2019-02-04 17:10] dgilford commented on #6868
I know this is pretty old at this point, but was this feature ever implemented or considered further? GPflow has implemented it and it is an incredibly useful feature, one which I would really like to use in the context of scikit-learn.

I just found that @amueller noted in #7070 :

Does this feature already exist under the hood but without an overt implementation? I might have missed this in the

[2019-02-04 21:00] jnothman commented on #7332
The feature was obviously proposed by someone interested in the multilabel
case and should have been reviewed with more diligence.
Sorry the fix has not been prioritised. #10083 is ready for review, but
core developer review time is often hard to get.

[2019-02-04 22:15] jnothman commented on #11638
Would we then have trouble using tron in liblinear

[2019-02-05 06:13] souvik3333 commented on #13048
Thanks, @JamesTrick. Then I am creating a new section there titled same as issue title.

[2019-02-05 09:22] #12856 closed

[2019-02-05 16:32] finnoshea commented on #12967
Using the all_estimators tool I've found 19 transformers and estimators that do not call check_is_fitted within transform, inverse_transform or predict.  Most of those have a custom message of some kind and a few have nothing at all and fail inelegantly.

The root problem appears to be that the pytest files for almost all estimators do not contain a test to make sure that NotFittedError is raised.

[2019-02-05 16:51] magnusja commented on #8804
Not even then it is working properly it is a huge mess :/

[2019-02-05 20:32] rth commented on #12967
Once estimator tags are supported, it should be a matter of running that test on all estimators that have some (TBD) tags.

[2019-02-05 20:35] jnothman commented on #12967
(There was a recent PR adding check_is_fitted to some estimators and I
can't find it right now...)

[2019-02-05 20:39] jnothman commented on #8804
We provide sklearn.utils.parallel_backend for this reason. It's not perfect.

[2019-02-06 01:48] fferrin commented on #13056
I was refining the code to do the PR and when I ran all the tests some of them failed. For example, in this [line](https://github.com/scikit-learn/scikit-learn/blob/18bac2edc2a18a96ae0bdbfb9241efd2d70b67ee/sklearn/decomposition/tests/test_fastica.py#L97), `np.var(s_)` is not almost 1.0 (in fact, it is something like `9.99E-4`).

        # Check that the mixing model described in the docstring hold

[2019-02-06 02:17] jnothman commented on #13056
Yes, submit a PR and we can take a look at the code and the source of
failure. But perhaps you are just scaling S and also need to scale W to
correspond. I've not looked in detail, but I think the key will be showing
that pre-whitened data gets the same outputs.

[2019-02-06 02:55] fferrin opened #13097 "Documentation error in doc/developers/contributing.rst"
#### Description

I think there is an error in the example of the class `ExampleEstimator` in line 879.

In the `fit` method it says `k` instead of `self.k`. If that's the case, I can fix it.

#### Steps/Code to Reproduce

Doesn't apply.

#### Expected Results

[code]

#### Actual Results

[code]

#### Versions

Last commit: 18bac2edc2a18a96ae0bdbfb9241efd2d70b67ee

[2019-02-06 02:58] jnothman commented on #13097
PR welcome, thanks!

[2019-02-06 03:03] fferrin commented on #13097
This is my first PR so any comments are welcome!

El mié., 6 de feb. de 2019 03:58, Joel Nothman <notifications@github.com>
escribió:

[2019-02-06 05:12] jnothman commented on #13097
I think #13096 is your first PR, but a separate one addressing the contributor docs issue would be welcome!!

[2019-02-06 06:42] Bharat123rox commented on #13097
@fferrin May I work on this issue, if you're not working on it already?

[2019-02-06 09:21] Feyn-Man commented on #4202
@jakevdp I don't understand why it's necessary to multiply by `dx` (in your 1D example) or by `grid[1]-grid[0]` in the second example.  Could you explain this passage simply? Thank you :smile:

[2019-02-06 09:53] fferrin commented on #13097
I answered from my mailbox, so I thought I had answered the other issue. My bad. Effectively # 13096 is my first PR.

When I read about the steps to document the code I found myself in the documentation of version [0.16](https://scikit-learn.org/0.16/developers/index.html#how-to-contribute) with the use of `pyflakes`, `coverage` and `pep8`, which was very helpful before doing the PR. In the stable

[2019-02-06 10:30] soljaneto91 commented on #12413
I changed the n_jobs = 1, it worked but not for 2 and more. May be do I need some actions to activate may GPU (1050Ti)

[2019-02-06 13:21] Guillermogsjc opened #13099 "_get_kernel missespecified on KernelPCA"
There is a missespecification on `_get_kernel` method at `KernelPCA` class.

If you perform the `inverse_transform` method specifiying `gamma` as `None` or directly imputing the value `1 / X.shape[1]`, it will differ, as the `_get_kernel` function with `gamma` as `None` adjusts to the `X` data both in `transform` and at `inverse_transform` methods.

The consequence is that specifying the supposed

[2019-02-06 14:13] rth commented on #12502
It would be great to have this!

A way forward could be to add a e.g. `reduce_bool=False` (or some other name) and then discuss whether we should add a deprecation cycle to make it `True` by default.

A quick and hacky implementation in case someone wants to play with this could be,
[code]
(I'm not saying that there isn't a better approach for it when making the actual PR).

[2019-02-06 15:09] frankier opened #13100 "Joblib tracking issue: sklearn imports joblib, which spawns semaphore tracker"
#### Description

This is a tracking issue for https://github.com/joblib/joblib/issues/841 which also occurs in the vendored version of joblib. It affects users of uwsgi, as well as slowing down initialisation.

[2019-02-06 16:43] Guillermogsjc commented on #13099
The following Override works fine:

`from sklearn.decomposition import KernelPCA
from sklearn.metrics.pairwise import pairwise_kernels
import numpy as np
from scipy import linalg

class OverrideKernelPCA(KernelPCA):
    """ Trying to solve the issue with an override
    https://github.com/scikit-learn/scikit-learn/issues/13099"""

    def __init__(self, inverse_gamma=None, **kwargs):
        super

[2019-02-06 17:30] m-bilgic opened #13102 "Chi2 ignoring False / 0 cases in X"
I'm not sure if this is a feature or a bug, but the chi2 calculation seems to ignore False (or 0) cases of X.

https://github.com/scikit-learn/scikit-learn/blob/7389dbac82d362f296dc2746f10e43ffa1615660/sklearn/feature_selection/univariate_selection.py#L172

In the classical definition of chi2, the differences between the expected and observed counts are used for both True and False cases; not just

[2019-02-06 20:33] jnothman opened #13103 "Update vendored version of liac-arff"
Liac-arff just got released with some fixes for handling escaped characters in strings. It probably won't make much difference here but we should update sklearn/externals/_arff.py to match

[2019-02-06 20:40] jnothman commented on #13099
Submit a pull request with a test asserting that it works fine?

[2019-02-06 20:58] meylone opened #13104 "FastICA G function"
sklearn.decomposition.FastICA throws broadcast error when g function aregument is present

[code]

Which throws:

#### Versions
Windows-7-6.1.7601-SP1
NumPy 1.13.3
SciPy 1.1.0
Scikit-Learn 0.19.1

[2019-02-06 21:30] adrinjalali commented on #13104
Seems like a documentation error, the tests have it as:

[code]

[2019-02-06 22:05] th555 commented on #6828
I tried to use this, but could not get it to work correctly. Using generated test data, when setting certain weights to zero it seems to work. However, when also setting the corresponding dissimilarities to zero, the result is wildly different (i.e. incorrect). This is also happening in the example, where the full `Dn` without any missing entries is used as input even in the weighted case ([line 6

[2019-02-06 22:28] meylone commented on #13104
That's right, it works when I add the mean.
Also, in the code these lines:
`u, d, _ = linalg.svd(X, full_matrices=False)

del _
K = (u / d).T[:n_components]  # see (6.33) p.140
del u, d
X1 = np.dot(K, X)`
can be replaced with:
`_, _, X1 = linalg.svd(X, full_matrices=False)
del _`

[2019-02-07 00:22] #5493 closed

[2019-02-07 01:00] amueller commented on #8480
Thank you, past me, for opening this issue that I just wanted to open again.

I think with the column transformer we now have a way to do this using separate score functions. That should be pretty straight-forward, right?
We couldn't do model-based selection easily with that (I think?), but having ``f_regression_categorical`` or something like that for a feature union should be good.

Interesting

[2019-02-07 06:41] icoxfog417 commented on #12413
I also have this problem. Python=3.6 and scikit-learn=0.20.2

[2019-02-07 07:21] jnothman commented on #8480
I also think that using ColumnTransformer you cannot select k% of features
regardless of whether they are categorical or numeric. Really, you are
aiming to have a composite score function??

[2019-02-07 08:35] Abraxas2071 opened #13105 "Does sklearn have a threshold regression?"
My own code doesn't get the right result，I used the smooth least squares with the SCAD penalty function：

【A Smoothed Least Squares Estimator For Threshold Regression Models】
http://eprints.lse.ac.uk/4434/1/A_Smoothed_Least_Squares_Estimator_For_Threshold_Regression_Models.pdf
and：
【Estimation of threshold values and regression parameters in threshold regression model】
http://www.doc88.com/p-20897

[2019-02-07 08:52] Guillermogsjc commented on #13099
mmm, have to check the other kernel hyperparams that should have an "inverse" option I guess... `coef0` and `degree`. As soon as I have time I will check it.

[2019-02-07 09:11] jnothman commented on #13105
I think the closest is isotonic regression? But I don't know the method.

[2019-02-07 10:14] #13097 closed

[2019-02-07 14:06] ogrisel commented on #13070
Indeed the code in fit_predict and the one in predict are not exactly consistent. This should be fixed but we would need to check the math to choose the correct variant, add a test and remove the other one.

[2019-02-07 15:20] juliensiebert opened #13106 "Model trees (M5P and co)"
#### Description

There is an implementation of the CART algorithm where the leafs are a kind of model (linear regression, svr, neural net). And the split is done thanks to a criterion that depends on the chosen model.

https://github.com/ankonzoid/LearningX/tree/master/advanced_ML/model_tree

(the readme is quite easy to understand)

It looks really similar to scikit-learn API. And it would be aw

[2019-02-07 17:12] atolpin commented on #7757
One thing would be great if in documentation for scoring in cross_val_score
you would include a link to
https://scikit-learn.org/stable/modules/model_evaluation.html, so I would
not have to search for the list of available strings every time.
So far, it's my only complain. In general I find documentation well written.
Thanks,
Anatoly

On Wed, Jan 2, 2019 at 4:03 PM Joel Nothman <notifications@gith

[2019-02-07 18:19] algo-circle commented on #13104
@adrinjalali
I was looking through the documentation and checked the `sklearn/decomposition/fastica_.py` file but couldn't figure out a way to fix this issue. Could you tell a little bit more about this issue and how to approach this one as I am new to Open Source contributions but nevertheless keen to contribute to the organization.

[2019-02-07 18:22] samiller25 commented on #13070
I don't think the math is wrong or inconsistent.  I think it's a matter of `fit_predict` returning the fit from the last of `n_iter` iterations, when it should be returning the fit from the _best_ of the iterations.  That is, the last call to `self._e_step()` (base.py:263) should be moved to just before the return, after `self._set_parameters(best_params)` restores the best solution.

[2019-02-07 18:57] jeremiedbb commented on #13070
Seems good indeed. When looking quickly you can miss the fact that `_e_step` uses the parameters even if not passed as arguments because they are attributes of the estimator. That's what happened to me :)

 Would you submit a PR ?

[2019-02-07 19:05] JesseLivezey opened #13107 "Broken link in SparsePCA documentation"
In the [documentation for SparsePCA](https://scikit-learn.org/stable/modules/decomposition.html#sparsepca), the link to "[Jen09] | “Structured Sparse Principal Component Analysis” R. Jenatton, G. Obozinski, F. Bach, 2009" is

https://scikit-learn.org/stable/modules/www.di.ens.fr/~fbach/sspca_AISTATS2010.pdf

rather than

https://www.di.ens.fr/~fbach/sspca_AISTATS2010.pdf

although the [decompositi

[2019-02-07 19:17] tomaso909 opened #13108 "MLPRegressor gives different results on different machines."
#### Description
I am running the exact same script on my local computer and on AWS Lambda and I get different results when using the MLPRegressor. Both machines have the same scipy, numpy and scikit-learn versions installed.

#### Steps/Code to Reproduce
I use a 6000 samples 4 features dataset but I have test it and the problem occurs with any dataset.
This is the code I use to build the MLPRegre

[2019-02-07 19:32] LakshKD commented on #13103
@jnothman I am looking at it.

[2019-02-07 19:59] LakshKD commented on #13103
Can you please look at the PR and give your comments regarding the same.

[2019-02-07 21:27] LakshKD commented on #13103
Looks like all tests got passed. Can you merge this request ?

[2019-02-07 23:13] Arjannikov opened #13110 "sklearn.model_selection.StratifiedKFold either shuffling is wrong or documentation is misleading"
#### Description
Regarding the shuffle parameter, the documentation states: "Whether to shuffle each stratification of the data before splitting into batches". However, instead of shuffling samples within each stratum, the order of batches is shuffled.

As you can see in the output below, 1 is always paired with 11, 2 with 12, 3 with 13, etc. regardless whether shuffle parameter is True or False.

[2019-02-08 00:01] mimilalo99 commented on #3808
such a ridiculous .

we can not have one simple example of download dataset of csv .
why person can not explain things in simple way. such a terrible over smart brains.

[2019-02-08 00:02] mimilalo99 commented on #3808
one more idt. replied with link

[2019-02-08 01:02] qinhanmin2014 commented on #7757
@atolpin You can always use ``sorted(sklearn.metrics.SCORERS.keys())`` to get available scorers. Please do not post unrelated comment in an issue.

[2019-02-08 01:49] HanGuo97 commented on #10890
I've run into the same issue as well. A simple solution I can think of that won't break anything is to check if the metric is in `PAIRWISE_KERNEL_FUNCTIONS.values()` in addition to `PAIRWISE_KERNEL_FUNCTIONS.values.keys()`.

[2019-02-08 03:12] umgupta opened #13112 "make_classification does not entangle or make informative feature interdependent"
https://github.com/scikit-learn/scikit-learn/blob/7389dbac82d362f296dc2746f10e43ffa1615660/sklearn/datasets/samples_generator.py#L210-L215

X_k should get reassigned to X at correct location, but it is not done and hence features are not interdependent.

[2019-02-08 03:41] jnothman commented on #13112
I think you're incorrect as we are operating on a view of X. Does the
output appear incorrect?

[2019-02-08 04:10] umgupta commented on #13112
Does that have something to with ellipsis? Result of the dot should create a new variable?

[2019-02-08 04:36] jnothman commented on #13112
Yes, the ellipsis means it fills Xk but it also has to do with how Xk is
extracted from X

[2019-02-08 04:38] jnothman commented on #13112
But we could indeed be doing dot with an out parameter

[2019-02-08 04:51] umgupta commented on #13112
I haven't used ellipsis before this in the python code.

So, I was coming from the point that if there was `X_k = np.dot(X_k, A)` it would reassign `X_k` and hence `X_k` won't be referring to `X`. But I guess if ellipsis just "fills" the data, then I am incorrect. Thanks for the clarifying.

[2019-02-08 04:51] #13112 closed

[2019-02-08 05:32] jnothman commented on #13107
No it's merely been fixed since the stable release.

[2019-02-08 05:32] #13107 closed

[2019-02-08 05:38] jnothman commented on #13108
We can't generally ensure stable results across platforms. They have different floating point arithmetic implementations among other things. Given its many free parameters and local minima, ​it's not surprising that MLP is particularly susceptible to this issue.

[2019-02-08 05:38] #13108 closed

[2019-02-08 06:54] 123names opened #13114 "Possible bug with partial_fit in IncrementalPCA"
#### Description
Error when fitting IncrementalPCA with partial_fit with a single sample

#### Steps/Code to Reproduce
import numpy as np
np.set_printoptions(precision=3, suppress=True)
from sklearn.decomposition import PCA, IncrementalPCA
X = np.array([[-1, -1], [-2, -1], [-3, -2], [1, 1], [2, 1]])
X_test = np.array([[3, 2]])
pca = IncrementalPCA(n_components=2)
pca.partial_fit(X)
pca.partial_fit

[2019-02-08 07:01] alyssafuward commented on #12397
Hi, is this issue still being worked on?

[2019-02-08 07:52] #13103 closed

[2019-02-08 08:27] algo-circle commented on #13104
@JamesTrick

Thank you for the help. I'll be working on this issue now. Will soon make a pull request regarding the same.

[2019-02-08 08:34] johannfaouzi opened #13115 "Threshold attribute from Tree object has -2 values for leaf nodes"
I looked at the issues and did not find something related, so I hope it's not a duplicate.

#### Description

I fitted a `DecisionTreeClassifier`on a single feature and had a look at the `threshold` attribute of the `Tree` object. I observed that there were a lot of thresholds equal to -2, though my feature took only positive values. Using this [example](https://scikit-learn.org/stable/auto_exampl

[2019-02-08 09:26] JamesTrick commented on #13114
Hi @123names

Thanks for a detailed bug report! This check does appear as though it's working as designed. In situations where you have only one sample (in a batch), or the fact that the number of samples are less than the `n_components`, you'll get this error to avoid running into a Runtime error later when potentially dividing by zero, in [line 280](https://github.com/scikit-learn/scikit-learn/b

[2019-02-08 10:06] LakshKD commented on #13102
Can you please tell some examples in order to Reproduce this Issue.

[2019-02-08 12:04] tomaso909 commented on #13108
Thanks for the reply.

If I run my local version on a docker container with an AWS Lambda image, will I get the same result or this is a hardware thing?

[2019-02-08 12:24] albertotb opened #13117 "Possible error in documentation of ElasticNetCV()"
The documentation for class `ElasticNetCV()` reads:

    y : array-like, shape (n_samples,) or (n_samples, n_targets)

However, when I try to pass a 2D array I get the error:

[code]

[2019-02-08 12:45] #13086 closed

[2019-02-08 14:26] craig0a opened #13118 "RandomForestClassifier model *** TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'"
Loading a RandomForestClassifier model using my personal environment (Python 2.7.15 ):
[code]

Attempting to use with a repository environment (also Python 2.7) that the model needs to integrate with:
[code]

From what I could learn online, 'NoneType' is returned if there was an if statement/set of conditions, all of which failed and without an exception 'else' value being returned.  Possibly a fe

[2019-02-08 14:33] yvanlucas opened #13119 "agglomerative clustering documentation"
Dear all,

First, thanks for the wonderful work!

When I read the documentation ( https://scikit-learn.org/stable/modules/generated/sklearn.cluster.AgglomerativeClustering.html#sklearn.cluster.AgglomerativeClustering ) about agglomerative clustering using the affinity : "precomputed", it is not written if the matrix provided is supposed to be a distance matrix or a similarity matrix (which are "in

[2019-02-08 19:39] attack68 opened #13121 "Transformer: sub sample features by indices specification"
I couldn't find the native transformer which sub-sampled data by a given index specification, I wanted to implement it into my pipeline, and supply some defined combinatoric inputs. I ended up custom implementing:

[code]

I would be surprised if this hasn't already been implemented or if there isn't another (better) way of doing it. But on the off chance it has been overlooked, it seems like a re

[2019-02-08 19:45] daniel-cortez-stevenson opened #13122 "Redesign of the sklearn.datasets API"
@rth At the API level I agree the functional programming style is friendlier. The benefit really would come when the sklearn datasets API is extended, allowing for easier maintenance and ensuring similar behavior. The proposed pull request would not make sense if the datasets API is 'closed'.

@rth I also agree that a the Datasets API in deep learning libraries is more obviously necessary. But, on

[2019-02-08 19:50] daniel-cortez-stevenson commented on #13122
Opening up this Issue to discuss a potential redesign of the sklearn.datasets API to support more OO design. A prototype of a redesigned sklearn.datasets.base module can be found at PR #13120 . This was also briefly discussed in #10733 and may facilitate closing  #10972 #11818

[2019-02-08 20:05] adrinjalali opened #13123 "RFC Dataset API"
In a few issues now we've been talking about supporting `pandas.DataFrame`s either as an input or the output. I think it's worth taking a step back and think about why we'd like to do that.

First and foremost, it's about the metadata. In #10733 we have:

The way I see it, is that it makes sense to have some [meta]data attached to the columns [and rows], and in general about the dataset itself. No

[2019-02-08 21:03] rth commented on #13123
Thanks for a detailed summary!

I agree these are things that are worthwile to consider. A partial comment (mostly paraphrasing some of Gael's slides) is that using standard data contains (ndarrays, DataFrames) is what allows different packages in the eco-system to interact. <end of approximate citation>

Currently, we are adding more pandas support, but there is still no full consensus as to how

[2019-02-08 21:45] daniel-cortez-stevenson commented on #13122
Discussion with a better overview and scope definition has been started at #13123. Closing this issue.

[2019-02-08 21:45] #13122 closed

[2019-02-08 21:46] 123names commented on #13114
In the partial_fit function, the number of total samples should be 6 since we incrementally adding new samples to it, thus I think it shouldn't run into dividing by zero error.
As for doesn't make sense to run PCA on a single sample, this should be checked in fit function since we will not make further changes to the model anymore, but applying the same check for partial_fit function (an increment

[2019-02-08 21:46] #13114 closed

[2019-02-08 23:42] daniel-cortez-stevenson commented on #13123
Oh, yea absolutely. The `xgboost.DMatrix` example really hits home for me. Familiarity is essential if a Dataset API is going to be more than an "advanced" usage kind of thing.

A naive proposal:
Subclass `np.ndarray` as `sklearn.skarray` ("scikit-learn array") and extend it with the metadata attributes and constructors suggested by @adrinjalali - and maybe do something fancy to avoid namespace co

[2019-02-09 02:04] qinhanmin2014 commented on #13110
thanks for the report.
It's a regression introduced in #7823, the problem is that we're shuffling each stratification in the same way (i.e, with the same random state). I think we should provide different splits when users provide different random state.

[2019-02-09 04:52] soljaneto91 commented on #12413
@sanketchavan08 I tried code on Windows and it did not work. I changed to use it on Ubuntu and it well done. I found this problem is caused by the error in GPU hardware(https://github.com/tensorflow/models/issues/3366). In my opinion you should use other OSs for machine learning. Good luck

[2019-02-09 04:52] Arjannikov commented on #13110
I believe the solution is simple: to randomize the data order before splitting it into stratums and then into folds. That's basically what I do before passing the data to StratifiedKFold() method. It solves the problem, but the shuffle=true becomes completely useless. By the way, there is no point in randomizing the order of the splits (train-test pairs), which is what the method does now.

So, sh

[2019-02-09 05:42] sanu11 commented on #12700
Hello, I am new here. Is anyone working on it? If not, is this issue good for my first contribution?

[2019-02-09 06:31] qinhanmin2014 commented on #13110
We did so previously. I've opened #13124 to solve the problem. I don't understand why you think shuffle=true becomes completely useless.

It's unavoidable to get the same splits in different order (sometimes, not always) and I don't think it's a big problem.

[2019-02-09 06:40] qinhanmin2014 commented on #12700
@sanu11 @MLopez-Ibanez has something in his fork and there's a PR from @trungpham10, feel free to take it if they don't mind or if there's no reply after some time.

[2019-02-09 07:12] rth commented on #13118
Pickle is not portable across scikit-learn versions.

You need to either install scikit-learn 0.20.1 in your production environment or use model exchange format that supports predictions such as ONNX or PPML (see https://scikit-learn.org/dev/modules/model_persistence.html#model-persistence)

[2019-02-09 07:12] #13118 closed

[2019-02-09 07:27] Abraxas2071 commented on #13105
@jnothman
Our Dear Joel~Not isotonic_reg，it is threshold_reg
Look this：https://www.stata.com/new-in-stata/threshold-regression/

[2019-02-09 08:28] coderop2 commented on #12700
If currently nobody is working on this issue may i take it up.?

[2019-02-09 09:50] coderop2 commented on #11339
If nobody is handling the issue may have a look at it..?

[2019-02-09 10:02] coderop2 commented on #3846
Any more help need here to either to update a existing doc or to create a new one..?

[2019-02-09 10:31] coderop2 commented on #7528
So is this issue finished or still needs some patch work.

[2019-02-09 11:01] MLopez-Ibanez commented on #12700
I have a commit fixing this in my fork, but haven't found the time to put
together a pull request. I'll try to do this in the next few days. Cheers,
Manuel

On Sat, 9 Feb 2019, 08:29 Harshit Khandelwal, <notifications@github.com>
wrote:

[2019-02-09 11:02] adrinjalali commented on #3846
We still need an updated list of classes without examples. Ping @Khayyon1?

[2019-02-09 11:23] coderop2 commented on #3846
@Khayyon1  have you completed the list or do you need some help..?

[2019-02-09 13:18] adrinjalali commented on #13115
Internally, -2 is what we have as `TREE_UNDEFINED`, and it's ignored if the node is a leaf (i.e. it doesn't have left and right children nodes).

Predictions on the tree ignore this threshold if the child nodes are not set for that node, hence it doesn't cause any issues.

I've seen issues with np.nan in cython and cross platform compatibility, so it's not as straight forward as one might think to

[2019-02-09 13:18] #13115 closed

[2019-02-09 13:45] adrinjalali commented on #13123
oops, I wasn't quite clear with the proposal. I wasn't at all suggesting that we should "move" from (X, y) style API to a strictly dataset one. I was thinking more along the lines that @daniel-cortez-stevenson also suggests, i.e.:

- all API changes are backward compatible. We would either accept X as either an array or a dataset, or accept either X or a dataset as input (as two different paramete

[2019-02-09 13:50] adrinjalali commented on #13117
would you like to submit a PR to fix it @albertotb ?

[2019-02-09 13:59] albertotb commented on #13117
Sure, I'll get to it

On Sat, Feb 9, 2019 at 2:51 PM Adrin Jalali <notifications@github.com>
wrote:

[2019-02-09 14:05] adrinjalali commented on #13119
To be fair, all other mentioned possible values (euclidean for instance) are distance metrics. Therefore I'd assume it would be relatively clear that the method expects a distance metric. Anyhow, if we decide to change anything, it should be changed in all places where we take a distance/affinity function as input.

Having a glance at the `hierarchical.py` itself, I can see there are quite a few d

[2019-02-09 14:09] jnothman commented on #13121
It's a bit hacky/unintuitive, but you could use a ColumnTransformer with 'passthrough' for selected indices and remainder='drop'. This has the advantage of also working with pandas column names.

[2019-02-09 16:53] Khayyon1 commented on #3846
@adrinjalali, I am going to have to drop it because school resumed shortly after I asked to assist and I have been unable to work on this, my apologies

[2019-02-09 19:25] glathrom commented on #8588
You can find the data sets at: [THE MNIST DATABASE](http://yann.lecun.com/exdb/mnist/)

Here are a couple of functions to load the labels and load the images to place them in numpy single dimension arrays.

`import struct
import numpy as np

def read_labels( path_ ):

    with open(path_, 'rb') as fp:
        magic = struct.unpack('>I', fp.read(4))
        number = struct.unpack('>I', fp.read(4))

[2019-02-09 20:05] glathrom commented on #8588
You can download the code from [THE MNIST DATABASE
](http://yann.lecun.com/exdb/mnist/) and here is a repository with a couple of functions to load the data for you.  [https://github.com/glathrom/sklearn_MNIST_load](https://github.com/glathrom/sklearn_MNIST_load)

[2019-02-10 00:47] jnothman commented on #13114
See also #6452

[2019-02-10 04:10] icc2115 opened #13127 "SparsePCA implementation based on sparse dictionary learning"
#### Description
Hi developers,

There's a sklearn model called [SparsePCA](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.SparsePCA.html), but it doesn't seem to be SPCA at all. According to documentation [here](https://scikit-learn.org/stable/modules/decomposition.html#sparse-principal-components-analysis-sparsepca-and-minibatchsparsepca), it's based on a sparse dictiona

[2019-02-10 04:14] jnothman commented on #8588
You can get mnist from openml

[2019-02-10 08:50] Abraxas2071 commented on #13105
@jnothman
Yeah！I did it！I did it！Look！
![qq 20190210165003](https://user-images.githubusercontent.com/38712030/52531678-ed670d00-2d53-11e9-95e7-01e8cbad3b2c.jpg)

The top arrow indicates the actual parameter
The bottom arrow is the estimate

[2019-02-10 15:05] #12700 closed

[2019-02-10 17:22] agramfort commented on #13127
indeed it's not the same algorithmic approach that is currently used. Yet
it maximizes explained variance
with a reduced rank under sparsity constraints on the components (not the
loadings as dict learning).
We should start by clarifying the doc + eventually add the original solver
from Zou et al. provided
it scales as well or gives better result (but better how?).

my 2c

[2019-02-10 17:32] #13104 closed

[2019-02-10 21:56] HarryShomer opened #13128 "Change in regularization parameter in Ridge Regression has small effect"
#### Description
I apologize in advance if this isn't actually an issue but a misunderstanding on my part.

Basically what I'm dealing with is the fact that changing the regularization parameter alpha for the ridge regression I'm running has very little effect on the coefficient estimates. What is therefore happening is that it is regularizing the coefficients, in my opinion, too much (you will ha

[2019-02-10 22:44] tvvignesh opened #13129 "Improving outlier detection with Isolation Forest for unbalanced dataset"
I have been using Isolation Forest for outlier detection and I am in need of some help in handling unbalanced datasets.

My training dataset:
265000.0000 - 88383 instances
47000.0000 - 2 instances
39000.0000 - 1 instance
46000.0000 - 1 instance

I have a training data which has 88383 instances of the value 265000.0000 and 3 instances of some other values. I have tried all parameter combinations an

[2019-02-11 07:19] jnothman commented on #10561
I now see that this test was new in 0.20. So I think the right fix is indeed to increase tolerance.

[2019-02-11 07:19] jnothman commented on #10561
I'm glad it helped us find the bug solved by #12612, though!

[2019-02-11 07:30] jnothman commented on #11339
This is fixed in #11349, which requires a second review

[2019-02-11 07:41] jnothman commented on #13123
The distinction we would need to make here is in transforming Dataset into
Dataset where currently all Transformers output arrays or sparse matrices.
This would allow us to transmit feature names/provenance. (I'm not entirely
sure this use matches the conventional meaning of "dataset", btw.)

Also note that allowing DataFrame output from fetch_openml also aims to
return heterogenous dtype, not mer

[2019-02-11 07:48] jnothman commented on #13119
Yes, we could consider renaming affinity to metric here... Just not sure
it's worth the disruption for the sake of consistency.

[2019-02-11 09:47] jnothman commented on #13129
Unless you have reason to believe there is a bug in the implementation, this issue tracker is not the place to advise you on a solution. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-02-11 09:47] #13129 closed

[2019-02-11 15:32] rutujar opened #13132 "Help Needed ASAP"
Hi,
i am facing the issue in the below code

from sklearn.grid_search import GridSearchCV if i replace this with

from sklearn.**model_selection** import GridSearchCV

while defining a function i called this
clf = GridSearchCV(svr, parameters)
it showing **error**

[2019-02-11 15:35] adrinjalali commented on #13132
The issue tracker is to report issues with the package and not usage questions. A place like StackOverflow is a better place for asking usage questions.

[2019-02-11 15:35] #13132 closed

[2019-02-11 15:46] NicolasHug opened #13133 "DummyClassifier and DummyRegressor have no outputs_2d_ attribute"
According to the docs `DummyClassifier` and `DummyRegrerssor` have a `outputs_2d_` attribute, but they don't.

Should we remove the docstring? Or actually implement this?

[2019-02-11 16:34] amueller commented on #11259
I just used this and noticed that a) the model is called ``predictor`` not ``estimator`` (or ``base_estimator``) as is usual for a meta-estimator, and b) that it's not the first argument.
Ideally I'd prohibit positional arguments but since we don't for now, I'd rather have   the base estimator be the first argument.
If you do `` IterativeImputer(RandomForestRegressor(n_estimators=100))`` you get a

[2019-02-11 17:06] sergeyf commented on #11259
Thanks for the feedback. I'm happy to rename to `estimator`.

Regarding position: this is tricky because `SimpleImputer` doesn't have a
meta estimator so it will have a different first parameter from
`IterariveImputer` if we make the ordering change. Is that acceptable?
That's the reason we haven't made `estimator` first already.

On Mon, Feb 11, 2019, 8:35 AM Andreas Mueller <notifications@github

[2019-02-11 21:17] SandroCasagrande opened #13134 "KBinsDiscretizer: kmeans fails due to unsorted bin_edges"
#### Description
`KBinsDiscretizer` with `strategy='kmeans` fails in certain situations, due to centers and consequently bin_edges being unsorted, which is fatal for np.digitize.

#### Steps/Code to Reproduce
A very simple way to reproduce this is to set n_bins in the existing test_nonuniform_strategies from sklearn/preprocessing/tests/test_discretization.py to a higher value (here 5 instead of 3)

[2019-02-11 22:12] david-waterworth opened #13136 "Add score_params to Pipeline.score()"
In Pipeline.score() the final step is to call `self.steps[-1][-1].score(Xt, y, **score_params)` but the signature of Pipeline.score() is `score(self, X, y=None, __sample_weight=None__)` meaning the only valid score_params that are passed to the last step estimator of the pipeline is { 'sample_weight': sample_weight}

I created a custom estimator with custom score_params but it's not working, fit()

[2019-02-11 22:45] jnothman commented on #13134
Thanks for the report and the pull request!!

[2019-02-12 00:10] jnothman commented on #11259
I'm okay with renaming predictor to estimator. I think the point of
"predictor" was that there might be other underlying estimators, e.g. an
initial imputer. Thanks for the feedback, @amueller.

Most of the discussion is happening at #11977 rather than here.

[2019-02-12 00:16] sergeyf commented on #11259
Should we consider making `predictor` the first input parameter?

[2019-02-12 00:21] jnothman commented on #13133
Remove

[2019-02-12 00:31] jnothman commented on #11259
It is the most important parameter... but I don't mind the current
consistency with SimpleImputer

[2019-02-12 00:41] sergeyf commented on #11259
I'll defer to sklearn full-timers. Let me know if you reach a consensus to move it. I'll change the name to `estimator` in the most recent PR.

[2019-02-12 01:19] jnothman commented on #13136
Now that predict accepts arbitrary params, it makes sense for score to do
so too?

[2019-02-12 01:26] #13134 closed

[2019-02-12 04:55] mihirpatel7 opened #13138 "K-means minibatch Memory error on large data"
#### Description

I am using sklearn Kmeans Minibatch for clustering large data and I get a memory error.
Here is my laptop configuration on this configuration its working fine:

- Core i5 64 bit
- Python 3.6.2
- 8 GB RAM

sklearn version-0.19.1
I stored TfidfVectorizer X in .npz file(426 Mb). I then perform Clustering on that X several times with a different number clusters.

`X = sparse.load_npz

[2019-02-12 05:43] Arjannikov commented on #13110
In my example output, take any measure (say accuracy) from each fold, sum them and divide by the number of folds, you will see that shuffle=true does not change that result. This is why I say that shuffle=true becomes useless.

Granted, my example is an edge case. I picked it to illustrate the point as clearly as possible. But basically, the algorithm as it stands now, always pairs a given train i

[2019-02-12 05:44] Arjannikov commented on #13110
Also, I am not sure what you mean by "sometimes, not always". Isn't it a deterministic algorithm?

[2019-02-12 05:56] jnothman commented on #13138
Not sure why your mileage is varying from one machine to another, but those cluster centres alone will consume 3GB of RAM. You should perhaps be considering techniques other than KMeans for clustering high dimensional data in any case.

I don't think this is a software development issue. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Ove

[2019-02-12 05:56] #13138 closed

[2019-02-12 05:58] jnothman commented on #13110
Please see the solution in #13124, @Arjannikov. @qinhanmin2014 identified this as a bug that was introduced in #7823 (between versions 0.18 and 0.19).

[2019-02-12 10:27] lorepirri opened #13140 "Download fail for the 20 newsgroups dataset with ssl error certificate verify failed"
#### Description

The download of the language dataset for the 20 newsgroups example fails for with ssl error certificate verify failed.

This happens for other downloads too (#10201), because apparently since Python version 3.6+ the

as stated in ( `$ less /Applications/Python\ 3.6/ReadMe.rtf` )

Apparently this is also happening for Windows users, not only Mac OS.

#### Steps/Code to Reproduce

[2019-02-12 10:55] adrinjalali commented on #13140
I would strongly advice against not verifying the ssl certificates. The issue is not affecting all OSs, and as the python's changelog says, users should read that readme and fix those related issues.

However, I'd be happy with giving them a warning with potentially a link to the solution to the issue.

[2019-02-12 11:15] LakshKD commented on #13106
I am interested, do you want to discuss how to proceed?

[2019-02-12 11:21] adrinjalali commented on #13106
@LakshKD if this goes ahead, it would be one of those PRs which can take quite some time to be merged, if it does. It would probably also involve quite some cython [re]implementation of the model, and I'm not sure if we should incorporate it with the current tree code or have yet another tree algorithm (if we decide to go ahead with this).

Otherwise, looks like a nice one to me.

A potential firs

[2019-02-12 13:32] #13133 closed

[2019-02-12 14:14] coderop2 commented on #3846
@adrinjalali so should i see which all are remaining from the list mentioned by @raghavrv

[2019-02-12 16:05] adrinjalali commented on #3846
@coderop2  that's a 3-4 year old list, probably better to start a new one!

[2019-02-12 18:26] atashfeshan opened #13147 "is it possible to use skelarn with it's code inside my project ( I don't want to install skelarn)"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2019-02-12 19:05] aribenjamin opened #13148 "[feature request] Allow LabelKFold to use random seed"
Right now `LabelKFold` has no option for setting the random seed. It's parent class has this option; however, the init call of LabelKFold does not allow the user to set this option. Instead the random state is always set to `None`. From `_split.py`:
[code]

It should be a simple change to allow instances of `LabelKFold` to have specific random seeds.

[2019-02-12 19:29] rth commented on #13147
scikit-learn is licenced under the 3-clause BSD license, so you can do that. It will not be that easy though because compiling all Cython / C extensions will require more work if they are put outside the standard scikit-learn tree.

Closing this as a usage question -- we use Github to track issues in the code or request new features, for usage questions please use StackOverflow or the mailing list

[2019-02-12 19:29] #13147 closed

[2019-02-12 21:23] jnothman commented on #11886
I've realised that if we add a parameter `append` to MissingIndicator which stacks the indicator matrix into X, its output can simply be piped into any imputer. It will potentially enhance iterative imputation, too, but could affect KNN imputation in arbitration ways.

[2019-02-12 22:11] reneburghardt opened #13149 "max_depth of DecisionTreeRegressor ignored when using max_leaf_nodes"
#### Description
For me it seems, that there is a bug going on when using max_depth and max_leaf_nodes. Whenever I use max_leaf_nodes for a DecisionTreeRegressor, the given max_depth is ignored (or at least not working as expected). When I remove the max_leaf_nodes, it seems to work.

#### Steps/Code to Reproduce
[code]

#### Expected Results
I expect a tree with a maximum of 3 nodes (the root and

[2019-02-12 22:44] #11650 closed

[2019-02-12 23:07] jnothman commented on #13148
LabelKFold is not randomised.

[2019-02-12 23:07] #13148 closed

[2019-02-12 23:09] jnothman commented on #13148
Actually, LabelKFold has not existed for a while, but the same is true of
GroupKFold.

[2019-02-13 00:28] jnothman opened #13152 "failure: [doctest] sklearn.feature_extraction.image.extract_patches_2d"
From https://circleci.com/gh/scikit-learn/scikit-learn/46455?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[code]

[2019-02-13 03:50] DKDKDDK commented on #5851
for the `transform(new_data)` issue.
In my opinion an easy and rational way to do that is:
1. In the `fit` phase, find the maximal linearly independent vector set of the low rank matrix L and store it.
2. For any given `new_data` in the `transform(new_data)` phase, use that vector set as base vectors , calculate the optimal component set to interpolate `new_data`  which minimizes reconstruction er

[2019-02-13 06:27] jnothman commented on #11886
@sergeyf points out that for IterativeImputer, stacking an indicator before passing X in will lead the estimator to learn bad imputation functions, so... maybe that's not such a good idea.

[2019-02-13 06:44] vrishank97 opened #13154 "[Feature Request] Using genetic algorithms for improving grid search"
People who use Scikit learn for competitive machine learning competitions regularly run multiple grid searches for hyper parameter optimisation. We can add a functionality to allow users to run GAs for the heuristic search instead of manually testing parameters.

[2019-02-13 09:27] gatl commented on #13075
Setting `max_iter` on the NuSVC seems like a suitable workaround.

[2019-02-13 10:13] jnothman commented on #13051
We long ago made exceptions for CCA, LocallyLinearEmbedding and KernelPCA saying that they are not deterministic on 32-bit platforms. This happened in #3363 when introducing Windows CI. But it seems that wasn't quite the right criteria for exclusion.

[2019-02-13 10:15] jnothman commented on #13050
This seems likely, but I suppose it's best to test 14 decimals on the platform.

[2019-02-13 10:16] jnothman commented on #13050
Or if we're releasing 0.20.3 soon (I think we should) we can just try throw it in as an easy fix.

[2019-02-13 12:48] rth commented on #13152
The doctest that fails  was added in https://github.com/scikit-learn/scikit-learn/pull/12819 but more fundamentally incorrect results indicate that there is an issue with `extract_patches_2d` on PyPi that needs investigating.

[2019-02-13 12:56] rth commented on #13140
+1 This is about properly installing Python. I would imagine installing Python with conda would automatically install the needed certificates. For other installation approaches that may have to be done manually as indicated in the release notes.

 We can't really make a fix that disregards security concerns. You should raise this issue with the Python distributor you use (Homebrew etc).

[2019-02-13 12:56] #13140 closed

[2019-02-13 12:58] rth commented on #13140
And in particular conda, it appears.

[2019-02-13 13:37] reneburghardt commented on #13149
Its highly probable that 'BestFirstTreeBuilder.build()' is ignoring max_depth until now, see lines [349-366](https://github.com/scikit-learn/scikit-learn/blob/7389dba/sklearn/tree/tree.py#L349):
[code]

[2019-02-13 13:58] qinhanmin2014 opened #13158 "Inconsistent default average in precision_recall_fscore_support and P/R/F"
In ``precision_recall_fscore_support``, the default average is None.
In other P/R/F functions, the default average is binary.
It's not critical but seems annoying.

[2019-02-13 16:31] adrinjalali commented on #13154
I believe this is the kind of feature which is good for a scikit-learn-contrib project at least to start with. A similar example is https://scikit-optimize.github.io/#skopt.BayesSearchCV, which is itself in a different package.

[2019-02-13 16:31] #13154 closed

[2019-02-13 16:37] amueller commented on #11379
btw had a student come to me with an error from mixing float and string for a homework :-/
The original column was encoded as float but was actually categorical, they imputed using the string "missing" and then OHE breaks...

[2019-02-13 16:49] adrinjalali commented on #13149
It's not really ignored, it overshoots it by one, https://github.com/scikit-learn/scikit-learn/pull/12344 has solved it in master, and will be out in v0.21. Please reopen if I'm mistaken.

[2019-02-13 16:49] #13149 closed

[2019-02-13 17:02] Jwink3101 commented on #8359
I played around with writing my own linear kernel and I had the issue that, while the resulting Gram matrix was invertible, it was not semi-positive definite (makes sense since the diag will be zeros). The Cholesky failed on it. I may have made a mistake though. I am going to play with this pull request to see if I can get it working on my own end.

[2019-02-13 17:14] NicolasHug commented on #11638
Stupid question, why are we vendoring liblinear in `sklearn/svm`?

[2019-02-13 18:35] LakshKD opened #13159 "Testcase for _pprint() is not present"
#### Description
I was going through the code and thought to write the Testcase for _pprint function:
def _pprint(params, offset=0, printer=repr):
    """Pretty print the dictionary 'params'

This function is present in this file: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/base.py (line no: 65)

I just want to know that whether I should proceed to write the Testcase or I shou

[2019-02-13 20:32] jnothman commented on #13158
It's been this way a long time. I presume because it would never return a I
single number in any case. The difference in practice is that you don't get
an error with multiclass/multilabel?

[2019-02-13 21:00] rth commented on #11638
LinearSVC uses liblinear,

    Similar to SVC with parameter kernel='linear', but implemented in terms of
    liblinear rather than libsvm, so it has more flexibility in the choice of
    penalties and loss functions and should scale better to large numbers of
    samples.

If you question is why in `svm` instead of `linear_module` I don't know, maybe putting it alongside libsvm made more sense wi

[2019-02-13 21:45] aribenjamin commented on #13148
Why would this be a deterministic splitting? Suppose I have data with 4 distinct labels [A, B, C, D], and wish to split the data into 2 folds. One way to do this is to have all A and B labels in the train fold, and all C and D labels in the test fold. Or I could have the train be all A and C, and the test be all B and C. Since this decision is arbitrary (and since this is a subclass of KFold!) I e

[2019-02-13 22:54] jnothman commented on #13159
It seems we forgot to remove it when introducing sklearn.utils._pprint
recently. PR removing it is welcome!

[2019-02-13 23:22] jnothman commented on #13148
Hmmmm.... I think the docstring is incorrect. The method implemented here
tries to make the test sets as similar in size (number of samples) as
possible. This is not as easy to do with randomness (although there could
be some if groups have the same number of samples, but this is not
implemented). The docstring implies that it just tries to make the same
number of groups appear in each test set. W

[2019-02-14 01:13] qinhanmin2014 commented on #13158
I can't understand.

Mostly. As a user, I expect P/R/F and precision_recall_fscore_support to have the same default.

Again this is not a critical issue IMO.

[2019-02-14 02:54] jnothman commented on #13158
I just meant that precision_recall_fscore_support won't return a single number (always a tuple) and hence can't be used as a scoring function, so when multiclass/label support was added, it seemed reasonable to return per-class metrics.

[2019-02-14 03:07] madudata61 commented on #6657
Hi @danjump were you able to solve this issue?
I am having the same problem. I am implementing an anisotopic kernel, where each input dimension belongs to a separate kernel. Any help on this would be great.
Thanks

[2019-02-14 03:10] jnothman commented on #6657
#7070 may be relevant?

[2019-02-14 03:29] qinhanmin2014 commented on #13158
I see. Feel free to close if you think current default is reasonable.

[2019-02-14 06:17] jnothman commented on #13158
I don't think the default is great, but I don't see much value in changing it (unless, that is, we are changing the metric API more generally to make multiple-score output usable in cross-validation)

[2019-02-14 07:17] qinhanmin2014 commented on #13158
I agree.

[2019-02-14 07:34] LakshKD commented on #13159
Yes, I will raise one PR today to remove this function. Thanks @jnothman

[2019-02-14 08:01] #13158 closed

[2019-02-14 10:20] LakshKD commented on #13159
@jnothman I have created the PR.

[2019-02-14 11:07] galenwilkerson opened #13161 "AttributeError when using GridSearchCV.fit() on LSTM model"
#### Description

I'm trying to use GridSearchCV to parallelize hyper-parameter tuning.
(I will also try pyspark.GridSearchCV, but want to get this working first.)

thanks!

#### Steps/Code to Reproduce

#### Versions

[2019-02-14 11:09] galenwilkerson opened #13162 "GridSearchCV.fit() throws AttributeError when running on LSTM model"
#### Description
GridSearchCV.fit() throws AttributeError when running on LSTM model

I'm trying to use GridSearchCV to parallelize hyper-parameter tuning.
(I will also try pyspark.GridSearchCV, but want to get this working first.)

thanks!

#### Steps/Code to Reproduce

Example:
[code]

#### Versions

Linux-4.15.0-45-generic-x86_64-with-debian-buster-sid
Python 3.6.5 |Anaconda, Inc.| (default, Ap

[2019-02-14 11:10] #13161 closed

[2019-02-14 11:22] galenwilkerson commented on #13162
Looks like this was fixed by installing the latest scikit-learn:

Scikit-Learn 0.20.2

[2019-02-14 11:22] #13162 closed

[2019-02-14 16:49] chkoar commented on #7768
`Adaboost` tests are testing the sparsity of the `X`. This means that we should skip these tests in order to relax the validation, right?

[2019-02-14 17:22] daniel-cortez-stevenson commented on #13123
How about directing users to use a [`numpy.recarray`](
https://www.numpy.org/devdocs/reference/generated/numpy.recarray.html#numpy.recarray) if they want to explicitly associate metadata with an array and convert `pandas.Dataframe` inputs to `numpy.recarray` internally? Do y'all think this is a viable approach?

[2019-02-14 19:08] thomasjpfan opened #13166 "Caching Cython files in Travis CI"
The pandas project uses the travis cache to speed up builds: https://github.com/pandas-dev/pandas/blob/master/ci/submit_cython_cache.sh We can also take advantage of this for our CI.

[2019-02-14 20:01] FelixNeutatz commented on #9603
Hi everybody, I got the same issue using version 0.20.2:
[code]

I appreciate any guess.

Best regards,
Felix

[2019-02-14 20:58] PiotrekGa opened #13168 "BaggingRegressor does not work with LightGBMRegressor & MAE objective"
I'm trying to use BaggingRegressor from scikit-learn together with LightGBMRegressor and Mean Absolute Error objective and I'm receiving `nan` outputs. I reproduced the problem below.

Python version: 3.6.8
LightGBM version: 2.2.2
Sklearn version: 0.20.2

[code]
returns

[code]

Bagging with Mean Absolute Error (MAE) objective/criterion

[code]
returns
[code]
while Random Forest with MAE returns p

[2019-02-14 22:12] rth commented on #13166
We are using Travis cache with ccache for the compilation itself already. Do you have an estimate of how much we could gain (relative to the total time) by caching Cython generated code as well on Travis CI? On my laptop it takes around 35s.

[2019-02-14 23:25] jnothman commented on #7768
Sounds like it as long as it doesn't do other things with X than fit the
base estimator

[2019-02-14 23:26] jnothman commented on #13123
Recarrays are difficult. They have a different shape.

[2019-02-15 00:52] thomasjpfan commented on #13166
pandas uses this ccache and also caches the cython generated c/cpp files. It will clear the cache if any `*.pyx` or `*.pxd` files changes.

On my local machine, if I already have the generated c/cpp files and remove the compiled modules, the next rebuild of the modules are instant. (I am assuming there is some caching similar to ccache).

Currently on travis CI the build script takes ~ 160 secs, a

[2019-02-15 01:05] #11259 closed

[2019-02-15 04:21] oanise93 commented on #11819
Hi, I'm new to contributing to open-source projects but wondered if I could take on this issue. I use `fetch_opeml` a lot and would like to give back.

[2019-02-15 04:37] omkar-kumbhar opened #13170 "Finding nearest cluster for a sample during Silhouette analysis"
How do I get nearest cluster for a datapoint/object while doing silhouette analysis in sklearn.metrics.silhoutte_samples?
The original paper mentions:
"
The cluster B for which this minimum is attained (that is, d( i, B) = b(i)) we call the neighbor of
object i. This is like the second-best choice for object i: if it could not be accommodated into
cluster A, which cluster B would be the closest co

[2019-02-15 06:31] jnothman commented on #11819
Please feel free to submit a PR

[2019-02-15 06:33] jnothman commented on #13170
what changes do you need to make? `silhouette_samples` already finds the nearest cluster for each sample.

[2019-02-15 08:47] justinormont opened #13171 "License for rendered docs repo"
The [rendered docs repo](https://github.com/scikit-learn/scikit-learn.github.io) could use a license.txt/[COPYING](https://github.com/scikit-learn/scikit-learn/blob/master/COPYING) to make the licensing more explicit.

My particular use case:
I'm looking to upload some of the rendered graphs to Wikimedia Commons for use in Wikipedia articles on ML and need to reference license. While I could refer

[2019-02-15 08:50] omkar-kumbhar commented on #13170
Okay got what I wanted in **_silhoutette_reduce()**.
Thanks

[2019-02-15 08:50] #13170 closed

[2019-02-15 09:29] adrinjalali commented on #9603
@FelixNeutatz it'd be a great help if you could share a minimal reproducible code with the data causing the error so that we could better test/fix the issue.

[2019-02-15 09:36] adrinjalali commented on #13166
In our CIs we use the latest cython in many cases, which means we'd also need to regenerate .c files after any update to the cython itself. I'm not sure how easy is that to handle.

[2019-02-15 09:40] rth commented on #13166
I agree we can always try and see how much it helps. Thanks for investigating!

[2019-02-15 09:41] adrinjalali commented on #13170
@omkar-kumbhar just be aware of the fact that the `_*` functions are _private_ and their signature or implementation my change from release to release without warning or prior notice.

[2019-02-15 09:44] rth commented on #13166
Posted my comment before this message was loaded. Cache invalidation can indeed be annoying, but I think in this case it might be easier to try, and revert if it doesn't work for us.

[2019-02-15 09:49] adrinjalali commented on #13166
Yeah, an alternative may be caching for the PR jobs, and invalidate all caches right before the cron jobs.

[2019-02-15 18:54] PiotrekGa commented on #13168
I've done some more research about the topic and I think it's a bootstap bug:
[code]
returns:
[code]
Meaning the model was not fitted properly.
The model works well with `bootstrap=False`:
[code]
[code]

[2019-02-15 20:36] xadupre opened #13173 "Faster PolynomialFeatures"
The current implementation of PolynomialFeatures could be faster. The gain is significant for matrices with less than 10.000 rows, twice faster for less than 100 rows. This is for dense matrices, not measured for sparse.

#### Description
PolynomialFeatures independently computes every feature but it is possible to broadcast some multiplications to be faster. Code is below. It produces the same re

[2019-02-16 02:33] ShawnMcGrory opened #13175 "FactorAnalysis not working correctly for n_components>=n_features"
#### Description

When `n_components` is set to be a value greater than `n_features`, then `n_components` will default to the same value as `n_features` (i.e. `n_components = n_features`).

Additionally, not all of the `n_components = n_features` components will be learned.

#### Steps/Code to Reproduce
[code]

#### Expected Results
[code]

#### Actual Results
[code]

#### Versions
[code]

[2019-02-16 14:47] NicolasHug commented on #11299
I think it's 99% of the issue.

When we run `make`, sphinx makes a list of files it needs to re-build in `get_outdated_files()`.

There are 3 sets of files:

- removed
- added
- changed

Building the docs of the current master branch of scikit-learn says that there are 521 changed files, even when we don't update any file.

A file is considered *changed* according to 3 criteria:

- it's marked as

[2019-02-16 17:08] saltypeanuts opened #13176 "Infinite loop bug in Gridsearch CV Svm.SVC(), Windows 10"
This is going to be a bit shorter as I cannot determine with 100% accuracy what steps are causing this bug.

Setup:
Windows 10 most recent update
Anaconda most recent update
Jupyter Notebook and Prompt latest update (issue tested in both; no warnings, errors, bugs, etc are printed in either)
All packages (scikit, numpy, etc.) latest update
AMD FX 8350 8-core
Nvidia GeForce GTX 980
16 GB ram

The i

[2019-02-16 17:46] oanise93 commented on #12684
Is it okay if I grab this issue?

[2019-02-16 17:57] oanise93 commented on #11817
Can I work on this issue?

[2019-02-16 19:24] scottclowe commented on #13175
I think you may have misunderstood what Factor Analysis is, what it does, and what it is used for.

From [wikipedia](https://en.wikipedia.org/wiki/Factor_analysis)

If the number of latent variables, i.e `n_components`, is equal to the number of observed variables, i.e. `n_features`, it is already possible to create a matrix transformation which maps between the two with zero error. This can trivi

[2019-02-16 20:03] jnothman commented on #13176
Searching over tol is an unusual things to do. You should try setting a
finite max_iter

[2019-02-16 20:25] agramfort commented on #13175
n_components must be less than n_features. See wikipedia k < p. Otherwise you explain all the variance and \psi is zero. I would close this issue.

[2019-02-16 20:35] jnothman commented on #12684
Sure, @oanise93

[2019-02-16 20:56] agramfort commented on #13128
@HarryShomer you should share a fully replicable code snippet for us to have a look.

[2019-02-16 20:57] #13175 closed

[2019-02-16 21:25] saltypeanuts commented on #13176
I don't know how many iterations it takes to train. Searching over tol instead of max_iter allows me to more stop training early. Is there a call that will print how many iterations it took for a (generic) model to converge?

Regardless, the issue isn't over tol searching as far as I can tell.

[2019-02-16 21:54] agramfort commented on #13034
I agree with @jnothman

even if it would work, I doubt it would solve the prediction problem.

feature hashing would be an option here.

[2019-02-16 21:54] #13034 closed

[2019-02-16 21:57] agramfort commented on #13032
digits have pixels that are consistently zero for all samples. I guess it's the problem. The rank of digits is in practice less that 64 so I am surprised by what your observe. I would not expect a valid answer in this regime. Please close if you're fine with my answer.

[2019-02-17 02:39] fferrin commented on #13152
Hi! I checked the following:

- Create patches from images and reconstruct the image from the patches: It works OK.
- Manually select the patches (`one_image[0:2, 1:3, :]` for the first case, `one_image[1:3, 161:163, :]` for the other): The values are the same.

The problem was that the documentation was done with the `china.jpg` image and the image `0` is the `flower.jpg` image. I updated the val

[2019-02-17 05:46] jnothman commented on #13176
No the issue is probably the infinite max_iter

[2019-02-17 10:30] Borda commented on #9943
seems that with this PR #11950 this issue could be closed... right?

[2019-02-17 23:05] NicolasHug opened #13180 "New recommended ways to write (in)equality assertions in tests"
I've had a few reviews recommending the use of `np.testing.assert_allclose()` (or was it `assert np.allclose()`?) instead of `assert_array_almost_equal` but there doesn't seem to be a consensus (https://github.com/scikit-learn/scikit-learn/pull/13130#issuecomment-464520286).

Also the use of `assert_equal` seems to be "deprecated" in favor of `assert . == .` (https://github.com/scikit-learn/scikit

[2019-02-17 23:56] jnothman commented on #13180
assert_equal is a no-brainer. Bare assert is best there.​

Note the default parameters differ (rtol, atol and equal_nan):
* np.allclose(a, b, rtol=1e-05, atol=1e-08, equal_nan=False)
* np.testing.assert_allclose(actual, desired, rtol=1e-07, atol=0, equal_nan=True, err_msg='', verbose=True)

Probably want to prefer assert_allclose, but we need to set an explicit atol when comparing to 0, for instan

[2019-02-17 23:59] Mark531 commented on #10928
I totally agree with elDan101 on this, ParameterGrid not accepting scalars is a functional flaw. And this has a direct impact on GridSearchCV...

[2019-02-18 00:57] jnothman commented on #10928
@Mark531 are you going to try to substantiate that argument?

[2019-02-18 03:41] kenga commented on #12413
I also have this problem on Window 7 even if I am running with CPUs.
I am using:
joblib 0.13.2
scikit-learn 0.20.2
python 3.6

[2019-02-18 03:48] thomasjpfan commented on #9485
I opened a PR to add nightly builds on the scikit-learn-wheels repo. It builds for all platforms with python >= 3.6. The only platform that does not build is osx, which runs into https://github.com/scikit-learn/scikit-learn/issues/12644.

[2019-02-18 05:51] JakeHunsberger opened #13182 "Ridge/Lasso/PLS Regression totally broken!"
#### Description
Ridge/Lasso/PLS regression all do not work when attempting to instantiate objects from any of the three classes. The following error is produced.

"super(type, obj): obj must be an instance or subtype of type"

#### Steps/Code to Reproduce

Model = Ridge()
Model = Lasso()
Model = PLSRegression()

#### Expected Results
No error thrown.

#### Actual Results
"super(type, obj): obj mu

[2019-02-18 06:20] tengerye opened #13183 "SystemError: BallTree - returned NULL without setting an error"
It happens for some input. I used NearestNeighbors with negative cosine similarity. It went wrong with method [BallTree.kneighbors(X)](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.NearestNeighbors.html#sklearn.neighbors.NearestNeighbors.kneighbors). The input X in my case is sparse but not zero vector.

My traceback as follows:
[code]
My scikit-learn has the version of 0.20.

[2019-02-18 07:21] jnothman commented on #13183
Please provide a minimal reproducible example of code and ideally data.

[2019-02-18 07:40] FelixNeutatz commented on #9603
@adrinjalali as you recommended, I created a minimal reproducible example: https://github.com/FelixNeutatz/LassoLarsCVBug

[2019-02-18 08:17] juliensiebert commented on #13106
@adrinjalali I ran both the (full) python implementation from LearningX of the linear trees (which to my understanding would be similar to the M5 algotihm by Quinlan 1992) and the R package Cubist (which is a port of the C code from Quinlan's team https://cran.r-project.org/web/packages/Cubist/vignettes/cubist.html, the C code is there https://www.rulequest.com/cubist-info.html).

I used a dataset

[2019-02-18 10:23] adrinjalali commented on #13106
Some [accuracy] performance is what I have in mind to start with. And you can use some datasets from openml, which you can easily fetch using `sklearn.datasets.fetch_openml()`.

Also bare in mind that the C implementation is released under GPL, which means any implementation for sklearn should be independent of that implementation since the licenses are not compatible, i.e. you'd need to implement

[2019-02-18 10:56] ogrisel commented on #11669
[Fisher's exact test](https://en.wikipedia.org/wiki/Fisher%27s_exact_test) is a test of independence for 2 nominal categorical variables. It only requires to compute contingency tables so I don't think it's related to black box resampling method such as #11187.

Implementing Fisher's exact test for SelectKBest should be possible if SelectKBest is used in a classification pipeline. We would need an

[2019-02-18 13:09] thomasjpfan commented on #9485
This is the PR for nightly builds: https://github.com/MacPython/scikit-learn-wheels/pull/17

It builds for Python 3.6 and 3.7 on all platforms.

[2019-02-18 15:06] saltypeanuts commented on #13176
[code]

[code]
12 second run time for 'standard' training of a 'standard' SVM with the 'poly' kernel.

[code]

It's happening within the grid search wrapper before it even hits the first verbose. An invisible process is being called that uses a full core and isn't being shown in task manager and can't be halted by killing the Jupyter kernel / exiting out of Anaconda. To get the usage back down to

[2019-02-18 16:39] log69 opened #13185 "High score with low performance"
Hi Everyone, could you kindly help me decide whether I'm hitting a bug or the problem may be in my implementation?

I have a data set with 5 features and 2000+ observations and I use SVR to do regression tests and select parameters with grid search. If I don't scale my data, then I get a best score of close to zero, but if I do scale it, the best score is around 0.90.

When I manually test the dat

[2019-02-18 19:46] Mark531 commented on #10928
Sure. When you do some sequential tuning, you optimize parameter after parameter. So, you start with a parameters grid with ranges of values to optimize. Once you determined the optimal value for these parameters, you have to fix them into the parameter grid for your next fit() to take them into account. So, a grid should be made of scalars and lists. I haven't looked at the code, but I guess you

[2019-02-18 20:46] agramfort commented on #13182
I would check if you have any install pb.

[2019-02-18 20:48] saltypeanuts commented on #13176
As an update, it runs with SGDClassifier with the following parameters:
[code]

It appears to have the same infinite loop issue with Randomforest , trying to identify where at the moment.

Parameters initiating the loop are:
[code]

[2019-02-18 20:51] jnothman commented on #13176
Can I suggest using verbose=10, not verbose=1? It's very unlikely the loop
is infinite for random forests.

[2019-02-18 20:56] saltypeanuts commented on #13176
Sure, updated it now. I'll let it run for a while.

[2019-02-18 22:00] JakeHunsberger commented on #13182
Hi alex,

I'm not sure what "pb" means.

Jake
________________________________
From: Alexandre Gramfort <notifications@github.com>
Sent: Monday, February 18, 2019 3:47 PM
To: scikit-learn/scikit-learn
Cc: Hunsberger,Jacob; Author
Subject: Re: [scikit-learn/scikit-learn] Ridge/Lasso/PLS Regression totally broken! (#13182)

I would check if you have any install pb.

—
You are receiving this because

[2019-02-18 22:38] rth commented on #13182
It means problem.

It's very likely due to an issue in your installations, see related comments https://github.com/scikit-learn/scikit-learn/issues/11755#issuecomment-410938859 and https://github.com/scikit-learn/scikit-learn/issues/12270

[2019-02-18 22:43] saltypeanuts commented on #13176
Let the RFs run for 2 hours, still didn't end. Terminating the notebook or anaconda doesn't actually kill the processor use.

[2019-02-18 22:55] JakeHunsberger commented on #13182
Okay thanks. Could you give me your helpful list of troubleshooting steps? I'm thinking to just reinstall all of Anaconda now, but it seems overkill.

[2019-02-18 23:48] jnothman commented on #13185
I don't think this is fundamentally a bug, and you need to give more code whether or not it's a bug. You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-02-18 23:48] #13185 closed

[2019-02-19 02:04] tengerye commented on #13183
@jnothman Thank you for your kind reply. My repeat is on the progress and it is difficult since it happens occasionally.

My I ask if the `metric` of [NearestNeighbors](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.NearestNeighbors.html#sklearn.neighbors.NearestNeighbors.kneighbors) has to satisfy the three properties of the distance function?

I used the `-cos` as metric, bu

[2019-02-19 02:46] jnothman commented on #13176
What didn't end? Did you get output? What form is your data in?

[2019-02-19 02:47] jnothman commented on #13183
With the brute algorithm it does not need to satisfy those properties. If
it's using kdtree or ball tree, then it needs to be a true metric.

On Tue, 19 Feb 2019 at 13:04, TengQi Ye <notifications@github.com> wrote:

[2019-02-19 04:53] #10561 closed

[2019-02-19 05:52] jnothman commented on #13182
Have you tried just uninstalling (or downgrading) and reinstalling scikit-learn?

You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-02-19 05:52] #13182 closed

[2019-02-19 08:35] ggangesh commented on #12971
@FangzhengHu , I don't think there is any PR related to it for now.

[2019-02-19 09:22] jeremiedbb commented on #9943
I confirm that with #11950 I can run your script on my laptop without memory error.

[2019-02-19 09:39] tengerye commented on #13183
@jnothman I see, the error must be caused by the distance function. Thank you again.

[2019-02-19 09:39] #13183 closed

[2019-02-19 09:46] #11451 closed

[2019-02-19 10:52] rok opened #13187 "Missing multi-output checks in common tests"
#### Description
Some classifiers and regressors support multi-output, however we do not have a common test for that. We should add it. See discussion in #11458.

We should also remember to remove redundant individual tests introduced by 95993a4b2b7d067d8d7fff91ccb2463dbd427e7c.

#### Example of code for individual test
[code]
#### Expected Results
No error is thrown for these checks. Some regress

[2019-02-19 12:34] rth commented on #13187
Thanks for raising this issue!

It might be worth waiting for https://github.com/scikit-learn/scikit-learn/pull/8022 to be merged (probably next week) before adding these tests.

[2019-02-19 12:38] rth commented on #12971
Agreed. I haven't seen a PR for it, so if someone want to take it, just say it a comment.

[2019-02-19 13:00] rth opened #13188 "DOC Contribution workflow for stalled and unclaimed issues / PRs"
It might be useful to document how contributors can work on issues that are either labeled  "help wanted" and unassigned, assigned to someone but stalled, and in general stalled PRs.

For instance, we often have "help wanted" issues where people ask if they [can work on them](https://github.com/scikit-learn/scikit-learn/search?p=2&q=%22can+I+work%22&type=Issues&unscoped_q=%22can+I+work%22), often

[2019-02-19 13:32] albertcthomas commented on #13188
There was a recent PR about this (not sure if it addressed all your points) #12894

[2019-02-19 13:43] saltypeanuts commented on #13176
The RandomForest grid search did not end after about 2 hours of run time. A single random forest clocked in with a run time of about 5 seconds, so for 480 fits that should've been ~40 minutes of run time.

When running the GridSearch with njobs = 1, a process is spawned that takes 12-12.5% of my CPU usage (exactly one core running at / near maximum capacity). This process does not show up in task

[2019-02-19 13:55] saltypeanuts commented on #13176
Data is all numpy.ndarray

[2019-02-19 14:05] rth commented on #13188
Yes, thanks -- I remember that PR now. A similar approach could be adapted to issues as well.

[2019-02-19 15:23] amueller opened #13190 "nitpick: generate_authors_table.py doesn't allow 2FA"
Not sure if there's an easy way around that but generate_authors_table.py doesn't allow using 2FA and the error is pretty cryptic. I guess using an OAuth token would be better than name+password?
That's also a bit of a hassle, though.
I'm not sure what the "try/except" at the top is supposed to accomplish, how can input and getpasswd throw an IndexError?

[2019-02-19 16:38] LakshKD commented on #13159
@chkoar I have tried removing _pprint() from base.py but since it is getting referenced in sklearn/model_selection/_split.py, I have tried changing the reference to utils._pprint.py file but you are right there is no function _pprint in that file. So should we drop this idea of removing this _pprint function in base.py or should we move this _pprint function to utils._pprint.py file @jnothman and

[2019-02-19 17:05] samronsin opened #13192 "partial_dependence ignores sample weights"
#### Description
When training a GBT with sample weights, the partial dependence plot completely ignores the sample weights.

#### Steps/Code to Reproduce
Create a dataset with two subpopulations, one subpopulation where `y = X[:,1]` and the other where `y = -X[:,1]` so that without sample weights, the partial dependences cancel out.
Add a large sample weight to the first subpopulation compared to

[2019-02-19 20:58] jnothman commented on #13176
It would really be much more helpful if you could give us complete, runnable code and data that results in the error, as well as the output of show_versions() which was requested when you submitted the issue. Otherwise it is very hard to attempt to reproduce.

[2019-02-19 21:17] adrinjalali commented on #13188
Another point is that we could also remove the "help wanted" tag whenever somebody offers their help, and put the tag back if they don't. Some of this process can even be automated. I played around github's graphql and it doesn't seem too hard to implement.

This also makes it much easier for people to find issues to work on.

[2019-02-19 21:27] SandroCasagrande opened #13194 "KBinsDiscretizer: quantile strategy fails due to unsorted bin_edges"
#### Description
`KBinsDiscretizer` with `strategy='quantile` fails in certain situations with an exception. It happens when  multiple percentiles returned from numpy are expected to be identical but show numerical instability and render bin_edges non-monotonic, which is fatal for np.digitize. This is probably related to https://github.com/numpy/numpy/issues/10373

#### Steps/Code to Reproduce
[co

[2019-02-19 21:29] rth commented on #13188
Something like https://conda-forge.org/docs/webservice.html but using github infrastructure? Sounds be interesting. Also see related discussion in https://github.com/scikit-learn/scikit-learn/issues/10446

[2019-02-19 21:36] AndriyMulyar commented on #6988
I have wrapped the original OC1 implementation with a scikit-learn API. Find it here:
https://github.com/AndriyMulyar/sklearn-oblique-tree

[2019-02-19 21:36] jnothman commented on #13194
So do we remove bins that are indistinguishable within a tolerance? Or do we sort the bin edges?

Could a similar issue affect QuantileTransformer too?

[2019-02-19 21:41] jnothman commented on #13190
I thought I managed to run it once with a personal access token instead of
a password?

[2019-02-19 21:48] jnothman commented on #13192
Please see #12599 where partial_dependence is being deprecated. Does this issue apply there?

[2019-02-19 22:05] SandroCasagrande commented on #13194
This could be an option if #12774 will be solved by removing empty bins in every case. I'm not sure if this should be optional behaviour or not. I stumbled upon some strange edge cases when trying to do that similar to #13165, but better discuss it there.

I've tested this on QuantileTransformer with the toy data from above. Resulting quantiles_ are indeed monotonic with  n_quantiles=11, but the t

[2019-02-19 22:07] rth commented on #13190
I have not tried it but I would assume `user: <your username> password: <generate a new personal token>` cf https://help.github.com/articles/creating-a-personal-access-token-for-the-command-line/ would work.

[2019-02-19 23:20] rok commented on #13187
Thanks for the heads up @rth!
I looked into it already, so I'll just open a PR anyway and wait for #8022.

[2019-02-20 02:22] saltypeanuts commented on #13176
import numpy as np
from sklearn import svm
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_curve, precision_recall_curve, auc, make_scorer, recall_score, accuracy_score, precision_score, confusion_matrix

x_train = np.random.rand(15000,100)
y_train = np.random.choice([0,1], size = (15000,1))
x_test = np.random.ran

[2019-02-20 02:22] saltypeanuts commented on #13176
The scikit-learn version is 0.19.1.

[2019-02-20 03:00] qinhanmin2014 commented on #13194
I've updated #13165 to solve the issue, but honestly I think this is a bug in numpy and it's not the duty of scikit-learn to solve it.

[2019-02-20 07:39] #13119 closed

[2019-02-20 08:57] agramfort commented on #9603
I tried with current master and I get warnings but no crash:

[code]

[2019-02-20 09:38] mathijs81 opened #13199 "Using ColumnTransformer with FeatureHasher(string) hashes characters instead of strings"
#### Description
Using ColumnTransformer with FeatureHasher(string) hashes characters instead of strings

#### Steps/Code to Reproduce
I was puzzled by a huge performance decrease of a model by using FeatureHasher(input_type='string') on some of the features, even when n_features was higher than the number of unique strings in my features.
Digging into it, I found that FeatureHasher was hashing th

[2019-02-20 10:44] jnothman commented on #13199
The FeatureHasher expects a list of list of strings. You pass it a list of strings. I don't think the format is explained very well under input_type, but it is illustrated in the  https://scikit-learn.org/stable/modules/feature_extraction.html#feature-hashing.

A PR clarifying the doc is welcome, but this has nothing to do with ColumnTransformer.

[2019-02-20 11:18] jorisvandenbossche commented on #13199
So to solve it in combination with the ColumnTransformer, I think you need to specify the column as `['x']` instead of `'x'` (but didn't check in detail)

[2019-02-20 11:20] jnothman commented on #13199
Or use HashingVectorizer which tokenizes the input

[2019-02-20 11:36] coderop2 commented on #3846
Sry for the late reply...As soon as my college exams are over i will start compiling a new list while keeping the old list in mind....i hope that will be enough to act as a reference for everyone

[2019-02-20 12:25] jorisvandenbossche commented on #12502
The PR to add a `drop` keyword to OneHotEncoder (https://github.com/scikit-learn/scikit-learn/pull/12908) is making good progress and is almost ready to be merged.

How do we see this issue in relation to the `drop` keyword?
Does it solve it? Or do we still want to have a way to only drop one feature in the binary case? (eg we could add a `drop='if_binary'` in addition to `drop='first'`)
Or do we

[2019-02-20 12:27] jorisvandenbossche commented on #12502
cc @drewmjohnston @NicolasHug @jnothman

[2019-02-20 12:44] jnothman commented on #12502
I'd be happy to add drop='binary' and eventually change the default. But
I'm okay with having drop='first' merged as a first go.

[2019-02-20 12:45] jorisvandenbossche commented on #12502
Yes, sure, it doesn't need to be added to the open PR (but it would be good if a way forward for this issue is compatible with what we are doing there)

[2019-02-20 12:51] NicolasHug commented on #12502
+1

[2019-02-20 13:24] mathijs81 commented on #13199
I agree with @jorisvandenbossche that ['x'] would make much more sense. However, this doesn't work, then the ColumnTransformer / FeatureHasher combination just returns a single row instead of a row per row in the input dataset.

Maybe the problem lies in that FeatureHasher (and HashingVectorizer) are very text-focused, and I'm basically just looking for a transformer that takes an existing feature

[2019-02-20 13:30] OrwellQuay commented on #9414
@UT1 Surprised that you did not get error for accuracy_score. Just wanted to check that yours is not a case where your original targets are categorical and you have encoded them using OHE and hence your revised targets are actually multilabel (but not multiclass). Thanks.

[2019-02-20 13:55] obarak opened #13201 "Add `n_outputs_` param to MultiOutputRegressor and MultiOutputClassifier"
#### Description
Estimators supporting Multioutput out of the box (e.g. `DecisionTreeClassifier`) have an `n_outputs_` parameter (which is 1 when used in the classic, single-output mode).
I've tried replacing such inherently Multioutput classifier with a single-output classifier wrapped with `MultiOutputClassifier` wrapper, and my flow failed due to lack of `n_outputs_` in the wrapper.
Should be p

[2019-02-20 14:39] #12774 closed

[2019-02-20 14:39] #13194 closed

[2019-02-20 15:09] lobpcg opened #13202 "import errors from sklearn\preprocessing\data.py"
#### Description
Running
scikit-learn\examples\cluster\plot_coin_segmentation.py
from  the current master results in errors in
scikit-learn\sklearn\preprocessing\data.py

The first error:

Exception has occurred: ModuleNotFoundError
No module named 'sklearn.preprocessing._csr_polynomial_expansion'
  File "C:\Users\Name\Documents\scikit-learn\sklearn\preprocessing\data.py", line 33, in <module>

[2019-02-20 16:17] amueller commented on #10063
Student just came to me with this behavior being very confused. It looks like the estimators that are stored don't correspond to the same split, which is weird.

I'll have a minimum example soon.

I think cloning here would be the right thing to do, and I would call it a bug fix.
The only way a user could have used it here is using a meta-estimator with a prefit estimator, right?
I guess this woul

[2019-02-20 16:18] amueller commented on #10063
Though on the other hand, this is part of the freezing discussion. If we can freeze, we can clone in the pipeline and then all is good...

[2019-02-20 16:24] amueller commented on #12986
tasked @thomasjpfan to follow up on this to possibly have this for next week. @mickeygousset did you start working on this?

[2019-02-20 17:07] sergeyf commented on #9591
I think we can close this issue now that ItervativeImputer is merged, right @jnothman?

[2019-02-20 18:44] arnonbruno commented on #9960
Guys,
Would you please be able to explain how this split happens with an example?
I'm not sure I understood how categorical variables are handled.

Ty

[2019-02-20 20:05] jnothman commented on #13199
You're right. FeatureHasher should probably reject the samples being
strings. We can deprecate that. PR welcome.

[2019-02-20 20:13] jnothman commented on #13201
n_outputs_ should be, I think, redundant with respect to classes_ in the
classifier case. Can you use that? (Are we consistent with it?)

[2019-02-20 20:40] mickeygousset commented on #12986
No I have not started this yet. I'm happy to help answer questions for @thomasjpfan as needed though if he needs it.

[2019-02-20 20:43] jnothman commented on #13202
Have you built the package, e.g. with `make in`?

[2019-02-20 20:46] jnothman commented on #9591
Yes, thanks! Covered by IterativeImputer

[2019-02-20 21:00] lobpcg commented on #13202
Great question, thanks! No, I did not even realize that it required any extra actions other than pulling the source from the master, which I did. In my original setup, I have installed sklearn dev version, which has done all necessary building automatically, I suppose.

Is there any info on how to get sklearn rebuilt after pulling the updated master code into the already existing installation?

[2019-02-20 22:45] #13202 closed

[2019-02-21 00:11] akshatshreemali opened #13205 "AUC Score different from that in R"
I ran a logistic regression model and computer the auc using roc_auc_score(sklearn).
i got it as 0.54
However, when I try to visualize my actuals with the probability numbers of the positive class, it appeared to be more than that.
Upon investigating further, I tried to run just the output numbers through R and calculated the auc using pROC library.
There I got an AUC of 0.66, which is a huge diff

[2019-02-21 01:54] jnothman commented on #13205
Surely you can share your y_test and probabilities to make this reproducible?

[2019-02-21 02:12] jnothman commented on #13202
See
https://scikit-learn.org/dev/developers/advanced_installation.html#building-from-source

[2019-02-21 03:11] lobpcg commented on #13202
@jnothman - thanks! I did not realize that I needed to rebuilt it after every change.

[2019-02-21 03:18] jnothman commented on #13202
You don't need to rebuild after every change, only those that affect
compiled modules (.c, .pyx, .pxd, etc) but you also need to compile the
first time and then subsequent builds will be incremental.

[2019-02-21 04:32] rfernandezv commented on #12413
I also have this problem using:
Python 3.7.1
scikit-learn 0.20.1

but `n_jobs=1` helps

[2019-02-21 07:20] pahome opened #13207 "Random forest regressor failed due to memory error"
My scikit-learn version is `0.20.2`

My datasets are below:
[code]

I only init model as:
`model = RandomForestRegressor(n_estimators=100, n_jobs=1).fit(X, y)`

My ram is 4GB and also swap-space.
But it consume my all ram and swap-space then raise MemoryError exception below:

[code]

[2019-02-21 07:23] jnothman commented on #13207
Limit the depth of the trees or the number of samples needed at each node

[2019-02-21 07:23] #13207 closed

[2019-02-21 08:58] samronsin commented on #13192
Thanks, I had not caught up with this PR. Indeed, with the `"recursive"` method, the same underlying `_partial_dependence_tree ` function from `ensemble._gradient_boosting.pyx` is called, so the issue remains.

[2019-02-21 09:17] ggangesh commented on #12971
@jnothman

- Can't there be more than one capturing group, to give more flexibility to users using regex?

It come downs if we want to consider capturing group as a single token or just use  entire match as a token. In First, allows multiple tokens from single match and add it to the token list.In second,  as it is.

[2019-02-21 09:42] albertcthomas commented on #12413
Could you please open a new issue with a reproducible example? The error seems to concern only Windows and custom estimators implemented using Keras whereas the original issue was concerning any platform and any custom estimator

[2019-02-21 10:51] jeremiedbb opened #13208 "Test really slow only for 1 travis job"
The test `test_pairwise_distances_data_derived_params` from `metrics.pairwise` is really really slow (25s instead of a few 100ms).

[code]

The tricky thing is that:

- it's only on the `distrib=ubuntu` job.
- it affects `pairwise_distances_chunked` but not `pairwise_distances`
- it's slow only for `n_jobs > 1`

[2019-02-21 11:18] jeremiedbb opened #13210 "PERF: use higher level BLAS functions"
Now that we have access to BLAS functions cython bindings from scipy, we have access to level 3 functions which weren't present in vendored CBLAS. It would be interesting to check if they could be used in some places instead of a loop of lower level functions.

For example, in `cd_fast` I saw that:

[code]

loop of `dot` (level 1) which could be replaced by a `gemv` (level 2)

[2019-02-21 12:29] rth opened #13211 "API Inconsitency of predict and predict_proba in SVC / SVR"
When using `SVC(probability=True)` or `SVR(probability=True)` the output of `predict_proba` will not necessarily be consistent with `predict`, in the sense that,
[code]
this is documented [in the user guide](https://scikit-learn.org/stable/modules/svm.html#scores-and-probabilities),

IMO this is a violation of the API contract and should be fixed.

This is being continuously reported as a bug e.g.

[2019-02-21 12:32] rth commented on #12408
This is a bug IMO. Continued discussion in #13211

[2019-02-21 12:45] adrinjalali commented on #13211
AFAIK this only happens when the data is not scaled. We could raise a warning if the user passes unscaled data. Do you have an example where it happens with scaled data?

[2019-02-21 12:52] rth commented on #13211
This was observed on the L2 normalized TF-IDF data which was scaled.

I don't have a reproducible example (at least not one I can share). I can try to reproduce this later but the number of issues about it and the fact that the docs say that `predict` and `predict_proba` can be inconsistent in general is a strong indicator.

[2019-02-21 13:36] jeremiedbb opened #13213 "PERF: Replace range by prange when applicable"
We have recently enabled OpenMP support in sklearn, so let's use it !

It would be worth to check if there are place in sklearn cython code where we can use a prange loop instead of a range loop for instance.

[2019-02-21 13:38] rth commented on #13211
Here is a minimal example,
[code]
which returns,
[code]

Not that using SVC in this use case is good but that's another story (https://github.com/scikit-learn/scikit-learn/pull/13209)...

[2019-02-21 13:41] agramfort commented on #13211
this is a fundamental issue with libsvm. If we change this, eg by doing
predict == argmax(predict_proba) when probabilites=True it means predict
will return different results if probabilites is True or False. SVM with
proba involves data resampling and calibration. It's solving many svm
problems to do the job. It's also who it's slower to fit with
probabilites=True

[2019-02-21 13:47] rth commented on #13211
@agramfort I agree. WDYT about deprecating (but not removing) `probabilites=True` and suggesting to use `CalibratedClassifierCV` explicitly instead? (cf issue description for more details).

[2019-02-21 13:55] agramfort commented on #13211
it will be (much?) slower I fear and I am not sure it will give the exact
same results.

[2019-02-21 14:10] rth commented on #13213
Do we have a way to avoid thread over-subscription with BLAS and joblib while doing this?

[2019-02-21 14:19] jeremiedbb commented on #13213
Absolutely ! not on master however :/
Currently I put it in #11950 for now because there was no use elsewhere yet. But I can make a separate PR for that.

It's adapted from some code of loky. Essentially loop over dynamically shared libs to check which blas / openmp is loaded and then use the appropriate method to dynamically set the max number of threads they are allowed to use.

[2019-02-21 14:35] rth commented on #13213
Nice! Yes, maybe splitting it out of #11950 would make review of that one easier as well.

[2019-02-21 14:55] akshatshreemali commented on #13205
Hi ,
Thanks for your reply.
I am attaching the data containing only the actuals, predictions and predicted probabilities columns (containing 0 and 1)
Also please find the code which I am running on Sklearn.
Approach 1:
print(roc_auc_score(b['Attendance_Flag'],b['predictions']))

Approach 2:
fpr, tpr,_= roc_curve(b['predictions'], b['probability_1'],pos_label=1)
auc(fpr,tpr)

Both are getting me an

[2019-02-21 16:32] amueller commented on #13205
Thanks for providing those.
What do you mean by "However, when I try to visualize my actuals with the probability numbers of the positive class, it appeared to be more than that."?

[2019-02-21 16:35] amueller commented on #13205
What's the code you're using in R? There might be some difference in interpolation.

[2019-02-21 16:38] akshatshreemali commented on #13205
I created a simple graph in excel plotting the probabilities of 1's with my avg(actuals) value.
The graph is a clustered column chart.
Ideally if the AUC is 0.54, the graph should look pretty much constant with some highs, but it looked more than that which made me curious about the auc value.
Thus i tried the same in r and got a complete different result.

[2019-02-21 16:40] akshatshreemali commented on #13205
the R code is:
library(pROC)
roc_obj <- roc(b$actuals, b$prediction)
auc(roc_obj)
# even tried with
roc_obj <- roc(b$probabilities_1, b$actuals)
auc(roc_obj)

[2019-02-21 16:45] amueller commented on #12741
I think we can make this a bugfix as this was clearly an error.

[2019-02-21 17:07] EmreAtes opened #13215 "Joblib objects from python 3.6 not loadable in 3.7"
#### Description
KeyError when loading Random Forest generated by python 3.6 from python 3.7. I opened #13191 for it but then learned that it's not the expected behavior.

#### Steps/Code to Reproduce

Run store.py in python3.6, and load.py in python3.7:

store.py:
[code]

load.py:
[code]

#### Expected Results
The results are the same for loading/storing using only python3.6 or only python3.7:
[c

[2019-02-21 17:08] EmreAtes commented on #13215
@NicolasHug @jnothman

[2019-02-21 17:32] pchris24 commented on #13055
@Abonia1 I am having the same error, I updated to scikit 0.21 and its still there.  What scikit version do you use?
ValueError: Number of classes, 1, does not match size of target_names, 2. Try specifying the labels parameter

I printed the number of classes in my code and it's 2.

[2019-02-21 18:44] #11638 closed

[2019-02-21 20:00] #12986 closed

[2019-02-21 21:00] rth commented on #13210
Good idea!

@jakirkham might be interested as well.

[2019-02-21 21:51] NicolasHug commented on #13215
It works on my machine (even with different versions of sklearn)

Are you really certain about your environments?

Also you might want to use the actual joblib instead of the one vendered by sklearn.

[2019-02-21 21:58] EmreAtes commented on #13215
The version info in the post came from the actual output of the scripts.

Using joblib version 0.13.2 to store (not `sklearn.externals.joblib`) resolved the issue (loading with 0.11 works). I think the resolution would be to bump the version for joblib in sklearn.externals.

[2019-02-22 00:51] NicolasHug commented on #13215
The vendored joblib will eventually disappear (https://github.com/scikit-learn/scikit-learn/issues/12447).

Unfortunately you're another victim of it being public while it should probably have been private to begin with (https://github.com/scikit-learn/scikit-learn/issues/11182)

[2019-02-22 01:09] jnothman commented on #13213
Does the user need a global way to control how many processors are available beyond explicit use of n_jobs?

[2019-02-22 03:11] jakirkham commented on #13210
So funny story. We had PR ( https://github.com/scikit-learn/scikit-learn/pull/11507 ), which does exactly as you suggest for this `cd_fast` case previously. However with the old vendored ATLAS reference BLAS it failed. Since you have nicely reworked scikit-learn to use SciPy's Cython BLAS, it now passes! 🎉 Thanks for reworking scikit-learn to use the Cython BLAS. 😄

[2019-02-22 05:43] rfernandezv commented on #12413
My problem is the same example explained in previous comments. My lines of code are:

 `import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

dataset = pd.read_csv('example.csv')
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X

[2019-02-22 08:53] soumyawizard commented on #8333
Expected array-like (array or non-string sequence), got None

That error i am getting when executing dt_grid_estimator.score(X_train). Kindly let us help where is the gap.

[2019-02-22 09:07] vivekk-ezdi commented on #8333
@soumyawizard
Please always provide a reproducible example when reporting an error. What kind of estimator is it? For classifiers, `score()` requires two values, `X` and `y` which you are not supplying.

Anyways for general usage related tasks, please first submit it on Stack-Overflow instead:
- StackOverflow with the scikit-learn tag: https://stackoverflow.com/questions/tagged/scikit-learn

[2019-02-22 09:52] Abonia1 commented on #13055
@pchris24 I have finally bypassed this error via giving more documents for each class existing in my dataset so what about your datset and how many doc you provide for each classes?

*I strongly Believe cause of this error was problem in split because of insufficient data  in split for all given classes

[2019-02-22 09:59] jeremiedbb commented on #13213
I'm not sure to understand. Here's my thought.

When inside code parallelized using joblib, there's no need to add a second level of parallelism with prange. At least for now, while cython only supports OpenMP. Maybe when cython supports TBB it could be worth.

Inside code not parallelized, there may be some places where we could use a prange. However, there might be some BLAS calls inside these l

[2019-02-22 10:08] albertcthomas commented on #12413
Thanks for the details @rfernandezv. What I meant is that the original issue, described in the top [comment](https://github.com/scikit-learn/scikit-learn/issues/12413#issue-371601680) is not the same as the one you describe, although similar. The original issue was solved and closed. It would be better to open a new issue with your error (related to Windows, Keras and joblib).

[2019-02-22 11:42] MateuszKonopelski opened #13222 "RandomForestClassifier: setting class_weight parameter- help needed"
Hi,

I've got very imbalanced set:
Class 0: 120,0549
Class 1: 1,005

For purpose od parapmeter tuning I'm using imbalanced learn library and techniques like: SMOTE and NearMiss to resample this set to be:

Class 0: 8,000
Class 1: 2,000

The algorithm I chose was Random Forrest (which I optimize using GridSearchCV). How should I build dictionary for class_weight parameter so I will put emphasize th

[2019-02-22 11:48] adrinjalali commented on #13222
The issue tracker is to report issues about the library and not usage questions. Please refer to places such as StackOverflow for usage questions.

https://imbalanced-learn.org/en/stable/ may also be helpful for you.

[2019-02-22 11:48] #13222 closed

[2019-02-22 12:38] brechmos-stsci opened #13223 "GridSearchCV `mean_test_score` results 0 after what appears to be a successful run"
#### Description

The `mean_test_score` is 0 after what appears to be a successful run of GridSearchCV with a high accuracy being output for each epoch.

#### Steps/Code to Reproduce

Below is a bit of a toy problem with very low accuracy but still shows the issue:

[code]

#### Expected Results

Based on the output in the section below, I would have expected the `mean_test_score`, `std_test_score

[2019-02-22 13:38] wdevazelhes opened #13224 "fbeta_score does not accept beta=0"
`fbeta_score` does not accept `beta=0`. In this case I agree that we could use `precision_score` which is the same, but is there a reason why this `fbeta_score(... beta=0)` would be forbidden ? If not I'd be happy to provide a PR. These are the lines that I would delete (plus I would provide a test):

https://github.com/scikit-learn/scikit-learn/blob/7389dbac82d362f296dc2746f10e43ffa1615660/sklear

[2019-02-22 14:06] qinhanmin2014 commented on #13224
Seems reasonable from my side.

[2019-02-22 14:23] PalGiupo opened #13225 "MinMaxScaling cuts the exponent"
#### Description
When I run MinMax, It cuts the exponent, so I can not convert.

#### Steps/Code to Reproduce
[code]
When I use Min Max I have a Warning, but i think it's irrilevant:

Thi is the Output of dataset_scaled:
[code]
The error happens when i try to convert to float:
`dataset_scaled.astype(np.float)`

### Error message:

(it is the thirteenth row)

### Workaround that works:
[code]
The l

[2019-02-22 15:35] EmreAtes commented on #13215
Okay, I didn't read the RFC completely, but I can change #13191 to remove `sklearn.externals.joblib` and change the recommended serialization method to just installing joblib and using that.

If it's too early for that, feel free to close this issue and the pull request.

[2019-02-22 15:48] thomasjpfan commented on #13213
By default, joblib's `'loky'` backend forces workers to use only one thread: https://joblib.readthedocs.io/en/latest/parallel.html#avoiding-over-subscription-of-cpu-ressources

[2019-02-22 15:53] pchris24 commented on #13055
@Abonia1 700-800 samples in each class. I will check my splitting and write back.

[2019-02-22 15:56] pchris24 commented on #13055
75% of data for training, 25% of data for testing.

[2019-02-22 16:12] NicolasHug commented on #13215
But the user guide doesn't use `internals.joblib` right?

[2019-02-22 16:15] EmreAtes commented on #13215
I had this problem using `externals.joblib`, which is what the user guide is using.

[2019-02-22 17:05] ogrisel commented on #13173
Looks interesting. Could you please open a pull request and join some benchmark results in the description / discussion?

[2019-02-22 17:24] amueller commented on #12986
Just FYI they just gave us 30 concurrent builds:
https://dev.azure.com/the-real-scikit-learn/scikit-learn/_settings/buildqueue?_a=concurrentJobs

[2019-02-22 17:27] NicolasHug commented on #13215
I can't check again but there's not mention of externals in the user guide about persistence right?
If there is it should definitely be removed

[2019-02-22 17:38] amueller commented on #13225
This has nothing todo with MinMaxScaler.
You're trying to store floats in a numpy array of dtype ``dtype='<U18'`` which is going to fail.
The issue is trying to assign a float that you created with MinMaxScaler back to this  array.

This wouldn't happen if you used dtype object for the array, but generally you shouldn't be storing floats as strings anyway.

[2019-02-22 17:38] #13225 closed

[2019-02-22 17:39] EmreAtes commented on #13215
#12345 fixed the documentation. I was just coding based on what I remember from the documentations.

[2019-02-22 17:39] #13215 closed

[2019-02-22 18:22] zafartahirov commented on #12504
Same error (with the same call) resurfaced. Version: 0.20.2

[2019-02-22 18:55] DrEhrfurchtgebietend commented on #9947
https://github.com/scikit-learn-contrib/imbalanced-learn/pull/437

[2019-02-22 19:03] rfernandezv opened #13228 "cross_val_score issue with n_jobs = -1 on Windows"
#### Description
The error is thrown when utilizing `n_jobs = -1` with the function: cross_val_score. If I use `n_jobs = 1`, it works fine.

#### Steps/Code to Reproduce
[code]
#### Expected Results
Expect my example to run multiple epochs at a time.

#### Actual Results
Error:
[code]
I think the problem is related to Windows, Keras and joblib

#### Versions
I'm using:

- 64-bit Windows 10
- Pytho

[2019-02-22 19:04] rfernandezv commented on #12413
Thanks @albertcthomas. I opened a new issue  #13228

[2019-02-22 19:17] FelixNeutatz commented on #9603
@agramfort you are right. The provided example only fails for version 0.20.2. Therefore, I provide a new example that makes scikit fail for the commit https://github.com/scikit-learn/scikit-learn/tree/09bc27630fb8feea2f10627dce25e93cd6ff258a

Again, you find it here: https://github.com/FelixNeutatz/LassoLarsCVBug

Looking forward to your feedback

[2019-02-22 19:33] janvanrijn commented on #12504
Seems to be the same issue as this

https://github.com/openml/OpenML/issues/932

[2019-02-22 19:42] janvanrijn commented on #12504
I applied a hotfix.

[2019-02-22 20:09] #9485 closed

[2019-02-22 22:56] joaquinvanschoren commented on #12504
Found the bug and fixed it.

[2019-02-22 23:48] chkoar commented on #1650
@jnothman @amueller I think that this issue have been addressed by #8640. So, it should be closed.

[2019-02-22 23:54] dfilan commented on #6489
I am getting a similar problem in version 0.20.2.

This is the problematic code:
[code]

Both the lobpcg and amg solvers cause errors. With amg, the error is ```numpy.linalg.LinAlgError: 2-th leading minor of the array is not positive definite```, while with lobpcg, the error is ```numpy.linalg.LinAlgError: the leading minor of order 9 of 'b' is not positive definite. The factorization of 'b' coul

[2019-02-23 00:18] chkoar commented on #5447
@jnothman @amueller @glemaitre it seems that this issue handled in PR #5357

[2019-02-23 00:24] chkoar commented on #5583
@GaelVaroquaux @amueller it seems that this issue has been addressed in #5945

[2019-02-23 00:39] ggangesh commented on #12971
I am working on this

[2019-02-23 00:40] ggangesh commented on #12971
deprecate should have to be done?

[2019-02-23 01:59] lobpcg commented on #6489
@dfilan  Thanks for reporting!

AMG is also LOBPCG, just with an extra option, so the name AMG is somewhat misleading, indeed...

lobpcg went through multiple fixes https://github.com/scipy/scipy/pull/9650 in the current scipy master and to appear in [1.3.0](/scipy/scipy/milestone/37) milestone.

Could you please give it a try and report if this solves your problem?

[2019-02-23 02:08] lobpcg commented on #6489
May be committing https://github.com/scikit-learn/scikit-learn/pull/11968 should also independently solve this problem so the issue could be closed?

[2019-02-23 03:10] pavopax commented on #12502
I've been curious if anyone has an understanding of the theory and/or established practice behind dropping one of the K levels to make K-1 columns, versus keeping all of them. I include my brief understanding below.

### In our tools
It seems that `sklearn.OneHotEncoder` has, for a long time, kept all K levels and it seems that the community has been fine with it. I believe `DictVectorizer` also k

[2019-02-23 03:19] pavopax commented on #12147
Just to add, one key challenge when returning an array is mapping feature importances back to the original column names when you've applied OneHotEncoder.

It would be a big step forward to replace the prefixes `x0)`, `x1_`, etc with the proper column names.

See https://stackoverflow.com/q/54570947/3217870

[2019-02-23 09:22] FelixNeutatz commented on #9603
I did some debugging and the bug goes away if I change
https://github.com/scikit-learn/scikit-learn/blob/2480368856bdf09d99e96029b867e6e8b4a55920/sklearn/linear_model/least_angle.py#L363
to `if True:`

So, my guess is that something is wrong with the optimzation: https://github.com/scikit-learn/scikit-learn/blob/2480368856bdf09d99e96029b867e6e8b4a55920/sklearn/linear_model/least_angle.py#L373

[2019-02-23 09:59] rth commented on #12971
As mentioned by Joel, generally, we don't want to support capturing groups. We need to document the current behavior then deprecate support for capturing groups.

Again we don't want to support such (new) use case.

[2019-02-23 14:47] corona10 commented on #13224
@qinhanmin2014 Can I take a look this issue?

[2019-02-23 14:51] qinhanmin2014 commented on #13224
Welcome to contribute.

[2019-02-23 20:26] drewmjohnston commented on #12502
@pavopax there are a couple of other threads in which people discuss some useful information about this--dropping a value seems to matter most in regression (both unregularized and regularized). In the second case, it effects the value of the coefficients, which is important for interpretation. In the second case, this can even effect which columns drop out, which can lead to different solutions.

[2019-02-23 21:14] #12972 closed

[2019-02-23 21:19] jnothman commented on #13223
You haven't given me a clear sense that there is a bug in the scikit-learn library here. What do you think scikit-learn is doing wrong?
The issue tracker is for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-02-23 21:50] heckeop opened #13232 "partial_fit does not account for unobserved target values when fitting priors to data"
My understanding is that priors should be fitted to the data using observed target frequencies **and a variant of [Laplace smoothing](https://en.wikipedia.org/wiki/Additive_smoothing) to avoid assigning 0 probability to targets  not yet observed.**

It seems the implementation of `partial_fit` does not account for unobserved targets at the time of the first training batch when computing priors.

[

[2019-02-23 21:51] brechmos-stsci commented on #13223
I was not expecting to see "0.000" for the output of `grid_result.best_score_` and `cv_results_['mean_test_score']`.  Given each fit of the model given a set of hyper parameters resulted in a reasonable accuracy, I was expecting non-zero values here. If they are supposed to be non-zero, then it would seem like a bug, no?  Maybe my expectations are incorrect.

[code]

[2019-02-23 21:53] chkoar commented on #11912
This issue was fixed in #12200

[2019-02-23 21:54] #6599 closed

[2019-02-23 23:19] jnothman commented on #13223
The score we report comes straight from KerasClassifier.score if no scoring parameter is provided to GridSearchCV

[2019-02-24 00:31] jnothman commented on #13228
Put build_classifier in a separate module and import it

[2019-02-24 00:31] #13228 closed

[2019-02-24 00:32] #7737 closed

[2019-02-24 00:32] #6554 closed

[2019-02-24 07:26] #1650 closed

[2019-02-24 07:27] #5447 closed

[2019-02-24 07:28] #5583 closed

[2019-02-24 07:34] #12741 closed

[2019-02-24 07:52] rth commented on #6715
@qinhanmin2014 I don't think this is fully solved.

Estimator tags do help, but I'm not sure they fully resolve this. https://github.com/scikit-learn/scikit-learn/issues/11622 could also be relevant.

[2019-02-24 08:14] qinhanmin2014 commented on #6715
I'm following amueller, he said ``Fixes #6599, #7737, #6554, #6715`` in the estimator tag PR. Reopen if you disagree. (Honestly I don't have a deep understanding of these issues/PRs)

[2019-02-24 16:45] jnothman commented on #6715
We should probably reopen this with the intention to split off key
remaining issues

[2019-02-24 16:49] #12806 closed

[2019-02-25 05:23] hhu-luqi opened #13236 "DecisionTreeClassifier is classified incorrectly in sklearn: 0.21.dev0."
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2019-02-25 05:27] hhu-luqi opened #13237 "DecisionTreeClassifier is classified incorrectly in sklearn: 0.21.dev0."
#### Description
I have found DecisionTreeClassifier was classified incorrectly in sklearn: 0.21.dev0 just now. If only input data has two classification, the DecisionTreeClassifier must predict 0 label. How is this going? I haven't done any change in source code. Even if I test the official use case of sklearn, this is the case.

#### Steps/Code to Reproduce
python

#### Expected Results
It shoul

[2019-02-25 05:27] #13236 closed

[2019-02-25 06:57] #13070 closed

[2019-02-25 07:16] #13237 closed

[2019-02-25 07:46] rth commented on #6715
Things that remain IMO are,
 - check if there are still some scikit-learn estimators that do not pass `check_estimator` (cf https://github.com/scikit-learn/scikit-learn/issues/6715#issuecomment-249419700) and if is the case adjust their tags accordingly.
 - some feedback from scikit-learn contrib on using estimator tags would be useful cc @glemaitre
 - in my opinion, a binary outcome from `check_e

[2019-02-25 07:52] rth commented on #13152
This is now also failing on master it appears..

[2019-02-25 07:55] rth commented on #13152
The error in Azure pipelines is https://dev.azure.com/the-real-scikit-learn/scikit-learn/_build/results?buildId=58
[code]
so it does appear to be deterministic

[2019-02-25 08:11] christian-steinmeyer commented on #13228
May I ask how this fixes the issue and is this intended behavior?

[2019-02-25 09:00] agramfort commented on #9603
running

python minimal_reproducible_example_0_21_dev0.py
python minimal_reproducible_example_0_20_2.py

on current master does not crash for me. I tested with:

Python:        3.6.7 |Anaconda, Inc.
numpy:         1.15.4 {blas=openblas, lapack=openblas}

[2019-02-25 09:30] albertcthomas commented on #13228
@rfernandezv or anyone else having this error, could you please try @jnothman's solution and tell us if this solves the issue?

[2019-02-25 09:38] bellet commented on #8798
I can do this to warm myself up for the sprint

[2019-02-25 09:46] GaelVaroquaux commented on #13210
I think that this can be closed, as #11507 has been merged. No?

[2019-02-25 09:53] Abonia1 commented on #13055
@pchris24 Its better to have even sampling for each class. Avoid undersapling or oversampling

[2019-02-25 09:55] rth commented on #13210
Yes, but are we sure there are no other places in the code where higher level BLAS functions could be used? Someone could look for it..

[2019-02-25 09:57] GaelVaroquaux commented on #13210
Sounds right.

[2019-02-25 10:09] jorisvandenbossche commented on #12147
We will try to tackle this one during the sprints in Paris this week.

[2019-02-25 10:11] btel commented on #7752
this seems solved:

[code]

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/gaussian_process/gpr.py#L183

[2019-02-25 10:18] agramfort commented on #7752
true. Closing. Thx @btel

[2019-02-25 10:18] #7752 closed

[2019-02-25 10:19] glemaitre commented on #12750
@jeremiedbb What would be the reasoning for the case:

* `sparse='auto'` and `missing_values=0`. I assume that we will force the output to be dense then? If yes, we should document it.

[2019-02-25 10:22] btel commented on #12750
I will work on it!

[2019-02-25 10:35] psorianom commented on #13173
Hi ! I am in the sprint and I am taking this up.

[2019-02-25 10:49] jnothman commented on #6715
One of the big remaining issues IMO is the selection of appropriate data
for different estimators. And perhaps a convenient way to specify a series
of parameter settings to test with (esp. with meta-estimators), but at
least this can be done with explicit calling of check_estimator.

[2019-02-25 10:49] FelixNeutatz commented on #9603
@agramfort, it looks like this bug is extremely subtle. It is highly dependent on both scikit and numpy versions / configurations. I added another example for your numpy version + openblas on the current master (https://github.com/scikit-learn/scikit-learn/tree/f8b108d0c6f2f82b2dc4e32a6793f9d9ac9cf2f4). I hope this will finally help. Otherwise, I will setup a docker container ;)

[2019-02-25 10:57] christian-steinmeyer commented on #13228
For me, this seems to do the trick. My code didn't run through yet (total runtime is many hours), but so far no errors (which was the case before).

[2019-02-25 11:03] jnothman commented on #13228
Something can only be unpickled if it can be imported by name.

[2019-02-25 11:10] jeremiedbb commented on #12750
I think if the input is sparse and `missing_values=0` we should raise an error whether `sparse` is `"auto"` or not.

[2019-02-25 11:10] jnothman commented on #12750
@glemaitre, I think we can just raise an error if sparse data is passed in
with missing_values=0... this should happen irrespective of the sparse
param.

[2019-02-25 11:37] rth commented on #13036
More specifically, I can reproduce these errors,
[code]
but I just realized this was with master from 1 month ago. Will try to re-run with the lastest master.

[2019-02-25 11:40] #12611 closed

[2019-02-25 11:41] ngoix commented on #12040
working on this for the sprint. So to avoid arrays of shape `(n_samples, n_estimators)` in memory, we can either:
1) updating the average when going through the estimators which will decrease the in-memory shape down to `(n_samples,)`
2) chunk the samples row wise

We can also do both options I guess.
I'm not sure if 1) can be done easily though, looking into it.

[2019-02-25 11:46] jnothman commented on #13036
Your results aren't on master, are they @rth? `test_estimate_bandwidth_1sample` should be fixed.

[2019-02-25 12:51] rth commented on #13036
They weren't indeed (these were from 1 month ago), rerunning on master now..

[2019-02-25 13:06] tanayag opened #13244 "New Method for feature selection, involving f-score and mutual info-score"
In this article: https://scikit-learn.org/stable/auto_examples/feature_selection/plot_f_test_vs_mi.html
we can see the difference between the scores of both f test and mutual info, and where each of them perform better.
So, I was thinking would it not be a good approach to consider both the scores while selecting our features.

So, I took intersection based on both the scores, and only considered

[2019-02-25 13:19] #11962 closed

[2019-02-25 13:36] AdamMasquerades opened #13245 "Can't import sklearn"
#### Description
Failed to load DLL while importing arrayfuncs

#### Steps/Code to Reproduce

[code]

#### Expected Results

#### Actual Results
[code]

#### Versions
[code]

[2019-02-25 13:44] banilo opened #13247 "SimpleImputer: Add strategy="random_column""
This issue is to suggest a new option to the SimpleImputer(): For the missing values in a given column A_j, one could replace by random draws from the present value from that same column j. In comparison to the existing imputation strategies in SimpleImputer(), such "informed" approach does i) preserve some of the randomness that is present in the column instead of replacing by a constant and ii)

[2019-02-25 13:47] rth commented on #13036
Here are the tests failures on 64bit ARM on master,
[code]
this is with the latest numpy and numpydoc so there are some doctests failures that were not seen in the Debian builds.

[2019-02-25 13:55] #13247 closed

[2019-02-25 13:57] banilo commented on #13247
Looks like a duplicate of #11209

[2019-02-25 13:58] agramfort commented on #13244
I would say it's too specific to become a core object.

[2019-02-25 14:32] rth commented on #13049
@jnothman This one can be reproduced on ARM 64bit if it helps.

[2019-02-25 14:50] qinhanmin2014 commented on #12044
Can someone kindly summarize the discussion? ping @jnothman @adrinjalali @GaelVaroquaux

[2019-02-25 15:01] jnothman commented on #12044
Yes, just finishing up. I'll write up what we've resolved so you can review it, @qinhanmin2014. Just a moment.

@assiaben is going to be working on implementing some of the changes during the spring.

[2019-02-25 15:22] qinhanmin2014 commented on #12044
Thanks and sorry for not taking part in the discussion (and sorry for not replying your email in time).
I'm heading to bed and I'm busy tomorrow morning. Please start working directly if there's enough consensus.

[2019-02-25 15:29] amueller commented on #12986
FYI I just renamed the org to "scikit-learn" from "the-real-scikit-learn".

[2019-02-25 15:42] jnothman commented on #12044
Very sorry, got sidetracked.

This is what we have resolved:
1. OPTICS class will default to using the 'xi' method when `fit` or `fit_predict` is called.
2. The method will be selected with a `cluster_method` parameter.
3. The parameters of all available `cluster_method`s will be available in OPTICS
4. The cluster methods 'xi' and 'dbscan' will be available, 'sqlnk' will be removed as not certainl

[2019-02-25 15:43] amueller opened #13257 "GOV sent out pings for emeritus core devs."
Given that #12878 is merged I think we can now start asking inactive core-devs if they want to become emeritus.
Maybe we should start with those that didn't vote? Should I send out an email? Who should be cc-ed? The TC?

I was unable to find emails for:
Jarrod Millman
Angel Soler Gollonet

[2019-02-25 15:46] rth commented on #13245
Looks like scipy is not properly installed. Using conda might be an easier approach on Windows.

Closing as a usage question that might be more suitable for StackOverflow. We use Github for tracking issues and feature requests with scikit-learn.

[2019-02-25 15:46] #13245 closed

[2019-02-25 15:54] #8103 closed

[2019-02-25 15:55] qinhanmin2014 commented on #12044
great, I’m also considering removing sqlnk these days
I’m worring about 7, do you have any reference to assign labels in this way?

[2019-02-25 15:56] amueller commented on #12805
ping @thomasjpfan, the victim of all my "seems like a good idea" thoughts.

[2019-02-25 15:57] jnothman commented on #13244
There are a lot of useful things that we can't maintain in the core library. See https://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms

[2019-02-25 15:57] #13244 closed

[2019-02-25 15:58] rth opened #13258 "datasets/tests/test_svmlight_format.py:test_dump failure on ARM"
This issue was originally reported in https://github.com/scikit-learn/scikit-learn/issues/13036,

[code]
#### Versions

[code]

[2019-02-25 16:00] AlexanderFabisch commented on #13257
Hi, seems like I am a core dev but my last comment in an issue is from February 2017. Seems pretty inactive. :)

[2019-02-25 16:08] jnothman opened #13259 "load_sample_images should sort the results of os.listdir"
Other uses of `listdir` in scikit-learn sort its output to be independent of platform. `load_sample_images` should too.

[2019-02-25 16:11] rth commented on #13259
Checked earlier in https://github.com/scikit-learn/scikit-learn/pull/13250 -- there are no other uses unless I missed something.

[2019-02-25 16:27] jnothman opened #13261 "Document availability of nightly builds"
We recently enabled nightly builds to be deposited at http://nightly.scikit-learn.org (see https://github.com/MacPython/scikit-learn-wheels/pull/17#issuecomment-467075472).

The availability of these wheels, and how to install them, should be documented, perhaps in advanced_installation.rst

[2019-02-25 16:37] jnothman commented on #10113
I can't reproduce this issue at master actually. Running the code under "steps to reproduce" I get the expected results. Close?

[2019-02-25 16:52] albertcthomas commented on #13228
This should work with cloudpickle, maybe with the next release of joblib.

[2019-02-25 17:00] rth commented on #13258
In summary, what goes wrong is that we have an input dataset with a value of the order of 1e10 with `float32` dtype and we are casting it to `np.int32` where it overflows and wraps around. Now it turns out that on ARM,
[code]
returns a different value `2147483647` than,
[code]
which returns `-539222987` for that same index. I'm not sure why these are different but we should not have been doing suc

[2019-02-25 17:25] rth commented on #13050
Sorry couldn't find this issue and opened a duplicate issue in https://github.com/scikit-learn/scikit-learn/issues/13258

A fix is proposed in https://github.com/scikit-learn/scikit-learn/pull/13263

[2019-02-25 18:20] algat commented on #13205
Hi @akshatshreemali ,
I've reproduced the auc computation with R and python with your data and get identical AUC scores:

**In Python**
[code]
outputs:
[code]

**In R**
[code]
outputs:
[code]

It seems that you have inverted the arguments  in the R `roc` function. The first argument is your ground truth while the second is the predictions of your model.

[2019-02-25 18:59] Jwink3101 opened #13267 "Incorrect doc on GaussianProcessRegressor alpha (and example)"
The documentation for `GaussianProcessRegressor` says the following of the `alpha` parameter

Except, I believe this to be incorrect based on both the code and the algorithm (2.1 of Gaussian Processes for Machine Learning (GPML) by Rasmussen and Williams). The algorithm adds a noise term to the diag of the K matrix as does the GPML algorithm.

However, and here is where the documentation goes awry

[2019-02-25 22:38] espg commented on #12044
@jnothman I think that API summary looks good. For item 6, I'd recommend `compute_optics_graph`

[2019-02-25 23:53] dfilan commented on #6489
Have downloaded current scipy master. After running the above code with `'lobpcg'`, I get this error:
[code]

After running with `'amg'`, I get this error:
[code]

Interestingly enough, when running `scipy.test('full')`, only one test fails, and it's on code that tests `arpack`. However, the above code succeeds when using `arpack` as the eigenvalue solver.

[2019-02-26 00:53] dfilan commented on #6489
I also downloaded the branch that #11968 would merge from and using that with normal scipy. I get similar errors.

With `lobpcg'`:
[code]

With `amg`:
[code]

That being said, I'd appreciate somebody else checking - there's some chance that I messed up somewhere in the process of installing and uninstalling packages in virtual environments.

[2019-02-26 00:57] rfernandezv commented on #13228
I tried but I still get the same error.

[code]

Error:
[code]

Updated to version 0.13.2 (joblib) and still have the same error.
Only works for me with `n_jobs = 1`, no  `-1`

[2019-02-26 01:17] #13259 closed

[2019-02-26 01:20] lobpcg commented on #6489
"leading minor of of 'b' is not positive definite" is a possible, but somewhat uncommon and typically random error in lobpcg. There may be something special with your matrix that breaks lobpcg.

Could you please force in lobpcg the value verbosityLevel = 1 (the default is 0) and post the screen output for both lobpcg and amg tests? As I have done above Sept. 1 2018?

[2019-02-26 01:25] #13152 closed

[2019-02-26 01:38] cesinhaugusto commented on #13261
Hi guys. I'm new here and I'll be happy to help with this issue.

I'll just need I little guidance on how to best approach it.

[2019-02-26 02:13] dfilan commented on #6489
First: it looks like when I wrote my last comment, I hadn't actually downloaded the version of scikit-learn with the fixes in #11968. Furthermore, I'm having trouble forcing `verbosityLevel = 1`: when I go into `anaconda3/envs/nn_clustering/lib/python3.6/site-packages/scipy/sparse/linalg/eigen/lobpcg/lobpcg.py` and set that as default in the `lobpcg` function on line 124 (by making that change, sa

[2019-02-26 02:48] dfilan commented on #6489
Looks like I changed the wrong file in the above comment: have now successfully gotten verbose output to work. [Linked](https://pastebin.com/1yd97Aaw) is the 3330-line verbose output of the test with lobpcg. The output for amg is short enough to copy-paste here:
[code]

[2019-02-26 03:11] dfilan commented on #6489
Have run the tests with the normal version of scipy and the fixes to scikit-learn in #11968. [Linked](https://pastebin.com/DzcJvXQs) is the 3330-line output with lobpcg, and below is the output with amg:
[code]

[2019-02-26 06:56] rth commented on #13051
With the latest version on master we have the [`non_deterministic` estimator tag](https://github.com/scikit-learn/scikit-learn/blob/314686a65d543bd3b36d2af4b34ed23711991a57/sklearn/base.py#L561). We could set it to true for 32 bit arch or powerpc. How could we reloiably detect it?
[code]
looking at CPython [config.sub](https://github.com/python/cpython/blob/e42b705188271da108de42b55d9344642170aa2b

[2019-02-26 06:59] rth commented on #13051
From https://github.com/scikit-learn/scikit-learn/issues/12448#issuecomment-449929960,

Unless `platform.machine` is `"ppc64le"` hmm.

[2019-02-26 07:01] jnothman opened #13268 "reference SLEP and Governance in dev docs"
the Scikit-Learn Enhancement Proposal is mentioned in the recently merged Governance document (doc/governance.rst), but nowhere else I can see. The Governance doc is only mentioned in About. These are both things new contributors should be aware of. We should add:
* SLEP and Scikit-learn Enhancment Proposal entries to doc/glossary.rst
* mention of SLEP and the Governance documents to doc/developer

[2019-02-26 07:15] #8798 closed

[2019-02-26 07:26] rth commented on #13051
Actually, for KernelPCA this may have been fixed in https://github.com/scikit-learn/scikit-learn/pull/13241 -- not sure..

[2019-02-26 07:51] qinhanmin2014 commented on #12044
Who's going to finish it? @adrinjalali or someone else?
Do we need a branch to hold the OPTICS changes?

E.g., if there's a big cluster and a small cluster (e.g., (1, 10), (4, 5)), then all the points not in the small cluster (i.e., 1-3, 6-10) will be tagged as noise?

[2019-02-26 08:07] jnothman commented on #12044
Adrin is focusing on NOCATS, but Assia will get his/my mentorship on
#12087. I have found it hard to concentrate on any one thing at the sprint
so far... But I was very sleep deprived yesterday!

With small clusters and noise the idea is that the user needs to be guided
in how parameters control minimal cluster size.

[2019-02-26 08:18] qinhanmin2014 commented on #12044
Is it possible? This seems magical :)
And I guess you are not answering my question? My question is whether it's reasonable to assign labels in this way.

I'm surprised when I saw you editing the wiki in the late night. Wish you a good night's sleep!

[2019-02-26 08:55] jnothman commented on #13205
Closing. Reopen if you disagree, @akshatshreemali

[2019-02-26 08:55] #13205 closed

[2019-02-26 09:24] btel commented on #13232
I can reproduce the bug. Thanks for reporting. I will work on the fix.

[2019-02-26 09:31] jnothman commented on #12044
I think that the one I mean to review is actually #12077 (extract_xi). #12087 needs to be reshaped to match the above parameter names, functional design, etc.

Should we rename 'xi' to 'xi_steep'?

[2019-02-26 09:32] jnothman commented on #12044
Ahh... You see too much. I was awake a couple of hours in the night. Read a short story. Updated a wiki. Etc :)

[2019-02-26 09:43] qinhanmin2014 commented on #12044
Maybe we should settle the API first?

And another question @jnothman I guess we don't need the ``optics`` function since we're going to provide ``compute_optics_order`` + ``cluster_optics_{METHOD}``  right？

[2019-02-26 09:51] qinhanmin2014 commented on #12044
Both solutions are OK from my side.

[2019-02-26 09:51] #13049 closed

[2019-02-26 09:58] thegaribguy commented on #13268
Hi @jnothman , can I work on the above issue?